[2018-04-11 10:05] elyoh opened #17510 "Korean Lunisolar Calendar conversion table incorrectly mixes Julian and Gregorian date information"
The [Korean Lunisolar Calendar](https://github.com/dotnet/coreclr/blob/da8b7181dbe362fbfe64c7ef72ff3a4a7db68f24/src/mscorlib/shared/System/Globalization/KoreanLunisolarCalendar.cs) uses a table of data for conversion between Korean lunisolar dates and Gregorian dates.  The table contains a mixture of Julian and Gregorian date information, but should only contain Gregorian date information.

On suc

[2018-04-11 11:30] kasper3 commented on #17150
https://github.com/kasper3/coreclr/commit/edb45878f6915bf7443d74f7da2d17dd1dae5ac9
I am trying to test it but unable to do so using these steps https://github.com/dotnet/coreclr/blob/d1793d37564cf0bbcc5ace7c8f1a0ae0da40d9a5/Documentation/workflow/UsingYourBuild.md. Getting `Failed to initialize CoreCLR, HRESULT: 0x80131500` on Windows 10, after `dotnet2.1 publish -c release`, copying `coreclr.dll`

[2018-04-11 13:44] jkotas commented on #17510
cc @tarekgh

[2018-04-11 13:47] jkotas commented on #17499
The pointers in the allocation context are carefully setup to avoid any unnecessary operations. `alloc_ptr` has `+sizeof(ObjHeader)/sizeof(uint8_t)` included in it to shave the extra operation from every allocation.

[2018-04-11 16:30] jeffschwMSFT commented on #17448
@jp2masa can you share out your sample?  I tried a simple AssemblyLoadContext and was able to load multiple netstandard.dll's.

[2018-04-11 16:59] janvorli commented on #17150
@kasper3 are you building the sources from the same commit as the coreclr.dll that was published? That's the way I use for debugging stuff - build coreclr from the same commit, then copy all the files from coreclr\bin\Product\Windows_NT.x64.Release (or coreclr\bin\Product\Windows_NT.x64.Debug if I want to do debugging with unoptimized code)  to the folder where the official coreclr.dll was located

[2018-04-11 17:54] BruceForstall opened #17517 "[RyuJIT/arm32][GCStress=C] jaggedarr_cs_do.cmd failure"
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_gcstress0xc_tst/18/artifact/bin/tests/Windows_NT.arm.Checked/Smarty.run.0/Smarty.0.fail.smrt/*view*/
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_gcstress0xc_jitstress1_tst/16/artifact/bin/tests/Windows_NT.arm.Checked/Smarty.run.0/Smarty.0.fail.smrt/*vi

[2018-04-11 18:07] BruceForstall commented on #17517
The failure is in `ProcessJagged3DArray()`.

The issue appears to be that the JIT generates an illegal byref -- a byref pointer that does not point anywhere within the associated object. Thus, when a GC happens and the base object is moved, that byref is not updated, leaving it pointing to garbage.

We have an array object -- a gcref -- and need to generate an address expression for an element in

[2018-04-11 20:06] sywhang commented on #17493
Closing this issue as it should be fixed with #17482

[2018-04-11 20:06] #17493 closed

[2018-04-11 20:41] #17389 closed

[2018-04-11 20:49] noahfalk commented on #17343
Excellent, glad to hear it! Assuming that wraps this up I'm going to close the issue, but we can always open a new one (or re-open this one) if needed.

[2018-04-11 20:49] #17343 closed

[2018-04-11 20:59] sandreenko opened #17519 "[RyuJit] Allow TYP_BYREF folding."
Right now `ValueNumStore::VNForFunc` has such code:
https://github.com/dotnet/coreclr/blob/b800f37c504d30c25bda3bdf148966fa91d17381/src/jit/valuenum.cpp#L1100-L1105

but there are no reasons why we can't support it, it looks like we should just change this part:
https://github.com/dotnet/coreclr/blob/b800f37c504d30c25bda3bdf148966fa91d17381/src/jit/valuenum.cpp#L1812

From discussion in #17506 .

[2018-04-11 22:57] kphillisjr commented on #4332
@BruceForstall This issue should not have been closed yet. The ARM32 support is still incomplete. It's taking me a while to post a comment because I haft to gather the information to provide a decent update.

[2018-04-11 23:25] CarolEidt commented on #15886
My previous post was based on attempting to run GC stress under Windows Subsystem for Linux - as it turns out, *all* GC stress tests fail under WSL.
Additional attempts to repro this were unsuccessful, and recent runs do not show this as failing:
- https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_ubuntu_gcstress0xc_flow/78/
- https://ci.dot.net/job/dotnet_coreclr/job/

[2018-04-11 23:25] #15886 closed

[2018-04-11 23:43] tarekgh commented on #17510
@elyoh

I have used your link https://astro.kasi.re.kr:444/life/pageView/5 and queried the year 1391 and month 2 (Feb) then I got the following result:

양력 | 음력 | 음력간지
-- | -- | --
1391-02-05 (일) | 1391-01-01 | 신미(辛未)년 경인(庚寅)월 기축(己丑)일

which suggest (if I translated correctly) that Lunar date 1391-M1-D1 is equivalent to Gregorian date 1391 February 5th which match our current data. am I missing an

[2018-04-11 23:57] kphillisjr commented on #4332
I just finished getting a quick todo list for finishing this task. In general the VFP engine is backwards compatible with older models so the changes to the JIT code should be trivial at best. The following tasks should cover most of the popular ARM chips and also ensure that certain edge cases work as well.

- [ ] Expand the JIT VFP Code to handle Neon-less ARM Chips ( See following tasks). In ge

[2018-04-12 00:38] briansull commented on #17435
Fixed with #17464

[2018-04-12 00:38] #17435 closed

[2018-04-12 01:12] BruceForstall commented on #4332
This is a useful list to have, although perhaps it deserves its own "feature" issue, and not be part of a "Build Instructions" issue, which one would think covers simply how to build and run the source code.

The VFPv3-D16 question came up with https://github.com/dotnet/coreclr/issues/17043, also.

I haven't looked, but don't think the JIT currently generates NEON instructions. Given all the recen

[2018-04-12 01:14] BruceForstall commented on #17519
@sandreenko Can you give examples of what kind of expressions you think should be supported? We need to be very careful when optimizing byref-generating expressions, to ensure the result remains a valid byref, pointing within the base reference.

[2018-04-12 01:44] echesakovMSFT commented on #16963
Today together with @sandreenko we found that `__builtin___clear_cache(beg, end)` does not work correctly on Ubuntu arm if address range `[beg, end)` crosses the memory boundary `bnd` that is multiple of `0x100` (i.e. `bnd % 256 == 0`). When such conditions happens only instructions from `[beg, bnd)` got executed.

For example, I always see the issue happening after `DBG_FlushInstructionCache(lpBa

[2018-04-12 02:00] echesakovMSFT commented on #16963
This issue with `clearflush` reminds me about problem which Mono team had to deal with http://www.mono-project.com/news/2016/09/12/arm64-icache/
/cc @BruceForstall

[2018-04-12 03:16] BruceForstall commented on #16963
Wow, awesome debugging.

What does `__builtin___clear_cache` look like? And the library `__clear_cache`?

Is this a bug in clang/llvm or glib? Do they provide the implementation of `__builtin___clear_cache`?

The workaround LGTM if it fixes problems. Probably should be under `#ifdef _ARM_` (and have some good comments!) if we assume other platforms don't have this problem.

[2018-04-12 04:13] 316181444 commented on #17343
Yes. sure thing

[2018-04-12 04:19] 316181444 opened #17525 "[Question] Give a timeout to async socket on .net core (linux)"
How set a timeout for Socket.ConnectAsync, Socket.SendAsync, Socket.ReceveAsync APIs?

Thanks.

[2018-04-12 05:44] sdmaclea commented on #17178
I am in the process of reworking #17508.  The reworked patch fixes the hands as well as the exceptions in all the above tests.

[2018-04-12 06:10] kasper3 commented on #17150
@janvorli, with the following:

1. git clone coreclr and run `.\build.cmd`
2. download and extract https://dotnetcli.azureedge.net/dotnet/Sdk/master/dotnet-sdk-latest-win-x64.zip to dotnet21 directory
3. run `dotnet21\dotnet.exe new console -n mytest && cd mytest`
4. add DllImport code (with dll name having period) in Program.cs
5. run `dotnet21\dotnet.exe restore https://dotnet.myget.org/F/dotnet

[2018-04-12 06:37] sdmaclea commented on #17480
I h ave not attempted to manually reproduce.  They all occurred under heavy server load while running pr1 tests in gcStress0x2 on the server.  They reproduced 6 times before I opened this issue.  I looked and they reproduced last night as well.

[2018-04-12 08:48] elyoh commented on #17510
KASI uses Julian dates **not Gregorian dates** prior to lunar date 1582-M09-D18, so 1391-02-05 must be interpreted as a Julian date not a Gregorian one.

If you check the tables at [https://astro.kasi.re.kr:444/life/pageView/5](https://astro.kasi.re.kr:444/life/pageView/5) for year 1582 and month 10 and you will see the transition from Gregorian dates to Julian dates.

Julian | Gregorian | Lunar d

[2018-04-12 09:20] nanddonet opened #17527 "Initialize multiple variables in one line"
Currently if I do this:

`bool b1, b2= true; ` it works but if I do:

`var b1, b2= true;` it doesn´t.

Should be nice to allow the later so we don´t have to write 2 lines like:

`var b1= true;
 var b2= true;`

[2018-04-12 09:32] janvorli commented on #16963
@echesakovMSFT are you sure the boundary is 256? Is it possible that it is rather a cache line size or a memory page? Both cases would match your example above. And also, doesn't it happen only for the last block smaller than the granularity? Could you please try to just align the end address up to the next boundary (either 256 or 4096 bytes).

The cache flushing intrinsics just invokes a syscall,

[2018-04-12 09:40] gfoidl commented on #17527
This is a language feature-request, so yould should report this in https://github.com/dotnet/csharplang

1. Create the issue there
1. Link this issue in the new created issue
1. Close this issue

[2018-04-12 09:49] #17527 closed

[2018-04-12 09:54] gfoidl commented on #17527
Moved to https://github.com/dotnet/csharplang/issues/1456

Thanks!

[2018-04-12 09:55] janvorli commented on #17527
It doesn't work as you expect for the bool - it initializes just b2, the b1 is not initialized. So the reason why the var doesn't work is that there is nothing to infer the type of b1 from.

[2018-04-12 10:30] janvorli commented on #17396
I don't think it is an issue with unstable ICU since it happens intermittently.
I would like to understand the issue more. One way would be to loop through all the functions even in case of failures and log all the ones that we've failed to map. That way, we could see if the problem is that from some point, the dlopen starts to fail and so it is not recoverable or if it just randomly fails for som

[2018-04-12 13:54] philcarbone commented on #659
@danfma & @ghost - You each wrote:

@danfma

and @ghost

like you said; to achieve x-platform-ness.
Also, CoreFX is P/Invoking the System.Native libs and it is working out pretty well.

This was a while ago, but I'm wondering if anyone could provide guidance on wrapping .NET Core assemblies in other languages. We are building an SDK that calls some OData endpoints and has a bunch of helper functio

[2018-04-12 13:54] davidparker opened #17529 "unable to run after upgrading to .net 2.0 => 2.1 [terminating with uncaught exception of type EEFileLoadException*]"
# terminating with uncaught exception of type EEFileLoadException*

when in ( visual studio code [mac os x] ) I go debug -->  run
It never runs, everything fails with:  terminating with uncaught exception of type EEFileLoadException*

All I have done is upgraded 2.0 -> 2.1   changed launch.json  to the following:

"program": "${workspaceFolder}/bin/Debug/netcoreapp2.1/NetSo.dll",

Update nuget

re

[2018-04-12 14:16] philcarbone commented on #15163
Wondering if anyone could provide guidance on this:
https://github.com/dotnet/coreclr/issues/659#issuecomment-380813183

[2018-04-12 14:28] jp2masa commented on #17448
Here's a sample: https://gist.github.com/jp2masa/ea8f1260d9b08820671edb924b33c695
To make the sample simpler, I hardcoded the assembly path, so it assumes that `runtime.win-x86.Microsoft.NETCore.App` was restored at least once, and the packages path is the default one (`%userprofile%\.nuget\packages\`). Loading the `win-x64` version of `netstandard.dll` works fine.

[2018-04-12 14:38] janvorli commented on #17529
This looks like the #16438. Does your app happen to open a large number of file handles (which can also mean large number of network connections)? Can you try to run `lsof -r 1` in a console and watch if it dumps a huge number of file descriptors for your process when you attempt to start the app?
If you can publicly share your app, I could try to debug it for you.

[2018-04-12 14:43] denfromufa commented on #659
A bit off topic but for python <-> .net there is pythonnet interop library
which has working versions with .net core support, but not merged into
Master branch yet.

https://github.com/pythonnet/pythonnet/issues/96

On Thu, Apr 12, 2018, 8:55 AM philcarbone <notifications@github.com> wrote:

[2018-04-12 14:56] #16503 closed

[2018-04-12 15:33] jeffschwMSFT commented on #17150
@kasper3 that hr indicates that some exception was thrown during startup.  Can you run it under a debugger and see what the issue is?  In general the steps you ran are correct and should work.

[2018-04-12 15:40] jkotas commented on #17448
You are trying to load win-x86 (ie 32-bit) flavor of the assembly with native code on win-x64 (ie 64-bit runtime). It is expected that this is not going to work.

The assemblies in the runtime package contain native code, and so they can only be loaded in the matching runtime.

[2018-04-12 15:40] tarekgh commented on #17510
Thanks, @elyoh, this is very useful feedback.

How people usually use this calendar for the years prior 1582? I am asking because they may expect to have the Julian dates as what https://astro.kasi.re.kr:444/life/pageView/5 is showing?

Also, does the table hear title "양력" means Gregorian? I am asking because if this correct, then https://astro.kasi.re.kr:444/life/pageView/5 would be wrong to name

[2018-04-12 15:41] jkotas commented on #17448
We may want to look into throwing exception with more descriptive message if possible in this case.

[2018-04-12 15:49] RussKeldorph commented on #17525
This issue was moved to dotnet/corefx#29063

[2018-04-12 15:49] #17525 closed

[2018-04-12 15:52] jp2masa commented on #17448
I thought that the native assemblies were only the ones in "runtimes/win-x86/native/".
I need to load the runtime assemblies, but I don't actually need to use the types from there, so I need something like `Assembly.ReflectionOnlyLoadFrom`, what would be the best way to achieve it? Should I use `System.Reflection.Metadata` for this?

[2018-04-12 15:55] jkotas commented on #17448
Yes, `System.Reflection.Metadata` works for this case.

[2018-04-12 16:11] adiaaida commented on #17494
It looks like this is working again. Not sure what changed, but it's all back.

[2018-04-12 17:03] AlexGhiondea commented on #17478
@tianvan can you share the piece of code that shows this discrepancy? Is it simply calling `DateTime.Now`?

@tarekgh could you take a look at this?

[2018-04-12 17:11] echesakovMSFT commented on #16963
@janvorli This `256` was chosen experimentally. I think you are right it is more likely to be `0x1000`. I did more experiments to see when `SIGSEGV` happens. The block pointed by `r12` is the 5 instructions supposed to be executed and only first 2 of them got executed.

[code]

I am going to try use `PAGESIZE` as `dwStepSize` and also align up the end address as you suggested. Thank you!

Regardin

[2018-04-12 17:27] tarekgh commented on #17478
@tianvan what OS you are running on? what is your time zone setting there? and what is your default locale on the system? please provide more details.

[2018-04-12 17:29] echesakovMSFT commented on #16963
This is  Linux 3.10 version of `do_cache_op`
[code]

I am wondering why they do
[code]

[2018-04-12 17:36] echesakovMSFT commented on #16963
BTW, I think I see one more problem with `cacheflush` probably unrelated to this bug but related to PR #17342:
[code]
Last two shown `cacheflush`es are two calls of `ClrFlushInstructionCache` from `PEImageLayout::ApplyBaseRelocations`
/cc @jkotas

[2018-04-12 17:43] kasper3 commented on #17150
@jeffschwMSFT, tried debugging with Windbg, but not sure if this helps:

[code]

[code]

[2018-04-12 18:08] echesakovMSFT commented on #16963
And this is how `__do_cache_op` looks like in Linux 4.16
[code]

[2018-04-12 19:01] echesakovMSFT commented on #16963
@janvorli Just fyi, I tried aligning the end address up to `0x100` and `0x1000`. Neither did work which I think is expected (?) looking at `__do_cache_op` source code for my kernel version.

[2018-04-12 19:08] janvorli commented on #16963
The vma keeps records on virtual memory mappings. So it ensures that the flushing stays within a single virtual memory mapping range for some reason. I actually wonder if that is the root of the problem. If we were crossing the boundary of the mapping in the kernel due to any reason, it would trim the range we are trying to flush. Since the vm_start and vm_end have page granularity, it seems that

[2018-04-12 19:10] janvorli commented on #16963
Thanks for trying that, it was just an idea. Seeing the source of the function in your kernel, I would also expect it to not to work.

[2018-04-12 19:36] echesakovMSFT commented on #16963
@janvorli It seems that flushing the instruction cache in 4K ranges also works. This could much cheaper that flushing every 256 byte. Thanks!

I will try to see if this is true for all other tests that were failing before when CIs are back online.

[2018-04-12 20:04] #17470 closed

[2018-04-12 20:35] elyoh commented on #17510
My understanding is that 양력 means _solar calendar_.  As Julian and Gregorian are both solar calendars, this is OK for both.  Whilst the labelling is somewhat unclear, it is common place to switch calendars in this was.  For example the [USNO](http://aa.usno.navy.mil/data/docs/JulianDate.php) converter takes a day month and year input but treats it as Julian before 04 Oct 1582 and as Gregorian afte

[2018-04-12 20:39] janvorli commented on #17529
By public I have really meant if you can share it with me. So if you are ok with that, you can share the zip. You can send it or just a link to it to janvorli at Microsoft dot com.

[2018-04-12 21:11] davidparker commented on #17529
:-)   yep of course  sorry.    I have sent that through.   Just to update the thread.  the permissions was a separate issue, and fixing that does not resolve the bug.

[2018-04-12 22:44] luqunl commented on #17150
@kasper3, Could you try in a official version dotnet core?
 BTW, I have added a  DllImport into a exe testcase into https://github.com/dotnet/coreclr/pull/17505

[2018-04-12 22:59] sandreenko commented on #17519
For example for such tree:
[code]
compiler already known that `008622` and `008621` are constants and `008623` is add of the constants.
So `008623` can be transformed to `CNS_INT   byref 0x421164(0x421158 + 12)`
and after we will have smth like:
[code]

Note that `NOP` node is another our workaround that can be fixed as well, we add it in:
https://github.com/dotnet/coreclr/blob/6ac136e313826833b7f

[2018-04-12 23:05] #17398 closed

[2018-04-12 23:10] BruceForstall commented on #17519
hmmm... how can a `ref` type be a constant?

[2018-04-12 23:30] mikem8361 opened #17534 "The crossgen tool should accept Portable PDBs as input"
On Windows crossgen only accepts Windows PDBs as input when creating the crossgen PDB (/CreatePDB option).

[2018-04-13 00:36] echesakovMSFT commented on #12421
@mskvortsov @alpencolt I am trying to reproduce this issue on my Ubuntu arm machine and the test always passes. Is that still reproducible on your machine? If so, can you please give me the kernel version you running on?

[2018-04-13 00:42] davidparker commented on #17529
I found the issue.    So i add added SSL url to my launch.  and did everything step by step.   it is at SSL that it broke.   Sp Created a new dotnet new razor  to check files for changes and spotted this:

`services.AddMvc()..SetCompatibilityVersion(CompatibilityVersion.Version_2_1)`

once I added this extra nuget to my startup, it run and resolved the issue.

However this is of course a un-manage

[2018-04-13 00:56] tarekgh commented on #17510
@elyoh are you interested to submit a PR for fixing the calendar data? also, do you have a link to the calendar data in Calendrical Calculations or you were referring to the book?

[2018-04-13 03:34] sdmaclea commented on #17223
The delay of the the 'last' integration of master to release 2.1 to 4/13 was a win.

There are two Linux-arm64 PRs (#17508 #17536) which have not yet merged, but will resolve the major stability issues.

[2018-04-13 04:32] sandreenko commented on #16996
With cach flush fix [ubuntu arm32 Release job](https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_release_ubuntu_tst_prtest/7/consoleText) passed without rerunning:
[code]

[2018-04-13 04:42] BruceForstall commented on #16996
Nice! and all pri-1 under an hour!

[2018-04-13 05:39] tianvan commented on #17478
@tarekgh windows 10 64bit,default language chinese,just update nuget package to 2.1 preview,not install .not core 2.1 runtime

[2018-04-13 05:40] tianvan commented on #17478
@AlexGhiondea just call DateTime.Now

[2018-04-13 06:45] kasper3 commented on #17150
This is actually a breaking change

from https://msdn.microsoft.com/en-us/library/windows/desktop/ms684175.aspx

so @jkotas' example `[DllImport("mydll.dat")]` is working today, but won't work after this change as the other guy wants it to load `mydll.dat.dll`. It is not confined to .dll, .exe, .dat.. it could be any extension.  Even the overload of `DllImport` will not be elegant as we are alread

[2018-04-13 10:39] elyoh commented on #17510
I'd be happy to submit a PR and I was referring to the book [Calendrical Calculations](http://www.cambridge.org/gb/academic/subjects/computer-science/computing-general-interest/calendrical-calculations-ultimate-edition-4th-edition).

[2018-04-13 16:46] #17167 closed

[2018-04-13 16:48] sdmaclea commented on #17168
Fixed by #17536

[2018-04-13 16:49] sdmaclea commented on #17169
Fixed by #17536

[2018-04-13 16:49] #17169 closed

[2018-04-13 16:49] #17168 closed

[2018-04-13 17:10] jkotas commented on #17460
I do not think we want to start making Streams serializable for this corner case.

The workaround suggested in https://github.com/dotnet/wcf/issues/2307#issuecomment-379359370 seems reasonable to me.

[2018-04-13 17:12] jkotas commented on #17465
This issue was moved to dotnet/corefx#29095

[2018-04-13 17:12] #17465 closed

[2018-04-13 17:14] RussKeldorph commented on #17494
@adiaaida Does this need to be fixed in 2.1?

[2018-04-13 17:43] valenis opened #17544 "[Perf] Benchstone/BenchF/BenchMrk regression of ~15% on x86"
**[Perf] Benchstone/BenchF/BenchMrk regression of ~15% on x86**

Regression can be seen in Benchview - CoreCLR/Master branch between [commits](https://github.com/dotnet/coreclr/compare/0c9e96e1c2c484e7c80bf7f7a7765e6650cbdf73...dotnet:bd7493440cefe9cdfb3648de99178e208f8df5df). Orange dotted line is the Release v2.0 baseline.

![image](https://user-images.githubusercontent.com/19602715/38749646-392

[2018-04-13 17:45] valenis commented on #17544
@CarolEidt or @fiigii can you take a look?

[2018-04-13 17:49] valenis opened #17545 "[Perf] Benchstone/BenchI/AddArray improvement of ~8% on x86"
**[Perf] Benchstone/BenchI/AddArray improvement of ~8% on x86**

Improvement can be seen in Benchview - CoreCLR/Master branch between [commits](https://github.com/dotnet/coreclr/compare/099e24486977ef4930692aa2c122f572e3d09d01...dotnet:52be8c187c9edbaaa2c8a775800bedad112bc6c6). Orange dotted line is the Release v2.0 baseline.

![image](https://user-images.githubusercontent.com/19602715/38749963-3b

[2018-04-13 17:51] valenis commented on #17545
@CarolEidt can you confirm that this is due to the tuning of spill weights from [commits](https://github.com/dotnet/coreclr/compare/099e24486977ef4930692aa2c122f572e3d09d01...dotnet:52be8c187c9edbaaa2c8a775800bedad112bc6c6)?

[2018-04-13 17:56] valenis opened #17547 "[Perf] Benchstone/BenchI/BenchE improvement of ~5% on x86"
**[Perf] Benchstone/BenchI/AddArray improvement of ~5% on x86**

Improvement can be seen in Benchview - CoreCLR/Master branch between [commits](https://github.com/dotnet/coreclr/compare/367d9b1dd1b542f3d391d0b9111d5914602db2d9...dotnet:312e4486adc4eb8062caa67d4aa9be5411524996). Orange dotted line is the Release v2.0 baseline.

![image](https://user-images.githubusercontent.com/19602715/38750257-42

[2018-04-13 18:03] valenis opened #17548 "[Perf] ByteMark/BenchEmFloatClass improvement of ~3% on x86"
**[Perf] ByteMark/BenchEmFloatClass improvement of ~3% on x86**

Improvement can be seen in Benchview - CoreCLR/Master branch between [commits](https://github.com/dotnet/coreclr/compare/89e85cfff719bc743ad53fdc702b0379c5286087...dotnet:e45a895df6b4cc50347daafed05cefa59af511a2). Orange dotted line is the Release v2.0 baseline.

![image](https://user-images.githubusercontent.com/19602715/38750595-48

[2018-04-13 18:31] janvorli commented on #17529
Using the code you've sent me, I can repro the issue. Although you have found a fix, I want to understand the real culprit. I am looking into it.

[2018-04-13 18:31] tarekgh commented on #17478
@tianvan does your time zone setting is configured to be China time zone? I'll take a look anyway.

[2018-04-13 18:37] davidparker commented on #17529
Yeah feel free.   You would expect it to default to highest version if no
compatibility versiOn is specified.  Or.   Run the version I have set in
startup.

On Fri, 13 Apr 2018 at 19:32, Jan Vorlicek <notifications@github.com> wrote:

[2018-04-13 18:39] valenis opened #17552 "[Perf] SIMD/RayTracerBench regression of ~7% on x86"
**[Perf] SIMD/RayTracerBench regression of ~7% on x86**

Regression can be seen in Benchview - CoreCLR/Master branch between [commits](https://github.com/dotnet/coreclr/compare/0c9e96e1c2c484e7c80bf7f7a7765e6650cbdf73...dotnet:bd7493440cefe9cdfb3648de99178e208f8df5df). Orange dotted line is the Release v2.0 baseline.

![image](https://user-images.githubusercontent.com/19602715/38752109-e943cca6-3f

[2018-04-13 18:40] valenis commented on #17552
Looks like the same issue affecting #17544

[2018-04-13 18:40] Tornhoof opened #17553 "Default NumberStyle in float.Parse and double.Parse is Integer for Span"
The default NumberStyle in ``float.Parse`` and ``double.Parse`` is ``NumberStyle.Integer`` for Span.
https://github.com/dotnet/coreclr/blob/bc28740cd5f0533655f347fc315f6a28836a7efe/src/mscorlib/shared/System/Double.cs#L300-L304
https://github.com/dotnet/coreclr/blob/bc28740cd5f0533655f347fc315f6a28836a7efe/src/mscorlib/shared/System/Single.cs#L291-L295

I don't think this is correct. It breaks def

[2018-04-13 18:42] valenis commented on #17544
Yes, this only affects 32-bit x86 platform.

[2018-04-13 18:56] valenis opened #17554 "[Perf] Span/IndexerBench/KnownSizeArray(length:1024) regression of ~277% on x86"
**[Perf] Span/IndexerBench/KnownSizeArray(length:1024) regression of ~277% on x86**

Regression can be seen in Benchview - CoreCLR/Master branch from [commit](https://github.com/dotnet/coreclr/compare/94ab205d5545699a49cc54d72e9d3d07a454f10a...dotnet:4456cc99ba0fbe3c02be3a9f54c34282caeb7218). Orange dotted line is the Release v2.0 baseline. This is affecting x86 only.

![image](https://user-images

[2018-04-13 19:15] mconnew commented on #17460
@jkotas, this is a dangerous behavior difference between .Net Core and the full framework because the failure is silent. If you have a MemoryStream as part of data which you wish to serialize, you might legitimately have a case where the deserialized MemoryStream contains no data. There's no way for code to know whether the MemoryStream being empty is legitimate or not without directly examining t

[2018-04-13 19:25] ahsonkhan commented on #17554
**Locally:**
x64 - 557 ms
x86 - 2000 ms

[2018-04-13 19:31] kasper3 commented on #3089
@sdmaclea, please correct me, but this seems to be fixed in release/2.1 (and master)?

[2018-04-13 19:38] ahsonkhan commented on #17554
cc @dotnet/jit-contrib

[2018-04-13 19:40] adiaaida commented on #17494
Yes, it appears this is an issue in the 2.1 branch as well. I'm wondering if it is actually a machine issue, rather than a test issue, since @adamsitnik can't repro it.

[2018-04-13 20:13] RussKeldorph commented on #12421
@kbaladurin @okodron Are you guys able to repro this?

[2018-04-13 20:51] janvorli commented on #17529
So the real culprit due to which it fails is an error:
FUSION_E_REF_DEF_MISMATCH for file "Newtonsoft.Json, Version=11.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed".
The error means that the runtime tried to load a different version of the assembly than the version of the reference assembly that was used during the build.

This looked strange since your NetSo.csproj doesn't reference th

[2018-04-13 21:01] janvorli commented on #15309
Closing this issue as the tests failing due to the long running time were disabled for gcstress and the issue with invalid lock rank was addressed.

[2018-04-13 21:01] #15309 closed

[2018-04-13 21:01] davidparker commented on #17529
Nice find.   Yeah newtonsoft is build in now I think.   Just like with
azure functions etc.  It actually plays Havok all over the ms stack.  It
would probably be good to just add this to the release paper.  Mainly for
people using vscode etc  could you tell me how you got vscode.  To output
that error.   So in future I can better debug issues like this myself?
Really loving how much cross platform

[2018-04-13 21:09] sdmaclea commented on #3089
I am not familiar with these tests.  If they are not disabled, they are passing.  I can look.

[2018-04-13 21:10] janvorli commented on #17529
To get this error, one needs to go really low level. Since the issue comes from the native part of the runtime, you need to use lldb. I have actually rebuilt the runtime in debug version so that I can see all the parameters and locals in the native code that are otherwise optimized out.
This exception would normally surface in your managed code, but unfortunately, the exception handling needed to

[2018-04-13 21:12] briansull commented on #3089
Use a full Debug build to be sure.

[2018-04-13 21:14] davidparker commented on #17529
Argh okay no probs.   As a site note though.   Kinda passing thought.
Shouldn’t the new.  Be able to run the old  or is 2.1 a breaking change?

On Fri, 13 Apr 2018 at 22:11, Jan Vorlicek <notifications@github.com> wrote:

[2018-04-13 21:25] RussKeldorph commented on #17494
@valenis Do you have someone to assign to this?

[2018-04-13 21:29] erozenfeld opened #17557 "Failures in x64_checked_windows_nt_corefx_jitstress1 jobs"
We get the following failures in  x64_checked_windows_nt_corefx_jitstress1 jobs (e.g., https://ci.dot.net/job/dotnet_coreclr/job/master/view/Windows_NT/job/jitstress/job/x64_checked_windows_nt_corefx_jitstress1/lastBuild/consoleText)

[code]
[code]
[code]

[2018-04-13 21:32] RussKeldorph commented on #17557
@erozenfeld Do you know if these fail in the same way with a Debug runtime?  I assume they don't fail with Release or else we'd see it in dotnet/corefx.

[2018-04-13 21:33] RussKeldorph commented on #17557
Oops, nevermind....I missed that this is jitstress

[2018-04-13 21:54] elyoh commented on #17510
I see.  We calculated 2229155.5 for all three dates.  Apologies that wasn't clear. In the third edition, we would have used:

**fixed-from-gregorian** (function 2.17 with day=13, month=2, year=1391)
**fixed-from-julian** (function 3.3, with day=5, month=2, year=1391)
**fixed-from-chinese** (function 17.17 with cycle=68, year=8, month=1, leap-month=false, day=1) with the **korean-location** (functi

[2018-04-13 22:42] sdmaclea commented on #3089
I almost never run debug, only checked.  Thanks for the warning.

[2018-04-13 22:44] erozenfeld commented on #17557
The last 2 failures also happen in x64_checked_windows_nt_corefx_jitstress2 jobs, e.g., https://ci.dot.net/job/dotnet_coreclr/job/master/view/Windows_NT/job/jitstress/job/x64_checked_windows_nt_corefx_jitstress2/484/consoleText

[2018-04-13 22:48] erozenfeld opened #17558 "JitStress=2 failure in corefx System.Diagnostics.StackTrace.Tests"
We get the following failure in x64_checked_windows_nt_corefx_jitstress2 jobs (e.g., https://ci.dot.net/job/dotnet_coreclr/job/master/view/Windows_NT/job/jitstress/job/x64_checked_windows_nt_corefx_jitstress2/484/consoleText)

[code]

Two other failures from that run are the same as in #17557.

[2018-04-13 22:59] stephentoub commented on #17553
Thanks for reporting this.

[2018-04-13 23:17] fiigii commented on #17544
Will be fixed by https://github.com/dotnet/coreclr/pull/17560

[2018-04-13 23:43] CarolEidt commented on #14523
Another factor to consider is how to deal with the instruction "classes" that are treated like a single instruction by the code generator, and ideally would continue to be so, but that have different behaviors that need to be handled for the various ISAs (e.g. SSE vs. AVX), as well as when they have a memory operand. The current `emitter::IsDstDstSrcAVXInstruction()` and `emitter::IsDstSrcSrcAVXIn

[2018-04-13 23:56] ahsonkhan commented on #17554
This is perplexing.
There is no performance regression in Version 2 or 3, only Version 1.

Version 1: ~1950 ms
Version 2: ~550 ms
Version 3: ~550 ms

**Version 1 (start the stopwatch after declaring span):**
[code]
**Version 2 (start the stopwatch before declaring span, presumably more work, since we have a ctor call):**
[code]
**Version 3 (do the setup and timing before the method call):**
[code]

[2018-04-14 00:16] erozenfeld commented on #17554
Can you share the disassembly form Version 1 and Version 2?

[2018-04-14 00:24] ahsonkhan commented on #17554
**Version 1:**
05A121E0  push        ebp
05A121E1  mov         ebp,esp
05A121E3  push        edi
05A121E4  push        esi
05A121E5  push        ebx
05A121E6  sub         esp,28h
05A121E9  mov         esi,ecx
05A121EB  mov         ecx,30AB3344h
05A121F0  mov         edx,400h
05A121F5  call        02DE3214
05A121FA  mov         edi,eax
05A121FC  mov         ecx,30ACBF5Ch
05A12201  call        02DE3

[2018-04-14 00:55] jkotas commented on #17554
The slow version has extra register stack spill:

Inner loop - slow:
[code]

Inner loop - fast:
[code]

[2018-04-14 01:08] ahsonkhan commented on #17554
And changing the Span ctor to include a this assignment and return statement causes it? How come?
[code]
vs before
[code]

[2018-04-14 02:06] erozenfeld commented on #17554
I will look into this on Monday.

[2018-04-14 03:26] noahfalk commented on #17494
FWIW, here is a WIP commit that does most of what is necessary to get rid of CreateStore. It can either use the ASP.NET that would come by default in more recent versions of the SDK, or you can set an exact version to get it to line up with a specific CoreFX you want to use.

https://github.com/noahfalk/coreclr/tree/avoid_createstore

[2018-04-14 06:24] sdmaclea opened #17563 "Optimize ThreadPool WorkStealingQueue"
While analyzing for #17508, it became apparent that the use of `volatile` in `WorkStealingQueue` was negatively impacting performance

For example `LocalPop()`
+ makes two volatile reads in its early out case.  Only one is required
+ makes seven volatile reads in its fast path.  Only three are required

`LocalPush()` has similar issues.

`CanSteal` is making two volatile reads.  Packing head/tail

[2018-04-14 06:29] sdmaclea opened #17564 "[Arm64] Harder Acquire Release cases"
#12087 implemented the simplest volatile cases as loadAcquire and storeRelease.  There is room for a more complete set to be implemented.  Signed load cases is one example.

[2018-04-14 07:24] #17449 closed

[2018-04-14 07:26] echesakovMSFT commented on #16963
Closed with #17523
Thanks everyone for the help

[2018-04-14 07:26] #16963 closed

[2018-04-14 07:49] echesakovMSFT opened #17565 "[Linux/arm] Crossgen SlowTailCallArgs assert failure"
Fails here [Ubuntu arm Cross Checked r2r Build and Test](https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_checked_ubuntu_r2r_tst_prtest/2/consoleText) with the following output
[code]

[2018-04-14 08:01] echesakovMSFT commented on #16996
Closed in #17523

[2018-04-14 08:01] #16996 closed

[2018-04-14 08:01] echesakovMSFT commented on #16995
Closed in #17523

[2018-04-14 08:01] #16995 closed

[2018-04-14 08:09] Tornhoof opened #17566 "Suprising sliced ReadOnlySpan Equality with strings"
If a ``ReadOnlySpan`` is sliced the it does not equal an "equal" (in sense of char by char) string anymore, but for an unsliced ``ReadOnlySpan`` it does equal it.
As ``Slice`` can be used for ``SubString``, like described in @stephentoub's article https://msdn.microsoft.com/en-us/magazine/mt814808.aspx this is a bit unexpected.

Repro
[code]
The output is:
[code]
<details>

[code]
</details>

[2018-04-14 12:35] kasper3 commented on #16963
@janvorli, I showed the line of code from release_60 branch, that the mono link shared by @BruceForstall  was pointing to. Both point to aarch64 block.

There is actually a difference (release_60 is green)

[code]

[2018-04-14 14:26] RussKeldorph commented on #17563
@kouvel

[2018-04-14 14:30] RussKeldorph commented on #17566
@ahsonkhan

[2018-04-14 14:34] stephentoub commented on #17566
operator== on span checks to see if it points to the same exact memory with the same length, as commented here:
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Span.Fast.cs#L277-L284
It does not check to see whether different memory has the same contents.  For that you can use SequenceEquals, or you can use the extension Equals method like https://github.com/dotnet/coreclr

[2018-04-14 14:57] Tornhoof commented on #17566
Yeah, I'm using SequenceEquals, but I don't think the current behaviour is useful, in my opinion the Equals for string should either always work correctly or should not be implemented at all or always throw.

[2018-04-14 15:02] stephentoub commented on #17566
Yes, and == is implemented, it just doesn't have the semantics you want it to have.  We had many discussions about what the semantics of == should be.  For better or worse, they're what they are and aren't going to change at this point.

[2018-04-14 15:04] CarolEidt opened #17568 "Revisit the handling of SIMD types during crossgen"
See the comments on PR #17543.

During crossgen, the JIT sets `featureSIMD` to false but continues to generate code for calls to fixed-size SIMD types. While this is correct, it means that any use of these types in crossgen'd code is quite inefficient.

On x86/x64 this may have some actual benefit due to the fact that we don't know whether the JIT'd code that is generated at runtime will use AVX o

[2018-04-14 15:12] Tornhoof commented on #17566
Ok, then it's time for a roslyn analyzer. Anyway do you know why the comment does not show up in Intellisense?

[2018-04-14 15:15] svick commented on #17566
@Tornhoof

There is no `operator ==` for `ReadOnlySpan<char>` and `string`. There is `operator ==` for two `ReadOnlySpan<T>` and there is also an implicit conversion from `string` to `ReadOnlySpan<char>`. Put together, the effect is that you can use `==` to compare `ReadOnlySpan<char>` and `string`, but it's not something that can be removed on its own.

[2018-04-14 15:29] Tornhoof commented on #17566
Why? If that's the only problem, implement ==/!= for string, it should take the equality operators before the implicit cast.
[code]

[2018-04-14 15:57] echesakovMSFT commented on #17565
[code]

[2018-04-14 18:03] BruceForstall opened #17570 "Windows ARM32 GCStress=0xc failures in baseservices\threading\generics\WaitCallback thread tests"
The `baseservices\threading\generics\WaitCallback` thread tests consistently fail in Windows ARM32 GCStress=0xc runs, although it is not always the same set of tests which fail (there are many different "thread" tests). E.g.:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_gcstress0xc_tst_prtest/16/artifact/bin/tests/Windows_NT.arm.Checked/Smarty.ru

[2018-04-14 18:07] BruceForstall commented on #17241
Current status: GCStress for Ubuntu ARM currently runs. The GCStress jobs are available for triggering in the CI.

However, no triggered job has ever successfully completed, due to timeouts or other issues. I'm keeping this issue open until that happens.

[2018-04-14 18:11] #17517 closed

[2018-04-14 18:13] BruceForstall opened #17571 "Enable `FEATURE_PREVENT_BAD_BYREFS` for all platforms, and remove ifdefs"
https://github.com/dotnet/coreclr/pull/17524 introduced the `FEATURE_PREVENT_BAD_BYREFS`, but only for `_TARGET_ARM_`, to avoid perturbing other platforms for .NET Core 2.1.

Remove this `#ifdef` and make the code all-platform, after testing all platforms and investigating the (significant number of) asm diffs.

[2018-04-14 21:35] BruceForstall opened #17572 "[arm32/Ubuntu] Enable R2R jobs as periodic/cron jobs"
The Ubuntu arm32 R2R jobs exist, but are not scheduled periodically. Now that they work, they should be added to the set of periodic jobs.

[2018-04-14 22:00] BruceForstall opened #17573 "[arm64] Assertion failed '(candidates & allRegs(srcInterval->registerType)) != 0'"
x64_arm64_altjit job failures:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64_arm64_altjit/job/jitstress/job/x64_arm64_altjit_checked_windows_nt_jitstress1/
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64_arm64_altjit/job/jitstress/job/x64_arm64_altjit_checked_windows_nt_jitstress2/

[code]

[2018-04-14 22:01] BruceForstall commented on #17573
@sdmaclea @dotnet/arm64-contrib

[2018-04-14 22:05] BruceForstall commented on #17573
In minopts, it fails with a different assert:

Assertion failed '(consume > 1) || (regType(store->gtOp1->TypeGet()) == regType(store->TypeGet()))'

https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64_arm64_altjit/job/jitstress/job/x64_arm64_altjit_checked_windows_nt_minopts/157/consoleFull#159614762933fe3402-0c0f-45a7-a707-47164965bab5

[code]

[2018-04-14 22:11] BruceForstall opened #17574 "[arm64] Assertion failed 'varDsc->lvOnFrame && !varDsc->lvRegister'"
x64_arm64_altjit corefx assertion:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64_arm64_altjit/job/jitstress/job/x64_arm64_altjit_checked_windows_nt_corefx_baseline/157/consoleFull#-102414311f66db340-b3cd-4e23-8190-9b52cb916333

[code]

also: https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64_arm64_altjit/job/jitstress/job/x64_arm64_altjit_checked_windows_nt_corefx_jitstress2/15

[2018-04-14 22:11] BruceForstall commented on #17574
@sdmaclea @dotnet/arm64-contrib

[2018-04-15 01:12] sdmaclea commented on #17574
This is a duplicate of #16377

[2018-04-15 01:15] sdmaclea commented on #17573
The minopts jitStress ones are duplicates of #17111

@debayang started looking at some of these last week.

[2018-04-15 01:24] sdmaclea commented on #3089
I don't see tests with exactly those names.
I do see
[code]
If I use the above to translate the names to
[code]

Both of those tests have passed on linux-arm64 debug build today.  I have never seen them fail.

I think this can safely be closed.

[2018-04-15 07:27] kasper3 commented on #6341
Decided and fixed https://github.com/dotnet/core-setup/issues/3987
@sdmaclea, @eerhardt

[2018-04-15 07:29] kasper3 commented on #6273
Yes please!

[2018-04-15 08:52] vectorix opened #17576 "Port JIT and GC to C#"
Is it possible?

[2018-04-15 09:32] mikedn commented on #17576
Anything's possible... if you're willing to invest months and years of work into it.

[2018-04-15 11:53] stephentoub commented on #17553
Fixed by https://github.com/dotnet/corefx/pull/29099 and https://github.com/dotnet/coreclr/pull/17556

[2018-04-15 11:53] #17553 closed

[2018-04-15 12:49] Suchiman commented on #17576
@vectorix see http://xoofx.com/blog/2018/04/12/writing-managed-jit-in-csharp-with-coreclr/

[2018-04-15 15:04] jkotas commented on #17576
Porting JIT or GC to C# would cost man-years for sure. What would we get in return? Efforts like these need to have positive return of investment.

Note that we are porting more CoreCLR code from C++ to C# in places where we get a clear positive ROI. For example, majority of number parsing/formatting code was done ported from C++ and C# for 2.1 release. This port both improved performance and made

[2018-04-15 15:49] #17574 closed

[2018-04-15 15:50] BruceForstall commented on #17573
Closing as dup

[2018-04-15 15:50] #17573 closed

[2018-04-15 20:11] ww898 commented on #16274
We collect statistics about field resolving. I promise to make the report about that.

Well, could you please add the markers for virtual references in `ICorProfilerCallback`? I need to know that the reference to `LoaderAllocator` is virtual. I have the list of classes where the reference to `LoaderAllocator` isn't virtual. How can I understand after CLR/CoreCLR update that I have to add the new t

[2018-04-15 21:36] #14346 closed

[2018-04-16 05:59] tianvan commented on #17478
@tarekgh [
![tim 20180416135540](https://user-images.githubusercontent.com/10600430/38792108-fd21c40a-417d-11e8-8bee-39e3b9b1d067.png)
](url)

I didn't change any code,today i run it,i seems to be right

[2018-04-16 06:03] tianvan commented on #17478
@tarekgh razor code
[code]

[2018-04-16 08:35] noahfalk commented on #17494
Sorry somehow I started thinking this was a different issue, but obviously its the same NuGet symptom as before. I still think that it is likely a machine/network issue (albeit not a transient one), and I don't think eliminating CreateStore will workaround it. The same nuget task will just get invoked during build and presumably fail there instead. If we have a way to reimage the machine, or run t

[2018-04-16 09:16] mattwarren commented on #17576
Out of interest, is it technically possible to port *all* of the JIT and GC to C#? (leaving aside the question of whether it's a good idea or not). Are there any parts that would still have to drop down to assembly/C/C++ because it's not possible to write them in C# or is C# a broad enough language that is gives you enough low-level functionality?

As a follow-up, does the same apply to the entire

[2018-04-16 10:49] mikedn commented on #17576
I don't see any technical reasons that would prevent writing a JIT entirely in managed code. It has to read IL and spit out machine code, you can do that in any language you want, even in JavaScript. You'll likely run into performance issues but that's another story.

Of course, you'll inevitably run into a chicken & egg problem - who's JITing the JIT? There are various options - including using C

[2018-04-16 11:08] adamsitnik commented on #17494
I can't repo it and I am using a totally different network (I work remotely from Poland).

As I said previously we should try `dotnet restore --ignore-failed-sources` before running `dotnet store` to see if it helps.

[2018-04-16 13:33] RussKeldorph commented on #17565
@sergiy-k @janvorli @nattress Could you take a look?

[2018-04-16 13:52] jkotas commented on #17576
The usual way to cheat on these are compiler/JIT intrinsics. You make it produce code that you need to avoid need to write direct assembly. It is often harder to maintain such code than direct assembly, but it makes you pure.

[2018-04-16 15:53] yuleyule66 commented on #15375
Will the EventPipe Tracing API be released in 2.1 ?

[2018-04-16 15:54] tarekgh commented on #17478
@tianvan

I think I am kind of understanding what was wrong from your side. When you are doing

[code]

This depends on the CurrentCulture and what calendar is selected with that culture. from the original bitmap image you posted, it looks to me the date is coming in Hijri (i.e. you have been using a culture which selected either the HijriCalendar or UmAlQuraCalendar) and that is the reason you we

[2018-04-16 15:54] #17478 closed

[2018-04-16 16:12] MartinJohns commented on #7957
Stumbled over exactly this issue the last days. 🙁 Really thought it would work, and it would have been a nice complement to the new `System.Memory<T>` type.

[2018-04-16 17:05] BruceForstall opened #17582 "[arm32/Windows] Hang in corefx Microsoft.Win32.SystemEvents.Tests"
Many arm32 Windows corefx jobs in the CI are hanging, apparently on Microsoft.Win32.SystemEvents.Tests, e.g.:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_baseline_tst/11/console
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_jitstress1_tst/11/console
https://ci.dot.

[2018-04-16 17:11] BruceForstall opened #17583 "Failure in corefx System.Diagnostics.StackTrace.Tests"
Consistent failure in COMPlus_JitStress=2 runs of corefx tests, in System.Diagnostics.StackTrace.Tests:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_jitstress2_tst/10/consoleText

[code]

[2018-04-16 17:14] BruceForstall opened #17584 "[arm32/Windows] Test Failed: Failure in corefx System.Net.HttpListener.Tests"
Consistent failure in Windows arm32 corefx System.Net.HttpListener.Tests with COMPlus_JitStress=2:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_jitstress2_tst/10/consoleText

[code]

[2018-04-16 17:17] BruceForstall opened #17585 "[arm32] Assert failure: ExecutionManager::IsManagedCode(adrRedirectedIP)"
Consistent failure in Windows arm32 corefx test System.Runtime.Tests with COMPlus_JitStress=2:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_jitstress2_tst/10/consoleText

[code]

[2018-04-16 17:25] bobuva commented on #3894
@noahfalk I have a profiler that injects IL into some methods so that they can call into my managed assembly. Since my assembly is in the GAC, it works fine for .NET Framework, but when I tried it in .NET Core, the assembly could not be found. I'm not sure what you meant by

as regards this issue, but I would be willing to work with you on finding a reliable way for the runtime to provide support

[2018-04-16 17:28] BruceForstall commented on #17570
It seems like MinOpts + HeapVerify causes even more failures, on average:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_gcstress0xc_minopts_heapverify1_tst/19/artifact/bin/tests/Windows_NT.arm.Checked/Smarty.run.0/Smarty.0.fail.smrt/*view*/

[2018-04-16 17:50] bobuva opened #17587 ".NET Core assembly cannot be found when assembly loaded through dynamic IL injected-code"
I have a profiler that injects IL into some methods so that they can call into my managed assembly. Since my assembly is in the GAC, it works fine for .NET Framework, but when I tried it in .NET Core, the assembly could not be found. Although this may be a duplicate of https://github.com/dotnet/coreclr/issues/3894, I would like to hear what you think are the best options for accomplishing this ass

[2018-04-16 17:53] BruceForstall opened #17588 "[arm32/Ubuntu] Failures in R2R JitStressRegs3"
These may occur in the baseline, but I haven't seen results there due to infrastructure issues.

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_ubuntu_r2r_jitstressregs3_tst/2/consoleText

Tests:
[code]

Failures:
[code]

[2018-04-16 18:06] tarekgh commented on #17510
This is fixed by @elyoh linked PR. Thanks @elyoh

[2018-04-16 18:06] #17510 closed

[2018-04-16 18:12] BruceForstall commented on #17558
Also seen on arm: https://github.com/dotnet/coreclr/issues/17583

[2018-04-16 18:27] tarekgh commented on #17393
@eerhardt

The problem here is Iran time zone is using the Julian date format ```<+0330>-3:30<+0430>,J80/0,J264/0``` and we are throwing in this case according to the comment on the code

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/TimeZoneInfo.Unix.cs#L1171

Why we are not getting the month and day value from the Julian date and creating a fixed date rule with these v

[2018-04-16 18:28] kouvel opened #17591 "[Arm64] Interlocked operations in the runtime need an additional memory barrier"
The issue is explained in the discussion of PR https://github.com/dotnet/coreclr/pull/17508:
- https://github.com/dotnet/coreclr/pull/17508#issuecomment-381305227
- https://github.com/dotnet/coreclr/pull/17508#issuecomment-381405138

The extra memory barrier is necessary to guarantee that the store from the interlocked operation occurs before a load following the interlocked operation.

https://gi

[2018-04-16 18:30] kouvel commented on #17178
@sdmaclea can this be closed (fixed by https://github.com/dotnet/coreclr/pull/17567)?

[2018-04-16 18:31] sdmaclea commented on #16377
Running System.ValueTuple.Tests one test case at a time only one test case is failing in release.
`System.Tests.ValueTupleTests.LongTuplesWithNull`

[2018-04-16 18:33] sdmaclea commented on #17178
Fixed by #17567

[2018-04-16 18:33] #17178 closed

[2018-04-16 18:34] sdmaclea commented on #17410
#17414 consolidates these performance issues in checked

[2018-04-16 18:34] #17410 closed

[2018-04-16 18:46] briansull commented on #17557
I need repro instructions

[2018-04-16 19:35] erozenfeld commented on #17557
You can replicate the build and test steps from a failing log: https://ci.dot.net/job/dotnet_coreclr/job/master/view/Windows_NT/job/jitstress/job/x64_checked_windows_nt_corefx_jitstress1/lastBuild/consoleText

[2018-04-16 19:37] kouvel commented on #17591
Code generated by clang3-9 targeting arm64:

[code]

[code]

It looks like the issue is not there when targeting arm32 (there is a `dmb` between every store of `x` and load of `g`). Code generated by clang3-9 targeting arm32:

[code]

[2018-04-16 19:40] ahsonkhan commented on #17566
What do we need to do to get xml comments to show up on Intellisense?

cc @weshaggard, @mairaw

[2018-04-16 20:12] brianrob commented on #15375
@yuleyule66, no this is not going to be released in 2.1.

[2018-04-16 21:24] mairaw commented on #17566
@ahsonkhan, we need to populate the docs source [here](https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System/ReadOnlySpan%601.xml). The docs then populate the IntelliSense files.

I've opened a docs issue for this: https://github.com/dotnet/docs/issues/4946.

[2018-04-16 22:11] BruceForstall opened #17598 "[arm32/Ubuntu] GCStress failures: "Consistency check failed: FAILED: !pThread->HasPendingGCStressInstructionUpdate()""
When I run GCStress=0xc on Ubuntu arm32, the most common failure is:

[code]

The most common failures are the tests in these directories:
[code]

as well as
[code]
which in at least one of my runs required 5 retries to pass.

This is https://github.com/dotnet/coreclr/issues/5310.

[2018-04-16 23:19] briansull commented on #17557
In the source code for this test on line 170 (where we hit the Assert.Equal issue)
We have the following code:

[code]

[2018-04-16 23:19] briansull commented on #17557
This is a test issue.

[2018-04-16 23:40] BruceForstall commented on #15169
This is preventing arm64 Debug jobs from completing successfully, so every job shows failure:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/arm64_cross_debug_windows_nt_tst/

[2018-04-16 23:43] BruceForstall commented on #14568
I see this in JitStress=2, JitStressRegs=4 in CI:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_jitstress2_jitstressregs4_tst/20/artifact/bin/tests/Windows_NT.arm64.Checked/Smarty.run.0/Smarty.0.fail.smrt/*view*/

[code]

[2018-04-16 23:47] sdmaclea commented on #14568
Those are var arg tests which are not supported on linux.  So in general I have not been running them.

[2018-04-17 00:19] BruceForstall opened #17600 "Bug in CodeGen::getFirstArgWithStackSlot()"
There is a typo in `CodeGen::getFirstArgWithStackSlot()` where it uses

[code]

instead of, apparently, `FEATURE_UNIX_AMD64_STRUCT_PASSING` (presumably it is a `D=>R` typo, not a `ARM64=>AMR64` typo, since nobody sets or uses the version with `ARM64`).

Thus, the Unix amd64 code is not doing what it was written to do since the mistyped `#ifdef` is never defined:
[code]

[2018-04-17 00:43] erozenfeld commented on #17554
This is a register allocator issue. I'm investigating.

[2018-04-17 01:13] #17591 closed

[2018-04-17 01:44] sdmaclea commented on #16377
The assert is firing whiling putting the eight argument, a 16-byte struct.  This must be passed on the stack per the ABI.  However since there are only 7 register arguments consumed there could be an off by one error in this special case with a two register struct.

The tmp allocated by the `new ValueTuple<string, string>(null, null)` is marked do not enregister address exposed.  The tmp has its f

[2018-04-17 04:58] noahfalk commented on #3894
I'm happy to collaborate for whatever time you are willing to put in : ) On my side 2.1 issues are pressing so my most immediate priorities are elsewhere, but if you were interested in doing some design and/or implemention I'm sure I could carve out some time to provide design feedback and/or code review. I don't know if that's what you had in mind. If you just wanted to discuss that's fine too.

[2018-04-17 05:10] #17150 closed

[2018-04-17 05:15] jkotas commented on #17587
cc @noahfalk

[2018-04-17 05:44] maryamariyan opened #17603 "About 20% performance regression for OrderBy() and OrderByThenBy() on windows"
Here are the graphs showing timings from Aug to now for these tests.

<img width="1060" alt="screen shot 2018-04-16 at 11 07 19 pm" src="https://user-images.githubusercontent.com/5897654/38851560-08d96c2e-41cb-11e8-8154-4730865ce439.png">

<img width="1063" alt="screen shot 2018-04-16 at 11 17 43 pm" src="https://user-images.githubusercontent.com/5897654/38851868-6f25fda2-41cc-11e8-9884-ea79f7e50e

[2018-04-17 06:10] jkotas opened #17604 "Incorrect prefix appended when the native library lives in "relative" directory in Unix"
_From @luqunl on April 17, 2018 6:3_

The issue is found by Jkotas:

https://github.com/dotnet/coreclr/blob/9d45401c6056a5b9c92d036e25c34ad34c03385e/src/vm/dllimport.cpp#L6054

libNameIsRelativePath is going to be true for a paths like:
XXX\YYY\library
or
\XXX\YYY\library.

On Unix, we will end up trying paths like:
**lib**XXX\YYY\library.so
or
**lib**\XXX\YYY\library.so.

_Copied from original is

[2018-04-17 06:16] maryamariyan commented on #17603
For linux the results for Linux is a bit shaky. The timing jump from October to December is related to this corefx diff https://github.com/dotnet/corefx/commit/fe5b7f51822615b3f343348e6bcb5aa06fec0b72.

[2018-04-17 07:33] BruceForstall opened #17605 "[arm32/Ubuntu] Failure in R2R JitStress=1 job"
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_ubuntu_r2r_jitstress1_flow/

It appears to fail with a hang in this test:
[code]

This is consistent in multiple runs, e.g.:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_r2r_jitstress1_tst/3/consoleText

[2018-04-17 07:33] BruceForstall commented on #17605
@dotnet/arm32-contrib

[2018-04-17 07:36] BruceForstall commented on #17605
Also with JitStress=2:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_ubuntu_r2r_jitstress2_tst/3/consoleText

[2018-04-17 07:56] fiigii commented on #17603
May be fixed by https://github.com/dotnet/coreclr/pull/17560

[2018-04-17 08:39] mattwarren commented on #17576
@mikedn and @jkotas thanks for the info

[2018-04-17 10:44] sharwell commented on #17576
It would likely improve iteration times in research environments, similar to Jikes RVM. I would worry about it suffering the same fate in the end though (obsolete due to progressive mismatch in functionality relative to the primary supported runtime).

[2018-04-17 13:41] RussKeldorph commented on #17604
@jeffschwMSFT

[2018-04-17 13:46] RussKeldorph commented on #16541
Fixed by #17575

[2018-04-17 13:46] #16541 closed

[2018-04-17 13:46] RussKeldorph commented on #16542
Fixed by #17575

[2018-04-17 13:46] #16542 closed

[2018-04-17 14:32] #17544 closed

[2018-04-17 15:30] danmosemsft commented on #17603
https://github.com/dotnet/coreclr/issues/17544

[2018-04-17 15:38] bobuva commented on #3894
@noahfalk I'm not that familiar with the code base but I'd like to learn more about it. Like you, I don't have a lot of cycles for this. I work for a startup and am very busy.

What would I have to do to get more familiar with the code base in this area? I'm willing to learn it but don't feel comfortable writing up a design spec for it.

By the way, I'll be in Seattle for the build conference and

[2018-04-17 15:44] bobuva commented on #3894
I found some specs in https://github.com/borgdylan/dotnet-cli/tree/master/Documentation/specs which will help me.

[2018-04-17 15:54] CarolEidt commented on #17545
I rebuilt the before & after, and yes, due to the tuning of spill weights, the `flags2` variable is no longer spilled, avoiding a save & restore in the second loop.

[2018-04-17 16:23] jashook opened #17609 "[x86/x64|Windows|Full Framework] Native vararg generates bad code."
C#
[code]

Currently have not investigated more than the value read from the va_list in C is junk. Will post more information if/when I investigate further.

Note this also fails when passing other different types together eg:

[code]

[2018-04-17 16:26] RussKeldorph commented on #17565
@echesakovMSFT Please confirm whether or not this is codegen related.

[2018-04-17 16:36] BruceForstall commented on #17605
If it's a known issue, we need to disable this test (for R2R JitStress) so the job doesn't time out.

[2018-04-17 16:42] sandreenko commented on #17605
It is the same issue, the fix #16663 won't be in 2.1.

The issue exists on all platforms (for am64, x86 only with JitStress=2), I believe we do not have mechanism to disable one test in stress or R2R mode on all platforms, what is the best way to do it?

[2018-04-17 16:44] #17588 closed

[2018-04-17 16:51] BruceForstall opened #17610 "[arm32/Ubuntu] Assert failure: Consistency check failed: hit privileged instruction!"
In GCStress=0xc

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_gcstress0xc_tst/2/consoleText

[code]

Related to https://github.com/dotnet/coreclr/issues/17585 and/or https://github.com/dotnet/coreclr/issues/17598?

[2018-04-17 17:01] BruceForstall commented on #17605
Does the job time out for all platforms?

Maybe the generated cmd/sh file can check for the R2R + JitStress flags and simply return?

Or use (and maybe invent) a mechanism to disable the test for any JitStress mode?

[2018-04-17 17:31] gfoidl opened #17611 "Sse2.ConvertToXYZ-methods with wrong reference assembly?"
## Problem

For instance

https://github.com/dotnet/coreclr/blob/34c7fe62cabfc8f99c8ab83c8d734c88bbeb2b1b/src/mscorlib/src/System/Runtime/Intrinsics/X86/Sse2.cs#L502-L506

should take a `Vector128<double>` and return a scalar.
The reference assembly doesn't provide this method.
![grafik](https://user-images.githubusercontent.com/5755834/38885975-d7d2118a-4274-11e8-9fd8-e1f2e73df908.png)
So it won'

[2018-04-17 17:38] sandreenko commented on #17605
Yes, it takes 5 hours on amd64 with r1r and jitstress=1, [example amd64](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_r2r_jitstress1/lastFailedBuild/testReport/), [example arm](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_r2r_jitstress1_tst_prtest/26/artifact/bin/tests/Windows_NT.arm.Checked/Smarty.run.

[2018-04-17 17:41] maryamariyan opened #17612 "About 10% performance regression for Perf_BigInteger tests"
Ctor_ByteArray
![capture04](https://user-images.githubusercontent.com/5897654/38886242-355e249c-422a-11e8-87a5-c2af03d8c409.PNG)

Ctor_ByteSpan
![capture05](https://user-images.githubusercontent.com/5897654/38886356-92c6bb58-422a-11e8-9819-39a0eb4424d5.PNG)

ToByteArray
![capture06](https://user-images.githubusercontent.com/5897654/38886484-efe301e8-422a-11e8-8db6-b2a38acb5bd1.PNG)

TryWriteBytes

[2018-04-17 17:44] fiigii commented on #17611
I am pretty sure that the reference assembly has exposed this API https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Intrinsics.Experimental/ref/System.Runtime.Intrinsics.cs#L907 and the runtime has implemented it https://github.com/dotnet/coreclr/blob/master/src/jit/hwintrinsiclistxarch.h#L170

[2018-04-17 17:48] gfoidl commented on #17611
From the reference assembly I see
`[assembly: AssemblyInformationalVersion("4.6.25809.02 @BuiltBy: dlab-DDVSOWINAGE026 @SrcCode: https://github.com/dotnet/corefx/tree/a17b150a7a174494fa8e74fc47dd0269413dfe77")]`

So it would be https://github.com/dotnet/corefx/blob/a17b150a7a174494fa8e74fc47dd0269413dfe77/src/System.Runtime.Intrinsics.X86/ref/System.Runtime.Intrinsics.X86.cs#L813

Maybe in this Nu

[2018-04-17 17:48] fiigii commented on #17611
The package has been renamed to `System.Runtime.Intrinsics.Experimental`.

[2018-04-17 17:50] fiigii commented on #17611
Please look at https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Runtime.Intrinsics.Experimental

[2018-04-17 17:50] gfoidl commented on #17611
Ah, I missed that. Not it's fine. Thanks!!!

[2018-04-17 17:50] #17611 closed

[2018-04-17 17:59] danmosemsft commented on #17612
@maryamariyan it seems impossible to me that the SHA above could affect this scenario.

If I click on the regressed data point in your benchview query I get https://github.com/dotnet/corefx/compare/834049b454f13ae9dafe4a2e9c98a1002351181a...dotnet:93764c0991d167e3b74f41f1ea129004ce10598c
in which this is clearly the key change:
https://github.com/dotnet/corefx/commit/7ec73674f2a0d04ae974d36c861d10

[2018-04-17 18:06] maryamariyan commented on #17612
@danmosemsft thanks that makes a lot of sense now.
I took the diff build 93764c0 rather than comparing with base diff as you did above.

I updated the above description.

[2018-04-17 18:08] bartonjs commented on #17612
Yep, it got worse for very small numbers, and better for large ones.  This was discussed during the PR.

https://github.com/dotnet/corefx/pull/25324

I don't think there's any action here.

[2018-04-17 18:25] sdmaclea commented on #17610
Agreed

[2018-04-17 18:30] briansull commented on #17609
I can look into this if you like

[2018-04-17 18:31] danmosemsft commented on #17612
Fine

[2018-04-17 18:49] AndyAyersMS commented on #17610
This is one of the gc stress races I am trying to fix with #17330. The race is not arch or platform specific.

[2018-04-17 18:58] jashook commented on #17609
Idk what the priority of this is. For now I will assign it to me for at least more investigation.

[2018-04-17 19:15] BruceForstall commented on #14238
I can't reproduce this. It looks similar to issues that have recently been fixed. So I'm going to close the issue.

[2018-04-17 19:15] #14238 closed

[2018-04-17 20:06] erozenfeld commented on #17554
This is an instance of #16857 where the current lsra logic splits loop backedges. In this case it causes the unnecessary jump and register reload.

[2018-04-17 21:14] dagood opened #17619 "1.1.8 long-name DAC/SOS has incorrect version (001, expected 01)"
I ran some basic symbol validation on the recent 1.1.8 release and found that the long-name DAC/SOS has incorrect versions:

 * ..._4.6.26328.**001**.dll
 * ..._4.6.26328.**01**.dll (expected)

This was fixed in `release/2.0.0`+ by https://github.com/dotnet/coreclr/pull/15583 merging to `master`.

Should the fix be ported to `release/1.1.0`?
Should the 1.1.8 build in particular be manually fixed b

[2018-04-17 22:03] noahfalk commented on #3894
If you are around I'm happy to meet up. Just let me know which days/times are good. My email is noahfalk at Microsoft.com if you want to coordinate there.

If you just want to chat a bit on a high level approach and leave it for someone else to build at a later time that's fine. If you do decide you'd like to push further here are some resources to start learning more:

Docs:
https://github.com/do

[2018-04-17 22:55] leculver commented on #17619
Yes, please port this fix everywhere it needs to go.  Otherwise I have to manually rearchive the files that were improperly named.

[2018-04-17 23:26] bobuva opened #17626 "Cannot get light-up technique of assembly load to work with .NET Core 2.0"
First of all, please let me know if this type of issue should be addressed in another repo. I did see some mention of this light-up technique here, so that's why I chose this repo.

I recently learned about the light-up technique that Application Insights uses to get their assemblies loaded into any ASP.NET app. [Here](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/platform-specific-

[2018-04-17 23:39] bobuva commented on #3894
This looks great, thanks @noahfalk. I'll try to spend some time looking at this before I head up to //build and as we get closer to that time, I'll contact you via email if I'm ready to discuss. Love that this is all OSS now!

[2018-04-17 23:41] erozenfeld commented on #17554
Moving to Future since since #16857 is marked as Future.

[2018-04-17 23:41] noahfalk commented on #17587
For anyone interested, the conversation around this is occurring in #3894.

[2018-04-17 23:44] erozenfeld opened #17628 "[x64/Ubuntu] Failure in JitStress=2 JitStressRegs=4 job"
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_ubuntu_jitstress2_jitstressregs4_tst/438/consoleText

FAILED   - baseservices/threading/waithandle/waitany/waitanyex5a/waitanyex5a.sh
               BEGIN EXECUTION
               /mnt/j/workspace/dotnet_coreclr/master/jitstress/x64_checked_ubuntu_jitstress2_jitstressregs4_tst/bin/tests/Linux.x64.Checked/Tests/

[2018-04-17 23:59] erozenfeld opened #17629 "[x64/Ubuntu] Failures in tailcallstress job"
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_ubuntu_tailcallstress_tst/323/consoleText

FAILED   - tracing/tracevalidation/tracelogging/tracelogging/tracelogging.sh
               BEGIN EXECUTION
               /mnt/j/workspace/dotnet_coreclr/master/jitstress/x64_checked_ubuntu_tailcallstress_tst/bin/tests/Linux.x64.Checked/Tests/Core_Root/corerun tracelo

[2018-04-18 00:00] noahfalk opened #17630 "Feature Request: During a profiler walk of the GC heap reference graph, distinguish references that aren't backed by metadata fields"
This is a request from https://github.com/dotnet/coreclr/issues/16274#issuecomment-381434436

FWIW, I don't think that the information needs to be directly provided as an argument of the ICorProfilerCallback::ObjectReferences API (or a numbered extension of the API), but there would need to be some not too complicated and reasonably performant mechanism for a profiler to learn the information. Thi

[2018-04-18 00:03] erozenfeld opened #17631 "[x64/Windows] Failure in heapverify=1 job"
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_heapverify1/73/consoleText

BEGIN EXECUTION
         "D:\j\workspace\x64_checked_w---facfb6a0\tests\..\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\corerun.exe" unregister03.exe
        Test Failed
        Expected: 100
        Actual: 0
        END EXECUTION - FAILED
        FAILED
        Test

[2018-04-18 00:06] erozenfeld opened #17632 "[x64/Windows] Failure in jitstress=1 job"
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_jitstress1/491/consoleText

BEGIN EXECUTION
         "D:\j\workspace\x64_checked_w---02832afb\tests\..\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\corerun.exe" waitone2.exe
        Beginning test case MutexWaitOne2 at 4/16/2018 7:33:49 PM
        Random seed: 20010415; set environment variable C

[2018-04-18 00:12] erozenfeld opened #17634 "[x86/Windows] Failure in jitstress=2 jitstressregs=3 job"
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_jitstress2_jitstressregs3/473/consoleText

BEGIN EXECUTION
         "D:\j\workspace\x86_checked_w---508bfa85\tests\..\bin\tests\Windows_NT.x86.Checked\Tests\Core_Root\corerun.exe" MaskMove_r.exe
        Expected: 100
        Actual: 73294136
        END EXECUTION - FAILED
        FAILED
        Test

[2018-04-18 00:31] RussKeldorph commented on #17487
@natemcmaster Does your scenario work on ARM hardware?

@Petermarcu Assuming this is specific to qemu, e.g. #6298, I'm not sure there's much we can do about it.  Can we have everyone validate using real hardware (Pi, etc.)?

[2018-04-18 00:47] natemcmaster commented on #17487
Yes, I was able to verify on a Raspberry Pi 2 that the same app runs just fine.

[2018-04-18 00:52] RussKeldorph commented on #17612
Then can we close this?

[2018-04-18 00:57] RussKeldorph commented on #17626
@bobuva Can you clarify what led you to dotnet/coreclr?  I think I would have started with https://github.com/aspnet/Home, but I could be missing something or may simply be ignorant.

[2018-04-18 01:05] #17612 closed

[2018-04-18 01:05] noahfalk commented on #16274
Just continuing to think about this a bit, what if we put the memory offset in the object where we read the reference from into the callback information (or a sentinel value -1 if the reference was implicitly computed and has no backing memory). For example the callback might return:

    offset              reference
    -------            -----------
    -1                  0x81238310
    8

[2018-04-18 01:17] janvorli commented on #17628
cc: @kouvel

[2018-04-18 01:24] RussKeldorph commented on #17582
I guess we're tracking this with corefx#29166 unless/until it is proven a runtime issue.

[2018-04-18 01:24] #17582 closed

[2018-04-18 01:31] RussKeldorph commented on #17583
Shows the classic signs of a test that is sensitive to JIT optimization, e.g. inlining.  Please move to corefx and indicate problem if so.  We'll have to figure out how to exclude tests like this in our various stress modes in the future.

[2018-04-18 01:37] RussKeldorph commented on #12421
@kbaladurin @okodron Any chance you guys could investigate this?  We don't currently have any way to repro it.

[2018-04-18 01:55] #17572 closed

[2018-04-18 01:57] BruceForstall commented on #17582
Yes. I was planning to close it when I merged https://github.com/dotnet/coreclr/pull/17624.

[2018-04-18 10:25] alpencolt commented on #12421
@echesakovMSFT  @RussKeldorph we still investigating this issue but have a lot of other work with higher priority, so I'm not sure that it will be closed soon.

Crash is reproduced only on devices with big.LITTLE architecture.
There is chance that there is something wrong in environment and we will try to run it on new boards.

[2018-04-18 14:09] vectorix commented on #17576
Thanks for all the responses.

Clearly rewriting the JIT is a large effort, implying that it has to be financially backed by one or more large organizations. On this point, I would like to refer to Oracle and Java. There is the GraalVM, which is a VM implementation of the JVM which is 97.5% written in Java. Version 1.0 was released on April 17, 2018.

The top three contributors on Github (chumer,

[2018-04-18 14:16] vectorix commented on #17576
![image2-640x213](https://user-images.githubusercontent.com/24557849/38937593-21272c62-4356-11e8-91d1-e5967fcc9d72.jpg)

[2018-04-18 14:45] mikedn commented on #17576
There's a bit of a difference between a VM and a JIT. The VM contains a JIT, a GC and some other stuff. Rewriting CLR's "other stuff" in C# is being done in the CoreRT project. I suppose you could claim it's not quite the same thing because CoreRT is focused on AOT. But hey, that seems like a pretty good reason to rewrite something - to bring up an entirely new feature. Rewriting for the sake of r

[2018-04-18 15:27] bobuva commented on #17626
@RussKeldorph I had originally read about this in this issue: https://github.com/dotnet/coreclr/issues/3894. I think you're right, though. I'll move this issue to https://github.com/aspnet/Home.

[2018-04-18 15:32] bobuva commented on #17626
Moved to https://github.com/aspnet/Home/issues/3071

[2018-04-18 15:32] #17626 closed

[2018-04-18 15:33] RussKeldorph commented on #17626
@bobuva Thanks!

[2018-04-18 15:39] vectorix commented on #17576
@mikedn In your opinion having experience with compiler development, why did it make commercial sense for Oracle to rewrite the JIT in Java when they supposedly already have a mature C++ implementation of a JIT? The point that Chris Thalinger made in his talk was that even a few % is a big saving on a large scale like Twitter. Just wonder if you agreed with his premise.

I guess it is about trade-

[2018-04-18 15:58] bobuva commented on #17587
Thanks @noahfalk . I'll close this one then.

[2018-04-18 15:58] #17587 closed

[2018-04-18 16:04] RussKeldorph commented on #17631
The [next run](https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_heapverify1/) passed.

[2018-04-18 16:10] RussKeldorph commented on #17629
@brianrob I don't have the complete history, but I suspect these tests were failing in this scenario since they were added.  Are these tests perhaps sensitive to precise results from stack walks?  Tailcallstress might invalidate assumptions like that, among other things.

[2018-04-18 16:26] CarolEidt commented on #17628
I was unable to repro with several runs under WSL, but it's not the latest sources so my plan was to build the commit that was being tested, and try that.

[2018-04-18 16:36] janvorli opened #17640 "Wrong check of ephemeral limits in JIT_WriteBarrier for ARM64"
The code is incorrectly using signed comparison, which doesn't work for
server GC where the high ephemeral limit is 0xffffffffffffffff and so it
is checking if the address is less than -1, which is never the case. So
the card table is never updated.

[2018-04-18 16:38] RussKeldorph commented on #12421
Ok, I think we'll most likely have to kick this out of 2.1 for now.  I don't see how we can make progress on it soon enough.

[2018-04-18 16:41] RussKeldorph commented on #12421
I'm inclined to think this is more likely related to PAL or maybe GC than codegen (do we query the processor cache size anywhere?), but feel free to clear the area label if you disagree.

[2018-04-18 16:44] brianrob commented on #17629
These tests don't look at stacks, just at the event payloads themselves.  The exception above is a managed TypeLoadException, so I expect this is a functional issue unrelated to the contents of the trace.

The exception implies that the type ```Microsoft.Diagnostics.Tracing.Etlx.TraceCodeAddresses+ILToNativeMap``` can't be found.

[2018-04-18 16:45] RussKeldorph commented on #17634
@fiigii

[2018-04-18 16:59] vectorix commented on #17576
I asked if C#/.NET can be supported on Graal. https://github.com/oracle/graal/issues/349

[2018-04-18 17:14] mikedn commented on #17576
LOL, asking the competition why they don't support C#/.NET :grin:

[2018-04-18 17:15] sdmaclea commented on #17320
@jkotas @janvorli I narrowed the Corefx test System.Reflection.Emit.ILGeneration.Tests failure down to two failing test cases.

[code]

Interestingly the Blittable counter parts `TestDynamicMethodEmitCalliBlittable` and `TestEmitCalliBlittable` are working.

Looks like the only difference is the calling convention `CallingConvention.Cdecl` vs. `CallingConvention.StdCall`

[2018-04-18 17:39] jkotas commented on #17320
Another more important difference is in the type of arguments (blittable vs. nonblittable).

The blittable arguments marshaling. I guess something goes wrong when the arguments are getting marshalled. What does the crash look like?

[2018-04-18 17:42] sdmaclea commented on #17320
IT is a Seg Fault.

[code]

[2018-04-18 17:48] jkotas commented on #17320
That is likely a result of a call to bogus value. What does the disassembly of the method in frame 1 look?

[2018-04-18 17:54] sdmaclea commented on #17320
[code]

[2018-04-18 18:26] AndyAyersMS opened #17645 "GcStress: choose strategy for instrumenting prejitted code"
GcStress currently tries to instrument NGEN precompiled methods twice: once during `Module::Initialize` (with a twist for the core library) and a second time during `MethodDesc::PrepareILBasedCode` (with a twist for prejitted IL stubs).

R2R precompiled methods are never instrumented, currently.

Seems like we should have only one strategy and it should apply to all cases of prejitted code.

Early

[2018-04-18 18:28] echesakovMSFT commented on #17565
I investigated this issue and seems the problem is crossgen-related.
It could be reproduced with the simpler example below:

[code]
on Linux/arm Windows/arm and Windows/x86.

Here is a call stack when the assertions happens:
[code]

As far as I understand, during `ZapGCRefMapTable`  we create so called [fake stack](https://github.com/dotnet/coreclr/blob/dd257bf2def46630ffa2ff688f5b26b79352e306/src

[2018-04-18 18:30] AndyAyersMS opened #17646 "GcStress: handle rejitting"
Rejitted code is currently not getting instrumented for GC stress.

Since the original code is still viable we can't simply clear/clobber the `m_GcCover` field in the MethodDescriptor on a rejit -- instead we need a way of having a code version specific set of GcCover infos for a method.

Similar issues likely apply to profiler-initiated rejitting.

cc @noahfalk

[2018-04-18 18:34] AndyAyersMS opened #17647 "GcStress: need some way to verify that all expected methods get instrumented"
In the instrumenting GC stress modes we should introduce some mechanism to verify that all the methods we expect to get instrumented actually do end up getting instrumented. Otherwise we risk losing stress coverage.

Because un-instrumented methods won't provoke additional GCs the fact that they are not instrumented tends to be hard to observe.

[2018-04-18 18:46] BruceForstall opened #17649 "GCStress: ensure every object moves on a GC"
At least, every object that is legal to move should move.

One problem with GCStress today is that when a GC occurs, most of the time (in some measurement I've done) objects don't actually move. This means that bad GC info doesn't get noticed.

[2018-04-18 18:46] kouvel commented on #17628
This may well be a threading issue that is sensitive to timing, I'll take a look

[2018-04-18 19:05] ww898 commented on #16274
@noahfalk Cool! That's what I need!

[2018-04-18 19:19] sdmaclea opened #17650 "[Arm64/Linux] Enable crosscomponent build in CI"
#16962 Broke arm64 crosscomponent build.  It would be better to catch these earlier during build.  This would also provide some JIT testing as the S.P.C.dll will be crossgened

[2018-04-18 19:39] jkotas commented on #17320
This stub expects the `unmanaged target` address in `x12`:

[code]

But GenericPInvokeCalliHelper expects it in `x14`: https://github.com/dotnet/coreclr/blob/7253416dd6790ade4d90e65c3aec1d4cab4f1970/src/vm/arm64/pinvokestubs.S#L99

I think the fix should be to change GenericPInvokeCalliHelper to expect it in `x12`, and change `REG_PINVOKE_TARGET_PARAM` for ARM64 to `REG_R12`.

cc @adityamandaleeka

[2018-04-18 19:44] sdmaclea commented on #17320
They seem to match on every other architecture, so that makes sense.  I'll give it a try on Linux.  I'll assume Windows needs same fix...

[2018-04-18 19:48] BruceForstall opened #17651 "GCStress: instrumented instructions only force a GC once"
One possible limitation of GCStress today is that each instruction is instrumented and stressed only once. After GC is run on an instrumented instruction, that instrumented instruction is replaced by its original instruction, so it never triggers a GC again. This means if a hole exists at an instruction, but isn't triggered by the first run of the instruction, we will miss it. This was potentially

[2018-04-18 19:49] BruceForstall opened #17653 "GCStress: force fully interruptible GC info"
Does the JIT have a stress mode that forces fully interruptible GC info?

An interesting stress mode would be:
1. GCStress=4
2. ZapDisable=1
3. force fully interruptible GC info

[2018-04-18 19:49] sdmaclea opened #17654 "[Arm64/Linux] #16962 Broke arm64 crosscomponent build"
@CarolEidt
cc/ @weshaggard

[2018-04-18 20:16] #17650 closed

[2018-04-18 20:30] BruceForstall commented on #17653
We do have `COMPlus_JitFullyInt`.

This is also enabled randomly for JitStress.

[2018-04-18 20:33] CarolEidt commented on #17654
@sdmaclea - sorry about that! Can you explain how the build was broken by #16962?

[2018-04-18 20:36] weshaggard commented on #17654
From a quick glance I suspect it is https://github.com/dotnet/coreclr/pull/16962/files#diff-b6b8820938a1795cb24a04b8b3f48adfR207 that caused the extra define.

[2018-04-18 20:42] sdmaclea commented on #17654
So crossgen is being built on x64 for arm64 JIT.

[2018-04-18 20:50] danmosemsft commented on #17460
@mconnew I have this question also:

[2018-04-18 20:51] CarolEidt commented on #17654
@weshaggard - yes, I believe you're right. I'm testing a fix now.

[2018-04-18 21:08] AndyAyersMS commented on #17428
Still no local repro. Guess I will see if I can get back on a CI machine.

At any rate this is unlikely to be a jit issue as these tests are very simple. Think is is related to heapverify somehow.

[2018-04-18 21:15] RussKeldorph commented on #17619
@dotnet/dotnet-diag @tommcdon I put this in the 1.1.x milestone so it's off the 2.1.0 radar and since 1.1 seemed appropriate.  Feel free to move it to 2.2 or Future if that reduces the change you'll lose track of it.

[2018-04-18 21:15] #17640 closed

[2018-04-18 21:16] noahfalk commented on #17630
Based on further discussion in #16274 , a suggested implementation here would be to create a new ObjectReferences2, which supplies both the list of references and a list of offsets. The offset is the position within the object where the reference was read from, or a -1 for references that were implicitly defined/calculated.

Likely we wouldn't want to emit both ObjectReferences and ObjectReference

[2018-04-18 21:19] mconnew commented on #17460
@danmosemsft, the short answer is versioning. The long answer can be found in [this article](https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/data-contract-versioning). But basically this is an intentional design to make forwards compatibility painless. When versioning forwards the presumption is you can't modify existing code with the previous version (you might not own those

[2018-04-18 21:32] sywhang commented on #16537
@sdmaclea Just FYI.. I tried repro'ing this on both Windows/Ubuntu on x64 machines, but I can't get a repro on this. I don't have access to any arm64 hardware at the moment. I will let you know once I can access to any arm64 machine.

[2018-04-18 21:49] adityamandaleeka commented on #17320
Yes, we should unify on x12 everywhere.

[2018-04-18 21:52] adityamandaleeka commented on #17320
@sdmaclea I'd be happy to take care of fixing this if you haven't already done so.

[2018-04-18 21:56] sdmaclea commented on #17320
@adityamandaleeka
It is not the only change required.  I have it fixed on Linux.  I'll  let you do the Windows side.

[2018-04-18 22:47] dougbu commented on #16545
@jkotas what is the process to request porting at least the `object` field portion of the fix to a patch release? Given customer-reported downstream bugs such as aspnet/Mvc#7673, seems like we need this at least in 2.0.x.

/cc @davidfowl @Eilon @Petermarcu

[2018-04-18 23:04] jkotas opened #17661 "MediaType.GetHashCode() throws System.ExecutionEngineException"
_From @austindrenski on April 17, 2018 20:49_

`MediaType.GetHashCode()` throws a `System.ExecutionEngineException` in an ASP.NET Core application.

I've included a minimal project that consistently reproduces the exception on my local machine.

Does anyone have an idea of what's behind this?

__Program.cs:__
[code]
__test.csproj__
[code]

_Copied from original issue: aspnet/Mvc#7673_

[2018-04-18 23:04] jkotas commented on #17661
_From @mkArtakMSFT on April 18, 2018 18:10_

Thanks for reporting this issue.
@dougbu, can you please look into this?

[2018-04-18 23:04] jkotas commented on #17661
This was CoreCLR bug. It was fixed for 2.1 as side-effect of https://github.com/dotnet/coreclr/pull/16550.

[2018-04-18 23:04] jkotas commented on #17661
_From @dougbu on April 18, 2018 22:51_

Thanks @jkotas !

@austindrenski because this is a closed issue in the Core CLR, I'm marking this as `external` and closing it. You may want to watch dotnet/coreclr#16545 to see if it is reopened or otherwise added to a 2.0.x patch release.

[2018-04-18 23:06] briansull commented on #17632
I sync-ed to the commit: da187d3
Built Check and ran the Repro Case 80 times
The test printed PASS for all 80.

[2018-04-18 23:08] briansull commented on #17632
Environment:
[code]

[2018-04-18 23:08] briansull commented on #17632
No Repro

[2018-04-18 23:09] dougbu commented on #17661
@jkotas should this issue be assigned to you and the `external` label removed?

I hope this means you're considering re-targeting the fix for downstream patches 🥇

[2018-04-18 23:29] fiigii commented on #17634
It may be a GC info or RA issue. I looked that the codgen and encoding is correct.
`vmaskmovdqu` uses `edi` as the **implicit dst register** that may not be properly recognized by GC or RA
[code]

@CarolEidt @AndyAyersMS How can investigate this kind of issue?

[2018-04-18 23:29] danmosemsft commented on #17460
@mconnew MemoryStream aside, there is probably over 100 types that are no longer marked [Serializable] so this is a broader issue.

I understand that you want code to robustly handle unexpected extra fields. I don't see mention however in the article of the specific case where the deserializer recognizes the type but it's own implementation is not [Serializable] (while evidently the serializer's c

[2018-04-18 23:48] #17654 closed

[2018-04-19 00:16] CarolEidt commented on #17634
Yes that looks like it might be the case. I am investigating this, and in `Main`, the return value is in `edi` and it is getting trashed by the maskmov.

[2018-04-19 00:28] mconnew commented on #17460
The Serializable attribute to DCS simply means "it's safe to serialize my fields whether they are private or not". Without it, DCS only serializes properties. The xml representation doesn't imply what the original class looked like, it's not meant to be a direct equivalent of the class like BinaryFormatter produces. I'll give you a simple example with two versions of the same class, one with the S

[2018-04-19 01:06] kouvel commented on #17628
Looks like the handle that Join waits on is signaled after abandoning the mutexes owned by the thread. I haven't been able to repro it so far, not sure what might be wrong.

[2018-04-19 01:34] CarolEidt commented on #17634
To answer your question about how to investigate this kind of issue, there's not great documentation on debugging JitStress, and the stress modes can really make the code difficult to navigate, not to mention that not all the `COMPlus` variables related to stress work properly. I usually set `COMPlus_JitStressModeNamesNot=STRESS_EMITTER` since that rarely seems to cause issues, and it makes the du

[2018-04-19 05:53] AndyAyersMS commented on #17634
We should think about investing in some automated "bisect" tools for failures like these that reliably repro. I have bits and pieces of this lying around from a former project that I can perhaps contribute.

For jitstress you can try and debug the failure but sometimes it can be more effective to first isolate the bad method by selectively enabling stress. That is something we should be able to au

[2018-04-19 08:44] rtvd commented on #12103
I am new to .NET and the first thing I tried was to check its performance as I often need to squeeze out everything I can from the code. So I tried P/Invoke and it was a touch faster than JNI.
However, it is absolutely not clear how to use it in cross-platform applications.
There are lots of tutorials but everything I saw was either P/Invoke on a single platform or Mono's dllmap or it was somethin

[2018-04-19 10:44] gbalykov commented on #13651
@janvorli @jkotas

The change from #17342 increases Shared_Clean on Linux ARM. Do you know, what could be the reason of such behavior?

On EmailUI Tizen Xamarin GUI application (when HelloWorld Xamarin GUI app is in background):

1) Before the change:

Rss: 39996.4 kb
Private_Dirty: 13760.4 kb
Private_Clean: 1384 kb
Shared_Dirty: 4 kb
Shared_Clean: 24848 kb

2) After the change:

Rss: 47722.8 kb
P

[2018-04-19 11:43] shaggygi opened #17666 "Azure Sphere Support"
Understanding [Azure Sphere](https://azure.microsoft.com/en-us/blog/introducing-microsoft-azure-sphere-secure-and-power-the-intelligent-edge/) has not even been released yet, I was wondering if .NET Core will be supported?

[2018-04-19 14:34] thomaswue commented on #17576
Our goal is to support "any language" with GraalVM and to make them easily interoperable. A joint project to support .NET code could be interesting.

[2018-04-19 14:39] jkotas commented on #13651
I guess that the Linux kernel will page in everything in the flushed range. It may be just an accounting problem.

Yes, flushing for every reloc is going to be very expensive. If you wanted to fix the increase in "shared clean" you have observed, I think you would want to keep track of the range of pages that had relocs applied. When you see a new reloc, check if it is a contiguous extension of th

[2018-04-19 15:03] Donpedro13 opened #17669 "There is something fishy going on with CLRVectoredExceptionHandler/DontCallDirectlyForceStackOverflow"
At the ISV I work for, we have been getting some strange crashes from our C++ application recently, with the following "signature": our process crashed because of a (recursive) stack overflow, but the actual exception was an access violation, and not a stack overflow.

This suggests that the guard area on the stack was committed, and that extra stack space provided by the guard area also ran out.

[2018-04-19 15:44] svick opened #17670 "Undoing boxing doesn't work with C# 7 pattern matching"
Short version: I was reading @stephentoub's article [*Performance Improvements in .NET Core 2.1*](https://blogs.msdn.microsoft.com/dotnet/2018/04/18/performance-improvements-in-net-core-2-1/). I noticed that his example for avoiding boxing allocations thanks to https://github.com/dotnet/coreclr/pull/14698 uses `is` followed by a cast, when in C# 7, the same code could be simplified using pattern m

[2018-04-19 16:07] tarekgh commented on #17393
I am reopening it for porting the fix to 2.1

[2018-04-19 16:12] RussKeldorph commented on #17565
@nattress Could you take a look and decide if this needs a fix for 2.1?

[2018-04-19 16:59] CarolEidt commented on #17628
@RussKeldorph @kouvel - I'm not sure how to handle this if we can't get a repro.

[2018-04-19 17:12] AndyAyersMS commented on #17428
@RussKeldorph suggest we move this out of 2.1 as there's nothing we can do until we have a repro.

[2018-04-19 17:18] RussKeldorph commented on #17583
Duplicate of #17558.

[2018-04-19 17:18] #17583 closed

[2018-04-19 17:38] kasper3 commented on #17468
Alpine arm32 architecture is called armhf in their docs, which supports armv6 and armv7 target architectures.

Unfortunately, they only provide `armv6-alpine-linux-musleabi`, which does not compile CoreCLR, as armv6 is not supported: https://github.com/dotnet/coreclr/issues/10605. I tried compiling coreclr by adding

[code]

in compileoptions.cmake, but compilation failed due to unsupported assemb

[2018-04-19 17:46] kasper3 commented on #17468
One approach could be to build our own compiler toolchain and armv7 ABI using https://github.com/richfelker/musl-cross-make, then ship it with the ARM32 runtime package. But I think then all the external native dependencies would need to be compiled with same toolchain? Sounds complicated.

[2018-04-19 17:50] janvorli commented on #17468
Oh, that's unfortunate. But as for your previous comment, why would we need to ship the toolchain? Wouldn't compiling the runtime bits with it be sufficient?

[2018-04-19 17:57] kouvel commented on #17628
I think I can (in future) try to add some verbose debugging info and kick off a custom CI to try for a repro. At this point I don't think this is actionable.

[2018-04-19 18:12] kasper3 commented on #17468
I was thinking that we might need to ship the generated ABI libs (not toolchain). It makes sense that technically it should be sufficient to build and compile in a way that we shouldn't need to package any extra libs like that with our bins (it should be just work on alpine installation on armv7 device).

Out of the box, they support GCC. It would be ideal for us to generate `armv7-alpine-linux-mu

[2018-04-19 18:20] BruceForstall opened #17676 "[arm] Warnings with crossgen generating S.P.C.dll"
The following warnings are seen in the build:
[code]

For example:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_checked_ubuntu_innerloop_prtest/739/consoleText
[code]

[2018-04-19 18:26] echesakovMSFT commented on #17676
I've seen these before - if some JIT helper is not supported (e.g. in ReadyToRun mode) a method consuming such helper is gonna be skipped from crossgen-ing

[2018-04-19 18:54] Maoni0 commented on #17649
related https://github.com/dotnet/coreclr/issues/10403

[2018-04-19 19:39] erozenfeld commented on #17629
I investigated tracelogging. This test fails both on Windows and Ubuntu under tailcallstress with the same stack trace. For some reason we are not running it in Windows ci jobs.

I isolated a bad method. Setting tailcallstress just on this method makes the test fail.

.method assembly hidebysig instance class [System.Runtime]System.Type
            '<InitializeFromFile>b__112_0'(string typeName) c

[2018-04-19 20:08] jkotas opened #17679 "Fatal error reporting deadlocks with GC"
Found while investigating https://github.com/aspnet/KestrelHttpServer/issues/2503

From Maoni:

This is an age old problem…managed heap corruption causes exception triggered on the GC thread which then needs to wait for GC so deadlock…looping in Noah. He did some work to accommodate I believe.

[code]

[2018-04-19 20:10] jkotas commented on #17679
This looks like a regression introduced by #16875 and related changes.

[2018-04-19 20:17] tarekgh commented on #17393
This is ported to 2.1.

Thanks @shakeri for reporting this issue.

[2018-04-19 20:17] #17393 closed

[2018-04-19 21:07] Petermarcu opened #17681 "unable to run after upgrading to .net 2.0 => 2.1 [terminating with uncaught exception of type EEFileLoadException*]"
@davidparker commented on [Thu Apr 12 2018](https://github.com/dotnet/core/issues/1435)

# terminating with uncaught exception of type EEFileLoadException*

when in ( visual studio code [mac os x] ) I go debug -->  run
It never runs, everything fails with:  terminating with uncaught exception of type EEFileLoadException*

All I have done is upgraded 2.0 -> 2.1   changed launch.json  to the followi

[2018-04-19 21:14] jkotas commented on #17681
Duplicate of https://github.com/dotnet/coreclr/issues/17529

cc @janvorli

[2018-04-19 21:14] #17681 closed

[2018-04-19 21:15] RussKeldorph commented on #17676
@nattress @sergiy-k Can you advise?

[2018-04-19 21:16] jkotas commented on #17679
cc @noahfalk

[2018-04-19 21:26] jkotas commented on #17676
Dup of https://github.com/dotnet/coreclr/issues/12153. These warnings can be ignored.

[2018-04-19 22:33] BruceForstall opened #17684 "Updating coreclr toolset"
For non-Windows builds, we generally build with clang 3.9, though for arm32 we build with clang 5.0, and at least in the CI, arm64 builds with clang 3.8.

Should these all be updated to something consistent and newer, e.g., clang 6.0?

What is the process for making this decision and making it happen?

@RussKeldorph @janvorli @jkotas

[2018-04-19 22:35] #17676 closed

[2018-04-19 23:08] erozenfeld commented on #17629
A later call to canTailCall returns true because the check for DynamicSecurityMethods in canTailCall above is only done when there is no explicit tail prefix. It's under
[code]

[2018-04-19 23:11] #15731 closed

[2018-04-19 23:12] erozenfeld commented on #17629
So the possible solutions here are:
1. Don't add tail prefix under TailCallStress if canTailCall() returns false. This will make the testing more robust but will reduce the number of tail calls.
2. Exclude this test from running under TailCallStress. We will likely have other cases like this in the future.

My preference is to go with option 1.

[2018-04-19 23:34] BruceForstall commented on #17570
Some failures are `!pThread->HasPendingGCStressInstructionUpdate()` (https://github.com/dotnet/coreclr/issues/17598, https://github.com/dotnet/coreclr/issues/5310).

There are also many cases of:

[code]

[2018-04-19 23:36] BruceForstall commented on #17570
@AndyAyersMS Looks like another GCStress race? Is the `instrVal32 == *(DWORD*)(gcCover->savedCode + offset)` case covered by your change https://github.com/dotnet/coreclr/pull/17330?

[2018-04-20 00:03] sebastienros opened #17686 "'perfcollect install' fails on official dotnet docker images"
In a `microsoft/dotnet:2.0-sdk-jessie` image, running `perfcollect install` errors with an unsupported linux distribution. `uname` returns `Linux` which isn't handled.

I tried to install manually based on `Debian` instructions, however after installing `zip` and `linux-tools` I still get a

[code]

[2018-04-20 00:17] sebastienros opened #17687 "Lower memory usage, expected?"
On the reliability testing we are doing in the aspnet team, I noticed a drop in memory usage around April 11-12. Is this something that could be explained by Server GC changes?

| OS | Before (MB) | After (MB) | Delta |
| -- | -- | -- | -- |
| Linux | 430 | 360 |  -27% |
| Windows | 345 | 245 | -29% |

This graph show the Windows consumption overtime. The application was the same, the load constan

[2018-04-20 00:38] fiigii opened #17689 "[RyuJIT] SSE2 SetZeroVector128 does not support float base type"
`Sse2.SetZeroVector128<T>` is a generic helper intrinsic that should generate SSE `xorps` instruction for `Vector128<float>`.

[2018-04-20 00:38] gregg-miskelly opened #17690 "ThirdPartyNotices.txt in installer/packages is missing entries"
Repro steps:
1. Download https://www.nuget.org/packages/runtime.linux-x64.Microsoft.NETCore.App/2.1.0-preview2-26406-04
2. Look at THIRD-PARTY-NOTICES.TXT

Expected:
This should call out all of CoreCLR's Third Party Notices. An example missing one is libunwind8. I believe the complete list can be found at https://github.com/dotnet/coreclr/blob/release/2.1/THIRD-PARTY-NOTICES.TXT

Actual:
[THIRD-PA

[2018-04-20 00:49] nbilling opened #17692 "Mscordbi uses incorrect layout for MDInternalRW."
Mscordbi uses incorrect layout for MDInternalRW when marshaling to Target_MDInternalRW, in a couple of places. Specifically for Target_RecordPool (aligned to 4 bytes on Linux rather than 8) and Target_MapSHash (don't need to skip a byte at the beginning of struct on Linux). The mismatch causes CordbModule::GetMetadataInterface to fail for dump debugging on Linux.

[2018-04-20 00:52] nbilling commented on #17692
@noahfalk @mikem8361

[2018-04-20 02:12] rajivharris opened #17693 "[clrdbg] Add support for inline values"
VSCode Debugger Protocol now supports inline values for variables when debugging. It would be great if vsdbg/vsdbg-ui adds support for this.

Debugger Protocol:
[https://github.com/Microsoft/vscode-debugadapter-node/issues/78](url)
[https://github.com/Microsoft/vscode-debugadapter-node/blob/896566e0be3f48e5cf90fb715b3b3ffbfa777888/protocol/src/debugProtocol.ts#L1329-L1337](url)

VSCode Support:
[h

[2018-04-20 02:34] ahsonkhan commented on #17566
As @stephentoub mentioned, the ==, Equals(obj), SequenceEqual semantics are not going to change for Span.

There is also an Equals extension method that lets you do the comparison with a StringComparison passed in:
https://github.com/dotnet/corefx/blob/master/src/System.Memory/ref/System.Memory.cs#L43

Because of that, I am going to close this issue. cc @KrzysztofCwalina

Feel free to open an issu

[2018-04-20 02:34] #17566 closed

[2018-04-20 04:46] danmosemsft commented on #17690
@RussKeldorph seems like 2.1 fix is needed

[2018-04-20 05:56] AndyAyersMS commented on #17610
Should be fixed via #17330.

[2018-04-20 05:56] #17610 closed

[2018-04-20 07:17] AndyAyersMS commented on #17598
Reading the code it seems like the only way this can happen is if the `SuspendEE` call made transitively by `DoGcStress` doesn't suspend. But that seems like a long shot.

If you have a reliable repro then let me know. I can't get my x64 case to repro so far.

[2018-04-20 13:38] RussKeldorph commented on #17686
@brianrob

[2018-04-20 13:39] RussKeldorph commented on #17686
@vancem

[2018-04-20 13:40] RussKeldorph commented on #17687
@maoni0 @jkotas @vancem

[2018-04-20 13:44] stephentoub commented on #17687
My guess would be @JeremyKuhne's ArrayPool trimming PR:
https://github.com/dotnet/coreclr/pull/17518

Maybe ASP.NET is doing something at start-up that creating a bunch of arrays of a particular size in the pool, and then those sizes go largely unused after that point?  Or something like that.

[2018-04-20 13:56] RussKeldorph commented on #17690
@danmosemsft Sounds like you understand this better than I do.  Can you give more details on exactly what needs to happen?  Does coreclr just need to add its THIRD-PARTY-NOTICES.TXT to its package(s) [all of them? which path?] and upstack can take it from there?

I'm sure I could figure it out eventually, but given the urgency, if someone knows exactly what needs to happen, I'd appreciate a hint.

[2018-04-20 15:27] janvorli commented on #17468
I have seen cases when clang package has installed `clang`, but `clang++-3.x` or vice versa. In other words, the version was just on one of those and it was causing the same or similar issue. Adding a symbolic link to make it symmetric helped.

I believe the ABI is the same and the only difference is in the supported instructions inside the binaries. So we should be able to build dotnet core using

[2018-04-20 15:52] Petermarcu commented on #17690
Yes, lets tactically update the one in core-setup.

[2018-04-20 16:14] RussKeldorph commented on #17690
This issue was moved to dotnet/core-setup#4053

[2018-04-20 16:14] #17690 closed

[2018-04-20 16:29] RussKeldorph commented on #17693
@dotnet/dotnet-diag @tommcdon

[2018-04-20 16:43] BruceForstall opened #17698 "corefx test failure: Assert failure: !"You cannot use this function for arbitrary value types. You must preallocate a box object and copy the value in yourself.""
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_corefx_baseline/462/consoleText

many tests fail with:
[code]

Also seen on ARM.

[2018-04-20 16:46] RussKeldorph commented on #17698
@jkotas @jeffschwMSFT @sergiy-k Could you help with triage?

[2018-04-20 16:49] sergiy-k commented on #17565
@janvorli, could you please take a look? Thank you!

[2018-04-20 16:49] janvorli commented on #17565
I am looking into it.

[2018-04-20 16:52] RussKeldorph commented on #17552
This indeed seems to have been resolved by the fix for #17544.

[2018-04-20 16:52] #17552 closed

[2018-04-20 17:48] JeremyKuhne commented on #17687
My guess as well. ArrayPoolEventSource has events that you could use to validate that this is the case ("BufferTrimmed", notably).

cc: @danmosemsft

[2018-04-20 18:25] martinmine opened #17701 "System.Diagnostics.StackTrace slow on .NET Core"
Consider the following program:

[code]

This takes **4133.3539 ms** in .NET Core 2.0, while targeting .NET 4.7.1 this takes 108.1025 ms to execute. Making a full dump on this with procdump, I can see the following stack trace typically being called:

[code]

[2018-04-20 18:30] jashook opened #17702 "[x86|x64|Windows|Full Framework|NativeVararg] Passing 16 byte struct of two longs results in bad codegen"
C#

[code]

Note this fails on x86 as well as x64, but may be two separate issues.

[2018-04-20 18:31] jashook commented on #17702
/cc @dotnet/jit-contrib

[2018-04-20 18:34] RussKeldorph commented on #17701
@dotnet/dotnet-diag @tommcdon

[2018-04-20 18:40] jashook opened #17703 "[x64|Windows|Full Framework] Passing 32 byte struct of four doubles with native varargs results in bad codegen"
c#

[code]

Note this is may be related to #17702.

[2018-04-20 18:40] jashook commented on #17703
/cc @dotnet/jit-contrib

[2018-04-20 19:04] jashook opened #17704 "[x86|Windows|Full Framework| NativeVararg] Passing a double after an int/long results in bad codegen"
C#

[code]

[2018-04-20 19:04] jashook commented on #17704
/cc @dotnet/jit-contrib

[2018-04-20 19:08] jashook opened #17706 "[x86|Windows|Full Framework|NativeVararg] Passing an eight byte struct of long"
c#

[code]

[2018-04-20 19:08] jashook commented on #17706
@dotnet/jit-contrib

[2018-04-20 19:10] jashook commented on #17703
Found that this was a test issue.

[2018-04-20 19:10] #17703 closed

[2018-04-20 19:14] sebastienros commented on #17687
Ok, thanks.
At least now you get an idea of the impact on "close to real world" web apps.

[2018-04-20 19:14] #17687 closed

[2018-04-20 19:39] RussKeldorph commented on #17686
This issue was moved to dotnet/corefx-tools#76

[2018-04-20 19:39] #17686 closed

[2018-04-20 20:00] 0xd4d commented on #17701
`StackTrace.CaptureStackTrace()` creates and disposes of `StackFrameHelper` which holds a reference to `StackTraceSymbols` in `getSourceLineInfo.Target`. `StackTraceSymbols` has a PDB cache that gets cleared when it gets disposed.

All of these classes get disposed when `StackTrace.CaptureStackTrace()` returns. The PDB files are read and then thrown away every single time the method gets called.

[2018-04-20 20:04] martinmine commented on #17701
@0xd4d Not sure how this is handled in the .NET framework but I assume that they cache this somehow.

[2018-04-20 20:06] 0xd4d commented on #17701
I haven't checked since it was so fast, so I assume .NET Framework uses a cache.

[2018-04-20 20:27] fiigii commented on #17706
Does x86 Full Framework already uses RyuJIT instead of JIT32?

[2018-04-20 20:42] briansull commented on #17706
No the x86 Full Framework uses JIT32

[2018-04-20 20:57] kasper3 commented on #17684
This is incorrect.

https://packages.ubuntu.com/bionic/clang-6.0

Clang 6.0 is a released product since March 8. Ubuntu 18's default repo has Clang 6.0 toolchain: http://llvm.org/ (see the information on right hand side)

If you are referring to http://apt.llvm.org/, that is not considered official package by debian-devel or ubntu-devel. I have confirmed this information from their official IRC ch

[2018-04-21 00:03] janvorli commented on #17684
@kasper3 yes, I was getting that information from http://apt.llvm.org/. I was thinking that "released" and "stable" are different things. But clearly I was wrong.

[2018-04-21 00:30] noahfalk commented on #17701
Strong suspicion you are seeing this issue https://github.com/Microsoft/dotnet/issues/529. A fix was made for desktop and it needs to be brought to CoreCLR.

[2018-04-21 00:37] noahfalk commented on #17693
@gregg-miskelly - I think this is for you guys more than it is for us? Let us know if there is a corresponding runtime part of the ask.

[2018-04-21 00:46] gregg-miskelly commented on #17693
This issue was moved to OmniSharp/omnisharp-vscode#2206

[2018-04-21 00:46] gregg-miskelly commented on #17693
@noahfalk feel free to close this.

[2018-04-21 00:53] #17693 closed

[2018-04-21 01:43] maryamariyan opened #17715 "About 40% regression or the XmlDocument performance test Create()"
The Regression for the XmlDocument performance test [Create()](https://github.com/dotnet/corefx/blob/697e2b910e6cccbc1f3d58be111e309db4823ab7/src/System.Private.Xml/tests/XmlDocument/Performance/Perf.XmlDocument.cs#L16) is illustrated in the chart below.

<img width="1062" alt="screen shot 2018-04-20 at 6 03 33 pm" src="https://user-images.githubusercontent.com/5897654/39078880-32feeb30-44c5-11e8-

[2018-04-21 02:31] #17706 closed

[2018-04-21 02:31] jashook commented on #17704
Closing as this is jit32 specific

[2018-04-21 02:31] #17704 closed

[2018-04-21 03:11] jkotas opened #17716 "GC crash in Kestrel Libuv and Sockets FunctionalTests/netcoreapp2.1"
_From @mikeharder on April 18, 2018 18:42_

Kestrel FunctionalTests are hanging frequently on CI:

# KestrelHttpServer
[code]
http://aspnetci/viewLog.html?buildId=449083&buildTypeId=Lite_KestrelHttpServer&tab=buildLog&_focus=39538

[code]
http://aspnetci/viewLog.html?buildId=445522&buildTypeId=Lite_KestrelHttpServer&tab=buildLog

# Win2012-Kestrel
[code]
http://aspnetci/viewLog.html?buildId=449994

[2018-04-21 03:11] jkotas commented on #17716
_From @mikeharder on April 18, 2018 23:47_

PR to enable diagnostic messages, which should tell us which specific test is hanging: https://github.com/aspnet/KestrelHttpServer/pull/2505

[2018-04-21 03:11] jkotas commented on #17716
_From @mikeharder on April 19, 2018 19:25_

I was able to get a local repro and capture dumps, and the root cause appears to be in the CLR (specifically the GC).  Blocked waiting for assistance from the CLR.

[2018-04-21 03:11] jkotas commented on #17716
_From @mikeharder on April 19, 2018 21:44_

We believe the root cause is managed heap corruption.  The ASP.NET team will attempt to find the root cause, which could be in either ASP.NET or CLR code.

A separate issue is that once the managed heap is corrupted, fatal error reporting can trigger a deadlock in the GC: https://github.com/dotnet/coreclr/issues/17679.

# Repros
## Kestrel.Transport.Libu

[2018-04-21 03:11] jkotas commented on #17716
_From @mikeharder on April 19, 2018 21:49_

I have captured two dumps from hung tests (both in `Libuv.FunctionalTests`), and both were in the `MaxRequestBufferSizeTests.LargeUpload` test case.  I haven't yet captured a dump from hung tests in `Sockets.FunctionalTests`.

[2018-04-21 03:11] jkotas commented on #17716
_From @mikeharder on April 19, 2018 23:28_

According to CI logs, the first instance of this hang was 4/3/18 2:40 PM:

http://aspnetci/viewLog.html?buildId=439512&tab=buildResultsDiv&buildTypeId=Lite_KestrelStressTest

Earlier this day, the NETCoreApp dependency was updated from NETCoreApp 2.1.0-preview2-26330-03 to 2.1.0-preview3-26331-01:

https://github.com/aspnet/Universe/commit/f828c9d6aa3508

[2018-04-21 03:48] RussKeldorph commented on #17715
@maryamariyan Can you clarify why this was opened in coreclr instead of corefx?

[2018-04-21 03:52] jkotas commented on #17715
This issue was moved to dotnet/corefx#29260

[2018-04-21 03:52] #17715 closed

[2018-04-21 04:10] #17634 closed

[2018-04-21 05:06] maryamariyan commented on #17715
@RussKeldorph please accept my sincerest apology here. This was meant to be created for corefx.

I copied the template from another issue I had opened earlier by right clicking on the issue page (creating the issue in that repo), not noticing the original was already in coreclr.

I was paying much attention to the content of the issue that I missed this detail.

[2018-04-21 05:55] jkotas commented on #17661
Submitted downstream port for approval #17720

[2018-04-21 11:58] stephentoub commented on #17701
Should this be considered for 2.1? Seems like a significant regression.

[2018-04-21 22:09] #17716 closed

[2018-04-22 00:41] xnzhowd opened #17726 "dotnet.exe collapse"
when the exception: " MySql.Data.MySqlClient.MySqlException: Timeout expired.  The timeout period elapsed prior to completion of the operation or the server is not responding. ---> System.TimeoutException: Timeout in IO operation"  occur many times, dotnet.exe collapse.
windows application log:
错误应用程序名称: dotnet.exe，版本: 2.0.26407.1，时间戳: 0x5ac8028c
错误模块名称: KERNELBASE.dll，版本: 6.3.9600.18666，时间戳: 0x58

[2018-04-22 01:53] #17565 closed

[2018-04-22 02:41] kasper3 commented on #17468
I made a simple test:

[code]

compiled with `clang test.c -o test.exe -march=armv7-a` on that docker and it worked (without `-march=armv7-a`, it gives the error). It seems like something is wrong with CMake configuration (something is overwriting CFlags).

My current patch is:

[2018-04-22 06:30] #17661 closed

[2018-04-22 12:26] #17726 closed

[2018-04-22 16:11] gregg-miskelly commented on #17693
@rajivharris Correct. The OmniSharp/omnisharp-vscode repo is the home of the C# extension. So we track all issues related to the C# extension there (including things that have nothing to do with OmniSharp).

[2018-04-22 18:59] xoofx commented on #17576
I would like to bring a different view on this, specially on the perspective of productivity in C# vs C++, whenever I had to work on C# projects vs C++ projects what is the most striking difference for me is the way you can refactor code and push changes in, even when building from scratch a project. C++ tends to make you a lot more lazy - some could argue that you could choose something more opti

[2018-04-23 00:34] kasper3 commented on #17468
Pushed one more commit to https://github.com/dotnet/coreclr/pull/17730, with that CoreCLR builds on ARM32 Alpine using steps described https://github.com/dotnet/coreclr/issues/17468#issuecomment-382831060.

[2018-04-23 04:25] daoqiang opened #17731 "C++ calls.Netcore through coreclr"
Hi,
https://docs.microsoft.com/en-us/dotnet/core/tutorials/netcore-hosting
In accordance with this document, I call the.Netcore class library through the coreclr host, when I execute it.
CreateDelegate function times error, error: the given assembly name or base code is invalid.

[2018-04-23 04:28] daoqiang commented on #17731
``// CplusCall.cpp: 定义控制台应用程序的入口点。
//

#include "stdafx.h"
#include <stdio.h>
#include <C:\Users\fdq15\Downloads\coreclr-master\src\pal\prebuilt\inc\mscoree.h>
#include <wchar.h>
#include "windows.h"
#include "palclr.h"
using namespace std;
int main()
{
	wchar_t coreRoot[MAX_LONGPATH];
	size_t outSize;
	if (_wgetenv_s(&outSize, coreRoot, MAX_LONGPATH, W("CORE_ROOT")) == 0 && outSize > 0)
	{

	}
	s

[2018-04-23 04:32] daoqiang commented on #17731
the c++ code ：https://paste.ubuntu.com/p/rhKVr9k8zn/
the .netcore code: https://paste.ubuntu.com/p/Xbkj5mSwsn/

[2018-04-23 15:19] CarolEidt commented on #17545
#valenis - can this be closed since it is explained?

[2018-04-23 16:05] alpencolt opened #17735 "[Question] R2R and version bubbles"
As I understand the main motivation to create Ready To Run mode of crossgen is making native images are more independent from runtime change. What is the current state of it? Should we regenerate application native images in case of updating runtime or system libraries (of course, I mean case when API isn't changed)?

Second question is about version bubbles. As I see from source code (https://git

[2018-04-23 16:28] fwanggg opened #17736 "headers to use when porting Profiler from windows to linux"
I have a CLR profiler that supports dotnet core 2.0 on Windows. Now i wish to port it to build and work on  Linux. I think i need some guidance on what are the best practices and/or an relatively realistic example.

I had started my research based on a sample dotnet core profiler written by MS folks:
https://github.com/Microsoft/clr-samples/tree/master/ProfilingAPI/ReJITEnterLeaveHooks
(recommende

[2018-04-23 17:36] jkotas commented on #17735
We use it in all our shipping configurations. CoreLib on x86/x64 is the last library that is still using fragile NGen. I expect that we will switch it to R2R as well.

We see a very good results when R2R is used together with tiered JITing (R2R is used as "Tier 0" JIT). I expect that we going to enable tiered JITing by default.

I expect that we will focus on tiered JITing because of it will give

[2018-04-23 17:54] alpencolt commented on #17735
By our estimation R2R is on **20%** slower than R2R on application startup on ARM which is very important metric for consumer electronic. So we are looking ways to improve situation.

What is the status of tiered JIT? Is there any documentation how to use it? I saw only the issue https://github.com/dotnet/coreclr/issues/4331

cc @Dmitri-Botcharnikov

[2018-04-23 17:57] AndyAyersMS commented on #17273
Looked into this a bit, here are some notes:

### To enable hoisting `Default` when we won't devirtualize `Equals`

We likely want to make `Default` be noinline, as once it gets inlined and the generic static base address lookup expands, it becomes too complex to analyze/hoist. There's probably no real benefit to inlining this anyways.  If we do that then we need to adjust various optimizer method

[2018-04-23 18:11] jkotas commented on #17735
Yes, R2R is not as fast as fragile NGen. Tiered JIT helps with it somewhat. There are more opportunities for optimizations:
- R2R is not able to save code for all methods in version resilent way (generics are typically the worst offender)
- It should be possible to speed up type loader as well

It would be useful to know where does the 20% in your case goes.

Set COMPlus_TieredCompilation environm

[2018-04-23 20:10] davmason commented on #17736
CoreCLR and the profiling apis use char16_t everywhere on non-windows platforms. Windows wchar is 16 bits and we have lots of assumptions about wchar being 16 bits.

If you use char16_t everywhere you interact with the profiler, it will work. You can use 16 bit literals to interact with the profiler. I.e. `u"16 bit literal string"`

When porting our profiler tests to linux and mac I ran in to the

[2018-04-23 21:01] fwanggg commented on #17736
@davmason  it helps.
Good to know char16_t is the way to go.
However, i do see
https://github.com/dotnet/coreclr/blob/master/src/inc/clrtypes.h#L183
where WCHAR is defined as wchar_t. And used in places like this(i didn't analyze the include dependencies myself because it's a massive project. I had my IDE resolves it for me.):
https://github.com/dotnet/coreclr/blob/master/src/ildasm/ceeload.cpp#L9

[2018-04-23 21:24] janvorli commented on #17736
@fwanggg coreclr is not compiled with PAL_STDCPP_COMPAT. That was added for special purposes of out of coreclr usage of the PAL to enable including the pal headers together with some std c++ headers minimizing the risk of name clashing.
If you don't need to include some headers from the platform together with the PAL headers in your profile and can rely on just what our PAL provides, then you don'

[2018-04-23 21:33] BruceForstall opened #17738 "[arm32] Compiler optimization assumption invalid: FAILED: pMgr != 0"
In the corefx tests, System.Linq.Expressions.Tests:

https://ci.dot.net/job/dotnet_coreclr/job/dev_unix_test_workflow/job/jitstress/job/arm_cross_checked_ubuntu_corefx_baseline_tst_prtest/3/consoleText

[code]

[2018-04-23 21:34] BruceForstall commented on #17738
@RussKeldorph @janvorli @jkotas can you triage?

[2018-04-23 21:44] BruceForstall opened #17739 "[arm32] corefx System.Net.Http.Functional.Tests fails"
60 failures in this test suite:

https://ci.dot.net/job/dotnet_coreclr/job/dev_unix_test_workflow/job/jitstress/job/arm_cross_checked_ubuntu_corefx_baseline_tst_prtest/3/consoleText

Some seem like timeout (which is probably just too tight):
[code]

There are many other error modes, though, e.g.,
[code]

[2018-04-23 21:46] BruceForstall opened #17740 "[arm32] corefx System.Net.NameResolution.Pal.Tests fails"
https://ci.dot.net/job/dotnet_coreclr/job/dev_unix_test_workflow/job/jitstress/job/arm_cross_checked_ubuntu_corefx_baseline_tst_prtest/3/consoleText

[code]

[2018-04-23 22:12] fwanggg commented on #17736
@janvorli sorry if i misunderstand but @davmason mentioned **CoreCLR and the profiling apis use char16_t everywhere on non-windows platforms.**

And you mentioned **coreclr is not compiled with PAL_STDCPP_COMPAT** which means CoreCLR uses wchar_t from what i can see from the code below.

The 2 statements seem to be contradictory from what i can understand. which one is correct or both(because i di

[2018-04-23 22:17] janvorli commented on #17736
@fwanggg I am sorry for not being clear. Coreclr does use wchar_t, but it is redefined as #define wchar_t __wchar_16_cpp__ here:
https://github.com/dotnet/coreclr/blob/master/src/pal/inc/pal_char16.h#L32

[2018-04-23 22:26] fwanggg commented on #17736
@janvorli wow, there is the secret i missed i think.
So, just to confirm, so coreclr does use the 16bit type not the 32 bit type because `wchar_t` gets hijacked and redefed.
So, as a profiler writer, i should really stick with char16_t and forget about the 32bit standard wchar_t type. is this statement correct?

[2018-04-23 22:30] janvorli commented on #17738
Similar issue (manifesting itself as the same assert) was fixed for arm64 in the past, see:
https://github.com/dotnet/coreclr/issues/4311
It may have similar cause.

[2018-04-23 22:33] janvorli commented on #17736
@fwanggg since you are porting the profiler from Windows, it would be the best way.

[2018-04-23 22:37] bobuva opened #17741 "ICorProfiler retrieve function arguments in JitCompilationStarted"
I've seen this done before but for the life of me, I'm having trouble finding a function's arguments when my ICorProfiler profiler's JitCompilationStarted event is called. I've got the `PCCOR_SIGNATURE` from `IMetaDataImport->GetMethodProps` but I don't have the actual arguments being passed in the function.

Is there an interface method I can call to get them?

thanks.

[2018-04-23 23:04] noahfalk commented on #17701
The performance now is the same behavior we shipped in CoreCLR RTM 2.0 (based on my memory of when the changes happened and @martinmine's report of the performance above). The regression is relative to desktop, and maybe relative to .Net Core 1.0. I do think it would be worth considering this for 2.1.

[2018-04-23 23:36] erozenfeld opened #17744 "[x64/Windows] Failures in checked outerloop job"
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/checked_windows_nt/9461/consoleText

Looks like these started failing after #17680.

@sywhang

[code]

[code]

[2018-04-23 23:43] erozenfeld commented on #17744
A lot of other jobs in ci are failing in the same way. Some additionally have this failure:

[code]

E.g., https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_minopts/494/consoleText

[2018-04-23 23:47] RussKeldorph commented on #17739
This issue was moved to dotnet/corefx#29292

[2018-04-23 23:47] #17739 closed

[2018-04-23 23:47] RussKeldorph commented on #17740
This issue was moved to dotnet/corefx#29293

[2018-04-23 23:47] #17740 closed

[2018-04-24 01:11] echesakovMSFT commented on #17584
This issue is duplicate of #11408 and due to the following:

1. In [`System.Net.HttpListener:SetServerTimeout`](https://github.com/dotnet/corefx/blob/b399fe53343295ccf475262552b6d36beafb2b4e/src/System.Net.HttpListener/src/System/Net/Windows/HttpListener.Windows.cs#L123) under `COMPlus_JitStress=2` call to `System.Net.HttpListener.SetUrlGroupProperty` treated as "explicit" tail call;
2. `System.Ne

[2018-04-24 02:15] daoqiang commented on #17731
hi？

[2018-04-24 03:15] jkotas commented on #17731
This argument should not a assembly file name path. This argument should be just assembly name, e.g. just L"CplusCalled".

[2018-04-24 03:54] mjsabby commented on #13460
We just hit this bug in 2.0.5 when porting Bing.com code, can we get this ported to 2.0? @danmosemsft @jkotas what is the procedure for that?

[2018-04-24 04:03] jkotas commented on #13460
This was ported to 2.0.x servicing already: https://github.com/dotnet/coreclr/pull/15735 . It should be in 2.0.6 update.

[2018-04-24 06:52] daoqiang commented on #17731
Ok,But if my.Netcore generated binary is a custom suffix, is it just loading by name?
thank you

[2018-04-24 11:47] 4creators commented on #17576
@jkotas @xoofx

From data available in published literature it seems to be much easier task - as a benchmark we could use 9 man-months for porting of Clang to Java - without LLVM backend - 2 millions LOC. See details below.

I would assume that porting JIT to C# would be significantly easier - effort similar to implementing Hardware Intrinsics.

However, the important aspect is why we should think

[2018-04-24 12:48] jkotas commented on #17731
CoreCLR loader does not support custom suffixes.

[2018-04-24 13:07] kasper3 commented on #17576
Definitely worth prototyping.

I think this is an important aspect to consider for new platform bootstrapping. These include Solaris and BSD based operating systems as well as new architectures. C++ makes it comparatively easier to port the infrastructure. Java has been ported to most of the operating systems already, so the reliance on Java in that regard makes sense for projects like Clank.

If

[2018-04-24 13:09] EgorBo opened #17750 "Division of Vector3 by a scalar is slow (10x times slower than by a vector3)"
As far as I understand the following code
[code]
converts `2.0f` to a `Vector3(2.0f, 2.0f, 2.0f)` and divide `v1` by this vector (see https://github.com/dotnet/corefx/blob/master/src/System.Numerics.Vectors/src/System/Numerics/Vector3_Intrinsics.cs#L273) using intristics so it sounds like it should perform with the same speed as:
[code]
but the results are: https://gist.github.com/EgorBo/b961aec1b

[2018-04-24 13:25] mikedn commented on #17750
The two versions aren't comparable as in the `DivideByVector` case the JIT manages to eliminate the entire loop body. Sure, it would be nice if the JIT did this in both cases but then the results wouldn't be relevant anyway. You need to adjust your tests so that dead code elimination does not kick in.

[2018-04-24 13:31] mattwarren commented on #17750
Out of interest, what does the output of the BenchmarkDotNet [`[DisassemblyDiagnoser]`](https://github.com/dotnet/BenchmarkDotNet/blob/master/docs/guide/Configs/Diagnosers.md#disassembly-diagnoser) show?

The BenchmarkDotNet docs show the recommended [way to do this](http://benchmarkdotnet.org/Guides/GoodPractices.htm#avoid-dead-code-elimination)

[2018-04-24 13:40] EgorBo commented on #17750
@mattwarren @mikedn you were right, rewrote the benchmark and the results now as a expected, thanks!

[2018-04-24 13:40] #17750 closed

[2018-04-24 13:49] mikedn commented on #17750
For clarity here's the actual diff between the two versions when the result is stored in a static:
[code]

It seems that `new Vector3(i * 2, i * 2, i * 2)` doesn't generate good code, the JIT doesn't realize that all 3 components are identical and treat it as `new Vector3(a, b, c)` which is more expensive.

If you use `new Vector3(i * 2)` you get identical code.

[2018-04-24 13:49] benaadams commented on #17576
The [current JIT (RyuJIT)](https://github.com/dotnet/coreclr/blob/master/Documentation/botr/ryujit-overview.md) isn't that old

![RyuJIT Phases](https://raw.githubusercontent.com/dotnet/coreclr/master/Documentation/images/ryujit-phase-diagram.png)

It replaced JIT64 as the mainline JIT for x64 in .NET Framework 4.6/Core 1.0, and replaced JIT32 for [x86 last year](https://github.com/dotnet/announce

[2018-04-24 13:58] fwanggg commented on #17736
@janvorli thanks for the clarification.

[2018-04-24 13:58] #17736 closed

[2018-04-24 15:44] RussKeldorph commented on #17741
@dotnet/dotnet-diag

[2018-04-24 15:57] RussKeldorph commented on #17584
@echesakovMSFT The right thing to do is to fix #11408 so that TailCallStress isn't creating illegal conditions.  Plumbing a way to disable the *corefx* test under JitStress/TailCallStress might be too much of a hack.  For now, it's probably best to disable it as best we can via mechanisms available in coreclr, such as disabling the entire test assembly, under only JitStress if possible.

I have mo

[2018-04-24 15:58] danmosemsft opened #17751 "Move Concurrent collections into shared"
These seem like they can be reconciled
[code]
with their CoreFX cousins:
[code]

Usual procedure is
1. Upgrade CoreCLR versions to have functionality of CoreFX ones. This may mean just copying over the CoreFX ones. Move to C:\git\coreclr\src\mscorlib\shared\System\Collections\Concurrent
1. Prepare a PR in CoreFX that deletes the 4 files there and instead pulls them from C:\git\corefx\src\Common\sr

[2018-04-24 16:25] mattwarren commented on #14574
I'm pretty sure that @mikedn had been looking at 'bounds check elimination' recently

[2018-04-24 16:30] mikedn commented on #14574
@ViktorHofer Bounds check elimination and covariance check elimination are different. The only thing they have in common is that for element stores you get a helper call that does both a bound check and a variance check (in cases that require it). Maybe a separate issue should be opened for this.

[2018-04-24 16:33] ViktorHofer commented on #14574
My bad, wrong issue. I wanted to post this in the Array.Reverse thread where it came up. Sorry!

[2018-04-24 16:39] ViktorHofer commented on #15723
This pattern and others are described in https://blogs.msdn.microsoft.com/clrcodegeneration/2009/08/13/array-bounds-check-elimination-in-the-clr/.

@mikedn maybe we could compare what has change since then? In nearly all examples (excluding the static variable access as it seems trickier) the author provided possible optimizations.

[2018-04-24 16:54] mikedn commented on #15723
To an extent the simplest and shortest answer is that not a lot has changed. Here are the cases where something did change:

[code]

[code]

[code]

[code]

[2018-04-24 17:11] RussKeldorph commented on #17494
Sounds like this isn't going to block 2.1.  Please correct if so.

[2018-04-24 17:26] jkotas commented on #17751
This step should either delete the files from System.Collections.Concurrent, or the files in step 1 has to be ifdefed out so that the implementation in mscorlib remains internal.

We do not want to have two public types with the same name in the implementation. It breaks scenarios like scripting. Verification added in https://github.com/dotnet/corefx/pull/19800 should fail the build if you introdu

[2018-04-24 17:30] BruceForstall opened #17753 "[arm32/Ubuntu] corefx test failures: System.Net.NetworkInformation.Functional.Tests, System.Net.Sockets.Tests"
These tests:
[code]

have segmentation faults in the corefx test run, e.g.:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_corefx_baseline_tst_prtest/1/consoleText

[2018-04-24 17:31] BruceForstall opened #17754 "[arm32/Ubuntu] corefx test timeouts"
The following tests time out (with 10 minute default timeout) in a corefx test run:

[code]

e.g.,

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_corefx_baseline_tst_prtest/1/consoleText

[2018-04-24 17:35] BruceForstall commented on #17241
These jobs are all running now, and we've seen results.

[2018-04-24 17:35] #17241 closed

[2018-04-24 17:47] BruceForstall commented on #17557
System.Diagnostics.StackTrace.Tests failures also exist on ARM:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_corefx_jitstress1_tst_prtest/1/consoleText

[2018-04-24 17:52] BruceForstall opened #17755 "[arm32/Ubuntu][JitStress] corefx System.Runtime.Tests times out"
With JitStress=1 or JitStress=2, the test times out (or hangs):

[code]

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_corefx_jitstress1_tst_prtest/1/consoleText
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_corefx_jitstress2_tst_prtest/1/consoleText

[2018-04-24 17:59] BruceForstall opened #17756 "[arm32/Ubuntu][JitStressRegs] corefx System.Net.NameResolution.Functional.Tests failures"
With JitStressRegs=0x10,

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_corefx_jitstressregs0x10_tst_prtest/1/consoleText

[code]

[2018-04-24 18:04] echesakovMSFT commented on #17584
@BruceForstall has already disabled the test assembly in d3714249669

[2018-04-24 18:25] AndyAyersMS commented on #1532
@redknightlois can you look this over and update if you still think there is anything actionable here, or close if not?

For generics instantiated over ref types we're unlikely to do devirtualization anytime soon, as the jit only sees the shared version. This might change down the road, if we somehow enabled unshared ref type instantiations or started looking into speculative devirtualization.

If

[2018-04-24 19:02] BruceForstall commented on #17756
When fixing this, update tests\arm\corefx_linux_test_exclusions.txt

[2018-04-24 19:02] BruceForstall commented on #17754
When fixing this, update tests\arm\corefx_linux_test_exclusions.txt

[2018-04-24 19:29] AndyAyersMS commented on #2594
Seems like there is no actual issue here. Am I overlooking something?

[2018-04-24 19:34] kouvel opened #17758 "AsyncLocal<class> changed event can be raised multiple times for one change in value"
[code]

Expected output:
[code]

Observed output:
[code]

This seems to be a regression from https://github.com/dotnet/coreclr/pull/8216, which treats a value of null as though the key does not exist, but in `ExecutionContext.SetLocalValue`, the key not existing means it will add a new change notification. So each transition of an AsyncLocal<class>'s value from null to non-null will add an additio

[2018-04-24 19:37] AndyAyersMS commented on #3396
There are no more project.json files, so suggest we close this.

[2018-04-24 19:49] AndyAyersMS commented on #3903
Seems like we could perhaps close this...

[2018-04-24 19:59] mikedn commented on #3903
I've checked that the current build still produces the expected code:
[code]
The relevant IL produced by the IL compiler is
[code]
and I don't see how `blt` could expand to `(x < y) != 0`. Perhaps some stress mode...

I don't see any reason to keep this opened without a clear repro.

[2018-04-24 20:08] AndyAyersMS commented on #4331
We have a solid foundation for tiering in place now thanks to the hard work of @noahfalk, @kouvel and others.

I suggest that we close this issue and open a "how can we make tiered jitting better" issue. I encourage anyone interested in the topic to give the current tiering a try to get an idea where things are at right now. We would love to get feedback on the actual behavior, whether good or bad

[2018-04-24 20:10] AndyAyersMS commented on #4356
This doesn't strike me as a codegen issue....

[2018-04-24 20:24] AndyAyersMS commented on #5329
@jkotas did you ever do any writeup for the fixup idea?

[2018-04-24 20:25] AndyAyersMS commented on #5430
Seems like we can close this.

[2018-04-24 20:27] #5430 closed

[2018-04-24 20:28] #6720 closed

[2018-04-24 20:28] #10563 closed

[2018-04-24 20:40] #17156 closed

[2018-04-24 20:42] ltrzesniewski commented on #4331
Is the current behavior described somewhere? I only found [this](https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/code-versioning.md) but it's more about the implementation details rather than the tiering specifically.

[2018-04-24 20:47] davmason commented on #17741
@bobuva Once you have the `PCCOR_SIGNATURE` you have to decompress it to read it. It's not code I'm super familiar with, but you can see how we do it in the DAC at https://github.com/dotnet/coreclr/blob/30b07e10fbb477a0d08d0d2ec022f51d8bd3a9a9/src/ToolBox/SOS/Strike/metadata.cpp#L605

If you have specific questions about what's happening there I can answer them, but hopefully this is enough to fol

[2018-04-24 20:51] #17503 closed

[2018-04-24 20:51] noahfalk commented on #17741
I think @bobuva wanted the argument values rather than parameter types? The parameter types come from the signature as David described. If you want the arguments check out https://docs.microsoft.com/en-us/dotnet/framework/unmanaged-api/profiling/functionenter3withinfo-function

The JitCompilationStarted callback only triggers the first time a method is invoked whereas the enter, leave, tailcall ca

[2018-04-24 20:55] BruceForstall commented on #17490
@dotnet/jit-contrib @dotnet/arm32-contrib @dotnet/arm64-contrib I plan to start this work around May 15.

[2018-04-24 21:06] bobuva commented on #17741
@noahfalk I have to use JitCompilationStarted as I'm injecting prolog and epilog calls into selected methods. The Enter/Leave hooks would add too much overhead. I may have come up with a way to do this from JitCompilationStarted. Does this seem right to you?

1. Figure out how many parameters the function takes (get that from the signature)
2. Create an object array that will contain them.
3. For

[2018-04-24 21:25] danmosemsft commented on #17751
Ah, interesting. OK, that is easily done.

[2018-04-24 21:42] noahfalk commented on #17741
If you are worried about the overhead of getting EnterLeaveTailcall (ELT) callbacks on all functions, https://docs.microsoft.com/en-us/dotnet/framework/unmanaged-api/profiling/icorprofilerinfo3-setfunctionidmapper2-method provides you the capability to only instrument functions of your choosing.

It sounds like the path you are pursuing now is IL instrumentation. Both are perfectly viable, though

[2018-04-24 21:43] sywhang opened #17760 "Server GC is set with different env vars across platforms"
On Unix, we set server gc by setting ```COMPlus_gcServer=1```, but this does not work on Windows.

On Windows, we use ```complus_buildflavor=svr```.

There is also this in ```coreruncommon.cpp``` and ```corerun.cpp```
[code]

We should try to make these into one variable that works across all platforms.

[2018-04-24 21:44] RabdPnguin opened #17761 "Environment.CommandLine does not work as expected."
Let's say I call a command with the following options:
cmd --option "--whatever"

Environment.CommandLine returns something different depending on whether it's a dotnet core app or full framework app.

4.7: "cmd.exe --option "--whatever""
core 2.0: "cmd.exe --option --whatever"

This presents a problem making it impossible (or at least difficult) to pass arguments that start with a hyphen to an op

[2018-04-24 21:46] AndyAyersMS commented on #6355
Would be nice to have some details here....

[2018-04-24 22:01] RussKeldorph commented on #17761
@danmosemsft @karelz

[2018-04-24 22:14] bobuva commented on #17741
Thanks @noahfalk. I'm not that familiar with `SetFunctionIDMapper2` but will look at it.

What you described for getting parameter index to do a `ldarg` makes sense. I think I'll stick with this approach for now. Maybe look at the enter/leave option later.
Thanks!

[2018-04-24 22:17] BruceForstall commented on #17744
This happens on all platforms.

[2018-04-24 22:52] sywhang commented on #17744
https://github.com/dotnet/coreclr/pull/17766 is out to fix these failures.

[2018-04-24 23:43] jkotas commented on #5329
Today, ldtoken is expanded to `embedGenericHandle` + `CORINFO_HELP_TYPEHANDLE_TO_RUNTIMETYPE`.

We can add a new method to JIT/EE interface `bool expandLdToken(CORINFO_RESOLVED_TOKEN * pResolvedToken, CORINFO_GENERICHANDLE_RESULT * pResult)` that would allow short-circuiting this if possible. `ldtoken` would be the lookup returned by `bool expandLdToken(CORINFO_RESOLVED_TOKEN * pResolvedToken, COR

[2018-04-24 23:50] BruceForstall commented on #15394
fyi, arm GCStress is almost clean now on both Ubuntu and Windows. There are still a few "random" failures that look like GCStress infrastructure issues, but no known JIT bugs.

[2018-04-24 23:52] fo40225 commented on #2594
@AndyAyersMS

After test, unsafe pointer still has performance issue.

Test code [here](https://github.com/fo40225/UnsafePerfTest/blob/master/UnsafePerfTest/Program.cs)

#### Result

.NET Core

    BenchmarkDotNet=v0.10.14, OS=Windows 10.0.15063.1029 (1703/CreatorsUpdate/Redstone2)
    Intel Xeon CPU E3-1230 V2 3.30GHz, 1 CPU, 8 logical and 4 physical cores
    Frequency=3222678 Hz, Resolution=310

[2018-04-24 23:55] BruceForstall commented on #14724
@sywhang Is this issue still valid?

JIT fast tailcall is an optimization, and should not block testing ARM32 ELT hooks for profiler. These hooks should function, and should be tested for ARM32.

When fast tailcall optimization is implemented, it will also require ELT hook testing. But that can happen later, when the optimization is implemented.

[2018-04-24 23:58] BruceForstall commented on #14583
This is an ancient bug. If it still fails, it can be reopened.

[2018-04-24 23:58] #14583 closed

[2018-04-24 23:58] BruceForstall commented on #14487
This is an ancient bug. If it still fails, it can be reopened.

[2018-04-24 23:58] #14487 closed

[2018-04-25 00:00] BruceForstall commented on #14526
Looks like the ReJIT link is now https://github.com/dotnet/coreclr/blob/1c584d894c143410397230af718401347447beef/clrdefinitions.cmake#L189.

[2018-04-25 00:01] BruceForstall commented on #14486
This bug is ancient. Reopen if it still fails.

[2018-04-25 00:01] #14486 closed

[2018-04-25 00:04] BruceForstall commented on #13500
I'm going to close this issue.

Suggestion: if a GC or memory issue still exists, try .NET Core 2.1 -- quite a lot of GC and memory issues have been fixed in 2.1 for ARM.

[2018-04-25 00:04] #13500 closed

[2018-04-25 00:04] sywhang commented on #14724
@BruceForstall Yes, the ARM32 ELT hooks have already been tested, except for just the fast tailcall path. That's the only path we haven't been tested and this issue was made to track testing fast tailcall optimization when it is implemented. I guess we could update the title to say "fast tailcall" instead of just tailcall.

[2018-04-25 00:04] sywhang commented on #14526
@BruceForstall
Thanks! I updated the original issue to reflect that.

[2018-04-25 00:05] erozenfeld commented on #2334
Yes, I think that's correct.

[2018-04-25 00:05] BruceForstall commented on #12908
This bug is ancient and we haven't seen the issue lately. I do remember an ARM-specific fix being made in this area.

[2018-04-25 00:05] #12908 closed

[2018-04-25 00:06] BruceForstall commented on #12523
This bug is ancient. Reopen if it still exists.

[2018-04-25 00:06] #12523 closed

[2018-04-25 00:07] BruceForstall commented on #12521
This bug is ancient. Reopen if it still exists.

[2018-04-25 00:07] #12521 closed

[2018-04-25 00:08] BruceForstall commented on #12472
This bug is ancient. Reopen if failure still exists.

[2018-04-25 00:08] #12472 closed

[2018-04-25 00:11] BruceForstall commented on #11715
Perhaps fixed by https://github.com/dotnet/coreclr/pull/17523. I'm going to close this. Reopen if the failure still exists on current sources.

[2018-04-25 00:11] #11715 closed

[2018-04-25 00:27] BruceForstall commented on #6676
I believe this issue is obsolete; closing.

[2018-04-25 00:27] #6676 closed

[2018-04-25 00:28] BruceForstall commented on #6573
I believe this issue is obsolete; closing.

[2018-04-25 00:28] #6573 closed

[2018-04-25 00:31] BruceForstall commented on #6530
@RussKeldorph Can this be closed?

[2018-04-25 00:32] BruceForstall commented on #6388
@hqueue Is this still a bug?

[2018-04-25 00:33] BruceForstall commented on #6334
@jashook Is this still a bug?

[2018-04-25 00:34] BruceForstall commented on #6321
With .NET Core 2.1, Linux/ARM is supported. I'm going to close this bug.

[2018-04-25 00:34] #6321 closed

[2018-04-25 00:38] BruceForstall commented on #6298
@RussKeldorph Is there a reason this issue needs to be kept open? You added a reference to the issue recently. But it's not clear that the "real" issue here is what the failure it was opened for.

[2018-04-25 00:40] sdmaclea commented on #11318
The issue has been resolved for arm64 for a long time.

[2018-04-25 00:41] sdmaclea commented on #11318
Closing based on fixed on arm32 and arm64

[2018-04-25 00:41] #11318 closed

[2018-04-25 00:43] BruceForstall commented on #6248
I think this issue is obsolete, so I am closing it.

[2018-04-25 00:43] #6248 closed

[2018-04-25 00:44] BruceForstall commented on #6231
This issue is obsolete; I am closing it. (We have many R2R test jobs in Jenkins now for ARM)

[2018-04-25 00:44] #6231 closed

[2018-04-25 00:50] BruceForstall commented on #6217
We are tracking fast tail call work in https://github.com/dotnet/coreclr/issues/13828. I will close this issue now.

[2018-04-25 00:50] #6217 closed

[2018-04-25 00:52] BruceForstall commented on #5274
This bug is obsolete; I will close it. Many, many fixes have been made since this was last touched.

[2018-04-25 00:52] #5274 closed

[2018-04-25 00:55] BruceForstall commented on #3977
@Petermarcu I propose to close this issue; we're far past the "ARM 32-bit progress" title -- we have many thousands of tests running on ARM Linux in our CI. Agreed?

[2018-04-25 00:56] BruceForstall commented on #3878
@leemgs Can we close this issue?

[2018-04-25 00:57] BruceForstall commented on #3529
This bug looks obsolete; I am going to close it.

[2018-04-25 00:57] #3529 closed

[2018-04-25 00:58] BruceForstall commented on #3419
This issue looks obsolete; I am going to close it.

[2018-04-25 00:58] #3419 closed

[2018-04-25 01:14] myungjoo commented on #3977
I agree. ;)

[2018-04-25 01:49] AndyAyersMS commented on #4331
I believe we're going to have some kind of summary writeup available soon, with some of the data we've gathered.

Tiering can be enabled in 2.1 by setting `COMPlus_TieredCompilation=1`. If you try it, please report back what you find....

[2018-04-25 02:02] daoqiang commented on #17731
I think this is necessary, just a file suffix. File format or PE structure should not be supported。

Thanks for your help

[2018-04-25 02:25] AndyAyersMS commented on #13280
I dusted off Pat's changes and squashed / rebased to a recent master commit. Updated bits here: [master...AndyAyersMS:LclVarRefCountPhase2](https://github.com/dotnet/coreclr/compare/master...AndyAyersMS:LclVarRefCountPhase2)

Doesn't quite work out of the box as we try decrementing some ref count below zero. Likely some new count maintenance has popped into the code. Locally I've commented out tha

[2018-04-25 03:35] #3977 closed

[2018-04-25 07:46] davmason opened #17770 "[local gc] enable use of NumaNodeInfo for local gc and PAL"
Right now we skip NumaNodeInfo for local gc and pal. See virtual_alloc_commit_for_heap in gc.cpp.

[2018-04-25 07:48] davmason opened #17771 "[local gc] enable AnalyzeSurvivorsRequested and DACNotifyGcMarkEnd"
AnalyzeSurvivorsRequested and DACNotifyGcMarkEnd are disabled for local gc, because they require GCnotifications which doesn't currently work across the GC interface

[2018-04-25 09:59] mikedn commented on #2594
Presumably you're referring to the case of `UnsafeAccessArrayOffset` that's slower than the other 2 unsafe versions?
[code]

[2018-04-25 10:15] mikedn commented on #2594
With the current .NET Core build I get the following results:
[code]
So there's practically no difference between the 3 unsafe versions.
The first 2 unsafe versions produce identical loop code so they can't really produce different timings unless code alignment interferes. The last unsafe version produce slightly different code but the different is unlikely to affect performance.
[code]

[code]

[2018-04-25 12:28] hqueue commented on #6388
@BruceForstall Let me check but I also have to ask @chunseoklee and @kvocho again.

[2018-04-25 12:32] hqueue commented on #6273
@BruceForstall Can we close this or leave it open for RyuJIT enhancement ?

[2018-04-25 13:12] Nihlus opened #17772 "Use of created nested types in dynamic assembly builders cause TypeLoadExceptions"
When attempting to generate a dynamic type that contains a nested type, use of the type to generate fields on the parent type fails with a [TypeLoadException][exception] if the type has been realized using `GetTypeInfo()`.

This issue is not present on Mono, and the type can be successfully created. Furthermore, defining the type as a non-nested type in the dynamic module also succeeds.

A minimal

[2018-04-25 13:45] fo40225 commented on #2594
I use nightly build from https://github.com/dotnet/versions/tree/master/build-info/dotnet/product/cli/release/2.1 and get no luck.

    BenchmarkDotNet=v0.10.14, OS=Windows 10.0.15063.1029 (1703/CreatorsUpdate/Redstone2)
    Intel Xeon CPU E3-1230 V2 3.30GHz, 1 CPU, 8 logical and 4 physical cores
    Frequency=3222678 Hz, Resolution=310.3009 ns, Timer=TSC
    .NET Core SDK=2.1.300-rc1-008662

[2018-04-25 15:07] mikedn commented on #2594
Can you try using BenchmarkDotNet's [disassembly diagnoser](http://adamsitnik.com/Disassembly-Diagnoser/) to get the disassembly for each test? We need to figure out if the differences are due to a different .NET Core version (unlikely, I'm not aware of any significant changes between the one you're using and the current master build) or due to different CPUs.

[2018-04-25 15:39] janvorli commented on #17738
So it turned out it is exactly the same issue as we have fixed on ARM64 in #4311. The R4 that needs to point to the indirection cell when calling a delegate that's set to a virtual function is not set. However, the fix that we've made for arm64 doesn't work for  arm, since R4 is a callee saved register while on ARM64, we use R11, which is a temporary register.
I am looking into a proper fix that w

[2018-04-25 15:42] RussKeldorph commented on #17738
Thanks @janvorli.  Feel free to hand it off if a JIT change is needed.  Your call.

[2018-04-25 15:57] danwalmsley opened #17774 "Unable to publish project on Linux on 2.1 Preview 2"
Hi, my project built and published no problem on 2.0 and 2.1 Preview 1

but now I get:

[code]
`AvalonStudio.csproj` is a `netcoreapp2.0` project.
`AvalonStudio.Languages.Xaml.csproj`is a `netcoreapp2.0` project
`Avalonia.Designer.HostApp` is also a `netcoreapp2.0` project.

The previous version was happy with this.

The repository containing the code at specific commit to repro is here:
https://g

[2018-04-25 17:01] #6530 closed

[2018-04-25 17:05] jkotas commented on #17738
The special handling of R4 should be taken care of by `COMDelegate::NeedsWrapperDelegate` and `GTF_CALL_M_SECURE_DELEGATE_INV`.

[2018-04-25 17:15] RussKeldorph commented on #6298
@BruceForstall I'm pretty confident the problem is a bug in the version of QEMU we rely on.  I don't know if a newer QEMU would fix it or if that's even an option.  The issue is less pressing since we don't have default-triggered CI jobs using QEMU anymore, but I believe the bug is still relevant until we either fix QEMU or stop using it altogether.  @jashook mentioned a possible way to test `arme

[2018-04-25 17:34] kasper3 commented on #17468
I have experimented with chroot and finally made it work:

Using docker to get Ubuntu with nested virtualization enabled

[code]

entered Ubuntu docker:

[code]

entered alpine armv7 chroot:

[code]

@janvorli, could you please help integrating it in CoreCLR's cross build scripts? The additional toolchain.cmake etc. are confusing, as there we are again setting ABI which is not strictly necessary (

[2018-04-25 18:38] janvorli commented on #17468
@kasper3 that is awesome! Thank you so much for looking into it and making it work!
I'll be happy to do the integration.

[2018-04-25 18:55] AndyAyersMS commented on #8119
Also see #1993

[2018-04-25 19:06] fiigii commented on #8119
@AndyAyersMS Do you have any plan to add forward substitution? That would very good to optimize slow-LEA on x86/x64 architectures.

[2018-04-25 19:14] AndyAyersMS commented on #9219
Not sure we really want to do this; would rather have tests that are primarly testing jitted code.

[2018-04-25 19:17] AndyAyersMS commented on #9223
We have the latest versions now, see #13994.

[2018-04-25 19:17] #9223 closed

[2018-04-25 19:18] AndyAyersMS commented on #9227
We have the latest versions now, see #13994.

[2018-04-25 19:18] #9227 closed

[2018-04-25 19:18] RussKeldorph commented on #17774
@danmosemsft @karelz

[2018-04-25 19:40] AndyAyersMS commented on #10630
See also #6001

[2018-04-25 20:01] briansull opened #17777 "Fix IMPL_LIMITATION on Struct LclVar Offsets for 64-bit targets"
The emitter has a `struct emitLclVarAddr` which has  a limitation on offset values for large LclVars numbers (above 32767)   For our 64-bit targets we can use some extra bits to eliminate this limiation.

[2018-04-25 20:01] dagood opened #17778 "release/uwp6.0 and release/uwp6.1 long-name DAC/SOS have incorrect version (001, expected 01)"
See https://github.com/dotnet/coreclr/issues/17619. The long-name DAC/SOS aren't indexed properly because the DLLs have the wrong name in the symbol packages.

The same problem in `release/1.1.0` is present in `release/uwp6.0` and `release/uwp6.1`:

https://github.com/dotnet/coreclr/blob/9afe551aa13b52d7ebca9aeed1da97edc51b843f/src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/runtime.Windows_NT.Micros

[2018-04-25 20:05] AndyAyersMS commented on #8119
We are starting to form up plans for 2.2. I am trying to get a handle on all the issues already open, and as part of this have been trying to cross-link similar things.

If you have examples in mind where we should generate different code, please make sure they are added to the relevant issues.

[2018-04-25 21:30] jkotas opened #17782 "XPlat C# Debugger is failing to show Async Callstack frames"
Found by @chuckries during scenario testing.

[2018-04-25 21:38] dagood opened #17783 "Publish release/uwp6.0 and release/uwp6.1 symbols Publish symbols using Microsoft.SymbolUploader.Build.Task package"
See https://github.com/dotnet/coreclr/issues/16482. This tracks porting infrastructure to the `release/uwp6.0` and `release/uwp6.1` branches.

[2018-04-25 21:53] fo40225 commented on #2594
[code]
|                           Method |     N |     Mean |     Error |    StdDev |
|--------------------------------- |------ |---------:|----------:|----------:|
|               ManagedAccessArray | 10000 | 1.510 ms | 0.0089 ms | 0.0075 ms |
|          UnsafeAccessArrayOffset | 10000 | 1.383 ms | 0.0270 ms | 0.0379 ms |
| UnsafeAccessArrayOffsetWorkround | 10000 | 1.120 ms | 0.0091 ms | 0.008

[2018-04-25 21:56] RussKeldorph commented on #17761
This issue was moved to dotnet/corefx#29335

[2018-04-25 21:56] #17761 closed

[2018-04-25 21:58] RussKeldorph commented on #17761
@RabdPnguin I moved this to dotnet/corefx#29335 to track the issue @karelz mentioned.  Feel free to open an issue in dotnet/cli or dotnet/core-setup per @steveharter.

[2018-04-25 22:56] redknightlois commented on #1532
@AndyAyersMS given that there are a few workarounds that could be found with sealed types and the actual solution for this is devirtualization of generic ref types I would say that the criteria for closing could be:
- [ ] Are the cases where it works documented?
- [ ] Are the workarounds documented?
- [ ] Are the limitations documented? Or, are there open issues that cover those cases?

If all are

[2018-04-25 22:58] redknightlois commented on #4356
This is pre-intrinsics support issue. IMHO now it is library (CoreFX?) API change request more than anything else.

[2018-04-26 00:00] sdmaclea commented on #16377
@CarolEidt Since you are looking at morph args et al.  Perhaps you can answer my question above?

[2018-04-26 00:14] sandreenko opened #17787 "AF: WaitAll for multiple handles on a STA thread"
Example:
[code]

or on x64:
[code]

to repro on x64:
CoreCLR:
[code]
CoreFX:
[code]

move to the test location:
[code]
run:
[code]

It works fine if you do not pass ` -parallel none`.

Is it something expected? Found during work on #17585.

[2018-04-26 00:15] sandreenko commented on #17787
@BruceForstall  I think you are an expert in corefx tests, have you seen that assert before?
cc @kouvel, @jkotas , @dotnet/jit-contrib

[2018-04-26 00:44] BruceForstall commented on #17787
Looks like a new issue; I haven't seen it, and couldn't find another GitHub issue.

[2018-04-26 00:55] zamont commented on #17778
@dagood `release/uwp/6.0` contains the CoreCLR payload that was shipped with .NET Native 2.0. The CoreCLR that is expected to ship with .NET Native 2.1 is the same. We haven't yet used any `release/uwp/6.1` CoreCLR builds, though this is the branch where we will take servicing fixes.

[2018-04-26 01:11] AndyAyersMS commented on #10980
Think we can close this one.

[2018-04-26 01:11] #10980 closed

[2018-04-26 01:32] sandreenko commented on #17585
The issue is not stable, it happens during different tests every time.

[2018-04-26 03:39] davmason opened #17789 "[local gc] fix com interop issues on local gc"
See https://github.com/dotnet/coreclr/blob/54bdc1681c08cf9230561733d4728bc13cbc494e/src/gc/objecthandle.cpp#L451-L467

[2018-04-26 05:46] jkotas commented on #17787
Hit by `System.Threading.Tests.WaitHandleTests.WaitAll_SameHandles` test:

[code]

[2018-04-26 06:00] jkotas commented on #17787
Small repro:

[code]

.NET Framework throws `WaitAll for multiple handles on a STA thread is not supported.` exception for this.
CoreCLR hits this assert.

[2018-04-26 13:03] daoqiang opened #17790 "ICLRRuntimeHost2，is it multithread safe？"
ICLRRuntimeHost2，is it multithread  safe？
thank you

[2018-04-26 17:52] RussKeldorph commented on #17790
@jkotas Can you redirect or answer?

[2018-04-26 17:55] mikedn commented on #4356
@benaadams attempted to vectorize quaternion here: https://github.com/dotnet/corefx/pull/25510

Looks like there are other JIT issues that needs to be fixed before this can be done.

[2018-04-26 17:58] mikem8361 commented on #10873
The symbol indexing and uploading is now automated.

[2018-04-26 17:58] #10873 closed

[2018-04-26 17:59] mikem8361 commented on #10872
Symbol indexing and uploading is now automated.

[2018-04-26 17:59] #10872 closed

[2018-04-26 18:00] mikem8361 commented on #10868
Symbol indexing and uploading is now automated.

[2018-04-26 18:00] #10868 closed

[2018-04-26 18:01] mikem8361 commented on #17488
Symbol indexing and uploading is now automated.

[2018-04-26 18:01] #17488 closed

[2018-04-26 18:05] mikedn commented on #2594
So your `UnsafeAccessArrayOffset` suffers from the issue with fixed variables:
[code]
@AndyAyersMS AFAIR you fixed this, can't find the PR to link to

[2018-04-26 18:31] sdmaclea commented on #17468
@janvorli Would you be willing to do this for arm64 also.  I think alpine is interesting in arm64 docker scenarios because it is lightweight.

[2018-04-26 18:38] jkotas commented on #17790
cc @jeffschwMSFT

Some of the methods are (like CreateDelegate), some of the methods are not (like CreateAppDomainWithManager).

[2018-04-26 18:41] sergiy-k commented on #17772
@MichalStrehovsky, could you please take a look?

[2018-04-26 18:52] janvorli commented on #17468
@sdmaclea sure, I think there would be only minor differences needed for arm64.

I'll get to it next week, I'm flying home from Redmond this afternoon.

[2018-04-26 19:04] erozenfeld opened #17794 "RyuJIT: Improve checking of GTF_CALL flag"
#13668 enabled strict checking of GTF_EXCEPT and GTF_ASG flags in fgDebugCheckFlags.
The same should be done for GTF_CALL flags.

[2018-04-26 19:05] erozenfeld opened #17795 "RyuJIT: Improve checking of GTF_GLOB_REF flags"
#13668 enabled strict checking of GTF_EXCEPT and GTF_ASG flags in fgDebugCheckFlags.
The same should be done for GTF_GLOB_REF flags.

[2018-04-26 19:07] erozenfeld opened #17796 "RyuJIT: Improve checking of GTF_ORDER_SIDEEFF flags"
#13668 enabled strict checking of GTF_EXCEPT and GTF_ASG flags in fgDebugCheckFlags.
The same should be done for GTF_ORDER_SIDEEFF flags.

[2018-04-26 19:10] erozenfeld opened #17797 "RyuJIT: Add side effect flag checking to LIR::Range::CheckLIR()"
We check for correctness of side effect flags in fgDebugCheckFlags. We should do that for LIR as well in LIR::Range::CheckLIR().

There is a fundamental difference between side-effects in HIR and LIR in that the flags on a node do not need to be a summary of that node's side effects along with those of its operands: instead, the flags for a node should reflect only that node's side effects.

[2018-04-26 19:16] erozenfeld commented on #5999
#13668 fixed gtUpdateSideEffects to be conservatively correct for all flags and exact for GTF_EXCEPT and GTF_ASG. It also enabled checking of GTF_EXCEPT and GTF_ASG in fgDebugCheckFlags.
The work to do the same for the remaining side effect flags is tracked by #17794, #17795, #17796. The work to enable checking of side effect flags in LIR is tracked by #17797.
Closing this issue.

[2018-04-26 19:16] #5999 closed

[2018-04-26 20:40] danmosemsft commented on #9474
@jkotas

I am looking in C:\git\coreclr\src\mscorlib\src\System\ThrowHelper.cs and I do not see reflection. Where am I missing?

[2018-04-26 20:48] danmosemsft commented on #9474
@jkotas do you still think it is worth renaming `coreclr\src\mscorlib` to `coreclr\src\System.Private.CoreLib` ? That seems like the only remaining rename.

[2018-04-26 20:50] jkotas commented on #9474
`Enum.ToString` is reflection call.

[2018-04-26 20:50] danmosemsft commented on #9474
Hmm, there is certainly plenty more reconciliation (merge and move to shared) that can be done between
 C:\git\corert\src\system.private.corelib\src C:\git\coreclr\src\mscorlib\src
although most of it is no longer trivial and would be best attempted with domain knowledge there is some more cosmetic/easier merging that could be done.

[2018-04-26 20:58] jkotas commented on #9474
Yes, about ~100 files.

Here is the list I got from @marek-safar that the Mono team would love to see reconciled to make their sharing with Mono easier:

[code]

[2018-04-26 22:10] echesakovMSFT commented on #17754
Ran couple times `System.Collections.Tests` with JitStress=1 and the tests always pass. Seems that timeout 10m is too tight for this test assembly

[code]

[2018-04-26 22:28] fiigii opened #17798 "Port RayTracer benchmark to SoA algorithm using Vector128/256<T>"
The current SIMD benchmark [RayTracer](https://github.com/dotnet/coreclr/tree/master/tests/src/JIT/Performance/CodeQuality/SIMD/RayTracer) is using `Vector3` to vectorize the basic 3D vector operations. However, this program is an AoS algorithm that cannot leverage wider SIMD operations. So, we should port RayTracer to a SoA algorithm using AVX intrinsics with `Vector256<T>`, then extend it to SSE

[2018-04-26 22:28] fiigii commented on #17798
I will work on this issue, please assign to me.

[2018-04-26 22:30] echesakovMSFT commented on #17755
Ran `System.Runtime.Tests` twice - both times passed with 322.519s and 316.253s with JitStress=1.

[code]

[2018-04-26 22:40] AndyAyersMS commented on #17798
Please make a new benchmark so we have both versions.

[2018-04-26 22:42] fiigii commented on #17798
Yes, this benchmark is only for Intel hardware intrinsic, which will be put in https://github.com/dotnet/coreclr/tree/master/tests/src/JIT/HardwareIntrinsics/X86

[2018-04-26 23:02] AndyAyersMS commented on #17798
Perhaps you should add it over where we have all the other benchmarks:

https://github.com/dotnet/coreclr/tree/master/tests/src/JIT/Performance/CodeQuality

[2018-04-26 23:04] fiigii commented on #17798
Thanks for the suggestion. Will do.

[2018-04-26 23:08] BruceForstall opened #17799 "[arm32] corefx System.Diagnostics.PerformanceCounter.Tests failure"
arm32/Windows corefx test System.Diagnostics.PerformanceCounter.Tests fails:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_baseline_tst/14/consoleText

[code]

[2018-04-26 23:11] BruceForstall commented on #17585
Also JitStress=1:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_jitstress1_tst/14/consoleText

[2018-04-26 23:20] BruceForstall opened #17801 "[arm32] corefx System.Security.Cryptography.X509Certificates.Tests failures"
Windows/arm32 corefx System.Security.Cryptography.X509Certificates.Tests failure, with COMPlus_JitStressRegs=0x1000 or COMPlus_JitStressRegs=3 or COMPlus_JitMinOpts=1

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_jitstressregs0x1000_tst/12/consoleText
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_c

[2018-04-27 01:10] sandreenko commented on #17585
As we found with @jkotas there are several requirements for this issue:
1. `complus_TailcallStress=1`;
2. `caller` that calls `callee` with `TailCallHelperStub`;
3. `callee` throws a hardware exception;
3. another thread that calls `GC.Collect()`

so if GC tries to stop the first thread when it unwinds the stack for the exception then the issue happens.

I have tried to do a small repro, but it ha

[2018-04-27 01:42] jkotas opened #17805 "Floating point formatting changed 2.0 -> 2.1"
Repro:

[code]

.NET Core 2.0: -122.194458007813
.NET Core 2.1: -122.194458007812

Reported by @mjsabby @ Bing

[2018-04-27 01:47] jkotas commented on #17805
Related changes #12894 and #14646.

@tarekgh @mazong1123 Is this change an improvement or regression?

[2018-04-27 07:02] horney0824 opened #17809 "Request safe non-allocation bit converter between value type and byte array"
I always face some needs like write some value type to a chunk of memory (and read back) byte by byte.
But there is no way to write a struct or struct array to an existing byte array for now, except the unsafe pointer way.

Add APIs like below will be a big help:

public static void Write<T>(Span<T> elem, Span<byte>)where T:struct
public static void Read<T>(Span<T> elem, Span<byte>)where T:struct

[2018-04-27 08:49] dotnet-mc-bot opened #17810 "Test failure: Interop_StructPacking._StructPacking_StructPacking_/_StructPacking_StructPacking_cmd"
Opened on behalf of @Sunny-pu

The test `Interop_StructPacking._StructPacking_StructPacking_/_StructPacking_StructPacking_cmd` has failed.
[code]

Build : Master - 20180427.01 (Core Tests)
Failing configurations:
- redhat.69.amd64-x64
  -

Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180427.01/workItem/Interop.St

[2018-04-27 08:53] Sunny-pu commented on #13048
Test failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180427.01/workItem/JIT.Directed.XUnitWrapper/analysis/xunit/JIT_Directed._pinvoke_tail_tail_~2F_pinvoke_tail_tail_cmd

[2018-04-27 10:27] noahfalk commented on #17494
I was able to repro and I believe diagnose it. Given the difficulties others were having reproing and its similarity to existing network issues other NuGet users reported it did appear like a machine issue, but actually it was our old friend the CoreCLR <-> CoreFX version mismatch in disguise. It further convinces me we should spend some additional time to get the automated version updates the fun

[2018-04-27 11:40] kasper3 commented on #16989
Bionic Beaver is officially released, should we do this together with https://github.com/dotnet/coreclr/issues/17468, and try to unify the cross scripts? `build-rootfs.sh` has if-else for different platforms (tizen, debian), but then there is a platform-specific `build-android-rootfs.sh`, we could use one approach (platform specific or single script).

[2018-04-27 12:08] daoqiang commented on #17790
ok,thank you

[2018-04-27 12:10] daoqiang opened #17812 "Whether to support.Net native and how to use it"
Whether to support.Net native and how to use the .net native，
thank you

[2018-04-27 12:35] #17790 closed

[2018-04-27 12:37] jkotas commented on #17812
Take a look at https://github.com/dotnet/corert/

[2018-04-27 12:37] #17812 closed

[2018-04-27 12:44] jkotas commented on #17809
You can write this using `MemoryMarshal.AsBytes(span1).CopyTo(span2)`.

If you believe that this is not good enough and we need a dedicated API for it, please open API proposal issue in corefx repo: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2018-04-27 12:44] #17809 closed

[2018-04-27 12:46] zpodlovics commented on #17576
@vectorix It's not that hard to build the basics that is still competetive, take a look at this high level virtual machine + generics + shadow stack GC in a few lines of code (~3700) written in F# + LLVM. You could write your own codegen in a few lines of code (eg.: MinCaml: https://esumii.github.io/min-caml/index-e.html). You can even create your own types/abstractions that could be specialized t

[2018-04-27 13:49] danmosemsft commented on #17494
@stephentoub anything need fixing?

[2018-04-27 14:59] stephentoub commented on #17494
What code?

[2018-04-27 15:32] CarolEidt opened #17815 "HW intrinsics shouldn't assert for unsupported"
For example, here:
https://github.com/dotnet/coreclr/blob/master/src/jit/hwintrinsicxarch.cpp#L816
As described in the comments for https://github.com/dotnet/coreclr/pull/17737, this can lead to an assert in the case where the user knows the path will not be taken. Such cases should simply return `nullptr` so that the IL method will be invoked.

[2018-04-27 15:38] sergey-kanaev opened #17816 "ResourceManager doesn't take the SatelliteContractVersion attribute into account"
I have a third-party .NET Standard 2.0 class library built with MSBuild via VisualStudio. The library has the SatelliteContractVersion attribute. The corresponding satellite assembly with localization resources has an assembly version that differs from the main library's assembly version.
The main assembly is loaded successfully by the .NET Framework 4.6.1 and .NET Core framework. But the satellit

[2018-04-27 16:54] mjsabby opened #17817 "Exception.ToString() throws an exception when it encounters a frame that requires opening a regular PDB"
I seem to recall this (or something close to this) was reported for .NET 2.0. I did a quick search on the repo, but didn't find a duplicate.

The callstack below is for code that called `ToString()` on an Exception. It fails on a frame where the method debug information is in a regular PDB.

It's probably a coin-toss where it is easier to fix (here or CoreFX). I'm also interested in just fixing th

[2018-04-27 17:57] echesakovMSFT commented on #17753
`System.Net.NetworkInformation.Functional.Tests` fails when running test method `System.Net.NetworkInformation.Tests.NetworkInterfaceBasicTest.NetworkInterface_LoopbackInterfaceIndex_MatchesReceivedPackets`:

[code]

[2018-04-27 18:00] fiigii commented on #17815
Thanks for opening this issue. Perhaps, this assertion should be moved to codegen to avoid invalid instruction encoding.

[2018-04-27 18:01] erozenfeld commented on #17632
This test failed with the same output yesterday in x64_checked_windows_nt_minopts: https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_minopts/498/consoleText

[2018-04-27 18:10] fiigii opened #17818 "Post-2.1 plan of Intel hardware intrinsic"
1. Refine the API design of Intel hardware intrinsic
    - related issues/PRs: https://github.com/dotnet/coreclr/pull/17637, https://github.com/dotnet/corefx/issues/29247
2. Implement remaining AVX2 intrinsic [rely on (1)]
    - related issues/PRs: https://github.com/dotnet/coreclr/issues/16653
3. Implement remaining SSE4.2 intrinsic [rely on (1)]
    - related issues/PRs: https://github.com/dotne

[2018-04-27 18:11] echesakovMSFT commented on #17753
`System.Net.Sockets.Tests` receives `SIGSEGV` when running tests method `System.Net.Sockets.Tests.IPPacketInformationTest.GetHashCode_NonDefaultValue_Succes`:

[code]

[2018-04-27 18:12] fiigii commented on #17818
cc @CarolEidt @AndyAyersMS @jkotas @tannergooding @mikedn

Please feel free to improve the above list.

[2018-04-27 18:13] echesakovMSFT commented on #17753
Also `System.Net.Sockets.Tests` hangs when running test method `System.Net.Sockets.Tests.NetworkStreamTest.ReadWrite_Memory_LargeWrite_Success`

[2018-04-27 19:39] mjsabby commented on #17817
Closing in favor of https://github.com/dotnet/corefx/issues/29375

[2018-04-27 19:39] #17817 closed

[2018-04-27 19:47] RussKeldorph commented on #17753
This issue was moved to dotnet/corefx#29376

[2018-04-27 19:47] #17753 closed

[2018-04-27 19:51] RussKeldorph commented on #17799
This issue was moved to dotnet/corefx#29377

[2018-04-27 19:51] #17799 closed

[2018-04-27 20:12] mikedn commented on #17073
Expanded JCC condition support available in #17733

[2018-04-27 20:16] RussKeldorph commented on #17810
I suspect this is related to #16751 or will be resolved once we build and restore packages on Unix properly.

[2018-04-27 20:34] noahfalk commented on #17494
I already sent @karelz  an email with all the details last night for networking aspect. Its arguable whether there will enough other issues similar to the obscure case we had here to make it worth changing and I didn't spend time trying to understand the constraints they were under to write the exception handling the way it is.

[2018-04-27 20:37] danmosemsft commented on #17774
@steveharter any idea where this should go?

[2018-04-27 20:39] RussKeldorph commented on #17816
@jeffschwMSFT

[2018-04-27 20:51] AndyAyersMS commented on #1784
Hmm, Egor's fork seems to be dead. Trying to see where the code went. @echesakov ?

[2018-04-27 21:01] karelz commented on #17774
Aren't these NuGet errors?
@danwalmsley did you retarget your project to 2.1 Preview2? Does it fail only during publish, or also during build?
Are you able to minimize the repro to standalone projects referencing the suspicious NuGet packages?

[2018-04-27 23:44] jkotas commented on #17787
I think it should be ok to fix this for major version update (ie for 3.0).

There is a related problem in that we do not set the apartment to MTA by default (if you do not have any attributes on Main). .NET Core 1.x and 2.0 shipped like that, and we did not want to fix this for 2.1. .NET Framework explicitly sets the apartment to MTA. We may want to fix both these together.

[2018-04-28 00:09] echesakovMSFT commented on #17754
`System.Transactions.Local.Tests` hangs intermittently during `System.Transactions.Tests.AsyncTransactionScopeTests.VerifyBYOTAsyncTSNestedAsync`:
[code]

Sometimes it passes the test though:
[code]

[2018-04-28 00:10] kouvel commented on #17787
I see, I'll file an issue for that and will slate both for 3.0

[2018-04-28 00:11] kouvel commented on #17787
[Milestone = 3.0]

[2018-04-28 00:18] kouvel opened #17822 "Main thread is not CoInitializeEx'ed to MTA by default"
When the attribute is not present. Forked from https://github.com/dotnet/coreclr/issues/17787. Fixes for both issues would be breaking changes and should be fixed for the next major version release (3.0).

https://github.com/dotnet/coreclr/blob/53450d7cd4f3d73aa976d2d6be96a3bfe6c028c9/src/vm/assembly.cpp#L1804 and `SystemDomain::SetThreadAptState` would need to be fixed (`state` is `AS_Unknown` at

[2018-04-28 00:19] briansull opened #17823 "Ensure that any byrefs created in genCodeForIndexAddr cannot point outside of the array"
For Arm/arm64 in `CodeGen::genCodeForIndexAddr(GenTreeIndexAddr* node)` we need to insure that we don't create a byref that might point outside of the array object.

[2018-04-28 00:29] sywhang opened #17824 "Concurrent GC enabled with multiple env vars"
Concurrent GC can be enabled by setting environment variable COMPlus_gcConcurrent=1

There is another variable that sets this: CORECLR_CONCURRENT_GC.

We should only have one variable that sets concurrent GC instead of having multiple of them.

Similar issue to https://github.com/dotnet/coreclr/issues/17760

[2018-04-28 00:34] sandreenko commented on #17787
Can we have a fix under a flag like `complus_allow_corefx_parallel_one=1` for our internal needs in master?

[2018-04-28 00:40] jkotas commented on #17787
I think it should be fine to comment out the assert in master (no need for a config switch).

[2018-04-28 01:10] fo40225 commented on #2594
[code]

Roslyn 2.6.0 has fixed this issue.

[2018-04-28 01:16] ygc369 commented on #1784
@AndyAyersMS @echesakovMSFT
Do you know when we would have official escape analysis?

[2018-04-28 01:17] mikem8361 commented on #17701
Fixed in PR https://github.com/dotnet/corefx/pull/29359 and PR https://github.com/dotnet/coreclr/pull/17804

[2018-04-28 01:18] mwoo-o opened #17825 "SEHException occurs VS 2017 Remote Debugging on Windows to debug Linux ASP.NET Core application"
Application Environment: Oracle Linux 7.4 (RedHat 7.4)
Debugging Environment: Visual Studio Enterprise 2017 v15.6.6 on Windows
.NET Core SDK Version on both Windows and Linux: 2.1.101

VS is able to attach the Linux ASP .NET Core process in the debugger.  However, when trying to step over or continue the execution, SEHException occurs.  Here is the exception information:
 - Data: System.Collection

[2018-04-28 02:24] echesakovMSFT commented on #17801
This issue is not reproducible under any of these flags `COMPlus_JitStressRegs=0x1000` or `COMPlus_JitStressRegs=3` or `COMPlus_JitMinOpts=1` on Windows/arm machine I have.

I noticed that all failed test runs were done on the same machine `ARM64-AMD-053` and I suspect that this could be a reason of these failures.

/cc @RussKeldorph @jashook @BruceForstall

[2018-04-28 03:15] AndyAyersMS commented on #1784
Egor restored the branch and I updated it to build versus master here: [master...AndyAyersMS:StackAllocation](https://github.com/dotnet/coreclr/compare/master...AndyAyersMS:StackAllocation). Also started looking into what it would take to stack allocate a simple delegate that is directly invoked. Still work to do here as the error path also causes the delegate to escape.
[code]
Note somewhat parad

[2018-04-28 03:37] benaadams commented on #1784
Would that mean a method delegate; which C# still doesn't cache, actually has an advantage for stack allocation?

[code]

[2018-04-28 09:00] martinmine commented on #17701
@noahfalk @mikem8361 In which version(s) of .NET Core will we be seeing this get patched in?

[2018-04-28 11:44] masums commented on #14010
But there should have any way to prevent app crash for StackOverflowException because for that full web app crashes. Which is an unexpected behavior.

[2018-04-28 12:57] benaadams opened #17827 "Should FEATURE_APPX be enabled in coreclr builds?"
`AppDomain.Flags` is behind `#if FEATURE_APPX`

[code]
However its output in a crossgen build?
[code]
/cc @jkotas @danmosemsft

[2018-04-28 13:15] jkotas commented on #17827
APPX = UAP = UWP = Windows Store apps

Yes, it is expected to be enabled. We use same CoreCLR build for both Win32 and UAP. If we wanted to disable it for Win32, we would need to start building a new CoreCLR build flavor for UAP.

[2018-04-28 13:28] jkotas commented on #17824
`CORECLR_CONCURRENT_GC` is corerun specific hack. corerun is our non-shipping host for our internal use. It should be fine to just remove this one.

[2018-04-28 13:28] jkotas commented on #17760
`CORECLR_SERVER_GC` is corerun specific hack. corerun is our non-shipping host for our internal use. It should be fine to just remove this one.

[2018-04-28 13:35] benaadams commented on #17827
Ah, it was showing up in traces, mainly thought it was odd rather than problematic

[2018-04-28 13:44] #17827 closed

[2018-04-28 14:10] omariom opened #17828 "[JIT]: Stack allocation to Span"
I looked at what IL and x86 code is generated for different ways of allocating memory on stack
and think there is room for optimizations.

1. Roslyn could generate better IL for `Span<byte> span = stackalloc byte[512];` (see `StackAllocFixedAsSpan`). It should be similar to the IL generated for `byte* ptr = stackalloc byte[512];` (`StackAllocFixedAsPtr`). I will create  an issue in Roslyn repo for

[2018-04-28 15:51] jkotas commented on #17828
cc @AndyAyersMS

[2018-04-28 18:04] mikem8361 commented on #17701
Currently version 2.2.  @Petermarcu @leecow @tommcdon Does this meet the 2.1 bug bar?

[2018-04-28 18:47] AndyAyersMS commented on #1784
I suppose so, though it is a funny kind of advantage.

There is a natural tension in places between doing optimizations very early, when generating IL, or waiting until later and trying to do them in the JIT. Often times doing the former makes the latter more difficult. We see this here for the noncapturing case in various ways -- the use of statics, cctors, and even the use of `dup` to pend a val

[2018-04-28 19:43] Petermarcu commented on #17701
Worth having a discussion about risk/reward. Clearly writing down the E2E scenarios that are impacted by this so everyone understands the value in taking the fix late in 2.1 will help make or break the case for it.

[2018-04-28 23:09] benaadams commented on #1784
Been having a look at where method group conversions occur in coreclr and they are mostly then stored in a heap variable (e.g. param to delegate .ctor, that then gets passed somewhere else) - so you are right caching would probably be the more effective approach as they wouldn't be viable as stack only 😢

[2018-04-29 00:26] sywhang commented on #17760
@jkotas, I'll remove ```CORECLR_SERVER_GC``` and ```CORECLR_CONCURRENT_GC```, and make COMPlus_gcServer and COMPlus_gcConcurrent be the only env var to enable server / concurrent GC.

[2018-04-29 13:25] RussKeldorph commented on #17825
@dotnet/dotnet-diag @dotnet/debugger-team

[2018-04-29 19:39] danwalmsley commented on #17774
@karelz dotnet build works on its own.

I left the project files as they were .netcoreapp2.0.

I will have a go at minimizing the repro.

[2018-04-29 20:53] gregg-miskelly commented on #17825
@mwoo-o What version of vsdbg are you using (look at version.txt next to it)?
Can you grab a log from VS? https://github.com/Microsoft/VSDebugAdapterHost/wiki/Logging

[2018-04-30 04:29] AntonLapounov commented on #17462
As @mikedn mentioned above, for `int` division those two expressions are not equivalent.  For instance, they give different results for (-1, 0) and (1, `int.MaxValue`) pairs.

[2018-04-30 06:14] sandreenko commented on #16001
System.Runtime.Tests was excluded from the ci testing by #17803, because of the stress mode failure #17585, but as I see from previous ci and my local runs it does not pass without stress mode as well, for [example](https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_baseline_tst/13/consoleText):
[code]

In my local runs it usually fails

[2018-04-30 15:14] jeffschwMSFT commented on #17731
@daoqiang CreateDelegate only supports static methods.  Were you able to get up and running with the sample code?

[2018-04-30 15:18] BruceForstall commented on #16001
This should be fixed.

If you haven't found a GitHub issue, please open one.

[2018-04-30 15:53] danwalmsley commented on #17774
@karelz the references are Project references not Nuget packages.

Im trying to get you a minimal repro asap.

[2018-04-30 16:05] tobyash86 commented on #17125
Basically, I am implementing code analyzer using Roslyn and I need to pass these assemblies into the parser to resolve types from them. Currently, I am using data from projects.assets.json file to get those paths.

[2018-04-30 16:13] jeffschwMSFT commented on #17125
Great.  I am going to close this question for now.  But feel free to reach out if you have any other questions.  We are actively looking into loading dependencies so all this feedback is appreciated.

[2018-04-30 16:13] #17125 closed

[2018-04-30 16:29] jkotas commented on #17125
You may get better answer to your question in https://github.com/dotnet/roslyn-analyzers or https://github.com/dotnet/sdk repos. CoreCLR repo is not the best place to ask questions about the build tooling.

[2018-04-30 17:15] jeffschwMSFT commented on #14263
@fir3pho3nixx thanks for raising this discussion.  From the point of view of understanding the pain you, and others, are seeing in versioning and binding I feel we have good insight to start with.  From the point of view of your initial question, do you have any additional follow-up items?  We currently have a number similar threads tracking the work we are exploring in the space.

[2018-04-30 17:26] jeffschwMSFT commented on #17448
Request part of #11298 closing this issue

[2018-04-30 17:26] #17448 closed

[2018-04-30 17:27] sandreenko opened #17835 "[arm/corefx] System.Tests.TypedReferenceTests.NegativeMakeTypedReference fails"
[ci run](https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_baseline_tst/13/consoleText) shows:
[code]

local runs fail with:
[code]

link  https://github.com/dotnet/coreclr/issues/16001#issuecomment-385319873.

Probably it will fix #17585.

[2018-04-30 18:08] GiuseppePiscopo commented on #13277
I struggled for some time then, without any real progress. At that time I think I came through the issue "by chance", because the user test project was referencing a version of Json.Net (what else? :-P ) while the test runner was depending on another version of that.

I thought about removing test runner dependency from Json.Net altogether, to reach a point of zero-dependencies apart from the syst

[2018-04-30 18:25] BruceForstall commented on #17801
Maybe we can verify whether the tests fail on one or more of the CI machines, and see if indeed only `ARM64-AMD-053` has a problem, in which case maybe we should consider whether we need to reimage it.

[2018-04-30 19:39] jeffschwMSFT commented on #8894
@stephentoub this is a pretty old issue.  I took a look today at the test and it is dreadfully simple (calls a valuetype that overrides ToString).  The comment in the test indicates that this behavior had regressed in the past due to a precode issue.  I ran this test in a loop (10k+) on a ret and dbg version of coreclr and it passed.  Was this test disabled?  If so I think it would be worth re-ena

[2018-04-30 20:12] alexbihary commented on #9946
Checking in again. Is there a chance this gets some love this year? Appreciate all your efforts.

[2018-04-30 20:29] AndyAyersMS opened #17838 "JIT: volatile compares should not be foldable"
[code]
currently generates:
[code]
Folding the compare is unsafe in general.

See also the somewhat related #6172.

[2018-04-30 20:56] stephentoub commented on #8894
To my knowledge the test isn't disabled (or, at least, I didn't disable it).  I'll close the issue.

[2018-04-30 20:56] #8894 closed

[2018-04-30 21:12] sdmaclea commented on #17777
@briansull It looked like #17793 was intended to fix this.  However it is not closed and the test added by #17793 is failing on linux-arm64.  Should I open  separate issue, or is this still supposed to be open?

[2018-04-30 21:31] briansull commented on #17777
Yes, I thought that #17793 would fix the test case that I added for all platforms.

There may be a different issue on Arm64 that is causing the test to fail.

I am holding off on checkin in this change.

[2018-04-30 21:35] briansull commented on #17777
I am seeing the Arm64 failure:

 Assertion failed 'emitCurIG != emitPrologIG' in 'Repro.Program:Test

So we should open am issue for that (assuming thta iis what we see on Linux as well.

[2018-04-30 21:56] mikem8361 commented on #17701
The main E2E scenarios is the use of System.Diagnostics.StackTrace or System.Exception.StackTrace to log source/line number info is certain frameworks like SharpDX, GrandTheftAuto mod ([520727](https://devdiv.visualstudio.com/web/wi.aspx?pcguid=011b8bdf-6d56-4f87-be0d-0092136884d9&id=520727)), [IKVM library](http://www.ikvm.net/) used in Belgium, etc.  on the desktop. More details in issue [#529](

[2018-04-30 21:59] sywhang commented on #17760
Fixed with https://github.com/dotnet/coreclr/pull/17837

[2018-04-30 21:59] #17760 closed

[2018-04-30 21:59] sywhang commented on #17824
Fixed with https://github.com/dotnet/coreclr/pull/17837

[2018-04-30 21:59] #17824 closed

[2018-04-30 22:01] sdmaclea opened #17841 "[Arm64] GitHub_17777 - Assertion failed 'emitCurIG != emitPrologIG' in"
JIT/Regression/JitBlue/GitHub_17777/GitHub_17777/GitHub_17777.sh

[code]

[2018-04-30 22:01] sdmaclea commented on #17777
Opened #17841

[2018-04-30 22:03] BruceForstall commented on #6273
@hqueue seems reasonable to leave open to track for RyuJIT enhancement.

[2018-04-30 22:07] tobyash86 commented on #17125
Great, I will be looking forward for some usable solution.

I wasn't asking how to pass dependencies into Roslyn - I am already doing it. I was asking how to locate project dependencies which are used at compile time. Using projects.assets.json is far from perfect. I was looking for some schema for it, but I have found notning.

[2018-04-30 22:12] AndyAyersMS commented on #17818
The goal should be to have HW intrinsics be in shape to be fully supported.

Seems like the overall priorities are good:
* finish off current implementations
* get mileage on the existing APIs to evaluate usability
* start looking at CQ, especially when intrinsics are used in combination or with things like Vectors, and identify areas that need work.

IIRC there were some not fully resolved design

[2018-04-30 22:25] echesakovMSFT commented on #17754
`System.Text.RegularExpressions.Tests` issue is also reproducible on Windows/arm (e.g. https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_minopts_tst/11/consoleText)
[code]

[2018-04-30 22:48] echesakovMSFT commented on #17801
I confirmed that this issue is specific to `ARM64-AMD-053` and not a real coreclr issue.

There are also similar failures https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_corefx_baseline_tst_prtest/13/consoleText caused by
`Internal.Cryptography.CryptoThrowHelper+WindowsCryptographicException : The system cannot find the file specified` during the fol

[2018-04-30 22:58] briansull commented on #17823
Fix available in https://github.com/briansull branch byref-fix

[2018-04-30 23:01] redknightlois commented on #17818
There are a few pain points in the interface to deal with HW intrinsics, mostly on the ```StaticCast<T>``` front that probably could be handled through library implicit conversions and overloads.

[2018-04-30 23:06] fiigii commented on #17818
@AndyAyersMS Thank you so much for the suggestions, updated the list.

[2018-04-30 23:08] plioi commented on #13277
@jeffschwMSFT No update, though in my case just setting AppDomain-like in-process isolation aside as a goal and instead shelling out to a separate process happened to be the right solution for my problem anyway.

[2018-04-30 23:13] fiigii commented on #17818
Good point. But I am afraid and not sure that "implicit conversions" may confuse the front-end compiler (Roslyn) and IDE to determine which overload users actually want.
Moveover, `StaticCast<T, U>` is important to let HW intrinsic work with generic code (i.e., `StaticCast<T, float>(Sse.Add(...))` to return a generic `Vector128<T>`). Does implicit conversion help to this case?

[2018-04-30 23:17] redknightlois commented on #17818
They will have to be done with care, that is either implicit and/or overloads could be the way to go. Currently ```StaticCast<T,U>``` clutters the code a bit too much. There must be some non-obvious compromise that could work.

[2018-04-30 23:30] AndyAyersMS commented on #1784
Brief update:
* importer doesn't know that some temps are inherently non-null, so can't fold away the null this in delegate check. This fact eventually surfaces during optimizations but this is too late for current placement of escape analysis. I have a prototype fix for this and now we see the delegate does not escape.
* the closure (which is only referenced by the delegate) still escapes. Not cl

[2018-05-01 00:26] #17701 closed

[2018-05-01 00:46] CarolEidt commented on #17818
Although the first item captures the broad issue of API design and usability, it would be worth calling out that, beyond getting CQ data, we also want to use scenarios to drive usability. @redknightlois points out one concern, but we should also seek usability feedback more broadly.

[2018-05-01 01:12] echesakovMSFT commented on #17754
`System.Xml.RW.XmlConvert.Tests` took 856s and succeeded on my Ubuntu/arm device.
`System.Text.Encodings.Web.Tests` took 695s in baseline and 687s with `COMPlus_JITMinOpts=1` and also succeeded on my Ubuntu/arm machine.

I consider increasing timeout to 20min in `corefx/run-test.sh` and enable those test assemblies in #17836.

`System.Text.RegularExpressions.Tests` uses `RemoteInvoke` mechanism fo

[2018-05-01 03:46] stephentoub commented on #17782
@jkotas, with https://github.com/dotnet/coreclr/pull/17786 merged, can this now be closed?

[2018-05-01 03:54] #17782 closed

[2018-05-01 03:55] RussKeldorph commented on #17782
Yep.

[2018-05-01 04:27] sandreenko commented on #17835
Yes, thanks Jan.

[2018-05-01 04:27] #17835 closed

[2018-05-01 05:51] daoqiang commented on #17731
@jeffschwMSFT Yes, I have succeeded in making my functions now. Thank you very much.

[2018-05-01 09:34] albigi commented on #16106
thanks @Maoni0 we eventually ran a PerfView trace and tracked this down to a leak of custom objects hooked up to System.ServiceModel and never released after performing WCF client calls
bottom line the memory consumption was actually legitimate and gen2 survivors were starving the whole heap eventually causing very bad performance due to frequent GCing

[2018-05-01 11:38] Donpedro13 commented on #17669
Not to be pushy or anything, but I'm fairly confident this is a bug in clr.dll (I noticed you've tagged this issue as "question", and not "bug"). I have a repro on my work machine (it's not a minimal repro, unfortunately), I can provide you with full dumps or TTD traces, if you'd like to investigate.

[2018-05-01 14:17] JoeStead opened #17850 "Can not load or initialize libmscordaccor.so when debugging a coredump in lldb"
We have a coredump from our application that was built using the .NET Core 2.0.3 SDK, a standalone app. The application was running on CentOS7.

To perform some analysis on the dump, I've exported the file onto an Ubuntu 16.04 VM, with `lldb-3.6` installed, and the same .NET Core SDK Version that was used to build the application.

I'm launching lldb like this:

`lldb-3.6 /usr/bin/dotnet --core ./

[2018-05-01 15:49] #17731 closed

[2018-05-01 15:51] CarolEidt commented on #17756
I was unable to repro this, and rerunning JitStressRegs=0x10 with the test re-enabled now passes.

[2018-05-01 15:51] #17756 closed

[2018-05-01 15:53] jeffschwMSFT commented on #13277
@GiuseppePiscopo sorry to hear this is still blocking.
Thanks @plioi for the update.  Out of process is a preferred option for isolation, if possible.  What, if anything, are you using for cross process communication?  (if you don't mind sharing)

[2018-05-01 15:59] echesakovMSFT opened #17851 "[Linux][arm][MinOpts] Segmentation fault in System.Xml.Linq.Events.Tests"
**Segmentation fault** in `System.Xml.Linq.Events.Tests` https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_corefx_minopts_tst_prtest/3/consoleText
[code]