[2016-04-27 18:24] sejongoh commented on #4607
native function:
[code]

Stub function
[code]

[2016-04-27 18:29] jkotas commented on #4402
The public and MS-internal windbg builds have different behaviors. In the public builds, you can get the managed stacktrace via the sos command only. In the MS-internal builds, you can get the managed stacktrace via regular `k` command as well.

[2016-04-27 18:31] janvorli commented on #4607
One more thing - could you please also dump the IL of the stub?

[2016-04-27 18:33] wesrupert opened #4623 "Unable to hijack thread in empty while (true) loop"
One of our tests was checking funceval timeout on a function with the body `while (true) { ; }`. This timed out properly on windows but wouldn't terminate on OSX or Ubuntu.

[2016-04-27 18:38] sejongoh commented on #4607
stub IL
[code]

[2016-04-27 18:50] mjsabby commented on #4536
I've seen FUSION_E_REF_DEF_MISMATCH with R2R image being tried to load. If someone investigates this and it does turn out to be that could we explain it here?

[2016-04-27 19:48] pgavlin commented on #4619
cc @jkotas @JohnChen0

[2016-04-27 19:52] pgavlin commented on #4538
@richlander do we have an explanation of the deployment strategy for .Net Core somewhere?

[2016-04-27 20:54] jkotas commented on #4619
cc @janvorli @gkhanna79 Another place where not having native platform images is hurting us.

We could consider switching over to R2R image even for mscorlib to mitigate the dirty memory hit, but it will cause more JITing. @JohnChen0 Could you please take a look at this once the generic support for R2R is implemented? We should understand the startup time hit from doing so.

[2016-04-27 21:30] sivarv opened #4628 "[RyuJIT][Unix][SIMD] Codegen of GT_RETURN(lclvar) where lclvar is a SIMD Vector3/4 requires lclvar is marked as DoNotEnregister"
Due to this codegen implementation limitation of Unix, returning a SIMD Vector3/4 struct from a method has to go through memory unnecessarily. This issue tracks the work required to eliminate this limitation.

[2016-04-27 21:34] sivarv opened #4629 "[RyuJIT][Linux][SIMD] Codegen of LclVar=GT_CALL where call is returning a SIMD Vector3/4 requires that LclVar be marked as DoNotEnregister"
Due to this codegen implementation limitation, SIMD vector3/4 type return value from a call has to go through memory unnecessarily.  This issue tracks the work required to eliminate this limitation

[2016-04-27 21:55] #2405 closed

[2016-04-27 22:37] AlekseyVereshchagin opened #4630 "How to build demo project with dotnet-cli toolchain and run it with compiled corerun?"
I built CoreCLR and CoreFX from sources according to build [instruction](https://github.com/dotnet/coreclr/blob/master/Documentation/building/linux-instructions.md) for Linux on Ubuntu 14.04.
How should I build and run demo project now? Can I use [dotnet-cli](https://github.com/dotnet/cli) toolchain to generate new project and restore dependencies? How should I build and run demo using fresh compi

[2016-04-27 22:43] seanshpark commented on #4589
I didn't notice `(x86_64)` , `(arm)` . Have the same result as you.

[2016-04-27 22:55] parjong opened #4631 "'runtest.sh' shows some suspicious messages"
I found the following message while running CoreCLR unittests:
[code]
It seems that there is some type in the test script.

[2016-04-27 23:32] parjong commented on #4631
CC @jyoungyun

[2016-04-28 00:02] manu-silicon commented on #4584
Thanks

[2016-04-28 00:05] sejongoh commented on #4529
It looks like the address of the return buffer from the callback function is zero.

[code]

Without JitStressRegs=1, rax is used for the return buffer address on the managed side. JitStressRegs=1 uses rsi instead of rax but it looks like there is no move from rsi to rax. I will double check this.

[2016-04-28 00:13] gregg-miskelly opened #4634 "Unix hosting APIs (coreclr_initialize, etc) should use UTF-8 on all platforms"
Currently the CoreCLR hosting APIs (coreclr_initialize, etc) are using UTF-8 on Unix, but regular only MBCS strings on Windows. This means that they cannot support Unicode characters in paths.

These APIs should change to use UTF-8 characters on all platforms, or they should be removed for Windows since they are broken.

[2016-04-28 00:16] chunseoklee commented on #4617
[code]
It seems that my ARM32 emulator is based on linux kernel 4.3.

[2016-04-28 00:20] gkhanna79 commented on #4634
CC @janvorli @schellap

[2016-04-28 00:22] schellap commented on #4634
This PR would have to be reverted to go back to UTF8. With current code in the cli repo, this is a 1 line change.

https://github.com/dotnet/cli/pull/2673

[2016-04-28 00:24] schellap commented on #4634
@janvorli are we supposed to use a different API on Windows? Or CoreCLR would make this change?

[2016-04-28 01:25] kyulee1 commented on #4615
Looking at this issue, it appears `ldr x0, <label>` is not the right one either.
`adr x0, <label>` should be a right form. But this only can express address range within +- 1MB using 21bit only which is impractical in the common case
I was surprised that we only support this 21bit fix-up at this point both in VM/Zap/Jit.
We should have additional fix-up (12 bit for page offset) so that we can comp

[2016-04-28 01:41] jyoungyun opened #4635 "Failed to build coreclr with ARM softfp"
When I tried to build coreclr with ARM softfp, it is failed.
This is happening because TOOLCHAIN is not defined in the case of ARM softf.

error log:
[code]

CMakeLists.txt
[code]

cross/arm/toolchain.cmake
[code]

cross/arm-softfp/toolchain.cmake
No specified.

[2016-04-28 02:16] leemgs commented on #4583
Good  news. It seems that I have almost found a correct answer to resolve this issue by digging the related below source codes as following. I will shortly make a 2nd version to replace the existing PR (workaround).

* GCC/(e)Glibc Ports:
GCC's Internal TLS Library - https://github.com/gcc-mirror/gcc/blob/master/libgcc/emutls.c
glibc's __tls_get_addr (ARM) - https://sourceware.org/git/?p=glibc.git

[2016-04-28 02:47] shaunluttin commented on #989
We're receiving an error like this:

We've tried adding `"System" : "4.0.0.0"` to our dependencies with no luck.

[2016-04-28 02:55] davidfowl commented on #989
You can use .NET Framework dlls on .NET Core. You have to recompile

[2016-04-28 04:38] jyoungyun commented on #3977
@masonwheeler Yes! The #4460 reduced half of failing tests. :)

[2016-04-28 04:44] jyoungyun commented on #3977
Target: Raspberry Pi2
Coreclr commit id: 18268be + #4503 + #4581
[code]
And I found the reason why my tests discovered count is different with others.
My test directory structure was wrong. Now it's the same with others. :)

[CoreClr_UnitTest_Results_160428.zip](https://github.com/dotnet/coreclr/files/239808/CoreClr_UnitTest_Results_160428.zip)

[2016-04-28 05:05] leemgs commented on #3977
@jyoungyun , It's amazing. : ) BTW, Is https://github.com/dotnet/coreclr/commit/18268beae931cbd4d110959ea53d785b193eceb1 related to the number of the reduced failure? It seems that it is not related to the failure numbers of the unit test for Linux/ARM.

[2016-04-28 05:05] manu-silicon commented on #3977
@jyoungyun If possible, it would be nice to know how many tests each bug fix addresses.

[2016-04-28 05:06] manu-silicon commented on #3977
@jyoungyun Out of curiosity, how long does it take you to run all the tests. For me on the Jetson TK1, it takes roughly half a day.

[2016-04-28 05:15] myungjoo commented on #3977
@manu-silicon We will be pushing out patches that accelerate the execution of corerun at ARM soon. @leemgs is preparing PR for that (release build bugfix)

[2016-04-28 05:16] janvorli commented on #4607
@sejongoh the IL is unfortunately from another stub (see the parameters - IL_STUB_ReversePInvoke(int,struct,long,struct))
But I have carefully analyzed the transfers between stack slots and registers and I can see where the problem is in the assembler code of the stub.
The `Z` member that's wrong is first stored to `rbp-68h`, then to `rbp-98h`, but the final transfer to `rsp+10h` is missing.
The `

[2016-04-28 05:18] leemgs commented on #3977
For reference, @manu-silicon has shared the hardware specification that he used for getting the result of unit test.  Here is the detail contents of his development board.
* http://elinux.org/Jetson_TK1 (using Quad-core Cortex-A15 CPU and 2GiB RAM).

[2016-04-28 06:03] leemgs commented on #4635
@jyoungyun , Please share the build commands that you typed at that time.

For instance,
u14.04.64$> cd ./coreclr/
u14.04.64$> sudo ./cross/build-rootfs.sh
u14.04.64$> sudo cp -arf ./cross/arm /work/dotnet/rootfs-coreclr/
u14.04.64$> time ROOTFS_DIR=/work/dotnet/rootfs-coreclr/arm  ./build.sh arm debug clean cross

[2016-04-28 06:58] leemgs commented on #3805
@brucehoult , Could you upload https://dncorerepo.blob.core.windows.net/armemulator/linux-arm-emulator-20160426-1600.2.tar.pbz2  to http://hoult.org/coreclr/ ? The difference is just symbolic link of libunwind.so and typo of the prompt.

[2016-04-28 07:17] brucehoult commented on #3805
Done. http://hoult.org/coreclr/linux-arm-emulator-20160426-1600.2.tar.pbz2

That's quite a small change for 24 MB bigger.

[2016-04-28 07:52] myungjoo opened #4638 "ARM/Linux "seh_tests" unit test fails"
CoreCLR unit test case of "JIT.IL_Conformance.Old.objectmodel.seh_tests.seh_tests" fails in ARM/Linux:

[code]
, where the exit code is supposed to be 100.

It looks like that exception handling for this instance is not working well.

ps. I'm traversing each failed unit test case of https://github.com/dotnet/coreclr/issues/3977 . Many of the current 395 failed cases seem to be caused by simple run

[2016-04-28 07:58] brucehoult commented on #3805
@leemgs could I ask you to add the following to option 3 (make_arm_build_env) in start.sh ?

if ! uname -m | grep -q arm;then QEMU=qemu-arm-static; fi

And then use $QEMU instead of qemu-arm-static in the chroot command.

With this change, start.sh option 3 works to run the environment on real hardware such as Raspberry Pi.

[2016-04-28 08:01] parjong commented on #4638
@myungjoo #4503, #4581 seems to be related with this issue. When those patches are applied, CoreCLR from c4767162f22398e553d70c8099d25bfe478a439a works as expected (if it is built with Debug mode).

[2016-04-28 08:21] myungjoo commented on #4638
@parjong As https://github.com/dotnet/coreclr/pull/4581 looks counter-intuitive to me, I'll test with more intuitive approaches and will report back to you.

[2016-04-28 08:44] parjong opened #4639 "[ARM/Linux] Unittest JIT.jit64.hfa.main.testB.hfa_nd2B_d.hfa_nd2B_d failure"
On ARM/Linux, ``JIT.jit64.hfa.main.testB.hfa_nd2B_d.hfa_nd2B_d`` fails.

I analyze the testcase and can simplify it into the following native and managed code.
Here is the native code:
[code]
Here is the managed code:
[code]

It is expected to show the following output:
[code]
Currently, however, it shows the following output:
[code]

[2016-04-28 09:06] jyoungyun commented on #3977
@leemgs Oh, The number(18268be) means the base commit. Someone want to reproduce the result, the base commit info. will be helpful. Reducing failure test cases are more to do with #4460 patch, I think.
@manu-silicon It takes a lot of time to run unix test on Raspberry pi2. In my case, about 12 hours is the usaual time required. But when I use a release mode binary, it takes only 4 hours! I hope th

[2016-04-28 09:42] leemgs commented on #3805
@brucehoult , Do you mean the below patch? BTW, what does "to run the environment on real hardware " mean? Could you tell me an example?

[code]

[2016-04-28 10:53] krytarowski commented on #803
I can help with SmartOS port - I'm doing right now the NetBSD support. Initial prerequisites are libunwind and LLDB.  I ported base support of LLDB and pushed libunwind to pkgsrc both for NetBSD.

For doing SmartOS port now, I would need to do it during business hours.. so unless it can happen I can only focus on evening hours for NetBSD.

On the other hand I will be helping to @jperkin and @bcant

[2016-04-28 10:58] brucehoult commented on #3805
@leemgs yes, like that.

By real hardware, I mean copy linux-arm-emulator-20160426-1600.tar.pbz2 onto an ARM machine running some other (hard fp) linux .. e.g. Raspberry Pi with Raspbian, or Odroid with Ubuntu Mate, untar, cd into linux-arm-emulator-20160426-1600, then ./start.sh with this patch. And you are running in the soft fp environment, the same as in the emulator, except several times fast

[2016-04-28 11:16] myungjoo commented on #4638
The functions of `ehhelpers.S` have bugs in handling sp/fp as @parjong has mentioned.
However, there are similar, but more bugs in `asmhelpers.S` and those are generating side-effects on `ehhelpers.S` so that correct bugfix of `ehhelpers.s` generates segmentation faults.

I'm starting with WIP patch for this one. (need clean ups and need to make sure that this covers all)

[2016-04-28 11:31] leemgs commented on #3805
@brucehoult ,  It seems good to the developers. I will apply your proposal in next version. Thanks.

[2016-04-28 13:04] brucehoult commented on #3805
@leemgs may I also suggest the following patch, so that the menu option can be specified on the command line instead of displaying the menu?

[code]

[2016-04-28 13:53] AshwiniChalla opened #4642 "Console.Readline throws null reference exception"
following is the stack trace
System.NullReferenceException: Object reference not set to an instance of an object.
   at System.ConsolePal.TryGetSpecialConsoleKey(Char[] givenChars, Int32 startIndex, Int32 endIndex, ConsoleKeyInfo& key, Int32& keyLength)
   at System.IO.StdInStreamReader.MapBufferToConsoleKey(ConsoleKey& key, Char& ch, Boolean& isShift, Boolean& isAlt, Boolean& isCtrl)
   at System

[2016-04-28 14:26] jkotas commented on #4642
System.Console.dll implementation lives in https://github.com/dotnet/corefx repo. Could you please reopen the issue there?

[2016-04-28 14:56] janvorli commented on #4630
One way is to use the dotnet cli for compiling your app and restoring the dependencies, then do dotnet publish and then copy the built coreclr files (.so, mscorlib.*, corerun) to the target folder of the publish.
Then you can run your app with the new runtime bits.

[2016-04-28 15:18] JohnChen0 commented on #3131
PR #4572 has added PDB generation to CrossGen for Windows. Still need to investigate how to generate PDB or other type of symbols on other platforms.

[2016-04-28 15:26] gkhanna79 commented on #3131
Is PDB generation from crossgen only required for profiling scenarios? If so, @brianrob do we expect to enable native profiling support on non-Windows?

[2016-04-28 16:28] #4412 closed

[2016-04-28 17:05] AlekseyVereshchagin commented on #4630
Yes, I think it works, thank you.

With mono it is possible to build binaries that can be executed in this way:

Can I get similar result with dotnet toolchain?

[2016-04-28 18:07] sejongoh commented on #4607
@janvorli  Sorry for the wrong IL. I probably forgot to comment other test cases when getting the dump.

I confirmed the problem. This might be another bug. The dump above was obtained with SIMD optimization disabled. SIMD is turned on by default and the testcase fails. In this case, I don't see the problem. Could you take a look at the instructions below? Please let me know if I missed anything.

[2016-04-28 18:17] sejongoh commented on #4607
The problem that I originally mentioned is that stack arguments already have wrong values before entering the stub function. It looks like stack arguments on the native side are copied to lower stack locations, and v3f32_mem0 and the following arguments have wrong values.

[code]

[2016-04-28 18:35] sejongoh commented on #4529
@sivarv My understanding is that return address should be in rax. Please correct me if I am wrong. The register allocator assigned rsi to RetBuf. Should the allocator assign rax here or is there other logic that can insert 'rax <= rsi'?

Without JitStressRegs=1
[code]

With JitStressRegs=1
[code]

[2016-04-28 18:53] sivarv commented on #4529
@sejongoh - it is not return address but rather RetBuf, which is the arg passed by caller method to Callee and Callee returns a struct > 16-bytes (on Unix) by writing to RetBuf address.  When Callee returns, Caller would find the return value at memory address given by Retbuf.  As per UNIX ABI, the Callee method also returns address of RetBuf as its return value.  But RyuJIT doesn't depend on it a

[2016-04-28 18:56] #2688 closed

[2016-04-28 18:57] adityamandaleeka commented on #2688
Done with #4309

[2016-04-28 18:58] sivarv commented on #4529
@sejongoh - looks like this is a RPInvoke test failure on windows.  Is the native method expecting RetBuf address return from managed method in RAX?  On x64 windows, Managed code deosn't return  RetBuf in RAX.

[2016-04-28 19:02] stephentoub commented on #2688
Thanks.

[2016-04-28 19:34] rahku opened #4647 "ARM64: investigate all ifdef _TARGET_ARM_ in zap"
There are multiple places in zap folder which have special code for arm. Investigate if these are also applicable for arm64

[2016-04-28 20:01] sejongoh commented on #4529
@sivarv Yeah, the native code expects the address to be in rax.

[2016-04-28 20:28] sivarv commented on #4529
This makes me believe that RPInvoke method is missing some required declaration to make aware the native compiler of x64 Windows CLR calling convention. As per x64 Windows ABI, managed methods don't return RetBuf addr as the return value.  You might want to check if we have any existing RPInvoke tests on desktop and how they are declared.

[2016-04-28 20:28] gkhanna79 opened #4648 "TestRun clean with mscorlib.ni.dll"
To bringup mscorlib.ni.dll, in addition to ensuring HelloWorld (JITted) works, we should ensure that the test run is clean against it.

CC @rahku

[2016-04-28 20:29] rahku opened #4649 "ARM64: InvalidProgramException is thrown when generating R2R images"
Repro:
crossgen.exe /ReadyToRun system.dll

InvalidProgramException while compiling method System.Text.RegularExpressions.Regex..ctor
InvalidProgramException while compiling method System.Text.RegularExpressions.Regex.InitializeReferences
InvalidProgramException while compiling method System.Text.RegularExpressions.Regex.Run
InvalidProgramException while compiling method System.Text.RegularExpress

[2016-04-28 20:30] #4570 closed

[2016-04-28 20:30] gkhanna79 opened #4650 "R2R Bringup of FX Assemblies"
We should ensure that FX assemblies (which are in Test_Core_Root) can be compiled with R2R and test run is clean.

[2016-04-28 20:39] jamesqo opened #4651 "[corelib] Remove unused types/members"
Ran into this issue while trying to create perf benchmarks for #4540. It looks like the types in the decompiled output of mscorlib:

![mscorlib-io-types](https://cloud.githubusercontent.com/assets/9159214/14900506/d602cec8-0d5e-11e6-8734-f1d4cfacc055.PNG)

are missing a lot of types from what's actually [there in the sources](https://github.com/dotnet/coreclr/tree/master/src/mscorlib/src/System/IO

[2016-04-28 20:52] ramarag commented on #4351
fixed by #4614

[2016-04-28 20:52] #4351 closed

[2016-04-28 21:02] gkhanna79 commented on #4649
Is JIT raising these?

[2016-04-28 21:10] rahku commented on #4649
it is raised by VM (jitinterface) when jit fails to compile a method.

[2016-04-28 21:15] jkotas commented on #4651
We have older CoreCLR workloads that we still need to support, and that depend on these types being in mscorlib.  We can remove these only once it is cleaned up (no timeline yet).

[2016-04-28 21:16] jkotas commented on #4651
cc @AlexGhiondea @weshaggard

[2016-04-28 22:12] dutts opened #4657 "WARNING: The target process exited without raising a CoreCLR started event."
Following the instructions on https://dotnet.github.io/getting-started/ for OS X and loading the sample Hello World application in Visual Studio Code, if I attempt to debug I see Hello World! in the output but also get the following warning:

[2016-04-28 22:38] BruceForstall commented on #3516
Fixed by https://github.com/dotnet/coreclr/pull/4646

[2016-04-28 22:38] #3516 closed

[2016-04-28 22:45] mikem8361 commented on #792
HandleHolder hProcess = OpenProcess(PROCESS_ALL_ACCESS, FALSE, debuggeePID);
    if (NULL == hProcess)
        return E_FAIL;

    // These shouldn't be freed
    HMODULE modules[1000];
    DWORD cbNeeded;
    if(!EnumProcessModules(hProcess, modules, sizeof(modules), &cbNeeded))
    {
        return HRESULT_FROM_WIN32(GetLastError());
    }

This limitation has always been there.  It only affects

[2016-04-28 22:52] sejongoh commented on #4529
Do you mean that the RPInvoke method needs some declaration to make the native compiler understand the CLR calling convention?  Please correct me if I misunderstood what you said. I couldn't find a way for that from coreclr testcases. Where are testcases located on Desktop?

With the following declarations, doesn't CLR needs to follow the native calling convetion?

[code]

[2016-04-28 23:03] sivarv commented on #4529
Yes, is there a method annotation needed on native side for native compiler to follow x64 CLR convention?  I have no idea where desktop RPInvoke tests are.  You might have to search around or ask an interop owner.

[2016-04-28 23:41] sergiy-k commented on #4657
Hi @dutts, which version do you have installed? Can you please try installing the latest version of dotnet/cli from https://dotnetcli.blob.core.windows.net/dotnet/beta/Installers/Latest/dotnet-dev-osx-x64.latest.pkg?

@Petermarcu, https://dotnet.github.io/getting-started/ for OS X seems to point to a very old version of the dotnet tools. Any reason why it has not been updated?

[2016-04-29 00:47] sergiy-k commented on #3064
Hi @jkotas, is there anything else that needs to be done here in addition to https://github.com/dotnet/coreclr/pull/3233?

[2016-04-29 00:53] jkotas commented on #3064
This is all done.

[2016-04-29 00:53] #3064 closed

[2016-04-29 01:04] sergiy-k commented on #1957
@gkhanna79, could you please route this issue? Is this something we will do for v1 rtm?

[2016-04-29 01:09] BruceForstall commented on #4596
Also (probably):
JIT\jit64\rtchecks\overflow\overflow01_add\overflow01_add.cmd
JIT\jit64\rtchecks\overflow\overflow02_add\overflow02_add.cmd

[2016-04-29 01:10] AndyAyersMS commented on #1957
It's something I would still really love to see.... right now I'm ignoring methods that have colliding hash values when I am correlating inlining data from one run to another.

[2016-04-29 01:12] BruceForstall opened #4659 "RyuJIT x86: using temps during long decomposition to avoid bad codegen"
JIT\Methodical\AsgOp\i8\i8_cs_d\i8_cs_d.cmd
JIT\Methodical\AsgOp\i8\i8_cs_do\i8_cs_do.cmd
JIT\Methodical\AsgOp\i8\i8_cs_r\i8_cs_r.cmd
JIT\Methodical\AsgOp\i8\i8_cs_ro\i8_cs_ro.cmd

test output:

Initial parameters: x is -10 and y is 4.
f11     x += x - y failed.
x: -8589934616,         expected: -24

Initial parameters: x is -10 and y is 4.
f18     x += x ^ y failed.
x: -4294967320,         expect

[2016-04-29 01:17] BruceForstall opened #4660 "RyuJIT x86: Silent bad codegen with 10w5d_cs"
JIT\Methodical\fp\exgen\10w5d_cs_d\10w5d_cs_d.cmd
JIT\Methodical\fp\exgen\10w5d_cs_do\10w5d_cs_do.cmd
JIT\Methodical\fp\exgen\10w5d_cs_r\10w5d_cs_r.cmd
JIT\Methodical\fp\exgen\10w5d_cs_ro\10w5d_cs_ro.cmd

test output:

*lots of omitted output*
Func_0_4_3_1_1: != true
Func_0_4_2_5_4: <= true
Func_0_4_2_5_1: != true

Unhandled Exception: System.OverflowException: Value was either too large or too sm

[2016-04-29 01:20] BruceForstall opened #4661 "RyuJIT x86: Silent bad codegen with convx_il"
JIT\Methodical\FPtrunc\convx_il_d\convx_il_d.cmd
JIT\Methodical\FPtrunc\convx_il_r\convx_il_r.cmd

test output:

[code]

[2016-04-29 01:23] BruceForstall opened #4663 "RyuJIT x86: Silent bad codegen with ldc_div/mul/mulovf family"
JIT\Methodical\int64\signed\_dbgs_ldc_div\_dbgs_ldc_div.cmd
JIT\Methodical\int64\signed\_dbgs_ldc_mul\_dbgs_ldc_mul.cmd
JIT\Methodical\int64\signed\_dbgs_ldc_mulovf\_dbgs_ldc_mulovf.cmd
JIT\Methodical\int64\signed\_il_dbgs_ldc_div\_il_dbgs_ldc_div.cmd
JIT\Methodical\int64\signed\_il_dbgs_ldc_mul\_il_dbgs_ldc_mul.cmd
JIT\Methodical\int64\signed\_il_dbgs_ldc_mulovf\_il_dbgs_ldc_mulovf.cmd
JIT\Method

[2016-04-29 01:27] BruceForstall opened #4664 "RyuJIT x86: NYI: "Lowering of signed cast TYP_INT->TYP_LONG""
JIT\Methodical\MDArray\DataTypes\long_cs_d\long_cs_d.cmd
JIT\Methodical\MDArray\DataTypes\long_cs_do\long_cs_do.cmd
JIT\Methodical\MDArray\DataTypes\long_cs_r\long_cs_r.cmd
JIT\Methodical\MDArray\DataTypes\long_cs_ro\long_cs_ro.cmd

sample test output:

[code]

[2016-04-29 01:32] BruceForstall opened #4665 "RyuJIT x86: Silent bad codegen in pi-digits.cmd"
JIT\Performance\CodeQuality\BenchmarksGame\pidigits\pi-digits\pi-digits.cmd

test output:

[code]

correct output:

[code]

[2016-04-29 01:33] BruceForstall opened #4666 "RyuJIT x86: Silent bad codegen in Linq.cmd"
JIT\Performance\CodeQuality\Linq\Linq\Linq.cmd

test output:

[code]

[2016-04-29 01:37] BruceForstall opened #4667 "RyuJIT x86: Silent bad codegen in b12053"
JIT\Regression\CLR-x86-JIT\V1-M09.5-PDC\b12053\b12053\b12053.cmd

Issue with long? or neg?

test output:

[code]

correct output:

[code]

[2016-04-29 01:40] BruceForstall opened #4668 "RyuJIT x86: Silent bad codegen in Haar-likeFeaturesGeneric_r.cmd"
JIT\SIMD\Haar-likeFeaturesGeneric_r\Haar-likeFeaturesGeneric_r.cmd

Test output:

[code]

[2016-04-29 01:42] BruceForstall opened #4669 "RyuJIT x86: Silent bad codegen in VectorAbs_r.cmd"
JIT\SIMD\VectorAbs_r\VectorAbs_r.cmd

Issue with long?

Test output:

[code]

[2016-04-29 01:45] sergiy-k commented on #3204
Marking as Future to match https://github.com/dotnet/corefx/issues/6308.

[2016-04-29 02:00] seanshpark opened #4671 "ARM, SOS: fail with breakpoint to managed code with LLDB-3.8"
With LLDB-3.8, breakpoint at managed code, SOS doesn't seem to work properly.

Test code: helloworld3.cs
[code]
Build in coreclr/Tools folder
[code]

ARM target device: Raspberry Pi 2 on Ubuntu Mate, 15.10

Debug command:
[code]
then, in (lldb) prompt run below commands one by one
[code]

Problem: `helloworld3.exe` doesn't stop or print the message, seems to loop somewhere.

If something wrong wit

[2016-04-29 02:04] seanshpark commented on #4671
CC @lucenticus , @manu-silicon, @mikem8361

[2016-04-29 02:21] seanshpark opened #4672 "ARM, SOS: segment fault while debugging with LLDB-3.8"
These commands don't work properly
- [x] DumpStack (dumpstack)
- [x] EEStack (eestack)
- [x] ClrStack (clrstack)

Use source and steps in #4671 , give above commands, in (lldb) prompt.

Result:
[code]

[2016-04-29 02:23] seanshpark commented on #4672
CC @lucenticus

[2016-04-29 02:38] myungjoo opened #4674 "Method to Find Compiler Definition Mismatch between Native and Managed (MSCORLIB)"
Compiler definitions for native parts (c++) are managed by CMake scripts.
Compiler definitions for managed parts (C# / mscorlib.dll) are supposed to be consistent with those for native parts while they are managed independently by other scripts. (xml/props files)

This recently has introduced inconsistency between the two parts of CoreCLR, which was only discovered by an application running on Cor

[2016-04-29 02:38] gkhanna79 commented on #1957
We can try to look into this dependent upon other issues we must go through for RTM.

[2016-04-29 02:46] myungjoo commented on #3635
Note that the PR #4673 above partially fixes this issue and introduces yet another bug:

[code]

[2016-04-29 02:57] #4631 closed

[2016-04-29 03:33] AshwiniChalla commented on #4642
Reopened on corefx.

[2016-04-29 03:33] #4642 closed

[2016-04-29 04:49] jamesqo opened #4678 "[question] Is it possible to debug mscorlib from Visual Studio?"
I'm trying to debug a Release build of mscorlib I built locally using Visual Studio, but it doesn't seem like it's working. I made sure the `.pdb` file is copied to the output directory and Just My Code is disabled, but it doesn't appear to be working.

Is it possible to debug mscorlib from within Visual Studio yet, or do I still have to ues WinDbg/SOS? It says [here](https://github.com/dotnet/cor

[2016-04-29 04:55] jyoungyun commented on #4631
LGTM :+1:

[2016-04-29 05:09] mikedn commented on #4678
Hmm, try deleting the native image (mscorlib.ni.dll) that the build produces. Or see if you can get crossgen to generate a PDB for mscorlib.ni.dll now that #4572 has been merged.

[2016-04-29 05:15] #3635 closed

[2016-04-29 05:40] parjong commented on #4639
I found why the above simplified example fails. In C#, long always represents 64-bit signed integer, but represents 32-bit signed integer in C for ARM arch.

It looks like ``JIT.jit64.hfa.main.testB.hfa_nd2B_d.hfa_nd2B_d`` failed for another reason.

[2016-04-29 06:42] benaadams commented on #4678
Yes, though I don't know if this is the best way... Make sure you have all the options ticked in
`Options->Debugger->Just In Time`

Make a standalone app (rather than shared framework)
e.g `netstandardapp1.4` with `"runtimes": { "win7-x64": { } }`

`dotnet publish` (`-c Release` if you want a release build of app)

Your app + framework + runtime should now be in directory `bin\Debug\netstandard1.4

[2016-04-29 06:49] jamesqo opened #4681 "Is it intentional that string.GetHashCode takes embedded nulls into account on 32-bit but not 64-bit platforms?"
In the core of `string.GetHashCode`, there's [some code](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/String.cs#L860-L887) that compiles conditionally for 32/64-bit, like so:

[code]

Note that in the first implementation (for 32-bit) it uses the `Length` property to detect the end of the string, while in the second (for x64) it stops when it sees the first null character,

[2016-04-29 08:21] mikedn commented on #4681
See #229

[2016-04-29 08:29] leemgs commented on #3805
@brucehoult ,  It is helpful to give the developers more convenience. :+1: Your additional patch will be included in the next version of the emulator. Thank you for your proposal. LGTM.

[2016-04-29 08:29] benaadams commented on #4681
Summary of issue @mikedn links to Dictionary uses its own hashing rather than using `string.GetHashCode`

[2016-04-29 09:28] #4635 closed

[2016-04-29 09:46] myungjoo commented on #4674
With the WIP scripts, `checkdefinitions.pl`, ARM/Linux build shows the following inconsistency between the two builds (native vs managed):

[code]

Could someone enlighten me on which are OK and which are alarming?

[2016-04-29 09:59] lucenticus commented on #4672
I've got a segmentation fault with hello.exe application from emulator too. But when I tried to run lldb under gdb, lldb doesn't crash and `dumpstack` command seems workning.
` gdb --args ~/llvm-rasp-arm-debug/bin/lldb -o "plugin load libsosplugin.so" -o "process launch -s" -o "process handle -s false SIGUSR1 SIGUSR2" -o "breakpoint set -n LoadLibraryExW" -o "process continue" -o "dumpstack" corer

[2016-04-29 10:01] myungjoo commented on #4674
So far, potentially dangerous inconsistencies are:

`FEATURE_MANAGED_ETW`: omitted but used in mscorlib C# code.
`FEATURE_MULTICOREJIT`:  omitted but used in mscorlib C# code.
`FEATURE_WIN32_REGISTRY`: why in the hell do we have this defined in ARM/Linux native build?

[2016-04-29 10:06] myungjoo opened #4682 "ARM/Linux Compiler Definition Mismatch (mscorlib omits)"
With the prototype of #4675, which addresses #4674, I have discovered the following potentially dangerous inconsistencies of compiler definitions (or preprocessor definitions) between the native build (.so) and the managed build (mscorlib.dll).

1. `FEATURE_MANAGED_ETW`: omitted but used in mscorlib C# code.
2. `FEATURE_MULTICOREJIT`:  omitted but used in mscorlib C# code.
3. `FEATURE_WIN32_REGIST

[2016-04-29 10:34] frapid opened #4683 "Cannot clear console"
Console.Clear() is missing on RC1. Is there a different way of doing this?

[2016-04-29 12:08] Dmitri-Botcharnikov commented on #4589
It seems that libsosplugin erroneously directly calls supporting libraries instead of going through lldb.
This can be checked in the case of remote debugging for the same architecture (e.g. Ubuntu x64 -> Ubuntu x64). When debugger stops on breakpoint we can list loaded libraries from another console:
`lsof -p <lldb-pid> | awk '{ print $9 }' | grep '\.so'`
We've got the following list:
[code]
The l

[2016-04-29 12:09] mkborg commented on #4558
Similar issue (Ubuntu 14.04.4, x86_64, commit f38508b):

coreclr/init-tools.log:

I own "/tmp/NuGetScratch" and have all permissions for it (including contents).

The same result with:

With 'skipgenerateversion' parameter it fails later:

Looks like it happens due to missing "coreclr/packages" folder.

However cross build is successfull:

Native x86_64 build is also successful if I add 'skipmscor

[2016-04-29 12:28] mkborg commented on #4558
Looks like nowadays it is expected: #4500 ;-)

[2016-04-29 12:34] stephentoub commented on #4683
It's available in RC2.  If you pick up the latest packages, you should be able to use it.  As for a workaround on RC1, it would basically be doing the same thing that we do in the Console implementation: P/Invoking at Windows (https://github.com/dotnet/corefx/blob/master/src/System.Console/src/System/ConsolePal.Windows.cs#L757) and writing out the correct ANSI escape string on Unix (https://github

[2016-04-29 14:02] seanshpark commented on #4558
@mkborg, with my short experience in .net core with something like `Looks like it happens due to missing "coreclr/packages" folder.`,  looking inside the log carefully may give a hint. May be network problem, disk full, cache broken, write access maybe...
What I know is that `skipmscorlib` will skip `mscorlib` build step that is, skip managed source compilation, so no need of `Tools` to be downloa

[2016-04-29 14:53] gkhanna79 commented on #4321
@wtgodbe I am assigning this to you as this should be done alongwith publishing of all packages produced in the build.

[2016-04-29 14:53] mkborg commented on #4558
Hardly it is problem with my environment since builds for some older commits (for example ae674a6) are successful.

[2016-04-29 14:56] BruceForstall commented on #3557
This no longer repros for either x86 or RyuJIT/x86.

[2016-04-29 14:56] #3557 closed

[2016-04-29 14:58] BruceForstall commented on #3560
This no longer repros.

[2016-04-29 14:58] #3560 closed

[2016-04-29 16:28] frapid commented on #4683
@stephentoub, I will update to RC2. Thank you for the information.

[2016-04-29 16:28] #4683 closed

[2016-04-29 17:11] jamesqo commented on #4681
@mikedn Maybe we could fix this under an `#if FEATURE_CORECLR`? The new code doesn't look like it's being run ([this value](https://github.com/dotnet/coreclr/blob/775003a4c72f0acc37eab84628fcef541533ba4e/src/vm/comutilnative.cpp#L2883) is always set to false), even for coreclr.

@benaadams `Dictionary` has this problem as well I think, since it uses [this](https://github.com/dotnet/coreclr/blob/ma

[2016-04-29 17:13] joshfree commented on #4132
We don't want to treat WSL as a different platform target (with a separate RID) from Ubuntu.  I believe given the investigation that this bug should be moved to https://github.com/Microsoft/BashOnWindows/issues for the BashOnWindows team to resolve.

[2016-04-29 17:22] gkhanna79 commented on #4132
@ramarag Can you please move the issue to the other repo?

[2016-04-29 17:24] mikem8361 commented on #4671
You need to include the namespace:
bpmd helloworld3.exe HelloWorld3.Program.show_message

[2016-04-29 18:01] #3596 closed

[2016-04-29 18:47] frapid commented on #4683
@stephentoub, is there a documentation I can follow to move to RC2? I have installed RC2 build but Visual Studio does not show DNX SDK version "1.0.0-rc2.." on project properties.

[2016-04-29 18:49] sergiy-k commented on #1504
@janvorli, is there anything we can do in addition to https://github.com/dotnet/coreclr/pull/2640?

[2016-04-29 19:12] stephentoub commented on #4683
@richlander, can you point @frapid to appropriate docs?

[2016-04-29 20:11] gkhanna79 commented on #3131
Closing as there is no more work required.

[2016-04-29 20:11] #3131 closed

[2016-04-29 20:57] jkotas commented on #603
This issue was fixed for CoreRT by caching the casting results https://github.com/dotnet/corert/commit/ede47337e4736cda31f963e1dacaf38f1d09e2f5 . We may consider implementing similar cache for CoreCLR as well.

[2016-04-29 21:27] #4639 closed

[2016-04-29 21:33] #2895 closed

[2016-04-29 21:33] #2796 closed

[2016-04-29 21:35] #4380 closed

[2016-04-29 23:52] drbo commented on #1957
What about using a Blake2b (faster) or SHA2 hash?

[2016-04-30 00:34] ramarag commented on #4132
closing this ans opening in WSL team's issues [https://github.com/Microsoft/BashOnWindows/issues/302]

[2016-04-30 00:34] #4132 closed

[2016-04-30 00:37] adityamandaleeka commented on #2835
@stephentoub I'm not able to repro this now. It doesn't seem like anything in arraynative or gchelpers has changed that would fix this, so I guess something somewhere else has changed since this issue was opened.

[2016-04-30 01:34] AndyAyersMS commented on #1957
I'd be willing to help work up a fix....

[2016-04-30 09:15] mikedn commented on #4664
This is caused by incomplete int -> long cast code in [`Lowering::DecomposeNode`](https://github.com/dotnet/coreclr/blob/master/src/jit/lower.cpp#L346), it always zero extends.

[2016-04-30 09:31] Dmitri-Botcharnikov commented on #4671
@mikem8361 : it works without namespace name on Ubuntu x64.

[2016-04-30 09:31] OtherCrashOverride commented on #3544
@sayedihashimi
The case I am interested is the latter: deploy/debug CoreCLR running on Linux in a non-Azure environment from an independent Windows Visual Studio development machine.

The conciseness of your reply is greatly appreciated.  I look forward to future progress in this area.

[2016-04-30 10:10] mikedn commented on #4661
Likely the same as #4664. The case that fails in this test relies on sign extension too:
[code]

[2016-04-30 10:44] mikedn commented on #4659
Eww, `x += x - y` generates the sequence `sub, add, sbb, adc`, the lo and hi parts are out of order.

[2016-04-30 11:24] mikedn commented on #4667
Same as #4664. `ian` should be sign extended and 0x80000000 should be zero extended but both are zero extended.

[2016-04-30 11:42] mikedn commented on #4660
Likely another #4664. The value that feeds into the second `Convert.ToInt16` from `Func_0_4_2_2_1` is an `int` converted to `long` via `* 1L`.

[2016-04-30 12:12] mikedn commented on #4663
Looks like #4664 again. IL code for the first failing test:
[code]

I'm not quite sure what's the point of creating issues for all the x86 failing tests when simply inspecting `Lowering::DecomposeNode` would reveal tons of issues right anyway.

[2016-04-30 14:02] #4350 closed

[2016-04-30 14:02] #4615 closed

[2016-04-30 15:44] BruceForstall commented on #4664
@mikedn Thanks for all the analysis!

[2016-04-30 15:52] jamesqo opened #4700 "[mscorlib] Enum.ValuesAndNames could be a struct"
Right now [`ValuesAndNames`](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Enum.cs#L673), which is used by `Enum`, is defined as a typical POCO class. However, it doesn't look like the fields in question are actually being modified anywhere, nor is it being passed as a parameter to any methods, so it might be good for converting to a class to avoid heap allocations during `

[2016-04-30 19:03] mikedn commented on #4700
If you convert it to a struct it will get boxed when it is stored in `RuntimeType.GenericCache`.

[2016-04-30 19:23] mikedn commented on #4659
It looks like the fix done in #3296 is incorrect, the lo and hi nodes need to be chained after the original `GT_LONG` node to ensure that both halves have been already computed. Instead they are chained after `GT_LONG`'s sources.

[2016-04-30 19:42] mikedn commented on #4668
Another #4664 it seems. The `generateAndMask` contains and int->long cast as well:
[code]
that generates
[code]
Hard to say if this is the only issue that test has, I suppose I could fix the cast and see what happens.

[2016-04-30 19:57] jamesqo commented on #4700
@mikedn Well then could `GenericCache` be a `ValuesAndNames`, instead of an `object`? As far as I can see that's [the only place](https://github.com/dotnet/coreclr/search?utf8=%E2%9C%93&q=GenericCache) it's ever used. (Of course, this would increase the size of `RuntimeType` by 4-8 bytes, but unless you suggest otherwise, I think it's worth it to avoid boxing/a type cast.)

[2016-04-30 20:08] mikedn commented on #4669
Another #4664
[code]

[2016-04-30 20:34] mikedn commented on #4700
Perhaps but there's a good change that the only time this will be worth it is when you run a benchmark specifically designed to show that this is worth it :smile: And even if it is worth it I don't think that making `RuntimeType` aware of some obscure `Enum` nested type is a good idea.

A better solution would be to cache an array of `ValueAndName` structs instead of a `ValuesAndNames` class that

[2016-04-30 20:47] mikedn commented on #4665
This one works fine for me.

[2016-04-30 20:51] mikedn commented on #4666
This one works fine for me.

[2016-04-30 23:02] jamesqo commented on #4700
@mikedn Maybe it would be a good idea to have some type of static `Dictionary<RuntimeType, ValuesAndNames>` instead in `Enum`? Then we could avoid the extra field allocation for each `RuntimeType` object, while simultaneously decoupling it from `Enum`.

[2016-04-30 23:48] swgillespie commented on #3622
Closing as completed, these tests are running in the CI daily.

[2016-04-30 23:48] #3622 closed

[2016-04-30 23:48] swgillespie commented on #3392
Done as part of #3622.

[2016-04-30 23:48] #3392 closed

[2016-05-01 02:08] stephentoub commented on #2835
I just put up this repro as a test:
https://github.com/stephentoub/corefx/tree/array_test
and did a CI run:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/602/console
and it failed with:
[code]

[2016-05-01 04:12] jamesqo opened #4703 "Moving more of the String functions to managed code"
As it stands, many 'high-level' string functions like `IndexOf`, `LastIndexOf`, `Replace` etc. are implemented natively when they could be written in managed code. I noticed this was done with one of the `string.Replace` overloads in f007485, so maybe it would be good to do this to make the code more accessible to newcomers, if they aren't familiar with how the C++ code maps to C#.

[2016-05-01 04:56] jamesqo opened #4706 "[mscorlib] Some of the Encoding defines can be removed"
Some of the defines for `Encoding` look like they can be removed, specifically [these](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Text/Encoding.cs#L92-L104), since they map to stable public APIs and I can't imagine why you'd want to compile without them. Will be submitting a PR for this tomorrow morning.

[2016-05-01 06:14] mikedn commented on #2835
This `ArgumentOutOfRangeException` is supposed to come [here](https://github.com/dotnet/coreclr/blob/master/src/vm/gchelpers.cpp#L358). Thanks to Clang's creative interpretation of "undefined behavior" the condition is never true and the entire `if` statement is eliminated.

[2016-05-01 06:20] mikedn commented on #4700
That would work but then we'd loose the cache cleaning ability that `RuntimeType.Cache` offers via weak handles.

[2016-05-01 09:09] mikedn commented on #4664
I verified that all but 2 tests from #4660 pass is the cast is fixed.

[2016-05-01 09:20] mikedn commented on #4660
Once the cast is fixed the following 2 tests
JIT\Methodical\fp\exgen\10w5d_cs_do\10w5d_cs_do.cmd
JIT\Methodical\fp\exgen\10w5d_cs_ro\10w5d_cs_ro.cmd
fail the following assertion:
[code]
Both `OperIsAddrMode` and `IsCnsIntOrI` are false but `isContained` is true.

[2016-05-01 09:36] mikedn commented on #4660
Seems like LSRA did not allocate a register for a GT_ADD node:
[code]

[2016-05-01 14:36] RussKeldorph opened #4708 "GC\API\GC\GetTotalMemory test fails approx. 15% of runs under GCStress=3"
Flavor: Windows x64 Checked (not necessarily specific to that)
Repro (set CORE_ROOT first):
[code]
Expected: FAILED never output
Observed: FAILED sometimes output

Marking this a Test-Issue due to inconsistency and the fact that it only occurs under GCStress.  If this is a real product bug, feel free to reassign.

[2016-05-01 15:20] mikedn commented on #4660
Looks the assert is my fault, I used `fgInsertEmbeddedFormTemp` when fixing the cast. The newly created statement is not lowered and address mode generation no longer works correctly.

[2016-05-01 16:54] mikedn commented on #4659
And I suspect this can't be easily fixed as the required linear order is not a valid tree traversal order. Some temporaries and some embedded statements need to be introduced.

[2016-05-01 17:34] JohnChen0 commented on #4568
This is fixed by PR #4556.

[2016-05-01 17:34] #4568 closed

[2016-05-01 20:48] jkotas commented on #4703
We have looked into this in the past and moved everything that could be moved without significant perf loss. Moving more depends on having pretty good managed optimizations for all coreclr architectures.

This makes sense to consider only once RyuJIT or better codegen is available for all architectures that coreclr runs on (x86, x64, arm, arm64).

BTW: The managed implementations of all string met

[2016-05-01 20:57] jamesqo commented on #4703
@jkotas Ah, so that's why the implementations in the corert repo are managed; since it's compiled AOT and optimized by the C++ compiler, they get better codegen than the JIT which is still a work-in-progress for some of the platforms you mention (arm, arm64). Thanks for clearing that up.

[2016-05-01 23:29] seanshpark commented on #4671
same result with adding namespace,
```bpmd helloworld3.exe HelloWorld3.Program.show_message```
It shows like
[code]
and nothing else.

[2016-05-02 00:48] seanshpark commented on #4672
Yes, running inside `gdb` works.
But result seems strange. (Raspberry Pi 2, Ubuntu Mate 15.10), (each line of output is cutoff cause of long string, Caller and Callee seems valid output)
[code]
`RetAddr` doesn't seem to be a valid output.

When I run the same thing with `lldb` (with a debug build) in x86_64 (Ubuntu 14.04) `RetAddr` output seems ok
[code]

[2016-05-02 02:09] #4496 closed

[2016-05-02 04:42] RussKeldorph opened #4711 "Investigate and/or add budget check to Inliner RandomPolicy"
See discussion in #4704.  Be sure to undo #4704 if this is fixed.

[2016-05-02 05:04] myungjoo opened #4712 "ARM/Linux Compiler Definition Mismatch (native omits)"
With the prototype of #4675, in addition to #4682, I have discovered that
the native build Cmake scripts have omitted defining the following preprocessor
definitions that are enabled by managed build scripts for mscorlib.
(This does not mean that the native Cmake script should add them. It could
mean that the managed should drop them as well.)

Among the list, I've filtered harmless ones and here

[2016-05-02 06:55] mylibero opened #4714 "Some test cases require more than 2GB RAM"
I notice that the following test cases are trying to use 2GB RAM.

tests/src/GC/LargeMemory/Allocation/largeexceptiontest
tests/src/GC/LargeMemory/API/gc/gettotalmemory
tests/src/GC/LargeMemory/API/gc/keepalive
tests/src/GC/LargeMemory/API/gc/suppressfinalize

They take the size for allocation as an integer argument in GB.
That means modifying csproj will only reduce it to 1GB, which is still huge

[2016-05-02 07:13] wateret commented on #4617
IMHO, it seems like just a stack overflow. I ran it in the same environment, and I checked stack size when it crashes.
[code]
It crashes when the size of stack is `8mb` which is stack limit.

[2016-05-02 07:25] wateret commented on #4617
@chunseoklee, as @janvorli said, `fgCanFastTailCall` always returns `false` for arm because `FEATURE_FASTTAILCALL` is set to zero.

Here are JITed code for last part of `Class1:Recurse1`. x64 code removes stack frame before the call while arm code does not.

arm-linux
[code]

x64-linux
[code]

[2016-05-02 07:43] #3451 closed

[2016-05-02 07:45] yizhang82 commented on #4195
This is related to #4307 and is test issue. However we should see whether we can fix the product at some point - but it's too risky at this point.

[2016-05-02 07:57] myungjoo commented on #4714
Possible amends:

1. Just skip the testcases for systems < N GB. (not good)
2. Make it adaptive and and allow the argument to get < 1GB input as well. (great IMHO)
  e.g., Try to use 80% of free memory.

[2016-05-02 07:59] leemgs commented on #4583
I have submitted PR to resolve this issue. The number of the PR is https://github.com/dotnet/coreclr/pull/4715. Thanks to all of you.

[2016-05-02 08:19] janvorli commented on #1504
The only additional thing we could do would be to set the sigsegv handler run on a separate stack so that we can handle cases where we run out of stack in a tight recursive loop with only small size of locals where jitter doesn't add stack probes. But that would require having such a stack for each thread  (I guess one memory page plus one guard page might be enough) and also switching back to the

[2016-05-02 12:07] GSPP commented on #4681
Couldn't this null behavior make hash flooding attacks much easier? An attacker could send strings with `str[0] == 0` causing all hash codes to be the same. That's easier than carefully crafting strings.

[2016-05-02 12:09] seanshpark commented on #4672
One problem found is in `src/pal/inc/pah.h`, line about 4710,
[code]
and in about 2967,
[code]
structure size is compare but as it is different in `src/unwider/unwider.cpp` `GetFunctionEntry()` so it return `E_INVALIDARG`.

[code]

[2016-05-02 15:03] kyulee1 opened #4716 "ARM64: GetUnwindDataBlob"
With mscorlib.ni.dll, many tests failed like this due to NYI for GetUnwindDataBlob.

[code]

[2016-05-02 15:52] gkhanna79 opened #4717 "Build cross-targeting standalone clrjit.dll"
As discussed in https://github.com/dotnet/coreclr/pull/4684, we need to build a standalone clrjit.dll for cross-compilation scenarios. We should look into fixing this for RTM.

[2016-05-02 16:32] #3970 closed

[2016-05-02 16:32] #4411 closed

[2016-05-02 16:53] #2989 closed

[2016-05-02 17:03] mikem8361 commented on #4671
The JITTED message means the actual native/lldb breakpoints should have been set.  Could you run “breakpoint list” and “bpmd –list” at that point below?

[2016-05-02 17:08] #4298 closed

[2016-05-02 17:09] mikem8361 commented on #2673
The debuggertests use the new dbgshim APIs and are testing them.

[2016-05-02 17:09] #2673 closed

[2016-05-02 17:11] mikem8361 commented on #3369
@gregg-miskelly Should we close this issue now since I haven't seen a reliable repro?

[2016-05-02 17:24] gregg-miskelly commented on #3369
Sure, we can close this for now.

[2016-05-02 18:05] #4682 closed

[2016-05-02 19:21] adityamandaleeka commented on #2835
Yup, looks like this does repro in release builds. I'll send a fix soon.

[2016-05-02 20:31] sejongoh commented on #4607
@janvorli  Could you take a look at the questions above?

[2016-05-02 20:32] janvorli commented on #4607
@sejongoh I was travelling back from Redmond to Prague, I am sorry for the delay. I am just looking into that.

[2016-05-02 20:33] sejongoh commented on #4607
@janvorli Thanks!

[2016-05-02 20:40] sejongoh opened #4720 "[COMPlus_FeatureSIMD=0] Bad codegen for IL_STUB_ReversePInvoke with Vector3"
A bad codegen bug was found from investigating [https://github.com/dotnet/coreclr/issues/4607](https://github.com/dotnet/coreclr/issues/4607).

This bug can be found if COMPlus_FeatureSIMD=0.

janvorli's comment:

the IL is unfortunately from another stub (see the parameters - IL_STUB_ReversePInvoke(int,struct,long,struct))
But I have carefully analyzed the transfers between stack slots and regist

[2016-05-02 20:40] sejongoh commented on #4720
cc @janvorli

[2016-05-02 20:48] swgillespie commented on #4714
There is a "playlist" for tests that allocate a lot of memory or are otherwise inappropriate to run on constrained devices. Tests are marked for this playlist using this msbuild attribute on Windows: https://github.com/dotnet/coreclr/blob/master/tests/src/GC/Features/BackgroundGC/concurrentspin2.csproj#L16 and this file on Linux: https://github.com/dotnet/coreclr/blob/master/tests/longRunningGcTes

[2016-05-02 21:02] adiaaida commented on #4596
We weren't passing the overflow flags along to the GT_ADD_HI and GT_SUB_HI operations when we create them. I should have a fix for this soon.

[2016-05-02 21:03] terrajobst opened #4722 "Disable optimization for debugging?"
On behalf of @SamuelEnglard:

[2016-05-02 21:50] tzwlai commented on #3369
Thanks Gregg.  Closing this now.

[2016-05-02 21:50] #3369 closed

[2016-05-02 21:54] ericstj commented on #1729
Have a look at the CLI docs in https://github.com/dotnet/cli.  That's probably a better place to get started and ask these sorts of questions.

[2016-05-02 21:54] #1729 closed

[2016-05-02 22:15] mikem8361 commented on #4094
@jkotas (and @janvorli) do you think it is important to get rid of this try/except and probe access validation and use this write/read to pipe approach?

http://stackoverflow.com/questions/7134590/how-to-test-if-an-address-is-readable-in-linux-userspace-app

[2016-05-02 22:18] janvorli commented on #4607
I've found what's causing the problem. It is the value of the UMThunkMarshInfo::m_cbActualArgSize, which controls how many bytes of stack arguments get copied in the UMThunkStub assembler helper.
In our case, this value is set to 16, while the correct value is 40. So it copies just part of the call stack - the first 16 bytes, which matches what you've dumped above.
The value of m_cbActualArgSize i

[2016-05-02 22:22] sivarv commented on #4607
@sejongoh - Based on what you said earlier in this thread above, it looks like we have another issue when the same test is run with SIMD optimizations turned OFF?  Or is it the same issue with SIMD optimizations ON?  If it is the former, we should open another separate bug to track it.  Also it would be a good idea to run the set of tests that you have added also with SIMD optimizations OFF.

[2016-05-02 22:24] sejongoh commented on #4607
@sivarv It looks another problem. An issue is opened: [https://github.com/dotnet/coreclr/issues/4720]().

[2016-05-02 22:26] BruceForstall opened #4724 "Tests should always be built the same way, regardless of product build flavor"
This is related to #4124

There are some tests, e.g. JIT\Regression\CLR-x86-JIT\V1-M09.5-PDC\b12053\b12053\b12053.exe, that are being built different between the Debug and Release build. In the Debug build, they appear to be built with /debug+ and the JIT generates debuggable code. The IL is different, e.g., in Debug there are additional NOP instructions, and the result of conditional expressions

[2016-05-02 22:27] sejongoh commented on #4720
We already have a problem, https://github.com/dotnet/coreclr/issues/4607 before reaching this problem.

Once this problem is fixed, it would be good to run the Vector3 interop testcases with the SIMD option off.

[2016-05-02 22:28] mikem8361 opened #4725 "Implement/port clru -gcinfo option on xplat SOS"
The current windows implementation of the -gcinfo option support uses Windows Fibers which need to be removed/recoded.

This seriously impacts our ability to investigate heap corruption failures from our stress runs and partner teams.

[2016-05-02 22:29] mikem8361 commented on #3676
Created #4725 for the clru -gcinfo option.

[2016-05-02 22:29] #3676 closed

[2016-05-02 22:30] mikem8361 commented on #2754
@noahfalk and @caslan do we need this work for rtm now?

[2016-05-02 22:43] jkotas commented on #4094
I would be useful to find out whether it is at least as portable as what we got. Does it work on both Linux and Mac?

[2016-05-02 22:47] janvorli commented on #4094
@mikem8361 do we still have the problem with catching the hardware exception after I've changed the hardware exception handling when the exception stems from native code under the hardware exception holder? I have thought that change would likely solve this problem.

[2016-05-02 22:53] mikem8361 commented on #4094
The current try/except probing is working fine even before your changes but the concern that the current solution was too fragile to ship. Your changes have made it a lot less fragile, but is it enough?

[2016-05-02 23:00] caslan commented on #2754
I don't think so, as we discussed, with the shared framework our existing heuristics seem to handle most cases just fine. We can revisit this later if we run into it in a more common scenario.

[2016-05-02 23:00] #2754 closed

[2016-05-02 23:03] seanshpark commented on #4671
This is the full capture what I've done.
[code]

[2016-05-02 23:12] gkhanna79 commented on #3789
@wtgodbe I am assigning this to you as you will be looking into Helix runs post build-pipeline work.

[2016-05-02 23:32] mikem8361 commented on #4094
It isn’t clear if these works on Mac or the other Unixes like FreeBSD.  Probably have to actually try it out on all the different platforms to answer this. The reason I started this thread is to avoid to any more work on this because we already have a lot work before RTM.

[2016-05-02 23:41] janvorli commented on #4094
It should work on FreeBSD and NetBSD - that's why I have made the change to enable the hardware exception test in PAL that verifies that.
As for OSX, that's a question though.

[2016-05-02 23:50] janvorli commented on #4607
I've found and fixed the bug. I'll send a PR for the fix soon.

[2016-05-03 00:31] BruceForstall commented on #4663
Actual test names:

JIT\Methodical\int64\signed\_dbgs_ldc_div\_dbgs_ldc_div.cmd
JIT\Methodical\int64\signed\_dbgs_ldc_mul\_dbgs_ldc_mul.cmd
JIT\Methodical\int64\signed\_dbgs_ldc_mulovf\_dbgs_ldc_mulovf.cmd
JIT\Methodical\int64\signed\_il_dbgs_ldc_div\_il_dbgs_ldc_div.cmd
JIT\Methodical\int64\signed\_il_dbgs_ldc_mul\_il_dbgs_ldc_mul.cmd
JIT\Methodical\int64\signed\_il_dbgs_ldc_mulovf\_il_dbgs_ldc_m

[2016-05-03 00:53] SamuelEnglard opened #4730 "Make `System.Runtime.InteropServices.SafeHeapHandle` Public"
`System.Runtime.InteropServices.SafeHeapHandle` is a class that almost every developer who has used unmanaged memory has had to write. Having it built in would solve many issues and increase the odds of developers who don't know they needed it finding it.

cc: @terrajobst

[2016-05-03 01:08] briansull commented on #4722
You can set the environment variable
COMPlus_JITMinOpts=1
That will turn off all JIT optimizations

[2016-05-03 01:22] SamuelEnglard opened #4733 "Locals missing in Visual Studio when debugging"
When I'm debugging ASP.NET Core RC1 in Visual Studio lots of locals will be missing from the debugger. It will not see them in the Locals window, on hover in code, or if I try to use them in the immediate window. There doesn't seem to be a pattern to what is missing, can be anything really even parameters.

Maybe optimization is on by accident?

[2016-05-03 01:24] SamuelEnglard opened #4734 "'Inspecting the state of an object in the debuggee of type System.Type is not supported in this context.'"
What does this error mean?!?!?

cc: @terrajobst

[2016-05-03 02:20] mylibero commented on #4714
The question would be whether we want to test those TCs on our devices.
The answer's yes and I will change the test cases.

[2016-05-03 03:04] rahku commented on #4286
All tests in System.Collections.NonGeneric.Tests & System.Collections.Concurrent.Tests pass with latest build.

[2016-05-03 03:04] #4286 closed

[2016-05-03 03:04] #4284 closed

[2016-05-03 04:41] myungjoo opened #4737 "Confusing Compiler Definitions: WIN32/WIN64 in MSCORLIB code."
As discussed in #4713, the usage of WIN32/WIN64 at /src/mscorlib/* is confusing and sometimes misleads developers including me. They denote for word-length of ISA, not OS (Windows) at /src/mscorlib/*.

Like the native counterpart of CoreCLR, WIN32 looks better if it stands for OS (Windows 32bit) and rename the current WIN32/WIN64 definitions so that they clearly stand for word-length of ISA.

As @

[2016-05-03 04:58] gkhanna79 commented on #3019
@jhendrixMSFT I am assigning this to you to enable signing for native binaries in CoreCLR repo. If you have a tracking issue for driving that engineering work, please let me know.

CC @markwilkie @sergiy-k

[2016-05-03 05:05] gkhanna79 commented on #3323
Closing as dup of https://github.com/dotnet/coreclr/issues/3323

[2016-05-03 05:05] #3323 closed

[2016-05-03 05:23] yizhang82 opened #4739 "ICastable interop test failure under x86"
Simply run Interop\ICastable\Castable test under x86 RyuJIT using the .cmd file after setting CORE_ROOT - this is what I'm getting:

        Assert failure(PID 22548 [0x00005814], Thread: 7668 [0x1df4]): Consistency check failed: AV in clr at
  this callstack:
        ------
        CORECLR! JIT_IsInstanceOfInterface + 0x8 (0x0ff51b68)
        MSCORLIB.NI! <no symbol> + 0x0 (0x091e70ca)
        MS

[2016-05-03 05:24] gkhanna79 commented on #1957
@AndyAyersMS In that case, would you like me to assign the issue over to you?

[2016-05-03 05:48] yizhang82 commented on #4210
This should be fixed by #4710

[2016-05-03 05:48] #4210 closed

[2016-05-03 05:53] yizhang82 commented on #4440
@SamuelEnglard Always throwing OutOfMemoryException might be overly simplifying, but I'd be curious  to see what kind of specific errors you are interested with LocalAlloc. Do you have some examples?

[2016-05-03 05:57] lemmaa opened #4741 "Script 'runtest.sh' fails to run set of unit tests with '--testDirFile' option"
When I run unit test using `runtest.sh` with `--testDirFile=<path>` option, it cannot find test cases properly. It is caused by tailing new line character while building array of test cases in `runtest.sh`.
[code]

[2016-05-03 05:58] lemmaa commented on #4741
after fix

[code]

[2016-05-03 07:54] myungjoo opened #4743 "MSCORLIB/UNIX/LINUX: cannot probe OS name/version."
Tested: ARM/Linux

System.Environment.OSVersion is supposed to get you the name and version of OS.
However, if you are not running on Windows, you get the following unhandled exception.

[code]

The fix is trivial and will be posted soon. :)

[2016-05-03 08:01] myungjoo commented on #4743
After applying the PR,

[code]

[2016-05-03 08:12] GCCFeli commented on #1097
Any news regarding Android support?

[2016-05-03 08:50] janvorli commented on #4607
Fixed by #4729

[2016-05-03 08:50] #4607 closed

[2016-05-03 09:22] leemgs commented on #4583
In this step, We have reported the bug of the Clang/LLVM to **llvm-dev** mailing-list.
http://lists.llvm.org/pipermail/llvm-dev/2016-May/098974.html

[2016-05-03 10:10] wateret opened #4745 "ARM/Linux "structinregs" unit test fail"
Unit test `JIT.Methodical.structs.systemvbringup.structinregs` fails in ARM/Linux.

[code]

P/Invoke to `InvokeCallback4R()` in `structpinvoketests.cs` fails. While `InvokeCallback{1-3}R()` works fine.

[2016-05-03 10:18] wateret commented on #4745
In the frame `InvokeCallback4R`, parameters are supposed to be:
[code]

While the actual value is:
[code]

Which is:
[code]

[2016-05-03 10:58] myungjoo opened #4746 "Test: ildasm/ilasm failure with 'loopEH' testcase"
The loopEH test case of CoreCLR, `tests/src/JIT/jit64/eh/basics/loopEH.cs`, has no issue of exception handling at ARM/Linux IF we directly execute the resulting `loopEH.exe`: it returns 100 as expected.

However, as `loopEH.sh` suggests, if we apply `ildasm` to `loopEH.exe` and try `ilasm` to the resulting assembly, we get the following error:
[code]

This is a legit complaint from `ilasm` because

[2016-05-03 11:18] janvorli commented on #4745
Are both the arguments of InvokeCallback4R passed in registers? Can you please post disass of the InvokeCallback4R and dump of the registers at entry to that function here?
The strange thing is that S2 and S4 differ only a little and still test with S2 works and the one with S4 does not.

[2016-05-03 11:19] janvorli commented on #4745
Here are the definitions of S2 and S4:
[code]

[2016-05-03 13:06] hqueue commented on #3977
In the lastet commit(92d709193a8ee3d8da3519811912ec0f7a552993), I got much better result. I was investigating several failures and many of them are fixed in the latest master branch.
Could you run the whole test again?

[2016-05-03 13:33] RussKeldorph opened #4748 "GC\Scenarios\DoublinkList\dlstack.cs times out under gcstress."
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x64_checked_windows_nt_gcstress0x3/lastCompletedBuild/testReport/

Runtime is at best unpredictable.  I ran it twice locally.  The first one I killed after five hours; the second passed after two hours.

Assuming this isn't a product bug, the test should be moved out of mainline runs and added to the "long running" set.

[2016-05-03 13:53] SamuelEnglard commented on #4440
I don't remember the exact error messages but they were fragmentation issues not a lack of actual memory

[2016-05-03 14:53] SamuelEnglard opened #4749 "iconUrl in project.json with local file"
if I use `"iconUrl": ".\\Icon.png"` in my project file with dnx 1.0.0-rc1-16231 I get a compile error that it cannot find the icon.

[2016-05-03 15:03] schaabs opened #4750 "SIGSEGV_libcoreclr.so!WKS::gc_heap::copy_brick_card_range"
**This appears to be an issue with background GC and heap verify.  It seems to repro in all linux distros.  The notes from this dump are from the ubuntu1404 crash dump [projectk-24026-00-amd64chk_00C4](https://rapreqs.blob.core.windows.net/bryanar/BodyPart_d1e27f32-e824-4d9f-b186-e3404075538b?sv=2015-04-05&sr=b&sig=fLu1%2B3cczlkG8bNE9LksfEA6X1ENbnzM2J8jN2rMuzg%3D&st=2016-05-02T23%3A36%3A19Z&se=201

[2016-05-03 15:14] BruceForstall commented on #4660
Closing as dup of #4664. Converted to NYI with https://github.com/dotnet/coreclr/pull/4732.

[2016-05-03 15:14] #4660 closed

[2016-05-03 15:15] BruceForstall commented on #4664
Converted to NYI with https://github.com/dotnet/coreclr/pull/4732.

[2016-05-03 15:19] BruceForstall commented on #4661
Closing as dup of #4664. Converted to NYI with #4732.

[2016-05-03 15:19] #4661 closed

[2016-05-03 15:19] BruceForstall commented on #4663
Closing as dup of #4664. Converted to NYI with #4732.

[2016-05-03 15:19] #4663 closed

[2016-05-03 15:19] BruceForstall commented on #4665
Closing as dup of #4664. Converted to NYI with #4732.

[2016-05-03 15:19] #4665 closed

[2016-05-03 15:20] BruceForstall commented on #4667
Closing as dup of #4664. Converted to NYI with #4732.

[2016-05-03 15:20] #4667 closed

[2016-05-03 15:20] BruceForstall commented on #4668
Closing as dup of #4664. Converted to NYI with #4732.

[2016-05-03 15:20] #4668 closed

[2016-05-03 15:20] BruceForstall commented on #4669
Closing as dup of #4664. Converted to NYI with #4732.

[2016-05-03 15:20] #4669 closed

[2016-05-03 15:26] adiaaida opened #4751 "RyuJIT x86: NYI: "TYP_LONG cast with overflow""
This NYI:

NYI: "TYP_LONG cast with overflow"
File: coreclr\src\jit\lower.cpp Line: 341

Is hit by this test:
JIT\IL_Conformance\Old\Base\sub_ovf\sub_ovf.cmd

[2016-05-03 15:28] RussKeldorph commented on #4722
Calling this answered and closing.  Feel free to re-open if the answer isn't sufficient.

[2016-05-03 15:28] #4722 closed

[2016-05-03 15:29] BruceForstall commented on #3569
This now passes, probably due to NYI.

[2016-05-03 15:29] #3569 closed

[2016-05-03 16:28] brunolauze opened #4752 "O_RDWR flag for sem_open is invalid on FreeBSD"
O_RDWR  is passed to sem_open  which is not valid in FreeBSD

https://www.freebsd.org/cgi/man.cgi?query=sem_open

affected file:
src/pal/src/thread/process.cpp

I didn't want to post a pull request here because i think we should review syscalls for FreeBSD and NetBSD and OpenBSD at the same time and that i don't want to suggest any fix.

But a fix example could be:

example from src/pal/src/thread

[2016-05-03 16:38] swgillespie commented on #4714
Sounds good!

[2016-05-03 16:39] swgillespie commented on #4708
This repros on Release as well.

[2016-05-03 16:45] janvorli commented on #4752
@brunolauze It looks like even on Linux and OSX, the O_RDWR should not be passed in, according to the doc:
http://man7.org/linux/man-pages/man3/sem_open.3.html
https://developer.apple.com/library/ios/documentation/System/Conceptual/ManPages_iPhoneOS/man2/sem_open.2.html
So we should just fix it by removing the O_RDWR for all platforms.
CC: @mikem8361

[2016-05-03 16:54] tzwlai commented on #1478
Closing this for now due to inactivity.  Please feel free to reopen if needed.

[2016-05-03 16:54] #1478 closed

[2016-05-03 17:32] mikem8361 commented on #4752
I assumed that the O_RDWR is needed so both ends of the semaphore (debugger and debuggee processes) could write (sem_post) and read (sem_wait). Looking back at the man page below and the one I found a while back, they don’t explicitly say the O_ flags are necessary:

       The oflag argument specifies flags that control the operation of the
       call.  (Definitions of the flags values can be ob

[2016-05-03 17:54] tzwlai commented on #2089
@gkhanna79, any particular reason why you want to enable this tool?  It hasn't been that useful to us in the past.

[2016-05-03 17:58] janvorli commented on #4752
The OSX doc for sem_open states the list of flags explicitly:
[code]

[2016-05-03 18:31] adityamandaleeka commented on #2835
Fixed with #4726

[2016-05-03 18:31] #2835 closed

[2016-05-03 18:32] BruceForstall commented on #4659
Looks like we have a pretty fundamental issue with how we model long operations. In general, the decomposition converts as follows:
[code]
but what if lo1 is '+' and hi1 is '+Hi'? So:
[code]
But we can't put any instructions between `+ (lo3, lo4)` and `+Hi (hi3, hi4)` or we’ll lose the carry bits. Maybe we need temps here, but I think we might need to reconsider how we model it altogether.

[2016-05-03 18:42] gkhanna79 commented on #2089
@rahku can comment as he ended up needing it.

[2016-05-03 18:47] swgillespie commented on #4748
@RussKeldorph This passes in a matter of seconds without GCStress set. I took a trace and it looks like majority of the time is spent doing contract checks and in control-flow guard related functions, so I don't think it's a product issue. Would you be OK disabling this for GCStress instead of moving it to the long running set? The long running set currently only runs on Release builds where this

[2016-05-03 18:58] rahku commented on #2089
The tool helps catch bugs where people do not put #ifdef DACCESS_COMPILE at right places. Because of which datastructures in dac and coreclr can go out of sync and would affect debugging. We have this tool running in internal builds but not in open builds. Sometime back there was a PR that got merged but broke the internal builds.

[2016-05-03 19:01] mikedn commented on #4659
I'm not sure if there are many options available. It's either decomposition in lowering + temps (and this isn't the only case where temps are needed, the int->long cast needs a temp too) or no decomposition in lowering + reg alloc and code gen for `TYP_LONG` ops.

[2016-05-03 19:09] RussKeldorph commented on #4748
@swgillespie sure, marking gcstressincompatible is fine.  Sorry, I  shouldn't have proposed a solution.

[2016-05-03 19:45] mikem8361 commented on #4752
Should I use 0 (zero) for the oflag parameter instead of O_RDWR? In fcntl.h (which defines the oflags for open() at least) O_RDONLY is 0 so that is why I used O_RDWR.

// Does the continue semaphore exists? If it does, the runtime is ready to be debugged.
        continueSem = sem_open(continueSemName, O_RDWR);
        if (continueSem != SEM_FAILED)
        {

From: Jan Vorlicek [mailto:notificati

[2016-05-03 19:52] janvorli commented on #4752
I guess using 0 is the way. The FreeBSD doc for sem_open says the same thing as the OSX one, with little added precision:

[2016-05-03 20:13] vijayrkn opened #4756 "Change the error message from "Process is terminated" to "Process was terminated""
Change the error message: https://github.com/dotnet/coreclr/blob/775003a4c72f0acc37eab84628fcef541533ba4e/src/vm/eepolicy.cpp#L1366

https://github.com/dotnet/coreclr/blob/775003a4c72f0acc37eab84628fcef541533ba4e/src/pal/src/include/pal/palinternal.h#L689

from
"Process is terminated due to StackOverflowException.\n"
to
"Process was terminated due to StackOverflowException.\n"

[2016-05-03 20:16] BruceForstall commented on #4659
The decomposition was intended to make reg alloc simpler, but it seems it's just moved the complexity elsewhere. LSRA previously did handle "reg pair" allocation for longs (where nodes remain longs and aren't decomposed), but it was pretty complex. That was a while ago, though; perhaps the reg alloc experts will have a different perspective now.

[2016-05-03 20:39] RussKeldorph commented on #4708
@swgillespie If you won't have a fix immediately, would you mind disabling this under gcstress for the time being?

[2016-05-03 21:10] swgillespie commented on #4708
@RussKeldorph Yeah, I'll do that - I believe this is a test issue anyway.

[2016-05-03 21:18] terrajobst commented on #4722
Thanks @briansull!

[2016-05-03 21:19] terrajobst commented on #4734
@noahfalk might be able help.

[2016-05-03 21:21] terrajobst commented on #4730
@weshaggard @stephentoub @yizhang82

[2016-05-03 22:05] brunolauze commented on #4752
@janvorli :+1:  for the 0. I suppose all OS ignores the extra flag and FreeBSD throw EINVAL(22) looking at the time it's been here. The behavior is ok when not mix on the creation, sem_open(O_RDWR) will work but sem_open(O_CREAT | O_EXCL | ORDWR) won't.

[2016-05-03 22:20] #2728 closed

[2016-05-03 22:22] #2844 closed

[2016-05-03 22:50] adityamandaleeka commented on #3811
Fixed by #4693

[2016-05-03 22:50] #3811 closed

[2016-05-03 22:59] kyulee1 commented on #4746
It appears `IL_0039:  brtrue.s   IL_012a` should be `IL_0039:  brtrue.s   IL_002a`
and `IL_0052:  blt.s      IL_0111` should be `IL_0052:  blt.s      IL_0011`
But I can't repro this on x64 Windows/Linux.
It could be a PAL or type casting issue or memory leak.
If I'm right can you put the break point around https://github.com/dotnet/coreclr/blob/master/src/ildasm/dis.cpp#L1659 and see why we got su

[2016-05-03 23:08] manu-silicon commented on #4746
Looks like the same as #3927

[2016-05-03 23:09] #4638 closed

[2016-05-03 23:40] mikem8361 commented on #4623
I'm assuming you are calling ICorDebugEval::Abort or RudeAbort to terminate the funceval?

[2016-05-04 00:14] wesrupert commented on #4623
Yes and yes. We call `ICorDebugEval::Abort`, then if we don't get a response after a few seconds or get an error we call `ICorDebugEval::RudeAbort`. It looks like we also perform further damage control if we don't get a response from the rude abort after a while and end up hanging on an indefinite wait on an async break request, something else that I've noticed doesn't play nice with `while(true)

[2016-05-04 00:25] mikem8361 commented on #4623
As it turns out, this wasn't implemented for Linux/OSX. On windows it relies on thread suspend/resume to hijack the busy waiting thread which don't exist on Linux and on OSX the thread suspend/resume isn't exactly compatible with the windows version. Aditya went through hoops to get this scenario to work with GC. Even though some of his work can be leveraged there is still a lot work to do for the

[2016-05-04 00:40] wesrupert commented on #4623
Ok. In the meantime, on our end we can add a final fallback to abort the app when this scenario occurs. Otherwise I'm not sure what more we are able to do. Is this a feature that you are interested in investing in before RTM?

[2016-05-04 00:52] mikem8361 commented on #4623
I don’t know yet if we will able to do this before RTM.

[2016-05-04 00:54] swaroop-sridhar opened #4766 "Pi-Digits: Extra Struct copies of BigInteger"
RYUJit has several extra struct copies of the two field BigInteger struct in the pi-digit Benchmark's functions.

For example, here's the code for `pidigits:extract_digit(int):int:this`
[code]

The comments indicate block struct copy/init as well as field assignments.
There are several extra copies in this code:
* The copy of return value into `t3` struct after each function is unnecessary. The re

[2016-05-04 01:04] janvorli commented on #4549
@LLITCHEV I am unable to repro the issue. Can you please tell me the exact steps to repro it?

[2016-05-04 01:11] seanshpark commented on #4672
Reason for strange output
[code]
is because of
[code]
casting `(ULONG64)` to the pointer making 64bit that works fine with x64 or arm64 but not for arm 32bit.

@mikem8361 , there are lots of `ULONG64` casting in SOS source and types derived from it. In what way would it be appropriate to change this?
1) just fix the bug for now, change `"%p"` related arguments cast to ULONG
2) change all address p

[2016-05-04 01:34] mikem8361 commented on #4671
Everything looks ok (of course except actually hitting the bp).  The “JITTED” message means sos received the notification the method was jitted and the native lldb breakpoints were created.  The question is if the breakpoint address 0x719F2466 is correct managed method address. “name2ee helloworld3.exe!HelloWorld3.Program.Main” should print the method desc/name/etc. info. “ip2md 0x719F2466” should

[2016-05-04 01:37] seanshpark commented on #4672
I've found `SOS_PTR()` that is defined as in `strike.h`
[code]
Could we use this for all `"%p"`?

[2016-05-04 01:43] krytarowski commented on #4752
https://man-k.org/man/netbsd/3/sem_open?r=1&q=sem_open

[code]

NetBSD doesn't note  O_RDWR either.

[2016-05-04 01:45] svick commented on #4545
I believe API changes [should follow the API review process](https://github.com/dotnet/coreclr/blob/775003a4c72f0acc37eab84628fcef541533ba4e/Documentation/project-docs/contributing-workflow.md#suggested-workflow), namely they should be posted to the corefx repo, even if the implementation is in coreclr.

[2016-05-04 01:46] krytarowski commented on #4552
I got some progress.. at least I can load the libsosplugin.so now as there is native NetBSD process module. The process module is temporarily dysfunctional - but I will try to load a core file and unwind a stack.. hopefully it will do the trick.

[code]

[2016-05-04 01:48] svick commented on #4538
Do you actually want just the CoreCLR, or do you want all the tooling for compiling and running projects? Because in that case, you probably want [the `dotnet` CLI](https://github.com/dotnet/cli/)

[2016-05-04 01:49] mikem8361 commented on #4672
It looks like the bug is in the xplat DMLOut/ExtOut formatting (via g_ExtControl->OutputVaList).  OutputVaList is implemented in xplat/dbgeng.h.  It uses PAL__vsnprintf in pal\src\cruntime\printfcpp.cpp to do the formatting since lldb doesn’t support a lot of the special formatting chars.  The bug is the difference between how %p is defined by the dbgeng apis (the arg is always 64 bits) and the PA

[2016-05-04 01:49] myungjoo commented on #4746
At the second break of dis.cpp:1659,
we have a wierd offset:

[code]

This is caused by assuming that offset is unsigned, where this `offset` can be negative as in this testcase of loopEH.exe. I'll send a PR soon.

[2016-05-04 01:51] mikem8361 commented on #4672
Yes, it looks like the SOS_PTR macro will work on xplat (where the bitness needs to match the platform) but still work on Windows/Windbg where %p is always ULONG64 even on x86/arm.

[2016-05-04 01:52] seanshpark commented on #4672
OK, I'll go with SOS_PTR(x). Simple test using `(LPVOID)` seems to work with above 3 commands.

[2016-05-04 01:55] Maoni0 opened #4769 "GetCurrentProcessCpuCount is called > 20 times during EEStartupHelper"
Each time this is called it's making an OS call. This is really unnecessary. We should store the result somewhere.

[2016-05-04 02:05] krytarowski commented on #4552
[code]

it needs more work

[2016-05-04 02:08] svick commented on #4513
While I agree those use cases are not important, I think they do exists. Namely, `StringBuilder` for which you can't call `ToString()` can still be used:

* by calling its indexer getter
* by getting a substring of it, by calling `ToString(int, int)`

[2016-05-04 02:29] noahfalk commented on #4734
What were you doing that leads up to the error and where does the error appear?

[2016-05-04 02:29] manu-silicon commented on #3977
@hqueue I can do it on Friday.

[2016-05-04 03:52] #3940 closed

[2016-05-04 03:52] #3571 closed

[2016-05-04 03:53] wateret commented on #4745
@janvorli,
To make things simpler, I got rid of all the tests other than S2 and S4 in `Program3:Main1()` and ran the test again.

Looking at the parts calling `InvokeCallback2R` and `InvokeCallback4R`,

[code]

It seems like `InvokeCallback2R` needs an on-stack argument(V41 OutArgs) cause the function returns a large struct and which one more argument. However `InvokeCallback4R` can still hold all

[2016-05-04 04:13] mikem8361 commented on #4623
@tzwlai FYI.  This is a new feature/workitem.

[2016-05-04 04:45] #4746 closed

[2016-05-04 04:46] SamuelEnglard commented on #4734
The stack was in mscorlib if that helps?

[2016-05-04 05:12] yizhang82 commented on #4440
I see. But in that case what would you do?
I would expect such fragmentation issues are typically difficult to handle - you need to try different strategy if the memory becomes fragmented, for example, free some extra memory, and try again. And even then it is difficult to predict whether it is going to help it succeed or not. I would argue that for such sophisticated applications that handle memo

[2016-05-04 05:30] mikedn commented on #4766
The JIT doesn't do copy-prop for structs, see #1133

Presumably by "block copy" you mean using a SSE move and not something like `rep movsb`?

Because t4 isn't used after the call? Yeah, that would be nice but that's a bit of fortunate case. In general the JIT has to make such copies when passing value types by value due to the rather unfortunate calling convention.

It is because the JIT doesn't

[2016-05-04 05:45] mikedn commented on #4659
Well, at least for add/sub there's a 3rd option: allow true linear IR to be used in lowering :)

[2016-05-04 05:47] myungjoo opened #4775 "Test: throwinfinallyintryfilter3.exe fails in Linux/ARM"
CoreCLR Unit Test `throwinfinallyintryfilter3` (`/JIT/jit64/eh/basics/throwinfinallyintryfilter3`) fails in Linux/ARM.

[code]

1. Before diving into exception handling code of CoreCLR, it'd be much appreciated if I could get confirmed on the validity of the test case, `throwinfinallyintryfilter3`.

Using a .cs file that shows the same exception behavior (I'm not fluent in IL-ASM, so I created one

[2016-05-04 05:59] seanshpark commented on #4671
[code]
two commands result:
[code]

if breakpoint is of native code level, should it be set to `CodeAddr`, `719fb510` ?

[2016-05-04 06:14] noahfalk commented on #4734
Sorry I don't mean to be pedantic but the error string alone isn't unique enough for me to infer very much yet. You mentioned 'stack' and the error message has the word 'debuggee' in it so would I be safe to assume you were using a debugger? Was the debugger Visual Studio? Was the debuggee an application using .Net Core?

The error text looks like something that would probably be produced by Visua

[2016-05-04 07:04] myungjoo opened #4777 "[RFC] Suggestion on System.PlatformID (mscorlib)"
Today's mscorlib's Environment/OSVersion has "PlatformID" and "Version" information for the given OS. However, the expression power of it is limited and focussed on Windows only. Although we can express "Win32NT 4.5.0.0", we cannot express "Linux 3.10" or "Ubuntu/Linux 3.10".

`src/mscorlib/src/System/PlatformID.cs` of today defined PlatformID as follows:
[code]

With minimal changes on PlatformID

[2016-05-04 08:10] Dmitri-Botcharnikov commented on #4264
Closed by #4473

[2016-05-04 08:10] #4264 closed

[2016-05-04 08:38] myungjoo opened #4779 "Linux/ARM JIT Stack Pointer Misalignment"
There is a case where the stack pointer, `sp`, gets misaligned by `4` and `ThePreStub` gets halt by `CHECK_STACK_ALIGNMENT`, which checks if it's aligned by `8`.

The asm from GDB at the break:
[code]

Maybe src/pal/src/arch/arm/exceptionhelper.S is breaking?
(will test next time...)

[2016-05-04 09:23] janvorli commented on #4775
The exception "Nah..." should be handled in the catch in Main, so it is an exception handling problem.
Could you please try remove the filter from the catch in Main and see how it behaves? The strange thing in your log is that the filter 6 is not called the 2nd time. Running your test on the desktop CLR gives:
in filter...19
in filter...6
What The Heck
in filter...19
**in filter...6**
Handled.

[2016-05-04 10:35] svick commented on #4438
I think what @justinvp was trying to say is that those definitions are from the `System.Linq` **package**.

How does your `project.json` look like?

[2016-05-04 11:32] SamuelEnglard commented on #4440
I was in fact rolling my own pool.

I don't think i would call anything on the `Marshal` class simple. Any developer using those APIs is doing something complex.

Maybe the solution is a different or overload of `AllocHGlobal` that doesn't throw OOM?

[2016-05-04 11:36] SamuelEnglard commented on #4734
Ah. Ok. Sorry, was late and i wasn't thinking.

I was debugging using VS2015 Update 2 on Win 8.1. The application was an x86 .NET Core, ASP.NET Core.

Anything else?

[2016-05-04 12:09] tugberkugurlu commented on #2688
@adityamandaleeka, @stephentoub might not be relevant here but how should I listen on `SIGTERM` on a .NET Core console application? My app level entry point accepts `CancellationToken` and I am planning to trigger a cancellation through a `CancellationTokenSource` when I receive `SIGTERM` in my static `Main` method.

[2016-05-04 12:14] tugberkugurlu commented on #2688
Maybe https://github.com/dotnet/coreclr/issues/2688#issuecomment-216841213 is related to https://github.com/dotnet/corefx/issues/3188?

[2016-05-04 13:00] papaslavik commented on #4619
It looks like the problem is present only on _AMD64_ due to the following code in MAPMapPEFile():

[code]

[2016-05-04 13:21] tishion commented on #4769
hmm.. It seems that there is a better implementation of  GCToOSInterface in file

but this file is one part of project **GCSample**, which is not the component of CoreCLR

The implementation of GCToOSInterface which is used by CoreCLR is located in:

So I'll try to replace it with the better implementation.

[2016-05-04 14:25] janvorli commented on #4769
@Maoni0 Looking at the implementation of the GetCurrentProcessCpuCount, I can see that it already caches the result - see https://github.com/dotnet/coreclr/blob/master/src/utilcode/util.cpp#L1203
So it seems we don't need to change anything, right?

[2016-05-04 14:47] tishion commented on #4769
Alright. I thought GetCurrentProcessCpuCount was a native windows API. Really don't need to change anything.

[2016-05-04 16:30] kvochko opened #4781 "Testing libsosplugin"
We would like to have a way to test libsosplugin in ARM. For this we considered two options.
The first one is to write python scripts which will load at the start of lldb and run some scenario. After testing this approach on the host we found that python scripting within lldb is quite unstable and often produces segmentation faults.
Another option is to write a scenario as a set of lldb commands i

[2016-05-04 16:55] mikem8361 commented on #4671
Yes, it should.  Not sure why it is using 0x719FB53C (44 bytes off).  Can you debug sos (with lldb or gdb)?  Set a bp on strike.cpp line 6102.

[2016-05-04 17:25] swgillespie commented on #4748
Just disabled the test for GCStress. thanks!

[2016-05-04 17:25] #4748 closed

[2016-05-04 17:26] swgillespie commented on #4708
Just disabled the test for GCStress - Going to leave this open while I investigate what's going on.

[2016-05-04 17:42] schaabs opened #4784 "SIGSEGV_System.Globalization.Native.so!GlobalizationNative_GetSortHandle"
**The notes for this bug refer to the ubuntu1404 coredump of stress test [projectk-24025-00-amd64chk_0015](https://rapreqs.blob.core.windows.net/bryanar/BodyPart_554107c3-d70f-4ef3-8bd8-b184bce56207?sv=2015-04-05&sr=b&sig=k7wlR%2FK6ETEUkGx%2FJdToT3tjMdVeLHVoV2iZm%2BmFYwA%3D&st=2016-05-02T23%3A32%3A10Z&se=2017-05-02T23%3A32%3A10Z&sp=r)**

**This issue appears to be an interop issue where we end up

[2016-05-04 17:49] pgavlin opened #4785 "crossgen does not properly initialize a dynamically-loaded JIT"
In particular, it does not call `sxsJitStartup`. From [zapper.cpp:750](https://github.com/dotnet/coreclr/blob/master/src/zap/zapper.cpp#L750):

[code]

Unfortunately, simply changing the condition on the `#if` to `(defined(FEATURE_CORECLR) || !defined(SELF_NO_HOST)) && !(defined(CROSSGEN_COMPILE) && defined(FEATURE_MERGE_JIT_AND_ENGINE))` doesn't quite get there, as `GetClrCallbacks` asserts.

[2016-05-04 17:56] sergiy-k commented on #4784
@JohnChen0, could you please verify that the NI image generated for mscorlib is correct for this case? According to @schaabs the code in mscorlib.ni.dll invokes the wrong p/invoke stub.

[2016-05-04 18:02] Maoni0 commented on #4769
oh yeah, you are right. I think I accidently got rid of some code when I was testing. my bad!

[2016-05-04 18:02] #4769 closed

[2016-05-04 18:17] gkhanna79 commented on #3058
Please undo the change in clrdefinitions.cmake and validate on non-Windows platforms to confirm everything works.

[2016-05-04 18:33] noahfalk commented on #4734
@gregg-miskelly works on VS debugger and might be able to provide a little more precision.

Where did the error string appear within the Visual Studio UI? Next to a particular expression in the locals window? In the immediate window? In a tooltip? Somewhere else? In order to determine why the debugger was trying to inspect a System.Type instance we'd need to understand what the debugger was trying

[2016-05-04 18:53] SamuelEnglard commented on #4734
In the local window

[2016-05-04 19:08] gregg-miskelly commented on #4734
Were you inspecting a reflection object (ex:System.Type, TypeInfo, etc), or something else?

This means that -- you were stopped in a place where the debugger can not func-eval (force the target process to execute a function) so we had to interpret the code to try and evaluate properties and what the debugger was trying to do required inspecting a reflection type. But the CLR doesn't provide APIs

[2016-05-04 19:29] SamuelEnglard commented on #4734
I was debugging `TypeBuilder` code so that sounds about right

[2016-05-04 19:30] sergiy-k commented on #3627
This test does not fail when executed directly from the command line. The issue seems to be caused by the auto generated shell file.

[2016-05-04 19:33] sergiy-k commented on #3493
Hi @dagood, can this workaround be removed now?

[2016-05-04 19:34] joshfree commented on #892
Moved this issue to https://github.com/dotnet/corefx/issues/8288

[2016-05-04 19:34] #892 closed

[2016-05-04 19:36] noahfalk commented on #4734
If the error has been reasonably described are we good to close this issue?

[2016-05-04 19:39] SamuelEnglard commented on #4734
I understand it. think a better error message should be given or even better not happen but that's a different issue

[2016-05-04 19:39] #4734 closed

[2016-05-04 19:41] sergiy-k commented on #3129
CentoOS is on the roadmap and is officially supported.
dotnet/cli can be downloaded from https://github.com/dotnet/cli/
I'm closing this issue but please feel free to re-open it if needed.

[2016-05-04 19:41] #3129 closed

[2016-05-04 19:43] sergiy-k commented on #2834
Hi @ellismg, can this issue be closed now or there is still work that needs to be done to address it?

[2016-05-04 19:54] dagood commented on #3493
Yeah, we should be able to remove it now, I'll try it out. Thanks for the reminder!

[2016-05-04 20:04] ellismg commented on #2834
We are executing on (2) and have already done this for other Linux distros we support.  We don't yet have a strategy for rolling releases like pkgsource except that we hope the CLI and shared framework will make their way into these systems such that they can be rebuilt from source when dependencies are updated.

The work we plan to do for RTM has already been done.

[2016-05-04 20:06] #4596 closed

[2016-05-04 20:19] #4475 closed

[2016-05-04 20:20] sergiy-k commented on #2834
@ellismg, thank you. In this case, I'm going to move it out from RTM.

[2016-05-04 20:23] gkhanna79 commented on #4785
@pgavlin I believe the issue is that clrjit.dll (JIT32) needs to export "jitStartup" similar to what is done for clrjit.dll (x64). Otherwise, not just crossgen but even the runtime will not be able to consume the JIT. Is there a reason why that export is missing?

CC @RussKeldorph

[2016-05-04 20:26] sergiy-k commented on #4521
cc @piotrpMSFT

[2016-05-04 20:27] pgavlin commented on #4785
@gkhanna79 the `jiStartup` function is optional; it is only called if it is exported. The `sxsJitStartup` function, however, is mandatory: it must exist and must always be called as the first step in initializing the JIT after it is loaded.

[2016-05-04 20:48] sivarv opened #4788 "[RyuJIT] Ensure a test case and LSRA stress mode combo to have a multi-reg call node have its regs allocated in order reverse of ABI return order"
Source code pointer:
genStructReturn()

GT_RETURN(call) where call is a multi-reg call.  ABI return reg order is {rax, rdx} or {xmm0, xmm1}.  Under LSRA stress it could be possible that originally allocated regs are spilled and reloaded to reverse the order.  But codegen of GT_RETURN needs to move the allocated regs as: rdx->rax and rax->rdx. This issue is to ensure that we have a test case and/or

[2016-05-04 20:48] sergiy-k commented on #3510
Addressed by https://github.com/dotnet/coreclr/pull/4374. Thank you!

[2016-05-04 20:48] #3510 closed

[2016-05-04 20:53] janvorli commented on #2606
I've prototyped a change that implements checks for other threads than the current one - getting the stack range dynamically. The perf hit in debug build was 30% (no hit in release build since these checks were debug build only) and it is also worth mentioning that unless the stack size is set to unlimited, it doesn't add any benefit, since the cached static values are equal to what we would get f

[2016-05-04 20:53] #2606 closed

[2016-05-04 20:55] sergiy-k commented on #2085
Hi @kevin-coder, are you still able to reproduce this problem?

[2016-05-04 20:58] sergiy-k commented on #1182
Hi @krk, I could not reproduce it. Could you please provide more detailed repro steps? Thank you!

[2016-05-04 21:21] sivarv commented on #3819
Closing this work item as we have tackled this work item by decomposing 16-byte structs into two 8-bytes.

[2016-05-04 21:21] #3819 closed

[2016-05-04 21:25] sivarv commented on #2407
@sejongoh - assigning this to you as you are fixing RTM bugs.

[2016-05-04 23:25] sivarv commented on #2907
This got addressed by PR #4755

[2016-05-04 23:25] #2907 closed

[2016-05-05 01:33] sergiy-k commented on #3648
This is related to how Linux manages (overcommits) its memory.

[2016-05-05 01:33] swaroop-sridhar opened #4794 "GcStress: Race between background-GC and RedirectionFrame setup"
Windows NT X64 GCStress 0xC failure.

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x64_checked_windows_nt_gcstress0xc/7/consoleFull

[code]

[2016-05-05 02:30] #4311 closed

[2016-05-05 04:52] yizhang82 opened #4796 "Add UnmanagedType.LPUTF8Str and corresponding Marshal helpers"

[2016-05-05 04:52] yizhang82 commented on #4796
@tijoytom  Let's track the UnmanagedType.LPUTF8Str RTM feature here.

[2016-05-05 12:30] lucenticus opened #4798 "Linux, SOS: Setting breakpoint to managed code by file name + line number doesn't work"
I use the same source and steps from #4671, but on Ubuntu 14.04 x64.
LLDB + libsosplugin doesn't support adding breakpoint  by following command:
`bpmd helloworld3.cs:10
File name:Line number not supported
`
It seems that symbols loading implemented only if `FEATURE_PAL` is not defined.
Am I right understand that  we should read portable PDB to get this information on Linux?
Could you share your p

[2016-05-05 12:36] myungjoo commented on #4775
Sure, I will.

[2016-05-05 13:35] janvorli commented on #4549
Minimal repro:
[code]

[2016-05-05 14:07] am11 opened #4799 "UnmanagedMemoryAccessor.ReadArray unavailable from the contract"
The `ReadArray` method can be found in the CoreCLR source [UnmanagedMemoryAccessor.cs#L577-L625](https://github.com/dotnet/coreclr/blob/21f8416/src/mscorlib/src/System/IO/UnmanagedMemoryAccessor.cs#L577-L625), but it does not seem to be exposed to be available in CoreFX [variant](https://github.com/dotnet/corefx/blob/master/src/System.IO.UnmanagedMemoryStream/src/System/IO/UnmanagedMemoryAccessor.

[2016-05-05 14:28] #3493 closed

[2016-05-05 15:20] amarinov commented on #4657
@sergiy-k The link you've given install SDK version 1.0.0-rc2-002673 . Where can I get  1.0.0-rc3-23829 from?

[2016-05-05 16:03] BruceForstall commented on #4659
Converted to NYI with #4782.

[2016-05-05 16:09] BruceForstall commented on #3551
These are currently passing (with NYI)

[2016-05-05 16:09] #3551 closed

[2016-05-05 16:14] BruceForstall commented on #3554
I currently see this failing in:

JIT\Methodical\stringintern\_Simpletest1\_Simpletest1.cmd
JIT\Methodical\stringintern\_XAssemblytest1-xassem\_XAssemblytest1-xassem.cmd
JIT\Methodical\stringintern\_XModuletest1-xmod\_XModuletest1-xmod.cmd
JIT\Methodical\stringintern\test1-xassem\test1-xassem.cmd

[2016-05-05 19:40] kouvel commented on #3422
My search for ways to add a cross-process mutex didn't yield many options. I'm currently planning on this:
- On Linux, we have the pthread robust mutex that can be allocated in shared memory, so that's great
- Elsewhere, it seems like file locks are the only decent option

Currently, we are looking for the following features:
- Track lifetime across processes and users. One process/user should be

[2016-05-05 20:08] ellismg commented on #4784
@schaabs I believe the above analysis is wrong.  The implementation of Globalization is split between Unix and Windows.

Instead we should start here:

[CompareInfo.Unix.cs line 20](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/corefx/System/Globalization/CompareInfo.Unix.cs#L20)

[code]

Which calls into `GlobalizationNative_GetSortHandle`.

Do you know what argument we were passing

[2016-05-05 20:39] janvorli commented on #3422
cc @krytarowski for NetBSD

[2016-05-05 21:06] tmat opened #4801 "Likely bug in Mac code gen"
https://github.com/dotnet/roslyn/pull/11042 failed on Mac due to what seems to be a bad code gen.

The PR updates from crossgen version to 1.0.2-rc3-24011-00 to 1.0.2-rc3-24102-00.

The CI script first builds Roslyn and then builds Roslyn again with the Roslyn built in previous step. The  second build fails with an assertion. When the following property:

http://source.roslyn.io/#Microsoft.CodeAna

[2016-05-05 21:43] davmason commented on #1461
This was fixed with efa1dda2c1579417dcaed92633b8556fd68270ee, it is also in desktop by now.

[2016-05-05 21:43] #1461 closed

[2016-05-05 22:11] swgillespie opened #4802 "SIGSEGV in PartialCompationLOH test on OSX"
cc @sergiy-k @Maoni0

Stack trace:

[code]

The repo is inconsistent but I got it to repo once and got a core dump. I'll keep an eye on this (originally showed up in the nightly long GC CI run)
* http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x64_release_osx_longgc_tst/6/console

[2016-05-05 22:22] adityamandaleeka commented on #3937
I'm not able to reproduce this issue (or #3938) locally, but it appears based on the logs you pasted that the tests are passing, albeit not within the timeout period.

The spew from the test infrastructure is pretty confusing here, since the output from the wrapper lib and the batch file for the test are all together, and sometimes contradict. The wrapper says there's a failure (because of the tim

[2016-05-05 22:23] adityamandaleeka commented on #3938
This is the same issue as described in this comment: https://github.com/dotnet/coreclr/issues/3937#issuecomment-217296974

[2016-05-05 22:31] Maoni0 commented on #4802
Sean and I chatted about this. I asked him to collect a few more dumps if he can and see if all of them are from PinObject (do a !verifyheap sos if it's available on OSX see what it reports too). If that's the case we could do some light instrumentation around the pins. Also keep running with heap verify. Another thing to try is, if you can repro this not too unoften, you can disable concurrent GC

[2016-05-05 22:39] jamesqo commented on #972
@jaredpar

That's great!

@weshaggard It's been almost a year now, is there any progress on this? I think it would make it easier for people to contribute to mscorlib if the code there were better-formatted.

[2016-05-05 22:51] rahku opened #4805 "Bug in multidim array get accessor"
From:
http://stackoverflow.com/questions/36588365/why-the-enumeration-value-from-a-multi-dimensional-array-does-not-equal-to-itsel/36633230#36633230

Compile the following /platform:x86 /debug and run the exe.  Should say false, correct response is true.

Source:
using System;

public class Test
{
    enum State : sbyte { OK = 0, BUG = -1 }

    static void Main(string[] args)
    {
        var s

[2016-05-05 23:12] RussKeldorph commented on #4717
It's my understanding that the blocking-release label refers to x86 & AMD64 only.

[2016-05-05 23:13] BruceForstall commented on #4666
I normally run Debug tests. If you run Checked or Release, you might have different input IL, which might hide the bug. That's unfortunate. Ideally, we would run all tests built all ways. No matter what, we should pick a compilation method and always use it. I opened #4724 to track this.

[2016-05-05 23:16] BruceForstall commented on #4666
This failure is because the GC write barrier helper calls trash EDX, but that wasn't being properly modeled. In this case, EDX held an address that was expected to be live across the helper call, so we trashed some random memory, and didn't write to the correct slot of an object.

The method with the failure was <GetEnumerator>d__3[__Canon][System.__Canon]:MoveNext():bool:this, the the helper was

[2016-05-05 23:18] RussKeldorph commented on #3442
@pgavlin pls look

[2016-05-05 23:26] RussKeldorph commented on #3964
Should check w/ and w/o SIMD.

[2016-05-05 23:38] schaabs commented on #4784
@ellismg Sorry about that.  The symbols for mscorlib have line numbers stripped out, so I just found the methods with grep.  The data that we end up passing is in fact a byte array.

	(lldb) dumpobj 0x00007fc810188658
	Name:        System.Byte[]
	MethodTable: 00007fc82fa93a00
	EEClass:     00007fc82ef8f0f8
	Size:        24(0x18) bytes
	Array:       Rank 1, Number of elements 0, Type Byte
	Content:

[2016-05-05 23:41] ellismg commented on #4784
No worries.

Yes, that is correct.  I will fix this.  Thanks for the detailed analysis!

[2016-05-05 23:54] adityamandaleeka commented on #3939
@swgillespie It looks like these GC tests try to allocate so much that they exceed the addressable memory limit on x86. Can you take a look and either modify them or just disable them on x86?

[2016-05-05 23:58] swgillespie commented on #3939
Related: https://github.com/dotnet/coreclr/issues/4714

[2016-05-06 00:50] BruceForstall opened #4817 "RyuJIT x86: Silent bad codegen in Checked builds"
The following tests are failing in Checked build test runs, but not in Debug. If there are different issues here, new GitHub issues should be created for each.

JIT\jit64\hfa\main\testC\hfa_nd0C_d\hfa_nd0C_d.cmd
JIT\jit64\hfa\main\testC\hfa_nd0C_r\hfa_nd0C_r.cmd
JIT\jit64\hfa\main\testC\hfa_nd1C_d\hfa_nd1C_d.cmd
JIT\jit64\hfa\main\testC\hfa_nd1C_r\hfa_nd1C_r.cmd
JIT\jit64\hfa\main\testC\hfa_sd0C_d

[2016-05-06 01:13] weshaggard commented on #972
There has been no progress. Right now I'm not even sure we will do it at all because of various constraints where this code is shared and will cause nightmare merges which adds more risk then it actually adds in value. I'm keeping the item open because I do want to try and do it at some point in the future if the opportunity arises but I will only do it if I can also bast all the formatting change

[2016-05-06 02:29] krytarowski commented on #3422
I don't have anything portable offhand, other than maybe `<semaphore.h>` or `pthread_mutexattr_init`(3).

[2016-05-06 03:21] #4666 closed

[2016-05-06 10:45] mkborg commented on #3691
I have got almost the same issue:

lr\tests\runtest.proj]

Is there any way to increase timeout?

[2016-05-06 11:42] mkborg opened #4823 "Tests do not time-out on Linux"
Sometimes some tests running on Linux (and especially on 32-bit ARM Linux) are stuck for too long time (let's say for several hours) and I have to manually kill them.
I have seen on Windows that one test was terminated by time-out. Am I correct assuming that every test running on Linux also shall be terminated on time-out?

[2016-05-06 12:24] krytarowski opened #4824 "NetBSD in 1.0.0-rtm?"
The 1.0.0 version is coming pretty close.

Lately I'm being contacted by dozens of .NET and NetBSD users and developers about the port to .NET Core 1.0.0, both privately and in public (like by by @joeduffy on Twitter or @ghuntley on Gitter), with questions about NetBSD unikernels (http://rumpkernel.org/).

I saw news about the NetBSD port and unikernel dreams on Hacker News, Reddit, Phornonix and

[2016-05-06 12:57] forevergenin commented on #808
looks interesting

[2016-05-06 13:28] papaslavik opened #4825 "[ARM/Linux] JIT32_GCENCODER is not switched for _TARGET_ARM_"
There's a naming related question of whether it's good that JIT32_GCENCODER is only defined (and actually supported) for _TARGET_X86_ which, for instance, leads to a call of CodeGen::genCreateAndStoreGCInfoX64 for _TARGET_ARM_ when we try to crossgen-build mscorlib.ni.dll for ARM on Linux.

crossgen mscorlib.ni.dll for ARM eventually crashes with an illegal opcode
Program received signal SIGILL, I

[2016-05-06 13:30] papaslavik commented on #4825
/cc @pgavlin

[2016-05-06 13:36] RussKeldorph commented on #2435
Moved tests to #2451.  Closing as duplicate.

[2016-05-06 13:36] #2435 closed

[2016-05-06 15:30] kyulee1 opened #4827 "ARM64: StackWalk support for FastTailCall"
Need a special handling to detect tail call implemented by epilog + jmp.

category:cq
theme:tail-call
skill-level:expert
cost:medium

[2016-05-06 15:49] Dmitri-Botcharnikov commented on #4671
I seems that `bpmd` command on ARM/Linux damages internals of VM. We've got SIGSEGV, SIGILL on some tests after this command has issued. Also breakpoint on IssueDebugerBPCommand doesn't hit in lldb.

[2016-05-06 15:55] sergiy-k commented on #927
Please re-open this issue if you are still having problems building coreclr. Thank you!

[2016-05-06 15:55] #927 closed

[2016-05-06 15:58] sergiy-k commented on #2085
Please re-open this issue if you are still running into a problem with building coreclr. Thank you!

[2016-05-06 15:58] #2085 closed

[2016-05-06 15:59] sergiy-k commented on #1182
Please re-open this issue if you are still running into a problem with building coreclr. Thank you!

[2016-05-06 15:59] #1182 closed

[2016-05-06 16:58] swgillespie commented on #4093
Spoke to @Maoni0 about this one - I have a repro but since it only repros on checked Ubuntu builds it's not very high priority. Moving to 1.1.0.

[2016-05-06 16:59] swgillespie commented on #4400
After investigation, closing as a dupe of https://github.com/dotnet/coreclr/issues/4093

[2016-05-06 16:59] #4400 closed

[2016-05-06 17:42] kyulee1 commented on #3386
Until packages are complete, these tools can be manually copied to helix. And also DotNet CI does not require such prebuilt tools since it can just consume them from the build. So moving milestone out of RTM.

[2016-05-06 17:48] tzwlai commented on #2089
Thanks @rahku.  Is this something you are planning to address by RTM?

[2016-05-06 17:52] rahku commented on #2089
This is not a must for RTM. I will let you know soon if I will be able to address it by RTM.

[2016-05-06 17:55] tzwlai commented on #4623
I don't think we can fit this in before RTM.  I'll move this out to 1.1 unless there is strong objection.

[2016-05-06 18:21] kyulee1 commented on #2771
The failure is expected under CoreCLR.
Basically, in MDInfo constructor, we'd like to set `MetaDataImportOption`. But handling such option is under `FEATURE_METADATA_EMIT_ALL` which CoreCLR does not support.
See https://github.com/dotnet/coreclr/blob/master/src/md/MD.props#L18-L20

It might be better bailing out such option under CoreCLR in ildasm. So I'm moving milestone out of RTM.

[2016-05-06 18:28] gkhanna79 commented on #4785
@pgavlin Assigning to you since you are fixing this.

[2016-05-06 18:55] swgillespie commented on #4802
Based on @sergiy-k 's advice I tried to duplicate OSX's behavior vis-a-vis unwind context pointers on Linux to try and reproduce this issue, but no luck. It looks form the stack trace that the crash occurs when scanning pinned handles and not the stack, so that portion of the PAL is absolved from blame here, I think.

[2016-05-06 19:42] #4752 closed

[2016-05-06 20:37] gkhanna79 opened #4832 "Consolidate differences in the JIT for crossgen and runtime scenarios"
src\jit\crossgen produces a version of clrjit_crossgen that is built with different defines (it includes crossgen.cmake) than the standalone jit we intend to use for RTM from src\jit\standalone (which only defines FEATURE_READYTORUN_COMPILER).

This needs to be consolidated to ensure that there is always one jit for all scenarios (crossgen vs runtime) - unless we want to have two different JIT bin

[2016-05-06 20:37] gkhanna79 commented on #4832
CC @fadimounir @jkotas

[2016-05-06 20:38] kyulee1 commented on #2666
As in https://github.com/dotnet/coreclr/pull/4791, ARM64 also has similar issue since a struct can be passed in two registers.

[2016-05-06 20:45] #4420 closed

[2016-05-06 21:17] #4628 closed

[2016-05-06 21:17] #4629 closed

[2016-05-06 21:45] gkhanna79 commented on #1957
@AndyAyersMS I have assigned this to you since you wanted to take a stab at this for RTM.

[2016-05-06 21:52] janvorli commented on #4549
Fixed by #4830

[2016-05-06 21:52] #4549 closed

[2016-05-06 22:02] Maoni0 commented on #3380
this was merged. feel free to try it out.

[2016-05-06 22:15] janvorli commented on #4824
CC: @richlander

[2016-05-06 22:30] gkhanna79 opened #4835 "JIT32 import libs are incorrect"
Standalone JIT32 is linking against VCRuntime140.dll and api-set for uCRT. It should, instead, follow the approach implemented in https://github.com/dotnet/coreclr/commit/7902a3a3eee17378a61ef6817af5e73dc3050cfc#diff-af3b638bc2a3e6c650974192a53c7291 so that we only have runtime dependencies on uCRT for Release build of the JIT and always statically linking the CRT. This enables xcopy distribution

[2016-05-06 22:57] #1440 closed

[2016-05-06 23:23] pgavlin commented on #2300
Closed by #4831.

[2016-05-06 23:23] #2300 closed

[2016-05-07 00:48] kevin-coder commented on #2085
OK, I will have a try and if there is still such kind of issues, I will re-open it. Thanks!

[2016-05-07 01:03] sergiy-k commented on #4657
Yeah, the versioning is a bit confusing. The RC2 version that you posted is actually the version of the dotnet cli tools (it is not the version of CoreCLR).

Please note that the version of CoreCLR from the warning message (1.0.0-rc3-23829) corresponds to a build from the master branch on Feb 29. The link that I gave you installs the latest build of CoreCLR from the RC2 (release/1.0.0-rc2) branch.

[2016-05-07 01:16] pgavlin commented on #4832
I looked through the JIT for uses of the symbols that are not defined by the standalone build but are defined by crossgen.cmake (the standalone build defines `FEATURE_READYTORUN_COMPILER` and `SELF_NO_HOST`). The only missing symbol that is used by the JIT is `CROSSGEN_COMPILE`, and that is only used to control logging and noway asserts:
[code]

The changes to logging are there to accommodate the

[2016-05-07 02:27] ramarag opened #4840 "Coreclr Universal Test Execution Framework"
# Summary of Current state of affairs:

The tests are built using MSBuild using a mix of coreclr repo specific build logic and targets from https://github.com/dotnet/buildtools.

**Note: Moving the build system to domino\cli is an orthogonal but relevant issue.**, we are more interested in running the built tests in this issue

The output of the build is exe/dll and associated .cmd and .sh which k

[2016-05-07 04:35] swgillespie commented on #4840
This is great!

Python is written in standard C, wouldn't it be available on these platforms provided they have a reasonable C compiler? I would be pretty shocked if nano server couldn't run python. Besides, isn't Python already a requirement for building CoreCLR?

Is this something that's easily doable? I'd imagine that something like test execution would dip often into OS APIs for e.g. filesyste

[2016-05-07 09:08] janvorli commented on #4840
Few quick thoughts:
* Python is already a requirement for building coreclr, so I don't see a problem using a test framework based on it.
* The testing framework will need to be flexible enough, not just being able to run a single managed file or a bunch of test cases from it. For example, the ready to run tests that we have now require that we can do some file copying and explicit crossgen running

[2016-05-07 12:34] mikedn commented on #4659
@BruceForstall FWIW I've played with decomposition and got these tests to pass. The fixed code doesn't look any more complicated than the old code to me. However, it needs better handling of the introduced temporaries, at a minimum they should be reused instead of being created every time when a node is decomposed. Because of these temporaries the CQ is worse than in the old JIT:
[code]
versus
[co

[2016-05-07 15:11] BruceForstall commented on #4659
@mikedn Excellent! I was planning on implementing this when I had the chance. We talked about this implementation option internally, and were worried about both CQ and complexity of the IR (the dumps with lots of embedded statements are going to be very hard to read/understand). Perhaps these operations are handling "contained" memory operands (in your examples, everything is in registers). Or per

[2016-05-07 15:33] sivarv commented on #4659
Right now lowering reg specification for 'hi' opers is not marking containable second immediate/memory operand as contained.  'Hi' opers in lowerxarch.cpp::TreeNodeInfoInit() are defaulting to srcCount=2 and dstCount=1.  Fixing this should help CQ quite a bit.

[2016-05-07 19:49] mikedn commented on #4659
I was concerned about getting nested embedded statements but that doesn't happen in the test I used (`x += x - y;` from method `f11`). The IR dump (before LSRA) looks like this:
[code]
Besides, `fgInsertEmbeddedFormTemp` is a blunt hammer. You get an embedded statement and a temp even they aren't needed. In the case of `f11` it should be possible to use the original GT_LCL_VAR nodes, there's no ne

[2016-05-07 23:15] ramarag commented on #4840
I would like to clarify the difference between development and target ( or execution) platform.
As of today python is only a requirement for the development platform where coreclr is actually built like Desktop windows, Linux and Mac OS. While the execution platform could range from raspberry pi or an IOT device.

The aim for the test execution environment would be to run on these execution platfo

[2016-05-08 00:51] ellismg commented on #4777
I do not believe this is a good direction.  We should be changing the underlying enumeration values.  This will break binary compatibility with existing code.

We have added the [RuntimeInformation class](https://github.com/dotnet/corefx/blob/eb1f7d63bf6f126e24d06b95fb64bb1c9fd06451/src/System.Runtime.InteropServices.RuntimeInformation/ref/System.Runtime.InteropServices.RuntimeInformation.cs) in C

[2016-05-08 00:52] ramarag commented on #3776
work around for now is to delete tests\src\Common\test_runtime\project.lock.json

[2016-05-08 01:15] jkotas opened #4844 "RyuJIT x86: stringarr_cs_do test fails intermittently in CI"
E.g. from http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x86_ryujit_checked_windows_nt_prtest/85/console:

[code]

[2016-05-08 03:52] BruceForstall commented on #4844
[code]

Did you notice if the various PR failures are from the same test?

We should just add this to the bottom of issues.targets for now.

[2016-05-08 04:26] jkotas commented on #4844
Yes, it is the same test failing intermittently. E.g. from #4834: http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x86_ryujit_checked_windows_nt_prtest/61/console

Will submit PR to disable it shortly.

[2016-05-08 10:52] mikedn commented on #4659
@sivarv It seems to me that the second memory operand is not always contained even for non "hi" opers:
[code]
generates
[code]
This probably happens because `isMemoryOp` doesn't recognize `GT_LCL_VAR`.

[2016-05-08 16:28] JeffCyr commented on #1754
In java there is a mechanism to inform the thread pool that one of its thread is about to block. This allows the thread pool to create a new thread immediately if needed.

Something similar might be doable in .Net, this could be done transparently in WaitHandle.WaitOne and all equivalent blocking calls. I think there is already something like this with SynchronizationContext.

[2016-05-08 17:30] RussKeldorph opened #4849 "Test JIT.Regression.CLR-x86-JIT.V1.2-M01.b08046.b08046.b08046 fails on Unix"
Flavor: Linux.x64.Checked

Expected: 100 Actual: 0

[2016-05-08 17:32] RussKeldorph opened #4850 "Test JIT\IL_Conformance\Old\Conformance_Base\conv_ovf_i8_i fails on x64"
Expected: 100
Actual: 0

Prior test harness claimed tests was invalid for 64-bit architectures.  Understand why and either fix the test or disable it only for 64-bit.

[2016-05-08 17:35] RussKeldorph opened #4851 "Test failures due to no Verifier support in .NET Core"
.NET Core is full-trust only.  The following tests that depend on the Verifier should either be fixed to expect different results or deleted.
[code]

[2016-05-08 18:12] mikedn commented on #4850
Yeah, that test is invalid for 64 bit. It converts `long.MinValue` to `native int` and assumes that an `OverflowException` will be thrown. Of course, that doesn't happen on 64 bit since `native int` is 64 bit and the conversion is a no-op.

Relevant IL code:
[code]

[code]

[2016-05-08 18:45] #4750 closed

[2016-05-08 19:08] LLITCHEV commented on #4801
The code I have looks fine (in terms of CodeGen). (I evaluated the Linux code, but there is no difference between Linux/MacOS Codegen anyway). This seems to be a crossgen issue (R2R) that is being worked on - generic dictionary support in crossgen R2R. @tmat was gracious to verify that without crossgen (ni image) there is no problem. The failure seems to be only reproducible if crossgen image is u

[2016-05-08 19:09] LLITCHEV commented on #4801
@fadimounir has a PR that will mopst likely address this - support for generic dictionary lookup in R2R.)

[2016-05-08 20:50] jkotas commented on #4801
@fadimounir change is unlikely going to fix this. It will allow code for more methods to be saved into R2R images. It is not expected to change any of the code that is being saved today to change.

@LLITCHEV Do you have any details why it is failing? (e.g. dump of the incorrect code, etc.)

[2016-05-08 20:51] jkotas commented on #4801
Also, @tmat mentioned that the bug repros on Mac only. It does not repro on Linux.

[2016-05-08 20:56] LLITCHEV commented on #4801
Yes... That is right. It doesn't repro on Linux. I have dumped the method and everything on Linux and everything looks right. Need to get a Mac and do the same there - get the dump that is. But there should not be differences since the codegen on Linux and Mac is the same.

[2016-05-08 22:02] LLITCHEV commented on #4494
I did a crossgen on mscorlib.dll on Linux and Windows using Checked and Debug build using COMPLus_NgenDisasm=*. No diffs in the disassembly. This confirms Debug and Checked builds generate same code.

[2016-05-08 23:04] RussKeldorph opened #4853 "Tests failing due to expected constructor not running"
I'm not certain, but these tests look like they may be failing because they are expecting a constructor to run that isn't.   I may also be incorrect about these tests failing for the same issue.  This grouping is just based on an initial impression.

Tests
[code]
Output
[code]
Tests
[code]
Output
[code]
Tests
[code]
Output
[code]

[2016-05-08 23:06] joshfree opened #4854 "unsafe struct with fixed byte array runtime error"
Moved from https://github.com/dotnet/corefx/issues/5068 on behalf of @jageall

If i create an unsafe struct with an explicit layout and add a fixed byte array to access the data in a lib targeting dotnet5.4, and then try to access that struct in a unit test it compiles ok, but I get a runtime error.  The unit test lib target dnxcore50 as per the instructions on the xunit site.  If i try and access

[2016-05-08 23:07] RussKeldorph opened #4855 "JIT\Methodical\varags\seh\fault_il failing"
Config: Windows x64 Checked
[code]

[2016-05-08 23:39] DemiMarie opened #4856 "Support for IL verification (for debugging frontends)"
While CoreCLR does not need IL verification for _security_, it would still be helpful for debugging of frontends that produce CIL, since a verification failure is much more helpful than a random segfault or `ExecutionEngineException`.

This does not need to be integrated with the runtime &ndash; it can be a separate library.  However, it would still be nice for it to be available at runtime, so th

[2016-05-09 00:08] RussKeldorph commented on #4856
See also #295.

[2016-05-09 00:29] krytarowski commented on #4777
I don't like these changes, better to navigate towards just UNIX or POSIX. Using bits for Linux distros I'm afraid is questionable.

[2016-05-09 00:29] RussKeldorph commented on #2414
The following were broken out of this issue into separate issues:

#4850
[code]
#4851
[code]
#4853
[code]
#4855
[code]
#4849
[code]

[2016-05-09 00:32] RussKeldorph commented on #4850
@mikedn Thanks!  Saved me some time.

[2016-05-09 00:36] seanshpark commented on #4781
cc @chunseoklee

[2016-05-09 00:51] manu-silicon commented on #4823
:+1: Just tried to run the test suite for ARM over the week-end and did not go to completion because it got stuck, so having a functional timeout for Linux would be nice. (see #3977).

[2016-05-09 00:57] manu-silicon commented on #3977
Tried to run the test suite on Friday, but it got stuck on 2 tests that I had to manually kill:

[code]

[2016-05-09 01:17] manu-silicon commented on #3804
Closing (see PR #4039)

[2016-05-09 01:17] #3804 closed

[2016-05-09 02:35] manu-silicon commented on #3977
The run finally completed. Results on Jetson TK1 commit 3ddd9c43821bf617621f87d8d1519229e7d3b789

[code]

[coreclrtests_2016_05_06.zip](https://github.com/dotnet/coreclr/files/254245/coreclrtests_2016_05_06.zip)

[2016-05-09 02:42] seanshpark commented on #4671
[code]
and the address `addr`
[code]
is same value. While stepping line by line, it seemed normal, but not sure as I don't understand the logic yet.

[2016-05-09 04:46] myungjoo commented on #4779
The following probing patch shows who's guilty. PR coming soon.

[code]

[2016-05-09 04:48] RussKeldorph commented on #2236
Fixed by #4845.

[2016-05-09 04:48] RussKeldorph commented on #2414
Fixed by #4845.

[2016-05-09 04:48] #2414 closed

[2016-05-09 04:48] #2236 closed

[2016-05-09 05:14] myungjoo commented on #4775
Uh.. the fix for #4779 also fixes this. As PR for #4779 is being ready. I'm closing this.

[code]

[2016-05-09 05:24] myungjoo commented on #4775
The issue appeared to be resolved by a side-effect of another patch that was tested with the fix for #4779. This requires a fix from @parjong.

@parjong, Please submit your commit that you've shown this morning and make PR via this issue.

[2016-05-09 05:29] parjong commented on #4775
@myungjoo That patch is submitted as PR #4857

[2016-05-09 05:30] #4775 closed

[2016-05-09 06:03] myungjoo opened #4859 "Unit Test Fail: 143837 ARM/Linux (Cannot Handle NullReference Exception)"
The CoreCLR Unittest of `JIT/jit64/gc/regress/vswhidbey/143837` fails at ARM/Linux:

[code]

I'll update as soon as some useful data comes out.

[2016-05-09 06:11] myungjoo commented on #4859
When corerun dies, it is at

[code]

where

[code]

Did JIT-code just give us a pointer of `0x04` to be referenced?
(my first rough guess is on a case where JIT codegen wrote movt/movw after assigning `r0` when it should have done so before assigning `r0`.)

[2016-05-09 06:40] myungjoo commented on #4859
With a watchpoint determining the problematic `r0` (`0xb3700b78` in the above instance), nothing hits there. So the JIT code is probably referencing an uninitialized value.

[2016-05-09 06:55] #4779 closed

[2016-05-09 06:56] myungjoo commented on #4859
Looks like JIT is using uninitialized pointer value (`0xb3700b78` in the above instance).

[2016-05-09 07:27] #4741 closed

[2016-05-09 08:22] jyoungyun opened #4860 "Linux, MSBuild does not support the task factory "CodeTaskFactory""
I got the below error message when I tried to compile test csproj in Linux environment.

[code]

The MSBuild.exe version is below and it is downloaded by init-tools.sh.

[code]

How can I resolve it ?

[2016-05-09 09:46] #4579 closed

[2016-05-09 10:26] janvorli commented on #4840
@ramarag ah, it makes sense with the development and target platform. Then it looks like not requiring python would be a good thing.
Regarding

I can see I slightly misunderstood the intent of the plan then. I have thought that the goal is to remove even the generated test.cmd and test.sh and just do everything using a unit test framework. But now I see that only the "front end" that's xunit on wi

[2016-05-09 11:19] myungjoo commented on #4859
Happens in the JIT code generated by the context of:
[code]
(224th invokation of genGCWriteBarrier generates 0xb1cf0952-095a above)

[2016-05-09 11:42] myungjoo commented on #4859
Looks like JIT/ARM gen of "lea" in this instance is fishy.

[2016-05-09 11:50] RussKeldorph commented on #4849
Adding Thread.Sleep(1000) before Main reads the exit code and Exits makes the test pass.

[2016-05-09 14:00] dagood commented on #3776
The cause of this should be fixed by https://github.com/dotnet/coreclr/pull/4764, but removing `tests\src\Common\test_runtime\project.json` manually will still be necessary to fix any active repros.

[2016-05-09 14:00] #3776 closed

[2016-05-09 14:27] gkhanna79 commented on #4801
@JohnChen0 PTAL

[2016-05-09 15:05] gkhanna79 opened #4861 "Enable support for System.Private.CoreLib"

[2016-05-09 15:16] janvorli commented on #3305
Here is a list of signals that we block with the default action and description:

Signal | Default action | Description
--------|--------|--------
SIGHUP | Terminate | Hangup
SIGABRT | Terminate (core dump) | Process abort signal
SIGEMT | Terminate (core dump) | Emulator trap
SIGSYS | Terminate (core dump) | Bad system call
SIGALRM | Terminate | Alarm clock
SIGURG | Ignore | High bandwidth data is

[2016-05-09 15:18] janvorli commented on #3305
From the list, it looks like there is no reason for blocking any of these signals and we should let them be handled by their default handler.

[2016-05-09 15:31] CarolEidt commented on #4659
@mikedn Thanks for all of this - it doesn't look nearly as bad as I feared. Regarding the non-containment of the lclVar, that is something that I have been aware of as a possibility, but hadn't had the focused time to find examples. I assume that those are register candidates, which I believe is how they fall through the cracks - if they don't actually get a register, I don't think we have the log

[2016-05-09 15:57] sergiy-k commented on #4805
Fixed by https://github.com/dotnet/coreclr/pull/4808.

[2016-05-09 15:57] #4805 closed

[2016-05-09 16:57] mikedn commented on #4659
@CarolEidt My first impression is that containment is a bit of a chicken & egg problem. `TreeNodeInfoInit` doesn't know that a lclVar will end up in memory or in a register before LSRA runs and then LSRA tries to allocate a register because the node isn't contained. Now, the above examples may hit a special case, those lclVars are non-register method parameters. But in the general case it seems th

[2016-05-09 17:08] RussKeldorph commented on #2329
Windows_NT.x64.Checked: I can reproduce the assertion when ilasm'd without /DEBUG=OPT as it is being built currently.  @sivarv, could you take a look again at severity of this?
[code]
If/when fixed, my proposal would be to create a separate regression test to reproduce the assertion failure, and then clean up TailcallVerifyWithPrefix.  Obviously, as @sivarv notes above, it needs to build with /DEB

[2016-05-09 17:56] LLITCHEV commented on #2329
Assigning to me per @RussKeldorph request to investigate the assert.

[2016-05-09 18:02] JohnChen0 commented on #4801
@tmat I wasn't able to repro this on Mac. Looks like branch `SRM-24102` already has a workaround for this issue, so I checked out commit f6554c8 from fork `https://github.com/tmat/roslyn.git`, but `./cibuild.sh` completed without any errors. Could you help with verifying repro steps, or provide a repro machine?

[2016-05-09 18:19] pgavlin commented on #3442
This was fixed by #4478.

[2016-05-09 18:19] #3442 closed

[2016-05-09 20:19] #4850 closed

[2016-05-09 20:29] BruceForstall commented on #4844
This test uses random numbers, so it's not surprising this test fails intermittently.

[2016-05-09 20:33] #3827 closed

[2016-05-09 20:35] #3733 closed

[2016-05-09 20:35] #3713 closed

[2016-05-09 20:37] #2963 closed

[2016-05-09 21:18] erozenfeld opened #4869 "Dead cloned loops are not removed"
I noticed this problem in the code RyuJIT generates for several BenchI benchamrks. For example, here is the source code for Iniarray benchmark:

[code]
and here is the code the jit is generating:
[code]
Note that while the array bounds check in the G_M24601_IG05 loop is eliminated, the loop itself is not eliminated even though it's dead.

[2016-05-09 21:36] tzwlai commented on #4094
Moving this out to 1.1 after discussing with @mikem8361.

[2016-05-09 21:42] tzwlai commented on #792
Moving this to 1.1 after discussing with @mikem8361.  With the new dbgshim APIs, this should only affect Windows, and the code has been like this since the Silverlight days.

[2016-05-09 22:37] rahku opened #4871 "Arm64: ArgLocDesc might need to describe if FP registers contain double or float HFA values"
The argloc information (or something nearby) will need to have extra stuff to deal with ARM64 HFAs. Consider this example:
struct S
{
   float a, b;
}
When this struct is stored in memory, it is stored in 8 continuous bytes. When this struct is stored in float register file, it is stored in 4 bytes, followed by 4 bytes gap, followed by another 4 bytes.

We will need to do adjustment for this diffe

[2016-05-09 22:44] mikem8361 commented on #4671
I can’t debug it on an ARM device because I don’t have one.

[2016-05-09 23:07] jkotas commented on #1592
Duplicate of #603

[2016-05-09 23:07] #1592 closed

[2016-05-09 23:15] janvorli commented on #4745
It could be that the stub that sits between the jitted code and the native codeis generated incorrectly. Likely missing the fact that it needs the return buffer for the result in this case - guessing from your stack trace where the callback value is shown as 1, which is the S2.x and so that means that S2.x was passed in R1 and the callback in R0. Could you please also disass the caller of the nati

[2016-05-09 23:43] tijoytom opened #4873 "Add more UTF8 marshalling tests"
1. It might be nice to include some test cases where we have strings with values outside the BMP.
2.It might be nice to include some test cases where we have strings with values outside the BMP. As well as tests with ill-formed UTF-16 strings (trailing surrogates followed by leading ones, unpaired surrogates, etc) to codify the behavior we expect.
3. out string where the string reference is modifi

[2016-05-09 23:44] seanshpark commented on #4671
@mikem8361 , it's ok. I'm reading related document, codes and trying to understand what is going on. If you can guide me where to look at, it will be a big help, thanks in advance.

[2016-05-09 23:45] tijoytom opened #4875 "UTF8 Buffer Marshalling NativeToManaged allocate twice"
ReplaceBufferInternal allocate an internal buffer and copy it over , marshal directly to the allocated buffer instead of creating a temp buffer.

[2016-05-10 00:14] swgillespie commented on #4840
@ramarag Just so we are clear, what are the goals of this plan? When working with the test framework, these are the issues that I would hope would be solved with a new test framework:
  * The inability to categorize tests. In my perfect world, we'd be able for each test to belong to an arbitrary number of categories, and any user of the test framework could specify a number of categories to run, w

[2016-05-10 00:51] ramarag commented on #4840
@swgillespie : This issue covers ability to categorize tests into arbitrary groups, [ smarty provides this option out of the box].
Your second and third bullet points are not within the purview of this issue. They can actually be done with the present infrastructure. I will set up a PR for 2. For 3 see how runonly projects are used, For example look at :
https://github.com/dotnet/coreclr/blob/7750

[2016-05-10 01:09] gkhanna79 opened #4876 "JIT32 is failing with assert in master"
JIT32 fails with the following assert in master branch when generating NI image:

c:\Github\gkhanna79\coreclr\bin\Product\Windows_NT.x86.Debug>crossgen.exe mscorlib.dll
Microsoft (R) CoreCLR Native Image Generator - Version 4.5.22220.0
Copyright (c) Microsoft Corporation.  All rights reserved.

Assert failure(PID 28796 [0x0000707c], Thread: 28140 [0x6dec]): THE_ALLOCATOR_BASE_SIZE != 0
    File: c

[2016-05-10 01:10] gkhanna79 commented on #4876
@russellhadley @pgavlin Is this a known issue?

[2016-05-10 01:22] pgavlin commented on #4876
Yes, this is related to the https://github.com/dotnet/coreclr/issues/4785. The necessary fix was merged into TFS this morning.

[2016-05-10 01:43] ramarag opened #4877 "[Arm64] Consistency check failed: AV in clr at GC call stack"
Affected tests:
System.Dynamic.Runtime.Tests
System.Collections.Tests
System.Linq.Parallel.Tests

[code]

[2016-05-10 01:50] ramarag opened #4879 "Arm64: SP, Fp is trashed in CallDescrWorkerInternal"
EPILOG_RESTORE_REG      x19, #16    ;the stack slot at sp+24 is empty for 16 byte alligment
ldr         x19,[sp,#0x10]

System.Numerics.Vectors.Tests.dll

[2016-05-10 01:52] ramarag opened #4880 "Arm64: Assert in Finalizer"
System.Linq.Expressions.Tests
[code]

[2016-05-10 05:33] #4784 closed

[2016-05-10 06:00] myungjoo commented on #4859
The code in question, making r0 ( = r3 + 4) to access 0x04,
[code]
(resulting r3 = 0)

is JIT-created by `CodeGen::genMakeAddressable()` in `codegenlegacy.cpp`.

[2016-05-10 06:02] parjong opened #4885 "[ARM/Linux] Regressions.common.ToLower.ToLower fails"
CoreCLR terminated with segmentation fault when running 'Regressions.common.ToLower.ToLower' in ARM/Linux.

[2016-05-10 06:40] JohnChen0 commented on #4801
Closed #4801 via #4883.

[2016-05-10 06:40] #4801 closed

[2016-05-10 06:41] JohnChen0 commented on #3691
Closed #3691 via #4829.

[2016-05-10 06:41] #3691 closed

[2016-05-10 06:53] leemgs commented on #3878
\CC: @jyoungyun

[2016-05-10 07:14] jyoungyun commented on #3977
The latest unit test results!

Target: Raspberry Pi2
Coreclr commit id: 6b92cff6
[code]
[CoreClr_UnitTest_Results_160510.zip](https://github.com/dotnet/coreclr/files/256553/CoreClr_UnitTest_Results_160510.zip)

[2016-05-10 07:39] swgillespie commented on #4877
Possibly related: https://github.com/dotnet/coreclr/issues/4802

[2016-05-10 07:42] myungjoo commented on #3977
Note that we have about 120 fails due to regression being hopefully fixed easily with #4888. We may see under 100 fails soon.

[2016-05-10 08:18] manu-silicon commented on #3977
@jyoungyun I'm not sure what you mean by "tc is changed". But as I said it just before posting my results, I had 2 tests that was hanging preventing the rest of the test cases to run. I had to kill them manually to get to the completion.

[2016-05-10 08:45] jyoungyun commented on #3977
@manu-silicon Oh, I mean that I got stuck on different tcs when I tried to run unixtest. Sometimes b425314 was hanging and while other times the tc was not hanging instead the other tc got stuck. So I had to kill them manually every time. I wander why hanging tc is different everytime and want to know you have seen the same situation. If the stuck tc is always the same, we can modify tests/testsFa

[2016-05-10 09:27] myungjoo commented on #4859
The code above is the first JIT-created code that hits `0xb3700b78`. (Added printf for all instruction emit functions for JIT debugging) although someone is calling getFieldAddress resulting in `0xb3700b78` a bit before using it, no one writes there.

It looks as if JIT forgot to setup static objects.

[2016-05-10 11:26] myungjoo commented on #4859
With a simpler test case that has the same effect on CoreCLR, it appears to be related with NullReference handling. The following simplified test case incurs the same JIT code that commands WriteBarrier to load `0x04`.

[code]

[2016-05-10 11:40] myungjoo commented on #4859
Anyway, regardless of the strField's offset in the TestClass, `r0` is trying to load `0x04` (`r3 + 4`).

[2016-05-10 13:23] mkborg commented on #3805
/dotnet/runtime-hardfp-abi-vfp-debug-mode-20160426
/dotnet/runtime-hardfp-abi-vfp-release-mode-20160427
/dotnet/runtime-softfp-abi-vfp-debug-mode-20160406

Does emulator really support both hard and soft float point?
If yes then how this support is implemented?
And what is proper way to build CoreCLR for each of hard and soft float point?

[2016-05-10 13:34] #4712 closed

[2016-05-10 13:40] brucehoult commented on #3805
@mkborg yes, it's implemented by the softfp toolchain creating elf executables specifying as their interpreter (dynamic linker) /lib/ld-linux.so.3, while the hardfp toolchain creates elf executables with the interpreter specified as /lib/ld-linux-armhf.so.3.  Each dynamic linker then uses the appropriate set of dynamic libraries,

[2016-05-10 14:26] leemgs commented on #3805
@mkborg, You can build CoreCLR for each of hard and soft floating point as following:

* For hard floating point: Build CoreCLR (w/ cross-build on Ubuntu 14.04 X64):
instruction - https://github.com/dotnet/coreclr/tree/master/Documentation/building
sudo time ./cross/build-rootfs.sh arm
time  ./build.sh arm debug verbose clean cross skipmscorlib

* For soft floating point: Build CoreCLR (w/ native-

[2016-05-10 14:33] kingces95 commented on #480
@blackdwarf Any update on when a new set of build instructions might be available to get `helloworld` off the ground? When first release, the instructions were good. But the nuget feeds seem to be missing files: `404 Not Found` is what I get trying to restore them.

[2016-05-10 14:51] #4885 closed

[2016-05-10 15:26] tzwlai commented on #3165
After discussing with @mikem8361 and @lt72, I'm moving this out to 1.1 since it's not critical for RTM.

[2016-05-10 15:32] Dmitri-Botcharnikov commented on #4671
44 bytes offset is normal. If we set breakpoint in method ClrDataAccess::GetMethodNativeMap (file daccess.cpp:6101) we've got offset mapping from native to IL code:
``
{{nativeOffset = 0, ilOffset = 4294967294, source = ICorDebugInfo::STACK_EMPTY},
{nativeOffset = 20, ilOffset = 4294967295, source = ICorDebugInfo::STACK_EMPTY},
{nativeOffset = 44, ilOffset = 0, source = ICorDebugInfo::STACK_EMPTY}

[2016-05-10 15:38] pgavlin commented on #4876
I've verified that this does not repro with the latest changes in TFS and GitHub.

[2016-05-10 15:38] #4876 closed

[2016-05-10 15:38] pgavlin commented on #4835
This has been fixed in TFS.

[2016-05-10 15:38] #4835 closed

[2016-05-10 15:38] pgavlin commented on #4785
This has been fixed.

[2016-05-10 15:38] #4785 closed

[2016-05-10 15:53] benaadams commented on #4545
Raised https://github.com/dotnet/corefx/issues/8429

[2016-05-10 15:53] #4545 closed

[2016-05-10 17:52] AndyAyersMS commented on #4477
Have [some preliminary data](https://gist.github.com/AndyAyersMS/e404dcf957e7a0e3d7d0e9c0fdc35c5f#file-benchmark-elapsed-time-variability-pdf) on all the benchmarks now, for windows x64. Just time at the moment. Measuring instructions retired via xunit-performance requires disabling Hyper-V in the BIOS.

Using [performance explorer](https://github.com/AndyAyersMS/PerformanceExplorer) to orchestrat

[2016-05-10 18:36] #4507 closed

[2016-05-10 18:50] BruceForstall commented on #4817
DeltaBlue is "Assertion failed 'nonVarPtrRegs == 0' in 'Constraint:satisfy(int):ref:this'", which is #3554.

[2016-05-10 18:50] BruceForstall commented on #3554
In Checked only,
JIT\Performance\CodeQuality\V8\DeltaBlue\DeltaBlue\DeltaBlue.cmd

[2016-05-10 18:56] tijoytom commented on #4854
@jageall  @joshfree  Is this on non-windows platforms? If yes then it's by design see https://github.com/dotnet/coreclr/issues/4307

[2016-05-10 19:22] mikem8361 commented on #3165
Just a reminder: if dbgshim is removed from the main package, a new separate package will have to be created. Otherwise, our debugger tests will be broken and any other third party managed debugger (if any exist) won't have access to the shim for launch.

[2016-05-10 19:25] gkhanna79 commented on #3689
Please use http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x64_checked_windows_nt_pri1r2r/lastCompletedBuild/testReport/ to determine how many of these are outstanding in the current runs.

[2016-05-10 19:25] gkhanna79 commented on #3792
Look for GCstress Pri1R2R jobs to see results for these at http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/

[2016-05-10 19:28] jageall commented on #4854
windows 10, so no, not non windows. if it is by design, I would still expect a compile time error if possible

[2016-05-10 19:28] gkhanna79 commented on #3710
Assigning to @wtgodbe since you are driving Helix integration.

[2016-05-10 19:38] gkhanna79 commented on #4619
We will look into this post-RTM.

[2016-05-10 20:04] barrytang opened #4892 "Uncaught exceptions cause an access violation under the CoreCLR debugger"
I've noticed this in a variety of contexts, but it is very easy to get a simple repro:

[code]

When running under the VS debugger, it is expected that the debugger will halt at this first line and show information about the exception. Instead, when using the CoreCLR debugger, an access violation appears to occur, and the debugger terminates, along with the debugged program. This works as expected

[2016-05-10 20:05] barrytang commented on #4892
Opened on behavior of @mellinoe

[2016-05-10 20:27] gkhanna79 commented on #4892
@mikem8361This sounds like the issue you have been investigating recently.

CC  @noahfalk @tzwlai

[2016-05-10 20:42] janvorli commented on #3305
Fixed by #4863

[2016-05-10 20:42] #3305 closed

[2016-05-10 21:00] sejongoh commented on #4720
The testcase passes well after #4607 is fixed.

The z value at rbp-98h is copied to rsp+10h by the following instruction.

[code]

[2016-05-10 21:00] #4720 closed

[2016-05-10 21:04] sejongoh opened #4893 "Vector3Interop_r fails on Linux"
Vector3Arg_Unix2 case fails.

The expected sum results are 14, 77, 194, 32, 122, 1045.

The actual results:
[code]

[2016-05-10 21:36] JohnChen0 commented on #3764
This is a duplicate of issue #4708. The test case appears to be incompatible with GC stress, and the failure is not related to ReadyToRun. This test case does heap allocations, and then compares the actual heap size with expected heap size. When GC stress is turned on, additional memory can be allocated on GC heap, making the actual heap size different from expected heap size, triggering failures.

[2016-05-10 21:36] #3764 closed

[2016-05-10 21:51] tzwlai commented on #4892
You can work around this by going to "Tools" -> "Options" -> "Debugging" -> "General" and disabling the checkbox for "Unwind the call stack on unhandled exceptions".

We'll address this in the RTM timeframe.

[2016-05-10 22:57] JohnChen0 commented on #3765
Unable to repro this issue, and this test case is succeeding in recent GC Stress runs in CI.

[2016-05-10 22:57] #3765 closed

[2016-05-10 23:24] BruceForstall commented on #4817
Partially fixed with #4891.

Remaining issues:
JIT\jit64\hfa\main\testE\hfa_nd0E_d\hfa_nd0E_d.cmd
JIT\jit64\hfa\main\testE\hfa_nd0E_r\hfa_nd0E_r.cmd
JIT\jit64\hfa\main\testE\hfa_nd1E_d\hfa_nd1E_d.cmd
JIT\jit64\hfa\main\testE\hfa_nd1E_r\hfa_nd1E_r.cmd

The failures are due to GT_INITBLK with same basic issue as fixed in #4891: need to kill ECX for rep stos.

[2016-05-10 23:30] JohnChen0 commented on #3766
This test case relies on GC.CollectionCount, which is unreliable under GCStress. It has been excluded from GCStress runs by PR #4707.

[2016-05-10 23:30] #3766 closed

[2016-05-10 23:36] JohnChen0 opened #4897 "dotnet publish command fails on Ubuntu with Ready to Run images"
On Ubuntu, after Ready to Run images have been created for the dotnet CLI assemblies, the `dotnet publish` command fails with an assert: `!implSlot.IsNull() && "Valid method implementation was not found."`.

[2016-05-10 23:42] sejongoh commented on #4893
[code]

The upper bits are not initialized to zero for v3f32_mem0 and v3f32_mem3.

We were lucky with v3f32_mem0.z because it has a very small number, 4.59163468e-41 and v3f32_mem0.z  x v3f32_mem0.z becomes zero.

v32f32_mem3.z has a bigger value and v3f32_mem0.z x v3f32_mem0.z is not zero.

v3f32_xmm0 which is mapped on registers is okay since JIT generates mov instructions filling in the upper b

[2016-05-11 00:02] sejongoh commented on #4893
For Windows, JIT generates indir and it ends with up using different instructions.

[code]

Also, lowering doesn't convert simd12 to simd16 in this case.

[code]

vmovss clears the upper bits.

[code]

[2016-05-11 00:08] sejongoh commented on #4893
Since the native compilers don't initialize the upper bits to zero, JIT has to handle this. In this Linux case, it seems to be missing.

@CarolEidt Where should we fix the problem?

[2016-05-11 00:16] janvorli commented on #4634
Fixed by #4894

[2016-05-11 00:16] #4634 closed

[2016-05-11 00:34] RussKeldorph commented on #4766
/cc @dotnet/jit-contrib

[2016-05-11 01:02] RussKeldorph commented on #4853
I'm hoping this is just a test issue, but I can't say much for sure yet.

[2016-05-11 01:03] RussKeldorph commented on #4855
Hoping this is a test issue, but not sure.

[2016-05-11 01:59] kingces95 commented on #480
I was able to get `HelloWorld.exe` running by skipping the [Restore NuGet Packages](https://github.com/dotnet/coreclr/blob/master/Documentation/building/windows-instructions.md#restore-nuget-packages) step by compiling by referencing `mscorlib` directly like so:

    csc /nostdlib /noconfig /r:runtime\mscorlib.dll /out:runtime\helloworld.exe helloworld.cs

I had copy over `clrjit.dll`:

    C:\git

[2016-05-11 02:21] seanshpark commented on #4671
Same here. This is my log
[code]

BTW, is it possible to set default `arch` to `thumbv7` in LLDB ?

[2016-05-11 03:31] mikem8361 commented on #4671
Sorry, I don’t know lldb that well especially around any arm or thumb specific support.

[2016-05-11 04:05] jyoungyun commented on #3977
It's amazing. The failed tc is finally double digits! :+1:

Target: Raspberry Pi2
Coreclr commit id: 9eba7d3
[code]

[2016-05-11 05:25] mikedn commented on #4659
FYI I tried to use fields in long expressions and had to add support for `GT_IND`/`GT_STOREIND`. These have their own specific problem - the address needs to be put in a temp. But simply making a temp from the address isn't good enough from a CQ point of view because you end up with address expressions like `((base + fieldOffset) + 4)` where `(base + fieldOffset)` uses a `lea`. Ideally we need to

[2016-05-11 06:09] seanshpark commented on #4671
Without loading `sosplugin`, omitting `plugin load libsosplugin.so` line and then add break point to `0x719fb53c` and `0x719fb510`, adding two places for sure, instead of giving `bpmd helloworld3.exe HelloWorld3.Program.show_message` did not stop at any address.
I think LLDB does not stop at JIT-ed code.
Is this normal (a problem to use) or am I doing something wrong?

[2016-05-11 07:43] mkborg commented on #3805
@leemgs, Do you use this procedure do build CoreCLR present in those "/dotnet/runtime-*" directories on emulator's file system?
Since emulator is not Ubuntu nor Debian I thought you use ROOTFS_DIR pointing to emulator's file system instead of default cross root file system created by "cross/build-rootfs.sh" script to ensure compatibility.

[2016-05-11 10:04] parjong opened #4906 "[ARM/Linux] Unittest JIT.Methodical.tailcall._il_dbgrecurse_ep_void failure"
Unittest ``JIT.Methodical.tailcall._il_dbgrecurse_ep_void`` prints ``PASSED``, but terminated with exitcode 0.
[code]

Its IL seems to use System.Environment.ExitCode property (which is currently unavailable).
[code]

[2016-05-11 10:07] leemgs commented on #3805
@mkborg, Yes.

@mkborg,  We are not planning to append "cross/build-rootfs.sh" support for  a default rootfs of the Linux/ARM Emulator. Instead, please, utilize the below instruction.

* For soft floating point: Build CoreCLR (w/ native-build for the default rootfs of the Linux/ARM Emulator):
[code]

@brucehoult ,   Could you archive the latest version https://dncorerepo.blob.core.windows.net/arme

[2016-05-11 10:26] jyoungyun commented on #4860
@gkhanna79 I'm fixing #4437 issue. When I tried to build tests directory in Linux, it occurs above error message. As I know the CodeTaskFactory is located in Microsoft.Build.Tasks.v4.0.dll file. But there is no file in Tools directory and when I copied the file from windows, it still did not link it. What can I do to fix it ?
[code]

[2016-05-11 13:04] stephentoub opened #4908 "Change base Stream.Begin/End* implementations to delegate to Read/WriteAsync"
The System.IO contract prior to 4.1.0-rc3-24110 lacks the Stream.BeginRead/EndRead/BeginWrite/EndWrite virtual methods, but lots of code written against the full framework calls these, including code in the framework itself (e.g. SslStream).  As a result, Streams couldn't override these methods, and when written in portable libraries that then ran on the full framework, consumption of the Begin/En

[2016-05-11 13:10] papaslavik commented on #4825
/cc @leemgs @myungjoo

[2016-05-11 13:23] WillMarcouiller commented on #989
Could my issue be about the same?

I have this error:

**What am I trying to do?**
* I wish to use a COM DLL imported in .NET using the [Type Library Importer](https://msdn.microsoft.com/en-us/library/tt0cf3sx(v=vs.110).aspx) within the VS command line tool as described in this post accepted answer: [Can NuGet distribute a COM DLL?](http://stackoverflow.com/questions/6037222/can-nuget-distribute-a

[2016-05-11 14:33] ig-sinicyn opened #4910 "[Request for help] Strange behavior for inlined unsafe calls"
Hi!

We've got a surprisingly wrong results when benchmarking some optimizations in our code. The real code runs definitely faster, but microbenchmarking shows that optimized version is slower that the original one.

I've managed to write a simplified repro, here's [a gist](https://gist.github.com/ig-sinicyn/29a2d814060a58c531039c82bdd3704b) for it.
Note that the timings for `FromAUnsafe` are depe

[2016-05-11 14:52] RussKeldorph commented on #4906
I think you may need to rebuild your tests.  This should have been fixed by fc4497b4679c4282b9e30bedf2c20060033cf437.

[2016-05-11 15:12] mikedn commented on #4910
I took a quick look and I think that the difference is that the old JIT64 (used in 3.5 x64) was capable of hoisting the `b = FromAUnsafe(a);` assignment out of the loop while RyuJIT (the new x64 JIT) can't.

Code generated by RyuJIT:
[code]
Code generated by JIT64:
[code]
Note how loop generated by JIT64 is basically empty. In fact, JIT64 should have removed the loop entirely and then it would hav

[2016-05-11 15:59] danmosemsft commented on #4908
Is it a concern that the behavior would be different with desktop (unless the quirk was activated)? I guess we believe this case is pretty obscure, and in theory changing from sync to async ought to just work.

This seems like the right approach though.

[2016-05-11 16:02] JohnChen0 commented on #4345
Verified that SN verification in CrossGen was already removed.

[2016-05-11 16:02] #4345 closed

[2016-05-11 16:12] stephentoub commented on #4908
Yes, that's the primary concern, and in my mind the primary reason this isn't a slam dunk.  The other reason is that it's possible you could end up in a very obscure case where an existing Stream targeting desktop overrides Read/WriteAsync, doesn't override Begin/EndRead/Write, and in the implementation of Read/WriteAsync delegates to Begin/EndRead/Write.  Without any special protection, that coul

[2016-05-11 16:13] adiaaida commented on #4751
This is a duplicate of #4147

[2016-05-11 16:13] #4751 closed

[2016-05-11 16:14] ericstj commented on #989
.NET Core doesn't support COM interop completely so may run into trouble making this work. /cc @yizhang82

If you just wanted to get past the compile step to see if anything else will fail you could add a reference to Microsoft.NETCore.Portable.Compatibility and cross your fingers (this package maps the old mscorlib-based assemblies to System.Runtime assemblies).  You may hit missing types if the

[2016-05-11 16:21] danmosemsft commented on #4908
I think we noted that this at least seems to fall in the category of something that a Roslyn analyzer could potentially detect (I hear they'll be able to run on binaries also).

[2016-05-11 16:21] ig-sinicyn commented on #4910
@mikedn
Whoops, benchmark was done wrong, indeed. Here's [correct version](https://gist.github.com/ig-sinicyn/bcaeb004a84a22f44690d1ed4f7f7c3b) and the output is
[code]
Ok,  I'll check the original benchmark and if there's same flaw I'll close the issue.

As a sidenote, why the OptimisedNoCall run is the slowest one? (scratches head).

[2016-05-11 16:22] ig-sinicyn commented on #4910
Whoops, wrong button

[2016-05-11 16:27] stephentoub commented on #4908
Yes, one could probably detect the most common forms of what is already a rarely expected case.  That said, if someone did have such code, it very likely blow up on most uses, making it pretty easy to find ;)

[2016-05-11 16:32] WillMarcouiller commented on #989
Isn't that the kind of assembly @davidfowl suggested to avoid on 2015.05.12?

Whatever, I'm curious to make it work so I am going to at least give it a try.

[2016-05-11 17:00] mikem8361 commented on #4671
1) There is a chance that the code was jitted at a different address.  You could still load libsosplugin;.so and use the "name2ee helloworld3.exe!HelloWorld3.Program.show_message" to get the jitted address without using the bpmd command.
2) If the addresses are actually the jitted code, there might be a bug in LLDB.
3) FYI, it may have problems on arm because it hasn't been tested but the "clru <m

[2016-05-11 17:12] #4817 closed

[2016-05-11 17:16] pgavlin opened #4912 "Scrub non-version-related preprocessor usage from the JIT/EE interface"
As it says. I'll update this issue with any that I find.

[2016-05-11 17:36] pgavlin opened #4913 "Add JIT flags to request JIT32 and JIT64 compatible code generation"
In order to future-proof the JIT/EE interface a bit, we should add JIT flags that can be set by the EE to request code generation that is compatible with what JIT32 or JIT64 would have emitted. This will allow future versions of the JIT to e.g. generate newer GC/EH info or generate different but incompatible code by default but fall back to the appropriate compatibility level when it is requested.

[2016-05-11 17:38] pgavlin opened #4914 "Move the JIT interface to explicitly sized types."
Now that the JIT may be built on many platforms using many toolchains, we should make sure that the JIT/EE interface uses types with well-defined sizes on all platforms. This includes e.g. replacing unsized types (int, unsigned, etc.) with sized equivalents from stdint, ensuring that all enums have explicit sizes.

[2016-05-11 18:31] BruceForstall commented on #4177
This is in LclVarDsc::lvaArgType(): "Get type of a variable when passed as an argument."

[2016-05-11 18:32] BruceForstall commented on #4172
This is in Compiler::compHelperCallKillSet().

[2016-05-11 19:05] mikedn commented on #4910
Hmm, there are so many JIT - test case combinations that I don't know where to start. I'll try to look at what RyuJIT does in each case as RyuJIT replaced JIT64 and it will probably replace JIT32 at some point too. FYI RyuJIT is derived from JIT32 and inherits some of its characteristics while JIT64 is somewhat related to the VC++ compiler and it works quite differently.

The main issue is that Ry

[2016-05-11 19:54] pgavlin commented on #4912
So far:
- `USE_ASM_GC_WRITE_BARRIERS` is used to conditionally define a type
- `_TARGET_X86_` is used to conditionally add helpers
- `_WIN64` is used to conditionally add an intrinsic
- `FEATURE_PAL` is used to adjust `MAX_UNCHECKED_OFFSET_FOR_NULL_OBJECT`

[2016-05-11 20:19] RussKeldorph commented on #3367
I can't repro this anymore.

[2016-05-11 20:19] #3367 closed

[2016-05-11 20:35] sejongoh commented on #4893
cc @dotnet/jit-contrib

From discussion with @CarolEidt, Windows doesn't trigger the following transform since the parameter is treated as pass-by-reference, and it passes.

[Before]
[code]

[After]
[code]

One solutions is to fix the prolog generator to clear the upper bits for arguments mapped on stack.

[2016-05-11 20:44] RussKeldorph commented on #2441
TLS statics not supported by .NET Core.  BadImageFormatException is expected on all platforms.  We should replace these tests with a single test that verifies the exception is raise.

[2016-05-11 20:46] RussKeldorph commented on #2451
These tests should be removed or modified such that they only read RVA statics and don't write them.  There should be a tests that explicitly confirms and exception is raised when an RVA static is written.

[2016-05-11 21:15] #4716 closed

[2016-05-11 21:15] #4648 closed

[2016-05-11 21:43] rahku commented on #4879
codegen for the bleow method is incorrect. Saved FP on the stack is overwritten in the method body. Look for **** in below codegen

0:000> !u 00007ffe`247937b0
Normal JIT generated code
System.Numerics.Tests.Matrix4x4Tests.Matrix4x4CreateConstrainedBillboardAlongAxisTest3()
Begin 00007ffe247937b0, size 228

D:\corefxGit\corefx\src\System.Numerics.Vectors\tests\Matrix4x4Tests.cs @ 2086:
00007ffe`24

[2016-05-11 21:46] rahku commented on #4879
CC: @gkhanna79 @briansull

[2016-05-11 22:27] parjong commented on #4906
@RussKeldorph Thank you for comment. You're right. The test that I used was old. ``ildasm``on the test shows the following output:
[code]

[2016-05-11 22:32] CarolEidt commented on #4893
I think that making the change in the prolog is the right solution. The other near-term option would be to recognize when you are loading true pass-by-value SIMD12 arguments (i.e. not the copy and pass by reference args as for x64 windows), and always do the clearing of the upper bits then. But then you'd pay the price on each reference.
Of course, another option would be to change the model to al

[2016-05-11 23:00] RussKeldorph commented on #3964
@CarolEidt I hope this is just a difference-in-precision issue, but if you could take I a look I'd appreciate it.  I believe the test should be fixed to reverse the inequality, and then we need to understand if the difference between the actual result and expected result (about 7 if I recall) is correct given x64 precision.

[2016-05-11 23:08] CarolEidt commented on #3964
I will look at this. One possible issue is that I think it should use `Single.Epsilon` instead of `1E-9F`, but I don't know if there are other issues (e.g. algorithmic losses in precision) that would cause the result to be off by more than that.

[2016-05-11 23:23] parjong commented on #4906
I'll close this issue as it is already resolved with recent update in the test.

[2016-05-11 23:23] #4906 closed

[2016-05-11 23:59] #4529 closed

[2016-05-12 00:04] tzwlai commented on #545
The [Windows debugging instructions](https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md) have been updated.  Please feel free to reopen this if you have additional questions.

[2016-05-12 00:04] #545 closed

[2016-05-12 01:31] rahku commented on #3715
all VM code changes are complete. feature has been enabled for arm64. Current failures are due to jit issue #4649 and issue #4716.

[2016-05-12 01:31] #3715 closed

[2016-05-12 01:35] briansull commented on #4879
I believe that I have discovered this issue and I have a fix for it
I discovered it during my HFA argument passing work.

[2016-05-12 02:55] brucehoult commented on #3805
Done: http://hoult.org/coreclr/linux-arm-emulator-20160426-1600.3.tar.pbz2

[2016-05-12 04:37] #3668 closed

[2016-05-12 04:38] wateret opened #4924 "[ARM/Linux] Assert Error "Unexpected size when returning struct by value" on arm-softfp"
When I run the code below,

[code]

And it gives an error on `arm-softfp`.

[code]

[2016-05-12 04:38] wateret commented on #4924
Works fine on `arm`(hardfp).

[2016-05-12 05:37] ig-sinicyn commented on #4910
@mikedn thanks for the detailed explanation!

Yep. I'll answer in detail about our original sample in day or two. Do not have access to the code for now, sorry:)

[2016-05-12 06:23] mylibero opened #4925 "[ARM/Linux] Build Failure on ARM"
Recent commit (https://github.com/dotnet/coreclr/commit/61fe4641665e84089dcceeabbea3e5faa0f693ce) breaks ARM build.
It defines `emitInsToJumpKind` twice in src/jit/emit.h on ARM.

I will post a PR soon.

@jyoungyun

[2016-05-12 07:54] LLITCHEV commented on #4853
For the tail_il_d and tail_il_r this is a test issue.
The constructor of test2 class (test2::.ctor) is badly written. It calls the constructor of object instead of the one of the base class - test. The test class is never instantiated and its static constructor never executed. Below is the code. Call os a virtual method doesn't trigger class initialization (running the static constructor). Accordi

[2016-05-12 10:26] #4499 closed

[2016-05-12 11:21] lemmaa opened #4929 "Add extra options to 'runtest.sh'"
To solve following problems,

* Experience irregular hang of unit tests but hard to judge it's real hang or just long-running test. With display of time, we can make reference table for each TC's running times to help our judgement.
* Hard to figure out how much progressing the tests. So display order of TCs currently being tested.
* Prevent useless LF conversion.

add extra options to 'runtest.h'

[2016-05-12 11:21] lemmaa commented on #4929
#4909

[2016-05-12 11:24] lemmaa commented on #4929
`--show-time` displays following

[code]

[2016-05-12 15:12] Dmitri-Botcharnikov commented on #4671
The `bpmd` command sets exception handler through LLDB API `SBTarget::BreakpointCreateForException`. This creates BP for symbols '__cxa_throw' and '__cxa_rethrow' in libstdc++.so. If I disable this BP the user program finishes successfully. Of course no notification for jitted code address:
[code]
Setting lldb breakpoint on address from previous session doesn't work, but perhaps it's different.
Al

[2016-05-12 15:46] #4925 closed

[2016-05-12 15:55] RussKeldorph commented on #4853
@LLITCHEV test.il passes with Full CLR.  Is this a difference in beforefieldinit semantics between .NET Core and .NET (Full)?

[2016-05-12 17:24] #3332 closed

[2016-05-12 17:32] gkhanna79 commented on #3058
This is blocking https://github.com/dotnet/coreclr/issues/4531

[2016-05-12 18:08] mikem8361 commented on #4671
Sounds like lldb on ARM has some problems around breakpoints. Not sure what do about it.

[2016-05-12 18:31] jashook commented on #2416
These tests force the verifier to run in desktop and expect a verification exception to pass. They are probably useful tests, but need to be converted to force verification in a different way for coreclr. Unknown if this is important enough to do before rtm though @RussKeldorph opinions?

[2016-05-12 18:52] rahku opened #4934 "ARM64: helpers for heap verify"

[2016-05-12 18:53] jkotas commented on #4853
It is bad test - the test contains invalid IL. The ECMA-335 spec says: `CLS Rule 21: An object constructor shall call some instance constructor of its base class`. The constructor of the test2 type is violating this rule.

[2016-05-12 18:53] rahku opened #4935 "Calling convention changes for return value"

[2016-05-12 18:58] pgavlin opened #4936 "Properly chain SIGTERM in the PAL."
If multiple PALs are loaded in a single process, only the SIGTERM handler for the last PAL loaded will run. This signal handler should chain to the previous handlers once it has finished handling the signal.

[2016-05-12 19:17] #3714 closed

[2016-05-12 19:20] SunnyWar opened #4937 "support simple pattern matching, start with %2 to &1"
I thought this was a Cli issue but they said it was a Roslyn problem. The Roslyn repo says it's a coreclr issue...so here it is:

Steps to reproduce

compare how the compile deals with x%2 versus x&1. It should be the same but isn't.

 for (var i = 0; i < iterations; i++) { var x = i%2; if (x == 0) { count++; } }

Look at the generated assembly for the i%2 part:
 00DE2E13 mov eax,edx
 00DE2E15 and

[2016-05-12 20:00] RussKeldorph commented on #2416
@jashook Add these tests to #4851 and close this as a duplicate.

[2016-05-12 20:13] gkhanna79 opened #4938 "Enable ChecksumAlgorithm:SHA_256 for native code on Windows"

[2016-05-12 20:53] sejongoh commented on #3347
PRs for testcases:
https://github.com/dotnet/coreclr/pull/4398
https://github.com/dotnet/coreclr/pull/4578

Related issues:
https://github.com/dotnet/coreclr/issues/4607
https://github.com/dotnet/coreclr/issues/4720
https://github.com/dotnet/coreclr/issues/4412
https://github.com/dotnet/coreclr/issues/4529
https://github.com/dotnet/coreclr/issues/4893

Related PRs:
https://github.com/dotnet/corecl

[2016-05-12 20:55] sejongoh commented on #3347
@sivarv I think that we close this since we are done with writing testcases. Could you confirm it?

We have a separate issue for the known bug, https://github.com/dotnet/coreclr/issues/4893.

[2016-05-12 20:59] briansull commented on #3818
In progress

[2016-05-12 21:01] sivarv commented on #3347
Issue #4893 on x64 Unix is that upper 4 bytes of a Vector3 arg passed on stack is not guaranteed to be zero initialized by native compiler and hence RPInvoke to managed has failed.

Does native compiler or ABI spec provide a guarantee that upper 4-bytes of a Vector3 arg passed in register will be zero initialized?  Please double check that we are not getting lucky since native compiler is using mo

[2016-05-12 21:12] kyulee1 commented on #3829
Fixed by https://github.com/dotnet/coreclr/pull/4919

[2016-05-12 21:12] #3829 closed

[2016-05-12 22:20] seanshpark commented on #4671
I'm still tracing, not knowing much about exception, but I think you are right. Reason of this may be related with wrong ARM register stacking somewhere like the ones fixed in recent PR about`unwinding`.
cc @parjong , @myungjoo

[2016-05-12 22:33] jashook commented on #2416
Added

[2016-05-12 22:33] #2416 closed

[2016-05-12 22:38] sejongoh commented on #3347
I couldn't find such spec. We are probably lucky with movss. I will include this problem into #4893.

[2016-05-12 22:48] davmason opened #4939 "Implement StateDump callback for lttng on Linux"
Currently we don't have a callback mechanism on Linux to let the CLR know that a tracing session is started. We need to implement this callback so the CLR can know a tracing session has started.

There are two scenarios this enables:
- Collecting a managed heap dump by enabling the heap dump provider
- Collecting information about the machine to include in the trace

[2016-05-12 22:54] BruceForstall opened #4940 "VM should reject any function with varargs"
varargs are not supported on .NET Core. However, today, the VM lets varargs functions through to the JIT at least on Windows. Later, the JIT fails if it happens to call the ArgIterator ctor.

Instead, the VM should immediately reject any app with a function with varargs, and not leave it to the JIT.

Related: #4855.

[2016-05-12 22:55] sivarv commented on #3347
Sounds good to me. We can close this investigation work item.

[2016-05-12 22:56] BruceForstall commented on #4855
The failure is when the JIT asks the VM to resolve the ArgIterator ctor token.

.NET Core does not support varargs. However, the VM should reject the function, not the JIT (suggested by @jkotas)

Related: #4940

[2016-05-12 22:57] BruceForstall commented on #4855
I'm going to close this, as #4940 will track it.

[2016-05-12 22:57] #4855 closed

[2016-05-12 23:11] BruceForstall commented on #3235
Looks like perhaps a casing issue in the test:
[code]

[2016-05-12 23:53] RussKeldorph commented on #4940
As part of this work, please delete any and all tests currently using vararg, arglist, ArgIterator, etc. (whether or not they are currently disabled), except that I recommend retaining or creating tests that explicitly check that such features are categorically rejected.

[2016-05-13 00:07] swaroop-sridhar opened #4943 "ARM64 GCStress: AV in CLR"
Several tests failing with this symptom, for example:
[code]

Call Stack:
[code]

Part of  #3825

[2016-05-13 00:11] swaroop-sridhar opened #4944 "ARM64 GCStress: Assert in StackWalk of Funclet"
Part of  #3825

Several tests failing with this symptom, for example: `JIT\jit64\opt\cse\HugeArray\HugeArray`

[code]

[2016-05-13 00:49] briansull opened #4946 "ARM64: ABI - Passing HFA struct arguments in floating point registers"
Enable FEATURE_HFA work for the ARM64 JIT
Change calling convention to detect and pass struct that are HFA types using the floating point registers
as defined in the official ARM64 calling convention document

[2016-05-13 00:52] briansull opened #4947 "ARM64: ABI - Returning HFA structs in floating point registers"
Enable FEATURE_MULTIREG_RET work for the ARM64 JIT
Change calling convention to detect and return struct that are HFA types using the floating point registers  as defined in the official ARM64 calling convention document

[2016-05-13 00:57] briansull opened #4948 "ARM64: ABI - Returning 16-byte structs by value using registers x0 and x1"
Enable FEATURE_MULTIREG_RET work for the ARM64 JIT
 Change calling convention to detect and return struct that have a size of 9 to16 bytes using two integer return registers x0 and x1 as defined in the official ARM64 calling convention document.

[2016-05-13 01:02] briansull opened #4949 "ARM64: ABI - Returning large structs should use register x8 as the RetBufArg."
For struct that are not HFAs and are larger than 16 bytes
the caller must setup up register x8 with the RefBufArg
the callee must treat x8 as and additional argument and write the struct return value there.
As defined in the official ARM64 calling convention document

[2016-05-13 01:05] briansull opened #4950 "ARM64: VM- Returning large structs should use register x8 as the RetBufArg."
This issue tracks the work in the VM needed to complete work item #4949

[2016-05-13 01:09] briansull opened #4951 "ARM64: VM- Returning 16-byte structs by value using registers x0 and x1"
This issue tracks the work in the VM needed to complete work item  #4948

[2016-05-13 01:40] swaroop-sridhar commented on #4944
Repro steps:

1) Delete the native images from CORE_ROOT so that GCStressOnDirectCalls works.
2) The set
[code]
2) From CORE_ROOT, corerun <test.exe>

[2016-05-13 03:42] #4938 closed

[2016-05-13 04:00] benpye commented on #3977
Wow, it's amazing to see what I started last year get this far. Sorry I couldn't bring it any further but it definitely seems like ARM could be a viable target for .NET Core soon.

[2016-05-13 04:47] myungjoo commented on #3977
It appears that we'd even see it being around 40 today. (or less than 40!).

[2016-05-13 05:00] chunseoklee commented on #4671
Please note that if you rerun bpmd, it does not work even on Ubuntu/x64.
Here is the log
[code]

[2016-05-13 05:48] jyoungyun commented on #3977
Today's result!

Target       : Raspberry Pi2
Coreclr Commt id : 1c2d8a6
tc commit id : 171f7133287ebbee24d6a7f193b13a9f959e9297

[code]

[2016-05-13 06:53] myungjoo commented on #4859
Rebased with d0e1bcc4d881cb3757cf335a99a64b34d86d8e62 and the point of segmentation fault has changed. (probably, pointing at the same logical location, but, need more analysis..)

[2016-05-13 07:00] myungjoo commented on #4859
The currently segmentation-faulting JIT-generated code with the example code above is:
(segmentation faults after `Starting 2...`)

[code]

The JIT-generated code is storing 0 at `sp+20` and try to load `+4` of that stored `sp+20 (=0)`, which inevitably causes segmentation fault. This does not happen with x64.

[2016-05-13 08:45] janvorli commented on #3977
It's great to see such progress here!

[2016-05-13 08:54] janvorli commented on #4859
@myungjoo I assume you are seeing the problem without gdb too, right? Since null reference exception is a hardware exception (SIGSEGV) that gets caught by gdb first and then if you let it continue, it will pass it to CoreCLR for handling.
The JIT_WriteBarrier is one of a few places out of managed code where the SIGSEGV is converted to a managed exception (see IsIPInMarkedJitHelper function here: h

[2016-05-13 09:44] myungjoo commented on #4859
@janvorli Yes, I'm seeing segmentation fault without GDB as well. Anyway, if CoreCLR catches SIGSEGV of JITted code, I might be seeing something that shouldn't matter. I'll keep that fact in mind. Thanks.

[2016-05-13 09:48] myungjoo commented on #4777
Looks like RuntimeInformation class is going to satisfy the need. Thanks.

[2016-05-13 09:48] #4777 closed

[2016-05-13 09:49] janvorli commented on #4859
That's how null references are detected (and also division by zero, etc.).
In your case, could you try to set a breakpoint at HandleHardwareException and see if it gets called? It should happen in your case (after you hit the SIGSEGV first in the GDB and do "c", it should go there).

[2016-05-13 14:36] pgavlin commented on #3058
Closed by #4813

[2016-05-13 14:36] #3058 closed

[2016-05-13 14:43] dagood commented on #3763
These tests were reenabled by https://github.com/dotnet/coreclr/pull/4397.

[2016-05-13 14:43] #3763 closed

[2016-05-13 15:31] jashook commented on #3844
Fixed with Kyungwoo's changes to the CI.

[2016-05-13 15:31] #3844 closed

[2016-05-13 15:34] jashook commented on #3582
Fixed with Kyungwoo's CI changes.

[2016-05-13 15:34] #3582 closed

[2016-05-13 15:42] AndyAyersMS commented on #4546
@LLITCHEV I can't repro this failure with the default run settings.

Can you still repro this?

[2016-05-13 16:00] mikedn commented on #4659
I managed to convince decomposition to transform
[code]
into
[code]
It's not ideal but it's similar to the JIT32 output and even a bit better (JIT32 puts a temporary on the stack).

[2016-05-13 16:22] BruceForstall commented on #4659
Nice!

[2016-05-13 16:24] BruceForstall commented on #4659
I reopened the issue and changed the title to more accurately describe the discussion.

[2016-05-13 16:49] SunnyWar commented on #4937
Just another note...I know this repo does with JIT and so you think this is a backend compiler issue...but please have a nice chat with the front end compiler teams about changing things so that it produces IL that has been "pre optimized". In other words. Make both cases produce something like this for release:

L_0001: ldc.i4.1
 IL_0002: and
 IL_0003: brtrue.s IL_0007

There's only an up-side to

[2016-05-13 17:09] tijoytom commented on #4796
Merged https://github.com/dotnet/coreclr/pull/4911/
Need to update the corefx contracts now.

[2016-05-13 17:44] #4508 closed

[2016-05-13 17:54] sejongoh commented on #4893
As discussed in #3347, We need to clear up the upper bits for register arguments.

[2016-05-13 17:54] #3347 closed

[2016-05-13 18:02] JeremyKuhne commented on #3800
Going to close this issue, please reopen if you find a repro.

[2016-05-13 18:02] #3800 closed

[2016-05-13 18:05] LLITCHEV commented on #4853
The reason for these test failures is the same. These tests make assumptions on the invocation of static constructors. The VM can decide when to call a static initializer in case of present .beforefieldinit flag, as long as it is invoked before accessing any static field of the class containing the static initializer. The problem here is the tests make incorrect assumption.

[2016-05-13 18:28] mmitche opened #4960 "Mscorlib failing to build in some tests"
Getting the following in http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x64_release_windows_nt_pri1_prtest/1928/

error CS1719: Error opening Win32 resource file 'D:\j\workspace\x86_ryujit_ch---7ecedcb1\bin\obj/\Windows_NT.x86.Checked\/Native.res' -- 'The process cannot access the file 'D:\j\workspace\x86_ryujit_ch---7ecedcb1\bin\obj\Windows_NT.x86.Checked\Native.res' because it i

[2016-05-13 18:55] gkhanna79 commented on #4960
@joperezr Can you PTAL?

CC @weshaggard

[2016-05-13 19:59] pgavlin commented on #4531
@gkhanna79 #3058 has been closed; this should be unblocked.

[2016-05-13 20:13] weshaggard commented on #4960
@AlexGhiondea This is likely because System.Private.CoreLib is building the same files in the same location.

[2016-05-13 20:23] #4711 closed

[2016-05-13 20:55] #2235 closed

[2016-05-13 21:00] markwilkie commented on #1743
Davis - Could you update this bug once the publishing stuff is sorted for CoreCLR please?

[2016-05-13 21:03] pgavlin commented on #4832
Fixed by #4942.

[2016-05-13 21:03] #4832 closed

[2016-05-13 21:04] pgavlin commented on #4130
The only remaining uses of SEH over the JIT/EE interface are SuperPMI-related, so I'm moving this out to future.

[2016-05-13 21:05] pgavlin commented on #4129
This is not necessary for RTM. Moving out to future.

[2016-05-13 21:24] dagood commented on #1743
Sure. @wtgodbe is working on making the packages and flowing them into the build pipeline, but I'll be involved in publishing them so I'll keep tabs on the issue.

A heads up in case this causes anyone problems: I think that these symbols will be available on the dev package feed's symbol server from https://dotnet.myget.org/F/dotnet-core/symbols/ before we get them publishing on MS Symbol Server.

[2016-05-13 21:45] #3450 closed

[2016-05-13 22:50] sejongoh commented on #4893
@briansull @CarolEidt @kyulee1 How about ARM64? Do we need to clear the upper bits? If so, do we need a fix now?

[2016-05-14 00:02] KevinRansom opened #4971 "ReadyToRun: Explicit tailcalls not supported"
Compiling F# code with crossgen I see:

Not implemented (Exception from HRESULT: 0x80004001 (E_NOTIMPL)) while compiling method basicNumberToString@860-559.Invoke
ReadyToRun: Explicit tailcalls not supported

We should ensure that .tail is supported.

Kevin

[2016-05-14 00:08] briansull commented on #4893
Currently we don't have support in CodegenArm64.cpp  for SIMD types on ARM64
We do have support for encoding the SIMD instructions for Arm64 in emitarm54.cpp

So, no you don't have to do anything here for Arm64

[2016-05-14 07:39] sejongoh commented on #4893
@briansull Thanks!

[2016-05-14 07:44] mikedn commented on #4937
This isn't useful. The JIT has to optimize code anyway and has the necessary infrastructure to do so. The C# compiler doesn't have such infrastructure and adding it means duplicating a ton of effort.

Incidentally the JIT does already recognize this, otherwise the generated code would have contained an expensive `div` instruction. And if you change the type of `i` from `int` to `uint` you even get

[2016-05-14 10:03] synercoder commented on #3784
@janvorli The test you mentioned are already being run and their progress is tracked on another thread: #3977

[2016-05-14 10:04] synercoder commented on #3784
As you apparently know since you already commented on that thread. :)

[2016-05-14 10:27] matthid commented on #919
@davidfowl

Currently I'm in the process of porting FAKE to CoreCLR. We have a completely dynamic environment there and need the list of loaded assemblies for caching (https://github.com/fsharp/FAKE/blob/master/src/app/FakeLib/FSIHelper.fs#L396). What we do: We execute an F# script and afterwards store the compiled assembly on disk and alongside the list of all the assemblies that are loaded at th

[2016-05-14 13:26] RussKeldorph commented on #2444
Comment from @LLITCHEV in #2450:

[2016-05-14 13:30] RussKeldorph commented on #2444
These tests were excluded across the board in an earlier test harness, so it's interesting that they were ported at all.  Perhaps they can be modified to expect the current behavior.

[2016-05-14 13:31] RussKeldorph commented on #2444
@pgavlin FYI

[2016-05-14 18:53] SunnyWar commented on #4937
@mikedn  What I'm hearing is, "it doesn't work that way so we can't do it." What I consistently hear from the JIT team is, "we care more about assembly load time than optimization".  So, you guys have a bigger, "it doesn't work that way so we won't do anything" problem.

[2016-05-14 19:12] mikedn commented on #4937
You seem to be hearing things. Nobody from the JIT team commented on this issue and told you that this optimization can't be implemented because it's time consuming. This kind of attitude isn't really helping anyone.

[2016-05-14 20:06] SunnyWar commented on #4937
@mikedn On this issue, I'm sure you can add the optimization. On the broader problem of the JIT not being a truly optimized compiler...that is very well known. I've heard it stated by the JIT teams directly, during and after I worked for MS.

[2016-05-14 20:28] mikedn commented on #4937
I know all this and even if wouldn't knew this I couldn't talk to someone on the JIT team because I'm not on that team. I'm not even working at MS.

Again, that doesn't make sense because it requires duplicating a lot of effort. And no matter how much effort you put into that it still won't work well for various reasons. Like not being able to express the output of certain optimizations in IL or n

[2016-05-14 20:34] mikedn commented on #4664
@BruceForstall Does it make sense to send a PR that replaces the NYI with the correct implementation or should this wait until it is decided if decomposition is the way to go?

[2016-05-14 23:18] BruceForstall commented on #4664
If you already have an implementation that uses temps that fixes this (and I think you do), I would go ahead and submit the PR. We've still been having conversations internally about the possibility of dropping decomposition and instead teaching LSRA about how the more complicated multi-reg lifetime transitions of non-decomposed nodes, and how codegen would use the reg alloc results. (We should pr

[2016-05-15 00:41] #2330 closed

[2016-05-15 04:15] #4960 closed

[2016-05-15 04:23] #3235 closed

[2016-05-15 05:21] yizhang82 commented on #4854
I'm pretty sure this is a DNX specific issue.
This is the code in question:
                Assert.Equal(0x34, entry.Bytes[0]);
If I use csc (from VS) manually to compile FixedIssue.dll:
  IL_0018:  ldc.i4.s   52
  IL_001a:  ldloca.s   V_0
  IL_001c:  ldflda     valuetype [ClassLibrary1]ClassLibrary1.RuntimeIssue/'<Bytes>e__FixedBuffer' [ClassLibrary1]ClassLibrary1.RuntimeIssue::Bytes
  IL_0021:

[2016-05-15 05:23] #4854 closed

[2016-05-15 07:57] gkhanna79 commented on #4940
@jkotas Is this a blanket rejection of methods containing varargs or will we support them for forward pinvoke?

[2016-05-15 08:00] yizhang82 commented on #4739
I can confirm this is a GC hole in x86 RyuJIT.

The problem happens in this stack:

mscorlib!System.String.FormatHelper(System.IFormatProvider, System.String, System.ParamsArray)+0x36
mscorlib!System.String.Format(System.String, System.Object)+0x35
Castable!Castable.IsInstanceOfInterface(System.RuntimeTypeHandle, System.Exception ByRef)+0x5d
coreclr!CallDescrWorkerInternal+0x34
coreclr!CallDescrWo

[2016-05-15 08:01] yizhang82 commented on #4739
@BruceForstall @LLITCHEV Who is the best person to look at this? If this only happens in x86 RyuJIT, this probably don't need to be fixed for RTM (it's just that I don't know where to pull the legacy JIT).

[2016-05-15 10:45] mikedn commented on #4174
The correct path for JIT\Methodical\Arrays\huge_il_dbghuge_u8_il_dbghuge_u8.cmd is

`JIT\Methodical\Arrays\huge\_il_dbghuge_u8\_il_dbghuge_u8.cmd`

[2016-05-15 11:37] mikedn commented on #4175
The correct paths for the first 2 tests are:
[code]

[2016-05-15 12:25] mikedn commented on #4175
Looks like b71120 uses a byte->long cast and the rest use byref->long casts.

[2016-05-15 14:28] jkotas commented on #4940
Our own corefx is calling printf vararg methods without the special PInvoke support, e.g.: https://github.com/dotnet/corefx/blob/d0dc5fc099946adc1035b34a8b1f6042eddb0c75/src/Common/src/Interop/Unix/System.Native/Interop.PrintF.cs#L12. I think that we should start by rejecting them wholesale - we can relax it later.

@yizhang82 Do you have anything to add about vararg support in forward PInvoke?

[2016-05-15 14:55] gkhanna79 commented on #4940
@stephentoub @weshaggard - FYI

[2016-05-15 16:01] NickCraver opened #4980 "Use -stable, -unstable, and -yolo for package versions across NuGet, MyGet, and CI feeds."
With RC1 and limited naming options in NuGet (20 characters and recognized patterns for pre-release) we ended up with `rc1-final`, `rc1-update1` and `rc1-update2`. While joking about it in Slack chat this morning, better options arose - so I'm starting an issue here for discussion.

The package naming formats we came up were `<major>.<minor>.<revision>-<feed/level>-<release>`. With the levels bein

[2016-05-15 16:05] DamianEdwards commented on #4980
I really like this. Also note, we could choose to inject -supported as the pre-release moniker prefix for those releases with a go-live license, and it still fits in the required order: stable -> supported -> unstable -> yolo

[2016-05-15 16:11] stephentoub commented on #4940
@jkotas, what do you recommend we do here instead?  Use __arglist?  Expose multiple exports from the native shim, one for each needed set of args?

[2016-05-15 16:13] stephentoub commented on #4940
FWIW, I've found it incredibly helpful while debugging to be able to quickly add:
[code]
to some code I'm working on in order to be able to literally do printf debugging.

[2016-05-15 16:22] DamianEdwards commented on #4980
*NOTE: ### is build number*

Here's how this might look for a fictional minor release post 1.0.0 RTM (i.e. 1.1.0):
- `dev` branches start spitting out `1.1.0-yolo-###`
- coherent builds start pushing to myget.org feeds `1.1.0-unstable-###`
- once ready for official release it's pushed to nuget.org as `1.1.0-stable-beta1`
- process is repeated for subsequent "named" pre-releases (e.g. `beta2`, `rc1

[2016-05-15 17:18] jkotas commented on #4940
@stephentoub The current corefx wrapper for `printf` should be just fine.

This issue is about `__arglist`.

[2016-05-15 17:45] stephentoub commented on #4940
Ah, ok, I misunderstood the comments then; I thought the implication was that the current code was bad.

[2016-05-15 18:28] BruceForstall commented on #4739
How do you reproduce this? There's a terminology issue here: I assume this is with the x86 "legacy_backend" JIT that is built out of the JIT source tree. In the JIT team, we talk about the "RyuJIT x86" compiler as a new, non-default, code path that we are just bringing up. Nonetheless, it sounds like it is NOT the JIT32 x86 compiler that we are shipping.

Nonetheless, we should have an issue opene

[2016-05-15 19:57] sergiy-k commented on #3977
Very nice! Great progress!
Do you have next target once all of these Pri0 tests pass? Is it Pri1 tests (about 3000 additional tests)?

[2016-05-15 20:31] cmckinsey opened #4981 "Support value numbering of SIMD types in RyuJIT optimizer"
Per the comment, extend value numbering to support SIMD types in RyuJIT.

valuenum.cpp

`
#ifdef FEATURE_SIMD
    // TODO-CQ: For now TYP_SIMD values are not handled by value numbering to be amenable for CSE'ing.
    if (oper == GT_SIMD)
    {
        tree->gtVNPair.SetBoth(vnStore->VNForExpr(TYP_UNKNOWN));
        return;
    }
#endif
`

[2016-05-15 20:45] cicorias commented on #4980
It would be desirable to follow semver so it falls into a natural alpha-numeric sort like:
[code]

Using your example, this inverts that so the latest is 1st.

[code]

[2016-05-15 20:55] NickCraver commented on #4980
@cicorias In the package case, for example using `-*`, the absolute latest should win (e.g. `yolo`). Unless you're using `-stable-*`, in which case the latest `stable` feed package wins. That is true of both cases presented, but keep in mind you're comparing different bits here. That's the feed, not the release...but it's in order so it's all in an overall order as well.

I think the big differenc

[2016-05-15 21:04] cicorias commented on #4980
it makes sense and I understand the idea of distinguishing different channels, but why not just stick to semantics like 'alpha', 'beta', 'rc' - which are generally unstable, stable, supported.

[2016-05-15 21:30] NickCraver commented on #4980
@cicorias That setup doesn't allow things like people to testing the RC2 release before it hits NuGet for everyone. Since we need to test the entire package system (the whole BCL together) against the feed releases before they progress to the next tier (of feeds). This remains a necessity.

Binding alpha/beta/rc/etc. to tiers would effectively phase out the nightly tier once reaching the beta phas

[2016-05-15 21:53] cicorias commented on #4980
just trying to keep to something that makes it easy to distinguish if i have a lib somewhere on disk, feed, etc. which is really the latest. eg. using semver.js. a version that makes it from unstable to stable feed would also incur a version change as well. The idea that the feed only serves unstable, or yolo already by itself distinguishes it - so why bake it into the name?  Then a package once i

[2016-05-15 22:05] NickCraver commented on #4980
Because one project can pull from multiple feeds. It also allows things like `1.0.0-stable-*` to only get stable releases. There's no notion of feed restrictions per package (nor can there be, due to internal proxies, etc.). We have to support more than standalone packages here - we have to support the case of a project of dependencies pulling from many feeds and distinguishing those in a way that

[2016-05-16 01:36] jyoungyun commented on #4860
MSBuild on .NET Core does not support CodeTaskFactory.
The related comments are here: https://github.com/Microsoft/msbuild/issues/616

[2016-05-16 04:24] myungjoo commented on #4859
`isManagedCode` of `IsSafeToHandleHardwareException()` in `src/vm/exceptionhandling.cpp` is `0` where is should be `1` in the case of the error. I'll dig into why it behaves like that.

[2016-05-16 05:30] yizhang82 commented on #4739
@BruceForstall Ah, I see. I haven't debugged GC holes in a while so the exact meaning of untracked local has escaped me. This would make sense. So I debugged deeper and it looks like a case of bad codegen under x86 RyuJIT that is related to ICastable (yes, I'm running with the JIT in CoreCLR repo, not the legacy_backend JIT from the JIT source tree, not the one that we are shipping with), and not

[2016-05-16 05:32] yizhang82 commented on #4739
@BruceForstall I've added repro instruction in the issue description in the beginning. Simply run Interop\ICastable\Castable test using the .cmd file after setting CORE_ROOT under x86. It should repro every single time.

[2016-05-16 05:41] myungjoo commented on #4859
It is because JIT_WriteBarrier is not unwindable and `VirtualUnwindToFirstManagedCallFrame` called by `DispatchedManagedEception` fails to unwind up to the managed frame (one step deeper than `JIT_WriteBarrier`).

[2016-05-16 05:53] yizhang82 commented on #4940
@jkotas Thanks for letting me know. I'm fine with not supporting it for .NET Core for RTM. Personally I've never had the need to use vararg interop.
@BruceForstall Just curious, I'm assuming we are talking about RyuJIT here - have vararg always been missing in RyuJIT - that seems unlikely to me. Is this related to x-plat?

[2016-05-16 06:09] myungjoo commented on #4859
OK. the fix (adding `PROLOG_PUSH`, `PROLOG_STACK_STAVE` to the write barriers) is allowing to handle the secondary exceptions of `143837`. However, it exposes another "unhandled exception" in CoreCLR. The fix is going to be bigger than simply adding assembly macros.

[2016-05-16 09:34] janvorli commented on #4859
@myungjoo I wonder why the write barrier is not unwindable in its original form. The write barrier is a very performance sensitive thing and adding instructions just to make it unwindable seems unfortunate. Does it mean that the ARM unwinder is unable to unwind a simple function with no stack usage?

[2016-05-16 09:50] myungjoo commented on #4859
@janvorli Yes, PAL_VirtualUnwind() behaves erratic at JIT_WriteBarrier (PAL_VirtualUwind's return value = 0 / ContextPC = 0, which denotes that it has hit the bottom of the stack.)

[2016-05-16 10:04] janvorli commented on #4859
@myungjoo I think I can see why it is unable to unwind the function. It seems the problem is that the JIT_WriteBarrier is defined as follows:
    LEAF_ENTRY JIT_WriteBarrier, _TEXT
    .space (0x84)
    LEAF_END_MARKED JIT_WriteBarrier, _TEXT
So when the assembler compiles it, it doesn't see any code and so it cannot create proper unwind data. Maybe we should put in just fake "bx lr" before the .s

[2016-05-16 10:26] myungjoo commented on #4859
I thought similar things and tried to add the following in the `.space()` area of `patchedcode.S`:

1.
[code]
2.
[code]
3.
[code]
4. and all of them or two of them

along with `.space()` realignment (bx lr in thumb = 0x2)

ALL fails with `PAL_VirtualUnwind`.

[2016-05-16 10:40] janvorli commented on #4859
Could it be a bug in the unwinder? It seems it should be able to unwind through simple bx lr, since it is as simple as setting the PC to LR.

[2016-05-16 11:18] myungjoo commented on #4859
GLIBC seems to do some tricks for Linux/ARM to let unwind work while not saving registers into the stack. I'll try to follow GLIBC's sysdeps/unix/sysv/linux/arm/sigrestorer.S.

Anyway, this doesn't seem to be a bug of libunwind because it tries to decode the exidx entry, which doesn't exist with the current code or is incorrect with my trials without actually saving things in the stack.

[2016-05-16 11:48] janvorli commented on #4859
If we fail to make it unwind the barrier in a reasonable way, we have one fallback option left. We can wrap the PAL_VirtualUnwind in a wrapper function that would first check if the IP is in the JIT_WriteBarrier range and if it is, unwind it just by setting the PC to the LR without calling into the PAL. We have a function to do such unwind that we use for the managed code - Thread::VirtualUnwindLe

[2016-05-16 11:54] janvorli commented on #4859
@myungjoo I am sorry, it should not be return, but rather this:
[code]

[2016-05-16 11:57] dsyme commented on #4971
So I'm wondering why this is this not supported? NGEN has always supported tailcalls (at least in recent years). And there have always been many tests to ensure CLR support for tailcalls didn't regress :/

Do we have any info on the ramifications of this, or what's needed to support it?

Thanks

[2016-05-16 12:03] myungjoo commented on #4859
Nah.. that doesn't work. It (using cfi) actually saves registers into the stack.

Unless we have JIT_WriteBarrier (and its neighbors) embedded into the JIT-code or let the JIT-code to use b/bx, or sacrifice the performance (use of push `{r7, lr}`), the workaround @janvorli suggested might be the answer.

if (IsIPInMarkedJitHelper(uControlPC))
{
    uControlPC = VirtualUnwindLeafCallFrame(pContext)

[2016-05-16 12:10] myungjoo commented on #4859
Anyway, that expression should be in the first part of the loop, not before the loop. `JIT_WriteBarrier` is the last native frame (the closest to the first managed), not the first native frame (the farthest from the first managed).

[2016-05-16 12:20] janvorli commented on #4859
I have forgotten that when handling hardware exceptions, we have to unwind all the way back from the DispatchManagedException through the signal trampoline before we get to the actual failing function. So you are right.

[2016-05-16 12:36] myungjoo commented on #4859
[code]

[code]

`0xb64e47b4` is the `JIT_WriteBarrier` and VirtualUnwindCallFrame cannot unwind it.

GDB says:
[code]

Looks like we need to make another unwinding functino for JIT Helpers.
Anyway, I'll continue this issue tomorrow. :)

[2016-05-16 12:56] janvorli commented on #4859
You have used wrong function :-). It was 'VirtualUnwind**Leaf**CallFrame' in my example.

[2016-05-16 13:41] RussKeldorph commented on #2326
These tests all pass now, and they have already been re-enabled via one or more "try running without exclusions to find tests that pass and re-enable them" exercises that have happened since this issue was opened.

[2016-05-16 13:41] #2326 closed

[2016-05-16 14:36] jkotas commented on #4971
I have submitted https://github.com/dotnet/coreclr/pull/4984 that allows the fast explicit tailcalls - there was no good reason to disable them.

The fundamental problem with slow tailcalls is that we need more sane way to implement them.

- For R2R on Windows, it is needed to have a reasonable ABI that we can maintain version resiliency for. (We will fallback to JIT for them.)
- For Unix, it is n

[2016-05-16 15:58] BruceForstall commented on #4739
@RussKeldorph Can you triage this?

[2016-05-16 16:00] BruceForstall commented on #4940
@yizhang82 No, this is not RyuJIT. This is for .NET Core overall, as a feature choice. RyuJIT for Windows does support varargs. We haven't implemented it for non-Windows because there was a feature choice made earlier to not support it on .NET Core. This issue is just to properly, early, bail out if it is seen in the IL.

[2016-05-16 16:11] RussKeldorph commented on #4739
FYI, this repros when using the non-open-source JIT32 x86 JIT as well.

[2016-05-16 16:34] RussKeldorph commented on #4546
Closing with "won't fix."  This is an unusual code pattern, and the bug is (now) specific to the not-open-sourced JIT32 x86 JIT, which we plan to replace with RyuJIT.

[2016-05-16 16:34] #4546 closed

[2016-05-16 17:24] #2450 closed

[2016-05-16 17:37] pgavlin commented on #3788
@gkhanna79 JIT packages are now being produced by the build. All that's left is signing and publishing. AFAIK that work is on your plate as part of the VSO build setup, so I'm assigning this issue to you for tracking.

cc @russellhadley

[2016-05-16 17:37] #4796 closed

[2016-05-16 17:37] rahku commented on #4935
duplicate of issue #4951& #4950

[2016-05-16 17:37] #4935 closed

[2016-05-16 17:39] gkhanna79 commented on #3788
The signing and publishing is being done as part of work @wtgodbe is doing. I think we can close this issue.