[2019-06-06 22:03] MattGal commented on #24996
@RussKeldorph this is still fallout from the migration from Python 2 -> 3 necessitated by its EOL-iness.

mcr.microsoft.com/dotnet-buildtools/prereqs:alpine-3.8-helix-45b1fa2-20190327215821 has Python 2 as its default entry point for python, so it fails that way.  We should be able to update the relevant DockerFiles to use Python 3 to unblock this.

As for OSX machines though, they will be convert

[2019-06-06 22:52] benaadams commented on #22224
Worth looking at using `/d2FH4` https://github.com/dotnet/coreclr/issues/23167?

Might help a little bit... https://devblogs.microsoft.com/cppblog/making-cpp-exception-handling-smaller-x64/

[2019-06-06 23:05] jashook commented on #24922
Seems to be working reliably now.

[2019-06-06 23:05] #24922 closed

[2019-06-06 23:06] tannergooding commented on #11606
The SIMD support was also extended from just `Vector<T>.Count` to also cover `Vector64<T>.Count`, `Vector128<T>.Count`, and `Vector256<T>.Count` in https://github.com/dotnet/coreclr/pull/24991.

However, that support is really only when using `Count` as the upper bound of the loop. It would be beneficial to extend the support to cover simple auto-vectorization (https://github.com/dotnet/coreclr/is

[2019-06-06 23:09] jkoritzinsky commented on #23650
R2R testing for these tests were never disabled and they've been passing since 2019-04-09 (see the Kusto query below). As a result I'm going to close this issue:

[code]

[2019-06-06 23:17] sandreenko commented on #20322
You are right. On x64 `Scenario9HelperInner` marks `s_EDI.Throw();` as a profitable tail call, so when the exception happens we do not have `Scenario9HelperInner` on the stack.

[2019-06-06 23:20] kouvel opened #25014 "[dotnet-trace] Some rundown events are missing"
Examples:
- `Method/DCStopVerbose`
- `Method/ILToNativeMapDCStop`

That may be why when attaching to a process that has completed all of its jitting, the stack view does not show up. I believe `DCStopVerbose` is used by PerfView to associate a sample's code address with a method name and other info about the method, when the method was already jitted before attach, and `ILToNativeMapDCStop` when p

[2019-06-06 23:24] swaroop-sridhar commented on #25002
The current semantics for `Assembly.Location` is that it is the honest actual location of the file.
The [manual](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assembly.location?view=netframework-4.8) says:

Existing code may depend on this property (Location empty string when loaded from memory) to be true.

[2019-06-06 23:25] kouvel opened #25015 "[dotnet-trace] Getting very few managed stacks"
I’m not seeing the CPUStacks item but I see AnyStacks. However, I’m seeing very few samples in the stack view and not seeing some managed functions. This is on a trace taken for ~40 seconds:

Name | Inc % | Inc | Exc % | Exc | Fold | When | First | Last
-- | -- | -- | -- | -- | -- | -- | -- | --
test![QuickJitted]PerfViewTierEventsTest+<>c.<Main>b__0_0() | 13.4 | 9 | 0.0 | 0 | 0 | `_______________

[2019-06-06 23:25] swaroop-sridhar commented on #25002
Maybe we can have a different API (say `Assembly.Origin`) which gives us anything that the loading module wants.

[2019-06-06 23:27] #23650 closed

[2019-06-06 23:38] tommcdon commented on #24966
load balancing to @cshung

[2019-06-06 23:45] AndyAyersMS commented on #24976
Even in C# you can use reflection to break what you might think of as an invariant:
[code]
produces:
[code]

[2019-06-07 00:09] andy-ms opened #25016 "Segfault for project built with `-r linux-x64` running with corerun"
To reproduce:

* Create a checkout of coreclr and run `./build.sh && ./build-test.sh -generatelayoutonly`.
* Create a sample .net project:

**cs.csproj**:

[code]

**Program.cs**:

[code]

* Build with `dotnet publish -r linux-x64`
* Run with:
    CORE_ROOT="/path/to/coreclr/bin/tests/Linux.x64.Debug/Tests/Core_Root"
    /path/to/coreclr/bin/tests/Linux.x64.Debug/Tests/Core_Root/corerun bin/Debug/

[2019-06-07 00:17] RussKeldorph commented on #24568
Closed by #24809

[2019-06-07 00:17] #24568 closed

[2019-06-07 00:20] RussKeldorph commented on #21843
Assuming this is fixed.

[2019-06-07 00:20] #21843 closed

[2019-06-07 00:24] MattGal commented on #21843
@RussKeldorph yes the work to fix the defender exclusions was merged long ago, if this comes back we'll fight it back just like the dozens of other times it's happened since 2007 :)

[2019-06-07 01:00] KathleenDollard opened #25018 "Internal CLR error when running `dotnet tool --help`"
I get the following error when running `dotnet tool --help`. The `--info` is also below. We can loop in @wli3 about the CLI part on this, but it seems that "Internal Error" should not happen regardless:

[code]

[code]

[2019-06-07 01:08] swaroop-sridhar commented on #24397
This bug is tracked in https://github.com/dotnet/sdk/issues/3257

[2019-06-07 01:35] jkotas commented on #25018
Duplicate of #24727. Fixed in preview6.

[2019-06-07 01:35] #25018 closed

[2019-06-07 01:48] albahari commented on #25002
Yes, I see your point. There may be code which assumes that if Location is non-empty, it must return a valid file, and so would skip doing a File.Exists check on it. Introducing an overload that invites you put anything into Location and CodeBase might be too much risk.

Your suggestion of a new properly such as Origin would still be better than the current situation with memory-loaded assemblies,

[2019-06-07 06:05] jkotas commented on #25002
The new property would help only if you are able to change the affected library. And if you are changing the affected library, it would be best to fix it to not depend on the `Assembly.Location` and instead allow the configuration to be passed in explicitly from outside and avoid dependency on `Assembly.Location` or similar APIs completely.

[2019-06-07 07:40] kouvel commented on #25015
Here's the test code:

[code]

It may so be happening that any time the runtime is suspended, the tier 0 version of the code happens to be in a static variable helper in coreclr. But even so, a stack walk should show that the tier 0 code is calling some unmanaged code in the inclusive samples, rather than not showing up at all, and it may have zero exclusive samples. The tier 1 code stays in manag

[2019-06-07 09:18] ArtBlnd commented on #11606
@tannergooding What kind of complex loops? just for example.

[2019-06-07 10:06] kbaladurin opened #25020 "[RyuJIT/Linux/x86] Tail-call optimization leads to assert on Linux/x86"
Following example crashes due to assert in `morph.cpp` on Linux/x86:
[code]
[code]

`fgMorphTailCall` marks `3.CALL` as varargs on x86 and amd64 and compilation fails due to NYI in `fgInitArgInfo` (on amd64 `fgMorphTailCall` isn't called as fast tail-call optimization is used). I think we can temporary disable tail-call optimization for Linux/x86:
[code]

Thank you!

[2019-06-07 10:09] kbaladurin commented on #25020
@janvorli @jkotas @BruceForstall PTAL
cc @alpencolt

[2019-06-07 10:09] janvorli commented on #25020
cc: @dotnet/jit-contrib

[2019-06-07 10:45] mikedn commented on #11606
That was done as a special case, for code that was trying to access individual vector elements in a loop (and that's likely driven by SIMD API limitations such as the lack of shuffles). It's not clear why do you think that loops having stride `Vector<T>.Count` are somewhat special in terms of unrolling compared to other loops or why is this related to auto-vectorization.

[2019-06-07 13:59] #24940 closed

[2019-06-07 14:06] jashook commented on #25020
We do not support fast tail calls on windows x86. It should be disabled for Linux x86 as well.

[2019-06-07 14:14] CarolEidt commented on #24912
The reason we don't catch this in `optVnCopyProp()` is that by the time we reach the uses of `left` and `right` in the add intrinsic, `vector` is no longer live. It is unfortunate that we are using "liveness" here rather than "availability". That is, although `vector` is no longer live (its last use is when it is assigned to `right`), it is still available (i.e. the value we're interested in propa

[2019-06-07 15:33] alpencolt commented on #23520
Finally I've run benchmarks on ARM and x64: https://gist.github.com/alpencolt/0580af0be86e49bb9d89508dabcd8615
We'll check it more detailed, but it looks there are some issues withs string manipulations.

[2019-06-07 15:36] jashook commented on #23520
/cc @dotnet/jit-contrib fyi

[2019-06-07 15:42] mikedn commented on #24912
Hmm, perhaps I should a PR to add comments to VN copyprop since I starred a lot at that in the past (and AFAIR one of the existing comments is wrong/misleading).

The short version is that:
* it needs liveness because we only insert PHIs for live variables so you can't substitute forward past a last-user without risking also going past a missing PHI.
* it also needs liveness as a heuristic, withou

[2019-06-07 15:44] RussKeldorph commented on #24996
@mattgal is there an issue tracking the conversion you can link to this?

[2019-06-07 15:52] RussKeldorph commented on #20457
Assuming this is no longer relevant.

[2019-06-07 15:52] #20457 closed

[2019-06-07 15:52] CarolEidt commented on #24912
Right - since we have pruned (semi-pruned?) SSA, we need to rely on liveness at block boundaries to ensure that we don't propagate any lclVars that may no longer be valid. That said, there's no correctness requirement to remove last-uses from the live/available set within a BasicBlock (that's what I was describing above), and I'm sure there must be a better heuristic than never extending those liv

[2019-06-07 15:57] RussKeldorph commented on #20322
@sandreenko Thanks!  @sergiy-k FYI.

[2019-06-07 16:02] RussKeldorph commented on #20462
`StackTracePreserveTests` tracked by #20322.

Assuming timeout tweaking and mode compat is done or being tracked by other issues as failures arise.  @sandreenko

[2019-06-07 16:02] #20462 closed

[2019-06-07 16:03] mikedn commented on #24912
Yes, there are some improvements that can be made. One thing I tried was to make SSA mark single use defs (which is pretty much always the case with these pesky copy chains) and use that to override the liveness based heuristic:
[code]
If `x` is single use then we now that substituting `x` with `y` will result in `x`'s live range going away, compensating for the potential extension of `y`'s own li

[2019-06-07 16:07] RussKeldorph commented on #20474
`b28158` is not currently disabled.

`hugeexpr1` is disabled for ARM64 only.

[2019-06-07 16:13] RussKeldorph commented on #20487
I'm not aware of this hitting for a while, so I assume either we picked up an improved SDK or (more likely) @echesakovMSFT's work in #22885 reduced the stress on the build enough to mitigate it.  Feel free to re-open if you disagree.

[2019-06-07 16:13] #20487 closed

[2019-06-07 16:19] sergiy-k commented on #20322
@janvorli, should we just delete this test or do you see value in it?

[2019-06-07 16:19] AndyAyersMS commented on #24835
Two new failures overnight:
[code]
Will see if I can repro either one.

[2019-06-07 16:19] mikedn commented on #24912
BTW, maybe it's worth trying non pruned SSA, perhaps it's not too costly. And maybe that would also eliminate the need for the liveness pass before SSA (yes, it's pruned, not semi). Though there's still the pesky issue of the VN copyprop heuristic.

Ultimately the only good way to do copyprop is allow going into the non-conventional SSA form. But then that requires an out of SSA pass and with the

[2019-06-07 17:40] VSadov commented on #24835
The fix for #24879 has been merged. However it is unlikely to cause this.
#24879 is a debug-only failure causing occasional asserts.

Here we have a mix of failures. Those that are asserts about alignpad are likely #24879 and should be fixed now.
Those that are AVs are likely a different issue.

[2019-06-07 17:48] AndyAyersMS commented on #24835
Right, this issue tracks a number of failures.

The failures that seem related to #24879 are the ones that hit the following assert:
[code]
These did not repro when I backed out your original change. I will check and see if they still repro now that you have a fix.

[2019-06-07 18:12] Yves57 opened #25026 "Avoid allocation in object construction by reflection"
During an analysis about memory allocations in an ASP.NET Core service (github/aspnet/extensions#693), I have found that there is maybe an optimization in (at least) object construction by reflection.
When constructing an object by reflection, the method [`MethodBase.CheckArguments()`](https://github.com/dotnet/coreclr/blob/25878db0c11bfb8d52088c75ccfcc13e4c8383f2/src/System.Private.CoreLib/src/Sy

[2019-06-07 18:13] jonfortescue commented on #24996
@RussKeldorph Matt's oof today, but I believe that the conversion is being tracked here https://github.com/dotnet/core-eng/issues/5480. @ilyas1974 is likely the best person to confirm that.

[2019-06-07 18:20] jkoritzinsky commented on #21176
Closing as no-repro since I still can't reproduce this with the given steps.

[2019-06-07 18:20] #21176 closed

[2019-06-07 18:30] BruceForstall opened #25027 "Assertion failed 'verCurrentState.esStackDepth == 0 && impOpcodeIsCallOpcode(opcode)'"
CoreFX, TailcallStress=1, TieredCompilation=0,

System.Linq.Expressions.Tests

Windows and Linux x64.

[code]

[2019-06-07 18:31] BruceForstall commented on #25027
@dotnet/jit-contrib

[2019-06-07 19:13] sdmaclea opened #25030 "build-test.sh failing (MSB4062: The "Microsoft.CodeAnalysis.BuildTasks.Csc" task could not be loaded... Assembly with same name is already loaded)"
I updated to tip last night.

Ubuntu 16.04 (previously working)

[code]
failed.
[code]
failed.
435 errors building managed assemblies.
[code]
succeeded (I didn't need the managed test assemblies....

[2019-06-07 19:16] AndyAyersMS commented on #25030
Did your failures look like this, by any chance? If so I am seeing this too.
[code]

[2019-06-07 19:44] elinor-fung commented on #25030
@sdmaclea do you happen to know what your were synced to before updating to tip?

[2019-06-07 19:57] sdmaclea commented on #25030
This is the error I am seeing
[code]

It seems to match @AndyAyersMS error.

When trying to reproduce, it worked w/o error when running `./build-test.sh`, but reappeared after cleaning.

So perhaps (strangely) this works
[code]

For reference b51993933 is what I downloaded last night.
I do not have a reference for the last working version. I updated from 96e8c58d77

[2019-06-07 20:06] ilyas1974 commented on #24996
@jonfortescue is correct - as part of the deployment of the 10.14 systems, the systems are being set up to utilize python3. At this point, we are still rolling out the new systems. Once that is completed, we will go back and re-deploy the existing systems with python3.

[2019-06-07 20:32] janvorli commented on #24050
After getting access to the lab machine (NVidia Jetson TX1), I was quickly able to find out the culprit. The issue is specific to ARM devices that can dynamically bring cores on and off line based on the system load and where the Linux distro is configured to allow that.
What happens is that the results returned by the pthread_getaffinity_np and sched_getaffinity change dynamically corresponding t

[2019-06-07 20:59] BruceForstall commented on #23520
@alpencolt This is a great start; thanks for doing this. Keep us up to date with what you find. It looks like you have many possibilities for investigation. I haven't used them in a while, but maybe valgrind/callgrind can help with individual test investigations.

[2019-06-07 21:23] janvorli commented on #25016
I am looking into it

[2019-06-07 21:46] BruceForstall commented on #25020
@jashook Fast tailcall is already disabled for Linux/x86.

@kbaladurin Even if you disable (all) tailcalls, don't you still have a varargs call that needs to get morphed? Which would cause the same NYI? Why doesn't the NYI get hit with your change?

[2019-06-07 21:51] janvorli commented on #25016
Below is the call stack when the second (incorrect, /home/janvorli/test/andyhanson/bin/Debug/netcoreapp3.0/linux-x64/libcoreclr.so") libcoreclr.so is loaded.
Interop pulls in this new copy of the library. @AaronRobinsonMSFT / @vitek-karas, it seems we may need to special case the libcoreclr when interop uses it and always return the one that's loaded and running.
[code]

[2019-06-07 21:52] jashook commented on #25020
@BruceForstall this from the repro that is above, this looks like an explicit tail call. More interestingly it looks like morphTailCall is morphing the call to varargs. See: https://github.com/dotnet/coreclr/blob/master/src/jit/morph.cpp#L7501.

[2019-06-07 21:54] jashook commented on #25020
I am checking to see if this is reproducible on x64, and if not why x86 only catches this. It seems like a corner case, but it could affect arm64 as well.

[2019-06-07 22:16] jashook commented on #25020
This does not affect x64 because we do not support explicit tail calls on x64 unix. That being said, it has surfaced problems in fgMorphTailCall. In the future we will need to:

1. Understand why we are treating explicit tail calls as vararg methods
2. Permitted we do not break backcompat, hopefully stop doing number 1.

I have a change which should fix this for unix x86, seeing that it has been a

[2019-06-07 22:37] CarolEidt commented on #23520
Some of the string manipulation methods are using vector intrinsics on x64. We don't have any support on Arm32 for vector intrinsics (though there are some preliminary intrinsics supported for arm64, I don't think they are yet being used in the frameworks).

[2019-06-08 01:04] albahari commented on #25002
But there's a big difference between making a request to a library author that they use Assembly.BaseDirectory instead of Assembly.Location, versus getting them to agree on, spec up, and implement a new API to allow configuration or other dependencies to be passed in from outside.

[2019-06-08 01:25] AaronRobinsonMSFT commented on #25016
This is no good. We definitely need to address this in 3.0.

[2019-06-08 01:37] jkotas commented on #25020
varargs are not supported on Unix.

It is because of `JIT_TailCall` helper is vararg method.

One way to fix this is to implement the portable slow tailcall design described in https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/tailcalls-with-helpers.md

[2019-06-08 01:47] AaronRobinsonMSFT commented on #25016
@janvorli or @jkotas Is there any reason calls using the following can't be converted to QCalls? I believe the issue here is going to require us to special case `libcoreclr.*` so we pass `RTLD_GLOBAL` instead of `RTLD_LOCAL`.

https://github.com/dotnet/coreclr/blob/5d94217eaf0b066c9208480942121dc601d17e51/src/System.Private.CoreLib/src/Interop/Unix/Interop.Libraries.cs#L5-L15

[2019-06-08 02:02] AaronRobinsonMSFT commented on #25016
Apparently `RTLD_GLOBAL` or `RTLD_LOCAL` is implementation defined according to http://pubs.opengroup.org/onlinepubs/9699919799/. I believe the call we are making is at:

https://github.com/dotnet/coreclr/blob/5d94217eaf0b066c9208480942121dc601d17e51/src/pal/src/loader/module.cpp#L1431

which means we are going to need to specify something so we do the "right" thing.

[2019-06-08 02:09] jkotas commented on #25016
Yes, I think these can be QCalls:
- change the above to QCall (e.g. `string Kernel32 = "QCall"; `
- adding these to https://github.com/dotnet/coreclr/blob/master/src/vm/ecalllist.h
- delete these from https://github.com/dotnet/coreclr/blob/master/src/dlls/mscoree/mscorwks_unixexports.src#L23

I do not think we need to load CoreCLR with `RTLD_GLOBAL` to make any of this work. (`RTLD_GLOBAL` i has u

[2019-06-08 02:46] jkotas commented on #25026
It is not just because of they may be changed by `CheckValue()`. It is also protect against cases where the value is change by the caller (e.g. on a different thread) that would violate type safety invariant in the code that follows.

[2019-06-08 05:20] jkotas commented on #25010
Could you please share the full stacktrace of the error? This is likely issue for https://github.com/aspnet/aspnetcore

[2019-06-08 06:14] damageboy opened #25039 "Specific AVX2 intrinsic inlining generates faulty x64 code"
I have a short sequence of code that seems to generate faulty x64 code (and crashes the program).

I'm using the latest SDK bits as of this time as suggested by @tannergooding, `dotnet --info` says:
[code]

I have a [complete-repro project](https://github.com/damageboy/bugbugbug-coreclr-25039) setup for this issue.

The faulty code (as seen from lldb disassmbly is):

[code]

In this fragment, `esi

[2019-06-08 08:08] AndreasTruetschel opened #25041 "System.InvalidProgramException when stackalloc'ing a span of ints"
I run into a `System.InvalidProgramException` when I try to stackalloc a `Span<int>` via
[code]
This occurs on Windows 10 (x64) with .Net Core 3.0 preview 5.

Repro:
[TaxiFarePrediction.zip](https://github.com/dotnet/coreclr/files/3268322/TaxiFarePrediction.zip)

Memory-dump:
[TaxiFarePrediction_MemDump.zip](https://github.com/dotnet/coreclr/files/3268323/TaxiFarePrediction.zip)

[2019-06-08 08:17] mikedn commented on #25039
Checked JIT asserts:
[code]

[2019-06-08 08:25] tannergooding commented on #25039
CC. @CarolEidt

[2019-06-08 08:44] mikedn commented on #25039
Same old problem - duplicate logic between lowering/LSRA/codegen. Lowering is deciding when something can be contained and then LSRA and codegen attempt to replicate its decision instead of just obeying what was already decided. And getting it wrong in the process.

In this case lowering has special logic for `ConvertToVector256Int32` containment and LSRA doesn't have that and fails to call `Build

[2019-06-08 09:17] svick commented on #25041
This looks like a duplicate of https://github.com/dotnet/roslyn/issues/35764, which has already been fixed and the fix should be there in a future preview.

[2019-06-08 10:02] adamsitnik commented on #25030
Same here, I tried to run in on ARM64 and got following error:

[code]

The folder with logs is empty because the code fails when it tries to create the logger.

[2019-06-08 12:05] kbaladurin commented on #25020
@BruceForstall varargs methods cause `System.InvalidProgramException` on Unix platform:
[code]

[2019-06-08 12:16] Yves57 commented on #25026
Got it!
But the external array modification is probably a very uncommon case. The ASP.NET Core `ActivatorUtilities.CreateInstance()` is typically a case where this protection seems not useful. Maybe create a new flag `BindingFlags.ThreadSafeParameters` set by the caller?

[2019-06-08 13:53] jkotas commented on #25026
I do not think a new flag is necessary. It should be possible to optimize this for everybody without compromising type safety and security characteristics provided by the current implementation.

[2019-06-08 14:15] jkotas commented on #25041
Duplicate of dotnet/roslyn#35764

[2019-06-08 14:15] #25041 closed

[2019-06-08 16:17] Yves57 commented on #25026
I hope this optimization will be developped! I want to see what kind of trick can avoid this allocation! 😃

[2019-06-09 14:35] benaadams commented on #25026
Could change [`RuntimeMethodHandle::InvokeMethod`](https://github.com/dotnet/coreclr/blob/563d5c4570575b25bd86cb14be2bad5f23238f95/src/vm/reflectioninvocation.cpp#L966-L969) to take a Span rather than a regular array, then copy to a stack array instead; though not sure there are any examples of passing a Span the the vm

[2019-06-09 22:22] sandreenko commented on #24999
The most weekend stress jobs failed on this test with stack overflow (https://dev.azure.com/dnceng/public/_build/results?buildId=217721&view=ms.vss-test-web.build-test-results-tab&runId=5348080&paneView=debug), failures in MethodImplOptionsTests and superpmicollect are also similar.

[2019-06-10 00:51] noahfalk opened #25046 "EventPipe: Stacks for sampling events are being discarded"
Running the stack sampling provider produces events that have no stacks. This appears to be a recent regression between Preview5 and Preview6 and I tracked it to this line:

https://github.com/dotnet/coreclr/blob/master/src/vm/eventpipesession.cpp#L311

The line should read:

m_pBufferManager->WriteEvent(pThread, *this, event, payload, pActivityId, pRelatedActivityId, **pEventThread, pStack**)

cc

[2019-06-10 01:41] VincentBu opened #25048 "Assert failure: _safePointDecoder.IsSafePoint(curOffs)"
**Job:**
https://mc.dot.net/#/user/coreclr-outerloop-gcstress-extra/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190608.1/workItem/baseservices.threading/analysis/xunit/baseservices_threading._interlocked_compareexchange_compareexchangeobject_compareexchangeobject_~2F_interlocked_compareexchange_compareexchangeobject_compareexchangeobject_sh

**Failed tests**
baseserv

[2019-06-10 01:45] VincentBu opened #25049 "Assert failure: Consistency check failed: AV in clr at this callstack"
**Job:**
https://mc.dot.net/#/user/coreclr-outerloop-gcstress-extra/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190608.1/workItem/JIT/analysis/xunit/JIT_Performance._CodeQuality_BenchmarksGame_regex_redux_regex_redux_5_regex_redux_5_~2F_CodeQuality_BenchmarksGame_regex_redux_regex_redux_5_regex_redux_5_cmd

**Failed tests:**
JIT_Performance._CodeQuality_BenchmarksGam

[2019-06-10 01:50] VincentBu commented on #25048
Also seen in:
https://mc.dot.net/#/user/coreclr-outerloop-gcstress-extra/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190608.1/workItem/JIT.Directed/analysis/xunit/JIT_Directed._Misc_function_pointer_MutualThdRecur_fptr_MutualThdRecur_fptr_~2F_Misc_function_pointer_MutualThdRecur_fptr_MutualThdRecur_fptr_sh

[2019-06-10 01:59] VincentBu commented on #24263
The below test failed with same assertion:
https://mc.dot.net/#/user/coreclr-outerloop-gcstress-extra/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190608.1/workItem/JIT.Regression/analysis/xunit/JIT_Regression._JitBlue_GitHub_23199_GitHub_23199_GitHub_23199_~2F_JitBlue_GitHub_23199_GitHub_23199_GitHub_23199_sh

[2019-06-10 02:12] VincentBu commented on #24409
Test failed due to this assertion:
https://mc.dot.net/#/user/coreclr-outerloop-gcstress0x3-gcstress0xc/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190609.1/workItem/Interop/analysis/xunit/Interop_ICustomMarshaler._Primitives_ICustomMaraler_ICustomMaraler_~2F_Primitives_ICustomMarshaler_ICustomMarshaler_sh

[2019-06-10 02:30] VincentBu commented on #23992
Test also failed in:
https://mc.dot.net/#/user/coreclr-outerloop-jitstress/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190608.1/workItem/baseservices.threading/wilogs

[2019-06-10 02:32] VincentBu commented on #24633
Also seen in:
https://mc.dot.net/#/user/coreclr-outerloop-jitstress/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190608.1/workItem/JIT/analysis/xunit/JIT_superpmi._superpmicollect_superpmicollect_~2F_superpmicollect_superpmicollect_sh

[2019-06-10 02:40] VincentBu commented on #24999
Exceptions_ForeignThread._ForeignThreadExceptions_ForeignThreadExceptions_._ForeignThreadExceptions_ForeignThreadExceptions_sh failed again in:
https://mc.dot.net/#/user/coreclr-outerloop-jitstress/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190608.1/workItem/PayloadGroup0/analysis/xunit/Exceptions_ForeignThread._ForeignThreadExceptions_ForeignThreadExceptions_~2F_Fo

[2019-06-10 04:35] VincentBu opened #25050 "Assert failure: 'sz == _idCodeSize'"
**Job:**
https://mc.dot.net/#/user/coreclr-outerloop-jitstress2-jitstressregs/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190609.1/workItem/JIT.Regression.CLR-x86-JIT.V1-M09-M11/analysis/xunit/JIT_Regression._CLR_x86_JIT_V1_M09_5_PDC_b25463_b25463_b25463_~2F_CLR_x86_JIT_V1_M09_5_PDC_b25463_b25463_b25463_cmd

**Failed tests:**
JIT_Regression._CLR_x86_JIT_V1_M09_5_PDC_

[2019-06-10 06:09] AriNuer commented on #20215
Same test `System.Threading.Tests.InterlockedTests/MemoryBarrierProcessWide ` has failed.

Message :
[code]
Stack Trace :
[code]

Details:
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190609.21/workItem/System.Threading.Tests/analysis/xunit/System.Threading.Tests.InterlockedTests~2FMemoryBarrierProcessWide

[2019-06-10 08:50] MichalStrehovsky commented on #23837
I'm assigning milestones to things in area-TypeSystem in preparation for the 3.0 release. Since this behaves the same on desktop CLR, I'm placing this to the Future milestone.

[2019-06-10 09:47] GSPP commented on #24064
A few thoughts:

1. It might be worth taking a look at Java. Java has TC for a very long time. It is default enabled. It is well known in the Java space that benchmarking needs to take TC into account. We can learn from their experience how the community handles the existence of TC.

2. Benchmarking is complicated already (need Release compile, no debugger attached, warmup, sufficient duration, et

[2019-06-10 12:41] ateregulov opened #25052 "GetManifestResourceStream giving Null Reference exception"
using (var resourceStream = GetType().Assembly.GetManifestResourceStream("MyProject.MyFile.pfx"))
            using (var ms = new MemoryStream())
            {
                resourceStream.Position = 0;
                resourceStream.CopyTo(ms);
                ...
            }

This code work on my Ubuntu 18 server with dotnet version 2.2.103

But I have error on dotnet version 2.2.300:

Unhan

[2019-06-10 14:40] BruceForstall commented on #25049
@sergiy-k

[2019-06-10 14:43] BruceForstall commented on #25049
@echesakovMSFT @RussKeldorph @jashook It looks like the VM has no info about where the PDB files are, so can't construct a good callstack. Do the PDBs get copied to the Helix machines? If they're not in the same directory as the DLLs, we need to set `_NT_SYMBOL_PATH` to include them. (Not sure about non-Windows.)

[2019-06-10 14:49] BruceForstall commented on #25050
Looks like Windows/x64, JitStress=2, JitStressRegs=1/4/8

[2019-06-10 14:49] BruceForstall commented on #25050
@dotnet/jit-contrib

[2019-06-10 15:27] MichalStrehovsky commented on #23722
The `unmanaged` constraint is a C# language semantic. It's not expected that reflection (or other languages) will enforce this.

It's different from e.g. the `new()` constraint that is part of the ECMA-335 specification.

Let's close this.

[2019-06-10 15:27] #23722 closed

[2019-06-10 15:40] RussKeldorph commented on #25049
@mikem8361 @janvorli Any symbol recommendations?

[2019-06-10 15:55] MattGal commented on #20457
@RussKeldorph yes; we've updated Centos quite a bit since then and Jenkins is no longer in use.

[2019-06-10 16:09] AndyAyersMS commented on #24975
@RussKeldorph do we have recommended tech for securely getting large files like dumps?

[2019-06-10 16:11] martincostello commented on #24975
I’ve provided them to the AspNetCore team before via a link shared by them to a SharePoint folder.

[2019-06-10 16:14] AndyAyersMS commented on #24976
@rvhelden hopefully this explains things -- the jit must preserve exceptional behavior when optimizing, as that behavior is part of the spec.

[2019-06-10 17:03] RussKeldorph commented on #24975
@janvorli How have you done this?

[2019-06-10 17:17] AaronRobinsonMSFT commented on #25016
I don't have enough free cycles to handle this until next week or after that. Perhaps @jkoritzinsky or @janvorli can take this on? If not, I will try and fit it in next week.

[2019-06-10 17:20] MattGal commented on #24999
@RussKeldorph sorry for not getting to this last week, I've filed https://github.com/dotnet/core-eng/issues/6668 to track updating this.

[2019-06-10 17:20] jkoritzinsky commented on #25016
I'll take this on.

[2019-06-10 17:22] AndyAyersMS commented on #25027
I'll investigate

[2019-06-10 18:03] janvorli commented on #24999
I've debugged the problem and I believe the issue is due to the very small default secondary stack size (80kB) in MUSL based distros. We compensate for that for thread that we create in PAL by overriding the default size to 1.5MB. But this test creates a native thread on its own and then calls managed callback on it. So that thread gets only those 80k. The code of the callback needs more and exhau

[2019-06-10 18:14] AndyAyersMS commented on #25027
@BruceForstall was this a debug or release corefx?

[2019-06-10 18:21] janvorli commented on #20322
I still see a value in these tests as a mean to verify that we generate correct stack traces. I would try to stabilize this test by removing its scenarios that are unstable or making them resilient to the unstability. There are 8 scenarios that it tests and from what @sandreenko said, it looks like only the last one is failing.

[2019-06-10 18:31] BruceForstall commented on #25027
Would have been release corefx with Checked coreclr. The corefx came from the test assets they publish for us. https://github.com/dotnet/coreclr/pull/24962 should have the same test runs, but this test has been disabled there.

[2019-06-10 18:36] sandreenko commented on #20322
That is correct. However, it doesn't mean that in the future other cases won't fail (for example when we add tail call support for more targets),

You could mark more methods (or their proxy callers) that you expect on the stack with `NoOptimization` attribute, (we need both NoInlining and NoTailCalling, that doesn't exist in MethodImplOptions  enum), that will fix the issue.

[2019-06-10 18:48] AndyAyersMS commented on #20322
`NoInlining` implies no tail calling (either as callee or caller) -- we assume that `NoInlining` means you want to see the method in its own unique stack frame.

That's why it can be tricky to come up with repro cases for tail call issues -- you have to be careful about using `NoInlining`.

[2019-06-10 18:49] AndyAyersMS commented on #25027
Thanks, I can repro this now. Needed checked runtime and corelib, not just checked jit...
[code]

[2019-06-10 19:00] MichalStrehovsky opened #25057 "Shouldn't allow randomly placing ByRef-like fields"
We should probably prevent loading types that attempt to place byref-like fields at addresses that are not divisible by pointer size.

[code]

This will print 1234/0 instead of 1234/42 (that gets printed if you remove the `StructLayout(Explicit)`).

Found while messing around with #25056.

[2019-06-10 19:12] sandreenko commented on #20322
Thanks, Andy, that is useful to know.

[2019-06-10 19:38] crummel opened #25058 "Source-build patches removal for CoreCLR"
Source-build has some patches that we are currently applying to your repo.  This issue tracks removing the patches.  These patches can be found at https://github.com/dotnet/source-build/tree/release/3.0/patches/coreclr.

Patches that have the responsibility "Repo" and the Disposition "Incorporate" are patches that we believe are valid source-build fixes that should be moved into your repo.  Please

[2019-06-10 19:46] AndyAyersMS commented on #25027
Think this is test that fails:

https://github.com/dotnet/corefx/blob/8135319caa7e457ed61053ca1418313b88057b51/src/System.Linq.Expressions/tests/MemberInit/ListBindTests.cs#L175-L193

Debug info from jit:
[code]
It looks like this test is intentionally creating bad IL, and this trips up tail call stress.

I think tail call stress needs to anticipate this and avoid marking the call as a tail call.

[2019-06-10 20:11] mthalman commented on #24568
@RussKeldorph - It doesn't look like a build has been done for 2.2 (https://mc.dot.net/#/netcore/22/latest).  Have these changes made it there?  When would a build be expected?

[2019-06-10 20:32] AndyAyersMS commented on #25027
`verCheckTailCallConstraint` has the right logic but doesn't use it to indicate the tail call in invalid. Odd.

[2019-06-10 20:52] noahfalk opened #25060 "PR 24853 feedback followup"
@jorive added some additional feedback to the PR just prior to being ready for checkin. I went ahead and commited, but filed this issue to track addressing those issues.

[2019-06-10 21:13] #24888 closed

[2019-06-10 21:51] danmosemsft commented on #19596
@tannergooding I moved this to future.

[2019-06-10 22:11] BruceForstall commented on #23520
There's certainly an open question here about how we should prioritize adding SIMD and hardware intrinsics support to arm32.

[2019-06-10 22:14] danmosemsft commented on #23315
@tannergooding thoughts? Is this needed for 3.0?

[2019-06-10 22:15] danmosemsft commented on #21354
@tannergooding I'm moving to Future as it is not clear this must be fixed for 3.0. If I'm wrong let's move it back and find an owner to fix by July 1st.

[2019-06-10 22:15] danmosemsft commented on #21932
Moving to Future as (although work continues) there is nothing here that must happen for the 3.0 product

[2019-06-10 22:16] danmosemsft commented on #22046
Ping @tannergooding

[2019-06-10 22:16] danmosemsft commented on #6600
As this is not a regression, it's not clear it is needed for 3.0, moving to Future.

@steveharter can you help clarify what remains here?

[2019-06-10 22:17] danmosemsft commented on #22844
@richlander is there activity here that is likely to result in this being closed for July 1st? That's the cutoff for zero bugs for 3.0. If not we should move to Future.

[2019-06-10 22:23] danmosemsft commented on #20215
When fixed please un-disable test in linked https://github.com/dotnet/corefx/issues/38400

[2019-06-10 22:34] tannergooding commented on #22046
Nothing more for us to do here, as far as I am aware.

The compiler will need to update its baselines for the remaining issues I called out above.

[2019-06-10 22:34] #22046 closed

[2019-06-10 22:54] jkotas commented on #17900
A lot of these are done already. If there is anything left worth doing, it should be tracked by dedicated issues / PRs.

[2019-06-10 22:54] #17900 closed

[2019-06-10 22:55] jkotas commented on #21932
A lot of these are done already. If there is anything left worth doing, it should be tracked by dedicated issues / PRs.

[2019-06-10 22:55] #21932 closed

[2019-06-10 22:56] jkotas commented on #22844
Nothing left to do.

[2019-06-10 22:56] #22844 closed

[2019-06-10 22:58] danmosemsft commented on #21932
Well hooray for everyone that contributed to all this work. We are now at 82% shared (Jan's original guesstimate was that 75% was possible, I think). 190KLOC shared, 42KLOC not.

[2019-06-10 23:09] cartermp commented on #23241
Adding @dsyme to this thread.

[2019-06-10 23:12] jashook commented on #25058
Partially address with https://github.com/dotnet/coreclr/pull/24929. Note we dot not use init-tools anymore. @crummel What is the priority for windows? Adding the hook seemed not interesting in the PR.

[2019-06-10 23:29] tannergooding commented on #23315
I would agree with @pentp. The benchmark doesn't appear to be representative of what would be likely for real world scenarios (the range on the inputs/interest rates is too large) and I would like to see it updated and for new numbers to be posted.

I don't think there is anything particular pressing here for 3.0. Although it would be good to validate we haven't egregiously regressed the perf for

[2019-06-10 23:32] jashook opened #25063 "[Release 2.1] Official build testing failures"
1. Failure in build-test.cmd

[code]

[2019-06-10 23:32] jashook commented on #25063
/cc @RussKeldorph

[2019-06-10 23:40] RussKeldorph commented on #24568
@mthalman The changes are in 2.2 #24864.  2.2 builds are triggered only when manually requested.  I believe 2.x testing is offline for other reasons though.  @jashook is investigating #25063.

[2019-06-11 00:19] jcapellman commented on #18013
@jkoritzinsky
Thanks for the update - I guess I will hold off the .NET Core 3 porting effort.

[2019-06-11 00:56] noahfalk commented on #19688
The core support to capture the id, serialize it in a nettrace file, and then parse it in TraceEvent has been implemented (#24853 in coreclr, https://github.com/microsoft/perfview/pull/948 in perfview). There is no higher level support in the TraceEvent API or Perfview to actually expose that 64 bit ID so for now it gets to the profiler and then immediately gets truncated back to 32 bits.

@josale

[2019-06-11 00:58] noahfalk commented on #23414
This has been implemented in #24853 using sequence numbers and is exposed via the DroppedEvents property in EventPipeEventSource.

[2019-06-11 00:58] #23414 closed

[2019-06-11 00:58] noahfalk commented on #23414
TraceEvent part is in https://github.com/microsoft/perfview/pull/948

[2019-06-11 01:14] VincentBu commented on #24050
Also seen in:
https://mc.dot.net/#/user/coreclr-ci/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190610.14/workItem/Interop/analysis/xunit/Interop_PInvoke._SizeParamIndex_ReversePInvoke_PassingByRef_PassingByRefTest_PassingByRefTest_~2F_SizeParamIndex_ReversePInvoke_PassingByRef_PassingByRefTest_PassingByRefTest_sh

[2019-06-11 01:18] VincentBu commented on #24999
Also seen in:
https://mc.dot.net/#/user/coreclr-ci/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190610.14/workItem/PayloadGroup0/analysis/xunit/Exceptions_ForeignThread._ForeignThreadExceptions_ForeignThreadExceptions_~2F_ForeignThreadExceptions_ForeignThreadExceptions_sh

[2019-06-11 01:21] elinor-fung commented on #25030
@sdmaclea @AndyAyersMS could you see if the same errors still occur if you build the product with `/nodeReuse:false`:
[code]

@adamsitnik that looks to be a different issue.

[2019-06-11 01:35] VincentBu commented on #25048
some tests failed  due to the assertion:
[baseservices_threading._interlocked_compareexchange_CompareExchangeLong_1_CompareExchangeLong_1_._interlocked_compareexchange_CompareExchangeLong_1_CompareExchangeLong_1_sh](https://mc.dot.net/#/user/coreclr-outerloop-gcstress-extra/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190609.1/workItem/baseservices.threading/analysis/

[2019-06-11 01:53] noahfalk commented on #24188
In the upgrade to the NetTrace format I identified one issue, emitting BeginObject/EndObject tag pairs causes the FastSerialization library to add that object to an intern table that grows without bound. Technically NetTrace doesn't need that data interned so it could have been solved at the reader end without a format change, but it seemed easier to use BeginPrivateObject in the format and not ad

[2019-06-11 01:55] VincentBu opened #25067 "[Test failed] ilasm_System._Runtime_CompilerServices_MethodImplOptionsTests_MethodImplOptionsTests_._Runtime_CompilerServices_MethodImplOptionsTests_MethodImplOptionsTests_sh"
**Job:**
https://mc.dot.net/#/user/coreclr-outerloop-jitstress/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190609.1/workItem/PayloadGroup0/analysis/xunit/ilasm_System._Runtime_CompilerServices_MethodImplOptionsTests_MethodImplOptionsTests_~2F_Runtime_CompilerServices_MethodImplOptionsTests_MethodImplOptionsTests_sh

**Failed tests:**
ilasm_System._Runtime_CompilerSer

[2019-06-11 01:55] noahfalk commented on #24188
If needed this issue could be moved from runtime -> Diagnostics repo. There is no known work remaining in the runtime.

[2019-06-11 01:58] VincentBu opened #25068 "[Test failed] tracing_eventcounter._pollingcounter_pollingcounter_._pollingcounter_pollingcounter_sh"
**Job:**
https://mc.dot.net/#/user/coreclr-outerloop-jitstress/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190609.1/workItem/PayloadGroup0/analysis/xunit/tracing_eventcounter._pollingcounter_pollingcounter_~2F_pollingcounter_pollingcounter_sh

**Failed tests:**
tracing_eventcounter._pollingcounter_pollingcounter_._pollingcounter_pollingcounter_sh

**Log:**
[code]

[2019-06-11 02:24] noahfalk commented on #20751
I have slightly retargeted this issue. As written it refers to the size of data when buffered in memory, but I assume the primary concern was the size of the file format on disk or serialized to an IPC/network stream.
PR #24853 in coreclr and https://github.com/microsoft/perfview/pull/948 in Perfview added the new NetTrace format which does several things to improve file sizes:
a) Stack interning

[2019-06-11 02:24] #20751 closed

[2019-06-11 03:03] noahfalk commented on #20555
Pr #24853 attempts to mitigate this issue by making each event smaller rather than trying to do anything fancy and eliminate events. By using stack interning + header compression in the new NetTrace format, the size of a stack sample event should be around ~10 bytes (when the stack has been previously observed) vs  75-875 bytes per stack sample emitted in the NetPerf format. This means at modest n

[2019-06-11 03:03] #20555 closed

[2019-06-11 03:47] cshung opened #25069 "Skip ForceGC if it is not necessary"
Suppose I have a long-running application (e.g. ASP.NET Core), after taking a heap dump using the ForceGC keyword, the next session should not trigger a ForceGC behavior.

**Repro**

1. Create a .NET Core 3 console application that blocks on `Console.ReadLine()`.
2. Launch it under a native debugger
3. Set a breakpoint on `ETW::GCLog::ForceGC`
4. Launch `dotnet-trace` with the ForceGC keyword enab

[2019-06-11 04:23] noahfalk commented on #21827
Complete in #24853 (coreclr) and https://github.com/microsoft/perfview/pull/948 in TraceEvent. The trace event parser isn't using this data for any purpose right now, but it is in the file.

[2019-06-11 04:24] #21827 closed

[2019-06-11 04:26] noahfalk commented on #24852
Everything except the ProcessorNumber has been implemented in #24853 (coreclr) and corresponding https://github.com/microsoft/perfview/pull/948 in TraceEvent.

[2019-06-11 04:32] noahfalk commented on #25046
I tested the fix in my change (#24853), but looking at the code deltas I think @jorive's change fixed this independently in his earlier PR #24896.

[2019-06-11 04:32] #25046 closed

[2019-06-11 04:33] #25016 closed

[2019-06-11 04:44] mjsabby commented on #20751
These are substantial improvements. I had a question about stack interning. Is the stack interning per session?

[2019-06-11 05:37] kkokosa commented on #24963
@jkotas thanks. In my humble opinion, GC API support must be on par with the current GC, as otherwise, it is pointless to have GC API at all. So, I would like to prepare an appropriate PR if you don't mind.

[2019-06-11 05:50] BruceForstall opened #25070 "Assert failure: (FARPROC) (TADDR)m_pvHJRetAddr != NULL"
Seen on Ubuntu.1804 x64 with release corefx tests and Checked coreclr and:
[code]

in Microsoft.VisualBasic.Core.Tests

https://mc.dot.net/#/user/coreclr-corefx-jitstress/pr~2Fdotnet~2Fcoreclr~2Frefs~2Fpull~2F24962~2Fmerge/test~2Ffunctional~2Fcorefx~2F/20190610.2/workItem/Microsoft.VisualBasic.Core.Tests/wilogs

(corefx testing is not yet enabled in master; it is here: https://github.com/dotnet/co

[2019-06-11 05:50] BruceForstall commented on #25070
@janvorli

[2019-06-11 05:59] davidfowl opened #25071 "Avoid using Timer for event counters"
If the application is experiencing thread pool starvation it would be ideal if event counters didn't suffer as a result. Maybe counters should use a dedicated thread to push counter updates on the specified interval.

cc @noahfalk @sywhang

[2019-06-11 06:27] #23222 closed

[2019-06-11 07:02] tmds commented on #17929
I'm closing this because this is not likely to change.

Given this issue, I'm a fan of the System.CommandLine `UseExceptionHandler` which provides a way of converting Exceptions to non-zero exit codes: https://github.com/dotnet/command-line-api/blob/a58aa11718049db7a9e49a65cd52db4bfb42e38f/src/System.CommandLine/Invocation/InvocationExtensions.cs#L134.

[2019-06-11 07:02] #17929 closed

[2019-06-11 07:10] tmds commented on #8721
Closing due to lack of interest.

[2019-06-11 07:10] #8721 closed

[2019-06-11 07:11] adamsitnik opened #25072 "build-test.sh failing on ARM "Cannot create an instance of the logger.""
Steps to reproduce:

[code]

[code]

[code]

[code]

the MSBuild logs don't exist because the logger could not be created.

[2019-06-11 07:11] adamsitnik commented on #25030
@elinor-fung thanks! I have created a new issue then: https://github.com/dotnet/coreclr/issues/25072

[2019-06-11 07:15] tmds commented on #14327
EventPipe provides a mechanism for enabling/disabling tracing.

[2019-06-11 07:15] #14327 closed

[2019-06-11 07:17] tmds commented on #16071
@Maoni0 feel free to close this.

[2019-06-11 07:43] Marusyk commented on #24985
Is it still open?

[2019-06-11 08:52] janvorli commented on #25070
@BruceForstall can you share the core dump?

[2019-06-11 09:00] noahfalk commented on #20751
Separate sessions get separate interning tables. You would not be able to reliably resolve an ID from session 1's stream against the interning table serialized in session 2's stream. However the intern table actually has a lifetime that could be much smaller than a session. There are sequence points emitted into the stream at various intervals and crossing a sequence point invalidates all stack id

[2019-06-11 09:02] noahfalk commented on #20751
Btw, if its useful here is the documentation describing the format: https://github.com/microsoft/perfview/pull/948/files#diff-24c420b1dee38d3a5073679d5cb191d2

[2019-06-11 09:15] noahfalk commented on #25071
Agreed. (and I suspect I've seen this happen in practice during some of my recent experiments, but I hadn't yet investigated to confirm)

[2019-06-11 09:16] noahfalk commented on #25071
We also switched the underlying IPC event serialization for all EventPipe events from timer to dedicated thread for similar reasons.

[2019-06-11 09:31] djluck commented on #21839
Hey @josalem, I've tried reproducing this again and the negative output is fixed in v3.0.0-preview5 but still present in v2.2.0 + v2.2.5. Details about my setup:
- Windows 10
- Intel i7-6700k CPU (I wonder if endiness is an issue?)

[2019-06-11 10:56] GeorgeS2019 commented on #18013
@jkoritzinsky   please provide if there is a plan to support mixed-mode assemblies in both Windows and Linux environment under .NET Core 3. Which **issues** we can follow the progress

[2019-06-11 10:58] dsyme commented on #23241
A primitive or intrinsic to aid efficient compilation of pattern matching would be very useful and clearly is part of an improved overall design for .NET in the 21st century. I thought a lot about proposing such an intrinsic around the time 2001-03 as we worked through the foundations necessary for F# (generics etc.) but didn't iterate to a concrete design.

1. It would be great if the switch were

[2019-06-11 13:13] weltkante commented on #18013
@GeorgeS2019 As far as I know there are no plans for mixed mode assemblies on Linux, there exists no working language equivalent to C++/CLI on Linux so there is not much point in providing the mixed mode capabilities. The current efforts are purely for getting certain Windows interop scenarios running when porting from Desktop Framework to .NET Core. I think you are supposed to use P/Invoke & co i

[2019-06-11 14:10] SwooshyCueb commented on #18013
@weltkante C++/CLI compiled on Windows for .NET works on Mono just fine, even on Linux, provided you use `/clr:safe`: https://www.mono-project.com/docs/about-mono/languages/cplusplus/

Not supporting this on Linux seems like a step backwards to me.

[2019-06-11 14:11] BruceForstall commented on #25070
@janvorli The core dump was taken on a Helix lab machine, so I don't have it (and they haven't updated Helix to save these yet, I believe).

[2019-06-11 14:14] janvorli commented on #25070
@BruceForstall ah, I see. Is there a way to run the tests locally (or do we plan to add the ability back to runtests.cmd?)

[2019-06-11 14:14] weltkante commented on #18013
@SwooshyCueb were talking about mixed mode assemblies, if you compile C++/CLI down to IL not containing native code then its indeed a different story.

[2019-06-11 14:17] BruceForstall commented on #25067
Looks like this test failed in a number of different configurations:
[code]

[2019-06-11 14:18] BruceForstall commented on #25068
Failed in:
[code]

[2019-06-11 14:21] stephentoub opened #25080 "Internal CLR Errors sporadically in System.Runtime.Tests"
When running System.Runtime tests in corefx with master and explicitly specifying a large number for xunit's maxthreads:
[code]
I end up encountering multiple "Internal CLR Error" exceptions sporadically, e.g.
[code]

[2019-06-11 14:24] stephentoub commented on #25080
Another example:
[code]

[2019-06-11 14:28] SwooshyCueb commented on #659
@am11 There is an [ongoing effort](https://www.phoronix.com/scan.php?page=news_item&px=ESR-Threadripper-GCC-Git) to convert GCC's entire SVN repo to git, so I imagine it will show up eventually.

[2019-06-11 14:34] jkotas commented on #25057
If somebody does this, it will lead to silent intermittent data corruptions that are always incredibly painful to debug. How hard is this to fix? I think it would be worth fixing for 3.0.

[2019-06-11 14:34] BruceForstall commented on #25050
Also seen in corefx tests, System.Data.Common.Tests, Windows/x64, JitStressRegs=4.

https://mc.dot.net/#/user/coreclr-corefx-jitstressregs/pr~2Fdotnet~2Fcoreclr~2Frefs~2Fpull~2F24962~2Fmerge/test~2Ffunctional~2Fcorefx~2F/20190610.2/workItem/System.Data.Common.Tests/wilogs

[2019-06-11 15:01] stephentoub opened #25081 "Assert in Number.FormatDouble"
I ran the System.Runtime.Tests (`dotnet msbuild /t:rebuildandtest /p:XunitOptions="-maxthreads 512"`) using a locally built checked coreclr from master, and hit the following assert:
[code]
cc: @tannergooding

[2019-06-11 15:03] stephentoub commented on #25081
Ran it again, this time with PDBs:
[code]

[2019-06-11 15:09] BruceForstall commented on #25070
It is certainly possible to run the tests locally. It's a little hard to describe. Basically: (1) build or obtain a prebuilt copy of the corefx tests (or the one test assembly in question), (2) overlay a Checked coreclr, (3) run.

You can do that via the "old" method of the dotnet/coreclr tests/scripts/run-corefx-tests.py script, which does all this (by cloning and building corefx; run the script

[2019-06-11 15:41] tannergooding commented on #25081
Are you using the latest sources? The line number appears to be off by 2 (https://source.dot.net/#System.Private.CoreLib/shared/System/Number.Formatting.cs,562).

I'll see if I can reproduce locally.

[2019-06-11 15:41] AaronRobinsonMSFT commented on #18013
@GeorgeS2019 The support represented by this issue is related to Windows only. There is presently no plan to support mixed mode on any non-Windows platform.

@SwooshyCueb Definitely worth mentioning and requesting that clarity. The various flags that can be provided with the `/clr` flag make talking about this scenario require an increased level of precision in our communication. As @weltkante men

[2019-06-11 15:43] AaronRobinsonMSFT opened #25082 "Support mixed-mode assemblies on non-Windows platforms"
This is a tracking issue for support on non-Windows platforms.

See https://github.com/dotnet/coreclr/issues/18013

cc @jeffschwMSFT @jkoritzinsky

[2019-06-11 15:44] stephentoub commented on #25081
Yes, latest in both coreclr and corefx.  Pulled from master from both this morning.

[2019-06-11 15:44] AaronRobinsonMSFT commented on #25082
Closing as duplicate of https://github.com/dotnet/coreclr/issues/659

[2019-06-11 15:44] #25082 closed

[2019-06-11 16:00] leculver opened #25083 ".Net Core does not produce Watson crash reports"
.Net Core cannot currently generate actionable Watson reports.  We are actively investigating why with the DEX (windbg) team.  We need to be sure not to ship 3.0 RTM until we have this resolved (or understood).

[2019-06-11 16:14] MichalStrehovsky commented on #25057
I just did a "file & forget" and didn't actually look at how difficult it is to fix.

I'll move it to 3.0 and have a look.

Cc @sergiy-k

[2019-06-11 16:17] MeiChin-Tsai commented on #25083
Is this blocking preview 6?

[2019-06-11 16:44] leecow commented on #25083
Seems like something we would want for Preview 7, if possible.

[2019-06-11 16:48] AndyAyersMS commented on #25027
Direct repro (once you've copied in the checked jit and set the right complus options):
[code]

Looks like that bit is working properly, and we reject tail calling before we even get to the stack check since the last call is a `void` return but the method has a return value.

The issue is that under tail call stress, `newBBcreatedForTailcallStress` is set true even if we're not actually doing a ta

[2019-06-11 16:59] jkotas opened #25086 "CodeVersionManager deadlock"
Repro:

Run System.Runtime tests in corefx with master and explicitly specifying a large number for xunit's maxthreads  (same repro as #25080):

\corefx\src\System.Runtime\tests>dotnet msbuild /t:rebuildandtest /p:XunitOptions="-maxthreads 256"

Hang due to CodeVersionManager deadlock. 1 out of 5 runs hits this deadlock on my machine.

[2019-06-11 17:01] jkotas commented on #25086
Thread #160 is trying to take a lock in cooperative mode at this callstack:

[code]

This lock was taken in preemptive mode by thread #8 and the thread is not able to make a progress because of it is trying to switch to cooperative mode:

[code]

Email me offline if you would like to see the dump.

[2019-06-11 17:02] leculver commented on #25083
@MeiChin-Tsai No, this is not intended to be blocking preview 6.  I intended this to be "Blocking RTM", but preferably fixed in Preview 7.  There wasn't a good tag to convey that.

[2019-06-11 17:03] jkotas commented on #25086
The problem is that the CodeVersionManager is marked as `CRST_UNSAFE_ANYMODE`, but it does not follow the delicate rules for  `CRST_UNSAFE_ANYMODE` locks.

cc @noahfalk @kouvel

[2019-06-11 17:11] jkotas commented on #25080
Any chance you can get a dump of this crash? I have tried to repro it, but I am hitting a different bug (linked).

If you set this registry keys, Windows should automatically take dumps of the crashes dotnet.exe process:
[code]

[2019-06-11 17:13] tommcdon commented on #25083
@mikem8361 @noahfalk

[2019-06-11 17:32] AndyAyersMS commented on #25027
More specifically -- under tail call stress when forming the flow graph, we do a partial recognition for tail call candidates -- this is simply looking for a call followed by a ret. When we see this we set up the flow graph so that the ret following the call is in a separate BB. But we can't do a more complete assessment here because we haven't resolved the call token and so don't know the method

[2019-06-11 17:47] MeiChin-Tsai commented on #25086
we probably should fix this in preivew 7.

[2019-06-11 18:00] stephentoub commented on #25080
Unfortunately I can't repro now either.  I don't know whether it's related, but in the interim between when I was able to repro and now, I installed an update to Windows.

[2019-06-11 18:02] tannergooding commented on #23520
For hardware intrinsics, I've been working on ensuring the ARM64 surface design can be reused for ARM32 where possible (see https://github.com/dotnet/corefx/issues/37199).

[2019-06-11 18:20] tommcdon commented on #25015
Possibly related to #25046?

[2019-06-11 18:23] RussKeldorph commented on #23274
@wfurt Any luck?

[2019-06-11 18:25] RussKeldorph commented on #22509
I assume this was just a transient problem while a breaking change was propagating.

[2019-06-11 18:25] #22509 closed

[2019-06-11 18:27] wfurt commented on #23274
no, I did not get to it recently.

[2019-06-11 18:27] RussKeldorph commented on #22262
@BruceForstall I see some possibly-related disabling in #24962.  Do you know if this is still an issue?  Not sure if `FormatterTests` were maybe renamed to `RealFormatterTests`.

[2019-06-11 18:35] BruceForstall commented on #22262
I disabled `System.Buffers.Text.Tests.RealFormatterTests` in #24962 as part of blanket disabling of failures. I didn't investigate any in depth.

[2019-06-11 18:46] tommcdon commented on #23124
This is now tracked on #22898

[2019-06-11 18:46] #23124 closed

[2019-06-11 18:46] jkotas commented on #25081
Any chance to get a dump of the crash? https://github.com/dotnet/coreclr/issues/25080#issuecomment-500937525

[2019-06-11 18:48] tommcdon opened #25090 "Fill in test gaps for Event Pipe"
We need to add new tests to cover .net core 3.0 event pipe test scenarios.  These new tests will supercede the following:

- [ ] https://github.com/dotnet/coreclr/issues/23224
- [ ] https://github.com/dotnet/coreclr/issues/22891
- [ ] https://github.com/dotnet/coreclr/issues/20510
- [ ] https://github.com/dotnet/coreclr/issues/20299

[2019-06-11 18:49] tommcdon commented on #22891
Now tracked on #25090

[2019-06-11 18:49] #22891 closed

[2019-06-11 18:50] tommcdon commented on #20299
Now tracked on #25090

[2019-06-11 19:01] jorive commented on #25015
Yes, it's related to https://github.com/dotnet/coreclr/issues/25046

[2019-06-11 19:26] daholste opened #25091 "EnumerateInterfaceAddresses Exception"
Hey .NET Core CLR,

Any idea about the following exception? This happened on a Mac

[code]

Out of four runs today (and many in the past) on the Mac of the same code, this only happened one time

Thank you

[2019-06-11 19:27] sandreenko commented on #25050
The problem is in `emitInsSizeCV` that overestimates the real instruction size and returns value > 15 that is the maximum decodable size for Intel instructions.
The fast and awful solution would be to change `instrDesc::idCodeSize(unsigned sz)` to shrink `sz` to 15 when it is bigger. Then codegen will know the real size and fail with its own assert if the real size is > 15.

The good solution woul

[2019-06-11 19:33] stephentoub commented on #25091
Looks like a dup of https://github.com/dotnet/corefx/issues/38441, which is a dup of https://github.com/dotnet/coreclr/issues/25018, which is a dup of https://github.com/dotnet/coreclr/issues/24727, which is a dup of https://github.com/dotnet/cli/issues/11403, which should be fixed for Preview 6 in https://github.com/dotnet/coreclr/pull/24847. :smile:

[2019-06-11 19:33] #25091 closed

[2019-06-11 19:34] stephentoub commented on #25081
Shared a dump offline.

[2019-06-11 19:36] daholste commented on #25091
Amazing -- thank you, @stephentoub!

[2019-06-11 19:41] jkoritzinsky commented on #22797
I've tested the IJW tests with an internal toolset that targets .NET Core and the tests pass on Windows 7, so we should be able to easily re-enable the tests once we are building our native test build with a new enough VS version on AzDO.

[2019-06-11 19:42] danmosemsft commented on #23315
@tannergooding wrt regressions the key thing is to make sure there's appropriate microbenchmarks in the dotnet/performance repo. If so, we will automatically catch any regressions in our next pass. Even if the benchmark didn't exist in the last release timeframe. (And perhaps this can be closed)

[2019-06-11 19:45] josalem commented on #25090
Do we have a list of scenarios we want to prioritize?  I have a template for writing the tests that we can use to _hopefully_ iterate quickly through them.

[2019-06-11 19:56] stephentoub commented on #25081
Here are the values causing the assert to fail:
[code]

[2019-06-11 20:05] tannergooding commented on #25081
Yep. I was able to repro locally and determine the root cause.

This was introduced as part of https://github.com/dotnet/coreclr/commit/447670fb7cfbf0812faa7cbf4792195d56844de5. Namely, we should be preserving the first significant digit in the scenario where it would not cause the next digit to round. This avoids us unnecessarily treating a value as zero when it is actually epsilon.

[2019-06-11 20:06] AndyAyersMS opened #25094 "JIT: disentangle tail call screening logic"
We do different kinds of screening for tail call stress and implicit tail calls, and this can lead  to issues like #25027.

Because of this we are also missing the opportunity to tail call stress at tail call sites in inlinees. Seems like we ought to unify the logic if possible. It wasn't done earlier because information needed to qualify a tail call candidate is also needed for general call handl

[2019-06-11 20:07] stephentoub commented on #25081
Thanks, @tannergooding.  I'm curious why this assert doesn't fire in coreclr's CI when running corefx tests, since I thought they were run using a checked build... is the test triggering this just too new to be in coreclr's copy?

[2019-06-11 20:08] tannergooding commented on #25081
Yes, that is likely the case. I believe CoreCLR is still running against a stale copy of CoreFX, but @jkotas  might know if that has changed.
-- Maybe it would be good for us to have an outer loop job in CoreFX that runs against a checked build of CoreCLR?

[2019-06-11 20:16] jkotas commented on #25081
CoreCLR is running against current CoreFX binaries and tests. The CI has only one "Windows_NT x64_release" leg enabled right now. @BruceForstall is working to add more add in #24962

[2019-06-11 20:26] josalem opened #25095 "EventPipe Rundown should not take Code Manager Table lock before a potentially blocking call"
During the Rundown sequence for EventPipe the Code Manager Table enumeration lock is taken before writing to the IPC transport.  The write can potentially block, which results in the rundown blocking.  Because the Code Manager Table enumeration lock is being held by the blocked thread, nothing can be JITed and we end up halting progress of the process when something needs to JIT.

An example stack

[2019-06-11 20:40] jkoritzinsky commented on #22797
Fix for this is part of the [ijw-clr-netcore branch on my fork](https://github.com/jkoritzinsky/coreclr/tree/ijw-clr-netcore).

[2019-06-11 20:55] jashook commented on #25072
We should remove the bin logger. Although it is worth mentioning that as of today we do not support native arm/arm64 builds.

[2019-06-11 20:58] tommcdon commented on #25090
Let's use this issue to track the sceanrios we wish to fill
@cshung @sywhang

[2019-06-11 21:01] jashook commented on #25030
@elinor-fung from two runs /nodeReuse:false seems to fix the issue.

[2019-06-11 21:11] BruceForstall commented on #25081
Excellent! fwiw, it was a huge pain to figure out how to disable these failures in #24962

[2019-06-11 21:16] stephentoub commented on #25081
Were there other failures #24962 caught that we should know about? :wink:

[2019-06-11 21:21] BruceForstall opened #25098 "CoreFX test exclusions"
The following test exclusions were added as part of enabling more CI testing (in #24962) of CoreFX tests using CoreCLR binaries. They need to be investigated and categorized.

[code]

[2019-06-11 21:21] BruceForstall commented on #25098
Note: these exclusions live in `tests\CoreFX\CoreFX.issues.rsp`

[2019-06-11 21:22] Korporal opened #25099 "Question: Why is there no bit-test-and-set opcode in the IL instruction set?"
Given that locking always ultimately rests upon hardware bit test and set instructions, why was no IL instruction defined that abstracts this, making it easier to write platform agnostic locking code?

For example here is the Intel [instruction](https://www.felixcloutier.com/x86/cmpxchg) that does this on their x86 hardware.

[2019-06-11 21:24] BruceForstall commented on #25081
@stephentoub I just merged #24962. And opened #25098 to track all the exclusions I added.

Summary:
1. System.Net has lots of problems with timeouts or other infrastructure-looking failures.
2. There are definitely a few real failures that need to be investigated.
3. I opened 2 other issues for VM/JIT asserts.

[2019-06-11 21:24] AndyAyersMS commented on #25098
Do we have the ability to do conditional exclusions?

[2019-06-11 21:26] BruceForstall commented on #25098
@AndyAyersMS No.

On the one hand, it would be good to have that. On the other, I favor radical simplicity here, and over-excluding a bit doesn't worry me, as long as we periodically try to clean it up. We're still getting tremendous additional coverage by running these tests.

[2019-06-11 21:26] mikedn commented on #25099
I don't follow. The instruction in exposed via `Interlocked.CompareExchange` that is treated as an intrinsic by the JIT compiler. What exactly are you asking for?

[2019-06-11 21:29] mikedn commented on #25098
How do you know that? Was there any attempt at measuring native code test coverage?

[2019-06-11 21:32] Korporal commented on #25099
I had no idea that was an "intrinsic" I looked at that code recently and saw it [here](https://github.com/microsoft/referencesource/blob/master/mscorlib/system/threading/interlocked.cs#L144).

It seemed to call out some external method (I assumed it was some native method called via interop).

Also I did some benchmarks a few days ago and found that calls to Interlocked.CompareExchange seemed to i

[2019-06-11 21:38] mikedn commented on #25099
That doesn't prevent the JIT from recognizing it and emitting the appropriate instruction for the target architecture: https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIAYACY8gOgBUALWbAEwEsAdgHMA3DWIBmJqQYBhBgG8aDFQwAOUPgDdsGGA0EYDY6qqZTiKBgFkAFAEpFys6oCSAvVAA2EMAGsYHhZZCHw1bFgAUQQwDmxhGFtYADMDNAYUUnSUCXsTMwBfGgKgA==

Was that involving primitive types of reference types? For

[2019-06-11 21:39] jashook commented on #25030
Seems like a few more builds confirm nodeReuse fixes the problem.

[2019-06-11 21:39] jashook commented on #25030
Putting out a pr.

[2019-06-11 21:43] elinor-fung commented on #25030
@jashook could you make sure you also build the product first (with `/nodeReuse:false`)?

I think this started happening after we took an update from arcade ([0b520b3](https://github.com/dotnet/coreclr/commit/0b520b36b4516749a2e4416570f666ba5688da62)) which included updating to a newer compiler toolset (11fa382) such that it is no longer the same as that used by BuildTools. My guess is that since

[2019-06-11 21:45] jashook commented on #25030
Change will include nodeReuse:false in both build.sh and build-test.sh by default to match windows scripts.

[2019-06-11 21:47] Korporal commented on #25099
@mikedn

OK thanks.

I can't recall the exact code (it was at my home) so will need to review it, I'll try to post it too.

The args to CompareExchange were "ref long" against a long field inside an object.

The object had a "DoWork" method and this was called by competing threads (accessing the same object).

DoWork either used lock() or the looped CompareExchange and it then simply incremented t

[2019-06-11 21:47] jkoritzinsky opened #25100 "Make Custom Marshalers unloadability-friendly"
Custom Marshaler instances are kept alive via a strong handle in the AppDomain instead of a handle within the ALC/LoaderAllocator. As a result, using an `ICustomMarshaler`-derived custom marshaler will keep an ALC from being unloaded.

cc: @janvorli

[2019-06-11 21:48] BruceForstall commented on #25098
Pure guess. Actually, I wasn't thinking about additional native code coverage, although it would make sense to know / measure that. I was just assuming that a large number of corefx tests covers a lot of IL patterns not necessarily seen in the coreclr test suite.

[2019-06-11 22:02] mikedn commented on #25099
That `SpinLockObject` seems to be using `Thread.Sleep(1)`. I don't see how that could ever be efficient. In general, it's difficult to get spinning right and the framework already offers a spinlock facility.

Oh, that thread...

[2019-06-11 22:03] tommcdon opened #25103 "Investigate and fix issues for ARM64 Managed Debugging on Windows"
ARM64 Managed Debugging for Windows has not yet been investigated and tested.  This issue is tracking the investigation and potential bug fixing for ARM64 managed debugging:

Live debugging:

- [ ] Execution Control (stepping, breakpoints)
- [ ] Inspection
- [ ] Expression evaluation -- func-eval
- [ ] Callstack
- [ ] General ICorDebug validation

Dump debugigng:

- [ ] Inspection
- [ ] Callstack

[2019-06-11 22:04] Korporal commented on #25099
Yes you're right that code has Sleep rather than Yield - I should clean up the benchmark code I think and come back to you with something solid.

Yup...that thread...

[2019-06-11 22:06] jashook commented on #25063
It looks like the azure storage location we are using to place tests is not available. @mmitche has `https://dotnetbuildoutput.blob.core.windows.net/coreclr-release/2.1-20190611-01/DotNet-CoreClr-Master-1832/Release/pkg/index.json` been decommissioned?

[2019-06-11 22:07] kouvel commented on #25086
Thanks @jkotas, I'm able to repro it as well. It looks like the thread store lock and the debugger lock are other unsafe ones taken before this lock, and in some paths it may not be legal to switch the GC mode before taking the lock. I'm looking to see if it's possible to eliminate the lock during publish or at least on the paths that need coop mode. If that doesn't work out I'll try switching to

[2019-06-11 22:20] benaadams commented on #25099
[`Thread.Sleep(1)`](https://github.com/Korporal/hodgepodge/blob/13c851ade15278093e438ce2a36b399ec4ac4835/Locking/NativeCriticalSections/CriticalSections/SpinLockedObject.cs#L18) can be up to 16ms; normally want to go through various backoff stages

[SpinLock](https://github.com/dotnet/coreclr/blob/96c8a1259f5605f52a4d08d804c5f0cdb59308b2/src/System.Private.CoreLib/shared/System/Threading/SpinLock.

[2019-06-11 22:24] Korporal commented on #25099
@benaadams - This is helpful, very interesting - much appreciated.

[2019-06-11 22:41] benaadams commented on #25099
With SpinLock you might do something like
[code]

[2019-06-11 22:42] #24999 closed

[2019-06-11 23:20] #16071 closed

[2019-06-11 23:40] CarolEidt commented on #25050
Here's the general issue for refactoring of the emitter, and the specific comment relating to instruction size: https://github.com/dotnet/coreclr/issues/23006#issuecomment-471114107

[2019-06-11 23:43] AndyAyersMS commented on #25030
@elinor-fung finally got around to retrying, and it looks like `/node-reuse:false` works for me....

[2019-06-11 23:56] leculver commented on #25083
(Please note I'm not a security expert.  This is my layman's understanding of certs and what happened here based on some investigation.)

.Net Core used to have 2 certificates: a sha1 – Microsoft Root Certificate, and a sha256 – Application Root Certificate.  It’s unclear to me why our sha256 cert would be of a different kind.  The feature that makes WER accept our auxiliary data dll (mscordaccore

[2019-06-11 23:56] leculver commented on #25083
(Please note this is my layman's understanding of certificates and what's happening here.  I'm not a security expert.)

.Net Core used to have 2 certificates: a sha1 – Microsoft Root Certificate, and a sha256 – Application Root Certificate.  It’s unclear to me why our sha256 cert would be of a different kind.  The feature that makes WER accept our auxiliary data dll (mscordaccore.dll) only accepts

[2019-06-12 00:18] hoyosjs commented on #24766
Fixed by #25089

[2019-06-12 00:18] #24766 closed

[2019-06-12 00:37] hoyosjs opened #25107 "Execution Control on Linux ARM64 not working"

[2019-06-12 00:55] pentp commented on #23315
The change to managed decimal was done with careful performance measurements and some regressions for 32-bit were deemed acceptable (the unmanaged implementation was optimized for 32-bit). For 64-bit there are only a couple of odd corner cases that are slower, but real world use cases should actually see significant improvement.

[2019-06-12 01:16] VincentBu opened #25108 "[Test failed] baseservices_threading._waithandle_waitall_waitallex10a_waitallex10a_._waithandle_waitall_waitallex10a_waitallex10a_sh"
**Job:**
https://mc.dot.net/#/user/coreclr-outerloop-jitstress/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190610.1/workItem/baseservices.threading/analysis/xunit/baseservices_threading._waithandle_waitall_waitallex10a_waitallex10a_~2F_waithandle_waitall_waitallex10a_waitallex10a_sh

**Failed tests:**
baseservices_threading._waithandle_waitall_waitallex10a_waitallex1

[2019-06-12 01:17] #25027 closed

[2019-06-12 01:19] tommcdon commented on #25014
@davmason can you investigate?

[2019-06-12 01:19] tommcdon commented on #24966
@davmason do you have time to take a look?

[2019-06-12 01:23] tommcdon opened #25109 "Enable Event Pipe to egreess stress and debug logging"
CLR logging is extremely useful to diagnose internal runtime issues.  This is esp. true for diagnostic scenarios where we need to debug things like the single stepper, register contexts, internal debugger messages, etc...  Stress Log which is an in-memory buffer that can be used in retail builds.  The log can be retrieved using sos!stresslog.  Additionally there is a debug-only logging mechanism w

[2019-06-12 01:29] VincentBu opened #25110 "Assert failure: Precondition failure: FAILED: s_tracingInitialized"
**Job:**
https://mc.dot.net/#/user/coreclr-outerloop-jitstress/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190610.1/workItem/PayloadGroup0/analysis/xunit/tracing_regress._GitHub_22247_GitHub_22247_GitHub_22247_~2F_GitHub_22247_GitHub_22247_GitHub_22247_cmd

**Failed tests:**
tracing_regress._GitHub_22247_GitHub_22247_GitHub_22247_._GitHub_22247_GitHub_22247_GitHub_22

[2019-06-12 01:36] AndyAyersMS commented on #25039
cc @dotnet/jit-contrib. @CarolEidt is this something you plan to work on?

[2019-06-12 01:37] #25099 closed

[2019-06-12 01:41] #24976 closed

[2019-06-12 01:41] AndyAyersMS commented on #24835
@VSadov don't see those arm32 failures anymore with your fix, so think it was the same issue.

None of the other one-off failures here has recurred or repro'd locally.

One more new failure on ubuntu arm32:
[code]
will try to repro.

[2019-06-12 01:42] jkotas commented on #25052
Could you please share the stacktrace for the exception and more complete repro?

[2019-06-12 01:48] #24911 closed

[2019-06-12 06:44] adamsitnik commented on #25072
I was not aware of it. How can I verify if my local CoreCLR change is not breaking ARM?

[2019-06-12 06:51] mikedn commented on #25039
@CarolEidt If you're busy with something else I think I can fix this later today. Let me know.

[2019-06-12 08:37] davmason commented on #25014
I'll take a look in the morning

[2019-06-12 08:52] memory125 commented on #19578
I have the same issue on Ubuntu 18.04-ARM64.
![image](https://user-images.githubusercontent.com/10826147/59337087-727a2700-8d32-11e9-8c04-68cb59117b43.png)

[2019-06-12 10:15] Cronan opened #25116 "Error building centos 7 from docker"
Running in the following environment:
[code]

I get the following errors in the build:
[code]

[2019-06-12 11:49] RussKeldorph opened #25118 "GC/Features/HeapExpansion/bestfit_1/bestfit_1.sh: line 259: 12266 Segmentation fault"
https://mc.dot.net/#/product/netcore/master/source/official~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fr2r~2Fcli~2F/build/20190611.1/workItem/PayloadGroup0/analysis/xunit/GC_Features._HeapExpansion_bestfit_1_bestfit_1_~2F_HeapExpansion_bestfit_1_bestfit_1_sh

[code]

[2019-06-12 12:51] noahfalk commented on #25069
I think the logic works out better in some cases, but it still appears like there is a missing recalculation of the remaining keywords/level when a session is disabled. I expect it works when the session you are disabling is the only one currently active, but if we modify the setup slightly I bet we can still repro it. For example if we enabled some other session first (ie you had a EventListener

[2019-06-12 13:48] gpomykala opened #25123 "[ARM7/Linux] nullref leads to ABRT / SEGV exit code"
Environment:
Host (useful for support):
  Version: 2.2.1
  Commit:  878dd11e62

.NET Core SDKs installed:
  No SDKs were found.

.NET Core runtimes installed:
  Microsoft.AspNetCore.All 2.2.1 [/opt/dotnet/shared/Microsoft.AspNetCore.All]
  Microsoft.AspNetCore.App 2.2.1 [/opt/dotnet/shared/Microsoft.AspNetCore.App]
  Microsoft.NETCore.App 2.2.1 [/opt/dotnet/shared/Microsoft.NETCore.App]

root@gpom

[2019-06-12 13:58] per-samuelsson commented on #13277
@vitek-karas

Sorry for the late response.

We paused what we were trying because we didn't get it to work properly at the time, and had to rethink some parts. We might need to go back to working on something similar later this year, so I'm still interested in checking out what progress you've made in this area though, just don't have the time for it right now.

Regarding

you can read some backgr

[2019-06-12 14:10] arlm opened #25124 "Problem when comparing boolean values after IL conv.i1"
I am working on some tests for an DynamicMehtod IL generator called [Sigil ](/kevin-montrose/Sigil) and I hit some interesting behavior on comparing booleans:

The dynamic method (`Func<int, bool>`) looks like:
[code]

When I invoke this function using `1` everything goes as expected for `true`.  Although, when I invoke this function using `2` and start testing the results it happens that Visual S

[2019-06-12 14:30] janvorli commented on #25123
@gpomykala is it possible that there are native code frames on stack between the frame where the null reference exception occurs and the frame where the handler is located? Such a case would be when managed code would call a native code and that in turn would call a managed callback.

[2019-06-12 14:42] gpomykala commented on #25123
That may be possible since there is aspnet core middleware and JSON.net
library code between the exception source and and the error handling block.
I need to enable core dump storage on that host. I'll be back ...

śr., 12.06.2019, 16:31 użytkownik Jan Vorlicek <notifications@github.com>
napisał:

[2019-06-12 14:43] GeorgeS2019 commented on #18013
@AaronRobinsonMSFT   If I understand correctly, one key difference between .NETCore 3.0 and .NET5 is that the support for mixed-mode assemblies for non-windows will happen in .NET 5, unless MS decide to abandon C++/CLI for non-windows.

It is important for the community to know that the mixed-mode assemblies for non-Windows IS CONFIRMED for .NET 5 with an estimated timeline for the preview version

[2019-06-12 14:54] CarolEidt commented on #25039
@mikedn - thanks, but I can take a look at this (unless you're eager to do it - just let me know!)

[2019-06-12 15:28] mikedn commented on #25039
I think I'm going to take a look to see if it's possible to remove the duplicate logic between lowering/LSRA/codegen. However, I expect that to be a more intrusive fix and it's probably not the right time for that.

[2019-06-12 15:31] Cronan commented on #25116
In case anyone else encounters this issue, the Linux environment I am using does [root squashing](https://en.wikipedia.org/wiki/Unix_security#Root_squash). I resolved this by following this post from [Deni Bertovic](https://denibertovic.com/posts/handling-permissions-with-docker-volumes/).

Brief write-up below in case the blog post vanishes:
[code]

[2019-06-12 15:31] #25116 closed

[2019-06-12 15:35] mikedn commented on #25124
Do you have a particular need to support Boolean values other than 0 or 1? Neither the C# compiler nor the JIT compiler acknowledge the existence of such values and optimize as if only 0 and 1 are possible.

[2019-06-12 15:36] AaronRobinsonMSFT commented on #18013
@GeorgeS2019 I don't think that has been implied at all, but could have missed the announcement. The official .NET5 plan was announced [here](https://devblogs.microsoft.com/dotnet/introducing-net-5/) and C++/CLI isn't mentioned all, was there some of post that mentioned this? At present, there is no plan to support C++/CLI on non-Windows. One of the biggest reasons is compiler support off Windows.

[2019-06-12 16:10] mikem8361 commented on #25049
I don't really have anymore more info other than Bruce is right that the PDBs need to be next to the DLLs.  I'm assuming that is the runtime (coreclr) assert code (checked runtime build?) displaying the above stack.

[2019-06-12 16:20] arlm commented on #25124
No, no actual need to support that. The thing is that during tests I have hit this odd behavior. I would say that it should be at least consistent:

` true ==  value = True`
and
`true.Equals(value) = False`

I would expect both to return `false` or both to return `true`.

The question actually was:

The rest was only my findings which were not conclusive on the expected behavior from the source-co

[2019-06-12 16:22] AndyAyersMS commented on #24676
#24954 merges the fix into the 2.2 branch.

I'll update this issue once we release a new 2.2 version that includes this.

[2019-06-12 16:35] jorive commented on #25110
I believe this ASSERTION is from my current PR: https://github.com/dotnet/coreclr/pull/25112/files. Why was this issue opened?

[2019-06-12 16:44] tannergooding opened #25127 "Consider updating generated floating-point equality code to avoid branches"
Currently, the floating-point equality logic is using `ucomiss` which can result in two separate branches in order to handle `NaN`.

The following code:
[code]

Generates:
[code]

It may be beneficial to update this logic to emit `cmpss` instead to avoid the branching:
[code]

For reference:
![image](https://user-images.githubusercontent.com/10487869/59369995-7720ea00-8cf6-11e9-922e-c9080145d085.p

[2019-06-12 16:47] tannergooding commented on #25127
I imagine this is likely not beneficial in all cases, as there are likely some scenarios where the JIT can fold the jump into a subsequent `setcc`, `jcc`, or `cmovcc`

[2019-06-12 17:04] mikedn commented on #25124
Yes. Neither `conv.i1` nor the IL evaluation stack do not know anything about `bool` values. `conv.i1` simply pops an `i4` value from the stack, sign extends the lower byte of it to `i4` and pushes the resulting value back to the IL stack. There is no such thing as a `bool` value on the evaluation stack. Basically it's almost the same as an enum:
[code]

Being consistent comes at a cost. Basically

[2019-06-12 17:08] mikedn commented on #25127
Actually what normally happens is that `Equal` will gen inlined and then result is used in a branch. Of course, there may be cases when you actually need a 0/1 value but that falls into the general if-conversion bucket, there's nothing special about floating point comparisons in this regard.

[2019-06-12 17:10] BruceForstall commented on #25110
@jorive Why do you think it is from your PR? The URL indicates it's from a jitstress run against master, on 6/10.

[2019-06-12 17:12] josalem commented on #25090
I believe we should add tests covering the following "knobs":
* [ ] Messages sent vs received under:
  * varying buffer sizes
  * varying providers
* [ ] Provider turned on vs sane traces (e.g., if I trace GC, I should see equal numbers of start and end events)
  * varying buffer sizes
* [ ] EventPipe Connection _and_ EventListener connection being coherent

[2019-06-12 17:12] BruceForstall commented on #25110
In particular, this build: https://dev.azure.com/dnceng/public/_build/results?buildId=219698

[2019-06-12 17:16] #25100 closed

[2019-06-12 17:18] jorive commented on #25110
@BruceForstall please ignore my comment above. Last week there was another bug opened for my previously active PR, and I did not see this one was from master. This assertion is something I'm fixing in my current PR.

[2019-06-12 17:23] jorive commented on #25090
@josalem Should we add to the mix:

- [ ] Verify providers/events enabled are written
- [ ] Verify CPU stacks are written when enabled
- [ ] Handle erroneous user input

[2019-06-12 17:27] josalem commented on #25090
Agreed.  I think we should have a small base set of tests we can add to PR validation, and a larger, more complex set we can add to pri-1 testing.  These tests give us a chance to implicitly "soft" document some guarantees about the EventPipe system that shouldn't be broken by incoming changes.

[2019-06-12 17:45] josalem commented on #25095
Simple repro case: https://gist.github.com/josalem/aa26626db848499b398bcd61d58130b6

It will trace itself by default, but you can also pass it a PID to trace.

There is another exception that gets thrown occasionally regardless of the target process that isn't mentioned in this issue.  I believe that is due to [an outstanding issue with encoding differences between EventSource and EventPipe](https

[2019-06-12 18:16] kouvel commented on #25080
I'm able to repro this as well, shared dump offline. Looks like something to do with VSD and backpatching slots, doesn't repro with `COMPlus_BackpatchEntryPointSlots=0`, taking a look.

[2019-06-12 18:38] sandreenko opened #25131 "[x86][Windows] External disassembler is not available."
All last windows x86 JitStress jobs failed with: `External disassembler is not available`.

https://dev.azure.com/dnceng/public/_build/results?buildId=221425&view=ms.vss-test-web.build-test-results-tab

We did not have this problem in the previous run. Probably all GCStress=0xc jobs will fail as well.

It can be that the last helix update again deleted some necessary libraries from these machines

[2019-06-12 19:01] stephentoub commented on #24907
This was a bug in the perf tests being used.  Closing.

[2019-06-12 19:01] #24907 closed

[2019-06-12 19:05] tommcdon opened #25132 "Breakpoint changes the output of the program on x64"
The output for the execution of a program may change if you add a breakpoint on a specified line.

Repro Steps:
[code]

Code from: https://gist.github.com/tannergooding/af91efb30215ab360dfb3fe18e58fe36

1. Add breakpoint at specified line;
2. Target .NET Core 3.0 Preview 4 for x64;
3. Start debugging;
4. Hit breakpoint and continue execution.

Expected output
357.5

Actual output
357.51007

Remark

[2019-06-12 19:09] tannergooding commented on #25132
@tommcdon, is this just a duplicate of the internal DevDiv bug (853718)?

[2019-06-12 20:08] jkotas commented on #25080
Maybe related to https://github.com/dotnet/coreclr/issues/22964

[2019-06-12 20:52] AndyAyersMS opened #25133 "JIT: Assert in BMI intrinsic from random inline stress"
Have been randomly playing with different seeds for random inline stress and hit this.

To repro (on windows or Linux)
[code]
Saw this at b5199393; haven't tried newer bits yet.

cc @dotnet/jit-contrib

[2019-06-12 20:59] sandreenko commented on #25131
The problem was the missing package:
[code]
but the other jobs did not have this error (x64 from the same run was able to download that, and the next x86 in coreclr-ci were able to find it as well).

@MattGal do you know what could happen in this ["build-tests](https://dev.azure.com/dnceng/public/_build/results?buildId=221425)" task?

[2019-06-12 21:00] CarolEidt commented on #25133
I'll look at this.

[2019-06-12 21:05] kalimag opened #25134 "AssertionProp incorrectly removes cast from uint"
The following code prints a negative number instead of the expected `OverflowException` under certain conditions:

    class Program
    {
        static uint _value = int.MaxValue + 1U;

        static void Main()
        {
            try
            {
                var result = CastToIntChecked(_value);
                Console.WriteLine(result);
            }
            catch (Exception ex)

[2019-06-12 21:08] arlm commented on #25124
Very enlightening. I was aware about the non-existence of a `bool` type underneath C#, on the IL level. But I had no idea how C# does the conversion of the comparison expressions to IL.  That should be on the Roslyn code, right? Maybe I should take a look there first next time.

So, from your answer that is very clear that this should be the expected behavior. Thank you for taking your time to exp

[2019-06-12 21:08] #25124 closed

[2019-06-12 21:14] tannergooding commented on #25124
@arlm, you might be interested in https://github.com/gafter/roslyn/blob/master/docs/compilers/Boolean%20Representation.md and  https://github.com/dotnet/roslyn/issues/24652.

[2019-06-12 21:21] kouvel commented on #25080
I got that repro once too, likely the same cause

[2019-06-12 22:11] tomview commented on #18013
@AaronRobinsonMSFT one of the visions of .NET5 is to replace the role of mono full-CLR in non-Windows. In my view, we need a CLEAR and FULL commitment that there will be effort to support existing desktop or backend apps involving C++/CLI also eventually to non-Windows OS when .NET5 is released.

If the decision is clearly not to proceed, it is important to communicate that **early** so we can exp

[2019-06-12 22:15] CarolEidt commented on #25133
This seems pretty straightforward. It's trying to propagate a constant. We already simply return for `GT_SIMD` and I think we just need to do the same for `GT_HWIntrinsic`.

[2019-06-12 22:17] #25030 closed

[2019-06-12 23:34] swaroop-sridhar commented on #24397
https://github.com/dotnet/sdk/issues/3257 is now fixed.

The other issues for reducing size are:
* Removing SOS.dll (tracked separately)
* ILLinker improvements (trimming is implemented, further work to be tracked in ILLinker repo).

So, I think we can close this issue.

[2019-06-12 23:37] dcorbett-fivebridgesllc opened #25142 "P/Invoke from .Net Core in WSL calls DLLMain"
I am porting an application that works in .net framework to .net core and Linux.
It uses DLLImport to cause P/Invoke to be called on the DLL or .so in Linux.
Under WSL when I call the library function, it is always attempting to call DLLMain, and not finding it.
I can't build DLLMain in Linux C++ as I can in Windows C++ because "far" isn't supported, thus it will never be able to find DLLMain.
I'v

[2019-06-12 23:39] cup commented on #24397
@swaroop-sridhar I think that is premature, as you havent even linked to those issues

can you please do that?

[2019-06-12 23:44] dcorbett-fivebridgesllc commented on #25142
FYI - My WSL was running Ubuntu 18.04
Running .net core 2.2
C++ is compiled with G++ 7.4 using CMake in WSL

[2019-06-12 23:46] jkoritzinsky commented on #25142
The DllMain on a native library on non-Windows should be optional. If you don't have one, everything should work fine. Same with the PAL_RegisterModule. Are you seeing a crash with it not finding the DllMain or PAL_RegisterModule entrypoints?

[2019-06-12 23:49] jkotas commented on #25142
Also, the .NET Core 3.0 does not even try to look for DllMain anymore. You can give this a try on .NET Core 3.0.

[2019-06-12 23:53] dcorbett-fivebridgesllc commented on #25142
I am aware it should be optimal.    Yes, I am seeing a crash.   The only error is one of those, and they come when I have LD_DEBUG=libs

[2019-06-12 23:59] jkoritzinsky commented on #25142
Are you able to run your application under a debugger or open the coredump in a debugger and see where the segfault is happening? I'd be curious to see where in the runtime we're getting a segfault on that codepath.

[2019-06-13 00:05] dcorbett-fivebridgesllc commented on #25142
No.   Haven't seen the coredump, and couldn't get the debugger to work in WSL.
Haven't yet tried in Docker.

[2019-06-13 00:06] jkoritzinsky commented on #25142
lldb doesn't work in WSL1. gdb should work though.

[2019-06-13 00:24] RussKeldorph commented on #25134
@dotnet/jit-contrib

[2019-06-13 01:32] VincentBu opened #25143 "Test failed: System.ComponentModel.EventBasedAsync.Tests.AsyncOperationTests.ThrowAfterAsyncComplete"
**Job:**
https://mc.dot.net/#/user/coreclr-corefx-jitstress/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcorefx~2F/20190611.2/workItem/System.ComponentModel.EventBasedAsync.Tests/analysis/xunit/System.ComponentModel.EventBasedAsync.Tests.AsyncOperationTests~2FThrowAfterAsyncComplete

**Failed tests:**
System.ComponentModel.EventBasedAsync.Tests.AsyncOperationTests.ThrowAfterAs

[2019-06-13 01:36] #24397 closed

[2019-06-13 01:43] VincentBu commented on #25131
Failed in below config:
[Windows.10.Amd64.Open-x86-Checked-tailcallstress](https://mc.dot.net/#/user/coreclr-outerloop-jitstress/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190611.1/workItem/JIT.Regression/analysis/xunit/JIT_Regression._JitBlue_GitHub_23199_GitHub_23199_GitHub_23199_~2F_JitBlue_GitHub_23199_GitHub_23199_GitHub_23199_cmd)

[2019-06-13 01:47] cup commented on #24092
https://github.com/dotnet/coreclr/issues/24092
https://github.com/dotnet/coreclr/issues/24397
https://github.com/mono/linker/issues/607

[2019-06-13 01:47] cup commented on #24397
https://github.com/dotnet/coreclr/issues/24092

https://github.com/dotnet/coreclr/issues/24397
https://github.com/mono/linker/issues/607

[2019-06-13 01:50] xiangzhai commented on #24659
Hi,

Because `$__HostArch` is not `x64` when porting CoreCLR to mips64el,  `System.Private.CoreLib.dll` build unsupported:

[code]

Just `scp` `HelloWorld.dll` published by following the [document](https://github.com/dotnet/coreclr/blob/master/Documentation/building/viewing-jit-dumps.md) from X86/Linux to MIPS/Linux.  Then use `corerun`:

[code]

`PEImage::Startup` and `PEAssembly::DoOpenSystem` f

[2019-06-13 01:59] swaroop-sridhar commented on #24397
@Cup: I've referenced the SOS issue above.
@Sven: If there are further issues about enabling Linker features more aggressively, please link them to this issue.

I've closed the issue now, since none of the work remaining is in CoreCLR repo.

[2019-06-13 02:02] cup commented on #24397
Here is a retest of the original post:

[code]

So the size has been reduced by 57%, which is significant. However obviously
compared to C++ it still has a long way to go. I would be happy with 10 MB, but
I am not sure if that will ever be realistic. At any rate, I will watch the
linked issues. Thank you

[2019-06-13 02:15] stephentoub commented on #24092
Does this mean an SOS built out of the coreclr repo is going to ship in 3.0? If so, I want to port from the diagnostics repo some changes that were made only there when it was stated that SOS would not ship out of dotnet/coreclr in 3.0.

[2019-06-13 02:42] AndyAyersMS commented on #25134
This looks like a bug in local assertion prop .. the subrange assertion should not allow the cast to be removed.
[code]

[2019-06-13 03:05] tomrus88 commented on #24397
@swaroop-sridhar Is fix for https://github.com/dotnet/sdk/issues/3257 available in daily .NET Core SDK builds? Because i'm still getting those extra 15MB on latest  .NET Core SDK 3.0.100-preview7-012386.

[2019-06-13 03:33] Joe4evr commented on #25124
[Here's some more related information about bools.](https://stackoverflow.com/a/28515361)

[2019-06-13 03:38] xiangzhai commented on #24659
cross-compile "seems" work:

[code]

Then `scp` `System.Private.CoreLib.dll` to MIPS/Linux, and run `HelloWorld`:

[code]

[2019-06-13 04:58] jorive commented on #25068
@sywhang Could you please take a look?

[2019-06-13 05:31] mikedn commented on #25124
Yes, note that most (likely all) operators on primitive types are translated directly into IL instructions, there are no actual operator overloads on the types themselves. In the case of `==` and `!=` you'd typically get `ceq`, `beq`, `bne` (which for bools only work "correctly" if the values are 0/1) but also `brtrue` or `brfalse` (which work with 0/non-zero bools). As the document linked to by @

[2019-06-13 06:35] sgf commented on #20287
this is not a problem.

im always against using zip/unzip solution for **Single exe self contained feature.**
because this will cause the next issue.
**How to reduce the Single exe file size !??**

In fact, from the outset should use IL-Merge similar ways.

[2019-06-13 06:50] sgf commented on #20287
In fact, people are not really so obsessed with a single EXE.
exe(1)+dll(1-2) also OK,but not 400 mount dlls .
ppl wont like to bring the code never be execute to the server disk.
people Just want to reduce the cost of deployment.(Disk,Bandwidth).

[2019-06-13 08:36] kindermannhubert opened #25146 "Sub-optimal codegen for incrementing (some) references"
Am I correct if I think the codegen for Get2 method is not  ideal? Mainly I don't understand the presence of cmp instruction. And the add instruction could be reduced to movzx offset, no?

[code]

For x64 Core / Release:
[code]
https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIAYACY8gOgCUBXAOwwEt8YLAMIR8AB14AbGFADKMgG68wMXAG4a9Jq049+ggJI8ZEMfKhKV6zY1kALbFDEAZbMHbc+AjdU0BmbSQmU

[2019-06-13 10:30] SilentCC opened #25148 "Why doesn't heap memory used go down after a GC in .NET Core2.2"
I wrote a test program to explore the how does GC works in ASP.NET Core.

The program ran in docker with memory limits set below 9mb.

I found that the program will be killed by docker because of it used out of memory that docker limited.

I thought that the GC didn't be triggered. But when I recorded the GC information in program,I found that it occurs too many times while the heap memory didn't

[2019-06-13 10:32] Daniel-Svensson commented on #23315
I did some updates to the benchmarks some time ago, but it seems my update post did not make it here. I have updated the description with the results from the benchmarks with much smaller numbers.
* There is still an "off by one" error for random so it will never use 366 days, but apart from that I think I
did make most suggested updates.
* I also did some test with much smaller numbers so the amo

[2019-06-13 11:21] octum-mf opened #25149 "Longer Generation 0/1 Garbage Collection - Analyzing and understanding GC/Join ETW Events"
_Disclaimer: We are very new to the whole analyzing GC issues with PerfView and ETW events._

Hi everyone,

we are currently having some performance issues with one of our commercial products and are trying to analyze the reasons for it.

It appears to be coming from Generation 0 or 1 Garbage collections which are rather long (compared to other collections around the same time)
We are talking abou

[2019-06-13 11:26] stephentoub commented on #25149
cc: @maoni0

[2019-06-13 11:57] dcorbett-fivebridgesllc commented on #25142
I did try .net core 3.0 in my docker work ( have moved passed WSL since I originally posted this to the Developer Community and then was redirected here ).    It didn't mention Dllmain OR PAL_RegisterModule but still crashed on me around the same place.. ;-(

I've used gdb in prior lives with C/C++ but not with dotnet core.   What's the best guide to using that in Linux/Docker?    The setup seems

[2019-06-13 13:21] MathiasMagnus commented on #18013
I'm following this thread because I was/am interested in being able to wrap native code with .Net to be consumed in PowerShell. I think it is far more likely to get a C++/WinRT-ish auxiliary compiler, which is able to generate ISO C++ header files from .Net assemblies, and a matching template library that is able to generate code for consuming native types from .Net code. This approach could be pu

[2019-06-13 13:33] andtii opened #25152 "createdump fails for unknown reason"
Running a creatdump using the mcr.microsoft.com/dotnet/core/aspnet:2.2.5 image result in a failure.

![image](https://user-images.githubusercontent.com/1434571/59436712-6c4a8000-8df0-11e9-902c-454b5364a85f.png)

[2019-06-13 13:52] danmosemsft commented on #20973
I wonder whether, if the gui but is not set and there is a console, we should simulate a dialog at the console (ask the same question there). But perhaps it is not possible to know whether the console is redirected.

[2019-06-13 15:20] jkotas commented on #20973
It is not possible to know whether there is somebody sitting in front of the screen, ready to respond. If somebody would prefer this behavior, they can implement it themselves. Introducing behavior like this by default would break half of the CI systems out there.

[2019-06-13 15:20] #25052 closed

[2019-06-13 15:22] ateregulov commented on #25052
The reason was the absence of a file appsettings.json

[2019-06-13 15:30] jkotas commented on #25142
You need to run the container with `--cap-add=SYS_PTRACE --security-opt seccomp=unconfined` to make the debugger work. Other than that, diagnosing this crash should be not different from how you would diagnose crash like this for C/C++.

[2019-06-13 15:34] forestbat opened #25153 "Reduce necessary DLLs footprint"
![图片](https://user-images.githubusercontent.com/23413915/59445826-e1d74000-8e32-11e9-97f0-3da5f6fe1731.png)
Let's see this picture which is a hello world app trimmed by IL linker。
We can see System.Private.CoreLib is the biggest，about 10MB，and some necessary dlls such as coreclr，mscordbi are also a bit big，so I think it's important to reduce their size or split them to smaller pieces.

[2019-06-13 15:39] BruceForstall commented on #25143
Looks like `COMPlus_TailcallStress=1`

[2019-06-13 16:09] MattGal commented on #25131
@sandreenko yes I think I understand this, two points:

- Most (all?) teams after the 2.x time frame have stopped pushing their packages to myget.  If your team is still doing so (I'm unaware of such;  but it's possible) then you're likely to hit the problem that the storage capacity of the https://dotnet.myget.org/F/dotnet-core/ feed is full, which is why most teams moved to using the sleet style

[2019-06-13 16:42] AaronRobinsonMSFT commented on #25153
cc @swaroop-sridhar @jeffschwMSFT @vitek-karas

[2019-06-13 16:43] AaronRobinsonMSFT commented on #25152
cc @leculver

[2019-06-13 16:47] leculver commented on #25152
@mikem8361 @tommcdon Can you guys take a look here?  Thank you!

[2019-06-13 16:49] joe-elliott commented on #25152
andtii is running createdump according to the guides in here https://github.com/joe-elliott/netcore-kubernetes-profiling

and reported an issue here:

https://github.com/joe-elliott/netcore-kubernetes-profiling/issues/4

I am able to reproduce that error by running the debian createdump against an application running in an alpine container.  Currently waiting on him to post yaml/other details that

[2019-06-13 17:23] crummel commented on #25058
We would like to keep Windows working if possible, especially since CoreCLR is near the start of the build.  We've both talked about killing it off and about source-build becoming the first-class build so it'd be nice to keep our options open.

[2019-06-13 17:28] #25133 closed

[2019-06-13 17:30] briansull commented on #25134
I will investigate further

[2019-06-13 17:32] davmason commented on #16796
Fixed in #24670. Documentation for how to use it is available at https://github.com/dotnet/coreclr/blob/master/Documentation/Profiling/Profiler%20Attach%20on%20CoreCLR.md

[2019-06-13 17:32] #16796 closed

[2019-06-13 17:33] jashook commented on #25058
Will address windows once the prebuilts are finished then.

[2019-06-13 17:44] AndyAyersMS commented on #25134
I looked a bit more, we are not paying attention to the GTF_UNSIGNED on the cast.

It's not clear to me how to safely handle subrange prop in casts that also change signedness  -- seems like we would have to do some math and possibly swap high and low bounds -- so I was thinking we should just bail out if we see these cases.

[2019-06-13 17:46] davmason commented on #15136
There are three recent changes to announce.

First, profiler attach/detach is now supported (#24670) leveraging the existing EventPipe work. You can find documentation on how to use it here: https://github.com/dotnet/coreclr/blob/master/Documentation/Profiling/Profiler%20Attach%20on%20CoreCLR.md. This means that the trigger process will use a completely different API, but the advantage is that it

[2019-06-13 17:48] AndyAyersMS commented on #25134
Also struck me as odd that `GenTree::CastFromType()` does not look at `GTF_UNSIGNED` either. Seems like this is just asking for trouble.

[2019-06-13 18:17] sandreenko commented on #25131
We do not publish CoreDisTools there. I am not sure about other packages.

I have a PR for it #25140.

[2019-06-13 18:21] cshung commented on #25132
@tannergooding Yes

[2019-06-13 18:28] mikedn commented on #25134
`CastFromType` should just be deleted. It's rarely used and all it does is to return the type of the cast operand. Not to mention that for unknown reasons it's on `GenTree` instead of `GenTreeCast`.

[2019-06-13 19:14] Maoni0 commented on #25149
@andy-ms would you please take a look?

[2019-06-13 19:16] AlekseyTs opened #25156 "Feature request: New IL instruction or new IL pattern to represent an invocation of a method implementation found in specific base type"
In C# and VB we are planning to add support for a special expression representing an invocation of an implementation of a particular virtual method from a specific base type. This includes virtual methods declared in classes as well as in interfaces.

Compilers have to make sure that there is a most specific implementation of the method in the specified base type, and, in that case, emit an instru

[2019-06-13 19:22] CarolEidt commented on #3539
@nietras - I'm going to close this issue as having been fixed by #22255 - it addressed the issues that I captured in the coreclr/tests/src/JIT/Regressions/JitBlue/GitHub_3539 test case.
Please feel free to reopen with more info, open a new issue, or add comments to the remaining open issues with struct code generation.

[2019-06-13 19:22] #3539 closed

[2019-06-13 19:25] stephentoub opened #25157 "DiagnosticCounter locks on a string"
https://github.com/dotnet/coreclr/blob/b62e7765e7f4171461b2597fe3174c211957f3ee/src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/DiagnosticCounter.cs#L94

This is generally a no-no, as it effectively leaks the lock to anyone else in the process (with only one AppDomain) locking on the same string object.

[2019-06-13 19:42] jkotas commented on #25157
It is better to lock on `this`.

[2019-06-13 19:43] jkotas commented on #25157
Also, do you need to also lock on the consuming side?

[2019-06-13 20:41] stephentoub commented on #25157
It looks like all of the consumers do, just at a higher level.  It'd be nice if there were `Debug.Assert(Monitor.IsEntered(MyLock));`s in the GetMetadataString to make that more obvious.

I don't know how performance-sensitive this code is, but there's also improvements that could be done around allocations and the like.

[2019-06-13 20:52] mikem8361 commented on #24092
I still won't bother with merging the changes into coreclr.  The diagnostics repo SOS has a lot of new features and fixes that coreclr doesn't.

I need to discuss this with Tom, but I still do want to remove SOS from coreclr in the Preview 7 timeframe otherwise it will probably ship with 3.0.

[2019-06-13 21:03] swaroop-sridhar commented on #25153
CC: @sbomer

[2019-06-13 21:04] swaroop-sridhar commented on #25153
Related issue: #24397

[2019-06-13 21:21] #22762 closed

[2019-06-13 21:45] fadimounir commented on #24565
@wieslawsoltes Do you have a callstack for the BadImageFormat exception?
It could be the same issue as #25009.

[2019-06-13 21:49] dcorbett-fivebridgesllc commented on #25142
Getting it to crash is the problem..  It just exits ( with 0 ), at the point the P/Invoke should be happening.  It's obviously loading the .so as it's calling init on it and all referenced .so.   Right now, the only idea I have is to debug the coreCLR to load the managed code and hope that I can set a breakpoint in the managed code right before the P/Invoke...   Or perhaps the CoreCLR implantation

[2019-06-13 21:59] fadimounir commented on #24122
Updated by https://github.com/dotnet/coreclr/commit/c5c68b13bbf08d9047b1a894df5fe7f8bb3d239d#diff-0e07040e38946420c93fb02adf9247d0

[2019-06-13 21:59] #24122 closed

[2019-06-13 22:00] fadimounir commented on #23640
@davidwrighton assigning this to you since you're currently working on perf.

[2019-06-13 22:02] fadimounir commented on #19797
Crossgen is now usable from the SDK. See: https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0-preview-6/

Closing issue.

[2019-06-13 22:02] #19797 closed

[2019-06-13 22:07] vitek-karas commented on #25153
I just want to point out that this automatically assumes that self-contained app is necessary. It's very possible that in your scenario that is the case, but maybe not. Note that framework dependent apps are "MUCH" smaller - no amount of ILLinker will be able to get the app to the size of framework dependent app.

[2019-06-13 22:49] josalem commented on #19688
Just validated that the format does indeed encode and decode a 64 bit value (it gets truncated to 32 bits after being decoded when exposed via API).

[2019-06-13 22:49] #19688 closed

[2019-06-13 23:01] sebastienros commented on #23640
All the scenarios we track however show better startup

![image](https://user-images.githubusercontent.com/1165805/59472733-5048dd80-8df4-11e9-8b8d-ec1edbddc69e.png)

But we have some differences with the default template, like we don't enable logging, also we keep the default TieredCompilation settings, meaning it's not enabled in 2.2 but it is in 3.0.

[2019-06-13 23:14] jkotas commented on #23640
Thanks for confirming this.

We have made number of changes for 3.0, we have still several changes in flight for 3.0, and we will continue looking on startup beyond 3.0.

[2019-06-13 23:14] #23640 closed

[2019-06-13 23:25] noahfalk commented on #19622
Does the technique forego handling all the cases that are not direct calls (I didn't get a chance to look through the implementation so forgive me if its all handled in some way in there)? I'm assuming these cases aren't handled:
a) Virtual calls
b) Interface calls
c) Delegate calls
d) COM-interop calls
e) Reflection calls

[2019-06-13 23:44] swaroop-sridhar commented on #24397
@tomrus88 the fix for dotnet/sdk#3257 isn't available in that release yet.
I've verified that the fix works in the SDK branch.

[2019-06-13 23:46] cup commented on #24397
https://github.com/dotnet/coreclr/issues/25153

[2019-06-13 23:48] josalem commented on #25014
Taking a look at a trace generated using master, I am only seeing `MethodILToNativeMap` events, and no `MethodDC*` events

[code]

I'm going to take a look at the Rundown and see what might be causing this to happen.

CC @sywhang @jorive

[2019-06-13 23:49] sywhang commented on #25014
Thanks @josalem! Keep me updated before you leave next week :-)

[2019-06-13 23:50] cup commented on #25153
@vitek-karas you posted the same type of comment in my thread:

https://github.com/dotnet/coreclr/issues/24397#issuecomment-489396948

I didn’t appreciate it then, and I dont appreciate it now. I dont think that
type of "political" comment is appropriate. You may find this build style
distasteful, but it has legitimate and real world uses and situations that would
benefit from it.

Could you pleas

[2019-06-14 00:21] dcorbett-fivebridgesllc commented on #25142
Thanks everyone, in Ubuntu, they have disabled the crash support by default -- I found help though at this wiki page, and was able to turn it on:   https://wiki.ubuntu.com/Apport

Once the crash happened and I looked at a core dump, I realized that it was a memory issue caused by an error in the application ( that I had diagnosed previously ) and was unrelated to issues I mentioned above.

We are

[2019-06-14 00:21] #25142 closed

[2019-06-14 00:50] mikem8361 commented on #24092
Diagnostics repo SOS release criteria (ready to remove from the runtime/coreclr repo)
- [x] All SOS commands ported and working in diagnostics repo
- [x] Windows x64, x86 and arm supported and tested
- [x] Linux x64 supported and tested
- [ ] Linux arm and arm64 supported and tested
- [x] Linux MUSL based distros (i.e. Alpine) supported
- [x] Windows SOS published in the internal extension gallery

[2019-06-14 01:20] VincentBu opened #25163 "[x64] Test failed: System.Runtime.InteropServices.Tests.Int16Tests.ReadInt16_StructWithReferenceTypes_ReturnsExpected"
**Job:**
https://mc.dot.net/#/user/coreclr-corefx/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcorefx~2F/20190613.1/workItem/System.Runtime.InteropServices.Tests/analysis/xunit/System.Runtime.InteropServices.Tests.Int16Tests~2FReadInt16_StructWithReferenceTypes_ReturnsExpected

**Failed tests:**
System.Runtime.InteropServices.Tests.Int16Tests.ReadInt16_StructWithReferenceTypes

[2019-06-14 01:41] forestbat commented on #25153
@vitek-karas Framework dependent apps still need cost at least 70MB space on disk，doesn't it？
@AaronRobinsonMSFT @swaroop-sridhar @cup @sbomer @jeffschwMSFT
IL linker works like -jlint in Java9，however the largest piece of a trimmed JRE is jbase——it's 17MB！With CoreCLR's changing，Corelib may be larger and larger until it become a new “jbase”，it's not a good future。
And I'm a player of Minecraft Ja

[2019-06-14 01:50] #25086 closed

[2019-06-14 02:01] AaronRobinsonMSFT commented on #25153
@forestbat Yes the disk cost will still be 70 MB. @vitek-karas's point is that it can be a one time cost shared across all potential applications. If the machine will have multiple .NET applications using the same framework then the cost can be shared across all of them since each one will use the same CoreCLR. If however there is only a single program using CoreCLR then the cost isn't shared and

[2019-06-14 04:41] AaronRobinsonMSFT commented on #25163
Fixed by https://github.com/dotnet/corefx/pull/38464

[2019-06-14 04:41] #25163 closed

[2019-06-14 05:49] ibbcall commented on #969
any updates on MIPS support?

[2019-06-14 06:03] BruceForstall commented on #969
Microsoft currently has no plans or work in progress to support MIPS. Of course, we would be willing to accept external contributions towards that goal as appropriate. Note that it is, certainly, a significant amount of work to port .NET Core to a new platform.

[2019-06-14 06:32] AriNuer opened #25164 "Test failure: JIT_jit64._opt_cse_HugeArray_HugeArray_/_opt_cse_HugeArray_HugeArray_sh"
The test `JIT_jit64._opt_cse_HugeArray_HugeArray_/_opt_cse_HugeArray_HugeArray_sh` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : Master - 20190613.1 (Ready-To-Run Tests)
Failing configurations:
- Ubuntu.1604.Arm32
  - arm

Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fr2r~2Fcli~2F/build/

[2019-06-14 06:50] andtii commented on #25152
This is exactly what we are doing, we have a lot of producion containers running and we want to have a sidecar container that has everything needed to generate the dumps. The sidecar container is debian 2.2.5 and the prod container is the alpine 2.2.5. We have this production issue where something eats up all our memory and i have spent 1 week just trying to get a dump from the production containe

[2019-06-14 07:08] Cronan opened #25165 "Corporate proxy problem with docker debug build"
Hi, I'm trying to build a debug version of dotnet core on centos 7 using docker:

[code]

My problem is that I'm doing this in a corporate environment where nuget.org is not permitted via the proxy.
We have an inhouse jfrog artifactory instance that I can usually point at by editing the NuGet.config files.
And it fwds on requests to api.nuget.org.
I can't get this to work in the docker build - not

[2019-06-14 07:11] Cronan commented on #24471
I'm still trying to get a successful build, no joy so far.
#25165

[2019-06-14 08:10] janvorli commented on #25165
I wonder if adding `--net=host` to the `docker run` command line would fix the problem.

[2019-06-14 08:17] Cronan commented on #25165
Ty, running now ...

[2019-06-14 08:20] theaoqi commented on #969
We (Loongson) are trying to port .NET Core (2.1 now, then will update to master) to MIPS64 and have just started this work recently. @liujianm @ibbcall

[2019-06-14 08:24] Cronan commented on #25165
No joy - same error

[2019-06-14 08:26] janvorli commented on #25165
And if you try `wget https://api.nuget.org/v3/index.json` on the machine where you run the docker, does it work?

[2019-06-14 08:39] am11 commented on #969
@theaoqi, just FYI, the master branch builds with GCC as well as Clang, while <kbd>release/2.1</kbd> only builds with Clang. I am using master for SmartOS (Solaris) amd64 port work. :)

[2019-06-14 08:39] redfox105 commented on #969
Is there a release plan?

[2019-06-14 08:46] theaoqi commented on #969
Thanks! I didn't know that and will consider this:)

[2019-06-14 08:49] theaoqi commented on #969
Not yet. Although we have some experience with porting OpenJDK to MIPS64, but we are not familiar with .NET. This is huge work, I cannot give a plan now.

[2019-06-14 09:25] wieslawsoltes commented on #24565
I do not have call stack.

[2019-06-14 09:56] Cronan commented on #25165
That works, but I think only because `wget` respects the HTTP_PROXY environment variables I have set :-(

[2019-06-14 10:07] Cronan commented on #25165
For my own builds, I have modified the NuGet.config file to replace api.nuget.org with
`http://artifactory.cronan.org/artifactory/api/nuget/v3/nuget`
(an internal [repository manager](https://jfrog.com/artifactory/) that delegates calls to nuget.org)
but there are so many files in the coreclr repo that refer to nuget that I'm not sure what to change, or whether this would even work ...

[code]

[2019-06-14 10:27] janvorli commented on #25165
How about setting the HTTP_PROXY on the docker run command line too? I don't really know, but .NET Core  might honor that. Adding `-e HTTP_PROXY` should make the setting of HTTP_PROXY env var to be the same in the container as in the host machine.

[2019-06-14 10:43] PiotrSpikowski opened #25166 "Stack Smashing Failures (SIGSEGV) instead of NullReferenceExceptions"
I don’t know if it’s related to #16276 but it’s possible to end up in the stack smashing detected failure instead of `NullReferenceException`

We are trying to consume some native libraries e.g. the IBM MQ Client. As far as I can tell the IBM MQ sets up its own signal handlers. By doing this it saves any previously registered handler for each signal. The library handles one of the signals and then

[2019-06-14 10:46] Cronan commented on #25165
That's a good idea :-) I'll have a run done in 5 mins

[2019-06-14 10:57] Cronan commented on #25165
That works! You're a hero! (also needed HTTPS_PROXY)

[code]

[2019-06-14 11:15] #25165 closed

[2019-06-14 11:18] jkotas commented on #25166
cc @janvorli

[2019-06-14 11:28] Cronan commented on #24471
Build working :-)
Quick question - if I need to run the tests does this need to be done from the docker container?
I'm seeing a hang, but might be proxy again ...

[code]

[2019-06-14 11:41] chrishaly opened #25167 "Exception try catch performance 10 times low than java"
A compare test did, result says: performance of try catch throw Exception in .Net is over 10 times slow than in Java.

Reproduce:

C# code
[code]

Java Code
[code]

Test Result:

2151/175=12.29

[2019-06-14 11:51] YohDeadfall commented on #7592
Resolved via #25145 by @jkotas.

[2019-06-14 11:51] YohDeadfall commented on #16621
Resolved via #25145 by @jkotas.

[2019-06-14 12:01] RussKeldorph commented on #16802
@adiaaida @brianrob Can you confirm the "No .PGC" files are still benign?  I would be surprised if other teams using PGO just live with these warnings, so I suspect we are doing something non-standard/non-blessed from the C++ tools' point of view.  Do you happen to know if that's the case, and, if so, why we're different?

[2019-06-14 12:12] RussKeldorph commented on #24448
@AaronRobinsonMSFT Can this be addressed now, or do we need to wait until the test dependencies are fixed as well?

@jashook @elinor-fung

[2019-06-14 12:36] gpomykala commented on #25123
I have the coredump file, can i submit it to dev team in any other way than sharing the link in public?

[2019-06-14 12:57] gpomykala commented on #25123
I followed the debugging instruction at https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md
 but the lddb itself crashes with SEGFAULT:
osboxes@osboxes:~$ lldb-3.9 -O "settings set target.exec-search-paths ~/dotnet/" -o "plugin load /home/osboxes/dotnet/shared/Microsoft.NETCore.App/2.2.1/libsosplugin.so" --core ~/dotnet/dump ~/dotnet/dotnet
(lldb) setting

[2019-06-14 12:59] #24996 closed

[2019-06-14 13:05] gpomykala commented on #25123
#58 suggests that lldb does not work with ARM coredumps, is that still the case?

[2019-06-14 13:10] #23647 closed

[2019-06-14 13:13] RussKeldorph commented on #22134
@billwert @adamsitnik Is this already covered in dotnet/performance?  If not, will it be?

[2019-06-14 13:16] RussKeldorph commented on #15333
Closing in favor of #21134

[2019-06-14 13:16] #15333 closed

[2019-06-14 13:16] RussKeldorph commented on #21305
Closing in favor of #21134

[2019-06-14 13:16] #21305 closed

[2019-06-14 13:17] janvorli commented on #25123
Yes, it is. Newer LLDB versions actually don't crash, but all threads have wrong state of processor registers, so it cannot show you stack or anything useful. The bug causing that was fixed in lldb master branch (so even the version 8 still has that bug).
I have built lldb 8 from the sources myself (cross building on x64 linux box as build on arm32 device takes ages), applying the fix from master

[2019-06-14 13:18] RussKeldorph commented on #21846
These jobs are gone and to be replaced via #18756

[2019-06-14 13:18] #21846 closed

[2019-06-14 13:18] Cronan commented on #24471
I answered my own question, running tests from the docker container works fine - time to actually start debugging the crash dump

[2019-06-14 13:22] gpomykala commented on #25123
Hi, thanks for your reply. That lldb build may work since I use Ubuntu
18.04. thanks in advance

pt., 14.06.2019, 15:18 użytkownik Jan Vorlicek <notifications@github.com>
napisał:

[2019-06-14 13:46] janvorli commented on #25123
@gpomykala here is a link. It will be valid till tomorrow: https://1drv.ms/u/s!AkLV4wRkyHYhxWfasyamnzHlW5kI?e=EQ9IW4

This tarball contains the whole LLVM (lldb, clang, etc). The lldb is at `LLVM-8.0.0-Linux\bin\lldb`. You just run this lldb using its full path. No PATH variable modification is needed.

[2019-06-14 14:08] #16621 closed

[2019-06-14 14:14] janvorli commented on #25166
@PiotrSpikowski the issue is most likely due to the fact that coreclr uses an alternate stack for handling sigsegv, That means that when we register the sigsegv handler, we also set SA_ONSTACK flag which tells the kernel to call the handler on a stack that is registered for these purposes using the sigaltstack API instead of the stack of the failing thread. The reason why we do that is that withou

[2019-06-14 14:14] SamuelEnglard commented on #18013
As a rule: Most of what C++/CLI does can be done with just P/Invoke. The biggest that cannot is merging the two assemblies into one.

If you want a tool to help you:

- If you simply want to call C++ code from .NET, [SWIG](http://swig.org/) is your best bet.
- To go the other way, look at [.NET Embedding](https://docs.microsoft.com/en-us/xamarin/tools/dotnet-embedding/)

[2019-06-14 14:19] gpomykala commented on #25123
Thanks for the link, i have no luck with the build though: ./lldb: error while loading shared libraries: libtinfo.so.5: cannot open shared object file: No such file or directory
Since it is an ARM32 exec with dynamically linked dependencies it would need the toolchain we use.
i may try to build it on my own from sources - would you share the # of the fix applied from master?

[2019-06-14 14:23] karelz commented on #7592
Fixed by #25145

[2019-06-14 14:23] #7592 closed

[2019-06-14 14:24] adamsitnik commented on #22134
In the old perf lab, the tiered JIT was always disabled.

At the end of February, we have added runs for tiered and non-tiered micro benchmark runs to the performance repo https://github.com/dotnet/performance/pull/340 Initially, the gap was huge for some of the benchmarks with "hot loops"

After @kouvel has merged https://github.com/dotnet/coreclr/pull/23599 the gap dissapeared.

![obraz](https:/

[2019-06-14 14:29] janvorli commented on #25123
I think you just need to install that library. The package name is `libtinfo5`.

Here is the LLDB commit that fixed the issue if you still want to build it yourself:
https://github.com/llvm-mirror/lldb/commit/2c4669267bfaf9277f9df44291cac090ae23f840

[2019-06-14 15:08] PythonSmith commented on #9946
I'm currently making a python script to fix the termux-packages which are not available anymore. It will automatically load the latest version of the required termux library packages. Hopefully it compiles with the new libraries too.

[2019-06-14 15:17] AaronRobinsonMSFT commented on #24448
I believe @elinor-fung fixed these warnings.

[2019-06-14 15:56] andy-ms commented on #25149
Based on what I see there -- the time gap is between a Join and the LastJoin. This implies that all threads but one finished by .327, and the last one didn't finish until .424. (After that it quickly restarted the others.) In the time between Join and LastJoin all threads but one would naturally be idle and waiting in the join, so the only question is what that one thread (ThreadId 5224) was doing

[2019-06-14 16:24] Symbai commented on #25167
For me it seems like there is a huge regression on .NET Core comparing to .NET Framework.

[code]

| Method |     Job | Runtime |     Toolchain |       Mean |     Error |    StdDev | Rank |     Gen 0 | Gen 1 | Gen 2 | Allocated |
|------- |-------- |-------- |-------------- |-----------:|----------:|----------:|-----:|----------:|------:|------:|----------:|
|    Run | Default |    Core | .NET Cor

[2019-06-14 16:27] stephentoub commented on #25167
See https://github.com/dotnet/coreclr/issues/22224#issuecomment-499657814

[2019-06-14 16:44] tommcdon commented on #24092
@mikem8361 I've moved the issue back to 3.0.  Thanks for putting together the release checklist!

[2019-06-14 16:54] RussKeldorph commented on #24448
@AaronRobinsonMSFT This is what I see from a build this morning https://dev.azure.com/dnceng/public/_build/results?buildId=225141.  The warnings look similar, so I assumed this still needs work.

[code]

[2019-06-14 17:20] octum-mf commented on #25149
![grafik](https://user-images.githubusercontent.com/51707300/59526453-3f25cc80-8ed9-11e9-9101-f393610a2eb7.png)

As far as I can extract from the data we have gathered the thread with id 5224 appears to be none that we have started (or at least none from which we write any kind of own ETW events that would tell us what this thread does)

I would love to provide you with the data but the zipped ETL

[2019-06-14 17:24] jkotas commented on #22224
This performance regression is caused by a issue in the [Control Flow Gurard](https://docs.microsoft.com/en-us/windows/desktop/SecBP/control-flow-guard) (CFG) feature in certain Windows versions. It will be fixed in a future Windows update.

The .NET Core applications are opted into CFG by default. If this performance regression is a blocking problem for you, it can be worked around by disabling C

[2019-06-14 17:24] #22224 closed

[2019-06-14 17:29] RussKeldorph commented on #25146
@dotnet/jit-contrib

[2019-06-14 17:32] octum-mf commented on #25149
Maybe this helps as well: A screenshot of the Thread time Stacks of the given time frame and this specific thread 5224
![grafik](https://user-images.githubusercontent.com/51707300/59527113-05ee5c00-8edb-11e9-87f3-42c333532da4.png)

Unfortunately this tells me nothing, but maybe you can see something in it.

[2019-06-14 17:36] mikem8361 commented on #25152
If I understand correctly, you are in a debian container using the createdump from the debian .NET Core runtime trying to generate a dump in an Alpine container.

The problem is that debian/alpine versions of the createdump and the DAC (libmscordaccore.so) are not compatible. Debian is built with glibc and Alpine is built with musl libraries. The debian createdump is looking for debian libmscordac

[2019-06-14 17:38] RussKeldorph commented on #24425
Assuming that it is reasonable to leave this issue as documentation.

[2019-06-14 17:38] #24425 closed

[2019-06-14 17:44] RussKeldorph commented on #24921
This might be more appropriate to ask in https://github.com/dotnet/core, but I'm not sure it will get more visibility, so I can leave it open.

@richlander @terrajobst

[2019-06-14 18:18] AndyAyersMS commented on #25146
Yes, codegen for `Get2` could be better... at first blush it looks like the conversion of the constant offset to `IntPtr` is blocking the jit's ability to optimize. Let me look deeper.

[2019-06-14 18:19] josalem commented on #25014
I went back and compared preview 5, 6, and 7 trace outputs.  It would seem we stopped getting these events _between_ previews 5 and 6.

[2019-06-14 18:23] jorive commented on #25014
@josalem does it work in `preview 7`?

[2019-06-14 18:27] josalem commented on #25014
There are no `Method*` events showing up in the traces from preview7.

[2019-06-14 18:32] elinor-fung commented on #24448
I handled the duplicate imports for packaging, signing, and optdata (so the one from init.csproj is gone), but did not get around to going back to try to fix the ones from System.Private.CoreLib and managed tools.

I think I could easily avoid those warnings right now by just not adding those imports if `ArcadeBuild` is true. A nicer fix should also be possible before tests are moved off of BuildT

[2019-06-14 18:32] tomrus88 commented on #24397
Single file size statistics for .NET Core SDK 3.0.100-preview7-012403

Project Type | Self Contained | Single File | Single File+Trim
------------ | ------------ | ------------- | -------------
Console | 67.4MB | 67.4MB | 27MB
WinForms | 151MB | 151MB | 86.9MB
WPF | 151MB | 151MB | 86.9MB

So double write bug appears to be fixed in latest preview build and file size is slightly lower now.

[2019-06-14 18:52] sergiy-k commented on #19322
Many of these methods have the MethodImplOptions.AggressiveOptimization attribute which makes them ineligible for R2R and QuickJIT (Tier0).

I think that we should at least allow to CrossGen them and use the precompiled (potentially less efficient) code if Tiered Compilation is enabled.

@jkotas, @MichalStrehovsky, what do you think?

[2019-06-14 18:55] Perksey commented on #24921
My apologies.

[2019-06-14 18:56] jkotas commented on #19322
The reasons for which these methods got marked with AggressiveOptimization should not longer apply with the recent change. I think it should be able to just remove the AggressiveOptimization flag on them.

[2019-06-14 19:07] AndyAyersMS commented on #25146
Actually the jit copes with the constant `IntPtr` ok. The issue is that in `Get2` we break the expression tree up to enable inlining and don't ever patch it back together. So we end up (after a bit of optimization) with two trees, one that forms `&array[0]` and null checks, and the other that adds 4 and indirects:
[code]
and that's what we end up generating code for.

Ideally the jit would notice

[2019-06-14 19:35] Maoni0 commented on #25149
if you could get rid of that GroupPats part (ie, just delete what's in that textbox) it would be more informative. but it looks like it's actually blocked on allocating native on the nt heap and we don't do that often at all from the GC. perhaps something else is allocating and GC is just waiting for a long time to get the lock.

[2019-06-14 19:48] #22964 closed

[2019-06-14 19:48] #25080 closed

[2019-06-14 19:55] VSadov commented on #24028
There is one in a different testcase.

[code]

I suspect it is the same issue. Although there is no Interlock.Exchange involved.

[2019-06-14 19:56] VSadov commented on #24028
Also the hits seem to have stopped after 06/07.   I wonder what changed...

[2019-06-14 20:30] AaronRobinsonMSFT commented on #19440
I am no longer able to reproduce this issue.

[2019-06-14 20:30] #19440 closed

[2019-06-14 20:35] octum-mf commented on #25149
@andy-ms
I was able to upload the ETL trace to OneDrive:
[ETL Trace ZIP](https://1drv.ms/u/s!AlKbWijGMpkUaXNwjWku8uT_g9s?e=rDoKuT) (appprox: 855 MB)
Thank you for looking into it!

@Maoni0
Did you mean like that?
![grafik](https://user-images.githubusercontent.com/51707300/59536632-78b80100-8ef4-11e9-8ee0-a67611b21663.png)

Unfortunately I don't quite understand what to make of what you are saying

[2019-06-14 20:38] sywhang commented on #25014
So @josalem and I were able to narrow it down to this commit: https://github.com/dotnet/coreclr/commit/451fd23fa2179fa22c831bcf84edd547bfba5cd9, but the change is quite large and I haven't been able to fully narrow it down what specifically broke it. I'll investigate further after the remainder of training today.

[2019-06-14 20:40] RussKeldorph commented on #23525
The R2R stuff mentioned by @echesakovMSFT was fixed by @sergiy-k in #23781, #23801, etc.

I think the other stuff is Jenkins-specific, but please re-open (and fix the title) if I'm wrong.

[2019-06-14 20:40] #23525 closed

[2019-06-14 20:41] Maoni0 commented on #25149
you should not be executing this code on production, at all. this is only for diagnostics purpose. if you check the events you are collecting they should not include events like GCHeapSurvivalAndMovement or GCBulk*.

[2019-06-14 20:44] octum-mf commented on #25149
I am sorry, I am at loss. What code do you mean?
We have collected every ETW event we saw a chance of giving us any kind of information.
Was that wrong?
What exactly did we do wrong?

[2019-06-14 20:58] Maoni0 commented on #25149
sorry. I should've been more clear. you should never, ever see `gc_heap::record_survived_for_profiler` running in production normally. this is only executed if you've asked for the survival info via profiling or ETW. this incurs a lot of overhead and you should ask for it if you actually use this info (eg, you could have it on for a short period of time if you want to see how the survived memory g

[2019-06-14 21:08] msedi opened #25175 "Array.GetValue has slowed down in .NET Core 3.0"
C# generic support for arrays is not very good. In my case I did a few benchmarks since I have to deal with a lot of different and large array types. I often need to cast from one type into another. Therefore I have was thinking of creating an ArrayView wrapper, that delegates the cast to the indexer, so that anytime I access the indexer, the cast is executed. You might think this is nonsense, but

[2019-06-14 21:08] octum-mf commented on #25149
Ah I see. You are suggesting that we are actually now seeing this issue because we have asked for too much information, which comes with a added price tag of additional loss of performance.
Which probably now hides the actual issue we were encountering and trying to analyze in the first place.

Indeed then, a correct commandline would be a of great help to us and would be greatly appreciated.

[2019-06-14 21:34] andy-ms commented on #25149
Here's a command we use that collects join events and cpu samples:
[code]

[2019-06-14 21:55] AaronRobinsonMSFT commented on #18617
@janvorli and @jkotas Is there a specific plan for 3.0?

cc @jeffschwMSFT @GrabYourPitchforks

[2019-06-14 21:58] AaronRobinsonMSFT commented on #19203
@tannergooding Were you able to reproduce this issue? Is this something we can do or do we need to loop in the VC++ team?

[2019-06-14 22:03] AaronRobinsonMSFT commented on #19739
Talking to internal teams it appears the current POR is to have these delivered in a similar time for the release of 3.0. This means there probably isn't time to remove the workarounds prior to those fixes. Moving this to 3.x timeframe.

[2019-06-14 22:05] AaronRobinsonMSFT commented on #19828
@GrabYourPitchforks Is this something needed for the 3.0 timeframe? If so, is there a specific plan for adding this API (i.e. do we need a review?)

[2019-06-14 22:08] echesakovMSFT commented on #22749
These tests were disabled in https://github.com/dotnet/coreclr/pull/22774

[2019-06-14 22:09] tannergooding commented on #19203
@AaronRobinsonMSFT. Yes, I was able to reproduce this.

I believe this is already tracked by one of the C++ bugs I logged internally, but I will double-check and log a new one if not.

This is also part of a bigger picture with System.Math/MathF that is being tracked internally. I can share more details offline if necessary.

[2019-06-14 22:12] RussKeldorph commented on #22749
@jashook Could you check if we've picked up a fixed Roslyn and reenable the test build if so?

[2019-06-14 22:13] tannergooding commented on #19739
I also don't believe we can remove these until we make the new CRT a baseline requirement for running CoreCLR (I don't believe we want someone hitting this issue if they build locally using VS 2017, for example).

We can certainly change the `#ifdef`, however 😄

[2019-06-14 22:14] RussKeldorph commented on #23192
Not clear what this was.

[2019-06-14 22:14] #23192 closed

[2019-06-14 22:15] RussKeldorph commented on #21043
@DrewScoggins @adiaaida @adamsitnik @jorive I assume this is obsoleted by the dotnet/performance repo.  Please re-open if I am mistaken.

[2019-06-14 22:15] #21043 closed

[2019-06-14 22:16] jashook commented on #22749
Sure will do.

[2019-06-14 22:33] octum-mf commented on #25149
Thank you very much! Come Monday we will use this to collect new data.

In the meanwhile, since we are trying to gain some knowledge, a question about this commandline:
What does the
ClrPrivate:1:5
and
Clr:1:5 Part
resolve to? Is there some Documentation what those exactly are or mean?

(BTW: I find the page [GC ETW Events](https://docs.microsoft.com/en-us/dotnet/framework/performance/garbage-coll

[2019-06-14 22:34] sergiy-k commented on #25164
@fadimounir, it seems that crossgen crashed while compiling this test.

[2019-06-14 22:34] jorive commented on #21043
/cc @billwert

[2019-06-14 22:40] AaronRobinsonMSFT commented on #19203
@tannergooding Not necessary. My main goal was simply to set milestones for issues tagged with VM. If this is something that is post-3.0, then feel free to tag as needed. If 3.0, do we have a plan to deliver it?

[2019-06-14 22:40] fadimounir commented on #25164
Taking a look

[2019-06-14 22:57] Suchiman commented on #25175
Well GetValue returns object so it means every access while get boxed, that is super expensive as you can see when you slap `[MemoryDiagnoser]` on the benchmark
[code]
|           Method |        Mean |     Error |    StdDev |  Gen 0 | Gen 1 | Gen 2 | Allocated |
|----------------- |------------:|----------:|----------:|-------:|------:|------:|----------:|
|       SumClassic |    501.1 ns |  1.17

[2019-06-14 23:16] RussKeldorph commented on #22134
@adamsitnik Thanks!

[2019-06-14 23:16] #22134 closed

[2019-06-14 23:58] sandreenko commented on #25067
JIT/superpmi/superpmicollect/superpmicollect.sh fails with the same symptoms.

I will take a look at what do we have on the stack.

[2019-06-15 01:14] kouvel commented on #19322
When the issue was filed CoreLib was NGen'ed and for some reason the listed methods were reporting `IsZapped() == true` but without having pregenerated code, hence they were not eligible for tiering and were being jitted with optimizations. Closing since the original case does not show up anymore with CoreLib being R2R'ed.

[2019-06-15 01:14] #19322 closed

[2019-06-15 01:16] chrishaly commented on #25167
Tested on Virtual Machine Ubuntu 18.04.2 LTS

3405/237=14.367

[2019-06-15 02:23] andy-ms commented on #25149
I believe `1` is the code for GC and `5` means verbose.
PerfView's own documentation has info about more arguments: Open PerfView, go to Help -> Command Line Help.
Passing `-BufferSize` is probably unnecessary as the default is 256. The command I posted above was from our infra which calculates it based on how large we think a test run can get.
The event names in the documentation you linked to sh

[2019-06-15 02:26] noahfalk opened #25178 "Lttng tracepoints enabled unnecessarily?"
@chrisnas sent some feedback:

Last but not least, a little related bug:
If the CLR is compiled but there is no LTTng library, the genLttngProvider.py script will generate a stub for this method tracepoint_enabled:
#define tracepoint_enabled(provider, name) TRUE
And this function is used, in the end, by GCToEEInterface::UpdateGCEventStatus method. And as the value is TRUE, the GC events will be em

[2019-06-15 03:31] echesakovMSFT commented on #20799
Closed via https://github.com/dotnet/coreclr/pull/20900

[2019-06-15 03:31] #20799 closed

[2019-06-15 05:32] #24448 closed

[2019-06-15 06:06] forestbat commented on #25153
![图片](https://user-images.githubusercontent.com/23413915/59547712-d50f3500-8f75-11e9-954c-3f4849d739ca.png)
And this is WPF app which has been trimmed。
![图片](https://user-images.githubusercontent.com/23413915/59547761-9ded5380-8f76-11e9-812b-6c6f7ad724c6.png)
This is ASP.NET Core app which has been trimmed。

[2019-06-15 14:30] Korporal opened #25182 "issue"
This is just a question because I was [surprised to learn](https://github.com/dotnet/csharplang/issues/2585#issuecomment-500042937) that C# does not implement it's own mathematical library. For example Math.Pow() relies on the C runtime which could behave differently on different platforms.

There are in fact two problems with this approach:

1. Code could behave differently or compute different r

[2019-06-15 15:06] CyrusNajmabadi commented on #25182
I don't think that's anything about C.  C# can behave differently or produce different results on different platforms.  Floating point math, for example, is defined at the common runtime level (i.e. above C) in a way that allows for it to produce different results.

A large part of this is that the runtime doesn't want to dictate choices that might be seriously inefficient for some platforms.

You

[2019-06-15 15:10] CyrusNajmabadi commented on #25182
For example, if you read the CIL: https://www.ecma-international.org/publications/standards/Ecma-335.htm

Being C or not doesn't really matter.  What matters is the leeway the specification gives impls as to how these sorts of operations can perform.

[2019-06-15 15:16] Korporal commented on #25182
@CyrusNajmabadi - Well it's not so much that the current math routines are written in C but that the C runtime at compile time (used by the compiler) may not be the same as that present at runtime and this could lead to differences.

For example if it ever became possible to initialize constants by calling pure methods (e.g. Math.Pow) then there is a risk that the values computed during compilatio

[2019-06-15 15:20] CyrusNajmabadi commented on #25182
This would still be an issue for C# though.  Because there's no pure def for FP at the CIL level.

Even if they were written in C, the compiler could still use them.  THe primary problem is that for something to be pure you need to guarantee that it actually can be pure.  This means at the specification level (regardless of impl) you need to limit to things you know will always produce the same re

[2019-06-15 17:04] onovotny commented on #25153
I would love to see a significant reduction in the final trimmed size as well. Not sure what the right mechanism is yet (more aggressive trimming of the private corlib, splitting into different modules, something else?). This also plays into the single-exe AOT story.

[2019-06-15 17:33] forestbat commented on #25153
@onovotny I think splitting into smaller modules and reduce footprint of every dll are better than trimming dlls more aggressively，because trimming a full assembly will probably generate no-standard dlls and bring some trouble。
AOT such as Mono AOT or CoreRT can largely reduce the assembly，however it will lose syntax such as generic and we probably wait for compile like C++。

[2019-06-15 20:10] tomrus88 commented on #25153
I'm still not sure why they have 2 copies of mscordaccore.dll in output (mscordaccore.dll and mscordaccore_amd64_amd64_4.700.19.31301.dll). Both dll's are identical content wise, just different name...
Easy size reduction by 1.2MB by removing one of them...

[2019-06-15 21:48] 0xd4d commented on #25153
@tomrus88 most people who trim their apps probably don't want any of the debugger related files at all so they shouldn't even be there. DiaSymreader shouldn't be needed either since anyone who trims their app surely won't include the PDB files, and even if they did, they'd be portable PDBs not Windows PDBs.

[2019-06-15 23:47] joe-elliott commented on #25152
So I suppose the broader issue here is analysis of coredumps in the Alpine container.

When I use this base image:

[code]

I can successfully generate a coredump using createdump, and I can install and run lldb, but I am unable to use some of the sos commands:

[code]

lldb version is 5.0.2.  Any advice on how to overcome this?

[2019-06-16 00:07] mikem8361 commented on #25152
We haven't found a version lldb that worked on alpine. Which why we did dotnet-dump analyze where you can run SOS commands on core dumps without lldb. See the diagnostics repo on installation https://github.com/dotnet/diagnostics.git

[2019-06-16 02:57] drunkwcodes commented on #24921
Arduino related parts should be also seriously confirmed.

[2019-06-16 03:24] danmosemsft commented on #24921
@leecow

[2019-06-16 15:03] Korporal opened #25189 "Question: Hardware"
Apologies if this is not the ideal place for this question but I must start somewhere. Some years ago Microsoft created the .Net [Mico Framework](https://github.com/NETMF/netmf-interpreter) and did a rather good job.

However a few years ago support and enthusiasm from Microsoft faded and the project has languished ever since all but abandoned so far as others are concerned.

This spurned a few ot

[2019-06-16 18:35] mikem8361 commented on #25152
More specifically see this doc: https://github.com/dotnet/diagnostics/blob/master/documentation/dotnet-dump-instructions.md#dump-collection-and-analysis-utility-dotnet-dump

[2019-06-16 18:43] joe-elliott commented on #25152
Nice.  Thank you for the link.

I'm having issues getting `dotnet dump` to work, but that is probably a separate issue.  Filing a ticket with `dotnet/diagnostics`.

[2019-06-16 20:32] mattwarren commented on #25167
Benchmarking in Java is [hard to get right](https://www.oracle.com/technetwork/articles/java/architect-benchmarking-2266277.html), more so than .NET. You should consider writing a [JMH Benchmark](https://openjdk.java.net/projects/code-tools/jmh/) to ensure that the timings are correct (BenchmarkDotNet was partly inspired by JMH, so the benchmark code will look similar).

[2019-06-16 21:03] Suchiman opened #25190 "Inconsistent/Incorrect float formatting"
Using following code
[code]

On [.NET Framework](https://sharplab.io/#v2:EYLgHgbALANALiATgVwHYB8ACAmAjAWACgicBmIgbyIAJbqdsa6rC63qA3AQ0WoGUAlqgDmAGwCmANS6jk46gF5qEAKwB2KGoB0ubCoBmAbibt6uAJwAKQSInTZ4rQBUA9nziIhwywCIAxDB+QVoADCE+AJQRxqymZlY2YlIycs5uHl6WUTFsAL5xRES5QA=), this results in
[code]
which isn't entirely accurate but close enough.

On [.NET Core](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA

[2019-06-16 22:18] tannergooding commented on #25190
Custom numeric format strings, unfortunately, aren't going to be IEEE compliant for 3.0 and are supposed to be matching the previous behavior right now. I'm going to be taking another look at them for .NET 5, but there is still a good bit of compat work and follow up to do there (these, in particular, are commonly used for UX display, so extra care needs to be taken).

It looks like for `single-pr

[2019-06-16 22:36] sywhang commented on #20372
Active timer counter has been added via https://github.com/dotnet/coreclr/pull/25186 and https://github.com/dotnet/diagnostics/pull/342

[2019-06-17 00:48] sandreenko commented on #25131
Part of the issue was resolved by #25140, I will reopen it if it fails again because of infrastructure issues.

[2019-06-17 00:48] #25131 closed

[2019-06-17 01:20] VincentBu opened #25191 "[x64] System.InvalidOperationException : Cannot process request because the process has exited."
**Job:**
https://mc.dot.net/#/user/coreclr-corefx-jitstress2-jitstressregs/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcorefx~2F/20190615.1/workItem/System.Diagnostics.Process.Tests/analysis/xunit/System.Diagnostics.Tests.ProcessTests~2FTestProcessorAffinity

**Failed tests:**
 System.Diagnostics.Tests.ProcessTests/TestProcessorAffinity

**Log:**
[code]

[2019-06-17 01:22] VincentBu opened #25192 "Test failed: System.Diagnostics.Tests.PerformanceCounterTests.PerformanceCounter_NextValue_ProcessorCounter"
**Job:**
https://mc.dot.net/#/user/coreclr-corefx-jitstress2-jitstressregs/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcorefx~2F/20190615.1/workItem/System.Diagnostics.PerformanceCounter.Tests/analysis/xunit/System.Diagnostics.Tests.PerformanceCounterTests~2FPerformanceCounter_NextValue_ProcessorCounter

**Failed tests:**
System.Diagnostics.Tests.PerformanceCounterTests.Perfo

[2019-06-17 01:35] VincentBu opened #25193 "Test failed: baseservices_threading._events_EventWaitHandle_unit_ManualConstructTrue_ManualConstructTrue_._events_EventWaitHandle_unit_ManualConstructTrue_ManualConstructTrue_cmd"
**Job:**
https://mc.dot.net/#/user/coreclr-outerloop-gcstress-extra/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190615.1/workItem/baseservices.threading/analysis/xunit/baseservices_threading._events_EventWaitHandle_unit_ManualConstructTrue_ManualConstructTrue_~2F_events_EventWaitHandle_unit_ManualConstructTrue_ManualConstructTrue_cmd

**Failed tests:**
baseservices_t

[2019-06-17 01:42] VincentBu commented on #21581
[https://mc.dot.net/#/user/coreclr-outerloop-gcstress-extra/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190615.1/workItem/baseservices.threading/analysis/xunit/baseservices_threading._threadstatic_threadstatic07_threadstatic07_~2F_threadstatic_threadstatic07_threadstatic07_sh](https://mc.dot.net/#/user/coreclr-outerloop-gcstress-extra/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fh

[2019-06-17 01:46] VincentBu opened #25194 "Assert failed: !CREATE_CHECK_STRING(!\"Detected use of a corrupted OBJECTREF. Possible GC hole.\")"
**Job:**
https://mc.dot.net/#/user/coreclr-outerloop-gcstress-extra/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190615.1/workItem/Interop/analysis/xunit/Interop_ICustomMarshaler._ConflictingNames_MultipleALCs_MultipleALCs_~2F_ConflictingNames_MultipleALCs_MultipleALCs_cmd

**Failed tests:**
Interop_ICustomMarshaler._ConflictingNames_MultipleALCs_MultipleALCs_._Confli

[2019-06-17 02:11] jkoritzinsky commented on #25194
Looks like I didn’t get my GC_PROTECT statements quite right when I make custom marshalers unloadability friendly. I’ll look at this tomorrow.

[2019-06-17 02:37] stephentoub commented on #25192
Dup of https://github.com/dotnet/corefx/issues/38180

[2019-06-17 02:37] #25192 closed

[2019-06-17 02:50] smoogipoo commented on #24658
Is the fix for this supposed to be in preview 6? These are the current stats for construction of `object`:

|                 Runtime |     Mean |     Error |    StdDev | Gen 0/1k Op | Gen 1/1k Op | Gen 2/1k Op | Allocated Memory/Op |
|------------------------ |---------:|----------:|----------:|------------:|------------:|------------:|--------------------:|
| 2.2.5                   | 4.580 ns |

[2019-06-17 06:19] BrianHanechak opened #25195 "Span<T> performance issues on Linux versus Windows"
On Windows, I'm seeing that a function taking `Span<byte>` performs similarly to one taking `byte*` and a length parameter separately, but on Linux, the `Span<byte>` version is considerably slower.

Here's the source of my test program:

https://gist.github.com/BrianHanechak/f7fd69f636d6d25adeed6a8bbae28d5d

Any ideas as to why the Linux version performs differently?

`dotnet --version` reports `2

[2019-06-17 09:20] janvorli commented on #25182
We don't call C runtime directly for functions where the behavior can be different on Unix. We compensate for the differences in PAL. See e.g. the PAL_pow here (pal.h defines pow as PAL_pow):
https://github.com/dotnet/coreclr/blob/8f505558e6eb3019fbe47e24898f152afa1ef790/src/pal/src/cruntime/math.cpp#L472-L557

[2019-06-17 09:25] janvorli commented on #22749
We may want to use COMPlus_DefaultStackSize for our tests to override the default secondary stack size on OSX. It is only 512kB on OSX (as defined by the OS). The Linux default size is 2MB (see http://man7.org/linux/man-pages/man3/pthread_create.3.html#NOTES).

[2019-06-17 09:27] janvorli commented on #22749
Or, maybe better, make sure Roslyn works fine with that stack size Limit on OSX.

[2019-06-17 09:28] janvorli commented on #25014
cc: @jkotas

[2019-06-17 10:16] huoyaoyuan commented on #25195
Have you tried latest 3.0 preview? Maybe it's fixed but not shipped yet.

[2019-06-17 10:45] janvorli commented on #25148
cc: @Maoni0, @andy-ms

[2019-06-17 10:50] PiotrSpikowski commented on #25166
@janvorli the issue is clear now. The native library does not set the SA_ONSTACK flag.

Looking at this from a .NET developer perspective I would say that the option covering both cases (with an alternate and an original stack) is preferred. So from a dev point of view everything is better than a crash especially having in mind that:
* A crash might be detected late and only in some specific circu

[2019-06-17 11:27] janvorli commented on #25166
We don't handle stack overflows and fail fast. What I was referring to though is that we at least print error message "Stack Overflow" so that the user knows what was wrong. Without the alternate stack, the sigsegv handler isn't even called (because there is no space on the stack for the signal context etc), so the process dies silently.

[2019-06-17 13:21] gpomykala commented on #25123
I managed to view the native stack using ptxdist + gdb:
(gdb) bt
#0  __libc_do_syscall () at ../sysdeps/unix/sysv/linux/arm/libc-do-syscall.S:47
#1  0x76c74a70 in __libc_signal_restore_set (set=0x63f1be44) at ../sysdeps/unix/sysv/linux/nptl-signals.h:80
#2  __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:48
#3  0x76c7577e in __GI_abort () at abort.c:79
#4  0x76909f2a in PROCAbor

[2019-06-17 13:32] janvorli commented on #25123
No, it is not. GDB stops unwinding stack at the first managed frame, so we don't know if that managed code was called from a native one. I still guess it is the case, since the abort happened in the first pass of EH where we are looking for the exception handler, but LLDB would let us see all the frames on the stack.
Have you tried to install the `libtinfo5` package and see if you can run LLDB aft

[2019-06-17 13:40] jkotas commented on #25014
#25199 should fix this

[2019-06-17 13:50] mattwarren commented on #25189
If you're talking about at *build-time* you can certainly compile the runtime with certain features removed (I've not measured what impact this would have on the final binary size though), see [the list here](https://github.com/dotnet/coreclr/blob/bfe4001c030ceadff6db116d84788118666f8600/clrdefinitions.cmake#L93-L238)

Here's some links that give an idea what was required to port to a new OS and/o

[2019-06-17 13:52] Korporal commented on #25189
@mattwarren - Much appreciated, I'll dig into those resources for sure.

[2019-06-17 13:54] gpomykala commented on #25123
Not yet, there are more missing dependencies which are not available on that system:
	libncurses.so.5 => not found
	libtinfo.so.5 => not found
	libform.so.5 => not found
	libpanel.so.5 => not found
	libxml2.so.2 => not found
libedit.so.2 => not found
libtinfo.so.5 => not found

[2019-06-17 14:04] #19622 closed

[2019-06-17 14:29] janvorli commented on #25123
You need to install all of the dependencies (you would need to install them even if you built LLDB yourself). That means:
libncurses5
libtinfo5
libxml2
libedit2

So you'd run: `sudo apt-get install libncurses5 libtinfo5 libxml2 libedit2`

[2019-06-17 15:02] Cronan commented on #24471
Do I just blat over all the existing files? Including folders?

[code]

[2019-06-17 15:07] janvorli commented on #24471
The subfolders actually don't matter, the runtime doesn't use them in any way. So you can exclude them if you want. And yes, you overwrite everything.

[2019-06-17 15:29] mattwarren commented on #19622
@davmason Thanks for fixing this! I'll try it out in the next few days with the Profiler I'm working on

[2019-06-17 15:42] Cronan commented on #24471
ty

[2019-06-17 15:43] Cronan commented on #24471
ty

[2019-06-17 15:52] janvorli commented on #25123
I have thought you've said you are trying to run lldb on Ubuntu 18.04. The libraries need to be located where the lldb runs - they are dependencies of lldb.

[2019-06-17 16:03] leecow commented on #24921
also @HollyAM

[2019-06-17 16:18] fadimounir commented on #25164
Cannot repro the issue. Tried both Checked and Release. Seems like an infra related issue.
Also tried both on the arm device, and the x64 hosted crossgen. No repro

[2019-06-17 16:18] #25164 closed

[2019-06-17 16:20] janvorli opened #25203 "Running build.sh on a clean checkout complains about missing pipeline-logging-functions.sh"
I checked out the latest coreclr master, ran git clean -xdf and then ./build.sh. While the build works, I can see this printed to the console right after running the build.sh:
[code]
The `pipeline-logging-functions.sh` exists in the `eng/common`, but it is invoked as `"$scriptroot/pipeline-logging-functions.sh"` and the scriptroot is not set anywhere in the script.

[2019-06-17 16:26] gpomykala commented on #25123
Well, lldb you shared on OneDrive is targeted for arm, it won't run on
Ubuntu

pon., 17.06.2019, 17:54 użytkownik Jan Vorlicek <notifications@github.com>
napisał:

[2019-06-17 16:29] janvorli commented on #25123
Oh, I have thought you were trying to run it on Ubuntu 18.04 on an ARM device.

[2019-06-17 16:32] AndyAyersMS commented on #25195
Thanks -- I'll take a look.

@BrianHanechak can you share your measurements?

[2019-06-17 16:32] gpomykala commented on #25123
Well, my apologies then. Target is custom distro built with ptxdist and
Ubuntu 18.04 is our Dev environment for that platform.

pon., 17.06.2019, 18:30 użytkownik Jan Vorlicek <notifications@github.com>
napisał:

[2019-06-17 16:44] gbalykov commented on #23683
@janvorli @jkotas

We need to setup XDG_DATA_HOME right before coreclr_execute_assembly.

We initialize CoreCLR before application is known, so, during call to coreclr_initialize, correct value of XDG_DATA_HOME is not yet known. Application becomes known only before coreclr_execute_assembly.

SetEnvironmentVariableW was also removed recently. What do you think about adding new Unix hosting API `co

[2019-06-17 16:57] jkotas commented on #23683
Would creating a delegate to `Environment.SetEnvironmentVariable` using `coreclr_create_delegate` and calling that to set the environment variable work?

[2019-06-17 17:22] #18893 closed

[2019-06-17 17:23] tommcdon commented on #24132
@mjsabby just a kind reminder to add the appropriate documentation for this feature

[2019-06-17 17:23] fadimounir commented on #23860
Not much can be done with this bug now. Jenkings is gone, and not sure which corefx test caused this failure anymore. Closing issue.
If this comes back wit the azure runs, we'll be able to investigate better

[2019-06-17 17:23] #23860 closed

[2019-06-17 17:34] GrabYourPitchforks commented on #19828
This isn't needed in the 3.0 timeframe, as we already got https://github.com/dotnet/coreclr/pull/20855 as a stopgap. But an API along the lines of what's proposed here would be more generally useful (it would support more types and could be used in more scenarios) and would obviate the need for the stopgap.

Note that I'm not suggesting a public API be added. This would be internal-only for use wh

[2019-06-17 17:35] GrabYourPitchforks commented on #18617
There's no 3.0 work scheduled in this area.

[2019-06-17 17:36] hoyosjs opened #25206 "Createdump on ARM64 captures/restores incorrect context"
Using createdump as a binary uses ptrace for capturing the context. Currently, the context restored is different from the one when the dump was captured. I manually verified the context obtained from ptrace is correct, so the issue is either at write time, of reading the file (format/alignment issue).

This is not needed for most SOS commands, but any native inspection (like viewing the native sta

[2019-06-17 17:39] jkotas commented on #18617
Note that this is internal partner impacting.

@odhanson You have asked for this earlier. Is it ok with you that this won't get done in 3.0?

[2019-06-17 17:41] echesakovMSFT commented on #21504
This Kusto query
[code]
shows 12 failures between now and June, 5 - 10 of them on Ubuntu.1804.Arm32 and 2 on Ubuntu.1804.Amd64

[2019-06-17 17:41] sywhang commented on #23711
There are some code paths that checks whether the level is 0 ... but they don't use this macro. (Just checks by using `==0`. Should we delete this macro? Or should we just change these paths to actually use this macro for better readability?

[2019-06-17 17:43] echesakovMSFT commented on #21504
Removing an architecture label - it seems to be not Arm64 specific

[2019-06-17 17:48] tommcdon commented on #24231
@mjsabby friendly ping for documentation

[2019-06-17 17:50] odhanson commented on #18617
@jkotas right now we have worked around this issue by adding a bunch of exclusions which practically disables MHR. Its not optimal at all.
We would really like, from a security perspective to be able to enable this eventually. If it won't be in 3.0, then when would we be able to get it done ?

[2019-06-17 17:54] jorive commented on #25110
Fixed on #25112

[2019-06-17 17:54] #25110 closed

[2019-06-17 17:57] jkotas commented on #18617
If this does not get done for 3.0 release, the next opportunity to do this will be .NET 5 release that will be second part 2020 (ie more than one year from now). Are you going to be able to live without this till end of 2020?

[2019-06-17 18:00] RussKeldorph commented on #25072
@adamsitnik https://github.com/dotnet/coreclr/blob/master/Documentation/building/cross-building.md is supposed to have the instructions.  Do you just want to build the coreclr product and tests and run them?

[2019-06-17 18:04] jkotas commented on #25014
Note fully fixed yet. From https://github.com/dotnet/coreclr/pull/25199#issuecomment-502735310:

After typing that up, I ran my test with an ASP.NET Core WebApi and I am only seeing partial symbols still. Far more than before, but not everything.

I do not see anything obvious that can be causing this.

[2019-06-17 18:12] odhanson commented on #18617
@jkotas, Its hard to predict. Apple might harden their requirements and then it will cause our app to fail to meet the apple store requirements. Right now, this is not a hard requirement.
Having said that, if it does become a blocker, we would have a few months heads up. Would we then be able to release a 3.1 (or something similar) that adds this capability ?
IIRC, @janvorli worked on this, and al

[2019-06-17 18:19] janvorli commented on #25123
Ok, thanks for the explanation. In such case, it seems that the easiest way would be to use our tool from the dotnet/diagnostics repo. That tools allows you to load a dump and then run SOS commands to investigate managed code stack, objects etc.
You can install the dotnet-dump as described in https://github.com/dotnet/diagnostics/blob/master/documentation/dotnet-dump-instructions.md.
You'd then us

[2019-06-17 18:31] fadimounir commented on #22342
@BruceForstall this is a JIT bug triggered with complus_forcerelocs=1. You can repro without R2R. I'm assigning it to you. I don't know if this repros on Windows.

The problem is with the following callstack:
`
        Child SP               IP Call Site
00007FFFFFFFD238 0000000EB84E47BB JitTest.TestClass.Method1()
00007FFFFFFFD240 0000000EB84E4654 JitTest.TestClass.Method0()
00007FFFFFFFD250 0000

[2019-06-17 18:35] jkoritzinsky commented on #25194
After throwing this under a debugger, looks like this is hitting what @janvorli found after #25105 was merged. I'm putting together a fix now.

[2019-06-17 18:37] jkotas commented on #18617
If I am reading this correctly, Apple announced that they will required this for 10.15. From https://developer.apple.com/documentation/security/notarizing_your_app_before_distribution?language=objc:  Beginning in macOS 10.15, notarization is required by default for all software.

We do not add new features in servicing. The exceptions have to be approved by .NET directors and most of the requests

[2019-06-17 18:40] Korporal commented on #25189
Some mentioned Mono and a possible target goal of a thing called WatchOS, I need to look into that.

[2019-06-17 18:45] janvorli commented on #18617
Yes, I've started to work on enabling that in December last year and still have a local branch with that work in progress. I remember I've hit a couple of problematic things, but I'll have to refresh my memory on that.

[2019-06-17 18:46] mikem8361 commented on #25152
Sorry, I forgot about the Alpine createdump problem that is fixed in 3.0.x (Preview 6) but in 2.2.x. See dotnet/coreclr#24599.

I will see about getting this fix into the next 2.2 service release.

[2019-06-17 19:10] echesakovMSFT commented on #25203
@chcosta Does this belong to dotnet/arcade?

[2019-06-17 19:15] odhanson commented on #18617
@jkotas we are ok for 10.15. We have MHR enabled and our app is already notorized.  The thing is that we are using an exclusion to disable page signing protections.  Once MHR is supported by the runtime we would be able to remove this exclusion and only allow the specific pages marked with JIT by the runtime to be unsigned.
While this exclusion is fine right now,  we can't anticipate what will cha

[2019-06-17 20:06] fadimounir commented on #22128
Closing along with #23640

[2019-06-17 20:06] #22128 closed

[2019-06-17 20:12] AaronRobinsonMSFT commented on #18617
@odhanson Thanks for the context. I am going to move this back to 3.0 for right now. @janvorli Please update as appropriate.

[2019-06-17 20:15] AndyAyersMS commented on #25195
With 3.0p5 I am seeing

| Method |    S |  C |     Mean |     Error |    StdDev |
|------- |----- |--- |---------:|----------:|----------:|
|   Span | 4096 |  4 | 3.617 ms | 0.0094 ms | 0.0083 ms |
|    Ptr | 4096 |  4 | 1.757 ms | 0.0060 ms | 0.0056 ms |
|   Span | 4096 | 16 | 7.508 ms | 0.0263 ms | 0.0246 ms |
|    Ptr | 4096 | 16 | 4.857 ms | 0.0216 ms | 0.0202 ms |

I am going to trim this ben

[2019-06-17 20:19] fadimounir commented on #24565
Closing as a duplicate of #25009.
Filed https://github.com/dotnet/sdk/issues/3336 on the SDK side to track the dependency resolution issue that makes R2R crash.

[2019-06-17 20:19] #24565 closed

[2019-06-17 20:22] odhanson commented on #18617
@janvorli let me know if I can assist in anyway.

[2019-06-17 20:26] safern commented on #24885
This APIs got deleted because of: https://github.com/dotnet/corefx/issues/38085 -- so this should be considered when adding them back again as part of: https://github.com/dotnet/corefx/issues/10752

[2019-06-17 20:26] #24885 closed

[2019-06-17 20:31] danmosemsft commented on #24023
@steveharter @GrabYourPitchforks this one is in you guys' area. Can this be safely deferred to Future?

[2019-06-17 20:40] billwert commented on #21043
Yeah, this should live in the perf repo. (Though I think it is currently busted..)

[2019-06-17 20:53] AaronRobinsonMSFT commented on #22382
Enabled pageheap and reran the scenario. No failures detected.

[2019-06-17 20:53] #22382 closed

[2019-06-17 20:57] BruceForstall commented on #22342
@dotnet/jit-contrib

[2019-06-17 21:09] janvorli commented on #18682
I am closing this issue as there were several fixes made in the arm32 related code since the time the issue was created and @aishiguro didn't respond to @BruceForstall's question in January.
@aishiguro if you can still repro the problem, please let us know.

[2019-06-17 21:09] #18682 closed

[2019-06-17 21:11] janvorli commented on #12421
@alpencolt can we close the issue? There doesn't seem to be anything we can do about the issue as it is a kernel problem.

[2019-06-17 21:12] janvorli commented on #24977
@markusmobius the Preview 6 is out, could you please give it a try and let us know whether your issue got fixed?

[2019-06-17 21:13] #25166 closed

[2019-06-17 21:25] RussKeldorph commented on #19007
@jeffschwMSFT I probably shouldn't have stashed this under `area-ILTools`.  Resetting triage.  I assume this is `Future` but feel free to make the call.

[2019-06-17 21:30] janvorli commented on #24923
@scottstephens I've just merged in a change in sigsegv handling that might fix your problem. I've realized it could be caused by the fact that the onload library calls our sigsegv handler on the stack of the thread where the sigsegv happened while our handler expects to be called on an alternate separately allocated stack.
Could you please give it a try once the next preview is out?

[2019-06-17 21:31] #25157 closed

[2019-06-17 21:32] janvorli opened #25211 "Build fails on machine without .NET framework development installed"
I've just created a fresh Windows VM and installed VS 2019 without .NET desktop development enabled. The build failed:
[code]
Installing the .NET desktop development option in VS2019 fixes this problem.

It seems coreclr build should not depend on the desktop .NET SDK/targetting pack.

[2019-06-17 22:00] sdmaclea commented on #22710
/cc @lpereira

[2019-06-17 22:02] 4creators commented on #25189
@Korporal It seems that ideal start point would  be based on [CoreRT Project](https://github.com/dotnet/corert) which is based on coreclr and corefx and is part of dotnet ecosystem. Excellent examples of running in minimal environments are in this repo https://github.com/MichalStrehovsky/zerosharp.

One of the examples shows how to run CoreRT C# application on x64 bare metal, no os, only UEFI. I k

[2019-06-17 22:10] 4creators commented on #25189
Ahh, forgot about memory management which normally uses coreclr GC but for constrained environments should be implemented most probably as an explicit memory management with no GC or as a simplest possible GC. Anyway use of GC in any hard real time system is probably not the best idea as it is extremely slow and makes implementation of guaranteed execution times and responsiveness very tricky.

[2019-06-17 22:21] Maoni0 commented on #25148
yes, that's because we specifically improved container support in 3.0 https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0.

[2019-06-17 23:10] echesakovMSFT commented on #24634
Seems that issue was hit before https://github.com/dotnet/buildtools/pull/565

[2019-06-17 23:14] markusmobius commented on #24977
I upgraded to preview 6 on both Ubuntu and windows and will report back (it takes a day for a full run). Thanks for all your work!

[2019-06-17 23:19] jkoritzinsky commented on #25203
The Pri0 R2R OSX x64 Checked leg of https://dev.azure.com/dnceng/public/_build/results?buildId=228032&view=logs failed due to this issue.

[2019-06-17 23:42] AndyAyersMS commented on #25195
Looks like there are two main contributors to the perf impact.

* `Average` is not inlined in the span case
* `Average` method CQ is not as good for span as it is for pointers

For inlining, the inliner overestimates the size of the `Span` variant as it does not realize the calls made in `Average` are to intrinsics. It underestimates the benefit as the impact of the constant length `4` is not read

[2019-06-18 00:16] tommcdon commented on #25206
@janvorli would you have time to help investigate?

[2019-06-18 00:43] AndyAyersMS commented on #22342
I can repro (on Ubuntu x64), will debug:
[code]

[2019-06-18 00:53] #22125 closed

[2019-06-18 00:58] RussKeldorph commented on #24408
Assuming no longer relevant since we don't use runtest.py in CI

[2019-06-18 00:58] #24408 closed

[2019-06-18 01:01] RickStrahl opened #25217 "Question: How to access .NET Objects in C++ .NET Core Host code"
I'm working on  Core CLR Host integration code, where I create a runtime host and then pass back a .NET object to a COM client. However, I can't seem to figure out how to capture the returned object reference effectively and pass back an IDispatch pointer to the host application.

I'm probably not casting/marshalling correctly, but after trying a number of different combinations I can't seem to fi

[2019-06-18 01:13] AndyAyersMS commented on #22342
`COMPlus_ForceRelocs` is something of an odd duck ... it forces the jit to jit every method twice.

Reproing the failure requires tiered compilation to be enabled, and while the first jit request comes through at Tier0, the "redo" request (after the fake jump stub overflow failure that `COMPlus_ForceRelocs=1` causes) comes through as a normal (full opt) jit request. So I wonder if perhaps some par

[2019-06-18 01:19] sergiy-k commented on #25118
@andy-ms, can you please take a look?

[2019-06-18 02:02] danmosemsft commented on #25217
@aaronrobinson

[2019-06-18 02:36] #25009 closed

[2019-06-18 02:47] vandebm commented on #23711
Prior to removal I did trace TRACE_LEVEL_NONE via the assert to the gcinterface.h
enum GCEventLevel
{
    GCEventLevel_None = 0,
    ...
}
further assertion is based on GCEventLevel_None

[2019-06-18 02:59] jkotas commented on #22391
We plan to look at adjusting repo boundaries for .NET 5.

[2019-06-18 04:20] AaronRobinsonMSFT commented on #25217
@RickStrahl Lots of good questions here. An alternative approach to activating a class is to use COM, which works in .NET Core 3.0 so you can consider that as well. A sample with various options can be found [here](https://github.com/dotnet/samples/tree/master/core/extensions/COMServerDemo).

As far as what is going wrong in this example returning a `struct` from the managed callback and convertin

[2019-06-18 05:34] BrianHanechak commented on #25195
Interesting... I think even on Windows, it was not inlining the `Span<T>` version, but even without inlining it was still performing very close to the pointer version. I didn't know how to get the disassembly when running on Linux.

I did have a weird case where the Ptr version had bimodal results in the 4096x4096x16 version but not the 4096x4096x4 version.

Here's the Windows results I had:

[cod

[2019-06-18 05:58] RickStrahl commented on #25217
@AaronRobinsonMSFT - thank you. So close, yet oh so far :-). I had tried several of the Unmanaged types but totally missed the `IUnknown` setting (I was looking for `IDispatch` I guess). IAC it works with this mapping!

Just for reference here's what worked:

[code]

Notice I'm using `IUnknown` as you orginally had it - in .NET Core 3.0 Preview 6 I don't see an `UnmanagedType.IDispatch`.

Here's t

[2019-06-18 05:58] #25217 closed

[2019-06-18 06:07] mjsabby commented on #8079
@tannergooding Thoughts? I'd love if we could emit RDTSC or RDTSCP from Hardware Intrinsics.

[2019-06-18 06:15] mjsabby commented on #18459
@tannergooding I think we'd have both a serialization and non-serialization variant.

@morganbr I think that could be a separate issue. I'd hate to lose RDPMC's full capability to make it architecture independent.

[2019-06-18 06:58] chrishaly commented on #25167
Times changed from 100,000 to 1000,000 on windows the result is:

30401ms/726=41.87

So mybe it's not need to get accurate time, since more than 40 times 9.9 or 10.1, 39 or 41 are similar.
It's all said that .net core 2.2 exeception handling more slow than java.

[2019-06-18 07:17] MichalStrehovsky commented on #25057
I fixed part of this bug described in the initial issue, but this still has a leftover piece:

We currently don't check for people overlaying byref-like things with other things. So:

[code]

Will load just fine, even though we would have blocked loading this if the `ByReference<T>` field was actually a reference type.

It seems blocking this might be a good thing. We can either block this by spec

[2019-06-18 08:56] janvorli commented on #18617
I have looked at the changes and I don't think I can finish and test it in the remaining time we have for adding new 3.0 features. What I have done so far is just a small part of the support in PAL.
The biggest trouble is that the MAP_JIT flag has to be applied at the time we obtain a virtual memory range (when we reserve the memory). We have many places in the code where we reserve memory with PA

[2019-06-18 09:36] vitek-karas commented on #13277
I see - thanks for the pointer.

Unfortunately loaded frameworks through the `AssemblyDependencyResolver` (ADR) is currently not supported. I'll list just a couple of reasons why doing so is tricky (in no particular order):
* In general we don't think we want to support loading frameworks more than once into the process (using ALC with ADR which automatically loads frameworks could make this reall

[2019-06-18 10:34] sebastianbk commented on #24720
Just an update from my side: I spent the time to get rid of lazy loading in my application with the hope of being able to inspect my variables without Entity Framework Core's proxy classes. However, I have just learned that the issue persists even making use of eager loading. Maybe you have already realized this but I just wanted to make you aware of it in case you didn't know.

When inspecting an

[2019-06-18 10:39] #23711 closed

[2019-06-18 10:51] Suchiman commented on #25167
Just upping a counter doesn't mean it doesn't get optimized away, you would need to throw from a different method and block that method from being inlined, except that i couldn't find a hint to block the JVM from inlining a method

[code]

[2019-06-18 11:13] GSPP commented on #25167
Exception performance in .NET is known to be slow. I think this is becoming more and more of a problem because:

* Callstacks with `await` rethrow an exception many times thereby multiplying the costs to an extent.
* Modern applications tend to do more IO. Everything is networked these days (microservices, cloud services). IO is a major source of exceptions.

I have worked on multiple applications

[2019-06-18 11:16] msedi commented on #25175
@Suchiman: I understand your point with the object, but that does not really explain why it has slowed down in .NET Core 3.0, right?

IN the end, my question goes into the direction of how I can accomplish the casting situation above, since I cannot currently do it with C#.

[2019-06-18 11:51] chrishaly commented on #25167
@gspp exception handling slow is acceptable, however compare to java .net exception handling 10 or 40 times slow is not acceptable, two platform  both with GC different so much, so there must be some problem in .NET

[2019-06-18 11:53] gpomykala commented on #25123
Hi,
I reproduced the problem on raspbian - much easier to install all required dependencies.

Not much luck with lldb still - none of the SOS commands work with libsosplugin.so delivered with netcore 2.2 sdk:

pi@raspberrypi:~/LLVM-8.0.0-Linux/bin $ ./lldb -O "settings set target.exec-search-paths /home/pi/dmp" -o "plugin load libsosplugin.so" --core /home/pi/dmp/core-dotnet-sig6-user0-group0-pid5

[2019-06-18 12:14] gbalykov commented on #23683
`Environment.SetEnvironmentVariable` is overloaded and `coreclr_create_delegate` is not allowed to create delegate for overloaded methods, see: https://github.com/dotnet/coreclr/blob/84dc3732c6fd0f4739214eb83ffd643a33a5da17/src/vm/corhost.cpp#L865

What do you think about adding `Environment.SetEnvVariable` with the same signature as `SetEnvironmentVariable`?

[code]

[2019-06-18 13:16] alpencolt commented on #12421
@janvorli yes.
I will add link to patch when it will be in upstream.

[2019-06-18 14:07] ww898 opened #25225 "Concurrent GC isn't disabled automatically when attach memory profiler to .NET Core v3.0.0-preview6 process"
I receive `CORPROF_E_CONCURRENT_GC_NOT_PROFILABLE` for memory profiler during `SetEventMask` call in `InitializeForAttach` callback. The error appears under .NET Core v3.0.0-preview6, but the same code works properly under .NET Framework v4.5+.

P.S. I assume that there is the bug with attach thread detection: https://github.com/dotnet/coreclr/blob/be5445e56ea2bdb6de907e3f892ca732fc802f0f/src/vm/e

[2019-06-18 14:09] Anna-Guseva opened #25226 "gcConcurrent flag in App.config is not taken into account for .net core 3.0 apps"
I created a simple console app with target framework .NET Core 3.0 (preview6 is installed on my machine). 'gcServer enabled' is set to false and gcConcurrent enabled=false in App.config.

[code]

When I try to attach memory profiler to already started app, attach fails with ```CORPROF_E_CONCURRENT_GC_NOT_PROFILABLE``` error.

It looks like concurrent GC isn't disabled despite the config file.

[2019-06-18 14:31] hoyosjs commented on #24720
Thanks @sebastianbk. Yesterday @cshung was helping debugging this one. That being said we haven't found yet what's causing the issue. We'll try to tell you as we find interesting findings.

[2019-06-18 14:51] scottstephens commented on #24923
@janvorli I'll test that when 3.0-preview7 comes out.

After you told me you thought it was an Onload issue I contacted SolarFlare support. They don't really agree it's a bug on their side, but they did point me towards a possible workaround: configuring Onload not to postpone signal SIGRTMIN=34. This is done by setting the environment variable EF_SIGNALS_NOPOSTPONE to "4,7,8,11,27,34". The list t

[2019-06-18 16:16] tommcdon opened #25228 "EventPipe does not properly dispose of itself on an active session error"
Add a mechanism that can notify EventPipe when there is an error on an active session, so it can be disposed properly from the list of active sessions.

[2019-06-18 16:17] AndyAyersMS commented on #25195
Windows ABI handles structs like `Span` differently, so the codegen for the non-inlined `Average` is going to look a little different and likely a bit more streamlined. Will post it when I get a chance.

Since the span you're working on is so short (4 elements) the cost of forming the span and passing it to the helper method are going to be prominent.

Can you add your Linux results?

[2019-06-18 16:20] tommcdon opened #25229 "Prevent EventPipe Sessions IDs from being reused on disconnect"
This issue is tracking reverting the EventPipeSessionID to be address of the pointer instead of the bit mask.  See https://github.com/dotnet/coreclr/pull/24417#discussion_r286384780

[2019-06-18 16:22] CarolEidt opened #25231 "Liveness assert in RayTracer"
Found in https://github.com/dotnet/coreclr/pull/25120

[2019-06-18 16:29] tommcdon opened #25232 "EventPipe events should only be sent to sessions that are listening to the event"
Track active listening sessions on `EventPipeEvent` (using a 64-bit mask). Currently, providers track listening session by using a 64-bit bitmask. We should track at the event level instead, so sessions will listen to the events they requested.

[2019-06-18 16:43] janvorli commented on #24923
@scottstephens thank you for the details. I didn't really mean that it is Onload's issue, but rather a bad interaction between Onload and .NET Core, so I agree that it is not a bug on their side.
It is great that they have a mean to exclude specific signals from being postponed.
If they already had signal 11 (SIGSEGV) in the default no-postpone list, then my change I've mentioned would not have an

[2019-06-18 16:45] janvorli commented on #24923
I am closing this issue now assuming their workaround is sufficient. If you hit additional issues, please let me know.

[2019-06-18 16:45] #24923 closed

[2019-06-18 16:47] hoyosjs commented on #25211
The message comes from buildtools trying to publish this: https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/tool-runtime/project.csproj targeting framework. We don't even use this, but the initialization script pulled in the package does it by default with no workaround.

Our dependency on this is purely for tests, but I do agree we need to start thinki

[2019-06-18 16:53] #12421 closed

[2019-06-18 16:54] tommcdon commented on #25015
@kouvel we believe this issue should be fixed as part of #25046.  Can you let us know if the issue is not resolved or close the issue as appropriate?

[2019-06-18 17:41] mikem8361 opened #25233 "The Window x86 and x64 Release legs in the dotnet-coreclr official are failing"
The Window x86 and x64 Release legs in the dotnet-coreclr official are failing with this:

[code]

https://dev.azure.com/dnceng/internal/_build/results?buildId=228006

I (with Juan's help) fixed a few delayed expansion problems in build.cmd but the ibcmerge needs to be installed/restored.

[code]

build.cmd changes;

[code]

[2019-06-18 18:00] AndyAyersMS commented on #24975
@martincostello apologies for the slow response. Can you open an issue for this on the [developer community site](https://developercommunity.visualstudio.com/spaces/61/index.html)?

Once it's open, you can add a "private" comment  and attach your dump file there.

[2019-06-18 18:06] Suchiman commented on #25226
App.config isn't respected by .NET Core.
You need to configure this via the `*.runtimeconfig.json` file.
There are several ways to do this, the easiest way is specifying
[code]
in your csproj

[2019-06-18 18:10] hoyosjs commented on #25233
I think the fix is here https://github.com/dotnet/coreclr/blob/d006ed403b942d42114445c23699af1ebdba2662/src/.nuget/optdata/ibcmerge.csproj#L9-L10 and here https://github.com/dotnet/coreclr/blob/d006ed403b942d42114445c23699af1ebdba2662/src/.nuget/optdata/ibcmerge.csproj#L27-29

The tool version is `IbcMergePackageVersion`, but we are writing `optimizationIBCCoreCLRVersion`. The main problem is both

[2019-06-18 18:14] briansull commented on #25134
This issue can also be reproduced without inlining.

[2019-06-18 18:16] lpereira commented on #22710
There's no easy way to fix this.

While the `MAP_PRIVATE` flag prevents changes to mappings from going to the backing file by employing CoW, it doesn't protect you from the file being changed under the rug; changes made in the file may or may not be visible in the memory area.

We might get away with this by mapping the files with `PROT_WRITE`, and doing something like `mem[0] = mem[0]`, and then

[2019-06-18 18:19] jashook commented on #25233
There are a few issues, will put out a pr

[2019-06-18 18:31] RussKeldorph commented on #25225
@maoni0 @noahfalk @dotnet/dotnet-diag

[2019-06-18 18:39] davmason commented on #25225
I’ll take a look, it probably is a bug with the attach thread detection with the new attach mechanism.

[2019-06-18 19:10] Korporal commented on #25189
@4creators - This is very interesting, I will take a look.

[2019-06-18 19:12] Korporal commented on #25189
I do wonder if there are options for implementing a simplified GC to reduce the code footprint and avoid/reduce the runtime impact of unexpected GC activity. I looked at the GC code and it is far from simple.

[2019-06-18 19:13] sdmaclea commented on #22710
So
* the process has a handle to the opened assembly.
* The assembly is memory mapped into the process.
* If it is modified by another process, the modifications will be visible in the runtime.
* However if the file is deleted, the delete would not be visible to the runtime
* If the assembly was deleted, then rewritten this should work on a proper Linux system.

The bug report talks about
[code]
w

[2019-06-18 19:16] sdmaclea commented on #22710
@force-net Closing this issue as this is not likely a runtime issue.

[2019-06-18 19:44] force-net commented on #22710
Ok. I've understood problem with correct handling of such situation, but may be runtime should handler it in someway also? E.g. crash with specific exception (currently - random crash is occurred here, so it is hard to determine real issue if you do not know this situation).

Also, if it possible runtime can catch an internal problem and continue to work without some features (e..g. without stackt

[2019-06-18 20:10] 4creators commented on #25189
Current design of both CoreCLR and CoreRT allows for "easy" swapping of different GC implementations. GC is an independent native assembly which interacts with runtime via public runtime interface and vice versa runtime interacts with GC with public GC interface.

Than the porting of GC may be not necessary as one can use existing GC implementations. The computer science literature indicates that

[2019-06-18 20:12] #25039 closed

[2019-06-18 20:16] 4creators commented on #25189
Again there is a proposal for real-time C# which can be found here: [[Proposal] Real-Time specification for C#](https://github.com/dotnet/csharplang/issues/761)

[2019-06-18 20:20] Korporal commented on #25189
I wonder if its feasible to speculate on a C# compiler that compiles to machine specific instructions? that is not generate IL but raw machine code. Not sure what implications such an idea has.

[2019-06-18 20:26] Korporal commented on #25189
I see lots of articles about a thing named ".Net Native" but these all seem to dwell on UWP and store apps, has this been abandoned? is it only useable for UWP apps?

[2019-06-18 20:36] 4creators commented on #25189
.NET Native is based on CoreRT

[2019-06-18 20:38] Korporal commented on #25189
I am interested in why the GC is so _much_ code, I'm sure there are very good reasons but would love to know more about it.

[2019-06-18 20:40] chuckries opened #25237 "Managed Data Breakpoints don't work on Windows 7 when targeting x64."
**It is important that this gets fixed for .NET Core 3.0**

As the title says, managed data breakpoints do not work on Windows 7 against an x64 target app. They appear to work when targeting x86.

Repro steps:
1. Get a machine running Windows 7
2. Install VS 2019 (either release or public preview)
3. Install .NET Core 3.0 Preview 6.
4. Create a new console app with the following code:
[code]
5. se

[2019-06-18 20:41] chuckries commented on #25237
cc @caslan @cshung @tommcdon

[2019-06-18 20:47] 4creators commented on #25189
https://github.com/dotnet/coreclr/blob/master/Documentation/botr/garbage-collection.md

Check the literature at the end.

There is a recent book by Konrad Kokosa [Pro .NET Memory Management](https://www.apress.com/gp/book/9781484240267) which well is Pro.

[2019-06-18 21:05] #25194 closed

[2019-06-18 21:20] sdmaclea commented on #22710
@force-net
What are you actually doing?  I suspect the initial description above is actually incomplete.  It says you are editing the assembly without an SDK. How/why are you doing that?

[2019-06-18 21:39] CarolEidt commented on #13861
Note that, although this is tracked here: https://github.com/dotnet/coreclr/projects/7#card-7201234 the issues @sdmaclea mentions above are core intrinsics (`GT_INTRINSIC`)  rather than HW intrinsics (`GT_HWIntrinsic`) issue.
That said, this seems to be a good place to track:
- The need to recognize Round as an intrinsic, and
- Ensuring that `Lowering` is folding operations as may be reasonable, e

[2019-06-18 21:48] CarolEidt commented on #20426
In addition, the Helper methods on the vector types (`Vector64`, `Vector128`, `Vector256`) should have shared tests (e.g. in a tests/src/JIT/HardwareIntrinsic/General).
And the shared test templating sources should be moved up to a tests/src/JIT/HardwareIntrinsic/shared directory.
See also #21235.

[2019-06-18 21:52] CarolEidt commented on #20427
I've updated the comment above to reflect the work that was done to support the Arm64 intrinsics in an experimental release for 3.0.
Going forward, we can track progress toward a supported release in the Hardware Intrinsics project: https://github.com/dotnet/coreclr/projects/7

[2019-06-18 21:53] #20427 closed

[2019-06-18 21:54] tommcdon commented on #25083
Fixed on #25205

[2019-06-18 21:54] #25083 closed

[2019-06-18 21:58] sdmaclea commented on #22710
@force-net If you were actually building on machine.

You could have a softlink in the path to the live (most recent version)
Each time you build you could publish to a unique address.

Something like this could work if building in bash.
[code]

[2019-06-18 22:00] AndyAyersMS commented on #22342
Looked at this some more and think tiering is likely just an indirect contributor. `Method1` ends with a `jmp` to `Method2`, and when tiering is enabled, this jump is indirect through some address `p`. And  `ForceRelocs=1' ensures that `p` is too far from the jump instruction to fit into a 32 bit displacement.

So when both are enabled, the jit ends up asking to help reach `p`, and the runtime, an

[2019-06-18 22:12] tannergooding commented on #20426
The `Helper` methods on the `Vector64`, `Vector128`, and `Vector256` types are already templated and being shared: <https://github.com/dotnet/coreclr/tree/master/tests/src/JIT/HardwareIntrinsics/General>

[2019-06-18 22:19] jkotas commented on #25175
The benchmark is allocation heavy. It spends most of the time allocating the boxed ints. The allocation heavy benchmarks are noisy. 4% is well within the typical noise for benchmarks like this. The results depend on many factors like memory alignment. I am not able to see any consistent slow down of `Array.GetValue`.

I have also run our own microbenchmark we have for `Array.GetValue`: https://git

[2019-06-18 22:19] #25175 closed

[2019-06-18 22:20] noahfalk opened #25238 "[Code cleanup] We have many macros named ETW* that are not specific to ETW"
Throughout the runtime there are macros such as ETW_TRACING_CATEGORY_ENABLED, EtwFireEvent(), or ETW::*Log::* that were originally used exclusively for ETW. Many of these APIs now apply equally to ETW, Lttng, or EventPipe but the naming obscures this. If you know the naming the is bad in this way then it is hard to distinguish the portions of the tracing code that are ETW agnostic from the smaller

[2019-06-18 22:31] jkotas commented on #25057
I do not have a strong opinion on this. I would be ok with doing nothing.

[2019-06-18 22:36] sdmaclea commented on #22710
@janvorli I believe the functional change from 2.0.0 to 2.1 may have occurred due to #16752

[2019-06-18 22:44] sdmaclea commented on #22710
I reopened this issue.  If we can restore the advisory locks w/o degrading functionality we should consider it. While the advisory locks do not guarantee anything, they do allow well written programs to behave correctly.

Opinions @jkotas @janvorli ?  Is is possible to detect systems which do not support flock?

[2019-06-18 22:57] sdmaclea commented on #22710
The original code treated failure to lock as an error

[code]
If we simply ignored errors would we work on filesystems which didn't support locking?
[code]

[2019-06-18 23:29] jkotas commented on #23683
Do you have any convenient assembly in your apps to put this wrapper into?

[2019-06-18 23:40] sbomer opened #25239 "Set up illink test jobs"
We used to run illink jobs on the old infrastructure. They have been broken for a long time as they relied on build commands that changed in the linker repo, and had some other issues as well. We now get validation from running the mono/linker tests, which are actually designed to exercise various linker behaviors, on .NET Core. We may still want to run illink on the .NET Core tests for additional

[2019-06-18 23:41] sbomer commented on #22988
Closing in favor of https://github.com/dotnet/coreclr/issues/25239.

[2019-06-18 23:41] #22988 closed

[2019-06-18 23:42] sbomer commented on #22341
Closing in favor of https://github.com/dotnet/coreclr/issues/25239.

[2019-06-18 23:42] #22341 closed

[2019-06-18 23:42] sbomer commented on #20671
Closing in favor of https://github.com/dotnet/coreclr/issues/25239.

[2019-06-18 23:42] #20671 closed

[2019-06-18 23:42] sbomer commented on #19007
Closing in favor of https://github.com/dotnet/coreclr/issues/25239.

[2019-06-18 23:42] #19007 closed

[2019-06-18 23:46] mattwarren commented on #25189
As @4creators [pointed out](https://github.com/dotnet/coreclr/issues/25189#issuecomment-503292372) you can do this, for an example of what's involved see http://tooslowexception.com/zero-garbage-collector-for-net-core/ and http://tooslowexception.com/zero-garbage-collector-for-net-core-2-1-and-asp-net-core-2-1/ (written by the author of the [Pro .NET Memory Management](https://www.apress.com/gp/bo