[2017-06-15 06:35] #11374 closed

[2017-06-15 06:35] #12197 closed

[2017-06-15 08:06] sjsinju commented on #11838
commit a2ecf158bf2
[code]

[2017-06-15 10:41] hqueue commented on #12289
I'm gong to look at this.

[2017-06-15 11:02] wateret opened #12293 "[RyuJIT/armel] Support passing double type register args"
Parent Issue: #11822

`float` type variables were covered by #12005, but we don't have a trivial solution for `double` types. Since that there is no multi-reg support for GT_PUTARG_REG and GT_COPY. I'm going to implement this according to https://github.com/dotnet/coreclr/pull/12005#pullrequestreview-41574710.

[2017-06-15 11:22] wateret commented on #12293
@CarolEidt
At https://github.com/dotnet/coreclr/blob/release/2.0.0/src/jit/lsraarmarch.cpp#L393,
putarg_reg does `setSrcCandidates` to its Op1. But `setSrcCandidates` makes more sense to me. Could I ask why it sets src candidates? (I don't think it is wrong since the file is for both ARM/ARM64 and there is the same code for XARCH version though.)

[2017-06-15 14:47] mzji commented on #11761
This bug is still happens:
[code]
This is part of captured console output of my server application using ASP.Net Core 2.0 Preview 1.

[2017-06-15 15:09] sdmaclea commented on #9711
Arm64 label can be removed and title changed.

[2017-06-15 15:20] gkhanna79 commented on #11761
The issue in question pertained to recompiling of a precompiled managed assembly, which is development time (usually NET Core team specific) scenario. I doubt you are running into it @mzji. Also, it has been fixed for Preview2.

I believe you are running into possibly a different issues - please file an issue in CoreFX repo with the repro steps.

[2017-06-15 15:27] sdmaclea commented on #5833
@jkotas What do you want here?

The increment in JIT_WriteBarrier should have negligible impact on performance for a speculative machine.  Especially since there should be no consumer for the written register.

To move the increment to the JIT_ByRefWriteBarrier requires either
+ Creating a call frame so the We can `blr JIT_CheckedWriteBarrier; add  x14, x14, 8;ret  lr  `
+ Copy code from `JIT_Chec

[2017-06-15 15:57] mzji commented on #11761
@gkhanna79 Ok, thanks. Will try to issue another one in CoreFX's repo.

[2017-06-15 16:44] FlorianRainer commented on #555
I don't want to leave a comment on "How it would be better to compress LOH", but i want to ask if its even neccessary?

It is a lot of work for the GC and for this reason it will be done not as much at it should be done to work in a efficient way.

What comes to my mind is a type of `self defragmenting LOH`.
I was reading this very good article on LOH Fragmenting https://www.codeproject.com/Articl

[2017-06-15 16:49] svick commented on #555
@FlorianRainer Wouldn't that break `unsafe` code? For example, I can allocate 1 GB `byte[]` and then use `fixed` to access the whole array directly using pointers. I don't think that would work with the approach you proposed.

[2017-06-15 17:00] FlorianRainer commented on #555
@svick thats true,
for unsafe code and if you are working with pointers this will not work.
But maybe the idea to build some type of self defragmention (or not even fragmenting) LOH, instead of reorganizing it by the GC could be usefull? even if my approach is not so usefull.

[2017-06-15 17:00] livarcocc opened #12301 "How to use SOS with lldb under OSX"
_From @NinoFloris on June 12, 2017 22:0_

I've tried to follow the loosely translated equivalent of the linux steps but trying do `plugin load libsos.dylib` gives an lldb error of `error: plug-in is missing the required initialization: lldb::PluginInitialize(lldb::SBDebugger)`

How to proceed?

_Copied from original issue: dotnet/cli#6842_

[2017-06-15 17:00] livarcocc commented on #12301
_From @NinoFloris on June 12, 2017 22:3_

@gkhanna79 @piotrpMSFT Would you perhaps have experience with this for OSX?

[2017-06-15 17:00] livarcocc commented on #12301
_From @gkhanna79 on June 12, 2017 22:53_

@mikem8361 @lt72 should be able to help.

[2017-06-15 17:00] livarcocc commented on #12301
_From @mikem8361 on June 12, 2017 22:58_

"libsos.dylib" isn't the lldb plugin to load; it is loaded by the lldb plugin (libsosplugin.dylib). For OS X because of signing issues, etc. you have to first build a version of lldb locally and then build the libsosplugin in the coreclr repo against that.

Some directions:

https://github.com/mikem8361/coreclr/blob/master/Documentation/building/buildingll

[2017-06-15 17:00] livarcocc commented on #12301
_From @NinoFloris on June 12, 2017 23:42_

Noess, I was hoping to avoid all these native build shenanigans. Is that really the only way? Could this not be made a bit easier? I reckon there are quite a few dotnet core people that work on OSX.

Would a brew formula be an option to abstract the hard and error prone work to build and setup SOS?

(I could devote some of my time to that, if that sounds

[2017-06-15 17:00] livarcocc commented on #12301
_From @mikem8361 on June 13, 2017 23:58_

There are two parts of SOS on Linux and OSX: the lldb plugin (libsosplugin.dylib) and the actual SOS code (libsos.dylib).  The lldb plugin needs to be built against the version lldb you are going to use. The libsos.dylib version needs to match the coreclr you are running. The problem is that the includes/libs (LLDB.h, etc. and liblldb.dylib) needed to buil

[2017-06-15 17:00] livarcocc commented on #12301
_From @NinoFloris on June 14, 2017 1:19_

I think they are actually building from this repo https://github.com/apple/swift-lldb, and it is quite likely to be the build tagged with https://github.com/apple/swift-lldb/releases/tag/swift-3.1-RELEASE

As my terminal reports the exact string format as changed in that commit when I do `lldb --version`

About brew and the cert, letting the formula build

[2017-06-15 17:00] livarcocc commented on #12301
What is the CLI issue here? I will confess that I don't quite follow this thread. If this is not a CLI problem, and it does not look to be, I would like to close this issue.

[2017-06-15 17:00] livarcocc commented on #12301
_From @mikem8361 on June 15, 2017 5:28_

The coreclr issue is that the lldb part of the SOS isn't being provided for OS X for all the reason above. This makes it difficult to use lldb/SOS against a CLI/managed app on OS X.

[2017-06-15 17:00] livarcocc commented on #12301
Should this be moved to the coreclr repo then?

[2017-06-15 17:00] livarcocc commented on #12301
_From @mikem8361 on June 15, 2017 8:18_

Yes.

[2017-06-15 17:08] leppie opened #12302 "Assembly loader fails to load assemblies with cyclic references"
[code]

**Expected:** Works as it does on the desktop version of .NET
**Actual:** Fails with `FileNotFoundException`

Note: This repro could probably be made smaller, but this is what I experienced with IronScheme.

# Setup
A.il
[code]

C.il
[code]

B.il
[code]

Compile all:
[code]
All 3 outputs pass PEVerify (Entrypoint error can be ignored for DLL output).

# .NET Core 2.0 test
Create .NET Core

[2017-06-15 17:11] swgillespie commented on #12286
cc @Maoni0 (and cc @vancem who has discussed this before)

On Linux, you can use cgroups to impose a memory limit on your process and the GC will respect it. If you start reaching your cgroup resource limit, the GC will compact more aggressively in turn to keep your memory usage down. On Windows, you can achieve the same sort of thing using job objects.

In general, though, we hear this feedback a

[2017-06-15 17:18] swgillespie commented on #12286
Also I took a look at `COMPlus_gcTrimCommitOnLowMemory` and it does not appear that it is referenced anywhere in the code. That sounds like a bug to me, either we should remove that config option or re-introduce it to the GC.

[2017-06-15 17:20] Maoni0 commented on #12286
@JustArchi The 2 mono configs you mentioned really have nothing to do with how GetTotalMemory (true) works so if you are aiming to have GetTotalMemory (true) as a means to collect "as fast as possible", it already does that. GetTotalMemory (true) calls GC.Collect() which does a full blocking GC (it may or may not do a compacting GC depending on the tuning but as you mentioned it always reports 63m

[2017-06-15 17:21] swgillespie commented on #12286
Ok!

[2017-06-15 17:36] svick opened #12303 "Allow unsealed delegates to reduce allocations for lambdas"
Currently, the requirements for delegates are (from [ECMA-335 §II.14.6 Delegates](http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-335.pdf#%5B%7B%22num%22%3A2137%2C%22gen%22%3A0%7D%2C%7B%22name%22%3A%22XYZ%22%7D%2C87%2C333%2C0%5D)):

What if this requirement was weakened, so that delegates were allowed to be unsealed and also allowed to contain other members, especially fields? I

[2017-06-15 17:38] karelz commented on #12302
@davidwrighton interesting TypeSystem bug ... cc @jkotas

@leppie do you have the C# intended code? (it is often faster to read than "reverse engineer" IL)

[2017-06-15 17:40] leppie commented on #12302
@karelz Each method just calls a method in the referenced assembly. Easiest way to view this would be in Reflector or your favourite .NET decompiler. The actual code in IronScheme involves a mixture of C#, Scheme and IL.

[2017-06-15 18:12] jkotas commented on #1279
@russellhadley The ILLink option above is the easiest one to start with. Could you please look into it for ILLinker?

[2017-06-15 18:23] gkhanna79 commented on #12224
Are we tracking this for 2.0?

[2017-06-15 18:24] jkotas commented on #5833
Yes, updating comments would be nice

[2017-06-15 18:28] janvorli commented on #12224
I don't think it needs to be tracked for 2.0. It is an issue with GC stress 0xC only and from what I've seen so far, it seems to be caused by some bad interaction between the handling of the SIGSEGV caused by the intentional access violation in the test and the GCStress 0xC access violation handling for the inserted invalid instructions that are used to trigger GC after each jitted instruction.

[2017-06-15 18:29] JustArchi commented on #12286
Thank you for answering!

CGroups idea is definitely a nice to know, but that'd impose hard limit on my .NET core app how much memory it can allocate in the first place - I don't want to do that, as my app could crash with OOM under a bit more workload than usual. I'd love to tune GC a bit so it tries to avoid keeping huge amount of memory allocated if it doesn't need it, but at the same time runt

[2017-06-15 18:38] jkotas commented on #12302
@karelz This is not type system problem. This is assembly loader.

I am not able to reproduce the problem.

@leppie Could you please check that:
- bin\Debug\netcoreapp2.0  directory contains all A.dll, B.dll, C.dll
- bin\Debug\netcoreapp2.0\repro.deps.json has references to all A.dll, B.dll, C.dll

Or could you please share the zip file with your repro, and the compiled app?

[2017-06-15 18:48] leppie commented on #12302
@jkotas All 3 dll's present, but only A shows up in deps.json.

And after I did `dotnet build /t:clean` followed by `dotnet run`, it works, and all the dll's are listed in deps.json.

Maybe this is a build issue? I added the references via VS2017 initially.

[2017-06-15 19:16] leppie commented on #12302
Tried to same approach now with IronScheme, but getting an obscure `null this` issue and only the property where it happens is in the callstack.

Again, when I merge all of these assemblies together, I had no issue.

[2017-06-15 19:24] leppie commented on #12302
Closing for now till I can get more info what is going on.

[2017-06-15 19:24] #12302 closed

[2017-06-15 19:47] briansull commented on #12152
Fixed with #12287

[2017-06-15 19:47] #12152 closed

[2017-06-15 19:53] gkhanna79 commented on #12178
Assigned to @tarekgh since he will be working on it.

CC @danmosemsft

[2017-06-15 19:54] gkhanna79 commented on #10751
This was fixed in https://github.com/dotnet/core-setup/pull/2520

[2017-06-15 19:54] #10751 closed

[2017-06-15 19:56] gkhanna79 commented on #5567
@wtgodbe Can this be closed?

[2017-06-15 19:57] gkhanna79 commented on #5536
It will be good to enable this for the upcoming UWP release - but this is not a ship blocker.

[2017-06-15 19:58] wtgodbe commented on #5567
Yes

[2017-06-15 19:58] #5567 closed

[2017-06-15 20:03] stephentoub opened #12306 "Different codegen for `return cond;` vs `if (cond) return true; return false;`"
There's a function in corelib used for determining whether a char is whitespace:
https://source.dot.net/#System.Private.CoreLib/shared/System/Char.cs,264
[code]
The JIT is generating this code for it:
[code]
When I change it to instead be:
[code]
the JIT instead generates:
[code]
I'd have expected (maybe naively?) these to generate the same asm.  Is it expected that they result in different asm? A

[2017-06-15 20:07] jkotas commented on #12178
Note that this may also need to be updated to match the current CoreCLR packaging/build targets for UWP.

[2017-06-15 20:08] jkotas commented on #12302
Yes, this looks like a build issue. Build issues like this one belong to https://github.com/dotnet/cli

[2017-06-15 20:13] sdmaclea commented on #11524
I started to take a look at `JIT/jit64/opt/cse/hugeexpr1/hugeexpr1.sh`.

Observations, the test fails to complete JIT (>7m).  If I `crossgen` the test, the crossgen completes in a reasonable time (1-2minutes).  An the ni version of the test finishes almost instantaneously completes (<1s).

@dotnet/jit-contrib Recomendations?

[2017-06-15 20:16] AndyAyersMS commented on #12306
The JIT currently has some limitations in this area, so the result it not surprising. These issues tend to show up more prominently when bool-valued methods are inlined into `if (...)` or similar predicate contexts and the return value is materialized rather than being inferred from tests.

It is definitely something we should improve on.

[2017-06-15 20:19] safern commented on #12178
This should be done after we update our test infrastructure to create a PRI file with all of our assemblies resources. We are targeting to do that once we have a green test run as we want to enable CI legs asap.

[2017-06-15 20:23] sdmaclea commented on #11862
This is no longer an issue with latest tip.

[2017-06-15 20:23] #11862 closed

[2017-06-15 20:23] sdmaclea commented on #11862
@jashook FYI

[2017-06-15 20:23] mikedn commented on #12306
Same as #914

[2017-06-15 20:37] Maoni0 commented on #12169
Sorry, I didn't really read your first post carefully. For the spin count in t_join you are right - it should be # of heaps - or actually, I took a look at all the places where we are calculating spin counts and I think we should make it consistent. And the rule I derived is the # we use here should be the # of threads that are waiting to acquire the spin lock (and subsequently wait on an event).

[2017-06-15 20:56] swgillespie commented on #12170
I had an idea about this today - as long as we link in a GC to the CoreCLR DLL, we do not *have* to eliminate our dependency on `GetDependentHandleSecondary` and `HndGetHandleExtraInfo`, as long as a standalone GC does not modify those functions. In theory, we can use the linked-in DAC-ized versions of these functions, even if the debugee is running with a standalone GC.

If we do this, we would i

[2017-06-15 20:57] helloguo commented on #12169
@Maoni0 Thanks for explanation. I will make the change then.

One more question about ` int spin_count = 4096 * g_num_processors;`. I assume the factor `4096 ` came from some experimental data. Do you happen to know which benchmarks were used? I'm curious about the spin count for a server with a large amount of processors.

[2017-06-15 21:05] Spongman opened #12308 "console redirection is broken"
[code]

stdout redirection:
=====
test command: `dotnet run > test.txt`
expected behavior is to show typed text in the console/tty, and to write the typed lines out to `test.txt`

on windows: works fine.
on linux: writes stdin to the file ok, but the typed text is not echoed to tty.

stdin redirection:
=====
test command: `dotnet run < test.txt` (test.txt exists and contains some lines of text)
ex

[2017-06-15 21:38] pgavlin commented on #12261
This looks to me like a C# compiler bug (at the very least, the C# compiler is emitting incorrect IL):

[code]

The call at `IL_0056` to `[Microsoft.CodeAnalysis]Microsoft.CodeAnalysis.SyntaxTriviaList [Microsoft.CodeAnalysis]Microsoft.CodeAnalysis.SyntaxToken::get_LeadingTrivia()` returns a struct value that is then passed as an argument to `!!0 [System.Linq]System.Linq.Enumerable::Single<valuety

[2017-06-15 22:05] jkotas commented on #12170
I think you want to make this explicit, like refactor the function into gcinterface.inl. I do think you want to link a whole GC with a fingers crossed that it will work out.

[2017-06-15 22:13] livarcocc commented on #7345
If I read this right, huge thread, this seems to have been a problem on the preview2-1 CLI, which we don't support anymore. When we shipped 1.0 CLI, it was already depending on the latest runtime, and current CLI out there, 1.0.4, depends on 1.0.5 and 1.1.2 of the CLI. And 2.0 CLI depends on 2.0 runtime. What else is there to be done by the CLI here?

[2017-06-15 22:36] krwq opened #12312 "CompareInfo.Version is not initialized correctly"
Currently CompareInfo.Version is showing invalid info (zeros) - this is happening because we don't set `vdwNLSVersionInfoSize` on the `NlsVersionInfoEx` struct as on Desktop: http://referencesource.microsoft.com/#mscorlib/system/globalization/compareinfo.cs,1328

cc: @tarekgh

[2017-06-15 22:38] tarekgh commented on #12312
@krwq I assume you work on the fix. right?

[2017-06-15 22:39] krwq commented on #12312
@tarekgh unfortunatelly not currently, need to finish on serialization tests.

[2017-06-15 22:39] danmosemsft commented on #11982
@stephentoub is there any more work here for 2.0 Steve? Can you close or move to Future as appropriate?

[2017-06-15 22:40] danmosemsft commented on #12312
@tarekgh do you believe this would meet the escrow bar?

[2017-06-15 22:48] #11982 closed

[2017-06-15 23:01] tarekgh commented on #12312
Basically CompareInfo.Version is returning wrong version. it is not big deal but the returned value will not reflect the actual version from the OS. I would say it will be good to fix it before the release, otherwise we'll have discrepancy with the desktop and anyone using this Version property for sure will not be happy for the returned value. but to be fair, not many people really using this pro

[2017-06-15 23:08] jkotas commented on #12308
This issue was moved to dotnet/corefx#21106

[2017-06-15 23:08] #12308 closed

[2017-06-15 23:30] JustArchi commented on #12286
I'm back with some extra observations.

It seems that the issue I'm describing affects only Server GC mode.

Non-server GC is very "gentle" and I can notice that even small increase of memory from 13.2% to 13.3% quickly leads to drop back to 13.1% soon after given function is done executing. This is exactly what I wanted to achieve without calling GC to collect manually.

However, there is downsid

[2017-06-15 23:35] janvorli commented on #12224
@gkhanna79 I've found the cuprit and fixed it locally. But I have found that the issue can also happen when e.g. a NullReferenceException happens in catch handler of another NullReferenceException. It is a problem caused by the Linux kernel reusing storage for the signal context.

So having found that, my answer to your question now changes - I believe we should fix it for 2.0.

What happens is be

[2017-06-15 23:49] Maoni0 commented on #12286
Sounds like there are really 2 separate things that you've described - one was that you thought GetTotalMemory was "slowly releasing memory" (I was not convinced of that which was why I asked for more data but it sounds like you don't care about it anymore?); the other is really about how frugal you want GC to be with memory footprint. Something like mono's soft-heap-limit was already discussed in

[2017-06-16 00:01] janvorli commented on #12224
Minimal repro that hangs forever:
[code]

[2017-06-16 00:09] Erlite opened #12315 "Stack overflow outputting "Segmentation fault.""
So basically I had an attribute, which contained this string with a get/set:

[code]

Upon compiling, any attempt to run it using `dotnet run` would just silently fail. However, trying to execute the dll with `dotnet exec` would output **Segmentation fault.** to the console. Figured out that string was causing a stack overflow. Shouldn't it throw an exception instead of a segfault?

[2017-06-16 00:10] JustArchi commented on #12286
This is connected though. I evaluated referce source and `GetTotalMemory(true)` calls `GC.Collect()` up to 20 times in a single call, and I did notice that memory goes down with every single call to `GC.Collect()`, until it reaches bare minimum (probably when all generations get cleared or close to that). The initial objective was always to limit amount of "allocated but unused" memory around, so

[2017-06-16 00:22] JustArchi commented on #11338
This is exactly what I was looking for in #12286 - I don't want to hijack this issue with my own case, so I'm only going to add a few points I think are important.

I think it basically should work like `soft-heap-limit` from Mono - we declare *expected* physical memory usage by the process, until which server GC works the same as now, and if memory reaches the target, it tries to stop expanding (

[2017-06-16 00:59] CarolEidt opened #12317 "[RyuJIT] Use a backward traversal for Decomp and Lowering"
Both decomposition of longs and Lowering are currently done in a forward traversal. This requires costly calls to `TryGetUse()`, as well as (for decomposition) the creation of `GT_LONG` nodes that are often immediately thrown away.

An alternative would be to do a reverse traversal and to keep a map of outstanding operands. For decomposition this might include pointers to the operand slots for the

[2017-06-16 01:12] davkean commented on #12302
Build issues actually go in http://github.com/dotnet/sdk. CLI is just wrapper.

[2017-06-16 01:16] gkhanna79 commented on #12224
Thanks @janvorli. Is it fair to say this is an issue with 1.0.x and 1.1.x as well? What is the risk profile of the fix?

[2017-06-16 01:18] JustArchi commented on #12286
Prefer 32-bit mode didn't change anything it seems, probably my environment is too small to consider bitness limit (I have 2 GB of ram total, app is expected to use up to 20% of that, so even if there is a difference in pointer size, it's still far below 2/3.5 GB).

After experimenting a bit more I found a solution that is good enough - I just have a timer that calls a single `GC.Collect()` every

[2017-06-16 01:18] #12286 closed

[2017-06-16 02:27] #11851 closed

[2017-06-16 02:55] tmds commented on #7345
@livarcocc I assume this is all fixed by now.

[2017-06-16 02:55] #7345 closed

[2017-06-16 04:45] CarolEidt commented on #12293
putarg_reg does setSrcCandidates to its Op1. But setSrcCandidates makes more sense to me. Could I ask why it sets src candidates? (I don't think it is wrong since the file is for both ARM/ARM64 and there is the same code for XARCH version though.)

These names have always been confusing (and I'm afraid I'm to blame), but I don't really have a better idea for naming them. I'm not sure I understand

[2017-06-16 05:24] mikedn commented on #12317
Maybe this issue can be avoided by reusing removed nodes.

[2017-06-16 05:34] mikedn commented on #12306
It's also worth pointing out that we don't handle range tests like `(c >= '\x0009' && c <= '\x000d')`, these can be reduced to a single branch by using a subtraction and an unsigned comparison.

[2017-06-16 07:15] wateret commented on #12293
@CarolEidt Sorry I was not clear. Even worse, there was a typo :( I edited the previous comment.

Let me give you more details. In CodeGenBringUpTest/FPAdd.cs, The `Main` function calls `FPAdd(1.0, 1.0);`.

[code]

The N007(copy node)' src is [r0], but what I thought was [r0] should be dst since we are copying from float reg to int reg. Am I getting something wrong here?

[2017-06-16 11:22] janvorli commented on #12224
@gkhanna79 this issue didn't exit in 1.0 and 1.1, it is a regression in 2.0. I've just verified that. It was introduced by my change #7440.

[2017-06-16 11:44] janvorli commented on #12224
@gkhanna79 as for the risk profile, there is no risk.  It just fixes the case when we hang, but doesn't influence anything else.

[2017-06-16 12:35] janvorli commented on #10642
@Daniel-Svensson I am really sorry for not responding for such a long time. I have seen your update and wanted to discuss it further with @jkotas, but I have completely forgotten about it.
These improvements are huge.
@jkotas can you please take a look at the updated results above?
My thinking here is that as a next step it would be great to measure the performance of the managed implementation @j

[2017-06-16 12:42] janvorli commented on #12224
Fixed by  #12316

[2017-06-16 12:42] #12224 closed

[2017-06-16 13:12] gkhanna79 commented on #12224
@janvorli Given the above, I think you should send a 2.0.0 PR to shiproom to get this ported for PReview3.

[2017-06-16 13:14] janvorli commented on #12224
@gkhanna79 - I've just done that.

[2017-06-16 14:29] yangliweng opened #12327 "build CoreCLR in win10 x64 error: Could not load file or assembly 'System.Runtime.Serialization.Primitives, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'."
PS D:\project\coreclr> .\build
Starting Build at 22:29:17.89
BUILD: Commencing CoreCLR Repo build
BUILD: Checking prerequisites
BUILD: Using environment: "D:\vs2017\Common7\Tools\\VsDevCmd.bat"
**********************************************************************
** Visual Studio 2017 Developer Command Prompt v15.0.26430.13
** Copyright (c) 2017 Microsoft Corporation
*****************************

[2017-06-16 14:49] sdmaclea commented on #11525
This has not been reproduced for 1mo.

[2017-06-16 14:49] #11525 closed

[2017-06-16 15:50] #12218 closed

[2017-06-16 16:13] tarekgh commented on #12312
@danmosemsft I have submitted a PR dotnet/coreclr#12330 to fix this. I hope we can consider this for v2.0 if possible.

[2017-06-16 17:12] danmosemsft commented on #12312
@tarekgh As you mention, usage is low in fact we see none at all: https://apisof.net/catalog/System.Globalization.CompareInfo.Version (unless perhaps it's used indirectly somehow?)

However the fix is low risk and it's clearly bad to return random memory so I support taking it to shiproom. I'll let you do the email and PR etc. thanks

[2017-06-16 17:12] danmosemsft commented on #12315
@janvorli

[2017-06-16 17:14] danmosemsft commented on #12176
@mellinoe do we still need a build tools update to get your fix?

[2017-06-16 18:21] sdmaclea commented on #9535
@jashook Should this be closed because Ubuntu/Arm64 CI was added.  Should we wait till it is green?

[2017-06-16 18:23] janvorli commented on #12315
@Erlite have you tried that with dotnet core 2.0? We were not reporting most of the cases of stack overflow before that version since the OS just kills the process in such case without our runtime getting notified.
In 2.0, I have added mechanism to allow us to print message reporting stack overflow. I have tried your example with 2.0 and I got this:
[code]

[2017-06-16 18:25] sdmaclea opened #12332 "[Arm64/Windows] Inlined thread optimized helpers"
Amd64/Arm both have custom assembly to optimize TLS access for GetThread() and GetAppDomain().

These features are only implemented for windows.  They are often guarded be `!FEATURE_IMPLICIT_TLS`

These optimizations are missing for Arm64/Windows.

[2017-06-16 18:27] sdmaclea commented on #12332
@dotnet/arm64-contrib

[2017-06-16 18:46] #11503 closed

[2017-06-16 18:51] sdmaclea commented on #12332
Not needed per comments in #12333

[2017-06-16 18:51] #12332 closed

[2017-06-16 19:36] wtgodbe opened #12336 "Bring up Arm32 test runs"
- [x] Enable running the test suite for Arm32 on a dev box
- [x] Enable running Arm32 tests in Helix

[2017-06-16 19:36] wtgodbe commented on #12336
CC @weshaggard @gkhanna79

[2017-06-16 19:42] #12076 closed

[2017-06-16 19:43] gkhanna79 commented on #12336
CC @danmosemsft @joshfree

[2017-06-16 19:48] #11058 closed

[2017-06-16 19:50] mikem8361 commented on #10661
This has been done (in the debuggertests repo).

[2017-06-16 19:50] #10661 closed

[2017-06-16 20:20] danmosemsft commented on #12336
Yes please.

[2017-06-16 21:38] Petermarcu commented on #12336
Can we write down what UWP customer scenarios we expect to be running coreclr on ARM32?

[2017-06-16 22:33] sdmaclea opened #12337 "Fix holes in the native perf map"
Trying to perf analyze :
`JIT/Performance/CodeQuality/BenchmarksGame/binarytrees/binarytrees/binarytrees.exe`

When I perf record, I am seeing events occur between functions.  I am trying to figure out what is executed between methog functions.  PreStubs?  Is there a reason we cannot emit these into the perf map.

If I look at the perfmap of a native image:
 `crossgen /Platform_Assemblies_Paths ~/

[2017-06-16 23:12] HoboRobo123 opened #12340 "Double.ToString("N2", CultureInfo) then Double.TryParse(numIn, NumberFormat.Any, CultureInfo, numOut) fails for 5 cultures"
I asked this [question on StackOverflow](https://stackoverflow.com/questions/44559594/net-double-tryparsenum-format-cultureinfo-out-error) a few days ago.

Short version.
Doing something like:
Double num = 15000.05
String numString = num.ToString("N2", CultureInfo)

Then doing
Double numParsed
Double.TryParse(numString, NumberFormat.Any, CultureInfo, numParsed)
num == numParsed

Doesn't function a

[2017-06-16 23:24] mikem8361 opened #12341 "createdump utility: missing program header, sections and other info"
The symbol acquisition tool will need all the loaded native modules' ELF program headers and sections to compute the proper symbol store key from the build ID.

The managed assemblies loaded in the process needed to be added to the dump (the PE header and debug directory) so the symbol acquisition tool can download the symbols for those modules too.

The .eh_frame section isn't part of the dump cr

[2017-06-17 00:27] gkhanna79 commented on #4299
I am moving this out of 2.0.0 @mikem8361 @lt72

[2017-06-17 00:28] gkhanna79 commented on #11799
@dpodder @adiaaida Is this still outstanding for 2.0.0?

[2017-06-17 00:29] gkhanna79 commented on #10873
@dleeapho Can this (and the other two similar issues) be closed?

[2017-06-17 00:34] RodDaSilva commented on #12327
I am getting the exact same issue but on a Windows 8.1 machine.  One note, I download a ZIP of the repo rather than forked it from Git.  Not sure if that could be the issue or not.  Would really like to get this solved.  This is my first time trying to build the CoreCLR project from source.  Have you been able to do this before, or is this your first time as well?  Just wondering if this is a new

[2017-06-17 00:37] mikem8361 commented on #4299
OK.

[2017-06-17 00:46] jkotas commented on #12337
Yes, they are likely some kind of stubs.

I do not think there is a good reason. Just that nobody has done it.

[2017-06-17 00:57] #12312 closed

[2017-06-17 01:37] dpodder commented on #11799
@gkhanna79 The last outstanding part is pending PR merge now on VSTS (DotNetCore 73304).

[2017-06-17 03:31] stephentoub commented on #12306
Good point.  And manually making that change also causes it to then be inlined.  I'll submit a PR to address that, too.

[2017-06-17 04:03] ygc369 commented on #555
@FlorianRainer
@svick
My idea could work with unsafe code, and I think that compressing LOH in my way would not have more cost than compressing SOH, if OS and CPU could support it (GC thread can modify Page Table).
Even for safe code, I don't think FlorianRainer's idea has more advantages than mine. Assuming 4KB per page in his idea, if I allocate 1GB memory and want to access the last byte, then

[2017-06-17 06:38] dpodder opened #12347 "pgoinstrument builds don't work on VS2017+"
`pgosupport.cmake` tries to find the runtime used to run instrumented binaries (`pgort<ver>.dll`) and install (copy) it alongside the product binaries when building PGI, in order to avoid introducing additional external dependencies for an instrumented build. It attempts to be smart about finding the right instance of pgort, but unfortunately VS2017 changed conventions for not only the version num

[2017-06-17 10:12] yangliweng commented on #12327
@RodDaSilva Hi,this  is  not  my  first  time to build  coreclr,i built  it several  month  ago  on another  laptop,it  was successful to build.

[2017-06-17 10:51] jkotas commented on #12340
cc @tarekgh

[2017-06-17 15:56] janvorli commented on #12224
Really fixed by #12344

[2017-06-17 21:20] Maoni0 commented on #12286
That's what doesn't make sense to me.

GetTotalMemory's implementation is really simple as you can see... it just waits for pending finalizers and induces GC again if the memory change is > 0.05; and does that for at most 20 times. So the only reason it would even be calling multiple GC.Collect at all is the GC memory has changed that much each time. But you are saying you don't see what gets retu

[2017-06-18 20:17] danmosemsft opened #12354 "Thread.Name should use SetThreadDescription"
@Alois-xx commented on [Sun Jun 18 2017](https://github.com/dotnet/corefx/issues/21190)

Windows 10 Creators Update delivers new APIs to set the thread name

https://msdn.microsoft.com/en-us/library/windows/desktop/mt774976(v=vs.85).aspx

These should be used by the managed thread name set property as well so one can find the thread name in ETW traces on Windows as well. Currently there was no way

[2017-06-18 21:30] 4creators opened #12355 "Errors in multiple MSBuild properties initialization of System.Private.CoreLib.csproj in VS2017"
### Building from Visual Studio 2017 command line
According to my tests it affects only builds performed from Visual Studio 2017 command line. Builds done from Visual Studio 2015 command line are not affected.

System.Private.CoreLib.csproj build is invoked via $(RepoRoot)/src/build.proj together with SOS project. During build at the initial stage of property evaluation in System.Private.CoreLib.c

[2017-06-19 02:31] hackace1 opened #12357 "Question:Why we need to check the IsIoPending when the thread pool thread going to exit?"
From the win32threadpool.cpp we know that before the thread going to exit after the 20s timeout, it need to check if there is any IO pending by method IsIoPending(),based on my understanding:

1,This checking is just for IO thread pool threads or both IO and worker  thread pool threads?

2 If for both thread pool threads , based on my understanding ,when the worker thread going to exit, it must fi

[2017-06-19 03:58] danmosemsft commented on #10287
When fixing this please reenable all the corefx tests marked https://github.com/dotnet/coreclr/issues/10287

[2017-06-19 09:11] seanshpark commented on #11318
@sdmaclea , do you still get this `[Recursive resource lookup bug]` message?
I have this same problem with ARM(32bit) build running on RPi3/UbuntuMate16.04.
My simple program is like
[code]
with overlay from build binaries of master branch, debug build of CoreCLR and CoreFX.
[code]
Could there be some problems with my environment?

[2017-06-19 11:10] brandon942 commented on #12303
I assume the Closure holds a reference to the local variable and not a copy. Then it's all about performance vs memory. I'm all for performance.

[2017-06-19 11:47] svick commented on #12303
@brandon942

Neither. The closure holds the variable itself. If you want to access the variable, you have to go through the closure.

I don't see that kind of trade-off here. Doing what I proposed would save some memory and also improve performance (by decreasing GC pressure and probably also by improving cache behavior).

[2017-06-19 12:23] brandon942 opened #12361 "Dictionary requires performance fix"
Dictionary value updates are not possible without unnecessary double lookups in the current Dictionary implementation.
This issue has been there forever and is particularly problematic for value-type/struct values which are extensively used in game dev. Value updates require the whole struct to be copied, changed and reinserted (copied again) with another lookup. The C#7 ref feature allows one to

[2017-06-19 14:14] sdmaclea commented on #11318
@seanshpark I was seeing the problem when System.Private.Corelib.dll was not loaded as a native image.  When I changed my workflow to use a native image, the problem was ~resolved.  I left the issue open because I think there is still an underlying issue.  IL version of S.P.C.dll should work.

[2017-06-19 15:52] jkotas commented on #12303
This optimization has potential to save 16 bytes per closure on 64-bit platforms. The memory bytes is what matters for GC pressure here. Two small objects vs. one larger object is not going to make much difference.

It is expensive optimization to implement because of it changes the .NET type system. The first step should be to collect data about the benefit. E.g. how much of the GC heap in typica

[2017-06-19 16:16] 4creators commented on #12355
Bug was introduced with PR #10430 which was a fix of #10056

[2017-06-19 16:34] bartonjs commented on #12217
Fixed by https://github.com/dotnet/corefx/pull/21069 and https://github.com/dotnet/corefx/pull/21071

[2017-06-19 16:34] #12217 closed

[2017-06-19 17:14] svick commented on #12303
@jkotas

Yeah, that makes sense.

This example has only one closure (containing `i`), but two delegates using it. In that case, the optimization would have to be applied only to one of the two delegate allocations. I.e. it would go from "1 closure allocation + 2 delegate allocations" to "1 fused delegate-closure allocation + 1 delegate allocation".

I now realize this could increase the amount of

[2017-06-19 17:14] swgillespie commented on #12170
Ok! (cc @sergiy-k, who I talked about this with)

To that end, here's the call graph of the two offending functions:

![getdependenthandlesecondary_calltree](https://user-images.githubusercontent.com/1871912/27296830-59782ed6-54d7-11e7-8caf-830eb4897004.jpg)

They refer to no globals, which is very fortunate. I feared that this would become very ugly but the size of this call graph and the fact th

[2017-06-19 17:23] nietras commented on #6906
I'm still hoping that we can find some way to capture the "method info" of a given intrinsic method and then be able to ask whether this is actually hardware accelerated or not. Allowing for fine grained querying of what functionality is hardware accelerated or not. In fact, this could then be extended to ask any heterogenous compute device (e.g. GPU, Hexagon etc.) if a given method/operation is a

[2017-06-19 17:26] tarekgh commented on #12340
@HoboRobo123 I'll take a look and get back to you. thanks for reporting this issue.

[2017-06-19 17:34] gkhanna79 commented on #11248
@hqueue @jyoungyun @hseok-oh Going forward, please loop in @weshaggard and @janvorli for any changes will be bringing in.

[2017-06-19 17:36] tannergooding commented on #6906
@nietras, I'm thinking the best way to expose that is to either have a centralized class for hardware intrinsics (as I proposed above) or to possibly extend MethodInfo to have an `IsIntrinsic` property (where `true` means the call compiles down to an inlined machine instruction).

There is definitely existing code in the framework that is "sometimes intrinsic" (although intrinsic doesn't always me

[2017-06-19 17:38] TingluoHuang commented on #12217
@bartonjs do you know how can i consume the fix? do i have to wait for another dotnet core 1.1.x release?

[2017-06-19 17:47] #11847 closed

[2017-06-19 18:17] tannergooding commented on #8104
This has overlap with my comment here: https://github.com/dotnet/coreclr/issues/6906#issuecomment-307164495

[2017-06-19 18:31] tellkeygit commented on #12301
Hey, sorry for the interruption. In an attempt to help students learn cs, we are looking for issues that they can potentially work on.Help us by mentioning our bot "@tellkeygit {#hours}" (to solve the issue). This would help students pick up issues based on their experience. Please take a look at https://www.keygit.info for more details.

[2017-06-19 18:44] gbalykov opened #12370 "[Memory consumption] Remove relocations for Readonly section"
Hello.

We propose to reduce consumption of memory, which currently occurs due to applying relocations to Readonly section of ngen-ed images (for pointers related to MethodTable).

To achieve this, we propose to partially replace absolute pointers, which require allocations, with relative pointers and also to move structures, which contain the other part of absolute pointers, to separate section i

[2017-06-19 19:02] tarekgh commented on #12340
@HoboRobo123

The problem here is the cultures failing for you has the following:

[code]

Notice that the decimal separators is same as the currency group separator. Also the group separator is same as the currency decimal separator.

Now when you format the number with such culture, you'll get the string "15.000,05". when you are trying to parse it back you are passing NumberStyles.Any which mea

[2017-06-19 19:02] #12340 closed

[2017-06-19 19:50] nietras commented on #6906
@tannergooding would a `MethodInfo.IsIntrinsic` check be possible to elide away by the JIT? I am also wondering about how we would capture the `MethodInfo`s in the face of possible `ref`s or even pointers?

Levels of hardware acceleration could be an option. Other than that your proposal for specific "intrinsic sets" e.g. `x86.SSE` or special cases like `FMA` etc. would be straighforward. Users wo

[2017-06-19 19:55] gsandorx commented on #1097
I'm really excited to see this coming to light. Awesome work! Thanks to the community (and MS) for working on this together 👍

[2017-06-19 20:05] Tornhoof commented on #6906
What does a property ``MethodInfo.IsIntrinsic`` actually solve?  I think that property has a different goal than a class ``X86.SSE`` (following @nietras example here). The class allows us to build possibly faster algorithms, the property mainly tells us that something is 'not' fast, but for checks of the 'Is SSE Available yes/no' kind, I imagine that the Intrinsic class needs that anyway, includin

[2017-06-19 20:49] RussKeldorph commented on #12261
Repurposing this issue to track improving the runtime to fail more explicitly when this bad pattern is encountered.  Please open a dotnet/roslyn issue to track the Roslyn bug if necessary.

[2017-06-19 21:27] bartonjs commented on #12217
@TingluoHuang If you want a guarantee of success you'll need to wait for (at least) the next official build.  If you want to continue being a trailblazer you can

* Locate System.Net.Http.dll (presumably `/usr/local/share/dotnet/shared/Microsoft.NETCore.App/1.1.2/System.Net.Http.dll`)
* Save a backup copy
* Download https://ci.dot.net/job/dotnet_corefx/job/release_1.1.0/job/osx_release/lastSuccess

[2017-06-19 22:01] jaredpar commented on #12261
CC @agocke

[2017-06-19 22:14] danmosemsft commented on #12361
Issue moved to [dotnet/corefx #21240](https://github.com/dotnet/corefx/issues/21240) via [**ZenHub**](https://www.zenhub.com/)

[2017-06-19 22:14] #12361 closed

[2017-06-19 22:23] BruceForstall commented on #12370
@jkotas

[2017-06-20 00:38] jkotas commented on #12370
As discussed before, this needs to be conditional as appropriate to avoid regressing hot paths on other platforms with different tradeoffs.

On Windows, the relocations are close to free - they do not contribute private pages.
On Unix x64, it is tradeoff between private pages and speed.

[2017-06-20 00:59] JustArchi commented on #12286
@Maoni0 I did the test as you suggested, the issue doesn't seem to be caused by `GC.GetTotalMemory(true)` but by `GC.Collect()` call "forcing" runtime to re-evaluate memory being used and give back to OS a small part each time its run.

I re-coded GC.GetTotalMemory(true) and added debug routines. Then as usual I waited till my app is done with work it has to do, leaving a lot of garbage to be coll

[2017-06-20 01:21] JustArchi commented on #12219
This doesn't necessarily has to be memory leak, but runtime being lazy when it comes to giving memory back to OS.

If you want to confirm if my theory is right, you can add a very dirty timer in `Main()` function, like:

[code]

And observe if suddenly your app slowly gives memory back to OS, resulting in memory usage drop each 2 seconds. If yes, it's exactly the same issue. If it doesn't help, th

[2017-06-20 09:51] 303248153 opened #12383 "[Question][JIT] Why "(cond)?0:1" can convert to "cond"? Confuse about then node and else node in qmark."
I'm really confuse with this code:
https://github.com/dotnet/coreclr/blob/v2.0.0-preview1/src/jit/morph.cpp#L12539

[code]

This code will convert "cond ? 0 : 1" to "cond", and "cond ? 1 : 0" to "!cond", which I think it should be opposite, why?

[2017-06-20 11:58] mikedn commented on #12383
Hmm, this code does appear to be broken but I don't think it ever runs in RyuJIT. Qmarks are only generated when importing certain code sequences and they won't match this pattern. This code should probably be ifdefed out, only when LEGACY_BACKEND is defined you're likely to encounter this pattern.

[2017-06-20 13:23] yangliweng commented on #12327
I  have no idea  to  solve it ,the  final  solution  is  run  clean  command to  re-install  cli and  others.

[2017-06-20 13:23] #12327 closed

[2017-06-20 15:34] pgavlin commented on #12275
Regarding flags modelling in particular, here's a sketch of what I've been thinking:

- Add `GenTree::WritesFlags` and `GenTree::ReadsFlags` APIs with the obvious semantics and change platform-specific lowering to properly set whatever bit(s) back these APIs
- Add `BasicBlock::FlagsLiveIn` and `BasicBlock::FlagsLiveOut` APIs with the obvious semantics and change liveness to compute these values
-

[2017-06-20 15:37] pgavlin commented on #11707
@CarolEidt I think this is done, is it not?

[2017-06-20 15:49] CarolEidt commented on #11707
Yes, it was done with #11994

[2017-06-20 15:49] #11707 closed

[2017-06-20 15:52] CarolEidt commented on #12275
That makes sense. Presumably the liveness and side-effect analyses would only be done when in LIR.

[2017-06-20 16:00] pgavlin commented on #7564
@ayende given the lack of traffic, I am going to close this for now. Please feel free to reopen if this remains an issue.

[2017-06-20 16:00] #7564 closed

[2017-06-20 16:03] mikedn commented on #12275
Sounds reasonable for a start and maybe for more. Some notes:

We already have something like that but it's a bit messy - `GTF_SET_FLAGS` and `gtSetFlags()`. Lowering (actually `TreeNodeInfoInit` right now, should be moved to lowering) uses that to prevent codegen from doing some bad transforms (e.g. `ADD` -> `LEA`).

I'm not sure that's needed right now. The only cross block use of flags we had d

[2017-06-20 16:07] pgavlin commented on #12275
Correct.

I think the semantics of this bit are a bit different than they seem. IIUC this bit is used to indicate that the ARM backend should generate an instruction that sets the CCR; it does not appear to have any meaning on other platforms. W.R.T. an implementation of the proposed design, I would suggest that we replace the APIs you've mentioned with `GenTree::WritesFlags` (possibly only when t

[2017-06-20 16:17] russellhadley commented on #12275
Does this generalize to other physical resources?  GP registers, sub flags, system registers a la arm64?  This seems like a place where we'd want a plan that covers the broader category of hardware resources in LIR even if we only need to stage a piece of it today.

[2017-06-20 16:21] mikedn commented on #12275
It does, see the `ADD`->`LEA` case I mentioned. The whole thing is rather convoluted, it originated in the legacy JIT, got reused in RyuJIT at some point, it's set in `TreeNodeInfoInit` instead of lowering and so on. And more importantly, the flag is set only on certain nodes (ADD, SUB etc.) and not on others (relop, CMP). It probably has to be set consistently if LSRA is to use it.

Yes, that wou

[2017-06-20 16:24] pgavlin commented on #12275
Yuck, I see that use now. My quick skim of `git grep` folded that use in `codegenxarch` with those in `codegenlegacy` :(

Yes, definitely. We want any code that reasons about side-effects to be able to depend on this, so it needs to be set consistently and accurately. Until it is, we may need to be extremely pessimistic (e.g. assume all nodes will generate code that sets flags unless they have exp

[2017-06-20 16:32] pgavlin commented on #12275
It does not. If we all agree on the aforementioned design for an interim solution for flags, I will open a separate issue to track that and we can discuss a more complete design here. I do not want to block making incremental progress (i.e. flags modeling) on a design for a feature for which we have no short-term use case.

[2017-06-20 16:39] pgavlin commented on #7556
@benaadams it looks like your question has been answered, so I'm going to close this issue. Please feel free to re-open this issue if I've closed it too soon.

[2017-06-20 16:39] #7556 closed

[2017-06-20 16:43] russellhadley commented on #12275
I'd like to make progress too but I'm concerned that interim solutions evolve into defacto designs hamstring medium term work - can we at least surface what the divergent concerns are that are in the way of us proposing a more consistent design?

[2017-06-20 16:45] CarolEidt commented on #12275
I think it is a greater danger to design for scenarios that we are not currently addressing. Chances are that the design will not be quite what we want down the road. I am a strong proponent of designing for scenarios at hand.

[2017-06-20 16:51] pgavlin commented on #12275
Here are some of the issues that I think a more complete solution would need to address:
- How do we name physical resources in the IR?
- How do we deal with nodes that write to/read from multiple physical resources?
- How do we reconcile physical and logical resources (e.g. do we replace references to lclVars with references to the appropriate registers/stack slots after register allocation)?

At

[2017-06-20 16:54] pgavlin commented on #7454
Have we done any deeper analysis of this s.t. we can tell roughly where this time is going?

[2017-06-20 16:57] pgavlin commented on #10019
@russellhadley @JosephTremoulet is this done?

[2017-06-20 16:59] pgavlin commented on #7301
Outside of minopts, is it possible to know the best possible score for a particular attempt a priori?

[2017-06-20 16:59] pgavlin commented on #7300
@CarolEidt I think this is done, is it not?

[2017-06-20 16:59] pgavlin commented on #7300
(inasmuch as we've eliminated resolution when not unregistering lclVars)

[2017-06-20 17:01] russellhadley commented on #12275
I believe the goal of optimizing LIR is near enough at hand that having a design that covers the more general is both practical and profitable.  In concrete terms this just allows us to better answer two related questions we already ask today:
- What nodes maybe reordered while preserving program side effects.
- What resources are live at what point in the flow graph.
My view is that these are fun

[2017-06-20 17:04] pgavlin commented on #6739
I don't think that this is actionable in the near- or medium-term, so I am going to close this issue for now while we are concentrated on pushing the existing allocator as far as we can.

[2017-06-20 17:04] #6739 closed

[2017-06-20 17:06] pgavlin commented on #6563
Anyone have any ideas on this? I'm not sure that there is a better solution that doesn't involve side tables or fundamentally restructuring the IR (e.g. by adding def -> use edges in LIR).

We may want to add a comment to `LIR::Range::TryGetUse` to document its cost.

[2017-06-20 17:08] pgavlin commented on #6537
@AndyAyersMS how does this intersect (if at all) with the type tracking we're now doing for devirt?

[2017-06-20 17:09] pgavlin commented on #6364
@CarolEidt is this done? I know you did some work in this area recently.

[2017-06-20 17:12] pgavlin commented on #1417
I think that this specific issue is now tracked by #6131, so I am going to close this issue. Please feel free to reopen if necessary.

[2017-06-20 17:12] #1417 closed

[2017-06-20 17:13] russellhadley commented on #6563
Is the algorithm truly sparse?  Or can it be restated as a use->def problem.  In SSA we've been careful - because of the cost of the def->use edges - to write our transforms to work use to def.  It does sometimes make you turn the algorithm upside down but there's a clear throughput win from reducing the threading in SSA.  (I don't have data for SDSU)  If you're really stuck with a sparse algorith

[2017-06-20 17:13] pgavlin commented on #6131
#12250 makes some initial progress on this problem.

[2017-06-20 17:17] AndyAyersMS commented on #12275
@mikedn There are unordered FP compares that do back to back flags tests... eg
[code]
So technically the flags are live cross block here.

But perhaps this does this not really count as cross-block live to the jit, if it allows 2 jump instructions in a single BB if they have the same target?

[2017-06-20 17:24] CarolEidt commented on #7301
So, a bit more description would have been warranted here, and mea culpa for that (this issue has been around for a very long time before migrating from the old work items, and I just copied most of the text from there). There are a couple of ways a register is evaluated as a candidate. The first is the score. And it is possible to know the best possible score based on the characteristics of the `

[2017-06-20 17:25] CarolEidt commented on #7300
Yes, this is now moot. Cleaerly I need to do a better job of cleaning up my issues!

[2017-06-20 17:25] #7300 closed

[2017-06-20 17:25] pgavlin commented on #12275
Yeah, I think this would be represented in the IR as a single `GT_JTRUE` node fed by a compare, in which case the flags are not live cross-block in a sense that the JIT models.

[2017-06-20 17:26] pgavlin commented on #5430
Is this still an issue? If this is JIT32-only then we probably don't need to track it.

[2017-06-20 17:27] CarolEidt commented on #6364
Yes, indeed. This should have been closed with #11878

[2017-06-20 17:27] #6364 closed

[2017-06-20 17:30] pgavlin commented on #5286
@RussKeldorph @dotnet/jit-contrib Given that this is a JIT32 issue, do we need to continue tracking it?

[2017-06-20 17:31] pgavlin commented on #5556
@CarolEidt is this issue sufficiently tracked by first class structs s.t. we can close it, or would you prefer to leave it open for tracking?

[2017-06-20 17:32] #12101 closed

[2017-06-20 17:33] CarolEidt commented on #6563
I think this is the right approach to push first, and is behind #12317. I've also used a backward traversal in the past for peephole/machine-specific optimizations, not just for this reason but because it often produced better results both in terms of starting with the ultimate objective (the final result of an expression), as well as in terms of register pressure.

[2017-06-20 17:35] pgavlin commented on #4548
Closed by #11110.

[2017-06-20 17:35] #4548 closed

[2017-06-20 17:35] pgavlin commented on #4315
cc @dotnet/jit-contrib

[2017-06-20 17:36] pgavlin commented on #4108
@AndyAyersMS does the devirt implementation cover any of this?

[2017-06-20 17:38] mikedn commented on #7454
Is #9231 related to this?

[2017-06-20 17:38] AndyAyersMS commented on #6537
It's closely related.

I've looked a similar problem: the span constructor has an array type check we'd like to optimize (#10258) -- since spans are not covariant and allow writes, so we have to check the types at construction time. See for instance [this prototype](https://github.com/AndyAyersMS/coreclr/tree/OptimizeSpanCtorTypeTest) on my CoreCLR fork.

Right now we don't track array types durin

[2017-06-20 17:39] CarolEidt commented on #5556
I would like to continue to leave this open. Indeed, I had originally planned to open individual issues for all of the work items listed in  [First Class Structs](https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/first-class-structs.md), since I think they are easier to find, and of a more appropriate granularity than having a single issue for all of the struct-related perf i

[2017-06-20 17:39] pgavlin commented on #3408
Given the impact that the initial block size has on JIT throughput, looking into this further seems timely.

cc @BruceForstall @CarolEidt

[2017-06-20 17:40] pgavlin commented on #2877
@jashook do we still need to be tracking this, or can we close this issue?

[2017-06-20 17:42] pgavlin commented on #7454
Yes, it was related to this issue.

[2017-06-20 17:43] pgavlin commented on #5556
SGTM; thanks!

[2017-06-20 17:44] MattGal opened #12386 "Build definition work to disable external publish via PipeBuild definition"
Related: https://github.com/dotnet/core-eng/issues/626

This was informed by the MSRC work, where being able to selectively disable publish steps for all builds in the composed product was necessary.

I did some work to allow disabling any given Pipebuild leg with the -d arg (e.g. “-d "Regex:^Publish.*"”) but @dagood points out that there’s more to be done there since some repositories do things t

[2017-06-20 17:46] mikedn commented on #12275
Yes, these aren't lowered, codegen handles them as already mentioned by @pgavlin. I preserved this approach even in my relop lowering experiment, it doesn't seem to be worth changing.

[2017-06-20 17:48] pgavlin commented on #2173
@alexandrnikitin it looks like this is now tracked by #2174, so I am closing this issue. Please feel free to reopen it if I've closed it in error.

[2017-06-20 17:48] #2173 closed

[2017-06-20 17:49] pgavlin commented on #2157
@JosephTremoulet have your recent changes to static init hoisting had any effect on this?

[2017-06-20 17:55] AndyAyersMS commented on #4108
For the current devirt, the type we'd recover would be the declared type, not the actual type of object the static currently refers to. And currently we only get the declared type in some simple cases, pending #10732, since static access expands into complex sequences at times.

If we know for sure the static cannot be redefined at runtime then we could inspect the value at jit time and if non-nul

[2017-06-20 18:25] adiaaida opened #12388 "Investigate Linux x64 throughput 2.0.0 vs 1.1.0 regressions"
On many small assemblies (Microsoft.Win32.Registry.AccessControl, System.ComponentModel.Composition, System.Composition.AttributedModel, etc), we see a significant regression between 2.0.0 and 1.1.0 on Linux. We need to look into these regressions and identify why we see these regressions.

[2017-06-20 18:41] alexandrnikitin commented on #2157
@pgavlin It seems so, there's no such branch in master anymore. I think it can be closed then.

[2017-06-20 18:41] #2157 closed

[2017-06-20 19:53] RossNordby commented on #6906
I'll also second (third?) a design like the one proposed by @tannergooding. `Vector<T>` is really nice as-is for a lot of things, but it has some gaps that are very hard to fill at its current level of abstraction. As a library developer, I'd definitely be willing to jump through some extra hoops to improve performance. Doubly so if it makes it quicker and easier for the runtime to adopt newer int

[2017-06-20 21:09] #12289 closed

[2017-06-20 22:11] AtsushiKan opened #12391 "Implement Assembly.GetForwardedTypes() on CoreCLR."
This api was approved here: https://github.com/dotnet/corefx/issues/19789. Specifications can be found in that issue.

Difficulty: Moderate and will likely require modifying both C# and C++ code. Maybe 1 week dev time for someone familiar with Reflection, ECMA metadata, QCalls and unmanaged <a href="https://docs.microsoft.com/en-us/dotnet/framework/unmanaged-api/metadata/imetadataassemblyimport-in

[2017-06-20 22:14] RussKeldorph commented on #5286
Does that mean, despite the bug title, there's still an issue for RyuJIT?  If so, I could be persuaded to change the bug title or close because there's little value in tracking it for RyuJIT.  I wouldn't close it because it's JIT32-specific if it's not.

[2017-06-20 22:21] erozenfeld opened #12392 "Assert in JIT register allocator followed by an infinite loop"
Compile Program.cs below:

.\Tools\dotnetcli\dotnet.exe Tools\csc.exe /o+ /out:Program.exe Program.cs /r:.\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\System.Private.CoreLib.dll /r:.\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\System.Console.dll /r:.\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\System.Runtime.dll

[code]
Then run the resulting program:
.\bin\tests\Windows_NT.x64.Chec

[2017-06-20 22:22] erozenfeld commented on #12392
The bug reproduces when csc generates the following sequence for
`return null != this.value;`
in Setting<T>.HasValue:
[code]

[2017-06-20 22:29] erozenfeld commented on #12392
The bug is in fgMorphRecognizeBoxNullable.
It can't handle a call to CORINFO_HELP_BOX_NULLABLE that has been morphed (i.e. after global morph) and where the struct arg is a late arg. The reason fgMorphRecognizeBoxNullable gets called after global morph is that during global morph fgMorphRecognizeBoxNullable is only called for GT_NE and GT_EQ but here we have GT_GT (which is also legal).

I have a

[2017-06-20 22:32] pgavlin commented on #5286
Looks like it; we should update the title.

[2017-06-20 22:35] RussKeldorph commented on #5286
Changed title since apparently not JIT32-specific.  Not clear if x86 label is even appropriate.

[2017-06-20 22:55] rartemev opened #12393 "Multiple users are not able to build CoreCLR on the same Linux machine."
If we have two users (A and B) on the same Linux machine and A built CoreCLR first, user B is not able to build it too because build system creates `/tmp/NuGet` directory which is owned by A and inaccessible for B.

init-tools.log is like this
[code]

[2017-06-20 23:02] salrashid123 opened #12394 "build-test.sh failing on linux with "Windows PDB writer is not available""
The test suite build script recently started failing on linux with the exception:

[code]
This happens on multiple machines when building with latest

the build-test script used to work just a week ago with
  commit 699b25847ec14e47abc03cf7f3a1ffdb249d68b6
after converting the three files cited on  [issue #12182 ](https://github.com/dotnet/coreclr/issues/12182) for utf-8 encoding

however, a git c

[2017-06-20 23:47] RussKeldorph commented on #12392
@dotnet/jit-contrib

[2017-06-21 00:10] rartemev commented on #12394
This is the known problem. It happened because a bug in Roslyn for Linux. Hope it will be fixed soon.

Fast fix would look like replacing

`<DebugType></DebugType>` with `<DebugType>None</DebugType>` in .csproj file.

[2017-06-21 01:18] CarolEidt opened #12398 "[RyuJIT] Lowering is inconsistent in checking safety of RegOptional"
In a number of places, `Lowering` checks `IsSafeToContainMem()` before setting an operand as contained, then if it fails to make it contained it marks it as `regOptional`. However, if it is unsafe for the node to be contained, it is presumably also unsafe to mark it `regOptional`, as it will be loaded at the point of use in the event that it doesn't get a register.

category:correctness
theme:lowe

[2017-06-21 01:20] CarolEidt commented on #12398
@pgavlin @BruceForstall - is there something I may be missing here?
cc @dotnet/jit-contrib

[2017-06-21 01:34] CarolEidt commented on #12398
Note that I haven't found an actual bug, but it seems incorrect on examination.

[2017-06-21 04:50] pgavlin commented on #12398
Let's break this down by node/interval kind:
- For reg-candidate lclVars, each use node translates to a use position at the point at which the using node executes. In order to ensure that this is safe, the IR is constructed s.t. no redefinitions of the lclVar may appear between a use node for a lclVar V0 and the using node. Therefore, if the operand is marked `regOptional` and does not get a regis

[2017-06-21 05:02] CarolEidt commented on #12398
The trickiness comes about for non-reg-candidate lclVars. These mostly behave as SDSU temps, but if they are marked `regOptional` and do not get a register, they will be loaded from their home location at the point of use.

[2017-06-21 05:07] pgavlin commented on #12398
Ah, sure, since rather than using a spill slot we elide the spill and reload from the lclVar's stack slot. That is definitely not safe without additional checks.

[2017-06-21 05:08] pgavlin commented on #12398
To be more precise, that transform should be unsafe only for aliased (e.g. address-exposed) lclVars. It is safe for lclVars that are not aliased even if they are not register candidates.

[2017-06-21 05:23] jyoungyun commented on #12290
I'm looking at this issue. :)

[2017-06-21 05:25] sjsinju commented on #12290
@BruceForstall Please assign this to me.

[2017-06-21 09:31] jyoungyun commented on #11840
I'm going to look this issue.

Below unittests are failed with the same assert in raspberry pi3.
[code]

[2017-06-21 10:12] jyoungyun commented on #11248
@gkhanna79 Okay Thanks :)

[2017-06-21 10:50] noahfalk commented on #445
Just a PSA since I know this thread has many people interested in profiler APIs, my recent PR #12193 has some profiling changes in it.

Is there interest in creating an informal group where profiler relevant changes can be announced/discussed in the future? I'm not that wise to ways of github but that seems like something we should be able to do if there was interest?

[2017-06-21 14:06] salrashid123 commented on #12394
thanks; that worked.

[2017-06-21 14:37] TingluoHuang commented on #12217
@bartonjs thanks, my customer is able to apply the fix himself and able to use the build agent run a build.

[2017-06-21 14:43] #11849 closed

[2017-06-21 14:46] #12078 closed

[2017-06-21 17:52] #12392 closed

[2017-06-21 18:23] dpodder opened #12407 "RHEL Docker image for VSTS builds used in release/2.0.0 is missing LTO support"
This has been resolved in master with #12396, but the fix needs to be ported to release/2.0.0 as well.

Symptom:
[code]

[2017-06-21 18:27] pgavlin commented on #12317
There are a couple of challenges that need to be overcome in order for this to be a viable approach:
1. The decomposition/lowering code is currently written with the assumption that a node's operands will be decomposed/lowered before the node itself is decomposed/lowered. Adjusting to a strict backwards traversal will certainly require removing these assumptions, and more work may be required to g

[2017-06-21 18:32] danmosemsft commented on #12354
@vancem can you comment on the profiler observation? is this something that's come up before? should Thread.Name also call SetThreadDescription()?

[2017-06-21 18:33] danmosemsft commented on #12393
@ericstj is this nuget doing this? presumably if it maintains a global cache it needs some kind of locking system.

[2017-06-21 19:02] ericstj commented on #12393
Yeah, that's NuGet.  We used to hit this sort of thing all the time when running multiple instances of nuget on machine at once even from a parallel build, which is why we try to call nuget once up-front.  NuGet worked at fixing those issues but they likely still have lingering problems.  Please file an issue on https://github.com/nuget/home

[2017-06-21 19:14] CarolEidt commented on #12317
The demand-drive approach seems like a reasonable starting point.

[2017-06-21 19:52] swgillespie commented on #12170
Compiling with https://github.com/dotnet/coreclr/pull/12389 has revealed two additional violations:

* [`HndFetchHandle` ](https://github.com/dotnet/coreclr/blob/master/src/debug/daccess/dacdbiimpl.cpp#L5719)
* [`HndGetHandleADIndex`](https://github.com/dotnet/coreclr/blob/master/src/debug/daccess/dacdbiimpl.cpp#L5762)

I will update the above call graph with these functions to estimate the damage

[2017-06-21 20:28] swgillespie commented on #12170
Updated call graph:

![getdependenthandlesecondary_calltree2](https://user-images.githubusercontent.com/1871912/27405205-818b0740-5685-11e7-93f1-b6350916955e.jpg)

[2017-06-21 20:47] VSadov opened #26469 "Consider detecting and optimizing common range check patterns"
It is very common to see code such as:
`(num >= '0' && num <= '9')`

The efficient way to emit such checks is:
`(uint)(num - '0') <= ('9' '- '0')`

That often comes up in code reviews (see:https://github.com/dotnet/corefxlab/pull/1616 )

It should not be too hard to handle this kind of strength reduction in th ecompiler.

[2017-06-21 20:53] tomekpr opened #12410 "Random occurrences of high cpu usage"
hello,

Apologies if that's not the right place to ask this question.

I was hoping that someone can help me out with a little conundrum. From time to time my process goes into a weird state i.e.
100% cpu usage. I ran a performance profiler and I'm not sure if I fully understand what is going on:

Stack trace indicates that hot section is around :
- System.Threading.ThreadPoolWorkerQueue.Dispatch(

[2017-06-21 22:12] janvorli commented on #12410
Sounds like #10292
cc: @kouvel

[2017-06-21 22:14] agocke commented on #12261
@janvorli @pgavlin I can't seem to load these coredumps using lldb. Every time I try `plugin load libsosplugin.so` I get back: `this file does not represent a loadable dylib`

[2017-06-21 22:26] janvorli commented on #12261
Which version of lldb do you use? If you are using the libsosplugin.so from the dotnet core package, then it works just with lldb 3.6.

[2017-06-21 22:27] agocke commented on #12261
@janvorli Gotcha. I was using lldb-3.8. I'll try with 3.6.

[2017-06-21 22:31] janvorli commented on #12261
@agocke actually, I think that 3.6 doesn't work well with dumps. Ideally, you'd use lldb-3.8 and higher with libsosplugin.so built for that lldb. But you'd need to build that yourself. Alternatively, I can share libsosplugin.so version for 3.8 with you.

[2017-06-21 23:25] kouvel commented on #12410
The lock in TimerQueueTimer.Fire is held for very short durations with just a few instructions inside each lock. Contention here usually means that there are too many repeating timers that the system is not able to keep up with the work, along with whatever else is happening on the machine. This could be the result of a timer leak or having too many short-period repeating timers. The inherent spin

[2017-06-21 23:49] BruceForstall opened #12415 "JitMinOptsTrackGCrefs and x86"
In #9869, the JIT config value `JitMinOptsTrackGCrefs` was added to jitconfigvalues.h, under:
[code]
However, not all uses were put under this same `#ifdef`. It turns out that the declaration of all the JIT config values happens very early, as the first JIT header file included. The only macros defined at that point are from switches.h and the compiler command-line. In particular, `JIT32_GCENCODER

[2017-06-22 00:00] BruceForstall commented on #12415
Note that #9910 is an issue to extend the "Simplified GC MinOpts tracking" to platforms beyond amd64/coreclr. Based on this issue, it is already enabled on x86 for all platforms (for the RyuJIT codebase).

[2017-06-22 01:51] HoboRobo123 commented on #12340
@tarekgh thank you so much! I'll add in some logic to differentiate between decimal numbers and currency.

[2017-06-22 15:00] vancem commented on #12354
Obviously until this API exists, at the OS level of abstraction threads don't have names, and thus ETW profiling tools don't know about that name.   Using this API is one step in fixing that, but of course ETW tools would also have to be updated.

I think it is certainly a reasonable thing to do (passing what information we have to the 'standard' the that OS defines.  It can only make things bette

[2017-06-22 15:49] mskvortsov opened #12421 "[ARM] Intermittent segfaults in JIT/Methodical/cctor/misc/threads1_cs_r"
One of the possible stack traces that gdb shows after loading a core dump:
[code]

[2017-06-22 15:50] danmosemsft commented on #12354
@jkotas do we have a way to use RS2 specific API in the clr?

[2017-06-22 15:52] mskvortsov commented on #12421
@dotnet/arm32-contrib Can someone reproduce this? I use a script like this:
[code]

[2017-06-22 16:23] sdmaclea commented on #12337
@jkotas Thanks.  I initially was seeing 5% of perf data hitting in these blind spots.  I just collected a trace from an important benchmark whixh had 70% hitting in these blind spots.  I will instrument them.

[2017-06-22 16:24] jkotas commented on #12354
Yes: LoadLibrary/GetProcAddress. There is a lot of prior art. One example from many: https://github.com/dotnet/coreclr/blob/13e7c4368da664a8b50228b1a5ef01a660fbb2dd/src/classlibnative/bcltype/system.cpp#L74

[2017-06-22 16:28] danmosemsft commented on #12354
Doh ! Yes obviously. @Alois-xx any interest in submitting a PR, at least for Thread.Name if not more? Seems reasonably straightforward.

[2017-06-22 17:33] mfilippov commented on #11305
I have same issue, @briansull thank you for workaround.

[2017-06-22 18:38] am11 commented on #9253
@wtgodbe, project.json files were removed as part of CLI 2.0 work, so the link in first post is invalidated. Should:

* https://github.com/dotnet/coreclr/blob/c4876c4/tests/scripts/project.json and https://github.com/dotnet/coreclr/blob/c4876c4/tests/debugger_tests/ScriptGenerator/project.json, be removed?
* the commented out code in test csproj files like:
[code]
  also be removed?

[2017-06-22 18:41] wtgodbe commented on #9253
I would think the scripts project.json files can be removed, unless they are explicitly being restored somewhere - @smile21prc do you know if those are still in use?

As for the commented out code, that can definitely be removed.

[2017-06-22 18:42] wtgodbe commented on #9253
https://github.com/dotnet/coreclr/blob/master/tests/src/Common/test_runtime/test_runtime.csproj#L13-L15 here is the equivalent thing in the new .csproj

[2017-06-22 18:58] janvorli commented on #12421
@mskvortsov regarding the 2nd dump, are you sure the failure point is in the thread whose stack you've dumped? My experience is that when you load a dump with SIGSEGV, the faulting thread is often different from the thread 1 that it shows by default. I usually have to do bt for all threads and then pinpoint the one that have caused the problem by looking at the current instruction's operands and c

[2017-06-22 19:00] am11 commented on #9253
I was just browsing the code and found few of these remaining occurrences of project.json. Also found one in main readme:

Perhaps, `project.json` in that text can be replaced by `project file` (without formatting)?

[2017-06-22 20:12] mskvortsov commented on #12421
@janvorli I didn't know the first thread gdb shows may differ from the failing one, thanks for pointing this out!

I have checked and can confirm the 2nd dump is indeed from the failing thread:
[code]

[2017-06-22 20:58] AtsushiKan commented on #12391
A couple of links to the CoreRT implementation. You can't cut and paste it directly into CoreCLR as it's a very different code base and CoreCLR doesn't have access to System.Reflection.Metadata.Ecma335.dll at this level. But it can be useful as guidance.

https://github.com/dotnet/corert/blob/919f5ed26ad78940d126d25368d036e6cdb44f00/src/System.Private.Reflection.Core/src/System/Reflection/Runtime/

[2017-06-23 01:04] dpodder commented on #12407
Confirmed changes are visible in VSTS-produced packages for CoreCLR build 25422.01. This bug can now be considered closed.

[2017-06-23 01:04] #12407 closed

[2017-06-23 01:06] dpodder commented on #11799
All known outstanding issues are now closed, and I just confirmed that the latest VSTS nightly build for release/2.0.0 had PGO correctly enabled. Marking this as closed.

[2017-06-23 01:06] #11799 closed

[2017-06-23 01:33] Maoni0 opened #12426 "Proposal - Ways to alter large object allocation behavior"
We understand LOH has been one of the pain points and I'd like to propose some ways to change the LOH allocation behavior for the near future. I would love to hear feedback if you have scenarios that could benefit from these. Or if you think these are hard/nonsensical to use and have other ideas I'd love to hear about those too. Note that the usage scenarios are really important here - we are not

[2017-06-23 02:07] #11306 closed

[2017-06-23 03:01] Alois-xx commented on #12354
Sure. I will get the things and submit a PR. But it can take a while until my limited free has enough gaps.

[2017-06-23 03:16] 303248153 commented on #12383
Is it really appear to be broken?
Because I just saw the comment about ThenNode and ElseNode, I'm not so sure what's this code actually mean.

[2017-06-23 05:03] pjbgf commented on #10597
@mletterle I have created a CLI version for ILDasm that is cross platform. If you try again `nuget install dotnet-ildasm` it should work now.  If you want to contribute or play around with the code, [here](https://github.com/pjbgf/) it is.

[2017-06-23 06:00] mikedn commented on #12383
Yes, there is some confusion around "then" and "else" but look at the code that's above `case GT_QMARK:` - it converts `cond` into `cond ? 1 : 0`. And despite the slightly confusing reordering in `GenTreeColon` constructor it's easy to see that 1 becomes "then" and 0 is "else", the opposite of what the code you're looking at does.

The only way to be really sure is to check what code is generated

[2017-06-23 06:03] hqueue commented on #12421
@mskvortsov Unfortunately, I couldn't reproduce  this one using your `repro.sh` on Rpi3 with last week CoreCLR. (commit a2ecf158bf2) until more than 100 trials(maybe).
[code]

My rpi3 use Ubuntu mate (16.04) with glibc 2.23 and libunwind8(1.1-4.1) where `access_mem` is defined.
[code]

[2017-06-23 10:48] mattwarren commented on #12303
If anyone is interested in doing this, you might want to have a look at [some code I've written](https://github.com/mattwarren/HeapStringAnalyser) that uses [CLRMD](https://github.com/Microsoft/clrmd) to analyse heap dumps. It shouldn't be too hard to adapt it, so instead of looking for `strings`, it looks for instances of `delegates`.

[2017-06-23 14:12] tomekpr commented on #12410
hi,

Thank you for clarification. Just before @kouvel replied I was looking at memory dump file. It turns out that there were 1.3 million undisposed objects from System.Threading.Timer, so in other words timer  leak. I changed the code such that the timer is not needed at all and we're going to release in subsequent weeks.

Thanks!

[2017-06-23 17:18] kouvel commented on #12410
Great!

[2017-06-23 17:18] #12410 closed

[2017-06-23 18:27] swgillespie commented on #12170
Thanks everyone for the offline feedback so far - unfortunately this is a thorny issue that does not appear to have an appealing solution. To summarize the feedback I've received (and to make sure we're all on the same page, since I've written a lot on this issue):

In the future, a build of the GC (possibly from another repo) may produce two build artifacts: first, a standalone GC linked as share

[2017-06-23 18:30] swgillespie commented on #12170
Another note is that `HndEnumHandles` has a complex call graph that touches many details of the handle table and thus is potentially difficult to include in the header approach.

[2017-06-23 21:44] sdmaclea commented on #12337
The 70% was a perf bug/misunderstanding, but since I had instrumented the stubs first I have pushed PR #12437

[2017-06-23 22:44] briansull opened #12438 "ExecutionManager::GetRangeSection performs a linear search over list of loaded assemblie"
while (pCurr != NULL)
           {
               // See if addr is in [pCurr->LowAddress .. pCurr->HighAddress)
 12.0 |        if (pCurr->LowAddress <= addr)
               {
                   // Since we are sorted, once pCurr->HighAddress is less than addr
                   // then all subsequence ones will also be lower, so we are done.
  3.0 |            if (addr >= pCurr->HighAddress)

[2017-06-23 22:49] briansull commented on #12438
@vancem  Issue filed

[2017-06-24 09:04] 303248153 commented on #12383
Yeah, and I think the comment `If we are entering the "then" part of a Qmark-Colon we must` in morph.cpp is incorrect because all other places see op1 as else part, so the code I was asking should be wrong.
As my question is solved and you opened a new issue, I'll close this one.

[2017-06-24 09:04] #12383 closed

[2017-06-24 10:51] jdm7dv opened #12442 "Cannot find liblttng-ust-dev in linux Debain "Stretch" but it is already installed."
jdm7dv@Jupiter:~/Version Control/Microsoft/dotnet/coreclr-1.1.2$ ./build.sh
Commencing CoreCLR Repo build
Setting up directories for build
Checking prerequisites...
Laying out dynamically generated files consumed by the build system
Laying out dynamically generated Event Logging Test files
Generating Event Logging Tests
Laying out dynamically generated Event Logging Implementation of Lttng
Cleanin

[2017-06-24 11:19] jdm7dv commented on #12442
preformed autoremove but the problem still persists.

[2017-06-24 23:23] pgavlin opened #12443 "Improve the usefulness of operator kinds w.r.t. operand access."
(Related to #12441)

Today, the most efficient way of deciding how to access a node's operands is by switching on the node's operator. Instead, it would be nice to use the node's operator kind, as this results in smaller/more readable code. Unfortunately, using the operator kind is not as efficient for a number of reasons:
1. Accessing a node's operator kind requires two loads where accessing its

[2017-06-25 08:20] mikedn commented on #12443
Maybe automatically generating those switches by using some template and/or macro machinery. Or by using some sort of script which parses a description of operators and generate all the necessary code. GTNODE on steroids basically.

Otherwise just modify the IR so all this isn't needed (at least not for common operators). It's kind of funny that "old school" approaches (using linked lists of opera

[2017-06-25 09:01] aviviadi opened #12444 "dotnet core on MacOS (compileMethod)"
Trying to run on MacOSX - 10.11.6
dotnet 1.0.4

Application starts, performs first init (mainly writing to console), and then crashes.
Attached core dump.

The same tested and works fine on Windows (10, 2016 - nano)  & Linux (ubuntu, centos)
Can you suggest which method (or what type of method) causing this crash ?

[code]

[2017-06-25 12:18] aviviadi commented on #12444
additional info :
I tried removing (remarking) chunks of code in order to find which code causing this, and eventually ended with a different core (see below). Might it suggest I have a general problem with coreclr on this Mac ?

dump:
[code]

[2017-06-25 15:59] longo-net opened #12445 "System.DllNotFoundException: Unable to load DLL 'e_sqlite3' with .Net Core 2 project on Raspberry PI"
We have an application developed with .NET Core 2.0 Preview 1 that use entity framework with a sqlite db.
The app works fine on pc with windows and linux with x64 cpu, but if we publish it to "ubuntu.16.04-arm" runtime and copy the output on Raspberry Pi 2, when we try to run the app we have this error:

Unhandled Exception: System.TypeInitializationException: The type initializer for 'Microsoft.D

[2017-06-25 18:19] pgavlin commented on #12443
One of the things I would like to investigate long-term is changing the IR s.t. for operators with a fixed number of operands
a) the operands are stored in an inline array, and
b) the # of operands is either accessible on the node or trivially derivable from the operator.

That would allow operand iteration to be a simple for loop in the common case. Variadic operators would probably still require

[2017-06-25 19:53] pynixwang opened #12446 "runtime args error giving a bad message"
[code]

when i use dotnet runtime but dll path is error,  `dotnet` show me this bad message, it 's very hard to find the problem. other errors also show this message.

[2017-06-26 01:38] sjsinju commented on #12290
Merged #12417

[2017-06-26 01:38] #12290 closed

[2017-06-26 02:36] danmosemsft commented on #12074
@lt72 what's the prospects of getting this implemented? It would certainly help folks working on CoreFX, as well as customers.

[2017-06-26 04:57] sjsinju commented on #11838
Current Status

ab7f3407fa9
checked build.
[code]

[2017-06-26 05:18] AArnott opened #12447 "VS2017 Update breaks my dotnet CLI tool: The specified framework 'Microsoft.NETCore.App', version '1.0.5' was not found."
I haven't changed my dotnet CLI tool project in a significant way, but it stopped working on old machines when built with newer builds of VS 2017.

A build made a while back on [this commit](https://github.com/AArnott/CodeGeneration.Roslyn/commit/fce1c8ba1eff248ad34329fee843ecf19b423b37) works. But recently I build [this commit](https://github.com/AArnott/CodeGeneration.Roslyn/commit/b787bd1369df4

[2017-06-26 05:26] AArnott commented on #12447
This issue was moved to dotnet/sdk#1370

[2017-06-26 05:26] #12447 closed

[2017-06-26 06:21] sjsinju commented on #11838
@BruceForstall Please assign this to me.

[2017-06-26 06:23] dotnet-mc-bot opened #12448 "Test: JIT_Regression._CLR_x86_JIT_V1_2_Beta1_b178119_b178119_b178119_/_CLR_x86_JIT_V1_2_Beta1_b178119_b178119_b178119_cmd failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `JIT_Regression._CLR_x86_JIT_V1_2_Beta1_b178119_b178119_b178119_/_CLR_x86_JIT_V1_2_Beta1_b178119_b178119_b178119_cmd` has failed.

/home/helixbot/dotnetbuild/work/2cb4d3a5-41d4-4a53-b1b9-27b670649363/Work/2c94d5fe-fb1f-4294-93db-b6957b507aa0/Unzip/CLR-x86-JIT/V1.2-Beta1/b178119/b178119/b178119.sh: line 243: 13937 Aborted                 (core dumped) $_Debug

[2017-06-26 06:27] Jiayili1 commented on #12448
Failed tests:
JIT_Regression._CLR_x86_JIT_V1_2_Beta1_b178119_b178119_b178119_/_CLR_x86_JIT_V1_2_Beta1_b178119_b178119_b178119_cmd
JIT_Regression._CLR_x86_JIT_V1_2_Beta1_b178128_b178128_b178128_/_CLR_x86_JIT_V1_2_Beta1_b178128_b178128_b178128_cmd
JIT_Regression._CLR_x86_JIT_V2_0_Beta2_b268908_b268908_b268908_/_CLR_x86_JIT_V2_0_Beta2_b268908_b268908_b268908_cmd
JIT_Regression._VS_ia64_JIT_V1_2_M02_b

[2017-06-26 06:29] dotnet-mc-bot opened #12449 "Test: JIT_jit64._opt_cse_HugeArray1_HugeArray1_/_opt_cse_HugeArray1_HugeArray1_cmd failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `JIT_jit64._opt_cse_HugeArray1_HugeArray1_/_opt_cse_HugeArray1_HugeArray1_cmd` has failed.

/home/helixbot/dotnetbuild/work/2cb4d3a5-41d4-4a53-b1b9-27b670649363/Work/3fb0290d-67ca-45ea-af5e-a49e6ae1ad20/Unzip/opt/cse/HugeArray1/HugeArray1.sh: line 250: 50471 Aborted                 (core dumped) $_DebuggerFullPath "$CORE_ROOT/corerun" $ExePath $CLRTestExecut

[2017-06-26 06:33] Jiayili1 commented on #12448
This issue is also repro on Ready-To-Run tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fr2r~2Fcli~2F/build/20170626.01/workItem/JIT.Regression.XUnitWrapper

[2017-06-26 06:34] Jiayili1 commented on #12449
This issue is also repro on Ready-To-Run tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fr2r~2Fcli~2F/build/20170626.01/workItem/JIT.jit64.XUnitWrapper

[2017-06-26 08:42] dduerner-ycwang commented on #12426
We were really hoping to go a little further and make the GC act more like the OS heaps.

By OS heaps we mean heaps created with HeapCreate(), where HeapAlloc() gets the memory from its heap for allocations under 1024KB(64-bit) and 512KB(32-bit), BUT goes direct to the OS using VirtualAlloc() for allocations over 1024KB(64-bit) and 512KB(32-bit).

We wish we could eliminate the LOH entirely; havin

[2017-06-26 08:49] hseok-oh opened #12451 "[RyuJIT/ARM32] codegenarm.cpp:294 - NYI_ARM: struct return"
Example

[code]

Test methods with this NYI message
[code]

[2017-06-26 08:51] hseok-oh commented on #12451
I'm going to look this issue.
It looks like related to HFA return.

[2017-06-26 11:10] ayende commented on #12426
The idea about having the GC call to the OS directly for large objects is interesting, but the cost of actually allocating / freeing large objects is non trivial. In particularly, when running high perf code, allocation is usually a major concern.

That said, people who care about this area already pooling their memory, so I don't see this as a major issue.
Note that this approach pretty much forc

[2017-06-26 15:06] CarolEidt commented on #12443
I'm kind of amused that you are implying that this is a "modern" approach, since this IR has been around since the 90's :-)

I think that this might be the most reasonable short- to medium- term approach.

Agreed :-)

[2017-06-26 15:51] alpencolt commented on #11846
I've checked on master all tests are passed with `COMPlus_AltJitAssertOnNYI=0`.
Almost all methods are compiled by RyuJIT except few which are rolled to legacy with `NYI_ARM: Struct split between integer registers and stack`

@BruceForstall could you check on Windows NT ARM and close this issue?

[2017-06-26 16:16] alpencolt commented on #11929
Fixed by #12105 and #12005

[2017-06-26 16:21] BruceForstall commented on #11846
@alpencolt I've assigned the issue to myself. I've had trouble recently running arm32 on Windows, but I'll keep trying.

[2017-06-26 17:14] lt72 commented on #12074
@noahfalk FYI
We will put this work item on the 2.1 planning and prioritize according to other needs. We should be able to make a call by end of July, when planning is finalized.

[2017-06-26 17:22] mikedn commented on #12443
Well, I'm not exactly familiar with LLVM but AFAIK it too uses many different classes (binary, unary etc.) to represent instructions just like the JIT does. But I think LLVM instructions have an array of operands rather than having each class defining a bunch of data members to represent operands. So I suppose the JIT is close to being "modern" but not quite there yet :)

[2017-06-26 17:55] janvorli commented on #12442
@jdm7dv Can you please try to delete the bin subfolder and try to run the build again? The error stems from the lttng/tracepoint.h header file not found, but the detection is done only at the first build, cmake caches that information later. So in case you ran the build before the liblttng-ust-dev was installed, it would remember that unless you delete the bin folder.

Also, I can see that there a

[2017-06-26 17:57] AlgorithmsAreCool commented on #12426
The analysis @dduerner-ycwang's code project is compelling to me at least. As I understand it the major benefit of sub-allocating virtual memory from the OS via heaps is to allow higher efficiency for small object allocations which are pathological most .NET programs. Why are we trying to beat the OS at it's own game for large allocations?

In particular the observation (in figure 4) that per-obje

[2017-06-26 17:59] adiaaida opened #12454 "Investigate release/2.0.0 x64 vs x86 throughput differences"
In all of our throughput benchmarks, x86 throughput is worse than x64. We need to investigate this so we can understand these throughput differences.

category:throughput
theme:throughput
skill-level:expert
cost:small

[2017-06-26 18:01] gregg-miskelly commented on #12074
@danmosemsft You are asking for only Windows AND only full VS, correct? I don't see how we could make the full end-to-end work in VS Code, or in some sort of remote VS case.

[2017-06-26 18:02] adiaaida commented on #12454
Phases that most impact these differences:

Importation
Morph - Inlining
VN based copy prop
Assertion Prop
Local var Liveness
Lowering

In the case of assertion prop and lower, we seem to have to process additional blocks on x86. Also in lowering, we have to decompose longs, which adds a significant amount of time to throughput.

[2017-06-26 18:22] wtgodbe commented on #12448
@russellhadley can you route these to the right person?

[2017-06-26 18:36] danmosemsft commented on #12074
@gregg-miskelly yes, most people debug most of the time on Windows with VS. This would make it easier, particularly when a test spawns a child process.

[2017-06-26 19:13] erozenfeld opened #12455 "Make inliner more aggressive if the root method is not shared and invokes shared methods"
In the test case below, the call from BaseClass<T>.BaseClass() to Enumerable.Empty<T>() is not inlined. The reason is 'runtime dictionary lookup' (we can't inline a call to shared method from a shared method). The call from Main() to BaseClass<T>.BaseClass() is not inlined either because the inliner doesn't think it's profitable. If we add [AggressiveInlining] attribute to BaseClass<T>.BaseClass()

[2017-06-26 19:47] ayende commented on #12426
@AlgorithmsAreCool Just to note that 32 bits is still a very real platform.
Leaving aside stuff like running on Raspberry Pis and IoT, I have a customer who deployed software to 1.5 million nodes, the majority of which are running on 32 bits hardware. So there is the need to remember that 32 bits should be considered in the design.

[2017-06-26 20:14] redknightlois commented on #12426
Another entirely different case is where you have to prepare big arrays of data that will not outlive the method call (bounded). Very common in math code and also in big temporal buffers where you just need temporary arrays/objects. Could be very useful to tell the GC, this does not survive the method call. For the safety record, if you copy it somewhere you pay the price of actually moving that t

[2017-06-26 21:27] AlgorithmsAreCool commented on #12426
@ayende Definitely agree there, most of the code I currently ship is 32-bit targeted for compat reasons. But 64-bit only deployments are very common for asp.net and for high performance scenarios. If there is an opportunity to cater to those scenarios better I think it is still a compelling use case.

@redknightlois You are asking for a way to force large allocation on the SOH? Does API1/2 that @M

[2017-06-26 21:39] ayende commented on #12426
@AlgorithmsAreCool Consider this code https://github.com/dotnet/coreclr/blob/1fa75e7c5d56d481a2d0b8bc4fb3bdab8e6838d5/src/mscorlib/src/System/IO/Stream.cs#L161-L169

This is a bit older, since the code is currently using buffer pooling, but it is a really good example.
We need a buffer , which may be large. But we _know_ that it is never going to be used beyond the current scope.

For that matter,

[2017-06-26 21:47] Maoni0 commented on #12426
First of all, as I mentioned, this is for the near future. Longer term solutions will be proposed in separate issues. @redknightlois, that's a scenario that we've been looking at and will be opening an issue for it. You could use the short term solution to allocate them in SOH but longer term we want to provide a solution that's targeting scoped allocations.

@dduerner-ycwang I read your article o

[2017-06-26 22:54] jdm7dv commented on #12442
@janvorli I deleted the bin directory and corrected the space as you suggested the same problem still persists here is the CMake log:

Determining if files ieeefp.h exist failed with the following output:
Change Dir: /home/jdm7dv/Version_Control/Microsoft/dotnet/coreclr-1.1.2/bin/obj/Linux.x64.Debug/CMakeFiles/CMakeTmp

Run Build Command:"/usr/bin/make" "cmTC_81e67/fast"
/usr/bin/make -f CMakeFile

[2017-06-26 22:54] erozenfeld opened #12459 "Evaluate enabling constant folding on non-target-specific intrinsics"
Currently constant folding on non-target-specific intrinsics is disabled because of potential precision loss.
This issue is to evaluate whether that is necessary and whether we can do better in this area.

[code]
[code]

[2017-06-26 23:18] jdm7dv commented on #12442
@janvorli Would installing the Linux headers suffice.? At least it would probably help ,I thought I did.

[2017-06-26 23:39] erozenfeld opened #12461 "Evaluate RyuJIT logic for generating return blocks"
RyuJIT may generate multiple return blocks unnecessarily. The current logic allows a method to have up to 4 separate return blocks unless a profiler hook is needed, or the method is marked synchronized, or the method calls unmanaged code, or REVERSE_PINVOKE_{ENTER,EXIT} helper calls need to be inserted in prolog/epilog.

The legacy 64-bit jit tried to generate a single return path whenever possibl

[2017-06-27 00:05] benaadams commented on #12426
32-bit is also common for high density deployments to reduce memory use; though 64-bit with something like https://github.com/dotnet/coreclr/issues/11338 would be preferable.

[2017-06-27 00:05] briansull commented on #12461
Whether it s a win or a loss depends upon the size of the epilog region.
On x86 the epilog regions tend to be very small; epilogs of 1-4 bytes are very common on x86.

[2017-06-27 00:14] CarolEidt opened #12462 "[RyuJIT][XArch] Avoid contained immediate for binary op with lclVar"
If we have a binary operator with a contained immediate, and the other operand is a non-last-use enregisterable lclVar, the lclVar will have to be copied so as not to overwrite it. In this case, it is generally better not to mark the immediate as contained, so that its register can be used as the target for the operation.
This pre-existing issue is exacerbated by PR #12423 because it causes more i

[2017-06-27 00:30] CarolEidt commented on #12462
Specific instances exposed by #12423. These are all small accessors that not only suffer from this issue, but the register allocation suffers because V1 gets eax, which is spilled for the return value. Prior to #12423, there was a delayRegFree use of eax that caused this not to happen:
- System.IO.Compression.dll
  - DirectToArchiveWriterStream:get_Position():long:this
  - System.IO.Compression.Ch

[2017-06-27 00:32] AlgorithmsAreCool commented on #12426
@ayende
Makes sense.

@benaadams
Doe you suspect this is a result of [the difference in allocation segment sizes](https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/fundamentals#generations).

@Maoni0
I would favor Config 1 and API 2. Config 2 is....interesting, but I don't understand enough about how it would affect collection performance to answer intelligently. API 1 is an infe

[2017-06-27 00:46] briansull opened #12463 "A/V with from an unrestored MethodTable used in coreclr!JIT_NewArr1"
Running  the MusicStore App with everything crossgened  I get this A/V:

Here is the stack trace:

[code]
Here is the A/V location

[code]

[2017-06-27 00:48] briansull commented on #12463
It is likely a regression from #12369
@ruben-ayrapetyan  can you PTAL

[2017-06-27 00:52] briansull commented on #12463
The callsite in Jitted generic method:

[code]

[2017-06-27 01:29] jkotas commented on #12463
This looks like a R2R versioning problem: The convention for `READYTORUN_HELPER_NewArray` have changed with the above change. It will crash if you run R2R images compiled against old runtime against new runtime.

I think we should keep the convention the same - for now at least:
- Add new `JIT_NewArr1_R2R` helper to jithelpers.cpp that still takes TypeDesc. It should fetch template MT from the typ

[2017-06-27 01:33] BruceForstall opened #12464 "[x86][LEGACY_BACKEND] Assertion failed 'compiler->opts.compDbgCode'"
Tests:
[code]
run with:
[code]

[2017-06-27 01:36] BruceForstall opened #12465 "[x86][LEGACY_BACKEND] Assertion failed 'arg0VNtyp == arg1VNtyp'"
Tests:
[code]
run with:
[code]

[2017-06-27 01:38] BruceForstall opened #12466 "[x86][LEGACY_BACKEND] Assertion failed 'TypeOfVN(argVN) == TYP_DOUBLE'"
Tests:
[code]
run with:
[code]

[2017-06-27 01:40] BruceForstall opened #12467 "[x86][LEGACY_BACKEND] Assertion failed 'spill->spillVarDsc'"
Tests:
[code]
run with:
[code]

[2017-06-27 01:51] jashook opened #12468 "[*nix|arm64] [FastTailCall] noway_assert(callerArgNum < comp->info.compArgsCount); in LowerFastTailCall"
https://github.com/dotnet/coreclr/blob/master/src/jit/lower.cpp#L1723 assumed the caller has the same number of arguments as the callee to be fastTailCalled. There are many different permutations of caller and callee that will break this assumption while still being decided as a fastTailCall case.

An example on  unix amd64 would be:

[code]

category:correctness
theme:tail-call
skill-level:interm

[2017-06-27 02:03] BruceForstall opened #12469 "[x86][LEGACY_BACKEND] Assertion failed '!Mapped(uEntry)'"
Tests:
[code]
run with:
[code]

[2017-06-27 02:14] benaadams commented on #12426
@AlgorithmsAreCool yes its the much larger sizes on x64; so running many microservices on a 24 core machine can get out of control quite quickly in terms of process memory (high) vs allocated memory (low)

[2017-06-27 02:52] scott-xu commented on #10843
@tarekgh Is there any workaround for this issue? We saw this crash several times.
Or do you have a time-line for .net framework 4.7.1?

[2017-06-27 04:46] jashook commented on #12468
/cc @RussKeldorph

[2017-06-27 06:01] #11702 closed

[2017-06-27 06:13] ZodmanPerth commented on #12426
The thought of providing hints to the GC and/or greater control to how large objects are managed resonates with me.  In game development scenarios (and server scenarios I'm sure) you create object pools of known sizes upfront to avoid GC, but can end up in LOH and still manage to be affected by GC.

Instead of having to work out which magical configuration of types and code avoids GC, shouldn't th

[2017-06-27 07:38] dotnet-mc-bot opened #12470 "Test: CoreMangLib_cti._system_string_StringJoin_StringJoin_/_system_string_StringJoin_StringJoin_cmd failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `CoreMangLib_cti._system_string_StringJoin_StringJoin_/_system_string_StringJoin_StringJoin_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\37cb0764-5e2e-4587-bafe-5e03498e9bd2\Work\9f0073e9-37f1-437f-a2c6-efdecc86ee1c\Unzip\Reports\CoreMangLib.cti\system\string\StringJoin\StringJoin.output.txt
    Raw output:
    BEGI

[2017-06-27 07:42] dotnet-mc-bot opened #12471 "Test: Exceptions_ForeignThread._ForeignThreadExceptions_ForeignThreadExceptions_/_ForeignThreadExceptions_ForeignThreadExceptions_cmd failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `Exceptions_ForeignThread._ForeignThreadExceptions_ForeignThreadExceptions_/_ForeignThreadExceptions_ForeignThreadExceptions_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\37cb0764-5e2e-4587-bafe-5e03498e9bd2\Work\a8cbd38e-8cf2-44aa-a3cb-47fb3f5db013\Unzip\Reports\Exceptions.ForeignThread\ForeignThreadExceptions\Forei

[2017-06-27 08:12] dotnet-mc-bot opened #12472 "Ready-To-Run Tests: All tests failed with "Xunit.Sdk.TrueException" on windows.10.arm64"
Opened on behalf of @Jiayili1

The test `CoreMangLib_components._stopwatch_Co9600Ctor_Co9600Ctor_/_stopwatch_Co9600Ctor_Co9600Ctor_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\db64c566-d6a0-4bad-adb0-3df899c4a397\Work\77c6fbe8-0a52-40ff-80aa-bce20417e5ae\Unzip\Reports\CoreMangLib.components\stopwatch\Co9600Ctor\Co9600Ctor.output.txt
    Raw output:
    BE

[2017-06-27 08:41] #11929 closed

[2017-06-27 08:54] ruben-ayrapetyan commented on #12463
@briansull, @jkotas,

I plan to open pull request with fix today.

[2017-06-27 09:53] ruben-ayrapetyan commented on #12463
Small test case:
[code]

Dump:
[code]

Issue is in calling `CORINFO_HELP_NEWARR_1_DIRECT`.
Other new-array helpers seems to be working in R2R mode (several cases were checked for same runtime, older runtime - newer image, newer runtime - older image).

[2017-06-27 13:23] janvorli commented on #12442
@jdm7dv you should not need the Linux headers. Looking at your log, it seems that somehow on your machine, the `-ldl` is not added to the command line of clang when detecting the lttng/tracepoint.h presence, although there is the following right before the test. I wonder if you have some more recent cmake that ignores the `-ldl` in the CMAKE_REQUIRED_FLAGS. That effectively leads to the results of

[2017-06-27 13:30] janvorli commented on #12442
Actually, I have just realized that you  might be trying to compile version 1.1.2 (guessing based on your path ~/Version Control/Microsoft/dotnet/coreclr-1.1.2).  Is it the case? We don't support building on Debian 9 with 1.1.2.

[2017-06-27 13:31] janvorli commented on #12442
I've just checked that the 1.1.2 source tree doesn't add the `-ldl` option when detecting the lttng/tracepoint.h presence, so if I was right that you were trying to build the 1.1.2 sources, that explains the problem.

[2017-06-27 15:31] mikedn opened #12477 "[RyuJIT] Recognize and optimize constant set membership tests"
It would be useful if the JIT recognized tests like:
* `if ('0' <= c && c <= '9')` - can be reduced to a single branch + compare + subtract
* `if (c == ' ' || c == '\t' || c == '\r' || c == '\n')` - can be reduced to 2 branches + compare + bit test (BT instruction)

The second variant is sometimes implemented using a switch/jump table (in which case is much more simpler to recognize):
[code]

The

[2017-06-27 15:39] mikedn commented on #12477
An experimental implementation shows a ~2700 bytes improvement for the first variant and a ~170 bytes improvement for the second variant. A proper implementation may do better but I don't expect it to be significantly better.

Example codegen for the first variant:
[code]
Example codegen for the second variant:
[code]

[2017-06-27 15:47] jashook opened #12479 "[*nix|arm64] [FastTailCall] Bad codegen for some fastTailCall cases"
Currently during the fastTailCall decision the jit will not take into account the caller or callee stack size. It also makes the assumption that every argument will occupy the same amount of stack space if an argument is decided to be stack bound.

The means that there are many signatures of caller and callee that will result in a undesired behavior.

One example of a case that cannot be fastTailC

[2017-06-27 15:51] jashook commented on #12479
/cc @RussKeldorph

[2017-06-27 16:20] dsyme opened #12480 "RyuJIT/x64 failure"
This issue with the JIT64 was reported in the Visual F# repo https://github.com/Microsoft/visualfsharp/issues/2224 a while back - it is possible it has already been fixed though it continues to fail on my machine:

Original code: [Program.txt](https://github.com/Microsoft/visualfsharp/files/697635/Program.txt)

#### Repro steps (from binary zip) ####

Attached a built .exe and fsharp.core.dll :

[

[2017-06-27 16:31] tarekgh commented on #10843
@scott-xu the fix is already integrated to 4.7.1.

[2017-06-27 17:03] jashook commented on #12479
/cc @dotnet/jit-contrib

[2017-06-27 17:03] jashook commented on #12468
/cc @dotnet/jit-contrib

[2017-06-27 17:21] BruceForstall commented on #12477
@dotnet/jit-contrib

[2017-06-27 17:25] ruben-ayrapetyan commented on #6397
Maybe, this is related: https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_release_windows_nt_pri1_prtest/8242/testReport/junit/baseservices_threading/_mutex_misc_waitone2_waitone2_/_mutex_misc_waitone2_waitone2_cmd/

[2017-06-27 17:38] briansull commented on #12463
I did rebuild all of the native images using the latest build.  So its more than just a version to version compat issue, I believe.

[2017-06-27 17:56] jdm7dv commented on #12442
Can we add the <pre>-ldl</pre> option to the sources. Where? And can we create a pull request?

[2017-06-27 18:05] janvorli commented on #12442
@jdm7dv I think this may be just a tip of the iceberg. Why do you need to build the 1.1.2? The current master which represents 2.0.0+ has all the changes to build the native parts on Debian 9.

[2017-06-27 19:31] mikedn commented on #12477
Switch to BT conversion yields a ~3700 bytes improvement. Example codegen:
[code]

It might be better but Roslyn seems to change rather quickly from switch table to binary search and that is much more difficult to recognize.

This transform is the cheapest of all in terms of compilation throughput since it's just a matter of looking at the number of switch arms.

[2017-06-27 19:48] wtgodbe opened #12488 "Several Interop tests failing in Helix on ARM"
The following Interop tests are failing:

Interop_ArrayMarshalling._ByValArray_MarshalArrayByValTest_MarshalArrayByValTest_._ByValArray_MarshalArrayByValTest_MarshalArrayByValTest_cmd()
Interop_FuncPtrAsDelegateParam._FuncPtrAsDelegateParam_FuncPtrAsDelegateParam_._FuncPtrAsDelegateParam_FuncPtrAsDelegateParam_cmd()
Interop_MarshalAPI._IUnknown_IUnknownTest_IUnknownTest_._IUnknown_IUnknownTest_IUn

[2017-06-27 19:48] wtgodbe commented on #12488
@yizhang82 can you route these failures to the right person?

[2017-06-27 19:48] wtgodbe commented on #12488
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170626.03

[2017-06-27 20:16] wtgodbe opened #12490 "JIT_opt._Tailcall_TailcallVerifyWithPrefix_TailcallVerifyWithPrefix_._Tailcall_TailcallVerifyWithPrefix_TailcallVerifyWithPrefix fails in Helix on ARM"
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170626.03/workItem/JIT.opt.XUnitWrapper/analysis/xunit/JIT_opt._Tailcall_TailcallVerifyWithPrefix_TailcallVerifyWithPrefix_~2F_Tailcall_TailcallVerifyWithPrefix_TailcallVerifyWithPrefix_cmd

@russellhadley can you route this to the right person?

[2017-06-27 20:18] wtgodbe opened #12491 "CoreMangLib_cti._system_string_StringJoin_StringJoin fails in Helix on ARM"
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170626.03/workItem/CoreMangLib.cti.XUnitWrapper/analysis/xunit/CoreMangLib_cti._system_string_StringJoin_StringJoin_~2F_system_string_StringJoin_StringJoin_cmd

@jkotas can you route this to the right person?

[2017-06-27 20:20] wtgodbe opened #12492 "Several jit64 tests fail in Helix on ARM"
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170626.03/workItem/JIT.jit64.XUnitWrapper

Most error messages are non-descriptive:

Same error code as in https://github.com/dotnet/coreclr/issues/12488, so maybe related.

@russellhadley can you route this to the right person?

[2017-06-27 20:21] wtgodbe opened #12493 "JIT_Regression._JitBlue_GitHub_3449_GitHub_3449_GitHub_3449 fails in Helix on ARM"
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170626.03/workItem/JIT.Regression.XUnitWrapper/analysis/xunit/JIT_Regression._JitBlue_GitHub_3449_GitHub_3449_GitHub_3449_~2F_JitBlue_GitHub_3449_GitHub_3449_GitHub_3449_cmd

@russellhadley can you route this to the right person?

[2017-06-27 20:22] wtgodbe opened #12494 "JIT_Methodical._tailcall_v4_hijacking_hijacking fails in Helix on ARM"
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170626.03/workItem/JIT.Methodical.XUnitWrapper/analysis/xunit/JIT_Methodical._tailcall_v4_hijacking_hijacking_~2F_tailcall_v4_hijacking_hijacking_cmd

@russellhadley can you route this to the right person?

[2017-06-27 20:23] wtgodbe opened #12495 "readytorun tests fail in Helix on ARM"
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170626.03/workItem/readytorun.tests.XUnitWrapper

@janvorli can you route this to the right person?

[2017-06-27 20:38] kouvel commented on #11979
I believe it's running into a lock convoy problem. Spinners are not able to take the lock while there are waiting threads, and a waiting thread is not able to wake up before a significant delay due to spinners hoarding the CPU.

This works on Windows because when a waiting thread is signaled to wake up, I believe it also gives that thread a priority boost. As such, it's able to wake up asap and ac

[2017-06-27 20:45] kouvel commented on #11979
Potential fixes:
- Allow spinners to preempt waiters and acquire the lock. This creates a potential problem of starving waiters.
- Limit the number of spinning threads to leave room for a waiter to wake up
- Or perhaps a combination of the two

[2017-06-27 20:47] stephentoub commented on #11979
What kind of backoff scheme is currently being employed in the spinning?  Is there also opportunity to improve there, or do we believe that's currently optimal?

[2017-06-27 20:53] kouvel commented on #11979
Another potential fix: There is only pause (YieldProcessor) but no Sleep(0)/SwitchToThread in the spin loop. That may also fix the issue.

[2017-06-27 20:54] stephentoub commented on #11979
That's what I was asking about in a backoff scheme :wink:

[2017-06-27 20:56] kouvel commented on #11979
Ah ok. The spin loop is here:
https://github.com/dotnet/coreclr/blob/master/src/vm/syncblk.inl#L122

Where initial is 50 and the backoff factor is 3. The max is calculated here based on the number of processors:
https://github.com/dotnet/coreclr/blob/master/src/vm/syncblk.h#L165

I think the spinning is excessive as well.

[2017-06-27 21:19] kouvel commented on #11979
Actually it does a second spin loop in AwareLock::Contention and does a SwitchToThread there but I don't think it would be done frequently enough due to the excessive spinning in EnterObjMonitorHelperSpin

[2017-06-27 21:26] jkotas commented on #12491
cc @BruceForstall do you see this failure in your Windows ARM runs? If there is a bug, it is most likely in the JIT.

[2017-06-27 22:00] yizhang82 commented on #12488
@botaberg Please work with @wtgodbe / @tijoytom to figure out where the problem is.

[2017-06-27 22:05] sandreenko opened #12499 "Add a methodcontext version number to SuperPMI mc files."
If you change structs in ToolBox\superpmi\superpmi-shared\methodcontext.cpp, you usually can't replay old mc files with a new spmi tool. If you try to do so, you will se thousands of "Didn't find a key" messages, but it would be better to show a version error.

[2017-06-27 22:10] sandreenko commented on #12499
cc @BruceForstall. I added the issue to remember this problem.

[2017-06-27 22:13] am11 commented on #12192
@janvorli, if this is up-for-grabs, I have a patch for it: https://github.com/am11/coreclr/commit/81cf8b5?w=1. Compiled it on CentOS 7 (without libinuma).

[2017-06-27 22:19] Maoni0 commented on #12426
@AlgorithmsAreCool

of course - you need to be concerned with what they point to; an object with no pointers just need to be copied.

no

3.Is the following statement true : "A process cannot defragment it's virtual address space".

no. I would recommend to read the memory chapter of the Windows Internals book to understand more how the VMM works.

4.Would the inclusion of a small number of large

[2017-06-27 22:20] BruceForstall commented on #12491
I haven't had successful runs yet on my box, but I'll look for it.

[2017-06-27 22:21] Maoni0 commented on #12426
@ZodmanPerth I am not opposed to adding a feature that greatly benefits a certain type of developers (especially ones that care a lot about perf) but I'd like to understand more of what you are proposing. You mentioned you wanted "define fixed size object pools that are guaranteed to not affect / be affected by GC". are you expecting to use these objects on a certain thread? is what you are trying

[2017-06-27 22:29] #12341 closed

[2017-06-27 22:59] janvorli commented on #12192
@am11 thank you for creating the patch. My plan to make that change was slightly different though. We already do some shimming in icushim.cpp/h and also in opensslshim.cpp/h in corefx. I would like to implement it using the same technique to keep things consistent.

If you'd be willing to modify your change that way, I'd be more than happy to take that change. However, I am leaving for three weeks

[2017-06-28 01:33] borrrden commented on #12445
That's probably exactly it.  Until now there was no reason to compile this library for ARM because the only C# that ran on ARM was via UWP.  However, I think you should contact the owner of the SQLite.raw repo instead since he is the one in charge of these builds.

[2017-06-28 02:19] borrrden opened #12503 "CLR JIT does not use correct ARM32 calling convention for 8-byte return structs"
This issue affects UWP, so I'm not sure that this is the correct place to file this or not but:

[Reference to stack overflow question](https://stackoverflow.com/questions/44641195/what-could-cause-p-invoke-arguments-to-be-out-of-order-when-passed)

After nearly a week of research I'm ready to say that the CLR is causing issues on ARM devices but I'm not quite sure why.  To summarize:

- I have a

[2017-06-28 04:11] kouvel commented on #11979
I have dug a little deeper and I believe I have found the root cause. Some facts:
- In the example given, with a design where there is no spinning and when there is a waiter, a waiter must acquire the lock, there is a deterministic lock convoy. Every release of the lock requires that a waiter acquire it, and the context switching kills the perf.
- This situation is occurring on Windows and Linux
-

[2017-06-28 04:11] kouvel commented on #11979
Forgot to mention, scheduling behavior/heuristics can affect the frequency of occurrence

[2017-06-28 04:14] kouvel commented on #11979
Also I should add, regarding the solution comment:

In typical non-buggy scenarios, the starvation should resolve itself. If threads get permamently starved leading to a deadlock (even without the OS's help to resolve the starvation), I believe the main issue there would be in the program's code.

[2017-06-28 04:40] danmosemsft commented on #12471
@wtgodbe this needs an owner too

[2017-06-28 05:50] dotnet-mc-bot opened #12506 "Test failure: Interop_ArrayMarshalling._BoolArray_MarshalBoolArrayTest_MarshalBoolArrayTest_/_BoolArray_MarshalBoolArrayTest_MarshalBoolArrayTest_cmd"
Opened on behalf of @Jiayili1

The test `Interop_ArrayMarshalling._BoolArray_MarshalBoolArrayTest_MarshalBoolArrayTest_/_BoolArray_MarshalBoolArrayTest_MarshalBoolArrayTest_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\424f1bc6-7df7-4bc4-b3fd-842a890e5e8f\Work\ee8ad374-5533-4f80-9275-492b18334c03\Unzip\Reports\Interop.ArrayMarshalling\BoolArray\MarshalBool

[2017-06-28 05:52] dotnet-mc-bot opened #12507 "Test failure: Interop_BestFitMapping._BestFitMapping_BestFitMapping_/_BestFitMapping_BestFitMapping_cmd"
Opened on behalf of @Jiayili1

The test `Interop_BestFitMapping._BestFitMapping_BestFitMapping_/_BestFitMapping_BestFitMapping_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\424f1bc6-7df7-4bc4-b3fd-842a890e5e8f\Work\0ef2830e-eea0-4610-b09d-7b18afc749ed\Unzip\Reports\Interop.BestFitMapping\BestFitMapping\BestFitMapping.output.txt
    Raw output:
    BEGIN EX

[2017-06-28 05:56] dotnet-mc-bot opened #12508 "Test failure: Interop_FuncPtrAsDelegateParam._FuncPtrAsDelegateParam_FuncPtrAsDelegateParam_/_FuncPtrAsDelegateParam_FuncPtrAsDelegateParam_cmd"
Opened on behalf of @Jiayili1

The test `Interop_FuncPtrAsDelegateParam._FuncPtrAsDelegateParam_FuncPtrAsDelegateParam_/_FuncPtrAsDelegateParam_FuncPtrAsDelegateParam_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\424f1bc6-7df7-4bc4-b3fd-842a890e5e8f\Work\7ce58d5a-fc87-447e-b97a-b2d8f11db9a8\Unzip\Reports\Interop.FuncPtrAsDelegateParam\FuncPtrAsDelegatePara

[2017-06-28 05:58] dotnet-mc-bot opened #12509 "Test failure: Interop_MarshalAPI._IUnknown_IUnknownTest_IUnknownTest_/_IUnknown_IUnknownTest_IUnknownTest_cmd"
Opened on behalf of @Jiayili1

The test `Interop_MarshalAPI._IUnknown_IUnknownTest_IUnknownTest_/_IUnknown_IUnknownTest_IUnknownTest_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\424f1bc6-7df7-4bc4-b3fd-842a890e5e8f\Work\8aac894c-b2d7-4fb0-9fe8-5a8359b4888d\Unzip\Reports\Interop.MarshalAPI\IUnknown\IUnknownTest\IUnknownTest.output.txt
    Raw output:
    B

[2017-06-28 05:59] dotnet-mc-bot opened #12510 "Test failure: Interop_NativeCallable._NativeCallableTest_NativeCallableTest_/_NativeCallableTest_NativeCallableTest_cmd"
Opened on behalf of @Jiayili1

The test `Interop_NativeCallable._NativeCallableTest_NativeCallableTest_/_NativeCallableTest_NativeCallableTest_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\424f1bc6-7df7-4bc4-b3fd-842a890e5e8f\Work\276166a0-4300-4548-9fb6-071a2ba38399\Unzip\Reports\Interop.NativeCallable\NativeCallableTest\NativeCallableTest.output.txt

[2017-06-28 06:00] dotnet-mc-bot opened #12511 "Test failure: Interop_PrimitiveMarshalling._Bool_BoolTest_BoolTest_/_Bool_BoolTest_BoolTest_cmd"
Opened on behalf of @Jiayili1

The test `Interop_PrimitiveMarshalling._Bool_BoolTest_BoolTest_/_Bool_BoolTest_BoolTest_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\424f1bc6-7df7-4bc4-b3fd-842a890e5e8f\Work\e845cd8d-4a00-40c2-8eee-7453008a68a8\Unzip\Reports\Interop.PrimitiveMarshalling\Bool\BoolTest\BoolTest.output.txt
    Raw output:
    BEGIN EXECUTION\r

[2017-06-28 06:02] dotnet-mc-bot opened #12512 "Test failure: Interop_RefCharArray._RefCharArrayTest_RefCharArrayTest_/_RefCharArrayTest_RefCharArrayTest_cmd"
Opened on behalf of @Jiayili1

The test `Interop_RefCharArray._RefCharArrayTest_RefCharArrayTest_/_RefCharArrayTest_RefCharArrayTest_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\424f1bc6-7df7-4bc4-b3fd-842a890e5e8f\Work\5a1b9d39-82a2-498d-8010-97efb5cf2676\Unzip\Reports\Interop.RefCharArray\RefCharArrayTest\RefCharArrayTest.output.txt
    Raw output:

[2017-06-28 06:03] dotnet-mc-bot opened #12513 "Test failure: Interop_RefInt._RefIntTest_RefIntTest_/_RefIntTest_RefIntTest_cmd"
Opened on behalf of @Jiayili1

The test `Interop_RefInt._RefIntTest_RefIntTest_/_RefIntTest_RefIntTest_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\424f1bc6-7df7-4bc4-b3fd-842a890e5e8f\Work\1e34849b-ec40-422b-955a-18628f4f4e5a\Unzip\Reports\Interop.RefInt\RefIntTest\RefIntTest.output.txt
    Raw output:
    BEGIN EXECUTION\r
     "C:\dotnetbuild\work\424f

[2017-06-28 06:04] dotnet-mc-bot opened #12514 "Test failure: Interop_SimpleStruct._SimpleStruct_SimpleStruct_/_SimpleStruct_SimpleStruct_cmd"
Opened on behalf of @Jiayili1

The test `Interop_SimpleStruct._SimpleStruct_SimpleStruct_/_SimpleStruct_SimpleStruct_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\424f1bc6-7df7-4bc4-b3fd-842a890e5e8f\Work\5854429e-920b-4220-ad44-26092332fcb6\Unzip\Reports\Interop.SimpleStruct\SimpleStruct\SimpleStruct.output.txt
    Raw output:
    BEGIN EXECUTION\r
     "

[2017-06-28 06:05] dotnet-mc-bot opened #12515 "Test failure: Interop_SizeConst._SizeConstTest_SizeConstTest_/_SizeConstTest_SizeConstTest_cmd"
Opened on behalf of @Jiayili1

The test `Interop_SizeConst._SizeConstTest_SizeConstTest_/_SizeConstTest_SizeConstTest_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\424f1bc6-7df7-4bc4-b3fd-842a890e5e8f\Work\1e6c464e-00c0-46b0-b6f6-4b286657d784\Unzip\Reports\Interop.SizeConst\SizeConstTest\SizeConstTest.output.txt
    Raw output:
    BEGIN EXECUTION\r
     "

[2017-06-28 06:07] dotnet-mc-bot opened #12516 "Test failure: Interop_StringMarshalling._LPSTR_LPSTRTest_LPSTRTest_/_LPSTR_LPSTRTest_LPSTRTest_cmd"
Opened on behalf of @Jiayili1

The test `Interop_StringMarshalling._LPSTR_LPSTRTest_LPSTRTest_/_LPSTR_LPSTRTest_LPSTRTest_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\424f1bc6-7df7-4bc4-b3fd-842a890e5e8f\Work\5e77b3f4-b802-4e05-8649-10f35320f460\Unzip\Reports\Interop.StringMarshalling\LPSTR\LPSTRTest\LPSTRTest.output.txt
    Raw output:
    BEGIN EXECUTIO

[2017-06-28 06:08] dotnet-mc-bot opened #12517 "Test failure: Interop_StructMarshalling._PInvoke_MarshalStructAsLayoutExp_MarshalStructAsLayoutExp_/_PInvoke_MarshalStructAsLayoutExp_MarshalStructAsLayoutExp_cmd"
Opened on behalf of @Jiayili1

The test `Interop_StructMarshalling._PInvoke_MarshalStructAsLayoutExp_MarshalStructAsLayoutExp_/_PInvoke_MarshalStructAsLayoutExp_MarshalStructAsLayoutExp_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\424f1bc6-7df7-4bc4-b3fd-842a890e5e8f\Work\48fdb32a-eb51-4d7c-ab99-e430e4a5e6ad\Unzip\Reports\Interop.StructMarshalling\PInvoke

[2017-06-28 06:10] dotnet-mc-bot opened #12518 "[JIT][LEGACY_BACKEND][arm32] Assertion failed: 'isGeneralRegister(id->idReg2())'"
Opened on behalf of @Jiayili1

The test `JIT_Directed._StructABI_StructABI_StructABI_/_StructABI_StructABI_StructABI_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\424f1bc6-7df7-4bc4-b3fd-842a890e5e8f\Work\d9cd11a1-6602-487d-971c-b3261ef3d692\Unzip\Reports\JIT.Directed\StructABI\StructABI\StructABI.output.txt
    Raw output:
    BEGIN EXECUTION\r
     "C:\d

[2017-06-28 06:13] Jiayili1 commented on #12494
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170627.02/workItem/JIT.Methodical.XUnitWrapper/analysis/xunit/JIT_Methodical._tailcall_v4_hijacking_hijacking_~2F_tailcall_v4_hijacking_hijacking_cmd

[2017-06-28 06:14] dotnet-mc-bot opened #12519 "Test failure: JIT_Methodical._structs_systemvbringup_structinregs_structinregs_/_structs_systemvbringup_structinregs_structinregs_cmd"
Opened on behalf of @Jiayili1

The test `JIT_Methodical._structs_systemvbringup_structinregs_structinregs_/_structs_systemvbringup_structinregs_structinregs_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\424f1bc6-7df7-4bc4-b3fd-842a890e5e8f\Work\da44c77b-a62a-42bb-863d-de3ea713bac4\Unzip\Reports\JIT.Methodical\structs\systemvbringup\structinregs\structinreg

[2017-06-28 06:35] dotnet-mc-bot opened #12520 "Test failure: JIT_SIMD._Vector3Interop_r_Vector3Interop_r_/_Vector3Interop_r_Vector3Interop_r_cmd"
Opened on behalf of @Jiayili1

The test `JIT_SIMD._Vector3Interop_r_Vector3Interop_r_/_Vector3Interop_r_Vector3Interop_r_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\424f1bc6-7df7-4bc4-b3fd-842a890e5e8f\Work\bf77257f-e29e-45c3-8430-89666cebcd0d\Unzip\Reports\JIT.SIMD\Vector3Interop_r\Vector3Interop_r.output.txt
    Raw output:
    BEGIN EXECUTION\r
     "

[2017-06-28 07:07] dotnet-mc-bot opened #12521 "Test failure: Loader_NativeLibs._FromNativePaths_FromNativePaths_/_FromNativePaths_FromNativePaths_cmd"
Opened on behalf of @Jiayili1

The test `Loader_NativeLibs._FromNativePaths_FromNativePaths_/_FromNativePaths_FromNativePaths_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\424f1bc6-7df7-4bc4-b3fd-842a890e5e8f\Work\9f5c20a4-986d-4c47-8e59-351604e2c7db\Unzip\Reports\Loader.NativeLibs\FromNativePaths\FromNativePaths.output.txt
    Raw output:
    BEGIN EXECUT

[2017-06-28 07:34] am11 commented on #12192
Thanks for the detailed response @janvorli. I implemented it first with `typedef`, then changed it to type alias with `using`. One other pattern I found in CoreCLR is `decltype` and variadic templates.

I will try it with `decltype` and regular macro to form numashim, to keep it consistent with icushim. :)

[2017-06-28 07:39] dotnet-mc-bot opened #12522 "Test failure: baseservices_exceptions._regressions_Dev11_147911_test147911_test147911_/_regressions_Dev11_147911_test147911_test147911_cmd"
Opened on behalf of @Jiayili1

The test `baseservices_exceptions._regressions_Dev11_147911_test147911_test147911_/_regressions_Dev11_147911_test147911_test147911_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\424f1bc6-7df7-4bc4-b3fd-842a890e5e8f\Work\c140ab12-9bde-4719-8982-2f4a3fb83275\Unzip\Reports\baseservices.exceptions\regressions\Dev11\147911\test1479

[2017-06-28 08:42] ayende commented on #12103
@wjk The problem with this approach is that this is really bad experience for us.
Consider the case where we support.
64 / 32 bits

Windows, Linux, Mac, Pi

And we use a native library that needs to be shipped for each of those.
Ideally, I want to have just a single nuget package, but with the const and `#if` approach I'm forced to have

* x64-win
* x86-win
* x64-mac
* x86-mac
* x64-linux
* x86-li

[2017-06-28 08:47] dotnet-mc-bot opened #12523 "Test failure: CoreMangLib_cti._system_action_ActionCtor_ActionCtor_/_system_action_ActionCtor_ActionCtor_cmd"
Opened on behalf of @Jiayili1

The test `CoreMangLib_cti._system_action_ActionCtor_ActionCtor_/_system_action_ActionCtor_ActionCtor_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\3866d538-ee7b-49fb-b34c-ca8f1f71d0c0\Work\84ffedfd-1e01-48ac-ab7f-bd12f8be18a1\Unzip\Reports\CoreMangLib.cti\system\action\ActionCtor\ActionCtor.output.txt
    Raw output:
    BEGI

[2017-06-28 13:19] mjp41 commented on #12426
From an API point of view, `GC.UnsetAllocateAllOnSOH` makes it hard to nest.  You might consider making the `GC.SetAllocateAllOnSOH` return whether it is set or not, so the code can only `Unset` if it really `Set`.  Or make it like a re-entrant lock and increment with calls to `Set` and decrement with calls to `Unset`.

[2017-06-28 14:59] #6605 closed

[2017-06-28 15:01] sdmaclea opened #12524 "[Arm64/Unix] Regression on tip"
Tip has regressed and these test are failing on b05580db65032
[code]

Typical failure signature is a seg fault or the following assert.
[code]

[2017-06-28 15:01] sdmaclea commented on #12524
@dotnet/arm64-contrib

[2017-06-28 15:03] sdmaclea commented on #12524
`ab7f3407fa9a0` was passing.  I will do a bisect between ab7f3407fa9a0 and b05580d

[2017-06-28 15:22] mikedn commented on #12443
Indeed. I played a bit with something like
[code]
and immediately ran into problems:
[code]

[2017-06-28 16:04] sdmaclea commented on #12524
Looks like 8cc7e35dd0a6 is the bad commit.  This is #12369 per the comments.

[2017-06-28 16:09] sdmaclea commented on #12524
@jkotas @briansull @ruben-ayrapetyan Looks like #12369 touched amd64 and arm assembly and stubs.  arm64 was not touched, was this because arm64 CI was never run?  Also I did not notice x86 changes, but perhaps they were included in amd64

[2017-06-28 16:40] ruben-ayrapetyan commented on #12524
@sdmaclea, there are two known issues related to this commit. The issues were fixed after b05580d - commits 91163768c4eec24379491e0bff49e8c4333f53f1 and 3951920cbd825c2b2251ba3572ca354f887d6033.

[2017-06-28 17:09] sdmaclea commented on #12524
@ruben-ayrapetyan Thanks.  I can confirm it is fixed for arm64 on 217ab30d021

[2017-06-28 17:09] #12524 closed

[2017-06-28 17:12] ruben-ayrapetyan commented on #12524
@sdmaclea, Thank you.

[2017-06-28 17:44] alpencolt commented on #12421
@janvorli I've reproduced this issue and it looks that crash occurred on Thread 1:
[code]

Almost all other threads is waiting on:
[code]

It look crash occurred on garbage collecting. I've got the `SIGSEGV` on:
[code]

[2017-06-28 18:07] alpencolt commented on #12421
We use Exynos 5422 which has 4 A7 and 4 A15 cores. The funniest thing is that when I run dotnet only on one type of core (e.g only on A7 or A15) by using `taskset` bug cannot be reproduced. But if I use mixed mode (like `taskset -c 2-5 corerun ...`) crash occurs.

[2017-06-28 18:08] dduerner-ycwang commented on #12426
**@ZodmanPerth**

Is this concept something you'd be able to use in the scenario you're describing?

During our research and testing we experimented with a concept. It appeared to work, however we were extremely worried it could cause problems in the GC that we either weren't aware of or couldn't foresee. We know it's a horrible hack!

The spirit of the concept was essentially trying to make a bri

[2017-06-28 18:43] ayende commented on #12426
@dduerner-ycwang I'm not certain if I want to tip my hat to you or run away screaming.

On the face of it, it seems obvious that this would be something that would work. But I agree with you that the GC will likely get itself into bad state here.

I'm reasoning about this _without_ detailed knowledge of the GC. But the way it will work is that the GC is going to be aware of this native managed arr

[2017-06-28 18:44] wtgodbe commented on #12471
This falls into the same bucket as https://github.com/dotnet/coreclr/issues/12488, as all these tests are failing with DLLNotFoundException. Closing as dup.

[2017-06-28 18:44] #12471 closed

[2017-06-28 19:07] maumar opened #12529 ""Length cannot be less than zero. " thrown on nectoreapp2.0 when trying to invoke Action<dynamic> that accesses a property on the input class - works for anonymous types"
repro:

[code]

exception:

[code]

I am unable to reproduce this in standalone app, this only happens in our test infrastructure (Entity Framework Core). Using xunit and we have generic and polymorphic test classes and tests are in multiple assemblies - maybe this has something to do with it, but so far we were unable to figure out the root cause. Let me know if you need any more info.

dotnet --

[2017-06-28 19:22] maumar commented on #12529
In order to actually reproduce the issue:

clone https://github.com/aspnet/EntityFramework/tree/netcoreapp_bug
run `dotnet restore` on the solution
navigate to `\test\EFCore.InMemory.FunctionalTests`
run `dotnet test --framework netcoreapp2.0 --filter FullyQualifiedName~Netcoreapp_bug`

[2017-06-28 20:09] danmosemsft commented on #12336
@wtgodbe anything remains here or can we close this
What would it mean to run ARM32 tests on a dev box?

[2017-06-28 20:11] wtgodbe commented on #12336
We can close this, a dev would need an Arm32 box to run tests locally no matter what.

[2017-06-28 20:11] #12336 closed

[2017-06-28 20:14] danmosemsft commented on #7046
@safern can you please paste these 2 lines into a test and check they work now on CoreCLR UWP? If so you can close.

[2017-06-28 20:15] safern commented on #7046
Sure, assigning to me.

[2017-06-28 20:25] kouvel commented on #7046
I was just looking at this, it still seems to be failing

[2017-06-28 20:51] AlgorithmsAreCool commented on #12426
@ZodmanPerth
Have you looked at [`Span<T>`](https://github.com/dotnet/corefxlab/blob/master/docs/specs/span.md) and [`Memory<T>`](https://github.com/dotnet/corefxlab/blob/master/docs/specs/memory.md)?
GC-less memory pooling is a key scenario and it's getting runtime optimizations. Would this help your scenarios? Or do you have to have arrays for compat?

@Maoni0
Thanks for taking the time to answe

[2017-06-28 21:10] dduerner-ycwang commented on #12426
**@ayende**

What if the "GC.SetIgnoreBit(byte[] instance, true);" was locked down to ONLY accept byte[]'s, since byte[]'s are the main thing we want for high-performance type code scenario's?

We were thinking that the GC code could be modified to; if it sees the bit during its mark phase, it will skip this object and NOT attempt to free the memory, hopefully escaping the access violation you wer

[2017-06-28 21:40] jdm7dv commented on #12442
@janvorli thank you I'll try that.

[2017-06-28 22:03] #12442 closed

[2017-06-28 23:12] redknightlois commented on #12426
@AlgorithmsAreCool,

What @dduerner-ycwang is talking about is the very same issue that plagues slices. You can't slice an array and expect it to behave like an array without it being say an array itself. So anything that is not real slicing of arrays would need to have explicit support all over the place. While if an slice output is an actual array (for the runtime) then you are still on the safe

[2017-06-29 00:18] KrzysztofCwalina commented on #12426
We will be adding Span<T> enabled APIs to the Framework. See https://github.com/dotnet/corefx/issues/21281. It will not solve all the interchangeability issues, but it should help a lot.

cc: @stephentoub

[2017-06-29 00:27] botaberg commented on #12488
@wtgodbe do we know where these tests are looking when trying to load the DLLs (loader snaps)? This looks like a CoreCLR test infrastructure issue, and I do not know very much about this infrastructure.

Also, it is possible to get hold of a repro machine?

[2017-06-29 00:28] safern commented on #7046
Thanks @kouvel then I will reassign it to you.

[2017-06-29 00:34] tijoytom commented on #12488
@wtgodbe is this arm64 on wow32 mode?

[2017-06-29 00:59] vancem commented on #11979
I have a few comments/observations

1.  I realize that historically we have had significant problem with respect to lock performance (in particular spinning WAY too long)< and I would like to take this issue as an opportunity for me to do some inventory and figure out exactly what we do now, and whether we believe it is a good idea or now (historically we were much too risk-averse to entertain cha

[2017-06-29 01:02] wtgodbe commented on #12488
@tijoytom I believe so (the tests were built for Arm32, but are running on Arm64 machines)

@botaberg they should be looking in their own directory, which is where we'd expect those .DLL's to be. You can find the binaries used to run these tests in Azure, in the storage account dotnetbuildoutput, in the container coreclr-beta-20170626-03-windows-test (The .dll is in the right place, so it's odd we

[2017-06-29 01:49] #12128 closed

[2017-06-29 03:21] jkotas commented on #12529
This issue was moved to dotnet/corefx#21689

[2017-06-29 03:21] #12529 closed

[2017-06-29 03:27] kouvel commented on #7046
I believe the issue is that what is being passed is the assembly-qualified type name, not a qualified assembly name. You can get the latter with typeof(...).Assembly.FullName. It shouldn't work in .NET Native either, filed an issue in CoreRT.

[2017-06-29 03:28] #7046 closed

[2017-06-29 03:48] ZodmanPerth commented on #12426
@Maoni0: The scenario I'm concerned about hasn't arisen for me yet (so it may not even be a real concern), and if it does happen I can easily switch storage structures if I need to (so I can manage anyway), but I'll describe my own case to give you some context.

I'm writing a game framework for myself in C# using Win2D to manage a typical gameloop.  I'm using Win2D's UWP canvas which exposes Upda

[2017-06-29 03:50] #11820 closed

[2017-06-29 03:55] dpodder commented on #11078
Resolved by #11620

[2017-06-29 03:55] #11078 closed

[2017-06-29 04:03] ZodmanPerth commented on #12426
@dduerner-ycwang That's hardcore.

I'm a one man shop so I'm trying to avoid such supporting such customisations.  There's a few such approaches out there if you Google hard enough.

The .NET framework does what I need right now, I'm just trying to help make it better with helpful suggestions if I can.

[2017-06-29 04:04] benaadams commented on #12426
@ZodmanPerth go straight to LoH for pools, as they are likely to live for app lifetime? Allocate your pools larger then 85k; use `ref` returns for single structs; and `Span<T>`s for contiguous groups of structs.

To the GC a >85k byte array is a single object and very quickly determined is in use by a Gen2 and ignored.

Outside gameplay, e.g. end of level/zone, you can dicard any pools you don't n

[2017-06-29 05:10] parjong opened #12545 "[x86/Linux] GC.API.GC.Collect_neg regression"
[code]

[2017-06-29 05:11] parjong commented on #12545
0ce4fab8647ac3fbc200c27adfcf31aaae0f660b seems to be the first bad commit:
[code]

\CC @hseok-oh

[2017-06-29 05:23] kouvel commented on #11979
Thanks for taking a look @vancem.

It looks like the monitor is being fair at even the small time scales sometimes and this example demonstrates that well. The duration for which the monitor is held is very short, so ideally, the releaser should be able to release and reacquire the lock multiple times until its time slice runs out. But when there is a waiter every time the lock is released, the re

[2017-06-29 05:26] parjong commented on #12545
Here is the corresponding stacktrace:
[code]

[2017-06-29 05:27] parjong commented on #12545
This issue appears in Checked build, but does not appear in Debug build.

[2017-06-29 05:28] parjong commented on #12545
Unfortunately, this issue does not appear even for Checked build when COMPlus_LogEnable is set as 1...

[2017-06-29 05:47] jskeet commented on #11979
Just to address the "this isn't the primary scenario to tune for" aspect - I completely agree. We actually discovered this in a stress test to check that the code which *was* inside the lock behaved correctly in extreme scenarios. It was only annoying because our Linux CI failed. I'm completely fine with a solution which isn't optimal for this case :)

[2017-06-29 06:34] ygc369 commented on #430
@Maoni0
Is there any progess with this issue?
I want an optional ARC to work together with GC, reducing workload of GC. They can help each other, ARC deal with most cases of freeing memory while GC deal with ref cycles and compact heap.
GC should never be turned off, no matter whether ARC is on or off.
ARC should be optional. Programmers should have the right to decide whether to turn it on. (defa

[2017-06-29 06:42] ayende commented on #12426
@dduerner-ycwang regarding only `byte[]`, it is actually common to need it to all sort of arrays.
`float[]` for vectors, `int[]` for tracking, complex structures that you need to pass around for unmanged API, etc.

[2017-06-29 07:20] parjong commented on #12545
I found that 44f57065649af5f8bcbb7c71d827221a7bc1bf7a is the first bad commit after manual investigation (it seems that there was a mistake while running ``git bisect``).

[2017-06-29 07:25] parjong commented on #12545
This issue randomly happens:
[code]

[2017-06-29 07:41] dotnet-mc-bot opened #12546 "Test failure: Loader_classloader._generics_Layout_General_Base01b_seq_Base01b_seq_/_generics_Layout_General_Base01b_seq_Base01b_seq_cmd"
Opened on behalf of @Jiayili1

The test `Loader_classloader._generics_Layout_General_Base01b_seq_Base01b_seq_/_generics_Layout_General_Base01b_seq_Base01b_seq_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\0716a39f-2fca-4426-b14a-ad6bd591e6bb\Work\4cf4fc96-c88b-4924-9871-ef10677da342\Unzip\Reports\Loader.classloader\generics\Layout\General\Base01b_seq\Base0

[2017-06-29 07:46] dotnet-mc-bot opened #12547 "Test failure: Regressions_common._AboveStackLimit_AboveStackLimit_/_AboveStackLimit_AboveStackLimit_cmd"
Opened on behalf of @Jiayili1

The test `Regressions_common._AboveStackLimit_AboveStackLimit_/_AboveStackLimit_AboveStackLimit_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\0716a39f-2fca-4426-b14a-ad6bd591e6bb\Work\ad3b8e37-065c-4067-ab25-4b2e52d0a4d6\Unzip\Reports\Regressions.common\AboveStackLimit\AboveStackLimit.output.txt
    Raw output:
    BEGIN EXEC

[2017-06-29 07:50] ygc369 commented on #11686
A good idea, but seems only useful for arrays larger than a page.

[2017-06-29 09:05] #12127 closed

[2017-06-29 12:09] ruben-ayrapetyan commented on #12545
@parjong, I'm currently trying to reproduce the failure locally.
I built the `Linux.x86.Checked` for 44f57065649af5f8bcbb7c71d827221a7bc1bf7a with the following command:
`./build.sh x86 checked clang3.9 skipgenerateversion skiptests skipnuget verbose cross -rebuild`

I tried to reproduce the failure using the `while true; do /root/coreclr/corerun Collect_neg.exe; done` loop (in CoreCLR `rootfs` fo

[2017-06-29 12:15] ruben-ayrapetyan commented on #12545
@parjong,
I reproduced the failure locally.
After running `crossgen` for `System.Private.CoreLib.dll` and `Collect_neg.exe` the failure occurs on every run.

[2017-06-29 14:11] danwalmsley opened #12548 "Allow ability to specify Windows subsystem (Hide Console Window)"
at the moment I'm using:
https://github.com/AvaloniaUI/Avalonia/wiki/Hide-console-window-for-self-contained-.NET-Core-application

as a workaround to patch the file.

However if I want to use a Linux build server I cant do this step. Can this be supported natively by the dotnet sdk?

[2017-06-29 14:35] ZodmanPerth commented on #12426
@AlgorithmsAreCool At a glance Span<T> looks to be exactly what is needed.  I'll look into it, thanks.

@benaadams Also some sound advice.  I'll check this out also.  My pools are mainly classes so I'm probably worrying about nothing.

[2017-06-29 14:48] #12293 closed

[2017-06-29 16:10] jashook opened #12549 "[Arm64 Windows] SpanBench.cmd fails with Assertion failed 'initBlkNode->AsDynBlk()->gtDynamicSize->gtRegNum == REG_ARG_2'"
Tests:

[code]

/cc @dotnet/arm64-contrib

[2017-06-29 16:16] sdmaclea commented on #12549
@jashook MathRound3 is dup of #12283

[2017-06-29 16:17] jashook commented on #12549
Thanks :)

[2017-06-29 20:44] Maoni0 commented on #12426
@ZodmanPerth

This is actually not the case at all (as @benaadams inferred above). Just because your objects are larger than 85,000 bytes and go on LOH doesn't mean it will trigger gen2 GCs. Gen2 GCs, like any other GCs for any other generation, are triggered because we think we can actually get something back. Let's say all the objects you have in LOH are pretty static (ie, they don't go away), a

[2017-06-29 21:02] AlgorithmsAreCool commented on #12426
@Maoni0
A couple of Config 2/API 2 questions

What happens once the ephemeral segment is maxed out? As i understand it the allocator gets a fresh segment to use as the new ephemeral segment. But does that mean that all the objects that were in gen 0/1 pushed into gen 2 automatically?

Also hypothetically, what would happen if i allocated a giant object that was larger than the ephemeral  segment w

[2017-06-29 21:18] vancem commented on #11979
@kouvel.   I have reviewed the code a bit, and I need to review if things are different in CoreRT.    There are some obvious simplifications (for example, we spin in assembly code, then spin again in the AwareLock code),  I also do enough experimentation to confirm that the following changes would be good.  In particular:

1. The lock should start out with no spinning, monitor how long the wait ti

[2017-06-29 21:22] jkotas commented on #11979
Note that this is only a problem on Windows. The assembly code does not exist on Linux - we have just the C++ there.

[2017-06-29 21:39] CIPop commented on #11306
@kouvel I am still getting an UnauthorizedAccessException.
It's not clear from this bug: Is this the expected behavior in an AppContainer accessing a Global mutex?

[code]

[2017-06-29 22:17] parjong commented on #12545
@ruben-ayrapetyan Here is [full backtrace](https://github.com/dotnet/coreclr/files/1113663/backtrace.txt)
 (I guess that you already have it). It is interesting that this issue happens only after running ``crossgen`` for you. For me, this issue is irrelevant to crossgen.

[2017-06-29 22:20] #12129 closed

[2017-06-29 23:00] ltrzesniewski commented on #4331
@noahfalk, could you please provide a way to tell the runtime to force a tier 2 compilation right away from the managed code itself? Tiered compilation is a *very* good idea for most use cases, but I'm working on a project where startup time is irrelevant but throughput *and* a stable latency are essential.

Off the top of my head, this could either be:
- a new setting in the config file, a switch

[2017-06-29 23:55] kouvel commented on #11306
Yes it looks like global mutexes can't be created or opened from within an AppContainer. You should be able to use a named mutex just not a global one. According to the documentation, local mutexes (no prefix or Local\ prefix) have session scope and it doesn't say anything specific about AppContainers, so you may be able to use a non-global named mutex instead.

[2017-06-30 00:05] Petermarcu commented on #12207
Any updates on this one?

[2017-06-30 00:06] Petermarcu commented on #11615
@brianrob is this coming through for 2.0.0 or should it just be moved to 2.1?

[2017-06-30 00:07] Petermarcu commented on #9080
@richlander is this going to happen for 2.0.0?

[2017-06-30 00:08] brianrob commented on #11615
This can me moved to 2.1.  Done.

[2017-06-30 00:17] DemiMarie commented on #4331
It should happen when the method is called enough times, or if a loop
executes enough iterations (on-stage replacement).  It should happen
asynchronously on a background thread.

On Jun 29, 2017 7:01 PM, "Lucas Trzesniewski" <notifications@github.com>
wrote:

[2017-06-30 00:18] parjong commented on #12545
Here is the [output](https://github.com/dotnet/coreclr/files/1113835/output.txt) when running `` gdb -ex "set confirm off" -ex "set height 0" -ex "r" -ex "p/x this" -ex "p/x this->m_pCanonMT" -ex "q" --args ./dotnet-overlay/Linux.x86.Checked.Checked/corerun coreclr-unittest/GC/API/GC/Collect_neg/Collect_neg.exe`` after applying the following patch to CLR:
[code]

``m_pCanonMT`` seems to be uniniti

[2017-06-30 00:31] Petermarcu commented on #11248
@jyoungyun do you see a need to keep this issue open at this point?

[2017-06-30 00:44] swgillespie opened #12560 "x86 Server GC PreGrow write barrier does not work when heap is mapped to a low VA"
A bug in the write barrier initialization handshake in the Server GC startup path results in `g_ephemeral_low` never getting bashed into the write barrier on startup on x86, which results in heap corruption when the managed heap ends up in virtual addresses below `0x0F0F0F0F` and card table writes are mistakenly omitted. The managed heap does not usually end up that low in the VA space, but it can

[2017-06-30 00:57] noahfalk commented on #4331
@ltrzesniewski - Thanks for the feedback! Certainly I hope tiered compilation is useful for the vast majority of projects but the tradeoffs may not be ideal for every project. I've been speculating we would leave an environment variable in place to disable tiered jitting, in which case you keep the runtime behavior you have now with higher quality (but slower to generate) jitting up front. Is sett

[2017-06-30 01:23] parjong commented on #12545
@ruben-ayrapetyan This issue disappears after applying the following patch:
[code]

@jkotas @janvorli Could you provide some hints on this issue? Especially,it would be very helpful if you could provide some details about fast primitive array allocator that ``JIT_TrialAlloc::GenAllocArray`` generates?

[2017-06-30 01:38] jkotas commented on #12545
The signature of FastPrimitiveArrayAllocatorFuncPtr is `Object* FastPrimitiveArrayAllocatorFuncPtr(CorElementType type, DWORD cElements)`. It creates array of a given primitive type.

I think that the problem was introduced in #12369. The following line should not have been removed: https://github.com/dotnet/coreclr/pull/12369/files#diff-a894b2fd6ca33d239bd799a1ccccb59cL942 . Instead, there needs

[2017-06-30 02:07] parjong commented on #12545
@jkotas Thank you for comment! I'll take a look.

[2017-06-30 03:06] dotnet-mc-bot opened #12565 "Test failure: Regressions_coreclr._0099_AboveStackLimit_AboveStackLimit_/_0099_AboveStackLimit_AboveStackLimit_cmd"
Opened on behalf of @Jiayili1

The test `Regressions_coreclr._0099_AboveStackLimit_AboveStackLimit_/_0099_AboveStackLimit_AboveStackLimit_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\de3a0a7e-dd1a-4518-a0cb-719d759ae79d\Work\06cc6fcf-3c1c-4858-82fa-b1dda7cb6543\Unzip\Reports\Regressions.coreclr\0099\AboveStackLimit\AboveStackLimit.output.txt
    Raw outpu

[2017-06-30 03:23] DemiMarie commented on #4331
Have there been any thoughts on profiling, speculative optimization, and
deoptimization?  The JVM does all of these.

On Jun 29, 2017 8:58 PM, "Noah Falk" <notifications@github.com> wrote:

[2017-06-30 03:54] redknightlois commented on #4331
@noahfalk An environmental variable definitely not a solution that would allow you to control this application by application. For server/service apps you usually don't care how much time it takes for the application to startup. Developing a database engine, I can tell you first hand, we need it to work as fast as it can from the get go and even on unexceptional paths or benchmark done by potentia

[2017-06-30 04:05] hseok-oh commented on #11781
I started this.
@BruceForstall Please assign this to me.

[2017-06-30 04:25] brianrob commented on #12207
We're still tracking this one down.  Hope to have something more to share soon.

[2017-06-30 04:33] parjong commented on #12545
@jkotas I found the following comment at the beginning of ``JIT_TrialAlloc::GenAllocArray``:
[code]

Does it mean that the code generated via this method should be polymorphic?

[2017-06-30 04:33] wateret commented on #11822
CodeGenBringUpTests Status (88e0428caa33fd04bd8f5f8bc1a60b6a44b93622 / 30, Jun)

[code]

Failed Tests

- JIT/CodeGenBringUpTests/DblArea/DblArea.sh
- JIT/CodeGenBringUpTests/DblArray/DblArray.sh
- JIT/CodeGenBringUpTests/DblAvg6/DblAvg6.sh
- JIT/CodeGenBringUpTests/DblCall2/DblCall2.sh
- JIT/CodeGenBringUpTests/DblDist/DblDist.sh
- JIT/CodeGenBringUpTests/DblFillArray/DblFillArray.sh
- JIT/CodeGen

[2017-06-30 04:36] wateret commented on #11927
With recent changes, the error message is changed:

[code]

[2017-06-30 04:37] jkotas commented on #12545
I am not sure what you mean by polymorphic. There are two types of array allocators that this can generate:
1. Allocator that takes `MethodTable*` of the array, number of elements, and returns the array
2. Allocator that takes CorElementType of the array element, number of elements, and returns the array. The CorElementType has to be primitive type.

The code generated for the second type has a bu

[2017-06-30 04:41] #12192 closed

[2017-06-30 04:45] parjong commented on #12545
At first, I think that the above comment means that one generated allocatior should be able to process  parameters of both types (what I mean by polomorphic), but I misunderstand the comment.

[2017-06-30 04:47] parjong commented on #12545
So, it seems that ``JIT_TrialAlloc::GenAllocArray`` will generate the second type allocator when ``(flag & OBJ_ARRAY) == 0``. Am I right?

[2017-06-30 04:58] jkotas commented on #12545
Right

[2017-06-30 05:14] Alois-xx opened #12567 "Expose LastThrownException on Thread Object"
We are using since a long time a hack

http://geekswithblogs.net/akraus1/archive/2010/07/04/140761.aspx

for our own tracing infrastructure. Every .NET Framework update seems to change the offset in the unmanaged thread object. It would be much better if the Last Thrown Exception would simply be exposed so we do not need to rely on such hacks.
I have talked about that issue with Andrew Pardoe some

[2017-06-30 05:40] noahfalk commented on #4331
@redknightlois - Thanks for the follow up

A little confused on this part... environment variables have per-process rather than per-system granularity, at least in the platforms I was aware of.  For example today to turn on tiered compilation for testing in just one application I run:

    set COMPLUS_EXPERIMENTAL_TieredCompilation=1
    MyApp.exe
    set COMPLUS_EXPERIMENTAL_TieredCompilation=0

[2017-06-30 07:24] hqueue commented on #12077
@BruceForstall Please assign this issue to me, thanks!

[2017-06-30 07:53] svick commented on #11686
@ygc369 Yeah. In my proposal, `ResizableArray<T>.Resize` would reallocate small arrays and it would actually reserve the address space only for arrays larger than some threshold, likely one that's even more than 4 kB, which is the common size of pages.

[2017-06-30 08:00] #2470 closed

[2017-06-30 08:12] ygc369 commented on #1855
Any progress about this issue?

[2017-06-30 08:16] #1792 closed

[2017-06-30 08:57] danwalmsley opened #12571 "Process.Start("cmd.exe") launches inside existing console window (on Windows)"
I would expect this code to launch a separate console window.
[code]

[2017-06-30 09:16] wateret commented on #11927
Test Case : `DblArea.exe`

I removed those assertions then it successfully compiled. However the result value was wrong. It prints `NaN` the correct value is `6`.

Looking at disasm when it calls to `DblArea(double, double, double)` the last argument goes to stack. However it seems like copying second part of double is missing.
[code]

[2017-06-30 09:24] ruben-ayrapetyan commented on #12545
@jkotas, is it good idea to introduce array of method tables corresponding to `g_pPredefinedArrayTypes`, and access it from the generated helper (in this case, no extra instruction is necessary)?

[2017-06-30 09:30] wateret opened #12574 "[RyuJIT/armel] Failed CodeGenBringUpTests with wrong results"
A sub-issue for #11822

These tests successfully run but fails with wrong results.

- JIT/CodeGenBringUpTests/DblRem/DblRem.sh
- JIT/CodeGenBringUpTests/FPMath/FPMath.sh

[2017-06-30 10:02] ruben-ayrapetyan commented on #12545
(I guess that you already have it). It is interesting that this issue happens only after running crossgen for you. For me, this issue is irrelevant to crossgen.

@parjong, Thank you!

And also, it becomes stable (fails on every run).
However, failure doesn't occur on previous commit.

[2017-06-30 10:07] jnm2 commented on #11686
@svick The alternative to this is for people to allocate a normal array of the larger size and expose that along with a length and manage everything manually. Leaving it this way seems fine because you'd only need this for targeted performance optimization, right?

[2017-06-30 11:00] svick commented on #11686
@jnm2

That's not quite the same:

1. With my proposal, if you create, say, 1 MB `ResiableArray<byte>`, it will reserve 4 GB of virtual memory, but only allocate 1 MB of physical memory. That's not something you can do with a normal array. With that, you have to decide whether you want to waste physical memory or waste time copying. With `ResizableArray<T>`, you don't have to do either.
2. What yo

[2017-06-30 12:14] jkotas commented on #12545
I do not think it is worth it. This allocator is not that perf critical.

[2017-06-30 12:33] jkotas commented on #12571
This issue was moved to dotnet/corefx#21767

[2017-06-30 12:33] #12571 closed

[2017-06-30 12:50] sharwell commented on #1855
@ygc369 Do you have more information about use cases for this? Currently I would disagree with this statement:

And if you disagree with that statement, then the rest of the feature becomes unnecessary. It would be very helpful to understand:

1. Why would one want to call GC.Collect(), as opposed to simply *not* calling GC.Collect()?
2. Under conditions of the first answer, when and how would thi

[2017-06-30 14:12] mazong1123 commented on #10651
Given a `up-for-grabs` label here, I'm wondering if anyone is working on this issue? If not, I can help on this.

[2017-06-30 14:27] redknightlois commented on #4331
@noahfalk Yes, being inelegant also means that the usual process to run it can (and very likely will) become error prone and that's essentially the issue. An alternative that we know it works is that in the same way you can configure if you are going to use the server GC with an entry in the ```app.config``` you can do the same with the tiered compilation (at least until the tiered can consistentl

[2017-06-30 14:43] karelz commented on #10651
It is not assigned to anyone, so no one is working on it (see [Triage rules](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#triage-rules---simplified)). Assigning to you ...

[2017-06-30 15:26] tarekgh commented on #10651
@mazong1123 thanks for looking at this. could you please share your thoughts before applying any changes?

[2017-06-30 16:05] MattGal commented on #12488
@tijoytom I'm happy to help get you onto a repro machine but only manually; we only have 8 currently and they're quite slow.  Ping me and we'll do that.

One thing I am recalling from setting up the CoreCLR repo's tests for normal Helix execution was that we had to manually install a CRT 14 MSI before stuff would work as expected.   If such a package is needed, we definitely have not done this alr

[2017-06-30 16:31] tijoytom commented on #12488
@MattGal You may be right , we can give that a try..Attaching a debugger and getting loader snaps should tell us what is missing.

[2017-06-30 17:01] BruceForstall commented on #4331
Environment variables are often set per-user or per-system, which has the potential negative effect of affecting all such processes, across multiple versions of the runtime. A per-app config file seems like a much better solution (even if per-user/per-system is also available) -- something like the desktop config values that could be set in app.config, but also use env vars or registry.

[2017-06-30 17:21] tijoytom commented on #12517
Same as https://github.com/dotnet/coreclr/issues/12488

[2017-06-30 17:21] #12517 closed

[2017-06-30 18:07] Pzixel commented on #4331
I think we shall implement the most common path which is per-application. System-wide settings also may be useful, but I don't think we have to think about it before feature get implemented.

[2017-06-30 18:59] AndyAyersMS commented on #4331
Please note we haven't worked out in any detail what the second-tier jit should do for optimization, though we have some ideas. It might just do what the jit does today, but quite likely it will do more.

So let me point out some potential complications....

It is possible that the second-tier jit will bootstrap itself on top of observations made on the behavior of the code created by the first-ti

[2017-06-30 19:09] redknightlois commented on #4331
@AndyAyersMS I think you hit the nail there. The JIT treating "aggressive optimization" attribute would probably solve most of the issues of not being able to have enough information for the JIT to produce on isolation better code without the first-tier jit having time to provide that feedback.

[2017-06-30 21:12] yizhang82 commented on #12147
I have a fix for it and it looks good. I'll integrate it over to the main repo once I got the GVM issue fixed (looking at it right now).

[2017-06-30 21:44] BruceForstall opened #12582 "JIT throughput: fgAddRefPred"
`Compiler::fgAddRefPred()` shows up high on some profiles, in particular:

[code]
before this is:
[code]
which walks the entire preds list looking for a match.

However, we should be able to merge these two walks:
1. In the case where the pred exists, we can early exit when the bbNum in the list is higher than the bbNum we are looking for, since the list is sorted.
2. This is the same exit conditi

[2017-06-30 22:25] pgavlin commented on #12469
@rartemev can you take a look at this?

[2017-06-30 22:25] pgavlin commented on #12467
@rartemev can you take a look at this?

[2017-06-30 22:25] pgavlin commented on #12466
@rartemev can you take a look at this?

[2017-06-30 22:26] pgavlin commented on #12465
@rartemev can you take a look at this?

[2017-06-30 22:26] pgavlin commented on #12464
@rartemev can you take a look at this?

[2017-07-01 00:14] sharwell commented on #1855
@ygc369 You don't have to close this issue if you feel strongly it should be changed. But considering how substantial of a change this would be, it's good to be able to explain how it would benefit you in practice. :smile:

[2017-07-01 00:21] ygc369 commented on #1855
@sharwell
OK.
I give up the first situation. What do you think about the second situation?

Besides this issue, I have another issue about generation GC: https://github.com/dotnet/coreclr/issues/1856

[2017-07-01 00:25] swgillespie commented on #1855
@ygc369 Do you have any data that could back up that claim? It sounds dubious to me. Particularly with a program like this:

[code]

[2017-07-01 00:25] BruceForstall commented on #12491
I see that fail (for both LEGACY_BACKEND and JIT32/arm32). The failure mode is:
[code]
Looks like it's trying to create an enormous string an expecting to get an OutOfMemoryException. Seems like probably a VM issue generating that exception?
[code]

[2017-07-01 00:26] ygc369 commented on #1855
@sharwell
Both this issue (the second situation) and #1856 have obvious benefit of performance. They would make GC more timely.

[2017-07-01 00:41] swgillespie opened #12586 "Consider refactoring StompWriteBarrier initialization path"
See comments https://github.com/dotnet/coreclr/pull/12563#issuecomment-312154400 and https://github.com/dotnet/coreclr/pull/12563#issuecomment-312155236 for details.

Marking as up-for-grabs since this should be an easy issue if anyone in the community wants to grab it, otherwise I'll take care of it in about a week or so.

[2017-07-01 00:47] ygc369 commented on #1855
@swgillespie
In your example, the function `Allocate` will never return. Such functions are usually the entrance function of a thread or task, for example the `main` function. I admit that I ignored this situation, so I will close this issue and let's discuss #1856.

[2017-07-01 00:47] #1855 closed

[2017-07-01 00:54] jkotas commented on #12491
The size of the resulting string is 1.93GB. It is possible that there is enough contiguous address space when running on ARM in WoW to fit it in. ARM WoW gives the process close to 4GB address space.

I would double check that the string returned by the Join has the expected lenght. If it is the case, this is a bad test that should be deleted.

[2017-07-01 05:01] dduerner-ycwang commented on #12426
Seems like it might be kind of cool if there was some way Span\<T> could have something like this (for cases when it's backed by unmanaged memory):

[code]

It seems like this might allow us developer's to use Span\<T> back inside our existing code base and inside our existing utility libraries, without having to add a Span\<T> argument to every one of our existing methods. It also seems like ther

[2017-07-01 05:13] davidfowl commented on #12426
You can't go convert from `Span<byte>` to `byte[]`.

[2017-07-01 06:04] #12582 closed

[2017-07-01 08:50] Pzixel commented on #4331
@redknightlois attribute won't work if we want more tiering: - T3 JIT, T4 JIT, ... I'm not sure if two levels are not enough, but we should at least consider this possibility.

[2017-07-01 14:14] mazong1123 commented on #10651
@tarekgh I'm still reading the context and previous works you guys have done. Once the preparation finished, I'll list the overview of the issue from my perspective and then put my proposals here for discussion.

This should be done by 7/4 CST.

[2017-07-01 18:47] JeanCollas opened #12591 "Documentation of Math library"
Every time I use the Sin/Cosin functions (with GPS coordinates) I wonder what should be the unit the input.
It would be nice to have "in radians" in the IntelliSense documentation.
I couldn't find where the comments are located in the repository (or in another).

[2017-07-01 20:51] yizhang82 opened #12592 "Incremental linker bug"
Repro steps - it only happens in my local branch so far:

[code]

The 2nd crossgen will fail in the callstack described below.

[code]

This is the crashing line:

[code]

This is happening because most likely a C++ compiler/linker bug that it no longer thinks DispatchMapTypeID::DispatchMapTypeID is a valid call target anymore.

This repros on both VS 2015 and VS 2017 toolsets.

[2017-07-02 07:32] devunt opened #12594 "Calling SetWindowsHookEx via P/Invoke does not work as expected"
Calling SetWindowsHookEx with WH_KEYBOARD_LL via P/Invoke on Windows does not work as expected, instead it makes application hang on first keyboard input and also supresses all keyboard input globally until application exit.

[code]

This happends because a standard dotnet core application does not have a message loop, which is needed for low level hooks to work properly.

[2017-07-02 08:12] saucecontrol opened #12595 "[RyuJit/x64] Generates extra movsxd when using a byte value as an address offset"
In image processing, it's common to map byte values (8-bit-per-channel pixels) through a lookup table.

RyuJit x64 apparently uses a 32-bit `movzx` to read byte values, then widens using `movsxd` before using them as address offsets.

Here's a quick sample program demonstrating the issue:

[code]

RyuJit x64 generates the following for the LUTMap method
[code]

Can it be modified to use the 64-bit

[2017-07-02 08:28] mikedn commented on #12595
Likely but it's not trivial unfortunately. Making the memory load produce a 64 bit value directly it's problematic due to the they way loads are represented in JIT. But it may be possible to turn the cast that follows it into a no-op because the register (`r9` in this case) happens to already contain the correct value.

As a workaround you can cast the `byte` to `uint`, you'll still get a redundan

[2017-07-02 08:38] saucecontrol commented on #12595
The `uint` cast actually flips the `movsxd r9, r9d' to 'mov r9d, r9d', so I guess I can get a no-op now, albeit a 3 byte one.  Thanks for the hint.

[2017-07-02 08:46] mikedn commented on #12595
Right, it generates `mov` rather than `movzx`. Both `mov` and `movzx` have the advantage of having 0 latency (the CPU frontend handles them directly without generating a uop).

[2017-07-02 12:55] stephentoub commented on #12594
Neither does a simple C/C++ application by default.  If you want a message loop, you need to add one, e.g.
https://blogs.msdn.microsoft.com/toub/2006/05/03/low-level-keyboard-hook-in-c/

(Separately, when you pass a delegate to native code and that delegate might be called back to after the synchronous call returns, you need to ensure that the delegate won't be garbage collected while it might sti

[2017-07-02 13:52] devunt commented on #12594
As `Application` lives in `System.Windows.Forms`, which can only be refered in .net framework based application, do we have other ways to initialize basic message loop in .net core application besides of implementing it by hands using `GetMessage` and other functions?

[2017-07-02 14:46] mazong1123 commented on #10651
I've went through the context of the `double.ToString()` performance issue. Following are my thoughts and plan. Please let me know if I miss something or you guys have any thoughts.

### Overview
- Originally, `double.ToString()` on Linux is 7x slower than Windows because of the inefficient implementation of pal _ecvt, which is trying to emulate the behavior of Windows _ecvt.

- Re-write _ecvt by

[2017-07-02 15:57] stephentoub commented on #12594
To my knowledge there isn't such a method built into .NET Core.  You'd need to either write the loop yourself, copy it from a variety of different examples on the web, or use one that someone else has provided in a library.

[2017-07-02 19:48] saucecontrol commented on #6906
I'd also like to vote in favor of the option @tannergooding proposed.  I'm working on imaging software, and while `Vector<T>` has allowed me to accelerate quite a few things, the absence of basic operations like `SHUF`, `RSQRT`, `HADD`, etc really limit what I can do, and these don't necessarily fit with the way the `Vector` APIs are laid out.

Even in cases where an API proposal fits the model, w

[2017-07-02 21:12] andy-hanson opened #12596 "Infinite loop calling instance method on struct in emitted code"
[code]

Put a breakpoint on `type.GetMethod("Test").Invoke(null, null);` and run.
Then try stepping (in or next, doesn't matter) -- there is apparently an infinite loop in the generated code. I would also expect to get an early error due to the wrong return type. (Filling in the correct return type `Dummy` changes nothing.)

It's also possible to make the program exit with no exception. Change `Se

[2017-07-03 05:47] hseok-oh commented on #12451
Fixed by #12453

[2017-07-03 05:47] #12451 closed

[2017-07-03 05:48] hseok-oh commented on #11781
Fixed by #12568
@mskvortsov Please close this issue

[2017-07-03 07:12] #11781 closed

[2017-07-03 07:24] tijoytom commented on #12491
@wtgodbe Can check if this test should be deleted?

[2017-07-03 07:26] wateret opened #12598 "[RyuJIT/armel] CodeGenBringUpTests Assertion failed 'genIsValidFloatReg(reg)'"
Parent Issue: #11822

Assertion message (TC: DblArray.sh):

[code]

Failed Tests

- JIT/CodeGenBringUpTests/DblArray/DblArray.sh
- JIT/CodeGenBringUpTests/FPArray/FPArray.sh
- JIT/CodeGenBringUpTests/FPConvI2F/FPConvI2F.sh

[2017-07-03 07:38] dotnet-mc-bot opened #12599 "Test failure: JIT_opt._virtualstubdispatch_bigvtbl_bigvtbl_cs_do_bigvtbl_cs_do_/_virtualstubdispatch_bigvtbl_bigvtbl_cs_do_bigvtbl_cs_do_cmd"
Opened on behalf of @Jiayili1

The test `JIT_opt._virtualstubdispatch_bigvtbl_bigvtbl_cs_do_bigvtbl_cs_do_/_virtualstubdispatch_bigvtbl_bigvtbl_cs_do_bigvtbl_cs_do_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\24244547-d132-4d61-9d92-6789b1cdd5eb\Work\3a67ba0b-ced6-4f1c-b281-1005f6eb8b9c\Unzip\Reports\JIT.opt\virtualstubdispatch\bigvtbl\bigvtbl_cs_do\bigvt

[2017-07-03 09:24] alpencolt commented on #12421
Guys from Mono faced problem caused different cache size  in big.LITTLE architectire:
http://www.mono-project.com/news/2016/09/12/arm64-icache/

I've checked source code and  `__clear_cach` is used in `FlushInstructionCache()` only, I'm not sure that it's our case.
Bug cannot be reproduced on Samsung Z3 (btw it has only 3 cores with identical architectures.).

[2017-07-03 09:31] hseok-oh opened #12600 "[RyuJIT/ARM32] Assertion failed 'targetReg != addrReg'"
Assertion message
[code]

Tests
JIT/Directed/StructABI/structfieldparam_r/structfieldparam_r.sh
JIT/Directed/StructABI/structfieldparam_ro/structfieldparam_ro.sh
JIT/jit64/hfa/main/testC/hfa_nd0C_r/hfa_nd0C_r.sh
JIT/jit64/hfa/main/testC/hfa_nd1C_r/hfa_nd1C_r.sh
Loader/classloader/v1/Beta1/Layout/Matrix/cs/L-2-4-1/L-2-4-1.sh

[2017-07-03 10:37] mskvortsov opened #12601 "[RyuJIT/ARM32] Assertion failures in valuenum.cpp"
JIT/Regression/CLR-x86-JIT/V1-M12-Beta2/b52593:
[code]

JIT/Methodical/refany/_il_rellcs:
[code]

cc @dotnet/arm32-contrib

[2017-07-03 10:38] mskvortsov commented on #12601
These two failures appeared after #12568 has been merged.

[2017-07-03 10:40] hseok-oh opened #12602 "[RyuJIT/ARM32] Assertion failure in lsra.cpp"
Assertion message

[code]

Tests
JIT/Methodical/refany/_il_dbglcs/_il_dbglcs.sh
JIT/Methodical/refany/lcs/lcs.sh

[2017-07-03 11:01] sergign60 commented on #10765
https://github.com/dotnet/coreclr/pull/12603

[2017-07-03 11:01] sergign60 commented on #9166
https://github.com/dotnet/coreclr/pull/12603

[2017-07-03 11:02] sergign60 commented on #10765
https://github.com/dotnet/coreclr/pull/12603

[2017-07-03 11:03] sergign60 commented on #10847
https://github.com/dotnet/coreclr/pull/12603

[2017-07-03 11:51] aviviadi commented on #12444
Problem found.. I'm trying to gettid() using syscall0 with value 224 (gettid in x64 linux). In Apple's macosx 224 is `int nosys(void)` which explains the above.
286 is the value for gettid(), but it seems it has other issues.
Anyhow - closing this one as it solved for me.

[2017-07-03 11:51] #12444 closed

[2017-07-03 16:13] pentp opened #12605 "decimal.Remainder correctness issues"
[Remainder calculation for decimal](https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/src/System/Decimal.cs#L758) uses `NearNegativeZero/NearPositiveZero` constants that claim to be *Constant representing the negative number that is the closest possible Decimal value to -0m/+0m*. The actual constant values have scale 27 (instead of 28) so they are 10 times larger than intend

[2017-07-03 16:16] MendelMonteiro commented on #4331
It would be great to be able to use something similar to [MPGO](https://docs.microsoft.com/en-us/dotnet/framework/tools/mpgo-exe-managed-profile-guided-optimization-tool) to start running with second-tier jitted code.  Fast-forwarding the first-tier instead of bypassing it completely.

@AndyAyersMS, has the fact that Azul have implemented a managed JIT for the JVM using LLVM made it any easier to

[2017-07-03 16:23] tarekgh commented on #10651
@mazong1123 thanks for looking at that.

2 things we need to confirm here if we are going to use this paper:
- there is no legal issues to implement this paper in open source. @terrajobst could you please help with this question?
- May be this paper implementation will require having a static data. we need to know how big this data would be as we are concerned about the size too.

thanks again for

[2017-07-03 18:32] danmosemsft commented on #9912
@joshfree thoughts about this one? There does not seem to be consensus emerging here.

[2017-07-03 20:38] mikedn commented on #7641
This was fixed in #10990

[2017-07-03 21:25] noahfalk opened #12609 "Tiered Jitting: Implement Opt-out configuration"
We hope that tiered jitting is a useful performance improvement for nearly all projects and it will keep improving over time, but there is likely to be a small set of projects that want to disable it for various reasons. We need to determine and implement appropriate configuration switches to accomplish this. There is some initial discussion of the topic in #4331. Also likely to be useful is prior

[2017-07-03 21:59] tijoytom commented on #12508
@Jiayili1  All interop tests seems to be failing with DLL fail to load ,  we dont need seperate bugs , the below one covers it . Pleas edo open separate bu if  the call stack looks different

https://github.com/dotnet/coreclr/issues/12488

[2017-07-03 21:59] #12508 closed

[2017-07-03 23:05] #12545 closed

[2017-07-04 00:01] noahfalk opened #12610 "Tiered jitting: Implement additional profiler APIs"
Tiered jitting breaks a previous invariant that there would only be one jitted code body per <FunctionID, ReJitID, generic instantiation> tuple. In order to address this we need to add some new APIs that profilers can use to get information about these new method bodies. The breaking change doc added in #12193 has a bit more background. The likely APIs (design not final) would be:

    //Given fun

[2017-07-04 00:12] noahfalk opened #12611 "Tiered jitting: Review/shrink memory usage for non-default code versions"
The current implementation of some of the data structures in CodeVersionManager are probably larger than they need to be. For example NativeCodeVersionNode stores both a native code pointer and a MethodDesc*, however it could store a union of both (other parts of the runtime know how to lookup code ptr -> MethodDesc*) to save 1 pointer per version. We should fix at least the low hanging fruit with

[2017-07-04 00:32] noahfalk opened #12612 "Tiered jitting: Design/Implement appropriate diagnostics"
There are two aspects of this work:
1) We have pre-existing diagnostic APIs/tools that need to keep working properly in spite of tiered jitting. For example SOS, ETW events, COMPLUS logging, stress logging, ICorDebug and ICorProfiler APIs. ICorDebug and ICorProfiler are sizable and are already called out in separate work items, but the remainder are lumped here for now. We either need to confirm t

[2017-07-04 00:35] noahfalk opened #12613 "Tiered jitting: Functional and stress testing"
Once we have some diagnostics in place (#12612) it should be reasonable to use those diagnostics to check if tiered jitting is versioning the code the way we expect it to. In addition we also need to get tiered jitting enabled within our stress suite.

[2017-07-04 00:35] hqueue opened #12614 "[RyuJIT/ARM32] enable unrolling for cpblk"
When #12604 (which is not merged yet) is merged, there will be a lot of cpblk using helper functions for HFA tests.

For example, a lot of helper function are observed to copy small structures at  `HFATest.TestCase:Main():int` in `JIT/jit64/hfa/main/testE/hfa_nd0E_r` with PR #12604.

[code]

We have to extend #9979 and introduce unrolling for cpblk to improve code quality for many HFA tests.

I'm

[2017-07-04 00:41] mazong1123 commented on #10651
Just to be clarified:
- Are you concerning on the size of data stored in static variables of C/C++ code?
- Do we have any specification/guideline with details of the size constrain?

[2017-07-04 00:53] hqueue opened #12615 "[RyuJIT/ARM32] Assertion failed 'genIsValidDoubleReg(regRec->regNum)'"
Following assertion is observed in 18 tests while compiling with ryujit/arm32.

[code]

Related tests:
[code]

[2017-07-04 00:54] hqueue commented on #12615
I'm going to look into this.

[2017-07-04 01:03] YongseopKim opened #12616 "[RyuJIT/ARM32] Assertion failed 'gcPtrCount == 0'"
Log
[code]

[code]

Related tests
[code]

[2017-07-04 01:04] YongseopKim commented on #12616
I'm going to investigate it.

[2017-07-04 01:05] noahfalk opened #12617 "Tiered jitting: Review/fix ICorDebug interactions"
PR #12193 - took an initial stab at this but it is incomplete. We need to:
- Confirm that the debugger areas that PR changed are working properly
- Disable tiered jitting when requested to do debuggable code-gen. This ensures that native-IL mapping stays at high quality, inlining doesn't occur, and there is no intersection between EnC and tiered jitting.
- Fix race conditions that could otherwise

[2017-07-04 01:07] noahfalk commented on #12612
ICorProfiler work is tracked in #12610, plus what was already done in #12193.
ICorDebug work is tracked in #12617.

[2017-07-04 01:16] noahfalk commented on #4331
Just fyi, I created a number of work items for some particular work we need to do to get tiered jitting off the ground (#12609, #12610, #12611, #12612, #12617). If your interest directly relates to one of those feel free to add your comments to them. For any other topics I assume discussion will remain here, or anyone can create an issue for a specific sub-topic if there is enough interest to meri

[2017-07-04 01:22] hseok-oh commented on #12600
[code]

On codegen phase, Internal register(`baseReg`), address register(`addrReg`), and target registers(targetReg) are used.
LSRA allocates address `addrReg` as one of `targetReg`.

To avoid this, we should
1. Masking to avoid allocating `baseReg` as one of `targetReg`
2. If `addrReg == targetReg`, move `addrReg` to `baseReg`, and use `baseReg` as `addrReg`.

[2017-07-04 01:37] noahfalk commented on #12610
@mjsabby @sergeykanzhelev @discostu105 - Figured you guys might have particular interest in these. Let me know if you think the APIs I suggested above sound reasonable.

Also please point out if you think there are any gaps that need addressing. For example, do we need a new API that maps code pointer in method -> code start address? As-is if you wanted to do that transformation you would need to

[2017-07-04 01:38] tarekgh commented on #10651
Any data that increase the size of the net core on the disk will be a concern. If the data is really small (e.g. small arrays or static data). But if the data is few KB's then we need to look at that and evaluate the benefits. We had some work to optimize the size of the net core on the disk.

CC @jkotas

[2017-07-04 02:12] jkotas commented on #10651
I would worry about speed and correctness first. Once you have prototype that is fast and correct, we will worry about the rest (disk footprint, license, etc.)

[2017-07-04 03:24] mazong1123 commented on #10651
@jkotas I'll write a demo first so that we can examine the correctness and speed. If it does not work as expected, we can have a quick turn around.

[2017-07-04 04:25] YongseopKim commented on #12602
I faced this issue. I modified [here](https://github.com/YongseopKim/coreclr/commit/fdc3b032e522512a71cc29eb6385b36d9720e35f#diff-498fd4859cb147c9bf082f5ebf32ca8fR1402)

[2017-07-04 07:58] YongseopKim opened #12622 "[RyuJIT/ARM32] Assertion failed '(varDsc->lvIsParam && !varDsc->lvIsRegArg) || isPrespilledArg'"
logs & tests
[code]

[2017-07-04 09:47] mskvortsov opened #12626 "[RyuJIT/ARM32] Stack smashing detected"
Test cases:
[code]
Message:
[code]
The problem seems to be at [codegenarmarch.cpp:695](https://github.com/dotnet/coreclr/blob/77ac6921d8b6b23e682adc42440501e34a083720/src/jit/codegenarmarch.cpp#L695) and can be catched by the following assertion:
[code]
cc @dotnet/arm32-contrib

[2017-07-04 09:51] Pzixel commented on #12617
About race conditions: maybe it's easier to not replace code while someone is inside? Just create a gate, and if method is recompiled, we redirect all new calls to stub. When all calls left method which is about to recompile we replace it and new calls pass through this stub and resume their work.

[2017-07-04 09:58] mskvortsov commented on #12626
@hseok-oh It seems like the problem was introduced by the commit [4349824ed5](https://github.com/dotnet/coreclr/commit/4349824ed5da261f408042a6a023e080ff3e71db).

[2017-07-04 11:00] mskvortsov opened #12627 "[RyuJIT/ARM32] Bad exit code in JIT/Methodical/VT/callconv/_il_reljumper4"
[code]
The method `sub` is miscompiled by the new backend:
[code]
The bug is related to struct passing and seems to be in the genJmpMethod() in the loop at [codegenarmarch.cpp:2167](https://github.com/dotnet/coreclr/blob/77ac6921d8b6b23e682adc42440501e34a083720/src/jit/codegenarmarch.cpp#L2167) (moving any un-enregistered register arguments back to their register).

cc @dotnet/arm32-contrib

[2017-07-04 13:28] jkotas commented on #12567
There has always been `AppDomain.FirstChanceException` event that you can use to cache the last thrown exception. Is there a reason why it does not work for you?

[2017-07-04 15:10] gboucher90 opened #12630 "ProcessorCount doesn't take into account cpu cfs limit from cgroup"
Hello,

It seems cgroup cpu share limit is not taken into account.

I'm running a .Net Core app into Mesos on CentOS 7. Wether I allocate 1 to 10 CPUs, Environment.ProcessorCount always returns the actual number of processor (24).

Then the ThreadPool doesn't really scale properly. In particular I encountered deadlocks.

This issue was also present in Java and was fixed last year:
https://bugs.ope

[2017-07-04 16:04] poizan42 commented on #12594
Another note here, hMod should be the module (i.e. library) containing the function to call. However the function you give it is a trampoline to jit'ed code that is generated on the fly.

Now the low-level hooks such as WH_KEYBOARD_LL are special if you note the Remarks section:

Of course the documentation for SetWindowsHookEx does not specify what to do with the hMod parameter in this case, but

[2017-07-04 16:09] Alois-xx commented on #12567
The _FirstChanceException_ event is delivered by a thread pool thread which also has nowhere noted in which thread the exception was thrown. Up to now there is no way to associate the thread on which an exception was thrown with the information gained by using the _FirstChanceException_ event.

What I really would like to have is in the _Thread_ object a _Thread.CurrentlyUnwindingException_ proper

[2017-07-04 17:04] pierrecdn commented on #12630
As a side remark: it would be more convenient to handle the cpushare case because its more commonly used, even if the cpuset case is also very interesting because probably in place in most of the high performance use-cases.

[2017-07-04 17:26] rartemev commented on #12464
@pgavlin sure

[2017-07-04 18:23] 4creators opened #12631 "[RyuJIT/x86,AMD64] Use add register, 1 instead of inc register instructions for performant code"
In recent post [Performance Improvements in RyuJIT in .NET Core and .NET Framework](https://blogs.msdn.microsoft.com/dotnet/2017/06/29/performance-improvements-in-ryujit-in-net-core-and-net-framework/) one can find many examples of performance improvements in RyuJIT which will be shipped soon in .NET Core 2.0.0 and .NET Framework v4.7.1. What I have noticed as well was the consistent use of INC in

[2017-07-04 18:28] swgillespie commented on #12631
Duplicate of https://github.com/dotnet/coreclr/issues/10386 (see https://github.com/dotnet/coreclr/issues/10386#issuecomment-291021390)

[2017-07-04 18:28] #12631 closed

[2017-07-04 19:50] jkotas commented on #12567
That's not correct. It is delivered on the thread where the exception was thrown before any other processing starts.

What kind of custom things you would do in finally block?

It does not work well with nesting. If you are in finally block and you see that there is current exception, you cannot be sure whether you are executing the finally block exceptionally or not.

I know that the Thread objec

[2017-07-04 21:54] Alois-xx commented on #12567
The use case is for tracing. If you implement a tracer you can do it like this:

public struct Tracer : IDisposable
{
    [ThreadStatic]
    static Exception AlreadySeen = null;

    public Tracer(Type type, string method)
     { .. }

     public void Dispose()
      {
             Exception unwinding = Thread.UnwindingException;
             if( unwinding != AlreadySeen && unwinding != null)

[2017-07-04 22:47] rartemev commented on #12465
Is the following sequence correct?

[code]

If so the problem is about assert which fails on `arg0VNtyp == float64` and `arg1VNtyp == float32` otherwise the test is incorrect.

[2017-07-05 01:36] jkotas commented on #12567
Nit: It was added to .NET 4.0.

[2017-07-05 01:40] SergeyKanzhelev commented on #12610
CC: @jacdavis
Are those methods used for anything else? Sorry for ignorance, I haven't looked into code, but why not simply make [this](https://docs.microsoft.com/en-us/dotnet/framework/unmanaged-api/profiling/icorprofilerfunctioncontrol-setilinstrumentedcodemap-method) work?

[2017-07-05 03:15] YongseopKim commented on #12626
@mskvortsov What commit is your tip commit in coreclr?
In case of me, by using 77ac6921d8b6b23e682adc42440501e34a083720 and debug build,
it prints
[code]

[2017-07-05 07:25] Jiayili1 commented on #12547
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fr2r~2Fcli~2F/build/20170705.01/workItem/Regressions.common.XUnitWrapper/analysis/xunit/Regressions_common._AboveStackLimit_AboveStackLimit_~2F_AboveStackLimit_AboveStackLimit_cmd

[2017-07-05 07:27] Jiayili1 commented on #12565
Failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fr2r~2Fcli~2F/build/20170705.01/workItem/Regressions.coreclr.XUnitWrapper/analysis/xunit/Regressions_coreclr._0099_AboveStackLimit_AboveStackLimit_~2F_0099_AboveStackLimit_AboveStackLimit_cmd

[2017-07-05 08:00] mskvortsov commented on #12626
@YongseopKim It was the latest master. I have double checked and can confirm the bug reproduces both in checked and debug builds.

[2017-07-05 08:46] wateret commented on #12598
It looks like there is something wrong with final local variable assignments. `V01`'s location is `f16:STK`, should've been `f16:f17`.

[code]

[2017-07-05 09:03] mskvortsov commented on #12598
AFAIK, this `f16:STK` is just a bug in the printer and should be read as `d16` instead.

[2017-07-05 09:31] Alois-xx commented on #12567
Ups sorry you are right. I got the impression it was recently added but it seems I have missed that one a long time. It seems this idea is so good that MS has a patent for it (https://www.google.de/patents/US20100287414)

[2017-07-05 09:34] wateret commented on #12598
@mskvortsov Thanks!

[2017-07-05 11:44] alpencolt commented on #12616
It looks the same as https://github.com/dotnet/coreclr/issues/11841

cc @dotnet/arm32-contrib

[2017-07-05 12:27] svick commented on #12303
I have attempted to measure how much would this save by running [the smoke test suite](https://github.com/aspnet/MusicStore/blob/dev/test/MusicStore.E2ETests/SmokeTestRunner.cs) of [the aspnet/MusicStore sample app](https://github.com/aspnet/MusicStore/) 25 times. I'm not sure how typical app MusicStore is and this usage pattern definitely isn't typical (for example, it opens the home page as ofte

[2017-07-05 12:55] ruben-ayrapetyan commented on #10380
@jkotas,

We have performed initial comparison of CoreCLR and CoreRT from viewpoint of memory consumption on benchmarks from http://benchmarksgame.alioth.debian.org.

The initial measurements show that CoreCLR consumes approximately `41% more memory` on average than CoreRT and is approximately `4% slower`.

Particularly, `binary-trees` benchmark (http://benchmarksgame.alioth.debian.org/u64q/progra

[2017-07-05 14:01] cjlotz commented on #10199
Any plans for the closing the gaps mentioned?  Specifically looking at missing members on `DynamicMethod`?

[2017-07-05 14:32] akilaVis opened #12638 "Does this repo access to NETFX_CORE functions when the project is built on android from unity"
Hi and thank you for this code,
I have created a class library project (UWP) and link it with unity to generate a dll file, I could build the project for WSA from unity but can’t build it on android because I couldn’t access to the functions of NETFX_CORE in the class library (UWP) from unity, I want to ask you if this repo can access to NETFX_CORE functions when the project is built on android pl

[2017-07-05 14:36] ChrisBirkett commented on #9193
I observe the same MarshalDirectiveException (message `Cannot marshal 'parameter #1': Unknown error.`) when I attempt to marshal parameters as UnmanagedType.AnsiBStr:

[code]

The marshalling and call above work on Windows (1.0.3 and 1.1.0 tested):
`[DllImport(@"_Libs\vcmowr64.dll")]`
But produce the error when running in a Linux docker container (base image microsoft/dotnet running 1.0.4)
`[DllIm

[2017-07-05 15:28] sdmaclea commented on #5928
@kouvel Testing on arm64 switching UnfairSemaphore to ClrSemaphore showed no performance degradation on the one ASP.NET benchmark I was using.  The UnfairSemaphore design seems to favor low CPU count (2-4) processors.

[2017-07-05 15:35] sdmaclea commented on #6476
@benaadams Testing on arm64 showed ThreadpoolMgr::MinLimitTotalWorkerThreads was set too high.  On SkyLake 8 core processor, performance was peaked by setting to 4 threads.  Similar result on arm64 48 core machine.

I would recommend changing
[code]

To something like
[code]

[2017-07-05 15:39] benaadams commented on #6476
4 threads on 48 core machine seems like a very poor utilization?

[2017-07-05 15:45] egavrin commented on #10380
Unfortunately, it does not explain why we see performance improvements on memory intensive benchmarks like `binary-trees` or `spectral-norm`.

Launch time is better on CoreRT, obviously. ~45% faster with CoreRT.

[2017-07-05 15:49] sdmaclea commented on #6476
@benaadams Poor utilization.

If there are typically sufficient work items to keep 48 threads busy, 4 threads would be poor utilization.
 However as is typical an application is often not highly parallelizable/scalable and there are only a few work items, 48 threads would be poor utilization.  It either creates too many spinners or waiters are too cold (due to LRU wake).

I will continue to try to

[2017-07-05 16:08] mikedn opened #12639 "[RyuJIT] Range check phase effectivness"
It seems to me that `RangeCheck` tries too hard and sometimes fails too easily. And we also seem to have cases where range checks reach this phase (and they are eliminated) but they could have been eliminated earlier at a lower cost.

I'm taking a look and I'll use this issue to collect my observations.

[2017-07-05 16:37] mikedn commented on #12639
Simple example of trying and failing:
[code]
It seems that RangeCheck should be capable of removing the unnecessary range check in the above example because it's capable of merging assertions generated by assertion propagation:
[code]
It correctly figures out that the range is [0, a.Length) yet it fails to remove the range check because:
[code]

What overflow?! It's obvious that `i` isn't the resu

[2017-07-05 16:43] sdmaclea commented on #6476
Also note that in many cases threadpool will not be the only method to create additional threads.  libuv is spawning threads to service sockets.  gcServer=1 has one thread per CPU to do GC.  There may be other ThreadPool instances.  It seems naive to assume ThreadPool is optimized when there are at least `NumberOfProcessors` threads in the pool.

Right now `MinLimitTotalWorkerThreads` is serving t

[2017-07-05 16:45] sdmaclea opened #12640 "[Arm64] Optimize GCServer=1 scalability on arm64"
While testing aspnet/benchmarks `coreoverlay/corerun Benchmarks.dll --scenarios "Plaintext"`

`COMPlus_gcServer=0` is able to 10x request/sec than `COMPlus_gcServer=1`

[2017-07-05 16:45] sdmaclea commented on #12640
@swgillespie @Maoni0 @jkotas
cc @dotnet/arm64-contrib

[2017-07-05 17:20] Logerfo opened #12641 "Optional parameter addition should not be a breaking change if overload resolution is still possible (not ambiguous)"
Originally asked in https://github.com/dotnet/roslyn/issues/20633.

### Steps to reproduce
Compile the following class in what we are going to call as "Assembly 1" (a library):
[code]
Compile the following class in what we are going to call as "Assembly 2" (an application):
[code]
Recompile Assembly 1 with class B now looking like this:
[code]

### Expected behavior (by me, actually)
Assembly 2 wi

[2017-07-05 17:30] tijoytom commented on #12518
@RussKeldorph Looks like a JIT issue , who can take a look?

[2017-07-05 17:32] tijoytom commented on #12509
@yizhang82 @botaberg
This is likely same issue ie DLL fails to load issue , we are seeing on ARM64.

[2017-07-05 17:33] tijoytom commented on #12547
same
https://github.com/dotnet/coreclr/issues/12547

[2017-07-05 17:37] tijoytom commented on #12178
@safern @danmosemsft

     What needs to happen now given the f5 is green in CI?

[2017-07-05 17:41] sdmaclea commented on #12640
On x64.  gcServer=1 is ~10% faster than gcServer=0.

[2017-07-05 17:48] safern commented on #12178
https://github.com/dotnet/corefx/issues/21692

cc: @tarekgh who is working on this with me. We are now on hold waiting for a discussion on the design of the infrastructure side.

[2017-07-05 17:51] tarekgh commented on #12178
@tijoytom we already have a plan what exactly need to be done here. we are just waiting the final word from @morganbr if we continue or he want change the current design. I have handed the needed changes for PN side to @morganbr but if we change the design then we'll need to have a different plan. we should hear from @morganbr very soon about that.

[2017-07-05 17:52] yizhang82 commented on #9193
@ChrisBirkett This is a different issue. We support "ANSI" marshaling in linux - in that context it simply means UTF-8 marshaling ("ANSI" is such an overloaded term...). We don't support BSTR/AnsiBSTR in linux, though. They are very Windows/COM specific (especially AnsiBSTR which is a VB6 thing). Would it make sense for you to simply switch to `UnmanagedType.LPStr`?

[2017-07-05 17:53] pgavlin commented on #12639
cc @dotnet/jit-contrib @russellhadley

[2017-07-05 17:57] pgavlin opened #12643 "Test failures in Linux/x64/pri1r2r"
e.g. https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_ubuntu_pri1r2r_tst/2165/

A binary search indicates that these failures came in with the changes in https://github.com/dotnet/coreclr/pull/11962.

@ruben-ayrapetyan @janvorli can you take a look?

[2017-07-05 17:57] AndyAyersMS commented on #4331
@MendelMonteiro Making MPGO-style feedback data available when jitting is certainly an option (currently we can only read this data back when prejitting). There are various limits to what can be instrumented,  so not all methods can be handled this way, there are other limitations we need to look at (for instance, no feedback data is available for inlinees), the instrumentation and training runs n

[2017-07-05 17:58] mikedn commented on #12639
Disabling RangeCheck results in the following regression:
[code]
Hard to say if a 23715 bytes regression is large or not compared to the amount of work RangeCheck does. It would be nice to get a percentage of eliminated range checks but for code size should do.

Now I need to check how many of these missed range checks can be eliminated earlier.

[2017-07-05 18:06] pgavlin commented on #12465
IIUC that IL is legal. As per ECMA-335, all floating-point values are converted to type `F` (the internal floating-point representation) when they are pushed onto the evaluation stack, so the types of the compare's operands do match.

cc @dotnet/jit-contrib