[2018-05-23 11:20] janvorli commented on #17851
Although, looking at the code, it is not clear to me how the limits get updated in the barrier without calling StompWriteBarrierResize after they are set. So it would seem that this arm64 specific code would be needed for ARM too. @jkotas am I missing something?

Actually, neither the g_lowest_address nor the g_highest_address got updated by the last call to GCToEEInterface::StompWriteBarrier. The

[2018-05-23 13:41] jkotas commented on #17851
I agree.

[2018-05-23 13:48] knownasilya commented on #12217
@bartonjs I did `dotnet add package System.Net.Http -v 4.3.3` in that project, but it's still using the system one from above.

[2018-05-23 13:54] jkotas commented on #18095
This issue was moved to dotnet/corefx#29873

[2018-05-23 13:54] #18095 closed

[2018-05-23 14:38] vellozzi opened #18097 "Which dependencies are runtime dependencies and which ones are build dependencies?"
I have a question about the dependencies listed in [the coreclr instructions](https://github.com/dotnet/coreclr/blob/release/2.1/Documentation/building/linux-instructions.md) and [the corefx instructions](https://github.com/dotnet/corefx/blob/master/Documentation/building/unix-instructions.md).
Which dependencies are for runtime and which ones are for build-time only?

Also, if I install the SDK a

[2018-05-23 14:41] BruceForstall commented on #7360
@mikem8361 What is required to implement this? How much work/time would it be? Can we reopen this issue to track it? I'm worried we will forget about it if the issue is closed. This was mentioned in https://github.com/dotnet/coreclr/pull/18090.

[2018-05-23 15:17] brianrob commented on #18042
Thanks @shanshan0309 for reporting this.

[2018-05-23 16:25] redknightlois opened #18100 "[JIT] Allow the developer to instruct the JIT to do not reorder goto based blocks."
When manually rearranging blocks you end up in situations where you know best what the arrangement is. I hit one of those cases when optimizing memory diffing. Example: https://youtu.be/DD3w66Ff8Ms?t=20859

Give the JIT a hint could help.

[code]
or
[code]

Details on all the tricks can be found at: https://www.youtube.com/watch?time_continue=18053&v=DD3w66Ff8Ms

cc @AndyAyersMS

[2018-05-23 17:39] terrajobst commented on #12217
Phew. Glad it's not us :-)

[2018-05-23 17:43] mikem8361 commented on #7360
I have no idea how to implement. @tmat might know. We should reopen this.

[2018-05-23 17:51] RussKeldorph commented on #18100
@dotnet/jit-contrib

[2018-05-23 17:55] RussKeldorph commented on #18097
@janvorli

[2018-05-23 17:58] sandreenko commented on #18100
I think it won't be necessary soon If we are planning to do tiered compilation that collects branch counters. A simple block layout algorithm  with PGO should order blocks better than manual hints.

[2018-05-23 18:41] echesakovMSFT commented on #17851
@janvorli @jkotas
After I had enabled this arm64 specific code for arm and added `FlushWriteBarrierInstructionCache` after the code I couldn't repro the issue anymore.
[code]
I think this could be a root cause. I am gonna do couple more hours of testing to confirm this and then create a PR.

[2018-05-23 18:51] janvorli commented on #18097
The dependencies listed in the instructions you've mentioned are for building. They list dev packages that contain header files and build time libraries and also some tools that are needed during the build. The runtime dependencies are smaller than that.

Ldd would verify most of the runtime dependencies, but there are two dependencies that are not verified by the ldd. The openssl 1.0 and ICU libr

[2018-05-23 19:21] echesakovMSFT commented on #17598
Hit this issue multiple times when was testing #18053

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_gcstress0xc_flow_prtest/5/
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_gcstress0xc_jitstress1_flow_prtest/3/
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_gcst

[2018-05-23 19:37] echesakovMSFT commented on #14249
Hit the issue on [Ubuntu arm Cross Checked r2r_jitstress2 Build and Test](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_r2r_jitstress2_tst_prtest/5/consoleText) during PR #18053 testing
[code]

[2018-05-23 19:41] sec commented on #18067
@wfurt @mateusrodrigues hey, if it's not a problem, could you also post this list somewhere online - I'm sure there are lots of BSD fans that can help if needed with some tasks, as we all would love to have fully working .net core on best OS :)

[2018-05-23 19:49] kasper3 commented on #18067
There used to be CI job for FreeBSD in CoreCLR, which was removed because things weren't moving forward.

[2018-05-23 21:00] wfurt commented on #18067
I sent @mateusrodrigues private email @sec and maybe he can track tasks on his project page.
There is list of known bugs and missing features. All should be labeled with os-freebsd.
If you (or anybody) pick one, please assign it to your self.
There is always work on documentation and testing.
source-build project moved on since last year and I think getting actual port working is nor more realisti

[2018-05-23 21:45] vellozzi commented on #18097
Thanks.  That helps a lot.

[2018-05-23 21:45] #18097 closed

[2018-05-23 22:16] sdmaclea opened #18104 "[Arm64] Crypto assertion failure"
Recent regression
JIT/HardwareIntrinsics/Arm64/Crypto/Crypto.sh
[code]

Failing on 6185b9af8
Passing on fa3e66ea42

@dotnet/arm64-contrib @CarolEidt

[2018-05-23 22:35] tannergooding commented on #12090
The PR adding support for the x86 FMA intrinsics is up: https://github.com/dotnet/coreclr/pull/18105

[2018-05-23 22:36] tannergooding commented on #17818
The PR adding support for the x86 FMA intrinsics is up: https://github.com/dotnet/coreclr/pull/18105

[2018-05-23 22:43] CarolEidt commented on #18104
@sdmaclea - that's probably a safe bet. Sorry about that - I'll take a look.

[2018-05-23 22:53] CarolEidt commented on #13183
When this is addressed, we should also fix the assert in `LinearScan::BuildRefPositionsForNode()` that checks that `produce` is as expected - that assert should be generalized for all targets.

[2018-05-23 22:59] CarolEidt commented on #18104
@sdmaclea - this will be a bit tricky for me to track down, as the altjit doesn't recognize the intrinsics, so I'll have to get access to hardware. In the meantime, could you possibly post a jitdump?

[2018-05-23 23:45] sdmaclea commented on #18104
Sure.  I'll do it in the morning.
There was also an idea to enable setting the CPU feature flags for the altjit/jit through the environment.

[2018-05-23 23:52] erozenfeld opened #18106 "[Ignore] Testing some issue editing automation."
Please ignore this issue. I'm using it to test some issue editing  automation. It will be deleted.

[2018-05-23 23:52] erozenfeld commented on #18106
Comment 1.

[2018-05-23 23:53] erozenfeld commented on #18106
Comment 2.

[2018-05-24 01:35] ArtBlnd commented on #11606
Is there are any custom defined ADT (abstract data types) in coreclr? such as list, vector.
cuz I want to make a GenTree list without copying it.

[2018-05-24 01:42] DevWithLin commented on #18094
thank you for your answer.

[2018-05-24 05:49] FarrynDE opened #18110 "comctl32.dll AccessViolationException - Windows 10 - WindowsForms ComboBox"
I have a Windows Forms application that experiences intermittent crashes when run on Windows 10 operating system. The crashes stop when I run the app in compatibility mode for Windows 7.

The errors appear to be coming from the ComboBox control. Is this a known issue or are there any code work-arounds?

# **Application Error**
Name der fehlerhaften Anwendung: MesEfficiencyGUI.exe, Version: 18.1.0.

[2018-05-24 05:51] #18094 closed

[2018-05-24 07:42] dmpriso commented on #18044
@janvorli could you spot any difference in our and your mountinfo output?

[2018-05-24 08:51] sergign60 opened #18113 "dynamic keyword takes too much time."
We found that ```dynamic``` keyword causes the significant delay at the first execution of a  method call.
[code]
at the device with armel architecture we got the following result

Test2(57) > 1429ms
Test2(57) > 8ms
Test2(57) > 8ms
Test2(57) > 10ms
Test2(57) > 8ms
Test2(57) > 8ms

I added the simplest variant of this program (see attach) and got the following results on Ubuntu 16.04 x64 cpu MHz: 3

[2018-05-24 08:52] sergign60 commented on #18113
@dotnet/arm32-contrib @janvorli

[2018-05-24 08:55] janvorli commented on #18044
@dmpriso this is weird - your dump matches my one and yet it gives me the correct limit. However, now I've realized something - you are testing code from https://github.com/dotnet/coreclr/blob/master/src/gc/unix/cgroup.cpp, which is used by the standalone GC (if you use it). I was debugging the copy of this code that's in PAL and is used by the GC embedded in the coreclr - https://github.com/dotne

[2018-05-24 09:26] Mr-Daomi opened #18114 "Collecting StackTrace performance"
Why can't I collect stack information?
Currently, in the slow tracking details or error details, the stack information corresponding to the .NET Core code method cannot be consulted.

The root cause is the poor performance of collecting StackTrace on the .NET Core 2.0 platform. After evaluation, each execution of StackTrace will result in millisecond CPU usage.

Technically speaking, we can collec

[2018-05-24 09:31] janvorli commented on #18044
Hmm, I've tried the same thing as you did - just compiling the https://github.com/dotnet/coreclr/blob/master/src/gc/unix/cgroup.cpp with your bit of code to test it added. And it still worked :-(.
I've instrumented the code a bit to dump the stuff it extracts, could you please compile and run the instrumented version? You can get it here: https://gist.github.com/janvorli/0614a42e612965ea3ad56d0074

[2018-05-24 11:00] 4creators commented on #18100
@tannergooding This could be one of the use cases for compiler hints API you have proposed.

[2018-05-24 11:09] 4creators commented on #17818
One of the proposals to handle this is in https://github.com/dotnet/corefx/issues/27911#issuecomment-372684004

There are many other possible solutions which could be based on `VectorNNN<T>` as well.

[2018-05-24 11:10] 4creators commented on #17818
@fiigii @tannergooding Whis ISA I could start working on now as I have some free cycles?

[2018-05-24 11:18] fiigii commented on #17818
IIRC, SSE2 still has a few issues (e.g. CQ, tests, etc.), it would be better to refine SSE2 code at first.

[2018-05-24 12:32] redknightlois commented on #17935
@AndyAyersMS I have been thinking about that problem too (not at the JIT level). There are specific cases where this can be handled is a different way (probably deserves its own issue), but let me elaborate in case there is some fundamental issue involved that I am not aware.

In cases of very hot paths, a call may be done already knowing the type, especially when they are candidates for inlining

[2018-05-24 13:08] #17851 closed

[2018-05-24 15:00] sdmaclea commented on #18104
Looks like this is passing on b23f821.  This doesn't make sense if it was failing on 6185b9a.  I'll try to reproduce...

[2018-05-24 15:25] Korporal commented on #18019
@mikedn - Yes, when I mentioned "an API" I wasn't trying to imply it would be directly called by developers but would for the basis for existing code, I totally agree that classes like Monitor and Mutex would be the ideal places to locate these calls.

[2018-05-24 15:37] mburbea commented on #18113
First debug is meaningless metric, and can be slower.
Isn't this kind of by design? The IL to execute is being generated at runtime, and not on demand. Since the cost of a dynamic call site is likely only paid once its basically a non-issue.

If you do require the performance back, you can code around it to not use dynamic.

[2018-05-24 15:44] janvorli commented on #18097
@vellozzi the PAL tests actually don't cover any of those.

[2018-05-24 15:56] sergign60 commented on #18113
@mburbea I don't quite agree with you. If we have a numerous using ```dynamic``` in a program, it could be significant losses in performance

[2018-05-24 16:05] 0xd4d commented on #18114
Dupe of https://github.com/dotnet/coreclr/issues/17701

[2018-05-24 16:21] sdmaclea commented on #18104
@CarolEidt Here is the JitDump in the failing case
[jitDump.zip](https://github.com/dotnet/coreclr/files/2036239/jitDump.zip)

[2018-05-24 16:28] CarolEidt commented on #18104
@sdmaclea thanks! It doesn't seem to be failing for me - I'll have a look at the jitdump, and then if that doesn't elucidate, I'll check with exactly the build that you say is failing, and make sure I've got the latest test build (I'm currently using an old build of the tests).

[2018-05-24 16:38] Korporal commented on #18019
@GSPP

I dont' see why that is preferable to simpy doing the check at the point a thread attempts to acquire or wait for a lock.

I can envisage a method `WouldCauseDeadlock(args...) `that simply returns a bool. There are potential failure windows though because getting false back at one instant only represents the situation at that instant.

Of course there are deeper things to consider because p

[2018-05-24 16:45] tmat commented on #7360
The binary is likely available, just need to be packaged. Let me check with the VC tools team who owns the binary.

[2018-05-24 17:18] AndyAyersMS commented on #18100
My preference would be to stick with execution frequency hints. I believe you can use them to accomplish what you want.

Frequency hints have the benefit that they can apply unambiguously to some point in code and hence become a property of a particular block (or set of blocks). Also they fit in well with our nascent thinking on how to model profile data in the flow graph (hopefully we'll have wri

[2018-05-24 17:26] CarolEidt commented on #18104
@sdmaclea - I've figured out why it's not failing for me - the intrinsics are being treated, even on the arm64 system I'm using - as not supported. While I'm trying to track that down, I have an idea about what the issue might be, though I don't yet understand why it would fail now, and not before.

On xarch, the `compFloatingPointUsed` flag is set here: https://github.com/dotnet/coreclr/blob/mast

[2018-05-24 17:52] RussKeldorph commented on #18114
@dotnet/dotnet-diag Please re-open if this is not a duplicate of #17701.

[2018-05-24 17:52] #18114 closed

[2018-05-24 18:19] RussKeldorph commented on #18083
@jkotas @stephentoub Is there enough here for runtime or FX to investigate, or should we move to aspnet/Home?

[2018-05-24 18:19] dmpriso commented on #18044
@janvorli I feel sorry, while digging into that issue I must have picked up the original commit b2b4ea22fcf71ef61ff84aa9669da2419c7541a5. Your snipped as well as the current version correctly read the limit. My fault!

So while my analysis is wrong, the issue still exists but for the reason you mentioned.

Do you have any idea how to work around that?
What would actually *fix* the issue? Would a f

[2018-05-24 18:22] RussKeldorph commented on #18083
@muratg

[2018-05-24 18:34] GSPP commented on #18019
`WouldCauseDeadlock` would need to run some graph algorithm to detect cycles. That can be very expensive. The time based approach reduces the checking cost to nearly zero.

Maybe there could be an extensive deadlock detector that any synchronization primitive can register with. Then, all the other classes in the framework as well as user types can participate.

[2018-05-24 18:44] sdmaclea commented on #18104
@tannergooding mentioned that to me in February.  I though I added someplace like `impSIMDPopStack()`, but I don't see it on the tip.

[2018-05-24 18:47] Korporal commented on #18019
@GSPP - OK yes in a situation where lots of locks are being acquired/released very frequently then I agree a periodic check could have performance advantages.

As I think about this a thread attempting to get a lock could only enter a deadlock if another thread has already acquired that lock, therefore an initial (fast) check is "Does another thread already own this lock?" if the answer is no then

[2018-05-24 18:52] sdmaclea commented on #18104
@CarolEidt Crypto extensions are not available on all arm64 platforms.  They are optional ARMv8 features.

[2018-05-24 19:14] echesakovMSFT opened #18117 "[JitStress] Crossgen JIT/Regression/JitBlue/GitHub_18056/Bool_And_Op_cs_do Jit Assert"
Hit this during crossgen in [
Ubuntu arm Cross Checked r2r_jitstress1 Build and Test](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_r2r_jitstress1_tst_prtest/6/consoleText) when testing #18053
[code]

[2018-05-24 19:44] mikedn commented on #17929
@tommcdon You probably meant to assign @mikem8361 :grin:

[2018-05-24 20:05] jkotas commented on #18083
@RussKeldorph The minimal repro is not using ASP.NET at all. The repro is using X509 certificates and networking from CoreFX. So the problem is likely either in those; or in the runtime itself.

@andriysavin Would it be possible to attach native code debugger to the process and look for thread that hit the crash? It would help us to narrow the root cause.

@bartonjs Could you please try to reprodu

[2018-05-24 20:09] redknightlois commented on #18100
Make sense! Probably we would need ``Jit.AlignLoop`` too, but that is another story.

[2018-05-24 20:09] #18100 closed

[2018-05-24 20:11] tannergooding opened #18119 "HWIntrinsic failures for the RO tests when AVX disabled"
Several of the `*_ro` HWIntrinsic tests are failing with:
[code]

Ex: https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_jitx86hwintrinsicnoavx_prtest/247/

See https://github.com/dotnet/coreclr/pull/18105 for more jobs

[2018-05-24 20:13] tannergooding commented on #18119
Looking at the `commit` jobs (ex: https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_jitx86hwintrinsicnoavx/131/), this looks to be caused by #16517.

The only other change to the `lsraxarch.cpp` file so far is https://github.com/dotnet/coreclr/pull/18078, but that wasn't committed as of the above failure.

[2018-05-24 20:13] tannergooding commented on #18119
CC. @CarolEidt

[2018-05-24 20:13] tannergooding commented on #18119
Also CC. @fiigii, @eerhardt as an FYI

[2018-05-24 20:19] andriysavin commented on #18083
@jkotas I've just remembered, when you attach remote debugger to azure app service, it doesn't give you ability to choose types of debugger and attaches only managed debugger. Any advice how to choose both managed and native?

[2018-05-24 20:22] CarolEidt commented on #18100
That could make benchmark analysis a little easier :-)

[2018-05-24 21:06] sdmaclea commented on #18104
#18118 did not fix the failure.....

[2018-05-24 21:12] tannergooding commented on #18119
@CarolEidt, I see the problem.

In `BuildDelayFreeUses` (any possibly some of the other new functions) it is always returning `0` for a contained node which isn't an `Indir`. However, certain `HWIntrinsic` nodes can be marked as contained and still need there operands counted (I believe we talked previously about turning these into actual `Indir` nodes, but that hasn't happened yet).

[2018-05-24 21:22] tannergooding commented on #18119
PR resolving the issue is here: https://github.com/dotnet/coreclr/pull/18120

[2018-05-24 21:29] jkotas commented on #18083
@tommcdon Is there a way to attach native debugger to crashed Azure AppService service?

[2018-05-24 21:48] CarolEidt commented on #18104
Right - `compFloatingPointUsed` needs to be set for any intrinsic that will read or write any floating point registers, which #18118 didn't do.

[2018-05-24 22:05] sdmaclea commented on #18104
Are you aware of a specific case?  It should have set it for any intrinsic which read or wrote SIMD.  I don't remember any intrinsic which read or wrote floating point which wasn't simd.

[2018-05-24 22:11] CarolEidt commented on #18104
If you look here: https://github.com/dotnet/coreclr/blob/master/src/jit/lsraarm64.cpp#L1080, this instruction is using a float internal register, but it does not produce a SIMD result.

[2018-05-24 22:13] sdmaclea commented on #18104
I just looked through it.  That does look like the only current exception.  To #18118.  Shall I amend #18118.

[2018-05-24 22:20] sdmaclea commented on #18104
I guess I should because I can test it.

[2018-05-24 22:21] morganbr commented on #18013
Thanks, @rickbrew. It'll be a while until we're ready for Paint.NET, but we'll keep you in mind.

[2018-05-24 22:33] andriysavin commented on #18083
@jkotas Ok, I figured it out. However, I'm not able to reproduce is issue anymore. The only exception I could catch is on the screenshot below. I tried to switch my whole web app back to CoreCLR and publish - and now it works. That's weird, since previously I even tried to recreate the azure app service, and the issue was reproduceable. I'll play with reproducing this a bit more tomorrow.

![image

[2018-05-24 22:51] sdmaclea commented on #18104
Now #18118 fixes the issue.

`compFloatingPointUsed` & `_usesSIMDTypes` seem to overlap.  I wonder if `compFloatingPointUsed` should be set in setUsesSIMDTypes(true) case.

[2018-05-24 23:18] CarolEidt commented on #18104
I think that's probably true, though it's not sufficient because there are intrinsics (such as the one at issue here) that use floating point but don't use SIMD types. So I'm not sure how much that buys.

[2018-05-24 23:41] jhudsoncedaron commented on #919
So there seems to be a myth on the internet that this was fixed in net core already. It is *not*. I got here specifically needing to deal with assemblies loaded at runtime. Oops.

[2018-05-25 00:53] jkotas commented on #919
@jhudsoncedaron Could you please create a new issue with details on what does not work for you?

The API in the title of this issue was added back in .NET Core 2.1. It works same as it always worked in .NET Framework.

[2018-05-25 01:18] #13015 closed

[2018-05-25 03:43] AndyAyersMS commented on #17935
Pointers to specific examples might be helpful, as I can imagine a number of things that might map onto your suggestions.

There is an issue #16266 open to consider generating specialized versions of generics for particular reference types. I haven't looked at it in depth to determine what all would be involved. Most of the work for it would be outside the jit. And as you note any solution must so

[2018-05-25 06:03] PhoebeHui opened #18123 "CoreCLR failed when build in conformance mode (/permissive-)"
I build CoreCLR with Visual studio 15.7.1 in conformance mode (/permissive-) on Windows, it failed with error C4596, The changes involved by
https://github.com/dotnet/coreclr/commit/b39a5b2cfad4620ae23cda84186a36ffb463cd5a#diff-7844842ffbae44d891b5170d2a229d4bR1590

Could you help remove the redundant "LinearScan::" on BuildRMWUses. The compiler complains about this in conformance mode (/permissiv

[2018-05-25 07:29] FarrynDE commented on #18110
https://stackoverflow.com/questions/43518980/windows-10-creators-update-net-4-7-system-accessviolationexception-issue
It seems that the problem leads to the JIT compiler

[2018-05-25 07:45] mikedn commented on #10422
The `IAllocator` issue has been fixed in #14506. The same PR also moved `SimplerHashTable` to the JIT source directory (and renamed it to `JitHashTable`), this should make it easier to tweak it to suit JIT's needs.

Some other `JitHashTable` observations:
* We do not have a `HashSet` and in a few places `JitHashTable<Key, bool>` is used instead. That wastes memory as the `bool` value isn't really

[2018-05-25 08:38] sergign60 commented on #18113
@RussKeldorph We've re-checked it with Release version on the armel tizen device. The results are following
[code]
So this issue can be closed.

[2018-05-25 09:54] sergign60 commented on #18113
@jaredpar Could you point to those places in CoreCLR sources which can be the reason of so slow execution of the first call of a method for a variable with attribute ```dynamic```? Thanks in advance!

[2018-05-25 09:58] tmds commented on #17929
Based on what I said earlier, I think this can be converted to a 'documentation' issue.
Does someone have a suggestion on where to document this?
I'm happy to contribute/review the documentation.

[2018-05-25 11:28] mattwarren commented on #18113
I don't know if this is related to the CoreCLR sources, I'm pretty sure that `dynamic` support code lives in CoreFX. For instance, given this code:

[code]

The IL below is produced, there's lots of overhead compared to a normal method call, although I believe that as much as possible is cached, so you only pay the *really large* cost on the first invocation. You can see [`Microsoft.CSharp.Runtime

[2018-05-25 11:38] kasper3 commented on #18113
perhaps @VSadov and @JonHanna can also share some insights on optimization opportunities around dynamics/expandos?

[2018-05-25 12:31] janvorli commented on #5551
We can add the polling into the finalizer thread's `FinalizerThread::WaitForFinalizerEvent` where we check the low memory notification event for windows. On Linux, the `WaitForMultipleObjectsEx` already has a timeout that's used for heap dump trigger checks. This timeout is currently set to 10 seconds. We could change it to a lower value (e.g. 100ms - this would need to be determined experimentall

[2018-05-25 12:54] janvorli commented on #18044
One feature that is not implemented for Unix yet is the low memory notification (#5551). That would fix the issue in case the memory allocation doesn't happen with an extremely high rate that would prevent the notification to have the desired effect. What I mean is that if you allocate large blocks of memory in a tight loop and deplete the available memory in a fraction of second, the OOM might ha

[2018-05-25 14:03] Mike-EEE commented on #17932
A quick shout of appreciation here to everyone here that helped figure out this issue.  I am very appreciative of your efforts and have assembled a list of thanks and general gratitude towards the state of .NET that [I posted and can be seen here](http://blog.developers.win/2018/05/investigating-weird-result-times-in-benchmark-net/#the-awesome-state-of-the-current-net-ecosystem), FWIW.  Thanks aga

[2018-05-25 14:18] jkotas commented on #18113
The implementation of dynamic keyword lives under https://github.com/dotnet/corefx/tree/master/src/Microsoft.CSharp/src. It is a lot of code that needs to run for the first invocation of the dynamic keyword. It depends on https://github.com/dotnet/corefx/tree/master/src/System.Linq.Expressions that is even more complex code that needs to run.

You can experiment with defines in https://github.com/

[2018-05-25 16:24] andriysavin commented on #18083
Some news: the reason bug stopped to reproduce is somehow connected with networking. The web app uses network integration app service feature to access an on-premises database. Recently that connection was broken because some updates to VPN Gateway was made. So the app was not able to connect the on-prem DB even though network integration was enabled, but was able to start, load KeyVault secrets e

[2018-05-25 16:30] andriysavin commented on #18083
Here is the call stack of the thread where the exception is thrown:
![image](https://user-images.githubusercontent.com/12996633/40555517-13b2391e-6052-11e8-9e06-26730a4a0813.png)

[2018-05-25 16:32] andriysavin commented on #18083
Parallel Stacks:
![image](https://user-images.githubusercontent.com/12996633/40555609-55e2e040-6052-11e8-89fa-d414e57f7acb.png)

[2018-05-25 16:36] andriysavin commented on #18083
Threads:
![image](https://user-images.githubusercontent.com/12996633/40555784-decd6d58-6052-11e8-96bb-a127f7e3aeb5.png)

[2018-05-25 17:15] jkotas commented on #18083
Thanks, this is very useful. The picohelper.dll where this is crashing is a special App Services .dll.

@davidebbo Could you or somebody on your team please take a look?

[2018-05-25 17:33] IlyaBiryukov commented on #17943
There is another Watson with similar call stacks in VS Live Share vsls-agent.exe,
https://watson/Failure?FailureSearchText=4a3aff04-3ef6-bbbe-2ae8-2cffa0b278c3&MaxRows=100

I'm pretty sure there was no attached profiler.

[2018-05-25 18:07] sandreenko opened #18128 "Clean the list of disabled warnings for CoreCLR"
[\src\inc\warningcontrol.h](https://github.com/dotnet/coreclr/blob/master/src/inc/warningcontrol.h) has list of disabled warning for all CoreCLR projects, many of them came from the desktop and do not fire on CoreCLR (like 4053, 4056, 4100 etc), some of them need small fixed (4430), so the task is to:
1. delete all warnings that do not fire;
2. delete warning that needs simple small fixes (and fix

[2018-05-25 18:10] sandreenko commented on #18128
@RussKeldorph @dotnet/jit-contrib I think it can be a good task for the Hackathon, estimates 2-3 hours.

And it will help us to avoid PRs like `fix desktop break` (#18099 and #18092) that are caused by different set of warnings disabled in CoreCLR and desktop.

[2018-05-25 19:19] andriysavin commented on #18083
@jkotas Is that related to windows pico processes?

[2018-05-25 20:00] kouvel commented on #18019
This can probably be done more easily with synchronization primitives for which there is only one owner thread that is tracked by the runtime:
- Monitor is possible, probably a good place to start
- Mutex's owner is not tracked by the runtime on Windows (and can't be tracked accurately), maybe if there's a way to query that
- Semaphore doesn't have thread affinity
- Maybe for ReaderWriterLockSlim

[2018-05-25 20:15] kouvel commented on #18019
For async locking maybe having a separate lock type that assigns lock ownership to a task rather than a thread, such that the task may run on any thread, and then the rest could be done similarly?

[2018-05-25 20:18] jkotas commented on #18083
I do not know - I do not work on AppServices. The name suggests that it may be the case.

[2018-05-25 20:27] CarolEidt opened #18131 "Enhance ABI and ISA support in altjits"
It would be desirable, when an altjit is being used, to have the full ABI information available, plus a default setting for the ISA support (for hardware intrinsics). This might be easier to accomplish with a cleaner, refactored `fgMorphArgs()`.
It would also be desirable to set the size of `Vector<T>` according to the minimum supported size between the main and altjits, and avoid having to separa

[2018-05-25 20:31] jkotas commented on #18019
If it is event, it does not need to be built into the runtime. It can be independent deadlock detection part that is processing the events and it can use all sorts of policies.

[2018-05-25 20:55] kouvel commented on #18019
The algorithm is probably a bit more complicated than above, as a lock's owner thread may change when there isn't actually a deadlock and can lead to falsely identifying it as a deadlock. Probably would have to repeat the detection twice and confirm that the cycle is the same.

If an event is raised for waits (such as T0 is waiting for a lock held by T1, maybe even delayed) the above can happen co

[2018-05-25 20:57] kouvel commented on #18019
If the wait chain keeps changing, the detection may have to give up at some point

[2018-05-25 21:04] vancem commented on #18019
+ @stephentoub

I think it is worth thought to making nasty programming issues easier.   Ideally we try to keep runtime involvement to a minimum by providing primitives that could be used to build more sophisticated things.

I also note that deadlock detection would not be my on my 'high priority' list because frankly the hang is pretty obvious and does contain the state needed to debug the proble

[2018-05-25 21:29] davidebbo commented on #18083
Adding @bilalalam123 & @stekou to comment on `picohelper` part.

So the minimal repro is the one above from @andriysavin? And that's just a console app that we can drop in an Azure Web App and see the issue?

[2018-05-25 21:35] andriysavin commented on #18083
@davidebbo not that simple, the app fails when communicating with Azure KeyVault, so to reproduce you will have to setup KeyVault. Also, as I commented above, it may or may not reproduce depending on presence of Network Integration feature.

[2018-05-25 21:38] davidebbo commented on #18083
Ok, I'll try to find the right people on the team to help take a look.

Would you be able to share the name of an App Service where you are able to repro? And the approximate UTC time where you hit this? This will help us look things up on our side. Thanks!

[2018-05-25 21:54] kouvel commented on #18019
Maybe an alternative could be to provide an API that would do the deadlock detection asynchronously as suggested above and let the app decide when to invoke it. Debugger support should probably be the first step.

[2018-05-25 22:00] jeffschwMSFT commented on #17943
Profiler is attached in that bucket as well... lmi shows the loaded profiler.

[2018-05-25 22:30] andriysavin commented on #18083
I've created a dedicated app service named TestKeyVaultWithNetCore21RC1. Time when it crashed: 10:28 PM UTC. Note: again, it was working correctly until I added Network Integration and restarted the service.

[2018-05-25 22:36] davidebbo commented on #18083
@andriysavin thanks much!

[2018-05-25 22:44] davidebbo commented on #18083
@andriysavin and to clarify, is this a repro that you ran as a Web App (triggered by an http request), or as a Console app that you ran manually via Kudu Console?

[2018-05-25 22:48] andriysavin commented on #18083
Manually.

[2018-05-25 23:08] #18081 closed

[2018-05-25 23:46] sywhang opened #18133 "Improve SOS to display current profiler state"
**Issue description**
Add a command to SOS to display the profiler state in a process (whether it is attached, and what configuration flags it was set up with).

The task should be fairly straightforward, as all the information that SOS needs to display is already stored in the g_profControlBlock struct.

This issue is originally from: https://github.com/dotnet/coreclr/issues/12719 (partially)

**

[2018-05-25 23:52] sywhang commented on #12719
FYI this part of the issue was moved to https://github.com/dotnet/coreclr/issues/18133 for the 6/2 Hackathon.

[2018-05-26 00:07] echesakovMSFT commented on #18117
The issue is reproducible on Ubuntu/arm with the following environment:
[code]

[2018-05-26 02:16] saucecontrol commented on #16854
I've ported the SSE4.1 implementation of the Blake2 hashing algorithms from [here](https://github.com/BLAKE2/BLAKE2/tree/master/sse) using the new intrinsics support.  The results are impressive, particularly on 32-bit.

Here's some benchmark results comparing the SSE version with the scalar version across a bunch of JIT versions.  Benchmark code is [here](https://github.com/saucecontrol/Blake2Fas

[2018-05-26 02:16] redknightlois commented on #17935
@AndyAyersMS That is a case, but I have plenty of those things but at a higher level of abstraction where evicting the interface at the class level would have a deep architectural impact. My latest Generalized Allocators work has to do pretty nasty stuff to be able to do everything struct based, because of the usage pattern a class level #16266 would simplify it a lot.

[2018-05-26 02:48] noahfalk opened #18137 "Create a profiler API that appends to the TPA list"
This is a more distilled design proposal that solves issues raised in #3894. The idea is to add a new profiler API such as:

    ICorProfilerInfo10::AddTrustedAssemblyPath(AppDomainID appDomainId, WCHAR* pAssemblyPath)

which will add a path to list of assemblies that the runtime probes to resolve assembly references. This allows profilers to instrument managed code and include assembly references

[2018-05-26 03:26] noahfalk commented on #18137
I don't see a way to assign people outside the dotnet org, but don't worry about it, consider it yours : )

[2018-05-26 03:39] jkotas commented on #18137
I would make it just `AddAssemblyPath`. The `Trusted` part is left-over from Silverlight that would be nice to retire eventually.

It should be `const WCHAR`.

[2018-05-26 03:41] noahfalk commented on #18137
Agreed, that is better : ) Edited the API inline. Thanks Jan!

[2018-05-26 05:32] tannergooding commented on #16854
Thanks for the numbers @saucecontrol, great work!

Would you happen to also have metrics for the native implementation for comparison? There are still a lot of known minor optimizations/tweaks/work needed for the HWIntrinsics in the JIT, so it would be interesting to determine where we are right now (in comparison).

Would you also mind sharing if you found anything particularly good or particular

[2018-05-26 06:28] saucecontrol commented on #16854
Oh yeah, I compiled the native code into DLLs and included the PInvoke code in my benchmark app.  I meant to include those numbers too.  Everything's really close.

Method | Platform |     Mean |     Error |    StdDev |
----------------- |--------- |---------:|----------:|----------:|
Blake2bSseNative |      X64 | 11.29 ms | 0.0725 ms | 0.0643 ms |
Blake2bFast |      X64 | 11.89 ms | 0.1166 ms | 0

[2018-05-26 13:04] tannergooding commented on #16854
@saucecontrol, Thanks for taking the time to do this!

It's really great to see the numbers are so close (basically within the error/stddev range)

@eerhardt, is this a packing issue with the project?

Great feedback. This is made significantly easier in native land since the integer types are all combined into one type (__m128i).

Feel free to log issues and tag @CarolEidt, @eerhardt, myself and

[2018-05-27 06:27] saucecontrol commented on #16854
Absolutely.  The C# version has some optimizations that aren't done in the native code, so it's not a 100% even comparison, but it's really encouraging that they're so close already, especially if you already have some plans for things that can be improved.

Yeah, for sure.  I think for the masked shuffle-type instructions in particular, it's common to use them with an element size larger than the

[2018-05-27 12:33] voinokin opened #18143 "HW intrinsics API declaration is incorrect for Sse41.Insert() that operates on vector of 32-bit floats"
The `[V]INSERTPS` operation differs from similarly named operations that maps to `[V]PINSRW` (SSE2+) and `[V]PINSRB/D/Q` (SSE4.1+).

Here's how it is declared in API:

[code]

In fact, the operation either loads the value from [m32] and merges it with source XMM reg at specified position, or merges value of selected 32-bit element from XMM reg (2nd operand) with source XMM reg (1st operand).
Addit

[2018-05-27 13:36] andriysavin commented on #18083
Good news. I was able to reduce the application to a very trivial code with no additional dependencies like key vault:

[code]

[2018-05-27 13:38] voinokin opened #18144 "Sub-optimal performance when saving/restoring upper parts of YMM regs on AVX+ before/after invoking nested methods"
Currently, `VEXTRACTF128` is emitted by JIT to save upper parts of YMM regs before invoking nested method(s), which is followed by `VINSERTF128` to restore value back.

There are 4 issues observed:

1. Although there exists encoding `VEXTRACTx128 xmmword ptr [m128], YMMy, 1` that allows saving the upper half of YMM directly to [m128] when for some reason ;-)  JIT decides to spill that to stack loc

[2018-05-27 16:27] voinokin opened #18145 "Some integer scalar and vectored methods/overloads are not exposed in HW intrinsics API"
1. Currently, the intrinsics are exposed for signed int -> signed int and for unsigned int -> signed int upconversion when both src and dest are 128-bit vector. But no such API method is directly exposed for **unsigned int -> unsigned int**, so one has to either use `UnpackLow()` (which is different operation), or wrap existing signed upconversion with `StaticCast<signed, unsigned>()` which may pr

[2018-05-27 18:31] AdamSpeight2008 opened #18146 "IContainable(Of T) Interface."
# `IContainable(Of T)`
This is a simple interface that decouple the concept of containablity from collections / sequences and read / write access.
[code]

[2018-05-27 18:44] svick commented on #18146
Requests for adding new APIs [should be opened in the corefx repo](https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/IssuesFeedbackEngagement.md). And ideally, they should follow the [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md).

[2018-05-27 18:59] AArnott opened #18147 "CoreCLR 1.0 won't load System.Collections.Immutable 1.2.2"
The simplest possible .NET Core 1.0 console application throws a `FileLoadException` with very little detail, when I try to load the netstandard1.0 build of System.Collections.Immutable.dll:

If I update to .NET Core 2.0, it works, but it loads the assembly from a different path than the one I give it. And besides, in the original project, updating to .NET Core 2.0 creates other assembly load prob

[2018-05-27 19:41] borgdylan commented on #9265
Support for 32-bit installation is disappearing but support for 32-bit libraries on x64 installations will still be supported for the forseeable future. Said libraries are needed to run 32-bit code on x64 installations. With those 32-bit .NET Core would still be able to run, probably faster if runnign a small application without a huge hunger for memory.

[2018-05-27 20:05] borgdylan opened #18148 "Question: How do I diagnose an IPE?"
I am running code on .NET Core that is ported over from mono. The same compiler was used in both instances. Mono runs the IL fine but .NET Core is complaining about invalid IL in a particular method. Is there a debug flag that will make .NET Core spit out the exact instruction that it finds invalid? As the author of said compiler, I could fix the bug pointed out by the CLR if I had the instruction

[2018-05-28 01:58] jkotas commented on #18147
.NET Core ships a copy of System.Collections.Immutable inbox. The assemblies that ship inbox are logically loaded into default context at startup and the version loaded into default context cannot be overridden later.

You can try the following to load this version of System.Collections.Immutable into .NET Core 1.0:

- Do not use LoadFromAssemblyPath. Reference the System.Collections.Immutable pac

[2018-05-28 02:05] jkotas commented on #18146
@AdamSpeight2008 Could you please open this issue in corefx repo instead with the right format?

[2018-05-28 02:05] #18146 closed

[2018-05-28 02:16] jkotas commented on #18148
Try using `COMPlus_JitDump` and these instructions  https://github.com/dotnet/coreclr/blob/master/Documentation/building/viewing-jit-dumps.md

[2018-05-28 02:42] AArnott commented on #18147
Thanks. Referencing S.C.I. in my project file is not an option, since this is actually an extensibility point and the extension is "bringing their own dependencies" (which they referenced during compilation).

I'll give that a try. I remember this technique used to work, so perhaps it stopped working when I (inadvertently?) switched to using the default context.

[2018-05-28 02:42] AArnott commented on #18147
It would be great if the exception message explained some of what you just described, @jkotas. :)

[2018-05-28 04:00] AmeetShinde opened #18149 "Multiple restart of runtime host within the same process"
We have requirement to restart the runtime host within the same process. We are using following sequence of calls with ICLRRuntimeHost4 interface as listed in https://docs.microsoft.com/en-us/dotnet/core/tutorials/netcore-hosting

1. Load coreclr library and get m_runtimehost (of type ICLRRuntimeHost4) by calling GetCLRRuntimeHost
2. m_runtimehost->Start()
3. m_runtimehost->CreateAppDomainwithMana

[2018-05-28 06:15] glenn-slayden opened #18150 "Missing API 'IntPtr AsIntPtr<T>(ref T value)' in 'System.Runtime.CompilerServices.Unsafe'"
The **System.Runtime.CompilerServices.Unsafe** API seems to be missing the following:

	[MethodImpl(MethodImplOptions.AggressiveInlining)]
	public static IntPtr AsIntPtr<T>(ref T value) => (IntPtr)Unsafe.AsPointer(ref value);

The IL would be the same as the other `As...` functions:

    L_0000: ldarg.0
    L_0001: conv.u
    L_0002: ret

The objective is to displace the cast (from `void*` to `Int

[2018-05-28 06:16] ArtBlnd commented on #11606
Is there are any way to clone block without changing? thanks :>

[2018-05-28 07:27] dotnet-mc-bot opened #18151 "Test failure: GC_Coverage._delete_next_card_table_delete_next_card_table_/_delete_next_card_table_delete_next_card_table_cmd"
Opened on behalf of @Sunny-pu

The test `GC_Coverage._delete_next_card_table_delete_next_card_table_/_delete_next_card_table_delete_next_card_table_cmd` has failed.

Test Infrastructure Failure: Could not load file or assembly 'System.Memory, Version=4.1.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'. The system cannot find the file specified.

    Expected: True
    Actual:   False

[2018-05-28 09:38] deinok commented on #9265
I'm trying to run .NET Core Apps on an [Intel Galileo](https://en.wikipedia.org/wiki/Intel_Galileo) , exactly on a [IOT2000](https://w3.siemens.com/mcms/pc-based-automation/en/industrial-iot/pages/default.aspx)

So I have to use Mono, but I would like to use netcore directly.

[2018-05-28 09:41] borgdylan commented on #9265
AFAIK, 32-bit packages have not been published and there has been no annoucement on when those will be available. The latest architecture to be officially supported along with x64 is ARM32 (ARMv7+).

[2018-05-28 09:42] TonyValenti opened #18152 "Linq Aggregate Extensions for TimeSpan and <T>"
Hi All,
It would be great if there was an overload of Sum<> which could accept a TimeSpan.  Also, it would be nice if there was was another overload that let you specify an initial value and an aggregator.

var Custom = (from x in items select x).Sum(initial => default(T), (Total, Element)=> Total + Element);

[2018-05-28 09:45] svick commented on #18152
Requests for adding new APIs [should be opened in the corefx repo](https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/IssuesFeedbackEngagement.md). And ideally, they should follow the [API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md).

[2018-05-28 10:51] iarischenko opened #18153 "Assertion failed 'farthestRefPhysRegRecord != nullptr' /dotnet/coreclr/src/jit/lsra.cpp:3637"
I'm using the x86 version of the CoreCLR to run CoreRT and compile tests for ARM.

After the commit:

compilation fails (for all tests) with message

/dotnet/coreclr/src/jit/lsra.cpp:3637
Assertion failed 'farthestRefPhysRegRecord != nullptr' in 'Sys:DoubleToString(double,int,int,int):int' (IL size 14)

The folder /overlay.arm.Debug/ contains necessary parts from CoreRT, CoreCLR and CoreFX to
cros

[2018-05-28 13:35] jkotas commented on #18152
@TonyValenti Could you please open this issue in corefx repo with the right format instead?

[2018-05-28 13:35] #18152 closed

[2018-05-28 13:43] jkotas commented on #18150
The fact that you can use `System.Runtime.CompilerServices.Unsafe` methods without unsafe context in C# is a deficiency, not a feature. We do not want to be making calling unsafe methods without unsafe contexts easier. Ideally, C# compiler would require `unsafe` context for calling all methods on `System.Runtime.CompilerServices.Unsafe`. https://github.com/dotnet/roslyn-analyzers/issues/972 and re

[2018-05-28 13:43] #18150 closed

[2018-05-28 14:31] alpencolt commented on #18153
cc @dotnet/arm32-contrib
cc @CarolEidt

[2018-05-28 15:45] jkotas commented on #18149
Restarting runtime within the same process is not supported. Issues #12266 and #15119 have discussion about this.

[2018-05-28 16:04] svick commented on #1784
@Mike-EEE @AndyAyersMS Since this issue is about stack allocation, shouldn't discussion about delegate inlining continue somewhere else (maybe at https://github.com/dotnet/coreclr/issues/6737)? Though I realize the two problems are connected.

[2018-05-28 16:28] fiigii commented on #18143
Ah, good catch. Yes, SSE4.1 insertps indeed has different semantics from other types. We need to fix this API (perhaps,  https://github.com/dotnet/coreclr/pull/17637 is a good opportunity).

cc @CarolEidt @tannergooding

[2018-05-28 16:45] Mike-EEE commented on #1784
Sure @svick that sounds good.  Not much more to discuss from my side -- as TBH this is _way_ outside of my comfort zone ATM -- but more of just sharing some data points and additional context for added perspective. 👍

Probably a safe bet to say, though, that everyone here is probably already maxed out on all the data they already have, I'm guessing. 😆

[2018-05-28 18:05] zpodlovics commented on #17818
@fiigii Could you please also add PAUSE as intrinsics? The PAUSE instruction target is high performance / low latency intra-thread communication, lot's of energy could be saved with a small latency increase if these communicating tight loops could use a single PAUSE instruction instead of busy spinning. This is critical as we have more and more cores and multiple numa nodes within a server.

Could

[2018-05-28 18:41] mikedn commented on #11606
What do you mean by "without changing"?

[2018-05-28 19:08] bobuva commented on #18137
@noahfalk  I've noticed that after defining the new `ICorProfilerInfo10` interface containing the one method for adding an assembly path, that the build does not find it. I found a `corprof.h` generated in `...\coreclr\bin\obj\Windows_NT.x64.Debug\src\inc\idls_out` that contains it, but the build seems to be referencing either `...\coreclr\bin\Product\Windows_NT.x64.Debug\inc` or `...\coreclr\src\

[2018-05-28 19:29] svick commented on #17818
@zpodlovics

As far as I can tell, calling `Thread.SpinWait(1)` on x64 will invoke `pause` [enough times to wait 1 ns](https://github.com/dotnet/coreclr/blob/3c4aa12/src/vm/yieldprocessornormalized.cpp#L9) (on my machine, that seems to be 4 times). Is that not good enough for you?

[2018-05-28 20:05] zpodlovics commented on #17818
@svick Unfortunately not. ```Thread.SpinWait(1)``` still still doing lot's of unwanted calculation, branches and calls instead of a single (or a few, but still fully controlled) PAUSE instruction within in tight loop. The cpu micro-op cache also plays a critical role here. I have benchmarked / tested every wait method available, in almost every possible way. If you do non-blocking intra-thread com

[2018-05-28 20:14] redknightlois commented on #17818
@svick For very high throughput low latency operations nothing beats calling PAUSE. Not on that level yet, but it is important to have it when dealing with that kind of stuff.

[2018-05-28 20:27] glenn-slayden commented on #18150
Understood and thanks for the informative reply.

So looking at the existing `System.Runtime.CompilerServices.Unsafe` API surface then, it appears that `IntPtr` is still the proper--and only?--sanctioned expression of (unmanaged) pointer *differences* (offsets)?

[2018-05-28 20:31] danmosemsft commented on #18147
I have seen `Could not load file or assembly ` appear for many reasons. If it is not practical to include more information it might still be useful to have it include an fwlink to a page explaining how to diagnose and fix assembly loads.

[2018-05-28 20:33] bobuva commented on #18137
Got a tiny bit forward: made sure `ProfToEEInterfaceImpl` derived from the new interface:
`class ProfToEEInterfaceImpl : public ICorProfilerInfo10`. But am getting `ICorProfilerInfo10` base class undefined error. Can you tell me what process you go about building when adding a new profiler level?

[2018-05-28 20:57] A-And opened #18156 "Run CoreFX tests as default PR-triggered CI jobs"
# CoreFX CI Testing Scenario for CoreCLR #

## Current State of CoreFX testing in CoreCLR
Currently, the CoreCLR repos runs CoreFX tests by checking out the CoreFX repository at a specified commit (or HEAD by default), building the repo on top of the runtime to test, building all tests and subsequently running them.  These jobs run post-check-in in multiple different stress configurations.
While t

[2018-05-28 21:32] kasper3 commented on #9265
and aarch64.

I think we can build end to end i386 product by ourselves using https://github.com/dotnet/source-build. `buildbootstrapcli.sh --rid linux-x86 ...`, see https://github.com/dotnet/source-build/blob/master/Documentation/boostrap-new-os.md#building-the-bootstrap-cli. I haven't gotten a chance to setup x86 VM to build it yet, but should be straight forward @deinok.

[2018-05-28 21:57] jkotas commented on #18150
Right. https://github.com/dotnet/corefx/issues/12593 has the discussion about the `Unsafe.ByteOffset` design.

[2018-05-28 22:45] liserdarts commented on #9265
If you're going to build it yourself you might be interested  in [the repository I made specifically for this situation](https://github.com/liserdarts/dotnetcore-build-x86-Linux).

In there is a bash script that will download the source, build, and create an output folder. It runs on x64 in Linux and builds .NET Core for x86 in Linux,

As far as what's left for x86 support, there is on thing I'm a

[2018-05-28 23:28] ArtBlnd commented on #11606
I mean, CloneBlockState does change variant as invariant. I need copy without changing anything.

[2018-05-28 23:35] fiigii commented on #17818
@zpodlovics PAUSE is quite different from other instructions that has different performance (throughput/latency) on different Intel microarchitectures. For example, the latency of the PAUSE instruction has been extended to 140 cycles that is much longer than previous. So, according to my experience, using bare PAUSE is very difficult to get optimal portable spin. Meanwhile, I believe Microsoft and

[2018-05-29 00:17] davidebbo commented on #18083
@andriysavin I was not able to repro this using the following steps:

- New console app in VS, change language to 7.3 (for async main)
- Paste your exact code (Debugger line commented out) and build it
- Grab the content of `bin\Debug\netcoreapp2.1` and drag and drop it into a test folder in Kudu
- In that folder, run `dotnet TestKeyVaultWithNetCore21RC1.dll`

And it seems to work fine:

[code]

A

[2018-05-29 03:26] AmeetShinde commented on #18149
Are there any plans to support this in near future? This is one of the critical requirement for us.

[2018-05-29 04:10] kasper3 commented on #9265
I think what you have achieved is essentially a subset of https://github.com/dotnet/source-build, which is meant for distribution package managers and other source builders. It builds 20 submodule repositories, including dotnet, aspnet and microsoft orgs. I think it would be best to converge the effort into that repo for more platforms rather than reinventing it.

[2018-05-29 04:16] jkotas commented on #18149
We do not have plans to support full runtime unloading. We have plans to support assembly unloading (#552).

[2018-05-29 04:17] zpodlovics commented on #17818
@fiigii Yes, I know. There are some cases, where latency (and performance) is everything. Trading applications, especially high frequency trading have this requirements. Skylake PAUSE horrible latency is unfortunate, but on that microarchitecture there is no alternative for busy spinning for latency critical applications. Please just do not try to make "smart" decision for the developers, it will

[2018-05-29 04:48] jkotas commented on #18149
The managed memory limits are set based on the environment settings today (amount of physical memory, Windows job object memory limit, or Docker container memory limit). Look for `GCToOSInterface::GetPhysicalMemoryLimit` to see the details. If you think it would be useful to have it exposed via hosting API as well, please open an issue on it.

You can do that via the managed `GC.Collect` API.

[2018-05-29 07:15] AndyAyersMS commented on #1784
In the notes above I outline a bunch of engineering challenges to sort out before we even get in the neighborhood of being able to inline delegates. Many of those are interesting and valuable jit improvements in their own right (like stack allocation which is the subect of this issue). So we may spend quite a while working through the prerequisites.

An important thing to emphasize is that is that

[2018-05-29 07:19] AndyAyersMS commented on #11606
`CloneBlockState` won't change things unless you pass in the optional arguments.

[2018-05-29 07:27] voinokin commented on #17818
How about exposing these ones:

1. BSR/BSF - these exist since 386's days and are better than nothing for some high-perf apps in absence of POPCNT/LZCNT/TZCNT
2. CMOVcc - there were talks about emitting it by JIT automatically, but as a partial solution CMOV[N]E/Z could be directly exposed in API and bound eg. to some boolean parameter - this could be better than emitting conditional jumps in some

[2018-05-29 08:05] AmeetShinde commented on #18149
Thanks. Just to confirm, are you saying ICLRGCManager->SetGCStartupLimits and ICLRGCManager->Collect is not functional currently.

[2018-05-29 08:31] andriysavin commented on #18083
@davidebbo The key point is that in my app service there is **Network Integration** enabled (read my [comment](https://github.com/dotnet/coreclr/issues/18083#issuecomment-392110399) above). Without it the bug doesn't reproduce.

[2018-05-29 11:58] svick commented on #17818
@zpodlovics

In that case, wouldn't a better solution be to improve the performance of `SpinWait()`? That would be better for everyone, not just those who choose to use the intrinsic.

To make it concrete, when I call `Thread.SpinWait(1)` in a .Net Core 2.1 RTM application on Windows 10, this is what I see in disassembly:

[code]

That is indeed a fair amount of extraneous code, but I think it cou

[2018-05-29 12:11] Seekeer opened #18157 "An assembly specified in the application dependencies manifest was not found"
I got the following error when I am trying to start asp.net core server not on my dev system:

	  An assembly specified in the application dependencies manifest (PublishError.deps.json) was not found:
		package: 'HtmlAgilityPack', version: '1.8.4'
		path: 'lib/netstandard2.0/HtmlAgilityPack.dll'

Now server is Win 10 , but I got this error both on Windows and Linux. On Windows I got not only runti

[2018-05-29 12:17] zpodlovics commented on #17818
@svick Please feel free to improve the SpinWait as you want, but I am not interested (and please do not waste your time and energy to try to convince me about this). What I would like to have is a single PAUSE intrinsincs nothing less, nothing more. Please read the manual description part carefully, especially the bold part.

Yes, other platforms/languages have already support this, for example th

[2018-05-29 14:02] jkotas commented on #18149
The code these `ICLRGCManager` APIs happens to be still compiled in, but it is not nested. I would not recommend using it.

`ICLRGCManager::SetGCStartupLimits` just gives hint to the GC about the initial segment size. It does not limit the manage memory that can be used by the process.

This is too broad question. Yes, some programs run into managed memory usage issues. The root cause is different

[2018-05-29 14:37] jkotas commented on #18157
You will get this error if you try to copy over app that was not published properly. Could you please try to copy over and run published copy of the app, ie what's in `bin\release\netcoreapp2.0\publish` directory?

We know that the distinction between `dotnet run` and `dotnet publish` is pretty confusing. We are looking into how to make it better for .NET Core 3.0.

[2018-05-29 16:05] IlyaBiryukov commented on #17943
Here is a call stack from [that Watson bucket](https://devdiv.visualstudio.com/DevDiv/Project%20Cascade/_queries?id=622918&triage=true&fullScreen=false&_a=edit) without profiler
[code]

[2018-05-29 16:36] eerhardt commented on #16854
We aren't packaging any XML doc comments for these APIs.  I don't think anyone has written the official doc comments yet. While the mapping to C++ functions is useful, we need better descriptions in the official doc comments.

[2018-05-29 17:45] kouvel commented on #17818
The perf issue mentioned by the Intel docs where issuing a pause could yield a 4x improvement would be fixed by Thread.SpinWait(1), so that magnitude of an issue shouldn't be there.

In .NET Core 2.1 Thread.SpinWait tries to normalize the delay such that spin-wait loops may work more similarly across different processors and would not have to be separately tuned based on which processor it's runni

[2018-05-29 18:58] rido-min opened #18164 "NgenR2R is not able to compile netstandard libraries"
moving from [Microsoft/dotnet/issues/756](https://github.com/Microsoft/dotnet/issues/756)

Adding a netstandard nuget package to a project results in types not being found by NgenR2R. In some cases, netstandard shims are part of the input, but they aren't able to be loaded by NgenR2R because they are marked as reference assemblies.

[2018-05-29 19:00] rido-min opened #18165 "NgenR2R emits many non-actionable warnings"
moved from [Microsoft/dotnet/issues/757](https://github.com/Microsoft/dotnet/issues/757)

For example (some of the warnings were already removed from coreclr):

- ReadyToRun: JIT helper not supported: CORINFO_HELP_MON_ENTER (dotnet/coreclr#12153)
- Implicit boxing for calls to constrained methods not supported (https://github.com/dotnet/coreclr/pull/12274/files)
- Method not found: 'System.Drawing

[2018-05-29 19:01] rido-min opened #18166 "NgenR2R fails on WinRT apps with references to .winmd files"
moved from [dotnet/issues/758](https://github.com/Microsoft/dotnet/issues/758)

Using NgenR2R with a desktop app referencing UWP APIs as described in https://docs.microsoft.com/en-us/windows/uwp/porting/desktop-to-uwp-enhance leads to errors during AOT compilation.
This may be fixed by setting Copy Local on the .winmd files (as recommended in the above link).
The NgenR2R failure needs to be unders

[2018-05-29 19:01] rido-min opened #18167 "NgenR2R removes embedded icons"
moved from [Microsoft/dotnet/issues/759](https://github.com/Microsoft/dotnet/issues/759)

Embedded icons are stripped from the output. Ideally they would be kept.

[2018-05-29 19:02] rido-min opened #18168 "NgenR2R output doesn't get included during incremental build"
moved from [Microsoft/dotnet/issues/760](https://github.com/Microsoft/dotnet/issues/760)

When creating and AppX package, the dlls included in the package are not R2R'd if the package is produced during an incremental build.
See RssBandit/RssBandit#1747.

[2018-05-29 19:03] rido-min opened #18169 "NgenR2R doesn't play nicely with Fody"
moved from [Microsoft/dotnet/issues/761](https://github.com/Microsoft/dotnet/issues/761)

When using NgenR2R together with Fody, Fody runs after NgenR2R. The inputs to Fody are the dlls with native code, and Fody isn't able to process mixed-mode binaries.

[2018-05-29 19:36] davidebbo commented on #18083
@andriysavin Ok, the issue is now understood. Can you please share your app name, directly or [indirectly](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly), so we can prioritize fixing it? Thanks!

[2018-05-29 19:46] BruceForstall opened #18170 "[arm64/Windows] Add corefx testing to CI"
We have arm32 Windows and Ubuntu, arm64 altjit, and arm64 Ubuntu corefx testing in CI. Add arm64 Windows (hardware) corefx testing.

[2018-05-29 20:14] BruceForstall opened #18172 "Fix CI views to only include top-level flow jobs"
Jobs that are only executed as part of flow jobs should not be included in the per-architecture Jenkins views.

E.g., https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/ should not include "_tst" jobs.

[2018-05-29 20:27] andriysavin commented on #18083
@davidebbo
By this

do you mean you were able to grasp where the issue comes from?

And by

do you mean the full app which is affected by the bug, or the sample service is enough?  The thing is that currently I don't have any real apps working on .Net Core 2.1 **runtime**. Some remain to run on .Net Core 2.0, others run on .Net Framework runtime (one with ASP.NET Core 2.1 on top of it). But you ca

[2018-05-29 20:28] BruceForstall opened #18174 "[arm64/Linux] Enable 'jitnosimd' testing?"
Arm64/Linux is missing the netci.groovy 'jitnosimd' testing job (`COMPlus_FeatureSIMD=0`).

It doesn't make sense (or is duplicative) for arm32. But arm64 does support SIMD, so should support this mode.

[2018-05-29 20:32] davidebbo commented on #18083
@andriysavin yes, the engineer who owns this area understands the problem.

Ok, let's start by looking at the app `TestKeyVaultWithNetCore21RC1`.

[2018-05-29 20:36] BruceForstall opened #18175 "[Arm64] Enable HW intrinsics for Windows"
It appears arm64 HW intrinsics capabilities are enabled for Linux via `PAL_GetJitCpuCapabilityFlags` and not via a cross-platform mechanism used by Windows.

Enable Windows/Linux parity by enabling (and testing) the HW intrinsics for Windows as well.

[2018-05-29 20:37] BruceForstall commented on #18175
@sdmaclea comments?

I haven't checked, but what about arm64 SIMD? Is there Windows/Linux parity?

Can you think of any other feature for which there is not cross-platform parity?

[2018-05-29 20:41] andriysavin commented on #18083
@davidebbo I'm happy to hear that! If it will still be hard to catch that error, I can provide you with a memory dump of the process at time of crash (only if my employer allows me to, of course).

[2018-05-29 20:46] AndyAyersMS opened #18176 "JIT: x86 assertion failed 'header->gsCookieOffset != INVALID_GS_COOKIE_OFFSET'"
Regression caused by #17996.

If the jit sees a zero-sized stackalloc it will push a null unmanaged pointer. Unfortunately the jit may have already decided it needs a GS cookie, and without a proper stackalloc it never sets a slot for the GS cookie, hence the assert.

Recent CSCs fold away computations leading to zero-sized stackallocs and do this optimization directly in IL. But older CSCs will l

[2018-05-29 21:15] CarolEidt opened #18177 "JIT: Remove unused parameters from genCreateAddrMode"
Now that the `LEGACY_BACKEND` has been disabled, this method is always called with:
- `regMask == RBM_NONE`
- `nogen == true`

These parameters should be removed.

In addition, the `scale` parameter is only defined under `SCALED_ADDR_MODES`, however `Lowering` calls it with that parameter unconditionally. Currently, all targets define that to be true, but for now it's probably best to at least mod

[2018-05-29 21:17] CarolEidt commented on #18177
This issue would be a good "getting started" project for someone wanting to gain familiarity with the JIT. It would be good to build coreclr on your chosen target, and to read the JIT overview and tutorial documents: https://github.com/dotnet/coreclr/blob/master/Documentation/botr/ryujit-overview.md and https://github.com/dotnet/coreclr/blob/master/Documentation/botr/ryujit-tutorial.md

[2018-05-29 21:26] BruceForstall opened #18178 "[arm64] Implement/remove NYI_ARM64"
The following are the remaining `NYI_ARM64`. They should either be removed, if not needed, or implemented, or split into a separate issue for each related unimplemented feature.

| File | NYI |
| --- | --- |
| codegenarmarch.cpp | NYI_ARM64("CodeGen::genJmpMethod with multireg HFA arg") |
| ~~codegencommon.cpp~~ | ~~NYI_ARM64("Unsupported JMP indirection")~~ |
| ~~emit.cpp~~ | ~~NYI_ARM64("Need to

[2018-05-29 21:33] sdmaclea commented on #18175
I have opened a bunch of issues where I implemented something for Arm64 Linux but not Windows.

#16544, #13592, #13590, #13053

My guess is that arm64 SIMD is enabled on Windows.  I don't think it is currently gated by PAL_GetJitCpuCapabilityFlags.  (but perhaps it should be... )

I had thought that eventually, we would implement PAL_GetJitCpuCapabilityFlags on Windows too.

[2018-05-29 21:35] sdmaclea commented on #18175
The heap sizing on Windows may also need looking at....

[2018-05-29 21:36] BruceForstall opened #18179 "JIT: Eliminate RegTracker"
Now that `LEGACY_BACKEND` is gone, do we still need RegTracker?

[2018-05-29 21:38] janvorli commented on #18178
I think this one belongs to #2556 (even though the issue is about implementation for Linux, it seems that we should probably not invest into implementing the old style of tail calls via stub for arm64 on Windows, since the design we will use for Linux would work on Windows too).

[2018-05-29 21:40] BruceForstall opened #18181 "[arm64] Implement hot/cold splitting"
From `compInitOptions`:

[code]

[2018-05-29 21:45] echesakovMSFT commented on #18117
Duplicate of #18056

[2018-05-29 21:45] #18117 closed

[2018-05-29 21:53] BruceForstall opened #18182 "[arm32, arm64] Build framework with IBC data and hot/cold splitting"
Apparently the official builds for arm32 and arm64 do not implement IBC data optimization. We should implement this, to gain those benefits.

This issue should probably be in some other repo, but putting it here for tracking for now.

Related: https://github.com/dotnet/coreclr/issues/18181

[2018-05-29 21:53] BruceForstall commented on #18182
cc @brianrob

[2018-05-29 21:53] CarolEidt commented on #18177
Note: there is another `TODO-Cleanup` comment in this method about the type of the `cnsPtr` argument, which should be a pointer to a signed integer. It would be nice to take care of that as well.

[2018-05-29 21:55] brianrob commented on #18182
@valenis, @adiaaida we should look at what it will take to implement this and PGO for arm platforms.  I don't believe we do either of these for arm today.

[2018-05-29 22:01] Seekeer commented on #18157
@jkotas I've copied the result of `dotnet publish -c release -r win10-x64` command. Ive also tried `dotnet publish -c release -r win10-x64 /p:TargetManifestFiles=` with the same result. Publish folder size is about 140 MB and I see HtmlAgilityPack.dll in it.

[2018-05-29 22:40] sbomer commented on #18166
There are two failure modes here causing this:

1. Due to the WinRT reference assemblies: NgenR2R package passes `@(ReferenceCopyLocalPaths)` as platform assemblies paths, with higher priority than the special ref assemblies that ship with the package. It ends up trying to load mscorlib.dll from `C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETCore\v4.5`. This fails because it

[2018-05-29 22:55] jkotas commented on #18169
NgenR2R is .NET Framework specific tool. CoreCLR repo is not for tracing .NET Framework specific issues.

[2018-05-29 22:55] #18169 closed

[2018-05-29 22:55] jkotas commented on #18168
NgenR2R is .NET Framework specific tool. CoreCLR repo is not for tracing .NET Framework specific issues.

[2018-05-29 22:55] #18168 closed

[2018-05-29 22:55] jkotas commented on #18167
NgenR2R is .NET Framework specific tool. CoreCLR repo is not for tracing .NET Framework specific issues.

[2018-05-29 22:55] #18167 closed

[2018-05-29 22:55] jkotas commented on #18166
NgenR2R is .NET Framework specific tool. CoreCLR repo is not for tracing .NET Framework specific issues.

[2018-05-29 22:55] #18166 closed

[2018-05-29 22:55] jkotas commented on #18165
NgenR2R is .NET Framework specific tool. CoreCLR repo is not for tracing .NET Framework specific issues.

[2018-05-29 22:55] #18165 closed

[2018-05-29 22:56] jkotas commented on #18164
NgenR2R is .NET Framework specific tool. CoreCLR repo is not for tracing .NET Framework specific issues.

[2018-05-29 22:56] #18164 closed

[2018-05-29 23:20] BruceForstall commented on #18175
Thanks for the links.

Is there an issue (or set of issues) where this was tweaked for arm64?

[2018-05-29 23:22] CarolEidt opened #18185 "JIT: Eliminate RegTracker"
Now that `LEGACY_BACKEND` has been eliminated, the `RegTracker` is not longer useful. It was used by the legacy backend to avoid reloading local variables or setting a register to a constant if it was already available in a register. Some constant reuse has been implemented in the register allocator, and future work to support reuse of (memory-based) locals or constants would be done elsewhere (e.

[2018-05-29 23:27] BruceForstall commented on #18179
cc @CarolEidt @dotnet/jit-contrib

[2018-05-29 23:33] CarolEidt commented on #18185
Closing this, and transfering comments to #18179

[2018-05-29 23:35] CarolEidt commented on #18179
I believe that the `RegTracker` is not longer useful. It was used by the legacy backend to avoid reloading local variables or setting a register to a constant if it was already available in a register. Some constant reuse has been implemented in the register allocator, and future work to support reuse of (memory-based) locals or constants would be done elsewhere (e.g. see issue #6131).

Currently

[2018-05-29 23:36] CarolEidt commented on #18179
@BruceForstall - I thought this might be an easy-ish issue for the Hackathon. What do you think?

[2018-05-29 23:36] #18185 closed

[2018-05-29 23:39] jkotas commented on #18157
The size of `bin\release\netcoreapp2.0\win10-x64\publish` directory is only about 100MB after running `dotnet publish -c release -r win10-x64`. And the result works fine for me across different machines.

Could you please share output of `dotnet --version` and upload `bin\release\netcoreapp2.0\win10-x64\publish` directory that you are getting, or if it is too big - upload just `PublishError.deps.j

[2018-05-29 23:43] BruceForstall commented on #18179
Sure, seems reasonable. Doing the removal/replacement as you've spec'ed would be straightforward. I'd hope full asm diffs could be run to verify it's a no-diff change.

[2018-05-29 23:45] CarolEidt commented on #18179
@BruceForstall - good suggestion.

[2018-05-29 23:47] CarolEidt commented on #18179
This issue would be a good "getting started" project for someone wanting to gain familiarity with the JIT. In preparation for working on this:
- Clone and build coreclr on your chosen target
- Read the JIT overview and tutorial documents:
  - https://github.com/dotnet/coreclr/blob/master/Documentation/botr/ryujit-overview.md and
  - https://github.com/dotnet/coreclr/blob/master/Documentation/botr/

[2018-05-29 23:53] BruceForstall opened #18187 "[arm32,arm64] Stop setting EMIT_TRACK_STACK_DEPTH to 1"
In target.h:
[code]
(the comment is wrong; it should say "ARM64" not "AMD64").

Is this a "workaround" that can be fixed?

[2018-05-30 00:09] CarolEidt commented on #13997
This is perhaps not entirely "easy", but should be fairly straightforward.
Each `BasicBlock` has a `bbNatLoopNum`, as @JosephTremoulet has indicated. The `optLoopTable` is a field of the `Compiler` object, and holds the information about each loop.

This could be a good "getting started" project for someone wanting to gain familiarity with the early phases of the JIT. Before getting started, it wo

[2018-05-30 00:13] BruceForstall opened #18190 "[arm64] Implement compRsvdRegCheck"
`Compiler::compRsvdRegCheck` always returns `true` for arm64, with this code:
[code]

So, the `REG_OPT_SRVD` register is always reserved.

Either implement this function, and recover a register sometimes, or choose not to and remove the `TODO-ARM64-CQ`.

[2018-05-30 00:17] noahfalk commented on #18137
I just created PR #18188 which hopefully answers the question + fixes the lacking documentation around this. Thanks for raising it and let me know if you still run into trouble.

[2018-05-30 00:32] CarolEidt opened #18192 "Set GTF_RELOP_QMARK in gtNewQmarkNode"
Each caller of `gtNewQmarkNode()` sets `GTF_RELOP_QMARK` on the condition node.
It would be cleaner and more reliable to do that in `gtNewQmarkNode()` rather than at each call site.

[2018-05-30 00:33] CarolEidt commented on #18192
This could be a good "getting started" project for someone wanting to gain familiarity with the early phases of the JIT. Before getting started, it would be good to:

- Clone and build coreclr on your chosen target
- Read the JIT overview and tutorial documents:
  - https://github.com/dotnet/coreclr/blob/master/Documentation/botr/ryujit-overview.md and
  - https://github.com/dotnet/coreclr/blob/ma

[2018-05-30 00:37] bobuva commented on #18137
Thanks @noahfalk. Copying those files over seemed like the right thing to do.

[2018-05-30 06:59] zpodlovics commented on #14472
@AndyAyersMS Is it possible to also recognize + optimize box/unbox sequence? It seems this IL sequence is common in F#.

https://github.com/Microsoft/visualfsharp/issues/5019#issuecomment-392330485

[2018-05-30 07:51] AndyAyersMS commented on #14472
Adjacent `box / unbox.any` is handled via a peephole optimization in the jit importer (look at importer.cpp around line 14890).

If there is IL in between or a `dup` of the box the jit may not optimize.

[2018-05-30 09:29] Seekeer commented on #18157
[Here is](https://drive.google.com/open?id=1thRWpuHj1EUqDXlz9EToJ9n6vw7PG_sg) build folder.

`2.1.4`

[2018-05-30 10:18] JonHanna commented on #18113
Both MS.CSharp and S.L.Expressions has had a fair share of performance-related work done on it over the last couple of years, and I'm certainly keen to take advantage of any more opportunities found, but since there's caching involved as part of the consideration paid to performance in the very beginning I'd expect first execution to cost more than subsequent executions precisely because of that.

[2018-05-30 12:34] jkotas commented on #18157
The build folder you have shared has a mix of .NET Core 1.0 and .NET Core 2.0 binaries, e.g. coreclr.dll is from .NET Core 2.0 and System.Private.CoreLib.dll is from .NET Core 1.0. I am not able to reproduce the situation, even with the exact SDK version you have shared. Have you upgraded this app from .NET Core 1.0 to .NET Core 2.0?Could you please try deleting the `bin` and `obj` directories and

[2018-05-30 12:45] Seekeer commented on #18157
Yep, sorry that was build of main project with the same error.
[Here is](https://drive.google.com/open?id=1GEL8VIq2BVDzgu-AY_kA6tti2McvhiNB) builded sample project.
It was created as core 2.0 app a day ago in VS 2017 15.5.6

[2018-05-30 13:07] jkotas commented on #18157
It works fine for me when I run:
[code]

I see the error when I run:
[code]
This directory does not contain the right published bits. It is the unfortunate run vs. publish confusion that I have mentioned.

Do you see the same results?

[2018-05-30 13:38] mdealer commented on #13112
FYI: Just tried to put a section of non-trivial code in a NoGC section and got similar symptoms under 4.7.1, rendering this feature unusable. The CPU usage went through so many roofs that time travel was certainly possible at some point.

Waiting for 4.7.2.

[2018-05-30 15:20] sdmaclea commented on #18175
This is the last one #13071.  I think it is just a matter of making sure the heap size calculation is appropriate in gcServer=0 and gcServer=1.  Might already be OK for Windows.  On Linux it was hard coded to 64K when I first looked.  Which led to a lot of gen0 GC events.

[2018-05-30 16:12] CarolEidt opened #18196 "JIT: Implement or eliminate GTF_VAR_BIRTH"
This flag is no longer used after the removal of `LEGACY_BACKEND`. The comment above it says that "We should consider using it more generally for VAR_BIRTH, instead of GTF_VAR_DEF && !GTF_VAR_USEASG". This is currently used by `TreeLifeUpdater` (in `UpdateLifeVar()`), and is used in its negation in `fgValueNumberTree()`.
We should either:
- Implement `GTF_VAR_BIRTH` in RyuJIT, ensuring that livene

[2018-05-30 16:15] saluton-mundo opened #18197 "[InvalidCastException] within System.Private.CoreLib causing slow load times"
Hi,

Not sure what is going on with this, however, cranking up the verbosity of output in VS 2017 we noticed slow page load times across the board because of this:

![image](https://user-images.githubusercontent.com/7760994/40733034-a8d8eb18-642c-11e8-8aac-de7f69050990.png)

Project is targeting .NET Core 2.0 and has the following referenced:

![image](https://user-images.githubusercontent.com/776

[2018-05-30 16:17] CarolEidt commented on #18196
@dotnet/jit-contrib - this could be an "easy", "up-for-grabs" and/or "Hackathon" issue if the two questions were answered:
- Should we implement it? (Personally I don't think it would buy anything, as testing for one flag set and one flag unset is a simple test)
- What terminology should we use to express these liveness changes: PureDef, LastUse, etc. vs. Birth, Death?

[2018-05-30 16:24] mikedn commented on #18196
Isn't it `GTF_REG_BIRTH`? I don't see a `GTF_VAR_BIRTH` flag.

I don't understand what's this useful for. If the same information is already provided by other 2 flags then I think there's no doubt that this flag should just be removed. There are already too many flags and some of them exists only due to ancient/legacy design.

[2018-05-30 16:27] CarolEidt commented on #18196
@mikedn - thanks for the correction (fixed the title)

[2018-05-30 16:34] kouvel opened #18198 "Clean up threading tests to make them deterministic and not rely on timing"

[2018-05-30 16:44] 0xd4d commented on #18197
Break on InvalidCastException (see the exception window) and check the call stack. You can also right click anywhere in the call stack window and enable 'show parameter values'

[2018-05-30 16:57] RussKeldorph commented on #18176
@dotnet/jit-contrib

[2018-05-30 17:12] wfurt commented on #18067
hello @mateusrodrigues , did you have chance to look at my email task list or suggestions from @sec

[2018-05-30 17:17] RussKeldorph commented on #18113
Closing since it appears by design.  Feel free to open another issue if a specific performance opportunity is identified.

[2018-05-30 17:17] #18113 closed

[2018-05-30 17:28] VSadov commented on #18113
This is not the first bug that indirectly points that dynamic method compile is abnormally slow on ARM, especially in debug.

Perhaps that is something worth looking at?

[2018-05-30 17:30] mikedn commented on #18196
It's not clear how useful the stuff in `UpdateLifeVar` is. For example:
* `isBorn` results in `genUpdateVarReg` being called. What would happen if we call `genUpdateVarReg` for every def?
* Both `isBorn` and `isDying` are used to call `genUpdateRegLife` that then calls into `RegSet`. AFAIR a lot of `RegSet` code is useless or debug only code.
* Another use of `isDying` is associated with `indirAdd

[2018-05-30 17:57] BruceForstall commented on #8496
As of today, .NET Core 2.1 has been released, with ARM32 officially supported, using the RyuJIT/ARM32 compiler! You can see the announcement [here](https://blogs.msdn.microsoft.com/dotnet/2018/05/30/announcing-net-core-2-1/).

Once again, thank you to everyone who contributed to this effort! It's been a great example of cross-company, around-the-world collaboration.

Based on the opening date of t

[2018-05-30 17:58] karelz commented on #7360
Fixing milestone - 2.1.0 has shipped, moving to 3.0.

[2018-05-30 18:03] #18005 closed

[2018-05-30 18:14] CarolEidt commented on #18196
Actually, a `LCL_FLD` assignment (`GT_ASG(GT_LCL_FLD)` or `GT_STORE_LCL_FLD`) can be used when it is a full definition but with a different type. While I'd like to see that changed to remove that ambiguity, for now the inference you suggest would not be correct.

[2018-05-30 18:19] RussKeldorph commented on #18151
Doesn't seem to be failing anymore.

[2018-05-30 18:19] #18151 closed

[2018-05-30 18:21] mikedn commented on #18196
Yes, and if the 2 types have the same size then it's a full definition and if the `LCL_FLD` type is smaller then it is a partial definition. Or, use `BITCAST` when the 2 types are different and have the same size. This should be a rare case so the increase in IR size shouldn't be relevant.

[2018-05-30 18:22] CarolEidt opened #18201 "Eliminate GenTreeRegVar and GT_REG_VAR"
These are no longer used with the removal of `LEGACY_BACKEND`.

category:design
theme:ir
skill-level:intermediate
cost:small

[2018-05-30 18:29] mikedn commented on #18201
Eh, I was looking at it this morning. It appears to be used here: https://github.com/dotnet/coreclr/blob/86c438de4043359942f3e0f46c55fdaa98dc5b2f/src/jit/codegenlinear.cpp#L739-L742

Though I wouldn't be too surprised to find out that it's a red herring.

[2018-05-30 18:30] CarolEidt commented on #18196
I'm not sure that the `GT_BITCAST` is required prior to `Lowering`. I propose here: https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/struct-abi.md#high-level-proposed-design that we defer the insertion of the `GT_BITCAST` to `Lowering`, but if that causes type issues in the front-end, we can go ahead and insert them in morph.

[2018-05-30 18:32] sdmaclea commented on #18196
Morph felt more appropriate to me.

[2018-05-30 18:33] mikedn commented on #18196
Yes, currently it's only used during lowering but I don't see anything about it that would prevent it from being used earlier. In fact, I once did that experimentally in morph to deal with something like `*((int*)&float_var)` and it worked fine.

[2018-05-30 18:35] CarolEidt commented on #18201
I'm nearly certain that it *is* a red herring. I believe that was inserted as a hack, and is either no longer needed or can be worked around another way.

[2018-05-30 18:35] mikedn commented on #18201
Ah, it's not actually used. That code is executed only if the tree was previously `GT_REG_VAR`.

[2018-05-30 18:47] xoofx opened #18202 "Is Multi-Core JIT, ProfileOptimization possible with CoreCLR?"
Hey,

This is a question regarding the API `ProfileOptimization.SetProfileRoot` and `ProfileOptimization.StartProfile`. It doesn't seem to be available through .NET CoreCLR (and almost no issues apart #17124), there is a bit of multi-core JIT in [multicorejit.h](https://github.com/dotnet/coreclr/blob/master/src/vm/multicorejit.h) with actually the internal calls declared for both SetProfileRoot/St

[2018-05-30 18:53] xoofx commented on #18202
Ah, I can see it in `AssemblyLoadContext`, so it seems to be supported then?

https://github.com/dotnet/coreclr/blob/f31097f14560b193e76a7b2e1e61af9870b5356b/src/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyLoadContext.cs#L383-L392

[2018-05-30 19:18] aleksbol commented on #18083
@andriysavin I've identified the cause of this and have made a fix. It should be getting deployed over the course of the next week or two.

[2018-05-30 19:22] sdmaclea commented on #17967
@dotnet/jit-contrib This is the jitDump for this case
[jitDump.zip](https://github.com/dotnet/coreclr/files/2055338/jitDump.zip)

[2018-05-30 19:48] sdmaclea commented on #17967
The V17 read access is turned into a comma operator in fgMorphTree (for debug assertion?)
[code]
The access is deleted later
[code]

I suspect the assertion `assert(!"We should never encounter a reference to a lclVar that has a zero refCnt.");` is just not valid??  @AndyAyersMS Seemed to have mentioned something like this in a recent comment.  (If I understood correctly).

[2018-05-30 20:12] andriysavin commented on #18083
Thanks @aleksbol and everybody, that's great news! Will be checking for the fix periodically.

[2018-05-30 21:06] brianrob commented on #15126
Fixed via #18007.

[2018-05-30 21:06] #15126 closed

[2018-05-30 21:07] brianrob commented on #15125
Fixed via #18007.

[2018-05-30 21:07] #15125 closed

[2018-05-30 21:49] CarolEidt commented on #7305
@sdmaclea - I believe that arm64 is already setting delayFree where it is required. Can you confirm that (so we can close this), or point to where it should be done and isn't?

[2018-05-30 21:53] eerhardt commented on #14345
Looks like 2.1 was not the time frame for this effort.

Anyone have an update on where we are with this?

[2018-05-30 21:58] sdmaclea commented on #7305
@CarolEidt I also think this can be closed.  I am not aware of any place where this is wrong.  However, there are a few JitStress and JitStressReg failures which might indicate a defect.  See #16359 #17111 #17861

[2018-05-30 22:15] Seekeer commented on #18157
Thanks a lot, that works!
But only for Windows.
Ive tried to make [same build for Linux](https://drive.google.com/open?id=1bDK09F91pOBe7Od70gyMz4zb4tfCKqhP): `dotnet publish -c release -r ubuntu.16.04-x64`. When I am running it on Ubuntu, I get:
	osboxes@osboxes:~/Documents/ubuntu/publish$ ./PublishError
	Failed to initialize CoreCLR, HRESULT: 0x80004005

I've installed core runtime by [this manua

[2018-05-30 22:21] #17598 closed

[2018-05-30 22:32] CarolEidt commented on #7305
@sdmaclea - thanks. I'll close this and we can address those issues separately.

[2018-05-30 22:32] #7305 closed

[2018-05-30 22:36] jkotas commented on #18157
This is most likely https://github.com/dotnet/coreclr/issues/15243 . It is caused by non-accessible `/tmp`. Does writable `/tmp` exists on Ubuntu that you are running on?

The way to diagnose this for sure is run the command under strace, like: `strace ./PublishError` and look for the recent failing syscall.

[2018-05-30 22:40] GrabYourPitchforks opened #18208 "Optimize Encoding.ASCII"
`Encoding.ASCII` has room for optimization, such as vectorizing the `GetBytes` / `GetChars` methods, simplifying `if` checks, and so on.

(This is a nice-to-have. This isn't blocking anything as I know.)

[2018-05-30 23:33] RussKeldorph commented on #18202
@brianrob

[2018-05-30 23:42] RussKeldorph commented on #18145
@CarolEidt @fiigii @tannergooding @4creators @eerhardt Should this be discussed in corefx first?

[2018-05-30 23:47] RussKeldorph commented on #18083
Sounds like there's nothing to track in this repo.  Feel free to re-open if I misunderstood.

[2018-05-30 23:47] #18083 closed

[2018-05-30 23:58] sandreenko commented on #2334
I am not sure that it is doable in Hackathon time frame by somebody who has not worked with CoreCLR before.

To do this issue on Linux machine do:
1. build debug CoreCLR(`build.sh x64 debug);
2. build release CoreCLR(`build.sh x64 release) ;
3. build release version of  'JIT/Regression/JitBlue/devdiv_902271/DevDiv_9202271/DevDiv_902271` (`msbuild /p:Configuration=Release /p:Platform=x64 DevDiv_902

[2018-05-31 00:01] RussKeldorph commented on #18110
There doesn't seem to be evidence that the linked issue is related.  The right channels to report .NET Framework issues are VS Developer Community Portal or Product Support (links are at https://github.com/dotnet/corefx#how-to-engage-contribute-and-provide-feedback).

Before we can investigate, we need more information, such as a set of instructions to reproduce the failure.  If you have instructi

[2018-05-31 00:01] #18110 closed

[2018-05-31 00:03] RussKeldorph commented on #18144
@CarolEidt @fiigii @dotnet/jit-contrib

[2018-05-31 00:04] tannergooding commented on #18145
@RussKeldorph, some of this (such as the inefficient codegen) should be resolved by a PR I am currently working on.

As for the new APIs, it is probably worth discussion during the next HWIntrinsic design review (I sent an e-mail on this a couple days ago).

[2018-05-31 00:53] se opened #18211 "aspnetcore-runtime-alpine3.7 - The type initializer for 'Http' threw an exception - Error loading shared library libSystem.Net.Http.Native: No such file or directory"
Guys "microsoft/dotnet:2.1-aspnetcore-runtime-alpine3.7" is giving this error;

But when I use "microsoft/dotnet:2.1-aspnetcore-runtime" is OK.

I'm not sure is this the place that I should create an issue.

[code]

[2018-05-31 00:59] vfilenga opened #18212 "[Ubuntu 16.04 + NGINX] An assembly specified in the assemblies was not found"
Steps to reproduce:

1 - Have a functioning NET CORE 2.0 app
2 - Add automapper library to it
3 - publish through cli cmd "dotnet publish --configuration Release
4 - grab all the generated files and put into "/var/www/anygym/publish" on a ubunto 16.04 machine

![image](https://user-images.githubusercontent.com/16693247/40755299-446fd682-6454-11e8-8e36-974c1993db9e.png)

Error presented:

 An assem

[2018-05-31 01:13] jkotas commented on #18212
Could you please make sure that you grabbing the assemblies from `bin\Release\netcoreapp2.0\publish` directory in step 4?

This error would happen if you grabbed assemblies from `bin\Release\netcoreapp2.0` directory instead.

We know that the distinction between `dotnet run` that puts bits into `bin\Release\netcoreapp2.0` and `dotnet publish` that puts bits into ``bin\Release\netcoreapp2.0\publish

[2018-05-31 01:33] jkotas commented on #18211
This issue was moved to dotnet/corefx#30003

[2018-05-31 01:33] #18211 closed

[2018-05-31 02:41] brianrob commented on #18202
@noahfalk, can you help with this?

[2018-05-31 02:51] jkotas commented on #18202
The replaying of profiler optimizations triggers assembly loads. The assembly loads need to know context to go into. The APIs to control that were moved to AssemblyLoadContext during early days of .NET Core to accommodate it so that this can be used with non-default load contexts too. (It can be only used for default context in .NET Framework.)

[2018-05-31 02:51] #18202 closed

[2018-05-31 04:26] vfilenga commented on #18212
@jkotas Thank you! That was it! Once I entered "publish" folder (one directory above) it worked. I was running the command `dotnet Any.Gym.API.dll` from one directory below which was `bin\Release\netcoreapp2.0`

[2018-05-31 04:34] #18212 closed

[2018-05-31 06:12] danmosemsft commented on #18156
@ViktorHofer who is porting us to latest Xunit. The idea of verifying active issues are active is interesting in corefx use possibly.

[2018-05-31 08:25] mysticdotnet opened #18215 "odata webapi core: sehexception when using $apply=aggregate"
When i use ef core as orm i have a sehexception

Exception message: sehexception
Steps to reproduce
Steps are described in this issue: [1413](https://github.com/OData/WebApi/issues/1413)

Further technical details
EF Core version: (2.1.0)
Database Provider: (Microsoft.EntityFrameworkCore.SqlServer)
Operating system: Windows 10
IDE: (Visual Studio 2017 15.7.2)

[2018-05-31 09:02] saluton-mundo commented on #18197
System.FormatException: Unrecognized Guid format.
   at System.Guid.GuidResult.SetFailure(ParseFailureKind failure, String failureMessageID, Object failureMessageFormatArgument, String failureArgumentName, Exception innerException)
   at System.Guid.TryParseGuid(String g, GuidStyles flags, GuidResult& result)
   at System.Guid..ctor(String g)
   at System.ComponentModel.GuidConverter.ConvertFrom(I

[2018-05-31 09:02] #18197 closed

[2018-05-31 09:04] saluton-mundo commented on #18197
I've found that it is a data problem with a Guid coming out in the wrong format from the MySQL database. The InvalidCastException came later on and masked the real problem. Thanks for the advice @0xd4d

[2018-05-31 09:51] Seekeer commented on #18157
Well, I've found /tmp folder and execute `sudo chmod 777 /tmp` for it. But I am still getting this errors.
Stacktrace [is here](https://drive.google.com/open?id=1MX9k3B30ZWO6ABNjdEtLMCBmy_ZzpJuA).

[2018-05-31 14:13] jkotas commented on #18149
Issues https://github.com/dotnet/coreclr/issues/11338 and related is about this problem.

[2018-05-31 14:13] #18149 closed

[2018-05-31 14:39] mateusrodrigues commented on #18067
Hello @wfurt @sec sorry for the delayed answer, I've been busy with school finals.

I just uploaded the priority list over at my gsoc18-progress repo, you can check it out [here](https://github.com/mateusrodrigues/gsoc18-progress/tree/master/dotnet). I will work on item 1 today and report any blocking issues.

@SteveL-MSFT Will do! Thanks for reaching out!

[2018-05-31 15:54] EgorBo opened #18218 "Number.FormatFixed throws IndexOutOfRangeException if NumberGroupSizes is empty"
The following code crashes on .NET Core (2.1-300) but works on .NET4.x and Mono
(we have it as a test in mono)
[code]
Stacktrace:
[code]

[2018-05-31 16:05] stephentoub commented on #18218
This looks like a regression from .NET Core 2.0 to 2.1.  I'll take a look...

[2018-05-31 19:01] brianrob commented on #17362
@Jarlotee, were you able to reproduce this on 2.1?

[2018-05-31 19:06] brianrob commented on #5479
Marking this for the hackathon.  Tests for EventSource live in CoreFX - I would recommend adding the test to a new cs file in this directory: https://github.com/dotnet/corefx/tree/master/src/System.Diagnostics.Tracing/tests/BasicEventSourceTest.

The key is to create a new EventSource with more than 64 events and just don't use the EventAttribute.

[2018-05-31 20:58] #17966 closed

[2018-05-31 22:40] smmalis37 opened #18225 "Calling EventSource.Write with data containing an array of string throws on .net Core 2.1, works on .net Core 2.0"
I have code that calls EventSource.Write and passes in a field that is an array of strings. The code looks similar to:
[code]
This code works without issue when run targeting any version of .net Framework I've tested, and when targeting netcoreapp2.0. It does not work with netcoreapp2.1 with runtime version v2.1.300, instead throwing a System.NotSupportedException: 'Arrays of null-terminated strin

[2018-05-31 23:02] sandreenko commented on #2420
Is this test valid for RyuJit? Can be turn it on since legacy has been deleted?

[2018-05-31 23:03] sandreenko opened #18226 "[arm64] crossgen of "JIT\opt\Tailcall\TailcallVerify" fails."
on x64 with:
[code]
this command:
`C:\git\coreclr\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\crossgen.exe  /Platform_Assemblies_Paths   C:\git\coreclr\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\ "C:\git\coreclr\bin\tests\Windows_NT.x64.Checked\JIT\opt\Tailcall\TailcallVerifyWithPrefix\TailcallVerifyWithPrefix.exe"`

fails with:
[code]

It is not a recent regression, the issue existed i

[2018-05-31 23:04] sandreenko commented on #18226
cc @dotnet/jit-contrib

[2018-05-31 23:10] davidmatson commented on #18225
Yeah, having a minor version include breaking changes isn't good semver, so I'm hoping that's not intentional.

@brianrob, would you happen to know what the root cause might be? (Since you were the last one to edit [that line](https://github.com/dotnet/coreclr/blame/85374ceaed177f71472cc4c23c69daf7402e5048/src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/TraceLogging/FieldMetadata.cs#L

[2018-06-01 00:07] BruceForstall commented on #2420
Maybe you can enable it and submit a PR, and see how the testing goes?

[2018-06-01 00:18] BruceForstall opened #18228 "[arm32][JitStressRegs=3] Assertion failed 'farthestRefPhysRegRecord != nullptr'"
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_ubuntu_jitstressregs3_tst/9/consoleFull

[code]

Possibly related: https://github.com/dotnet/coreclr/issues/18153

[2018-06-01 00:19] BruceForstall commented on #18228
@CarolEidt

[2018-06-01 01:45] glenn-slayden opened #18229 "x64 JIT crash 'Compiler::implResolveToken' for typeof(ValueType) containing array of self"
The following program crashes the **x64** JIT.

    using System;

    public struct StructTree
    {
        public Double P;
        public StructTree[] rg;
    };

    class Program
    {
        static void Main() => T = typeof(StructTree);      // <-- EETypeLoadException

        static Type T; // (not important that 'T' be a non-local variable; only done here to
                       // pre

[2018-06-01 02:18] sandreenko commented on #18056
#18184 will disable this test for stress modes.

[2018-06-01 04:16] glenn-slayden commented on #17886
Sure, but my experimentation so far shows that, thanks to the latest x64 JIT work and with precise use of `System.Numerics.Vectors`, it's actually possible to obtain JIT bytes that match (or even slightly improve upon) the unmanaged options currently used--across the entire size range. If my early numbers bear out, the evidence might argue for moving the threshold you mention from "relatively smal

[2018-06-01 06:13] glenn-slayden commented on #18229
Ok, but a few points. 1.) it's annoying. I need to keep that exception mode turned on when I'm debugging my  C++/CLI apps. 2.) throwing exceptions for the purposes of control flow in expected code paths gives horrendous performance. For this particular case, the bubbled-up exception catcher isn't going to get the value he wants anyway. Wouldn't returning `null` up, what, 3-5 stack frames *literall

[2018-06-01 06:16] jkotas commented on #18229
I agree that it would be nice to not use exception handling for control flow here.

[2018-06-01 08:22] AreYouQQ opened #18231 "Can't run a simple Hello Word in Alpine Linux (netcoreapp2.1)"
![virtualbox_2018-06-01_16-07-56](https://user-images.githubusercontent.com/37007704/40829754-038364d6-65b7-11e8-9841-b5b3ac262525.jpg)

SDK Version: 2.1.300
In Windows OS,I build it and It run OK,
First, Alpine Linux use the newest Alpine version .net core runtime
But I put all files in Release Directory to Alpine Linux,When I run it, I get a error

[2018-06-01 08:41] jakobbotsch opened #18232 "NullReferenceException thrown for multi-dimensional arrays in release"
The following program runs successfully in debug, but throws a `NullReferenceException` when run in release under .NET core 2.1. This issue repros on .NET framework as well with 64-bit JIT (it does not repro with 32-bit JIT).
[code]

The bug is not triggered if the array is changed to a single-dimensional array, or if a different operator than `&` is used.

[2018-06-01 09:30] janvorli commented on #18231
Based on the log above, you need to install the libintl package (apk add libintl)

[2018-06-01 09:39] AreYouQQ commented on #18231
![virtualbox_2018-06-01_17-30-33](https://user-images.githubusercontent.com/37007704/40834081-686e7650-65c2-11e8-91fd-5ac60adee482.jpg)

after I run "Apk add libintl ",
It also has error

[2018-06-01 09:42] AreYouQQ commented on #18231
when I "apk add icu" ,it run OK
Thanks

[2018-06-01 09:43] janvorli commented on #18231
You need to install all the prerequisite packages: icu, openssl, krb5, curl, zlib. Optionally lttng-ust too.

[2018-06-01 09:44] janvorli commented on #18231
The openssl, krb5 and curl are needed if you use HTTPS / crypto stuff.

[2018-06-01 09:51] AreYouQQ commented on #18231
Thanks
I think Microsoft dotnet (http://dot.net) website alphine install document need to add your help.

[2018-06-01 09:57] janvorli commented on #18231
@AreYouQQ right, I have not noticed that that site is missing details on Alpine installation. I'll make sure we fix that.

[2018-06-01 11:52] mikedn commented on #18232
Hmm, looks like `gtExtractSideEffList` does not handle `GT_ARR_ELEM` and drops an assignment tree on the floor.

[2018-06-01 13:25] jakobbotsch opened #18235 "Wrong integer promotion in release"
For .NET core 2.1, the following program outputs 1023 in debug, but 255 in release.
[code]

This issue repros on .NET framework 4.6.1 as well with 64-bit JIT (it does not repro with 32-bit JIT). The compiler used is csc.exe 2.8.3.62923 (7aafab56).

[2018-06-01 13:32] jakobbotsch commented on #18235
This only happens if C0 is a class. Other expressions than `(byte)var0.F` will not trigger the bug either, for example
[code]
does not trigger the bug.

[2018-06-01 13:49] mikedn commented on #18235
This seems to be caused by incorrect value numbering of the `(byte)var0.F` indir:
[code]
-1 has VN $80 and the indir also gets VN $80 even though it produces 255, not -1. This then results in the OR being dropped since `x | -1 = -1`.

[2018-06-01 14:19] jakobbotsch commented on #18235
@mikedn The same bug is also present with F = -2 (254 in release, 1022 in debug), though I assume it is still kind of the same optimization?

[2018-06-01 14:39] mikedn commented on #18235
Yes, it's the same problem because `-2 | 1000 = -2`. It's worth explaining that the reason why the OR is dropped is not constant folding, then the result would likely be -2, not 254. What happens is that because OR and IND get the same VN CSE has this funny idea of CSEing the indir tree:
[code]
So what you get is really the value produced by `(byte)var0.F`.

[2018-06-01 15:02] jakobbotsch commented on #18235
I see. Here is a similar case with a similar, which I assume is the same then. It is a bit simpler:
[code]

[2018-06-01 15:24] sergign60 opened #18237 "[x86 linux] applications crashes because misaligned access to xmm vars on the stack"
for example dotnet-launcher craches
[code]
the code
[code]
These crashes are irregular and happen from time to time.

[2018-06-01 15:26] sergign60 commented on #18237
CC: @alpencolt @Dmitri-Botcharnikov @janvorli @jkotas @BruceForstall

[2018-06-01 15:28] sergign60 commented on #18237
@janvorli @jkotas @BruceForstall
Could you give me some hints where can I find the code that is responsible for aligning xmm vars to 16 bytes on x86? Thanks in advance!

[2018-06-01 15:28] jakobbotsch opened #18238 "Cast to ushort is dropped in release"
The following program gives different outputs for release and debug:
[code]
In release, the result is `4294966297`. In debug, the result is `64537`.
@mikedn has analyzed the cause [here](https://github.com/dotnet/coreclr/issues/18235#issuecomment-393915294).

This issue repros on .NET framework as well with 64-bit JIT (it does not repro with 32-bit JIT).

[2018-06-01 15:32] jakobbotsch commented on #18235
I opened #18238.

As a project for a university course we wrote a fuzzer that generates C# programs, https://github.com/jakobbotsch/Fuzzlyn. It generates a program, then compares the results of all static and local variables when running in debug and release mode. I have many more examples, but we have no automatic reducer yet, so I have been reducing them to minimal repros by hand. I am not too f

[2018-06-01 15:33] #18237 closed

[2018-06-01 15:57] mikedn commented on #18235
Well, one thing is for sure - unfortunately it has a problem with casts, small int indirs & co. I lost count of the issues (both bugs and code quality issues) I've seen in this area.

[2018-06-01 16:35] jakobbotsch commented on #18235
What is the state of RyuJit being shared with .NET Framework? I thought it was shared, but strangely none of the 4 issues I have found today (which includes one of yours, #8648) have reproed on the full .NET framework.

A 5th 'bug' I have found is the following, but I don't know if this is even a bug, rather than an oddity of the `idiv` instruction:
[code]
At least the `/ -1` case is probably impl

[2018-06-01 17:26] jakobbotsch commented on #18232
Here is a variant which throws `IndexOutOfRangeException` instead, and has some really strange behavior with regards to the variables/static initializers:
[code]

[2018-06-01 17:28] jkotas commented on #18232
cc @dotnet/jit-contrib

[2018-06-01 17:30] jkotas commented on #18235
cc @dotnet/jit-contrib

[2018-06-01 17:30] jkotas commented on #18238
cc @dotnet/jit-contrib

[2018-06-01 17:45] cdmihai commented on #14720
All SO questions suggest either using windbg or reproing it in VS while debugging. This is a bit hard when the issue is hard to repro and happens in processes spawned by the entry process (or when it's not happening on windows). Just printing out the stacktrace would be so helpful ...

[2018-06-01 17:48] 4creators commented on #18235
@jakobbotsch Very good work - does it test all possible syntax variations or just a subset of C#/IL?

[2018-06-01 17:50] AndyAyersMS commented on #18235
@jakobbotsch thanks for the reports.  Sounds like an interesting tool.

If you have other examples where you suspect bugs, feel free to share them earlier rather than later. We can help with the work of reducing things to simpler cases, or sorting out duplicates.

As for reproing on desktop: it would help if you described exactly what steps you are taking. Desktop has a number of different version

[2018-06-01 17:51] ayende commented on #14720
@cdmihai Presumably at this point it would be hard to print the stack trace (there is no stack with which to work, after all).
But I want to join in and comment that _anything_ would be good here. Having even a small portion of the stack trace should usually be enough to tell us what is recursing and narrow down investigation times considerably.

[2018-06-01 18:05] mikedn commented on #18235
Hmm, this appears to be a bug in the C# compiler. The C# [spec](https://github.com/dotnet/csharplang/blob/master/spec/expressions.md#remainder-operator) says:

The ECMA spec says something similar (though it mentions a different exception!?):

[2018-06-01 18:15] jakobbotsch commented on #18235
I see. I'll ask in the Roslyn repo.

[2018-06-01 18:39] mikedn commented on #18232
I have to look at that more closely but it does seem to be the same bug with different manifestations:
* The out of range exception comes from `arg2[0]`. `arg2.Length` gets CSEd and then the CSE definition gets dropped and the range check uses a garbage length value.
* The null ref exception comes from `[0, 0]`. In this situation `arg2[0]` gets CSEd and then dropped so the multi dim array referenc

[2018-06-01 18:54] A-And commented on #18156
Modified to explain how tests will be run via `dotnet.exe` and to remove unnecessary complexity.

[2018-06-01 19:04] chsienki commented on #14345
It looks like @vancem started making some of this work, as DacTableGen is now built from source first and used, rather than using the package version (for 2017 at least).  I don't see why we couldn't do the same for the other tools, and totally drop the usage of the buildtools package.

I don't think they're used anywhere other than this repo, so I'm not sure its worth migrating them to arcade at

[2018-06-01 19:06] kouvel commented on #13949
This issue is mostly resolved, remaining work items are covered by other issues above

[2018-06-01 19:06] #13949 closed

[2018-06-01 19:16] #17604 closed

[2018-06-01 19:19] kouvel commented on #11683
Fixed by https://github.com/dotnet/coreclr/pull/15296

[2018-06-01 19:19] #11683 closed

[2018-06-01 21:06] CarolEidt commented on #18104
Fixed with #18118

[2018-06-01 21:06] #18104 closed

[2018-06-01 21:37] voinokin opened #18244 "Exception when trying to GCHandle.Alloc(new ValueTuple[1], GCHandleType.Pinned)"
I'm getting exception when I try to pin array of `ValueTuple`s using this statement with .NET Core 2.1 release:

The exception tells:

[2018-06-01 22:50] juliusfriedman commented on #18208
Would be happy to do more just need to clarify what exactly to do.

[2018-06-01 23:06] #16543 closed

[2018-06-01 23:07] RussKeldorph commented on #2534
Was fixed by #3659

[2018-06-01 23:07] #2534 closed

[2018-06-01 23:08] 0xd4d commented on #18244
It's because it has StructLayout = LayoutKind.Auto.

[code]

[2018-06-01 23:12] benaadams commented on #18208
An example fast encode string to byte (till first non-ascii, at which point encoder would need to do fallback) is here https://github.com/benaadams/FrameworkBenchmarks/blob/9d940f533c14130ab5b627b61ab142c90abfbac3/frameworks/CSharp/aspnetcore-mono/PlatformBenchmarks/Utilities/BufferExtensionsText.cs#L245-L330

And a fast decode bytes to string is here (however this returns if invalid rather than m

[2018-06-01 23:19] #17968 closed

[2018-06-01 23:32] kouvel commented on #16807
Not likely to happen until there is some significant interest

[2018-06-01 23:32] #16807 closed

[2018-06-01 23:34] kouvel commented on #15232
This is not the correct solution to the problem, if there is significant interest, it may be attempted as a stopgap

[2018-06-01 23:34] #15232 closed

[2018-06-01 23:35] juliusfriedman commented on #18208
Yes absolutely, the logic you linked to could be integrated and rather than returning one would supply the fallback characters required and continue.

The only thing still left to address is the fact that InteralFallback needs a byte[] which causes an allocation in most of the methods.

I will get to this today if I have more time or I will hopefully get some time tomorrow during the Hackathon!

T

[2018-06-01 23:37] kouvel commented on #15095
Refactoring/cleanup such as this is not likely to happen until there is significant interest in changing something of impact in the same area into which such changes could be incorporated

[2018-06-01 23:37] #15095 closed

[2018-06-01 23:41] kouvel commented on #14571
Not likely to happen - nice to have but not necessary, makes sense to do but no data to substantiate

[2018-06-01 23:41] #14571 closed

[2018-06-01 23:42] kouvel commented on #14067
Not likely to happen, access to this hardware is rather limited and this is no reason to believe there is something to fix

[2018-06-01 23:42] #14067 closed

[2018-06-01 23:43] kouvel commented on #13986
Not likely to happen until a reason is shown to substantiate the work

[2018-06-01 23:43] #13986 closed

[2018-06-01 23:44] kouvel commented on #13985
Not likely to happen until a significant issue is shown to substantiate the work

[2018-06-01 23:44] #13985 closed

[2018-06-01 23:44] kouvel commented on #13981
Not likely to happen until a significant issue is shown to substantiate the work

[2018-06-01 23:44] #13981 closed

[2018-06-01 23:47] kouvel commented on #13254
Nice to have, but it is not clear that it would have any significant impact, not likely to happen until a significant issue is shown to substantiate the work

[2018-06-01 23:49] #10665 closed

[2018-06-01 23:51] kouvel commented on #10616
Nice to have, but it is not clear that it would have significant impact; not likely to happen until multiple significant issues are shown to substantiate the work

[2018-06-01 23:57] #18039 closed

[2018-06-02 04:57] danmosemsft commented on #13985
@kouvel is it not worth leaving some of these open for potential community interest? We have many such issues open that we do not plan to work on.

[2018-06-02 06:07] danmosemsft opened #18249 "Convert Decimal to all-managed implementation"
CoreCLR's is in
https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/src/System/Decimal.cs
https://github.com/dotnet/coreclr/blob/master/src/classlibnative/bcltype/decimal.cpp

The place to start is by grabbing the code verbatim from CoreRT and measuring performance, then optimizing to fix any regression:

https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/

[2018-06-02 06:07] danmosemsft commented on #17904
Extracted decimal into its own issue https://github.com/dotnet/coreclr/issues/18249

[2018-06-02 06:08] danmosemsft commented on #18249
Once this is done the resulting implementation should move to System.Private.CoreLib/shared/System/Decimal.cs and both CoreCLR and CoreRT will use it.

[2018-06-02 06:09] danmosemsft commented on #10585
@reaction1989  still interested?

[2018-06-02 06:11] danmosemsft commented on #18208
@juliusfriedman I made you a contributor once you accept the invite let me know and we can assign you this issue. Note this subscribes you to the repo, you can disable notificaitons if it's too much.

[2018-06-02 06:12] danmosemsft commented on #18208
@juliusfriedman, @ViktorHofer will likely be available to give pointers to how to run perf tests.

[2018-06-02 06:52] karelz commented on #18208
@juliusfriedman here's more about the invite: https://github.com/dotnet/corefx/wiki/Hackathon#how-can-i-grab-an-issue
Assigning to myself temporarily.

[2018-06-02 07:11] kasper3 commented on #17604
@RussKeldorph, @danmosemsft, can this be considered for 2.1 servicing?

[2018-06-02 07:14] kouvel commented on #13985
It would take a considerable amount of time to validate, and with little gain. It's probably not worth taking on unless there is a significant issue. There are other types of work that would benefit more.

[2018-06-02 08:41] ViktorHofer commented on #18208
Consider using ArrayPool to avoid allocation.

[2018-06-02 09:01] jakobbotsch commented on #18235
Here is a case which looks different, although from some experiments I am guessing it is also related to CSE:
[code]

[2018-06-02 10:02] voinokin commented on #18244
Although the workaround is obvious (just create own struct type instead of using the `ValueTuple<>`), I believe the message could state the reason that is easier to understand :-)
Anyway, thanks for explanation!

[2018-06-02 10:30] mikedn commented on #18235
Yep, it's the same incorrect value numbering of indirs. `var2[0]` and `var1[0]` have the same value number (even if one produces 0xffff and the other 0xffffffff) and CSE replaces `var1[0]` with the value produced earlier by `var2[0]`.

And incorrect value numbering aside, CSE is dubious anyway. It doesn't make sense to introduce a new temporary variable to hold the result of `var2[0]` when this is

[2018-06-02 10:51] thesourcerer commented on #10616
I would argue that it doesn't need too much issues to be happening.
Any intensive work on concurrent collections will demonstrate that if the machine has lots of RAM.
I agree that machines with > 128GB RAM are not that common yet, but we are starting to see them becoming more common, which will definitely increase the chances of this.

In our case, since this wasn't going to be fixed soon, we had

[2018-06-02 11:54] ashishnegi opened #18252 "Setting breakpoint in managed function using lldb"
I want to set breakpoint on my function `Foo` in below program.

[code]

I can see managed stack trace. But I am not able to set the breakpoints on function.
I tried command `bpmd`. I don't totally understand what should be next argument to `bpmd` on Linux.
`bpmd <module_name> <Fully_qualified_funciton>`.

If my executable name is X and code is in X.dll on linux, Is `module_name` in above command

[2018-06-02 11:59] pentp commented on #18249
https://github.com/dotnet/corert/pull/4452 and https://github.com/dotnet/corert/pull/4997 have most of the performance work done and the remaining performance regressions affect only x86 (everything else is already faster than the current native implementation). The following table has the remaining methods that need work, in particular, ADD and MUL are significantly slower:

### 32-bit

|  ADD |

[2018-06-02 12:19] pentp commented on #18249
Test coverage should be pretty exhaustive already from https://github.com/dotnet/corefx/pull/24053 and https://github.com/dotnet/corefx/pull/26338.

[2018-06-02 14:37] jkotas commented on #18252
cc @mikem8361

[2018-06-02 16:38] jkotas commented on #18208
I would recommend to look at optimizing the fallback path separately. This issue should be just about optimizing the mainline path, without fallback.

[2018-06-02 16:46] jkotas commented on #18249
Also, compat issue with the CoreRT implementation needs to be addressed before this can land in CoreCLR: https://github.com/dotnet/corert/issues/4994

[2018-06-02 16:54] kouvel commented on #10616
We can continue to track this. Another workaround (to get away from the additional RAM/CPU usage) may be to roll your own managed lock type, maybe something like [this](https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/Threading/Lock.cs).

[2018-06-02 17:11] juliusfriedman commented on #18208
Hello guys, I was able to integrate @benaadams code fairly easily. @ViktorHofer if you let me know where the tests are I will be more than happy to run them I also wanted to make sure I didn't transpose any parameters. @jkotas I think even with fallback I was able to accommodate the accelerated scanning by modifying the logic just to recalculate the counts when an invalid characters was found.

[2018-06-02 17:52] jkotas commented on #18215
Repro steps:

1. Clone https://github.com/OData/WebApi
2. cd WebApi\samples\AspNetCoreODataSample.Web
3. dotnet run
4. Attach windbg
5. Navigate to localhost:5000/efcore/Movies?$apply=groupby((ReleaseDate))

Result: Dirty AV or invalid instruction

[code]

Repros on both .NET Core 2.0 and .NET Core 2.1.

[2018-06-02 18:30] jkotas commented on #18215
Running this on checked runtime is hitting asserts in the JIT:

[code]

I have not connected this assert to the root cause of the crash. All signs so far are pointing to that this is a code bug.

cc @dotnet/jit-contrib

[2018-06-02 18:33] mysticdotnet commented on #18215
@jkotas thank you very much for your help

[2018-06-02 19:01] jkotas commented on #18208
From https://github.com/juliusfriedman/coreclr/commit/1bd30200edb5f0a8eb13e9474ec1a890e4b528aa#diff-bc6135e702d012d7f4e28333836edf8cR769

This is link to GPL licensed code. It you have looked at this implementation while working on this, it would disqualify from contributing this change. We take the licensing issues related to the origin of the code very seriously.

[2018-06-02 19:11] juliusfriedman commented on #18208
Yes I looked at it but only to find something to base comparisons on if needed. Sorry for the inconvenience.

[2018-06-02 19:12] benaadams commented on #18208
It looks like a copy of my code (and licenced to the .NET Foundation)? I haven't looked at any GPL...

Can you clarify @juliusfriedman ?

[2018-06-02 19:25] tannergooding opened #18256 "Share more of the HWIntrinsic base code between ARM and XArch, if possible"
https://github.com/dotnet/coreclr/pull/18255 did a fairly big refactoring of the XArch HWIntrinsic code.

There are likely several functions which could be shared between Arm64 and XArch. This issue tracks the initial investigation and any work required.

category:design
theme:intrinsics
skill-level:expert
cost:medium

[2018-06-02 19:50] #18179 closed

[2018-06-02 20:04] karelz commented on #18177
Thanks for the PR @Suchiman! I sent you collaborator invite, so that we can assign the issue to you - see details in https://github.com/dotnet/corefx/wiki/Hackathon#how-can-i-grab-an-issue
cc @AndyAyersMS

[2018-06-02 20:08] Suchiman commented on #18177
@karelz accepted

[2018-06-02 20:13] pentp commented on #18249
I'll start working on making decimal a readonly struct in corert so that https://github.com/dotnet/corert/issues/4994 can be resolved before decimal is shared with CoreCRL.

[2018-06-02 20:28] benaadams commented on #18208
@jkotas is it just the comment with link invalid; or the contribution a problem - as the source of the code is not related to the comment?

[2018-06-02 20:54] jakobbotsch opened #18259 "Wrong value passed to generic interface method in release"
On .NET core 2.1.0 and .NET framework 4.7.1 the following program prints `0` in debug but `1` in release:
[code]

[2018-06-02 20:56] thesourcerer commented on #10616
Thanks, I will look into it. The thing is that it provides the basic lock, not the concurrent collections,
and there is no way for me to tell the collections to use this lock instead of the built in one.

[2018-06-02 20:58] jakobbotsch commented on #18259
I wasn't able to reduce this to a smaller example, unfortunately. However, the error does not occur in a few situations:
* If `s_0` is made a local
* If `var0` is not an array
* If `S1.F2` is made `C0` and a level of nesting removed in the bottom lines

[2018-06-02 21:22] juliusfriedman commented on #18208
I was just being honest as I did look at the code briefly, I don't believe it's related to your code at all. That being said I think both of the added functions I copied from @benadams should also be passing the pointers by reference so that the positions are correctly changed if there is an invalid character found.

[2018-06-02 21:29] CarolEidt commented on #18256
@tannergooding - thanks for posting the issue!

[2018-06-02 22:03] benaadams commented on #18208
GPL licenced code is problematic as it forces anything using it to also adopt the GPL licence; rather than use their own preferred licence

[2018-06-02 22:11] juliusfriedman commented on #18208
I am aware, sorry for not checking that before including it for reference.

I updated the comments to reference a difference source as well as one from corefxlabs, I also updated the functions to pass by reference. https://github.com/juliusfriedman/coreclr/commit/1fc647dfa66a49d67e4b3534f8dc2f76fc46d1e1

If I am disqualified it's okay because @benaadams did most of the work for this anyway.

Thank

[2018-06-02 22:40] #18177 closed

[2018-06-03 09:33] mikedn commented on #18259
`var0[0].F2.F2.F6 = 0` tree post VN is
[code]
So the VN of the C0 reference where 0 is store is $28e. You'd expect this to be the VN produced by `new C0` above but it's not, it's the VN produce by the load in `var0[0].F2.F2.F6 = var0[0].F2.F2.F6;`. That is, VN missed the store `var0[0].F2.F2 = new C0(1);` and thinks that 0 is stored in the old C0 instance.

[2018-06-03 09:47] mikedn commented on #18259
The way the missing store is done is interesting:
[code]
So the address of `var0[0].F2` is taken and then the new object is stored via `stdfld`.
[code]
I would guess that VN gets confused. The store address ($482) has field sequence [F2] and the store is supposed to be at `F2.F2`. But since the second F2 has offset 0 it disappeared into thin air.

That said, I'm not very familiar with this part of

[2018-06-03 10:03] kouvel commented on #10616
I see, of course I can suggest replicating the whole dependency chain with a custom lock but yea that would be a bit unreasonable. I'll see what can be done. Are you using .NET Framework or Core?

[2018-06-03 10:54] jakobbotsch commented on #18259
If the problem is that the store disappears, isn't it strange that the signature of the interface method affects the bug? Do you know why it is sensitive to that?

[2018-06-03 10:55] thesourcerer commented on #10616
.NET Framework.
We are aiming to move to core, starting from our back end services, but there are still a few things we are missing to complete the mission, so for how this is an ongoing side project to check the progress and flag us when we have all that we need to make the move.

[2018-06-03 11:43] jakobbotsch commented on #18259
I see, that makes sense. So the `CORINFO_HELP_VIRTUAL_FUNC_PTR` call inhibits the optimization that makes the result correct otherwise, even though the store is wrong in both cases?

[2018-06-03 11:47] jakobbotsch commented on #18259
This code produces the bug too:
[code]
I assume because the JIT assumes that `GC.KeepAlive` could change `var0[0]`, so it has to reload it like before?

[2018-06-03 15:18] mikedn commented on #18259
Yes, but
* it probably should not, I don't think this particular helper call changes memory in an observable manner
* as you pretty much found out already, other calls can have the same effect. In general, any call that is not inlined is assumed to change memory in unspecified manner and that blocks CSEing of memory loads across call sites.

[2018-06-03 16:30] kant2002 commented on #17944
I'll take a look at this.

[2018-06-03 22:12] danmosemsft commented on #10616
@thesourcerer what else aside from this is impeding your migration to Core?

[2018-06-03 23:43] abock opened #18269 "Regression in 2.1.300: AssemblyName parsing with unicode/emoji crashes"
I found a regression in 2.1.300 when trying to upgrade [Xamarin Workbooks](https://github.com/Microsoft/workbooks) to `netcoreapp2.1`.

It seems that maybe (at least based on the date of the commit) [that flat layout for `GetAssemblyName`](https://github.com/dotnet/coreclr/commit/77d4c11fcd67414d2195a63287e9c8e0b6f32958#diff-8b5c082f27b55aa1d4b297f3b78309d0) cannot handle sequences of unicode/emoj

[2018-06-04 00:10] jkotas commented on #18269
Likely introduced by https://github.com/dotnet/coreclr/pull/17302

cc @luqunl

[2018-06-04 00:24] jkotas opened #18270 "Unsafe.AsRef is not getting inlined in Span.GetPinnableReference"
Repro:

[code]

Result: `Unsafe.Ref(0)` is not inlined

[2018-06-04 04:02] xuzhg opened #18273 "VS2017 15.7.3 to create .NET Core Web App build error."
I use the latest VS2017 :

![image](https://user-images.githubusercontent.com/9426627/40897615-e7f0434a-6770-11e8-8ff5-2fc529c9303e.png)

to create a .NET Core -> ASP.NET Core Web Application, it gives the below error :

![image](https://user-images.githubusercontent.com/9426627/40897647-0cc44cfc-6771-11e8-9d95-a3ce65c8b3e7.png)

I have the dotnet version as:

![image](https://user-images.githubus

[2018-06-04 06:46] AndyAyersMS commented on #18270
Should be a similar fix as in the other related inlining blockers, so don't expect it to be too hard to fix.

[2018-06-04 07:17] jakobbotsch commented on #18235
I spent the weekend writing an automatic reducer and running it on all our examples. The programs can be seen [here](https://github.com/jakobbotsch/Fuzzlyn/tree/master/examples/reduced). I have looked through most of them and I believe they are all instances of the bugs I have already reported. though it's hard for me to tell for sure. Once these issues are fixed I will rerun and filter away the n

[2018-06-04 07:20] dmpriso commented on #18044
What would be required for a 100% solution, on top of that?

[2018-06-04 09:08] thesourcerer commented on #10616
I am not the one leading this effort, but asked the people who do to compile a list of what we know so far and will share it with you when I have it.

[2018-06-04 09:33] janvorli commented on #18252
The managed assemblies are not modules recognized by Linux. They are not loaded using the platform loader. They are not ELF files, but rather Windows style PE files.

The right syntax is `bpmd lldblivedebug.dll lldblivedebug.Program.Foo`
@mikem8361 I've verified that using just the module name (lldblivedebug) doesn't work, the extension needs to be specified too. Is that intentional?

[2018-06-04 11:27] andriysavin commented on #18083
Today I was able to run the test app as well as full web app on `netcoreapp21` RTM runtime in the AppService. Not sure if that's because of the fix or because of the runtime update (to RTM), but currently all works fine, thanks everybody again!

[2018-06-04 12:33] voinokin opened #18277 "Consider using SIMD registers for "hot" local variables instead of placing them on stack when out of free GP registers"
The idea is intuitive, though I'm not sure it was ever sounded in context of CLR JIT - why not use X/Y/ZMM registers for "hot" local variables to avoid stack memory accesses, just like common GP registers are used to load/store the values? (I'm not talking here about operations other than load/store because it's much deeper topic which may include auto-vectorization and other funny stuff.)

There

[2018-06-04 13:04] dotnet-mc-bot opened #18278 "Build failure: src\vm\codeversion.cpp(2523): warning C4101: 'hr': unreferenced local variable"
Opened on behalf of @RussKeldorph

Warnings: 2
Status Message: failed

Build : Master - 20180604.03 (Product Build)
Failing configurations:
- Windows
  - PortableBuild-Checked-arm
  - PortableBuild-Checked-arm64
  - PortableBuild-Debug-arm
  - PortableBuild-Debug-arm64
  - PortableBuild-Release-arm
  - PortableBuild-Release-arm64
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/ma

[2018-06-04 13:06] RussKeldorph commented on #18278
@dotnet/dotnet-diag

[2018-06-04 14:02] gfraiteur opened #18280 "Interpretation of ByRefLikeAttribute in .NET Core 2.1 is a breaking change and a standard violation"
As a matter of facts, it is possible in .NET Core 2.0 to use a ref struct as an argument of a generic parameter if you're generating MSIL, but this same MSIL code no longer runs in .NET Core 2.1. We used this compilation pattern in PostSharp and did all the testing in .NET Core 2.0, just to see it's breaking in .NET Core 2.1.

I understand why you guys have taken this approach as this is a pragmat

[2018-06-04 14:36] voinokin commented on #18277
@tannergooding, indeed it does (and respect for participating in all this!)
Still, it is system or user code developer who chooses whether to use such intrinsics or not in particular place up to the app's need. So this does not contradict:

What I mean logging this record here is - there are lots of places in system assemblies which DO NOT use any SIMD facilities at least for now, and in really ma

[2018-06-04 14:42] tannergooding commented on #18277
However, this may also:
* Break existing code that expects things to be on the stack
  * The debugger (less of a concern if optimizations are enabled)
  * User code that uses unsafe
  * etc
* Have its own overhead/latency (transferring between XMM and GPR is cheap, but not necessarily free, and could hurt pipelining in some cases)
* etc

If something like this would be done, there would need to be

[2018-06-04 14:50] voinokin commented on #18277
Here is live example.
At the moment I'm developing the tool intended to sort large sets of data (up to 100 Gb).
Some steps of the algorithm showed perf improvement when I manually placed some of the local variables to SIMD registers available thru HW intrinstics which otherwise were automatically allocated on stack by JIT.
Just putting 2 local vars to SIMD regs the tool gained 10-20% improvement i

[2018-06-04 14:56] mikedn commented on #18277
In theory it's a good idea. In practice it may be difficult to prove that this is a consistent improvement.

AFAIR someone suggested this years ago to the VC++ guys but I don't think they implemented it. If that's because they didn't have time or because there are problems associated with this idea I do not know.

Hmm, last time I checked recent CPUs (e.g. Skylake) had 2 load ports so memory loads

[2018-06-04 14:57] voinokin commented on #18277
True - the scope is large.

I'm willing to participate in this, but that's a matter of my spare time unfortunately.
Maybe in some time I will prepare perf test results measured current vs. suggested (will try to copy machine code to asm replacing stack access with SIMD regs access) for some common cases.

[2018-06-04 14:57] mikedn commented on #18277
I wonder if what helps in that scenario is the fact that the variables are kept in registers or the fact that perhaps you're freeing a bit of CPU cache memory.

[2018-06-04 14:58] voinokin commented on #18277
The variables' footprint is just 16 bytes, which is no more than 1 cache line.

[2018-06-04 15:11] #18278 closed

[2018-06-04 15:14] sharwell commented on #18280
💭 Looks to be introduced by #15745, where the current behavior was desired from the start but wasn't reported in some cases.

[2018-06-04 15:19] jeffschwMSFT commented on #17943
What indication shows that a profiler is not attached?  I looked at two dumps in that bucket and they both had the exact same profiler attached.

[2018-06-04 15:20] voinokin commented on #18277
BTW, the issue #18155 I logged a while a go is related exactly to attempt to measure performance. Could you please suggest some way how to do this? Is it required to make my personal modified build of JIT code and play with it, or there is better way to do?

[2018-06-04 15:21] gfraiteur commented on #18280
I want to add that this situation would be a major issue if the breaking change was introduced as a .NET Framework update, as it would break production code.

[2018-06-04 15:27] #18192 closed

[2018-06-04 15:51] jkotas commented on #18280
Thank you for reporting this issue. I am sorry for the pain that this is causing to PostSharp.

We have been historically trying hard to make new C# language features work on existing runtimes. It often results in shards like what is described here because of it is not possible to go back in time and fix the existing runtimes to work great with the new features. Another recent example of such shar

[2018-06-04 16:14] Aniel commented on #18269
@abock So why do you have this particular sequence of emoji in your assembly names?

[2018-06-04 16:40] kant2002 commented on #18123
@jkotas this should be already fixed by https://github.com/dotnet/coreclr/pull/18272

[2018-06-04 16:58] Pilchie opened #18284 "Working folder when debugging a .NET Core app changing bizarrely"
_From @adamralph on June 1, 2018 22:33_

_Continuing from [Twitter](https://twitter.com/davkean/status/1002675512399970304)._

Note that the breakpoint is _before_ the call to `Directory.SetCurrentDirectory()`!

![working-dir](https://user-images.githubusercontent.com/677704/40866148-6f48d7b0-65fc-11e8-9e9b-498bae7e57c2.gif)

_Copied from original issue: dotnet/project-system#3609_

[2018-06-04 16:58] Pilchie commented on #18284
_From @adamralph on June 1, 2018 22:35_

@davkean if you want to try it yourself, the repo is https://github.com/adamralph/liteguard

I'm using VS 15.7.1.

[2018-06-04 16:58] Pilchie commented on #18284
_From @adamralph on June 1, 2018 22:40_

Also, this is when I create a blank console project in a fresh instance of VS:

![image](https://user-images.githubusercontent.com/677704/40866350-8372ed9c-65fd-11e8-90cd-21376e604851.png)

[2018-06-04 16:58] Pilchie commented on #18284
_From @adamralph on June 1, 2018 22:43_

And again, as soon as I add a call to `Directory`, it changes, _before_ the call to `Directory` has happened_.

![image](https://user-images.githubusercontent.com/677704/40866444-f5d3e76a-65fd-11e8-9381-35b4f5a7931a.png)

[2018-06-04 16:58] Pilchie commented on #18284
_From @adamralph on June 1, 2018 22:44_

@davkean I suspect that to produce the screenshot in your tweet, you called `Directory.GetCurrentDirectory()`, hence the reason you saw the project output folder.

[2018-06-04 16:58] Pilchie commented on #18284
_From @steveharter on June 4, 2018 16:29_

I can confirm this is an issue with 2.0.x. I also have a "random" location in a simple app: `C:\\Program Files\\dotnet\\shared\\Microsoft.NETCore.App\\2.0.7\\System.Private.CoreL` when there aren't any references to a System.IO type (or perhaps others; I didn't try) in the code block.

However with 2.1.0 I couldn't repro the issue because the immediate wi

[2018-06-04 16:59] Pilchie commented on #18284
Moved based on @steveharter's suggestion.

[2018-06-04 17:02] jkotas commented on #18280
Going forward, I think we would rather want to make the new features like this work on new runtimes only. It is very simple to explain and reason about.

[2018-06-04 17:10] #18123 closed

[2018-06-04 17:14] luqunl commented on #18269
@abock, @jkotas , do you know how to find this version 2.1.300? I tried to use 2.1 RTM which contains  #17302 and couldn't repro this issue.

**in project file, I added,**
_<RuntimeFrameworkVersion>2.1.0</RuntimeFrameworkVersion>_

**in windbg, coreclr shows:**

_ProductVersion:   4.6.26515.07 @BuiltBy: dlab-DDVSOWINAGE059 @Branch: release/2.1 @SrcCode: https://github.com/dotnet/coreclr/tree/d9d6f

[2018-06-04 17:17] gfraiteur commented on #18280
So you would update the schema version in the cor metadata header? It seems what has been designed for.

[2018-06-04 17:19] danmosemsft commented on #17931
@RussKeldorph I think you can close this now?

[2018-06-04 17:19] sdmaclea opened #18285 "[Arm64/Linux] gcServer intermittent failures"
These have been a few intermittent failures in gcServer modes

Opening this issue to track these intermittent failures.

@Maoni0

[2018-06-04 17:21] sdmaclea commented on #18285
These are the gcServer related intermittent failures from this previous weekend. Each failure occurred once in 30 runs over the weekend.

gcServer=1
[code]

gcServer=1
heapverify=1
[code]

[2018-06-04 17:26] RussKeldorph commented on #17931
Fixed by #17975

[2018-06-04 17:26] #17931 closed

[2018-06-04 17:26] #15494 closed

[2018-06-04 17:29] sdmaclea opened #18286 "[Arm64/Linux] gcStress=1/2/3 intermittent failures"
This issue is for tracking intermittent gcGtress failures which are not threading related..

While the occurrence rate of these failures is low, it is worth tracking them here to help detect patterns.

[2018-06-04 17:32] sdmaclea commented on #18286
This failure occurred in one run this weekend.

gcStress=0x4
[code]

[2018-06-04 17:34] jkotas commented on #18284
This is caused by https://github.com/dotnet/corefx/issues/16229.

In .NET Core 2.0, the intermediate Windows is picking up the internal untested System.IO.Directory type in CoreLib. This has been cleaned up in .NET Core 2.1 and that's why you are not able to reproduce it.

There are still some duplicate types in .NET Core 2.1 for which this continues to be a problem.

[2018-06-04 17:35] RussKeldorph commented on #18277
@dotnet/jit-contrib

[2018-06-04 17:40] jkotas commented on #18269
@luqunl Are you running this on Linux? #17302 was Linux specific fix.

[2018-06-04 17:55] danmosemsft commented on #18208
@juliusfriedman OK I removed your assignment. Apologies for that, just want to be super cautious about license issues. Hopefully someone else can pick this up, and you'd be welcome to grab anything else!

[2018-06-04 18:02] mikem8361 commented on #18252
Yes, the managed assemblies don’t show in the lldb modules command unlike on Windows. And yes you need usually need to add the .dll extension depending on how the assembly was loaded. The “sos DumpDomain” command displays all the loaded assemblies.  The “soshelp bpmd” has some more details on the command.

(lldb) sos DumpDomain
--------------------------------------
System Domain:      00007ffff6d

[2018-06-04 18:05] luqunl commented on #18269
oop.. let me try to run it in Linux

[2018-06-04 18:10] abock commented on #18269
I was on macOS 10.13.

[2018-06-04 18:37] Maoni0 commented on #18285
@janvorli

[2018-06-04 21:08] raffaeler commented on #17850
I tried with the 2.1.300 on Ubuntu18 + lldb-3.9 and the problem is still there.
The easiest workaround is to work with a self contained deployment.
But even in this case, certain commands such as clrstack make lldb crash randomly and you have to restart the debugging from the beginning.

[2018-06-04 21:30] mikem8361 commented on #17850
@raffaeler Can you give me some more details? Are you debugging a core dump? Do you have any details on how commands like clrstack make lldb crash randomly (repro steps, etc.)?

I'm currently working on addressing problems that make SOS/lldb unreliable or problematic by increasing the test coverage, etc. in the new [diagnostics](https://github.com/dotnet/diagnostics) repo.

[2018-06-04 22:07] raffaeler commented on #17850
It is a console app that throws right after pressing a key from the console.
Instead of throwing manually I iterate a string characters longer than its length
Lldb catches the exception and I can use sos commands only because I published a self contained deployment.
Commands like pe works, bit clrstack made lldb crash.
Ubuntu is version 18.04 LTS.

[2018-06-04 22:07] raffaeler commented on #17850
BTW I attach the process instead of running it through corerun.

[2018-06-04 22:42] sandreenko opened #18291 "optVNConstantPropOnJTrue with uncondition throw removes the tree twice"
An example:
[code]

The real condition is:
[code]
so it is `0 != !0` == `true`.

the list of side effects is:
[code]
and `optVNConstantPropOnJTrue` extracts it and place **before** the jump statement, then it calls `fgMorphBlockStmt` on the extracted statement, `fgMorphBlockStmt` see that:
[code]
and removes the jump node and decrements LCL_VAR ref counters in the original tree for the second time

[2018-06-04 23:02] #18270 closed

[2018-06-05 00:28] luqunl commented on #18269
Update: This regression isn't related to my change and it is caused by https://github.com/dotnet/coreclr/commit/eef4ca509b156597cea92d689672dacbac2cb7e1#diff-21977054d4f6caedbcc3080c4b5b5d39

[2018-06-05 00:29] xuzhg commented on #18273
Uninstall 2.1.0-rtm-26515-03 seems work at my side. close it.

[2018-06-05 00:29] #18273 closed

[2018-06-05 00:48] jkotas commented on #18270
Thanks!

[2018-06-05 02:17] echesakovMSFT opened #18295 "[arm32] Assertion failed 'genIsValidIntReg(dstReg)'"
It seems that this has been broken for a while. I recently caught this during PR #18289 testing
But the regression was introduced earlier - sometime between  [Build #18 (May 17, 2018 4:32:43 AM) ](https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_baseline_tst/18/) and [Build #19 (May 24, 2018 4:27:51 AM)](https://ci.dot.net/job/dotnet_c

[2018-06-05 02:42] danmosemsft commented on #18269
@RussKeldorph runtime servicing candidate

[2018-06-05 02:51] ArtBlnd commented on #18277
I don't really think that does really improves for general scenarios.
`hot` memory access means that variable will be used more than general, which will be cached on CPU cache line.

load and storing on SIMD registers will cause stall unless you are going to use SIMD instructions for `hot` memory area.

[2018-06-05 07:02] tannergooding commented on #18145
Some of the inefficient codegen was cleaned up with https://github.com/dotnet/coreclr/pull/18262

More of the remaining inefficient codegen will be cleaned up with https://github.com/dotnet/coreclr/pull/18297

After #18297, there are is a bit more work that involves special handling for various intrinsics, but we are getting closer.

[2018-06-05 09:59] stakx commented on #18280
As someone who is active in projects that often deal with low-level, runtime & reflection bits (e.g. Moq, Castle DynamicProxy), I would welcome such a discussion.

I'm going off a bit on a tangent, but the terms that @gfraiteur is using ("must understand" and "optional") happen to  coincide with the custom modifiers ("cmods") mechanism that the ECMA 335 has long known. I'm worried about one thing

[2018-06-05 11:04] voinokin commented on #18277
@ArtBlnd
I'm aware of reg read stalls, still the cache line access may be slower and occupies load port. IIRC the numbers which are added are: 3 cycles for reg read stall vs 4 cycles when reading from L1D cache. I will confirm these numbers later providing the source, and will also confirm the instruction encoding lengths for both cases.

Meanwhile, according to the tables from both Agner Fog and

[2018-06-05 11:19] voinokin commented on #18277
Here are number for L1D cache access taken from https://www.intel.com/content/dam/www/public/us/en/documents/manuals/64-ia-32-architectures-optimization-manual.pdf  (p. C-20, section "C.3.3.1 Software Observable Latency of Memory References"):

[2018-06-05 11:46] voinokin commented on #18277
Regarding reg read stalls
The same manual tells in section "3.5.2.1 ROB Read Port Stalls":

[2018-06-05 12:22] hypeartist opened #18299 "Methods with operations on pointers to unmanaged type (T*, where T: unmanaged) not getting inlined"
VS 15.7.3, .NET Framework 4.7.2

[code]

Disassembly output for `Run1` benchmark:

[code]

Disassembly output for `Run2` benchmark:

[code]

Results:

[code]

[2018-06-05 12:29] benaadams commented on #18299
Related https://github.com/dotnet/coreclr/issues/18270  ?
@AndyAyersMS fixed by https://github.com/dotnet/coreclr/pull/18274 ?

[2018-06-05 12:47] voinokin commented on #18145
@tannergooding, thanks for the good news!
I wonder whether there will be any way to test these changes independently (by me) before first 2.2.0 preview will become available ?

[2018-06-05 13:53] janvorli commented on #6792
@JohnRusk The RHEL 6 is special and is not supported by the portable runtime (alias targeting linux-x64). Please see my explanation here:
https://github.com/dotnet/cli/issues/9375#issuecomment-393843956

[2018-06-05 14:20] sdmaclea commented on #17188
@brianrob

After #18217, I am seeing this fail consistently like this on linux-arm64 in gcStress=2

[code]

[2018-06-05 14:23] jkotas commented on #18269
Keep open for servicing consider

[2018-06-05 15:05] juliusfriedman commented on #18201
Based on the discussion here and the fact that GT_REG_VAR, GenTreeRegVar and REG_VAR are used in a total of 17  files:
coreclr\src\jit\codegencommon.cpp
coreclr\src\jit\codegenlinear.cpp
coreclr\src\jit\compiler.cpp
coreclr\src\jit\compiler.h
coreclr\src\jit\compiler.hpp
coreclr\src\jit\flowgraph.cpp
coreclr\src\jit\gcinfo.cpp
coreclr\src\jit\gentree.cpp
coreclr\src\jit\gentree.h
coreclr\src\jit\g

[2018-06-05 15:10] mikedn commented on #18201
That RegVar needs to be removed as well.

Not sure which one you're talking about but in general, all `GT_REG_VAR` and `GenTreeRegVar` should go away.

You mean like adding new tests? No, that's not needed. This code is simply not used.

[2018-06-05 15:13] juliusfriedman commented on #18201
Thanks for the update, the code is available @ https://github.com/juliusfriedman/coreclr/commit/e212cb7c2a59cd6f117f838dc26aa081fc73e41e as indicated above.

[2018-06-05 15:23] mikedn commented on #18201
There are a few small issue to fix but otherwise it looks reasonable. Feel free to send a PR.

[2018-06-05 15:34] voinokin opened #18300 "Sse2.Set[All]Vector128([u]long, [u]long) crashes with PNSE when run in 32-bit process"
My guess is - these method have managed implementation behind them involving `ConvertScalarToVector128[U]Int64()` (`MOVQ xmm, r64`) unavailable in 32-bit mode.
Since these are all just helper methods not necessarily mapped to some specific HW intrinsic directly, my understanding is that the implementation should behave considering current process bitness - eg. use set of 32-bit HW intrinsics to se

[2018-06-05 15:38] Mattacks commented on #2688
@kouvel
I’m trying to understand how our .Net Asp.Net Core MVS system should gracefully handle SIGTERM and SIGKILL events when running in Kubernetes.

All the posts I read on SO and GitHub seem to contradict each other.

[This post  ](https://stackoverflow.com/questions/38291567/killing-gracefully-a-net-core-daemon-running-on-linux)says use AssemblyLoadContext.Default.Unloading, then to use AppDom

[2018-06-05 15:40] tannergooding commented on #18300
`ConvertScalarToVector128` is not considered one of the helper methods and directly maps to the `MOVQ` instruction.

However, it is also one of the Int64 intrinsics that can work on 32-bit, since there is a `movq xmm, m64` encoding available there. It would require us to ensure that op2 is always spilled.

@CarolEidt, thoughts?

[2018-06-05 15:41] tannergooding commented on #18300
Also, for reference, the helper methods are currently:
* SSE.ConvertToSingle
* SSE.SetScalarVector128
* SSE.SetZeroVector128
* SSE.StaticCast
* SSE2.ConvertToDouble
* SSE2.SetScalarVector128
* SSE2.SetZeroVector128
* AVX.ExtendToVector256
* AVX.GetLowerHalf
* AVX.SetVector256
* AVX.SetHighLow
* AVX.SetAllVector256
* AVX.SetZeroVector256
* AVX.StaticCast

[2018-06-05 15:43] voinokin commented on #18300
@tannergooding  - please check the header of the issue, it tells exactly about SetAllVector128() and SetVector128() for 64-bit values. For some reason these two are not on your list.

[2018-06-05 15:48] AndyAyersMS commented on #18299
Yes, that fix seems to have done the trick here too.

Before:
[code]
After
[code]

Suggest we close this issue.

I can't say for sure if/when this fix will show up in full framework.

[2018-06-05 15:53] hypeartist commented on #18299
@AndyAyersMS Is there some way to track whether particular coreclr changes hit full framework?

[2018-06-05 15:59] tannergooding commented on #18300
@voinokin, right. The failure is because `ConvertScalarToVector128Int64` isn't aware that it can still emit on 32-bit architecture if it always uses the `movq xmm, m64` encoding. Given that it isn't one of the helper methods, we'll want to decide if we want to:
* Always emit the `movq xmm, m64` encoding on 32-bit
-or-
* Modify `SetVector128` to have a different implementation on 32-bit

(I would i

[2018-06-05 16:01] tannergooding commented on #18300
For `Modify SetVector128 to have a different implementation on 32-bit`, the change would basically be to just call `LoadScalarVector128(long*) instead, as that will have to use the `movq xmm, m64` encoding.

[2018-06-05 16:15] AndyAyersMS commented on #18299
No, there's no way to track.

[2018-06-05 16:18] #18299 closed

[2018-06-05 16:23] voinokin commented on #18300
Taking a note on availability on `MOVQ xmm, m64`, it appears more intrinsics for operations are missing in API, the ones that work on scalar value in memory and I can't confirm (and rest assured :-) ) they are handled by containment support you're implementing.

Here they are at least for SSE, can't tell for AVX since it's incomplete anyway:

- PMOVZX/SX... xmm, [m] - these load from [m] and exten

[2018-06-05 16:33] saucecontrol commented on #18145
@voinokin you can use the SDK daily builds with the daily Intrinsics packages from myget.
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

[2018-06-05 16:33] juliusfriedman commented on #18201
https://github.com/dotnet/coreclr/commit/d60421f97173d502cebf34e70d5bddbb6a216957 Should fix those formatting errors.

[2018-06-05 16:33] tannergooding commented on #18300
For the most part, yes. The containment support basically allows us to take a:
[code]
and convert it into either
[code]
or
[code]

Depending on what the instruction supports. For example, `Insert` falls into the first and `Extract` falls into the latter.

[2018-06-05 16:35] tannergooding commented on #18300
There are still some cases where the API shape doesn't exactly match the semantics of the underlying instruction, however (such as `Sse2.Insert(Vector128, Single)` taking a `Single` instead of another `Vector128`, since the underlying instruction lets you pick a given index from the second operand).

[2018-06-05 16:47] voinokin commented on #18300
I vote for this option.
In C++ intrinsics `_mm_cvtsi128_si64x()` and `_mm_set1_epi64x()` are implemented so that they don't directly map to MOVQ.  See  https://godbolt.org/g/DqpT4E - ICC converts this to MOVDQU from memory.

And they are also marked as "HELPER" methods in ref assembly ( https://github.com/dotnet/coreclr/blob/73369eb914dc7df2118727a36f23e8c5e5d119f5/src/System.Private.CoreLib/src/S

[2018-06-05 16:54] voinokin commented on #18300
In my case the throughoutput is everything, so issueing extra memory access is not an option - I'll have to work this around with my own helper which will use just xmm regs.

[2018-06-05 16:56] voinokin commented on #18145
@saucecontrol Thanks! I'll give in a try in some time.

[2018-06-05 16:59] tannergooding commented on #18300
Like I said above, it was just that my reference list was missing the helper methods implemented in managed code.

It's probably worth profiling whether or not it hurts performance. The general way to do this is (and what the native compilers do) is to generate a 16-byte constant and directly load that from memory. The JIT doesn't currently support creating these 16-byte constants and it is a TODO

[2018-06-05 17:09] 4creators commented on #18300
The reason this API was left unimplemented is exactly one you have indicated. If you want to use 64 bit scalar values to set xmm registers workaround is to use Set(All)Vector128 with 32 bit integers splitted from 64 bit integers, otherwise, you will have to use memory based approach which may or may not be very effective (if you will load from cache it can be done in 1 CPU cycle).

It is possible

[2018-06-05 17:14] mikem8361 commented on #17850
@raffaeler opening a new issue in the diagnostics repo sound good especially sense your problem seems to have nothing to do with this original issue.

[2018-06-05 17:23] CarolEidt commented on #18201
Nice cleanup! I think this looks good - could you submit a PR?

[2018-06-05 19:35] mikem8361 opened #18307 "Alpine Linux coreclr, dac, dbi not honoring PAL symbol versions"
The loader on Alpine links the libmscordbi.so PAL references to libvsbaseservices.so (which contains VS's debug engine PAL) instead of the the PAL in libmscordaccore.so.

On Alpine Linux the export PAL APIs from the DAC need to have a module specific prefix added so the loader links to the right module/PAL.

[2018-06-05 19:55] raffaeler commented on #17850
Done: https://github.com/dotnet/diagnostics/issues/22

[2018-06-05 20:09] kouvel commented on #2688
According to [this](http://man7.org/linux/man-pages/man2/signal.2.html), SIGKILL can't be caught or ignored.

SIGTERM raises the `AssemblyLoadContext.Default.Unloading` and `AppDomain.CurrentDomain.ProcessExit` events. The equivalent on Windows is CTRL_CLOSE_EVENT.

The events above are equivalent. The `Unloading` event was added when `AppDomain` was initially not going to be exposed in the .NET C

[2018-06-05 20:12] stephentoub commented on #2688
But will also raise the Console.CancelKeyPress event, which can override that termination.

[2018-06-05 20:12] kouvel commented on #2688
I was just editing to add that above :)

[2018-06-05 22:35] jeremymeng opened #18314 "[perfcollect] better way to download crossgen to resolve symbols"
Currently users have to manually download and patch their Linux system before running perfcollect script.  It involves multiple steps as described at https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/linux-performance-tracing.md#resolving-framework-symbols.

It would be great if a matching crossgen can be downloaded automatically before attempting to run crossgen.

[2018-06-05 23:24] sandreenko opened #18315 "Assertion failed 'killMask == getKillSetForNode(tree)' lsrabuild.cpp"
Was caused by #16517.

[2018-06-05 23:56] danmosemsft commented on #17909
Even if ConcurrentStack stays in CoreLib, why not remove it from CoreFX? We used to prefer to duplicate collections because the CoreFX one was easier to work on. But it can now easily be worked on in the mirrored Corelib within CoreFX.

Same for ConcurrentQueue - CoreFX could consume from Corelib?

[2018-06-06 00:07] vancem opened #18319 "Classic EventSources don't work in Release builds using .NET Native (UWP)"
Michael Taron  reported this on 6/5/2018 via E-mail to @vancem and @brianrob

To repro, using VS create the 'Blank UWP app' and add the following EventSource
[code]
Then add NoteEventSource.Log.AppConstructed() or the other methods to the OnLaunched method.
Use

PerfView /Providers=*Microsoft-StickyNotes collect

to collect a trace.  You will find that the manifest information is not generated IF

[2018-06-06 00:11] jkotas commented on #17909
We do that already.

The ConcurrentStack + PinnableBufferCache + Overlapped combo has a ton of cruft in it. I would rather just get of the cruft than try to optimize for it. Related to #18293 ,  cc @Anipik . I will try to look at it tonight.

[2018-06-06 00:18] jeremymeng commented on #18314
This issue was moved to dotnet/corefx-tools#80

[2018-06-06 00:18] #18314 closed

[2018-06-06 00:20] BruceForstall commented on #17188
@brianrob @sdmaclea Can we mark this test `<GCStressIncompatible>true</GCStressIncompatible>` for now?

[2018-06-06 00:30] CarolEidt commented on #14557
Closed, as #18267 addressed the issues in a different way.

[2018-06-06 00:30] #14557 closed

[2018-06-06 00:59] BruceForstall opened #18321 "setup-stress-dependencies.cmd failing"
This is causing x86 GCStress testing to fail.

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_gcstress0xc/

e.g.,

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_gcstress0xc/83/consoleText
[code]

[2018-06-06 01:00] BruceForstall commented on #18321
@RussKeldorph @swaroop-sridhar @jashook Anyone know what to do about this (and how to debug it)?

[2018-06-06 08:08] Mattacks commented on #2688
@kouvel @stephentoub Perfect answer for me, thanks.

[2018-06-06 11:13] ArtBlnd commented on #18277
@voinokin
Okay, than this makes sense.

Anyways, can I have some cases?
It will be great if you attach assemblies or source code(whatever its C or C++, C#) to help this out.

[2018-06-06 13:26] chrarnoldus opened #18323 "Unreproducible InvalidProgramExceptions at random places"
Our .NET Core Web Apps running on Azure App Service occasionally start throwing InvalidProgramExceptions at seemly random places in code. For example, see the following stack traces:

On .NET Core 2.0:

* https://gist.github.com/chrarnoldus/bc4362ff1b4df11b34d2407f0131a607
* https://gist.github.com/chrarnoldus/f7ceab63117c33a3be8c6128815b7cdb (see inner exception)
* https://gist.github.com/chrarno

[2018-06-06 14:00] janvorli commented on #18323
Looking at the 2.1 stack trace, this happens when a collection is being iterated and something modifies it in the middle of the iteration. That is something that's not allowed. Based on the unpredictable nature of the issue, the "something" is most likely another thread. It can be a problem in asp.net core or in your application, it is hard to say (I am no expert on asp.net).

[2018-06-06 15:06] mikedn opened #18324 "JIT has run out of instruction bits in instrDesc"
We have 9 bits for the instruction field and `INS_count` is now 515. It's not clear how come we didn't hit any asserts yet, it might be because the last instructions are long jumps and `INS_align`. Long jumps do not appear to be used and `INS_align` is probably only used with the "align loops" option.

[2018-06-06 15:07] mikedn commented on #18324
cc @dotnet/jit-contrib

[2018-06-06 15:10] CarolEidt commented on #18324
@mikedn - thanks for this! I was just talking yesterday about how we'd run out of bits before, and I was kind of surprised we weren't running up against the limit again. Clearly we're missing at least one assert check!

[2018-06-06 15:15] mikedn commented on #18324
There is an assert in `idIns`:
[code]
That's why I'm guessing that the instructions at the end of the enum aren't currently used.

Anyway, a static_assert would be much better.

But now the problem is where to steal a bit from. Simply increasing the width of bit field from 9 to 10 increases the size of the struct by 8 bytes. If it was that easy I would have simply sent a PR doing that :grin:

[2018-06-06 15:44] CarolEidt commented on #18324
I have no doubt!

[2018-06-06 16:03] jeffschwMSFT commented on #18147
We have gotten similar feedback around the diagnoseability of exception messages in this space.  We are taking a deeper look.

[2018-06-06 16:29] mikedn commented on #18324
The current x64 `instrDesc` layout is:
[code]

[2018-06-06 17:21] BruceForstall commented on #18324
Normally, when we increase the number of bits somewhere, the number of small constant bits decreases by one (and thus we end up with more small constant overflows into larger instrDescs).

In this case, perhaps we should look to remove (or comment out) unused instructions first?

Maybe we get lucky because we never explicitly use the long jump instructions, but they are used via calculation in `em

[2018-06-06 17:22] BruceForstall commented on #18324
I heartily agree that a static assert is required!

[2018-06-06 17:47] brianrob commented on #17188
I think that marking this as incompatible for now is fine, we should just keep this bug around so that it can be investigated further.

[2018-06-06 18:05] mikedn commented on #18324
Yeah, I have a few ideas:
* replace all JCC/SETCC/CMOVCC instructions with one per group. The condition would be stored separately. Where - that is the big question.
* get rid of the IMUL_ref hack. Seems doable on the emitter side, the trouble is that it might require duplicating some hairy logic form `emitInsBinary`.

[2018-06-06 18:27] tannergooding commented on #18324
@BruceForstall, I'm not sure that would help much. We still have a number of HWIntrinsics to implement (which depend on undeclared instructions) and that will push us right back over.

[2018-06-06 18:27] voinokin opened #18327 "Excessive/strange null reference checks after method inlining"
Consider the following repro example (this is actually from the live system, just narrowed down significantly):

[code]

When the method `Build()` is inlined with .NET Core 2.1 (preview/RC/RTM) JIT, the following machine code is observed:

[code]

Although the code works (disregarding penalty for unneeded operations), there are certain unclarities about this:

1. It is unclear why checking for nul

[2018-06-06 18:30] mikedn commented on #18324
Do you happen to have any estimate of the number of instructions yet to be added? Cleaning up JCC/SETCC/CMOVCC/IMUL would save around 70 instructions.

[2018-06-06 18:35] mikedn commented on #18324
Yes, but it looks like they only exist to provide the encoding for long jumps. So it they don't need to be referenced explicitly from codegen then it seems that the proper way to deal with them is to simply use INST2 for short JCCs.

[2018-06-06 18:36] tannergooding commented on #18324
@mikedn, `70` might be enough for now.

For the currently approved intrinsics, we still have to implement all of `AES`, `BMI1`, `BMI2`, and `PCLMULQDQ`. We also have to finish implementing `AVX`, `AVX2`, and `SSE42` (AVX and AVX2 have several of the instructions, but not all, exposed already).

I'll try to get a more complete count after lunch.

NOTE: We will have to grow if we decide to implement

[2018-06-06 18:47] voinokin commented on #18277
@ArtBlnd
I'll come back later with some examples from real life to be close to "general cases", hopefully with perf measured.

[2018-06-06 18:55] AndyAyersMS commented on #18324
If `instrDescs` were in an array and non-copyable then the ID would be a function of the address, so wouldn't need to be stored explicitly.

[2018-06-06 18:56] BruceForstall commented on #18324
so that would "abuse" one of the encoding formats, repurposed for "long" jumps?

[2018-06-06 19:06] mikedn commented on #18324
I don't understand, what ID are you referring to?

[2018-06-06 19:11] mikedn commented on #18324
I suppose it's reasonable to assume that they'll be approved sooner or later. So yes, it looks like 70 more instructions won't be enough, a rough count of the instructions in the latest Intel manual gives something like 650 instructions. And that doesn't account for the fact that they have a single section for instruction groups such as JCC. Not all are needed but anyway, in the best case we'll be

[2018-06-06 19:29] mikedn commented on #18324
It seems to me that this is the best course of action right now. Cleaning up instructions is tempting but it may take a while, every time I look at the emitter I find more complications that it's not clear how should be addressed. And 15 bits for constants should still be reasonable.

[2018-06-06 19:36] AndyAyersMS commented on #18324
Probably just ignorance on my part. If `instrDesc`s are immutable then I'd store them all in an array (or permute as a struct of arrays) and use the instruction enum as array index to refer to them and not let them be copied. Then the first field would be the same as the index and so wouldn't need to be stored explicitly and we could have as many as we pleased.

But it looks like instr descs are c

[2018-06-06 19:48] mikedn opened #18330 "Metrics "framework" for JIT"
While hacking the JIT quite often I end up with a simple question - "how many time does X happen?":
* How many JCC instructions are generated?
* How many side effects trees are extracted?
* How many range checks are encountered/removed?

So I end up adding variables, `printf`s and what not. And it's always a quick improvisation, done to be used once and then thrown away.

I think it would be usefu

[2018-06-06 19:51] SusLes opened #18331 "Hope ThreadPoolTimer.CreatePeriodicTimer can start a job immediately"
Moving from Microsoft\dotnet.
<br>
Posted by @kevin-jing.
<br>
Now it works like wait > work > wait …
<br>
How to work like work > wait > work …? <br>
https://docs.microsoft.com/en-us/windows/uwp/threading-async/create-a-periodic-work-item
I'm actually using a workaround:<br>
ThreadPoolTimer.CreateTimer(MonitorAsync, TimeSpan.FromSeconds(0));
PeriodicTimer = ThreadPoolTimer.CreatePeriodicTimer(Mon

[2018-06-06 20:02] mikedn commented on #18324
Sorry, I still don't understand. But instrDescs have variable size so array indexing won't work in this case.

Speaking of variable size. That's a good example of emitter weirdness - sometimes we don't even allocate memory for a full `instrDesc`, we only allocate memory for half of it. And code has to check `idSmallDsc` before touching `_idAddrUnion` (the last 8 bytes).

[2018-06-06 20:06] AndyAyersMS commented on #18330
I think this is worth pursuing, yes. I have done similar throwaway things to track various internal event frequencies.

And with PMI/SPMI we could start cross indexing method instances with these metrics, so one could for example find the set of methods with some jit-relevant property by query.

[2018-06-06 20:11] BruceForstall commented on #18324
Agreed.

[2018-06-06 20:15] BruceForstall commented on #18330
I like the idea. We should make sure it's easy to enable for Release, but not in Release by default.

[2018-06-06 20:18] BruceForstall commented on #18330
Maybe the first measure of success would be how many of the existing off-by-default "metrics" could be converted to a standard format? E.g., all the defines in jit.h starting with `CALL_ARG_STATS`.

[2018-06-06 20:36] juliusfriedman commented on #18201
Finally have the PR with all builds passing here: https://github.com/dotnet/coreclr/pull/18317
Sorry for the delay and commit noise.

[2018-06-06 20:40] danmosemsft opened #18332 "Function erroneously returns null when compiled in release mode"
@leecow commented on [Wed Jun 06 2018](https://github.com/dotnet/corefx/issues/30173)

@jlwSL commented on [Wed Jun 06 2018](https://github.com/dotnet/core/issues/1663)

I've discovered a bug that causes a function to return null even if every possible return value is non-null. The issue does not happen if the project is compiled in debug mode. Please see the code attached that reproduces this iss

[2018-06-06 20:41] danmosemsft commented on #18332
@dotnet/jit-contrib

[2018-06-06 20:48] danmosemsft commented on #18331
@SusLes seems reasonable. Could you please close this one, and open a new issue in dotnet/corefx, with the proposal in format suggested in https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md ? Then we can review it formally.

[2018-06-06 20:49] stephentoub commented on #18331
That's not a .NET class.  It's WinRT.

[2018-06-06 21:00] briansull commented on #18324
Yes, 15 bits for immediate constants is still reasonable.

[2018-06-06 21:03] kasper3 commented on #917
@janvorli, can this be closed since Alpine support has landed in 2.1? For Amiga and others, more specific issues can be opened separately.

[2018-06-06 21:05] kasper3 commented on #17468
CoreCLR part is done in #18234. Should this be closed from CoreCLR and open in CoreFX / coreSetup for remaining work?

[2018-06-06 21:21] AndyAyersMS commented on #18332
Disabling finally cloning "fixes" things. Not sure if that's actually the bug, so let me look deeper.

[2018-06-06 21:35] RussKeldorph commented on #18327
@dotnet/jit-contrib

[2018-06-06 21:39] briansull commented on #18324
Actually the easy fix for now is to reduce the size of

emitter::insFormat _idInsFmt:8;  on XARCH to 7 bits

Otherwise their a problem getting everything to pack:

The current x64 instrDesc layout is:
	|struct emitter::instrDesc {
0000:00	|	instruction _idIns:9;
0000:09	|	emitter::insFormat _idInsFmt:8;
0000:11	|	unsigned int _idCodeSize:4;
0000:15	|	emitter::opSize _idOpSize:3;
0000:18	|	GCtype _

[2018-06-06 21:40] briansull commented on #18324
There are only 79 different insFormat's on XARCH

[2018-06-06 21:44] briansull commented on #18324
For Arm we have 91
For Arm64 we have 120

findstr IF_DEF emitfmtsarm.h | wc
     97     926   12001
findstr IF_DEF emitfmtsarm64.h | wc
    123    1358   11419

[2018-06-06 21:50] mikedn commented on #18324
Yes, we'd need to move the registers near the end so they land in the second unsigned, with the many 1 bit fields in the middle. But since there's a spare bit in `idInsFmt` there's no need for that. I was actually wondering how come there are so many formats but never got around to check. Thanks!

[2018-06-07 00:56] AndyAyersMS commented on #18332
Yes, this looks like a bug in finally cloning.

If a try-finally has multiple callfinallies they will appear in some sequence in the flow graph after the last block of the try. And sometimes these callfinallies are associated with different finally clauses (as is the case here).

Schematically
[code]

If the jit decides to clone one of the finallies and the corresponding callfinally is not the fir

[2018-06-07 00:59] AndyAyersMS commented on #18332
Thanks for reporting this, @jlwSL.

Any objection to me using your code as a test case here in the repo? Also, I'm curious how you found this....

[2018-06-07 01:57] PhoebeHui opened #18338 "CoreCLR failed when build with msvc on windows"
CoreCLR failed with warning C4644  when build with msvc on Windows, I use latest source on master branch. The source code is ill-formed, could you please help take a look at this?
Noted that this issue only found when compiles with unreleased vctoolset, that next release of MSVC will have this behavior.

The probably fix: the project either needs to build with /wd4644, pragma push/pop the warning,

[2018-06-07 02:34] AndyAyersMS commented on #18332
Note this particular optimization is not enabled on desktop. So this is a core-only issue.

Finally cloning was introduced in #8551. The bug should repro in 2.0 as well.

[2018-06-07 03:58] saucecontrol opened #18339 "JIT Performance regression between 1.1 and 2.0 and between 2.0 and 2.1"
I've been trying to come up with a simple repro for a perf regression I've been fighting, and I think I have it trimmed down as much as possible while still showing the real-world impact.  What I have [here](https://github.com/saucecontrol/Blake2Fast/tree/master/tests/JitRegression) is a stripped-down version of my [Blake2b](http://blake2.net/) hashing algorithm implementation.  The main work is d

[2018-06-07 05:19] #18040 closed

[2018-06-07 06:30] ashishnegi commented on #18252
Thanks @janvorli @mikem8361 for useful comments. I can attach to the function now.
Is there any more debugging tips there ?
I found about `bpmd` command from another debugging issue. Where can I see a comprehensive list of all these commands ?

[2018-06-07 06:47] AndyAyersMS opened #18341 "JIT: disasm assert on OSX"
Build checked coreclr on OSX. Set `COMPlus_JitDisasm=*` and try to run any program. It will assert trying to show the listing for a `vextractf128` instruction in one of the span methods jitted at startup:

[code]

[2018-06-07 09:40] ashishnegi opened #18342 "Debugging : The libcoreclr.so module is not loaded yet in the target process : when different build id of dotnet"
I have a crash dump from command `dotnet a.dll` on production Linux servers.

We only install `dotnet-runtime` on the machine. The crash dump shows build id : `e3943c3b216e09052a31405f70505efd06bf4fc2` of `dotnet`

[code]

When I install only `dotnet-runtime-2.0.7` locally, it's build id is different : `1e0d2e7281fa99d9dd23dda4388d34274b901b34`

[code]

The problem is that when I use `lldb-3.9` to

[2018-06-07 10:01] pentp commented on #17818
I would like to see intrinsics for some instructions that are not behind a CPUID flag, specifically for `Decimal` (and `BigInteger`):
- `DIV [RDX:RAX], r/m64` and `DIV [EDX:EAX], r/m32`, with quotient and remainder both usable.
- `MUL [RAX], r/m64`, `MUL [EAX], r/m32`, with the high-order bits (`RDX/EDX`) of the product usable.
- `Bmi2.MultiplyNoFlags (MULX)` should have an overload with only the

[2018-06-07 11:10] janvorli commented on #18252
@ashishnegi `sos help` command should show all the supported ones. There is also a MSDN page on sos.dll with detailed explanation of the sos commands (https://docs.microsoft.com/en-us/dotnet/framework/tools/sos-dll-sos-debugging-extension), but some of them don't work on Unix and some of them have slightly different parameters on Unix. However, it is good enough as a guide overall.

[2018-06-07 11:13] #18252 closed

[2018-06-07 11:30] janvorli commented on #18339
cc: @dotnet/jit-contrib

[2018-06-07 12:12] jlwSL commented on #18332
@AndyAyersMS I'm very happy for you to use the code as a test case.

I hit the code in production. We recently switched over from using Mono to .NET Core and one of our testers noticed some odd behaviour and it boiled down to returning null when it wasn't possible to. I stripped away as much code as I could so that I could provide a code sample that would allow you to reproduce the bug.

How do yo

[2018-06-07 13:39] jkotas commented on #18338
Related to #18260 / #18128 ?
cc @sandreenko

[2018-06-07 14:03] mikedn commented on #18338
It seems that there are multiple `offsetof` definitions in the CLR headers (corinfo.h, gcinfotypes.h, volatile.h), it's not clear why it feels the need to reinvent the wheel instead of using the `offsetof` provided by the standard headers.

[2018-06-07 14:27] redknightlois commented on #2591
An actual use case of this:

[code]

The `IAllocationHandler<TAllocator>` and `IRenewable<TAllocator>` are conditional interfaces... if you support them then they should generate the appropriate code for them. Right now that optimization doesnt happen which means it is very costly.

[2018-06-07 14:48] tannergooding commented on #17818
@pentp, it might be useful to open up a CoreCLR issue asking if `Math.DivRem` and `Math.BigMul` can be updated to be treated as intrinsics -- As an extension of that, an API proposal (CoreFX) suggesting that unsigned versions of the same be exposed might also be useful.

[2018-06-07 15:08] tannergooding commented on #2591
Are the Architecture/Runtime checks currently treated as JIT constants?

That is:
* `Environment.Is64BitOperatingSystem`
* `Environment.Is64BitOperatingSystemWhen32BitProcess`
* `Environment.Is64BitProcess`
* `RuntimeInformation.IsOSPlatform`
* `RuntimeInformation.OSArchitecture`
* `RuntimeInformation.ProcessArchitecture`
* etc

[2018-06-07 15:36] jkotas commented on #17735
Shared generic code for value types. http://www.mono-project.com/docs/advanced/runtime/docs/gsharedvt/ describes the basic idea and how it was implemented in Mono runtime. The implementation for CoreCLR would not be same, but the idea would be very similar.

The CoreRT compiler has infrastructure for this. We are currently investigating whether it is feasible to use the CoreRT compiler to produce

[2018-06-07 15:38] jkotas commented on #17735
cc @nattress @davidwrighton

[2018-06-07 15:39] AndyAyersMS commented on #2591
I don't believe they are handled in any special way.

[2018-06-07 15:53] tannergooding commented on #2591
@AndyAyersMS, it might be nice if we had a way to tell the JIT (maybe internal only): `This method returns a constant`

It would then be possible to place that on various methods (like the above) and could be hooked up to the ValNumStore for constant folding purposes, without needing to wire up special handling for each method/property.

[2018-06-07 15:58] jkotas commented on #2591
The way to do that is to make the property just return a readonly static field. I believe that the JIT has logic that treats readonly static fields as constants.

A problem with that is cctor triggering - this only works once the constructor has run. Tiered JIT solves this nicely.

[2018-06-07 16:01] AndyAyersMS commented on #18332
If you have this isolated down to just one or a small number of methods, you can selectively disable optimization for those methods only, via `[MethodImpl(MethodImplOptions.NoOptimization)]`.  Note this disables all optimizations -- there is no way to just turn this one off selectively.

If this pattern appears throughout your code then you'll have to wait for a fix. I think this is a good candida

[2018-06-07 16:19] redknightlois commented on #2591
@jkotas as far as my experiments go with 2.1 (non-tiered JIT, didn't try that yet but on the horizon to do so) that is not really the case.

[2018-06-07 16:21] echesakovMSFT commented on #18295
@dotnet/jit-contrib

[2018-06-07 16:45] tannergooding commented on #17818
@pentp, right. There is some platform specific functionality that might be useful as intrinsics, but just fixing the existing APIs to do what we want might also be a good start.

[2018-06-07 16:47] benaadams commented on #2591
All mine show it to be the case.

Don't have a static .cctor, so the class is marked as `beforefieldinit`; otherwise the check will always be embedded.

The first access to a static field (not method); will cause all of the static readonly fields to become Jit consts. The method that makes that access however will have the checks in (i.e. not be consts for that method) - so you don't want it to be

[2018-06-07 16:53] pentp commented on #17818
Having them as intrinsics behind `IsSupported` has the additional benefit of allowing a fallback with a specialized algorithm.
And if `DIV/IDIV/MUL/IMUL` had intrinsics then `Math.DivRem` and `Math.BigMul` could be easily implemented on top of them.

[2018-06-07 17:05] janvorli commented on #17468
CoreFX PR for the same thing is pending: https://github.com/dotnet/corefx/pull/30182. I'll make the same change in core-setup soon.

[2018-06-07 17:32] voinokin commented on #18145
Adding these:

----------------------------------------
4. There exists just one overload for `Ssse3.AlignRight()` that works on `sbyte`. I believe it makes sense to add overloads for other integer types, the same way as it was implemented for `Sse2.ShiftRightLogical128BitLane()` which is quite similar in operation. Otherwise developers will have to use type casting.
------------------------------

[2018-06-07 17:32] sdmaclea commented on #18285
Last night the DynamicMethodGCStress failed again with the same signature except this time it was in the gcServer=1 heapverify=1 run.

[2018-06-07 17:36] tannergooding commented on #18145
We will want to be careful with this one, since the instruction explicitly operates on byte values.

It definitely makes sense to ensure that both the signed and unsigned versions are exposed here.

[2018-06-07 17:42] voinokin commented on #18145
@tannergooding

It is the same for `ShiftRightLogical128BitLane()` - that's my point. BTW, the method appeared quite useful without typecasting :-).
I suggest to rename argument of `AlignRight()` which is now called `mask` (?) to smth like `numBytes`, again the same way as it's done for `ShiftRightLogical128BitLane()`.

[2018-06-07 17:53] saucecontrol commented on #18145
Really, all the masked byte-shuffle instructions work on the minimum element size that can be represented by the mask, but they're not necessarily most-often used on that size.

I have an example [here](https://github.com/saucecontrol/Blake2Fast/blob/master/src/Blake2Fast/Blake2bSse4.cs#L106) that uses `AlignRight` on ulong values.  Something went funny in the codegen with all the casts I had to d

[2018-06-07 18:11] tannergooding commented on #18145
A good bit of the "bad codegen" was because we didn't support the `ins reg, [mem]` encodings for a good number of the intrinsics.

The latest builds out of master should have much better codegen and the last of the non load/store intrinsics should support containment with: https://github.com/dotnet/coreclr/pull/18349.

There is, of course, still some more work to be done, but hopefully you will se

[2018-06-07 18:12] tannergooding commented on #18145
(`StaticCast` itself does still need a change, but I will be working on that next).

[2018-06-07 18:27] janvorli commented on #17468
And here core-setup: https://github.com/dotnet/core-setup/pull/4203

[2018-06-07 18:29] redknightlois commented on #2591
Ohhh you mean for primitive types. Yes, for those it works.

[2018-06-07 18:45] JensNordenbro commented on #17468
Will this work be for 2.1 lts or 3.0?

[2018-06-07 18:49] sdmaclea commented on #17468
Definitely not for 2.1.  2.2 or 3.0

[2018-06-07 19:07] janvorli commented on #17468
@sdmaclea why not for 3.0? We have not discussed it yet, but 3.0 seems like a very reasonable target.

[2018-06-07 19:34] mikedn commented on #18330
Some example numbers I got in the past by using throw away instrumentation are in this range check post: https://github.com/dotnet/coreclr/issues/12639#issuecomment-335909456

In addition to counters (e.g. Removed range checks) there are also values where the maximum value is reported (e.g. Max search depth) and timings (e.g. Map def time). We gather phase timings but if you ae interested in what'

[2018-06-07 19:53] AndyAyersMS opened #18353 "JIT: make sure finally cloning isn't cloning along EH only paths"
Need to re-examine the selection of which finally clause to clone, as I suspect in #18332 that the jit makes a poor choice and clones a finally that can only be reached when an exception is thrown.

Current algorithm is to walk the try region from back to front and picks the finally associated with the "last" exit point in the try, hoping that this is the normal try region exit. Perhaps more check

[2018-06-07 19:56] mikedn commented on #14523
Some observations about the current instruction table:
* `sahf` is not used (leftover from x87 FP)
* `loop` is not used. Was it ever used? Usually it's not recommended, it can have lower performance than normal branch instructions.
* `push_hide` and `pop_hide` are kind of weird, perhaps the same information can be communicated by other means? But then they're only 2 instructions among hundreds so

[2018-06-07 20:08] AndyAyersMS commented on #16360
I have built something like this in past compilers -- the phase hierarchy becomes emergent property of how the phases are used rather than something statically declared.

So a phase can be top level phase and also a sub phase (eg the importer may end up this way as it is invoked during inlining).

[2018-06-07 20:29] tannergooding commented on #16594
Resolved with #18255

[2018-06-07 20:29] #16594 closed

[2018-06-07 20:30] sandreenko commented on #18315
To repro this issue we need `CORJIT_FLAGS::CORJIT_FLAG_PROF_ENTERLEAVE` to be set and it happens only if we have an attached profiler, that we can't repro in our ci tests.

Because it is a regression and the fix is simple I think the cost of building repro is higher than its value, so, @CarolEidt, could you please publish PR with fix without repro?

cc @dotnet/jit-contrib

[2018-06-07 20:53] kasper3 commented on #17468
Thanks @janvorli!
I think the remaining work is to get CLI story for ARM32 set: https://github.com/dotnet/cli/issues/8998? It seems like @echesakovMSFT hasn't committed to it yet, do you know what are the predicaments in crossgening arm32 on x64?

[2018-06-07 21:49] sdmaclea commented on #17468
The period after the 2.1 was too subtle.  Should have said "Definitely not for 2.1. Either for 2.2 or 3.0"

[2018-06-07 22:02] ajcvickers commented on #18323
There are more reports of the same thing with EF Core on 2.1: https://github.com/aspnet/EntityFrameworkCore/issues/12242

We had an outage of our identity server in production in Azure. The site is running the latest .NET Core 2.1 and the most up to date stable version of EF Core as of 05 June 2018.

The exception caught by application insights does not give us a clear root cause, but comes from i

[2018-06-07 22:03] ajcvickers commented on #18323
Comment from EF post from @flagbug

This exact same is also something we're seeing very very sporadically (once every few months) with EF Core versions before 2.1.0 hosted on Azure App Service.

Sadly it's super hard to gain any more information for this because we have to immediately restart our instances so our users aren't impacted.

[2018-06-07 22:04] ajcvickers commented on #18323
Comment from EF issue by @jarz

I've started seeing the InvalidProgramException today within my API that uses ASP.NET Core 2.1.0 & EF Core 2.1.0.

[code]

[2018-06-07 22:04] janvorli commented on #17468
Ah, makes sense.

[2018-06-07 22:06] ajcvickers commented on #18323
Other comments in EF thread:

@danmosemsft @karelz Can we get some guidance here? There is nothing special about the methods or stack traces here. For example, the property at the top of the stack trace in the first example is very simple code:
[code]
Also, the stack trace for the second case is very different. So based on these things I would be surprised if this is actually an EF issue.

So, cou

[2018-06-07 22:06] ajcvickers commented on #18323
Closing the EF issue as a duplicate of this one.

[2018-06-07 22:49] mrange opened #18361 "Performance degradation dotnet core 2.1.300 TieredCompilation"
I am very excited about Tiered Compilation in dotnet core so I decided to take it for a spin. Unfortunately in my case I found a performance degradation instead of improvement.

## My dotnet version:

[code]

##  My use-case

I am tinkering with a push stream in F#.  Push streams are faster than Pull streams (like LINQ). One area where .NET JIT loses against JVM JIT is that .NET JIT is keen on inl

[2018-06-07 22:53] echesakovMSFT commented on #17468
@kasper3 Answering your question about crossgening arm32 on x64 - I was distracted during 2.1 shipping. Now it has been shipped and I am back actively working on this problem.

[2018-06-07 23:05] echesakovMSFT opened #18362 "[Windows/arm][JitStress] Assertion failed 'defList.IsEmpty()' in System.Numerics.Tests.ComplexTests:Conjugate"
Hit this is in PR #18347 during [Windows_NT arm Cross Checked corefx_jitstress1 Build and Test](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_corefx_jitstress1_tst_prtest/3/consoleText) and [Windows_NT arm Cross Checked corefx_jitstress2 Build and Test](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_

[2018-06-07 23:05] echesakovMSFT commented on #18362
@dotnet/jit-contrib

[2018-06-07 23:08] echesakovMSFT commented on #18295
Also reproducible on Windows/arm in System.Linq.Expressions.Tests under JitStress=2
[code]

[2018-06-07 23:13] janvorli commented on #17468
@kasper3 actually, there is more to do. First we need to enable official builds in coreclr, corefx and core-setup repos so that nuget packages are built and published.

[2018-06-07 23:20] jkotas commented on #18361
cc @noahfalk

[2018-06-07 23:33] noahfalk commented on #18361
@mrange - Thanks for letting us know!

The extra jmp is a known part of the implementation at the moment at least. I had done some theorizing in the past on how we might eliminate it, but thus far in our testing scenarios it wasn't showing up as a significant perf issue so other aspects of the tiered compilation work took priority and we had left this as-is. Let me take a little time to inspect wh

[2018-06-07 23:53] #18315 closed

[2018-06-07 23:58] #18324 closed

[2018-06-08 00:46] #2944 closed

[2018-06-08 01:42] sandreenko opened #18367 "[Regression] Assertion failed 'mask != RBM_NONE'"
`jit\regset.cpp (120) - Assertion failed 'mask != RBM_NONE'`
The regression was introduced by #18230.

cc @dotnet/jit-contrib

[2018-06-08 02:37] AndyAyersMS commented on #18361
In 2.1 tiered jitting won't give you performance above and beyond what you get with normal jitting. It can improve performance for apps that rely on prejitted code. We are still laying the groundwork to allow tiered jitting to be more aggressive or more adaptive than normal jitting. So keep an eye on things over the next couple of months as we start working towards that.

I wasn't sure which metho

[2018-06-08 03:02] NMSAzulX opened #18368 "Attribute support Generic Types."
For example:
[code]

[2018-06-08 03:46] NMSAzulX opened #18369 "Support weaving."
We can add more function for the method.
(Maybe like Mono.cecil, profiling, IL Inject etc)
When I encapsulated some library, I need lots of below operations:
It can make our library more intelligent and greatly improve the efficiency of developers.
I hope this:

Static weaving / Dynamic weaving API:
[code]

Use:
[code]

Insert in head:
[code]
Replace body:
[code]

Append in tail:
[code]

[2018-06-08 05:46] #18369 closed

[2018-06-08 05:55] BruceForstall commented on #18367
What test case, architecture, etc.?

[2018-06-08 07:16] Joe4evr commented on #18368
Already gonna happen: #9189 dotnet/roslyn#16814

[2018-06-08 07:34] jkotas commented on #18368
Closing as duplicate

[2018-06-08 07:34] #18368 closed

[2018-06-08 08:11] jlwSL commented on #18332
Thanks @AndyAyersMS. I'm afraid I don't understand your reasoning for why this bug occurred so could you please tell me what patterns to look out for in my code to spot this bug? I also noticed that putting something as simple as a Console.WriteLine before the using end brace was enough to not hit this bug. Is this a reliable workaround?

[2018-06-08 08:14] xhafan commented on #4722
does not work for me, third party library still shows as optimized in Modules.

[2018-06-08 09:07] sandreenko commented on #18367
I need an issue to get the issue number for the test case. I will add it tommorow, it is x86, debug.

[2018-06-08 10:44] mikedn commented on #18367
Out of curiosity - is it a hard requirement to use the issue number? In some simple cases I was tempted to just use the PR number. But I went ahead and filled an issue because that seems to be the practice.

[2018-06-08 11:20] mrange commented on #18361
Hmm thanks for very interesting input @AndyAyersMS. I will try to reimplement this in C# to see if I can get the IL close to what you describe. If that improves performance then I think this could form the case for a PR to F# compiler. I

[2018-06-08 15:45] jkotas opened #18370 "Remove length restrictions on named synchronization primitives lengths on Windows"
From https://github.com/dotnet/coreclr/pull/18320#issuecomment-395603647

If the OS allows creating mutex with the long name, we should allow it too. We are just getting into way by blocking the longer names for no good reason.

[2018-06-08 15:46] jkotas commented on #18370
cc @Anipik @danmosemsft

It would be nice to do this before moving the remaining synchronization primitives to shared partition to avoid need for ifdefs.

[2018-06-08 15:49] jkotas commented on #18370
Look for `MAX_PATH` under src\System.Private.CoreLib\src\System\Threading

[2018-06-08 15:50] Anipik commented on #18370
@jkotas i will due that after the #18320 gets merged

[2018-06-08 15:52] stephentoub commented on #18370
Related: https://github.com/dotnet/corefx/issues/3740

[2018-06-08 16:30] AndyAyersMS commented on #18332
It is a bit tricky to describe since the jit operates at an IL level -- so we have to back-map the patterns we see in IL to the C# that might inspire CSC to produce such IL. Unfortunately this is not always easy.

To trigger this issue, we first of all need a nested set of `try/finally`s. These can be explicitly coded in source or can appear implicitly when you use `using` or `fixed` or `foreach`

[2018-06-08 16:31] mjsabby opened #18371 "Large Page Support in memory allocated by the GC"
Large Pages (a.k.a Huge Pages on Linux) is a feature where the operating system is able to establish memory regions larger than the native page size (often 4K) to improve performance of the application requesting these large pages.

When a virtual-to-physical address translation occurs, a cache called the `
Translation lookaside buffer` (TLB) is first consulted (often in parallel) to check if a ph

[2018-06-08 16:32] mjsabby commented on #18371
cc @Maoni0 I'll try to do the naive find and replace of reserves in the GC code to reserve+commit, it failed when I tried last but will update here.

[2018-06-08 17:28] sandreenko commented on #18367
We usually add regression tests with issue number in the name, I think it is fine when you open a PR with a repro, then rename the test in this PR to use PR's number. I did not have a repro yesterday, but wanted to inform about existing issue and prevent duplication of work I opened  this, don't think there are strict requirements about that.

Yes, I am planning to push PR soon.

[2018-06-08 17:29] sdmaclea commented on #18026
2.2 SDK is now being built.  I'll take a look at it.

[2018-06-08 17:31] Maoni0 commented on #18371
happy to take a look at what you have whenever you are ready.

[2018-06-08 18:04] jkotas opened #18375 "Enable versioning bubbles that span multiple assemblies"
The concept of versioning bubbles is described in https://github.com/dotnet/coreclr/blob/master/Documentation/botr/readytorun-overview.md#version-bubbles

The current implementation is hardcoded to each assembly being its own versioning bubble. This issue is about adding an option for larger versioning bubbles:

[  ] Add command line option to crossgen to allow specifying versioning bubbles
[  ] U

[2018-06-08 18:06] jkotas commented on #18375
cc @alpencolt @mjsabby @nattress  @davidwrighton

[2018-06-08 18:09] AndyAyersMS commented on #18353
Looks like this is fallout from the empty try removal leaving the last block of a try as a fallthrough. Because of this we miss the fact that this block transfers control to a callfinally (as the try region screen only checks BBJ_ALWAYS blocks).

So will fix empty try removal not to create fallthroughs and then we should pick the normal return block instead of the eh path block in cases like the o

[2018-06-08 18:14] sandreenko commented on #18367
The issue is that `regTracker.rsTrashRegSet(killMask); ` was replaced with `regSet.verifyRegistersUsed(killMask); ` and the second one doesn't allow 'killMask` to be empty (it calls `rsSetRegsModified` with this assert), when the previous method allowed it. Empty `killMask` is valid for certain helpers, for example for `ProfilingLeaveCallback`.

The fix can be to change the assert or check it that

[2018-06-08 18:33] jashook opened #18377 "Initial thoughts on Native Vararg support on Unix platforms for RyuJit"
PR #18373 will re-enable __arglist (native vararg support) for coreclr; however, currently only Windows platforms support the ABI. This "issue" is more of a brain dump to help any future work to allow native varargs on other currently unsupported/untested platforms. It is platform and arch specific, if there are gaps in my familiarity with other platform's/arch's ABIs please let me know I will upd

[2018-06-08 18:35] jashook commented on #18377
/cc @dotnet/jit-contrib

[2018-06-08 20:05] voinokin commented on #18145
Not sure it is proper place here to discuss API that is already defined (?)... Anyway, I stumbled across this with the names of API methods that load and store smth.

Some background:
- the overloads to move (parts of) **vectors FROM memory** are mostly called `LoadScalarVectorNNN()`, `LoadVectorNNN()` / `LoadAlignedVectorNNN()` / `LoadDquVectorNNN()` / `LoadAlignedVectorNNNNonTemporal()`.
- the o

[2018-06-08 20:05] AndyAyersMS commented on #18353
Culprit seems to be `fgRemoveBlock`, in particular this bit of logic:
[code]
In our test case we originally have:
[code]
Here BB15 is an empty finally that BB28 invokes, and BB30 is the continuation. So we first modify BB28 to jump always to BB30, and then remove BB29, leaving:
[code]
Next we remove the empty finally handler BB15, and that inspires `fgRemoveBlock` to optimize BB28 to fall through

[2018-06-08 20:07] AndyAyersMS commented on #18353
If that check is "fixed" (say by requiring same EH region) there is a second bit of code further down that will do this transformation too.

So it seems like we should just handle falling out of trys into callfinallies rather than trying to ensure they never exist. #18348 handled the correctness aspect, so this is just fixing the perf aspect.

[2018-06-08 20:16] assyadh opened #18381 "One CoreCLR 2.1 unit test is failing due to missing ThreadStartBool.sh file"
Hi,

CoreCLR 2.1 unit tests are failing due to missing ThreadStartBool.sh file

[code]

Current fix I am using:

[code]

Hamza.

[2018-06-08 20:45] BruceForstall commented on #17480
I see JittingStarted and rundown failing in regular arm Windows GCStress=3 runs in CI, e.g.:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_gcstress0x3_tst

Error, e.g.:
[code]

[2018-06-08 20:48] bobuva commented on #18137
@noahfalk I've run into a bit of a roadblock converting the `const WCHAR*` to a `LPWSTR` required in the `BINDER_SPACE::SimpleNameToFileNameMapEntry`. See [this](https://github.com/bobuva/coreclr/blob/master/src/vm/proftoeeinterfaceimpl.cpp#L6884) in my fork. After readying a bit about `StackSString`, that seemed to be the way to go, but I'm not too clear on whether I should be using a `StackSStri