[2019-05-21 22:59] echesakovMSFT commented on #24701
@dotnet/jit-contrib

[2019-05-21 23:24] CarolEidt commented on #24657
I am able to repro this on Linux with 2.2. It doesn't repro with latest. I'm working on tracking down when/how it was fixed.

[2019-05-21 23:43] janvorli commented on #23309
@farlock85 gists are good for large logs / dumps. There is a "create gist" in the drop down menu located at the large "plus" character next to your image on the top right corner of this page.

[2019-05-21 23:46] AndyAyersMS commented on #24549
Looking at dump #3, the heap is corrupted:
[code]
The corrupted addresses are very near valid addresses:
[code]
I suspect this perhaps should be `000001f1b1bc0108`  ( vs `...18`) which means perhaps one bit flipped in the address value:
[code]
array element at 0 is also corrupt, looks like here perhaps the low bit got flipped:
[code]
My guess would be that perhaps something in the app is corruptin

[2019-05-22 00:18] sandreenko commented on #16001
The issue is outdated, create a new one for particular test failures when we get CoreFX testing in AzDO.

[2019-05-22 00:18] #16001 closed

[2019-05-22 00:30] CarolEidt commented on #24657
This seems to be a duplicate of https://github.com/dotnet/coreclr/issues/18522. I'm working on verifying that.

[2019-05-22 00:31] AndyAyersMS commented on #24549
Dump 1 looks similar -- same stack and a bit is cleared in a method table address for an object in an array.

Dump 2 seems to have more severe corruption and a different stack.

[2019-05-22 01:45] jkotas commented on #24705
Yes, it should.

This is regression introduced by https://github.com/dotnet/coreclr/pull/23013/ . Before this change, `pEEClassLayoutInfoOut->SetHasExplicitSize(TRUE)` got called for this struct that in turn set the custom layout flag. The `SetHasExplicitSize(TRUE)` call was delete in this change with no replacement.

Note that the bug repros only with optimizations on. You have to turn off tiered

[2019-05-22 01:49] janvorli commented on #24686
The issue is caused by a bug that will be fixed by the pending #24706.

[2019-05-22 03:35] janvorli commented on #24686
The #24706 is in, the issue should be fixed

[2019-05-22 03:35] #24686 closed

[2019-05-22 03:56] JMan7777 commented on #24686
@janvorli
Thx, will it be part of .net core 3.0 preview 6 ?

[2019-05-22 04:40] jiangzeng01 commented on #24691
@sywhang thanks, I will close it.

[2019-05-22 04:40] #24691 closed

[2019-05-22 05:14] adamsitnik commented on #23060
@kouvel thanks for the full explanation!

I can confirm that it's not an issue anymore with latest .NET Core 3.0 previews where QuickJitForLoops is disabled.

[2019-05-22 05:15] adamsitnik commented on #23060
@AndreyAkinshin  this is something we might consider

[2019-05-22 05:26] smoogipoo commented on #24658
This does not happen on Ubuntu 18.04 (added results to the OP) nor Windows.

[2019-05-22 05:46] gfoidl commented on #24692
`out`-Arguments can be in registers, so it's fast.
ValueTuple and nullable int are structs, so may end up in stack-space, which is memory and thus slower than registers. For the JIT it is also harder to optimize than simple register use, so code-gen for the _out_ arguments may be better than using structs.

And your suggestion would be a huge breaking change.

[2019-05-22 05:50] DotNetAppCompatFeiWang commented on #24705
@dotnet-actwx-bot  FYI

[2019-05-22 06:03] mikedn commented on #24692
No, they are not. The out reference itself may be in a register but the actual value has to be in memory, you can't have a reference to a register.

That depends on the struct and the calling convention. A `int?` is actually returned in a register on both Win-x64 and Linux-x64. Though sadly the JIT doesn't generate good code in this case and goes through memory even in the end it does return the v

[2019-05-22 06:07] gfoidl opened #24710 "Vector{128,256}<T>.ToScalar suboptimal codegen \ { double }"
`Vector128<long>.ToScalar()` stores the `xmm` to the stack, then reads `r64` from there via a `mov`.

[code]

Ideally this would use `movq` (c++ intrinsic: `_mm_cvtsi128_si64`), so asm becomes:

[code]

`Vector128<double>.ToScalar()` produces expected code (`vmovsd`) -- no issue there.
Same CQ issue for `int`, and for `Vector256<T>`.
Didn't check other types, than noted here.

[2019-05-22 06:08] gfoidl commented on #24710
/cc: @tannergooding please have a look here

[2019-05-22 07:11] tmds commented on #24686
Probably, or preview 7 if it isn't in 6.

@janvorli looking at the fix, it is not clear how it was causing the issue. If the affinity of the current thread (a GC thread) was changed, how does that affect the affinity of the process?

[2019-05-22 07:22] gfoidl commented on #24692
Oh, I simplified too much, so it got really inprecise and incorrect (which I didn't notice while writing). Thanks precising and correcting that!

I definitely beliefe you, but out of interest:
My statement comes from experience that the JIT does a better job with inlining methods that have _out_ arguments than methods that return structs (which are then "deconstructed" immediately at the caller, s

[2019-05-22 07:59] xiangzhai commented on #24682
Thanks @mattwarren and @jkotas I added this to FAQ in my mind :)

[2019-05-22 08:13] gaviriar commented on #20287
A couple of questions, which you have to excuse me if they exemplify my ignorance.

I would like to use the [Single-file Distribution](https://github.com/dotnet/designs/blob/master/accepted/single-file/design.md) feature for packaging .NET Framework 4.7.2 (for example) applications into a single executable. Is that the intention of this feature or is it only meant to support .NET Core applications

[2019-05-22 08:33] fiigii commented on #24710
I remember that `ToScalar` on integer types are not intrinsic now. You can use `Sse2.X86.ConvertToInt64` for `Vector128<long>`.

[2019-05-22 08:52] #21731 closed

[2019-05-22 09:01] xiangzhai commented on #20205
Workaround:

[code]

`CORE_LIBRARIES` and `CORE_ROOT` setted by following [Using corerun To Run .NET Core Application](https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/UsingCoreRun.md):

[code]

[2019-05-22 09:10] gfoidl commented on #24710
Thanks.

Is better, but still not ideal:
[code]

It is documented as `__int64 _mm_cvtsi128_si64 (__m128i a) MOVQ reg/m64, xmm`, but JIT didn't emit the `movq`.

[2019-05-22 09:12] mikedn commented on #24710
Is that output from the JIT's own disassembler? It's probably `movq` but displayed as `movd`.

[2019-05-22 09:13] AriNuer commented on #24661
Same test failed again with Unhandled Exception: System.Exception: Invalid RegGetValueW result: 0x2 type: RegNone
Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190521.72/workItem/Interop/analysis/xunit/Interop_WinRT._NETClients_Primitives_NETClientPrimitives_NETClientPrimitives_~2F_NETClients_

[2019-05-22 09:16] gfoidl commented on #24710
Looked at the JIT-dump and in VS-dissambly view (both in release with optimization on, tiering disabled).

[2019-05-22 09:18] fiigii commented on #24710
Right, `vmovd    rax, xmm0` is actually `vmovq    rax, xmm0`. `movd` is an alias of `movq` on r64.

[2019-05-22 09:25] fiigii commented on #24710
BTW, in this link, `vzeroupper` is generated for Vector128 code. That should not be there, I will take a look.

[2019-05-22 09:27] gfoidl commented on #24710
👍

So codegen could be
[code]
or
[code]
There is the extra `vmovupd` (see https://github.com/dotnet/coreclr/issues/24710#issuecomment-494720476)

Thanks.

<details>
  <summary>My code to show this</summary>

[code]
</details>

[2019-05-22 09:31] gfoidl commented on #24710
Isn't this needed for VEX? No matter if Vector128 or Vector256.

[2019-05-22 09:36] fiigii commented on #24710
It is a bit complex, please see https://github.com/dotnet/coreclr/issues/21062.
But I am sure that codegen has something wrong.

[2019-05-22 10:31] xiangzhai commented on #23820
Because there is only `./bin/Product/Linux.mips64.Debug/corerun` available at very begining when porting CoreCLR to other targets, for example, mips64el:

[code]

Workaround patch:

[code]

So it is able to use `CORE_LIBRARIES` as a `:` separated list of directories:

[code]

[2019-05-22 10:48] tomrus88 commented on #20287
@gaviriar I don't think it supports .NET Framework applications. And yes it can bundle .NET Core runtime into executable (so called "self contained" publish).

[2019-05-22 11:04] TamarChristinaArm opened #24711 "[ARM64/Linux] Range checks against constants contain unneeded moves"
It seems like the sequence for doing range checks was optimized for the variable case. when the index is a constant the comparison generates suboptimal code (with `QuickJIT` off).

[code]
generates
[code]

while flipping the branch condition would have gotten

[code]

saving the need for a move and register usage.

/CC @CarolEidt @tannergooding

[2019-05-22 11:04] TamarChristinaArm opened #24712 "[ARM64/Linux] Inefficient conditionals branching"
The following

[code]

produces the following conditional (with `QuickJIT` off)

[code]

so for both the if and else case it branches, it has no fall through case that doesn't
require the branch.

but also it has generated an extra mov here because it knows n is 3. However change the
condition to

[code]

and it now just re-uses the register containing n since it's dead after the if anyway

[code]

[2019-05-22 11:04] TamarChristinaArm opened #24713 "[ARM64/Linux] Ineffincies when using initializing/cleaning unsafe pointers"
For the following case with `QuickJIT` turned off

[code]

The initialization of the pointer correctly uses the zero register

[code]

However it doesn't use `stp/ldp` when it's possible to.

also when cleaning up the `str`s suddenly don't use `xzr` anymore

[code]

/CC @CarolEidt @tannergooding

[2019-05-22 11:04] TamarChristinaArm opened #24714 "[ARM64/Linux] Register allocator doesn't seem to track liveness across basic blocks"
In the following case with `QuickJIT` turned off

[code]

There are some dead stores and repeated loads of the same values

for instance the initialization code along with the next basic block which seems to do a null check:

[code]

`fp+24` is stored twice to without being read. This is probably due to an ABI requirement that all variables be initialized to `0`? And the stack slots are probably u

[2019-05-22 12:03] parmsib opened #24716 "GC kicks in too late, eventually leads to OOM in Linux"
Hello!

We've had issues with a very memory hungry application, which repeatedly copies
a large data structure and releases the old version, getting killed by the OOM killer in linux.
The machine in question has close to 200 GB of RAM, but the application manages to fill that up, despite the same application staying within ~90 GB of memory usage while running on a windows machine.

Basically, it s

[2019-05-22 12:08] mikedn commented on #24711
Nah, it looks like it's the other way around - it simply wasn't optimized for the integer index case. Due to ARM immediate mode encoding complexities the type of the node that uses the immediate matters and the code that does this (`Lowering::IsContainableImmed`) doesn't recognize `GT_ARR_BOUNDS_CHECK`. Codegen seems to already support this so try adding a `case GT_ARR_BOUNDS_CHECK:` after `case G

[2019-05-22 12:21] gaviriar commented on #20287
@tomrus88 thanks for the response. That is a true shame regarding .NET Framework applications. Is there  any method you would recommend that could be used to bundle the .NET Framework runtime into an executable?

I see a list of tools in the [related work](https://github.com/dotnet/designs/blob/master/accepted/single-file/design.md#related-work) section of the document. Is there any in particular

[2019-05-22 12:22] benaadams commented on #24716
/cc @Maoni0 @janvorli

[2019-05-22 12:33] RussKeldorph commented on #20682
This is now blocking the official build.

https://mc.dot.net/#/product/netcore/master/source/official~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190521.72/workItem/Interop/analysis/xunit/Interop_WinRT._NETClients_Primitives_NETClientPrimitives_NETClientPrimitives_~2F_NETClients_Primitives_NETClientPrimitives_NETClientPrimitives_cmd

[code]

@jkoritzinsky @Aa

[2019-05-22 12:35] jkotas commented on #20287
@gaviriar .NET Framework is part of Windows OS. There is no supported way to bundle it into an executable.

[2019-05-22 12:39] TamarChristinaArm commented on #24711
Ah, indeed that does work as expected.

[2019-05-22 12:55] jnm2 commented on #20287
@gaviriar The need to bundle the runtime is one of the major reasons to switch to .NET Core.

[2019-05-22 13:09] farlock85 commented on #23309
@janvorli the dump is 500MB, I don't see an option in a gist to upload a raw file.

[2019-05-22 14:33] janvorli commented on #23820
@xiangzhai you could just copy the assemblies to the same folder as corerun or corerun to the same folder as the assemblies instead of making a change to the corerun. Would that work for you?

[2019-05-22 14:36] janvorli commented on #23309
@farlock85 ah, I am sorry for misunderstanding. I have thought you were talking about a textual dump.

[2019-05-22 14:43] AaronRobinsonMSFT commented on #24661
@jkoritzinsky This is a different issue. The here issue here addressed Nano, but it looks like the failure is on Arm64, not a Nano.Amd64 server run.

[2019-05-22 14:45] AaronRobinsonMSFT commented on #24661
Bah. Looks like the very act of trying to determine if this is a Windows.Nano scenario is the issue.

[code]

[2019-05-22 14:50] janvorli commented on #24686
@tmds actually, it seems that the sched_setaffinity with PID 0 really returns the affinity of the current thread. I know that sometimes the linux doc mixes threads and processes due to the historical reasons and it seems this is one of the places where the doc says "current process" but it really means current thread.
I will create another PR to change that back to using current process id, but it

[2019-05-22 14:58] AaronRobinsonMSFT commented on #24661
Got it. This is an issue with how we detect Windows Nano. When the code was ported from CoreFX, the `where` clause was kept, but shouldn't be because we are P/Invoking into the registry APIs instead of calling the `Registry` library.

The change is to remove the `where` clause which will capture all exceptions which is basically what we want.

https://github.com/dotnet/coreclr/blob/aa66f12b58dc118

[2019-05-22 14:58] gaviriar commented on #20287
@jnm2 and @jkotas thanks for the clarification, noob here to the .NET world. I agree I would love to switch to .NET Core. However, I am facing a case where I have to interact with a legacy library which is targetting .NET Framework. In such a case it is my understanding that I cannot switch my app to .NET Core if I need to interact with this library. Or is there an alternative approach such that m

[2019-05-22 15:09] mikedn commented on #24692
There definitely are issues with the way the JIT handle struct returns. It's enough to look at the simple case of `int?` that is returned in a register but the JIT assembles the 2 fields by going through memory:
[code]
But issues like this are solvable.

Yes, it needs to go to memory and not only for the duration of the call - once passed via `out`/`ref` a local variable is marked "address exposed

[2019-05-22 15:09] janvorli commented on #24686
I think it should be in Preview 6.

[2019-05-22 15:14] jkotas commented on #20287
It depends on the library. A lot of libraries that target .NET Framework work fine on .NET Core as well. Have you tried to use the library in .NET Core? If you have verified that it does not work, you cannot switch until you have a solution for it.

[2019-05-22 15:25] sebastianbk opened #24720 "[macOS] EXC_BAD_ACCESS when inspecting lazy-loaded objects"
When running a debugging session in Visual Studio Code, I repeatedly run into this very frustrating issue where the debugger crashes when attempting to inspect lazy-loaded objects generated by Entity Framework Core.

I have built an ASP.NET Core 2.1 web app and, when hitting a breakpoint set in a controller action (or in any other type of method), I can inspect both value and reference type variab

[2019-05-22 15:27] mikedn commented on #24714
pinning, at least in the `fixed (int* p = a)` form is pretty complicated and not really codegen specific. A simple
[code]
generates the following x64 code:
[code]
A lot of it is down to the semantics of fixed:
* yes, there is an explicit null check because `a == null` implies `p == null`
* there's a length check because `a.Length == 0` implies `p == null`
* `p` is basically computed as `&a[0]` so

[2019-05-22 15:28] xiangzhai commented on #23820
Works :P

[2019-05-22 15:31] gfoidl commented on #24692
@mikedn thank you! 👍

[2019-05-22 15:32] gaviriar commented on #20287
I have indeed tried it, but this does not work as we are talking about libraries which are windows specific. I guess I have no other option than to stick with targeting .NET Framework and miss out on the .NET Core fun as you say :/

[2019-05-22 15:50] sebastianbk commented on #24720
For the record, this issue also occurs in the latest version of Visual Studio for Mac.

[2019-05-22 16:31] jiangzeng01 opened #24724 "Unexpected WriteEvent parameter value in netperf file"
Test:
coreclr\tests\src\tracing\eventsource\eventsourcetrace\EventSourceTrace.cs

Repro steps:
1. Change the line 23 of EventSourceTrace.cs to:
_internal void MathResult(int x, int y, int z, string formula) { this.WriteEvent(1, x, y, z, x, y, z, formula); }_
2. Build & run the test
3. Check MathResults events in the netperf file generated, the parameter **formula** is showing some strange values w

[2019-05-22 16:56] mikem8361 commented on #20205
My fix isn’t in 2.1.0 (the first version of 2.1). It is in a later service release.  Try 2.1.11.

mikem

From: Leslie Zhai <notifications@github.com>
Sent: Wednesday, May 22, 2019 2:02 AM
To: dotnet/coreclr <coreclr@noreply.github.com>
Cc: Mike McLaughlin <mikem@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/coreclr] LTTng-UST: Error (-17) while registering tracepoint pr

[2019-05-22 16:58] mikedn commented on #24713
It looks like the code in lowerarmarch.cpp's `Lowering::ContainCheckStoreLoc` was copied from xarch/arm32 without proper adjustment for arm64:
[code]
Obviously, arm64 doesn't need to zero a register. Properluy checking for 0 should fix this.

Unfortunately the JIT doesn't have any support for something like this. Perhaps it could be done in codegen, by looking ahead at the IR. Otherwise it would b

[2019-05-22 17:13] mikedn commented on #24712
Not ARM64 specific, x64 generates:
[code]
Here assertion propagation isn't very smart and substitutes `n` with `3` even if it's not beneficial in this case. And I can only guess that it wouldn't be that easy for LSRA to recover from this.

Because of the `n > 3` condition that prevents assertion propagation to conclude that `n` is 3 in that block.

Yes but it's a bit complicated because this isn't

[2019-05-22 17:18] RussKeldorph commented on #24266
Closing since Jenkins is no longer.  Will track in core-eng if it remains an issue in Azure Pipelines.

[2019-05-22 17:18] #24266 closed

[2019-05-22 17:19] andy-ms commented on #24658
Can confirm that on windows an linux, there is a *decrease* in gen0 collections with `ConcurrentQueue<int>`, and a very small increase for `object` or `Lazy<int>`. Testing with:
[code]
(Building in debug mode, otherwise the code is optimized away for `object`; though `ConcurrentQueue` and `Lazy<int>` seem the same either way.)
Do we have any macs to test on?

[2019-05-22 17:23] RussKeldorph commented on #24296
Duplicate of dotnet/core-eng#5754

[2019-05-22 17:23] #24296 closed

[2019-05-22 17:23] leculver commented on #24549
@myarichuk Could I trouble you to re-run this test with stress logs enabled?  This would be "set COMPlus_StressLog=1" as an environment variable before running the test.

This greatly helps us track down this kind of failure.  Thank you!

[2019-05-22 17:26] RussKeldorph commented on #6298
Closing stale.  Will revisit if/when this environment is running regularly again.

[2019-05-22 17:26] #6298 closed

[2019-05-22 17:28] huoyaoyuan commented on #24668
CLR has even less knowledge than analyzer. I guess you want to let CLR "auto-detect" a method's ownership of a disposable. But it's even **much more harder** than verifying and enforcing.

If you want something make people to follow the pattern easily, it falls into language design.
Many people may have the same idea of this proposal, but it's nothing to do with it **in CLR now**.

[2019-05-22 17:36] RussKeldorph commented on #10209
@janvorli Just checking on old bugs.  Is this still on your plate for for 3.0?

[2019-05-22 17:38] RussKeldorph commented on #11729
Closing stale.  @billwert FYI

[2019-05-22 17:38] #11729 closed

[2019-05-22 17:39] RussKeldorph commented on #15333
dotnet/core-eng#5982

[2019-05-22 17:40] jeremyVignelles commented on #24668
You might be right, this proposal would probably better fit in csharplang, but it will probably have implications in corefx (where annotations will likely be declared).
Can someone move that proposal to the appropriate repository?

[2019-05-22 17:40] RussKeldorph commented on #15334
Closing in favor of getting on arcade proper.

[2019-05-22 17:40] #15334 closed

[2019-05-22 17:48] janvorli commented on #10209
I've actually retried the test run about a week ago the lab and it passed, so it might have been an issue specific to the OSX version we were using in the past. I'm going to reenable the test and then close this issue.

[2019-05-22 17:48] RussKeldorph commented on #15963
We are currently testing linux-musl-x64 release builds as part of the default mix.  Re-open if this isn't sufficient.

[2019-05-22 17:48] #15963 closed

[2019-05-22 17:52] RussKeldorph commented on #17494
@billwert @adiaaida @adamsitnik I assume this should be closed in favor of the dotnet/performance-based infra.  Please re-open if I'm wrong.

[2019-05-22 17:52] #17494 closed

[2019-05-22 17:56] #24657 closed

[2019-05-22 17:59] CarolEidt commented on #24657
This was indeed a duplicate of #18522. The fix will be in 3.0.

[2019-05-22 18:03] CarolEidt commented on #22758
@tannergooding - you mentioned here: https://github.com/dotnet/coreclr/pull/22666#issuecomment-466189282 that you'd be willing to take a look at this - is this still something you would be willing to do?

[2019-05-22 18:08] tannergooding commented on #22758
Yes. I should be able to finish this before end of the week.

[2019-05-22 18:09] RussKeldorph commented on #17810
Closing stale.  No reports in last two months.

[2019-05-22 18:09] #17810 closed

[2019-05-22 18:12] AndyAyersMS commented on #24714
Modelling liveness of the pinned slot is complicated: it generally must remain live as long as any derived unmanaged pointer is live. Underestimating the liveness of a pinned local is catastrophic. So we choose to simply consider pinned locals as always live, and so pinned locals must be initialized in the prolog and generally can't be dead-stored.

With the advent of `Span<T>` and helpers for byr

[2019-05-22 18:14] AndyAyersMS commented on #24713
Might want to consider fixing the zero reg issue for 3.0, but will mark as future.

[2019-05-22 18:17] AndyAyersMS commented on #24710
Marking as future; if there's something surgical we can fix, or there's a bug, we can move to 3.0.

[2019-05-22 18:19] CarolEidt commented on #24713
Right - the zero reg issue should be pretty straightforward to fix, but as @mikedn indicates, the allocation and code generation for register pairs is somewhat more complex (though, thankfully, should be easier than the arm32 doubles!)

[2019-05-22 18:19] AndyAyersMS commented on #24711
@TamarChristinaArm do you plan to put up a PR to fix this?

Marking as future but if it's just expanding the containment check we probably would take it in 3.0.

[2019-05-22 18:21] RussKeldorph commented on #19690
Assuming fixed by #24259.  Remaining work tracked in #24501.

[2019-05-22 18:21] #19690 closed

[2019-05-22 18:26] AndyAyersMS commented on #18181
Note hot/cold splitting was only ever supported in fragile NGEN. So we'll need runtime support if we're going to do this for R2R or for jitting.

[2019-05-22 18:28] hoyosjs commented on #24724
By design. This falls to:
[code]
If a debugger is attached you'll get a argument mismatch log in the Debugger from TraceEvent.

However, this seems like a really easy way to get screwed up events without even realizing. To make it worse, the message provided is near to useless: `The parameters to the Event method do not match the parameters to the WriteEvent method. This may cause the event to be

[2019-05-22 18:32] BastianBlokland commented on #24657
Thank you for investigating, looking forward to upgrading to 3.0 👍

[2019-05-22 18:35] igloo15 commented on #20287
@gaviriar This is off topic but have you tried the Windows Compatibility NuGet Package it provides windows apis for .NET Core for the exact purpose you are describing [Microsoft.Windows.Compatibility](https://docs.microsoft.com/en-us/dotnet/core/porting/windows-compat-pack)

[2019-05-22 18:40] arcooke opened #24727 "Run crashes without output. Internal CLR error 0x80131506 after clean."
Hi.  I am running core 3 preview on two linux systems.  Same versions, same projects, both installed with snaps.  The runtime crashes on Solus, but not on KDE Neon (Ubuntu 18.04)

**DOES** crash:
[code]

Does **NOT** crash:
[code]

---

(the rest of this is related only to the Solus system)

The first issue I encountered is `dotnet run` was crashing without any output.  See a screen recording here

[2019-05-22 18:43] RussKeldorph commented on #24668
@karelz Please either move as requested or close this issue and advise opening another following https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md.

[2019-05-22 18:43] sywhang commented on #24724
You passed it once, with an incorrect number of parameters.

Improving the diagnostic message passed to the debugger can certainly be done but it doesn't seem that high of a priority now. I'll file a separate issue for that.

[2019-05-22 18:43] #24724 closed

[2019-05-22 18:46] sywhang opened #24728 "Improve logging for EventSource.WriteEvent parameter mismatch"
See: https://github.com/dotnet/coreclr/issues/24724#issuecomment-494913143

When WriteEvent() is called with an incorrect number of parameters, we log a message to the debugger but it doesn't contain any info about the EventSource or EventId or the argument passed, which would be helpful when diagnosing which call to WriteEvent failed: https://github.com/dotnet/coreclr/blob/master/src/System.Priva

[2019-05-22 19:10] mthalman commented on #24568
@RussKeldorph - Note that this also applies to 2.x.  Alpine 3.9 falls under the list of supported OS versions at [.NET Core 2.1 - Supported OS versions](https://github.com/dotnet/core/blob/master/release-notes/2.1/2.1-supported-os.md) and [.NET Core 2.2 - Supported OS versions](https://github.com/dotnet/core/blob/master/release-notes/2.2/2.2-supported-os.md).

It's important this get done very soo

[2019-05-22 20:02] BruceForstall commented on #18181
That's true for all platforms (that implemented hot/cold splitting)?

Hopefully there is an issue to fix that, too.

[2019-05-22 20:24] AndyAyersMS commented on #18181
I believe so, yes. `CORJIT_FLAG_PROCSPLIT` is only set by the zapper, and is then turned off when we're doing R2R. Not sure if there's an issue.

https://github.com/dotnet/coreclr/blob/96e8c58d77762497a8333e675db2fd396887decb/src/zap/zapinfo.cpp#L455-L459

[2019-05-22 20:31] sandreenko commented on #23624
More data about tests\src\JIT\Methodical\tailcall\Desktop\_il_relthread-race
All numbers are in seconds for the default mode (Checked without complus vars):

arm32 Linux shows min = 2.2, max = 7, factor 3;
x64 Linux shows min = 1.1, max = 28, factor 25;
arm64 Linux shows min = 1.7, max = 600(timeout), factor 350.

x64 Windows min = 2, max = 256, factor 128;
x86 Windows min = 2, max = 350, factor 1

[2019-05-22 20:32] hoyosjs commented on #24720
Looks like we are trying to do FuncEval on an invalid memory address, but without a repro I'm not sure how easy it will be to diagnose which component is at fault here. That being said, the runtime should be a bit more resilient here and see if it's an alignment issue or if such object is not available yet.

@sebastianbk Do you have a small repro where we can take a look at this? And not sure if y

[2019-05-22 21:28] briansull commented on #3850
Issue #3600 is Fixed with PR #3914

[2019-05-22 21:30] briansull commented on #3850
Closing this old issue

[2019-05-22 21:30] #3850 closed

[2019-05-22 21:32] briansull commented on #12153
No longer repros:

[code]

[2019-05-22 21:32] #12153 closed

[2019-05-22 21:39] sandreenko commented on #23624
If you ask Kusto a query like this:
[code]

it will show you data like this:

| Method                                  | max_min_factor   | Properties                                                                                                         | min_Duration | max_Duration | count_ |
|-----------------------------------------|------------------|-----------------------------------------

[2019-05-22 21:54] swaroop-sridhar commented on #20287
@gaviriar: A few more clarifications:

This depends on the build. Both framework-dependent (runtime is installed on the target), and self-contained (runtime is packaged with the app) apps can be published as a single-file -- but only .net core 3.0 apps.

For .net framework, the best solution I can suggest is for the app to handle the file-extraction for itself. For example: embed the dependencies

[2019-05-22 21:56] briansull commented on #23624
That query indicates that a  very few set of  "huge tests"  have widely varying executions times.
Which can happen when an O/S has to resort to paging the virtual memory out to disk.

_regress_ddb
_opt_cse_HugeField2
_opt_cse_HugeArray
_opt_cse_hugeexpr1

[2019-05-22 22:18] #24661 closed

[2019-05-22 22:59] Maoni0 commented on #24716
related to [#18044](https://github.com/dotnet/coreclr/issues/18044) that @janvorli was looking at.

[2019-05-22 23:20] smoogipoo commented on #24658
@andy-ms on mac I get:

[code]

[2019-05-22 23:44] #24166 closed

[2019-05-22 23:47] AndyAyersMS commented on #24173
Looks like I can repro the failure case that prints `128`, on Linux x64. It just requires 0xC gc stress. Investigating.

[2019-05-22 23:48] mikem8361 commented on #22248
Moved to diagnostics repo: https://github.com/dotnet/diagnostics/issues/280

[2019-05-22 23:48] #22248 closed

[2019-05-23 02:00] AndyAyersMS commented on #24173
I think this is a bad test.

The `Main` method pins an object `Test.AA` which has an array field `m_ai`. It then stores addresses of the array elements of `m_ai` into a second array. Later it runs through this second array and dereferences the addresses. But since the source array is not pinned, it can move, and it will if GC kicks in at just the right point.

Presumably the failure is sporadic be

[2019-05-23 02:12] AndyAyersMS commented on #24173
Actually the `i` version already got fixed, somewhere in the mists of time (pre 2010).

[2019-05-23 02:15] AndyAyersMS commented on #24173
Fixing this should also fix #24464

[2019-05-23 03:57] andy-ms commented on #24658
@smoogipoo Thanks, I got access to a mac and can easily reproduce this with just `object`.

[2019-05-23 10:56] TamarChristinaArm commented on #24711
@AndyAyersMS sure, I'll send a PR for it.

[2019-05-23 13:20] sebastianbk commented on #24720
I have created a repro here: https://github.com/sebastianbk/LazyLoadingCrash

You need to have a PostgreSQL server running on your local machine. Update the connection string on this line to match your local credentials:

https://github.com/sebastianbk/LazyLoadingCrash/blob/ac64356f5a4e9176f6271f186fa194371479f0ec/Startup.cs#L41

Set a breakpoint on this line:

https://github.com/sebastianbk/LazyL

[2019-05-23 13:20] sebastianbk commented on #24720
@hoyosjs @gregg-miskelly Please let me know if you need any additional information.

[2019-05-23 15:36] lucaspimentel commented on #16796
Looks like profiler attach support on Windows was added in #18762.

[2019-05-23 16:24] TamarChristinaArm commented on #24712
But the block doesn't have to be empty to remove the unconditional branch. The unconditional branch is always the last statement in the block, so if the edges were re-arranged such that the block you unconditionally branch to is the next BB after the one with the conditional you could just call through, or alternatively re-order the branch conditions, then you don't have to change the edges.

Unle

[2019-05-23 16:31] TamarChristinaArm commented on #24714
Ahhh ok, now it makes sense why that sequence was generated.

Thanks for the explanation that makes a lot of sense. The only thing I'm still wondering about though is why the load
[code]

here of `x1`? Is this just an artifact of that it's doing the update of the address thats pinned by doing a reload? Or is it an actual requirement to load the value back up.

[2019-05-23 16:48] cartermp commented on #2556
We're now hitting this more prominently with F# on Unix being far more widespread. We're also going to have a .NET Core-based editing experience in VSCode and eventually VS for Mac.

[2019-05-23 17:09] janvorli commented on #24727
@arcooke could you please try that with a simple hello world app (unless that's what you were using)? Just run `dotnet new console`. I would then run `dotnet restore` and `dotnet build` separately, the `dotnet run` combines those and it seems likely that one of these was actually crashing.

[2019-05-23 17:35] #24173 closed

[2019-05-23 17:35] #24464 closed

[2019-05-23 17:35] stephentoub opened #24742 "Tracing for dynamic assembly loading?"
It seems we don't have a good way to debug why assembly loads fail, e.g. what probing was done by the runtime when an Assembly.Load(string) fails to find the target assembly.

[2019-05-23 17:36] AndyAyersMS commented on #23309
@leecow can you suggest a good way for @farlock85 to share a large dump file?

[2019-05-23 17:49] #23221 closed

[2019-05-23 17:50] leecow commented on #23309
The best bet is probably to open a [VS Dev Community](https://developercommunity.visualstudio.com/content/problem/post.html?space=61) issue. It includes a file attachment option which should do the trick.

[2019-05-23 18:06] mikedn commented on #24714
Ah, so it's not that GC info has special requirements, it's just that the semantic of pinned variables and "standard" liveness do not quite match. Still, I'd argue that there is no need to remain live as long as any derived pointer is live - it's not the JIT's job to fix broken code like:
[code]
Presumably we could insert some kind of fake use before every store to a pinned variable (and probably

[2019-05-23 18:30] CarolEidt commented on #24714
I agree that your example is broken, though I think the requirement is that it must remain live the shorter of:
- however long any derived pointer is live
- the end of the scope

That is, if the assignment to `*d` in your example above was in the scope of the fixed statement, then I think the JIT would have to keep `p` alive and reported, though I haven't gone back to the spec to verify. That said

[2019-05-23 18:36] davmason commented on #16796
Windows only support was added in #18762, yesterday I checked in #24670 which removes the windows only attach mechanism and replaces it with one that works on windows and linux.

I am leaving this issue open for now until I get documentation on how to consume it. The short answer is to use the code I added to Microsoft.Diagnostics.Tools.RuntimeClient here https://github.com/dotnet/diagnostics/pull

[2019-05-23 19:23] daniel-white commented on #24676
i'd appreciate a fix in 2.1

[2019-05-23 19:28] #1550 closed

[2019-05-23 19:28] #1549 closed

[2019-05-23 19:31] #1427 closed

[2019-05-23 19:34] jkotas commented on #1344
This was solved by https://github.com/dotnet/arcade/. The shared scripts are in the https://github.com/dotnet/coreclr/tree/master/eng and synchronized across all repos.

[2019-05-23 19:34] #1344 closed

[2019-05-23 19:42] #1494 closed

[2019-05-23 19:44] #1508 closed

[2019-05-23 19:49] jkotas commented on #4098
Duplicate of https://github.com/dotnet/corefx/issues/4696

[2019-05-23 19:49] #4098 closed

[2019-05-23 19:50] jkotas commented on #1872
CAS is not supported in .NET Core.

[2019-05-23 19:50] #1872 closed

[2019-05-23 21:02] farlock85 commented on #23309
Probably easier just to use our OneDrive :)
https://corecreative-my.sharepoint.com/:u:/g/personal/roger_versluis_fieldcap_ca/EaeRpn94-U5AudwtDJTOPogBfLkp8VGohAIIint7imu2aw?e=xBFxOd

[2019-05-23 21:18] #24051 closed

[2019-05-23 21:24] #23683 closed

[2019-05-23 21:27] #22484 closed

[2019-05-23 21:27] janvorli commented on #24727
Seems to be a dup of https://github.com/dotnet/cli/issues/11403

[2019-05-23 21:35] #18898 closed

[2019-05-23 21:36] jkotas commented on #18855
`perf.groovy` is gone

[2019-05-23 21:36] #18855 closed

[2019-05-23 21:38] jkotas commented on #18699
These tests are enabled now.

[2019-05-23 21:38] #18699 closed

[2019-05-23 21:40] jkotas commented on #18533
Duplicate

[2019-05-23 21:40] #18533 closed

[2019-05-23 21:49] ibasin opened #24748 "AsyncLocal<> does not play nice with IAsyncDisposable interface"
AsyncLocal which is supposed to represent "ambient data that is local to a given asynchronous control flow, such as an asynchronous method" does not work when IAsyncDisposable interface is used. Changes to the Value of an AsyncLocal<> that are made inside the DisposeAsync() method do not persist outside of the DisposeAsync() method meaning that they are counted as running is a separate logical con

[2019-05-23 21:59] jkotas commented on #24748
cc @stephentoub

[2019-05-23 21:59] pakrym commented on #24694
+ Limited size of payload that forces us to roll out our own payload splitting mechanism

[2019-05-23 22:02] stephentoub commented on #24748
This doesn't have anything to do with IAsyncDisposable: it has to do with methods implemented using async/await (which you've used to implement your DisposeAsync method).  When you invoke an `async` method, a guard is erected that prevents any changes to ExecutionContext from flowing out from the async method to the caller.  That's been the behavior since async/await were introduced.

[2019-05-23 22:17] lpereira commented on #16162
This issue happens because `FILEDosToUnixPathA()` removes the trailing period before `/` when converting a DOS path to a Unix path. [This seems to be correct according to the Path normalization doc](https://docs.microsoft.com/en-us/dotnet/standard/io/file-path-formats), under Trimming characters:

While this might be a valid assumption under DOS, a segment ending in a period is valid in Unix. I do

[2019-05-23 22:20] ibasin commented on #24748
That makes sense. Thank you.

What do you think would be a good way of incrementing on creation and decrementing on disposal of an ambient context variable if a copy of the ExecutionContext is created when DisposeAsync() is called?

[2019-05-23 22:28] #24748 closed

[2019-05-23 22:47] noahfalk commented on #24694
What scale of payload do you need to log?

[2019-05-23 22:51] noahfalk commented on #24694
For exceptions do you have any particular expectations for what the serialized format is?

[2019-05-23 22:57] elinor-fung opened #24751 "IBC merge should be switched to the Arcade system"
There is currently a separate project (`src/.nuget/optdata/ibcmerge.csproj`) just for restoring and getting the version for the IBC merge package. Then, the build script uses that version to determine the path to that package and uses the contents of that package directly.

The above should be removed and coreclr should rely on the system provided by Arcade for IBC merge:
- set `UsingToolIbcOptimi

[2019-05-24 00:19] jorive opened #24753 "[EventPipe] A follow up to "Create the Concept of Multiple EventPipe Sessions #24417""
## Follow up to https://github.com/dotnet/coreclr/pull/24417

### Fixme:

- [ ] EventPipe::Shutdown seems to be called more than once
- [ ] Review if it is safe to call `EventPipe::Disable` on `EventPipe::Shutdown` (`EventPipe::Disable` removes the session from the container we are iterating on `EventPipe::Shutdown`)
- [ ] Review why `EventPipe::WriteEvent` seems to be called after `EventPipe::Shu

[2019-05-24 00:19] jorive commented on #24753
/cc @noahfalk @cshung @tommcdon

[2019-05-24 02:33] #10209 closed

[2019-05-24 06:09] mikedn commented on #24714
That's not specific to pinned variable. Any variable that isn't "tracked"/"register candidate" for whatever reasons (e.g. being pinned, being address exposed) will produce this kind of code. For example:
[code]
generates:
[code]
BTW, since you're working on ARM code beware that those `ldrsw` are misleading. There's no requirement in the JIT that `TYP_INT` values are sign extended to 64 bit on load

[2019-05-24 07:35] mikedn commented on #24714
Yes, of course, though in this particular case it's the array reference (`a`) that gets pinned. Basically pinned variables have to be kept alive until return, it's just that the JIT is more conservative than that and also prevents enregistration.

I suppose this could be blamed on the C# compiler as well. The semantics of `fixed` requires only 2 stores to the pinned variable - one at the beginning

[2019-05-24 07:41] mikedn commented on #24712
I'm not sure I understand. If neither block is empty then the only flow control transform that you can do here is branch inversion and that doesn't help. Perhaps you have in mind an additional IR transform?
[code]
could become
[code]
That would work but yes, the JIT doesn't do anything like this today. Though I happen to have an if conversion experiment that could be extended to handle this case.

[2019-05-24 10:45] s0dy opened #24757 "No usable version of the libssl was found (openssl 1.1.1b)"
I get a message "No usable version of the libssl was found" when I run the build.sh (Exherbo linux)

`
/usr/x86_64-pc-linux-gnu/lib/libssl.so.1.1*
`
`
/usr/x86_64-pc-linux-gnu/lib/libssl.so -> libssl.so.1.1
`

I launched two containers that were offered in the documentation to see the libraries used

Alpine container
`
/usr/lib/libssl.so -> libssl.so.1.0.0
`
`
/usr/lib/libssl.so.1.0.0 -> ../../lib

[2019-05-24 13:42] stephentoub commented on #24748
What are you actually trying to achieve? i.e. can you share a small sample of code that would be using this type?  What is meant to happen when the count hits zero?

CallContext would behave the same way; it's stored in ExecutionContext as well.  Are you porting something from .NET Framework that was working there?

[2019-05-24 13:43] arcooke commented on #24727
Thanks

I just tried this with a simple hello world app, and it still crashes in the same way.  I don't have any issues with `dotnet restore` or `dotnet build` separately, but it still crashes with no output on `dotnet run`

[code]

[2019-05-24 16:00] AndyAyersMS commented on #23309
This is now hitting an overflow in the code the jit generates -- specifically, in the prolog stack tickling  (which tries to ensure all needed stack pages for a method are touched before the method runs):
[code]
That big hex constant is `-1,635,744‬` so this method needs about 1.5 MB of stack to execute.

I will look back at the simple example to get some idea why the jit is creating such a large

[2019-05-24 16:16] pakrym commented on #24694
For in-process listeners, I'd like to be able to pass Exception instance and strings of arbitrary length around. The problem is that it doesn't work with ETW.

[2019-05-24 16:19] #24087 closed

[2019-05-24 16:26] jkotas commented on #22103
Building with VS2019 worked fine for a while now.

[2019-05-24 16:26] #22103 closed

[2019-05-24 16:31] ibasin commented on #24748
I am building EF Core data access with unit of work that stores its context in teh ambient variable and save the data on when using statements scope ends. Units of work in the ambient context are stored in the stack so that they can be nested. I figured out how to make it work. I just wrapped my stack in a wrapper that derives from MarshalByRefObject like this:

        private sealed class StackW

[2019-05-24 16:37] jkotas commented on #18984
This attribute is gone from CoreCLR and mscorlib.

https://github.com/dotnet/csharplang/issues/1724 tracks the language feature that this is really about.

[2019-05-24 16:37] #18984 closed

[2019-05-24 16:43] TamarChristinaArm commented on #24712
No that's correct, In my original post I had confused the cases where it generated the `mov w1, 3`.  I mixed the two issues of why it had generated that `mov` and why in the second case the additional branch was needed.

You're right that if-conversion would certainly give the best code in such cases.

[2019-05-24 16:54] pfaustinopt commented on #22137
How can I accomplish this if my application is deployed to the client environment? I was moving my code from EF6 to EF Core but this error started to occur (I'm also using Autofac). Should I keep using EF6 until .net 4.8 is released?

[2019-05-24 16:57] omariom commented on #24710
It might be related. `xmm0` is spilled to the stack.
[code]

[2019-05-24 17:26] tomrus88 commented on #24397
PublishTrimmed option now failing on all project types (Console/WinForms/WPF) as of latest daily .NET Core build.

[2019-05-24 17:48] sbomer commented on #24397
@tomrus88 thank you for letting us know - I'm taking a look now. What is the failure you're seeing?

[2019-05-24 17:59] Maoni0 commented on #24716
also in 3.0 you can set a hard limit for heap size [#22180](https://github.com/dotnet/coreclr/pull/22180). also explained [here](https://devblogs.microsoft.com/dotnet/running-with-server-gc-in-a-small-container-scenario-part-1-hard-limit-for-the-gc-heap/)

[2019-05-24 20:20] #24629 closed

[2019-05-24 20:29] WardenGnaw opened #24766 "[ARM64] Missing target process's ModuleLoad Event"
Runtime version: _dotnet-runtime-3.0.0-preview5-27626-15_

When debugging a target process in ARM64, the process only sends a ModuleLoad event for System.Private.CoreLib.dll. There is no event for the target process's own dll.

Even if the target process is a infinite loop and after the module load of SPC, the DBI will send a ProcessExited event and stop running when it should still be running.

[2019-05-24 21:48] noahfalk commented on #24694
The context of this issue is that EventSource events were getting serialized as a string so they could be put into a text log. That requires the runtime to convert the exception into a string of some form. If you want to pass around exception object instances and get references back as-is from an in-proc sink that sounds like a scenario DiagnosticsSource was aiming to handle. If you also didn't wa

[2019-05-24 21:59] noahfalk commented on #22137
It really depends what control you have over that client environment. For example in the likely case that you make an installer that contains your app and it copies files to the client then you could probably do option 4 and include the config file as part of your app. Does that answer what you were looking for or was there some other issue you forsee?

[2019-05-24 22:03] pfaustinopt commented on #22137
Option 4 will work on both x86 and x64?

A sexta, 24/05/2019, 22:59, Noah Falk <notifications@github.com> escreveu:

[2019-05-24 22:05] noahfalk commented on #22137
Yep : )

[2019-05-24 22:08] pfaustinopt commented on #22137
Then that option is valid. I'll give it a try and give you feedback.

Thanks for the help!

A sexta, 24/05/2019, 23:06, Noah Falk <notifications@github.com> escreveu:

[2019-05-24 22:26] #24705 closed

[2019-05-24 22:31] pakrym commented on #24694
Let me clarify where I'm coming from. Even if we add support for console text logging to EventSource we would still need a way to forward events from EventSource to ILogger for scenarios where the library is used in ASP.NET Core environment.

So you are right that this is not a request for purely "text logging" improvement, more something we would need to have if EventSource would be the only logg

[2019-05-24 23:26] #24711 closed

[2019-05-24 23:49] jorive opened #24772 "Investigate "tests/src/tracing/*" failures on Alpine amd64"
Test has been disabled with https://github.com/dotnet/coreclr/pull/24417

The logs show a segfault on tracing disable (only Alpine):
[code]

[2019-05-24 23:58] noahfalk opened #24773 "Explore using EventSource in front of ILogger"
Today there is some friction using ILogger from .Net libraries. Different library authors may have different reasons but some common examples would be ILogger isn't shipped as part of the BCL, or that they don't want to create requirements that the library user pass in an ILogger instance. There are different ideas on how to get deal with this, one of them being use EventSource from the library an

[2019-05-24 23:59] noahfalk commented on #24694
Gotcha - I just opened #24773 which I think is a little more targeted at your aim.

[2019-05-25 00:41] tomrus88 commented on #24397
Looks like you already found out what's wrong :)

[2019-05-25 08:17] am11 commented on #872
For Solaris derivatives such as SmartOS, LLVM plugins and projects are currently not readily available and neither is the original HP libunwind. However, we have [`stack_unwind.h`](https://github.com/illumos/illumos-gate/blob/master/usr/src/head/stack_unwind.h) available in system headers.

On the other hand, someone in the community attempted to bring up libunwind to Solaris x64 a while back (htt

[2019-05-25 10:37] Gnbrkm41 opened #24778 "`System.GC.Collect` throwing System.ExecutionEngineException while running BenchmarkDotNet"
[code]
Environment is as above; `Release/AnyCPU` build.
The code used can be found at https://github.com/Gnbrkm41/ExecutionEngineExceptionDebugging, with the full console output. (Side note: the methods being tested aren't mine!)

[code]

[code]

When ran (with the debugger attached), Visual Studio seems to point one of the auto-generated source codes inside `[Some random GUID]\[That random GUID].

[2019-05-25 10:38] Gnbrkm41 commented on #24778
I tried it on two separate machines (both have preview 5 installed), and they all seem to fail with the same reason.

[2019-05-25 11:50] andrii-litvinov opened #24779 "Core dump of StackOverflowException does not provide any information about the source of the exception"
We are moving to containerized environment hosted with Docker Swarm and I want to understand how to track down StackOverflowException if it occurs.

I create simple application and build it in a container in Debug mode to avoid tail recursion optimization and force StackOverflowException.

[code]

[code]

Entry point script to set ulimit core to unlimited to enable core dump creation, because Dock

[2019-05-25 13:21] AndreyAkinshin commented on #24778
@Gnbrkm41 thank you very much for the detailed report. It can be a bug in .NET Core 3.0.0-preview5-27626-15. Could you please rerun your benchmark on the latest version of .NET Core 2.2?

[2019-05-25 13:25] Gnbrkm41 commented on #24778
@AndreyAkinshin I did think about running it on Core 2.2 however the methods being tested involves `System.Runtime.Intrinsics` namespace which is only present in Core 3.0.

[2019-05-25 13:50] eli-fin commented on #5147
I ran into this issue when trying to break on JIT_GetSharedNonGCStaticBase__PatchTLSLabel in WinDBG.
(bp clr!JIT_GetSharedNonGCStaticBase__PatchTLSLabel)
As a workaround, I just set the breakpoint to the second instruction in the function.
(JIT_GetSharedNonGCStaticBase__PatchTLSLabel+9)

[2019-05-25 14:51] jkotas commented on #24778
This crash is caused by buffer overrun in the unsafe code used in implementation of `FastFillVectorized` method.

It is not a bug in .NET Core runtime.

[2019-05-25 14:54] Gnbrkm41 commented on #24778
Ooh, right... closing the issue then.

Thanks!

[2019-05-25 14:54] #24778 closed

[2019-05-25 14:56] jkotas commented on #24779
cc @mikem8361

[2019-05-25 15:51] cup commented on #24397
https://github.com/dotnet/coreclr/issues/24397
https://github.com/mono/linker/pull/567
https://github.com/mono/linker/pull/582

[2019-05-25 15:59] jkotas commented on #24757
This error message comes from here: https://github.com/dotnet/corefx/blob/master/src/Native/Unix/System.Security.Cryptography.Native/opensslshim.c#L84

The logic that loads libssl is right above it. You should cross-check it with your distro (e.g. copy & paste it into a small standalone program and see where it does not work).

Also, you can try experimenting with setting `CLR_OPENSSL_VERSION_OVER

[2019-05-25 15:59] #24757 closed

[2019-05-25 16:42] EgorBo opened #24784 "Configurable floating-point behavior"
As far as I understand, currently `Math/MathF` native code is compiled with `/fp:fast` (`-ffast-math`) however, a pure C# code behaves more like `/fp:precise`
So it could be a problem for e.g. game developers who develop games (or backends for them) where they want all floating point operations to be 100% repeatable on all clients/hardware or different software compiled in `/fp:precise` mode. E.g.

[2019-05-25 17:24] mikem8361 commented on #24779
1) The size of the "full" core dump (`COMPlus_DbgMiniDumpType=4`) has been fixed in the latest coreclr (will be in Preview 6 of 3.0), but you should NOT need that to get good stack trace information.
2) The !UNKNOWN problems with minidumps has been fixed in the "new" SOS out of the diagnostics repo (see https://github.com/dotnet/diagnostics#installing-sos on how to install it).  It will work with

[2019-05-25 17:51] mikem8361 commented on #6469
See this link on core dump debugging with the new SOS: https://github.com/dotnet/diagnostics#installing-sos

See this link on new SOS symbol features: https://github.com/dotnet/diagnostics#new-features

[2019-05-25 17:51] #6469 closed

[2019-05-25 18:01] mikem8361 commented on #24779
I can repo the problem that `clrstack` doesn't display any method info about the managed frames. I'll continue to investigate this problem.

[code]

[2019-05-25 18:07] mikem8361 commented on #24779
The managed stack unwinder (in the DAC) is having problems with the stack overflow probably because we are on an alternate stack when the process aborts on an overflow.

[2019-05-25 19:30] mikem8361 commented on #24779
See issue: https://github.com/dotnet/diagnostics/issues/66

[2019-05-26 01:10] omariom commented on #3490
An example where it is done manually exactly for the described purpose
https://github.com/aspnet/AspNetCore/pull/10413/files#diff-9cc149cadfda6dc6ada056c18f93c3ebR10

[2019-05-26 02:32] xiangzhai commented on #24654
I am investigating release/2.1 branch, why [CORDisableJITOptimizations(GetModule()->GetDebuggerInfoBits())](https://github.com/dotnet/coreclr/blob/release/2.1/src/vm/method.hpp#L1256) is `true`:

[code]

[2019-05-26 04:50] AaronRobinsonMSFT opened #24786 "A/V Exceptions in unsafe delegate cause runtime failure"
An A/V in an `unsafe` delegate causes the runtime to crash. See below for example code.

On Windows the dereference of a `null` is converted to a `System.NullReferenceException`, but not on Linux. The IL instruction in this case is `ldind.i4`. Based on Ecma-335, that instruction can trigger a `NullReferenceException` for `null` as well as misalignment - which would seem to imply the catch block sh

[2019-05-26 06:07] sandreenko opened #24787 "All ci jobs are failing with TF400677: Host does not exist."
https://dev.azure.com/dnceng/public/_build?definitionId=228&_a=summary:
Save product build as pipeline artifact:
[code]

CoreFX/RT are working fine.

PTAL @MattGal @RussKeldorph @echesakovMSFT

[2019-05-26 09:04] EgorBo commented on #24784
Btw, even without the fast mode this codegen looks suboptimal:
[code]
output:
[code]
instead of just:
[code]

[2019-05-26 09:47] xiangzhai commented on #24654
It doesn't need to workaround `IsEligibleForTieredCompilation` any more:

[code]

Then `GenerateInterpreterStub` works:

[code]

[2019-05-26 09:47] #24654 closed

[2019-05-26 11:44] myarichuk commented on #24549
Thanks for looking into this!
Sure, I will rerun this with this env variable and share the results asap.

[2019-05-26 11:59] EgorBo commented on #24784
hm... so since https://github.com/dotnet/coreclr/pull/9369 was not merged `Math` internal calls are compiled with `/fp:fast` on Windows but have rather precise behavior on Unix?

[2019-05-26 13:31] myarichuk commented on #24549
There are couple of places we do single-bit flips through pointers, but those are heavily tested areas and judging by the corrupted objects pretty far from those code areas.

[2019-05-26 18:12] echesakovMSFT commented on #24787
It could be due to this change https://github.com/microsoft/azure-pipelines-agent/pull/2225. Our builds started failing right after the PR was merged and the changes alter behavior of PublishPipelineArtifact task.

cc: @jahsu-MSFT @TingluoHuang

I am trying to switch away from using PublishPipelineArtifact to PublishBuildArtifacts and see whether this helps to unblock CI (https://github.com/dotnet

[2019-05-26 19:03] redradist opened #24789 "[Question] Another Build System"
MSBuild is not a perfect Build Tool ...
Unfortunately it is not easy to create custom target and extend Build Tool with plugin ...

Do you consider a switch at least to other Build System ?

On other hand there is exist Gradle. It is very extensible Build System and very easily extended with custom plugin.
There is an open issue https://github.com/gradle/gradle/issues/1428 which is relates to supp

[2019-05-26 19:47] svick commented on #24789
What exactly do you find hard about extending MSBuild when compared with Gradle? What makes you think that switching to a completely separate tool would be easier than improving the exiting one?

[2019-05-26 22:50] TingluoHuang commented on #24787
@echesakovMSFT the agent PR shouldn't affect production since i haven't release a newer version agent which contains the new change.

[2019-05-27 01:44] danmosemsft commented on #24789
Closing this in favor of the duplicate that is in the more appropriate repo.

[2019-05-27 01:44] #24789 closed

[2019-05-27 01:44] danmosemsft commented on #24789
Amongst other problems, Gradle would require a new prereq (or two)

[2019-05-27 01:49] danmosemsft commented on #8694
Tracking with https://github.com/dotnet/corefx/issues/35647

[2019-05-27 02:35] joshudson opened #24791 "CMake Deprecation Warning: The OLD behavior for policy CMP0037 will be removed from a future version of CMake."
CMake Deprecation Warning at tests/src/Interop/PInvoke/DllImportPath/CMakeLists.txt:11 (cmake_policy):
  The OLD behavior for policy CMP0037 will be removed from a future version
  of CMake.

  The cmake-policies(7) manual explains that the OLD behaviors of all
  policies are deprecated and that a policy should be set to OLD only under
  specific short-term circumstances.  Projects should be porte

[2019-05-27 10:46] mihail-vladov commented on #24680
Hi, sorry for the late response. Yes, we are calling the SetILInstrumentedCodeMap. However, everything there seems to be fine as the same profiler works without a problem for .Net Framework for years now.
Is there anything different for .Net Core?
If you have any suggestions on how we could find the roots of this problem is welcome.

[2019-05-27 11:48] janvorli commented on #872
I may be missing something, but it seems that the stack_unwind.h header you have mentioned contains only the higher level unwind functions. They are not sufficient for implementing the unwinding that coreclr needs. So it seems that continuing porting the non-gnu libunwind is the right approach.

[2019-05-27 12:35] janvorli commented on #24757
I guess this issue is due to the dotnet cli version used for building coreclr. Until a couple of days ago, we were using a 2.1.503 version that didn't have support for openssl1.1.
@s0dy can you please sync to the latest master and try again? If the issue is due to what I've mentioned, it should work for you now as we've moved to a 3.0 version that supports openssl 1.1.

[2019-05-27 15:27] AaronRobinsonMSFT commented on #24787
cc @elinor-fung

[2019-05-27 15:43] devedse opened #24794 "Proposal: High performance code with readonly parameters within methods"
## Introduction

I've been building quite some algorithms in C# and doing this you often want to add some code where you can do things like logging progress or some other intermediate things that should only be executed if a certain flag is set to true. For example, let's take the following method:

[code]

If you would pass `null` as the value for progress it would still execute the if check. Whi

[2019-05-27 15:55] benaadams commented on #24794
Change
`if (progress != null)`
to either
`if (ReferenceEquals(progress, null))`
or
`if ((object)progress != null))`
or
`if (progress is object)`
or
`if (!(progress is null))`

Otherwise you go via the MulticastDelegate `==operator` which doesn't inline and is a bit slower.

[2019-05-27 15:57] devedse commented on #24794
@benaadams , would this not incur a performance penalty?

[2019-05-27 16:09] benaadams commented on #24794
`if (progress != null)` calls the method `bool operator !=(MulticastDelegate d1, MulticastDelegate d2)` and `if (progress == null)` calls the method `bool operator ==(MulticastDelegate d1, MulticastDelegate d2)`; the method then returns a `bool` which it then tests for `true`/`false` so are more expensive

The other 4 examples I gave just test if the pointer is zero; so wouldn't be much difference

[2019-05-27 16:12] devedse commented on #24794
@benaadams , thanks that might make sense to implement that way for some situations.

In my proposal there's still about a 15% overhead of the simple ifcheck which my proposal would omit.

[2019-05-27 16:32] omariom commented on #24794
Looks like C# [knows what we actually want](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBLANgHwAEAmARgFgAoQ0pAAhLoGE6BvKuzh2hlOgWQAUNYnQCGYDNggA7AJR0OXdpS5q62AGZ1BEqbLoBCALx0ZAV1y45S9W1t2ue6TMFyA3A7UBfB79VcDjT0hHz8xMKkos6yCg4qjhragoYASjCaMLAyYDAAogCO5mK4AM66ki5oZpbWNgF2CYlOlbJung3q/j5U3kA==)

[2019-05-27 16:43] mikedn commented on #24794
This is basically a case for loop unswitching, where the compiler (JIT) would create 2 versions of the loop - one with delegate calls and one without - and select between the two versions of the loop base on the delegate being null or not.

While perhaps it would be that hard for the JIT to do this, it would probably have to rely on some kind of runtime profiling because otherwise it would be diff

[2019-05-27 16:45] mikedn commented on #24794
bool isNullCallback = pixelChangedCallback == null;
// In the rest of the code
if (!isNullCallback)
{
    //Invoke...
}

That's more likely to hurt rather than help. Checking for null has the same cost as checking for true. But you have one more variable that needs to be kept alive within what's already a pretty large loop.

[2019-05-27 16:55] benaadams commented on #24794
You can sorta do what you want already using `struct`s to do generic specialization with the type system; though its a bit messy
[code]
Note you have to use `struct`s as `class`es when used as the type parameter create shared generics and won't specialize this way.

@redknightlois talks about it in his talk https://youtu.be/4yALYEINbyI?t=1878

[2019-05-27 20:04] devedse commented on #24794
Hi @omariom, not sure if you read my code but the IL does show that there's still an if check happening in your case. If I remove the action() call you can see there's a lot less IL generated, so it proves my point:

https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBLANgHwAEAmARgFgAoQ0pAAhLoGE6BvKuzujrwgZga062AHYZhdALx0ADAG4enRYPqEUdALIAKGsToBDMBmwQRASm6UubZdewAzOlsPHTdAITSRAV1y4ztlzsVtahnC4mIlpmC

[2019-05-27 20:23] benaadams commented on #24794
The generated asm for the two versions of the struct generics above showing it does what you want

https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKBrIAJjyB2Ggbxvq8YGZ6BLAHYYYUAGbYwMegEkmpTtw7VuqxilmCAbhADWMABRCM9XCIAOaAcPoYIGbABsAlAG5FXAL40P9ANoAygAW2FDmADLYwAB0AEoArsL8+DDRAFL8GADiMIKi/GAGGACe5jAQYgYAEnjyzs5WwaERUXGJGMmpGdm5+YUlZRUGAHIQdc4Aur7EfExI6vQAIhABECkYQUIA5gA8ACryAHxGN

[2019-05-27 20:32] devedse commented on #24794
@benaadams I like that idea very much actually :), smart way to solve this.

[2019-05-27 20:59] mikedn commented on #24794
It's not bad, it's just probably going to be rather difficult to get it right. `readonly` isn't useful here, the JIT should not have any problem figuring out that the null check is loop invariant without it (and the JIT doesn't really pay attention to readonly parameters, that's just a C# cosmetic thing).

The difficulty consists in deciding whether it's useful to clone such a large loop. Unless t

[2019-05-28 00:28] jahsu-MSFT commented on #24787
Do we know what's really causing ci jobs failing? (switching away from using PublishPipelineArtifact to PublishBuildArtifacts should just be a temporary approach to unblock CI builds)

[2019-05-28 07:24] devedse commented on #24794
@mikedn , makes sense. Could we include some people in this conversation that might be able to give some valid input on that?

[2019-05-28 07:28] devedse commented on #24794
@benaadams , I was just thinking about this and was wondering if we could somehow rewrite this code to not have to include the quite big if check everywhere.

Do you know if it's possible to for example override the ? operator and be able to do something like this:

progress?.Invoke(a,b,c,d);

Where in the HasAction class we have something like:

override operator ?()
{
    return typeof(TAction)

[2019-05-28 07:28] mikedn commented on #24794
@AndyAyersMS is likely the best person to comment on the chances of implementing loop unswitching in the JIT.

[2019-05-28 07:29] mikedn commented on #24794
What do you hope to gain out of that?

[2019-05-28 07:34] devedse commented on #24794
@mikedn, not having to type out that if check multiple times :). Just thinking of other smart ways to abuse the Generics example.

E.g.

Instead of this (Where you have to type that if check multiple times, which to the reader, doesn't make too much sense):
[code]

We'd have something like this:
[code]

[2019-05-28 07:44] devedse commented on #24794
@mikedn, I could also imagine that maybe adding something like the AgressiveInlining flag but then for this kind of code would make sense? (E.g. MethodImplOptions.AgressiveOptimization)

I'm not sure if this is a good idea though, because depending on the application I might be tempted to add that flag to all methods (then it would be more like the O3 option of the C++ compiler)

[2019-05-28 08:12] myarichuk commented on #24549
The "single bit flipping" sounded suspicious to me so I checked my memory with memtest86 and tried to reproduce this issue on another machine.
It appears this was happening due to hardware issue in memory sticks because:
A) it didn't reproduce on another machine
B) memtest86 has shown I had hardware issues in my memory

Thus, I am closing this issue because I think the underlying reason for this a

[2019-05-28 08:12] #24549 closed

[2019-05-28 08:16] mikedn commented on #24794
Hmm, this use of generics looks kind of odd to me. I was expected something along the lines of:
[code]
which doesn't require any kind of checks within the loop.

[2019-05-28 09:06] AriNuer opened #24799 "Test failure: Interop_PInvoke._SafeHandles_ReleaseHandle_ReleaseHandleTest_ReleaseHandleTest_/_SafeHandles_ReleaseHandle_ReleaseHandleTest_ReleaseHandleTest_cmd"
The test `Interop_PInvoke._SafeHandles_ReleaseHandle_ReleaseHandleTest_ReleaseHandleTest_/_SafeHandles_ReleaseHandle_ReleaseHandleTest_ReleaseHandleTest_cmd` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : Master - 20190527.72 (Ready-To-Run Tests)
Failing configurations:
- Windows.10.Nano.Amd64
  - x64

Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fdotne

[2019-05-28 09:41] devedse commented on #24794
@mikedn , Ideally yes, but I expect the generated IL to still contain a call to NoAction.Invoke(). Even though it does not have a body it will probably still cause overhead? Or could this be inlined into something that doesn't cause performance impact?

[2019-05-28 09:42] pfaustinopt commented on #22137
On web applications should I add the `<disableNativeImageLoad>` on the web.config?

[2019-05-28 09:48] mikedn commented on #24794
Yes, the IL will contain a call. But that's an empty method so the JIT will have no problem getting rid of the call by inlining.

[2019-05-28 10:40] devedse commented on #24794
Hmm very interesting. Ill do some performance benchmarks

[2019-05-28 11:34] benaadams commented on #24794
Note the type will have to be a struct to get the effect (can be a struct wrapper on a class); a class will create a shared generic (shared for all classes) so will be an interface call and won't inline into the generic method.

However, if the generic method itself is small and inlines into the caller where the class is a known type, then the call will change to a direct one and then can inline a

[2019-05-28 11:47] tmds commented on #24686
I've created https://github.com/dotnet/coreclr/pull/24802 for this.

Aha. Thank you for clarifying.

[2019-05-28 12:31] andrii-litvinov commented on #24779
@mikem8361 thank you for detailed explanation!

I do the following in the container I run from the committed image with dump.

Install dotnet-sdk:
[code]

Install dotnet-sos:
[code]

And then I get following when I try to install sos:
[code]
So instead I have to run
[code]

Then no matter whether I use linux core dump with or without `-cap-add=SYS_PTRACE` or minidump with only `COMPlus_DbgEnableMi

[2019-05-28 12:37] redknightlois commented on #24794
As @benaadams pointed out, you have to be very careful... it is very easy to trigger bad behaviors on pre-CoreCLR 3.0 JIT, always check the assembler emitted. There had been a few optimizations on the 3.0 branch that makes the code emitted by this kind of metaprogramming enabled compositional programming absurdly good.

[2019-05-28 13:09] RussKeldorph commented on #24799
@jkoritzinsky @AaronRobinsonMSFT

[2019-05-28 14:39] CarolEidt commented on #23386
@dotnet/jit-contrib ping
I'd like to see consensus on general naming conventions before we merge #23323, and so that we can allow @franksinankaya to proceed on other renamings.

[2019-05-28 14:44] kekekeks opened #24803 "A way to know if a method is overridden"
Sometimes calling an overridden method might need some allocations, computations, locking or other expensive actions that one would rather avoid.

In case of System.Stream there are two [hardcoded override checks](https://github.com/dotnet/coreclr/blob/9773db1e7b1acb3ec75c9cc0e36bd62dcbacd6d5/src/System.Private.CoreLib/src/System/IO/Stream.CoreCLR.cs#L11): `HasOverriddenBeginEndRead` and `HasOverr

[2019-05-28 16:18] echesakovMSFT commented on #24787
@dotnet/dnceng Can someone follow up on the issue and check telemetry for the failing builds (starting with https://dev.azure.com/dnceng/public/_build/results?buildId=201475)?

[2019-05-28 16:21] MattGal commented on #24787
@echesakov yes I am chatting with some AzDO folks now and we have a thread going.  Can you help confirm if you've seen this anywhere since yesterday?  It may be already resolved, but thus far I haven't found anyone already aware of it and/or with a tracking issue.

[2019-05-28 16:31] echesakovMSFT commented on #24787
This seems to be the last failure https://dev.azure.com/dnceng/public/_build/results?buildId=202501

[2019-05-28 16:32] MattGal commented on #24787
Sent summary, basically there was a server migration that didn't go super well.  Exact timestamps in the mail, I wouldn't expect this to recur (until the next server migration, then all bets are off :) )

[2019-05-28 16:41] RussKeldorph commented on #24028
Another hit:
https://mc.dot.net/#/user/dotnet-helix-bot/official~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fr2r~2Fcli~2F/20190528.71/workItem/baseservices.threading/analysis/xunit/baseservices_threading._interlocked_exchange_ExchangeTString_ExchangeTString_~2F_interlocked_exchange_ExchangeTString_ExchangeTString_sh

[2019-05-28 16:49] echesakovMSFT commented on #24787
@MattGal Thanks for investigation - I am closing the issue.

[2019-05-28 16:49] #24787 closed

[2019-05-28 16:51] AndyAyersMS commented on #24794
As @mikedn says, it is unlikely that we'll implement unswitching anytime soon. We have a related optimization for bounds check elimination (loop cloning) and are not real happy with it. Usually it duplicates a lot of code for questionable benefit.

[2019-05-28 16:56] AndyAyersMS commented on #23386
Agree...

[2019-05-28 17:04] tannergooding commented on #23386
I also agree, prefixing with `Get`/`Set` is the convention I generally see in C/C++ code bases.

[2019-05-28 17:09] mikem8361 commented on #24779
I forgot that the "missing metadata" [fix](https://github.com/dotnet/diagnostics/issues/56) that causes the !UNKNOWN in clrstack, etc wasn't fixed in the preview5 sos.  If you install version 1.0.4-preview6.19272.1 of dotnet-sos and re-install, it will fix this problem. This version or one really close will be the "preview6" version of SOS and our global tools.

    dotnet tool install -g dotnet-s

[2019-05-28 17:30] iskiselev commented on #24676
Issue can be reproduced even with enabled TieredCompilation.

[2019-05-28 17:32] VSadov commented on #24028
will have to take a look

[2019-05-28 18:03] devedse commented on #24794
@redknightlois , regarding your first item.
What do you mean by triggering bad behaviours, is it possible to now build something that in the future will perform badly? The second sentence you're saying is that this kind of metaprogramming makes it absurdly good. What specifically are you refering to?
(Can you maybe give some examples (purely out of interest))

Regarding your second statement.
You'

[2019-05-28 18:08] ww898 opened #24806 "Add ability to get CoreCLR version in ICLRProfiling"
It would be great showing real CoreCLR version in attach UI where list of ready to attach processes contains runtime information such as type and version. I think that `ICLRProfiling` (may be `ICLRProfiling2`) is good place for that.

[2019-05-28 18:15] redradist commented on #24789
@svick You wrote:

What is hard !? Okay, how to add custom target without adding feature to MSBuild and recompile it ?
Gradle made it a lot easier, you can write in declarative way and also in imperative way ... It much more flexible than MSBuild ever be (:

[2019-05-28 18:16] jkotas opened #24807 "AF: IsEnabled() in tracevalidation\\inducedgc test"
[code]

[2019-05-28 18:17] jkotas commented on #24807
Failed in https://github.com/dotnet/coreclr/pull/24797 on Test Pri0 Windows_NT x64_checked

[2019-05-28 18:18] #8694 closed

[2019-05-28 18:30] redknightlois commented on #24794
@devedse Lets address it more clearly, probably I assumed you watched the talk :D or I may not have been too explicit about it... "If you are ever going to go this road, you better be absolutely sure that you really need to it."

Rational:
- If you go this road, it will have an impact on your codebase... because you will see more and more opportunities and the code can get unwieldy pretty fast. So

[2019-05-28 19:28] leculver commented on #24549
It's very likely this is due to faulty memory.  Even if it's not, the very first step will be to reproduce this issue on a machine where the memory doesn't fault.  =)

Please do feel free to file another issue if you see this again on another machine!

[2019-05-28 20:27] RussKeldorph commented on #24568
@mthalman Changing the queues used to test is pretty straightforward, but are you saying we should move to an Alpine 3.9 queue to build the product?  Is Alpine 3.8 still supported?  If so, will something built on 3.9 run on 3.8?

/cc @janvorli @wfurt @jashook @MattGal

[2019-05-28 20:32] svick commented on #24803
What level of performance are you looking for?

I tried to implement this without the help of the runtime by caching the result of `this.GetType().GetMethod(methodName).DeclaringType != baseType` in a static `Dictionary<Type, bool>` and according to my benchmark, doing that takes ~34 ns. The runtime could almost certainly do better than that, but maybe it's good enough?

[2019-05-28 20:36] janvorli commented on #24568
I did an experiment last week, trying to build on Alpine 3.9. The build worked (the 3.8 still cannot build our stuff) and surprisingly, after a small fix, the binaries seemed to work on 3.6. I guess that's thanks to the fact that MUSL doesn't use symbol versioning.
The fix was to modify the version of ICU we start probing for. Currently, we start at the version that was present at the build machin

[2019-05-28 20:37] mthalman commented on #24568
@RussKeldorph - My main concern is that we can say with reasonable certainty that the product supports Alpine 3.9.  So whatever that means from a build/test perspective, let's do that.  Yes, 3.8 is still supported; EOL is a year from now.  I don't know the answer on whether building on 3.9 will run on 3.8.

[2019-05-28 20:43] RussKeldorph commented on #24568
@janvorli What do you recommend?  Should we bother trying to make 2.x build on 3.9 or just leave it on 3.6 (assuming testing runs fine on 3.9 that way)?  Should we try to use both 3.8 and 3.9 containers to test, or only 3.9?

[2019-05-28 20:53] jashook commented on #24568
It seems like it would be better to continue building on 3.6 and we can add testing on 3.9.

[2019-05-28 21:03] AndyAyersMS commented on #24676
@jashook are you going to work on the proposal for a 2.1 port of #22775?

[2019-05-28 21:06] jashook commented on #24676
Yes I can do this.

[2019-05-28 21:08] brianrob opened #24813 "IBC Training Against System.Private.CoreLib is Broken"
As of #24625, IBC training against System.Private.CoreLib does not produce any data.  I've confirmed this by performing a ```git bisect``` against CoreCLR sources using the training infrastructure.

It appears that no IBC files are written to disk after shutdown of the process.

[2019-05-28 21:09] brianrob commented on #24813
@jkotas, can you please take a look?  If you like I can provide instructions offline for how to repro this using the training infrastructure on your local machine.

[2019-05-28 21:12] janvorli commented on #24568
Building 2.x would require moving to build cli at least 2.1.604  (2.1.11 runtime IIRC) if we want to build on Alpine 3.9, since we need openssl 1.1 support that wasn't there before. I am not sure if that's feasible.
We can continue building both 2.x and 3.0 on Alpine 3.6 though and just perform our testing on 3.9.

[2019-05-28 21:19] jkotas commented on #24813
I will take a look.

[2019-05-28 21:19] brianrob commented on #24813
Thanks @jkotas!

[2019-05-28 21:26] danmosemsft commented on #24807
Just curious, would the magic that generates this stack give function names if the PDB was found? Seems pretty unlikely someone is going to find the offsets useful. Except possibly comparing another similar crash by eye.

[2019-05-28 21:36] sebastianbk commented on #24720
Hey @hoyosjs. Are there any updates on this issue?

[2019-05-28 21:41] jkotas commented on #24807
Yes

[2019-05-28 21:51] danmosemsft commented on #24807
Is there an infrastructure work item tracking putting that PDB in place so these reports are more useful?

[2019-05-28 22:06] jkoritzinsky commented on #24799
Looks like a flaky timeout when calling either `GC.Collect` or `GC.WaitForPendingFinalizers` when R2R'd. I'll try to repro this locally.

[2019-05-28 22:07] hoyosjs commented on #24720
Sorry, I thought I had replied to this on Friday before the long weekend. We are currently working on getting preview 6 ready, so I haven't had time to take a look into this really. I'll try to take a look early next week.

That being said, it's weird to me that that only a PostgreSQL backing is causing the issue. I'l keep you updated on here as I discover anything.

[2019-05-28 22:19] tannergooding commented on #24784
Also CC. @CarolEidt who I've talked with about this before.

[2019-05-28 22:21] tannergooding commented on #24784
I think, in general, it would be good to expose something like this long term. Developers have varying needs and sometimes precision is desired (and should be the default) and sometimes speed is desired instead.

I think in general, it should be easy enough to allow optimizations at a per-method level and that for a method users should be able to impact how `System.Math` calls operate. What isn't

[2019-05-28 22:38] miguep opened #24816 "AV in CoreClr!MethodTable::GetFlag"
Some time over the last week a few scenarios broke in WPF and WinForms.

Clipboard.SetData(DataFormats.UnicodeText,"abc")

calls into OleFlushClipboard which is a PInvoke into ole32 see [here](https://github.com/dotnet/wpf/blob/ae1790531c3b993b56eba8b1f0dd395a3ed7de75/src/Microsoft.DotNet.Wpf/src/Shared/MS/Win32/UnsafeNativeMethodsCLR.cs#L117)

This call hits an AV in coreclr with the following st

[2019-05-28 22:40] miguep commented on #24816
Here's a repro for this issue : https://github.com/miguep/OleClipboardRegression

[2019-05-28 22:49] tomrus88 commented on #24397
So now trimming works again, and there's latest results based on 3.0.100-preview6-012099 daily build:
Console App 67.7 MB without trimming (got smaller), 32.3 MB with trimming (got bigger)
WinForms App 165 MB without trimming (got bigger), 65.0 MB with trimming (got bigger)
WPF App 165 MB without trimming (got bigger), 65.0 MB with trimming
I also find it interesting, that without using single fil

[2019-05-28 23:07] jkoritzinsky commented on #20682
The official build break has been fixed, moving back to Future.

[2019-05-28 23:25] sbomer commented on #24397
@tomrus88 I appreciate the interest and the numbers you've shared, thanks! The numbers for trimming are different because we've been changing the default settings to be more conservative (which will make it tend to work better for apps/frameworks that use reflection - like WPF, but won't be able to remove as much code).

About the extra 16MB: Your original numbers are closer to what I've been seei

[2019-05-28 23:26] CarolEidt commented on #24784
I had thought we already had an issue along these lines, but I can't find it, so it probably doesn't yet exist.

This is the tricky design issue, and not just for inlining but whether and how these decisions are made across methods, classes, assemblies, etc. I think a reasonable position can be taken and supported, but it will certainly require some design and discussion.

[2019-05-28 23:29] brianrob opened #24820 "PGO Training Fails with Error Binding to CoreCLR"
PGO training on Windows fails with the following error:

[code]

Git bisect points at #24619 as being the first PR containing the break.  It's not clear to me what in this change broke things, but in addition to the error above, there is also a restore error during CoreCLR layout generation that doesn't occur when things work.  The error comes from  ```build-test.cmd x64 release skipmanaged skipna

[2019-05-28 23:29] brianrob commented on #24820
@elinor-fung can you please take a look?

[2019-05-28 23:37] #24813 closed

[2019-05-28 23:46] AndyAyersMS opened #24821 "Move R2RDump over to the new System.CommandLine"
The `System.CommandLine` used by R2RDump is a defunct corefxlabs project. We should move it over to using the new [System.CommandLine.](https://github.com/dotnet/command-line-api)

Among other things this will unblock porting some of the jitutils over to this new command line parser (since PMI needs to be able to run in Core_Root environment). See dotnet/jitutils#209.

[2019-05-28 23:47] AndyAyersMS commented on #24821
cc @trylek

I've been porting over jitutils so can do this too, if you like.

[2019-05-28 23:47] tomrus88 commented on #24397
Doing clean build doesn't seems to change anything, still getting same 165MB single file, 65MB single file trimmed and ~150MB without single file for WinForms project.

[2019-05-29 00:57] noahfalk commented on #22176
@davmason - The fix for this was merged right? Good to close?

[2019-05-29 01:27] davmason commented on #22176
Yes, thanks

[2019-05-29 01:27] #22176 closed

[2019-05-29 01:27] swaroop-sridhar commented on #24397
@tomrus88  thanks for pointing out the issue of file size disparity with single-file. This is certainly unexpected, and wasn't the case when using the Preview5 release of dotnet SDK. I'll investigate further. Thanks.

[2019-05-29 01:38] #24816 closed

[2019-05-29 01:39] #7452 closed

[2019-05-29 02:03] xiangzhai opened #24824 "[X86/Linux] Fail to disable JIT when enabled Interpreter"
Hi,

Just follow @kangaroo porting work https://github.com/dotnet/coreclr/pull/1292#issuecomment-125688792 enabled interpreter and still tracking `JitFunctionTrace` to see whether or not disable JIT totally:

[code]

But it is still `Start Jitting` in the `Jitted Entry` when such `Method` doesn't meet the `IsEligibleForTieredCompilation` condition:

[code]

Hacking JIT by commenting `CompileMethod

[2019-05-29 03:55] #24791 closed

[2019-05-29 05:39] EgorBo commented on #24784
Btw, Unity's Burst already have this attribute (for precision per method):
`[BurstCompile(Accuracy.High, Support.Strict)]` See https://docs.unity3d.com/Packages/com.unity.burst@0.2/manual/index.html (Compiler options)

[2019-05-29 06:12] kekekeks commented on #24803
That happens on a hot path, so 34ns will turn into a more substantial number. Also, Mono has [chosen to select a slow path](https://github.com/mono/mono/blob/ac2fb76ed0a01ca480abc0ca2e017dcd776761fd/mcs/class/System.Private.CoreLib/System.IO/Stream.cs#L5) instead of resorting to reflection, which kinda tells a lot about the reflection-based approach.

[2019-05-29 06:30] EgorBo commented on #24803
@kekekeks that code in Mono is just not implemented yet but eventually will be (the fast path was not required to bootstrap mono-vm for .NET5 so we ignored it)

[2019-05-29 07:40] #24820 closed

[2019-05-29 11:44] tomrus88 commented on #24397
I've noticed even bigger issue with PublishTrimmed option, the WinForms app crashes due to missing dll.
`Application: wfcore.exe
CoreCLR Version: 4.6.27724.71
.NET Core Version: 3.0.0-preview6-27727-02
Description: The process was terminated due to an unhandled exception.
Exception Info: System.TypeLoadException: Could not load type 'System.ComponentModel.Component' from assembly 'System.Windows.E

[2019-05-29 12:15] ww898 commented on #16796
Hi, have just implemented attaching to CoreCLR `v3.0.0.-preview5` through `CreateCLRProfiling`. Everything works properly at first look. I don't see any documentation for that. Could you please publish the document with correct attaching procedure in it? I am not sure that my way is absolutely correct.

[2019-05-29 14:35] MichalStrehovsky commented on #24803
This could be done without first class runtime support with ldvirtftn/ldftn IL instructions and a runtime facility to compare function pointers for equality.

You would basically do (in IL):

[code]

[I tried](https://github.com/dotnet/csharplang/pull/1685#discussion_r199633428) to get this into the function pointers C# feature, but it went nowhere unfortunately.

[2019-05-29 14:52] smartmaster opened #24828 "build failed with vs2019 16.1.1 and windows sdk 10.0.18362"
failed to cmake \tests\src\Interop\WinRT\NativeComponent, the output is

[code]

[2019-05-29 16:05] AaronRobinsonMSFT commented on #24786
I believe this was a mistake during testing. Further investigation has been unable to reproduce the crashing behavior - even on the original machine. Closing.

[2019-05-29 16:05] #24786 closed

[2019-05-29 16:35] davidfowl commented on #19795
This is done right @kouvel?

[2019-05-29 16:36] davidfowl commented on #20372
I'd like to add another counter and API to this list. We need the ability to get the number of timers in the timer queue (all queues) and there should also be a counter for that.

[2019-05-29 16:45] mikem8361 commented on #24397
I don’t have an exact date but I hope that SOS in coreclr will be removed before Preview 7 towards the next of month.

[2019-05-29 17:33] alpencolt commented on #12421
With introducing Tiered JIT this issue occurs much more frequent and makes CoreCLR almost unusable on ARM32 CPUs with big.LITLLE architecture (thanks they are not very popular).
Unfortunately we can not solve this issues from user space (like Mono did it for ARM64), so we're going to prepare fix to linux kernel like it was made for ARM64 (https://github.com/torvalds/linux/commit/116c81f427ff6c5380

[2019-05-29 17:44] brianrob commented on #24820
Thanks for the quick turnaround @elinor-fung.  These runs are passing now.

[2019-05-29 17:51] hoyosjs commented on #24807
@sywhang @kouvel @dotnet/dotnet-diag

[2019-05-29 17:52] hoyosjs commented on #24807
https://github.com/jkotas/coreclr/blob/baa1d3a3e89cd8b7a3611e5b709ceb0daef53af4/src/vm/eventtrace.cpp#L7481

[2019-05-29 17:55] AndyAyersMS commented on #24794
Not sure there is any actual codegen work here, but this is an interesting discussion.

Struct based specializations offer a way to get high-performance variant behaviors from methods and I know of a number of examples where they've been used successfully. @devedse I think they would meet your needs here nicely.

There is a related optimization we might be tempted to try someday. If the alternate

[2019-05-29 18:01] hoyosjs commented on #24807
Looks like IsEnabled is returning false because `ETW_TRACING_CATEGORY_ENABLED` returns false. @sywhang, not sure if this is related to the initialization delay or something like it.

[2019-05-29 18:11] AndyAyersMS commented on #24824
The logic around when to interpret is currently tied into tiered compilation, so I think your will need to modify the logic.

If you change `TieredCompilationManager::GetJitFlags` to stop setting `CORJIT_FLAG_MAKEFINALCODE` and then set `COMPlus_InterpreterJITThreshold` to a very large number, you should be able to stop jitting.

[2019-05-29 18:25] sandreenko opened #24835 "random Segmentation fault arm32 Linux, OSX x64 without stress modes."
Example: [rngchkStress2](https://dev.azure.com/dnceng/public/_build/results?buildId=202942&view=ms.vss-test-web.build-test-results-tab&runId=4910770&resultId=100032&paneView=debug), [437017](https://dev.azure.com/dnceng/public/_build/results?buildId=204059&view=ms.vss-test-web.build-test-results-tab&runId=4943606&paneView=debug&resultId=109450).

We do not have dumps currently and it is not clear

[2019-05-29 18:42] cshung opened #24836 "Avoid object layout mismatch between coreclr.dll and mscordaccore.dll by comparing them during the build."

[2019-05-29 18:52] jkotas opened #24837 "BUILD: Error: Failed to generate version headers."
[code]

[2019-05-29 18:52] jkotas commented on #24837
@elinor-fung Could you please take a look?

[2019-05-29 19:21] elinor-fung commented on #24837
Er, the build script uses `%~dp0eng\common\msbuild.ps1`, which should be expanding to `D:\coreclr\eng\common\msbuild.ps1` Not sure why it is `D:\eng\common\msbuild.ps1` instead.

[2019-05-29 19:21] jcapellman commented on #18013
Hitting this myself porting a 4.7.1 WPF app to .NET Core 3 - very much looking forward to this working out of the box (even if there are quirks).

[2019-05-29 20:03] RussKeldorph opened #24839 "Several tracing test failures in official build on Linux/ARM, Linux/ARM64 and Win7"
https://mc.dot.net/#/product/netcore/master/source/official~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190529.1/workItem/PayloadGroup0

@sywhang @jorive @noahfalk @dotnet/dotnet-diag

[2019-05-29 20:05] devedse commented on #24794
@redknightlois , Thanks for your explanation. I'm not sure what talk you're talking about. Could you maybe link it?

Also, if you are interested in seeing if there's some more optimisations that could be done to my code in regards to what you're talking about with memory loading etc. I've created an issue on my project to discuss this further: https://github.com/devedse/DeveMazeGeneratorCore/issue

[2019-05-29 20:07] RussKeldorph commented on #24839
Another view if you prefer:
https://dev.azure.com/dnceng/internal/_build/results?buildId=204169&view=ms.vss-test-web.build-test-results-tab

[2019-05-29 20:10] tommcdon commented on #24839
@jorive can you take a look?

[2019-05-29 20:12] tommcdon commented on #24839
@hoyojs can you also help out?

[2019-05-29 20:25] RussKeldorph commented on #24839
@hoyosjs

[2019-05-29 20:50] redknightlois commented on #24794
@devedse NDC Talk https://www.youtube.com/watch?v=4yALYEINbyI, there is another one at DotNext channel about performance stuff named Scratched Metal.

@AndyAyersMS That would be awesome, we are faking that using typed structs and constants :) ... I will try to respond the 3 questions from the practitioner (/me) perspective.

1. how do we determine which statics are "glacial"?
I would be OK to mark

[2019-05-29 20:59] jkoritzinsky commented on #24828
Can you check this path on your machine, `C:/Program Files/Windows Kits/10/References/10.0.18362/windows.foundation.foundationcontract/`, for me? It looks like there's at least some component of the Windows 10 SDK that didn't get installed.

Looks like I need to add more diagnostics here in the CMake file...

[2019-05-29 21:30] devedse commented on #24794
@redknightlois, checking out your talk right now :). If you do have some spare time someday feel free to check out my code I linked as well.

[2019-05-29 21:36] AndyAyersMS commented on #24794
We are fairly aggressive already with `readonly` statics -- see for instance #20886. There is a more we can do here if we know we have some deeper immutability (say for a readonly static string, we could start looking at its length or contents).

I have thought some about how to build a system that can take advantage of glacial statics, but haven't gotten to the point of actually building anything

[2019-05-29 22:27] jorive commented on #24839
Taking a look.

[2019-05-29 22:38] sandreenko commented on #23242
Close because without Jenkins this infrastructure issue doesn't repro anymore. We have a general issue about unstable results in ADO, but it is not this test specific.

[2019-05-29 22:38] #23242 closed

[2019-05-30 00:03] RossNordby opened #24846 "Access violation in clrjit.dll on Unsafe.CopyBlockUnaligned with constant 0 copy length"
On 3.0.0-preview5-27626-15 and 3.0.0-preview6-27728-04 (Windows 10 1809, x64), attempting to run this:
[code]
results in an access violation in clrjit.dll.

There is no issue if the parameter is not constant, like so:
[code]
Changing the above MethodImpl to AggressiveInlining reintroduces the access violation.

Disabling optimizations avoids the issue. Does not occur on 2.1.11 or 2.2.3.

[2019-05-30 00:08] RossNordby commented on #24846
Also reproduces on 3.0.0-preview-27122-01.

[2019-05-30 00:10] #24837 closed

[2019-05-30 00:26] davmason commented on #16796
@ww898 I am in the process of creating documentation for profiler attach. I hope to have it done soon.

Unfortunately `CreateCLRProfiling` is being removed in Preview6 and replaced with a new attach mechanism so it will no longer be an option. The transition to the new attach mechanism should hopefully not be too much code churn.

The new attach mechanism is built on the EventPipe protocol, so the

[2019-05-30 00:28] AndyAyersMS commented on #24846
Checked jit asserts:
[code]
I think we are assuming that a BLK of width 0 is always a DYN_BLK.

cc @CarolEidt

[2019-05-30 00:34] davmason commented on #24680
@mihail-vladov Just to set expectations, debugging a profiler instrumented method is not considered a supported feature. We don't make any guarantees that it will work, and have no testing for it.

With all that being said, I'd still like to understand why it is failing on coreclr and am open to fixing it if the fix is relatively safe.

In your sample project, are you able to share the source code

[2019-05-30 01:30] xiangzhai commented on #24824
Hi @AndyAyersMS

Thanks for your kind response!

I will try.

Thanks,
Leslie Zhai

[2019-05-30 02:33] #24824 closed

[2019-05-30 03:09] smartmaster commented on #24828
@jkoritzinsky
my windows sdk installed in E volume, tree and dir command output are

[code]

E:\Windows Kits\10\References\10.0.18362.0\Windows.Foundation.FoundationContract>dir /s /a
 Volume in drive E is New Volume
 Volume Serial Number is 54FC-578B

 Directory of E:\Windows Kits\10\References\10.0.18362.0\Windows.Foundation.FoundationContract

05/27/2019  12:44 AM    <DIR>          .
05/27/2019

[2019-05-30 03:30] smartmaster commented on #24828
@jkoritzinsky
i created a junction by

mklink /j "C:\Program Files (x86)\Windows Kits\10" "E:\Windows Kits\10"

it looks fine till now. if you can provide a fix, it would be better.

thanks & regards.

[2019-05-30 04:11] redknightlois commented on #24794
@AndyAyersMS Yes, still #20886 doesnt fix like say `object.someint` where the reference to `object` is `readonly static` the JIT could bake in any `someint` as a constant after the initializer has run (Tier 1??).

@devedse Nope, that lives in the realm of the runtime and classes not being treated all equal by the JIT... we have a loooooooooooong way till that happen.

[2019-05-30 05:14] mjsabby commented on #21827
Now that @jorive has done multiple event sessions. This becomes a useful vehicle for supporting production profiling scenarios where one session collects jitted code info, module loads, etc for the process lifetime. And another session has data in "chunks" of X minutes to help production investigations.

I don't think this is a major change and it's best if we do this in 3.0, given 3.1 will be LTS

[2019-05-30 05:16] mjsabby commented on #21807
The first work item in this I believe is complete.

[2019-05-30 05:33] lostmsu commented on #6524
@Frassle before you jump too far into this, is there a chance this could include dependent types? E.g. one would need to be able to allow type parameters to also point to compile time constants.

[2019-05-30 05:56] jkotas opened #24849 "EventPipe shutdown too early"
`EventPipe::Shutdown` + `DiagnosticServer::Shutdown` is called as the first thing in `EEShutDownHelper`: https://github.com/dotnet/coreclr/blob/5b283a18625f7a8009c18221592ec81c3cd32375/src/vm/ceemain.cpp#L1409

This is too early. There is still quite a bit of user managed code running during `EEShutDownHelper` (all AppDomain.ProcessExit events) that should be able to use tracing facilities.

[2019-05-30 06:01] jkotas opened #24850 "EventPipe shutdown race conditions"
EventPipe shutdown release resources while other threads can be still accessing them. There are no locks protecting this: https://github.com/dotnet/coreclr/blob/5b283a18625f7a8009c18221592ec81c3cd32375/src/vm/eventpipe.cpp#L228

This will lead to intermittent shutdown crashes.

Also, please delete the call to `FlushProcessWriteBuffers` while fixing this. This call is pretty expensive and it should

[2019-05-30 06:21] Frassle commented on #6524
I've thought briefly about that before, I think it's mostly orthogonal to higher kinds. Need to do some more reading and learning before planning out how dependent types could work.

Github must of shrunk the picture. [external upload](https://ibb.co/0cxhj5q)

[2019-05-30 06:27] lostmsu commented on #6524
@Frassle the reason I mentioned that feature in this thread is because when you mentioned metadata encoding, I thought if you use the only reserved value for generic arguments, there will be no more values to encode references to constants.

I am referring to this part (whose relevance I might have misunderstood):

[2019-05-30 06:51] #11404 closed

[2019-05-30 06:51] #17394 closed

[2019-05-30 06:51] #24727 closed

[2019-05-30 06:56] AriNuer opened #24851 "Test failure: tracing_eventsource._eventsourcetrace_eventsourcetrace_eventsourcetrace_/_eventsourcetrace_eventsourcetrace_eventsourcetrace_cmd"
The test `tracing_eventsource._eventsourcetrace_eventsourcetrace_eventsourcetrace_/_eventsourcetrace_eventsourcetrace_eventsourcetrace_cmd` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : Master - 20190529.4 (Ready-To-Run Tests)
Failing configurations:
- Windows.7.Amd64
  - x86
  - x64

Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fdotnet~2Fcoreclr~2Fref

[2019-05-30 07:28] noahfalk opened #24852 "Misc EventPipe format improvements"
While doing work on the updated EventPipe file format I came across a few other things that would be nice to improve:

- [x] - Change the file format suffix to .nettrace. We are making other breaking changes already and I don't think there is a strong community knowledge about ".netperf" yet so this appears to be the best oportunity we'll get to rename. 'Trace' is a more accurate description that

[2019-05-30 08:10] ww898 commented on #16796
@davmason Thanks a lot.

However, I need show the list of process to attach in UI with CoreCLR version if possible. So, I need test the process without trying to attach to it. I think that `Microsoft.Diagnostics.Tools.RuntimeClient.DiagnosticHelpers.AttachProfiler()` is not allow that. I expect something like `Microsoft.Diagnostics.Tools.RuntimeClient.DiagnosticHelpers.CanAttachProfilerPossible(in

[2019-05-30 10:32] liujianm commented on #969
any updates on MIPS support?

[2019-05-30 13:33] xiangzhai commented on #24538
Hi @AndyAyersMS

I fixed a simple build issue for LLILC https://github.com/dotnet/llilc/issues/1097

Please review it.

Thanks,
Leslie Zhai

[2019-05-30 15:23] CarolEidt commented on #24846
Yes, we are. I'll take this.

[2019-05-30 16:34] CarolEidt commented on #21603
I think there's a bit to sort out before we determine our long-term approach. Possibilities include:
- As @tannergooding indicates here: https://github.com/dotnet/coreclr/pull/24689#issuecomment-497357028, we could compile all methods assuming only SSE2 is supported. This would mean that all methods would have to include SSE2-only paths, as well as the appropriate IsSupported checks - but that's a

[2019-05-30 16:57] tannergooding commented on #21603
Is there any possibility of allowing R2R generation for methods which contain an SSE/SSE2 or Software Fallback path and otherwise requiring they be JIT'd. Additionally, the hardware intrinsics themselves should never be R2R generated.

Ultimately this would look to solve:
* For common scenarios (methods which have a baseline `IsSupported` check or which only contain baseline intrinsics), the metho

[2019-05-30 17:10] mjsabby commented on #21603
Thanks @CarolEidt.

Your third option is most appealing to me, because it unblocks those want to compile their own SPC with AVX2. Of course, someone could compile their own crossgen if they're going to make their own SPC, but the bar becomes a bit lower if we've done some level of testing.

To that end, I'm inquiring if the team at large (you and others) know if turning on AVX2 is as simple as set

[2019-05-30 17:16] josalem commented on #23299
@jorive is this still tracking active work?  It looks like we've completed everything in this list.

[2019-05-30 17:21] josalem opened #24859 "Align diagnostic server transport name with spec"
Modify the OS Transport name for the Diagnostics Server to align with spec (see: dotnet/diagnostics#279):

`dotnetcore-diagnostics...` ➡️  `dotnet-diagnostics...`

[2019-05-30 17:24] josalem commented on #15377
Initial implementation is complete (see: #24417) and follow-up work is being tracked in #24753.

[2019-05-30 17:24] #15377 closed

[2019-05-30 17:26] CarolEidt commented on #21603
I'm not sure. If you just wanted to support this in your own build, I would look at what @MichalStrehovsky  did in #24689, and extending it to allow AVX2. However, I don't see us doing this in master without some non-trivial support for checking platform compatibility at runtime.

[2019-05-30 17:53] josalem commented on #21839
I'm unable to repro this behavior with v3.0.0-preview5, v2.2.5, or v2.1.11 on my Windows box.  When I run the provided code, I get the following:

v3.0.0-preview5:
[code]

v2.2.5:
[code]

v2.1.11:
[code]

Perhaps this was fixed with one of the PRs mentioned [here](https://devblogs.microsoft.com/dotnet/floating-point-parsing-and-formatting-improvements-in-net-core-3-0/)?

@djluck, could you try to

[2019-05-30 18:00] pfaustinopt commented on #22137
I guess my problem must be different from the one reported because I keep getting the same exception. I've collected some dumps from the exception and in my case, it appears to cause by this

[code]

I've collected some dumps and events from the event viewer, where is the most appropriate place to report this problem?

[2019-05-30 18:08] franksinankaya commented on #23386
Can I assume that everybody agrees to Get/Set?

[2019-05-30 18:58] CarolEidt commented on #23386
Yes, I think that's the consensus.

[2019-05-30 19:32] tommcdon commented on #24766
@hoyosjs is investigating

[2019-05-30 19:51] AndyAyersMS commented on #24835
I have an OSX box, let me see if I can repro...

[2019-05-30 19:59] jorive commented on #23299
@josalem Not fully done yet. Ctrl-C needs to be properly fixed (need to look at what the debugger does), and add tests for all the new features.

[2019-05-30 20:05] janvorli commented on #20168
All of the necessary parts are done, so the last remaining piece is to add the lab test runs.
Locally, the tests can be run using `tests/runtest.cmd/sh` with additional argument `/runincontext`. All that this argument does is that it sets `CLRCustomTestLauncher` env variable to point to 'tests/scripts/runincontext.cmd/sh', `__RunInUnloadableContext` env variable to 1 and timeout to 20 minutes.

[2019-05-30 20:09] mjsabby opened #24866 "Use new API for Large Pages in Windows 19H1 to request 1GB/2MB"
`NtAllocateVirtualMemoryEx` is a new API in Windows 19H1. We should use this API when we detect we're running on 19H1+.

The benefit is that we can request which size of large pages do we want. For example, we could try 1GB first, and fall back to 2MB if it fails, etc.

[2019-05-30 20:09] mjsabby commented on #24866
cc @Maoni0

[2019-05-30 20:10] jashook opened #24867 "Coreclr fails to build with a 2.1 .Net sdk"
This currently only affects source-build as we are using the 3.0 sdk for coreclr currently. This does mean however, that coreclr will fail to build through source-build currently.

[2019-05-30 20:11] jashook commented on #24867
/cc @elinor-fung @RussKeldorph

[2019-05-30 20:11] jashook commented on #24867
Looks like the issue is that Directory.Build.props is not correctly being imported via the 2.1 SDK.

[2019-05-30 20:40] noahfalk commented on #21807
yep : )

[2019-05-30 21:50] AndyAyersMS commented on #24821
Here's my first attempt: [R2RDumpNewCommandLine](https://github.com/dotnet/coreclr/compare/master...AndyAyersMS:R2RDumpNewCommandLine)

I ended up moving all the command line stuff over to `DumpOption`. Had to rename some things to get their binding model working.

Feel free to give it a try. You will likely run into dotnet/command-line-api#532 so that needs to be fixed before we can move forward.

[2019-05-30 22:02] trylek commented on #24821
Thanks so much @AndyAyersMS, it looks great to me, feel free to merge it in if it works for you; I doubt there are too many other users of the tool out there right now and we / they should get easily adjusted to the new syntax. After all I believe the pre-existing command-line syntax is super-overcomplicated and I'd love to clean that up somehow, I'm just somehow lacking the spare cycles to look i

[2019-05-30 22:30] VSadov commented on #17325
I think this issue is addressed in #24096 there is an option to not clear now.

I will keep https://github.com/dotnet/corefx/issues/31787 open to follow up with making the API public.

[2019-05-30 22:30] #17325 closed

[2019-05-30 22:30] VSadov commented on #17324
I think this issue is addressed in #24096,  there is an option to not clear now.

I will keep https://github.com/dotnet/corefx/issues/31787 open to follow up with making the API public.

[2019-05-30 22:30] #17324 closed

[2019-05-30 23:11] tomrus88 commented on #24397
@sbomer @swaroop-sridhar I've made a separate issue about WPF app crashing with ILLink https://github.com/mono/linker/issues/595

[2019-05-30 23:52] steveharter commented on #23929
Propose moving to future; not in scope for 3.0 unless someone picks this up.

[2019-05-30 23:53] steveharter commented on #23500
Moving to future; not in scope for 3.0.

[2019-05-31 00:21] jkoritzinsky commented on #24799
Through further investigation running this test in debug mode, I've found that in approximately 1/20 runs or so it hits an asssert at https://github.com/dotnet/coreclr/blob/38f121b06910b25080b5f3259152effc0fe3c672/src/vm/threads.cpp#L5289

I'm trying to get a dump but I'm having issues getting it to repro when using procdump. I'm starting to think that this is some flaky race condition during core

[2019-05-31 00:23] noahfalk opened #24873 "Create an example for using DiagnosticsSourceEventSource"
We don't have any good examples that show how to use DiagnosticsSourceEventSource end-to-end via ETW. We should create one. See issue #37966 for details.

[2019-05-31 00:33] #24660 closed

[2019-05-31 02:07] #24867 closed

[2019-05-31 03:24] benaadams commented on #18542
Looking at `StreamReader.ReadBufferAsync()` they are all marked as `do-not-enreg`

"NewObj constructor temp" is one of the reasons, and `must-init addr-exposed ld-addr-op` the other (could be due to `in` which reduced an additional copy? https://github.com/dotnet/coreclr/pull/22738)

[code]

[2019-05-31 03:48] benaadams opened #24877 "CrossGen: Arithmetic, casting or conversion operation overflowed or underflowed."
For coreclr:

`> crossgen.exe System.Private.CoreLib.dll`
[code]

[2019-05-31 03:51] iskiselev commented on #24676
Do you have plans to port it into 2.2 also or it will be only 2.1 and 3.0?

[2019-05-31 04:15] jkotas commented on #24877
[code]

[2019-05-31 04:16] jkotas commented on #24877
@janvorli Could you please take a look?

[2019-05-31 04:33] benaadams commented on #18542
[code]

[2019-05-31 04:44] benaadams commented on #18542
[code]
[code]
[code]

[2019-05-31 04:55] mikedn commented on #18542
Probably because there are a bunch of struct typed LCL_FLD nodes that the JIT cannot handle well.

[2019-05-31 07:05] xiangzhai commented on #24659
The master branch is able to enable Interpreter even without skipcrossgen by following https://github.com/dotnet/coreclr/issues/24824#issuecomment-497048982  So it doesn't need to fix the issue any more.

[2019-05-31 09:56] sandreenko opened #24879 "[OSX] baseservices/exceptions/regressions/V1/SEH/VJ/ExternalException/ExternalException with VM assert."
The test fails with:
[code]
The issue is unstable but happens pretty often.

AZO example: https://dev.azure.com/dnceng/public/_build/results?buildId=206671&view=ms.vss-test-web.build-test-results-tab&runId=5019392&resultId=101719&paneView=attachments

Kusto query to see all failures (there are 8+ right now, 7 are in master testing):
[code]

The first job where if failed was https://dev.azure.com/d

[2019-05-31 10:22] gaviriar commented on #20287
@igloo15  and @swaroop-sridhar I appreciate these inputs considering they are off topic. Although I hope someone else finds this discussion useful when reading someday.

I will evaluate the options you have shared with me and let you know what turns out to be the best approach for my use case.

Thanks!

[2019-05-31 10:49] gaviriar commented on #20287
Quick update!

I have tested out this simple [Hello World](https://gitlab.com/rcrdogvra/dotnet-single-file-test-app) application. I can successfully build a single file executable. However as you can see from the project configuration, it is meant to be self-contained. But when I try to run this executable on a fresh Windows 7 installation without any .NET core runtime installed I see the followin

[2019-05-31 11:17] benaadams commented on #18542
Hmm, because its in the il?

With https://github.com/dotnet/coreclr/blob/b8d5b7b760f64d39e00554189ea0e5c66ed6bd62/src/System.Private.CoreLib/shared/System/IO/StreamReader.cs#L1280
[code]
Becoming stloc.s, ldloca.s chains
[code]

So the Jit is doing what its asked to do, in a way?

[2019-05-31 11:26] mikedn commented on #18542
Well, I don't know where those LCL_FLDs come from, presumably they were present in some IL - FSeq shows a field named `_value`. What's for sure that JIT's handling of struct typed fields needs improvement. Hopefully we'll get there sooner or later, I have a pending PR that's supposed to provided the preliminaries for that.

[2019-05-31 13:03] justinvp opened #24885 "Collection<T>.AddRange should validate its parameters"
I missed this in #23166. Current it's defined as:

https://github.com/dotnet/coreclr/blob/b8d5b7b760f64d39e00554189ea0e5c66ed6bd62/src/System.Private.CoreLib/shared/System/Collections/ObjectModel/Collection.cs#L72

But it should be something like:

[code]

[2019-05-31 13:07] justinvp commented on #8439
This issue was fixed by #23018 and can be closed.

[2019-05-31 13:09] mihail-vladov commented on #24680
@davmason Thank you for the clarification.

I am currently trying to find the appropriate way to provide you access to the profile code from a legal point of view. Because the code is owned by the company I work for. I will get back to you probably at the start of the next week.

[2019-05-31 14:30] benaadams commented on #18542
Might not help they are different types; even though they are the exact same sized structs containing the same data (as they are wrappers over each other)

[2019-05-31 14:38] mjsabby commented on #24866
The following operating systems that .NET Core supports will be able use this:

- Windows 10 May 2019 Update / Windows Server 1903 (`NtAllocateVirtualMemoryEx` flag)
- Al supported Linux distros except RHEL6 (`MAP_HUGE_2MB`, `MAP_HUGE_1GB` in mmap since Linux 3.8+)
- macOS only supports `VM_FLAGS_SUPERPAGE_SIZE_2MB` from what I can tell

[2019-05-31 14:45] #24615 closed

[2019-05-31 14:53] benaadams commented on #18542
If I fold `ConfiguredValueTaskAwaitable<TResult>.ConfiguredValueTaskAwaiter` into  `ConfiguredValueTaskAwaitable<TResult>` and change `GetAwaiter` from
[code]
to
[code]
Then one of the `;  do-not-enreg[SFB] must-init "NewObj constructor temp"` drops out and its down the 3 copies rather than 4:

[code]
Guessing that's `new` no longer being called rather than the types now matching though?

[2019-05-31 15:22] danmosemsft commented on #8439
Thanks @justinvp

[2019-05-31 15:22] #8439 closed

[2019-05-31 15:47] danmosemsft commented on #21985
@jkotas @ajcvickers I'm moving this to Future as it does not seem essential for 3.0. Feel free to move back if I'm wrong.

[2019-05-31 16:06] ajcvickers commented on #21985
@danmosemsft Not in favor of it at all, so happy for you to punt it. :-)

[2019-05-31 16:39] RussKeldorph commented on #24879
@sandreenko I think you may have used the wrong test in the title, though your query is accurate.
 All of the failures I see for `JIT/Methodical/eh/nested/nonlocalexit/throwinfinallyrecursive_20_r` fails were against PRs.  The `master` failures are all for `baseservices/exceptions/regressions/V1/SEH/VJ/ExternalException/ExternalException`, which your query reflects.  Here's another query that migh

[2019-05-31 16:44] RussKeldorph commented on #24839
These are still taking down official builds.  @dotnet/dotnet-diag Is it reasonable to disable them if they can't be fixed by EOD?

https://mc.dot.net/#/user/dotnet-helix-bot/official~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190531.1/workItem/PayloadGroup0

[2019-05-31 16:46] #24877 closed

[2019-05-31 16:51] jorive commented on #24839
We are working on fixes for `EventPipe::Disable` that should make this tests pass. Would you prefer if we disable the tests first?

[2019-05-31 17:06] RussKeldorph commented on #24839
@jorive, actually, I would strongly prefer a fix or disabling before noon.  Otherwise, we'll need to port the fix to the `release/3.0` branch.  Not the end of the world, and if you plan to *fix* as opposed to just disabling the tests in Preview6 anyway, it's ok to wait for the fix--whenever it's available.

[2019-05-31 17:16] sergiy-k commented on #24879
@janvorli, could you please take a look? Thank you!

[2019-05-31 18:01] gafter commented on #23241
Dumping my notes for future reference

A code sequence
[code]
Would be defined to be equivalent to the following, except required to execute in (amortized) constant time:
[code]

[2019-05-31 18:02] #24846 closed

[2019-05-31 18:02] jashook opened #24888 "Coreclr fails to build using source-build"
We specifically use .dotnet/dotnet instead of eng/dotnet.sh which does not correctly allow source build to override the dotnet to be used.

[2019-05-31 18:02] jashook commented on #24888
/cc @RussKeldorph

[2019-05-31 18:05] jashook commented on #24888
Example source-build output:

[code]

[2019-05-31 18:46] hoyosjs commented on #24851
Dupe of #24839

[2019-05-31 18:47] #24851 closed

[2019-05-31 19:03] AndyAyersMS commented on #18542
Here's a derived example with similar results (3 back to back copies):
[code]
we end up with
[code]

[2019-05-31 19:33] VSadov opened #24933 "Add a test scenario to test that `GC.GetTotalAllocatedBytes` is monotonic"
Re: https://github.com/dotnet/coreclr/issues/24615

[2019-05-31 20:02] kouvel commented on #24807
I should probably remove those asserts, as the tracing can be stopped at any time

[2019-05-31 20:32] benaadams commented on #18542
Pipeline use in Kestrel is this variation on the above

[code]
Which has 3 xmm0 shuffles per copy [sharplab.io](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIAYACY8gOgCEBXAMy5ilwDcNek1YAlDgDsMAS3wwWAYQj4ADjIA2fAMp8AbjLAxBwxsxYTpchQElpfCKt1QDRk9RoBtAGIbsAc1wAXRoZeyhJbA0GGEkOfAYxYw4NDF8A3AYQBmAATwwYGgBvGgYyhgA5CEkYBgBeBjoEOjRS8sVsSSMtABN6xoRyVupyhmU1LQK+hqbSGgBfGmEAZgZYbB7qj

[2019-05-31 21:30] brianrob opened #24900 "Windows PGO Optimization Broken Due to #23897"
Windows PGO optimization is broken as of #23897 per ```git bisect```.

The runs fail with ```System.Exception: Failed training for CLRx86WINmas: the last training scenario did not produce any data```.

[2019-05-31 21:31] brianrob commented on #24900
@jkoritzinsky can you please take a look?  If needed, I can provide offline instructions to reproduce/test fixes.

[2019-05-31 22:14] jashook opened #24903 "Remove Microsoft.Net.Compilers.Toolset 3.1.0-beta2-19206-01 prebuilt for source-build"
It is possible this has been removed with recent changes, verify once https://github.com/dotnet/coreclr/issues/24888 is fixed.

/cc @RussKeldorph @dseefeld

[2019-05-31 22:43] RussKeldorph commented on #22758
@tannergooding Any update?

[2019-05-31 23:00] jkoritzinsky commented on #24900
@brianrob can you send me instructions on how to repro the issue?

[2019-05-31 23:03] tannergooding commented on #22758
Yes. I went through the various APIs and they look to be functioning as expected.

[2019-05-31 23:03] #22758 closed

[2019-05-31 23:12] AndyAyersMS commented on #24835
There were 3 OSX failures reported this month:

1. baseservices_threading._events_EventWaitHandle_unit_ManualConstructFalse
2. Loader_classloader._TypeGeneratorTests_TypeGeneratorTest818
3. JIT_jit64._hfa_main_testC_hfa_nd1C_d

No luck reproing 2; haven't tried the others yet.

[2019-05-31 23:28] RussKeldorph commented on #22758
@tannergooding Thank you!

[2019-05-31 23:32] RussKeldorph commented on #24489
@echesakovMSFT Could you close this as duplicate if you've confirmed that's the case?

[2019-05-31 23:59] brianrob commented on #24900
@jkoritzinsky, sent them to you via e-mail.

[2019-06-01 00:15] noahfalk commented on #24680
@davmason - One option to consider: If @mihail-vladov used VS to capture a dump of the process when the arrow is in the wrong place, then loaded that dump in VS to confirm the arrow is still in the wrong place, you might be able to get some good info about the issue from that.

[2019-06-01 00:18] RussKeldorph commented on #24806
@noahfalk

[2019-06-01 00:42] tommcdon commented on #24806
cc @davmason

[2019-06-01 01:48] benaadams commented on #18542
Guess would be copyprop? Currently outputs this
[code]
But doesn't then do any copyprop

[2019-06-01 02:17] swaroop-sridhar commented on #20287
@gaviriar I tried out the example you've published, and it worked fine for me.
That is, it built a self-contained single-exe for HelloWorld that runs OK.

This is definitely not expected. The single-file app should be about 70MB (for the debug build indicated on your gitlab page). Otherwise, it is a normal apphost, which is expected to fail exactly as you've noted above.  Are you publishing from a

[2019-06-01 02:41] benaadams commented on #18542
Adding in the loop exit conditions
[code]

[2019-06-01 02:53] benaadams commented on #18542
Adding in the loop exit conditions
[code]

[2019-06-01 03:04] igloo15 commented on #20287
@gaviriar what is your target runtime identifiers. If you don't set it correctly it won't bundle the correct hostfxr.dll. Its possible the hostfxr.dll requires a specific vc++ redistributable that does not exist on your windows 7 machine. You can check that dll at given path exists and if it does try to load it in dependency walker tool to see if a dll it depends on exists.

[2019-06-01 03:08] benaadams commented on #18542
And stage before
[code]

[2019-06-01 03:58] sandreenko commented on #23516
@AndyAyersMS looks like the issue was resolved by #20440, can we close it?

[2019-06-01 08:50] mikedn commented on #24846
FWIW `Unsafe.InitBlock(p, 0, 0);` asserts in morph:
[code]
If the asserts is removed then it seems to work fine, though unexpectedly generating a helper call:
[code]

[2019-06-01 10:58] GSPP commented on #23241
Let's make the JIT recognize that IL pattern then. No need for new opcodes.

[2019-06-01 15:13] omariom commented on #23241
Then  all the patterns JIT recognize must be documented
 as C# is not the only language generating IL.
And that will make IL RISC and the patterns will become CISC.

[2019-06-01 15:39] RealDotNetDave opened #24907 "Perf: Using Any() on a Collection"
I have done testing on performance between Clr 4.7.2 and Core 3. I have found a performance issue with using Any() on a collection. Below is the test code, the collection has 10,000 items in it.

public bool TestCollectionValidationWithAny01()
{
    return _fakePersonFixedCollection.Any();
}

The performance results are:
'COLLECTION HAS ITEMS: With Any()' | X64 | Clr | 6,213.0 ns
'COLLECTION HAS I

[2019-06-01 15:43] Korporal commented on #7957
Still no progress on this bug. I can only assume that a few users are raising this, because a truly fundamental failure to process completely legal generated code strikes me as something that would get a little more attention.

[2019-06-01 15:58] gafter commented on #23241
The problem is that this pattern must be reliably recognized by all JITs, not just one of them under some circumstances.  Otherwise programmers cannot rely on the performance in writing their algorithms.  Adding a new instruction adds confidence that JITs recognize it.

[2019-06-01 16:09] benaadams commented on #18542
Hmm not sure how to do this.

What I'm envisaging is if there is a copy to a (first use); and followed by a (last use) copy
[code]
Then that intermediate copy can be skipped becoming
[code]

Or in the Live vars output
[code]
becomes
[code]

[2019-06-01 16:33] stephentoub commented on #24907
What kind of collection? How are you invoking the benchmark? Please share the whole repro. Thanks.

[2019-06-01 17:28] billwert commented on #24907
I'm not able to repro this.

|  Method |  Job | Runtime | length |     Mean |     Error |    StdDev | Ratio |
|-------- |----- |-------- |------- |---------:|----------:|----------:|------:|
| IntList |  Clr |     Clr |     10 | 12.97 ns | 0.0225 ns | 0.0188 ns |  1.00 |
| IntList | Core |    Core |     10 | 11.05 ns | 0.0552 ns | 0.0490 ns |  0.85 |
|         |      |         |        |

[2019-06-01 17:57] RealDotNetDave commented on #24907
The collection is a List<> of a business object that holds person data. For this test, there are 10,000 items in this collection. I plan to do smaller ones, but for now, that is what I used for my performance book I released a few months ago.

The repository is here: https://dev.azure.com/RockYourCode/Code%20and%20App%20Performance%20for%20Microsoft%20.NET
Shoot me your username for Azure DevOps a

[2019-06-01 18:34] billwert commented on #24907
That should be basically the same as my test.

My AzDO login is my github username @microsoft.com.

[2019-06-01 19:02] GSPP commented on #7957
@Korporal the 3.0 release is getting closer and the team is becoming more selective in what issues to take on. That might be the reason. (I'm not a team member.)

[2019-06-02 02:19] benaadams commented on #18542
Might have something...

[2019-06-02 04:42] danmosemsft opened #24908 "Assertion failure in syncblk.cpp line 2995 -- Failure in GC/Scenarios/FinalizeTimeout/FinalizeTimeout/FinalizeTimeout.sh"
Was on OSX x64 checked.
[code]

[2019-06-02 04:47] danmosemsft commented on #24908
dupe of https://github.com/dotnet/coreclr/issues/24879

[2019-06-02 11:24] benaadams commented on #18542
https://github.com/dotnet/coreclr/commit/0e563ba7c57761620e27566bced9b59fa2bf13e1 Identifying the items to change, but not updating the tree correctly as it crashes before the next step in Jit

[code]

[2019-06-02 11:50] benaadams commented on #18542
https://github.com/dotnet/coreclr/commit/6b3131f1c3b94da36405693f7e8015f7157e72fb identifying the items to change, but not updating the tree correctly as it crashes in the `optOptimizeValnumCSEs` step
[code]

[2019-06-02 13:22] TonyValenti opened #24911 ".net core 3 large object heap compaction"
We have a .net 4x app that we are having LOH fragmentation issues with. To work around the issue, we are now only using node-based collections.

Does .net core 3 ever compact the LOH?  Is there any way to make .net 4 compact the LOH?

[2019-06-02 13:50] #24908 closed

[2019-06-02 13:50] danmosemsft commented on #24879
This has happened twice in a row for me on my PR.

[2019-06-02 13:52] danmosemsft commented on #24879
Note mine were both in Finalizetimeout, not the tests listed above.

[2019-06-02 14:35] johnkellyoxford opened #24912 "Codegen: Checking for ISA support affects inline codegen"
[SharpLab](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIAYACY8gOgDkBXfGKASzFwBuGvSasAShwB2GXtxYBhCPgAOvADY8AyjwBu/GEJGNmLSTLkwWASRl8pufkdomJ02fNsZ7jgSwAaABxIwtTGDABSEAAWUgBqMGAY0AwAvGJm7pY2drwOTiwJSdDkpIEAPABm6hDYGAB8oaJaAJ64nPhFyVBpGR08BV3QKKEiAMxMpAwKDADeNAyLDADaALIwGNEQACbWquoAFOubO3sq6gDyKrIQDiwAggDmj7C4jrowtup5eY8MhAxjltdvsrjc7k8XoZ3jAwXJeAAvOq8W4ASgAugslsQJswkAwhlBS

[2019-06-02 16:15] gfoidl commented on #24911
See [GCSettings.LargeObjectHeapCompaction](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.gcsettings.largeobjectheapcompactionmode?view=netcore-3.0).

[2019-06-02 18:23] benaadams commented on #18542
Have an change that looks like it addresses it; just need to clean it up. It makes the following diff
[code]

[2019-06-02 21:44] svick opened #24914 "Cannot build System.Private.CoreLib in Visual Studio"
I have issues building System.Private.CoreLib.sln in Visual Studio. What I did:

0. `git clean -xdf`.
1. `build.cmd`. This completes successfully.
2. Open and build System.Private.CoreLib.sln in VS 2017:

    I think this means that VS 2017 is no longer supported, which is fine, but it's still listed in [the documentation](https://github.com/dotnet/coreclr/blob/master/Documentation/building/window

[2019-06-02 23:41] sandreenko commented on #24879
More examples from master branch:
[Linux x64 Checked no_tiered_compilation @ (Alpine.38.Amd64.Open)baseservices/threading/regressions/beta2/437017/437017.sh](https://dev.azure.com/dnceng/public/_build/results?buildId=208881&view=ms.vss-test-web.build-test-results-tab&runId=5072336&resultId=106806&paneView=debug), [R2R Linux x64 Checked no_tiered_compilation @ (Alpine.38.Amd64.Open) baseservices/th

[2019-06-03 00:30] stephentoub commented on #24907
Can you just post a standalone benchmark that repros this?  Everyone in the community should be able to participate in an issue that's opened citing a problem. Thanks!

[2019-06-03 07:30] YairHalberstadt opened #24916 "Guarantee devirtualization of calls to struct default interface methods."
See https://github.com/dotnet/csharplang/issues/2577

It is currently illegal to write:

[code]

This is apparently in order to prevent implicit boxing of the `this`.

However it seems to me that the JIT should always be able to devirtualize the call here, in the same way as it devirtualizes `Equals`, `ToString`, `GetHashCode` and `GetType`.

If so it would be useful if the JIT could guarantee thi

[2019-06-03 07:58] mikedn commented on #24916
This doesn't sound like something that the JIT by itself can do. In general optimizing compilers do not guarantee that optimizations are performed. This needs to be discussed from a runtime perspective as it requires a certain semantic to be agreed upon and enforced.

Interfaces are reference types and required a boxed `this`. The JIT could devirtualize, inline and remove boxing. But inlining is k

[2019-06-03 09:36] MichalStrehovsky commented on #21603
@CarolEidt the second option with generating all intrinsics, but making `IsSupported` always do a call is pretty intriguing. We can probably only do this for SPC (because code that doesn't guard intrinsic use with `IsSupported` would lead to invalid instruction traps instead of a managed exception - which would be a user experience regression that is probably acceptable only in SPC), but it would

[2019-06-03 13:18] quantrpeter opened #24919 "only cd to current directory works"
Hi
   I have compiled the clr since i need ilasm and ilsasm commands. When i cd to the output directory and run ilasm, it works:

/Users/peter/workspace/coreclr/bin/Product/OSX.x64.Debug>./ilasm

if i add the path to $PATH and run it in other directory by "ilasm". It said:

Segmentation fault: 11

Please help
Thanks
Peter

[2019-06-03 13:38] quantrpeter opened #24920 "Any good open source library to manipulate the .net core clr byte code"
Hi All
   Any good open source library to manipulate the .net core clr byte code?
Thanks
Peter

[2019-06-03 14:34] CarolEidt commented on #24912
@johnkellyoxford - I looked briefly at the PR from which you referenced this issue, but it's pretty large. If you were able to come up with a small example where you see this, it would be easier to analyze.

I doubt that this is directly related to the check for `Sse.IsSupported`, as that is eliminated by the JIT as a compile-time constant. FWIW, `Sse2` is the baseline requirement for coreclr, so

[2019-06-03 14:43] EgorBo commented on #24912
@CarolEidt a bit less verbose sample: https://gist.github.com/EgorBo/70e879212440003d948ead6c1b824538

[2019-06-03 15:29] MichalStrehovsky commented on #24916
It's easy to come up with a default interface method where boxing is unavoidable. Here is a useless one:

[code]

It's better to get predictable boxing at the callsite of the interface method than to get unexpected boxing somewhere else.

[2019-06-03 15:46] #24772 closed

[2019-06-03 15:48] Perksey opened #24921 "Does .NET possess any safety critical certifications?"
To whom it may concern,

Currently, we're investigating the feasibility of offering safety critical options within OpenTK as OpenGL has an FAA certified variant called OpenGLSC. However, such an effort would be moot if .NET itself doesn't have any military certification such as the DO-187C certification. I'm hoping someone in the .NET Foundation could answer this?

Kind regards,

Dylan Perks

[2019-06-03 15:48] RussKeldorph commented on #24425
@richlander @leecow @janvorli Ping.  Is it reasonable to just leave this issue and #6283 as landmarks for others to discover this issue, or should we note it along with @janvorli's workaround formally somewhere?

[2019-06-03 15:51] jashook opened #24922 "[release/2.1 | Windows] Unable to run tests locally."
Test discovery seems to be failing. When running tests, 0 tests will be found to run, during a pri1 run.

[2019-06-03 15:51] tannergooding commented on #24921
CC. @richlander

[2019-06-03 15:55] RealDotNetDave commented on #24907
I changed my tests around for collections that it tests three different sizes. As you can see below, a smaller List performs better than a large one. The reason I am using a large size of 10K is that I use to work on a contract that users could easily have a collection of this size sitting in memory in an ASP.NET site.

10K:
Clr: 3,202 ns
Core: 7,348 ns

2K:
Clr: 2,828 ns
Core: 2,595 ns

100:
Clr:

[2019-06-03 16:01] stephentoub commented on #24907
This is why we need to see the benchmark. I don't see how this could just be testing Enumerable.Any() on a List, as any count > 1 should be irrelevant.

[2019-06-03 16:09] RussKeldorph commented on #24839
This was incorrectly closed per comment in #24862

[2019-06-03 16:18] YairHalberstadt commented on #24916
@MichalStrehovsky

Thanks for your example. I guess things weren't as simple as I thought.

Do you think the number of cases where devirtualization wont occur is great enough that the risk of implicit boxing due to allowing structs to access DIMs is greater than the benefits of allowing them to do so?

[2019-06-03 16:25] RussKeldorph commented on #24683
@jaredpar

[2019-06-03 16:30] RussKeldorph commented on #24914
AFAIK we only support building from the command line.

[2019-06-03 16:34] jkotas commented on #24920
https://www.nuget.org/packages/Mono.Cecil/

[2019-06-03 16:54] scottstephens opened #24923 "Possible Crash Relating to Signal Handling"
I'm getting a segfault crash in an application of mine when I run it under .NET Core 2.2 or 3.0-preview5, but not under 2.1. Here's the termination message and backtrace from a core dump:

[code]
Some background information that may be helpful:
* The backtrace is the same every time.
* The application uses OpenOnload kernel bypass networking; the onload_recvmsg, __citp_exit_lib, citp_signal_run_pe

[2019-06-03 16:54] jkotas commented on #6545
We use ArrayPool in number of places now.

[2019-06-03 16:54] #6545 closed

[2019-06-03 17:10] MichalStrehovsky commented on #24916
Yes, that was [the C# language design meeting decision](https://github.com/dotnet/csharplang/blob/master/meetings/2017/LDM-2017-04-19.md#structs-and-default-implementations) on it.

[2019-06-03 17:30] #24916 closed

[2019-06-03 18:02] johnkellyoxford commented on #24912
Yeah, @EgorBo 's code is exactly representative of it. In a benchmark, it resulted in a slowdown from 1.4s -> 1.7s, which is not insignificant.

That's useful to know thanks 😄  - however, they function as an implicit `IsWindows` test too, as opposed to eventual NEON ARM pathways, currently not written (which is why software fallbacks still needed)

[2019-06-03 18:17] jkotas commented on #24923
cc @janvorli

[2019-06-03 18:37] janvorli commented on #24923
Looking quickly at what the Onload library does w.r.t. signals, it seems to somehow postpone signal handling and then later call the signal handlers from the `citp_signal_run_pending`. I guess that that stuff somehow collides with our signal handling. For example, when we handle sigsegv or the SIG34 (used for our activation injection), we expect that the call stack still contains the signal frame

[2019-06-03 18:49] svick opened #24925 "Debug error: stack was corrupted when running tests"
When I try to run CoreCLR tests, I get a Debug Error indicating that the stack was corrupted. What I did:

0. `git clean -xdf`.
1. `build.cmd`: succeeds.
2. `build-test.cmd`: succeeds.
3. `tests\runtest.cmd` displays the following error dialog:

    ![](https://user-images.githubusercontent.com/287848/58819625-efb9e380-8630-11e9-88fa-cc350d1733cc.png)

Its console output:

[code]

If there is some

[2019-06-03 19:09] stephentoub opened #24926 "Re-evaluate defaults in ArrayPool.Shared"
Prior to trimming support being added in, `ArrayPool.Shared` was given several hardcoded upperbounds, e.g.
https://github.com/dotnet/coreclr/blob/6631a7a0f9b6268f5e6c0f609a2d0d2a730a2118/src/System.Private.CoreLib/shared/System/Buffers/TlsOverPerCoreLockedStacksArrayPool.cs#L33-L38

Now that we have basic trimming support in place, where unused arrays will be removed from the pool in response to m

[2019-06-03 19:41] scottstephens commented on #24923
Here's the requested disassembly:

[code]

[2019-06-03 20:25] davmason commented on #24806
@ww898 Can you tell me what problem you're trying to solve? As I mentioned in the other issue ICLRProfiling is removed starting with 3.0 preview 6 so adding methods to it won't be possible.

[2019-06-03 20:26] AndyAyersMS commented on #23241
It seems like this is something that might fit fairly well as an intrinsic. No new IL or IL pattern matching would be needed, and it could be engineered so that jit/runtime optimization was possible but also optional.

We'd agree on some BCL method(s) for this operation, eg `int TypeSwitch(Type t, Type x_0, Type x_1, ...)`, and find an efficient way to cope with the varadic cases (one can always j

[2019-06-03 20:58] jashook commented on #24888
After #24929 we hit more arcade issues:

[code]

[2019-06-03 21:08] jzabroski commented on #23241
That is a very pragmatic middle-ground.  Also, by hoisting TypeSwitch up to intrinsic level, it might even be possible to do fancy C# to FPGA synthesizer (completely different target architecture), as you have not yet dipped into the needless abstraction of CIL registers (and even so, the registers become fields in a special component named device in the FPGA), so your approach is likely the most

[2019-06-03 21:33] kouvel commented on #19795
Currently the pending work item count reflects the total from the global queue and work-stealing queues, to keep the APIs simple to begin with. How the queues would be managed is kind of an implementation detail and may change in the future. There probably are cases where it would be useful to know each count separately and it would probably be good to consider what changes would be occurring to q

[2019-06-03 21:40] echesakovMSFT commented on #24489
Confirmed that this is a duplicate of #24278 and will be fixed with #24371

[2019-06-03 21:40] #24489 closed

[2019-06-03 21:41] JustDre commented on #10386
Just out of curiosity, why can't the JIT transform count-up loops into count-down loops?

FWIW, I tried manually transforming a count-up loop to a count-down loop and got
            for (var x = count; x != 0; x--)
00007FFA9C3B74CF  dec         eax
00007FFA9C3B74D1  test        eax,eax
00007FFA9C3B74D3  jne         00007FFA9C3B74AF

Here I'd say the 'test eax,eax' was unnecessary.

[2019-06-03 22:33] CoffeeFlux opened #24934 "`typeof(object).IsAssignableFrom(typeof(int*));` evaluates to true"
Discovered as part of https://github.com/mono/mono/pull/14733

`typeof(object).IsAssignableFrom(typeof(int*))` evaluates to true, yet `typeof(object[]).IsAssignableFrom(typeof(int*[]))` evaluates to false. The CLI standard (I.8.7.1) says "6. T is an array with rank r and element type V, and U is an array with the same rank r and element type W, and V is array-element-compatible-with W.", which the

[2019-06-03 22:48] janvorli commented on #24879
I have tried to repro and with COMPlus_HeapVerify=5, I was able to get a repro reasonably often.
When I opened the core dump in LLDB though, the `m_alignpad` was surprisingly 0. And the same happened when I have managed to repro the issue in a live LLDB session.
So I've instrumented the code to save the value of `m_alignpad` before we check for the assert condition - and the value was 0xaaaaaaaa.

[2019-06-03 22:51] tommcdon commented on #24839
Fixed in release/3.0 on #24924

[2019-06-03 22:51] #24839 closed

[2019-06-03 23:01] AndyAyersMS commented on #24835
Reran the query and there are a spate of new Arm32 failures, all in threading tests.

I am able to get the following test to fail, though it's not clear yet if this the same failure seen in CI. This happens every 50 runs or so, with a concurrent `stress -c 6` running.
[code]
Will try and capture the core dump...

[2019-06-04 00:51] janvorli commented on #24879
@Maoni0 has pointed me to a recent change that she thought may have introduced the issue (#24504). I've checked out sources right before the commit and I was unable to repro it in 1000 iterations. So the #24504 is very likely the culprit.
@VSadov can you please take a look?

[2019-06-04 01:10] quantrpeter commented on #24920
thanks

Thanks
From Peter (System Architect, Quantr Limited)

________________________________
From: Jan Kotas <notifications@github.com>
Sent: Tuesday, June 4, 2019 12:35:13 AM
To: dotnet/coreclr
Cc: Peter Cheung; Author
Subject: Re: [dotnet/coreclr] Any good open source library to manipulate the .net core clr byte code (#24920)

https://www.nuget.org/packages/Mono.Cecil/

—
You are receiving thi

[2019-06-04 01:34] echesakovMSFT opened #24940 "Assertion failed 'rn != nullptr' in 'System.Runtime.Intrinsics.Vector256:AsByte(struct):struct'"
Could be repro with `COMPlus_NGenDisasm=System.Runtime.Intrinsics.Vector256:AsByte(struct):struct` when crossgen-ing System.Private.CoreLib.dll with Hostx64/arm64 crossgen

[code]
Stack trace
[code]

reg=REG_R2
size=EA_16BYTE

@dotnet/jit-contrib

[2019-06-04 02:07] #24807 closed

[2019-06-04 02:38] #24925 closed

[2019-06-04 03:55] #24933 closed

[2019-06-04 04:30] jkotas commented on #24934
It evaluates to false in .NET Core. I guess you have tested this in .NET Framework that is missing a lot of bug fixes made in .NET Core.

This bug was fixed for .NET Core 2.0 by https://github.com/dotnet/coreclr/issues/10646

[2019-06-04 04:30] #24934 closed

[2019-06-04 07:28] AndyAyersMS commented on #24835
I can get `baseservices/threading/regressions/beta2/437017` to hit this same assert about one in every 150 runs (with side stress). But no luck yet enabling core dumps.

@janvorli does this assert ring any bells?

[2019-06-04 07:41] NitzanEgozy commented on #15559
Any news regarding this?
Thanks,
Nitzan.

[2019-06-04 08:07] janvorli commented on #24835
@AndyAyersMS my guess is that it might be caused by the same thing as the #24879 that I've investigated yesterday. I am guessing based on the fact that it asserts due to something in the sync block.

[2019-06-04 10:42] spacelg opened #24943 "CoreCLR failed to build due to error MSB3073 with MSVC on windows"
We tried to build CoreCLR and it failed to build due to error MSB3073 with MSVC on windows. It can be first reproduced on fa8383f revision. It should be a CoreCLR source issue. Could you look at this issue? Thanks a lot.

Repro steps:
1.git clone https://github.com/dotnet/coreclr D:\CoreCLR\src
2.Open a clean x86 prompt and browse to D:\CoreCLR\src
3.build x86 release -- /clp:ShowCommandLine

[log

[2019-06-04 10:59] janvorli commented on #24923
Based on the disass above, we hit the SIGSEGV here:
https://github.com/dotnet/coreclr/blob/1ab8b90ca9f8748776b00cc21cd5740b53dec67b/src/pal/src/thread/context.cpp#L559
The loop got unrolled and we hit the issue for the last iteration when reading the value.
The `FPREG_St(native, i)` expands to `*(M128A*) &(FPSTATE(native)->sv_fp[i].fp_acc)` which further expands to `*(M128A*) &(((savefpu*)((native

[2019-06-04 11:12] janvorli commented on #24835
You can try to checkout sources at commit 2b08a111cc and see if you can still repro it.

[2019-06-04 11:31] RussKeldorph commented on #24028
Another hit: https://mc.dot.net/#/product/netcore/master/source/official~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190603.4/workItem/baseservices.threading/analysis/xunit/baseservices_threading._interlocked_exchange_ExchangeTString_ExchangeTString_~2F_interlocked_exchange_ExchangeTString_ExchangeTString_sh

[2019-06-04 11:51] RussKeldorph commented on #24028
Seems to hit official builds every 2-3 days

[code]

Also hits CI builds post-commit:
Jobs
| where Source startswith "ci/dotnet/coreclr/refs/heads/master"
| join kind = inner (TestResults | where Result != "Pass" and Method contains "ExchangeTString") on JobId
| project Started, Source, ARM64=Properties contains "Arm64", Message

All occurrences of this failure mode are on ARM64, so adding that la

[2019-06-04 13:34] CoffeeFlux commented on #24934
Ah whoops. Thanks!

[2019-06-04 13:38] apollux opened #24946 "Trace.Assert does not trigger"
Consider the following program:
[code]

I expect the Trace.Assert to trigger in both Debug and Release configuration. However it does not trigger at all.

`dotnet run -c Debug` results in:
[code]

`dotnet run -c Release` results in:
[code]

Dotnet version: 2.1.507

The Debug output in Visual Studio does show that the assertion fails in both Debug and Release configuration:
[code]

[2019-06-04 14:41] leecow opened #24947 "Review and update THIRD-PARTY-NOTICES.TXT for 3.0"
Review and update repo THIRD-PARTY-NOTICES.TXT as appropriate. Work should be completed for Preview 7.

[2019-06-04 14:59] svick opened #24948 "Debug Error: stack was corrupted in olevariant.cpp"
When executing `tests\runtest.cmd`, I encountered a Debug Error in the ConsumeNETServer test.

What I did to reproduce it:

1. `set CORE_ROOT=C:\code\coreclr\bin\tests\Windows_NT.x64.Debug\Tests\Core_Root`
2. `C:\code\coreclr\bin\tests\Windows_NT.x64.Debug\Interop\COM\NETClients\ConsumeNETServer\ConsumeNETServer\ConsumeNETServer.cmd`

This displays:

![](https://user-images.githubusercontent.com/2

[2019-06-04 15:33] #24920 closed

[2019-06-04 17:32] andrii-litvinov commented on #24779
I played more with it and all works good with dotnet-sos 1.0.4-preview6 and minidumps created with `-cap-add=SYS_PTRACE` option and `COMPlus_DbgEnableMiniDump=1` set. Thank you for the guidance!

However I still cannot see symbols in core dumps created by Linux kernel. Will native core dumps ever be supporter by SOS? Or will it only work with minidumps created by CLR? If not then I guess that's an

[2019-06-04 17:47] mattwarren commented on #19622
@noahfalk sorry for the late reply, I've been working on other things and only just getting back to this issue now

Here's my general thoughts, having worked on a *IL rewriting profiler* and an *ELT Hook, metadata-based* one (using an approach similar to the one you described in https://github.com/dotnet/docs/issues/6728#issuecomment-409394385)

Full caveat, in both cases the decision to go with I

[2019-06-04 17:52] mattwarren commented on #19622
@noahfalk / @tommcdon / @davmason

Are you able to say if this will be fixed in .NET Core 3.0 or is that not something you can comment on?

[2019-06-04 17:55] mikem8361 commented on #24779
Linux system core dumps will work with SOS if you set the “coredump_filters” to 0x3f (see http://man7.org/linux/man-pages/man5/core.5.html for more details):

   $ echo 0x3f > /proc/self/coredump_filter
   $ ulimit -c unlimited
   $ <run faulting application>

But on Linux “createdump” (COMPlus_DbgEnableMiniDump=1) is still the best way to generate a fairly small core dump that has all the managed

[2019-06-04 18:11] CarolEidt opened #24953 "Zero-length cpblk or initblk should be removed"
See Issue #24846 and PRs #24871 and #24950 (and test case JIT/Regression/JitBlue/GitHub_24846).
The zero-length cpblk could be removed by `Lowering`, but it will need to take care not to remove any side-effects.

[2019-06-04 18:24] AndyAyersMS commented on #24676
This fix will also flow into 2.2.

[2019-06-04 18:36] scottstephens commented on #24923
@janvorli I wasn't 100% sure which frame was going to have the info you wanted, hopefully one of these is what you need:

[code]

[2019-06-04 18:39] sywhang commented on #23126
This issue is fixed in master now.

[2019-06-04 18:39] #23126 closed

[2019-06-04 18:49] #24900 closed

[2019-06-04 19:31] VSadov commented on #24879
Hmmm. I have removed the following:
[code]
because we will set the syncblock (and align pad) later anyways.
The _later_ is after we release the heap lock, so could explain concurrency issues (originally it was before releasing the lock).
It however should not matter since the allocation context is used by the same thread.

[2019-06-04 19:38] janvorli commented on #24879
You have also added
[code]
in `gc_heap::bgc_loh_alloc_clr`
Could that possibly be the issue?

[2019-06-04 19:40] VSadov commented on #24879
That is basically moving the assignment. We were already doing it for SOH, and it should be done for LOH as well (regardless if verifying or not).
But once we assign later, we should not need the assignment earlier.

[2019-06-04 19:40] AndyAyersMS commented on #24879
Seeing possibly related issues in #24835 -- a bunch of threading related tests failed just recently. I haven't tried backing out #24504 yet...

[2019-06-04 19:48] Maoni0 commented on #24879
one thing to check is if this assert is actually valid. seeing 0xaa means this is right at heap_segment_allocated; and we had just adjusted this value to be larger so is the verification code running concurrently with this and mistakenly trying to verify an object that isn't fully constructed yet?

[2019-06-04 19:51] janvorli commented on #24879
The assert is valid, it is validating an object that was allocated recently. It fires even without heap verification, only less often.

[2019-06-04 19:52] VSadov commented on #24879
The other concerning part is that removed `((void**) allocated)[-1] = 0;  ` was debug-only.

[2019-06-04 19:59] stephentoub opened #24956 "PLINQ test hit SEHException on Ubuntu ARM64"
https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F38211~2Fmerge/test~2Ffunctional~2Fcli~2Finnerloop~2F/20190604.1/workItem/System.Linq.Parallel.Tests/wilogs
[code]

[2019-06-04 20:15] Maoni0 commented on #24879
@janvorli but it fires on validating an object right? I'm saying perhaps we are not doing the validation correctly, with or without heap verification. heap verification just helps us to recognize this is a newly allocated space at the end of the segment.

[2019-06-04 20:31] VSadov commented on #24879
Are there any stack traces?
It will take some time to make local repro, but by looking at the stack we could have some ideas.

[2019-06-04 20:40] janvorli commented on #22224
@sergiy-k could you please share your recent finding on this?

[2019-06-04 20:42] davmason commented on #19622
@mattwarren

Right now it's on the backlog, which means we'd like to fix it but nothing is guaranteed. Since we are relatively late in the 3.0 cycle anything on the backlog has a realistic risk of not getting fixed. If you let me know how this impacts you (i.e. without this will you have to do a workaround or will you be unable to make your profiler work at all on linux), then it gives us better i

[2019-06-04 21:00] CarolEidt commented on #24953
Here's the code I originally added to the `GT_STORE_BLK` and `GT_STORE_OBJ` case in `Lowering::LowerNode()`:
[code]
This will take care of the case where there is interspersed code (e.g. from a pre-LIR comma), but won't address side-effects in the tree itself.

[2019-06-04 22:38] #24948 closed

[2019-06-04 23:08] jkoritzinsky commented on #18013
Update: The feature work on the .NET runtime side is complete. I've marked the issue as blocked as the full scenario isn't yet complete due to the work on the C++ side still being in-progress.

[2019-06-05 00:16] #24510 closed

[2019-06-05 00:45] #21524 closed

[2019-06-05 00:58] tommcdon commented on #23224
FIle polling test

[2019-06-05 00:58] #23224 closed

[2019-06-05 01:06] #15693 closed

[2019-06-05 01:15] karelz commented on #7957
Also, this issue was reported by 2 people so far. So while your realistic example may be bad experience (I didn't check it yet), the reality is not too many people hit it yet, which means lower priority. Hardly something as must-have for 3.0 (just my opinion).

[2019-06-05 01:34] karelz commented on #20220
@davidwengier @RussKeldorph there seems to be bunch of duplicates - see https://github.com/dotnet/coreclr/issues/20220#issuecomment-488859255
It seems to hit quite a few customers now. Is it correctly triaged to Future instead of 3.0?

cc @jkotas

[2019-06-05 01:41] AaronRobinsonMSFT commented on #24943
@elinor-fung Have you observed this for x86? Seems like an issue with the IL tools not being initialized.

cc @RussKeldorph

[2019-06-05 01:50] kkokosa opened #24963 "Local GC API to support object scanning"
Current GC API to support creating custom GCs is nice but lacks one important feature: possibility to enumerate all the references inside an object.

`IGCToCLR` interface provides already methods to suspend/restart managed threads and stack root scanning. So we can write the simplest implementation as follows:

[code]

Where provided callback is as simple as:

[code]

Unfortunately, implementing `

[2019-06-05 01:51] jkotas commented on #20220
Yes. This implementation limitation of CoreCLR Typeloader goes pretty deep. It is not easy to fix.

[2019-06-05 01:54] karelz commented on #20220
Thanks @jkotas! Would it make sense to clean up the duplicates and make one central issue with clarification of the limitations as you posted above?

[2019-06-05 02:18] jkotas commented on #20220
This is duplicate of #7957

[2019-06-05 02:18] #20220 closed

[2019-06-05 02:20] jkotas commented on #20220
For the record, the repro from the top can be simplified to:

[code]

[2019-06-05 03:00] AndyAyersMS commented on #24835
Still seems to repro even at that commit. Finally have a stack trace for the 437044 test assert... looks like a safe handle got disposed and we're throwing an exception and the object we're throwing has a bad sync block:
[code]

[2019-06-05 04:24] kouvel opened #24966 "[Linux / perfcollect] R2R image perf map offsets don't correspond with offsets collected in perf trace"
I see stacks like this:

[code]

This is with test.dll crossgen'ed with R2R. Sometimes it says "unknown" and sometimes (often in System.Private.CoreLib), it shows an incorrect method.

test.ni.{guid}.map - these are the only methods from test.dll that show up in the perf trace, and the first two are the lowest offsets in the map:

[code]

perf.data.txt - code offsets recorded for test.dll are lowe

[2019-06-05 04:29] davidfowl commented on #24694
I got another one to add about object lifetime, thread safety and testability. I've spent the last day fighting with EventSource and EventListener trying to write a set of unit tests that run in parallel. Even when creating objects that look like they don't mutate global state, it seems like they still do. I think it's a massive design flaw of the current object model to do things implicitly like

[2019-06-05 05:29] mikedn commented on #24953
This is probably more complicated than it needs to be - normally we should simply remove the store itself and mark the load as unused.

Now, if the load is a struct typed indir we'll probably run into problems since the size is no longer known so we can't figure out that it doesn't have side effects so we'll need to remove the load as well.

But address trees, if any, can be marked as unused and t

[2019-06-05 07:08] noahfalk commented on #19622
@mattwar thanks a bunch for the feedback and no worries on the timing! Its a long-lead idea just simmering at this point. And not to worry, your feedback very much makes sense - I read it primarily to say profilers may have a big investment on a particular tech and so changing to anything else means migration cost if the new thing isn't highly compatible with the old thing. Totally reasonable.

We

[2019-06-05 07:19] elinor-fung commented on #24943
I have not seen this. The failure is in initializing BuildTools (`build-test.cmd` is not properly bailing when initializing fails, so it continues trying to build and hits errors later because the tools are not actually initialized). From the log, the command that is failing is explicitly passing `win-x64` as the rid:
`call "D:\CoreCLR\src\.dotnet\dotnet.exe" build "D:\CoreCLR\src\Tools\ilasm\ilas

[2019-06-05 08:54] bbc2 commented on #19622
For what it's worth, since you seem to be interested in feedback in this thread, here's some more, based on our experience building a profiler at Cryptosense.

We analyze the cryptography of applications by logging calls they make to cryptographic APIs (like `javax.crypto.Cipher.init` or `System.Security.Cryptography.Aes.Create`).  In Java, we use a JVM agent, also written in Java and with the hel

[2019-06-05 09:19] janvorli commented on #24879
The checked build of baseservices/exceptions/regressions/V1/SEH/VJ/ExternalException/ExternalException test executed with COMPlus_HeapVerify=5 on OSX reproes that issue for me within 10..20 attempts.

The stack trace looks as follows (source code at commit 3366b328bb5fc15451b605074b2efd9177b985f1):
[code]
I can share a core dump if you are interested.

[2019-06-05 09:32] jaundice commented on #20930
![image](https://user-images.githubusercontent.com/1006327/58945462-ceb1d980-877b-11e9-93b4-b45d51c1225d.png)
I am having an issue that looks suspiciously like this one.
Microsoft.AspNetCore 2.2.0
Microsoft.NetCoreApp.2.2.4
Kestrel/Stateless/ServiceFabric

[2019-06-05 12:27] stephentoub commented on #20930
Yes, that looks like the same issue. It was fixed for 3.0.

[2019-06-05 12:30] jaundice commented on #20930
@stephentoub Thanks, any idea when 3.0 will be released?

[2019-06-05 12:37] stephentoub commented on #20930
https://github.com/dotnet/core/blob/master/roadmap.md

[2019-06-05 12:52] janvorli commented on #24879
@VSadov I've double checked to make sure that your change introduced the issue. The state at commit right before your change (2b08a111cc77d77221889700d169c9c636153355) and at your commit (4ca032d49b0718eb40f2105f94db2b243cf94957). I cannot repro the issue in the previous commit and I can repro it with your one.

[2019-06-05 13:32] shaggygi opened #24974 "System.Runtime.Remoting Support"
There has been many mentions of System.Runtime.Remoting APIs not being ported to .NET Core.  I understand the reasoning, but want to understand a little more before continuing with other options.

I have an older API that depends on System.Runtime.Remoting.  I was trying to port it to a .NET Core v3 library and use with a .NET Core console app.  When it reaches the code that references Remoting co

[2019-06-05 13:38] shaggygi commented on #24974
Meant to add to CoreFx (https://github.com/dotnet/corefx/issues/38259).  Closed this issue.

[2019-06-05 13:38] #24974 closed

[2019-06-05 14:24] VSadov commented on #24879
Thanks. The stack is very helpful. It is validation of the _next_ object.
We had a theory about this and stack points at that as well -

It seems to be a timing issue. The space that follows a live object is already claimed as “allocated”, but not yet cleaned. If you look at that from another thread, you may see it as an object in a bad state. Delaying syncblock cleanup made this worse.

If this i

[2019-06-05 14:56] tomrus88 commented on #24397
File size information for .NET Core SDK 3.0.100-preview7-012261

Project Type | Self Contained | SingleFile | SingleFile+Trim
------------ | ------------ | ------------- | -------------
Console | 69MB | 69MB | 28.4MB
WinForms | 152MB | 168MB | 101MB
WPF | 152MB | 168MB | 101MB

So bug where single file publish for WinForms/WPF has 16MB (168-152) extra compared to no single file still exist (someho

[2019-06-05 15:02] jeffschwMSFT commented on #24397
Thanks @tomrus88 for the set of numbers.  I chatted with @swaroop-sridhar this week about the additional content in the bundle, and we believe the build targets are passing in additional files to bundle.  We are looking deeper and will have an update.  Happy to hear that WPF trimmed is working as expected.

[2019-06-05 15:31] AndyAyersMS commented on #24835
Just double-checked and I am still running the "newer" bits in the above. So this still could be the same issue as in #24879 -- failing stack looks similar.

[2019-06-05 15:32] mihail-vladov commented on #24680
@davmason Could you please drop me an email at mihail.vladov at progress.com so I can provide you with the necessary data in a private channel. Thank you in advance.

[2019-06-05 15:48] jashook commented on #24888
The fix to above is to add skipgenerateversion to the coreclr build arguments in source-build. Opened https://github.com/dotnet/source-build/issues/1057 to address it.

[2019-06-05 15:49] jashook commented on #24888
New issue: with our move to `Microsoft.Build.Traversal` we have introduced a new pre-built into the build. Source-build fails with the following:

[code]

[2019-06-05 15:50] jashook commented on #24888
/cc @dseefeld

[2019-06-05 16:11] RussKeldorph commented on #24943
@spacelg I think there's more to this repro.  Did you add `D:\CoreCLR` to your `PATH` environment variable?  I can't repro it just doing that, so I'd like more details about your setup.

@elinor-fung The occurrence of `D:\CoreCLR\src.dotnet\sdk\3.0.100-preview6-011681...` in the above without the `\` between the root and `.dotnet` looks suspicious.  Also, the `ilasm` command line assumes `Tools` i

[2019-06-05 16:19] RussKeldorph commented on #24956
@stephentoub Does this repro consistently?

Related to #24028?

@vsadov @janvorli @sergiy-k

[2019-06-05 16:21] stephentoub commented on #24956
@RussKeldorph, no, I only saw it once, in CI.  Given it's on ARM64 and that there's nothing in this code that should be producing SEHExceptions, it seemed like something runtime related.

[2019-06-05 16:27] VSadov commented on #24956
Yes, could be #24028.

[2019-06-05 16:28] RussKeldorph commented on #24956
@stephentoub Thanks.  I wasn't questioning your hunch that it's runtime.  Just wanted to know whether it's intermittent, which makes it more likely to be related to #24028.  It's odd that the win-arm64 run failed at the same time, but as that's a timeout it might be something else and a coincidence.

[2019-06-05 16:29] stephentoub commented on #24956
Yup, thanks, @RussKeldorph, was just elaborating :)  Certainly looks like it could be the same thing.

[2019-06-05 16:52] Korporal commented on #7957
It's been around for three and a half year though!

[2019-06-05 16:58] #24828 closed

[2019-06-05 17:28] martincostello opened #24975 "InvalidProgramException with message "JIT Compiler encountered an internal limitation." thrown during HTTP calls"
This morning when a new EC2 instance was launched for an ASP.NET Core 2.2.5 application of ours in a production environment, all outbound HTTP requests to dependent services failed with the following exception:

[code]

The inner-most exception appears to indicate a JIT issue.

This is the first time we've ever seen this issue, but it seemed to be unrecoverable. Exceptions were thrown for all HTTP

[2019-06-05 17:31] AndyAyersMS commented on #24835
@vsadov if/when you have a fix for #24879 we can also try validating on the following tests on arm32:
[code]

I'm going to consider all these failures to be instances of #24879 and start looking at the other somewhat recent intermittent arm32 failures:
[code]

[2019-06-05 17:35] elinor-fung commented on #24943
@RussKeldorph I believe `D:\CoreCLR\src` is the repo root (not `D:\CoreCLR`) in the repro. In the logs, the path is `D:\CoreCLR\src\.dotnet\sdk\3.0.100-preview6-011681...` as we would expect (I'm guessing the backslash was treated as an escape character for the period in the comment)

Agreed that this issue should at least track the fact that we should fail early when initialization fails when bui

[2019-06-05 17:40] AndyAyersMS commented on #24975
A few questions:
* Which OS is the app running on?
* Is this something that runs fine on older 2.2 instances?
* Does this always fail on 2.2.5 or is the failure intermittent?

cc @leecow for recommendations on getting us access to the dump files.

[2019-06-05 17:48] martincostello commented on #24975
Sorry, I meant to write the OS in the first place but forgot to add it... 🤦‍♂

  * The application runs on Windows Server 2016.
  * The application has been running 2.2.5 in production since 16th May.
  * The application has been run on all previous publicly released 2.2.x releases, as well as further in the past various releases of 1.1, 2.0 and 2.1.
  * The application has never experienced this

[2019-06-05 17:50] RussKeldorph commented on #24943
@elinor-fung Ah, I missed that.  THanks for clarifying.

[2019-06-05 18:21] AndyAyersMS commented on #24940
Is anyone looking at this? If not, I can...

[2019-06-05 18:31] CarolEidt commented on #24940
I missed this one; let me know if you'd prefer that I take it.

[2019-06-05 18:47] AndyAyersMS commented on #24940
Maybe you can take it ... seemingly, I don't know how to build a cross-targeting crossgen anymore.

[2019-06-05 18:50] echesakovMSFT commented on #24940
If you build Windows_NT arm64 coreclr the cross-targeting crossgen will be placed in Product/x64

[2019-06-05 19:06] echesakovMSFT commented on #24050
8 tests failed on Linux arm during the following build due to the assertion

https://dev.azure.com/dnceng/public/_build/results?buildId=213027&view=ms.vss-test-web.build-test-results-tab

[2019-06-05 19:11] forestbat commented on #24397
@jeffschwMSFT  101MB is still too big，do you have further solution？

[2019-06-05 19:40] rvhelden opened #24976 "Unnecessary instructions after generic specialization optimization of struct"
When looking at this sample in [sharplab](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABABgAJiBGAOgCUBXAOwwEt8YaBhCfAB1YAbGFADKIgG6swMXAG4AsAChiAJirLlxAMyVVlKgHZlAb3Lnyyi+T5RWE7BhjkAgoIDu2AJ64AChEFpL3JccgBecgATGAAzbAZBDAAKN08ff0CwLwBKRSVrW3tHZy5sMAALGAAeVO8/AKCAPhCwcPImGHdyUorq2vSGrMak3KsLMfMdclYWcgAVWQwAITwYEYnyM2sN62JDcgwoBmcAfnJ1chBzvOsAXw2NqZmMecWqdfyLLfHP60n93A0UTlCAJSIjchnC5XVQ

[2019-06-05 19:42] Maoni0 commented on #24879
I just looked at this again - we do need to put this back in a_fit_segment_end_p:

[code]

because we want to make sure that before we increased allocated (which is alloc_allocated in this case which is what NextObj checks for) we clear the sync block. this should fix the problems.

[2019-06-05 19:49] jeffschwMSFT commented on #24397
Keep in mind that this number has ~15 mb of things that should not be part of it, which we hope to get removed.  Starting in Preview6 the linker will be integrated and the full breadth of options for shrinking will be available.  Depending on your scenario you can the app down in the 70mb range - but like any linker technology developer intervention will be necessary in order to ensure the app con

[2019-06-05 19:51] sbomer commented on #24397
Echoing @jeffschwMSFT: there will be ways for you to do more manual work to further reduce the size, but it won't be easy... it will essentially involve telling the linker about all roots needed by reflection and native code. We'll have updated docs on this in the next preview.

[2019-06-05 20:17] sebastianbk commented on #24720
@hoyosjs Any updates on this?

[2019-06-05 20:39] sandreenko commented on #20322
@RussKeldorph is it a codegen issue? Should it be in Future milestone?

[2019-06-05 20:41] sandreenko commented on #23224
@tommcdon was the issue resolved? There is an exclusion for this test `coreclr\tests\issues.targets` that needs to be removed in this case.

[2019-06-05 20:48] RussKeldorph commented on #20322
@sandreenko I should have written down my reasoning for triaging to `area-ExceptionHandling` because now I don't recall ever touching this issue.  My best guess is that I assumed it was a bad test case that is incompatible with tail calls since it matches stack frames, but I don't know for sure.

Would you mind looking into this?  If it is a codegen issue, please fix the area and set Milestone to

[2019-06-05 20:53] RussKeldorph commented on #20322
@sandreenko Actually, it's more likely I just wanted @sergiy-k to do the initial investigation since the test is in his area.  If you want to investigate, feel free.

[2019-06-05 21:12] mikedn commented on #24976
Those are needed in case the involved references are `null`, without those instructions a `NullReferenceException` wouldn't be thrown as the semantics of the original code requires.

[2019-06-05 21:18] janvorli commented on #24977
In Preview 4, my change has introduced the problem when ideal thread processor was treated as hard affinitization. That is fixed in Preview 5. @markusmobius could you please try preview 5 to see if it behaves better?

[2019-06-05 21:31] tommcdon commented on #23224
@sandreenko the test is using a .NET core 2.2 event pipe feature that was removed in 3.0

[2019-06-05 21:49] #24799 closed

[2019-06-05 21:52] sandreenko commented on #23224
@tommcdon do we want to delete the test then?

[2019-06-05 21:54] tommcdon commented on #16796
@ww898 the IPC Event Pipe protocol is documented here: https://github.com/dotnet/diagnostics/blob/master/documentation/design-docs/ipc-protocol.md.  We are also planning on creating an IPC Event Pipe client library, tracked on https://github.com/dotnet/diagnostics/issues/191.

[2019-06-05 21:55] sergiy-k commented on #24977
@janvorli, did you mean to say that it was fixed in preview 6?

[2019-06-05 21:56] sergiy-k commented on #24911
/cc: @Maoni0

[2019-06-05 21:57] tommcdon commented on #23224
@sandreenko yes please feel free to delete them.  We will be adding new tests to cover .net core 3.0 event pipe test scenarios.  Our plan was to delete the old coverage at that point.

[2019-06-05 21:59] AndyAyersMS commented on #24975
Are you using any kind of profiler with the app?

[2019-06-05 22:00] janvorli commented on #24977
@sergiy-k, ah you are right, I've somehow lost track of what got into preview 5.

[2019-06-05 22:03] RussKeldorph commented on #24947
@danmosemsft @jkotas @richlander Are you familiar with the process for auditing this?  How has this been done in the past, and who usually drives it?

[2019-06-05 22:11] kouvel commented on #22946
CC @tarekgh

[2019-06-05 22:16] rvhelden commented on #24976
But for the method Test1 it is a struct that it is using (s) and that could never be null.

For Test2 the whole reference is optimized away so there is no reference and seems to me that it will never be possible for the reference that is not there anymore to be null.

[2019-06-05 22:24] mikedn commented on #24976
But `this` can be `null` because in IL it is not guaranteed to be non-null like in C#. And that's what `cmp [ecx], ecx` does - `ecx` contains `this` and if it is null the instruction will raise an exception.

It doesn't matter if it's optimized away, it was there. If you have code like:
[code]
and `y` is `null` then you're supposed to get a `NullReferenceException` even if `x` is not used and thus

[2019-06-05 22:25] markusmobius commented on #24977
Great - I will try Preview 6 when it comes out. We are currently running Preview 5 on Windows but Preview 3 on Linux.

[2019-06-05 22:26] sergiy-k commented on #23845
I'm closing this issues as a duplicate of https://github.com/dotnet/coreclr/issues/20220 and https://github.com/dotnet/coreclr/issues/7957

[2019-06-05 22:26] #23845 closed

[2019-06-05 22:38] danmosemsft commented on #24947
No. You could summarize it in an email to your team and ask whether anything seems missing.

[2019-06-05 22:38] danmosemsft commented on #24947
cc @tannergooding who will do ours

[2019-06-05 23:08] Maoni0 commented on #24911
LOH is automatically compacted when running with (hardlimit)[https://github.com/dotnet/coreclr/pull/22180]. and yes you can also use @gfoidl mentioned which also works in core.

[2019-06-05 23:14] sandreenko commented on #22508
Saw it again on OSX in #24984 (https://dev.azure.com/dnceng/public/_build/results?buildId=213700&view=logs):
[code]

[2019-06-05 23:17] ww898 commented on #16796
@tommcdon Thanks a lot. I already connected it to our code and slitely adapted it for .NET Framework 4.6.1. Unfortunately, I can't test it with preview5 because the pipe protocol is different. So, we are waiting preview6.

[2019-06-05 23:24] #24278 closed

[2019-06-05 23:30] ww898 commented on #24806
@davmason Well I understand, `ICLRProfiling` is obsolete in preview6. Well, my question is changed: is it possible to add ability in future to receive the CoreCLR version through IPC protocol? The target of my question is UX because every process has it's own CoreCLR version and this information can be important for user.

[2019-06-05 23:37] echesakovMSFT opened #24985 "Follow-up on renaming suggestions in #24371"
This issue is about `pInitRegZeroed` parameter used across many functions in CodeGen

_Originally posted by @erozenfeld in https://github.com/dotnet/coreclr/pull/24371_

_Originally posted by @CarolEidt in https://github.com/dotnet/coreclr/pull/24371_

_Originally posted by @BruceForstall in https://github.com/dotnet/coreclr/pull/24371_

[2019-06-05 23:49] noahfalk commented on #19622
Thanks for the feedback! We should probably look into making a modified sample that shows how you could do the IL rewriting to capture arguments. It is entirely possible to do with the current IL rewriting API, the sample just isn't showing it.

[2019-06-05 23:55] #24779 closed

[2019-06-05 23:57] sbomer commented on #23694
The linker already has a feature that is able to strip attributes whose types aren't used. I think the work that needs to be done to make this usable is to determine which attributes are important to *keep*. I tried running the linker with attribute stripping on a recent `System.Private.Corelib.dll`, rooting public surface area, and the following attributes were removed:
[code]

[2019-06-05 23:58] #24658 closed

[2019-06-06 00:01] noahfalk commented on #16796
I think this was implied by Tom's answer, but just to be certain for anyone else seeing it, that documentation isn't just internal documentation for us. We fully intend for third parties to be able to write their own implementations of the remote client and communicate with the runtime over that protocol. If our managed implementation of the client library suits your needs (once we ship it) we hop

[2019-06-06 00:25] #23199 closed

[2019-06-06 00:45] tarekgh commented on #22946
@stephentoub can you think in any way make ```CallbackPartition.Unregister``` throw ```NullReferenceException```? I have looked at all callers and I am seeing we always ensure the passed node is not null. And inside ```CallbackPartition.Unregister``` I am not seeing a way we throw ```NullReferenceException``` except if somehow node != Callbacks and in same time node.Prev is null. The only way this

[2019-06-06 00:51] tarekgh commented on #22946
looking more, even the scenario I mentioned which is calling ```CallbackPartition.Unregister``` twice in same time with the exact same node wouldn't cause this problem either as we reset the node.Id. I have no clue now how this NullReferenceException can happen.

[2019-06-06 01:20] gafter commented on #23241
@AndyAyersMS

The "non-optimized" path is likely to be significantly worse that the straightforward IL sequence when not optimized (for a few reasons*).  That is very unfortunate, though possibly not fatal.  The fatal flaw in this approach is that it relies on an optional optimization for an asymptotic performance improvement.  A straightforward complexity analysis demonstrates that you cannot rel

[2019-06-06 01:40] VSadov commented on #24879
With introduction of additional delays, I get failures in a regular run - see: https://github.com/dotnet/coreclr/pull/24978
It still only affects OSX and Alpine, but at least it is predictable and thus can be used to validate the fix.

I will make a PR with the fix, which will likely pass, but the absence of failures would not tell us that the bug is fixed and will not come back in a few days.
So

[2019-06-06 01:51] VincentBu commented on #24050
Ubuntu.1404.Arm32.Open-arm-Checked-no_tiered_compilation failed due to the assertion

https://mc.dot.net/#/user/coreclr-all-testing/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190528.79/workItem/JIT/analysis/xunit/JIT_Performance._CodeQuality_V8_Crypto_Crypto_Crypto_~2F_CodeQuality_V8_Crypto_Crypto_Crypto_sh

[2019-06-06 02:07] VincentBu opened #24994 "[arm] Assert failure: currentProcessCpuCount == g_processAffinitySet.Count()"
**Job:**
https://mc.dot.net/#/user/coreclr-all-testing/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190528.79/workItem/JIT/analysis/xunit/JIT_Performance._CodeQuality_V8_Crypto_Crypto_Crypto_~2F_CodeQuality_V8_Crypto_Crypto_Crypto_sh

**Failed tests:**
/ssd/dotnetbuild/work/2367ed72-8b8b-452b-9f40-22f574dfbfd6/Work/db8a41c0-d1d0-4153-8818-f8e9ff222f23/Exec/JIT/Perform

[2019-06-06 02:09] kouvel commented on #22555
It's probably a bit more risky to fix this for 3.0 at this point. Moved to future.

[2019-06-06 02:14] kouvel commented on #20372
I'll take a look. Not sure if it's too late for API additions, but will see.

[2019-06-06 02:25] davidfowl commented on #20372
@kouvel Worst case, it doesn't need to be a public API (like 80% of the GC counters 😄)

[2019-06-06 02:43] AndyAyersMS commented on #24835
For this latest batch, no failures after 1000 runs each, under stress.
* `JIT_jit64._opt_rngchk_RngchkStress2_o` -- no repro
* `Loader_classloader._TypeGeneratorTests_TypeGeneratorTest818_Generated818` --no repro
* `JIT_Methodical._cctor_misc_throw_cs_r` -- no repro

[2019-06-06 02:48] stephentoub commented on #22946
I also don't see how that could be coming from Unregister, unless corruption was introduced either via some code elsewhere in the process or a code gen issue.

Has this happened again? I don't think there's much we can do at this point without more info.

If you can get and share a core dump if it happens again, that would be helpful.

[2019-06-06 03:54] jkotas commented on #23241
It is fine to add a guarantee that the generated code will be always amortized constant time and never linear (for large number of types, not observable for small number of types), for either API or IL instruction design.

For non-optimized code, the JIT is going to call a method to implement this, even if it is a special IL instruction. For optimized code, the JIT can recognize the method call as

[2019-06-06 05:26] mjsabby commented on #24963
@kkokosa Do you really need to copy the code? There already is an API on the GCEE interface that enumerates refs for diagnostics. I would have thought it would be simple to extend it to LocalGC based on a recent reading of the code.

[2019-06-06 05:36] VincentBu opened #24996 "Failed to run xunit-reporter.py"
**Job:**
https://mc.dot.net/#/user/coreclr-ci/pr~2Fdotnet~2Fcoreclr~2Frefs~2Fpull~2F24823~2Fmerge/test~2Ffunctional~2Fcli~2F/20190605.40/workItem/baseservices.threading/wilogs

**Log:**
[code]

[2019-06-06 05:44] martincostello commented on #24975
We have the [`AppDynamics.Agent.Windows`](https://www.nuget.org/packages/AppDynamics.Agent.Windows/) NuGet package installed in the app.

It was either version 4.5.10 or 4.5.11 yesterday morning, I’ll need to check later this morning exactly which it was at that time.

[2019-06-06 06:32] jkotas commented on #24050
Another duplicate: https://github.com/dotnet/coreclr/issues/24994

[2019-06-06 06:32] jkotas commented on #24994
Duplicate of #24050

[2019-06-06 06:32] #24994 closed

[2019-06-06 06:45] VincentBu opened #24997 "System.IO.FileNotFoundException: Could not load file or assembly 'IjwNativeVarargs, Culture=neutral, PublicKeyToken=null'"
**Job:**
https://mc.dot.net/#/user/coreclr-ci/pr~2Fdotnet~2Fcoreclr~2Frefs~2Fpull~2F24983~2Fmerge/test~2Ffunctional~2Fcli~2F/20190605.42/workItem/Interop/analysis/xunit/Interop_IJW._NativeVarargs_NativeVarargsTest_NativeVarargsTest_~2F_NativeVarargs_NativeVarargsTest_NativeVarargsTest_cmd

**Failed tests:**
Interop_IJW._NativeVarargs_NativeVarargsTest_NativeVarargsTest_._NativeVarargs_NativeVararg

[2019-06-06 06:48] spacelg commented on #24943
@elinor-fung  Thanks for your reply!
x86 prompt means 'x86 Native Tools Command Prompt for VS'. Platform environment variable is not set in our test script. In fact, I don't quite understand how you set up the Platform environment variable in our command prompt. Our script has not changed, but until fa8383f revision has such an error.

@RussKeldorph Thanks for your reply!
I checked the steps of ou

[2019-06-06 06:53] VincentBu commented on #24997
Also seen in  below tasks:
https://mc.dot.net/#/user/coreclr-ci/pr~2Fdotnet~2Fcoreclr~2Frefs~2Fpull~2F24983~2Fmerge/test~2Ffunctional~2Fr2r~2Fcli~2F/20190605.42/workItem/Interop/analysis/xunit/Interop_IJW._NativeVarargs_NativeVarargsTest_NativeVarargsTest_~2F_NativeVarargs_NativeVarargsTest_NativeVarargsTest_cmd

https://mc.dot.net/#/user/coreclr-ci/pr~2Fdotnet~2Fcoreclr~2Frefs~2Fpull~2F24983~2Fme

[2019-06-06 07:05] VincentBu commented on #24879
Also seen in:
https://mc.dot.net/#/user/coreclr-ci/pr~2Fdotnet~2Fcoreclr~2Frefs~2Fpull~2F24978~2Fmerge/test~2Ffunctional~2Fcli~2F/20190605.37/workItem/JIT.Methodical.eh/analysis/xunit/JIT_Methodical._eh_nested_nonlocalexit_throwinfinallyrecursive_20_r_throwinfinallyrecursive_20_r_~2F_eh_nested_nonlocalexit_throwinfinallyrecursive_20_r_throwinfinallyrecursive_20_r_sh

**Log:**
[code]

[2019-06-06 07:15] VincentBu commented on #24050
Some tasks failed due to the assertion:
https://mc.dot.net/#/user/coreclr-ci/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190605.35/workItem/JIT

[2019-06-06 07:19] VincentBu opened #24999 "[arm64] Exceptions_ForeignThread._ForeignThreadExceptions_ForeignThreadExceptions_._ForeignThreadExceptions_ForeignThreadExceptions_sh()"
**Job:**
https://mc.dot.net/#/user/coreclr-ci/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190605.35/workItem/PayloadGroup0/analysis/xunit/Exceptions_ForeignThread._ForeignThreadExceptions_ForeignThreadExceptions_~2F_ForeignThreadExceptions_ForeignThreadExceptions_sh

**Failed tasks:**
Exceptions_ForeignThread._ForeignThreadExceptions_ForeignThreadExceptions_._Foreign

[2019-06-06 07:24] VincentBu commented on #24999
Also seen in:
https://mc.dot.net/#/user/coreclr-ci/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fr2r~2Fcli~2F/20190605.35/workItem/PayloadGroup0/analysis/xunit/Exceptions_ForeignThread._ForeignThreadExceptions_ForeignThreadExceptions_~2F_ForeignThreadExceptions_ForeignThreadExceptions_sh

[2019-06-06 07:44] elinor-fung commented on #24943
Ah, got it - thanks @spacelg!
The change you mentioned moved the initialization of tools such that it ends up happening as part of a different script, but it was relying on the `Platform` variable being cleared by the original script that was calling it. The change in the linked PR should get the build scripts working in your environment again.

[2019-06-06 07:49] jkoritzinsky commented on #24997
These test failures are in an unmerged PR (#24983). I'll track these in the PR itself and get them fixed before merging.

[2019-06-06 07:49] #24997 closed

[2019-06-06 07:56] hoyosjs commented on #24720
Not much sorry. Work has been busy, I was only able to repro it today, and can confirm that repros with recent versions of VS Code and the runtime. Will try to take some further look into it, this should not crash the runtime. Thanks for reporting this.

[2019-06-06 07:59] VincentBu commented on #24953
Assertion also appeared in:
https://mc.dot.net/#/user/coreclr-ci/pr~2Fdotnet~2Fcoreclr~2Frefs~2Fpull~2F24979~2Fmerge/test~2Ffunctional~2Fcli~2F/20190605.22/workItem/JIT.Regression/analysis/xunit/JIT_Regression._JitBlue_GitHub_24846_GitHub_24846_GitHub_24846_~2F_JitBlue_GitHub_24846_GitHub_24846_GitHub_24846_cmd

**Log:**
[code]

[2019-06-06 08:02] martincostello commented on #24975
The version was 4.5.10.

[2019-06-06 08:11] vitek-karas commented on #13277
@per-samuelsson Can you please provide a bit more detail to "solve traversal of references to shared framework assemblies"? I'm not clear on what you're asking about.

The `AssemblyDependencyResolver` will intentionally not resolve any framework assemblies. If it is combined with a typical implementation of `AssemblyLoadContext` which would return `null` from its `Load` method if the resolver does

[2019-06-06 08:26] Therzok opened #25000 "CMake mmap config uses non-existing directory"
See this conditional:
https://github.com/dotnet/coreclr/blob/5d4ff2f11a87d7d434d05e72744946f48e017b11/src/pal/src/configure.cmake#L535-L588

It tries to use `mkstemp` on a directory which does not exist as part of its template.

From the man pages:
[code]

[2019-06-06 08:28] tactical-drone commented on #22946
I am not sure how I eventually got rid of this error, but I think my program caused it by adding to a blocking collection without stating a `BoundedCapacity` size. That might have caused some kind of oom situation causing teardown. My program is full of CancellationToken.Unregister paths. But that one came from some timer so who knows.

After I specified that bound on blocking collection the probl

[2019-06-06 08:29] VincentBu opened #25001 "Assert failure: IsCrstInitialized()"
**Job:**
https://mc.dot.net/#/user/coreclr-ci/pr~2Fdotnet~2Fcoreclr~2Frefs~2Fpull~2F24896~2Fmerge/test~2Ffunctional~2Fcli~2F/20190605.10/workItem/PayloadGroup0/analysis/xunit/ilasm_System._Runtime_CompilerServices_MethodImplOptionsTests_MethodImplOptionsTests_~2F_Runtime_CompilerServices_MethodImplOptionsTests_MethodImplOptionsTests_cmd

**Failed tests:**
ilasm_System._Runtime_CompilerServices_Met

[2019-06-06 08:33] VincentBu commented on #25001
Also seen in:
https://mc.dot.net/#/user/coreclr-ci/pr~2Fdotnet~2Fcoreclr~2Frefs~2Fpull~2F24896~2Fmerge/test~2Ffunctional~2Fr2r~2Fcli~2F/20190605.10/workItem/PayloadGroup0/analysis/xunit/ilasm_System._Runtime_CompilerServices_MethodImplOptionsTests_MethodImplOptionsTests_~2F_Runtime_CompilerServices_MethodImplOptionsTests_MethodImplOptionsTests_cmd

[2019-06-06 08:47] VincentBu commented on #21504
Assertion `listp->slotinfo[cnt].gen <= GL(dl_tls_generation)' appeared in:
https://mc.dot.net/#/user/coreclr-ci/pr~2Fdotnet~2Fcoreclr~2Frefs~2Fpull~2F24969~2Fmerge/test~2Ffunctional~2Fr2r~2Fcli~2F/20190605.3/workItem/JIT.jit64/analysis/xunit/JIT_jit64._rtchecks_overflow_overflow01_sub_overflow01_sub_~2F_rtchecks_overflow_overflow01_sub_overflow01_sub_sh

[2019-06-06 09:13] damageboy commented on #18145
I know this issue is officially close, and I'm late to the show, but I am a bit confused by the current state of preview5...:

All issues seem to be resolved, all PRs merged, yet `PMOVZXB{D,Q}` and other do not seem to be generated and the current `master` branch show this unwelcoming comment:

https://github.com/dotnet/coreclr/blob/1a495118c005b9a5409c81fea1813bd2b3044cbd/src/System.Private.CoreL

[2019-06-06 09:18] mattwarren commented on #19622
@davmason

The profiler that I'm working on will be without a large amount of its functionality if there isn't a fix. It will work, but as it extensively relies on extracting the arguments of a method call, it will be very limited. It would be incredibly valuable (to us) for you to be prioritizing this fix as otherwise we will have to spend significant effort looking at workarounds to cover for th

[2019-06-06 09:23] albahari opened #25002 "Add AssemblyLoadContext.LoadFromStream overload to populate Location and CodeBase"
Currently, assemblies loaded via AssemblyLoadContext.LoadFromStream end up with a blank Location and a CodeBase of System.Private.CoreLib.dll.

This causes trouble when you load an assembly that includes code such as this:

`GetExecutingAssembly().Location`

If you don't own the library that you're loading, you can't factor out this code, so the library breaks and LoadFromStream is effectively use

[2019-06-06 09:26] mattwarren commented on #19622
@noahfalk thanks for the detailed answer!

Runtime implemented C++ function that sets up the call to your ELT callback
Runtime implemented assembly function that preserves registers to match C++ call convention
Jitted code

Ah, good point, I'd completely forgotten about the overhead of the ELT callback itself, thanks for the reminder!

BTW on the topic of IL re-writing, I've recently come across a

[2019-06-06 09:28] vitek-karas commented on #25002
/cc @sdmaclea @swaroop-sridhar

[2019-06-06 09:45] janvorli commented on #25000
It is interesting that Linux man pages doesn't specify the ENOTDIR as a possible error code, but OSX one does.

[2019-06-06 11:05] Therzok commented on #25000
Ah, my bad, I should've mentioned this! Thanks for taking a look and fixing it, too 🎉

[2019-06-06 12:26] litehead commented on #13146
I tried solution from @los93sol recently but it only worked in Debug mode. In release there are some unresolved DllImports which most likely prevents web server from running correctly

[2019-06-06 12:54] janvorli commented on #24050
I am going to investigate it.

[2019-06-06 13:30] jkotas commented on #24963
The API on the GC-EE interface may be sufficient to make things work. It is not sufficient to implement a high-performance heap scanning on par with the current GC. The high-performance heap scanning needs the macros above.

[2019-06-06 13:47] #25000 closed

[2019-06-06 14:41] jkotas commented on #23694
There is active discussion about what we want to do here. https://github.com/dotnet/roslyn/pull/36152 is part of it. @sbomer If you plan to do any actual work here, coordinate it with @cston

[2019-06-06 14:53] tannergooding opened #25008 "Inefficient loads for certain hwintrinsic code patterns"
For the relatively simple methods below, it looks like we don't currently generate "optimal" codegen for the constructed address.

[code]

`M` generates:
[code]

`M2` generates:
[code]

[2019-06-06 14:57] CarolEidt commented on #18145
Is it this part that's confusing: "The native signature does not exist."?

If so, that just means that there's no corresponding native (C++) intrinsic. You notice that for other intrinsics the equivalent C++ intrinsic is shown in addition to the target instruction, for example, a little further down we have:
[code]
The second line is the native (C++) intrinsic.

[2019-06-06 15:00] tannergooding commented on #25008
In the case of the former, neither the add nor the `shl` are folded into the load. The ideal code would be:
[code]
In the case of the latter, the `shl` is not folded into the load. The ideal code would be:
[code]

The disassembly output for the above should also be fixed, where applicable. For example, `vpmovzxbd` does a `qword ptr` load and takes the `xmm0` register as source (and has `ymm0` as t

[2019-06-06 15:00] tannergooding commented on #25008
CC. @CarolEidt

[2019-06-06 15:08] CarolEidt commented on #24953
@VincentBu - I believe those test runs were from before my follow-up PR #24950. That fixed the above assert, but leaves the zero-length block stores in the IR.

[2019-06-06 15:20] CarolEidt commented on #24912
Quick update: looking at this further, you were indeed correct that it is fundamentally the check that causes the code to be worse. This is because, although the branch is eliminated, the blocks aren't merged, so the fact that the two parameters are both equal to `vector` is not propagated in the local optimization pass.
I still need to analyze why these copies are eliminated later, but I suspect

[2019-06-06 15:27] jkoritzinsky commented on #25001
These test runs are in the PR #24896, not in master. I'm going to close this since these failures aren't in master.

[2019-06-06 15:27] #25001 closed

[2019-06-06 15:38] AndyAyersMS commented on #24835
None of the one-off failures has reproed locally  (with the exception of the arm32 threading cases listed above), or recurred in CI.

[2019-06-06 15:42] tarekgh commented on #22946
@tactical-drone I am closing the issue per your last comment but feel free to send back if you hit the problem again and would be nice at that time to have a core dump. thanks for your report.

[2019-06-06 17:06] fadimounir opened #25009 "Assembly.Load(byte[]) on R2R images fail with BadImageFormatException"
Repro:
[code]

[2019-06-06 17:06] fadimounir commented on #25009
/cc @jkotas @janvorli

[2019-06-06 17:18] RussKeldorph commented on #24999
Consistent stack overflow on Alpine/ARM64 (only).  I think this started here: https://dev.azure.com/dnceng/public/_build/results?buildId=211688 corresponding to #24949.

@janvorli @jkoritzinsky @brianrob

[2019-06-06 17:18] RussKeldorph commented on #24999
[code]

[2019-06-06 17:28] sbomer commented on #23694
Thanks for the pointer @jkotas. It's my understanding that @cston's proposal will replace most of the `NullableAttribute`s currently in corelib with `NullableContextAttribute` at the type level, which sounds like it will mitigate most of the size impact. As such I don't think we should set up a separate build of SPC with the attributes stripped. If that's not the case I can continue looking into t

[2019-06-06 17:34] VSadov commented on #24879
Thanks to everybody for the analysis of the failure.

If anyone is curious - Here is a PR with a fix: https://github.com/dotnet/coreclr/pull/24992

[2019-06-06 18:14] jkoritzinsky commented on #24999
[coredump.zip](https://github.com/dotnet/coreclr/files/3262895/coredump.zip)

I was able to repro this in an Alpine ARM64 container (same image we use on Helix) by pulling down the Helix payload (job id 2f86d331-21c6-4078-aafc-b329f5885a61). I've attached a core dump I got to the issue.

[2019-06-06 18:30] sgf commented on #1635
request too,
like C Bit Fields https://docs.microsoft.com/en-us/cpp/c-language/c-bit-fields?view=vs-2019

[2019-06-06 18:40] VSadov commented on #24956
`System.Linq.Parallel.Lookup` does not seem to have much related to concurrency. I cannot see `Interlocked` used either.

It is still possible that the failure is related. I am pretty sure `Parallel` uses `Interlocked`.
However in #24028 the crash comes from interlocked operation itself, so this could be something else.

Hard to tell for sure with just one hit. We should not consider this a dupe f

[2019-06-06 18:47] sandreenko commented on #24999
It happens on Linux x64 Checked zapdisable @ (Alpine.38.Amd64.Open) as well.

[2019-06-06 18:53] cpboyd opened #25010 "InvalidCastException: Default parameter value for Nullable Enum?"
In a web API, I've tried the following:
[code]

This causes the following error unless `status` is specified:
[code]

However, this seems to be valid:
[code]

In addition, I can make it not nullable and avoid this issue.

[2019-06-06 19:12] #24879 closed

[2019-06-06 19:23] stephentoub commented on #24956
The exception here, at least according to the call stack, is coming from `System.Linq.Parallel.Lookup`2+<GetEnumerator>d__10[[System.Int32, System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e],[System.Int32, System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]].System.Collections.Generic.IEnumerator<System.Linq.IGrouping<T

[2019-06-06 19:30] VSadov commented on #24956
There is a remote possibility that the root cause for #24028 (which we do not know yet) causes heap corruptions and thus may result in this kind of failure.
It may be something different entirely.
We only suspect #24028 because it is the same exception on Linux ARM64 and `Parallel` certainly uses `Interlocked`.

[2019-06-06 19:43] gafter commented on #7957
We've had to work around this issue multiple times in Roslyn.  Did you need separate reports each time we hit this to realize that it is a persistent problem?

[2019-06-06 19:50] RussKeldorph commented on #24999
@sandreenko Do you have a link to an x64 failure?

[2019-06-06 19:52] jkotas commented on #23694
I agree with that building two different flavors of CoreLib is not worth it.

We still care about stripping the nullable annotations on private fields in the one-and-only CoreLib. The discussions here are still ongoing on whether the C# compiler will support it or not. If the C# compiler does not support it, we would still want to strip them using the linker.

[2019-06-06 20:05] sandreenko commented on #24999
@RussKeldorph yes, it is from regular JitStress run:
https://dev.azure.com/dnceng/public/_build/results?buildId=212639&view=ms.vss-test-web.build-test-results-tab&runId=5192954&paneView=debug

[2019-06-06 20:21] RussKeldorph commented on #24996
https://mc.dot.net/#/user/coreclr-outerloop-jitstress/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190604.1/workItem/PayloadGroup0/wilogs

@dotnet/dnceng Can you take a look?  Should this be moved to dotnet/core-eng?

[2019-06-06 20:22] RussKeldorph commented on #24999
@sandreenko Thanks.  Looks like we aren't reporting results on Alpine/x64.  #24996 @mattgal

[2019-06-06 20:37] sergiy-k commented on #22224
The reason why exception handling is slower on .NET Core than on .NET Framework is Control Flow Guard.
.NET Core process/applicaiton has CFG enabled but the process created for .NET Framework does not:

dumpbin /headers netcoreapp2.2\win-x86\publish\testehwhen.exe
C140 DLL characteristics
                   Dynamic base
                   NX compatible
                   Control Flow Guard

[2019-06-06 20:54] sandreenko commented on #20322
The test failed in outerloop on some platforms (including windows where I tested it locally), so probably it is an unstable one.

[2019-06-06 21:03] #24943 closed

[2019-06-06 21:21] msedi opened #25013 "Let the runtime optimize type switches"
I'm using a lot of generic structures for number crunching and I have to do a lot of type comparisons like the example below:

[code]

What happens is that the code has many `if...then`s that have to be evaluated on every call. So it would be nice if the runtime could optimize this by simply eliminating the pathes that won't run due to the restriction of the type. So if `Vector<int>` is used, the

[2019-06-06 21:25] AndyAyersMS commented on #25013
The jit does exactly this optimization (and has done so for quite a while now) -- do you see examples where it is not happening?

[2019-06-06 21:29] msedi commented on #25013
@AndyAyersMS: Thanks for the reply. I was currently testing it again, and obviously made some mistakes in SharpLab. Yes, I can see exactly what you said. Sorry for that, very nice work. If you generics will be fully supported with operators I will be the happiest man on earth ;-)

[2019-06-06 21:29] #25013 closed

[2019-06-06 21:46] jashook commented on #24922
Seems like this issue unfortunately does not always repro. After running four times I have hit it twice. I cannot currently repro the problem.

[2019-06-06 21:49] jashook commented on #24922
Will try a few more times to repro, but will close if unable.