[2017-09-05 11:42] #12997 closed

[2017-09-05 13:57] alpencolt commented on #13751
`crossgen` failed with the same assertion on checked build:
[code]

[2017-09-05 14:53] janvorli commented on #13764
@mikem8361 can the createdump be used externally on a running process like @sillyousu described above or is it only intended to capture dumps during crash when the createdump is launched by the coreclr PAL?

[2017-09-05 15:34] redknightlois commented on #13388
OK. After much analysis work I can conclude and confirm:

- With the latest commit (03bf95c8db9003a5925ca9383dca722a4c651e27) on CoreCLR 2.1 branch, spin on ```ManualResetEventSlim``` is no longer an issue even though we are particularly limited by Kestrel PInvokes on Libuv & Async machinery.
- High certainty that kernel measurements are artifacts (kernel waits are not cheap, but nothing we didn't

[2017-09-05 16:07] danmosemsft commented on #2715
We now have BinaryFormatter back in 2.0, and some exceptions are serializable with it. We are considering increasing the set. We do in general advise against taking new dependencies on [Serializable]/BinaryFormatter based serialization.

[2017-09-05 16:49] eiriktsarpalis commented on #2715
@danmosemsft does this mean you've brought back ISerializable for exceptions or that exceptions are only serializable via BinaryFormatter? The two are not the same thing.

[2017-09-05 16:52] sdmaclea opened #13784 "[Arm64] JIT decrement compare pattern needs to be optimized"
@dotnet/arm64-contrib @dotnet/jit-contrib

While compiling buffer.cs
[code]

This code was generated
[code]
should be

[code]

[2017-09-05 16:55] omajid commented on #13009
Thanks for the tip, @janvorli !

[2017-09-05 17:04] sdmaclea opened #13787 "[Arm64] JIT optimize len %= 64"
@dotnet/arm64-contrib @dotnet/jit-contrib

`len %= 64;` is generating

[code]

Should be
[code]

[2017-09-05 17:15] sdmaclea opened #13788 "[Arm64] JIT optimize block copy with offset"
`*(Block16*)(destEnd - 16) = *(Block16*)(srcEnd - 16);` is generating
[code]
Could be
[code]

[2017-09-05 17:16] mikem8361 commented on #13764
Createdump should be able to capture dumps on a running process, but it hasn’t been tested in that mode a lot.  The createdump failure is probably fixed in master and in 2.0.2 (the next service release).

@sillyousu if you added “--diag” to the command line and redirect the console (both stdout and stderr) to a file, I can better diagnose the problem.  I’ll also try something similar to your scena

[2017-09-05 17:28] sdmaclea commented on #13788
Also positive offset is the same.  `*(Block16*)(dest + 16) = *(Block16*)(src + 16);` generates
[code]

[2017-09-05 17:34] vancem opened #13789 "Make DateTIme.Now as efficient as DateTime.UtcNow"
I thought we fixed this but I just checked and we have not, so I am logging an issue.

DateTime.Now is over 10X SLOWER than DateTime.UtcNow.
I ran the the trivial program below
[code]
while profiling with [PerfView](https://github.com/Microsoft/perfview)  to get the following data

Name | Inc % | Inc
-- | -- | --
\|\|    \|+ system.private.corelib!System.DateTime.get_Now() | 95.4 | 4,832
\|\|    \

[2017-09-05 17:37] sdmaclea opened #13790 "[Arm64] JIT optimize `if ((len & 24) == 0) goto `"
`if ((len & 24) == 0) goto MCPY03;` is generating

[code]
This could be
[code]
or
[code]

[2017-09-05 17:51] mikedn commented on #13790
Note that `Lowering::LowerCompare` already does this for x86/64. For ARM this requires adding support for GT_TEST_EQ/NE in CodeGen.

[2017-09-05 17:54] danmosemsft commented on #2715
Hi @eiriktsarpalis . For your first question: we have brought back BinaryFomatter and marked Exception and AggregateException `[Serializable]` (we have had requests to add other exceptions, but right now have not). It happens those implement ISerializable in order to help the binary formatter so we brought back that too. Those exceptions that we did not mark `[Serializable]` and historically imple

[2017-09-05 17:56] sillyousu commented on #13764
[code]

[code]

[code]

[createdump_27364.txt](https://github.com/dotnet/coreclr/files/1278383/createdump_27364.txt)
[createdump_27290.txt](https://github.com/dotnet/coreclr/files/1278384/createdump_27290.txt)

@mikem8361

[2017-09-05 17:58] mikedn commented on #13787
Hmm, presumably `len` is `ulong`?

This looks like an issue with morph, it converts UMOD to UDIV+LSH+SUB (AFAIR because ARM doesn't have a mod instruction). It shouldn't do this transform when the second operand is a constant, lower takes care of that case (for x64/86 currently).

[2017-09-05 18:01] eiriktsarpalis commented on #2715
Can I ask what the motivation for excluding certain exception types is? For distributed frameworks such as mbrace, akka.net and orleans (whose key people have commented in this very thread) this is is crippling.

[2017-09-05 18:19] mikedn commented on #13788
This doesn't seem to be ARM64 specific, x64 generates similar code.

[2017-09-05 18:22] sdmaclea commented on #13788
@miked I noticed that too, but since the assembly was arm64, I left the title. Updated title.

[2017-09-05 18:24] mikedn commented on #13784
x64 does something like this in `Lowering::ContainCheckCompare`. ARM64 could do that too provided that CodeGen obeys the `GTF_SET_FLAGS` flag and generates `subs` instead of `sub`.

[2017-09-05 18:28] pgavlin commented on #4840
The major hiccups I see in autogenerating the .fact.cs files during the build are that a) doing this sort of autogeneration involves retaining complexity in the build rather than removing it, and b) we'd need an answer for project files that are used to build multiple tests. This complexity may be worth the potential improvement of being able to centralize all test metadata in the test project fil

[2017-09-05 18:29] mikedn commented on #13789
I don't know about others but I avoid `DateTime.Now` not because it's inefficient but because it is plain wrong to use it to measure durations. Or more generally, to use it for anything that doesn't involve displaying the local time to the user...

Let's keep `DateTime.Now` slow to encourage users to do the right thing 😁

[2017-09-05 18:33] jkotas commented on #2715
The framework exception types transitively depend on a lot of other types that are not serializable in .NET Core. Making all exception types binary serialiazable would bring back https://github.com/dotnet/corefx/issues/19119.

[2017-09-05 18:33] sdmaclea commented on #13788
This is probably low priority as the pattern is not likely to occur except in hand crafted code like `System.Buffer:Memmove()`

[2017-09-05 18:39] mikedn commented on #4840
Is that complexity really a problem? By that reasoning it seems that we should stop doing a lot of automated stuff because it's complex.

I'm not sure what's this about. I know that there are certain source files that are built with different build options by using different project files. But project files used to build multiple tests sounds like the same project file is used to build multiple te

[2017-09-05 18:53] AndyAyersMS commented on #4840
Makes sense to me to generate all the code needed for a running tests when building the tests. Perhaps we could finally fix #1040...

[2017-09-05 18:54] sdmaclea commented on #13787
`len` is `nuint` which is `System.UInt64` for arm64.  So yes.

[2017-09-05 18:58] sdmaclea commented on #13790
@mikedn @jashook Unless someone else wants this, please assign to me.

[2017-09-05 19:25] mikedn commented on #13790
I think I have it mostly working in https://github.com/mikedn/coreclr/tree/and-cmp-arm64.

However, I'm not very familiar with ARM64 assembly and I have no hw to test on. In particular, I haven't checked if `tst` supports the same immediate range as `cmp` or if `tst` is properly encoded (the internal JIT diassembler can't be trusted in this case).

Feel free to finish it.

[2017-09-05 19:29] sdmaclea commented on #13790
@Mikedn Thanks I'll take a look.

[2017-09-05 19:34] karelz commented on #13789
Marking as up-for-grabs.
Moderate cost (as it requires perf measurements before and after the change)

[2017-09-05 20:02] shanselman commented on #13564
This is interesting @petermarcu

[2017-09-05 20:23] danmosemsft commented on #13789
Of course, daylight savings could begin one second from now so it presumably can't be trivially cached. @tarekgh is there a way that DateTime can be told when the local time offset changes, instead of asking each call? I'm sure there has been thinking about this in the past.

[2017-09-05 20:23] siegfriedpammer commented on #13778
Currently ILSpy does support Mono only through the automated lookup implemented in Mono.Cecil. Actually I've never tried to use ILSpy with Mono, as it only runs on Windows.

I've created a basic implementation of .NET Core/Standard assemblies in icsharpcode/ILSpy#848. It currently implements .NET Standard by loading `netstandard.dll` from `%ProgramFiles%\dotnet\shared\Microsoft.NETCore.App\<versio

[2017-09-05 20:42] tarekgh commented on #13789
No, we don't have a way to know that. We looked before, and the way you can know that (on Windows) is either you have a Window and listen to some windows message or you use WinRT API. Obviously, both are not a good solution for us.

Also, it is difficult to know if we are passing the daylight saving at any moment to know we need to adjust the calculation (or the cache).

We already have some optim

[2017-09-05 20:58] Petermarcu commented on #13564
@davidwrighton @fadimounir any thoughts?

[2017-09-05 21:19] vancem commented on #13789
On the caching issue:   It seems to me that when you calculate daylight savings time, you can also know when it will change (at worst you probe say 4 hours into the future and see if it is different, since you know that daylight savings time only happens 2 a year, if you get the same number for now and 4 hours from now, you can know that for the next 4 hours it will not change).     The next time

[2017-09-05 21:44] wtgodbe commented on #13618
This has been resolved

[2017-09-05 21:44] #13618 closed

[2017-09-05 21:49] mikem8361 commented on #13764
Here is a version of createdump that may fix you problem. Could you try it? It would need to be copied to /usr/share/dotnet/shared/Microsoft.NETCore.App/2.0.0 (the directory on my Ubuntu machine). You should probably mv the original to another file.

[createdump.zip](https://github.com/dotnet/coreclr/files/1279034/createdump.zip)

[2017-09-05 21:55] RussKeldorph commented on #13790
@dotnet/jit-contrib @dotnet/arm64-contrib

[2017-09-05 21:55] RussKeldorph commented on #13788
@dotnet/jit-contrib

[2017-09-05 21:58] davidwrighton commented on #13564
The issue here is a subtle one where the runtime is behaving as designed, but there is an unfortunate interaction with longstanding behavior of the C# compiler that can cause problems. Jared may be able to comment on future thoughts around problems like this. @jaredpar

The binary breaking change difference between those two copies of baseclasses.dll is that the get_QueryContext method is changing

[2017-09-05 22:02] tarekgh commented on #13789
@vancem yes, in general, I agree there is a way we can optimize. we just want to be careful to not affect the functionality and not have a complex solution.

To mention, instead of probing for some time (4 hours in your example) we can just calculate the exact time we are going to switch the daylight when we create the cache. and then we always check against this time to know if we need to update

[2017-09-05 22:05] noahfalk commented on #4840
I think the main point of contention is which artifact in our repo should act as the persistent storage of test metadata. In Pat's scheme it is the source file, in mikedn's scheme it is the msbuild project file, and you could imagine yet other schemes where it is some other data file. Personally I have a small preference for Pat's scheme based on educated guess work about a few criteria:
a) Ease f

[2017-09-05 22:20] jashook commented on #13590
Reopen due to #13791

[2017-09-05 22:24] danmosemsft commented on #13789
If the machine time zone changes, do we need to listen to that?

[2017-09-05 22:25] jashook opened #13796 "[Arm64][Windows] Regressions"
Tests:

[code]

Test Output

[code]

[2017-09-05 22:31] sdmaclea commented on #13796
Related #13629

[2017-09-05 22:32] dagood opened #13798 "Transport nupkgs are symbol packages, which sometimes fail to be auto-converted to lib packages"
This is affecting Core-Setup official builds, which rely on the transport packages from CoreCLR.

CoreCLR pushes the transport packages to MyGet. Because the packages have pdbs and a src/ directory, they are detected as symbol packages. MyGet has a way to automatically convert symbol packages to library packages so they show up in the feed and are downloadable, but it doesn't always work. This cau

[2017-09-05 22:32] tarekgh commented on #13789
Same answer:

[code]

[2017-09-05 23:22] #13009 closed

[2017-09-06 00:04] jaredpar commented on #13564
Correct. C#, as well as F# and VB.NET, have their own set of rules about how interface implementations are accomplished. None of the languages has a true 1:1 mapping with the CLI specification.

It's a little more specific than that. The type must specify it implements the interface **and** the method must be public virtual. This is important for class hierarchies. Simply deriving a new type and a

[2017-09-06 00:39] ahsonkhan opened #13801 "Change AsSpan() on OwnedMemory to property Span and rename AsMemory"
Introduced in https://github.com/dotnet/coreclr/pull/13583.
There is currently a property on OwnedMemory called AsMemory. This is inconsistent with the OwnedMemory.AsSpan() method. Therefore, change the AsSpan() method into an abstract property named Span and rename the AsMemory property to just Memory.

https://github.com/dotnet/coreclr/pull/13583#discussion_r135241523
https://github.com/dotnet/c

[2017-09-06 00:39] danmosemsft commented on #13460
@ashishnegi can you pick up the latest build of 2.1 from https://github.com/dotnet/cli (check it contains fix above) and try your sceario?
If it still reproes, please open a new issue and we will take a look.

[2017-09-06 00:45] Maoni0 commented on #13292
@gbalykov I must apologize that I haven't been very responsive as I really just haven't had much time to think about this. I am very cautious because this is part of the public surface which means we'd need to support it for a long time. I'm actually quite swamped this week as well but I am hoping I can spend time on this next week. Thanks for your patience!

[2017-09-06 00:46] eiriktsarpalis commented on #2715
I see.

I think there's a tendency of conflating ISerializable with BinaryFormatter. Even though BinaryFormatter does utilize ISerializable, there are other (non-binary format, non-legacy) serialization libraries that make use of it. It's an essential abstraction (read: the only available abstraction) for extracting useful exception metadata without resorting to reflection.

[2017-09-06 00:51] JosephTremoulet commented on #4840
@noahfalk, I'd add a couple more concerns to your list:
e) Cutting down on boilerplate:  This is trivial compared to many of the others
f) Cutting down on redundancy:  Here is where I have concerns about the approach outlined here.  Class names like `_coverage_importer_Desktop_ldelemnullarr1_il_d_ldelemnullarr1_il_d_cmd` are easy to get wrong (where do I need underscores?  Which parts need to get

[2017-09-06 02:11] sillyousu commented on #13764
sure.

the new output here:

[code]

[code]

[code]
[createdump_29656.txt](https://github.com/dotnet/coreclr/files/1279525/createdump_29656.txt)

[code]
[createdump_29583.txt](https://github.com/dotnet/coreclr/files/1279526/createdump_29583.txt)

[2017-09-06 02:13] jabbera commented on #13564
Thanks for the information!!! This is super interesting stuff. I've been looking for an answer to this since [January 2015 on connect](https://connect.microsoft.com/VisualStudio/feedback/details/1082073/removing-a-property-from-a-unrelated-interface-causes-type-load-exception).

The breaking rules specify [adding an interface is explicitly allowed](https://github.com/dotnet/corefx/blame/master/Doc

[2017-09-06 02:15] jabbera commented on #13564
Forgot to mention that a less complete version of this issue was already opened here. https://github.com/dotnet/roslyn/issues/21677

[2017-09-06 02:38] noahfalk commented on #4840
Pat can comment more, but I believe the class names in the stuff he generated was done to keep test names identical across the change. Newly added tests only need to have unique names in order to avoid a C# compile error, though its fair that if all the names appear to follow a convention devs are probably going to think its weird if a small number of tests inexplicably don't follow the pattern.

[2017-09-06 02:40] 0xd4d commented on #13778
I'd first check all dirs in `PATH` env var. If `dotnet.exe` is in one of them, append `shared\Microsoft.NETCore.App`.

[2017-09-06 05:13] mikem8361 commented on #13764
Is there anyway you can zip up your Deadlock.dll and any assemblies needed and attach it here? It would be simpler for me to debug this locally.

[2017-09-06 05:34] hqueue opened #13804 "[RyuJIT/ARM32] CI for RyuJIT/ARM32"
There is a need for CI for RyuJIT/ARM32 as RyuJIT/ARM32 has passed almost all unit tests.

However as discussed at #13585, it is not desirable to use existing QEMU environment for RyuJIT/ARM32.
Instead, Windows RyuJIT/ARM32 will be available and is being introduced at #13664.

This issue will track all RyuJIT/ARM32 issues.

[2017-09-06 05:45] sillyousu commented on #13764
[Deadlock.zip](https://github.com/dotnet/coreclr/files/1279913/Deadlock.zip)

[code]

[2017-09-06 05:52] mikedn commented on #4840
That makes sense but at the same time the way coreclr uses xunit is alien to every .NET developer who uses xunit or a similar testing framework. Developers will find out that they have to add a .cs file containing a test fact with a funny name and some boilerplate code, another .cs file containing the actual test code and a .csproj file that needs to compile the later but not the former. And the .

[2017-09-06 06:42] sillyousu commented on #13764
BTW createdump in 2.0.0-preview2-006494 work perfectly.
[code]

[2017-09-06 06:49] noahfalk commented on #4840
Thanks @mikedn !

I think that option has definitely come up and Pat mentioned it remains on the table moving forward. I think of this work as an incremental step and then we can take another step if we still aren't happy. No argument that coreclr's usage of xunit is probably foreign to how most .Net devs would use it in another project. However even with conventions broken I think it retains a fe

[2017-09-06 07:54] Jiayili1 commented on #13740
@danmosemsft This issue still repro, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170906.01/workItem/JIT.Methodical.XUnitWrapper

[2017-09-06 08:16] iburman opened #13807 "GC not uncommiting memory"
Scenario - we have multiple services running under IIS, one per worker process, on Windows 2012 R2 with 16 cores. Using ServerGC.

Problem - CLR keeps large amount of memory uncommitted, much more than required to store our active objects. As there are multiple servers, at some point we reach a condition where IIS can't start a new service for lack of memory on the machine, as well as some other p

[2017-09-06 10:52] hqueue commented on #13739
Among `JIT/jit64/hfa`,  following three tests failed with same assertion.
[code]

These tests are PASSED with submitted PR #13806.

[2017-09-06 14:03] Loongle opened #13809 "Used in the DOCKER dotnet restore error Segmentation fault (core dumped)"
I built Jenkins in docker container, then entered the container to install the dotnet core 2.0 SDK, and when I used the dotnew new console - o hwapp in container, there was an error:
`Running 'dotnet restore' on hwapp/hwapp.csproj...
Segmentation fault (core dumped)
`

[2017-09-06 14:40] JosephTremoulet commented on #4840
Well said.  I'd worry that this would result in a convoluted and error-prone process for authoring tests.

[2017-09-06 15:20] benaadams commented on #13807
Run in 32bit mode? :-/ https://github.com/dotnet/coreclr/issues/11338

[2017-09-06 15:43] KrzysztofCwalina commented on #13801
Before we do this change, can we discuss (at the API review) when we intend to use properties and when methods for span/memory related conversions? I

[2017-09-06 15:53] dotnet-mc-bot opened #13810 "Build failure: [dev/defaultintf] warning C4018: '<': signed/unsigned mismatch"
Opened on behalf of @dagood

Warnings: 0
Status Message: failed

Build : defaultintf - 20170906.02 (Product Build)
Failing configurations:
- Windows
  - PortableBuild-Checked-x86
  - PortableBuild-Checked-arm
  - PortableBuild-Debug-x86
  - PortableBuild-Debug-arm
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/defaultintf/source/official~2Fcoreclr~2Fdev~2Fdefaultintf~2F/type/bui

[2017-09-06 16:14] sebaFlame commented on #13256
Everything's been running stable after removing that field. I couldn't reproduce it. I did hit some stack overflows in npoco during testing, but nothing like what I hit in production. I'm adding an approximation of the problematic code (without npoco).
[code]
There are a few thousand objects in object2.Lstobject3 per object2 at all times.
I'm closing this, as I wasn't able to reproduce it.

[2017-09-06 16:14] #13256 closed

[2017-09-06 16:33] yizhang82 commented on #13810
@fadimounir Can you take a look?

[2017-09-06 16:35] danmosemsft commented on #13740
@RussKeldorph we have recent switched on RHEL 6.9 runs and this JIT test fails on those.

[2017-09-06 16:42] swgillespie commented on #13256
Glad to hear it doesn't repro for you anymore, but let us know if it ever does show up again! We'd like to get to the bottom of random crash issues like this one if we can 😄

[2017-09-06 16:55] swgillespie commented on #13807
cc @Maoni0

Options 1 and 2 are covered by this issue (and Ben's link above): https://github.com/dotnet/coreclr/issues/13292. We are envisioning something like a "latency level", where you can select a level that optimizes most for the aspects of GC performance that you care about - in your case, keeping committed memory low. (In particular: https://github.com/dotnet/coreclr/issues/13292#issuecomm

[2017-09-06 16:55] RussKeldorph commented on #13740
Codegen is the last area I would implicate in this.  Most likely an issue with the OS, the test itself, or maybe the runtime, but marking as "bug" until proven otherwise.

[2017-09-06 17:11] danmosemsft commented on #13740
Fair enough - I just went by JIT in the test name.

[2017-09-06 17:18] RussKeldorph commented on #13740
@danmosemsft Sorry, didn't intend to question your triage.  In fact, if this is an issue with the test, the triage is completely correct regardless.  My comment was aimed at @rartemev, whom I didn't want to assume this was an issue with codegen.

[2017-09-06 17:19] danmosemsft commented on #13740
No problem at all 👍

[2017-09-06 17:26] AndyAyersMS opened #13813 "Add more flexible method for specifying jit instrinsics"
Per discussion in #13748.

Add ability to mark a method with an `[Intrinsic]` attribute and pass this through to the jit via the method flags. Jit can then query back to the EE and match on class/name to figure out exactly what intrinsic this is, rather than using the old system of predefined intrinsic IDs.

Will initially use this for `Enum.HasFlag` support.

[2017-09-06 17:28] #12893 closed

[2017-09-06 17:30] alpencolt commented on #12421
I've got following exception on the latest master:
[code]

This assertion failed:
[code]

[2017-09-06 18:00] sdmaclea commented on #13787
Also need to fix `NYI("genCodeForMulHi");`

@karelz @jashook Please assign this to me.

[2017-09-06 18:00] JosephTremoulet opened #13814 "JIT: Optimize epilog generation"
Currently, the JIT's strategy for epilog generation is to generate one epilog per `ret` in the MSIL, except that:
 - it checks for [a few constructs](https://github.com/dotnet/coreclr/blob/eaf6269e4ee79d7ec51526564595a3f6404b7547/src/jit/flowgraph.cpp#L8250-L8266) needing epilog instrumentation, and generates only one epilog if they apply
 - x86 GC info has a [limit](https://github.com/dotnet/core

[2017-09-06 18:59] kouvel commented on #13388
Thanks @redknightlois. How much improvement are you seeing from https://github.com/dotnet/coreclr/commit/03bf95c8db9003a5925ca9383dca722a4c651e27? That change has more risk of regressions so I wasn't considering porting it back to 2.0 but if there is a significant improvement in some real scenarios, wondering if it would be worth a try.

[2017-09-06 19:42] sandreenko commented on #11476
Fixed in #13709.

[2017-09-06 19:42] #11476 closed

[2017-09-06 20:00] nategraf opened #13818 "Heap corruption in EventPipe causes crash at cleanup time"
On Linux (where EventPipe is used) shutting down an event provider will sometimes result in a crash with either a heap contamination message (triggered by an assert in Debug mode) or segmentation fault (in Release mode)

Example Debug failure message:
[code]

I've narrowed it down to code within https://github.com/dotnet/coreclr/pull/12476 as triggering this failure, but have not determined the ex

[2017-09-06 20:01] nategraf commented on #13818
@karelz @brianrob Do you have any initial thoughts on this issue that might point to a fast fix? If not I can keep investigating it some more.

[2017-09-06 20:07] ahsonkhan commented on #13801
cc @terrajobst, @karelz, @shiftylogic

[2017-09-06 20:23] janvorli commented on #13667
@SteveL-MSFT does the PSCore6 exist for 16.04 only? I have a 14.04 box, I was able to install powershell, but apt-get cannot find a package called PSCore6. I have thought that you might have meant powershell by that, but the ipmo command doesn't exist either.

[2017-09-06 20:26] brianrob commented on #13818
This message means that when freeing memory, the validation check failed.  This validation check looks at a cookie that is written right before the beginning of the allocation.  Most likely this is either a double free or something is overwriting that cookie - a buffer overflow on the previous allocation.

Based on the fact that you believe it's from #12476, it's probably a double free.  If you ha

[2017-09-06 20:32] iburman commented on #13807
@benaadams - 32 bit mode may not be an option because we also call into native, so would require 32 bit native dlls. I read #11338 and some ideas there when available would be helpful in our scenario.

@swgillespie - any idea when these "latency level" options would be available?

In regards to setting the segment size, any reason why this option  is available only through the hosting API? It seem

[2017-09-06 20:57] Maoni0 commented on #13807
I am puzzled - if you are on 16-core and using Server GC, the only way you could get 64mb per seg would be LOH segs on 64-bit on an older version of the CLR. at some point (I can't remember exactly when, perhaps around 4.6/4.5 timeframe) I changed it so that we don't make the LOH seg smaller based on the # of cores but that would make it 256mb. If you are on 32-bit you can't get 64mb to begin with

[2017-09-06 21:34] SteveL-MSFT commented on #13667
Got @janvorli working

[2017-09-06 21:48] sdmaclea opened #13820 "[Arm64] Implement genCodeForMulHi and enable magic division"
`NYI("genCodeForMulHi");`

@dotnet/arm64-contrib @dotnet/jit-contrib Please assign to me.

[2017-09-06 22:05] dagood commented on #13798
@wtgodbe Do you think this is something you can fix?

/cc @chcosta

[2017-09-06 22:06] sdmaclea commented on #4122
This appears fixed by #12047

[2017-09-06 22:07] sdmaclea commented on #11524
This appears fixed by #12047.  Closing

[2017-09-06 22:07] #11524 closed

[2017-09-06 22:17] mikem8361 commented on #13764
I can't repro your problem with your program running on Ubuntu 14.04.  I'll try on my Centos VM.

Not sure why an older version (preview2) of createdump/runtime would work.

[2017-09-06 22:51] erozenfeld opened #13822 "[RyuJIT] Avoid redundant zero-initialization of temp structs with GC fields"
When importing newobj that allocates a struct the jit inserts explicit zero-initialization in the IR. For structs with GC fields, the jit also inserts zero initialization in the prolog. When initflags is true, all fields of structs with GC fields are initialized in the prolog. We should avoid this redundant zero-initialization.

[2017-09-06 23:13] erozenfeld opened #13823 "[RyuJIT] Introduce a general reverse copy prop for struct temps"
We currently allocate a struct temp for the result of newobj or any function returning struct. In many cases that struct is immediately assigned to a local. We should perform reverse copy prop to get rid of the temp.

The relevant comment in the code is here: https://github.com/dotnet/coreclr/blob/8a338880b527a86ccd33c29b1aa7baccd3f4b998/src/jit/importer.cpp#L12792

[2017-09-06 23:21] erozenfeld opened #13825 "[RyuJIT] Audit places that set lvAddrExposed to true"
Some of the places that set lvAddrExposed to true look questionable. For example, the comment explaining setting why lvAddrExposed is set here isn't clear:

https://github.com/dotnet/coreclr/blob/8a338880b527a86ccd33c29b1aa7baccd3f4b998/src/jit/morph.cpp#L9502

Setting lvAddrExposed on fewer structs may help get more struct fields promoted.

[2017-09-06 23:25] erozenfeld commented on #13823
This also came up in https://github.com/dotnet/coreclr/issues/7914.

[2017-09-06 23:36] sandreenko opened #13826 "complus_JitStressOnly is outdated"
`Compiler::compStressCompile` uses `info.compMethodInfo->args` that is not init at that point.

`jitNativeCode` call `compInit` at 6659, that uses for example `info.compMethodName`. We init this fields in 'compCompile' at 6667.

As I understand from the documentation this flag was supposed to allow compile one method with JitStress=2

[2017-09-06 23:42] erozenfeld opened #13827 "[RyuJIT] Improve heuristic for zero-initialization of locals"
The heuristic the jit is using for deciding how to zero-initialize locals is very simplistic. In many cases faster sequences can be used.

Here is one example. An attempt was made to switch String.Split to use Spans: https://github.com/stephentoub/coreclr/commit/500978f61c236d840f68281ef290c389dd3f0d27 to avoid int[] allocations. This resulted in several more temp structs being allocated and zero-

[2017-09-06 23:49] sandreenko commented on #13826
Have anybody used this flag in the past, @dotnet/jit-contrib  ?

[2017-09-06 23:56] redknightlois commented on #13388
@kouvel we jumped from 27K request/sec to 30K request per sec, so that's roughly 10% improvement.

[2017-09-07 00:21] redknightlois commented on #13827
There is other case which I have hit. When you stackalloc a sizeable byte array the ```rep stosd``` performance hit could be tremendous when you actually dont need the byte array to be zeroed at all. Would open a whole array of potential optimizations if you are able to hint the JIT about it.

[2017-09-07 00:27] erozenfeld commented on #13827
stackalloc issue is tracked by https://github.com/dotnet/coreclr/issues/1279. For stackalloc, the jit has to do zero-initialization if initlocals is set. Roslyn is considering making changes in this area. We also plan to add an option to ILLink to clear initlocals.

[2017-09-07 01:01] GiuseppePiscopo commented on #13277
Is there any update on this "request for guidance"? I'd be interested as well to know how to isolate loading (user) test project dependencies from loading test runner own dependencies.

[2017-09-07 01:04] whatevergeek commented on #13667
@SteveL-MSFT @janvorli
wow! glad to know you got it working...
was so looking forward to this...
got a snapshot of the repo (is it in another branch?) that i can use?
I'd like to run powershell on my pi also.

[2017-09-07 01:37] SteveL-MSFT commented on #13667
@whatevergeek just to be clear 'working' means I got him a repro of the crash locally so he can debug, not that we got PowerShell working on arm32 yet

[2017-09-07 01:44] hseok-oh opened #13828 "[RyuJIT/ARM32] Support fast tail call optimization"
ARM32 ruyjit backend doesn't support fast tail call optimization: `FEATURE_FASTTAILCALL`.
To introduce this feature on RyuJIT/ARM32, we need additional implementation on morphing(fasttailcall decision), lowering, and codegen phase.

[2017-09-07 01:45] hseok-oh commented on #13828
cc/ @dotnet/arm32-contrib

[2017-09-07 07:05] Jiayili1 commented on #13740
still repro, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170907.01/workItem/JIT.Methodical.XUnitWrapper

[2017-09-07 08:45] siegfriedpammer commented on #13778
Thanks for your suggestion, I will implement that part soon. Is there any solution to resolving references if *.deps.json is missing?

[2017-09-07 08:47] omariom commented on #1279
@benaadams

With @VSadov's  work on ref like types it will be soon allowed.
``` Span<byte> buffer = stackalloc byte[10];  ```

[2017-09-07 09:47] sergign60 opened #13830 "[RyuJIT/ARM32] CoreRT failed with assert in Object::ValidateInner !CREATE_CHECK_STRING(pMT && pMT->Validate())"
[create_arm_env.zip](https://github.com/dotnet/coreclr/files/1284157/create_arm_env.zip)

To reproduce this you need to clone the latest coreclr, corefx, corert, build all of them for armel (tizen), create runtime environment with the (edited) script from the attachment, push it to a device and execute the following commands:
[code]
needed jit diffs
[code]

Also you probably may need to turn off j

[2017-09-07 09:49] sergign60 commented on #13830
@jkotas @BruceForstall @CarolEidt
CC: @Dmitri-Botcharnikov @CarolEidt @BredPet @alpencolt

[2017-09-07 09:49] sergign60 commented on #13830
stack trace before assert
[code]
values of the variables
[code]

[2017-09-07 10:01] sergign60 commented on #13830
[code]

[2017-09-07 10:02] sergign60 commented on #13830
I'm very novice in GC staff so any help will be appreciated.

[2017-09-07 12:43] #6757 closed

[2017-09-07 12:49] jkotas commented on #13830
This is non-standard calling convention. Look for `GTF_CALL_M_SECURE_DELEGATE_INV`.

[2017-09-07 12:53] jkotas commented on #13830
This looks like a bad GC info generated for the `GTF_CALL_M_SECURE_DELEGATE_INV` case.

The one problem that I see is on this line:

[code]

`TYP_REF` does not look right here. I think it should be `TYP_BYREF`.

[2017-09-07 13:18] sergign60 commented on #13830
@jkotas Thanks! With this fix this assert's gone. We have another assertion namely

[code]
but the compilation process has progressed much further, so I think that it's another story.

Should I prepare the PR or will you do it?

[2017-09-07 13:25] jkotas commented on #13830
Prepare the PR for it please.

[2017-09-07 13:30] sergign60 commented on #13830
https://github.com/dotnet/coreclr/pull/13831

[2017-09-07 13:31] jkotas commented on #13830
https://github.com/dotnet/coreclr/issues/12659#issuecomment-315309194 has the same crash. Not sure whether it was fixed.

[2017-09-07 13:37] Tragetaschen commented on #13293
With the manual fixed statement, I'm good.

I'll update the title accordingly

[2017-09-07 17:38] sdmaclea opened #13834 "[Arm64] Incorrect disassembly"
[code]

Should be

[code]

[2017-09-07 17:38] sdmaclea commented on #13834
@dotnet/arm64-contrib FYI

[2017-09-07 17:39] toddschilling commented on #917
Yes please!

[2017-09-07 18:00] gregg-miskelly opened #13836 "OneCore version of dbgshim.dll is needed"
The current dbgshim.dll from this repo is not loadable on the Windows Mobile emulator that ships with VS (Windows Build 15063), and likely other older OneCore OSs that VS still needs to support. This might not be a problem for debugging CoreCLR 2 base UWPs (I am not sure if anyone has tried this scenario yet), but it is certainly a problem with the current UWP CoreCLR+new dbgshim.

My guess is the

[2017-09-07 18:14] #13830 closed

[2017-09-07 18:52] iburman commented on #13807
@naomi0

I'm a consultant working with an ISV to help them solve this problem. I may need to return to them to get additional information based on your input, but let me tell you what I know so far:

1 - We are not on 32 bits; we are on 64 bits.

2 - The services are hosted in IIS which is a CLR host by itself. I guess that having them create their own host would be some additional pain. I'm not s

[2017-09-07 20:06] Maoni0 commented on #13807
Yes, I am saying there's no way, unless your host has already done some configuration, that you would have a 64mb or 16mb segment on 64-bit with Server GC. all SOH segments have the same size.

We intentionally did not allow an easy way to configs segment size. Segment size is an internal tuning parameter in GC and most of the time people should not be messing with it so it was only available to c

[2017-09-07 20:26] ahsonkhan opened #13840 "DCR: Review ReferenceCountedDisposable as an alternative to IRetainable"
Design Change Request (DCR)
From https://github.com/dotnet/coreclr/pull/13583#issuecomment-325162865:

cc @KrzysztofCwalina, @shiftylogic

[2017-09-07 21:34] #5833 closed

[2017-09-07 21:52] sdmaclea opened #13843 "[Arm64/Windows] Optimize System.Buffer:Memmove CopyThreshold"
See #13793.  Optimize System.Buffer:Memmove CopyThreshold based on Windows performance testing

@pgodeq @dotnet/arm64-contrib FYI

[2017-09-07 21:54] sdmaclea opened #13844 "[Arm64/Unix] glibc memmove and System.Buffer:Memmove CopyThreshold"
See #13793. When glibc arm64 memmove optimization are present in most distros, revisit optimizing System.Buffer:Memmove CopyThreshold based on performance testing

[2017-09-07 21:54] AndyAyersMS commented on #13813
Fixed via #13815.

[2017-09-07 22:33] rakeshchevuru commented on #13542
HI... I am also having the same issue. Does anyone have a fix for this.

[2017-09-07 22:34] rakeshchevuru commented on #13542
HI... I am also having the same issue. Does anyone have a fix for this.

[2017-09-08 01:02] jkotas commented on #13840
This issue was moved to dotnet/corefx#23870

[2017-09-08 01:02] #13840 closed

[2017-09-08 01:02] jkotas commented on #13840
corefx is better place for API design discussions.

[2017-09-08 01:03] ahsonkhan commented on #13840
Sounds good. Thanks.

[2017-09-08 02:03] stephentoub opened #13848 "Over a thousand warnings when building coreclr"
Building coreclr now produces over a thousand warnings.  Most if not all of them appear to be non-CLS-compliance warnings stemming from the recently merged intrinsics work, e.g.
[code]

[2017-09-08 04:04] el2iot2 commented on #13542
I also hit this. For me, it had to do with the use of
[code]
in my .csproj when running in an environment that had installed a dotnetcore 2.0 runtime, but not an SDK. See [docs on implicit store](https://docs.microsoft.com/en-us/dotnet/core/deploying/runtime-store#aspnet-core-implicit-store).

The solution was adding the following to my .csproj:
[code]

Although it should be noted that installing

[2017-09-08 06:04] jkotas commented on #13779
This is crashing when destructing s_initializeYieldProcessorNormalizedCrst during shutdown. The PAL is half dead at that point and so we are crashing randomly.

The static critical sections need to be `CrstStatic`. CrstStatic does not have implicit constructors/destructors and so it does not have these sort of problems.

cc @kouvel

[2017-09-08 15:11] sdmaclea commented on #13784
@jashook Please assign this to me

[2017-09-08 16:03] kouvel commented on #13779
Darn sorry about that, and thanks for figuring it out, I'll fix asap

[2017-09-08 16:11] Petermarcu commented on #13282
This was merged for 2.0.1. Closing now.

[2017-09-08 16:11] #13282 closed

[2017-09-08 16:32] jerickmsft commented on #12074
If making it work requires changes to it anyway, shouldn't it be removed it since it doesn't work?

[2017-09-08 17:17] sdmaclea opened #13860 "[Arm64] LowerCompare enable lowering mixed type comparisons."
@dotnet/jit-contrib

Should this section be enabled for `_TARGET_64BIT_` (amd64+arm64) ?  Or is there a reason it is an am64 specific issue?
https://github.com/dotnet/coreclr/blob/master/src/jit/lower.cpp#L2350-L2392

[2017-09-08 17:18] sdmaclea opened #13861 "[Arm64] Implement GT_INTRINSIC"
@dotnet/arm64-contrib

[2017-09-08 17:20] sdmaclea opened #13862 "[Arm64] Lower GT_ARR_BOUNDS_CHECK"
This is currently disabled in lower.cpp

[2017-09-08 17:21] mikedn commented on #13860
Hmm, it depends on how does the ARM64 codegen handle mixed type comparisons. It's probably best to enable that code for ARM64 as well to avoid surprises. Maybe one day someone will fix loop cloning to not produce this kind of comparisons.

[2017-09-08 17:23] sdmaclea opened #13864 "[Arm64] Enable LowerCompare cast removal"
Note, this will merge conflict with #13799.

[2017-09-08 17:25] sdmaclea commented on #13860
@mikedn Thanks

[2017-09-08 17:25] sdmaclea commented on #13860
This will also merge conflict with #13799

[2017-09-08 17:34] mikedn commented on #13860
It looks like ARM64 codegen does handle mixed type comparisons:
https://github.com/dotnet/coreclr/blob/72201862c9b646ca651b686c5d7df9b71ca033e8/src/jit/codegenarm64.cpp#L3482-L3502

Probably not a good idea as it results in code duplication and accidental behavior differences between ARM64 and x64.

[2017-09-08 17:39] sdmaclea commented on #13860
@mikedn Translation "It should be removed from codegen, because lowering should do this."  Is that what you meant?

[2017-09-08 17:44] mikedn commented on #13860
Yes.

[2017-09-08 17:51] mikedn commented on #13864
Are you talking about this bit of code?

https://github.com/dotnet/coreclr/blob/72201862c9b646ca651b686c5d7df9b71ca033e8/src/jit/lower.cpp#L2418-L2455

That relies on x86/64 having 8 bit comparison instructions. Does ARM have that? My impression is that its instructions are 32/64 bit only.

[2017-09-08 17:57] sdmaclea commented on #13788
The copy block also does not support pointer increments.

[2017-09-08 17:58] benaadams commented on #13220
[Changes to NuGet.org service management, and performance improvements in China](https://blog.nuget.org/20170907/Changes-to-NuGet-dot-org-service-management-and-performance-improvements-in-China.html)

[2017-09-08 17:59] sdmaclea opened #13866 "Proposal: Use JIT helper/intrinsic to implement SystemBuffer:Memmove"
Code in `SystemBuffer:Memmove` can be performance critical.

Current code performance is limited by PInvoke overhead, limited optimization of the `Block16` and `Block64` struct copies  #13788, and general managed to native limitations

It may be better to move this to native code to get optimal performance

@dotnet/jit-contrib

[2017-09-08 18:03] wtgodbe commented on #13798
@dagood do you mean removing the `src` directory from the transport package?

[2017-09-08 18:05] sdmaclea commented on #13864
Yes.  I didn't look at the code closely.  I thought it was removing a cast on op2, the integral constant.

[2017-09-08 18:10] sdmaclea commented on #13861
Not sure of the total state of affairs, but
+ GT_INTRINSIC lowering is disabled.
+ NYI_ARM("genIntrinsic for round - not implemented yet");

[2017-09-08 18:34] sdmaclea commented on #13864
@mikedn if the compare is GT_NE or GT_EQ and the immediate is 0, the compare can be a `tst op1, #0xff`
Also would work for `tst op1, #0xffff`.

Is that worth enabling for arm64?  It might cover a large part of the xarch optimization

[2017-09-08 18:41] dagood commented on #13798
Yeah, I suggested calling it `sources` instead, but since there's nothing inside, just removing `src` works. I'm thinking it might be tricky because the logic for a lot of this stuff is in BuildTools.

[2017-09-08 19:02] mikedn commented on #13864
If memory serves me well this particular optimization mostly impacts byte/bool calls. As in:
[code]
On x64 this generates a 8 bit `test al, al` to avoid the cast:
[code]
On ARM64 the same code generates:
[code]
If `tst op1, #0xff` is used then `uxtb` can be eliminated. It seems useful to do this since `bool` returning methods are relatively common.

But there's a catch: the JIT appears to insert t

[2017-09-08 19:03] mikedn commented on #13864
Not sure who knows the exact story. Perhaps @briansull ?

[2017-09-08 19:05] fanoI commented on #13866
Instead to use Jit Intrisics or native code will be better to implement it using SSE / AVX copies directly using this work when it will be ready: https://github.com/dotnet/corefx/issues/22940

[2017-09-08 19:22] sdmaclea opened #13867 "[Arm64] CQ - Use CMP (extended register)"
[code]

[2017-09-08 20:12] sdmaclea commented on #13866
@fanoI That is a amd64 solution.  I was hoping for a more generic `memmove` intrinsic.  The `memmove` intrinsic could certainly be implemented in term of SSE / AX for intel, but It should be an abstract platform agnostic intrinsic here.

I think this would be consistent with @AndyAyersMS work to add `[Intrinsic]` support in CoreCLR

[2017-09-08 20:24] dpodder opened #13873 "Unrelated nuget.config in path leading to CoreCLR's repo root breaks the build"
This was discovered due to a recent change in optimization data training. If you have a folder structure on disk like this:
[code]
and the nuget.config has contents like the following:
[code]
...the presence of the nuget.config breaks the build. (It can live in any folder above the CoreCLR repo root; the above is just one example.)

Having stray files that are completely external and unrelated to

[2017-09-08 21:17] jkotas commented on #13866
What would this intrinsic expand into?

[2017-09-08 21:19] #13779 closed

[2017-09-08 21:22] sdmaclea commented on #13866
I was think something like `JIT_MemCpy` but without the alignment constraints because it is known to have no GCRefs.

[2017-09-08 21:45] jkotas commented on #13866
That's not really intrinsic. It would be an FCall. E.g. it is how Buffer.Memcpy is implemented on Windows ARM for historic reasons (https://github.com/dotnet/coreclr/blob/master/src/vm/arm/memcpy.asm). The problem with asm implementation like these is:
- They are constantly outdated. The C runtime memcpy - on Windows at least - gets constantly tweaked for latest processors
- They tend to stall the

[2017-09-08 22:04] #13848 closed

[2017-09-08 22:08] sdmaclea commented on #13866
I think to some extent `System.Buffer:Memmove` already has the same issue, but it is managed code, so you cannot easily tweak it.

Perhpas the alternative would be a templated block cpy intrinsic, it would solve many of the problems of `System.Buffer:Memmove`.  Something like:

`rawblockcpy<int sizeBytes, int ptrOffset, bool ptrIncrement>(*src, *dst)`.

You could limit the size to 64/128/1024 byte

[2017-09-08 22:32] briansull commented on #13864
I don't believe that you can rely upon calls to widen byte/char/bool values.
The native C++ compiler will return values in just the lower 8/16 bits and leave garbage in the upper bits.  Call that go to managed code will always widen the result to 32-bits.

[2017-09-08 22:35] sdmaclea commented on #13864
For arm64 it seems like that would be hard to do, but I am OK with just being safe as it does not add much complexity.

[2017-09-08 23:55] #13873 closed

[2017-09-09 00:05] netroby commented on #13220
Thanks for you great help. it really helpful for us. thanks .really thanks.

[2017-09-09 00:05] #13220 closed

[2017-09-09 00:24] sdmaclea opened #13881 "CoreFX version referenced by CoreCLR fails build with error"
CoreCLR is referencing CoreFX 13b5345

Building managed on Ubuntu AMD64 results in the following error.

The type or namespace name 'Policy' does not exist in the namespace 'System.Security'

[2017-09-09 00:24] mikem8361 commented on #13764
When you get a chance, could you try this version?  It fixes it locally for me on my Centos VM.

[createdump.zip](https://github.com/dotnet/coreclr/files/1289412/createdump.zip)

[2017-09-09 00:25] sdmaclea commented on #13881
[code]

[2017-09-09 00:26] sdmaclea commented on #13881
This was the last CoreFX reference which I tried to build and it built successfully. 063b06d

[2017-09-09 00:27] sdmaclea commented on #13881
@jkota @RussKeldorph FYI

[2017-09-09 01:25] noahfalk opened #13882 "VectorExp_ro test fails in Debug config when JIT is in minopts mode"
I would expect our JIT tests to either:
1) Run correctly when COMPLUS_JitMinOpts=1 has been specified
2) Specify JitOptimizationSensitive in their project file to indicate they are unsafe to run with non-default optimizations.

VectorExp_ro doesn't appear to do either of those things. The failure looks like this:

[code]

[2017-09-09 01:27] noahfalk commented on #13882
@russellhadley - could you help route this? Thanks!

[2017-09-09 01:36] jkotas commented on #13881
I do not think this has anything to do with CoreCLR. System.Security.Cryptography.Xml is not directly referencing anything in CoreCLR, and the type that it is complaining about (System.Security.Policy) does not live in CoreCLR either.

Also, I do not see either 063b06d or 13b5345 in my tree:

``
C:\corefx>git log 063b06d
fatal: ambiguous argument '063b06d': unknown revision or path not in the work

[2017-09-09 01:41] #9958 closed

[2017-09-09 05:26] sdmaclea commented on #13881
Those reference are the values in dependencies.props.
`<CoreFxCurrentRef>063b06d0342b9e575e852d0c52b590f1bdd85606</CoreFxCurrentRef>`

The CoreCLR issue is that dotnet-bot updated the reference to a corefx version which does not build successfully on Ubuntu.

[2017-09-09 05:52] mikedn commented on #13864
I see that ARM64 GCC (on https://gcc.godbolt.org/) too uses `tst w0, 255` because the callee does not widen:
[code]
[code]

[2017-09-09 06:26] sillyousu commented on #13764
I can confirm that it works on our Centos VM.
Thank you.

[2017-09-09 07:40] mikedn commented on #4840
Nice, never tried that. I either run all tests or run a single test exe directly (using corerun).

So xunit should probably stay and the question is how to produce the necessary .cs files. If we end up autogenerating them during build then the problem is how to generate fewer files (e.g. one per xunit test assembly). Otherwise perf will still suffer because autogenerated or not they're still thous

[2017-09-09 08:27] fanoI commented on #13866
Pleae note that https://github.com/dotnet/corefx/issues/22940 will be done fora ARMI an d any CPU that CLR will support in future so one can think of memmove_sse(), memmove_avx(), memmove_neon() and so on...

[2017-09-09 10:24] jkotas commented on #13881
This issue was moved to dotnet/corefx#23912

[2017-09-09 10:24] #13881 closed

[2017-09-10 00:10] J-kit opened #13889 "[Feature request] Debugger.Break With condition overload"
Hey,
It would be nice having a  Debugger.Break(bool) overload which only breaks when the bool is true 👍

[2017-09-10 00:26] jkotas commented on #13889
Please file proposal in dotnet/corefx repo according to the https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2017-09-10 01:17] #13889 closed

[2017-09-10 03:42] sywhang commented on #13499
Closing the issue as it appears to be resolved. If the problem seems to still persist, feel free to reopen.

[2017-09-10 05:43] jkotas commented on #1874
NaCl is officially deprecated in favor of WebAssembly now: https://blog.chromium.org/2017/05/goodbye-pnacl-hello-webassembly.html

[2017-09-10 05:43] #1874 closed

[2017-09-10 06:25] danmosemsft commented on #13830
@tarekgh the resources callstack above is not https://github.com/dotnet/coreclr/issues/12668. Does it look like it needs a corefx bug opened? I thought resource lookups tried to catch all exceptions to avoid recursion.

[2017-09-10 15:40] AArnott commented on #1874
@jkotas would #5303 be an equivalent issue to this one, but tracking .NET Core code doing native code gen for WebAssembly instead?

[2017-09-10 18:41] jkotas commented on #1874
I think so.

[2017-09-10 19:16] NickCraver commented on #919
I think this can be closed out with the milestone changed to 2.0 perhaps?

[2017-09-10 20:31] #919 closed

[2017-09-11 04:36] darkguy2008 commented on #1097
Okay so I think #9940 was merged so it landed, right? What happens to this? Is there any kind of documentation or remaining work regarding .NET Core on Android? Thanks!

[2017-09-11 06:08] ashishnegi commented on #13460
@danmosemsft I don't see any released 2.1 in https://github.com/dotnet/cli/releases or tags or any branch `2.1` in cli. Can you point to right binaries ?

[2017-09-11 14:16] surban commented on #930
On Linux I found a practical workaround for this issue, which does not involve modifying the DllImports at all.

The idea is to generate a stub shared library that is named like the Windows DLL and contains a reference to the real library name for Linux. The DllImport in .NET code remains unchanged and uses the Windows DLL name (without .dll suffix). The .NET core native loader will then load the

[2017-09-11 15:26] tarekgh commented on #13830
@danmosemsft

We are currently failing fast. We have discussed that before and @jkotas mentioned the following

[code]

[2017-09-11 15:54] tvass83 opened #13900 "The first sos command fails in live user mode debugging"
- It only happens in live debugging, not when working with dump files.
- The command can be anything from sos.dll.
- The same command succeeds the second time and from that point on, there are no errors.
[code]

[2017-09-11 16:26] danmosemsft commented on #13830
@tarekgh failfast is fine, I was wondering if there is a bug to fix.

[2017-09-11 16:53] redknightlois commented on #13499
@jkotas any ETA on when this will be included in a 2.0 service release? Not being able to profile with Tracing for call counts is quite an issue for us.

[2017-09-11 17:19] jkotas commented on #13499
Reactivating for porting the fix to .NET Core 2.0.x servicing.

[2017-09-11 17:48] swgillespie commented on #13900
I've experienced this too, when running debugger tests.

[2017-09-11 18:12] #5626 closed

[2017-09-11 20:26] noahfalk commented on #13499
@redknightlois - I don't have objection to getting this in 2.0 servicing, but I wanted to confirm this is the issue that is blocking you from getting call counts and not some other issue that we should be looking at? This issue only affects thread create notifications whereas for call counts I'd expect you'd care about ELT or rejit to instrument individual call bodies.

[2017-09-11 20:34] pgavlin commented on #4840
After the discussion above, I am leaning towards autogenerating the `[Fact]` wrappers during test build time. It seems like this approach should better centralize our test metadata as well as easing a few maintenance issues. If I am not able to get to this within the next week, I'll hand this off to @RussKeldorph.

[2017-09-11 20:50] #9016 closed

[2017-09-11 20:55] AndyAyersMS opened #13905 "Stack alloc prototype missed converting the newobjs from boxes"
The work in #6653 to encapsulate object heap allocation in the JIT IR missed one important case: the new objects created by boxing.

There should be a call to `gtNewAllocObjNode` in `impImportAndPushBox` in place of the generic `gtNewHelperCallNode`.

[2017-09-11 21:17] richlander commented on #13369
I am planing for ARM32 to go stable with .NET Core 2.1. We are still planning .NET Core 2.1.

Preview means two things:

- No official Microsoft support.
- The team did significantly less testing for ARM32.

[2017-09-11 21:19] richlander commented on #13369
Closing this issue since this was intended as an announcement. Feel free to comment here or open new issues, as appropriate.

[2017-09-11 21:19] #13369 closed

[2017-09-11 21:42] noahfalk opened #13908 "DevDiv_278523 fails when run under MinOpts or Tiered compilation"
This test throws an InvalidProgramException compiling main if not run with normal JIT optimization flags. I encountered this while triaging issues that could show up when tiered jitting is enabled. The expectation for tiered compilation is that if the code compiles correctly with default optimizations on, it must also compile correctly when in TIER0 mode. In this case the test fails for both TIER0

[2017-09-11 21:46] noahfalk commented on #13908
@russellhadley - Can you help route?

#11476 - a different recent bug related to this test, @sandreenko @CarolEidt

[2017-09-11 22:22] mellinoe commented on #12074
Any update on this? If this worked, a lot of one-off debugging problems would be a bit simpler for me.

That's not the worst option, really. This method's current behavior is very misleading -- probably doubly-so for a regular .NET Core user who doesn't understand that it's broken.

[2017-09-11 22:26] danmosemsft commented on #13460
@ashishnegi here https://github.com/dotnet/cli#installers-and-binaries is a table with 'latest daily build' marked 2.1.0.xxxx... you want something from that table.
Eg I would typically get https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-win-x64.zip unzip it and put it into c:\dotnet (say). Then in that folder I would make a folder `proj` and cd into that and do `..\dot

[2017-09-11 22:35] redknightlois commented on #13499
@noahfalk, dotTrace is a critical part of our perf suite because it allows us to do fine-tuning without the analysis overhead that WPA introduces; we only use WPA when scenario is too big for VTune and dotTrace is not enough to give us enough information.

We are certainly not doing call-count profiling lately because of this and I witness more than a few ```dotTrace is broken yet again``` in our

[2017-09-11 22:38] danmosemsft commented on #12074
This would significantly help devs working on the BCL libraries.

[2017-09-11 22:45] redknightlois commented on #13499
@jkotas Probably it would be a good idea (if viable) to add a test to avoid a regression for this one.

[2017-09-11 22:48] RussKeldorph commented on #13770
These look like good catches, but I don't think we'd take fixes for them.  We're keeping legacy backend around for now for comparison purposes, but there's no interest in improving it.  I'd recommend closing this issue unless someone objects.

@dotnet/jit-contrib

[2017-09-11 23:31] noahfalk commented on #13499
@redknightlois - ah I misunderstood. I incorrectly thought you also developed a diagnostics tool that used these APIs, but as I now understand it you are @ww898's customer. Thanks for the info, I'll coordinate with @sywhang to get this in the servicing branch. In the meantime the fix is in the development branch if you'd like to try it out. Although it seems reasonably likely that we fixed the bug

[2017-09-11 23:35] sywhang commented on #13499
@noahfalk FYI I already made a PR to get this in the 2.0.0/release servicing branch and sent out request to get it approved earlier this morning.

[2017-09-11 23:45] sandreenko opened #13910 "[RyuJit, JitStress] Set contained ignores lclVars stores"
If we have such LIR:
[code]

we can set contained for t10, then we will use the wrong value in EQ, because t10 will be moved after storeVar.

It happens only when ind doesn't have side effects, it is why we need `STRESS_NULL_OBJECT_CHECK`.

There are at least 2places that need to be fixed:
1. `CheckLIR`: Check lclVar semantics must catch such violations.
2. `IsSafeToContainMem`: must check from th

[2017-09-11 23:45] sandreenko commented on #13910
[code]

[2017-09-11 23:48] sandreenko commented on #13910
cc @pgavlin, @CarolEidt , @dotnet/jit-contrib

[2017-09-12 00:19] CarolEidt commented on #13908
I'm not sure that's a realistic expectation, broadly speaking, for invalid programs, though certainly for the case of throwing `InvalidProgramException` we should, I assume, be able to detect the invalid program for minopts/TIER0 as well as the normal optimization path.

[2017-09-12 00:58] sandreenko commented on #13908
Thanks for catching that.
Published the fix.

[2017-09-12 01:35] Jiayili1 commented on #12599
Following test failed with same issue, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170912.01/workItem/JIT.opt.XUnitWrapper/analysis/xunit/JIT_opt._Enum_hasflag_hasflag_~2F_Enum_hasflag_hasflag_cmd

The test `JIT_opt._Enum_hasflag_hasflag_/_Enum_hasflag_hasflag_cmd` has failed.

    Return code:      1
    Raw out

[2017-09-12 01:40] noahfalk commented on #13908
Not realistic as in occasionally we may find a thorny technical issue that prevents us from achieving it in a few rare corner cases, or it shouldn't even be the goal?

Any case where we can successfully compile in default optimization but fail to compile in Minopts/Tier0 is presumably both:
a) a case where the customer's app fails to run when they upgrade to a newer version of .Net Core
b) a case

[2017-09-12 01:41] KKhurin opened #13914 "Client GC sos!dumpheap reports heap errors on 1 core VMs on 2.x runtimes"
Repro steps:
- configure a VM to run on 1 core (this does not repro on 2+ cores)
- run a 2.0 coreclr app.. I only tried a couple of different apps, for example WCF outerloop tests repro this 100% of time (this does not repro on server GC - only client GC)
- attach the latest windbg and break in during the execution and run !dumpheap

[code]
Not sure if the heap corruption actually exists or if thi

[2017-09-12 01:42] Jiayili1 commented on #13562
Failed again, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fr2r~2Fcli~2F/build/20170912.01/workItem/baseservices.exceptions.XUnitWrapper/analysis/xunit/baseservices_exceptions._regressions_Dev11_154243_dynamicmethodliveness_dynamicmethodliveness_~2F_regressions_Dev11_154243_dynamicmethodliveness_dynamicmethodliveness_cmd

The tes

[2017-09-12 01:47] JosephTremoulet opened #13915 "JIT: re-think return merging heuristics for minopts and debug codegen"
Quoting discussion in #13903:

[2017-09-12 02:07] noahfalk commented on #13908
@sandreenko @CarolEidt - Is this unbalanced IL basically crazy for any real customer to have and thus not a case we need to worry about? I assume C# compiler would never generate such a thing but I imagine over the years you've gotten to know more obscure IL sequences that show up in real customer apps.
If a real customer showed up with this IL complaining that upgrading to a new version of .Net C

[2017-09-12 02:31] 303248153 commented on #13770
Well, I understand that, first i didn't notice it's legacy backend.
I'll close it now.

[2017-09-12 02:31] #13770 closed

[2017-09-12 03:10] swgillespie commented on #13914
I'll take a look at this.

[2017-09-12 03:13] mikem8361 commented on #13900
Are you running .NET Core because the desktop SOS was loaded?

`C:\Windows\Microsoft.NET\Framework\v4.0.30319\sos.threads debugger extension. `

[2017-09-12 04:20] wecing commented on #12808
(cc @jkotas) It seems that clang warns about side effects in __builtin_assume by default, but VS (C4557) doesn't. Because of -Werror, implementing this feature would produce errors for perfectly fine use cases like this:

[code]

Then should we manually rewrite all use cases of __assume to:

[code]

, or use -Wno-assume globally?

[2017-09-12 04:35] jkotas commented on #12808
I think it should be fine to use `-Wno-assume` globally.

[2017-09-12 06:55] sandreenko commented on #13908
There was no unbalanced IL in the original case.
Please review the fix.

[2017-09-12 08:31] janvorli commented on #13699
Fixed by #13895

[2017-09-12 08:31] #13699 closed

[2017-09-12 08:40] tvass83 commented on #13900
@swgillespie , @mikem8361: ahh, you were right, sorry for the confusion. It works perfectly with .NET Core as you can see it in the example below.
Any ideas where I should file this bug for the full .NET Framework?

[code]

[2017-09-12 08:45] kevingosse commented on #13900
I actually have observed the same issue with dump files (with .NET Framework), but only if the dump has been taken on the same computer as the one I'm using to run Windbg.

[2017-09-12 08:55] noahfalk commented on #13908
The fix seems fine to me assuming that we don't support this IL. It feels like you are implying the IL isn't supported, so apologies if I'm being pedantic but I wanted to get a clear call on that before saying OK on the fix.

Saying that the unbalanced IL wasn't an intentional part of the original test is a somewhat different statement then saying it isn't supported.

[2017-09-12 08:59] janvorli commented on #1097
@darkguy2008 the current state is that you can cross build coreclr and corefx repos for Android ARM32 / ARM64 on Linux and use the resulting binaries for running a dotnet core application using the `corerun` tool. The remaining work is to correctly plumb the Android RID handling everywhere (coreclr, corefx and core-setup) and make packaging work. That way, Android you would be able to build Androi

[2017-09-12 14:33] JensNordenbro commented on #8647
Any progress on this one @gkhanna79 ?
I take it, that compleing this will enable me to generate *.ni variants of dll:s targeting ARM using my x86 computer as build system ?!

[2017-09-12 15:21] CarolEidt commented on #13908
The former; I agree that it should be the goal, but I was just saying that, when presented with illegal/invalid IL, it is not always practical for the JIT to identify it, and if it doesn't, it is not necessarily the case that the behavior can be duplicated.

[2017-09-12 15:30] CarolEidt commented on #13908
Before we effectively dismiss the issue of inconsistent behavior by fixing this test case, I would like to understand why we can detect this as invalid IL in the non-optimizing case, but not when optimizing. I would think that, while the proposed fix is "correct", we should try to see if the JIT can detect the invalid IL in both cases.

@noahfalk - I agree with you. Unbalanced IL is invalid IL, so

[2017-09-12 15:30] janvorli commented on #13667
I've debugged the issue and it is a codegen issue. The ResolveWorkerAsmStub expects to get indirection cell address combined with two flag bits in the register R4, but it gets an address of an argument shuffling thunk instead. The managed frame (the frame #5 in the stack trace in the issue description above) is a frame of the following function:
[code]

This function calls an argument shuffling th

[2017-09-12 15:31] janvorli commented on #13667
cc: @dotnet/jit-contrib

[2017-09-12 16:05] AndyAyersMS commented on #13908
The jit very deliberately imports only "reachable" blocks when optimizing. What is considered reachable depends on the capabilities of the optimization code invoked during importation, and this changes over time as we add / improve / fix optimizations.

In minopts/debug modes the optimizations are (generally) not invoked and so a larger portion of the IL is considered reachable and is imported, so

[2017-09-12 16:08] jkotas commented on #13667
Here is the problem: https://github.com/dotnet/coreclr/blob/3297fd43b6d78c025e3befa3b6242229deaa9094/src/jit/codegenlegacy.cpp#L18667

[2017-09-12 16:10] jkotas commented on #13667
Also, R4 is loaded as `EA_PTRSIZE` in the line above. Instead, it should be loaded as `EA_BYREF`.

[2017-09-12 16:12] lt72 commented on #12074
We will not be able to get to this anytime soon. We can try and see that this gets some traction sometimes before the end of October.

[2017-09-12 16:18] CarolEidt commented on #13908
@AndyAyersMS - thanks, makes sense. Given that, I'm happy with fixing the test and closing this issue.

[2017-09-12 16:39] sdmaclea commented on #13864
Sounds like we are agreed the optimization is useful for arm64.  #13878 is my proposed implementation.

[2017-09-12 16:43] sdmaclea opened #13917 "[Arm64] JIT/opt/Enum/hasflag/hasflag.sh fails"
[code]

[2017-09-12 16:48] sdmaclea commented on #13917
@AndyAyersMS @dotnet/arm64-contrib This is a new test added in #13748

[2017-09-12 17:08] eerhardt opened #13919 "F# compiler is broken with latest CoreCLR runtime"
Trying to take the latest 2.1 runtime into dotnet/cli is currently blocked because the F# compiler is running into what appears to be a JIT issue.

See https://github.com/dotnet/cli/pull/7606#issuecomment-328694723 for my analysis of debugging the issue.

To repro:

1. Unzip [JITBug.zip](https://github.com/dotnet/coreclr/files/1296754/JITBug.zip) to a folder.
1. Set your CWD into the `JITBug` fold

[2017-09-12 17:21] mi-hol commented on #13667
@janvorli @jkotas great finding. I wonder how close are you to fix the root cause?

[2017-09-12 17:28] janvorli commented on #13667
@mi-hol I am just building coreclr with a fix so that I can test it with powershell on my RPI3. So I think I will probably send out PR with the fix later today.

[2017-09-12 17:30] AndyAyersMS commented on #13917
Could be the new code is violating some assumption about operand sizes. But first, does this repro with COMPlus_JitMinOpts=1? If so it's a pre-existing issue.

[2017-09-12 17:44] mikedn commented on #13864
It looks like I forgot to mention that disabling this optimization on x64 results in significant regression - 100K AFAIR - and most cases involve bool callees. So yes, it should be quite useful on arm64 as well.

[2017-09-12 18:14] RussKeldorph commented on #13919
@dotnet/jit-contrib

[2017-09-12 19:21] AndyAyersMS commented on #13919
Seems likely it is one of my changes, so I'll take a look if @briansull hasn't already started in on this.

[2017-09-12 19:25] briansull commented on #13919
@AndyAyersMS I haven't yet started debug this

[2017-09-12 19:27] jkotas commented on #13919
It seems to be caused by https://github.com/dotnet/coreclr/pull/13314

[2017-09-12 19:32] sdmaclea commented on #13867
@jashook Please assign this to me

[2017-09-12 19:33] sdmaclea commented on #11755
@jashook Please assign this to me

[2017-09-12 19:37] jkotas commented on #13919
@JosephTremoulet Could you please take a look?

[2017-09-12 19:41] mikem8361 commented on #13764
Should be fixed now in master.

[2017-09-12 19:41] #13764 closed

[2017-09-12 19:45] janvorli commented on #13667
I have confirmed that the fix at the place that @jkotas has suggested fixes the powershell. It has started correctly and I've tried a couple of basic commands and they worked.

[2017-09-12 19:59] JosephTremoulet commented on #13919
Sure.

[2017-09-12 20:11] #13908 closed

[2017-09-12 20:49] #13787 closed

[2017-09-12 22:02] #13187 closed

[2017-09-12 23:03] noahfalk commented on #13908
Agreed, thanks for the confirmation.

[2017-09-13 00:34] janvorli commented on #13667
Fixed by #13922

[2017-09-13 00:34] #13667 closed

[2017-09-13 01:33] #10651 closed

[2017-09-13 02:02] Jiayili1 commented on #13740
still repro, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170913.01/workItem/JIT.Methodical.XUnitWrapper

[2017-09-13 02:07] dotnet-mc-bot opened #13930 "Test failure: CoreMangLib_cti._system_convert_ConvertToByte_ConvertToByte_/_system_convert_ConvertToByte_ConvertToByte_cmd"
Opened on behalf of @Jiayili1

The test `CoreMangLib_cti._system_convert_ConvertToByte_ConvertToByte_/_system_convert_ConvertToByte_ConvertToByte_cmd` has failed.

/home/helixbot/dotnetbuild/work/2680aeca-5c12-4919-9686-5f3f045b543b/Work/bf1d0dfb-e3ce-4276-9e7f-d721974c5aaf/Unzip/system/convert/ConvertToByte/ConvertToByte.sh: line 154:  7819 Segmentation fault      (core dumped) $_DebuggerFullPath

[2017-09-13 02:16] Jiayili1 commented on #13930
All tests under "CoreMangLib.cti.XUnitWrapper " failed with this issue, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fr2r~2Fcli~2F/build/20170913.01/workItem/CoreMangLib.cti.XUnitWrapper

[2017-09-13 07:58] tmds commented on #13489
Implemented on master: https://github.com/dotnet/coreclr/pull/13488 and 2.0 branch: https://github.com/dotnet/coreclr/pull/13895

[2017-09-13 08:32] Jamesxql opened #13935 "sos DumpLog failed on Ubuntu 16.04.3 LTS"
I've used lldb-3.6 to attach a asp.net core application on ubuntu 16.04.3-x64, and I load the sos plugin with the below
[code]
Then I use `dumplog` command to generate stress log, but I receive this error:
[code]

Did I do something wrong?

[2017-09-13 09:01] janvorli commented on #13935
Have you turned on the stress log before running the app by setting the `COMPlus_StressLog env` var to 1?

[2017-09-13 11:28] gbalykov opened #13936 "[Question] Forking of CoreCLR process"
Hello

Does CoreCLR supports forking of the process with initialized CoreCLR and further independent operation of the CoreCLR instances?

[2017-09-13 12:20] richardszalay opened #13937 "[Question] Creating and debugging core dumps on Linux"
Hi guys,

I'm attempting to "port" Tess Ferrandez's debugging labs over to .NET Core, including working through them on the various platforms supported by .NET Core.

On Windows the story was pretty easy (adplus has changed, but it's still a thing), but I'm having a lot more problems on Linux (Ubuntu Server 16.04).

Essentially I can't seem to successfully debug a coredump created by anything othe

[2017-09-13 12:21] yatli commented on #930
@surban +1, note that the library cannot have a dot in the name. The loader stops guessing at the first dot.
Another problem is that the names would conflict for *nix systems. You cannot place both Linux/OSX bits together because the loader guesses the same name under the platforms. A workaround is to dynamically release the binary before the first P/Invoke call.

Please take a look here for an ac

[2017-09-13 12:58] #13790 closed

[2017-09-13 13:03] janvorli commented on #13937
@richardszalay regarding the lldb-3.7 crashes, are these happening when you load the dump or when you try to load the libsosplugin.so?

[2017-09-13 13:03] #13820 closed

[2017-09-13 14:22] gbalykov commented on #13936
@jkotas @janvorli

Please, take a look

[2017-09-13 15:09] benaadams commented on #12877
Would be nice if this worked without boxing (allocates 24 bytes)

[code]
Where
[code]
Though is the issue the C# compiler doesn't emit a `constrained` il instruction in pattern matching?
[code]

[2017-09-13 15:11] Jamesxql commented on #13935
@janvorli Whether I must set the `COMPlus_StressLog ` environment variable before the dotnet application starts?

[2017-09-13 15:12] jkotas commented on #13936
I doubt that it will work. It is certainly not officially supported.

[2017-09-13 16:05] benaadams commented on #12877
Raised issue for `constrained` https://github.com/dotnet/roslyn/issues/22092

Though would still have the issue with boxing for `isinst`

[2017-09-13 16:22] janvorli commented on #13935
@Jamesxql yes, correct.

[2017-09-13 16:30] #13739 closed

[2017-09-13 16:33] AndyAyersMS commented on #12877
I just updated [my branch](https://github.com/AndyAyersMS/coreclr/tree/OptTypeCastsWithCleanup)  for this yesterday; let me see how it fares on this case.

Main concern with the proposed change is whether I have the logic for `isinst` properly captured.... there are a lot of tricky cases out there and the jit's view of types is often limited.

[2017-09-13 16:34] #13630 closed

[2017-09-13 16:59] benaadams commented on #12877
Building :)

[2017-09-13 17:07] AndyAyersMS commented on #12877
The fork's version is not updated, sorry.... anyways the local update doesn't get the above case because it is looking for a specific cast helper and that rules out interface checks.

[2017-09-13 17:08] sdmaclea commented on #13866
Exactly my concern.  If they all could do the same thing using different implementations, then they should share the same name i.e. `__memmove`.

[2017-09-13 17:09] benaadams commented on #12877
:(

[2017-09-13 17:22] tannergooding commented on #13866
@sdmaclea, with the hardware intrinsic support, rather than having to code a `__memmove` intrinsic or FCALL directly into the runtime, we could do it directly in C#.

[code]

This not only allows it to be tweaked and updated outside of a runtime update, it also has all of the code paths that aren't hit dropped by the JIT (so the SSE, Neon, and Software paths will get dropped as dead code on modern

[2017-09-13 17:32] AndyAyersMS commented on #12877
I can generalize the checks, but will need some new methods on the jit interface so the jit can call back to the EE to ask questions about whether or not casts won't/may/must succeed.

[2017-09-13 17:36] sdmaclea opened #13942 "[Arm64/Unix] Crossgen Microsoft.CodeAnalysis.dll segmentation fault"
On 7d6cc7c64, I am seeing segmentation fault when running
[code]

The problem did not exist on 18ab3567e2

[2017-09-13 17:56] benaadams commented on #12877
As background...

The scenario I'm trying to cover is calling struct generics if the type implements the the interface; so in effect getting the benefit of having a generic constraint without one being present.

The example I was looking at was the default comparer on dictionary; which currently goes [via hoops](https://github.com/dotnet/coreclr/blob/c81f37210cd1fec54cb409c76290a82bd1a1865e/src/ms

[2017-09-13 18:02] sdmaclea commented on #13866
| This not only allows it to be tweaked and updated outside of a runtime update, it also has all of the code paths that aren't hit dropped by the JIT (so the SSE, Neon, and Software paths will get dropped as dead code on modern processors, and everything except for Neon will get dropped on ARM).

Of course `__memove()` has all the same benefits except there is no burden on the C# programmer.  The

[2017-09-13 18:02] pgodeq opened #13946 "[Arm64/Windows]"
While building coreclr tests for ARM64 Windows Checked, I get dependency verification errors.
I use the command: build-test.cmd arm64 checked toolset_dir c:\DATA\VS2015.WDK.14965
I do not get any error while building coreclr.

I tried the following link [https://github.com/dotnet/buildtools/blob/master/Documentation/project-nuget-dependencies.md](url) where they suggest to update corefx. I did tha

[2017-09-13 18:05] pgodeq opened #13947 "[Arm64/Windows] Dependency verification errors detected for 2.0.0-prerelease-02012-02"
While cross-compiling coreclr tests for ARM64 Windows Checked, I get dependency verification errors.
I use the command: build-test.cmd arm64 checked toolset_dir c:\DATA\VS2015.WDK.14965
I do not get any error while building coreclr.

I tried the following link [https://github.com/dotnet/buildtools/blob/master/Documentation/project-nuget-dependencies.md](url) where they suggest to update corefx. I

[2017-09-13 18:07] pgodeq commented on #13947
@jashook Please, take a look.

[2017-09-13 18:15] tannergooding commented on #13866
I meant we could codify the algorithm in C# using the new `System.Runtime.Intrinsics`. The implementation would still live in CoreFX and would (likely) be centrally managed.

No, it might not be as ideal as hand-crafted assembly, but hand-crafted assembly requires it to live in CoreCLR, which means we can only get updates/improvements during the next Runtime release (or patch). It also means that

[2017-09-13 18:16] jashook commented on #13947
I would recommend running clean.cmd to clean the enlistment. Then build again:

[code]

Please note that you can get the tests here to unblock yourself: https://clrjit.blob.core.windows.net/arm64ci/win2012-9bb540/arm64/checked/tests.zip

[2017-09-13 18:40] bendono commented on #13900
I have been hitting this issue on nearly a daily basis for several years now. Further details as well as the cause are included in #3377. It is a bug in dbgeng. However, that is not part of the CoreClr stack, so the issue was worked around in #3513. No such workaround (or a proper fix) has made it to the full CLR.

[2017-09-13 18:58] vancem opened #13949 "Improve lock contention problem on Linux"
Fora  while now there has been an issue where MSBuild of tests in the CoreCLR project took substantially longer on Linux than on Windows.   (it was taking 31 minutes to build on Linux rather than something less than half that on Windows).

@rartemev  tracked this down (see  https://github.com/Microsoft/msbuild/pull/2513)

Most of the time was spent in monitor spinning an lock contention.

  59.63%

[2017-09-13 19:10] sandreenko commented on #11305
Hit the issue today.

[2017-09-13 19:21] benaadams commented on #12877
Specifically I'd like to do something like this for `Dictionary<TKey, TValue>`
[code]

[2017-09-13 19:29] AndyAyersMS commented on #12877
Interesting -- I had been planning on looking at ways t the jit could improve dictionary perf for simple key types and this might be the way to go.

[2017-09-13 19:33] mikem8361 commented on #13900
I'm not that familiar with the desktop process and where to file a bug. I'm including @lt72. He may be able to address that.

[2017-09-13 19:36] redknightlois commented on #13949
@vancem With the exception of the Linux part, it sounds very much like the runtime behavior observed at https://github.com/dotnet/coreclr/issues/13388 . The behavior with @kouvel improvements to the spin-lock (including the normalization) is way better; probably it is worth trying MSBuild under the spin fix first.

[2017-09-13 19:44] janvorli opened #13951 "Remove executable memory mapping from crossgen"
Crossgen currently creates executable memory mapping for no obvious reason and we need to figure out where it does so and fix it. Once it is fixed, crossgen should not be marked with paxctl tool as allowed to create executable mappings any more.
It was revealed by the fact that crossgen cannot run on systems with PAX mprotect enabled unless it is marked with paxctl tool as allowed to create execut

[2017-09-13 19:54] jashook opened #13952 "[Arm32][Legacy Backend][R2R] mainv1/2.cmd fail"
The tests are:

[code]

Introduced by #13733

[code]

[2017-09-13 19:54] jashook commented on #13952
/cc @dotnet/arm32-contrib @dotnet/jit-contrib

[2017-09-13 20:08] jkotas commented on #13866
The implementation would live in CoreLib in the partition shared between CoreCLR and CoreRT repos.

[2017-09-13 20:09] richardszalay commented on #13937
@janvorli When I load the dump

[2017-09-13 20:12] jkotas commented on #13866
Modern (C++) compilers are offering both generic intrinsics and platform specific intrinsics. We are on the same plan.

[2017-09-13 20:43] briansull commented on #13295
Impacts amd64 Desktop Testing:

VSO 472665 [x86][RyuJit][JitStress2] Assertion failed 'blockPred->bbTraversalStamp == curTraversalStamp' in 'testout1:Sub_Funclet_96():int'

Failures:
Jit/directed/cmov/Bool_Xor_Op_cs_do.exe (TestID: 1980434)
Assert failure(PID 5932 [0x0000172c], Thread: 5476 [0x1564]): Assertion failed 'blockPred->bbTraversalStamp == curTraversalStamp' in 'testout1:Sub_Funclet_96()

[2017-09-13 21:39] benaadams commented on #12877
Don't think its currently expressible in C# as above would be
[code]
😢

Working on proposal

[2017-09-13 21:51] #13818 closed

[2017-09-13 21:52] JosephTremoulet commented on #13919
I have now put up a PR for a fix (#13957).

[2017-09-13 22:32] janvorli commented on #13951
This is a top of call stack when we call mprotect with RWX:
[code]

[2017-09-13 22:34] janvorli commented on #13951
And this is the call at frame 6 that asks for the executable permissions. So it seems the `m_Options` should not have the `LHF_EXECUTABLE` set for the crossgen case.
[code]

[2017-09-13 22:36] jkotas commented on #13951
Right, we should add ifdef around where it is getting set:

[code]

[2017-09-13 23:43] janvorli commented on #13951
I have given it a quick try, needed to add ifdef-ing out one assert that was checking for the heap being executable. That fixed the regular crossgen. But when running with the `/CreatePerfMap` option, there is yet another place where we try to change protection to RWX:
[code]

[2017-09-13 23:44] janvorli commented on #13951
Here the culprit is the PEImageLayout::ApplyBaseRelocations where we apply relocations to executable pages and so we first switch them to RWX and then back to RX. For crossgen, it seems we should first switch them to RW and then to just R.

[2017-09-13 23:45] rartemev commented on #13949
@vancem @kouvel I added document with stack trace analysis under \\clrmain\public\PerfInvestigations\17-09-13.LinuxMsBuild

[2017-09-13 23:46] jkotas commented on #13951
Sounds good.

[2017-09-13 23:46] janvorli commented on #13951
Or maybe just load them as "R", ignoring the "X"

[2017-09-13 23:49] richardszalay commented on #13937
Oh, and FWIW, "Success" is defined being able perform the following commands successfully:

[code]

[2017-09-14 00:11] janvorli commented on #13951
Ok, one more issue - the PAL loader that loads the PE file creates mappings based on the sections protection, including executable. It seems we would need to add a parameter that would indicate that the loader should ignore the executable flags on sections.
[code]

[2017-09-14 00:18] jkotas commented on #13951
`MappedImageLayout::MappedImageLayout` can just return NULL for crossgen. That is fallback code that should take care of it in the crossgen case.

[2017-09-14 00:20] janvorli commented on #13937
Actually, lldb 3.7 is known to have problems with dump loading. Moreover, the libsosplugin.so that's in the dotnet core package is for lldb 3.6 only. Unfortunately, the plugin needs to be built against the same version of lldb libraries as the lldb that will use it. While it seems to load ok even to different versions, it doesn't work and often crashes badly when you try to run some SOS commands.

[2017-09-14 00:27] janvorli commented on #13951
@jkotas great, that was the last obstacle. With these fixes, crossgen runs without any PAX markings.

[2017-09-14 00:33] richardszalay commented on #13937
@janvorli Thanks for the heads up. Any thoughts as to the "Process must be launched" I receive when loading the gcore dump from lldb-3.6?

[2017-09-14 01:18] janvorli commented on #13937
Please see this work in progress PR for more details:
https://github.com/mikem8361/coreclr/blob/5c22cb85c7cc9173f2fb783bf24c0cbbb6096c89/Documentation/building/debugging-instructions.md

[2017-09-14 01:22] richardszalay commented on #13937
Amazing, looks like a great source of information.

[2017-09-14 01:22] #13937 closed

[2017-09-14 02:39] cscer opened #13968 "cn-win7 ,error on load System.Private.CoreLib"
Assert Failure
Expression: [Recursive resource lookup bug]
Description: Infinite recursion during resource lookup within System.Private.CoreLib. This may be a bug in System.Private.CoreLib, or potentially in certain extensibility points such as assembly resolve events or CultureInfo names. Resource name: Argument_AbsolutePathRequired
Stack Trace:
at System.SR.InternalGetResourceString(String key)

[2017-09-14 03:19] Jamesxql commented on #13935
@janvorli Thank you very much!

[2017-09-14 03:19] #13935 closed

[2017-09-14 03:21] #13919 closed

[2017-09-14 03:49] #13466 closed

[2017-09-14 04:02] kouvel commented on #13083
@maximburyak, why was it necessary to increase the min thread count? Typically, this is only necessary if there is a lot of blocking work happening on thread pool threads. If your timer callbacks don't block, the default thread count should give better throughput.

[2017-09-14 04:24] cscer opened #13969 "can't convert to object " as ""
![image](https://user-images.githubusercontent.com/6744243/30411134-c28103ae-9941-11e7-8964-92867cfadf3d.png)

Traget to NetFramework4.6  it's works

but Target to netcoreapp2.0,
User u=userEntity as User;  u is null;
watch the variable u in vs ,  it throw a FileNotFoundException,
but the file location from exception message is exist. and The assembly file is which the "User" type  definition.

wh

[2017-09-14 04:33] benaadams commented on #12877
Proposal https://github.com/dotnet/csharplang/issues/905

[2017-09-14 05:40] omariom commented on #12877
@benaadams @AndyAyersMS

For Dictionary's case we could have a [tactical solution](https://github.com/dotnet/coreclr/issues/6688) . Jan Kotas mentioned that it was already implemented by .NET Native for UWP.

[2017-09-14 05:56] helloserve commented on #13542
^this.

I upgraded to Asp.Net Core 2.0 as well in this week, and I was trying to deploy to my Azure app service. I don't have the option to install the SDK there.

[2017-09-14 06:04] dpodder opened #13970 "Stop copying pgort*.dll alongside an instrumented product build"
Building the repo with PGO instrumentation enabled (`build.cmd release pgoinstrument`) produces an instrumented runtime and JIT, which introduce a new runtime dependency on pgort140.dll. This is normally available in a VC++ developer environment, and our training automation ensures that it is on PATH.

Due to a Setup/CLI bug, however (dotnet/core-setup#3213), we can't actually run a CLI with an in

[2017-09-14 06:05] dpodder commented on #13970
/cc: @jorive @dotnet/rap-team

[2017-09-14 06:25] AndyAyersMS commented on #12877
@omariom Thanks for the reminder. That is one of the things I want to look into further.

[2017-09-14 06:47] JensNordenbro commented on #13804
Is this the thing that eventually will enable crossgen on Linux ARM? (My impression is that crossgen is not done today due to legacy backend, but I could be wrong).

[2017-09-14 07:36] tvass83 commented on #13900
@bendono: you made a pretty good job there! Thanks for letting me know the details. It seems that I need to improve my search skills before submitting a duplicate issue. Lesson learned. :-)

[2017-09-14 07:39] weltkante commented on #10843
The [release notes for .NET 4.7.1](https://github.com/Microsoft/dotnet/blob/master/releases/net471/dotnet471-changes.md) say "this is also fixed in .NET Core" - but I don't see any linked commit, so is this actually true or did they just see that the issue here was closed and assumed its fixed? If there is a fix in .NET Core it would be useful to link it to this issue for people coming along and w

[2017-09-14 10:00] kevingosse commented on #13083
Not sure if that's the issue you're hitting, but timers scale really badly, especially with CPUs that have a large number of cores.

- Each timer operation acquires the global lock (new timer, timer.change, timer.tick)
- Inside of the lock, the timer queue is browsed to find where to put the new timer. This is a O(n) operation
- Waiting on the lock causes some spinning. The amount of spinning is d

[2017-09-14 10:33] gbalykov commented on #13936
@jkotas

What do you think about extending CoreCLR hosting API with alternative initialization: `coreclr_initialize_prefork` and `coreclr_initialize_postfork`, first of which will not launch any threads, and the second one will?

[2017-09-14 11:41] pgodeq commented on #13947
Thanks for the suggestion and sharing the tests to unblock.

I cleaned with clean.cmd and used the build command, but unfortunately I get the same errors as above.
I have even deleted the .dnx, .dotnet and .nuget folders in c:\users\<myusername>\  so that they are freshly installed. This is specific to a machine as it happens while build for x64 as well.
Can you please suggest how I can solve this

[2017-09-14 13:42] tarekgh commented on #10843
@weltkante is this issue repro or reported in .Net Core at all? .Net Core is single domain and will be unlikely to happen except if there is something really wrong with the app image. I think the release notes just stated that by mistake.

[2017-09-14 13:51] jkotas commented on #13936
What it would be used for?

[2017-09-14 14:43] #13951 closed

[2017-09-14 14:49] gbalykov commented on #13936
@jkotas

We would like to implement the mechanism similar to Zygote in Dalvik.

CoreCLR will be initialized with `coreclr_initialize_prefork`, which will not launch any threads. Then fork() will be called, and both parent and child processes will call `coreclr_initialize_postfork`, which will finish initialization of CoreCLR for each process. After that each process will be able to call `coreclr_e

[2017-09-14 15:00] AhmedHussainy opened #13975 "unable to install in kali linux 2017.1"
i am trying to install dot net core 2.0 in kali linux x64 2017.1 ....
but not working i am following the official guide [here](https://www.microsoft.com/net/core#linuxdebian)
but i got error when i apply this command :
`sudo apt-get install dotnet-sdk-2.0.0`
the error is :
[code]

[2017-09-14 15:27] jkotas commented on #13936
Extra threads get created pretty early. What is that you are trying to save?

Also, it is not just about threads. There are other ways to get incompatible with fork, e.g. cache or take dependency on pid.

[2017-09-14 15:37] gbalykov commented on #13936
@jkotas

We want to preload assemblies before fork, so that they are shared after forking.

What caches do you mean?

We could try to remove the dependecy on saved process ID, what do you think about this?

[2017-09-14 15:52] janvorli commented on #13975
@AhmedHussainy this usually means that you have some other installer running at the same time. Even just running a GUI package installer (not sure what it is on the Kali) without any ongoing installation prevents the command line apt-get from working.

[2017-09-14 16:07] jkotas commented on #13936
The first thread gets created today before any assemblies are loaded (even before CoreLib).

Is preloading of CoreLib the only thing you are going after?

[2017-09-14 16:15] AndyAyersMS commented on #12812
See #13006 for an example where a ranged assign/check would be useful.

[2017-09-14 17:35] #12347 closed

[2017-09-14 17:35] kouvel opened #13978 "Monitor is prone to creating lock convoys at lower spin counts or higher thread counts"
After switching to AwareLock, when there is a waiter, it does not allow any non-waiter thread to acquire the lock:
https://github.com/dotnet/coreclr/blob/master/src/vm/syncblk.cpp#L2958

This creates and maintains a lock convoy constantly when the rate at which waiters wake up and acquire the lock is <= the rate of adding new waiters.

The issue is less pronounced on Windows, I believe it is becau

[2017-09-14 17:37] kouvel commented on #11979
Closing in favor of https://github.com/dotnet/coreclr/issues/13978

[2017-09-14 17:37] #11979 closed

[2017-09-14 17:38] kouvel opened #13979 "Remove asm versions of Monitor helpers and use portable C++ versions instead"
Ideally should be done before or as part of https://github.com/dotnet/coreclr/issues/13980

[2017-09-14 17:40] kouvel opened #13980 "Reduce and improve spinning in Monitor"
Tasks
- Reduce the number of spin iterations
- Significantly reduce the max duration of one spin iteration
- Switch to using YieldProcessorNormalized() instead of YieldProcessor()
- Add Sleep(0) to the spin loop, similarly to the scheme used in SpinWait
- Remove proc count multiplier and improve scaling, similar to the scheme used in SpinWait (use YieldProcessorNormalizedWithBackOff())

Misc
- Dep

[2017-09-14 17:45] kouvel opened #13981 "Add dynamic spin heuristics to Monitor"
See https://github.com/dotnet/coreclr/issues/13949 for ideas. Stopwatch measurement will probably be necessary (and maybe even some history) to choose a reasonable next spin count.

Misc
- Depends on https://github.com/dotnet/coreclr/issues/13980
- Relevant to and fixes https://github.com/dotnet/coreclr/issues/13949

[2017-09-14 17:55] kouvel commented on #13949
I have filed the following issues that I believe need to be fixed in order:
- https://github.com/dotnet/coreclr/issues/13978
- https://github.com/dotnet/coreclr/issues/13980
- https://github.com/dotnet/coreclr/issues/13981

[2017-09-14 17:56] kouvel commented on #13949
@redknightlois, Monitor has not yet been switched to YieldProcessorNormalized, that is now covered by issue https://github.com/dotnet/coreclr/issues/13980

[2017-09-14 18:00] kouvel commented on #13978
Code used for numbers above:

[code]

(Uncomment the commented code to add delays)

[2017-09-14 18:08] #13644 closed

[2017-09-14 18:08] #13601 closed

[2017-09-14 18:08] #13545 closed

[2017-09-14 18:28] fiigii opened #13982 "Implement "IsSupported" of System.Runtime.Intrinsics.X86"
The first step in the implementation of [API Proposal: Add Intel hardware intrinsic functions and namespace #22940](https://github.com/dotnet/corefx/issues/22940) would involve infrastructure related items. I will provide a PR to implement `IsSupported` for JIT compilation at first.

[2017-09-14 18:32] AhmedHussainy commented on #13975
you are right after a full restart everything is working fine .... thank you very much

[2017-09-14 18:32] benaadams commented on #13979
Is an interesting difference; Windows has custom asm, and linux goes straight to C++?

[2017-09-14 18:32] #13975 closed

[2017-09-14 18:44] AndyAyersMS commented on #13905
Similar issue with the ready to run newobj/newarray expansions.

[2017-09-14 18:50] kouvel opened #13983 "Spinning in GC: Consider switching to using YieldProcessorNormalized()"
Consider switching to using Thread::YieldProcessorNormalized() instead of YieldProcessor() (after calling Thread::EnsureYieldProcessorNormalizedInitialized() before the spin loop)
  - Issue https://github.com/dotnet/coreclr/issues/13388 mentions that from Intel Skylake architecture, the pause delay has been significantly increased, so any spin loops that do a large number of YieldProcessor() calls

[2017-09-14 18:53] AndyAyersMS commented on #13905
Regular newarray not handled either, seems like this could be a candidate.

[2017-09-14 18:53] kouvel commented on #13979
Yep, I don't expect there will be much change in perf

[2017-09-14 18:57] kouvel opened #13984 "Consider moving initialization of YieldProcessorNormalized into a background thread"
In order to remove it from potentially being on the startup path. Maybe finalizer thread?

Extension of https://github.com/dotnet/coreclr/pull/13670

[2017-09-14 19:10] swgillespie commented on #13983
cc @Maoni0

[2017-09-14 19:11] kouvel opened #13985 "Consider applying spinning changes to Monitor, to anything else that uses g_SpinConstants"
Apply PRs that fix the following Monitor spinning issues:
- Depends on https://github.com/dotnet/coreclr/issues/13980
- Evaluate applying https://github.com/dotnet/coreclr/issues/13981 as well, if it's found to be useful, on a case-by-case basis

[2017-09-14 19:32] kouvel opened #13986 "Consider using YieldProcessorNormalized() instead of YieldProcessor() in other places"
Except those already covered by other issues.

Part of fix for https://github.com/dotnet/coreclr/issues/13388

Examples:
- object.cpp
- spinlock.cpp
- threadsuspend.cpp
- win32threadpool.h

[2017-09-14 19:36] benaadams commented on #13979
Might make the Windows version worse; and the Linux version is already worse 😉

[2017-09-14 19:51] erozenfeld opened #13989 "The check for recursion is incorrect in impImportCall"
This check
https://github.com/dotnet/coreclr/blob/089dd5bda7e724ad6fa60bc0009c9cca128fe902/src/jit/importer.cpp#L6995
doesn't handle the case when we are processing an inlineee and the call is to the root method.

This doesn't affect correctness but affects inlining heuristics.

[2017-09-14 19:56] kouvel commented on #13979
That would be some good data to act on :)

[2017-09-14 20:07] lt72 opened #13992 "Implement profiler ELT callbacks for ARM32 Windows"

[2017-09-14 20:08] lt72 opened #13993 "Implement profiler ELT callbacks for ARM32 Linux"

[2017-09-14 20:09] lt72 commented on #13993
See #13992 as well.

[2017-09-14 20:09] lt72 commented on #13992
See #13993 as well.
Windows is higher priority than Linux for bringing up profiler tests.

[2017-09-14 20:27] roozbehid-ic opened #13996 "Expanding "Assembly" variable in Debugger prevents "FileNotFound" exception"
VS 2017 15.3.4
Project is .Net Core App 2.0 Console (Running/Debugging in Windows 10)

          string filename = @"d:\myfile.dll"
           Assembly  asm = Assembly.LoadFrom(filename);
           Type[] asmTypes = asm.GetTypes();

myfile.dll is a .Net 4.6.1 Class library with many other dependencies. I get FileNotFoundException on one of the dependencies. I have copied that file everywhere (for

[2017-09-14 20:35] JosephTremoulet opened #13997 "RyuJIT: fgDebugCheckBBlist (or similar) should check loop annotations"
Follow up to @briansull's https://github.com/dotnet/coreclr/pull/13957#issuecomment-329322217 : when we walk the block list to check invariants, we could/should make sure that:
 - each block's `bbNatLoopNum` matches the index of the first loop in the table whose top/bottom blocks' numbers bracket it
 - walking the lpParent links in the loop table from that innermost loop, all ancestors also have t

[2017-09-14 20:42] jkotas commented on #13996
Have you tried to put the dependency next to the file that it is referencing (i.e. `d:\dependency.dll`); or subscribing to `AppDomain.AssemblyResolve`  and providing the path to your dependency via this event?

Where is the dependency loaded from in .Net Framework?

[2017-09-14 21:07] roozbehid-ic commented on #13996
Yes the dependency is next to that file.  .Net 4.6.1 loads it from the one next to the file. Like d:\dependency.dll.

----------------------- Different but similar issue :
I have already observed another -probable- bug that .net core does not load dependency dll even if it was in its path.
Looking at it with "gflags +sls" I can see that file is loaded -finally- successfully, but .net complains abo

[2017-09-14 21:09] roozbehid-ic commented on #13996
I think I find out why debugger works. It throws exception but also asm.GetTypes() returns value (Is it how it supposed to work?) For example doing this you end up with asmTypes being populated.

            Type[] asmTypes;
            try
            {
                 asmTypes = asm.GetTypes();
            }
            catch
            {

            }

[2017-09-14 21:14] jkotas commented on #13996
Would it be possible to create a small repro for the problem that we can take a look at?

This does not sound right.

[2017-09-14 22:13] sdmaclea commented on #7447
@mikedn Looks like the experimental branch was deleted.  Do you have a draft somewhere?

[2017-09-14 22:39] mikedn commented on #7447
@sdmaclea See the "If conversion" commit in this branch https://github.com/mikedn/coreclr/commits/relop-lower-2

[2017-09-14 22:59] kouvel commented on #13983
Sure I can move it out to a global function as part of https://github.com/dotnet/coreclr/issues/13984. Is there any specific place it needs to be for the GC to be able to use it?

[2017-09-14 23:25] Maoni0 commented on #13983
If you are going to move this to the finalizer thread, I'd imagine you just have a default value of 1 for s_yieldsPerNormalizedYield (and change the check in IsInitialized obviously), that way YieldProcessorNormalized can always be called, just wouldn't be called with an optimal value on newer chips. Then GC (or anything else) can always call YieldProcessNormalized, before you do the actual caluca

[2017-09-14 23:45] tannergooding commented on #7447
@mikedn, as for providing an intrinsic (a bit late, I know), I didn't think the runtime had a rule stating that a variable that is passed directly to a method (without being stored to a local in the interim) has to be evaluated (that's just the way it happens to work today, since we don't expose very many, if any, "intrinsics" like this).

That is, it should be entirely possible for the runtime to

[2017-09-15 00:02] mikedn commented on #7447
@tannergooding I don't quite understand what you are saying. In particular, the "Select(c, a[i], b[i]) will only evaluate a[i] or b[i] based on the result of c" makes no sense. The whole point of adding the Select method I suggested is to allow people to clearly state that they are OK with both `a[i]` and `b[i]` being evaluated. The "special contract" you suggest seems to do exactly the opposite (

[2017-09-15 00:19] kouvel commented on #13983
I was planning on using the current values on a Skylake processor for the defaults before it's initialized (1 yield == 1 normalized yield, 7 for the max per spin iteration iirc). And yes I'm also planning on removing EnsureYieldProcessorNormalizedInitialized and having YieldProcessorNormalized itself request initialization if not already done so, while using the defaults meanwhile.

[2017-09-15 00:29] Maoni0 commented on #13983
Maybe I'm missing something but I don't know why you would want YieldProcessorNormalized itself to request initialization at all - why incur a 10ms pause in the middle of something when you can have the 10ms done on the finalizer thread (most of the time) on a different CPU? I thought that's what #13984 is about. The finalizer thread would just run the init and whenever it's finished the YieldProc

[2017-09-15 00:38] tannergooding commented on #7447
C/C++ recognizes it:
[code]

is transformed to:
[code]

Realistically, there is no reason the JIT should recognize that pattern as well.

Not really, even just using regular C/C++ methods, the inliner recognizes we are just indexing into an array  (which for non-volatile locals/parameters should be non side-effecting) and does the right thing:

[code]

transforms to:

[code]

So, as you can see, i

[2017-09-15 00:40] tannergooding commented on #7447
Directly doing `return condition ? a[5] : b[6]` (or even `return condition ? a[i] : b[i]`) also works and is transformed to the equivalent of the `MyMethod` output.

I did test the various outputs on MSVC++ and Clang

[2017-09-15 00:46] briansull commented on #7447
Does it work when `condition `is false and `a `is **nullptr**?

[2017-09-15 01:04] tannergooding commented on #7447
@briansull, The code it generates for `MyMethod` is consistent regardless of what `a`, `b`, or `c` are.

However, when `MyMethod(false, null, b)` is called, it is able to statically determine that `c` is always false and will only ever return `b`. So it will inline that appropriately.

So, for example:
[code]

will transform to:
[code]

and that itself can be inlined to just `mov <register>, dword

[2017-09-15 01:15] sdmaclea commented on #13942
Backtrace
[code]
src/jit/gentree.cpp
[code]

`newobjArgs` is null

[2017-09-15 01:16] sdmaclea commented on #13942
@dotnet/jit-contrib PTAL might be related to intrinsic implementation

[2017-09-15 01:16] JosephTremoulet commented on #7447
C++ semantics allow suppressing faults in expressions whose results are otherwise unused. MSIL semantics do not.

[2017-09-15 01:19] mikedn commented on #7447
So does my experimental if conversion implementation. But that's a different expression than then one you used in your previous post.

That's not really the same as what you were suggesting. It's easier to observe if you look at the callsite - it would be `MyMethod(c, &a[i], &b[i])`, not `MyMethod(c, a[i], b[i])`. Besides, examples coming from the C++ world are not very relevant. In C/C++ there ar

[2017-09-15 01:43] #13568 closed

[2017-09-15 01:53] kouvel commented on #13983
By requesting initialization I just meant to trigger the background initialization without waiting for it to complete, what you described matches what I was thinking

[2017-09-15 03:28] tannergooding commented on #7447
I would say that it is needed, in order to produce more performant code, for the cases it is necessary (or desired).

The JIT has its own rules for safety (null checks, range checks, etc). There are certainly ways around this (such as using unsafe code), but the JIT already has trouble generating optimal code in a timely manner and some of the analysis will be impossible to do in the timeframe all

[2017-09-15 04:58] #13905 closed

[2017-09-15 05:03] AndyAyersMS commented on #13942
Yeah, this is code I added recently. Will take a look.

[2017-09-15 05:19] #13968 closed

[2017-09-15 06:21] mikedn commented on #7447
The specific Select behavior you are suggesting has nothing to do with intrinsics, it does not map features available in the supported instruction sets.

 The Select method that I suggested may be treated as an intrinsic and that would avoid the need to do if-conversion in the JIT. That's certainly an option.

Select/CMOV/IfConversion has nothing to do with range check elimination. If you don't wa

[2017-09-15 06:58] kevingosse commented on #1494
I just got bitten by this. I replaced a stream in some code with a custom implementation, and multiplied the allocations per 6... Thankfully that was caught early on in performance tests.

I understand that it's just a small issue (because you just have to override the method, assuming you know it's not efficient), and that back at the time there was no convenient fix. But now that we have the `Ar

[2017-09-15 07:27] Maoni0 commented on #13292
#13625

[2017-09-15 07:27] pavrosa opened #14007 "Windows update corrupts struct construction in .Net 4.x"
Since the installed of a Windows update on 14.9.2017 we have problems creating certain structs in our release builds - see relevant issue reported on [stackoverflow](https://stackoverflow.com/questions/46223714/windows-update-corrupts-struct-construction-in-net-4-x)

[2017-09-15 07:44] mikedn commented on #1494
The problem is not that you replaced the stream, the problem is that someone was using ReadByte in the first place.

It should probably be updated to call the `Read(Span<byte>)` overload with a span referencing a local byte. Either it may turn out that it's slower than just allocating an array so in scenarios where those allocations do not cause GC issues this may very well be a deoptimization.

[2017-09-15 07:57] wateret opened #14008 "[RyuJIT/armel] Pri2 test regression (332 tests fail)"
332 Tests fail with recent master branch.

Here are part of list that failed.
[code]

[2017-09-15 09:12] janvorli commented on #13942
@AndyAyersMS I can see similar issue when building the dotnet/cli repo modified so that it uses the latest shared framework - see https://github.com/dotnet/cli/pull/7606. It fails on all architectures on Unix, but not on Windows.

You can easily repro it locally if the @sdmaclea's repro doesn't work for you:
* Checkout the latest dotnet/cli
* Modify the build/DependencyVersions.props like in the P

[2017-09-15 10:18] benaadams commented on #14007
Occurs in x64 Release mode

C:\Windows\Microsoft.NET\Framework64\v4.0.30319\corjit.dll, dated 9/6/17, 9:23AM CDT, version 4.7.2110.0.

After update [.NET Framework September 2017 Security and Quality Rollup](https://blogs.msdn.microsoft.com/dotnet/2017/09/12/net-framework-september-2017-security-and-quality-rollup/)

cc @dotnet/jit-contrib

[2017-09-15 10:28] benaadams commented on #14007
From SO question
[code]
Outputs
[code]
Expected
[code]

[2017-09-15 10:40] svick commented on #7447
@tannergooding

Which existing or proposed intrinsics actually do not follow the language spec?

---

Also, with the `Select` you proposed, how is the runtime going to figure out which side-effects can be ignored? IL doesn't really capture which expression was part of the `Select` call (and so it can be optimized) and which wasn't (and so it presumably can't be optimized).

For example, consider:

[2017-09-15 11:41] gbalykov commented on #13936
@jkotas

We would like to load several dlls, which occupy most of the memory on particular set of applications. If it is possible to extend hosting API, we would also like to add loading of other assemblies before any threads are created.

[2017-09-15 12:28] joshcomley opened #14010 "Catching a StackOverflowException"
If I have this simple app:

	using System;

	namespace PlayGround.Core.Console
	{
		public class Program
		{
			public static void Main(string[] args)
			{
				try
				{
					DoSomething();
				}
				catch(Exception e)
				{
					System.Console.WriteLine("Bugger");
				}

			}

			private static void DoSomething()
			{
				DoSomething();
			}
		}
	}

The exception handler itself is never called, i

[2017-09-15 12:59] sharwell commented on #14010
To date I have not found a way to handle a `StackOverflowException` within a .NET process, outside of the case where you use the [hosting API](https://docs.microsoft.com/en-us/dotnet/framework/unmanaged-api/hosting/) to launch the CLR in a non-standard mode which allows these exceptions to be caught. I've tried everything I could think of, including routing calls through an intermediate unmanaged

[2017-09-15 13:01] jkotas commented on #13936
Yes, that would make sense. I do not think that the API you are proposing helps you achieve that.

[2017-09-15 13:32] tannergooding commented on #7447
@mikedn, We can have misunderstandings about areas that aren't our expertise as well. We can also have bad ideas. It just means we sometimes have a route to discuss bad ideas or misunderstandings before it goes on the internet :wink:

Why is the difference expected?

Given two methods:
[code]

If no inlining is done, then both `a[5]` and `b[6]` must be evaluated before `Select` can be called.

How

[2017-09-15 13:35] tannergooding commented on #7447
@svick, in your example, the difference is whether or not the evaluation is stored into a local first.

For `M1`, the values are directly loaded onto the stack and then consumed from the `Select` call. Therefore, they are only available in that context.

For `M2`, the values are stored in locals before being stored on the stack. Additional analysis would have to be done to determine that the local

[2017-09-15 13:44] benaadams commented on #7447
@tannergooding is this more accurate of what you are after?
[code]

[2017-09-15 14:02] tannergooding commented on #7447
@benaadams, no. At this point I'm just trying to understand why

This:
[code]

cannot be transformed to be:

[code]

and generate the appropriate code. My understanding of the optimizations the spec allows, indicates it should be.

Basically, if the range checks could be elided by the JIT, I would expect this to generate:

[code]

If they could not be elided, I would expect it to generate:
[code]

[2017-09-15 14:08] gbalykov commented on #13936
Yes, the two API functions above are not enough. The full list of extensions could look like this:

- `coreclr_initialize_prefork`
- `coreclr_preload_assembly`
- `coreclr_initialize_postfork` (fork happens before this phase, threads are created upon reaching this phase)

[2017-09-15 14:09] svick commented on #7447
@tannergooding

There is no local for `c0` in the IL, so I think the C# compiler already does that analysis in some cases. And I think the runtime can't rely on the compiler not performing that analysis for `ai` (even if it doesn't do it today).

There's also a super-convoluted case where the compiler produces the same IL with or without a local in the source today:

[code]

The IL is exactly the

[2017-09-15 14:11] jkotas commented on #13936
What would `coreclr_preload_assembly` do? Just map the .dll into memory, or more?

[2017-09-15 14:14] tannergooding commented on #7447
@svick, yes.

I was indicating that, when locals are involved, additional analysis for those values has to be done (something the JIT probably doesn't have time to do), so the transformation would not occur and the evaluation would happen before the method call. (There would need to be an post-compilation, but pre JIT/AOT IL optimization tool for these transformations).

However, for the cases whe

[2017-09-15 14:16] pgavlin commented on #7447
This is starting to go pretty far off the rails. Let's back up and answer @tannergooding's high-level question:

This transformation cannot be performed in the way that you suggest because it changes the behavior of the program. In the first case, the evaluation of `condition`, the array accesses, and any associated side-effects occur before the call to `Select`; in the second case, only one array

[2017-09-15 14:24] gbalykov commented on #13936
`coreclr_preload_assembly` will map dlls, register them, so that loader could find them, and apply relocations

[2017-09-15 14:25] JosephTremoulet commented on #7447
@tannergooding,

It's in the part of I.12.6.4 that you quoted.  Adding emphasis (note "**and exceptions**"):

guarantees, within a single thread of execution, that side-effects **and exceptions** generated by a
thread are visible in the order specified by the CIL. For this purpose only volatile operations
(including volatile reads) constitute visible side-effects. (Note that while only volatile op

[2017-09-15 14:30] tannergooding commented on #7447
@pgavlin, @JosephTremoulet. Thanks.

Am I correctly understanding the subsequent section on `E-relaxed` methods that, if a new `CompilationRelaxations` value was exposed, the JIT would be allowed to perform such a transformation and delay the check into the inlined code?

[2017-09-15 14:48] tannergooding commented on #7447
@JosephTremoulet. Hmm, it seems that the further explanation of relaxations in Annex F specifically calls out the scenario I am interested in:

absence of constraining data or control dependences, to interleave the call with other instructions
in the caller. If one of those other interleaved instructions faults, then any or all of M’s side
effects might be suppressed. Thus, method M should be mark

[2017-09-15 14:52] tannergooding commented on #7447
In either case. Thanks for helping me understand this better.

I'm going to create a new issue so I can continue the discussion without polluting this thread anymore.

I think, even if the runtime does not "technically" allow it today (although I think it might), it should support these types of optimizations.

[2017-09-15 15:03] JosephTremoulet commented on #7447
@tannergooding, translating "caller" and "M" to your example, that's saying that (if both are relaxed) a fault in `MyMethod` may result in some arbitrary subset of `Select` 's side-effects being suppressed.  The fault in `MyMethod` still must be made visible.

[2017-09-15 15:56] tannergooding opened #14011 "A mechanism to relax exception checks such that inlined method calls are at least as fast as manual inlining should be supported."
A mechanism to relax exception checks such that inlined method calls are at least as fast as manual inlining should be supported.

# Rationale

Under the CIL specification, the runtime is normally only allowed to perform certain optimizations and must preserve side-effects and exceptions generated by a thread in the order that they appear (I.12.6.4).

This means that, when inlining methods, it is

[2017-09-15 16:01] tannergooding commented on #14011
FYI. @JosephTremoulet

So after re-reading the sections a few times. I'm fairly positive that this is supported under the pretext of `E-relaxed` methods/sequences/checks.

There are specific sections that not only call out that `E-sequences` can span across methods, but that these optimizations are specifically for things like allowing methods inlined by the JIT to be at least as fast as manually

[2017-09-15 16:12] alpencolt commented on #12421
Debug version failed with the same exception as #10765. Back trace:
[code]
After few times test were passed it failed with this stack. So as you can see there is garbage collection on `JIT_NewArr1()` calling. The reason is that `GetGCSafeMethodTable()` returns `0`.
Also I've found that  before crash StackWalker iterates over big amount of frames and there is one frame with `Frame::FRAME_ATTR_EXCEP

[2017-09-15 16:17] JosephTremoulet commented on #14011
@tannergooding, I think you're combining "side-effects" and "checks"/"exceptions" into a single concept in a way that the spec does not, and that this may be the cause of your incorrect reading of it.  Side-effects and checks are separate throughout the language quoted above.  Relaxation allows reordering some checks across each other and across side-effects.  This means that, in terms of observab

[2017-09-15 16:21] jkotas commented on #13936
Can we have just `core_preload_assembly` ? You would call this before calling regular `coreclr_initialize`. The implementation would map the file, apply relocations and store the result in a linked list. This will run relatively small amount of code that one can reason about and make fork friendly. The regular load would then consult the linked list.

[2017-09-15 16:22] JosephTremoulet commented on #14011
Also, a "manual inlining" of your example:

[code]

would produce

[code]

Further modifications that alter the semantics (by making the type safety checks conditional) are rewrites that produce semantically different programs, not "inlining".

Why there's discussion of interleaving instructions and being "as fast as" manual inlining is e.g. if the call were in a loop, you'd want to be able to hoi

[2017-09-15 16:24] JosephTremoulet commented on #14011
@CarolEidt could speak with more authority than I can as to the intent and details of the spec.  The current JITs don't actually pay attention to the relaxed exception control bits, so this is somewhat academic without changing the JIT, and I don't know the history of why we have this complicated bit of spec that we don't actually take advantage of in codegen.

[2017-09-15 16:33] tannergooding commented on #14011
@JosephTremoulet. I might be misunderstanding, but I don't think my proposal would be supressing the check, merely moving it so that it is only executed if the variable in question is actually accessed.

From VI.F.1

their callers or callees are relaxed, because strict instructions act as a fence. On the other hand,
we want calls from E-relaxed methods to E-relaxed methods to be inlinable “as if”

[2017-09-15 16:36] jashook commented on #13882
Looking into this now.

[2017-09-15 16:36] jashook commented on #13882
Hoping it is related to #13998

[2017-09-15 16:38] tannergooding commented on #14011
E-relaxed sequence, with respect to other checks and instructions as long as the observable
behavior of the program is changed only in the case that a relaxed E-check fails.

My understanding of this, is that the implicit check from an instruction can be reordered anywhere, provided that the observable behavior is only changed in the case that the check fails.

So, unless a range check has an obse

[2017-09-15 16:43] JosephTremoulet commented on #14011
Aha.  You're interpreting "reorder" and "suppress" in terms of the static view of how the program is rewritten.  I believe the spec is discussing the operational semantics, and that "reorder" and "suppress" are meant in terms of the dynamic stream of visible events that the executing program might trigger.  So "suppress" means "remove from the dynamic stream", not "remove from the static view of t

[2017-09-15 16:57] tannergooding commented on #14011
So today, we have the following streams
[code]

Today, under the normal requirements, it is transformed to:
[code]

My proposal is that, following the relaxations we transform it to:
[code]

So we are not "suppressing" anything (removing it from the dynamic stream". We are only "reordering" (may occur in a different order).

Because the Null Check and the Range Check do not have a side-effect in t

[2017-09-15 17:09] tannergooding commented on #14011
I do not think the reordered sequence must guarantee that the exception is still thrown in all possible code paths. If that was the case, then re-ordering the check elsewhere is effectively pointless.

Users (especially users who care about performance) would much rather the method fail earlier rather than later.

As such, I believe that this (in addition to all the mentions of the generated code

[2017-09-15 17:17] JosephTremoulet commented on #14011
Talking past each other... maybe I should have said "trace" instead of "stream"?  The reasoning goes something like this:

1. Start with the unoptimized program:

[code]

2. For each possible set of inputs, consider:

  2.1. What dynamic trace of events does the unoptimized program execute?
  2.2. What dynamic trace of events does the optimized program execute?

3. The optimization is legal only i

[2017-09-15 17:26] tannergooding commented on #14011
@JosephTremoulet, I still don't think that is quite right. That leaves this entire portion of the spec effectively useless.

If a check is going to fail (that is cause an exception) then moving it to later in the program is effectively useless (it means additional code will execute, but overall the function will still fail, will delay program execution, etc).

Based on all the surrounding context,

[2017-09-15 17:29] gbalykov commented on #13936
Preinitialization of CoreCLR before forking could give additional benefits because of sharing of execution engine and type information of non-precompiled assemblies.

We agree that starting with just `core_preload_assembly` is very good idea, because it should save significant amount of memory and it is much simpler to implement.

We will try to implement this and open pull request in next two wee

[2017-09-15 17:35] MindyStivers opened #14012 "Implicit operator throws when checking ArraySegment != null or ArraySegment == null"
### Symptom
Using != or == operator to compare an ArraySegment to null throws an ArgumentNullException.  For example:
`if (new ArraySegment<byte>() == null)`

### Cause
The != and == operator trigger implicit conversion from an array to ArraySegment on `null`. The resulting call to the ArraySegment constructor with a null array parameter throws an ArgumentNullException:

`public static implicit op

[2017-09-15 17:41] JosephTremoulet commented on #14011
Not so.  Consider this example:

[code]

That loop has a null check on `a`, then a bounds check on `a[i]`, then a field load which implicitly does a null check on `o`.  But `o.someField` doesn't change in the loop, and loads are expensive, so you'd like the compiler to be able to load `o.someField` before it runs the loop.  Doing that would change the observed exception raised from `IndexOutOfBoun

[2017-09-15 17:47] benaadams commented on #14012
ArraySegment is a struct so can never actually be null; do you want to check if its array is null?

`if (new ArraySegment<byte>().Array == null)`

[2017-09-15 17:50] tannergooding commented on #14011
Loop rewriting is explicitly called out in a separate portion, with such an example.

All the sections about method inlining under relaxations are explicitly separate, explicitly call out optimizing in a way equivalent to had you inclined the code in the original source (not in IL), as to being allowed to optimize as if the called method were a C/C++ style macro, etc. They all indicate that my ass

[2017-09-15 17:56] JosephTremoulet commented on #14011
The spec says `The check’s exception is thrown some time in the sequence, unless the sequence throws
another exception.`.  You're asking for an optimization to ignore that on based not on any normative text but on the basis that the rationale text in another section uses a phrase that you interpret to include this particular semantics-altering rewrite you have in mind.  We'll have to agree to disa

[2017-09-15 18:02] mikedn commented on #14007
I can't reproduce this with the current CoreCLR build or the released 2.0 build.

[2017-09-15 18:06] #11755 closed

[2017-09-15 18:08] dmitriyse opened #14014 "Thread affinity of a spawner thread should not be inherited by a new threads."
Probably it's multi-platform problem, but currently I found it in a Linux x64 system with NetCoreApp 2.0.

For example we have CPU with multiple cores.
1)  Some thread gets non-default thread Affinity (for example after a call to some unmanaged function)
2) This thread with non standard thread affinity explicitly or implicitly (for example by scheduling work item to the thread pool) creates a new

[2017-09-15 18:09] MindyStivers commented on #14012
D'oh! This just started throwing out of the depths of an older test when we moved to .net core 2.0.  Fair 'nuf that the answer is we have bad test code that was previously sneaking through.

I know the implicit operator docs say it should not throw so I wanted to make sure to follow up.

[2017-09-15 18:13] jashook commented on #13882
This is windows only

[2017-09-15 18:14] karelz commented on #6115
We are resurrecting the FreeBSD port effort in https://github.com/dotnet/corefx/issues/1626.

Closing this issue as duplicate of https://github.com/dotnet/corefx/issues/1626 (the main driving issue).

[2017-09-15 18:14] #6115 closed

[2017-09-15 18:17] jkotas commented on #14010
Right, StackOverflowException is non cachable.

Related to #652

[2017-09-15 18:17] #14010 closed

[2017-09-15 18:22] tannergooding commented on #14011
Yes, but the entirely depends on how you interpret sequence (whether it is a single code path, or all code up until the next non-trivial protected or handler region).

There is at least one example in the spec (on phone, will link in a bit) where it defines a sequence to contain a branch.

[2017-09-15 18:23] benaadams commented on #14007
Thought couldn't recreate this however can. Has to be x64 on full framework

C:\Windows\Microsoft.NET\Framework64\v4.0.30319\clrjit.dll `4.7.2552.0` is fine
(Win10 Version 1703 OS Build 16281.1000)

C:\Windows\Microsoft.NET\Framework64\v4.0.30319\clrjit.dll `4.7.2110.0` has the issue
(Win10 Version 1703 OS Build 15063.608)

Assuming version is clrjit is the info required; so I assume whatever it i

[2017-09-15 18:26] benaadams commented on #14012
I do wonder what it will do for struct tests in generics e.g.

`if (default(T) == null)`
`if (default(T) != null)`

Where T is ArraySegment

[2017-09-15 18:34] AndyAyersMS commented on #13942
Thanks @janvorli. I was able to repro this locally on Ubuntu and have a fix out for PR.

[2017-09-15 18:41] benaadams commented on #14007
That version of clrjit does look like ti comes from the
.NET Framework September 2017 Security and Quality Rollup
`"Clrjit.dll","4.7.2110.0","1,129,112","01-Sep-2017","05:56","x64",`

[2017-09-15 18:46] kouvel opened #14017 "Thread pool - Fix a couple of things that were reverted"
Reverting PR: https://github.com/dotnet/coreclr/pull/14015

- Fix multiple thread requests per enqueued item (original change: 99db31c41d5057e08cc4701c79f11246b9191a9b)
- Fix excessive attempts to steal from other local queues (original change: fd91ee1fa23f35130f576c19dfaf35934dc2ce24)

[2017-09-15 18:50] kouvel commented on #13085
Closing, as there isn't a known benefit from this currently

[2017-09-15 18:50] #13085 closed

[2017-09-15 18:59] kouvel commented on #6476
I'm assuming @sdmaclea's fix had solved this, closing in favor of https://github.com/dotnet/coreclr/issues/14017 to complete the work

[2017-09-15 18:59] #6476 closed

[2017-09-15 19:04] kouvel commented on #7694
Closing in favor of https://github.com/dotnet/coreclr/issues/5310, which covers GCStress instruction update races

[2017-09-15 19:04] #7694 closed

[2017-09-15 19:06] kouvel commented on #7401
Closing, issue https://github.com/dotnet/coreclr/issues/13949 tracks investigating improvements to Monitor spinning on all platforms

[2017-09-15 19:06] #7401 closed

[2017-09-15 19:07] sdmaclea commented on #13917
@AndyAyersMS This does repro with `COMPlus_JitMinOpts=1`

[2017-09-15 19:10] kouvel commented on #6144
Closing in favor of https://github.com/dotnet/coreclr/issues/13949

[2017-09-15 19:10] #6144 closed

[2017-09-15 19:13] kouvel commented on #10944
Based on the above, it looks like there isn't anything to be done. Closing, please reactivate if I missed something.

[2017-09-15 19:21] jkotas commented on #10944
Roslyn tests are failing on CoreCLR because of this - https://github.com/dotnet/roslyn/issues/18411 . Don't we want to enable them?

Also, I do not think there was any intentional change between .NET Framework and .NET Core in this area. If the tests are passing on .NET Framework and failing on .NET Core, we should understand what changes at least.

[2017-09-15 19:24] kouvel commented on #10944
I see, ok

[2017-09-15 19:33] Maoni0 commented on #13983
Just to clarify - what I meant was to have YieldProcessorNormalized itself *not* request initialization at all; instead you just queue the work to the finalizer thread as part of the EE startup and whenever that's done YieldProcessorNormalized will start using the more optimized value computed. If this is the same as what you were thinking too that's great.

[2017-09-15 19:36] kouvel commented on #13983
Oh ok, no that's not what I was thinking. I guess that makes sense, with the GC using it, the initialization will pretty much have to happen at some point in early stages of the app, so there probably won't be much benefit from lazy-initializing based on use.

[2017-09-15 19:38] Maoni0 commented on #13983
Yep :-)

[2017-09-15 19:46] AndyAyersMS commented on #13917
In that case, can you or somebody on arm64-contrib investigate further?

The optimization added with the test should not fire in minopts. Possibly the non-default sized enums used in the test have uncovered some pre-existing issue in ARM64 codegen?

[2017-09-15 20:13] janvorli commented on #10007
@am11 I am planning to do that. I am currently finalizing the end to end Alpine support, so that will be a follow up step.

[2017-09-15 20:14] TimCurwick opened #14019 "TimeZoneInfo Now functionality"
TimeZoneInfo objects should have functionality to provide the current time in the time zone defined in the object. This would be similar to the DateTime and DateTimeOffset Now and UTCNow static properties, though of course not static. For consistency, this could be a property named Now.
Something like:
`public readonly DateTime Now {
    get {
        return ConvertTime( DateTime.UtcNow, this);

[2017-09-15 20:34] #13989 closed

[2017-09-15 21:06] AndyAyersMS opened #14022 "Potential CQ improvements in Dictionary<K,T>"
`Dictionary<K,T>` has some inefficient CQ in key inner loops, in part because the jit has to assume that calls to the comparer may side effect the dictionary itself. For instance in `FindEntry`'s search loop:
[code]
the jit must assume that both `comparer` and `entries` are modified by the call to `comparer.Equals`. This yields native code like the following:
[code]
So at `IG04`, the jit re-fetche

[2017-09-15 21:09] #13930 closed

[2017-09-15 21:09] #13942 closed

[2017-09-15 21:09] jkotas commented on #14022
I do not think you need to worry about this. It is unpredictable behavior.

[2017-09-15 21:09] stephentoub commented on #14022
I think it's an acceptable change.  Yes, it's technically breaking, but such could would be extremely brittle and terribly suspect.

[2017-09-15 21:20] mikedn commented on #14022
Nice, didn't notice that one before. FWIW I have a plan to get rid of the remaining 2 range checks.

[2017-09-15 21:45] sdmaclea commented on #13917
Looks like the issue is arm64 is using `emitTypeSize` when it should be using `emitActualTypeSize`.  The former should be used for memory operations, the latter for register operations.

[2017-09-15 21:46] sdmaclea commented on #13917
The assertion is on an and operation with byte size operands.

[2017-09-15 21:48] mikedn commented on #13917
Clear case of missing "actual type" somewhere :)

[2017-09-15 21:59] benaadams commented on #14022
A related item that may help with devirtualization is the default comparer can be a virtual type rather than an interface type?

e.g.
[code]

[code]

Note: default string comparer is a bit of a special case as it switches type in use.

[2017-09-15 22:10] MindyStivers commented on #14012
The generic tests you suggested work fine when T is an ArraySegment.  Perhaps worth noting that (although it's rather pointless) we can compare other value types == or != null without an exception.

[2017-09-15 22:56] briansull commented on #14007
This issue is fixed and the Windows Patch for RS2 (build 1703) went out this week on Tuesday
Other versions of Window 10 already had the fix, just RS2 (build 1703) was still waiting for this.

You can install the patch here:

http://www.catalog.update.microsoft.com/Search.aspx?q=KB4038788

I selected:

2017-09 Cumulative Update for Windows 10 Version 1703 for x64-based Systems (KB4038788)

It may

[2017-09-15 23:02] briansull commented on #14007
Note that the failure case prints:
("Wrong start: 1.1.2000...").

[2017-09-15 23:03] benaadams commented on #14007
Depends on locale

[2017-09-15 23:09] briansull commented on #14007
Actually I take it back this patch doesn't contain the fix:

[2017-09-15 23:10] benaadams commented on #14007
😢

[2017-09-15 23:24] AndyAyersMS commented on #14022
Will also need to look more closely at the case where key is a ref type -- the above helps it somewhat but the loop still looks overly complex (at least when prejitting). Possibly the helper call is killing too much. Also odd that the loop body ends up non-contiguous (in both before & after).
[code]
Seems like the helper call should be hoistable

[2017-09-16 00:15] AndyAyersMS commented on #14022
Have added caching to `FindEntry`, `TryInsert`, and both flavors of `Remove`. Diffs not always as good as they should be; seeing what look like unnecessary spills, shuffles, and poor instruction selection. For instance:
[code]
`r11` was a poor choice for `&entries[i]` and forces a spill/reload. The compiler can form `inc [mem+disp]` but seems to choose not to here. The allocator could have avoided

[2017-09-16 00:20] AndyAyersMS commented on #14022
Changes in case anyone else is interested in poking at this: [master...AndyAyersMS:DictionaryHacks](https://github.com/dotnet/coreclr/compare/master...AndyAyersMS:DictionaryHacks?expand=1)

[2017-09-16 01:32] AndyAyersMS commented on #14022
Null check comes from this bit of code in lower.cpp:
[code]
Seems like the kind of thing that should be set in the importer rather than implied by the call type, so that if it ever gets cleared we actually know it's not needed. As things are now the non-null assertion from the initial comparer call doesn't propagate here because assertion prop thinks this subsequent call doesn't need a null check.

[2017-09-16 02:42] joefeser commented on #9055
@markrendle Did you try what @gkhanna79 mentioned?

[2017-09-16 06:58] jkotas commented on #14022
This is not accurate statement. There is nothing special about x64 that makes this hard. We have it for every other platform. It should be a matter of copying `AdjustContextForVirtualStub` and adjusting it to shape of the VSD stubs or adjusting the code of VSD stubs to match `AdjustContextForVirtualStub`.

[2017-09-16 07:36] mikedn commented on #13501
Hint hint... I'm happy to make the necessary code changes provided that a decision is taken...

[2017-09-16 09:11] mikedn commented on #2634
Reposting the original example (with updated assembly) to make this easier to read.

[code]
generates
[code]

[2017-09-16 09:27] mikedn commented on #2634
A few more things I noticed since creating (or didn't mention in) the original issue:
* It's not visible in the assembly code now but loop cloning produces compares with mixed operand types (e.g. `RELOP(int, long)`). This requires special casing in `LowerCompare`.
* Loop selection code doesn't use short circuit evaluation - `length < src.Length & length < dst.Length` instead of `length < src.Lengt

[2017-09-16 09:29] mikedn commented on #2634
cc @AndyAyersMS You asked about the loop cloning issue, I added a few notes.

[2017-09-16 19:39] mikedn commented on #13150
This is more complicated than it seems. What we have now in morph can't be easily moved to lower, it interferes poorly with address mode formation and results in significant regressions.
Consider:
[code]
This generates:
[code]
* The initial code contains two `MUL(x, 12)`
* Morph changes these to `MUL(MUL(x, 3), 4)`
* CSE picks up `MUL(x, 3)` and we now have `STORE(cse0, MUL(x, 3))` and two `MUL(LC

[2017-09-16 20:22] JosephTremoulet commented on #13150
Ok. Thanks for digging in.

[2017-09-16 20:22] #13150 closed

[2017-09-17 05:43] benaadams commented on #14022
Since the C# team don't seem to be keen on in function constraints https://github.com/dotnet/csharplang/issues/905

I thought I'd try a horror approach to get no virtual calls for default comparer and the BCL valuetype primitives [master...benaadams:dictionary](https://github.com/dotnet/coreclr/compare/master...benaadams:dictionary?expand=1)

FindEntry for a long key doesn't look too bad..?
[code]

[2017-09-17 06:35] benaadams commented on #14022
Previously
[code]

[2017-09-17 13:04] mikedn opened #14028 "SIMD related assert in gtFoldExprCompare"
[code]
Assert
[code]

[2017-09-17 16:30] benaadams commented on #14022
As in-function constraints don't currently exist https://github.com/dotnet/csharplang/issues/905

Using the pattern that Vector uses
[code]

to get no virtual calls for default comparer and the BCL valuetype primitives [master...benaadams:dictionary](https://github.com/dotnet/coreclr/compare/master...benaadams:dictionary?expand=1); won't apply to generic structs though.

FindEntry for a char key d

[2017-09-17 17:54] benaadams commented on #14022
TIL: You break dictionary, you break every single test :)

[2017-09-17 18:41] eiriktsarpalis commented on #2715
No point in keeping this issue open then.

[2017-09-17 18:41] #2715 closed

[2017-09-17 21:17] AndyAyersMS commented on #14022
Been looking for a good set of perf tests. The ones from CoreFX are a plausible starting point but they may be too noisy to use in low-level CQ tuning.  Need to play around with them some more.

On that note, consecutive integer keys are probably best-case for collision avoidance. Would be nice to have test inputs that produce "representative" collision chains, if such a thing can be defined.

ben

[2017-09-17 21:50] benaadams commented on #14022
VSD looks like a double call for monomorphic sites and could be reduced to a single call? https://github.com/dotnet/coreclr/issues/8819
(Though this is just an armchair opinion)

[2017-09-17 22:36] jnm2 commented on #1376
https://www.ecma-international.org/publications/files/ECMA-ST/ECMA-335.pdf, page 27:

Doesn't that explicitly exclude `bool` and `char` and include `IntPtr` and `UIntPtr`?

[2017-09-17 22:42] jnm2 commented on #1376
Nope, never mind. Found page 168.

[2017-09-18 00:10] parjong opened #14031 "[ARM/Linux] Segmentation fault inside SIGSEGV signal handler"
We often see the following segmentation fault in ARM/Linux:
[code]

I could reproduce this issue with the following code:
 - Program.cs
[code]
 - native.c
[code]

The issue itself comes from native code, but coredump debugging would be much easier if CLR's signal handler does not crash for this case.

[2017-09-18 00:30] sam-piper opened #14033 "Recursive resource lookup failure in Kestrel server app for .NET Core 2.0"
We've recently ported our ASP.NET Core 2.0 application running on .NET Framework 4.7 to use .NET Core 2.0, and we are seeing critical failures in our Kestrel logs now, like this:

[code]

We are using en-AU as our default culture.

This stack trace appears to identify a known issue that has been resolved but not released ([dotnet/coreclr/issues/12668](https://github.com/dotnet/coreclr/issues/12668

[2017-09-18 00:32] Rattenkrieg commented on #12586
I've started looking at that, and seems issuing redundant `FlushInstructionCache` calls is a broader problem and was present before #12563

Here are traces taken during `EEStartup` phase (CORECLR_CONCURRENT_GC=1; CORECLR_SERVER_GC=0; Win10 x64):

[code]

So prior `adjust_ephemeral_limits()` instruction cache was already flushed twice - first call to [UpdateWriteWatchAndCardTableLocations](https://

[2017-09-18 03:51] hqueue commented on #13730
Unfortunately I can't reproduce this on Linux, because these tests are excluded for non-Windows system at [testsUnsupportedOutsideWindows.txt](https://github.com/dotnet/coreclr/blob/master/tests/testsUnsupportedOutsideWindows.txt)

[2017-09-18 04:03] hqueue commented on #13746
This test is passed  with recent commit cd6b92a94e1 on a following environment.
[code]

[2017-09-18 04:12] hqueue commented on #13750
I've repro this assertion on Rasperry Pi (ubuntu 16.04).

I will take a look at this.

[2017-09-18 04:31] #13422 closed

[2017-09-18 04:31] wateret commented on #13393
Fixed.

[2017-09-18 04:31] #13393 closed

[2017-09-18 06:23] Jiayili1 commented on #13740
still failed: https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170918.01/workItem/JIT.Methodical.XUnitWrapper

[2017-09-18 06:25] dotnet-mc-bot opened #14034 "Test failure: JIT_Performance._CodeQuality_BenchmarksGame_k_nucleotide_k_nucleotide_1_k_nucleotide_1_/_CodeQuality_BenchmarksGame_k_nucleotide_k_nucleotide_1_k_nucleotide_1_cmd"
Opened on behalf of @Jiayili1

The test `JIT_Performance._CodeQuality_BenchmarksGame_k_nucleotide_k_nucleotide_1_k_nucleotide_1_/_CodeQuality_BenchmarksGame_k_nucleotide_k_nucleotide_1_k_nucleotide_1_cmd` has failed.

    Unhandled Exception: System.Exception: Unable to find input file knucleotide-input.txt.  Tried /Users/dotnet-bot/dotnetbuild/work/9d693c07-6efa-40e0-8ed4-3dd0dec36ed5/Payload/../

[2017-09-18 06:30] Jiayili1 commented on #14034
failed tests:
JIT_Performance._CodeQuality_BenchmarksGame_k_nucleotide_k_nucleotide_1_k_nucleotide_1_/_CodeQuality_BenchmarksGame_k_nucleotide_k_nucleotide_1_k_nucleotide_1_cmd
JIT_Performance._CodeQuality_BenchmarksGame_k_nucleotide_k_nucleotide_9_k_nucleotide_9_/_CodeQuality_BenchmarksGame_k_nucleotide_k_nucleotide_9_k_nucleotide_9_cmd
JIT_Performance._CodeQuality_BenchmarksGame_regex_redux_rege

[2017-09-18 06:36] Jiayili1 commented on #14034
This issue is also repro in Ready-To-Run tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fr2r~2Fcli~2F/build/20170918.01/workItem/JIT.Performance.XUnitWrapper

[2017-09-18 08:07] wateret opened #14035 "Improve concurrency of `runtest.sh`"
Our unix test script `runtest.sh` runs TCs in parallel. However it looks a little inefficient for some scenarios.

For example, the script decides to run 4 processes concurrently. Then it starts first 4 tests. Let's number them 0 to 3. It waits for process 0. So if process 0 is long running but 1, 2 and 3 are not, process 0 could be a bottleneck. Even if 1, 2 and 3 are finished the script cannot r

[2017-09-18 08:17] wateret commented on #14008
The regression has been introduced since #13715 landed.

[2017-09-18 08:22] hseok-oh commented on #13760
@BruceForstall I'll check this issue

[2017-09-18 08:48] alexwiese opened #14037 "Environment.FailFast not capturing message and exception details to Windows Event Log"
**Runtime Environment**
 OS Name:     Windows
 OS Version:  10.0.14393
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.0.0\

Microsoft .NET Core Shared Framework Host
  Version  : 2.0.0
  Build    : e8b8861ac7faf042c87a5c2f9f2d04c98b69f28d

**Repro**

        private static void Main(string[] args)
        {
            Environment.FailFast("Something bad

[2017-09-18 09:42] wateret commented on #14008
cc: @dotnet/arm32-contrib

[2017-09-18 10:36] wateret commented on #14008
JITd Code in `Main()`, calling to `DblAdd()`

[code]

[2017-09-18 12:06] pgodeq commented on #13947
Works for me now with the current sources. Not sure what fixed this.

[2017-09-18 12:06] #13947 closed

[2017-09-18 12:20] poizan42 commented on #13900
I reported this to the windbg team back in february last year, it's because dbgeng.dll fails to realise that the currently loaded sos version is the correct one, so sos gets reinitialized, Andy Luhrs said they had filed and issue internally. Here is my original report:

If I
1. Make a dump of a process (doesn't matter whether it's x86 or x64) running my currently installed .NET version (4.6.1 on W

[2017-09-18 12:21] janvorli commented on #14037
@jkotas I have briefly looked into it and it seems we have logging into event log disabled for CoreCLR. See the `BOOL ShouldLogInEventLog()`, it always returns `FALSE` for FEATURE_CORESYSTEM. Do you know if it is intentional?

[2017-09-18 15:27] logankp opened #14038 "Allow opening Unix file descriptors"
I'd like the ability to open raw file descriptors from .Net for reading/writing. This is useful in the case of [systemd socket activation](http://0pointer.de/blog/projects/socket-activation.html). If opening file descriptors isn't possible, maybe allow opening` /proc/self/fd/n`.  Currently, trying to open a socket from `/proc/self/fd` results in an IOException.

[2017-09-18 15:38] #13862 closed

[2017-09-18 15:40] #13864 closed

[2017-09-18 15:50] stephentoub commented on #14038
You can get a stream for an arbitrary file descriptor using SafeFileHandle and FileStream, e.g.
[code]

[2017-09-18 15:58] jashook commented on #11305
I hit this issue as well. Work around fixed the issue thank you @briansull

[2017-09-18 16:08] mikedn commented on #13784
@sdmaclea FYI I'm considering changing a bit the implementation of this optimization so that most of the code is in `LowerCompare` and shared between ARM and XARCH. See #14027 (second commit)

[2017-09-18 16:13] sdmaclea commented on #13784
I have a draft of this optimization already.  I am trying to figure out why the original motivation is not supported.

It does seem like this belong in LowerCompare and not contain check.

[2017-09-18 16:17] logankp commented on #14038
Alright now I feel stupid. I tried that last night but must have done something wrong because testing it again worked just fine.

[2017-09-18 16:17] #14038 closed

[2017-09-18 16:21] mikedn commented on #13784
Hmm?

Yes, my opinion as well. It's a long story, this code was changed a few times and the flags thing is IMO still a bit of a hack.

[2017-09-18 16:29] BruceForstall commented on #13758
@wtgodbe It looks like this is still a problem. Can you please take a look? This regression prevents doing both x86 and arm builds/layouts on the same enlistment, which I need to do frequently.

cc @dotnet/jit-contrib

[2017-09-18 16:34] sdmaclea commented on #13784
[code]

The substitution is not happening because the `n != 0` looks like `GT_NE(LCL_VAR, 0)`.  Presumably this is a register allocator issue.  Since `n` is accessed in the only basic block within a loop, I would have assumed it would be promoted to a register first.

[2017-09-18 16:51] sdmaclea commented on #13784
Looks like the XARCH hack is much cleaner than the ARM hack.  I was pleased how simple the change was for ARM64.

I wonder whether LSRA should be allocating the condition register.  This would affect the decision whether the Flags are in advance or delayed and set by the JUMP condition op (GT_NE et al.), or not at all (`cbz`, `cbnz`, `tbz`, `tbnz`).

[2017-09-18 17:09] mikedn commented on #13758
This impacts my workflow as well. I looked into having separate `obj` subfolders for each architecture, like we have in other projects, but I couldn't get things to work.

[2017-09-18 17:11] sdmaclea opened #14040 "[Arm64/Unix] BenchmarksGame fannkuch-redux failing"
`JIT/Performance/CodeQuality/BenchmarksGame/fannkuch-redux/fannkuch-redux-5/fannkuch-redux-5.sh`

[code]

Probably related to #13994

[2017-09-18 17:13] sdmaclea commented on #14040
@JosephTremoulet @dotnet/arm64-contrib FYI

[2017-09-18 17:27] mikedn commented on #13784
AFAIR there were some discussions about handling the condition/flags register in the past. Not sure what the exact outcome was but it was in the "let's keep it simple" category. And at least on XARCH it would be rather strange to involve LSRA into this, there's a single flags registers and spilling/reloading it is not a reasonable option. So it's ultimately up to lowering (and even phases before i

[2017-09-18 17:29] mikedn commented on #13784
Eh, I was wondering about those recently. It seems to me that currently this cannot be represented accurately in IR, tbz/tbnz in particular.

[2017-09-18 17:42] stop-cran commented on #11305
I performed a search in registry of mentioned CLSID {3BFCEA48-620F-4B6B-81F7-B9AF75454C7D} and changed all paths for it on C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\msdia120.dll.

Before that this CLSID pointed to dll by inexistent path (maybe it was accidentally deleted).

After editing registry the error disappeared.

[2017-09-18 17:46] realvictorprm opened #14042 "[Feature Request] Consider supporting interop to Rust"
Hello fellow developers out there,
sorry for disturbing with such a crazy feature request.

The CLR technical seen has limitations regarding performance for certain circumstances. To solve such people often start using native languages like C and C++. Still though not all task must be done in such a language and so it's still common to use some .NET through the nice "interop".

However meanwhile o

[2017-09-18 18:06] BruceForstall commented on #14028
cc @dotnet/jit-contrib

[2017-09-18 18:13] BruceForstall commented on #13746
Interesting. It still fails for me on Windows.

[2017-09-18 18:30] svick commented on #14042
[It seems that if you declare a Rust function with `#[no_mangle] extern "C"`, you can then call it from C# using normal PInvoke.](https://stackoverflow.com/a/35639867/41071)

So, what exactly are you asking? That the CLR should understand Rust name mangling, so that you can call any Rust function from C#? Or something else?

[2017-09-18 18:32] realvictorprm commented on #14042
@svick yes this would be nice

According your link, I think this has some drawbacks.

[2017-09-18 18:34] wtgodbe commented on #13758
Sorry for the delay, I'll look into this today.

[2017-09-18 19:00] svick commented on #14042
It seems Rust does not have a defined ABI: https://github.com/rust-lang/rfcs/issues/600. So I don't think that would make sense.

[2017-09-18 19:10] jkotas commented on #14037
This was done for Windows Phone for some reason. I do not see a reason why it cannot be re-enabled for .NET Core.

Note that there are likely more changes required than just deleting this ifdef to make it work well. E.g. the `if (pThread->GetDomain()->IsDefaultDomain())` path in `DoReportForUnhandledException` should be deleted. Ideally, everything around CrossAppDomainMarshaledException would be

[2017-09-18 19:27] janvorli opened #14045 "Enable logging of Environment.FailFast into event log"
Currently logging the Environment.FailFast and the corresponding stack trace into the event log in .NET core is disabled. We should enable it. See #14037 for some details on what needs to be done.

[2017-09-18 20:19] sdmaclea commented on #13917
@jashook You can assign to me as I already created a PR.

[2017-09-18 20:35] realvictorprm commented on #14042
ok I agree @svick Let's close this as long as there isn't one

[2017-09-18 20:35] #14042 closed

[2017-09-18 20:41] tannergooding commented on #14042
.NET doesn't even support C++ name mangling today (or at least I don't think it does).

I think effort would be better spent on a simple tool (or analyzer) that converts unmanagled names to managled names for Rust (pretty sure these already exist for MSVC, GCC, and Clang).

Users can then just run said tool/analyzer before compilation and have things work.

[2017-09-18 20:43] realvictorprm commented on #14042
@tannergooding I'm currently experimenting with interop and very interested in combining languages :)

[2017-09-18 22:20] danmosemsft commented on #14034
@JosephTremoulet is this related to https://github.com/dotnet/coreclr/pull/13994?

[2017-09-18 23:36] #13706 closed

[2017-09-19 00:21] #7270 closed

[2017-09-19 01:24] jkotas commented on #6095
I have cleaned up a bunch of CAS related code. These bits are explicitly marked as unused now.

[2017-09-19 01:27] mikem8361 commented on #13900
We will try to include a fix to the desktop SOS for the next update or immediately after. We will create a desktop tracking issue.

Since this is fixed in coreclr would you mind closing this issue?

[2017-09-19 01:31] bendono commented on #13900
@mikem8361 The CoreCLR fixes this by working around the problem in dbgeng.dll. I imagine a similar workaround could be done for the full desktop, but has there been any consideration to fixing the actual problem in dbgeng.dll? I would think that addressing the real problem would be the better fix than a workaround.

[2017-09-19 01:50] poizan42 commented on #13900
@bendono Andy Lurhs (Program Manager for Debugging Tools for Windows) told me they had filed the issue as a bug, so I assume that means that they intend to fix it. However that was back in february last year and the issue is still present in the recent "WinDbg Preview", so it would seem that they consider it quite low priority.

[2017-09-19 03:54] pgavlin commented on #13784
FWIW, we now model "writes flags"/"reads flags" using `GTF_{SET,USE}_FLAGS`, respectively. The more complete model would involve representing and calculating liveness for the same (probably using flags on `BasicBlock` to indicate that the flags are live-{in,out}) and taking these flags into account during side-effect analysis.

[2017-09-19 04:05] JosephTremoulet commented on #14034
I take it this is a regression?  The error message above says:

    Unable to find input file knucleotide-input.txt.  Tried /Users/dotnet-bot/dotnetbuild/work/9d693c07-6efa-40e0-8ed4-3dd0dec36ed5/Payload/../../JIT/Performance/CodeQuality/BenchmarksGame/k-nucleotide/k-nucleotide-1/knucleotide-input.txt and /Users/dotnet-bot/dotnetbuild/work/9d693c07-6efa-40e0-8ed4-3dd0dec36ed5/Payload/knucleotide-i

[2017-09-19 05:21] jkotas commented on #14045
Why not use #14037 to track this fix?

[2017-09-19 07:02] hqueue commented on #13746
Is there any difference between `Windows/ARM` and `Linux/ARM` ABI, e.g. structure handling and etc. ?

Assertion seems to be related to arguments.
[code]

[2017-09-19 08:17] #14031 closed

[2017-09-19 08:23] janvorli commented on #14045
@jkotas hmm, I don't know now why I have created this separate issue. Makes sense to reuse the original reported one.

[2017-09-19 08:23] #14045 closed

[2017-09-19 12:52] tvass83 commented on #13900
Thank you all for the clarification and details provided. I close this issue as it can be considered fixed in coreclr.

[2017-09-19 12:52] #13900 closed

[2017-09-19 13:37] MkazemAkhgary opened #14060 "GC and locality of reference"
See https://github.com/dotnet/csharplang/issues/922#issuecomment-330535022 where proposal was original posted.

Arrays are allocated in memory contiguously. so unlike linked list, there is no pointer for each item of array. there is only one pointer for array, and rest of items are randomly accessible using indexer.

The reason why arrays are much faster than linked lists is because they are basic

[2017-09-19 14:13] BruceForstall commented on #13746
No, the ABI is the same. It will just need to be investigated.

[2017-09-19 15:07] sharwell commented on #14060
@benaadams @tannergooding I'd be interested in your take on this - in particular for additional cases where locality of reference types would be advantageous.

[2017-09-19 15:48] jkotas commented on #14060
The GC tend to keep objects allocated sequentially next to each other. If you have a data structure that suffers from a poor locality over time, you can recreate copy of it to regain its locality. It is not that different what GC would have to do to the same - it would also have to copy everything around, except that the GC would need to pause execution of all managed code to pull this off.

Teach

[2017-09-19 17:10] swgillespie commented on #14060
This would also be made difficult by the fact that the GC aggressively combines adjacent objects into "plugs" to reduce the number of distinct objects that need to be relocated (by merging them together into larger collections of objects). Breaking up plugs to respect locality attributes would be pretty devastating to the performance of the plan phase, not to mention the perf cost of trying to rec

[2017-09-19 17:58] benaadams commented on #14060
For allocating together and using together, locality is generally pretty good.

If you scatter allocate over time time then locality isn't so good. However getting the GC to defrag and work out priority order of something like a linked list would be pretty hard as it wouldn't understand what the correct order would mean in terms of the apps' specific algorithm - as well as the considerable added o

[2017-09-19 18:41] swgillespie commented on #13153
So the problem is that we have (yet another) cycle in the initialization dependency graph. The GC is initialized well before the profiling service and so by the time the profiling service turns off concurrent GC, it is too late since the GC has initialized already and cached the result of `EEConfig::GetGCconcurrent`.

The straightforward approach is to not cache `EEConfig::GetGCconcurrent`. This i

[2017-09-19 18:42] swgillespie commented on #13153
Another thought - is it possible that we could use TemporaryDisableConcurrentGC/TemporaryEnableConcurrentGC exclusively instead of relying on the current startup behavior? (e.g. not using SetGCconcurrent at all)

[2017-09-19 18:42] swgillespie commented on #13153
cc @sergiy-k

[2017-09-19 18:50] davmason commented on #13153
I don't have any strong opinions, as long as the profiler can disable concurrent GC. Is there going to be any difference in behavior between the two?

@noahfalk in case he has thoughts

[2017-09-19 18:56] swgillespie commented on #13153
According to Maoni (and looking at the code) we do check the status of `temp_disable_concurrent_p` in the GC whenever we need to figure out whether we can do a concurrent GC. At least from my perspective I don't think there should be a difference between disabling concurrent GC at startup vs. calling `TemporaryDisableConcurrentGC` on startup and never re-enabling it.

[2017-09-19 18:57] jbayardo opened #14064 "Weird failure returning three levels up the call stack"
Hi. While working on [RavenDB-6208](http://issues.hibernatingrhinos.com/issue/RavenDB-6208), I found a problem with this piece of code:

[code]

When we get to the `message.Headers.Add` line, the execution returns three levels in the call stack. Since I did not manage to isolate the issue, I have [created a branch with the necessary code to reproduce](https://github.com/jbayardo/ravendb/tree/Raven

[2017-09-19 19:00] fiigii opened #14065 "[RyuJIT] Change VEX-encoding selection to avoid AVX-SSE transition penalties"
Currently, RyuJIT generates AVX instructions (VEX-encoding) when AVX2 is available:
 - Floating-point calculations and SIMD code use VEX-encoding instructions on AVX2-capable machines (Haswell and above).
 - SIMD vectors (`System.Numerics.Vector<T>`) has the size of 256-bit (YMM) on AVX2-capable machines and size of 128-bit (XMM) on machines that support AVX (Sandy Bridge) or blow ISA.

However, w

[2017-09-19 19:22] danmosemsft commented on #14034
@JosephTremoulet not sure if you're asking me, but I don't know. Just finding an owner for the failure.

[2017-09-19 19:22] michaellandi opened #14066 "string.IndexOf not returning proper value when searching for a null character"
It appears that the behavior is different between the 2.0.0 linux runtime and the 2.0.0 windows runtime.

`"hello".IndexOf("\0")`

Windows: -1
Linux: 0

[2017-09-19 19:37] JosephTremoulet commented on #14034
@danmosemsft, not sure who I'm asking... @Jiayili1?

[2017-09-19 19:54] kouvel opened #14067 "Investigate changes to UnfairSemaphore spinning on ARM64 and tune as necessary"
Fix and enable CLRLifoSemaphore's new spinning scheme on ARM64 and retune as necessary such that one scheme works on all processors.

PR that added the new spinning scheme and disabled it on ARM64: https://github.com/dotnet/coreclr/pull/13921

[2017-09-19 20:01] #14040 closed

[2017-09-19 20:27] danmosemsft commented on #14034
@JosephTremoulet unfortunately we don't have a way to look at test history. (@jcagme tells me we'll imminently at least have a way to manually query a database). So I don't think anyone knows. If you can fix it however you think best, that would be great.

[2017-09-19 20:35] JosephTremoulet commented on #14034
@danmosemsft, ok. I'm happy to contribute a fix, but I don't understand where I'd need to be contributing it.  The test runs correctly with build.cmd and runtest.cmd/sh, the problem is that whatever test harness this is isn't copying a required input file to the appropriate output directory.  Can you tell me where is the code for this test harness?  Or is this consuming some sort of test package,

[2017-09-19 20:37] swgillespie commented on #13914
@KKhurin hmm, I'm having trouble reproing this. Can you run `!VerifyHeap` when you observe that sos reports that the heap may be corrupted? It may be the case that the heap *is* corrupted and sos is telling the truth.

[2017-09-19 20:38] danmosemsft commented on #14034
I see - ha, I know nothing about how tests run in coreclr repo. @wtgodbe could you help figure out who owns the code that should be copying this file?

[2017-09-19 20:46] wtgodbe commented on #14034
The problem is that https://github.com/dotnet/coreclr/blob/5e93665a0d9e2a5eaa07a73feb27eba0aa008f2c/tests/src/JIT/Performance/CodeQuality/BenchmarksGame/k-nucleotide/harness-helpers.cs#L41-L100 is looking for an input file relative to Core_Root, which doesn't work in Helix, because the directory structure isn't maintained there (Core_Root doesn't live next to the tests there). A fix similar to htt

[2017-09-19 20:54] #13984 closed

[2017-09-19 20:55] JosephTremoulet commented on #14034
@wtgodbe yes, it's exactly the issue of #9281, the tests have just been renamed, and they are still locked to netstandard1.4 so we still have the attendant issues that resulted in #9281 being closed and #9315 checked in to disable these tests in helix -- I missed the exclusion when renaming the tests.  I can submit a PR in the vein of #9315 presently...

[2017-09-19 20:58] wtgodbe commented on #14034
Yes, I think that's the right fix. Any idea when the tests can move away from netstandard1.4?

[2017-09-19 21:03] #13760 closed

[2017-09-19 21:08] JosephTremoulet commented on #14034
I'm not sure who can best answer that... @jorive or @lt72, maybe?

[2017-09-19 21:25] AndyAyersMS commented on #14034
@JosephTremoulet I thought you were poking at this not long ago.

Probably up to @RussKeldorph to sort out at this point. Russ, we should really look into updating our tests to target at least netstandard1.5.

Kind of sad we can't easily write tests that read input files.

[2017-09-19 21:39] JosephTremoulet commented on #14034
@AndyAyersMS I abandoned that when I couldn't get xunit-performance self-invocations working with it.  But if I remove the part where I tried to make that work, it just leaves https://github.com/JosephTremoulet/coreclr/commit/384f3aa63fcca1a8ffb044e51fe5aea37eebdd10, which is literally a search/replace for netstandard1.4 -> netstandard1.5 (plus the other spelling), and that might be enough for thi

[2017-09-19 21:49] DrewScoggins commented on #14034
There is not technical reason from the harness side that this cannot be upgraded to netstandard1.5. This is something that blocked us last time we wanted to do this, but that is no longer an issue.

[2017-09-19 22:14] BruceForstall commented on #8496
The coreclr CI system now supports testing RyuJIT/arm32 on Windows, as well as arm32 `LEGACY_BACKEND` on Windows. In the CI, RyuJIT/arm32 is now named "arm", and `LEGACY_BACKEND` arm32 JIT is named "armlb". There is one more job triggered with every change (for people on the ARM64 "white list"): "Windows_NT arm Cross Checked Build and Test".

With https://github.com/dotnet/coreclr/pull/14055, we c

[2017-09-19 22:41] noahfalk commented on #13153
I haven't checked the code, but just reading the thread I came to the same conclusion as @swgillespie ... we shouldn't need two different mechanisms to disable concurrent GC and if temp_disable_concurrent_p works we could simply standardize on it. Probably the reason we have two mechanisms now is historical.

FWIW I think the odds are reasonable that we could init profiling earlier and it would wo

[2017-09-19 23:08] kingces95 opened #14074 "VS 2017 Fails to Open AllTestProjects.sln"
Per the [Building and running tests on Windows](https://github.com/dotnet/coreclr/blob/master/Documentation/building/windows-test-instructions.md), I expected to be able to open `AllTestProjects.sln` in VS 2017. Actually, the load started, and may have "finished" but also failed with`dimensionValuesMap must contain at least one element` (and also `Unknown Hard Error` from `csrss.exe` according to

[2017-09-19 23:26] #14034 closed

[2017-09-19 23:58] swgillespie commented on #13914
Followed-up offline and SOS is correct, the heap is indeed corrupted in this case.

[2017-09-19 23:58] #13914 closed

[2017-09-20 00:28] ViktorHofer commented on #10199
[code]

These are currently missing and needed for saving compiled regexes to disk. (AppDomain.DefineDynamicAssembly is also missing)

[2017-09-20 01:00] ViktorHofer commented on #10199
@AtsushiKan would it be feasible to bring the above mentioned APIs back? I haven't yet looked at them so I don't know if there's a technical reason for not implementing them.

[2017-09-20 01:01] ygc369 opened #14076 "Cache miss problem after GC"
After GC, data in cpu cache might become invalid, so there would be a lot of cache misses, which would harm performance. Is there any way to solve this problem? Could GC "update" or "refresh" the cache data instead of making cache invalid? Is it possible to keep the cache data still valid after GC?

[2017-09-20 01:03] jkotas commented on #10199
Non-trivial. Reflection.Emit that saves to disk would need significant amount of work for .NET Core.

Yes, there is a technical reason: Reflection.Emit works against implementation assemblies. The assemblies that it would produce would reference S.P.CoreLib and other internal implementation assemblies that we do not maintain compatibility for.

[2017-09-20 01:12] hqueue commented on #13804
Not really. This issue tracks issues about RyuJIT/ARM32 CI which runs at runtime, not RyuJIT/ARM32 invoked from crossgen.
BTW  `crossgen` already works with existing legacy JIT backend.

[2017-09-20 01:24] ViktorHofer commented on #10199
Is this something we have planned for future or completely out of scope?

Thanks Jan!

[2017-09-20 01:26] hqueue commented on #13804
@BruceForstall all I see your comment at https://github.com/dotnet/coreclr/issues/8496#issuecomment-330689180.
I want to track ryujit CI issues here, what do you think of it?

And I have a question.  I found that there are two legs running, i.e.  `Windows_NT arm Cross Checked Build and Test` and `Windows_NT armlb Cross Checked Build and Test`. According to your comment(https://github.com/dotnet/co

[2017-09-20 01:30] jkotas commented on #10199
https://github.com/dotnet/corefx/issues/4491

[2017-09-20 01:32] xuliujian opened #14077 "Can not connect to remote Raspberry PI running Windows IoT over SSH by Visual Studio 2017"
When connecting to remote Raspberry PI running Windows IoT over SSH by Visual Studio 2017 (version 15.3.4), there is an error so that can not connect successfully.  The exception information such as:

`liblinux.ExceptionBase: Could not retrieve the system properties. Please see the inner exception for more details. ---> liblinux.Shell.CommandingException: Timed out executing command 'cat /etc/*-re

[2017-09-20 01:37] jkotas commented on #14076
This would hurt performance even more.

[2017-09-20 01:42] jkotas commented on #732
http://tooslowexception.com/zero-garbage-collector-for-net-core/ has an excellent walk-through on how to build a trivial GC replacement.

[2017-09-20 01:42] #732 closed

[2017-09-20 01:46] jkotas commented on #14060
Given the above discussion this is very unlikely to materialize in any form in .NET Core.

[2017-09-20 01:46] #14060 closed

[2017-09-20 07:11] #14076 closed

[2017-09-20 10:07] hseok-oh commented on #13761
On my environment, test `JIT\Generics\Fields\static_passing_struct01` passed.

And `readytorun\tests\mainv1` failed with different assertion
[code]

[2017-09-20 10:23] hseok-oh commented on #13738
I'll check this issue.

[2017-09-20 11:10] hqueue commented on #13761
I've repro this failuser as follows. I will take a look at this.

[code]

[2017-09-20 13:57] jkotas opened #14082 "[RyuJIT/arm32] Assertion failed 'opSize == 4 || opSize == 8' in lsraarm.cpp"
Compile and run:

[code]

[2017-09-20 13:58] jkotas commented on #14082
cc @dotnet/arm32-contrib

It is recent regression. It used to work last week.

[2017-09-20 14:07] jkotas commented on #14082
Likely introduced by #14018

cc @sdmaclea

[2017-09-20 14:12] qmfrederik opened #14084 "Marshal.PtrToStringUTF8 does not handle IntPtr.Zero"
Calling `Marshal.PtrToStringUTF8` with a value of `IntPtr.Zero` causes an access violation.
Calling the other `PtrToString*` variants return `null` in this case.

The offending code seems to be this line:
[code]

i.e. calling `strlen` on a possible null pointer.

[2017-09-20 14:25] qmfrederik commented on #14084
/cc @tijoytom

[2017-09-20 14:42] sdmaclea commented on #14082
The assertion may now be bogus.  #14018 removed a similar obsolete assertion for arm64.

[2017-09-20 15:41] karelz commented on #14066
That is unfortunate :( - do you know what is the behavior on "full" .NET Framework?
I assume you verified it differs only for null character and not for any character which is not part of the string, right?

@joperezr can you please take a look? It is something we might want to fix in servicing ...
cc @danmosemsft

[2017-09-20 16:07] hughbe commented on #14066
Could https://github.com/dotnet/coreclr/issues/2051 be related?

[2017-09-20 16:43] danmosemsft commented on #14066
@karelz .NET Framework returns -1. Note this overload is culture sensitive. The docs say,
[code]

This is consistent with `\0` being ignorable on Linux (at least in en-US) but not on Windows, as @tarekgh stated in #2051.

[2017-09-20 16:44] #14084 closed

[2017-09-20 16:53] tarekgh commented on #14066
Right, on Linux the null character has no sorting weight which on Windows it does. The sorting behavior depends on the OS. if you want to force IndexOf to not ignore the null character, you'll need to use the Ordinal operation and not the linguistic operation.

[2017-09-20 16:53] #14066 closed

[2017-09-20 17:29] swgillespie commented on #13153
Whoops... sorry!

Anyway, I was looking at the code this morning and I found at least one place in the GC that doesn't look at `temp_disable_concurrent_p` when reasoning about concurrent GC. I think it's easily fixable, though, so I'll fix it and give `TemporaryDisableConcurrentGC` a shot on the profiler tests.

[2017-09-20 17:40] swgillespie commented on #12586
@Rattenkrieg That sounds reasonable to me, it's true that we are flushing the icache twice unnecessarily. This would involve adding something like `GCToOSInterface::FlushInstructionCache`, or something like that, if I'm understanding you correctly (pushing the onus of icache flushing onto the caller, i.e. the GC).

At this point in development we are free to change the interfaces (we have not yet

[2017-09-20 17:47] jkotas commented on #12586
I do not think that this method belongs to the GC/EE or GC/OS inteface. The GC should not case whether the write barriers are implemented by code patching.

I think that the right way to solve this is to call `GCToEEInterface::StompWriteBarrier` just once during the GC initialization, only after the GC has figured out the desired write barrier geometry.

[2017-09-20 18:28] sdmaclea opened #14091 "[Windows Arm64] CI Trigger words should match job name to eliminate confusion"
The current trigger `@dotnet-bot test Windows_NT arm64 Checked` is confusing

@jashook

[2017-09-20 18:34] BruceForstall commented on #13804
@hqueue What are the specific ARM32 CI issues that need to be tracked? My preference would generally be to open individual issues for each specific issue, unless there are a large number of similar issues that should be tracked here, all together.

You are correct:

|job name|JIT|
|---|---|
|Windows_NT arm Cross Checked Build and Test|RyuJIT/arm32|
|Windows_NT armlb Cross Checked Build and Test|ar

[2017-09-20 18:35] #14082 closed

[2017-09-20 18:41] sdmaclea opened #14092 "[Arm64] Remove dead #defines INS_ADDC et. al."
`INS_ADDC` is only by codegenlegacy.cpp

In `compiler.h` there is a whole series of these defines for each platform.  Most platforms no longer support legacy codegen.

The list in `compiler.h` should be audited and cleaned up.

[2017-09-20 18:48] sdmaclea opened #14093 "Design and document use of GTF_SET_FLAGS/GTF_USE_FLAGS in RyuJit"
`gentree.h` defines these flags as

[code]

Some of the issues :
+ The current design for these flags is poorly documented.
+ `GTF_SET_FLAGS` is not set on all nodes which codegen requires set the flags
+ `GTF_USE_FLAGS` is not set on all nodes which consume the flags

[2017-09-20 18:50] kingces95 commented on #14074
I'd guess active developers use the command line so it may be easier to simply not support the solution. In which case, we just pull that bit from the documentation.

[2017-09-20 18:52] sdmaclea commented on #14093
See some of the discussion in #14041

[2017-09-20 18:52] sdmaclea commented on #14093
@dotnet/jit-contrib

[2017-09-20 18:52] mikedn commented on #14074
A solution containing 1646 projects? You're brave if you attempted to load that. I never dared.

[2017-09-20 18:53] JensNordenbro commented on #13804
@hqueue ; So the reason I ask is that today I run asp.net core in a couple of different ways on Yocto Linux-ARM.
Regardless if I use

- The tar.gz files provided at core-setup readme.md.
- Tragetaschen repo
- SCD on Linux arm-rid

.. I get slow startup performance. Once up and running it felt ok so that made me assue JITing was the culprit.

In neither solution, mentioned above, I can find neither

[2017-09-20 18:54] mikedn commented on #14093
Note that if #14027 goes ahead a lot of that discussion will be superfluous.

[2017-09-20 18:56] kingces95 commented on #14074
Yep, I was a bit surprised to see that suggested in the documentation. So I thought I'd give it a try.

I understand that there's probably no market value to enabling that scenario. That said, seems a shame that the premier vehicle for developing CorClr apps and libraries cannot dogfood itself.

It's probably just that the tests were developed before VS was baked and there's no point in aggregatin

[2017-09-20 19:16] mikedn commented on #14074
And it's likely that the actual number of test projects is much higher, there are 7527 .csproj files in the tests\src directory. That solution file is never updated when new tests are added.

Not only that there are lots of tests but the .csproj files aren't necessarily "standard" VS project files. They may contain customizations that make VS barf.

Note that once you build the tests you may be ab

[2017-09-20 19:34] #13758 closed

[2017-09-20 19:34] wtgodbe commented on #13758
I believe this should be resolved by https://github.com/dotnet/coreclr/issues/14048, @BruceForstall if you're still having issues feel free to reopen this & ping me

[2017-09-20 19:38] jkotas commented on #14064
cc @lt72

[2017-09-20 19:55] joshfree opened #14097 "BadImageFormatException with Span<T> with xUnit.net"
Migrated from https://github.com/dotnet/corefx/issues/24135 on behalf of @lextm

https://github.com/xunit/xunit/issues/1457#issuecomment-330546584

[2017-09-20 20:37] swgillespie commented on #13153
Hmm, this is unfortunately not going to be as straightforward as I'd hoped. There are a number of code paths that only check `gc_can_use_concurrent` (obtained from config only and not influenced by `temp_disable_concurrent_p` so there will be different code paths taken if we only use `TemporaryDisableConcurrentGC`. Maoni is OOF for the week but I think we'll need her thoughts from a GC perspective

[2017-09-20 21:04] jbayardo commented on #14064
Just for completeness, I don't think this has anything to do with the debugger doing anything wrong: I added a few printlns which should have executed if the function did not have that behavior, and they did not print at all.

[2017-09-20 21:23] #12614 closed

[2017-09-20 21:26] wtgodbe opened #14098 "Remove /p:OverwriteOnPublish from pipebuild definitions"
We're currently passing /p:OverwriteOnPublish to invocations of publish-packages in CoreCLR. We should instead move to only publish identity packages from Windows x64 builds (currently each build uploads identity packages, and the last one "wins).

[2017-09-20 21:36] noahfalk commented on #13153
Happy to wait until she gets back. As far as I know from the profiler perspective disabling concurrent GC on attach is intended to be as effective as disabling it up-front. If some of the code paths aren't honoring the disable on attach mechanism that might represent bugs in the attach case that need to be fixed.

[2017-09-20 21:44] BruceForstall commented on #14092
ARM and x86 still build for LEGACY_BACKEND, so it's only ARM64 that can be cleaned up (since x86 and x64 share the defines; unless we split them). At some point (not sure how soon) we might be able to remove `LEGACY_BACKEND` entirely, in which there will be massive opportunities for cleanups.

[2017-09-20 21:55] sdmaclea opened #14100 "[Arm] Implement inst_SET and cleanup"
Implement inst_SET
Use in `genCodeForSetcc()` and `genSetRegToCond()` to cleanup

@dotnet/arm32-contrib

[2017-09-20 21:56] BruceForstall commented on #14091
I agree (I fixed ARM/ARMLB). The fix is here: https://github.com/dotnet/coreclr/blob/155728da699955a5fdc36ac394be68114bd53689/netci.groovy#L1234-L1303

[2017-09-20 22:03] sdmaclea commented on #14092
OK  The group should probably be in a `#ifdef LEGACY_BACKEND`

[2017-09-20 23:14] jcouv opened #14103 "System.ValueTuple causes a StackOverflow when used in a large Dictionary."
@andras-ferencz commented on [Tue Feb 28 2017](https://github.com/dotnet/roslyn/issues/17455)

When using the new System.ValueTuple in a large Dictionary, I receive a stack overflow exception where as I do not with System.Tuple.

`Dictionary<int, (double lat, double lon)> zipcodes = new Dictionary<int, (double lat, double lon)>() {{123,(18.180555,-66.749961)} };` works fine just for reference.

[g

[2017-09-20 23:15] sdmaclea opened #14104 "[Arm64] JIT NYI questions"
These codegen nodes are not implemented in Arm64
`GT_LOCKADD`, `GT_XCHG`, `GT_XADD`, `GT_CMPXCHG`, `GT_CLS_VAR_ADDR`.

+ Should they be?
+ Would it be beneficial?
+ Why are they not triggering a NYI related assert?  What is disabled?

@dotnet/jit-contrib @dotnet/arm64-contrib

[2017-09-20 23:17] sdmaclea commented on #14104
It looks like 1 of 3 places `SetOper(GT_CLS_VAR_ADDR)` is called is disabled in rationalize.

[2017-09-20 23:29] sdmaclea commented on #14104
`// TODO-ARM-CQ: reenable treating Interlocked operation as intrinsic`
`// TODO-ARM-CQ: reenable treating InterlockedCmpXchg32 operation as intrinsic`
 in `importer.cpp`

[2017-09-20 23:31] sdmaclea commented on #14104
I guess I have answered the questions related to Interlocked operation intrinsics.

I do not have a clear answers on `GT_CLS_VAR_ADDR`.

[2017-09-20 23:32] sdmaclea opened #14106 "[Arm64] Implement and enable GT_LOCKADD, GT_XCHG, GT_XADD, GT_CMPXCHG"
See #14104

[2017-09-20 23:35] sdmaclea commented on #14106
Related to #11881

[2017-09-20 23:36] jkotas commented on #14103
cc @dotnet/jit-contrib

There are number of IL constructs that require the JIT to create temporary locals. maxstack is a poor  approximation of an actual stack consumption of a method.

The JIT turns off optimizations for very large methods like this one to get them the compile in a reasonable amount of time. And when the optimizations are off, there is no lifetime tracking for locals and each of

[2017-09-20 23:53] lt72 commented on #14064
@noahfalk : could you help route this one appropriately?

[2017-09-21 00:30] AndyAyersMS commented on #6688
Am going to start in on this.

[2017-09-21 00:44] rartemev commented on #13740
@Jiayili1
How can I get this file?

[2017-09-21 02:45] noahfalk commented on #14064
Hi @jbayardo, thanks for making that nice video. I reproduced your issue and the reason you see you see that unexpected jump is due to your code throwing an exception combined with implicit exception handling that is occuring with C# compiler's implementation of async methods. The runtime behavior appears to all be by-design, but I'm pulling in @gregg-miskelly who may want to look at the user expe

[2017-09-21 05:01] mikedn commented on #14103
For completeness, the compiled version of such a method requires ~1.3 megabytes of stack.

[2017-09-21 05:07] hqueue commented on #13804
@BruceForstall  I also agree. Than I think we can close this issue, because I wanted to discuss enabling RyuJIT/ARM32 CI here. And now `Windows_NT arm Cross Checked Build and Test` is enabled.

I asked this question because I want to see exact options when building and running tests.  But unfortunately, it's not available.

Then can you share us a full set of `COMPlus` options used for `Windows_NT

[2017-09-21 05:11] lakeman commented on #14037
Related problem, Environment.FailFast(System.String, System.Exception) is logging the message, but not the details of the exception.

This is making it impossible to diagnose the cause of my frequent restarts within IIS.

[2017-09-21 05:14] hqueue commented on #13804
@JensNordenbro Right. Startup performance in arm is somewhat slow now and `crossgen` can improve the startup performance. Becuase crossgen is not fully brought up yet, it is not enabled by default for ARM32 now. We are now working on crossgen in arm32 and I think we can open new issue discussing start up performance of arm32 if you want. You can find out issues and PR regarding arm32 crossgen at h

[2017-09-21 07:21] AndyAyersMS commented on #6688
I have this partially working now, see [master...AndyAyersMS:EqualityComparerDefault](https://github.com/dotnet/coreclr/compare/master...AndyAyersMS:EqualityComparerDefault)
For
[code]
we now get the following code
[code]
instead of
[code]
This uses an explicit expansion of `Equals` by the jit when `T` is a simple integer type. It would be cleaner if the jit could determine what class `Default` ex

[2017-09-21 08:32] ayende commented on #14064
@noahfalk thanks for the clear explanation, this make a lot of sense, and I guess it would generally not be an issue since someone would very quickly `await` on this task. However, IIRC, we _are_ waiting on this task very quickly afterward,  in this method:
https://github.com/jbayardo/ravendb/blob/RavenDB-6208-codegen/src/Raven.Client/Http/RequestExecutor.cs#L526

So the question here is why aren'

[2017-09-21 08:38] jkotas commented on #6688
Yes. .NET Native has some code for it - it is probably not 100% reusable for RyuJIT, but bits and pieces may be. As you have said, the basic idea is that the virtual comparer gets replaced by a concrete one - like https://github.com/dotnet/corert/blob/280f6a0e29954d31c94263d6137d215ca71282fd/src/System.Private.CoreLib/src/Internal/IntrinsicSupport/EqualityComparerHelpers.cs#L155.

[2017-09-21 10:16] janvorli commented on #13689
@brianrob I am still hitting this issue  when building / testing cli repo, now also in CentOS 6 docker container running on the Ubuntu 14.04 where I was hitting it originally. Have you made any progress fixing it?

[2017-09-21 10:27] noahfalk commented on #14064
I'm not sure I follow you. What I observe after the exception is thrown and then I hit 'step over' (F10) is that the debugger stops at:
https://github.com/jbayardo/ravendb/blob/RavenDB-6208-codegen/src/Raven.Client/Http/RequestExecutor.cs#L309

This is just after the method you indicated has already returned. From here further steps take me to:
https://github.com/jbayardo/ravendb/blob/RavenDB-6208

[2017-09-21 11:40] wateret commented on #14008
It looks like the problem is incorrect RefPosition's preferences.
The TC is `JIT.CodeGenBringUpTests.DblAdd.DblAdd` and the problematic method is `Main` when it calls to `DblAdd(double, double)` and there must be incorrect codegen with passing argument regester of double type.

Before

[code]

Now

[code]

This causes Interval 11 can assign either r2 or r3 and so is Interval 12. But by calling con

[2017-09-21 11:44] wateret commented on #14008
@CarolEidt Do you have any idea on this? I think GT_PUTARG_REG and GT_COPY nodes relationship matters here. FYI I attach the full JitDump of Main function.
[dbladd_main_now.txt](https://github.com/dotnet/coreclr/files/1320991/dbladd_main_now.txt)
[dbladd_main_before.txt](https://github.com/dotnet/coreclr/files/1320992/dbladd_main_before.txt)

[2017-09-21 12:27] JensNordenbro commented on #13804
I think this is worth an issue of its own; Today it is hard to decide on doing ARM stuff on .NET Core until this is resolved.

[2017-09-21 12:58] gkeongit opened #14110 "COR_E_FAILFAST when accessing assembly with derived interface"
Accessing the Assembly.ExportedTypes terminates the application with COR_E_FAILFAST, if the loaded assembly contains an interface, which derives from an interface in another assembly.

This happens only in a .NET Core 2.0 Console App. The same assemblies do not cause the termination in a .NET Framework Console App. I am running the application from VS 2017 15.3.4 debugger.

**Example**

First asse

[2017-09-21 13:45] Ettery commented on #13292
How does the GC view the machine specs when running in a Docker container? Does every run-time think it has use of all the host resources? I ask because I'm running a number of simple APIs (microservices) on Docker on Ubuntu (ASP.NET Core 1.1.2), and each container is consuming 500-900 Mb of memory. It's not a powerful server - 16Gb/4 cores at the moment. CPU usage is under 5% but I'm hitting memo

[2017-09-21 14:39] CarolEidt commented on #14008
I will need to look at this in more detail, but I see that the `GT_COPY` nodes are still being used; I think that these should now be changed to `GT_BITCAST`. However, that is probably unrelated to this particular issue.

[2017-09-21 15:49] #12764 closed

[2017-09-21 15:56] jkotas commented on #14110
Likely duplicate of https://github.com/dotnet/coreclr/issues/12668. It should be fixed in .NET Core 2.0.1 update.

[2017-09-21 15:59] janvorli commented on #13292
@Ettery .NET core reads process memory limits from the corresponding cgroups, but there was a bug that caused it to not to work properly in docker. This bug is fixed in the upcoming 2.0.2 release and as an addition, CPU count limits will be honored too.

[2017-09-21 16:18] sdmaclea opened #14111 "[ARM64/Unix] 100% Failures on tip"
Tested ce196970fa

Investigating.

[2017-09-21 16:22] sdmaclea commented on #14111
~/coreoverlay/corerun DevDiv_278372.exe

[code]

[2017-09-21 16:29] sdmaclea commented on #14111
Last known good 360926961

[2017-09-21 16:31] RussKeldorph commented on #14100
@dotnet/jit-contrib

[2017-09-21 17:23] sdmaclea commented on #14111
@BruceForstall @hqueue Looks like this was introduced by #13541

[2017-09-21 17:26] sdmaclea commented on #14111
git bisect log
[code]

[2017-09-21 17:35] sdmaclea commented on #14111
Hmmm.  I do not see anything wrong with that commit.

[2017-09-21 17:39] sdmaclea commented on #14111
I did see a similar issue while testing a PR on tip last night, but when I looked at the tip w/o the PR the issue was resolved.  Retest with PR the issue was also resolved. :question:

[2017-09-21 17:47] sdmaclea opened #14112 "[Arm64] Implement IsCallTargetInRange correctly"
`
TODO-ARM64-CQ:  This is a workaround to unblock the JIT from getting calls working
`

https://github.com/dotnet/coreclr/blob/master/src/jit/lowerarmarch.cpp#L38-L54

[2017-09-21 18:03] Ettery commented on #13292
@janvorli - Interesting, thank you!  Look forward to that.  Meantime `<ServerGarbageCollection>false</ServerGarbageCollection>` seems to be working for me, I don't have high concurrency at the moment.

[2017-09-21 18:16] sdmaclea opened #14113 "[Arm64] Review/revise code in genAllocLclFrame"
[code]

Will this cause codegen on 64K page machine to fail to probe correctly on a 4K page machine?
`const size_t pageSize = compiler->eeGetPageSize();`

`if (frameSize >= 0x2000)` Magic number should be pageSize*2

category:implementation
theme:basic-cq
skill-level:intermediate
cost:small

[2017-09-21 19:03] sdmaclea opened #14114 "[Arm64] Review/implement cost estimates in gtSetEvalOrder"
`
// TODO-ARM64-NYI: Need cost estimates
`

Other places code seems incomplete or missing.

[2017-09-21 19:12] sdmaclea opened #14115 "[Arm64] GT_INTRINSIC // TODO-ARM64-NYI"
[code]

Set could include these (possibly more)
[code]

[2017-09-21 19:37] mikedn opened #14116 "emitOutputLong asserts due to incorrect early propagation of negative array length"
IL example:
[code]
Assert:
[code]
Generated code:
[code]
It seems that there aren't any other ill side effects beyond the assert.

This happens because EarlyProp preserves the type of the array length node (always `TYP_INT`) but changes it to `GT_CNS_INT` and sets its value to the array length. In this case the array length has type  `TYP_LONG` and has a value that is negative and cannot be repres

[2017-09-21 19:47] danmosemsft commented on #14033
@tarekgh any idea why `new ArgumentException()` might not work? Another customer was successful with that workaround.

[2017-09-21 20:43] tarekgh commented on #14033
I think what makes this workaround work is setting the CurrentUICulture to en-US. The problem happens when having a different culture and trying to load a satellite assembly for this culture.

@kouvel already fixed this issue in the release/2.0.0 branch. is it possible to use the packages built from this branch?

[2017-09-21 20:45] #14092 closed

[2017-09-21 20:46] RussKeldorph commented on #14034
@DrewScoggins, do we have an issue tracking moving forward to 1.5, or should we create one?

[2017-09-21 20:46] sdmaclea commented on #14092
Fixed by #14107

[2017-09-21 21:00] RussKeldorph commented on #14111
@dotnet/arm64-contrib

[2017-09-21 21:34] sdmaclea commented on #14111
Reconfirmed 360926961 is passing

[2017-09-21 21:45] sdmaclea commented on #14115
@russellhadley @jkotas I just looked at XARCH code and most of these are not supported yet there either.  Is this something which is no longer recommended with new style intrinsics?

[2017-09-21 21:51] jkotas commented on #14115
cc @tannergooding

[2017-09-21 21:54] sdmaclea commented on #14115
Looks like only these two can be mapped to Arm64 intrinsics
[code]

`FRINTP` & `FRINTM` respectively

[2017-09-21 22:28] tannergooding commented on #14115
I believe most of them were actual intrinsics in the legacy JIT (where the x87 FPU covered most of these instructions).

However, there is no equivalent instruction for most of these under SSE/SSE2 (and the call to the SSE/SSE2 implementation is generally faster and more accurate than the x87 FPU version anyways).

I'm not sure what the case is for ARM.

[2017-09-21 22:35] erozenfeld opened #14122 "[RyuJIT] Add support for bswap"
The jit currently doesn't emit bswap instructions. We could add recognition of byte swap pattern to morph (similar to what we do for rotation).

This came up in https://github.com/dotnet/corefxlab/pull/1772, e.g.,
[code]

category:cq
theme:basic-cq
skill-level:intermediate
cost:small

[2017-09-21 22:41] DrewScoggins commented on #14034
We do not have an issue opened yet.  I can go ahead and make one.

[2017-09-21 22:45] brianrob commented on #13689
@janvorli, sorry for the delay.  I've just posted a PR for this and tagged you on it.

[2017-09-21 22:48] DrewScoggins opened #14124 "Update performance tests to use NetStandard1.5"
Almost all of the performance tests are build against netstandard1.4 as it was required before we switched to a .NET Core version of the performance runner.  Since we have done this we have not updated the tests to netstandard1.5, and gain the additional APIs that entails.  Doing this would resolve https://github.com/dotnet/coreclr/pull/9281 and allow us to remove this hack https://github.com/dotn

[2017-09-21 22:48] DrewScoggins commented on #14034
Issue is here https://github.com/dotnet/coreclr/issues/14124

[2017-09-21 23:22] fiigii opened #14128 "Enable multi-byte NOP in RyuJIT/x86"
Multi-byte NOP is always preferred over multiple one-byte NOPs on modern x86 architectures. Currently, RyuJIT generates multi-byte NOPs for x64 but uses multiple one-byte NOP for x86.
[code]
Since RyuJIT requires SSE2 as the bottom-line target for its codegen, we should optimize RyuJIT/x86 to generate multi-byte NOP.

cc @russellhadley @BruceForstall @jkotas

[2017-09-22 00:06] CarolEidt commented on #14008
I believe that the problem is here: https://github.com/dotnet/coreclr/blob/master/src/jit/lsra.cpp#L4158. Note that, in the code above, the `candidates` and `currCandidates` are being set and modified. That's what's used to set the registers on the `RefPosition`. The register sets on the `Interval` are just preferences, not requirements, so it is the setting on the `RefPosition` that really matter

[2017-09-22 00:18] #13813 closed

[2017-09-22 00:26] sdmaclea commented on #14115
These transforms are also possible, but not necessarily easy.
`conv.i(round.d(d)) -> round.i(d)` `fcvtnu` or `fcvtns`
`conv.i(floor.d(d)) -> floor.i(d)` `fcvtmu` or `fcvtms`
`conv.i(ceil.d(d)) -> ceil.i(d)` `fcvtpu` or `fcvtps`

[2017-09-22 00:31] sdmaclea commented on #14115
@tannergooding Thanks

[2017-09-22 04:34] tannergooding opened #14134 "[RyuJIT] Enable CORINFO_INTRINSIC Round, Ceiling, and Floor to generate ROUNDSS and ROUNDSD"
SSE4.1 added the `ROUNDSS` and `ROUNDSD` instructions. For machines which support them, we should support emitting them for the `Round`, `Ceiling`, and `Floor` methods in `System.Math` and `System.MathF`.

[2017-09-22 06:20] danmosemsft commented on #1847
I think this is not needed anymore.

[2017-09-22 06:20] #1847 closed

[2017-09-22 06:37] wateret commented on #14008
@CarolEidt I just tried that, but it seems like the candidates are just ALL_INT. So all the GT_COPY is assigned to r0 and r1.

[2017-09-22 06:42] wateret commented on #14008
@CarolEidt So now I wonder if this code is still valid.

https://github.com/dotnet/coreclr/blob/43cf34fe74b435427ffb62f54fc730b4b46c4c22/src/jit/lsraarmarch.cpp#L312

Now that we call `TreeNodeInfoInit()` just before creating a RefPosition for each node, I think updating Op1's LsraInfo actually does nothing since RefPosition for that node has been already created.

[2017-09-22 07:17] #5928 closed

[2017-09-22 07:17] mikedn commented on #14122
This should really be an intrinsic in the `BitConverter` class. The amount of IR to pattern match is pretty large and the code itself is pretty ugly to be duplicated all other the place. The only reason people write such code is that in more than 15 years of .NET nobody bothered to add some convenient endian conversion methods somewhere.

[2017-09-22 08:14] gkeongit commented on #14110
OK, I'm closing this and try the update. Thank you.

[2017-09-22 08:14] #14110 closed

[2017-09-22 08:17] #13689 closed

[2017-09-22 08:30] mvanassche commented on #1784
On this example, which I believe illustrates the issue, I get a factor of ~15 between C# and Java.
Also, if you change from class to struct, C# and Java performance become similar.

`namespace ConsoleApplication1
{
    class Program
    {
        static void Main(string[] args)
        {
            long t = System.Environment.TickCount;
            int l = 123456;
            Test1[] ts = new Tes

[2017-09-22 08:39] hqueue commented on #13761
1. This RefPosition is created using below function.
And when created, it has assignment to `r0`, i.e. `RefPosition->registerAssignment` is `0x01`.
However `minRegCandidateCount` is 0, because both `consume` and `produce` are `0`.

[code]

2. However during the inialization in above function, function invokes `void LinearScan::applyCalleeSaveHeuristics(RefPosition* rp)` through `void LinearScan::a