[2018-03-14 18:35] briansull commented on #16933
[code]

[2018-03-14 18:37] BruceForstall commented on #16933
If you have SOS, "!u -gcinfo" I think dumps the offsets. Also, JitDump dumps the interleaved GC transitions.

[2018-03-14 18:40] briansull commented on #15906
I still need the complete code with a simple compilable repro case.
 Ideally one that prints Pass or Fail would be great.

[2018-03-14 18:54] sdmaclea commented on #16933
@BruceForstall Thanks.  That a reason for me to eventually take the time to rebuild lldb for 64k pages.  Or configure a 4k page platform...

[2018-03-14 18:55] hpbieker commented on #16906
@Maoni0 COMPlus_gcConcurrent=0 looks similar to not setting gcServer to 1.

It looks like I have to disable swapping (which we have done on our production servers), otherwise the extra pages for the cgroup will just be swapped out. I guess the difference is that gcServer waits almost until the cgroup is maxed out before is startes GC, and in some cases it is too late so that it violates the cgroup

[2018-03-14 19:01] BruceForstall opened #16938 "Lots of GCStress failures in HWIntrinsics tests"
E.g., https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_gcstress0xc/78/#showFailuresLink

[code]

[2018-03-14 19:01] AndyAyersMS commented on #16624
@adamsitnik can you fill in the details here? Which os/arch, what specifically was the regression?

For x64 windows I see 2.0 at ~445 and 2.1 at ~385, so it looks like an improvement. And it appears there was a recent improvement that will push 2.1 even lower, to ~320 (possibly from #14646?)

![image](https://user-images.githubusercontent.com/10121823/37424882-d5159694-277e-11e8-87f4-41d1665b2766.

[2018-03-14 19:01] BruceForstall commented on #16938
@CarolEidt @fiigii @tannergooding
cc @dotnet/jit-contrib

[2018-03-14 19:14] kouvel opened #16940 "Preallocated jump stubs for dynamic methods are reused and this leads to race/crash in some uncommon cases"
1. When coreclr is far away from the precode, the preallocated jump stub initially points to PrecodeFixupThunk, and the precode points to the jump stub
2. Later, the jump stub is modified to point to jitted code
3. The precode is updated from "call jumpStub" to "jmp jumpStub"

Between 2 and 3, another thread may end up executing a call to the jitted code, leaving an extra return address on the sta

[2018-03-14 19:39] jvbsl commented on #15906
https://hastebin.com/kinixidemu.cs
printed on the debug console.
But you should know that its dependant on the used processor, for some processors it seems to work in both cases....
of course you would need the Numerics.Vectors nuget package as well:
https://www.nuget.org/packages/System.Numerics.Vectors

[2018-03-14 19:59] briansull commented on #15906
That still isn't a compilable repro.  (No Main and no using statements)
And if thefailure depends upon the exact hardware setup you have to mention that as well.

[2018-03-14 20:10] AndyAyersMS commented on #16625
Similar story to #16624 -- this looks like an improvement, not a regression.

For x64 windows I see 2.0 at ~435 and 2.1 at ~380, so it looks like an improvement. And it appears there was a recent improvement that will push 2.1 even lower, to ~305 (possibly from #14646?)

![image](https://user-images.githubusercontent.com/10121823/37428292-fed6f9dc-2788-11e8-9d10-4498505a4b03.png)

[2018-03-14 20:14] AndyAyersMS commented on #16626
This too looks similar to #16624 -- an improvement.

x64 2.0 is at ~355, x64 2.1 is at ~310, and master is around ~230.

![image](https://user-images.githubusercontent.com/10121823/37428448-7fd51fd2-2789-11e8-9c16-e4d96d76772f.png)

[2018-03-14 20:16] #15241 closed

[2018-03-14 20:19] Maoni0 commented on #16906
sorry, I meant if you set COMPlus_gcConcurrent=0 and COMPlus_gcServer=1. do you see any difference from just setting COMPlus_gcServer=1?

[2018-03-14 20:30] jvbsl commented on #15906
don't know what more you need except that doing it on your own would've been so much faster, but nvm. @Gallimathias is gonna make you a git repository.
Apart from that I need to admit, that I simply overread the "compilable" part and "repro" was for me "reproduction" and not repository or project^^
And it was already mentioned that it depends on the used hardware:

and it's definitely not dependen

[2018-03-14 20:37] adamsitnik commented on #16624
Hi @AndyAyersMS

Please excuse me, I misread our internal perf report email when I was reporting this issue. It's an improvement.

[2018-03-14 20:38] adamsitnik commented on #16625
@AndyAyersMS you are right, sorry once again!

[2018-03-14 20:38] adamsitnik commented on #16626
@AndyAyersMS you are right, sorry once again!

[2018-03-14 20:42] AndyAyersMS commented on #16602
I took a quick look and don't see any obvious regressions. Some of the tests are super-noisy so looking at just one pair of runs may give misleading results.

For instance here is Where00ForX in master ... maybe there was a regression around 11/15 but I wouldn't be super-confident saying so.

![image](https://user-images.githubusercontent.com/10121823/37429672-49d4471a-278d-11e8-9742-2e7aabcb01b9.

[2018-03-14 20:47] Gallimathias commented on #15906
Attention repo is coming. Code and binary files are included. [SIMD Bug Check Tool](https://github.com/Gallimathias/SIMDBugTestTool) ;)

My CPU Intel(R) Core(TM) i7-5960X CPU @ 3.00GHz

Test Results:
* Test 32 bit both is ok
* Test 32 Debug both is ok
* Test 64 Bit both failed
* Test 64 Debug direct casting failed

Test on AMD FX-6350 failed

Test Results for Intel(R) Xeon(R) CPU E5-2673 v4 2.30 G

[2018-03-14 20:50] AndyAyersMS commented on #16602
For completeness' sake, here is 2.0 over a similar time span:

![image](https://user-images.githubusercontent.com/10121823/37429859-c6c5d446-278d-11e8-8cb0-69285b8d0fe9.png)

and here is the data we have so far on 2.1 (note both axes scales differ from above):

![image](https://user-images.githubusercontent.com/10121823/37429882-d7f32d40-278d-11e8-897d-4a34054ef4fc.png)

They both bounce around a

[2018-03-14 20:50] #16602 closed

[2018-03-14 20:53] AndyAyersMS commented on #16626
No problem, I am always happy to see that things actually got better...

[2018-03-14 21:14] AndyAyersMS commented on #16601
Looking at history there is perhaps a small regression in 2.1 in both the CompileTest and DataflowTest.

Let's look at the CompileTest since it shows a slightly larger slowdown.

2.0 performance is around 298.

![image](https://user-images.githubusercontent.com/10121823/37430779-7e0d5e92-2790-11e8-9be2-eedb92cc3f79.png)

2.1 is around 308, so that would be maybe a 2-3% regression.

![image](https:

[2018-03-14 21:17] AndyAyersMS commented on #16601
I'm going to try and trace perf farther back in master to see what might have lead to the initial slowdown in the CompileTest. It may take a few days. So for now leaving this open in 2.1.

[2018-03-14 21:26] sandreenko commented on #16587
The error happens in `zap\zaprelocs.cpp ZapBaseRelocs::WriteReloc` for `IMAGE_REL_BASED_THUMB_BRANCH24` calculates negative offset, because `rva` is very big and other summands are small.
I am not sure yet how JitStress affects its and which values are wrong.

[2018-03-14 21:45] janvorli commented on #16940
cc: @vitek-karas

[2018-03-14 21:52] GrabYourPitchforks opened #16944 "JIT produces suboptimal code (unnecessary call) when using recent ReadOnlySpan compiler optimizations"
Roslyn recently made a change (https://github.com/dotnet/roslyn/pull/24621) where they're able to optimize code of the form `ReadOnlySpan<byte> span = new byte[] { /* literal data */ }`. However, this produces IL that seems to defeat JIT optimizations, resulting in unnecessary calls and suboptimal performance.

**Sample code (control)**

[code]
[code]
[code]

**Sample code (experimental)**

[code]

[2018-03-14 21:58] hpbieker commented on #16906
@Maoni0 It crashes just the same way (120 MiB limit shown below, but I also got it to crash with 158 MiB):
[code]

And then the log says:
[code]

[2018-03-14 22:03] fiigii commented on #16938
I have investigated this issue for https://github.com/dotnet/coreclr/issues/16370. The codegen of HW intrinsics looks no problem... May need help from GC experts @jkotas

[2018-03-14 22:16] sdmaclea commented on #16938
@BruceForstall Are they in x86 and arm64 tests?  I can take a look at arm64 failures if needed.

[2018-03-14 22:34] AndyAyersMS commented on #16944
This may be something similar to #11211.

Can you find the inline failure reason (say from ETL via perfview or via a checked jit with COMPlus_JitPrintInlinedMethods=1)?

If not, I can take a look later tonight...

[2018-03-14 22:50] briansull commented on #15906
Thanks for all your work on this issue .
We likely needed something like this.
I have cloned your repro and I have tried it out.

I don't see a failure using our current bits (will be 4.7.3)
It does print failed on my older 4.7.1 (shipping) version:

 Image path: C:\WINDOWS\Microsoft.NET\Framework64\v4.0.30319\clrjit.dll
 ProductVersion:   4.7.2633.0

[2018-03-14 23:09] sywhang commented on #14724
Per discussion with @lt72 and @RussKeldorph on email, since fast tailcall for ARM32 is optional for 2.1 and will probably not make it in time for 2.1, we will move this to Future.

[2018-03-14 23:09] sdmaclea commented on #16933
@dotnet/jit-contrib

I think I understand the gcInfo.

The compiled frame is `partially interruptable`.  I think that effectively means the gc can only interrupt at call sites.  So presumable the gcInfo only needs to be correct at the site of the call.

That is really the only way I can explain this code
https://github.com/dotnet/coreclr/blob/master/src/jit/gcencode.cpp#L4548-L4599

I think the gc

[2018-03-14 23:17] BruceForstall commented on #16938
You can see all the various stress (GC and JIT) jobs here: https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/

Looks like x86 has similar failures: https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_gcstress0xc/72/#showFailuresLink

Our Windows arm64 runs have been broken for a while due to machine issues. In the next week or so, the next run wil

[2018-03-14 23:23] janvorli commented on #16933
So the issue is likely in the shuffling thunk. @sdmaclea could you please set a breakpoint to the call to the delegate that causes the problem (it is the last one in the Main) and when you hit it, step into the call? You will arrive in the shuffling thunk that moves arguments between registers and stack slots to accommodate for the difference between the signature used for calling the delegate and

[2018-03-14 23:48] sdmaclea commented on #16933
I was just getting there.  Just confirmed incoming x8 is corrupt.

[2018-03-14 23:49] Maoni0 commented on #16906
do you know if you did any GCs at all or it gets killed when it's just at start up stage? if you have gcConcurrent enabled, since server GC on 64-bit has such large segment sizes, even the GC's own datastructure would take 10's of MB. but without concurrent it should be able to run (unless pinning is prevalent and we cannot retract the heap in time).

it would make debugging a lot more productive

[2018-03-15 00:01] GrabYourPitchforks commented on #16944
I just rebuilt checked coreclr from source and set the environment variable you suggested. The JIT now seems to be refusing to inline the `ReadOnlySpan<byte>` ctor into its caller. I don't know what changed.

[code]

[2018-03-15 00:09] sdmaclea commented on #16933
[code]

Can I just enable the sort in the end of GenerateShuffleArray for arm64

[2018-03-15 00:20] sdmaclea commented on #16933
Looks like I can fix it in `StubLinkerCPU::EmitShuffleThunk` which is using x8 as a hard coded working register

[2018-03-15 00:24] jkotas commented on #15544
Fixed by #16747 / #16917

[2018-03-15 00:24] #15544 closed

[2018-03-15 00:29] GrabYourPitchforks commented on #16944
[code]

[2018-03-15 00:29] briansull commented on #15906
The fix for this issue requires both PR #15726 AND PR #15814

@CarolEidt

[2018-03-15 00:46] GrabYourPitchforks commented on #16944
BTW I'm working around it for now by adding a new ctor overload `ByReference<T>.ctor(IntPtr)` and changing the `ReadOnlySpan<T>` ctor to have the following line.

[code]

It gets the job done in a pinch, and perhaps it's a valid solution if we're antsy about making JIT changes to support this scenario, but I'd need to run it by a few more people if we want to leverage it as a workaround.

[2018-03-15 01:17] BruceForstall opened #16950 "[arm32/Ubuntu] GetAllocatedBytesForCurrentThread.cs test failure"
[code]

https://ci.dot.net/job/dotnet_coreclr/job/dev_unix_test_workflow/job/arm_cross_checked_ubuntu_innerloop_tst_prtest/2/consoleText

I'm enabling Linux/arm32 testing on hardware, and am seeing this failure.

[2018-03-15 01:18] BruceForstall commented on #16950
@sywhang @Maoni0 Any reason this wouldn't run on Linux/arm32?

[2018-03-15 01:20] BruceForstall opened #16951 "[arm32/Ubuntu] eventsourcetrace.sh failure"
[code]

https://ci.dot.net/job/dotnet_coreclr/job/dev_unix_test_workflow/job/arm_cross_checked_ubuntu_innerloop_tst_prtest/2/consoleText

I'm enabling Linux/arm32 testing, and this failed.

[2018-03-15 01:21] BruceForstall commented on #16951
@brianrob @nategraf

[2018-03-15 01:29] sywhang commented on #16950
I will take a look at this.

[2018-03-15 01:34] #1856 closed

[2018-03-15 02:08] ygc369 commented on #555
@Maoni0
I find that Windows OS seems to have VA remapping already.
See this: [Address Windowing Extensions](https://msdn.microsoft.com/zh-cn/library/windows/desktop/aa366527(v=vs.85).aspx)

[2018-03-15 02:18] #11939 closed

[2018-03-15 02:24] brianrob commented on #16951
@BruceForstall is there a way for me to get a repro of this?

[2018-03-15 02:29] brianrob commented on #15693
Closing this as I'm not able to repro it.  If you still get a repro with the latest builds, please re-open.  Thanks.

[2018-03-15 02:29] brianrob commented on #14993
Closing this as I'm not able to repro it.  If you still get a repro with the latest builds, please re-open.  Thanks.

[2018-03-15 02:29] #14993 closed

[2018-03-15 04:03] BruceForstall commented on #16951
@brianrob I'll have to set one up and take a machine offline. It's a pretty manual process. I can work on it if you need it.

[2018-03-15 05:03] ygc369 commented on #16931
Nobody interested in it?

[2018-03-15 05:18] GrabYourPitchforks commented on #16944
Actually, now that I've had time to think about it, I'm wondering if we should just make the `ByReference<T>` change and not worry about the JIT optimization. This may end up being the less risky option. @AndyAyersMS, are you familiar enough with `ByReference<T>` to know if this is simply a non-starter of an idea?

[2018-03-15 05:38] AndyAyersMS commented on #16944
Fixing this in the jit is probably best as this kind of pattern may show up elsewhere and the fix should be simple and low risk. I will try and look at it soon.

[2018-03-15 05:58] Vatsi commented on #16932
@RussKeldorph let me try there. Whatever response I get, I will update here as well. As of now keeping this one open as well in case anyone has any inputs. Thanks for the tip.

[2018-03-15 06:14] d-cook commented on #9105
I see no reason why invoking a call on an interface could not be at least as fast as invoking a virtual method. It must have something to do with how .NET represents interfaces (or interface mappings).

Based purely on the computational model of classes and interfaces (e.g. as described in compiler-design books such as the following: https://www.amazon.com/Modern-Compiler-Implementation-Andrew-App

[2018-03-15 06:51] jkotas commented on #16944
I agree with Andy. This is best to fix it in the JIT.

[2018-03-15 06:57] #16892 closed

[2018-03-15 06:59] jkotas commented on #16931
- The event handlers would need to be written in a very special way to avoid allocations.
- The events would serialize execution. It would have negative performance consequences for parallel GC.

GC handles that can be used to achieve equivalent effect avoids both these problems.

[2018-03-15 07:06] davidfowl commented on #16932
There is no runtime store on .NET Framework so you end up with all of the assemblies in the bin folder. There's no such thing as a FDD with .NET Framework.

[2018-03-15 08:07] Sunny-pu commented on #6283
failed again:
https://mc.dot.net/#/product/netcore/200/source/official~2Fcoreclr~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20180314.01/workItem/JIT.jit64.XUnitWrapper/analysis/xunit/JIT_jit64._opt_cse_HugeArray1_HugeArray1_~2F_opt_cse_HugeArray1_HugeArray1_cmd

[2018-03-15 08:26] Sunny-pu commented on #12448
failed again:
https://mc.dot.net/#/product/netcore/200/source/official~2Fcoreclr~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20180314.01/workItem/JIT.Regression.XUnitWrapper

[2018-03-15 08:40] ygc369 commented on #16931
@jkotas

How to? Could you give an example?

[2018-03-15 09:40] janvorli commented on #16623
The errno 0 in the assert was puzzling until I've looked at the doc of the pthread_setschedparam function that fails in the test. It turns out it returns error code directly instead of through errno. I am going to fix that so that we can see the real error next time it occurs. I will also try to repro it locally.

[2018-03-15 10:08] janvorli commented on #16623
I was able to repro the issue running the test in a loop. It repro'd after about 10000 iterations. The error  returned by the function is 3, which means ESRCH (No thread with the ID thread could be found).
I believe it is a flakiness in the test. It creates a secondary thread, duplicates a handle to it, sets the thread priority through the original handle and reads it through the duplicated handle

[2018-03-15 10:24] mikedn commented on #9105
Sometimes there's no such thing as the right thing, there are only trade-offs. Your interface implementation(s) trade memory for speed. Sometimes that can't even be called a trade-off but simply a deoptimization.

[2018-03-15 11:04] tannergooding commented on #16370
Fix should be here: https://github.com/dotnet/coreclr/pull/16957

[2018-03-15 11:05] tannergooding commented on #16938
Fix should be here: https://github.com/dotnet/coreclr/pull/16957

[2018-03-15 11:17] IvanFarkas opened #16958 "Provide build instructions for CoreCLR on arm64v8 Debian Stretch and Buster, please"
Provide build instructions for **CoreCLR** on **arm64v8** Debian **Stretch** and **Buster**, please.
Currently, build fails.

HW: DragonBoard 410c
Distributor ID: Debian
Description: Debian GNU/Linux 9.4 (stretch)
Release: 9.4
Codename: stretch

[code]

[2018-03-15 11:52] janvorli commented on #16958
There is no difference to building it on amd64. What you are seeing is a clang issue or it could also be caused by OOM (guessing based on the `clang: error: unable to execute command: Killed`). You can try to reduce the memory usage by modifying the following line in the build.sh to disable make from running multiple clang instances in parallel:
[code]
to
[code]

[2018-03-15 12:17] svick commented on #9105
@d-cook

As far as I can see, nothing in this issue is about the difference between virtual calls and interface calls. It's all about the difference between interface calls and non-virtual calls.

That's not how interfaces are implemented in the CLR. I think that changing that would require incredibly good reasons.

Keep in mind that you're linking to an outdated document. The [current version of

[2018-03-15 12:39] IvanFarkas commented on #16958
Thank you @janvorli. I made the change. it's running. I update my post with the results.

[2018-03-15 13:23] jonatanrinckus opened #16960 "Different behavior between windows and linux - Date to String or Razor Issue"
Hello guys.

I don't know if here is the right place, but I will put here.

I had a web server on windows, I develop on windows, I sent my asp.net core web site to the windows server and everything work's fine. So I deploy now a linux server and for my surprise, the behavior of a little piece of code is not the same as windows.

What is wrong? This code:

`data-account-issue-date="@bill.IssueDate"

[2018-03-15 13:56] jkotas commented on #16931
This can be done by allocating dummy finalizable object. The finalizer will run short after GC collects the object. The finalizer is a regular code that does not block GC.

This sounds like some kind of caching GC handle: Handle that is not completely weak, but that the GC can still set to null based on the memory pressure. GC handle like this does not exist as first class concept today.

[2018-03-15 14:33] kasper3 commented on #16491
@sdmaclea, can you reproduce it with tip to CoreCLR?

[2018-03-15 15:24] janvorli opened #16961 "Assert in JIT during crossgen in Windows armlb CI tests"
The "Windows_NT armlb Cross Checked Innerloop Build and Test" is consistently failing with the following error.
[code]

[2018-03-15 15:25] janvorli commented on #16961
cc: @dotnet/jit-contrib

@briansull it seems it has started with this change:
https://github.com/dotnet/coreclr/pull/16928

[2018-03-15 15:40] BruceForstall opened #16963 "[arm32/Ubuntu] Random non-repeatable test failures"
The Linux/arm32 test harness uses a new script, runtesttilstable.sh, to run failing tests in a loop, until no more fail, or we hit a retry limit. This is because some number of tests fail on every run -- typically about 20 in a Pri-1 run of almost 12000 tests. Which tests fail seems to have no pattern. They almost always pass on retry.

These failures need to be investigated, to see if there is a

[2018-03-15 15:42] BruceForstall opened #16964 "[arm32/Ubuntu] Test failures with JitStress=2 + JitStressRegs=2"
https://ci.dot.net/job/dotnet_coreclr/job/dev_unix_test_workflow/job/jitstress/job/arm_cross_checked_ubuntu_jitstress2_jitstressregs2_tst_prtest/1/consoleText

[code]

Note that these failed 4 consecutive runs.

[2018-03-15 15:49] BruceForstall opened #16965 "[arm32/Ubuntu] R2R test failures"
A basic (non-stress) R2R test run on arm32/Ubuntu shows 198 test failures:

https://ci.dot.net/job/dotnet_coreclr/job/dev_unix_test_workflow/job/arm_cross_checked_ubuntu_r2r_tst_prtest/1/

Stress modes show similar, but slightly different, failure numbers.

There are several failure modes in addition to simple segmentation fault. One common mode is:
[code]

Another:
[code]

Another:
[code]

[2018-03-15 15:59] sdmaclea commented on #16491
Based on comments from @janvorli I have not tried the coreclr tip because of suspected incompatibilities.

I generally have been using the latest cli daily build.  Although I have tried to use the daily core-setup build with the most recent sdk from the daily cli.

I have run the coreclr version used in the daily build through the full set of coreclr tests without issue.  There are some spurious g

[2018-03-15 16:12] AndyAyersMS commented on #16944
I have a fix, it is very similar to #11218, just a different case. Will have a PR up shortly.

[2018-03-15 16:20] kasper3 commented on #16491
@sdmaclea, thanks for the details. CoreSetup has received CoreCLR update 2 hrs. ago. CLI repo hasn't received the update. https://github.com/dotnet/cli/pull/8780 hasn't picked up latest CoreSetup update either (yet).

[2018-03-15 16:34] BruceForstall commented on #16491
We might need something like is done for Windows/arm corefx testing in Jenkins: build the corefx tests using cross-compilation on Windows/x86, then copy them over to arm, and run them using the tests\scripts\run-corefx-tests.bat script.

Interesting that when I wrote that script I added the comment, "This script only works for Windows ARM, but perhaps should be extended to work for Windows ARM64 a

[2018-03-15 16:40] echesakovMSFT commented on #16961
I think this started failing after I switched crossgen of S.P.C.dll to be R2R on ARM in #16895

[2018-03-15 16:42] sdmaclea commented on #16491
@BruceForstall

I'd love for them to be run in CI.

I also want to run them in QDT's (my) CI.

If I can find the corefx tests already built as Jenkins artifacts in CI then I can run them locally in QDT CI.  Also, rumor is they are not as hard to build as the coreclr tests, so maybe they can be built on Linux as needed.

[2018-03-15 16:57] 4creators commented on #16673
@fiigii @tannergooding

This issue can be closed now as all SSE2 intrinsics are implemented. I am working on porting tests to templates.

[2018-03-15 17:03] #16673 closed

[2018-03-15 17:05] #16940 closed

[2018-03-15 17:11] RussKeldorph commented on #16960
@tarekgh Please change area if this isn't correct.

[2018-03-15 17:15] safern commented on #14876
@ianhays it looks a reasonable change to me, what do you think? Maybe a good opportunity to start spanifying  List<T> to avoid so many array allocations?

[2018-03-15 17:21] tarekgh commented on #16960
@jonatanrinckus this is by design for the framework. in general, the framework just pick the default date format from the system which depends on the default locale/culture of the user and the default date/time format pattern on that locale/culture.

we recommend if the app wants to ensure specific format will have to explicity specify this format to ensure consistent results across OS's.

Feel fr

[2018-03-15 17:21] #16960 closed

[2018-03-15 17:33] RussKeldorph commented on #16932
Closing as answered.  I recommend posting any follow-up questions to https://github.com/aspnet/Home or https://github.com/dotnet/cli.

[2018-03-15 17:33] #16932 closed

[2018-03-15 17:41] sdmaclea commented on #16933
Fixed by #16947

[2018-03-15 17:41] #16933 closed

[2018-03-15 17:48] RussKeldorph commented on #16965
@janvorli @jkotas Does it make sense to start with `area-VM` unless/until proven otherwise?

[2018-03-15 17:49] danmosemsft commented on #16889
If I understand right, this would make inserting on collision slower because right now _freeList points to the next empty entry, whereas if the list was kept sorted it would need to be partly walked. But find on collision could be faster as the list would typically not need to be fully walked?

I am curious how long the chains are at typical load factors.

[2018-03-15 17:56] jkotas commented on #16965
`area-ReadyToRun` ?

[2018-03-15 17:57] briansull commented on #16961
It seem very unlikely that my fix would case this.

[2018-03-15 18:15] RussKeldorph commented on #16356
This issue was moved to dotnet/buildtools#1959

[2018-03-15 18:15] #16356 closed

[2018-03-15 18:46] swaroop-sridhar commented on #15982
I discussed this bug with @agocke. Microsoft.Extensions.DependencyModel is the intended solution for this issue, so resolving this bug. If there's a problem with it, a bug can be filed in the core-setup repo.

[2018-03-15 18:46] #15982 closed

[2018-03-15 19:14] IlyaGrebnov commented on #16889
This change won't effect freeList or find/contains method if item expected to be found, but could speed up find/contains if item not exists.

I am essentially proposing change following psedo-logic

            var comparer = dictionary.f_Comparer;
            var hash = comparer.GetHashCode(key);
            for (var next = bucket[hash % num buckets]; next != null; next = next.next)
            {

[2018-03-15 20:05] jeffschwMSFT opened #16971 "VB default ByVal marshalling behavior is actually VBByRefStr and it truncates MBCS input"
VB defaults ByVal marshalling to VBByRefStr, which will truncate inputs that are MBCS.  Here is the repro:

Suppose there is a DLL contains a function which requires char* argument as below.

    void __stdcall func (char * pszText)
    {
        return;
    }

If you call this function via P/Invoke with multi-bytes character as below, the argument is corrupted.

    Declare Sub func Lib "CppDll"

[2018-03-15 22:49] lt72 commented on #14526
This will not fit in 2.1, moving to Future.

[2018-03-15 23:24] maryamariyan opened #16977 "StringBuilder Capacity should remain less or equal to MaxCapacity when it gets full"
When creating StringBuilder with a certain maxCapacity larger than capacity:

[code]

Another side effect to this bug:
[code]

We get correct behavior when capacity and maxCapacity are the same during initialization:
```var sb = new StringBuilder(capacity: 15, maxCapacity: 15);```

This issue happens in the ExpandByABlock method of StringBuilder and when we are trying to add another chunk to the S

[2018-03-15 23:40] GrabYourPitchforks commented on #16944
That was a stupendous turnaround. Thank you so much for looking into this so quickly!

[2018-03-16 00:01] maryamariyan commented on #16977
Another example:

[code]

[2018-03-16 00:30] manofstick opened #16979 "Span<double> significantly (3-4 times) worse than double[]"
Following some discussion [begun here](https://stackoverflow.com/questions/49308115/c-sharp-vectordouble-copyto-barely-faster-than-non-simd-version-and-bad-span), I have created a example where access to a `Span<double>` is 3 to 4 times worse than a `double[]` - unless I'm doing something stupid (which hey, is possible...)

    using System;
    using System.Diagnostics;
    using System.Linq;

[2018-03-16 01:18] jkotas commented on #16977
Duplicate of https://github.com/dotnet/coreclr/issues/15061

[2018-03-16 01:20] jkotas commented on #16979
What is netcoreapp version in your .csproj file?

[2018-03-16 01:21] #16977 closed

[2018-03-16 01:45] manofstick commented on #16979
Test.csproj

    <Project Sdk="Microsoft.NET.Sdk">

      <PropertyGroup>
        <OutputType>Exe</OutputType>
        <TargetFramework>netcoreapp2.0</TargetFramework>
      </PropertyGroup>

      <ItemGroup>
        <PackageReference Include="System.Memory" Version="4.5.0-preview1-26216-02" />
      </ItemGroup>

    </Project>

Looks like I ain't got .NET Core 2.1 SDK... I'll install and try ag

[2018-03-16 01:49] manofstick commented on #16979
@jkotas

Hmm. Actually downloaded and tried to install (from [here](https://www.microsoft.com/net/download/thank-you/dotnet-sdk-2.1.101-windows-x64-installer)), and it says its installed! But if I change `netcoreapp2.0` to `netcoreapp2.1`  then I get the error:

    C:\Program Files\dotnet\sdk\2.1.101\Sdks\Microsoft.NET.Sdk\build\Microsoft.NET.TargetFrameworkInference.targets(135,5): error : The c

[2018-03-16 01:52] jkotas commented on #16979
https://blogs.msdn.microsoft.com/dotnet/2018/02/27/announcing-net-core-2-1-preview-1/ has good links to install .NET Core 2.1 Preview 1 from. Sorry about the confusing version numbers.

[2018-03-16 01:59] manofstick commented on #16979
@jkotas

OK, all good!

2.1.300-preview1-008174  did the trick.

Although the += version is ~ 10% slower - but that's a different question I guess...

[2018-03-16 01:59] #16979 closed

[2018-03-16 02:22] VSadov commented on #16944
Awesome!!

BTW, One thing that I am thinking about is that perhaps once `CompilerServices.Unsafe` API settles, we should make it C# intrinsics.
The methods are 1-2 IL instructions. Some less than that - `AsRef` is really a noop.
We could just know some of them and inline actual IL instead of emitting calls.

[2018-03-16 02:31] RussKeldorph commented on #16965
@jkotas Thanks...forgot about that one.

[2018-03-16 02:36] jkotas commented on #16944
A lot more valuable would be to have Roslyn support for constructs that S.R.CS.Unsafe cannot express today: https://github.com/dotnet/roslyn/issues/11475

Inlining S.R.CS.Unsafe is nice to have. It does not matter a whole lot whether these methods are inlined at JIT time, C# compile time, or ILLink time. I am wondering whether it would be possible to generalize this to inline any methods marked ag

[2018-03-16 02:53] d-cook commented on #9105
Bending logic to justify a decision means one is more concerned about "being right" (not having to change) than about what might actually be better. That is, by the same argument, The CLR's implementation of interfaces trades speed for memory. Sometimes that can't even be called a trade-off but simply a deoptimization.

That "extra memory" is negligible when you consider the extra low-level instru

[2018-03-16 03:02] stephentoub opened #16982 "Struct interface dispatch still allocating for ref generics"
https://github.com/dotnet/coreclr/pull/14698 helped to avoid allocations when invoking methods on structs cast to interfaces, but it appears it didn't completely address it.

This code:
https://github.com/dotnet/coreclr/blob/8758f76b4e5ba6733e4f3184293414fc9182d06f/src/mscorlib/src/System/Runtime/CompilerServices/AsyncMethodBuilder.cs#L392-L398
takes advantage of this feature, and with a repro lik

[2018-03-16 03:03] GrabYourPitchforks commented on #16944
One consideration is that the C# compiler will need to know the real IL instructions if it's to inline directly during source compilation. Some APIs may be implemented in IL as a `throw new PlatformNotSupportedException();` equivalent, with the real implementation being provided by the runtime.

We could shrink binary size on disk if the C# compiler were to inline these calls. Consider the impleme

[2018-03-16 03:24] jkotas commented on #16944
Right. We would need to fold reference assemblies for AOT compilation (used for R2R in some cases) into the regular reference assemblies for this work. And it is also why I have mentioned that we would be only able to do this if the method is marked with the right attributes.

I agree that the gain from this would be pretty minimal, relative to the cost required to build this.

[2018-03-16 09:51] #16900 closed

[2018-03-16 11:41] mikedn commented on #9105
I was considering writing a more detailed response but I see no point in wasting my time after such a reply. I'll also note that your initial reply didn't include this so it's clear that you considered this very important to add to deserve an edit.

I do not work for Microsoft and I have no obligation to do anything - respond to issues, do code reviews and send pull requests to improve existing co

[2018-03-16 11:48] dragonchaser opened #16987 "Proprietary dependencies in dotnetcore"
Hi,

we are wondering if there is any proprietary code in the sources of the packages or its dependencies used to build dotnet core on linux.
https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/copyright.md#binary-license4 states that everything bundled as binary is to be threaded as MIT license. Unfortunately we do not want to use pre-build binaries but want to “brew” our own

[2018-03-16 14:48] 4creators commented on #16987
This issue is discussed and handled in  https://github.com/dotnet/source-build repo. Specifically it was discussed and agreed that the whole build should be source based including all tools.

see https://github.com/dotnet/source-build/issues/187#issuecomment-332875712 and following discussion.

[2018-03-16 14:52] sdmaclea opened #16989 "Update cross build-rootfs for modern world"
As part of building docker image for arm64 cross compiling I spent a lot of time looking at build--rootfs.sh. The following seem like changes which should be done...

+ Add latest Ubuntu version: Artful and Bionic
+ Remove unsupported Ubuntu versions: Vivid, Wily and Zesty
+ Add latest lldbdev versions: 5.0, 6.0
+ Update lldb default to 3.9 to be consistent with non-cross build
+ Drop old lldb ver

[2018-03-16 15:07] #16944 closed

[2018-03-16 15:36] AndyAyersMS commented on #16539
I'm going to tag this as future -- don't see fixing this as essential for 2.1.

[2018-03-16 15:37] AndyAyersMS commented on #16540
Yes there are a few tests that intentionally create invalid IL. We should create an exclusion mechanism.

Tagging this as future as it's not essential for 2.1.

[2018-03-16 15:59] AndyAyersMS commented on #16982
There is a chain of optimizations required here and the jit hits a limitation at the last step.
[code]
To get rid of the box we need the full chain to fire.

I don't recall offhand why the jit didn't or couldn't handle the case where the unboxed entry needs an extra argument. Let me dig in some more.

[2018-03-16 16:02] kasper3 commented on #16989
For DRY, maybe this "common tool acquisition" step should be extracted out in a common script and share among these repos with native code (using build tools?).
Source-build is going to compile full tarball (containing code from different repos) offline on various distros. Their this disparity in supported tools version will cause uncomfort.

[2018-03-16 16:06] kasper3 commented on #16989
@smadala, is LLDB.h present in liblldb-6.0-dev package? I tried that one from https://apt.llvm.org, but it was missing LLDB.h. Packaging bug? I tried to report it to upstream but their bug tracker registration was closed..

[2018-03-16 16:11] sdmaclea commented on #16989
I don't know if lldb 6.0 works yet.  I have had no reason to use anything newer than 3.9.  I did notice that package existed.  It may not be ready yet...

[2018-03-16 16:33] MattGal opened #16990 "Test builds use different casing for transport feeds, breaking the build"
After initially suspecting that this was a leftover problem from secret cycling, I realize it’s not, rather it’s a URL casing issue.

Specifically the product builds put their transport feed here:
http://dotnetbuildoutput.blob.core.windows.net/coreclr-master-20180316-02/DotNet-CoreClr-Master-1832/Release/pkg/index.json  (works)

Then the test builds try to use a transport feed like this:
https://d

[2018-03-16 16:55] stephentoub commented on #16982
Thanks for looking into it...

[2018-03-16 18:12] kasper3 commented on #16989
Cool. Finally I have gotten the account and reported the issue upstream: https://bugs.llvm.org/show_bug.cgi?id=36770. Currently, 6.0 toolchain builds everything except LLDB plugin (tried with `./build.sh cmakeargs -DENABLE_LLDBPLUGIN=0 `). Haven't tested CoreFX and CoreSetup yet.

[2018-03-16 18:16] MattGal commented on #16990
The root of this problem is the following variable:

[code]

[2018-03-16 18:27] BruceForstall opened #16995 "[arm32/Ubuntu] Debug test failures"
[code]

https://ci.dot.net/job/dotnet_coreclr/job/dev_unix_test_workflow/job/arm_cross_debug_ubuntu_tst_prtest/1/consoleText

Tests are also very slow, so timed out the reruns.

[2018-03-16 18:28] BruceForstall commented on #16995
cc @echesakovMSFT You've seen something similar recently; I forget the resolution.

[2018-03-16 18:33] BruceForstall opened #16996 "[arm32/Ubuntu] Release build failures"
Failures in arm32/Ubuntu release Pri-1 test run.

https://ci.dot.net/job/dotnet_coreclr/job/dev_unix_test_workflow/job/arm_cross_release_ubuntu_tst_prtest/1/consoleText

[code]

Note that these all failed 4 times before being considered failures.

[2018-03-16 18:33] MattGal commented on #16990
@RussKeldorph I found your root cause.  See this build:
https://devdiv.visualstudio.com/DevDiv/_build/index?buildId=1485356

Specifically:
[code]
Which is coming from property "BuildConfiguration" in the failing case.  Simply making the default value here be "Release" should fix your issue but may have other random fallout if you depend on its casing somewhere else.  (I can make this change if you

[2018-03-16 18:43] echesakovMSFT commented on #16995
Yes, the problem that clang3.9 has a bug (see #11318 #15074)

[2018-03-16 18:49] hpbieker commented on #16906
Hi @Maoni0. The GC runs for all three generations. I was not able to install the profiler due to a missing dependency. However, by modifying the program below to:
[code]

The last output from each of the runs are:
[code]
And
[code]
This suggests that there is no problem of running the GC, but it waits too long before it is started. Note that I have to disable swapping (swapoff -a) to trigger the O

[2018-03-16 18:50] jkotas commented on #16982
Looks like a problem with inlining of dictionary access. The current JIT/EE interface contract is not designed to track enough type information details to inline dictionary access.

It may be possible to fix this if the chain originates from non-generic code. But once you start calling it from generic code and change `string` to `T` or `List<T>`, it will fail to devirtualize again and that case is

[2018-03-16 18:56] #16950 closed

[2018-03-16 19:02] hpbieker commented on #16906
@Maoni0 A more to-the-point repro code is shown below:
[code]
When the code looks like:
[code]

[2018-03-16 19:15] sdmaclea commented on #16989
@kasper3 Shouldn't `lldb.h` be in `lillldb-6.0-dev`  the llvm bug doesn't say that.

[2018-03-16 19:52] RussKeldorph commented on #16990
@mattgal Thanks.  Test build queued: https://devdiv.visualstudio.com/DevDiv/_build/index?buildId=1487317&_a=summary

[2018-03-16 19:58] AndyAyersMS commented on #16982
We don't have to make it all the way to inlining here -- if we can rework the call to invoke the unboxed entry point we can remove the upstream allocation.

I have a prototype that seems to be working...let me test it a bit more.

Assumption here is that whatever value the jit was going to pass to the newobj helper is the right value to pass as the context arg to the unboxed entry point (in other

[2018-03-16 20:39] #16987 closed

[2018-03-16 21:49] jonatanrinckus commented on #16960
For me, it's is wrong, the framework sould have the same final behavior, it can have differents behavior internally, but the final result should be the same or it will have some problem when using with another framework.

[2018-03-16 21:51] jonatanrinckus commented on #16960
It has a different result with the decimal.ToString("N"), in windows is 1.00 and on linux is 1.000

[2018-03-16 22:02] tarekgh commented on #16960
We have looked at that deeply before and decided it is better to get parity with the system you are running on. another thing you have to consider, globalization data can change anytime as it is tied to locales and countries so it is wrong to take a hard dependency on something that can change. our guidelines are if you need very specific behavior, then you need to specify this specific format exp

[2018-03-16 23:01] kasper3 commented on #16989
Updated, thanks!

[2018-03-16 23:05] ianhays commented on #14876
I wonder if the incorrect intermediate state could cause issues... I suppose not when the list is being used correctly? What happens if it fails halfway through for some reason, you have the elements inserted at the end of the list instead of at the correct range?

I think we should examine what makes the faster algorithm faster and try to apply those principles to our current implementation. For

[2018-03-16 23:23] safern commented on #14876
What if we start using Span instead of Array.Copy and use Span.Slice to get the elements before from where we are going to insert and just append all of the elements in the IEnumerable + whatever is at the end of the array after the index where we insterted? That would also be linear and we could do it on a local Span copy without allocating more arrays. Would that be safer?

[2018-03-16 23:51] ianhays commented on #14876
that seems like that would be fine, yeah.

[2018-03-16 23:52] janvorli commented on #16375
I've tried to repro it locally, but even after 15000 iterations with GCStress=C, I could not repro it. The lab log is gone already.

[2018-03-16 23:54] janvorli commented on #16375
I'm closing the issue, in case it repros again, I'll try to dig more info from the lab log and run a repro on the same machine where it happened.

[2018-03-16 23:54] #16375 closed

[2018-03-17 00:12] sandreenko commented on #16587
So @BruceForstall helped me to find the problem that is `IMAGE_REL_BASED_THUMB_BRANCH24` with relocation offset larger then 24 bits.

For CoreRun we have a fallback mechanism that will recompile the failed method with `IMAGE_REL_BASED_THUMB_BRANCH24` disabled and generate a call from a register, that supports addresses up to 32 bits (Look for zapinfo.cpp WORD ZapInfo::getRelocTypeHint(void * targe

[2018-03-17 00:25] d-cook commented on #9105
I agree and I apologize for my embarrassing overreaction.

Thanks for providing some insight into how that extra bit of memory (specifically as an object reference) can have so many negative impacts within the CLR.

I'm still confused as to why interface calls are slower than virtual method calls (since they can be implemented with the same amount of indirection); but that's off topic here, and yo

[2018-03-17 00:44] AndyAyersMS commented on #9105
There is fairly good documentation on the current approach for interface dispatch along with some of the rationale behind it here: [Virtual Stub Dispatch](https://github.com/dotnet/coreclr/blob/master/Documentation/botr/virtual-stub-dispatch.md).

Also it is not hard to find writeups online about the older IVMap approach that VSD supplanted.

[2018-03-17 01:09] svick commented on #14876
@ianhays

Is this using the list correctly?

[code]

Note how the `Console.WriteLine()` prints the intermediate state of the list, so it would print something else if something like the approach suggested above was used.

Though there are ways to mitigate that:

1. While inserting to the end of the array, don't increase `Count`. To the observer, it appears as if the implementation first saved the

[2018-03-17 04:11] sdmaclea opened #17007 "[Arm64/Ubuntu] Crossgen segmentation faults during build bootstrap"
While buidling arm64 bootstrap cli with this combination

[code]

I am seeing segmentation faults during crossgen

[code]

[2018-03-17 04:11] sdmaclea commented on #17007
Debugging...

[2018-03-17 04:16] sdmaclea opened #17008 "[Arm64/Ubuntu] Recent regression to JIT/Directed/RVAInit/oddsize"
`JIT/Directed/RVAInit/oddsize/oddsize.sh`

[code]

First failure observed on d6b2ead7f
Last observed pass on 7ee3f6360

[2018-03-17 07:20] mikedn commented on #9105
Note that while they are indeed slower the usual numbers are well below 10x, even below 2x.

The 10x number that appears in some posts above is about the cost of interface calls versus direct calls. Since direct calls can be inlined and interface/virtual calls usually cannot, the slowdown caused by interface/virtual calls can be very high.

And the difference between interface and virtual calls co

[2018-03-17 13:35] RussKeldorph opened #17013 "DefaultInterface tests failing in release/2.1"
https://ci.dot.net/job/dotnet_coreclr/job/release_2.1/job/checked_windows_nt_prtest/32/

Unix failures are similar

[code]

[2018-03-17 13:54] RussKeldorph commented on #17013
#17010 will disable these in release/2.1

[2018-03-17 17:34] Petermarcu opened #17014 "Runtime library loading"
@Tornhoof commented on [Fri Mar 16 2018](https://github.com/dotnet/core/issues/1357)

# Issue Title

How to load libraries at runtime and resolve their dependencies or have workarounds for that.

# General

I'm currently converting a netfx 4.7 with asp.net core 2.0 application to .net core 2.0/2.1.
The solution looks more or less like this:
1. Web project (has references to the shared projects and

[2018-03-17 17:38] Petermarcu opened #17015 "Ability to build standalone single file executables"
@strich commented on [Thu Feb 22 2018](https://github.com/dotnet/core/issues/1278)

# Issue Title
Recently I've been looking into building a small application to solve a problem and I immediately reached for .NET Core. I needed to be able to run the app on Win, Linux and Mac.

# General
A wrote a small application with a few dependencies. Primarily the EF.Core.SQLite package as I needed to read so

[2018-03-17 17:40] Petermarcu opened #17016 "dotnet.exe has stopped working saying can't load coreclr.pdb"
@jaydeept commented on [Fri Jan 19 2018](https://github.com/dotnet/core/issues/1230)

This issue I have already reported [here](https://github.com/aspnet/Home/issues/2798) but just wanted to make sure it's reported at right place.

---

@jaydeept commented on [Fri Jan 19 2018](https://github.com/dotnet/core/issues/1230#issuecomment-358991466)

aspnet/Home#2798

[2018-03-17 20:03] BruceForstall commented on #15074
@janvorli Should we add documentation to https://github.com/dotnet/coreclr/blob/master/Documentation/building/linux-instructions.md indicating that Debug builds for ARM must use clang4.0 or later?

Should we change build.sh to emit a warning (or error) if building arm debug without this?

Should we try to get the official tools used to build ARM updated to 4.0 or later?

This problem is going to c

[2018-03-17 22:38] RussKeldorph commented on #17013
Either remove these tests or move their exclusion lines to group with their existing peers.

[2018-03-17 23:00] RussKeldorph commented on #17015
I'm not sure this belongs in coreclr.  cli maybe?

[2018-03-17 23:01] RussKeldorph commented on #17015
@jeffschwMSFT If you want to keep it here, you'll probably need to create labels for the linker, etc.

[2018-03-17 23:07] RussKeldorph commented on #16298
Closing for now.

[2018-03-17 23:07] #16298 closed

[2018-03-17 23:08] #16679 closed

[2018-03-17 23:17] RussKeldorph commented on #13542
If there is further discussion necessary on this, please track it at https://github.com/aspnet/Home or some place more appropriate.

[2018-03-17 23:17] #13542 closed

[2018-03-17 23:21] RussKeldorph commented on #16806
This issue was moved to dotnet/standard#682

[2018-03-17 23:21] #16806 closed

[2018-03-17 23:21] CRodriguez25 commented on #642
"Our guidance is to use process, container or virtual machine isolation; depending on the required security guarantees."

Everywhere I go, this is the only sentence that pops up. No specifics, no other guidance, just that sentence. I really want to switch to .NET Core for my project, but I'm currently loading untrusted dll plugins that need to interact with the main application. I'm doing this by

[2018-03-17 23:26] RussKeldorph commented on #16389
@jkotas Does this appear actionable?  If so, could you help triage it?  If not, please close.

[2018-03-18 03:37] jkotas commented on #16389
Related to / dup of https://github.com/dotnet/corefx/issues/25841 /  https://github.com/dotnet/coreclr/issues/7747 .

[2018-03-18 04:26] sdmaclea opened #17020 "[Arm/Arm64/Linux] Support running corefx tests"
@debayang & I are starting to look at this.

@BruceForstall We would like to ask for you to help by helping us understand the [Arm/Windows] workflow.  And also for consultation on Linux specific issues.

[2018-03-18 04:38] BruceForstall commented on #17020
I'd be happy to answer questions and explain what I know.

The original change to enable Windows arm32 corefx testing was https://github.com/dotnet/coreclr/pull/16006.

A relevant follow-up change, applicable to all architectures corefx testing in coreclr repro is https://github.com/dotnet/coreclr/pull/16263.

Related issue for doing "the right thing" is https://github.com/dotnet/corefx/issues/269

[2018-03-18 04:38] BruceForstall commented on #17020
cc @RussKeldorph @jkotas

[2018-03-18 12:42] qmfrederik commented on #930
@efimackerman What you propose sounds like dotnet/corefx#17135; if that's the case, would you mind "upvoting" that issue (thumbs up icon below the issue description)?

[2018-03-18 14:12] aviviadi opened #17023 "CoreClr crashes (even when dotnet --help) after app's SigAbrt crash on Linux"
Ubuntu 16.04
dotnet 2.0.6 (observed since 2.0.4)
Problem reproduces

Workaround :
[code]

* Install dotnet, run my app, during intensive memory usage - SIGABRT (exit code 134)
* Trying to rerun - getting exit code 134
* Even when 'dotnet --help' I get this

Can't generate core with : `(lldb) process save-core /tmp/corefile`, getting:
[code]
(How to do that?)

Debug:
-------
Using lldb-3.6 :
[code]

[2018-03-18 14:15] ayende commented on #17023
To note, we are generate some sort of heap corruption in our app.
The problem from our perspective is that it seems to be corruption that persists across processes?

[2018-03-18 14:42] aviviadi commented on #17023
The "only" diff between the failing execution of dotnet and the clean run afterwards is : `/usr/share/dotnet/sdk/NuGetFallbackFolder`

[2018-03-18 15:13] yyjdelete opened #17024 "RyuJIT_x64 doesn't do as much optimization for an throw method as directly throw does?"
Tested with netcore1.1/2.0/2.1(2.1.300-preview2-008347)/net471 x64, seems not happened with x86build.

Test Code
https://github.com/yyjdelete/JIT_Test

I'm not sure if it's an issue since I'm not familiar with JIT, but has some questions.
1. Why all `ThrowWithCall`(`Error.ThrowExpection(string.format(...));`) has `rep stos` but not for `ThrowDirect`(`throw Error.CreateExpection(string.format(...))

[2018-03-18 16:56] AndyAyersMS commented on #17024
If you have some specific end goal in mind -- say you are looking for the most performant way to structure exception checking in your code -- it might be better to ask that instead.

But I'm also happy to answer your more detailed questions. It may take a while to get to them all.

As far as point 1 goes: there is a key difference in inlining. This can be seen from the inline tree which shows the

[2018-03-18 17:08] Petermarcu opened #17026 "Suggestion: Support for platform packaging/ilmerge type capability"
@hallambaker commented on [Fri Dec 01 2017](https://github.com/dotnet/core/issues/1124)

# Issue  Suggestion: Support for ilmerge/libZ etc. functionality

# General

I am currently trying to package up some tools for use on Windows, OSX and Linux. And it is a real bear.

Writing platform independent code is one thing. To date there is no such thing as platform independent installation. OSX, Window

[2018-03-19 02:14] tannergooding commented on #17008
This is also impacting x86 and x64

[2018-03-19 02:41] tannergooding opened #17027 "Multiple JIT Stress test failures"
While working on https://github.com/dotnet/coreclr/pull/16957 I found there were multiple unrelated tests that were failing.

#### General Failure

* baseservices_threading._regressions_269336_objmonhelper_objmonhelper_: https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_gcstress0x3_prtest/19/testReport/junit/baseservices_threading/_regressions_269336_objmonh

[2018-03-19 02:42] tannergooding commented on #17027
These all need further investigating/resolution (and to possibly be split out into their own issues). Several of these issues were showing in multiple jobs.

[2018-03-19 02:56] yyjdelete commented on #17024
Thank you very much.

Try to make an Debug build with `master`, see the message below with `COMPlus_JitDump=TestJIT::CheckIndex0ThrowWithCall` and unable to see `format` with `COMPlus_JitPrintInlinedMethods=1`. Maybe it's already fixed in master.
[code]

----

The different between `CheckIndex0ThrowWithCall` and `RunThrowWithCall`. (This also happen without `string.Format`, see `X1` and `X2` in ne

[2018-03-19 03:10] RussKeldorph opened #17028 "Tizen armel Cross Checked Innerloop Build and Test failing pretty much every PR"
https://ci.dot.net/job/dotnet_coreclr/job/master/job/armel_cross_checked_tizen_innerloop_prtest/

We need to remove the default trigger for this job unless/until it is made reliable.

[2018-03-19 03:11] #16990 closed

[2018-03-19 03:21] AndyAyersMS commented on #17024
You need to be careful when you look at the behavior of the jit (in particular the optimizations done by the jit) with debug builds. For instance the debug core library will be built with jit optimizations disabled and assertions enabled.

I would recommend using the Checked build for these sorts of investigations as has the same code generation as Release but also has the various internal jit dum

[2018-03-19 03:35] danmosemsft commented on #642
@CRodriguez25 I would consider creating a sub process to host the plug-ins, and communicate by a means you choose such as a pipe. That would likely be more secure and reliable than what you are doing today anyway.

[2018-03-19 04:03] CRodriguez25 commented on #642
@danmosemsft Perhaps I'm not familiar enough with this to understand, but how would I perform the restrictions I want on that other process? With AppDomains, I can set FileIOPermissions so that the untrusted plugin can only read from a specific folder, for example. I'm not understanding how I'd be able to accomplish this with a separate process.

Thanks for the reply

[2018-03-19 04:09] danmosemsft commented on #642
Some of the restrictions you could apply with CAS you could potentially achieve with ACL'S, ie run the child process with lower privileges. It would depend on what you wanted to restrict it to. There isn't an equivalent mechanism for you could do with CAS eg restrict access to environment variables. You may decide that you want to continue running this code in.NET Framework.

Could you say a littl

[2018-03-19 04:16] CRodriguez25 commented on #642
This is a client desktop application where the end user is able to download 3rd party plugins. These plugins request (via an interface implementation) access to certain folders on the computer to run. If the user agrees, then the desktop application creates an AppDomain with FileIOPermissions that enable the plugin to read from (and only from) the folders that the user permitted.

Notepad++ has a

[2018-03-19 04:17] CRodriguez25 commented on #642
Oh, just for clarity, the "request for folder" access happens in an AppDomain that has only "Execute" permissions, so that initial request can't read or write to any folders until the user approves the request and the second, less restrictive app domain is created

[2018-03-19 04:25] danmosemsft commented on #642
I see. Most app plugin models that I am aware of rely on trust to some extent since ultimately they usually process user data and want access to the network as well. Even with CAS today it would likely be possible for a genuinely malicious plugin to escape. That is why we recommend using the OS as the only way to truly limit privileges.

 @jkotas do you know of examples of managed code running in

[2018-03-19 04:44] jkotas commented on #642
The CAS does not provide any strong guarantees. It has been deprecated as security boundary many years ago. Nobody serious is using CAS to enforce security today.

I think there are two main cases:

If you assume that the plugins are assumed to be not actively malicious (you are assuming that with CAS) and the file access restrictions are there just to enforce hygiene, you can ask the plugins to o

[2018-03-19 08:16] rhegner opened #17031 "Missing information about LTS on download page"
The .NET Core download page used to have a clear separation between Current and LTS releases.

This information is missing on the [current page](https://www.microsoft.com/net/download/windows/run).

I want to upgrade my project from 1.1 to 2.0 as soon as there is a LTS version of 2.0 available. But I can't see from that website if 2.0.6 is a LTS version or not.

[2018-03-19 08:47] shahid-pk commented on #17031
2.0.0 is LTS, 2.0.* is bug fixes version so the latest the better and more bug fixes. 1.0.* was LTS and still is. But yes it should be mentioned somewhere if not already.

[2018-03-19 09:59] janvorli commented on #15074
@BruceForstall yes, such a comment in the doc would be great. It seems we should migrate our builds to clang 4.0 then. Other option, if we really wanted to make it work with the 3.9 for some reason too, is to implement the workaround I've mentioned. Detect that the compiler produces faulty synchronization intrinsics at build time and add inline assembler implementation of our interlocked functions

[2018-03-19 11:26] RussKeldorph commented on #17031
This issue was moved to dotnet/core#1360

[2018-03-19 11:26] #17031 closed

[2018-03-19 11:27] 4creators commented on #17027
@tannergooding

JIT_HardwareIntrinsics.X86_Sse2_ConvertToDouble_r_ConvertToDouble_r seems to be recent regression as test was always passing in the same job before.

[2018-03-19 12:43] RussKeldorph commented on #17023
@janvorli I'm not sure where to begin with this.  If you don't either, perhaps it should start in dotnet/cli.

[2018-03-19 13:04] janvorli commented on #17023
@RussKeldorph it seems that dotnet/cli is the right start. My guess is that the failure somehow causes us to generate corrupted contents of the /usr/share/dotnet/sdk/NuGetFallbackFolder.
@aviviadi - if you delete the NuGetFallbackFolder, do things start to work again?

[2018-03-19 13:07] RussKeldorph commented on #17023
This issue was moved to dotnet/cli#8841

[2018-03-19 13:07] #17023 closed

[2018-03-19 13:29] RussKeldorph commented on #16387
@sergign60 Can this issue be closed, or is there more info you're looking for?

[2018-03-19 13:39] RussKeldorph commented on #13542
@evil-shrike I don't have another issue.  I'm suggesting that this issue doesn't have anything to do with the .NET runtime so dotnet/coreclr is not the right place to track it.  It seems to have more to do with ASP.NET or its SDK, so I recommend opening a new issue in an appropriate repo.

If I'm mistaken in my assessment, please accept my apologies.

[2018-03-19 14:01] dmitriyse opened #17032 "Add support for self-modyfing code to JIT and CoreRT. Make C#/IL faster than C++"
Self-modifying code is a code that modyfies itself through execution (https://en.wikipedia.org/wiki/Self-modifying_code)
JIT (RuiJIT) is already a sort of self-modifying code. RuiJIT + Roslyin in general already have all required infrastructure to create advanced self-modifying code.

Primary target:
1) Event-loop with specialized event invocation.
[code]

Other benefits:

It's like an SSE4 CPU bo

[2018-03-19 14:44] jeffschwMSFT commented on #17015
I am aware of this scenario and we have done prototypes with corert.  I am going to move this to future for now.

[2018-03-19 14:56] tannergooding commented on #17027
@4creators, that one has been failing since https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_jitstressregs4/465/

It may have not been running before since the JIT Stress Reg jobs don't set `EnableIncompleteISAClass`.

@CarolEidt, @fiigii, we should ensure we run the full suite of JIT Stress jobs (Reg, GC, etc) on any PR which marks an ISA as complete.

[2018-03-19 15:01] efimackerman commented on #930
@qmfrederik I don't see how my proposal is similar to the one you have mentioned in your comment.

[2018-03-19 15:54] svick commented on #17032
1. There are existing and proposed ways to avoid allocations for delegates (`state` object, static delegates https://github.com/dotnet/csharplang/issues/302), I think they make this proposal less useful.
2. I would like to see some evidence about the claimed 10× speedup in real-world scenarios. Especially consider that in most cases, the code called from an event loop is more than just a few instr

[2018-03-19 16:21] AndyAyersMS commented on #14191
@jorive I'll look at this if you can get me access to the perf HW.

[2018-03-19 16:25] sdmaclea commented on #17020
Arm failures are documented in #16001

[2018-03-19 16:32] jorive commented on #14191
@AndyAyersMS done

[2018-03-19 16:33] Nihlus commented on #930
I've recently released a library which solves most (if not all) of the aforementioned issues, and bundles a cross-platform delegate-based approach into a simple and easy-to-use APIs, which also supports Mono DllMaps, as well as custom library search implementations. The backend is superficially similar to the proposed API in dotnet/corefx#17135, but is abstracted away for ease of use.

On top of t

[2018-03-19 16:37] sdmaclea commented on #17020
@BruceForstall Thanks
@debayang has made some progress on this.  He has been able to run at least one test using a coreoverlay

[2018-03-19 16:42] steveharter opened #17037 "Dotnet crashes"
@Petermarcu commented on [Sun Mar 11 2018](https://github.com/dotnet/core-setup/issues/3818)

@rvhelden opened this here: https://github.com/Microsoft/dotnet/issues/643
While I was expirementing with opencl dotnet was crashing on me in an unusual way, When running the following code, dotnet crashes without any warnings.

    public class CLInvoke
    {
        [DllImport("OpenCL.dll", EntryPoint =

[2018-03-19 16:57] mikedn commented on #17032
I'm not sure what exactly do you need additional CLR support for this. "Self modifying code" is a fancy name for runtime code generation, something that has been available in .NET since day 1 via reflection emit and more recently through higher level features such as `System.Linq.Expressions`.

Yes, CoreRT doesn't support that but then that's an issue for the CoreRT repo.

[2018-03-19 16:57] vancem commented on #9105
For those who want to actually get data on things like this

First there are some performance articles.  The 'Part 2' article is particularly relevant.
* https://blogs.msdn.microsoft.com/vancem/2016/05/13/encore-presentation-measure-early-and-often-for-performance/

The article talks about MeasureIt, which you can get here

* https://blogs.msdn.microsoft.com/vancem/2009/02/06/measureit-update-tool

[2018-03-19 17:48] tannergooding commented on #930
I would like to see `DllMap` (or an equivalent) supported in addition to https://github.com/dotnet/corefx/issues/17135.

I voiced the 'issues' I have with the alternative here: https://github.com/dotnet/corefx/issues/17135#issuecomment-374248831

[2018-03-19 17:50] dmitriyse commented on #17032
1) Probably some improvements are required. Because only JIT can generate x86/64/ARM/... instructions. 2) Also JIT possibly compiles whole method at once and have no any methods to generate "compatible" with each other code from blocks of IL instructions.
3) Patching. Generated x86/64/ARM/... code should be written to target with patches. I thinkg there are no any patching ability in API

[2018-03-19 17:55] mikem8361 commented on #17016
@jaydeept do you have the Microsoft Symbol Server enabled in the Symbols option menu?

I checked the .NET Core 2.0.5 coreclr.pdb and it is on the above symbol server.

[2018-03-19 17:56] BruceForstall commented on #17008
Looks like this was caused by https://github.com/dotnet/coreclr/pull/16966.

You can see this from the job where this started failing on Windows x86: https://ci.dot.net/job/dotnet_coreclr/job/master/job/x86_checked_windows_nt/

@AndyAyersMS PTAL. IMO, revert to fix the pervasive job failures.

[2018-03-19 18:07] mikedn commented on #17032
1. Ah, so you want a way to emit native code directly? That's the kind of thing that sounds nice in theory but it's likely to be messy in practice. It's not like you can emit whatever native code you want, you have to integrate with the runtime (calling conventions, GC write barriers, call various helpers etc.). That's going to make this a rather costly/complex feature with unclear potential...
2.

[2018-03-19 18:25] dmitriyse commented on #17032
Probably there is another approach simpler than Self-modifying code.
But I did not found any one yet.
That's my task description:
1) Single-threaded environment and no any synchronization requied, not any race conditions, memory barriers, etc.
2) I need an event loop that can run scheduled tasks sequencially
3) task is a C# return-less method with unpredictable in-only arguments set, plus some-how

[2018-03-19 18:31] #16938 closed

[2018-03-19 18:58] Thealexbarney commented on #9105
While I can't speak for others, I originally opened the issue/question because we wanted to pass lists of values to a series of functions via an interface like IEnumerable\<T\> or IList\<T\>. These lists were usually in the range of 1 - 100 million elements long.

At first we simply used arrays, which worked perfectly fine. Later someone had a need to accept these values as something other than an

[2018-03-19 19:09] luqunl commented on #16786
@janvorli , Thanks a lot. I will take a look this issue soon. just one question: do you know why we implement UTF8Encoding logic twice-- one in utf8.cpp and the other in UTF8Encoding.cs?

[2018-03-19 19:15] janvorli commented on #16786
@luqunl Yes, I do. The implementation in PAL implements the WideCharToMultiByte and MultiByteToWideChar Windows APIs that we need in the PAL itself and the native part of the runtime.

[2018-03-19 19:50] vancem commented on #9105
It is somewhat unfortunate that we don't have things that look more like the real world example.   I looked at your microbenchmark, and there is a very good chance that what you are measuring is NOT what you think you are measuring.   In particular it is not representative of interface dispatch.

The reason is that the objects you are operating on are Arrays (arrays of primitive types in fact).

[2018-03-19 20:06] jkotas commented on #17037
The crash is caused by unmanaged memory corruption that is caused by mismatched clGetPlatformIDs signature.

Assuming that this for https://www.khronos.org/registry/OpenCL/sdk/1.0/docs/man/xhtml/clGetPlatformIDs.html, the correct  signature should be:

[code]

[2018-03-19 20:06] #17037 closed

[2018-03-19 20:08] luqunl commented on #16786
@janvorli , such as for UTF8 support, the PAL implementation for MultiByteToWideChar in linux could be call back to UTF8Encoding.cs instead of reimplement itself in native code, see following two functions(also other functions) are very similar..

https://github.com/dotnet/coreclr/blob/32f0f9721afb584b4a14d69135bea7ddc129f755/src/pal/src/locale/utf8.cpp#L1603

https://github.com/dotnet/coreclr/blo

[2018-03-19 20:12] janvorli commented on #16786
@luqunl PAL cannot call managed code. It needs to be available even before anything managed can be even executed. Even before the native runtime is initialized.
The reason why they are similar is because the native version was created by taking the managed source code and just modifying it to be compilable as native. Besides the native / managed differences, the code should be "the same".

[2018-03-19 20:19] danmosemsft commented on #7747
@JeremyKuhne is going to find some mitigation for 2.1, and explore a longer term solution for post 2.1. Let's track with this issue.

[2018-03-19 20:25] AndyAyersMS commented on #14191
The timeouts were seen for x86 ryujit (which is not the default x86 jit in 1.1) for reverse-complement-6 and for fasta-1.

[2018-03-19 20:33] luqunl commented on #16786
@janvorli , if PAL cannot call managed code. then Can managed code calls PAL instead(such as OS == Linux, call ...) ? just want to reduce services surface. it is easier for people to update one version and forget another one.

[2018-03-19 20:34] steveharter opened #17043 "Illegal instruction on ARM Cortex-A5"
@lags commented on [Mon Mar 12 2018](https://github.com/dotnet/core-setup/issues/3819)

I have an embedded system with ARM Cortex-A5 (armhf, 32bit).
I have compile console example with target argument "linux-arm" from windows64bit but when i run in board (armhf 32bit) the result is only:
<code>"Illegal Instruction"</code>

How to solve? Anyone use core with Cortex-A5?

My configuration:

Kernel ve

[2018-03-19 20:35] steveharter opened #17044 "Not woring on arm64(aarch64) platform?"
@XZiar commented on [Mon Aug 28 2017](https://github.com/dotnet/core-setup/issues/3111)

I am trying to run dotnet core app on my arm64 board (armbian 5.27(a lightweight Ubuntu Xenial based Linux distribution), kernel:linux 4.11.1，arch:aarch64).
I am following [instruction for raspberry pi](https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md)
But it's not wroking for fail

[2018-03-19 20:36] steveharter opened #17045 "issue with running dotnet cli within gentoo sandbox"
@livarcocc commented on [Tue Jan 09 2018](https://github.com/dotnet/core-setup/issues/3579)

_From @grbd on December 29, 2017 20:39_

Hi,
I've recently been trying to setup some ebuild scripts for gentoo
for the purposes of installing dotnet core 2.0 onto gentoo

Normally the ebuild system within gentoo uses a **sandbox** system while compiling / installing
Normally during the install phase the bu

[2018-03-19 20:40] janvorli commented on #16786
@luqunl That would mean that we would use the managed implementation only on windows. That is not desirable. We really want to have the two versions. The one in PAL used to be different from the managed one and we've reimplemented it so that it matches the windows version to enable easy comparison of the two versions or porting fixes to the native one.

[2018-03-19 20:41] jkotas commented on #16786
Yes, I agree with @janvorli . We really want to have two versions.

[2018-03-19 20:44] jkotas commented on #16786
Also, this bug is likely in the glue code that connects WideCharToMultiByte/MultiByteToWideChar to the worker method, not in the worker method itself.

[2018-03-19 20:47] BruceForstall commented on #8496
fyi, I am working on adding Ubuntu arm32 testing in the dotnet/coreclr CI system, on hardware, with https://github.com/dotnet/coreclr/pull/17018.

[2018-03-19 20:51] mikem8361 commented on #16620
Fixed now.

[2018-03-19 20:51] steveharter opened #17047 "dotnet sln add <project> throws segfault"
@wli3 commented on [Fri Aug 25 2017](https://github.com/dotnet/core-setup/issues/3094)

_From @suvl on August 24, 2017 15:21_

## Steps to reproduce
I've ran `dotnet sln Sib.sln add src/Sib.Console.DataLoader/Sib.Console.DataLoader.csproj`
where the csproj is:

[code]

## Expected  behavior
Well, project gets added to the solution I believe.

## Actual behavior
`$ dotnet sln Sib.sln add src/Sib.Co

[2018-03-19 20:52] mikem8361 commented on #15243
Fixed in #16141.

[2018-03-19 20:52] #15243 closed

[2018-03-19 20:53] BruceForstall commented on #17043
What is the illegal instruction?

It looks like NEON is optional on Cortex-A5, but it is required for CoreCLR.

[2018-03-19 20:54] mikem8361 commented on #8844
See PR #16141.

[2018-03-19 20:54] #8844 closed

[2018-03-19 21:12] lt72 commented on #16274
@noahfalk FYI

[2018-03-19 21:28] fiigii opened #17051 "[RyuJIT] Refactor the codegen/emitter for MOVD/MODQ"
The codegen/emitter of `MOVD`/`MODQ` is very messy in the current backend.
It has several "instructions" to generate `MOVD`/`MODQ` (e.g., `mov_i2xmm`, `mov_xmm2i`, `movd`, and `movd`), but the codegen is not consistent.
For example, `mov_i2xmm` can generate `MOVD` and `MOVQ` based on different emit-size, but it just accepts some of the valid sizes.
[code]

cc @CarolEidt @tannergooding

[2018-03-19 21:47] mikedn commented on #17051
What do you mean? It sounds like a contradiction, either it can generate based on different emit-size or it can't because there are only 2 valid sizes.

[2018-03-19 21:51] fiigii commented on #17051
For example, `mov_i2xmm` + `64-bit` can generate `MOVQ xmm, rax`, but `mov_i2xmm` + `32-bit` does not work, we need `mov_i2xmm` + `128-bit` to generate `MOVD xmm, eax`.

[2018-03-19 22:05] mikedn commented on #17051
Seems to be working fine for me:
[code]
generates
[code]

[2018-03-19 22:05] lt72 commented on #15857
@caslan: do you think this can make it for 2.1? Preview2 is out end of this month, but likely still actionable for later preview...

[2018-03-19 22:13] Ciantic commented on #9960
I think the hard work in https://github.com/aspnet/Common/blob/rel/2.0.0/shared/Microsoft.Extensions.ObjectMethodExecutor.Sources/ObjectMethodExecutor.cs could be turned to a NuGet package meanwhile.

Especially since that is dreaded `internal`, which one can't use without copy & pasting.

[2018-03-19 22:16] Thealexbarney commented on #9105
I guess using arrays wasn't the best way to test this out. The issue wasn't meant to be specifically about arrays, but I used them as an example because they were the simplest way to demonstrate the issue (Or so I thought).

The programs I worked on were related to data processing. One not-too-uncommon operation might be doing this operation on two vectors to produce a third: **c** = sqrt(**a**^2

[2018-03-19 22:22] sbomer commented on #14613
@et1975 are you still able to provide a project link? That would be helpful.

When I compile a console app targeting net462 on macOS, I get an error about missing reference assemblies. Could you explain what you're doing to compile the project?

[2018-03-19 22:24] fiigii commented on #17051
@mikedn Oh, you are right! I used the wrong emit-size in https://github.com/dotnet/coreclr/pull/17030 (should be `emitActualTypeSize` rather than `emitTypeSize`). Thank you!

[2018-03-19 22:24] #17051 closed

[2018-03-19 22:58] AndyAyersMS commented on #17028
Not only always failing but usually taking 4 hours (plus up-front queue delay) to do so...

![image](https://user-images.githubusercontent.com/10121823/37626715-4abf4508-2b8e-11e8-95b1-5092a7b62991.png)

[2018-03-19 23:04] karelz commented on #16686
Looks like it is mostly covered by https://github.com/dotnet/docs/issues/320. Let me know if I misunderstood.

[2018-03-19 23:04] #16686 closed

[2018-03-19 23:21] safern commented on #14876
Would be nice to have an improvement for 2.1 so I'll mark it as 2.1 and up-for-grabs, I don't like the fact of it being O(n*m)

[2018-03-19 23:25] JeremyKuhne commented on #15625
Sorry that this didn't hit my radar- I was out when this was opened. This is by design- you'll need to strip the quotes yourself.

As @danmosemsft mentioned, this would throw in .NET Framework as we would check for "invalid" chars. In .NET Core this didn't as `"` is actually a valid wildcard character (along with `*`, `?`, `>`, `<`). .NET Framework only recognizes `*` and `?`.

In .NET Core 2.1 we

[2018-03-19 23:25] #15625 closed

[2018-03-19 23:54] lags commented on #17043
The result of <code>cat /proc/cpuinfo</code> is
<pre>
root@myboard:~# cat /proc/cpuinfo
processor       : 0
model name      : ARMv7 Processor rev 1 (v7l)
BogoMIPS        : 351.43
Features        : half thumb fastmult vfp edsp vfpv3 vfpv3d16 tls vfpv4
CPU implementer : 0x41
CPU architecture: 7
CPU variant     : 0x0
CPU part        : 0xc05
CPU revision    : 1

Hardware        : Atmel SAMA5
Revision

[2018-03-19 23:56] danmosemsft commented on #17047
@suvl can you please get a stack trace using lldb or gdb? Also what distro/version is this?

[2018-03-20 00:03] mikem8361 commented on #17016
I noticed in the screen capture in https://github.com/aspnet/Home/issues/2798 you didn't have the Microsoft Symbol Server checked in the Options->Debug->Symbols menu.

That would explain why you are not loading symbols for coreclr.pdb.

[2018-03-20 00:09] mikem8361 commented on #16776
This is fixed in the latest master branch build which you can get here: https://github.com/dotnet/core-setup#daily-builds (2.1.0-preview3-26319-04).

[2018-03-20 00:12] BruceForstall commented on #12415
We're not going to change it now.

[2018-03-20 00:12] #12415 closed

[2018-03-20 00:15] benaadams commented on #9105
I could see that scenario easily leading to a x10 perf drop; however you aren't directly comparing the cost of the calls.

The array version will behave like its completely inlined so there will be no calls and things like bounds checking will be hoisted to only be done once per loop; so it will be a negative call cost.

On the other hand `IEnumerable` is quite an expensive abstraction; there's on

[2018-03-20 00:19] benaadams commented on #9105
**td;lr** the biggest cost for interface dispatch and virtual dispatch is loosing the inlines on simple properties/methods; and interface dispatch counts as x2 non-inlines; and `IEnumerable` counts as x4 non inlines.

[2018-03-20 00:28] #17008 closed

[2018-03-20 00:30] RussKeldorph commented on #16696
This issue was moved to dotnet/core-eng#2934

[2018-03-20 00:30] #16696 closed

[2018-03-20 00:34] RussKeldorph commented on #17043
@lags So back to @BruceForstall's original question: What is the illegal instruction?  Can you run it under a debugger?

[2018-03-20 00:40] RussKeldorph commented on #17043
Also if `vfpv3d16` means that only 16 double-precision registers are present, then that probably explains the illegal instruction, since I believe our runtime assumes 32.  I could have sworn NEON requires 32 double registers as well, so either I'm wrong about that our the `CONFIG_NEON=y` thing you reference above doesn't mean NEON is present.

[2018-03-20 00:52] RussKeldorph commented on #17044
@sdmaclea @janvorli This sounds like a case of needing to install the right dependencies for running 32-bit on 64-bit OS or perhaps using the 64-bit version of the runtime that you guys are working on.  If that's the case, perhaps close this?

[2018-03-20 00:52] AndyAyersMS commented on #14191
Also this is for a checked 1.1 build, which requires VS2015. To get past build errors you need to port the fix from #7201.

[2018-03-20 02:03] AndyAyersMS commented on #14191
I can't reproduce these issues on the lab HW.

Both release and checked x86 seem to run fairly quickly whether run under the perf harness or run as standalone tests.

I'm not sure fixing this is all that important at this point. We are only making minimal changes to 1.1 and it's unlikely that enabling either of these tests adds much value. So I would suggest we just close this out.

@jorive any ob

[2018-03-20 02:07] lags commented on #17043
@RussKeldorph i have run simple app with gdb and the results is:
<pre>
root@myboard:~/linux-arm/publish#
root@myboard:~/linux-arm/publish# ./myApp
Illegal instruction
root@myboard:~/linux-arm/publish#
root@myboard:~/linux-arm/publish#
root@myboard:~/linux-arm/publish# gdb myApp
GNU gdb (Debian 7.7.1+dfsg-5) 7.7.1
Copyright (C) 2014 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 o

[2018-03-20 02:25] fiigii opened #17058 "Incorrect and inconsistent AVX/AVX2 MaskStore APIs"
We have the below AVX MaskStore
[code]
That has incorrect base-type of `mask` and `source` and is inconsistent with AVX2 counterparts.
[code]

@CarolEidt @tannergooding @eerhardt

[2018-03-20 02:32] ahsonkhan commented on #11390
I tested on the latest runtime framework version (2.1.0-preview3-26319-04) and still observe the difference in disassembly between the two Span ctors:
![image](https://user-images.githubusercontent.com/6527137/37632574-18d6631e-2bac-11e8-9545-e4f5597f9396.png)

[2018-03-20 02:42] tannergooding commented on #17058
The type is "incorrect" according to the C/C++ intrinsics, but I'm not sure it is actually a problem.

The actual mask just checks for the highest bit, which corresponds to the negative bit for float/double. So nothing would prevent the user from using the API or even require them to do weird things to set the mask appropriately.

[2018-03-20 02:43] tannergooding commented on #17058
In some cases, this might even be beneficial as it means loading the vector can be done more efficiently from xmm to xmm, rather than needing to worry about reg to xmm.

[2018-03-20 02:47] fiigii commented on #17058
I meant,
[code]
should be
[code]

[2018-03-20 02:52] fiigii commented on #17058
[code]
looks also okay to me that is consistent with AVX2 counterparts.

[2018-03-20 03:24] #15189 closed

[2018-03-20 03:58] sdmaclea commented on #17044
@RussKeldorph Agreed

[2018-03-20 04:53] AndyAyersMS commented on #11390
Hmm, is the left one the fixed ctor and the right one the array ctor?

[2018-03-20 05:01] ahsonkhan commented on #11390
No, the other away around. Edited the post above.

Array ctor (red) vs. Pointer ctor (green)

[2018-03-20 09:10] stilettk commented on #14876
Can I grab this issue? I'm a first-time contrubitor and look forward to try!

Current implementation doesn't do this, see inserting `IEnumerable` to the end of the list (`AddEnumerable` method): `_items[_size++] = current;`. I think that for consistency we should either increment `_size` too, or to change existing logic.

[2018-03-20 09:27] loop-evgeny commented on #16620
Thanks, but what exactly was the fix, what version will contain this fix and what command should I use to pipe the output?

[2018-03-20 10:15] QuellaZhang opened #17063 "CoreCLR failed when build with permissive- + MSVC on windows."
CoreCLR failed with error C2760: syntax error: unexpected token 'identifier', expected ';'  when build with permissive- on Windows, I use latest source on master branch. Could you please help take a look at this? Noted that this issue only found when compiles with unreleased vctoolset, that next release of MSVC will have this behavior.

You can repro this issue as the steps below:
1.	git clone htt

[2018-03-20 11:43] jkotas commented on #17063
@QuellaZhang Feel free to submit a fix for this.

[2018-03-20 12:25] janvorli commented on #17043
@lags can you please run the "disass" GDB command right after you hit the illegal instruction in your test? It is not in jitted code, so I would like to see the problematic instruction.

[2018-03-20 12:30] et1975 commented on #14613
@sbomer the sample is linked above (mnist), however I just tried it again and I am not able to reproduce on OSX or Linux with sdk 2.1 and mono 5.10. Your problem doesn't seem related in any case. Closing.

[2018-03-20 12:30] #14613 closed

[2018-03-20 12:37] okodron commented on #12972
Is it possible to use the latest [version](http://lists.gnu.org/archive/html/qemu-devel/2018-03/msg02748.html) of ARM qemu with `membarrier()` support?

[2018-03-20 14:18] gfoidl opened #17065 "Span-perf for copy via loop much slower than array-version"
# Description

In a simple copy-loop Span is a lot slower than an array-version.
I'd expect that Span and array have similar perf.

Note: `Span_CopyTo` is just for reference included.

# Benchmark

## Results

[code]
|      Method |     Mean |     Error |    StdDev | Scaled |
|------------ |---------:|----------:|----------:|-------:|
|       Array | 4.435 us | 0.0400 us | 0.0374 us |   1.00 |
|

[2018-03-20 14:19] gfoidl commented on #17065
/cc @AndyAyersMS  please have a look on this

[2018-03-20 14:49] RussKeldorph commented on #17058
@fiigii Are you going to fix this by the end of March?

[2018-03-20 14:52] RussKeldorph commented on #16387
Re-open or create new issue if this isn't sufficiently answered.

[2018-03-20 14:52] #16387 closed

[2018-03-20 14:54] RussKeldorph commented on #16427
@jkotas / @sergiy-k Could you triage?

[2018-03-20 14:56] RussKeldorph commented on #16925
@jkotas / @sergiy-k / @Lt72 I assume this is Future at best.  Please fix if not.

[2018-03-20 15:14] jkotas commented on #16427
The default ValueType hashcode is poor and has a lot of issues: #1341, #14402, ...

[2018-03-20 15:34] AndyAyersMS commented on #17065
Seems quite odd that `get_Length` is not inlined in the span variant. Can you show the first few lines of the jit-disasm that describe what kind of code the jit was creating?

[2018-03-20 15:36] #16982 closed

[2018-03-20 16:03] lt72 commented on #15857
This should now be working as expected. Closing on behalf of @caslan.
@mikem8361 FYI.

[2018-03-20 16:05] lt72 commented on #12074
This should now be working as expected with the latest d15.7stg and dotnet 2.1.2-preview-007474. Closing on behalf of @caslan.
@mikem8361 FYI

[2018-03-20 16:22] gfoidl commented on #17065
Here is the whole dump this method:
[code]

[2018-03-20 16:57] safern commented on #14876
@stilettk just assigned you the issue. Please feel free to submit a PR whenever you have the fix ready.

[2018-03-20 17:16] mikem8361 commented on #16620
Oops. I closed this one by mistake.

[2018-03-20 17:19] loop-evgeny commented on #16620
Oh.

[2018-03-20 18:00] AndyAyersMS commented on #17065
Since you have the ability to look at jit info, what reason does the jit give for rejecting the inline of `get_Length` (say via `COMPlus_JitPrintInlinedMethods=1`) ?

[2018-03-20 18:08] mikedn commented on #17065
Could it be that this is Unix specific? On Windows this works as expected.

[2018-03-20 18:11] sdmaclea opened #17069 "[Arm64] Remove HACK -- Arm64 does not have corefx jobs yet"
https://github.com/dotnet/coreclr/blob/master/netci.groovy#L2149

CoreFX Arm64 CI jobs are being enabled.  Hopefully https://github.com/dotnet/corefx/pull/28250 will be the last required patch

[2018-03-20 18:19] gfoidl commented on #17065
[code]

I can't verify the dasm on Windows.
But the benchmark numbers are done on Windows 10.
On ubuntu I get similar results.

When I change `ReadOnlySpan<int>` to `Span<int>` it's analog.

[2018-03-20 18:23] mikedn commented on #17065
Well, when I try this the Copy method generates
[code]

[2018-03-20 18:25] fiigii commented on #17058
@RussKeldorph I think it can be done by the end of March, but I am not sure if the API change is allowed for 2.1.
cc @CarolEidt @eerhardt

[2018-03-20 18:26] AndyAyersMS commented on #17065
@gfoidl What sort of build are you using to get the disassembly? If you use `Debug` you can get misleading results. For instance the core library is built differently.

[2018-03-20 18:28] mikedn commented on #17065
Hmm, the array-variant assembly you have shown is a bit misleading, in that case loop cloning kicks in and you show only the loop version without range checks. I don't think loop cloning ever kicks in for span range checks so that version will always be slightly slower even without the weird `Length` inlining failure

[2018-03-20 18:35] gfoidl commented on #17065
@mikedn thx for your https://github.com/dotnet/coreclr/issues/17065#issuecomment-374705550
When I view the disassembly in VS while debugging (Release + suppress JIT optimizations unchecked, ...) then I'll see equal code (Windows)

@AndyAyersMS I followed the steps described in [Viewing JIT Dumps](https://github.com/dotnet/coreclr/blob/master/Documentation/building/viewing-jit-dumps.md). Built from

[2018-03-20 18:39] danmosemsft opened #17070 "Consider debug-only checks on Dictionary<K,V> to flag invalid concurrency"
We could add some asserts that would deterministically throw if a writer thread and another thread ever entered a Dictionary concurrently.

Although CoreFX doesn't run its regular test runs with CHK corelib, Stress runs do and possibly will introduce enough concurrency when they run their tests (I believe they pick a limited number of tests to focus on) to shake out such a bug in CoreFX code.

[2018-03-20 18:45] gfoidl commented on #17065
Thanks for the info! I'll try this.

[2018-03-20 18:48] kouvel commented on #16912
Named mutexes seem to be working fine in docker containers with base images provided here: https://hub.docker.com/r/microsoft/dotnet/tags/, getting more info about the problem on the linked issue.

[2018-03-20 18:48] #16912 closed

[2018-03-20 18:51] eerhardt commented on #17058
Is it possible to still use this API without this change?  Or does the mis-match in the argument types make it unfeasible to use this API properly?

If the scenario is blocked without this change, I would be open to taking an API change.  Better to change the API now than to ship an API that just won't work.

[2018-03-20 18:53] AndyAyersMS commented on #16632
So part of the divergence here is that the struct layout differs on x86 and x64. On x64 we end up with a padding void at the end and so shy away from field-by-field copying.  So likely we need to re-examine the block copy heuristics for x86 and see if they should do block copying more often.

It might also be interesting to compare codegen for examples with no padding and see where we end up (say

[2018-03-20 18:57] mikedn commented on #17065
Yep, I can reproduce your numbers on my machine with the assembly I posted above. Whatever happens on Linux that causes `Length` not to be inlined is a separate issue.

Best I can tell the reason why the span version is slower is a combination of lack of loop cloning and lack of hoisting of destination span field loads. This can be seen if you try the following version:
[code]
that generates
[code

[2018-03-20 18:58] fiigii commented on #17058
These wrong APIs can be "used" with additional `StaticCast`, but all the use cases will be broken after we correct the APIs.

Actually, I think we can push this API change to post-2.1.

[2018-03-20 19:00] rgr21 opened #17071 "JIT bug / GC relocating pinned arrays"
The code below I believe should be stable and run forever, but in practice crashes with AccessViolationException very quickly when built with VS15.5 and running with anything up to and including 4.7.2 preview.
VS 15.4 and earlier generate different IL which doesn't trigger the crash.

I believe that https://github.com/dotnet/roslyn/pull/20548 was the change in Roslyn that introduced the different

[2018-03-20 19:08] benaadams commented on #17071
/cc @Maoni0

[2018-03-20 19:15] AndyAyersMS commented on #17065
I take it we don't promote the destination span and so probably think the writes can alias the span fields?

I have toyed with making the implicit byref promotion more aggressive....

[2018-03-20 19:21] Maoni0 commented on #17071
@RussKeldorph

[2018-03-20 19:22] mikedn commented on #17065
Ah, right. It looks like we do promote but then the local variable associated with the second argument has zero references so I guess promotion was undone in that case. I'll dig a bit more.

[2018-03-20 19:25] AndyAyersMS commented on #17065
Right, we promote and then undo if we don't think it has sufficient benefit.

Logic is in `fgRetypeImplicitByRefArgs`. At the very least that undo decision should be made more obvious in the dumps.

[2018-03-20 19:31] AndyAyersMS commented on #17071
This looks exactly like the bug that #15706 was intended to fix -- the jit is nulling out a pinning slot before the call.
[code]
with gc info:
[code]
I can't get the example to fail with current master.

[2018-03-20 19:38] AndyAyersMS commented on #17071
Current jit codegen unpins after the call, jit dump shows new logic is kicking in.
[code]
So am puzzled how this still repros in a 2.1 preview 1. Are you sure you see it there?

I will have to see where else we ported this fix to see what expected behavior is in desktop and 2.0.x.

[2018-03-20 19:43] AndyAyersMS commented on #17071
Looks like the fix will be in 2.0.7. I had intended to get it into 2.0.6 but that didn't happen.

@briansull do you know if this fix is in 4.7.2?

[2018-03-20 19:43] mikedn commented on #17065
Yeah, it's due to the `varDsc->lvRefCnt <= varDsc->lvFieldCnt` check in `fgRetypeImplicitByRefArgs`. `Span` has only 2 fields so if the ref count is 2 like in the case of `dst` (one ref to get the span pointer and one ref to get the span length for range check) then promotion is undone. The workaround I did above simply added more references so promotion succeeds.

Indeed.

Is this really the righ

[2018-03-20 19:52] gfoidl commented on #17065
Side note: when I view the JIT dasm on Linux as described by Andy in https://github.com/dotnet/coreclr/issues/17065#issuecomment-374712572 `get_Length` is inlined, and the dasm looks quite similar to the windows' one. Thanks again for pointing me in the rigth direction.

[2018-03-20 19:57] mikem8361 commented on #15857
@caslan, @gregg-miskelly how do outside devs get d15.7stg? Can they? I have another issue #16776 that I really think it will be fix.  He has already tried a recent runtime build (2.1.0-preview3-26319-04) and still hits the same exception when using mixed mode debugging on .NET Core.  He is using the sample host (see the issue) but I tried it myself with the sample host, last runtime bits from mast

[2018-03-20 19:59] danmosemsft commented on #14842
Still happening

[2018-03-20 20:02] briansull commented on #17071
No it wasn't fixed when we forked for 4.7.2 in September.

[2018-03-20 20:05] caslan commented on #15857
@wardengnaw, can you double check if 15.7 Preview 1 has your changes?

[2018-03-20 20:07] benaadams commented on #17070
I can take this on; Debug mode means I can use interlocked, so can go strong

[2018-03-20 20:11] RussKeldorph commented on #17069
Hint: press 'y' after clicking the link above to get perma-link

https://github.com/dotnet/coreclr/blob/e431eb23fc21b773c17b96bb0f8189597d436b98/netci.groovy#L2149

[2018-03-20 20:21] AndyAyersMS commented on #17071
@rgr21 thanks for reporting this.

Can you confirm you can reproduce in a 2.1 preview 1? I'll try and do the same. If you can repro, please send us the detailed version info.

I recall there were some fairly simple low-impact workarounds. Let me know if those would interest you and I'll go dig up the details.

[2018-03-20 20:22] #16710 closed

[2018-03-20 20:24] mikedn opened #17073 "CQ issues with HW intrinsics that return bool"
HW intrinsics that produce a bool value need special handling when the value they produce is used by a conditional branch. As is now the intrinsic node produces the value in a register and then an additional test is required to check for false/true and branch.
For example
[code]
generates
[code]
but it should generate something like
[code]
As far as I can tell this affects pretty much all HW intri

[2018-03-20 20:27] sandreenko commented on #16710
Thanks @nategraf

[2018-03-20 20:27] safern commented on #17070
Marked as future, but @benaadams if you want to take it might be a nice to have Debug code in 2.1

[2018-03-20 20:29] mikedn commented on #17073
Fixing this will probably require handling such nodes in lowering, similar to what we do for SIMD equality/inequality in `LowerSIMD`. Though it's going to be a bit more complicated due to the need to support floating point conditions...

I can probably take care of this post 2.1.

[2018-03-20 20:34] #17063 closed

[2018-03-20 20:34] rgr21 commented on #17071
I've left the office now, but will still have the VM I ran 2.1 preview 1 test in to confirm tomorrow morning (UK). It reproduced quickly and easily with that code, so if you think that patch should have fixed it and are struggling to reproduce then you are probably right and I ran a test wrong today.
I'm most interesting in 4.7.x to be honest. If there are workarounds there I would be very interes

[2018-03-20 20:36] RussKeldorph commented on #17073
@fiigii @dotnet/jit-contrib

[2018-03-20 20:50] WardenGnaw commented on #15857
15.7 Preview 1 has my changes

[2018-03-20 20:52] gregg-miskelly commented on #15857
Here is the download location for the Visual Studio preview channel: https://www.visualstudio.com/vs/preview/

[2018-03-20 20:53] mikem8361 commented on #16776
@amos402, it looks like you will also need VS 15.7 Preview 1 for mixed mode just-in-time debugging to work from here: https://www.visualstudio.com/vs/preview/

[2018-03-20 20:54] fiigii commented on #17073
@mikedn Thank you so much for opening this issue and providing the solution. I have also considered this problem. Looks like we can use `GTF_USE_FLAGS` to guide the backend generating the "bool value" or not, right?

[2018-03-20 21:10] mikedn commented on #17073
Probably not, GTF_USE_FLAGS is mostly useless (and confusing). `LowerSIMD` changes the type of the SIMD node to `TYP_VOID` and then relies on SETCC to produce a bool value or JCC to do a conditional branch. In some other cases we only change the node type to `TYP_VOID` only when the node is used together with a conditional branch and leave the type unchanged otherwise (and expect codegen to produc

[2018-03-20 21:10] kouvel commented on #16564
There are many tests that take an unreasonably long time under GCStress, this may just be one of those cases where it should be disabled for GCStress runs.

[2018-03-20 21:11] CarolEidt commented on #17058
I think that's the right thing to do.

[2018-03-20 21:15] AndyAyersMS commented on #17071
Something like the following should work. Note `Workaround` gets inlined and so has no perf impact whatsoever. Its main purpose is to make the jit think that there is a potential side effect after the call; this blocks the inadvertent reordering of the call and the unpin.

You will need something like this whenever a fixed block ends in a call and the return value from that call is directly set up

[2018-03-20 21:17] mikem8361 commented on #16526
@loop-evgeny, can I close this issue? Have your problems been addressed?

[2018-03-20 21:30] BruceForstall opened #17075 "[RyuJIT/arm32] CQ: enable InterlockedCmpXchg32 intrinsic"
Currently, ARM does not generate GT_CMPXCHG nodes; all other targets do.

From the importer:
[code]

Also, in codegenarmarch.cpp, genCodeForTreeNode:
[code]

[2018-03-20 21:33] benaadams commented on #17070
https://github.com/dotnet/coreclr/pull/17076

[2018-03-20 21:33] briansull commented on #17073
The Intel 8087, announced in 1980, was the first x87 floating-point coprocessor for the 8086 line of microprocessors.
The 8087 was initially conceived by Bill Pohlman, the engineering manager at Intel who oversaw the development of the 8086 chip. Bill took steps to be sure that the 8086 chip could support a yet-to-be-developed math chip.
The 8087 was an advanced IC for its time, pushing the limits

[2018-03-20 21:40] AndyAyersMS commented on #17071
The bug is fixed in the "official" [2.1 preview 1](https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.1.0-preview1-download.md), which is 2.1.0-preview1-26216-03.

Pre-release versions of this preview (eg nightly builds) may also report as 2.1.0-preview1 but will have smaller build numbers. For instance I had 2.1.0-preview1-25915-01 on one of my machines and it still had

[2018-03-20 21:44] BruceForstall commented on #17075
Related: #13000

[2018-03-20 21:55] mikedn commented on #17075
But does ARM has the necessary instruction(s) to implement this? AFAIR I once looked at this and couldn't find anything clear. And ARM codegenlegacy is also NYI.

[2018-03-20 21:58] Drawaes commented on #16833
/cc @janvorli Any chance of this being patched in 2.0x ? Its an issue that was found in that and is causing problems that we would rather resolve without having to wait/go through 2.1 updates and testing?

[2018-03-20 22:00] AndyAyersMS commented on #17065
@gfoidl that's good to hear. We should probably update that document since I suspect most people who want to look at jit disassembly and behavior are interested in what happens when code is optimized.

So we're left with the fact that the span version has an extra load (from the promote-unpromote dance we do with `dst`) and an extra range check for `dst` (since we don't clone for spans because the

[2018-03-20 22:04] mikedn commented on #17075
I see that ARM32 GCC generates a call to a library function for `std::atomic_compare_exchange_strong/weak`.

[2018-03-20 22:04] janvorli commented on #16833
@Petermarcu what do you think about porting the fix?

[2018-03-20 22:14] lags commented on #17043
Sure @janvorli ... This is:

<pre>
root@myboard:~/linux-arm/publish# ./myApp
Illegal instruction
root@myboard:~/linux-arm/publish# gdb myApp
GNU gdb (Debian 7.7.1+dfsg-5) 7.7.1
Copyright (C) 2014 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the

[2018-03-20 22:14] gfoidl commented on #17065
Thanks for the insights 👍

I'll try to update it and send an PR.

[2018-03-20 22:22] BruceForstall commented on #17075
The right answer very well might be that this is something we won't change. In which case, we can remove these TODOs and NYI. The VM helper must do something, though, so it's a matter of "inline" that, or not.

I'm just auditing existing NYI and splitting them into separate images.

[2018-03-20 22:38] CarolEidt commented on #17073
I agree that the right approach would be similar to what's done for the SIMD equality comparisons, and that the trickiest part will be adding support for floating point conditions. Do you think you would take the approach of extending `JCC` and `SETCC` or distinct nodes for floating point conditions?

[2018-03-20 22:40] BruceForstall commented on #17043
So the illegal instruction appears to be:
[code]
At the top you showed:
[code]
and @RussKeldorph pointed out:
[code]
It appears the runtime is built for VFPV3-D32. Not sure that's required, as the JIT would work fine with VFPV3-D16 (the JIT doesn't know about or use D16-D31, if they exist).
But "Features" also says "vfpv4" which I thought included registers D16-D31, non-optionally.

Although you s

[2018-03-20 22:49] janvorli commented on #17043
The cortex a5 neon doc on the arm site says:
The Cortex-A5 NEON MPE extends the Cortex-A5 functionality to provide support for the
ARM v7 Advanced SIMD v2 and Vector Floating-Point v4 (VFPv4) instruction sets. The
Cortex-A5 NEON MPE supports all addressing modes and data-processing operations
described in the ARM Architecture Reference Manual.
The Cortex-A5 NEON MPE features are:
• SIMD and scalar

[2018-03-20 23:08] lags commented on #17043
My board is based to ATMEL SAMA5D31 [link here](http://www.microchip.com/wwwproducts/en/ATSAMA5D31) and [datasheet](http://ww1.microchip.com/downloads/en/DeviceDoc/Atmel-11121-32-bit-Cortex-A5-Microcontroller-SAMA5D3_Datasheet.pdf).
I thought that probably this cpu is not compatible because neon is not present as read into page 40 of datasheet:
<pre>
Description
The ARM Cortex-A5 processor is a hi

[2018-03-20 23:09] BruceForstall commented on #17043
Looks like NEON was optional for Cortex-A5, and without NEON, you could have a Cortex-A5 with VFPv4-D16. With NEON, you would get VFPv4-D32.

Looks like we build CLR with "-mfpu=vfpv3" (compileoptions.cmake), which gives 32 64-bit FP registers. Presumably the Windows C++ model is the same.

Theoretically we could build with "-mfpu=vfpv3-d16" (maybe with changes required internally for register sav

[2018-03-20 23:12] mikedn commented on #17073
Likely, I have code for that in the if-conversion pull request. The main problem I have is with FP condition reversal in an attempt to use FP conditions that produce simpler code.
* For relop + JTRUE reversal is done in `genCompareFloat` and `ContainCheckCompare`
* For CMP + JCC reversal has to be done in lowering because you need to know the condition to swap compare operands but since the condit

[2018-03-20 23:26] sdmaclea commented on #17069
@RussKeldorph Thanks

[2018-03-20 23:27] BruceForstall commented on #17075
Also CORINFO_INTRINSIC_InterlockedAdd32, CORINFO_INTRINSIC_InterlockedXAdd32, CORINFO_INTRINSIC_InterlockedXchg32 (GT_LOCKADD, GT_XADD, GT_XCHG). See impIntrinsic().

[2018-03-20 23:30] brianrob commented on #15494
Not required for 2.1, moving to future.

[2018-03-20 23:30] brianrob commented on #11559
Not required for 2.1.  Moving to future.

[2018-03-21 00:52] mikedn commented on #17065
Which actually works pretty well already ... until you have a store through a byref that the JIT can't figure out that it doesn't alias the implicit byref argument:
[code]
generates
[code]
All the loads and invariant expression have been hoisted out of the loop. If the `mem += ss.c` line is uncommented it all goes down the drain even if `mem` can't point to one of the struct arguments.

But of cou

[2018-03-21 01:16] AndyAyersMS commented on #11390
I'll take another look, but the preferencing code in the allocator is pretty touchy. So improving this for 2.1 is a long shot.

But we can at least see where and why it reverted or whether I fooled myself into thinking I had fixed it.

[2018-03-21 01:20] AndyAyersMS commented on #16601
@jorive please ping me when you have a benchview setup that will let me look back over longer time spans.

[2018-03-21 01:48] AndyAyersMS commented on #16530
Did a cursory inspection of the uses of `gtFldOffset` and did not see anything troubling other than the one place we already addressed.

So I'm going to close this.

[2018-03-21 01:48] #16530 closed

[2018-03-21 01:54] jorive commented on #14191
@AndyAyersMS I would close it as no repro. We can always open a new issue with more details if we encounter a new problem.

[2018-03-21 01:56] AndyAyersMS commented on #14191
Sounds good. Closing.

[2018-03-21 01:56] #14191 closed

[2018-03-21 01:58] XZiar commented on #17044
Sorry for keeping that issue open.
There's still no official arm64 runtime package and it seems it is still under development.
I am not working on that arm64 board any more, so I have no way to test it.
If this issue brings inconvenience to you, please just close it.

[2018-03-21 02:02] AndyAyersMS commented on #16370
Can we close this, or does somebody need to verify the fix?

[2018-03-21 02:04] fiigii commented on #16370
Yes, it has been fixed by #16957

[2018-03-21 02:11] #16370 closed

[2018-03-21 03:21] BruceForstall opened #17084 "[RyuJIT/arm32/arm64] CQ: implement containment for 0.0 in vcmp/fcmp"
Related to #17083

[2018-03-21 07:30] sergign60 commented on #16564
@RussKeldorph @janvorli @jkotas @BruceForstall
Could you explain how  coreclr works when the ```GCStress``` environment variable is set. I didn't find any description in documentation. All that I see now, so is explosive growth of numbers of allocation of memory at increasing array dimension in this test ```var arr = new object[...];``` (I used values 16, 32 and so on) when ```GCStress``` is set.

[2018-03-21 07:33] BredPet opened #17089 "[x86/ARM32/RuyJit] Zero relocation"
I try to compile with ILC compiler some ARM sample by x86 environment with armelnonjit. There is a problem with recordRelocation. [Here](https://github.com/dotnet/coreclr/blob/master/src/jit/emitarm.cpp#L6036) imm comes with zero value from genSetRegToConst. I'm trying to figure it out okay or not? Why is there a value of 0 and the relocation flag is set? Can I just protect and do not create reloc

[2018-03-21 08:06] rgr21 commented on #17071
2.1.300-preview1-008174

Fails the test (from https://download.microsoft.com/download/D/7/8/D788D3CD-44C4-487D-829B-413E914FB1C3/dotnet-sdk-2.1.300-preview1-008174-win-x64.exe)

However
https://download.microsoft.com/download/A/B/1/AB1AA972-8F2F-43AD-9A81-72E9245CB0F5/dotnet-runtime-2.1.0-preview1-26216-03-win-x64.exe
seems to work. Both are from the page you linked, so something not entirely cons

[2018-03-21 08:35] debayang commented on #17020
Proposed PR #17090 with initial failed tests seen on arm64 Ubuntu

[2018-03-21 09:11] debayang commented on #17020
Some details on the failed tests:

Many of the failing tests (listed below) are seen failing due to OutofMemoryException :
**System.Composition.Tests**, **System.Linq.Expressions.Tests** , **System.Linq.Queryable.Tests**, **System.Dynamic.Runtime.Tests**, **System.Numerics.Vectors.Tests**, **System.Xml.Xsl.XslCompiledTransformApi.Tests**

Some examples:
[code]
[code]

 **Other failures:**

 **Inva

[2018-03-21 09:18] janvorli commented on #16564
@sergign60 COMPlus_GCStress induces GC to happen at certain points. There are several modes of the stress which can be combined:
* Mode 1 - GC is induced on every allocation
* Mode 2 - GC is induced on every transition to preemptive GC
* Mode 4 - GC is induced after every allowable machine code instruction executed in the jitted code.
* Mode 8 - GC is induced after every allowable machine code ins

[2018-03-21 09:19] loop-evgeny commented on #16526
Yes - thanks!

[2018-03-21 09:19] #16526 closed

[2018-03-21 09:24] sergign60 commented on #16564
@dotnet/arm32-contrib  @RussKeldorph @janvorli @jkotas @kouvel
I've counted calls of ```GCHeapUtilities::GetGCHeap()->Alloc``` in the function ```src/vm/gchelpers.cpp: Object* Alloc``` depending on the array size ```	var arr = new object[Size*Size]```

[code]

[2018-03-21 09:28] sergign60 commented on #16564
@janvorli many thanks!

[2018-03-21 10:31] RussKeldorph commented on #16564
@sergign60 Thanks for finding and looking into this.  You can disable the test under GCStress by setting the `GCStressIncompatible` attribute in the project file (like [this](https://github.com/dotnet/coreclr/blob/25dbd547bc7372906357699a24d7cf76786a50c8/tests/src/GC/Scenarios/FinalizeTimeout/FinalizeTimeout.csproj#L10).

Note that the project file already sets COMPlus_FastGCStress=1 when running

[2018-03-21 11:44] sergign60 commented on #16564
https://github.com/dotnet/coreclr/pull/17091

[2018-03-21 13:22] amos402 commented on #16776
I have tried that, VS 15.7 Preview 1 just with same error.

[2018-03-21 13:29] GPSnoopy commented on #17071
I would be interested in having this fix backported into .NET 4.7.2 as well.

Otherwise it means I cannot trust any of the unsafe calls to native DLLs involving pinning. Looking at the example above, reproducing the issue requires the GC to move the supposedly pinned array concurrently to being used in unsafe code. This implies chasing a weird race condition in production. Not ideal :-\

[2018-03-21 14:42] jkotas commented on #17089
What is the code that causes us to hit this path?

This can be a problem on CoreCLR as well.

[2018-03-21 15:57] BredPet commented on #17089
@jkotas
[code]
Maybe it's important, this only happens when the compilation is in release mode(ilc release build, CoreCLR release), debug compilation runs successfully.

[2018-03-21 16:00] jkotas commented on #17089
This is probably hit by one of the framework methods. Could you please find out the exact method name that hits this?

[2018-03-21 16:02] Tornhoof opened #17093 "Slow span with stackalloc on netcoreap 2.1-preview1-final"
Scenario:
I'm generating Guids and modify some values to form a CombGuid, so I thought with netcoreapp2.1 I can use ``Span<byte>`` for it. Well for some reason, as soon as I use ``Span<byte>`` and especially ``Span<byte>`` with stackalloc it's slower than the simple ``ToByteArray``.
As far as I see the ctor of the Guid with the Span (conversion to ReadOnlySpan?) is doing way much more work than th

[2018-03-21 16:32] #16564 closed

[2018-03-21 16:34] BruceForstall opened #17095 "Arm64 Ubuntu CI test failures"
The debug/checked/release "small page size" test jobs all fail with:
[code]

e.g.:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_debug_small_page_size_tst/845/console
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_release_small_page_size_tst/818/console
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_checked_small_page_size_tst/810/console

[2018-03-21 16:34] BruceForstall commented on #17095
cc @jashook @RussKeldorph

[2018-03-21 17:13] kouvel opened #17098 "Named mutex creation not working in some docker images"
Forked from https://github.com/dotnet/roslyn/issues/24124

Info so far:
- We don't yet have a repeatable set of repro steps
- /tmp appears to be mapped to the host in some unusual way. It is not clear yet what is remapping it, if it is mapped already in the base image, if that is a standard thing to do, or if that is the cause of the problem
- Named mutex creation fails (see logs in original issue

[2018-03-21 17:13] kouvel commented on #17098
Named mutexes work as expected on the Microsoft-published 2.0.6-runtime docker image, need to try with SDK above and using the script.

[2018-03-21 17:15] AndyAyersMS opened #17099 "Arm64 altjit simd issues"
We now encounter a few SIMD methods during app startup. These necessarily must be jitted. Running with an arm64 altjit these hit the following assert saying that a local is inconsistently viewed as SIMD:
[code]
Upshot is that because AMD64 and ARM64 can disagree on SIMD length so we may fail to recognize SIMD types in some altjit contexts as the two platforms support different lengths and w use le

[2018-03-21 17:19] kouvel commented on #17098
Some pending questions:
- Which base docker image is being used? A repeatable set of repro steps would be preferable, starting with the Dockerfile.
- What is the output of df -h /tmp?
- Is there some setup step that is remapping tmp or is that already done in the base image?

[2018-03-21 17:30] sdmaclea commented on #17099
I did not specifically enable testing of the 8-byte size.  I do not remember hitting any 8 byte specific bugs during implementation.

[2018-03-21 17:47] AndyAyersMS commented on #16377
Ran into #17099 while trying to repro this via an altjit. Can workaround for now by restricting COMPlus_AltJit to just be the method that hits the assert.

I have extracted the CoreFX test into a standalone case which repros the assert.
[code]

[2018-03-21 17:50] AndyAyersMS commented on #17093
You should see some improvement from #16220. This is not in preview1 but will be in preview2.

[2018-03-21 17:51] mikem8361 commented on #16776
Sorry about all the back and forward but I want to be clear: did you try VS 15.7 Preview 1 and the 2.1.0-preview3-26319-04 version of the runtime?

There were two problems that needed to be fixed: one in VS and one in coreclr.

[2018-03-21 18:06] sebastienros commented on #17098
[code]

Docker file:
https://github.com/aspnet/benchmarks/blob/dev/docker/benchmarks/Dockerfile

Started using this command:
https://github.com/aspnet/benchmarks/blob/dev/docker/benchmarks/run-server.sh#L78

Then dotnet is installed at runtime using `dotnet-install` and the application that we try to build using it is https://github.com/aspnet/benchmarks/tree/dev/src/Benchmarks

I can also give yo

[2018-03-21 18:12] CarolEidt commented on #17099
One thing that might work **for now** would be that if `COMPlus_AltJit` is set at all, then the default size of 16 would be used. This would probably require not-insignificant (though presumably not major) work to identify and fix dependencies between whether AVX2 is supported and the type size being 32.

The reason I say that this might only work **for now** is that both x86 and arm64 support 16-

[2018-03-21 18:25] fiigii commented on #16632
@AndyAyersMS Sorry for the delay to reply. I think the possible issue in the above code sequence may be **store forward**. If the value of `edx` and `esp` are overlapping (or same), the different size of memory read and write may hit store forward.
[code]

Please see the _chapter 3.6.5 of Intel® 64 and IA-32 Architectures
Optimization Reference Manual_ for more details.

[2018-03-21 19:24] BruceForstall commented on #17099
We currently have (clrconfigvalues.h):
[code]
Introduced with #14633, it is set when running x64_arm64_altjit CI jobs. Probably should be set for anytime using this altjit.

[2018-03-21 19:28] AndyAyersMS commented on #17093
Just to follow up, with latest master (approximately what will be in preview2) I see comparable performance:

[code]
Codegen for `CombGuidSpanHeap` and `CombGuidStackalloc` is also comparable. Former has some extra overhead for the heap allocation/array creation which makes it slower. Latter has a bit of extra code at the end to verify the stack cookie but that is fairly cheap.

[2018-03-21 19:31] AndyAyersMS commented on #17093
Let me know if you would like to verify this is fixed for you with more recent builds, and we'll leave this open until you do.

[2018-03-21 19:32] mikedn commented on #16632
Those dword movq instruction are dubious, they're likely qword sized, not dword.

Mixing ALU instructions that modify ESP and push instructions will probably result in extra uops needed to synchronize the stack engine with the ALU. But it's probably a wash since the alternative of using only pushes would require extra instructions. Or you can try to not use any pushes but then the code gets larger

[2018-03-21 19:43] mikem8361 commented on #13471
Fixed with PR https://github.com/dotnet/coreclr/pull/17102

[2018-03-21 19:43] #13471 closed

[2018-03-21 20:24] Tornhoof commented on #17093
Thank you for your tests, with that new fancy benchmarkdotnet feature to run any corefx/coreclr build I checked that it is indeed faster on ore recent builds (albeit on a different system):

[code]
|             Method |              Toolchain |     Mean |     Error |    StdDev |  Gen 0 | Allocated |
|------------------- |----------------------- |---------:|----------:|----------:|-------:|-------

[2018-03-21 20:24] #17093 closed

[2018-03-21 20:27] qmfrederik commented on #17098
@kouvel I'm also hitting this problem.

* Base docker image: https://github.com/quamotion/docker-build/blob/702149e543712a185c76bd9af8ee67f61e3ec835/gitlab-linux/Dockerfile, or `docker pull quay.io/quamotion/gitlab-runner-linux:10.3.0-u1`
* Not sure, need to run
* Not in the base image as far as I know, but this runs as a GitLab Docker agent; not sure whether they remap `/tmp` or not.

[2018-03-21 20:28] qmfrederik commented on #17098
Also want to add that the docker images have access to 32 cores, not sure if that's relevant. We migrated to 32 cores about at the same time when we started seeing this issue, not sure if it's related or not.

[2018-03-21 20:31] #11725 closed

[2018-03-21 21:38] AndyAyersMS commented on #17099
Not sure how pressing this is (in particular the ifdef in the runtime) so putting in Future for now.

[2018-03-21 22:14] fiigii commented on #16632
More profiling data (i.e., PMU data from VTune) would be useful to root cause this issue.

[2018-03-21 22:33] mikeharder commented on #17098
@kouvel: I was also able to repro this twice today, but I can't get it to repro again.  The app I was compiling was under `/tmp`, but `/tmp` is not remapped:

[code]

Here's the dockerfile I used:

[code]

[2018-03-21 22:44] mikem8361 commented on #15273
debugging doc updated in master PR #17107

[2018-03-21 22:44] #15273 closed

[2018-03-21 22:51] fiigii opened #17108 "[RyuJIT] Delay fallback-replacement of imm-intrinsics for better CQ"
Now, certain hardware intrinsics that accept an `imm8` argument would be replaced by a function call (usually the function body is big jump-table) if the `imm8` argument is not a JIT time constant.

This feature provides more stable runtime behaviors instead of throwing exceptions, but it may cause the significant performance regression, so we should avoid the fallback-replacement if possible.

Fo

[2018-03-21 23:02] Maoni0 commented on #7747
I am fine with not having GC clear the memory for large buffers - as a matter of fact for any large object, it's fine to have some way to tell the GC to not clear memory. the GCHeap::Alloc APIs already take a flag - you could indicate something in the flags.

[2018-03-21 23:04] ahsonkhan commented on #16614
Deferring to future, similar to related Clear optimizations: https://github.com/dotnet/corefx/issues/26604

cc @joshfree

[2018-03-21 23:09] AndyAyersMS commented on #16844
Can we get an updated status here? Is this now fixed?

[2018-03-21 23:10] fiigii commented on #16844
Yes, please close.

[2018-03-21 23:18] sdmaclea commented on #16844
It is fixed in the master branch.
It is still failing in the release_2.1 branch.

I am assuming release_2.1 will get a refresh around ZBB. So this can be closed

[2018-03-21 23:18] #16844 closed

[2018-03-21 23:35] eerhardt opened #17109 "x86_arm/crossgen seg faults for System.Collections"
## Repro steps:

Run the `x86_arm/crossgen` against `System.Collections`.

[code]

## Error

[code]

Attaching a debugger reveals:

[code]

/cc @echesakovMSFT @jashook @RussKeldorph

[2018-03-21 23:37] RussKeldorph commented on #17109
@nattress @sergiy-k @jkotas

[2018-03-21 23:39] AndyAyersMS commented on #17027
Think the ConvertToDouble case may need to use `movsdsse2` to distinguish it from the normal `movsd`. Trying that now.

[2018-03-21 23:46] AndyAyersMS commented on #17027
Seems like that did the trick; the StressRegs=4 needs one reg, reg movsd while without stress regs the movsds are all reg/mem variants.
[code]

[2018-03-22 00:01] Petermarcu commented on #16833
I think we can take it in the next available train. Ask @leecow which one makes sense.

[2018-03-22 00:09] leecow commented on #16833
May Update will be the next opportunity.

[2018-03-22 00:13] sdmaclea opened #17111 "[Arm64] Jit stress fails JIT/HardwareIntrinsics/Arm64/Simd"
`JIT/HardwareIntrinsics/Arm64/Simd/Simd.sh`
Is failing in many jit stress modes

[code]

Initial look showed test fialing in Extract.  This looks like the same issue which #16310 is trying to fix, which caused portions of the same subtest to be disabled.

[2018-03-22 00:14] stilettk commented on #14876
As far as I can see, there are currently no tests for `InsertRange` with `IEnumerable` in CoreFX (because test collection implements `ICollection`, as seen [here](https://github.com/dotnet/corefx/blob/2977973c594793f3671e86066cbb2f8ba6a42d29/src/System.Collections/tests/Generic/List/List.Generic.Tests.Misc.cs#L205)).

So it would be great to add tests for `InsertRange` with `IEnumerable`. But I ha

[2018-03-22 00:15] poizan42 commented on #17071
@GPSnoopy This is far worse than random crashes - JIT bugs tends to be that. Consider e.g. https://referencesource.microsoft.com/#System/net/System/Net/Sockets/Socket.cs,1778 - what happens if the buffer gets relocated before another packet is received? Yeah, the client gets to write to some other memory, probably still on the managed heap. Likely to be exploitable in some software out there.

I t

[2018-03-22 00:26] BruceForstall commented on #16827
Related: https://github.com/dotnet/coreclr/pull/14481.

It looks like we do currently change RSP as we probe, so I'm wondering what the current "bad" prolog probe code looks like that @janvorli was looking at.

However, it appears our current probe code does not work on Windows AMD64. An exception thrown within the probe loop (e.g., on the probe instruction) fails to unwind because the static prol

[2018-03-22 01:00] 4creators commented on #17108
IMO the part of function for extracting elements with index > 15 should not be implemented. Developers using HW intrinsics should be able to write  `Sse41.Extract(Avx.ExtractVector128(value, 1), (byte)(index - 16))` by themselves with explicit usage of constant parameters instead of `index - 16`. To help in that it should be sufficient to indicate it in docs.

However, this functionality should be

[2018-03-22 01:11] AndyAyersMS commented on #17027
I can't repro the k-nucleotide-9 failure in isolation (tried may be 50 runs). Seems like in CI we may be running a lot of tests concurrently and this test is multithreaded so it may experience quite different scheduling on a heavily loaded machine. So I'll see if I can simulate that sort of setup.

[2018-03-22 01:40] tannergooding commented on #17108
@4creators, I don't agree. This is a helper function for extracting the proper element of a 256-bit vector. This includes the upper 16 indices.

I believe this is one of the "core" helper intrinsics that should be provided by the framework.

[2018-03-22 01:54] amos402 commented on #16776
@mikem8361 Yes, I'm sure about that.
![default](https://user-images.githubusercontent.com/3406561/37746591-f43a7aca-2db5-11e8-9f2e-52c449d8fc66.png)
![default](https://user-images.githubusercontent.com/3406561/37746595-f943dba6-2db5-11e8-8030-9515b0c6a0b4.png)
![asd](https://user-images.githubusercontent.com/3406561/37746796-e67340ec-2db6-11e8-9bc6-66e592894e6d.gif)

[2018-03-22 02:13] echesakovMSFT commented on #17109
The segmentation fault happens during ```Compiling method SortedSet`1.SortedSetEquals``` in zapinfo.cpp:320
`320             ZapNodeType type = pTarget->GetType();` due to `pTarget` being `NULL`

I could reproduce the issue only for Release x86_arm/crossgen. Release and Checked arm_arm/crossgen and Checked x86_arm/crossgen does not have the issue.

Also tried to specify Checked version of libclrji

[2018-03-22 02:14] noahfalk commented on #16274
Hi @ww898 , very sorry I hadn't noticed this one earlier.

As an official .NET API, the solutions appear limited. You could determine that the address of the static was itself on the GC heap and then use the GC heap callbacks to detect when the containing object was collected. Although enumerating the GC heap can be fairly heavyweight it sounds like you may already be collecting this information.

[2018-03-22 02:17] echesakovMSFT commented on #17109
/cc @dotnet/jit-contrib

[2018-03-22 02:17] fiigii commented on #17108
@4creators This is just an example that shows the optimization opportunity and the users may write.

I have moved the implementation of `Avx.Insert/Extract` into the JIT compiler https://github.com/dotnet/coreclr/pull/17030

[2018-03-22 02:35] AndyAyersMS commented on #17027
Ok, I can repro it now, maybe once every 20 runs or so.

[2018-03-22 04:31] davmason opened #17116 "[local gc] dynamic event pipeline does not build correctly on linux"
There's a clang/msvc difference that causes defining a gc dynamic event to break the linux build. The fix is simple, just reordering some function definitions, and I'll have a PR out soon

[2018-03-22 04:33] davmason opened #17117 "[local gc] softwarewritewatch throws an assert when running under local gc"
To repro, build a private debug runtime, then turn on local gc with `set COMPLUS_GCName=<path to clrgc.dll>`

Then this assert will fire repeatedly: https://github.com/dotnet/coreclr/blob/0597eed6a6674ad0b0f531a851475c212c7478c5/src/gc/softwarewritewatch.cpp#L88

[2018-03-22 04:37] jkotas commented on #17089
https://github.com/dotnet/coreclr/issues/17109 looks like exactly same problem.

[2018-03-22 04:38] jkotas commented on #17109
Same problem reported by @BredPet as #17089

[2018-03-22 04:38] davmason opened #17118 "[local gc] LogAlways is not handled correctly for local gc"
In GCEventStatus::Set https://github.com/dotnet/coreclr/blob/a4845dca1e1edffe07286d0c8ddff04aadab0181/src/gc/gceventstatus.h#L86-L99

If the provider is turned on with LogAlways, the value of level will be 255 and at the very least the assert will fire, I haven't dug through the code path yet and it also may not do what's expected.

[2018-03-22 04:39] jkotas commented on #17109
Right, that's problem. recordRelocation is not supposed to be called with null target.

[2018-03-22 07:33] ashishnegi opened #17120 "structure of nupkg for targetting multiple frameworks each with different dll"
I have a c# library. It has some different apis in netstandard than net47.

I want to generate a nupkg which should be usable from both .netfx and coreclr projects. So, if someone creates a fullframework net46/net47 project Or coreclr project targeting netcoreapp2.0, it should pick up dll based on its version.

I have the following structure of nupkg :

[code]

This is working for me.

However, wh

[2018-03-22 07:36] BredPet commented on #17089
[S.P.CompilerGenerated]Internal.CompilerGenerated.<Module>.InvokeRetO<int64>(object,native int,ArgSetupState&,bool)

[2018-03-22 07:38] safern commented on #14876
I might be missing something but I see that the method we're using to get the items from returns an `IEnumerable<T>` from a given `T[]`

If you add more tests while solving this issue would be great, no need to have a separate issue.

Actually your changes should be in CoreCLR since the implementation lives there: https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Collections

[2018-03-22 08:41] stilettk commented on #14876
You can see that an array is passed to the `ConstructTestCollection` method. So underneath of returned `IEnumerable<T>` is an array which implements `ICollection<T>`, so checks like `collection is ICollection<T>` will succeed.

Thank you for your help! I'm currently in a testing phase and I'll let know when PR and test results will be ready.

[2018-03-22 09:42] dalibor983 opened #17121 "FatalExecutionEngineError with Microsoft.EntityFrameworkCore 2.0.2 referenced in .NET 4.6.1"
When I run IISExpress everything working great  until I rebuild project and IISExpress tries to reload new dlls in memory. Then I get this exception when DbContext is initialized that crashes IISExpress:
[code]
After starting IISExpress again everything working again.

I must restart IISExpress on every new build :(

[2018-03-22 13:09] kouvel commented on #17098
@sebastienros, I think the issue may be that the --mount command in the .sh file above seems to mount /tmp in the container with the same permissions as the source /mnt, and coreclr currently requires 777 permissions on the folder. Those permissions are necessary for everything under /tmp/.dotnet/shm due to global mutexes, the requirement on /tmp and /tmp/.dotnet shouldn't be necessary. Can you tr

[2018-03-22 13:14] alpencolt commented on #13828
As I see this issue is in 2.1 milestone.
@BruceForstall @lt72 is there any deadlines for this feature? Unfortunately I don't have enough time for resolving all crashes and implementing missed functionality at the current moment.
Is it OK to finish all works on tail calls in April-May? If it's late I will ask other person to continue work.

[2018-03-22 13:24] rgr21 commented on #17071
Annnd I've worked out how to configure which runtime gets used. Sorry, my mistake. You are correct, preview *is* good in all situations. (Hadn't quite clocked that multiple runtimes were installed side by side, and that runtimeconfig.json was letting it use anything from 2.0.x but not 2.1.x. I am new to dotnet core).

[2018-03-22 14:09] WebDancer69 opened #17124 "Need attribute to prevent profile optimization"
Certain pieces of our code is build-time damaged and then repaired run-time at certain trigger points.
Currently we can't enable profile optimization (`ProfileOptimization.StartProfile`) because that may JIT the code before it has been repaired.

We would like a way to prevent any pre-JIT, both `ProfileOptimization` or NGEN.
It would be something similar to `System.Runtime.BypassNGenAttribute`, bu

[2018-03-22 14:57] jzielnik opened #17125 "Resolving path for .NET core SDK's libraries"
Hello,

I've been working on a project that could load other projects (using Microsoft.Build.Evaluation.Project), however I've encountered an issue. Project class has ICollection AllEvaluatedItems properity but for .NET Core and .NET Standard projects this collection does not have references which can be found under Dependencies/SDK/.
I've managed to find that after building such project in \obj t

[2018-03-22 16:14] eerhardt commented on #17109
Just an FYI - I get a seg fault in the same spot when crossgen'ing `System.Net.Http`.

[code]

[2018-03-22 16:15] AndyAyersMS commented on #17071
@poizan42 appreciate your concern.

This bug won't impact arbitrary code using pinning. It happens when:
* there is an `unsafe` block is right at the end of the method (otherwise the unpin ends up in a finally block)
* the method calls the another method, passing it the pinned value, at the end of the `unsafe`, and then immediately returns the value from that other method (so that the non-finally

[2018-03-22 16:16] BruceForstall commented on #13828
@alpencolt There is roughly a month left to finish all development work for 2.1. We are focused on increasing our test coverage and fixing bugs. Since this is purely an optimization, I don't view it as essential to 2.1, so it is likely to be pushed out to Future. In fact, it might be considered too risky to enable it even now, given that it is getting late in the cycle.

Note that there was confus

[2018-03-22 16:16] safern commented on #14876
You're right, missed that part of the InsertRange code.

Also when we do perf fixes we ask to measure performance improvements comparing old behavior vs new behavior, that is done with our benchmark testing. Something like: https://github.com/dotnet/corefx/pull/28184#issue-175773567

Here is the documentation to do that: https://github.com/dotnet/corefx/blob/969541fb79ccacbe07965e08e3b32a9d5ecb19b

[2018-03-22 17:00] #16583 closed

[2018-03-22 17:05] fiigii commented on #16652
Can we close this issue?

[2018-03-22 17:10] tannergooding commented on #16652
@fiigii, the only ones not implemented are `ZeroAll` and `ZeroUpper`, correct?

[2018-03-22 17:11] fiigii commented on #16652
And MaskStore.

[2018-03-22 17:11] tannergooding commented on #16652
Can you log bugs tracking those three separately?

Happy to close this issue afterwards.

[2018-03-22 17:17] fiigii opened #17127 "Implement AVX MaskStore"
The class of `Avx` has <del>three</del> one intrinsic not available in .NET Core 2.1:
- <del>`ZeroAll` and `ZeroUpper` are tricky for test cases.</del>
- `MaskStore` has a design issue https://github.com/dotnet/coreclr/issues/17058.

I will address this issue for post-2.1.

cc @tannergooding @CarolEidt @eerhardt @4creators

[2018-03-22 17:17] fiigii commented on #16652
Logged at https://github.com/dotnet/coreclr/issues/17127

[2018-03-22 17:18] fiigii commented on #16653
Could you please update this list?

[2018-03-22 17:20] #16652 closed

[2018-03-22 17:22] AndyAyersMS commented on #17027
Think the k-nucleotide-9 may be an issue with GCStress, I see a lot of `c0000096` exceptions (priveledged instruction) before a final AV, RAX looks correct, and there is no heap corruption at the point of failure.
[code]
Will see if I can catch one of these earlier exceptions...

[2018-03-22 17:24] tannergooding commented on #16653
@fiigii, should be updated now.

[2018-03-22 17:25] fiigii commented on #16653
Thank you so much.

[2018-03-22 17:41] #17071 closed

[2018-03-22 17:42] sdmaclea commented on #17095
Does this happen to have to do with the corefx package being on myget
https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.linux-arm64.Microsoft.Private.CoreFx.NETCoreApp conflicting with #17069

[2018-03-22 17:43] RussKeldorph commented on #17108
@dotnet/jit-contrib

[2018-03-22 18:04] mikedn commented on #17108
Overall it sounds like a good idea.

The main potential drawback is that the end result (whether a fallback is used or not) depends on the JIT optimization abilities. Someone writes some code where the fallback happens to not be used and gets good performance. The code ends up running on different version of JIT that perhaps fails to do some constant folding so the fallback version is used and the

[2018-03-22 18:12] roterdam opened #17128 "Bit counting piece of code does not generate BT instruction"
[code]

The purpose of the above code is to do something like return true or false on an array of bytes, that are essentially being interpreted as bits by the programmer.

In psuedo code:

[code]

I've gone ahead and compare the generated assembly across many compilers, and CoreCLR JIT loses to each one and so does MSVC. I'm not great at debugging CoreCLR, so I'll appreciate any help as to why Cor

[2018-03-22 18:14] mikedn commented on #16632
Quick benchmark:
[code]

Method |     Mean |     Error |    StdDev
------- |---------|----------|----------
MOVQ | 1.706 ns | 0.0676 ns | 0.0632 ns
PUSH | 1.135 ns | 0.0557 ns | 0.0521 ns

[code]

Apparently using MOVQ isn't such a good idea.

[2018-03-22 18:17] mikedn commented on #17128
Hmm, what version of .NET are you using? The current CoreCLR build produces:
[code]

[2018-03-22 18:19] roterdam commented on #17128
I used 2.0.5 and also an old build of 2.1. I can update. This is good news if true.

Any way to audit what changed that caused this to suddenly work? Maybe someone should also tell MSVC why they are unable to do this?!

Will report back with the latest CoreCLR build.

[2018-03-22 18:37] sdmaclea opened #17129 "[Linux/arm32/arm64] gcServer+heapverify1 GC/Scenarios/Dynamo/dynamo fails"
`GC/Scenarios/Dynamo/dynamo/dynamo.sh` fails with configuration gcServer_heapverify1

[code]

@dotnet/arm64-contrib @Maoni0 @sywhang @swgillespie FYI

[2018-03-22 18:38] RussKeldorph commented on #17109
@janvorli FYI

[2018-03-22 18:39] RussKeldorph commented on #17109
This sounds like a possible Clang bug or uninitialized variable.  Might be worth seeing if it repros when built with the latest Clang.

[2018-03-22 18:44] sdmaclea opened #17130 "[Arm64/Linux] gcServer + forcerelocs --> JIT/jit64/regress/vsw/373472/test fails"
`JIT/jit64/regress/vsw/373472/test/test.sh` fails with configuration gcServer + forcerelocs
Similarly `JIT/jit64/regress/vsw/373472/test_il/test_il.sh`
[code]

@dotnet/arm64-contrib @Maoni0 @swgillespie @sywhang FYI

[2018-03-22 18:46] davmason commented on #17116
Fixed with #17119

[2018-03-22 18:46] #17116 closed

[2018-03-22 18:52] eerhardt commented on #17109
Yes, on my machine setting that variable appears to allow crossgen to succeed for both assemblies.

[2018-03-22 19:17] mikedn commented on #17128
Support for this pattern was added in #13626. That PR is too recent to be in 2.0 but it is in the 2.1 preview builds.

[2018-03-22 19:37] danmosemsft commented on #16442
@AlexGhiondea is there someone who can look at this?

[2018-03-22 19:39] brianrob commented on #11976
Duplicate of #9494.

[2018-03-22 19:39] #11976 closed

[2018-03-22 19:42] brianrob commented on #11174
Yes, packaging is going to require libcoreclrtraceptprovider.so.  If you want to avoid installing lttng-ust as a build dependency, then I would recommend skipping nuget package creation via -skipnuget.

[2018-03-22 19:42] #11174 closed

[2018-03-22 19:43] brianrob commented on #5285
We now have more self-describing tests enabled for ETW in CoreFx.

[2018-03-22 19:43] #5285 closed

[2018-03-22 19:48] roterdam commented on #17128
I thank you for doing this. Verified this works on latest built coreclr. Looks like generated code is better than MSVC and equivalent to Clang!

[2018-03-22 19:48] #17128 closed

[2018-03-22 19:52] brianrob commented on #15493
There still may be some benefit to keeping these separate - FEATURE_PERFTRACING is a subset of FEATURE_EVENT_TRACE. Closing this for now.

[2018-03-22 19:52] #15493 closed

[2018-03-22 19:52] #15228 closed

[2018-03-22 19:54] #11560 closed

[2018-03-22 20:00] mikedn commented on #17128
I see on Compiler Explorer that MSVC 19 (VS 2017) generates
[code]
But only the x64 version does this, the x86 version generates `shl`+`test`. Anyway, VC++ issues can be reported via https://developercommunity.visualstudio.com/spaces/8/index.html

[2018-03-22 20:01] ericstj commented on #17120
http://github.com/nuget/home is the right place.

Here's a quick answer: whenever there is a an applicable `ref` asset NuGet will prefer that over a `lib` asset.

My recommendation would be to avoid using `ref` unless you really need to (eg: you need to hide some APIs that are in the implementation).  Moreover you must ensure that any apis exposed by the 'netstandard` assembly are implemented in t

[2018-03-22 20:01] #17120 closed

[2018-03-22 20:35] CarolEidt commented on #17127
The trickiness here is more than just test cases. Since these impact register contents, and specific register assignments (or even whether values are even *in* registers) is not exposed to developers, we need to clearly specify the semantics of these instructions, and the specific scenarios in which they and and should be used.

[2018-03-22 20:36] mikedn commented on #17127
What's the use case for `ZeroAll` and `ZeroUpper`?

[2018-03-22 20:39] CarolEidt commented on #17127
`ZeroUpper` would be used to avoid penalties when transitioning between SSE and AVX code. These are generated by the JIT when it is generating AVX code, but the thought is that some developers may want to have direct control over this. That said, I'm rather uncertain that exposing these is the right thing to do - hence the desire to see the scenarios elucidated.

[2018-03-22 20:45] mikedn commented on #17127
AFAIK it's a bit more specific than that - it's about transitioning between VEX and non-VEX encoded instructions. But since the JIT will always use VEX when it's available, even when SSE intrinsics are used, I don't see how such transitions could occur inside a method. So I see no reason for these intrinsics to be exposed.

[2018-03-22 20:46] sdmaclea commented on #17095
I was part of the Hack code but until #17123, we need it.

[2018-03-22 21:00] AndyAyersMS commented on #17027
Similar looking failure in regex-redux-5:
[code]
Both these tests are heavily multi-threaded so would guess we are hitting some kind of race condition in gcstress here. @swaroop-sridhar does this look at all familiar?

Suggest we disable these from running in stress for now.

[2018-03-22 21:53] CarolEidt commented on #17127
Yes that's true - however, the developer may be invoking native code that they know is using non-VEX-encoded instructions. AFAIK this will be covered by existing JIT code that addresses such boundaries (in fact, I think it's a bit conservative about issuing them when it could prove they weren't needed). So, I still don't see a scenario.

[2018-03-22 22:08] RussKeldorph commented on #17121
This issue was moved to aspnet/EntityFrameworkCore#11391

[2018-03-22 22:08] #17121 closed

[2018-03-22 22:14] RussKeldorph commented on #17124
@brianrob @noafalk Please triage this issue unless you can suggest a better solution than proposed.

[2018-03-22 22:15] RussKeldorph commented on #17124
Typo meant @noahfalk

[2018-03-22 22:47] gregg-miskelly commented on #16776
That is the error that the project system is telling the debugger to launch for Desktop (Full Framework) .NET debugging.

I don’t think you can do .NET Core mixed mode debugging from a .vcxproj. You need to instead configure a .NET Core project to launch an external program, and enable mixed mode debugging from there.

[2018-03-22 23:05] noahfalk commented on #17124
@WebDancer69 - I too am curious what constraints you are trying to work within? Although NGEN and multicore JIT are some scenarios where the IL is loaded earlier, they aren't necessarily the only ways that can happen. For example the JIT can inline aggressively, profilers and debuggers can examine IL, and user-code can call functions such as https://msdn.microsoft.com/en-us/library/zbcd4yfw(v=vs.1

[2018-03-22 23:07] CarolEidt commented on #17108
We have made it a design parameter that we expect developers using these intrinsics to be savvy enough to use analysis tools to ensure that they are getting what they expect. This is especially true if they are planning to rely on the JIT to optimize and inline.

That said, it is an interesting thought to delay the immediate fallback until `Lowering`. I am a bit more optimistic that it can be done

[2018-03-22 23:11] Maoni0 commented on #17129
@sywhang could you please take a look?

[2018-03-22 23:14] Maoni0 commented on #17130
do you get OOM with just gcServer? or only if you have both gcServer and forcerelocs?

[2018-03-22 23:15] sywhang commented on #17129
I've been trying to get a repro  on this but can't really get any repro. @sdmaclea  Is there any other envvars you set other than gcServer_heapverify?

[2018-03-22 23:15] sdmaclea commented on #17130
Only if both are enabled.

[2018-03-22 23:19] sdmaclea commented on #17129
My apologies, I add COMPlus_GCgen0size=0x100000 to all my GCServer runs during CI.
[code]

This occurs during CI, so many other jobs are running.  Perhaps the OOM is cause by another test?

[2018-03-22 23:20] sdmaclea commented on #17129
It did occur two nights in a row in my internal CI

[2018-03-22 23:21] sdmaclea commented on #17129
Is there a set of GC jobs which should only be run sequentially?

[2018-03-22 23:23] Petermarcu opened #17138 "IL Linker fails with osx-x64 RID"
@phil-harmoniq commented on [Thu Mar 22 2018](https://github.com/dotnet/core/issues/1375)

Output of `dotnet --info`:

[code]

# Issue:

I followed the steps for using the .NET Core IL Linker as demonstrated [on this page](https://github.com/dotnet/core/blob/master/samples/linker-instructions.md). [I am trying to use it on this repo](https://github.com/phil-harmoniq/dotnet-native-test), but when I

[2018-03-22 23:44] AndyAyersMS commented on #16601
Finally able to look back further, and there was about a 2% regression from #13291.

Suspect it may be affinity related too, as CSC is multi-tasking. I've added this test to the ones that we should no longer affinitize (#16801).

Note it appears that affinity helps the CompileTest quite a bit, so if/when we disable it we may see a perf drop.

![image](https://user-images.githubusercontent.com/1012

[2018-03-22 23:44] #16601 closed

[2018-03-23 00:04] sandreenko commented on #11640
Does not repro with RyuJit and was fixed for legacy by @BruceForstall , could we close this issue?

[2018-03-23 00:21] jkotas commented on #12043
Fixed by https://github.com/dotnet/coreclr/pull/16765

[2018-03-23 00:21] #12043 closed

[2018-03-23 00:28] BruceForstall commented on #11640
hmmm... did you find a commit that fixed it?

Nonetheless, yes, I will close it.

[2018-03-23 00:28] #11640 closed

[2018-03-23 00:29] Maoni0 commented on #13112
fixed with [#14719](https://github.com/dotnet/coreclr/pull/14719)

[2018-03-23 00:29] #13112 closed

[2018-03-23 00:31] Maoni0 commented on #15589
@davmason would you please check if this is still failing?

[2018-03-23 00:33] Maoni0 commented on #15797
let's use [7747](https://github.com/dotnet/coreclr/issues/7747) to track ArrayPool perf improvements. closing this one.

[2018-03-23 00:33] #15797 closed

[2018-03-23 00:47] sergiy-k commented on #17013
cc @MichalStrehovsky

[2018-03-23 00:54] mikem8361 commented on #16482
I haven't been able to test this (all the changes are done) because the coreclr pipe build hasn't passed in a week or so.

[2018-03-23 00:58] RussKeldorph commented on #15906
Fixed in coreclr.

[2018-03-23 00:58] #15906 closed

[2018-03-23 01:07] RussKeldorph commented on #11438
Does this still happen?

[2018-03-23 01:12] #15072 closed

[2018-03-23 01:13] RussKeldorph commented on #15175
@adiaaida Is this still targeting 2.1?

[2018-03-23 01:19] #16207 closed

[2018-03-23 01:27] RussKeldorph commented on #15847
@dotnet/dnceng Ping.  Is/was this a machine setup issue?  Is it still a problem?

[2018-03-23 01:27] echesakovMSFT commented on #17109
I could reproduce this issue with Release `arm_arm/crossgen` for `System.Collections.Immutable.dll`
#17131 will fix this

[2018-03-23 01:27] RussKeldorph commented on #15892
@janvorli Still 2.1?

[2018-03-23 01:29] maririos commented on #15847
@MattGal and @danmosemsft that might have more context with the state of dumpling

[2018-03-23 01:33] RussKeldorph commented on #16482
@mikem8361 Which pipebuild are you referring to?  Most of the last few official pipebuilds have succeeded. https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/buildHistory

[2018-03-23 01:34] danmosemsft commented on #15847
@anipik in guessing this was fixed at some point?

[2018-03-23 01:40] fiigii commented on #17108
@CarolEidt @mikedn Thank you so much for the excellent comments. The answer to the above question looks like "YES". But, of course, we need more work loads and date at first.

[2018-03-23 01:43] janvorli commented on #15892
It is not critical, we can move it. Actually, it seems it is not a coreclr issue, but either a nuget or cli issue. The file produced in the coreclr doesn't have executable permissions.
[code]

[2018-03-23 01:46] RussKeldorph commented on #13798
@chcosta Do you have any suggestions?

[2018-03-23 01:47] RussKeldorph commented on #2484
Assuming this isn't happening for 2.1

[2018-03-23 01:48] Anipik commented on #15847
@danmosemsft  @DrewScoggins  replied about this issue on https://github.com/Microsoft/dumpling/issues/33

[2018-03-23 01:49] RussKeldorph commented on #14360
@janvorli Is there remaining work in 2.1 for this?

[2018-03-23 01:55] fiigii commented on #17127
I agree. We have decided that only provide "deterministic" semantics for users, which is a good reason to not expose these two intrinsics.

[2018-03-23 01:56] RussKeldorph commented on #17125
Not clear if this is a diag, API, or some other type of question.

[2018-03-23 01:59] RussKeldorph commented on #15414
Check once #16477 is fixed.

[2018-03-23 02:03] amos402 commented on #16776
@gregg-miskelly Yes, that may work. But it would lost break point before the runtimeHost call Start. So there's no way to startup from a vcxproj for now?

[2018-03-23 02:05] Petermarcu commented on #14360
I think @janvorli checked in the last bit of this yesterday.

[2018-03-23 02:06] echesakovMSFT commented on #17109
**Update:** Tested #17131 by crossgen-ing all `System.*.dll` in Core_Root and the issue disappeared for both Release `x86_arm/crossgen` and `arm_arm/crossgen`

[2018-03-23 02:08] sdmaclea commented on #17109
#17007 looks like the same issue

[2018-03-23 02:09] janvorli commented on #14360
Right

[2018-03-23 02:12] #14360 closed

[2018-03-23 03:05] dotnet-mc-bot opened #17140 "Test failure: baseservices_threading._regressions_13662_13662_a_13662_a_/_regressions_13662_13662_a_13662_a_cmd"
Opened on behalf of @Sunny-pu

The test `baseservices_threading._regressions_13662_13662_a_13662_a_/_regressions_13662_13662_a_13662_a_cmd` has failed.

Error: Could not load file or assembly 'System.Threading.Timer, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified.
     (Exception from HRESULT: 0x80070002)
    Error compiling 13662-a.or

[2018-03-23 03:08] Sunny-pu commented on #16275
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fr2r~2Fcli~2F/build/20180322.08/workItem/baseservices.threading.XUnitWrapper/analysis/xunit/baseservices_threading._regressions_13662_13662_a_13662_a_~2F_regressions_13662_13662_a_13662_a_cmd

[2018-03-23 03:17] gregg-miskelly commented on #16776
I should add that to enable unmanaged code debugging in the .NET Core project, you will want to open \<projectDir\>\Properties\launchSettings.json, and set the [`nativeDebugging`](https://github.com/dotnet/project-system/blob/492dac929d5d31b3bb6ab67caf2c1b6e8bf56cfa/src/ProjectSystemSetup/Properties/launchSettings.json#L22) property to `true`.

[2018-03-23 03:22] gregg-miskelly commented on #16776
Yes, interop debugging is .NET Core has the restriction that you cannot hit breakpoints in native code before the .NET runtime starts.

@mikem8361 is there an issue that tracks removing that restriction?

Fixing this would require a major architectural change to how interop debugging works, so I don't think it will be resolved any time soon. I would probably recomend switching back and forth betwe

[2018-03-23 04:46] ashishnegi commented on #17120
@karelz  By CoreCLR I mean project created during dotnet cli.
I am facing problem when user changes `tragetframework` to `net47` for a project created by dotnet cli.
During compilation, it refers to netstandard2.0 dll and fails to compile as some apis are missing in netstandard2.0 dll.

@ericstj Thanks I will try your suggestion of having folders in ref.
I have a doubt about your comment on issues

[2018-03-23 05:07] RussKeldorph commented on #16827
Now that #14481 is undone, is this issue the "figure out how to probe the Unix stack" bug?  Do we know whether there is a single pattern that can correctly probe on both Windows and Unix or we have to bifurcate?  Does OSX have a required probing pattern different from Linux?

[2018-03-23 05:12] #17140 closed

[2018-03-23 05:28] RussKeldorph commented on #16827
Another question: Why don't we just call __chkstk like C++?  And write proper versions for non-Windows platforms?

[2018-03-23 09:29] Buyduck commented on #11284
@BruceForstall sorry, for delay, I was busy with other tasks, but now I am on :S
Could you help me a little bit?
At first, I can't get '.unaligned' prefix in IL, when I compiling C# code. Even if decompiled UseUnalignedDouble.il from tests and compiled it to IL again - I got no '.unaligned' prefix.
At second, as far as I could understand legacy JIT takes into account GTF_IND_UNALIGNED flag only fo

[2018-03-23 10:24] mikedn commented on #11284
The C# compiler doesn't generate this prefix, there's no C# constructor that needs it. You can use `Unsafe.ReadUnaligned`/`WriteUnaligned` methods if you don't want to write IL tests.

[2018-03-23 10:43] geffzhang commented on #969
Any new developments?

[2018-03-23 10:51] janvorli commented on #16827
@RussKeldorph the way that would work on Unix was the one that was reverted, provided we fix the unwind info issue.
I think that calling a jit helper that would behave like __chkstk would work and I could implement that in asm for Unix to be able to precisely define the necessary unwind info.
We would need to handle the __chkstk in a special way though, like e.g. the GC write barriers, so that whe

[2018-03-23 11:10] janvorli opened #17145 "Fix few bugs in libunwind code that we don't exercise"
While creating cmake build files for libunwind, I have found couple of bugs in the library that were reported as warnings:
* A missing declaration of printf in release builds for ARM
* Incorrect formatting string for Debug print on 32 bit architectures
* Incorrect argument passed to x86_sigreturn for x86

At the moment, these warnings are disabled, since they don't affect code that we exercise.

F

[2018-03-23 11:48] lags commented on #17043
@BruceForstall do you think it is possible?
I mean build with "-mfpu=vfpv3-d16" changing the register to 16 instead 32?
Only for example... You could tell me where to see, in code, one possible change?

[2018-03-23 12:46] 4creators commented on #17127
IMO we should consider providing `non-deterministic` `unsafe` class(es) which would contain code which is not recommended to be used for standard coding. This would follow similar decision made earlier to expose `Unsafe` which is available for corner cases in performance critical code. That class could comprise other intrinsics as well i.e. scalar loads which will not zero other elements in Vector

[2018-03-23 12:54] mikedn commented on #17127
In the specific case of ZeroUpper and ZeroAll this doesn't mean anything without a clear use case. It's basically marketing speech.

[2018-03-23 13:02] RussKeldorph commented on #16827
@janvorli Thanks.  So it sounds like the most expedient thing is to put back #14481 conditional on Unix only.

[2018-03-23 13:04] RussKeldorph commented on #16827
...or does the unwind info need to be fixed for Unix as well?

[2018-03-23 13:14] janvorli commented on #16827
I think we don't need to fix the unwind info on Unix, since all stack overflow and probes are handled as failfast and we are not trying to unwind stack in such cases. So putting it back just for Unix sounds good.

[2018-03-23 14:34] janvorli commented on #17043
If you are cross-building for arm on x64 Unix, you can change the option here: https://github.com/dotnet/coreclr/blob/master/cross/arm/toolchain.cmake#L11
Obviously, it would not change what JIT does.

[2018-03-23 14:50] 4creators opened #17149 "Unify build workflow and switch logic for Unix based build workflow"
Build workflow on Linux/macOS/FreeBSD differs from Windows in the order in which test components are built.

Running `./build.sh` on Linux with `-skiptests` parameter skips build of native tests (they go into `__BinDir/bin`) which are later not built when running `./build-test.sh` script. This is the result of moving unix native tests build into `./build.sh` script what is breaking change for the

[2018-03-23 15:27] jeffschwMSFT commented on #17138
@sbomer can you take a look?

[2018-03-23 15:29] MattGal commented on #15847
I believe I have context but have not been involved in this latest problem.

- PSUtil is package with functionality for walking processes from Python, and has been used on the Helix clients for some time to do things like kill processes and their children, or in @Anipik 's case try to walk the children and make dumps of them all.
- PSUtil is already installed (via Pip, the package manager) on Heli

[2018-03-23 15:32] WebDancer69 commented on #17124
@brianrob @noahfalk We are using a hardening tool that modifies the dll by injecting trigger points for checksums, repair, anti-debug and other protective means. After running the tool we can have a method which has (static) damage. At run-time the correct execution path must be run to (dynamically) repair the damaged functions. Sometimes they are even re-damaged when not needed anymore. If a meth

[2018-03-23 15:46] CarolEidt commented on #17127
So, to summarize, unless and until there is a compelling use case, we won't be supporting ZeroUpper and ZeroAll

[2018-03-23 15:47] janvorli commented on #17149
@4creators just a minor correction to your statement:

This was always like this. The build-test.sh was added quite recently, there was no way to build managed test parts before.

[2018-03-23 15:51] eerhardt opened #17150 "Not possible to DllImport a native assembly with a "." in its file name"
Since our tooling doesn't support customers to compile for each OS, it currently isn't possible to name a native assembly using namespace names, like "Microsoft.Foo.Bar", and use the assembly in a `DllImport` successfully on both Windows and non-Windows.

## Repro:
Create a native assembly named `Test.Foo`.  On Windows it is named `Test.Foo.dll`.  On Linux it is named `Test.Foo.so`.  On macOS it i

[2018-03-23 16:04] pkruk2 commented on #3894
Hi, is there any change in this area?

I'm facing the same issue. I have a profiler which injects IL with calls to some managed methods which are defined in my assembly. The issue is that the assembly is not found during runtime.

Adding my assembly to nuget package cache didn't work - isn't it supposed to be used only when the assembly is listed as reference in .deps.json file anyway?

The DOTNET

[2018-03-23 16:08] AndyAyersMS commented on #16961
This is causing the armlb leg in every PR that triggers it to fail. We really should either fix now it or disable this leg or do something equivalent....

![image](https://user-images.githubusercontent.com/10121823/37840207-ac210d8e-2e79-11e8-85e4-b40bbab69fff.png)

[2018-03-23 16:09] CarolEidt commented on #16964
@BruceForstall - I'm wrapping up the last desktop arm bug (I think), so this seems like the next logical bug for me to work on, since it's using jitStressRegs. However, it's non-obvious to me exactly what this job is - I gather that this is a cross-build, but it must be actually running on arm for there to be runtime failures.
Can you clarify the workflow to repro this?

[2018-03-23 16:09] sbomer commented on #17138
@phil-harmoniq, this is happening because your example project uses the Microsoft.DotNet.ILCompiler package together with the linker, and these two packages happen to define different tasks with the same name (ComputeManagedAssemblies). It looks like you're trying to use corert together with the linker, and I'm not surprised that this scenario isn't working. The linker was designed with .NET Core

[2018-03-23 16:12] #17138 closed

[2018-03-23 16:25] BruceForstall commented on #16964
It's Linux/arm32. The cross build is done in Docker on Linux/x64, with results zip'ed/copied to the arm32 box. One way to figure out how to repro is follow the CI job definitions (unfortunately, these aren't yet merged to master). For now, maybe I'll try to set up a repro machine for you.

[2018-03-23 16:42] RussKeldorph commented on #17149
I would love to see us make the build workflow consistent after 2.1 finally forks.  I would also like us to remove all test build logic from build.cmd/.sh.  Test building should be entirely confined to build-test.*, like corefx.  Unfortunately, there's a lot of downstream impact given the CI and official build systems, so we have to be careful.  We also probably need to address the incredible slow

[2018-03-23 16:43] jkotas commented on #17150
I would think we should rather make the dot in the filename work on Windows.

[2018-03-23 16:46] stephentoub commented on #17150
It looks like right now we leave the path manipulation to LoadLibrary, which chooses to append ".dll" only if there's no file extension, which presumably it determines based on whether the name contains a dot.  We could just add a probe ourselves for name + ".dll" (maybe if it doesn't already end in ".dll").

[2018-03-23 16:52] jkotas commented on #17150
cc @jeffschwMSFT @luqunl

[2018-03-23 16:55] ericstj commented on #17120
Only if someone redistributes your raw DLL instead of using a package reference.

Packages referenced transitively are resolved in the context of the head project.  Also consider that the head project can directly reference your package and it will get the most appropriate asset for its framework and that supersedes anything a dependency might have used.  That's also how NuGet package dependencies

[2018-03-23 17:14] sywhang commented on #17129
I have set the environment variables the way you set it, but I can't reproduce this behavior.
[code]

However, I only have tried this on Linux on x64, so perhaps this is an ARM64 specific issue... I don't think it has to do with running tests sequentially either because I ran this test on its own like shown above. I'll see if I can get my hands on any ARM64 machines.

[2018-03-23 17:15] mikem8361 opened #17153 "Allow BPs before host has initialized during mixed mode debugging"
Yes, interop debugging is .NET Core has the restriction that you cannot hit breakpoints in native code before the .NET runtime starts.

@mikem8361 is there an issue that tracks removing that restriction?

Fixing this would require a major architectural change to how interop debugging works, so I don't think it will be resolved any time soon. I would probably recomend switching back and forth betwe

[2018-03-23 17:16] mikem8361 commented on #16776
I created issue #17153 to track this, but like Gregg said this is a major change that will not be in 2.x.

[2018-03-23 17:16] #16776 closed

[2018-03-23 17:18] mikem8361 commented on #16482
It looks like https://devdiv.visualstudio.com/DevDiv/_build/index?context=mine&path=%5C&definitionId=1832&_a=completed is passing now. It wasn't last night or over the last two week.s

[2018-03-23 17:26] RussKeldorph commented on #15892
This issue was moved to dotnet/core-setup#3890

[2018-03-23 17:27] AndyAyersMS commented on #10051
We are not going to get to this in 2.1 so we should update #5851 to reflect this.

[2018-03-23 17:34] jeffschwMSFT commented on #17150
This is part of a larger group of work that is needed to aid making p/invokes more cross platform friendly.  We are considering how to best address these.

[2018-03-23 18:24] 4creators commented on #17149
Right now I have working fix for priority 1 and above on Windows which at the same time reduces memory usage by around 4x. I have hit problem in this issue while working on porting my fix to Unix test builds.

[2018-03-23 18:35] 4creators commented on #12859
Closing as documentation was added to coreclr.

[2018-03-23 18:35] #12859 closed

[2018-03-23 18:37] 4creators commented on #15638
Closing as this bug was fixed.

[2018-03-23 18:37] #15638 closed

[2018-03-23 18:44] 4creators commented on #16362
I have already fix for Windows which I am porting to Unix'es - hope it will be ready soon after 2.1 is done.

[2018-03-23 18:48] AndyAyersMS commented on #16362
Interesting. Can you say more about what your fix looks like?

[2018-03-23 18:50] 4creators commented on #16362
This is a workaround based on splitting test build into independent groups of tests for which MSBuild main process is restarted what clears all unneeded cache - I plan to create PR soon to start verifying this fix in CI.

[2018-03-23 18:55] jkotas opened #17156 "Porting AppDomain to AssemblyLoadContext issue with ApplicationBase and PrivateBinPath"
_From @Eilon on March 23, 2018 18:22_

_From @DomZZ on March 23, 2018 9:10_

I'm aware that AppDomain is deprecated and replaced partially by AssemblyLoadContext.
But I'm facing to a new problem that I'm not able to resolve  :

I have this code in .Net Framework 4.6.2 :
[code]

I've replaced this by that :
[code]

RunInThread method call an override of AssemblyLoadContext and proper instanciate me

[2018-03-23 18:55] jkotas commented on #17156
_From @Eilon on March 23, 2018 18:22_

_From @natemcmaster on March 23, 2018 16:30_

Hey @DomZZ, it looks like this issue belongs on https://github.com/dotnet/corefx. I don't see anything specific in this about ASP.NET Core. We can move the issue for you, or you can re-open it yourself it you'd like.

[2018-03-23 18:55] mikem8361 commented on #16482
Still failing when I launch DotNet-CoreClr_PipeBuild-Master with my branch: https://devdiv.visualstudio.com/DevDiv/_build/index?buildId=1513433&_a=summary

It looks like it was the orchestrated builds that were succeeding.

[2018-03-23 18:56] jkotas commented on #17156
cc @swaroop-sridhar

[2018-03-23 19:01] dagood commented on #16482
It looks like the failures are because you queued it with a container name with a `/` in it: https://blogs.msdn.microsoft.com/jmstall/2014/06/12/azure-storage-naming-rules/

[2018-03-23 19:06] mikem8361 commented on #16482
I’m not sure what that means or how I did it.  I just queued DotNet-CoreClr-PipeBuild-Master with Branch = “mikem/uploader” which is my changes in the DotNet-CoreCLR-Trusted repo.

[2018-03-23 19:11] mikem8361 commented on #16482
PB_ContainerName is set to "coreclr-$(Branch)-$(OfficialBuildId)" which means I can't have "mikem/" in my branch name. I'll fixed that.

[2018-03-23 19:21] dagood commented on #16482
I see, didn't realize how the dev branch build flow works. I remember some discussion about having the def automatically convert `/` to `-`, but I guess that wasn't implemented.

[2018-03-23 21:31] #16477 closed

[2018-03-23 21:36] jashook commented on #14525
@dagood is this required for 2.1?

[2018-03-23 21:45] dagood commented on #14525
@weshaggard fixed this in https://github.com/dotnet/coreclr/pull/14683, so it's actually already in 2.1. (It was just cleanup.)

[2018-03-23 21:45] #14525 closed

[2018-03-23 21:57] #17095 closed

[2018-03-23 22:09] TautvydasZilys opened #17163 "Failure to marshal out array of WinRT projected enum type"
Given this C++ WinRT Component:

`// DurationTypeArrayLeakComponent.idl
import "inspectable.idl";
import "Windows.UI.Xaml.idl";

namespace DurationTypeArrayLeakComponent
{
    runtimeclass DurationTypeHelper;

    [exclusiveto(DurationTypeHelper)]
    [uuid(835C87D2-8484-4BD7-AD1C-6AE857BDD1FC), version(1.0)]
    interface IDurationTypeHelperStatics : IInspectable
    {
        HRESULT CopyDuratio

[2018-03-23 22:11] RussKeldorph commented on #11438
I looked through some of the above listed corefx jobs and couldn't find "Bus error" or "Segmentation fault" so I'm going to close.  If I'm wrong, please just reopen and we will investigate.

[2018-03-23 22:11] #11438 closed

[2018-03-23 22:15] RussKeldorph commented on #17163
Starting with `area-CodeGen` bug please update if `area-Interop` or something else.

@jeffschwMSFT

[2018-03-23 22:49] noahfalk commented on #3894
Nobody directly on the diagnostics team has made any changes at least. For some profilers I believe the priority of this issue diminished as the 2.0 framework started including more of the traditional .NET SDK surface area by default. Your request now is the first I had heard on the topic in a while.

I haven't done this myself so I can't guarantee it works or that it is a fully fleshed out idea,

[2018-03-23 23:08] fiigii commented on #17130
This also failed with Windows/x86 (32-bit)
[code]

cc @AndyAyersMS @CarolEidt

[2018-03-23 23:19] sdmaclea opened #17166 "[Arm64] Unix stubs are incomplete"
https://github.com/dotnet/coreclr/blob/ba4ed5441c6c39f672b37a28da57f79af934977a/src/vm/arm64/unixstubs.cpp#L14-L27

Hit by this corefx test
[code]

@janvorli @jkotas What are these supposed to do?

[2018-03-23 23:21] sdmaclea commented on #17166
Looks like the assembly functions are written...

https://github.com/dotnet/coreclr/blob/ba4ed5441c6c39f672b37a28da57f79af934977a/src/vm/arm64/pinvokestubs.S
https://github.com/dotnet/coreclr/blob/ba4ed5441c6c39f672b37a28da57f79af934977a/src/vm/arm64/pinvokestubs.asm

[2018-03-23 23:24] sdmaclea opened #17167 "[Arm64] System.Security.Cryptography.Algorithms.Tests segfaults"
[code]

[2018-03-23 23:26] sdmaclea opened #17168 "[Arm64] System.Security.Cryptography.Encoding.Tests asserts"
[code]

[2018-03-23 23:27] sdmaclea commented on #17167
Also
[code]

[2018-03-23 23:29] sdmaclea opened #17169 "[Arm64] System.Security.Cryptography.Primitives.Tests GC hole"
[code]

[2018-03-23 23:30] sdmaclea opened #17170 "[Arm64] System.Threading.Thread.Tests stack overflow"
[code]

[2018-03-23 23:33] janvorli commented on #17166
This looks like they were forgotten here. I wonder how come  they don't clash with the asm versions

[2018-03-23 23:34] sdmaclea opened #17171 "[Arm64] System.ValueTuple.Tests Codegen assert"
[code]

[2018-03-23 23:36] sdmaclea commented on #17166
I don't know..  I am trying to compile with them deleted.  Maybe PInvokeStub are missing from the CMake files list?

[2018-03-23 23:41] sdmaclea commented on #17166
It complied successfully.  I am going to submit a PR.

[2018-03-23 23:45] jkotas commented on #17163
This is interop bug

[2018-03-23 23:45] AndyAyersMS commented on #17171
This is a dup of #16377.

[2018-03-23 23:45] #17171 closed

[2018-03-23 23:53] sdmaclea opened #17173 "[Arm64] CoreFX tests trigger OutOfMemoryException(s)"
This is the first of reportedly several.  I'll try to keep them all in this issue.

[code]

[2018-03-23 23:58] sdmaclea opened #17174 "[Arm64] Need to run CoreFX with real dotnet runtime"
Initial set of CoreFX tests runs is using `corerun` instead of `dotnet` because `dotnet` wasn't ready.

This is causing a few failures
[code]
[code]
[code]

[2018-03-23 23:58] sdmaclea commented on #17173
[code]

[2018-03-23 23:59] sdmaclea commented on #17173
[code]

[2018-03-24 00:00] sdmaclea commented on #17173
[code]

[2018-03-24 00:09] sdmaclea opened #17175 "[Arm64] System.Tests.MathFTests.Pow(x: 0, y: -3, expectedResult: -∞, allowedVariance: 0) [FAIL]"
[code]

[2018-03-24 00:15] echesakovMSFT opened #17176 "Official build break: Unexpected qualifier -skiprestore"
All 10 Release builds failed https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build/index?buildId=1515789&_a=summary due to
[code]
during `Run build.cmd`/`Run build.sh` step

[2018-03-24 00:20] echesakovMSFT commented on #17176
Could be related to these changes #17136

[2018-03-24 00:21] jkotas commented on #17173
The jump stub space reservation scheme need to be enabled for ARM64. It is under AMD64 ifdefs right now. You can get an idea about the affected code from: https://github.com/dotnet/coreclr/pull/15296

Perhaps we need a new `FEATURE_JUMPSTUB`.

[2018-03-24 00:26] noahfalk commented on #17124
Thanks! Seeking to understand another part of this with a potentially nieve question: If a customer is opting to use your tool, could they also opt not to use AOT compilation at the assembly level (by not running the compiler) and not use multi-core JIT at the process level?

[2018-03-24 00:54] #16587 closed

[2018-03-24 00:54] sandreenko commented on #16587
The issue was closed as "won't be fixed".

[2018-03-24 01:23] sdmaclea opened #17178 "[Arm64] InvalidCastException & hang"
Killed after allowing 5min wall time.
[code]

[2018-03-24 01:24] sdmaclea commented on #17178
This looks similar
[code]

[2018-03-24 01:25] sdmaclea commented on #17178
And this one
[code]

[2018-03-24 01:27] sdmaclea opened #17179 "[Arm64] System.Xml.RW.XmlConvert.Tests hang ?"
Killed after 5 minute wall time.
[code]

[2018-03-24 01:34] sdmaclea commented on #17173
You can assign this to me.  I'd like this fixed for 2.1

[2018-03-24 03:24] jkotas commented on #17156
The code in Alcuin.Admin.Configuration.Services.Application.HttpHandlerService.dll can get access files that are next to it using `Assembly.GetExecutingAssembly().Location`. Does this option work for you?

[2018-03-24 04:14] RussKeldorph commented on #17176
@weshaggard

[2018-03-24 07:31] benaadams commented on #4446
A small step `Zero alloc for empty IEnumerator<T>` https://github.com/dotnet/coreclr/pull/17187

[2018-03-24 11:39] sdmaclea opened #17188 "[Arm64/arm32] GCStress failure in tracing/eventsourcetrace/eventsourcetrace/eventsourcetrace.sh"
`tracing/eventsourcetrace/eventsourcetrace/eventsourcetrace.sh` fails often in `gcStress0x4`

[code]

[2018-03-24 11:58] ektrah commented on #17150
Related: https://github.com/dotnet/coreclr/issues/8902

[2018-03-24 12:02] sdmaclea commented on #17188
Also fails like like
[code]

[2018-03-24 12:03] sdmaclea commented on #17188
gcStress0x2 sometime too

[2018-03-24 12:59] WebDancer69 commented on #17124
@noahfalk The hardening tool we have purchased, we use it to protect our software. And yes, we had to not NGEN certain assemblies and turn off multi-core JIT. But we are seeking to regain some of the (startup) performance we lost.

[2018-03-24 15:28] jkotas opened #17191 "[Windows/arm] crossgen System.Private.CoreLib fails with assert"
From https://ci.dot.net/job/dotnet_coreclr/job/master/job/armlb_cross_checked_windows_nt_innerloop_prtest/513/consoleFull#-2059264786f66db340-b3cd-4e23-8190-9b52cb916333 :

[code]

[2018-03-24 15:29] jkotas commented on #17191
cc @dotnet/jit-contrib  @dotnet/arm32-contrib

[2018-03-24 15:42] sdmaclea commented on #17166
Removing the bad asserts changed behavior, but the Call Indirect PInvokes are not working.

I took a look at amd64 code it has three snippets missing from arm64

Modify the cookie (comment seems to be obsolete related to removed FEATURE_ALL_INTERFACES)

https://github.com/dotnet/coreclr/blob/a38ed985e11b0d56ecd44e3e6d2878cef8ca6052/src/vm/amd64/pinvokestubs.S#L27-L33
Save more regs
https://github.

[2018-03-24 15:54] jkotas commented on #17166
The code for GenericPInvokeCalliStubWorker  is here: https://github.com/dotnet/coreclr/blob/master/src/vm/dllimport.cpp#L6511

[2018-03-24 16:08] 4creators commented on #16362
The PR with fix is https://github.com/dotnet/coreclr/pull/17161

[2018-03-24 17:30] 4creators commented on #17028
The problem seems to be a test bug with incorrect builds coordination where next job before finishing waits for previous job checkpoint creating an infinite waiting chain:

Here the job https://ci.dot.net/job/dotnet_coreclr/job/master/job/armel_cross_checked_tizen_innerloop_prtest/2146/ waits for checkpoint from job 2145
[code]

Wait in queue takes currently roughly 20 min to 2 hours while build a

[2018-03-24 18:47] BruceForstall commented on #17191
All armlb jobs are failing. Proposed (possibly temporary) disabling of armlb: https://github.com/dotnet/coreclr/pull/17151

[2018-03-24 19:28] jkotas opened #17192 "[Arm64] System.Text.Tests.EncodingTest.TestRoundtrippingSpecificCodepageEncoding fails"
_From @sdmaclea on March 24, 2018 0:35_

[code]

_Copied from original issue: dotnet/corefx#28438_

[2018-03-24 19:28] jkotas commented on #17192
_From @tarekgh on March 24, 2018 18:5_

@jkotas who can look at this one as it looks arm64 specific issue?

[2018-03-24 19:28] jkotas commented on #17192
This is most likely codegen or runtime bug. Somebody from @dotnet/arm64-contrib should take a look.

It may be best for this issue to live in coreclr repo, like all other issues that track arm64-specific crashes and failures hit by corefx tests: https://github.com/dotnet/coreclr/labels/arch-arm64

[2018-03-24 19:52] BruceForstall commented on #16951
No longer seems to fail.

[2018-03-24 19:52] #16951 closed

[2018-03-24 20:24] BruceForstall commented on #16964
This still appears in the CI, but I'm unable to reproduce it locally. I'll leave this open and check again when the CI changes are live in master.

[2018-03-24 22:31] BruceForstall commented on #17188
@brianrob @nategraf

[2018-03-25 00:28] dvdobrovolskiy opened #17197 "System.IO.IOException thrown by MultipartReaderStream"
Have this code
[FileUploadSample](https://github.com/aspnet/Docs/tree/master/aspnetcore/mvc/models/file-uploads/sample/FileUploadSample)

works perfectly well on 2.0 but is I implement it in 1.0 (version 1.1.7) project throws "'System.IO.IOException' in mscorlib.dll" exception.

Here controller
`[HttpPost]
        [DisableFormValueModelBinding]
        [ValidateAntiForgeryToken]
        public asy

[2018-03-25 00:54] llamadonica opened #17199 "Regression in vm/corhost.cpp"
#17080 Adds information to EventPipe in corhost.cpp

EventPipe is only defined when FEATURE_PERFTRACING is turned on, so the build currently breaks when PERFTRACING is off. This affects android builds (and anyone else without liblttng-ust-dev)

[2018-03-25 03:50] sdmaclea commented on #17169
Also `Security.Cryptography.OpenSsl.Tests` & `System.Security.Cryptography.Algorithms.Tests`

[2018-03-25 04:55] benaadams opened #17205 "Failure: StringBuilder.set_Length: The new chunk should be larger than the one it is replacing."
For `Windows_NT x64 Checked corefx_baseline` and `Ubuntu x64 Checked corefx_baseline` https://github.com/dotnet/coreclr/pull/17204 also https://github.com/dotnet/coreclr/pull/17196#issuecomment-375945569

Ubuntu x64 Checked Build and Test (Jit - CoreFx) failure:
[code]

Perhaps related to https://github.com/dotnet/coreclr/pull/16926?

/cc @maryamariyan @danmosemsft @jkotas

[2018-03-25 05:57] benaadams opened #17207 "Can Unsafe.As do-not-enreg[SVB] ld-addr-op be elided on inlining?"
Using `Unsafe.As(ref` causes variable to be marked as `do-not-enreg[SVB] ld-addr-op`.

Can this be elided through inlining?

Example https://github.com/dotnet/corefx/pull/25510#issuecomment-375946853
[code]
[code]
[code]
Or is there a better approach? (e.g. `Unsafe.Read` requires `fixed` and `Unsafe.ReadUnaligned` is a double `ref` also requires `Unsafe.As<Quaternion, byte>`)

/cc @CarolEidt @Andy

[2018-03-25 09:05] lags commented on #17043
I have build rootfs with "-mfpu=vfpv3-d16" and is clear that situation is same: "Illegal Instruction".
For clarity see debug disass when run "dotnet --info" (downloaded from daily build: "dotnet-sdk-latest-linux-arm.tar.gz")
<pre>
(gdb) r --info
Starting program: /root/dotnet/dotnet --info
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/arm-linux-gnueabihf/libth

[2018-03-25 14:29] llamadonica commented on #17199
@adamsitnik (since you were the original reviewer): This seems like such a minor issue. Can I just submit a PR?

[2018-03-25 14:35] jkotas commented on #17197
Could you please share the exception message and stacktrace to help us route this?

[2018-03-25 14:58] dvdobrovolskiy commented on #17197
Sure

I just noticed one more exception after this. Might be some problem with my data

The thread 0x6e5c has exited with code 0 (0x0).
Exception thrown: 'System.IO.IOException' in mscorlib.dll
Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker: Information: Executed action TNPK.Controllers.HomeController.Upload (TNPK) in 7343.1796ms
Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMi

[2018-03-25 15:24] jkotas commented on #17197
The exception is thrown here: https://github.com/aspnet/HttpAbstractions/blob/87cd79d6fc54bb4abf07c1e380cd7a9498a78612/src/Microsoft.AspNetCore.WebUtilities/MultipartReaderStream.cs#L229 . This belongs to ASP.NET.

[2018-03-25 15:25] jkotas commented on #17197
This issue was moved to aspnet/Home#3000

[2018-03-25 15:25] #17197 closed

[2018-03-25 15:54] maryamariyan commented on #17205
... Looking at it

[2018-03-25 16:05] AndyAyersMS commented on #17207
Took a quick look and am not really sure there is any easy way to improve on this. But I could be overlooking something.

The use of `Unsafe.As` effectively hides the fact that the fields of the structs are being accessed, and so the promotion heuristic does not fire:
[code]
For structs with 3 or fewer fields the jit will promote even without seeing evidence of individual field accesses, but when

[2018-03-25 17:12] tarekgh opened #17210 "[Arm64] System.Globalization.Tests.InvariantModeTests 79 tests are failing"
@sdmaclea commented on [Fri Mar 23 2018](https://github.com/dotnet/corefx/issues/28435)

[code]
7 x
[code]
1x
[code]
5x
[code]
5x
[code]
8x
[code]
5x
[code]
5x
[code]
...

[2018-03-25 17:14] tarekgh commented on #17210
Moving this to coreclr too as we did to #17192, this is most likely codegen or runtime bug too.

CC @jkotas

[2018-03-25 17:19] brianrob commented on #17188
What’s the best way to get a repro of this?

[2018-03-25 20:04] sdmaclea commented on #17188
It fails most runs.
I just run the test using the `tracing/eventsourcetrace/eventsourcetrace/eventsourcetrace.sh` script.

@dotnet/arm64-contrib can help you find an appropriate arm64 machine

[2018-03-25 20:18] mjsabby commented on #12713
Works, thanks!

[2018-03-25 20:18] #12713 closed

[2018-03-25 23:14] ahsonkhan commented on #17176
Failed again (from https://devdiv.visualstudio.com/DevDiv/_build?buildId=1519082): https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1519083

[code]

[2018-03-26 02:08] benaadams commented on #17207
I was hoping to get the output looking more like what happens when you switch it for Vector4 where the stack isn't really used and everything stays in registers:
[code]

[2018-03-26 02:10] benaadams commented on #17207
Also in a pattern that worked for general structs rather than just the `Quaterion` one

[2018-03-26 02:11] benaadams commented on #17207
Also in a pattern that worked for general structs rather than just the `Quaternion` one; for example rows of matrixes could also then use the approach

[2018-03-26 02:35] phil-harmoniq commented on #17138
Thanks for the clarification!

[2018-03-26 03:38] dcuccia commented on #10605
@janvorli If the JIT is the problem, could we expect [.Net Core on CoreRT](https://github.com/dotnet/corert) to enable this?

[2018-03-26 06:43] sch0bert commented on #17044
Seems like this is affecting that is not possible to install .Net SDK core in Ubuntu 16.04:

https://askubuntu.com/questions/1018158/dotnet-core-runtime-odroid-c2/1018172

[2018-03-26 07:44] mikedn commented on #17207
Apparently not reusing `q` produces slightly better code:
[code]
I haven't investigated to see why is that.

[2018-03-26 08:31] mikedn commented on #10605
@dcuccia CoreRT uses the same JIT compiler as CoreCLR so the problem remains.

[2018-03-26 10:04] pkruk2 commented on #3894
Hi noahfalk, thanks for update.

I am not sure how this will help here?

I'm not sure if I understand correctly. Do you mean to do this in C# ? But this would require having my c# assembly already loaded, and we are going back to the problem with how to load an assembly.

Or do you mean to hook the Resolving event from C++ profiling code somehow?

[2018-03-26 12:56] janvorli commented on #10605
@dcuccia, @mikedn the corert has a mode in which it compiles into C++, so that could solve the problem. However, I have lost track on how much stuff actually works in that mode. @jkotas can you please provide some details on that?

[2018-03-26 13:02] #17166 closed

[2018-03-26 13:31] RussKeldorph commented on #17210
@dotnet/arm64-contrib

[2018-03-26 13:36] adamsitnik commented on #17199
@llamadonica sure!

[2018-03-26 13:40] adamsitnik commented on #17199
/cc @brianrob

[2018-03-26 15:32] weshaggard commented on #17176
I'm investigating.

[2018-03-26 15:40] sdmaclea opened #17223 "Arm64 2.1.x release"
Looking at the number of open arm64 issues, the availability of resources, the 2.1.0 release schedule...

It looks like linux-arm64 will not be ready in time for 2.1.0.  Not giving up yet, but need to plan so that arm64 2.1.x is possible.

@dotnet/arm64-contrib

[2018-03-26 15:48] sdmaclea commented on #17223
Regarding HW Intrinsics:

Initial SIMD HW Intrinsic API is incomplete.  Needs to add LoadVector*, Store(Vector*), and StaticCast<>()
ABI Handling is incomplete and broken.  This is showing up in Stress testing.

My proposal here is to add the new functions to the CoreFX ABI, but disable the HW intrinsics feature until it is functionally complete and stable 2.1.y.  This allows a complete set of int

[2018-03-26 15:52] sdmaclea commented on #17223
@jkotas @richlander @RussKeldorph

It is my expectation that arm64 enablement and stabilization work can continue after ZBB and/or initial release targeting release_2.1 servicing.

[2018-03-26 15:53] tannergooding commented on #12120
With the support for hardware intrinsics in addition to the existing support for things like System.Numerics.Vector, this may be more important.

This currently represents a scenario where the Windows ABI actually loses out on performance as compared to the System V ABI.

This performance difference is readily measurable in native code, and will become more measurable in managed code as the the Co

[2018-03-26 15:54] tannergooding commented on #12120
CC. @CarolEidt

[2018-03-26 16:06] jashook commented on #17191
This is not fixed; however, the job is now disabled #17151.

[2018-03-26 16:12] 4creators commented on #17223
These APIs are not critical for enabling Arm intrinsics as they can be replaced by Unsafe.Read/Write providing they will be capable to use proper CPU instructions.

I do not know if Unsafe casts would work as a replacement to StaticCast on Arm.

It is good proposal as real life code testing of feature is very important for reaching final stability and efficiency, however, I have some worries about

[2018-03-26 16:15] dotnet-mc-bot opened #17224 "Error: Unexpected qualifier: -skiprestore"
Opened on behalf of @jcagme

Warnings: 4
Status Message: failed

Build : Master - 20180326.05 (Product Build)
Failing configurations:
- Linux
  - PortableCrossBuild-Release-arm64
  - PortableCrossBuild-Release-arm
  - Release-x64
- Windows
  - PortableBuild-Release-x86
  - PortableBuild-Release-arm
  - PortableBuild-Release-arm64
  - PortableBuild-Release-x64
- OSX
  - PortableBuild-Release-x64
-

[2018-03-26 16:20] tannergooding opened #17225 "Support emitting a constant for certain SetVector hardware intrinsic helpers"
For the case where the `SetVector` helper functions are called with all constant arguments, we should support emitting a constant which can be loaded from memory, rather than emitting a chain of shuffle or insert calls.

[2018-03-26 16:21] tannergooding commented on #17225
FYI. @CarolEidt, @fiigii

[2018-03-26 16:24] fiigii commented on #17225
We may need more scenarios and profiling data to support this statement...

[2018-03-26 16:26] jcagme commented on #17224
@weshaggard you think this is related to https://github.com/dotnet/coreclr/commit/46f003fe2276e319f86d06b934aab9d57461a9f6#diff-02389dfac0a172ab80211625efc34318 ?

[2018-03-26 16:28] BruceForstall opened #17227 "Remove Jenkins ghprbCommentBody too large workarounds when possible"
A workaround was introduced in https://github.com/dotnet/coreclr/pull/17213 to clear out the Jenkins variable `ghprbCommentBody` before invoking msbuild, as it is sometimes extremely large, causing msbuild to fail.

Remove this when possible.

[2018-03-26 16:41] AndyAyersMS commented on #12120
On a similar note we should explore the custom xmm call convention on x86, at least for invoking our own math helpers, to avoid transitioning in and out of x87 like we do now.

`__vectorcall` on x86 looks pretty hacky.

[2018-03-26 16:42] tannergooding commented on #17225
It may be worth noting that MSVC, GCC, and Clang all do this.

They do it for both `_mm_set1` and `_mm_set`. However, I imagine it is only beneficial for the latter (`_mm_set`), since the former (`_mm_set1`) is generally a single broadcast or shuffle.

I do agree we should do the appropriate profiling/etc, but the native compilers doing it provide a good precedent.

[2018-03-26 16:42] ww898 opened #17228 "Feature request: extend profiling API to get callback during GC about collectible modules unloading"
Our profiler excavates static variable values during the GC finished event and everything works perfectly till the GC where the first collectible assembly was silently unloaded. And we get crash after that. I need the callback during GC after that I can understand that the module was already collected?

[2018-03-26 16:44] jkotas commented on #10605
CppCodeGen runs simple programs (hello world, etc.). From https://github.com/dotnet/corert#platform-support : The big missing features are reflection, garbage collection, and exception handling.

I agree that CoreRT + CppCodeGen would a good option for platform reach.

[2018-03-26 16:45] tannergooding commented on #12120
@AndyAyersMS, I thought we removed all the x87 FPU code with RyuJIT? At the very least, I remember doing some work to ensure the System.Math helpers were able to call the CRT implementations (which use SSE/SSE2 when that compiler switch is specified), rather than using the hand-coded assembly.

[2018-03-26 16:47] tannergooding commented on #12120
How so? It should just be (roughly speaking) the x86 __fastcall convention plus enabling HVA arguments

[2018-03-26 16:53] mikedn commented on #12120
The standard x86 calling convention returns FP values in `ST(0)`.

[2018-03-26 16:56] sdmaclea commented on #17223
See also https://github.com/dotnet/cli/pull/8896#issuecomment-376170590

[2018-03-26 17:09] #17016 closed

[2018-03-26 17:10] brianrob commented on #17199
@llamadonica, thanks for reporting this.  Yes, feel free to submit a PR for this, or I can do this as well.

Can you tell me more about the android builds?  Where are these built out of?  I'm not aware of any official build that we do where FEATURE_PERFTRACING is disabled.

[2018-03-26 17:10] mikem8361 commented on #17016
I haven't seen any response to my previous comment so I assume there isn't any issue anymore.

[2018-03-26 17:11] jkotas commented on #17223
It can definitely continue in master.

We limit churn in servicing branches to manage risk. I do not think we can promise that the churn required to make arm64 work great will be acceptable for 2.1.x servicing branch. We can have that discussion once we get there.

cc @Petermarcu

[2018-03-26 17:14] brianrob commented on #17188
Ok, thanks @sdmaclea.  @dotnet/arm64-contrib it would be great if you can help me get access to an arm64 machine where I can repro this.

[2018-03-26 17:23] brianrob commented on #16951
Good news.  Let me know if this shows up again.  Thanks.

[2018-03-26 17:27] RussKeldorph commented on #17224
Duplicate of #17176

[2018-03-26 17:27] #17224 closed

[2018-03-26 18:07] ww898 commented on #16274
Hi @noahfalk, thank you for so full answers

Unofficially looking into the runtime implementation details, the managed type LoaderAllocator has a m_slots array. I believe at least two of the objects in the m_slots array are object[]/byte[] that hold the static data. By specifically observing when the LoaderAllocator is collected you could infer it is no longer safe to access the static data.
If yo

[2018-03-26 18:14] ww898 commented on #16274
@Maoni0 Could you please look at the last part of my answer to @noahfalk? I tried to describe why I need array indexes in `ICorProfilerCallback::ObjectReferences`...

[2018-03-26 18:16] AndyAyersMS commented on #12120
Hmm, maybe I misread the "spec" -- it seems like if we made vectorcall the default for all methods it looks like it would give us XMM pass/return for floats on x86. The description [here](https://blogs.msdn.microsoft.com/vcblog/2013/07/11/introducing-vector-calling-convention/) is not all that easy to parse as it also says the convention for floats is not impacted.

[2018-03-26 18:29] jkotas opened #17230 "Make CoreCLR compatible with W^X"
https://en.wikipedia.org/wiki/W%5EX

[2018-03-26 18:29] mikedn commented on #12120
Yes, it does that. For example: https://godbolt.org/g/ZsJv5y

[2018-03-26 18:34] AndyAyersMS commented on #12120
Also it interesting to see that `__fastcall` on x86 has some limited aspects of `__vectorcall`. I am pretty sure the jit doesn't do this for manged methods with HFA/HVAs.

Maybe interop knows about it?

[2018-03-26 18:35] mikedn commented on #12120
The documentation page (https://msdn.microsoft.com/en-us/library/dn375768.aspx) does say that vector types include FP types:

And then for x86 it says:

[2018-03-26 18:37] sandreenko commented on #16965
I do not see any hits of `assert(pImportSection == pModule->GetImportSectionForRVA(rva))` in the last run [output](https://ci.dot.net/job/dotnet_coreclr/job/dev_unix_test_workflow/job/arm_cross_checked_ubuntu_r2r_tst_prtest/3/consoleText). Maybe the issue run did not include #16171 fix.

[2018-03-26 19:00] llamadonica commented on #17199
The android builds are using these instructions https://github.com/dotnet/coreclr/blob/master/Documentation/building/android.md and the libttng issue is here: #15687 (along with various other unrelated android build tips.)

FEATURE_PERFTRACING is disabled by default when FEATURE_EVENT_TRACE is disabled, which is why I came the issue while doing an android x86 build for termux. This only affects un

[2018-03-26 19:06] akoeplinger commented on #1152
This was done with https://github.com/dotnet/coreclr/pull/6386 ages ago :)

[2018-03-26 19:06] #1152 closed

[2018-03-26 20:03] ahsonkhan commented on #10051
I updated the original post of https://github.com/dotnet/coreclr/issues/5851. Thanks

[2018-03-26 20:16] davmason commented on #12972
@RussKeldorph I am seeing this issue repeatedly in #17142, it is blocking me from having a clean CI.

What is the guidance here? I have reset it 3 times and each time it takes hours to run and then fails. Should I start ignoring the armrel legs of the CI?

[2018-03-26 20:26] pksorensen commented on #10605
@jkotas Do i read this correct - following the example from corert -> https://github.com/dotnet/corert/tree/master/samples/WebApi i can compile that with cppCodeGen and it can run on my rasp pi zero?

Or will it still fail due to only having ARMv6 ?

[2018-03-26 20:37] jkotas commented on #10605
CppCodeGen is too incomplete for WebAbi sample. Reflection and garbage collection would have to work first.

[2018-03-26 20:46] #17199 closed

[2018-03-26 20:48] brianrob commented on #17199
Thanks much @llamadonica.  Agreed they should work if they're present - just wasn't familiar with the android build instructions.

[2018-03-26 20:54] sdmaclea commented on #17223
@jkotas @Petermarcu It would be nice to at least have a CoreCLR 2.1.arm64 branch so we can stabilize for arm64.  The fact that it is stable for x64 should drastically help in arm64 stabilization.  Once arm64 is stable we can look at merging to the 2.1.stabilization branch.

[2018-03-26 21:17] 4creators commented on #17225
It's beneficial for both and is done by all native compilers. Shuffle is cheap but broadcast mostly not.

[2018-03-26 21:34] #17117 closed

[2018-03-26 21:35] davmason commented on #17117
Fixe din #17142

[2018-03-26 21:37] wtgodbe commented on #16840
For reference, here's how I would go about checking if test blobs have unique names:

- Go into a recent test build's blob container in Azure - e.g. `coreclr-release21-20180326-06`
- Look at the name scheme for test payloads & Core_Roots - it appears to be `Core_Root_{OS}_{Arch}`, and `{Arch}-{Configuration}-{RID}` for tests.
- Check in helixpublish.proj/helixprep.proj to see if the definitions ma

[2018-03-26 21:39] wtgodbe commented on #14291
This is most likely an issue in some props file. I would try running a build with verbosity=diag, and try to find what property is getting set to `win7` in the logs, then track down where/how we define that property.

[2018-03-26 22:41] pksorensen commented on #10605
thanks @jkotas - but then a hello world and some basic IO/httpclient stuff will work?

[2018-03-26 22:56] jkotas commented on #10605
httpclient is a pretty complex piece of code. You can give it a try, but I doubt that it would work with CppCodeGen today.

[2018-03-26 23:09] BruceForstall commented on #15733
Fixed with #17018

[2018-03-26 23:09] #15733 closed

[2018-03-26 23:25] #13501 closed

[2018-03-27 00:00] BruceForstall opened #17238 "[arm32/Ubuntu] Remove armem Ubuntu CI jobs"
With Ubuntu arm testing on hardware, there should be no need to maintain the Ubuntu arm QEMU jobs.

In particular, the jobs are:
[code]

Note that the Ubuntu arm hardware jobs run only on 14.04.

[2018-03-27 00:17] jkotas commented on #16963
My bet would be that it is caused by https://github.com/dotnet/coreclr/issues/13651

[2018-03-27 00:18] BruceForstall commented on #12972
Looks like https://github.com/dotnet/dotnet-docker-nightly/pull/328 despite causing QEMU failures?

[2018-03-27 00:28] #17176 closed

[2018-03-27 00:31] weshaggard commented on #17176
Official build queued and I'm monitoring https://devdiv.visualstudio.com/DevDiv/Net%20CoreFX/_build/index?buildId=1523325&_a=summary.