[2018-02-25 17:41] AndyAyersMS opened #16559 "Implement PrepareMethod-based tests for the jit"
Now that `PrepareMethod` is supported (see #16382) we should leverage it for testing the jit.

category:correctness
theme:testing
skill-level:expert
cost:medium

[2018-02-25 18:01] fiigii commented on #16509
@tannergooding Sounds good!

[2018-02-25 18:30] #6237 closed

[2018-02-25 19:20] mikedn commented on #16360
Well, compphases.h already describes sub-phases. But it turns out that the way they are described in compphases.h and the way they are used doesn't always add up.

One particular example is `PHASE_LCLVARLIVENESS`, this one has sub-phases - `PHASE_LCLVARLIVENESS_INIT`, `PHASE_LCLVARLIVENESS_PERBLOCK` and `PHASE_LCLVARLIVENESS_INTERBLOCK`. But `PHASE_LCLVARLIVENESS` itself is only used in legacy cod

[2018-02-25 19:57] mikem8361 commented on #16526
clrstack/clrthreads don't work with lldb 3.6 on core dumps. You need to use at least 3.9 and the attached libsosplugin.so.

[libsosplugin.zip](https://github.com/dotnet/coreclr/files/1756638/libsosplugin.zip)

[2018-02-26 01:16] tannergooding commented on #16458
Test instructions are also part of #16558 now.

[2018-02-26 05:15] tannergooding commented on #16458
@fiigii, I've completed everything except for `Extract` and `Insert`. These two in particular require #16183 (or a similar change)

[2018-02-26 06:51] fiigii commented on #16458
@tannergooding Thank you so much for the work! I will pick up `Extract` and `Insert` (in a new PR or #16183).

[2018-02-26 07:01] kbaladurin commented on #16515
@sdmaclea gdbjit should work with `FEATURE_GDBJIT` and `FEATURE_GDBJIT_SYMTAB` features. Second one allows to generate symbol information for jitted methods from all modules not only for specified in `CORECLR_GDBJIT` env variable. To build dwarf information for methods it's necessary to
to list corresponding modules in `CORECLR_GDBJIT` variable, for example:
[code]
`FEATURE_GDBJIT_LANGID_CS` is ne

[2018-02-26 11:14] janvorli commented on #16462
Ok, this doesn't look much different from what I have here except of the `DirectMap1G` which I don't have here. But that should not have any effect.
One more try - can you please try to compile the following piece of code with gcc or clang and run it to see what we get? (`gcc test.c -o test` or `clang test.c -o test`)
[code]

[2018-02-26 11:29] janvorli commented on #16462
And another one that mimicks what happens in the dotnet, but in a very simple code. For that one, I'm interested in whether it will also crash or not:
[code]

[2018-02-26 11:37] pavlexander commented on #16462
Here they are:

`while sleep 0.5 ; do ./test1 ; done`
Stack limit: cur=0x800000, max=0xffffffffffffffff
Stack limit: cur=0x800000, max=0xffffffffffffffff
Stack limit: cur=0x800000, max=0xffffffffffffffff
Stack limit: cur=0x800000, max=0xffffffffffffffff
Stack limit: cur=0x800000, max=0xffffffffffffffff
Stack limit: cur=0x800000, max=0xffffffffffffffff
Stack limit: cur=0x800000, max=0xfffffffffffff

[2018-02-26 12:32] sergign60 opened #16564 "[linux x64 tizen armel] the test objmonhelper hangs forever with GCStress=0x3"
The test ```baseservices/threading/regressions/269336/objmonhelper``` hangs forever with the environment variable ```COMPlus_GCStress=0x3```. The checked platforms - ubuntu-x64 and tizen-armel. The test is performed very quickly without ```GCStress```. I've checked ```Debug```, ```Checked``` and ```Release``` versions of CoreCLR.

[2018-02-26 12:33] sergign60 commented on #16564
@dotnet/arm32-contrib

[2018-02-26 12:33] sergign60 commented on #15309
https://github.com/dotnet/coreclr/issues/16564

[2018-02-26 12:34] sergign60 commented on #16564
https://github.com/dotnet/coreclr/issues/15309

[2018-02-26 13:32] kvochko opened #16565 "[ARM32] RyuJIT support for profiler ELT callbacks"
Currently only legacy backend generates profiler hooks on ARM:
https://github.com/dotnet/coreclr/blob/08c87c57fb4fbff68abe4feb791417893c34dd2f/src/jit/codegencommon.cpp#L7894

We would like to have the same functionality enabled for RyuJIT
@Dmitri-Botcharnikov @alpencolt @sergign60

[2018-02-26 13:34] tannergooding opened #16566 "CoreMangLib System.Single.GetHashCode is failing"
This test is sporadically failing based on the seed it starts with.

See https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_jitincompletehwintrinsic_prtest/118/testReport/CoreMangLib_cti/_system_single_SingleGetHashCode_SingleGetHashCode_/_system_single_SingleGetHashCode_SingleGetHashCode_cmd/ for more details.

[2018-02-26 13:34] tannergooding commented on #16566
CC. @jkotas

[2018-02-26 13:41] tannergooding commented on #16566
Also failed:
* https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_jitx86hwintrinsicnosimd_prtest/128/testReport/CoreMangLib_cti/_system_single_SingleGetHashCode_SingleGetHashCode_/_system_single_SingleGetHashCode_SingleGetHashCode_cmd/
* https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_jitx86hwintrinsicnoavx2_prtest/11

[2018-02-26 13:47] mikedn commented on #16566
I don't see why the test is flaky, the part that fails is not random. It's simply that the hashcode of `Single.NaN` has changed.

[2018-02-26 13:52] tannergooding commented on #16566
@mikedn, your right.

For a single PR, I had 15 jobs pass, 15 jobs fail, and saw the test failure mention that it uses `CORE_SEED`.

I had assumed this meant flaky, but it is actually just a deterministic failure in the pri-1 tests.

[2018-02-26 13:59] CarolEidt opened #16568 "Merge bounds check nodes"
The `GT_ARR_BOUNDS_CHECK` and `GT_SIMD_CHK` nodes shouldn't need to be separate operators, as their semantic differences are captured in the `gtThrowKind` on the `GenTreeBoundsChk` node. In addition, a `GT_HW_INTRINSIC_CHK` is being added, which is also not really needed.
It may be that there are some entanglements with existing array bounds check elimination (or other) code that will need to be s

[2018-02-26 14:14] janvorli commented on #16462
Thank you! That is really strange. So everything seems to be fine and only the dotnet app has a problem. The tests above have shown that there is no stack limit set and that a stack that's 192kB long still works.

I ran out of ideas what you could try to get me some evidence. What I can try is to install debian 9 from the same source you did and see if I can repro it in a fresh installed VM. Of co

[2018-02-26 14:32] ForkBug opened #16569 "netstandard deps.json and the netfx gac are not compatible"
I create a windows C# project A. A refers to netstandard project B. B refers to a couple of nuget, like C,D,E.
The problem is, C,D,E couldn't be found in A's project output folder. They have to be copied manually.

The root cause may be the netstandard deps.json and the netfx gac are not compatible. Core/netstandard use another way to find dependencies.

Recursive copy referred netstandard dll to

[2018-02-26 14:44] jkotas commented on #16569
This issue was moved to dotnet/sdk#1996

[2018-02-26 14:44] #16569 closed

[2018-02-26 15:26] sherlock1982 commented on #16052
Sorry but I don't see this issue merged for 2.0.6. Is there something else needs to be done?

[2018-02-26 15:49] pavlexander commented on #16462
Well, as I see in the download history - at that time the Debian version was 9.2.1. The latest available version now, is 9.3.0.

The 64 bit DVD can be downloaded from official source, here:
https://cdimage.debian.org/debian-cd/current/amd64/bt-dvd/
Alternatively, non-torrent version:
https://cdimage.debian.org/debian-cd/current/amd64/iso-dvd/

Note, that you don't particularly need all 3 DVDs, onl

[2018-02-26 16:18] #16545 closed

[2018-02-26 16:23] maximusjunior commented on #6792
@janvorli, sorry for disturbing you, but I got another error. I can't run MVC Core 2 application on this CentOS 6 instance.
When I try to run webapp published with an option PublishWithAspNetCoreTargetManifest=false, I'm getting error:
 (Exception from HRESULT: 0x8007007E)) (Unable to load DLL 'libuv': The specified module or one of its dependencies could not be found.
 (Exception from HRESULT: 0x

[2018-02-26 16:42] fujiy commented on #15780
@danmosemsft, will this changed be included in .NET Core 2.1?
What about be ported to .NET Framework?

Thx!

[2018-02-26 16:55] jashook commented on #11717
This has been mitigated but not fixed. We  currently will not go down the code path that will cause the bug.

[2018-02-26 17:29] #16566 closed

[2018-02-26 17:37] loop-evgeny commented on #16526
Thank you, with this plugin I was able to use lldb 4.0. Unfortunately, the clrstack output generated from a minidump with heap (the default created by `createdump`) doesn't show much useful detail - all methods are "Unknown":

[code]

With a full dump (`createdump -f`) clrstack shows the method and source info. Unfortunately, to create a full dump took about 55 minutes and >25 GB RAM - and this wa

[2018-02-26 17:41] danmosemsft commented on #15780
@fujiy yes this will be in .NET Core 2.1, albeit not in the Preview 1 as that branched already. I don't think CoreFX ingested it yet, but in a few days, please try it in master.

For .NET Framework - it is marked netfx-port-consider for our next pass through potential ports. I can't give a timeframe for that.

[2018-02-26 17:46] jkotas commented on #16510
This is duplicate of https://github.com/dotnet/coreclr/issues/14103

cc @AndyAyersMS

[2018-02-26 17:46] #16510 closed

[2018-02-26 17:48] pavlexander commented on #16462
I was able to reproduce the issue on my 9 year old PC with 1 attempt.

[2018-02-26 17:57] pavlexander commented on #16462
Download CD from here live-boot (no need to install) from either USB or DVD.
https://cdimage.debian.org/debian-cd/current-live/amd64/bt-hybrid/

Install dotnet-core using following tutorial for Debian 9:
https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.0.0-download.md

[code]

Then get your compiled project to Linux somehow. I used my own one-drive share:
https://1drv.m

[2018-02-26 18:18] sandreenko opened #16573 "[RyuJit/R2R/JitStress=1] JIT\Regression\JitBlue\DevDiv_255294 fails with timeout."
JIT Compilation time report:
  Compiled 2 methods.
  Compiled 810553 bytecodes total (810534 max, 405276.50 avg).
  Time: total: 71636680.662 Mcycles/21027407.414 ms

So the test takes 5 hours to crossgen with JitStress=1.
[arm ci example](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_r2r_jitstress1_tst_prtest/18/), [amd64 ci example.](https://ci.d

[2018-02-26 18:21] janvorli commented on #16462
@pavlexander thank you for getting another repro, I will try it both in VM and also on some physical machines I have here.

I've downloaded the file from your onedrive, so you can remove it.

Btw, dotnet is not storing your credentials, but the full path to the source files is part of the debug information. And so it includes your user name, since you had the project stored under your documents fo

[2018-02-26 18:32] pavlexander commented on #16462
That'd be understandable, if the project was compiled in debug mode. However, I did an implicit publishing in release mode. Therefore, anyone who has the library can access the information from the original system where the library was compiled at. This looks like a potential security flaw. But it matters not for me now, as the file was removed.

I've just tried uploading the whole solution for th

[2018-02-26 18:53] mikem8361 commented on #16526
I'll look into both of these issues (Unknown mode and huge slow full dump) as soon as I can.

[2018-02-26 19:01] loop-evgeny commented on #16526
Thanks! Is it expected that lldb uses more RAM than the size of the dump during `createdump -f`? Is this an issue with the SOS plugin or with lldb itself?

[2018-02-26 19:09] fiigii opened #16575 "Move Sse2.SetZeroVector128<T> to Sse class"
We should move `Sse2.SetZeroVector128<T>` to `Sse` class to keep one generic intrinsic and match AVX API design.

cc @CarolEidt @tannergooding @eerhardt @mikedn @4creators

[2018-02-26 19:09] janvorli commented on #16462
@pavlexander even release build is supposed to be debuggable, the difference is just whether optimizations are applied or not.

[2018-02-26 19:19] adiaaida opened #16578 "[Perf] Investigate BenchF/BenchMk2 Regression between release/2.0.0 and release/2.1"
We regressed 12% on x64.

[2018-02-26 19:19] adiaaida opened #16579 "[Perf] Investigate BenchF/BenchMk Regression between release/2.0.0 and release/2.1"
We regressed 25%.

[2018-02-26 19:19] adiaaida opened #16580 "[Perf] Investigate BenchF/Whesto pref improvement between release/2.0.0 and release/2.1"
We are 2.8% faster in release/2.1.

[2018-02-26 19:20] adiaaida opened #16581 "[Perf] Investigate BenchI/Ackerman x86 Regression between release/2.0.0 and release/2.1"
We are regressed in x86.

[2018-02-26 19:20] adiaaida opened #16582 "[Perf] Investigate BenchI/CSieve Regression between release/2.0.0 and release/2.1"
We regressed 5% in release/2.1

[2018-02-26 19:21] #16580 closed

[2018-02-26 19:21] fiigii opened #16583 "Implement AVX helper-intrinsics and underlying intrinsics"
I will implement AVX helper-intrinsics (e.g., `SetVector256`, `SetAllVector256`, `SetHighLow`, `StaticCast`) and underlying intrinsics (such as `BroadcastScalarToVector128`, `Sse41.Insert`).

cc @CarolEidt @tannergooding

[2018-02-26 19:21] adiaaida opened #16584 "[Perf] Investigate BenchI/Fib Regression between release/2.0.0 and release/2.1"
We regressed 18% in release/2.1

[2018-02-26 19:22] adiaaida opened #16585 "[Perf] Investigate SciMark/benchMonteCarlo Regression between release/2.0.0 and release/2.1"
We regressed 6% in release/2.1

[2018-02-26 19:37] tannergooding commented on #16575
I actually think we should keep them split and explode them instead.

`Sse` only deals with floats and you don't get any way to actually "consume" the other types until `Sse2`.

If you really need to zero a vector of another type when using `Sse`, you can explicitly call `SetZeroVector128Single` and then `StaticCast`.

I likewise think that `AVX` should be split, since `AVX` only deals with `float

[2018-02-26 19:38] tannergooding commented on #16583
@fiigii, could you prioritize `Sse41.Insert` and `Sse41.Extract` in their own PR first?

[2018-02-26 19:40] fiigii commented on #16583
@tannergooding Sure, will do.

[2018-02-26 19:40] tannergooding commented on #16575
I believe this also ensures the user is aware of the "data bypass penalty" mentioned here: https://github.com/dotnet/coreclr/pull/16183#discussion_r170430816

Where-as it may not be obvious otherwise.

[2018-02-26 19:48] fiigii commented on #16575
I think we can provide the semantics of `SetZeroVector128<T>` in `Sse` and hepler-intrinsic codgen usually is not "fixed". That would simplify the API and JIT compiler.

Actually, the "data bypass penalty" is not very significant that is just 1-cycle latency on most of x86 architectures.

[2018-02-26 19:53] sdmaclea opened #16586 "reliability_stress_framework nightly config case incorrect"
https://github.com/dotnet/coreclr/blob/master/tests/src/GC/Stress/testmix_gc.config#L40-L42

`Concurrentspin2.exe` should be `concurrentspin2.exe`.  This will cause this test to be skipped on case sensitive filesystems (Linux ...)

[2018-02-26 19:53] sdmaclea commented on #16586
@Maoni0 FYI

[2018-02-26 20:12] sandreenko opened #16587 "[RyuJit\R2R\JitStress=1] crossgen of JIT\jit64\opt\cse\hugeexpr1 fails"
Error log:
[code]

[ci example](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_r2r_jitstress1_tst_prtest/18/).

[2018-02-26 20:16] sandreenko opened #16589 "[RyuJit/R2R/arm32] pImportSection == pModule->GetImportSectionForRVA(rva) assert failed"
Failing tests:
CodeQuality\Roslyn\CscBench
managed\Compilation
JIT\Performance\CodeQuality\BenchmarksGame\k-nucleotide

Unmerged PR #16171 was able to fix this issue, but caused some other tests to fail.

[2018-02-26 20:17] sandreenko commented on #15552
The issue was cut into smaller issues:
#16589, #16587, #16573.

[2018-02-26 20:17] #15552 closed

[2018-02-26 20:26] tannergooding commented on #16575
Perhaps it is worth a more "in-depth" discussion where these helpers live. They are not tied, technically speaking, to any given ISA but due to where they are exposed are being "tied down". They additionally are enforcing a "generational" dependency which isn't documented (but is instead just widely assumed -- I wasn't able to find any explicit documentation in the architecture's manual).

[2018-02-26 20:42] AndyAyersMS commented on #14124
Fixed via #16378.

[2018-02-26 20:52] fiigii opened #16594 "[RyuJIT] adding a function for checking if a HWIntrinsicFlag is set or unset"
https://github.com/dotnet/coreclr/pull/16183#discussion_r170726444

cc @CarolEidt @tannergooding

[2018-02-26 21:20] 4creators commented on #16575
The problem is that this proposal is against the very basic principle of the design where we keep intrinsics bound to the ISA class where underlying instructions are available and where C++ intrinsics were put in native compilers even for helper intrinsics. Every developer having previous experience with SIMD programming would expect to find them splitted between Sse and Sse2 class.

[2018-02-26 21:24] fiigii commented on #16575
This is the current design goal. That splits `SetZeroVector128` in Sse and Sse2, but define `SetZeroVector256<T>` in Avx, which matches C++ intrinsic design.

[2018-02-26 21:33] tannergooding commented on #16575
We have already deviated from C++ on a number of things, such as naming, the shape of the APIs, etc. Using the C/C++ intrinsics as a general basis/starting point is definitely good, but we should continue to ensure that what we expose and where we expose it makes sense for .NET

This is a slightly larger discussion and definitely needs input from people like @eerhardt, who can better guide the sha

[2018-02-26 21:43] 4creators commented on #16575
I fully agree. IMO it would be helpful to get input from devs who are less biased than we are after couple of months of HW intrinsics implementation work

[2018-02-26 21:46] mikedn commented on #16575
Since this one doesn't actually do anything maybe it shouldn't be connected in anyway to the intrinsic classes. Maybe it should be a member of the vector structs. Something like `Vector128<T> AsVector128<T>()`. Though I suspect it may be problematic for the JIT to recognize that.

[2018-02-26 22:01] tannergooding commented on #16575
Only until https://github.com/dotnet/csharplang/issues/99 is approved (if that ever happens) 😄

I believe we made an explicit design decision to keep these opaque.

However, it does make sense to me that `new Vector128<T>()` would "play nicely" and ultimately produce the "optimal" codegen. There would still be some open questions about how it would behave for Vector128<T> when `T` is not supported

[2018-02-26 22:14] mikedn commented on #16575
Funny:
[code]
asserts:
[code]

[2018-02-26 22:16] fiigii commented on #16575
@mikedn Thanks, will fix.

[2018-02-26 22:46] AndyAyersMS commented on #14103
I don't see us getting a fix for this in time for the 2.1 release, so I'm moving it to Future.

[2018-02-26 22:54] AndyAyersMS commented on #3514
@sergiy-k we can close this now, right?

[2018-02-26 22:57] AndyAyersMS commented on #5634
@Auersberg is  this still an issue? If so we should move it over to the SDK repo.

[2018-02-26 22:59] AndyAyersMS commented on #4446
@benaadams can you update the status of this?

[2018-02-26 23:06] masonwheeler commented on #14103
@jkotas

That's kind of horrifying.  Why doesn't the Roslyn compiler simply dump this big literal array into a sdata blob with whatever its equivalent of [ModuleBuilder.DefineInitializedData](https://msdn.microsoft.com/en-us/library/system.reflection.emit.modulebuilder.defineinitializeddata(v=vs.110).aspx) is, then block-load it at runtime?

[2018-02-26 23:11] Maoni0 commented on #16586
@sywhang would you please fix this? thanks!

[2018-02-26 23:12] briansull commented on #14103
Beacuse you can't initialize object is the managed heap en-mass.

[2018-02-26 23:16] masonwheeler commented on #14103
@briansull That doesn't actually make sense.  Are you familiar with how `DefineInitializedData` works?

[2018-02-26 23:30] briansull commented on #14103
Actually  `DefineInitializedData ` sounds like it is dealing  with unmaged BLOBs, not Object types.

[2018-02-26 23:33] masonwheeler commented on #14103
Not object types, struct types.

Basically, your compiler serializes your struct array to a binary blob which it saves to the PE file.  At runtime, that blob gets loaded into a static field as a byte array, and then you use `[System.Runtime.CompilerServices.RuntimeHelpers.InitializeArray](https://msdn.microsoft.com/en-us/library/system.runtime.compilerservices.runtimehelpers.initializearray(v=vs.1

[2018-02-27 00:01] briansull commented on #14103
Well you can  make a feature request for some functionally like that to be "added" to Roslyn.
In the test case above we are populating a Dictionary<K,V> which is quite a bit different than a struct or an array.

[2018-02-27 00:36] #16586 closed

[2018-02-27 00:58] jorive opened #16600 "[Perf][Windows_NT][x64] Investigate ByteMark/BenchAssignJagged improvement."
There is ~8.6% improvement from `release/2.0.0` to `release/2.1`

[2018-02-27 01:00] DrewScoggins opened #16601 "[Perf] Investigate CscBench Regression between release/2.0.0 and release/2.1"
We saw a regression of 5% between 2.0 and 2.1

[2018-02-27 01:01] sdmaclea commented on #16586
This was not fixed correctly.

[2018-02-27 01:01] DrewScoggins opened #16602 "[Perf] Investigate LinqBenchmarks Regression between release/2.0.0 and release/2.1"
Investigate the full suite of Linq benchmarks as we saw regressions across many tests as large as 5%

[2018-02-27 01:02] jorive opened #16603 "[Perf][Windows_NT] Investigate ByteMark/BenchAssignRectangular improvement."
There are ~9% on x64 and ~2% on x86 improvements from release/2.0.0 to release/2.1

[2018-02-27 01:02] DrewScoggins opened #16604 "[Perf] Investigate RayTracer Improvement between release/2.0.0 and release/2.1"
We saw a 5% improvement in Raytracer and we should look into what caused this win.

category:cq
theme:benchmarks
skill-level:intermediate
cost:small

[2018-02-27 01:03] DrewScoggins opened #16605 "[Perf] Investigate Span Improvement between release/2.0.0 and release/2.1"
Investigate mostly improvement and some regressions in the Span performance suite.

category:cq
theme:benchmarks
skill-level:intermediate
cost:small

[2018-02-27 01:04] nategraf opened #16606 "Performance regression on FractalPerf test for x64"
Looking back at BenchView data my team has identified a 1.6% performance regression in terms of time spent on the FractalPerf test around Nov 14, 2017. The performance has been stable since.

This appears to be related to commit f1d3282f27009c9c213365f70f6ae2e5b69872a9 @AndyAyersMS

It should be noted that we see a 3.4% performance gain on the same commit for x86

https://benchview/trendline?build

[2018-02-27 01:05] jorive opened #16608 "[Perf][Windows_NT][x64 & x64] Investigate ByteMark/BenchEmFloat improvement"
There are ~4% improvement on x64 and x86 from `release/2.0.0` to `release/2.1`

[2018-02-27 01:09] jorive opened #16609 "[Perf][Windows_NT][x64 & x64] Investigate ByteMark/BenchEmFloatClass improvement"
From release/2.0.0 to release/2.1, there are ~2.4% improvement on x86 and x64

[2018-02-27 01:13] jorive opened #16610 "[Perf][Windows_NT][x86] Investigate ByteMark/BenchLUDecomp regression."
There is ~4.5% regression from `release/2.0.0` to `release/2.1`

[2018-02-27 01:16] jorive opened #16611 "[Perf][Windows_NT][x86] Investigate V8/Crypto/Support/Bench improvement"
There is ~3.4% improvement from `release/2.0.0` to `release/2.1`

[2018-02-27 01:20] jorive opened #16612 "[Perf][Windows_NT][x64 & x64] Investigate V8/Richards/Support/Bench improvement"
There are ~3.1% on x86 and ~6% on x64 improvements from `release/2.0.0` to `release/2.1`

[2018-02-27 01:31] nategraf opened #16613 "[Perf][x86] Investigate performance regression in FannkuchRedux_2 and FannkuchRedux_5"
There appears a 35% and 3% performance regression in release/2.1 as compared 7f143364a8ed1ebc51356195fc90bbe972c2c038

A possible cause for this regression has yet be found

[2018-02-27 01:34] ahsonkhan opened #16614 "Optimize Span ClearWithoutReferences so other platforms are on par with AMD64 CoreCLR"
See https://github.com/dotnet/coreclr/blob/22f1bc00d018a49f9550ee3b564f5f7737960b0d/src/mscorlib/shared/System/Span.NonGeneric.cs#L707

cc @stephentoub, @jkotas, @GrabYourPitchforks

[2018-02-27 01:36] nategraf opened #16615 "[Perf][x86 & x64] Investigate performance regression in SpectralNorm_3"
There appears a 25% performance regression in release/2.1 as compared 7f14336

A possible cause for this regression has yet be found

[2018-02-27 01:50] sergiy-k commented on #3514
Yes, I think so.

[2018-02-27 02:03] benaadams commented on #4446
Probably better as a single ThreadStatic cache per collection...

[2018-02-27 02:07] mikem8361 commented on #16526
The huge/slow dump is probably a problem in SOS (the createdump -f command is just alias for a SOS command). If you use the createdump utility (in the same directory as libcoreclr.so) instead of the command, it should be faster.

[2018-02-27 02:08] mikem8361 commented on #16526
This may be the same problem in https://github.com/dotnet/coreclr/issues/14490.

[2018-02-27 02:14] janvorli commented on #16462
@pavlexander I was able to repro the issue in a VM with a fresh install of debian 9.3 So I can finally debug it.

[2018-02-27 04:11] sywhang commented on #16586
This should've been fixed with #16607 . Sorry for the confusion

[2018-02-27 06:34] AndyAyersMS commented on #3514
@kika123 windows on arm32 support is currently alive and well, so closing this.

[2018-02-27 06:34] #3514 closed

[2018-02-27 07:24] kbaladurin commented on #16515
@sdmaclea for lldb `FEATURE_GDBJIT_FRAME` is unnecessary, `FEATURE_GDBJIT_SYMTAB` is enough to get correct backtraces, for gdb it can be useful, because it incorrect unwinds frames using assembly inspection in some cases. So it's better to enable `FEATURE_GDBJIT_FRAME` for gdb.
Also I recommend to use lldb, if it's possible, because gdbjit implementation was tested using it.

[2018-02-27 08:06] pavlexander commented on #16462
Glad to hear that!
Looking forward to update on this issue.

[2018-02-27 08:32] CarolEidt opened #16619 "[RyuJIT] Eliminate unecessary copies when passing structs"
Currently the JIT introduces unnecessary copies when passing structs by value.
This impacts both the by-ref passing as in the x86/64 windows ABI, as well as the x86/64 unix ABI - though the impact is worse in the latter case.
This is especially problematic for small structs on x86/64 unix, which are passed in registers but needlessly forced to memory. `Span<T>` and similar types are specific examp

[2018-02-27 09:30] fiigii commented on #16619
Maybe related to https://github.com/dotnet/coreclr/issues/11030 (https://github.com/dotnet/coreclr/pull/11133 solved part of the problem).

[2018-02-27 09:49] loop-evgeny opened #16620 "Allow dump from createdump to be piped to another program (e.g. for compression)"
Full memory (core) dumps can be very large, possibly even exceeding the amount of available disk space. They compress very well, but `createdump` doesn't make it easy to compress them on the fly, without creating a temporary file.

```dotnet/shared/Microsoft.NETCore.App/2.0.5/createdump --full --name /dev/stdout PID |xz >dump.xz```
doesn't work, because `createdump` also writes other output to std

[2018-02-27 10:23] CarolEidt commented on #16619
@fiigii thanks for adding those links (especially pointing to the [existing issues ](https://github.com/dotnet/coreclr/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20label%3Aarea-codegen%20label%3Aoptimization%20milestone%3AFuture%20struct%20copy%20label%3Aos-linux%20) that @RussKeldorph had linked to).
#11030 had to do with struct returns, which have similar issues, but somewhat different cause

[2018-02-27 11:04] ro-jo commented on #5463
When I search Bing for AssemblyLoadContext documentation, it leads me to this page.  I read through the whole post looking for a link to some documentation, maybe I missed it.  Anyway, without a search engine I found this page:

[https://docs.microsoft.com/en-gb/dotnet/api/system.runtime.loader.assemblyloadcontext?view=netcore-2.0](https://docs.microsoft.com/en-gb/dotnet/api/system.runtime.loader.

[2018-02-27 11:11] xoofx opened #16621 "new T() where T : struct calls Activator.CreateInstance<T> which allocates on the heap"
Even if we have a `struct` constraint, [`Activator.CreateInstance<T>`](https://github.com/dotnet/coreclr/blob/2825e34ed4b63482d1a2a1b1aeb6c341a4d05a44/src/mscorlib/src/System/Activator.cs#L75)  is going to call [`object RuntimeType.CreateInstanceDefaultCtor`](https://github.com/dotnet/coreclr/blob/08c87c57fb4fbff68abe4feb791417893c34dd2f/src/mscorlib/src/System/RtType.cs#L4802) which is causing `T

[2018-02-27 12:33] loop-evgeny commented on #16526
Thanks, using the `createdump` utility I was able to create a full dump in a more reasonable time (1.5-2 minutes) and without using much memory. The "!Unknown" in symbols does look the same as #14490. One more question before this is closed:

If I want to see some info on the framework methods what do I do with the symbols downloaded from https://download.microsoft.com/download/1/1/0/11046135-4207

[2018-02-27 13:13] omariom commented on #16621
`typeof(T).IsValueType` is not a JIT constant.
But `default(T) != null` is. That's a bit ironic :)

[2018-02-27 13:14] svick commented on #5463
@ro-jo The Pull Request referenced by @gkhanna79 created [this document](https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/assemblyloadcontext.md). Did you look at that?

[2018-02-27 13:17] omariom commented on #16621
Look like it is fixed [in corert](https://github.com/dotnet/corert/pull/3821)

[2018-02-27 14:23] stephentoub opened #16623 ""threading.DuplicateHandle.test7" test failed on macOS"
https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_osx10.12_innerloop_prtest/1094/testReport/junit/threading/DuplicateHandle/test7/
[code]

[2018-02-27 14:29] BredPet commented on #16513
@dotnet/arm32-contrib

[2018-02-27 14:46] CarolEidt commented on #16594
@fiigii, I believe this addresses one of the TODO items from#16183, but there's not enough context here to understand the issue. Could you explain, and reference the relevant source if possible?

[2018-02-27 15:33] loop-evgeny commented on #16526
Next problem - I'm unable to load the plugin from a Python script: https://bugs.llvm.org/show_bug.cgi?id=36540

I raised this as an lldb bug, since the plugin loads when running lldb interactively, but perhaps you have some ideas?

[2018-02-27 15:43] janvorli commented on #16462
So, I have found some more details on it.
1. The fact that it repros only with ASLR enabled and not in 100% case is just due to the fact that the stack usage at the failure point is just very close to the tipping point and the ASLR picks random offset of the bottom of the stack from the memory page where the bottom is located. So this offset determines how many bytes exactly are available between

[2018-02-27 15:45] janvorli commented on #16462
@pavlexander just out of curiosity, what is the kernel version of the Debian where you have originally hit the issue (`uname -v`)?

[2018-02-27 16:06] eerhardt commented on #16575
Can we come up with a holistic proposal to address these methods?  Taking a cursory look at the methods, there are some inconsistencies between:

[code]

1. I thought [the plan](https://github.com/dotnet/designs/pull/28/files#diff-980684dba5fee744c5d7c697229a4d4bR105) was to only use a generic method when the generic method supported all the numeric types.  `Avx` only supports `float` and `double`

[2018-02-27 16:21] tannergooding commented on #16575
My preference, for Sse/Sse2, would be to:
* Keep `Sse2.SetZeroVector128` in `Sse2`, but explode it
* Rename `SetZeroVector128` to match the current naming convention (i.e. `Sse.SetZeroVector128` should be `Sse.SetZeroVector128Single`, and `Sse2.SetZeroVector128` should be `Sse2.SetZeroVector128Double`, etc)

For AVX, I would like to better understand why we have certain intrinsics exposed there.
*

[2018-02-27 16:34] adamsitnik opened #16624 "[Perf] Investigate Serialization/JsonBenchmarks/SerializeDataContract Regression between release/2.0.0 and release/2.1"

[2018-02-27 16:35] adamsitnik opened #16625 "[Perf] Investigate Serialization/JsonBenchmarks/SerializeDataContractJson Regression between release/2.0.0 and release/2.1"

[2018-02-27 16:35] adamsitnik opened #16626 "[Perf] Investigate Serialization/JsonBenchmarks/SerializeJsonNet Regression between release/2.0.0 and release/2.1"

[2018-02-27 16:37] adamsitnik opened #16627 "[Perf] Investigate XmlSerializer.Deserialize Regression between release/2.0.0 and release/2.1"
10-30% Windows, 50-100% Linux

[2018-02-27 16:39] adamsitnik opened #16628 "[Perf] Investigate BinaryFormatter Improvement between release/2.0.0 and release/2.1"
It's up to 70% faster

[2018-02-27 17:08] ro-jo commented on #5463
@svick err... nope, but thanks.  Might have seen it briefly in my search and skipped over it, since it doesn't use the term 'AssemblyLoadContext' ubiquitously.  Hardly at all actually.  I wouldn't have thought it was describing AssemblyLoadContext if you hadn't told me.

[2018-02-27 18:05] AndyAyersMS commented on #16126
The dependencies were updated via #16378, so the disabled tests can now be re-enabled.

@ahsonkhan is doing this as part of #16521.

[2018-02-27 18:46] mikem8361 commented on #16526
I not sure what is going on with loading the plugin in a python script.

[2018-02-27 19:37] AndyAyersMS opened #16632 "JIT: one case of value tuple compare perf test much slower for x86"
The 3 other value tuple compare tests show x86 is roughly 10-30% slower, but for some reason this test has x86 over 3x slower (~1730 vs ~550). Seems worth investigating.

Also, this is the variant that shows the benefitfrom the `EqualityComparer<T>.Default` optimization added in #13125, yet on x86 it is slower than other variants that do not get optimized.

EG

| Arch |  optimized | cached |
| :--

[2018-02-27 20:02] pavlexander commented on #16462
I tend to keep system up-to date.. Currently my system is already upgraded to v9.3 ` uname -v`

And I am pretty sure that the issue was first detected, when system was at the latest kernel version already.

[2018-02-27 20:13] dotnet-mc-bot opened #16633 "error CS0117: 'Utilities' does not contain a definition for 'CompareBytes'"
Opened on behalf of @jcagme

Warnings: 2
Status Message: failed

Build : Master - 20180227.07 (Product Build)
Failing configurations:
- RedHat6
  - Build-Tests-R2R-Release
  - Build-Tests-Release
- RedHat 7
  - Build-Tests-R2R-Release
  - Build-Tests-Release
- OSX
  - Build-Tests-R2R-Release
  - Build-Tests-Release
- Windows
  - Build-Tests-R2R-Release-arm64
  - Build-Tests-Release-arm64
  - Build

[2018-02-27 20:17] jcagme commented on #16633
/cc @RussKeldorph

[2018-02-27 20:25] #16105 closed

[2018-02-27 20:27] AndyAyersMS commented on #16632
For the x64 vs x86 issue: x86 seems to copy less efficiently and looks like it does one extra copy.
[code]
The tuple `Equals` asm looks comparable, so suspect the perf diff between x86 and x64 is likely from the above.

[2018-02-27 20:31] AndyAyersMS commented on #16632
For x86 `Compare` vs `CompareCached`, the latter codegen is:
[code]

[2018-02-27 20:31] Auersberg commented on #5634
Found a way around this issue. You can close it.

[2018-02-27 20:32] ahsonkhan commented on #16633
2018-02-27T20:00:53.1483565Z encodinggetbytes1.cs(321,40): error CS0117: 'Utilities' does not contain a definition for 'CompareBytes' [E:\A\_work\1946\s\tests\src\CoreMangLib\cti\system\text\encoding\EncodingGetBytes1.csproj]
2018-02-27T20:00:53.1483565Z encodinggetbytes1.cs(363,40): error CS0117: 'Utilities' does not contain a definition for 'CompareBytes' [E:\A\_work\1946\s\tests\src\CoreMangLib

[2018-02-27 20:34] ahsonkhan commented on #16633
This looks like it was fixed in https://github.com/dotnet/coreclr/pull/16631

[2018-02-27 21:01] #5634 closed

[2018-02-27 21:05] ahsonkhan commented on #16633
Closing as fixed.

[2018-02-27 21:05] #16633 closed

[2018-02-27 22:04] adiaaida commented on #16585
The regression appears to have occurred between 148d418dca9045167e1e5b74129faa78d9c5ed73 and f86fd75c111fc28554f1c846a8abc472cc2f67b6.

[2018-02-27 22:05] adiaaida commented on #16578
This regression appears to be due to changes between be21b511fc3ee42a2db1c8ce70499efd8d82d37e and 8ad9cd160cbc716c87b804a47e552509c2910135 (https://github.com/dotnet/coreclr/compare/be21b511fc3ee42a2db1c8ce70499efd8d82d37e...dotnet:8ad9cd160cbc716c87b804a47e552509c2910135)

[2018-02-27 22:06] adiaaida commented on #16579
This regression appears to be due to changes between be21b511fc3ee42a2db1c8ce70499efd8d82d37e and 8ad9cd160cbc716c87b804a47e552509c2910135 (https://github.com/dotnet/coreclr/compare/be21b511fc3ee42a2db1c8ce70499efd8d82d37e...dotnet:8ad9cd160cbc716c87b804a47e552509c2910135)

[2018-02-27 22:09] masonwheeler commented on #14103
@briansull \*facepalm* OK, that's on me.  I was about to point out how you can initialize it with an array of structs with the `IEnumerable<KeyValuePair<K, V>>` constructor, when I double-checked and found that that's not actually a thing!

How did the team manage to overlook something that obvious?!?  All the other collections can be initialized from arrays via `IEnumerable<T>`...

[2018-02-27 22:40] jkotas commented on #14103
I do not think that this constructor would help. It would flip the problem into how to create huge pre-initialized array of structs that suffers from the same issue.

The best way to do this kind of initialization today is via arrays of primitive constants. It is the only one that does not suffer from this issue. Here is how the example above could be written in lean and performant way:

[code]

[2018-02-27 22:51] masonwheeler commented on #14103
@jkotas

Nope.  If you can save it into a blob at compile-time, and then at runtime blit that blob back into your array with `System.Runtime.CompilerServices.RuntimeHelpers.InitializeArray`, there's no chance of the stack overflowing because a `System.Array` is a reference type.  Then the constructor could pass in that array and for-loop over it, and no matter how big the array is, you still won't

[2018-02-27 22:55] jkotas commented on #14103
@masonwheeler So assume that there is `Dictionary` constructor that takes `IEnumerable<KeyValuePair<K, V>`. What would the code look like for the example in this issue?

[2018-02-27 23:02] VSadov commented on #14103
FWIW C# specifies collection initializers in terms of calls to `Add` methods. It is assumed that `Add` could be sideeffecting so compiler must emit as many calls to `Add` as there are items in the initializer.

It might be possible to pack all the literals in the initializer into an array, or multiple arrays (if they have different types) and after rehydrating those arrays feed them to the loop th

[2018-02-27 23:18] masonwheeler commented on #14103
@jkotas
1) The compiler would take the dictionary initializer literal and transform it into a `[]byte`, which is saved as a const field with csc's metadata model's equivalent to `ModuleBuilder.DefineInitializedData`.
2) Compiler gets a reference to this field
3) Compiler emits the following pseudocode IL:
   * `ldc.i4.s initializer_count`
   * `newarr System.Collections.Generic.KeyValuePair<K,V>`

[2018-02-27 23:23] mikem8361 commented on #16526
Actually you will need runtime.linux-x64.Microsoft.NETCore.App.2.0.5.symbols.nupkg package in that zip. The nupkg package is just another zip file.  You will need to unzip it and copy the symbols from under the runtimes/linux-x64/lib/netcoreap2.1 (or something like that) directory.

It is a messy process and we are replacing it by putting symbols on the Microsoft symbol server (even xplat,  the 2.

[2018-02-27 23:26] jkotas commented on #14103
InitializeArray works for primitive types only today. You are describing a new set of features across language and runtime. The dictionary constructor to support this pattern is far from the only thing missing.

[2018-02-27 23:29] masonwheeler commented on #14103
@jkotas Does it?  That's not actually in [the documentation](https://msdn.microsoft.com/en-us/library/system.runtime.compilerservices.runtimehelpers.initializearray(v=vs.110).aspx); it just says "this method is used by compilers."

Well that's disappointing to learn, then.

[2018-02-28 00:13] fiigii commented on #16594
@CarolEidt
@tannergooding suggested this improvement at https://github.com/dotnet/coreclr/pull/16183#discussion_r170726444, I think this is just a convenient function to make the code more readable.

[2018-02-28 00:27] luqunl commented on #13498
I can repro this issue on my local and use the following simple repro.
`    [StructLayout(LayoutKind.Sequential)]
    public sealed class A
    {
      public int x;
      [MarshalAs(UnmanagedType.ByValArray, SizeConst=10)]
      public C[] z;
    }

    [StructLayout(LayoutKind.Sequential)]
    public sealed class C
    {
      public int x;
    }

    class Program
    {
        static void Main

[2018-02-28 00:29] luqunl commented on #13498
The issue is related to code:
https://github.com/dotnet/coreclr/blob/52a816d3011f4d03b80b5940dc036b40d701f52d/src/vm/mlinfo.cpp#L5171

[2018-02-28 00:31] luqunl commented on #13498
The reason why Windows works but Linux doesn't work is that COM Interop is supported in Windows and isn't support in Non-Windows.

[2018-02-28 00:35] luqunl commented on #13498
@MaitreDede, Please use Struct instead of [StructLayout]Class for inline array type.

[2018-02-28 00:56] janvorli opened #16642 "Remove dependency on the libuuid"
coreclr runtime now depends on a 3rd party libuuid library that is used just to create a random based GUID in the CoCreateGuid PAL function. We would like to eliminate as much runtime dependencies as we can, so let's replace it by our own implementation.

[2018-02-28 01:01] ahsonkhan opened #16644 "CoreCLR "build authoring error" when running build-test.cmd"

[2018-02-28 01:02] ahsonkhan commented on #16644
Opened in the wrong repo, closing.

[2018-02-28 01:02] #16644 closed

[2018-02-28 01:30] #16343 closed

[2018-02-28 04:44] #1846 closed

[2018-02-28 04:45] #1845 closed

[2018-02-28 05:15] tannergooding opened #16652 "Implement AVX Intrinsics"
Pending (a check means it is in a pending PR):
- [x] Blend
- [x] BroadcastScalarToVector128
- [x] BroadcastScalarToVector256
- [ ] BroadcastVector128ToVector256
- [x] Ceiling
- [x] ConvertToVector128Int32
- [x] ConvertToVector128Single
- [x] ConvertToVector256Int32
- [x] ConvertToVector256Single
- [x] ConvertToVector256Double
- [x] ConvertToVector128Int32WithTruncation
- [x] ConvertToVector256Int3

[2018-02-28 05:16] tannergooding commented on #16652
This is a parent issue to: https://github.com/dotnet/coreclr/issues/16583

@fiigii, could you confirm which ones you are currently planning on implementing?

[2018-02-28 05:23] tannergooding opened #16653 "Implement AVX2 Intrinsics"
Pending:
- [x] AlignRight
- [x] Blend
- [x] ConvertToDouble
- [x] ConvertToInt32
- [x] ConvertToUInt32
- [ ] GatherVector128
- [ ] GatherVector256
- [ ] GatherMaskVector128
- [ ] GatherMaskVector256
- [ ] MaskLoad
- [ ] MaskStore
- [ ] MultipleSumAbsoluteDifferences
- [ ] MultiplyAddAdjacent
- [ ] MultiplyHigh
- [ ] MultiplyHighRoundScale
- [ ] MultiplyLow
- [ ] PackSignedSaturate
- [ ] PackUnsign

[2018-02-28 05:24] tannergooding commented on #16653
@fiigii, could you confirm which ones you are currently planning on implementing?

[2018-02-28 05:36] fiigii commented on #16652
BroadcastScalarToVector128
 BroadcastScalarToVector256
 BroadcastVector128ToVector256
 Extract
 ExtractVector128
 Insert
 SetAllVector256
 SetVector256

[2018-02-28 05:41] tannergooding commented on #16652
@fiigii, thanks.

I am working on the "simple" intrinsics as per our earlier conversation.

This currently includes:
* Blend
* Ceiling
* DotProduct
* Floor
* RoundCurrentDirection
* RoundToNearestInteger
* RoundToNegativeInfinity
* RoundToPositiveInfinity
* RoundToZero
* TestC
* TestNotZAndNotC
* TestZ

(this is basically the Vector256 versions of the SSE4.1 I implemented in https://github.com/dot

[2018-02-28 05:42] fiigii commented on #16653
BroadcastScalarToVector128
 BroadcastScalarToVector256
 BroadcastVector128ToVector256
 Extract*
 Insert*

[2018-02-28 07:42] MichalStrehovsky commented on #16621
[code]

Implementing it this way would regress #6843. This still needs to call the default constructor if there's any. CoreRT doesn't support structs with default constructors (because no mainstream .NET language has them and we currently focus on mainstream scenarios only there). CoreCLR does support them and C# would like to add them (the issue I'm referencing actually blocked the C# feature fro

[2018-02-28 08:41] tannergooding commented on #16652
https://github.com/dotnet/coreclr/pull/16655 contains the intrinsics I mentioned above

[2018-02-28 10:51] loop-evgeny commented on #16526
OK, and I should copy just the .pdb files to dotnet/shared/Microsoft.NETCore.App/2.0.5/ ? There are DLLs there, too - are they supposed to be the same as what's in the .NET Core 2.0.5 runtime package? What about the .map files?

[2018-02-28 15:23] tannergooding opened #16656 "Consider refactoring the x86 hwintrinsic flags"
Many of the x86 Hardware Intrinsic flags have negative naming conventions, such as: `NoContainment`, `NoJumpTableIMM`, and `NoRMWSemantics`.

We should consider refactoring these into the positive case so that the resulting code is easier to read.

Having helper functions (https://github.com/dotnet/coreclr/issues/16594) may be another way to keep the code more readable without also having to rever

[2018-02-28 15:24] tannergooding commented on #16656
CC. @CarolEidt, @fiigii

[2018-02-28 17:21] tannergooding commented on #16652
@fiigii, I'm going to work on the remaining, in alphabetical order, until you finish the ones you are currently working on, then we can sync up again.

[2018-02-28 18:32] mikem8361 commented on #16526
Yes, just the .pdb files and *.dwarf (usually under runtimes/linux-x64/native) if you want native symbols (which you probably do).  Don’t worry about the .map files.

[2018-02-28 18:34] luqunl commented on #12507
now this testcase passed
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180222.07/workItem/Interop.BestFitMapping.XUnitWrapper/analysis/xunit/Interop_BestFitMapping._BestFitMapping_BestFitMapping_~2F_BestFitMapping_BestFitMapping_cmd

so close this issue first and if the issue occurs again, please repopen this issue or crea

[2018-02-28 18:34] #12507 closed

[2018-02-28 19:55] AndyAyersMS commented on #14124
Unfixed via #16647.

[2018-02-28 20:16] Maoni0 commented on #16537
@sdmaclea thanks for reporting. could you please show us the callstack for the seg fault?

@sywhang could you please take a look? you can try to repro these on one of the 48-proc intel machines we have (I don't think being on arm64 should make a difference). please let me know if you need help.

[2018-02-28 20:21] sdmaclea commented on #16537
@Maoni0 When I get a chance, I'll try to reproduce to get a stack trace

[2018-02-28 20:25] Maoni0 commented on #16537
thank you @sdmaclea

[2018-02-28 21:00] nerzhulart opened #16664 "Rider debugger crashes when trying to debug .net core 2.1 preview"
We call libdbgshim.dylib via PInvoke on Mono 5.8.0 on OSX 10.13.3.
When debugging .net core 2.0 and prior everything works fine.

I see something suspicious at runtime startup thread:
[code]

The whole threads dump
https://gist.github.com/nerzhulart/35d0b28e41464cc4adffeaf266beb914

Seems that code with EnsureStackSize function was added only on 2.1 branch

[2018-02-28 21:06] fujiy opened #16665 "SOS - Error message in Linux mention a command that doesn't exist in lldb"
When I call sos ClrStack and can't walk the stack, it returns:

(lldb) sos ClrStack
OS Thread Id: 0x0 (1)
Unable to walk the managed stack. The current thread is likely not a
managed thread. You can run **!threads** to get a list of managed threads in
the process

It should be clrthreads or sos Threads

[2018-02-28 21:34] RussKeldorph commented on #16293
This appears to have been an isolated failure.

[2018-02-28 21:34] #16293 closed

[2018-02-28 22:16] #15919 closed

[2018-02-28 22:17] RussKeldorph commented on #16541
Move out if ARM64-specific.

[2018-02-28 22:17] RussKeldorph commented on #16565
@sandreenko Are you working on this?

[2018-02-28 22:20] sandreenko commented on #16565
Yes.

[2018-02-28 23:06] fiigii commented on #16652
I will implement `Permute` as well.

[2018-02-28 23:37] fiigii commented on #16656
NoContainment, NoJumpTableIMM, and NoCodegen is fine, just a few intrinsics need them.

[2018-02-28 23:40] fiigii commented on #16656
When we design a flag, I think that should be used as less as possible.

[2018-02-28 23:45] sywhang commented on #16537
@Maoni0 we don't have any 48 proc intel machines running Ubuntu (they're all Windows). I'll try to repro this behavior on the Windows anyway and see where we land.

[2018-03-01 00:00] fiigii opened #16673 "Implement SSE2 intrinsics"
Pending (a check means it is in a pending PR):
- [x] LoadHigh
- [x] LoadLow
- [x] SetVector128
- [x] SetScalarVector128
- [x] SetAllVector128
- [x] StoreNonTemporal

[2018-03-01 00:00] fiigii commented on #16673
@tannergooding @4creators

[2018-03-01 00:08] tannergooding commented on #16673
MaskMove is pending here: [WIP] Implement the SSE2 MaskMove intrinsic

[2018-03-01 00:10] fiigii commented on #16673
@tannergooding Thank you 😄

[2018-03-01 00:25] 4creators commented on #16673
@fiigii In the above list there are still missing `LoadHigh` and `LoadLow` intrinsics

[2018-03-01 00:26] fiigii commented on #16673
@4creators Thanks! Will add.

[2018-03-01 00:27] 4creators commented on #16673
@fiigii `ConvertScalarToVector128UInt32` is already implemented.

[2018-03-01 00:27] luqunl commented on #15683
@MichalStrehovsky , is this for X-plat or Windows only?

[2018-03-01 00:28] fiigii commented on #16673
I did not find it in `hwintrinsiclistxarch.h`.

[2018-03-01 00:30] 4creators commented on #16673
https://github.com/dotnet/coreclr/blob/master/src/jit/hwintrinsiclistxarch.h#L187

[2018-03-01 00:31] jkotas opened #16675 "Wrong result using & operator on value of type short on ARM platform"
_From @mdisg on February 28, 2018 9:50_

Hello,

i'm currently porting an existing .NET application used on embedded devices to .NET Core.
Yesterday a bug showed up running in a backup task which simply takes old log files and puts them into a zip archive for which we use the [DotNetZip Library](https://archive.codeplex.com/?p=dotnetzip). This task has run several times without a problem but yeste

[2018-03-01 00:31] jkotas commented on #16675
_From @danmosemsft on March 1, 2018 0:1_

@jkotas this seems codegen, do you agree?

[2018-03-01 00:31] jkotas commented on #16675
cc @dotnet/arm32-contrib

[2018-03-01 00:36] fiigii commented on #16673
Ah, it was accidently removed by a bad marge on my local machine. Thank you so much!

[2018-03-01 00:51] fiigii commented on #16673
@4creators `ConvertScalarToVector128UInt32` is not tested, its test file actually uses `Sse.ConvertScalarToVector128Single`
https://github.com/dotnet/coreclr/blob/master/tests/src/JIT/HardwareIntrinsics/X86/Sse2/ConvertScalarToVector128UInt32.cs

Please fix.

[2018-03-01 01:59] 4creators commented on #16673
@fiigii Thanks for catching this error. Will fix.

[2018-03-01 05:44] danmosemsft opened #16679 "Tizen legs are failing in CoreFX CI"
Tizen armel Debug Build

@RussKeldorph who sponsors this leg?

[code]

[2018-03-01 06:26] #15632 closed

[2018-03-01 06:32] danmosemsft commented on #16628
It is possible that the fix for https://github.com/dotnet/corefx/issues/25529 is part of this but it depends on the test scenario.

Which test scenario is this? Is it possible to put links to benchview graphs in these analysis issues? That would help a lot.

[2018-03-01 08:28] ayende commented on #16004
Closing this because we were able to get better behavior by being more aggressive on allocations and work in low memory conditions

[2018-03-01 08:28] #16004 closed

[2018-03-01 08:45] AndyAyersMS commented on #16285
@noahfalk seems like this has been pretty reliable lately....

[2018-03-01 08:50] AndyAyersMS commented on #16627
If this is a new perf test that requires non-repo assets, please make sure to write up good repro instructions somewhere.

[2018-03-01 08:50] AndyAyersMS commented on #16606
I'll take a look.

[2018-03-01 09:16] mikem8361 commented on #16460
This is fixed now. PR #16552

[2018-03-01 09:16] #16460 closed

[2018-03-01 09:17] mikem8361 commented on #16234
Fixed now.

[2018-03-01 09:17] #16234 closed

[2018-03-01 10:38] 7sharp9 opened #16682 "No documentation on performance tracing with osx"
There is no documentation on performance testing with osx, while running on osx is fine there are points where you need to figure out why certain functions are slow or where memory is allocated, it would be great if even simple ways to do this were documented, at the moment there is no information on osx like there is on linux: https://github.com/dotnet/coreclr/blob/master/Documentation/project-do

[2018-03-01 11:43] mikedn commented on #16675
Apparently this is a bug in the legacy JIT, it incorrectly eliminates the AND:
[code]
The RyuJIT version generates:
[code]

[2018-03-01 11:52] alpencolt commented on #16675
@mikedn following test also failed with RyuJIT:
[code]
[code]

Generated code:
[code]

[2018-03-01 12:36] mikedn commented on #16675
@alpencolt You're testing the wrong value, the result should be 32774, not -32762.

[2018-03-01 13:27] RussKeldorph commented on #16679
@danmosemsft Are you referring to, for example, https://ci.dot.net/job/dotnet_corefx/job/master/job/tizen_armel_cross_debug/?  I believe they were added by Samsung.

@hseok-oh @hqueue Can you help?

Looks like this [PR](https://github.com/dotnet/corefx/pull/27568) broke these legs.

[2018-03-01 14:51] geoeo opened #16686 "Improve documentation on F# Framework Compatabilities"
A new project of type classlib defaults to dotnetstandard2.0 framework. This does not support a number of (presumed) default system libraries such as System.Numerics.Vectors.

This is by no means obvious since a C# classlib **also** targets dotnetstandard2.0 but **does** support these libraries.

## Steps to reproduce
* Make a F# project of type classlib
* Note that System.Numerics.Matrix4x4 is un

[2018-03-01 15:15] AndyAyersMS commented on #16126
Had to revert the changes in #16378 via #16647.

[2018-03-01 16:44] AndyAyersMS commented on #14124
Seems complex enough that we should defer this until after 2.1. So moving to Future.

[2018-03-01 16:45] AndyAyersMS commented on #16080
Seems like we ought to move this into `Future`?

[2018-03-01 16:49] brianrob commented on #5501
I don't see anything in this test that is logging to ETW, but if that's what's happening, I am not surprised that it would hit the ETW event size limit of 64KB since the generic type has 10,000 generic type arguments.  This is simply a limitation of ETW, so the test may need to be disabled on checked builds or ETW logging disabled.

[2018-03-01 17:06] lt72 commented on #16664
@janvorli: would you be the right person to fix this?

[2018-03-01 17:07] janvorli commented on #16664
@lt72 yes

[2018-03-01 17:50] danmosemsft commented on #16679
Seems to be working now -- the package got published this morning
https://tizen.myget.org/feed/dotnet-core/package/nuget/Microsoft.NETCore.DotNetHost

@hseok-oh @hqueue can you please help figure out how things got out of sync?  specifically why https://github.com/dotnet/corefx/pull/27568 brought an update before the tizen package was published:
[code]

[2018-03-01 18:48] fiigii commented on #16652
@RussKeldorph I think we can finish this for 2.1.

[2018-03-01 19:01] jashook commented on #9903
This exists and can be closed.

[2018-03-01 19:06] janvorli commented on #9903
@jashook it looks like this issue was covering more things than the ones that are implemented - see the bullets in the description. Running tests in the CI and also moving to official docker images seem to be things that we still want.
I am reopening the issue.

[2018-03-01 19:20] brianrob commented on #14165
@vancem, it looks like you've already added processID - https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Diagnostics/Tracing/ActivityTracker.cs#L514.  Do we want to keep this bug aroudn to track adding more uniqueness?

[2018-03-01 19:40] sandreenko commented on #16037
@briansull the issue that I told about.

[2018-03-01 19:41] brianrob commented on #15675
I'm going to close this issue since it sounds like SampleProfiler will enable this.  It is now available on Windows, but still on all platforms, it is only controllable in-proc and via environment variables.  Post 2.1, we are looking to make this much easier with https://github.com/dotnet/designs/pull/26.

[2018-03-01 19:41] #15675 closed

[2018-03-01 19:50] benaadams commented on #4446
Going to close this out

[2018-03-01 19:50] #4446 closed

[2018-03-01 20:08] 4creators opened #16695 "Test: baseservices_threading._waithandle_waitany_waitanyex6a_waitanyex6a_._waithandle_waitany_waitanyex6a_waitanyex6a_cmd() intermittent failures"
Intermittent test failures in jitstress jobs:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_jitx86hwintrinsicnoavx_prtest/154

[code]

[2018-03-01 20:16] 4creators commented on #16673
@fiigii @tannergooding  I am working on remaining 5 intrinsics: `LoadHigh`, `LoadLow`, `SetAllVector128`, `SetScalarVector128`, `SetVector128`,

[2018-03-01 20:27] 4creators commented on #16673
@fiigii `StoreNonTemporal` is missing as well unless it is in some PR

[2018-03-01 20:27] RussKeldorph commented on #16679
@danmosemsft Could we close this, or do you want to wait for the answer to your question?

[2018-03-01 20:29] fiigii commented on #16673
@4creators You are right. Added to the list. Thanks!

[2018-03-01 20:33] RussKeldorph commented on #16686
@karelz Can you help route this?  This sounds like an oversight rather than something requiring documentation, but I really have no idea.

[2018-03-01 21:25] danmosemsft commented on #16679
It would be good to undrestand how it happened if that isn't too difficult to figure out. Else it will likely happen again.

[2018-03-01 21:36] 4creators opened #16696 "OSX jitstress HW intrinsics CI jobs are failing with IO problems"
Examples:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_osx10.12_jitx86hwintrinsicnoavx2_flow_prtest/119/
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_osx10.12_jitx86hwintrinsicnoavx_flow_prtest/123/
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_osx10.12_jitx86hwintrinsicnosimd_flow_prtest/119/
htt

[2018-03-01 21:42] noahfalk commented on #16285
I agree, the failure seems rare. @AndyAyersMS were you suggesting we should dispose of the bug in some manner?

@mmitche - Is this an issue you or someone on your team is interested in tracking or are we just ignoring CI infra failures that don't meet a certain threshold of reproducibility?

[2018-03-01 21:45] vancem commented on #14165
I think we can close this.

[2018-03-01 21:45] #14165 closed

[2018-03-01 21:46] mmitche commented on #16285
@noahfalk If this happened after a jenkins restart (most likely, but I can't tell becuase that build has been deleted), then this is something just to ignore as it won't be reproducible in normal operation.

[2018-03-01 22:07] #16258 closed

[2018-03-01 22:22] noahfalk commented on #16285
OK, sounds like its not useful for investigation so I'm going to close the issue.

[2018-03-01 22:22] #16285 closed

[2018-03-01 22:26] brianrob commented on #11567
We now have a basic set of tests that are helping us to catch issues.  Closing.

[2018-03-01 22:26] #11567 closed

[2018-03-01 22:28] AndyAyersMS commented on #8457
Hmm, looks like we never got to the bottom of this one.

I'll add it to my list of things to look at.

[2018-03-01 22:43] AndyAyersMS commented on #16606
Local measurements. Looks like I can repro this:

| 2.0 | master |
| ---: | ---: |
| 861.798 +/-13 | 886.480 +/- 4 |

[2018-03-01 22:49] jkotas commented on #16686
@KevinRansom Where should this go?

[2018-03-01 23:24] AndyAyersMS commented on #16606
The only significant diff I see between 2.0 and 2.1 is in `Julia.Render` (and profiling shows it is indeed slower).  The main loop is now compacted instead of split. Why this slows things down is not clear.

[code]

[2018-03-01 23:59] AndyAyersMS commented on #16606
The change noted above (aka #14983) enabled more cases of direct substitution of args into inlinee bodies. And that in turn eliminated a few temps and copies and changed the code as shown above.

The new behavior is generally better so it's unfortunate and unexpected that in this case it is a bit slower.

Am going to close this as I don't see anything wrong with the change.

There are some unneede

[2018-03-02 00:01] nategraf commented on #16606
Thanks for looking into this!

[2018-03-02 00:27] adamsitnik commented on #16627
I investigated the problem and opened a new issue in CoreFX, as both `XmlSerializer` and `Marvin` live there: https://github.com/dotnet/corefx/issues/27636

[2018-03-02 00:27] #16627 closed

[2018-03-02 01:03] 4creators commented on #16696
cc [@dotnet/dnceng](https://github.com/orgs/dotnet/teams/dnceng)

[2018-03-02 01:11] jkotas commented on #6854
Fixed by https://github.com/dotnet/corefx/pull/11086

[2018-03-02 01:11] #6854 closed

[2018-03-02 01:37] RussKeldorph commented on #12492
Passing for a while.

[2018-03-02 01:37] #12492 closed

[2018-03-02 09:00] Sunny-pu commented on #16326
failed again in Master branch:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fr2r~2Fcli~2F/build/20180302.01/workItem/GC.API.XUnitWrapper

[2018-03-02 10:01] mikedn commented on #8457
Not sure if I did something stupid back then or if something was improved in the JIT since then but if you use `unsafe` code to access all involved arrays then you get 160 MB/sec. So it all revolves around range checks but it's not clear how come JIT32 managed to do better here. And the interesting part is that it's not only the range checks themselves that cause problems, it's also the fact that

[2018-03-02 11:49] realvictorprm commented on #1784
@wanton7 One step towards "automatic" conversion would definitely be the escape analysis.

Considering this would be accepted, what would be the first step towards an implementation? Large specs?

[2018-03-02 13:38] perlun commented on #16438
OK, thanks @kouvel for the help. Here is what I did:

1. I managed to secure a reproducible way to trigger this: https://github.com/perlun/pg2couch/tree/bug-EEFileLoadException-repro. The repo has a simple `Program.cs` that runs with a minimum of external dependencies.
1. I launched the process with LLDB attached to it (`./debug.sh`)
1. I tried placing breakpoints at various locations (`break set

[2018-03-02 14:14] janvorli commented on #16438
@perlun you can try to let the debugger break on the `__cxa_throw` (`b __cxa_throw` lldb command). Unless there are other exceptions, you should catch it right at the spot where it has thrown the exception.

[2018-03-02 14:16] janvorli commented on #16438
I was trying to use your repro, but I am probably missing some prerequisites, since docker-compose is not recognized as a valid command. Could you please add the list of dependencies that need to be installed in order to repro the issue?

[2018-03-02 14:41] #16342 closed

[2018-03-02 15:45] sdmaclea commented on #4827
@janvorli Is this still needed?

[2018-03-02 15:48] sdmaclea commented on #5336
@BruceForstall @russellhadley

Can you describe roughly what needs to be done here?

[2018-03-02 15:49] sdmaclea commented on #5337
@russellhadley @BruceForstall Can you explain further?  I do not know what IBS is?  What do you mean by probes?

[2018-03-02 15:53] sdmaclea commented on #8192
@BruceForstall @jashook I thought this was already done

[2018-03-02 15:59] sdmaclea commented on #13212
@jashook Is there anything I can do to help enable this?  I just looked at netci.groovy, but I do not see any relevant nuget publishing code.

@dotnet/arm64-contrib @janvorli FYI

[2018-03-02 16:02] sdmaclea commented on #14299
This has been resolved

[2018-03-02 16:02] #14299 closed

[2018-03-02 16:25] janvorli commented on #13212
@sdmaclea there are several things to do:
1. modify src/.nuget/dir.props to include OfficialBuildRID for linux-arm64
2. modify the buildpipeline\pipelines.json by cloning the Linux-CrossBuild node (setting the arch to arm64 and maybe modifying the docker image - I'm not sure about that one though, maybe the existing one will work) and modifying all nodes that reference that new node.

I think that

[2018-03-02 16:37] janvorli commented on #13212
Yes, the docker image will need to be modified. It contains the crossrootfs for arm, we need to add one for arm64 (or create another docker image for arm64 only). Since the existing one is the official docker image we use for build, it would be probably the best if I updated it / created a new one myself.

[2018-03-02 16:42] sdmaclea commented on #13212
@janvorli  The normal linux-arm64 builds are using `ROOTFS_DIR=/opt/arm64-xenial-rootfs` w/o a docker image.  Is there any reason the same cannot be done here?

`src/.nuget/dir.props` looks correct already

[2018-03-02 16:48] janvorli commented on #13212
The build lab and ci are separate things. The build lab uses docker even for non-cross builds for Linux. See buildpipeline\DotNet-CoreClr-Trusted-Linux.json. It makes it easy to support various Linux distros in a uniform way.

[2018-03-02 16:53] sdmaclea commented on #13212
So are there scripts to build the docker images?

[2018-03-02 16:56] janvorli commented on #13212
Yes, there are Dockerfiles, but these are not in a public repo, since they are used for our lab purposes only.

[2018-03-02 17:00] jashook commented on #13212
@sdmaclea @janvorli I am currently working on adding the x86 rootfs to the cross docker image. I can add the arm64 cross tools as well.

[2018-03-02 17:01] sdmaclea commented on #13212
@jashook Thanks

[2018-03-02 17:05] janvorli commented on #13212
@jashook that would be great. Btw, I've noticed that the build-rootfs.sh has a wrong lldb-dev package for lldb3.9, it is lldb-3.9-dev while it needs to be liblldb-3.9-dev. Could you please update that too? And then build the crossfs with "arm64 xenial lldb3.9" parameters. I've verified locally that it works.

[2018-03-02 17:07] jashook commented on #13212
Sure i'll include you both on the pr.

[2018-03-02 17:28] roozbehid-ic opened #16708 "More meaningfull error instead of "The library hostpolicy.dll required to execute""
It seems when .Net Core application doesnt have **appname.deps.json** or **appname.runtimeconfig.deps**, .Net Core shows this error

    A fatal error was encountered. The library 'hostpolicy.dll' required to execute the application was not found in 'some path'

It hit me several times and I've spent some time just looking for that dll and why it is missing until I found that [other people](https:

[2018-03-02 17:55] mikem8361 commented on #16665
Fixed with PR #16701.

[2018-03-02 17:55] #16665 closed

[2018-03-02 18:10] sandreenko opened #16710 "[R2R/x86] tracing/tracevalidation/rundown fails"
[ci job](https://ci.dot.net/job/dotnet_coreclr/job/master/job/x86_checked_windows_nt_r2r/) shows that x86_checked_windows_nt_r2r leg was green ([last green build](https://ci.dot.net/job/dotnet_coreclr/job/master/job/x86_checked_windows_nt_r2r/730/) 28.02.2018 14:17), then it showed build failures and then it started to show [tracing/tracevalidation/rundown test failure](https://ci.dot.net/job/dotn

[2018-03-02 19:13] nategraf commented on #16710
I'll check it out

[2018-03-02 19:24] nategraf commented on #16710
It's also [failing in x64](https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_windows_nt_r2r/968/testReport/junit/tracing_tracevalidation/_rundown_rundown_rundown_/_rundown_rundown_rundown_cmd/) but passing for [non-r2r builds](https://ci.dot.net/job/dotnet_coreclr/job/master/job/x86_checked_windows_nt/3993/testReport/tracing_tracevalidation/). So this seems to be specific to when R2

[2018-03-02 19:26] nategraf commented on #16710
@brianrob It seems `Microsoft.Diagnostics.Tracing.TraceEvent` is not appearing in `AssemblyDCStop` events, but `runtime` and `System.Runtime` are. Is there some straightforward explanation for why this would not happen with R2R?

[2018-03-02 19:28] 4creators opened #16712 "HW Intrinsics SSE2 template tests fail fast after first error instead of executing full suite and reporting all errors"
If one of the tests in suite fails program stops execution and prints all executed tests til the test with the first error. This causes that all tests which should be executed after failing test  are not runing.

@tannergooding @fiigii

[code]

[2018-03-02 19:31] 4creators opened #16713 "HW SSE2 intrinsics template tests do not accept test name as argument"
Example of error below:

@tannergooding

[code]

[2018-03-02 19:36] brianrob commented on #16710
I don't see anything obvious - R2R really shouldn't have anything to do with this.  But obviously something proper here.  We should debug this.  I'm going to try the repro tool and see if I can get a machine that way for simplicity.

[2018-03-02 19:41] sandreenko commented on #16710
@nategraf Yes, you can run r2r on your machine:
[code]

then you can run only this test in r2r mode with env variable `set RunCrossGen=true` and run this test cmd file.

[2018-03-02 19:45] AndyAyersMS commented on #16615
I'll investigate.

[2018-03-02 19:47] tannergooding commented on #16712
An assertion failure causes the actual host to crash, rather than a managed exception to be thrown, so it is not generally recoverable.

[2018-03-02 19:47] tannergooding commented on #16713
I'll take a look and get this resolved.

[2018-03-02 19:49] 4creators opened #16714 "Make codegen of all HW intrinsics with changing number of args in signature resilient to using exact numArgs value"
Some HW intrinsics have signatures with number of arguments varying depending on base type. To handle this table used in codegen allows passing -1 in `numArgs` field to indicate this behavior.  After changes to
[code]
implementation some of this intrinsics hit asserts. To avoid this temporary solution is to limit new path execution only to those intrinsics which need information about exact number

[2018-03-02 19:51] tannergooding commented on #16714
Which intrinsics are hitting asserts?

[2018-03-02 20:12] 4creators commented on #16714
@tannergooding

[code]

[2018-03-02 20:23] BruceForstall commented on #5336
This is the buffer overrun checking (named "GS" because that's the C++ compiler switch for this feature). Implemented in genEmitGSCookieCheck() and related.

The issue is whether the implementation is sufficient for arm64, to provide adequate protection against buffer overruns, as stated here, due to the arm64 frame layout where FP/LR is often located at a low address. Basically, you want to make

[2018-03-02 20:23] brianrob commented on #16710
@sandreenko it looks like the repro tool isn't going to work because it looks like there is another earlier break: https://ci.dot.net/job/dotnet_coreclr/job/master/job/x86_checked_windows_nt_r2r/753/

[code]

[2018-03-02 20:24] brianrob commented on #16710
@nategraf if you are able to reproduce this locally that's probably going to be easier until this compilation failure is fixed.  If you are able to reproduce this and want help debugging, just let me know.

[2018-03-02 20:27] brianrob commented on #16710
Looks like the compilation failure is being addressed by https://github.com/dotnet/coreclr/pull/16715.

[2018-03-02 20:28] perlun commented on #16438
@janvorli Thanks. I tried with `break set -E c++` but it was breaking on so many other (unrelated) exceptions that I got fed up. I tried now again and after about 10 exceptions I could actually make it go on and trigger "my" exception but unfortunately it _still_ killed the process with `libc++abi.dylib: terminating with uncaught exception of type EEFileLoadException*` which is very strange and ba

[2018-03-02 20:31] BruceForstall commented on #5337
Can you answer, @briansull ?

IBC is "Instrumented Block Counts". It's when you compile with crossgen using "/Tuning", run a profile scenario, use the ibcmerge tool to merge collected data, and rebuild, optimizing using those collected profiles.

E.g., https://github.com/dotnet/coreclr/pull/10113

cc @RussKeldorph @dotnet/arm64-contrib

[2018-03-02 20:33] BruceForstall commented on #8192
I'm going to call this done. If there are jobs that aren't clean (gcstress is really hard to get 100% repeatably clean), we can open new issues.

[2018-03-02 20:33] #8192 closed

[2018-03-02 20:35] 4creators commented on #16712
Perhaps, we could create a logic which would rerun all tests in separate processes if one of them crashes common host during tests. This kind of fallback would for instance would run  `Sse2_r.cmd` in a loop while passing single test name for each iteration.

[2018-03-02 20:36] briansull commented on #5337
I believe that everything should be working on ARM64.

[2018-03-02 20:38] perlun commented on #16438
@kouvel I realize I forgot to reply to this:

It could be, but: I do have a global exception handler so if it happens in "user-controlled code", it shouldn't leak out to the OS exception handling: https://github.com/perlun/pg2couch/blob/bug-EEFileLoadException-repro/Program.cs#L31-L34

[2018-03-02 20:46] sdmaclea commented on #5337
So close this?

[2018-03-02 20:54] AndyAyersMS commented on #16615
Locally when I run this master/2.1 is considerably faster than 2.0 (~350 vs ~610). Raw numbers are nothing like what benchview sees (~2500 for 2.0, ~3200 for master/2.1). But this test is multithreaded (creating 100 tasks by default) and so absolute perf will be very machine dependent.

Looking at the benchview history for master we see the same stable perf level since October 2017 (test was intro

[2018-03-02 21:08] fiigii commented on #16714
@4creators After you check in the new `numArgsOfHWIntrinsic`, these intrinsics can be table-driven.

[2018-03-02 21:16] sdmaclea commented on #16480
If I correct the paths in the command the issue goes away (because there are no longer missing dependencies)

Given these defines to improve reliability
[code]
This command works correctly
[code]
Where the original command did not work correctly
[code]

[2018-03-02 21:16] sdmaclea commented on #16480
Closing as I do not think this is interesting.

[2018-03-02 21:28] 4creators commented on #16714
These are good news 😄

[2018-03-02 21:29] janvorli commented on #16438
@perlun ah, the reason why you are not catching any exceptions in the lldb is that dotnet run actually spawns another dotnet process for the actual execution. And lldb cannot debug the child process.
But you can run the app differently without this double process - just pass the .dll (bin/Debug/netcoreapp2.0/Pg2Couch.dll) as an argument to the dotnet instead of using the "run" command. It is also

[2018-03-02 21:44] tannergooding commented on #16714
@4creators, could you copy past the assert message?

[2018-03-02 21:47] tannergooding commented on #16712
@4creators, that seems like a lot of work for something that isn't too hard to work around (and is an edge scenario anyways, since you ultimately have to fix the test and rerun all tests anyways).

If you really want to catch all issues first, you can comment out the failing test and just rebuild the test project. Otherwise, it isn't too much effort to fix the JIT issue and just rebuild the JIT be

[2018-03-02 21:51] 4creators commented on #16714
[code]

[code]

[code]

[2018-03-02 21:52] 4creators commented on #16714
Seems to be the same problem for all of them

[2018-03-02 21:54] jbcoe opened #16722 "macOS build fails with undeclared identifier HW_Flag_BaseTypeFromArg"
building on macOS (High Sierra) using the build.sh script leads to the following error:

[code]

[2018-03-02 21:56] fiigii commented on #16714
I think we can move these `numArgs` assertion into `if (info->srcCount >= 2)` block.

[2018-03-02 22:33] tannergooding commented on #16714
@4creators, did you change the `numArgs` call in lsraxarch to call the 2-arg overload?

[2018-03-02 22:35] tannergooding commented on #16714
Nevermind, I see what the failure was from the comment added to #15777

[2018-03-02 23:19] #16480 closed

[2018-03-02 23:22] sdmaclea commented on #16491
Despite being unstable, I have been able to build arm64 natively several times.  I do see the most common error above frequently.

[2018-03-02 23:26] sdmaclea commented on #16491
As I believe this issue is likely fixed in CoreCLR tip, I have tried again with
`dotnet-sdk-2.1.300-preview2-008281-linux-arm64`, but even the baseline
`dotnet-sdk-2.1.300-preview2-008281-linux-x64` is failing to work correctly.
See https://github.com/dotnet/source-build/issues/328

[2018-03-02 23:42] jkotas commented on #16708
This issue was moved to dotnet/core-setup#3768

[2018-03-02 23:42] #16708 closed

[2018-03-02 23:44] sdmaclea opened #16723 "[Arm64/Ubuntu] Enable native builds"
Using a bootstrap CLI Arm64/Ubuntu native builds can build to completion.

I was able to get this to work by:

+ Built bootstap CLI based on `dotnet-sdk-2.1.300-preview2-008171-linux-x64`
+ Fix crossgen with https://github.com/dotnet/source-build/pull/335
+ Use #16709 to enable using bootstrap CLI
+ Disable SOS build
[code]

[2018-03-02 23:44] sdmaclea commented on #16723
@dotnet/arm64-contrib FYI

[2018-03-03 00:29] benaadams commented on #14022
@AndyAyersMS is this resolved with https://github.com/dotnet/coreclr/pull/15419

[2018-03-03 00:43] #16222 closed

[2018-03-03 00:43] RussKeldorph commented on #16722
Please close if fixed by 41f9ab8d44da435de5c0db3855eb8700fdc9a8a1.  @fiigii

[2018-03-03 00:51] RussKeldorph commented on #16712
Not worth it IMO.  Recommending closing.

[2018-03-03 00:57] RussKeldorph commented on #5337
Closing based on @briansull's assertion.  We'll find out if/when we try to enable it.

[2018-03-03 00:57] #5337 closed

[2018-03-03 01:07] RussKeldorph commented on #16472
@dotnet/jit-contrib

[2018-03-03 02:12] 4creators commented on #16712
Closing as high effort will give small effect

[2018-03-03 02:12] #16712 closed

[2018-03-03 02:14] AndyAyersMS commented on #14022
Could very well be.

It is probably worth looking at the new code gen to see if the minor issues mentioned above are cleared up (or now perhaps more prominent ). I'm be happy to do it, if nobody else gets to it in the next few days.

[2018-03-03 03:15] #16714 closed

[2018-03-03 16:16] RussKeldorph opened #16734 "Test build break when building release/uwp6.1"
https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1423221

[code]

[2018-03-03 17:04] jkotas opened #16735 "dotnet host should log fatal application errors to Windows Event Log (when on Windows)"
_From @livarcocc on March 2, 2018 22:29_

_From @DamianEdwards on March 2, 2018 22:22_

.NET Framework on Windows today will log an error from the source ".NET Runtime", including the offending stack trace and application name, to the "Application" Windows Event Log whenever a .NET app crashes, e.g.:

[code]

![image](https://user-images.githubusercontent.com/249088/36924946-7e797768-1e25-11e8-907

[2018-03-03 17:04] jkotas commented on #16735
_From @livarcocc on March 2, 2018 22:29_

I will move this to core-setup, where the dotnet host lives.

[2018-03-03 17:04] jkotas commented on #16735
_From @DamianEdwards on March 2, 2018 23:27_

@livarcocc do you have any idea what this would take? I'm assuming we could just re-use the existing ".NET Runtime" source so that no install requirements are added.

[2018-03-03 17:04] jkotas commented on #16735
_From @davidfowl on March 3, 2018 16:27_

/cc @jkotas @richlander @Petermarcu

[2018-03-03 17:08] jkotas commented on #16735
The fix should be to delete `FEATURE_CORESYSTEM` here: https://github.com/dotnet/coreclr/blob/67f40646d76d914ab7f099df25768c73c4f55bad/src/vm/eventreporter.cpp#L451 and verify that it works on both regular Windows and NanoServer. This ifdef is there because of the original "CoreSystem" reduced surface Windows editions did not contain eventlog.

[2018-03-03 17:24] jkotas commented on #16735
Related #9529 and #14037

cc @sywhang

[2018-03-03 17:28] davidfowl commented on #16735
It's just an ifdef 😄

[2018-03-03 17:29] DamianEdwards commented on #16735
OMG :shipit: already

[2018-03-03 18:13] 4creators commented on #16673
@fiigii There is new PR #16736 which implements `LoadHigh`, `LoadLow` and `SetScalaVector128`

[2018-03-03 20:00] perlun commented on #16438
Thanks for digging into this @janvorli, much appreciated! The reason why it opens a huge number of TCP connections is because of [this code](https://github.com/perlun/pg2couch/blob/bug-EEFileLoadException-repro/Program.cs#L58):

[code]

This means for 20000 rows, there will be 20000 tasks running with a TCP connection each. Likely not what you _want_ in a normal program, but as you say, a proper h

[2018-03-03 20:16] 4creators commented on #14596
This issue will be fixed by #16729

[2018-03-03 20:43] jbcoe commented on #16722
Fixed. Thanks for the fast response.

[2018-03-03 20:43] #16722 closed

[2018-03-03 23:48] 4creators opened #16738 "Update HW intrinsic dependencies to use new `System.Runtime.Intrinsics.Experimental` assembly"
FYI @fiigii @tannergooding @CarolEidt @sdmaclea

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_ubuntu_jitx86hwintrinsicnoavx2_tst_prtest/110

[2018-03-03 23:53] fiigii commented on #16738
Is this not solved by https://github.com/dotnet/coreclr/pull/16730?

[2018-03-04 00:02] 4creators commented on #16738
Should be but it seems that Ubuntu jobs picked new dependencies and failed. Checking it locally.

[2018-03-04 01:11] 4creators commented on #16738
I can confirm that HW intrinsics tests are broken now due to change of `System.Runtime.Intrinsic` assembly name to `System.Runtime.Intrinsics.Experimental`. Locally they fail on Windows and macOS.

I will take a look at this and will try to fix the problem.

[2018-03-04 03:27] ahsonkhan commented on #5851
Marking "Debugging" and "APIs for working with specialty spans" as complete.

[2018-03-04 04:56] #16388 closed

[2018-03-04 12:26] ruben-ayrapetyan commented on #15544
Hi @jkotas, @danmosemsft,

Sorry for taking so long to answer. I will take a look into this on the next week.

[2018-03-04 12:48] 4creators commented on #16738
Seems that failures were probably due to some transient condition which is no longer there. Closing.

[2018-03-04 12:48] #16738 closed

[2018-03-04 14:02] RussKeldorph commented on #16734
Need to figure out why these build breaks happen.  We may need to reenable these tests for UWP6.1.

[2018-03-04 17:06] 4creators opened #16744 "Consider refactoring of Compiler::numArgsOfHWIntrinsic function to improve performance"
See discussion from this comment on:

https://github.com/dotnet/coreclr/pull/16736#issuecomment-370188525

[2018-03-04 17:40] WinCPP opened #16745 "Optimize methods in System.Numerics.Vector<T>"
Creating this issue for tracking purpose, as per the below suggestion by @jkotas for optimizing code in System.Numerics.Vector<T> in [this comment](https://github.com/dotnet/coreclr/pull/16733#issuecomment-370156691) in dotnet/coreclr#16733

[2018-03-04 17:59] WinCPP commented on #16745
@ahsonkhan @jkotas Please review and scrub this issue.

[2018-03-04 18:27] AndyAyersMS commented on #16513
Is this something we want to track for 2.1?

[2018-03-04 20:00] AndyAyersMS commented on #16615
Hmm, can't repro the local numbers above. Think I was looking at the wrong results files.

Trying to be careful this time: locally master/2.1 and 2.0 look comparable, both around 880ms. The stability prefix does not seem to have any effect on either set of runs.

Run commands from automation seem comparable. But results are quite different, both in absolute time and also comparative times.

[2.0](

[2018-03-04 20:30] ymassad commented on #9105
I think that it makes sense a lot of sense to solve this problem for readonly fields of which types are interfaces. Many long-lived objects receive dependencies as interfaces in the constructor and store them in private readonly fields. The object is expected to invoke methods on this interface a very large number of times during its lifetime.

Because the fields are readonly, they cannot change.

[2018-03-04 21:13] AndyAyersMS commented on #16615
Similar results on my laptop (2 physical cores, 4 with HT), both run in around 1060ms, affinity has no real impact, fairly low spread in results.

If we look at raw CI perf runs there's not much results spread either, despite the small number of iterations. So the runs on the perf machines are self-consistent and not very noisy.

[2.0](https://ci2.dot.net/job/dotnet_coreclr/job/perf/job/release_2.

[2018-03-04 21:47] mikedn commented on #16472
@RussKeldorph @AndyAyersMS Do really want to put this in 2.1? I'm not sure that lookahead will work here because there may be an arbitrary chain of fields between the indir and the lclvar. And the proper fix - tracking the indir width and offset accurately - seems to be quite a bit of work to get right. FWIW I prototyped something for fun but it will take a while to finish it.

[2018-03-04 23:56] kstewart83 commented on #5851
What is the possibility of adding a `Span`/`Memory` constructor for working with memory mapped files? Currently, it looks like I have to have unsafe code in order to do this:

[code]
Also, it seems like I can only create `Span`s, as there aren't public constructors for `Memory` that take a pointer (maybe I'm missing the reason for this). But since the view accessors have safe memory handles that i

[2018-03-05 01:09] jkotas commented on #5851
https://github.com/dotnet/corefx/issues/26603 has the discussion about Span & memory mapped files.

[2018-03-05 03:46] kstewart83 commented on #5851
Unfortunately, looking at https://github.com/dotnet/corefx/issues/26603 along with the referenced code in the benchmarks didn't clear things up for me. It seems like that particular use case is geared to copying small bits of the memory mapped files into `Span`s and `ReadOnlySegment`s. It looks like the solution still involves unsafe code with `OwnedMemory<T>`, which is what I'd like to avoid. I d

[2018-03-05 04:15] davidfowl commented on #5851
@KrzysztofCwalina I think we should create something first class with Memory mapped files and the new buffer primitives (ReadOnlySequence).

@kstewart83 all we have right now are extremely low level primitives that you have to string together to make something work. That specific issue was about the performance gap between using Span directly and using the ReadOnlySequence (the gap has been reduce

[2018-03-05 04:21] ahsonkhan commented on #5851
I have re-opened the dotnet/corefx#26603 issue. Feel free to move the discussion there.

[2018-03-05 04:43] RussKeldorph commented on #16472
@mikedn Thanks for the bug and the additional info.  We generally like to fix silent bad codegen ASAP so I started with 2.1.0.  Things like unsafe, not a regression, and difficulty to fix certainly lower its chances, so we may punt on this.

[2018-03-05 05:55] kbaladurin commented on #16388
@brianrob thank you!

[2018-03-05 08:47] dotnet-mc-bot opened #16751 "Test failure: baseservices_compilerservices._FixedAddressValueType_FixedAddressValueType_FixedAddressValueType_/_FixedAddressValueType_FixedAddressValueType_FixedAddressValueType_cmd"
Opened on behalf of @Sunny-pu

The test `baseservices_compilerservices._FixedAddressValueType_FixedAddressValueType_FixedAddressValueType_/_FixedAddressValueType_FixedAddressValueType_FixedAddressValueType_cmd` has failed.

Test Infrastructure Failure: Method not found: 'System.ReadOnlySpan`1<Char> System.MemoryExtensions.AsSpan(System.String)'.
    Expected: True
    Actual:   False

        Stac

[2018-03-05 16:46] AndyAyersMS commented on #16472
I think moving this out of 2.1 is reasonable.

We addressed the one externally reported case of this #16210 via #16305, but the mechanism used there is becoming increasingly clunky.

I think we need time to step back and reconsider how we handle this analysis in general. I expect it will be challenging to find a fix that is correct and not overly conservative.

There are other ways to get at the u

[2018-03-05 17:17] janvorli opened #16757 "Flock is causing issues on filesystems that don't support locking"
We have observed an issue with loading managed assemblies from such a filesystem due to
this issue.

[2018-03-05 17:18] janvorli commented on #16757
Fixed by #16752

[2018-03-05 17:18] #16757 closed

[2018-03-05 18:01] rayterrill commented on #8844
Seeing A TON of what looks like debug info logged to /tmp, as well as INFORMATIONAL messages to the local syslog on Ubuntu16.04. Is this the same issue as above? Any way to disable this?

[2018-03-05 18:08] RussKeldorph commented on #16513
@AndyAyersMS I'd like to get this in for 2.1 if possible.  For preview 2, we are going to have to use a workaround (using 32-bit tools and new Docker images), but it could still make the release.  Since we can validate by simple binary output comparison on a fixed set of inputs (the framework binaries), it should be low risk.

[2018-03-05 18:46] CarolEidt commented on #16744
Before we spend any time on this, I would like to see some evidence that this actually matters.

[2018-03-05 18:51] sdmaclea commented on #16537
With the recent tip 430331c01, I do not see the segmentation fault (tried 3 times).
I always see the thread killed presumably by the Out of Memory killer.

[2018-03-05 18:54] mikem8361 commented on #8844
This issue is specifically about the pipes for managed debugging in /tmp. They are named something like “clr-debug-pipe-17206-65823754-out”, “clr-debug-pipe-17206-65823754-in” where 17206 is the process id and 65823754 is the process creation time.

I don’t know anything about the syslog messages.

[2018-03-05 18:58] mikedn commented on #16744
Yep, this whole story is rather speculative. Intrinsic usage will always be pretty low compared to "normal" code so it will be difficult to measure the impact of such a change. It's probably good but too small to matter, especially when comparing it with other zillion of perf issues the JIT has.

Not to mention that coreclr uses PGO and that has a significant impact on inlining and since there's n

[2018-03-05 18:59] rayterrill commented on #8844
I’m definitely seeing this - also seeing a GUID directory which appears to correspond to the PowerShell namespace get created, and then not get removed. Eventually it “fills up” /tmp to the point where nothing else can be created in that directory.

Showstopper for me. :(

[2018-03-05 19:08] lt72 commented on #8844
Could you share some of the messages logged to /tmp and syslog that come from dotnet? it may help us understanding the origin of those messages.

[2018-03-05 19:09] CarolEidt commented on #16744
In looking at the code, one refactoring that might actually be useful would be to factor out the code that actually counts the node's operands, e.g. `countArgsOfHWIntrinsic(GenTreeHWIntrinsic* node)`. Then, in the case where the `numArgs` field is not `-1`, you could add an assert that it returns the same value as `numArgs`. I suspect it might be useful for asserts elsewhere as well.

[2018-03-05 19:10] CarolEidt commented on #16744
Yes, and PGO is a bit tricky because unless you re-run the measurement pass, making changes to the source and rebuilding wont' actually show you what the optimizer will do.

[2018-03-05 19:39] rayterrill commented on #8844
Using "inotifywait -e create -m /tmp" to monitor /tmp:

Lauching "pwsh" generates messages like this into /tmp:
/tmp/ CREATE clr-debug-pipe-1279-96230436-in
/tmp/ CREATE clr-debug-pipe-1279-96230436-out

And this into syslog:
[code]

Even without interactively running anything via pwsh, I periodically get see debug pipes + GUID directories created in /tmp, like so:

[code]

The GUID directories in

[2018-03-05 19:39] jorive commented on #16615
@AndyAyersMS Please let me know if you need me to reserve a machine in the lab for investigation.

[2018-03-05 19:51] AndyAyersMS commented on #16615
Yes, I need access to a lab machine.

[2018-03-05 21:24] brianrob opened #16763 "PAL_InitializeTracing is Not Called on Start-up"
PAL_InitializeTracing loads libcoreclrtraceptprovider.so during module load of libcoreclr.so via a module constructor.  This is done to allow CoreCLR to log to LTTng.

It appears that in recent builds PAL_InitializeTracing is not being called, and isn't even ending up in libcoreclr.so:

[code]

I have confirmed that the file is being compiled.

[2018-03-05 21:24] brianrob commented on #16763
@janvorli are you aware of anything in the PAL that might have changed and could be affecting this?

[2018-03-05 22:09] 4creators commented on #16744
This is exactly what I wanted to test.

Yep, that's the problem.

Agree, will run some profiles to check the impact and potential savings

[2018-03-05 23:11] jashook commented on #8193
This is no longer required.

[2018-03-05 23:11] #8193 closed

[2018-03-05 23:13] tannergooding commented on #16652
Currently writing tests for `ExtendTo`, `GetLowerHalf`, and `StaticCast`. Should be up shortly.

[2018-03-06 00:26] fiigii opened #16769 "[RyuJIT/JitStressRegs=8] Incorrect VEX.vvvv encoding on containment form"
With `COMPlus_JitStressRegs=8`
[code]

[2018-03-06 00:31] fiigii commented on #16769
JITDump example of `Sse41_Multiply_r`
[code]

This problem is really strange to me.
`C4E27928B570FFFFFF` is `vpmuldq  xmm6, xmm0, xmmword ptr [rbp-90H]`, but the instruction already gets XMM6 as the first-op.
How does "JitStressRegs=8" impact VEX-prefix encoding?

cc @CarolEidt @tannergooding @AndyAyersMS

[2018-03-06 00:50] CarolEidt commented on #16769
It shouldn't impact the encoding, but it *will* change the register allocation. In particular, it will attempt to use callee-save registers when caller-save would normally have been preferred, and vice-versa. This has, in the past, exposed places where we were accidentally getting away with failing to encode a register, because `xmm0` is the most commonly allocated register.

[2018-03-06 01:21] #16642 closed

[2018-03-06 01:27] janvorli commented on #16763
I am not aware of any change that would touch it. But I can confirm that when I build the latest main, it doesn't work. Building release/2.0.0 works. I am running git bisect to find the offending commit.

[2018-03-06 02:17] janvorli commented on #16763
@brianrob this is the commit that introduced the issue. The commit before that was working: https://github.com/dotnet/coreclr/commit/c1bbdae7964b19b7063074d36e6af960f0cdc3a0
I don't have any more time today to look into that, the git bisect has just completed.

[2018-03-06 05:14] brianrob commented on #16763
Thanks @janvorli.  I have a fix for this and will get it posted soon.

[2018-03-06 08:37] kasper3 commented on #16642
* can it be cleaned up in rest of the places like scripts, docs and packaging manifest https://github.com/dotnet/coreclr/search?q=libuuid?
* can the same cleanup of libuuid made to corert at this point?

[2018-03-06 09:32] sherlock1982 opened #16774 "WebSocket client leaks socket descriptors in 2.0.x"
I'm seeing this issue on 2.0.5. Don't know if it's still eligible for 2.1.

How to reproduce:
On Linux try to connect to a Websocket server which constantly throws errors. You will see that amount of socket descriptors will grow.

Reason:

I analzyed the code [here](https://github.com/dotnet/corefx/blob/release/2.0.0/src/System.Net.WebSockets.Client/src/System/Net/WebSockets/WebSocketHandle.Manage

[2018-03-06 10:04] sherlock1982 commented on #16774
Should be opened in different repository

[2018-03-06 10:04] #16774 closed

[2018-03-06 10:51] #16763 closed

[2018-03-06 11:31] adamsitnik commented on #16628
After some investigation, it looks that `System.Runtime.Serialization.Formatters.Binary.WriteObjectInfo.InitSerialize` was 55% of the inclusive samples for `BinaryFormatter.Serialize` for 2.0.5. For the preview of 2.1 it's "only" 24%.

Visualization of the improvement (it's a Flame Graph from PerfView):
![image](https://user-images.githubusercontent.com/6011991/37028178-d2b0c604-2133-11e8-82bf-fb4

[2018-03-06 12:11] mattwarren commented on #16628
Is it in the 2.0 branch :-), see https://github.com/dotnet/coreclr/blob/release/2.0.0/src/vm/reflectioninvocation.cpp#L225-L272 and https://github.com/dotnet/coreclr/blob/release/2.0.0/src/mscorlib/src/System/Reflection/RtFieldInfo.cs#L17-L18 (it's a [FCall method](https://github.com/dotnet/coreclr/blob/master/Documentation/botr/mscorlib.md#fcall-functional-behavior))

But it was removed in the PR

[2018-03-06 13:39] A-And opened #16775 "[Default interfaces] Change "isDefaultInterfaceMethodCallSite" condition in getMethodSigInternal"
Related to the discussion in https://github.com/dotnet/coreclr/pull/16690#pullrequestreview-101187454 .
The condition at https://github.com/dotnet/coreclr/blob/f88d2133a7ddbd7b8c1addac4fc4ec90d480629d/src/vm/jitinterface.cpp#L8525 , which determines when we need to report the generic instantiation argument and when we need to "lie" to the JIT.  The condition we seem to currently have in place isn'

[2018-03-06 13:49] amos402 opened #16776 "Debug failed with c++ hosting"
![default](https://user-images.githubusercontent.com/3406561/37035459-96cb3fa8-2187-11e8-94d8-2151115a486c.png)
I set the host's debugger type to `Mixed` for start and get this error.
Use attach for debugging was success.

[2018-03-06 14:43] jkotas commented on #16776
@amos402 Thank you for reporting this issue. What is the .NET Core build that you are hitting this on?

We had a bug in Mixed mode debugging that was fixed recently https://github.com/dotnet/coreclr/pull/16552 .

cc @mikem8361

[2018-03-06 14:58] amos402 commented on #16776
2.0.5

[2018-03-06 15:03] amos402 commented on #16776
I had try it on `2.1.0-preview1`, the problem still exist.
Visual Studio: 15.6.0

[2018-03-06 17:37] mikem8361 commented on #16776
The mixed mode debugging fix didn't make into preview1, but there should be any problems with 2.0.5. I need more details on how you launched (or attached) the debugging and the C++ host you are using.

Thanks.

[2018-03-06 18:49] adamsitnik commented on #16628
@mikedn @mattwarren thanks for help!

So the improvement comes most probably from #13241 ;)

I have opened an issue to implement benchmarks for `BinaryFormatter` to keep track of its performance. https://github.com/dotnet/corefx/issues/27770

[2018-03-06 18:49] #16628 closed

[2018-03-06 18:59] danmosemsft commented on #16628
@viktorhofer fyo

[2018-03-06 19:14] lt72 commented on #8844
Thank you.
The debug messages in SysLog are from PowerShell. See here: https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/utils/tracing/SysLogProvider.csNot sure why so many and if you can turn them off. You may want to open an issue at https://github.com/PowerShell/PowerShell.

The pipes though are definitely ours. @mikem8361: can you check why we are failign to

[2018-03-06 19:17] mconnew opened #16783 "Roundtrip string format for single/double doesn't roundtrip -0"
The string format "R" is supposed to allow you to get back the same value as you initially had. When the value is negative zero, the negative gets dropped and the value does not round trip. This can be easily seen when dividing 1 by the value as you will get either positive or negative infinity.

[code]

[2018-03-06 19:28] rayterrill commented on #8844
Is the GUID directory coming from dotnet clr or PowerShell?

[2018-03-06 19:37] lt72 commented on #8844
dotnet, but please Mike will confirm.

[2018-03-06 19:55] jkotas opened #16786 "Unix: Interop does not handle invalid UTF8 characters correctly"
Repro:

[code]

Actual result (bogus string with 0 in the middle):
[code]

Expected result (same as what Encoding.UTF8.GetString returns):
[code]

[2018-03-06 19:57] jkotas commented on #16786
cc @jeffschwMSFT

[2018-03-06 20:16] jkotas commented on #16786
This bug seems to be in the C/C++ UTF8 encoder/decoder. This repro is just one example where it surfaces.

I have found this while doing test coverage inspection for https://github.com/dotnet/coreclr/pull/16749 .

[2018-03-06 20:30] fujiy commented on #15780
@danmosemsft, @jkotas, @ateoi.

Considering the following example:

[code]

Wouldn't be better to keep both frames (the throwing and the re-throwing ones)? This way it would be easier to identify which catch block captured the exception in DoStuff() method.

In this case the output would be:

[code]

instead of:

[code]

[2018-03-06 20:45] echesakovMSFT opened #16787 "[Linux/ARM] Crossgen-d S.P.C.dll is failing to load on Linux/ARM"
We hit this issue when we were trying to run tests using crossgen-d System.Private.CoreLib.dll on Linux/ARM.
It seems it does not matter how S.P.C.dll crossgen-d (natively on ARM or cross-crossgen-d on Linux/x86).

Here is a log
[code]

I investigated this issue a bit and it seems failure happens in `MappedImageLayout::MappedImageLayout` in the following block:
[code]
due to `PEDecoder::IsNativeMa

[2018-03-06 21:20] mikem8361 commented on #8844
The runtime (coreclr) does it's best to clean up these pipes when a managed terminates.  It can't clean up "kill" is used or if some 3rd party native code terminates. If you have a repeatable (simple) test case where these clr pipe's are left after powershell exits, please send it to me. Thanks.

The GUID directory and all the syslog's is all powershell and I don't know or have any control over it

[2018-03-06 21:21] AndyAyersMS commented on #16615
Did some runs on the perf lab HW, and I can repro the regression there. It is tied to the stability prefix, in particular to setting thread affinity:

 spectralnorm-3                         | Metric   | Unit | Iterations | Average | STDEV.S |     Min |     Max
:-------------------------------------- |:-------- |:----:|:----------:| -------:| -------:| -------:| -------:
 2.0 no prefix | Duration

[2018-03-06 21:27] jkotas commented on #16787
The machine field is set at: https://github.com/dotnet/coreclr/blob/430331c011a0460670e2743ab08caa36f914f52d/src/zap/zapwriter.cpp#L467 . There is not much that can go wrong there.

Are you sure that the `System.Private.CoreLib.dll` that you got was actually generated on Unix? If you copy over System.Private.CoreLib.dll from Windows ARM to Linux ARM, you would get the exact symptoms that you are d

[2018-03-06 21:29] stephentoub commented on #16615
Not to my knowledge, though there have been some changes related to spinning, which maybe could impact this? cc: @kouvel

[2018-03-06 21:33] jashook commented on #16787
Yes, we can generate it directly on the same machine and get the same repro.

[2018-03-06 21:59] RussKeldorph commented on #16751
@janvorli Looks like redhat.69 is completely horked.  Any ideas off the top of your head, or do we just need to investigate?

[2018-03-06 22:01] ruben-ayrapetyan commented on #15544
Fixed (#16747). @maryamariyan could you, please, verify this?

[2018-03-06 22:01] janvorli commented on #16787
Are you sure the crossgen actually worked? It seems that the file is the pure managed assembly instead, based on the machine field.

[2018-03-06 22:13] janvorli commented on #16751
@RussKeldorph I am sorry, I have no idea. From the history, the last build that worked was 20180303.09 and then it started to fail consistently at 20180304.01

[2018-03-06 22:28] AndyAyersMS commented on #16615
A crude linear model for an 8 CPU machine would look something like the following (with N ~ 370, K ~ 270, fitting to the endpoints):

Cpus | Predicted  | Observed     |  Model
 ---: | ---:        | ---:         | ----:
1    | 8N + K     |   3250       |  3250
2    | 4N + K     |   1800, 2590  |  1750
3    | 3N + K     |   1800, 1740      |  1380
4-7  | 2N + K     |    915, 1480  |  1010
8    | 1N

[2018-03-06 22:42] BruceForstall commented on #16787
I've seen the same behavior. I'm building on Mac with Docker using:
[code]
then copying the generated Core_Root to the Linux/arm32 box. It does have a System.Private.CoreLib.dll. Then I run "./crossgen System.Private.CoreLib.dll" on the Linux/arm32 box, and replace the .dll with the generated .ni.dll.

Should I be building the System.Private.CoreLib.dll a different way?

[2018-03-06 23:23] AndyAyersMS commented on #16615
Also work is divided up into 8 chunks, but the last chunk gets all the leftovers too. So for the default length 100 we have 7 tasks each running 12 iterations, and one task running 16. So for cases where number of tasks is not divisible by number of available CPUs we would expect ~33% variance as the overall time depends on when the longer task is run. And we sort of see that above.

Official benc

[2018-03-07 00:28] AndyAyersMS commented on #16615
Did some profiling and verified we are indeed running on just one CPU in both cases.

And it does indeed look like the spin wait cost is higher in master/2.1 than in 2.0. Again this is taken from the odd case where we've affinitized down to one CPU -- not sure it is interesting in general.

I will look at the non-affinitized case next as it still seems to run a bit slower than it did in 2.0.

2.0

[2018-03-07 00:40] jkotas commented on #16787
If it is it a recent regression, it may be caused by https://github.com/dotnet/coreclr/pull/16747

[2018-03-07 00:40] maryamariyan commented on #15544
@ruben-ayrapetyan have you seen the comments here? https://github.com/dotnet/corefx/pull/27737

[2018-03-07 00:52] BruceForstall commented on #16787
My source is much older than that.

[2018-03-07 01:02] echesakovMSFT commented on #16787
It seems this related to #11485

[2018-03-07 01:49] jkotas commented on #16787
@echesakovMSFT Good catch. We should stop setting `FEATURE_NI_BIND_FALLBACK` by default for all platforms.

[2018-03-07 01:52] amos402 commented on #16776
The host just like this (https://github.com/dotnet/docs/tree/master/samples/core/hosting) and startup from C++ project.
![default](https://user-images.githubusercontent.com/3406561/37069166-23a8c52a-21ed-11e8-8645-08a5e77dbb38.png)

[2018-03-07 02:27] echesakovMSFT commented on #16787
Thanks to @jashook who pointed me out to that place in assemblybinder.cpp.

Got S.P.C.dll natively crossgen-d under Linux/ARM and passing some ARM tests.

However, S.P.C.dll crossgen-d using x86_arm crosscomponent crossgem still fails but with  *Segmentation fault* issue. Will continue to investigate.

[2018-03-07 03:30] echesakovMSFT commented on #16787
Here is another problem with S.P.C.dll natively crossgen-d under Linux/ARM. It fails many tests with the similar simptoms. For example, for `JIT/Regression/CLR-x86-JIT/V2.0-Beta2/b091942/b091942` JIT produces the following code

[code]
and during the run after executing instruction at `000082` `r3` has value `0` and the following instruction at `000084` received signal `SIGSEGV`, Segmentation faul

[2018-03-07 04:29] jkotas commented on #16787
I do not see anything wrong in the code fragment that you have shared: The test is storing 0 into the static at 00002E, and then loading the static at 000082, and loading a field from the static at 000084  . This load is expected to cause segfault, this segfault should be converted to NullReferenceException, and this NullReferenceException should be caught in Test1 method.

[2018-03-07 04:30] jkotas commented on #16787
What are the failure symptoms that you are seeing?

[2018-03-07 05:14] brianrob commented on #16388
Thanks @kbaladurin for reporting this!

[2018-03-07 07:04] ww898 opened #16796 "Attach/Detach support in profiler"
Hi there,

is there plans to enable `FEATURE_PROFAPI_ATTACH_DETACH` in CoreCLR? Do you have any plans? Will you did it separately on Linux and Windows?

[2018-03-07 09:31] kouvel commented on #16615
Most of the ThreadNative::SpinWait time seems to come from Barrier.DiscontinuousWait -> ManualResetEventSlim.Wait. The spin strategy used there (SpinWait struct's spin strategy) has changed in multiple ways, including to normalize the delay per spin iteration to the delay on Skylake processors (which significantly increased the pause instruction's delay), to change the back-off scheme, and to cap

[2018-03-07 09:38] kouvel commented on #16615
Affinity is/was not taken into account for spinning in most places in coreclr/corefx, only the logical processor count. It would probably only matter for when the process is affinitized to one CPU, but I'm not sure if that is a common scenario.

[2018-03-07 09:40] kouvel commented on #16615
On my pre-Skylake machine the non-affinitized case seems to run about the same speed as before, if not slightly faster. Still I'm not sure this is an interesting test for validating the spin strategy used.

[2018-03-07 10:40] mfilippov commented on #16796
We want to attach and detach dotTrace profiler to running .NET Core processes such as ASP .NET Core, Console Application, UWP, etc...  on all supported platforms. If it possible only windows now let's do it on Windows.

[2018-03-07 10:44] sergign60 commented on #16503
@dotnet/arm32-contrib
The reason for which process is killed is found. It is the system utility the OOM Killer

The OOM Killer represents a Linux kernel component, the protective mechanism designed to solve problems with the shortage of physical memory (OOM — Out of memory). At detection of a lack of memory the OOM Killer "kills" the least important process, sending  KILL signal (besides of init a

[2018-03-07 13:31] stephentoub commented on #16615
Maybe we should consider doing that?  I realize affinity can change, but I would speculate that the most common uses of process affinity would be setting it once at the beginning of the process.  And if the whole process is affinitized to a single core, we should likely significantly dial back the amount of spinning done, if not remove remove it entirely.

[2018-03-07 14:08] jkotas commented on #16796
cc @noahfalk

[2018-03-07 15:43] dotnet-mc-bot opened #16800 "Build failure: Can't find "setup_vs_tools.cmd" in publish steps"
Opened on behalf of @dagood

Warnings: 1
Status Message: failed

Build : Master - 20180307.06 (Publish)
Failing configurations:
- Checked
  - Publish
- Release
  - Publish
- Debug
  - Publish
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/build~2Fpublish~2F/build/20180307.06/workItem/Orchestration/analysis/external/Link)

---

Th

[2018-03-07 16:22] AndyAyersMS opened #16801 "Don't set affinity for multithreaded perf tests"
The profile for affinitized multithreaded tests may diverge from the un-affinitized profile. In particular, affinitizing can shift the focus of the perf away from jit codegen. See for instance #16615.

We should remove affinity from the following jit perf tests:
[code]

cc @jorive

category:testing
theme:benchmarks
skill-level:intermediate
cost:small

[2018-03-07 16:41] #14012 closed

[2018-03-07 16:43] danmosemsft commented on #16801
As you know the Q6600 they run the first 7 on is 4 cores. Is it intersting to limit those tests to 4 cores?

[2018-03-07 17:03] stephentoub opened #16802 "Warnings during `build -release -skiptests`"
I see these warnings now during a clean build of coreclr:
[code]

[2018-03-07 17:10] 4creators opened #16803 "Improve SIMD register allocator for HW intrinsics, avoid unnecessary movaps between SIMD registers"
During implementation of Sse2.SetAllVector128 we have been hitting both by implementing intrinsic in importer and in managed code (i) unnecessary XMM register allocation issues and (ii) unnecessary value copying between XMM registers what seems to be associated with the first problem.

An example below shows optimal codegen followed by actual codegen:

[code]

In the above example usage of XMM1 re

[2018-03-07 17:19] tannergooding commented on #16803
This is a more general issue and not one that impacts only HWIntrinsics.

This type of instruction sequence is basically a no-op:
[code]

This type of instruction sequence is bad because its using unneeded registers (we only need rcx and xmm0):
[code]

This type of instruction sequence is bad (and represents the issue for non-SIMD registers) because its using unneeded registers (we only need rsi a

[2018-03-07 17:19] tannergooding commented on #16803
FYI. @CarolEidt, @fiigii

[2018-03-07 17:26] CarolEidt commented on #16803
Please provide a specific use case, i.e. code, so that there is something actionable and measurable. That will greatly increase the likelihood that this will get some attention.

[2018-03-07 17:40] mikedn commented on #16803
At least some of this stuff is likely caused by RMW/delay free not accounting for the case of a `binop(x, x)` where `x` is last use. It gets marked as delay free so the destination register will inevitably be different.

[2018-03-07 17:57] 4creators commented on #16803
The above disasm is generated for managed implementation of helper intrinsic:

[code]

But it is present in the following helper overloads of `SetAllVector128` as well:

[code]

In the case of `public static Vector128<long> SetAllVector128(long value)` and `ulong` overload the codegen is optimal in the case we use `Shuffle` overload which takes one `Vector128` argument but has unneeded register al

[2018-03-07 17:58] AndyAyersMS commented on #16801
Maybe? There are a couple of different angles to this.

Our perf HW is 8 core, and it looks like trying to make it simulate having fewer cores can alter the profile enough that it may not be that interesting, at least to us jit developers.

If we modified the tests that looked at the total core count to determine task distribution to instead look at the number of available cores then we might fare

[2018-03-07 18:01] mmitche commented on #16800
@dagood @jashook I think this step may just be able to be removed altogether.  testing now.

[2018-03-07 18:15] mikedn commented on #16803
Yet `x + x` where `x` is `int` works fine and generate something like `add edx, edx`. So this may be a intrinsic specific issue that a more general LSRA issue.

[2018-03-07 18:24] tannergooding commented on #16803
`x + x` also works fine. I would guess that this is something to do with the fact that `Vector128<T>` is a struct. There are already known inefficiencies around structs being eagerly copied when they don't need to be.

I am building locally to try and confirm, or see if I can glean any info from the dumps.

[2018-03-07 18:30] mikedn commented on #16803
At the point where this matters this aren't structs so this has nothing to do with that. It's just that the proper setup for RMW is a bit more complex and BuildHWIntrinsic doesn't get it quite right it seems.

[2018-03-07 18:36] tannergooding commented on #16803
Looks like, for starters, we aren't going down the `isRMWRegOper` path here:  https://github.com/dotnet/coreclr/blob/master/src/jit/lsraxarch.cpp#L590 (implementation is here: https://github.com/dotnet/coreclr/blob/master/src/jit/lsraxarch.cpp#L799)

[2018-03-07 18:40] mikedn commented on #16803
Well, you probably can't go down that path because it won't work well for intrinsics that claim to be binary when they really aren't. It's likely that the logic will need to be reproduced in BuildHWIntrinsic. The trouble is that the existing logic relies on addition on being commutative and this information is not available for intrinsics...

[2018-03-07 18:43] lt72 commented on #16796
We are working on it, on both Windows and Linux, but there is no set date yet to deliver this. It will not be in 2.1 for sure, maybe in 2.2.

[2018-03-07 18:45] tannergooding commented on #16803
We actually have all the information in the lookup table, we just don't appear to be setting that information in the tree.

So we should be able to either look it up, or set the tree node (I would imagine the latter may be better).

It seems that this is already setup to handle that scenario (at least for OperIsBinary, when it is really Ternary or more). `GT_HWIntrinsic` also isn't the only binary

[2018-03-07 18:49] echesakovMSFT commented on #16787
@jkotas Thanks Jan, you were right - the signal `SIGSEGV` was expected to be thrown. The problem happens when we running `NullReferenceException..ctor()`:
[code]

[2018-03-07 18:56] 4creators commented on #16803
Can you share?

[2018-03-07 18:59] mikedn commented on #16803
It's not useful beyond my little experiment, I simply made sure that delay free isn't set on op2.

[2018-03-07 19:01] jashook commented on #16800
Sorry for the regression. Thank you @mmitche do you have a link to the testing?

[2018-03-07 19:01] CarolEidt commented on #16803
FWIW, the handling of RMW operators is going to change with future iterations of #16517 (follow-on PRs), so I wouldn't invest *too* heavily in the current structure. That said, it would seem that one should be able to change `isRMWRegOper` in a fairly straightforward way to special-case the HW intrinsics and rely on their table info.

[2018-03-07 19:10] jkotas opened #16804 "Fail to load type if the type has attribute to `ComImport` on Ubuntu/Mac/Docker container"
_From @smadala on February 5, 2018 15:58_

### Description:
 Fail to load type if the type has attribute to `ComImport` on Ubuntu/Mac/Docker container.

### Repro Steps:
- git clone https://github.com/smadala/samples
- cd samples/ComImportIssue/consoleapp
- dotnet run

This works fine on windows.

### Expected Output:
[code]
### Actual Output:
[code]
### Background:
In [vstest](https://github.com/

[2018-03-07 19:10] jkotas commented on #16804
_From @joshfree on February 5, 2018 18:2_

/cc @MichaelSimons

[2018-03-07 19:10] jkotas commented on #16804
You are trying to use COM interop on Unix. COM interop on Unix is not supported. (msdia.dll does not exist on Unix either.)

[2018-03-07 19:10] jkotas commented on #16804
_From @mayankbansal018 on February 6, 2018 5:36_

@jkotas , we are not trying to using COM interop on Unix. Our question is that if an assembly compiled for netstandard1.4 uses COM interop, & if on such an assembly we use GetAllTypes API on Unix, should it fail?
I can see that ComInterop attribute is defined in System.Private.CoreLib.dll for unix netcore, but getting it's Type is failing.

[2018-03-07 19:10] jkotas commented on #16804
Yes, it is expected to fail today. Here is the relevant check that makes it fail: https://github.com/dotnet/coreclr/blob/ad71e93f91b6091454bb533c645c68dd9dc3276f/src/vm/methodtablebuilder.cpp#L3108

Not sure what it would take it to not fail. Either way, the type will be non-instantiateable.

[2018-03-07 19:10] jkotas commented on #16804
_From @mayankbansal018 on February 6, 2018 6:55_

@jkotas We are completely okay if the type is non-instantiatable, but using reflection to get types should be allowed on such object.
Please refer [bug here](https://github.com/Microsoft/vstest/issues/1417).

[2018-03-07 19:10] jkotas commented on #16804
_From @sidshetye on March 7, 2018 18:53_

This is also an issue with Apache Avro's C# libraries during deserialization. Tests fail on Linux/Mac due to `Assembly.GetTypes()` [see here](https://github.com/apache/avro/blob/master/lang/csharp/src/apache/main/Specific/ObjectCreator.cs#L145). Like @mayankbansal018 says, at the very least reflection should be permitted and should be non-fatal on *nix. Fo

[2018-03-07 19:10] jkotas commented on #16804
This should not be hard to fix. We should consider fixing this for 2.1.

[2018-03-07 19:16] RussKeldorph commented on #16787
Could this be related to #11318?

[2018-03-07 19:16] tannergooding commented on #16803
I am actually testing this right now. There are only minimal changes required to get this working with `isRMWRegOper` and `OperIsCommutative` (GTK_COMMUTE), as well as `canBeContained` (GTK_NOCONTAIN).

[2018-03-07 19:35] jherby2k opened #16806 ".Net Standard 2.1?"
I can't find any information about a .net standard 2.1.

I really want to use the new Span-ified methods like Stream.Read in my class libraries, but it looks like that stuff isn't in System.Memory but rather the .net core 2.1 SDK. Any other way to get these APIs, or do I have to wait for .net standard 2.1. And is there any ETA on that?

[2018-03-07 19:48] kouvel opened #16807 "Take processor affinity into account before spinning"
Don't spin when the process is affinitized to one CPU. It may be reasonable to check the affinity only once lazily, as it is probably more common for a process to be started with a specific affinity and not changed thereafter.

[2018-03-07 19:49] kouvel commented on #16615
That sounds reasonable to me, filed https://github.com/dotnet/coreclr/issues/16807

[2018-03-07 20:02] echesakovMSFT commented on #16787
@RussKeldorph  For natively build Linux/ARM S.P.C.dll we confirmed that this issue is duplicate of #11318 to the reason discussed in #15074.

[2018-03-07 20:04] echesakovMSFT commented on #16787
The issue still exists for Linux/x86_arm crossgen. Apparently, the images generated by Linux arm_arm and Linux x86_arm are not binary identical (but they are binary identical for Windows/ARM). Continue investigating

[2018-03-07 20:19] AndyAyersMS commented on #16615
I think we understand what's going on and have opened the relevant issues, so I'm going to close this.

[2018-03-07 20:19] #16615 closed

[2018-03-07 20:20] AndyAyersMS commented on #16613
I'll take a look.

[2018-03-07 20:20] tannergooding commented on #16803
See https://github.com/dotnet/coreclr/pull/16808, which makes codegen is much better for many of the intrinsics

[2018-03-07 20:50] lt72 commented on #13828
@alpencolt: any progress with this one?
@BruceForstall FYI

[2018-03-07 21:00] lt72 commented on #11490
We will be providing the docs, although I am moving this to future because it is not a blocker for 2.1.

[2018-03-07 21:37] #16800 closed

[2018-03-07 21:38] kasper3 opened #16811 "Two build related questions"
1. `one-less dependency`: is dependency on gettext hard? can it be replaced by libicu? currently both libs are in use.
2. `more compilers to build with please`: is there any future plan to support GCC compiler to build CoreCLR? main `build.sh` is too strict to let go unknown operating systems based on `uname` and clang is a requirement.

Many (>90%) Unix-like systems are GCC-first and clang / llvm

[2018-03-07 22:15] sdmaclea opened #16814 "[Arm64/Ubuntu] GCStress0x1 failures"
These tests are consistently failing in GCStress=0x1 mode

These fail with SanityCheck() assertions
[code]

This test fails with an unexpected result
[code]

@Maoni0 @swgillespie
Are these tests supposed to be GCStress compatible?

[2018-03-07 22:30] RussKeldorph commented on #16811
@janvorli In case #14360 is relevant.

[2018-03-07 22:30] janvorli commented on #16811
gettext and libicu have completely different usage. The gettext is used for localization of error messages while the icu is used for general globalization. I don't see how icu could replace the gettext, which is the de-facto standard way of providing localization.
However, we don't have error messages in other languages yet, so the gettext is not used at all. On the other hand, the gettext functio

[2018-03-07 22:41] RussKeldorph commented on #16802
@lt72 Can you take the cordbdi warnings?

@adiaaida Can you take the PGO warnings?

[2018-03-07 22:53] adiaaida commented on #16802
The pgomgr warnings are just saying that there aren't any PGC files to merge into a PGD. We merge them into a PGD when we build the PGO packages and the build uses the PGDs to build with pgo data. These warnings can be ignored.

[2018-03-07 22:58] stephentoub commented on #16802
In my experience, deciding to ignore warnings is a slippery slope, where at some point you stop noticing new ones because they're hidden by the noise of all the others that have just been accepted. Thus I have trouble with anything other than 0 warnings.

[2018-03-07 23:02] adiaaida commented on #16802
I am not sure where in the build we decide to call PGOMGR, but I assume we do it (or really, msbuild does it) on the off chance that there are PGC files laying around that we want to use in the build. I don't know how to turn that off.

[2018-03-07 23:16] RussKeldorph commented on #14100
Closing based on @mikedn's assessment.  Re-open if you disagree.

[2018-03-07 23:16] #14100 closed

[2018-03-07 23:31] tannergooding opened #16819 "Update lsra to not mark op2 as delay free for certain RMW nodes"
For nodes with RMW semantics, we are currently setting op2 as delayFree in a number of scenarios: https://github.com/dotnet/coreclr/blob/master/src/jit/lsraxarch.cpp#L659

This can cause "poor" codegen in certain scenarios, such as when `op1` and `op2` are the same value (i.e. the same local) and where `op2` is the "final use" for that value.

One example of this is:
[code]

Where this currently (

[2018-03-08 00:15] ahsonkhan commented on #16806
You do not have to wait for them to be added to .net standard 2.1 if your applications can target .NET Core 2.1.

The System.Memory package (which contains Span/Memory/etc) is available OOB (for full framework and older version of .net core (like 2.0), and it complies with netstandard1.1 so can be used on any of the platforms that support netstandard1.1+.

The new overloads being added throughout

[2018-03-08 01:19] #14144 closed

[2018-03-08 01:45] alpencolt opened #16825 "Missed commits in 2.1-preview"
We're preparing release of 2.1-preview for Tizen platform and have found that some interesting for us patches are missing in 2.1-preview branch.
Is it possible to cherry pick them? If so what is the due date?

@jkotas @janvorli @BruceForstall
cc @kbaladurin @Dmitri-Botcharnikov

[2018-03-08 01:48] echesakovMSFT opened #16826 "[Linux][ARM][PAL]PAL_CS_NATIVE_DATA_SIZE are different for x86_arm and arm_arm crossgens"
Found that
1.`PAL_CS_NATIVE_DATA_SIZE` has different values for Linux/ARM `(80)` and Linux/x86 `(76)` as defined in src/pal/inc/pal.h;
2. Which ends up in having different sizes for `_CRITICAL_SECTION::CSNativeDataStorage` and `CrstExplicitInit` structures;
3. Which causes `Module` class to be of different sizes - 1484 bytes when compiled on Linux/x86 and 1504 bytes when compiled Linux/ARM

Now, w

[2018-03-08 01:49] echesakovMSFT commented on #16787
This issue is closed and new issue #16826 is opened where the identified problem is explained.

[2018-03-08 01:49] #16787 closed

[2018-03-08 01:51] jkotas commented on #16826
I think we should switch to R2R crossgen for CoreLib unconditionally on ARM.

[2018-03-08 01:57] jkotas commented on #16825
I do not think there is 2.1-preview branch. There is https://github.com/dotnet/coreclr/tree/release/2.1 branch from which we have shipped .NET Core 2.1 Preview1  https://blogs.msdn.microsoft.com/dotnet/2018/02/27/announcing-net-core-2-1-preview-1/ . I expect we are going to integrate master into it to ship the next eventual preview and the actual .NET Core 2.1 release. If your changes are in maste

[2018-03-08 02:16] janvorli opened #16827 "Stack probing in managed code for frames > 64kB doesn't work on Linux kernel >= 4.9.34"
I have spend some time during the last week tracing down an issue reported by @pavlexander  (#16462) that he had when running his .NET app on Debian 9.3.
It manifested itself as a sigsegv when running a static constructor. And it was also intermittent, happening on some runs and not happening on others. And also not happening when running under a debugger. Until @pavlexander found that it is due t

[2018-03-08 02:17] janvorli commented on #16827
cc: @jkotas, @sergiy-k

@BruceForstall , do you see any potential issues with such change from the JIT point of view?

[2018-03-08 03:44] RussKeldorph commented on #16826
@jkotas For ARM, I think that's an acceptable solution, but should this be fixed for the general case?  I believe a similar mismatch exists for x64->ARM64 and x64->x86, which might be interesting cross scenarios in the future (though I'm not sure if the mismatch will cause problems).  Or should we just not allow fragile ngen to proliferate beyond existing supported scenarios?

[2018-03-08 03:57] jkotas commented on #16826
I think we should be working towards retiring fragile NGen support in crossgen.

If you would like to fix this, https://github.com/dotnet/coreclr/pull/10159 was earlier attempt to fix it that insightful discussion. It was not merged though.

[2018-03-08 06:33] danmosemsft commented on #16827
Impressive investigation thanks for the educational writeup @janvorli.

[2018-03-08 06:34] danmosemsft commented on #16825
Correct.

[2018-03-08 07:03] Joe4evr commented on #16806
Yes, I've been wondering myself why there are methods in `netcoreapp` that aren't available in the equivalent `netstandard` TFM. Basic things like [`ConcurrentQueue<T>.Clear()`](https://apisof.net/catalog/System.Collections.Concurrent.ConcurrentQueue%3CT%3E.Clear()) (yet [`ConcurrentStack<T>.Clear()`](https://apisof.net/catalog/System.Collections.Concurrent.ConcurrentStack%3CT%3E.Clear()) is avail

[2018-03-08 07:36] 4creators commented on #16673
@fiigii @tannergooding two last SSE2 intrinsics SeVector128 and StoreNonTemporal are in #16817 and #16832 respectively.

[2018-03-08 09:05] Ninds opened #16833 "Corrupted struct passed to delegate constructed via reflection"
When a CancellationToken is checked for cancellation .NET CORE 2.0 & 2.1 crashes on Debian and Redhat.

[2018-03-08 09:09] Ninds commented on #16833
@Drawaes You can probably add a few more, more useful comments

[2018-03-08 09:31] alpencolt commented on #16825
If so it's great. These commits are in master.
Thank you.

[2018-03-08 09:31] #16825 closed

[2018-03-08 09:44] hqueue commented on #16679
@alpencolt Can you please take a look at this?  I've looked into it but could not figure out the reason.

[2018-03-08 10:02] alpencolt commented on #16679
It looks there is problems with publishing packages for PRs with version update since such issue occured not first time. We will check it.
@danmosemsft please contact me and @gbalykov if it will occur again.

[2018-03-08 10:05] alpencolt commented on #16503
It's old Linux issue related with oom. So it's why Android has own LMK.
I've found some approaches to solve it, but they aren't easy:
https://elinux.org/Memory_Management#Enhanced_Out-Of-Memory_handling

[2018-03-08 11:36] stephentoub commented on #16833
@Ninds, please share a repro; we have a ton of code, both product and test, that checks CancellationTokens for cancellation and they do not crash.

[2018-03-08 11:44] #16664 closed

[2018-03-08 12:25] Ninds commented on #16833
@stephentoub Sent my email as suggested by @Drawaes.

[2018-03-08 13:45] stephentoub commented on #16833
@Ninds, thank you.  I've created an isolated repro.  I don't believe this issue is specific to CancellationToken, but rather there's some kind of corruption happening due to the reflection.
[code]

[2018-03-08 13:45] stephentoub commented on #16833
cc: @janvorli

[2018-03-08 13:53] stephentoub commented on #16833
And without CancellationToken:
[code]

[2018-03-08 14:45] Drawaes commented on #16833
Extra note as far as I can tell this only occurs on Linux and not windows.

[2018-03-08 14:59] svick commented on #16833
It seems the corruption comes from putting the value of the following parameter into the previous parameter. You can see that in the following variant of the code:

[code]

[2018-03-08 14:59] janvorli commented on #16833
I've looked into it and found the culprit. There is a bug in the generated shuffle thunk code. This shuffle thunk is called when the delegate is invoked and it shifts arguments in registers and on stack by one before jumping to the target function. In our case, the MyMethod has parameters in RDI, RSI, RDX, RCX, R8, R9 and one more on stack. The thunk in this case overwrites the first stack argumen

[2018-03-08 15:01] janvorli commented on #16833
I am going to work on a fix.

[2018-03-08 16:35] #16803 closed

[2018-03-08 16:56] 4creators opened #16838 "Verify performance of available algorithms for implementing SSE/SSE2 HW helper intrinsics, create performance tests"
Native compilers like MSVC, Clang and GCC tend to use different algorithms (sequences of SIMD instructions) to implement helper intrinsics which are equivalent to `SetAllVector128`, `SetVector128` and similar. We have implemented this intrinsics using some of this patterns, however, we do not know what would be performance differences between different algorithms running on .NET Core.

To make sou

[2018-03-08 17:09] RussKeldorph commented on #16826
@jkotas Thanks for the pointer.  I don't object to retiring fragile ngen, so this doesn't need to be fixed.  @echesakovMSFT Just go with R2R unconditionally for ARM, even for the native crossgen, as @jkotas suggests.

[2018-03-08 17:09] #16826 closed

[2018-03-08 17:21] 4creators commented on #16838
@tannergooding Any advice on performance tests for .NET Core: (i) what is the best approach, (ii) where code should live, (iii) how to integrate, run them, and see results in CI?

[2018-03-08 17:27] Ninds commented on #16833
...so why do we only see this on Linux and not on Windows?

[2018-03-08 17:31] Drawaes commented on #16833
Because the calling convention is different on Linux and windows ... But I am Sure others can give a more in depth response ;)

[2018-03-08 18:00] tannergooding commented on #16838
See https://github.com/dotnet/coreclr/tree/master/tests/src/JIT/Performance/CodeQuality

[2018-03-08 18:07] RussKeldorph commented on #16751
@dotnet/dnceng The two builds in question were built at the [same commit](2552c32255f59bfe28955d5f0efc426c1c40febb), so something changed external to the repo to make this start failing.  Are you aware of a change that would affect CoreCLR for RedHat6.9 only?

[2018-03-08 18:08] MattGal commented on #16751
I'll take a quick look to see if anything changed from an infra perspective (or if I can otherwise provide better perspective) and make sure the FR team is on it if so.

[2018-03-08 18:10] janvorli commented on #16833
Because the shuffle thunk generation is different on Unix x64 due to the difference in calling convention. The Unix convention allows passing structs in upto two registers, but it can never split a struct to be half in registers and half on stack. On Windows, you can only pass struct in single register.
This makes the shuffling more complex on Unix x64. Unlike on Windows, the arguments don't fill

[2018-03-08 18:22] RussKeldorph commented on #16751
@mattgal Nevermind.  The commit is for the pipebuild repo, not coreclr.  Oops.

[2018-03-08 18:24] MattGal commented on #16751
Yup, I noticed that too.
20180303.09 - f5a424896f0e81e2459908957742201bf1074f10
20180304.01 - 37d1426400794bad99142d741dc38efec1175e0d

From reading the commits and guessing, the new test dependencies from the maestro PR might have had an effect, or just the core* changes it also brought.

[2018-03-08 18:27] RussKeldorph commented on #16751
Most likely 37d1426400794bad99142d741dc38efec1175e0d.

[2018-03-08 18:49] MattGal opened #16840 "CoreClr Official runs are overwriting their test list JSONs, which break the repro tool"
@RussKeldorph , @maririos  FYI

Russ just showed me this problem, which you can see using the Helix API here:
https://helix.dot.net/api/jobs/422dc66a-f9f3-4e85-9cc2-c85b292521da/details?access_token=**your token**

The Job list is getting written here:
https://dotnetbuildoutput.blob.core.windows.net/coreclr-master-20180304-01/TestList.json
... but you'll note that there's nothing about this job li

[2018-03-08 18:53] AndyAyersMS commented on #16613
Hmm, for the -2 version I actually see a pretty large perf difference running locally: ~1150 in 2.0 vs ~1675 for master. Test is single threaded and perf is basically all in one method, fannkuch.

Lab seems to have similar results: 2.0 is ~1190, 2.1 is ~ 1800, master is ~ 1800. @nategraf did you mean to write 50% regression above?

Codegen for fannkuch in master is much larger (1036 vs 777), and c

[2018-03-08 19:03] RussKeldorph commented on #16840
@jashook FYI.

[2018-03-08 19:04] AndyAyersMS commented on #16613
Master perf has been stable for quite a while:
![image](https://user-images.githubusercontent.com/10121823/37170259-36216b8a-22bf-11e8-8882-00b75be7b0bf.png)

@jorive here's another example where I really need too look back over longer time ranges. 999 builds is not enough to let me see the entire history of 2.1, I probably need at least 1500 and maybe 2000.

If there are some limits that are hard

[2018-03-08 19:25] RussKeldorph commented on #16827
@dotnet/jit-contrib

[2018-03-08 19:45] alexandrnikitin commented on #16197
Just to confirm, I've installed the latest `2.1.0-preview2-26308-01` CLR build and the issue is fixed. It's time to switch 😄  Thank you!!

The results from the above benchmark:

[code]

[2018-03-08 19:54] KrzysztofCwalina commented on #16197
@AndyAyersMS great thanks for the fix! @alexandrnikitin, thanks for bringing this issue to our attention!

[2018-03-08 20:08] #16713 closed

[2018-03-08 20:36] BruceForstall commented on #16827
It seems like changing the JIT to
1. change SP, then
2. probe at SP
would be ok, though slightly more code. It seems like this should work on Windows as well.

I wonder: what does Linux stack probing code look like (e.g., some Linux version of "chkstk")?

[2018-03-08 20:43] RussKeldorph commented on #16675
Closing based on @mikedn's analysis--Thanks!  This appears to be fixed by the move to RyuJIT.  Re-open if I am mistaken.

[2018-03-08 20:43] #16675 closed

[2018-03-08 20:54] janvorli commented on #16827
@BruceForstall:

I am not aware of existence of anything like that on Unix.

It may actually be just one more instruction out of the loop. This is what we had in the failure I was investigating:
[code]

And I think the new version can look like this:
[code]

[2018-03-08 21:07] AndyAyersMS opened #16843 "JIT: poor codgen for case derived from fannkuch-2"
In an example like
[code]
(inspired by code in fannkuch-2) there should only be one range check, for `p[2]`. The remainder are all unnecessary.

The jit should realize:
* after the first newarray, `n` is known to be non-negative
* all the `for` loop accesses are within the array bounds so loop cloning is pointless
* since `p`, `q`, and `s` all have the same length the check for `p[2]` covers the o

[2018-03-08 21:07] BruceForstall commented on #11284
@Buyduck Any progress?

[2018-03-08 21:10] kasper3 commented on #16811
Statistically yes but for macos

https://github.com/dotnet/coreclr/blob/8b8b3b95adada2a9cb2b00876c6d11ef3e4438f7/src/pal/src/locale/unicode.cpp#L962-L967

then in *bsd we need to install dependency separately.

If this TODO implementation happens in platform independent way that can replace the gettext requirement just like you replaced UUID dependency with custom implementation.

One step towards

[2018-03-08 21:11] AndyAyersMS commented on #16827
I vaguely recall there was some reason why on windows we don't move RSP until the end of the probing sequence (or at least don't move it at the beginning). Something like RSP always has to point at a valid page. I could very well be wrong though.

Let me see if I can dig it up....

[2018-03-08 21:13] jkotas commented on #16827
You have to opt into it via `-fstack-check` gcc command line option.

For example, the code for method like this:

[code]

Looks like this (when compiled with `gcc -fstack-check -O2`):

[code]

`-fstack-check` option does not seem to be supported by clang.

[2018-03-08 21:15] BruceForstall commented on #16827
I don't think we'd want to move SP to it's final value before the probing happens; presumably someone could asynchronously start using our stack (maybe the VM, or an interrupt handler?), and SP wouldn't be valid. I'm surprised that's what the code @jkotas shows does.

[2018-03-08 21:20] janvorli commented on #16827
The you can replace
[code]
by
[code]
I actually makes my sample above correct, the way I've put it, we would not be probing the last page.

[2018-03-08 21:23] sdmaclea opened #16844 "[Arm64/Ubuntu] JIT/HardwareIntrinsics/X86/Avx2 fail GCStress=8"
On the 5e03df42d9fb tip, I see the following avx2 tests failing GCStress=8 with a segmentation fault

JIT/HardwareIntrinsics/X86/Avx2/Avx2_r/Avx2_r.sh
JIT/HardwareIntrinsics/X86/Avx2/Avx2_ro/Avx2_ro.sh

[code]

Fails in same spot repeatably.

@tannergooding @CarolEidt

[2018-03-08 21:37] mikedn commented on #16843
It's interesting that range check can't eliminate any checks due to the way VN models `GT_ARR_LENGTH` - as a function of array. So the 3 array length nodes inside the loop end up having distinct VNs instead of all having the same VN as `n`.

[2018-03-08 21:41] mikedn commented on #16819
This can probably be solved by treating any `binop(x, x)` as if `binop` is commutative even when it is not.

[2018-03-08 21:57] BruceForstall commented on #16488
Closing, since eventpipesmoke was deleted with https://github.com/dotnet/coreclr/pull/16667

[2018-03-08 21:57] #16488 closed

[2018-03-08 22:16] 4creators opened #16848 "SSE42 Crc32 has benn broken by PR #16808"
Just started to hit the following test error after rebasing my work:

[code]

After running local git bisect I have found that
last good is: commit  5e03df42d9fb2fe05a4246695128ddfb6e9ca7fd
first bad is:   commit 530949b14c795988dd81bae603ca33a87d6ee5fd

FYI @tannergooding @fiigii

[2018-03-08 22:19] mikem8361 commented on #15243
My PR #16141 is blocked on an arm tizen problem.

[2018-03-08 22:19] mikem8361 commented on #8844
My PR #16141 is blocked on an arm tizen problem.

[2018-03-08 22:41] tannergooding commented on #16848
Looking.

[2018-03-08 22:45] mikedn commented on #16472
IMO pushing an "address context" down the tree, while it seems to make sense at the first look, is rather unintuitive and has at least 2 problems that seem unavoidable:
* you can't push down a different address context for each sub-tree of an n-ary operator (e.g. CALL), at least not in the current tree walker based implementation
* you can't handle the case of getting the offset of a field by subt

[2018-03-08 23:03] kasper3 commented on #16802
in ubuntu i also saw

[2018-03-08 23:25] wtgodbe commented on #16840
Seems like the fix would be to insert something like:

`<TestListFileName>$(Rid)-$(BuildType)-TestList.json</TestListFileName>`

Somewhere around here: https://github.com/dotnet/coreclr/blob/master/tests/helixpublish.proj#L44-L50

@MattGal seem reasonable? I can put up a PR if needed

[2018-03-08 23:41] kasper3 opened #16850 "Build failed with Clang 6.0"
I am getting some errors on ubuntu when building coreclr with clang 6.0.

[code]

[2018-03-09 00:15] kasper3 commented on #16850
@janvorli, 6.0 was released today. New packages were made available (http://apt.llvm.org/).

They tend to introduce more analysis rules in every next version. Now 6.0 is stable and 7.0 is in development. Maybe it is worth adding a CI plan that runs once a day with nightly version of llvm in order to keep build future proof and reduced chance of breakage when a new version is officially released.

[2018-03-09 00:25] AndyAyersMS commented on #16613
As best I can tell so far the big code size increase in master/2.1 comes from cloning the entire `for (int i = 2; i < n; i++)` loop. This seems like it then increases overall register pressure and lead to a lot of disconnected spill and restore blocks.

Note these disconnected RA spills/restore blocks often tend to blow the compact loop layouts. It would be worth revisiting how these blocks get pl

[2018-03-09 00:26] sywhang commented on #16814
These tests should be disabled from GC stress runs now.
cc @Maoni0

[2018-03-09 00:26] #16814 closed

[2018-03-09 00:33] tannergooding opened #16852 "Updating the RMW flags for HWIntrinsic nodes"
At present, RMW semantics is tracked via a combination of the compiler support for VEX-encoded instructions and the NoRMWSemantics flag.

We should update this to instead be a combination of flags: `RMWSemanticsSseOnly` and `RMWSemanticsAlways` (or similar).

This will allow all scenarios to be table driven and for the check to be a positive case, rather than a negative case (which can sometimes l

[2018-03-09 01:43] AndyAyersMS commented on #16613
Dump comparison shows that the `for (int i = 2 ..)` loop was not recognized in 2.0 but it is now in 2.1. So that's what enables cloning. And I may be confused but I don't see a loop body size-based profitability heuristic for cloning. At any rate it is willing to clone a large loop with an inner loop (that is also a clone candidate; not sure why cloning is not running bottom up. But I digress).

D

[2018-03-09 02:32] MattGal commented on #16840
@wtgodbe that's the more elegant (IMO) fix, yes, but you'd want to make sure that your other blobs didn't collide either;  If anyone writes to a blob  in those lists after the list is written, it's going to result in chaos.  I was unsure from the Windows runtime correlation payload if this would be the case; simply review all the blobs that the specific runs are uploading to decide this.

[2018-03-09 07:14] mikedn commented on #16838
That's a case of putting the cart before the horses.

* For SetAll you don't really have a lot of choices, it's 1-3 shuffles or something more fancy like a broadcast if the available ISA has it.
* For Set there are multiple implementation choices and the generated code also varies with parameters. But what all implementation have in common is that they're complex and unlikely to be of practical us

[2018-03-09 08:11] mikedn commented on #16838
It should work but currently there's no support for alignment.

16 byte alignment support can be added (see #14393) but 32 byte alignment support is more problematic as it requires support from VM. And the nasty part is that the JIT can't currently order constants by size so you risk wasting a lot of space with alignment padding (that's one of the reasons I didn't finish that PR yet).

But for cas

[2018-03-09 12:36] 4creators commented on #16838
IMO it is one the deficiencies we should solve sooner or later

I do not expect to do "continuous observations" for single or couple of instructions. My plan is to write some more complete implementation of often SIMD optimized functionality and have it run in performance tests. I would think of something like `Keccak` (SHA-3) algorithm implemented in legacy SSE and AVX2 and some media related alg

[2018-03-09 13:03] mikedn commented on #16838
That's good (and IMO should have been done earlier, not necessarily because of performance but in order to validate the implementation using some real world code and not synthetic tests) but it seems unrelated to helpers/this particular issue.

[2018-03-09 13:21] janvorli commented on #16850
This warning is generated for pattern that we use intentionally (we set / restore the packing by including pshpack/2/4/.h and poppack.h files that contain appropriate `#pragma pack` form based on the target compiler). The reason is that you cannot define a macro that would expand to `#pragma`. So we'll need to disable that warning. Ideally inside the above mentioned headers (disable before pushing

[2018-03-09 13:25] janvorli commented on #16850
I am worried that it would generate too much churn - the compiler during its development phase may have issues that would break our build. And if we had such a daily run, someone would need to check each time a failure happens and try to figure out whether it is a problem of the compiler or of our code.
It seems better to keep monitoring the stable releases of clang and each time it is released, g

[2018-03-09 14:22] jkotas commented on #16850
I see we are spending a non-trivial amount of energy of fixing `-Werror` warnings. How much value are we getting back - how many real bugs do these warnings catch?

Should we rather be on http://blog.schmorp.de/2016-02-27-tidbits-for-the-love-of-god-dont-use-werror.html plan ?

[2018-03-09 14:24] jkotas commented on #16850
Maybe have the `-Werror` warnings enabled in CI only where we are building with fixed version of the compiler; but have them disabled by default when folks out there are building with random version of the compiler?

[2018-03-09 14:29] janvorli commented on #16850
Although I don't see the amount of energy spent of fixing the issues that large (basically max an hour each time a new compiler is released, at least so far), the plan to have -Werror enabled only for known versions of clang sounds good to me.

[2018-03-09 14:31] janvorli commented on #16850
Btw, I already have a fix for the clang 6.0 build ready.

[2018-03-09 14:41] 4creators opened #16854 "Create HW intrinsics performance tests to validate implementation and track performance change in time"
HW intrinsics project is approaching a point where it will be possible to write real life code using available ISAs. This should allow to validate intrinsics implementation using complex functionality like cryptographic, media and scientific algorithms/applications implementation.

Possible candidates include: SHA-3 Keccak algorithm, JPEG 2000 / JPEG algorithms, FFT, some Regex algorithms and many

[2018-03-09 14:42] 4creators commented on #16838
Yep, you are right. Created #16854

[2018-03-09 15:12] tannergooding commented on #16838
The hard part here was getting us to a place where we had a "usable" implementation -- `Sse` was only "completed" ~1 month ago.

Now that we have SSE, SSE3, SSSE3, and SSE41 completed (and with SSE2 going to be complete in the next day or so), we are in a much better position to be able to write tests covering real-world scenarios and using coding patterns we expect people to be using in the wild.

[2018-03-09 16:17] 4creators commented on #14596
Closing as #16729 is merged

[2018-03-09 16:17] #14596 closed

[2018-03-09 16:18] CarolEidt commented on #16854
@4creators - thanks for creating this issue. I would love to see some performance tests.

[2018-03-09 16:32] AndyAyersMS commented on #16613
For the -5 variant, I indeed see around 4-5% slowdown:

 Fannkuch Redux 5                                                | Metric   | Iterations |  AVERAGE | STDEV.S |     MIN |      MAX
:--------------------------------------------------------------- |:-------- |:----------:| --------:| -------:| -------:| --------:
 2.0 no affinity | Duration |     10     | 1001.929 |  13.039 | 982.086 | 1024.41

[2018-03-09 17:14] mikedn commented on #16843
It looks like it's possible to teach range check to eliminate all checks from a loop like:
[code]
The original loop is problematic because the upper bound is not an array length so no assertions are generate for it. I suppose that makes the case for range check finding its own assertions on demand instead of relying in assertion propagation.

But of course, none of this avoids the loop cloning mes

[2018-03-09 17:15] AndyAyersMS commented on #16613
In -5 all the time is spent in `run`. Because of inlining this is a fairly large method. Codegen is similar but the 2.1 version has more "backedge" spill/restore traffic (and again these blocks are dislocated from their loops).  Will hazard a guess that this  spill/restore overhead is what is responsible for the relatively small perf difference.

As a simple example the first `for` loop in `FirstP

[2018-03-09 17:49] CarolEidt opened #16857 "[LSRA] Avoid splitting loop backedges"
In general, edge splitting in the LSRA resolution phase is problematic, but it is especially so across loop backedges.
These high-weight edges should have fixed var-to-reg assignments, and resolution, as needed, should be done in the lower-weight blocks.

[2018-03-09 17:49] CarolEidt commented on #16613
There's a general "spill placement" issue - #7665, and also #7609 is related.
However, I've been thinking for some time now about ways to eliminate splitting of backedges in resolution, and I'm hoping to get to that once I'm done with the current (last) stage of #7257. There isn't really an issue open to address that (that I could find), so I opened #16857.

[2018-03-09 18:07] AndyAyersMS commented on #16613
Thanks. Am going to move this to future, this as the likely sources of regression are now tracked by other issues that are too complex to address for 2.1.

* fannkuch-2: loop cloning #12836
* fannkuch-5: backedge spills #16857

[2018-03-09 18:09] AndyAyersMS commented on #16578
I'll take a look.

[2018-03-09 19:29] sandreenko opened #16862 "[ARM/Regression] crossgen can't generate pdb for System.Private.CoreLib.dll"
Our arm ci is back, but each job fail with:
[code]

cc @dotnet/jit-contrib

[2018-03-09 19:41] echesakovMSFT commented on #16862
I think this is related to #16839 (switching to R2R for arm), looking into it.

[2018-03-09 20:03] AndyAyersMS commented on #16578
2.0 at ~180, 2.1/master at ~205.

Only significant diff here is as follows (comes from `Math.Abs`): I think it functionally is fine because the sign bit is in the same place for the upper half of a float pair as it is for a double. But I wonder if switching from double / single / double like this introduces dependence-tracking issues in the HW that causes a performance glitch:
[code]
@fiigii do yo

[2018-03-09 20:26] AndyAyersMS commented on #16578
Oops, disregard the above `vandps` notes -- they are for x86 codegen.

[2018-03-09 20:34] AndyAyersMS commented on #16578
Ok, now looking at actual x64 codegen. All the action here is in `Bench`. 2.0 uses registers effectively, but master/2.1 is spilling. Not sure why just yet, will look at dumps in a bit.

Diff snippet of inner loop up to the call to `Exp`:
[code]

[2018-03-09 20:34] echesakovMSFT opened #16864 "[ARM] Crossgen can't generate pdb for R2R System.Private.CoreLib.dll"
In order to use Ready2Run for `System.Private.CoreLib.dll` for ARM and retire fragile NGen (as we wanted in #16826 #16839) this needed to be resolved first

[code]
**Related issues:** #16862

[2018-03-09 20:35] echesakovMSFT commented on #16862
Thanks for catching this and sorry for breaking the build.
Created an issue addressing this problem #16864

[2018-03-09 20:37] #16862 closed

[2018-03-09 20:48] ahsonkhan commented on #9699
cc @GrabYourPitchforks

[2018-03-09 20:55] AndyAyersMS commented on #16578
Looking at dumps, things seem pretty comparable until LSRA -- there is one extra integer CSE in 2.1, but the double parts seem the same.

The LSRA dumps have changed enough that I can't easily tell why the behavior is different. Michelle's analysis indicates the regression likely happened quite a while ago.

@CarolEidt do you have time to take a quick look at the 2.1 / master behavior here and see

[2018-03-09 21:01] mikedn commented on #16578
Nope, both `andps` and `andpd` are executed by the same execution unit (floating point unit on current processors). You can get into trouble only if you mix integer and floating point instructions (e.g. use `pand` instead of `andps`/`andpd`).

[2018-03-09 21:08] fiigii commented on #16578
No, I did not see any related issue. Maybe @tannergooding is more familiar with `Math`.

[2018-03-09 21:11] fiigii commented on #16578
Right, this kind of state switching only exists between integer and floating units.

[2018-03-09 21:13] fiigii commented on #16578
@AndyAyersMS @adiaaida Could you provide more details of the test environment (e.g., processor and OS)?

[2018-03-09 21:16] CarolEidt commented on #16578
I'll take a look

[2018-03-09 21:17] tannergooding commented on #16578
AFAIK, there weren't any related changes to System.Math.

[2018-03-09 21:37] AndyAyersMS commented on #16578
For lab perf HW: OS is Windows Server 2016, CPU is i7-4790.

[2018-03-09 22:01] AndyAyersMS commented on #16126
Will get to this after 2.1 is out the door.

[2018-03-09 22:07] AndyAyersMS commented on #16579
2.1 codegen here exhibits the same spilling as seen in #16578.

[2018-03-09 22:59] AndyAyersMS opened #16873 "Investigate impact of method entry alignment"
Current code alignment strategy seems a bit random. Best I can tell it is:
* on x86 we generally 8 byte align jitted code, but we 16 byte align small methods. When prejitting we 16 byte align IBC hot methods, and otherwise 4 byte align.
* on x64 we always 8 byte align when jitting and 16 byte align when prejitting

Haven't looked at arm32 / arm64.

Over-aligning leads to wasted code space; under-a

[2018-03-09 23:01] AndyAyersMS commented on #16581
2.0 and 2.1 codegen is identical for both `Acker` and `Bench`.

This test is notoriously sensitive to method alignment. Let's look at the longer-term stability in master:
![image](https://user-images.githubusercontent.com/10121823/37232429-d14e8658-23a3-11e8-9db8-1d95655dd771.png)

So there seem to be 4 stable levels: 695, 720, 770, and 790.

2.0 seems to have settled in on 695:

![image](https://

[2018-03-09 23:01] #16581 closed

[2018-03-09 23:41] AndyAyersMS commented on #16582
Will investigate.

[2018-03-10 00:00] AndyAyersMS commented on #16582
Assuming this was x64. Identical codegen for `Bench` in 2.0 and 2.1.

This also seems to be alignment related, this time loop top as the method is not recursive.

Long-term behavior in master:
![image](https://user-images.githubusercontent.com/10121823/37235228-f1a06bf2-23b1-11e8-835a-800d52db1927.png)

So several stable levels at around 1080, 1095, 1145, 1160, and 1170.

2.0 has stayed at 1095 fo

[2018-03-10 00:00] #16582 closed

[2018-03-10 00:12] #16850 closed

[2018-03-10 01:12] AndyAyersMS commented on #16585
Will investigate.

[2018-03-10 01:18] sywhang commented on #15203
This should be now fixed with #16622.

[2018-03-10 01:18] #15203 closed

[2018-03-10 01:29] danmosemsft commented on #15203
Thanks @sywhang!

[2018-03-10 01:34] danmosemsft commented on #15203
BTW if you are interested in protecting this with a test, I believe a best way would be to do it in CoreFX something like this test
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Extensions/tests/System/EnvironmentTests.cs#L194
The only piece missing is a way to gather the console output for the child process (this one is just getting the exit code)
That would need a change to add

[2018-03-10 01:44] sywhang commented on #15203
@danmosemsft ,

Thank you! I'll look into those and add some tests for this. I might not be able to get to it in the next couple of weeks though (kinda falling behind on some GC work), but I will create an issue in CoreFX to keep myself reminded.

[2018-03-10 01:46] danmosemsft commented on #15203
That would be great. Now that we have this, I don't want it to get broken. Ping me if you need pointers.

[2018-03-10 01:48] AndyAyersMS commented on #16585
2.0 is around 740, master and 2.1 around 780, so yep, about 6% difference. Locally I get 680 and 720 respectively which is in the right ballpark.

Codegen for 2.0 and 2.1 looks to be identical. Monte carlo is one simple loop in `integrate` with two function calls to `nextRandom`.  So it could be loop alignment but the fact that the loop has two calls makes this seem less likely.

So suspect maybe

[2018-03-10 02:13] echesakovMSFT commented on #16864
I investigated this problem which can be reproduced on any architecture supporting PDB generating (not only Windows/arm).

**Steps to reproduce:**
1. Disable fragile NGen for `S.P.C.dll` in crossgen.cpp by commenting out the following
[code]
2. `crossgen S.P.C.dll`
3. `crossgen /CreatePdb S.P.C.ni.dll`

Here are my understanding why `/CreatePdb` works for any R2R assembly but does not work for  R2

[2018-03-10 02:18] #13212 closed

[2018-03-10 02:54] GrabYourPitchforks commented on #9699
Not sure what's being requested here. Span.Clear doesn't have alignment requirements and has already gone through an optimization pass.

[2018-03-10 04:19] tannergooding commented on #16848
Resolved with #16847

[2018-03-10 04:19] #16848 closed

[2018-03-10 04:19] tannergooding commented on #16844
Sorry for the delayed response. Looking into this.

[2018-03-10 04:48] tannergooding commented on #16844
@fiigii, @CarolEidt, @sdmaclea.

Part of the issue is that we are only handling `NI_HW_INTRINSIC_START` through `NI_HW_INTRINSIC_END`, and we only define intrinsic nodes for the current ISA.

This means that, on Arm, `x86.<Isa>.IsSupported` is never handled as a constant node of 0 (and likewise for `Arm64.<Isa>.IsSupported` on x86).

This means that we end up jitting a bunch of code that should ne

[2018-03-10 04:49] tannergooding commented on #16844
That being said, the fault is probably still an issue that needs to be addressed...

[2018-03-10 05:24] fiigii commented on #16844
On ARM, mscorlib is built with `X86Isa.PlatformNotSupported.cs` files, and JIT has no idea about x86 intrinsic nodes. I think this design should work fine.

[2018-03-10 05:52] tannergooding commented on #16844
@fiigii, It doesn't look like the dead code paths are being optimized away (even in Release mode), so something needs to be fixed.

[code]

[2018-03-10 05:57] tannergooding commented on #16769
Several of the code paths which handle `Is4ByteSSE4OrAVXInstruction` aren't encoding the `id->idReg2()`.

I'm validating the fix currently and should have it up sometime tomorrow.

[2018-03-10 09:09] svick commented on #16686
I don't see any difference between F# and C# .Net Standard 2.0 library when it comes to referencing `System.Numerics.Vectors` (see below). Can you clarify what exactly did you do to observe the difference?

## C#

1. `dotnet new classlib -lang c#`
2. Add `System.Numerics.Matrix4x4 m;` field to `Class1` in Class1.cs.
3. `dotnet build` fails:

[code]
4. `dotnet add package System.Numerics.Vectors`
5

[2018-03-10 11:43] geoeo commented on #16686
The fact that I have to add the package is not documented

[2018-03-10 11:52] svick commented on #16686
Are you saying that [the API reference for `Matrix4x4`](https://docs.microsoft.com/en-us/dotnet/api/system.numerics.matrix4x4) should tell you which package it's in on which framework? If so, I agree. Here are some links about that issue: https://github.com/dotnet/designs/pull/25, https://github.com/MicrosoftDocs/feedback/issues/121, https://github.com/dotnet/docs/issues/320.

[2018-03-10 11:54] geoeo commented on #16686
Pretty much, yes.

[2018-03-10 13:08] TheLastRar opened #16880 "Don't dup stdin & stderr as this can break some std io redicection code"
Consider a program that does the follow;

Create pipes and dup2 the write fd onto stdin, stderr,
Have a thread continually read the pipes until EOF is reached (at which point the thread will terminate).
Use coreclr.
...
Restore the original stdin, stderr,
Close the write fd of pipes,
Wait for the pipe reader thread to terminate.

As coreclr dups the fd for stdin & stderr, there is still a write fd

[2018-03-10 15:23] jkotas commented on #16880
This issue was moved to dotnet/corefx#27935

[2018-03-10 15:23] #16880 closed

[2018-03-10 15:53] AndreyAkinshin opened #16881 "Provide guide for CoreCLR Performance Tests on Linux/macOS"
Currently, [performance-guidelines.md](https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/performance-guidelines.md) contains only Windows-specific information:

---

# Running the CoreCLR Performance Tests on Windows #
1. The first step to running the performance tests locally is to do a release build of CoreCLR and all of the performance tests.  You can do this with the com

[2018-03-10 16:38] jkotas commented on #16864
I think the right fix for this is to set the GeneratingPDB flag earlier: https://github.com/dotnet/coreclr/pull/16882

[2018-03-10 18:48] #16589 closed

[2018-03-11 01:01] bcronce opened #16886 "ValueTask could reuse cancelled task"
In [private Task GetTaskForValueTaskSource()](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Threading/Tasks/ValueTask.cs) and `private Task<TResult> GetTaskForValueTaskSource()`, the task returned by this method in certain cases could be made static and reused.

[code]
into
[code]

[2018-03-11 01:05] tannergooding opened #16887 "RyuJIT generates poor code for a helper method which does `return Method(value, value)`"
### Issue
For the code (where `ReturnType` and `OperandType` are value types):
[code]

RyuJIT currently has poor codegen when inlining a call to `MyMethod1` and ends up reading `value` from memory, twice.

### Example
A simple example program: [Test.cs.txt](https://github.com/dotnet/coreclr/files/1799935/Test.cs.txt)

The method `Test1` currently produces:
* [JitDisasm.Test1.txt](https://github.co

[2018-03-11 01:05] tannergooding commented on #16887
FYI. @CarolEidt, @AndyAyersMS, @dotnet/jit-contrib

[2018-03-11 01:11] tannergooding commented on #16887
Also FYI. @VSadov

[2018-03-11 02:13] jkotas commented on #16886
cc @stephentoub

[2018-03-11 02:29] #16864 closed

[2018-03-11 05:30] IlyaGrebnov opened #16889 "Idea for Dictionary<TKey, TValue> to make hash collisions be ordered by hashCode"
Dictionary<TKey, TValue> collision resolution implemented as separate chaining with TryInsert method always inserting new entry as first in the linked list. I think this is sub optimal and potentially should be better strategies. One of ideas could be making collisions list ordered by hashCode. This won't improve performance of Find/Insert methods if entry is expected to be found, but could improv

[2018-03-11 15:01] mmitche opened #16890 "Arm64 coreclr builds broken"
@sdmaclea @janvorli Can you take a look?  Seeing this:

https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1464352

[code]

[2018-03-11 16:36] jijiechen commented on #12301
Anyone who is still tracking this issue?
After having built lldb, how do I get the libsosplugin.dylib on macOS? It's not provided along with .net core runtime.

[2018-03-11 21:07] sdmaclea commented on #16890
@mmitche Looks like some of the apps necessary to cross build for aarch64 are not present in the docker image.  Maybe #16707 needs to be reverted temporarily.

[2018-03-11 21:25] sdmaclea commented on #16890
I do not see these being added to the docker image
https://github.com/dotnet/coreclr/blob/master/Documentation/building/cross-building.md#requirements-1

I will draft a change tomorrow to add them to the arm64 dockerfile.

[2018-03-11 23:38] juliuslouw opened #16891 "Compiler intrinsic '__m128' error when building clr-samples (Ubuntu/Clang 3.9)"
While porting a .NET Core profiler to Linux (specifically Ubuntu), the build fails with the following errors below. I'm able to reproduce the issue in the example hosted at [Microsoft/clr-samples](https://github.com/Microsoft/clr-samples). The sample there works out-of-the-box but starts failing immediately when a simple `#include <algorithm>` directive is added.

In file included from /usr/bin/..

[2018-03-12 00:32] sdmaclea commented on #16890
Looks like only `binutils-aarch64-linux-gnu` is missing

[2018-03-12 00:47] sdmaclea commented on #16890
Once https://github.com/dotnet/dotnet-buildtools-prereqs-docker/pull/21 merges #16707 dockertag will need to be updated.

[2018-03-12 00:59] AndyAyersMS commented on #16584
Likely method alignment.  See #16873.

[2018-03-12 04:14] jkotas opened #16892 "LinkedList_Generic_Tests_int.RemoveLast_Tests failed on Windows in CI"
_From @stephentoub on March 7, 2018 14:54_

https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/35efdbdc1e25f83f216064482479e555425ce3a0/workItem/System.Collections.Tests/analysis/xunit/System.Collections.Tests.LinkedList_Generic_Tests_int~2FRemoveLast_Tests
[code]

_Copied from original issue: dotnet/corefx#27817_

[2018-03-12 04:14] jkotas commented on #16892
_From @danmosemsft on March 7, 2018 16:27_

That's a little worrying. The implementation and tests have not changed in some time, and there should be no concurrency involved.

Next steps might be more asserts in the test, and a better visualization of LinkedListNode in the failure case. See https://github.com/xunit/assert.xunit/blob/master/Sdk/ArgumentFormatter.cs#L148

[2018-03-12 04:14] jkotas commented on #16892
_From @danmosemsft on March 7, 2018 18:43_

@jkotas would it be a reach to suspect a runtime issue? any other theory?

[2018-03-12 04:14] jkotas commented on #16892
Memory corruption or GC hole. Running the tests on checked runtime, with GCStress enabled, may be useful.

[2018-03-12 04:14] jkotas commented on #16892
_From @stephentoub on March 10, 2018 16:22_

Another linked list test failure on Windows... different test, similar symptom:
https://mc.dot.net/#/user/stephentoub/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/83f3502519d25134909e6fbbb9b2c91d9ea902ba/workItem/System.Collections.Tests/analysis/xunit/System.Collections.Tests.LinkedList_Generic_Tests_string~2FAddBefore_LLNode_L

[2018-03-12 04:14] jkotas commented on #16892
This is JIT bug. Bad GCInfo in VerifyState method. The complete dump of GCInfo for this method is at: https://gist.github.com/jkotas/5e4097a81e96ca5aedb17b076f7b5ee

The bad GCInfo is in this fragment. `-sp+28` and `-sp+20` at 000002b7 is wrong. The arguments living at these location had to be protected till the call at 000002cb.

[code]

[2018-03-12 04:17] jkotas commented on #16892
cc @dotnet/jit-contrib JIT is generating bad GCInfo that is causing intermittent test failures in CoreFX CI.

[2018-03-12 15:38] #16769 closed

[2018-03-12 15:39] AndyAyersMS commented on #16584
Also this general issue (which impacts many benchmarks) is being tracked via #11657.

[2018-03-12 15:41] tannergooding commented on #16844
@CarolEidt, would you know why the `get_IsSupported` call (which is implemented as `public static bool IsSupported { get { return false; }}`) isn't getting treated as a constant?

[2018-03-12 15:47] tannergooding commented on #16370
Wonder if this is related to https://github.com/dotnet/coreclr/issues/16892

[2018-03-12 15:48] AndyAyersMS commented on #16605
@DrewScoggins can you please describe the regressions in a bit more detail -- we might want to investigate these as there is still some time to fix things in 2.1.

Some improvement in span perf was expected, mainly from #10453 and #11521. It would be good to know if anything else played a role.

[2018-03-12 15:49] jcagme opened #16893 "coreclr/master: The C compiler "/usr/bin/clang-3.9" is not able to compile a simple test program"
@dotnet-mc-bot commented on [Mon Mar 12 2018](https://github.com/dotnet/core-eng/issues/2881)

Opened on behalf of @jcagme

Warnings: 4
Status Message: failed

Build : Master - 20180311.06 (Product Build)
Failing configurations:
- Linux
  - PortableCrossBuild-Checked-arm64
  - PortableCrossBuild-Debug-arm64
  - PortableCrossBuild-Release-arm64
[Mission Control Build Info](https://mc.dot.net/#/prod

[2018-03-12 15:52] AndyAyersMS commented on #12388
@adiaaida is this something you're going to look into anytime soon?

If not, do you have any data showing this happening on larger assemblies? If only tiny assemblies were impacted then I'd suggest we just close this one out.

[2018-03-12 15:52] CarolEidt commented on #16844
I would assume that isn't being inlined. It seems like they ought to be easy candidates for inlining, so I'd have to look at the jitdump or debug it to see why they're not, but I'm not sure why we wouldn't mark these with `[MethodImpl(MethodImplOptions.AggressiveInlining)]` just to be sure. I'm pretty sure that if the inliner has already done a bunch of inlining it will just stop.

[2018-03-12 16:02] #16578 closed

[2018-03-12 16:21] tannergooding commented on #16844
It definitely wasn't this. I had tested with a minimal repro and still saw it fail.

Will check the jit dump.

[2018-03-12 16:32] tannergooding commented on #16844
Hmmm, as of the latest master, it looks to be getting inlined properly. Maybe my machine was in a bad state last time I checked....

[2018-03-12 17:08] AndyAyersMS commented on #16579
Should also be fixed by #16877.

[2018-03-12 17:08] #16579 closed

[2018-03-12 17:30] luqunl commented on #16804
I am working on fixing this issue.

[2018-03-12 17:46] tannergooding commented on #16887
@CarolEidt, @AndyAyersMS.

Does this seem like something that is feasible for the JIT to do, or does it fall into the realm of changing observable side-effects?

[2018-03-12 18:24] DrewScoggins commented on #16605
I have not done an initial triage here, just gone through the results and saw that we had some movement on the benchmarks. I can try and take a first cut at this, but it would likely not be until the end of the week.

[2018-03-12 18:27] AndyAyersMS commented on #16887
If we inline and expose a full web of inter-related structs then we can safely eliminate copies.

For small structs we do that today via promotion. Current heuristic (see `lvShouldPromoteStructVar`) is to aggressively promote structs with 3 or fewer fields. We'll promote larger structs only if we see particular fields being used. This rules out promotion of larger structs in cases where structs ar

[2018-03-12 19:01] AndyAyersMS commented on #16585
Deeper analysis blocked as vtune and recent Windows OS updates are not playing nicely together.

Given that the jit codegen is identical in 2.0 and 2.1, anything we find here would not be a 2.1 issue. So I am going to push this into future.

[2018-03-12 19:02] AndyAyersMS commented on #16610
Will investigate.

[2018-03-12 19:14] sdmaclea commented on #16844
FWIW on more recent tip 4e332945, these are all failing in `gcStress=1`,`gcStress=2`,`gcStress=4`,and `gcStress=8`
[code]

[2018-03-12 19:17] tannergooding commented on #16844
This is probably the same issue as https://github.com/dotnet/coreclr/issues/16370

Based on my initial analysis, this had nothing to do with Hardware Intrinsics and was a more general issue.

It may actually be related to https://github.com/dotnet/coreclr/issues/16892

[2018-03-12 19:20] sdmaclea commented on #16893
This is a duplicate of #16890

[2018-03-12 19:20] sdmaclea commented on #16893
proposed fix is #16896

[2018-03-12 19:25] #16886 closed

[2018-03-12 19:36] sdmaclea commented on #16491
More recent builds have failed with issues related to GC holes with Generic Lists possibly similar to #16892

[2018-03-12 19:42] #16890 closed

[2018-03-12 20:01] sdmaclea opened #16898 "[Arm64/Ubuntu] genericcontext failing gcStress!=0"
Test added in #16690 is failing in all gcStress modes

@A-And FYI

[2018-03-12 20:18] sdmaclea commented on #16898
[code]

[2018-03-12 20:39] jcagme commented on #16893
Closing in favor of #16890

[2018-03-12 20:39] #16893 closed

[2018-03-12 21:36] tannergooding commented on #16887
@AndyAyersMS, changing `lvaShouldPromoteStructVar` to have a threshold of 4 does indeed fix the issue for `Test1` (and it ultimately generates identical code to `Test3`).

However, `Test2` actually produces the same codegen as before (the JIT Dump does indicate promotion is happening). This was somewhat surprising to me, since `Test1` is a bit more complicated and ultimately does the same thing as

[2018-03-12 21:39] MichalStrehovsky commented on #16898
@A-And Could you mark the test as GCStressIncompatible (like I had to do here #16507) to get it off the radar. We can keep the issue open for tracking. Hopefully, it's the same underlying issue as e.g. #16376, but I stopped being optimistic about this feature.

[2018-03-12 21:52] AndyAyersMS commented on #16610
For x86, I see 2.0 at about 1060, 2.1 at 1068. So maybe 1% slower.

For x64, I see 2.0 at 714, 2.1 at 714.

So I don't see any regression here.

@jorive can you double-check what you saw?

[2018-03-12 21:53] AndyAyersMS commented on #16610
Oops, I was looking at SciMark's LU. Hold on a sec.

[2018-03-12 22:15] AndyAyersMS commented on #16610
Ok, for Bytemark LU, x86: 2.0 is around 2000, 2.1 is noisy but somewhere between 2060 and 2110.

History is interesting here -- both master and 2.0 show a large impact from a CSE bug fix: #15323 / #15360 respectively. master has a couple of later smaller regressions that look to be harder to pin down.

Here's master:

![image](https://user-images.githubusercontent.com/10121823/37311798-f1438bfc-26

[2018-03-12 22:27] mmitche opened #16900 "Arm64 official builds broken"
@janvorli  @sdmaclea The arm64 builds appear to still be broken, though the errors is different than before.  Can you take a look?

[code]

https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1468025

[2018-03-12 22:31] AndyAyersMS commented on #16887
Hmm, I'd have to look deeper, but here's what I saw based on quick scan:

There is a second promotion heuristic for implicit by-ref structs that might possibly be holding up `Test2`. In `fgRetypeImplicitByRefArgs` we can "undo" an implicit by-ref arg promotion for structs whose ref count is less than their field count. This seems to be blocking or undoing promotion of V00. So we end up with two co

[2018-03-12 22:47] sandreenko commented on #13476
I checked that debug/checked ji32 also hits this assert in the importer;
Changing assert  to `noway_assert` doesn't change the behavior, it passes release without any messages and fails in checked/debug.
And because invalid IL may result in "undefined behavior" I close this issue as "not a bug".

Thanks @mikedn for the analysis.

[2018-03-12 22:47] #13476 closed

[2018-03-12 23:00] brianrob commented on #15693
@stevehayles would you be able to capture a call stack under the debugger when the app hangs?

[2018-03-12 23:12] brianrob commented on #14993
@aarcarons I've not been able to reproduce what you're seeing.  Are you able to see if this still repros with the latest 2.1 builds?

[2018-03-13 00:14] AndyAyersMS commented on #16610
Time is spent in `ludcmp`. This is a large method with 9 loops, including a few nested loops. In both 2.0 and 2.1 the jit decides to clone 8 of the loops, with a huge amount of code duplication. This makes perf analysis a bit more challenging as it is harder to tell from just diffs which versions of the loops execute.

Some experimentation shows cloning hurts perf quite a bit too (locally, in mast

[2018-03-13 00:26] tannergooding commented on #16887
@AndyAyersMS, it is definitely the `undoPromotion` check.

I modified the method locally to print some additional information about the decision it makes here:
[code]

I'm not quite sure what the proper heuristic here is. However, I would speculate that `refs = 2` is the most common case, and that it is used to support binary operations, so perhaps changing the heurisitic to the following would wo

[2018-03-13 00:35] AndyAyersMS commented on #16887
The general promotion logic was last touched in #9455 where we bumped the limit for fieldless promotions from 2 to 3.

There are some notes on the byref promotion heuristic in #13097. Basically we are trying to weigh the always-paid cost of the initial copy from the byref to a local vs the potential benefits at the use sites.

[2018-03-13 00:35] brianrob commented on #11993
Inlining this function did not make any discernible difference in trace write time.

[2018-03-13 00:35] #11993 closed

[2018-03-13 01:24] AndyAyersMS commented on #16610
Backing out the changes from #15323 gets me to around 1470 locally in master. Will look at diffs and see if we were cheating before or we lost a good optimization somehow.

[2018-03-13 02:34] sdmaclea commented on #16900
The failing command is something like this
`/usr/bin/clang-3.9 -Wall -std=c11 -target aarch64-linux-gnu -B /crossrootfs/arm64/usr/lib/gcc/aarch64-linux-gnu -L/crossrootfs/arm64/lib/aarch64-linux-gnu --sysroot=/crossrootfs/arm64 hw.c -o hw.arm64 -rdynamic`

I get similar errors when the rootfs is not present at `/crossrootfs/arm64`

I'll try to figure out how to load the docker tag and see if I can

[2018-03-13 03:13] tannergooding commented on #16887
Looks like increasing the fieldCount to 4 is definitely not profitable overall.
Changing the `undoPromotion` logic to exclude `refCnt <= 2` might be profitable

### Both Optimizations

Corelib
[code]

Tests
[code]

### Just increasing fieldCount to 4

Corelib
[code]

Tests
[code]

### Just undoPromotion logic change

Corelib
[code]

Tests
[code]

[2018-03-13 03:14] sdmaclea commented on #16900
From the docker build logs https://ci.dot.net/job/dotnet_dotnet-buildtools-prereqs-docker/view/Official%20Builds/job/master/job/ubuntu_16_prtest/11/console
[code]
The rootfs build failed.

[2018-03-13 03:37] sdmaclea commented on #16900
Looks like "arm" and "arm64" rootfs images are failed to build in every log.

[2018-03-13 09:09] janvorli commented on #16900
I can see many failures to mount binfmt_misc filesystem in the log. I wonder if that's related to the issue.
[code]

[2018-03-13 09:09] xenocons commented on #5612
I have noticed this issue when running netcore code along side mono:

[code]
The above code takes 6 seconds on my PC with 2.1.300-preview1-008174, and 370 milliseconds on mono. Interestingly, when I change my LANG to en-US, it takes 7 seconds (my default is en_AU.UTF-8).

The fix as mentioned above is to add Ordinal as the string comparison option:

`if (x.StartsWith("notlong/",StringComparison.Or

[2018-03-13 13:39] hpbieker opened #16906 "Process keeps getting killed for violating docker cgroup mem constraint with server GC"
When running the small program below with the environment variable COMPlus_gcServer=1 and a memory constraint on 90M, it keeps getting killed by the kernel because it is violating the cgroup memory constraint. When running with COMPlus_gcServer=0, it works fine. It looks to me like the server GC tries to match the cgroup memory limit, but misses by a few pages (unmanaged or kernel memory?) for som

[2018-03-13 14:07] hpbieker commented on #16906
A similar, but very simple, case would be to run the following code in docker with a 11 MB memory constraint:
[code]

It also gets killed because the cgroup runs out of memory in GC Server mode:
[code]

[2018-03-13 14:57] mmitche commented on #16900
@sdmaclea Do you know what dotnet-buildtools-prereqs-docker sha generated a correct image?  We may be able to rerun and diff the logs.

[2018-03-13 15:43] RussKeldorph opened #16908 "Official build break: gc.cpp(1827): warning C4800: 'BOOL': forcing value to bool 'true' or 'false' (performance warning)"
(https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1470600)

Suspect related to 8edb3ef2529cc0beb0c034482fdb32fa4c95c606

[code]

I suspect this would be resolved when the official builds switch to VS2017, but we're not quite there yet.

@davmason @dotnet/dotnet-diag

[2018-03-13 16:19] jcagme commented on #16890
What's the current status on the fix? Builds are still failing due to this.

[2018-03-13 16:22] sdmaclea commented on #16890
#16900 was opened.  Looks like the arm64 and arm docker images are not being built correctly.

[2018-03-13 16:27] jcagme commented on #15720
Three more hits this morning:
https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1470603
https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1470602
https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1470600

[2018-03-13 16:29] dotnet-mc-bot opened #16911 "error C2220: warning treated as error - no 'object' file generated (compiling source file E:\A\_work\2129\s\src\gc\gcwks.cpp)"
Opened on behalf of @jcagme

Warnings: 1
Status Message: failed

Build : Master - 20180313.04 (Product Build)
Failing configurations:
- Windows
  - PortableBuild-Release-arm64
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/build~2Fproduct~2F/build/20180313.04/workItem/Orchestration/analysis/external/Link)

[2018-03-13 16:29] sdmaclea commented on #16900
The current arm pipeline build is using ubuntu-14.04-cross-0cd4667-20170319080304.  That should correspond to a sha of 0cd4667.  Unfortunately it is 10 months before the initial commit in the public repository.

The earliest logs are from build 5 which failed on both "arm" and "arm64" on Unbuntu 16.04.  I'll take a look at the 14.04 builds.

[2018-03-13 16:35] sdmaclea commented on #16900
The earliest 14.04 log has the same issue.  https://ci.dot.net/job/dotnet_dotnet-buildtools-prereqs-docker/view/Official%20Builds/job/master/job/ubuntu_14_prtest/5/console

[code]

[2018-03-13 17:02] sdmaclea commented on #16900
Looks like @janvorli is right those binfmt errors are problematic.

http://neophob.com/2014/10/run-arm-binaries-in-your-docker-container-using-boot2docker/

[2018-03-13 17:13] #16176 closed

[2018-03-13 17:26] RussKeldorph commented on #16911
Duplicate of #16908.

[2018-03-13 17:26] #16911 closed

[2018-03-13 17:32] AndyAyersMS commented on #12836
The bytemark `ludcmp` case is particularly instructive.

Loop cloning looks like it runs in lexical order of loops, which generally means preorder over the loop nesting tree. In `ludcmp` we have 9 loops total with the following sort of nesting structure:
[code]
because of top-down cloning we end up with 2 copies of each top level loop body, 3 copies of each nested loop, and 4 copies of each doubly

[2018-03-13 17:43] kouvel opened #16912 "Named mutex creation fails in docker where /tmp is mapped to the host"
See https://github.com/dotnet/roslyn/issues/24124.

[code]

[2018-03-13 17:46] albigi commented on #16106
We are seeing a very similar situation in a Service Fabric cluster. Each node runs several apps (ASP.NET Core APIs) relying on Kestrel. When the cluster nodes are brought live with several thousands of users hitting them, we observe a constant memory increase within all the APIs. The node will eventually become almost unresponsive as all the physical memory is used and the paging file almost doubl

[2018-03-13 17:56] jashook commented on #16900
@RussKeldorph changing the milestone to release/2.1 because this will effect arm build as well.

[2018-03-13 17:57] briansull commented on #16892
Is there a link to the source code or binary of the test case anywhere?

[2018-03-13 18:02] benaadams commented on #16106
Related "Way to increase x64 GC aggressiveness? (as per x86)" https://github.com/dotnet/coreclr/issues/11338

[2018-03-13 18:05] briansull commented on #15906
I am not able to create a repro for this:
I am blocked on the first step.

1.  Install engenious via nuget or wrote your own packed Vector3 or use a other packed Vector3

[2018-03-13 18:07] jkotas commented on #16892
@briansull https://github.com/dotnet/corefx/blob/master/src/System.Collections/tests/Generic/LinkedList/LinkedList.Generic.Tests.cs#L83

[2018-03-13 18:56] #16833 closed

[2018-03-13 19:14] AndyAyersMS commented on #16610
Still not super-confident I understand why the newer version is slower. Inner loops look pretty comparable with one exception. I think this is the clone version of the first deeply nested loop:
[code]
In the after version the loop body is disconnected and there is a spill restore from `[ebp-38H]`. So this may be why the test is now running slower.
[code]
This method is probably a good stress test

[2018-03-13 19:24] A-And commented on #16898
@MichalStrehovsky Thanks. Will do.

[2018-03-13 19:45] davmason commented on #16908
Fixed in #16914

[2018-03-13 19:45] #16908 closed

[2018-03-13 20:08] adiaaida commented on #16908
Thanks for this fix. This was also failing on the perf runs since the perf machines only have VS2015 on them.

[2018-03-13 20:12] Gallimathias commented on #15906
What's the problem? Can't you build your own packed Vector? @briansull

[2018-03-13 20:21] hpbieker commented on #16906
The log below show some real life dotnet docker container (with different memory limits) running in Docker swarm being killed because of cgroup viloation. I suspect that something like cache is a part of the cgroup limit, but that dotnet does not account for any cache when calculating the target heap size for server GC.
[code]

[2018-03-13 20:46] lt72 commented on #14926
We will move this back to 2.1 if we have time. Currently this does not fit in our planning.

[2018-03-13 21:36] adiaaida opened #16920 "GenerateLayoutOnly fails after build.cmd -skiptests"
When we try to run tests\runtests.cmd GenerateLayoutOnly after building with the -skiptests option, the script fails with the following error:

C:\coreclr\tests\publishdependency.targets(49,5): error : Lock file C:\coreclr\tests\src\Common\test_runtime\obj\project.assets.json couldn't be found. Run a NuGet package restore to generate this file. [C:\coreclr\tests\runtest.proj]

This scenario should

[2018-03-13 21:39] BruceForstall commented on #16920
Related: https://github.com/dotnet/coreclr/pull/15673

[2018-03-13 22:13] briansull commented on #15906
No I haven't ever done that

[2018-03-13 22:46] TyOverby opened #16922 "Bundle libsos with coreclr builds for the dotnet cli"
I'm trying to use lldb/libsos to debug a dotnet core application, but the [instructions](https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md) ask me to build llvm, lldb, and presumably coreclr from scratch.

Would it be possible to package the correct version of libsos with dotnet cli installations?

[2018-03-13 22:58] AndyAyersMS commented on #16610
Looking at the impact of #15323, while jitting 'ludcmp', the jit no longer remove some useless statements during CSE (as expected):
[code]
These statements all seem to sit in blocks that are on critical edges, eg BB119 below:
[code]
So these blocks and statements hang around a while.

But the dead statements eventually get removed and the flowgraph gets compacted back into the same shape. However

[2018-03-14 00:26] Petermarcu opened #16925 "Secondary AppDomains are not supported on this platform"
@euroUK commented on [Tue Mar 13 2018](https://github.com/dotnet/core/issues/1339)

#  Secondary AppDomains are not supported on this platform

# General
Just checked .Net Core 2.1 - preview, still  Secondary AppDomains are not supported on this platform.

Are there any plans to implement this in near future? There are still no way to unload assembly from application.

---

@svick commented on [Tu

[2018-03-14 01:35] noahfalk commented on #11580
There hasn't been any activity here in a long time so I am going to close the issue. We can reopen if needed. Next steps appeared to be getting more details about the code being run, ideally a small app that can reproduce the problem.

[2018-03-14 01:35] #11580 closed

[2018-03-14 02:14] bording commented on #15189
@jkotas @janvorli Any update on when this might be investigated more?

[2018-03-14 03:12] AndyAyersMS commented on #16610
Added a call to `fgRenumberBlocks` if liveness leads to a modified flow graph.

This puts `ludcmp` codegen back to where it was before #15323. Seems like a wash in general. Will see if  can get a private perf run for this.

jit-diffs results for x86:
[code]

[2018-03-14 05:48] briansull commented on #16873
FYI: There might be subtle reasons for some of these choices such as "we 16 byte align small methods" on x86.

[2018-03-14 07:20] 4creators commented on #16061
Next appearance:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_ubuntu_jitx86hwintrinsicnoavx2_flow_prtest/188/

[code]

[2018-03-14 08:56] jvbsl commented on #15906
https://hastebin.com/ebegimomaf.cpp

apart from that this is actually a duplicate, as the other thread got moved over from roslyn repository to here
https://github.com/dotnet/coreclr/issues/16068

[2018-03-14 12:39] ygc369 opened #16931 "Proposal: provide events before and after GC"
Sometimes I want to do something before and/or after GC, but there's no way to do it now.
That's very disappointing, please trigger events before and after GC, thus developers could subscribe them and do what they want to do in event handlers once these events happen. The event arguments should include GC generation at least.

What people want to do before/after GC is usually something about objec

[2018-03-14 13:41] Vatsi opened #16932 "ASP.Net Core Web API with Full Framework does not deploy as FDD"
Hi,
 I recently created ASP.Net Core Web API with the full framework as I wanted to use my existing .net Framework binaries and SAML 2.0 authentication.

 My project file looks like following.

`<PropertyGroup>`
    `<TargetFramework>net462</TargetFramework>`
 ` </PropertyGroup>`

  `<PropertyGroup>`
    `<AssemblySearchPaths>$(AssemblySearchPaths);{GAC}</AssemblySearchPaths>`
  `</PropertyGroup>`

[2018-03-14 14:23] sdmaclea opened #16933 "[Arm64/Ubuntu] Test16833.sh seg fault."
`Regressions/coreclr/GitHub_16833/Test16833/Test16833.sh`
This new test is failing with a segmentation fault on arm64 Ubuntu.

There is no console output.
The last function to JIT is `TestShufflingThunk.TestClass:Test6MRB(int,int,int,int,int,struct,double,double,double,double,double,double,double,double,double,double):struct:this`

The seg fault occurs with a bogus address in the `JIT_WriteBarrier

[2018-03-14 15:33] Maoni0 commented on #16906
what happens if you set COMPlus_gcConcurrent=0?

[2018-03-14 15:42] janvorli commented on #16786
@luqunl please let me know if you need any help with this - the C/C++ UTF8 encoder/decoder code is in PAL (https://github.com/dotnet/coreclr/blob/master/src/pal/src/locale/utf8.cpp) and I have reviewed / helped with the implementation in the past.

[2018-03-14 16:35] janvorli commented on #16933
The Test6MRB tests invocation of a delegate set to an instance method and returning a large struct containing three longs. This is the last test of the whole suite and so if there is no console output, the other tests have passed There is another test called Test6M which differs only in the return value of the delegate (string instead of this struct).
Do you happen to have a call stack at the time

[2018-03-14 16:50] sdmaclea commented on #16933
The backtrace is not great
`
#0  0x0000ffffb73f9560 in JIT_CheckedWriteBarrier () from /home/sdmaclea/coreoverlay/libcoreclr.so
#1  0x0000ffff3ee373c0 in ?? ()
`

I will try to get more info manually

[2018-03-14 16:57] RussKeldorph commented on #16932
@Vatsi I suspect you would be more likely to get an answer at https://github.com/aspnet/Home/.  Have you tried there?

[2018-03-14 17:11] sdmaclea commented on #16933
[code]

[2018-03-14 17:15] sdmaclea commented on #16933
The perf map has these addresses
[code]

[2018-03-14 17:20] sdmaclea commented on #16933
So frame #1 is in `TestShufflingThunk.TestClass::Test6MRB`

[2018-03-14 17:25] Maoni0 commented on #16106
you are doing gen2's based on the perf counter value. of course the perf counter gen2 collection value just doesn't tell if it's a blocking gen2 or background. you can tell by looking at the total committed bytes right after a gen2 - if it drops a lot it means you are doing blocking gen2s and if you are, it simply means you just have that much memory that needs to be kept alive unless your finaliz

[2018-03-14 17:31] sdmaclea commented on #16933
[code]

[2018-03-14 17:32] sdmaclea commented on #16933
The `LR` is the instruction after `bl      CORINFO_HELP_CHECKED_ASSIGN_REF` at the end of `IG05`

[2018-03-14 17:36] sdmaclea commented on #16933
The seg fault occurs because x14 is corrupt

[code]
[code]

[2018-03-14 17:41] mikem8361 commented on #16922
Are you talking about MacOS? Because that is the only platform that requires building lldb so libsosplugin.dylib can be built in the coreclr repo.  libsos.dylib (the actual/core part of sos) is already built.

If it is a Linux platform, then the cli installs contain the libsosplugin.so that works with lldb 3.9 and of course libsos.so is also include.

The problem on MacOS is that libs/include file

[2018-03-14 17:44] sdmaclea commented on #16933
The struct return buffer is supposed to be passed in `x8`, which is copied to `x19` near the beginning of the function, then to `x14` before the barrier.

`x19` is callee preserved, so it should survive the duration of the function.

I'll check gcInfo.

[2018-03-14 18:07] sdmaclea commented on #16933
gcInfo is totally corrupted.  Slot 0 should not go dead until at least 0x2f8
[code]

[2018-03-14 18:07] sdmaclea commented on #16933
@dotnet/jit-contrib Who can help with bad gcInfo? See above

[2018-03-14 18:12] briansull commented on #16933
Slot 0 does go dead at 0x2f8,  GCInfo will also report slots going dead if the item can not longer be referenced at the start of a block on a code path.  So if you have early exit return block you would see things going dead when you reach the block that leads to the early return.

[2018-03-14 18:13] briansull commented on #16933
A Shuffle thunk is a likely place that register could get corrupted.  I would investigate that area.

[2018-03-14 18:14] sdmaclea commented on #16933
@briansull So why is it marked dead at 0x6c, 0x80 ...

[2018-03-14 18:16] briansull commented on #16933
That is a good question.  The GC info does look very strange with all of those transitions to dead and then back to live.

[2018-03-14 18:17] briansull commented on #16933
It is hard to see what instructions are being reference because the Assembly code doesn't have any offset displayed.

[2018-03-14 18:22] AndyAyersMS commented on #12438
Might be more we could do here but the Range data structure is fundamental so it would require careful thought. Moving to future.

[2018-03-14 18:23] AndyAyersMS commented on #16362
Hopefully we get to this soon after 2.1 is done.

[2018-03-14 18:31] AndyAyersMS commented on #16920
You can force an explicit restore via something like:
[code]
So a plausible sequence for focused testing (starting from a clean enlistment):
[code]

[2018-03-14 18:33] AndyAyersMS commented on #16601
Any progress?

[2018-03-14 18:33] AndyAyersMS commented on #16602
Any progress?

[2018-03-14 18:34] sdmaclea commented on #16933
@briansull Is there a trick to get an offset displayed?  I am always forced to count manually in a debugger.

In this case the list of call sites seems to be very helpful.

The slot 0 transition to live seems to occur at each of the call sites.
The slot 0 transition to dead seems to be after each of the call sites.

Neither makes any sense as these are callee preserved registers.

It should go liv

[2018-03-14 18:35] briansull commented on #16933
I added some offset to the assembly to see what is going on:
It looks like  x19 keeps getting killed by some of the JIT helper calls.
I'm not sure why that would happen.
You probably have to step through this code in a debugger to find out why.