[2016-10-17 23:00] thinktainer commented on #917
Not yet, planning to look at this tomorrow.

Sent from my iPad

[2016-10-17 23:01] RussKeldorph commented on #7678
@dotnet/coreclr-contrib @dotnet/jit-contrib

[2016-10-17 23:01] RussKeldorph commented on #7678
@mmitche

[2016-10-17 23:05] jashook commented on #7678
Is it worth disabling this error reporting via modifying a registry setting?

[2016-10-17 23:09] hadibrais commented on #7674
Which location?

Yep. It doesn't work. Here is sample output when using this switch:

[code]
Notice that there seems to be two different errors: `Unable to resolve 'Microsoft.DotNet.BuildTools...` and `The HTTP request to...has timed out after 100000ms`.

[2016-10-17 23:14] RussKeldorph commented on #7678
@jashook Are you saying there's already a registry setting to suppress it?  If so, which?  In any case, relying on ambient machine state being set or making the automation set (and restore?) it is also less than ideal IMO.

[2016-10-17 23:15] mellinoe commented on #917
@thinktainer  Corefx and coreclr now both have changes in master which facilitate the build on alpine 3.4.3. Our official builds are going to be using a docker image generated from [this Dockerfile](https://github.com/mellinoe/bootstrap/blob/master/dockerfiles/alpine/Dockerfile). You can give that a try, if you'd like. Note that this is still a small subset of the full work that needs to be done t

[2016-10-17 23:16] BruceForstall commented on #7678
pop-up blocker :-(

I've come to believe it's virtually impossible to block all the pop-ups that want to appear.

[2016-10-17 23:19] jashook commented on #7678
I never got around to testing some of the stuff I found when I looked into this problem for arm64. However, there seem to be several examples of suppressing error dialogs around using registry keys. A simple search should give a fair amount of content.

Once again I haven't verified them, just curious if it would be considered an acceptable solution.

[2016-10-17 23:26] alexperovich opened #7679 "Test JIT/Regression/VS-ia64-JIT/V2.0-RTM/b539509/b539509/b539509.sh fails intermittently"
The test JIT/Regression/VS-ia64-JIT/V2.0-RTM/b539509/b539509/b539509.sh fails occasionally on CI on the Linux ARM emulator.
Run here: https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_emulator_cross_debug_ubuntu_prtest/1033/

Console:

[2016-10-17 23:57] wtgodbe opened #7680 "Refactor build-against-packages targets in publishdependency.targets to be parameterized"
Starting here https://github.com/dotnet/coreclr/blob/master/tests/publishdependency.targets#L93 - these share similar logic & should be parameterized.

[2016-10-18 00:15] kuncevic commented on #7535
Might be related to this one https://github.com/dotnet/cli/issues/3421

[2016-10-18 00:32] janvorli commented on #7674
@hadibrais could you also give us the output of the following command?
`curl --version`
We recently had a similar problem on Fedora 24 where the curl library was using nss for https traffic.

[2016-10-18 00:42] janvorli commented on #7678
I also got hit by the flood of assert dialogs several times during my local testing. I have made a change that was incorrect, the assert started to fire for all the tests and I got a lot of the assert dialogs on my screen.
I think that we might want to add check for that `COMPlus_NoGuiOnAssert` variable to the `DebuggerAssert::ShowDefaultAssertDialog` and return `FailTerminate` if it is set.

[2016-10-18 02:31] sjsinju commented on #7679
I think the same issue as #6298

[2016-10-18 03:50] stephentoub opened #7685 "Corrupt data in struct passed to method via reflection on Unix"
Repro:
[code]
On CentOS and Ubuntu, this outputs various forms of:
[code]
with the reflection-based call getting garbage for two of the floats in the struct.

I got the above repro using the 1.0.1 release, but I started looking into it because of a CI failure in a new test I was adding on top of the latest coreclr pulled into corefx. (The issue that was happening in CI was only happening on CentOS

[2016-10-18 03:55] #7671 closed

[2016-10-18 04:14] danmosemsft commented on #7635
Issue moved to [dotnet/corefx #12746](https://github.com/dotnet/corefx/issues/12746) via [**ZenHub**](https://www.zenhub.com/)

[2016-10-18 04:14] #7635 closed

[2016-10-18 04:15] danmosemsft commented on #7635
We track issues in the managed code in the corefx repo even if the implementation actually resides in the coreclr repo. (I should have mentioned that)

[2016-10-18 04:22] cmckinsey commented on #7685
@stephentoub smells like ABI issue. this is on x64?

[2016-10-18 09:01] lucenticus opened #7687 "[Linux] [GDB-JIT] breakpoint set command doesn't work"
Setting breakpoint using GDB JIT interface doesn't work with latest CoreCLR. The main issue that SymbolReader failed with incorrect dll dependencies, but it doesn't tell any error messages about this issue. @mikem8361, do we really need empty `catch` blocks in SymbolReader? Probably, we should print some error message?
I comment out empty `catch` blocks and I found that SOS.NETCore.dll generates e

[2016-10-18 10:08] janvorli commented on #7685
Let me dig into that.

[2016-10-18 10:43] tannergooding opened #7689 "Provide the appropriate intrinsic implementations for specific single-precision math functions"
PR #5492 implemented dotnet/corefx#1151, by providing scalar single-precision floating-point support for many of the trigonometric, logarithmic, and other common mathematical functions.

However, there is still the additional work that needs to be done where the new intrinsics are properly plumbed through the `ValueNumStore`.

PR #5492 has some details on what needs to be done here, but essentiall

[2016-10-18 10:46] tannergooding opened #7690 "Provide a set of unit tests over the new single-precision math APIs"
PR #5492 implemented dotnet/corefx#1151, by providing scalar single-precision floating-point support for many of the trigonometric, logarithmic, and other common mathematical functions.

However, there is still the additional work that needs to be done to provide a full set of unit tests over the new single-precision math APIs.

This work is partially blocked on https://github.com/dotnet/corefx/pu

[2016-10-18 10:47] tannergooding opened #7691 "Provide a set of performance tests over the new single-precision math APIs"
PR #5492 implemented dotnet/corefx#1151, by providing scalar single-precision floating-point support for many of the trigonometric, logarithmic, and other common mathematical functions.

However, there is still the additional work that needs to be done to provide a full set performance tests over the new single-precision math APIs.

This work is partially blocked on dotnet/corefx#12183 being merge

[2016-10-18 10:47] tannergooding commented on #7691
I am self-assigning these for the time being and am going to work on getting these completed.

[2016-10-18 10:48] tannergooding commented on #7690
I am self-assigning these for the time being and am going to work on getting these completed.

[2016-10-18 10:48] tannergooding commented on #7689
I am self-assigning these for the time being and am going to work on getting these completed.

[2016-10-18 11:06] hadibrais commented on #7674
@janvorli

[code]

[2016-10-18 11:17] stephentoub commented on #7685
Yup

[2016-10-18 13:01] janvorli commented on #7685
It is really a bug in copying float args to the transition frame in the runtime. It happens when a struct uses two xmm registers. The offset to the next floating point register in the transition frame is shifted by 8 instead of by 16. I have fixed the same issue in the runtime for passing floating point arguments about a year ago, but obviously haven't realized that we have it at this other place.

[2016-10-18 13:30] janvorli commented on #7674
@hadibrais thank you. So this one is not using NSS, but rather GnuTLS. I have just verified that I have exactly the same curl version in my Ubuntu 16.04 docker container and the restore works fine, so it seems the problem is likely not due to the libcurl.
Can you also tell me what it the hardware configuration of your machine? I am interested in how many processor cores and how much memory you hav

[2016-10-18 13:42] stephentoub commented on #7685
Thanks, @janvorli.

[2016-10-18 14:04] hadibrais commented on #7674
@janvorli I have 16 GB of main memory and 8 logical cores. If you like, I can enable you to remotely access my machine using TeamViewer or whatever.

[2016-10-18 14:22] pgavlin opened #7692 "RyuJIT/x86: 6 test timeouts under GCStress=0xc, ZapDisable=1, HeapVerify=1"
See e.g. https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_ryujit_checked_windows_nt_gcstress0xc_zapdisable_heapverify1/8/

We should consider disabling these tests after ensuring that the timeouts are benign.

[2016-10-18 14:23] janvorli commented on #7674
@hadibrais I was just wondering if you could have something low spec or a VM with a single core or something like that. So this is obviously not the case.
I haven't noticed before that you've mentioned you are behind a web proxy. Let me try to use a proxy on my ubuntu to see if it is related.

[2016-10-18 14:25] pgavlin opened #7693 "RyuJIT/x86: GC/API/GC/GetGenerationWR2 fails with GCStress=0xC"
e.g. https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_ryujit_checked_windows_nt_gcstress0x3/8/

[code]

[2016-10-18 14:28] pgavlin opened #7694 "RyuJIT/x86: JIT/Methodical/NaN/r4NaNdiv_cs_do fails under GCStress=0xC"
e.g. https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_ryujit_checked_windows_nt_gcstress0xc/9/console

[code]

Looks like it may be an infrastructural issue. @swaroop-sridhar, any idea?

[2016-10-18 14:30] pgavlin commented on #7694
There is a similar failure of a different test under GCStress=0xC, JitStress=1: https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_ryujit_checked_windows_nt_gcstress0xc_jitstress1/8/console

[code]

[2016-10-18 14:31] pgavlin opened #7695 "RyuJIT/x86: two tests time out under GCStress=0xC, JITStress=1"
e.g. https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_ryujit_checked_windows_nt_gcstress0xc_jitstress1/8/console

[code]

We should consider disabling these tests after ensuring that the timeouts are benign.

[2016-10-18 14:32] pgavlin commented on #7695
These tests also time out under GCStress=0xC, JITStress=2: https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_ryujit_checked_windows_nt_gcstress0xc_jitstress2/7/

[2016-10-18 14:33] mmitche commented on #7678
You should not put up popups if at all possible.  It's bad testing hygiene in the first place.

[2016-10-18 14:34] pgavlin opened #7696 "RyuJIT/x86: possible GC hole in JIT/Performance/CodeQuality/V8/Crypto under GCStress=0xC, JITStress=2"
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_ryujit_checked_windows_nt_gcstress0xc_jitstress2/7/console

[code]

[2016-10-18 14:35] pgavlin commented on #7692
There are similar timeouts under GCStress=0xC, MinOpts=1, HeapVerify=1:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_ryujit_checked_windows_nt_gcstress0xc_minopts_heapverify1/6/console

[2016-10-18 14:36] swaroop-sridhar commented on #7694
This is a known race condition in the GcStress  0xC infrastructure in the VM.

________________________________
From: Pat Gavlin <notifications@github.com>
Sent: Tuesday, October 18, 2016 7:28:50 AM
To: dotnet/coreclr
Cc: Swaroop Sridhar; Mention
Subject: [dotnet/coreclr] RyuJIT/x86: JIT/Methodical/NaN/r4NaNdiv_cs_do fails under GCStress=0xC (#7694)

e.g. https://ci.dot.net/job/dotnet_coreclr/job/

[2016-10-18 14:36] pgavlin commented on #7695
One of these also times out under GCStress=0xC, ZapDisable=1: https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_ryujit_checked_windows_nt_gcstress0xc_zapdisable/9/testReport/

[2016-10-18 14:37] pgavlin commented on #7695
And under GCStress=0xC, JitStress=2, ZapDisable=1: https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_ryujit_checked_windows_nt_gcstress0xc_zapdisable_jitstress2/lastCompletedBuild/testReport/

[2016-10-18 14:39] pgavlin opened #7697 "RyuJIT/x86: 3 tests timeout under HeapVerify=1"
e.g. https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_ryujit_checked_windows_nt_heapverify1/7/console

We should consider disabling these tests after ensuring that the timeouts are benign.

[2016-10-18 14:40] pgavlin commented on #7598
This is complete. Issues have been filed for the remaining failures.

[2016-10-18 14:40] #7598 closed

[2016-10-18 15:03] gkhanna79 commented on #7678
Checked build asserts are there for a reason. Trying to suppress them does not sound the right thing to do. Are you suggesting these asserts were incorrect/false to indicate true failures in the product?

[2016-10-18 15:06] mmitche commented on #7678
No, i'm suggesting they should be sent to the console.  Having them pop up in dialogs is not useful.

[2016-10-18 15:10] janvorli commented on #7678
That's what I was suggesting too. I believe the assert goes to the console too, so disabling the popup with `COMPlus_NoGuiOnAssert` in the `DebuggerAssert::ShowDefaultAssertDialog` would have the right effect.

[2016-10-18 15:37] jkotas commented on #7678
.NET Core is runtime optimized for clould. It does not ever make sense to display Win32 message boxes in runtime optimized for cloud by default. We should change the default to not display the Win32 message boxes by default. What made sense for WinForms apps in 2001 does not always make sense for cloud today...

[2016-10-18 15:46] janvorli commented on #7674
@hadibrais I've tried to set a http proxy - using one that I have installed on my other machine - and the restore has succeeded. I wonder then if it can be related to the specific proxy you are using.

[2016-10-18 15:54] hadibrais commented on #7674
I don't think the proxy is the culprit because this
[code]
works.

I have Windows 10 running in a VMware VM on the same physical machine. I'll check if it builds successfully there.

[2016-10-18 16:00] janvorli commented on #7674
One more thing to try - could you check if curl is able to get the file that was reported as timing out in your list?
`curl -O https://dotnetmyget.blob.core.windows.net/artifacts/dotnet-core/nuget/v3/flatcontainer/microsoft.build.targets/index.json`

[2016-10-18 16:06] hadibrais commented on #7674
[code]

[2016-10-18 16:45] janvorli commented on #7674
Hmm, so it looks ok.
What happens if you delete the Tools and packages folder and try to run the init-tools.sh? Is it always the same or do the failures differ?

[2016-10-18 16:53] mikem8361 commented on #4657
@gregg-miskelly @caslan does this look like a versioning problem with dbgshim or the bug we found and fixed in dbgshim?

[2016-10-18 16:58] caslan commented on #4657
Is the app targeting full framework? If so, the app would launch and then you would see that error.

[2016-10-18 17:04] mikem8361 commented on #7581
I wouldn't recommend actually changing the existing output functions, but either add the Unicode overrides or new "Ex" functions like you suggest.

But the biggest problem is that for xplat support (Linux/OS X) the IDebugControl2 is emulated on top of LLDB apis. It will take some more work to write the Unicode output functions on top of the LLDB apis. The LLDB output functions only takes ANSI stri

[2016-10-18 17:10] swaroop-sridhar commented on #7694
@pgavlin  is this failure deterministic for the same test?
If so, this is a better case to investigate.

[2016-10-18 17:18] #7459 closed

[2016-10-18 17:23] mikem8361 commented on #7687
Yes we do need the catch blocks even though they do hide useful diagnostic info.  The reason is to catch version these kind of version mismatches.  If System.Reflection.Metadata doesn't match the one SOS.NETCore requires like this issue demonstrates, the resulting exception terminates your LLDB/SOS session.  Calling a function that references a missing function or type can result in this kind of e

[2016-10-18 17:38] hadibrais commented on #7674
I just built it on Windows, it worked perfectly (except for the warnings emitted while building the tests). Running `init-tools.sh` produces the same errors. I'm not able to figure it out and ran out of ideas on how to pinpoint the cause.

[2016-10-18 17:44] janvorli commented on #7674
@hadibrais would you be willing to create a docker container with Ubuntu 14.04 and try to do it inside of it? I would like to figure out whether it is just Ubuntu 16.04 issue because of some bad interaction between our HTTP managed code, the libcurl and the GnuTLS or if it behaves the same with OpenSSL based libcurl that's on Ubuntu 14.04.

[2016-10-18 18:26] hadibrais commented on #7674
How to do that exactly? I never used Docker before. I just installed it on my Ubuntu 16.04. What's next?

[2016-10-18 19:08] lt72 opened #7702 "Expose metadata-less methods to Profiling APIs"
Metadata-less methods are not exposed to Profiling APIs – this includes IL Stubs, LCG driven generated code like DynamicMethod and Expression Trees.

[2016-10-18 19:10] lt72 opened #7703 "NGEN Information is not query-able from Profiling APIs"
NGEN Information is not query-able from Profiling APIs without resorting to searching through the entire module address space.

[2016-10-18 19:15] lt72 opened #7704 "GC information through Profiling APIs is too heavy to use"
GC information is coupled with expensive object tracking information making cheap GC events exposed from Profiling APIs unusable.
Simple information, such as Start/Stop/Generation/Memory Reclaimed should be more readily available.

[2016-10-18 19:16] lt72 opened #7705 "Expose contention data through the Profiling APIs"
Currently not exposed.

[2016-10-18 19:24] janvorli commented on #7674
Run
`docker run -it --name ubuntu1404 ubuntu:14.04 /bin/bash`
That will download a bunch of stuff and then get you right to ubuntu14.04 shell.
Now you install all the dependencies:
[code]
And now you can fetch the coreclr repo and run the build
[code]
You can now exit the shell using `exit`. If you don't want to keep the container with all the stuff, just do `docker rm ubuntu1404`
If you want to k

[2016-10-18 19:37] mjsabby opened #7707 "GetFunctionFromIP fails for R2R images"
I haven't debugged a whole lot but given that the PerfMap feature takes different paths depending on R2R images or not it's not surprising something isn't working correctly.

That said I'm not sure why EECodeInfo wouldn't have the relevant information for R2R since it clearly can work for NGEN/JIT.

This was discovered when doing #7703, except for R2R nothing in the .text section got a successful

[2016-10-18 19:56] hadibrais commented on #7674
Got the same errors. What can we conclude from this?

I appreciate your help so far.

[2016-10-18 20:11] pgavlin commented on #7694
@swaroop-sridhar I don't believe that these failures are deterministic. I'll re-run the jobs to check.

[2016-10-18 20:49] janvorli commented on #7674
It seems that our HTTP managed code combined with libcurl has problems with your http proxy for some reason. Maybe the proxy does something unexpected to the HTTP headers or something like that. Do you know what proxy are you using?

[2016-10-18 20:49] gregg-miskelly commented on #4657
@ppatel26 can you tell us more about your scenario?

The most common known reasons for this are:

1. As Charlie said, on Windows, trying to debug a full framework app
2. Trying to debug a process where the interesting code is in a child process. `dotnet run` in the most common case like this.

[2016-10-18 21:06] hadibrais commented on #7674
The proxy server we are using is called [Squid](http://www.squid-cache.org/). Not sure which we version is currently being used.

I built the repo successfully on Windows. Aren't you using curl there too?

[2016-10-18 21:23] jamesqo opened #7710 "Use C# 6 auto-implemented readonly properties in Tuple"
Seems like since all of the backing fields of Tuple's properties are read-only, they could just be converted to auto-implemented get properties. Seems like it would remove a significant amount of code/enhance readability of the file.

[2016-10-18 21:28] wtgodbe opened #7711 "Build CoreCLR tests against System.Private.Corelib instead of mscorlib.dll"

[2016-10-18 21:42] jkotas commented on #7711
Note that most of the tests that build against mscorlib should be able to build against regular contracts with netstandard20 work. The number of missing types and methods should be pretty minimal.

[2016-10-18 21:47] jamesqo commented on #972
@weshaggard, it has been another 5 months since you last commented. I understand your concern that formatting things could cause massive merge conflicts, but I'm afraid that this issue will be forgotten about. Would it be a good idea to follow @GSPP's suggestion and format only namespaces that aren't being worked on at the time?

[2016-10-18 21:50] ppatel26 commented on #4657
@gregg-miskelly @caslan @sergiy-k @mikem8361 Here are some screenshots. I am using a Mac   OS X (10.9.5)

![screen shot 2016-10-18 at 2 46 03 pm](https://cloud.githubusercontent.com/assets/22735144/19497596/f2626edc-9541-11e6-9f08-bf5f0a2aae3f.jpeg)

When I do the run from the terminal. I don't end up getting the warning. It shows up after the debug run from Visual Studio Code.

![screen shot 2016

[2016-10-18 22:02] gregg-miskelly commented on #4657
@ppatel26 what does your launch.json look like?

[2016-10-18 22:07] jkotas commented on #7710
Tools depend on the exact names of these fields (yes, it is not right ... but they do). We have tried to rename these fields in corert (change the prefix from `m_` to just `_`) but rollback the change. It was not worth the pain to push it through the system.

[2016-10-18 22:15] ppatel26 commented on #4657
@gregg-miskelly Here yo go.

![screen shot 2016-10-18 at 3 14 32 pm](https://cloud.githubusercontent.com/assets/22735144/19498438/b37d3cca-9545-11e6-93fb-7cbed8c76e3c.jpeg)

[2016-10-18 22:20] jamesqo commented on #7710
@jkotas Rather unfortunate... I guess I'll close this then.

[2016-10-18 22:20] #7710 closed

[2016-10-18 22:56] janvorli commented on #7674
No, the Windows version doesn't use curl. It is based on Windows APIs.
And trying to download something using curl is not the same thing as using the libcurl from our HTTP code. As you could see from your logs, some restoration has worked before the failure, so it partially works, but there is some problem that hits us at some point.

[2016-10-18 23:05] hadibrais commented on #7674
I see. Is there a temporary workaround for this? Can I avoid using libcurl?

[2016-10-18 23:09] janvorli commented on #7674
No, on Unix, there is no other way. Let me try installing the Squid to see if I could repro the issue with it.

[2016-10-18 23:31] janvorli commented on #7674
@hadibrais do you also happen to know the version of Squid you are using? I want to make sure I am trying the same thing.

[2016-10-18 23:31] janvorli commented on #7674
Oh, I can see you already said you don't know the version.

[2016-10-18 23:32] gregg-miskelly commented on #4657
Three questions:
1. What version of the .NET Core Shared Framework do you have installed? You can run `dotnet` in terminal to see. (see below for an example)
2. What version of the VS Code C# extension do you have installed? You can see this in the extensions pan in VS Code.
3. Can you test if `vmmap` is working for you (see below for instructions).

Example output from `dotnet`:
[code]

Testing v

[2016-10-19 00:20] weshaggard commented on #972
@danmosemsft @karelz what are your thoughts on this? I personally still feel the value isn't worth the risk.

[2016-10-19 00:37] danmosemsft commented on #972
What _have_ we been running it over so far? Just selected files in corefx as they're changed, and none of the impl of mscorlib in coreclr? We haven't really been consistent, I think?

[2016-10-19 00:55] karelz commented on #972
We might need to wait until we unplug internal TFS mirror (@jkotas mentioned JIT team would be likely broken due to that).
While I personally like formatted code, this sounds like a huge cost (even just on reviews). Given there are only 2 votes so far, I am not convinced it is worth the cost -- IMO there are changes with much higher impact we should do in .NET Core to make it either even more comp

[2016-10-19 02:13] noahfalk commented on #7705
contention data for what thing? : )
Understanding the scenario motivating this request would be very useful.

[2016-10-19 04:13] ppatel26 commented on #4657
@gregg-miskelly
1) .NET Core version 1.0.1
![screen shot 2016-10-18 at 8 51 24 pm](https://cloud.githubusercontent.com/assets/22735144/19505147/f938307e-9574-11e6-86f4-fdf51da71589.jpeg)

2) VS Code C# extension version 1.4.1

3) `parvs-mbp:~ parvpatel$ ps -A | grep OmniSharp
  503 ??         0:07.68 /Users/parvpatel/.vscode/extensions/ms-vscode.csharp-1.4.1/out/.omnisharp-coreclr/OmniSharp -s /Us

[2016-10-19 04:16] gregg-miskelly commented on #4657
@ppatel26 that all looks reasonable.
@mikem8361 any other guesses? Anything @ppatel26 can do to troubleshoot this?

[2016-10-19 08:14] janvorli commented on #7685
Fixed by #7716

[2016-10-19 08:14] #7685 closed

[2016-10-19 09:39] janvorli commented on #7674
@hadibrais I have tried to install squid, but the complexity of setting it up for https traffic and the fact that all the different options can theoretically have an effect on our stuff scared me off.
So I was thinking about possible ways that we have and I have two more ideas, which might not be possible in your environment though.
First, if I could use your instance of the squid proxy from my ma

[2016-10-19 09:52] mjsabby commented on #7707
cc @noahfalk @jkotas

I've debugged this and it seems like R2R images are not loaded the same way as NGEN images in that when an NGEN image is loaded and the profiler is notified (ModuleLoadFinished) the ``ExecutionManager`` adds the code ranges and sets up the correct ``IJitManager`` to respond to EIP -> FunctionID lookups.

This part seems like an oversight, because shortly after the profiler is

[2016-10-19 14:19] jkotas commented on #5974
Move discussion in https://github.com/dotnet/corefx/issues/12746

[2016-10-19 14:27] jkotas commented on #7707
Do we really need new methods? Why not just issue the existing `JITCompilationStarted/JITCompilationFinished` or `JITCachedFunctionSearchStarted/JITCachedFunctionSearchFinished` callbacks for this?

[2016-10-19 16:22] pgavlin commented on #7694
Indeed, these failures are not deterministic in nature.

[2016-10-19 16:38] mjsabby commented on #7707
``JITCompilationStarted/Finished`` only gets called for metadata methods today so profilers that may be expecting this to be true will have a behavior change.

That's why the new methods there. I'm fine using ``JITCachedFunctionSearchStarted/Finished``  for NGEN and R2R.

Will it be OK to allow them to JIT the method if they modify the BOOL we send it the API to see if they'd like to JIT vs pick u

[2016-10-19 16:38] Dmitri-Botcharnikov commented on #7687
Can we enable exception propagation at least in debug version of SOS.NETCore? Or maybe there is  some log facility to print out exception?

[2016-10-19 16:40] jkotas commented on #7707
Yes.

[2016-10-19 16:43] leculver opened #7722 "The .Net Core installer needs to set WER registry keys"
The .Net Core installer needs to set WER registry keys so that we get actionable Watson data.

[2016-10-19 16:47] leculver opened #7723 "Validate that mscordaccore.dll's minidump auxiliary code works properly"
We need to validate that mscordaccore's minidump auxiliary data stream code path works properly.  This code likely hasn't been tested since Silverlight days, so we need to make sure there are no issues when running it and that minidumps are generated properly.

Noah would have the most context on this.

[2016-10-19 17:07] mikem8361 commented on #4657
I’ll try to repro locally on my Windows dev machine.

[2016-10-19 17:26] gregg-miskelly commented on #4657
@mikem8361 this is just debugging hello world, so its not going to be something you will be able to repro locally. There must be something configured differently on ppatel26's macOS box that breaks dbgshim.

[2016-10-19 17:27] mjsabby commented on #7707
Thanks. Is my understanding correct that all methods in a ReadyToRun image will go through the ``MethodDesc::DoPrestub`` and call ``ReadyToRunInfo::GetEntryPoint`` to resolve methods? That is even the case an R2R method calls a method within its image? I certainly would think an R2R method calling an R2R method in a different image would go through ``DoPreStub`` code.

Then if my understanding is

[2016-10-19 17:46] jkotas commented on #7707
It is the case today.

This invariant is not there today.

[2016-10-19 18:03] mikem8361 commented on #4657
Oops. For some reason I thought this was on Windows.

I'm not sure what to do now.

[2016-10-19 18:15] gregg-miskelly commented on #4657
Can @ppatel26 check for the existence of semaphores and/or check if they can be successfully created? Would it make sense to provide a private dbgshim with some logging?

[2016-10-19 18:23] #7696 closed

[2016-10-19 19:21] mikem8361 commented on #4657
There is some logging that can be enabled in a debug build. Not sure how to get a debug dbgshim.dylib to ppatel26.  On OS X, the semaphores used in the handshake are not visible from the file system like they are in Linux.

[2016-10-19 19:24] mikem8361 commented on #4657
To enable this logging on a debug dbgshim, this environment variable would have to be set before running vscode/coreclr:

export PAL_DBG_CHANNELS="+PROCESS.TRACE"

[2016-10-19 19:25] litichevskiydv opened #7728 "Strange ToString output"
Nearly every four days I have strange exception in my program in class [`FieldElement`](https://github.com/litichevskiydv/GfPolynoms/blob/master/src/AppliedAlgebra.GfPolynoms/FieldElement.cs)

[code]

This looks strange because both `ToString` methods in classes [`PrimeOrderField`](https://github.com/litichevskiydv/GfPolynoms/blob/master/src/AppliedAlgebra.GfPolynoms/GaloisFields/PrimeOrderField.c

[2016-10-19 19:28] mikem8361 commented on #4657
I'm building a debug dbgshim with the above tracing enabled.

[2016-10-19 19:33] #7643 closed

[2016-10-19 20:01] lt72 commented on #7723
@noahfalk: please check that there is no blocking issue to enable this.
@alsemenn: please check with Noah and then move to this work asap item if there is not blocker.

[2016-10-19 20:15] danmosemsft opened #7729 "segmentation fault in ARM emulator run"
[code]

https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_emulator_cross_debug_ubuntu_prtest/1088/console

[2016-10-19 20:20] jkotas commented on #7729
Duplicate of https://github.com/dotnet/coreclr/issues/6298

[2016-10-19 20:20] #7729 closed

[2016-10-19 20:24] #6697 closed

[2016-10-19 20:24] #5706 closed

[2016-10-19 21:47] mjsabby opened #7731 "JITCachedFunctionSearchStarted/Finished callbacks not called for R2R images"
JITCachedFunctionSearchStarted/Finished callbacks are called when searching for methods that exist in precompiled images (historically NGEN).

Now that we have R2R images, these callbacks are not being called for methods found in these images.

The general problem is that the runtime in ``DoPreStub`` searches for R2R methods after it has already evaluated whether the profiler callbacks should be c

[2016-10-19 22:21] noahfalk commented on #7707
Is the NGEN-to-NGEN case critical for you to solve? I suspect it can be with some work... rejit needed a similar capability to be notified about every piece of jitted/AOT code before that code is eligble for execution.

[2016-10-19 23:03] lt72 commented on #7705
This refers to exposing contention data as ETW does:
https://msdn.microsoft.com/en-us/library/ff356157%28v=vs.110%29.aspx?f=255&MSPPError=-2147217396

@mjsabby: please confirm

[2016-10-19 23:14] mjsabby commented on #7705
yup that's the one. This is to be able to get this data without using ETW.

[2016-10-19 23:42] mjsabby commented on #7707
If it's not too bad I'd love to be able to completely solve the EIP to FunctionID situation in the profiling APIs.

The only respite (and this is something I want to confirm) in the current NGEN situation is that you can iterate at 8-byte boundaries and call GetFunctionFromIP throughout the .text section and you get everything resolved.

I want to confirm if what I'm doing (i.e. the module-wide se

[2016-10-19 23:45] jkotas commented on #7707
Depends what you mean by "resolved". You will get `FunctionIDs`, but a lot of them will be unrestored - calling any other profiler methods on them will return `CORPROF_E_DATAINCOMPLETE`.

[2016-10-19 23:52] mjsabby commented on #7707
Ok, so metadata won't be fetchable. Hmm, alright I'll see what ReJIT did.

[2016-10-20 00:10] AndyAyersMS commented on #7625
@CarolEidt while working on this I ran across something that puzzles me. Any idea why `impNormStructType` first checks SIMD size via
[code]
and then later checks size via
[code]
The upper bounds seem to be equivalent but the lower ones may not be...

[2016-10-20 00:15] CarolEidt commented on #7625
I have no idea why those are different. Perhaps they were added at different times. As it happens, they are currently equivalent on x64, but won't be on x86 (the lower bound will still be 8 bytes even though the TARGET_POINTER_SIZE will be 4).

[2016-10-20 00:21] AndyAyersMS commented on #7625
In the reworking there will be just one check, so I'll use the `minSIMD ... maxSIMD` version.

[2016-10-20 00:30] CarolEidt commented on #7421
I would love to see this addressed - and I think it would be best to consider it as part of addressing https://github.com/dotnet/corefx/issues/1605.
I think it would be most reasonable to support same-size and double/half size conversions, presumably on a static `VectorConverter` class or something like that.

[2016-10-20 00:33] CarolEidt commented on #7625
Sounds good.

[2016-10-20 00:44] bbi-yggy commented on #4049
Static is one case, but another is the case of unreferenced generic type parameters. As pointed out [elsewhere](http://stackoverflow.com/a/36337761/503688) by Eric Lippert, the following code compiles, but throws a TypeLoadException when run:
[code]

Is this a result of the same "known implementation limitation"?

[2016-10-20 00:57] noahfalk commented on #7723
Manually it can certainly be done. In an automated fashion the main hiccup is that it requires writing a machine global registry key with administrative permission. Depending on the environment where tests are running we may not have that capability.

Aside from that its just work to bring tests online.

@leculver - Have you solved the deployment issue with writing the registry key? If we are goin

[2016-10-20 03:50] noahfalk commented on #7707
Check out the ReJitPublishMethodHolder as a starting point. This lock/notification needs to occur prior to any new code being eligible for execution after module load is complete. In the case of NGEN it occurs at the point in time that methods are restored.

[2016-10-20 11:43] brunobertechini commented on #3977
+1 for arm devices

[2016-10-20 11:48] janvorli commented on #3977
@leemgs do you know what is the current status of the CoreCLR unit tests pass rate?

[2016-10-20 12:15] hadibrais commented on #7674
@janvorli I tried to build the repo on another physical machine that has Ubuntu 14.04 and is also behind the same proxy. I got the same errors. This increases the probability that the theory you've proposed is indeed what's happening -- the interaction between libcurl and our proxy is causing problems.

I can get your access to my machine so that you can access our proxy and debug the issue furthe

[2016-10-20 12:20] janvorli commented on #7674
@hadibrais thank you for the update. As for the instructions, you can send them to my microsoft email - janvorli at microsoft dot com.

[2016-10-20 13:00] myungjoo commented on #3977
@janvorli I overhear it fluctuating between 1 and 15 of over 10000 cases these days over the cubicles :)
And, it seems that except for the last few, they are due to incorrect test cases or incorrect usage of test cases.

[2016-10-20 13:01] myungjoo commented on #3977
@jyoungyun Can you post one recent & correct result?

[2016-10-20 16:25] pkukol opened #7738 "Increase JIT compiler throughput"
The following is a list of areas being considered for throughput improvements in the near future; if anyone wants to help with these just add a note here, if we have lots of volunteers we can establish a simple tracking system. Note that the stuff gathered in this issue addresses the specific goal of speeding up IL -> machine code conversion in RyuJIT - IOW, things like better heuristics to decide

[2016-10-20 17:28] mikem8361 commented on #4657
@ppatel26 I have a debug dbgshim.dylib that you can try but I'm not sure how to get a binary to you.

[2016-10-20 17:32] #6232 closed

[2016-10-20 17:35] gregg-miskelly commented on #4657
@mikem8361 can you zip it and attach it to this issue? @ppatel26 to try Mike's tracing:

[code]

[2016-10-20 17:41] lt72 commented on #7723
Manual is fine for the release. Automation right after as part of the test set we are enabling anyway.

[2016-10-20 18:07] sivarv commented on #7572
@redknightlois - We definitely can improve Vector<int>.Dot() for AVX case using phaddd.

In the above screen sheet there is another label that reads "Also this generates worse code".
I am assuming that you are referring to the commented out line:

`var result = Vector.ConditionalSelect(comparison, Vector<int>.One, Vector<Int>.Zero)`

Are you referring to ConditionalSelect() or Vector<int>.One?
Ple

[2016-10-20 18:20] danmosemsft commented on #5631
The linked PR had some issues and wasn't completed, so this issu remains up for grabs.

[2016-10-20 18:30] sivarv commented on #7442
Optimizing vextractf128 when two successive SIMD vector elements are accessed is added to the list of possible front-end SIMD optimizations (issue #7422).

Closing this issue as issue #7422 encompasses this one as well.

[2016-10-20 18:30] #7442 closed

[2016-10-20 18:37] redknightlois commented on #7572
@sivarv Using ```Vector<int>.One``` in the ```ConditionalSelect``` generate a bit worse code than copying that into an static variable (for whatever reason).

The actual code is here: https://github.com/Corvalius/ravendb/blob/v4.0/bench/Micro.Benchmark/PageLocatorImpl/PageLocatorV2.cs
I doubt it can beat this though: https://github.com/Corvalius/ravendb/blob/v4.0/bench/Micro.Benchmark/PageLocatorI

[2016-10-20 18:41] sivarv opened #7740 "Huffman Benchmark has opportunities to fold addressing modes"
Huffman benchmark uses an array of structs

For e.g. the innermost triply nested while loop

while(hufftree[i].left!=-1)
{
	if(GetCompBit(comparray,bitoffset)==0)
  	    i=hufftree[i].left;
	else
  	   i=hufftree[i].right;
	bitoffset++;
}

CSE recognizes bounds checked &hufftree[i] as CSE candidate and replaces with a LclVar.

bounds check on hufftree[i]
tmp = LEA(&hufftree[i])

Now field accesses

[2016-10-20 20:08] mikem8361 commented on #4657
[dbgshim.zip](https://github.com/dotnet/coreclr/files/542774/dbgshim.zip)

[2016-10-20 20:09] mikem8361 commented on #4657
The logging should be a file called "dbgshimtrace.txt"

[2016-10-20 20:30] swgillespie commented on #3392
@BruceForstall (and @sergiy-k) Following up on this. The tests on this list allocate an unreasonable amount of memory, some of them even allocating repeatedly until the whole machine runs out of memory and we raise an OOM exception. While OOM testing is important (and it's done already as part of the long GC test run, but more reasonably), the rates in which these tests allocate begin to perturb o

[2016-10-20 20:34] #7499 closed

[2016-10-20 21:06] janvorli commented on #5853
I have made an experiment to enable System.Globalization.Native.so to use any version of ICU libraries that is present on the system ("any" means within some limits). I got the idea from the ICU doc where they describe building ICU libraries as OS components where an application compiled against one version of the ICU can still work when the ICU gets upgraded.
They have a concept of stable APIs -

[2016-10-20 21:09] stephentoub commented on #5853
I like it.  That approach also would make it easy to add fallback implementations if ICU can't be found, e.g. just by pointing the function pointers to a local implementation that provides some ASCII/invariant/etc. implementation.

[2016-10-20 21:11] stephentoub commented on #5853
Though, if we did want to statically link it once we moved to this scheme, how would we do it?  Include a shim that calls each relevant function and just assign those shims to the pointers?

[2016-10-20 21:22] janvorli commented on #5853
For static linking, we would just ifdef-out the body of the new header and exclude the new shim cpp that creates the xxx_ptr variables and uses dlopen / dlsym to set them from the build.

[2016-10-20 21:32] ellismg commented on #5853
@janvorli We will need to move away from some of our build time customization where we configure to light up if features are present in ICU.  Specifically, in this mode, https://github.com/dotnet/coreclr/blob/32f0f9721afb584b4a14d69135bea7ddc129f755/src/corefx/System.Globalization.Native/calendarData.cpp#L550 should always be defined to FALSE.

We will need to support ICU 50 at least, that's what'

[2016-10-20 21:36] janvorli commented on #5853
@ellismg That makes sense. Fortunately, making this configurable at build time is as easy as what I have described for static linking to @stephentoub.

[2016-10-20 21:40] BruceForstall commented on #3392
Makes sense.

[2016-10-20 22:11] ppatel26 commented on #4657
@gregg-miskelly I copied @mikem8361 provided dbgshim.dylib into its respective directory and debugged the Hello World app. Still the same warning!

@mikem8361 Not sure where to get that log file form. Can you provide some directions. Thanks.

[2016-10-20 22:16] mikem8361 commented on #4657
I'm not sure exactly where it would put the dbgshimtrace.txt log file.  First look in ~/.vscode/extensions/ms-vscode.csharp-1.4.1/coreclr-debug/debugAdapter. Then you may need to search with something like

`find ~ -name "dbgshimtrace.txt"`

[2016-10-20 22:35] parjong commented on #3977
Here is the latest result from Raspberry Pi 3 which uses Hard FP ABI
[code]

Here is the latest result from another ARM device which uses Soft FP ABI:
[code]

 - #6680 is related with all the failures under JIT.Methodical.xxobj.sizeof._il.
 - The lack of physical memory (as both devicees have only 1G memory) seems to cause all the other failures except DateTimeParse1.
 - #7931 seems to address Dat

[2016-10-20 22:51] janvorli commented on #3977
@parjong thank you for the detailed information!

[2016-10-20 22:51] ppatel26 commented on #4657
@mikem8361 @gregg-miskelly here you go.

This is what the log file says.

[code]

[2016-10-20 23:12] swgillespie opened #7744 "CultureInfo constructor allocates a lot"
This test program:

[code]

allocates on average 71 kilobytes of strings and string arrays every iteration, for a total of 710 megabytes over the course of this program. It also runs for 7.5 seconds. The overwhelming majority of these allocations are coming from [this fcall](https://github.com/dotnet/coreclr/blob/master/src/classlibnative/nls/calendardata.cpp#L470) which populates a managed `Calen

[2016-10-20 23:25] Maoni0 commented on #7744
good find!

71k 😲

[2016-10-20 23:37] mikem8361 commented on #4657
This logging says basically we waited until coreclr was ready and then called back from the "PAL" code to the "dbgshim" code without any problems.  Even though all of this code is in the same module, it is layered in a way that makes it hard to log anything in the dbgshim code using the PAL tracing.

There are a few things that can fail once we call the dbgshim but before we call VS back:
1) libms

[2016-10-20 23:58] stephentoub commented on #7744
Is it really TryParse?  Presumably if you move the ```new CultureInfo("en-US")``` call to outside the loop, the costs decrease significantly?

[2016-10-21 00:08] swgillespie commented on #7744
@stephentoub

You're right, it does appear to be the culture info. Is it a common scenario to create new culture infos in this manner?

[2016-10-21 00:34] stephentoub commented on #7744
I don't think it's particularly common, but @tarekgh or @ellismg would know.  Regardless, if there are easy ways to make it cheaper, it'd be a good thing to do, regardless... just might change the priority level of investigating it :smile:

[2016-10-21 00:51] jkotas opened #7747 "Investigate optimizing ArrayPool heuristics"
Now that the ArrayPool is part of CoreLib, we may be able to better optimize its heuristics - make it aware of GCs happening, etc.

See https://github.com/dotnet/coreclr/pull/7734#issuecomment-255264515

[2016-10-21 01:13] tarekgh commented on #7744
the best practice here is to use CultureInfo.GetCultureInfo() which uses the cached cultures and shouldn't allocate any more strings. we have GetCultureInfo specifically for such scenarios. new CultureInfo() creates read/write objects and try to read the underlying system data every time as the settings can change.

please try GetCultureInfo and let's know if you still see the issue.

[2016-10-21 01:18] tarekgh commented on #7744
https://msdn.microsoft.com/en-us/library/yck8b540(v=vs.110).aspx

[code]

I am going to close this issue but feel free to respond back or re-open if you have any follow up questions. thanks for bringing this issue.

[2016-10-21 01:18] #7744 closed

[2016-10-21 01:34] sivarv commented on #7572
@redknightlois - the code pointer that you have given is using Vector<long> instead of Vector<int>. AFAIK, AVX supports instruction to perform horizontal add of 16-bit and 32-bit type vectors.  I am assuming that you are open to using Vector<int> instead of Vector<long>.

I have created the below PR to recognize Vector<int>.Dot() as intrinsic on AVX.  Please try these changes and let me know wheth

[2016-10-21 01:47] #7569 closed

[2016-10-21 01:57] sivarv opened #7750 "Optimize byte type comparisons"
Example1:
Kestrel server hot method Seek() method has the following doubly-nested do-while

[code]

Here is the code generated for one "if-stmt" block

[code]

Here *pCurrent = byte GT_IND
byte0/byte1/byte2 = are the bytes obtained using SIMD Get[i] intrinsic from Vector<byte>.

Here there is an opportunity to replace the first 3 instructions with

`cmp byte ptr[r8], r9l`

Example2:
@benaadams  ha

[2016-10-21 02:04] sivarv opened #7752 "LSRA Reg Optional: Folding of read-modify-write mem operations"
E.g.   a = a + b/cns

If it is profitable to not to allocate a reg to 'a' - i.e. both to its Use and Def position, then we can generate

add [mem], reg/cns

[2016-10-21 02:19] sivarv opened #7753 "LSRA Reg Optional: Folding of operations using a tree temp"
Say we have the following expr

a  = (b + (c + (d+ (e+f))))

in LIR form

t0 = e+f
t1 = t0+d
t2 = t1+c
a = t2+b

Say it is profitable to not to allocate a reg to Use position of '+' in (e+f).  That is tree temp t0 needs to be spilled to memory.  Furthermore it is profitable to not to allocate a reg to both use and def positions of '+' in (t0+d) and (t1+c)

Since all of these tree temps are not liv

[2016-10-21 13:09] redknightlois commented on #7572
@sivarv Thanks for taking a look into it. Yes, whatever is faster is fine by me :) ... Just let me know what version of the JIT I have to select when a build is up on nuget and I will take it for a spin using ```Vector<int>```

Looking at the code again, I may have messed up when investigating the issue and mix the binaries for
```ConditionalSelect(comp, Vector<int>.One, Vector<int>.Zero)```. You

[2016-10-21 15:15] gkhanna79 opened #7757 "Centralize Version updates for Nuget packages"
This will allow us to have single place to perform version updates, as opposed to updating 50+ files.

[2016-10-21 16:06] mjsabby commented on #7707
OK I see  what's happening basically on the MethodDesc there is a CheckRestore method that incidentally also restores the method and as part of that ReJIT is given an opportunity.

So I'm assuming doing a call out at CheckRestore should be good?

I tried that never seems to hit so there maybe the MethodTable restore that may be doing it instead. Or for private.corelib.ni everything is already rest

[2016-10-21 21:35] noahfalk commented on #7707
In order to get everything you need to do a sweep of functions at module load time. Rejit uses the LoadedMethodDescIterator for this purpose I believe. All the methods that aren't restored at that point should then eventually funnel through MethodDesc::CheckRestore before they execute.

Also I don't know if you care about notifications for IL methods that have been inlined inside of other methods?

[2016-10-21 21:39] noahfalk commented on #7707
Also as I recall R2R images don't include the inlining information - only NGEN images do. Until that info is added I'm not sure how you would do it for R2R images other than doing IL static analysis and making the overly conservative assumption that all legally inlinable calls were inlined.

[2016-10-22 00:05] sivarv opened #7761 "Support a way to indicate whether a PInvoke call needs to be surrounded by Vzeroupper on AVX hardware"
Right now RyuJIT emits VzeroUpper in prolog and epilog of methods that use AVX 32-byte vector operations.  But vzeroupper is not emitted around PInvoke calls for the reason that it could lead to unnecessary code size increase in majority of cases where SIMD intrinsics are not used.

But it is possible that a method is both using SIMD intrinsics and also Pinvoke to native layer that might be execut

[2016-10-22 00:06] sivarv commented on #7761
CC @CarolEidt

[2016-10-22 01:05] swgillespie opened #7762 "Test build error: The process cannot access the file '[...]\Managed\GC\Stress\Tests\StressAllocator\StressAllocator.exe' because it is being used by another process."
For example:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_release_windows_nt_pri1_prtest/1152/console

[code]

Also seen as:

[code]

Perhaps there's some sort of race condition when building these tests.

[2016-10-22 01:16] mazong1123 opened #7763 ".\build always delete the Tools folder so we have to download all tools everytime."
I notice that [this commit](https://github.com/dotnet/coreclr/commit/bd1025e4b603655a239b15bcc93d817cb1caec8d) added a line of code to force delete Tools folder everytime when .\build called. That totally slows down the build process as we have to download tools via internet everytime.

We already have a clean step in "force" build on line 19 ~ 21. I think line 30 should be removed.

[2016-10-22 01:21] #7692 closed

[2016-10-22 02:36] #7572 closed

[2016-10-22 02:40] sivarv commented on #7572
@redknightlois - the PR meant to recognize Vector<int>.Dot as JIT intrinsic is merged.

Regarding Vector<int>.One and Vector<int>.Zero - to further optimize the loop, you can declare two locals outside while

[code]

and use 'one' and 'zero' within the loop.  This avoids the overhead of constructing these constant vectors in each iteration through the loop.  Hoisting of constant SIMD vectors like

[2016-10-22 02:45] #7731 closed

[2016-10-22 03:45] jkotas commented on #7761
This problem is not limited to PInvoke calls. Virtual calls (that can end up calling PInvoke) suffer from the same problem.

This looks like another case of mismatch between what the current SIMD provide vs. what is actually needed for fine tuned SIMD code, as discussed in https://github.com/dotnet/coreclr/issues/6906.

cc @redknightlois

[2016-10-22 08:28] mazong1123 opened #7765 "error CS0433: The type 'UnicodeCategory' exists in both 'System.Globalization, Version=4.0.10.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' and 'System.Runtime, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'"
I've encountered errors when building on windows 7 x64 version. Seems like there're compatibility issues for these test projects:

[code]

[2016-10-22 10:04] mazong1123 opened #7767 "Several typos and format issues on clr-code-guide doc."
"2.2.1 What are holders and **we** are they important?" should be "2.2.1 What are holders and **why** are they important?"

In section "2.2.8.4 Critical Section Holder", miss code block format for the **Wrong** code sample.

[2016-10-22 11:01] mazong1123 commented on #7666
Just fixed this bug both in corefx and coreclr repos.

[2016-10-22 11:13] #7767 closed

[2016-10-22 13:24] mazong1123 commented on #7763
Closed this issue as this only happens if we download init-tools manually.

[2016-10-22 13:24] #7763 closed

[2016-10-22 14:38] gkhanna79 commented on #5853
The approach seems very reasonable to me. And if such investigations deem that we can be successful with dynamic linking in the goal of building binaries that run consistently across distros, then we may want to reevaluate the value static of static linking.

[2016-10-22 14:57] stephentoub commented on #5853
Dynamic linking in this regard still doesn't help a case where libicu is not available on the target.  In such a case, with dynamic linking we could fall back to a default implementation, but if we actually wanted true globalization support, we would still need to statically link for such cases.

[2016-10-22 15:09] gkhanna79 commented on #5853
Precisely - and for such cases, we will need to evaluate if such scenarios also constitute "lightup" for us since, functionally, the experience will just work.

[2016-10-22 15:16] stephentoub commented on #5853
I'm not sure what that means.  There are plenty of things that wouldn't work (if that weren't the case, we wouldn't need ICU at all for anything).  The default implementation we're talking about would be a bare-bones, culture-unaware, linguistics-unaware, etc. implementation, so any code that depended on such things working would be broken.  If you're saying that we'd need to weigh such things bei

[2016-10-22 16:13] jkotas commented on #5853
There are a lot of programs that would work with such implementation just fine, especially in the cloud/micro-services segment. I think it is interesting to have it as an option. Though, I do not think it should be light-up - it should be something that you explicitly opt into.

BTW: We always hack together the "neutral culture" initially when porting to brand new places, and then undo it later. G

[2016-10-22 16:17] stephentoub commented on #5853
I completely agree.  It'd be a good thing to have as a fall back for lack of an ICU to dynamically link to, and I'm in no way arguing against it.  I was simply pointing out that there would be cases it would not support, in case any of us thought it would provide feature-parity.

[2016-10-22 16:19] #7666 closed

[2016-10-22 16:24] redknightlois commented on #7761
I agree with @jkotas the underlying issue is pervasive to the entire SSE codegen. We can continue plugging holes, but eventually we will draught in complexity. An API design leveraging intrinsics would solve the issue for good, even though that would require to rewrite numerics in pure managed code (which doesn't sounds like a bad idea either).

[2016-10-22 18:26] jkotas commented on #7765
This is caused by stale nuget packages or project.lock.json files. Likely related to your other issue with init-tools (#7763). The project.lock.json files are produced by tools that init-tools brings down.

Try `del /s project.lock.json`, make sure you have latest init-tools, and run the build again.

[2016-10-22 22:35] cydhaselton commented on #1097
Finishing up an Android build of the mono open source C# compiler. Once that's done I hope to build whatever PowerShell-dotnet dependencies that need to be built by a C# compiler

[2016-10-23 04:21] mazong1123 commented on #6008
@jkotas I'm willing to work on this issue. However, in my mind this kind of change may require a unit test to verify it. I'm not able to find any test or unit test for this module under test/src. Could you please guide me where should I add the tests?

Moreover, seems like there's no tests for native code under test/src directory. Am I missing something or we just test the native part from managed

[2016-10-23 04:28] jkotas commented on #6008
@swaroop-sridhar Have you used `MEASURE_GCINFO` during your recent GCInfo changes? What do you think would make most sense here?

[2016-10-23 04:52] jkotas commented on #4505
The Windows ARM build works now - enabled in CI by #7123

[2016-10-23 04:52] #4505 closed

[2016-10-23 06:04] mazong1123 commented on #7765
@jkotas I cleaned up the bin, packages and tools directory, and then ran .\build . Now it works. Thanks!

[2016-10-23 06:04] #7765 closed

[2016-10-23 06:09] mazong1123 commented on #6569
I can reproduce this issue on Windows 7 x64 with exactly the same exception message:

[code]

[2016-10-23 14:32] gkhanna79 commented on #7757
Closing since it is now fixed in 1.0.X and 1.1.0 release branches.

[2016-10-23 14:32] #7757 closed

[2016-10-23 15:07] aignas commented on #5006
I just wanted to say, that I have uploaded an AUR PKGBUILD which can successfully build the master branch: https://aur.archlinux.org/packages/dotnet-coreclr-git/

I was not sure on what files need to be packaged, so at the moment it may be a bit random, but if someone could review it, I would gladly update the PKGBUILD to package the correct files.

This successfully built everything on my machine

[2016-10-23 16:06] mazong1123 commented on #6022
This issue still exists. Do we have any plan to fix it?

[2016-10-24 01:55] parjong opened #7771 "Suspicious System.String[] information that GDBJIT produces"
The recent PR (#7617) allows LLDB to show some information about ``System.String[]`` as follows:
[code]
The type information seems to be consistent with that of SOS Plugin:
[code]
However, the contents of ``args`` is a bit suspicious:
[code]
The content of ``m_Data`` is correct, but the size of ``m_Data`` itself is a bit suspicious.

[2016-10-24 01:56] parjong commented on #7771
CC @kvochko @chunseoklee

[2016-10-24 02:36] hseok-oh commented on #7649
Fixed by #7736, dotnet/corefx#12441

[2016-10-24 02:36] #7649 closed

[2016-10-24 08:07] lucenticus commented on #7771
CC @mskvortsov

[2016-10-24 08:24] mskvortsov commented on #7771
LLDB currently doesn't support VLA (variable length arrays), hence the size of m_Data is incorrect. There is a problem report at https://llvm.org/bugs/show_bug.cgi?id=26010.
I don't see quick yet fair enough fix for this LLDB issue: this probably needs digging deep into LLDB infrastructure.

[2016-10-24 10:27] Buyduck commented on #7470
I've ran these tests after https://github.com/lucenticus/coreclr/commit/b5845f1a1cbcc75d146bd1853b5d12078543dfbc commit, regression has gone.
May this issue be closed? @lemmaa

[2016-10-24 15:53] janvorli commented on #5853
The #7773 implements the suggested change for System.Globalization.Native.so

[2016-10-24 17:53] AndyAyersMS opened #7774 "Inliner: support inlining method with pinned locals"
Quite a few people have been surprised to see that methods with pinned locals (`fixed` in C#) can't be inlined. We should support inlining such methods where feasible.

In C# a `fixed` statement is used to prevent managed objects from being relocated by GC, so that raw pointer math and/or GC-unaware code can be used to access the objects. The `fixed` statement block is conceptually enclosed in a `

[2016-10-24 21:02] rynowak opened #7780 "crossgen.exe can't generate code for methods when the type has static Vector members"
Found investigating JIT time of `Microsoft.AspNetCore.Server.Kestrel.dll` with and without crossgen. Kestrel makes heavy use of vectors, and as a result much of the code cannot be crossgen-ed.

However we found some fairly harmless stuff like simple property accessors were not being crossgened.

@brianrob and @JohnChen0 helped me investigate this and determined that the root cause is that crossgen

[2016-10-24 21:23] swgillespie commented on #7747
@joshfree @danmosemsft would either of you know if there are any existing performance tests for a `Stream` instance that would exercise [ArrayPoolCopyToAsync](https://github.com/dotnet/corefx/blob/master/src/Common/src/System/IO/StreamHelpers.ArrayPoolCopy.cs#L27), so we can measure our optimizations?

[2016-10-24 21:51] #7702 closed

[2016-10-24 22:10] danmosemsft commented on #7747
I am not familiar with the corefx perf tests. @weshaggard

[2016-10-24 22:30] gokarnm opened #7785 ".NET Core 1.1.0 LTS/FTS"
I noticed that a preview version of [.NET Core 1.1.0](https://www.nuget.org/packages/Microsoft.NETCore.App/1.1.0-preview1-001100-00) was published today. Could you share any information if the 1.1.0 release will be a [Long Term Support](https://www.microsoft.com/net/core/support) (LTS) or a Fast Track Support (FTS) update? Given that 1.1.0 contains a number of fixes, it would be great if this is a

[2016-10-24 22:39] gafter commented on #1316
A suitable parser can be found in https://github.com/dotnet/roslyn/blob/614299ff83da9959fa07131c6d0ffbc58873b6ae/src/Compilers/Core/Portable/RealParser.cs

[2016-10-24 23:23] joshfree commented on #7747
@brianrob @billwert may be able to dig up some closed-source perf desktop tests for you

[2016-10-24 23:34] swaroop-sridhar commented on #6008
@jkotas I did not use the MEASURE_GCINFO measurement much -- I only used the TotalBytes written count. However, I did fix the MEASURE_GCINFO code for the ReturnKind and RevPInvokeFrame info.

@mazong1123: I think it is a good idea to get MEASURE_GCINFO working, and its great you've come forward to do it.

I'm not sure what you mean by test case -- We can observe the log-spew wrt GcInfo size for an

[2016-10-24 23:36] jkotas commented on #7747
ArrayPool is recent invention. There are unlikely going to be desktop tests that exercise it.

I believe that CopyToAsync that is implemented using ArrayPool is exercised by ASP.NET branchmarks that serve a static file.

Related to this: There are several redundant memory pools implementation throughout the .NET Core stack - ASP.NET Core has MemoryPoolSlab and friends. It may be interesting to loo

[2016-10-24 23:37] jkotas commented on #6008
It should be fine to unconditionally enable `MEASURE_GCINFO` in debug builds.

[2016-10-25 00:11] mikem8361 commented on #7660
@It72 is there anyway you could have the AppVerifier output about this leak?

[2016-10-25 01:25] kouvel commented on #1754
As @ericeil mentioned in dotnet/corefx#2329, it would be good to investigate switching to the Windows thread pool. We need a good solution outside Windows as well, and `SynchronizationContext.Wait` only handles synchronization waits., For that as @JeffCyr pointed out, an API that indicates when blocking begins and ends, along with some heuristics, I think could be used to mostly alleviate this pro

[2016-10-25 03:00] mazong1123 commented on #6008
@swaroop-sridhar For test case, I don't know if it is applicable to this particular case, but in my mind it should cover:

1. When MEASURE_GCINFO enabled, the code should be compiled correctly.
2. When MEASURE_GCINFO disabled, the code should be compiled correctly.
3. When MEASURE_GCINFO enabled, all functions within #ifdef MEASURE_GCINFO should work correctly. For instance, in one of our test cas

[2016-10-25 07:06] AndyAyersMS opened #7792 "Inliner: GC stress assert failures with random inliner"
For instance, see [this log](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_ubuntu_jitstress2_tst_prtest/).
[code]
The `RandomPolicy` (and the `LegacyPolicy`) assert that any inline observation with `FATAL` impact must be reported via `NoteFatal`. The recent changes in #7727 don't do this.

We need to change the entry for `CALLSITE_RARE_GC_STRUCT`  in inline.def to

[2016-10-25 10:29] #7470 closed

[2016-10-25 11:43] mazong1123 opened #7793 "[Windows 7/x64]HRESULT: 0x8007007A Unhandled Exception when running Interop/SizeConst/SizeConstTest"
When running Interop/SizeConst/SizeConstTest on Windows 7/x64, I got following exception:

[code]

I don't know if this test is related to locale as I see there're Chinese characters in the test code. The exception thrown on line 30, when TakeByValTStr called:

[code]

Probably related to #6569

[2016-10-25 16:17] gkhanna79 opened #7797 "Invoke PInvoke Resolution override for a dynamically generated assembly"
When invoking a PInvoke from a dynamically emitted assembly, invoke the PInvoke resolution override using the load context of dynamic assembly.

[2016-10-25 16:31] gkhanna79 commented on #7526
This was optimistic for 1.1.0, so moving to 1.2.0.

@JohnChen0 We should look into cleaning it up for 1.2.0.

[2016-10-25 16:32] gkhanna79 commented on #7408
1.1.0 is not being mirrored to KRel. Is this issue still actionable for 1.1.0?

[2016-10-25 16:33] gkhanna79 commented on #7277
@RussKeldorph Is this still on for 1.1.0?

[2016-10-25 16:33] gkhanna79 commented on #6843
@ramarag Did you take a look at this?

[2016-10-25 16:34] gkhanna79 commented on #6835
@rahku Can we close this?

[2016-10-25 16:53] mskvortsov commented on #7771
A solution using LLDB formatter exists though.

Take the [coreclr.py](https://gist.github.com/mskvortsov/7b455d120619d581f2aa884d79032d18) file and import it:
`(lldb) command script import coreclr.py --allow-reload`

Then arrays will be displayed like this:
[code]

[2016-10-25 16:57] RussKeldorph commented on #7277
@gkhanna79 Waiting on impact assessment from @briansull

[2016-10-25 17:16] AndyAyersMS commented on #1957
Still would be nice to have, but not urgent at this point.

[2016-10-25 17:17] swgillespie commented on #6809
Moving this out to 1.2.0 since this API isn't exposed in 1.1.0.

[2016-10-25 17:20] janvorli commented on #4318
I can see a reference to this issue was added to https://github.com/dotnet/core/blob/master/release-notes/1.1/1.1.0-preview1-known-issues.md, so I am closing this issue.

[2016-10-25 17:20] #4318 closed

[2016-10-25 17:20] #489 closed

[2016-10-25 17:21] #297 closed

[2016-10-25 17:23] stephentoub commented on #4908
With netstandard2.0, we've added back the base Begin/End methods and added back (or in the process of adding back) all of the relevant overrides.  Given that, and given we don't want to have such significant behavioral differences between desktop and .NET Core and Mono around what the base implementations do, I'm closing this.

[2016-10-25 17:23] #4908 closed

[2016-10-25 17:31] AlexGhiondea commented on #4509
I believe this is a duplicate of https://github.com/dotnet/coreclr/issues/4514. The root cause is that the `StringBuilder` first starts filling out the existing space in the current chunk before doing checks to see if it has enough room to write the rest.

[2016-10-25 17:31] #4509 closed

[2016-10-25 17:36] briansull commented on #7277
This is an extreme corner case where we will hit the noway_assert and then stop optimizing the method.
This is not a  correctness issue.

There are many places where when present with extremely unusual cases the Jit will decide to drop into MinOpts.  We try to avoid dropping to MinOpt for ngen/crossgen but there are still some very extreme cases where we can still drop into MinOpts.

We have an up

[2016-10-25 17:48] wtgodbe commented on #6610
https://github.com/dotnet/coreclr/pull/6613 solved this

[2016-10-25 17:48] #6610 closed

[2016-10-25 17:53] swaroop-sridhar commented on #6008
Probably the best way to test this feature is to set up a lab job that:
a) Does a debug build with MEASURE_GCINFO defined
b) Runs crossgen on System.Private.Corlib.dll (and prints the cumulative GCInfo size data).

Since GCInfo doesn't change often, it is sufficient to run this job once a week or fortnight (plus on demand). It would be good to keep track of the size this way too.
@jashook what do

[2016-10-25 18:03] jkotas commented on #6008
This is way to expensive for the value that it provides. If we want to make sure that `MEASURE_GCINFO` works fine, we should build it by default into debug builds.

[2016-10-25 18:12] russellhadley commented on #7740
@sivarv can we look at MusicStore or Techempower to see if we have the same problem there?  It would help prioritize this if we knew this hit in those workloads.

[2016-10-25 18:17] mikem8361 commented on #7408
If 1.1.0 is never mirrored to a tfs enlistment then this issue/PR can be closed.

[2016-10-25 18:19] #7408 closed

[2016-10-25 18:33] vancem commented on #6632
This was resolved with

commit 408aaf09accf61b8ffe6d5dee5e768f5b9b6245a
Author: Vance Morrison <vancemorrison@comcast.net>
Date:   Mon Sep 26 11:49:28 2016 -0700
    Add the serialization of the Message field when writting LTTng events on Linux.

[2016-10-25 18:33] #6632 closed

[2016-10-25 18:57] #7792 closed

[2016-10-25 19:31] AlexGhiondea opened #7801 "Assert failure(PID 51988 [0x0000cb14], Thread: 14588 [0x38fc]): Postcondition failure: FAILED: UnsafeVerifyLookupAssembly(this, pSpec, pAssembly)"
When running the System.Runtime.Tests from CoreFx on a Debug CoreCLR, you see this assert.

Assert failure(PID 51988 [0x0000cb14], Thread: 14588 [0x38fc]): Postcondition failure: FAILED: UnsafeVerifyLookupAssembly(this, pSpec, pAssembly)

  CORECLR! CHECK::Trigger + 0x26A (0x00007ffd`2bb4ce1a)
  CORECLR! AssemblySpecBindingCache::StoreAssembly + 0x57D (0x00007ffd`2c0e63fd)
  CORECLR! AppDomain::Ad

[2016-10-25 20:18] gkhanna79 commented on #7801
@rahku Can you PTAL?

[2016-10-25 20:30] Maoni0 commented on #1259
@janvorli could you please take a look see if we can add this support?

[2016-10-25 20:34] janvorli commented on #1259
@Maoni0 sure, I already had it on my private list of stuff to work on in the future. 1.2.0 timeframe sounds good to me. I think that it should be quite straightforward - as @kangaroo has mentioned, madvise should be the tool we use for this purpose.

[2016-10-25 20:40] Maoni0 commented on #1259
great! thanks Jan.

[2016-10-25 20:45] pgavlin commented on #5668
I don't think that there's any work to do here: the JIT packages do not reference the CoreCLR packages.

[2016-10-25 20:45] #5668 closed

[2016-10-25 21:01] rahku commented on #6835
Works fine for me now.

[2016-10-25 21:01] #6835 closed

[2016-10-25 21:49] swaroop-sridhar commented on #6008
OK we can do that too.
@mazong1123 can you please put the code under the DEBUG switch instead of MEASURE_GCINFO.
The results can be printed under a COMPlus switch.
Since we can test it by running almost any test, I don't think adding new tests are necessary for it. Thanks.

[2016-10-25 22:20] RussKeldorph commented on #7277
@briansull Thanks!

[2016-10-25 22:22] ramarag opened #7807 "Query real swap file size and potential VA space on the target System"
This functionality will improve the perf for the MemoryFailPoint feature.
Follow up on https://github.com/dotnet/coreclr/pull/7751

This feature is needed on xplat

[2016-10-25 22:35] gkhanna79 commented on #7722
Assigned this to @alsemenn who is working on it.

CC @lt72

[2016-10-25 22:36] #7577 closed

[2016-10-25 22:40] gkhanna79 commented on #1743
@dagood What is the next step here? Is this actionable for 1.1.0?

[2016-10-25 22:40] gkhanna79 commented on #296
@mmitche should this be moved to 1.2.0/Future?

[2016-10-25 22:41] mmitche commented on #296
Sounds good to me

[2016-10-25 23:03] adityamandaleeka commented on #5687
This issue was marked as 1.1.0, but I moved it to 1.2.0 since there's nothing actionable for us to do now. The fix in the kernel needs to be released and CI machines should be updated at that point. For now, the CI machines have been running with THP disabled as a workaround and I haven't heard of this crash occurring since then.

[2016-10-25 23:08] parjong commented on #7771
@mskvortsov Sorry for late response. LLDB formatter-based solution seems to be reasonable.

[2016-10-25 23:08] #7771 closed

[2016-10-25 23:09] adityamandaleeka commented on #3939
Modifying the milestone for now since this is a test issue that doesn't block the 1.1.0 release.

As for fixing this, are there any CI runs (or other test runs) that are currently running these tests on x86 and failing? If so, we should disable them from running there. I looked at the commit made to address the related issue that @swgillespie mentioned above and don't think that it addresses this

[2016-10-25 23:15] parjong commented on #6569
@mazong1123 The issue seems to be related with non-ASCII encoding.

[2016-10-25 23:16] gkhanna79 commented on #4299
@mmitche Is this required for 1.1.0?

[2016-10-25 23:17] gkhanna79 commented on #5318
@ellismg Should this move out to 1.2.0?

[2016-10-25 23:17] gkhanna79 commented on #2834
@ellismg What are the next steps here?

[2016-10-25 23:19] ellismg commented on #2834
#7773 will address a fair amount of the pain here.

[2016-10-25 23:21] ellismg commented on #5318
@gkhanna79 Yes, done.

[2016-10-25 23:24] gkhanna79 commented on #2834
@ellismg I dont believe we intend to take that change for 1.1.0.

[2016-10-25 23:26] ellismg commented on #2834
@gkhanna79  Then push this out, #7773 reflects the way we want to handle this.

[2016-10-25 23:46] gokarnm opened #7812 "AssemblyLoadContext: Loading platform specific assets in a custom AssemblyLoadContext"
**Context** : I'm creating a custom AssemblyLoadContext in my application to load a plugin from a directory. The plugin directory contains the output from _dotnet publish_ command for the plugin project, using a [Framework-dependent deployment](https://docs.microsoft.com/en-us/dotnet/articles/core/deploying/#framework-dependent-deployments-fdd). If the plugin has dependencies which has platform sp

[2016-10-26 01:07] Petermarcu opened #7815 "DateTime.ToString(“o”) allocates 32 objects, including 7 StringBuilder objects"
Lots of logging happens in build systems and services, with time stamps, in text (UTF8) format. The most frequently used method for converting DateTime to text is DateTime.ToString(“o”) (round trip format).

It turns out single method call allocates 32 objects, including 7 StringBuilder objects, for total of 1,324 bytes in 64-bit, for DateTimeKind.Local case.

[2016-10-26 01:11] joshfree commented on #5851
/cc @russellhadley

[2016-10-26 01:48] mazong1123 commented on #6569
@parjong thanks! Do you know is this related to my locale setting? I'm also curious is this by design or a bug.

[2016-10-26 01:53] mazong1123 commented on #6008
@swaroop-sridhar  OK I'll do that.

[2016-10-26 02:14] parjong commented on #6569
@mazong1123 I'm not sure about that. I'm working on another issue as 8d51b631b3f commit disables this test.

I just guess that this issue is related with some encoding because Core CLR internally allocates 4 bytes for P/Invoke interop, but the strict itself requires 8 bytes (although it consists of 4 characters).

[2016-10-26 02:57] jkotas commented on #7812
cc @schellap @gkhanna79

[2016-10-26 04:11] gkhanna79 commented on #7812
@gokarnm

The resolution of RID specific assets is done by the .NET Core Host, which starts CoreCLR. This code lives in https://github.com/dotnet/core-setup/tree/master/src/corehost/cli - look for deps_resolver.*

2) No, currently there is no way to reuse this logic from outside the host.

[2016-10-26 07:39] mazong1123 commented on #7738
Count me in. I'd like to help on this.

[2016-10-26 09:51] mattwarren commented on #6809
Just out of interest, is this going to be fixed in Desktop/Full CLR as well in CoreCLR?

[2016-10-26 13:59] MrDetonia opened #7822 "Linux build error: call to deleted constructor of 'PAL_SEHException'"
Build output:

[code]

System information (Void GNU/Linux x86_64):

[code]

Let me know if anything else is useful.

I'm afraid I'm not at all familiar with this codebase, and had to look up what a deleted constructor is, so not too much help beyond this.

---

_EDIT_: As I see it, `PAL_SEHException` objects are non-copyable, and the `throw ex;` tries to make a copy?

[2016-10-26 14:12] mmitche commented on #4299
@gkhanna79 I have no idea, maybe @mikem8361 has an opinion?

[2016-10-26 14:30] #7797 closed

[2016-10-26 14:31] gkhanna79 commented on #4299
Moving to Future since this does not block any milestone.

[2016-10-26 14:31] gkhanna79 commented on #4299
CC @lt72

[2016-10-26 14:39] gkhanna79 commented on #2484
Moving to 1.2.0.

[2016-10-26 14:39] gkhanna79 commented on #1743
@dagood ?

[2016-10-26 14:40] gkhanna79 commented on #1872
@morganbr Is this actionable for 1.1.0 RTM?

[2016-10-26 14:41] gkhanna79 commented on #5739
Moving this out to 1.2.0 since this does not meet the bar for 1.1.0.

[2016-10-26 16:25] dagood commented on #1743
Windows symbols will be published for 1.1.0 releases, which I think strictly speaking is what this issue tracks. That's a post-build step, though, so I don't know if it's correct to track that with a github issue with the 1.1.0 milestone.

Automating symbol archive is in progress, but doesn't require CoreCLR source changes so I'm considering it an OOB infra improvement.

[2016-10-26 16:30] gkhanna79 commented on #1743
In that case, please close this issue and file a different one for the automatic symbol archiving work.

[2016-10-26 16:40] dagood opened #7824 "Automatically archive symbols for CoreCLR release branch builds"
To ensure releases have symbols archived without complicating the release process, we should archive symbols for each release branch build. This is purely an infra issue tracked in https://mseng.visualstudio.com/Tools/_workitems?id=605797, so this github issue is just for better visibility.

[2016-10-26 16:40] dagood commented on #1743
Alright, created https://github.com/dotnet/coreclr/issues/7824

[2016-10-26 16:40] #1743 closed

[2016-10-26 16:47] helloguo opened #7825 "RyuJIT missed one LICM opportunity"
Considering the following source code, RyuJIT missed one LICM opportunity in the function Test(int min, int max) as shown in the corresponding assembly.

The source code:
[code]

The assembly of Test(int min, int max) dumped by COMPlus_JitDump:
[code]

It's safe to move instructions `IN0004: 00000A mov      rdi, 0x7F789C000758` and
`IN0005: 000014 mov      rdi, gword ptr [rdi]` out of loop. Howeve

[2016-10-26 16:49] helloguo commented on #7825
@JosephTremoulet PTAL

[2016-10-26 16:50] gkhanna79 commented on #6718
@JohnChen0 Do you have any update on this?

[2016-10-26 16:53] JohnChen0 commented on #6718
I'm investigating. Will move to 1.2.0 if can't find a solution by 11 am.

[2016-10-26 17:02] JosephTremoulet commented on #7825
Yes, we fail to hoist invariant static variable loads today.  If the static's relocation type is `IMAGE_REL_BASED_REL32`, this is due to #6900; else it's due to [this code that explicitly refuses to hoist CLS_Vars](https://github.com/dotnet/coreclr/blob/cbd1f37b7b74647644686a9143d05fbdd15162c8/src/jit/optimizer.cpp#L6196-L6203).  I think the underlying issue in both cases is #7147.

[2016-10-26 17:15] mikedn commented on #7825
Note that if the array load is hoisted the length load could be hoisted too. JIT32 generates this code:
[code]

That said, the use of static (and probably instance too) field also blocks loop cloning so if someone cares about the performance of such a loop they'd better hoist manually.

[2016-10-26 17:43] gkhanna79 commented on #5834
@ericstj Is there anything actionable here for 1.1.0?

[2016-10-26 18:05] ericstj commented on #5834
No, we can punt.  I believe I just opened this for RTM because it was something that I wanted shiproom to be aware of.

[2016-10-26 18:06] gkhanna79 commented on #5834
Moved to 1.2.0. Please close if it is not actionable at all.

[2016-10-26 18:44] gkhanna79 commented on #6427
@brianrob Are you getting this in for 1.1.0?

[2016-10-26 18:56] brianrob commented on #6427
@gkhanna79, no, this one won't make it.  I will move it to the next release.

[2016-10-26 19:11] gkhanna79 commented on #5612
@ellismg Is this actionable for 1.1.0?

[2016-10-26 19:30] gokarnm commented on #7812
Thanks for the details!

I'm trying to understand how RID metadata defined here [Microsoft.NETCore.Platforms/runtime.json](https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtime.json) is used.
This information is available in the dotnet install dir in _C:\Program Files\dotnet\shared\Microsoft.NETCore.App\1.0.1\Microsoft.NETCore.App.deps.json_ under "runtimes" section.

[2016-10-26 19:30] janvorli commented on #5853
With the #7773 in, the only remaining part of dotnet sdk that is still Linux distro dependent (taking into account only distros based on glibc and not e.g. MUSL) is System.Security.Cryptography.Native.so from CoreFX. I have looked into that to see what options we have here.
This library links against libcrypto and libssl shared libraries and there is a difference in naming the shared library files

[2016-10-26 19:43] schellap commented on #7812
For portable apps, the host relies on two dependency files: MNA.deps and appname.deps, these files are merged such that app preferred (override) versions are given priority over framework versions.

For standalone apps, the appname.deps is entirely used.

In the future, there may be many dependency files depending on new features.

See above, for portable apps both are needed. This merged view tel

[2016-10-26 19:53] gkhanna79 commented on #7812
I would want to be very explicit here - using RIDs (and to perform asset resolution based upon the RID graph) is an internal implementation detail of .NET Core that could change anytime in future. Please **do not** rely on this as a formally supported feature.

If your intent is to determine how the plugin's dependencies get resolved automatically, based upon RIDs, then this is a slightly differen

[2016-10-26 20:15] morganbr commented on #1872
@gkhanna79  This isn't actionable for 1.1. It looks like the request it to support it on full framework (though the attribute would have to be updated on CoreCLR as well).

[2016-10-26 20:18] gokarnm commented on #7812
@schellap, agreed on your points against custom implementation, that is the least preferred option.

@gkhanna79, thanks for the warning against using internal implementation details. Here is the use case, I would like feedback on best way to move forward. I understand that some of these features may not be available immediately. I would be great to discuss if this is a feature worth adding.

1. Th

[2016-10-26 20:37] Clockwork-Muse opened #7829 "SafeBuffer.Initialize(numElements, sizeOfEachElement) subject to overflow issues."
[This check](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Runtime/InteropServices/SafeBuffer.cs#L127-L128):

[code]

both `numElements` and `sizeOfEachElement` are also of type `uint` (not that being `int` would prevent the problem).  If the multiplication happens unchecked, overflow would make the value less than the max value.  Probably the check should be written someth

[2016-10-26 20:55] JohnChen0 commented on #6695
Resolved with PR #7809.

[2016-10-26 20:55] #6695 closed

[2016-10-26 21:32] danmosemsft opened #7830 "", >, and < are valid wildcard characters"
FsRtllsNameInExpression offers MS-DOS-compatible wildcard characters: DOS_DOT, DOS_QM, and DOS_STAR, corresponding to ", >, and <, respectively. System.IO.PatternMatcher attempts to support these, so they should be treated as valid characters. Otherwise, behavior is inconsistent throughout .NET. See http://stackoverflow.com/a/17739503/1188377

Note that this pull request lacks a related bug fix th

[2016-10-26 21:39] jamesqo opened #7831 "Disassembly dump some times prints hex, sometimes doesn't"
I just noticed this while doing a JIT disassembly dump... sometimes the offsets of the memory addresses will be specified in hex, sometimes they'll be specified in decimal.

Repro code to dump:

[code]

Output:

[code]

[2016-10-26 21:44] danmosemsft opened #7833 "Enable crossgen to use SSE2 instructions for x86"
A PR was started for this https://github.com/dotnet/coreclr/pull/6647 but not finished. Perhaps a volunteer could take it over.

Notes from the PR:

crossgen currently doesn't generate SSE instructions of any kind for x86, which was causing issues in #6638 when I was attempting to use it with 16-and-larger byte types. This change enables it to use SSE2 instructions, dropping support for processors

[2016-10-26 21:58] janvorli commented on #7829
cc: @gkhanna79, @yizhang82
Not only this check is wrong, but also the first two checks in the function make no sense. The args are uints, so testing them for < 0 doesn't make sense.

[2016-10-26 22:07] JohnChen0 commented on #6718
@jashook I'm unable to repro the test failures using current build. Have you been able to repro them recently?

[2016-10-26 22:11] Maoni0 commented on #6809
yes, it will be fixed in both....I should be able to get to this soon :)

[2016-10-26 22:18] shrah opened #7834 "Port x-plat SecureString implementation from CoreFX to mscorlib"
The x-plat SecureString implementation need to be ported from corefx/src/System.Security.SecureString/src/System/Security/SecureString.cs  to mscorlib. This is required in order to port the Marshal.SecureStringTo* APIs as they take SecureString as parameter.

[2016-10-26 22:20] danmosemsft commented on #7834
Issue moved to [dotnet/corefx #13062](https://github.com/dotnet/corefx/issues/13062) via [**ZenHub**](https://www.zenhub.com/)

[2016-10-26 22:20] #7834 closed

[2016-10-26 23:23] gkhanna79 commented on #7722
@alsemenn Can this be closed?

[2016-10-26 23:23] gkhanna79 commented on #7723
@alsemenn Can this be closed?

[2016-10-27 00:26] #7723 closed

[2016-10-27 00:26] #7722 closed

[2016-10-27 00:33] #7625 closed

[2016-10-27 02:49] sivarv commented on #7780
CC @CarolEidt

Any method that uses SIMD `Vector<T>` will be excluded from Ngen for the reason that `Vector<T>` size depends on whether the underlying machine supports SSE2 or AVX2.  For example on SSE2 only capable machine, `Vector<T>` will be 16-bytes in size whereas on AVX2 machine it will be 32-bytes.  This is by design.

[2016-10-27 04:01] Clockwork-Muse opened #7841 "Testing-with-corefx instructions out of date"
The [instructions](https://github.com/dotnet/coreclr/blob/master/Documentation/building/testing-with-corefx.md) for testing with corefx basically consist of this:

.... but the instructions are out of date, and doing so causes an exception (if calling `build` from the root of the repository), or does nothing (if calling from a child project, or using msbuild)

[2016-10-27 04:17] ufcpp commented on #1784
Can this improve perfomance of `foreach` statement?
In some cases, `foreach` statement causes small object allocation:

[code]

[2016-10-27 04:43] mikedn commented on #1784
Not really, this was mentioned in some posts above that discussed LINQ. Not only that it is difficult to stack-allocate returned objects but you won't even reach that far because you can't perform escape analysis on `MoveNext()` and `Current` because they're interface calls.

It may work if `ViaInterface` is inlined, the JIT discovers that `IEnumerable<T>` is in fact `List<T>` and then it can inli

[2016-10-27 04:50] mikedn commented on #7833
RyuJIT can't generate non-SSE2 code so this is probably useless once x86 CLR moves to RyuJIT.

[2016-10-27 08:37] #6008 closed

[2016-10-27 14:23] JosephTremoulet opened #7843 "Unroll small loops over Vector<T> elements"
This is mentioned briefly in #7422, but I'm splitting it out into its own issue to make tracking easier.

Since Vector<T>.Count is not a constant at source level, any (non-intrinsic) aggregation/searching over Vector<T> elements is very likely to be written as a loop using a symbolic index.  The codegen for symbolic indexing uses a copy through memory to fetch the element.  Since Vector<T>.Count i

[2016-10-27 14:32] JosephTremoulet opened #7844 "JIT: EH pred cache lacks invalidation logic"
Method `Compiler::BlockPredsWithEH` [memoizes](https://github.com/dotnet/coreclr/blob/446e4f15e78278ad85b80f3160af88c15a6683fb/src/jit/block.cpp#L145-L148) its [results](https://github.com/dotnet/coreclr/blob/446e4f15e78278ad85b80f3160af88c15a6683fb/src/jit/block.cpp#L199), but there is no code to invalidate the `blockToEHPreds` map that it uses to do so (nor any individual entries in that map).

[2016-10-27 14:42] lucenticus opened #7845 "[Linux][GDBJIT] CoreCLR can't find usable version of the ICU libraries"
CoreCLR crashes with error message`No usable version of the ICU libraries was found` on Ubuntu 14.04 with enabled `FEATURE_GDBJIT`. Crash occurred since commit cf0c28faec35090781799df0a2360cf2440d05ce.
@janvorli, please take a look.

[code]

[2016-10-27 14:55] JosephTremoulet opened #7846 "JIT: liveness calculation underestimates heap-live-in"
The liveness calculation in `fgPerNodeLocalVarLiveness` (and elsewhere?)  [avoids](https://github.com/dotnet/coreclr/blob/446e4f15e78278ad85b80f3160af88c15a6683fb/src/jit/liveness.cpp#L332-L334) [setting](https://github.com/dotnet/coreclr/blob/446e4f15e78278ad85b80f3160af88c15a6683fb/src/jit/liveness.cpp#L360-L362) `fgCurHeapUse` [whenever](https://github.com/dotnet/coreclr/blob/446e4f15e78278ad85

[2016-10-27 14:56] RussKeldorph commented on #7831
Good catch.  Would be nice to make things consistent.

[2016-10-27 14:59] rynowak commented on #7780
Note that in this issue we're specifically referring to methods that don't use `Vector<T>` such as simple property accessors.

[2016-10-27 15:01] RussKeldorph commented on #7825
Please close if this is indeed a duplicate.

[2016-10-27 15:02] lucenticus commented on #7845
CC @Dmitri-Botcharnikov

[2016-10-27 15:05] JosephTremoulet commented on #7825
Yes, I believe it is a duplicate.

[2016-10-27 15:05] #7825 closed

[2016-10-27 15:12] janvorli commented on #7845
@lucenticus I don't see how would the FEATURE_GDBJIT influence the lookup for the ICU. What do you get if you do
ls /usr/lib/x86_64-linux-gnu/libicuuc.*
and
ls /usr/lib/x86_64-linux-gnu/libicui18n.*
?

[2016-10-27 15:39] mikem8361 commented on #4299
It doesn’t block anything.  We will probably want to upgrade to 3.9 away.

[2016-10-27 16:14] ayuckhulk commented on #7845
@lucenticus I see that there are changes to CMakeLists.txt files in the commit you mentioned. This may lead to incorrect build (based on my experience with CMake :) ). You may try to completely clean and rebuild CoreCLR.

[2016-10-27 16:23] gokarnm commented on #7785
.NET Core 1.1.0 is a "current" or FTS release as mentioned [here](https://blogs.msdn.microsoft.com/dotnet/2016/10/25/announcing-net-core-1-1-preview-1/). Closing this issue.

[2016-10-27 16:23] #7785 closed

[2016-10-27 16:27] choikwa commented on #7822
http://stackoverflow.com/questions/16432959/exception-and-copy-constructor-c

This seems to suggest that copy ctor must be accessible even if copy/move can be elided.

[2016-10-27 17:22] mikedn commented on #7641
#7787 partially took care of `return (x & y) == 0;` and `return (i8 & (1L << 42)) == 0;`. "Partially" because instead of eliminating the `and` the `test` gets eliminated.

[2016-10-27 17:30] swgillespie commented on #4536
The original issue does not reproduce anymore, but the reliability framework still doesn't run on non-Windows platforms due to p/invokes into `kernel32.dll`.

[code]

Shouldn't be too hard to fix.

[2016-10-27 17:31] ellismg commented on #5853
I don't know how @stephentoub and @gkhanna79 feel, but the libcurl option seems very fragile to me, and I would not want us to go down that path (for example, I know on RHEL, libcurl by default is compiled against NSS instead of OpenSSL, so we wouldn't get the behavior we want).

My preference is we just do the shim thing like we did with libicu.  I'd rather we not invent a different story for eac

[2016-10-27 17:59] swgillespie commented on #7822
Seems like clang should reject this program too for the same reason...

[2016-10-27 18:05] ubsan commented on #7822
I think clang calls the move constructor?

[2016-10-27 18:34] bartonjs commented on #5853
Statically linking OpenSSL is a very, very bad idea.  Especially if it is going to a customer.  (If it's an opt-in or bootstrap-only situation that's different).  Static inclusion of a frequently-updating security component is a very hard train to follow... because every OpenSSL CVE is also a dotnet CVE through static inclusion.

I don't know what the costs of the preloading would be.  If it's eff

[2016-10-27 18:55] #4514 closed

[2016-10-27 18:58] janvorli commented on #5853
@ellismg regarding the full static linking, I was investigating it in parallel while thinking about the options we have. The issue is that none of the static versions of dependencies we have can be used to create a shared library. I've tried to statically link with libcurl, libssl, libcrypto and ICU libraries and in all cases, as I have already said before, I have hit the problem that they were no

[2016-10-27 19:07] janvorli commented on #5853
@bartonjs thank you for pointing out the distro specific details like the cert store location. Are those really distro specific or is it possible to say that e.g. Fedora derived distros use one way, some other group of distros use another way etc?
Would you be able to put together a list of distro specific defines that you've mentioned or point me to a place where they are?
Does it sound unrealist

[2016-10-27 19:19] janvorli commented on #7822
The build actually uses clang, not g++. I assume it is a clang newer than 3.8, since the build with clang <= 3.8 is well tested.
@MrDetonia can you please try to run `clang --version`?
Anywats, this is a bug, there should be `throw std::move(ex);` instead. I guess the older clang compiler version must have somehow converted it to the move semantics automatically.

[2016-10-27 20:28] bartonjs commented on #5853
@janvorli `locate opensslconf.h`.  Though, the two that I were really worried about do seem to be queried via real functions (`X509_get_default_cert_file` and `X509_get_default_cert_dir`) (as opposed to macros pretending to be functions).  I don't know how preload would handle it if the distro turned off big features which make function exports disappear entirely... so that may still be a concern.

[2016-10-27 21:13] brianrob commented on #7780
Yup, came here to say what @rynowak said.  We're not concerned about pre-compilation of methods that use Vector<T>, but methods that don't use it but are in the same class should still be pre-compilable, right?

[2016-10-27 21:19] jkotas commented on #7780
In theory, it is possible. In practice, it is not as easy - the type loader operates on type granularity. It is why any `Vector<T>` field fails everything in the type.

[2016-10-27 22:51] BruceForstall opened #7859 "RyuJIT/x86: Implement SIMD support"
General issue to add SIMD support for RyuJIT/x86

[2016-10-27 22:54] BruceForstall opened #7860 "RyuJIT/x86 SIMD: decide on alignment"
There are aligned and unaligned SIMD memory instructions. On AMD64, the stack is 16 byte aligned, so SIMD locals can be aligned up to 16 bytes (we don't do dynamic stack alignment on AMD64). On x86, the stack is 4 byte aligned. We should presumably treat any larger SIMD locals as unaligned, to start, and then look into extending the x86 double alignment infrastructure to handle larger aligned size

[2016-10-27 22:56] ramarag opened #7861 "remove custom scripts to donwload coredistools"
Remove tests\setup-runtime-dependencies.\* and associated infra
To restore the coredistools package, just add an entry in
https://github.com/dotnet/coreclr/blob/master/tests/src/Common/test_runtime/project.json

cc @swaroop-sridhar Please reroute accordingly

[2016-10-27 22:56] BruceForstall opened #7862 "RyuJIT/x86 SIMD: support SIMD intrinsics for LONG base types; implement LONG decomposition"
See Compiler::getSIMDIntrinsicInfo()

NYI: x86 long base type SIMD intrinsics

[2016-10-27 23:14] BruceForstall opened #7863 "RyuJIT/x86 SIMD: NYI: Lowering of TYP_SIMD12 locals"
lower.cpp, LowerNode()

[2016-10-27 23:25] MrDetonia commented on #7822
@janvorli I'm away from that system right now but the version in the repositories is 3.9.0.
I did try `std::move(ex)` and that seemed to get rid of that error, though I have a few more build errors from other places. I guess that fixes this particular issue?
I'll keep trying to get this compiling.

[2016-10-28 00:50] BruceForstall commented on #7860
From #7864:

FYI: Please note that this routine gets used in lclvars.cpp::lvaAllocLocalAndSetVirtualOffset() and that logic is enabled only for 64-bit. There is another #define that governs whether SIMD locals are aligned ALIGN_SIMD_TYPES (in target.h), which is currently defined only for amd64.
isSIMDTypeLocalAligned() defined in compiler.h is the one used by codegen to check whether a SIMD local

[2016-10-28 03:58] parjong opened #7868 "[ARM/Linux] Core FX Unittest 'System.Linq.Expressions.Tests' Failure"
While testing Core FX, I encountered the following test failure:

[code]

I can reproduce this issue with the following example (which is reduced from the above test):

[code]

[2016-10-28 06:57] lucenticus commented on #7845
@janvorli here is an output of these command:
[code]
@ayuckhulk Unfortunately, clean up and rebuild didn't help me:(

[2016-10-28 07:20] hseok-oh opened #7871 "[ARM32/Linux] Unittest JIT/superpmi/superpmicollect failure"
Environment: Linux / ARM 32bit (hardfp)
CoreCLR: Release build
CoreFX: Release build

Test failure log

[code]

Repeat similar error message:

[code]

[2016-10-28 07:21] hseok-oh commented on #7871
/cc @wateret

[2016-10-28 08:52] janvorli commented on #7845
This is really strange. I have the same versions of these libs on my Ubuntu 14.04. Could you please try to run your test with `LD_DEBUG=libs` and share the output?

[2016-10-28 09:51] janvorli commented on #5853
@bartonjs Identifying functions that are not present is easy. If I create a shim that uses dlsym to get all the symbol addresses, the missing one would get NULL and we can check for that in the code. If we used #pragma weak, it would be the same case - again, testing a function symbol to NULL checks whether the function was resolved or not.

[2016-10-28 10:10] lucenticus commented on #7845
Here is a log with set up `LD_DEBUG` [output.txt](https://github.com/dotnet/coreclr/files/558091/output.txt)
It seems that corerun tried to load `libicuuc.so.57`, but couldn't find it.
I found `libicuuc.so.57` in `/usr/local/lib/`:
[code]

[2016-10-28 11:31] jkotas commented on #5974
The discussion on this can continue in dotnet/corefx#12746. Even though the build-in random algorithm is not perfect, changing it would very likely cause many breakages accross the ecosystem - it is unlikely we can accept changes in it.

[2016-10-28 11:31] #5974 closed

[2016-10-28 11:40] janvorli commented on #7845
Ah, I guess I can see the problem. You have libicu version 57 installed, but the actual lib file name doesn't contain minor version. In other words, the name of the actual lib is /usr/local/lib/libicuuc.so.57, but I am expecting that it is named /usr/local/lib/libicuuc.so.57.minorVer and the /usr/local/lib/libicuuc.so.57 is always just link to it.
The algorithm always uses the version of the devel

[2016-10-28 11:56] lucenticus commented on #7845
`CLR_ICU_VERSION_OVERRIDE=57` fixed the issue, thanks a lot! I don't remember where I got libicuuc.so.57 without minor version, probably I built it from sources or downloaded it from official site, but it was long long time ago:)

[2016-10-28 16:44] MichalStrehovsky opened #7877 "ReadyToRun: JIT helper not supported: CORINFO_HELP_INITCLASS"
Running crossgen on the below code results in following messages

[code]

Infrastructure to support this has been added to RyuJIT with #7842, but this is currently excluded with `eeGetEEInfo()->targetAbi == CORINFO_CORERT_ABI` because only CoreRT knows how to generate the helper.

[code]

[2016-10-28 16:48] JohnChen0 commented on #6718
Closing as No Repro. Please re-open if necessary.

[2016-10-28 16:48] #6718 closed

[2016-10-28 16:55] mikedn commented on #7831
The display code does this on purpose:
[code]
Having written similar code in the past I'm not surprised at all by this "inconsistency".

[2016-10-28 16:59] adiaaida opened #7878 "RyuJIT x86: Fix DecomposeRotate for Debug builds"
# 7724 implemented DecomposeRotate, and while it passes the Checked and Release x86 ryujit builds, it fails in Debug.

[2016-10-28 17:09] adiaaida opened #7879 "x86: Fix release failures introduced by #7837"
#7837 introduced 13 failures in the release test run of x86 ryujit:

[code]

[2016-10-28 17:41] jamesqo commented on #7831
@mikedn I see. Can you explain what `frameRef` is supposed to be?

[2016-10-28 18:26] mikedn commented on #7831
@jamesqo `frameRef` basically means local variable or method argument

[2016-10-28 18:46] jamesqo commented on #7831
:+1:

[2016-10-28 18:46] #7831 closed

[2016-10-28 19:35] JosephTremoulet commented on #7434
Notice the `(last use)` annotations in the sources of those copies.  It turns out `optCopyProp` [refuses to extend lifetimes, for fear of breaking conventional SSA form in the face of pruned PHIs](https://github.com/dotnet/coreclr/blob/e03b224c208d77f585e409fffedf28b396be538d/src/jit/copyprop.cpp#L198-L210), so it doesn't get these cases.

[2016-10-28 20:22] gkhanna79 commented on #7669
@RussKeldorph What happens during a release run of the product? Does the test pass?

@karelz @weshaggard Can you please have someone look into this asap?

[2016-10-28 20:28] RussKeldorph commented on #7669
[This](https://ci.dot.net/job/dotnet_corefx/job/release_1.1.0/) is passing, so I assume the test passes.  I can't say whether the assertion indicates a product bug, but the popup is problematic for coreclr Checked builds, which affects our ability to find other bugs.

[2016-10-28 20:34] karelz commented on #7669
@AtsushiKan owns Reflection ...

[2016-10-28 20:50] ramarag commented on #7861
cc @gkhanna79 @russellhadley

[2016-10-28 20:53] danmosemsft opened #7880 "Enable fxcop security rules by default in mscorlib build"
.. and fix/baseline all issues. @alexperovich is already doing this for corefx.

[2016-10-28 20:55] JosephTremoulet commented on #7434
As for the assignment chain that begins with `nullptr`, I looked to see why constant prop wasn't kicking in.  It turns out to be due to some of the `GTF_DONT_CSE` annotations that are temporarily in place as part of the 1st-class-struct work; commenting out a few of those (already marked with `TODO-1stClassStructs` comments) enables constant propagation and improves the resulting code sequences, s

[2016-10-28 21:45] danmosemsft commented on #7841
@ellismg looks related to https://github.com/dotnet/buildtools/pull/753. Do you expect this to work?

This is the first I've seen of this mechanism and I certainly would find it useful to be able to run tests including changes I've made in coreclr. What would be particularly useful is if it could include mscorlib symbols, since then we could get code coverage data.

[2016-10-28 21:55] Petermarcu opened #7881 "DateTime.ToString(“R”) allocates too much"
There are alternate lower allocating approaches. I know of a few I'll add to this issue when I find them again.

[2016-10-28 22:48] AtsushiKan commented on #7669
Fixed issue title to indicate the assert that's actually firing.

Assert is triggered by this recently added test code:

    new EnumBuilder("a\0b\0c\0", ...)

[2016-10-28 23:00] Clockwork-Muse commented on #7841
Hmmm... It hasn't been able to pull in coreclr stuff since around that time, or at least not going by those instructions (at the time I was dealing with changes to BitArray).  Or it's possible that it just no longer pulls in mscorlib while doing so.

[2016-10-28 23:18] redknightlois commented on #6024
Just to provide some context of the kind of speed up (and business value) this kind of optimization can achieve and the complexity of the code we have to write to work-around the lack of control.

This is the code we have to write:

[code]
and we have many such routines, it is not an isolated case.

For a detailed analysis on how much we are able to gain using this workaround see: https://ayende.c

[2016-10-29 00:14] sivarv commented on #7572
@redknightlois - did you get a chance to try out new JIT and measure perf?

[2016-10-29 00:23] #6505 closed

[2016-10-29 01:55] redknightlois commented on #7572
@sivarv not yet. I need https://github.com/PerfDotNet/BenchmarkDotNet/issues/292 to be resolved to get the proper benchmark data out. For ```long``` values it doesnt seem to generate different code though. Have to try it out with ```int``` values, but wont be able until probably mid next week.

[2016-10-29 04:08] mazong1123 commented on #6856
@jkotas How about remove the "hr == E_OUTOFMEMORY" but keep "!"Unknown failure in DefineUserString"" ? So the final result is:

[code]

[2016-10-29 04:17] jkotas commented on #6856
We use asserts for conditions that always hold. Assert should never fire. if the assert fires, it means there is a bug.

Since this can fail for number of different reasons, the right way to fix is to delete the assert.

[2016-10-29 04:26] Petermarcu commented on #7815
fixed by #7836

[2016-10-29 04:26] #7815 closed

[2016-10-29 07:30] mikedn commented on #6024
This looks like partial inlining, not branch prediction stuff. Granted, partial inlining would need to know if the branch is likely taken or not but ultimately partial inlining is a feature in its own right and not a trivial one.

[2016-10-29 11:55] redknightlois commented on #6024
Branch predicción and aggresive inlining will behave in the same way as partial inlining. I the JIT knows that first part of the code is expected or the second is rare, then it will be marked cold. the rare block of code is going to be written at the end of the method. With the added benefit of skipping the method call altogether. Partial inlining in its own right is very difficult but you can sti

[2016-10-29 12:36] mikedn commented on #7447
FWIW I've made a prototype that survives diffing and testing. It detects simple half/full hammocks where the true/false BBs contain a single assignment (or a return) that involves only local variables and constants. It only works with i4 and i8 but with some care we might be able to handle small integer types.

I'll probably try to extend this to indirs though it's problematic due to side-effects.

[2016-10-29 14:54] mikedn commented on #6024
This doesn't apply to `TryGetValue` because it contains exception handling. So we're back at square one, you want branch prediction hints but in reality you need inlining to work in the presence of EH.

It doesn't really matter where that block of code is going to be written. What marking a block as rarely run may do is improve register allocation and in turn that may make the surrounding code mor

[2016-10-29 17:14] redknightlois commented on #6024
Not really that is just a single example, our most common example is the code I posted (as code).

Agree that the blog example which would require EH but we can still workaround it (as we did it) in those cases. Most of the time we are just dealing with our code, therefore we are (among other things) abusing goto's to control the emitted code and generate cold sections by hand (which could be solv

[2016-10-29 17:47] #6856 closed

[2016-10-29 19:05] mikedn commented on #6024
So if I understand correctly PageLocatorV7 is the best version you have. And 32 items probably means that cacheSize is 32. I played with `Reset` and on my machine it takes ~14ns when the page is not in cache. Seems quite a bit faster than your 23ns, maybe I have a faster processor.

Anyway, that code doesn't need `unlikely()` hints. The JIT simply needs to move such loop post exit blocks outside t

[2016-10-29 19:47] mikedn commented on #7447
As a simple perf test let's sum all the positive numbers from an array:
[code]
As mentioned above, use of `+=` blocks if-conversion so we don't get CMOV:
[code]
With 1,000,000 numbers this runs in 630us if all numbers are positive and 4300us if we have a random mix of positive and negative numbers. Poor branch prediction takes its toll.

If we change the sum expression so that if-conversion kicks

[2016-10-29 19:50] redknightlois commented on #6024
Depends on the processor, we have to support a wide array of hardware. On our lowest level hw (the one we use for measurements) int had a sensible advantage by the time we introduced the use of fingerprints. Gonna take a look if bound checking removal had any side effect there.

To the point, unlikely is not just branch prediction it is also a hint to move the block outside of the hot path entirel

[2016-10-29 19:52] redknightlois commented on #6024
Btw use Read because in many cases the other ops weren't optimized at all and are leftovers of previous attempt s

[2016-10-29 21:26] mikedn commented on #6024
There's no way that `int` is better than `long` for the iteration variable on any 64 bit CPU. The code generated when using `int` is just horrendous.

Well, it certainly has nothing to do with branch prediction, the CPU should have no problem predicting those branches correctly. The slowdown is most likely caused by the slightly higher cost of taken branches (even if they're correctly predicted) a

[2016-10-29 22:34] davidfowl commented on #7881
See https://github.com/aspnet/HttpAbstractions/pull/716/files

[2016-10-29 23:12] redknightlois commented on #6024
At higher sizes the memory loads add up. We optimized this to move from 16 to 64+ ... Eventually we figured out that for most cases we can manage with 64. At 8 bytes per item with 64 items size it's still 512 bytes vs 256 bytes. As long as you can keep that horrendous code dependency free the processor still manages to execute it very efficiently. I will try out long on a few architectures next we

[2016-10-30 06:43] BruceForstall commented on #7879
This was opened as a RyuJIT x86 issue, but is an issue only in the VM.

The cause is silent bad code generation in VM executable code generated by the Visual C++ compiler for x86 release builds.

Details below:
[code]

[2016-10-30 06:52] Petermarcu commented on #7881
I have a change that shows a more than 50% reduction in allocated bytes and 75% reduction in allocations. Will make a PR soon.

[2016-10-30 09:34] #7879 closed

[2016-10-30 11:45] stephentoub opened #7892 "BinaryCompatibility type returning the wrong values"
When corefx upgraded to a newer coreclr in https://github.com/dotnet/corefx/pull/12836, some async-related tests started breaking.  It appears to be due to System.Runtime.Versioning.BinaryCompatibility.TargetsAtLeast_Desktop_V4_5 now returning false, which has the effect of reverting several fixes made in coreclr years ago.

[2016-10-30 15:29] jkotas commented on #7892
Looks like regression introduced by https://github.com/dotnet/coreclr/pull/5708

[2016-10-30 16:50] BruceForstall commented on #7859
Basic SIMD support has been implemented and merged. Remaining work is tracked as separate issues.

[2016-10-30 16:50] #7859 closed

[2016-10-30 20:24] brunom opened #7893 "System.Numerics.Vectors for pointers not only arrays"
I want to process data from native components that I have a pointer to, not an arraay.

[2016-10-30 21:18] jkotas opened #7894 "Span<T>.Slice method is hitting asserts in JIT on Unix"
`Assertion failed '((regMask & emitThisGCrefRegs) && (ins == INS_add)) || ((regMask & emitThisByrefRegs) && (ins == INS_add || ins == INS_sub))' in 'System.Span`1[Byte][System.Byte]:Slice(int,int):struct:this' (IL size 44)`

[2016-10-30 21:19] jkotas commented on #7894
I am adding `[MethodImpl(MethodImplOptions.NoOptimization)]` workaround in #7886 that should be removed once this is fixed.

[2016-10-30 21:20] davidfowl commented on #7893
You can use https://www.nuget.org/packages/System.Runtime.CompilerServices.Unsafe/4.0.0 to do `Unsafe.Read<Vector<T>>(pointer)`

[2016-10-30 21:24] brunom commented on #7893
Awesome, I'll try that.

[2016-10-30 22:01] stephentoub commented on #7892
Yup. With this program:
[code]
if I run this against what's in master, I get:
[code]
If I then revert https://github.com/dotnet/coreclr/commit/0e4869a6930cfb6278b51130bbccfc323ef61053 and run again, I get:
[code]
so that commit does appear to be the cause.

[2016-10-30 23:05] AlexGhiondea commented on #7892
Indeed. The commit also defaults the tfm to unspecified instead of netframework and version 50000.

I can change the behavior for the BinaryCompatibility class to default to 50000.

Should we consider changing the quirks behavior to use AppContext?

[2016-10-31 00:15] jkotas commented on #7892
The `BinaryCompatibility` quirks should be deleted (once the github / TFS mirror is turned off).

[2016-10-31 02:04] stephentoub opened #7896 "Assert in CORECLR!tagCOR_ILMETHOD_FAT::GetSize while doing code coverage on debug coreclr"
I repeatedly hit the following assert while trying to run the corefx System.IO.Tests on a debug coreclr built from the latest in master while using OpenCover to gather code coverage data.

[code]

[2016-10-31 05:43] #7881 closed

[2016-10-31 08:45] JPBlanc opened #7899 "Raspberry PI 3 (ARM) Windows 10 iot target"
Sorry, not a real issue

I perhaps lose something, but I can't find a way to install .Net Core on Raspberry PI3.

I post the issue #4400 on _dotnet/cli_ , my answer was closed, and I was redirected to this project by piotrpMSFT.

Is there a roadmap to target these machines ?

Can I help in testing or developping ?

I used to be a system developper on unix, OS/2 and then Windows from 1995 to 2003 a

[2016-10-31 13:39] JosephTremoulet commented on #7434
I wonder if there's a reasonable way to adjust the analysis so that crossing a "last use" doesn't disqualify a candidate until the end of the block is reached, to at least get intra-block cases, since the concern is specifically about extending the lifetime across a pruned phi...

[2016-10-31 15:10] jkotas commented on #7899
cc @gkhanna79

[2016-10-31 15:15] jkotas commented on #7899
CoreCLR can build for Windows ARM as of right now - the build was enabled in the CI just recently https://github.com/dotnet/coreclr/pull/7637. The remaining work is in getting the Windows ARM support pushed throughout the rest of .NET Core stack, testing, etc.

[2016-10-31 15:37] #7893 closed

[2016-10-31 15:39] jkotas commented on #7896
Profiler API bug?

[2016-10-31 15:40] treziac opened #7902 "Edit and continue not working"
When creating a Console Application project (.NET Core) in visual studio 2015, edit and continue is not working in debug (classic "this source file has changed. It no longer matches the version of the file used to build the application being debugged")
However, it works when creating a standard console application project.

Couldn't find any info on the edit and continue feature on core project, i

[2016-10-31 15:44] jkotas commented on #7896
This is crashing on dynamic method.
cc @mjsabby

[2016-10-31 16:18] lt72 commented on #7660
@mikem8361: You will find the info at the corresponding TFS item https://devdiv.visualstudio.com/DevDiv/_workitems?id=278149&_a=edit

[2016-10-31 17:08] gkhanna79 commented on #7899
@JPBlanc @jkotas is correct. We have been bringing up parts of the .NET Core stack building for Windows Arm32. Over the weekend, I got the builds enabled in https://github.com/dotnet/core-setup CI as well.

With the stack building, you should be able to play with it though keep in mind that no testing has been done of any sort across the board as the infrastructure needs to be brought up. As we co

[2016-10-31 17:13] JosephTremoulet opened #7903 "JIT: Value numbering overly conservative around byrefs"
Value numbering is (rightly) conservative w.r.t. indirections off byrefs, but should at least be able to remove back-to-back redundant loads.  For example, consider method `Detail` below:

[code]

We generate redundant loads of `this.ex` for each of the arguments:

[code]

When value numbering the indirection via `this`, rather than falling down into [this code](https://github.com/dotnet/coreclr/b

[2016-10-31 17:38] gkhanna79 commented on #7345
@tmds Are you still running into the inability to build? If so, which branch in CoreCLR repo? @mellinoe has been on point to ensure that all supported Platforms are building clean and can help with the issue if it still persists.

[2016-10-31 18:09] JosephTremoulet commented on #7434
@schellap, any thoughts on effective ways to extend copy prop to cover more (e.g. intra-block) lifetime-extension cases?  I'm wondering if we could do something like have the liveness check use the overload of   `compUpdateLife` that returns the set of last-use vars, and allow propagating uses of those until end-of-block (plus whatever logic would be needed to update the liveness information itsel

[2016-10-31 18:29] mellinoe commented on #2266
@gkhanna79 @JohnChen0 Did we ever find any new information about this? We still see repro's of this in some of our test runs.

[2016-10-31 19:01] jkotas commented on #7894
Note that even though this was hit by the new Span code, there is nothing Span-specific in the repro. This looks like a general codegen bug.

To repro:

- Revert https://github.com/dotnet/coreclr/commit/4c5e9791dcc5b082ae01abc437dcb7456ae3e806
- crossgen System.Private.CoreLib on Unix

[2016-10-31 19:12] JosephTremoulet opened #7906 "JIT: loop detection: Initial value dominance test insufficient"
When `optRecordLoop` tries to identify a fixed initial value for a loop IV, it must ensure that the proposed initial value is the reaching def on entry to the loop.  The [current check](https://github.com/dotnet/coreclr/blob/f42984160f5f9407f70ebc2e86edfcf226fccd81/src/jit/optimizer.cpp#L1219-L1224) simply checks if the `head` block (which ends with initialization [possibly followed by a duplicate

[2016-10-31 19:30] AndyAyersMS opened #7907 "JIT: bad codegen when a method is not an inline candidate"
The jit spills the evaluation stack less aggressively at calls that are not considered inline candidates. This difference leads to a codegen bug in the following test case (distilled from Roslyn):

[code]
The IL for this method shows `arg1` (`count`) being pushed on the stack, and then while this is live, a call that can modify `arg1`. If the stack is not spilled at the call then the JIT will deci

[2016-10-31 20:01] AndyAyersMS opened #7914 "JIT: opportunities for improving async state machine codegen"
There are some idiomatic patterns in the async state machines created by the C# compiler that cause the jit to generate sub-optimal code.

A motivating example is the method `<RequestProcessingAsync>d__2[Context][Microsoft.AspNetCore.Hosting.Internal.HostingApplication+Context]:MoveNext():this` from Kestrel ([source code](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCor

[2016-10-31 20:25] tmds commented on #7345
DotnetCLIVersion.txt on master is still pointing to a dotnet version that
crashes on linux >= 4.6.

Op ma 31 okt. 2016 om 18:38 schreef Gaurav Khanna <notifications@github.com

[2016-10-31 20:43] gkhanna79 commented on #7345
@livarcocc @mellinoe What version should be used that contains the required fix?

[2016-10-31 21:03] piotrpMSFT commented on #7345
@gkhanna79 @tmds what version of coreclr added the fix? I'll see when that got incorporated.

[2016-10-31 21:06] noahfalk commented on #7896
FYI: To the best of my knowledge, the folks who did OpenCover have never supported it on coreclr. It certainly might be a coreclr profiler bug in this case and we should still investigate.

[2016-10-31 21:07] noahfalk commented on #7896
@lt72 - I'll you triage/delegate this (including back to me if you want)

[2016-10-31 21:09] mellinoe commented on #7345
Can we just update everything to use the stable CLI coming out of the preview2.1 branch? It's running on the 1.1 RTM shared framework and works on all the distros we care about. Except for Alpine, but we will need to copy that bootstrap version over regardless of what version we choose.

[2016-10-31 21:13] piotrpMSFT commented on #7345
I think that's the right call @mellinoe. The latest from preview3 dropped PJ support which would likely not play well in coreclr repo at the moment.

[2016-10-31 22:26] AndyAyersMS opened #7916 "CoreCLR test tree build is very slow"
Building tests in CoreCLR now takes me around 1 hour. This seems excessive.
[code]
Not sure of all the reasons, but among other things the test build creates a 4GB log file...
[code]

[2016-10-31 22:30] mjsabby commented on #7896
taking a look.

[2016-10-31 23:47] AndyAyersMS commented on #7916
Log verbosity is set to `diag` when building tests. Dropping this to `normal` cuts the log down to 20MB and dropts the test rebuild time to 8 minutes on my machine. This may not be an entirely fair comparison to the 1hr above; I'll do a clean test build at some point to double-check.

[2016-10-31 23:49] parjong opened #7919 "[ARM/Linux] Regression in 'CoreMangLib.cti.system.string.StringJoin'"
I recently encountered the following failure for ``CoreMangLib.cti.system.string.StringJoin`` test:
[code]

I observed this failure at 482cb7c67ec (it was passed at 5672210ce21).

This issue seems to occur for low-memory environment. I have been used a device with 1GB physical memory for test. For that device, this failure occurs when swap is disabled, but disappears when swap is enabled.

[2016-11-01 00:03] danmosemsft commented on #7916
This was introduced by @wtgodbe in 69ab16ac55d423935dd40c12237903b0c3a0c170.  Guess: it was accidentally left over from development.

Incidentally I think the best console verbosity is minimal. That should have been the default originally.

[2016-11-01 01:33] mjsabby commented on #7896
Alright, I've identified the problem and pushed a PR.

[2016-11-01 05:29] #7906 closed

[2016-11-01 10:22] MrDetonia commented on #7822
Clang version information:
[code]

After changing that line, the build errors I have left all seem to be `binding dereferenced null pointer to reference has undefined behavior` in various files (`28 errors generated`).
I take it that these errors are a result of the newer clang version.

Would it be worth posting the build errors in this topic, or making a new issue for those?

[2016-11-01 13:28] #7896 closed

[2016-11-01 16:07] mogmios opened #7932 "Low memory handling?"
In CLR / .NET / C# is there any standard cross-platform way to receive a low memory notice before actually running out of memory? With Xamarin you can use DidReceiveMemoryWarning and there seems to be a couple methods specific to Windows that don't seem to work even on Windows.

MemoryManager AppMemoryUsageDecreased and most of the related functionality will compile ok but then throw mystery error

[2016-11-01 16:52] weshaggard commented on #972
We have only been running it on truly forked code that lives in corefx as the coreclr code is still mirrored internally and shared. Once we turn off the mirror it will be disconnected and then we can decide to format it or not. At that point the primary code sharing is between this and corert. @jkotas do you have thoughts on running the formatter on this code?

Because this is about formatting cod

[2016-11-01 17:01] danmosemsft commented on #7916
fixed by  d3e9e00

[2016-11-01 17:01] #7916 closed

[2016-11-01 17:31] jkotas commented on #972
There would be quite a bit of manual adjustment needed to make everything work again. There is a lot of unwritten contracts about internal type, method and fields names. When we have run codeformatter on corert corelib, it took like a week of fulltime work to do the manual adjustments, followed by a bug tail from different directions.

A better plan - after the mirror is disabled - may be:

1. Swi

[2016-11-01 18:35] JohnChen0 commented on #6482
Resolved with #7849.

[2016-11-01 18:35] #6482 closed

[2016-11-01 19:57] RussKeldorph commented on #7626
@dagood Since you fixed #6022, any idea what happened here and what it would take to fix?

[2016-11-01 20:18] #7907 closed

[2016-11-01 20:40] dagood commented on #7626
Looked into it, remembered that things were being upgraded from 1.0 to 1.1 recently. The default in buildtools is 1.0, so there was a mismatch in the restore during build. (Actually, on that note, package restore probably shouldn't be happening during the build. Luckily `IsRestoreRequired` makes it fast anyway.)

[2016-11-01 21:18] danmosemsft opened #7941 "threading.WaitForSingleObject.WFSOExSemaphoreTest failed in CI on Centos"
`https://ci.dot.net/job/dotnet_coreclr/job/master/job/debug_centos7.1_prtest/1418/testReport/junit/threading/WaitForSingleObject/WFSOExSemaphoreTest/`

Expected thread to wait for 4000 ms (and not be interrupted). Thread waited for 3825 ms! (Acceptable delta: 300)

[2016-11-01 21:20] danmosemsft commented on #6573
Happened again
`https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_emulator_cross_debug_ubuntu_prtest/1499/consoleFull#2096352037c7af6a29-b465-404a-b249-90a3911e4354`

[code]

[2016-11-01 22:45] choikwa commented on #1279
@BruceForstall Could you share where this might be? I saw that CoreCLR generates 0 initialization of stack locals all the way in the prolog in one of the Kestrel hotspots.

[2016-11-01 22:57] benaadams commented on #1279
@choikwa you can do it with stackalloc, but you have to do a weird pattern of stackallocing in one function and nothing else except passing that variable into another function - then the function doing the stackalloc won't zero.

[2016-11-01 23:09] BruceForstall commented on #1279
For stackalloc, the code is in CodeGen::genLclHeap(). Zero init of stack locals in the normal prolog is in CodeGen::genZeroInitFrame()

[2016-11-01 23:14] choikwa commented on #1279
Is there any particular reason why zero init of stack locals must be done at the prologue? Why not expose this to the optimizer which dead store eliminate or can push down init. where it's only necessary?

[2016-11-02 00:30] VSadov commented on #7914
The degenerate switch case will commonly happen when "awaits" are in a a "try" region. We dispatch the execution according to the current state to the appropriate resume point. However, we cannot dispatch directly to resume points that are inside "try", so we dispatch those to a label right before the "try" and than sub-dispatch inside the try.

As a result you may have contiguous segments of the

[2016-11-02 06:05] BruceForstall commented on #1279
(I believe) we only zero init local vars with GC types that are untracked (thus don't get individual operation GC state change information). There may be other cases, such as potentially uninitialized locals in verifiable code.

[2016-11-02 07:54] hughbe commented on #7669
Yeah I added this - it passed on my PC and the CI. Odd that this fails, considering that TypeBuilder has had a similar test for a while

[2016-11-02 14:13] jkotas opened #7952 "Redo the argument name corrections"
Redo the argument name corrections, with matching corefx test updates:

https://github.com/dotnet/coreclr/pull/7950
https://github.com/dotnet/coreclr/pull/7951

cc @Clockwork-Muse

[2016-11-02 14:54] dagood commented on #6022
@mazong1123 I think this has been fixed in https://github.com/dotnet/coreclr/issues/7626. This 6022 issue was resolved for a while, but it was just never closed and eventually regressed. Closing now--let me know if you're still seeing a ton of warnings and I can reopen #7626 if it matches the warnings you're seeing.

[2016-11-02 14:54] #6022 closed

[2016-11-02 15:22] #7878 closed

[2016-11-02 15:33] AndyAyersMS opened #7954 "JIT: assert seen when running tests via run-xunit-perf.cmd"
To repro:

- build x64 checked

- cd tests && runtest x64 checked, or at least runtest x64 checked GenerateLayoutOnly

- cd <root> && tests\scripts\run-xunit-perf.cmd -arch x64 -configuration Checked -testBinLoc bin\tests\Windows_NT.x64.Checked\JIT\Performance\CodeQuality\Roslyn

Result is:
[code]

This works at 09c9b00 and fails at the subsequent 9c95461

[2016-11-02 15:47] dagood commented on #7626
Looking in the CI for #7937 I actually still see a ton of warnings: https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_release_windows_nt_pri1_prtest/1424/consoleText. Reopening.

The problem looks like the right framework (1.1) just needs to be more uniformly applied (e.g. https://github.com/dotnet/coreclr/blob/a4e26c85b3de677df72c1beb94844e0e52243170/tests/src/JIT/config/minimal/project.js

[2016-11-02 15:47] JPBlanc commented on #7899
@gkhanna79 to be concrete, what have I to do to get a dotnet CLI on my ARM32 ?

Perhaps you can give me some guidelines?

Thanks in advance.

[2016-11-02 16:59] RussKeldorph commented on #7626
@dagood Thanks for the help.  Looks like mostly JIT references remaining.
[code]
So I can finish it off.

@dotnet/jit-contrib FYI

[2016-11-02 17:44] danmosemsft commented on #7941
@kouvel is this yours?

[2016-11-02 17:57] janvorli commented on #7822
@MrDetonia I was able to repro the issues locally with Clang 3.9.0 too. I have already merged in a fix for the `std::move(ex)` thing.
Please create a new issue for the other issue.

[2016-11-02 18:05] JohnChen0 commented on #2266
I haven't been able to make much progress on this issue. I have been able to repro it locally, but since the repro is non-deterministic, it is hard to investigate what caused it.

[2016-11-02 18:05] kouvel commented on #7941
It's one of the old tests, I'll fix

[2016-11-02 18:38] JohnChen0 opened #7955 "Investigate mapping one R2R image multiple times into memory"
Currently, each Ready-to-Run image is only mapped once into the memory, even if it is loaded into multiple load contexts. The consequence is the pre-compiled native code can only be used in one load context, and JIT compiling must be used in all other load contexts.

We should investigate whether it's possible to map the same image multiple times into memory. This should make it possible to use pr

[2016-11-02 18:46] choikwa commented on #1279
Cursory search for zero init of locals:
- Above method, in the prolog generation by tracking lvMustInit field of LclVarDsc
  - tracking seems to be done at Compiler::fgInterBlockLocalVarLiveness().

     I am confused by this comment; I would be thrilled if someone could explain it to me for the need for volatility and must-init.

           block as either volatile for non-GC ref types or as

[2016-11-02 19:47] gafter opened #7957 "Unused generic type parameter should not cause loader failure"
Consider the following code:

[code]

This code will compile with C# 6.0 and is legal according to the CLI spec.  The type definition is recursive but the layout of the struct is not because the field involved here is an empty struct.  The CLR is unable to handle this though and fails at runtime with a `TypeLoadException`:

	**System.TypeLoadException**: Could not load type 'M' from assembly 'Cons

[2016-11-02 21:25] janvorli commented on #2266
@RussKeldorph when you have reproduced this error, were the differences between the expected and actual numbers also small like in the reported Matrix4x4DecomposeTest01 or were there cases when they were completely off?

[2016-11-02 21:44] #7919 closed

[2016-11-02 22:57] BruceForstall commented on #1279
We don't enregister anything live in/out of handlers. That's because an exception in a "try" can happen at any time, and the handler needs to be able to find the current value of the variable in that case. The OS/VM doesn't preserve registers from the "try" to the handler, so the only place we can find the variable is on the stack. Thus, all writes to the variable must be to the stack. We could do

[2016-11-02 23:17] jkotas commented on #1279
@BruceForstall @choikwa This issue is about unnecessary zero-initialization for `stackalloc` in C# / `localloc` in IL.

[2016-11-02 23:42] danmosemsft commented on #7801
Dupe of https://github.com/dotnet/coreclr/issues/5721 (I get it also)

[2016-11-02 23:42] #7801 closed

[2016-11-02 23:42] danmosemsft commented on #5721
Also gotten when simply running the System.Runtime.Tests from CoreFx on a Debug CoreCLR

@rahku per the other issue.

[2016-11-02 23:49] jamesqo commented on #4506
@jkotas, you mentioned in the Tuple PR that commits that may cause compatibility issues with the desktop are simply not cherry-picked. Would it make sense to remove the bug now and fix the documentation?

[2016-11-03 00:06] RussKeldorph opened #7960 "Assertion failed '!"gtArgEntryByNode: node not found""
https://ci.dot.net/job/dotnet_coreclr/job/release_1.1.0/job/jitstress/job/x64_checked_windows_nt_r2r_jitstressregs8/

[code]

[2016-11-03 00:16] danmosemsft opened #7961 "Optimize number.ToString()"
Int64.ToString was too slow for Kestrel and they wrote their own:

https://github.com/aspnet/HttpAbstractions/blob/02363da94eee7311e457e136dc45edf9c5ac3494/src/Microsoft.AspNetCore.Http/Features/HttpRequestIdentifierFeature.cs#L39-L41

We should optimize our implemention such that they could remove their workaround.

This is a CoreCLR issue because the managed code just calls through to https://gi

[2016-11-03 00:24] jkotas commented on #4506
I do not have an option on this one.
@stephentoub Do you happen to know about similar examples in corefx, to see where we are setting the bar on issues like this one?

[2016-11-03 00:45] DrewScoggins opened #7962 "Investigate diffs from 1.1.0 CoreCLR performance runs"
We found some diffs during the 1.1.0 performance runs that we should take a look at.  The benchmarks are: Ackermann, BlockCopyPerf, BubbleSort2, ByteMark, DelegateInvoke, EightQueens, GetField, Where00LinqMethodX, LowLevelPerf, benchFFT.  I will probably break them out as we start individual investigations, but want them written down for now.

[2016-11-03 00:46] CarolEidt opened #7963 "Ensure that codegen consumes registers in the proper order"
(This was the original description of this issue, when it was opened; see below)
When reversing the GT_FIELD_LIST for pushing the fields onto the stack, we will, as a result, consume them in the wrong order, relative to their execution order. This is generally benign (and doesn't cause an assert, but instead causes "consumed in the wrong order" messages in a jitdump), but could result in problems

[2016-11-03 01:40] stephentoub commented on #7961
I've no doubt that there are things that could be done to make long.ToString go faster than it currently does for particular scenarios, and we can/should certainly look at doing so.  But the linked function is not the equivalent of long.ToString (for example, 42L.ToString() returns "42", whereas GenerateRequestId(42) return "000000000001A").  The purpose as I understand it of that function in ASP.

[2016-11-03 02:46] #7072 closed

[2016-11-03 03:51] CarolEidt commented on #7954
Thanks for identifying this. The problem is that liveness doesn't expect a struct assignment with the same lclVar on the lhs and rhs. I'm working on a fix that eliminates the assert, but also removes an assignment from a struct to itself, because I believe that may cause problems if a helper call is generated.

[2016-11-03 05:03] gkhanna79 commented on #7899
@JPBlanc To play with .NET Core for Arm32, you can now try the following:

1) Download it from _Daily Builds_ section at https://github.com/dotnet/core-setup and copy the folder layout to your device.

2) Build a portable app on your x64 machine and publish it locally.
3) Copy the published app to your device.
4) Run `dotnet <path to your publishedapp.dll>` on your device.

Do keep in mind that we

[2016-11-03 05:11] hseok-oh commented on #7871
In ARM32 hardFP, JITC uses `Compiler::GetHfaType(hclass)` to generate tree when CIL `call`'s argument and/or return type is struct.
But `getHFAType(hclass)` for SuperPMI: `MyICJI::getHFAType(hclass)` is not implemented.

Here is some backtrace example when `getHFAType()` called
[code]

Solution
1) Implement `getHFAType()`: is it possible?
2) Exclude test for ARM32

[2016-11-03 14:40] gkhanna79 opened #7969 "JIT asserts fail the Arm64 Pipeline Build"
See https://devdiv.visualstudio.com/DevDiv/_build?buildId=411992 as an example.

CC @RussKeldorph @wtgodbe

[2016-11-03 14:41] gkhanna79 commented on #7969
When this is fixed, please work with @wtgodbe to re-enable pipeline builds in master branch.

[2016-11-03 16:48] JohnChen0 commented on #2266
I had one repro of Matrix4x4DecomposeTest01, with the following message: `Matrix4x4.Decompose did not return expected value Expected:<2, 3, 4> actual:<2, 3, NaN>.` I would call that completely off.

[2016-11-03 20:46] AndyAyersMS opened #7977 "Two SIMD tests fail under x64 release"
These two tests fail at 9d295d6 in an x64 windows release run.

I will try and pin down where they regressed.
[code]

[2016-11-03 21:05] danmosemsft commented on #7961
@stephentoub ack - you're right, and I should have read the code. I"ll close this then (we should do perf work based on data)

[2016-11-03 21:05] #7961 closed

[2016-11-03 22:04] AndyAyersMS commented on #7977
Works in CI; checking if CI runs on AVX2 capable machines. May require non-AVX2 HW to repro.

Fails at 4c465e0. Works at 60081d1.

[2016-11-03 22:40] brianrob commented on #5721
@danmosemsft, can you please share the repro steps for what you did to hit this?  Thanks.

[2016-11-03 22:48] danmosemsft opened #7984 "AV calling String constructor with null, only under native debugger"
Set up Windbg to attach to corerun with a .reg file like
[code]

Now run the System.Runtime tests and hit 'g' when Windbg pops.

It will AV in `new string((char*)null, 0, 1));`

[code]

dest is null. I don't see any check on ptr in CtorCharPtrStartLength, did it somehow get elided?

[2016-11-03 22:48] danmosemsft commented on #7984
Incidentally I can't figure out how to see locals - perhaps @jkotas or @janvorli can suggest what I might be doing wrong. VS won't accept the symbols for System.private.Corelib.ni.dll.

[code]

[2016-11-03 22:54] jkotas commented on #7984
This AV is expected and handled. Just hit continue in the debugger, or make it not stop on AVs.

From String constructor exercised by the test:
[code]

[2016-11-03 23:06] danmosemsft commented on #5721
@brianrob I built CoreCLR debug, then patched with that. That's complicated, but it's probably possible to just do something like this

1. Run the tests once in 'corefx\src\system.runtime\tests' by using `msbuild /t:buildandtest`.
2. Build a debug copy of coreclr.dll and system.private.corelib.dll out of Coreclr.
3. Patch `corefx\bin\tests\AnyOS.AnyCPU.Debug\System.Runtime.Tests\default.netcoreapp

[2016-11-03 23:08] danmosemsft commented on #7984
Oh, the AV becomes NRE? Black magic.

[2016-11-03 23:08] #7984 closed

[2016-11-03 23:54] CyrusNajmabadi opened #7986 "List<T>.Reverse boxes every element in the array if it's instantiated with a struct type."
At https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Collections/Generic/List.cs#L931 ```List<T>``` calls into Array.Reverse to actually implement reversing the elements.  However Array.Reverse implements this here: https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Array.cs#L1593

This impl ends up doing the following:

[code]

which involves a boxing of eve

[2016-11-04 00:04] ramarag opened #7987 "Cleanup perf related test infra from #3999"
see https://github.com/dotnet/coreclr/pull/7933#issuecomment-258304589

[2016-11-04 01:02] justinvp commented on #7986
`List<T>` calls the new generic `Array.Reverse<T>` which doesn't have this issue. See #7132.

[2016-11-04 01:26] CyrusNajmabadi commented on #7986
Ah, interesting.  Look like us (Roslyn) are being hit because we don't have that fix yet :(

[2016-11-04 01:29] AndyAyersMS commented on #7977
Confirmed this only fails on non-AVX2 machines or on AVX2 machines with `COMPlus_EnableAVX=0`. CI seems to run on AVX2 capable HW so didn't see the failure.

Looks like it is caused by #7864.

[2016-11-04 02:26] ramarag commented on #7861
cc @sbomer

[2016-11-04 02:31] stephentoub commented on #7986
Even before that, though, this change a year ago would have alleviated such boxing:
https://github.com/dotnet/coreclr/commit/a57dd5a8f6c8374241c570c9307e5dcef9b201d4

[2016-11-04 02:43] #7868 closed

[2016-11-04 03:04] jkotas commented on #7986
You have that fix (and many other perf tweaks) when running on .NET Core ... you just do not have it when running on .NET Framework.

[2016-11-04 03:05] CyrusNajmabadi commented on #7986
Will these fixes make it to the .Net framework?

[2016-11-04 03:07] jkotas commented on #7955
We would need to stop using LoadLibrary to map the images ... that would break all sorts of things.

[2016-11-04 03:09] jkotas commented on #7986
Yes, some will ... but it will take quite some time.

[2016-11-04 03:36] #7986 closed

[2016-11-04 04:28] #7977 closed

[2016-11-04 04:42] parjong opened #7992 "[ARM/Linux] System.DataMisalignedException while running 'System.IO.MemoryMappedFiles.Tests'"
In ARM/Linux, running 'System.IO.MemoryMappedFiles.Tests' shows the following failure:
[code]

[2016-11-04 06:27] Petermarcu opened #7994 "Remove the VC Redist pre-req"
We need to come up with a solution that doesn't require users to first install the VC Redist in order to install .NET Core.

[2016-11-04 16:04] RussKeldorph commented on #7525
@dotnet/jit-contrib

[2016-11-04 16:06] RussKeldorph commented on #7871
@bruceforstall @jashook @sandreenko

[2016-11-04 16:12] RussKeldorph commented on #7841
Note that we have CI jobs, e.g. [baseline](http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_ubuntu_corefx_baseline_prtest/), for dotnet/coreclr that use this mechanism.  They are broken in master now for a number of reasons, but I plan to get them working again soon.  If you need additional functionality like coverage, please consider building on what we ha

[2016-11-04 16:20] BruceForstall commented on #7871
Is this the first time arm32 testing has been run in a while? I assume this applies to all arm32, hardfp and softfp? The superpmi unit test has been there for quite a while now.

My preference is you implement getHFAType(). It looks like it would be easy. To do so, you need to add recGetHFAType()/repGetHFAType()/dmpGetHFAType() in methodcontext.h/methodcontext.cpp, add a new Packet_GetHFAType() in

[2016-11-04 16:39] jashook commented on #7871
Disabling the test seems like the correct answer to me, until we want to start superpmi collections on arm.

[2016-11-04 17:33] DrewScoggins commented on #7987
I will take a look at this on Monday.

[2016-11-04 18:33] maxtoroq opened #8000 "Method chaining on dynamic object throws StackOverflowException"
The following program throws a StackOverflowException. Got some help on [reddit](https://www.reddit.com/r/csharp/comments/5b0f78), and apparently the issue is in the JIT compiler.

[code]

[2016-11-04 18:44] AndyAyersMS commented on #8000
Let me take a look...

[2016-11-04 19:56] AndyAyersMS commented on #8000
(Below is from x64 desktop CLR, ~4.6.2)

The overflow happens in the jitted code for the `Run` method. When this method is called there are already ~8300 bytes on the stack and the jit-generated code it is asking for 1044232 (0xFEF08) bytes of more stack. This pushes the stack past the default limit of 1MB = 1048576 bytes and so causes an overflow exception.
[code]
Each additional call to `Bar` se

[2016-11-04 20:29] gkhanna79 commented on #7969
The Arm64 crossgen is broken due to the following assert that I am able to repro on the local CoreCLR master:

Missing flags on tree [000235]: ---G--------
               [000243] ----G--------             /--*  <fldList> void   long at offset 8
               [000242] ----G--------             |  \--*  indir     long
               [000240] -------------             |     |  /--*  const     long

[2016-11-04 20:30] jashook commented on #7969
Note this only break the Debug build.

[2016-11-04 21:02] maxtoroq commented on #8000
It's not blocking me, I ran into this by unintentionally using dynamic method calls.

[2016-11-04 21:08] gkhanna79 opened #8002 "Enable R2R for WinArm32"
We should look into implementing any pieces required to support this.

CC @jkotas

[2016-11-04 22:12] jreumuth opened #8005 "Two shortcoming of rethrowing an exception"
_Reposting issue from #https://github.com/dotnet/roslyn/issues/14999_

Rerowing an exception in .NET has two shortcomings. One is you lose some call stack info. In the following code:
[code]
In the stack trace, the only line from Method1 is the throw line. The call to Method2 that threw the exception in not in the stack trace and there's no good way to known which Method2 call it was.

The second

[2016-11-04 22:55] jashook commented on #7969
Will be fixed by #8003

[2016-11-05 00:12] Janiels commented on #8005
There is [ExceptionDispatchInfo](https://msdn.microsoft.com/en-us/library/system.runtime.exceptionservices.exceptiondispatchinfo(v=vs.110).aspx) which seems to solve (some of) these problems.

[2016-11-05 00:31] jashook commented on #7969
#8003 is closed, based on review the comment is correct and we will change the assert instead to acknowledge this as a valid possibility.

[2016-11-05 03:01] jkotas opened #8013 "Fix uses of C++ `new` operator under src\corefx"
https://github.com/dotnet/coreclr/blob/master/src/corefx/System.Globalization.Native/collation.cpp#L336

C++ new throws C++ exception on OOM. When such C++ exception hits interop boundary, it will lead to bad crash.

`malloc` or `new (nothrow)` with explicit null check should be used instead.

[2016-11-06 18:33] plioi commented on #7636
I'm a little more concerned about the way there are essentially two names for this concept in the code. "Slice" and "Span" seem to be used interchangeably. Is one a subtype of the other, or is one a remnant of history?

[2016-11-06 19:25] jaen opened #8016 "Null dereference error compiling with clang 3.9"
Trying to compile newest `1.1.0-preview1` release on Arch Linux (clang 3.9, gcc 6.2.1) fails with errors pertaining to creating null references, such as this one:

[code]

You can see the full build log here – https://gist.github.com/jaen/1315903d63f9b1d2d5fdc61baef6a0dc.

This issue was mentioned in #7822, but it seems there's no separate issue, so I made one.

If there's anything else I can do t

[2016-11-07 00:35] mafalarz commented on #7535
Not able to run using VS code, getting tons of Cannot find or open the symbol file. My project.json has "buildOptions": {
    "debugType": "portable",
...

[2016-11-07 00:35] JosephTremoulet commented on #7219
I've verified with [opt repeat](https://github.com/dotnet/coreclr/pull/7996) that phase ordering plays a role here.  I had to rewrite the loop conditions using `!=` instead of `<` since assertion prop only [makes](https://github.com/dotnet/coreclr/blob/8351597b3af6bf188eb328fe5e2b3b8eb979c831/src/jit/assertionprop.cpp#L1108-L1114) and [removes](https://github.com/dotnet/coreclr/blob/8351597b3af6bf

[2016-11-07 00:39] JosephTremoulet commented on #6902
I've verified with [opt repeat](https://github.com/dotnet/coreclr/pull/7996) that phase ordering is the key blocker in some of these cases; given this method

[code]

we do hoist the length loads out of the loop with optRepeat.  Interestingly, it requires repeat count of 3, because with repeat count of 2 there's still a copy in the way that doesn't get removed until after value numbering has run.

[2016-11-07 04:57] kouvel commented on #7941
Closing for now, will wait for more repros to see what kind of failures are occurring

[2016-11-07 05:59] janvorli commented on #8016
@noahfalk, @mikem8361 could you please take a look? Our code is using construct that is illegal based on the new Clang 3.9

[2016-11-07 06:32] hseok-oh commented on #7871
@BruceForstall Thanks for your guidance. I'll try it. This issue occurs on arm32 hardFP only, because `getHFAType()` is not called on arm32 softFP (FEATURE_HFA is not defined in softFP).

[2016-11-07 12:22] MrDetonia commented on #7822
Closing this one now the specific change is merged in, and #8016 seems more on point about clang 3.9 specifically.

[2016-11-07 12:22] #7822 closed

[2016-11-07 15:06] CarolEidt commented on #7525
Unfortunately, adding these types would not easily enable them to be passed in registers on Windows, and the unix ABI only supports passing *some* 16 byte types in registers. We follow the platform calling convention so that calls to/from managed to native code work correctly. We have discussed the possibility of using xmm/ymm registers on x86/x64 for passing `Vector<T>` as it is not an interop ty

[2016-11-07 16:53] gkhanna79 commented on #7969
@jashook When do you expect the change for the assert coming in? CoreCLR master pipeline build is blocked until that is clean.

[2016-11-07 17:05] danmosemsft commented on #2266
@JohnChen0 any progress?

[2016-11-07 17:09] RussKeldorph commented on #2266
@janvorli Sorry I missed your question.  I confirm what @JohnChen0 saw.  NaNs were common, though I can't remember if they occurred every time.  I can attempt to recreate the repro.

[2016-11-07 17:50] mikem8361 commented on #8016
I don't understand "interopsafeEXEC" or how/why it works with previous clang versions. @noahfalk ?

[2016-11-07 18:03] janvorli commented on #2266
@RussKeldorph no problem. I have looked through the activation injection code that I suspected and it seems that we have the same problem there we had on Linux in the past. I don't have Mac available now, but could you or @JohnChen0 try to make a simple one line change in PAL to see if it fixes the problem?
The change would be here:
https://github.com/dotnet/coreclr/blob/master/src/pal/src/excepti

[2016-11-07 18:04] #7992 closed

[2016-11-07 18:09] CarolEidt commented on #2266
I don't think it is correct that GC doesn't use xmm registers. It calls some math library methods that use the xmm registers. I know this because when we had some issues with firmware problems with testing OS support for AVX, the GC was running into the issue due to its use of AVX via these crt methods. @Maoni0 can probably confirm this.

[2016-11-07 18:32] JohnChen0 commented on #2266
I'll try out the change @janvorli suggested, and see if it fixes the issue.

[2016-11-07 19:15] jkotas commented on #8005
@jreumuth Does ExceptionDispatchInfo do what you are looking for?

[2016-11-07 19:18] jkotas commented on #8016
You can try defining interopsafe/interopsafeEXEC as dummy instances - to avoid the null casting issues:

[code]

[2016-11-07 20:16] JohnChen0 commented on #2266
The tests still fail intermittently after changing https://github.com/dotnet/coreclr/blob/master/src/pal/src/exception/machexception.cpp#L1583 as suggested.

[2016-11-07 21:37] DrewScoggins opened #8027 "Serialization and Raytracer performance tests are not posting results"
These two tests are not being run.  I need to investigate why they are failing and get them working.

[2016-11-07 21:38] Maoni0 commented on #2266
@CarolEidt, could you please elaborate on these issues GC hit? I had not heard about them.

[2016-11-07 21:43] jashook commented on #7969
Fix has been PRed see #8026

[2016-11-07 22:26] jaen commented on #8016
This doesn't seem to help, I'm getting
[code]
with above macro definitions.

As far as I understand those are meant to be dummy parameters for the placement `new` operator which are then disregarded, because the object is allocated on debugger's heap (if comments are to be believed).
So I figured creating a dummy static duration objects to use there will work around the issue:
[code]
and it did wo

[2016-11-07 22:43] sivarv commented on #7572
@redknightlois - did you get a chance to measure perf of your benchmark after modifying it to use `Vector<int>.Dot()`?

[2016-11-07 23:04] cydhaselton commented on #1097
System.Private.Corelib.dll built.  Ended up using xbuild with the Roslyn compiler on the $CORECLR/src/mscorlib directory instead of the mono mcs compiler.

[2016-11-07 23:15] javarch commented on #1097
Ich werde ab  06.11.2016 nicht im B�ro sein. Ich kehre zur�ck am
12.11.2016.
Ich werde Ihre Nachricht nach meiner R�ckkehr beantworten.

Die R�ckmeldung bezieht sich auf ein Mail mit folgendem Thema:
Re: [dotnet/coreclr] Build CoreCLR for Android (#1097)

____________________________________________________________________________________________
Gesendet (c) GRZ/RACON Linz 2016 Agent 'Abwesenheit

[2016-11-07 23:17] jaen commented on #8016
I've fiddled with it a bit more, and here is a complete patchset over `dotnet-dev-fedora.23-x64.1.0.0-preview2.1-003155.tar.gz` that makes it compile on my system – https://gist.github.com/jaen/d0164ed08180178baa78bd4606fccf23

Of course the patches only make clang stop complaining and probably don't solve the issues appropriately (the compilation finishes without errors, but `init-tools.sh` scrip

[2016-11-07 23:17] adityamandaleeka opened #8030 "GC tests failing to access meminfo"
Example here: https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_ubuntu_tst_prtest/1343/testReport/junit/GC.LargeMemory.API.gc/keepalive/keepalive/

This seems to be happening consistently in these jobs. I just noticed this and haven't investigated it at all, but my first hunch is that this is related to https://github.com/dotnet/corefx/commit/bd667b3e719ff84110d9b3c8c087a678337aa5a5

My

[2016-11-07 23:24] masonwheeler commented on #1097
@javarch Can we please keep things in English around here?  No offense intended, but most of us can't read German, and it looks like a bunch of your diacritics got mangled somewhere along the way, which I'd imagine makes automatic translation even more difficult. :(

[2016-11-07 23:24] #7969 closed

[2016-11-07 23:26] jashook commented on #7969
@gkhanna79 [the debug](https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_debug_windows_nt_prtest/lastSuccessfulBuild/console) build is now passing.

[2016-11-07 23:26] Maoni0 commented on #7932
We don't provide anything like this from the GC. As you noticed, there are things from other higher level components that chose to provide such notifications themselves which may or may not work for you.

I am not aware of any xplat ways. You could of course detect memory load on the machine yourself (on Windows this is via GlobalMemoryStatusEx which is what GC uses).

[2016-11-07 23:26] gkhanna79 commented on #7969
Excellent - thank you for getting this fixed.

[2016-11-07 23:35] jaen commented on #4409
Is there anything I can do to help with getting this along? We're using dotnetcore at work for backend development and I would really appreciate being able to run (that works mostly okay) and debug (this – not so much) the project on my Arch system.

[2016-11-07 23:58] mikem8361 commented on #7660
This is a desktop clr issue.

[2016-11-07 23:58] #7660 closed

[2016-11-08 01:19] CarolEidt commented on #2266
Unfortunately, I no longer have the original email thread on this topic, but it came up about a year and a half ago. There was some bad firmware that was wrongly reporting the OS bits of the mask, and both clr and the crt were directly querying those bits and occasionally getting the wrong answer. Around the same time the crt introduced a new version of some of the math functions (pow, if I recall

[2016-11-08 01:26] RussKeldorph commented on #8030
@jashook FYI

Yet another: https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_ubuntu_tst_prtest/1363/testReport/junit/GC.LargeMemory.API.gc/gettotalmemory/gettotalmemory/

[2016-11-08 01:29] adityamandaleeka commented on #8030
Having looked at this a bit more, it may be related to this PR https://github.com/dotnet/corefx/pull/13415 which changed the StreamReader/Writer ctor that's used in some of the IO functions. I'm not familiar with this code and am currently reading through it, so I still don't know exactly where the problem lies.

FYI @stephentoub

[2016-11-08 01:44] RussKeldorph commented on #7960
Declined for 1.1.

[2016-11-08 01:44] #7960 closed

[2016-11-08 01:53] AndyAyersMS commented on #8027
Serialize (and likely Deserialize) are failing with reflection-related errors similar to those encountered before the netstandard1.4 update. I tried bumping Json.Net to 9.0.1 but that didn't help.
[code]

[2016-11-08 02:31] ramarag commented on #7807
enable https://github.com/dotnet/corefx/pull/13399/commits/755ce2f72caee5a29b29cd150cb30b08514482b6#diff-ab7a4b1b3e267c2adfbe272048b78932R30 on Xplat, once this issue is fixed

[2016-11-08 02:34] jamesqo opened #8034 "Reduce allocations in String.Split"
Now that `ArrayPool` is in the coreclr repo, it may be worth trying to use `stackalloc` for the int table required by `Split` if the length of the string is small enough, otherwise using `ArrayPool<int>` to rent the tables.

I have been building [a prototype](https://github.com/dotnet/coreclr/compare/master...jamesqo:better-split?expand=1) to implement this over the last day or so; however, it's t

[2016-11-08 03:58] Maoni0 commented on #2266
my guess would be it was somewhere in the vm.

[2016-11-08 04:29] stephentoub commented on #8030
I believe https://github.com/dotnet/corefx/issues/13459 should fix it.

[2016-11-08 04:32] RussKeldorph commented on #8000
@AndyAyersMS Not sure this is a bug, but calling it that for now.  Feel free to relabel depending on what you find.

[2016-11-08 07:23] wanton7 commented on #1097
@masonwheeler i'm not a german speaker but from what I understand that's automated on vacation message.

[2016-11-08 10:51] cydhaselton commented on #1097
Running into text relocation issues when testing coreclr, corefx and System.Private.Corelib.dll with powershell
`dlopen failed to open the libcoreclr.so with error dlopen failed: text relocations (DT_TEXTREL) found in 64-bit ELF file "/data/data/com.termux/files/usr/bin/Product/Linux.arm64.Debug/libcoreclr.so"`

[2016-11-08 14:48] jkotas commented on #1097
We have seen similar TEXTREL errors before - https://github.com/dotnet/coreclr/search?q=TEXTREL&type=Issues. Take a look at the other issues on what was done to track them down.

[2016-11-08 17:03] #8030 closed

[2016-11-08 17:13] AndyAyersMS commented on #8000
Agree this is probably not a bug, more likely an implementation limit. We should however see why the stack growth is so dramatic.

[2016-11-08 17:36] jamesqo commented on #6439
I'm not sure why I didn't mention this earlier, however the `Unsafe.InitBlock` method that was added with dotnet/coreclr#7966 seems to fit the needs here-- it's just a wrapper around the `initblk` opcode that lets you initialize memory to a single value. So perhaps adding another `BlockFill` / `BlockSet` method would be redundant.

[2016-11-08 19:53] AndyAyersMS commented on #8027
Raytracer runs just fine for me locally under xunit-perf.

[2016-11-08 20:08] sbomer commented on #5082
work in progress: [8039](https://github.com/dotnet/coreclr/pull/8039)

[2016-11-08 20:13] cydhaselton commented on #1097
There is a link to a guide for hunting down TEXTRELs in one of the issues but otherwise not much else. I'll start with re-compiling with explicit -PIC flags

[2016-11-08 20:55] Maoni0 commented on #8034
@swgillespie could you please take a look at the prototype @jamesqo did?

[2016-11-08 21:57] brianrob opened #8045 "CoreCLR Ubuntu 14.04 Build fails with Latest liblttng-ust-dev installed"
The latest version 2.8.x version which is on the PPA feed ppa:lttng/ppa will cause coreclr builds to fail:

Determining if files lttng/tracepoint.h exist failed with the following output:
Change Dir: /home/brianrob/src/coreclr/bin/obj/Linux.x64.Debug/CMakeFiles/CMakeTmp

Run Build Command:/usr/bin/make "cmTryCompileExec1151644146/fast"
/usr/bin/make -f CMakeFiles/cmTryCompileExec1151644146.dir/bui

[2016-11-09 00:09] adityamandaleeka commented on #8030
@stephentoub Thanks!

[2016-11-09 00:40] janvorli commented on #1097
@cydhaselton we have explicit -fPIC flags everywhere.

[2016-11-09 00:43] #7871 closed

[2016-11-09 00:59] janvorli commented on #2266
@JohnChen0 could you please try one more thing? It would be helpful to know if the issue is related to activation injection, that means GC.
So, my idea is to try to print xmm0..7 from pContext right after we extract the CONTEXT here:
https://github.com/dotnet/coreclr/blob/master/src/pal/src/exception/machexception.cpp#L1586
And then again right before we restore the context here
https://github.com

[2016-11-09 03:56] parjong opened #8050 "SOS plugin failed to load 'libsos.so'"
While testing GDBJIT feature, I encountered the following SOS plugin load failure:
[code]

[2016-11-09 04:39] #8013 closed

[2016-11-09 13:38] AndreyAkinshin opened #8053 "A question about Math.Round intrinsic on x64"
This issues is based on these SO  [question](http://stackoverflow.com/q/40460850/184842) and [answer](http://stackoverflow.com/a/40503691/184842).

Let's look at the asm of `(int) Math.Round(data[j])`.

LegacyJIT-x86:

    01172EB0  fld         qword ptr [eax+edi*8+8]
    01172EB4  fistp       dword ptr [ebp-14h]

RyuJIT-x64:

    `d7350617 c4e17b1044d010  vmovsd  xmm0,qword ptr [rax+rdx*8+10h]

[2016-11-09 14:14] bencyoung opened #8054 "Span<T> design question"
I had a question on the Span<T> type and its design relating to arrays, slices and unmanaged memory.

The idea as I understand it is that the Span will be stack only so that it can safely point to stack allocated or otherwise scoped memory, but it seems to me it would be nicer if the *instance* was scoped instead of the type? That way you could simply reuse the array syntax for Span<T>, and if you

[2016-11-09 16:41] TingluoHuang commented on #4201
+1, i am hitting this as well when my .net core app launch git on OSX.

[2016-11-09 18:05] JohnChen0 commented on #2266
@janvorli  I've instrumented the code to dump Xmm register contents. Here is a dump before a test failure:

    Saving Context, tid=446944
      Xmm0 = 0000000000000000 4040000040000000
      Xmm1 = 0000000000000000 0000000040800000
      Xmm2 = 0000000000000000 3fefffffbf708fb1
      Xmm3 = 0000000000000000 00000000324cde2e
      Xmm4 = 0000000000000000 00000000264d8ab9
      Xmm5 = 0000000000000

[2016-11-09 18:16] AtsushiKan commented on #1135
t.IsPointer tests for unmanaged pointers. Why is that something that should be forbidden? (Was this supposed to be t.IsByRef?)

[2016-11-09 18:30] AndyAyersMS opened #8059 "JIT: clarify contract for fgRemoveStmt"
Code that calls `fgRemoveStmt` or its wrapper `fgCheckRemoveStmt`  may access fields of the removed statement after the call. For instance the [main for loop](https://github.com/dotnet/coreclr/blob/a144e0480b274bf85dc9ce557c7f8edff3596556/src/jit/morph.cpp#L15487) in `fgMorphStmts` relies on the `gtNext` field remaining unchanged.

The set of preserved and modified fields of a removed statement sh

[2016-11-09 18:40] janvorli commented on #2266
The thread id change is correct. The context is read on a different thread (but from the context of the suspended target thread) and restored on the target thread.
@JohnChen0 Does the activation injection invocation that manifests itself with these prints look related to the issue? What I mean, when the issue happens, it is always there and when it doesn't happen, it is not there or at least not r

[2016-11-09 18:56] AndyAyersMS commented on #8059
Note in that loop the `gtStmtExpr` field of a potentially removed statement is also read and examined. Seems like this might cause some of the `prev`-based pattern detection to inadvertently fire.

[2016-11-09 20:02] danmosemsft opened #8061 "Failure in keepalive test reading meminfo"
File.ReadAllLines uses FileAccess.Read. I guess someone else is writing?

[code]

https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_ubuntu_tst_prtest/1378/consoleFull#2096352037c7af6a29-b465-404a-b249-90a3911e4354
https://github.com/dotnet/coreclr/pull/8019

[2016-11-09 20:17] stephentoub commented on #8061
This looks like https://github.com/dotnet/corefx/pull/13459.

[2016-11-09 21:25] #7678 closed

[2016-11-09 21:42] CarolEidt commented on #2266
Earlier in the thread, someone Can you dump the full ymm register contents? That would be where I would expect the context restore issue to lie.

[2016-11-09 21:54] JohnChen0 commented on #2266
I'm not sure where the ymm registers are supposed to be saved inside `CONTEXT`. There aren't any fields with name similar to that. Is it by some other name, or is it actually missing in `CONTEXT`?

[2016-11-09 22:05] CarolEidt commented on #2266
The ymm registers need to be part of `CONTEXT` if any operation that is done during a suspend can modify them.

[2016-11-09 23:14] sivarv opened #8065 "Finally in-lining or cloning in the corresponding try-block"
Kestrel server has following hot methods and the only EH they have is a try-finally block.

1) Microsoft::AspNetCore::Server::Kestrel::Internal::Http::SocketInput::ConsumingComplete()
This method uses lock(obj) for synchronization and results a in try-finally. Whole of the method logic is in try block and finally used for releasing monitor lock.

2) Microsoft::AspNetCore::Server::Kestrel::Internal

[2016-11-10 00:05] danmosemsft commented on #8061
Ah - I bet.

[2016-11-10 00:05] #8061 closed

[2016-11-10 00:08] janvorli commented on #2266
Actually, it seems I've just found it - x86_avx_state64_t

[2016-11-10 00:37] janvorli opened #8066 "[Port] Add capturing YMM registers to OSX InjectActivationInternal"
Currently, we are not capturing the YMM registers on hardware that supports them when we inject activation on OSX and so if any code that's run during the activation modifies these and the code that was interrupted was using them, we would cause it to fail.
It needs to be fixed. There is a x86_avx_state64_t state structure (and x86_AVX_STATE64 flavor) that we can use to capture the state and we sh

[2016-11-10 00:39] janvorli commented on #8066
We will also need to set CONTEXT_XSTATE on the context after capturing if we captured the YMM registers. The RtlRestoreContext already has support for handling it.

[2016-11-10 00:41] janvorli opened #8067 "Port #8066 (YMM registers capturing on OSX) after it is implemented"
Once the #8066 is implemented, we want to port it back to 1.0.x

[2016-11-10 00:42] janvorli commented on #2266
I've created #8066 to fix this issue, assigned to @JohnChen0

[2016-11-10 00:45] gkhanna79 commented on #2266
We will use this bug to track fixing for 1.2.0 and use #8066 to track fixing it for 1.0.X and 1.1.X.

[2016-11-10 00:45] gkhanna79 commented on #8066
We should use this to track getting the fix in for next LTS and 1.1.x.

[2016-11-10 00:57] janvorli commented on #2266
@gkhanna79 actually, I've created #8066 for 1.2.0 and #8067 for the porting to 1.0.x

[2016-11-10 01:07] gkhanna79 commented on #8066
Once the #2266 is implemented, we want to port it back to 1.0.x.

[2016-11-10 01:07] gkhanna79 commented on #8067
Closing as dup of https://github.com/dotnet/coreclr/issues/8066

[2016-11-10 01:07] #8067 closed

[2016-11-10 02:43] cydhaselton commented on #1097
Running into an issue rebuilding coreclr that has me stumped as I don't remember encountering it during the first succeasful build.

On the compilation of disasm.cpp I run into errora like the following:

`In file included from /data/data/com.termux/files/pkg/ps/coreclr/src/ToolBox/SOS/Strike/disasm.cpp:11:                                                                    In file included from /d

[2016-11-10 12:16] redknightlois commented on #7572
@sivarv Benchmarking tool not working yet with new builds. As soon as I make it work, will post results.

[2016-11-10 15:35] treziac opened #8071 "List<T>.Sort(Comparison<T> comparison) does not increase version"
Sort(Comparison<T> comparison) doesn't increase internal _version

[code]

[2016-11-10 17:08] mikedn commented on #8065
Related issue: #1505

[2016-11-10 20:34] JosephTremoulet commented on #7903
It looks like we don't in fact lump address-exposed locals/statics into the "heap" value; the code to value-number an assign skips the `mutateHeap` call if it can prove that the thing being written is a local (not specifically a tracked-in-SSA local), hence if we have code like this:

[code]

then we don't generate a new heap number at the `x = 2`:

[code]

Which in turn means that giving indirect

[2016-11-10 20:48] ayende commented on #7932
Note that in Linux, for example, there is no way for the system to warn you that it is running out of memory.
Instead, it will start swapping and then killing processes to free memory

[2016-11-10 20:48] ayende commented on #7932
Pretty much the only way we found to do that on Linux was to poll for memory status and raise our own events.

[2016-11-10 20:57] JosephTremoulet commented on #7903
Looks like statics and object fields do both currently prompt new heap VNs, so I think it really is just not-tracked locals that need to generate new heap values on writes and then byref loads can be modeled as a function of the heap and pointer values.

[2016-11-10 22:58] pgavlin opened #8077 "Fix the execution order for array range check nodes."
In an array range check tree, the subtree that computes the array index must execute before the subtree that computes the array length. This currently causes the regression test added for VSO 283795 in #8031 to fail when using the x86 legacy backend; the RyuJIT backend only passes the test because it marks the array length subtree as contained by the range check node during lowering.

[2016-11-10 23:27] JohnChen0 commented on #2266
I've figured out the cause of this issue. It's actually not related to YMM registers, but is due to XMM8 through XMM15 registers. The vector code generated by JIT uses all 16 XMM registers, but currently we only save 8 XMM registers on Mac. What's worse, we restore all 16 XMM registers, so XMM8 through XMM15 are restored from random memory, and is guaranteed to be corrupted. Thus if the capture/re

[2016-11-10 23:44] mikem8361 commented on #6518
Done.

[2016-11-10 23:44] #6518 closed

[2016-11-11 00:01] #8050 closed

[2016-11-11 00:01] #7651 closed

[2016-11-11 02:01] mellinoe commented on #2266
Thanks for tracking this one down! This has been randomly hitting corefx tests for a while and it's always been a complete mystery for me.

One question: Is it ever necessary for us to preserve the YMM registers as well? Obviously we aren't seeing any problems or test failures related to it right now, but I would guess a similar scenario could potentially occur there. Basically I'm just asking for

[2016-11-11 03:16] mjsabby opened #8079 "Proposal: Introducing a JIT intrinsic for acquiring timestamps"
Acquiring timestamps (``Stopwatch.GetTimeStamp``) is an important activity in many applications, including modern web services. Often breaking down an application's execution time into "scopes" aids in performance analysis and is achieved by taking timestamps at predetermined code-sites, usually interesting logical points in the applications execution.

Furthermore, often these timestamps are take

[2016-11-11 03:17] mjsabby commented on #8079
cc @cmckinsey

[2016-11-11 04:34] hseok-oh opened #8082 "[ARM32/Linux] Unittest baseservices/exceptions/simple/HardwareEh with crossgen failure"
Environment: Linux / ARM 32bit (hardfp)
CoreCLR: Release build
CoreFX: Release build

Test failure log
[code]

[2016-11-11 15:18] JosephTremoulet commented on #7903
We'll still want to be able to disambiguate known "heap" entities (object fields, statics) past stores to untracked locals.  So I think we'll need to add two VNFuncs:
  1. Something like `WriteUntrackedLocal(prevHeap)`, which we'd set as the new "heap" value at stores to untracked locals, which would be parameterized by the previous "heap" value.  Then when value-numbering an object/static field l

[2016-11-11 16:28] RussKeldorph opened #8084 "ILASM: Add ARM64 command line option"
Should probably remove Itanium while we're in there.

[2016-11-11 17:42] jkotas commented on #8084
This would be really only needed for full .NET Framework on ARM64. And in that case, the similar option has to be added in many places: all managed compilers (C#, VB, ...), msbuild target files, ... .

[2016-11-11 18:02] KrzysztofCwalina commented on #8054
@jaredpar was the main person designing "no capture". he should be able to best describe the difficulties/trade-offs here.

[2016-11-11 18:16] RussKeldorph commented on #8027
@sandreenko FYI.  RayTracer problem may be specific to SuperPMI.

[2016-11-11 18:40] jaredpar commented on #8054
The problem with nocapture is that it's incredibly viral as a general purpose feature.  Consider for example this simple code:

[code]

In order for this code to be safe it requires modifications to the constructor and `ToString` method on `MyType`.  Both of these members have the potential to capture `this` and must be protected to prevent it from happening.  This restriction applies to any membe

[2016-11-11 19:24] #7774 closed

[2016-11-11 19:37] #7843 closed

[2016-11-11 20:13] sivarv opened #8089 "Add JIT intrinsic support to take advantage of Intel SSE4.2 crc32 instruction"
Scenario: Bing team needs to copy Giga bytes of data from Cosmos to Bing servers.  Receiving side uses crc32 of the data to verify that the data is correctly received.

On targets where SSE4.2 is not supported, managed implementation should fall-back to a non-accelerated CRC-32C algorithm that intel uses.

This needs to be supported both on Desktop and CoreCLR.

[2016-11-11 20:59] redknightlois commented on #8089
This is an special case of https://github.com/dotnet/corefx/issues/2209 .. we even discussed CRC32 specifically.

[2016-11-11 21:14] gkhanna79 opened #8091 "Assert failure(PID 3300 [0x00000ce4], Thread: 15916 [0x3e2c]): Consistency check failed: ERROR: you didn't pass CONTEXT_EXCEPTION_REQUEST into GetThreadContext"
17 P1 tests fail on this

[2016-11-11 21:15] gkhanna79 opened #8092 "Assert failure(PID 10244 [0x00002804], Thread: 7648 [0x1de0]): Assertion failed '!(block->bbFlags & BBF_FINALLY_TARGET)' in 'GoryNativePastTest:foo():this' (IL size 42)"
2 P1 tests fail on this

[2016-11-11 21:15] redknightlois commented on #3439
Any update on if we are going to see this anywhere soon?

![1](https://cloud.githubusercontent.com/assets/1045411/20230435/baef5738-a83a-11e6-8ad9-b5330f58ddcb.png)

And the code that generates it.

![1 1](https://cloud.githubusercontent.com/assets/1045411/20230433/b7e5623a-a83a-11e6-91ba-96865acfe1c4.png)

This is actual code I cannot get away with, I will probably try to tweak it to reduce depen

[2016-11-11 21:16] gkhanna79 opened #8093 "Assert failure(PID 10364 [0x0000287c], Thread: 14536 [0x38c8]): Assertion failed 'isGeneralRegister(id->idReg2())' in 'StructABI:Main():int' (IL size 2040)"
1 P1 test fails on this

[2016-11-11 21:16] gkhanna79 opened #8094 "Assert failure(PID 4876 [0x0000130c], Thread: 12100 [0x2f44]): Assertion failed '(op1->gtOper != GT_CNS_INT && op1->gtOper != GT_CNS_LNG && op1->gtOper != GT_CNS_DBL) || tree->gtOverflow() || (op1->gtOper == GT_CNS_DBL && !_finite(op1->gtDblCon.gtDconVal)) || !compiler->opts.OptEnabled(CLFLG_CONSTANTFOLD)' in 'ILGEN_0xd01d9fe9:Method_0x594ff2c5(short,ubyte,char,long,int,byte,ubyte,char,int,int,int,ubyte,int,byte):int' (IL size 493)"
6 P1 tests fail on this.

[2016-11-11 21:17] gkhanna79 opened #8095 "6 P1 tests fail without assertion"
in WinArm32 Debug P1 test run - they are a mix of runtime and JIT tests.

[2016-11-11 21:18] RussKeldorph commented on #8092
@gkhanna Mind adding the error output with the failing test names?  A link to a failing CI job might help as well if you have it.

[2016-11-11 21:39] JohnChen0 commented on #8066
@gkhanna79 @janvorli: Which branches does the fix for #2266 need to be back ported? My guess is release/1.0.0 and release/1.1.0. Is it correct?

Also, now that we know YMM registers are not involved in this issue, do we still want to try implement saving/restoring YMM registers?

[2016-11-11 22:02] mikedn commented on #8053
Looks like an oversight. Both SSE and x87 have the same rounding modes and both default to banker's rounding. If `fistp` was good enough on x86 then `cvtsd2si` should also be good enough on x64 (and on x86 when using RyuJIT).

I have to run the tests when I get some time but this seems trivial to fix.

[2016-11-11 22:08] mikedn commented on #3439
Does `BlocksPerPage` change often? I would guess that it doesn't, it's fixed for a given BTree. If that's the case then you could use reciprocal division, it would likely be better than the JIT removing a redundant `idiv`.

[2016-11-11 22:28] gkhanna79 commented on #8066
Yes, it should be ported to release/1.0.0 and release/1.1.0. However, while you can prep the PRs, please hold off on merging them.

[2016-11-11 22:43] redknightlois commented on #3439
@mikedn That's a great idea, I can probably pack 8 to 10 multiplications before paying for an ```idiv``` even though with 2 of them, I can do almost whatever I want and still probably win. Do you have any good resource on how to efficiently deal with a "sorta" fixed (but not constant) divisor?

[2016-11-11 22:56] JohnChen0 commented on #8066
Create PR #8098 for porting to release/1.0.0, and PR #8099 for porting to release/1.1.0

[2016-11-12 03:25] jamesqo opened #8102 "Enable callers of S.P.CoreLib NoInlining methods to inline."
Currently, methods that are marked with `NoInlining` within S.P.CoreLib are assumed to contain a StackCrawlMark local variable. Because of this, it is assumed it is not safe to inline the caller, which can unnecessarily degrade performance under certain circumstances where StackCrawlMark is not being used. There needs to be a better way for identifying `StackCrawlMark` methods so we can overcome t

[2016-11-12 03:29] jamesqo opened #8103 "Exception constructors should be marked NoInlining."
Currently, the some of the `Exception` constructors are inlined by the JIT, meaning more code bloat for a rare case in the typical usage pattern:

[code]

We should look into marking constructors of common exception types, such as `Exception`, `ArgumentNullException`, `ArgumentOutOfRangeException`, and `ArgumentException` with NoInlining to reduce code bloat.

Dependent on #8102

[2016-11-12 03:47] jamesqo opened #8104 "Using Vector apis within S.P.CoreLib"
It would be super useful to have a version of `Vector<T>` for use in S.P.CoreLib. Many of the String functions look like they could benefit from vectorization, in addition to other hotspots like `UTF8Encoding.Get{Bytes,ByteCount,Chars,CharCount}`, etc. Unfortunately, when I tried adding `Vector` to CoreLib after the discussion in #6627, I got confused-- looks like from [this code](https://github.c

[2016-11-12 13:06] ckuhn203 commented on #6792
This is really disappointing. A number of VPS providers don't give you CentOS 7 as an option, only 6.
I understand why you wouldn't want to add support for an old version of an OS, but this does mean that dotnet core won't run on CentOS 6.

https://github.com/dotnet/cli/issues/3298

[2016-11-12 15:41] ekolis opened #8105 "Caching lambda expressions used to manipulate objects using reflection"
Sorry if this is the wrong place to suggest this; I've never tried to contribute to .NET in this way before!

Anyway, in a project of mine I wrote a serializer that relied heavily on reflection, and it was horribly slow. However I was able to speed it up quite a bit by creating, compiling, and caching a lambda expression for each property getter and setter of each class I was serializing. I was th

[2016-11-12 21:38] cydhaselton commented on #1097
As of this message I've tried several combinations of -fPIC and -fPIE with zero result; libcoreclr.so continues to build with TEXRELs.
Unfortunately I lack the tools from the [Hardened/Textrels Guide](https://wiki.gentoo.org/wiki/Hardened/Textrels_Guide) to further troubleshoot this issue; I'd have to build from source to get them. I can try excluding the files mentiioned in [this post](https://gi

[2016-11-12 22:28] mikedn commented on #3439
Before eliminating division you should eliminate the reminder. `n % d` is simply `n - (n / d) * d`. You already have `n / d` so to compute `%` you only need a `-` and a `*` and these are very cheap compared to `%`. Come to think of it, the JIT could probably do this automatically if it turns out that removing the redundant `idiv` is problematic due to the multiple register issue.

Now, getting rid

[2016-11-12 22:45] mikedn commented on #2183
Also, because this optimization is done only during global morph cases that rely on constant propagation to have been performed are not handled:
[code]
generates:
[code]

[2016-11-12 23:57] redknightlois commented on #3439
@mikedn I can do that on tree creation and just store it and be done with it :).

[2016-11-13 08:13] mikedn commented on #2183
`GT_MULHI` register requirements are incorrectly set and we get an unnecessary `mov`:
[code]
This happens because `SetMulOpCounts` sets the dest candidate to `rax` instead of `rdx`. This basically guarantees that you'll get a useless `mov` every time `GT_MULHI` is used. And if you try changing the candidate to `rdx` you discover that `genCodeForMulHi` is broken, it tries to force the implicit sour

[2016-11-13 08:39] mikedn commented on #2183
When 2 shifts are needed the currently generated code is less than ideal. The second shift depends on the first shift:
[code]
The second shift is simply extracting the sign bit and the previous shift doesn't change the sign bit. So, we could generate this instead:
[code]
Saves a `mov` and it may be faster as those 2 shifts could be dispatched in parallel.

[2016-11-14 05:07] sjsinju commented on #6298
The PR #8019 that running tests using a archived root-fs with sequential option was merged. But it seems to be not enough to resolve this issue. Although the frequency has decreased, the segmentation fault is occurred still(Local tests were all successful).

Additional investigations are needed.

[2016-11-14 05:44] AlexRadch opened #8112 "Fast append or insert StringBuilder into other StringBuilder"
Hello,
I think for fast strings processing, StringBuilder should have fast methods to append and insert other StringBuilder.

Now when I gather string from many parts, I gather each part into separated StrindBuilder (for example in different threads for speed) and then when I gather all parts to one StringBuilder, the standard library made many copy operations to convert each StringBuilder to stri

[2016-11-14 08:51] bencyoung commented on #8054
Thanks jaredpar, that's very useful feedback. I guess some of this would be more suited to a new language (something like an amalgam of C# and Rust seems close to the perfect language to me)

On your specific points, to keep backwards compatibility, as you say,  you wouldn't be able to add nocapture to things like ToString, and so you wouldn't be able to call ToString (or GetHashCode) on a "non ca

[2016-11-14 10:23] janvorli commented on #2266
@mellinoe we should preserve the YMM registers on OSX too. I guess we are just lucky that the C++ runtime doesn't use them.
@JohnChen0 would you mind adding that as described in the #8066?

[2016-11-14 11:31] mattwarren commented on #8105
I agree this would be nice to have, at the moment you have to use `IL.Emit` or `Expression` trees to speed things up, which aren't straight forward (although libraries like [Sigil](https://github.com/kevin-montrose/Sigil) can help)

It's worth pointing out that Java has this feature, it's called ['inflation'](http://stackoverflow.com/questions/10082523/java-what-is-jitcs-reflection-inflation), how

[2016-11-14 11:57] mattwarren commented on #8079
This [blog post](http://aakinshin.net/en/blog/dotnet/stopwatch/) by @AndreyAkinshin has lots of great detail on the overhead of `Stopwatch`, including [this summary](http://aakinshin.net/en/blog/dotnet/stopwatch/#summary):

![image](https://cloud.githubusercontent.com/assets/157298/20264029/6b409354-aa61-11e6-8f5c-2b5713ba3155.png)

[2016-11-14 12:21] mattwarren commented on #8112
Admittedly it's a bit hacky, but if you don't mind using `unsafe` and `fixed` you can do something like this:

[code]

But yeah, it would be nicer if this code was written for you!! (it could also do it in a more efficient way, using `Buffer.BlockCopy` or something like that)

[2016-11-14 12:21] hqueue commented on #8077
@pgavlin As I've already wrote in #8031, ARM legacy backend has same problem. I will follow up this issue for ARM. Thanks!

[2016-11-14 15:32] AlexRadch commented on #8112
Hi, @mattwarren! This code will not work for long StringBuilder because it can have many parts see next fields:
[code]

[2016-11-14 16:53] mattwarren commented on #8112
@AlexRadch, sigh, yes you're right, I didn't look closely enough at the internals of `StringBuilder`.

My code would need to work in a similar way to the [`StringBuilder` `ToString()`](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Text/StringBuilder.cs#L330-L369) method, i.e. loop backwards through the `m_ChunkPrevious` items, adding the data from each one.

[2016-11-14 16:58] jaredpar commented on #8054
It's not the end of the world for sure, but it's generally the end of a feature. :smile:

Back compat, love or hate it, is king.  Every time you break compat in the language, even in the smallest most esoteric ways, you break customers.  Typically a lot of customers.

An overload of a nocapture must maintain the nocapture semantics.  Otherwise it's possible to violate nocapture rules by capturing

[2016-11-14 18:07] JohnChen0 commented on #2266
Sounds good. I'll add the code to preserve the YMM registers.

[2016-11-14 18:16] cydhaselton commented on #917
@janvorli (amd/or @ghost): I'm working on the Android port for coreclr and wanted to know if any additional modifications are needed for the TEXTRELs fix you posted

I can build successfully, but on executing corerun, it complains of undefined references, like so:

``which corerun` $PREFIX/opt/microsoft/powershell/6.0.0-alpha.12/powershell.dll``
 ``dlopen failed to open the libcoreclr.so with erro

[2016-11-14 18:22] JohnChen0 opened #8116 "PAL not checking context flags correctly on OSX"
The context save/restore code in PAL (https://github.com/dotnet/coreclr/blob/master/src/pal/src/thread/context.cpp) has the following kind of code at multiple places:

    if (lpContext->ContextFlags & CONTEXT_ALL_FLOATING)

This doesn't actually work as expected. On x64, `CONTEXT_ALL_FLOATING` is defined as `(CONTEXT_AMD64 | 0x8L)`. When the caller doesn't want to save floating point registers, t

[2016-11-14 19:18] russellhadley opened #8117 "Partition morph into separate phases for required expansions and optimizations"
Morph has had a bug tail as well as an issue with unexpected diffs due to the fact that it has expansions required for correctness intermixed with optimizations.   The canonical example of this is the remorphing of expressions after CSE.  It's required for correctness, but the optimizations that are rerun can invalidate VNs and cause diffs requiring extra work.  To reduce this bug tail, as well as

[2016-11-14 19:21] russellhadley opened #8118 "Implement missing expression optimizations in morph"
Morph implements a subset of the traditional expression optimizations - work is to implement the remaining optimizations (can be derived via LLVM or internal compilers).

Depends on #8117

[2016-11-14 19:24] russellhadley opened #8119 "Implement forward substitution utility to create larger trees for morph"
Extend RyuJIT to use forward substitution to expand the impact of morph optimizations.

[2016-11-14 20:11] stephentoub commented on #3439
Until there's a solution for this in the JIT, should:
https://github.com/dotnet/coreclr/blob/f8b8b6ab80f1c5b30cc04676ca2e084ce200161e/src/mscorlib/src/System/Math.cs#L733
be changed from:
[code]
to:
[code]
? (And the same for the Int32 overload.)

[2016-11-14 20:19] redknightlois commented on #3439
@stephentoub Yes, it should. I can confirm that the performance of using the multiplication in the second case (in my case) has been huge.

[2016-11-14 20:21] mikedn commented on #3439
Changing `DivRem` like that sounds like a good plan, but we need to remember to revert the change once (if) the JIT starts optimizing this. Unless we also make JIT recognize `a - (div * b)`, I'm toying with the idea.

[2016-11-14 22:00] jreumuth commented on #8005
Thanks @Janiels. I wasn't familiar with ExceptionDispatchInfo. I played around with it a little and it looks like it does solve both of this issues.

[2016-11-14 22:22] janvorli commented on #917
@cydhaselton The build with those files left out was not meant to be a functional one, but it was rather a way to identify source files that cause the bogus TEXTREL to appear in the libcoreclr.so. Please note that there is no actual TEXTREL, only the binary is marked as having a TEXTREL for some unknown reason.
So the next step that hasn't happened yet is to find what in those files causes the  bo

[2016-11-14 23:45] cydhaselton commented on #917
Thanks @janvorli for the quick reply. Is there a workaround for the missing symbols?
Ideally, since I'd need to build the PAX-tools from source, I'm hoping to finish the coreclr build before going through these files

[2016-11-14 23:53] janvorli commented on #917
No, most if not all the functions from all the four files are needed for coreclr to work.

[2016-11-15 00:05] cydhaselton commented on #917
Fair enough. How are the Alpine builds completing then?  Apologies if it was mentioned earlier in the thread; I didn't see anything other than your note about being able to build coreclr successfully on Alpine

[2016-11-15 00:08] janvorli commented on #917
@cydhaselton I didn't hit this problem while bringing up CoreCLR on Alpine. The Alpine support was added in #7440.

[2016-11-15 01:15] cydhaselton commented on #917
@janvorli Thanks…I went back through the thread again and can see that it was  @ghost who had the issue originally and you were the one who tracked it down to specific files.
Unfortunately I don't see what he did to resolve the missing symbols issue I'm encountering or how to remove the bogus textrels. Will keep digging

[2016-11-15 01:17] janvorli commented on #917
@cydhaselton I believe he didn't go on with the investigations after that point.

[2016-11-15 03:01] #8112 closed

[2016-11-15 06:24] mikedn commented on #8117
Related/dupe: #4104

[2016-11-15 08:32] bencyoung commented on #8054
Hi Jaredpar, I think we are in agreement! I meant that it wouldn't be the end of the world if you couldn't call ToString on a nocapture variable (i.e. you could add a covariant nocapture in a derived class, but not remove it). And I completely agree on the delegate thing. Passing a nocapture variable to a constructure would have to mean it flowed to the fields somehow too.

Thanks for going throug

[2016-11-15 10:42] lemmaa commented on #3977
Finally...
Here is the latest result from Raspberry Pi 2 which uses Hard FP ABI. :)

[code]

With `testsUnsupportedOnARM32.txt` set as following
[code]

[2016-11-15 10:57] masonwheeler commented on #3977
Nice!  So now what can we do about those unsupported/skipped ones?

[2016-11-15 12:44] stephentoub commented on #3439
Ok, I'll submit a PR for that, including a TODO linking to this issue.

[2016-11-15 12:46] hadibrais commented on #7674
I was able to get Internet access on the same machine without going through the web proxy. This enabled me to successfully build the code. Yay! I think we can conclude from this that the proxy is indeed the culprit for some reason. Thanks for your help. Should I close the issue?

[2016-11-15 13:22] mattwarren commented on #8112
@AlexRadch did you mean to close this?

I agree that this would be a nice thing to have, so I'd at least like to see what someone from Microsoft thinks before closing it.

My workaround it a bit too much of a hack to be a good solution, plus as you point out it doesn't work in all situations.

[2016-11-15 13:29] AlexRadch commented on #8112
@mattwarren Append is already tracked by https://github.com/dotnet/corefx/issues/4928, so I close this as duplicate.

[2016-11-15 14:34] mattwarren commented on #8112
Thanks for the link, I'd missed that issue

[2016-11-15 14:40] GSPP commented on #1754
IO also can be blocking. Nothing wrong with doing synchronous IO.

Not sure how blocking would play into the heuristics even if the exact number of blocked threads was known. Just releasing another thread for each one blocked could easily cause an explosion of threads.

[2016-11-15 15:45] efaruk opened #8126 "Base Interface Method could Not be Found"
http://stackoverflow.com/questions/40573675/dotnet-core-could-not-found-base-interface-method

[2016-11-15 17:40] stephentoub commented on #6574
Another:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_ubuntu_tst_prtest/82/consoleText

[2016-11-15 18:11] BruceForstall opened #8130 "Build leaves 'localpkg' files in src tree"
A clean build leaves the following files in the `src` tree (according to `git status`):
[code]
Should these either be hidden by adding to `.gitignore`, or should they be created in the `bin` directory for the build flavor instead?

Bottom-line: they shouldn't appear in `git status` output.

[2016-11-15 18:43] swgillespie commented on #6574
@stephentoub got a crash dump from that, thanks!

[2016-11-15 18:50] swgillespie commented on #7762
Looks like it's possibly still happening in a different way: https://github.com/dotnet/coreclr/pull/8128#issuecomment-260728419

[2016-11-15 20:24] kouvel commented on #1754
Suppose we immediately spin off a new thread to compensate for a blocked thread, when blocking ends and it calls the API to indicate that blocking has ended, instead of allowing that thread to run, we could block that thread and put it in a separate queue that would be prioritized when a thread pool thread becomes available. That way, it would not cause too many threads to be running after blockin

[2016-11-15 22:46] pgavlin opened #8133 "Value numbering of `FieldSeqStore::NotAField()` has incorrect semantics."
Value numbering produces the same value number for each occurrence of `FieldSeqStore::NotAField`. This semantics is not logically consistent with the semantics of `NotAField`, however: `NotAField` indicates that we cannot reason about the address expression that it annotates, therefore we cannot reason about the value stored at the corresponding location. A recent change to admit the VN for `NotAF

[2016-11-16 01:00] #8133 closed

[2016-11-16 04:33] sivarv opened #8139 "Managed Debugger on Amd64: NativeWalker::Decode() runs into an assert while decoding "inc dword ptr [rax]""
Recently RyuJIT amd64 started generating "inc/dec [mem]" instruction for read-modify-write operations that add or sub 1 (PR https://github.com/dotnet/coreclr/pull/8101)

Here [mem] is any of legal addressing modes permitted.  This lead to an assert while running the following test

[code]

On Debugging it was traced to an assert in amd64walker.cpp!NativeWalker::Decode().

`_ASSERT(modrm != NULL);

[2016-11-16 12:21] madelson commented on #8105
According to the link @mattwarren posted, in Java the memory issues stem from having to generate a whole new class each time reflection on a method is optimized. In .NET where we have support for delegates, it seems like the overhead could potentially be lower.

[2016-11-16 13:17] theiceguy opened #8141 "Support running on webassembly"
Add support for running coreclr within the browser on webassembly worker threads.

[2016-11-16 17:26] swgillespie commented on #8141
Dupe of https://github.com/dotnet/coreclr/issues/5303

[2016-11-16 17:26] #8141 closed

[2016-11-16 17:29] jamesqo opened #8143 "GetHashCode should not box enums in generic methods."
Relevant comment: https://github.com/dotnet/corefx/pull/8964#r65099479

Currently, whenever `GetHashCode` is called on an enum in a generic context, it is boxed and a virtual call to `object.GetHashCode` is made. For example:

[code]

generates [this output](https://gist.github.com/anonymous/9175d70ec5e9c02b3877d6e63e591591). It would be nice if the JIT could recognize when it is enums, & avoid ma

[2016-11-16 17:41] stephentoub commented on #4506
I thought I responded to this a few weeks ago, but apparently my comment didn't take.  I don't really know of similar examples.  We've certainly taken bug fixes that haven't yet been ported back to desktop.  But we've also avoided making some kinds of fixes when the benefit is very low and the observable difference could cause cross-platform compatibility issues, e.g. throwing an ArgumentOutOfRang

[2016-11-16 18:06] gkhanna79 commented on #7812
@gokarnm What specific aspect of the resolution you would like to leverage?

[2016-11-16 18:34] AlexRadch commented on #4506
@stephentoub This behavior is documented in note **as issue** and have number of workarounds.

[2016-11-16 20:39] omariom commented on #8143
Is it the last reason to use `EqualityComparer<T>.Default.GetHashCode`?

[2016-11-16 21:18] danmosemsft commented on #4506
This was fixed in #8114.

[2016-11-16 21:18] #4506 closed

[2016-11-16 21:48] kae opened #8148 "netcoreapp1.1: An unhandled exception of type 'System.ExecutionEngineException' occurred in System.Security.Cryptography.X509Certificates.dll"
[repro.zip](https://github.com/dotnet/coreclr/files/595994/repro.zip)

Find attached repro for quite strange behavior
You need to import pfx from archive to LocalUser/My container first.

Then if you set `var fail = true;` you will get 'System.ExecutionEngineException' when trying to create certificate from rawData byte array.

When `var fail = false;` everything is working like a charm (differenc

[2016-11-16 21:51] jamesqo commented on #8143
@omariom, I believe so. If you look at all of the `GetHashCode` implementations for https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Collections/Generic/EqualityComparer.cs besides the enum comparers, they all essentially do the equivalent of `obj?.GetHashCode() ?? 0`.

[2016-11-16 22:23] terrajobst commented on #8148
@karelz and @bartonjs, can you guys take a look?

[2016-11-16 22:37] bartonjs commented on #8148
Worked on Ubuntu 16.04; except for loading the file (due to the path being `@".\demo-svc.pfx"` -- using the wrong directory separator).

So I guess this is on Windows?

[2016-11-16 22:37] sivarv commented on #8139
@mikem8361 - For desktop debugger test to pass on amd64, I am making a JIT side fix to not to emit inc/dec [mem] when asked to generate debuggable code. PR https://github.com/dotnet/coreclr/pull/8138/files

Post this PR is merged, if you need to repro, update the if-condition to remove `"!compiler->opts.compDbgCode"` and try running the above mentioned debugger test.

[2016-11-16 22:40] kae commented on #8148
Yeah, sorry.
Targeting windows

[2016-11-16 23:10] bartonjs commented on #8148
... confirmed on Windows Server 2012 R2.

I broke apart the failing line (`new X509Certificate2(cert.RawData)`) into two lines, and it's the constructor that's failing.

@JohnChen0: This didn't repro under with `COMPlus_ReadyToRunExcludeList=System.Security.Cryptography.X509Certificates`, so it sounds like an R2R problem to me (that being the extent of my diagnosis).

Is there enough information h