[2016-08-23 15:49] xied75 commented on #969
@jasonwilliams200OK I did a search on source:

[code]

Only managed to find two .s files?

[code]

Do we still somehow need to convert this first?

@benpye Something I can do as a small enough task?

[2016-08-23 15:59] jasonwilliams200OK commented on #969
@xied75, try with capital `.S`. Building PAL on MIPS is the first step, which shouldn't require this conversion.

[2016-08-23 16:01] benpye commented on #969
Porting PAL is reasonably straight forward, most of the architecture
specific files are in
https://github.com/dotnet/coreclr/tree/master/src/pal/src/arch though there
are various defines and ifdefs that may need updating.
https://github.com/dotnet/coreclr/blob/master/src/pal/src/exception/seh-unwind.cpp
has a lot of architecture specific code too. If you have more specific
questions I can try and

[2016-08-23 16:33] nebulaeonline commented on #6792
You need an updated glibc, because the 2.12 from the el6 branches is quite outdated.  This presents a problem as el6 kernels are "2.6.32" series.  I suspect that although Red Hat's kernels sport that version number, they have seen backports from newer kernels.  The major issue is that a glibc new enough to run dotnet core requires at least a 3.3 series kernel to build.  Now glibc can be built on a

[2016-08-23 16:46] BruceForstall opened #6860 "GC\Scenarios\DoublinkList\dlstack test failure seen in CI"
In #6846 run, saw this unreleated failure in x86 ryujit run:
[code]

Random?

[2016-08-23 16:58] jamesqo commented on #6785
Closing, as the associated PR to fix was closed.

[2016-08-23 16:58] #6785 closed

[2016-08-23 17:05] pgavlin commented on #6841
#6849 removed the following TODOs:
[code]

[2016-08-23 17:10] pgavlin commented on #6860
This is a dup of #6553.

[2016-08-23 17:10] #6860 closed

[2016-08-23 17:25] rahku opened #6862 "ARM64: As per GCInfo v2 returnkind of Program.foo should be RT_Obj_Obj"
ReturnKind of Program.foo is RT_Object. It should actually be RT_Obj_Obj.

using System;
using System.Threading;

class Program
{
	public static void Main()
	{
		Thread t1 = new Thread(new ThreadStart(Program.bar));
		t1.Start();
		while(true)
		{
			System.GC.Collect();
		}
	}

	public static void bar()
	{
		myStruct t;
		Program a = new Program();
		Program b = new Program();
		while(true)
		{

[2016-08-23 18:14] BruceForstall commented on #6830
This test has been re-enabled for x86 by not running CscBench. The assert is tracked by #6844.

[2016-08-23 18:14] #6830 closed

[2016-08-23 18:45] mikem8361 commented on #6853
loadSymbolsForModule handles no pdb by returning 0.  There must be some other unhandled managed exception happening in code that isn't protected by a try/catch.

Maybe you don't have the latest System.Reflection.Metadata assembly.

You could try debugging LLDB/SOS with LLDB instead of gdb. Getting this to work is a little complicated:

1) Attach in another terminal session instead of launch so the

[2016-08-23 18:45] #6853 closed

[2016-08-23 18:53] gafter commented on #1712
@gkhanna79 The time frame for getting this fixed in C# 7 is the same as the time frame for the ValueTuple libraries. Having this in place in the next month would enable us to fix the compiler for Dev15.

[2016-08-23 19:05] Maoni0 commented on #6809
First of all, people are not calling the NoGCRegion API all the time so we can be afford to sacrifice a bit of perf in exchange of code simplicity. Secondly, we might need to do what I call a "minimal gc" which is just to add a new segment. For that we do want to suspend threads.

[2016-08-23 21:07] andrewjsaid commented on #6843
I read an article earlier today about Wire Serialiser where one of the optimisations was able to determine whether the constructor of a type had any side effects by counting the number of IL instructions. The author intelligently determined that any constructor with fewer than 8 IL bytes, accessed through GetILAsByteArray(), must have no side effects.

I am not familiar with the coreclr code based

[2016-08-23 21:17] mattwarren commented on #6809
Thanks for the info, I've recently been digging into EE suspension for the GC (http://mattwarren.org/2016/08/08/GC-Pauses-and-Safe-Points/) and this is good to know

On 23 Aug 2016, at 20:06, "Maoni Stephens" <notifications@github.com<mailto:notifications@github.com>> wrote:

First of all, people are not calling the NoGCRegion API all the time so we can be afford to sacrifice a bit of perf in exch

[2016-08-23 21:36] rahku opened #6874 "!u & !bpmd broken"
!u and !bpmd sos commands do not work anymore most likely due to PR #6783. I tried this on windows x64 debug builds

0:000> !u 00007ffd0dde0920
Normal JIT generated code
Porgram.Main()
Begin 00007ffd0dde0920, size 1c
e0434352 Exception in F:\coreclrGit\coreclr\bin\tests\Windows_NT.x64.Debug\Tests\Core_Root\SOS.dll.u debugger extension.
      PC: 00007ffd`b53a1f28  VA: 00000000`00000000  R/W: 80131

[2016-08-23 21:43] AnthonyLloyd opened #6875 "DllImport in bash on Ubuntu on Windows"
Hi,

I'm trying to call a native so file located with the dotnet core dll. I've tried with or without lib in the call and all I ever get is the following. Is a local so file possible and is bash on Windows supported?

Unhandled Exception: System.DllNotFoundException: Unable to load DLL 'Native.so': The specified module could not be found.

Any pointer to documentation on this would be great.

Than

[2016-08-23 21:55] BruceForstall commented on #6261
This was done with
[code]

[2016-08-23 21:55] #6261 closed

[2016-08-23 21:57] BruceForstall opened #6876 "RyuJIT x86: improve localloc codegen in some cases"
And reduce `#ifdefs`.

Address the following TODO in genLclHeap():
[code]

[2016-08-23 22:27] mmitche opened #6877 "gtCostsInitialized assertion failed"
Expected: True
13:51:02         Actual:   False
13:51:02           D:\j\workspace\x86_ryujit_ch---c998cf3c\bin\tests\Windows_NT.x86.Checked\TestWrappers\JIT\JIT.XUnitWrapper.cs(273276,0): at JIT._Methodical_stringintern__XModuletest2_xmod__XModuletest2_xmod_._Methodical_stringintern__XModuletest2_xmod__XModuletest2_xmod_cmd()
13:52:01 D:\j\workspace\x86_ryujit_ch---c998cf3c\bin\tests\Windows_NT.x8

[2016-08-23 22:28] mmitche commented on #6877
99% sure this is caused by #6849 @pgavlin.  Recommend we revert for now.

[2016-08-23 22:39] pgavlin commented on #6877
I have a fix out for this: #6872

[2016-08-23 22:41] pgavlin commented on #6877
Closed by #6872.

[2016-08-23 22:41] #6877 closed

[2016-08-23 23:02] mikem8361 commented on #6874
Does the exception still happen if you do "!u -n ..."?

If diasymreader.dll was missing, you should get a nice error message.  PR #6783 did cause SOS to attempt to load/get disasymreader.dll now where it didn't before, but it shouldn't crash.  It could be crashing trying to load a portable PDB for the program.  It might be crashing because you don't have a recent enough System.Reflection.Metadata

[2016-08-23 23:17] BruceForstall commented on #6180
Tests no longer fail. Tests re-enabled with #6873.

[2016-08-23 23:17] #6180 closed

[2016-08-23 23:21] jasonwilliams200OK commented on #6875
Yes: the released preview 2 version of CLI for Ubuntu works on BoUoW, but has some port binding issues when running web server on top of it, see: https://github.com/dotnet/cli/issues/3999. Not sure about P/Invoke issues.

You can probably use something like `strace corerun MyConsoleAppWithDllImportStuff.exe` to figure out what the underlying issue is. Is the Native.so even present on the disk wher

[2016-08-23 23:31] rahku commented on #6874
!u -n works fine
0:000> !u -n 00007ffd0dde0920
Normal JIT generated code
Porgram.Main()
Begin 00007ffd0dde0920, size 1c

00007ffd`0dde0924 48b96830001052020000 mov rcx,25210003068h
00007ffd`0dde092e 488b09          mov     rcx,qword ptr [rcx]
00007ffd`0dde0931 e8b2f7ffff      call    System.Console.WriteLine(System.String) (00007ffd`0dde00e8)
00007ffd`0dde0936 90              nop
00007ffd`0dde0937

[2016-08-23 23:46] rahku opened #6881 "ARM64: test JIT\Methodical\tailcall_v4\smallFrame failing"
After #6793 test started to fail. See PR for discussion. I am currently disabling this test for arm64 ...please close the issue if that is the right thing to do.

[2016-08-24 00:11] choikwa opened #6884 "Infra: is Documentation/project-docs/ci-trigger-phrases.md outdated?"
I couldn't get \@ dotnet-bot to trigger jobs by trigger-phrases from Documentation/project-docs/ci-trigger-phrases.md

but test {full test string shown in the PR} seems to have worked. Is the doc outdated?

[2016-08-24 00:33] echesakov opened #6886 "RyuJIT: fgOptimizeBranch loses bbFlags while duplicating the conditional block"
When `fgOptimizeBranch` procedure duplicates the conditional basic block it does not copy flags of the `bDest` block to the `bJump` block. For example, if a flag `BBF_HAS_NEWOBJ` was set in `bDest`, but not in `bJump` when the branch optimization is done the flags of `bJump` will not reflect the fact that we have construction of new object in this block. We need to decide which flags we are going

[2016-08-24 01:02] jasonwilliams200OK commented on #6884
or

or

All of these work.

In the [trigger phrases doc](https://github.com/dotnet/coreclr/blob/d3cba55/Documentation/project-docs/ci-trigger-phrases.md), the right hand side is the actual trigger phrase in the list, for example the following:

Refers `Test Windows_NT pri1` to be the actual trigger phrase.

Probably doc can be restructured a bit as it bolds the wrong side of the text, maybe use ta

[2016-08-24 01:27] choikwa commented on #6884
Table would be nice.
Also, is this
Ubuntu arm64 Release Cross Build: "test Ubuntu arm64"
an alias for
Linux ARM Emulator Cross Release Build?

I tried the Trigger Phrase to no avail, but the actual strings shown by the plugin worked.
For reference, https://github.com/dotnet/coreclr/pull/6801

[2016-08-24 01:43] hseok-oh commented on #6854
I cannot reproduce this issue in my environment.

Linux/ARM32 (hardfp)
CoreCLR: Release build -O3 (@a1ee7b80)
CoreFX: Release build -O3 (dotnet/corefx@0435efe)

[2016-08-24 01:58] jasonwilliams200OK commented on #6884
an alias for
Linux ARM Emulator Cross Release Build?

seems like that job doesn't exist by that name.

cc @wtgodbe

[2016-08-24 03:06] jkotas commented on #6856
It should be fine to remove the assert.

[2016-08-24 03:13] jkotas commented on #6854
The ProcessModule tests should be fixed to test for the full possible range:

`Assert.InRange(module.BaseAddress.ToInt64(), long.MinValue, long.MaxValue);`

[2016-08-24 04:38] jamesqo commented on #6532
I am closing this. Even using lazy initialization of the array slots, there would still need to be at least ~30 repetitions of the same characters to justify the memory taken up by the array.

[2016-08-24 04:38] #6532 closed

[2016-08-24 12:43] zpbappi commented on #5974
I would like to grab this one. The issue originally started to correct the numbers in the existing generator. However, I really like the XorShift+ and it is well known for fast computation.
Can you guys please confirm the scope of this item? Like, should I just correct the numbers in the existing `Random` implementation? or, change the `Random` implementation completely to use XorShift+? or, creat

[2016-08-24 13:21] jkotas commented on #5974
Just correct the numbers.

There are many different random number generators. They should be provided as independent libraries - there are actually quite a few of them on https://www.nuget.org/packages?q=Random.

[2016-08-24 15:59] GSPP commented on #5974
If compatibility is broken anyway it would be a good time to use a new algorithm altogether. XorShift+ is *far* superior to the old one. It is easy to implement.

[2016-08-24 16:29] jkotas commented on #6574
Another: http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x86_ryujit_checked_windows_nt_prtest/3306/

[2016-08-24 17:03] pgavlin opened #6893 "ARM64: assert in lir.cpp"
[code]

This is showing up on the tests that were previously failing due to #6583.

[2016-08-24 17:49] jkotas commented on #6553
Another: http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x86_ryujit_checked_windows_nt_prtest/3306/

[2016-08-24 17:53] jkotas commented on #6553
I am disabling the test to improve CI stability: https://github.com/dotnet/coreclr/pull/6895

[2016-08-24 18:01] #6588 closed

[2016-08-24 18:48] jkotas commented on #6676
Pretty much all jobs are hitting the out of space errors again.

[2016-08-24 19:58] #6583 closed

[2016-08-24 20:26] JosephTremoulet opened #6900 "JIT: Value-numbering is over-conservative for image_rel32 statics"
When `fgMorphField` processes a static field for which `eeGetRelocTypeHint` returns `IMAGE_REL_BASED_REL32`, it creates an `GT_IND` over an `IntCon` rather than a `GT_CLSVAR`.  Value numbering has processing to disambiguate static fields represented as `ClsVar`s, but not the others, despite the others being annotated with the symbolic field information.

Here's some code that shows the issue; ther

[2016-08-24 20:34] gkhanna79 commented on #6857
@ramarag Can you PTAL?

[2016-08-24 20:40] JosephTremoulet opened #6901 "JIT: Loop hoisting is overly-conservative with helper calls"
Loop hoisting has code to avoid illegally re-ordering side-effects, which includes [a check for calls](https://github.com/dotnet/coreclr/blob/03ff9b0b6b7fc7a037f4d03a904ed5da8a208dbb/src/jit/optimizer.cpp#L6229) that is overly-general.  The check looks at the `GTF_CALL` flag, which (A) will be set for the entire expression containing a call as a sub-expression (which is unnecessary because this co

[2016-08-24 20:55] JosephTremoulet opened #6902 "JIT: Loop hoisting inhibited by phase-ordering issue"
Consider this code:

[code]

Even with fixes in place for #6900 and #6901, we're unable to hoist the invariant array length loads (that get inserted for the bounds-checks on all those `m_arr[i]` accesses) out of the loops, because the `m_arr[i]` expressions look like this when `optHoistLoopCode` runs:

[code]

Note that the static field `m_arr` is loaded and then stored to a local in the left side

[2016-08-24 21:11] choikwa commented on #6884
Another design change that would be nice to have is if the build history was preserved. However, this work is probably for the Jenkins WebHook.

[2016-08-24 21:54] RussKeldorph commented on #6676
@sjsinju We can't keep increasing FS size.  We need you to apply @jashook's fix or equivalent ASAP.  Any ETA on that?  If this isn't mitigated in the next day or two, we're going to have to switch these jobs from PR-triggered to commit-triggered so that people aren't constantly distracted with these false negatives in their PRs.

[2016-08-24 22:50] #3554 closed

[2016-08-24 23:05] jkotas commented on #6857
mscorlib.dll produced by the coreclr build has wrong forwarder for CreateValueCallback type. From ildasm of mscorlib.dll:

[code]

Instead, it should look like this:

[code]

[2016-08-24 23:06] jkotas commented on #6857
@weshaggard This looks like a bug in the genfacades.exe tool.

[2016-08-24 23:07] ramarag commented on #6857
yes that is correct #6899 will fix it

[2016-08-24 23:10] mellinoe opened #6904 "Consider avoiding using "which" to validate prereqs"
`which` is not universally available, and is not even installed by default in some cases (docker images). We should consider using a more universally available method for checking. Answers online recommend using `command` or `type` to do this.

[2016-08-24 23:10] #6857 closed

[2016-08-24 23:11] mellinoe commented on #6904
[This](https://github.com/dotnet/coreclr/blob/master/build.sh#L5) is what I'm referring to, for clarity.

[code]

[2016-08-24 23:57] chunseoklee commented on #6853
@mikem8361 1 more Q : Have you run lldb-3.8 or lldb-3.6 ?
And could you share the procedure that build up overlay set ?
I am using the script below:
[code]

[2016-08-25 00:08] zpbappi commented on #5974
True. I agree that it would be a breaking change for the people relying on `Random` to generate fixed sequence of numbers for a given `seed`. For example, the following `Generate` function will always return the exact sequence of numbers (within range) if the passed in `seed` parameter remains same.
[code]
So, changing the numbers inside current `Random` class would only break the codes that are r

[2016-08-25 00:31] mikem8361 commented on #6853
I use LLDB-3.8. LLDB-3.6 is pretty buggy.

Getting the corefx binaries is pretty manual for me so I don't do it very often.  I could build and just update System.Reflection.Metadata.dll to get the latest which SOS.NETCore.dll requires.

FYI, it looks like 'rm -f $DEST/*.ni.*' will delete your NGEN binaries for mscorlib.dll/System.Private.Coreclr.dll which will still work, but isn't as fast.  They

[2016-08-25 00:35] chunseoklee commented on #6853
Thank you for kind reply. My System.Reflection.Metadata.dll seems to be the latest one since it is build by myself with latest upstream/master. (I dont get any clue right now.)
Thank you again.

[2016-08-25 01:01] RussKeldorph commented on #6886
@dotnet/jit-contrib Volunteers?

[2016-08-25 01:30] redknightlois opened #6906 "Consider refactor out SIMD support from System.Numerics into System.Unsafe.Simd"
**TL'DR: The design guidelines for `System.Numerics` conflict with general SIMD needs**

As stated at https://github.com/dotnet/corefx/issues/10931 until that happen, support for SIMD will be constrained by design decisions made when XNA was still current (like 8 years ago). While Numerics is a good way to support the **math oriented most common** vector operations the SIMD world is far bigger.

T

[2016-08-25 01:46] terrajobst commented on #6906
@redknightlois

Can you provide some code snippets of the code you'd like to write that our `System.Numerics.Vectors` doesn't support today?

The key goals of our SIMD support were:

* Make it easy for people from the gaming/graphics space to use pre-canned types.
* Have a general purpose, hardware-independent SIMD representation that allows advanced developers to exploit the hardware they run on.

[2016-08-25 02:26] redknightlois commented on #6906
@terrajobst Thats the problem I build databases, not games :)

Examples of the thing I personally can't implement today (performance issues without SIMD):
- Better bitmap performance with Roaring bitmaps (http://arxiv.org/pdf/1402.6407.pdf).. without ```popcnt``` performance is paltry
- Adapting Tree Structures for Processing with SIMD Instructions (https://openproceedings.org/2014/conf/edbt/Zeuch

[2016-08-25 02:40] terrajobst commented on #6906
Before we go into the details please understand that I'm not trying to push back on anything you said. My goal is simply to separate the *there is feature missing we should add* from *the API shape and concepts you provide are inappropriate*.

How so? The first is provided by the fixed-size vector types and the matrix types. The second is provided by the generic `Vector<T>` class. This API has no

[2016-08-25 03:00] redknightlois commented on #6906
Without going in much details not having:
- Shuffle & Permutations: kills like 60% of those in the first line of code.
- Popcnt: kills the rest (SW popcnt performance is as baaaad as you can think) :)

But there are other algorithms that you just even think about because they involve:
- Packed minimum/maximum for different integer operand types
- Packed Compare Masking
- Combined mask-shift instru

[2016-08-25 03:19] redknightlois commented on #6906
I know you want examples... so here a few which are relevant today (as in people is actually trying to overcome this issue on CoreCLR source code).

[code]

Or thinks like this:

[code]

[2016-08-25 03:26] redknightlois commented on #6906
How ```Vector3<int>``` gets implemented (lets say ```.Add()```)?

[code]

```Register``` is a very unsafe data type that maps straight to memory (in the stack or the backing storage of choice --- aka a pointer ---)

[2016-08-25 03:56] benaadams commented on #6906
Currently you can cast the Vector types between each other quite easily without actual conversion via `Vector.AsVectorXXX(v)`.

I'm very keen to have greater access to the hardware intrinsics, with software fallbacks. I don't have a feel for what the right api would be but the C/C++ ones are horribly named, so hopefully the functionality could be captured better.

I think the Vectors currently do

[2016-08-25 04:06] jkotas commented on #5974
xorshift has different properties and problems. https://en.wikipedia.org/wiki/Xorshift lists some of them. The new algorithm would need to be same or better in all dimensions compared to the current one - cool and faster is not sufficient. Is there analysis that shows that (some variant of) xorshift is same or better in all dimensions compared to the current algorithm? Have class libraries for oth

[2016-08-25 04:13] zpbappi commented on #5974
[XorShift+](https://en.wikipedia.org/wiki/Xorshift#xorshift.2B) variant in the same page overcomes the limitations of the plain XorShift. As for the comparison with the current one, I will get back to you when I get some data.

[2016-08-25 04:28] Ziflin commented on #6906
I just added several things that our Game Engine's SIMD library would need here (there are probably a few more that I missed):
https://github.com/dotnet/corefx/issues/10931#issuecomment-242270800

Unfortunately the Numerics.Vector library assumes everyone uses the same coordinate system, which is (possibly more unfortunately) not the case. The major engines and tools all seem to have their own, ju

[2016-08-25 08:41] sjsinju commented on #6676
@RussKeldorph OK. Let me try to apply @jashook's proposal to my local PC. And after that I will fix this issue ASAP.

[2016-08-25 13:22] LMLB commented on #5974
There is a PRNG comparison at http://xoroshiro.di.unimi.it/. It doesn't include the one currently used in System.Random though.

[2016-08-25 13:35] GSPP commented on #5974
Whenever I researched XorShift I only found claims of quality. For example http://stats.stackexchange.com/questions/40680/is-xorshift-rng-good-enough-for-monte-carlo-approaches-if-not-what-alternatives links to http://xoroshiro.di.unimi.it/. This seems to be a pretty comprehensive work.

XorShift is so fast that one can easily spend some perf to make the quality even better and to remove doubts. F

[2016-08-25 13:48] zpbappi commented on #5974
Here is what I am planning to do (or, doing):
- Implement both XorShift128+ and XorShiro128+
- Use the generated `ulong` to created to `uint` with most and least significant 32-bit blocks as suggested in http://xoroshiro.di.unimi.it/
- Submit some generated random numbers (around 30 Mb) to http://www.cacert.at/random/ for a measure of "randomness" and compare it with dotNET `Random` class. Data fo

[2016-08-25 15:11] ikopylov opened #6912 "SemaphoreSlim: reduce the number of false-wakeups of waiting threads"
This is the issue for 1 year old PR #137. Hopefully, it will help to move forward.

SemaphoreSlim uses ```PulseAll``` to notify all waiting threads that the Release happened. But, in fact, only few of the waiting threads will exit the lock (according to the value of semaphore ```currentCount```). All other threads will waste the CPU resources just to check the condition and return to the Wait stat

[2016-08-25 15:35] RussKeldorph commented on #6906
@dotnet/jit-contrib

[2016-08-25 15:37] redknightlois commented on #6906
That is why it is so ugly to work with... there are several algorithms that switch back and forth between instructions to do so.

I think they are horribly named too, but the approach is sound. That's the reason when I sketched how it would work I used more sensible names for them :)

[2016-08-25 15:58] RussKeldorph commented on #6356
@russellhadley Seems extremely likely this is fixed even though we technically haven't repro'd based on the original description.  Can we just close and reactivate if it pops again?

[2016-08-25 16:09] adiaaida commented on #5956
Fixed with #6894

[2016-08-25 16:09] #5956 closed

[2016-08-25 16:18] mburbea commented on #6906
@benaadams , those vector.AsVectorXXX(V) methods sometimes use multiple registers and don't always generate good quality code.

I'd rather just expose more of the intrinisics.

[2016-08-25 16:55] russellhadley commented on #6839
@AndreyAkinshin What's the impact of this?  Is this benchmark represent an issue in a particular workload or product?  Or is this more of a general investigation?  I think this issue is important but I'm trying to get a handle on how quickly we'd need to look at this.

[2016-08-25 16:55] mikem8361 commented on #6853
One thing you should make sure with your above script is that mscorlib.dll/System.Private.Coreclr.dll are NOT copied from the corefx directories. I've notice in the *.Tests* directories sometimes contain a mscorlib.dll (which sometimes won't match the one from coreclr).

[2016-08-25 17:02] mikem8361 commented on #6874
PR #6905 fixes (even though the title doesn't seem appropriate) the cases where System.Reflection.Metadata.dll is missing or the wrong version.

You still have some kind of mismatch probably with mscorlib/System.Private.CoreLib and CoreClr.dll.  The corefx bin directory contains those in the *.Tests* directories. This is unlikely because the timestamps of the all the coreclr binaries match in your

[2016-08-25 17:02] #6874 closed

[2016-08-25 17:03] mikem8361 commented on #6804
You can reopen this issue if there still is a problem.

[2016-08-25 17:03] #6804 closed

[2016-08-25 17:04] mikem8361 commented on #6622
Please reopen this issue if there still is a problem.

[2016-08-25 17:04] #6622 closed

[2016-08-25 17:05] AndreyAkinshin commented on #6839
It's a general investigation, no real issues. =) I just thought that it would be nice to have such kind of optimizations.

[2016-08-25 17:15] erozenfeld commented on #6881
Yes, disabling smallFrame on arm64 was the right thing to do so I'm closing this issue.

[2016-08-25 17:15] #6881 closed

[2016-08-25 17:41] JosephTremoulet opened #6915 "JIT: Hoist invariant interface method lookups out of loops"
When all of the arguments of an interface call are invariant w.r.t. a containing loop, the jit could rewrite the interface call as a call to `CORINFO_HELP_VIRTUAL_FUNC_PTR` to fetch the function pointer followed by an indirect call on that pointer; the helper call could then be hoisted from the loop.  This would remove a couple levels of indirection (i.e. dereferencing the cell, jumping to the thu

[2016-08-25 17:51] jasonwilliams200OK commented on #917
@adityamandaleeka, as per my last chat (over the weekend) with @richardlford on IRC, we may propose a patch to upstream and include `_fpx_sw_bytes` struct and friends to musl-libc's `signal.c`. I can try to work on making the patch and send it for review. I just wanted to know that is this something on CoreCLR that can changed or done differently to avoid replicating the Kernel's responsibility? O

[2016-08-25 18:08] svick opened #6916 "AllTestProjects.sln references deleted projects"
The solution AllTestProjects.sln references many projects that don't exist anymore.

As far as I can tell, a lot of them were split into multiple projects in https://github.com/dotnet/coreclr/pull/1690, but AllTestProjects.sln was not updated to reflect that change.

[2016-08-25 18:34] jamesqo opened #6918 "Use the Boyer-Moore search algorithm for String.IndexOf"
The current implementation of `String.IndexOf(string)` [uses a naive loop](https://github.com/dotnet/coreclr/blob/master/src/utilcode/newapis.cpp#L598-L608) to check whether a substring of some given text matches a pattern. Although this implementation is simple and easy to understand, it is very inefficient because it has to iterate through a minimum of *m - n + 1* characters of the text, where *

[2016-08-25 18:55] JosephTremoulet commented on #6915
Correction: the arguments to the interface call don't all need to be invariant, just the instance pointer (or more precisely its exact run-time type).

[2016-08-25 19:17] MathiasMagnus commented on #659
Just to complete the referenced issue of mine: enabling the wrapping of C/C++ libraries with PS would render it a viable alternative to Python. Depending on script engine performance, it might even prove to be better.

[2016-08-25 20:12] pgavlin opened #6920 "RyuJIT x86: assertion failed: '(op2 == idx) || (op2->gtEffectiveVal() == idx)' in 'Platform.Graphics.Typography.TrueType.SfntReader:LoadNamedRecords():this' (IL size 446) at gentree.cpp:429"
This is from TrueTypeBench in the internal benchmarks.

[2016-08-25 20:53] RussKeldorph commented on #4992
@pgavlin - @BruceForstall thinks this may be fixed.  Can you confirm?

[2016-08-25 20:58] RussKeldorph commented on #4659
@mikedn Does this issue hold value after LIR?

[2016-08-25 21:09] adiaaida opened #6924 "RyuJIT x86: enable stress jobs"
Enable stress (jitstress, gcstress) jobs for x86 ryujit in the lab.

[2016-08-25 21:29] Anderman commented on #6661
movsb has some overhead see [SO](http://stackoverflow.com/questions/33902068/what-setup-does-rep-do/33905887).

I created a test with rep movsb. movsb was called by pinvoke. The movsb test is corrected by PInvoke overhead. Arraycopy also use movsb for size>128. I used vector copy

![image](https://cloud.githubusercontent.com/assets/1858745/17986224/fa5accee-6b19-11e6-8e3b-c6c042ee8f0f.png)

[2016-08-25 21:46] BruceForstall opened #6925 "RyuJIT x86: Change long decomposition to no longer create temps for operands"
Before LIR, we were required to create temps for virtually all decomposed operands, such that we could put the operands in legal tree order. Now that we don't need to preserve canonical tree ordering, we can simply use the existing operands as is, and the newly created/inserted LIR nodes can point to them directly.

[2016-08-25 22:06] jkotas commented on #6918
It is inefficient for large strings. It is pretty efficient for small strings that is likely the typical usage pattern for IndexOf...

[2016-08-25 22:07] benaadams commented on #6918
For smaller strings, could check first, a middle and last char before checking the intermediate chars (pre-processing will have some setup, so will be cross over point)

e.g. for words the entropy increases with each char; however there are also a lot of shared endings `-ing` `-ed` `-s` etc

[2016-08-25 22:11] jasonwilliams200OK commented on #917
Sorry @richardlford, I meant @richfelker. :smile:

[2016-08-25 22:11] benaadams commented on #6918
Also would only apply to non-culture strings as culture aware strings use OS compare (at least on windows)

[2016-08-25 22:21] BruceForstall opened #6927 "RyuJIT/x86 Windows work items"
# Summary
This issue summarizes all the remaining work necessary to complete the RyuJIT/x86 porting effort. Most items are linked to GitHub issues tracking the individual item work.  Note that only work required to port to Windows is tracked below.  Tasks specifically required to enable Unix/x86 support are not tracked here.

# GitHub issue query
RyuJIT/x86 issues should be marked with labels "x86

[2016-08-25 22:47] jamesqo commented on #6918
@jkotas Yeah, for small strings it may be problematic since it needs a dynamically allocated buffer for `delta2`. For those scenarios I'm planning to use a 'lite' Boyer-Moore and use a tiny statically allocated bitmap, like what's being done with [IndexOfAny](https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/String.cs#L2127) right now. If any of the 2 bits correspo

[2016-08-25 22:47] jasonwilliams200OK commented on #6918
@SoftCircuits, saw your varied implementations of Boyer-Moore algorithm via http://stackoverflow.com/a/4916363. Would love to have your take on this. :)

[2016-08-25 22:48] jamesqo commented on #6918
@benaadams

I wonder if we could bypass doing that if `IsAscii()` is true, since I'm pretty sure any sane OS would return uniform results for those strings.

[2016-08-25 22:54] jashook commented on #6927
Sounds like SPMI should be hoisted into a separate unrelated issue.

[2016-08-25 23:20] jkotas opened #6930 "AF: Precondition failure: Can only CloseBuffer() after a call to OpenBuffer()"
Repro: Press "Retry" in assert dialog to attach debugger

Result: Another assert dialog

The problem is that ClrGetCurrentDirectory in https://github.com/dotnet/coreclr/blob/master/src/utilcode/safewrap.cpp#L44 is calling CloseBuffer without matching OpenBuffer.

[2016-08-25 23:21] jkotas commented on #6930
Regression introduced by https://github.com/dotnet/coreclr/tree/7045ca7a6de381b382a709dc0a61f49ca713d160

@ramarag Could you please take a look?

[2016-08-25 23:46] ramarag commented on #6930
I understand the nature of the bug and will try to change all other instances where this might happen. But i am still curious on the repro. Which assert needs to get fired for the bug to repro ?

[2016-08-25 23:54] jkotas commented on #6930
Adding `ASSERTE(false)` somewhere to startup path should repro it.

[2016-08-26 00:14] SoftCircuits commented on #6918
In my experience, `String.IndexOf()` with `StringComparision.Ordinal` will always be faster than Boyer-Moore except for extreme pathological cases. The reason appears to be that `String.IndexOf()` uses hand-optimized assembly language specifically designed to quickly scan strings. In addition, with Unicode, Boyer-Moore require a _very_ large buffer to be allocated or for the skip table unless you

[2016-08-26 00:26] jamesqo commented on #6918
@SoftCircuits

Where did you get that? From what [this SO answer](http://stackoverflow.com/a/2584204/4077294) has told me, the `IndexOf` implementation is written [here](https://github.com/dotnet/coreclr/blob/master/src/utilcode/newapis.cpp#L598-L608) in C++, not assembly.

Yeah, I realized that earlier. There are a couple of workarounds for this. For example, String has a [cached `IsAscii` flag](

[2016-08-26 00:27] BruceForstall opened #6931 "RyuJIT x86: audit DecomposeLongs to ensure proper flags propagation"
DecomposeInd(), for example, doesn't propagate flags from the low to high part of the indirection. It seems it should propagate GTF_ALL_EFFECT.

This should be audited for all DecomposeLongs functions.

[2016-08-26 02:36] benaadams commented on #6918
Is will be hard to beat 2 strings in cpu cache by bringing in a 3rd data structure. Like to work better for file size searches and/or much larger search strings.

[2016-08-26 03:04] jamesqo commented on #6918
@benaadams Hm, maybe. I could see it being less efficient with the bitmap scheme because of all of the bit operations that have to be done (couple of shl/shr/and). However, if we go down the lookup table route that will only take up like 8 cache lines, which is only 1/64 of L1 cache so it won't cause problems with eviction. A lookup table will also introduce no additional branching to the main loo

[2016-08-26 03:10] benaadams commented on #6918
But if you are looking for a < 32 char string that's only 1 cache line?

[2016-08-26 04:44] mikedn commented on #4659
@RussKeldorph The original issue no longer exists but the NYI is still [there](https://github.com/dotnet/coreclr/blob/master/src/jit/decomposelongs.cpp#L804). I'll use the existing #5884 to remove it (sometime this weekend).

[2016-08-26 07:30] Tornhoof commented on #6906
As I ported RoaringBitmaps to .NET, I can confirm that an intrinsic popcnt operation would be very useful as it is used for pretty much every logical operation on bitsets.
@WojciechMula has a great comparison of different algorithms and methods to count bits [SSE Popcount](http://0x80.pl/articles/sse-popcount.html) and popcnt is several times faster than any competitor, especially for smaller arra

[2016-08-26 12:18] hqueue commented on #6680
After further analysis, sizeof JitTest.RefComplexStruct is 72 for coreclr in ARM32 due to AlignmentRequirement of nested `JitTest.SimpleStruct`.
In short, coreclrt works as indended and it looks that TC should be rewritten.

I will describe what happens with above `JitTest.SimpleStruct` and `JitTest.RefComplexStruct`,

`sizeof JitTest.SimpleStruct` is 32 (=4+4+1+1+2+4+4+8+8)  and there is no paddi

[2016-08-26 14:07] RussKeldorph commented on #6680
Sorry for not following up sooner.  @hqueue You are correct that the test is not valid for ARM.  You can see in the [project](https://github.com/dotnet/coreclr/blob/74ac12bf9966c5f0f6c58b72bbb99b08727c3d4e/tests/src/JIT/Methodical/xxobj/sizeof/_il_dbgsizeof32.ilproj#L33-L34) file that there was an attempt to use the corresponding 64sizeof32.il for non-x86 platforms.  Unfortunately, that doesn't wo

[2016-08-26 14:31] SoftCircuits commented on #6918
@jamesqo As I mentioned originally, the code used depends on the comparison type. I don't know what the code you referenced is (and don't have time to dig into it right now). What I do know is that the performance of `IndexOf()` (in some comparison modes) far surpassed anything I could write in C# (even Boyer-Moore algorithms) _at the time I ran my tests_. There were other clues at the time that i

[2016-08-26 15:07] hqueue commented on #6680
@RussKeldorph  Thank you for addressing test issue and I definitely agree with you on this. I will also find ways to enable architecture-specific tests with less effort and I'm willing to open a discussion later if possible.

However for this `JIT/Methodical/xxobj/sizeof` test cases, I'm still have some questions.

Do `_il_dbgsizeof` and `_il_dbgsizeof32 `work on x86 correctly now ?
Because after

[2016-08-26 15:09] CyrusNajmabadi opened #6934 "Proposal: Allow delegates to implement single-interface methods."
Issue https://github.com/dotnet/corefx/issues/11173 and a discussion with @stephentoub prompted me to file this issue to get some knowledgeable eyes to look at an idea I had.

Specifically, in the course of that bug being fixed I was made aware that the CoreFx implements ```Array.Sort(Comparison<T>)``` by wrapping the Comparison in an ```IComparer<T>``` and forwarding along to another Sort method.

[2016-08-26 15:13] gregg-miskelly opened #6935 "Debugger: Func-eval of function returning a 'decimal' type is broken on macOS/Linux"
#### Steps to Reproduce:
Create a .NET Core Console application with the following code:

[code]

[2016-08-26 15:13] gregg-miskelly commented on #6935
@noahfalk @Mikem8361 here is the new bug

[2016-08-26 15:15] gregg-miskelly commented on #6935
We have had several reports of this, so it would be nice to fix for 1.1 if that is possible.

[2016-08-26 15:17] JosephTremoulet opened #6936 "JIT: heuristics in fgOptWhileLoop may be overly conservative"
For example, the loop in method `Fit` from benchmark [Puzzle](https://github.com/dotnet/coreclr/blob/74ac12bf9966c5f0f6c58b72bbb99b08727c3d4e/tests/src/JIT/Performance/CodeQuality/BenchI/Puzzle/Puzzle.cs#L45-L59) gets rejected as too costly, causing loop hoisting etc. not to run on it, but it's a good candidate for such optimizations and Jit64 performed them on it:

[code]

There's already [specia

[2016-08-26 15:25] stephentoub commented on #6934
At least with a fairly simple test, it looks like there's little preventing this from being done.

Here's a simple little app:
[code]
Compile it with:
[code]
and it runs fine.  The above is basically this:
[code]

[2016-08-26 17:12] kvochko opened #6939 "Enable profiler enter/leave hooks on ARM"
There are a number of issues regarding this (#445, #2927, #5660), but none of them are talking about ARM specifically. I have prepared a commit (a88f2b4433764009fcf7945413f03b4238186736) that enables this functionality on ARM, and it seems to work fine in the test environment - ARM/softfp, Linux, but I am wondering if this covers the entire problem. Is there something I am missing regarding these

[2016-08-26 18:44] CarolEidt opened #6940 "RyuJIT x86: DevDiv_255263 test fails"
This is an IL test reproducing an issue that was found with managed C++ in the desktop version of .NET.  It is failing on x86, but no analysis has yet been done to determine the cause.

[2016-08-26 19:04] adityamandaleeka commented on #917
@jasonwilliams200OK Thanks for following up with the musl-libc folks about this. :+1:

It's not clear to me exactly what the proposed change would be, but if there's a better solution for the context capture/restore that meets all of our needs, is safer, and will work across all platforms, I'm certainly open to exploring it. That said, the code we have there today has been battle-tested for a whil

[2016-08-26 19:15] cydhaselton commented on #1097
Don't know if this is relevant but I'm currently working on building coreclr on-device in [Termux](https://termux.com/help.html). It's slow going, as I'm not familiar with the clang/cmake toolset, but I've made some progress.

I'm currently working on some 'undefined reference' issues that build.sh kicked up when attempting to link libunwind.

[2016-08-26 19:19] jasonwilliams200OK commented on #917
Thanks @adityamandaleeka.  I will work on the patch for upstream.

[2016-08-26 19:43] javarch commented on #1097
Ich werde ab  22.08.2016 nicht im B�ro sein. Ich kehre zur�ck am
07.09.2016.
Ich werde Ihre Nachricht nach meiner R�ckkehr beantworten.

Die R�ckmeldung bezieht sich auf ein Mail mit folgendem Thema:
Re: [dotnet/coreclr] Build CoreCLR for Android (#1097)

____________________________________________________________________________________________
Gesendet (c) GRZ/RACON Linz 2016 Agent 'Abwesenheit

[2016-08-26 19:48] #6886 closed

[2016-08-26 20:18] BruceForstall opened #6942 "superpmi: enable build using coredistools"
superpmi was open sourced with disasm support disabled. Its build needs to change to define USE_COREDISTOOLS, and properly compile against and use the coredistools package. It should be verified after doing this that superpmi asm diffs works.

[2016-08-26 20:28] jashook commented on #6927
SuperPMI is now being tracked with [#32](https://github.com/dotnet/jitutils/issues/32)

[2016-08-26 20:30] #6862 closed

[2016-08-26 20:41] masonwheeler commented on #1097
@reduz @GCCFeli We've got a mostly-working ARM32 CLR at this point.  Have a look at https://github.com/dotnet/coreclr/issues/3977 for progress.

The next step would be to get it to build on the NDK.

[2016-08-26 21:09] rahku commented on #6939
@kvochko added some comments to your commit

[2016-08-26 21:24] mikem8361 commented on #5829
Also need to add unit tests to corefx for the internal System.Diagnostics.StackTrace helper function.

[2016-08-26 21:43] #6924 closed

[2016-08-27 00:10] BruceForstall commented on #4992
@pgavlin while testing all the remaining exclusions, I saw this doesn't fail any longer, so I'll submit a PR to re-enable it.

[2016-08-27 00:53] rahku commented on #6555
baseservices\compilerservices\dynamicobjectproperties\Dev10_535767.Dev10_535767 passes to completion for me although it does take considerable amount of time.

[2016-08-27 00:53] rahku commented on #6555
It does keep spinning for
baseservices\threading\interlocked\compareexchange\CompareExchangeTClass.CompareExchangeTClass

[2016-08-27 01:08] BruceForstall commented on #6940
The problem is with unrolling an initblk with a constant init value, and a length greater than 16 (size of the SSE registers). We generate this code:
[code]

The problem is, the `movd xmm1, eax` copies a 4-byte value, and `punpckldq` converts it to an 8-byte value. The upper 16 bytes are zero. On x64, the value starts off as 8-bytes and the `punpckldq` converts it to 16 bytes.

[2016-08-27 03:37] GCCFeli commented on #1097
@masonwheeler Great progress!

[2016-08-27 04:32] benaadams opened #6950 "Monitor.TryEnter should fail fast for timeout 0"
`Monitor.TryEnter(o)` and variants with timeout 0 are as special case that is purely opportunistic and should fail fast and not do any spinning.

1M `TryEnter(o)`s on a locked object will currently take over 3 minutes.

Remarks from [MSDN Monitor.TryEnter Method (Object)](https://msdn.microsoft.com/en-us/library/4tssbxcw(v=vs.110).aspx)

Emphasis mine :wink:  Technically it doesn't block/suspend;

[2016-08-27 04:46] benaadams commented on #6950
Potentially related bug https://github.com/dotnet/coreclr/issues/6144

[2016-08-27 12:18] benaadams commented on #6950
The two jit asms [`JIT_MonTryEnter_InlineGetThread`](https://github.com/dotnet/coreclr/blob/959025a1ec18e6685e27c0a3ea579c78487daa25/src/vm/amd64/JitHelpers_InlineGetThread.asm#L853) and [`JIT_MonTryEnter_Slow`](https://github.com/dotnet/coreclr/blob/ed288543901c12177d9ae042bd961c6d14fcb33f/src/vm/amd64/JitHelpers_Slow.asm#L1354) spin before testing the timeout; other paths are fine.

[2016-08-27 16:15] #4992 closed

[2016-08-27 16:15] #6097 closed

[2016-08-27 17:50] #6940 closed

[2016-08-27 20:17] drieseng commented on #6940
Shouldn't the exclude for DevDiv_255263 (for x86) have been removed as well?

[2016-08-28 04:50] mikedn commented on #6931
`DecomposeStoreLclVar` suffers from a similar issue, the pre-LIR PR #6462 contained an attempted fix.

[2016-08-28 10:33] zpbappi commented on #5974
I have finished implementing XorShift128+ and XorShiRo128+. Generated random bytes using `NextBytes(byte[])` method from both of them and submitted at http://www.cacert.at/random/. Both implementations and the code used to generate the files are available [here](https://gist.github.com/zpbappi/af3c6adf987c311a179c22ad96675963). Here is the result:

|Generator	|Speed	|Upload Size	|Entropy (->8)	|Bi

[2016-08-28 10:41] GSPP commented on #5974
What SorShift variant is this? When I researched and implemented mine 10 years ago I picked this variant:

        uint d0;
        uint d1;
        uint d2;
        uint d3;

        public override uint GetUInt32()
        {
            uint t = d0 ^ (d0 << 13);
            d0 = d1; d1 = d2; d2 = d3;
            d3 ^= t ^ (d3 >> 17) ^ (t >> 5);
            return d3;
        }

I also have code

[2016-08-28 10:46] zpbappi commented on #5974
@jkotas It is XorShift128+ variant. You will find its reference implementation, along with XorShiRo128+ variant (which is even faster) at http://xoroshiro.di.unimi.it/

[2016-08-28 10:53] GSPP commented on #5974
[xoroshiro seems unsafe to me.](https://github.com/dotnet/coreclr/issues/5974#issuecomment-242387915)

[2016-08-28 12:06] zpbappi commented on #5974
@GSPP I am not quite sure which part is unsafe. If you can explain a bit or provide a simple test demonstrating the safety issue, it would help a lot. Or, is the algorithm inherently unsafe? I didn't get the idea though from reading the papers and articles.

[2016-08-28 12:26] GSPP commented on #5974
The [source code](http://xoroshiro.di.unimi.it/xoroshiro128plus.c) says:

   up to (and included) 16TB, **with the exception** of binary rank tests,
   which fail due to the **lowest bit** being an LFSR; all other bits pass all
   tests. We suggest to use a sign test to extract a random Boolean value.

So the lowest bit might not be of high quality.

[2016-08-28 13:15] zpbappi commented on #5974
@jkotas I have finished the benchmarks. The reports are too large and I am not sure if I should copy them here. The source code for the benchmark is available [here](https://github.com/zpbappi/dotnet-random-benchmark) and the reports are added to the [README](https://github.com/zpbappi/dotnet-random-benchmark/blob/master/README.md) file.

[2016-08-28 14:54] benaadams commented on #6912
I can't get the sample code to compile on coreclr as `Thread.SpinWait` isn't an available api. If I change it to SpinWait and `SpinOnce` it never completes :crying_cat_face:

[2016-08-28 15:12] ltrainpr commented on #6536
@Vinayk93 This is the only thing that worked for me: https://github.com/rbenv/ruby-build/issues/898#issuecomment-240894957

[2016-08-28 16:58] Vinayk93 commented on #6536
only solution is to install rvm and do all the installation through rvm

[2016-08-28 17:42] ikopylov commented on #6912
@benaadams Originally I ran performance tests on .Net Framework 4.5.1.
It is very unfortunate that neither ```Thread.SpinWait``` nor ```Thread.Yield``` is available for CoreCLR. The rough equivalent of ```Thread.SpinWait``` would look like this:
[code]

Also, the values for ```elemCount```, ```addSpin``` and ```takeSpin``` can be changed so that the test completed in a reasonable amount of time.

[2016-08-28 20:45] ltrainpr commented on #6536
@Vinayk93 Cool if that works for you.  I should mention that I don't use dotnet.  I was having the same problem without ever having used dotnet.  I just replied because I was having similar OpenSSL problems when installing new versions of ruby with rvm or rbenv.  Thought somebody could use this information.  Do as you wish.

[2016-08-28 23:44] zpbappi commented on #5974
@GSPP I see your point. However, if you look at the signature of the publicly accessible method of `Random` class, it has a range of _[min...max)_. So, for the case of `Next()`, its upper bound is `int.MaxValue - 1` and lower bound is `0`. I needed to treat the upper limit by comparing the generated sample and subtracting `1` from it, if it is equal to the upper limit. That way, we are already pla

[2016-08-29 00:03] parjong commented on #6787
@gkhanna79 I'm sorry for late response. It seems that the same issue is already reported in CoreFX as [#9761](https://github.com/dotnet/corefx/issues/9761).

At the beginning, I opened this issue because of the crash discussed above and that crash seems t o be related with CoreCLR (not CoreFX), and thus I would like to maintain this issue separately from the issues in CoreFX.

[2016-08-29 00:26] #6185 closed

[2016-08-29 00:40] parjong commented on #6752
Leave a comment

[2016-08-29 00:40] #6752 closed

[2016-08-29 00:41] parjong commented on #6525
I'll close this issue as recent commit that disables the use of DWARF information during stack unwinding addressed it.

[2016-08-29 00:41] #6525 closed

[2016-08-29 05:57] parjong commented on #6787
Oh, unfortunately [#9761](https://github.com/dotnet/corefx/issues/9761) is simialr, but not same. I opened a new issue [#11217](https://github.com/dotnet/corefx/issues/11217).

[2016-08-29 06:29] chunseoklee opened #6955 "[ARM32] bpmd fails on arm32/linux"
coreclr commit: 633a65e6e671afdb1379e705cf0ac333bfbcf8b0
corefx commit : df94809e03ade0c702

bpmd command not working on ARM32/Linux.
It abort on https://github.com/dotnet/coreclr/blob/master/src/ToolBox/SOS/Strike/util.cpp#L6163
When I have tested with the same corefx dll set, it works find on x64/linux.

[code]

[2016-08-29 06:30] chunseoklee commented on #6955
@Dmitri-Botcharnikov @lucenticus

[2016-08-29 11:35] kvochko commented on #6939
@rahku thanks for the comments! Regarding r0 and r1 holding return value - currently the compiler moves r0 to r2 before writing the functionId to it (as seen in #6138), and doesn't pass anything for the location of args (for ProfileLeaveNaked). For ProfileEnterNaked there aren't any such problems.
Padding was there because ARM requires all double values on stack to be 8-byte aligned (but you're ri

[2016-08-29 13:08] wjdavis5 opened #6957 "Possible contention issue sharing ports on Ubuntu"
Possible contention issue sharing ports on Ubuntu
-----------------------------------------------------------
**clr: 1.0.0-preview2-003121**

I have 2 instances of a single app running on Ubuntu 14.04. They are sharing port 20400. In the image below you can see cpu utilization over time as I test a few things. As you can see when both instances are running sharing this port CPU holds steady at abo

[2016-08-29 13:40] kvochko commented on #6939
I am not really familiar with JIT, but the following commit makes it save r1 to r3 before calling ProfileLeave callback and pass args location in r1. Would really appreciate any feedback.

[2016-08-29 14:43] ikopylov commented on #6912
@benaadams I dug a little deeper and found out that ```Thread.SpinWait``` uses ```rep nop``` under the hood. So, unfortunately, my implementation of ```ThreadSpinWait``` is not equivalent to the original behaviour.

The better alternative is:
[code]

[2016-08-29 18:40] rahku commented on #6939
Please create a PR and dotnet/jit-contrib & noahfalk to them. It is easier to review and provide feedback using PR.

[2016-08-29 19:32] BruceForstall commented on #6940
Yes; submitting another PR now.

[2016-08-29 19:50] ghost opened #6965 "Do we still need those [DebuggerHidden]/[DebuggerStepThrough] attributes on Reflection methods?"
All of the Reflection apis of the Invoke/GetValue/SetValue persuation are difficult to analyze and understand because these attributes are preventing source-stepping through with the debugger.

Do these debug attributions still have any value?

And if we do have to keep them, does anyone have any insight on either:
- A way to get your local VS to not honor those attributes?
- A blessing to #if tho

[2016-08-29 21:45] adamsitnik commented on #5857
[code]

done

@KrzysztofCwalina what do you mean by that?

`Span<T> Slice(int start)` or `Span<T> Slice(int start, int length)` or both?

also what about the enumerators? should I add them as well?

[2016-08-29 22:26] adityamandaleeka commented on #6957
Perhaps it would be useful to collect a CPU trace to better understand what exactly is on the CPU when this occurs.

[2016-08-30 00:26] BruceForstall commented on #6553
@swgillespie Are you still investigating this failure? What is the next step?

All the CI links for the failure are gone, so I can't see what the failures are (if there's any interesting information there anyway).

I can't get this to repro on my machine. Any chance it's been "fixed"? Seems hard to believe it would time out, since the test runs in ~1 second.

[2016-08-30 00:30] swgillespie commented on #6553
@BruceForstall apologies, I've been out the past week and it's on my list of things to do. The failures were all indicating that not all of the test objects have been finalized, in the same manner as https://github.com/dotnet/coreclr/issues/4093 and https://github.com/dotnet/coreclr/issues/6574 . I suspect that all of these have a common cause, although I have no evidence other than the presentati

[2016-08-30 02:23] #6950 closed

[2016-08-30 02:36] #6787 closed

[2016-08-30 06:18] hseok-oh commented on #6567
fixed by #6806

[2016-08-30 06:18] #6567 closed

[2016-08-30 07:35] lucenticus commented on #6955
@chunseoklee I can reproduce this crash, but didn't find the reason of this issue yet. Probably, we should try another version of dlls

[2016-08-30 07:45] chunseoklee commented on #6955
@lucenticus Did you mean that you cannot run this PR on arm32/linux ? or you have a solution ?
In issue #6853 , the solution is building corefx dll set by running script as in coreclr overlay test.
However, keep failing on arm32.

[2016-08-30 07:49] chunseoklee commented on #6955
rebasing on #6956 does not resolve my seg fault. It seems like @Dmitri-Botcharnikov has a solution since he success on the latest upstream.

[2016-08-30 07:59] Dmitri-Botcharnikov commented on #6955
I've tested #6956 on arm/hardfp (odroid + ubuntu 14.04)

[2016-08-30 08:29] chunseoklee commented on #6955
@Dmitri-Botcharnikov Could you share how to gather/build corefx dlls on ordroid ?

[2016-08-30 09:34] Dmitri-Botcharnikov commented on #6955
I've build managed part of corefx, and get new version of two assemblies `System.Runtime.InteropServices.dll` and `System.Reflection.Metadata.dll`. All other assemblies are unchanged.

[2016-08-30 10:28] lemmaa commented on #6680
@hqueue You can check the test result from http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x86_lb_release_windows_nt/lastCompletedBuild/testReport/JIT/_Methodical_xxobj_sizeof__il_dbgsizeof32__il_dbgsizeof32_/ , I guess.

[2016-08-30 13:39] zabulus commented on #6934
Is this heading to anonymous classes?

[2016-08-30 14:54] adiaaida commented on #4191
I have this plumbed through DecomposeLongs to convert the shifts into their respective helpers, however, we have a bug where the helpers expect the args to be in registers (eax:edx for the long, ecx for the shift), but we push the halves of the longs on the stack, so we get the wrong answer.

[2016-08-30 15:42] #4844 closed

[2016-08-30 16:36] mikedn commented on #4191
What about long shift by constant? It is usually implemented using SHLD/SHRD rather than helpers.

[2016-08-30 17:01] adiaaida commented on #4191
The helper does the shld/shrd. In legacy backend, we have special handling for shifting by a constant in codegen, but we don't have the mechanism to plumb the shld/shrd from decompose to codegen, as it requires 3 operands, as far as I can tell.

[2016-08-30 17:05] AtsushiKan opened #6977 "Type.GetInterface(string, bool) - NullReferences to unguarded Type.Namespace call."
Consider this simple test:

[code]

This NullReferences due to <a href="https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/RtType.cs#L2387">this check</a>.

[code]

The repro conditions are:
- The type "Foo" implements an interface defined in the global namespace.
- The passed in pattern matches the interface <i>simple</i> name ("IFoo")
- The passed in pattern includes a non-emp

[2016-08-30 18:27] pgavlin opened #6981 "RyuJIT x86: address NYIs blocking CQ tests."
The following NYIs are blocking our internal CQ suite:

- src\jit\lowerxarch.cpp:527 - NYI_X86: "GT_OBJ"
- src\jit\decomposelongs.cpp:478 - NYI: "Lowering of signed cast TYP_INT->TYP_LONG"
- src\jit\decomposelongs.cpp:226 - NYI: "Arithmetic binary operators on TYP_LONG - SHIFT"
- src\jit\codegenxarch.cpp:2004 - NYI: "Casts from TYP_LONG"
- src\jit\decomposelongs.cpp:819 - NYI: "Can't decompose exp

[2016-08-30 18:27] pgavlin commented on #6927
CQ suite NYIs are tracked by #6981.

[2016-08-30 18:30] pgavlin opened #6982 "RyuJIT x86: NYI: "Can't decompose expression tree TYP_LONG node""
This is blocking a number of CQ tests.

[2016-08-30 19:05] mikedn commented on #6982
I think this is the ADD/SUB NYI that I'm trying to remove in #5884.

[2016-08-30 19:15] pgavlin commented on #6982
Yes, it is. It looks like the changes you have are essentially good-to-go, perhaps modulo the workaround for #5699.

[2016-08-30 19:19] mikedn commented on #6982
Yes, the changes should be fine but I hit an assert in LSRA. Something like
[code]
Did you see something like this before?

As for #5699, I think we should just force the x86 JIT to always use an EBP frame to get things going. We can revisit that issue later, it's a performance optimization after all.

[2016-08-30 19:54] pgavlin commented on #6982
I remember having seen this assert before, but the context in which I saw it escapes me. I'll try applying your changes and digging in a bit.

[2016-08-30 19:58] mikedn commented on #6982
Here's a smallish repro:
[code]
Small changes such as removing one of the additions or making `z` used make the assert go away.

[2016-08-30 20:06] jackmott commented on #6906
I would like to be able to use every intrinsic noted here:
https://software.intel.com/sites/landingpage/IntrinsicsGuide/
and in ARM NEON as well.

As a practical example relevant to game development and graphics in general, see this SIMD noise library:
https://github.com/Auburns/FastNoiseSIMD

You cannot do that currently in C#, various instructions are missing.

[2016-08-30 21:04] mellinoe commented on #6906
I'd rather just expose more of the intrinisics.

Not trying to be obtuse here, but how would refactoring the support out help this? If we think that the implementation is suboptimal, then we can improve it. It's a separate discussion from how the public interface is exposed, unless you are saying that the interface is limited in such a way that it's impossible to improve the performance.

[code]
R

[2016-08-30 21:33] adiaaida commented on #3597
This seems to still fail for gcstress 0xC zapdisable tests:

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_ryujit_checked_windows_nt_gcstress0xc_zapdisable/1/testReport/junit/JIT/_Generics_Exceptions_general_class_instance01_general_class_instance01_/_Generics_Exceptions_general_class_instance01_general_class_instance01_cmd/

[2016-08-30 23:24] pgavlin commented on #6982
This is due to an GT_LONG node with no use sneaking its way out of decomp + lowering and into LSRA. `TreeNodeInfoInit` for x86 that fails to notice that this node has no use and does not mark it as consuming its operands, which causes LSRA to allocate incorrectly. The fix is at https://gist.github.com/pgavlin/21e57005a7b67edd3796751066d80e2f if you'd like to apply it to your change.

[2016-08-30 23:26] adityamandaleeka commented on #6904
I've opened a PR to address this.

[2016-08-30 23:56] pgavlin commented on #6982
I decided to file a PR to fix the GT_LONG issue after noticing that it looks like you might also be hitting it in https://github.com/dotnet/coreclr/pull/4986.

[2016-08-30 23:56] pgavlin commented on #6982
(...and that PR is https://github.com/dotnet/coreclr/pull/6996 :))

[2016-08-31 00:27] BruceForstall commented on #3597
@adiaaida there's a problem with that test job: it's reporting the assert **at the line number it used to exist at**. The assert no longer is at that line number, due to my changes. So it hasn't picked up my change, but apparently did pick up the issues.targets that no longer excludes the test. How does that happen?

[2016-08-31 01:28] redknightlois commented on #6906
@jackmott still that is Game Development oriented where many of the operations still make sense (even if tangentially) to the approach taken by ```System.Numerics```. The real problem and where we are completely stuck is where the instruction set and use is so different that it doesnt even make sense (prefetches, popcnt, etc).

@mellinoe I fail to see how more down to the ground level that can be.

[2016-08-31 01:46] redknightlois commented on #6906
Just looking on an issue I  found this 2 more issues that are also related to this issue:
- #6024 RyuJIT: Allow developers to provide Branch Prediction Information
- #5025 RyuJIT: Provide access to the CPU prefetch instruction

[2016-08-31 01:46] BruceForstall opened #6998 "RyuJIT x86: audit "last use" bit during decomposition"
I noticed what looks like an issue with LONG vars that are marked "last use" (`GTF_VAR_DEATH`). E.g., in the loopEH test case, function Test (JIT\jit64\eh\basics\loopEH.cs), I see:

[code]

so the "last use" bit is marked on the low half but not high half. Presumably it should be marked on both, since they are lclFld accesses, and not just on the high half, which comes later in evaluation order.

[2016-08-31 01:47] BruceForstall commented on #6998
@CarolEidt @pgavlin @adiaaida comments?

[2016-08-31 02:00] jackmott commented on #6906
@redknightlois actually I don't have any problem with the approach in System.Numerics (as far as I know!) I just would like the extra instructions to be available.  You can implement a popcnt fallback if the hardware instruction isn't there. Or do isHardwareAccelerated on a per instruction basis and let the user of the API deal with it.

The SIMD in C# is pretty nice to work with, I would love to

[2016-08-31 02:18] redknightlois commented on #6906
@jackmott Don't get me wrong, I don't have any problem either. It is pretty well designed for its intended use, which is as a foundation to exploit SIMD math in GameDev environments.

[2016-08-31 02:23] jackmott commented on #6906
@redknightlois Thinking more about the popcnt thing, I guess you are saying you also want a lib with general access to other intrinsics that don't fall into the Vectorized paradigm. I agree that would be nice. We could speed up the current implementation of F# core library Array.Filter if we could call popcnt.

[2016-08-31 02:24] Ziflin commented on #6906
Actually I'm only able to implement about 50% of our game engine's existing math library with what's there now. Without some of the other features I've mentioned most of the real-world performance improvements are impossible. I haven't seen much of a response to that, so I'm not clear what the future plans are still.

[2016-08-31 02:28] adiaaida opened #6999 "RyuJIT x86: Don't use helper for shifts if the shift amount is a GT_CNS_INT"
Deal with the TODO in DecomposeShift to not use a helper in the case that the shift amount is a GT_CNS_INT. In these cases, we want to generate the shift instructions ourselves.

[2016-08-31 02:29] redknightlois commented on #6906
@jackmott let's keep it as: "You want general access to all the intrisics available in your hardware" or at least a general mechanism that would allow contributor to add access to those hardware instructions via an intrinsic approach. Also, if they are vectorized or no is of no relevance (even though most are).

@Ziflin I didnt want to imply it is complete, I mean that the addition of the function

[2016-08-31 02:31] adiaaida commented on #3597
When was your change? This ran on Aug 28, 2016 7:30:58 PM

[2016-08-31 02:35] pgavlin commented on #6998
What does this look like after liveness?

[2016-08-31 03:07] BruceForstall commented on #6998
Looks like the bit moves to the "hi" part after liveness:
[code]
so as long as nobody depends on the bit before liveness is run, maybe we're ok.

I guess I should talk to you about the liveness model for the decomposed vars. It seems like these should be independent from a liveness perspective.

[2016-08-31 03:29] BruceForstall commented on #3597
Looks like yesterday: https://github.com/dotnet/coreclr/pull/6946

Had the job ever run before? It's asserting on lots of test cases that were never disabled.

[2016-08-31 03:33] BruceForstall commented on #6998
In fact, in the same function, in a different location, before liveness, we have:
[code]
and after:
[code]
(I'm look at https://github.com/dotnet/coreclr/issues/6778)
It seems like the store is removed because the V04 long is treated as a unit, where the 2nd store makes the first store dead. In this case, V04 is:
[code]
In particular, we don't promote it because it is marked lvDoNotEnregister. It

[2016-08-31 03:36] adiaaida commented on #3597
It was one of the jitstress/gcstress jobs I enabled on Friday. That was the first time it was ever run.

[2016-08-31 03:54] BruceForstall commented on #3597
Ok, I'm going to re-close this issue. If it happens again, with the new source, we can re-open.

[2016-08-31 03:54] #3597 closed

[2016-08-31 04:00] BruceForstall commented on #6998
If I allow promoting these "do-not-enreg" locals, then the tests in #6778 pass.

[2016-08-31 04:07] BruceForstall commented on #6998
It seems like we need to promote long locals even if `CLFLG_REGVAR` is not set, for the same reason: even if we aren't enregistering variables, we still need to decompose the longs.

[2016-08-31 04:30] mikedn commented on #6982
I wrote that `TreeNodeInfoInit` code before the LIR changes and back then `gtNext == nullptr` meant "unused" :). Thanks!

[2016-08-31 04:36] BruceForstall commented on #3216
It seems like these work now.

[2016-08-31 04:52] weshaggard commented on #6965
My guess is that you are one of the few people that actually want to step into these methods, so I think there is still value.

While not the greatest workaround in the past I've stepped into these types of methods by switching to the disassembly view and F10'ing through the code until you hit the real call code and then step into it. I think you can also put break-points in the methods.

If that

[2016-08-31 05:00] jkotas commented on #6965
cc @noahfalk

This would break debugger tests running on debug builds...

[2016-08-31 05:49] wateret opened #7002 "[ARM/Linux] Make indirect calls to direct calls if possible"
In this issue I'd define direct/indirect call as jump to pc-relative immediate address/jump to an absolute address from a register.

**Direct**
[code]

**Indirect**
[code]

On ARM32, it seems like indirect calls are generated for almost all cases even if the caller and callee address are close enough to fit in imm24. `CEEJitInfo::getRelocTypeHint()` always returns *no-hint* which results in an ind

[2016-08-31 05:59] wateret commented on #7002
I tested this for recursive calls, Code is here: https://github.com/wateret/coreclr/commit/215f6405bb8616e03bc3b74c60f9d47b5d0d30ca

Then I ran some recursion-dominated benchmark tests.

| TestCase         | Vanilla | Patched | Vanilla/Patched |
|------------------|---------|---------|-----------------|
| BenchI-Ackermann | 4829    | 4431    | 1.09            |
| BenchI-Fib       | 5537    | 4733

[2016-08-31 06:10] wateret opened #7003 "[ARM/Linux] Is `ARM_HAZARD_AVOIDANCE` for Krait still effective?"
While working on #7002, I found that an extra `nop.w` instructions is added sometimes for direct calls. According to the comment, it says it is a Krait processor bug. Actually I can't find more information about this on the web.

Is it still effective? If so, I was just thinking that we may not need to have this flag on by default.

/cc @dotnet/jit-contrib @hqueue

[2016-08-31 06:20] noahfalk commented on #6965
@gregg-miskelly - Gregg, do you know of anything cheap that disables VS from the various attribute-based special stepping behavior it does?

[2016-08-31 08:18] hseok-oh opened #7005 "[Linux/ARM] CoreFX System.Runtime.Tests fail"
Environment: Linux / ARM 32bit (hardfp)
CoreCLR: Release build
CoreFX: Release build (enable Outerloop test)

test log

[code]

test code
[code]

Fail on 32bit architecture test: `GC.AddMemoryPressure((long)int.MaxValue + 1)`

[2016-08-31 08:31] hseok-oh commented on #7005
src/mscorlib/src/System/GC.cs
[code]
exception message is `pressure` when byteallocated > Int32.MaxValue on 32bit architecture.

Test should be fixed.

[2016-08-31 08:41] hqueue commented on #7003
@wateret If it is a kind of errata in Krait, I think we can remove extra `nop.w` for other SoC. I will take a look into it too.

[2016-08-31 14:33] wjdavis5 commented on #6957
@adityamandaleeka Thanks for the info, I'll get that setup. FWIW I was running top throughout the test the only other thing I saw was the datadog collection agent (statsd).

[2016-08-31 15:29] adiaaida commented on #4188
To repro this, set complus_altjit=GetFullPathName and then run:

coreclr\bin\tests\Windows_NT.x86.Debug\JIT\SIMD\VectorAbs_ro\VectorAbs_ro.cmd

[2016-08-31 15:30] adiaaida commented on #4188
We hit this NYI when we have a multiply that takes 2 int registers and returns a 64-bit result (GTF_MUL_64RSLT flag is set).

[2016-08-31 16:03] BruceForstall opened #7008 "RyuJIT x86: double alignment test failure"
This test, related to double alignment, fails for RyuJIT/x86 but not legacy backend.
[code]
Note that `DOUBLE_ALIGN` is enabled for x86.

[2016-08-31 16:14] BruceForstall commented on #6844
@kyulee1 Since this is inlining related, does it make sense for you to look at this? Is this something you will have time to look at?

[2016-08-31 16:34] adiaaida commented on #4188
We only get to this kind of multiply if we have identified it in morph as a:

long = (long)int * (long)int (GTF_MUL_64RSLT)

Ultimately, we only will produce one multiply instruction for this op, but it returns in 2 registers like GT_CALLs do, so we will probably need to do something in codegen and decomp like we do for GT_CALL where we allow the TYP_LONG to continue through to codegen.

[2016-08-31 16:41] gregg-miskelly commented on #6965
@noahfalk: No. Those attributes are always respected.

[2016-08-31 17:18] kyulee1 commented on #6844
Will take a look.

[2016-08-31 17:39] erozenfeld commented on #6906
@redknightlois In ror and rol case there was a lot of existing code that was using rotation patterns and we wanted it to benefit from this work. Just adding an intrinsic wouldn't help without re-writing all that code. I agree that in some cases intrinsics are more appropriate.

[2016-08-31 17:56] #6893 closed

[2016-08-31 19:03] redknightlois commented on #6906
@erozenfeld I know, but the point I wanted to make still holds. Adding the ability to discover those use patterns is an awful hard (bordering on unfeasable) work to scale to the instruction set available to any modern processor out there.

[2016-08-31 19:57] mikem8361 commented on #6935
Fixed with PR #6997.

[2016-08-31 19:57] #6935 closed

[2016-08-31 20:31] AnthonyLloyd commented on #6875
Thanks good idea. I get the following. Putting a copy of the so file there doesn't even work:

open("/usr/share/dotnet/shared/Microsoft.NETCore.App/1.0.0/libSystem.Native.so", O_RDONLY|O_CLOEXEC) = -1 ENOENT (No such file or directory)
open("/usr/share/dotnet/shared/Microsoft.NETCore.App/1.0.0/libSystem.Native.so", O_RDONLY|O_CLOEXEC) = -1 ENOENT (No such file or directory)
open("/lib/x86_64-linux

[2016-08-31 20:48] briansull commented on #7003
You can probably change the define to remove the extra NOP's .

It think that it was a pretty rare issue, so its not very likely to cause failures even on hardware with the issue.  If such hardware is still in use.

[2016-08-31 20:50] briansull commented on #7002
Yes, the JIT doesn't know the address for the current PC,  because we haven't yet asked the VM for that memory.  It is a problem that is somewhat difficult to solve for the general case.

[2016-08-31 21:04] #4659 closed

[2016-08-31 21:41] AnthonyLloyd commented on #6875
Thanks good idea. I've put the so and dependent so file in /usr/lib. It still gives the same error but I can't see anything wrong in the strace.

https://gist.github.com/AnthonyLloyd/92cc56b1e35ba6e2f53a92ff97427503

[2016-08-31 22:06] jasonwilliams200OK commented on #6875
It seems like that might be due to some crucial lib is missing on the system.

[code]

would need to narrow down which one of these might be causing the fatality.

BTW, do you run into same crash if you try your app on some other machine, VM or some CI server? Maybe fireup a docker or [Vagrant](http://vagrantup.com) to quickly test / rule out whether the problem is only with one particular system

[2016-08-31 22:12] joheredi commented on #6794
Hi,

I was looking at this issue and wanted to contribute. Based on your comments here and in #6770 there may be two options.

1) Create a more generic enum such as

[code]

2) Or follow DateTimeFormatFlags more closely and have a TextInfoCasingFlags like this

[code]

I think I'm leaning towards 1) since it would be a smaller change and there are not many flags in this case.

@jkotas what are you

[2016-08-31 23:33] jkotas commented on #6794
@joheredi I like your Tristate proposal as well. Thank you!

[2016-09-01 01:05] #7005 closed

[2016-09-01 01:09] jamesqo opened #7017 "Consider doing "naive" search in IndexOfAny if string's length is under a certain threshold"
`IndexOfAny` currently uses a trick where it initializes a bitmap to represent if a character is probably in the array. This makes checking whether a character is represented by the bitmap O(1) since it's just a couple of bit operations, however initializing the map is quite expensive since it's O(n) and these bit operations have to be done for every character of the array. This means that in some

[2016-09-01 07:50] hseok-oh commented on #6667
Differet fail
Linux / ARM32 (hardfp)
CoreCLR: release (-O3) build (@633a65e + #6754)
CoreFX: debug build (dotnet/corefx@9490069)

[code]

6 fail show similar message:
[code]

[2016-09-01 11:17] cydhaselton commented on #1097
I've fixed the libunwind issues and now am working exclusively on coreclr build errors on device.

Would anyone know of a working swab function implementation for Android…specifically version 21? I've tried several…most recently [this one](https://github.com/ajeet17181/mplayer-android/blob/b7649721e82acd1b3d908e4340f7e525eb3eae96/osdep/swab.c#L25)…but they all throw errors*

*I realize this is .c,

[2016-09-01 15:04] shahid-pk commented on #1097
@cydhaselton create a separate issue and tag appropriate person (jkotas knows almost anything and is a team member) , to get help quickly.

[2016-09-01 18:32] jkotas commented on #6904
Rolled back in #7025

[2016-09-01 21:10] livarcocc opened #7030 "dotnet crash on OSX"
Process:               dotnet [64846]
Path:                  /usr/local/share/dotnet/dotnet
Identifier:            dotnet
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           dotnet [64846]
User ID:               501

Date/Time:             2016-09-01 03:49:29.725 -0700
OS Version:            Mac OS X 10.11.6 (15G31)
Report Version:

[2016-09-01 21:24] #6794 closed

[2016-09-01 22:07] jasonwilliams200OK commented on #5303
Related: WASM MVP progress on JavaScript engine: https://github.com/Microsoft/ChakraCore/issues/1127.

[2016-09-01 22:35] #4191 closed

[2016-09-02 04:13] zhenlan commented on #1709
Just an update - I have been pinged by quite a few customers online/offline. The absence of the API to persist an assembly to disk is a blocking issue for us from building a tool for pre-generated serializers (issue dotnet/corefx#4491).

[2016-09-02 05:09] jamesqo opened #7033 "decimal.Equals, Guid.Equals could be improved"
While looking through some of the 16-byte types today I noticed that some of the `Equals` implementations are quite suboptimal... for example [Guid.Equals](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Guid.cs#L969) has a bunch of `return falses` that the JIT does not merge in the assembly. What's more, it compares ints/shorts at a time when it should ideally be able to com

[2016-09-02 05:12] jamesqo commented on #7033
Another thing I just found in decimal, though not quite related to this issue: the `Decimal(long)` constructor uses [arithmetic right shift](https://github.com/dotnet/coreclr/blob/775003a4c72f0acc37eab84628fcef541533ba4e/src/mscorlib/src/System/Decimal.cs#L193) even when we always know that, at that point, `value_copy >= 0`. There should be a cast to ulong beforehand, in case the JIT is not able t

[2016-09-02 05:56] mikedn commented on #7033
Huh?!

[2016-09-02 06:17] mikedn commented on #7033
I don't think that will work because the decimal representation isn't guaranteed to be normalized.

[2016-09-02 06:29] sjsinju opened #7034 "[ARM] JIT Compile time is too slower than mono(4.4.2)"
I did run a basic application that just printing 'Hello World' with console by mono and the latest commit of .NET Core(coreclr) in a ARM device.
The execute time of mono is
[code]
and .NET Core(build with O3) is
[code]

As the above results, we can figure out the execute time on **.NET Core(625ms)** is too slower than **mono(274ms)**. So I did profile for why the execute time on .NET Core is too s

[2016-09-02 06:39] wateret commented on #7034
/cc @dotnet/jit-contrib

[2016-09-02 07:57] andrew-vandenbrink opened #7035 "String encoding bug"
[code]
![image](https://cloud.githubusercontent.com/assets/12871379/18196178/2c4f9ea6-70f0-11e6-8523-eded614e8a10.png)

![image](https://cloud.githubusercontent.com/assets/12871379/18196186/3a9c2d44-70f0-11e6-97be-fe5dca1a9354.png)

![image](https://cloud.githubusercontent.com/assets/12871379/18196202/4a74e49a-70f0-11e6-87fc-3fc047d7c219.png)

Notice the "+" just gone from the string

[2016-09-02 08:02] mikedn commented on #7035
It's not clear where the supposedly broken code is or if it's even in .NET Core to begin with. String doesn't have methods such as FromBase64String or ToByteArray, those are probably your own extension methods.

[2016-09-02 08:26] hqueue opened #7036 "[ARM/Linux] Regression in JIT/Methodical/tailcall_v4/smallFrame/smallFrame.sh"
JIT/Methodical/tailcall_v4/smallFrame/smallFrame.sh fails with recent version of coreclr in arm-softfp/Linux.

[code]

[2016-09-02 08:42] andrew-vandenbrink commented on #7035
It's already broken before the extension methods is called

input variable: address
method: Decrypt

the variable inside method Decrypt: chiper

the value "+" just gone inside method Decrypt
The value of "chiper" should be equal "address" obviously

The issue exists on passing variable between method, not the method it self

[2016-09-02 09:12] hughbe commented on #6600
This can be closed, right (sorry for the notification)

[2016-09-02 09:30] andrew-vandenbrink commented on #7035
[code]
produce
[code]

[code]

produce

[code]

byte[9] changed from 43 to 32 by it self

[2016-09-02 09:41] andrew-vandenbrink commented on #7035
![image](https://cloud.githubusercontent.com/assets/12871379/18199711/dbb1fcca-7101-11e6-9fa1-5bd5b9cc0d67.png)

Both have utf 8 encoding

At this moment I implement workaround to replace the whitespace with + before converting from base64

[2016-09-02 09:53] andrew-vandenbrink commented on #7035
Issue is on System.Net.WebUtility.UrlDecode

will move the issue

[2016-09-02 09:53] #7035 closed

[2016-09-02 11:33] mikedn opened #7038 "RyuJIT x86: Incorrect code motion in long compare codegen"
The following program crashes with an `IndexOutOfRangeException`:
[code]
Generated code:
[code]
Dump fragment:
[code]

This happens because codegen moves the compare code past the reloads and the reloads kill compare operands that have already been consumed.

[2016-09-02 11:34] mikedn commented on #7038
Found while investigating `JIT\Performance\CodeQuality\BenchI\Pi\Pi\Pi.cmd` failure in #4986.

[2016-09-02 11:46] rafsojka commented on #919
Is there any view if/when RuntimeLibrary.Assemblies will be getting populated again (again since the aspnet/Announcements#149 sample output shows them populated at least for some of the packages)?

[2016-09-02 11:54] cydhaselton opened #7039 "Space requirements for coreclr build"
I'm currently building coreclr on an Android tablet.  What are the space requirements for this and the corefx build?

[2016-09-02 13:27] jkotas commented on #7034
How many methods does mono need to compile?

The VM has been shifting from C++ in C# over the years (CoreRT pushed it to extreme). Writing it in C# results in more reliable and sometimes even faster code because of there is no need to manually manage object references and transitions in C#. The side-effect is that there is quite a bit of managed code running during startup. It is not something we

[2016-09-02 16:08] jamesqo commented on #7033
In [a previous PR](https://github.com/dotnet/coreclr/pull/6434/commits/6c992a6183a8a92453404b0c46b973b9f60625f5#diff-d2a641ec9b77a5ea1cc985bdec3e74efL2358) a couple (many) of extra instructions were being generated for `a % b` if both operands were signed.

[code]

I am not sure if it would do the same for division/arithmetic left shift, but I know it has to treat the sign bit specially if the num

[2016-09-02 16:25] mikedn commented on #7033
I don't see how that is related to this, division/modulo is one thing and bit shifting is another thing.

But the problem is the other way around. If the bits aren't equal it doesn't mean that the numeric values aren't equal, sometimes they are:
[code]
The above code prints true/false rather than true/true.

[2016-09-02 17:02] jamesqo commented on #7033
Yep, but if the bits *are* equal it does mean that the numeric values are equal.

[2016-09-02 17:16] mikedn commented on #7033
Yes but if the bits aren't equal you still need to use the existing implementation. So what do you gain?

[2016-09-02 17:53] petertiedemann opened #7040 "Cannot run tests by following windows-test-instructions.md"
I am trying to follow the instructions given here:

https://github.com/dotnet/coreclr/blob/master/Documentation/building/windows-test-instructions.md

I have succesfully followed the build instructions found (after starting with a clean VM and installing only exactly what was required):

https://github.com/dotnet/coreclr/blob/master/Documentation/building/windows-instructions.md

I can succesfully

[2016-09-02 17:54] mikedn commented on #6982
Fixed by #5884 ?

[2016-09-02 18:29] adityamandaleeka commented on #7030
Can you also include information about what was happening at the time and what versions of CLI/CoreCLR you had?

[2016-09-02 18:29] pgavlin commented on #6982
Yes.

[2016-09-02 18:29] #6982 closed

[2016-09-02 19:20] rahku commented on #7040
check the log file C:\git\coreclr\tests\..\bin\Logs\TestRunResults_Windows_NT__x64__Debug.log  for errors. C:\git\coreclr\tests\..\bin\Logs\TestRun_Windows_NT__x64__Debug.html does not exist as it failed before any test execution started.Ensure that you have files name d C:\git\coreclr\bin\tests\Windows_NT.x86.Checked\baseservices\baseservices.XUnitWrapper.dll. The error you got compains that it d

[2016-09-02 20:48] JosephTremoulet opened #7042 "JIT: Hoisted helper call CSE inhibited by GTF_ flag collision"
Flag `GTF_IS_IN_CSE` exists so that callers of `gtNodeHasSideEffects` can indicate that running a cctor is not a side-effect they're interested in.  The comment at its definition [explains](https://github.com/dotnet/coreclr/blob/54ed5e051412c34a3bb9f087a35a032727028ca2/src/jit/gentree.h#L741-L742) that "the only requirement of this flag is that it not overlap any of the side-effect flags [and] the

[2016-09-02 21:58] matthid opened #7043 "MissingMethodException for dynamically loaded Assembly"
In my situation I'm trying to compile an application at runtime and loading it into a custom `AssemblyContext` as suggested by another issue as workaround: https://github.com/dotnet/coreclr/issues/6411

With this workaround in place I noticed another error. The runtime doesn't seem to load a required `System.IO.Compression.ZipFile` assembly. Instead it fails when using the `ZipArchive` extension m

[2016-09-02 22:38] matthid opened #7044 "Runtime crash when loading second System.Core (with different PublicKeyToken)"
I noticed this when looking into https://github.com/dotnet/coreclr/issues/7043.
There is a warning `Unable to find assembly {FullName =
  "System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089";`. This is because I did not implement to load assemblies properly from the `lib` instead of the `ref` folder.
I quickly added this feature (a bit hacky) and now the runtime is cras

[2016-09-03 00:04] ridomin opened #7046 "AssemblyName ctor throws FileLoadException in UWP debug mode"
Using 5.2.2 UWP DotNetCore

File new project add 2 lines to App ctor
                string qualifiedName = this.GetType().AssemblyQualifiedName;
                AssemblyName an = new AssemblyName(qualifiedName);

Run the app in debug and got

System.IO.FileLoadException was unhandled by user code
  HResult=-2146234297
  Message=The given assembly name or codebase was invalid. (Exception from HRES

[2016-09-03 05:42] petertiedemann commented on #7040
@rahku thanks for the reply. The .log file does not contain any additional information as far as i can tell (i guess i should have made that clear above:

[code]

I will try another rebuild from scratch and check the file location.

[2016-09-03 05:51] petertiedemann commented on #7040
@rahku I have the mentioned DLL at C:\git\coreclr\bin\tests\Windows_NT.x64.Debug\baseservices (which makes sense as i was building for Debug). Thats also where the error says its looking for it.

Do i need to build for Checked to run the tests?

[2016-09-03 08:26] christianhuening commented on #7043
Hi there,

I think I might have the same problem. I am dynamically loading some sort of plugins during the startup of my application. When a plugin is standalone (does not reference any other type from a different assembly), Activator.CreateInstance() just works fine. But when the plugin (A) references types from another assembly B (and so forth), Activator.CreateInstance() fails with MissingMetho

[2016-09-03 11:24] mikedn commented on #7038
@BruceForstall @adiaaida This issue appears to have been introduced with #6219 which tried to solve the opposite issue - reloads were execute too late. Now they're executed too early and we're back at square one.

IMO it would be better to deal with long compares in lowering instead of passing them to codegen. I suppose it would be slightly more complicated because it requires flowgraph manipulati

[2016-09-03 17:37] MaherJendoubi commented on #6475
I have the same issue even with v.0.31.0

[2016-09-03 17:38] MaherJendoubi commented on #6475
Failed to run the command: "DockerTask.ps1 -Run -Environment Debug -Machine '' -RemoteDebugging $True -OpenSite $False".

[2016-09-04 10:56] kankanas opened #7047 "Parallel.ForEach unstable behaviour with DirectoryInfo"
Using .NET Core 1.0 on Fedora 23 x64
The following code shows that Parallel.ForEach is unstable with DirectoryInfo class. Sometimes first loop with GetDirectories values fails and AggregateException is thrown on AddRange, other times some items on GetFiles loop fails and the item count does not match what it should be.

[code]

[2016-09-04 11:12] mikedn commented on #7047
This issue likely belongs in the corefx repository.

 var items = new List<string>();
 Parallel.ForEach(dirs, dir => {
     items.AddRange(Scan(dir.FullName));
 });
[code]

[2016-09-04 11:25] kankanas commented on #7047
Switching to concurrent collection solved the issue, thanks.

[2016-09-04 11:25] #7047 closed

[2016-09-04 16:29] mikedn commented on #7038
I've made an [experiment](https://gist.github.com/mikedn/db69abfe359867ee788ed590b4c7bc5f) to see how long compare lowering could look and what code would it generate. CQ could be better if temporaries aren't unnecessarily introduced, in this specific case we have constants that could be contained.

[2016-09-04 18:22] cydhaselton commented on #1097
@shahid-pk: I can't tag my issue in this repo

[2016-09-04 18:54] shahid-pk commented on #1097
@cydhaselton  i mean @ tag in comments

[2016-09-05 04:41] hughbe opened #7051 "Need a way to build only mscorlib"
Obviously building the whole of coreclr takes plenty of time. Most of the time, I personally just want to build mscorlib to rapidly test something.

I currently use the command `build.cmd skipbuildpackages skiptests` to get a shorter build time.

However, what would be nifty is a way to build **only** mscorlib, and let the build script assume I've already built all the other stuff.

Is there such

[2016-09-05 04:44] hughbe commented on #7051
And... as often happens, I found the solution about a minute after posting the issue having researched to no avail.

I think `build windowsmscorlib` should do the trick. Will close this issue if it works.

[2016-09-05 05:40] #7051 closed

[2016-09-05 10:36] egmkang opened #7053 "C# generic is so expensive?"
[code]

on x86:
`Test<object>.Instance()` : `90 ~ 100 ns/op`
`new object` : `5.0 ~ 5.8 ns/op`
on x64:
`Test<object>.Instance()` : `76 ns/op`
`new object` : `2.7 ns/op`

why generic code runs so slow, and should i avoid using generic code?

PS:
i got it.
C# translate `new T()` into `System.Activator.CreateInstance<T>()`.

[2016-09-05 11:03] mikedn commented on #7053
Generic code is normally just as fast as non-generic code but there are a few patterns that are slower. `new T()` is probably the slowest of them all as it is translated to a call to `Activator.CreateInstance` which is rather slow. If this is a problem in your code then you could pass a factory method via a delegate, should be faster and also allows you to pass parameters.

[2016-09-05 11:11] kvochko commented on #6939
Resolved by #6976

[2016-09-05 11:11] #6939 closed

[2016-09-05 11:11] kvochko commented on #6138
Resolved by #6976

[2016-09-05 11:11] #6138 closed

[2016-09-05 12:04] benaadams opened #7054 "RyuJIT: Volatile param shouldn't prevent inlining"
`[FAILED: argument has side effect] Math:Min(int,int):int`

[Math:Min(int,int):int](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Math.cs#L427-L431) doesn't appear to have any side effect?

Related issue: https://github.com/dotnet/corefx/issues/11441 "ConcurrentQueue has Math.Min non-inlines "

[2016-09-05 12:13] hqueue commented on #7036
- From f725c3a616b1e55db17b239b0256648fecd2356e, above test failure is observed.
- Before f725c3a616b1e55db17b239b0256648fecd2356e,` .tail` prefix is ignored and `RetBufferBug.TailCaller()` was inlined to `RetBufferBug.Main()`
- After f725c3a616b1e55db17b239b0256648fecd2356e, ` .tail` prefix is honored and `RetBufferBug.TailCaller()` is not inlined anymore.

As a result, `RetBufferBug.TailCaller()

[2016-09-05 15:25] ntsekouras opened #7055 "Add support for windows server 2008"
Add support for windows server 2008 sp2.

[2016-09-05 16:27] mikedn commented on #7054
Not `Math.Min` but its arguments may have side effects. For example you get this if you pass in 2 volatile variables.

[2016-09-05 17:46] benaadams commented on #7054
Interesting... sort of makes sense.

[2016-09-05 18:09] benaadams commented on #7054
Also seems to do it for a volatile and a const?

[2016-09-05 20:29] benaadams opened #7056 "Jit out empty finally/using"
Common example is `foreach`
[code]
Becomes something like
[code]
Usually Dispose is an empty function; but a function that uses `foreach` will be discounted for inlining due to `[FAILED: has exception handling] `

It would be helpful if the Dispose was detected as empty (inlined), then the finally block detected as empty, then the whole try/finally removed.

[2016-09-05 21:41] mikedn commented on #7054
More or less. The JIT could introduce temporaries to avoid reordering.

It doesn't matter how many arguments are volatile, one is enough to block inlining.

[2016-09-05 21:42] mikedn commented on #7056
Looks like a duplicate of #1505

[2016-09-05 21:58] benaadams commented on #7056
Does indeed :)

[2016-09-05 22:21] hughbe opened #7057 "Array.CreateInstance allows an array of a static class"
The following test demonstrates this.
[code]

However, C# doesn't allow arrays of static classes:
[code]

I'd be interested in hearing if this is by design (if so, why), or just an oversight.

[2016-09-06 02:30] jamesqo opened #7060 "StreamReader.ReadBuffer should not be virtual"
It's an [internal virtual method](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/IO/StreamReader.cs#L563) that is overriden nowhere except `NullStreamReader`. Since it's used in many places throughout the class, like `ReadToEnd` / `ReadLine` / etc, it may be worthwhile to make it non-virtual.

[2016-09-06 02:58] jamesqo opened #7061 "Are the *_Prop properties in StreamReader and StreamWriter still needed?"
There are a [bunch of properties,](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/IO/StreamReader.cs#L1114) such as `CharLen_Prop` in StreamReader, that seemingly just wrap an underlying field except with an uglier syntax. This is apparently for "performance for MarshalByRefObject-derived types," since accessing instance fields of such objects is slow. However, I fail to see

[2016-09-06 03:31] jkotas commented on #7061
The field access for objects that derive from MarshalByRefObject is not always single instruction. It is sometimes compiled into calls to JIT helpers like `JIT_GetField32` on platforms that support remoting.

StreamReader/StreamWriter do not inherit from MarshalByRefObject, so the problem with slow field access does not actually exist for them. I checked the history - somebody was fixing the issue

[2016-09-06 03:58] jkotas commented on #7057
I believe that this is by design. IL and BCL are sometimes more permissive than C# language. There are actually quite a few of similar corner case mismatches, `sizeof(T)` - valid and verifiable in IL, disallowed in C#.

[2016-09-06 04:43] mikedn commented on #7057
There's no such thing as static class, that's a sealed abstract class. As far as the runtime is concerned there's no reason to block the creation of an array of this class. Sure, such an array is kind of pointless but that doesn't imply that it is also invalid.

[2016-09-06 05:08] sjsinju commented on #7034
@jkotas There is the result of mono profiler running the same hello application on mono.
[code]
Methods JITted are 369. but it is faster(270ms) than .NET (625ms or 451ms) I said above.
I am raising the issue for JIT compile time per function. This affects the launching time, executing time and so on. Especially we can see the large difference on ARM device.

[2016-09-06 07:18] hughbe commented on #7057
Thanks for the info - I'll close this off then

[2016-09-06 07:18] #7057 closed

[2016-09-06 08:17] #6955 closed

[2016-09-06 13:48] janvorli commented on #6510
@mellinoe I am closing the issue since it should be fixed by a jitter fix made about a month ago..

[2016-09-06 13:48] #6510 closed

[2016-09-06 16:20] mikedn commented on #7054
The inliner seems to be introducing temporaries anyway so it's possible that this restriction might be pointless.

[2016-09-06 16:42] #7003 closed

[2016-09-06 16:49] rahku commented on #7040
no it is not required to build checked to run tests. You have pasted the log output near
"C:\Program Files (x86)\MSBuild\14.0\Bin\MSBuild.exe" "C:\git\coreclr\tests\runtest.proj" /p:Runtests=true

Before above is invoked runtest.cmd also invokes msbuild for runtest.proj passing "BuildWrappers=true" param
"%__ProjectFilesDir%\runtest.proj" /p:BuildWrappers=true
This should generate the wrappers whi

[2016-09-06 17:25] BruceForstall commented on #6553
@swgillespie any luck on this one yet?

[2016-09-06 17:30] swgillespie commented on #6553
@BruceForstall still nothing, I've been unable to reproduce this issue or any other one of this sort. I spoke to Maoni about this and she would not be opposed to disabling this test and other flaky finalizer tests, since they have very little value and don't add any additional coverage that's not covered elsewhere.

I'm thinking that I will disable this test across all platforms and not just this

[2016-09-06 17:37] BruceForstall commented on #6553
I would support that. I guess you need to decide if they should be disabled or simply deleted altogether.

fwiw, I'm trying to make RyuJIT/x86 "clean", by having no test exclusions specific to RyuJIT/x86, which is why I've been asking about this.

[2016-09-06 17:42] adiaaida commented on #4184
@pgavlin you took this one right?

[2016-09-06 17:49] swgillespie commented on #6553
I suppose the only considerations re: deletion would be whether or not we're concerned with keeping our internal and external tests in sync, which (at least for the GC tests) doesn't seem like something we're concerned about.

[2016-09-06 18:08] jkotas commented on #6553
Do we understand why are these tests failing intermittently? Why is the intermittent failure not a product bug?

If these tests are bad and flaky by construction, delete them. Otherwise, find and fix the intermittent bug that they are hitting.

[2016-09-06 18:10] gkhanna79 commented on #7043
@matthid The exception details you pasted above show the following:

`System.BadImageFormatException: Cannot load a reference assembly for execution.`

Looks like you are trying to load a reference assembly as opposed to the implementation assembly. Also, LoadFromAssemblyPath will only trigger Resolving event if the assembly being loaded has dependencies not yet loaded in the load context.

Are yo

[2016-09-06 18:11] jkotas commented on #6553
E.g. if you are not able to reproduce the failure on your machine, add more logging to the tests so that you can get better idea on why they are failing next time we see the failure

[2016-09-06 18:13] gkhanna79 commented on #7044
This is allowed - can you please share a repro or a crash dump?

[2016-09-06 18:14] gkhanna79 commented on #7043
@christianhuening When the above happens, is assembly B already part of the app?

[2016-09-06 18:17] swgillespie commented on #6553
@jkotas The failure is the test failing to finalize some nodes in a linked list, and it only happens on checked builds. As for why it happens, there aren't many clues - ideally I'd like to inspect the state of the finalizer queue when the test fails but I don't think that's something I can log from managed code.

Now that we can get limited crash dumps from Ubuntu, it may be useful to temporarily

[2016-09-06 18:21] gkhanna79 commented on #1712
@gafter I think we can look into this for .NET Core 1.2 as part of the overall API edition effort (it will be a Dev15 Update and not RTM).

[2016-09-06 19:03] christianhuening commented on #7043
@gkhanna79 Well the assemblies are not a part of the app so far, if you mean at compile time. They are only referenced by the assembly from which I try to instantiate a type.

Essentially at one point I am using a custom AssemblyLoader to search for the types in my DLLs in a certain directory and then I just call Activator.CreateInstance(...) on the types I want/need (i.e. that implement some spec

[2016-09-06 19:40] pgavlin commented on #4184
Yes.

[2016-09-06 19:41] gkhanna79 commented on #7043
For an assembly to be part of the app, it needs to be built as part of the app and end up having its reference in the app's deps.json.

For the scenario you are working with (plugins), the approach should be what you are already using:

1) Create custom ALC and load an assembly A within it.
2) A's load could trigger load of its dependencies that are not part of the app by default. To handle such d

[2016-09-06 19:54] #7042 closed

[2016-09-06 20:39] jkotas opened #7069 "PAL_sxs SEH failure w/ CoreCLR built with LTO"
The PAL test should be fixed by using the same __attribute__((noinline)) __attribute__((optnone)) hack as what we are using in the product - https://github.com/dotnet/coreclr/blob/5ac6af932fe2a3f4b285b6dcc79010caf807ea9d/src/debug/shared/dbgtransportsession.cpp#L1144

[2016-09-06 20:39] jkotas commented on #7069
Related to https://github.com/dotnet/coreclr/issues/5519

[2016-09-06 21:55] matthid commented on #7043
I think that error (or rather warning in my case) is unrelated. I could be wrong but the workaround strongly suggests that it is. I think the `System.Core` assembly is required on the error path only (ie when the exception is already thrown).
When I try to fix this warning the runtime crashes, see https://github.com/dotnet/coreclr/issues/7044

Regarding the side discussion: Yes we talk about dynam

[2016-09-06 21:56] matthid commented on #7044
I'll try to provide a crash dump. Is the repro in my initial post not working?

[2016-09-06 22:49] hanblee commented on #5519
Enabling LTO status update:

The issues resulting in two failed PAL tests are being tracked by #6801 and #7069.
Also, there was a performance regression with LTO enabled which was tracked by #7018 and for which the fix was merged.

We plan to evaluate PGO next.

[2016-09-06 22:52] erozenfeld commented on #7036
@hqueue Yes, this test should be excluded for ARM32 legacy backend. The sequence is not allowed per ECMA and is only supported on x64 for compatibility with legacy jit.

[2016-09-06 23:06] gafter commented on #1712
@gkhanna79 We can have the compiler test for the presence of the new delegate combine API so that the fix will kick in for anyone who compiles against a platform that contains it. Please loop me in when it is being designed.

[2016-09-06 23:10] gkhanna79 commented on #1712
@gafter @JohnChen0 will sync with you when he starts looking into this.

[2016-09-07 00:14] parjong opened #7072 "Core CLR crashes when COMPlus_JitTimeLogCsv is set"
When COMPlus_JitImeLogCsv is set, Core CLR crashes with the following message (in Ubuntu 14.04 x64):

[code]

[2016-09-07 00:32] erozenfeld commented on #7040
I was getting this error about wrappers when running runtest.cmd checked. When I ran runtest.cmd x64 checked, the error went away. I didn't investigate the root cause.

[2016-09-07 01:29] valenis opened #7074 "Perf Test Coverage: Port Xamarin benchmarks to xunit"
Port relevant benchmarks from:
https://github.com/xamarin/benchmarker/tree/master/tests to xunit and enable them for coreclr

[2016-09-07 03:51] jkotas opened #7078 "RyuJIT: Use unchecked writebarrier for inlined ref arguments"
[code]

Actual result:

[code]

Expected result: The two code should use more efficient CORINFO_HELP_ASSIGN_REF write barriers

[2016-09-07 03:56] jkotas commented on #7078
This came up during discussions about tuple deconstruction (new C# 7 feature). Developers can add an instance or extension Deconstruct method to any type in order to extract the components of an instance of that type.

The prevalence of the above pattern is likely to increase as a result of the tuple deconstruction feature. It might be worthwhile to explore the feasibility of generating better cod

[2016-09-07 03:56] jkotas commented on #7078
cc @stephentoub @dotnet/jit-contrib

[2016-09-07 06:32] petertiedemann commented on #7040
@erozenfeld That worked for me as well, pretty weird, considering it says its looking for x64 and I build for x64.

@rahku I pasted the entire log file above.

As @erozenfeld mentions, if I try running again without specifying x64 it fails. It also works with `runtest.cmd x64 Debug` which is interesting as `runtest /?` lists those as the default values. I guess there is a problem somewhere in the

[2016-09-07 06:39] christianhuening commented on #7043
Ok, so I am required to keep the ALC instance along while trying to instantiate stuff? Currently I am just using the ALC to get to the Type objects and then continue working with only the Type objects.

[2016-09-07 11:26] mattwarren opened #7083 "Compact String implementation"
### Background
I came across this idea after seeing that Java has implemented it, see [JEP 254] (http://openjdk.java.net/jeps/254) for the full details, plus this [InfoQ article](http://www.infoq.com/news/2016/02/compact-strings-Java-JDK9) for some extra info.

I'm aware of the CoreFX Labs effort to implement [a UTF-8 string library](https://github.com/dotnet/corefxlab/tree/master/src/System.Text.

[2016-09-07 12:04] benaadams commented on #7083
Was updated to Ascii rather than ISO-8859-1 in  [RFC 7230 3.2.4. Field Parsing](https://tools.ietf.org/html/rfc7230#section-3.2.4)

[2016-09-07 12:38] benaadams commented on #7083
Interestingly the current string format does already have an [IsAscii flag](https://github.com/dotnet/coreclr/blob/255cb7355da9cbfda84bdd09e388ef660eddffe3/src/classlibnative/bcltype/stringnative.cpp#L228-L249) on it

Though it considers `'` and `-` to [not be Ascii](https://github.com/dotnet/coreclr/blob/57b3450f4d232cd53d3b9a0f6566806d73fa4156/src/vm/object.cpp#L2385-L2422) :frowning:

However c

[2016-09-07 13:13] akoeplinger commented on #7083
ASCII Strings is something that @evincarofautumn experimented with a lot for Mono: http://www.mono-project.com/docs/advanced/runtime/docs/ascii-strings/

I'm sure he can go into great details about the pros/cons 😄

[2016-09-07 13:21] mattwarren commented on #7083
Hmm, I didn't think about compatibility with code that uses `fixed` against strings, yeah that's a problem. Looks like the mono experiment solved it by [disabling `fixed` on strings](http://www.mono-project.com/docs/advanced/runtime/docs/ascii-strings/#getting-there-disabling-fixed-on-strings).

[2016-09-07 13:37] benaadams commented on #7083
Could always stackalloc length * 2 bytes for fixed start then copy and widen with `_mm_unpacklo_epi8` & `_mm_unpackhi_epi8` then compress back at fixed closed. Would be slow though...

[2016-09-07 13:50] #7036 closed

[2016-09-07 15:09] mikedn commented on #4169
@RussKeldorph You can assign this to me.

[2016-09-07 15:27] gkhanna79 commented on #6470
I am not sure why the Modules window does not reflect this and wonder if the OS loader is doing some mapping magic. I presume that if you fetch the load context for the loaded assembly, it represents the custom ALC, right?

[2016-09-07 16:01] cydhaselton commented on #1097
On device build complete, as well as Native/Unix from corefx

[2016-09-07 16:02] pgavlin commented on #7054
cc @AndyAyersMS @kyulee1

[2016-09-07 16:02] pgavlin commented on #7054
and, of course @dotnet/jit-contrib

[2016-09-07 16:03] pgavlin commented on #7056
Yup. Closing as such.

[2016-09-07 16:03] #7056 closed

[2016-09-07 16:12] #4188 closed

[2016-09-07 16:13] adiaaida commented on #6927
Long GT_MUL and shift are done.

[2016-09-07 16:28] adiaaida opened #7086 "RyuJIT x86: Assertion failed '!comp->getNeedsGSSecurityCookie()'"
In Windows_NT.ryujit.x86.Checked.jit_stress.2.jit_stress_regs.0x10

set COMPlus_AltJit=*
set COMPlus_AltJitName=protojit.dll
set COMPlus_JitStress=2
set COMPlus_JitStressRegs=0x10

/JIT/Regression/CLR-x86-JIT/V2.0-Beta2/b441487/b441487/b441487.cmd

[2016-09-07 16:31] adiaaida opened #7087 "RyuJIT x86: Assertion failed '(farthestRefPhysRegRecord != nullptr) && (farthestLocation > refLocation || refPosition->isFixedRegRef)"
In Windows_NT.ryujit.x86.Checked.jit_stress_regs.2

set COMPlus_AltJit=*
set COMPlus_AltJitName=protojit.dll
set COMPlus_JitStressRegs=2

/JIT/Regression/VS-ia64-JIT/M00/b113493/b113493/b113493.cmd

[2016-09-07 16:35] adiaaida opened #7088 "RyuJIT x86: [GCStress=0xC][ZapDisable=1] Consistency check failed: AV in clr at CLRVectoredExceptionHandlerShim"
In Windows_NT.ryujit.x86.Checked.gc_stress.0xc.zap_disable.1

set COMPlus_AltJit=*
set COMPlus_AltJitName=protojit.dll
set COMPlus_GCStress=0xc
set COMPlus_ZapDisable=1

/Regressions/common/date/date.cmd

[2016-09-07 16:41] adiaaida opened #7089 "RyuJIT x86: Assertion failed '!isRegPairType(tree->gtType)'"
In Windows_NT.ryujit.x86.Checked.jit_stress.2.jit_stress_regs.4

set COMPlus_AltJit=*
set COMPlus_AltJitName=protojit.dll
set COMPlus_JitStress=2
set COMPLus_JitStressRegs=4

/JIT/jit64/hfa/main/testE/hfa_sf2E_d/hfa_sf2E_d.cmd

[2016-09-07 16:43] adiaaida opened #7090 "RyuJIT x86: Assertion failed 'VarSetOps::Equal(this, VarSetOps::Intersection(this, life, block->bbLiveIn), life)'"
In Windows_NT.ryujit.x86.Checked.jit_stress.2.jit_stress_regs.0x80

set COMPlus_AltJit=*
set COMPlus_AltJitName=protojit.dll
set COMPlus_JitStress=2
set COMPlus_JitStressRegs=0x80

/JIT/opt/virtualstubdispatch/bigvtbl/bigvtbl_cs_d/bigvtbl_cs_d.cmd

[2016-09-07 16:45] adiaaida opened #7091 "RyuJIT x86: Assertion failed 'currentInterval && (currentInterval->isLocalVar || currentRefPosition->isFixedRegRef || currentInterval->hasConflictingDefUse)'"
Windows_NT.ryujit.x86.Checked.jit_stress_regs.8

set COMPlus_AltJit=*
set COMPlus_AltJitName=protojit.dll
set COMPlus_JitStressRegs=8

/JIT/jit64/rtchecks/overflow/overflow01_sub/overflow01_sub.cmd

[2016-09-07 16:46] adiaaida opened #7092 "RyuJIT x86: Assertion failed 'emitVerifyEncodable(ins, EA_SIZE(attr), ireg)'"
In Windows_NT.ryujit.x86.Checked.jit_stress_regs.1

set COMPlus_AltJit=*
set COMPlus_AltJitName=protojit.dll
set COMPlus_JitStressRegs=1

/JIT/Regression/JitBlue/DevDiv_199169/DevDiv_199169/DevDiv_199169.cmd

[2016-09-07 16:58] adiaaida opened #7093 "x86: Assertion failed 'genActualType(tree->gtType) == TYP_LONG'"
Note that this is in codegenlegacy.cpp, suggesting that the fallback is failing in this particular case.

Windows_NT.ryujit.x86.Checked.jit_stress.2.jit_stress_regs.4

set COMPlus_AltJit=*
set COMPlus_AltJitName=protojit.dll
set COMPlus_JitStress=2
set COMPlus_JitStressRegs=4

/JIT/Regression/VS-ia64-JIT/V2.0-Beta2/b309548/b309548/b309548.cmd

[2016-09-07 16:59] gkhanna79 commented on #7043
Yes, since attempt to get a Type may require creating the type and thus, loading the assembly in which the type is defined (and any other assemblies defining the types that are dependencies of the type being created).

[2016-09-07 17:00] adiaaida opened #7094 "RyuJIT x86: Assertion failed 'regRecord->assignedInterval == nullptr'"
Windows_NT.ryujit.x86.Checked.jit_stress_regs.3

set COMPlus_AltJit=*
set COMPlus_AltJitName=protojit.dll
set COMPlus_JitStressRegs=3

/JIT/Regression/CLR-x86-JIT/V1-M12-Beta2/b71099/b71099/b71099.cmd

[2016-09-07 17:03] adiaaida commented on #6927
I just opened issues #7086-#7094 that were exposed by the JitStress and GCStress lab jobs.

[2016-09-07 17:44] erozenfeld opened #7095 "Unify cost computation for GT_LIST nodes"
We are computing costs differently for GT_LIST nodes that are call arguments and all other GT_LIST nodes. This issue is to investigate whether we could/should unify that.

[2016-09-07 18:03] pgavlin opened #7097 "Use a custom calling convention if necessary for math intrinsics that were previously x87 instructions."
These calls currently use the standard x86 calling convention; a custom convention may be necessary if the overhead of the helper call is prohibitive.

[2016-09-07 18:11] mikedn commented on #7097
I'm not sure how you could do that considering that the helpers are written in C++. Use `__vectorcall`?

[2016-09-07 18:15] pgavlin commented on #7097
`__vectorcall` may be an option, yes. Ultimately this simply might not be possible.

[2016-09-07 18:15] pgavlin commented on #7097
cc @dotnet/jit-contrib

[2016-09-07 18:26] BruceForstall commented on #7094
cc @CarolEidt @sivarv

[2016-09-07 18:27] BruceForstall commented on #7091
cc @CarolEidt @sivarv

[2016-09-07 18:27] BruceForstall commented on #7087
cc @CarolEidt @sivarv

[2016-09-07 18:38] BruceForstall commented on #7038
It does seem like exposing all the flow to liveness and LSRA is the "correct" solution here.

I assume the bug seen above is due to LSRA/liveness thinking the variables die at the GT_CMP, but we actually defer the compare generation to the GT_JTRUE. Presumably another solution would be to "teach" LSRA/liveness about this special-case deferral.

An advantage of introducing flow would be that LSRA h

[2016-09-07 19:41] BruceForstall commented on #7038
btw, we should really add this as a new test case

[2016-09-07 19:45] sivarv opened #7100 "RyuJIT x86: Assert failure '!emitComp->opts.compReloc || memBase->IsIconHandle()' while ngen'ing mscorlib"
'!emitComp->opts.compReloc || memBase->IsIconHandle()' in 'System.Security.Cryptography.RSASignaturePadding:Equals(ref):bool:this'

    File: d:\projectk2\src\ndp\clr\src\jit\emitxarch.cpp Line: 3735

[2016-09-07 21:16] mikedn commented on #7038
Looks like I've ran into another instance of this issue, `JIT\Methodical\int64\arrays\_il_rellcs_ulong\_il_rellcs_ulong.cmd` failed in #7099. Similar loop test with a long compare but this time only registers are involved:
[code]

[2016-09-07 21:17] CarolEidt commented on #7038
I think it would be a mistake to add special case support for keeping the sources of the `GT_CMP` live to the branch, unless, I suppose, one were to treat the `GT_CMP` as if it were contained - but that's only a solution if *all* the code generation is deferred until the branch, which is likely to result in considerably more conservative register allocation.

[2016-09-07 21:37] BruceForstall commented on #7038
@CarolEidt I believe that in this case (long CMP/JMP), all the code generate _is_ deferred until the branch. This was how legacy JIT did it, also.

@mikedn: @sivarv suggested to me that at the GT_JMP, we should assert (currently, until this issue is resolved) that the GT_JMP gtPrev node (previous node in linear order) is the GT_CMP node that is GT_JMP->gtOp1. Would that catch these cases as an ass

[2016-09-07 21:57] pgavlin commented on #6981
#7023 worked around the NYI for math intrinsics.

[2016-09-07 22:03] BruceForstall commented on #7089
This is also failing in basic (internal) devBVT desktop testing.

[2016-09-07 23:58] BruceForstall commented on #7038
@mikedn -- w.r.t. your experiment, I wonder if there's some way we can mark the second branch / compare / block to not require the generation of any cmp, which is unnecessary in this case. We'd have to ensure legality, but presumably we won't have any subsequent flowgraph transformations that would alter this flow structure. There are definitely a lot of temps in your example. Is that because it's

[2016-09-08 01:22] treziac opened #7103 "dynamic does not work with internal visibility and InternalsVisibleTo"
Using VS2015 Update 3 with netcoreapp1.0
(sdk: "1.0.0-preview2-003121")
- Create an assembly with a class A with internal property `prop`
- Make this assembly visible to an other assembly : `[assembly: InternalsVisibleTo("Test")]`
- in assembly Test, try to access prop with both dynamic and typed variables :

[code]

`typed.prop` works but `dyn.prop`generates RuntimeBinderException

In net451-net4

[2016-09-08 06:38] mikedn commented on #7038
Yes, code generation is deferred but operand consumption is not. Ultimately this doesn't work because the deferral is done by codegen and LSRA knows nothing about it. I suppose that a contained `GT_CMP` would fix this. But that means that up to 4 registers will need to be allocated to `GT_JTRUE` and those registers cannot be live at the top loop entry anymore because LSRA now has no place to inser

[2016-09-08 07:19] mikedn commented on #7038
Here's how it looks without temporaries:
[code]
There are 2 useless `xor ebx, ebx`. In fact both hi part compares are useless because both high parts are always 0 in this case. But that's another story, probably morph should have caught this.

[2016-09-08 07:23] mikedn commented on #7038
And a version where the long constant has been replaced with a long method parameter:
[code]
For some reason operand containment fails on all compares.

[2016-09-08 07:33] fanoI commented on #7083
Why use ASCII instead of Latin 1 for the 1 byte version? Latin1 will permit to use one byte for a lot of accented characters of Western Europe as 'è', 'ò', 'ù'...

Could have sense to have a third type at this point for UTF32 in the case of strings containing characters that could not represented in UTF16 (Chinese characters, Klingon, Emoticons, ...) if not resorting to the kludge of use surrogate

[2016-09-08 07:41] benaadams commented on #7083
ASCII and UTF8 are compatible; Latin 1 and UTF8 are not so require conversions between the two.

UTF8 is just as compact for the non-accented characters and is current the general interchange format, so using Latin 1 would add conversion load to and from UTF8; whereas ASCII requires no conversion.

[2016-09-08 07:42] choikwa commented on #5928
Looking at UnfairSemaphore::Wait(), it looks like it has 3 while loops. The middle while loop does the spin and appears to be a polling loop and not a busy-waiting loop. It would be interesting to see how many threads are spinning vs. waiting. I found the comment in the else section confusing (not sure if Windows SleepEx specific).

                        // This is because SwitchToThread does no

[2016-09-08 10:43] migueldeicaza commented on #7083
The reason Mono has disabled fixed on strings is purely to help us locate the code paths that have fixed in as many places as possible and upgrade the code.

The idea is to perform a copy of the data on demand if necessary when a "fixed" that has not been upgraded is found, preserving compatibility at the expense of a string copy.

[2016-09-08 10:46] migueldeicaza commented on #7083
I once also tried to make the case that .net was ucs2 and not UTF16 in front of the whole ECMA committee, only to find out that I was wrong :-)

http://www.unicode.org/faq/utf_bom.html#utf16-11

[2016-09-08 11:02] HansOlavS commented on #7083
@benaadams, I live in Europe and we use Latin-1. Consider the cultural impact of using Latin-1 from my European perspective. For the US ASCII might seem like a slam dunk, but if you think about this with European eyes it's not.

Could a compiler-switch be a good middleground? Use ASCII as default, but open up for Latin1...

[2016-09-08 12:20] benaadams commented on #7083
@HansOlavS I don't think Latin-1 would be great; I'm not thinking of it from a US perspective (I live in Europe also); more from high throughput interchange formats.

* String is the correct format for Windows p/invoke, platform internationalisation and UI display.
* ASCII is the correct format for a lot of protocols with their limited command set and dislike of getting involved with network byte

[2016-09-08 13:02] HansOlavS commented on #7083
Disclaimer: this is way out of my league... ;)

I get that ASCII aligns neatly with a lot of low-level protocols (like HTTP), but my concern was memory footprint and reduction when loading up my .NET app that contains a lot of Latin-1 compatible strings. It would be super-nice to have those stored as 8-bit chars in-memory instead of the 16-bits .NET now uses.

If you're familiar with Delphi (Ander

[2016-09-08 13:04] HansOlavS commented on #7083
And regarding special cases like €, I don't care as that is an edge-case and I'm happy to have it stored in UTF16.

[2016-09-08 13:13] migueldeicaza commented on #7083
ASCII has other benefits, when marshaling out to UTF8 it requires no processing.  It is a direct copy.

Anything th

[2016-09-08 13:14] migueldeicaza commented on #7083
Anything that uses the top bit would prevent this optimization from working.   The was one of the reasons for Mono's work to use ascii

[2016-09-08 13:20] HansOlavS commented on #7083
I get the ASCII->UTF8 compatibility and marshaling and p/invoke and such. I guess I'm still a bit uneasy with .NET's decision to have all strings in memory as 16-bits UTF16 and miss the old days in Delphi where I could have ANSI (Latin-1) string and widestring and make a conscious decision on where to use what. But maybe this concern is totally beside the point in this thread and I misunderstood.

[2016-09-08 14:38] adiaaida commented on #6981
#6988 Implemented TYP_LONG shift. Opened #6999 for optimization of shifts.

[2016-09-08 15:57] pgavlin commented on #7089
I'm also hitting this when crossgen'ing mscorlib. I think that this is due to situations where code is inserted between a long-typed call and the corresponding st.lclVar that requires the result of the call to be spilled. I can imagine a couple solutions:
1. Fix the various bits of the code s.t. it is possible to spill + unspill the result of a long-typed call on 32-bit platforms.
2. Ensure during

[2016-09-08 16:09] CarolEidt commented on #7089
@sivarv Shoudn't this be handled by the multireg spill handling for call nodes?

[2016-09-08 16:15] pgavlin commented on #7089
Here's the relevant piece of the call stack:
[code]

[2016-09-08 16:25] pgavlin commented on #7089
Hm, this assert may simply be outdated. It looks like it may have been copied from the legacy backend's implementation of `rsUnspillReg`.

[2016-09-08 16:31] #4664 closed

[2016-09-08 16:36] mikedn commented on #4174
Fixed by #4986

[2016-09-08 16:38] mikedn commented on #4175
Fixed by #4986

[2016-09-08 16:38] pgavlin commented on #7089
Indeed, it looks like the assert has become misplaced. Fix is in #7107.

[2016-09-08 16:39] #4174 closed

[2016-09-08 16:39] #4175 closed

[2016-09-08 16:43] fanoI commented on #7083
For Latin1 I intended the "proper" implementation done by Microsoft: https://en.wikipedia.org/wiki/Windows-1252.

The opened issue is talking to compress the strings and waste half of a bytes to be compatible with ASCII does not make sense to me. To check if a Latin1 string is a valid ASCII character you could not simple check if its byte is < 127?

A part from Java, Python has doing a similar thi

[2016-09-08 16:49] #4184 closed

[2016-09-08 16:50] pgavlin commented on #4184
Fixed by #7023.

[2016-09-08 17:07] sivarv commented on #7089
When we added multi-reg call node support in x86 RyuJIT, we have disabled regPairTypes.  This assert is pre-existing and wasn't introduced with multi-reg call node support work.

What I don't understand why this assert is failing.  As per my understanding it should still be the case that this assert should hold (on RyuJIT) since a multi-reg call node is not considered a regPair type.  Do We know w

[2016-09-08 17:12] adiaaida commented on #7089
IsRegPairType just checks these conditions:

#ifdef _TARGET_64BIT_
    return false;
#elif CPU_HAS_FP_SUPPORT
    return type == TYP_LONG;
#else
    return type == TYP_LONG || type == TYP_DOUBLE;
#endif

So on 64BIT, it's always false, but on x86, if the type is TYP_LONG, it will return true.

[2016-09-08 17:40] lt72 commented on #6768
David will look into this for the short term until we find a new owner.

[2016-09-08 17:40] lt72 commented on #6632
@Davmason: can you look into this issue and see what the cost of fixing it is?

[2016-09-08 18:22] RussKeldorph commented on #7100
/cc: @dotnet/jit-contrib

[2016-09-08 18:41] zabulus commented on #7083
Wh don't use separate type?

[2016-09-08 18:44] RussKeldorph commented on #7072
@dotnet/jit-contrib FYI

[2016-09-08 19:24] evincarofautumn commented on #7083
@HansOlavS It would be possible to use Latin-1 as the compact encoding. Scanning would be just as fast because the second Unicode block (U+0080–U+00FF) corresponds to the upper range of Latin-1, as @fanol rightly pointed out. We could also do some clever hacks with the range U+0080–U+009F, which contains rarely used control characters; for example, encoding € as U+0091 (“Private Use 1”).

Some ASC

[2016-09-08 19:33] mattwarren commented on #7083
@zabulus

Sure you can use a separate type, that's what the [UTF-8 string library](https://github.com/dotnet/corefxlab/tree/master/src/System.Text.Utf8) is trying to achieve.

However this proposal was to see if something more wide-ranging and more deeply embedded in the CLR would be possible

[2016-09-08 20:24] #7089 closed

[2016-09-08 21:01] BruceForstall commented on #7092
The problem is genCodeForInitBlkUnroll() is trying to generate:
[code]
here:
[code]
which is not legal: ebp/esi/edi/esp don't have byte register versions on x86.

Note that legacy JIT generates `stosb` for this test.

[2016-09-08 21:26] wjdavis5 commented on #6957
After some further troubleshooting I noticed that what was happening. We had an random empty catch clause that wasnt logging the thrown exception. In this case the port sharing attempt was actually throwing an exception. Logic has been added to prevent that and cpu utilization is normal.

[2016-09-08 21:26] #6957 closed

[2016-09-08 21:30] RussKeldorph commented on #6680
@hqueue Very sorry for the delay.  I was out of the office.

I believe the tests you mention do pass on x86 now.  Looking only at the project file contents, other than the `arglist` tests (which are disabled for another reason) I think _il_dbgsizeof32 is the only existing test that doesn't pass on ARM when running the x86-built version.  I suspect it has something to do with the sizeof of the ques

[2016-09-08 21:58] pgavlin commented on #6981
#4986 addressed `src\jit\decomposelongs.cpp:478 - NYI: "Lowering of signed cast TYP_INT->TYP_LONG"`

[2016-09-08 22:03] adiaaida opened #7110 "RyuJIT x86: NYI: "Rotation of a long value by variable amount""
This NYI:

NYI: "Rotation of a long value by variable amount"
File: coreclr\src\jit\morph.cpp:14244

Is hit in these tests:
JIT\CodeGenBringUpTests\Rotate\Rotate.cmd

[2016-09-08 22:03] adiaaida commented on #7110
/cc: @dotnet/jit-contrib

[2016-09-08 22:08] sivarv commented on #7087
This is a jitstressregs=2 only issue on x86.

IR has the following expression
v01 = v02/(v02-v01)

t0 = GT_SUB(v02, v01)
v01 = GT_DIV(v02, t0)

v02 was allocated to edx and v01 was allocated to ecx.

The Def position of GT_SUB has  the following Candidates { ecx, ebx, esi, edi }.  Note that eax and edx were not present in Candidates of GT_SUB since those regs are killed by GT_DIV.

Lsra is in allo

[2016-09-08 22:14] adiaaida commented on #6927
Just ran another full test suite run, and it looks like we've made it to a new NYI. Opened #7110 to track, and added it to the list.

[2016-09-08 22:55] BruceForstall commented on #7100
We're trying to generate
[code]
(due to inlining). But, emitInsBinary() doesn't expect a zero address that is not a relocatable handle.

[2016-09-08 23:09] qmfrederik commented on #6321
I got ASP.NET Core up & running on a Raspberry Pi following the instructions in this thread - thanks!

The info on how to compile for ARM seems to be a bit scattered, so I thought I'd leave a note here on how to build for ARM, for the next person looking to do this :):

- __Install Linux on the Raspberry Pi 3__ On the Raspberry Pi 3, the distribution I'm using is [Ubuntu Mate 16.04](https://ubuntu

[2016-09-08 23:22] jkotas commented on #6321
@qmfrederik Thanks a lot for writing these instructions down!

[2016-09-08 23:40] leemgs commented on #6321
Thanks a million. It will be helpful to vagrant users that want to use .NET Core on Ubuntu MATE 16.04 + Raspberry Pi3 (ARM).

[2016-09-08 23:44] pgavlin opened #7113 "RyuJIT x86: SharpChess benchmark crashes"
The SharpChess benchmark is crashing when run with RyuJIT/x86 at the following stack:

[code]

It would seem that some function on the stack has corrupted the frame chain. This does not repro with JIT32.

[2016-09-08 23:47] pgavlin commented on #6981
We've taken care of a number of these NYIs in the last week or so. Here's an updated table:

# System.XML
- src\jit\codegenxarch.cpp:2015 - NYI: "Casts from TYP_LONG"

# v8-crypto
- src\jit\lowerxarch.cpp:527 - NYI_X86: "GT_OBJ"

# bio-mums
- src\jit\codegencommon.cpp:650 - NYI: "Model kill set for CORINFO_HELP_ASSIGN_BYREF on target arch"
- src\jit\codegenxarch.cpp:2004 - NYI: "Casts from TYP_LON

[2016-09-09 00:28] BruceForstall commented on #7093
The only thing required to repro is:
[code]
(no need to set COMPlus_AltJit, COMPlus_AltJitName, COMPlus_JitStressRegs)

[2016-09-09 00:32] gregg-miskelly opened #7115 "Func eval of functions that take 16-byte input structs corrupts the input"
Build a debuggee with the following code:

[code]

1. Set a breakpoint on the call to Console.WriteLine
2. In the debugger evaluate `now` and `ReturnInput(now)`

Result:
The two variables have different values:
[code]

Expected:
Two values should be the same

[2016-09-09 04:27] hqueue commented on #6680
@RussKeldorph Nice to see you :)

By now(19346e58c6443638c245f85ee0b31a8c6e7af872), I also confirm this.

I agree with you, because we need explicitly different test for ARM32 in this case. :)
Until then I think we had better exclude them from ARM test,  because there is no way to build tests for ARM now.

[2016-09-09 12:23] zabulus commented on #7083
`
@zabulus All the existing APIs are using String, so if we change the representation of String then existing code will benefit without modification, as long as it’s not using unsafe/fixed. If we add a new type, only new code will be able to take advantage of the optimisation.
`

I see one more concern about such strings, except ```unsafe/fixed``` about marshaling such strings with P/Invoke. Speci

[2016-09-09 14:51] RussKeldorph commented on #6680
@hqueue Agreed.  Excluding is best short term.

[2016-09-09 16:09] fanoI commented on #7083
As Latin1 is a subset of UTF16 the marshalling code if should convert to a C/C++ wstring would simply duplicate any byte adding a 0 before it, probably one could made the thing faster using SSE intrinsic.
If I'm not wrong the algorith that there work for ASCII would work to convert a Latin1 string to UFT16:
https://woboq.com/blog/utf-8-processing-using-simd.html

It is obvious that in some cases t

[2016-09-09 16:10] adiaaida commented on #7110
In legacy backend, we don't do any special handling of rotates. This assert is for a very specific case where:

!shiftIndexWithoutAdd->IsCnsIntOrI() && (rotatedValueBitSize == 64)

The comment suggests introducing a helper here. Another option is to do what legacy backend does and just return the original tree.

[2016-09-09 16:26] benaadams commented on #7083
Characters 128 - 159 differ between the Windows-1252 variant and UTF16

Then additionally in the fast path algorithms you need to do a validation check, which makes them less fast path...

[2016-09-09 16:32] #2771 closed

[2016-09-09 17:14] mikedn commented on #7110
JIT32 didn't have any kind of rotation support, this was added recently to RyuJIT x64 by @erozenfeld in #1830.

IMO we should simply disable this optimization for long on x86. Using a helper won't be very efficient anyway.

[2016-09-09 17:16] omariom commented on #5851
Can we somehow have `Span` fields but only in `unsafe` context? Like  pointers..

![hmm2](https://cloud.githubusercontent.com/assets/1781701/18396025/8693cb84-76d2-11e6-95fa-0073aff27214.png)

[2016-09-09 17:24] adiaaida commented on #7110
@mikedn That's what I was thinking too.

[2016-09-09 17:51] erozenfeld commented on #7110
If we return the original tree we will end up with two helper calls: CORINFO_HELP_LLSH and CORINFO_HELP_LRSZ. Introducing a helper for rotations will save a helper call and also can use rol/ror if shift index is between 0 and 31.

[2016-09-09 18:25] slozier opened #7124 "Encoding.GetString throwing NullReferenceException when used with CodePagesEncodingProvider"
The following code is throwing an unexpected `NullReferenceException` on the last line:
[code]
Also fails on net46, but works (on net46) if I comment out the first line.

[2016-09-09 19:54] cmckinsey commented on #7054
The only trivially correct evaluation of the arguments for a method inline is to evaluate each actual into a temporary and replace each formal with the temporary. Doing anything else requires analysis. So I wouldn't expect side-effects like volatile to be the issue. It's an overloaded term and might refer to something else as the blocker here. Anyway we should look into this. I agree with toub's c

[2016-09-09 20:29] benaadams commented on #7054
For reference

The code that won't inline `Math.Min` is
[code]
The code that will inline `Math.Min` is
[code]

[2016-09-09 20:34] KrzysztofCwalina commented on #5851
@benaadams, correct. In code I wrote, the thing that flows across threads is a reference type "context". The context holds to buffers, but never hands the buffers to separate components, but rather wraps them into spans first. The code that works on spans is synchronous.

[2016-09-09 20:39] mikedn commented on #7054
Volatile is just an example, there may be other situations that trigger the same issue.

In any case, the current behavior is illogical:

[code]

[2016-09-09 20:40] KrzysztofCwalina commented on #5851
@omariom, we have toyed with the idea, but it would require complex work in the runtime, compilers, language syntax, etc. I wonder if we cannot start without it (and live with the stack-only hard limitations) and then add this feature later when the limitations prove too large.

[2016-09-09 21:15] adityamandaleeka commented on #6283
After much debugging and investigation, the problem turned out to be a bug in the memory management code in the kernel used by our RHEL and CentOS machines. The bug causes some page table entries to lose the `_PAGE_USER` pagetable bit when page migration races with mprotect.

I'm working with RedHat to have the fix released in an update to RHEL7.

I observed that I am not able to reproduce the iss

[2016-09-09 21:26] BruceForstall opened #7127 "x86: Assertion failed 'bytesToBeCopied == 0'"
Legacy x86 back-end.

test: Interop\StructMarshalling\PInvoke\MarshalStructAsLayoutExp\MarshalStructAsLayoutExp.cmd

COMPlus_JitStress=2

[code]

[2016-09-09 21:27] leobuskin commented on #917
@ghost (ex-@jasonwilliams200OK) is missed as I understand. @richfelker suggested patch to x86_64 arch of musl http://www.openwall.com/lists/musl/2016/08/30/7, is it enough or we need it to x86 arch too? The right answer is 'yes', right?

Excuse me, just joined conversation, don't understand some points but I'm interesting in and ready to help.

[2016-09-09 21:36] adityamandaleeka commented on #5687
See https://github.com/dotnet/coreclr/issues/6283#issuecomment-246041964

[2016-09-09 21:43] mattwarren commented on #7083
Sorry, I guess I didn't actually ask any questions when I proposed this. I guess I'm wondering:

1. Has something like this been considered before, are there fundamental reasons why it can't be or won't be done in the CLR?
1. If not, is this something that would be considered in the future or are things like [System.Text.Utf8](https://github.com/dotnet/corefxlab/tree/master/src/System.Text.Utf8) t

[2016-09-09 21:58] #7100 closed

[2016-09-09 21:59] #7093 closed

[2016-09-09 22:02] #7092 closed

[2016-09-09 22:13] BruceForstall commented on #7086
There are many, many cases in the stress runs. Here's another:

JIT\Methodical\tailcall\_il_reldeep_inst\_il_reldeep_inst.cmd

[2016-09-09 23:27] evincarofautumn commented on #7083
@fanol Right, marshalling to UTF-16 would still be cheap. You could do it with ~2 instructions for each 8 bytes of input (`movq` + `punpcklbw`). UTF-8 would be slightly more involved.

@mattwarren Around the time we had [a discusson on mono-devel-list](http://mono.1490590.n4.nabble.com/ASCII-Strings-Proposal-td4668256.html) about my proposal, some MS people (@vancem) indicated that they’ve thought

[2016-09-09 23:41] mattwarren commented on #7083
@evincarofautumn that's interesting to know, thanks

On 10 Sep 2016, at 00:27, "Jon Purdy" <notifications@github.com<mailto:notifications@github.com>> wrote:

@fanol<https://github.com/fanol> Right, marshalling to UTF-16 would still be cheap. You could do it with ~2 instructions for each 8 bytes of input (movq + punpcklbw). UTF-8 would be slightly more involved.

@mattwarren<https://github.com/mat

[2016-09-09 23:54] wtgodbe opened #7128 "arm64 package building is failing in Release/1.1.0 build pipeline"
We are seeing errors when building packages for Windows arm64 on the Release/1.1.0 in the build pipeline - see [here](https://devdiv.visualstudio.com/DevDiv/Net%20CoreFX/_build/explorer?_a=summary&definitionId=4164) for an example

[2016-09-10 00:04] sivarv commented on #7091
This is a JitStressRegs=8 only issue on x86.

[2016-09-10 06:29] benaadams commented on #7083
Though not for the  Windows-1252 variant due to the conflict in characters 128 - 159

[2016-09-10 06:50] mikedn commented on #5699
I think this is not an issue anymore, LIR changes fixed this. Now the test that failed generates the following code:
[code]

This is still an issue.

[2016-09-10 06:54] mikedn commented on #7113
I suppose this could be caused by #5699.

[2016-09-10 13:53] siudeks commented on #6475
docker for windows and Microsoft.PowerShell.Commands.WriteErrorException,ValidateVolumeMapping:
in my case solution was: Docker -> Settings -> Shared Drivers and mark proper drive as shared.

[2016-09-10 18:48] fanoI commented on #7083
OK the Microsoft version of Latin1 while more clever in the use of the only 255 characters is not adapt because it is not a subset of UTF16 while the real Latin1 is https://en.wikipedia.org/wiki/ISO/IEC_8859-1 so it is this that should be used. Patience for '€' and other characters in the block 128 - 159 strings containing them will be not compressible.

[2016-09-11 02:05] tarekgh commented on #7124
This is fixed with the PR https://github.com/dotnet/corefx/pull/11485

the nuget package containing the fix looks not published yet on https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Text.Encoding.CodePages but should get published soon

[2016-09-11 02:05] #7124 closed

[2016-09-11 04:57] JosephTremoulet commented on #7054
True, but the inliner currently does the analysis.  It seems to be doing the analysis optimistically -- assume the argument IR node can be copied/re-used until analysis proves otherwise.  The comment at this inliner bail-out seems to indicate that, at least when it was written, the code processing those "proves otherwise" annotations can't handle certain side-effects:

[code]

and, indeed, the `GT

[2016-09-11 07:12] benaadams commented on #7054
I assume `GTF_ORDER_SIDEEFF` means changing the read or write order would have a side effect to the behaviour?

`GTF_SIDE_EFFECT` seems to be [for a wide range of items](https://github.com/dotnet/coreclr/blob/ed9721c7be52ff867bcce2d26a85798382189a15/src/jit/assertionprop.cpp#L3643-L3682)

Comment on the [`optCanMoveNullCheckPastTree`](
https://github.com/dotnet/coreclr/blob/c880f864bb91bddd83d5390

[2016-09-11 07:15] benaadams commented on #7054
May suggest assigning to a volatile would be `GTF_ORDER_SIDEEFF | GTF_SIDE_EFFECT` and read would only be `GTF_ORDER_SIDEEFF`?

[2016-09-11 13:38] eyasso opened #7134 "Parameter "targetPlatformVersion" cannot be null - SDK 10.0.14393.0"
Hello,
When trying to create new UWP project I am getting following error: "error : Parameter "targetPlatformVersion" cannot be null.".
csproj were not created.
I have Visual Studio 2015 community update 3 installed on clean OS.
I have installed SDK 10.0.14393.0 and my Windows 10 is up to date with all updates.
Has anyone else encountered that?
I’d appreciate you help.

[2016-09-11 15:16] fschmied opened #7135 "Add GetParentDefinition Reflection APIs to allow walking the override chain of members"
(This feature request was originally at https://visualstudio.uservoice.com/forums/121579-visual-studio-2015/suggestions/3734099-add-getparentdefinition-reflection-apis-to-allow.)

Currently, it's really hard to implement a correct algorithm that gets the parent definition of a `MethodInfo`, `PropertyInfo`, or `EventInfo` representing a member override. A naive implementation is bound to contain bu

[2016-09-12 10:01] lucenticus opened #7138 "[Linux][SOS] Show local variables using gdb-jit interface"
I'm working on implementation of  Dwarf information generation for local variables using gdb-jit interface.  The major issue I met is mapping native vars to IL vars. I successfully get native vars info `ICorDebugInfo::NativeVarInfo` by calling `DebugInfoManager::GetBoundariesAndVars`, but I don't know how to map `NativeVarInfo` to IL variables. @mikem8361, @janvorli, could you guide us how can we

[2016-09-12 10:46] janvorli commented on #5551
It looks like there is no low memory notification API in Linux and the only way is to poll /proc/meminfo regularly.

[2016-09-12 15:06] kuacci commented on #6602
Is there any timeline existed for this fix?

[2016-09-12 16:03] pgavlin commented on #7113
@mikedn: I probably should have been more specific: the frame chain I am referring to is not the ebp-based frame chain, but the linked list of `Frame` objects established for transitions between managed and native code. My guess is that something in PInvoke lowering isn't quite right for x86, but I'm not certain.

[2016-09-12 16:28] pgavlin opened #7141 "RyuJIT x86: NYI_X86: "Virtual Stub dispatched call lowering via dictionary lookup""
This hits in mscorlib as well as a few of the cqPerf benchmarks.

[2016-09-12 16:29] pgavlin commented on #7141
This is part of #6981.

[2016-09-12 16:29] pgavlin commented on #6981
#7141 tracks the VSD NYI.

[2016-09-12 17:16] vancem commented on #7083
To answer @mattwarren question on whether changing the internal representation of a string has been considered before, the short answer is YES.  In fact it has been a pet desire of mine for probably over a decade now.    What was clear now and has held true for quite sometime is that

Typical apps have 20% of their GC heap as strings.
Most of the 16 bit characters have 0 in their upper byte.  Thus

[2016-09-12 17:19] wtgodbe commented on #7128
https://github.com/dotnet/coreclr/pull/7129 fixes this

[2016-09-12 17:19] #7128 closed

[2016-09-12 17:20] whoisj commented on #7083
I would love, love, love it if `string` were synonymous with `IString` and not `String`, that would allow custom implementations of `IString` such as `StringUtf8`, `StringAscii`, `StringUtf16`, etc. Of course use of p/invoke would require the signature o use the correct implementation of `IString`.

I for one would love to see [utf 8 everywhere](http://utf8everywhere.org/).

[2016-09-12 17:23] whoisj commented on #7083
Um, developers **should not** assume that characters are the size of a `char` anyways, as UTF-16 supports multiple `char` characters. In fact, I'd say changing to the suggested model would help developers avoid a whole class of bugs due to very poor assumptions.

As for `unsafe` operations, the underlying array should remain accessible regardless of the impl, otherwise we will be throwing an immen

[2016-09-12 17:48] benaadams commented on #7083
Using wider types `long*` on x64 and `int*` on x86 and `Vector<ushort>` over strings; which would also perform faster if the string was a more compact type.

Normally a validate to ascii is a step with a fallback to using the Encoding namespace that accepts `char*` when not ascii. Equally there is a pressure to keep ascii as byte[] for as long as possible for the performance, but then there is no

[2016-09-12 18:03] BruceForstall commented on #7087
@sivarv I still see this assert in 8 different stress modes:

JitStress=2 JitStressRegs=1
JitStress=2 JitStressRegs=2
JitStress=2 JitStressRegs=3
JitStress=2 JitStressRegs=8
JitStressRegs=1
JitStressRegs=2
JitStressRegs=3
JitStressRegs=8

e.g., JitStress=2 JitStressRegs=1:
Interop\MarshalAPI\Copy\CopyDoubleArray\CopyDoubleArray.cmd
Interop\PrimitiveMarshalling\EnumMarshalling\EnumTest\EnumTest.cmd

[2016-09-12 18:15] BruceForstall opened #7143 "RyuJIT x86: Assertion failed '(farthestRefPhysRegRecord == nullptr) || (farthestRefPosWeight < getWeight(refPosition))'"
set COMPlus_JitStress=2
set COMPlus_JitStressRegs=1
set COMPlus_AltJit=*

GC\Scenarios\DoublinkList\doublinkstay\doublinkstay.cmd
GC\Scenarios\Boxing\gcvariant\gcvariant.cmd

[2016-09-12 18:19] sivarv commented on #7091
On further investigation, this turns out to be a non-stress mode issue caused by an aggressive assert.

[2016-09-12 18:27] sivarv commented on #7087
Even though it is the same assert, these could potentially be different issues.  I will look into them.

[2016-09-12 18:29] BruceForstall opened #7144 "RyuJIT x86: Assertion failed '!"gtArgEntryByNode: node not found"'"
There are 3 different sets of tests which fail, based on the JitStressRegs setting, as follows.

set COMPlus_JitStressRegs=2

JIT\Methodical\Invoke\fptr\_il_relinstftn\_il_relinstftn.cmd
JIT\Methodical\Invoke\fptr\_il_relinstftn_t\_il_relinstftn_t.cmd

set COMPlus_JitStressRegs=8

JIT\Methodical\Invoke\fptr\_il_relvirtftn\_il_relvirtftn.cmd
JIT\Methodical\Invoke\fptr\_il_relinstftn\_il_relinstftn.

[2016-09-12 18:34] BruceForstall commented on #7141
This is a dup of #4186.

[2016-09-12 18:34] #7141 closed

[2016-09-12 18:41] ramarag commented on #6581
fixed by #7015

[2016-09-12 18:41] #6581 closed

[2016-09-12 18:45] JosephTremoulet commented on #6900
Fix was backed out in #7118; reopening issue.

[2016-09-12 19:04] lt72 opened #7146 "Optimize JIT helpers for memory copy operations on Intel architecture."
The current implementation for JIT_MemSet / Jit_MemCpy is not up-to-date with the latest processors architecture. Such helpers are triggered through InitBlk and CpBlk MSIL opcodes, and Buffer::BlockCopy and Buffer::InternalBlockCopy would benefit from the same optimizations as well, although through a slightly different code path.

[2016-09-12 19:15] sivarv commented on #7087
I have looked at JIT\IL_Conformance\Old\Base\ceq\ceq.cmd failure under JitStressRegs=1/2/3/8

In each of the above stress modes, the candidates set is constrained to a set containing 3 regs.  The repro program has a long comparision (GT_EQ) that requires 4 registers (srcCount=4) and hence the assert not being able to find a reg to allocate. Our current implementation of GT_EQ is inefficient (also

[2016-09-12 19:17] BruceForstall commented on #7087
Feel free to open different issues for each individual root cause.

[2016-09-12 19:25] mikedn commented on #7087
Sounds like we should deal with long compares in lowering as discussed in #7038.

[2016-09-12 20:30] JosephTremoulet opened #7147 "JIT: Loop hoisting re-ordering exceptions"
Loop-hoisting optimization mentions in a [comment](https://github.com/dotnet/coreclr/blob/cbd1f37b7b74647644686a9143d05fbdd15162c8/src/jit/optimizer.cpp#L6225-L6226) that "We assume that expressions will be hoisted so that they are evaluated in the same order as they would have been in the loop," but that assumption doesn't hold with the current implementation.  Consider the following code:

[code

[2016-09-12 20:57] dagood commented on #6716
This shouldn't happen anymore in master after merging https://github.com/dotnet/coreclr/pull/6791.

[2016-09-12 20:57] #6716 closed

[2016-09-12 21:23] JosephTremoulet commented on #7054
I'm not sure I follow; the large disjunction in linked code is identifying which helper calls implement checked casts, and the reference to `GTF_SIDE_EFFECT` in it is used to avoid throwing away any side effects in the argument list as it rewrites the code to avoid the call (in the case that it can prove the cast will always succeed).

From their [definitions](https://github.com/dotnet/coreclr/blo

[2016-09-12 22:46] JosephTremoulet commented on #6900
I believe we can re-apply the same fix (#6889) for this issue once #7147 is fixed.

[2016-09-12 23:12] mikem8361 commented on #7138
I probably won’t be much help with this. There are still parts of the debugging code I’m still getting up to speed on myself.  Maybe one of Jan’s or Noah can help.

@noahfalk @jkotas

[2016-09-12 23:53] FrankPeschel-Gallee opened #7150 "crossgen: provide log (of not compiled methods)"
For diagnostic/performance/correctness purposes it would be beneficial for crossgen to provide a list of methods it did not generate code for, including the respective reason for giving up.
It would be good enough to expose that as a command line argument (i.e. the name of the logfile).

[2016-09-13 00:08] sivarv opened #7151 "RyuJIT X86: Long comparison tests could fail under JitStressRegs=1/2/3/8"
Assertion failed '(farthestRefPhysRegRecord != nullptr) && (farthestLocation > refLocation || refPosition->isFixedRegRef)'

JitStress=2 JitStressRegs=1
JitStress=2 JitStressRegs=2
JitStress=2 JitStressRegs=3
JitStress=2 JitStressRegs=8
JitStressRegs=1
JitStressRegs=2
JitStressRegs=3
JitStressRegs=8

JIT\IL_Conformance\Old\Conformance_Base\clt_i8\clt_i8.cmd
JIT\Methodical\explicit\misc_opt_dbgexpli

[2016-09-13 04:55] noahfalk commented on #7138
Try looking at CordbNativeCode::ILVariableToNative(...) in
https://github.com/dotnet/coreclr/blob/6e3c1a63e683b9c825c218efc6d75bf5e430f474/src/debug/di/module.cpp. I didn't check if the exact code you need is right there, but its probably a good place to start following the code.

Under the paradigm of giving a man a fish vs. teaching how to fish, I didn't recall the exact function name from memor

[2016-09-13 05:26] #7086 closed

[2016-09-13 05:30] BruceForstall commented on #7127
This assert was fixed (the test still fails; that will be opened as a separate issue).

[2016-09-13 05:30] #7127 closed

[2016-09-13 05:38] BruceForstall commented on #2389
Test passes for me.

[2016-09-13 05:38] #2389 closed

[2016-09-13 06:01] lucenticus commented on #7138
@noahfalk, this is exactly what I need, thanks! Yes, I had to evaluate search results carefully:)

[2016-09-13 06:01] #7138 closed

[2016-09-13 07:19] mikedn commented on #4169
Fixed by #7126 and #7133

[2016-09-13 08:28] HamedFathi opened #7154 "Could not load file or assembly 'System.Runtime, Version=4.1.0.0'"
[code]

I am using AssemblyLoadContext in my application so I have "System.Runtime.Loader": "4.0.0" as dependency but after publish my project I have above error.

[code]

with visual studio I can run my application but with dotnet command line I have above error.

of course I added System.Runtime.dll in publish folder by hand but I have another exception.

[code]

my simple code (using AssemblyLo

[2016-09-13 09:06] adamsitnik commented on #5857
@KrzysztofCwalina you can close this one ;)

btw. I was thinking about implementing both enumerators and Cast method for Span. Would such PR be welcomed?

[2016-09-13 14:10] pgavlin commented on #4190
Closed by #7105.

[2016-09-13 14:10] #4190 closed

[2016-09-13 14:11] pgavlin commented on #4172
Closed by #7125.

[2016-09-13 14:11] #4172 closed

[2016-09-13 14:11] #4169 closed

[2016-09-13 15:26] KrzysztofCwalina commented on #5857
@adamsitnik, thanks one more time for the PR! I will close this issue now.

As to Cast, @jkotas would like it to be unsafe. The reason is that it's only efficient if the data is aligned.
AsBytes():Span<byte> could-be/is always efficient, and so it could be safe. I think it would be great if you opened a discussion about it, we would all agree on the APIs, and then do the PR.

As to enumerators, I

[2016-09-13 15:26] #5857 closed

[2016-09-13 15:39] bencz commented on #659
I created an article in code project talking about the new back end of orangec compiler, We succeeded to compile and use the SQLITE with a C# project, and also we succeeded to compile an older version of a C compiler that David, creator of OrangeC developed.

http://www.codeproject.com/Articles/1128868/Compiling-your-C-code-to-NET

You can see the sqlite test project in this link:
https://github.c

[2016-09-13 16:00] kyulee1 opened #7160 "ARM64: Assertion failed '!"Non-store block node in Lowering""
Assert failure(PID 1832 [0x00000728], Thread: 444 [0x01bc]): Assertion failed '!"Non-store block node in Lowering"' in 'DomainBoundILStubClass:IL_STUB_PInvoke(double,double,double,double,double,double,double,double,struct):struct' (IL size 110)

    File: e:\github\coreclr\src\jit\lowerarm64.cpp Line: 529

There are many tests failing due to this. One of them is:
JIT\Directed\StructABI\StructABI

[2016-09-13 16:22] BruceForstall commented on #2422
This test was deleted.

[2016-09-13 16:22] #2422 closed

[2016-09-13 16:22] vancem opened #7161 "List<T>.AddRange should not allocate a temporary array to add the range if items."
List<T>'s AddRange method immediately defers to List<T>.InsertRange which has the following code

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Collections/Generic/List.cs#L695

It has a special case if the passed IEnumerable is an ICollection, so that it can determine how many things will be added and do an EnsureCapacity so there will only be at most one resize operation.

[2016-09-13 16:27] BruceForstall commented on #2421
Test was deleted on 12/23/2015

[2016-09-13 16:27] #2421 closed

[2016-09-13 16:33] BruceForstall commented on #2419
Actual tests:

JIT\Methodical\Arrays\misc\_il_reladdress\_il_reladdress.cmd
JIT\Methodical\Arrays\misc\_il_dbgaddress\_il_dbgaddress.cmd

[2016-09-13 16:34] BruceForstall commented on #2419
These tests pass for me.

[2016-09-13 16:34] #2419 closed

[2016-09-13 16:35] adiaaida commented on #7110
@RussKeldorph

[2016-09-13 16:35] jkotas commented on #7161
This was proposed in https://github.com/dotnet/coreclr/pull/6892 .

cc @jamesqo

[2016-09-13 16:35] BruceForstall commented on #2418
These all pass for me

[2016-09-13 16:35] #2418 closed

[2016-09-13 16:36] BruceForstall commented on #2415
These all pass.

[2016-09-13 16:36] #2415 closed

[2016-09-13 16:40] BruceForstall commented on #2410
Actual tests:

JIT\Methodical\Boxing\misc\_dbgconcurgc_il\_dbgconcurgc_il.cmd
JIT\Methodical\Boxing\misc\_relconcurgc_il\_relconcurgc_il.cmd

[2016-09-13 16:40] BruceForstall commented on #2410
Tests pass.

[2016-09-13 16:40] #2410 closed

[2016-09-13 16:41] BruceForstall commented on #2409
Test passes.

[2016-09-13 16:41] #2409 closed

[2016-09-13 16:49] vancem commented on #7161
Jan, given that two independent people ran into this, and the effect can be large (if you are adding a large range), it seems worth fixing.

My suggestion is simply to replace the copying into an array and that from that array with an enumeration of the range setting the target _items list as you go.

Yes, under races the behavior may be different, but I don't think that is the bar (the previous c

[2016-09-13 17:01] BruceForstall commented on #2406
The 'arglist' tests fail because they use varargs, which is not supported in .NET Core.

The only other test failure is:
JIT\Regression\Dev11\External\dev11_239804\ShowLocallocAlignment\ShowLocallocAlignment.cmd

[2016-09-13 17:13] jkotas commented on #7161
Sounds good to me.

[2016-09-13 17:15] jkotas commented on #7161
@jamesqo Could you please reopen the PR with the change?

[2016-09-13 17:29] kyulee1 commented on #7038
This is another instance in System.Collections.Concurrent.ConcurrentQueue`1[__Canon][System.__Canon]:GetHeadTailPositions(byref,byref,byref,byref):this of cscbench.

[code]

[2016-09-13 17:29] BruceForstall opened #7163 "x86: ShowLocallocAlignment test failure"
test:
JIT\Regression\Dev11\External\dev11_239804\ShowLocallocAlignment\ShowLocallocAlignment.cmd

results:
Address1: Misaligned (0000000002abde04)
Address2: Misaligned (0000000002abde04)

Test failed.
Expected: 100
Actual: 101

[2016-09-13 17:30] BruceForstall commented on #2406
ShowLocallocAlignment covered by #7163

[2016-09-13 17:30] BruceForstall commented on #2406
This bug is no longer needed

[2016-09-13 17:30] #2406 closed

[2016-09-13 17:54] janvorli commented on #917
@leobuskin yes, the x64 is enough.

[2016-09-13 17:55] #7091 closed

[2016-09-13 18:15] pgavlin commented on #7038
I think it's pretty clear that the correct long-term solution is to expose all of the control flow and model the `EFLAGS` register in some reasonably first-class manner. In the short term, it sounds like we have two reasonable proposals:
- Mark the comparison as contained and do not expose the internal control flow to LSRA etc. This has the unfortunate side effect of requiring at worst four values

[2016-09-13 18:17] pgavlin commented on #7038
(perhaps we would also want additional comparison operators with this approach: `GT_GT_HI`, etc.)

[2016-09-13 18:26] BruceForstall commented on #7144
For the first case, the actual tests are:

JIT\Methodical\Invoke\fptr\_il_relinstftn\_il_relinstftn.cmd
JIT\Methodical\Invoke\fptr\_il_relinstftn_t\_il_relinstftn_t.cmd

[2016-09-13 18:29] BruceForstall commented on #7144
Here is the interesting part of the call stack:
[code]

The issue is we are inserting a GT_RELOAD of a calli target:
[code]
In this LIR, it is the 't66' argument to the call. LIR::Use::ReplaceWith notices that the user is a call and calls fgFixupArgTabEntryPtr, but the calli target is not in that table, only the putarg_reg are there.

[2016-09-13 18:31] BruceForstall commented on #7144
@pgavlin @sivarv Can you take a look? It looks like maybe this is a case where LIR::Use::ReplaceWith needs to be a little smarter when replacing a call argument list use.

[2016-09-13 18:32] BruceForstall commented on #7144
Note that this only repros in CHK builds; DBG builds do less inlining from the DBG System.Private.CoreLib.dll and the issue apparently isn't triggered.

[2016-09-13 18:36] pgavlin commented on #7144
Yeah, this should be an easy fix. I'll take this one.

[2016-09-13 18:43] sivarv opened #7167 "RyuJIT x86: JitStressRegs=1 or 8 needs to ensure that the candidate set has minimum 2 regs"
JitStress=2 and JitStressRegs=1 or 8
JIT\SIMD\BitwiseOperations_r\BitwiseOperations_r.cmd

Assertion failed '(farthestRefPhysRegRecord != nullptr) && (farthestLocation > refLocation || refPosition->isFixedRegRef)'

Under these stress modes, candidate set is limited to callee saved regs. If the IR has byte operation nodes, src candidates of its operand nodes could be limited to bytable registers {

[2016-09-13 18:44] pgavlin commented on #7038
@BruceForstall:

I think that this is correct, but I'm not certain: we do run flowgraph optimization after lowering, but IIRC we don't do anything that would invalidate the necessary layout. Seems like a bit of a risk, though.

[2016-09-13 18:47] mikedn commented on #7038
Hmm, I was thinking of treating EFLAGS like some kind of global variable and adding GT_COND, GT_SET_COND, GT_CMP and GT_JCC. Sounds a bit crazy I suppose :)

It seems to me that lowering to `jtrue(ne(cmp(lx, ly), 0)` would be better as it gives LSRA freedom to insert reloads between compare and jump. And the generated code isn't as bad as I thought initially, after all it trades a `jcc` for a `set

[2016-09-13 19:07] pgavlin commented on #7038
This isn't too far off from some of what I was considering.

Is the `GT_NE` there just to force the result of the `cmp` into a register? If so, I wonder if there's another way to achieve the same effect without adding the `GT_NE` node. @sivarv @CarolEidt any suggestions?

It is probably rather intrusive, yes: liveness, flow graph optimization, etc. would need to be updated. Perhaps a hybrid of thi

[2016-09-13 19:07] mikedn commented on #7038
So if we look at the assembly generated in this case:
[code]
What stops us from changing it to
[code]
which is better than what JIT32 produces (ignoring compare operands containment issues)?

[2016-09-13 19:48] kyulee1 opened #7168 "ARM64: Bad code gen on 1 % 1"
[code]

With optimization, this prints -1 instead of 0.
This is a root-cause for https://github.com/dotnet/corefx/issues/9631.

[2016-09-13 19:53] BruceForstall commented on #7090
I don't see this assert. I do see a crash:
[code]

[2016-09-13 21:09] adiaaida opened #7171 "Formatting: create tool to automate only running on files modified in a branch"
Tool should do some sort of git diff --name-only to get the filenames of modified files and pipe them to jit-format.

[2016-09-13 21:10] jashook commented on #7171
This seems better opened in jit-utils correct?

[2016-09-13 21:18] adiaaida commented on #7171
Depends on if it's part of the tool or a wrapper to the tool?

[2016-09-13 21:19] jashook commented on #7171
I see, that is confusing :(

[2016-09-13 21:20] kyulee1 opened #7173 "x86: noway_assert(compiler->opts.compDbgCode) in codegenlegacy.cpp line 11374"
This happens in cscbench with x86 legacy backend.

[2016-09-13 21:21] adiaaida commented on #7171
I opened it here. If it turns out we want it as part of the tool, I'll close this one and open it there, but this is likely to be put off until after the remaining x86 work

[2016-09-13 21:38] jamesqo commented on #7161
@jkotas Gladly. Just one thing though-- if I understand correctly, what's being proposed is to change the code to

[code]

Won't this be slower, actually, than what we currently have? Although we are no longer allocating an array or copying twice, we are now making 2 virtual method calls for every element in the collection (`MoveNext` and `Current`) whereas before, we were only making 1 total (`Co

[2016-09-13 22:00] jkotas commented on #7161
I have not realized that your proposal and @vancem proposal are different.

@vancem Do you have opinion on whether to use CopyTo (faster, more risky) or enumerator (slower, less risky) here?

[2016-09-13 22:00] RussKeldorph commented on #7110
We should do the expedient thing to get it correct now and track the single-helper option as an optimization issue.

[2016-09-13 22:11] erozenfeld commented on #7110
SGTM as long as we have an issue opened to track that

[2016-09-13 22:38] russellhadley commented on #6356
Closing.  Reopen if reoccurs.

[2016-09-13 22:38] #6356 closed

[2016-09-13 22:42] vancem commented on #7161
I see now that there is a tradeoff involved.

My original suggestion was in fact to enumerate the IEnumerable representing the range which does mean doing a move-next and current per element.    This eliminates the need for a temporary buffer.

@jamesqo's suggestion was to call the range's 'CopyTo directly on the underlying array for the List<T>.   This also eliminates the need for temporary, and

[2016-09-13 23:02] KrzysztofCwalina commented on #7161
Alternatively, we would only do the optimization (CopyTo) if the inserted IEnumerable<T> is one of known collections (i.e. not malicious).
Otherwise, we for each.

[2016-09-13 23:19] vancem commented on #7161
@KrzysztofCwalina  what do you think is the right choice?   Certainly just trusting the CopyTo is easiest (it is not clear to me which collections to opt-in, and if the list is larger than 3 it is probably a poor perf tradeoff).    So unless there are objections, I think we should go with that.

Any objections?

[2016-09-13 23:26] KrzysztofCwalina commented on #7161
I have no strong opinion what's the right choice here. Trusting CopyTo will definitely be the easiest and the fastest, but probably not the most defensive from security and correctness perspective. Having said that, maybe we are not trying to be defensive about malicious code running in the same process/domain anymore.

[2016-09-14 03:10] pgavlin commented on #7038
@mikedn: I experimented with adding a new node, `GT_JCC`, on top of the changes in your PR: https://github.com/mikedn/coreclr/compare/x86-cmp-long...pgavlin:x86-cmp-long

With this approach, RyuJIT generates the following for the long compare in the test program you posted:

[code]

This is identical to the code generated by JIT32 with the exception of the register allocations. The full disassembl

[2016-09-14 06:47] mikedn commented on #7038
Yes.

We should be able to modify `TreeNodeInfoInit` to not clear destination count of the compare when handling `GT_JTRUE`. And then we probably need to generate a `test` as part of `GT_JTRUE` codegen.

But I played a bit more with this approach and realized that its CQ isn't great. The examples I posted above are ok but that's for unsigned compares. For signed compares we need two `setcc` instea

[2016-09-14 09:06] mattwarren commented on #7083
@vancem thanks for taking the time to answer my query so comprehensively! There's a lot of trade-offs I hadn't even considered, particularly around the impact on `fixed` code.

It's nice to know that someone has been thinking about this and that it may, someday, make it's way into the CLR

Yeah I can image, for fun I modified a version of the CoreCLR source, so that `String` had the following layo

[2016-09-14 09:51] evincarofautumn commented on #7083
A systemic change like this has to be done *very* incrementally to retain any ability to debug the inevitable failures. It’s a difficult and disruptive feature to implement. But, if I might be so bold, it’s our responsibility as systems programmers and programming language implementors to do exactly this kind of hard work for the sake of others. I can’t name an industry in which an improvement of

[2016-09-14 13:35] Dmitri-Botcharnikov opened #7184 "[Linux] [SOS.NETCore] Path.GetFileName error for Windows-style path on Linux"
In SOS.SymbolReader we obtain path to PDB file form assembly's DebugDirectoryEntry. If however assembly was built on Windows machine (by dotnet cli toolchain) such entry contains full Windows-style path. When we're trying to extract file name from this full path on Linux machine during debugging session the `Path.GetFileName` returns the same full path, so when combined with directory name of asse

[2016-09-14 14:26] HamedFathi commented on #7154
Can anyone explain about error ?
This is a bug or a problem comes from my code?
If it is a bug Is there an alternative way ?

[2016-09-14 14:34] jkotas commented on #7083
Absolutely agree. A very good first step would be to design and implement alternative expansion of `fixed` statement for strings that is compatible with this scheme.

[2016-09-14 14:54] #6844 closed

[2016-09-14 15:29] HamedFathi opened #7186 "An unhandled exception of type 'System.IO.FileNotFoundException' occurred in System.Private.CoreLib.ni.dll"
based on this [issue](https://github.com/dotnet/coreclr/issues/7154)
I tried another way for loading assembly so I wrote a snippet code for loading assembly

[code]

error message
[code]

![untitled](https://cloud.githubusercontent.com/assets/8418700/18518447/4a9fb002-7ab5-11e6-9211-6966287d3561.png)

Microsoft .NET Core Shared Framework Host

  Version  : 1.0.1
  Build    : cee57bf6c981237d80aa16

[2016-09-14 15:41] gkhanna79 commented on #7154
Based upon the exception details above, you have the following message indicating the problem:

`System.BadImageFormatException: Could not load file or assembly 'System.Runtime, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. Reference assemblies should not be loaded for execution.  They can only be loaded in the Reflection-only loader context`.

You

[2016-09-14 16:07] kyulee1 commented on #3386
We already have ilasm/ildasm packages available. It's a matter of adding these dependencies to test harness like #7176. Since @wtgodbe is working on the infra change for the package consumption in a different way, it would make sense to integrate such package dependencies along with coreclr one.

[2016-09-14 16:49] pgavlin commented on #7038
This is how I fell as well. FWIW, it probably wouldn't be too much work to do some basic validation of flags usage by marking nodes that produce and consume flags. Given the transformations done by the backend we could probably get away with something as simple as "if an instruction produces flags, those flags must be consumed by some successive instruction" (i.e. there are no unused defs of EFLAG

[2016-09-14 16:52] HamedFathi commented on #7154
@gkhanna79 main error is first one , when I saw that error I copied that dll  by hand and error changed. I think when I use dotnet publish all dependency shuld be exist in publish folder but  System.Runtime does not exist. I think you can reproduce problem with my snippet code. anyway Can you guide me about loading unreferenced assembly in specific folder without any problem ?

[2016-09-14 16:59] mikedn commented on #7038
Let's do this. IMO there should be 2 separate commits/PRs, one for `GT_JCC` and one for compare lowering since they're more or less independent.

[2016-09-14 17:05] pgavlin commented on #7038
SGTM. I'll move the changes that are independent of `GT_JCC` into a single commit and post a PR with 1 commit each for the compare decomposition and the introduction of `GT_JCC`.

[2016-09-14 17:27] vancem commented on #7161
OK, this is the last call.    The plan of record is to simply remove the array allocation and copy from the InsertRange function (so it is like the constructor).   It is pretty much a 3 line change, which is guaranteed to be faster in all cases.    If someone does not beat me to it, I will prepare such a pull request today or tomorow, but I am happy if someone beats me to it.

[2016-09-14 17:44] vancem commented on #7083
Yes, the first steps are to fix the string abstraction so that it is 'complete' (that is there is only a modest amount of code that depends on its layout.  That includes dealing with a scheme for dealing with 'fixed' on strings and fixing up runtime/class library code to use the new abstractions.   Note that this work does NOT break anything and can be done incrementally.   After that abstraction

[2016-09-14 18:01] KrzysztofCwalina commented on #7161
sounds good to me

[2016-09-14 18:47] vancem commented on #6632
Including the stack trace

### 00007FFFFFFF4FE0 00007FFF7C9E712B System.Diagnostics.Tracing.EventWrittenEventArgs.get_Level()
00007FFFFFFF4FF0 00007FFF7D038929 System.Fabric.Common.Tracing.NativeEventListener.OnEventWritten(System.Diagnostics.Tracing.EventWrittenEventArgs)
00007FFFFFFF50A0 00007FFF7C92ADF3 System.Diagnostics.Tracing.EventSource.WriteStringToAllListeners(System.String, System.Strin

[2016-09-14 18:54] gkhanna79 commented on #7186
To load the assembly, it must be available in the application's transitive closure. Getting an AssemblyName from a physical path has no bearing for assembly load resolutions.

[2016-09-14 18:54] gkhanna79 commented on #7154
System.Runtime is part of Microsoft.NETCore.App framework and present in the location where .NET Core is installed. Thus, it is not expected to be published by dotnet to the publish folder. Are you suggesting that when using VS, System.Runtime.dll is published in your app folder? @brthor is this expected?

For https://github.com/dotnet/coreclr/issues/7186, I responded on that issue.

[2016-09-14 18:59] brthor commented on #7154
I wouldn't expect System.Runtime to be present in your output folder in any case.

@HamedFathi perhaps VS is using `dotnet build` are you able get it working with `dotnet build` rather than `publish`?

As for System.Runtime, won't this already be loaded when your app is running? Can you just reflect on one of it's types to get it's Assembly object?

[2016-09-14 19:12] rbingham commented on #4409
Is there any update on this? I have been using the dotnet-cli package provided by @abrodersen for awhile now and things seem to be working correctly.

[2016-09-14 19:12] vancem commented on #6632
I believe I understand the problem.   The repro is that you need to have an eventListener that calls EventWrittenEventArgs.Level and have a bad EventSource that will be caught when the EventSource starts up.    The EventSource tries to log this error but the EventSource is not quite set up enough for the EventWrittenEventArgs.Level callback to work (in particular m_eventData is null)

I believe th

[2016-09-14 19:26] #4379 closed

[2016-09-14 19:37] cmckinsey opened #7190 "Add missing "Computer Language Benchmarks Game" benchmarks"
We are missing these benchmarks knucleotide, regexdna, revcomp in the JIT benchmark suite. Please add.

http://benchmarksgame.alioth.debian.org/

[2016-09-14 19:49] benaadams commented on #7190
Also contribute updates back? http://benchmarksgame.alioth.debian.org/play.html

Not sure their implementations are the best

[2016-09-14 20:24] adiaaida opened #7192 "RyuJIT x86: Optimize rotation of a long value by variable amount"
Currently, we will not generate the rotate, and will instead generate two shift helper calls. We want to optimize this by creating a rotate helper so that we only have 1 helper call

[2016-09-14 20:25] adiaaida commented on #7110
closed by #7187.
Opened #7192 to track optimizing this case.

[2016-09-14 20:25] #7110 closed

[2016-09-14 20:42] sivarv commented on #7151
Though long comparison requires 4 regs, Jitstress is not supposed to constrain such that which makes reg allocation not possible.  Closing this issue as issue #7087 tracks these and other failures for similar reason.

[2016-09-14 20:42] #7151 closed

[2016-09-14 21:01] jamesqo commented on #7161
I have reopened my pull request at #6892.

[2016-09-14 22:14] benaadams commented on #7083
A slight wrinkle with `fixed` expansion is: if a 8 bit string; was changed to a 16 bit string during the time when it was `fixed` (by writing to the high bytes) it would need reallocating as a 16 bit string when leaving the fixed statement.

[2016-09-14 22:19] JosephTremoulet commented on #6642
I'm seeing this again, on a machine with SDK v10.0.14393.0, on which _MSC_FULL_VER is 190024213.  I don't know what update brought me to that _MSC_FULL_VER; when I look at "Installed Updates" under VS 2015, I see "Visual Studio 2015 Update 3 (KB3022398)"/Version 14.0.25420 and "Update for Microsot Visual Studio 2015 (KB3165756)"/Version 14.0.25425.  VS Help > About reports "Version 14.0.25425.01 U

[2016-09-14 22:19] adiaaida commented on #6034
I am closing this issue based on #6686, and will be opening a new issue to track turning the PR tests on for all PRs.

[2016-09-14 22:19] #6034 closed

[2016-09-14 22:49] vancem commented on #7083
My expectation of how 'fixed' works is that it unconditionally copies the string data into an array of char and points it at that.   The original data is never modified.    You are not allowed to modify string data in using the pointer a 'fixed' statement gives you (thankfully).

[2016-09-14 23:08] sivarv commented on #7167
Closing this issue, as it is also getting tracked by single issue #7087.  The fundamental root cause for all these issues is the same.

[2016-09-14 23:08] #7167 closed

[2016-09-14 23:14] benaadams commented on #7083
You can currently. Obviously trouble lies that way if the string has ever been used as its flags such as `isAscii` which is lazily evalated would go out of sync; or has been passed to anything or is an embedded/interned string when it will all go to hell...

[2016-09-14 23:22] vinnyrom commented on #6642
You should use _MSC_FULL_VER <= 190024315.  Pre-release builds after that (July 19th) support C++14 constexpr.  24213 is a pre-release build from June 14th.

-Vinny

From: Joseph Tremoulet [mailto:notifications@github.com]
Sent: Wednesday, September 14, 2016 3:20 PM
To: dotnet/coreclr <coreclr@noreply.github.com>
Cc: Vinny Romano <vinnyrom@microsoft.com>; Mention <mention@noreply.github.com>
Subje

[2016-09-14 23:37] #7160 closed

[2016-09-14 23:40] #7038 closed

[2016-09-14 23:43] CarolEidt opened #7195 "ARM64: Assertion failed 'gtOper == GT_CNS_INT' in '_cpblk:main(ref):int'"
This occurs in the latest sources, but was not occurring prior to #7027. It was not fixed by PR #7188 which fixed some other failures due to that PR. This affects the following two tests:
JIT\Directed\PREFIX\volatile\1\cpblk\cpblk.cmd
JIT\opt\Inline\tests\UnsafeBlockCopy\UnsafeBlockCopy.cmd

[2016-09-14 23:45] CarolEidt opened #7196 "ARM64: Assert failure: (value != 0) && ((value & (value-1)) == 0)"
This occurs in the latest sources, but was not occurring prior to #7027. It was not fixed by PR #7188 which fixed some other failures due to that PR. This affects the following four tests:
JIT\Directed\perffix\primitivevt\mixed1_cs_do\mixed1_cs_do.cmd
JIT\Directed\perffix\primitivevt\mixed1_cs_ro\mixed1_cs_ro.cmd
JIT\Methodical\fp\exgen\10w5d_cs_do\10w5d_cs_do.cmd
JIT\Methodical\fp\exgen\10w5d_cs_

[2016-09-14 23:47] CarolEidt opened #7197 "ARM64: New test failures"
These tests fail with the latest sources, but were not failing prior to #7027. It was not fixed by PR #7188 which fixed some other failures due to that PR. This affects the following three tests (though I don't know for certain that they are caused by the same issue):
JIT\Generics\Fields\static_passing_class01\static_passing_class01.cmd
JIT\Generics\Fields\static_passing_struct01\static_passing_st

[2016-09-14 23:48] CarolEidt commented on #7160
I have opened issues #7195, #7196, and #7197 for the 9 remaining failures.

[2016-09-15 01:05] adiaaida opened #7200 "Start enforcing formatting in the jit"
After we format the sources again, we will be turning on the PR tests for formatting, which will enforce jit formatting.

See the [jit-format documentation](https://github.com/dotnet/jitutils/blob/master/doc/getstarted.md#formatting-jit-source) for how to run jit-format.

[2016-09-15 02:02] jamesqo commented on #7161
@vancem This can be closed since the PR was merged.

[2016-09-15 02:24] #7161 closed

[2016-09-15 05:21] HamedFathi commented on #7154
@brthor  I updated .NET Core to last version 1.0.1 and No problem now !!!
![untitled](https://cloud.githubusercontent.com/assets/8418700/18539122/f5c99b68-7b29-11e6-9493-6e94122c95ad.png)

Microsoft ROCK !!!
Thanks for all of you

[2016-09-15 05:22] #7154 closed

[2016-09-15 05:25] HamedFathi commented on #7186
@gkhanna79  thanks for your response

[2016-09-15 05:25] #7186 closed

[2016-09-15 06:23] danfma commented on #659
Hey @bencz, nice work with OrangeC but maybe this will not fit at this scenario because sometimes we really will want to consume the native library. Some libraries will have platform specific code that can't be compiled to .NET but I think you already know that! ;)

Although, maybe your approach can be used to generate the wrappers and to facilitate the integration of C++ code with C#, like a glue

[2016-09-15 09:30] KeyurRamoliya opened #7203 "Lost all ProjectTemplates and ItemTemplates"
First of all, Guide me for the correct repo if issue is not related to this repo.

After installing .Net Core 1.0.1(latest version), I lost my ProjectTemplates as well as ItemTemplates from the Visual Studio New Project and New Item wizard respectively.

For the solution, I had already tried all the process available on internet but still ProjectTemplates and ItemTemplates are not visible. I even

[2016-09-15 10:06] bencz commented on #659
Hi @danfma!
Thanks!!

Yeap, we know that... but, we can't do anything for this case... buuuut for code written in C ANSI, we are re-creating the entire RT of C in a dll, to make it more dynamic. :)
is exactly the idea, facilitate integration between the codes ... reduce as much as possible the number of pInvokes.. :)
One of the next steps will be to compile C++ code, I believe this will be difficu

[2016-09-15 15:31] adiaaida commented on #7200
@dotnet/jit-contrib, @dotnet/samsung FYI.

[2016-09-15 15:35] kyulee1 commented on #2306
We need a similar support that we did in PAL https://github.com/dotnet/coreclr/pull/1744

[2016-09-15 15:37] JosephTremoulet commented on #7054
I tracked down the implementations of `impInlineSpillLclRefs` and `impInlineSpillGlobEffects`.  It turns out the inliner used to have its own import loop, which didn't handle as many cases, and for which those methods were trimmed-down versions of `impSpillLclRefs` and `impSpillSideEffects`.  Now that the inliner shares the main import loop with the importer, it's using the full versions of those

[2016-09-15 15:37] #6642 closed

[2016-09-15 15:38] adiaaida commented on #6034
Opened #7200 to track enforcing formatting.

[2016-09-15 16:14] hughbe opened #7205 "CustomAttributeBuilder throws unknown runtime exception if a named field is const"
The following test demonstrates this:
[code]

See #7206

[2016-09-15 16:38] mikem8361 commented on #7115
PR #7149 fix this.

[2016-09-15 16:38] #7115 closed

[2016-09-15 16:51] vancem commented on #7083
While as you say, preventing the mutation of strings using the 'fixed' is not enforced, it is illegal (large parts of the system assume that strings are read-only. including the security system.      If we found anyone doing this (within or outside Microsoft), we would tell them to fix their code.

There is also a limit to what we will do for compatibility's sake.   Fixing legitimate uses of relat

[2016-09-15 16:56] benaadams commented on #7083
Seems fair :smile: And if you are doing it for speed you will likely change you code to work with the new way. Probably would want a string with a `byte*` ctor for stackalloc.

[2016-09-15 18:08] RussKeldorph commented on #2266
@stephentoub @mellinoe Has this been quiet because there have been no additional repros or because you guys have given up hope we'll make traction on it?

[2016-09-15 18:10] stephentoub commented on #2266
There have been additional repros.  It looks like we have multiple related issues.  e.g. I just logged one here yesterday:
https://github.com/dotnet/corefx/issues/4833#issuecomment-247228222

[2016-09-15 19:40] pgavlin opened #7210 "RyuJIT x86: lower long compares that are materialized into a register"
This is an optimization to decrease register pressure. See #7189 for more details.

[2016-09-15 20:30] lt72 commented on #5869
@mikem8361: can you please work on this one next and see if we can get it into 1.1 release?

[2016-09-15 20:32] #6901 closed

[2016-09-15 21:07] adamsitnik opened #7211 "Add Cast() and AsBytes() to Span and ReadOnlySpan"
This issue is [continuation of discussion that has started](https://github.com/dotnet/coreclr/issues/5857#issuecomment-246719466) in #5857

The initial implementation of Slices contains `Cast` method which allows to cast slice of one value type to slice of another value type. Most probably we all agree that this is a great feature. The question is how to limit it to keep not only usability but als

[2016-09-15 21:14] jkotas commented on #7211
My concern is that it is not no-portable to platforms that do not support misaligned memory access. For example, it won't work well to cast Span<byte> to Span<float> on ARM.

I think it is a good idea to have the API there for power users, but it should be in the non-portable/unsafe set – you have to know what you are doing and that it will work. The "unsafe" marker like you have suggested does no

[2016-09-15 21:34] KrzysztofCwalina commented on #7211
We could also add safe TryCast that succeeds for aligned casts.

[2016-09-15 22:08] janvorli commented on #7211
@KrzysztofCwalina it seems that whether the underlying memory is aligned or not is kind of "random", depending on from what the original span was created. So I am not sure how the TryCast would be used and how would a developer handle the case when this fails in a meaningful way.

[2016-09-16 00:55] #7094 closed

[2016-09-16 00:55] #7143 closed

[2016-09-16 01:22] ramarag commented on #3732
@noahfalk  please reassign this as appropriate

[2016-09-16 01:59] Innocence opened #7215 "install .NET Core 1.0.1 fail (tried SKIP_VSU_CHECK=1 already)"
.NET Core 1.0.1 - VS 2015 Tooling Preview 2

[2016-09-16 02:05] adiaaida opened #7216 "Add tests for shift cases not covered by current testing"
We need tests for the following cases:

Long LSH, RSH, RSZ by 0
Long LSH, RSH, RSZ by 64
Long RSH by 32

[2016-09-16 02:06] adiaaida opened #7217 "RyuJIT x86: Implement contained mem-op/reg-optional GT_LSH_HI and GT_RSH_LO"
For codgen we don't need sourceHi to be always in reg in case of GT_LSH_HI (because it could be moved from memory to targetReg if sourceHi is a contained mem-op). Similarly for GT_RSH_LO, sourceLo could be marked as contained memory-op. Even if not a memory-op, we could mark it as reg-optional.

[2016-09-16 02:11] #7144 closed

[2016-09-16 02:13] Innocence commented on #7215
[17F0:1544][2016-09-16T10:10:37]i001: Burn v3.10.3.3007, Windows v6.3 (Build 9600: Service Pack 0), path: C:\Users\Smilence\AppData\Local\Temp\{19D54499-7C1E-4592-9420-30C5609E3F8D}\.cr\DotNetCore.1.0.1-VS2015Tools.Preview2.0.2.exe
[17F0:1544][2016-09-16T10:10:37]i000: Initializing numeric variable 'CHECK_SETUP_BLOCKED' to value '1'
[17F0:1544][2016-09-16T10:10:37]i000: Initializing numeric variab

[2016-09-16 04:37] mikedn commented on #7210
I can work on this. The only "difficulty" here is to decide if we keep the current `setcc` based codegen (that will likely require adding `GT_SETCC`) or if we drop back to the JIT32 codegen that basically transformed these compares into `cmp(x, y) ? 1 : 0` and thus simply builds upon the existing compare lowering.

[code]

At the first look the `setcc` based implementation might be a waste of time

[2016-09-16 05:57] pkukol opened #7218 "Replace ad-hoc hash table being used for NODEBASH_STATS with a standard one"
The GenTree::RecordOperBashing() logic uses a custom / ad-hoc hash table; this should be replaced with one of the standard hash tables (it's a bit non-trivial due to memory allocation and re-entrancy issues).

[2016-09-16 11:39] benaadams commented on #7215
Might be better to raise this here https://github.com/dotnet/cli

[2016-09-16 15:06] pgavlin commented on #7210
Sounds good to me.

[2016-09-16 15:48] pgavlin opened #7219 "RyuJIT: missed opportunities for LICM"
The following program contains a number of hoistable expressions:

[code]

Layout optimization changes the flow graph for `M` to the following:

[code]

LICM then walks the loops from outer- to innermost and performs the following hoists:
1. The occurrence of `-searchBound` in `if (searchBound <= j)` is hoisted out of the outermost loop
2. The occurrence of `(i * i * i) + (j * j * j)` is hoisted o

[2016-09-16 15:51] pgavlin commented on #7219
(also, FYI @MattWhilden)

[2016-09-16 17:43] sivarv commented on #7087
This was fixed by PR https://github.com/dotnet/coreclr/pull/7194

[2016-09-16 17:43] #7087 closed

[2016-09-16 17:47] sivarv opened #7223 "RyuJIT x86: [JitStress=2][JistressRegs=1] GC\API\GC\AddMemoryPressureTest\AddMemoryPressure.exe test failure"
[code]

Just the setting JitStressRegs=1 or 8 alone is sufficient to repro this failure.

[2016-09-16 17:51] sivarv opened #7224 "RyuJIT x86: [JitStressRegs=1 or 2 or 8] JIT\Methodical\explicit\coverage\expl_byte_1_r\expl_byte_1_r.exe test failure"
[code]

[2016-09-16 17:54] sivarv opened #7225 "RyuJIT x86: [JitStress=2] JIT\Methodical\explicit\coverage\seq_gc_short_1_d\seq_gc_short_1_d.exe test failure"
[code]

[2016-09-16 17:57] sivarv opened #7226 "RyuJIT x86: [JitStress=2][JitStressRegs=1] JIT\Regression\CLR-x86-JIT\V2.0-Beta2\b425314\b425314.exe test fails by timing out."
This test also fails with the same symptom under JitStressRegs=8 alone.
This test also fails with the same symptom under JitStress=2 alone.

[code]

Looks to be related to issue https://github.com/dotnet/coreclr/issues/5403

[2016-09-16 18:01] sivarv opened #7227 "RyuJIT x86: [JitStress=2][JitStressRegs=1 or 3] Assertion failed '!op1->isContainedIntOrIImmed()' in codegenxarch.cpp Line 7279"
[code]

[2016-09-16 18:08] sivarv opened #7228 "RyuJIT x86: [JitStressRegs=8] JIT\Methodical\explicit\coverage\expl_byte_1_d\expl_byte_1_d.exe test failure"
There are 5 test failures below that need to verified while fixing.
Some of these tests also failed under JitStressRegs=1 or 3 or 4 alone.

[code]

There is another test failure that could be for the same reason

[code]

Here is another test in the same category that fails similarly under JitStressRegs=8

[code]

Another one

[code]

Another one

[code]

[2016-09-16 18:25] sivarv opened #7229 "RyuJIT x86: [JitStressRegs=8 or 4] GC\API\GC\RemoveMemoryPressureTest\RemoveMemoryPressureTest.exe test failure"
[code]

[2016-09-16 18:29] sivarv opened #7230 "RyuJIT x86: [JitStressRegs=1 or 4] JIT\Methodical\explicit\coverage\seq_gc_byte_1_r\seq_gc_byte_1_r.exe test failure"
[code]

[2016-09-16 18:45] TautvydasZilys opened #7231 ".NET Core caches windows runtime delegates too aggressively"
It seems that .NET Core manages to call wrong native function when a single native object implements several Windows Runtime delegate interfaces. Basically, the repro comes down to this:

IDL:

[code]

C++:

[code]

C#:

[code]

I could reproduce this on both desktop .NET and .NET Core, but it does not reproduce on .NET Native. It seems that .NET Core caches the delegates based on their IUnknown,

[2016-09-16 19:03] mellinoe commented on #7231
@yizhang82

[2016-09-16 19:50] #6168 closed

[2016-09-16 20:08] mikem8361 commented on #6727
This should be created in the debuggertests repo.

[2016-09-16 20:46] lt72 opened #7234 "Extend usage of optimized JIT helpers for memcpy/memove."
This work item is a follow up to PR #7198 for issue #7146.
Currently memmove and memcpy are #define'd (and #undef'ed) is a few places in the code base.
Addressing all usages of memcpy/memmove may require identifying or creating a central place where to create a definition for those methods that is eventually routed to the correct implementation.
Also, addressing all individual usages should be car

[2016-09-16 20:52] lt72 commented on #7069
@hanblee @janvorli @jankotas
hanblee found out that the suggested work around does not resolve the issue. Any other suggestions we could try?

[2016-09-16 20:54] sivarv opened #7235 "RyuJIT x86: [JitStress=2][JitStressRegs=4 or 8] JIT\jit64\opt\cse\hugeexpr1\hugeexpr1.exe test failure with OOM exception"
[code]

[2016-09-16 20:57] sivarv opened #7236 "RyuJIT x86: [JitStress=2][JitStressRegs=8] JIT\Methodical\unsafecsharp\_speed_dbgunsafe-4\_speed_dbgunsafe-4.exe test fails with IndexOutOfRange exception"
[code]

[2016-09-16 21:05] janvorli commented on #7069
The attributes are not enough. They don't prevent the compiler / linker to get rid of the exception handling info for ranges where the compiler doesn't see any throw statement. Even with regular `-O3` optimization without LTO.
The only thing I found working so far is to add a throw statement wrapped in an if with a condition being a volatile bool variable always set to false to a function that can

[2016-09-16 21:16] jkotas commented on #7069
Agree. The test should look like the hack that is used in the debugger code - https://github.com/dotnet/coreclr/blob/5ac6af932fe2a3f4b285b6dcc79010caf807ea9d/src/debug/shared/dbgtransportsession.cpp#L1144

[2016-09-16 21:39] janvorli commented on #7069
Right, that's a good example - in the test case, it would mean moving the *p = 1 into a separate function with `__attribute__(noinline)` `__attribute__(optnone)` and adding `if (p == NULL) { throw PAL_SEHException(); } before or after the assignment.

[2016-09-16 22:13] vkvenkat opened #7239 "Accessing element of byteVector in Seek leads to redundant SIMD codegen"
The Kestrel.Internal.Infrastructure.MemoryPoolIterator.Seek function in MemoryPoolIterator.cs:602 tries to access an element of a byte vector:

        public unsafe int Seek(
            ref Vector<byte> byte0Vector,
            ref Vector<byte> byte1Vector,
            ref Vector<byte> byte2Vector,
            ref MemoryPoolIterator limit)
        {
            ....
            var byte0 = byte0

[2016-09-16 22:19] vkvenkat opened #7240 "AVX/SSE transition penalties in CoreCLR & Kestrel on Windows/Ubuntu"
A significant number of AVX to SSE transitions can be attributed to libcoreclr.so/coreclr.dll (for Ubuntu/Windows) & libc (for Ubuntu). Also, a majority of SSE to AVX transitions can be noticed in the Microsoft.AspNetCore.Server.Kestrel.dll module on Ubuntu/Windows. JIT could expose the vzeroupper instruction, that could be used by developers to avoid penalties here. An existing issue, #5166 tread

[2016-09-16 23:55] rahku commented on #6066
GCInfo for the method testout1..cctor is not correct. For below excerpt of the method it is expected that
register X14 which become alive at 5c8 should remain alive atleast till offset 5d4 but it becomes dead prematurely at offset 5d0. This is causing managed heap to get corrupted.
10w5d_cs_d!testout1..cctor()+0x5a0 [e:\GithubRepo\coreclr\tests\src\JIT\Methodical\fp\exgen\10w5d.cs @ 9836]:
00007ff

[2016-09-16 23:55] rahku commented on #6066
assigning to JIT team

[2016-09-17 09:21] MaleDong opened #7243 "[Suggestion]: For Binary Files controlling: Add new functions to improve the speed and simpify programming"
Hello all:
It really makes me "head to the wall" if we wanna cope with binary files with the help of C# until now……：(

 Now you can image if we wanna do a download application in C#, we have to use MemoryStream/FileStream. However if we wanna do inserting/updating bytes into the file, we have to fetch some bytes from the file into a temporary one and then continue to do what we want... But if a fi

[2016-09-17 10:35] mikedn commented on #7243
If a file is large then you simply don't insert/delete byte into/from it. Inserting a single byte at offset 1 of a 1GB file requires you to copy 1GB worth of data, there's no magic around that. Any design that requires such insertion/deletion is simply a bad design and the framework has no reason to provide support for that.

I don't see why you need a MemoryStream for that. If the file is large t

[2016-09-17 10:53] MaleDong commented on #7243
@mikedn ：Yes, that's the problem——I couldn't agree with you any more on this:)

Certialy it seems that we cannot do inserting/deleting to a binary file with a huge size. And we cannot copy the whole rest bytes into the memory. This means it is hard if we wanna cope with bytes for a large file.

The reason why I hope this is that if we wanna add some specific symbol as the "head" for my specific fi

[2016-09-17 19:08] mikedn commented on #7243
No, I don't understand. As far as I can tell you're asking for something that can't be implemented efficiently and that isn't needed anyway. Databases can store terrabytes of data in binary files without requiring the ability to insert/delete stuff in the middle of the file.

I don't understand what file mapping has to do with "jump over some bytes and read next bytes". You can do the same thing w

[2016-09-17 20:47] giuliohome opened #7245 "error during standard build"
I've tried a few times but I'm stuck with the following error during the standard build process

[code]

[2016-09-17 23:40] MaleDong commented on #7243
However I don't need db at all... What I wanna do is just to directly controlling with a binary file with a huge amount.... Since MemoryStream and memory isn't suitable for me. So how can I cope with that?

I see. This is ONLY an example to prove that we can use something efficient to map our files into memory and write directly into the file. So we can also have something like Insert/Delete....

[2016-09-18 05:26] jkotas commented on #7211
Fixed by #7220

[2016-09-18 05:26] #7211 closed

[2016-09-18 05:55] mikedn commented on #7243
What part of "As far as I can tell you're asking for something that **can't be implemented efficiently** and that isn't needed anyway" wasn't clear?

[2016-09-18 06:43] davidfowl opened #7247 "Make Decimal.GetBits(decimal d, byte[])"
Would make it easier to write data to an existing buffer that way.

[2016-09-18 08:03] matthid commented on #7044
Here is the crash dump:

https://1drv.ms/u/s!Au9g-oXOAkMpi0A1xaiTuCPA8PAr

Sadly it is too big to attach it to github.

[2016-09-18 08:42] MaleDong commented on #7243
I see……However we really cannot find any other ways to do inserting/deleting bytes for a large file except for it that we have to save bytes into memory first?

[2016-09-18 18:10] jda808 commented on #658
Happening here as well.

coreclr versionator$ sw_vers
ProductName:	Mac OS X
ProductVersion:	10.11.6
BuildVersion:	15G1004

[2016-09-18 22:29] bartdesmet opened #7248 "Expose Type.GetTypeFromHandleUnsafe from model.xml"
See https://github.com/dotnet/corefx/pull/11782 for a discussion with @jkotas on the need for this when testing IL generation in expression tree compilation.

In particular, the `DynamicMethod`'s use of the `SignatureHelper` leverages `ELEMENT_TYPE_INTERNAL` to store references to types in the current address space (see `InternalAddRuntimeType`). To decode these back to `Type` instances for use in

[2016-09-19 04:26] davidfowl opened #7251 "Add Guid.GetBytes(byte[])"
Today the supported way to get the `byte[]` representation of a guid is to use ToByteArray() https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Guid.cs#L893, which allocates a byte[]. Instead it would be great if there was an overload that could write into an existing `byte[]`

[2016-09-19 06:47] #7248 closed

[2016-09-19 07:30] bartdesmet opened #7253 "Add cheap/fast path for MethodBase.Invoke for use in expression interpreter"
The expression interpreter uses `Invoke(object, object[])` on `MethodBase` when interpreting `MethodCallExpression`, `NewExpression`, etc. One place is [here](https://github.com/dotnet/corefx/commit/4b62c0beb421c5b1b150f812dc56050d7ba124c8#diff-245c1ae6ca1ef7751f1f96ae568ffda1R337), in the context of a commit to avoid array copies.

The current approach suffers from a few limitations. Culprits are

[2016-09-19 12:04] mikedn commented on #3408
The command line is simply `crossgen System.Private.CoreLib.dll` (it was mscorlib.dll before). The 6.8 seconds result was obtained on a Haswell i5-4440 (6 MB cache, 3.10 GHz), 8 GB RAM and Windows 10 x64.

I can try later today various things, let me know what you have in mind. For now I can say that the 6.8 seconds persists so there weren't any positive or negative changes since I reported this.

[2016-09-19 12:04] mikedn commented on #7251
`Guid.GetBytes(Span<byte>)`?

[2016-09-19 15:00] JosephTremoulet commented on #7219
Because of the `if (k <= searchBound)` guarding the innermost loop, optHoistLoopCode doesn't know that the `i * i * i` there will execute on every iteration of the middle loop.  Ideally we'd recognize that the test there must always succeed because `searchBound` must be non-negative (because of the outermost `if`), but even so, doing that is assertion prop's job and assertion prop runs after loop

[2016-09-19 15:39] CarolEidt opened #7254 "JIT Throughput: Don't do resolution when unnecessary"
During register allocation, we should keep track of whether any variables have been spilled or moved to a different register. If not, we can skip `LinearScan::resolveEdges()`. Also, if there are no critical edges in the method, we can skip the first loop in that method that calls `handleOutgoingCriticalEdges()`.