[2019-02-20 21:06] benaadams commented on #18542
It would be worse if ASP.NET Core used `.ConfigureAwait` anywhere; which they don't 😅  As that's a further struct wrapper on top.

[2019-02-20 21:29] janvorli commented on #22242
Ok, could you please download the LLDB SOS plugin tarball that I've built for you from https://1drv.ms/u/s!AkLV4wRkyHYhxSPoQdBFDots4Xbr, then untar it to any location you want and then in the current LLDB session run
[code]
where the /full/path/to/ is the directory where you have untarred the tarball with the SOS plugin?

This plugin allows us to get some details on the managed code where currentl

[2019-02-20 22:05] AndyAyersMS commented on #20602
This test hasn't failed recently.

[2019-02-20 22:06] AndyAyersMS commented on #22401
I'll take a look.

[2019-02-20 22:14] filipnavara commented on #21995
Not sure what is going on, but I keep hitting this in CI now. Exact same symptoms, same build configuration ("Ubuntu x64 Checked CoreFX Tests"). My guess is that the CoreFX tests still using the stale snapshot and didn't pick-up https://github.com/dotnet/corefx/pull/34645, right? If that's the case, is there something that could be done about it until we get up-to-date CoreFX tests (https://github

[2019-02-20 22:28] BaronKiko commented on #22722
I don't want to use Window error reporting because:
- To enable it each user need to mess with the registry which most people just aren't comfortable doing.
- We would have to sign our application which we don't currently do and see no reason to do so.
- It only works on windows, defeating the whole point of using core (saying that for our case if windows allowed 4kb pages in the first place non o

[2019-02-20 22:43] RussKeldorph commented on #22709
Fixed by #22696

[2019-02-20 22:43] #22709 closed

[2019-02-20 22:53] RussKeldorph commented on #22722
@dotnet/dotnet-diag for suggestions

[2019-02-20 23:13] tarekgh commented on #22719
I am confused now, would the tests usually be excluded using corefx.issues.json? or would be excluded in corefx_(linux\windows)_test_exclusions.txt? or both?

that is really very hard to manage.

I hope @ViktorHofer changes will address all of this.

[2019-02-20 23:17] dotnet-mc-bot opened #22724 "Test failure: baseservices_exceptions._WindowsEventLog_WindowsEventLog_WindowsEventLog_/_WindowsEventLog_WindowsEventLog_WindowsEventLog_cmd fails on Windows Nano"
Opened on behalf of @RussKeldorph

The test `baseservices_exceptions._WindowsEventLog_WindowsEventLog_WindowsEventLog_/_WindowsEventLog_WindowsEventLog_WindowsEventLog_cmd` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190220.71 (Core Tests)
Failing configurations:
- Windows.10.Nano.Amd64-x64
  -
  -

[2019-02-20 23:20] RussKeldorph commented on #22724
Mostly duplicate of #20023

[2019-02-20 23:20] #22724 closed

[2019-02-20 23:22] #15719 closed

[2019-02-20 23:24] sandreenko commented on #22719
Yes.

I think the best available description is this comment https://github.com/dotnet/coreclr/pull/22358#issuecomment-460403667 from @jkotas :

the first uses corefx.issues.json, the second uses special files for arm/arm64 (other platform failures can't be excluded there). I do not have full information to explain why it was done that way. I believe there is a problem that XUnit is a managed appl

[2019-02-20 23:27] dotnet-mc-bot opened #22726 "Test failure: Interop_NativeLibrary._NativeLibraryTests_NativeLibraryTests_/_NativeLibraryTests_NativeLibraryTests_cmd fails on WinNano and Alpine3.8"
Opened on behalf of @RussKeldorph

The test `Interop_NativeLibrary._NativeLibraryTests_NativeLibraryTests_/_NativeLibraryTests_NativeLibraryTests_cmd` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190220.71 (Core Tests)
Failing configurations:
- Windows.10.Nano.Amd64-x64
  -
  -

[2019-02-20 23:28] AndyAyersMS commented on #22401
Failing test is returning a Vector3 from a native method. Modifying the test shows the highest float in the vector3 gets lost:
[code]
It is ok in native code and bad back in user code. So the issue is in the stub. The Vector3 is returned from native code in an xmm0, xmm1 pair.

I think the issue is that in the stub, JitStressRegs inserts a copy of xmm0, right after a PInvoke call, before we've had

[2019-02-20 23:28] tarekgh commented on #22719
I think all tests excluded in corefx.issues.json should be excluded in all platforms runs too and then corefx_(linux\windows)_test_exclusions.txt should exclude the platform specific tests. Looks COMPLUS_stress_modes runs is not looking at corefx.issues.json at all.

[2019-02-20 23:30] RussKeldorph commented on #22726
Also fails on Alpine3.8

[2019-02-20 23:30] sandreenko commented on #22719
cc @jashook

[2019-02-20 23:35] jkotas commented on #22719
The system (2) is the older system. The system (1) was invented to address the reliability problems of system (2).

That may help with the flakiness a bit, but it won't make the CoreFX legs reliable. The real fix to make the CoreFX legs reliable is to get rid of the system (2) and switch all runs to be on system (1).

[2019-02-20 23:36] dotnet-mc-bot opened #22727 "Test failure: JIT_opt._Tailcall_TailcallVerifyWithPrefix_TailcallVerifyWithPrefix_/_Tailcall_TailcallVerifyWithPrefix_TailcallVerifyWithPrefix_cmd fails on Win/ARM64"
Opened on behalf of @RussKeldorph

The test `JIT_opt._Tailcall_TailcallVerifyWithPrefix_TailcallVerifyWithPrefix_/_Tailcall_TailcallVerifyWithPrefix_TailcallVerifyWithPrefix_cmd` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190220.71 (Core Tests)
Failing configurations:
- Windows.10.Arm64-arm
  -

[2019-02-20 23:39] filipnavara commented on #22722
I kinda started writing a long follow-up before I noticed this sentence... Can you elaborate on why 64Kb pages are a problem for you? How would 4Kb pages help you? Are you trying to create some guard page scheme?

I will post my original follow-up anyway in case someone else stumbles upon it:

[2019-02-20 23:42] AlekseyTs opened #22728 "An invocation of a "non-virtual" delegate to a default interface implementation calls the method virtually"
Compile and run the following code:
[code]

Observed output:
[code]

Expected output:
[code]

IL looks like this:
[code]

[2019-02-20 23:44] AlekseyTs commented on #22728
Here is another scenario:
[code]

      Expected:
[code]

      Actual:
[code]

[2019-02-20 23:45] dotnet-mc-bot opened #22729 "Test failure: tracing_runtimeeventsource._runtimeeventsource_runtimeeventsource_/_runtimeeventsource_runtimeeventsource_cmd failing on Win7"
Opened on behalf of @RussKeldorph

The test `tracing_runtimeeventsource._runtimeeventsource_runtimeeventsource_/_runtimeeventsource_runtimeeventsource_cmd` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190220.71 (Core Tests)
Failing configurations:
- Windows.7.Amd64-x64
  -
- Windows.7.Amd64-x86
  -

[2019-02-20 23:49] RussKeldorph commented on #21796
_NativeCallingManaged_NativeCallingManaged_NativeCallingManaged_cmd is failing similarly

[2019-02-20 23:51] filipnavara commented on #22722
Agreed. If the documentation is wrong it should be fixed. Note that the documentation is hosted on GitHub, so issues/PRs can be submitted for it.

[2019-02-21 00:07] AndyAyersMS commented on #22401
Wonder if this is the bug (`CodeGen::genMultiRegCallStoreToLocal`):

https://github.com/dotnet/coreclr/blob/fae2a56cd032d9b68c58fd4dc960160b7013842a/src/jit/codegenxarch.cpp#L2054-L2067

Here `targetReg` is where we want the result of a multi-reg returning call to end up, and `reg0` and `reg1` are the registers it is returned in. So in this case, XMM15, XMM0, and XMM1.

Thus we generate `vshufpd

[2019-02-21 00:20] AndyAyersMS commented on #22401
Seems like that is the bug. With a minor fix to logic we now have
[code]
and all is well.

Will start working on a PR.

[2019-02-21 00:43] briansull commented on #22436
PR #22731 fixes this

[2019-02-21 00:58] briansull commented on #22330
@AndyAyersMS @CarolEidt -  I haven't yet investigated this issue on Linux

[2019-02-21 01:08] BaronKiko commented on #22722
To start the reason all this is needed is because we are writing a switch emulator called Ryujinx (https://github.com/Ryujinx/Ryujinx)
So your point here kinda sums of the whole situation:

This basically is kernel code. At least it's emulating one. We want to be able to allocate pages but if the game accesses an unmapped page we want to capture it. As we are emulating switch games it's very rare

[2019-02-21 01:17] BaronKiko commented on #22722
Thinking about it. I should really ask.
Is it going to take significant dev time to add the flag into core? If not then I see no reason not to add it. It's totally optional, disabled by default, increases compatibility with porting from framework and lets you do things you currently just can't do in core but can in other languages and variants of .net.

[2019-02-21 02:30] AndyAyersMS commented on #20260
Not quite. Still hit these cases (~4 methods in all, with overloads)
[code]

[2019-02-21 02:34] AndyAyersMS commented on #20260
Other than that all the normal jit-diff fx assemblies run w/o assert on arm64, and all assemblies are assert free for jit-diffs crossgen.

[2019-02-21 03:45] cshung commented on #22722
If you only care about running on Windows - you might be able to "handle" your EXCEPTION_ACCESS_VIOLATION by registering your own [VectoredExceptionHandler](https://docs.microsoft.com/en-us/windows/desktop/api/winnt/nc-winnt-pvectored_exception_handler).

You need to make sure you:
1) Call the [AddVectoredExceptionHandler()](https://msdn.microsoft.com/en-us/library/windows/desktop/ms679274%28v=vs.

[2019-02-21 04:31] BaronKiko commented on #22722
That does sound like a total hack. I doubt it will be accepted on released code but I will mess around with it tomorrow anyway because it just seems interesting. I would still like a proper solution.
Thank you.

[2019-02-21 05:32] dotnet-mc-bot opened #22739 "Test failure: GC_Scenarios._SingLinkList_singlinkstay_singlinkstay_/_SingLinkList_singlinkstay_singlinkstay_sh"
Opened on behalf of @AriNuer

The test `GC_Scenarios._SingLinkList_singlinkstay_singlinkstay_/_SingLinkList_singlinkstay_singlinkstay_sh` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190220.73 (Core Tests)
Failing configurations:
- Debian.9.Arm64-arm64
  -
Detais:
https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/type/t

[2019-02-21 05:55] dotnet-mc-bot opened #22740 "Test failure: Interop_COM._NETClients_Primitives_NETClientPrimitivesInALC_NETClientPrimitivesInALC_/_NETClients_Primitives_NETClientPrimitivesInALC_NETClientPrimitivesInALC_cmd"
Opened on behalf of @AriNuer

The test `Interop_COM._NETClients_Primitives_NETClientPrimitivesInALC_NETClientPrimitivesInALC_/_NETClients_Primitives_NETClientPrimitivesInALC_NETClientPrimitivesInALC_cmd` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190220.73 (Ready-To-Run Tests)
Failing configurations:
- Windows.81.Amd64
  - x86
  - x86
- Windows.7.Amd64
  - x86
  - x

[2019-02-21 06:15] #21609 closed

[2019-02-21 08:05] AaronRobinsonMSFT commented on #22740
@jkoritzinsky This looks like something to do with the marshalling of Color. Any thoughts about why R2R would fail?

[2019-02-21 11:45] noahfalk commented on #22722
In .Net framework I can simply use a try/catch around line 115. (In 4.0 onward there is some tags needed)

@janvorli am I remembering right that you did a bunch of the earlier exception handling work for .Net Core? Do you recall if there was a conscious decision one way or another to support corrupting state exceptions? Looking in the code I see conflicting evidence, for example FEATURE_CORRUPTING

[2019-02-21 12:05] sywhang commented on #22306
@gleocadie Do you mean `FEATURE_PAL`?  The line you're referring to is ETW stuff which has nothing to do with LTTng. There is a discussion in the PR I sent out above about on what the actual issue is and how to fix it / work around it in the meantime.

[2019-02-21 12:13] noahfalk commented on #22620
@duzenko - Yes, you can also use Visual Studio. I added some instructions for it since they appeared to be missing:
https://github.com/dotnet/coreclr/commit/5ec1eeaa95362be9e76f9f79c9b44162527e95ad

[2019-02-21 12:35] janvorli commented on #22722
I've verified that if you set env var COMPlus_legacyCorruptedStateExceptionsPolicy=1, you can catch the exception in .NET Core.

The HandleProcessCorruptedStateExceptionsAttribute should work too, based on what I can see in the runtime here:
https://github.com/dotnet/coreclr/blob/master/src/vm/excep.cpp#L11205-L11257
But for some reason, it doesn't work.

[2019-02-21 12:40] noahfalk commented on #22306
FYI a bunch of those 'ETW' named functions and macros have very misleading names at this point. Originally they meant ETW only, but now they mean 'whatever tracing system(s)' are in use on this platform and I think it would be very beneficial to rename them more accurately at some point. Unless they've managed to confuse me once again, I think the line @geocadie referenced really does relate to LT

[2019-02-21 12:45] BaronKiko commented on #22722
Could it be related to this: https://github.com/dotnet/coreclr/pull/10957 ?

[2019-02-21 12:45] noahfalk commented on #22722
To the best of your understanding the fact that it doesn't work is simply a bug we should fix (and hopefully add tests for) rather than a feature we deliberately wanted to disable for some reason?

[2019-02-21 12:50] noahfalk commented on #22722
#10957 certainly looks related. @jkotas perhaps you could add a little background since you filed #9045?
Assuming we are sticking with the decision in #9045, then we have an open issue that the .Net Core documentation is now in a misleading state that doesn't give any indication that the functionality is deprecated.

[2019-02-21 13:05] noahfalk commented on #22722
Reading through #9045 more thoroughly, a few bits of interest:

https://github.com/dotnet/coreclr/issues/9045#issuecomment-292452208

https://github.com/dotnet/coreclr/issues/9045#issuecomment-290159433

https://github.com/dotnet/coreclr/issues/9045#issuecomment-289949603

[2019-02-21 13:11] gleocadie commented on #22306
@sywhang The name is really misleading and as @noahfalk pointed out, it's for 'whatever tracing system(s)'.
I will check your PR.
At Criteo, we made a fix in our fork (CoreCLR), which reads an environment variable which contains the configuration of the Provider/Keywords/Level we want. Once parsed, it works like ETW and we can filter events/keywords to be built and emitted.
The reason we did not p

[2019-02-21 13:20] janvorli commented on #22722
Ok, it seems all the details /reasons are now clear. The legacyCorruptedStateExceptionsPolicy config switch is what @BaronKiko can use.

[2019-02-21 13:40] BaronKiko commented on #22722
So I should be using https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/legacycorruptedstateexceptionspolicy-element
Which is unavailable because it requires editing the App.config which is a framework thing not core?

[2019-02-21 13:46] gleocadie commented on #22306
If we go for an environment variable, wouldn't it be nice to do that for all the Provider/Keyword/Event ?

[2019-02-21 14:51] philipflesher commented on #22242
Here you go:

[code]

[2019-02-21 16:25] #22401 closed

[2019-02-21 16:38] AndyAyersMS commented on #22121
Probably some transient mismatch between CoreCLR and CoreFx. Recent runs are fine. Closing.

[2019-02-21 16:38] #22121 closed

[2019-02-21 17:51] #22250 closed

[2019-02-21 17:52] franksinankaya opened #22745 "Support IID on GNUC"
I wanted to hear your opinions on this issue: https://github.com/Microsoft/DirectXShaderCompiler/issues/1342

GCC doesn’t support uuid but there are ways to workaround it. IMO, the simplest solution is to use typeinfo stuff from boost. But my test reveals that coreclrpal doesn’t use any external libraries and uuid stuff is heavily embedded into PAL.

Another idea is to use something like this:

#d

[2019-02-21 17:53] franksinankaya commented on #22745
@janvorli @jkotas @am11

[2019-02-21 17:58] jkotas commented on #22722
This sounds like a bug. The runtime should not exit silently on fatal crash.

Yes, we should fix the docs.

I would not recommend using `legacyCorruptedStateExceptionsPolicy` as a permanent solution, it is ok to use it as a temporary workaround to unblock migration from .NET Framework to .NET Core.

For cases folks want to get details about fatal crashes (ie implement their own WER or fatal crash

[2019-02-21 18:08] jashook commented on #22719
Correct. I do not know where this work is entirely; however, I believe @mikem8361 has been/was the last to work on some of this work.

[2019-02-21 18:09] jashook commented on #22330
@AndyAyersMS are these fast tail calls or slow

[2019-02-21 18:12] mikem8361 commented on #22719
Yes, I'm working on the corefx tests in coreclr, but I'm still weeks away from it being finished.

[2019-02-21 18:14] sergiy-k commented on #22407
Is there anything actionable here or is it OK to close this issue? It was not 100% clear to me based on the comments.

[2019-02-21 18:14] AndyAyersMS commented on #22330
Fast.

[2019-02-21 18:16] jkoritzinsky commented on #21796
The first issue (the BadImageFormatException) looks like its happening because `IjwNativeDll.dll` was linked to `api-ms-win-crt-runtime-l1-1-0.dll`. Since the Win32 API contract assemblies don't exist on Win7, that would explain the load failure. I'm still trying to get a repro environment with a debug build so I can determine what's causing the assert.

[2019-02-21 18:17] sergiy-k commented on #22339
@janvorli has been working on a new design for tail calls. I don't think that this feature will be implemented for .NET Core 3.0.

[2019-02-21 18:18] jashook commented on #22330
I wonder if this is fixed by https://github.com/dotnet/coreclr/pull/20643.

[2019-02-21 18:29] AndyAyersMS commented on #22330
Is the latest iteration of that PR in good shape? Can't tell what the failures were anymore as the CI logs have been purged.

[2019-02-21 18:30] jashook commented on #22330
Testing is in good shape but there were ASM diffs. Let me see if there is not much work to handle merge conflicts.

[2019-02-21 18:31] jashook commented on #22330
As part of the refactoring work I fixed a few bugs that Bruce and I found on the linux path which is why I bring it up.

[2019-02-21 18:32] jashook commented on #22330
Can easily test, looking now.

[2019-02-21 18:43] jkotas commented on #22745
CoreCLR uses the old fashioned portable way to define GUIDs that was used before the `__uuidof` Microsoft C++ extension was invented.

The GUIDs are initialized by compiling the `*_i.cpp` files generated by MIDL compiler: https://github.com/dotnet/coreclr/blob/master/src/inc/CMakeLists.txt#L54

`MIDL_INTERFACE` is a macro from Windows SDK headers that is used in auto-generated code. We would not w

[2019-02-21 18:50] AndyAyersMS opened #22747 "JIT: morph overly aggressive in killing local assertions"
Checking `DefinesLocal` is not sufficient to establish that a tree is a local def. One also needs to check for `GTF_VAR_DEF`.

Because of this, morph ends up killing off local assertions for variables at uses as well as defs. Not surprisingly, this limits the usefulness of local assertion prop.

https://github.com/dotnet/coreclr/blob/344004681ace2b49dbc40d83ce422f81aa7efcb5/src/jit/morph.cpp#L1518

[2019-02-21 19:01] jeffschwMSFT commented on #20801
Fixed with #20822

[2019-02-21 19:01] #20801 closed

[2019-02-21 19:01] mikedn commented on #22747
I think it's a bit different, that assertion propagation code is misusing `DefinesLocal`. This is intended to be used with a `GT_ASG` tree but that morph code seems to be calling it on every node it encounters.

[2019-02-21 19:02] jeffschwMSFT commented on #20952
Closing this issue and tracking https://github.com/dotnet/corefx/issues/34316

[2019-02-21 19:02] #20952 closed

[2019-02-21 19:10] terrajobst opened #22748 "AmbiguousImplementationException should be in the System.Runtime namespace"
Looks like #22280 added the exception in the wrong namespace (`System.Runtime.Serialization` vs. `System.Runtime`). We should fix this to match the [approved API](https://github.com/dotnet/corefx/issues/34124).

/cc @stephentoub @jkotas

[2019-02-21 19:31] echesakovMSFT opened #22749 "[macOS] StackOverflowException in Csc"
This started appearing pretty recently on macOS during Pri1 test build

https://dev.azure.com/dnceng/public/_build/results?buildId=102238&view=logs
[code]

**packages/microsoft.netcore.compilers/3.0.0-beta3-final/tools/Microsoft.CSharp.Core.targets(52,5)** corresponds to call to Csc task

I am not sure if this belongs to https://github.com/dotnet/coreclr/ repo or https://github.com/dotnet/roslyn/

[2019-02-21 19:33] echesakovMSFT commented on #21796
@jkoritzinsky Yes you are right - try installing Windows 10 Universal C Runtime for Windows 7 from https://www.microsoft.com/en-us/download/details.aspx?id=48234

[2019-02-21 19:34] mikedn commented on #22747
Actually this is likely an issue in `DefinesLocal` itself. It checks for `GT_ASG` but it also checks `OperIsBlk`. The later is probably a leftover from `GT_COPYBLK` days and should be removed.

[2019-02-21 19:46] AaronRobinsonMSFT commented on #19120
See https://github.com/dotnet/sdk/pull/2814 for support from the developer side. PR https://github.com/dotnet/core-setup/pull/4577 has been merged.

[2019-02-21 19:46] #19120 closed

[2019-02-21 19:49] Tadimsky opened #22750 "Enum.ToString() can return wrong value"
I encountered a really strange issue where calling `ToString()` on an `enum` was returning a value different from the actual value of the enum. It turned out to be caused by me having a bug with my bit-shift direction and having two enums with the same value.
However, I thought that this was still strange behavior for the `ToString()` function.

Repro:

[code]

Expected output:
[code]

Actual outp

[2019-02-21 19:50] wojtpl2 commented on #19120
@AaronRobinsonMSFT thanks!

[2019-02-21 19:59] AaronRobinsonMSFT commented on #20373
I have verified the contract issue is fixed, but like @jkotas, the unexpected floating point result does not repo for me. Closing as resolved with #21238.

[2019-02-21 19:59] #20373 closed

[2019-02-21 20:02] AndyAyersMS commented on #22747
Yeah, that seems like a better fix. Then `DefinesLocal` actually does more or less what one expects.

It gives the same set of diffs as my prototype change to check flags.

[2019-02-21 20:03] AaronRobinsonMSFT commented on #5506
Host work is complete with https://github.com/dotnet/core-setup/pull/4577
CoreCLR work is also complete. Waiting on developer experience, but closing this since dev experience is track with https://github.com/dotnet/sdk/pull/2814.

[2019-02-21 20:03] #5506 closed

[2019-02-21 20:11] jkotas commented on #22748
This was fixed by https://github.com/dotnet/coreclr/pull/22291

[2019-02-21 20:11] #22748 closed

[2019-02-21 20:23] rducom commented on #22750
You are right shifting 0000000 by one position, so result is still 0000000. That's "by design". Try right shifting 0000001 instead

[2019-02-21 20:25] janvorli commented on #22242
Yes, the plugin doesn't print anything when it loads successfully. And if it failed to load, the clrstack and clru commands would not be available.

Anyways, it seems the plugin doesn't work as expected. So let's try few more things:
[code]

[2019-02-21 20:27] philipflesher commented on #22242
[code]

[2019-02-21 20:34] jashook commented on #22330
It is unrelated.

[2019-02-21 20:36] briansull commented on #22747
It would be surprising that a function named `DefinesLocal `would be returning true for a use of a `LCL_VAR `rather than a def.

[2019-02-21 20:41] Tadimsky commented on #22750
Yeah, that's the bug I was mentioning I have.
But that's not the issue I'm reporting.

[2019-02-21 20:45] MichalStrehovsky commented on #22407
There will be a C# LDM meeting on Monday, so I expect we'll find the necessary clarity there (the discussion will be about base interface calls).

[2019-02-21 20:52] AndyAyersMS commented on #21973
I'm going to move this to future. There are a bunch of interesting ideas here that we can build on, but it appears we'd need several enabling changes and some "bake time" to get this right, and I don't see us getting all that in place for 3.0.

Roughly speaking, the proposal is to address code size and code quality issues in async code (and more generally in `try` regions) by enabling CSEs of un-e

[2019-02-21 20:55] jashook commented on #22330
Strangely noticed that changing the guid to two ints or an eight byte struct will cause this to not repro. The blockop seems to be required.

[2019-02-21 20:55] Tadimsky commented on #22750
For example, I'll do this instead:

[code]

Output:
[code]

[2019-02-21 20:57] Tadimsky commented on #22750
And then adding one more type to the enum results in different output:

[code]

Output:
[code]

So this seems kind of bad as we're just doing a binary search through the values and getting the middle value. It means that adding or removing an enum will cause your string value to change.

[2019-02-21 21:12] janvorli commented on #22242
Ok, this didn't provide me with any hints. But looking at the source code again, I've spotted something fishy. Can you please get a new version of the libcoreclr.dylib from https://1drv.ms/u/s!AkLV4wRkyHYhxUoWavFC3hkNxTcg and try again with that one. Chances are that it could fix the problem. Actually, please get the libmscordaccore.dylib from https://1drv.ms/u/s!AkLV4wRkyHYhxUvTsr225cAcQNRr too a

[2019-02-21 21:45] jashook commented on #22330
This bug is a dup of https://github.com/dotnet/coreclr/issues/12468. The underlying problem is that nCalleeArgs and nCallerArgs is not necessarily the same for caller/callees with >8 byte structs. Therefore we cannot back the fundamental assumption made here: https://github.com/dotnet/coreclr/blob/master/src/jit/lower.cpp#L2024. This particular example will blow pas the noway assert because nCalle

[2019-02-21 21:46] jashook commented on #22330
In this specific case LowerFastTailCall should create a tmp to copy callee arg 6 to caller arg 5

[2019-02-21 21:53] robertborr opened #22757 "ToolsError build failures in 'official/dotnet/coreclr/refs/heads/master' - '20190221.71'"
@dotnet-mc-bot commented on [Thu Feb 21 2019](https://github.com/dotnet/core-eng/issues/5271)

There were a set of failures during this build. Here is a summary of these:
* https://dnceng.visualstudio.com/internal/_build/results?buildId=102250
  - **Agent:** Hosted Mac Internal 1
  - **Error log:** /Users/vsts/agent/2.147.1/work/0/s/packages/microsoft.netcore.compilers/3.0.0-beta3-final/tools/Micr

[2019-02-21 22:03] rducom commented on #22750
enum allows multiple enum values to share the same value, by design in the C# specs, however, this is not a recommended usage.
I don't get the point of why such an enum would be used, but the behavior you are seeing is known, [and is documented here ](https://docs.microsoft.com/en-us/dotnet/api/system.enum.getname?redirectedfrom=MSDN&view=netframework-4.7.2#System_Enum_GetName_System_Type_System_O

[2019-02-21 22:32] CarolEidt opened #22758 "Ensure that HW Intrinsics producing small int results have casts as needed"
See #22666 and #22667 for discussion

[2019-02-21 22:38] #11921 closed

[2019-02-21 22:38] #22419 closed

[2019-02-21 22:40] sandreenko commented on #19108
The virtual memory consumption should be limited by #22746.

[2019-02-21 22:40] #19108 closed

[2019-02-21 22:41] benaadams opened #22762 "Use Intrinsics.X86 for SpanHelpers.IndexOf(char)"
Tracking issue

[2019-02-21 22:42] benaadams opened #22763 "Use Intrinsics.X86 for SpanHelpers.SequenceCompareTo(char)"
Tracking issue

[2019-02-21 22:43] benaadams opened #22764 "Use Intrinsics.X86 for SpanHelpers.IndexOfAny(char,char)"
Tracking issue

[2019-02-21 22:43] benaadams opened #22765 "Use Intrinsics.X86 for 4\. SpanHelpers.IndexOfAny(char,char,char)"

[2019-02-21 22:44] jashook commented on #22757
I can repro this locally.

[2019-02-21 22:44] benaadams opened #22766 "Use Intrinsics.X86 for SpanHelpers.IndexOfAny(char,char,char,char)"
Tracking issue

[2019-02-21 22:45] benaadams opened #22767 "Use Intrinsics.X86 for SpanHelpers.IndexOfAny(char,char,char,char,char)"
Tracking issue

[2019-02-21 22:48] jashook commented on #22757
This can be repro-ed by building individual tests. See output below:

[code]

[2019-02-21 22:49] jashook commented on #22757
Looking when this was introduced.

[2019-02-21 22:50] jashook commented on #22757
/cc @echesakovMSFT

[2019-02-21 23:10] sandreenko commented on #22287
The test stopped failing in ci after #22421

[2019-02-21 23:10] #22287 closed

[2019-02-21 23:13] sandreenko commented on #22286
The test stopped failing in ci after #22421

[2019-02-21 23:13] #22286 closed

[2019-02-21 23:14] sandreenko commented on #22368
The test should stop failing after #22421. Feel free to reopen this issue if it was not the case and the issue happens again.

[2019-02-21 23:14] #22368 closed

[2019-02-21 23:23] jashook commented on #22757
/cc @tannergooding. I am deciding to disable these tests because I do not want them blocking arcade transition.

[2019-02-21 23:23] jashook commented on #22757
Signs point to this being a rosyln issue.

[2019-02-21 23:26] tannergooding commented on #22757
CC. @jaredpar on the StackOverflow in the compiler

[2019-02-21 23:27] jashook commented on #22757
Example test: https://github.com/dotnet/coreclr/blob/master/tests/src/Loader/classloader/generics/Instantiation/Nesting/NestedGenericClasses.cs

[2019-02-21 23:28] jaredpar commented on #22757
Can someone post the stack trace of the failure?

[2019-02-21 23:31] AndyAyersMS commented on #19218
For finalizearray, JitStress=1 enables the random inliner, and it looks like this enables inlining `CreateObj.ctor` into `Main`. That makes it possible for the temp holding the new array allocation to live past the nulling of `obj` and potentially keeps the array live.
[code]
Would suggest we mark `CreateObj` as noinline here.

Similar issue for finalizearraysleep.

[2019-02-21 23:34] janvorli commented on #22722
I have taken a look why it exits silently. The issue is in this function:
https://github.com/dotnet/coreclr/blob/master/src/vm/eepolicy.cpp#L931-L1111
The only case where we log anything to the console is for FailFast exception (exitCode==COR_E_FAILFAST). In this case, the exitCode is 0xC0000005 (access violation) and so we skip the logging.

[2019-02-21 23:38] briansull commented on #22436
Resolved

[2019-02-21 23:38] #22436 closed

[2019-02-21 23:47] AndyAyersMS opened #22768 "JIT: morph late canonicalization of assign foils local assertion prop"
Morph propagates assertions before morphing, and assertion prop doesn't handle copy assertions for copies with sources in `obj(addr(lcl))` form. Morph then transforms some of these into simple copies:
[code]
If we re-ran assertion prop at this point we'd change the source to `tmp1` and quite possibly avoid a struct copy.

Perhaps it makes sense to either retry assertion prop after morphing (at lea

[2019-02-21 23:55] janvorli commented on #22722
It seems it would be simple to change that to log the call stack and exception details for all exitCode values.

[2019-02-22 00:00] mikem8361 commented on #22722
Sounds to me like something that should be done.  Jan do you have time?

[2019-02-22 00:03] fadimounir opened #22772 "Replace calls to GetThread with INLINE_GETTHREAD in arm/arm64 assembly stubs"
INLINE_GETTHREAD will be available when #22560 gets merged

[2019-02-22 00:12] janvorli commented on #22722
Yes, I can do it.

[2019-02-22 00:21] sandreenko commented on #18291
I will check.

[2019-02-22 00:34] jkoritzinsky commented on #21796
I finally got a repro under a debugger with a debug runtime and release-mode test. I'll see if I can figure out what's going on.

[2019-02-22 00:34] tannergooding commented on #22757
@jashook, @jaredpar I'm not able to get this to repro locally (Windows 10) when using the 3.0.19.11409 compiler (which is the `beta3` compiler) or the 3.0.19.6812 compiler (which is the `beta2` compiler). I was just trying `Tools\dotnetcli\dotnet.exe msbuild /t:Rebuild NestedGenericStructs.csproj`.

I am able to repro when attempting with the desktop csc (under `.\Tools\net46\roslyn\tools\csc.exe`

[2019-02-22 00:35] jashook commented on #22757
This is currently only affecting OSX.

[2019-02-22 00:42] jashook commented on #22330
Will pr the fix.

[2019-02-22 01:12] jkoritzinsky commented on #21796
I've figured out the problem. On Windows 7, the desktop version of `mscoree.dll` is being loaded by something (which I'm still trying to track down, looks like it's getting loaded when `System.Private.CoreLib` is first loaded) before we can load our fake `mscoree.dll` shim into the process. The desktop `mscoree.dll` goes in and patches the vtfixup table in the IJW image, which then causes coreclr

[2019-02-22 01:19] VincentBu opened #22777 "Test failed: System.Globalization.Tests.GregorianCalendarMiddleEastFrenchTests.CalendarType_SetInvalidValue_ThrowsArgumentOutOfRangeException(type: 0)"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_ubuntu_corefx_baseline/847/

**Failed tests:**
System.Globalization.Tests.GregorianCalendarMiddleEastFrenchTests.CalendarType_SetInvalidValue_ThrowsArgumentOutOfRangeException

**Log:**
[code]

[2019-02-22 01:29] VincentBu opened #22778 "[x64] Error occured when running run-corefx-tests.py"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_ubuntu_corefx_jitstress1/862/

**Log:**
[code]

[2019-02-22 02:06] VincentBu opened #22780 "[x64] Test failed: JIT_Methodical._MDArray_basics_stringarr_cs_d_stringarr_cs_d_._MDArray_basics_stringarr_cs_d_stringarr_cs_d_cmd"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_gcstress0xc_zapdisable_jitstress2/125/

**Failed tests:**
JIT_Methodical._MDArray_basics_stringarr_cs_d_stringarr_cs_d_._MDArray_basics_stringarr_cs_d_stringarr_cs_d_cmd

**Log:**
[code]

[2019-02-22 02:25] sergiy-k commented on #22407
Thank you!

[2019-02-22 02:43] abelykh0 commented on #22330
Not sure if it matters, but in the original replication there are no struct args

[2019-02-22 03:58] andy-ms commented on #22521
I tried running this benchmark our linux machine and saw time actually decrease.

In both cases, ran this test:
    py ./tests/scripts/run-xunit-perf.py -arch x64 -configuration Release -os linux -runtype local -optLevel full_opt -jitName ryujit -outputdir "$clr/bin/sandbox_logs" -testBinLoc ./bin/tests/Linux.x64.Release/JIT/Performance/CodeQuality/Bytemark

A "before" clr was at commit 930abba406

[2019-02-22 04:49] karelz commented on #22615
@wfurt to help

[2019-02-22 04:59] philipflesher commented on #22242
[code]

[2019-02-22 05:02] philipflesher commented on #22242
In case this is helpful:

[code]

[2019-02-22 05:41] andy-ms opened #22783 "ByteMark.cs BenchBitOps test may not be running bit ops"
In `ByteMark.cs`, the `BenchBitOps` test says:
[code]

The test run is a *new* `BitOps` object. This contains (among others) the fields `bitoparraysize` and `request_secs`. Their default values will be 0. If `bitoparraysize` is `0`, `DoBitfieldIteration` in `bitops.cs` will not do any work. I will also only do one iteration (it normally runs until the time taken reaches `request_secs`), which may

[2019-02-22 06:43] mikedn commented on #22768
I've experienced a similar situation with struct promotion - apparently doing it before morphing, in `LocalAddressVisitor` also unblocks copy assertion propagation in some cases. Though in your specific case it looks like we should just produce the "right" IR in the importer, using `OBJ(ADDR(LCL_VAR))` is probably another leftover from `GT_COPYBLK` days. For local variables `OBJ` should only be ne

[2019-02-22 07:41] sandreenko opened #22784 "[arm32][Windows] Interop/COM/NETClientEvents fails"
It fails almost in all PRs, [queue
](https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_checked_windows_nt_innerloop_tst_prtest)
[code]

The similar issue #20682  points to future, so I mark this as Future as well.

cc @dotnet/jit-contrib

[2019-02-22 07:48] BaronKiko commented on #22722
To sum up all this:

- You are going print out a stack trace and details when it crashes rather than just silently exiting

- The docs need to get updated

- legacyCorruptedStateExceptionsPolicy should be supported to help migrate but shouldn't be used as a permanent solution.

- A C API to implement your own handling would be nice to have

- No specific quote but WER can be used if you sign your

[2019-02-22 07:53] BaronKiko commented on #22722
@cshung I tried your strange solution. I only spent an hour or so on it but I couldn't get it to work. Was quickly getting messy but I think it would technically work. Even if it's frankly too hacky for real use.

[2019-02-22 07:54] sandreenko commented on #22784
The test was added in #22721.

The strange thing is that it doesn't fail in coreclr-ci (Test Pri0 Windows_NT arm checked) and that ado tests were not run in this PR, @echesakov do you know why?

[2019-02-22 07:54] sandreenko commented on #22784
Revert #22785  when it is fixed.

[2019-02-22 08:28] AndyAyersMS commented on #22330
There actually is one -- a `Guid` is a struct. The method below in your repro corresponds to `F` above:

https://github.com/abelykh0/NetCoreIssue/blob/64578256b67e24929ba5acb12084e494681b69d5/Library/Class1.cs#L75-L85

[2019-02-22 08:54] akacprzak opened #22787 "Writing to frame buffer device on Rpi 3B+ (System.IO.IOException: Invalid argument)"
The issue is that I cannot write data to device frame buffer using File.WriteAllBytes("/dev/fb1", someData);

The function is working when I'm writing to other location for example to /tmp

When i'm using bash helper in dotnet code (writing data from tmp file) it's also working:
[code]

I double checked all permission issues (even added user to root group or run dotnet with sudo etc.) and result i

[2019-02-22 09:05] AndyAyersMS commented on #22768
Also `optCopyProp_LclVarScore` probably needs some tweaking...

[2019-02-22 09:21] janvorli commented on #22242
Ok, now the SOS plugin works at least partially, although I would expect it to show frame 4 as a managed function. But the fact it doesn't is something that I have seen in some cases in the past.
Anyways, could you please try to run the following commands?
[code]

[2019-02-22 09:25] janvorli commented on #22722
@BaronKiko have you tried to set the `COMPlus_legacyCorruptedStateExceptionsPolicy` environment variable to 1 before running your app? That sets the legacyCorruptedStateExceptionsPolicy config switch that should allow you to catch the exception as a temporary solution.

[2019-02-22 10:23] BaronKiko commented on #22722
@janvorli I tried setting it on the first line in main with:
`Environment.SetEnvironmentVariable("COMPlus_legacyCorruptedStateExceptionsPolicy", "1");`

This didn't change anything but I'm assuming by the time it gets to main it's already too late.
Setting it from powershell prior to running does indeed allow capture of the exception and I can presumable make a wrapper to do that automatically. Wh

[2019-02-22 10:32] janvorli commented on #22787
My guess is that the issue is caused by the fact that WriteAllBytes creates the target stream with FileMode.Create, which tries to truncate the file if it exists (using the ftruncate native function):
https://github.com/dotnet/corefx/blob/06338637ddb64fa6c80ce3e6b6b3088565f84fff/src/Common/src/CoreLib/System/IO/FileStream.Unix.cs#L108-L113.
As the /dev/fb1 is a special file, I think it doesn't acc

[2019-02-22 12:12] stephentoub commented on #22787
@janvorli, do you think we should ignore errors from ftruncate here, or potentially just EINVAL?

[2019-02-22 12:24] janvorli commented on #22787
It seems that it would make sense to ignore EINVAL here. The man page for ftruncate says that EINVAL indicates "The argument length is negative or larger than the maximum file size." Since we are passing in 0, we know that we are not passing argument that's negative or larger than the maximum file size, so it must indicate that the file is special.

[2019-02-22 14:22] janvorli commented on #22722
Yes, it needs to be done before running the app.

[2019-02-22 14:43] MichalStrehovsky opened #22790 "Audit missing entries in ClrEtwAll.man"
https://github.com/dotnet/coreclr/pull/22680#discussion_r258028125 - we seem to be missing entries for various flags.

[2019-02-22 14:48] abelykh0 commented on #22330
OK, great. Thanks.

[2019-02-22 15:05] akacprzak commented on #22787
I can confirm that changing code from:
[code]
to:
[code]
is working....thanks for help !!

[2019-02-22 15:38] janvorli commented on #21582
@AndyAyersMS I have spent more time debugging the issue. Since I am unable to repro it when running under a debugger, I've instrumented various places in PAL to see why the illegal instruction is not handled by the runtime during GC stress. And the answer I found is surprising. The issue is that the SIGILL handler is invoked after a call to PALCommonCleanup (which is being called during the proces

[2019-02-22 15:40] philipflesher commented on #22242
[code]

[2019-02-22 16:31] AndyAyersMS commented on #21582
Most every test these days has a secondary managed thread because of EventPipe (see for instance #21461 or #21145).

[2019-02-22 17:07] janvorli commented on #21582
@AndyAyersMS you are right. I've finally hit the issue under lldb. I can confirm that there is a secondary managed code thread running (most likely the EventPipe one) and the primary thread is already gone. The GC stress instrumentation of code on this secondary thread triggers the SIGILL signal, but since the PALCommonCleanup was already done, the PALIsInitialized returns false and so we don''t t

[2019-02-22 17:25] echesakovMSFT commented on #22784
@sandreenko We don't run both Linux and Windows arm32 and Windows/arm64 testing in AzDO yet due to limited hardware resources and incompatibility with Jenkins.

[2019-02-22 17:27] janvorli commented on #22242
Thank you! This is clearly regular managed code, so I am out of ideas why would capturing floating point context at that point fail. I need to think, search and ask around to get some additional ideas. I will get back to you. If you can keep the setup ready for more testing later, it would be great.
I just wish I was able to repro the issue locally, I could then try some extra tricks like OSX kern

[2019-02-22 17:27] echesakovMSFT commented on #22784
/cc @jkoritzinsky @AaronRobinsonMSFT

[2019-02-22 17:29] echesakovMSFT commented on #22778
@sandreenko Is this fixed by https://github.com/dotnet/coreclr/pull/22773?

[2019-02-22 17:52] AndyAyersMS commented on #21951
@benaadams do you think this is still interesting, even if it can't catch the cases you'd hoped?

[2019-02-22 17:58] sandreenko commented on #22778
Yes, it should be.

[2019-02-22 17:58] #22778 closed

[2019-02-22 18:21] nooogle opened #22792 "Orphaned ReaderWriterLockSlim"
EnterReadLock called on a ReaderWriterLockSlim inside a paint handler never return when this scenario occurs:

1) Worker thread claims the lock for Write access.

2) GUI thread [concurrently] attempts to claim the lock for Write access; it can't, so InternalWaitOne is called. The message queue is found to have a paint message so the OnPaint method gets called.

3) OnPaint tries to claim the lock f

[2019-02-22 18:42] benaadams commented on #21951
Yes definitely; I actually thought `readonly static` arrays did work this way!

[2019-02-22 18:56] AndyAyersMS commented on #21951
Ok. Let me look into some of the regressions.

Running the above over the jitutils\fx set augmented with ASP.Net assemblies shows some hits here and there in ASP.Net. Need to add some sort of filter option to `jit-analyze` so I can summarize these better.

[2019-02-22 18:57] benaadams commented on #21951
Two examples from Kestrel would be
[code]

[2019-02-22 18:58] benaadams commented on #21951
Two examples from Kestrel would be
[code]
Though there are probably better examples; not sure they are used in a way that would skip bounds checking

[2019-02-22 19:09] vancem commented on #22790
We know that the ModuleFlagsMap
[code]
Should be updates so that it includes entries for 0x10, 0x20, 0x40 bits

        None = 0,
        DomainNeutral = 0x1,
        Native = 0x2,
        Dynamic = 0x4,
        Manifest = 0x8,
        IbcOptimized = 0x10,
        ReadyToRunModule = 0x20,
        PartialReadyToRunModule = 0x40,

This is very straightforward.  It is a bit painful because you have t

[2019-02-22 19:31] jzabroski commented on #19821
@RussKeldorph  Just to circle back on this... How would a command-line tool know what arguments are available for Flash Fill if the .dll doesn't embed that data in an efficient way?  Similar to magic byte headers or file extensions help to determine what program to suggest you open a file with.

This is the reason I filed this against the CorCLR github, as it seems intrinsic to the DLL.  But maybe

[2019-02-22 19:55] jorive commented on #22790
@vancem Sure, I'll take it.

[2019-02-22 20:07] AndyAyersMS commented on #21951
Filtered view ...

[code]

[2019-02-22 20:29] AndyAyersMS commented on #21951
Note `readonly` for ref classes is just top-level immutability.

We don't yet drill into objects where top level immutability implies existence of immutable sub-parts -- if we did this we could surface new constants (say array length or string length or possibly even string contents).

We don't know what to do with accesses to `readonly static` structs just yet. My prototype changes have introduce

[2019-02-22 20:39] #21796 closed

[2019-02-22 20:55] echesakovMSFT commented on #21796
@jkoritzinsky Do we want to keep this issue open (or have another issue) so when MSVC compilers support IJW we can re-enable the tests?

[2019-02-22 21:04] jkoritzinsky commented on #21796
I'll open another issue

[2019-02-22 21:10] benaadams commented on #21951
[code]
Very nice :)

[2019-02-22 21:12] filipnavara commented on #22792
That is a general issues with reentrant lock on COM STA threads. You are not supposed have any locks in the code paths that are pumped by `CoWaitForMultipleObjects` and that includes the paint handler.

[2019-02-22 21:15] #22787 closed

[2019-02-22 22:16] jkoritzinsky opened #22797 "Re-enable IJW tests on Windows 7 after we have an MSVC++ compiler"
Renable IJW tests on Windows 7 once we have an MSVC++ compiler that doesn't link C++/CLI assemblies to mscoree.dll directly.

[2019-02-22 22:16] jkoritzinsky commented on #22797
See #22779 #21796

[2019-02-22 22:39] #21938 closed

[2019-02-22 22:40] mikem8361 commented on #21611
Does this problem still exist in the latest 3.0.x version?

[2019-02-22 22:48] #18827 closed

[2019-02-22 22:49] AndyAyersMS commented on #21951
In `GetStandardAndLiftedBinopSignatures` the JIT introduces a CSE for the load of `s_binopSignatures` (readyonly static array). But this method already has a lot of register pressure so keeping that value in a register causes other spills.
[code]
In the after version, r13 is only referred to in the preheader and right at the top of the loop. The preheader reference is just for a bounds check. If n

[2019-02-22 22:51] mikem8361 commented on #18680
Is this still a problem? This issue is over 7 months old.

[2019-02-22 22:51] #18148 closed

[2019-02-22 23:05] philipflesher commented on #22242
I will attempt to use the same libraries I'm using and construct a modified repro case that involves no protected data (fabricating a CSV file with dummy data in it). From there, I can attempt to take away large portions of the code to narrow it down to the essentials.

In the meantime, I can leave this sandbox as-is. Please let me know if you want me to try anything else in this debug session!

[2019-02-22 23:21] janvorli commented on #22242
Thank you! You can close the debug session.

[2019-02-22 23:29] vancem commented on #22585
I have determined that this is a problem getting the version of the native code (what we call the RejitID).  Methods that have been reJitted erroneously say they are ID 0 (that is they are the first version).  There is some code designed to avoid races in ETW::MethodLog (eventtrace.cpp)
[code]
That simply skips code when it is rejitID == 0 and it is not the 'current' code for the MethodDesc and th

[2019-02-22 23:56] RussKeldorph commented on #21134
@markwilkie FYI on dumps/dumpling.  We could really use centralized support for dumps.

[2019-02-22 23:57] vancem commented on #22585
The rejitID is zero because this code set it to zero
[code]
(fGetRejitIDs is false unless we are dumping JIT methods when an AppDomain is being unloaded).

There are comments that talk about having lock problems (that is deadlock), and this was a way out.

[2019-02-23 01:11] josalem commented on #20179
Update strategy:
- [ ] Update `GetSourceLineInfo` in CoreFX with an overload that accepts a `Reflection.Reflection.Assembly` but doesn't use it. - [code](https://github.com/josalem/corefx/blob/stacktrace-cache-unloading-coreclr20179-prechange/src/System.Diagnostics.StackTrace/src/System/Diagnostics/StackTraceSymbols.CoreCLR.cs)
- [ ] Update CoreCLR to collect managed assembly objects when walking

[2019-02-23 01:26] tommcdon commented on #6580
This bug is tracking the work in debug\di\arm64

[2019-02-23 01:30] #20075 closed

[2019-02-23 01:49] tommcdon commented on #22248
Possibly related to https://github.com/dotnet/diagnostics/issues/50

[2019-02-23 02:20] hoyosjs commented on #19791
Closing this issue. We dropped support for due to complications in how interop

[2019-02-23 02:44] benaadams commented on #21951
There are a few readonly static array accesses that are done via enum that I thought wouldn't be effected by this; however if it is a propagated const length, then it could potentially also skip them there? (e.g. recognise in range)

[2019-02-23 03:08] benaadams commented on #21951
Presumably any first pass blocks (if can't tell .cctor has finished, e.g. crossgen and first encounter); will get picked up by second pass in Tier1?

[2019-02-23 03:26] AArnott commented on #18680
It didn't repro when I just tried it.

[2019-02-23 09:24] davidfowl opened #22812 "Assembly.Load does not work in custom load context"
I have 2 applications, ConsoleApp25 and ConsoleApp1. ConsoleApp1 is the plugin loaded into ConsoleApp25. If ConsoleApp1 calls Assembly.Load, we never seem to call back into the custom load context, it just fails (likely because it's trying to use the default). I expect Assembly.Load to be equivalent to  `AssemblyLoadContext.GetLoadContext(Assembly.GetExecutingAssembly()).LoadFromAssemblyName` but

[2019-02-23 09:54] jkotas commented on #22812
It works fine if you make the context non-collectible. It looks like a dup of the bug being fixed by https://github.com/dotnet/coreclr/pull/22494.

cc @janvorli

[2019-02-23 12:11] EgorBo opened #22813 "Pclmulqdq.CarrylessMultiply bug?"
I am trying to port the following C code to C#:
[code]
my C# version:
[code]
both `a1` and `a2` have exactly the same values (I compared UInt64 debug views)
but `a3` is `(60,60)` in C and `(0,0)` in C#
am I doing something wrong or these instructions are not implemented yet?

cc: @fiigii @tannergooding
asm for C:
[code]
asm for C#:
[code]

the C snippet is from [lemire/simdjson](https://github.com

[2019-02-23 12:40] mikedn commented on #22813
You want  `Vector128<ulong> a1 = Vector128.Create(68UL, 0);`

[2019-02-23 12:44] EgorBo commented on #22813
@mikedn omg, thanks, totally forgot about the reversed order 🙁

[2019-02-23 12:44] #22813 closed

[2019-02-23 13:29] benaadams commented on #22813
Could also do
[code]
To get
[code]

Which is closer to the asm the C produces?

[2019-02-23 13:44] benaadams commented on #22813
If you for some reason wanted to use the same equality that the C produces (Sse2 vs Sse41); it would be
[code]
For
[code]

[2019-02-23 14:09] EgorBo commented on #22813
@benaadams right, but I have a 2k lines of C code I want to maintain and mirror C changes ;-) so I want to keep it closer to the original format

[2019-02-23 17:06] #22667 closed

[2019-02-23 17:08] #22694 closed

[2019-02-23 18:28] Cyl18 opened #22814 "Using method overload with generic constraints"
Consider code here:
[code]
It just shows
![ek p9t p_m4 a7ric77xaou](https://user-images.githubusercontent.com/14993992/53290208-c1c83600-37db-11e9-80f0-4cbe2f4e222b.png)

[2019-02-23 18:43] RealDotNetDave commented on #22400
Wow, I really like all the back and forth on this. Will this be fixed in .NET 3.x?

[2019-02-23 19:36] benaadams commented on #15755
Even uses `CORINFO_HELP_CHECKED_ASSIGN_REF` when the ref struct is fully inlined (https://github.com/dotnet/corefx/pull/35267/commits/a3cb00f9c43a7a53934c2cd7a3366e011380184f) e.g.
[code]
with
[code]

[code]

[2019-02-23 20:01] benaadams opened #22815 "BroadcastScalarToVector256(byte*) broadcasts not correct value?"
From https://twitter.com/HaroldAptroot/status/1099389327245828096

[code]
Outputs for debug
[code]
Outputs for release
[code]
Produces the following asm
[code]
It inlines into the Main method producing the following asm
[code]

Contrast with
[code]
Which produces
[code]
And correctly outputs
[code]

/cc @tannergooding @fiigii

[2019-02-23 22:08] mikedn commented on #22815
`GenTreeHWIntrinsic::OperIsMemoryLoad()` doesn't handle this case correctly. Local variable addresses sometimes have type `TYP_BYREF` (odd, but that's another story) and `OperIsMemoryLoad` only checks for `TYP_I_IMPL`.

[2019-02-23 22:11] am11 commented on #14593
GitHub has introduced a new `Create Daft Pull Request` feature: https://github.community/t5/How-to-use-Git-and-GitHub/Feature-request-Drafts-of-pull-requests/m-p/19025/highlight/true#M5675, creating a PR as draft makes it unmergable.

Perhaps that can replace WIP bot integration in dotnet repos PR? Currently, is yields a false-positive:

![image](https://user-images.githubusercontent.com/3840695/5

[2019-02-23 22:25] fiigii commented on #22815
@mikedn Thank you so much for the information, I did not know that... Are you working on a fix? If not, I can submit a PR.

[2019-02-23 22:28] fiigii commented on #22815
I agree that an internal intrinsic ID is better for JIT perf and avoiding the similar bugs.

[2019-02-24 01:42] Wraith2 commented on #22814
The generic constraints aren't part of the signature used for method resolution, you need to use a different name or parameter set.

[2019-02-24 05:35] NextTurn commented on #22320
Thanks for your information @benaadams. I did a simple [test](https://github.com/NextTurn/interop-benchmark) and `calli` instruction turned out to be the best solution for now.

Interestingly, `Math.Sqrt(Double)` runs as fast as `Convert.ToDouble(Double)`.

![Line Chart](https://raw.githubusercontent.com/NextTurn/interop-benchmark/master/results/result.svg?sanitize=true)

[2019-02-24 06:26] mjsabby commented on #22320
Not that I recommend this for your code, if you're satisfied with the performance ... but you can use `calli` with the managed calling convention to get better performance at the expense of delaying garbage collection. I did not see that in your benchmark you posted above.

On x64 the managed calling convention is the native x64 calling convention, and on Windows x86 I believe it is `__fastcall`.

[2019-02-24 07:14] mikedn commented on #22815
@fiigii Maybe I'll make a fix this evening, if nobody does it before.

[2019-02-24 09:58] NextTurn commented on #22320
I honestly don't know why delegates retrieved by `Marshal.GetDelegateForFunctionPointer` will be a lot slower.

[2019-02-24 13:53] jkotas commented on #22320
The difference between `calli` and `PInvoke` is noise. I would recommend choosing the one out of these two that gives you the most maintainable code. The performance gains you get by being able to maintain and refactor your code easily will be much higher than what you get from calli vs. PInvoke.

The delegate has an extra indirection in it. This indirection costs extra instructions.

If you consi

[2019-02-24 16:00] ayende opened #22820 "Access Violation on x86"
We have a scenario in which we are getting an access violation exception during a particular load in our system.
I have a full dump of the process when the crash happened, available here:
https://drive.google.com/file/d/11oqZaegxKcoNT8Xj1u9YDIcH7LcmMBsW/view?usp=sharing

The scenario we have is a few servers running and communicating with one another on the same process.
This is part of our test s

[2019-02-24 16:39] NextTurn commented on #22320
What I actually need is to call function pointers provided by unmanaged code at runtime, which can not be retrieved by `NativeLibrary.Load` and `NativeLibrary.GetExport`. So P/Invoke doesn't work in this scenario, `Marshal.GetDelegateForFunctionPointer` seems to be slow and cumbersome, and `calli` is unsafe... I wonder whether there would be a better workaround, maybe something similar to `mono_ad

[2019-02-24 17:19] tannergooding commented on #22815
What's the differing semantic here? Is it `reg32` vs `mem8`?

If so, we actually have a number of cases like that. All of the scalar floating-point operations, for example; which are `reg128` vs `mem32` or `mem64`.

[2019-02-24 17:20] tannergooding commented on #22815
Also, CC. @CarolEidt as an FYI on the bug here.

[2019-02-24 17:32] mikedn commented on #22815
Which ones to be precise? I don't see anything like that in `OperIsMemoryLoad`.

[2019-02-24 18:00] tannergooding commented on #22815
Ah, you're right. Those are handled via the explicit `LoadVector` intrinsics and then containing the memory load in lowering.

Looking at this (and I've likely just forgotten) why do we need both a `InsertVector128(V256<T>, V128<T>, byte)` and a `InsertVector128(V256<T>, T*, byte)` overload? Unlike `Broadcast` which exposes just the mem overload in AVX and adds the register overload later, `Insert

[2019-02-24 18:17] mikedn commented on #22815
Uh oh, didn't notice that. I think those should be removed.

Yeah, but it's also `HW_Category_IMM` so it can't be `HW_Category_MemoryLoad` as well. That's fishy but I don't know if there's a better way. It seems that `HW_Category_MemoryLoad` should perhaps be a flag and not a category.

[2019-02-24 18:23] tannergooding commented on #22815
@fiigii, just want to double check if you can think of anything that would prevent this. If not, I'll open an issue and push it through API review ASAP.

[2019-02-24 18:39] mikedn commented on #22815
Apparently `ExtractVector128` is in the same boat. Though it could be argued that it's a bit more difficult to get the `m128, ymm2, imm8` encoding without those memory overloads.

[2019-02-24 18:44] tannergooding commented on #22815
Yeah, I was actually going to ask about that as well. We would need to have `ExtractVector128` be contained in a `StoreVector128` to get this working with a single overload, right?

[2019-02-24 18:52] mikedn commented on #22815
Yes. I don't think the JIT does anything like this today. But it does something more complicated - generates RMW instructions like `add mem, reg` by containing the `ADD` and `IND` in `STOREIND`. So if it can do that I don't think there'll be any problem attempting to contain an `ExtractVector` in a `StoreVector`.

Hmm, I suppose a quick prototype wouldn't hurt before deciding to remove all these o

[2019-02-24 19:06] AndyAyersMS commented on #22130
You can get assertion prop to look for reversed relop assertions, but it's clunky. Does not seem to hit all that often, though it helps clean up second the example above.
[code]
Would be less clunky if there was a VN operation to find the VN of the reverse relop (rather than actually forming the reverse tree and value numbering that), and if assertion lookup was driven just by VN and not by tree.

[2019-02-24 19:29] mikedn commented on #22815
Not exactly an elegant implementation but it gets the job done as a prototype: https://github.com/mikedn/coreclr/commit/a00b42e9442ceeeacda7981bbb462bb8ec7a8a21
[code]
generates
[code]

[2019-02-24 19:36] fiigii commented on #22815
`ExtractVector128`/`InsertVector128` is used for storing/loading `Vector256` 16-byte by 16-byte, which is a common optimization in AVX SIMD programming. However, RyuJIT currently cannot fold "stores", so I added the pointer overload for `ExtractVector128`. Meanwhile, `InsertVector128` pointer version is added for balancing user experience and avoiding exposing compiler implementation details to AP

[2019-02-24 19:37] mikedn commented on #22130
Hmm, that sounds like the issue that prompted me to attempt SCCP in VN. I need to retry that with this example. In fact, I need to try that on its own because when I tried it last time it was mixed up with a bunch of other experiments.

[2019-02-24 19:38] fiigii commented on #22815
If we can fold `ExtractVector128`/`InsertVector128` simultaneously, I am ok to remove the pointer overloads of these two APIs.

[2019-02-24 20:45] sharwell commented on #14593
I am looking forward to the limitations getting worked out so it can replace the bot, but I don't think we should start implementing the change before that.

[2019-02-24 20:50] mjsabby commented on #22320
Why can’t you use calli with the unmanaged calling convention? That will solve your problem without having to worry about the constraints and GC delaying of using a managed calling convention.

[2019-02-24 23:03] NextTurn commented on #22320
You said you don't recommend this?

[2019-02-25 01:59] AriNuer opened #22823 "[arm64\linux] error : setlocale: LC_ALL: cannot change locale (en_US.UTF-8)"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_corefx_baseline/151/

**Failed log:**
[code]

[2019-02-25 02:03] VincentBu opened #22824 "Assertion failed 'featureSIMD'"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_jitnosimd_tst/59/

**Failed tests:**
baseservices_compilerservices._modulector_runmoduleconstructor_runmoduleconstructor_._modulector_runmoduleconstructor_runmoduleconstructor_cmd

**Log:**
[code]

[2019-02-25 02:07] VincentBu opened #22826 "[arm64] Test failed: tracing_eventsource._eventpipeandetw_eventpipeandetw_eventpipeandetw_._eventpipeandetw_eventpipeandetw_eventpipeandetw_cmd"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_gcstress0xc_minopts_heapverify1_tst/53/

**Failed tests:**
tracing_eventsource._eventpipeandetw_eventpipeandetw_eventpipeandetw_._eventpipeandetw_eventpipeandetw_eventpipeandetw_cmd

**Log:**
[code]

[2019-02-25 02:31] VincentBu opened #22827 "[arm64] System.TypeLoadException"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_corefx_jitstressregs0x10_tst/23/

**Log:**
[code]

[2019-02-25 02:49] mjsabby commented on #22320
`calli` with the managed calling convention, described in `15.5.6.3 Fast calls to unmanaged code` is the one that I do not recommend without understanding the constraints.

`calli` with an unmanaged calling convention, like `cdecl`, `stdcall`, etc still erect a PInvoke frame and are as safe as .... well calling into any unmanaged code is, so that would work for the scenario you describe.

[2019-02-25 05:42] mikedn commented on #22815
Might be worth pointing out that native intrinsics don't seem to have a memory version of broadcast. Instead, they produce the mem form by containing a set1 intrinsic, for example `_mm_broadcastb_epi8(_mm_set1_epi8(*c))` generates `vpbroadcastb    xmm1, byte ptr [rdx]`.

Funnily enough, they do this with various levels of success, for example ICC manages to emit 2 broadcasts:
[code]

[2019-02-25 06:17] sunnycase opened #22828 "Segmentation fault on Linux with .Net Core 3.0 preview2"
Reference: https://github.com/SixLabors/ImageSharp/issues/844

### Description
Resize a image from 320x240 to 128x128 cause segmentation fault on Ubuntu. It runs fine on Windows.
And I have tested it using .Net Core 2.0, it runs fine on Ubuntu and Windows.

### Steps to Reproduce
1. Clone this repo: https://github.com/sunnycase/imagesharp-issue
2. Run dotnet publish -c Release -r linux-x64
3. cd t

[2019-02-25 06:18] tannergooding commented on #22815
I think, for the integral broadcast, we can just get rid of the memory specific overload. It makes things significantly simpler, if nothing else (as AVX2 introduces both `VPBROADCAST reg, reg` and `VPBROADCAST reg, mem`.

The problem then ends up being what to do with the `float`/`double` broadcast methods. The AVX ISA only introduced the `VBROADCAST reg, mem` and AVX2 introduces `VBROADCAST reg,

[2019-02-25 07:32] ayende commented on #22820
We are also seeing something similar with this stack trace:

[code]

[2019-02-25 07:44] nooogle commented on #22792
I'm happy for this to be closed since it happens due to a combination of several bad practices. However, I don't know if this explains why EnterWriteLock always works while EnterReadLock always (eventually) locks up. The stack never overflows, the call stack is identical every time, the worker thread is still happily running (and claiming then releasing its Write lock), and other than the time it

[2019-02-25 09:47] tactical-drone commented on #22828
I am also getting random core dumps with `.Net Core 3.0 preview2`.

I am very glad to see someone else is getting it too because I have spent 2 days tracking this crash and I cannot find the cause. In Windows Subsystem for Linux the app does not exit with `SIGSEGV` but rather becomes unresponsive to `SIGTERM` and flatlines two cores. On native linux I get return `errno 139`.

The interesting part

[2019-02-25 10:18] filipnavara commented on #22820
I see quite a different managed stack trace in the dump you provided:

[code]

The unmanaged one is also quite different too and ends in:

[code]

[2019-02-25 10:52] ayende commented on #22820
Check thread 35, which is what WinDBG stopped on when I was doing live debugging for this.

[code]

[2019-02-25 10:59] ayende commented on #22597
Current status: the KB was re-installed silently and I ended up with
![image](https://user-images.githubusercontent.com/116915/53332955-38a92000-38fd-11e9-840b-cab50832ece1.png)

[2019-02-25 11:02] filipnavara commented on #22820
Weird, usually the debugger switches me to correct thread after `!analyze -v`. Oh well, at least I see the same thing now.

[2019-02-25 11:04] benaadams commented on #22820
/cc @kouvel @janvorli

[2019-02-25 11:53] janvorli commented on #22820
I am taking a look.

[2019-02-25 12:32] janvorli commented on #22820
@ayende I assume you have used 64 bit windbg to open the dump, right? It you open it with the wow64 version of windbg, then the call stack shown is quite different. The frame with unknown IP address is gone and there is no EH. While it is strange that the call stack differs this way, the one showed with Wow64 (which is the right one to use for debugging 32 bit code) matches your managed stack dump

[2019-02-25 12:51] ayende commented on #22820
If this helps, it is fairly easy to reproduce.
The code is here: https://github.com/ravendb/ravendb with commit hash `6aa5833c5c6470f714d5432b10299a02d8d11639`.

You can go to `tests/Tryout` folder and just execute `dotnet run` in x86 and it will fail in the first 100 iterations or so in most cases

[2019-02-25 12:59] RussKeldorph commented on #22824
@tannergooding @CarolEidt @fiigii

[2019-02-25 13:17] janvorli commented on #22820
That's great, I was just about to ask if the code is open source.

[2019-02-25 14:12] MichalStrehovsky commented on #22658
Legal forms of TypeSpec are all defined in ECMA-335:

![typespec](https://user-images.githubusercontent.com/13110571/53342587-9134e900-390e-11e9-9f0e-0c8bdc9bc364.png)

The examples above all violate the spec and are therefore invalid. Various tools take various approached to deal with it. I think they should all be erroring out, because it's bad input.

We can reopen if you have other concerns.

[2019-02-25 14:12] #22658 closed

[2019-02-25 14:54] #19882 closed

[2019-02-25 14:57] RussKeldorph commented on #19893
Let's enhance dotnet/performance if the desired functionality isn't already there.

[2019-02-25 14:57] #19893 closed

[2019-02-25 15:19] tannergooding commented on #22824
Issue should be resolved with https://github.com/dotnet/coreclr/pull/22831

[2019-02-25 15:56] janvorli commented on #22820
I've collected the following additional details:
* GC info for the method where the issue occurs: https://gist.github.com/janvorli/214f87aeddb21fd265f7f6ee188a870b
* Disass of the method where the issue occurs: https://gist.github.com/janvorli/154baff3f5d3ba77f33e43b2f42e9306

The call at offset 0x11D4 - address 0e995fc4 (return address at offset 0x11DA - 0e995fca) is passed an object reference in

[2019-02-25 15:59] janvorli commented on #22820
@ayende I've tried to repro the issue, but the commit doesn't exist (I've found another one that was result of merging in the other commit) and so that's what I've checked out: https://github.com/ravendb/ravendb/pull/8784.

The dotnet run fails to build with:
[code]

[2019-02-25 17:05] janvorli commented on #22828
@sunnycase I've tried to repro it on my native Ubuntu 16.04 and it doesn't crash. Have you only tested in on the WSL or on a Linux VM / native box?
I am going to try it on Ubuntu 18.04 VM too.

[2019-02-25 17:15] franksinankaya commented on #22690
Other interesting warnings that are about to be suppressed:

https://github.com/dotnet/coreclr/pull/22810/commits/23fecf24dd1ab57a7090ab4b4c9c7b4b6997a882

[2019-02-25 17:16] #19982 closed

[2019-02-25 17:16] janvorli commented on #22828
I can confirm that it crashes on Ubuntu 18.04 VM.

[2019-02-25 17:24] janvorli commented on #22828
Actually, it crashes on Ubuntu 16.04 with the preview2 too. I was testing it with the latest version of .NET core 3.0 built from the master branch and the issue is gone.

So it is an issue that's already fixed in the master and so the next release of .NET Core 3.0 preview should work fine for you. @sunnycase you can also use the latest version built from master that you can get here if you want to

[2019-02-25 17:30] #20114 closed

[2019-02-25 17:39] #21701 closed

[2019-02-25 17:49] #21845 closed

[2019-02-25 17:52] tactical-drone commented on #22828
I have been building https://github.com/dotnet/cli/pull/10795 but it has not worked. The problem remains.

@janvorli Can you please explain to me how you made that build? I would love to get my hands on it because I still wonder maybe this is not why mine is crashing. It could still be a bug in my system since I am using `interop`.

[2019-02-25 17:58] janvorli commented on #22828
You can download the binaries, you don't have to build it yourself. Here are the steps that I've followed to try to repro the issue with the latest SDK:
[code]

[2019-02-25 18:00] robertborr opened #22833 "ToolsError build failures in 'official/dotnet/coreclr/refs/heads/master' - '20190222.73'"
@dotnet-mc-bot commented on [Fri Feb 22 2019](https://github.com/dotnet/core-eng/issues/5311)

There were a set of failures during this build. Here is a summary of these:
* https://dnceng.visualstudio.com/internal/_build/results?buildId=104623
  - **Agent:** Hosted Mac Internal 3
  - **Error log:** /Users/vsts/.nuget/packages/microsoft.dotnet.helix.sdk/2.0.0-beta.19115.1/tools/azure-pipelines/Azur

[2019-02-25 18:10] #21994 closed

[2019-02-25 18:15] sergiy-k commented on #22624
@fadimounir, could you please estimate whether this is something we can improve in 3.0?

[2019-02-25 18:18] RussKeldorph commented on #22179
Fixed by #22496

[2019-02-25 18:18] #22179 closed

[2019-02-25 18:18] RussKeldorph commented on #22264
Duplicate of #22179

[2019-02-25 18:18] #22264 closed

[2019-02-25 18:25] RussKeldorph commented on #22510
@jashook Given your recent RID work, anything jump out at you?

[2019-02-25 18:27] cshung opened #22836 "ICorDebugRegisterSet2 does not support register with more than 64 bits."
In [cordebug.idl](https://github.com/dotnet/coreclr/blob/cf85f56e473b6cdc4a68e9758f57dc571e14c9cb/src/inc/cordebug.idl#L3987), the GetRegisters API is defined as:
[code]
As such, if a register has more than 64 bits, it would either be unsupported or truncated, we need a new API to support retrieving those registers.

[2019-02-25 18:28] jashook commented on #22510
This should be unrelated. I wonder if we have an ubuntu 14.04 uri for cordistools. Checking.

[2019-02-25 18:30] cshung commented on #6580
We have a bigger problem here - our API - `ICorDebugRegisterSet2::GetRegisters()` does not support register with more than 64 bits, it is hurting not just ARM64, but also AMD64 XMM registers.

Closing this one and track the bigger issue in #22836

[2019-02-25 18:30] #6580 closed

[2019-02-25 18:30] jashook commented on #22510
Looks like someone/somehow the rid changed to ubuntu16.04.

https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.ubuntu.16.04-x64.Microsoft.NETCore.CoreDisTools

[2019-02-25 18:31] jashook commented on #22510
I do not know where these packages are being uploaded. @swaroop-sridhar I believe you were the last person to upload these packages, do you have more insight?

[2019-02-25 18:51] RussKeldorph commented on #22823
@MattGal @MichaelSimons This appears related to dotnet/corefx#34385 and/or dotnet/cli#6052, but I haven't dug super deep.  Do we need an update to the dockerfile used to run the build?

@jashook @sandreenko

[2019-02-25 18:59] sandreenko commented on #22823
link https://github.com/Microsoft/msbuild/issues/4194

[2019-02-25 19:03] tommcdon commented on #18680
Visual Studio has fixed issues related to hangs while running under the debugger - specifically func-eval expressions that hang due to assembly loads.  Please let us know if this issue still reproduces with the latest Visual Studio 2019 preview builds.  Closing this issue for now since it seems to be over 7 months old and we are unble to repro the problem.

[2019-02-25 19:03] #18680 closed

[2019-02-25 19:07] tommcdon commented on #19194
Closing this ticket since it is being tracked on the following developer community feedback ticket:

https://developercommunity.visualstudio.com/content/problem/302780/dataflow-cancellation-crashes-dotnet-console-app-w.html

[2019-02-25 19:07] #19194 closed

[2019-02-25 19:10] tommcdon commented on #20607
Thanks @per-samuelsson!  Closing this issue.

[2019-02-25 19:10] #20607 closed

[2019-02-25 19:17] AndyAyersMS commented on #21951
I would certainly hope so.

Right, at Tier1 there's a pretty good chance all the relevant `.cctors` have completed. So while the optimization is not going to be tiering specific, it should happen more frequently with tiering.

[2019-02-25 19:20] tommcdon commented on #22137
Closing this issue as it seems resolved.

[2019-02-25 19:20] #22137 closed

[2019-02-25 19:21] AndyAyersMS commented on #21951
As for the optimization itself -- I am going to add in the array length bit sometime soon; I think that plus the above should come out looking pretty solid.

But we're also trying to wrap things up for the release.

So am going to mark this as future. If the ongoing work looks encouraging, we can still consider it for 3.0.

[2019-02-25 19:21] tommcdon commented on #22140
Looks like a duplicate to #19829

[2019-02-25 19:21] #22140 closed

[2019-02-25 19:27] mikedn commented on #22130
Random idea of the idea: what if we somehow teach VN to recognize induction variables and assign them some special VNFunc, something like `VNF_Linear(vnInit, vnStep, vnLimit)`? Easier said than done I'd guess, finding init and step should be doable, at least in trivial cases. The limit, well, not so much.

[2019-02-25 19:28] tommcdon commented on #22484
Closing as it looks like MDA code was removed per #22535

[2019-02-25 19:45] AndyAyersMS opened #22837 "JIT: implement type checker"
There are a couple categories of issues in the JIT IR that could have been caught earlier if we ran some kind of type checking phase:
* unexpected appearance of short integer types (#22666)
* mismatched uses of byrefs/native ints (#19257)

We might also want to restructure the early part of the jit so we can run checks sooner...

[2019-02-25 19:51] camainc commented on #22137
Thanks for the awesome help. I would never have figured this out on my own, and neither StackOverflow or Google was any help with this. Being able to get a response directly from the developers is GOLDEN. You guys rock.

[2019-02-25 19:52] mikedn commented on #22837
What exactly do you have in mind?

[2019-02-25 19:52] AndyAyersMS opened #22838 "JIT: consider phase to clean up mixed byref/native int uses"
There are a number of examples of cases now where the jit has difficulty with mixed byref/native int uses of some resource. These come about from pointer reinterpretation methods like `Unsafe.AsRef` and other places.

Some examples: #19257, #21051

The idea here is to run a phase after inlining to build a globally consistent view of the type of a local, possibly introducing casts where appropriate

[2019-02-25 19:53] AndyAyersMS commented on #19257
I think the rough plan for this kind of issue is to have a phase that tries to provide a globally consistent view of byrefs and native ints -- perhaps generalizing the kind of type updating that @erozenfeld introduced as part of the stack allocation work.

The importer/inliner has too limited of a window on things to fix this properly. Once we tolerate a mismatch (say at an inline) we can't easily

[2019-02-25 19:57] AndyAyersMS commented on #22837
Thinks like adopting Phases everywhere so there's common place to hang begin/end activities like dumping and checking and such.

[2019-02-25 20:48] #13235 closed

[2019-02-25 21:22] fadimounir commented on #22624
@sergiy-k Shouldn't be too much work to implement. I think we'll need to fix the allocation logic in DictionaryLayout::FindTokenWorker a bit to resize the existing dictionary (allocate larger dictionary, copy old entries, and update the MethodDesc with the pointer to the new dictionary). It's easy to get this into 3.0.

@jkotas Out of curiosity, why did we have that 4 limit in the first place, and

[2019-02-25 21:34] jkotas commented on #22624
You will need to resize the dictionary on all types. It would need to take advantage of the type dependency tracking that @davidwrighton and @kouvel have been working on. I am not sure whether this change is "easy".

Fragile NGen design required us to pick a number. 4 was chosen as a compromise between native image size and performance.

[2019-02-25 21:36] jashook commented on #22510
After some thought I believe we should move these packages out of nuget and just publish them to azure storage. We are no longer regularly building llilc and updates are going to be manual either way. Seems like we can standardize this with the formatting clang packages.

[2019-02-25 22:00] swaroop-sridhar commented on #22510
CC: @zamont, who worked on the CoreDisTools package last year.

[2019-02-25 23:14] jashook opened #22842 "[Official Build] Re-work our distro rid logic to standardize in one location"
Currently src/.nuget/dirs.props parses the __DistroRid to re-create a RID it will use to build the packages. This logic has been changed over time to be specific per arch and os, it should be consolidated into one place and shared with init-distro-rid.sh in some way.

[2019-02-25 23:20] jkoritzinsky commented on #22467
I've done a build on a Linux machine with PgoOptimize set to true and false, and the built binaries are different sizes, so I'm going to take that as PGO being correctly enabled on Linux.

[2019-02-25 23:36] richlander opened #22844 "[Breaking Change] Improving .NET Core Version APIs"
# [Breaking Change] Improving .NET Core Version APIs

We are improving the .NET Core version APIs in .NET Core 3.0. The particular changes we made are technically breaking. The changes are currently only in the master branch, so will be part of .NET Core 3.0 Preview 4, modulo feedback.

Also posted at [dotnet/corefx #35573](https://github.com/dotnet/corefx/issues/35573)

Related:

* [Improve .NET

[2019-02-25 23:50] #19218 closed

[2019-02-25 23:51] #22833 closed

[2019-02-26 00:34] sandreenko commented on #18291
`optVNConstantPropOnJTrue` can't do this transformation anymore, its purpose was to tranform
`STMT(JTRUE(RELOP(COMMA(sideEffect, OP1), OP2)), S.T. op1 =/!= op2`
to
`STMT(sideEffect), STMT(JTRUE(1/0))`.
In order to do so it checked that compare VN was constant. Now it always returns false because `sideEffect` became part of VN and `IsVNConstant` always return false if there is a sideEffect.
https:/

[2019-02-26 00:35] AndyAyersMS commented on #20260
The remaining failures are HW intrinsic related.

The assert is triggrered by Arm64's `genHWIntrinsicSwitchTable` trying to range check a non-constant immediate for the `Extract` and `Insert` operators.

My impression is that any operation that wants to introduce check control flow late like this has to run an anticipatory step upstream, eg adding a bounds check node. But once you do that it will

[2019-02-26 00:36] sandreenko commented on #18291
PTAL @briansull

[2019-02-26 00:42] sandreenko commented on #20632
We do not have altjit jobs anymore and that issue was probably fixed with #22746

[2019-02-26 00:42] #20632 closed

[2019-02-26 00:47] AndyAyersMS commented on #21594
Am going to close since I think this is fixed -- please reopen if that's not the case.

[2019-02-26 00:47] #21594 closed

[2019-02-26 00:53] AndyAyersMS commented on #20533
These have both passed in the last 4 CI runs (we've purged any history older than that).

Let me try and repro, and if so, I'll investigate.

[2019-02-26 00:55] sdmaclea commented on #22045
Is there any reason we can't disable this why we triage root cause?

[2019-02-26 00:59] danmosemsft commented on #21594
@Anipik please post back when you've verified 3.0 preview 2 or later..

[2019-02-26 01:00] Anipik commented on #21594
yeah I am on it

[2019-02-26 01:20] briansull commented on #18291
In real world code we almost never have a tree that we can prove will unconditional throw

So I am not worried about any additional code generated for this test case.

[2019-02-26 01:27] Anipik commented on #21594
@AndyAyersMS I verified and regression is no longer there. thanks for all the help and effort in resolving this

[2019-02-26 01:29] stephentoub commented on #22484
@tommcdon, there's still other MDA code in various places in the runtime, but the managed mda.cs file for MDAs fired from Corelib was deleted in that PR.

[2019-02-26 01:31] tommcdon commented on #22484
Thanks @stephentoub!  Reactivating the issue.

[2019-02-26 02:07] iskiselev opened #22845 "CoreCLR version in profiler API"
Profiler API already exposed method that expect to be used to resolve version, ICorProfilerInfo3::GetRuntimeInformation.
Unfortunately values there is no documentation that will map results from it to marketing CoreCLR releases.
Per my tests it returns on Windows:
4.0.22220 for CoreCLR 2.0.9
4.0.30319 for  CoreCLR 2.1.8, 2.2.0

Should it return value unique for each CoreCLR release? Should there b

[2019-02-26 02:27] AaronRobinsonMSFT opened #22847 "Remove remnants of native activation for managed COM servers"
Cruft:
https://github.com/dotnet/coreclr/blob/master/src/vm/appdomain.hpp#L2453

https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.CoreCLR.cs#L747-L751

Will have to update RCW activation as well.

Remove entirely:
~~https://github.com/dotnet/coreclr/blob/master/src/vm/classfactory.cpp~~

[2019-02-26 04:38] franksinankaya commented on #22745
Another approach is to stub out MIDL_INTERFACE as

#define MIDL_INTERFACE(x) struct

Then,

__uuidof() needs to be something like

#define __uuidof(T) boost::typeindex::type_index(typeid(T))

or

#define __uuidof(T) std::index(typeid(T))

Since code is compiled with -nostdinc, what's the best way to implement this?

[2019-02-26 06:43] dotnet-mc-bot opened #22849 "Test failure: JIT_Methodical._VT_etc__dbgknight__dbgknight_/_VT_etc__dbgknight__dbgknight_cmd"
Opened on behalf of @AriNuer

The test `JIT_Methodical._VT_etc__dbgknight__dbgknight_/_VT_etc__dbgknight__dbgknight_cmd` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190225.73 (Ready-To-Run Tests)
Failing configurations:
- Windows.10.Arm64
  - arm
Details:
https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/type/test~2Ffu

[2019-02-26 06:55] am11 commented on #22745
@janvorli, did the portable GUID implementation prior to v2.1 release, and removed the buidtime and runtime dependencies on libuuid: https://github.com/dotnet/coreclr/pull/16643. Could it be used with `MIDL_INTERFACE`?

[2019-02-26 07:14] fiigii opened #22850 "HW intrinsic: Assertion failed 'src->gtObj.gtClass == structHnd' on OSX"
Test case:
[code]
That triggers the assert
[code]

We saw this failure in https://github.com/dotnet/coreclr/pull/22705, maybe related to `AsXXX`.

cc @tannergooding @CarolEidt

[2019-02-26 08:23] sunnycase commented on #22828
@janvorli I have tested using the latest SDK and the issue is gone. Thank you for your help!

[2019-02-26 08:26] hoyosjs commented on #22845
That API you mentioned looks for some defined variables to populate the info and generate the strings. However, the headers that contain them are pre-compiled. You can find the change that caused the changing strings here: https://github.com/dotnet/coreclr/commit/2023be14efa54af8b339d36499018a8743b32a29#diff-56e523e96dfe1ef322266c2732ca3e72.

So I'd expect the API to continue doing exactly the sam

[2019-02-26 08:32] fiigii commented on #22850
I encountered this bug when fix #22815. Here is the complete test case [test.txt](https://github.com/dotnet/coreclr/files/2904410/Program.txt)

I am not sure if the bug is Unix-only or not (I do not have a Windows machine now).
The JIT crashed with a squence of mixed type handles, but they should be all `Known type Vector128<byte>`.
[code]

[2019-02-26 09:26] janvorli commented on #22745
@am11 we don't want to add more external library dependencies again. But I am not sure how the libuuid would help anyways. All it implements is generating uuids, converting between strings and uuids, and comparing uuids.

[2019-02-26 09:29] 0xd4d commented on #22828
@sunnycase Could you test this with tiering disabled: `COMPlus_TieredCompilation=0`

[2019-02-26 09:57] am11 commented on #22745
sorry by `it` I meant could the `PAL_Random` or `CoCreateGuid` be used in case of `MIDL_INTERFACE`, not bringing back libuuid :)

[2019-02-26 10:52] k15tfu opened #22851 "Freeing of rgILMapEntries in ProfToEEInterfaceImpl::SetILInstrumentedCodeMap()"
Hi guys!

I'm not sure who is right because there are almost no any information about releasing of `rgILMapEntries` argument in `ICorProfilerInfo::SetILInstrumentedCodeMap()`, but probably we forgot to free that memory.

This page [ https://docs.microsoft.com/en-us/previous-versions/dotnet/netframework-4.0/ms232500(v%3Dvs.100) ] says nothing about transferring ownership for `rgILMapEntries`, but i

[2019-02-26 11:50] janvorli commented on #22745
We don't need to create new guids. The guids are defined on the interfaces and have specific predefined values that external things like profiler or debugger depend on.
What we need here is to attach those guids to interfaces so that we can query a guid for a given interface.

@franksinankaya I am not sure how you envision a technique using the type_index would work. At many places, we are compari

[2019-02-26 14:02] MichalStrehovsky opened #22855 "Assert slotNumber < GetNumVtableSlots() when running crossgen with IBC"
Can be hit with Linux crossgen on System.Collections.Immutable with IBC data generated in the optimization repo.

[code]

From @briansull:

This looks like it is due to having ENCODE_METHOD_SIG_SlotInsteadOfToken set for some generic methods.

I don’t believe that we should be setting or using  this flag.

It looks like some ReadyToRun changes may have has a side effect of setting this flag.

You

[2019-02-26 14:33] jkotas commented on #22745
Yes, that should work. @franksinankaya Feel free to use it in your project, but I do not think we would want to complicate CoreCLR PAL with this.

[2019-02-26 14:33] #22745 closed

[2019-02-26 15:51] Ashera138 commented on #11299
Is this issue resolved? Can it be closed?

[2019-02-26 15:57] ayende commented on #22820
Can you try `f04980d83c3cf83e5b8ac4306ea1c15765df0237` ?
The command I run is: `& 'C:\Program Files (x86)\dotnet\dotnet.exe' run` inside the `test\Tryouts` folder.
You might need to run the `build.ps1` folder from the root folder

[2019-02-26 16:15] jkotas commented on #22845
The algorithm we use everywhere else (e.g. in `Environment.Version`) is:

1. Get the product version set by the host. In CoreCLR unmanaged code, this would be `LPCWSTR fxProductVersion = Configuration::GetKnobStringValue(W("FX_PRODUCT_VERSION"))`
2. If there is no version set by the host, fallback to use the version baked into binaries. We do have the marketing version (e.g. 3.0.0) available when

[2019-02-26 16:39] AndyAyersMS commented on #20602
Will see if I can get a local repro.

[2019-02-26 17:12] vancem commented on #22585
There is some confusion/ambiguity about what a rejitID means.   When we log when a method is JIT compiled we use
[code]
where the ReJitID Is the pConfig->GetCodeVersion().GetVersionId() expression which returns a NATIVE code version number and passes it as the ReJit ID.

However when we compute the rejit ID during rundown, we call ReJitManager::GetReJitIdNoLock which give IL version number (that i

[2019-02-26 17:29] benaadams opened #22858 "Add API IndexNotOf"
[code]
Example usage:
[code]

[2019-02-26 17:30] benaadams commented on #22858
Wrong repo

[2019-02-26 17:30] #22858 closed

[2019-02-26 17:54] janvorli commented on #22820
Somehow the 3.0 SDK was failing to build it even though it should be able to target older SDKs. Now I was able to build it successfuly, but running it fails:
[code]

[2019-02-26 18:01] davidwrighton commented on #22624
The type dependency tracking isn't yet checked in, but I could revive the prototype. (The data structure I was using is now checked in, so the actual type dependency tracking should be much simpler to put together). Also, as the prototype doesn't actually track related generic instantiations we'd need to look into the cost to do so.

[2019-02-26 18:17] kouvel commented on #22585
I think the intention is to have it always be the native code version ID, which just increments from zero for each native code version generated regardless of IL version. I'm planning on updating the event data to specify the tier separately.

[2019-02-26 19:24] AndyAyersMS commented on #20533
Can't get 18884 to fail even with sideloaded CPU stress (2000x runs). 18362 still going, but no repro there yet either.

[2019-02-26 19:37] AndyAyersMS commented on #20533
18362 no repro after 1000x runs with sideloaded CPU stress. So will close this as no repro.

[2019-02-26 19:37] #20533 closed

[2019-02-26 19:39] #22747 closed

[2019-02-26 19:50] ericstj opened #22862 "ILAsm should support full signing"
Roslyn can do full-signing on CoreCLR, ILAsm should do the same.  https://github.com/dotnet/roslyn/issues/8210

/cc @jkotas

[2019-02-26 19:57] sandreenko commented on #18291
I was not able to repro the issue without incremental ref count updates.

[2019-02-26 19:57] #18291 closed

[2019-02-26 20:02] jkotas commented on #22862
I do not think it makes sense to build full strong name signing into .NET Core ilasm.

If we need a full-signing in .NET Core build tooling for some reason, it should be built as separate tool.

[2019-02-26 20:12] fadimounir commented on #22624
Hmm, you are right. Resizing the dictionary on all types is more involved. I'll need to investigate this more...

[2019-02-26 20:13] AndyAyersMS commented on #22079
Probably a stretch to promise any further improvements for 3.0, but am going to take another look.

[2019-02-26 20:14] ericstj commented on #22862
I noticed this when playing around with ILproj projects.  Our default is sign new assemblies with the open key which contains a public/private pair and this failed.  We can workaround it for sure, but I felt like the "right fix" was to address it in the tool.

[2019-02-26 20:34] ayende commented on #22820
Sorry about that.  Forgot that you need it.
You can fix this by first running this command:

[code]

Please note that I'm running this on CoreCLR 2.1.8, not 3.0

We haven't verified this issue on other versions of the runtime.

[2019-02-26 20:44] janvorli commented on #22820
I know. But it should be possible to build using 3.0 targetting older versions - it should just honor the versions specified in the project files.

[2019-02-26 20:47] janvorli commented on #22820
Ok, I was able to start the test now, but it is getting one exception at the beginning and then some timeout exceptions:
[code]

[2019-02-26 20:52] ayende commented on #22820
Are you running this inside a debugger, or on some really slow I/O?

[2019-02-26 20:56] janvorli commented on #22820
No, without a debugger on my main dev box (Intel XEON E5530, 8 cores, 24GB RAM). Only the disk is not a SSD. Let me try to run it from a SSD drive.

[2019-02-26 21:07] pakrym opened #22863 "Automatically stackalloc array allocations if they are assigned to a Span"
Considering that we know that allocated memory would not leave the stack JIT could optimize the following cases:

1. When using a const as array size allocation can be turned into a stackalloc if it meets some predefined threshold for safe stackallocs.

[code]

[code]

2. For dynamic array sizes condition might be transformed into an intrinsic:

[code]

@jkotas @AndyAyersMS @davidfowl @KrzysztofCw

[2019-02-26 21:08] janvorli commented on #22820
Oh, I've found that I was running some heavy tests in the background, I've forgotten about it. Now it doesn't timeout anymore. I am sorry for the confusion.

[2019-02-26 21:10] EgorBo commented on #22863
https://github.com/dotnet/coreclr/issues/20253

[2019-02-26 21:11] ayende commented on #22820
This test is spinning 5 servers internally which may hit the disk. If you have high disk activity and non SSD disk, that can certainly explain it. Great that this works now.

On my end, in 64 bits, it just works. In 32 bits, it fails after about 50 runs

[2019-02-26 21:16] janvorli commented on #22820
Hmm, it seems I was just lucky before. That test run has crashed after 4 iterations with stack overflow though. Attempt to re-run the test got the timeout again. So it seems I am really at an edge. Is there a way to increase that timeout? I would like to run it with GC stress enabled to trigger the issue more reliably and that will slow everything down a lot.

[2019-02-26 21:22] ayende commented on #22820
Try this:

[code]

By the way, nothing in this test _should_ cause StackOverlow, I also run into that error (but couldn't reproduce in WinDBG so can't pull a stack trace).

I'm _assuming_ that this is another instance of: https://github.com/dotnet/coreclr/issues/22597
but this this when you have the access violation on a stack pointer, which result in a different error.

[2019-02-26 21:25] janvorli commented on #22820
I have forgotten to ask - are you hitting this issue with both Debug and Release configurations?

[2019-02-26 21:25] Tornhoof commented on #22863
There is also https://github.com/dotnet/corefx/issues/27985 in corefx by @GrabYourPitchforks

[2019-02-26 21:28] benaadams commented on #22820
If you are throwing exceptions in (reasonably deep) async it could also be https://github.com/dotnet/roslyn/issues/26567

[2019-02-26 21:36] AndyAyersMS commented on #22820
My impression is that the issue behind #22597 will only cause spurious AVs in a short window just after calling `VirtualAlloc` (as the 2.1 jit does when it needs more memory) on that particular osver/kb combination. I would not expect it to lead to a stack overflow.

[2019-02-26 21:44] ayende commented on #22820
@janvorli I'm sorry, I forgot to mention that. I'm hitting that in `Release` configuration.
Now that I think about it, the stack overflow I got was when I run it in `Debug` configuration,not `Release`

@benaadams We do have a lot of async calls, yes.

@AndyAyersMS I'm not sure what the root cause is for this, but wouldn't calling `VirtualAlloc` to commit additional stack space and then getting AV

[2019-02-26 22:02] AndyAyersMS commented on #22820
VirtualAlloc'd memory and stack are in different parts of virtual address space. Stack overflow is usually triggered by accessing a reserved guard page at end of stack. So, no, not likely they'd interfere with one another.

[2019-02-26 22:33] tommcdon commented on #19764
Moving to the 'future' milestone until we get a repro to investigate

[2019-02-26 22:35] janvorli commented on #22820
@ayende with COMPlus_GCStress=4, I've hit an interesting exception that is probably unrelated to the issue we are hunting, but that might indicate a bug in your code. So I am sharing it in case you'd like to double check that:
[code]

[2019-02-26 22:39] tommcdon commented on #19680
@pauldotknopf please let us know if this issue was not resolved, closing for now

[2019-02-26 22:39] #19680 closed

[2019-02-26 22:41] tommcdon commented on #19204
@vancem is this issue resolved or is there other outstanding work we need to do for this?

[2019-02-26 22:45] tommcdon commented on #18452
cc @sywhang

[2019-02-26 22:54] sywhang commented on #20833
@k15tfu Sorry I didn't realize that you pinged me on this earlier. Must've slipped through my inbox. Feel free to ping me again with an "@" if I don't respond timely as I may miss emails :-)

I believe for that particular profiler, what it does is that it uses some definitions from files that are inside the ```src\inc``` directory in the CoreCLR repo (it doesn't use it to run with it). So you don'

[2019-02-26 22:55] sywhang commented on #22845
I will change the existing `ICorProfilerInfo3::GetRuntimeInformation` to return runtime info that matches `Environment.Version`.

[2019-02-26 22:56] AndyAyersMS commented on #20602
No repro after 1000x runs with additional CPU stress loading. Closing.

[2019-02-26 22:56] #20602 closed

[2019-02-26 22:59] AndyAyersMS commented on #22863
Do you have a specific instance in mind that you can link to? Our ability to prove that

is currently fairly limited.

cc @erozenfeld

[2019-02-26 23:12] pakrym commented on #22863
An instance of what? Usages that might benefit from this?

For example: https://github.com/aspnet/AspNetCore/blob/master/src/Servers/IIS/IIS/src/Core/IO/AsyncWriteOperationBase.cs#L36

Doesn't using `Span<T>` guarantee that?

[2019-02-26 23:17] tannergooding commented on #22863
There are APIs that allow you to get the underlying ref from a `Span<T>`, so while the `Span<T>` itself shouldn't leave the stack; the underlying `ref` still could.

[2019-02-26 23:23] pakrym commented on #22863
Sure, but that is true for stackalloc-ed spans too.

[2019-02-26 23:36] tannergooding commented on #22863
The difference is that returning a pointer to the current method's stack is bad/unsafe.

Allocating an array, and indirectly returning a ref to it outside the current scope; while unlikely, is completely valid to do, provided you keep it as a `ref` the entire way through.

The compiler even lets you do this in trivial cases ([sharplab](https://sharplab.io/#v2:EYLgHgbALAPgAgBgARwIwG4CwAoHcDMSAzgC4B

[2019-02-26 23:39] jkotas commented on #22863
Related to: https://github.com/dotnet/csharplang/issues/1344#issuecomment-369440829

[2019-02-26 23:39] pakrym commented on #22863
I see. I didn't know that the sample you provided is allowed.

[2019-02-26 23:49] AndyAyersMS commented on #22079
May decide to push the promotion bit forward (that is, allowing Ranges to be promoted, though as noted above, not enregistered) as this at least hits modestly often.

Updated diffs (based at fae2a56c)

[code]

Beyond that the conditional assignments to the underlying index fields inhibit our ability to reason about the values of those fields, even if we ultimately trim away the conditions and "kno

[2019-02-27 00:12] RussKeldorph commented on #19302
Another example: https://mc.dot.net/#/user/coreclr-ci/pr~2Fdotnet~2Fcoreclr~2Frefs~2Fpull~2F22860~2Fmerge/test~2Ffunctional~2Fcli~2F/20190226.756/workItem/tracing.eventsource/analysis/xunit/tracing_eventsource._eventpipeandetw_eventpipeandetw_eventpipeandetw_~2F_eventpipeandetw_eventpipeandetw_eventpipeandetw_cmd

@vancem @jorive @noahfalk This test is regularly causing both official build and PRs

[2019-02-27 00:15] vancem commented on #19204
This issue has been fixed by the PR referenced above.

[2019-02-27 00:15] #19204 closed

[2019-02-27 00:23] vancem commented on #19302
@RussKeldorph  Can you comment on the frequency of this causing grief?

@jorive can you disable the test until you hav time to look at the issue?

@RussKeldorph   Note that what Jose will do is instrument the code and run it alot in a loop, but if that does not reproduce the problem he is likely to need to enable the test again (so he can get more information from his instrumentation).

[2019-02-27 00:27] janvorli commented on #22820
I keep getting the stack overflow even in Release builds. So I've tried to run it under WinDbg and I can see it getting constant stream of exceptions (I guess at least 10 per second or even more):
[code]

[2019-02-27 00:43] benaadams commented on #22863
Would that be an item for `COMPlus_JitObjectStackAllocation=1` https://github.com/dotnet/coreclr/issues/20253

/cc @erozenfeld

[2019-02-27 00:45] benaadams commented on #22863
@EgorBo snap; though I had lots of lag :)

[2019-02-27 01:23] benaadams commented on #20253
Call it a "lock elision" optimization and highlight it as a feature 😉 I think that's what Java does, unless I misunderstand what they do.

Equally could drop interlocked in objects that don't escape (where they operate on the object)?

[2019-02-27 01:34] AndyAyersMS commented on #21684
I'll investigate.

[2019-02-27 01:36] jorive commented on #19302
@vancem OK, will do.

[2019-02-27 01:41] joshgarnett commented on #21380
What are the chances this will get backported to 2.2?  I noticed the current milestone is 3.0.  Right now the new metrics aren't usable on linux servers sadly.

[2019-02-27 01:41] AndyAyersMS commented on #21684
We don't seem to run the altjit jobs anymore -- we just run these natively. So the new link would be

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_windows_nt_corefx_jitstress1_tst

The last two runs of this have timed out. Am going to trigger a new one.

[2019-02-27 01:42] cshung opened #22868 "_ASSERTE ((requester & TAR_Thread) == TAR_Thread);"
In a certain debugging scenario, we have this call stack and causing the process to crash.
[code]

With the stack trace, it is fairly obvious why this assert trips, we are passing `TAR_FuncEval` from [Debugger::FuncEvalAbort()](https://github.com/dotnet/coreclr/blob/6b088eea28220094f2d0023165d30b5e676c20ef/src/debug/ee/debugger.cpp#L15503) to [Thread::UserAbort()](https://github.com/dotnet/coreclr

[2019-02-27 01:53] jorive commented on #19302
@vancem I'll try your new package 2.0.36 first.

[2019-02-27 02:08] AndyAyersMS commented on #21684
Seems odd that an altjitrun would run into non-assert failures that don't appear in  normal runs. After all we don't run the altjit-generated code, we throw it away.

Could be a timing issue, I suppose, as altjit runs take quite a bit longer to run (since every method is jitted 2x).

[2019-02-27 02:35] sywhang commented on #21380
@joshgarnett There is a bug bar that needs to be met before we can put anything on 2.2. I'm not entirely sure if this bug meets the bar given the scope of change.

Quick question - Is there a particular reason you can't use 3.0 preview? The fixes I made should ship with .NET Core 3.0 Preview 3, and that should address this issue. If there is a strong reason that you cannot move to 3.0 and stay on

[2019-02-27 02:51] noahfalk commented on #22845
Aligning it with the algorithm used for Environment.Version sounds good to me. Thanks all jumping in 👍

@iskiselev - is your goal for the API to get a marketing version string that you can display to users and nothing else? Or were you hoping to make other inferences from it such as "In version X, the profiler API Y has behavior Z". If its the latter case we may have (or be able to create) better

[2019-02-27 03:31] AndyAyersMS commented on #20226
Current runs don't show these failures. So likely this is no repro. But we'll see....

[2019-02-27 03:46] noahfalk commented on #21380
@sywhang - I can't speak for @joshgarnett specifically, but for many customers the choice is usually between waiting for the next major release (3.0) vs. waiting for a servicing release (2.2.x). Preview releases are great for poking around and testing upcoming features, but if you need to deploy to production using a Preview build is a risky proposition.

We can follow up with the servicing folks

[2019-02-27 04:07] noahfalk commented on #22502
Just fyi - its true we want to be multi-thread safe, but as this code is intended to be high performance we also need to be careful what types of synchronization we use. The flag was probably created to avoid having a lock, so adding a lock around it might be counter-productive : )
 At one end of the range we've got options like Crst (a critical section) that are easy to code but slower, and at th

[2019-02-27 06:04] #22868 closed

[2019-02-27 06:35] mikedn commented on #20253
AFAIR the first Java collection classes were synchronized. Of course, they found out that this isn't such a great idea and their implementation of escape analysis was also trying to help by removing synchronization when the collection object wasn't escaping the stack.

[2019-02-27 07:20] AndyAyersMS commented on #21684
Triggered run https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_windows_nt_corefx_jitstress1_tst/25/ says it passed. Howver I am skeptical; it looks like it did not run any tests:
[code]

[2019-02-27 08:39] fiigii commented on #22850
This bug is caused by calling `AsXXX` on `this`
https://github.com/dotnet/coreclr/blob/39f9e894aa16113c2c0dda1e99ce5dd606bd45a6/src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/Vector128_1.cs#L113

Seems calling `AsXXX` on `this` cannot change the type handle, so the following IR triggers this assert
[code]

But calling `AsXXX` on other values is okay:
[code]

[2019-02-27 08:43] fiigii commented on #22850
@CarolEidt Why is `this` special for this case?
Do you think we should fix this in JIT? Right now, we have only one instance method `Equals` that needs `this.AsXXX` and I plan to change it to an intrinsic due to https://github.com/dotnet/coreclr/issues/21794.

[2019-02-27 09:23] davidfowl opened #22873 "Implement IMemoryOwner<T> on Array"
I've been thinking about clean ways to pass around the `T[]` returned from an `ArrayPool<T>` without having to pass around a separate owner object that represents the memory pool and the array itself. Instead it would be cleaner if we could pass a `T[]` around as an `IMemoryOwner<T>` without having to allocate an extra object. On top of that, we'd need to figure out how we could make the `IMemoryO

[2019-02-27 09:54] fiigii commented on #22850
Ah, because `this` object has a different IR structure `OBJ(LCL_VAR[byref])` and `impSIMDPopStack` does not handle the structure of `this`. Meanwhile, it seems non-trivial to change `impSIMDPopStack` to handle `this` obj, so I am still not sure the JIT fix is worthy or not.

[2019-02-27 10:21] janvorli commented on #21582
I've tried to remove setting init_count to zero in PALCommonCleanup and couldn't hit the issue anymore. Running over the weekend, about 4000 iterations passed. I am going to fix that, but it is going to be slightly more involved to be a clean fix.

[2019-02-27 10:33] LadislavLang opened #22874 "AccessViolationException in RuntimeHelpers.PrepareMethod(System.Runtime.Intrinsics.X86.Sse2.MoveScalar)"
Tested with targetframework netcoreapp2.2

[code]

[2019-02-27 10:33] stephentoub commented on #22873
I do not think this is a good thing to do. It would make every array disposable, which is terribly confusing. It would put pooling in the face of every .NET developer. It would make use-after-free errors really likely. It would add non-trivial additional costs to what is a critically core type. It would tie that type to a specific pooling design. And probably a bunch of other concerns.

[2019-02-27 10:45] #22828 closed

[2019-02-27 11:05] janvorli commented on #22820
I have tried to run it many times and I keep getting the stack overflow. Sometimes the test can make 10 or 20 iterations and then it crashes with the stack overflow.

[2019-02-27 11:19] ayende commented on #22820
@janvorli The lock dispose issue is fine. We probably timed out in creating the cluster and then timedout, but still had actions scheduled to do work on that. The exception is expected and in real code (not this test) is handled.

The network exception is also expected, this is something that happen when we spin up / down nodes.

[2019-02-27 11:20] ayende commented on #22820
Given the difficulties in reproducing this on your end. Is there anyway I can gather more information on my side?

[2019-02-27 11:27] janvorli commented on #22820
There is one thing. I would need to enable stresslog so that information on what was moved by GC and when is recorded in the dump. Can you please try to repro it with the following env variables set?
[code]
The last two variables don't have to be set if you cannot repro it with those. It would just make looking into the results easier.

If you could repro it and share the full dump with me, I woul

[2019-02-27 11:39] ayende commented on #22820
About the stack overflow thing, I got it as well.

[code]

I _think_ this is related to something we did. Investigating this now

[2019-02-27 12:15] RussKeldorph commented on #19302
@vancem 122 out of the last 5996 win-x64 runs have failed due to the exception @benaadams first reported.  Not an overwhelming failure rate, but more than we can tolerate for PRs long term.  I should clarify, though, that this is failing 100% of Nano runs (this issue) which means that official builds are never green, so this test needs to be disabled or made to pass on Nano ASAP.  Sorry for the co

[2019-02-27 12:18] ayende commented on #22820
1

[2019-02-27 12:45] janvorli commented on #22820
Btw, I was able to make it build with 3.0 SDK (still targetting 2.1). I just needed to add the following package reference to `Raven.Server.csproj`:
[code]
After that I've tried to update the `Tryouts.csproj` to target 3.0 and after fixing an issue with SqlCommandTimeout causing crash in ConfigurationCategory.cs at line 253 (the defaultValue was empty string for some reason on 3.0) and follow up c

[2019-02-27 13:16] joshgarnett commented on #21380
@noahfalk is correct.  My current team is working on a new service that will likely hit production here soon.  I'm always cagey about going with initial major releases as well as there always ends up being some gotcha fixed in a dot release.

[2019-02-27 14:02] jkotas commented on #22851
Runtime makes a copy of `rgILMapEntries`: https://github.com/dotnet/coreclr/blob/ee755e322dabc2fc280e2561b0fbaf6e90aedf54/src/vm/proftoeeinterfaceimpl.cpp#L4624

There is no transfer of ownership. The profiler code can allocate the array any way you like and it is responsible for freeing it. The array can be freed right after SetILInstrumentedCodeMap returns.

[2019-02-27 15:34] CarolEidt commented on #22850
I haven't looked at this in detail, but I believe we should be able to support this in the JIT. I'll assign this to myself and take a look at it.

[2019-02-27 16:30] RussKeldorph commented on #22729
@jorive This is another test preventing the official build from being green.  Could you take appropriate action?

@vancem

[2019-02-27 16:31] RussKeldorph commented on #22727
@jashook If this isn't a quick fix, could you disable it so we can get the official builds green?

[2019-02-27 16:34] RussKeldorph commented on #20023
@sywhang If this isn't a quick fix, could you disable the test against this bug so we can get the official build green?

[2019-02-27 16:35] janvorli commented on #22820
@ayende I've added `Console.WriteLine($"HandleUnsuccessfulResponse {response.StatusCode}");` at the beginning of the HandleUnsuccessfulResponse. I can see that when the stack overflow happens, there are thousands of `HandleUnsuccessfulResponse Gone` printed to the console. In the iterations that succeeded before the stack overflow, I see other HandleUnsuccessfulResponse, but never with the "Gone".

[2019-02-27 16:36] RussKeldorph commented on #19406
@kouvel This test often causes the official build to fail.  Could we disable it or make it more robust ASAP?

[2019-02-27 18:13] vancem commented on #19302
@jorive - The 100% repro rate on Nano is intersting (and frankly like to be an independent issue).   You should investigate that one first.

[2019-02-27 18:28] jorive commented on #22729
@RussKeldorph will do

[2019-02-27 18:49] ayende commented on #22820
We found the cause for the SO, yes. I'll have a branch ready with just this fix for you in 15 minutes

[2019-02-27 19:14] janvorli opened #22888 "Manifest resource stream doesn't keep the underlying assembly alive"
The UnmanagedMemoryStream wrapping manifest resources obtained from the RuntimeAssembly.GetManifestResourceStream doesn't keep the underlying RuntimeAssembly alive. So in case the assembly is collectible, it is unloaded and the UnmanagedMemoryStream still exists, it references potentially bogus data.

[2019-02-27 19:15] janvorli commented on #22888
We can fix that by creating a new memory stream class derived from the UnmanagedMemoryStream that would also contain a reference to the underlying RuntimeAssembly.

[2019-02-27 19:26] janvorli commented on #22888
cc: @marek-safar

[2019-02-27 19:34] ayende commented on #22820
Here is the branch without the SO issue: https://github.com/ayende/ravendb/tree/av-repro

[2019-02-27 19:37] RobSiklos commented on #22330
What are the chances this fix will make it into some future 2.2 update?

[2019-02-27 19:42] sywhang commented on #20023
I opened #22889 to disable this test for now. Thanks.

[2019-02-27 19:43] jorive commented on #19302
Those failures are before your fix (2.0.36).

[2019-02-27 20:00] jorive opened #22891 "Re-Enable EventPipeAndEtw test (disabled with PR #22870)"
Disabled with #22870

[2019-02-27 20:14] #22824 closed

[2019-02-27 20:33] tannergooding opened #22893 "ARM/ARM64 returns an incorrect result for `pow(x, 1)`"
ARM/ARM64 currently return `0` for `Math.Pow(double.Epsilon, 1)` when it should be returning `double.Epsilon`. My best guess is that the implementation is not properly special casing `y=1`.

[2019-02-27 20:33] tannergooding commented on #22893
CC. @AndyAyersMS logged this to track the underlying issue for https://github.com/dotnet/coreclr/pull/22802

[2019-02-27 20:34] tannergooding commented on #22893
There are other various cross-platform differences for the various Math functions so I am putting this into `future`.

[2019-02-27 21:21] tannergooding opened #22897 "The GenTreeHWIntrinsic::OperIsMemoryLoad/Store methods could be simplified"
As per https://github.com/dotnet/coreclr/pull/22886#discussion_r260906262, the `GenTreeHWIntrinsic::OperIsMemoryLoad/Store()` methods are currently fairly complicated.

It might be simpler to instead just special-case the `broadcast` and `gather` instructions rather than dealing with `MaybeMemory*` flags and categories.

[2019-02-27 21:22] jorive opened #22898 "Re-Enable RuntimeEventSource test."
The test is unnecessarily flaky and unreliable.

[2019-02-27 21:29] vancem commented on #22898
Was disabled with https://github.com/dotnet/coreclr/pull/22899.   Because of failures: #18907, #19340, #22441, #22729.

[2019-02-27 21:43] jorive commented on #18907
Test disabled with https://github.com/dotnet/coreclr/pull/22899

[2019-02-27 21:43] #18907 closed

[2019-02-27 21:43] jorive commented on #19340
Test disabled with https://github.com/dotnet/coreclr/pull/22899

[2019-02-27 21:43] #19340 closed

[2019-02-27 21:43] jorive commented on #22441
Test disabled with https://github.com/dotnet/coreclr/pull/22899

[2019-02-27 21:43] #22441 closed

[2019-02-27 21:43] jorive commented on #22729
Test disabled with https://github.com/dotnet/coreclr/pull/22899

[2019-02-27 21:43] #22729 closed

[2019-02-27 21:47] jkoritzinsky commented on #22740
I'm not sure why that would fail. Looks like it was a one-off failure too....

[2019-02-27 21:47] #19302 closed

[2019-02-27 21:48] jorive commented on #22045
Closed by https://github.com/dotnet/coreclr/pull/22870

[2019-02-27 21:48] #22045 closed

[2019-02-27 21:48] jorive commented on #22826
Closed by https://github.com/dotnet/coreclr/pull/22870

[2019-02-27 21:48] #22826 closed

[2019-02-27 21:52] AndyAyersMS opened #22900 "JIT: inconsistent handling of GT_LCL_FLD in value numbering"
See notes in #22867.

Basically, entire stores are handled differently than entire reads, so that if there's a store followed by a load they get numbered differently. One would expect a certain symmetry in the following bits of code:

Reads:
https://github.com/dotnet/coreclr/blob/5c95e296a3f67d6d04146f455fe364e2fd9e9ddc/src/jit/valuenum.cpp#L7043-L7070

Writes:
https://github.com/dotnet/coreclr/bl

[2019-02-27 21:55] janvorli commented on #22820
Unfortunately I got stack overflow with this version too. Although it has taken much longer than before (72 iterations), the call stack (at least the repeating part looks the same as before.)

But, the good news is that with COMPlus_GCStress=4, I was able to repro the issue quite quickly. However, the `Sparrow.Utils.LockAlreadyDisposedException: Cannot access a disposed object.` keeps kicking in q

[2019-02-27 22:42] fanliang11 opened #22902 "The AssemblyLoadContext method calls the LoadFromStream method at runtime to throw an AssemblyLoadContext_Verify_NotUnloading exception."
Hello .Net Core Community,
[Surging](https://github.com/dotnetcore/surging)  Is a service engine framework based on dotnetcore. It has a problem for a long time. Can you help me? Because need to make the business module hot update, need to generate a dynamic proxy at runtime to achieve grayscale publishing, but use AssemblyLoadContext hot The update loader throws an exception `AssemblyLoadContext

[2019-02-27 23:16] brianrob commented on #22467
That is likely true.  Can you share the binary drops for those two builds?  I'd like to do a bit of testing on them.

[2019-02-27 23:19] jkoritzinsky commented on #22467
The files are too big to upload to GitHub, so I'll shoot you an email with them.

[2019-02-27 23:19] vancem opened #22904 "Tiered JIT compilation causes profilers to not allow source line profiling."
This is a follow-on issue for issue #22585.    We have applied a patch which fixes the problem where method names are not resolved, but did not solve it completely (line level profiling is still broken),   This issue tracks fixing that.

SYMPTOM:  If you collect a profile by attaching and detaching from a program, and Tiered JITTing is turned on (it is the default), and the methods of interest are

[2019-02-27 23:19] iskiselev commented on #22845
@noahfalk, we are looking into it from APM point of view: profiler can be loaded by lot's of different application for which we should gather some information/statistics to be represented to users. So now we are interested in API that will give some string that can be used to identify CLR version on which we are executed on. It may be not marketing version, but it will be good if it will be some b

[2019-02-27 23:20] brianrob commented on #22467
Sounds great.  If you can drop them on a share and send me a link in e-mail that would be awesome.  Thanks.

[2019-02-27 23:23] jkoritzinsky commented on #22467
Sent you a link

[2019-02-27 23:46] janvorli commented on #22820
@ayende I've forgotten to mention one more env vars that needs to be set to get the stresslog:
[code]
However, since I can repro it now, I don't need a crash dump from you anymore. So I just mention it for completeness and your future reference should you need it.

[2019-02-27 23:47] AndyAyersMS commented on #21684
Possibly more relevant: https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_ubuntu16.04_corefx_jitstress1/

These seem to be hitting an infrastructure issue:
[code]
Seems like any failure here is likely covered by #18886 too.

[2019-02-27 23:51] AndyAyersMS commented on #21684
Infra issue tracked by #22823.

[2019-02-28 00:09] erozenfeld commented on #22514
I wasn't able to repro this in 27,792 runs on my machine (synched to the same commit as in the linked job, with or without machine stress). It hasn't repro-ed in subsequent runs of the x64_checked_windows_nt_gcstress0xc_zapdisable_jitstress2 job in Jenkins either. Closing as no repro, will re-open if we see it again.

[2019-02-28 00:09] #22514 closed

[2019-02-28 00:26] vancem commented on #22904
@noahfalk  @jorive  FYI

[2019-02-28 00:33] MichaelSimons commented on #22653
I just encountered this issue while trying to produce the latest 3.0 preview3 Docker ARM32 images for https://github.com/dotnet/dotnet-docker.  I view this as a blocker for 3.0 preview3.

CC @leecow

[2019-02-28 00:41] Maoni0 commented on #15136
the existing COR_PRF_HIGH_BASIC_GC profiling is VERY heavy weight. #22866 added a lightweight GC profiling option that just gives you
* GC start callback
* GC end callback
* update generational bounds

this is something you can use on production machines. you call access this by calling `ICorProfilerInfo5::SetEventMask2` and set `COR_PRF_HIGH_BASIC_GC` in `dwEventsHigh`.

[2019-02-28 00:42] AndyAyersMS commented on #22130
Don't think we can promise any improvements here for 3.0, so will move to future.

[2019-02-28 00:59] jorive commented on #22827
[code]

[2019-02-28 01:02] jorive commented on #22827
In the same run, another test failed:
[code]

[2019-02-28 01:06] VincentBu opened #22907 "[x86] Test failed: System.Tests.EnvironmentTests.CurrentDirectory_SetToValidOtherDirectory"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_corefx_baseline/755/

**Failed tests:**
System.Tests.EnvironmentTests.CurrentDirectory_SetToValidOtherDirectory
System.Tests.AppDomainTests.GetData_SetData
System.Net.Http.Tests.HttpSystemProxyTest.HttpProxy_InvalidSystemProxy_Null(rawProxyString: \" ; \")

**Log:**
[code]

[2019-02-28 01:18] livarcocc commented on #22653
@dagood for core-setup

[2019-02-28 01:18] vancem opened #22908 "Runtime does not emit NativeCode Ids properly on ETW/EventPipe Rundown"
During the investigation of issue #22585, I discovered that the run is inconsistent about IDs that it generates that distinguish different versions of  native code for the same method (which you now routinely get with Tiered JITTing).

As @noahfalk mentions, when Tiered JITTing was added the ReJitID in the Method/LoadVerbose and MethodUnloadVerbose has been changed.  Previously there the only time

[2019-02-28 01:21] vancem commented on #22904
Please consider also addressing #22908 which is related code.

[2019-02-28 01:22] vancem commented on #22908
+ @kouvel

[2019-02-28 01:27] VincentBu opened #22909 "[x86] can't find any installed dotnet SDKs"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_corefx_tieredcompilation/215/

**Log:**
[code]

[2019-02-28 01:55] hoyosjs commented on #19791
VS/VSCode no longer trap on

[2019-02-28 02:46] AriNuer opened #22911 "[arm64/windows] Build timed out in arm64_cross_checked_windows_nt"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_checked_windows_nt/6677/

**Log:**
[code]

[2019-02-28 03:28] dagood commented on #22653
This would be the host area. @vitek-karas, any ideas?

[2019-02-28 06:45] AndyAyersMS commented on #22874
x86 intrinsics were in preview form in 2.2, so not officially supported. They will be supported in 3.0, and your example works fine there.

[2019-02-28 07:07] AndyAyersMS commented on #22677
cc @richlander

I believe arm64 on Linux in .Net Core 2.2 is just a preview, and full support requires 3.0. See for instance dotnet/announcements#82.

If you can reproduce this on 3.0, please let us know.

[2019-02-28 07:51] ayende commented on #22820
I'm afraid that `LockAlreadyDisposedException` is actually expected in this scenario. I changed my code to just `try/catch` around the test run in `Program.cs` and keep running it. That allow me to ignore test failures / errors while searching for the actual issue.
Really happy that you were able to reproduce this on your side. It is a GC hole, right?

[2019-02-28 07:52] albahari opened #22916 "WebBrowser.ObjectForScripting doesn't work"
(Note: this has also been logged in the winforms repo: https://github.com/dotnet/winforms/issues/248. I've logged it here at the request of @AaronRobinsonMSFT due to the fix requiring work in coreclr.)

When you set the ObjectForScripting property on a WinForms WebBrowser control and then click a link that calls a method on the ObjectForScripting, it displays a script error dialog instead of calli

[2019-02-28 09:27] k15tfu commented on #22851
@jkotas,

Yes, I saw it, but taking into account the various information I found on the Internet, it still could be an implementation-specific behaviour. So, can profiler developers rely on it?

If yes, does the same apply to .NET Framework in general without reservation?

Anyway, I think it's really important to clarify it in the docs: https://github.com/dotnet/docs/blob/master/docs/framework/unm

[2019-02-28 09:28] janvorli commented on #22820
Yes, it is a GC hole. And I've just verified it is still present in 3.0. I've ended up placing try catch around the test too and so I can repro the issue reliably in the first successful iteration (with COMPlus_GCStress=
4 set).
Now I need to investigate whether the issue causing the hole is in JIT or in EH code.

[2019-02-28 09:35] ayende commented on #22820
Is this limited to x86, or should we worry about this on 64 bits as well?

[2019-02-28 09:42] janvorli commented on #22820
I will try to run it with the GC stress enabled on x64 to figure that out.

[2019-02-28 13:03] jkotas commented on #22845
Changing the version from 4 to 3 will cause OpenCover to leak: https://github.com/OpenCover/opencover/blob/d94d935bfe77a48395096e17ab430a142b3f628b/main/OpenCover.Profiler/CodeCoverage.cpp#L389 .

If we go ahead with this change, we should submit PR to OpenCover to fix this, and also notify on #15136 to ask other profilers to apply the same fix if necessary.

[2019-02-28 13:08] janvorli commented on #22902
The Default assembly load context should never be destroyed, it is not collectible. So its internal state should always be "Alive" and never "Unloading". However looking at the code, it seems we have a bug there where we would try to initiate unloading of any context at the process exit. Is it possible that you were getting the exception at the process exit time?

[2019-02-28 13:13] jkotas commented on #22851
There was a change in behavior between .NET Framework 2.0 to .NET Framework 4.0.

Before .NET Framework 4.0, the runtime took over the ownership of the memory. The profiler had to allocate the memory using CoTaskMemAlloc and it should not free it.

In .NET Framework 4.0 and all versions of .NET Core, the runtime does not take over the ownership of the memory anymore. The profiler can use any alloc

[2019-02-28 13:18] khellang commented on #14122
Should this've been closed with #18398?

[2019-02-28 13:25] adamsitnik opened #22919 "[2.1] Reproducible "internal error in the .NET Runtime" when Tiered JIT is enabled for .NET Core 2.1"
@kouvel @noahfalk we are currently trying to enable Tiered and Non-Tiered JIT perf runs for all the microbenchmarks that we have in the perf repo.

Our CI runs all the benchmarks for 2.0/2.1/2.2/3.0 and  Full .NET Framework once to make sure that the PRs are not breaking anything.

To my suprise when we have enabled Tiered runs for 2.1 the CI failed. https://github.com/dotnet/performance/pull/336

[2019-02-28 14:10] adamsitnik commented on #22919
I forgot to mention the most important thing: it works fine with .NET Core 3.0 and 2.2

[2019-02-28 16:02] arekpalinski commented on #22820
It seems we're experiencing this issue on x64 machine as well:

[code]

This is on Windows Server 2019 Datacenter (version 1809):

[code]

[2019-02-28 16:14] janvorli commented on #22820
@arekpalinski yes, it may be the same issue. Would you be able to share the crash dump?

[2019-02-28 16:16] ayende commented on #22820
@janvorli The advantage of this one is that it is very quickly reproducable.
The disadvantage is that it is a production system (we deployed a new server).
Is there a way to send you the dump file privately?

[2019-02-28 16:26] janvorli commented on #22820
In that case, I will rather ask you to extract some stuff for me. Can you please run the following sos commands and share the output?
[code]
The last command will dump MethodDesc value. With that value, please run
[code]

[2019-02-28 16:41] GrabYourPitchforks commented on #14122
Yup!

[2019-02-28 16:41] #14122 closed

[2019-02-28 16:46] AaronRobinsonMSFT commented on #22653
I didn't see this issue. This is blocking preview 3. I will make a fix in core-setup.

[2019-02-28 16:49] arekpalinski commented on #22820
I reproduced it once again and took the dump of process which we can share privately if necessary. If was reproduced with the following env variables set:

[code]

Now WinDbg output is as follow:

[code]

[code]

[code]

[code]

[code]

[2019-02-28 17:10] AndyAyersMS commented on #18339
I get similar numbers:
[code]

 |        Method |           Job | Platform | IsBaseline |     Mean |     Error |    StdDev | Scaled | ScaledSD |
--------------- |-------------- |--------- |----------- |---------:|----------:|----------:|-------:|---------:|
 SimplifiedHash | netcoreapp1.1 |      X64 |       True | 1.259 ms | 0.0142 ms | 0.0111 ms |   1.00 |     0.00 |
 SimplifiedHash | netcoreapp2

[2019-02-28 17:23] jashook commented on #19683
Fixed with #19981

[2019-02-28 17:23] #19683 closed

[2019-02-28 17:31] janvorli commented on #22820
@arekpalinski I am sorry, the addresses that I've used in the windbg commands were from the stack trace of the previous failure. I have thought you still have it open.

In all the commands, the 00007ffe6d37600c needs to be replaced by the value from the IP column of the stack trace from the !clrstack command for the frame of [StubDispatchFrame:xxxxxxxxxxxxxxxxx].

Also, to get the stress log too,

[2019-02-28 17:38] jeffschwMSFT commented on #22324
@ranjeshj and I chatted, the current package is not exhibiting this issue, so closing for now.

[2019-02-28 17:38] #22324 closed

[2019-02-28 17:48] Alan-FGR opened #22920 "Function declaration causes completely unrelated code to perform much worse (2x slower)"
Hello there. This is my first issue here, I looked for guidelines but I couldn't find anything regarding submitting issues, the closest I could find was the [Contributing Guide](https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/contributing.md) but it's not about how to file an issue, so I'll just use common sense here :P.

I was benchmarking some code when I suddenly notice

[2019-02-28 17:55] #22627 closed

[2019-02-28 18:28] arekpalinski commented on #22820
Note that `00007ffe6d37600c` I used is the IP column from the stack of _second_ dump I took (I've modified your commands accordingly).

Okay, I'll set COMPlus_StressLog=1 and reproduce it again.

[2019-02-28 18:32] jashook commented on #22727
This should be a missing exclude. The test has interesting parts that should be salvaged, but it is somewhat incompatible on core.

[2019-02-28 18:33] jashook commented on #22727
Will pr an exclusion

[2019-02-28 18:35] janvorli commented on #22820
Oh, I am sorry, I got mislead by the address being so similar to the previous one.
Actually, the address should be taken from the frame of the
Voron.Data.Fixed.FixedSizeTree.AddEmbeddedEntry instead. The x86 WinDBG for some reason reports return address at the frame, not the ip address in the frame itself. The x64 is different.

[2019-02-28 19:41] fwanggg commented on #14720
Where is the stacktrace dumped to, standard err/output? I am debugging in an orchestrated containerized environment, when app crashes because of StackOverFlowException the containers goes away and all is left is stderr and stdout,
2019-02-28T14:33:34.98-0500 [APP/PROC/WEB/0] ERR Process is terminating due to StackOverflowException.
What's the best way to debug SOFE in this kind of environment.

[2019-02-28 19:44] saucecontrol commented on #22920
I tried out your repro but don't see any difference between the two on my system.

[code]

with #define Break

 Method |     Mean |     Error |    StdDev |
------- |---------:|----------:|----------:|
  First | 35.78 ms | 0.4601 ms | 0.3842 ms |

without

 Method |     Mean |     Error |    StdDev |
------- |---------:|----------:|----------:|
  First | 35.76 ms | 0.7146 ms | 0.8507 ms |

But I se

[2019-02-28 19:59] AndyAyersMS commented on #18339
I have a prototype here [OptimizeDecomposeInd)](https://github.com/dotnet/coreclr/compare/master...AndyAyersMS:OptimizeDecomposeInd)... it helps somewhat but we're still nowhere close to jit32.
[code]
Can do similar for stores but since those are all at the end I don't expect that to have a large impact in this case.

Also reasonably broad impact across the frameworks....
[code]

[2019-02-28 20:11] AndyAyersMS commented on #18339
Will need to spend more time looking into this to figure out what else must happen to get x86 up to par (and perhaps arm32 too).

Moving this to future as I don't see any quick resolution that would fit into 3.0.

[2019-02-28 20:14] AndyAyersMS commented on #22900
Have a prototype of this: [ValueNumberLocalFieldEntireAccess](https://github.com/dotnet/coreclr/compare/master...AndyAyersMS:ValueNumberLocalFieldEntireAccess )-- doesn't lead to any fx diffs on its own, so likely we're not hitting cases of this yet. And result is largely the same when applied on top of #22867; the only diff I see is in my test case. So maybe not high-priority.

[2019-02-28 20:16] AndyAyersMS commented on #22079
Made some preliminary improvements in #22867. Remainder will have to wait.

[2019-02-28 20:18] AndyAyersMS commented on #21373
@janvorli is working up a fix for #21582 that should cover these failures too.

[2019-02-28 20:43] AndyAyersMS commented on #22920
cc @adamsitnik

This is a case where it would be nice to have access to "CPI" results (cycles per instruction). If the root cause really is loop alignment, we'd expect the fast and slow versions to run the same number of instructions, and the time difference would then just be from internal CPU stalls.

BDN is already measuring cycles (or a reasonable proxy).

To measure instructions, BDN can make

[2019-02-28 20:55] arekpalinski commented on #22820
I've realized that I already had `COMPlus_StressLog=1` set.

`00007ffe0ea8cbaf` used in below commands was taken from:

[code]

Output of commands:

`!u -gcinfo 00007ffe0ea8cbaf`
https://gist.github.com/arekpalinski/9440a4eff9d3a43d71f9defa786b2287

`!gcinfo 00007ffe0ea8cbaf `
https://gist.github.com/arekpalinski/071e3e9f5c1aea1d6b5683dd25ab8d0a

`!ehinfo 00007ffe0ea8cbaf`
https://gist.github.com/

[2019-02-28 21:08] janvorli commented on #22820
I think I should be able to get sufficient details this way. But please keep the crash dump, I may ask you to run more sos commands later.

[2019-02-28 21:37] Alan-FGR commented on #22920
@saucecontrol well shouldn't your single core throughput be better though? :confused:
While it's true the loop head isn't aligned, it's not aligned in either version, and in my results you can see that the alignment is identical for all instructions:

Normal | Broken
------------ | -------------
000007fe`793318d0 | 000007fe`795918c0
000007fe`793318d2 | 000007fe`795918c2
000007fe`793318d7 | 000007f

[2019-02-28 21:45] jashook opened #22933 "[Windows|Arm] Loader.classloader\\TypeGeneratorTests\\TypeGeneratorTest161\\Generated161\\Generated161.exe fails"
[code]

[2019-02-28 22:10] Alan-FGR commented on #22920
Unfortunately it seems "Hardware Counters" aren't gonna happen... I added the `HardwareCounters` attribute and also had to build with the full debug info, first ran it said `BenchmarkDotNet.Diagnostics.Windows` wasn't installed, after installing that though it shows this message:
[code]
:disappointed:
I'm running as admin but that error is pretty clear

[2019-02-28 22:10] #22726 closed

[2019-02-28 22:30] #22330 closed

[2019-02-28 23:25] AaronRobinsonMSFT commented on #22916
Fixed with #22930

[2019-02-28 23:25] #22916 closed

[2019-02-28 23:33] BlitzkriegSoftware commented on #20287
1. Our #1 use case by far is console apps that are utilities. We'd like to do a publish for a windows or linux and specify `--single-file` to get one executable. For windows we'd expect this to end in `.exe`, for linux, it would be an executable binary.
2. Not usually, but it could via a NuGet package unbeknownst to us
3. Not initially, but that would be a great future feature
4. Yes
5. Yes
6. Wha

[2019-02-28 23:47] jkotas opened #22936 "Update added types and methoddefs on ApplyMetadata"
Revert https://github.com/dotnet/coreclr/pull/22617 and fix the race condition

[2019-03-01 00:22] vancem commented on #22502
To answer @noahfalk's question about perf.   The key thing that we need is scalability.   We do anticipate that logging will be done on a big multi-core machine (e.g. 32+ processors), and they all might be logging 1000s of events every second (maybe more, but 1000s is very reasonable).   You can imagine under such a situation that a lock that is take on every event being logged is problematic, so

[2019-03-01 00:23] RussKeldorph commented on #22653
@AaronRobinsonMSFT Should this move to core-setup?

[2019-03-01 00:24] vancem commented on #22502
Note that I wanted to mention the existance of memoyrbarrierprocesswide (see
https://docs.microsoft.com/en-us/dotnet/api/system.threading.interlocked.memorybarrierprocesswide?view=netcore-2.2&viewFallbackFrom=netframework-4.7.2) when doing things like this.

[2019-03-01 00:52] echesakovMSFT commented on #22330
@jashook FYI, GitHub_22330 has failed in https://dev.azure.com/dnceng/public/_build/results?buildId=110518&view=logs in Ubuntu.1804.Amd64.Open-x64

[2019-03-01 00:59] swaroop-sridhar commented on #20287
Thanks @BlitzkriegSoftware.
I think the design proposed [here](https://github.com/dotnet/designs/blob/master/accepted/single-file/design.md) covers your use-case. Please take a look at the design -- we welcome your feedback.

[2019-03-01 01:01] AaronRobinsonMSFT commented on #22653
Actually is probably should. I don't know how to do that though. This is also tracking a disabled test in coreclr, so unclear if this should be closed or not. I am planning on addressing this tomorrow.

[2019-03-01 01:10] VincentBu opened #22939 "[arm] Failed to build Managed tests build in arm cross checked ubuntu"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/arm_cross_checked_ubuntu/3167/

**Log:**
[code]

[2019-03-01 01:14] jkotas opened #22940 "Enable FeatureDefaultInterfaces unconditionally"
https://github.com/dotnet/coreclr/blob/master/clr.defines.targets#L3
https://github.com/dotnet/coreclr/blob/master/clrdefinitions.cmake#L9

[2019-03-01 01:22] janvorli commented on #22820
Can you please also share output of the following commands?
[code]

[2019-03-01 06:27] lindexi commented on #18202
[ProfileOptimization.SetProfileRoot(String) Method (System.Runtime) | Microsoft Docs](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.profileoptimization.setprofileroot?view=netframework-4.7.2 )

[2019-03-01 07:04] v-haren opened #22945 "ERROR: Error cloning remote repo 'origin'"
failed in job: https://ci2.dot.net/job/dotnet_coreclr/job/perf/job/master/job/perf_throughput_linux_x64_flow/3582/

failed log:
fatal: write error: No space left on device
fatal: index-pack failed

	at org.jenkinsci.plugins.gitclient.CliGitAPIImpl.launchCommandIn(CliGitAPIImpl.java:1924)
	at org.jenkinsci.plugins.gitclient.CliGitAPIImpl.launchCommandWithCredentials(CliGitAPIImpl.java:1643)
	at org

[2019-03-01 07:16] noahfalk commented on #22845
cc @davmason

Nice spotting @jkotas! We do also have our [announcments issue](https://github.com/dotnet/coreclr/issues/15136) and breaking change doc that we should use to spread awareness.

Previously the breaking change doc was at Documentation/Profiling/Profiler Breaking Changes.md but we lost it when #22617 was reverted and so we'll need to bring at least that part back.

[2019-03-01 07:20] noahfalk commented on #22845
Thanks for the info @iskiselev - it sounds like the new API behavior is the right choice for you (and hopefully many other profiler implementers will feel the same way). We'll certainly need to help smooth over some rough edges like what @jkotas found.

[2019-03-01 07:47] noahfalk commented on #22908
I didn't follow the rationale to put an IL ID there? I'd expect the common case for doing source mapping is that tiered compilation changed the native id while the IL never changed. rejitID = il version in this case means that ETW will see two different mappings per tiered method, each with rejitID=0, but the maps will be incompatible. If the profiler doesn't do something clever to figure out whic

[2019-03-01 07:54] arekpalinski commented on #22820
Here you go:

`!clrstack -f`
https://gist.github.com/arekpalinski/87c10e7def3763f020055d8ea0794655

`.frame /r 0`
https://gist.github.com/arekpalinski/ec17f2f6f82a446d5191123bf78a9b46

`.frame /r 3`
https://gist.github.com/arekpalinski/da10eed085e4aa84bc1fcb7e99a49fda

`.frame /c 1`
https://gist.github.com/arekpalinski/67271e863f3e82484e322b40a00e2fcd

`dv`
https://gist.github.com/arekpalinski/f02

[2019-03-01 08:04] aleksandrshvets commented on #22620
I would like to make changes in coreclr\src\System.Private.CoreLib\shared\System\Number.BigInteger.cs.  Than I would like to debug my new code as part of System.Private.CoreLib.dll and  literally step into
[code]
How can I make my new console application look at my local version of System.Private.CoreLib.dll?
How can I make VisualStudio/VSCode catch modified source files for debugging?

[2019-03-01 08:18] tactical-drone opened #22946 "3.0 preview 2: NullReferenceException at CancellationTokenSource.CallbackPartition.Unregister"
On linux with the new preview I have stumbled upon some kind of strange rare bug that does not occur on Windows. The result is a clr crash with `sigsegv`.

When I run the program overnight with `gdb --args dotnet run ...` it ran for 7 hours then crashed with:

[code]

I have no idea why the output looks like that and why a C# like stacktrace was printed. I was expecting some machine code or someth

[2019-03-01 08:50] fanliang11 commented on #22902
Thanks for your reply, the process gets an exception when exiting? I temporarily don't have this requirement, can you help me solve it as soon as possible? I am doing a hot update grayscale release now.

[2019-03-01 11:11] janvorli commented on #22888
Fixed by #22925

[2019-03-01 11:11] #22888 closed

[2019-03-01 12:16] gbalykov commented on #10545
Is there any update on this?

cc @alpencolt @jkotas

[2019-03-01 12:20] Alan-FGR commented on #22920
I've just tested on another machine and I could repro the issue, but this time funnily enough defining "break" actually fixes the performance. Here are the results:
[Results with "Break" defined](https://github.com/Alan-FGR/PrimitiveWrapperBenchmarks/blob/18aceaecd3266ba31c3ef6a55c650899be22ae95/haswell_results/results_break_defined/results/Repro-report-github.md)
[Results with "Break" not defined

[2019-03-01 13:37] RussKeldorph commented on #22849
Seems to have been a spurious failure.  Reopen if it happens again.

[2019-03-01 13:37] #22849 closed

[2019-03-01 13:40] corruptmem opened #22947 "SEHException after instantiating invalid ManualResetEvent"
Not sure if this counts as a bug, but it was unexpected behaviour for me.

Test case:
[code]

Run under the debugger (Windows, .NET Core 2.2) it will produce a SEHException from the GC finalizer thread:
[code]

Although this is clearly an application code issue (in my case, it came from incorrectly serializing then subsequently deserializing a ManualResetEvent with JsonConvert), because the except

[2019-03-01 13:41] RussKeldorph commented on #22945
@dotnet/dncenghot Perf machine (or machines) disks appear to please clean.

[2019-03-01 15:22] Alan-FGR commented on #22920
OK guys, I think I'm getting somewhere with this... I've compiled variations with [one up to 64 declared functions](https://github.com/Alan-FGR/PrimitiveWrapperBenchmarks/blob/tests_without_bdn/PrimitiveWrapperBenchmarks/Program.cs) and managed to repro that with simple stopwatch... if anybody wants to give it a try, I made a [handy script](https://github.com/Alan-FGR/PrimitiveWrapperBenchmarks/bl

[2019-03-01 15:42] Alan-FGR commented on #22920
Btw, here's a command for the lazy:
[code]
I should've renamed some stuff :P.
If you don't have git installed system wide It should work the same from the bash except you have to add `./` to run the bat file like `./build_all_and_run.bat`. It would be nice of more people could confirm this.

[2019-03-01 15:49] riarenas commented on #22945
@adiaaida Can you take a look?

[2019-03-01 16:06] adiaaida commented on #22945
Looking into it. This doesn't appear to be an issue on the perf machines, but the VMs that run the flow step (windows latest-or-auto vms). Talking to @mmitche about why.

[2019-03-01 16:21] tannergooding opened #22951 "Perf regression for Math.Min and Math.Max"
The `Math.Min` and `Math.Max` functions that take `double`/`float` were updated to be IEEE compliant in https://github.com/dotnet/coreclr/pull/20912. However, the JIT does not do a great job optimizing this code and it has resulted in a regression.

For example, in the Ray Tracer that Matt Warren ported to C# as part of https://mattwarren.org/2019/03/01/Is-CSharp-a-low-level-language/#using-mathf-

[2019-03-01 16:21] jkotas commented on #10545
@fadimounir Any changes planned here?

`crossgen` is typically run from a build script that passes explicit name for the output.

The default is there for convenience if you run the tool manually. I think the most convenient default for that would be to replace the input file.

[2019-03-01 16:24] tannergooding commented on #22951
The above suggested fix brings the time back down to:
* C# netcoreapp3.0: 30ms

Will need to finish validating that it is also correct.

[2019-03-01 16:42] janvorli commented on #22271
@BlackCentipede I have enhanced the coreclrhost.h by adding comments and also explicitly setting the calling convention for Windows x86.

[2019-03-01 16:48] jkotas commented on #22951
Please make sure to fix this regression on all supported platforms, not just x64.

[2019-03-01 16:48] #22467 closed

[2019-03-01 16:50] adamsitnik commented on #22920
thank you for your trust!

I have sent a PR to your repo with a sample config https://github.com/Alan-FGR/PrimitiveWrapperBenchmarks/pull/1/

If you have hit any bugs please repor an issue in https://github.com/dotnet/BenchmarkDotNet

This is a limitation we get from TraceEvent library, which gets it from Windows OS ;(

[2019-03-01 16:55] adamsitnik commented on #22920
I have run the benchmark with following config:

[code]

and **surprisingly I was able to reproduce the problem only once** on my PC (with the first run):

[code]

| Method |      Job |        Arguments | BuildConfiguration |     Mean |     Error |    StdDev |
|------- |--------- |----------------- |------------------- |---------:|----------:|----------:|
|  First |    BREAK | /p:Optimize=true |

[2019-03-01 16:57] adamsitnik commented on #22920
@AndyAyersMS you are right, the number of instructions retired is almost the same with every run:

| Method |      Job |     Mean | InstructionRetired/Op |
|------- |--------- |---------:|----------------------:|
|  First |    BREAK | 17.56 ms |           252,295,833 |
|  First | NO BREAK | 17.25 ms |           252,291,667 |

[2019-03-01 16:58] adamsitnik commented on #22920
the most suprising thing is that I was able to reproduce it once, even with `WithLaunchCount(10)` I was not able to repro it

@AndreyAkinshin do you have any ideas what could have caused this?

[2019-03-01 17:01] tannergooding commented on #22951
Fixing it for x86 and x64 is just the above. Fixing it for ARM/ARM64 will likely require the JIT to treat the method as intrinsic until the HWIntrinsic support actually becomes available.

The root problem is the JIT doesn't handle NaN comparisons very well, which results in a bunch of branches in a small window of code. I'll try to give some more thought on if I can also improve the software fall

[2019-03-01 17:25] adiaaida commented on #22945
We deleted the offending machine(s), and these jobs are now flowing again. See: https://ci2.dot.net/job/dotnet_coreclr/job/perf/job/master/job/perf_throughput_linux_x64_flow/3598/

[2019-03-01 17:26] Alan-FGR commented on #22920
@adamsitnik wow, thank you for the input! :)
I'm relieved somebody else could repro this tbh... it's really strange though that you can't reproduce it consistently, here it happens every single time.
As I said I could repro the *"phenomena"* :smirk: without BDN so it's definitely not the case for a bug report about it. Also, the minor difficulty I was having was because it needs the full symbols t

[2019-03-01 17:26] riarenas commented on #22945
Thanks Michelle!

[2019-03-01 18:06] jkotas commented on #22951
What is the implementation strategy used for this by other environments, e.g. C/C++ compilers? Does the compiler handles it, or is the `max` implementation handcrafted in library code?

[2019-03-01 18:10] vancem commented on #22502
As mentioned at the meeting we had, having a per-thread spin lock protecting the per-thread buffer which is taken when an event is logged or when a flush/shutdown is forced is reasonable.

[2019-03-01 18:14] vancem commented on #22585
This issue was fixed partially by #22905.  There is still a lingering problem getting line level profiling working that is tracked by #22904.

We also discovered a lower priority bug where the ID for the native code version is not correct on rundown which is tracked by #22908.

So this issue has served its purpose and can be closed.

[2019-03-01 18:28] tannergooding commented on #22951
GCC and MSVC both forward down to the CRT software implementation (`fmin` and `fmax`). Clang (when optimizations are enabled) emits some assembly similar to my prototype above.

All of them have a "fast floating-point math" switch and just emit `minss` when that is enabled.

[2019-03-01 18:33] jkotas commented on #22951
I think we should do the same here like we do for majority of the other Math operations.

[2019-03-01 18:50] tannergooding commented on #22951
I'll check, but I find it doubtful as the CRT implementations are roughly what we already have in the C# implementation.

From previous analysis on related functions, the cost of the two calls (one to our `COMSingle::Min` and one from that to `fminf`) ends up being more expensive than the actual assembly being run.

For reference: just aggressively inlining the current "correct" implementation cut

[2019-03-01 19:23] #22790 closed

[2019-03-01 20:35] #22684 closed

[2019-03-01 20:38] tannergooding commented on #22951
@jkotas, Unfortunately, my suspicion was correct. Changing these to FCALL into the CRT `fmin` and `fmax` regresses the time from `57ms` to `78ms`.

I'll continue looking at the software fallback case to see if I can improve it standalone as well. I expect we might be able to just emulate the `cmp, and, andnot, or` sequence using bit manipulation to get a speedup.

[2019-03-01 20:52] mikedn commented on #22951
I can improve NaN comparisons in the JIT. Though last time I tried it didn't seem to make a difference.

[2019-03-01 21:04] jashook commented on #22510
Unless there is objection. I will move the packages to azure storage.

[2019-03-01 21:10] mikedn commented on #22951
Though it looks to me that the C++ version of the raytracer is using
[code]
and that has nothing to do with `Math.Min`. And it's not uncommon for this kind of code to not care about NaN-accuracy and I don't see why the C# version would do it differently.

Still, it's probably worth taking a look at what can be done to improve `Math.Min/Max`, even though it will probably never match `x < y ? x : y`

[2019-03-01 22:37] AndyAyersMS commented on #22933
Exit code is 0xC0000409 which is a fail fast.

[2019-03-01 22:38] AndyAyersMS commented on #20232
Will take a look.

[2019-03-01 23:09] mgumowsk opened #22957 "container fails on kubernetes when CPU limits are not set"
The following code fails:

[code]

with the exception
[code]

when run as an image on kubernetes without limits set.
Example docker container build :
[code]

Example kubernetes deployment:
[code]

When CPU limits are set on kubernetes deployment there aren't any issues.

[2019-03-02 00:17] jashook commented on #22510
The issue is not the package location. After some investigation the rid from the new dotnetcli is returning ubuntu.18.04. Which we do not have a package for.

[2019-03-02 00:17] jashook commented on #22510
Our rid choice here like normal is flakey.

[2019-03-02 00:46] Maoni0 opened #22961 "return correct pmask when there are multiple NUMA nodes on linux"
on Linux we need to return the correct pmask when there are multiple NUMA nodes on machines with > 64 cores. discussion is on issue #22861 starting [here](https://github.com/dotnet/coreclr/pull/22861#issuecomment-468807720).

[2019-03-02 01:07] AndyAyersMS commented on #22513
Will see if I can repro.

[2019-03-02 01:54] echesakovMSFT opened #22962 "Some of the tests are running significantly slower on Windows/x64 than on Linux/x64"
I see this consistently happening in our CI and I could reproduce this locally.

I set both environment to COMPlus_ZapDisable=1 COMPlus_ReadyToRun=0 to make sure that it's not a ReadyToRun issue

**NestedGenericTypesMix.exe** takes 0.8s on Linux x64 Checked (i7-4790 CPU @ 3.60GHz)

[code]

**NestedGenericTypesMix.exe** takes 7.37 s on Windows x64 Checked (i7-6700 CPU @ 3.40 GHz)
[code]

**Recursiv

[2019-03-02 03:05] AndyAyersMS commented on #22920
The loop has some data-dependent branches in it, so I wonder if we're seeing inadvertent collisions in the HW branch predictor. @adamsitnik if you can repro, try looking at how branch misprediction rates differ in slow and fast runs.

[2019-03-02 03:06] Alan-FGR commented on #22920
OK so I just ran the tests on the other machine and the slow ones are the exact same (26,27,28,29,30,31,46,47,62,63) so at least there's consistency... Also, I understand that some of you might not think this is a big deal and this could be dismissed as some hardware peculiarity but I'd like to at least know what's going on here.
I would like to step through the machine code but that wasn't possib

[2019-03-02 03:33] AndyAyersMS commented on #22513
No luck so far, about 600 successful runs on two machines with added CPU stress.

[2019-03-02 04:05] jkotas opened #22964 "AF: VirtualCallStubManager::isDispatchingStubStatic((PCODE)contents)"
Windows_NT x64 Checked CoreFX Tests failed in https://github.com/dotnet/coreclr/pull/22958 with:

[code]

[2019-03-02 04:06] jkotas commented on #22964
@kouvel Can this be somehow caused by the entrypoint patching for TieredJiting?

[2019-03-02 05:41] Alan-FGR commented on #22920
Hey guys, so I could reproduce the issue in CoreRT and after some scripts and debugging it really seems @saucecontrol was right, I've compiled 32 versions and so far the observations have consistently shown that all the 'slow' versions have addresses ending in `4`... the strange part though is that addresses ending in `C` which aren't 8-aligned are fast.
I'm using x64dbg and I'm checking the addre

[2019-03-02 05:48] Alan-FGR commented on #22920
I forgot a very important note: since the problem is alignment one would assume that if you have a lot of functions then some would be aligned and some don't, but that's not what happens... I've tried adding 64 functions to the same binary and they're always all the same, that is they're either all slow or all fast, so the problem is something is happening that's breaking alignment apparently for

[2019-03-02 06:08] tannergooding commented on #22951
I have a PR up which resolves this for x86/x64: https://github.com/dotnet/coreclr/pull/22965. The prototype I wrote in the original post was nearly correct, but didn't handle `-0.0` vs `+0.0` correctly; where-as the PR has the additional checks to do that.

The software implementation has a few problems.

First, the codegen for `IsNaN` is pretty bad. This is because the implementation for `IsNaN`

[2019-03-02 06:53] #20563 closed

[2019-03-02 06:54] mikedn commented on #22951
C++ 19.16: 26ms
C# netcoreapp2.2: 36ms
C# netcoreapp3.0: 57ms

Can you tell me what exactly are you measuring? I've been looking other that blog post but I don't see such values. And attempting to run the raytracer takes a lot longer, minutes on my machine.

[2019-03-02 07:05] tannergooding commented on #22951
The execution of the entire program using the `time-windows` tool listed in the blog post (which is a port of the unix `time` command).

The programs are exactly as given in the blog post, with the C++ code modified to be 2 samples (also specified in th blog post).

The times I gave above should be seconds though, not sure why I typed `ms` (probably just habit, editing them now).

[2019-03-02 07:10] tannergooding commented on #22951
Times should be updated to be in the correct unit (seconds not ms). Sorry for the confusion.

[2019-03-02 08:09] mikedn commented on #22951
Thanks. I also discovered that I was using a debug corelib and that's why it was taking minutes for me. Now I get 58s (and 33s for the C++ version, compiled with VS2019). So the results are comparable and I can play a bit with it.

First observation is that changing `min` to `return l < r ? l : r;` like in the C++ version brings down the C# time to 35s.

[2019-03-02 08:15] adamsitnik commented on #22920
@Alan-FGR I think that the best thing to do here would be to use Intel VTune (it is free now) and run the produced exe with it.

To produce an .exe that Intel VTune can run you should take your project (the one that is not using BenchmarkDotNet), use `--dotnet publish -c Release` and then tell VTune to run the produced exe

[2019-03-02 09:29] mikedn commented on #22951
This `Math.Min` comment is kind of misleading:

The JIT will transform `val1 < val2` into `val2 > val1` pretty much always. The JIT may sometimes transform `val1 < val2` into `!(val2 >= val1)`, or in the specific case of `Min` code - `return (val1 < val2) ? val1 : val2;` into `return (val1 >= val2) ? val2 : val1;`.

[2019-03-02 14:35] jkotas opened #22971 "Build fails: System.MissingMethodException: Method not found: 'Void NuGet.Packaging.Manifest.Save"
Building current master (https://github.com/dotnet/coreclr/commit/ef0fde985732148eea136e90aece4ccd3d0370b5) using `build.cmd checked skiptests` fails on Windows for me with:

[code]

[2019-03-02 14:42] jkotas commented on #22971
The problem is that the build is picking up global `dotnet` that I have installed instead of the one that comes with buildtools.

The workaround is to set `set DOTNET_MULTILEVEL_LOOKUP=0`.

[2019-03-02 15:06] mshgh commented on #17468
.NET Core 3.0 is supposed to be released pretty soon. Are there any plans to make this part of the 3.0?

[2019-03-02 15:11] Alan-FGR commented on #22920
WHAT? VTune is free? That's awesome! :smile:
As @saucecontrol said on gitter, the head alignment per se doesn't matter, the fact 4 is slow and C is fast is probably because it's offsetting the 'problem' instruction into its sweet spot. I'll definitely run VTune in order to try and find it.

[2019-03-02 15:13] Alan-FGR commented on #22920
Oh boi... actually you need to be working in a company to download VTune free and I'm currently not :cry:

[2019-03-02 16:49] #22971 closed

[2019-03-02 17:17] mikedn commented on #22951
* Using `movd` saves 2-3s, around 6%. Might worth doing it but it is not enough.
* Using `x != x` rather than `IsNaN` doesn't seem to make a difference performance wise but it does generate smaller code

But the current `Min` code seems pretty bad, it doesn't take advantage of facts like `x < NaN = false`. I need to stare at it a bit more but the following should be equivalent and generates far le

[2019-03-02 18:59] jashook opened #22974 "[Windows x64|x86|arm64] Native vararg test failures"
This is a recent regression that causes the following tests to fail:

[code]

[code]

[2019-03-02 19:06] jashook opened #22975 "[Linux|x64] Regressions/coreclr/1514/interlockexchange/ fails randomly"
This test was not being run for a bit. It fails intermittently. Example output below:

[code]

[2019-03-03 08:23] sawilde commented on #22851
beat me to it.

[2019-03-03 15:16] Alan-FGR commented on #22920
NOTE: I've been chatting a lot with @saucecontrol on gitter so I apologize if some of this sounds a bit out of context.

@saucecontrol I don't know why BDN shows aligned addresses when the problem manifests, is it guaranteed that the addresses are the real thing? Are those addresses collected or are they calculated? I could try to compile the BDN code with CoreRT to check if they're correct but I

[2019-03-03 16:01] Alan-FGR commented on #22920
btw, here's the VTune output if you guys want to take a look: https://gist.github.com/Alan-FGR/757558f9d481654ae618d7778cc119e4

[2019-03-03 16:27] AndyAyersMS commented on #22920
Does this VTune output come from running on Core? If so, I'm puzzled. We shouldn't see those kind of method alignments.

[2019-03-03 16:28] AndyAyersMS commented on #22920
Or maybe you're running on x86 (and not x64)?

[2019-03-03 17:54] aviv86 opened #22986 "strange "AccessViolationException" when a "StackOverflowException" is expected inside VS2017 debugger"
Just a simple Net Core 2.1 Console App,
and awaiting (probably any) async task before an infinite recursive call.

When running the below piece of code inside Visual Studio 2017,
I'd expect a StackOverflowException due the (symbolic) recursion.
However, I get a strange AccessViolationException, and the program shuts down abruptly.

If I remove the async call, the stack will overflow as expected, a

[2019-03-03 17:57] Alan-FGR commented on #22920
@AndyAyersMS nope, it's definitely x64, I didn't even build x86 versions. And those addresses are bigger than 32-bit can handle unless I'm mistaken (0x140005164 for example has 9 hex digits).
Not sure what you meant by "Core" there (I'm n00b :P )... it's running on the i5. In any case I'm attaching not only the VTune projects (which include the result `.amplxe`) but also the binaries in case you g

[2019-03-03 18:17] AndyAyersMS commented on #22920
Sorry, I meant, were you measuring via VTune while running on CoreCLR?

But it looks like the answer is no -- you were running on CoreRT. I wonder if CoreRT is doing anything to ensure method entry alignment. Would guess not? cc @jkotas

Your original repro was on CoreCLR where we'd expect on x64 to always get the same 16 byte entry alignment. And since method body code doesn't vary between fast &

[2019-03-03 18:18] Alan-FGR commented on #22920
@AndyAyersMS oh I think you mean Core as in CoreCLR/RT as opposed to .Net Framework? If so, yes those results are from the CoreRT binaries, also note that x64dbg results are consistent with VTune as well as the actual measurements.

[2019-03-03 18:20] Alan-FGR commented on #22920
@AndyAyersMS OK I was ninjaed there :laughing:... I'll run CoreCLR on VTune to see if I get those alignments.

[2019-03-03 18:35] Alan-FGR commented on #22920
OK, nothing makes sense anymore... here are the results from CoreCLR:
https://gist.github.com/Alan-FGR/52254794fdbcd75b51cd898ecf27c516
The numbers are comparable to the CoreRT ones (twice the clocks and all) but the alignment is the same :(... just when stuff was starting to make sense :P

Here are the VTune projects and results:
[VTune Projects and Results CoreCLR.zip](https://github.com/dotnet/

[2019-03-03 19:12] Alan-FGR commented on #22920
Btw, just so you guys know I'm getting perfect consistency here, this is with the binaries acquired and built with `git clone https://github.com/Alan-FGR/PrimitiveWrapperBenchmarks.git --single-branch --branch=tests_without_bdn && cd PrimitiveWrapperBenchmarks && build_all_and_run.bat` as described [here](https://github.com/dotnet/coreclr/issues/22920#issuecomment-468707764):
[code]
And the binari

[2019-03-03 19:31] Alan-FGR commented on #22920
Btw, I made [this spreadsheet](https://docs.google.com/spreadsheets/d/18m5sdaRLvgYARcXt01t3dd316r_Jo0-i3bhPQ-4s-Yw/edit?usp=sharing) with the CoreCLR results because that gist is confusing... green is the good/fast version.

[2019-03-03 19:42] danmosemsft commented on #20937
Cc @kouvel

[2019-03-03 23:54] Alan-FGR commented on #22920
OK guys, so it seems the problem is still alignment. I've made a table with all the CoreCLR addresses and you can clearly see a correlation there (B is the 'broken'/slow version):
[code]
So it seems @saucecontrol was right again, the problem is instructions being pushed out of their sweet spot in terms of alignment, I just couldn't imagine that it would happen beyond 16 bytes but apparently it doe

[2019-03-04 00:33] AaronRobinsonMSFT commented on #22986
cc @stephentoub

[2019-03-04 00:44] saucecontrol commented on #22920
That was actually what I noticed about the asm dumps from the time @adamsitnik was able to repro it.  Good case started at `0x...70` and bad started at `0x...C0`

That makes sense if you consider the layout of the instruction and μop caches in the processor.  The μop cache is 32 bytes, and you want the idea portion of the method to fit in that cache for branch prediction and such to work best.

Im

[2019-03-04 01:08] VincentBu opened #22987 "[x64] Unexpected test count in checked_windows_nt"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/checked_windows_nt/11522/

**Log:**
[code]

[2019-03-04 01:17] VincentBu opened #22988 "[x64] error MSB1008 in x64_checked_windows_nt_illink"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/illink/job/x64_checked_windows_nt_illink/654/

**Log:**
[code]

[2019-03-04 01:30] VincentBu opened #22989 "[x64] Test failed: System.Runtime.Loader.Tests.DefaultLoadContextTests.LoadInDefaultContext"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_ubuntu_corefx_baseline/856/

**Failed tests:**
System.Runtime.Loader.Tests.DefaultLoadContextTests.LoadInDefaultContext

**Log:**
[code]

[2019-03-04 02:21] peppy opened #22990 "Runtime crash in 3.0.0-preview-27324-5 (TieredCompilation)"
Our project which works fine on all 2.2 releases will crash at runtime with the following trace:

[code]

This is reproducible but I have not been able to isolate the specific code which causes the crash. Reproduction follows:

- https://github.com/peppy/osu/tree/target-net-core-30
- `dotnet run osu.sln --project osu.Desktop`
- Click osu! logo
- Click "play"
- Click "solo"
- Application will crash

[2019-03-04 02:22] richlander commented on #18971
Working on a solution:

- [Design](https://github.com/dotnet/designs/pull/49)
- [Implemementation](https://github.com/dotnet/coreclr/pull/22180)

[2019-03-04 02:40] Alan-FGR commented on #22920
@saucecontrol I think that is exactly what's happening! To be honest I had no idea that 32 aligning was a thing... I always trusted my compilers to be smart enough so I never really cared about instruction alignment except when *really* necessary like SIMD.
In any case it's a pity we talked so much on gitter but that information won't be easily accessible by other people in the future... something

[2019-03-04 06:11] jkotas commented on #22920
The most compact code runs the fastest on average. The large code alignment helps the hottest methods, but hurts everything else. This is especially true for ahead-of-time compilation where it is hard to guess methods that are important (without profile guide optimization).

It is trivial to change the alignment in CoreRT if you would like to experiment: https://github.com/dotnet/corert/blob/c7df3

[2019-03-04 07:21] sonnemaf opened #22991 "Overloaded Operator performance diff when using Fields or Auto Properties in Structs"
After reading this great [Is C# a low-level language](https://mattwarren.org/2019/03/01/Is-CSharp-a-low-level-language/) blog from @mattwar I found an performance issue with the * operator.

There is a difference in performance when using the overloaded operators on a struct with Fields compared to Auto Properties.

Have a look at the following Benchmark.

[code]

The TestVecWithProperties() metho

[2019-03-04 08:11] mikedn commented on #22991
Inlining issue. The use of properties makes the operator code larger and the JIT is reluctant to inline the operator method:
[code]

cc @AndyAyersMS

[2019-03-04 09:37] aviviadi commented on #22677
Checked on `3.0.0-preview-27324-5` : Works fine there!  Thanks you @AndyAyersMS

[2019-03-04 09:37] #22677 closed

[2019-03-04 11:52] Alan-FGR commented on #22920
@jkotas well I'd surely like to experiment with that number. Why did you link that line and not [this one](https://github.com/dotnet/corert/blob/3c31103c264e93d036e1c15833edc37f4a83be74/src/Common/src/TypeSystem/Common/TargetDetails.cs#L173) though? Should I just pass a value in that line you linked instead of changing the actual TargetDetails.MinimumFunctionAlignment? Also, any plans to soft code

[2019-03-04 13:20] arekpalinski commented on #22820
Any news on this?

[2019-03-04 15:22] BruceForstall commented on #22676
Also fails with JITMinOpts:
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_r2r_jitminopts_tst/39

Doesn't fail on Linux.

@kouvel @sergiy-k Can someone look?

[2019-03-04 15:29] janvorli commented on #22820
@arekpalinski I was focusing on the x86 failure. Just a minute ago, I was able to get a very simple repro of the x86 issue, however it doesn't repro the issue on x64, so the x64 one is likely something different.

As for the simple repro, see this gist: https://gist.github.com/janvorli/c4b69292d1404a5f6a45340e41739c39

The issue is caused by the fact that the GC info for the exception filter  code

[2019-03-04 15:32] janvorli commented on #22820
@dotnet/jit-contrib can someone please take a look at why we don't report the object as alive in the exception filter in the simple repro I've shared in the previous comment (Please run it with COMPlus_GCStress=4 to repro)?

[2019-03-04 15:32] BruceForstall commented on #22777
I don't see this failure in current runs

[2019-03-04 15:32] #22777 closed

[2019-03-04 15:33] janvorli commented on #22820
@dotnet/jit-contrib I've forgotten to mention that it repros on x86 Windows only.

[2019-03-04 15:52] janvorli commented on #22820
@arekpalinski can you please also share the output of the `!clrthreads` command?

[2019-03-04 15:58] sayedihashimi commented on #22315
We would really love to get this fixed in 3.0 to improve the debugger experience in Visual Studio for Mac.

cc @unniravindranathan

[2019-03-04 16:02] BruceForstall commented on #22823
This is still failing.
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_corefx_baseline/158

[2019-03-04 16:16] BruceForstall opened #22995 "Pri-1 builds all failing"
It appears https://github.com/dotnet/coreclr/pull/22885 has broken all pri-1 builds, with errors like:

[code]

It appears pri-1 builds are only doing pri-0 test builds.

(note, this error was introduced specifically to find problems like this)

e.g.,
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_checked_windows_nt/6682/
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/

[2019-03-04 16:23] MichaelSimons commented on #22823
If the docker image needs to be updated because of added/changed dependencies, please open a PR with the necessary changes in https://github.com/dotnet/dotnet-buildtools-prereqs-docker.

[2019-03-04 16:30] AaronRobinsonMSFT commented on #22987
Tracking with https://github.com/dotnet/coreclr/issues/22995

[2019-03-04 16:30] #22987 closed

[2019-03-04 16:32] MichalStrehovsky commented on #22920
That would also change the alignment of some assembly stubs. Those are tiny and giving them a generous alignment would probably hurt (code loses locality for no reason).

FWIW, for .NET Native on UWP, we default to 16-byte alignment based on some measurements on microbenchmarks that the UTC backend team did in the past (the C++ compiler also defaults to this number).

We ended up having to offer a

[2019-03-04 16:54] #19256 closed

[2019-03-04 17:06] BruceForstall commented on #22911
Didn't see this in subsequent builds

[2019-03-04 17:06] #22911 closed

[2019-03-04 17:08] BruceForstall commented on #22909
This particular error didn't exist in subsequent builds

[2019-03-04 17:08] #22909 closed

[2019-03-04 17:11] BruceForstall commented on #22939
subsequent builds succeeded

[2019-03-04 17:11] #22939 closed

[2019-03-04 17:14] BruceForstall commented on #22988
Looks like:
[code]
fails.

@sbomer @swaroop-sridhar

[2019-03-04 17:16] RussKeldorph commented on #22957
@janvorli @kouvel

[2019-03-04 17:16] jorive commented on #22337
Closing as no repro.

[2019-03-04 17:16] #22337 closed

[2019-03-04 17:34] echesakovMSFT commented on #22995
This doesn't block official builds and AzDO CI so removing the label - only Jenkins Pri1 tests are affected.

I think it's related to how we build the tests in Jenkins - instead of calling build.cmd then build-test.cmd we have only one call to build.cmd so suspect the priority hasn't been passed properly

[2019-03-04 18:06] AwsomeCode opened #22996 "[UWP] Unhandled Exception ShardLibary.dll / A fail fast exception occurred."
I am unable to find the cause of this error

App is working with Microsoft.NETCore.UniversalWindowsPlatform -Version 6.2.0-preview1-26926-04
But Not working with Microsoft.NETCore.UniversalWindowsPlatform -Version 6.1.9
Native Toolchain is enable in debug mode.

Because of pre Version 6.2.0-preview1 I am not able to update the app on store.

Error
![image](https://user-images.githubusercontent.com

[2019-03-04 18:21] janvorli commented on #22315
@mikem8361 since this is the DAC stack walking, could you please take a look? Possibly a debugger transport performance issue?

[2019-03-04 18:22] AndyAyersMS commented on #22991
Unfortunately there's something of a discontinuity in the inliner's behavior when you cross the 16 byte IL size boundary. This is boundary is a tricky part of the heuristic to tune because once we get into this IL size range the impact of inlining can vary widely, and our modelling is pretty crude.

I still have ambitions of improving the inlining heuristics someday. In the meantime, you can work

[2019-03-04 18:30] mikem8361 commented on #22315
Juan (@hoyosjs) is going to take a look.

What version of the runtime is this being reported on?

[2019-03-04 18:31] gregg-miskelly commented on #22315
I tried both 2.2 and 3.0

[2019-03-04 18:36] echesakovMSFT commented on #22995
The issue is introduced in #21608 in line #232 of build.cmd.

All the Windows Pri1 Jenkins jobs has been running Pri0 tests since that change got merged. For example,  https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_checked_windows_nt/6611/consoleFull from February 14.

Actually, the change in #22885 helped to expose that original issue.

**The problem explanation:**
Before #21608

[2019-03-04 18:36] kouvel commented on #13254
https://github.com/dotnet/coreclr/issues/22792

[2019-03-04 18:40] #18128 closed

[2019-03-04 18:40] AndyAyersMS commented on #22920
I believe we can make a case for selectively increasing alignment demand to 32 bytes for some methods (say based on tiering feedback, or perhaps attributes). This is not the first time we've seen things like this (#16873).

Having the jit optimize alignment of internal branch targets (#11607) is a likely prerequisite. And internal alignment is tricky to do for 16 bytes, so will be even trickier to

[2019-03-04 18:55] kouvel opened #22998 "Regression in performance repo microbenchmarks since tier jitting was enabled by default"
@jorive commented on [Fri Aug 31 2018](https://github.com/dotnet/corefx/issues/32062)

When tiered jitting was enabled by default on CoreClr, nothing was done to disable it for the performance runs on CoreFx. Was it intended? What do we want to do here?

---

@danmosemsft commented on [Fri Aug 31 2018](https://github.com/dotnet/corefx/issues/32062#issuecomment-417813509)

@kouvel my assumption is

[2019-03-04 19:05] echesakovMSFT opened #23000 "Remove build-test.cmd and runtest.cmd related logic from build.cmd"

[2019-03-04 19:09] echesakovMSFT commented on #23000
cc @dotnet/jit-contrib

[2019-03-04 19:10] MarcoRossignoli commented on #22620
@aleksandrshvets as Victor said you can build your local corefx+coreclr following https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md#testing-with-private-coreclr-bits and after you can use a test on corefx side and step-into System.Private.CoreLib.dll https://github.com/dotnet/corefx/issues/33392#issuecomment-462500398

[2019-03-04 19:12] echesakovMSFT opened #23001 "Add checks to build-test.cmd/build-test.sh for each TestGroup"
As suggested by @BruceForstall it would be nice to have checks similar to what added in #19290 but for each TestGroup from https://github.com/dotnet/coreclr/pull/22885

[2019-03-04 19:13] echesakovMSFT commented on #23001
/cc @dotnet/jit-contrib

[2019-03-04 19:14] AndyAyersMS commented on #22820
I will take a look.

[2019-03-04 19:18] jakobbotsch commented on #19256
This marks the last JIT bug found by Fuzzlyn (for now) as fixed. 🎉
Congratulations and great job to all!

[2019-03-04 19:21] CarolEidt commented on #19256
And many thanks to you @jakobbotsch for finding all these!!

[2019-03-04 19:29] AndyAyersMS commented on #22820
@janvorli this repros in both 2.1 and 3.0, correct?

[2019-03-04 19:45] janvorli commented on #22820
Yes, correct.

[2019-03-04 19:47] arekpalinski commented on #22820
@janvorli What do I need to load to have `!clrthread`. Currently it returns:
[code]

[2019-03-04 19:59] arekpalinski commented on #22820
Did you mean `!threads`? If so here's the output:
https://gist.github.com/arekpalinski/da238dd8cbbfb24ce9560dd47347b371

[2019-03-04 20:04] janvorli commented on #22820
That's strange, in my sos, both the !threads and !clrthreads work and get the same result. Anyways, what you've shared is what I needed.

[2019-03-04 20:09] sywhang commented on #18452
This is showing up in more and more places, for example - https://github.com/dotnet/corefx-tools/issues/92. I'll spend some time later this week to investigate why this might be happening.

[2019-03-04 20:15] AndyAyersMS commented on #22820
Just a guess, but I think the issue is that since filters are run "early" in the first EH pass, any local that is live into any handler must also be live into the filter, and wemay not get this right on non-funclet EH models like x86.

[2019-03-04 20:58] mgumowsk commented on #22957
The provided example code to reproduce is wrong. The issue still occurs in my main code, but I have to take out the valid example to reproduce. Will open again if I have good example.

[2019-03-04 20:58] #22957 closed

[2019-03-04 21:04] AaronRobinsonMSFT commented on #22653
@sandreenko I just checked in a fix for this into core-setup/master. Was the offending scenario blocked or should the changes flow here and CoreFX testing on ARM32 resume?

[2019-03-04 22:18] CarolEidt opened #23006 "CodeGen: Clean up instruction emitting methods"
The conventions for organization and naming of the methods that emit instructions are unclear and inconsistent. I believe that the existing/intended conventions are:
- the methods on `CodeGen` that start with `gen` are concerned with generating code for a class of `GenTree` operators, or shared functionality across operators that isn't specific to instruction encodings.
- the methods on `CodeGen`

[2019-03-04 22:19] #22510 closed

[2019-03-04 22:20] CarolEidt commented on #23006
cc @dotnet/jit-contrib, @tannergooding @mikedn
This came up in the discussion of https://github.com/dotnet/coreclr/pull/22944.

[2019-03-04 22:23] sandreenko commented on #22653
Thanks for that, the scenario now is blocked because of another infra issue https://github.com/dotnet/coreclr/issues/22823 that I hope will be fixed soon.

[2019-03-04 22:23] #22653 closed

[2019-03-04 22:23] CarolEidt opened #23008 "CodeGen: Clarify the naming and usage of consumeReg methods"
The naming and usage of the various consumeReg methods is not clearly articulated anywhere. Their usage should probably be documented in codegen.h where they are declared.
This came up in the discussion of https://github.com/dotnet/coreclr/pull/22944

[2019-03-04 22:25] tannergooding commented on #23006
Just a note. I think the current exception here is `emitIns_SIMD` methods, which will emit one or two instructions in order to handle the differences between the legacy and VEX encodings. The latter generally allowing `ins dst, src, src` but the former only allowing `ins dst/src, src` and therefore requiring a `mov dst, src` when `dst != src`.

The HWIntrinsic feature tries to exclusively use the

[2019-03-04 23:01] cshung opened #23009 "Deadlock during initialization"
Here is the repro code:

[code]

Here are the relevant stacks:

Frame 0x19 of this thread get the `EventPipe::GetLock()` and then frame 0x12 of this thread is waiting on `EventListener.EventListenersLock`
[code]
Frame 0x13 of this thread get the `EventListener.EventListenersLock` and then frame 0x12 of this thread is waiting on `EventPipe::GetLock()`
[code]

[2019-03-04 23:59] stephentoub commented on #23011
cc: @janvorli, @richlander

[2019-03-05 00:18] janvorli commented on #23011
The MemoryFailPoint does not work on Unix at all. It was not implemented yet. There was an attempt to enable it (#12362), but it cannot work due to the VirtualQuery behavior difference between Windows and Unix. There is issue #13560 to implement necessary PAL support to enable the MemoryFailPoint assigned to me, but there were other higher priority things that kept me from working on it.

[2019-03-05 00:26] Cryowatt commented on #23011
Memory in docker containers gets extra hairy as the typical commands for querying memory don't behave in the way you'd might expect. For example, if you run `docker run --rm --memory=40mb alpine free` you'd might expect the results to be 40mb. However the `--memory=40mb` argument doesn't change the available memory, it just changes the amount the process is allowed to use before it's killed.

As f

[2019-03-05 00:30] janvorli commented on #23011
Right. We already have support for cgroups in coreclr that is currently used for GC, so we can reuse it.

[2019-03-05 00:42] #22995 closed

[2019-03-05 01:03] VincentBu opened #23016 "[x86] error MSB3030 in x86_checked_windows_nt_corefx_baseline"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_corefx_baseline/760/

**Log:**
[code]

[2019-03-05 01:09] CarolEidt commented on #22850
@fiigii - I haven't been able to easily construct a repro for this on either linux (Ubuntu) or using the altjit. Are you still able to repro this, and if so, could you provide a standalone repro? Thanks!

[2019-03-05 01:10] echesakovMSFT commented on #22422
Also happened in Jenkins CI
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_no_tiered_compilation_innerloop_flow_prtest/7238/
[code]

[2019-03-05 01:12] fiigii commented on #22850
@CarolEidt I will try to make a standalone repro at tonight.

[2019-03-05 01:41] janvorli commented on #22820
@arekpalinski can you please also share output of the following commands?
[code]

[2019-03-05 02:11] GrabYourPitchforks opened #23020 "EncoderNLS.Convert doesn't always out the correct value for 'completed'"
Repro code:

[code]

Expected output:

[code]

Actual output:

[code]

The culprit seems to be the line below.

https://github.com/dotnet/coreclr/blob/77fcaf6b738941a0c5dc3c00b70b49c7d9f63b69/src/System.Private.CoreLib/shared/System/Text/EncoderNLS.cs#L201

The values _flush_ and _this.HasState_ can never both be true at the same time because specifying _flush = true_ mandates that the `EncoderNLS

[2019-03-05 02:12] GrabYourPitchforks commented on #23020
/cc @tarekgh @layomia as FYI.

[2019-03-05 02:24] AndyAyersMS commented on #14114
Suggest we defer this, unless we know of specific CQ issues.

[2019-03-05 02:38] echesakovMSFT commented on #22962
Confirmed that the first two tests are slower due to using contracts. If compiled with `-DDISABLE_CONTRACTS` the running times are almost the same

[2019-03-05 02:38] echesakovMSFT commented on #22962
For example,

[code]

[2019-03-05 03:01] AaronRobinsonMSFT commented on #22847
Removed remaining with https://github.com/dotnet/coreclr/pull/23010

[2019-03-05 03:01] #22847 closed

[2019-03-05 03:22] cshung opened #23024 "EE suspension for sampling profiler failed to complete"
# Symptom:
When debugging a test case with an aggresive printing breakpoint set, the debuggee deadlocks.
# Repro (x86, debug)
Run the test case in #23009 with WinDBG attached and set this aggressively logging breakpoint `bm CoreCLR!EventPipeBufferList::InsertTail "k;g"`.
It will stop and deadlock.
# Analysis
It appears that the EE suspension triggered in thread 6 will not complete because thread 9

[2019-03-05 03:41] tarekgh commented on #23020
@GrabYourPitchforks Thanks for reporting it. I am wondering if you'll include the fix of this in your changes? Just asking to know if we need to work on it especially you marked it as 3.0 issue.

[2019-03-05 05:39] danmosemsft commented on #9204
@jashook is this issue worth keeping? It was fixed to match .NET Framework and I guess you have no plans to bring to Unix?

[2019-03-05 05:46] #22823 closed

[2019-03-05 06:37] mikedn commented on #23006
Yeah, and for some the prefix is actually `genCodeFor`, as in `genCodeForShift`. Not sure if that was intended to have a meaning or if someone though that "CodeFor" adds some kind of extra value.

Those `inst_` functions are rather messy, probably many are leftovers from the legacy codegen:
* many aren't used - `inst_TT_SH`, `inst_TT_CL`, `inst_RV_RR` (RR?!!) etc.
* many are trivial wrappers over

[2019-03-05 07:44] arekpalinski commented on #22820
[code]
I made sure I'm in the right thread by calling:

[code]

`0:036> .frame /c 0`
https://gist.github.com/arekpalinski/5f09c61bf40eaf86809542cf591ffff2

`0:036> uf 00007ffe6d37600c`
https://gist.github.com/arekpalinski/a3759aca7ce8e4d0bed0f5c384d8226a

[2019-03-05 07:50] paraspatidar commented on #18452
FYI , apart from kubernetes , same behavior is observed on Ubuntu VM on azure.
when running that command manually  :
` /usr/bin/perf script -i perf.data.merged -f comm,pid,tid,cpu,time,event,ip,sym,dso,trace > perf.data.txt` :
output : `Samples for 'cpu-clock' event do not have CPU attribute set`

OS :
NAME="Ubuntu"
VERSION="18.04.1 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu

[2019-03-05 08:03] kouvel commented on #22919
There were a number of issues that were fixed in 3.0 and ported to 2.2. This may be a duplicate of https://github.com/dotnet/coreclr/pull/19237. CC @CarolEidt

[2019-03-05 08:05] kouvel commented on #22919
If this doesn't need to be fixed in 2.1/2.0 it may be appropriate to disable the vector perf tests when running against those versions.

[2019-03-05 08:17] adamsitnik commented on #22919
From our perspective, it does need to be. I have reported this problem so you can investigate if the source of this problem is something important and needs to be fixed in 2.1 or not.

[2019-03-05 09:36] filipnavara opened #23027 "Double-free in OverlappedTests?"
I tried to turn the code from OverlappedTests into a local benchmark and it was crashing on my machine due to double-free:

https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.Threading.Overlapped/tests/OverlappedTests.cs#L149-L170

https://github.com/dotnet/corefx/blob/a10890f4ffe0fadf090c922578ba0e606ebdd16c/src/System.Threading.Overlapped/tests/OverlappedTe

[2019-03-05 09:37] #23027 closed

[2019-03-05 09:40] noahfalk commented on #22919
@adamsitnik did you mean?

[2019-03-05 09:54] fiigii commented on #22850
@CarolEidt I tried that this assertion failure only can be reproduced with debug build `System.Private.CoreLib` and the test case is very simple [test.txt](https://github.com/dotnet/coreclr/files/2930257/test.txt)

The release build `System.Private.CoreLib` works fine, and here is the IR
[code]
This bug emerges only with (debug build `System.Private.CoreLib` + calling `As<T, U>` on `this`of `Vecto

[2019-03-05 12:15] sonnemaf commented on #22991
I was afraid that I had to use the AggressiveInlining solution. It works but looks ugly. Thanks for your help. I hope the Future is near by.

[2019-03-05 13:46] bencyoung commented on #22991
@AndyAyersMS Could the compiler add perf hints (perhaps via an attribute) to let the JIT know that a property is trivial and should always be inlined? It seems easy for the compiler to be able to tell that a property is a simple mapping to a field and so add the attribute AOT?

[2019-03-05 14:16] jkotas commented on #22991
If you are building your own Vector, you would be better off to just use fields. Just like the Vector types in the framework: https://github.com/dotnet/corefx/blob/master/src/System.Numerics.Vectors/ref/System.Numerics.Vectors.cs#L354

The property code is not the problem. The bottleneck is in code that calls these properties. Fetching a property via property getter generates bigger more complex I

[2019-03-05 14:33] stephentoub commented on #22991
@jaredpar, could we revisit https://github.com/dotnet/roslyn/issues/15644?

[2019-03-05 14:39] BruceForstall commented on #23016
@danmosemsft Looks like a recent corefx build failure regression. Any ideas?

[2019-03-05 14:48] bencyoung commented on #22991
@jkotas I think people probably have a mental model of what the JIT can do which is wrong! I'd always imagined these types of methods would always be trivially inlined without cost, so used them without thinking much. Similarly I was surprised reading the issues about structs with one struct member being expensive as again I'd assumed the JIT would trivally replace the outer with inner (assuming a

[2019-03-05 15:11] danmosemsft commented on #23016
@adiaaida ?

[2019-03-05 15:37] #23009 closed

[2019-03-05 16:37] GrabYourPitchforks commented on #23020
Yes, I have this fixed in my branch. Just opened this for tracking purposes.

[2019-03-05 16:48] #13048 closed

[2019-03-05 16:51] jashook commented on #9204
This issue should remain open as native varargs are included in 3.0 for Windows x64 and x86. However it is worth auditing this, because the work may have been completed already. I believe this is already fixed.

[2019-03-05 16:52] AndyAyersMS commented on #22513
I haven't been able to repro this. So will close.

[2019-03-05 16:52] #22513 closed

[2019-03-05 17:00] jashook opened #23034 "[Windows|Arm32] Disable native varargs and throw a PlatformNotSupportedException"
Native Varargs should not be in use for Windows Arm32, in 3.0. We want there to be a PlatformNotSupportedException thrown for the OS/Arch. There would be work in both the vm and JIT to support the calling convention.

Note that the current supported platforms for Native varargs are:

| OS | Arch |
| --- | ---- |
| Windows | x64 |
| Windows | x86 |
| Windows | Arm64 |

[2019-03-05 17:04] jashook commented on #23034
Note this is related to https://github.com/dotnet/coreclr/issues/18377. As it will require bringup to support Windows Arm.

[2019-03-05 17:26] adiaaida commented on #23016
Looking into it. It looks like the arcade codeOptimization target is building the path to the dll/ibc file in an unexpected way.

[2019-03-05 17:31] adiaaida commented on #23016
@tmat did we really intend the path to IBC data to be OptimizationDir\**\assemblyname.assemblyextension\*.ibc like we have here

https://github.com/dotnet/arcade/blob/2e59efaa4fc03429fa58e51363309e999c9440ef/src/Microsoft.DotNet.Arcade.Sdk/tools/OptimizationData.targets#L80

I was told it was just OptimizationDir\**\assemblyname\*.ibc. I can easily change the directory structure, I just want to ma

[2019-03-05 17:41] janvorli commented on #22820
@arekpalinski few more things please:
[code]

[2019-03-05 18:43] arekpalinski commented on #22820
@janvorli Here you go

https://gist.github.com/arekpalinski/242ab6bc73c90eb0c6dfc45703d91cf7

[2019-03-05 18:46] cshung opened #23037 "Assert failure(PID 484752 [0x00076590], Thread: 484832 [0x765e0]): (pInstance->GetData() != NULL && pInstance->GetDataLength() > 0) || (pInstance->GetData() == NULL && pInstance->GetDataLength() == 0)"
# Symptom:
[code]
# Repro (x86, debug)
Run the test case in #23009 with WinDBG attached and run, it will assert with the call stack above

[2019-03-05 19:04] wfurt commented on #22413
Even it this predominately fails on ARM, there are occasional failures on x64 as well.
This seems like test problem. Is the intention to create process in blocked state @bgribaudo?
I can take a look but I'm also inclined to remove the ARM label as this does not seems architecture dependent to me.

[2019-03-05 19:20] janvorli commented on #22820
Ok, the VerifyHeap has shown there is quite a large scale heap corruption. Also, from the stress log, I can see that the last GC scan of the current thread was executed when the Voron.Data.Fixed.FixedSizeTree.AddEmbeddedEntry was not on the stack. So that rules out the GC hole in its GC info.
My guess is that something unsafe is corrupting memory.

We can get some more detail on that by running th

[2019-03-05 19:37] janvorli commented on #22270
Fixed by #22494

[2019-03-05 19:37] #22270 closed

[2019-03-05 19:44] ayende commented on #22820
My main concern here is that this is running on Win 2019 server, and it crashes consistently.
The same code on a Win 2016 server works fine. There is this issue: https://github.com/dotnet/coreclr/issues/22597 , which I believe might be another manifestation of the problem.

[2019-03-05 19:48] wfurt commented on #22413
got the PNSP when running on 64bit Ubuntu 18.04

[code]

[2019-03-05 19:54] AndyAyersMS commented on #22820
My understanding is that #22597 will result in crashes but not heap corruption.

[2019-03-05 20:44] danmosemsft commented on #22413
Just noticed the top post was a different symptom, 'No such process'. That is less obvious.

[2019-03-05 20:51] marklio opened #23039 "Assertion failed 'assertion->op2.u1.iconFlags != 0'"
See IL repro at the bottom. Please let me know if you need more info, or a repro of a different form.

- Save the IL below as test.il
- `ilasm test.il /dll`
- run amd64 CHK crossgen on the output:
-- `crossgen.exe /in test.dll /out test.dll.ni /nologo /verbose /platform_assemblies_paths "paths_to_il"`

Expected: successful compilation
Actual:

IL repro:
[code]

[code]

[2019-03-05 21:04] AndyAyersMS commented on #22820
I'm evaluating a candidate fix now. It is not x86 specific, and while I haven't looked in depth yet, I think the issue it addresses would apply to all architectures... will update when I know more.

[2019-03-05 21:14] janvorli commented on #22820
The issue is x86 windows specific. We handle that differently on other architectures. The reason is that on other architectures / platforms, when we are running in the filter, we have the try block frame on the call stack too and so we walk it and report the locals from there. Thus we don't need to report them from the filter frame. It is not the case on x86 Windows due to the way how SEH works.

[2019-03-05 21:19] cshung opened #23040 "Assert failure(PID 506060 [0x0007b8cc], Thread: 506072 [0x7b8d8]): m_pBuffer <= pAddress && m_pLimit > pAddress"
# Symptom:
[code]
# Repro (x86, debug)
Run `tests\src\tracing\tracevalidation\tracelogging\tracelogging.csproj` after applying the fix https://github.com/dotnet/coreclr/pull/23038 for https://github.com/dotnet/coreclr/issues/23037

[2019-03-05 22:39] janvorli commented on #22961
@Maoni0, @vkvenkat I've written a simple testing Linux app that dumps how processors are split to NUMA nodes (using the NUMA library) and what is the current thread affinity by default. Here is the output for my 2 numa node machine. As you can see, Linux doesn't limit the thread affinity to a single numa node like Windows do by default.
[code]

When using taskset to run my test on processors 2, 3,

[2019-03-05 22:57] janvorli commented on #22961
Actually, the change will be a bit more involved than what I've said above, since we'll need to consider both the limits imposed by cgroups and the taskset.

[2019-03-05 23:15] Maoni0 commented on #22961
sorry, I'm a bit confused. NUMA nodes on the machine @vkvenkat used had on [22861](https://github.com/dotnet/coreclr/pull/22861) spanned a non contiguous # of cores (NUMA0 is 0-23 and 48-71). and when it's set to run on 0-24 which spanned multiple NUMA nodes it did return 25 which is the correct #. so not sure what you meant by "As you can see, Linux doesn't limit the thread affinity to a single n

[2019-03-05 23:21] AndyAyersMS commented on #22820
Yes, I see. From the jit's internal standpoint the liveness computation was still wrong for filters on other architectures, but fixing that didn't impact jit codegen or gc info.

PR for the filter liveness fix is up: #23044.

[2019-03-05 23:24] janvorli commented on #22961
@Maoni0 you have accidentally mixed the windows and linux things here. On Windows, CPUs 0..47 were on  a single NUMA node, thus 0-24 returned CPU count 25 on Windows.
On Linux, CPUs 0-23 and 48-71 are on a single numa node and thus 0-24 returned mask 0 and CPU count 64.