[2019-01-24 02:47] Maoni0 commented on #22170
I don't think this can possibly be related to #21782 which only affects collectible types.

this test can rightfully fail during GC stress 0xc where a GC could be triggered between these 2 lines:
[code]
in which case both objects could be promoted to gen2. agen2 could still say 1 because at that point both objects were in gen1.

this test should not be run under gcstress... I'll make it GCStressIn

[2019-01-24 03:05] Maoni0 commented on #22170
#22175

[2019-01-24 03:15] neyromant commented on #20616
In my case, the Type.GetTipe call is made in a third-party library. And I can not give it the parameters.
I wrote Roslyn-analyzer, which finds Non-ASCUU characters in the names and does not allow to compile the project, if found them.

[2019-01-24 03:58] caozhiyuan commented on #22151
ntHeaders->OptionalHeader.Magic = VAL16(IMAGE_NT_OPTIONAL_HDR32_MAGIC) in linux , but system is inux-x64

[2019-01-24 05:16] iskiselev opened #22176 "Profiler use after release on process exit"
CoreCLR version: 2.1, 2.2 (probably  all of them)
OS: Ubuntu/CentOs/MacOs (probably any non-Windows)

On application exit CLR sometimes crashes with SEGFAULT if profiler has subscribed to COR_PRF_MONITOR_JIT_COMPILATION.
Based on coredump analysis crash happened in `EEToProfInterfaceImpl::JITCompilationStarted(unsigned long, int) ()`.
Looks like it is possible to crash on other profiler callback t

[2019-01-24 05:16] benaadams commented on #22078
Using changes in https://github.com/dotnet/coreclr/pull/22127

Different

[code]

AlmostSameButDifferent

[code]

Same

[code]

[2019-01-24 05:52] tonesnotes opened #22177 "SequenceReader TryCopyTo does not increment Consumed"
Running 3.0.0-preview-27122-01

This may be by design, but using a combination of TryReadLittleEndian and TryCopyTo methods on a SequenceReader results in a Consumed value that only reflects the TryReadLittleEndian calls.

All the calls return true.
All the calls extract an appropriate value from the SequenceReader.

[2019-01-24 06:36] tonesnotes commented on #22177
Correction, since TryCopyTo doesn't increment Consumed (or CurrentSpan / CurrentSpanIndex), all the values read/copied after the first TryCopyTo are incorrect.

[2019-01-24 06:38] tonesnotes commented on #22177
The only workaround I've found is to explicitly call Advance(count) after each TryCopyTo.

This leads to messy code where two different approaches are required depending on the type being read and a maintenance issue in the requirement that the Advance and TryCopyTo calls be kept in sync.

[2019-01-24 06:42] tonesnotes commented on #22177
From my current possibly incorrect understanding of the code, adding a TryCopyToAndAdvance method would be great. Alternatively, adding an optional argument to TryCopyTo to control the Advance semantics might be another way to go.

[2019-01-24 06:42] davidfowl commented on #22177
Can you show what your parsing code looks like?

[2019-01-24 07:04] sandreenko commented on #22170
As I see [Collect1 ](https://github.com/dotnet/coreclr/blob/master/tests/src/GC/API/GC/Collect1.cs) also fails from time to time: [example](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_gcstress0xc_zapdisable/112/testReport/junit/GC_API/_GC_Collect1_Collect1_/_GC_Collect1_Collect1_cmd/).

And the issue is not GCStress itself,

https://github.com/dotnet/c

[2019-01-24 07:22] Maoni0 commented on #22170
how was collect1 run? was it run inside a process with other tests? if so those other tests can certainly trigger GCs and we are back to a situation similar to GCStress.

nothing says Array must be 2 (there's no +). we may decide to not promote.

in general these checking generation tests are of low value. and I definitely would not run collect0 under GCStress 'cause it makes no sense for reasons

[2019-01-24 07:36] tonesnotes commented on #22177
I see that on the Writer side, the semantics are the same: Advance needs to be called after a CopyTo operation.

So its clearly the convenience of the extension methods that's motivating this.

I'm just starting to work with Pipe and StreamReader.

From a cleaner reading, less opportunity for bugs point of view, at this stage in my understanding, I'd really like to be able to have both my writes a

[2019-01-24 07:51] v-haren opened #22179 "Unspecified error in dir.traversal.targets during test build on perf hardware"
failed in job: https://ci2.dot.net/job/dotnet_coreclr/job/perf/job/master/job/perf_perflab_Windows_NT_x86_min_opt_ryujit/1156/

failed log:
[WS-CLEANUP] Deleting project workspace...Cannot delete workspace :remote file operation failed: C:\j\w\perf_perflab_---ce30617b at hudson.remoting.Channel@4268bdb7:JNLP4-connect connection from 131.107.147.125/131.107.147.125:46715: java.io.IOException: Unabl

[2019-01-24 09:52] caozhiyuan commented on #22151
@jkotas  help explain it .

[2019-01-24 09:53] marek-safar commented on #22165
/cc @MichalStrehovsky

[2019-01-24 10:34] noahfalk commented on #22151
Just guessing, but you are probably seeing two different behaviors on how the on disk images are being mapped into memory. I'll call the techniques 'Flat' and 'BySection' for discussion here though maybe there are better names I am not aware of. Flat mapping means that the byte at file offset X is written to memory at baseLoadAddress + X. BySection means you first parse the [PE Section table](http

[2019-01-24 10:41] caozhiyuan commented on #22151
ok , but baseLoadAddress i gei it from GetModuleInfo2 , i don't now it's 'Flat'  or 'BySection' . i test BySection in linux just now, but not success, maybe i need more read about pedecoder

[2019-01-24 10:56] MichalStrehovsky commented on #22165
I haven't debugged through it, but the first thing I noticed is there's a conflicting definition of overrides for the `Foo` and `Bar` methods. One definition using name matches, and one using overrides. If you try to make such conflict using other means (e.g. two conflicting `.override`s), you would get a `TypeLoadException`. Maybe this should have been a `TypeLoadException`, but at this point the

[2019-01-24 12:39] jkotas commented on #22151
Try using `COR_PRF_MODULE_FLAT_LAYOUT`. Related:  https://github.com/dotnet/coreclr/pull/10772#issuecomment-384458029

[2019-01-24 12:46] eshvatskyi commented on #12972
Any news?

[2019-01-24 13:07] jkotas commented on #22150
Fixed by #22153

[2019-01-24 13:07] #22150 closed

[2019-01-24 14:00] mletterle commented on #22165
As an aside, this *was* a TypeLoadException in .NET 1.0/1.1, it appears the behavior changed in .NET 2.0, which makes me curious if the change was related to the introduction of generics support somehow.

[2019-01-24 14:46] caozhiyuan commented on #22151
@noahfalk  @jkotas  thanks, it's done.

[2019-01-24 15:53] RussKeldorph commented on #20156
I don't think we're ready to sign the JIT up to guarantee lifetimes match their lexical scopes.  In fact, we're constantly "fixing" test cases that make the same assumption about lifetimes as above.  In theory, we might consider addressing particularly egregious examples that were hitting in real world code *in release builds*, but even then the workaround of creating a no-inilne helper method wou

[2019-01-24 15:53] #20156 closed

[2019-01-24 16:23] CarolEidt commented on #20156
This has been discussed elsewhere, but another point to make is that the [spec](http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-335.pdf) is careful to make few guarantees about when finalizers are called, specifically to provide flexibility to runtimes and code generators with regard to optimization and reporting. See in particular I.8.9.6.7 - "Since programmers might depend on f

[2019-01-24 16:48] tannergooding commented on #22103
@kouvel. Shouldn't we have an issue tracking the workaround? TODO comments tend to get lost and forgotten about when they dont have an associated work item.

[2019-01-24 16:59] tannergooding commented on #19139
@RussKeldorph, I think we could probably leave this open as an "up for grabs" issue, where someone could come in and clean up the template used to generate these files.

Even if it isn't performance critical and the JIT can fix it up, the code is still pretty bad and letting someone from the community clean it up probably wouldn't hurt.

[2019-01-24 17:10] RussKeldorph commented on #19139
@tannergooding Doesn't seem very likely, but hey, when you're carrying 40% of coreclr's issue load, what's one more, right?  (Hopefully someone will read this and fix it just to spite me.)

[2019-01-24 17:16] mikedn commented on #19139
I'd fix it but it's not JIT code so why bother? (hint hint - I think the code gen label is wrong)

[2019-01-24 17:17] tannergooding commented on #19139
@RussKeldorph, If it being in CoreCLR is an issue, we could probably move it to CoreFX under the appropriate `area-System.Numerics` label. I imagine that would give it more visibility (as people are more likely to look for framework related work items in CoreFX).

I don't think issues like this, which aren't actually related to the runtime, necessarily need to be in CoreCLR just because the code i

[2019-01-24 17:33] mikedn commented on #19875
@RussKeldorph I'm not quite sure what up-for-grabs really means but if it implies that the issue is perhaps more approachable then it might be misleading in this case.

Removing `GT_ADDR` completely tends to run into the same issues as `GT_ASG` removal. In particular, we need to be able to have struct typed `GT_LCL_FLD` nodes in the IR. And then, getting that strays into 1st class structs territor

[2019-01-24 17:37] RussKeldorph commented on #19875
@mikedn How about now?

Maybe I'm being idealistic but I'd like to think we can offer problems of all difficulty levels under `up-for-grabs`, but if that isn't consistent the the accepted meaning of that label, I can stop.

[2019-01-24 17:55] mikedn commented on #19875
I don't know, as I already said, I'm not sure what the meaning of the label truly is. I guess that some kind of "hard" is perfectly fine for up-for-grabs. But when the work spans more than half of the JIT, interferes with other issues, requires multiple PRs to get it done then it's probably a bit too much.

Sometimes I wonder how I ended up doing this. I guess that after a couple of years of looki

[2019-01-24 18:11] RussKeldorph commented on #19825
Closing assuming duplicate of #19246.

[2019-01-24 18:11] #19825 closed

[2019-01-24 18:15] RussKeldorph commented on #19245
@tannergooding Can we close this in favor of #19246?  If we need to break out individual test groups, we could use a checklist in that issue.

[2019-01-24 18:31] tannergooding commented on #19245
Yes, that should be fine. At this point, the `SSE2` tests are the bulk of what remains, in any case.

[2019-01-24 18:31] #19245 closed

[2019-01-24 18:44] AndyAyersMS commented on #22163
Got things working again, and the change above works -- will submit a PR
[code]

[2019-01-24 18:55] GSPP commented on #19875
@mikedn I wish you the best of luck in cleaning up these disgusting design mistakes! Really need to get rid of stuff like this to move the JIT forward.

[2019-01-24 19:11] AndyAyersMS commented on #18842
We're not going to get to this in 3.0....

[2019-01-24 19:14] AndyAyersMS commented on #19076
Still worth considering, but we're unlikely to get to this in 3.0, so marking as future.

[2019-01-24 19:19] AndyAyersMS commented on #21033
Still on the fence about the value of this -- labelling as "future"

[2019-01-24 19:21] sandreenko commented on #19340
@jorive @noahfalk could you please exclude this test until this issue is fixed?
It will make this [job ](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_zapdisable/)happy.

[2019-01-24 19:23] AndyAyersMS commented on #19283
Removing unreachable switch cases seems valuable, perhaps range prop could inspire this.

[2019-01-24 19:35] mikedn commented on #19875
@GSPP Thanks!

[2019-01-24 19:36] sandreenko opened #22190 "[x86][windows] Asserts in `!argx->IsVarAddr() || (argx->gtType == TYP_I_IMPL)`"
`JIT_Performance._CodeQuality_Roslyn_CscBench` and  `managed_Compilation` started to fail with `!argx->IsVarAddr() || (argx->gtType == TYP_I_IMPL)`, for example: [jitStress2_jitstressRegs2](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_jitstress2_jitstressregs2/724/testReport/).

There are [29 changes](https://ci.dot.net/job/dotnet_coreclr/job/master/job

[2019-01-24 19:38] CarolEidt commented on #22190
That seems like a pretty safe bet, especially since JitStress really likes to arbitrarily retype things.

[2019-01-24 19:57] kouvel commented on #22103
Yea true, I'll keep this one open

[2019-01-24 19:59] #19583 closed

[2019-01-24 20:08] CarolEidt commented on #21308
@tannergooding @fiigii - We may want to change the title of this to indicate that this coreclr issue tracks the JIT implementation for  dotnet/corefx#33566

[2019-01-24 20:15] erozenfeld commented on #22190
I'll investigate.

[2019-01-24 20:20] AndyAyersMS commented on #19209
FYI the provisional changes to `LazyGetFunctionEntry` fix this particular issue.
[code]
@janvorli does it make sense for you to take this over?

Or, I'm happy to work up a proper fix if you give me some pointers.

[2019-01-24 20:22] fiigii commented on #21308
No, I think they are unrelated. I am proposing to fold `LoadAlignedVector*` with VEX-encoding, but dotnet/corefx#33566 wants to add new APIs.

[2019-01-24 20:23] sandreenko commented on #22190
Also it fails with JitMinOpts as well (in our desktop testing).

[2019-01-24 20:23] #17256 closed

[2019-01-24 20:37] tannergooding commented on #21308
I believe we had determined that folding `LoadAlignedVector*` under the VEX-encoding was not desirable because it would result in non-deterministic behavior (i.e. it would hide an `AccessViolation` that would otherwise be thrown for non-aligned inputs).

[2019-01-24 20:43] sandreenko commented on #22170
As we discussed the right solution is to disable Collect1 as well, the issue can happen if the first
https://github.com/dotnet/coreclr/blob/aab30e3248b882ecad122127f3d60a2ce9ea14a6/tests/src/GC/API/GC/Collect1.cs#L17
decides not to promote `array`.
then https://github.com/dotnet/coreclr/blob/aab30e3248b882ecad122127f3d60a2ce9ea14a6/tests/src/GC/API/GC/Collect1.cs#L24
doesn't promote anything (beca

[2019-01-24 20:48] AndyAyersMS commented on #21660
We could likely remove this unnecessary move via a peephole, ala #21959, if we could safely look back across an IG boundary (currently we assume this boundary implies a control flow join).

As for the redundant cast.. not sure what Jit32 does just yet, but RyuJit, the importer can't take advantage of conditional facts, and later on when we have dataflow, we get rid of the residual helper call but

[2019-01-24 20:51] janvorli commented on #19209
Thanks @AndyAyersMS for the investigation and testing. I was thinking about it and since (unless I miss something) we need this fix for Windows ARM64 too, the fix cannot be in the unwinder code that we have in coreclr (as it would then be used for Linux / debugger only). So it seems to me that your fix is actually at a proper place. The only thing I would do is to extract the loop that iterates ov

[2019-01-24 20:53] jeffschwMSFT commented on #20522
@bbc2 sorry for the delay.  Does your machine happen to have 2.0 also installed?  When I run this on my machine I have 2.0, 2.1, etc. installed.  When I run it the primary process is 2.1, but the vstest process using the config file from "C:\Program Files\dotnet\sdk\2.1.600-preview-009472\datacollector.runtimeconfig.json" loads 2.0.

The reason this matters, is that this application is using refer

[2019-01-24 21:35] AndyAyersMS commented on #21660
Perhaps related, down at the join we don't have a value number for one of the PHI inputs, otherwise we'd perhaps realize we had a redundant PHI and could trigger an opt (eg if PHI inputs are redundant and one PHI pred dominates the other then the other's assignment is redundant).
[code]
Note 70 should have VN $80 too.

[2019-01-24 21:41] AndyAyersMS commented on #21660
Maybe it's just a dump thing? VN seems to spot this... abnd marks tmp2 later in the block...
[code]

[2019-01-24 21:44] mikedn commented on #21660
That's a "bug" in VN, it forgets to assign a VN to the first PHI arg. AFAIK it doesn't cause any issues, expect for confusion when looking at dumps. It's fixed in my SSA use list PR.

[2019-01-24 21:47] AndyAyersMS commented on #21660
Yeah, just realized that.

Seems like if we skip and input we might mistakenly conclude `all same` and propagate a VN to the PHI def that's wrong, and that could lead to bugs? Or does something else prevent this?

[2019-01-24 21:56] mikedn commented on #21660
It doesn't actually skip it. It does use the input VN to compute the GT_PHI node VN but it just fails to assign the input VN to the GT_PHI_ARG node. I don't think there's any code in the JIT that pays attention to the VN of GT_PHI_ARG.

[2019-01-24 22:09] tannergooding commented on #22046
CC. @AlekseyTs, @jaredpar

The first and fifth issues should now be fixed (no change required by the compiler)
* We had changed negative zero to include the sign when formatting. It was determined this should be reverted.

The third and fourth issues should now be fixed (possible change required by the compiler)
* We had updated the parsing code to take all trailing digits into account when roundi

[2019-01-24 22:46] CarolEidt commented on #19910
I'm going to assign this to myself for now, for 3.0, as I *think* it might be addressed by some work I have in progress. But it may be moved out to Future.

[2019-01-25 00:18] #22163 closed

[2019-01-25 00:37] gafter commented on #1712
This code does not work in some cases.

[code]

The new API should use the runtime type of the delegate if they are the same, reproducing the current behavior.  Only if they are not the same (in which case the current API would fail) would the new API produce a delegate of the provided runtime type.  This would be compatible.  In either case it would produce an object of the provided static type.

[2019-01-25 01:16] VincentBu opened #22199 "[x86] CoreMangLib/components/stopwatch/Co9600Ctor/Co9600Ctor.sh failed in x86_checked_ubuntu_tst"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/job/x86_checked_ubuntu_tst/190/

**Failed tests:**
CoreMangLib/components/stopwatch/Co9600Ctor/Co9600Ctor.sh

**Log:**
[code]

[2019-01-25 01:34] #22174 closed

[2019-01-25 01:51] VincentBu opened #22200 "[arm64] Test failed: JIT_Regression._JitBlue_GitHub_20657_GitHub_20657_GitHub_20657_._JitBlue_GitHub_20657_GitHub_20657_GitHub_20657_sh"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_jitstress2_jitstressregs8_tst/97/

**Failed tests:**
JIT_Regression._JitBlue_GitHub_20657_GitHub_20657_GitHub_20657_._JitBlue_GitHub_20657_GitHub_20657_GitHub_20657_sh

**Log:**
[code]

[2019-01-25 01:52] AndyAyersMS commented on #19209
Sure -- should have a PR ready before too long.

[2019-01-25 01:59] sandreenko commented on #22077
xperf shows that

coreclr!COMModule::GetTypes uses 18s (exclusively) on arm64 and 5s on arm32.

I am not sure where this method (COMModule::GetTypes) is defined, https://github.com/dotnet/coreclr/blob/65918165dbeb24861f27fc96f0ccf380b13097d3/src/vm/commodule.cpp#L980-L982

does anybody know?

[2019-01-25 02:07] AndyAyersMS commented on #22077
That's where it is defined -- it delegates most of the work to `GetTypesInner` which is just below, so I would not expect much time to be spent there (modulo inlining).

It is set up this way so it can be called from managed code.

[2019-01-25 02:34] AriNuer opened #22201 "[arm64/windows] Test " Interop_PInvoke._SafeHandles_ReleaseHandle_ReleaseHandleTest_ReleaseHandleTest_._SafeHandles_ReleaseHandle_ReleaseHandleTest_ReleaseHandleTest_cmd" failed with Assert failure"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_gcstress0xc_tst/55/testReport/
**Failed test:**
Interop_PInvoke._SafeHandles_ReleaseHandle_ReleaseHandleTest_ReleaseHandleTest_._SafeHandles_ReleaseHandle_ReleaseHandleTest_ReleaseHandleTest_cmd

**Failed log:**
[code]

[2019-01-25 02:45] adityamandaleeka commented on #13592
Yup, thanks!

[2019-01-25 02:45] #13592 closed

[2019-01-25 02:48] #22078 closed

[2019-01-25 03:17] AndyAyersMS commented on #20029
I'll take a look.

[2019-01-25 06:47] AndyAyersMS commented on #20029
Test was modified by #20321 to fix a test issue on 64 bit hosts and was removed from exclusion

Can't repro the failure, seems to be passing in recent CI runs too. So closing as fixed.

[2019-01-25 06:47] #20029 closed

[2019-01-25 06:51] AndyAyersMS commented on #20112
Suspect we won't want to perturb things for 3.0, so moving to future.

[2019-01-25 06:53] AndyAyersMS commented on #19862
@jaredpar any luck with a repro for this?

[2019-01-25 06:55] AndyAyersMS commented on #19211
I'll investigate.

[2019-01-25 09:37] noahfalk commented on #22176
Thanks for the report @iskiselev! You mentioned analyzing a coredump, do you have a stack trace where the failure occurred? I think we could set something up given the repro instructions you provided but we'll need to make a little time to look into it.

[2019-01-25 14:54] austvik opened #22208 "Better error message when not loading assembly"
Assembly loading problems are frustrating to debug, especially in some cloud world where you don't necessarily have control over regestry settings or env variables in the running environment.

Any error message containing "or" should be banned, but lets start with this one.

The expected error message should be "Failed to load DLL %1, couldn't find it. Searched for it in the following locations: %

[2019-01-25 15:42] janvorli commented on #22208
@austvik The error messages given above didn't originally have the "or one of its dependencies" in it. I have added that one to make it actually clearer that the shared library actually may have been there, but its dependencies or dependencies of their dependencies were missing. People were complaining - how come the message tells us that the file is missing when we can see it being there?
Btw, th

[2019-01-25 16:14] tarekgh commented on #20798
Look at the doc https://docs.microsoft.com/en-us/windows/desktop/api/timezoneapi/ns-timezoneapi-dynamic_time_zone_information which is explaining the meaning.

[code]

in short, DynamicDaylightTimeDisabled=1 means you are disabling the daylight saving. and DynamicDaylightTimeDisabled=0 means you are enabling the daylight saving. So, .NET working as expected.

Now, you may think this is a Windows p

[2019-01-25 16:31] pepone opened #22209 "Dump process stack under macOS and Linux"
Hi,

I looking for a way to get a backtrace of all threads from a running .NET Core process , similar to gdb `thread apply all bt` or lldb `bt all` commands

Is there support to get that info from macOS or Linux?

[2019-01-25 16:37] #21975 closed

[2019-01-25 16:50] ZackTech opened #22210 "Global Date Format"
I am developing an Asp.net Core version 2 Web Api and Web Front End. In one of my entry forms I am using a Boostrap date picker. When I run the application on my own PC even connected to the Azure database everything runs normally. On Azure when the model validates server side I get Invalid Date Format. I think server side it has decided to use the US date format.

Is there a global setting I can

[2019-01-25 17:02] RussKeldorph commented on #22210
@tarekgh

[2019-01-25 17:04] danmosemsft commented on #22114
There are certainly fast maps that use SIMD instructions, such as Abseil's Swiss table
https://abseil.io/about/design/swisstables
https://github.com/abseil/abseil-cpp/blob/0dffca4e36791c7beeda04da10460b534283948a/absl/container/internal/raw_hash_set.h

It would be interesting to experiment with that approach, but that should start with a proposal or experiment in the dotnet/corefxlab repo (and if

[2019-01-25 17:06] danmosemsft commented on #22209
Yes, `sos` works on Mac and Linux. Please see https://github.com/dotnet/diagnostics.

[2019-01-25 17:06] danmosemsft commented on #22209
This issue was moved to dotnet/diagnostics#118

[2019-01-25 17:07] #22209 closed

[2019-01-25 17:08] danmosemsft commented on #22114
Mind if I move this issue over there @simplejackcoder ?

[2019-01-25 17:09] danmosemsft commented on #22108
https://github.com/dotnet/corefx/pull/34790

[2019-01-25 17:09] #22108 closed

[2019-01-25 17:18] benaadams opened #22212 "Large numbers of Pinvoke stubs created on startup"
Using checked Jit and JitDasm (on Windows)
[code]
This program on current .NET Core 3.0
[code]
Outputs 27 `ILStubClass:IL_STUB_PInvoke`
[code]

Not sure if this is expected, am sure it was less?

/cc @jkotas

Is it Tiered Jit related? /cc @kouvel

[2019-01-25 17:18] tarekgh commented on #22210
@ZackTech I am not that familiar with Bootstrap date picker but can't you set your preferred locale when using the picker?

[code]

Something else you may try is doing the following in your startup code:
[code]

These will force using en-GB as default culture for date formatting and parsing.

[2019-01-25 17:22] tarekgh commented on #22210
I found some useful thread which may help too https://stackoverflow.com/questions/19382189/change-language-for-bootstrap-datetimepicker

[2019-01-25 17:22] benaadams commented on #22212
Looks like it was 5 `IL_STUB_PInvoke` previously on Windows rather than 27 (according to this issue https://github.com/dotnet/coreclr/issues/13129) /cc @AndyAyersMS

[2019-01-25 17:23] tarekgh commented on #22210
@ZackTech I am closing the issue but feel free to reply back with any more questions and we'll be happy to help.

[2019-01-25 17:33] jkotas commented on #22208
The Windows equivalent of `LD_DEBUG` / `DYLD_PRINT_LIBRARIES` is [Show loader snaps](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/show-loader-snaps) flag. Perhaps we can update the Windows error message to suggest it.

[2019-01-25 17:49] jkotas opened #22213 "Type.GetType($”{typeName}, {assemblyName}”) should load assemblies in the caller context"
`Type.GetType` is one the several APIs that take the caller assembly as implicit hidden argument.

Another example of such API is `Assembly.Load`. `Assembly.Load` loads assemblies in the caller context, using this hidden caller argument.

`Type.GetType` loads assemblies in the default context today. We should change it to load assemblies in the caller context to be consistent with `Assembly.Load`.

[2019-01-25 17:54] ericnewton76 commented on #21379
from the visual studio blog:

I just wanted to say kudos for acknowledging the mistake and pointing to a clear workaround for the time being.

[2019-01-25 18:04] jkotas commented on #22213
cc @jeffschwMSFT @sdmaclea @vitek-karas

Customer reported issue

[2019-01-25 18:12] vitek-karas commented on #22213
Sounds like a breaking change. I'm not arguing the desired behavior, just the fact that making the change is potentially risky.

[2019-01-25 18:17] ZackTech commented on #22210
As for your suggestion, been there, done that, got the T-Shirt! Doesn't fix the problem!!

I found this thread on stackoverflow.
https://stackoverflow.com/questions/44688311/how-to-set-culture-for-date-binding-in-asp-net-core

This is the code that I have added to Startup.cs in the Web Front End is:

var supportedCultures = new[] { new CultureInfo("en-GB") };
        app.UseRequestLocalization(new

[2019-01-25 18:21] sdmaclea commented on #22213
I assume the behavior suggested is consistent with .NET Framework.  So to keep .NET Standard behavior consistent it needs to be fixed.

[2019-01-25 18:24] tarekgh commented on #22210
@Eilon do you have any suggestion for @ZackTech from ASP.NET side?

Closing the issue doesn't mean we'll not respond to you. I reactivated the issue if this make a difference to you.

[2019-01-25 18:32] AndyAyersMS commented on #19986
I'll look at b163200....

[2019-01-25 18:33] AndyAyersMS commented on #19464
I can repro this, will investigate.

[2019-01-25 18:41] RussKeldorph commented on #22199
All the tests failed.  This job needs to be ported to AzDO using build-test.sh and removed from Jenkins.

[2019-01-25 18:49] AndyAyersMS commented on #19211
Haven't been able to repro this.

We don't seem to run these tests under CI GC stress anymore so have no recent CI history to refer to.

@BruceForstall do you know where these are excluded?

[2019-01-25 19:00] sdmaclea commented on #19211
@AndyAyersMS These represented the intermittent failures I saw while running gcStress in my nightly runs over a period of month from 3/2018 to 8/2018.  I ran each GC multiple times a night, and report each instance of a failure.  These failures were rare.

I think I may have marked them as gcStressIncompatible to prevent them running in CI.  If we are OK with them being gsStressIncompatible, we co

[2019-01-25 19:08] BruceForstall commented on #19211
@AndyAyersMS Are you sure they are not run? Looks to me like they should be run, e.g., https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_gcstress0xc_flow/. The only problem is we don't currently save enough log information to see exactly which tests are actually run, so it's hard to know. This particular test is not marked GCStressIncompa

[2019-01-25 19:11] sandreenko commented on #21491
@AndyAyersMS I would like to move the milestone for this issue to the future. I can't repro it locally, ci job Linux Perf Test Flow doesn't work so I can't repro it in ci as well.

Probably even if we find the inlining decision that made the difference we would not be able to fix it without causing new diffs.

[2019-01-25 19:18] jaredpar commented on #19862
No. I think we should probably close this out. I can re-open again if I can get this to repro.

[2019-01-25 19:18] AndyAyersMS commented on #21491
Moving it is ok by me.

It would be good to understand what it is about the extra inlines that hurt performance. Generally speaking inlines should not make things slower like this....

[2019-01-25 19:24] sandreenko opened #22215 "[corefx][jitminopts] System.Buffers.Text.Tests.FormatterTests.TestFormatterDecimal regression"
[ci example1](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_corefx_minopts/lastCompletedBuild/testReport/), [ci example2](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_corefx_jitstressregs8/lastCompletedBuild/).

There were no recent test changes so it is probably an issue on our side.

[2019-01-25 19:40] BruceForstall commented on #19211
I added storing/uploading of individual test reports, but only to Windows. You can see the Windows/arm64 GCStress0xC logs here: https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_gcstress0xc_tst/55/.

(Or, specifically, this zip file: https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_n

[2019-01-25 20:20] sandreenko commented on #21491
Assertion propogation and CSE could be affected. Or as usual in any compiler development, we can say that it is register allocator issue.

[2019-01-25 20:21] #22170 closed

[2019-01-25 20:21] AndyAyersMS commented on #19211
Thanks. Still odd that CI on Linux seems to give two different views on what is being run. I find the summary view useful as one can eventually get to the per-test history for that CI leg.

At any rate from what I can tell this test is running on arm64 linux with GC stress and passing. And it passes for me locally. So, I'm going to close this.

[2019-01-25 20:43] AndyAyersMS commented on #19078
@mikedn want to add some notes on what your proposed fix was?

[2019-01-25 20:50] filipnavara commented on #22215
I remember seeing some PR with changes to decimal formatting... @tannergooding?

[2019-01-25 20:51] sandreenko commented on #22215
cc @dotnet/jit-contrib

[2019-01-25 20:55] filipnavara commented on #22215
https://github.com/dotnet/coreclr/pull/22070 ?

[2019-01-25 20:58] tannergooding commented on #22215
Yes, we reverted an earlier change and negative zero is once again being formatted as `0.0`. This will require a fixup in CoreFX after the change pumps over.

CC. @pentp, @jkotas

[2019-01-25 21:01] sandreenko commented on #22215
thanks @filipnavara!

@tannergooding any reasons why we see the issue only in minopts/stress?

[2019-01-25 21:08] AndyAyersMS commented on #19185
The unnecessary load is not there anymore.
[code]
Not sure when the codegen changed, perhaps from better quality ref counts...(#19345) ??

Think we can close this as the other CQ issues here are tracked.

@Zhentar feel free to take a fresh look.

[2019-01-25 21:10] AndyAyersMS commented on #19355
Is there anything here we should note for follow-up? Can't quite parse the above.

[2019-01-25 21:13] AndyAyersMS commented on #19620
Moving to future for now ... seems like we have a critical mass of these kinds of issues and should start thinking about the right way to clean them up.

[2019-01-25 21:18] AndyAyersMS commented on #20776
Not likely we'll get to this in 3.0.

[2019-01-25 21:21] AndyAyersMS commented on #21973
Seems risky to consider for 3.0, but sure would be a nice CQ boost for async methods. So keeping it in play for now.

[2019-01-25 21:28] RayKoopa opened #22217 "Can't start .NET Core 2.2.1 host: "ESP was not properly saved across function call""
- using the [.NET Core Runtime 2.2.1 x86 Binaries](https://dotnet.microsoft.com/download/thank-you/dotnet-runtime-2.2.1-windows-x86-binaries)
- new VC++ x86 project in VS2017
- running Windows 10.0.17763.253 x64

I try to run a .NET Core host from a new project (porting my old COM hosting API code to the newer `CoreClrHost.h` functionality), but when I call `coreclr_initialize_ptr`, it fails with

[2019-01-25 21:37] aensidhe commented on #19355
@AndyAyersMS no, as I said, can be closed.

[2019-01-25 21:37] #19355 closed

[2019-01-25 21:55] sywhang commented on #21743
Not sure why this got closed... Leaving the issue open for backporting the fix to 2.2

[2019-01-25 22:09] mikedn commented on #19078
Sure, not sure why I didn't do this back then. The problem is in `LowerAdd`:
https://github.com/dotnet/coreclr/blob/b697678e09b3731a02bedf928dad6c0148f01747/src/jit/lower.cpp#L4407-L4417

It disables LEA formation when the ADD is used by an indir and fails to take into the consideration the fact that the ADD may be used as the address operand **or the data operand** of a STOREIND.

I don't remembe

[2019-01-25 22:12] davidwrighton opened #22219 "Handling for custom modifiers Microsoft.VisualC.NeedsCopyConstructorModifier and System.Runtime.IsCopyConstructed is not correct"
CoreCLR is missing the BlittableValueClassWithCopyCtorMarshaller

The logic in NDirect::MarshalingRequired doesn't detect marshalling needed cases for ByRef parameters. Currently it only implements the logic for Ptr parameters.

[2019-01-25 22:14] CarolEidt commented on #21062
I would be inclined to put this in "Future" but also flag it as "Up for Grabs" as I don't think the implementation is terribly complex, or impactful.

[2019-01-25 22:41] jkotas commented on #22212
Why do you think so?

[2019-01-25 22:49] sandreenko commented on #22077
@jkotas
From JittedMethods I see that on arm64 we compile/run 50 of ILStubClass::IL_STUB_InstantiatingStub and
18 of ILStubClass::IL_STUB_UnboxingStub that we do not compile/run on arm32.

The difference there is not in the compile time, I have checked JitTimeLogFile and it showed me that throughput is approximately the same.

So the code that we are running is slower, do these stubs have big over

[2019-01-25 22:49] sandreenko commented on #22212
Answered in #22077 (in case if this is a different issue).

[2019-01-25 22:53] AndyAyersMS commented on #22212
Stubs are pretty small, I would not expect having to jit a few more to matter very much.

Also don't CoreFX tests all run in one process (or maybe a handful of processes at best)? If so presumably any "fixed cost" jit overhead washes out.

[2019-01-25 23:01] erozenfeld commented on #22190
Here is what happens here:

We start with this tree for the arg:
[code]

Note the `L` on `[000037]`, it means that `GTF_ADDR_ONSTACK` is set on the node. That's the flag that tells  morph to retype the node ad `TYP_I_IMPL`.

The struct then gets promoted:

[code]
and then LocalAddressVisitor transforms it to

[code]
Note no `L` on `[000040]`, i.e., `GTF_ADDR_ONSTACK` is not set.  Since `GTF_ADDR_O

[2019-01-25 23:05] noahfalk commented on #22137
@camainc thanks for providing these dumps. With some further investigating by my teammate we've likely connected your issue to a bug in the runtime that was discovered last year. We have implemented a fix that is included in the forthcoming .Net 4.8 release and we've got some options for you to try that will hopefully workaround the issue using the build of .NET you already have.

The primary goal

[2019-01-25 23:06] mikedn commented on #22079
Yeah, `fgMorphLocalField` marks the variable DNER before I transform the `LCL_FLD` node. With that out of the way I get this:
[code]
Hrm, something's still not right, those 1 constants are fishy...

[2019-01-25 23:13] mikedn commented on #22190
Perhaps we can make it change the type to `TYP_I_IMPL` directly?

[2019-01-25 23:14] erozenfeld commented on #22190
Yes, that should work too.

[2019-01-25 23:18] CarolEidt commented on #19910
This was fixed by #21314. I verified this by backing out that change, and seeing that the code is as above. Now I see this code:
[code]
Note that `a` is originally in `xmm7` but the register allocator reuses that for the 2nd definition of `tmp` since `a` is about to get redefined.

[2019-01-25 23:18] #19910 closed

[2019-01-25 23:36] janvorli commented on #22217
It seems that your project uses a different calling convention than the one that coreclr uses. We use the stdcall calling convention. Could you please try to add __stdcall to the CORECLR_HOSTING_API macro in the coreclrhost.h and see if it fixes the problem?
[code]

[2019-01-25 23:41] erozenfeld commented on #22190
But I think it's better to set 'GTF_ADDR_ONSTACK' so that it's recognized by 'IsVarAddr'.

[2019-01-25 23:41] erozenfeld commented on #22190
I have a fix, will open a PR shortly.

[2019-01-25 23:46] RayKoopa commented on #22217
I added `__stdcall` to `CoreClrHost.h` as specified, but the issues remain.

Apparently, my new VC++ project uses `__cdecl`, being the default for new projects in VS2017. I changed it to `__stdcall` in the project properties, and now it seems to work.

I'm just surprised it doesn't work with the explicit calling convention in the CoreClrHost.h... thanks for the help!

[2019-01-26 00:04] camainc commented on #22137
Thank you so much for your excellent work and the detailed workarounds.

Am I safe to assume that this bug only affects debugging, and won't be a problem in a release version? We haven't deployed this yet, but I don't know when the IT folks will get around to upgrading to version 4.8. We had to push a bit to get them to allow us to use 4.6.2.

Thank you again! I will try your suggested workarounds

[2019-01-26 00:31] billwert opened #22224 "Perf: Exceptions are much slower on .NET Core compared to .NET Framework"
@realdotnetdave reported to us that exception performance is meaningfully different between .NET Core and .NET Framework. This [article](https://www.c-sharpcorner.com/blogs/performance-exception-trapping) has his writeup.

|            Method |  Job | Runtime |      Mean |     Error |    StdDev |
|------------------ |----- |-------- |----------:|----------:|----------:|
| ExceptionTryCatch |  Clr

[2019-01-26 00:35] CarolEidt commented on #3539
@nietras - I am no longer seeing the excess copies in the small `ReadFromStack` and `WriteFromStack` methods. Can you check to see whether you're still seeing the excess copies in your larger examples? Also, if you can point to a small-ish test case that exhibits the issue that would be very helpful.

[2019-01-26 00:49] AaronRobinsonMSFT commented on #22219
We are going to need this for any CLI support so I am putting it in the 3.0 milestone.

cc @jeffschwMSFT @jkoritzinsky

[2019-01-26 01:22] AndyAyersMS commented on #19211
Of course right after I close this as no repro, it repros...

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_ubuntu16.04_gcstress0xc_flow_prtest/21/

[code]

[2019-01-26 01:37] AndyAyersMS commented on #17428
This hasn't failed in the past 4 CI runs (all we have archived) so am going to close as no repro.... which should guarantee it fails again fairly soon.

[2019-01-26 01:37] #17428 closed

[2019-01-26 01:40] AaronRobinsonMSFT commented on #22224
cc @janvorli @adityamandaleeka

[2019-01-26 01:40] #22217 closed

[2019-01-26 01:48] danmosemsft commented on #22224
@billwert do we have sufficient coverage of this in the perf repo?

[2019-01-26 01:52] billwert commented on #22224
@danmosemsft it’s on my list to check.

[2019-01-26 02:09] sergiy-k commented on #22224
Note: behavior of this microbechmark depends on the machine configuration (OS version/hardware). On some configurations this code runs on CoreCLR 15-20% faster than on Desktop CLR.

[2019-01-26 02:10] BruceForstall opened #22226 "[arm64] ObjectStackAllocationTests fails in release r2r job"
Windows and Ubuntu

https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_release_ubuntu16.04_r2r_tst/22/consoleFull
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_release_windows_nt_r2r_tst/144/consoleFull
[code]

[2019-01-26 02:14] BlackCentipede opened #22227 "[Linux] DllImport should invoke with RTLD_GLOBAL flag"
The CoreCLR behavior seems to be behaving as if library is loaded as RTLD_LOCAL despite the fact that the actual code resolves them with RTLD_LAZY flag when using dlopen. This causes some difficulty of using CoreCLR for P/Invoke code that since current P/Invoke API currently cannot access global library variables (at least cleanly), we would normally use dlopen/dlsym to access the global library v

[2019-01-26 02:34] BruceForstall commented on #22226
Also arm32:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_release_ubuntu_r2r_tst/41/consoleFull#-5562462482d31e50d-1517-49fc-92b3-2ca637122019

[2019-01-26 02:52] AndyAyersMS commented on #19464
Turned on some logging; seems more plausible this is a return buffer pointer:
[code]
and the return buffer pointer is a struct addressed from a heap allocated static which the jit either fails to report or does not get scanned.

[2019-01-26 02:58] jkotas commented on #22227
This issue was discussed in https://github.com/dotnet/coreclr/pull/18628 .

`RTLD_GLOBAL` will make some libraries work, but it will break others. There is no one right default. We have chosen `RTLD_LOCAL` to be the default since others (e.g. Python) made the same choice. Also, it matches the behavior on Windows - there is not even concept of global on Windows.

We have introduced a callback in .N

[2019-01-26 03:55] tannergooding commented on #22227
@jkotas, this is not the case.

`LoadLibrary` (and `LoadLibraryEx`, by extension) ref counts modules on a per-process basis and Windows (see https://docs.microsoft.com/en-us/windows/desktop/api/libloaderapi/nf-libloaderapi-loadlibraryw#remarks for more details), using the same code will return (as it does on Mono for `dlopen`):
[code]

Here is an end-to-end sample showing the behavior on Windows:

[2019-01-26 03:59] tannergooding commented on #22227
Additionally, when using `LoadLibraryEx`, it is possible to explicitly load multiple instances of a given module by specifying it is a datafile or image resource. In this scenario, it does not call DllMain and you must do that (and similar setup) yourself (this is similar to the LOCAL loading state in dlopen).

[2019-01-26 04:04] jkotas commented on #22227
@tannergooding This has not much to do with refcounting or loading multiple instance of the same .dlls.

On Unix, there is basically a process global hashtable of all exported symbols. When a shared library is loaded using `RTLD_GLOBAL`, its symbols are added to this hashtable and other shared libraries can resolve them, without specifying where the symbol should come from in its import tables.

[2019-01-26 12:47] mikedn commented on #22079
Eh, those constants aren't propagated because there are PHIs in the way. This is going to be fun.

[2019-01-26 12:51] mikedn commented on #19875
I should mention that preliminary work to support this is on going in #21705. Just so it doesn't look as if this issue (or the `GT_ASG` one) is stagnating :)

[2019-01-26 13:13] filipnavara commented on #21932
I'll work on Timer once the portable ThreadPool lands (currently blocked by CoreFX packages not being published to MyGet). The implementation in CoreRT looks like a cleaned up version of CoreCLR code with some bits moved to managed code. In fact I think `Timer.Unix.cs` should be renamed to `Timer.Portable.cs` since it has no Unix specific code.

[2019-01-26 13:15] stephentoub commented on #21932
There have been several performance improvements in coreclr that I don't believe are in corert.

[2019-01-26 13:21] filipnavara commented on #21932
I will look into that and do some benchmarks. I don't have a plan yet for how to land it, but I may try to do the same thing as with ThreadPool where common code and portable implementation is moved to the shared partition. The portable implementation would be under Feature flag and it would be used in CoreRT/Unix and Mono. CoreCLR would keep the current implementation for now.

[2019-01-26 13:34] filipnavara commented on #21932
Thanks much! These PRs largely affect the common code part, so it just means that the Timer.cs in CoreCLR is better baseline. Only one of them touched the unmanaged code and it looks like it was due to related interface changes and not due to performance issue.

[2019-01-26 13:35] stephentoub commented on #21932
Great, thanks.

[2019-01-26 13:39] marek-safar commented on #21932
@filipnavara thank you very much for looking into that

[2019-01-26 13:39] stephentoub commented on #21932
Yeah, as part of a perf change that resulted in multiple native timers, we needed to pass an id from managed to native so that it could be later passed back to identify which native timer was firing.

Eventually it could be nice to switch to an entirely managed implementation. But that should be done separately from this shared work and heavily scrutinized.

Thanks!

[2019-01-26 14:42] filipnavara commented on #21932
PRs for the Timer submitted. Hopefully I didn't break any build. I assume I will get some feedback about variable naming and there is still one function that I think should be moved to the common code, but it's not ready yet.

Agreed completely. It will be relatively easy to switch the implementation. The hard part is benchmarking and addressing any possible regressions.

[2019-01-26 14:56] cschuchardt88 opened #22232 "dotnet.exe 'Access violation'"
This is all i get for debug output.

[2019-01-26 17:49] filipnavara commented on #21932
@marek-safar, @jkotas Any opinions on unifying `[Event]WaitHandle` methods? The `Timer` and `ThreadPool` each have one place that needs SetEvent-like API on WaitHandle. I am tempted to just cast to `EventWaitHandle`, but for compatibility reasons that's really not an option on Windows where the `WaitHandle` can be created directly from native handles. Currently there's no unified way of doing it.

[2019-01-26 18:12] mikedn commented on #22079
After hacking VN to do some kind of SCCP I get this:
[code]
Close. Except for the 2 consecutive `x -= 1;`. It looks to me that the 2 C# versions aren't actually equivalent. The range version does not include the last element so the non-range version should be
[code]
Well, I suppose we could also do it the other way around - change the range version to match the non-range version. But since we have

[2019-01-26 19:02] jkotas commented on #21932
Add a internal static method to EventWaitHandle.Windows.cs/EventWaitHandle.Unix.cs that ThreadPool calls to avoid the ifdef?

[2019-01-26 20:34] AndyAyersMS commented on #22079
Thanks for foraging ahead on this. Always happy to see SCCP make an appearance.

[2019-01-26 20:53] saucecontrol opened #22235 "JIT fails to inline methods called from a large/complex outer method"
I'm seeing a significant perf regression between 2.1 and 3.0 for this complex hashing function
https://github.com/saucecontrol/Blake2Fast/blob/a140aaba46a8aa3003303c4aef62a472dd8ab4a3/src/Blake2Fast/Blake2bSse4.cs#L186-L503

[code]
|      Method |           Job | Platform |     Mean |     Error |    StdDev | Allocated |
|------------ |-------------- |--------- |---------:|----------:|----------:|-

[2019-01-26 23:36] tannergooding commented on #21070
This issue was moved to dotnet/corefx#34882

[2019-01-26 23:36] #21070 closed

[2019-01-27 00:44] omariom commented on #22235
Try to run it with tiered compilation turned off

![image](https://user-images.githubusercontent.com/1781701/51794527-83cff600-21cc-11e9-9aa2-8f63cd15f9bd.png)

[2019-01-27 01:10] AndyAyersMS commented on #22235
With latest bits your example hits the "too many locals" inlining limit. Here "locals" means not only user local variables but also jit-introduced temps.

Jit optimization algorithms may start throttling themselves once we pass this limit.

It may be locals are overcounted in a manner similar to how the budget was overcounted when we partially import methods, ... I'll see if that is the case here,

[2019-01-27 01:42] AndyAyersMS commented on #22235
In current master the JIT create 510 temps before it stops inlining (the limit is 512)

* 21 jit temps for root method locals and args and outgoing arg space
* 184 jit temps for inlinee locals
* 305 jit temps for inlinee arguments

So I don't see anything there obviously out of line. Inlinee local temps are created only when we actually import a reference to the local, so we shouldn't create any f

[2019-01-27 04:03] saucecontrol commented on #22235
@AndyAyersMS Thanks for looking into this so quickly!

I had initially planned to eliminate a lot of those smaller one-line 3-argument methods, but due to the changes in the Intrinsics APIs between 2.1 and 3.0, I decided to keep them as what I assumed was a no cost abstraction. The code is generated from a T4 template, so I can get rid of them easily enough.

If you think this is enough of an edge

[2019-01-27 05:16] Eilon commented on #21303
@briansull - should be in early-to-mid Feb, so very soon.

[2019-01-27 06:08] albahari commented on #21609
Thanks for that tip - last time I tried that extension, it didn't support .NET Core.

I how have data from Process Monitor. Here are screenshots leading up to the event with the processes filtered to LINQPad and fondue. If you need the entire PML, let me know how I can send it to you directly (it's nearly a GB).

![events1](https://user-images.githubusercontent.com/4536177/51797353-b1ed1e80-223c-1

[2019-01-27 06:43] jkotas commented on #21609
Thanks! Could you select the `Process Create` event for fodue.exe and press `Ctrl+K` on it. It should open a window with stacktrace for the event. Could you please share the stacktrace?

[2019-01-27 09:12] rossbuggins commented on #21379
I'm seeing:
CS0656	Missing compiler required member 'System.Collections.Generic.IAsyncEnumerable`1.GetAsyncEnumerator'
on async IAsynEnumerable methods. Got VS2019 preview2 and core 3 preview.

[2019-01-27 13:20] albahari commented on #21609
![stacktrace](https://user-images.githubusercontent.com/4536177/51801464-378ebf80-2279-11e9-80a4-d79611dc08c5.png)

[2019-01-27 13:30] benaadams commented on #21609
That stack trace looks like .NET Core is calling into .NET Framework; that's kinda fancy, though I guess its probably not mean to be happening?

[2019-01-27 16:44] jkotas commented on #21609
I won't be .NET Core itself. It will be some other component used by LINQPad. We do know now that the StrongNameSignatureVerificationEx is the offending call and it is most likely called via PInvoke.

@albahari Could you please do a scan for PInvokes to `StrongNameSignatureVerificationEx` in your app? The quick way to do that is to run `findstr /M StrongNameSignatureVerificationEx *.*` in the dire

[2019-01-27 16:59] niklaskarl opened #22239 "How does vtfixup get handled on Unix?"
I have a legacy project using .vtfixup to call into managed from a native application. I am wondering how porting to cross-platform can be accomplished the easiest way. Is it possible to load the assemblies using the Unix-Hosting interface and get the HMODULE (or dlopen equivalent) of the loaded assembly? Are exports and relocations applied on Unix at all or do I have to switch to CreateDelegate?

[2019-01-27 19:02] AndyAyersMS commented on #22235
I have similar concerns about people hitting various internal jit limits with heavy intrinsics usage.

There's no easy way for the jit to provide feedback to the user when this happens. And because these internal limits are measured against various jit artifacts, even if we could provide feedback, it would be very general ("method is too complex to optimize") and might not be actionable.

The limi

[2019-01-27 19:13] AndyAyersMS opened #22240 "Examples where heavy intrinsics usage runs into internal jit limits on optimization"
Tracking issue for cases where heavy intrinsics usage leads to poor optimization because methods hit various internal jit limits.

* #21794 inlining stops because the inlining budget was exceeded (partially addressed by #21893)
* #22235 inlining stops after hitting "too many locals" limit

[2019-01-27 19:19] tannergooding commented on #1685
Given that C# has now merged the [unmanaged constructed types](https://github.com/dotnet/csharplang/issues/1937) feature, would it be worth looking at enabling the same types of generic structs to be used in interop scenarios (this basically limits it to "blittable" generic structs)?

[2019-01-27 19:38] jkotas commented on #1685
C# "unmanaged constructed types" are not the same as interop blittable types. E.g. `char` is unmanaged type, but it is not blittable type.

[2019-01-27 19:42] #22210 closed

[2019-01-27 23:31] philipflesher opened #22242 "SIGSEGV core dump on OSX caused by failure to extract FP context of a thread."
I've been debugging an issue for almost 2 weeks with no resolution in sight. Running 2.2.103 on OSX Mojave.

Doing heavy CSV processing across ~12 threads, our application will abort non-deterministically after a minute or so. No exception is reported. Instead, a SIGSEGV occurs on one of the threads and a core dump is created. Almost always, this shows that the crashed thread was in `RtlRestoreCon

[2019-01-27 23:35] saucecontrol commented on #22235
I linked the asm in the far right column of the table above.  It's not the kind of ping-pong shuffling you describe in the PR comment (I've seen a few of those before too), but there are more memory reads in the 3.0 asm.

I think the shuffling here is more of a symptom as well, with the real issue being the change in the way inlined variables/args are imported.

[2019-01-27 23:51] philipflesher commented on #22242
Example of the much more common core dump, with the crashed thread in `RtlRestoreContext`:

[code]

[2019-01-28 00:04] AndyAyersMS commented on #22235
Interesting. Do all the 2.1 variants run at the same speed? Or did you scale each row separately?

It's possible that some change in the jit is leading to more temps, but we haven't made many changes in that part of the jit recently -- if anything 3.0 should require fewer overall temps (see eg #20640) for the same input IL.

So my guess is that there is something in the input IL that is driving th

[2019-01-28 00:19] saucecontrol commented on #22235
I scaled everything using the original code running on 2.1 as a baseline, so yeah, 2.1 was the same perf no matter how the code was structured on my side.  I arrived at that original code through experimentation, making sure that any changes I made to improve readability/maintainability didn't hurt performance, so that makes sense.

The only difference should be due to the changes in the Intrinsic

[2019-01-28 01:13] VincentBu opened #22244 "[arm] System.Runtime.InteropServices.Tests.ThrowExceptionForHRTests.ThrowExceptionForHR_ErrorInfo_ReturnsValidException Failed"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_ubuntu_corefx_baseline_tst/41/

**Failed tests:**
System.Runtime.InteropServices.Tests.ThrowExceptionForHRTests.ThrowExceptionForHR_ErrorInfo_ReturnsValidException

**Log:**
[code]

[2019-01-28 01:21] VincentBu opened #22245 "[arm] Test failed: readytorun_tests._versionbubbles_versionbubbles_versionbubbles_._versionbubbles_versionbubbles_versionbubbles_sh"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_ubuntu_gcstress0xc_minopts_heapverify1_tst/38/

**Failed tests:**
readytorun_tests._versionbubbles_versionbubbles_versionbubbles_._versionbubbles_versionbubbles_versionbubbles_sh

**Log:**
[code]

[2019-01-28 01:34] benaadams opened #22246 "Jit doesn't always eliminate identical checks (bounds)"
Seen in https://github.com/dotnet/coreclr/pull/22207#issuecomment-457632929

[code]

/cc @AndyAyersMS

[2019-01-28 01:36] albahari commented on #21609
OK, that will be it then. I use that function to verify the integrity of updates and plug-ins. I'll remove that call.

[2019-01-28 02:18] saucecontrol commented on #22235
IL for the inlinees is different enough to be interesting.  It's worth noting that the argument list for all inlinees is the same in both versions of the code, but the locals are set up differently since the 2.1 API used static methods for `StaticCast` while the 3.0 API uses instance methods for the `As` variants.

Here's a representative sample:

2.1 Version

[code]

3.0 Version

[code]

[2019-01-28 02:33] tannergooding commented on #22235
Just as a note: `As`, in particular, is actually zero-cost when it's intrinsic implementation is used since we actually fold it away entirely in the importer. Maybe there is something else we could do to assist here?

[2019-01-28 02:44] albahari commented on #21609
So, what's the correct way to verify an assembly in .NET Core?

[2019-01-28 03:32] tannergooding commented on #22235
No. We removed the static methods.

@AndyAyers, is this something we could help the JIT to understand/special-case? That is, that the `As` intrinsic method doesn't actually need to be address taken here?

[2019-01-28 03:58] saucecontrol commented on #22235
I've counted up the number times `AsUInt64()` is called on the return value of another Intrinsic, and I'm getting 95, which comes awfully close to the max difference in variable counts between runtime versions.  It's looking increasingly likely that's the casue of this issue.  It seems I may have just gotten lucky that the nested `AggressiveInlining` methods in my original code didn't hurt me in t

[2019-01-28 06:03] swaroop-sridhar commented on #22227
Here's a sample:
[code]

[2019-01-28 07:21] austvik commented on #22208
OK, so those were for native DLLs, and we have the same for managed DLLs:
IDS_EE_FILELOAD_ERROR_GENERIC           "Could not load file or assembly '%1'. %2"

I think the argument holds for both: we could save people lots and lots of hours, sometimes making it possible to figure out what went wrong in locked down envs, by adding the information I outlined above to those messages.

People are able t

[2019-01-28 08:18] AndyAyersMS commented on #22235
It would be tricky for the jit to realize this is a special case. The thing that triggers creation of the temp is the `stloc` two instructions before the call to `As`. So we'd need some kind of lookahead. There might be ways leverage the IL prescan the jit does for inlinees... maybe.

[2019-01-28 08:55] mikedn commented on #22235
Seems like a case for transforming those vector methods into extension methods.

[2019-01-28 10:01] GSPP commented on #22235
When the JIT exceeds limits during inlining, maybe a simplification pass could be run. Then the inliner could restart if the simplifications have helped to meet the limits.

[2019-01-28 10:22] janvorli commented on #22242
I Looking at the crash offset in the RtlRestoreContext (the call stack says it is at RtlRestoreContext+60), it happens at the fxrstor instruction (at 46fa3 below):
[code]
The RDI at that point is 0x0000700007f2e870, so the address is properly aligned (the doc says it needs to be 16 bytes aligned), the memory is mapped, as we have already accessed couple of fields from addresses in the same memory

[2019-01-28 10:54] janvorli opened #22247 "Calling System.Diagnostics.Tracing.EventPipe.Enable twice asserts"
While running unloadability tests in a mode where each coreclr test is executed **twice** in the same process, I have hit an assert in the CLREventBase::CreateManualEvent called from SampleProfiler::Enable due to the fact that the event was already created before.
I have investigated it a bit and the issue has nothing to do with unloadability and just the sequence of calling System.Diagnostics.Tra

[2019-01-28 10:54] janvorli commented on #22247
Here is a call stack
[code]

[2019-01-28 11:17] janvorli commented on #22247
Here is a simple repro I have created by extracting code from the tracevalidation tests:
[code]

[2019-01-28 14:05] rossbuggins commented on #21379
using .net core 3 3.0.100-preview-010184 sorted this

[2019-01-28 14:23] chrisnas opened #22248 "SOS!do fails to display static fields value for types defined in System.Private.CoreLib.dll"
**Repro:**
1. create a .NET Core console application
2. use procdump -ma to generate a memory dump
3. open the dump in WinDBG and load sos.dll (.loadby sos coreclr)
4. enumerate type instances (!dumpheap -stat) and look for CultureInfo instances
5. dump a CultureInfo instance: each static field has NOINIT as value
[code]
The same behavior occurs with string.Empty

**Investigation:**
The !do comman

[2019-01-28 16:01] philipflesher commented on #22242
@janvorli thanks for the quick response back. I unfortunately don't have another machine to test this on at the moment. The core count of 6 may be slightly different from other common (older) Macbook Pros, though, which I believe have been 4 (i5 and i7 I think are both 4 cores).

[2019-01-28 16:13] tannergooding commented on #22235
I've logged https://github.com/dotnet/corefx/issues/34902 to track an API suggestion to change the methods to be extension methods.

[2019-01-28 17:53] leculver commented on #22248
@mikem8361

[2019-01-28 17:53] philipflesher commented on #22242
Yes, I could attempt to run it in any conceivable way if you can provide me a how-to.

Unfortunately I don't have the code open-sourced, and it's also heavily data-dependent. If it becomes necessary, I could try to build a repro case by fabricating some CSV files and building a test application, then cross my fingers it repros in the same way. :)

[2019-01-28 17:56] zamont commented on #19704
@fadimounir bringing to your attention. I think you may have already resolved this with some of your recent changes.

[2019-01-28 18:39] janvorli commented on #22242
OK, let's try to run it under LLDB then. I would recommend publishing the application for osx-x64 RID, that would give us some benefits during the debugging if we wanted to replace some of the runtime files.
So, first, run the following in your app sources folder:
[code]
It will tell you where it stored the published files. For example, ive created a directory named "~/publishtest" and then ran `d

[2019-01-28 18:45] #19209 closed

[2019-01-28 18:49] AndyAyersMS commented on #9908
@rikimaru0345 thanks for the kind words -- good to hear things are working well for you.

[2019-01-28 19:18] adiaaida commented on #22179
It is unclear what the actual error is, but this appears to be a test build failure as we are seeing this:

C:\j\w\perf_perflab_---ce30617b\tests\dir.traversal.targets(25,5): error : (No message specified) [C:\j\w\perf_perflab_---ce30617b\tests\src\dirs.proj]

@RussKeldorph

[2019-01-28 19:30] BruceForstall commented on #22244
@danmosemsft Have you seen this? Looks like a stable, multi-platform, regression.

@AaronRobinsonMSFT Maybe related to interop work?

[2019-01-28 19:38] #21761 closed

[2019-01-28 19:47] mikedn commented on #22079
Turns out that this is not so simple. The forward substitution stuff I'm experimenting with happens right after SSA, where the "is single use" property is up to date. At that point we have PHIs that are in the way and block the simplification of that chain of subtracts. The `SUB(SUB(x, 1, 1)` appears late, during assertion propagation.

Ideally we'd maintain the "is single use" property through tr

[2019-01-28 19:54] camainc commented on #22137
I think #5 has fixed this for me. Thank you!

[2019-01-28 20:11] AndyAyersMS commented on #22079
Thanks again -- hope to have time to get back to some of this soon.

I'd really like to see modelling of most or all the ABI details deferred. Things are currently very messy during inlining. The struct->int retyping for small struct returns sure seems like it could wait, and could be entirely avoided if we inline.

cc @CarolEidt

[2019-01-28 20:23] saucecontrol commented on #22235
@tannergooding thanks for logging that issue.  I wasn't sure if it was too late in the 3.0 cycle to make that kind of change, but I agree it would be best to replace all those instance methods.

I can confirm that swapping out the calls that include the `As` methods for other stand-in statics eliminates the perf regression I was seeing.

I'll go ahead and close this issue since it's a bit of a red

[2019-01-28 20:23] #22235 closed

[2019-01-28 20:34] AaronRobinsonMSFT commented on #22244
@BruceForstall This is really weird. I can't imagine we have changed anything here, but the semantics of the `Marshal.ThrowExceptionForHR()` method are impossible to properly predict. In fact this test is actually written incorrectly... Boo... @jkoritzinsky or I will handle this.

[2019-01-28 20:39] philipflesher commented on #22242
Thanks @janvorli, this is a great step-by-step and should be easy enough based on a glance.

I'll try to get to this point in the next 24-48 hours.

[2019-01-28 20:47] AndyAyersMS opened #22252 "sos ClrStack fails on arm64 linux with GC stress"
For instance, while debugging #19464, with recent bits from master (say e62ee275e4c1b35d217e2f760627751cbd4b2a11).
[code]
This repros every time. Note GCStress uses illegal instruction traps to do its thing.

I'm fairly sure I've also seen `ClrStack` fail without GCStress, but don't have a repro handy.

cc @mikem8361 -- feel free to send me tips on how to debug SOS and I'll dig in.

[2019-01-28 20:50] fiigii commented on #22235
@saucecontrol I suggest reopening this issue until we fix it.

[2019-01-28 20:58] janvorli commented on #22252
@AndyAyersMS you can debug SOS by running LLDB under another LLDB. The outer LLDB would allow you to debug the SOS. So instead of `lldb your_command_line`, you'd run `lldb lldb your_command_line`. After the first lldb starts, set a breapoint to the SOS API you want to debug and then use the `r` command to start the second lldb. Then use the second lldb as usual. Once you enter the sos command you

[2019-01-28 21:11] BruceForstall opened #22253 "[Linux/arm64] GitHub_20657 fails with JitStress=2/JitStressRegs=1"
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_ubuntu16.04_jitstress2_jitstressregs1_tst/108/consoleFull

Tests:
[code]

Tests appear to pass, but return code 1, not 100.

[2019-01-28 21:14] BruceForstall commented on #22253
Also fails on Windows

[2019-01-28 21:15] BruceForstall commented on #22253
Also fails in same way:
[code]

[2019-01-28 21:24] AndyAyersMS commented on #22252
Yeah, I kind of figured. Not as bad as I'd feared.

Looks like sos fires up an in-process CLR instance that inherits the GCStress env var, and LLDB is not prepared to tolerate the resulting SIGILL.
[code]
so I guess the obvious workaround is to set GC stress inside the debuggee only:
[code]
I wonder if we should try and insulate the SOS-created CLR instance somehow ? Also from a jit perspective th

[2019-01-28 21:48] janvorli commented on #22252
I agree we should do that.

[2019-01-28 22:04] fadimounir commented on #19704
This issue should be already fixed via #21987. If this still repros, please reopen this issue and provide me with repro instructions (where to get dlls from, crossgen command line, etc...)

[2019-01-28 22:04] #19704 closed

[2019-01-29 01:12] BruceForstall commented on #22253
For GitHub_20657, the issue is as follows.

First, note that the arm64 ABI states that registers v8-v15 are callee-saved, but _only the low 64 bits of the 128 bit register is callee-saved_. The high 64 bits are scratch. This is true for both Windows and Linux.

See https://docs.microsoft.com/en-us/cpp/build/arm64-windows-abi-conventions, http://infocenter.arm.com/help/topic/com.arm.doc.ihi0055b/IH

[2019-01-29 01:30] sywhang opened #22259 "Assertion failure on eventpipe"
Trying to get events via eventpipe using the dotnet-collect tool (https://github.com/dotnet/diagnostics/tree/master/src/Tools/dotnet-collect) while running debug version of the runtime fires this assert:
[code]

Running the app with runtime built in release mode fixes this but it should be looked at.

[2019-01-29 01:31] echesakovMSFT opened #22260 "[Linux/arm] Assert failure JIT_jit64._opt_cse_hugeexpr1_hugeexpr1_"
[code]

Failed since https://dev.azure.com/dnceng/public/_build/results?buildId=81471

@AndyAyersMS Can this be related to #22202?

[2019-01-29 01:45] echesakovMSFT commented on #22260
/cc @dotnet/jit-contrib

[2019-01-29 01:52] VincentBu opened #22262 "[x64] Test failed: System.Buffers.Text.Tests.FormatterTests.TestFormatterDecimal"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_ubuntu_corefx_minopts/835/

**Failed tests:**
System.Buffers.Text.Tests.FormatterTests.TestFormatterDecimal

**Log:**
[code]

[2019-01-29 02:16] AndyAyersMS commented on #22260
Seems like it could be, yes.

[2019-01-29 07:44] v-haren opened #22264 "error MSB4236: The SDK 'Microsoft.NET.Sdk' specified could not be found."
Failed in job: https://ci2.dot.net/job/dotnet_coreclr/job/perf/job/master/job/perf_perflab_Windows_NT_x86_min_opt_ryujit/1161/

Failed log:
C:\J\w\perf_perflab_---ce30617b\tests\src\runincontext\runincontext.csproj : error MSB4236: The SDK 'Microsoft.NET.Sdk' specified could not be found.
C:\J\w\perf_perflab_---ce30617b\tests\dir.traversal.targets(25,5): error : (No message specified) [C:\J\w\perf

[2019-01-29 08:12] davmason commented on #21283
@janvorli is the issue here that the assert is blocking something else you're doing? Or were you investigating an issue with the memory snapshot?

I took a look at this, the issue is that types for fields are loaded lazily, so you won't have the type loaded until a non-null value is assigned.

Without the assert the dac will not crash, it will behave in a sane way, but it will return partial infor

[2019-01-29 08:21] AndyAyersMS opened #22265 "sos bpmd doesn't seem to work on prejitted code"
On Arm64 Linux, I can't get `bpmd` to break into the debugger when executing prejitted code. Once the process exits, `bpmd -list` shows the breakpoint twice, once listed with what is likely the method code address.
[code]

[2019-01-29 11:19] MichalStrehovsky commented on #22165
We could make this throw again, but this would likely break an obfuscator or two. Not sure if there's anything else we can do about this.

[2019-01-29 11:19] #22165 closed

[2019-01-29 12:43] angelcolmenares opened #22267 "valgrid reports definitely lost bytes"
on ubuntu18.04-x64 testing a simple console app "hello word"  with valgrind reports definitely lost bytes.
Is this something to worry about?

SO : ubuntu 18-04 x64
Target Framework : netcoreapp2.1
Program.cs:

``
using System;
namespace valgrind_test
{
   class Program
    {
        static void Main(string[] args)
        {
            Console.WriteLine("Hello World!");
        }
    }
}

``
dotne

[2019-01-29 16:22] redknightlois opened #22268 "[Intrinsic] CompareEqual does not use the memory source instruction"
I was trying to optimize `SequenceCompareTo` beyond the point where @benaadams pushed it and stumbled upon various JIT issues controlling the output.

From this code a few are showcased.
[code]

It generates:
[code]

I doubt that the `movsxd` creates a false dependency, but it could use cpu registers which will impact the loop. Probably the worst setback is that is:

[code]

which could become ins

[2019-01-29 17:01] benaadams commented on #22268
The double `movsxd` could probably be avoided by casting once:
[code]

Not sure about the other things though.

[2019-01-29 17:04] cspital opened #22269 "dotnet quit unexpectedly"
Encountered this today trying to run unit tests in my project.

Process:               dotnet [1079]
Path:                  /usr/local/share/dotnet/dotnet
Identifier:            dotnet
Version:               0
Code Type:             X86-64 (Native)
Parent Process:        mono-sgen32 [1078]
Responsible:           dotnet [1079]
User ID:               501

Date/Time:             2019-01-29 08:58:55.8

[2019-01-29 17:07] janvorli opened #22270 "Assembly.Load executed in collectible context loads into default one"
When Assembly.Load is executed from a code running in a collectible AssemblyLoadContext, it loads the assembly into the default context instead of the current context. However, when the Assembly.Load is executed from a code running in a **non**-collectible AssemblyLoadContext, it loads the assembly correctly into the current context.

@vitek-karas and I were looking at the code of `AssemblyNative:

[2019-01-29 17:15] tannergooding commented on #22268
@redknightlois, if you could get this down to a simple repro and/or provide the JIT dump, it would make it easier to determine why this isn't meeting the `IsContainableOp` checks in lowering (see https://github.com/dotnet/coreclr/blob/master/src/jit/lowerxarch.cpp#L2450).

`Avx2.CompareEqual` is a commutative simple SIMD intrinsic that requires the VEX encoding, so it should be getting marked as:

[2019-01-29 17:36] redknightlois commented on #22268
@tannergooding Probably not simple, but the repro :)
https://gist.github.com/redknightlois/0c2a301006f817e41c364666a422ca63

[2019-01-29 18:35] IanKemp commented on #9624
tl;dr https://github.com/dotnet/corefxlab/blob/master/docs/specs/typeloader.md

[2019-01-29 18:52] EgorBo commented on #22123
Hm.. `[MethodImpl(MethodImplOptions.AggressiveOptimization)]` + `PrepareMethod` doesn't work for me - `COMPlus_JitDisasm` still shows tier0 asm.

[2019-01-29 19:20] sandreenko commented on #22077
@AndyAyersMS I am working on it.

[2019-01-29 19:56] BlackCentipede opened #22271 "[Linux] Inconsistent behavior/description for exepath in coreclr_initialize"
In coreclr_initialize API described here: https://github.com/dotnet/coreclr/blob/master/src/coreclr/hosts/inc/coreclrhost.h

The exepath parameter is extremely misleading on linux-x64 platform, if exepath is specified to absolute path to Managed Assembly binary file (dll file), the coreclr_create_delegate API will fail to detect/find that managed assembly. If exepath is specified to directory path

[2019-01-29 20:08] AndyAyersMS commented on #22265
Don't understand how sos hooks in to the debugger just yet, but it looks like within sos, `HandleExceptionNotification`, `OnCodeGenerated`, and `OnCodeGenerated2` are never hit... so sos is evidently not getting notified about interesting events.

[2019-01-29 20:13] mikem8361 commented on #22265
Are they never being hit for prejited code? Or never being hit period?

These notifications are only enabled (via a DAC api) if there is a pending bp.

[2019-01-29 20:13] BlackCentipede commented on #22271
Oh... that clarify a lot.

[2019-01-29 20:16] mikem8361 commented on #22265
Not being hit for prejited code make some sense (at least for the OnCodeGen* ones). I don't know the details exactly when they are raised for normal jitted code, but I assume something special may need to happen in the loader (I assume) for prejited code.

[2019-01-29 20:21] BlackCentipede commented on #22271
@janvorli I just tested it on my end with absolute path to C/C++ executable, it failed to run or detect Managed Assembly. But if I keep the directory path to where managed assembly is located, the invocation would succeed.

[2019-01-29 20:41] janvorli commented on #22271
@BlackCentipede I guess there must be some other problem in your hosting app. Maybe the properties you are passing to the coreclr_initialize are not correct? As a sanity check, I've ran corerun host under lldb to check what we pass to the API to make sure my memory is correct:
[code]

[2019-01-29 20:48] kouvel commented on #17628
It's probably worth keeping the issue around, it still feels like there's something wrong and not with the test. I haven't been able to repro yet locally even under stress so I'll have to figure out at some point how to make it happen.

[2019-01-29 20:55] BlackCentipede commented on #22271
My program is DLang which compiles similarly to C++ output.

The APP_PATHS targets "/home/centi/Projects/WxDlang/TestLib/bin/Release/netcoreapp2.2/"
And TPA_List get generated from this directory: "/opt/dotnet/shared/Microsoft.NETCore.App/2.2.1/"

[code]

This is the C# program that compiles to TestLib.dll and for 3 parameters passed into coreclr_create_delegate are:

Assembly Name = "TestLib"
Typ

[2019-01-29 21:09] janvorli commented on #22271
Please note that while the exePath should contain the full path of the host application, the APP_PATHS should only contain the directory.

[2019-01-29 21:11] BlackCentipede commented on #22271
Oh that one works, and that make sense now. Thank you.

[2019-01-29 21:11] tannergooding commented on #21473
Closing this as "by-design" as this was fixed as part of the IEEE 754 compliance work.

Feel free to leave any additional comments or re-open if you feel this needs further discussion.

[2019-01-29 21:11] #21473 closed

[2019-01-29 21:18] BlackCentipede commented on #22271
I guess for the most part, just need few documentation to explain this in Embedded CoreCLR API and it'll be all good to go. :+1:

[2019-01-29 21:20] #22227 closed

[2019-01-29 21:20] kouvel commented on #22123
It seems to be working for me:

[code]

[code]

After commenting out the `AggressiveOptimization` attribute:

[code]

@EgorBo, can you post a sample?

[2019-01-29 21:29] SteveL-MSFT opened #22276 "Cross fails with exit code 139 against PowerShell Core 6 assembly System.Management.Automation.dll"
Attempting to port PowerShell Core 6 to .Net Core 3.0 as part of https://github.com/PowerShell/PowerShell/pull/8370.  Some assemblies get crossgen'd, but crossgen fails on System.Management.Automation.dll with exit code 139.  Using `/verbose` there is no additional information indicating the non-zero error code.  Seems to be succeeding on Windows, but fails on macOS and Linux.  Using 3.0.100-previ

[2019-01-29 21:51] EgorBo commented on #22123
@kouvel hm.. can't reproduce it anymore.
In my code I had something like
[code]
and still had tier0 output but now everything works fine... maybe I did something wrong. Sorry for bothering you.
_(I am creating an add-in for VS2019 to automate it: https://github.com/EgorBo/Disasmo)_

[2019-01-29 21:51] davmason opened #22278 "Incomplete information is returned by the dbi for unloaded field types"
The types for fields are loaded lazily, so if you request information about the fields through the dbi or dac then we will return partial data.

See here, where we only populate id and fieldType if LookupFieldTypeHandle returns successfully. It won't if the field has never had a non-null value.
https://github.com/dotnet/coreclr/blob/69c8421c1177675d4df855d7bb73b0a77b19c643/src/debug/daccess/dacdbi

[2019-01-29 21:52] davmason commented on #21283
I created #22279  for fixing the issue as described here, and filed #22278 for the partial information issue

[2019-01-29 21:56] janvorli commented on #21283
I am sorry for a late response, I have written it in the morning and left it sitting in my browser unsent.

As I've said, the assert causes msvcmon.exe to crash, thus terminating debugging of an application whenever you try to create a memory snapshot. I was trying to verify that for collectible AssemblyLoadContexts, the snapshot captures links between objects and the underlying LoaderAllocator th

[2019-01-29 23:31] AndyAyersMS commented on #17547
I think we can happily assume we did something good.

[2019-01-29 23:31] #17547 closed

[2019-01-29 23:49] AndyAyersMS commented on #22265
FWIW this seems to work:
[code]

[2019-01-29 23:53] jkotas commented on #13053
Note that this is ARM64 Windows-specific issue. Is .NET Core 3.0 going to be officially supported on Windows ARM64?

In any case, the fix is just about removing an ifdef TODO and see whether the tests pass. I would expect that it will just work.

[2019-01-30 00:01] dangi12012 opened #22282 "Proposal: Add Range as List indexer Paramter"
Add range as accessor to list<T> ? Most business data etc is in list form and not array and selecting subsets there would be much easier with the new range type. This could be implemented in a few lines.

[code]

[2019-01-30 00:12] CarolEidt commented on #22253
On arm64/Windows, the hfa tests fail sporadically with `COMPlus_JitStress=2` and `COMPlus_JitStressRegs=1`. These tests pass reliably with #22257, but I suspect that is mostly coincidence.
I don't think these failures are directly related to the fact that these are HFA tests, since 1) We don't (yet) home any of these in vector registers, and 2) in the one case that fails the most often, all the HF

[2019-01-30 00:15] mikem8361 commented on #22265
It looks good to me, but I don' know a lot about most of the VM code.

/cc @noahfalk

[2019-01-30 00:38] philipflesher commented on #22242
Small update - I'm having significant trouble reproducing now, since yesterday. Irony. :) I'll continue trying!

[2019-01-30 00:52] janvorli commented on #22242
@philipflesher it may be due to the fact that lldb disables address space randomization (ASLR). Can you please try to execute the following command right after starting lldb (before you start the application)?:
[code]

[2019-01-30 00:57] jkotas commented on #13053
Submitted https://github.com/dotnet/coreclr/pull/22283 to see whether there is anything real left to fix.

[2019-01-30 01:20] AriNuer opened #22284 "[arm64\windows]Tests failed in arm64_cross_checked_windows_nt_r2r_jitstressregs1_tst"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_r2r_jitstressregs1_tst/37/
**Failed tests:**
JIT_jit64._hfa_main_testC_hfa_sd1C_r_hfa_sd1C_r_._hfa_main_testC_hfa_sd1C_r_hfa_sd1C_r_cmd
JIT_jit64._hfa_main_testC_hfa_sf1C_r_hfa_sf1C_r_._hfa_main_testC_hfa_sf1C_r_hfa_sf1C_r_cmd
JIT_jit64._hfa_main_testC_hfa_sf0C_r_hfa_sf0C_r_._hfa_m

[2019-01-30 01:35] davmason commented on #21283
@janvorli talking about it with @noahfalk, he believes there is some value in the assert still. Were you/are you able to work around it by building your debug version without the assert?

Unless you are actively blocked by this, I think the right call is to leave it as is.

[2019-01-30 01:54] CarolEidt commented on #22253
As it happens, the support for partial spill is indeed enabled for Arm64 (see the definition of `FEATURE_PARTIAL_SIMD_CALLEE_SAVE` in target.h). In the `Oops` method if the GitHub_2067 test case, there's a previous call across which V08 is live, and its upper half is extracted from `v8` to `v9`.
However, the JIT only handles register candidate lclVar vectors that are live across a call (not tree t

[2019-01-30 02:04] VincentBu opened #22286 "[arm64] Test failed: JIT_Performance._CodeQuality_Benchstones_BenchI_AddArray_AddArray_AddArray_._CodeQuality_Benchstones_BenchI_AddArray_AddArray_AddArray_sh"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_r2r_jitminopts_tst/22/

**Failed tests:**
JIT_Performance._CodeQuality_Benchstones_BenchI_AddArray_AddArray_AddArray_._CodeQuality_Benchstones_BenchI_AddArray_AddArray_AddArray_sh
JIT_Performance._CodeQuality_Benchstones_BenchF_NewtR_NewtR_NewtR_._CodeQuality_Benchstones_BenchF_Ne

[2019-01-30 02:11] VincentBu opened #22287 "[arm64] Test failed: JIT_IL_Conformance._Old_Base_nop_nop_._Old_Base_nop_nop_sh"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_r2r_jitstress2_tst/22/

**Failed tests:**
JIT_IL_Conformance._Old_Base_nop_nop_._Old_Base_nop_nop_sh

**Log:**
[code]

[2019-01-30 02:28] VincentBu opened #22288 "[arm64] Test Failed: CoreMangLib_system._delegate_delegate_DelegateCombine1_DelegateCombine1_._delegate_delegate_DelegateCombine1_DelegateCombine1_sh"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_r2r_jitstressregs8_tst/18/

**Failed tests:**
CoreMangLib_system._delegate_delegate_DelegateCombine1_DelegateCombine1_._delegate_delegate_DelegateCombine1_DelegateCombine1_sh
CoreMangLib_system._runtime_interopservices_maral_MaralSizeOf1_PSC_MaralSizeOf1_PSC_._runtime_interopservi

[2019-01-30 02:33] philipflesher commented on #22242
I've now set that flag before each run. No luck yet. I switched back to trying to reproduce it in my debugger (VS Code) and got it almost immediately. This might be blind luck.

I'll continue trying, but if you can think of any other reason that the execution might be different in lldb vs. the VS Code debugger, I'm open to experimenting!

[2019-01-30 02:38] philipflesher commented on #22242
Almost as soon as I posted that, I got this stoppage from lldb:

[code]

It's not clear to me whether this is the same break or a different one - but it's something, and it's in GC! I'll try to keep this paused here as long as I'm able.

[2019-01-30 04:13] sandreenko commented on #22077
Ok, so my current results are:
1. the issue doesn't repro in release mode, so it is a duplicate of #17414. (I though I have seen release corefx jobs, but I can't find them no , did they exist for arm?)
2. The  part that works slower in this case is:
[code]
3. WPR or xperf do not show some methods in the profile, in this case it was showing only `GetTypes
` as hot without information about `GetType

[2019-01-30 04:13] #22077 closed

[2019-01-30 07:47] AndyAyersMS commented on #19464
Think I may have finally figured this out.

We are trying to initialize the static fields of `System.Globalization.TimeSpanFormat`, in particular `PositiveInvariantFormatLiterals`. This is a boxed in heap static. The initializing `cctor` is R2R prejitted. So the call from the `cctor` to the initializing `System.Globalization.TimeSpanFormat+FormatLiterals.InitInvariant(Boolean)` method goes through

[2019-01-30 08:21] AndyAyersMS commented on #19464
Debugging recipe:

First turn off some timer-based stuff to avoid GC breaking in from other threads when single stepping
[code]
then launch LLDB, enable GC stress, and break in to the `cctor` invocation:
[code]
then set a watch point on the first static:
[code]
Then figure out where  the `cctor` makes the call to initialize this static and set a breakpoint there:
[code]
run until the breakpoint is

[2019-01-30 15:26] vpenades opened #22293 "Access Violation Exception using System.Numerics.Vectors , with POC"
I've just stumbled upon yet another System.Numerics.Vectors exception.

As suggested [here](https://github.com/dotnet/coreclr/pull/19065#issuecomment-413612261) a while ago, I would like to catch the attention of: @eerhardt @tannergooding @AndyAyersMS and @CarolEidt

I've created a repository with the POCs that reproduces the problem (under Visual Studio 15.9.6) , Debug, AnyCPU (x64?)

The POC pro

[2019-01-30 16:02] janvorli commented on #21283
Let me see if disabling the assert fixes the problem for me. I agree that if it does, it would be better to keep it in and fix it properly later.

[2019-01-30 16:34] jkotas commented on #19464
I agree that the problem is that GCRefMap does not encode the return buffer. I do not think that the fix above is going to work. I think we are dropping the information about return buffer at crossgen-time in `CEECompileInfo::GetCallRefMap` already.

The GCRefMap encoding is part of the file format. We should make sure that it looks reasonable and that the implementation details do not leak into i

[2019-01-30 17:10] AndyAyersMS commented on #19464
Thanks all. The test started failing soon after #19344 went in, and the fix above doesn't work ...

[2019-01-30 17:11] AndyAyersMS commented on #19215
I'll investigate (looking at non-R2R stress failures pending fix for #19464).

[2019-01-30 17:14] BruceForstall commented on #22284
Looks similar or the same as https://github.com/dotnet/coreclr/issues/22253

[2019-01-30 18:02] benaadams commented on #22246
From https://github.com/dotnet/coreclr/pull/22297

[code]
[code]

[2019-01-30 18:33] BrianBohe opened #22299 "[x86] debug build crash when generatirng image of System.Rpviate.CoreLib"
I am trying to build the corclr from master (until this commit b2e3a19be00af54c3bc4c76d94044aca9c32a45d) running
`build -x86`
and I get an error when

Complete console message:

[code]

If I try
`build`
works fine.

[2019-01-30 18:34] sergiy-k commented on #22276
@janvorli, could you please try to reproduce the failure on Linux and do initial triage?

[2019-01-30 18:37] BrianBohe commented on #22299
@BruceForstall

[2019-01-30 18:46] janvorli commented on #22276
Sure, I'll take a look. @SteveL-MSFT can I repro it just by getting the https://github.com/PowerShell/PowerShell/pull/8370 and building it?

[2019-01-30 19:09] AndyAyersMS commented on #19986
For b1632000 the root cause is now understood -- see notes over in #19464.

[2019-01-30 19:13] AndyAyersMS commented on #20538
This doesn't involve R2R so is not blocked by #19464. Latest run shows some failures. Will try and repro.

[2019-01-30 19:32] BrianBohe commented on #22299
I have removed all the untracked files with
`git clean -dxf`
and compile it again
`build -x86`
and works.

Thanks for helping!

[2019-01-30 19:32] #22299 closed

[2019-01-30 19:42] wfurt opened #22302 "improve detection of CPU limits when running inside container"
With dotnet/corefx#25193 in place Environment.ProcessorCount can now reflect limits imposed via docker. When running within `docker run --cpus=2  -ti  microsoft/dotnet-buildtools-prereqs:rhel7_prereqs_2 /bin/bash` , this call returns 2 as expected on 8 core host.

However when limits are enforced in different way, it fails to detect it. Let say I limit container to only first two cores:
[code]
Thi

[2019-01-30 20:13] echesakovMSFT opened #22303 "[Linux/arm64] baseservices/threading/interlocked tests failures"
This fails quite often in AzDO CI (e.g. https://dev.azure.com/dnceng/public/_build/results?buildId=83004)

For the period of 14 days the following tests have failed:
*    baseservices/threading/interlocked/exchange/ExchangeTClass - 5 times
*    baseservices/threading/interlocked/exchange/ExchangeTString - 13 times
*    baseservices/threading/interlocked/exchange/ExchangeTString_1 - 12 times
*    b

[2019-01-30 20:15] wfurt commented on #22302
One more note, that cpus can be passed in as fragments of cores:
[code]

In this case `Environment.ProcessorCount` returns 1.

[2019-01-30 20:43] trylek commented on #19464
Hmm, I may be mistaken but it seems to me that the code logic as I see it should support encoding the location of X8 holding the return buffer pointer in the GC ref map. The GC ref map slot should be set at

https://github.com/dotnet/coreclr/blob/6a43dd765ea6341310fde3f83bb41ff88d94b435/src/vm/compile.cpp#L944

The flag for the check should be calculated at

https://github.com/dotnet/coreclr/blob/

[2019-01-30 21:02] AndyAyersMS commented on #19464
I'll debug what happens when GC scans the ExternalMethodFrame, since I have the repro all set up.

One other random thought -- we are crossbuilding arm64 on x64 so the R2R image for corelib is generated on an x64 host. So maybe some crossbuild artifact is leaking through?

I can run crossgen locally on the arm64 box to see if it changes behavior.

[2019-01-30 21:05] AndyAyersMS commented on #20538
I can repro `b04914`, so will tackle that first. Will also circle back and try and repro the others in case we want to split this up into multiple work items.
[code]

[2019-01-30 21:45] AndyAyersMS commented on #19464
There's similar logic in ` CEECompileInfo::GetCallRefMap` as in `TransitionFrame::PromoteCallerStackUsingGCRefMap` so perhaps JanV's fix needs to go there instead?

[2019-01-30 21:59] trylek commented on #19464
I'm starting to think I see the problem:

<pre>
    nStackSlots = (sizeof(TransitionBlock) + nStackBytes - TransitionBlock::GetOffsetOfArgumentRegisters()) / TARGET_POINTER_SIZE;
</pre>

I believe this means that the GC ref map slots start at the offset of the 1st argument register i.e. after the X8 record.  We'll likely need to add a slot for ARM64 and adjust the line

<pre>
        ofs = Transit

[2019-01-30 22:10] briansull commented on #19464
I agree with Tomas analysis.
The reporting of arguments rely upon the call to GetOffsetOfArgumentRegisters() but that returns the address of the first argument and the PR #19344 change the location where we save R8 to come before R0.
 We also must keep the changes made in PR #19344 since (for varargs) we have to have the save location of R7 to be adjacent to the first stack save location.

[2019-01-30 22:14] Frassle commented on #20582
OK, next time on working on some coreclr stuff I'll put together a PR for this.

[2019-01-30 22:19] erozenfeld commented on #22190
Fixed by #22275.

[2019-01-30 22:19] #22190 closed

[2019-01-30 22:20] trylek commented on #19464
<pre>
+14900 (24820)  Section: 0x6448A03A9B8  SignatureRVA: 0x0102B060   System.Globalization.TimeSpanFormat.FormatLiterals TimeSpanFormat+FormatLiterals.InitInvariant(Boolean) (METHOD_ENTRY_DEF_TOKEN) -- I(68)
</pre>

I have pushed the generator hotfix to my private branch

https://github.com/trylek/coreclr/pull/new/Arm64GcRefMapFix

The change only contains the generator modification; I assume w

[2019-01-30 22:30] RussKeldorph commented on #22267
Not an expert in valgrind, but if I'm reading the log correctly, this is the implicated stack:

[code]

[2019-01-30 22:31] RussKeldorph commented on #22267
@jorive @noahfalk @vancem

/cc @brianrob

[2019-01-30 22:48] sywhang opened #22306 "GC Events are broken on LTTng"
Using LTTng to collect traces no longer collects GC events. This is broken because the event keywords are not set on the GC side's cache of the event keywords when we enable events via LTTng/PerfCollect.

[2019-01-30 22:51] SteveL-MSFT commented on #22276
@janvorli yes, just use `start-psbuild -crossgen` on macOS or Linux.

[2019-01-30 22:58] erozenfeld commented on #20269
This reproduces on x64 Windows with arm64 altjit.

[2019-01-30 23:01] Ultronvision opened #22308 "List<List<T>>"
I think there is runtime issue with list of list. I have just create a list and add them to another list, might be a code snapshot explain well the issue. Here is code snipt.

 `var aq1 = new Quadrant
            {
                Contents = "imran",
                Number = 1
            };
            var aq2 = new Quadrant
            {
                Contents = "imran",
                Number

[2019-01-30 23:03] briansull commented on #19464
The following change also might work:

#ifdef _TARGET_ARM64_
        if (pos == 8)
        {
            pos = -1;
        }
#endif
        ofs = TransitionBlock::GetOffsetOfArgumentRegisters() + pos * sizeof(TADDR);

[2019-01-30 23:07] Maoni0 commented on #13983
this was fixed by https://github.com/dotnet/coreclr/pull/21523

[2019-01-30 23:07] #13983 closed

[2019-01-30 23:10] trylek commented on #19464
Hmm, wouldn't we lose the "actual" pos 8? I was under the impression that you mentioned before that the stack argument immediately follow the argument registers. Of course it could be re-coded so that for pos > 8 we subtract one. If that would land us with a backwards-compatible R2R PE format, it's probably the right way to go, otherwise I think it will make the logic in both methods quite a bit m

[2019-01-30 23:14] brianrob commented on #22267
That's certainly one of the implicated stacks.  The runtime does have a number of places where it lets the OS clean-up on-purpose.  This one can probably be cleaned up as part of EventPipe::Shutdown.

[2019-01-30 23:18] janvorli commented on #22242
This is a different one, I'd prefer to focus on figuring the other one first as it seems easier to debug.

[2019-01-30 23:21] briansull commented on #19464
The above was just an idea to consider. I won't work directly as the loop is iterating using pos as well.

[2019-01-30 23:34] AndyAyersMS commented on #20538
GC reporting in `BigInteger.Pow10` leading up to the call to `Multiply` looks suspect. Method is fully interruptible so it looks like if we break in at offset `1E8` we fail to report  `x0`?
[code]
Problematic source is:
[code]
`Unsafe.AsPointer` creates a small window where a byref is typed as an int:
[code]
Haven't confirmed yet that this is where GC moves the object out from under us, but it see

[2019-01-30 23:41] SimonCropp commented on #20287
re

note that costura doesnt (by default) "unpack to disk". it extracts the embedded assemblies from resources and loads them via bytes

[2019-01-30 23:43] jeffschwMSFT commented on #20287
Thanks for the context @SimonCropp we are exploring both options of unpack to disk and loading from a stream.  Covering the loading from a stream for pure IL may be possible in our first iteration.

[2019-01-30 23:52] SimonCropp commented on #20287
@jeffschwMSFT btw the feature set of seamlessly merging assemblies (and optional tree shaking) is something i would love to see as a first class citizen. costura is one of my more popular projects, but also one that takes significant time to support. so if/when MS comes out with an alternative (even as a beta), let me know and i will spend some time reviewing it and add some "there is a MS alterna

[2019-01-30 23:59] jeffschwMSFT commented on #20287
Thanks @SimonCropp as we start to integrate the mono/illinker into the .NET Core tool chain we will take you up on your offer of reviewing.

[2019-01-31 00:38] BruceForstall commented on #22253
Ok, the HFA failures look to be a different root cause. Let's use https://github.com/dotnet/coreclr/issues/22284 to track those failures.

[2019-01-31 00:43] BruceForstall commented on #22284
These fail due to a bug in large frame stack probing. During genFnProlog, we compute an "initReg" that can be used as a scratch register. If all the incoming argument registers are used, and some other conditions exist (not sure exactly what), we can pick a callee-saved register as the scratch register. This is normally ok, as we first save the callee-saved registers, then do the prolog work. Howe

[2019-01-31 00:43] philipflesher commented on #22242
[code]

[2019-01-31 00:56] Maoni0 commented on #21301
hi @kripergvg I'm closing this for now as there hasn't been activity on it and we are doing bug triages. if you do hit the problem again please reactivate. thanks!

[2019-01-31 00:56] #21301 closed

[2019-01-31 01:01] sergiy-k commented on #21190
Is there anything actionable here or this issue can be closed?

[2019-01-31 01:01] fadimounir commented on #19502
Fixed with #21497

[2019-01-31 01:01] #19502 closed

[2019-01-31 01:03] janvorli commented on #22242
It is strange - the memory the fxrstor reads from is readable, its address is properly aligned and yet we get the fault.
One possibility that might explain it is that there is some memory mapping race. Could you please try to step one instruction in the debugger and see if it moves to the next one or stays on the fxrstor and complains?
[code]

[2019-01-31 01:04] Maoni0 commented on #20948
is there still interest in pursuing this? note that

if you are talking about background GC thread processing the stack root *concurrently*, it doesn't care about pinvoke going back to managed - the "going back to managed" part is only relevant when the EE is suspended/is being suspended.

[2019-01-31 01:08] Maoni0 commented on #20911
I have no idea... @RussKeldorph what area should the "dotnet run" questions goto? I am taking it off the GC area as this is not a GC issue.

[2019-01-31 01:09] sergiy-k commented on #21210
It does not look like there is anything actionable here. Please re-activate the issue if you think otherwise. Thank you.

[2019-01-31 01:09] #21210 closed

[2019-01-31 01:15] davidfowl commented on #20911
@Maoni0  Where's the logic that reads the configuration value and sets the appropriate GC env variable?

[2019-01-31 01:16] #22244 closed

[2019-01-31 01:17] Maoni0 commented on #18619
this could be one of the latency modes - kind of the opposite of [latency_level_memory_footprint](https://github.com/dotnet/coreclr/blob/1b43bd8139d053e24ec51c193054555e3352371a/src/gc/gcpriv.h#L387).

[2019-01-31 01:31] sergiy-k commented on #20523
Is this still an issue?

[2019-01-31 01:42] danmosemsft commented on #18284
This specific issue seems fixed, and hypothetical other issues tracked by dotnet/corefx#16229

[2019-01-31 01:42] #18284 closed

[2019-01-31 01:42] VincentBu opened #22314 "[arm] Test failed: JIT_jit64._opt_cse_HugeField1_HugeField1_._opt_cse_HugeField1_HugeField1_sh"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_ubuntu_jitstress1_tst/50/

**Failed tests:**
JIT_jit64._opt_cse_HugeField1_HugeField1_._opt_cse_HugeField1_HugeField1_sh
JIT_jit64._opt_cse_HugeField2_HugeField2_._opt_cse_HugeField2_HugeField2_sh

**Log:**
[code]

[2019-01-31 01:54] danmosemsft commented on #20668
@MichalStrehovsky marked future.

[2019-01-31 01:54] danmosemsft commented on #19307
@MichalStrehovsky marked future. feel free to change.

[2019-01-31 01:55] danmosemsft commented on #22114
This issue was moved to dotnet/corefxlab#2640

[2019-01-31 01:55] #22114 closed

[2019-01-31 01:57] gregg-miskelly opened #22315 "Linux stack walk takes 23x the time as Windows"
### Repro steps
1. Create a new console app and paste in the following code
2. Open the folder in VS Code
3. Set a breakpoint on the call to 'Nop' with a condition of 'x == 100'
4. Launch the program under the debugger and wait for it to exit

### Result:
This is *much* slower on Linux than Windows. By adding QueryPerformanceCounter calls, I found that the difference is that stack walk is 23x on L

[2019-01-31 01:59] VincentBu opened #22316 "error CS0234: The type or namespace name 'Reflection' does not exist in the namespace 'System'"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_jitstressregs0x80_bld/57/

**Log:**
[code]

[2019-01-31 02:00] danmosemsft commented on #18430
It is if the exception was not created with a message in the first place, of course. As you point out, it's doing it in both cases.

Very often exceptions are found in logs or telemetry, not a debugger. The issue is long gone and maybe on a customer or remote machine. In those cases, every piece of information is valuable to help solve the problem. It is not possible to go back and examine the obj

[2019-01-31 02:06] janvorli commented on #22276
@SteveL-MSFT it seem I have problem doing the build correctly. This is what I get as a response to the command above. Any idea what might be wrong?
[code]

Here are the steps I did:
1. clone the bergmeister/powershell repo and checkout the netcore3.0 branch
2. run ./tools/install-powershell.sh
3. run pwsh
4. Import-Module ./build.psm1
5. Start-PSBootstrap
6.  Start-PSBuild -Clean
7. start-psbuild

[2019-01-31 02:07] philipflesher commented on #22242
It doesn't seem to be responding at all yet after that command was entered.

[2019-01-31 02:19] AndyAyersMS commented on #19308
Low risk but also low benefit?

I don't think we need this for 3.0, so am going to move it out.

[2019-01-31 02:46] AndyAyersMS commented on #20260
Hmm, basic stuff still not happy when run on arm64. jit-diffs does not run, but prepall seems to work, mostly...
[code]

[2019-01-31 02:48] AndyAyersMS commented on #20260
Failure case:
[code]

[2019-01-31 03:03] AndyAyersMS commented on #20260
Asserts under `genHWIntrinsicSwitchTable` as there is no `SCK_ARG_RNG_EXCPN` block.

[2019-01-31 03:51] SteveL-MSFT commented on #22276
@janvorli can you post output of $PSVersionTable so I know what version of PSCore6 you got installed?  What OS are you running this one?

[2019-01-31 05:49] nickgravelyn opened #22319 "JIT generates suboptimal SIMD instructions for 2D vector struct"
I've been [benchmarking](https://github.com/nickgravelyn/math-struct-benchmark) various approaches to implement basic math struct operators for projects like FNA and MonoGame and among the results was the finding that 2D vectors were across the board slower than 3D and 4D. After some digging I [isolated the tests](https://github.com/nickgravelyn/math-struct-benchmark/tree/vector2-focus) and got th

[2019-01-31 05:57] nickgravelyn commented on #22319
Additional note was that this puts RyuJIT quite a bit slower than the 32-bit legacy JIT which, by virtue of not generating SIMD instructions, seems to be quite a bit faster. In fact the 32-bit legacy JIT produced a benchmark for the 2D vector on par with the 3D vector using RyuJIT (and naturally the 3D vector on the legacy was slightly slower but not substantially).

[2019-01-31 06:03] NextTurn opened #22320 "Custom internal calls in custom .NET Core host"
P/Invoke is not so efficient as internal calls when working with frequent native code calls, for instance, game scripting runtime.

Internal calls in CoreCLR are hard coded in `ecalllist.h` and limited to `mscorlib.dll` scope. While Mono provides a `mono_add_internal_call` API and it became the first choice of Unity and CRYENGINE.

Will you provide a API to register custom internal calls?

My thou

[2019-01-31 06:20] benaadams commented on #22320
Would the calli proposal in the csharp "Compiler Intrinsics" https://github.com/dotnet/csharplang/blob/master/proposals/intrinsics.md#calli fit this need? (Though I don't know if that's the latest variant)

/cc @jaredpar

[2019-01-31 06:39] mikedn commented on #22319
`vaddss` is scalar addition - Add Single precision Scalar. The packed versions (`vaddps`/`vaddpd`) are SIMD. XMM registers are used for both normal scalar floating point operation and SIMD operations.

Yes, certainly. Note that the issue is specific to 64-bit. 32-bit (x86) RyuJIT produces code that's similar to the legacy 32-bit JIT.

[2019-01-31 06:41] nickgravelyn commented on #22319
Ah thanks for clarifying. I’ve renamed the issue accordingly.

[2019-01-31 06:44] mikedn commented on #22319
The same fix mentioned in https://github.com/dotnet/coreclr/issues/22079#issuecomment-456554914 results in the expected code being generated:
[code]
Though I think I'd prefer not generating that `LCL_FLD` in the first place, rather than attempting to deal with it after the fact.

Or, generate `LCL_FLD` but don't force the variable in memory. That would be necessary to get good codegen when the met

[2019-01-31 06:46] mikedn commented on #1161
Hmm, this looks like a case for `BITCAST`, that would likely work better than the current `LCL_FLD` based approach to handling such structs returned in integer registers.

[2019-01-31 08:20] janvorli commented on #22276
I am running on Ubuntu 16.04.5
[code]

[2019-01-31 08:59] NextTurn commented on #22320
@benaadams Unfortunately, `calli` instruction may not be faster than P/Invoke.

I haven't tested it myself, but someone has:
https://ybeernet.blogspot.com/2011/03/techniques-of-calling-unmanaged-code.html

[2019-01-31 10:13] GeertvanHorrik commented on #20287
Even better, I believe it loads on-demand using the `AppDomain.AssemblyResolve` event, so the startup shouldn't be impacted too much since it will only load assemblies (into memory) whenever needed.

[2019-01-31 10:33] MarcoRossignoli commented on #22308
hi @Ultronvision, If I understood well code works correctly, if you do:
[code]
the next foreach iterate on "same" `List<Quadrant>` object because Quadrant it's a reference type(class) so first foreach cycle remove all elements from `quadrantList` and second cycle on "same instance"(same reference for first and second list object of listoflist) find empty list.
You can find useful information on .N

[2019-01-31 15:46] benaadams commented on #22320
Behaviour should be improved in coreclr https://github.com/dotnet/coreclr/pull/13756

[2019-01-31 15:54] mattwarren commented on #22320
(Hopefully I'm not completely wrong with this reply, this is what I've figured our from looking at the CLR source code.)

One issue I can see is that all the internal calls inside the runtime have to do a few things to remain safe, i.e. look at `DebugStackTrace::GetStackFramesInternal` (wired up [here](https://github.com/dotnet/coreclr/blob/83fcf2e552d190892d9ed7264ebef94b379f1f11/src/vm/ecalllist

[2019-01-31 16:03] bencyoung commented on #22320
We currently use P/Invoke to call into things like MKL and the overhead does show up in backtraces. We only pass unsafe pointers to unmanaged code so if there was a faster way to invoke native code that:

1) Didn't need marshalling
2) Never called back into .NET
3) Didn't manipulate any .NET objects

then we'd be extremely happy!

[2019-01-31 16:22] jeffschwMSFT commented on #22239
As we incorporate the IJW activation logic for .NET Core 3.0 we are going to evaluate what vtfixup's look like x-plat.  Can you elaborate on what scenario this would be used for?

cc @jkoritzinsky

[2019-01-31 16:31] AndyAyersMS commented on #20260
The `BadImageFormat` exceptions above may be caused by my odd test setup, where I have some parts of the arm64 x8 change but not all. So will disregard for now.

[2019-01-31 16:36] dagood opened #22323 "3.0 preview2 coreclr.dll revision number doesn't match long-name DAC/SOS"
coreclr.dll seems to have a version that doesn't match the package version and the long-name DAC/SOS version. Symbol publish for 3.0 preview2 (https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2367422) hit warnings like these:

[code]

Note the version, `4.6.27322.00`. Should be `4.6.27322.72` to match the long-name DAC/SOS and package version, `3.0.0-preview-27322-72`.

Doing `(gi .\c

[2019-01-31 16:45] jeffschwMSFT commented on #20287
@edblackburn we are pulling together an updated design based on feedback.  @swaroop-sridhar is driving the design now.

[2019-01-31 16:51] danmosemsft commented on #21434
This issue was moved to dotnet/corefx#34991

[2019-01-31 16:51] #21434 closed

[2019-01-31 16:51] #20556 closed

[2019-01-31 16:51] danmosemsft commented on #18450
This issue was moved to dotnet/corefx#34993

[2019-01-31 16:51] #18450 closed

[2019-01-31 16:56] alpencolt commented on #13936
Android Runtime has several threads like CoreCLR but before forking zygote it stop all except main and after that restart them. Is it difficult to do the same in CoreCLR?

@jkotas how many threads work when we execute simple Hello world application?

[2019-01-31 17:01] jkotas commented on #13936
There is the main thread, finalizer thread, debugger thread, background JITing thread, PAL eventing  thread, ... .

[2019-01-31 17:20] BruceForstall commented on #22314
Same as https://github.com/dotnet/coreclr/issues/22260?

@AndyAyersMS @echesakovMSFT

[2019-01-31 17:21] BruceForstall commented on #22316
@danmosemsft Temporary inconsistency? Failure in corefx builds?

[2019-01-31 17:22] ranjeshj opened #22324 "winrt cpp make_weak failing in .net core - IWeakReferenceSource, no such interface supported"
internal issue: https://microsoft.visualstudio.com/OS/_queries/edit/19585272

Trying to make a weak ref (make_weak in winrt cpp code) out of a managed object is throwing ‘no such interface supported’ for the interface IWeakReferenceSource. This seems to be an issue only in .Net Core. If I compile for .Net Native, I do not see this issue. I know that this used to work before so this is likely a rec

[2019-01-31 17:33] adiaaida commented on #22179
This seems to have started with @janvorli's change #22064. We are failing with an unspecified error during the test build, but only on the perfsnake machines.

[2019-01-31 17:47] kouvel commented on #21879
The value specified for the environment variable is treated as hexadecimal, even when a 0x prefix is not added. I still get confused by that sometimes :)

[2019-01-31 17:47] #21879 closed

[2019-01-31 17:50] grant-d opened #22326 "Bug: BitOps.TrailingZeroCount has inconsistent software fallback"
It looks like the intrinsics path on `internal BitOps.TrailingZeroCount` returns a different value to the software fallback, for input value `0`.

For an input of `0`, `Bmi1.TrailingZeroCount` returns the operand size, in this case `32`.
But the software fallback returns `0` instead.

It's easy to eyeball the problem; see comments in the code below, assuming `0` is passed as the `matches` paramete

[2019-01-31 18:06] dagood commented on #22323
I published the fixup and my symbol checker confirmed the long-name DAC/SOS is indexed against coreclr.dll on internal and public symbol servers for x86 and x64, using the `00` version. (An infra fix in CoreCLR is still needed or else it will happen again.)

[2019-01-31 18:06] AndyAyersMS commented on #20260
Aside from the above (which is also in #20260), there are 3 other assemblies with failures:

First is #20269
[code]
and the other two hit this assert in the runtime:
[code]

[2019-01-31 18:25] #20705 closed

[2019-01-31 18:37] kouvel commented on #19795
For the thread pool queues, would a total work item count suffice? I feel it is kind of an implementation detail that there are different types of queues but maybe it would be useful in some cases to separate them. The `QueueUserWorkItem` API was already modified to expose the local/global difference.

[2019-01-31 18:38] echesakovMSFT commented on #20260
The last two issues are https://github.com/dotnet/coreclr/issues/19668

[2019-01-31 18:40] echesakovMSFT commented on #22314
I saw only *JIT_jit64.opt_cse_HugeField1_HugeField1._opt_cse_HugeField1_HugeField1_sh* in baseline testing. The second one probably repros only under JitStress=1

[2019-01-31 18:45] RussKeldorph commented on #20911
@Maoni0 I'm assuming the config variables related to the different runtime components are owned/curated by their respective owners, which I why I put it under `area-GC`.  If this is indeed a problem with the host as suggested by @sebastianros, feel free to move it to core-setup.  There's a handy new tool above and to the right.
![image](https://user-images.githubusercontent.com/15160879/52077185-3

[2019-01-31 18:50] RussKeldorph commented on #20911
/cc @sywhang

[2019-01-31 18:53] AndyAyersMS commented on #19668
I'll investigate.

[2019-01-31 18:55] letmaik commented on #13293
I'm having the same issue. I expected something like: `[MarshalAs(UnmanagedType.LPArray, SizeFieldName: "count")]` but this doesn't exist. It makes interop a nightmare in certain cases :/

[2019-01-31 18:56] erozenfeld commented on #20269
It's enough to set
`COMPlus_TieredCompilation=0`.
`COMPlus_ZapDisable` and `COMPlus_ReadyToRun`
don't matter.

[2019-01-31 19:38] AndyAyersMS commented on #19464
This is be fixed by #22309.

[2019-01-31 19:38] #19464 closed

[2019-01-31 19:40] janvorli commented on #22242
So you are saying the debugger has just hung?

[2019-01-31 19:45] tommcdon commented on #21881
cc @Maoni0 @andy-ms  @noahfalk @jorive

[2019-01-31 19:52] philipflesher commented on #22242
Well, it appears to have simply not responded to the `si` command at all. I can still enter additional characters/newlines if you'd like...? I hesitated to attempt anything.

[code]

[2019-01-31 19:58] benaadams commented on #22326
None of the *current* callers can pass 0; probably should have added a `Debug.Assert(matches != 0)`

The fix should be ok though

[2019-01-31 20:05] tommcdon commented on #21461
We are fixing #21027 in 3.0, so closing this issue

[2019-01-31 20:05] #21461 closed

[2019-01-31 20:09] swaroop-sridhar commented on #20287
@simplejackcoder [ILMerge](https://github.com/dotnet/ILMerge) combines the IL from many assemblies into one, but in the process, loses the original identity of the merged assemblies. So, things like using reflection based on original assembly names will fail.

The goal of this effort is not to merge assemblies, but to package them together while maintaining assembly identity. Further, we need to p

[2019-01-31 20:11] AndyAyersMS commented on #20538
Note x64 has similar shuffle codegen:
[code]
and is also fully interruptible and seems to have the same liveness issue:
[code]
Odd that we don't get GCStress failures for this more broadly. Perhaps GC is less aggressive about relocating things on x64 than on arm64?

[2019-01-31 20:14] danmosemsft commented on #18430
I'm going to close based on the rationale above. Feel free to comment/reopen if you wish.

[2019-01-31 20:14] #18430 closed

[2019-01-31 20:15] danmosemsft commented on #18465
I've rolled this into https://github.com/dotnet/coreclr/issues/5612 as it seems the same issue.

[2019-01-31 20:15] #18465 closed

[2019-01-31 20:17] danmosemsft commented on #21271
@tannergooding I marked this Future

[2019-01-31 20:18] danmosemsft commented on #21762
This issue was moved to dotnet/corefx#35001

[2019-01-31 20:18] #21762 closed

[2019-01-31 20:19] danmosemsft commented on #21273
@tannergooding marked Future?

[2019-01-31 20:33] erozenfeld commented on #20269
I created a simple repro for this. The key conditions are:
1. There are enough returns to trigger merge.
2. One of the returns is a call to a multi-reg-returning method.
3. The call is a tail-call candidate rejected late.

Normally `impFixupCallStructReturn` creates a temp for the call result; however, it doesn't do it for tail call candidates and inline candidates:
https://github.com/dotnet/corec

[2019-01-31 20:39] abelykh0 opened #22330 "Bug: incorrect parameters passed only in release build linux-x64"
## On a specific project the release build is passing incorrect parameters under linux-x64.

Platform: Linux x64. I tested on Debian GNU/Linux 9 (stretch) and Red Hat Enterprise Linux Server release
7.5 (Maipo).

## Steps to replicate:

0. Install .Net Core 2.2 on linux
1. Use this project: https://github.com/abelykh0/NetCoreIssue
2. Open the solution LinuxNetCoreBug.sln in Visual Studio 2017
3. R

[2019-01-31 20:51] janvorli commented on #22276
I've found that I have not run the ./tools/install-powershell.sh before as root. I've retried and now the $PSVersionTable returns the 6.1.2.
However, the issue persists. I am going to try on a VM to see I get lucky there.

[2019-01-31 20:55] tannergooding commented on #21271
I think `future` is fine. The actual fix here is pretty trivial, we just need to decide on what to do.

I think, the easiest fix, would be to support this only for the invariant culture and only support it for parsing (that is, you can would never get `SNaN` as a result of calling `ToString()`).
* The spec indicates that we need to support parsing `snan`, but we can return `qnan` as the result. It

[2019-01-31 20:58] erozenfeld commented on #20269
I think the fix is to modify gtNewTempAssign to handle the case when dstType is simd and value type is struct.

[2019-01-31 20:58] tannergooding commented on #21273
@danmosemsft, I think this is one that we should consider fixing for 3.0.

As it is, the `UTF8Formatter` does not support all the same format specifiers as the `UTF16Formatter` and there is no way to get an explicit number of digits for the most common formats (such as `G17`).

The overall fix should be generally trivial, since we are just passing this down to the UTF16 formatter anyways.

[2019-01-31 21:02] Maoni0 commented on #21881
it sounds like what you are asking is the ability to specify different levels for different keywords. from a feature area's POV, there's nothing that prevents you from doing that - each event will check if it's enabled based on keyword + level already. I'm curious - @vancem is there a way currently to specify to collect with different levels for different keywords with perfview?

[2019-01-31 21:09] jkoritzinsky commented on #20580
Looks like this was fixed by #20618 and was never closed.

[2019-01-31 21:09] #20580 closed

[2019-01-31 21:22] Maoni0 commented on #20911
@RussKeldorph I see. I had thought that how configs are read would be in the config layer like on desktop and someone owned that.

based on a cursory search for "System.GC.Server", it came up in 2 places -

src/coreclr/hosts/unixcoreruncommon/coreruncommon.cpp
and
src/dlls/mscoree/unixinterface.cpp

interestingly both are for unix. unless this code is actually executed on windows and we have named

[2019-01-31 21:32] danmosemsft commented on #21273
Sounds good you're the area owner feel free to change.

[2019-01-31 21:37] sandreenko commented on #22215
Fixed by #22254

[2019-01-31 21:37] #22215 closed

[2019-01-31 21:53] dozer75 commented on #18430
Well, AFAIK all log/telemetry systems I have used uses `Exception.ToString()` to retrieve the the exception information (To get all information relevant for the exception as message, stacktrace and other parameters).  In my opinion a logger/telemetry without a stacktrace is pretty much useless without a stacktrace in a program bigger than "Hello World". As I stated initially; the `ToString()` shou

[2019-01-31 21:57] janvorli commented on #22276
Ok, I can repro the original issue on my VM.

[2019-01-31 22:02] AndyAyersMS commented on #20538
@tannergooding arguably

https://github.com/dotnet/coreclr/blob/e7c6f87f54be723724a4c996d815d59b515b01a6/src/System.Private.CoreLib/shared/System/Number.BigInteger.cs#L899

should require pinning. As written it leaves a small GC hole between the cast of a ref to a pointer and then back to a ref. GCStress can expose it as noted above.

We may be able to ensure the jit never exposes this hole -- but

[2019-01-31 22:07] tannergooding commented on #20538
@AndyAyersMS, `BigInteger` is a ref struct, so the GC should never be tracking it (as it is never on the heap)?

Correct, we can't use `ref structs` as generic parameters. The above code was used under the assumption that you don't need to pin `ref struct` since they are guaranteed to be on the stack.

[2019-01-31 22:08] tannergooding commented on #20538
Ah, actually I see the problem. It is with `s_Pow10BigNumTable`.

[2019-01-31 22:08] AndyAyersMS commented on #20538
That particular `BigInteger` is overlaid on top of a `uint` array static.

[2019-01-31 22:12] tannergooding commented on #20538
Hmmm, that is unfortunate. This is trying to take advantage of the fact that `s_Pow10BigNumTable` is a RVA static and the C# compiler optimizes it by emitting a static array in the `.rodata` section.

However, for non-byte data, C# has to call `RuntimeHelpers.InitializeArray` rather than just returning a `ROSpan<uint>` (in order to support big-endian machines; which you don't have to worry about w

[2019-01-31 22:43] janvorli commented on #22276
Here is the stack trace of the crash, I've just executed the following command line that I've printed out in the powershell script:
`/home/janvorli/.nuget/packages/runtime.linux-x64.microsoft.netcore.app/3.0.0-preview-27324-5/tools/crossgen /MissingDependenciesOK /in /home/janvorli/git/PowerShell/src/powershell-unix/bin/Debug/netcoreapp3.0/linux-x64/publish/System.Management.Automation.dll /out /h

[2019-02-01 00:06] jashook commented on #22276
Seem to have found an assert running in debug.

Assert failure(PID 17211 [0x0000433b], Thread: 67491 [0x107a3]): Assertion failed 'arg->TypeGet() != TYP_STRUCT' in 'Microsoft.PowerShell.Commands.ModuleCmdletBase:LoadModule(ref,ref,ref,ref,ref,ref,byref,int,byref,byref):ref:this' (IL size 2918)

    File: /Users/jashoo/projects/coreclr/src/jit/lower.cpp Line: 1191
    Image: /Users/jashoo/projects/

[2019-02-01 00:12] jashook commented on #22276
For anyone looking to repro my steps were:

Note on OSX

[code]

[2019-02-01 00:18] sywhang opened #22337 "Enable/Disabling eventpipe many times crashes the runtime with an AV"
This came from @jorive's investigation on #22247. If we enable/disable eventpipe many times, it either deadlocks (on checked builds) or AVs (on release/3.0 builds).

Repro:
[code]

[2019-02-01 00:44] janvorli commented on #22337
This is a dup of what I have reported 4 days ago in #22247

[2019-02-01 00:59] janvorli commented on #18865
The two last reports are not actually crashes. SIGPIPE handling is set to "ignore". But when running under the debugger, the debugger breaks in on that signal. It is possible to prevent lldb from stopping on that signal using `process handle -p true -s false -n false SIGPIPE`
The only real crash is the first reported one. @xPaw are you still experiencing this issue with the recent runtimes or coul

[2019-02-01 01:02] #841 closed

[2019-02-01 01:06] janvorli commented on #20973
This has nothing to do with PAL as it is for windows. I've changed the area to VM.

[2019-02-01 01:13] sandreenko opened #22339 "GCStress works slower with R2R on tests with deep recursion."
That issue came from #20460, there we hit timeout when run b`aseservices\exceptions\regressions\V1\SEH\VJ\RecursiveException` with `GCStress=0xf` and `RunCrossGen=1`. The issue doesn't repro when you do not run CrossGen.

The small repro is to run this test with `GCStress=0x2` and ``RunCrossGen=1`, on my machine it takes ~3 mins, the run without `RunCrossGen=1` takes 2 secs.

a small repro:

[code

[2019-02-01 01:13] #17529 closed

[2019-02-01 01:25] VincentBu opened #22341 "[Linux/x64] hundreds of illink tests failed"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/illink/job/x64_checked_ubuntu_illink_tst/316/

**Failed tests:**
Interop_PrimitiveMarshalling._EnumMaralling_EnumTest_EnumTest_._EnumMarshalling_EnumTest_EnumTest_sh

**Log:**
[code]

[2019-02-01 01:27] VincentBu opened #22342 "[x64] Test failed: JIT_Methodical._tailcall__il_reldeep_virt__il_reldeep_virt_._tailcall__il_reldeep_virt__il_reldeep_virt_sh"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_centos7.1_r2r_jitforcerelocs_tst/171/

**Failed tests:**
`JIT_Methodical._tailcall__il_reldeep_virt__il_reldeep_virt_._tailcall__il_reldeep_virt__il_reldeep_virt_sh`

**Log:**
[code]

[2019-02-01 01:38] janvorli commented on #22337
It was an assertion, but I think that in release build, it can lead to AV or deadlock.

[2019-02-01 01:44] tannergooding opened #22343 "Investigate some potential perf improvements in Number.BigInteger.cs"
The floating-point formatting/parsing code currently uses an internal `BigInteger` ref struct that would likely benefit from using specific hardware intrinsics.

We should investigate using the BMI intrinsics, where possible and also look at exposing new intrinsics around `AddWithCarry` and `Multiply128`, both of which can simplify some of the more complex codegen down to a single instruction. You

[2019-02-01 01:49] VincentBu opened #22344 "[x64] error CS0433 in x64_checked_ubuntu_corefx"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_ubuntu_corefx_baseline/826/

**Log:**
[code]

[2019-02-01 01:56] VincentBu opened #22345 "[x64] Test Failed: Interop_ICustomMarshaler._Primitives_ICustomMaraler_ICustomMaraler_._Primitives_ICustomMarshaler_ICustomMarshaler_sh"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_ubuntu_gcstress0xc_jitstress1_tst/102/

**Failed tests:**
Interop_ICustomMarshaler._Primitives_ICustomMaraler_ICustomMaraler_._Primitives_ICustomMarshaler_ICustomMarshaler_sh

**Log:**
[code]

[2019-02-01 02:19] jorive commented on #17188
Keep this open to reenable disabled test.

[2019-02-01 02:32] jkotas commented on #21271
I would wait for somebody to ask for this. It does not look important to me to fix.

What does Java or Python do for parsing / formatting snans?

[2019-02-01 02:38] Maoni0 commented on #18709
@ddobric are you still pursuing this? if so can you please answer @AaronRobinsonMSFT's question to let us know whether this worked on .NET or not? otherwise let's close the issue.

[2019-02-01 02:38] sandreenko commented on #22339
Actually maybe it is a CodeGen issue if we use TailCall in one case and don't in the other. Let me check.

[2019-02-01 02:39] jkotas commented on #19668
Yes, looks like PrepareMethod is missing `pMD->EnsureActive()`

[2019-02-01 02:40] #18709 closed

[2019-02-01 02:42] noahfalk commented on #22176
Hi again @iskiselev, I set up a test that seemed similar to what you described but unfortunately I haven't been able to repro the problem yet. If you have any more details to share that would be helpful.

I can believe that enabling the attach/detach logic you saw there would remedy the AV, but doing it that way suggests we might be leaving other symptoms of the problem behind. For example the pro

[2019-02-01 02:55] tannergooding commented on #21271
Both format quiet and signalling NaN to the same result `NaN` on Java and `nan` on Python. Neither look to support parsing `snan` in any casing and Java looks to be case sensitive when parsing `NaN`. Both support parsing the sign prefix of + or -.

I agree that it isn't particularly important to fix, but it would be nice to check the box off indicating that we support this particular IEEE requirem

[2019-02-01 02:57] sywhang commented on #21524
@kouvel Do we want this? If so, I can work on adding this.

[2019-02-01 02:57] sywhang commented on #21524
cc @vancem @noahfalk @jorive

[2019-02-01 03:19] sandreenko commented on #22339
Yes, the difference is that we do not do tail call optimization for crossgen.

I think it is by design that `bool ZapInfo::canTailCall` returns false for `if (IsReadyToRunCompilation())` and the issue won't be fixed?

[2019-02-01 05:31] AaronRobinsonMSFT commented on #22345
cc @jkoritzinsky

[2019-02-01 05:32] FrikkinLazer opened #22348 "System.AccessViolationException when writing into large bool[,]"
I am seeing this on 2.2.103, but only while debugging in vs2017, and also in VSCode.

The code that generated the exception (in a console application):
[code]
Output from the debugger:
[code]

Running the .csproj from command line works.
Running in VS2017 in Release mode works.

[2019-02-01 05:53] AaronRobinsonMSFT commented on #22348
Caught in WinDBG. Ran against version 2.1.403.

[code]
[code]
[code]

[2019-02-01 06:37] nitroxis commented on #20607
I'm having this problem as well. Is there any news on when this will be fixed?

[2019-02-01 06:48] mjsabby commented on #21881
It maybe that the event does that, but as far as I know ETW does not allow per event verbosity levels, and only supports verbosity at the provider level.

You could image going the other way, i.e. make a new keyword for Method Load data being available in a new keyword at non verbose levels, and that will be fine with me as well. I had to pick one direction.

[2019-02-01 06:52] #20538 closed

[2019-02-01 06:52] mikedn commented on #22348
This is either a bug in the JIT or in `IL_STUB_Array_Set`, it incorrectly computes the array offset.

[2019-02-01 08:00] RUSshy opened #22350 "[x64](3.0.100-preview-010184) Switch expression bug"
Hi

Looks like the new pattern matching feature broke old style switch expression

https://github.com/rds1983/StbImageSharp/blob/master/src/StbImageSharp/PngDecoder.cs#L714

Doesn't compile anymore

[code]

[2019-02-01 08:13] xPaw commented on #18865
I'm not running in a debugger these days, but I did fix coredumps to be generated.

Here's the latest one:
[code]

I could send the core dump your way somehow?

[2019-02-01 08:38] per-samuelsson commented on #20607
If you didn't notice, it should have been fixed already in october:

It's just not clear in what version.

[2019-02-01 09:04] janvorli commented on #18865
That would be great - do you have some way to share it with me (onedrive, ftp, dropbox, google drive)?

[2019-02-01 09:05] xPaw commented on #18865
I can give you a direct link to the file, can I email you?

[2019-02-01 09:07] janvorli commented on #18865
Sure, please use my github user name at microsoft dot com

[2019-02-01 09:10] janvorli commented on #18865
Thank you, received.

[2019-02-01 09:32] xPaw commented on #18865
`ldd (Debian GLIBC 2.24-11+deb9u3) 2.24`

[2019-02-01 09:49] vpenades commented on #22293
Here's the exception itself:
![imagen](https://user-images.githubusercontent.com/5433822/52115515-16c6c100-260f-11e9-97bb-aac250dac839.png)

[2019-02-01 10:35] nitroxis commented on #20607
Yes, I saw that, but I still have the issue in the latest VS2017 version and .NET Core 2.2, both of which were released long after that comment.

[2019-02-01 12:11] janvorli commented on #18865
@xPaw from what I can see from the dump, it looks like a GC hole. But I am not sure, as for some reason, SOS doesn't want to show me method and type names and object fields from /home/steamdb/backend/SteamDatabaseBackend.dll.
Is there a way how I can repro the issue locally or is it dependent on some data / traffic that I cannot get?

[2019-02-01 12:12] xPaw commented on #18865
I'm not entirely sure what it's dependent on because the crashing is not constistent, and I was not able to nail down what causes it to happen.

[2019-02-01 12:16] janvorli commented on #18865
I rather meant - can I just run the application locally or it is impossible due to its dependencies on some network / database configuration / data that you have and cannot share etc.

[2019-02-01 12:19] xPaw commented on #18865
Oh my bad, to get it fully running you would need a mysql server (and I think a Steam account).

But it depends on how far do you need it to get running/launch. Are the debug symbols not enough from compiling it?

The code is at https://github.com/SteamDatabase/SteamDatabaseBackend

[2019-02-01 12:34] janvorli commented on #18865
I think the fact that I cannot see the method / type names etc. is a problem of the lldb with the dump rather than missing symbols. One thing that could be causing that is that I've had issues in the past from time to time with dumps that didn't contain all the memory including the shared libraries. Can you please try to run the following command before running the application?
[code]
This causes

[2019-02-01 12:35] xPaw commented on #18865
I believe that filter flag is already set?

[code]

[2019-02-01 12:37] janvorli commented on #18865
Cool, thank you.

[2019-02-01 12:40] xPaw commented on #18865
Thanks for your time! Is there anything else I can do?

[2019-02-01 12:41] janvorli commented on #18865
I don't think so at the moment. Let's wait for another crash.

[2019-02-01 13:47] KKatsnel commented on #16796
Hi,

Any updates on it? How about 3.0?

[2019-02-01 14:36] 0xd4d commented on #22293
Have you tried [the latest daily build of .NET Core 3.0](https://github.com/dotnet/core-sdk/blob/master/README.md#installers-and-binaries)? I could repro it with .NET Core 2.2 but not 3.0.

.NET Core 2.2:
[code]

[2019-02-01 15:08] vpenades commented on #22293
@0xd4d thanks for confirming the issue!

I usually work with production versions of the frameworks, not with nightly builds... But it's good to know it's been fixed on net core 3.0

But then, does it mean that the solution is to wait for net core 3.0 , and the production net core 2.2 is never going to be fixed?

[2019-02-01 15:14] CarolEidt commented on #22293
This looks like a duplicate of #19674 and #20657, which were fixed with #19857.
I'm not sure about porting to an earlier release, but I'll check into it.
Note that 3.0 is now available in a preview build: https://dotnet.microsoft.com/download/dotnet-core/3.0

[2019-02-01 15:43] 0xd4d commented on #22348
Possibly same issue as https://github.com/dotnet/core/issues/2094 (it was closed but bug hasn't been fixed).

[2019-02-01 17:23] tommcdon commented on #20607
The loader context issue fix is in Visual Studio 2019 Preview 2 (https://blogs.msdn.microsoft.com/visualstudio/2019/01/24/visual-studio-2019-preview-2-is-now-available/).  Can you give it a try and let us know if it resolves the issue?

[2019-02-01 17:25] BruceForstall commented on #22341
The entire job is an illink test job. Note the argument to runtest.sh,
[code]

Also, there are hundreds of test failures; not sure why this one was picked out.

[2019-02-01 17:35] echesakovMSFT commented on #20236
@rainersigwald Can you please share techniques we can use to narrow down the issue? I was thinking about enabling `/bl` in our CI?

Is there any way to enable collecting memory consumption stats in MSBuild? I suspect one of the child project could be killed due to OOM but have yet to confirm this. We had an issue in the past with excessive memory consumption https://github.com/Microsoft/msbuild/is

[2019-02-01 17:35] AndyAyersMS commented on #22314
Will investigate along with #22260.

[2019-02-01 18:48] philipflesher commented on #22242
@janvorli do you have any thoughts about how you'd like me to proceed here? I can attempt a new run if that helps, or continue trying other things with the current one (still paused).

[2019-02-01 19:04] echesakovMSFT commented on #22303
It appears that the issue is hitting more that just this test on Ubuntu.1804.Arm64
https://mc.dot.net/#/user/coreclr-pulls/pr~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Fpri1/20190131.768/workItem/baseservices.threading/analysis/xunit/baseservices_threading._interlocked_exchange_ExchangeTString_1_ExchangeTString_1_~2F_interlocked_exchange_ExchangeTString_1_ExchangeTString_

[2019-02-01 19:07] mikedn commented on #22348
Yep, seems similar. Looks like there was some confusion about that and another coreclr issue.

[2019-02-01 19:34] AndyAyersMS commented on #19668
Fixed by #22351.

[2019-02-01 19:34] #19668 closed

[2019-02-01 19:39] wfurt commented on #22124
Can you please try this @joperator ?
[code]

[2019-02-01 19:40] sandreenko commented on #21144
I do not see these failures in the last jobs (https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_ubuntu_gcstress0x3_tst/)

[2019-02-01 19:40] #21144 closed

[2019-02-01 19:40] sandreenko commented on #21143
Do not see this issue in the last jobs (https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_ubuntu_gcstress0xc_tst/).

[2019-02-01 19:40] #21143 closed

[2019-02-01 20:19] tannergooding commented on #21272
Now that dotnet/coreclr#22040 is merged, for .NET Core 3.0, ToString(), ToString("G"), ToString("R"), double.ToString("G17"), and float.ToString("G9") should now always produce a string that will roundtrip to the original value..

[2019-02-01 20:19] #21272 closed

[2019-02-01 20:19] tannergooding commented on #3313
Now that dotnet/coreclr#22040 is merged, for .NET Core 3.0, ToString(), ToString("G"), ToString("R"), double.ToString("G17"), and float.ToString("G9") should now always produce a string that will roundtrip to the original value..

I will keep this open until an explicit testcase for `0.84551240822557006` can be added to CoreFX.

[2019-02-01 20:20] BruceForstall commented on #20538
Yes.

I went to:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_gcstress0xc_zapdisable_flow/

and

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_gcstress0xc_minopts_heapverify1_flow/

the "flow" jobs related to (and driving) the tst jobs mentioned above, click "Log In", t

[2019-02-01 20:20] tannergooding commented on #13106
Now that #22040 is merged, for .NET Core 3.0, ToString(), ToString("G"), ToString("R"), double.ToString("G17"), and float.ToString("G9") should now always produce a string that will roundtrip to the original value..

I am closing this as https://github.com/dotnet/coreclr/issues/3313 is tracking the addition of an explicit testcase for `0.84551240822557006`.

[2019-02-01 20:20] #13106 closed

[2019-02-01 20:20] #20460 closed

[2019-02-01 20:21] tannergooding commented on #13615
Now that #22040 is merged, for .NET Core 3.0, ToString(), ToString("G"), ToString("R"), double.ToString("G17"), and float.ToString("G9") should now always produce a string that will roundtrip to the original value..

I will keep this open until an explicit testcase for `double.MinValue` and `double.MaxValue`.

[2019-02-01 21:00] RussKeldorph commented on #22293
@vpenades This could potentially be serviced in net48 (when released), though it's not likely.  It's *extremely* unlikely to be serviced in older .NET releases.  Core 2.2 could be serviced to include this fix with sufficient justification.  However, when you write, "Force our clients to use...core is out of discussion," however, it doesn't sound like this would provide you much benefit.

[2019-02-01 21:47] jkoritzinsky commented on #22345
cc @RussKeldorph

[2019-02-01 21:49] Maoni0 commented on #20948
I'm closing this for now. please reactivate if you'd like to discuss further.

[2019-02-01 21:49] #20948 closed

[2019-02-01 21:52] janvorli commented on #22242
Also, could you please get me output of the following shell command?
[code]

[2019-02-01 22:00] jkoritzinsky commented on #22345
I can't repro this test on my machine.

[2019-02-01 22:03] xoofx commented on #20948
Sorry, forgot to get back to you.

I'm interested yes. It is a bit unexpected that it is not possible to recover from some logs the GC pause time for these threads from ETW events. That's roughly 2ms every 15ms on a working thread that are not being reported as GC sync time.

I'm confused. If a working thread A is transitioning to pinvoke, and a background GC thread is triggered inspecting the man

[2019-02-01 22:06] philipflesher commented on #22242
[code]

[2019-02-01 22:18] jkotas commented on #20948
It should be the time spent in RareDisablePreemptiveGC. You should be able to find the time threads are blocked with RareDisablePreemptiveGC on the stack work from the existing ETW events.

[2019-02-01 22:19] sandreenko commented on #21113
Link #21225 where the test was excluded.
@BruceForstall do we need to reenable it?

[2019-02-01 22:19] xoofx commented on #20948
I will check again, but last time I tried to collect all events, I was not able to get anything... maybe I messed up something

[2019-02-01 22:36] RussKeldorph commented on #22350
@gafter @jaredpar Does this belong in dotnet/roslyn?

[2019-02-01 22:57] RussKeldorph commented on #21907
Not much we can do with this.

[2019-02-01 22:57] #21907 closed

[2019-02-01 22:59] AndyAyersMS commented on #20538
One test failed in arm64 0xc minopts heapverify: GC/API/GC/Collect/Collect
[code]
Two tests failed on arm64 0xc zapdisable: JIT.Methodical/ELEMENT_TYPE_IU/_il_dbgu_fld
[code]
and  Interop/NativeLibrary/NativeLibraryTests
[code]

[2019-02-01 23:01] Maoni0 commented on #20948
that's different from what I said which was

stack walk itself is done when EE is suspended but processing stack roots is mostly done concurrently and I was referring the concurrent stack root processing part.

not sure what you meant by "GC sync time" but the SuspendEEStart/End event pair includes when suspension starts (where it starts to look at threads to suspend them) till all threads are sus

[2019-02-01 23:10] philipflesher commented on #22242
Was able to hit the error again just now:

[code]

[2019-02-01 23:24] BruceForstall opened #22361 "runtest.py test failure output has too many newlines and duplicate text"
In the "Output of failing tests:" section, runtest.py prints out all the output of a failed test. In the Jenkins logs, this ends up outputting an extra newline for every line of output.

E.g., https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_windows_nt_jitstress2_tst_prtest/30/consoleFull

[code]

Also, it looks like the test output is displayed twice.

The co

[2019-02-01 23:31] janvorli commented on #22242
It seems there is a problem capturing floating point processor state. It seems to get a garbage. When I tried to call fxrstor on the data you have dumped, it crashes the same way as on your machine.
Let me do some investigations and get back to you later with additional ideas on debugging.

[2019-02-01 23:35] #14371 closed

[2019-02-01 23:39] janvorli commented on #22242
Ok, @philipflesher would you be able to compile coreclr on your machine? I would like to ask you to add some check and error reporting around the floating point context capturing.
Alternatively, I can build a patched binary and share it with you some way.

[2019-02-01 23:49] iskiselev commented on #22176
I've prepared test sample here: https://github.com/iskiselev/clr_profiler_segfault
You'll need to run `run.sh`. It requires to have CoreCLR SDK and Clang installed.
It is based on https://github.com/Microsoft/clr-samples/tree/master/ProfilingAPI/ELTProfiler

The key thing to increase probability of crash was adding console output to profiler destructor: https://github.com/iskiselev/clr_profiler_se

[2019-02-01 23:55] sandreenko commented on #19457
I can't repro that issue and recall several changes that we made for floats/doubles morphings.
So I am going to reenable this tests, please reopen this issue if it fails again.

[2019-02-01 23:55] #19457 closed

[2019-02-01 23:57] AndyAyersMS commented on #22260
Not able to repro so far... synced to fc7a8fbbc1754c8dd49f66f9b59c1ff12a5f842e, running on a machine like the CI machines:
[code]

[2019-02-02 00:09] #22284 closed

[2019-02-02 00:12] BruceForstall commented on #22260
Did you also try the HugeField tests in https://github.com/dotnet/coreclr/issues/22314?

[2019-02-02 00:17] philipflesher commented on #22242
I am more than happy to do whichever you think is the faster/easier path to getting a patched version running locally. I haven't compiled coreclr before. Let me know what you think.

[2019-02-02 00:18] BruceForstall commented on #22260
Maybe try also with GCStress=C

[2019-02-02 00:55] BruceForstall opened #22365 "[Linux/arm64] NativeLibraryTests_sh failure"
COMPlus_GCStress=0xC
COMPlus_TieredCompilation=0

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_ubuntu16.04_gcstress0xc_tst/17/consoleFull

I can repro this locally about every 4 runs.

[code]

[2019-02-02 00:55] BruceForstall commented on #22365
@AaronRobinsonMSFT @jkoritzinsky

[2019-02-02 01:01] echesakovMSFT commented on #22260
I just double checked locally that **hugeexpr1** fails on top of 1b8df831c0513c0f84327cfb82e71ab03c263873 (the same place where I saw it)
[code]

Could it be that something in between has changed the behavior?

[2019-02-02 01:05] iskiselev commented on #22176
Hi @noahfalk, if you still need it - I can provide crash dump additionally, but hope you'll be able to reproduce it yourself.

[2019-02-02 01:11] janvorli commented on #22242
Here is a link to that file on my onedrive:
https://1drv.ms/u/s!AkLV4wRkyHYhxRnCtFOzxobgDAPU

Please ungzip the file and then replace the one you have in your dotnet installation with this one (and save the old one so that you don't have to reinstall the dotnet to revert this change).
Then just run the app under lldb as before. I expect that when it crashes in the RtlRestoreContext again, you'll s

[2019-02-02 01:12] AaronRobinsonMSFT commented on #22365
@swaroop-sridhar Can you take a first stab at this issue?

[2019-02-02 01:15] VincentBu opened #22366 "[arm64] Test failed: baseservices_threading._generics_TimerCallback_thread03_thread03_._generics_TimerCallback_thread03_thread03_sh"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_release_ubuntu16.04_r2r_tst/23/

**Failed tests:**
baseservices_threading._generics_TimerCallback_thread03_thread03_._generics_TimerCallback_thread03_thread03_sh

**Log:**
[code]

[2019-02-02 01:19] swaroop-sridhar commented on #22365
Sure, I'll take a look.

[2019-02-02 01:40] sandreenko commented on #3627
The test continues to fail after fix the fix for #18381.

[2019-02-02 01:49] VincentBu opened #22367 "Test Infrastructure Failure: System.ComponentModel.Win32Exception (12): Cannot allocate memory"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_r2r_jitstress2_tiered_tst/18/

**Log:**
[code]

[2019-02-02 01:57] echesakovMSFT commented on #22260
Hmm that's confusing... I still can repro even with the latest 53e367b7f9a2ca799e0510f9420567848e7c0e8b

[code]

Here is a stacktrace
[code]

[2019-02-02 02:01] VincentBu opened #22368 "[arm64] Test failed: CoreMangLib_system._delegate_miscellaneous_Co6031GetHaCode_Co6031GetHaCode_._delegate_miscellaneous_Co6031GetHashCode_Co6031GetHashCode_sh"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_r2r_jitstress1_tst/23/

**Failed tests:**
CoreMangLib_system._delegate_miscellaneous_Co6031GetHaCode_Co6031GetHaCode_._delegate_miscellaneous_Co6031GetHashCode_Co6031GetHashCode_sh

**Log:**
[code]

[2019-02-02 02:08] AndyAyersMS commented on #19211
I've had some luck using `jit-diff` to induce a stress load on the machine (similar perhaps to running the full test suite, but less painful to set up). It is not completely fleshed out yet but here's the gist of it.

For the program that you want to try and make crash, set up an LLDB batch script (here debug-before.txt):
[code]
then use this to repeatedly launch the program under LLDB...
[code]
W

[2019-02-02 02:09] jkotas commented on #22344
Right, this is the type of transient issue that will be addressed by https://github.com/dotnet/corefx/issues/34957#issuecomment-459415999

[2019-02-02 03:38] AndyAyersMS commented on #22260
Hmm, not sure why I haven't been able to repro it yet. Will keep trying.

[2019-02-02 09:43] janvorli commented on #22242
Hmm, so nothing printed to the console between the start of the app in lldb and the crash? That's really weird.

[2019-02-02 09:57] janvorli commented on #22242
This is interesting - looking back at the reports OSX made from your crashes before you started to run under lldb, I've noticed that it was using .NET core from a different location:
/usr/local/share/dotnet/shared/Microsoft.NETCore.App/**2.0.7**/libcoreclr.dylib
So I wonder if you are possibly running the app using an old runtime without realizing that. That could explain the crashes as well, ther

[2019-02-02 11:39] GSPP commented on #18619
@Maoni0 it must be a quantitative setting. Only the developer/administrator knows *how much* memory is truly available on the production machine for the purpose of improving performance. The machine might be used by multiple applications and usage might vary over time (e.g. time of day or end of month processing). Even a perfect heuristic in the GC cannot do a good job in this respect because info

[2019-02-02 13:09] batzen commented on #18013
As this issue is assigned now, i guess you were able to reproduce it?

[2019-02-02 14:37] #11463 closed

[2019-02-02 16:32] philipflesher commented on #22242
Looking at the properties of that file, I can see that its modification time was July 20, 2017 - so this is perhaps not the file we'd expect, right? The file you gave me is on my disk with a date of February 1, 2019 (as you'd expect).

[2019-02-02 16:33] philipflesher commented on #22242
Running `dotnet --version` just now:

[code]

[2019-02-02 16:58] CarolEidt opened #22374 "[LSRA] Further tuning of preferencing is needed"
LSRA preferencing was improved with #19429, but additional tuning is needed.
On x86, the `Span.IndexerBench` benchmark, the changes caused additional spill in some key methods due to different allocation choices. Specifically:

- `Span.IndexerBench:TestSameIndex1(struct,int,int):ubyte`  - V02 gets spilled
- `Span.IndexerBench:TestCoveredIndex2(struct,int,int):ubyte` - V02 gets spilled
- `Span.Inde

[2019-02-02 17:11] philipflesher commented on #22242
On investigation, I believe that the reason the initial crash dump I pasted into this issue was from a run in the VS Code debugger, which hadn't been restarted since I'd installed the latest version of the CLR. I think that's why it was reporting the old version there.

However, I have since run it from command line multiple times and gotten the crash, and I'm fairly certain I'm using the latest v

[2019-02-02 17:14] philipflesher commented on #22242
More investigation of the file properties...

The copy of libcoreclr.dylib that lldb is using appears to have come from `/usr/local/share/dotnet/shared/Microsoft.NETCore.App/2.0.0`, rather than from `2.2.1`, which is where I placed your copy of the file. (The timestamps and file sizes match.)

Should I have copied this into the `2.0.0` location? Or does lldb need to be pointing at "latest"? Sorry

[2019-02-02 22:34] CarolEidt commented on #22253
The GitHub_20657 failure ws fixed by #22311, and the hfa failures were fixed by #22313

[2019-02-02 22:34] #22253 closed

[2019-02-03 01:35] VincentBu opened #22379 "[arm] Test failed: System.Runtime.Tests.MemoryFailPointTests.Ctor_LargeSizeInMegabytes_ThrowsInsufficientMemoryException"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_baseline_tst/54/

**Failed tests:**
System.Runtime.Tests.MemoryFailPointTests.Ctor_LargeSizeInMegabytes_ThrowsInsufficientMemoryException

**Log:**
[code]

[2019-02-03 03:39] BruceForstall commented on #22366
Maybe this is a more full log:
[code]

The "dlopen" failure is interesting.

[2019-02-03 03:41] BruceForstall commented on #22367
21 tests fail in that job; most or all appear to be due to out of memory.

[2019-02-03 08:20] AndyAyersMS commented on #22260
Anyways I can debug with stress on, and not surprisingly in my crash, we're walking the stack at an offset 0x82DBC in `Main` that puts us into the second unwind fragment (there are 39 in all).
[code]
Interestingly despite the `F` bit being set in this second record the prolog codes are copied into the second record from the root record, so evidently there's no need on arm32 to walk back to the roo

[2019-02-03 09:32] janvorli commented on #22242
Ok, so now it is clear that your application is running on .NET 2.0. It actually doesn't matter that you have .NET SDK 2.2 installed. If your app is configured to run on 2.0, the 2.2 sdk will build it so that it runs on 2.0.

If your app was configured to run on 2.2, then the published path would be
`{path to published location}/src/bin/Debug/netcoreapp2.2/osx-x64/publish/libcoreclr.dylib`

Can yo

[2019-02-03 11:48] filipnavara commented on #17901
Fixed in #22249.

[2019-02-03 17:07] #22348 closed

[2019-02-03 17:50] philipflesher commented on #22242
🤦‍♂️ I had accidentally reverted a change to target 2.2 previously while testing something else. I didn't remember to set this back.

I've made that change and will be trying to reproduce again for the next day or two. Hopefully this fully resolves the issue (I'm sure it will...).

[2019-02-03 18:21] MichalStrehovsky opened #22382 "FAILED: pParentData == 0 || (pMT->ParentEquals(pParentData->GetDeclMethodTable()) && pMT->ParentEquals(pParentData->GetImplMethodTable()))"
Likely an intermittent failure seen in the Windows_NT x64 Checked CoreFX Tests leg.

[code]

[2019-02-03 22:06] tillig opened #22384 "Segmentation fault using P/Invoke on Raspberry Pi 3B / ARM32"
# Summary

I'm trying to use P/Invoke to control an LED strip attached to my Raspberry Pi GPIO pins. [The source for the native C library I'm working with is here.](https://github.com/jgarff/rpi_ws281x)

I've found that I get a segmentation fault when trying to use the native interop support that can be inconsistent. I noticed there are several other segmentation fault on ARM/Raspberry Pi open and

[2019-02-03 22:25] Tomius opened #22385 "Backpatch fix to tailcall devirtualization bug for 2.1 LTS"
tl;dr: There's a bug in dotnet core ```[2.1, 3.0-preview)``` which is already fixed on master, but it's severe enough that it should be backpatched to the long term support branch.

## Bug description
Unboxing during devirtualization is done via creating a local copy of the struct on the stack, and using the memory address of the local copy as the ```this``` pointer. When tail calls are also invol

[2019-02-03 22:31] Tomius commented on #22385
@briansull @RussKeldorph @jashook @AndyAyersMS

[2019-02-03 23:16] AlekseyTs opened #22386 "Invocation of a delegate to a default interface implementation goes into an infinite loop when the underlying instance is a structure"
Compile the following code and run it.
[code]

Observed: The program hangs, nothing is printed.
Expected: The program should print "M1" and exit.

The IL looks like this (the same happens when the target method is not virtual and/or ldftn instruction used):
[code]

[2019-02-04 03:14] Maoni0 commented on #18619
ok that sounds somehow different from what you were proposing before where you wanted to specify a factor of asking GC to use X times what *it* normally uses. this proposal actually sounds pretty much like what @davidwrighton and I were talking about. @davidwrighton here's a customer request for high/low mem notification.

[2019-02-04 04:35] CarolEidt commented on #19521
In lieu of forward substitution, at least for the case of JIT-created temps, the JIT currently takes the approach of avoiding the creation of such temps when it thinks they are undesirable, e.g. the case where they can be folded into an addressing mode. I am currently looking into whether this can be done for 3.0, at least for the intrinsic loads (if not for the case of further containing such loa

[2019-02-04 05:56] BruceForstall commented on #22379
@danmosemsft Just the name of this test makes me suspicious. Can you get someone who owns this to look at it?

[2019-02-04 05:58] BruceForstall commented on #19302
@brianrob who "owns" this test now?

[2019-02-04 06:03] BruceForstall commented on #22260
The key is in the dump: "Prolog codes are for a 'phantom' prolog."

So we probably shouldn't "back up" to the root unwind info for arm32. Maybe there's code that isn't properly adjusting the offset? I.e., the overall function offset might need to be adjusted to an offset within the selected fragment?

[2019-02-04 06:14] AaronRobinsonMSFT commented on #18013
@batzen Mixed mode assemblies aren't supported in .NET Core 3.0 yet. This issue is tracking that support. @jkoritzinsky is actively working on investigating what needs to happen and the changes that will need to be introduced. Look for a design doc on this in the next week or two.

[2019-02-04 06:54] mikedn commented on #19521
Hmm, there are multiple issues related to address mode handling but the lowering/codegen part of HW intrinsics is pretty easy to fix AFAIR. I could probably make a PR this week if anyone wants that.

[2019-02-04 07:58] fiigii opened #22388 "Optimize Vector128/256.Create"
`Vector128/256.Create` helpers should be JIT intrinsic and have more optimizations in two steps:
- [ ] import `Vector128/256.Create` as intrinsics and expand them in codegen
- [ ] cache the results by JIT and just generate "load" for `Create` call-sites if the arguments of `Vector128/256.Create` are compile-time constants

@CarolEidt @tannergooding @mikedn

[2019-02-04 10:01] joperator commented on #22124
dotnet --info works as well as --help, --list-sdks and --list-runtimes. Publishing a self-contained app on Windows and running it on FreeBSD also works.
But if I try to publish a self-contained app on FreeBSD, I get the following exception: [exception.txt](https://github.com/dotnet/coreclr/files/2827326/exception.txt)
I also set `LD_DEBUG=all`, but that doesn't seem to have any effect.

[2019-02-04 12:03] filipnavara opened #22391 "Move System.Globalization.Native to CoreFX repository?"
According to Git history the original rationale for keeping it in CoreCLR repository is that System.Private.CoreLib depends on it. That's the case now even for System.Native that resides in CoreFX, so that reason seems to be passé. Furthermore it's shared by CoreRT so it adds one more dependency to publish and track.

[2019-02-04 12:56] GSPP commented on #18619
@Maoni0 I am not sure how to best design the setting. I'm throwing ideas on the table and trust your expertise to make something of them :smile: I hope you found the scenarios in my opening post informative.

I also wonder how other runtimes do this. I understand that Java tends to expose a lot of tuning knobs. Maybe inspiration can be drawn from the practical experiences that the Java community m

[2019-02-04 13:59] filipnavara commented on #22125
Still happens: https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_osx10.12_innerloop_flow_prtest/12925/console

[2019-02-04 14:19] jkotas commented on #22391
@marek-safar Do you plan to use System.Globalization.Native in Mono?

[2019-02-04 14:21] jkotas opened #22393 "Buffer overrun in vectorized string.strlen"
Repro:

[code]

Result:

[code]

[2019-02-04 14:25] jkotas commented on #22393
@benaadams The assumption about IndexOf processing memory in aligned chunks no longer holds:

https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/String.cs#L658

Could you please take a look a the best way to fix this?

I have noticed intermittent crashes in corefx tests caused by this bug. cc @stephentoub

[2019-02-04 14:31] benaadams commented on #22393
Sure

[2019-02-04 14:34] jkotas commented on #22382
This is most likely caused by unmanaged heap corruption. I have tried to run CoreFX tests with pageheap enabled to try to try to find it, but found a different bug instead (#22393). We should try running with pageheap enabled again once #22393 is fixed.

[2019-02-04 14:44] benaadams commented on #22393
Interesting... your example crashes on current; but not on https://github.com/dotnet/coreclr/pull/22187

Digging deeper

[2019-02-04 14:49] benaadams commented on #22393
Interesting I had a build where this doesn't crash (first one I tried it on); not sure what change it was that was making it work. However, can definitely repro it on current.

Digging deeper.

[2019-02-04 15:23] shferguson-truefit opened #22394 "Marshal.PtrToStructure Marshals LPUTF8Str Incorrectly"
When calling `Marshal.PtrToStructure` on a `struct` with a string field with a `     [MarshalAs(UnmanagedType.LPUTF8Str)]` attribute, the wrong value is read into the field.  It appears that a level of indirection is missing.  The string value marshaled into the struct is the value you get by interpreting the string's pointer value as a string instead of the value pointed to by that pointer.

Chan

[2019-02-04 15:24] philipflesher commented on #22242
@janvorli I was able to hit the "other" error" again. Do you want me to attempt to debug this one with you?

[code]

[2019-02-04 15:31] CarolEidt commented on #19521
@mikedn - I am actually working on this (should have assigned it to myself when I set the milestone), but thanks!

[2019-02-04 16:01] RussKeldorph commented on #22394
@GrabYourPitchforks @AaronRobinsonMSFT

[2019-02-04 16:47] #22260 closed

[2019-02-04 16:53] dagood opened #22398 "Publish official build versions to dotnet/versions"
Tizen uses this information to trigger builds. It looks like the new CoreCLR official yaml defs don't publish, and the old/legacy builds that did got turned off recently: https://github.com/dotnet/versions/commits/master/build-info/dotnet/coreclr/master.

In the unknown future, Tizen could use BAR, but there isn't public access: https://github.com/dotnet/arcade/issues/1818.

@sbomer can you work o

[2019-02-04 16:53] AndyAyersMS commented on #22314
Fixed by #22381.

[2019-02-04 16:53] #22314 closed

[2019-02-04 16:54] stephentoub opened #22399 "Two NotSupportedException first-chance exceptions occuring when tracing on Linux"
I'm using perfcollect to do some tracing on Linux, against the latest coreclr/corefx bits from master.  My app starts by hooking up an AppDomain.FirstChanceException handler that prints exceptions to the console, and when tracing is enabled, I see the following output:
[code]

[2019-02-04 17:07] AndyAyersMS commented on #19211
Above technique has turned up a number of different looking failure modes. But I can't yet figure out how to script LLDB to break in on a failure -- it just keeps going. So not much insight yet from debugging.

A sampling of failures:
[code]
[code]
[code]

[2019-02-04 17:08] RealDotNetDave opened #22400 "Perf: Collection Count() is Slower in Core than the CLR"
I have been benchmarking performance of Count() for a collection. I am seeing that Core is a lot slower than the CLR.

Count() (Clr) | VM 8.138 | LAPTOP 4.847
Count() (Core) | VM 18.073 | LAPTOP 12.355
Count() with Predicate (Clr) | VM 275,516.47 | LAPTOP 183,284.90
Count() with Predicate (Core) | VM 307,900.18 | LAPTOP 217,629.30

The VM above is an Azure VM: Size: Standard D8s v3 (8 vcpus, 32 GB

[2019-02-04 17:14] echesakovMSFT opened #22401 "[Unix/x64] [JitStressRegs=4] JIT.SIMD/Vector3Interop_ro"
Fails on Linux/x64 and macOS/x64 with the following environment:

[code]

https://mc.dot.net/#/user/coreclr-pulls/pr~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Fpri1/20190203.728/workItem/JIT.SIMD/analysis/xunit/JIT_SIMD._Vector3Interop_ro_Vector3Interop_ro_~2F_Vector3Interop_ro_Vector3Interop_ro_sh
[code]

/cc @dotnet/jit-contrib

[2019-02-04 17:21] stephentoub commented on #22400
Which collection?

Which "Count()"? LINQ's?

What OS?

What version of .NET Core?

Can you share the benchmark?

[2019-02-04 17:23] echesakovMSFT commented on #20358
Also fails on Linux/x64 with the following environment:
[code]
https://mc.dot.net/#/user/coreclr-pulls/pr~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Fpri1/20190203.728/workItem/JIT.Regression/analysis/xunit/JIT_Regression._CLR_x86_JIT_v2_1_b152292_b152292_b152292_~2F_CLR_x86_JIT_v2_1_b152292_b152292_b152292_sh

[code]

[2019-02-04 17:27] sdmaclea opened #22402 "AssemblyLoadContext.GetLoadContext(SPC) Segfaults"
The call `AssemblyLoadContext.GetLoadContext(a);` Causes a segmentation fault when `a` is `System.Private.CoreLib`.

This worked in .NET Core 2.2 is is failing on tip and on .NET Core 3.0 preview 2.

In the following code the segfault occurs at the `GetLoadContext`.  The dotnet host terminates immediately, without reporting an exception or reaching the finally.

[code]

/cc @jkotas @vitek-karas

[2019-02-04 17:30] vancem commented on #19302
I believe @jorive owns this now.

[2019-02-04 17:30] RealDotNetDave commented on #22400
Thanks for the quick response. Here is the info you requested:

Test was done with List<> using Count() from Linq.

Tests were done with Clr 4.7.2 and Core 2.2 using BenchmarkDotNet.

The benchmark code looks like this:
_personCollection.Count() > 0;

Here are the computer stats:
Laptop
OS Name: Microsoft Windows 10 Pro Version 10.0.17134 Build 17134
System Manufacturer: Microsoft Corporation
Syst

[2019-02-04 17:32] philipflesher commented on #22242
First two commands:

[code]

Last one is exceeding the available buffer in this terminal. Trying to correct that without quitting lldb...

[2019-02-04 17:34] philipflesher commented on #22242
Result of `disass`:

[code]

[2019-02-04 17:35] brianrob commented on #19302
Yes, @jorive and/or @noahfalk.

[2019-02-04 17:38] janvorli commented on #22242
Thank you, I've forgotten one more thing to print - the xmm registers as the register read doesn't show them.
[code]

[2019-02-04 17:50] vancem commented on #19302
@jorive  - This is actually an issue with the TraceEvent library.   It seems we are running on Windows Nano AMD64, and the TdhEnumerateProviders is probably not supported there, which is causing the issue.

Do we know if this works on any other Window Nano configuration?

It turns out that the return value of this API is not actually needed for what the test is doing (it is looking up name->GUID m

[2019-02-04 17:52] philipflesher commented on #22242
[code]

[2019-02-04 17:54] philipflesher commented on #22242
@janvorli I'm still not certain that lldb is using the latest version of .NET Core. The image list is showing some libraries loaded in a "2.0" path, despite having re-published after setting the .csproj to target 2.2.

[2019-02-04 18:03] benaadams commented on #19302
Test failed on `Windows.10.Amd64.Open-x64` also though differently https://github.com/dotnet/coreclr/issues/19302#issuecomment-460021040

[2019-02-04 18:15] AaronRobinsonMSFT commented on #22394
cc @jkoritzinsky

[2019-02-04 18:32] wfurt commented on #22124
It seems like LD_DEBUG does not work when LD_PRELOAD is used as well ;(

[code]
That is not great but hopefully this will help unblocking your testing @joperator

It seems like we may need more build changes or perhaps split FreeBSD 11.x builds from 12.

Maybe @russellhadley or @josteink would have some suggestions how binary portability should work.

[2019-02-04 18:33] vancem commented on #21524
First I want to make sure that everyone knows that if you happen to be using the PerfView tool (https://github.com/Microsoft/perfview) that its 'events' view already does what @kouvel suggests (it creates a pseudo-field called DURATION_MSEC for any 'stop' event of a 'Start-stop' pair.   Here is an example

<img width="420" alt="capture" src="https://user-images.githubusercontent.com/8459414/522275

[2019-02-04 18:41] franksinankaya opened #22404 "fpermissive compilation warnings with GNU C++ compiler"
src/pal/tests/palsuite/threading/CreateThread/test2/test2.cpp: In function ‘DWORD Thread(LPVOID)’:
src/pal/tests/palsuite/threading/CreateThread/test2/test2.cpp:26:25: warning: cast from ‘LPVOID {aka void*}’ to ‘DWORD {aka unsigned int}’ loses precision [-fpermissive]
dwThreadId1[(DWORD) lpParameter] = GetCurrentThreadId();
^
src/pal/tests/palsuite/threading/CreateThread/test2/test2.cpp:27:21: war

[2019-02-04 18:43] vancem commented on #19302
Note that the failures @benaadams  just listed are definitely a different issue (I suspect they are also non-deterministic).  I am assuming that this failure IS deterministic (can anyone comment on that?)

@jorive - I have uploaded version 2.0.36 to nuget.org that has the fix.   Try that.

We should also look into the failures that @benaadams has pointed out.

[2019-02-04 18:45] sdmaclea commented on #22402
The segfault is thrown in this code
https://github.com/dotnet/coreclr/blob/75dfe5cfff56ad028bcf256ae0857bf64e4197e9/src/vm/assemblynative.cpp#L1301-L1305
`pBindingContext` is `null`.

[2019-02-04 18:45] franksinankaya opened #22405 "-Wsign-compare warnings in PAL with GNU compiler"
[  6%] Building CXX object src/pal/src/CMakeFiles/coreclrpal.dir/loader/modulename.cpp.o
src/pal/src/exception/remote-unwind.cpp: In function ‘bool ReadSLEB128(const libunwindInfo*, unw_word_t*, unw_word_t*)’:
src/pal/src/exception/remote-unwind.cpp:281:16: warning: comparison between signed and unsigned integer expressions [-Wsign-compare]
     if ((shift < (8 * sizeof(unw_word_t))) && ((byte & 0

[2019-02-04 18:46] sdmaclea commented on #22402
`GetBindingContext()` is currently returning `null` for SPC by design.

I will just update this code to handle this special case.

[2019-02-04 19:08] AlekseyTs opened #22407 "A virtual call is performed when an abstract method in an interface is called non-virtually."
Run the following code:
[code]

Observed: 'A' is printed.
Expected: An exception should be thrown, an abstract method in an interface is called non-virtually ```IL_0003:  call       instance char C::F1(int32)```

[2019-02-04 19:39] jkotas opened #22409 "Heap corruption in `Interop_PInvoke._IEnumerator_IEnumeratorTest_IEnumeratorTest`"
Failed in https://github.com/dotnet/coreclr/pull/22396:

[code]

[2019-02-04 19:41] jkotas commented on #22409
`-1073740940` is Heap Corruption Exception 0xC0000374

@jkoritzinsky Could you please run the PInvoke tests with pagehead enabled to check for heap corruptions?

[2019-02-04 19:42] vancem commented on #21881
@mjsabby quiet a while ago (year now), we moved the Method*Verbose events (which have the symbolic information) from the Verbose level to the Informational level, for precisely the reason you state.  I allows you to get symbols information for the JIT compiled code without having to have verbose events (in particular the GCAllocationTick event), if you desire that.

Does that solve your problem?

[2019-02-04 19:50] RussKeldorph commented on #22405
@janvorli

[2019-02-04 19:51] RussKeldorph commented on #22404
@janvorli

[2019-02-04 20:02] Maoni0 commented on #18619
@GSPP your ideas are appreciated :-) thank you for bringing them up! and yes, I did get your point about having users specify an amount/amounts for mem usage in some form. we are still working on the design and will have a proposal soon. please stay tuned.

[2019-02-04 20:30] tarekgh opened #22410 "Track fixing tests/src/JIT/Regression/JitBlue/GitHub_20958 test"
This test is testing Range type which got changed. we are disabling this test temporary in \coreclr\tests\issues.targets till we got the updated coreclr package which we use to compile the test with.

[2019-02-04 20:33] AndyAyersMS commented on #19211
Can also hit asserts when GC is triggered by the finalizer thread:
[code]

[2019-02-04 20:58] Adrian10988 commented on #18323
Running into this issue deploying a Web Api as an API App on Azure. An initial request to any endpoint would result in the expected response; however, subsequent requests would return the same `Common Language Runtime` error. I figured out the problem started when I enabled `Recommended` collection level on the `Application Insights` blade on my web app. I set recommended and enabled all radio but

[2019-02-04 21:04] EgorBo commented on #22400
Wrote a small benchmark (not sure it's what @RealDotNetDave meant but anyway):
[code]
[code]

^ .NET Core 2.2 (3.0-master has the same numbers)
The `Count<T>` implementation is almost the same (at least the fast path) in [.NET Core](https://github.com/dotnet/corefx/blob/master/src/System.Linq/src/System/Linq/Count.cs#L12-L47) and [.NET Fx](https://referencesource.microsoft.com/#System.Core/System/

[2019-02-04 21:10] vancem commented on #17188
Yes.  I see no reason why this test should fail under GCStress.  @jorive  has disabled it for now, but we should definitely understand why it is failing.

Note that so far we only know that it fails on ARM systems.  We should confirm that it succeeds on X64 systems.  If so, that does tend to make it a JIT/Runtime issue.

The fact it fails in GCStress 4 (which is about testing that the JIT emitted

[2019-02-04 21:21] AndyAyersMS commented on #17188
Sure, I'll take a look.

[2019-02-04 21:37] jkoritzinsky commented on #18013
@batzen We support loading mixed-mode assemblies into running managed code with some specific workarounds to avoid accidentally loading .NET Framework into the process. The runtime work is already complete for that feature.

We're still working on starting the runtime when a mixed-mode assembly is loaded from native code instead of managed code and starting the runtime if needed. Additionally, the

[2019-02-04 21:51] philipflesher commented on #22242
@janvorli I hit the RtlRestoreContext crash again, this time using the 2.2 published location for certain. I noticed that the libcoreclr.dylib at that location has a timestamp of November 10, while the one located at `/usr/local/share/dotnet/shared/Microsoft.NETCore.App/2.2.1` has a timestamp of December 7. I want to be sure I'm pulling in the correct lib, obviously - am I perhaps mistaken about w

[2019-02-04 22:36] jkoritzinsky commented on #22409
I've tried enabling PageHeap and I still can't get it to repro on my machine. Maybe I'm not setting it up correctly?

[2019-02-04 23:07] marek-safar commented on #22391
@jkotas yes, we do but cannot say in which form exactly right now but if we are going to customize it for a specific platform I'd prefer to do it in a shared location as well.

[2019-02-04 23:07] sandreenko opened #22413 "[arm32/64][Ubuntu] CoreFX System.Diagnostics.Tests.ProcessTests.Kill_EntireProcessTree_True_EntireTreeTerminated fails"
The test fails with:
[code]
[ci example](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_ubuntu16.04_corefx_baseline_tst/110/)

For arm32 the test was excluded under #16001

[2019-02-04 23:16] sandreenko opened #22414 "[arm32][Ubuntu] System.Numerics.Tests.ToStringTest.RunRegionSpecificStandardFormatToStringTests fails with timeout"
It fails with:
[code]

[ci example](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_corefx_jitstress2_tst_prtest/25/)

[2019-02-04 23:22] jkotas commented on #22391
Just making sure - does corefx/src/Native count as shared location?

[2019-02-04 23:42] janvorli commented on #22242
Sigh, I was hoping that the issue would be gone. I guess that you are getting the 2.2.0 version during publish due to the following element that you've mentioned above.
`<RuntimeFrameworkVersion>2.2.0</RuntimeFrameworkVersion>`
If you change that to
`<RuntimeFrameworkVersion>2.2.1</RuntimeFrameworkVersion>`
I think it would get you the version we want.

[2019-02-04 23:53] #13615 closed

[2019-02-04 23:53] #3313 closed

[2019-02-05 00:02] BruceForstall opened #22419 "[arm64] Frequent test timeouts"
We seem to be seeing more frequent test timeouts recently, especially superpmicollect. When run locally on a Windows arm64 machine, this test finishes in about 3.5 minutes, when run alone (not in parallel with anything else). When run in the CI (on a faster machine) under xunit, with "-parallel all", it frequently times out at 15 minutes.

e.g.,
https://ci.dot.net/job/dotnet_coreclr/job/master/vie

[2019-02-05 00:05] #22402 closed

[2019-02-05 00:08] Mikhail-Pranovich commented on #18323
@Adrian10988, please provide:
1) repro steps
2) How did you create the webapi app
3) Are there any details about the error

Could you also try setting "Recommended" mode, but disabling all the features below (Profiler, Snapshot debugger, etc) and see if the error reproes.

[2019-02-05 01:11] kouvel commented on #21524
I'm not worried about the overhead (it's negligible compared to the wait), but it's nonzero, this can be a very frequent occurrence esp. in NetCore (in NetFx it's much rarer) and hence frequent occurrences in NetCore don't necessarily point to an issue, and the tiny overhead from non-problematic contentions may potentially add up to a not-insignificant overhead. I would be happy if there was a way

[2019-02-05 01:36] tarekgh opened #22422 "GC_Features._HeapExpansion_bestfit_1_bestfit_1_._HeapExpansion_bestfit_1_bestfit_1_sh failing on coreclr-ci"
https://mc.dot.net/#/user/coreclr-pulls/pr~2Fdotnet~2Fcoreclr~2Frefs~2Fpull~2F22331~2Fmerge/test~2Ffunctional~2Fcli~2Fpri0/20190204.734/workItem/GC.Features/analysis/xunit/GC_Features._HeapExpansion_bestfit_1_bestfit_1_~2F_HeapExpansion_bestfit_1_bestfit_1_sh

[code]

[2019-02-05 02:01] sywhang commented on #22399
This may be a duplicate of https://github.com/dotnet/coreclr/issues/21743. I fixed this about 10 days ago with https://github.com/dotnet/coreclr/pull/21993. Could you please check if your branch contains this fix?

[2019-02-05 02:23] BruceForstall opened #22423 "assertion failed: !pMDAfterConstraintResolution->IsInterface() in constrainedcall test"
I saw this in both JitStress=1 and JitStress=2, but not without stress.

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_ubuntu16.04_jitstress1_tst_prtest/25/consoleFull
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_ubuntu16.04_jitstress2_tst_prtest/32/consoleFull

(My PR had no source code changes)

Assert failure(PID

[2019-02-05 03:14] jkotas commented on #22391
I think we should sit on this one for a bit until we have a better idea about the form that it will be used by Mono.

[2019-02-05 03:36] philipflesher commented on #22242
@janvorli it now appears that I'm pulling a file with the correct timestamp into the published location.

However, when attempting to use the patched file you gave me as a replacement, the patched file is _not_ pulled from the expected location. I could of course drop it manually into the published location, which I'll attempt to do now. However, I found it odd that the publish process wouldn't pu

[2019-02-05 04:04] #22393 closed

[2019-02-05 04:19] BruceForstall commented on #22423
This also failed in a non-PR test JitStress=1 run:
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_jitstress1_flow/130/

[2019-02-05 04:21] BruceForstall commented on #22423
@jkotas @MichalStrehovsky Has anything changed here recently?

[2019-02-05 04:32] BruceForstall commented on #22423
Also fails on Linux/arm32: https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_ubuntu_jitstress1_flow/56/

[2019-02-05 04:42] BruceForstall commented on #22423
cc @dotnet/jit-contrib

[2019-02-05 04:55] philipflesher commented on #22242
@janvorli -- finally, "success" (if we can call a crash a "success"). :)

[code]

[2019-02-05 05:43] jkotas commented on #22409
I am not able to make it crash with pageheap either. Thanks for checking

[2019-02-05 05:43] #22409 closed

[2019-02-05 06:16] #22394 closed

[2019-02-05 08:03] #15989 closed

[2019-02-05 08:11] joperator commented on #22124
Yes, this allows me to publish a self-contained app on FreeBSD 12.0.
Thank you very much @wfurt.

[2019-02-05 08:17] MichalStrehovsky commented on #22407
I was messing with that part when I was fixing a bug the prototype - #15925. This is desktop-CLR compatible behavior. If we forget about default interface methods and run this on the desktop CLR (do a call instead of callvirt to an abstract interface method), you'll see it has the same behavior - call is treated as callvirt.

Is this a problem for something? If not, I would prefer we just keep it

[2019-02-05 08:55] gleocadie commented on #21524
@vancem Thanks for your explanation.

@kouvel I see your point. From my understanding, I can check if the category/keyword "CLR_CONTENTION_KEYWORD" is enabled (as it's done here https://github.com/dotnet/coreclr/blob/master/src/vm/eventtrace.cpp#L886). If enabled,
we can compute the duration and emit the events, otherwise we don't do any computation.
But, I don't see the point in not computing the

[2019-02-05 09:09] MichalStrehovsky commented on #22423
The test is new as of 18 days ago: #21978. Is there a way for me to repro this?

[2019-02-05 09:15] janvorli commented on #22242
Hmm, the error code returned by thread_get_state means ERROR_ACCESS_DENIED. I don't know why would it return that error for getting the floating point state, but succeed for general purpose registers. I need to do some googling to see if I can find any clue.

[2019-02-05 09:48] noahfalk commented on #22265
I don't think #22296 was the ideal fix for this (comments to that effect in the PR). I'd like to leave this issue open to track ensuring we've fixed it properly.

If we investigate and it turns out #22296 is our best fix because module load isn't going to work for some reason then feel free to close this again as-is.

[2019-02-05 10:31] janvorli commented on #22242
I may see what the issue is, I will create and share a new testing libcoreclr.dylib with you.

[2019-02-05 11:04] janvorli commented on #22242
Here you go. It is possible that it will fix the issue, but it will still print some messages that will help me to make sure all the aspects of the issue are understood. So even if it doesn't crash, please look for messages like thread_get_state(FLOAT_STATE) failed, trying .... and share them with me if they occur.
https://1drv.ms/u/s!AkLV4wRkyHYhxRqA65gQsiVsFTgt

[2019-02-05 11:36] GSPP commented on #18619
Is the following understanding correct?

The GC will compute a high memory load threshold. If memory usage cross that it will try to reduce memory by compacting and releasing. If the threshold is not crossed it will just sweep objects and not release memory to the OS.

The threshold is therefore the tunable that we are interested in. If we want fewer collections and less GC time % we need to artif

[2019-02-05 13:36] Ultronvision commented on #22308
Thank You Marco,

I think I well understand your point. So the quadList double assignment
would be not ok. Either I have to create same list but new name will work.

Once again Thank you.

regards,
Imran

On Thu, Jan 31, 2019 at 11:33 AM Marco Rossignoli <notifications@github.com>
wrote:

[2019-02-05 13:45] MarcoRossignoli commented on #22308
You're welcome!
If it's resolved you can close this issue, so we simplifying core team work!

[2019-02-05 13:54] noahfalk opened #22426 "CodeVersionManager could ignore call-counting and backpatch a method"
Based on code review I don't see what would prevent this sequence of events:

1) ReJITing IL profiler calls into CodeVersionManager::SetActiveILCodeVersions (via the ICorProfilerInfo4::RequestReJIT interface)
2) At https://github.com/dotnet/coreclr/blob/master/src/vm/codeversion.cpp#L2072 we call PublishNativeCode which ignores any call-counting that may be in progress and patches in a new native

[2019-02-05 14:13] #22308 closed

[2019-02-05 15:11] XVilka commented on #18067
The PR seems completely abandoned - no updates for months.

[2019-02-05 16:02] philipflesher commented on #22242
Here you go:

[code]

[2019-02-05 16:12] janvorli commented on #22242
Ah, I can see I've made a mistake in the change, I'll send you another version soon. From the fact that the last message is thread_get_state(XSTATE) failed, trying XSTATE-AVX512: 5, I believe that the attempt to get the context the last way actually succeeded, but I have provided it with a wrong buffer.

[2019-02-05 16:12] AlekseyTs commented on #22407
I agree that legacy behavior is a good reason to keep this as is. At the same time we should consider the fact that C#/VB compilers never emitted non virtual calls to interface methods before. If we start using a regular **call** instruction for base calls would that legacy behavior still make sense. Also, if obfuscators change a **calvirt** to a **call** instruction and that interface method happ

[2019-02-05 16:13] philipflesher commented on #22242
There are no other thread_get_state messages. :-o

I'll await your new patch.

[2019-02-05 16:16] janvorli commented on #22242
Hmm, that's very strange.

[2019-02-05 16:20] vancem commented on #21524
For the contention event there is not alot of value in the start event, if the event has a duration (other than consistency with other start-stop events).     However for other start-stop events where actual work is asynchronous (and thus the start and the stop might be on different threads) having an event on the start (so you can take the stack there), is SUPER valuable (you mostly don't care ab

[2019-02-05 16:33] janvorli commented on #22242
Ah, my fault, one message print was missing there.
Here is a link to the new version:
https://1drv.ms/u/s!AkLV4wRkyHYhxRsZz1P0kWz26WiJ

[2019-02-05 16:53] jkotas commented on #18067
The active FreeBSD-related conversations are happening elsewhere: #1626 or https://github.com/dotnet/core-setup/issues/5083

[2019-02-05 17:03] RealDotNetDave commented on #22400
So it looks like you are seeing the same thing as I am.

[2019-02-05 17:52] mikem8361 commented on #22265
@noahfalk, sorry I merged #22296 prematurely.  I just saw that you approved it and assumed it was ready. I guess I didn't see your comments.

[2019-02-05 18:00] wfurt commented on #18067
Maybe this one should be closed. One can alway do query with os-FreeBSD label for coreclr and corefx to get list of current issues. Progress is slow, mostly reactive to reported issues like #22124.

[2019-02-05 18:03] sbomer commented on #22398
@dagood thanks for the heads up! I won't be able to myself. Here's some info for whoever does this:

We used to call https://github.com/dotnet/coreclr/blob/master/UpdatePublishedVersions.ps1 from buildpipeline: https://github.com/dotnet/coreclr/blob/master/buildpipeline/DotNet-Trusted-Publish.json#L271.

This uses the buildtools task https://github.com/dotnet/buildtools/blob/02a6b294d75b51165d0bac

[2019-02-05 18:05] RussKeldorph commented on #22398
@jeffschwMSFT

[2019-02-05 18:13] kouvel commented on #21524
Regarding what I said about removing the start event, suppose there's a bug or perf issue that causes a thread to hold a lock for a long time, a bunch of other threads eventually get stuck waiting for the lock, and overall perf degrades. If I get a profile that shows the overall perf degrading but not recovering, it would be nice to be able to see the contention start events despite there not bein

[2019-02-05 18:33] philipflesher commented on #22242
I don't know if this is expected or not, but I have now not been able to reproduce the crash after about 5 new runs. On the last run, I did receive this output in the console:

[code]

This was the only message from thread_get_state.

[2019-02-05 19:01] janvorli commented on #22242
Cool, that's what I was hoping for. That would confirm my understanding of where the issue stems from.

[2019-02-05 19:02] #22361 closed

[2019-02-05 19:15] AndyAyersMS commented on #19211
I can still repro crashes even with #22415 and x19 is still implicated -- the one I'm looking at has a stress-induced GC on the finalizer thread, managed stack shows `Console.WriteLine` calling back into native code.

Can't get lldb to do symbol resolution for some reason so the information below is a bit rough:
[code]

[2019-02-05 19:23] BruceForstall commented on #19211
Does it repro with a debug runtime and/or JIT? Maybe you'd get better argument data then.

Can you figure out which frame the GC is reporting? Presumably that could be found in one of the frames 10 through 25 you elided.

[2019-02-05 19:24] AndyAyersMS commented on #19211
Also realized using `jit-diff` to induce stress is causing artificial crashes. Apparently `dlopen` doesn't do anything special to protect the file it maps in, so if you overwrite the file bad things can happen. And `jit-diff` will stage in test version of `libclrjit.so`. So have gone back to just using `stress` to add load to the machine to make the above repro more often.

[2019-02-05 19:31] echesakovMSFT commented on #3627
Seems that this is not a test issue, it's a test runner issue. Will submit fix shortly along with a description of the problem

[2019-02-05 19:38] BruceForstall opened #22430 "[Linux/arm64] failure in corefx System.Diagnostics.Process.Tests"
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_corefx_baseline_tst/112/consoleFull

[code]

[2019-02-05 19:39] BruceForstall commented on #22430
@danmosemsft

[2019-02-05 19:44] AndyAyersMS commented on #19211
[code]
So we're evidently looking at the frame for `CreateObj.RunTest` at offset 136 (0x88) and x19 is live there:
[code]
Hmm, looks like we are still generating an inline pinvoke. Let me debug the jit and see why the change in #22415 is not blocking this.

[2019-02-05 19:52] danmosemsft commented on #22430
Cc @bgribaudo

[2019-02-05 20:07] BruceForstall commented on #22430
BTW, this happens consistently in every Linux/arm64 corefx test run.

[2019-02-05 20:18] sandreenko commented on #22430
Is not it a dup of #22413?

[2019-02-05 20:21] kouvel commented on #22123
That add-in is pretty cool, I would use that a lot, thanks!

[2019-02-05 20:21] #22123 closed

[2019-02-05 20:21] #21964 closed

[2019-02-05 20:22] adityamandaleeka commented on #21964
This has been fixed and the test is now re-enabled on ARM64 Windows.

[2019-02-05 20:36] kouvel commented on #22123
Although it's not an issue now, `AggressiveOptimization` is not guaranteed to always generate optimized code immediately, that may change in the future. There may not even be one version of best optimized code, for instance `AggressiveOptimization` may start with an instrumented version of code and cause the method to then transition to a version of code that is optimized based on profile data. @E

[2019-02-05 20:44] BruceForstall commented on #22430
Looks like it. I didn't see that one in my bug search before opening this.

[2019-02-05 21:02] BruceForstall commented on #22010
More cases:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_checked_ubuntu16.04_r2r_tst/24/consoleFull
-- 3 GCSimulator failures

https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_release_ubuntu16.04_r2r_tst/24/consoleFull
-- 4 failures
[code]

[2019-02-05 21:04] AndyAyersMS commented on #19211
More specifically, we're at offset 0x88 in `RunTest`
[code]
This code is running on thread 5 and has just flipped the thread to preemptive mode and has also linked in the inline frame, but hasn't gotten to the call. It has triggered a stress GC.  Thread 1 has also triggered a gc stress GC and won the race.
[code]
Not sure how this connects back to x19 (the bad objref) just yet.

[2019-02-05 21:10] philipflesher commented on #22242
Would it be helpful/necessary for me to keep this environment as-is for the foreseeable future, in order to be able to test other patches? Or do you think it'll be reproducible and testable on your end now?

[2019-02-05 22:07] janvorli commented on #22242
I think I have found out all that I needed. I am going to fix that issue.  Would you like to get another version of the patched libcoreclr.dylib with printing of the messages removed so that you can run with it until the fix makes it into a release?

[2019-02-05 22:08] philipflesher commented on #22242
That may be nice, yes. What is the typical release cycle like for a fix of this nature?

Thank you for all the help on this!

[2019-02-05 22:14] janvorli commented on #22242
No problem, thank you for cooperating with me to figure out this bad issue. This is the only report of this problem we've ever got, so I am very glad the culprit was found.

As for the release cycle, I don't really know when is the next update planned. You can get some rough idea from the previous releases here: https://github.com/dotnet/core/releases.

[2019-02-05 22:36] janvorli commented on #22242
Here you go:
https://1drv.ms/u/s!AkLV4wRkyHYhxRx_zQst5wsp_Yn7

[2019-02-05 22:59] BruceForstall opened #22436 "[JitStress=2] Assertion failed 'expTyp == cseLclVarTyp'"
With `COMPlus_JitStress=2`, these tests fail on Windows x64:
[code]
with:
[code]

On x86, only these two fail:
[code]

https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_jitstress2/753/

[2019-02-05 22:59] BruceForstall commented on #22436
@dotnet/jit-contrib

[2019-02-05 23:03] BruceForstall commented on #6397
Saw it fail again on Windows/x64:
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_jitstress2_jitstressregs0x1000/644/consoleFull
[code]

@kouvel This test has been noisy for so long, can we just disable it?

[2019-02-05 23:07] echesakovMSFT commented on #22423
This test also fails on macOS with JitStress=1 or JitStress=2
https://mc.dot.net/#/user/coreclr-pulls/pr~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2Fpri1/20190204.764/workItem/Loader.classloader/analysis/xunit/Loader_classloader._DefaultInterfaceMethods_constrainedcall_constrainedcall_constrainedcall_~2F_DefaultInterfaceMethods_constrainedcall_constrainedcall_constrainedca

[2019-02-05 23:15] sandreenko commented on #18886
The updated lists of falied tests (arm64 windows no stress):
System.Diagnostics.Process.Tests
System.Drawing.Common.Tests
System.Management.Tests

[2019-02-05 23:16] BruceForstall commented on #19339
I'm still seeing this, e.g., GThread23 just failed:
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_jitstress2_jitstressregs0x80/751/consoleFull

When I run the test manually, it takes just a second or two. The per-test timeout is 15 minutes.

Maybe under some load conditions the thread Join hangs?

[2019-02-05 23:20] AndyAyersMS commented on #19211
I have a guess, though not confirmed yet.

On ARM64 there are quite a few instructions in the inline pinvoke where the thread is in preemptive mode:
[code]
When we instrument for GC stress we replace all those instructions with illegal opcodes. This triggers a SIGILL which the runtime handles and (eventually) materializes the saved register context as a managed frame.

Suppose Thread 1 is executin

[2019-02-05 23:37] RussKeldorph commented on #22010
@sergiy-k This appears to be specific to ARM64 ReadyToRun.  Do you have someone that could investigate?

[2019-02-05 23:44] echesakovMSFT commented on #22423
@MichalStrehovsky One of the ways to repro this test is to follow that our CI does
[code]
so basically set the environment
[code]
and run the xUnit wrapper:
[code]

[2019-02-05 23:46] jashook commented on #22276
The problem has been found, #22437 has been opened to address the issue. I have verified I can complete the crossgen successfully with the fix.

[2019-02-05 23:56] tarekgh commented on #21688
Looks our calculation if off by 15 seconds. we may need to look deeper why this is happening. here is some more details:

We are using the date/time in Utc ```1847-12-01T00:01:14.9999999Z``` we should be using the rule:

[code]
which will have offset -75 seconds from the Utc.

converting the date to local we are getting ```1847-12-01T00:00:14.9999999-00:01``` while we expect to get ```1847-11-30T2

[2019-02-06 00:08] noahfalk commented on #22265
No worries : )

[2019-02-06 00:52] AndyAyersMS commented on #19211
Fairly sure this is the problem, but not 100% sure. And can't think of a good solution to this offhand.

@BruceForstall @janvorli any thoughts?

[2019-02-06 01:05] davidwrighton commented on #18619
Well, that understanding isn't particularly correct. The HighMemoryThreshold is an already existing knob internal to the GC which makes it *very* enthusiastic about compacting and releasing memory. On a typical machine today its set to 90% of the physical memory on the machine, and is really present to reduce the chance of OOM for applications which fully utilize the machine's capacity.

Before th

[2019-02-06 01:07] BruceForstall commented on #22436
This was caused by the change in https://github.com/dotnet/coreclr/pull/22397

[2019-02-06 01:11] BruceForstall commented on #6397
Another failure with same log:
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_jitstressregs0x10/753/consoleFull