[2019-04-14 16:57] AndyAyersMS commented on #23950
Good point; `int32* pinned` does not pin anything, at least not with current RyuJit.

But it looks like jit32 will handle this. Let me dig in some more.
[code]

[2019-04-14 17:28] jkotas commented on #23969
C# sets [CompilationRelaxations.NoStringInterning](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.compilationrelaxations?view=netcore-2.2) by default that gives runtime freedom in whether to de-dup cross-assembly.

I think it should be possible to adjust the system to de-dup more often or with less restrictions; but I am not sure whether we would want to start guarante

[2019-04-14 17:59] benaadams commented on #23969
Maybe hiding a `readonly static` string behind a static property getter is the best approach then?

As when it inlines it will just be a pointer compare; whereas if it was a string const it would also inline the load?

[2019-04-14 18:28] benaadams commented on #23969
e.g. with the readonly static + property I get
[code]
And the inlined string becomes a constant mov e.g.
[code]

[2019-04-14 19:31] #23969 closed

[2019-04-14 19:48] ericwj commented on #23975
Why `uint*` and `ulong*`? Shouldn't this be `ref uint` and `ref ulong`? It would be just as useful to have this in UWP for example, where `unsafe` is not allowed.

[2019-04-14 20:13] tannergooding commented on #23975
All of the Hardware Intrinsics are considered platform specific and currently only expose overloads that operate on pointers.

This is likely an API that could be exposed in a platform agnostic manner via something like `System.Numerics.BitOperations` or under `System.Math`. Those overloads would themselves likely take `ref` or `out`.

[2019-04-14 20:17] tannergooding commented on #23975
In either case; proposals for new public APIs should be made against dotnet/corefx and follow the API review process: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md#steps. They should also likely follow the "good template" example given under step 1 at the given URL.

https://github.com/dotnet/coreclr/issues/22343 is sufficient to track the prototypin

[2019-04-14 20:17] #23975 closed

[2019-04-14 22:36] jkoritzinsky commented on #23868
I did a little test of the different CMake versions on each of our CI build OS's. Here's what I've found:

[code]

So it looks like if we update the Linux arm32 Docker image to be based on Ubuntu 16.04 (which is what the ARM64 image is based on), then our Azure DevOps builds will all be at a minimum CMake version of 3.5.1. Since Ubuntu 14.04 is hitting EOL at the end of April and .NET Core 3.0 won

[2019-04-15 01:15] VincentBu opened #23986 "[x64] Test failed: JIT/Methodical/largeframes/skip4/skippage4/skippage4.sh"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_centos7.1_r2r_gcstress15_tst/135/

**Failed tests:**
JIT/Methodical/largeframes/skip4/skippage4/skippage4.sh

**Log:**
[code]

[2019-04-15 01:26] #23319 closed

[2019-04-15 01:29] #21834 closed

[2019-04-15 01:31] VSadov commented on #23950
That makes it irrelevant whether `int32*` are zeroed or not. The assert still needs to be fixed one way or another.

[2019-04-15 02:36] danmosemsft commented on #23811
@noahfalk do you have context on the need for this lock? It seems something the diagnostics team must have more context on:

https://github.com/dotnet/coreclr/blob/de68c9ddd18f863fd67098ab28d19206c9c66627/src/System.Private.CoreLib/src/System/Exception.CoreCLR.cs#L362-L363

[2019-04-15 02:55] jkotas commented on #23811
This lock prevents getting into inconsistent state when one exception instance is thrown from multiple threads.

This is description from TFS changeset 483095 that introduced it:

Title: Fix for DD 318658

Issue description:
  If a managed stacktrace contains dynamic frames, then the exception
  object maintains a separate array to track the corresponding resolver
  objects to ensure that the dyna

[2019-04-15 03:02] stephentoub commented on #23811
That couldn't be achieved by locking on the exception object itself or on some object it contains, rather than on a static?

[2019-04-15 03:27] AndyAyersMS commented on #23950
Right, I am thinking now that the jit should just ignore the pinned modifiers on locals unless they are of type class or byref.

[2019-04-15 06:31] AaronRobinsonMSFT commented on #22139
@elinor-fung didn't you port this work?

[2019-04-15 06:31] #22113 closed

[2019-04-15 06:36] AaronRobinsonMSFT commented on #20816
@AlexeiScherbakov Can this issue be closed? Support for this project type in Visual Studio should be filed through the [Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.html) portal rather than here. If you are still having issues with the ilproj from the command line, please let us know. Thanks.

[2019-04-15 06:38] #18490 closed

[2019-04-15 06:41] AaronRobinsonMSFT commented on #14212
cc @jkoritzinsky

[2019-04-15 06:42] gpetrou commented on #18013
Will we also be able to share a C++\CLI dll between .NET Core and Framework?
We would like to avoid producing two dlls, one for each case.
Is there a recommended way to do that?

[2019-04-15 06:53] AaronRobinsonMSFT commented on #18013
@gpetrou Unfortunately it is unlikely that will be possible. C++/CLI binaries targeting .NET Framework will have `mscoree.dll` as the embedded host entry point. For .NET Core, a different [host binary](https://github.com/dotnet/core-setup/pull/5185) will be used - `ijwhost`.

[2019-04-15 06:55] AaronRobinsonMSFT commented on #11330
@jkotas Is there something we can link this to for 3.0? I think this support is actually in unless I am missing something.

[2019-04-15 07:01] #2721 closed

[2019-04-15 07:02] AaronRobinsonMSFT commented on #2565
Closing this issue now that `Span<T>` support is in.

[2019-04-15 07:02] #2565 closed

[2019-04-15 07:04] gpetrou commented on #18013
Thanks for the quick reply.
If we do have to produce two C++/CLI dlls, can we at least avoid producing two dlls that reference them?
We would like to use a .NET Standard dll that references the C++/CLI dll (only on Windows). This .NET Standard dll it turn, can be referenced by other .NET Core or .NET Framework assemblies.
So, can we somehow inside the .NET Standard dll decide which C++/CLI dll we

[2019-04-15 09:06] janvorli commented on #22690
The code in `src/vm/gchandleutilities.h` is gone. And the code `src/vm/crossloaderallocatorhash.inl` is intentionally using just 32 bits of the key as the hash. Collisions are unlikely to happen there (allocation of LoaderAllocator would have to end up with addresses where lower 32 bits match for two LoaderAllocators)

[2019-04-15 10:37] tdjastrzebski commented on #659
Wondering what is the status. Is the any work in progress? - besides #18013

[2019-04-15 11:20] MathiasMagnus commented on #18013
@morganbr @Berrysoft I too would favor an ISO C++ language projection to use on Linux machines with either Clang or GCC and on Windows with Clang or MSVC. Wrapping native libraries for speed and wrap them with .Net goodness would rock. I typically run HPC code but there are times I'd wrap them with .Net and use some other language to call them for convenience. C++/CLI is a nice gluing material, bu

[2019-04-15 13:21] franksinankaya commented on #22690
I think there's a really dangerous assumption here that applications will never need more than 4GB.

I really don't like these size_t casts in the code. These need to go away to achieve scalability.

[2019-04-15 13:24] janvorli commented on #22690
@franksinankaya can you please be more specific which place are you referring to? None of the places you've mentioned in this issue seems to be that case.

[2019-04-15 13:26] franksinankaya commented on #22690
23fecf2

[2019-04-15 13:40] dotnet-mc-bot opened #23992 "Test failure: baseservices_threading._waithandle_waitall_waitallex6_waitallex6_/_waithandle_waitall_waitallex6_waitallex6_cmd"
Opened on behalf of @RussKeldorph

The test `baseservices_threading._waithandle_waitall_waitallex6_waitallex6_/_waithandle_waitall_waitallex6_waitallex6_cmd` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190413.71 (Ready-To-Run Tests)
Failing configurations:
- Windows.10.Amd64.Core
  - x86

[2019-04-15 13:44] adamsitnik commented on #17324
@ygc369 when you allocate an array of value types .NET Runtime guarantees that all the elements inside it are going to have the default value. It does so by zeroing the memory.

This is why following test is always passing:

[code]

but sometimes you don't need it, for example, you want to initialize every element with its own index and having some garbage inside it before the first write is fine

[2019-04-15 13:55] thewilsonator commented on #23228
Sorry, I've been busy with other things. Just checking:

exePath is the absolute path to the executable _file_

`APP_[NI_]PATHS` are absolute paths to _directories_ containing user DLLs
`TRUSTED_PLATFORM_ASSEMBLIES` is a colon (on Posix) separated list of absolute paths to files of basically every file in e.g. `/usr/local/share/dotnet/shared/Microsoft.NETCore.App/2.2.3/` as well as any user DLLs
`

[2019-04-15 13:58] RussKeldorph commented on #23992
I think I've seen this or some of its peers fail one-off other times recently, but I can't find at issue at the moment.  I wonder if, rather than arbitrary timeouts that can be exceeded under load, it wouldn't be better to wait forever and let the harness kill the test if it exceeds the time limit.  Or maybe there's a way to measure whether the test has gotten "enough" cycles to have completed and

[2019-04-15 14:11] janvorli commented on #22690
I don't see any problem in those. All but one are hashes, so it doesn't matter how the hash is computed (we have decided to take the low 32 bits as the hash value since such hash seems reasonable). Even if the hashes collide, it is not a problem. No matter what algorithm you chose to compute the hash, you always can have hash collisions (unless you have perfect hashing function).
The one that is n

[2019-04-15 14:15] franksinankaya commented on #22690
Why not use the full pointer value as hash?

[2019-04-15 14:52] janvorli commented on #22690
Every hash table entry would then be larger by 32 bits and I still don't see any benefit. The fact that two hashes don't collide doesn't mean that the hash table entry indices for each of the hashes won't be the same. The table has a limited size and the initial index is `hash % table_size`.

[2019-04-15 15:05] RussKeldorph commented on #23992
Kusto query of 8 similar failures since Feb.  Of waitallex2, 6, and 7.

[code]

[2019-04-15 15:10] franksinankaya commented on #22690
I see. Does the code handle collisions? Or assume that it will never collide.

If former, the issue can be closed. If latter, code needs to be made more reliable.

I assumed that table is resizing based on number of entries present.

[2019-04-15 16:05] janvorli commented on #22690
Hash table implementations need to handle collisions. It is practically unavoidable without knowing all the possible key values in advance. We use open addressing to handle collisions. See the https://en.wikipedia.org/wiki/Hash_table for details.

[2019-04-15 16:09] jeffschwMSFT commented on #22139
This was not part of the work that I identified for the port.  We made a number of changes to enable Device Guard for .NET Framework.  At this point in the release, I feel they are out of scope for .NET Core 3.0, but we should consider them for a future release.

[2019-04-15 16:26] jkotas commented on #11330
The C# 8 [nullable reference types](https://devblogs.microsoft.com/dotnet/nullable-reference-types-in-csharp/) annotations have been aimed at diagnostics. They are not used for any optimizations today.

This issue is about using these annotations for optimizations. I think that the most promising path for that is https://github.com/dotnet/coreclr/issues/17469#issuecomment-481481078 .

[2019-04-15 16:46] AaronRobinsonMSFT commented on #21065
CoreCLR no longer does TLB generation on the fly. The fix/workaround is to disable embedding Interop types. I realize this isn't a great solution, but on the fly TLB generation is a non-starter for CoreCLR so in order to enable this scenario, users would need to have a TLB instead.

[2019-04-15 17:08] janvorli commented on #23951
The removal was not intentional. It happened accidentally during the refactorings of the GC code I've made during last two weeks. First, it happened in the unix version of the standalone GC and then it got propagated into the embedded version of GC.
When @luhenry asked me about the change, I wanted to measure the performance implications as he wasn't sure if he has tested the change in the GC and

[2019-04-15 17:16] tommcdon commented on #18428
@noahfalk since we are planning on implementing https://github.com/dotnet/coreclr/issues/21807, can this issue be closed or moved to future?

[2019-04-15 17:17] tommcdon commented on #18434
@noahfalk any objections if we move this to future?

[2019-04-15 17:18] tommcdon commented on #18752
@sywhang @jorive is this work happening as part of IPC event pipe?  If no, any objections to moving this to future?

[2019-04-15 17:19] tommcdon commented on #18754
moving to future, feel free to pull this back to 3.0 if needed

[2019-04-15 17:27] sergiy-k commented on #23951
Would it even be possible to fix https://github.com/dotnet/coreclr/issues/23949 without fixing this issues and restoring the original functionality (i.e. when GC was aware of CPU quota)?

[2019-04-15 17:29] jhudsoncedaron commented on #14720
Wait ... you're already outputting Process is terminating due to a StackOverflowException ... Too bad we can't walk down the frames and output them. This can be done in a constant amount of RAM.

[2019-04-15 17:41] tommcdon commented on #22267
Jose investigated and found that there is a singleton leak, and no growth over time

[2019-04-15 17:41] jkotas commented on #23811
Yes, it can.

A slightly more involved fix would be to use immutable pattern to store the stacktraces. It should avoid the need to copy them in `ExceptionDispatchInfo.Throw`. I think the copying of the stacktraces for each async rethrow is contributing to problem. It just got amplified by the global lock.

cc @janvorli

[2019-04-15 17:43] tommcdon commented on #18755
This will be implemented as part of https://github.com/dotnet/coreclr/issues/15377

[2019-04-15 17:43] #18755 closed

[2019-04-15 17:44] tommcdon commented on #18758
@jorive needs investigation to determine this is still an issue for 3.0

[2019-04-15 17:47] tommcdon commented on #19597
We implemented a mechanism to enable/disable file-based eventpipe in 2.2
In 3.0 the pipe can be enabled/disabled through IPC (see https://github.com/dotnet/coreclr/pull/23106)

[2019-04-15 17:47] #19597 closed

[2019-04-15 17:49] tommcdon commented on #19969
Moving to future as there is currently no known diagnostics scenario we are targeting for 3.0 blocked by this.  Feel free to move this back if this is not correct.

[2019-04-15 17:51] tommcdon commented on #20586
Moved to future milestone as our .net core 3.0 diagnostics user stories are targeting CPU and memory profiling.  We should bring this back to 3.0 if the fix is small.

[2019-04-15 17:52] tmat commented on #7360
We need to update the script that's building the package since it currently relies on older infra that no longer works. Let me see what's needed. I don't think it's gonna be difficult.

[2019-04-15 17:53] tommcdon commented on #20751
@jorive is this related to @sywhang work to reduce the buffer size for perf counters?

[2019-04-15 17:54] tommcdon commented on #21357
@noahfalk should we move this to future?

[2019-04-15 17:55] tommcdon commented on #22259
@sywhang is this still an issue?

[2019-04-15 17:56] tommcdon commented on #22502
@cshung ping

[2019-04-15 17:57] tommcdon commented on #23083
cc @jorive

[2019-04-15 17:57] sywhang commented on #20751
I believe this is unrelated. My work flushes the buffer of events more often. This issue is to optimize the event size itself.

[2019-04-15 17:59] sywhang commented on #22259
It may be a duplicate of #22502, but I just want to leave this here to test it after fix for #22502 is merged to make sure it is a duplicate.

[2019-04-15 18:00] tommcdon commented on #23414
@noahfalk any objections moving this to future?

[2019-04-15 18:00] sywhang commented on #18752
This isn't part of the IPC event pipe as this issue is mostly (if not all) refactoring managed code whereas the IPC work is all native part. I have no objections on moving this to future.

[2019-04-15 18:01] tommcdon commented on #23412
@sywhang has this issue been fixed?

[2019-04-15 18:04] tommcdon commented on #18225
@noahfalk any objections moving this to future?

[2019-04-15 18:06] tommcdon commented on #20510
cc @jorive

[2019-04-15 18:09] tommcdon commented on #21003
@noahfalk @stephentoub any objections if we move this to future?

[2019-04-15 18:22] #23986 closed

[2019-04-15 18:23] tommcdon commented on #18030
@cshung can this issue be resolved?

[2019-04-15 18:26] tommcdon commented on #18137
@noahfalk moving this issue out to "future", feel free to pull this back to 3.0 if we believe the PR will be ready in the 3.0 timeframe

[2019-04-15 18:27] #22422 closed

[2019-04-15 18:27] tommcdon commented on #18541
@cshung please take a look.

[2019-04-15 18:28] tommcdon commented on #19437
moving this out to the future milestone - feel free to pull back if we believe we will have a fix in the 3.0 timeframe

[2019-04-15 19:46] anurse commented on #21450
Is there an eta on making it possible to override the default stack size? We have reactionary work we want to do in our IIS hosting model to use it.

[2019-04-15 19:50] sdmaclea commented on #21450
I started looking at this last week.  I expect to get back to it this week (but it is my 5th priority).  I suspect it won't be to bad.  It may miss coreclr preview5, but should be in preview6.

[2019-04-15 19:52] anurse commented on #21450
Cool, that's fine, I just wanted to get an idea of the timeline :).

[2019-04-15 22:18] brianrob commented on #18758
This is still worth keeping around but it isn't related to the IPC mechanism.  This is about the call to ```Sleep``` here: https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipeEventDispatcher.cs#L180.

[2019-04-15 22:21] mikem8361 commented on #7360
@mikem8361<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fmikem8361&data=02%7C01%7Cmikem%40microsoft.com%7C4513f8dd7c1a415cf26008d6c1c4397e%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C636909445856844292&sdata=jBPNka1pyaBbDhhcMu2dBogzc4IPwMrQSugTErps7uQ%3D&reserved=0> other than "!u" can you comment on what SOS functionality we loose without arm64 dia support?

Micr

[2019-04-15 22:23] vatsan-madhavan opened #24008 "Exception thrown 'Unable to find an entry point named 'CopyMemory' in DLL 'kernel32.dll'.' on WPF project with .NET Core 3.0"
_From @Ebenezer94 on Monday, 15 April 2019 17:50:37_

We have used the CopyMemory method in our project to copies memory from source to destination. While copying, exception thrown like "'Unable to find an entry point named 'CopyMemory' in DLL 'kernel32.dll'.'". This code works fine in WPF with .NET Framework. But, we are facing an issue in WPF with .NET Core. I have added the simple code snippet

[2019-04-15 22:23] vatsan-madhavan commented on #24008
_From @vatsan-madhavan on Monday, 15 April 2019 19:44:57_

This doesn't seem specific to WPF. Happens in a general .NET Core application as well.

[code]

[code]

@AaronRobinsonMSFT, should be this be moved to coreclr?

[2019-04-15 22:23] vatsan-madhavan commented on #24008
_From @AaronRobinsonMSFT on Monday, 15 April 2019 20:51:42_

@vatsan-madhavan This is failing for an absolutely insane reason. There are no words for the nonsense.. Feel free to push this issue over to CoreCLR and mark it as 3.0.

cc @jeffschwMSFT

[2019-04-15 22:23] vatsan-madhavan commented on #24008
_From @AaronRobinsonMSFT on Monday, 15 April 2019 22:00:59_

I didn't realize this was just reported via WPF.

@Ebenezer94 In .NET Framework there was a special case for a few function names and `CopyMemory` happened to be one of them. The special case was removed in .NET Core. In order to address this in your code, please update the attribute to include the following: `[DllImport EntryPoint="RtlM

[2019-04-15 22:28] BruceForstall commented on #7360
`!u` functions, but it's *extremely* annoying to get 2 lines of error for every one line of actual output.

[2019-04-15 22:28] AaronRobinsonMSFT commented on #24008
@Ebenezer94 As an FYI, there were a few special cased P/Invoke names in .NET Framework: `MoveMemory`, `CopyMemory`, `FillMemory`, and `ZeroMemory`. All of these will work when pointing at `kernel32` on .NET Framework, but will fail on .NET Core. Please use the `EntryPoint` property in the `DllImport` attribute to get the desired behavior. The proper export names can be found using `dumpbin /export

[2019-04-15 22:28] #24008 closed

[2019-04-15 22:29] vatsan-madhavan commented on #24008
BTW, @AaronRobinsonMSFT asked me offline whether this affects the WPF codebase itself. The answer is no. We looked through the P/Invokes in the codebase, and found that the P/Invoke for `MoveMemory` in the WPF codebase explicitly specifies an entrypoint (`RtlMoveMemory`).

[2019-04-15 22:33] tommcdon commented on #7360
Thanks @tmat @mikem8361 @BruceForstall I've moved the issue back to 3.0.
@tmat please let us know when the package is ready

[2019-04-15 23:25] #23939 closed

[2019-04-16 00:34] jkotas commented on #24019
This is duplicate of #22348 that is fixed for .NET Core 3.0. Is updating to .NET Core 3.0 an option for you, or would you like to see this fix back ported to 2.1?

[2019-04-16 01:10] VincentBu opened #24021 "[x86] Test failed: JIT\Methodical\largeframes\skip3\skippage3\skippage3.cmd"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_gcstress0xc_zapdisable_jitstress2/126/

**Failed tests:**
JIT\Methodical\largeframes\skip3\skippage3\skippage3.cmd

**Log:**
[code]

[2019-04-16 01:13] VincentBu opened #24022 "[x86] error NU3004 in x86_checked_windows_nt_jitnox86hwintrinsic"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_jitnox86hwintrinsic/423/

**Log:**
[code]

[2019-04-16 01:20] #9007 closed

[2019-04-16 01:23] AriNuer opened #24023 "[arm64/windows] Test "Loader_ContextualReflection._ContextualReflection_ContextualReflection" failed with TestLibrary.AssertTestException: Assert.IsNotNull"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_r2r_gcstress15_tst/47/

**Failed test:**
Loader_ContextualReflection._ContextualReflection_ContextualReflection_.Loader\\ContextualReflection\\ContextualReflection\\ContextualReflection.cmd

**Failed log:**
[code]

[2019-04-16 01:37] VincentBu opened #24024 "[arm64] Test failed: System.Tests.RangeTests.GetOffsetAndLengthTest"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_corefx_jitstress2_tst/29/

**Failed tests:**
System.Tests.RangeTests.GetOffsetAndLengthTest

**Log:**
[code]

[2019-04-16 01:42] VincentBu opened #24025 "[arm64] System.Security.Cryptography.Xml.Tests.Reference_ArbitraryElements.Transforms_ExtraData_XmlProcessingInstruction"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_corefx_jitstressregs0x10_tst/28/

**Failed tests:**
System.Security.Cryptography.Xml.Tests.Reference_ArbitraryElements.Transforms_ExtraData_XmlProcessingInstruction

**Log:**
[code]

[2019-04-16 01:48] AriNuer opened #24026 "[arm64/windows]Test failure:System.Reflection.Metadata.Ecma335.Tests.MetadataRootBuilderTests.MetadataVersion"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_corefx_jitstressregs3_tst/28/

**Failed test:**
System.Reflection.Metadata.Ecma335.Tests.MetadataRootBuilderTests.MetadataVersion

**Failed log:**
[code]

[2019-04-16 03:37] stephentoub commented on #21003
@tommcdon, it's hard for me to answer that as the initial work here seems to be exploratory to determine if there are gaps and then also address them.  Do we have time in 3.0 to at least do the initial testing work to understand what the gaps are?  Then we could decide whether we have any runway to fix the most impactful ones or whether we should push everything out.  Of course, I also don't know

[2019-04-16 04:09] jkotas commented on #24024
Temporary fluke

[2019-04-16 04:09] #24024 closed

[2019-04-16 04:09] #23963 closed

[2019-04-16 05:33] NextTurn commented on #22320
As an experiment I tested `calli` with managed calling convention. It's super fast...

Results still in https://github.com/dotnet/coreclr/issues/22320#issuecomment-466736048

[2019-04-16 05:39] dotnet-mc-bot opened #24028 "Test failure: baseservices_threading._interlocked_exchange_ExchangeTString_2_ExchangeTString_2_/_interlocked_exchange_ExchangeTString_2_ExchangeTString_2_sh"
Opened on behalf of @AriNuer

The test `baseservices_threading._interlocked_exchange_ExchangeTString_2_ExchangeTString_2_/_interlocked_exchange_ExchangeTString_2_ExchangeTString_2_sh` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190415.72 (Ready-To-Run Tests)
Failing configurations:
- Debian.9.Arm64
  - arm64

Details:
https://mc.dot.net/#/product/netcore/30/source/of

[2019-04-16 06:16] noahfalk commented on #21003
If we created a new issue to track Mukul's specific example I'd be OK if the broader issue moved to Future. My impression (and feel free to say it doesn't match yours Stephen) is that we are tracking a significant number of concrete bugs and incomplete work in tracing/diagnostic scenarios, many of which are probably more severe than an occasional missing TPL event. This issue is asking for open en

[2019-04-16 06:20] noahfalk commented on #18225
I'd still like to get this addressed in 3.0 if we can

[2019-04-16 06:21] noahfalk commented on #23414
If we had to I'd be OK cutting this, but I'm really hoping we don't have to go this deep just yet. Not knowing if you lost events is pretty rough.

[2019-04-16 06:32] noahfalk commented on #21357
I'm actually going to suggest we just close this. I think Vance is referring to the current direct file-writing behavior that attempts to maintain a ring buffer and then writes out whatever is in that buffer when tracing is disabled. That behavior isn't going to be what people see when they use dotnet-trace, we haven't documented it, and I suspect at some point we will either deprecate it entirely

[2019-04-16 06:32] #21357 closed

[2019-04-16 06:40] noahfalk commented on #18428
I wouldn't close it, but we could move it to future. #21807 doesn't mitigate this much since some (maybe most) of the scenarios at issue here are ETW/EventPipe/LTTNG tracing scenarios that have no usage of ICorProfiler APIs.

[2019-04-16 13:52] #17898 closed

[2019-04-16 15:13] NinoFloris opened #24033 "DIM allows interfaces to be expanded, reevaluate variance restrictions?"
I'm under the impression one of the reasons for disallowing variance on class type arguments was that implementers could easily shoot their future selves in the foot if they didn't judiciously add variance markers to type arguments.

As variance limits the positions that a type argument can appear in you might not foresee that you'd want to use a type argument in opposite position in new methods y

[2019-04-16 15:38] jzabroski commented on #10379
How do I set `COREHOST_TRACE=1`?  Where can I read more about `COREHOST_TRACE=1`?

I did the following and re-ran my dotnet global tool and don't see any fusion log viewer messages.

[code]

Running my dotnet global tool, I get the following after setting `COREHOST_TRACE = 1`, which is NOT as useful as Assembly Fusion Logging - why doesn't COREHOST_TRACE log the `ilPath` and `niPath` variables for

[2019-04-16 15:51] jzabroski opened #24035 "COREHOST_TRACE should log AssemblyLoadContext"
*Background*
On Windows, I am integrating with a .NET Core global tool that in turn loads assemblies via command line parameter `assembly="c:\source\bin\Debug\netstandard2.0\JohnZabroski.Database.dll"`. `JohnZabroski.Database.dll` transitively references `System.Data.SqlClient`.

*Problem*
With `COREHOST_TRACE=1`, my current stderr looks like this:

[code]

I found the following blogpost to be rat

[2019-04-16 15:52] mattwarren commented on #10379
You can read more about the tracing in this doc https://github.com/dotnet/core-setup/blob/master/Documentation/design-docs/host-tracing.md (note that in places that doc is talking about *proposed* changes for .NET Core 3.0, I don't know which ones are are already available)

[2019-04-16 15:53] tommcdon commented on #21003
Moving this to future for now, though we will try to conduct a spike to determine how much work is needed for the overall scenario

[2019-04-16 15:54] jzabroski commented on #10379
@mattwarren Ha!  I was just about to ask you on Twitter if you knew how to debug dotnet global tools.  I feel like this is stuff I should know how to do as a senior developer, but with .NET Core I have no idea what I'm doing and am embarrassed.

[2019-04-16 16:01] jzabroski commented on #10379
@mattwar OK, this is interesting: I realized my problem was I needed to open a new shell to use `COREHOST_TRACE=1`, but since I opened PowerShell 6, which is a .NET Core app, it now takes a long time to start my shell because it spools the Holy Bible of PowerShell assemblies by book, chapter and verse.

[2019-04-16 16:03] mattwarren commented on #10379
Yep! The 'Future investments' section talks about improving this, but I don't know what the current status is https://github.com/dotnet/core-setup/blob/master/Documentation/design-docs/host-tracing.md#future-investments

[2019-04-16 16:05] jzabroski commented on #10379
Thank you!  I am now able to debug this.  It's not perfect, but I'm in a 1000x better spot than I was 30 minutes ago feeling _stoopid_...

[2019-04-16 16:35] #16022 closed

[2019-04-16 16:36] CarolEidt commented on #16021
Fixed with #23675

[2019-04-16 16:36] #16021 closed

[2019-04-16 18:04] jkotas commented on #24033
cc @MichalStrehovsky

[2019-04-16 18:10] yahorsi commented on #7592
Does it means CoreRT dead? Are there any roadmaps or plans for releasing CoreRT?

[2019-04-16 18:14] jkotas commented on #7592
The code [shared](https://github.com/dotnet/coreclr/tree/master/src/System.Private.CoreLib/shared) between runtimes should stay to be AOT-friendly. My note applies to non-shared code that is specific to CoreCLR.

https://github.com/dotnet/corert/issues/7200

[2019-04-16 18:30] BruceForstall commented on #24025
Kicked off https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_corefx_jitstressregs0x10_flow/38/ to see if it repros

[2019-04-16 18:32] BruceForstall commented on #24026
Kicked off https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_corefx_jitstressregs3_flow/38/ to see if it repros

[2019-04-16 18:35] yahorsi commented on #7592
Thank you

[2019-04-16 18:49] janvorli commented on #24028
cc: @VSadov

[2019-04-16 19:30] RussKeldorph commented on #24022
Subsequent job passed.

[2019-04-16 19:30] #24022 closed

[2019-04-16 19:40] MichalStrehovsky commented on #24033
Classes are still quite different from interfaces that have instance methods, because classes have state.

Quick search for "class covariant Lippert" didn't disappoint: https://stackoverflow.com/questions/2733346/why-isnt-there-generic-variance-for-classes-in-c-sharp-4-0/2734070#2734070

[2019-04-16 19:44] NinoFloris commented on #24033
The problem here is mutability, covariance is never safe if allowed near mutable constructs.

State isn't so important, interfaces can expose methods that allow you to mutate that state too so I wouldn't say that to be the defining argument.

[2019-04-16 19:48] #18913 closed

[2019-04-16 19:49] NinoFloris commented on #24033
To add, covariance would be great for Task<T>, all [ImmutableCollections](https://github.com/dotnet/corefx/issues/35892) and more of these Immutable types that would benefit tremendously from it too!

[2019-04-16 19:52] marklio commented on #23950
It is interesting that this pattern is a pattern that was produced by some version of the C# compiler in response to "fixed" blocks and is in use in a number of NuGet packages like SharpDX and some others. Has this usage of pinned ever been honored?

[2019-04-16 19:59] RussKeldorph commented on #24035
Starting with @jeffschwMSFT.  Please fix `area-` if I'm wrong.

[2019-04-16 20:01] AndyAyersMS commented on #23950
I don't see how it ever could have been honored. Jit32 has more or less identical logic and only will report pinned GC refs. Have not looked at Jit64 yet.

Presumably the C# compiler versions with the bug would get pinning right most of the time and there's  some particular rare pattern or construct that leads to mistakenly pinning the unmanaged pointer. @VSadov do you have more info on this issue

[2019-04-16 20:21] jeffschwMSFT commented on #24035
This is absolutely needed.  It is on our backlog, but it is not likely going to make .NET Core 3.0.

[2019-04-16 20:29] hgroover1 opened #24038 "coreclr hangs inside futex on arm32 linux running hello world"
I am running a kernel.org 4.14.77 Linux kernel with additions from the Digi-Linux repo for iMX6. I am running on a dual-core system. I am able to run through the entire ltp (Linux Test Project) suite and this system is otherwise working and stable.

First unusual event: I build a Hello, World dotnet program on a Raspberry Pi (running Raspbian Stretch) and copy the resulting files to the target sys

[2019-04-16 21:20] AndyAyersMS opened #24040 "JIT: revisit weight bump for implicit byref parameters"
#19223 added boost to implicit byref param weights to match old behavior (where byref params were also marked as temps).

This is probably undesirable, so we should re-visit.

[2019-04-16 21:31] VSadov commented on #23950
I do not remember exactly. I think it was only in few cases.

There are only 3 forms of fixed that old compiler supported -
1. fixed arrays
2. fixed strings
3. fixed references (less common)

This is the case `#3`
I will check the other cases.

[2019-04-16 21:41] VSadov commented on #23950
Strings and arrays are pinned correctly.

[code]

results in:

old CSC  ( C:\Windows\Microsoft.NET\Framework\v4.0.30319\csc.exe ):
[code]

Roslyn:
[code]

[2019-04-16 22:05] VSadov commented on #23950
I checked SharpDX sources (https://github.com/sharpdx/SharpDX/search?q=fixed&unscoped_q=fixed)

Yes, many of `fixed` there fit the pattern that old compiler was not good at. That could lead to  rare/stress failures unless the referred memory does not move for some other reasons.

I'd still recommend to rebuild with newer compiler.
Unless we are looking at some old packages...

CC: @xoofx

[2019-04-16 22:09] marklio commented on #23950
The bad IL definitely exists in old packages. I can do deeper analysis on versions to track conversion to new compilers to see how bad the issue is.

[2019-04-16 22:43] janvorli commented on #24038
For instructions on how to cross build coreclr, see https://github.com/dotnet/coreclr/blob/master/Documentation/building/linux-instructions.md. I would not recommend building on the target device as it would take ages to complete.
By deafult, build.sh produces debug build. (you can add `release` option to get release build or you can add `debug` option to be explicit if you want).
I would recommen

[2019-04-16 23:28] #24021 closed

[2019-04-17 00:15] fadimounir opened #24046 "ASSERT FAILED: 0 != id"
1) dotnet new wpf
2) Add <ReadyToRun>true</ReadyToRun> in csproj
3) dotnet publish -r win-x64

Callstack:
`
CROSSGEN! CHECK::Trigger + 0x240 (0x00007ff70bf74bd0)
CROSSGEN! FindECFuncForMethod + 0xD4 (0x00007ff70bd3a564)
CROSSGEN! ECall::GetIntrinsicID + 0xBC (0x00007ff70bd3b01c)
CROSSGEN! CEEInfo::getIntrinsicID + 0xD2 (0x00007ff70bd2fd62)
CROSSGEN! ZapInfo::getIntrinsicID + 0x51 (0x00007ff70bf554

[2019-04-17 00:18] tarekgh commented on #23831
@Leon99 any news? I just want to confirm you are running with Invariant Globalization mode to ensure this is the same issue as https://github.com/Microsoft/Oryx/issues/68 and we are not missing anything.

[2019-04-17 00:25] fadimounir commented on #24046
Config issue... compiling chk crossgen with release clrjit/s.p.corelib. No bug found

[2019-04-17 00:25] #24046 closed

[2019-04-17 00:38] jzabroski commented on #23960
@jkotas I think the basic observation tucked in this question stands : the document https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/choosing-between-class-and-struct should be refreshed with context around the recommendation. Proof by authority is no way to engineer.

[2019-04-17 00:55] jkotas commented on #23960
@mairaw I do not see the edit button on https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/choosing-between-class-and-struct. Is it possible to edit it, or is the editing disallowed since it is a reprint?

[2019-04-17 01:13] VincentBu opened #24050 "[arm] Assertion failure: g_currentProcessCpuCount == g_processAffinitySet.Count()"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_checked_ubuntu_tst/329/

**Failed tests:**
JIT/Methodical/eh/finallyexec/nonlocalexittobeginningoftry_r/nonlocalexittobeginningoftry_r.sh

**Log:**
[code]

[2019-04-17 01:42] VincentBu opened #24051 "[arm] Error: Cannot delete workspace"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_r2r_jitstressregs0x1000_tst/51/

**Log:**
[code]

[2019-04-17 02:20] mairaw commented on #23960
Yes, disallowed by design because of copyright. We need to come up with our own guidelines if we don't want to use that content.

[2019-04-17 02:24] stephentoub opened #24053 "EventPipeController ctor potentially throws ArgumentNullException?"
EventPipeController's ctor accesses AppContext.BaseDirectory and passes the result to Path.Combine, which will throw an ArgumentNullException if BaseDirectory returns null.  BaseDirectory returns the result of GetBaseDirectoryCore, which calls Assembly.GetEntryAssembly()?.Location.  GetEntryAssembly may return null, in which case GetBaseDirectoryCore will return null, in which case Path.Combine wi

[2019-04-17 02:28] jzabroski commented on #23960
My ideal vision would be a document that describes current best practices as well as possibly an area for people to document exceptions, and then those exceptions raise awareness for stronger ways of thinking about what APIs we need as engineers to crush Rust in the TechEmpower  benchmark, and just generally write efficient systems with .NET

[2019-04-17 03:13] #21723 closed

[2019-04-17 03:58] jkotas commented on #24050
cc @janvorli

[2019-04-17 04:03] jkotas commented on #24038
This may be same problem as https://github.com/dotnet/coreclr/issues/19025. You can try to rename liblttng-ust to something else and check whether the problem goes away.

[2019-04-17 04:37] jkoritzinsky commented on #23950
@VSadov just want to clarify: pinning `ref` variables was buggy in the old compiler?

Also re SharpDX: the newer package versions (4.X) are built on the newer compiler through the .NET SDK. I can’t vouch for the 3.X packages though.

[2019-04-17 05:10] dotnet-mc-bot opened #24055 "Test failure: JIT_SIMD._Plane_r_Plane_r_/_Plane_r_Plane_r_sh"
Opened on behalf of @AriNuer

The test `JIT_SIMD._Plane_r_Plane_r_/_Plane_r_Plane_r_sh` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190416.72 (Ready-To-Run Tests)
Failing configurations:
- Alpine.38.Arm64
  - arm64
  - arm64
- Ubuntu.1804.Arm64
  - arm64
  - arm64
- Debian.9.Arm64
  - arm64
  - arm64

Details:
https://mc.dot.net/#/product/netcore/30/source/official~2

[2019-04-17 06:20] MichalStrehovsky commented on #24033
DIMs didn't make implementing this any easier/cleaner.

The only way we would implement this if this came as a feature request from the C# language team (e.g. same way the C# team requested the default interface methods). Working on a runtime feature that won't be exposed from C# is not worth the effort. The C# team made a decision on this in the past: dotnet/roslyn#171. To get any traction on thi

[2019-04-17 06:20] #24033 closed

[2019-04-17 06:56] Leon99 commented on #23831
I gave up on doing it this way and solved my problem differently (all I needed was removing diacritics).

[2019-04-17 07:32] ddobric commented on #24019
Cannot migrate at the moment. But it is a valid option.

[2019-04-17 07:32] #24019 closed

[2019-04-17 09:04] hgroover1 commented on #19025
I can confirm that I've experienced this (and the temporary workaround of renaming liblttng-ust.so.0.0.0 worked) using a Yocto rocko build of a kernel.org 4.14.77 with (many) additions from Digi-Linux 4.9 for the IMX6 camera support.

[2019-04-17 09:43] thewilsonator commented on #23228
Found the problem! `TRUSTED_PLATFORM_ASSEMBLIES` should not contain `.dylib`.
Might want to make this explicit in the docs.

[2019-04-17 09:43] #23228 closed

[2019-04-17 15:10] omajid opened #24061 "Disallow using arrays with NewHolder"
I have recently found and fixed some [uses where `NewHolder` was being used with arrays instead of `NewArrayHolder`](https://github.com/dotnet/coreclr/pull/24017).

I wonder if it would be possible to modify the `NewHolder` code so that it fails to compile examples like this:

[code]

The [`static_assert`s](https://github.com/dotnet/coreclr/blob/df2f4c4feb273545e91fd8d7d170dc424b741f19/src/inc/hol

[2019-04-17 15:49] BruceForstall commented on #24051
[code]

@dotnet/dnceng Infra issue

[2019-04-17 15:54] #23831 closed

[2019-04-17 15:56] RussKeldorph commented on #23941
@fadimounir Could we get these tests disabled or fixed ASAP?  We need to keep at least the official build testing green.

[2019-04-17 15:57] RussKeldorph commented on #23941
I should clarify that ResolveEventTests has also timed out on ARM64. https://mc.dot.net/#/user/dotnet-mc-bot-2/official~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fr2r~2Fcli~2F/20190417.71/workItem/Interop, not just x86

[2019-04-17 15:58] RussKeldorph commented on #23941
Similar situation for `Interop\PInvoke\SafeHandles\ReleaseHandle\ReleaseHandleTest\ReleaseHandleTest`

[2019-04-17 16:27] AndyAyersMS commented on #24055
I'll take a look.

[2019-04-17 17:09] richlander opened #24064 "Choosing the right defaults for Tiered Compilation"
# Choosing the right defaults for tiered compilation

Tiered compilation (TC) is a runtime feature that is able to control the compilation speed and quality of the JIT to achieve various performance outcomes. It is enabled by default in .NET Core 3.0 builds. We are considering what the default TC configuration should be for the final 3.0 release. We have been investigating the performance impact (

[2019-04-17 17:23] tommcdon commented on #23083
@jorive can this issue be resolved?

[2019-04-17 17:25] tommcdon commented on #23126
@sywhang has this issue been investigated or do we have evidence this is occuring?  I'm moving this issue out to future, though feel free to move it back to 3.0 if needed

[2019-04-17 17:28] tommcdon commented on #18030
@cshung investigated and was not able to repro.  Please provide a dump of the process when it is hung and we can investigate further.  Closing the issue due to lack of actionable information for now.

[2019-04-17 17:28] #18030 closed

[2019-04-17 17:29] tommcdon commented on #22232
Tracking this issue on https://github.com/dotnet/coreclr/issues/18541

[2019-04-17 17:29] #22232 closed

[2019-04-17 17:29] tommcdon commented on #22986
Tracking this issue on https://github.com/dotnet/coreclr/issues/18541

[2019-04-17 17:29] #22986 closed

[2019-04-17 17:34] janvorli commented on #23951
Running the test on my physical Linux box shows the same level of noise in the measured values, so it was not caused by the VM.
Based on @sergiy-k's suggestion, I've also added memory limit to the docker container in which the server part of the benchmark runs with swapfile turned off for the container. I've tried 512MB memory limit and the tests were passing with the same performance as without a

[2019-04-17 17:37] tommcdon commented on #20166
@janvorli I believe that SOS support was added for this.  Is there any other work outstanding for .net core 3.0?

[2019-04-17 17:39] tommcdon commented on #20168
@janvorli This item looks like it is tracking assembly loader coreclr tests so moving to the area-AssemblyLoader path.  If there is something diagnostic specific please let us know.

[2019-04-17 17:41] tommcdon commented on #23761
Moving to future since this is a pre-existing issue.  Feel free to pull this back to 3.0 if we clear our backlog in time.

[2019-04-17 17:42] tommcdon commented on #23439
Moving this issue to the future milestone.  If we clear our backlog in time, feel free to pull this back into 3.0.

[2019-04-17 17:45] tommcdon commented on #22908
@noahfalk feel free to pull this back to 3.0 if this is blocking a mainline scenario

[2019-04-17 17:47] tommcdon commented on #22722
It looks like the question has been answered.  Feel free to re-open if needed.

[2019-04-17 17:47] #22722 closed

[2019-04-17 17:51] tommcdon commented on #21283
@janvorli did removing the assert resolve the issue?  If so we can move this bug out to the future milestone.

[2019-04-17 18:06] #19860 closed

[2019-04-17 18:06] #20046 closed

[2019-04-17 18:06] AndyAyersMS commented on #20046
Closed via #19223.

[2019-04-17 18:25] josalem commented on #24053
The file-based configuration invocation of EventPipe is meant to silently fail if something goes wrong--as you mentioned, this logic is wrapped in a try/catch/finally block.  Since the file-based configuration invocation of Eventpipe is going to be removed entirely in an upcoming change, I'm going to leave this as-is for now.

[2019-04-17 18:25] #24053 closed

[2019-04-17 18:40] AndyAyersMS commented on #24055
With master at df2f4c4 I get an assert in crossgen:
[code]

[2019-04-17 18:43] MeikTranel commented on #24064
Has there been any testing in regards to runtime compilation - common tasks like Regex-Compile/XMLSerializer but also more complex examples like Cake-Build?
I assume tiered-compilation would have at least some influence with code compiled, loaded and executed in the same runtime cycle?

In regards to the action plan:
I also think it makes sense to have a tighter feedback loop with the communities

[2019-04-17 18:46] mikedn commented on #24055
I'll take a quick look too, in case it's something I did. Though this is likely a problem in lowering or earlier and I only changed codegen recently.

[2019-04-17 19:04] richlander commented on #24064
Good twitter thread: https://twitter.com/matthewwarren/status/1118575458843594752

[2019-04-17 19:16] AndyAyersMS commented on #24055
The test passes when jitted.
* Looks like in crossgen we fail to recognize the Vector3 constructor.
* We ultimately fail on a call with 3 Vector3 args, the first two are recognized as HVAs and passed in d0-d2 and d3-d5, the third is on the stack, and we seemingly don't transform it as expected.

Difference happens in lower, the OBJ node remains in the tree in crossgen and this blows up in codegen.

[2019-04-17 19:19] mikedn commented on #24055
Here I'm seeing a different assert, but I'm using altjit so I'm not sure how relevant is that, I don't quite trust arm64 altjit. But it's also HFA related so...
[code]
The assert in lowering is expecting that `TYP_SIMD12` has 3 slots but that specific parameter is passed on stack so it has only 2.

[2019-04-17 19:28] mikedn commented on #24055
My understanding is that `Vector3` is supposed to be treated as a struct of floats so it's a HFA, not a vector/HVA.

[2019-04-17 19:51] RussKeldorph commented on #24038
Assuming duplicate of #19025.

[2019-04-17 19:51] #24038 closed

[2019-04-17 19:59] #23792 closed

[2019-04-17 20:03] RussKeldorph commented on #23943
Fixed by #24011

[2019-04-17 20:03] #23943 closed

[2019-04-17 20:34] tommcdon commented on #20434
@mikem8361 can we move this issue to the diagnostics repo?

[2019-04-17 20:44] AndyAyersMS commented on #24055
Seems like we are in that odd regime where `CORJIT_FLAG_FEATURE_SIMD` is not passed yet we are still prejitting code that references SIMD types like `Vector3` (see eg #15328). This may not show up the same way when using an altjit.

So it appears not recognizing vector intrinsics during prejitting is expected, and the issue is farther down in the jit, where we don't handle the IR shape this produc

[2019-04-17 20:58] tommcdon commented on #22898
Related to https://github.com/dotnet/coreclr/issues/23124 in that the test is relying on the same bad behavior of counting events and assuming the the number of events is the same

[2019-04-17 21:00] tommcdon commented on #20510
@sywhang has a WIP that should address this
Related to https://github.com/dotnet/coreclr/issues/23412

[2019-04-17 21:02] tommcdon commented on #20299
@josalem we believe that this test can be elimated along with file-based eventpipe polling

[2019-04-17 21:06] tommcdon commented on #22502
@cshung refreshing ping

[2019-04-17 21:06] sywhang commented on #23412
I'll be taking out the relevant bits out of #23379 and submit a new PR since #23379 has some more work to do.

[2019-04-17 21:08] AndyAyersMS commented on #24055
Could be there is some place we're checking `featureSIMD` instead of the just-introduced `supportSIMDTypes()`.

[2019-04-17 21:22] AndyAyersMS commented on #24055
Like here for instance:
https://github.com/dotnet/coreclr/blob/4f00e74c1c884060511a85ed71926aef85d830fc/src/jit/rationalize.cpp#L75-L82

Changing this to `supportSIMDTypes()` looks like it fixes things.

[2019-04-17 21:23] #23950 closed

[2019-04-17 21:30] richlander commented on #24064
@MeikTranel -- I think you are asking about dynamic code scenarios, like Reflection.Emit. Tiering is not currently enabled for those scenarios. It's something that we'll consider post 3.0.

This issue is intended to create that feedback loop. I'll also reference this issue in our next release blog post. PowerShell currently has tiering enabled with their current in-market version, on top of .NET C

[2019-04-17 21:52] VSadov commented on #23950
The form   `fixed (type* unmanaged = &managed){ } `  was broken.

The `<managed>` here could be anything expression that represents a location - ref parameter, field of an object, array element, etc ...

[2019-04-17 22:09] tommcdon commented on #22265
Moving this to future since a mitigation for 3.0 is checked in (#22296)

[2019-04-17 22:50] #20434 closed

[2019-04-17 22:50] mikem8361 commented on #20434
Issue moved to [dotnet/diagnostics #163](https://github.com/dotnet/diagnostics/issues/163) via [**ZenHub**](https://www.zenhub.com/)

[2019-04-17 22:57] noahfalk opened #24073 "Verify EventPipe scalability"
We had a report from a user on a machine with a 20 core CPU group that a hot lock in EventPipe (EventPipeBufferManager::m_lock) was causing excessive spinning in EventPipeBufferManager::AllocateBufferForThread. There was conflicting evidence about whether or not the system was sustaining high event load. Regardless of the specifics of that case, we need to validate that EventPipe scales well.

We

[2019-04-17 23:34] brianrob commented on #24073
One thing to consider when investigating this - if in fact there is high contention on ```EventPipeBufferManager::m_lock``` in ```EventPipeBufferManager::AllocateBufferForThread``` it's likely to be because there is a high enough event load that lots of threads are trying to allocate buffers at the same time and getting stuck behind this lock.  The simplest way to solve this is to increase the buf

[2019-04-17 23:38] fadimounir commented on #23941
@RussKeldorph Taking a look

[2019-04-17 23:42] BaronKiko commented on #22722
I know it outputs error info on a crash now, is this on .net core 2 or only on 3?
Has legacyCorruptedStateExceptionsPolicy been re-enabled and has a C API been added or will it be added?
I think the C API, if it's going to be done, should be a separate issue.

[2019-04-18 00:11] Maoni0 commented on #22521
I'll close this and if you do not agree with what @andy-ms said above please feel free to reactivate.

[2019-04-18 00:14] Maoni0 commented on #23426
what info do we have to debug this?

[2019-04-18 00:14] #22521 closed

[2019-04-18 00:17] Maoni0 commented on #23139
great! thanks for verifying. I'll close this then.

[2019-04-18 00:17] #23139 closed

[2019-04-18 00:21] Maoni0 commented on #21881
@mjsabby could you please verify if you are seeing the designed behavior (Method events on information level)? if not we should fix that.

[2019-04-18 00:28] Maoni0 commented on #22443
looks like this is done...closing.

[2019-04-18 00:28] #22443 closed

[2019-04-18 00:32] fadimounir commented on #23941
Hmm... I couldn't repro this using a Debug build. Let me try with CHK

[2019-04-18 00:33] Maoni0 commented on #18577
I'm closing this due to inactivity. please feel free to reactivate if you don't believe the issue is fixed.

[2019-04-18 00:33] #18577 closed

[2019-04-18 00:36] Maoni0 commented on #24064
@janvorli do you believe we will still get to this in 3.0?

[2019-04-18 00:37] AndyAyersMS commented on #22521
Benchview / xunit-perf is still convinced this is a regression; seems like it is worth understanding why. The previous time this test regressed, there were real issues with cgroups.

![image](https://user-images.githubusercontent.com/10121823/56329154-fea70e00-6136-11e9-8468-f186d919a7a0.png)

Now this may be a perf harness artifact. Perhaps we can back-test this using the new performance repo and

[2019-04-18 00:39] Maoni0 commented on #22521
we don't seem to be able to repro this. @adamsitnik can you please help?

[2019-04-18 00:53] BruceForstall commented on #23426
@Maoni0 I'm not sure I understand the question.

You can see the latest run logs here:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_release_osx10.12_gcsimulator_tst/184/consoleText

that should show what the CI system is actually doing on the Mac (the build I think happens before this, on an x64 Linux box).

The basic command being run is:
[code]

but the logfile above shows per-test

[2019-04-18 00:56] Maoni0 commented on #23426
I meant if we have a dump or something to look at?

[2019-04-18 01:11] VincentBu opened #24077 "[x64] Error : No space left on device"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_osx10.12/29040/

**Log:**
[code]

[2019-04-18 01:14] BruceForstall commented on #23426
The issue here is that the test run is misconfigured, so nothing is running -- it looks like all we're getting is script syntax errors.

[2019-04-18 01:18] noahfalk commented on #22908
I think @kouvel will be the right owner for this, he was engaged with various aspects of the Tiered Compilation diagnostic experience.

[2019-04-18 01:21] VincentBu opened #24078 "[x64] Assert failure: FitsIn<unsigned short>(EHSize)"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_ubuntu_corefx_jitstressregs0x1000/800/

**Log:**
[code]

[2019-04-18 01:55] jkotas commented on #24078
Fixed by #24048

[2019-04-18 01:55] #24078 closed

[2019-04-18 01:57] jorive commented on #22521
There is an implicit, and not so obvious way on how the benchmarks run in *Jenkins with xunit-performance*. They run as high priority on a single core (affinity 0x2). The command to run the benchmarks, with the old harness, needs to be prefixed with the following commands:

- On Windows, `START "CORECLR_PERF_RUN" /B /WAIT /HIGH /AFFINITY 0x2`
- On Linux (Ubuntu in this case), `taskset 0x00000002 n

[2019-04-18 02:19] mjsabby commented on #21881
On information level we see `Microsoft-Windows-DotNETRuntime/Method/Load`, whereas on verbose we see `Microsoft-Windows-DotNETRuntime/Method/LoadVerbose`. The verbose events carry the method name, namespace & signature. The regular events do not.

I still think that it makes sense to add a new keyword for GC like GCLowVolume because it may be that there are other verbose events that are useful lik

[2019-04-18 04:38] ackava commented on #8878
I originally created this issue as I changed my user type to organization `neurospeech` this issue no longer shows in my issues list. Can someone please fix this? I wanted to edit this issue.

[2019-04-18 05:28] Chrisboh commented on #24051
@mmitche what needs to happen to get this to be cleaned up?

[2019-04-18 05:30] kouvel commented on #22908
I'll look into this along with the work for https://github.com/dotnet/coreclr/issues/23221

[2019-04-18 07:39] ArtBlnd commented on #23903
Can you explain what actual case of C# codes are missed in case?

[2019-04-18 07:48] v-haren opened #24083 "Error: Failed to restore the optimization data package"
failed in job: https://ci2.dot.net/job/dotnet_coreclr/job/perf/job/master/job/perf_scenarios_Windows_NT_x64_min_opt_ryujit/1207/

failed log:
C:\J\w\perf_scenario---af7a1e00\packages\microsoft.dotnet.buildtools\3.0.0-preview4-03913-01\lib\tool-runtime\project.csproj : error NU3004: Package 'System.Collections.Immutable 1.3.1' from source 'https://api.nuget.org/v3/index.json': This repository indic

[2019-04-18 08:22] janvorli commented on #24064
@Maoni0 I guess you wanted to ask someone else or put your question to a wrong issue.

[2019-04-18 09:32] ashishnegi opened #24084 "GetDirectoryName : different behavior in windows or linux"
Steps:
1. dotnet new console -o dirpath
2. change Program.cs to

[code]

Output on windows:
[code]

Output on Linux:
[code]

Problem:
`Console.WriteLine(System.IO.Path.GetDirectoryName(@"\\a\b\c\bin\d\d.e\NS\b.c.f.g.dll"));` gives no output on Linux.

Expected:
Behavior on windows and Linux is same.

Real world use case:
To get the path of executing assembly, `assemnly.codebase` is [recommended](h

[2019-04-18 09:35] MarcoRossignoli commented on #24084
/cc @JeremyKuhne

[2019-04-18 12:55] stephentoub commented on #24084
`\` is not a directory separator on Linux. It's a valid filename character.

[2019-04-18 13:12] IgorXq opened #24086 "error MSB4236: The SDK 'Microsoft.NET.Sdk.Web' specified could not be found."
Cannot get rid of  weird error

when I build the project with CLI  **dotnet build**

Had to uninstall all related .Net stuff (all SDKs, .Net runtimes and VS2017 )  then reinstalled VS2019 Community from scratch. The issue is still the same - I am able to build and run the application with VS but can **not** build  or run any of existing proejcts from CLI.
It still fails with mentioned error.

It i

[2019-04-18 14:44] RussKeldorph commented on #24077
@dotnet/dnceng Please clean macs

[2019-04-18 14:45] #24077 closed

[2019-04-18 14:47] mmitche commented on #24051
@Chrisboh Hop onto machine and determine what is holding the filelock.

[2019-04-18 14:53] #23951 closed

[2019-04-18 15:08] adamsitnik commented on #22521
We started uploading the results from performance repo to BenchView at the beginning of March and the regression showed by @AndyAyersMS took place in Jan/Feb so we don't have the historical data to answer this question.

https://benchview/trendline?jobgroup=.NET%20Performance&branchId=762&jobgroup=.NET%20Performance&branchId=762&jobtype=rolling&count=200&rtids=[1713]&archids=[9,4]&mpids=[1292]&cfg

[2019-04-18 15:24] janvorli commented on #22521
It was not a matter of cpugroups (cgroups, to be precise). I just found it when testing a cgroups performance and it was unrelated to the cgroups stuff.
The enormous growth in GC collections was caused by the amount of free memory on the system. When the free memory went down under some threshold, the number of GCs has grown 5 times, causing the test to take ~2.5 longer to complete.

[2019-04-18 15:40] jkotas commented on #23378
https://github.com/dotnet/coreclr/pull/24081 Failed in regular Windows_NT x64 Checked CoreFX Tests

[2019-04-18 15:52] danmosemsft commented on #24084
@ashishnegi  as above this is by design. I'm going to close but feel free to reopen if you have other questions, etc.

[2019-04-18 15:52] #24084 closed

[2019-04-18 16:04] EgorBo opened #24087 "Inconsistency in RuntimeMethodHandle.InvokeMethod"
As far as I understand all exceptions happened in methods/properties called via reflection should be wrapped with `TargetInvocationException` unless `BindingFlags.DoNotWrapExceptions` is specified.

[code]

For two similar cases here InvokeMethod throws different exceptions - is it by design?
I suspect it happens here: https://github.com/dotnet/coreclr/blob/master/src/vm/reflectioninvocation.cpp#L

[2019-04-18 16:45] 4creators opened #24089 "Test failure: PInvoke Interop\PInvoke\DateTime\DateTimeTest\DateTimeTest.cmd [FAIL]"
Building and running tests on commit 837ac49c1ac46729df88ddb4a5d73ade6cc55cfc on Windows 10 Ent 1809 en-US with custom system wide date time format settings results in PInvoke DateTimeTest failure:

[code]

Custom date time format set on system:

![Regional date time format settings](https://user-images.githubusercontent.com/801959/56377060-c4f30780-6209-11e9-8236-77d9ab4ff327.png)

`dotnet --info

[2019-04-18 17:29] MattGal commented on #24051
I'll take care of it.

[2019-04-18 17:38] MattGal commented on #24051
Looks like whatever it was cleared itself up.  I'll take the machine offline, reboot it, and put it back into circulation once done.

[2019-04-18 17:43] mikem8361 opened #24092 "Remove SOS and lldb plugin from the coreclr repo"
SOS and the lldb plugin now live in the [diagnostics](https://github.com/dotnet/diagnostics.git) repo.  We are almost ready to remove them from the coreclr repo probably in the Preview 6 time frame.

We are still waiting for the new SOS to shipping with the next public release of the Windows debugger (windbg) and there are still some OS/architecture holes in the diagnostics repo's build (and test)

[2019-04-18 17:55] brianrob opened #24093 "All IBC Scenarios Are Treated as Duplicates"
Per @briansull, it appears that all IBC scenarios on Linux are treated as duplicates because the command line is only returning the exe name and not the full command line.

This results in only a single process across all of the scenarios being used to optimize the target assembly.

Linux:
[code]
Windows:
[code]

[2019-04-18 18:08] Maoni0 commented on #24064
yes..I did; during my frantic bug triage I apparently put the comment in the wrong issue. please ignore...sorry! (I can delete my last comment and this one after you've read it :P)

[2019-04-18 18:09] filipnavara commented on #24087
It is by design, the decision was discussed in https://github.com/dotnet/corefx/issues/15960 and implemented by https://github.com/dotnet/coreclr/pull/17639.

`BindingFlags.DoNotWrapExceptions` affects exceptions thrown by the called method, not exceptions happening as part of the special marshalling behaviour here. The difference makes it possible to distinguish between the ref-returning method c

[2019-04-18 18:09] Maoni0 commented on #18044
this is the one I wanted to ask you about, @janvorli - a while ago you mentioned you still wanted to do some work for this so just checking.

[2019-04-18 18:12] #24055 closed

[2019-04-18 18:23] tannergooding commented on #23408
Ah, I think I realize what was wrong.

while you can have `typeof(int*)` and you can have a `T*`, you can't have `Span<int*>`; which means you can't have `fixed ID3D12Resource* renderTargets[2];` that means you can't use the `Span<T>` trick above to deal with this in the interim and the compiler wouldn't be able to do it either (as it looks to be illegal in IL).

[2019-04-18 18:38] am11 commented on #22391
Another advantage of this move would be that we can clean up some helpers (such as https://github.com/dotnet/coreclr/blob/af83b8ad6f/src/corefx/System.Globalization.Native/pal_compiler.h) and utilize others for safe math in the CoreFX repo.

[2019-04-18 18:45] VSadov commented on #23408
FWIW here is the rough implementation of ValueArray in the prototype.

For the simplicity in the prototype the branching factor is 4.
That is just an arbitrary number. Actual implementation would probably use 8 or 16.

[code]

[2019-04-18 18:48] VSadov commented on #23408
Here are some examples of how compiler would translate things like `int[10] x = default; x[5] = 123`  to use ValueArray as defined above.

https://github.com/VSadov/roslyn/blob/0763838ece22cb86d3ac09df948fe2182bf4dbe3/src/Compilers/CSharp/Test/Emit/CodeGen/FixedSizeBufferTests.cs#L732

[2019-04-18 19:06] VSadov commented on #23408
There is some conceptual similarity with @davidwrighton suggestion - map arrays to some generic nested structs.

The main difference is whether to have the contained data as actual fields and thus having VA_1, VA_2,.., VA_N types. vs
having magic `INumber` type arguments that have effect of "repeat N times" - So you have just one VA type and nest the type arguments.

[2019-04-18 19:21] tannergooding commented on #23408
I think the primary problem with those approaches is that it doesn't work with any `T` and looks like it would add a significant amount of metadata bloat; even if that could ultimately be normalized in some ways.

I think the attribute based approach (like the one @jkotas or I suggested) might be overall better since it should work with any `T` (even ref structs and pointer types). There may be so

[2019-04-18 19:47] VSadov commented on #23408
`InlineArrayAttribute(N)` on a field with a meaning "repeat N times" is certainly more versatile.

The approaches just try to varying degrees reduce the changes to the runtime and when possible reuse the mechanisms of type construction/equality that what we already have - i.e. generics.

[2019-04-18 20:08] Korporal opened #24097 "Question - string pool"
This may not be the correct place for my question, if so just let me know.

I'm interested in programmatically opening an assembly DLL file and then getting at every string constant that is present.

Is there a way to get at this data? I'd expect to see an array or sequence of string values, I do not care where these were declared/defined, seeing all strings as a simple sequence/arrays is all I ne

[2019-04-18 20:46] MichalStrehovsky commented on #24087
*Thank you*. If you read the linked issue, I predicted that people will consider this a confusing behavior a bug and will file it as such.

Cc @VSadov

[2019-04-18 20:49] #23427 closed

[2019-04-18 21:12] BruceForstall commented on #24026
kicked off https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_corefx_jitstressregs3_flow/39/

[2019-04-18 21:13] BruceForstall commented on #24025
kicked off https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_corefx_jitstressregs0x10_flow/39/

[2019-04-18 21:43] RussKeldorph commented on #23941
@fadimounir Only ResolveEventTests ARM64 timed out on the latest run this morning: https://dev.azure.com/dnceng/internal/_build/results?buildId=160090&view=ms.vss-test-web.build-test-results-tab

[2019-04-18 21:44] fadimounir commented on #23941
I was able to repro the callback one locally. I'm currently debugging it

[2019-04-18 21:52] noahfalk opened #24104 "Can I register a callback to be called before or after GC?"
@ygc369 [Commented on another thread](https://github.com/dotnet/coreclr/pull/22866#issuecomment-484040178), but it is a new issue so moving it here:

Can I register a callback to be called before or after GC? Just in my program, not in profile.

And the answer: You might be interested in [this technique](https://blogs.msdn.microsoft.com/maoni/2019/04/08/a-portable-way-to-get-gc-events-in-process-a

[2019-04-18 21:57] noahfalk commented on #24104
I don't understand, Maoni's post included [the full 101 line sample code](https://gist.github.com/Maoni0/e7e4c94aa0a23fb096ff09a5b84f9a48#file-fullgcevents-cs) which can be directly built and run without modification. I'm not sure what is lacking?

[2019-04-18 23:13] CarolEidt commented on #23624
_tailcall_Desktop__il_relthread_race__il_relthread_race_sh frequently times out in multiple configurations (Checked, Checked-no_tiered_compilation, Checked-gcstress0xc, and Checked-jitstress2_jitstressregs2

[2019-04-18 23:56] tommcdon commented on #20456
@Maoni0 can we load balance this issue to another engineer?

[2019-04-19 00:00] tommcdon commented on #20023
Poorly written test - the test loads all of the items in the windows event log and then tries to verify that a particular type of exeception is in the log.  The test fails because it the lab machine's event log might be extremely large, we might need to add retry logic to the test.  Please pull back to 3.0 if we can get a fix done in time for 3.0.

[2019-04-19 00:01] tommcdon commented on #19622
@davmason can you take a look?

[2019-04-19 00:28] tommcdon commented on #19969
Looks like a duplicate to https://github.com/dotnet/coreclr/issues/18225

[2019-04-19 00:31] fadimounir commented on #23941
@RussKeldorph I'm pretty close to figuring out what the issue is, but not done yet. I still need a bit of debugging to be able to fix this issue. I'll disable the tests for the time being

[2019-04-19 00:43] ygc369 commented on #24104
@noahfalk Oh, I see, thank you.
I have the last question, can I know the GC generation when "GCStart" event happens?

[2019-04-19 01:02] noahfalk commented on #24104
Yeah you can, it is the 'Depth' property. There are [full docs](https://docs.microsoft.com/en-us/dotnet/framework/performance/garbage-collection-etw-events) on all the events.

You can print all the properties of all events with this example that enumerates the PayloadNames and Payload properties on the EventWrittenEventArgs.

[code]

[2019-04-19 01:05] VincentBu opened #24106 "[x86] Test failed: JIT\CheckProjects\CheckProjects\CheckProjects.cmd"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_jitstressregs4/818/

**Failed tests:**
JIT\CheckProjects\CheckProjects\CheckProjects.cmd

**Log:**
[code]

[2019-04-19 01:13] VincentBu opened #24107 "[arm64] Test failed: JIT/Directed/VectorABI/VectorMgdMgd_ro/VectorMgdMgd_ro.sh"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_debug_ubuntu16.04_tst/171/

**Failed tests:**
JIT/Directed/VectorABI/VectorMgdMgd_ro/VectorMgdMgd_ro.sh

**Log:**
[code]

[2019-04-19 01:17] VincentBu opened #24108 "[arm64] Test failed: System.Diagnostics.Tests.StackTraceTests.ToString_NullFrame_ThrowsNullReferenceException"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_corefx_jitstress1_tst/170/

**Failed tests:**
System.Diagnostics.Tests.StackTraceTests.ToString_NullFrame_ThrowsNullReferenceException

**Log:**
[code]

[2019-04-19 01:30] VincentBu opened #24109 "[arm64] Assertion failed: 'comp->featureSIMD'"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_jitnosimd_tst/166/

**Failed tests:**
JIT/Regression/JitBlue/DevDiv_714266/DevDiv_714266/DevDiv_714266.sh

**Log:**
[code]

[2019-04-19 01:35] ygc369 commented on #24104
@noahfalk
Does "GCStart" event happen just before GC really starts to work?

[2019-04-19 01:48] VincentBu opened #24111 "[arm64] Invalid argument or value in corefx test"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_corefx_jitstressregs1_tst/32/

**Log:**
[code]

[2019-04-19 02:11] noahfalk opened #24112 "Remove support for the EventPipe config file"
The config file was an undocumented interim measure because we didn't have an IPC channel. Now that we do have IPC we should eliminate the associated code that polls, parses, and applies the config file data.

[2019-04-19 02:13] noahfalk commented on #23083
I opened #24112 to track getting rid of the config file. I think that renders this issue moot. Even if we don't do #24112 right away we are re-affirming that the config file was an undocumented and unsupported option that we do not plan to invest in further.

[2019-04-19 02:13] #23083 closed

[2019-04-19 05:23] Maoni0 commented on #20456
@tommcdon I'll take care of it.

[2019-04-19 06:32] marek-safar commented on #24087
To me this should have implications to features like #nullable. I am not sure how we mark static methods throwing NRE as it'd feels little bit weird to have #nullable safe code and receive NRE.

/cc @stephentoub

[2019-04-19 06:52] adamsitnik commented on #22521
@janvorli thank you for clarification and sorry for the misinformation (I updated my previous comment and crossed text out).

[2019-04-19 08:44] mjr27 commented on #20287
Basically all of above. Console utilities, WPF, asp.net, games

Yes. Sqlite is a good example.

Probably no.

Yes.

net.core is already a bit too slow. But a couple seconds increase is acceptable. 5 seconds -- definetely not.

Doesn't matter nowadays

Up to 5 minutes feels is acceptable. 15-20 minutes release builds for UWP are driving everyone mad.

Sure.

[2019-04-19 12:12] Kaliumhexacyanoferrat opened #24114 "AccessViolationException in .NET Core 3.0 Preview 4"
I'm using [scriban](https://github.com/lunet-io/scriban) in one of my projects. When switching to .NET Core 3.0 Preview 4, unit tests started to crash in release mode with an `ExecutionEngineException` (see lunet-io/scriban#163). I narrowed this down to the following, minimal code example which will run fine in debug mode, but throw an `AccessViolationException` in release mode (on both linux-x64

[2019-04-19 13:29] ashishnegi commented on #24084
@danmosemsft Should `new System.Uri(Assembly.GetExecutingAssembly().CodeBase).LocalPath`  give path with name-separator character as `/` and not `\` ?

The path returned by above code is not usable in linux as `\` is treated not as name-separator-char but as part of file-name.

[2019-04-19 13:32] stephentoub commented on #24084
Can you open a separate issue for that?  That question is about Uri.LocalPath forcing `\` on all operating systems; a fine question, but a different issue from GetDirectoryName.  Thanks.

[2019-04-19 13:42] stephentoub commented on #24087
The nullability feature is far from 100% validating.  You can have methods accepting nullable arguments that throw when null is passed in, and you can have methods return non-nullable types but that end up returning null.  The whole feature is there as an attempt to reduce argument null exceptions and null reference exceptions, but it doesn't eliminate them entirely.

For reflection, InvokeMethod

[2019-04-19 13:42] EgorBo commented on #24114
3.0.100-preview4-010961: doesn't reproduce.
3.0.100-preview5-011468: reproduces.

[2019-04-19 13:46] ashishnegi opened #24117 "Uri.LocalPath returns `\` in path in Linux"
**Steps:**
1. in any `dotnet new console` app's Program.cs, put these lines

[code]

`dirPath` is empty in Linux and right value in windows.

**Problem:**

To get the path of executing assembly, `new System.Uri(Assembly.GetExecutingAssembly().CodeBase).LocalPath` is the [recommended](https://stackoverflow.com/questions/52797/how-do-i-get-the-path-of-the-assembly-the-code-is-in) approach.
However,

[2019-04-19 13:46] ashishnegi commented on #24084
Opened #24117.

[2019-04-19 13:47] stephentoub commented on #24117
cc: @tmds, @davidsh

[2019-04-19 15:09] jkotas commented on #24114
Crash in the JIT:

[code]

cc @RussKeldorph @dotnet/jit-contrib

[2019-04-19 15:21] RussKeldorph commented on #24106
@fadimounir Please set the `<DebugType>` and `<Optimize>` properties on new tests so that the JIT behavior isn't dependent on build flavor.

[2019-04-19 16:05] #15683 closed

[2019-04-19 16:11] RussKeldorph commented on #24109
Fixed by #24071.

[2019-04-19 16:11] #24109 closed

[2019-04-19 16:13] RussKeldorph commented on #24111
Fixed by #24065.

/cc @sandreenko

[2019-04-19 16:13] #24111 closed

[2019-04-19 16:32] BruceForstall commented on #24108
Also fails in baseline:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_corefx_baseline_tst/172/

@karelz Can you get someone to look at this?

[2019-04-19 16:43] tommcdon commented on #23224
Load balance test realiability issues to @cshung

[2019-04-19 16:44] tommcdon commented on #22891
Load balance test realiability issues to @cshung

[2019-04-19 16:52] tommcdon commented on #22259
@cshung can you verify if #22502 fixes this issue?

[2019-04-19 18:15] janvorli commented on #15119
@NextTurn the hosting API was created during the porting of CoreCLR to Unix and at that point, it was not clear yet that we won't support reinitialization and multiple domains. So I have followed the way the original Windows hosting API was working.
Given the current state, it is true that we could keep both the host handle and domain id inside the hosting interface implementation. Also, the domai

[2019-04-19 18:18] karelz commented on #24108
@BruceForstall is it urgent?
How often does it fail? Always? Sometimes? Rarely?

BTW: Here are [area owners](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#areas) if you need experts. Would be nice to clarify urgency / priority first though.

[2019-04-19 18:25] BruceForstall commented on #24108
@karelz It's a regression in our outerloop CI testing, which leads to run failures. So yes, it is urgent. The immediately solution could be to just disable this assembly from testing.

This also fails on x64: https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_corefx_baseline/836/consoleFull

So it appears to be all-platform.

And unfortunately, we ha

[2019-04-19 18:28] BruceForstall commented on #24108
Looks like the owners here are @wtgodbe, @krwq

[2019-04-19 18:29] RussKeldorph commented on #24108
@wfurt

[2019-04-19 18:32] fadimounir commented on #23941
Note to self: undo changes from #24121 when fixing bug

[2019-04-19 18:32] wtgodbe commented on #24108
The test just changed in CoreFx 3 hours ago to assert that ToString() returns a newLine, rather than throwing an exception: https://github.com/dotnet/corefx/commit/8fa3e3c3624967a4049070791788f0602b2581e1#diff-c5d0955556fa8ba396168e66bd6ad18e.

[2019-04-19 18:40] fadimounir opened #24122 "Update crossgen documentation with /r command"
Doc path: https://github.com/dotnet/coreclr/blob/master/Documentation/building/crossgen.md

[2019-04-19 18:51] RussKeldorph commented on #24086
@IgorXq Have you tried asking in the https://github.com/dotnet/cli or https://github.com/dotnet/core-sdk repos?  I would try them first.

[2019-04-19 18:53] BruceForstall commented on #24108
Triggered new runs to verify fix (note that these jobs pick up live corefx bits):

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_corefx_baseline_flow/206/
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_corefx_baseline/

[2019-04-19 19:58] CarolEidt commented on #24107
This was fixed with #24080.
The `arm64_cross_debug_ubuntu16.04_tst` test leg is still failing, but now in the `CheckProjects` test, presumably due to #24047.

[2019-04-19 19:58] #24107 closed

[2019-04-19 20:39] ww898 commented on #22844
`ICorProfilerInfo3::GetRuntimeInformation()` continues returning `v4.0.30319` in `3.0.100-preview4-011223`. Is that correct? How can I get real CoreCLR version?

[2019-04-19 20:44] jkotas commented on #22844
Discussed in https://github.com/dotnet/coreclr/issues/22845

[2019-04-19 21:05] IlyaGrebnov commented on #22844
Let's say, I am library developer and want to target my library as .net standard 2.0 and at run-time determinate framework version. For sake of argument, I only care if version is .net core and version >= 3.0

Looks like I can differentiate between .NET Core and Full framework by checking for ".NET Core", but how I can differentiate pre-3.0 from future 4.6+ versions?

Why not make it "NET Core 4.6

[2019-04-19 21:10] #24106 closed

[2019-04-19 21:14] #23872 closed

[2019-04-19 21:16] #22212 closed

[2019-04-19 21:16] fadimounir commented on #22212
Fixed

[2019-04-19 21:29] RussKeldorph commented on #24083
This jobs are obsolete and removed.

[2019-04-19 21:31] BruceForstall commented on #24108
Looks like it's passing now. Closing.

[2019-04-19 21:31] #24108 closed

[2019-04-19 21:34] BruceForstall commented on #22442
@ericstj @karelz We're still seeing almost every corefx x86/x64 Windows run fail due to timeout:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_corefx_baseline/
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_corefx_baseline

AFAICT it's Microsoft.Win32.SystemEventsTests

[2019-04-19 21:36] RussKeldorph commented on #24026
That run hit:
[code]

@CarolEidt

[2019-04-19 21:40] RussKeldorph commented on #24025
Multiple instances of
[code]
as well as
#24108

[2019-04-19 21:42] RussKeldorph commented on #24025
@dotnet/dotnet-diag Is above Assert failure yours?

[2019-04-19 21:45] danmosemsft commented on #22442
@BruceForstall can you please disable these tests from your checked runs.

[2019-04-19 21:48] BruceForstall commented on #22442
Unfortunately, we have no mechanism to be able to disable corefx tests for Windows x86/x64 :-(

This test run mechanism/infrastructure doesn't use the new granular test exclusion mechanism. Maybe now that corefx is using new RunTests.cmd/sh and new xunit, we could add this?

[2019-04-19 21:49] danmosemsft commented on #22442
You can't use your json file? There arent many tests in this library.

[2019-04-19 21:56] davidwrighton commented on #23837
I'd say this is a bug, but I don't know what the priority to fix it would be. I've reproduced the issue locally, but have not root caused it.

[2019-04-19 21:58] BruceForstall commented on #22442
The json exclusion file is not used by the mechanism used to run these tests; it's only used by the "innerloop" corefx run.

[2019-04-19 22:01] CarolEidt commented on #24026
@RussKeldorph - I suspect that this is #23885, for which I've got PR #24043 up.

[2019-04-19 22:44] miguep opened #24125 "Deadlock in process shutdown during RCW cleanup"
We have just recently started to run into this deadlock in coreclr_t::shutdown.

this is what the main thread looks like:

 	ntdll.dll!_ZwWaitForSingleObject@12()	Unknown
 	KernelBase.dll!WaitForSingleObjectEx(hHandle, dwMilliseconds, bAlertable)	C
 	hostpolicy.dll!coreclr_t::shutdown()	C++
 	hostpolicy.dll!run_as_app()	C++
 	hostpolicy.dll!_corehost_main()	C++
 	hostfxr.dll!fx_muxer_t::read_co

[2019-04-19 22:52] jkotas commented on #24125
cc @vitek-karas  @sdmaclea @jeffschwMSFT

Looks like preview4 -> preview5 regression

[2019-04-19 22:55] vitek-karas commented on #24125
@elinor-fung
Any chance of getting a dump or something similar, so that we can drill into this a bit more?

[2019-04-19 22:56] jkotas commented on #24125
@miguep If dump is not possible, stacktraces from other threads would help too. The main thread is waiting for a lock that is held by some other thread.

[2019-04-19 22:59] sdmaclea commented on #24125
Seems surprising to me that coreclr is not in the trace
[code]

[2019-04-19 23:00] sdmaclea commented on #24125
Did preview5 get all the preview4 fixes that went in after we branched?

[2019-04-19 23:02] jeffschwMSFT commented on #24125
Right now Preview5 is master... Any changes that went into Preview4 need to be manually also merged into master.

[2019-04-19 23:03] jkotas commented on #24125
Yes, the stacktrace is missing frames. It can be waiting on this lock
https://github.com/dotnet/core-setup/blob/859ee7d256a043b0a9bfe3e9cc6c8483eb23efd5/src/corehost/cli/hostpolicy/coreclr.cpp#L175

[2019-04-19 23:06] sdmaclea commented on #24125
That lock makes no sense.  Unless multiple threads are calling shutdown...

[2019-04-19 23:11] vitek-karas commented on #24125
@AaronRobinsonMSFT
This change has modified the lock in question:
https://github.com/dotnet/core-setup/commit/d0e3248d57e20c6eba223c6ca9e18dafbb9cea72

We don't know for sure it's that lock, but it's likely. I remember that there were some "things" going on with the use of "atomic" specifically around the release branch (the fix was done in the release branch directly). @AaronRobinsonMSFT any idea

[2019-04-19 23:13] briansull commented on #24093
On Linux the method  `PAL_InitializeCoreCLR` creates a fake command line with only the `ExePath`:

[code]

[2019-04-19 23:23] briansull commented on #24093
When running IBCtraining scenario's we populate a  `CORBBTPROF_SCENARIO_RUN `

[code]

[2019-04-19 23:26] briansull commented on #24093
The best fix appears to be using `procfs` on Linux systems to retrieve the original command line.

https://en.wikipedia.org/wiki/Procfs

[2019-04-19 23:32] briansull commented on #24093
second issue is to convert the date-time stamp value returned by `GetProcessTimes` to the Windows form:
IbcData:     `<Run runTime="12/31/1600 4:00:01 PM" `

[code]

[2019-04-19 23:38] brianrob commented on #24093
The command line does get setup properly elsewhere because managed code needs access to it.  EventPipe consumes the proper command line as well and logs it in traces.  Take a look at https://github.com/dotnet/coreclr/blob/fdc9998609263d9f531079e2cbe0f3f31eba3382/src/vm/corhost.cpp#L336.

[2019-04-19 23:45] briansull commented on #24093
I did take a look at that as well.
That  sets up the argc, argv[] as arguments for calling the main entry point of the managed code,
with the value of pwzAssemblyPath being what we want as argv[0], or arg[1] if we have corerun.exe as argv[0].

It is best to simply get the original command line using `procfs`

[2019-04-19 23:45] AaronRobinsonMSFT commented on #24125
@vitek-karas There was an issue that was addressed around the constructor also calling `shutdown` and that resulted in a lock. In this case, there should only be one place that is calling `shutdown` so I have no idea how this could be a deadlock there. We should make sure the customer has changes post https://github.com/dotnet/core-setup/commit/d18247239a28e4ec353f92bedf2dde153a8068ea

[2019-04-19 23:46] davmason commented on #24025
It looks like there are no symbols available, those offsets look bogus. It could be any assert and CreateCLRProfiling is the closest public symbol available.

There are two instances of  `_ASSERTE(bSuccess)` in regmeta_emit.cpp in `RegMeta::_DefineTypeRef` and `RegMeta::_DefineTypeDef`, without seeing a callstack I don't think it has anything to do with diagnostics work.

[2019-04-19 23:46] elinor-fung commented on #24125
@miguep provided a repro machine. It does not look to be from that lock. I just started looking into it: we're getting into `coreclr_shutdown_2` and blocking waiting for the finalizer thread, which appears to be cleaning up RCWs.

[2019-04-19 23:47] AaronRobinsonMSFT commented on #24125
Also all atomic issues have been resolved now that we statically link against atomic.a.

[2019-04-19 23:50] AaronRobinsonMSFT commented on #24125
@elinor-fung has a dump of the issue. This seems to be some issue with RCW cleanup. I will have to look into it.

[2019-04-19 23:54] tommcdon opened #24128 "Create ICorDebugDelegateObjectValue implementation for delegates"
Create and implement the following:

[code]

[2019-04-20 00:06] AaronRobinsonMSFT commented on #24125
Okay, this is definitely in coreclr binary and not in any not core-setup code.

main thread
[code]

Clean up
[code]

[2019-04-20 00:08] AaronRobinsonMSFT commented on #24125
Nevermind. 🙄

[2019-04-20 00:16] jkotas commented on #24125
This may be related to my change https://github.com/dotnet/coreclr/pull/23595/files#diff-7817a3c11b2998ad499862a6f4106323L843 . Before this change, this wait had 2 second timeout. We may add the 2 second timeout back, or just stop cleaning up the RCWs.

[2019-04-20 00:29] ygc369 opened #24130 "Question：Are there any experimental projects about reference counting instead of GC?"
There's Snowflake project about manual memory management, but are there any experimental projects about reference counting instead of GC?

[2019-04-20 01:05] #24114 closed

[2019-04-20 01:08] AaronRobinsonMSFT commented on #24125
@jkotas Very sad panda. That looks like the issue. Any strong opinions on which direction? I am thinking of skipping RCW cleanup during shutdown rather than reinserting the timeout.

[2019-04-20 01:26] noahfalk commented on #24104
No there is not that guarantee, EventListener is asynchronous so delivery occurs sometime after the underlying event.

[2019-04-20 01:34] jkotas commented on #24125
I am worried that we may need to add the timeout back. The finalizer may be in the middle of regular RCW cleanup when the shutdown happens. If the RCW cleanup can hang during shutdown, we would still get intermittent hang in this case.

Do you know why `EnterContext` is blocked in the dump you have looked at? What would need to happen to make it finish gracefully?

[2019-04-20 01:50] jkotas commented on #24125
Maybe the fix should be to change https://github.com/dotnet/coreclr/blob/58d9cf157f54e8fd61eaaf56b3f8045075d171cd/src/vm/finalizerthread.h#L71 to pass `alertable=TRUE` ?

[2019-04-20 02:15] mjsabby opened #24132 "Medium-weight GC profiling option in Profiler API"
Creating an issue based on the discussion in https://github.com/dotnet/coreclr/pull/22866

There are currently two profiling modes checked in to .NET Core:

(1) Full GC Profiling - Expensive but exhaustive
(2) Basic GC Profiling - Very efficient but somewhat lacking for some types of analysis

This issue is there to introduce a third mode which is somewhere in between the Full and Basic.

The goal

[2019-04-20 02:15] mjsabby commented on #24132
cc @Maoni0

[2019-04-20 02:21] ygc369 commented on #16931
@jkotas
I need synchronous callback before GC, which guarantees that GC would not start to work before the callback returns. I know this might impact performance of GC. But if nobody registers such callback, there would be no impact to GC. If somebody registers such callback, he must be responsible for the impact, that means he is sure that the impact is nothing serious in his use case/scenario. O

[2019-04-20 03:04] mjsabby commented on #21731
Looks like ILStubs may be the only kind of code that don't already have their debug info generated. I think that's what the following code means.

https://github.com/dotnet/coreclr/blob/b7167889bc94c084527f184f852b867b2a1c1d56/src/vm/jitinterface.cpp#L12650-L12654

If that's true then JIT throughput may only be mildly impacted, since LCG methods are having their debug info generated by not exposed

[2019-04-20 03:08] ygc369 opened #24134 "Proposal: inlined arrays (need CLR support)"
see this: https://github.com/dotnet/csharplang/issues/2455
But this feature need CLR support, how does CLR team consider it?

[2019-04-20 04:50] sdmaclea opened #24135 "Assembly.Load(string assemblyName) not using StackMark in all cases"
`Assembly.Load(string assemblyName)` not using StackMark in all cases

Root cause seems to be `CreateAssemblyName` returns an assembly w/o using the callers context.
https://github.com/dotnet/coreclr/blob/58d9cf157f54e8fd61eaaf56b3f8045075d171cd/src/System.Private.CoreLib/src/System/Reflection/RuntimeAssembly.cs#L321-L323

`Assembly.LoadWithPartialName(string partialName)` not using StackMark ever

[2019-04-20 04:52] sdmaclea commented on #24135
@jkotas proposed fix
[code]

[2019-04-20 05:07] sdmaclea commented on #24135
It is not clear to me why these `DynamicSecurityMethod` Assembly.Load* methods are not in `shared/…/Assembly.cs`, but are in `Assembly.CoreCLR.cs`. It seems the public ones in `Assembly.CoreCLR.cs` could move to `shared`. To be consistent, I moved `LoadWithPartialName` to `Assembly.CoreCLR.cs`

[2019-04-20 05:11] jkotas commented on #24135
I looks fine to me. After this fix, there seems to be some dead code (e.g. the `CreateAssemblyName` method) that can be deleted.

`StackCrawlMark` and the plumbing around it are not portable across runtimes.

Sounds good to me.

[2019-04-20 05:11] #24125 closed

[2019-04-20 05:16] sdmaclea commented on #24135
hmmm
[code]

[2019-04-20 06:04] sdmaclea opened #24136 "Malformed line endings src/System.Private.CoreLib/shared/System/TimeZoneInfo*"
@stephentoub @safern Looks like #23878 & `f221445` introduced mixed line endings into

src/System.Private.CoreLib/shared/System/TimeZoneInfo.Win32.cs
src/System.Private.CoreLib/shared/System/TimeZoneInfo.cs

[2019-04-20 06:07] #24136 closed

[2019-04-20 07:47] ww898 commented on #22845
@sywhang Could you please tell us when will you make changes in `ICorProfilerInfo3::GetRuntimeInformation`? We really expect them, because our code based on eqvivalent versions (major + minor) in `ICorProfilerInfo3::GetRuntimeInformation` and `Environment.Version`.

[2019-04-20 09:53] AndreasTruetschel opened #24140 "CLR crashes when unloading assembly"
Trying to unload an assembly loaded via a custom AssemblyLoadContext crashes the CLR with an error message print: `Internal CLR error (0x80131506)`
This is since the upgrade to the latest .Net Core SDK (3 preview 4).

A sample project where this occurs can be found [here](https://github.com/AI4E/AI4E.AspNetCore.Components.Extensions/tree/master/samples/Routing.ModularRouterSample/Routing.ModularRo

[2019-04-20 13:53] jkotas commented on #24140
cc @janvorli

[2019-04-20 14:17] jkotas commented on #24140
The repro needs NuGet.config with blazor feed to build successfully:

[code]

[2019-04-20 14:18] jkotas commented on #24140
We crash while scanning GC statics:

[code]

[2019-04-21 00:34] ygc369 opened #24144 "What's the status of .Net Native project?"
Has it been stopped? I have not heard of it for a long time.

[2019-04-21 03:29] jkotas commented on #24144
You can track .NET Native release at: https://github.com/Microsoft/dotnet/tree/master/releases/UWP

The most notable addition in last month update is official ARM64 support.

[2019-04-21 03:29] #24144 closed

[2019-04-21 03:41] jkotas commented on #24130
There are none that I am aware of.

Duplicate of https://github.com/dotnet/coreclr/issues/430

[2019-04-21 03:41] #24130 closed

[2019-04-21 04:56] tn-5 opened #24146 "macOS Startup System.ComponentModel.Win32Exception (13): Permission denied"
With the latest nightly build of netcore 3 (3.0.100-preview5-011505) it is not possible to run a net core application on macos, it give an exception on startup:
System.ComponentModel.Win32Exception (13): Permission denied
   at System.Diagnostics.Process.ForkAndExecProcess(String filename, String[] argv, String[] envp, String cwd, Boolean redirectStdin, Boolean redirectStdout, Boolean redirectStde

[2019-04-21 13:06] Bartolomeus-649 opened #24151 "WhatIf-Discussion: What would a .NET Core optimized OS and HW look like?"
Imagine you would create a brand new Operating System (OS) with the single goal of making it the optimal platform for .Net Core, together with the optimal hardware for this OS and .Net core to run on, what would it be like?

- What CPU architecture should be be used?
  - Something traditional like Intel?
  - A Field-programmable gate array (FPGA) who can natively execute IL?
  - A General Purpose

[2019-04-21 16:13] davidfowl opened #24153 "JIT doesn't optmize away boxing in some cases"
In the below sample, using the new C# is pattern matching results in a boxing allocation of the struct while the other 2 patterns do not.

TL;DR
Test1 boxes
Test2 does not box
Test3 does not box

[code]

cc @AndyAyersMS @benaadams

[2019-04-21 18:13] EgorBo commented on #24153
duplicates https://github.com/dotnet/coreclr/issues/17670 ?

[2019-04-21 18:41] davidfowl commented on #24153
Ah yes it is

[2019-04-21 18:41] #24153 closed

[2019-04-21 22:25] #24135 closed

[2019-04-21 23:31] mjsabby opened #24155 "Add Profiler API : GetObjectReferences"
The Profiler API today has [ICorProfilerCallback::ObjectReferences](https://docs.microsoft.com/en-us/dotnet/framework/unmanaged-api/profiling/icorprofilercallback-objectreferences-method) which is called after a GC is completed. This is called for remaining object in the heap.

For large heaps and/or heaps with moderate survival rate this can be prohibitively expensive to enable in a production en

[2019-04-21 23:31] mjsabby commented on #24155
cc @Maoni0 @noahfalk

[2019-04-21 23:39] normj commented on #24064
Adding clarification on AWS Lambda.

AWS Lambda's memory and compute is as constrained as a user request it to be similar to a docker container. Generally memory and compute are set a pretty low levels. Our AWS tooling defaults to 256 MB of memory for .NET Core Lambda functions. Compute is a sliding scale based on the memory specified.

What is unique about Lambda is the process lifecycle which is

[2019-04-22 00:03] Thealexbarney opened #24158 "JIT: Suboptimal codegen when using array instead of span"
In the following situation, changing the type of a local variable from `Span<Vector128<byte>>` to `Vector128<byte>[]` results in performance that is ~80% of the original.

Standard benchmark results are performed by passing a large array to the encryption function. Blocked results are from calling the encryption function on a single 0x10-byte AES block at a time.

Span:
EBC encryption: 5.708 GB/s

[2019-04-22 01:30] AriNuer opened #24159 "CoreFX test failures, incl. System.Buffers.Tests.ArrayBufferWriterTests_Byte.Advance"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_corefx_jitstressregs0x80/842/

**Failed tests:**
System.Buffers.Tests.ArrayBufferWriterTests_Byte.Advance
System.Buffers.Tests.ArrayBufferWriterTests_Char.Advance

**Failed log:**
[code]

[2019-04-22 08:16] EgorBo commented on #24158
while I agree with this statement I guess most people would add a check `if (keys.Length >= 10)` which **should** also eliminate the bounds checks (well, currently it should be `if ((uint)keys.Length > 9)`). Btw, Mono-llvm is able to eliminate redundant bounds checks for this case 🙂 https://github.com/mono/mono/issues/13889

[2019-04-22 08:33] YohDeadfall opened #24161 "Inconsistent behavior between Activator.CreateInstance methods"
According to [the docs](https://docs.microsoft.com/en-us/dotnet/api/system.activator.createinstance?view=netcore-3.0) all non-generic `CreateInstance` methods of `Activator` must throw a `MemberAccessException` when the specified type is abstract:

But `CreateInstance<T>` behaves differently, it throws a `MissingMethodException` in all cases. This behavior is checked by tests in the Core FX repo (

[2019-04-22 11:05] #23885 closed

[2019-04-22 11:09] GSPP commented on #23811
A few years ago I examined exception rethrowing scalability with EDI. I found that it does not scale at all with rising thread count. Maybe this issue is the same issue that I found or maybe there was another.

Maybe it's worth setting up a very simple benchmark that continuously rethrows from multiple threads. This should show very severe contention points.

[2019-04-22 11:18] GSPP commented on #23132
These days 2GB arrays are barely enough for many applications to run reliably. RAM prices have stagnated for a few years now. Surely, the industry will resolve this problem sooner or later. As RAM amounts resume increasing at Moores law rate this 2GB array issue will become very commonplace sooner or later.

A `LargeArray<T>` type might be a good medium term solution. But will 2GB arrays not be ve

[2019-04-22 11:25] IgorXq commented on #24086
@RussKeldorph Thank you, published the issus in CLI repo.

https://github.com/dotnet/cli/issues/11206#

[2019-04-22 11:27] GSPP commented on #23132
If 64 bit support is implemented there could be a tool that analyzes your code for legacy patterns (e.g. usage of `int Length` or the typical for loop `for (int i = 0; i < array.Length; i++)`). The tool should then be able to mass upgrade the source code. This could be a Roslyn analyzer.

[2019-04-22 11:35] Deni35 commented on #8565
Net.Core 3.0 is coming. Are there some news on this subject?

[2019-04-22 12:47] RussKeldorph commented on #23358
All of the following are failing since 20190419.71.
[code]

[2019-04-22 13:39] ArtBlnd commented on #24158
Seems duplicated to https://github.com/dotnet/coreclr/issues/19620
also fix-up PR here https://github.com/dotnet/coreclr/pull/23966

[2019-04-22 14:26] danmosemsft commented on #8565
@jeffschw do you guys own this part?

[2019-04-22 15:38] kfrolov opened #24164 "Segmentation faults when running precompiled JIT code on ARM (Tizen, 32-bit)"
Recently we have discovered new issue which prevents debugging of precompiled application and libraries. Libraries and applications can be precompiled by "crossgen" application. In case when we will try to debug application containing precompiled JIT code, incorrect CoreCLR  behavior will lead do segmentation fault exception and abnormal program termination.

The issue is discovered and reproduced

[2019-04-22 15:38] hez2010 opened #24165 "Feature Request: A mechanism for unloading and reloading unmanaged libraries while using P/Invoke"
Currently there's no way to unload unmanaged dynamic libraries while using P/Invoke.

Sometimes we need to hot-upgrade without restarting host process, absolutely that we can use LoadLibrary/FreeLibrary to achieve that but it's really inconvenient, and also we cannot invoke methods in dll directly by calling their method names/ordinals.

So I think it is necessary to provide a mechanism for unload

[2019-04-22 15:39] kfrolov commented on #24164
Below I will describe bug reproduction steps, which not involves using of resources (repositories) accessible only in Samsung.

Requirements to reproduce the issue:

- PC running linux;
- Tizen development tools on that PC, please follow the instructions listed here:
(see https://source.tizen.org/documentation/developer-guide/getting-started-guide/installing-development-tools). I can add, that Ubu

[2019-04-22 15:50] alpencolt commented on #24164
cc @jkotas @kbaladurin @gbalykov

[2019-04-22 17:28] CarolEidt opened #24166 "Investigate x86 requirement for "this" ptr in register"
In https://github.com/dotnet/coreclr/pull/24043 I did some clean up of the weird semantics of `RequiresRegister()`, changing non-`ActualRef` `RefPosition`s to be marked `RegOptional`.
This changed the behavior under stress  (specifically jitStressRegs 0x1000, which is the regOptionalNoAlloc). `RefTypeParamDef`s aren't considered "ActualRefs" but previously weren't marked `RegOptional`. However, th

[2019-04-22 17:41] CarolEidt opened #24167 "Update the CLR ABI document for vector types"
https://github.com/dotnet/coreclr/blob/master/Documentation/botr/clr-abi.md

As discussed here: https://github.com/dotnet/coreclr/pull/23675#issuecomment-482756702, we need to update the ABI document to clarify the handling of vector types.
Also, once we enable interop for blittable generic types (#23899), we will need to ensure clarity around how these types (i.e. `Vector<T>`, `Vector64<T>`, `Vec

[2019-04-22 17:49] brianrob commented on #24093
If you want to use procfs, I think that is fine.  I believe corefx does this as well in some places.

[2019-04-22 17:53] jkotas commented on #24093
procfs non portable. I would just use the managed command line, like event pipe.

[2019-04-22 18:13] RussKeldorph commented on #24165
@janvorli

[2019-04-22 18:23] sdmaclea commented on #23820
Fixed doc.

[2019-04-22 18:23] #23820 closed

[2019-04-22 18:29] RussKeldorph commented on #22010
History is limited at this point, but this doesn't seem to be hitting anywhere.  Assuming @sergiy-k's theory is correct.

[2019-04-22 18:29] #22010 closed

[2019-04-22 18:31] tommcdon commented on #24164
cc @noahfalk @RussKeldorph @BruceForstall

[2019-04-22 18:47] jkotas commented on #24164
There is no such posibility today. All single-stepped code will be generated by JIT.

There is a similar technique used for x64. Look at `_TARGET_AMD64_`-specific paths in `DebuggerPatchSkip::DebuggerPatchSkip`.

[2019-04-22 19:05] franksinankaya opened #24170 "Ubertask for CoreCLR GCC port"
GCC port of CoreCLR work has been going for some time now. This is the top level task to track the final goal.

A fork of the project is available here:
https://github.com/franksinankaya/coreclr/tree/uuid_rework_7
https://github.com/franksinankaya/coreclr/tree/gcc_port_${SOMESNAPSHOTDATE}

We are unable to complete this work until JIT work #23386   is done and we make the UUID solution nicer.

@ja

[2019-04-22 19:08] BruceForstall commented on #24159
Test also fails on Linux/arm64, so is apparently all-platform failure.

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_corefx_baseline_tst/177/consoleFull

[2019-04-22 19:15] BruceForstall commented on #24159
@ahsonkhan Looks like this might be your test

cc @joshfree @karelz

[2019-04-22 19:19] BruceForstall opened #24171 "[Linux/arm64] Test failure in System.IO.Pipelines.Tests.StreamPipeWriterTests.CanDoMultipleAsyncWritesToStream"
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_corefx_baseline_tst/177/consoleFull
[code]

[2019-04-22 19:19] BruceForstall commented on #24171
@davidfowl Looks like you recently added this test

cc @karelz

[2019-04-22 19:28] davidfowl commented on #24171
You can move this issue to corefx, I'll fit it.

[2019-04-22 19:30] AlexeiScherbakov commented on #20816
@AaronRobinsonMSFT , I created issue in Developer Community - https://developercommunity.visualstudio.com/idea/540810/add-microsoftnetsdkil-aka-ilproj-support-in-visual.html

For commandline i created:
global.json
[code]
ilproj
[code]
I try to build on
[code]

And it tolds me

`C:\Users\Alexei\.nuget\packages\microsoft.net.sdk.il\3.0.0-preview1-26824-01\Sdk\Sdk.props(19,31): error MSB4236: не удал

[2019-04-22 19:41] BruceForstall opened #24172 "[Linux/arm64][GCStress=C] _il_relthread-race time out"
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_gcstress0xc_tst/29

[code]

[2019-04-22 20:01] BruceForstall opened #24173 "[GCStress=C] Failure in JIT/Methodical/ELEMENT_TYPE_IU/_il_dbgu_fld/_il_dbgu_fld.sh"
Linux/arm64, GCStress=C, JitStress=1.

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_gcstress0xc_jitstress1_flow/

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_gcstress0xc_jitstress1_tst/31/consoleFull

[code]

[2019-04-22 20:14] BruceForstall opened #24175 "[Linux/arm64] Tests time out under HeapVerify=1"
Several GC tests time out under `COMPlus_HeapVerify=1`

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_heapverify1_tst/28/consoleFull

[code]

[2019-04-22 20:36] jkotas commented on #24161
I agree that `MissingMethodException` does not look like the most appropriate type to throw for abstract types. I am not sure whether it is worth the breaking change to fix it. Either way, the docs should be updated.

And JIT throws `InvalidOperationException` on attempt to allocate instance of abstract type. From `CEEInfo::getNewHelper`:

[code]

[2019-04-22 22:23] danmosemsft commented on #24146
Based on the linked issue, this seems to depend on install location. I'm pretty sure this isn't runtime. May not be CLI either but moving there seems a better bet.

[2019-04-22 22:25] danmosemsft commented on #24146
Issue moved to [dotnet/cli #11231](https://github.com/dotnet/cli/issues/11231) via [**ZenHub**](https://www.zenhub.com/)

[2019-04-22 22:25] #24146 closed

[2019-04-22 22:39] noahfalk commented on #24155
@davmason

If you don't include them it is very hard to determine which fields hold which references. Check out issue #16274 for a good example of a serious profiling tool that cares about this. If there is a significant complexity it adds to the design or usage we should discuss, but on first impression it feels like a pretty low cost addition that solves a real problem with the existing API.

[2019-04-22 23:01] #24172 closed

[2019-04-22 23:14] TonyValenti commented on #23963
Hi @AaronRobinsonMSFT -
Thanks so much for the suggested demo but that isn't helping.  I've created a sample project:
https://github.com/TonyValenti/OutlookCom

That shows the challenge I'm running into.  It seems as though whatever I do, the calls are trying to be redirected to a newer version of a GAC assembly.  How do I force calls to GetActiveObject to use the information in one of the PIA ass

[2019-04-22 23:32] #24175 closed

[2019-04-22 23:39] AaronRobinsonMSFT commented on #23963
@TonyValenti I will reach out to you offline, but for the sake of the community I want to provide some minor insight here. The [`Marshall.GetActiveObject()`](https://docs.microsoft.com/dotnet/api/system.runtime.interopservices.marshal.getactiveobject) API is a convenience function for the [`GetActiveObject()`](https://docs.microsoft.com/windows/desktop/api/oleauto/nf-oleauto-getactiveobject) Win32

[2019-04-23 00:37] tommcdon commented on #22845
Load balancing to @davmason who can comment on @ee898's question

[2019-04-23 00:51] noahfalk commented on #20917
The solution I proposed for EventCounters doesn't utilize per-session filtering for EventSource events - I think that makes this a nice-to-have improvement but it isn't essential in 3.0. Moving to Future.
cc @tommcdon @jorive @sywhang

[2019-04-23 00:53] mjsabby commented on #24155
I don't have a problem in adding offsets, it's just that the existing code just worked and was a good way to gauge if there are other issues or concerns the team has. Now I'll have to write a custom `go_through_object` handler, but that's not a lot of work.

[2019-04-23 01:10] VincentBu opened #24179 "[x86] Test failed: baseservices\threading\interlocked\exchange\exchangedouble\exchangedouble.cmd"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_no_tiered_compilation/262/

**Failed tests:**
baseservices\threading\interlocked\exchange\exchangedouble\exchangedouble.cmd

**Log:**
[code]

[2019-04-23 01:11] davidwrighton commented on #23408
One thing to be aware of is that checking for the presence of an attribute on a field is actually a very expensive operation to do during type loading. For instance, checking for the presence of the ThreadStaticAttribute takes about 0.2% of the startup time of applications, and an attribute that had some effect on all field types (not just statics) would have a larger impact. It might reach as hig

[2019-04-23 01:22] VincentBu opened #24180 "[arm64] Test failed: System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_Cancellation_Test.GetAsync_CancelDuringResponseBodyReceived_Buffered_TaskCanceledQuickly"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_corefx_minopts_tst/30/

**Failed tests:**
System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_Cancellation_Test.GetAsync_CancelDuringResponseBodyReceived_Buffered_TaskCanceledQuickly

**Log:**
[code]

[2019-04-23 01:24] AriNuer opened #24181 "[arm/windows]Test failure: JIT\superpmi\superpmicollect\superpmicollect.cmd"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_jitstress2_jitstressregs4_tst/69/

**Failed test:**
JIT_superpmi._superpmicollect_superpmicollect_.JIT\\superpmi\\superpmicollect\\superpmicollect.cmd

**Failed with log:**
[code]

[2019-04-23 02:54] richlander commented on #22844
We have a solution in mind for this problem that we're still working on. Will share shortly.

[2019-04-23 04:26] BruceForstall opened #24183 "runtest.py crash parsing failures"
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_jitx86hwintrinsicnoavx2/431/consoleFull

Test run had one failure:
[code]

Python stack:
[code]

[2019-04-23 04:26] BruceForstall commented on #24183
cc @jashook

[2019-04-23 04:28] BruceForstall commented on #23442
Failed again. Still Windows x86.

https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_jitx86hwintrinsicnoavx2/431/consoleFull

@sergiy-k Can you please triage?

[2019-04-23 04:32] BruceForstall commented on #24181
SuperPMI error:
[code]

We should look at the other Windows/arm32 runs to see if it repros.

cc @sandreenko

[2019-04-23 04:33] BruceForstall commented on #24180
@wfurt

[2019-04-23 04:53] BruceForstall commented on #24173
Also failed on Linux/x64, GCStress=C, HeapVerify=1, JitMinOpts=1

https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_ubuntu_gcstress0xc_minopts_heapverify1_flow/129/

[2019-04-23 04:57] BruceForstall commented on #23199
I see it in GCStress=C with JitStress=1 and JitStress=2, although the last baseline (no JitStress setting) CI run passed.

https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_ubuntu_gcstress0xc_jitstress1_tst/116/consoleFull
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_ubuntu_gcstress0xc_jitstress2_flow/128/

[2019-04-23 05:01] BruceForstall commented on #24173
Also Windows/x64, GCStress=C, JitStress=1

https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_gcstress0xc_jitstress1/132/

[2019-04-23 05:05] kouvel commented on #23199
Just a wild guess, may be related to https://github.com/dotnet/coreclr/issues/17646, which has been in my backlog, hopefully can get to it in 3.0 timeframe. Other than that though this test shouldn't be affected by GCStress unless I missed something. Will take a look once I have some time.

[2019-04-23 05:06] BruceForstall opened #24184 "CoreFX test failure: System.Net.Http.Functional.Tests.SocketsHttpHandlerTest_Cookies.GetAsync_AddMultipleCookieHeaders_CookiesSent"
Looks like a timeout

https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_corefx_baseline/840/consoleFull

[code]

[2019-04-23 05:06] BruceForstall commented on #24184
@wfurt

[2019-04-23 05:38] BruceForstall commented on #22442
Nobody in corefx has investigated this failure, so we are still getting timeouts. It affects both Windows x86 and Windows x64:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_corefx_baseline/
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_corefx_baseline/

Unfortunately, this is leading us to mi

[2019-04-23 05:47] BruceForstall commented on #22442
@danmosemsft @ericstj @karelz A question:

In the coreclr CI, for the "outerloop" (non-Pri0/innerloop) runs, we currently run the corefx tests all on a single machine by constructing a "build.cmd -test" command line, e.g.:
[code]

I notice that now the generated corefx `RunTests.cmd` scripts take a `--rsp-file` option that takes a file path to pass to xunit as `@<filename>` (as a "response file").

[2019-04-23 05:47] BruceForstall commented on #22442
cc @sandreenko

[2019-04-23 05:57] BruceForstall opened #24185 "Assertion failed 'result == lateArgs->gtOp.gtOp1'"
Happens in CI:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_corefx_jitstress1/785/consoleText

Doesn't require JitStress. I repro'ed locally (after setup using `run-corefx-tests.py`):
[code]

[2019-04-23 05:58] BruceForstall commented on #24185
Maybe related to https://github.com/dotnet/coreclr/pull/23858?

@sandreenko
cc @dotnet/jit-contrib

[2019-04-23 06:01] BruceForstall commented on #24179
It appears to have passed in the subsequent run:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_no_tiered_compilation/263/

@sergiy-k Do you want someone to look into this as a possible robustness issue?
cc @RussKeldorph

[2019-04-23 06:04] BruceForstall commented on #24183
cc @RussKeldorph @dotnet/jit-contrib

[2019-04-23 08:17] sandreenko commented on #23199
@kouvel It is not related to rejitting as far as I saw; please unassign me of you want to work on this.

repro steps for you:
[code]

run it few times until you see:

[code]

The first managed method on the stack is `System.Diagnostics.ProcessStartInfo:get_Environment():ref:this` so it looks like the method where we have a gc hole (the source is CoreFX\src\System.Diagnostics.Process\src\System\Dia

[2019-04-23 09:23] MichalStrehovsky opened #24187 "DetermineLibNameVariations in System.Runtime.Loader doesn't match native"
The managed implementation doesn't match native implementation.

https://github.com/dotnet/coreclr/pull/24143#discussion_r277138341

Cc @jkoritzinsky

[2019-04-23 12:39] noahfalk commented on #23780
I'm removing the documentation tag. Although that is a part of it, the primary effort here should be around API review (amongst our team, not official BCL review) and deciding what we want to support for customers. This is a higher bar than we'd hold for internal APIs because we want to maintain compat across versions and make sure we are using best practices for naming and design. Its likely ther

[2019-04-23 12:41] noahfalk commented on #23780
@tommcdon - if you care, this issue could be migrated to diagnostics repo - there is no runtime work tracked here because the library is out of band.

[2019-04-23 13:12] noahfalk opened #24188 "EventPipe Streaming support for greater than 4GB streams"
The Netperf file format appears to have size limitations because it uses 32 bit values to refer to other positions in the stream. It doesn't look hard to generate 1-10 MB/sec of trace data which means a stream could hit the limit in under 10 minutes of operation. Alternately a long running dotnet-counters scenario might log at 10 KB/sec which will hit the stream limit in about 5 days of service up

[2019-04-23 15:05] YohDeadfall opened #24189 "Getting underlying value of nullable without code duplication in generics"
As I know, there is no way to write an universal generic method which can accept reference types and value types, and get underlying values of the last ones. It can be workaround by delegates and a null check.

Another way I'm playing with for JSON serialization is:

[code]

The method behaves like `Nullable<T>.GetValueOrDefault()`, but it allocates and works slower. It's expected, however I see n

[2019-04-23 15:31] ViktorHofer commented on #22442
Sure and I wouldn't even call it a hack as sourcelink is now also using this new mechanism to disable tests. When you build your tests (`-buildtests`) you can add this property `/p:TestRspFile=<path-to-file>` which will be passed down to the test execution script: https://github.com/dotnet/arcade/blob/5c40ffc8d160681c1ff39f69ec8fd893795bd520/src/Microsoft.DotNet.CoreFxTesting/build/core/Core.targe

[2019-04-23 16:01] jkotas commented on #24189
JIT optimizations. The JIT tries to evaluate casts when compiling instantiation-specific code. If the cast always succeeds or always fails for the given instantiation, it will optimize it out.

[2019-04-23 16:44] kouvel commented on #23199
@sandreenko sorry I didn't mean to steal the bug off of you, I was just tagging myself on it to track it. I'm not familiar with these paths and it looks like you've made a lot of progress. I'll unassign myself for now if you would like to continue. Thanks for digging into this!

[2019-04-23 17:29] wfurt commented on #24184
I look at the log and it seems like there are other long-running and aborted tests. I'm not sure if that is caused by checked build or if that is some kind of environmental issue. Nothing obvious pops for this particular test.

[2019-04-23 17:32] wfurt commented on #24184
https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190423.5

seems like most tests are bombing out as well for Windows/ARM64. So this is either regression or environmental problem as the runs are normally stable.

[2019-04-23 17:36] CarolEidt commented on #19299
I see no true failures for this configuration in the last 3 weeks, so I'm inclined to believe that it was resolved by #23629

[2019-04-23 17:36] #19299 closed

[2019-04-23 18:21] josalem commented on #18225
After some research, changing this in a fully supportable manner (not just a workaround) would involve non-trivial changes to the serialization format used.  This could introduce instability in both the source and reader that is unwanted going into the 3.0 release.  I'm going to move this to future for now.  @brianrob, you're most likely much more familiar with these code paths, if you think this

[2019-04-23 18:43] YohDeadfall commented on #24189
Sure, but why does near the same output give so different results? (: Take a look at the table, it says that there must be some allocations. I don't see them in the assembly. In the case of the `_Const` methods the generated instructions are equivalent, but the unified method takes more time to execute and allocates.

[2019-04-23 18:58] BruceForstall commented on #22442
Thanks @ViktorHofer ! I'll try it.

FWIW, the problem seems to be two tests (based on the "[Long Running Test]" output:
[code]

[2019-04-23 19:00] BruceForstall commented on #22442
@ViktorHofer Do you know if the xunit response file format allows for an ignored "comment line" syntax? E.g., prefix with "#" to ignore the rest of the line?

[2019-04-23 19:09] ViktorHofer commented on #22442
Yes: https://github.com/dotnet/arcade/blob/0d3112d5fd33028bbee4326e1446b0e488a859f9/src/Microsoft.DotNet.XUnitConsoleRunner/src/CommandLine.cs#L121

[2019-04-23 19:18] #15647 closed

[2019-04-23 19:21] davmason commented on #22845
@ww898 can you elaborate on what issues this will cause if not implemented? Currently it is marked as a backlog item which means it's not guaranteed to make it for 3.0. Knowing what trouble this causes will help define the priority of getting it implemented.

[2019-04-23 19:25] saucecontrol commented on #24151
Are you familiar with the [Midori](https://en.wikipedia.org/wiki/Midori_(operating_system)) project?  If not, read [Joe Duffy's blog series](http://joeduffyblog.com/2015/11/03/blogging-about-midori/) on it.  Some of that research has already made its way back into the .NET ecosystem, so it's more than just a what-if.

[2019-04-23 20:14] #24140 closed

[2019-04-23 20:28] erozenfeld commented on #23903
Copying the example from https://github.com/dotnet/coreclr/pull/23850#issuecomment-482231386 here

[code]

[2019-04-23 20:37] jkoritzinsky commented on #23358
@RussKeldorph the Helix machines for some reason don't have the MSVC++ Redistributable installed any more. That component is required to load IJW assemblies. I'll go open an issue on dotnet/core-eng to get that component reinstalled.

[2019-04-23 20:58] jkotas commented on #24189
The JIT does not have the required optimizations for non-constant `Nullable<T>`.

[2019-04-23 21:00] BruceForstall commented on #24181
Looks like other non-baseline runs also fail with this, e.g.:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_jitstress1_tiered_flow/42/
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_jitstress1_flow/78/
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_

[2019-04-23 21:23] BruceForstall commented on #22442
fyi, I put up a PR (https://github.com/dotnet/coreclr/pull/24201) that (finally!) allows us to add exclusions when running the jobs that use the (expected to die relatively soon) `run-corefx-tests.py` mechanism. That should allow us to exclude this misbehaving `Microsoft.Win32.SystemEventsTests`, for example.

[2019-04-23 21:24] davidwrighton commented on #23694
Fyi, recent investigations about application startup performance have discovered that these attributes are contributing to slowdown on application startup. If we can remove most of these from the implementation assembly, there may be as much as a ~0.5% or so performance win for startup of some applications. I'm looking at whether or not we can mitigate this with some ready to run goodness and some

[2019-04-23 21:36] BruceForstall commented on #24025
Didn't fail in the latest:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_corefx_jitstressregs0x10_tst/31

[2019-04-23 21:36] #24025 closed

[2019-04-23 21:37] BruceForstall commented on #24026
Didn't fail in the latest:
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_corefx_jitstressregs3_tst/31

[2019-04-23 21:37] #24026 closed

[2019-04-23 22:28] CarolEidt commented on #18877
I've gone through the instruction manual, and have found nothing immediately actionable. The only questionable thing I found is `blendvps`, `blendvpd` and `pblendvb` which "sort of" have `IsDstDstSrc` semantics, but since the mask is implicit xmm0 for SSE vs. encoded immediate for AVX, they really can't use the same emitter method anyway.
I think that these methods should be limited to those instr

[2019-04-23 22:28] #18877 closed

[2019-04-23 23:33] CarolEidt commented on #14523
The `IsDstDstSrc` and `IsDstSrcSrc` methods are confusing and somewhat inaccurate. They are generally used to determine how to encode a 2-operand SSE instruction in a VEX encoding, but the associated flag is currently specified on a number of VEX-only instructions. It would be good to eliminate that weirdness (and perhaps, as @fiigii suggests, eliminate these methods altogether). However, AFAICT t

[2019-04-23 23:44] CarolEidt commented on #22951
@tannergooding - is https://github.com/dotnet/corefx/issues/36925 the plan for addressing this? If so, should this be moved out from 3.0 to future (since it seems that proposal won't make it into 3.0)?

[2019-04-23 23:54] tannergooding commented on #22951
This was reduced to a 3-6ms regression after https://github.com/dotnet/corefx/issues/36931 was merged.

I think this can probably be closed for now.

[2019-04-23 23:54] #22951 closed

[2019-04-24 00:11] CarolEidt commented on #22951
Thanks @tannergooding

[2019-04-24 00:53] BruceForstall commented on #24159
If I set `COMPlus_JitMinOpts=1`, the test passes. That makes it likely some kind of codegen bug.

@dotnet/jit-contrib

[2019-04-24 00:56] BruceForstall commented on #24159
Test source lives:

https://github.com/dotnet/corefx/blob/9e2f3b630a51875fc0455a7cabb8803f6527f81e/src/System.Memory/tests/ArrayBufferWriter/ArrayBufferWriterTests.T.cs#L90-L98

[2019-04-24 01:01] ahsonkhan commented on #24159
If its reproducible, it might help to see the actual length/content mismatch (for example here: https://github.com/ahsonkhan/corefx/commit/4440b5cdcea7e33ac085eccae5ed303ca4d777e9), that is, if the underlying object/buffer is being modified at JIT time between the two property accesses (`WrittenMemory` vs `WrittenSpan`).

[2019-04-24 01:08] BruceForstall commented on #24159
Note that https://github.com/dotnet/coreclr/pull/24201 disabled these tests, and any fix here should re-enable them.

[2019-04-24 01:20] VincentBu opened #24207 "[x64] Throw exception when running run-corefx-tests.py"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_ubuntu_corefx_baseline/908/

**Log:**
[code]

[2019-04-24 01:50] VincentBu opened #24208 "Test failed: System.Threading.ThreadPools.Tests.ThreadPoolTests.SetMinMaxThreadsTest"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_corefx_baseline_tst/179/

**Failed tests:**
System.Threading.ThreadPools.Tests.ThreadPoolTests.SetMinMaxThreadsTest

**Log:**
[code]

[2019-04-24 01:55] davidfowl commented on #23640
cc @sebastienros @DamianEdwards

[2019-04-24 02:37] stephentoub commented on #24208
This is a moment-in-time discrepancy between coreclr and corefx.  We fixed a bug in coreclr, and until corefx ingests a new coreclr and updates the test to match, running a live coreclr against a live corefx will fail.

[2019-04-24 02:54] tommcdon commented on #23780
Moved to dotnet/diagnostics#191

[2019-04-24 02:54] #23780 closed

[2019-04-24 04:13] benaadams opened #24209 "Redundant length check when using Span<byte> => new byte[]"
[code]
Generates
[code]

[2019-04-24 05:01] #24187 closed

[2019-04-24 05:10] benaadams commented on #24209
Used in https://github.com/aspnet/AspNetCore/pull/9709 and `System/Number.Parsing.cs`
https://github.com/dotnet/coreclr/blob/9f285b762839d916683f08b06d450fd9969004fe/src/System.Private.CoreLib/shared/System/Number.Parsing.cs#L46-L55

[2019-04-24 05:27] sdmaclea opened #24211 "Satellite Lookup on case sensitive file systems..."
@tarekgh Made a request for searching for Satellite Assemblies using case insensitive path search.

Initial prototype of the case insensitive search illustrated the complexity of such an approach.

The prototype case insensitive search code was removed and this issue was opened for the design discussion.

@jkotas made the alternative suggestion that we control the build tooling.  We could simply `

[2019-04-24 05:39] AriNuer opened #24212 "Test failure: PayloadGroup0/Regressions_common._date_date_/_date_date_cmd"
The test **Regressions_common._date_date_/_date_date_cmd**  has failed.

Failure Message:
[code]
Stack Trace:
[code]

Details:
https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190423.74/workItem/PayloadGroup0/analysis/xunit/Regressions_common._date_date_~2F_date_date_cmd

[2019-04-24 06:18] YohDeadfall commented on #24189
I still doesn't understand you. Let me explain my concerns.

For simplicity, let's take a look at the const methods only:

[code]

The first one, the `GetValueOrDefault_Nullable_Const` method doesn't allocate and takes 4.472 ns to execute. The second one, the `GetValueOrDefault_Unified_Const` allocates 48 bytes and takes 96.553 ns to execute. But they have the same assembly output:

**GetValueOrDe

[2019-04-24 07:05] jkotas commented on #24189
The codegens are not identical. They call into different methods: `GetValueOrDefault_Nullable` vs `GetValueOrDefault_Unified`. Have you checked the disassembly of these two methods?

[2019-04-24 07:12] gfoidl commented on #24209
The check is the same, but it jumps to `CORINFO_HELP_RNGCHKFAIL`, so the bounds check isn't eliminated. This may be the root-cause for this (emitting this check).

[2019-04-24 07:41] mikedn commented on #24209
Spans are kind of problematic in this regard, their length field becomes a normal local variable. Range check elimination tends to rely on recognizing the `Length` field of arrays which has special representation in the IR.

[2019-04-24 07:51] YohDeadfall commented on #24189
I posted everything what BenchmarkDotNet gave me. Haven't tried the `COMPlus_JitDump` flag yet.

[2019-04-24 09:16] mattwarren commented on #24151
Also related [COSMOS](https://www.gocosmos.org/#) ('C# Open Source Managed Operating System') also see it's [GitHub repo](https://github.com/CosmosOS/Cosmos), [SharpOS](https://en.wikipedia.org/wiki/SharpOS) and [Singularity](https://en.wikipedia.org/wiki/Singularity_(operating_system))

[2019-04-24 11:23] #24134 closed

[2019-04-24 14:49] ericwj commented on #22722
Perhaps my interest is very specialized, but might it be possible to opt into handling AV's and maybe SEH's for a particular memory region? I understand why this behavior is being made but I regret how completely it appears the goal is to try to erradicate any access at all.

I am not interested in diagnostics or crash dumps and I would hope not to have to set that environment variable and launch

[2019-04-24 15:08] BaronKiko commented on #22722
The flag just allows you to catch the exceptions with a try catch so you can check the mem address then and handle it however you want. I'm pretty sure it gives you the address in the exception but worst case you can get it from the exception string.
Maybe I'm missing the point of your question.

[2019-04-24 15:20] thewilsonator opened #24216 "Headers for releases / Hosting calling member functions"
The coreCLR host interface enables calling non-overloaded static methods with `ICLRRuntimeHost2::CreateDelegate`/`coreclr_create_delegate`, however there does not appear to be a way to call constructors, getters, setters and non-static methods, except calling  Methods of `MemberLoader` which (appear to) need to be wrapped in
[code]
As these are macros there is no way to externally implement other

[2019-04-24 15:26] GSPP commented on #23223
I think it makes sense for this code to leak memory under the following view: CWT is meant to act as if it attached additional fields to existing objects. So `key` behaves as if it had additional fields. `key` is alive and it's "field" references the value and the table. So those are kept alive as well.

[2019-04-24 15:26] thewilsonator commented on #24216
There is also the issue of extracting the set of macros defined in the release configuration.

[2019-04-24 15:31] mjsabby opened #24217 "Profiler API: Add COR_PRF_MONITOR_LARGEOBJECT_ALLOCATED to complement COR_PRF_MONITOR_OBJECT_ALLOCATED"
When `COR_PRF_MONITOR_OBJECT_ALLOCATED` is enabled, every object allocation is notified to the Profiler API. This can be very expensive in production monitoring.

Adding a `COR_PRF_MONITOR_LARGEOBJECT_ALLOCATED` can enable this only for LOH allocations, which are considerably less in most applications. This can then be enabled in production to track LOH allocations efficiently (when profiler monit

[2019-04-24 15:48] mjsabby commented on #24217
cc @Maoni0 @davmason @noahfalk

[2019-04-24 16:34] tarekgh commented on #24211
This is reasonable but I would still think in addition to lower cased name we support the official culture name casing too (e..g. CultureInfo.Name, for example en-US) for app compat reasons and also the scenarios people manually create/copy resources.
Our probe will be the exact case then fallback to lower casing. if we do that, we can even not need to do anything in the tools if we decide to and

[2019-04-24 17:02] BruceForstall commented on #24159
My guess here is that this test only passes in corefx testing because TieredCompilation is enabled, but has always failed when it is disabled, as it is for corefx-in-coreclr-CI testing.

[2019-04-24 17:20] ericwj commented on #22722
Setting the flag defeats all these pulls that change the behavior so that `AccessViolationException` is not caught by accident by people that meant to catch application errors such as overflow or file not found just because they didn't write out the exception type(s) in the handler filters for example.

And it is just not suitable to have to force the flag on short of writing a custom CLR host, pl

[2019-04-24 17:22] #24207 closed

[2019-04-24 17:45] CarolEidt commented on #17815
This issue is no longer as relevant; the X86 intrinsics are fully exploded rather than being defined over T, and are defined as a class hierarchy (#19186), so I don't believe that it's possible to hit the assert, which is now here: https://github.com/dotnet/coreclr/blob/master/src/jit/hwintrinsicxarch.cpp#L849.
However, in the event that subsequent intrinsics are defined over `VectorX<T>` but don'

[2019-04-24 17:50] jkoritzinsky opened #24220 "Improve error messages when failing to load IJW assemblies"
If we fail to load an IJW assembly as a managed entry-point, we always throw a `BadImageFormatException`, even if the error has to do with something else such as a missing native dependency. Because of where the throw is in the assembly loading code, we catch and re-throw the HRESULT a few times, but we don't pass along any exception message. If we take a look at improving our assembly loading err

[2019-04-24 18:00] janvorli commented on #24216
If you want to create objects and call non-static methods, you can create static wrappers on the managed side and call those instead. You'd not want to use / store object references (unless they are pinned) on the native side anyways.

[2019-04-24 18:05] tannergooding commented on #17815
No, and based on the previous API review meeting; we will be exploding all future intrinsics in order to make it explicit what is and is not supported (such as when `Half` support comes online, or when we add other types in the future).

[2019-04-24 18:16] BruceForstall commented on #24208
fwiw, fails on other platforms, too: https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_corefx_minopts/789/#showFailuresLink

[2019-04-24 18:17] stephentoub commented on #24208
Yes, it's not specific to any specific platform.  Argument validation behavior changed.

This should also now be fixed as of https://github.com/dotnet/corefx/pull/37141.

[2019-04-24 18:17] #24208 closed

[2019-04-24 18:39] BruceForstall commented on #22414
Related: https://github.com/dotnet/coreclr/issues/23242

[2019-04-24 19:02] fiigii commented on #17815
No. Currently, only platform-agnostic intrinsics could be generic, and they are not table-driven in importer/codegen.

[2019-04-24 19:26] bording opened #24223 "DllNotFoundException error message doesn't account for musl libc"
Currently, when there is a problem loading a dll on linux, you get a `System.DllNotFoundException` with the following text:

[code]

`LD_DEBUG` is something implemented in the glibc dynamic loader. If you're on a distro like Alpine, then you're using the musl libc dynamic loader, and it doesn't implement support for `LD_DEBUG`.

The error message is misleading in that case because setting `LD_DEBU

[2019-04-24 19:35] BruceForstall opened #24224 "[arm64] Test failed: JIT/Performance/CodeQuality/BenchmarksGame/mandelbrot/mandelbrot-7/mandelbrot-7.sh"
In R2R GCStress=F run:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_r2r_gcstress15_tst/29/consoleFull

Failure has been consistent over several runs, and I can repro it locally.

Possibly related: https://github.com/dotnet/coreclr/issues/23804

[code]

[2019-04-24 19:37] BruceForstall commented on #23804
@CarolEidt This test is still failing on Linux/arm64 for R2R GCStress=F runs. I opened https://github.com/dotnet/coreclr/issues/24224 to track, in case it's a different issue.

[2019-04-24 20:08] BruceForstall opened #24228 "Test failure: GC/Features/HeapExpansion/plug/plug.sh"
https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_ubuntu_standalone_gc_tst/455/consoleFull

https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/x64_checked_osx10.12_standalone_gc_flow/545/

https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/x64_release_ubuntu_standalone_gc_flow/541/

[code]

[2019-04-24 21:15] CarolEidt commented on #24224
@BruceForstall - This doesn't repro if I simply set "RunCrossGen" before running the test script. How did you repro this locally? Did you do the entire test run with the crossgen option?

[2019-04-24 21:26] BruceForstall commented on #24224
I had to crossgen the framework first. So I ran:
[code]

then cancelled it when it started running tests, then set `RunCrossGen=1`, plus `GCStress=F` and `TieredCompilation=0`, then ran the individual test.

[2019-04-24 22:21] GrabYourPitchforks commented on #23132
Since this would be such a massive ecosystem breaking change, one other thing you'd probably have to do is analyze the entire graph of all dependencies your application consumes. If the change were made to `T[]` directly (rather than `LargeArray<T>` or similar), assemblies would need to mark themselves with something indicating "I support this concept!", and the loader would probably want to block

[2019-04-24 22:38] briansull commented on #24093
PR #24229 addresses this issue

[2019-04-24 23:02] mjsabby opened #24231 "Profiler API: Add a new API to determine if object is in RO segment"
Adding a new API that given an ObjectID determines if the object is in an RO Segment or not.

I'm not sure if we should call it `IsObjectInReadOnlySegment(ObjectID)` or `IsFrozenObject(ObjectID)`.

[2019-04-24 23:02] mjsabby commented on #24231
cc @Maoni0 @davmason @noahfalk

[2019-04-24 23:45] sandreenko commented on #24185
For such tree:
[code]

`optAssertionProp_Call` can replace [000535] with [000531], it will be done with `optAssertionProp_Update` that calls `gtFindLink`
and updates pointer in [000536] that points to [000535] to [000531].

So after that we will have such tree:
[code]

but `optAssertionProp_Update` doesn't update `call 000536->fgArgInfo` and it will continue reference [000535] until we finish with

[2019-04-24 23:48] tommcdon commented on #20482
Moving to future, please feel free to comment if this should be prioritized higher

[2019-04-25 00:01] noahfalk commented on #24217
Mukul can you let us know what you get out of being able to only track LOH objects? If @Maoni0 made a change in the future which changed the threshold at which objects qualified as small or large such that object notifications you got in one release were not being delivered in the next release how would your profiler deal with that uncertainty?

[2019-04-25 00:02] sergiy-k commented on #23442
There is a race in the test because it uses Thread.Sleep() to try synchronize actions between threads.

[2019-04-25 00:06] mjsabby commented on #24217
As long as a concept like Large Objects stay in the runtime it'll be a useful concept. If it changes from 85K to 10K, it'll be just as valuable if the same heuristics apply in how LOH impacts the heap (i.e. its performance). Today LOH objects are special in that a lot of LOH allocations impact the performance of an application more adversely than smaller SOH (of course, big caveat .. but on an ave

[2019-04-25 00:06] CarolEidt commented on #24224
Thanks, I am now able to repro this.

[2019-04-25 00:23] noahfalk commented on #18225
@josalem - can you elaborate on your investigation results such as what options you looked at and what changes/risks those options cause? Since we've only marked this Future rather than closing it suggests that someone is going to be re-opening this investigation and it would be a shame if they had to start over from the beginning.

[2019-04-25 00:31] noahfalk commented on #24231
Can you include what the use-case is please?

[2019-04-25 00:38] mjsabby commented on #24231
The ability to determine an RO segment range for reporting and diagnostic purposes. Today there is no way to determine if an object is an RO segment. It's like the other similar kinds of APIs like GetGenerationBounds, so you know where an object is.

The canonical example would to be for profilers to ignore objects in RO segments as long-lived permanent things and not report on them in user facing

[2019-04-25 00:40] noahfalk commented on #24217
No objections from me as long as @davmason and @Maoni0 are on-board.

[2019-04-25 01:20] VincentBu opened #24234 "[x64] Test failed: System.Tests.GCTests.GetGCMemoryInfo"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_ubuntu_corefx_jitstress1/926/

**Failed tests:**
System.Tests.GCTests.GetGCMemoryInfo

**Log:**
[code]

[2019-04-25 01:34] AriNuer opened #24236 "[arm/linux]Test "System.Xml.RW.XmlConvert.Tests" failed with Exit code 124"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_ubuntu_corefx_tieredcompilation_tst/46/

**Failed test:**
System.Xml.RW.XmlConvert.Tests

**Failed log:**
[code]

[2019-04-25 01:40] VincentBu opened #24237 "[arm64] Test failed: System.IO.Pipelines.Tests.PipeWriterTests.CompleteWithLargeWriteThrows"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_corefx_jitstressregs0x1000_tst/177/

**Failed tests:**
System.IO.Pipelines.Tests.PipeWriterTests.CompleteWithLargeWriteThrows

**Log:**
[code]

[2019-04-25 01:43] VincentBu opened #24238 "[arm64] Assertion failure: !m_bPreSaveDone && "Cannot add records after PreSave and before Save.""
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_corefx_jitstressregs1_tst/174/

**Log:**
[code]

[2019-04-25 02:52] noahfalk commented on #24231
Thanks Mukul, it seems like a fine proposal to me.

[2019-04-25 04:07] brianrob commented on #18225
@josalem, I suspect you are right that this is not going to be trivial.  It stems from the fact that I was trying to unify the way we serialize strings between TraceLogging ETW and EventPipe so that I could add support for TraceLogging in EventPipe without having to support two deserialization schemes within TraceEvent. TraceLogging ETW previously used counted strings and had support for arrays of

[2019-04-25 04:38] #23949 closed

[2019-04-25 06:03] mikedn commented on #24185
Sadly the (lack of) updates to `fgArgInfo` have caught people of guard before, it's a ugly area of the IR where a "use" of a node is present in multiple places and needs to be replaced everywhere. There's `GenTreeCall::ReplaceCallOperand` (and `GenTree::ReplaceOperand`) which supposedly do this but I don't know how well it works in this case, last time I checked the main use of these was in LIR, n

[2019-04-25 07:15] cshung opened #24240 "Code Review feedback for pull request #24230"
#24230

- [x] Functor
- [x] SList
- [x] Leak

[2019-04-25 07:19] YohDeadfall commented on #24189
You`re right. Look's like BenchmarkDotNet doesn't support disassembly of generics.

**GetValueOrDefault_Nullable_Const**

[code]

**GetValueOrDefault_Unified_Const**

[code]

Okay, I see two ways to get the underlying value of a nullable:

* use `Unsafe<TFrom, TTo>`, but then I need to have a copy of `Nullable<T>` without a type constraint on `T`;
* write a generic method with the `struct` constra

[2019-04-25 07:20] newpost opened #24241 "where is class string in?"
Click "string" go to defination show:
class String is defined in
"dotnet\sdk\NuGetFallbackFolder\microsoft.netcore.app\2.2.0\ref\netcoreapp2.2\ **System.Runtime.dll** ".
But,i see source code string is defined in "**System.Private.CoreLib.dll**".
Why?

[2019-04-25 07:28] #24241 closed

[2019-04-25 10:41] TonyValenti opened #24243 "Allow default values in many "Out-Var" scenarios"
Hi CoreCLR team,
This is related to this C# feature request:
https://github.com/dotnet/csharplang/issues/1033#issuecomment-486524391

Currently, today I can write code like this:
[code]

However, this is clunky as I have to have an additional leg on my IF statement and it obfusicates that my intent is "I want -1 to be the default value for Number".

Instead, I would like to be able to write code l

[2019-04-25 11:21] svick commented on #24243
I don't understand, what exactly is the CLR change that you're proposing? If you're suggesting that the signature and implementation of methods like `int.TryParse` should be changed, then:

1. Any proposals to change the API should be made in the corefx repo, following [the API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) (even thou

[2019-04-25 11:35] mikedn commented on #24243
This doesn't make sense. An `out` parameter is actually a `ref` parameter so the callee can assign any value to that variable, overwriting the default value you provide. And since it is `out` the callee is actually required to assign a value so it's not like you can change `int.TryParse` to prevent it from doing that.

The only this can be done is if the C# compiler rewrites the code such that a t

[2019-04-25 13:26] RickStrahl opened #24246 "Status of Dynamic against COM objects not working?"
I'm working on porting one of my applications (Markdown Monster) to .NET Core 3.0 and it's going good except for my COM interop functionality that uses `dynamic` to access various COM components inside of the Web Browser control.

Using raw Reflection instead of dynamic works, but it would be a lot of code in my case that has to be converted to make the Interop with with the more clumsy syntax and

[2019-04-25 13:32] RussKeldorph opened #24247 "Official build fails restoring IBCMerge package"
Restoring packages for F:\workspace\_work\1\s\src\.nuget\optdata\ibcmerge.csproj...
F:\workspace\_work\1\s\src\.nuget\optdata\ibcmerge.csproj : error NU1101: Unable to find package microsoft.dotnet.ibcmerge. No packages exist with this id in source(s): dotnet-core, dotnet-coreclr, myget.org dotnet-core, nuget.org

I suspect this is related to #24205

[2019-04-25 13:32] RussKeldorph commented on #24247
@jkoritzinsky @brianrob

[2019-04-25 13:48] #24086 closed

[2019-04-25 13:54] jkotas commented on #24243
Nothing actionable for CoreCLR in this issue.

[2019-04-25 13:54] #24243 closed

[2019-04-25 14:17] #23941 closed

[2019-04-25 15:12] enricosada opened #24249 "Tail calls not respected on MacOs"
There is a behaviour difference for tail calls between Unix/Win and MacOs, on MacOs are not respected (or the max stack deep is higher on win/unix?)

Sorry, maybe is duplicated or not implemented, but i didnt find an issue/note about that.
Also i dont know how to diagnose it better, so any feedback/link is really appreciated, and i'll try to minimize the repro further.

A repro is in https://githu

[2019-04-25 15:12] enricosada commented on #24249
Q: how to show the stack trace on .NET Core on Mac OS?

[2019-04-25 15:30] jkotas commented on #24249
This is duplicate of #2556.

Run under debugger. More discussion is in https://github.com/dotnet/coreclr/issues/14720

The failed tail calls can be observed via JIT events: https://docs.microsoft.com/en-us/dotnet/framework/performance/jit-tracing-etw-events . This document talks about ETW events and Windows, but it should be possible to do the same using eventpipe on Linux/macOS. Or the process ca

[2019-04-25 15:37] enricosada commented on #24249
Thanks @jkotas i missed that (dunno how, i searched issues)

I'll close and try to check your suggestions to investigate further

[2019-04-25 15:37] #24249 closed

[2019-04-25 16:02] janvorli commented on #24249
@enricosada you can set the `COMPlus_DefaultStackSize` env var to override default stack size for secondary threads. The value you set the variable to is a hexadecimal value without any prefix or suffix. So e.g.  `COMPlus_DefaultStackSize=180000` sets the default stack size to 1.5MB. This value was enough for your test to pass.

[2019-04-25 16:05] RussKeldorph commented on #24238
More context around message above.  @marklio Could you help triage this?

[code]

[2019-04-25 16:33] BruceForstall commented on #24185
Assuming this is a regression due to https://github.com/dotnet/coreclr/pull/23858, that PR indicates it was a cleanup.

Did it fix any bugs?

If not, it might be appropriate to revert it to fix this regression.

[2019-04-25 16:38] AaronRobinsonMSFT commented on #24246
@RickStrahl Given the current priorities and the possible workarounds this isn't support we are planning on adding in 3.0. However, this is something we will consider in a future release.

[2019-04-25 16:42] tommcdon commented on #24132
@mjsabby are you interested in doing this work for 3.0?
cc @noahfalk @davmason

[2019-04-25 16:51] marklio commented on #24238
Do we get dumps out of this system? I'm guessing not, but didn't want to assume.

[2019-04-25 17:11] sandreenko commented on #24185
It was a cleanup. There was a bug with non-unique tree id during this optimization but we have not had an issue for that.

I will revert the changed part in `gtGetThisArg(GenTreeCall* call)` and it will fix the regression. I have a repro case now and I need a bit more time to understand why it doesn't repro on x64 before I push the fix.

[2019-04-25 17:15] RussKeldorph commented on #24212
Year is parsed as 2035 instead of 1935.  Happens intermittently, but always on machine DDARM64-035.  @MattGal, this machine is mentioned by @danmosemsft in dotnet/core-eng#6040, but it's not clear it is one of the ones being re-imaged.

Jobs
| where Source contains("dotnet/coreclr")
| where Source contains("official")
| join kind=inner TestResults on JobId
| where Method contains ("_date_")
| wher

[2019-04-25 17:17] MattGal commented on #24212
Wow, I have no idea what could cause that specific behavior but it's definitely one of the 6 machines that got reimaged recently; @ilyas1974 FYI.  I'll take a quick look at the machine to see if I see anything interesting.

[2019-04-25 17:36] tarekgh commented on #24212
The date parsing depends on something called (2 digits year max value)[https://docs.microsoft.com/en-us/dotnet/api/system.globalization.calendar.twodigityearmax?view=netframework-4.8]. This value picked up from the OS. I think recently Windows changed this value which make 35 be parsed to 2035 instead of 1935. The test/apps should be fixed according to that.

[2019-04-25 17:37] RussKeldorph commented on #24238
@marklio Waiting for dotnet/core-eng#4760.

[2019-04-25 17:39] MattGal commented on #24212
Thanks! I couldn't find anything interesting about the machine but the reason it's different is what you'd expect; it's running a newer version of Windows.

[2019-04-25 17:40] mjsabby commented on #24132
@tommcdon yeah, I already did so I’ll close this.

[2019-04-25 17:46] marklio commented on #24238
it doesn't look like we have stacks either. Is that a limitation on Linux?

[2019-04-25 17:56] tarekgh commented on #24212
I am wondering why we have such tests at all in coreclr. We already have many tests for the date parsing in corefx and I believe corefx tests already part of the CI.

[2019-04-25 18:01] tommcdon commented on #24132
@mjsabby thanks!

[2019-04-25 18:15] RussKeldorph commented on #24212
@tarekgh Thanks.  So you recommend we delete this test in favor of corefx testing?

[2019-04-25 18:17] josalem commented on #18225
@noahfalk, as @brianrob points out, it looks to me like the majority of this work is going to be nailing down a stable encoding for arrays of "primitive" types (primitive in regards to what is already serializable by ETW/EventPipe).  That, in and of itself, shouldn't be too difficult (famous last words and all that), but will require updates to the serializers for ETW _and_ EventPipe, as well as u

[2019-04-25 18:36] sandreenko commented on #24185
An update about x64. For such tree:
[code]
when `HELPER.CORINFO_HELP_CHKCASTCLASS` is known to be true we also propagate `LCL_VAR` and get:
[code]

with incorrect links in `fgArgInfo` for `000088`.

Then we call `optNonNullAssertionProp_Call` for `000088` (as we do on x86) and it calls `gtGetThisArg` that accesses incorrect `fgArgInfo` (returns deleted `000087` instead of `000083`).

Then we skip

[2019-04-25 18:38] sergiy-k commented on #24179
I think that this is a test issue caused a by torn read of a 64bit value from memory (on a 32bit platform).

[2019-04-25 18:39] sergiy-k commented on #24179
/cc: @kouvel

[2019-04-25 18:47] sandreenko commented on #24185
Yes, for such expr:
[code]
x86 can get rid of the second null check in `(AggregateException)e).InnerExceptions[0] is AggregateException)` and x64 cannot.

[2019-04-25 19:04] tarekgh commented on #24212
@RussKeldorph yes, we already have a coverage in corefx. I am seeing this test exist in 2 places too:

https://github.com/dotnet/coreclr/blob/4eb3f3184c2c8c2c47b054dca984354f659d013f/tests/src/Regressions/common/date.cs
https://github.com/dotnet/coreclr/blob/4eb3f3184c2c8c2c47b054dca984354f659d013f/tests/src/Regressions/coreclr/0069/date.cs

[2019-04-25 19:12] erozenfeld opened #24253 "Register allocator assert: "Expected empty defList at end of block""
This test below causes an assert on x64 Windows (and likely elsewhere).
The assert is

[code]

[code]

This test is extracted from DevDiv853438.

[2019-04-25 19:14] AaronRobinsonMSFT commented on #15059
@jaredpar I think this should be a straight forward problem to solve. On Windows we are linking against `coreclr`, but not on Unix so I assume if we play with the linker flags a bit we could get this to just work.

[code]

[2019-04-25 19:18] AaronRobinsonMSFT commented on #15059
Oh.. nevermind. CoreCLR dynamically loaded instead. Boo...

[2019-04-25 19:25] davmason commented on #24217
I have no objections either. Is there anything else we want to add about large objects as part of this work? Maybe querying for the LOH threshold (it already can be changed with COMPLUS_GCLOHThreshold)

I am not necessarily pushing for any more, just trying to think the scenario through.

[2019-04-25 20:19] RussKeldorph commented on #24212
@tarekgh Good catch.  Thanks!  #24255

[2019-04-25 20:20] sergiy-k commented on #22342
@BruceForstall, I assume this fails in the ReadyToRun config only, right? @fadimounir, could you please take a look?

[2019-04-25 20:22] sergiy-k commented on #24179
This is the problematic line https://github.com/dotnet/coreclr/blob/b5bb75ec39a501bde4089ba754bb717e1d52fe0d/tests/src/baseservices/threading/interlocked/exchange/exchangedouble.cs#L80 reads 0

[2019-04-25 20:40] davmason commented on #23305
It looks like there is nothing actionable for this issue, closing as part of cleanup for 3.0 triage. Please reopen if I missed something.

[2019-04-25 20:40] #23305 closed

[2019-04-25 20:53] CarolEidt commented on #24185
I think that's a dangerous path to go down. It would be great if we eliminated the need for the `fgArgInfo` to capture the tree node, though I suspect that's going to be quite a long lead-time task. I'm not sure why you wouldn't fix the argInfo, rather than working around this.

[2019-04-25 21:04] josalem commented on #20299
cc - @jorive

[2019-04-25 21:20] brianrob commented on #18225
Sure, @josalem.  Happy to chat.

[2019-04-25 21:27] sandreenko commented on #24185
I can fix only `fgArgTabEntry->node` link, not other fields like `numRegs`, `needTmp`, `needPlace`. So I am not sure that it is safe to update only `node` (that we use in `gtGetThisArg`) and leave others outdated, for example morph can skip updating this `fgArgTabEntry` if it sees that `node` is correct (I do not know what it actually does, but I think we can assume worst).

[2019-04-25 21:51] CarolEidt commented on #24185
I believe that the node is the only thing that can change. Theoretically, I suppose that `needTmp` or `needPlace` could change, but I don't think a legal transformation would cause those to be required when they were not initially. They are added to deal with side-effects and nested calls; if we added those post-morph I think we'd have more problems than updating the arg table. Most of the fields

[2019-04-25 21:55] sandreenko commented on #24185
@CarolEidt thank you! I will try to fix `argInfo` then, especially because x64/arm do not have `call->regArgList` field that was used in this additional search for x86.

[2019-04-25 21:58] jorive commented on #20299
I believe there are two tests for the file drop feature, and we have two options here:
1. Delete old tests, and open an issue to add new tests for the IPC feature.
2. Update current tests to test the IPC feature for the missing coverage.

[2019-04-25 22:09] josalem commented on #20299
Do we have a mechanism for testing the IPC functionality independent of `dotnet-trace`?  It may behoove us to write a testing harness for IPC.  We could cannibalize `dotnet-trace` for the logic to do the communication and then just write tests in the form of:
[code]
or whatever they end up looking like.

[2019-04-25 22:18] jorive commented on #20299
Once we publish the library used by `dotnet-trace`, then we can write the tests.

[2019-04-25 22:26] Maoni0 commented on #24217
I have no objection.

in 3.0 the LOH threshold is not fixed, it's obtained by `g_pConfig->GetGCLOHThreshold()`.

[2019-04-25 22:29] mjsabby commented on #24217
Good point. I will incorporate that info.

[2019-04-25 23:00] RickStrahl commented on #24246
That's disappointing...

[2019-04-25 23:34] #24212 closed

[2019-04-25 23:43] sandreenko opened #24260 "Assertion failed '(type >= TYP_BYTE) && (type <= TYP_DOUBLE)"
Found this regression in a local pmi run:
[code]

In order to repro run corerun.exe on pmi.dll for System.Private.CoreLib.dll:
`F:\git\coreclr\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\corerun.exe C:\git\tools\jitutils\bin\pmi.dll prepone F:\git\coreclr\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\System.Private.CoreLib.dll 18850
`
After the fix please check that PrepAll works as well.

[2019-04-25 23:43] sandreenko commented on #24260
cc @dotnet/jit-contrib

[2019-04-25 23:44] AaronRobinsonMSFT commented on #24246
@RickStrahl Thanks for understanding.

Indeed. I can assure you this wasn't an easy decision. In the spirit of transparency let me elaborate on the calculus used to make this decision.

The above assumption is correct and in many cases that fact is enough to let us port code over. However, in the case of `dynamic` supporting COM the amount of code required to add was on the order of thousands of l

[2019-04-25 23:51] tannergooding commented on #24260
This comes down to the assert here: https://github.com/dotnet/coreclr/blob/master/src/jit/hwintrinsicxarch.h#L181 Probably need a check that returns `INS_invalid` if the type isn't within the allowed range...

I'm not sure what change has caused this to start showing however, as I don't think anything has changed with regards to type checking before this line is hit... CC. @CarolEidt, anything com

[2019-04-25 23:56] noahfalk commented on #24231
@mjsabby - I'm going to re-open this issue until docs are in place.

[2019-04-25 23:57] noahfalk commented on #24155
I'm re-opening this issue until docs are in place (I think GitHub auto-closes when you merge the PR)

[2019-04-25 23:59] noahfalk commented on #24132
I'm re-opening this issue until docs are in place.

[2019-04-26 00:40] tommcdon commented on #20166
@janvorli ping

[2019-04-26 01:03] janvorli commented on #20166
I was originally thinking we could do something more than just the SOS support we have. For example, when a collectible AssemblyLoadContext is being held alive by a thread local or static variable in another collectible context, the gcroot command would show you a reference chain that goes through a managed LoaderAllocator, but it is not trivial to find which AssemblyLoadContext the LoaderAllocato

[2019-04-26 01:07] VincentBu opened #24263 "[ARM64] Test failed: Loader/classloader/TypeGeneratorTests/TypeGeneratorTest1183/Generated1183/Generated1183.sh"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_centos7.1_r2r_gcstress15_tst/138/

**Failed tests:**
Loader/classloader/TypeGeneratorTests/TypeGeneratorTest1183/Generated1183/Generated1183.sh

**Log:**
[code]

[2019-04-26 01:12] VincentBu opened #24264 "[x64] Build failed: error CS1503: Argument 1: cannot convert from '' to 'void*'"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_osx10.12/29338/

**Log:**
[code]

[2019-04-26 01:16] VincentBu opened #24265 "Test failed: System.IO.Tests.CtorTests.NullEncodingThrows"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_ubuntu_corefx_baseline/911/

**Failed tests:**
System.IO.Tests.CtorTests.NullEncodingThrows

**Log:**
[code]

[2019-04-26 01:39] AriNuer opened #24266 "[x86\windows] error : There is not enough space on the disk"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_corefx_tieredcompilation/275/

**Failed log:**
[code]

[2019-04-26 01:59] erozenfeld commented on #24159
I'll investigate.

[2019-04-26 02:29] swaroop-sridhar commented on #20287
Thanks @mjr27

[2019-04-26 02:31] brianrob commented on #24247
Looks like things are still failing, now with a 401 (unauthorized) error because the feed requires authentication.

[code]

@adiaaida do you know what needs to be done to resolve this?

[2019-04-26 02:39] adiaaida commented on #24247
The official builds used to do this (it's only possible on official builds). I'm pretty sure that the ibcmerge restore will need to happen outside of the build script (hence why it wasn't there in the first place). Let me see how corefx does it.

[2019-04-26 02:41] adiaaida commented on #24247
Corefx restores it via their tools.csproj: https://github.com/dotnet/corefx/blob/10d7d6f812295a572eb148aedb19efd2f96fbe17/eng/common/internal/Tools.csproj#L11

Package version should be in dependencies.props: https://github.com/dotnet/corefx/blob/eb2d732bf8d35186c70c743812e5d17584b6975f/eng/dependencies.props#L43

[2019-04-26 02:53] brianrob commented on #24247
Do you know how authentication works?  It looks like the feed is explicitly provided in the CoreFx case as well, but no authentication info, so I suspect credentials are being provided in some other way.

[2019-04-26 03:24] noahfalk commented on #22904
@kouvel @davmason - One of you guys should probably own this but I am not sure who : )

[2019-04-26 05:34] ddobric opened #24268 "Unexpected error CS0433: Type 'SerializableAttribute' exists in both"
Hi all,

have a project, which references .NET Standard (2.0) library (MyLib), which references Akka.Net. Akka.Net has a library, which provides type '**Serializable**'.

**_MyProject->MyLib->Akka_**

I have a class in my project decorated with **SerializableAttribute**.

![image](https://user-images.githubusercontent.com/1756871/56785150-227fe900-67f4-11e9-89cc-5982fc7a9b8d.png)

Although there i

[2019-04-26 05:57] AriNuer opened #24269 "Test Failure:JIT_Regression._JitBlue_DevDiv_605447_DevDiv_605447_DevDiv_605447_/_JitBlue_DevDiv_605447_DevDiv_605447_DevDiv_605447_cmd"
Test **JIT_Regression._JitBlue_DevDiv_605447_DevDiv_605447_DevDiv_605447_/_JitBlue_DevDiv_605447_DevDiv_605447_DevDiv_605447_cmd** has failed.

Failed Message :
[code]
Stack Trace :
[code]

[2019-04-26 08:56] dzmitry-lahoda commented on #23620
I see similar issue in my sample https://gitlab.com/dzmitry-lahoda/dotnet-csharp-patterns/blob/master/indexed-memory/Program.cs. I do not have capacity to research what the issue. Hope that will be fixed (may be on BDN level) to allow to run tests.

[code]

[code]

[2019-04-26 09:37] jkotas commented on #24268
Akka.Net defines these attributes as public, in the System namespace https://github.com/akkadotnet/akka.net/blob/master/src/core/Akka/Util/Internal/NetCorePolyfills.cs

You can workaround this by defining `<Aliases>` for the Akka project: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/extern-alias

This is really an issue with the Akka library. They should not be defini

[2019-04-26 09:37] #24268 closed

[2019-04-26 12:56] janvorli commented on #24083
This keeps happening quite often both in the CI and on my local machine. See the `Test Pri0 Windows_NT arm checked Job` leg in https://dev.azure.com/dnceng/public/_build/results?buildId=170454 from today.

[2019-04-26 13:35] govert commented on #24246
@AaronRobinsonMSFT

This means the C# 4.0 COM interop work that implicitly uses 'dynamic' for IDispatch interfaces will not yet be available under .NET Core 3.0.

A consequence would be that most Office automation code cannot move from .NET Framework to .NET Core 3.0. This is because, even where Primary Interop Assemblies are used for early-bound COM access, the implicit interpretation of IDispatc

[2019-04-26 13:37] ddobric commented on #24268
I agree. It is definitely an issue of Akka.Net. Using System namespace should be in Microsoft ownership only.

Thanks

[2019-04-26 13:47] CarolEidt commented on #24260
I don't have any specific thoughts, especially given our recent discussion about how we're currently exploding all the overloads. Perhaps PMI is able to construct types that are not actually exposed? In any event, this should clearly needs to be made more robust against unsupported types.

[2019-04-26 14:30] CarolEidt commented on #24260
... and I should clarify that by "robust" I mean that we should always return `nullptr` for unexpected types or methods.

[2019-04-26 14:58] jzabroski commented on #14843
https://github.com/DotNetAnalyzers/ReflectionAnalyzers/issues/213

[2019-04-26 17:33] #24240 closed

[2019-04-26 17:36] emysa341 commented on #18541
Hello Everyone, I was able to reproduce this issue, [Here ](https://github.com/emysa341/SharingRepo/tree/master)is the sample project which reproduces this issue.
Instead of giving sof exception app exits with just access violation message on the output window.
My visual studio is up to date:

[code]

[2019-04-26 17:36] tommcdon commented on #23412
@AndyAyersMS can you let us know if #24101 fixed this issue

[2019-04-26 17:49] tommcdon commented on #22904
@kouvel do you have time to take a look?

[2019-04-26 17:56] mjsabby commented on #24247
Is there an ETA for this? Bing is taking near daily bits of the core-setup SDK/runtime packages, but the CoreCLR bits in the SDK/Runtime are now a couple of days old and I need to get fixes for https://github.com/dotnet/coreclr/pull/24235 and https://github.com/dotnet/coreclr/pull/24235.

[2019-04-26 18:07] tommcdon commented on #21283
@janvorli I've moved this issue to the future milestone assuming that this is a benign assert

[2019-04-26 18:13] janvorli commented on #21283
@tommcdon I am sorry for not responding, I was planning to test it before replying, but I got distracted by other stuff. I'll check it and change the milestone back if I find that commenting out the assert doesn't help.

[2019-04-26 18:15] tommcdon commented on #21283
@janvorli thanks!

[2019-04-26 18:55] janvorli commented on #22384
@jkoritzinsky there were some issues in the code that @0xd4d pointed out. The 2nd issue could clearly cause the memory corruption.

[2019-04-26 19:00] kouvel commented on #22904
I'll track it and will try to fix but I can't be sure at the moment

[2019-04-26 19:03] sandreenko opened #24274 "PMI asm diffs infra failures"
The jobs are failing with:
[code]
[example](https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_windows_nt_pmi_asm_diffs_prtest/30/consoleFull#151315772033fe3402-0c0f-45a7-a707-47164965bab5).
Other jobs run this command without any issue, for example [arm64_cross_checked_windows_nt_innerloop_prtest](https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_checked_windows_nt_in

[2019-04-26 19:11] brianrob opened #24275 "Linux IBC Training is Broken"
After #24229 was merged, Linux IBC training no longer generates data.  I have confirmed that without this change, IBC data is generated.

Training fails with the following error, which says that no IBC files were found:
[code]

[2019-04-26 19:12] brianrob commented on #24275
@briansull can you please take a look?  This appears to be specific to Linux and is currently blocking publish of all IBC and PGO data.

[2019-04-26 19:13] tillig commented on #22384
Again, I apologize that I'm a bit out of my depth on this and I very much appreciate your help and patience with me. I'm trying to learn, but sometimes it helps to get a little bit more specific, if you can.

OK, so if I switch `_ws2811` to be a class instead of a struct then I won't need the `GCHandle` calls. I will have to try this. The `_ws2811` object has a property inside that is also a struc

[2019-04-26 20:19] briansull commented on #24275
OK, I will take a look.
I did verify that by hand I was able to generate IBC data and had the scenario named correctly.

[2019-04-26 20:19] janvorli commented on #22384
Let me explain the issue with `var initResult = NativeMethods.ws2811_init(ref this._ws2811)` in your code in detail. The _ws2811 is a struct and that means it is a value type. As such, it is stored inside the memory allocated for the Ws281xController instance (which is the "this" here). You are passing address of the _ws2811 in this instance to the native code. So when GC moves the Ws281xControlle

[2019-04-26 20:22] brianrob commented on #24275
Thanks much.  I can also give you instructions on how to run the training system on your own machine to verify that things work too.  You'd just need a fork of CoreCLR to point it at and it would clone, build, deploy, run all on its own.

[2019-04-26 20:24] tillig commented on #22384
Thank you so much for the clarification! I will give this a shot.

[2019-04-26 20:46] briansull commented on #24275
I have a fork on my Linux VM system.

[2019-04-26 20:56] brianrob commented on #24275
Ok sounds good.  If you have something that you believe works, post a branch to GitHub and I can also run it locally and see if it works in the training system.

[2019-04-26 21:07] sandreenko commented on #24274
Probably this machine win2012-3150b0 is out of space (https://github.com/dotnet/core-eng/issues/6144)

[2019-04-26 21:08] BruceForstall commented on #24264
More recent builds have succeeded

[2019-04-26 21:08] #24264 closed

[2019-04-26 21:15] BruceForstall commented on #22342
Probably, although it's worth trying variations to verify this.

[2019-04-26 21:18] briansull commented on #24275
I don't have your instructions on how to run the training system on my own machine.

[2019-04-26 21:27] brianrob commented on #24275
I just sent you some mail with instructions.

[2019-04-26 22:09] BruceForstall commented on #24265
This is all platform.

Linux/arm: https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_ubuntu_corefx_baseline_tst/73/consoleFull

[2019-04-26 22:10] BruceForstall commented on #24236
Also happens in baseline:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_ubuntu_corefx_baseline_tst/73/consoleFull

[2019-04-26 22:14] BruceForstall commented on #17020
I'm going to close this issue; we have corefx testing on all platforms in the CI (and have for a while).

[2019-04-26 22:14] #17020 closed

[2019-04-26 22:17] BruceForstall opened #24278 "[Linux/arm] Test failure: System.Dynamic.Runtime.Tests"
Happens with JitStress=2

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_ubuntu_corefx_jitstress2_tst/62/consoleFull
[code]

[2019-04-26 22:18] BruceForstall commented on #22414
Seems to only happen with JitStress=2?

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_ubuntu_corefx_jitstress2_tst/62/consoleFull

[2019-04-26 22:27] BruceForstall commented on #24265
@stephentoub Do you know if this is another "point in time" failure?

[2019-04-26 22:28] stephentoub commented on #24265
@BruceForstall, it is, yes, sorry.  It'll be fixed once corefx consumes a new coreclr and we merge https://github.com/dotnet/corefx/pull/36959.

[2019-04-26 22:45] BruceForstall commented on #23473
Another Windows/arm "tiered compilation" failure mode in System.Security.Cryptography.X509Certificates.Tests: "Keyset as registered is invalid":

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_tieredcompilation_tst/42/consoleFull

[code]

[2019-04-26 22:47] BruceForstall commented on #23473
Also, a couple GS cookie buffer check failures

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_jitstress2_tst/64/consoleFull
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_minopts_tst/60/consoleFull

[2019-04-26 22:53] juliusfriedman commented on #23132
Not if large array was an array...

[2019-04-26 23:36] BruceForstall commented on #24265
@stephentoub fwiw, we now have a way to disable a single corefx test in the "run-corefx-tests.py" harness that we use for almost all of the corefx test runs in the coreclr CI: https://github.com/dotnet/coreclr/blob/master/tests/scripts/run-corefx-tests-exclusions.txt. So, I've excluded this failing test.

I'd love to see us add one of these "corefx_baseline" jobs to coreclr PR testing, but I guess

[2019-04-27 00:08] echesakovMSFT commented on #24278
I no one is looking into the issue I can take it

[2019-04-27 00:53] tannergooding commented on #24260
@CarolEidt, I determined the issue. The root problem is that we have some new overloads of `Avx2.ConvertToVector256*` which take a pointer as the first and only parameter. We can't determine the base type from the result and must determine it from the pointer argument....

However, I am unsure how to determine the underlying type of a pointer given the `CorInfoType` or `sig`/`arg`/`argClass` (and

[2019-04-27 00:54] tannergooding commented on #24260
(I have the rest of the changes already prepped, including fixing `lookupIns` to account for invalid `baseType`; so I'm just stuck on this part)

[2019-04-27 01:23] davidfowl commented on #24237
@jkotas Can you move this to corefx?

[2019-04-27 02:01] #24265 closed

[2019-04-27 02:07] jkotas commented on #24237
This crash is from jitstress runs. The jitstress runs are not setup correctly and they run mismatched bits (e.g. newer tests against older product binaries). Since this test was added recently, I think it is very likely that this crash is just noise caused by the mismatched bits. It will go away on its own in a few days.

There is a ton of bogus bugs generated by this . Folks are working on fixing

[2019-04-27 02:10] davidfowl commented on #24237
I think it might be a real bug. Move it and I'll take a look.

[2019-04-27 07:58] GrabYourPitchforks commented on #23132
If large array is a glorified array, then you could pass a large array into an existing API that accepts a normal array, and you'd end up right back with the problems as originally described in this thread.

[2019-04-27 08:01] GrabYourPitchforks commented on #23132
Furthermore, I'm not sure I buy the argument that adding large array would bifurcate the ecosystem. The scenario for large array is that you're operating with enormous data sets (potentially over 2bn elements). By definition you wouldn't be passing this data to legacy APIs anyway since those APIs wouldn't know what to do with that amount of data. Since this scenario is so specialized it almost ass

[2019-04-27 10:41] juliusfriedman commented on #23132
You have LongLength on the Array

[2019-04-27 15:46] sdmaclea opened #24287 "PackageReference of classlib with does not layout satellites correctly"
Given a package reference to a classlib with satellite assemblies
Build of the cliant app laysout the build incorrectly. Satellites are not in the correct directories.

[code]
[code]
[code]

This is blocking writing proper satellite testing for classlibs in corefx.

This needs to be reported elsewhere.  MSBuild ? SDK ?
@tarekgh @jkotas

[2019-04-27 15:52] sdmaclea commented on #24287
@vivmishra FYI. This will affect localization of classlibs.  It is not yet reported in the correct place.

[2019-04-27 15:57] tannergooding commented on #24260
Figured it out. Once I've determined it is a `CORINFO_TYPE_PTR`, I can call `getChildType(argClass)` to get the underlying type of the pointer.

[2019-04-27 15:58] sdmaclea commented on #24287
I intended to open this in corefx...

[2019-04-27 15:58] #24287 closed

[2019-04-27 17:57] kouvel commented on #19133
Closing in favor of https://github.com/dotnet/coreclr/issues/23221 and https://github.com/dotnet/coreclr/issues/23222

[2019-04-27 17:57] #19133 closed

[2019-04-27 18:43] cup commented on #20287
https://github.com/dotnet/core/issues/2647

[2019-04-27 20:01] #24185 closed

[2019-04-27 20:12] cup commented on #17015
https://github.com/dotnet/cli/issues/7737
https://github.com/dotnet/core/issues/1278
https://github.com/dotnet/core/issues/2647

https://github.com/dotnet/coreclr/issues/17015
https://github.com/dotnet/coreclr/issues/20287
https://github.com/dotnet/corefx/issues/13329
https://github.com/dotnet/corert/issues/6819
https://github.com/dotnet/core-setup/pull/5286
https://github.com/dotnet/designs/pull/

[2019-04-27 20:13] cup commented on #20287
https://github.com/dotnet/cli/issues/7737
https://github.com/dotnet/core/issues/1278
https://github.com/dotnet/core/issues/2647
https://github.com/dotnet/coreclr/issues/17015

https://github.com/dotnet/coreclr/issues/20287
https://github.com/dotnet/corefx/issues/13329
https://github.com/dotnet/corert/issues/6819
https://github.com/dotnet/core-setup/pull/5286
https://github.com/dotnet/designs/pull/

[2019-04-27 20:24] lostmsu commented on #23408
@VSadov I actually started implementing something similar a while ago: https://github.com/losttech/TypeNum . How would you compare that to your approach? Any plan to publish Nuget package?

[2019-04-27 23:11] tannergooding commented on #24260
PR resolving this should be here: https://github.com/dotnet/coreclr/pull/24289

@sandreenko, I tested `prepall` locally and it looks to pass. Might be good if you could also validate, however.

[2019-04-28 01:29] VincentBu opened #24290 "[arm64] Test failed: System.Xml.Tests.CNameTableTestModule.RunTests"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_corefx_minopts_tst/32/

**Failed tests:**
System.Xml.Tests.CNameTableTestModule.RunTests

**Log:**
[code]

[2019-04-28 20:11] #23201 closed

[2019-04-29 01:09] VincentBu opened #24296 "[x64] Could not find/download: ".NET Core SDK" with version = 2.1.503"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/illink/job/x64_checked_windows_nt_illink/710/

**Log:**
[code]

[2019-04-29 07:06] cincuranet opened #24297 "Exceptions in methods called from Finalize"
The [documentation for Finalize method](https://docs.microsoft.com/en-us/dotnet/api/system.object.finalize?view=netcore-2.2) states:

But I don't see this behavior happening. I created a simple class with finalizer:
[code]

And simulating what the docs says should happen:
[code]

And with this I see only one `In finalizer FinalizeMe` being printed on console. Basically I just see is:

Is the docum

[2019-04-29 07:16] EgorBo commented on #24297
so in order to see this behavior you need to define more types with finalizers, the exception thrown in `~FinalizeMe()` won't call `Console.WriteLine("After exception");` but it will continue calling other finalizers.

[2019-04-29 09:35] mms- commented on #10605
YES!

[2019-04-29 13:43] filipnavara opened #24298 "[arm64] membarrier causing silent crashes/freezes"
I was trying to run CoreCLR on Galaxy S10 phone in the Linux-on-Dex environment (essentially Ubuntu 16.04 Docker container). Almost every non-trivial operation results in silent crash, including running `dotnet --version`.

Running under `strace` seems to suggest that the problem is the `membarrier` syscall introduced with PRs #20949 and #23778. The last line I can see in the log is the following:

[2019-04-29 15:40] janvorli commented on #24298
I wonder if the syscall  could have a different number in the kernel compiled for Android.
Without that syscall, we have no way to implement the FlushProcessWriteBuffers which the runtime depends on heavily on arm64. Unlike on other architectures, the mprotect trick doesn't work for arm64 since arm64 doesn't need to invoke flush of TLB on all CPU cores using IPI.
I will try to find out whether the

[2019-04-29 16:14] jkotas opened #24300 "Array.Clear performance is sensitive to alignment"
Repro:

[code]

Result on Windows x64:

[code]

Found by @stephentoub

[2019-04-29 16:15] filipnavara commented on #24298
The syscall number matches the system headers distributed with the Ubuntu container (which may not be correct) and it is decoded properly by strace.

[2019-04-29 16:27] #24247 closed

[2019-04-29 16:29] EgorBo commented on #24300
I guess for these big arrays `Array.Clear` ends up in `RhZeroMemory` qcall.

[2019-04-29 17:04] dagood opened #24301 "Crossgen removes "Win32Manifest" native resource from System.Windows.Forms.dll"
Running crossgen on System.Windows.Forms seems to remove the Win32Manifest, causing errors at runtime that look like this: https://github.com/dotnet/winforms/issues/116.

For 3.0 Preview 5, I merged a workaround that disables crossgen on `System.Windows.Forms.dll`: https://github.com/dotnet/core-setup/pull/6128. Benefits of crossgen are noticeable in the WindowsDesktop shared framework so disablin

[2019-04-29 17:18] andy-ms commented on #22521
I ran the same test as @jorive above and saw performance improve in 3.0 both with and without affinity.

Without affinity:
[Host]     : .NET Core 3.0.0-preview6-27629-01 (CoreCLR 4.6.27624.71, CoreFX 4.700.19.22901), 64bit RyuJIT -- mean 839ms
[Host]     : .NET Core 2.2.3 (CoreCLR 4.6.27414.05, CoreFX 4.6.27414.05), 64bit RyuJIT -- mean 881ms
[Host]     : .NET Core 2.1.9 (CoreCLR 4.6.27414.06, Cor

[2019-04-29 17:24] janvorli commented on #24298
There must be something strange going on. If you look at the implementation of the syscall in Linux kernel https://elixir.bootlin.com/linux/v4.14.85/source/kernel/sched/membarrier.c#L152, the only case when it could fail with bad system call would be when the flags passed in were non-zero.
I've also checked the syscall numbers - the Android kernel seems to be the same in this respect as the vanill

[2019-04-29 17:28] #24274 closed

[2019-04-29 17:40] filipnavara commented on #24298
I think it could be the container that the Linux is running in but there's not too much info available about it. If you have some hint what to look for I can check it, or I can try to share access to it.

[2019-04-29 17:49] EgorBo commented on #24300
macOS results:
[code]
I suspect the problem is in the MSVC memset implementation.

[2019-04-29 17:49] ericstj commented on #24301
The win32 manifest is not visualized by ildasm, but it will emit it in a .res file when you run it with /out.  You can visualize the difference in Visual Studio, using File -> Open on the DLLs.

![image](https://user-images.githubusercontent.com/8918108/56914897-2157f180-6a6a-11e9-9e17-0862a80059fb.png)

This will impact all customer apps as well (winforms + WPF), if they wish to crossgen them.

S

[2019-04-29 17:50] sergiy-k commented on #24301
@davidwrighton, could you please take a look?

[2019-04-29 17:54] davidwrighton commented on #24301
Sigh, yes. It is known that crossgen destroys all resources other than the file resource. I believe Fadi made some changes in desktop crossgen to fix this, so we may wish to recreate those changes in Core.

[2019-04-29 18:08] davidwrighton commented on #24301
@dagood, do you know if any language specific resources are required, or if any of our toolchains support non-neutral resources in the PE file?

[2019-04-29 18:16] dagood commented on #24301
I don't have any experience with resource files, maybe @dreddy-work or @ericstj can answer?

[2019-04-29 18:32] filipnavara commented on #24298
Further inspection suggests that it's caused by Seccomp that is turned on in the container (SECCOMP_MODE_FILTER in /proc/self/status).

[2019-04-29 18:33] jkotas commented on #24300
Linux memset implementation does have this problem (tried on docker image from mcr.microsoft.com/dotnet/core/sdk:3.0).

[2019-04-29 18:34] jkotas commented on #24300
Also, it varies a lot based on the exact hardware. Here are the results from my other machine:

[code]

[2019-04-29 18:40] jkoritzinsky commented on #24301
Linking to the other issue about this: #21006

[2019-04-29 18:48] dreddy-work commented on #24301
I do not have enough information on non-neutral resources. @Tanya-Solyanik may have.

[2019-04-29 19:07] filipnavara commented on #24298
Here's a snippet from the log (from my test app to avoid too much output):
[code]

[2019-04-29 19:09] #24253 closed

[2019-04-29 19:32] filipnavara commented on #24298
There's something really weird going on. AOSP has [whitelist for `membarrier`](https://github.com/aosp-mirror/platform_bionic/blob/master/libc/SECCOMP_WHITELIST_COMMON.TXT#L70) and it seems to be used by ART, so I don't really understand why it fails.

[2019-04-29 19:37] #20979 closed

[2019-04-29 19:37] #24211 closed

[2019-04-29 21:05] ericstj commented on #24301
Presumably we only care to support the set of things that the VB/C#/F# compilers support.  If our compilers don't support it then it would mean that someone is rewriting the binary and will be able to rewrite the binary after crossgen as well.

Here's some relevant code:
https://github.com/dotnet/roslyn/blob/f40b89234db51da1e1153c14af184e618504be41/src/Compilers/Core/Portable/Compilation/Compilati

[2019-04-29 21:39] #24260 closed

[2019-04-29 22:38] davidwrighton commented on #24301
Well, I'll start with an implementation that copies only the neutral resources. That should be sufficient to solve this problem, and won't be all that hard to generalize into handling other languages as well. That matches the work that was done for the desktop framework.

[2019-04-29 22:58] briansull commented on #24093
Resolved with #24283

[2019-04-29 22:58] #24093 closed

[2019-04-29 22:59] briansull commented on #24275
Resolved with #24283

[2019-04-29 22:59] #24275 closed

[2019-04-29 23:29] RussKeldorph opened #24305 "Interop/NativeLibraryResolveCallback/CallbackStressTest/CallbackStressTest.sh Timed Out"
https://mc.dot.net/#/user/dotnet-mc-bot-2/official~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190429.72/workItem/Interop/analysis/xunit/Interop_NativeLibraryResolveCallback._CallbackStressTest_CallbackStressTest_~2F_CallbackStressTest_CallbackStressTest_sh

**Affected queues**
OSX.1013.Amd64-x64-
OSX.1012.Amd64-x64-

[2019-04-29 23:31] RussKeldorph commented on #24305
@sergiy-k

[2019-04-30 00:38] #24300 closed

[2019-04-30 01:13] VincentBu opened #24309 "[x86] Test failed: System.Tests.TimeSpanTests.FromMilliseconds"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_corefx_jitstressregs4/809/

**Failed tests:**
System.Tests.TimeSpanTests.FromMilliseconds

**Log:**
[code]

[2019-04-30 01:26] VincentBu opened #24310 "[arm64] Test failed: System.Security.Cryptography.Xml.Tests.SignedXmlTest.AsymmetricRSASignature"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_corefx_jitstress2_tst/34/

**Failed tests:**
System.Security.Cryptography.Xml.Tests.SignedXmlTest.AsymmetricRSASignature

**Log:**
[code]

[2019-04-30 02:41] jkotas commented on #24297
Yes, the documentation is incorrect. Submitted PR to https://github.com/dotnet/dotnet-api-docs/pull/2380/ to delete it.

[2019-04-30 03:39] AaronRobinsonMSFT commented on #24301
@davidwrighton Can you please try this with normal app manifests as well - see the issue @jkoritzinsky linked (#21006). Not only does #21006 impact RegFree, but also High-DPI support in WPF because that is also defined in the application manifest. Application manifests need to be retained in many scenarios.

[2019-04-30 05:55] jkotas commented on #24309
CoreCLR & CoreFX out of sync

[2019-04-30 05:55] #24309 closed

[2019-04-30 06:09] cincuranet commented on #24297
Great, good to know.

[2019-04-30 06:48] #24297 closed

[2019-04-30 09:00] filipnavara commented on #24298
Turns out that I hit the same problem with `membarrier` on some other indirect dependencies (lttng-ust -> liburcu) as well. I reported the problem to Samsung, but I don't expect them to act swiftly on it.

[2019-04-30 14:07] ww898 commented on #22845
@davmason @sywhang I develop a library which allows controlling profiling of the current process through the API based on P/Invoke. The library supports the case when both CLR v2 and CLR v4 (loaded into a single process) use the API simultaneously. Each of the CLRs communicates with a specific profiler COM instance with the help of a token. The token is generated using major and minor parts of the

[2019-04-30 15:41] janvorli commented on #21277
Moving this to future. The frequency of usage of the type equivalence seems low and so performance gain from this work seems questionable. If we implement it in the future, we would likely want to cache even the non-trivial case when each type is in a different collectible assembly load context.

[2019-04-30 15:59] RussKeldorph commented on #24305
This isn't limited to OSX.  It can time out on other platforms, so we need to disable it everywhere for instead of just unix like I did in #24306.

https://dev.azure.com/dnceng/internal/_build/results?buildId=173566&view=ms.vss-test-web.build-test-results-tab

[2019-04-30 16:44] jeffschwMSFT opened #24318 "IJW does not seem to work with dllexport in "pure" managed assembly"
from @batzen (https://github.com/dotnet/core-setup/issues/6100)

I am not sure if this issue belongs in this repo but as #5185 was tracked here i guessed this would be the correct repo. Please guide me to the correct repo if this is the wrong one.

**Steps to reproduce**
Clone https://github.com/batzen/NativeToManagedTest
Compile NativeToManagedTest.sln (either using VS 2019 or dotnet build Native

[2019-04-30 16:47] jeffschwMSFT commented on #24318
@batzen C++/CLI support is coming to .NET Core 3.0 in a later preview, but will be Windows only.  The pattern of expecting LoadLibrary to work properly on a .NET Core assembly will not work the way you are expecting.  I would recommend taking a look at our hosting API for how to get a managed delegate: https://docs.microsoft.com/en-us/dotnet/core/tutorials/netcore-hosting.  We are making some enha

[2019-04-30 17:11] filipnavara commented on #24298
On unrelated note, I rebuilt CoreCLR without the `membarrier` call and everything else seems to work.

[2019-04-30 17:11] vkvenkat opened #24319 "GC heap affinitization on Windows machines with multiple CPU groups"
Identified a GC heap affinitization issue in my Windows machine with 112 logical cores and 2 CPU groups in set_thread_affinity_for_heap. GC Heaps 0-55 are correctly affinitized to cores 0-55 & to group 0. But, GC heaps 56-111 are incorrectly affinitized to cores 64-119, instead of cores 56-111. This issue is Windows-only and the behavior is as expected on Linux.

The issue surfaces in [GCToOSInter

[2019-04-30 17:21] tillig commented on #22384
I switched the `ws2811_t` from `struct` to `class` but unfortunately I'm now getting

[code]

The line failing is the `this._ws2811Handle = GCHandle.Alloc(this._ws2811, GCHandleType.Pinned);` call.

I noticed @0xd4d mentioned I'd need some `fixed` items, but the compiler is telling me that `fixed` can only be a member of a `struct`. I tried switching the `ws2811_channel_t` from `struct` to `class`

[2019-04-30 18:03] janvorli commented on #24319
The GroupProcNo is just a wrapper for the group and the processor index in the group. The GetCombinedValue is not meant to be a value linearly representing CPUs.
So it seems the issue would be in CPUGroupInfo::GetGroupForProcessor. That one is supposed to perform mapping the linear procIndex to group / in-group proc index.

[2019-04-30 18:26] MeiChin-Tsai commented on #24234
@RussKeldorph is this a test issue?

[2019-04-30 19:15] pavelovcharov opened #24330 "Dynamically generated method throws System.BadImageFormatException: 'Bad IL format.'"
.NET Core Version: 3.0.100-preview6-011672

In our project, we are using Reflection.Emit to create a class descendant at runtime. When we call the dynamically generated method of this descendant, it throws the BadImageFormatException with the message 'Bad IL format'. The same code works without any exceptions in .Net Framework 4.7.2.

I've prepared a small sample to demonstrate the issue: https://

[2019-04-30 19:43] brianrob commented on #24247
@jkoritzinsky thanks for fixing this.  I have confirmed via official build that x86 and x64 versions of System.Private.CoreLib have IBC data embedded.

[2019-04-30 19:49] danmosemsft commented on #23694
@jaredpar is there a separate issue (in the Roslyn repo) for the compiler to be more parsimonous in its attribute writing? There seem to be several opportunities to write less, and the linker can't remove them all.

[2019-04-30 19:49] danmosemsft commented on #23694
cc @safern

[2019-04-30 19:56] brianrob commented on #18655
Fixed via #24250.

[2019-04-30 19:56] #18655 closed

[2019-04-30 19:59] jeffschwMSFT commented on #18157
Closing this question... though please let us know if you are still seeing this issue.

[2019-04-30 19:59] #18157 closed

[2019-04-30 20:09] jeffschwMSFT commented on #20606
@nguerrera @dsplaisted @livarcocc can y'all take a look at this issue?  It feels related to the SDK.

[2019-04-30 20:11] jeffschwMSFT commented on #20904
Here are the docs for the MetadataLoadContext - https://docs.microsoft.com/en-us/dotnet/api/system.reflection.metadataloadcontext?view=dotnet-plat-ext-3.0.  I am going to close this issue for now, but please let me know if you have any other questions.

[2019-04-30 20:11] #20904 closed

[2019-04-30 20:23] jeffschwMSFT commented on #21246
Closing this question for now, but please feel free to let us know if you have any other questions.

[2019-04-30 20:23] #21246 closed

[2019-04-30 20:29] briansull commented on #24269
This test appears ti be passing:

D:\fxkit\coreclr\bin\tests\Windows_NT.x64.Checked\JIT\Regression\JitBlue\DevDiv_605447\DevDiv_605447>set CORE
CORE_ROOT=D:\fxkit\coreclr\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root

D:\fxkit\coreclr\bin\tests\Windows_NT.x64.Checked\JIT\Regression\JitBlue\DevDiv_605447\DevDiv_605447>DevDiv_605447.cmd
BEGIN EXECUTION
 "D:\fxkit\coreclr\bin\tests\Windows_NT.x64.

[2019-04-30 20:41] vkvenkat commented on #24319
`CPUGroupInfo::GetGroupForProcessor` appears to behave as expected. It correctly fetches the group number & group processor number from procIndex in this case. Here is a debug dump:

![image](https://user-images.githubusercontent.com/14947878/56991659-0c07c380-6b4d-11e9-9b83-a3fe4de2f707.png)

For procIndex 56, `CPUGroupInfo::GetGroupForProcessor` correctly sets `gn` to 1 and `gpn` to 0. However,

[2019-04-30 20:44] janvorli commented on #24319
That is correct. The 64 doesn't mean processor with global index 64. It means group 1 processor 0. As I've said in my previous comment, the proc_no is a packed form of gn and gpn represented by 16 bits.

[2019-04-30 20:47] dsplaisted commented on #20606
This looks to me like an issue in https://github.com/microsoft/vstest, or if not then the test infrastructure would need to be involved in getting more details about why exactly this is failing.

[2019-04-30 20:48] janvorli commented on #24319
We always extract gn / gpn out of it before using it. See:
https://github.com/dotnet/coreclr/blob/5f7d459bf1a23f7e773c56eb5ef5425505b8eb0a/src/vm/gcenv.os.cpp#L213-L217