[2016-05-16 17:39] #3788 closed

[2016-05-16 18:12] ellismg opened #4987 "Add package authoring for Fedora 23 and Ubuntu 16.04"
We already have these packages being produced via TFS, but we should augment the open source authoring as well.

Presently blocked on getting a CLI build we can depend on so we can generate mscorlib.dll and mscorlib.ni.dll.

[2016-05-16 18:17] yizhang82 opened #4989 "P/invoke binding still searching for assembly directory first in service scenarios"
From @schellap review comments:

This seems broken before your change -- searchAssemblyDirectory is by default set to true, so the copy next to the assembly will always be picked up over host specified paths. If the host specified a zero-day patched assembly location, that will never get used -- @gkhanna79.
Can this be set to FALSE instead or the load be done after the host specified directories?

[2016-05-16 19:27] RussKeldorph opened #4992 "RyuJIT x86: JIT\SIMD\CircleInConvex assertion failure"
RyuJIT x86 checked

[code]

[2016-05-16 19:33] CarolEidt commented on #4992
It's possible (perhaps even likely) that this is the same as #3554

[2016-05-16 19:51] gkhanna79 commented on #4989
@yizhang82 I am not sure if @schellap is the right person to look into this. The host has no information about what the assembly properties would be like. This is a runtime decision/policy of Interop subsystem. I think you will need to define and drive it.

Also, I dont believe we can merge your PR until this is resolved.

[2016-05-16 19:56] gkhanna79 commented on #4987
@ellismg Can you please elaborate on this? mscorlib.dll and mscorlib.ni.dll are built as part of CoreCLR repo build.

[2016-05-16 20:05] RussKeldorph commented on #4992
THanks.  I didn't even think to look for that.  If you use #3554 instead, feel free to close this.

[2016-05-16 20:10] ellismg commented on #4987
We need a working CLI to be able to restore the tool runtime and run MSBuild so we can compile mscorlib here.

[2016-05-16 20:42] #4853 closed

[2016-05-16 20:52] sejongoh commented on #4548
This passes on Desktop.

[code]

[2016-05-16 21:09] CarolEidt commented on #4992
I went ahead and used 4992, since I haven't done enough analysis to determine that they're the same issue - but this way they're linked so we should know to check one when the other is addressed.

[2016-05-16 22:03] #2442 closed

[2016-05-16 22:56] andschwa opened #5000 "Default UTF8 Encoding constructors are inconsistent with BOM"
While this probably falls under "breaking change" and so will not be resolved, I'm logging this information for future confused people.

.NET Core (and .NET 4.6.1) both provide two "default constructors" for UTF8 encoding: `new UTF8Encoding()` and `Encoding.UTF8`.

The `UTF8Encoding` class's [default constructor](https://github.com/dotnet/coreclr/blob/d84bcf4426bdff27b2b06137c6816861970f0f43/src/m

[2016-05-16 23:27] jkotas commented on #4971
We may be able to enable the fast tailcalls for R2R, but it requires teaching delay load fixups about them (the delay load fixups are not able to reliably find the indirection cell used by the tailcall - tried it in #4984).

[2016-05-16 23:29] #3964 closed

[2016-05-17 00:41] seanshpark commented on #4671
While looping around the JIT-ted code, 0x719fb53c for my case,
[code]
if I stop the process with `process interrupt` and remove this breakpoint with `break del (number)` and then `continue`, the program ends normal.
Seems like when reaches the break point, breakpoint handler(?) is responding weird. I'm looking inside `lldb` but not much luck.

[2016-05-17 02:04] myungjoo commented on #4859
`VirtualUnwindLeafCallFrame` does not work because the context has no valid LR value:
[code]
(b64273b4 is in JIT_WriteBarrier and  its 'parent' is shown as if itself because LR = PC, which is "intentional" in libunwind-arm; it does not rely on LR value of cursor, which is accessible with `unw_get_reg()`)

The resulting Context after calling VirtualUnwindLeafCallFrame is:
[code]

I'll see if it wor

[2016-05-17 02:17] myungjoo commented on #4859
Normally, functions without calls (`bl/blx`) like JIT_WriteBarrier may keep `lr` valid without saving registers into the stack.

However, with an hardware exception (SIGSEGV in this case), the exception handler (frame 6 in the above case) saves and restores all (r0 - r15). So, without proper unwinding information saving at JIT_WriteBarrier, we need to read information (`lr`) saved by `#6 <signal h

[2016-05-17 02:25] #1750 closed

[2016-05-17 03:28] tetious opened #5006 "Problem building on Arch Linux: min/max not defined"
When trying to build the rc2 branch OR master on Arch Linux (clang 3.8) I get numerous build failures due to missing min and max macros.

Example:
`mbstring.cpp:182:20: error: use of undeclared identifier 'min'`

I'm assuming they are supposed to be defined in a platform include somewhere, and there is some voodoo I don't understand happening between pal.h (where I see them defined) and palinterna

[2016-05-17 06:23] myungjoo commented on #4859
Ah.. this seems to be yet another issue from libunwind-arm. I can't sure if libunwind-arm's `unw_handle_signal_frame`, which is supposed to unwind a signal frame, work or not, but it is not going there (`unw_is_signal_frame` is not working) with `#6 <signal handler called>`.

The op code to be compared if it is a signal handler from corerun + glibc is `0x07adf04f` (thumb/32b mov.w r7 0xad), which

[2016-05-17 06:37] leemgs commented on #3957
@gkhanna79 , BTW, Where can we know the meaning (e.g. 15)  of the `gcstresslevel` argument?

[2016-05-17 06:41] parjong opened #5009 "[ARM/Linux] Unittest failure - JIT.jit64.hfa.main.testE.hfa_nf2E_d.hfa_nf2E_d"
Running 'JIT.jit64.hfa.main.testE.hfa_nf2E_d.hfa_nf2E_d' on ARM/Linux shows the following output:
[code]

[2016-05-17 06:49] ellismg commented on #5000
As you surmise, we will not be making a change here.  I'm following up on getting the documentation updated so it's at least clear that the encoding from the property writes a BOM.

[2016-05-17 07:01] parjong commented on #5009
PR #5010 allows us to proceed a bit more. With PR #5010, running 'JIT.jit64.hfa.main.testE.hfa_nf2E_d.hfa_nf2E_d' shows the following output:
[code]

[2016-05-17 11:21] janvorli commented on #4859
@myungjoo if the problem is related to the problem crossing the signal trampoline, I think we could make a change that I was considering for some time. If we used the exception context in the DispatchManagedException for the case of hardware exceptions instead of starting at the current frame, then we would not need to cross the trampoline at all.
Could you please try the following change to make

[2016-05-17 13:59] davzucky commented on #4987
@ellismg, rather than trying to have a custom package for all the different distribution and version, why not creating a cli package for the dotnet build only where all the native dependency are statically linked. The two that I found so far are

- System.Globalization.Native.so : Dependency on icu
- System.Net.Http.Native.so : Dependency on curl

I have a push request ready for System.Net.Http.Na

[2016-05-17 14:01] janvorli commented on #3957
@leemgs gcstresslevel is composed of bits, each indicating certain kind of GC stress. You can find their symbolic values and meaning here:
https://github.com/dotnet/coreclr/blob/master/src/vm/eeconfig.h#L653

[2016-05-17 14:01] davzucky commented on #5006
I have been able to build CoreClr on ArchLinux using clang 3.5. Could you try to use that version ?
I will try to update it on my side to see if I have the same problem.
Be aware that you wont be able to build mscorelib because of some post build step that download a cli package which was generate for ubuntu.

[2016-05-17 14:05] janvorli commented on #5006
@tetious - It seems that the macro definitions in the pal.h can be moved out of the #ifndef PAL_STDCPP_COMPAT and defined conditionally like this:
[code]
I believe that should fix the issue.

[2016-05-17 14:14] swaroop-sridhar opened #5012 "ARM64 GCStress: LargeObject Collection test failed"
The following test passes normally, fails under GCStress=0xC

[code]

[2016-05-17 14:27] leemgs commented on #3957
@janvorli,  Thanks. However, I could not find  number 15 from the  GCStressFlags of the eeconfig.h header file.

    enum  GCStressFlags {
        GCSTRESS_NONE               = 0,
        GCSTRESS_ALLOC              = 1,    // GC on all allocs and 'easy' places
        GCSTRESS_TRANSITION         = 2,    // GC on transitions to preemtive GC
        GCSTRESS_INSTR_JIT          = 4,    // GC on ever

[2016-05-17 14:36] tetious commented on #5006
@davzucky I did try building with clang 3.5 and ran into the same problem. I'm pretty sure I tried it based on your mention of success elsewhere. Not sure why it worked for you and not me. :)

@janvorli That didn't seem to fix it. I'm not sure why. I even tried putting them outside the include guard. The only way I've been able to get a successful build is by putting them outside the include guard

[2016-05-17 14:39] janvorli commented on #3957
@leemgs - as I've said, the gcstress level is composed of bits. So 15 means modes 1 + 2 + 4 + 8.

[2016-05-17 15:15] Dmitri-Botcharnikov commented on #4671
The problem was in breakpoint opcode. If LLDB can't find from executable image which opcode (ARM or Thumb) to use, it uses ARM opcode. As far as all jitted code is thumb, wrong  opcode causes such behavior.  LLDB however checks bit 0 and if it is set, LLDB uses Thumb breakpoint opcode. The proposed PR #5014 sets Thumb code bit for all breakpoint addresses in jitted code for Linux/ARM.

[2016-05-17 15:32] #3379 closed

[2016-05-17 16:07] andschwa commented on #5000
Thanks Matt!

[2016-05-17 17:03] jaredpar opened #5017 "Multidimensional arrays of enums behaving unexpectedly in 32 bit JIT"
Consider the following code:

[code]

The expectation of this code is that it should print out `True` yet it prints out `False`.  The IL the compiler emits for this method appears to be correct and is the same in Roslyn and pre-Roslyn compilers:

[code]

Further experimentation hints that this is a 32 bit JIT issue.  The bug does not repro under RyuJIT (debug or release) or 32 JIT release mode.

O

[2016-05-17 17:06] joshfree commented on #4987
Linking issues https://github.com/dotnet/corefx/issues/5990 and https://github.com/dotnet/corefx/issues/7191 by request

[2016-05-17 17:09] joshfree opened #5018 "Add package authoring for openSUSE 13.2"
Tracking issue for /dotnet/coreclr repo package authoring changes.

Related tracking issues for corefx and cli repos
* https://github.com/dotnet/corefx/issues/8584
* https://github.com/dotnet/cli/issues/3054

/cc @ellismg @gkhanna79

[2016-05-17 17:12] yizhang82 commented on #3703
Fixed with #5008

[2016-05-17 17:12] #3703 closed

[2016-05-17 17:24] gkhanna79 commented on #5018
https://github.com/dotnet/coreclr/issues/4987 is the issue for Fedora 23 and Ubuntu 16.04

[2016-05-17 17:25] gkhanna79 commented on #5018
@ellismg Please note that src\.nuget (where you will add definitions for these platforms) builds both JIT and CoreCLR packages and they both need to be updated.

CC @pgavlin @russellhadley

[2016-05-17 18:08] ellismg commented on #4987
@davzucky

In general, the team is very weary of static linking for official builds.  In addition to the dependencies you pointed out, there are others.  We use libunwind for stack walking, we use libcrypto and libssl (from openssl) for cryptography.  We use libz for compression.  We link against additional libraries like gssapi for kerberos support.

The heart if the issue is that we don't want t

[2016-05-17 18:38] sergiy-k commented on #5017
/cc @RussKeldorph

[2016-05-17 19:16] mikedn commented on #5017
Looks like a duplicate of #4805

[2016-05-17 19:23] conniey commented on #919
@davidfowl : I just migrated to rc2-final and noticed that `PlatformServices.Default.LibraryManager.GetLibraries()` no longer works. Did we remove LibraryManager? What is the alternative?

[2016-05-17 19:49] adityamandaleeka commented on #4605
@AndyAyersMS Commit https://github.com/dotnet/coreclr/commit/121d095ed0b0076fb1c7ff59e6446fd19d506b32 brought over a bunch of JIT changes, including the addition of a call to `jitShutdown` in `CILJit::ProcessShutdownWork`, which seems to be called when `EEShutdown` runs.

The other place where `jitShutdown` is called (under `FEATURE_MERGE_JIT_AND_ENGINE`) is in the `DLL_PROCESS_DETACH` in `DllMain

[2016-05-17 19:56] RussKeldorph commented on #4316
Unfortunately, we haven't found an example that justifies the risk of this change yet, so it no longer makes the RTM bar.

[2016-05-17 20:37] sejongoh commented on #2407
Fixed with #4999

[2016-05-17 20:44] RussKeldorph commented on #2407
@sejongoh Please close if fixed.

[2016-05-17 20:45] #2407 closed

[2016-05-17 21:01] redknightlois opened #5025 "[RyuJIT] Provide access to the CPU prefetch instruction"
Many (if not all) current CPUs support prefetching in one way or another. Also the good thing is that the prefetch instruction can be omitted completely if the target architecture do no have such opcode (or the JIT does not support it) as it is an empty method.

The reason to suggest such support is that in many places (like in binary search on B+Trees) the search is actually memory bound, so you

[2016-05-17 21:08] adityamandaleeka commented on #4605
I just noticed https://github.com/dotnet/coreclr/pull/5015 is changing some of this code.

[2016-05-17 21:08] DmitrySikorsky commented on #919
+1

Also what is the replacement for IAssemblyLoader, IAssemblyLoadContext, IAssemblyLoaderContainer, IAssemblyLoadContextAccessor... ?

[2016-05-17 21:38] sivarv commented on #4547
The test case is AV'ing in optLoopCodeMotion() in the following if statement condition

[code]

optLoopCount =1 but head is null.
head = optLoopTable[loopNum].lpHead->bbNext

AV is hit in the very first for-loop iteration.

The repro case is

[code]

After assertionProp, due to while loop condition lot of stmts get deleted as unreachable and in that process optLoopTable doesn't seem to be updated

[2016-05-17 22:22] noahfalk opened #5029 "Porting Diagnostic Tests"
We have a variety of test assets for ICorDebug, SOS, and ICorProfiler APIs that have not yet been made available as OSS. Our current plan to try placing these assets in a seperate github repo so they can be easily reused by a variety of different projects (coreclr would be one of them, corert would be another)
- [x] [Port] MDbg and MDbg based test scripts for validating ICorDebug APIs
- [x] [Port]

[2016-05-17 22:23] noahfalk commented on #5029
@mikem8361 @kspawa

[2016-05-17 22:51] AndyAyersMS commented on #4605
When #5015 lands I'll see if I can remove my workaround.

[2016-05-17 23:16] AndyAyersMS commented on #4477
Here is the data for [instructions retired]([https://gist.github.com/AndyAyersMS/e404dcf957e7a0e3d7d0e9c0fdc35c5f#file-benchmark-instructions-retired-variability-pdf). Noise levels very low. This is promising.

[2016-05-17 23:33] seanshpark commented on #4671
Fixed.

[2016-05-17 23:33] #4671 closed

[2016-05-18 00:01] #4714 closed

[2016-05-18 00:06] bendono commented on #4431
CC @mikem8361

[2016-05-18 00:55] livarcocc opened #5033 "coreclr hitting a stack overflow when using RC3 bits"
This is blocking us from standing up a CI for Fedora23 in the CLI.

Dump files at \\licavalc-z230\temp\coreClrStackOverflow

mdmp created with /ma
dmp created with /f

[code]

cc @gkhanna79 @schellap @joshfree @piotrpMSFT @Sridhar-MS

[2016-05-18 00:57] gkhanna79 commented on #5033
Which CoreCLR build are you using?

[2016-05-18 00:59] livarcocc commented on #5033
My change was to move to Corefx -rc3-24117

[2016-05-18 01:03] gkhanna79 commented on #5033
What is the coreclr version?

[2016-05-18 01:07] livarcocc commented on #5033
1.0.2-rc3-24117-00

[2016-05-18 01:19] gkhanna79 commented on #5033
What are the repro steps?

[2016-05-18 01:22] livarcocc commented on #5033
I thought the dump was going to be enough.

Clone git@github.com:livarcocc/cli-1.git
Run build.sh or build.cmd

Eventually you will hit this failure, once we start to use stage1 to compile stage2 and we try to publish the sharedframework.

After that, you can just run something like:

<CLI_REPO_ROOT>/artifacts/osx.10.11-x64/stage1/dotnet compile-csc @<CLI_REPO_ROOT>/artifacts/osx.10.11-x64/interme

[2016-05-18 01:55] gkhanna79 commented on #5033
This is due to https://github.com/dotnet/coreclr/pull/4969. While the PR is doing the right thing, Roslyn's current implementation does not work well with it. Looks like we will need to coordinate a change with Roslyn before getting that PR in again.

I have a PR with the reversal @ https://github.com/dotnet/coreclr/pull/5034.

@joshfree Once the reversal PR gets committed, I will request the clos

[2016-05-18 01:56] jyoungyun opened #5035 "Case-sensitive issue in Linux"
In Linux, it seems that csc does not find exisiting file by case-sensitive issue.

[code]
[code]
[code]
As per MSBuild guideline, the element and attribute names are case-sensitive but the others like property, item, and metadata name are not.
(MSBuild guideline: https://msdn.microsoft.com/en-us/library/dd393574.aspx)

The same code was built successfully in Windows.

[2016-05-18 02:04] stephentoub commented on #5035
@jyoungyun, are you referring to the file paths themselves? Those are expected to be case-sensitive on Linux, as are file paths in general.

[2016-05-18 02:24] jyoungyun commented on #5035
@stephentoub No, this is the original CoreCLR test codes. There are a lot of code which is case-insensitive matching in tests directory. Thanks for comments! I will post a PR soon.

[2016-05-18 02:29] rahku commented on #3651
Bug was not due to ucrt. New compiler optimizes away code due to divide by zero operation does not happen. So therefore exception is not thrown and the test fails.

[2016-05-18 02:32] chunseoklee opened #5037 "[ARM32/Linux] sos ClrStack does not work after bpmd"
Thank to a92eac6b4b635285525c80dcd9dadf3616d96370, bpmd of sosplugin works fine on arm32/linux. But, clrstack does not work after bpmd command.

test commit : e78338ef715dc6fd89d9cbd0bf93c7f88d211c20 ( fetched today morning )
[code]

[2016-05-18 02:32] chunseoklee commented on #5037
@Dmitri-Botcharnikov @seanshpark

[2016-05-18 02:41] adityamandaleeka commented on #4605
#5015 has been merged and should fix this. @AndyAyersMS I'll let you close the issue.

[2016-05-18 02:46] seanshpark commented on #5037
Yes, please refer #4672.

[2016-05-18 02:51] manu-silicon opened #5038 "Issue with DllImport"
While exploring how DllImport worked on Linux, I found the following issue at this line: https://github.com/dotnet/coreclr/blob/master/src/vm/dllimport.cpp#L7165

It seems that the code forgot to assign the result of the call to `LoadFromNativeDllSearchDirectories` to hmod. Is this expected?

[2016-05-18 03:08] reader-man opened #5040 "Xamarin PCL"
Hi,
Thanks for this great project ".Net Core".

 it would be great to have it running on the new MS bought technology (Xamarin), so is there a road map for having a .Net core Xamarin PCL, that will work on WinPhone+iOS+Android?

[2016-05-18 03:32] adityamandaleeka commented on #5038
@manu-silicon You're right. Thanks for finding this issue!

[2016-05-18 04:02] manu-silicon commented on #5038
@adityamandaleeka You are welcome.

[2016-05-18 04:09] whoisj commented on #5038
Wouldn't it be nice if the language / compiler complained loudly when return values were ignored?

https://twitter.com/xjoeduffyx/status/730991667960893440

:smirk:

[2016-05-18 04:21] leemgs opened #5043 "Linux/ARM: Communication absence of libunwind-devel community"
According to the summary of .NET Core RC2,  The call chain determination (for exception handling) and stack traces are performed by a libunwind library. However, It seems that the mailing-list of the `libunwind `open-source community is not active even though their community is an ancestor (e.g. mainline) of `libunwind` libraries that are used in a lot of modern Linux distributions and software pl

[2016-05-18 04:24] myungjoo commented on #4859
@jkotas I have modified libunwind to correctly identify hardware exception handler and modified PAL_VirtualUnwind to keep calling `unw_step()` reusing `unw_cursor_t cursor` if the `cursor` is at `<signal handler called>` or at `JIT_WriteBarrier`.

Then, it successfully passes JIT_WriteBarrier and goes to the JIT stack.

So, the problem in CoreCLR-ARM is that we are losing some context in cursor by

[2016-05-18 04:49] sejongoh commented on #4548
It looks like I didn't set COMPlus_JITMintOpt in the previous run.

This test fails on Desktop, ProjectK and CoreCLR with the same error message.

[code]

[2016-05-18 05:02] sejongoh commented on #4548
@RussKeldorph To which milestone can we move this?

[2016-05-18 05:05] myungjoo commented on #4859
OK. allowing `PAL_VirtualUnwind` to unwind repeatedly (`PAL_VirtualUnwind(context, NULL, repeat_number);`) solves the issue. I'll start commiting after more testing:

How `stackwalk.cpp` changes:
[code]

[2016-05-18 05:58] Sridhar-MS opened #5046 "[OSX]: Failed to initialize CoreCLR, HRESULT: 0x800700CE"
Running a coreclr app with a long path fails with the below error

Repro:
- Download and unzip this tarball - [toolongpath.tar.gz](https://github.com/dotnet/coreclr/files/269720/toolongpath.tar.gz)
- From the unzipped folder run `./release_osx_x64_prtest/cli/test/dotnet-publish.Tests/bin/Debug/netcoreapp1.0/PublishOptionsTest3/TestAppWithLibrary/TestApp/bin/Debug/netcoreapp1.0/osx.10.11-x64/publis

[2016-05-18 06:00] gkhanna79 commented on #5046
Was this working before?

[2016-05-18 06:02] Sridhar-MS commented on #5046
I think so. I started noticing this in CLI jenkins builds in my PR - https://github.com/dotnet/cli/pull/3060 to move from RC2 to RC3.

[2016-05-18 06:07] mikedn opened #5047 "RyuJIT x86: Float returns are not reloaded correctly"
Sample code:
[code]
RyuJIT x86 generates the following code:
[code]
Note how `xmm1` is used without ever being loaded.

As far as I can tell this happens because `genCallInstruction` eagerly reloads and in doing so it uses the wrong register - the destination register of the call (which it seems to always be `xmm0`) instead of the destination register of the reload node that follows (which is `xmm

[2016-05-18 06:14] yizhang82 commented on #4989
After offline discussion, I'm addressing this with the following PR https://github.com/dotnet/coreclr/pull/5048

[2016-05-18 06:17] myungjoo commented on #4859
Hmm.. even without all clutters, it does not work without GDB

[code]

In GDB:
[code]

[2016-05-18 06:20] yizhang82 commented on #5038
@adityamandaleeka I just discovered this as well and I have a fix (https://github.com/dotnet/coreclr/pull/5048) that fixes this as well as a different issue. Our PR probably going to conflict since I'm moving that exact same code.

[2016-05-18 06:21] yizhang82 commented on #4940
@BruceForstall I see. So this is simply scoping for .Net Core x-plat. Thanks!

[2016-05-18 06:38] myungjoo commented on #4859
The current guess on "Working-with-GDB. Not-working-without-GDB" is that we might be using asynch-signal UNsafe functions in the context triggered by SIGSEGV from JIT_WriteBarrier.

[2016-05-18 07:02] mikedn commented on #5047
Hmm, delaying unspill means that more temps are needed. Maybe the call node should simply be assigned the correct register and reload shouldn't be there at all.

[2016-05-18 07:18] chunseoklee commented on #5037
cc @Dmitri-Botcharnikov @janvorli
Applying #5051, clrstack seems to work OK. However, I am not sure about some side effect from this patch.
One suspicious log is the following(on arm32/linux) :
[code]
Is it OK that1st and 2nd IP are the same ?

[2016-05-18 07:21] chunseoklee commented on #5037
Besides, log on x64/ubuntu is as follows :
[code]

[2016-05-18 07:34] gkhanna79 commented on #5033
Fixed with https://github.com/dotnet/coreclr/pull/5034.

[2016-05-18 07:34] #5033 closed

[2016-05-18 07:34] gkhanna79 commented on #5033
Tomorrow (5/18) build should have the fix.

[2016-05-18 07:59] #3759 closed

[2016-05-18 08:32] mylibero opened #5053 "Interop test cases fail on ARM"
The following TCs use the long type in their native code

Interop/ArrayMarshalling/ByValArray/MarshalArrayByValTest
Interop/StructMarshalling/PInvoke/MarshalStructAsLayoutSeq

While long is 64bit on x86, it is 32bit on ARM.
Thus, they were failing on ARM.

I'm fixing it and going to post a PR.

[2016-05-18 08:37] janvorli commented on #4859
@myungjoo Could you please try the solution I have suggested? You can give it a quick try first, just by adding this to the beginning of the "try" block of the DispatchManagedException after the CONTEXT frameContext:
[code]
When it hits the breakpoint, see if the frameContext contains a correctly unwound context.

[2016-05-18 08:51] janvorli commented on #4859
I also have a question - in case of the hardware exception - is the LR register value in the ex.ContextRecord valid?

[2016-05-18 09:27] Dmitri-Botcharnikov commented on #5037
cc @kvochko

[2016-05-18 09:44] myungjoo commented on #4859
@janvorli Your suggestion of https://github.com/dotnet/coreclr/issues/4859#issuecomment-219689649 (https://github.com/myungjoo/coreclr/commit/f9bd93d1c126c880712c24b66211850c270f49dc) is working as mine (https://github.com/myungjoo/coreclr/commit/3591fd67fd78a258cc79bf1f0fb27a7125df1497)

It mostly fails without GDB and it passes with GDB.
[code]

And it shows the correct Lr:
[code]

[2016-05-18 09:50] Dmitri-Botcharnikov commented on #5037
In both cases (ARM and x64) the duplicated IPs in ClrStack output correspond to low level functions CallDescrWorkerInternal (written in assembly language). These functions, besides other things, perform stack copy so I think it's OK.
Linux/ARM
[code]
It's shown as `GetCurrentSP_End + 70`, however in fact it's inside CallDescrWorkerInternal.
Ubuntu/X64:
[code]

[2016-05-18 10:42] myungjoo commented on #4859
Syscalls in the SIGSEGV handler of coreclr-arm:

- gettid
- getrlimit
- open
- rt_sigprocmask
- fstat64
- mmap2
- read
- close
- munmap
- sched_getaffinity
- msync

[2016-05-18 11:23] myungjoo commented on #4859
Potentially dangerous behaviors in sigsegv_handler():

1. calling malloc.
[code]

[2016-05-18 12:32] stephentoub opened #5056 "Some badges in the repo's README are broken"
The CentOS7.1 Debug badge is showing as green, but when you click on it, that job hasn’t been run since early March.

The RHEL7.2 debug badge links to a page that comes back with an HTTP ERROR with a Not Found reason.

OpenSUSE13.2’s Debug badge links to a job that doesn’t appear to have been built since early April.

There may be others as well, those are just the ones I noticed.

[2016-05-18 12:46] RussKeldorph commented on #4548
@sejongoh This was excluded under minopts in the old harness, so we should be able to resolve the bug  by marking it "optimization sensitive."  I'll take the bug since I'm already fixing another similar test.

[2016-05-18 12:54] stephentoub commented on #5035
Ah, I think I misunderstood your comments. I thought you were saying that you were expecting MSBuild to always treat paths as case-insensitive, even on Linux.  Rather, you're saying that because the paths are being treated as case-sensitive, and because there's a mismatch between what's specified in the .csproj and what's on disk, you're getting failures.  Right?  If so, the .csproj should just be

[2016-05-18 13:55] davzucky commented on #4987
@ellismg, thank you for your detailed answer. I may not have been clear on my previous answer but I think we are on the same page. We should have a bootstrap Cli package to allow to build on any distribution (coreclr, corefx), use to build all the target Linux distribution package.
Thank you for the list of the other dependency, I will have a look at that as well, I will keep that on the side as I

[2016-05-18 14:14] DmitrySikorsky commented on #919
There is some info: https://github.com/aspnet/Announcements/issues/149

[2016-05-18 14:15] RussKeldorph commented on #5017
@mikedn I concur.  @rahku, yours to close.

[2016-05-18 14:25] acesiddhu opened #5058 "SHA1CryptoServiceProvider in .Net core"
Hi,
Are there plans to expose SHA1CryptoServiceProvider in .net core? Any short term way we can use it today?

[2016-05-18 14:38] resnyanskiy commented on #919
@DmitrySikorsky very useful reference, thanks a lot!

[2016-05-18 14:47] DmitrySikorsky opened #5060 "AssemblyLoadContext.Default.LoadFromAssemblyPath doesn't load assembly with dot in name"
Doesn't work:
AssemblyLoadContext.Default.LoadFromAssemblyPath(@"C:\X.Y.dll");

Works:
AssemblyLoadContext.Default.LoadFromAssemblyPath(@"C:\XY.dll");

[2016-05-18 14:51] GSPP opened #5061 "Use GetSystemTimePreciseAsFileTime for DateTime.UtcNow"
The [`GetSystemTimePreciseAsFileTime`](https://msdn.microsoft.com/library/windows/desktop/hh706895.aspx?f=255&MSPPError=-2147217396) API provides more precise timing information on Windows 8+. .NET should use this API if available to make additional precision available to .NET code.

Often, the precision of `UtcNow` is ~15ms. Sometimes the relative order of log items cannot be determined if all lo

[2016-05-18 14:56] jyoungyun commented on #5035
@stephentoub Right. I will post PR soon. :) Anyway I think the MSBuild guideline should be updated because the file path is not case-sensitive on Linux. What do you think about it ? And how can I fix the msdn guideline ?

[2016-05-18 15:11] bartonjs commented on #5058
SHA1 is only exposed via `SHA1.Create()`; the SHA1CryptoServiceProvider type doesn't exist in .NET Core.

(This issue would better belong in dotnet/corefx, since it's about framework libraries instead of the runtime layer)

[2016-05-18 15:25] gkhanna79 commented on #5060
Does the same work with a custom AssemblyLoadContext?

[2016-05-18 15:33] acesiddhu commented on #5058
Thanks @bartonjs . Agree that it should be in corefx.

[2016-05-18 15:33] #5058 closed

[2016-05-18 15:36] DmitrySikorsky commented on #5060
Didn't test. That's all I know for now.

[2016-05-18 15:44] #5053 closed

[2016-05-18 15:53] mjsabby commented on #930
In response to needs for the [LLVMSharp project](http://github.com/mjsabby/LLVMSharp) and this issue I have written a [PInvokeCompiler](http://github.com/PInvokeCompiler/PInvokeCompiler) where we take an assembly as input that contains PInvokeImpls and generates an assembly that is expanded with marshalling information and also make it aware of xplat situations via an attribute. The attribute is h

[2016-05-18 15:55] mjsabby commented on #930
Also given the overlap that is likely going to exist with MCG, I'm going to work with @yizhang82 to see how we can rationalize all of this into a single great tool for .NET rather than multiple tools.

[2016-05-18 17:18] adiaaida opened #5063 "Automate Diffing of Release, Checked and Debug mscorlibs"
Create a script to verify there's no difference in jit outputs for check versus debug builds and checked vs release builds. We have verified this locally, but we need to automate it.

[2016-05-18 17:19] adiaaida commented on #4494
I did a crossgen of mscorlib.dll on Windows using a Checked clrjit.dll and a Release clrjit.dll. Diffing both the nis generated and output generated by nidump showed no diffs.

Opened #5063 to track automating this process.

[2016-05-18 17:19] #4494 closed

[2016-05-18 17:44] Sridhar-MS opened #5064 "[Windows] Crossgen'ed binary throws InvalidCastException"
Repro Steps
1. Unzip this zip file which contains crossgen'ed .NET CLI - http://www.filedropper.com/cli-crossgened
2. git clone https://github.com/dotnet/cli
3. cd {cli_repo_root}\tools\RuntimeGraphGenerator
4. {path_to_cli_from_step1}\dotnet.exe restore
5. {path_to_cli_from_step1}\dotnet.exe publish

CoreCLR Version - 1.0.2-rc3-24113-00

Below exception is thrown
System.InvalidCastException: Cann

[2016-05-18 17:51] gkhanna79 commented on #5064
@Sridhar-MS Does this work if the binary is not crossgened?

@JohnChen0 Can you PTAL?

[2016-05-18 17:51] Sridhar-MS commented on #5064
Yes.

[2016-05-18 17:59] sivarv commented on #4547
A fix to this issue is checked-in on tfs side.

[2016-05-18 17:59] #4547 closed

[2016-05-18 18:00] janvorli commented on #4859
@myungjoo there is no problem in calling the unsafe syscalls, malloc and other function from the syscall handler as long as we can guarantee that the faulting code was running in the jitted code or in the few helpers. I have recently reviewed and fixed the hardware exception handling path to get rid of all such calls until we know we were running the safe code.
But I could have missed something.

[2016-05-18 18:04] BruceForstall opened #5065 "runtest.cmd has a hard-coded path: E:\git"
Namely:
[code]

This needs to be parameterized.

[2016-05-18 18:11] JeremyKuhne commented on #731
For critical paths in mscorlib the max path is now `short.MaxValue`.

I'm looking to remove preemptive checks in the next version.  #8655

[2016-05-18 18:11] #731 closed

[2016-05-18 18:12] #1776 closed

[2016-05-18 18:29] JeremyKuhne commented on #3384
Critical code has made it back through.

[2016-05-18 18:29] #3384 closed

[2016-05-18 18:44] adityamandaleeka commented on #5038
@yizhang82 I've closed my PR, and am reassigning this issue to you.

[2016-05-18 18:50] gkhanna79 commented on #5065
@ramarag Please fix this as soon as you can.

[2016-05-18 18:54] janvorli commented on #5037
The frames marked as [Frame: ....] are so called explicit frames - a data structure on stack. In a single physical stack frame, you can have several of those. That's why they have the same IP address in the above case and you cannot match it to the stack trace you get from the "bt" command.
clrstack with the "-f" option shows intermixed native frames and the explicit / managed frames, so that migh

[2016-05-18 18:58] yizhang82 commented on #5038
@adityamandaleeka Thank you!

[2016-05-18 19:05] janvorli commented on #5035
@jyoungyun The path actually **is** case sensitive - different case in the filesystem from the path in the project files means the paths are different. Case insensitive would mean that you could use a different casing in your project files and different in the file system and things would still work.

[2016-05-18 19:10] mikem8361 commented on #5037
Sorry I can’t be more helpful, but I have no idea why either problem is happening on ARM.  You will have debug the sos/dac code involved to get better idea.  In util.cpp line 6479-6481 sos calls into the dac to get the name of the special frame.

[2016-05-18 19:16] #3651 closed

[2016-05-18 19:24] janvorli commented on #5046
The error code represents win32 error ERROR_FILENAME_EXCED_RANGE, so we somewhere actively determine that a path is too long. Let me try to find out where it stems from (seems like it would be somewhere in the PAL)

[2016-05-18 19:26] gkhanna79 commented on #5046
@JeremyKuhne Could this be from your change?

[2016-05-18 19:59] JeremyKuhne commented on #5046
That was the error I was getting with long paths on Windows before I _just_ checked in #4902. Possible it is the same thing. The log I got was:

[code]

[2016-05-18 20:10] #1037 closed

[2016-05-18 20:25] kyulee1 opened #5071 "ARM64: mcc tests failed due to different calling convention on struct return"
Since tests are updated, new toolset uses x8 to contain return address buffer for struct (>16) return.
This impacts all tests under JIT\jit64\mcc\interop.

[2016-05-18 20:31] janvorli commented on #5046
I have pulled down the tar and was able to repro it. Then I've copied the last coreclr stuff over the one in the tar and the error is no more. So obviously @JeremyKuhne's change fixed it.

[2016-05-18 20:35] omariom commented on #5061
Outputs on my machine (ultrabook, Windows 10)
[code]

[2016-05-18 20:36] yizhang82 commented on #4989
Fixed with #5048

[2016-05-18 20:36] #4989 closed

[2016-05-18 20:37] yizhang82 commented on #5038
Fixed with #5048

[2016-05-18 20:37] #5038 closed

[2016-05-18 20:47] yizhang82 commented on #930
@mjsabby Absolutely. Let's chat offline and see how we can work together to move this forward.

[2016-05-18 20:59] RussKeldorph commented on #4548
Disabled via #5057.  I'm not certain this isn't a bug in JIT32, so I'm moving it to Future instead of closing.

[2016-05-18 21:06] janvorli commented on #5046
Closing the issue since it is fixed in the latest coreclr.

[2016-05-18 21:06] #5046 closed

[2016-05-18 21:17] #5065 closed

[2016-05-18 21:51] #4936 closed

[2016-05-18 22:58] gkhanna79 commented on #4861
This is committed with https://github.com/dotnet/coreclr/pull/4874

[2016-05-18 22:58] #4861 closed

[2016-05-18 23:14] BruceForstall commented on #4739
For context: the VM has special code that generates the call to the JIT'ed Castable.IsInstanceOfInterface function. This is in jithelpers.cpp, function ObjIsInstanceOf(), under `ifdef FEATURE_ICASTABLE`:

[code]

The first argument is the 'this' pointer, passed in ECX. The second argument is the System.RuntimeTypeHandle. It is being passed as a REF pointer. However, System.RuntimeTypeHandle is a s

[2016-05-18 23:14] parjong commented on #5009
If we simply ignoring the assertion failure, CoreCLR passes the testcase:
[code]

[2016-05-18 23:39] JohnChen0 commented on #5064
The InvalidCastException has been fixed by PR #4519. Please use a later build of CoreCLR and this issue should go away.

However, I'm seeing a different issue after going past the InvalidCastException. I'm receiving the following errors, even when Ready-to-Run images are not used:

    Can not find runtime target for framework '.NETStandardApp,Version=v1.5' compatible with one of the target runtim

[2016-05-18 23:57] parjong commented on #5009
After updated PR #5010, CoreCLR passed the test case even without assertion failure.

[2016-05-19 00:02] manu-silicon commented on #5038
@yizhang82 By the way, how one can set NATIVE_DLL_SEARCH_DIRECTORIES?

[2016-05-19 00:07] yizhang82 commented on #5038
Only host can. See https://github.com/dotnet/coreclr/blob/f4fe31a03dca4ede37bd6451d0c81365ee9ee7e4/src/coreclr/hosts/corerun/corerun.cpp

[2016-05-19 00:08] manu-silicon commented on #5038
I see. Is there a way to have that set of directories searched too for PInvoke? That would help tremendously!

[2016-05-19 00:15] seanshpark commented on #5037
I have this in RPi2 showing `GCFrame` with 5051, 5077 PR applied.
[code]
maybe target board difference with chunseoklee.

[2016-05-19 00:16] yizhang82 commented on #5038
Yep. It is being searched already and that's exactly what LoadFromNativeDllSearchDirectories does. My other PR #5048 only changes the order.

[2016-05-19 00:23] chunseoklee commented on #5037
In Dmitri-Botcharnikov 's log, "Frame" is printed as in my log.
I am working on devices softfp-based arm32/linux whereas seanshpark is working on hardfp-based arm32/linux.
@Dmitri-Botcharnikov What is your test environment ? (softfp or hardfp)

[2016-05-19 00:33] jyoungyun commented on #5035
@janvorli Oh, sorry. That's my mistake. I want to say the file path **is** case sensitive but the guideline in msdn said the file path **is not** case-sensitive. As you know, CoreCLR can be built on different file system. Someone implement the file path as case-insensitive on Windows, it will be make build break issue on Linux. So I thought that the msdn comments should be updated for multi file s

[2016-05-19 00:37] manu-silicon commented on #5038
Actually I found that one could define the CORE_LIBRARIES environment variable but this only seems to work on Windows. The unix version of corerun doesn't check for it. Would be nice to have them consistent.

[2016-05-19 00:44] yizhang82 commented on #5038
@manu-silicon That's a host specific issue since host owns translating the environment variables into NATIVE_DLL_SEARCH_DIRECTORIES that is understood by the runtime.
@schellap Can you take a look?
/cc @gkhanna79

[2016-05-19 00:49] manu-silicon commented on #5038
In the meantime, I'll work on porting the Windows code to unixcoreruncommon to fetch the value of CORE_LIBRARIES as I need this to run some program on Unix. Thanks!

[2016-05-19 00:58] rahku commented on #5017
yes this is same as #4805. This has been fixed in .net core. Will be fixed in next update for desktop .net.

[2016-05-19 00:58] #5017 closed

[2016-05-19 01:02] gkhanna79 commented on #5038
Corelibraries is for internal development. We should probably clean it up and remove it. You should use native ski search path envvar only.

[2016-05-19 01:12] manu-silicon commented on #5038
Not sure to understand what native ski means. I just made a patch for picking up from CORE_LIBRARIES. See https://github.com/dotnet/coreclr/compare/master...manu-silicon:core_libraries?expand=1 Let me know if this is worth creating a pull request.

[2016-05-19 01:13] myungjoo commented on #4859
@janvori hmm.. then, I should search for other possibilities as well.

Anyway, in `common_signal_handler()`, in case of error (not running on top of GDB), it  returns from `SEHProcessException()` and goes to `PROCNotifyProcessShutdown()` of `sigsegv_handler()`.

It is going to consume more time because I cannot use GDB for the bug that appears only when GDB is not used. :(

[2016-05-19 01:17] RussKeldorph opened #5081 "Fix or delete tests that make invalid assumptions (about codegen or anything else)"
Questionable tests can often be identified by their existence in exclusion files under the tests folder or by tags such as <JitOptimizationSensitive> in their project files.  See, for example, #5038.

[2016-05-19 01:19] seanshpark commented on #4798
cc @mikem8361

[2016-05-19 01:28] mikem8361 commented on #4798
Yes that is right but to read the portable PDB format is a lot of work and not planned for xplat in 1.0. The reader is written in managed code as part of System.Reflection.Metadata assembly. I just went through all the work to implement source/line info for Exception.StackTrace and that code is already managed (mostly). Calling the managed assembly from the native C++ SOS code is possible but ther

[2016-05-19 01:30] #4649 closed

[2016-05-19 01:35] ramarag opened #5082 "Ensure IlasmRoundTrip logic does not need a seperate Test Build"
Please refactor using https://github.com/dotnet/coreclr/pull/5028/files as a template

A light weight template can also be found in the way GC tests are run in https://github.com/dotnet/coreclr/pull/5621/files

[2016-05-19 01:35] parjong commented on #4859
It seems that ``JIT/Regression/CLR-x86-JIT/V1-M09.5-PDC/b16335/b16335/b16335`` testcase failure is also related with this issue:
[code]

[2016-05-19 01:36] ramarag opened #5083 "Ensure GCStress logic does not need a seperate Test Build"
use https://github.com/dotnet/coreclr/pull/5028 as a template

[2016-05-19 01:42] yizhang82 commented on #5081
@RussKeldorph is #5038 the right issue you want to refer to?

[2016-05-19 01:43] myungjoo commented on #4859
@parjong If SIGSEGV is coming from libunwind, it is not the bug of this one although it might only mean that you don't have the libunwind fixes included. (will try to push libunwind to merge the patches soon again along with additional libunwind fixes)

[2016-05-19 01:46] myungjoo commented on #4859
@janvorli IsSafeToHandleHardwareException is behaving strangely.

With GDB, it always thinks that the corresponding exception is coming from JitHelper (`IsIPInMarkedJitHelper()` is `true`)
Without GDB, it often (more than 50%) thinks that it is `false'.

I'll verify if the input PC is really JitHelper (write barrier) or not when it is not on GDB (with GDB, it is always).

[2016-05-19 02:02] myungjoo commented on #4859
OK. Looks like I found what is causing it. With GDB, JIT_WriteBarrier has `dmb sy` before `str r1, [r0, #0]` offsetting +4 and without GDB, there is no `str r1, [r0, #0]` is the first instruction and the offset is 0, which confuses `IsIPInMarkedJitHelper`. I'll write and show a fix soon.

[2016-05-19 02:07] myungjoo commented on #4859
The constants used by `IsIPInMarkedJitHelper` are pointing to THUMB instruction, which has the least bit set to denote that they are THUMB. However, their real locations do not have their least bit set.

For example, if the real location is at 100, the location constant is 101, which makes the condition statement of `CHECK_RANGE` errornous. However, with GDB, JIT thinks it has additional threads a

[2016-05-19 02:35] jamesqo opened #5088 "Crossgen of System.Private.CoreLib is failing"
Hi, I just rebased my git clone of CoreCLR to the latest changes. When I attempt to run

[code]

so I can generate both the IL/native image version of mscorlib (or I guess System.Private.CoreLib now), I'm getting an error from crossgen about how it can't build System.Private.CoreLib:

[code]

When I open the log, I get nearly-17000 lines saying that `System.Object` cannot be loaded from the assemb

[2016-05-19 02:40] myungjoo commented on #4859
@parjong note that, after this fix, libunwind-arm without any fixes suggested by me works for coreclr anyway.

The fixes for libunwind-arm are valid, but after the fix for coreclr, we do not visit (or aren't affected by) such corner cases of libunwind-arm.

[2016-05-19 03:07] gkhanna79 commented on #5038
@manu-silicon Sorry, auto-correct on phone does its own thing.

CORE_LIBRARIES is just a development/internal-testing environment variable and should not be relied upon. If you wish to add it to unixcorerun for consistentcy, that is fine. But this is not expected to be formally supported in any host used in formal scenarios. The formal way to specify the folders to look for pinvoke targets is NATI

[2016-05-19 03:17] manu-silicon commented on #5038
@gkhanna79 I understand that but how do I set this as a user? I only found CORE_LIBRARIES as a solution.

[2016-05-19 03:21] gkhanna79 commented on #5038
You cannot - this is a host property and you will need to write a host that sets it. For .NET Core, this is automatically computed based upon the app manifest and .NET Host passes it to the runtime. If you have a scenario where you wish to have an external user specify such a value, consider authoring a host.

[2016-05-19 03:34] gkhanna79 commented on #5088
Can you please ensure that you are doing a clean build?

[2016-05-19 03:35] gkhanna79 commented on #5088
Please do "git clean -xdf" and "build.cmd clean skiptests Release"

[2016-05-19 03:36] gkhanna79 commented on #5064
@Sridhar-MS Assigning this back to you.

[2016-05-19 03:37] gkhanna79 opened #5089 "Enable building of TargetingPack package"
@AlexGhiondea Creating this to track the issue per our discussion in the morning.

[2016-05-19 03:43] manu-silicon commented on #5038
I was thinking about an app manifest too. Is this supported just for Windows?

[2016-05-19 03:45] gkhanna79 commented on #5038
.NET Core is available cross-plat - https://www.microsoft.com/net/core#macosx

[2016-05-19 03:47] drbo opened #5090 "Make ValueType.Equals and ValueType.HashCode JIT intrinsics"
ValueType.Equals and ValueType.HashCode should be JIT intrinsics, with specialized code generated for each value type.  This would be a big perf win.

[2016-05-19 03:48] RussKeldorph commented on #5081
@yizhang82 No.  I corrected the description.  Thank you for pointing it out.

[2016-05-19 03:51] drbo commented on #4940
What was the reason to not support it in .NET Core?

[2016-05-19 03:56] gkhanna79 commented on #4940
It is not consistently implemented (see discussion above). To ensure that code works consistently across platforms, this is required.

We could, in future, consider enabling it uniformly.

[2016-05-19 04:44] #4022 closed

[2016-05-19 05:02] manu-silicon commented on #5038
Being rusty on the app manifest. Does anyone have an example of a manifest that add to the NATIVE_DLL_SEARCH_PATHS?

[2016-05-19 05:25] schellap commented on #5038
https://github.com/dotnet/cli/blob/rel/1.0.0-preview1/TestAssets/TestProjects/PortableTests/PortableAppWithNative/

dotnet restore, publish

[2016-05-19 05:51] manu-silicon commented on #5038
@schellap This is confusing. I'm not using dotnet/cli. I'm looking at ways to tell CoreCLR where to look for my native dlls.

[2016-05-19 05:58] davzucky commented on #5006
@tetious, After updating my fork, I'm now getting the same problem as you. This is confusing as the save branch is working on Ubuntu. I'm not sure what could cause the problem and min max definition in palinternal doesnt sound right. I will try to go through all the change on the build script that could have trigger that for the past 2-3 weeks.
Let me know if you find anything.

@janvorli, Any ide

[2016-05-19 07:31] Dmitri-Botcharnikov commented on #5037
@chunseoklee : hardfp, but odroid with Ubuntu 15.10

[2016-05-19 07:58] Dmitri-Botcharnikov commented on #4798
@mikem8361 We need this feature and we have resources. Could you please guide us to implement it? First, can we reuse System.Diagnostics.StackTrace.Symbols or need to write new assembly?

[2016-05-19 08:25] janvorli commented on #5006
@davzucky, @tetious is it possible that the issue is not related to our source changes, but rather to some update of your Linux? E.g. that the min / max macros would be removed from some header files that we are including, possibly moved somewhere else? These macros are not required to exist by the C++ standard. Could you scan all headers on your Linux to see where (if at all) the macro is defined

[2016-05-19 08:37] leemgs commented on #4558
FYI. Here is another case. When I tried to compile the clang/llvm3.6 excluding lldb3.6 directly, I also got the same error message at build time of coreCLR as following:

* ubuntu14.04@geunsik$> time ROOTFS_DIR=/work/dotnet/rootfs-coreclr/arm  ./build.sh arm release  clean cross
[code]

At that time, I  could resolve the build-break of colreCLR after including lldb-3.6 source to ./llvm-3.6/tools/

[2016-05-19 08:56] mkborg commented on #4558
'version.cpp' shall be automatically generated by some C# code. Usually it fails if 'build tools' download failed. With 'skipgenerateversion' option 'version.cpp' is directly generated by build script without any additional dependency.

[2016-05-19 10:26] seanshpark commented on #5006
For me, it's defined at 'coreclr/src/pal/inc/pal.h' file, line 6067
[code]
and I think `PAL_STDCPP_COMPAT` is not defined for the build, but I can find them in some `.cmake` files.

[2016-05-19 10:30] janvorli commented on #5006
I am sorry for not being clear, I meant where is it defined in the system headers, not in our ones.
The PAL_STDCPP_COMPAT is defined when building several components (debugger stuff / lttng stuff).

[2016-05-19 11:21] leemgs commented on #4558
@mkborg. Thanks. Actually, I have been looking for "skipgenerateversion" option.

[2016-05-19 11:28] schellap commented on #5038
@manu-silicon no need to use CLI. You can take a look at how the dotnet host sets it from its app manifest for the .net core app model and implement something similar.

However, I would suggest porting the CORE_LIBRARIES as it would be a smaller change than go down the app manifest route since your objective is just hooking the native paths.

Here is relevant code:
https://github.com/dotnet/cli/bl

[2016-05-19 11:59] tetious commented on #5006
Here is the result of a grep in /usr/include on my system:

[code]

I think it is interesting that the only clang result is an example. :)

[2016-05-19 13:44] janvorli commented on #5006
Ok, so that would explain why it was not found if the PAL_STDCPP_COMPAT was not defined, since in that case, we don't try to define the min and max. So I wonder if you are hitting the error while building the components that have the PAL_STDCPP_COMPAT defined. Would you mind sharing the build log so that I can take a peek?

[2016-05-19 14:12] RussKeldorph commented on #5090
@dotnet/jit-contrib
@jkotas

[2016-05-19 14:32] Dmitri-Botcharnikov commented on #5037
It seems that problem is with `CLRDATA_ADDRESS_TO_TADDR` (src/debug/daccess/dacimpl.h:57). Although address is valid 32-bit, check fails and calls `DbgAssertDialog` with strange parameters.
[code]

[2016-05-19 14:45] gkhanna79 commented on #3069
This is not a blocker for RTM and can be moved out.

[2016-05-19 15:01] jkotas commented on #5090
This would need to be done completely in the VM. JIT is not involved.

[2016-05-19 15:01] jkotas commented on #5090
This is actually tracked by https://github.com/dotnet/coreclr/issues/1341 already

[2016-05-19 15:01] #5090 closed

[2016-05-19 15:04] janvorli commented on #5037
@Dmitri-Botcharnikov - the address cdAddr is ULONG64 and should be sign extended version of the 32 bit address. So the value that comes in should be 0xFFFFFFFFb6cb3398. Could you please dump the stack when you are at dacimpl.h:58 so that we can find where the address is generated incorrectly?

[2016-05-19 15:14] benaadams opened #5094 "Thread.Yield not available on CoreClr"
It is used for example in `SpinWait` etc however it is not exposed publicly in the api - although it is public

[2016-05-19 15:28] janvorli commented on #5037
I think I can see the problem. From your log above, I can see that the function was called from  ClrDataAccess::GetFrameName which seems to be called from two possible places - src/ToolBox/SOS/Strike/strike.cpp:13408 and src/ToolBox/SOS/Strike/util.cpp:6470. In both cases, the address is not correctly sign extended.
Could you please try to wrap the vtAddr parameter in both of these calls in the TO

[2016-05-19 15:45] dagood opened #5095 "System.Private.CoreLib.dll is not signed or test-signed"
The https://github.com/aspnet/DnxTools/tree/dev/src/NuGetPackageVerifier tool (a prereq for publishing packages) sees that xplat `runtime.*.Microsoft.NETCore.Runtime.CoreCLR` packages contain unsigned or test-signed assemblies:

[code]

/cc @AlexGhiondea @gkhanna79

[2016-05-19 15:49] gkhanna79 commented on #5095
CC @joperezr

[2016-05-19 16:08] JohnChen0 commented on #4897
This appears to be caused by the same underlying issue as #5064, and has been fixed by PR #4519.

[2016-05-19 16:08] #4897 closed

[2016-05-19 16:15] dsyme commented on #4971
@jkotas Thanks for the details.  I have to agree that it's really, really critical for F# on .NET Core to get this sorted out - both "crossgen" and tailcalls on Unix.

Among other things, many parts of the F# compiler toolchain itself depend on indirect tailcalls being taken, especially when processing large inputs.

[2016-05-19 16:48] joperezr opened #5097 "Add Commit Hash to the native binaries"
Tools like `what` and `strings+grep` should be able to get the sync point of when the binaries were built.

[2016-05-19 16:48] joperezr commented on #5097
cc: @gkhanna79

[2016-05-19 18:05] joperezr commented on #5095
x-plat full signing is not supported. In order for this to work, there is a change that we must make in our internal build system, which is what we do for mscorlib x-plat builds. I'll make that change internally.

[2016-05-19 19:09] fadimounir commented on #3689
This issue no longer repros with the latest runtime. Closing.

[2016-05-19 19:09] #3689 closed

[2016-05-19 19:54] #4531 closed

[2016-05-19 20:42] jamesqo commented on #5088
@gkhanna79 Thanks for helping! It seems to be working after I do a clean build :smile:

[2016-05-19 20:42] #5088 closed

[2016-05-19 21:17] gkhanna79 commented on #4070
Bad tests, so moving to post-RTM for cleaning them up.

[2016-05-19 21:18] gkhanna79 commented on #3802
@fadimounir @JohnChen0 Please link your PRs pertaining to the feature with this issue before we close it.

[2016-05-19 21:19] mikem8361 commented on #4798
/cc @noahfalk, @tzwlai

System.Diagnostics.StackTraceSymbols (the code was moved to the System.Diagnostics.StackTrace assembly instead of a new one), is very specialized to the mscorlib’s StackTrace needs, but it can be used as a guide to using the System.Reflection.Metdata portable PDB reader.

The first step and concern is hosting managed code in SOS (the code in coreruncommon.cpp to initialize

[2016-05-19 22:02] gkhanna79 commented on #5060
Please share a repro. We have a test in CoreFX repro (https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Loader/tests/DefaultContext/DefaultLoadContextTest.cs) that does the same thing and your observed behavior has been encountered.

[2016-05-19 23:14] mspandit commented on #4558
To clarify, the workaround seems to be to
`chmod 777 /tmp/NuGetScratch/lock`
and then
`./build.sh skipgenerateversion`

[2016-05-19 23:34] sejongoh opened #5113 "Clean up genClearStackVec3ArgUpperBits"
genClearStackVec3ArgUpperBits can be split and implemented in genFnPrologCalleeRegArgs() for argument registers and genEnregisterIncomingStackArgs() for stack arguments.

Related PR: #4963

[2016-05-20 00:01] leemgs commented on #3977
To All,

Here is another note-taking. I have summarized the unit-test result of coreCLR with Release-build mode on Samsung ARM ChromeBook.  Note that the below result  was executed by **Release-build** mode.

**Before doing the below 3 steps**
[code]

And then, We could get the 67 failures after executing the below 3 steps. In this case, we set the priority 666 (instead of priority 0) to increase

[2016-05-20 00:01] #5035 closed

[2016-05-20 00:17] chunseoklee commented on #5037
For me, wrapping vtAddr with TO_CDADDR enables the range check below get passed, but still does not print properly.
[code]

[code]
For me,  the line 1106 does not excuted at all.

[2016-05-20 00:21] 6bee commented on #919
Where can `PlatformServices.Default.LibraryManager` be found in .NET Core 1.0 RC2?

[2016-05-20 00:29] CarolEidt opened #5116 "Vector<T> constructor not recognized for ubyte, byte, short or ushort"
The entry for .ctor (with a scalar argument) doesn't include ushort, but the other sub-int types are not recognized either, because the arg type is int, and therefore is not considered a match.
I am labeling this "Future" because I don't think these element types get significant use.

[2016-05-20 00:37] benaadams commented on #5116
`char` provides an alas for `ushort`, in a way?

[2016-05-20 00:41] CarolEidt commented on #5116
Oh yes, good point - thanks! It's just not getting matched for the same reason as the others.

[2016-05-20 00:43] janvorli commented on #5037
@chunseoklee maybe adding printf of the targetVtable and the values that the targetVtable is compared to would shed a light on what's going on.

[2016-05-20 00:45] benaadams opened #5117 "How is Server GC set?"
The RC2 templates use:
[code]
The [dotnet cli says](https://github.com/dotnet/cli/blob/master/Documentation/specs/runtime-configuration-file.md#runtimeoptions-section-runtimeconfigjson)
[code]
However, there is nothing in cli for that parsing and the only thing I can find in coreclr is in [mscoree/unixinterface.cpp](https://github.com/dotnet/coreclr/blob/master/src/dlls/mscoree/unixinterface.cpp#L

[2016-05-20 01:03] benaadams commented on #5116
Oh.. actually I'm doing it the other way using `ushort` for `char` as char isn't a vector type: https://github.com/aspnet/KestrelHttpServer/pull/811/files

Doing string operations and initializing with `Unsafe.Read<Vector<ushort>>`

[2016-05-20 01:25] jyoungyun commented on #3977
Two days ago, results.
I run unit tests including test priority 0 and 1 but the failure count is pretty much the same before. :)

Target : Raspberry Pi2
Coreclr Commt id : e78338e (Date:   Tue May 17 17:19:37 2016 -0700)
tc commit id : 4941764c (Date:    Mon May 16 22:46:36 2016 -0700)

[code]

[2016-05-20 01:26] benaadams commented on #5117
Putting them both in for now which generates a `.runtimeconfig.json` of
[code]

[2016-05-20 01:37] benaadams commented on #5117
[code]
Doesn't particularly seem to do anything but the other seems to work
[code]
However does that mean the RC2 templates are wrong?

[2016-05-20 01:56] Maoni0 commented on #5117
@adityamandaleeka made the [change](https://github.com/dotnet/coreclr/commit/1aa1b8ba64365f8b93a505d4f6165c6eaad84a7a)  ~2 months ago that reads System.GC.Server instead of gcServer from the config. You can still specify with the env var complus_gcServer to enable Server GC.

[2016-05-20 02:11] benaadams commented on #5117
@Maoni0 thank you, have raised issue with aspnet tooling https://github.com/aspnet/Tooling/issues/505

[2016-05-20 02:11] #5117 closed

[2016-05-20 02:13] #2329 closed

[2016-05-20 03:01] #4739 closed

[2016-05-20 03:02] yizhang82 commented on #4739
@BruceForstall Thanks! This is very helpful. I've made the fix to avoid passing structs and pass System.RuntimeType instead - making things a lot easier :)

[2016-05-20 03:51] gkhanna79 opened #5119 "Triage Interop tests that use varargs"
They have been baselined in https://github.com/dotnet/coreclr/pull/5075.

[2016-05-20 03:52] gkhanna79 opened #5120 "Triage JIT tests that use varargs"
They have been baselined in https://github.com/dotnet/coreclr/pull/5075

[2016-05-20 03:54] gkhanna79 commented on #4940
Fixed with https://github.com/dotnet/coreclr/pull/5075

[2016-05-20 04:06] gkhanna79 commented on #4940
Reopening to look into this further.

[2016-05-20 04:16] yizhang82 commented on #5119
Close for now. @gkhanna79 Feel free to re-open if you find interop vararg test that need to be disabled. I believe we have none in CoreCLR repo (not a good thing, I know...)

[2016-05-20 04:16] #5119 closed

[2016-05-20 04:19] gkhanna79 commented on #5120
Closing this for now as the fix needs to be reworked.

[2016-05-20 04:30] chunseoklee commented on #5037
@janvorli  This is log for DacGetVtNameW function. I set two breakpoints : beginning of the function and end of the function.
`(*targ + DacGlobalBase()) ` seems to be overflowed. (But I am not accustomed to DAC. )

[code]

[2016-05-20 04:57] #3422 closed

[2016-05-20 08:00] DmitrySikorsky commented on #919
@6bee Take a look at my previous comment. Shortly: DependencyContext.Default.

[2016-05-20 08:28] Dmitri-Botcharnikov commented on #4798
@mikem8361 Thank you very much!

[2016-05-20 08:40] DmitrySikorsky commented on #5060
I've tried to create test project for you (to upload it to Git), but I can't reproduce the bug.

But I still have it in my old test project. Maybe I did something wrong, but it is still strange that project with dot in name can't be loaded while there is no errors if you rename it.

I've uploaded my project here: http://sikorsky.pro/ExtCoreNew.zip

Please take a look at Startup.ConfigureServices.

[2016-05-20 09:31] krytarowski opened #5128 "Robust POSIX mutexes unavailable on NetBSD"
I keep this issue open till will be fixed in NetBSD.

.NET is using them here "Add named mutex for cross-process synchronization ": https://github.com/dotnet/coreclr/commit/249221697fc5cf18c07566bac0e9f0eb6525218a

[2016-05-20 11:31] Dmitri-Botcharnikov commented on #5037
In my environment (Ubuntu/ARM/hardfp) using TO_CDADDR macro solves problem:
[code]
Because in @chunseoklee  environment it still doesn't work I'm not sure that this is enough for PR.

[2016-05-20 11:34] janvorli commented on #5037
@chunseoklee could you please try to do a clean build?

[2016-05-20 12:35] mkborg commented on #4558
The problem with /tmp/NuGetScratch/lock is that NuGet erroneously uses the same directory for all users.

It would be better if NuGet itself removed it on finish -- right now on my Linux that directory contains 7415 useless mostly zero-size several-weeks-old files.

[2016-05-20 12:55] leemgs commented on #4558
@mspandit, @mkborg , Yes. users need to get  their 'tmp' folder instead of the '/tmp' folder to avoid the locking issue, each user can set the below environment variable as following:
vi ~/.bash_profile
export TMP=${HOME}/tmp
OR  export TMPDIR=${HOME}/tmp
OR export TEMP=${HOME}/tmp

[2016-05-20 14:06] davzucky commented on #5006
@tetious and @janvorli,
I think I found the root cause and as you say @Janvorli this is a system problem relate to the update of the gcc package on my system. As Linux is a rolling like type of system it can be hurd by this type of problem earlier.
I ran the below command to downgrad gcc and gcc-lib from 6.1.1.1 to 5.3.0.5 and I'm now able to build again.
[code]
I will have to look at what is the

[2016-05-20 14:25] davzucky commented on #5006
BTW, I had as well to downgrade LLVM to get it working as the new version is build against GCC 6. Run this command as well
[code]
my build still hasn't finished but it's moving forward :-). need to find what change in GCC

[2016-05-20 15:04] adiaaida opened #5130 "RyuJIT x86: Silent bad codegen in stringarr_cs_ro"
Starting with http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x86_ryujit_release_windows_nt/173/ we see a test failure for JIT\Methodical\MDArray\basics\stringarr_cs_ro\stringarr_cs_ro.cmd:

Raw output:
00:57:17   BEGIN EXECUTION
00:57:17          "D:\j\workspace\x86_ryujit_re---d4224ac5\tests\..\bin\tests\Windows_NT.x86.Release\Tests\Core_Root\corerun.exe" stringarr_cs_ro.exe
00:5

[2016-05-20 15:44] RussKeldorph commented on #5120
@gkhanna FYI, I would prefer to have a single change that deletes all the varargs tests at once, so there are fewer places to deal with if we ever bring support for varargs to .NET Core.  I'm fine with an issue like this one to go through all the tests to see if there is anything valuable to bring back separate from varargs, but I think tests should be assumed uninteresting and brought back rather

[2016-05-20 15:47] gkhanna79 commented on #5120
@RussKeldorph I dont have enough context on the tests and their coverage area. Hence, I wanted to disable them for now so that we can get the primary change in and cleanup tests (in a test only change) later.

[2016-05-20 16:04] #5097 closed

[2016-05-20 16:18] sivarv commented on #4893
@sejongoh - this can be closed now?

[2016-05-20 17:31] adiaaida commented on #5130
This is likely the same issue as #4844.

[2016-05-20 17:33] #5130 closed

[2016-05-20 17:33] adiaaida commented on #4844
JIT\Methodical\MDArray\basics\stringarr_cs_ro\stringarr_cs_ro.cmd seems to have the same type of intermittent failure.

[2016-05-20 17:46] joperezr commented on #5095
This has been fixed internally so I'll close this one.

[2016-05-20 17:46] #5095 closed

[2016-05-20 18:06] sejongoh commented on #4893
Fixed by #4963

[2016-05-20 18:06] #4893 closed

[2016-05-20 18:14] SilenceDoGood opened #5134 "System.DllNotFoundException 'api-ms-win-core-processenvironment-l1-1-0.dll'"
Have a test application attempting to use `Directory.GetCurrentDirectory()` from the System.IO assembly. `dotnet restore` finishes completelys with no errors or warnings. When attempting to `dotnet run` the application I get the following exception.

`Unhandled Exception: System.DllNotFoundException: Unable to load DLL 'api-ms-win-core-processenvironment-l1-1-0.dll': The specified module could not

[2016-05-20 18:28] CarolEidt opened #5135 "Vector<T> op_Explicit does not seem to be tested"
This is defined as an intrinsic (in simdintrinsiclist.h) but does not seem to be tested by any of the tests in the JIT/SIMD test directory. Such a test should be added, and it should use the `JitLog` class in VectorUtil.cs to ensure that the intrinsic is recognized appropriately.

[2016-05-20 18:39] rahku commented on #4871
For arm64 ArgLocDesc is only used for ShuffleThunk. ShuffleThunk can add another argument (target object) which would require shifting of arguments. However the shift will never apply for args in FP registers. Therefore there isn't a situation where we need to move FP registers to compacted form on stack or vice versa. So there isn't any work required here.

[2016-05-20 18:39] rahku commented on #4871
FYI @jkotas

[2016-05-20 18:39] #4871 closed

[2016-05-20 18:43] rahku commented on #3717
runtime should already have HFA support. I already made the changes when I did the calling convention work earlier.

[2016-05-20 18:43] #3717 closed

[2016-05-20 18:44] rahku commented on #4647
this has been taken care of.

[2016-05-20 18:44] #4647 closed

[2016-05-20 19:18] leculver commented on #3101
Fixed by https://github.com/dotnet/coreclr/pull/5066.

[2016-05-20 19:34] gkhanna79 commented on #3349
Closing this as invididual issues are tracking the activities.

[2016-05-20 19:34] #3349 closed

[2016-05-20 19:40] gkhanna79 opened #5137 "Reject Vectors during crossgen"
Crossgen does not support Vector assemblies and should not crossgen them.

[2016-05-20 20:01] pgavlin commented on #4913
Closed by #5123.

[2016-05-20 20:01] #4913 closed

[2016-05-20 20:06] JohnChen0 opened #5138 "Malformed recursive generic types can cause CrossGen crash or hang"
Test case `tests/src/Loader/classloader/generics/regressions/DD117522/Test.csproj` contains a malformed infinitely recursive generic type definition. During app execution, this is correctly handled by throwing a `TypeLoadException`. However, CrossGen isn't able to handle this correctly, and either crashes with a stack overflow (on Windows) or hangs (on Ubuntu). This test case is being temporarily

[2016-05-20 20:24] fadimounir commented on #3792
These failures are by design. These tests are not supposed to run the GCStress configuration, because they are testing weak-gchandles (GCStress mode makes the GC aggressively collect dead references, making it impossible for the test to validate the functionality of weak GC handles).

The tests also fail without R2R. This is not a R2R specific issue.

[2016-05-20 20:26] fadimounir commented on #5083
All tests under 'CoreMangLib\cti\system\weakreference' should be excluded somehow from the GCStress run, because they'll keep failing (by-design). (See #3792 for more information).

[2016-05-20 20:32] ramarag commented on #5083
One possible way to achieve this end could be to  set a property which will unset unconditionally the guard variable using the logic like https://github.com/dotnet/coreclr/pull/5028/files#diff-55dc052d26409738efcf7ff51f94d445R26

You could exclude an entire directory and sub directory from there on by adding this property to a dir.props file in that directory

[2016-05-20 20:36] #3101 closed

[2016-05-20 20:37] leculver commented on #1951
Fixed by https://github.com/dotnet/coreclr/pull/5068.

At least, what we intend to do for this release is fixed.  We will be making further improvements in v.next.

[2016-05-20 20:37] #1951 closed

[2016-05-20 20:38] leculver commented on #3421
This will be fixed by https://github.com/dotnet/coreclr/pull/5068 as we've re-written these code paths.

[2016-05-20 20:38] #3421 closed

[2016-05-20 20:46] gkhanna79 commented on #3605
@fadimounir Can you PTAL?

[2016-05-20 20:46] gkhanna79 commented on #3802
Closing since completed! Cheers to @JohnChen0 @fadimounir and @jkotas :)

[2016-05-20 20:46] #3802 closed

[2016-05-20 20:48] RussKeldorph commented on #4794
Update from @swaroop-sridhar:

The problem here is that duriong StackWalking, we run into an invalid frame.

I now know why this is caused, and it appears to be a GCStress specific issue.

The thread suspension routine introduces a RedirectedThreadFrame into the pFrame chain:
[code]
Here’s how the run goes wrong:

* RedirectedHandledJITCase runs on the main thread and spawns off the GC-thread for

[2016-05-20 20:50] gkhanna79 commented on #4940
Fixed with https://github.com/dotnet/coreclr/pull/5124

[2016-05-20 20:50] #4940 closed

[2016-05-20 20:50] gkhanna79 commented on #5120
Disabled tests are in https://github.com/dotnet/coreclr/pull/5124

[2016-05-20 21:02] fadimounir commented on #3605
[Does not repro] Test is passing today in the crossgen-all test pass. No issues found.

[2016-05-20 21:02] #3605 closed

[2016-05-20 21:05] JohnChen0 commented on #3957
This issue no longer repro with the latest code.

[2016-05-20 21:05] #3957 closed

[2016-05-20 21:19] JohnChen0 commented on #3802
For the record, here are the changes and bug fixes associated with this feature:
* #3735: Hashtable of types for R2R modules
* #4556: Ready-to-Run support for generic methods without generic dictionary
* #4738: Fix build break
* #4883: Fix CrossGen to skip some methods that require generic dictionary
* #4932: Fix contract violations in Ready to Run code
* #4945: JIT interface changes needed for up

[2016-05-20 21:54] swgillespie commented on #5083
@ramarag Is this issue for GCStress tests or for long running GC tests and GCSimulator? Or both?

[2016-05-20 21:59] ramarag commented on #5083
Any GC test scenario which is currently reliant on a building test separately, i believe they are :
/p:GCStressLevel=%__GCStressLevel%
/p:GCLongRunning=true
/p:GCSimulatorRun=true

These properties should not be passed to the build, and instead should be passed to the runtest.cmd and runtest.sh

[2016-05-20 22:00] swgillespie commented on #5083
Sounds good!

[2016-05-20 22:37] CarolEidt opened #5141 "Fix and re-enable SIMD log testing for x86"
The JitLog capability added to fix Issue #2554 does not seem to be working on x86.

[2016-05-20 22:41] sergiy-k commented on #5134
/cc @gkhanna79

[2016-05-20 22:51] CarolEidt commented on #5141
This is because jit32 doesn't have the JitFuncInfoLogFile capability. So even RyuJIT/x86, if it falls back to x86 on any of these methods, will fail the test.
So, the issue is to find a way to detect that methods are compiled with a non-RyuJIT backend - or, simply make the test more forgiving in the non-accelerated case.

[2016-05-20 22:56] gkhanna79 commented on #5134
@SilenceDoGood Did you install the .NET Core Shared Framework?

CC @weshaggard

[2016-05-20 23:13] adityamandaleeka commented on #5056
I just fixed the broken RHEL link and checked that all the links work.

As for updating the badge status for jobs that haven't run in a long time, @mmitche, is there something we can do about that? Can we either make those jobs run more frequently (once a week?) or perhaps have some kind of 'stale' badge where we don't claim that the build is passing if it hasn't run for a long time?

[2016-05-20 23:26] adityamandaleeka commented on #3835
Sounds like this has been answered, so I'm closing the issue. Please reopen if necessary.

[2016-05-20 23:26] #3835 closed

[2016-05-20 23:29] adityamandaleeka commented on #4026
@sparkmxx I hope you're able to build now. Since there's been no update on this issue since March, I'm going to close it. Please open a new issue if you're unable to build in the future.

[2016-05-20 23:29] #4026 closed

[2016-05-20 23:33] adityamandaleeka commented on #4407
@masonwheeler Are you still facing this problem?

[2016-05-20 23:40] adityamandaleeka commented on #4358
Closing this issue since, as mentioned above, it's not really runtime-related.

[2016-05-20 23:40] #4358 closed

[2016-05-20 23:44] adityamandaleeka commented on #4362
@jeffschwMSFT I agree with @stephentoub that #3858 should have fixed this. Can we close this issue (unless you're still running into this problem)?

[2016-05-20 23:54] adityamandaleeka commented on #4781
@kvochko Now that #4954 is merged, can this issue be closed, or is there some more work remaining?

[2016-05-21 00:03] pgavlin commented on #4912
Closed by #4990.

[2016-05-21 00:03] #4912 closed

[2016-05-21 02:05] gkhanna79 commented on #3649
I dont believe this is required for RTM, especially since there overall picture for tools in nuget packages is not understood. Please let me know if there are concerns moving this out of RTM.

[2016-05-21 02:07] gkhanna79 commented on #5137
@JohnChen0 Are you planning to bring the fix in next week?

[2016-05-21 04:14] JohnChen0 commented on #5137
This is fixed with PR #5122, which enables CrossGen to correctly compile `System.Numerics.Vectors`.

[2016-05-21 04:15] #5137 closed

[2016-05-21 04:27] mikem8361 commented on #3906
Implemented with PR #5078 and #8670

[2016-05-21 04:27] #3906 closed

[2016-05-21 05:59] hackace1 opened #5147 "It doesn't support keyword Lock key when debugging the clrcore by visual studio"
class sample
    {
        static object o = new object();
        static void Main(string[] args)
        {
            lock (o)
            {
;
            }
      }
   }

If we use the lock and debug sample program above by the steps below through VS , it would got the exception stack below, however it exception wouldn't happen if run the sample.exe by the command directly such corerun.exe samp

[2016-05-21 09:27] GSPP commented on #5000
Maybe add a new `Encoding.UTF8NoBOM` property?

A lot of code *requires* not using a BOM (basically everything that does not write a whole file e.g. serialization and HTML generation). This would be useful and it would clarify that `Encoding.UTF8` does emit a BOM (because why else would there be a second property that says "NoBOM").

[2016-05-21 14:08] jamesqo commented on #4506
IMO I think this should be fixed for .NET Core; this behavior is unintuitive, especially considering the fact that if you cast to `IEnumerable<object>` (or cast to `object[]` from `string[]`, since arrays are covariant) you will get different behavior. This makes it very hard to write correct code.

[2016-05-21 15:28] RussKeldorph commented on #4794
#3896 seems to have made this dramatically easier to repro

[2016-05-21 17:25] OtherCrashOverride commented on #930
Is there source code for it?  Nuget is forbidden in many environments due to security constraints.

Could you provide example code usage of how you envision this working?  Or is the solution still to write two different bindings/assemblies for the same API?

[2016-05-21 17:42] gkhanna79 opened #5149 "Enable overriding of TPA assemblies in AssemblyLoadContext"
Blocked against https://github.com/dotnet/corefx/issues/8755

CC @jkotas @weshaggard @eerhardt @jaredpar

[2016-05-21 20:18] mikem8361 opened #5152 "Fix named semaphore leak on OSX"
Fix the semaphore leak on OSX by changing the dbgshim launch handshake back to the debugger side.

This problem is constantly hit in the lab jobs.

[2016-05-22 02:16] NickCraver opened #5155 "Unhandled exception at 0x00007FFFC6606C2F (coreclr.dll) in dotnet.exe: 0xC0000005: Access violation reading location 0xFFFFFFFFFFFFFFFF"
When trying to run `dotnet test` in the `\Tests.DNX` directory of [this repo](https://github.com/NickCraver/protobuf-net/tree/32eabfd09e1eebe83eefea1a2c8565655227c03d), I get a reproducible `dotnet.exe` crash:

Relevant dissassembly, failing at `00007FFFC6606C2F`:

[code]

I can repro this on every run, but I'm having trouble getting symbols to load for `coreclr.dll`. If someone can give me pointe

[2016-05-22 04:15] RussKeldorph commented on #2454
This test is now passing and has been re-enabled.

[2016-05-22 04:15] #2454 closed

[2016-05-22 04:34] RussKeldorph commented on #2434
This test relies on kernel32.dll.  It should just be deleted unless it provides valuable coverage.

[2016-05-22 04:43] RussKeldorph commented on #2266
@LLITCHEV look into this again if you can.  Intermittent failures on OSX sounds more like some other issues I've heard about than codegen.  I wonder if perhaps this has stopped repro'ing by now.

[2016-05-22 04:51] RussKeldorph commented on #1036
This test is passing and has been enabled since this issue was opened.

[2016-05-22 04:51] #1036 closed

[2016-05-22 13:45] RussKeldorph commented on #3834
Feel free to re-open if you don't consider this answered.

[2016-05-22 13:45] #3834 closed

[2016-05-22 13:56] stephentoub commented on #2266
We disabled the tests in https://github.com/dotnet/corefx/issues/5834 because they were taking out too many runs randomly.

[2016-05-22 14:26] RussKeldorph commented on #2266
@stephentoub Right.  My wondering was was referring to the hypothetical situation of the test actually being run.  Is it worth re-enabling again to confirm?  If the repro rate is low enough, that may be the only practical option.  I believe we should certainly get to the bottom of this before RTM if the test is still failing.

[2016-05-22 14:38] LLITCHEV commented on #2266
@RussKeldorph @stephentoub I think re-enabling the test makes sense. In worse case we will know where we stand.

[2016-05-22 14:50] erikzhang opened #5157 "how to reference xproj in csproj"
How to reference a .NET Core Library (xproj) in a .NET 4.6 project (csproj)?

[2016-05-22 16:25] russellhadley commented on #549
I've got a current prototype of this functionality here:  https://github.com/russellhadley/mcgutils  This will be put up in dotnet repo called jitutils once I do another round of renaming.  The functionality to integrate it to runtest is also inflight on my machine.

[2016-05-22 23:44] chunseoklee commented on #5037
In my hello world example,  "GCFrame" is not printed yet. But, in other rather large example, which is I am now debugging using sosplugin, it works fine.
[code]
It may depend on example code' size or something ?

[2016-05-23 00:51] jasonwilliams200OK opened #5160 "ICU 55 and 57 on Gentoo Linux say: 'ucol_setVariableTop' is deprecated"
@ellismg,

I setup Gentoo [LXC container](https://linuxcontainers.org/) on Ubuntu. The step-by-step guide to setup Gentoo and repro this issue (from scratch to start building CoreCLR) is documented in [this gist](https://gist.github.com/jasonwilliams200OK/1a2e2c0e904ffa95faf6333fcd88d9b8) *(updated this guide with additional steps to build CoreFX native)*.

Failure Message:

[code]

Official docum

[2016-05-23 01:30] jasonwilliams200OK commented on #5006
@juergenhoetzel, @vindicatorr, did you guys experience this error?

[2016-05-23 04:58] pantonis opened #5162 "Windows service"
Is there any windows service template? what is the new namespace of System.ServiceProcess?

Thanks.

[2016-05-23 05:12] myungjoo opened #5163 "Linux/ARM JIT EmitIns Assertion Failure"
[code]

The suspected code is `genCodeForCall:20528`.

[2016-05-23 07:16] leemgs commented on #3805
@brucehoult, Could you append the latest version to your web-server? This version  supports Ubuntu/ARM 14.04 rootfs image (HardFP based) as well as the existing Linux/ARM rootfs image (SoftFP based).

Download the latest version 20160426-1600.4 of Linux/ARM Emulator:
https://onedrive.live.com/redir?resid=C93799B86B006829!192&authkey=!AOqJqWXschsBagI&ithint=file%2cpbz2

[2016-05-23 09:03] brucehoult commented on #3805
@leemgs this URL does not seem to work for me. Also, can you give one like previous that I can wget direct to my server in hosting center, not download to PC and then upload again?

[2016-05-23 09:04] mkborg commented on #3805
Looks like hard FP rootfs in emulator is similar to ordinary cross rootfs created with cross/build-rootfs.sh. Is it somehow different? Is it possible to split emulator into separate hard and soft FP parts to avoid downloading unnecessary one?

[2016-05-23 09:09] mkborg commented on #3805
I would suggest to remove /var/cache/apt/archives/*.deb files and zero-fill empty space in rootfs image to improve compression rate and reduce resulting archive size.

[2016-05-23 09:17] mkborg commented on #3805
Please run 'fsck' on rootfs image to make sure it is error-free:
`fsck.ext4 -yf rootfs-t30.ext4`

Pass 1: Checking inodes, blocks, and sizes
Running additional passes to resolve blocks claimed by more than one inode...
Pass 1B: Rescanning for multiply-claimed blocks
Multiply-claimed block(s) in inode 139043: 557226
Multiply-claimed block(s) in inode 148389: 557226
Pass 1C: Scanning directories for

[2016-05-23 10:25] leemgs commented on #3805
I have uploaded again.

@mkborg , The difference is just debugging packages such as gdb, strace, ltrace

@mkborg , Yes.  We will keep the existing release method. Then, We will upload the hard FP based additional images (e.g., rootfs-u1404.***.ext4)

@mkborg , Thanks, I have recovered filesystem integrity of the image file.

[2016-05-23 10:49] brucehoult commented on #3805
@leemgs new URL? I just get 'The item might not exist or is no longer available"

[2016-05-23 11:41] Dmitri-Botcharnikov commented on #5037
@chunseoklee : do both examples run on the same CoreCLR build? I found that `targetVtable` that passed to  `DacGetVtNameW` should have the same value (for particular build of coreclr) in each call from ClrStack command regardless of managed example. I guess this is because the value of GCFrame vtable is compile time constant. You can check this by setting break on dacfn.cpp:1101 in gdb and issue `

[2016-05-23 11:45] janvorli commented on #5037
@mikem8361 do you have answer for @Dmitri-Botcharnikov's question? To me, it looks like an omission.

[2016-05-23 15:09] RussKeldorph opened #5164 "Program with enabled RyuJit and enabled tail calls optimization produces incorrect result"
From https://github.com/Microsoft/dotnet/issues/295

This code works correctly only when we run it with `<useLegacyJit enabled="1" />`.

[code]
### Compile
`fsc.exe Program.fs --tailcalls+`
### Expected behavior
Output:13
### Actual behavior
Output:1

[2016-05-23 15:11] RussKeldorph opened #5165 "Program with enabled RyuJit and enabled tail cals optimization produces incorrect result"
From https://github.com/Microsoft/dotnet/issues/295

This code works correctly only when we run it with `<useLegacyJit enabled="1" />`.

[code]
### Compile
`fsc.exe Program.fs --tailcalls+`
### Expected behavior
Output:13
### Actual behavior
Output:1

[2016-05-23 15:46] kvochko commented on #4781
@adityamandaleeka There will besome tests coming soon, but I think this issue can be closed. Thanks!

[2016-05-23 15:46] #4781 closed

[2016-05-23 16:15] CarolEidt opened #5166 "JIT is not generating vzeroupper when using AVX on unix"
We are generating the vzeroupper in the `genPreserveCalleeSavedFltRegs` and `genRestoreCalleeSavedFltRegs methods`, but only if we have any callee-save registers, which, of course, we never do on Linux. Those should either be moved before these lines (in both methods):

[code]

Or somewhere else. This is because the vzeroupper instruction is necessary to avoid penalties in the event that the metho

[2016-05-23 16:17] DmitrySikorsky commented on #5060
I've recreated this issue in another environment, so it seems to be actual.

[2016-05-23 16:34] mj1856 commented on #5061
Seems like the tests show that there's a trade off of precision vs throughput.  That alone seems like it should be exposed in a separate API.  After all, Win32 exposed via a new API instead of improving the perf of their existing one, so why would the decision differ here?

Also, if this was done in `UtcNow`, would it need to test if `GetSystemTimePreciseAsFileTime` was available?  If so, wouldn't

[2016-05-23 16:47] tzwlai commented on #3426
[ASP.NET Core RC2] (https://blogs.msdn.microsoft.com/webdev/2016/05/16/announcing-asp-net-core-rc2) is out!  We also have updated the [Web Development Tools] (https://blogs.msdn.microsoft.com/visualstudio/2016/05/16/announcing-updated-web-development-tools-for-asp-net-core-rc2).  Please give it a try.  Note that remote debugging support for Azure Websites will soon follow (in the next few days) in

[2016-05-23 16:47] #3426 closed

[2016-05-23 16:53] cmckinsey commented on #5164
We should add as a unit test. Do we have a dependency on F# fsc.exe checked into github today? Perhaps we can check in as an IL test then.

[2016-05-23 16:53] RussKeldorph commented on #5165
Dupe of #5164.  Unintentionally created.

[2016-05-23 16:53] #5165 closed

[2016-05-23 16:56] RussKeldorph commented on #5164
@cmckinsey Yes, I think the ideal case would be a minimal IL test, which will hopefully fall out of the investigation/fix.  I don't think there are any F# tests in coreclr today.

[2016-05-23 16:56] jeffschwMSFT commented on #4362
I tried with RC2 (2702 on Mac) and it still repros.

[2016-05-23 16:56] RussKeldorph commented on #5164
@dotnet/jit-contrib

[2016-05-23 17:07] gkhanna79 commented on #3022
Moving to 1.1 since this is about disabling warnings.

[2016-05-23 18:08] RussKeldorph commented on #5166
Need to assess perf impact ASAP.

[2016-05-23 19:54] meolafon opened #5168 "ProjectException: "Duplicated source project item""
_(Sorry if it's a wrong repo for this - I could not find more appropriate)_

Trying to run T4 transforms on 'Build' in xproj file.

1)
If "MyTemplate.tt" is inside of project, but not mentioned in xproj file directly, Microsoft.TextTemplating.targets cannot see it:
(output from build)

_....
Target "ExecuteTransformations" in file...
Full list of templates passed in :
1>           {none}
....
1>Do

[2016-05-23 20:10] adityamandaleeka commented on #5160
@jasonwilliams200OK

I just looked at the place where we're calling `ucol_setVariableTop` and it looks like we only do it if the symbol `ucol_setMaxVariable` doesn't exist. You can find the definition of `HAVE_SET_MAX_VARIABLE` in src\corefx\System.Globalization.Native\configure.cmake.

If that symbol does exist and we're still calling `ucol_setVariableTop`, it's possble there's a problem with how

[2016-05-23 20:38] kouvel opened #5169 "Intermittent test failure in paltest_namedmutex_test1"
'paltest_namedmutex_test1' failed at line 610. Expression: !TestFileExists(BuildGlobalShmFilePath(name, NamePrefix))

[2016-05-23 20:57] mikem8361 commented on #5037
I really don't know this code that well, but I agree that we should break out of the loop when we find the vtable.

[2016-05-23 20:59] adityamandaleeka commented on #5162
Hi @pantonis, this question is not related to the runtime and therefore doesn't belong on this repository. If you would like to open an issue about specific framework APIs in .NET Core, please take a look at https://github.com/dotnet/corefx

[2016-05-23 21:41] russellhadley opened #5172 "Add ildasm/ilasm packages in the open."
The ilasm/ildasm tools are ported and working in the open but we need to add them as packages to avoid the need to rebuild them.

[2016-05-23 23:16] #5162 closed

[2016-05-24 00:13] jkotas opened #5174 "Change tests to use one common project.json"
The CoreCLR tests have many local project.json file. To run the tests, we go over all project.json files and copy the dependencies into a single directory. If two project.json files specify different versions of packages, the last one copied wins that may not be the right one. I have run into many problems with mismatched versions while working on https://github.com/dotnet/coreclr/pull/5154

We sh

[2016-05-24 00:13] jkotas commented on #5174
cc @gkhanna79

[2016-05-24 01:05] ellismg commented on #5155
It looks like symbols for RC2 have not made their way to the official symbol severs yet.

I ran this locally and pointed it the private copy of the symbols we have internally:

[code]

@jkotas Do you know who should take a look?

[2016-05-24 01:08] leemgs commented on #3805
I am afraid that I cannot continually upload the files into https://dncorerepo.blob.core.windows.net/armemulator/ because of the new security policy of firewall.

* Download the latest version 20160426-1600.4 of Linux/ARM Emulator:

Default packages: (linux-arm-emulator-20160426-1600.4.tar.pbz2)
https://onedrive.live.com/redir?resid=C93799B86B006829!195&authkey=!AAknnFV-s5CQ05g&ithint=file%2cpbz2

[2016-05-24 02:42] leemgs commented on #1482
@Djuffin , BTW, Can we print  some messages (hint data) via /tmp/clr-debug-pipe-*** ?
For instance, target#> cat /tmp/clr-debug-pipe-<pid>-99999-{in|out}   [enter]
In this case, I could not get any messages.

[2016-05-24 02:54] mikem8361 commented on #1482
Djuffin (Eugene) is no longer at Microsoft anymore.

This name problem with docker has been fixed by adding the creation time to the pipe name (and the named semaphores used in launch/attach in dbgshim). See TwoWayPipe::GetPipeName in twowaypipe.cpp.

[2016-05-24 03:12] ellismg opened #5176 "paltest_mapviewoffile_test1 fails when /tmp is mounted as tmpfs"
I noticed this problem on Fedora 23 (and @pgavlin had been hitting it as well).

This test wants to `open(2)` a file in `/tmp` which on Fedora is mounted as `tmpfs`, which does not support `O_DIRECT` (`O_DIRECT` is passed because the test specifies [FILE_FLAG_NO_BUFFERING](https://github.com/dotnet/coreclr/blob/master/src/pal/tests/palsuite/filemapping_memmgt/MapViewOfFile/test1/MapViewOfFile.c#L4

[2016-05-24 03:13] ellismg commented on #5176
@janvorli Thoughts on the best way to handle this?  I think this means we can't get any coverage of O_DIRECT stuff when we run by default on systems where /tmp is tmpfs.

[2016-05-24 03:14] prajwal-aithal opened #5177 "CMake flags for arm-softfp rootfs (cross build)"
In the `cross/arm-softfp/toolchain.cmake` file, the following code snippet sets the cross link flags
[code]

Shouldn't the path passed to the `-B` flag be as follows?
[code]

@kvochko @ianhays

[2016-05-24 03:15] prajwal-aithal commented on #5177
cc: @jyoungyun @seanshpark @leemgs

[2016-05-24 03:37] jkotas commented on #5155
This looks like a bad IL in the `proto_305` dynamic method:

[code]

It needs to be a constrained. callvirt to be valid IL, something like:

[code]

[2016-05-24 04:08] AndyAyersMS commented on #4605
Verified it's fixed. Thanks all.

[2016-05-24 04:08] #4605 closed

[2016-05-24 04:09] seanshpark commented on #5177
the second line,
[code]
is this ok too?

[2016-05-24 04:36] jasonwilliams200OK commented on #5160
@adityamandaleeka, seems like that's the case. `cmake_symbol_exists` detection for `ucol_setMaxVariable` is failing. From CMakeError.log:

/root/coreclr/bin/obj/Linux.x64.Debug/CMakeFiles/CMakeTmp/CheckSymbolExists.c:(.text+0x19): undefined reference to `ucol_setMaxVariable'

I tried using `cmake_function_exists` (which uses the built in `-DCHECK_FUNCTION_EXISTS`), but got the exact same error. It

[2016-05-24 05:02] #5172 closed

[2016-05-24 05:37] sergiy-k commented on #5160
/cc @ellismg

[2016-05-24 09:38] GSPP commented on #5061
@mj1856 yes, that check would need to be performed and it would likely take like 2 CPU cycles whereas the whole operation takes ~1000 cycles.

Since we can achieve 28 million calls per second I'm personally not worried about performance at all. This is a super fast API.

[2016-05-24 09:57] mkborg commented on #5177
It shall be:
[code]
It perfectly works for both CoreCLR and CoreFX  (see https://github.com/dotnet/corefx/pull/8678).

[2016-05-24 12:57] elangelo commented on #5006
Downgrading gcc, gcclibs and llvm didn't work for me. The suggestion of @janvorli  didn't work for me. But after adding that to palinternal.h the compile seem to work fine.

[2016-05-24 14:09] gkhanna79 opened #5181 "Enable R2R Generics support for Arm platforms"
We need to enable this for both Arm32 and Arm64. I would suggest starting with the latter.

CC @rahku @kyulee1 @jkotas @JohnChen0 @briansull

[2016-05-24 15:08] masonwheeler commented on #5181
What is "R2R Generics"?  Googling turns up nothing relevant.

[2016-05-24 15:14] gkhanna79 commented on #5181
R2R is an acronym for Ready2Run that is described at https://github.com/dotnet/coreclr/blob/775003a4c72f0acc37eab84628fcef541533ba4e/Documentation/botr/readytorun-overview.md.

This change is about enabling certain scenarios for Generics to be represented in R2R images.

[2016-05-24 15:19] masonwheeler commented on #5181
Oh yeah, I vaguely remember reading about this a while back.  Thanks! :)

[2016-05-24 16:06] weshaggard commented on #4980
cc @joshfree @ellismg @ericstj

@NickCraver Thanks for taking the time to post this proposal it is definitely and interesting idea, which I will spend some more time thinking through.

In your original post you hinted that each of these channels would be on their own feed but later in the comments you seem to indicate that they might get mixed across feeds. Correct me if I'm wrong but ultimately I

[2016-05-24 16:32] benaadams opened #5185 "Why doesn't Task.FromResult use cached Tasks"
Like AsyncTaskMethodBuilder?

[2016-05-24 16:37] stephentoub commented on #5185
It was essentially a design decision made so that FromResult behaved like a ctor, where you knew you were always getting back a new instance.  The majority of the times FromResult is used, it would not be able to pull from a cache, and thus it would generally be paying the overhead of accessing the cache even though it would rarely hit.  There are of course a few exceptions to that, like for bools

[2016-05-24 16:40] benaadams commented on #5185
Close #5186 then?

[2016-05-24 16:55] stephentoub commented on #5185
I just tried your PR.  Using Task.FromResult<int> with values other than -8 to 8 got ~25% slower on my machine.  If you believe that the majority of FromResult usage won't hit cached values, e.g. when used in a Stream.ReadAsync, won't be returning that small pool of values, then changing FromResult in this manner is actually a step backward.  We did it for AsyncTaskMethodBuilder because in those c

[2016-05-24 17:04] benaadams commented on #5185
Might be a moot change anyway with arbitrary async returns https://github.com/dotnet/roslyn/issues/10902

[2016-05-24 17:04] #5185 closed

[2016-05-24 17:14] benaadams commented on #5185
Might be a moot change anyway with arbitrary async returns https://github.com/dotnet/roslyn/issues/10902

e.g. not worth trying to investigate whether the caching could be improved for this scenario; as there is a potential better solution already which works with all return values (and it can be cached as you point out for standard ones in user code)

[2016-05-24 18:00] schaabs opened #5188 "SIGSEGV_libcoreclr.so!AllocateObject"
**The notes in this bug refer to the Ubuntu.14.04 dump [wj3wzs5j](https://rapreqs.blob.core.windows.net/bryanar/BodyPart_4fa8883e-f6d9-47b1-9c02-2d1ce6156ddb?sv=2015-04-05&sr=b&sig=UZCJEECgbzT09rj4horT5AyCQWb%2FtHO87O0J7euBYbg%3D&st=2016-05-20T21%3A11%3A44Z&se=2017-05-20T21%3A11%3A44Z&sp=r).  Other dumps are available if needed.  To repro this issue you will likely have to disaable the oom killer,

[2016-05-24 18:27] sergiy-k commented on #5188
@janvorli, could you please take a look?

[2016-05-24 18:58] jasonwilliams200OK commented on #5181
This abb can probably go in glossary. There is ReadyToRun, could be appended with `(R2R)`? https://github.com/dotnet/coreclr/blob/775003a4/Documentation/project-docs/glossary.md

[2016-05-24 19:20] schaabs opened #5193 "SIGSEGV_libcoreclr.so!CMiniMdBase::CMiniMdBase"
**The notes in this bug refer to the Ubuntu.14.04 dump [24117-00_0149](https://rapreqs.blob.core.windows.net/bryanar/BodyPart_6ec34e5c-7cc1-47b5-b971-f565e2374dd3?sv=2015-04-05&sr=b&sig=GxEr2YwPR1bwRh5J%2BTvhOBwuKPWkrbXgp1PxX3VRkwg%3D&st=2016-05-20T20%3A45%3A52Z&se=2017-05-20T20%3A45%3A52Z&sp=r).  Other dumps are available if needed.**

    STOP_REASON:
    SIGSEGV

    FAULT_SYMBOL:
    libcorecl

[2016-05-24 19:49] schaabs opened #5194 "SIGSEGV_HEAPCORRUPT_libcoreclr.so!MethodTable::SanityCheck"
**The notes in this bug refer to the Ubuntu.14.04 dump [24117-00-1_0060](https://rapreqs.blob.core.windows.net/bryanar/BodyPart_f94f3cea-b93e-4748-8bd9-921ee9848e0b?sv=2015-04-05&sr=b&sig=MBsuTkwIn%2BTbdqooVAgAC8AqvabzFMt9fBNVTR3iuos%3D&st=2016-05-20T22%3A44%3A58Z&se=2017-05-20T22%3A44%3A58Z&sp=r).  Other dumps are available if needed.**

**This is a heap corruption bucket that has many hits, but

[2016-05-24 21:02] JeffCyr opened #5195 "Add support for memory alignment"
There are some optimizations not available with managed code in .Net because there are currently no ways to specify a memory alignment greater than the pointer size:

- CompareExchange of Int64 in x86 process when the underlying OS is 64bit (See discussion in issue #2383)
- CompareExchange 128bit
- Cache line alignment optimizations

I have no idea if this is easy or hard in the current coreclr de

[2016-05-24 21:29] tannergooding commented on #5195
@JeffCyr, what about `[StructLayout(LayoutKind.Sequential, Pack = 16)]` (types are in the `System.Runtime.InteropServices` namespace)?

[2016-05-24 21:30] joperezr commented on #1541
@joshfree I believe this issue and #1040 are to infrastructure very related to coreclr as opposed to the general infrastructure for our repos which is what I work own. @gkhanna79 should somebody on your team work on these instead?

[2016-05-24 21:31] wtgodbe opened #5198 "Add functionality to sync.cmd to allow packages to be downloaded from Azure blobs"
We need this so that after all packages are built on all the different OS's, we can sync them on to one machine and publish them to the myget feed.

[2016-05-24 21:31] wtgodbe commented on #5198
https://github.com/dotnet/coreclr/pull/5197 should resolve this.

[2016-05-24 21:38] wtgodbe opened #5200 "Port UpdatePublishedVersions.ps1 from corefx to coreclr"
We need this script to update info in the Versions github repo when we publish packages to myget.

[2016-05-24 21:38] wtgodbe commented on #5200
https://github.com/dotnet/coreclr/pull/5199 should resolve this

[2016-05-24 21:40] adityamandaleeka commented on #5168
@davidfowl Can you route this to the right person?

[2016-05-24 21:42] JeffCyr commented on #5195
@tannergooding The Pack parameter won't affect the base address of the object.

[2016-05-24 21:42] adityamandaleeka commented on #4749
@SamuelEnglard. This issue belongs on the aspnet/DNX repo. However, DNX has been deprecated/retired in favor of .NET CLI so I'm not sure anyone would be able to address DNX issues.

[2016-05-24 21:43] #4749 closed

[2016-05-24 21:44] janvorli commented on #5194
@kouvel this might be related to what I've fixed in https://github.com/dotnet/coreclr/pull/5183 (just checked that in)

[2016-05-24 21:45] adityamandaleeka commented on #5157
@davidfowl Can you get this to the right person?

[2016-05-24 21:52] livarcocc opened #5201 "Crash with crossgen'ed CLI SDK"
The issue doesn't repro with `COMPlus_ZapDisable=1`and see below for the stack trace.

This contains the CLI SDK binary drop:
`\\scratch2\scratch\licavalc\crossgen\stage2.zip`
This contains the crash dump:
`\\scratch2\scratch\licavalc\crossgen\task.mdmp`

Clone https://github.com/livarcocc/cli-1/tree/clean_up_after_rc3.

Build this repo by doing build.cmd at root in a windows box.

The dotnet-buil

[2016-05-24 22:04] gkhanna79 commented on #5201
@livarcocc Is this blocking RTM?

[2016-05-24 22:04] gkhanna79 commented on #5201
@JohnChen0 Can you PTAL?

[2016-05-24 22:10] JohnChen0 commented on #5201
I'm investigating.

[2016-05-24 22:14] janvorli opened #5202 "Limit exports of the jitter shared library"
As for now, the jitter shared library exports all symbols on Unix, including everything from PAL. In total, there are 3619 exports. We need to limit those to the necessary exports only, like we do for libcoreclr. See the generate_exports_file usage and --version-script / -exported_symbols_list linker options in src/dlls/mscoree/coreclr/CMakeLists.txt.

`nm -D libclrjit.so | grep " T " | wc -l`
361

[2016-05-24 22:18] pgavlin commented on #5202
cc @russellhadley @RussKeldorph

We probably want to get this done for RTM.

[2016-05-24 22:23] RussKeldorph commented on #5202
Agreed.

[2016-05-24 22:48] gkhanna79 commented on #3019
@jhendrixMSFT Can this be closed or is there anything outstanding?

[2016-05-24 22:49] jhendrixMSFT commented on #3019
@gkhanna79 This is now complete.

[2016-05-24 22:49] #3019 closed

[2016-05-24 23:04] RussKeldorph commented on #5174
Superset of #3396?

[2016-05-24 23:10] gkhanna79 commented on #4321
@wtgodbe Should this be closed now?

[2016-05-24 23:12] wtgodbe commented on #4321
Indeed it should.

[2016-05-24 23:12] #4321 closed

[2016-05-24 23:13] gkhanna79 commented on #3643
Closing since all associated work is complete.

[2016-05-24 23:13] #3643 closed

[2016-05-24 23:25] #5200 closed

[2016-05-24 23:25] #5198 closed

[2016-05-25 00:13] RussKeldorph commented on #5134
Not sure it's the same issue, but something that looks like this is causing thousands of failures in our test passes, e.g. http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/checked_ubuntu_tst/645/testReport/.  Particularly interesting that what appear to be windows-specific DLLs are being referenced on non-windows.

[2016-05-25 02:23] #5009 closed

[2016-05-25 03:21] sergiy-k commented on #5169
Fixed by https://github.com/dotnet/coreclr/pull/5170

[2016-05-25 03:21] #5169 closed

[2016-05-25 06:56] manu-silicon commented on #4880
Actually I got this assert violation on Linux x86-64 too:

Program received signal SIG34, Real-time event 34.
0x00007ffff5e117db in Object::GetMethodTable (this=0x7fff581faba0) at /home/Microsoft/coreclr/src/vm/object.h:247
247             _ASSERTE((dac_cast<TADDR>(m_pMethTab) & MARKED_BIT) == 0);

Unfortunately it was under gdb, so I cannot tell in which part of my managed code it was.

[2016-05-25 08:13] DmitrySikorsky commented on #5060
So, you can run this sample: https://github.com/ExtCore/ExtCore-Sample. Before running please run gulp task (it will copy extensions dlls to the Extensions folder, or you can do that manually). You will have assembly load error. If you rename the extensions projects to have names without dots they will be loaded with no problems. Here you can find how the assemblies are loaded: https://github.com/

[2016-05-25 08:20] mkborg commented on #3977
@leemgs

Where did you put those managed stuff?
How did you run tests using those files?

[2016-05-25 13:14] leemgs commented on #3977
I had got the managed stuffs by building coreFX source on Ubuntu 14.04 X64.

* Before: --coreFxBinDir="../corefx.bin/AnyOS.AnyCPU.Release"
* After: --coreFxBinDir="../corefx.bin/Linux.AnyCPU.Release;../corefx.bin/Unix.AnyCPU.Release; \
          ../corefx.bin/AnyOS.AnyCPU.Release"

[2016-05-25 13:19] mkborg commented on #3977
I will try it.

[2016-05-25 13:34] leemgs commented on #3977
If you can, I recommend that you also try to check the different ARM unwind methods (e.g., UNW_ARM_UNWIND_METHOD=1|2|...|255)

* https://wiki.linaro.org/KenWerner/Sandbox/libunwind

[2016-05-25 13:53] gkhanna79 opened #5213 "Reset CoreCLR nuget package version to be 1.0.2 (instead of 1.0.3)."
This was introduced in https://github.com/dotnet/coreclr/commit/3fd0bcbb2717fe5944a808b8a2324807ad406e18#diff-56e260e2165edb286c148b56e11191fe.

Please fix all the individual Nuget package versions and the outer container package version.

@AlexGhiondea  PTAL

CC @ericstj

[2016-05-25 14:22] #5177 closed

[2016-05-25 14:38] gkhanna79 commented on #5201
@JohnChen0 Anything interesting?

[2016-05-25 14:55] JohnChen0 commented on #5201
Still investigating. The existing crash dump wasn't helpful, but now I have a local repro.

[2016-05-25 15:50] tzwlai commented on #1146
We are in the process of open-sourcing the repo containing MDbg and all of our tests, but it may not make it by RTM.

[2016-05-25 15:50] tzwlai commented on #1145
We are in the process of open-sourcing the repo containing MDbg and all of our tests, but it may not make it by RTM.

[2016-05-25 17:37] RussKeldorph commented on #5135
Not blocking RTM.

[2016-05-25 17:53] lt72 commented on #3709
We have dev-time automation available through the CLI performance tests. We will not cover anything but execution speed in the RTM time frame, and stretch goal is to automate such tests as part of Jenkins functional tests run for JIT.

[2016-05-25 17:57] lt72 commented on #3708
This is completed with standing up stress for Windows/Linux using CoreFX tests (and CoreCLR tests for Windows, Linux is underway) against .Net Core.

[2016-05-25 17:57] #3708 closed

[2016-05-25 18:28] joshfree opened #5222 "CoreCLR /release/1.0.0 CI is broken (missing several fixes)"
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/release_1.0.0/job/checked_osx_tst_prtest/lastCompletedBuild/testReport/

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/release_1.0.0/job/debug_centos7.1_prtest/10/testReport/junit/threading/NamedMutex/test1/

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/release_1.0.0/job/checked_ubuntu_tst_prtest/lastCompletedBuild/testReport/

[2016-05-25 19:56] RussKeldorph commented on #4548
Should not have been closed, just moved to Future.

[2016-05-25 20:06] adityamandaleeka opened #5223 "Change how we determine that concurrent GC was "forced""
The CLRConfig DWORD value for concurrent GC is different from most other DWORD CLRConfig values. Rather than treating 0 as false and anything else as true, it encapsulates three states:

- Negative number: true (-1 is the default)
- Zero: false
- Positive number: very true (the user _really_ wants concurrent GC)

Because the logic in  `GetKnobBooleanValue(LPCWSTR name, const CLRConfig::ConfigDWORD

[2016-05-25 20:38] mmitche commented on #3918
This is fixed now

[2016-05-25 20:38] #3918 closed

[2016-05-25 20:50] kouvel commented on #5194
@schaabs this looks like a release build, but I don't see the symbol files in the zip. Do you happen to have those?

[2016-05-25 21:15] stevenscreek opened #5226 "TimeZoneNotFoundException not exposed, yet thrown by public api"
TimeZoneInfo.FindSystemTimeZoneById throws TimeZoneNotFoundException in several cases.  However, as TimeZoneNotFoundException is not an exposed api point, this leaves callers without many alternatives other than simply catching Exception.

[2016-05-25 21:44] ellismg commented on #5222
My recent PR was clean.  This should be resolved.

[2016-05-25 21:44] #5222 closed

[2016-05-25 21:52] adityamandaleeka commented on #5226
@eerhardt

[2016-05-25 21:54] eerhardt commented on #5226
Looks like a dupe of https://github.com/dotnet/corefx/issues/7552

[2016-05-25 22:43] gkhanna79 opened #5229 "WinMD Adapter should lookup mscorlib as CoreLib Reference"

[2016-05-25 22:51] adityamandaleeka commented on #5226
Yup. @stevenscreek thanks for reporting this. Since it's already being tracked in https://github.com/dotnet/corefx/issues/7552, I'm going to close this issue.

[2016-05-25 22:51] #5226 closed

[2016-05-25 22:53] stevenscreek commented on #5226
Thanks!  I looked here for dups, but next time I look in corefx too.

[2016-05-25 23:01] swgillespie commented on #5134
I'm also seeing this issue in the CI: http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x64_release_ubuntu_gcsimulator_tst/4/console

[2016-05-25 23:07] #5213 closed

[2016-05-25 23:41] chadwackerman opened #5232 "Parallel.ForEach on Mac seems to have no limit"
I have a simple app that spins up command line executables via Microsoft.DotNet.Cli.Utils Command.Create()/Execute().

On Windows it seems to do the right thing. On an 8 core machine it creates 8-14 processes.

On a dual-core Mac it created over 90 processes before the machine started to tip over. Most showed no scheduling at all (not even 0%) in Activity Monitor.

[2016-05-25 23:48] weshaggard commented on #5134
@russellhadley @swgillespie that tells me that you guys are trying to run some windows libraries on those OS's and it is most likely a configuration issue.

[2016-05-25 23:50] weshaggard commented on #5134
@SilenceDoGood what OS are you running on?

[2016-05-26 00:05] stephentoub commented on #5232
If you don't specify a MaxDegreeOfParallelism via a ParallelOptions passed to Parallel.ForEach, there is no maximum.  ForEach will essentially rely on the thread pool to manage the number of threads involved, by creating a task which, when executed, will create another task, and so on.  A task will run one or more iterations, and then if there's still work to do, will queue a replica of itself and

[2016-05-26 00:36] RussKeldorph commented on #5134
My problem was cause by runtest.sh fragility combined with a recent CoreFx change.  It was fixed by a19e82fe9e7ae44136ce7eee5892de7471533d6b.  It may not be related to other people's experiences.

[2016-05-26 02:04] eerhardt commented on #5226
I agree it is confusing.  Types that are in mscorlib kind of live in both repos.  The public contract is in corefx, and the implementation is in coreclr.

No worries about the dupe. Hopefully this bug gets fixed soon and people won't hit this anymore. :smile:

[2016-05-26 02:13] kouvel commented on #5194
So far:
- Checked the stress log and I can't find any of the relevant pointers here in the log
- Tried for a repro with debug and release bits, stress run finished successfully

I'll try a longer run to see if it repros. Any other ideas? @janvorli is there anything I can look for in a dump to see if it's the same issue that you have fixed?

[2016-05-26 03:12] chadwackerman commented on #5232
The Mac is indeed a slower machine but it's pretty basic file processing on SSD. It's the heuristic that I'm questioning. The Mac spins up files sensibly until the last one gets no CPU. Then it creates a storm of starved processes, much like you predict -- but not what I'd expect.

Some of these processes are CPU bound, others are network bound, a few are potentially disk bound. On Windows I just

[2016-05-26 03:19] stephentoub commented on #5232
What is the body of the loop doing?  Just launching a process and then blocking waiting for that process to complete?  If so, Parallel.ForEach has no knowledge of the other processes: all the thread pool sees is that it's blocked waiting for something, and even if it was able to monitor CPU usage by its own process, network usage by its own process, etc., that wouldn't matter, as it's blocking wai

[2016-05-26 04:23] myungjoo commented on #3977
#5087 is tested to resolve 5 failed ARM/Linux test cases (PR0)

[2016-05-26 06:29] chadwackerman commented on #5232
Thank you for the detailed response. I researched the history of this going back to .NET 2.0 SP1 when the default changed from 25 threads per CPU to 250 per a Joe Duffy blog post. I've also seen quotes of 100/core, 20/core (in source code) and an assortment of other numbers where people are confused with the ASP.NET pool.

I also poked around in Mono to see what they did -- the default was 1 per C

[2016-05-26 12:30] mkborg commented on #3805
Last time when I was downloading emulator I got truncated file. It happened because download process was unexpectedly interrupted without warning.
Next time please provide file size and some checksum for us to check if download was successful.

[2016-05-26 12:55] leemgs commented on #3805
@mkborg , No problem. Thanks.

[2016-05-26 14:31] TrexinanF14 commented on #4362
I have a very similar app using newtonsoft.json and it repros, I'm on build 2872 of the cli (win-64).

[2016-05-26 15:20] RussKeldorph opened #5241 "[RTM] Interop\ICastable\Castable\Castable.cmd CONTRACT VIOLATION by ReadyToRunInfo::TryLookupTypeTokenFromName"
Platform: Windows x64
**set COMPlus_GCStress=3**
[code]

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/release_1.0.0/job/x64_checked_windows_nt_gcstress0x3/1/testReport/Interop/_ICastable_Castable_Castable_/_ICastable_Castable_Castable_cmd/

[2016-05-26 15:22] RussKeldorph commented on #5241
@gkhanna79 @JohnChen0 @fadimounir FYI

[2016-05-26 15:46] dagood commented on #4091
The first challenge here is to find a way to associate a `.so`/`.dylib` file with a package id and version. I see a few options:

1. Read the `<project-name>.deps.json` file.
  * It looks like we can rely on this being in the publish dir: https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/specs/runtime-configuration-file.md
2. Add some extra metadata to each package that publishes into the

[2016-05-26 15:48] gkhanna79 commented on #5241
@RussKeldorph Does this repro in master as well or just release? @fadimounir Can you PTAL at this today?

[2016-05-26 15:53] RussKeldorph commented on #5241
@gkhanna79 I don't know.  I kicked off build 12 at http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x64_checked_windows_nt_gcstress0x3/ in case it will help answer that.

[2016-05-26 16:34] lt72 opened #5242 "Enable heap dump on Linux for memory investigations and general profiling"
This feature already exists on Windows, and we need to finish adding it to Linux

BENEFITS: Will enable memory investigations internally and at the customer site

[2016-05-26 16:43] RussKeldorph opened #5243 "[RTM] CoreMangLib\cti\system\weakreference\WeakReferenceXXX tests failing under GCStress"
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/release_1.0.0/job/x64_release_windows_nt_gcstress15_pri1r2r/2/testReport/
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x64_release_windows_nt_gcstress15_pri1r2r/465/testReport/

[2016-05-26 16:43] adiaaida commented on #4168
The following check ins have been made thus far for this issue:

#4965: Disabling RegPairs for x86 RyuJIT
#5184: Enabling FEATURE_MULTIREG_RET for x86 RyuJIT, enabling var = call for calls with long return types

Currently working on codegen calls with long return types for x86 RyuJIT

[2016-05-26 16:50] RussKeldorph commented on #5243
Dup of #3792

[2016-05-26 16:50] #5243 closed

[2016-05-26 16:54] RussKeldorph commented on #3792
These are still failing (see failures in #5243).  These tests need to be disabled for GCStress.  Add <GCStressIncompatible>true</GCStressIncompatible> property to the test's project file.

[2016-05-26 17:05] brthor commented on #4091
Why must this be a bash script?

[2016-05-26 17:10] dagood commented on #4091
It doesn't have to be, but it seems to me like the easiest way to get this done with the bare minimum dependencies. We could compile some tool for each platform instead, or use some higher-level thing that we can depend on. (Not managed code, because if we need symbols that might mean the runtime isn't working.)

[2016-05-26 17:21] RussKeldorph opened #5245 "[RTM] R2R GCStress jobs on Unix aren't actually running under GCStress"
This line: https://github.com/dotnet/coreclr/blob/master/tests/src/CLRTest.Execute.Bash.targets#L22 is using
[code]
Which has no effect on Unix because environment variables are case sensitive.  Proper capitalization is
[code]

[2016-05-26 17:22] kouvel opened #5246 "Shm directory creation for named mutexes has a race"
Creating a directory involves mkdir and chmod. Due to this, there could be a race where one process running as one user creates the directory but does not update permissions for all uses to have access, and at that point another process tries to use the directory.

[2016-05-26 17:23] #5246 closed

[2016-05-26 17:34] #4946 closed

[2016-05-26 17:34] gkhanna79 commented on #5245
@ramarag Can you please drive the fix for this today and also take it to shiproom?

[2016-05-26 17:43] weshaggard commented on #4366
I chatted with @gkhanna79 and for 1.0 rtm we are going to continue to have the Api-set package referenced from the runtime.

[2016-05-26 17:57] SilenceDoGood commented on #5134
@weshaggard  This was being executed on Mac OS X 10.10.
@gkhanna79  I'm not sure to be honest, I went through the RC2 setup on the machine and installed dotnet though brew, if the Shared Framework is included in that installation process, then yes, otherwise no.

I was able to resolve the exception by changing the System.IO dependency to a different version. It seems as though some of the NuGet pa

[2016-05-26 17:57] #5134 closed

[2016-05-26 18:12] weshaggard commented on #5134
@SilenceDoGood good that you got this working. I didn't even notice until now you were mixing in some older beta packages which might cause errors like this to pop out. For reference try to use RC2 corefx package versions https://github.com/dotnet/versions/blob/master/build-info/dotnet/corefx/release/1.0.0-rc2/Latest_Packages.txt and hopefully that will help you have a more consistent set.

[2016-05-26 18:59] adityamandaleeka commented on #5223
The RTM PR for this was #5234, and it's been merged. Closing this issue.

[2016-05-26 18:59] #5223 closed

[2016-05-26 19:19] halter73 commented on #5116
@CarolEidt Does this mean that `Vector<byte/short>` operations aren't properly hardware optimized?

`Vector<byte>` is used pretty heavily by Kestrel.

[2016-05-26 19:20] LLITCHEV opened #5250 "Add support to the CI system for r2r jitstress tests"

[2016-05-26 19:21] LLITCHEV commented on #5250
Fixed by 5235

[2016-05-26 19:21] #5250 closed

[2016-05-26 19:21] CarolEidt commented on #5116
Yes, that's the case. I hadn't realized that Kestrel was using these heavily - so perhaps this should be bumped up in priority.

[2016-05-26 19:26] benaadams commented on #5116
Is it just the scalar .ctor that's not hardware accl or other operations also?

[2016-05-26 19:30] CarolEidt commented on #5116
It is just the constructor. I found this while working on #2554.

[2016-05-26 20:22] #5229 closed

[2016-05-26 20:43] janvorli commented on #5188
@schaabs What is the configuration of the machines that we use to run the stress test? I was trying to repro it on my physical linux box with 24GB RAM and 8 cores and I am unable to repro it. So I think I need to limit the memory somehow.

[2016-05-26 21:06] janvorli commented on #5176
@ellismg I am sorry for a late reply, I have actually written it the day before yesterday and then got distracted and didn't push the comment
I've found an interesting thread discussing O_DIRECT vs tmpfs:
https://lkml.org/lkml/2007/1/4/55
But I have a question - I don't see the test to access /tmp directly, but rather open just "test.tmp". Do we put the test binaries into the /tmp?

[2016-05-26 21:11] ellismg commented on #5176
When I looked at it, it seemed like the CWD when the test was run was a folder in /tmp.

[2016-05-26 21:17] jamesqo opened #5258 "[docs] More prominently featuring the RyuJIT configuration knobs"
To view the disassembly of a fresh build of CoreCLR, you have to do the following steps:

- Make a new .NET Core application (`cd foo && dotnet new`)
- Do a `dotnet publish -c Release` to produce a standalone app
- Overwrite the CLR dlls with your locally-built ones (I made a [shell script](https://gist.github.com/jamesqo/4751c2b5c7dc8c5b06f77a3f8766f88f) to automate doing this, as they are overwr

[2016-05-26 21:23] AndyAyersMS commented on #5258
Most of these will require checked or debug builds of the jit.

The script that produces the automatically formatted knobs md file probably won't see the Jit config values anymore. They now are defined in src\jit\jitconfigvalues.h.

[2016-05-26 21:24] pgavlin commented on #5202
Closed by #5248.

[2016-05-26 21:24] #5202 closed

[2016-05-26 21:30] janvorli commented on #5176
I can see it now - we use /tmp so that we can run multiple runs of the tests in parallel.
One option to fix the problem is to modify the test to create the file /var/tmp instead of /tmp. The /var/tmp is a real filesystem and so it should not have the problem of the tmpfs. Or we may change the runpaltests.sh to use /var/tmp instead of /tmp for all tests.

[2016-05-26 21:34] ellismg commented on #5176
The other option (and I'm not sure if it's preferable or not) is to just use $TEMP if it is set instead of /tmp and we could have our builds set $TEMP to some non tmpfs thing (I guess by default /var/tmp persists across reboots which may mean we should be more careful about dropping files there?)

[2016-05-26 21:34] jamesqo opened #5259 "[docs] References to dnx should be removed"
In the "Get .NET Core" section of the [Documentation README](https://github.com/dotnet/coreclr/tree/master/Documentation#get-net-core), we still link to DNX as the primary way of getting .NET Core. These documents should probably be removed, and replaced with a link to https://dotnet.github.io.

Likewise, I'm not sure how valuable the "raw" instructions for Windows are anymore-- as far as I can se

[2016-05-26 21:38] jamesqo commented on #5258
@AndyAyersMS Ah yeah I forgot to mention that too, I overwrote my binaries with a Debug build of the jit. :+1:

[2016-05-26 21:43] sergiy-k commented on #5176
Running multiple tests in parallel is not the reason why tests are running in /tmp. We use to not run tests in the /tmp folder but that was causing some failures due to other file system issues. Please take a look at this commit: https://github.com/dotnet/coreclr/commit/e0c013e2af50bace4004e856cba67fcbec01fc00

[2016-05-26 21:43] janvorli commented on #5194
@kouvel You can try to run the "sos VerifyHeap" to see all the corrupted objects in the heap. You can also try to use the sos histXXX commands. I would try to find the address of the object ('this') in Object::ValidateInner, see if that object has a reasonable address. Then run histobjfind with the object as a parameter. If you are lucky, you'd get a history showing the roots. Then use histroot on

[2016-05-26 21:44] sergiy-k commented on #5188
Yes, @schaabs told me that this failure was from a stress run that was executed on a misconfigured VM that had low resources.

[2016-05-26 21:47] schaabs commented on #5194
@kouvel I don't have the symbols for the dump mentioned in this bug.  Unfortunately, they were deleted from the build drop before we triaged it.  I have a couple of new runs I'm triaging today.  If I get a repro I'll get you a dump with symbols.

[2016-05-26 21:49] schaabs commented on #5188
@janvorli @sergiy-k The VM wasn't really misconfigured just smaller than the typical stress VMs we use.  The machine was a 7GB 2Core Ubuntu VM with the following settings in sysctl.conf

vm.oom-kill = 0
vm.overcommit_memory = 2

[2016-05-26 21:54] janvorli commented on #5188
I have tried to set vm.oom-kill, but when I run `sudo sysctl -p` to make the changes active, it complains that 'sysctl: cannot stat /proc/sys/vm/oom-kill: No such file or directory'.
The other option works fine, so I think that the oom-kill is no longer supported or something.

[2016-05-26 22:20] schaabs commented on #5188
vm.overcommit_memory=2 should be all you need

[2016-05-26 23:27] Priya91 opened #5264 "Regressions.XunitWrapper tests failing in Windows_NT x86 ryujit Checked Build and Test"
Full log [here](http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x86_ryujit_checked_windows_nt_prtest/823/consoleFull)

This is calling failures in all PRs.

[2016-05-26 23:44] sergiy-k commented on #5264
@briansull, I think the failures on are caused by your change https://github.com/dotnet/coreclr/pull/5196

[2016-05-27 00:15] sivarv commented on #4548
The failing test has the following tail call pattern

Tail.call
Pop
Ret

This tail call pattern is supported only on amd64 for Legacy Jit64 compat reasons and not supported on x86.  For that reason I would expect this test to fail with InvalidProgramException on x86/Arm32.

[2016-05-27 00:19] CarolEidt commented on #1714
We should probably step back and consider whether there are any other seemingly commutative binary operators that should not be considered commutative for Vectors. I'm a little concerned about doing something non-standard, yet also concerned about doing something more costly - I believe that the behavior @mikedn describes for ARM Neon's VMAX is arguably the correct behavior, but would be more cost

[2016-05-27 00:20] briansull commented on #5264
@sergiy-k I think that you are right.
I will investigate this and try to fix it

[2016-05-27 00:47] gkhanna79 commented on #5149
Fixed with the PR merged.

[2016-05-27 00:47] #5149 closed

[2016-05-27 01:16] mikem8361 opened #5268 "The debugger tests (mostly) failure OS X."
A majority of the debugger tests failure on OS X, but not on Linux since the JIT was put into a separate module with its own PAL.

[2016-05-27 01:54] sergiy-k commented on #5245
Fixed by https://github.com/dotnet/coreclr/pull/5255

[2016-05-27 01:54] #5245 closed

[2016-05-27 05:34] JohnChen0 commented on #5201
This has been fixed with PR #5262. I have verified the fix with a private build.
@livarcocc Please verify when an official build with the fix becomes available.

[2016-05-27 05:46] gkhanna79 commented on #5201
@JohnChen0 Thanks for driving the fix John. Can you also prepare the fix for release branch port?

[2016-05-27 06:38] ellismg commented on #4987
Cool.  I agree we are on the same page.

[2016-05-27 07:10] JohnChen0 commented on #5201
Prepared PR #5272 for release branch port.

[2016-05-27 07:34] erozenfeld commented on #5164
I found the root cause of this bug and have a fix. I'll have a PR ready next week. The short story: a struct passed to a tail call via helper needs to live on the caller's frame and not on the caller caller's frame since it may be overwritten if the caller caller's frame is reused for the tail call.

[2016-05-27 09:35] myungjoo opened #5273 "ARM/Linux smallbin double linked list corrupted"
With some serious demo .net apps running on ARM/Linux, we are now seeing
issues that may imply that there is a memory leak or incorrect pointer usage in CoreCLR.

One instance of such is the following message from CoreCLR:
[code]

I'm not sure whether this is being originated by another seemingly cache coherency (between data and instruction cache) issue (@parjong is going to write a report soon),

[2016-05-27 10:10] seanshpark commented on #4672
Seems working now.

[2016-05-27 10:10] #4672 closed

[2016-05-27 10:11] seanshpark commented on #5037
@chunseoklee , ok to close?

[2016-05-27 12:48] papaslavik opened #5274 "[ARM/Linux] dblarray3 tests failures"
While comparing tests running on arm and arm-softfp we encountered an issue with dblarray3 related tests. E.g. JIT.Methodical.doublearray.dblarray3_cs_d.dblarray3_cs_d

All the tests fail in the same code in the function f2a() - the generation appears to be equal to 1
and the exception is thrown after the check
if (GC.GetGeneration(arr) != 0)

The issue is somehow random - it depends on the instan

[2016-05-27 13:05] papaslavik opened #5275 "[ARM/Linux] ARM-softfp delegate code generation issue"
Update:

the issue in fact occurs in delegate code generation, and this small example shows the problem:

[code]

What follows below is my initial description of the issue.

Testing  JIT.SIMD.CircleInConvex_r.CircleInConvex_r in arm-softfp we discovered an issue with generics when the floating point arguments were passed.

There's a simplified code which will demostrate the issue:

[code]

[2016-05-27 13:13] papaslavik commented on #5275
For generics we pass an additional parameter in r0, which makes the last soft-fp argument go to the stack.
But the code generated for the cmp function doesn't know anything about how it's used in generics.

[code]

And so the r0 gets spoiled for the arm-softfp abi.

if we try to do the same with the integer arguments then debugging the calls we'll see the trampoline code looking like the following

[2016-05-27 13:17] briansull commented on #5264
Fixed the X85 Ryujit test break with PR #5270

[2016-05-27 13:31] gregoryyoung commented on #445
Is this intended to be supported for 1.0? Also method enter/leave hooks etc

[2016-05-27 15:15] khionu commented on #3977
Just wanted to say thanks to everyone contributing their time to this issue <3

[2016-05-27 16:27] juergenhoetzel commented on #5006
_min/max_ is not defined in the standard C Headers. It's only defined in _stdlibc++_:
http://www.cplusplus.com/reference/algorithm/max/

The _libstdc++_ devs actually undefine _min/max_ to prevent conflicts

See `/PATH_TO_CPP_INCLUDES/bits/c++config.h:`

[code]

You can check this using this C++ code:

[code]
results in
[code]

There is also  Bugreport of [#undef min/max is dependent on order if #

[2016-05-27 16:58] mikem8361 commented on #445
@noahfalk, @kspawa can you answer his question?

[2016-05-27 17:43] RussKeldorph opened #5278 "Unix non-R2R CI GC- and JitStress jobs are not running in those modes"
The necessary environment settings are making it through to the individual tests.

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr

[2016-05-27 17:45] #5116 closed

[2016-05-27 19:43] #5264 closed

[2016-05-27 19:52] janvorli commented on #5188
@schaabs I still cannot reproduce the issue. I have tried to use cgroup to limit memory available, I've tried to run on a VM with 2GB memory and 2 cores and it always behaves the same way. It ends up in state where only the root process is running and eating cycles and nothing more happens. No core dumped, no crashes logged. I've tried it many times on both my native Linux box and the VM today.
So

[2016-05-27 20:15] AndyAyersMS opened #5282 "NewtR not a good benchmark"
There are a few odd things about NewR. We should consider fixing them.

Because `x0` is a ref param, the first call into `Inner` sets it to the root value on the first iteration, and all subsequent iterations of that call and all iterations of subsequent calls immediately confirm that the value is the root and exit without doing work. So we're mainly timing how long it takes to evaluate `FF`.

If

[2016-05-27 20:15] #5278 closed

[2016-05-27 20:16] AndyAyersMS commented on #5282
@cmckinsey @natgla any thoughts?

The c sources we transcribed this from look similarly broken.

[2016-05-27 20:24] davmason opened #5284 "EventSource Events that use complex types do not get logged"
When complex types were added to EventSource (in V4.6) there was a latent bug where if the event had specified keywords the event would not be emitted to TraceEvent-style ETW controlers (e.g. PerfVIew). Basically there was confusion between a session bitmask (where the bits were 0, 1, 2, and 3), and the ETW keywords bitmask which uses different bits and the 'ToEventKeywords() morphs from one to th

[2016-05-27 20:26] davmason opened #5285 "Add better testing for complex types in EventSource"
#5284 was not caught by our EventSource tests, we need to review the tests and make sure that all cases are properly covered.

[2016-05-27 20:29] sivarv opened #5286 "[x86 release Jit32] Branch into exception handler block doesn't result in InvalidProgramException but leading to an AV, since verification is turned OFF by CoreCLR VM"
Tests that are failing:
JIT\Regression\Dev11\Dev11_468598\Test_HndIndex_10_Plain\Test_HndIndex_10_Plain.exe
JIT\Regression\Dev11\Dev11_468598\Test_HndIndex_10_Reordered\Test_HndIndex_10_Reordered.exe

These tests pass on dbg/chk builds because fgMakeBasicBlocks() after finding basic blocks, calls fgCheckBasicBlockControlFlow()  always on dbg/chk builds and in retail builds only when verification i

[2016-05-27 21:11] natgla commented on #5282
Looks broken. setting x0 before Inner(...) looks easy and reasonable. iflag indeed doesn't mean anything useful here. validation is missing.
I looked at these benchmarks while Jayni was cleaning up C version - and for C I didn't like them: no validation; a lot of variables are global - and this prevents a lot of optimizations.

[2016-05-27 21:16] janvorli commented on #5188
So I've finally managed reproducing the errors. Interestingly, I've first reproduced the other one -  the #5193.
The trick was to use "ulimit -v xxxx" to limit the virtual memory besides the cgroup physical memory limiting. I've limited physical memory to 4GB and virtual memory to 6GB and I get a repro of one of the issues in a couple of minutes.

[2016-05-27 21:31] janvorli commented on #5193
There is something really broken in the code generated by the compiler - the code doesn't check the allocated pointer for null and happily calls constructor on it. My guess is that the compiler didn't recognize that the new is of a nothrow type and assumes that it would throw if there was an allocation error. It may be related to the fact that we don't include any platform headers and declare even

[2016-05-27 21:32] lt72 opened #5291 "Document performance collection practices for Windows and Linux"
We need to document the best practices for collecting performance data on Windows and Linux.
Currently we have a pointer on the following page of CoreCLR repo
https://github.com/dotnet/coreclr/tree/master/Documentation
that points directly to the PerfCollect script.

it should point to a small page with information specific to Windows and Linux

for Windows, it will be sufficient to point to th3e

[2016-05-27 21:34] sergiy-k commented on #5193
Yes, there is due to a different default behavior of VC++ and clang. @adityamandaleeka, already has a fix for it. The nothrow version of the operator new must have 'noexcept' otherwise clang will not generate null checks.

[2016-05-27 21:39] janvorli commented on #5193
Ah, that's great! I just hit this while trying to repro my issue, so I have given it a quick look.

[2016-05-27 21:59] pgavlin opened #5292 "[Jit32] JIT\opt\perf\doublealign\locals and JIT\Regression\CLR-x86-JIT\V1.2-Beta1\b103058 are optimization sensitive"
These tests are attempting to verify that stack frames which contain `double` values are aligned to `sizeof(double)`. This is not guaranteed in debug test builds.

[2016-05-27 22:26] fadimounir commented on #3792
Fixed with PR #5289

[2016-05-27 22:26] #3792 closed

[2016-05-27 22:35] #2554 closed

[2016-05-28 00:08] kouvel commented on #5194
Thanks @janvorli. I wasn't able to find the Hist* commands on Linux, but I found the roots of the object. It looks like there are stack references from a thread that is testing SortedSet, and one of the nodes has a pointer pointing into the middle of a free object slot (filled with 0xcc when HeapVerify is on). So it looks like the object got collected but the rest of the tree is live. Maybe an iss

[2016-05-28 00:41] janvorli commented on #5194
I have added the Hist* commands a week ago:
https://github.com/dotnet/coreclr/pull/5127
You could just get the latest libsosplugin.so and libsos.so and then you should be able to use them. But they are just an easier way to parse the stress log, you can find all the details from them. If you can find in which generation the object was relocated, then you can look at the stack scanning in that gene

[2016-05-28 04:20] vindicatorr commented on #5006
@jasonwilliams200OK I was out of town, but was just about to do a full rebuild for a different corefx bug and encountered this issue.
(posted on gitter)
[code]

[2016-05-28 05:49] #5259 closed

[2016-05-28 07:13] juergenhoetzel commented on #5006
I was able to build on Arch Linux (clang3.5 + clang3.8) using my workaround:
https://github.com/dotnet/coreclr/issues/5006#issuecomment-222191925

I just updated my branch (there was an invalid CPP-conditional).

[2016-05-28 08:21] jasonwilliams200OK commented on #5006
Thanks for the fix @judemelancon! Can you send a pull request so this matter is resolved once and for all. :)

[2016-05-28 08:28] jasonwilliams200OK commented on #5155
Is this a roslyn bug?

[2016-05-28 09:09] ghost opened #5303 "CodeGen for WebAssembly"
WebAssembly (wasm): http://webassembly.github.io/

According to MicrosoftEdge status page -> https://developer.microsoft.com/en-us/microsoft-edge/platform/status/webassemblymvp?filter=f3f0000bf&search=WebAssembly, WebAssembly is in development.

IMO, it would be great to consolidate efforts right from the beginning between Edge, CoreCLR/CoreRT and VC teams to provide robust WebAssembly code genera

[2016-05-28 12:08] judemelancon commented on #5006
@jasonwilliams200OK @juergenhoetzel This is just to make sure your conversation isn't derailed by that overzealous autocompletion.

[2016-05-28 12:55] jkotas commented on #5155
I believe it is a bug in protobuf_net. The method with bad IL was created by protobuf_net using Reflection.Emit.

[2016-05-28 15:06] stephentoub commented on #5232
Thanks, @chadwackerman.

[2016-05-28 15:06] #5232 closed

[2016-05-28 15:36] vindicatorr commented on #5006
I'm pretty sure I've done some cherry-picking once or twice before, but maybe I'm doing it wrong now because I get "fatal: bad object 7864b05cfcf16b1261962c5538e2f071759a1d9e"

I'm on coreclr's master branch and just trying a simple "git cherry-pick 786...", even after cleaning, resetting, fetching and pulling. I must be missing something.

[2016-05-28 15:39] jasonwilliams200OK commented on #5006
@judemelancon, sorry I meant to `@`  juergenhoetzel. :smile:

[2016-05-28 15:46] jasonwilliams200OK commented on #5006
@vindicatorr, this is becasue the code is not in dotnet repo yet. GitHub can show you the unavailable commit in the URL from the fork even before it is merged. To get @juergenhoetzel's branch:

[code]

[2016-05-28 15:55] Tydude4Christ commented on #4441
After poking around on StackOverflow I found this question which seems to imply that it was originally made contravariant but there were issues internally related to multi-cast delegates. Does anyone know if this is still an issue?

http://stackoverflow.com/questions/1120688/event-and-delegate-contravariance-in-net-4-0-and-c-sharp-4-0

[2016-05-28 17:31] vindicatorr commented on #5006
@jasonwilliams200OK I'm still having a problem getting the commit:
[code]
I did adjust for the misspelled "dotent" and did the "git config" that it told me to do. I had/have no intention of "pushing".

[2016-05-28 17:47] jasonwilliams200OK commented on #5006
@vindicatorr, you can start over by `git reset --hard dotnet/master` followed by the last three steps from my prev comment. That would get you there.

If you don't want to cherry-pick, you can simply clone @juergenhoetzel's branch:

[code]

[2016-05-28 18:09] #5268 closed

[2016-05-28 23:57] sergiy-k commented on #5193
Fixed in release/1.0.0 by https://github.com/dotnet/coreclr/pull/5302

[2016-05-28 23:57] #5193 closed

[2016-05-29 02:11] davzucky commented on #5006
@juergenhoetzel Thank you very much for the fix. I tested and I'm able to get the build on Arch Linux working again.
Where I'm confused is that when I look at the header between gcc5.3 and gcc6.1 I can see that min and max was already undefine in ```/PATH_TO_CPP_INCLUDES/bits/c++config.h```. What am I missing here ?
As well how did you find this exclusion attribute. Any tips to find them ?

[2016-05-29 02:39] vindicatorr commented on #5006
Weird, don't know why it worked after doing that reset "again" (since it's already step 5).

But the build fails later on now. Don't know if a new bug should be created:
[code]
[code]
@juergenhoetzel When you say "(clang3.5 + clang3.8)", are you merely saying you just have both installed? Or do you do any special configuration for the build? I only have 3.8 installed.

[2016-05-29 12:02] juergenhoetzel commented on #5006
@davzucky When compiling C++ code which is just using GLIBC headers  the stdlib++ header (and thus also `c++config.h`)will be  pulled in  anyway because of this change in GCC6: [wrappers for stdlib.h](https://gcc.gnu.org/ml/libstdc++/2016-01/msg00025.html).

This wasn't the case with gcc < 6.0: There was no `stdlib.h `wrapper. So `c++config.h` wasn't pulled in.

I just compared the C++ preprocesso

[2016-05-29 12:13] juergenhoetzel commented on #5006
@vindicatorr Seems your `lttng-ust` library (which is not part of the Arch Linux repos) needs a rebuild, because of a recent  breaking `liburcu` update in the Arch Linux repos (including _SONAME_ change).

I did it  on 2 different systems (one using clang3.5, the other using clang3.8)

[2016-05-29 13:07] davzucky commented on #5006
@juergenhoetzel , Thank you for the reply really useful. I will remember the usage of the precompiler option with clang. I was trying using strace, however I didn't get the same success as you.

[2016-05-29 16:19] vindicatorr commented on #5006
Whoo hoo, right you are @juergenhoetzel. It would have helped me if I actually looked past the warning to see the error (ugh).
Built 100% and without clang 3.5 (using 3.8).

[2016-05-29 17:08] jasonwilliams200OK commented on #5006
@mmitche, @sergiy-k, since CoreCLR is building on Arch Linux and passing all tests at this point (https://github.com/dotnet/coreclr/issues/5304 patch applied), can we get the CI job configured for Arch as well so it doesn't regress?

[2016-05-29 18:50] jasonwilliams200OK commented on #5160
With this temporary 1-liner patch:

[code]

I have successfully built CoreCLR current master (5c00a5f) on Gentoo 4.2.0-27-generic.

[2016-05-29 20:22] #4860 closed

[2016-05-29 23:45] swaroop-sridhar opened #5310 "GCStress: Race with GCStress Instruction update"
Several tests failed with the GCStress instruction update consistency checking:
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x64_checked_windows_nt_gcstress0xc/17/consoleFull

For example:
[code]

There are a few known race conditions in the GCCover implementation that could lead to this problem:
https://github.com/dotnet/coreclr/blob/master/src/vm/gccover.cpp#L1353-L1363
https:

[2016-05-30 02:35] myungjoo commented on #5273
This is not a good point of start for debugging. I'll rewrite (and separate topics) based on valgrind analysis.

[2016-05-30 02:35] #5273 closed

[2016-05-30 03:05] parjong opened #5311 "[ARM/Linux] MarshalNative::GetFunctionPointerForDelegateInternal sometimes failed to create a callback for delegate"
While I running a real-application on top of CoreCLR (combined with some native code), I encountered very strange segmentation fault.

The sample application runs some loop inside native code, and it repeatedly calls registered callback (whose structure is common in UI application), and the callback is written in C# (which are passed to native code via some API functions).

What I observed is that

[2016-05-30 04:44] #5037 closed

[2016-05-30 06:34] #4924 closed

[2016-05-30 07:35] davidfowl commented on #5157
@erikzhang Can you file this issue https://github.com/aspnet/Tooling?

[2016-05-30 07:36] davidfowl commented on #5168
@meolafon can you file this issue here https://github.com/aspnet/Tooling?

[2016-05-30 09:54] #5160 closed

[2016-05-30 14:25] janvorli commented on #5188
I have some more details on this issue. I have dumped the whole list of allocated virtual memory blocks  in PAL using a GDB script and I have found that out of the whole gc heap range (g_lowest_address, g_highest_address), only a single 64k block is reserved (and not commited). This corresponds to what gdb "info proc map" command returns (shows no mapping in that range).
So it seems as if somethin

[2016-05-30 16:29] janvorli commented on #5188
And one more thing - the heap had this problem even before we tried to allocate the throwable. Looking at the hardware exception that was just being handled, it was a sigsegv due to an attempt to access a heap object at 0x00007ff768d36700, which is very close to the failure address 0x00007ff768d38068 that the allocator has allocated for the throwable.
Interestingly, in the frame of System.Reflecti

[2016-05-30 17:30] #4859 closed

[2016-05-30 18:43] papaslavik commented on #5274
@lemmaa @leemgs

[2016-05-30 18:43] papaslavik commented on #5275
@lemmaa @leemgs

[2016-05-30 18:46] papaslavik commented on #5275
If I replace the occurrence of Point in the above example with a new structure PointInt which has the members X and Y integers, then in the code generation process I see the call to
System.Comparison`1[PointInt][ClassLibrary.test+PointInt].Invoke

[2016-05-30 19:03] papaslavik commented on #5275
The whole call tree looks like this, so it is the call with the 2 structs and additional this argument in r0:

N016 ( 35, 29) [000036] --CXG-------- >>>         *  call      int    System.Comparison`1[PointInt][ClassLibrary.test+PointInt].Invoke $214
N008 (  9,  7) [000043] ---XG-------- arg2 in r3  +--*  obj       struct (last use) $445
N007 (  3,  3) [000042] L------------             |  \--*  a

[2016-05-30 19:25] EveryOtherUsernameWasAlreadyTaken commented on #1478
@cshung: I'm trying to find out what happened to an app that crashed on a Raspberry Pi. In the dump, which I opened with WinDbg, I saw that CoreCLR was used (see the lm command). With this information, I knew it's a .NET universal app. Therefore I was looking for a debugging extension that could help me with the analysis of such a dump. From my previous .NET experience, I knew that there's an exte

[2016-05-30 19:39] EveryOtherUsernameWasAlreadyTaken commented on #1478
@noahfalk: This was the first time I received an ARM crash dump and I didn't know anything about it, so I'm sorry for loading the wrong extension into WinDbg.

With that knowledge and the output of the lm command, we can say that this dump was of a CoreCLR runtime (JIT compiled). This is perfectly inline with the fact that the application ran on a Raspberry Pi 2 and AFAIK, there's no store to get

[2016-05-30 19:42] papaslavik commented on #5275
The issue is in fact related to the delegate calls: see the changed text of the description of the issue.

[2016-05-30 19:58] papaslavik commented on #5275
The gelegate call for the last example looks like this:

[code]

[2016-05-30 20:02] janvorli commented on #5275
@papaslavik - the delegate thunk is generated by the COMDelegate::SetupShuffleThunk, which uses GenerateShuffleArray to determine what shuffles are necessary.

[2016-05-30 20:03] papaslavik commented on #5275
at code execution the trampoline for the delegate example with Point based on floats looks like the following:
[code]

[2016-05-30 20:05] papaslavik commented on #5275
@janvorli thanks a lot! will look in that direction.

[2016-05-30 21:04] EveryOtherUsernameWasAlreadyTaken commented on #1478
Ok, I have the original dump file available again. If you like, I can run some WinDbg commands or try a few things now.

[2016-05-30 23:15] jamesqo opened #5314 "Comparer<T>.Default should be specialized for enums"
In `EqualityComparer<T>.Default`, we have a special `EnumEqualityComparer` to handle enums and avoid boxing; unfortunately, we don't have any such equivalent for `Comparer<T>.Default`. See: https://dotnetfiddle.net/CRsupJ We should probably specialize it in `Comparer` too, since unnecessary boxing == bad.

[2016-05-30 23:15] parjong commented on #5311
It turns out that there is a bug in our sample application. I'll close this issue.

[2016-05-30 23:15] #5311 closed

[2016-05-30 23:20] parjong opened #5316 "CMake initialization failure on ARM cross build"
``build.sh clean debug arm cross verbose "clang3.6"`` fails with the following error message:
[code]

[2016-05-31 00:00] ellismg opened #5318 "Rework how we determine if we can do a managed build or not"
In `build.sh` today we have a hard coded list of distros we support building on and then set a condition variable which tells other parts of the script if it is safe to build or not.

We should probably instead move to a strategy where if a managed build is requested we try to restore the tool runtime.  If that works (e.g. test for MSBuild.exe in tools) then we say we can build managed code. Other

[2016-05-31 00:31] parjong opened #5319 "Cannot build 'System.Private.CoreLib.dll' for ARM cross build"
`` build.sh clean debug arm cross verbose "clang3.6" `` shows the following output at the end:
[code]
Since MSBuild runs on x64 machine while cross build, it seems that there is no obstacle to build System.Private.CoreLib.dll in this setting.

[2016-05-31 01:04] myungjoo commented on #5319
We've lost the ability to build System.Private.CoreLib.dll quite recently (a few days ago).
This is a regression fix that requires quick attention. Thanks @parjong.

[2016-05-31 01:33] swaroop-sridhar commented on #4794
I figured out the problem causing this race.  It’s a bug in the GCStress implementation.

For an inlined PInvoke stub, the JIT generates the following code

[code]

When running under GCStress, the GCCoverage code sprinkles breakpoints at safepoints.
It does so at both the above indirect calls, including the call to Stop_For_GC() itself !

So, the code now looks like

[code]

So, in the failing ca

[2016-05-31 01:41] myungjoo opened #5321 "ARM: Support FastTailCall. (unit test fails)"
hijacking.exe: `tests/src/JIT/Methodical/tailcall_v4/`
tailcall.exe: `tests/src/JIT/Directed/tailcall`
[code]

[2016-05-31 02:50] myungjoo commented on #5321
In the case of `tailcall.exe`:

[code]

[2016-05-31 03:44] #5319 closed

[2016-05-31 03:45] #5316 closed

[2016-05-31 04:40] seanshpark opened #5324 "ARM/Linux: failed to detect ucol_setMaxVariable"
I have
[code]
with current master branch, cross building `ARM/Linux` for `RPi2`, with `ubuntu 15.10 (wily)` RootFS image, using `Clang 3.8.1`. Found out it was after #5309 merge.

In the configuration step, I see
[code]
and with below change in `src/corefx/System.Globalization.Native/configure.cmake`
[code]
configuration is
[code]
OK and build is also OK.

If dump`${ICUUC} ${ICUI18N}` values I see

[2016-05-31 04:50] RussKeldorph commented on #4794
@swaroop-sridhar Thanks (assuming you're right. :))!
@rahku @adityamandaleeka @gkhanna79 @sergiy-k @jkotas FYI

[2016-05-31 04:51] parjong opened #5325 "[ARM/Linux] Unittest baseservices.threading.interlocked.exchange.ExchangeTString_1.ExchangeTString_1 failure"
Unittest ``baseservices.threading.interlocked.exchange.ExchangeTString_1.ExchangeTString_1`` fails with the following message:
[code]

It seems that there is some error in the test script.

[2016-05-31 04:57] parjong commented on #5325
It seems that I used outdated testcases. It is already fixed in 99311238763b43488006f473cf2892b574287579

[2016-05-31 04:57] #5325 closed

[2016-05-31 05:42] Toxantron commented on #3977
Hey, I just setup CoreCLR on my ARM Chromebook with TK1. Is the path from the documentation still needed?

[2016-05-31 05:56] wateret commented on #4745
On current master(dd15b12e48afdda9b7a5f1b19c2af2c928294843),

**arm** : pass

**arm-softfp** : fail

[code]

[2016-05-31 06:00] parjong opened #5326 "[ARM/Linux] Regression in unittest JIT.jit64.hfa.main.testE.hfa_nd2E_d.hfa_nd2E_d"
Running 'JIT.jit64.hfa.main.testE.hfa_nd2E_d.hfa_nd2E_d' shows the following assert failure:
[code]

[2016-05-31 06:18] parjong commented on #5326
It seems that  b2efe59bec6e0b70b2e causes this issue. This unittest was passed in 049961ad651dda73a.

[2016-05-31 06:21] parjong commented on #5326
When I set ``COMPlus_JitDump`` as ``DomainBoundILStubClass:IL_STUB_PInvoke(struct):struct``, I encountered the following assertion:
[code]

[2016-05-31 07:04] leemgs commented on #3977
@Toxantron , You can  easily setup the corclr/corefx environment on your own arm chromebook by referencing  the documentation of coreclr. From my experience, I recommend that you utilize available usb stick for  ubuntu/arm 14.04 based dotnet core.

[2016-05-31 09:57] papaslavik commented on #5275
So, in src/vm/comdelegate.cpp we work with the calling conventions, in particular we have the code working for ARM with the following comments:

[code]

And that is done before we do the fgMorphCall in which the convention is in fact implemented, so there's no information about ARM soft fp abi at that point of compilation.

Presumably, we need to fix  ShuffleIterator::HasNextOfs() function for ARM

[2016-05-31 10:12] janvorli commented on #5275
@papaslavik - what is the difference between the soft and hard abi in argument passing? Does the softfp mean that floating point arguments are passed in general purpose registers?
If that's the case, then the ArgIteratorTemplate<ARGITERATOR_BASE>::GetNextOffset() in the callingconvention.h below the
https://github.com/dotnet/coreclr/blob/master/src/vm/callingconvention.h#L1064
needs to be modified

[2016-05-31 10:24] papaslavik commented on #5275
@janvorli yes, the float arguments are passed on integer registers.
Thanks for the advice.

[2016-05-31 10:32] papaslavik commented on #5275
In fact that is very similar to varargs passing, so I will stick to that in the code you pointed at:
`if (fFloatingPoint && !this->IsVarArg())`

[2016-05-31 10:53] jasonwilliams200OK commented on #5324
@seanhpark, could you share `coreclr/bin/obj/Linux.x64.Debug/CMakeFiles/CMakeError.log` via https://gist.github.com?

[2016-05-31 11:01] jasonwilliams200OK commented on #5324
Also can you give this patch a try:

[code]

[2016-05-31 15:40] omariom opened #5329 "RyuJIT: Intrinsify GetType().TypeHandle.Value and typeof(T).TypeHandle.Value"
Sometimes I use `IntPtr` instead of `Type` as a key (or part of a complex key) in `Dictionary`.
Advantages is that  it is a value type so I don't keep full blown `Type` object alive, and GC likes value type fields more than ref ones because less references to follow.

But each time I need to get the value or check if a key exists I have to get `Type` just to retrieve its handle value.

I suggest i

[2016-05-31 15:50] omariom commented on #5329
And I know about existence of collectible types :)

[2016-05-31 16:23] sergiy-k commented on #5329
/cc @RussKeldorph

[2016-05-31 16:24] cshung commented on #1478
Thanks for your extra information. Now we know what you are trying to do now.

As @noahfalk mentioned above, as of now (31st May 2016), there are two "flavors" of Universal Windows App execution. In DEBUG configuration, the code is JIT compiled and ran using CoreCLR.dll. In RELEASE configuration, the code is natively compiled and ran by itself with the help of mrt100_app.dll.

The DEBUG configurat

[2016-05-31 16:26] JohnChen0 opened #5330 "Ready-to-Run module can be used before fully activated"
This issue tracks porting PR #5288 to release/1.0.0 branch.

Under certain conditions, a Ready-to-Run module is not yet fully activated when its contents are used. This can cause asserts in debug build. It can also cause module constructor to be run too late.

[2016-05-31 16:50] swgillespie opened #5333 "SIGSEGV in GCSimulator_428"
See http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/release_1.0.0/job/x64_release_osx_gcsimulator_tst/3/console:

[code]

[2016-05-31 16:50] swgillespie commented on #5333
cc @sergiy-k

[2016-05-31 16:51] swgillespie commented on #4802
Also occurs on Ubuntu now, too: http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x64_release_ubuntu_longgc_tst/29/console

[2016-05-31 17:19] joshfree commented on #5201
@livarcocc @eerhardt can you please verify and close this issue on 24128-00?

Is there any further action required by CLR (@johnchen0)

[2016-05-31 17:53] RussKeldorph commented on #5329
@jkotas Would JIT be involved in this one?

[2016-05-31 17:54] #5089 closed

[2016-05-31 18:02] schaabs commented on #5188
@janvorli unfortunately we don't have a repro of this issue with symbols.  We only have stress runs working against ret bits right now and it seems that the stripped symbols aren't being persisted properly for the ret runtime bits.  Here are some other dumps without symbols if it helps for comparison.

[#1122](https://rapreqs.blob.core.windows.net/bryanar/BodyPart_6ddc747e-e7dd-4d05-89fe-79031928d

[2016-05-31 18:14] russellhadley opened #5336 "ARM64: verify we have coverage of GS cookie codegen."
Ensure that we have an implementation commensurate with x64 for GS.  We might need to add tests here.

[2016-05-31 18:17] russellhadley opened #5337 "ARM64: verify codegen for IBC and managed profile"
We should be able to run the IBC crossgen as well as insert probes correctly for ARM64.

[2016-05-31 18:18] russellhadley opened #5338 "ARM64: Enable R2R test legs in automation."
Run R2R across the test bed in CI.

[2016-05-31 18:23] JohnChen0 commented on #5201
There should be no further action required by CLR.

[2016-05-31 18:36] jkotas commented on #5329
Yes, this would be JIT work.

[2016-05-31 18:58] ellismg commented on #5000
I opened this PR (https://github.com/dotnet/core-docs/pull/477) which I believe should get the docs updated.

[2016-05-31 18:58] #5000 closed

[2016-05-31 19:10] gkhanna79 opened #5341 "R2R: InvalidProgramException on Ubuntu and OSX"
Ubuntu failure:

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x64_release_ubuntu_pri1r2r_tst/lastCompletedBuild/testReport/baseservices.threading.generics.TimerCallback/thread22/thread22/

OSX Failure:

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x64_release_osx_pri1r2r_tst/lastCompletedBuild/testReport/baseservices.threading.generics.WaitCallback/thread22/th

[2016-05-31 19:12] acelent commented on #1754
In ASP.NET under a IIS worker process, since the CLR is hosted, the host could consider the current HTTP request queues as pressure to create threads.  Even with the 500ms checking interval, it could create more than a single thread at a time, such as the minimum of 1) the number of queued requests and 2) the number of threads to reach the current MaxWorkerThreads configuration.

If ASP.NET Core u

[2016-05-31 19:23] fadimounir opened #5343 "Assert Failure: !"Cannot take the address of an uninstantiated generic method.""
Minimal repro:

internal interface IGen< T >
{
	void Target< U >();
}

internal class GenInt : IGen< int >
{
	public void Target< U >()
	{
            ...
	}
	public static void DelegateTest< U >()
	{
		IGen<int> obj = new GenInt();
		ThreadStart threadStart = new ThreadStart(obj.Target< U >);
		threadStart();
	}
}

And call GenInt.DelegateTest< string >() (or any instantiation using a reference t

[2016-05-31 19:31] abritinthebay commented on #1017
Seeing the same thing and it's because http://llvm.org/apt/llvm-snapshot.gpg.key doesn't exist

In fact the entire http://llvm.org/apt/ location doesn't exist

[2016-05-31 20:20] fadimounir commented on #5241
Fixed with #5296

[2016-05-31 20:20] #5241 closed

[2016-05-31 21:11] vancem opened #5346 "DiagnosticSource Events can't be captured with ETW listeners"
The Azure Service Profiler team have a tool that can diagnose performance problems in services called ServiceProfiler.  This tool works by collecting ETW events and collecting detailed information for doing this diagnosis.   One of the key needs for this tool is to have a event that demarks the start and stop of an incoming service request.    These points have been instrumented with DiagnosticSou

[2016-05-31 21:14] vancem commented on #5346
This is a duplicate of #5284

[2016-05-31 21:14] #5346 closed

[2016-05-31 21:26] swgillespie commented on #5333
I can readily repro this one by running as many instances of this test that the machine can handle before running out of memory. Each one of the dumps that I have indicates that this is generic heap corruption.

[2016-05-31 21:39] jkotas commented on #5329
There are complications with array type handles and proxy type handles (for remoting on full framework) - the type handle is not equal to methodtable for these.

It may be better to implement fixups for System.Type instead. It would avoid helper call to get to the System.Type. This optimization would be applicable more broadly, and it would make access to the raw handle value cheaper too. I have c

[2016-05-31 22:30] swaroop-sridhar commented on #5310
This issue is likely the same as https://github.com/dotnet/coreclr/issues/2785

[2016-05-31 22:37] gkhanna79 commented on #5341
@fadimounir Is this dup of #5343 ? If so, should this be closed as dup of #5343?

[2016-05-31 22:43] gkhanna79 commented on #5330
@JohnChen0 Should we close this since https://github.com/dotnet/coreclr/pull/5332 is merged?

CC @sergiy-k

[2016-05-31 23:09] ramarag commented on #5083
/p:GCStressLevel=%__GCStressLevel% has been removed from build by https://github.com/dotnet/coreclr/pull/5261

[2016-05-31 23:59] fadimounir commented on #5341
Yes, it's a dup of #5343

[2016-05-31 23:59] #5341 closed

[2016-06-01 00:08] seanshpark commented on #5324
@jasonwilliams200OK , I could not create a gist cause of firewall. This is what I got in `CMakeError.log` for `ucol_setMaxVariable`
[code]

[2016-06-01 00:22] seanshpark commented on #5324
And with the patch, also got same error. I'll try to find out why linker cannot find libc and libm functions.
Thank you.

[2016-06-01 00:33] seanshpark commented on #5324
I've found the cause. It was my local `/home/maxwell/bin/arm-linux-gnueabihf` 5.2.1 compiler installed in my home bin folder. When I switch to system default gcc-4.8, it builds with success.
I don't know why the 5.2.1 linker could not find it's own library for this case.

[2016-06-01 00:47] myungjoo commented on #5326
CC: author of b2efe59bec6e0b70b2ede2dc0301a790d465e6a4 @briansull

[2016-06-01 00:57] kingces95 opened #5354 "VS launch of cordbg.exe test.exe pops "A fatal error has occurred...""
I'd like to launch and debug tests for coreclr using VS as managed only debugger. After building coreclr I open any test project and set `debug > start external program` to `\coreclr\bin\tests\Windows_NT.x64.Debug\Tests\Core_Root\corerun.exe`. For the command line I use `F:\git\coreclr\bin\tests\Windows_NT.x64.Debug\path\to\exe`. When I hit `F5` VS pops a dialog

I expected it to attach and execut

[2016-06-01 01:25] sergiy-k commented on #5330
Fixed by https://github.com/dotnet/coreclr/pull/5332

[2016-06-01 01:25] #5330 closed

[2016-06-01 01:25] kingces95 commented on #5354
VS doesn't continue (DBG_CONTINUE) after receiving this exception throw [here](https://github.com/dotnet/coreclr/blob/b7704374e683a8d3644a0640010936a22296967a/src/debug/ee/debugger.cpp#L1830-L1830). I'd guess because `corerun.exe` is unmanaged and so VS unaware that eventually a runtime will be loaded...

[2016-06-01 02:08] myungjoo commented on #5321
`tailcall.exe` above requires tailcall optimization, which is enabled by `FEATURE_FASTTAILCALL`. It looks like there are a bit of NYIs for it.

[2016-06-01 03:23] ZizhengTai commented on #1017
Yes I'm seeing the same issue as @abritinthebay is.

[2016-06-01 03:50] #5292 closed

[2016-06-01 05:26] parjong opened #5357 "[ARM/Linux] Unittest JIT.SIMD.VectorReturn_ro.VectorReturn_ro failure"
Currently, CoreCLR fails with the following assertion for ``JIT.SIMD.VectorReturn_ro.VectorReturn_ro``
[code]

[2016-06-01 05:41] sergiy-k commented on #5284
@davmason, PR https://github.com/dotnet/coreclr/pull/5348 has been merged. Can this issue be closed now?
/cc @vancem

[2016-06-01 06:12] myungjoo opened #5358 "[ARM/Linux] PAL Test Fail (exception / sxs)"
[code]

Found the error and the fix is coming soon.

[2016-06-01 07:14] myungjoo commented on #5321
All the two test cases `tailcall.exe` and `hijacking.exe` are testing if the tail call optimization is enabled or not.

Because this is testing if the performance optimization technique is enabled or not, not testing if the correctness of the execution, and tailcall optimization is explicitly disabled for ARM and they seem to be at NYI status, I think it is ok to "skip" the two test cases for ARM.

[2016-06-01 07:17] jasonwilliams200OK commented on #5324
Looks like it is not accounting for the linked libs absolute path: `-rdynamic -licuuc -licui18n`. On my machine it looks like `-rdynamic /usr/lib64/libicuuc.so /usr/lib64/libicui18n.so`. Seems like we would need to temporary configure rpath for `CMAKE_REQUIRED_LIBRARIES`.

---

Separate from finding the rpath solution for linker, could you try (this will most probably not fix the problem, just cur

[2016-06-01 07:51] leemgs commented on #5358
FYI, Here is some debug messages.

 * System Call tracing:

[code]

* with GDB (in release build mode):
[code]

[2016-06-01 08:06] parjong commented on #5357
It seems that the legacy codegen in CoreCLR cannot process promoted structure variables. CoreCLR raises an assertion when it tries to generate code for the following code:
[code]

To be specific, CoreCLR fails to process N001.

[2016-06-01 08:06] wateret commented on #4745
It seems like #5010 actually fixed this issue, but there is something wrong with `arm-softfp` itself.

So I looked at disasm of `InvokeCallback17R` both caller and callee .

* Callee (Compiled by Clang 3.5)

[code]

* Caller  Code (JITed)

[code]

Calling convention mismatches. There is no RetBuf in caller side and after the call it tries `loc40 = tmp186` but `tmp186` was not even passed. I think

[2016-06-01 08:08] myungjoo commented on #5358
@leemgs Your log is before applying the PR'ed patch, right?

[2016-06-01 08:13] mkborg commented on #4745
@papaslavik FYI

[2016-06-01 08:20] myungjoo commented on #3182
This is fixed by fixing LLVM:
https://llvm.org/bugs/show_bug.cgi?id=27836
https://bugs.launchpad.net/ubuntu/+source/llvm-defaults/+bug/1584089

@leemgs, please add instructions for ARM/Linux ( https://github.com/dotnet/coreclr/blob/master/Documentation/building/linux-instructions.md ) to patch up LLVM.

[2016-06-01 08:20] #3182 closed

[2016-06-01 08:26] seanshpark commented on #5324
With above changes, this is the part of `CMakeError.log`
[code]

[2016-06-01 10:19] #5163 closed

[2016-06-01 10:22] #5358 closed

[2016-06-01 10:41] papaslavik commented on #3785
Fixed by  #3929

[2016-06-01 10:41] #3785 closed

[2016-06-01 10:50] jkotas commented on #5303
WebAssembly version of CoreCLR would be pretty hard to do. CoreRT is better candidate for this.

It should not be hard to built a small demo - using CoreRT CppCodeGen - that compiles and runs a simple program as WebAssembly. It can be then iterated on from there (e.g. generate the WebAssembly directly without going through CppCodeGen, etc.).

[2016-06-01 11:50] papaslavik commented on #5275
@janvorli are there simplified tests for the delegates in the framework, or perhaps, where we could add our simple test to check that the conventions work?

[2016-06-01 12:16] kouvel opened #5364 "When creating or opening named mutex fails, handle leaks"

[2016-06-01 13:54] gkhanna79 opened #5366 "R2R Windows Pri1 Failures"
The following tests fail in Windows Pri1 R2R (see http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x64_checked_windows_nt_pri1r2r_prtest/2/):

JIT._Regression_clr_x64_JIT_v4_0_devdiv374539_DevDiv_374539_DevDiv_374539_._Regression_clr_x64_JIT_v4_0_devdiv374539_DevDiv_374539_DevDiv_374539_cmd **[Only on Windows]**

Loader._classloader_generics_Instantiation_Negative_abstract01_abstrac

[2016-06-01 14:21] GSPP opened #5367 "parameterBuilder.SetConstant NullReferenceException"
var assemblyBuilder = AssemblyBuilder.DefineDynamicAssembly(new AssemblyName("x"), AssemblyBuilderAccess.RunAndSave);
            var moduleBuilder = assemblyBuilder.DefineDynamicModule("x");
            var typeBuilder = moduleBuilder.DefineType("C", TypeAttributes.Class);
            var methodBuilder = typeBuilder.DefineMethod("M", MethodAttributes.Static);
            methodBuilder.SetParamete

[2016-06-01 14:24] JeWaVe opened #5368 "C# compiler and reflection API inconsistency"
See [this stackoverflow question](http://stackoverflow.com/questions/37567665/how-to-emit-defaulttimespan-as-the-default-value-of-an-optional-parameter/37570005#37570005)

C# compiler (visual 2012), consider the following code as valid:

[code]

and it compiles down to

[code]

However, it's impossible to emit this msil by directly using System.Reflection.Emit.

The expected code:

`parameterBuild

[2016-06-01 14:24] GSPP opened #5369 "Enable reflection emit to emit void M(TimeSpan t = default(TimeSpan))"
Currently, reflection emit cannot emit [this particular pattern](http://tryroslyn.azurewebsites.net/#f:>il/K4Zwlgdg5gBAygTxAFwKYFsDcAoADsAIwBswBjGUogQxBBgGEYBvbGNmfYsmANwHswAExgBZABQAVMOlRxcVCDGQwAvDEGoAZlWBFkk6bPkQAlCeat2AX2xWgA==). The [documentation](https://msdn.microsoft.com/en-us/library/system.reflection.emit.parameterbuilder.setconstant(v=vs.110).aspx) is consistent with that.

[2016-06-01 14:55] #5284 closed

[2016-06-01 15:10] 82dsoldier commented on #919
When I use DependencyContext.Default to get a list of RuntimeLibraries, the Assemblies property is never populated.  I'm attempting to enumerate all of the types associated with the loaded assemblies to find ones with a specific markup.  From what I'm seeing, RuntimeLibrary and CompileLibrary are both useless for this as neither contains any information that would allow me to enumerate the classes

[2016-06-01 16:18] benaadams opened #5371 "RyuJIT bounds checks not eliminated for readonly arrays"
Range analysis doesn't take into account readonly arrays and you need to make a function local reference to eliminate the range check.

Analysis https://gist.github.com/benaadams/11123e9785481e07d8ca483bef798689

| Method | Median | StdDev | Scaled |
| --- | --- | --- | --- |
| ForLoopArray | 2.5021 us | 0.0591 us | 1.00 |
| ForLoopOneBoundsCheck | 2.3430 us | 0.0296 us | 0.94 |
| ForLoopReadOnlyA

[2016-06-01 16:46] joperezr commented on #3649
agreed, I'll move it to Future for now.

[2016-06-01 16:47] CarolEidt commented on #5166
@erozenfeld benchmarked this, and the difference was in the noise. I think that this needs further analysis before making the change, since our current (Windows) implementation only issues it when the jitted code is the callee, but not when it is calling into possibly-SSE code (e.g. if the target is precompiled or native). So I believe the right thing to do is to defer this for now.

[2016-06-01 16:48] CarolEidt commented on #5166
@RussKeldorph do you agree that deferring this is appropriate?

[2016-06-01 17:00] omariom commented on #5371
Range check can't be eliminated for  readonly instance fields because ctor's can call other methods.
But   if a static readonly field  has already been initialized JIT could  skip generatin range checks.

[2016-06-01 17:27] #5201 closed

[2016-06-01 18:36] AlexGhiondea commented on #4511
This should be fixed by #4833

[2016-06-01 18:36] #4511 closed

[2016-06-01 18:59] swgillespie commented on #5369
Seems like a dupe of https://github.com/dotnet/coreclr/issues/5368.

[2016-06-01 19:02] #5258 closed

[2016-06-01 19:19] RussKeldorph commented on #5166
@CarolEidt Sounds good to me.  Moving out.  Thanks.

[2016-06-01 19:20] wtgodbe opened #5377 "Publish packages into folders named for the package's configuration group"
Currently in azure, we publish Release and Debug packages on top of each other, which means we only get one type of each package. We should publish them into Release/Debug folders instead.

[2016-06-01 20:07] tugberkugurlu commented on #1017
same issue. `wget -q -O - http://llvm.org/apt/llvm-snapshot.gpg.key|apt-key add - ` simply doesn't work. Did anyone find a workaround for this?

[2016-06-01 20:09] RussKeldorph commented on #2266
I hate not knowing what was going on here, but if it isn't repro'ing anymore, my best guess is that it was  a manifestation of one of the non-JIT OSX-specific issues that was found and fixed separately.  If anyone has a better course of action than "close this and re-open if and when it repros again," feel free to re-open and explain.

[2016-06-01 20:09] ZizhengTai commented on #1017
If you go to http://llvm.org/apt in a browser, you can see they are working
on the issue. It should be resolved soon.
On Jun 1, 2016 1:07 PM, "Tugberk Ugurlu" <notifications@github.com> wrote:

[2016-06-01 20:16] fadimounir commented on #5343
Fixed with #5347

[2016-06-01 20:16] #5343 closed

[2016-06-01 20:19] tugberkugurlu commented on #1017
@ZizhengTai oh, well. This is a bit screwed up :disappointed: https://twitter.com/tourismgeek/status/738102584540434432

[2016-06-01 20:47] GSPP commented on #5369
Yes, a dupe. I thought I'd report this problem as a public service.

[2016-06-01 20:48] GSPP commented on #5369
Amazingly, the issues were opened the same *minute*.

[2016-06-01 20:50] ellismg commented on #5018
This is done now (and also in 1.0.0/release)

[2016-06-01 20:50] #5018 closed

[2016-06-01 20:51] ellismg commented on #4987
This is done now (and also in 1.0.0/release)

[2016-06-01 20:51] #4987 closed

[2016-06-01 21:39] wtgodbe commented on #5377
https://github.com/dotnet/coreclr/pull/5378 resolved

[2016-06-01 21:39] #5377 closed

[2016-06-01 21:57] GSPP commented on #5371
What's the CLR's policy on changing readonly fields through reflection? Is this undefined behavior? I believe so for the static case. I have seen the JIT inline static readonly constants at JIT time.

[2016-06-01 22:04] omariom commented on #5371
It currently works for fields of primitive types.
would be interesting to extend it further to arrays and  [dynamic dispatch](https://github.com/dotnet/coreclr/issues/4108)

[2016-06-01 22:09] GSPP commented on #5371
I was more interested in what format guarantees there are. I guess for static readonly there are none. But what about:

    var x = this.readonlyField;
    SetXThroughReflection();
    Assert(x == this.readonlyField);

Can this ever throw? The JIT might assume the field cannot change.

For a static readonly field this would always fail.

[2016-06-01 22:13] wtgodbe opened #5385 "Publish packages into symbolpkg/pkg directories inside of the directory specifying their configuration group"
We should publish packages into {Debug, Release, Checked}/{pkg, symbolpkg}, not just into {Debug, Release, Checked}. Otherwise VSTS will hit naming conflicts.

[2016-06-01 22:18] #5364 closed

[2016-06-01 22:26] omariom commented on #5371
wow! I has  been sure Reflection doesn't allow setting readonly fields.
But it does!

[code]

[2016-06-02 00:03] #4929 closed

[2016-06-02 00:39] ellismg opened #5391 "libsosplugin.so getting an RPATH of /usr/lib/llvm on RHEL"
@omajid pointed this out to me.  When building on RHEL, the resulting libsosplugin.so that's produced has an RPATH pointing to /usr/lib/llvm.  (libsos.so and libmscordbi.so also have an RPATH but it is set to $ORIGN).  When building on Ubuntu 16.04 (I'll look at all the other distros later) libsosplugin.so doesn't have a RPATH at all.

@mikem8361 Do you know what's going on here?  I thought some o

[2016-06-02 00:58] janvorli opened #5393 "GCStress 0xC on Unix is broken"
GCStress 0xC on Unix is not working due to the way that
we check that a specific IP is in managed code. To make that check safe,
a precondition checking that the thread is in cooperative GC mode was added
some time ago. But that causes a problem with the GCStress 0xC and PInvoke
stubs. The PInvoke stub switches to preemptive mode at some point and when
the code beyond that point is instrumented an

[2016-06-02 00:59] janvorli commented on #5393
Fixed by #5276

[2016-06-02 00:59] #5393 closed

[2016-06-02 02:03] seanshpark commented on #5324
@jasonwilliams200OK , I've tested with below change and works ok with both gcc 4.8 and 5.3, but don't seem nice. Do you have any better ways?
[code]
I'm not sure about this change, how

[2016-06-02 02:07] omajid commented on #5391
Could this be caused by the difference in where the RHEL llvm package [1] and the Ubuntu llvm package place their libraries?

On [RHEL](https://matell.blob.core.windows.net/rpms/llvm-libs-3.6.2-1.el7.centos.x86_64.rpm):
    /usr/lib64/llvm/LLVMgold.so
    /usr/lib64/llvm/libLTO.so

On [Ubuntu](http://packages.ubuntu.com/xenial/amd64/llvm-dev/filelist):
    /usr/lib/LLVMgold.so
    /usr/lib/libLTO.

[2016-06-02 02:35] bendono opened #5397 "Product file metadata"
Environment: Windows 10
Language: English

The generated files have an assortment of metadata issues. Below is a list that I have noticed:

[code]

[code]

[code]

[code]

[code]

[code]

[2016-06-02 02:40] bendono commented on #5397
@jkotas Not sure who decides these things. Could you recommend someone to review this? Thanks.

[2016-06-02 03:17] jkotas commented on #5397
cc @leecow @gkhanna79

[2016-06-02 04:31] jkotas commented on #5354
cc @noahfalk

[2016-06-02 05:31] JohnChen0 commented on #5366
The following failure has been fixed with PR #5383 (master branch) and #5395 (release/1.0.0 branch): JIT.Regression_clr_x64_JIT_v4_0_devdiv374539_DevDiv_374539_DevDiv_374539._Regression_clr_x64_JIT_v4_0_devdiv374539_DevDiv_374539_DevDiv_374539_cmd

[2016-06-02 06:31] gkhanna79 commented on #4070
Issues being tracked by JIT team in https://github.com/dotnet/coreclr/issues/2451

[2016-06-02 06:32] gkhanna79 commented on #2451
@RussKeldorph There are bunch of JIT tests in http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x64_release_ubuntu_pri1r2r_tst_prtest/16/#showFailuresLink that exhibit the same issue and add noise to failure rate. Can we please disable these tests in master and release branches?

[2016-06-02 06:54] leemgs commented on #3182
Yes. I have submitted PR https://github.com/dotnet/coreclr/pull/5396.

I am going to change the optimization flag from -O1 to -O3 when the Ubuntu community merge the bug fix of llvm into their Ubuntu 14.04 LTS 64bit. Finally, I think that the Ubuntu users just need to do "apt-get install clang-3.6" command.
 * The launchpad system of the Ubuntu community:
   https://bugs.launchpad.net/ubuntu/+sour

[2016-06-02 07:38] parjong opened #5403 "[ARM/Linux] Unittest JIT.Regression.CLR-x86-JIT.V2.0-Beta2.b425314 got stuck."
Unittest JIT.Regression.CLR-x86-JIT.V2.0-Beta2.b425314 doesn't return n ARM/Linux. It seems that there is some infinite loop in CoreCLR.

[2016-06-02 07:41] parjong commented on #5403
I found some suspicious logs from debug message. At some point, CoreCLR shows the following debug message repeatedly:
[code]

It seems that CoreCLR got stuck in ``Thread::SuspendThread`` method.

[2016-06-02 08:10] kingces95 commented on #5354
Still reproduces on Update 3 RC.

[2016-06-02 08:40] mkborg commented on #5275
@papaslavik There are several '\*delegates\* files. May be one of them contains the test you are looking for?
[code]

[2016-06-02 09:01] #5326 closed

[2016-06-02 09:05] janvorli commented on #5275
@papaslavik There are delegate tests in tests/src/CoreMangLib/cti/system/delegate and tests/src/CoreMangLib/cti/system/multicastdelegate. I don't see tests related to passing floats or doubles, so it seems it would make sense to add one in there.

[2016-06-02 11:15] lemmaa opened #5405 "ARM64/Linux: CMake initialization failure on ARM64 cross build"
same case with #5316
build.sh cross arm64 clean verbose fails with the following error message:

[code]

[2016-06-02 12:10] techyian commented on #4332
Hi,

Just wanted to add to this thread. I've tried building from source on my Raspberry Pi 3 and receive a Seg Fault in corhlpr.h within the struct COR_ILMETHOD referencing line 610. I've followed the build instructions and have also built libunwind from source which includes the required change mentioned to prevent access to inaccessible memory. This is using the latest Raspbian build.

I've also

[2016-06-02 12:13] jasonwilliams200OK commented on #5324
@seanshpark, I tested on Gentoo and your patch works. Correctness overweighs nice looks.. We can remove the double quotes however:

[code]

Otherwise your patch is perfect!

[2016-06-02 12:53] RussKeldorph commented on #2451
@gkhanna79 Yep.  We are working on it.

[2016-06-02 13:42] gkhanna79 commented on #5397
@RussKeldorph Can you please have someone look into the ILAsm/ILDasm/CLRJIT issues?

[2016-06-02 13:44] gkhanna79 commented on #5397
@AlexGhiondea @weshaggard FYI

[2016-06-02 13:48] gkhanna79 commented on #5397
@AlexGhiondea Can you please look into fixing the facade and core library?

[2016-06-02 13:51] benaadams opened #5407 "Thread.IsThreadPoolThread not exposed in coreclr"
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/Thread.cs#L645-L649

Some times we want to queue things on the threadpool; but if we are already on the threadpool continue executing rather than queue - however the thread can't be checked if is threadpool thread currently.

[2016-06-02 13:57] #5403 closed

[2016-06-02 14:07] RussKeldorph opened #5408 "Metadata issues in clrjit, ilasm, and ildasm"
Forked from #5397

[code]
[code]

[2016-06-02 14:09] RussKeldorph commented on #5397
ilasm/ildasm/clrjit forked off into #5408.

/cc @kyulee1 @pgavlin @russellhadley

[2016-06-02 15:35] kyulee1 commented on #5397
I'm not sure about Product file metadata. How do we generate and/or access them?

[2016-06-02 15:39] AlexGhiondea commented on #5397
@gkhanna79 are the errors about the NI image or the actual facade/implementation assembly?

[2016-06-02 15:47] gkhanna79 commented on #5397
@AlexGhiondea I believe it is about IL assembly but we should look into for both IL and NI.

[2016-06-02 15:51] jkotas commented on #5397
NI images have copy of the version metadata from the IL image. It means that the filename in the version metadata does not match if the NI image has .ni.dll suffix. It is expected.

[2016-06-02 15:53] gkhanna79 commented on #5397
@jkotas Sounds good. @AlexGhiondea Can you please look into fixing the IL for facade and core library?

[2016-06-02 15:58] omariom opened #5413 "Reflection and readonly fields"
Why Reflections allows  changing  values of `readonly` fields?

[code]

It is in .NET Framework. I haven't tried to do that in CoreCLR.

[2016-06-02 16:17] gkhanna79 commented on #5397
CoreCLR side of issues fixed by https://github.com/dotnet/coreclr/pull/5409

[2016-06-02 16:53] jkotas commented on #5303
https://github.com/WebAssembly/design/blob/master/GC.md would be likely required to make this practical for C#.

[2016-06-02 17:13] jashook opened #5416 "Ready to Run Unix explicit tailcalls not supported."
Several tests fail with the following under [r2r jit stress](http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/release_1.0.0/job/x64_checked_ubuntu_r2r_jitstress2_tst/1/testReport/).

JIT/IL_Conformance/Old/objectmodel/castclass/castclass.sh

[code]

[2016-06-02 17:18] wtgodbe commented on #5385
https://github.com/dotnet/coreclr/pull/5387 resolves this

[2016-06-02 17:18] #5385 closed

[2016-06-02 17:18] RussKeldorph commented on #5416
@jashook I believe you can close this as a duplicate of #4971.

[2016-06-02 17:21] RussKeldorph commented on #5371
@dotnet/jit-contrib FYI

[2016-06-02 17:22] #5416 closed

[2016-06-02 17:23] RussKeldorph commented on #5357
@dotnet/jit-contrib

[2016-06-02 17:31] swgillespie commented on #5369
@GSPP quite the coincidence! :smile:

[2016-06-02 17:31] #5369 closed

[2016-06-02 17:50] kyulee1 commented on #4879
I'd like to understand the issue. How to repro this?

[2016-06-02 17:54] lt72 commented on #4091
@dagood: on the email thread you mention a build hash that is already in the binary. Please post the details on this thread when you get a chance

[2016-06-02 17:59] dagood commented on #4091
(@lt72 I was actually just finishing up this comment now! :smile:)

Turning on the build pipeline has been my main focus this week so far, but now I have an update about a pretty major change in what I think our approach should be: I think we should go straight to making a "proper" symbol server. A meeting I had on Tuesday with @brianrob and @schaabs showed me that a script like (1) or (2) doesn't

[2016-06-02 18:01] rahku commented on #4879
See instructions on arm64 one note on how to run corefx tests. The steps were added by @ramarag

[2016-06-02 18:14] RussKeldorph opened #5419 "Loader tests fail due to missing dependencies under ReadyToRun"
Suggest disabling or fixing for RTM.

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/release_1.0.0/job/x64_checked_ubuntu_r2r_jitstress2_tst/1/testReport/
[code]

[2016-06-02 18:15] RussKeldorph commented on #5419
@gkhanna79 @JohnChen0

[2016-06-02 18:17] gkhanna79 commented on #5419
@fadimounir PTAL

[2016-06-02 18:25] davmason commented on #5242
Completed with #5342 for rtm and #5247 in master.

[2016-06-02 18:25] #5242 closed

[2016-06-02 18:32] davmason opened #5420 "Add filtering to EventSources on Linux"
Currently you can either turn all EventSources on or all EventSources off on Linux. We should have some sort of basic filtering on Linux.

After discussion on the perf team, the lowest risk fix to take for RTM is to have two environment variables to filter EventSources either by name or by event name. Leaving both variables undefined will not alter existing behavior.

COMPlus_EventSourceFilter - e

[2016-06-02 18:33] lt72 commented on #4091
cc:@leculver

[2016-06-02 18:33] tzwlai commented on #4091
We have a new design for this which doesn't have to version with the runtime.  Moving this out of 1.0 since we currently planning to ship OOB.

[2016-06-02 19:24] swaroop-sridhar commented on #4794
Leaving open until merged to release branch.

[2016-06-02 19:37] swaroop-sridhar commented on #5310
Fixed by https://github.com/dotnet/coreclr/commit/2fc254794c9a31d02cd995df04176e64d0c13eeb

[2016-06-02 19:38] swaroop-sridhar commented on #2785
Fixed by
https://github.com/dotnet/coreclr/commit/2fc254794c9a31d02cd995df04176e64d0c13eeb

[2016-06-02 19:38] #2785 closed

[2016-06-02 19:46] #5408 closed

[2016-06-02 19:51] tmat opened #5424 "GetNativeVariantForObject tests are missing cases"
https://github.com/dotnet/coreclr/blob/a85c2686820fa9f79dc5b40e975dcb0e59367a52/tests/src/Interop/MarshalAPI/GetNativeVariantForObject/GetNativeVariantForObject.cs is missing some test cases (actually I'd say it's missing a lot of test cases). At least marshalling of strings that contain NUL characters should be explicitly tested.

[2016-06-02 20:55] adityamandaleeka commented on #3937
Closing this and #3938. If they occur in the future, please look into whether the problem mentioned in the comment above is the reason.

[2016-06-02 20:55] #3937 closed

[2016-06-02 20:55] #3938 closed

[2016-06-02 21:21] RussKeldorph opened #5427 "JIT/IL_Conformance/Old/objectmodel/castclass/castclass.exe fails on Linux under R2R+JitStress=2"
**Job scenario:** Ubuntu, x64, ReadyToRun, COMPlus_JitStress=2

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/release_1.0.0/job/x64_checked_ubuntu_r2r_jitstress2_tst/1/testReport/JIT.IL_Conformance.Old.objectmodel/castclass/castclass/

[code]

[2016-06-02 21:25] RussKeldorph opened #5428 "JIT tests failing under ReadyToRun due to missing dependencies"
Tests should be deleted, disabled, or fixed as appropriate.

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/release_1.0.0/job/x64_checked_ubuntu_r2r_jitstress2_tst/1/testReport/
[code]

[2016-06-02 21:43] AlexGhiondea commented on #5397
@leecow @gkhanna79 -- what should we use for mscorlib and system.private.corelib for file description? Should we use the assembly name, or something different?

[2016-06-02 21:45] leecow commented on #5397
I would be fine with the assembly name if something more descriptive isn't possible or appropriate.

[2016-06-02 21:51] #5152 closed

[2016-06-02 21:55] jashook opened #5430 "x86 Jit32 AbsSingle.cs failure"
[code]

[2016-06-02 22:23] jashook commented on #5430
abssingle relies on a certain level of floating point precision and fails if the diff is outside of that precision.

[2016-06-02 22:24] seanshpark commented on #5324
@jasonwilliams200OK , thank you :) I'll prepare a PR

[2016-06-02 22:25] AlexGhiondea commented on #5397
/cc @joperezr who has an idea about what happened for S.P.C.dll and mscorlib.dll.

[2016-06-02 22:29] gkhanna79 commented on #5397
mscorlib - Core library facade
SPC - Core runtime library

My 2 cents.

[2016-06-02 22:31] joperezr commented on #5397
It is not super straight forward to change the file description, since we would have to add some code in buildtools, plus some changes in coreclr to make that work. @gkhanna79 I have a fix for them having the assembly name, should I go with that or would you rather have me add the descriptions you suggested?

[2016-06-02 22:35] gkhanna79 commented on #5397
Ok - in that case, keep the filename.

[2016-06-02 22:43] joperezr commented on #5397
Ok, that will be fixed as soon as my PR gets merged. Do we need this only in master branch, or should we also cherry-pick the change for a different branch?

[2016-06-02 22:46] jamesqo opened #5437 "Is the CONTRACTS_FULL symbol needed anymore?"
Doing a search for [CONTRACTS_FULL](https://github.com/dotnet/coreclr/search?utf8=%E2%9C%93&q=CONTRACTS_FULL) throughout the repo turns up 22 files, all of them C# or text. Based on that, I'm assuming the symbol isn't being defined anymore throughout the repo, and everything under an `#if CONTRACTS_FULL` is dead code.

Would it be okay to remove all of these code blocks under `CONTRACTS_FULL`, or

[2016-06-02 22:48] AlexGhiondea opened #5438 "Introduce additional type forwards for mscorlib"
There are a few type forwards that would be very useful to have in mscorlib:
- types that are needed by System.Runtime.WindowsRuntime
- types that are in System.Security.Cryptography.Primitives
- types that are in System.Security.Claims

[2016-06-02 22:59] kyulee1 commented on #4879
System.Numerics.Vectors.Tests are all passed  (1062 tests). I believe this is due to Brian's HFA argument work.
I validated the assembly looks reasonable. So I close this issue.

[2016-06-02 22:59] #4879 closed

[2016-06-02 23:03] jkotas commented on #5437
cc @AlexGhiondea

I think it should be fine to remove ifdef for these. The Conditional attributes should stay.

[2016-06-02 23:17] joperezr commented on #5397
BTW also, the reason why clrjit.dll, ilasm.exe, ildasm.exe don't have any metadata is because they are using function _add_executable instead of add_executable_clr, which apparently excludes the native resource compilation even when there are native resources that get passed in. @rahku looks like you added the functions, do you know why this might be happening?

[2016-06-02 23:23] DevZ1 opened #5441 "You must add a reference to assembly 'mscorlib, Version=4.0.0.0, Culture=neutral ??"
Hi Devs,

first of all I want to to say that I really like RC1 release, but didn't expect the MS team to radically change everything in RC2? 👎  Why call it RC while you changed practically everything in the RC2 release? My whole project doesn't work and i'm spending days to convert everything to RC2 and my project is still not working. I want to host everything under IIS, so cross platform does no

[2016-06-02 23:25] mikem8361 commented on #1083
master PR #5442

[2016-06-02 23:38] rahku commented on #5397
clrjit.dll actually uses add_library_clr
https://github.com/dotnet/coreclr/blob/master/src/jit/standalone/CMakeLists.txt#L11. So I don't think the issue is due to the function used.

[2016-06-02 23:56] brianrob commented on #4091
cc: @ellismg

[2016-06-02 23:56] mikem8361 commented on #5391
I'm going to try to explicitly set the RPATH like the other projects by adding the below to sosplugin's CMakeLists.txt.

# Set the RPATH of mscordbi so that it can find dependencies without needing to set LD_LIBRARY_PATH
# For more information: http://www.cmake.org/Wiki/CMake_RPATH_handling.
if(CORECLR_SET_RPATH)
  set(CMAKE_BUILD_WITH_INSTALL_RPATH TRUE)
  if(CLR_CMAKE_PLATFORM_DARWIN)
    set(CM

[2016-06-03 00:07] kyulee1 commented on #5397
ildasm/ilasm/clrjit issues are already merged via https://github.com/dotnet/coreclr/pull/5417

[2016-06-03 00:28] myungjoo commented on #5441
It looks like as if you didn't update the managed dll files of coreclr while you have updated other native executables and shared libraries of coreclr. I often see such error if I didn't match coreclr managed dlls (in Linux, there are two *.dll from coreclr) with native executables (in Linux, they are *.so and corerun, and other utilities).

[2016-06-03 00:29] kingces95 commented on #5181
@gkhanna79 Hello. Forgive me a question a bit off topic, but this is the best spot I found to to ask (please let me know if there a R2R forum that's more appropriate.) Is there a document describing how generics works with R2R? For example, where does the native code live and when is it generated for a generic method in module A which takes as a generic argument a struct defined in module B? For e

[2016-06-03 00:31] janvorli commented on #5427
This should be fixed by #5446

[2016-06-03 00:32] RussKeldorph commented on #5419
@fadimounir @gkhanna79 Regarding this issue as well as #5428: why do these not fail on Windows?  Are these indeed bad tests, or is there a bug in R2R on Unix?

[2016-06-03 00:33] seanshpark commented on #5441
Just curious, can this be possible with `coreclr`? (I'm actually newbie in .NET)

[2016-06-03 00:51] erozenfeld commented on #5427
@janvorli I verified that this test is indeed fixed by #5446. Please close this bug once #5446 is merged.

[2016-06-03 00:52] mikem8361 commented on #5391
@omajid I'm curious what problem this RPATH causes?  libsosplugin.so is loaded explicitly by the LLDB "plugin load" command so I don't think the RPATH matters.  And on Ubuntu 14.04 build, libsosplugin.so has the RPATH of where the LLDB libraries are too (as least on my local build and I'm building against a LLDB 3.8 I've built myself).

readelf -d libsosplugin.so
...
 0x000000000000000f (RPATH)

[2016-06-03 01:05] fadimounir commented on #5419
@RussKeldorph I am not sure why they are not failing on Windows. Also when I manually tried to repro the failures on Windows and on Ubuntu, the tests passed (IL and R2R configurations). The tests needed fixing anyways, and the RMV* ones were just bad tests, not testing what they were really supposed to be testing anyways, so I'm deleting them.

[2016-06-03 01:15] fadimounir opened #5449 "Exception handling not working well on non-Windows platforms in R2R"
The problem is when the exception is thrown from the DynamicHelperWorker API, used in R2R helper calls.

Minimal repro (crossgen binary before running it on Ubuntu):

public interface IUnimplemented
{
    void UnimplementedMethod();
}

public class Castable : System.Runtime.CompilerServices.ICastable
{
    public bool IsInstanceOfInterface(RuntimeTypeHandle interfaceType, out Exception castError)

[2016-06-03 01:22] lemmaa opened #5450 "[ARM64/Linux] Cross building CoreCLR ARM64 on Linux"
I ran into several problems during the cross build CoreCLR for ARM64 in linux machine.
I'm trying to record and solve the information here.
- [x] CMake initialization failure on ARM64 cross build (#5406)
- [x] Fix wrong filename, `DisasmARM64.cpp`, for case sensitive filesystem.  (#5448)
- [x] Fix compile error 'cannot be narrowed to type int' (#5452)
- [x] ~~Fix 'array index xx is past the end of

[2016-06-03 01:29] fadimounir opened #5451 "Non-virtual calls to abstract methods explicitly overridden by other method bodies, failing with R2R"
Test result with failure:
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x64_checked_windows_nt_pri1r2r_prtest/5/testReport/

(Loader._classloader_regressions_429802_CMain_CMain_._classloader_regressions_429802_CMain_CMain_cmd)

[2016-06-03 01:55] jkotas commented on #5181
The code for `A<S>` can only live in A's defining module today.

Not always. E.g. if the generic type arguments are in the transitive closure of the generic type defining module, we are able to generate R2R code for it today.

We are planning more post v1 work on making the generic support for R2R better. For example, one of the options being considered is having slower universal code in R2R image

[2016-06-03 01:58] swaroop-sridhar commented on #4794
Fixed by merge https://github.com/dotnet/coreclr/commit/54b743d47fb7be47ead72d1910bd8cb4cfd38e63

[2016-06-03 01:58] #4794 closed

[2016-06-03 02:08] jamesqo commented on #3579
+1 to this. This would allow people to write hand-crafted IL in cases where performance is important (and I bet there are a lot of those cases in mscorlib/many other libraries), without having to add any new language features to C#.

If we do this, the syntax should be to add the `extern` modifier to the method that's being coded in IL, e.g.

[code]

This would remove the need to have an unnecessa

[2016-06-03 02:12] jamesqo commented on #972
@weshaggard Sounds awesome :grinning: Sorry for the late reply, but please let us know here if/when you're able to do this. I'm sure other contributors to mscorlib would appreciate this, as well.

[2016-06-03 02:47] shahid-pk commented on #5441
@seanshpark this was never possible even with rc-1, but i think his question is about using .net framework full assemblies with asp.net core which is possible because asp.net core also runs on .net framework full.

@DevZ1 your problem from your project.json is that your are targeting .net core and then using some .net framework full libraries , you need to target .net framework full and since this

[2016-06-03 03:37] vindicatorr commented on #5006
"Trojan:Win32/Maltule.C!cl"
https://www.microsoft.com/security/portal/threat/encyclopedia/entry.aspx?name=Trojan%3AWin32%2FMaltule.C!cl&threatid=2147709295&enterprise=0

Commit: 98568fb845ccaa97e18433ac13741913d6c8ffec

Just putting this out there as a heads-up. I'm guessing it's a false-positive from Windows-10 Windows Defender.

@jasonwilliams200OK I haven't forgotten about your requests (partic

[2016-06-03 04:32] seanshpark commented on #5324
@jasonwilliams200OK , do you know anything about this? `freebsd` fails to build in CI.
[code]
or do we have to add `freebsd` also to `darwin` check?

[2016-06-03 04:57] seanshpark commented on #5324
I've updated the PR for testing
[code]

[2016-06-03 05:13] myungjoo commented on #4825
The code of crossgen/jit32_gcencoder looks as if ARM-support was dropped in the middle of development. What's the "policy" or "direction" on the development of crossgen? Is it going to be discontinued? (and merged into corert?)