[2019-01-09 01:04] sdmaclea commented on #17174
@BruceForstall Sure.  I think this was really a note to myself to run with the actual runtime.  If the arm64 tests are running in corefx this should happen automatically.  In anycase the issue seems like it is a corefx infra issue (if it still exists)

[2019-01-09 01:31] BruceForstall commented on #19578
We don't support ARM64 in 2.x (https://github.com/dotnet/coreclr/issues/19843), so do we need to keep this issue open?

[2019-01-09 01:40] janvorli commented on #19300
That's correct, the ARM64 binaries are built on Ubuntu 16.04 and so it determines the minimum required glibc version.

[2019-01-09 01:43] BruceForstall commented on #20232
Related: https://github.com/dotnet/coreclr/issues/15016

[2019-01-09 01:46] #21854 closed

[2019-01-09 01:47] BruceForstall commented on #20260
Before closing this, it would be useful to run PMI across all the framework assemblies to ensure no remaining asserts.

[2019-01-09 01:49] AndyAyersMS commented on #21794
The inliner changes in #21893 help to some extent and can probably stand on their own regardless of what we do here, but why not make `IsSupported` an intrinsic and avoid all this?

We are doing a crazy amount of inlining and importer folding to get at something that the jit could very quickly evaluate as an intrinsic.

[2019-01-09 01:52] BruceForstall commented on #20514
I fixed this with https://github.com/dotnet/coreclr/pull/21809

[2019-01-09 01:52] #20514 closed

[2019-01-09 01:54] fiigii commented on #21794
#21795 change to use throw helpers that manually inlines `IsSupported`, so we may not need to make it intrinsic.

[2019-01-09 01:55] janvorli commented on #19300
See https://github.com/dotnet/docs/blob/master/docs/core/linux-prerequisites.md

[2019-01-09 01:55] CarolEidt commented on #16021
I am working on #14371, and also #16022, though progress is slow.

[2019-01-09 01:56] briansull commented on #21890
Investigating - This is the same as #21804

[2019-01-09 01:57] fiigii commented on #21794
I will try #21893 + #21795  later.

[2019-01-09 02:00] #21862 closed

[2019-01-09 02:03] BruceForstall commented on #20540
This has been fixed

[2019-01-09 02:03] #20540 closed

[2019-01-09 02:18] VincentBu opened #21903 "[x64] Test failed: System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_Authentication_Test.SocketsHttpHandler_Authentication_Succeeds"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_ubuntu_corefx_jitstressregs0x80/820/

**Failed test:**
System.Net.Http.Functional.Tests.SocketsHttpHandler_HttpClientHandler_Authentication_Test.SocketsHttpHandler_Authentication_Succeeds

**Log:**
[code]

[2019-01-09 02:29] VincentBu opened #21904 "[x64] Test failed: System.Diagnostics.Tests.EventLogRecordTests.FormatDescription"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_corefx_jitstressregs0x10/751/

**Failed test:**
System.Diagnostics.Tests.EventLogRecordTests.FormatDescription

**Log:**
[code]

[2019-01-09 02:43] #21841 closed

[2019-01-09 02:45] BruceForstall commented on #19300
So can we close this "by design" then?

[2019-01-09 03:07] AndyAyersMS commented on #21794
I should have diffs for  #21893 + #21795 shortly.

[2019-01-09 03:38] tannergooding commented on #21794
@AndyAyersMS, is that possibly one of the cases where the `jit-diff` chooses an unsupported `T`? The method only lists `; Assembly listing for method Vector64`1:Equals(struct):bool:this`, so we can't see what the `T` is...

[2019-01-09 03:45] tannergooding commented on #21794
Actually, it looks about as expected for a supported type. `Vector64<T>` doesn't have any hardware support on x86 and always goes to the software fallback.

Given that the implementation is: https://github.com/dotnet/coreclr/blob/c885564832facf8a9cdcbe9baa1c7a18321cb9bd/src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/Vector64_1.cs#L170

It is eliding the `ThrowIfUnsupportedType` call a

[2019-01-09 04:21] noahfalk commented on #21778
The profiler certainly has the option to throw a fatal exception of their own. That wouldn't lessen the number of crashes if they chose that route, but it could improve diagnosability assuming the profiler logged something about what method had the bad IL and the situation that caused them to generate it.

As a strawman I propose if you continue from the error callback then the IL is in the state

[2019-01-09 07:39] AndyAyersMS commented on #21794
Yeah it is unfortunate that for release runtime based PMI diffs we lose the generic type info. I should look into fixing that.

[2019-01-09 08:17] AaronRobinsonMSFT commented on #21778
Agreed, but this is a discussion about _not_ coming down hard and that is my point. When an operation for instrumentation is performed, there is an expectation - at least in all the time I was on the profiler team - that the supplied code/IL/assembly was valid and wasn't going to terminate/corrupt/etc the process. Going down the route of trying to accept code and if it isn't okay backing out the r

[2019-01-09 09:37] caozhiyuan opened #21906 "[profiler api] definemethod generic method problem"
i use IMetaDataImport2 find a generic method (ExecuteAsyncImpl) of type ，and use this method props define a renamed method, and copy il to new method, but C# code reflect this generic method returntype info get

[code]

C++ profiler sample code like this

[code]
no generic method (Trace_Configure) can reflect to run success, can anybody explain it?

[2019-01-09 10:11] fiigii commented on #21899
I will fix the first problem tomorrow.

As I know, RyuJIT only builds SSA on normal local vars and does not have the general memory analysis mechanism (e.g., Memory SSA), so eliminating this kind of redundant memory store/loads looks a big job. But I may be wrong.
@CarolEidt @AndyAyersMS Do you have suggestions?

Originally, I suggested to expose this intrinsic as
[code]
This API could be optimize

[2019-01-09 10:54] gfoidl commented on #21244
https://github.com/dotnet/corefx/issues/34444 is a duplicate of this one and should be fixed in https://github.com/dotnet/corefx/pull/34449.

[2019-01-09 10:54] #21244 closed

[2019-01-09 12:14] mikedn commented on #21899
It has less to do with SSA and more to do with the ability to represent this in the IR.

Unlikely, you'll end up with dependent struct promotion and thus in memory. Multireg return calls (including `long` return calls on 32 bit) also suffer from a similar problem.

For example:
[code]
which should be something like
[code]
Not to say that this cannot be fixed. But it's not that simple.

And yes, re

[2019-01-09 13:02] stephentoub commented on #21780
@treenew, 2.2.1 was released yesterday with the fix. Can you try that?

[2019-01-09 13:06] hzicong commented on #21780
@treenew 今天发布的2.2.1貌似是解决了这个问题，我今天更新之后已经没再出现过这个问题了

[2019-01-09 13:22] stephentoub commented on #21780
Great, thanks for letting us know.

[2019-01-09 14:07] treenew commented on #21780
Yes!This bug is fixed.

But, My app run 5m after, throw a error code "2147943401" and restart application.

I google this code: "Recursion too deep; the stack overflowed."

I'll look at it again.

[2019-01-09 14:08] #21780 closed

[2019-01-09 14:10] stephentoub commented on #21780
If there's another problem you discover after investigating, please open a separate issue for it in whatever repo is most relevant. Thanks.

[2019-01-09 14:32] treenew opened #21907 "dotnet 2.2.1 Exited with return code 2147943401"
I use nssm.exe run a windows server with dotnet.exe.
[code]

[2019-01-09 15:47] pentp commented on #21899
The public API is probably not holding us back - it could just forward to a private ValueTuple version if it helped or this transformation could be achieved in JIT import. Importation could ensure that the result is always stored to a (temp) local variable - this might simplify/improve the codegen somewhat. But fundamentally the problem is modelling a two-value tree node (applies to all three vari

[2019-01-09 16:15] tannergooding commented on #21033
Another case where this would be useful is in the following code:
[code]

If the index is a constant value, it is much more efficient for us to emit a `shuffle` or `extract` instruction. However, when it is non-constant, it is generally more efficient to do a direct read from memory (than to emit the jump table fallback which also has the overhead of a method call, rather than being directly inlin

[2019-01-09 16:45] janvorli commented on #21907
This means there was a stack overflow.

[2019-01-09 17:31] sbomer opened #21910 "Intermittent failure to install native OSX dependencies in official builds"
See the failing OSX build in https://dnceng.visualstudio.com/internal/_build/results?buildId=68976.
The error is as follows, during a `brew install`:
[code]

[2019-01-09 17:39] chcosta commented on #21910
@dotnet/dnceng is this a known issue?

[2019-01-09 18:06] #21585 closed

[2019-01-09 18:37] sywhang commented on #16537
@BruceForstall I still don't have an access to Linux/ARM64 machine to repro this and it doesn't repro on any other architectures I tried. As far as I know Maoni doesn't have one either. We should probably leave the issue open to track it but I'm not sure when I will have the HW to look at it.

[2019-01-09 18:42] AndyAyersMS commented on #20089
I'll take a look...

[2019-01-09 18:42] sbomer commented on #21910
I have some experimental evidence that running `brew update` separately before `brew install` (as opposed to letting `brew install` do the auto-update) works around the issue.

[2019-01-09 19:49] BruceForstall commented on #13407
Looks like a real bug to me, that probably deserves its own issue.

Looks like @briansull added it over 3 years ago. I don't remember the details. @briansull Was it a desktop only quirk? Can we put it under `#if !defined(FEATURE_CORECLR)`? Or should this issue just get fixed?

[2019-01-09 20:03] fiigii commented on #21899
@mikedn Ah, thanks for the info. Are there issues to track this problem?

[2019-01-09 20:10] leculver commented on #21778
@AaronRobinsonMSFT In a perfect world, yes we expect that profiler developers are giving us valid, well-formed (and functional) IL and we wouldn't have to do extra work when a profiler gets it wrong.  However, the reason this issue is being raised is that we **did** have that as a policy, and it harmed our customers.

We spent 5 months trying to track down the issue and even after we got a really

[2019-01-09 20:22] leculver commented on #18323
@aviita Sorry I missed your previous reply here.  Yes the same issue can happen with desktop CLR (the issue is with ProductionBreakpoints*.dll and that works on both .Net Core and desktop CLR).  I also verified that the crash dumps you sent do have a version of AppInsights with the bug in them.  So disabling the plugin or updating these DLLs will fix the issue.

[2019-01-09 20:37] BruceForstall commented on #20682
@AaronRobinsonMSFT Is it correct that this "Future", not "3.0"?

[2019-01-09 20:39] BruceForstall commented on #21022
@maryamariyan @jashook Do you know where the incorrect exception originates?

@maryamariyan Are you suggesting that the JIT needs to change? Should the issue be assigned instead to @jashook?

[2019-01-09 20:42] BruceForstall commented on #21182
@RoySalisbury Do you still have this problem? Have you tried .NET Core 2.2 or .NET Core 3.0? It may be difficult for us to investigate this; are you able to investigate further?

cc @janvorli

[2019-01-09 20:52] BruceForstall commented on #15062
@mikem8361 has anything changed here since the last update? Does this need to be fixed for 3.0?

[2019-01-09 20:58] BruceForstall commented on #15286
@sbomer @jeffschwMSFT Do we have appropriate testing in place for illink for arm32/arm64 cross-compiled binaries? If so, maybe we can close this. The "illink" jobs in the Jenkins CI don't support arm32/arm64.

[2019-01-09 21:00] BruceForstall commented on #15394
@alpencolt Can we close this issue now? It doesn't seem like there's any value to keep it open.

[2019-01-09 21:10] BruceForstall commented on #18682
Does anyone believe there is still value to keeping this issue open? @aishiguro?

[2019-01-09 21:11] BruceForstall commented on #18893
@wfurt @mikem8361 Is this still a problem?

[2019-01-09 21:12] BruceForstall commented on #18907
@brianrob Is this a 3.0 issue?

[2019-01-09 21:15] BruceForstall commented on #18958
@shaojun Does the issue still occur? Have you tried .NET Core 2.2 or .NET Core 3.0?

[2019-01-09 21:39] brianrob commented on #18907
Yes, should be looked at for 3.0.

cc: @noahfalk, @jorive

[2019-01-09 21:41] pentp commented on #21899
What if the importer transformed local variable use cases from
[code]
into
[code]
and all other cases into
[code]
where `ldmagic` would be some new IR node type that that is tied to the second return value of `mulx`? And it could be stitched together using a `GT_COMMA` maybe?

[2019-01-09 21:43] wfurt commented on #18893
It seems so. I downloaded master build from  https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-linux-arm.tar.gz and it is still not there. This originally come up by external user. I can try to find the original issue if needed.

[2019-01-09 21:47] AaronRobinsonMSFT commented on #20682
@BruceForstall Unclear. I am not sure how important this scenario is for 3.0. cc @jeffschwMSFT.

[2019-01-09 22:11] jashook commented on #21022
@BruceForstall this can be assigned to me.

[2019-01-09 22:15] sbomer commented on #21910
Apparently other teams are hitting this as well, and it was caused by https://github.com/Homebrew/brew/commit/9156d6def4b55acf6e9796f144f7af7551edecad. See https://github.com/Homebrew/brew/issues/5513 for more info. Workarounds include setting `HOMEBREW_LOGS` and running `brew update`. It sounds like the mac images will eventually be updated to a homebrew with the fix.

[2019-01-09 22:35] sandreenko commented on #21510
I was confused by these files again yesterday, ping @jashook.

[2019-01-09 22:42] BruceForstall commented on #18893
@wfurt @mikem8361 Does it make sense to leave the "Milestone" as "2.2.x"? Or should we move it to 3.0? I want to make sure anyone querying for all 3.0 issues sees this. Or should there be a separate 3.0 copy of this issue?

[2019-01-09 22:53] BruceForstall commented on #6698
Is the libunwind issue mentioned above still an issue? I see that the workaround implemented in coreruncommon.cpp in https://github.com/dotnet/coreclr/pull/6700 is still there.

@hqueue @parjong @janvorli

[2019-01-09 22:57] BruceForstall commented on #7002
Also: https://github.com/dotnet/coreclr/issues/19182

On some other architectures, we assume the best, then if there is a problem, back off and rejit assuming the worst. We probably need something in between these two extremes.

[2019-01-09 23:00] BruceForstall commented on #8082
@hseok-oh Is this still an issue? Do we need to keep this issue open?

[2019-01-09 23:01] BruceForstall commented on #8647
I believe this has been done, so the issue can be closed.

[2019-01-09 23:01] #8647 closed

[2019-01-09 23:02] BruceForstall commented on #8885
I believe this is no longer an issue

[2019-01-09 23:02] #8885 closed

[2019-01-09 23:05] BruceForstall commented on #9553
This issue appears obsolete, so I'm closing it. (FWIW, we use Docker in the CI and Official Builds for Ubuntu/arm32 )

[2019-01-09 23:05] #9553 closed

[2019-01-09 23:14] RoySalisbury commented on #21182
I'll have to update to 2.2.1 (SDK 102) and see.  I know it was still happening with 2.2.0 (SDK 100 and 101).

I worked around the issue by doing the following after each I2C read.

GC.Collect(3, GCCollectionMode.Forced);

I was going to try the (unreleased) GPIO/I2C library from the MS labs repo, but it seems that its not very well flushed out yet and missing a bunch of things.

Roy

[2019-01-09 23:14] BruceForstall commented on #12522
@janvorli fyi, this test is still disabled for non-Windows runs

[2019-01-09 23:14] leculver commented on #21778
No, we need to do both, if possible.  Give better diagnostics _and_ be more resilient to bad edits.  We can walk and chew bubble gum here.

Ignoring everything else, I'm happy to have more details in an IPE.  That's a fine goal to have, and you have a +1 from me in any work that gives better diagnostics in that space.

However, I still think you are fundamentally missing the point:  Let's say we f

[2019-01-09 23:17] echesakovMSFT commented on #17129
Failed in https://github.com/dotnet/coreclr/pull/21816 as well

[2019-01-09 23:17] BruceForstall commented on #12971
There's some useful data here. However, Legacy back-end is long since gone. If we spend time on performance for arm32, we would more likely use a usual approach of finding hot spots, current assembly analysis, comparing to x86/x64 runs, etc. So I'm going to close this issue.

[2019-01-09 23:17] #12971 closed

[2019-01-09 23:20] mikedn commented on #21899
None that I know of.

There's no such thing as "tied to the second return value" of a node in IR. That would imply that a node has multiple uses (it cannot) and that a use can specify which value is used (it cannot).

Something like this might work in lowering, where the "magic" node would act like second return value. But by the time you reach lowering the damage is already done.

[2019-01-09 23:20] BruceForstall commented on #14711
@noahfalk Is this required for 3.0? (For arm32 or other, e.g., arm64)

[2019-01-09 23:21] wfurt commented on #18893
I would set it to 3.0 or future. I don't think this would ever meet the bar for 2.x servicing.

[2019-01-09 23:23] BruceForstall commented on #3878
Closing...

[2019-01-09 23:23] #3878 closed

[2019-01-09 23:48] mikem8361 commented on #15062
I don't think this will happen for 3.0.  I don't have the time to learn the differences in the ELF arm unwind info to make this work.

[2019-01-09 23:54] BruceForstall commented on #17547
@erozenfeld Is there any reason to keep this issue open?

[2019-01-09 23:54] BruceForstall commented on #17548
@AndyAyersMS Is there any reason to keep this issue open?

[2019-01-09 23:56] BruceForstall commented on #17554
@erozenfeld Is there any reason to keep this open, since https://github.com/dotnet/coreclr/issues/16857 seems to track the actual issue?

[2019-01-09 23:59] BruceForstall commented on #19003
Note that the Ubuntu x86 jobs are are disabled currently.

[2019-01-10 00:01] BruceForstall commented on #20541
@bartonjs So is this fixed? Can it be closed?

[2019-01-10 00:02] BruceForstall commented on #20542
I'm going to ignore the System.Net failures, and close this issue.

[2019-01-10 00:02] #20542 closed

[2019-01-10 00:03] jashook commented on #21510
Will remove them

[2019-01-10 00:04] BruceForstall commented on #20543
I don't see this failure now, so closing

[2019-01-10 00:04] #20543 closed

[2019-01-10 00:04] BruceForstall commented on #20630
Ignoring System.Net failure; closing.

[2019-01-10 00:04] #20630 closed

[2019-01-10 00:06] BruceForstall commented on #20632
@sandreenko I suggest you close this as "no repro" -- the current runs don't show this, and only show System.Net failures, which we should ignore.

[2019-01-10 00:12] fiigii opened #21921 "[RyuJIT/x86/x64] Unify and streamline emitter for operand-size override prefix (0x66)"
Now, the emitter has a lot of code like below for adding operand-size override prefix (0x66) or estimate code size of it.
[code]
We need to refactor the emitter to unify and simplify the code.

cc @CarolEidt @tannergooding

[2019-01-10 00:14] BruceForstall commented on #21798
Subsequent runs don't show this failure, so closing.

cc @danmosemsft

[2019-01-10 00:14] #21798 closed

[2019-01-10 00:16] Maoni0 commented on #17129
the earliest I can look at this is about a week from now. for the time being can we just disable this test. this is highly unlikely due to GC anyway; most likely due to the timing of lifetime reporting and the test isn't robust enough to accommodate it.

[2019-01-10 00:18] BruceForstall commented on #21865
This failure doesn't exist in subsequent runs, so closing.

cc @danmosemsft

[2019-01-10 00:18] #21865 closed

[2019-01-10 00:30] janvorli commented on #6698
I think it would be worth checking it now that we have libunwind sources as part of coreclr tree. It may be already fixed in the version we have or we could debug and fix it.

[2019-01-10 00:39] sandreenko commented on #20632
@BruceForstall I saw it 11 days ago (https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86_arm_altjit/job/jitstress/job/x86_arm_altjit_checked_windows_nt_corefx_jitstressregs4/389/testReport/System.Data.SqlClient.Tests/SqlConnectionBasicTests/IntegratedAuthConnectionTest/), so it still happens.

I am planning to return to this issue soon.

[2019-01-10 00:44] pentp commented on #21899
Flags from `and` are a kind of a second return value? Maybe something similar would work? Or some kind of an implied return value that appears out of thin air at first, but is later tied to the preceding mulx in lsra/emit?

[2019-01-10 00:51] #20541 closed

[2019-01-10 00:53] BruceForstall commented on #6698
@janvorli Do you want to take the issue, then?

[2019-01-10 01:03] BruceForstall commented on #20474
I still see b28158 fail with timeout.

https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_osx10.12_r2r_jitstressregs0x80_flow/

[2019-01-10 01:06] BruceForstall commented on #20564
The only failure I see in that job now is:
[code]
which looks like https://github.com/dotnet/coreclr/issues/21644. So closing.

[2019-01-10 01:06] #20564 closed

[2019-01-10 01:08] janvorli commented on #6698
Yes, I've just assigned it to myself.

[2019-01-10 01:08] BruceForstall commented on #20626
I don't see this in current runs; closing.

[2019-01-10 01:08] #20626 closed

[2019-01-10 01:11] BruceForstall commented on #20802
This job appears to no longer be run in the CI.

[2019-01-10 01:11] #20802 closed

[2019-01-10 01:16] BruceForstall commented on #21253
This failure mode seems to be fixed. There are lots of individual test failures, but that's a different issue...

[2019-01-10 01:16] #21253 closed

[2019-01-10 01:18] BruceForstall commented on #21903
This is a System.Net failure that didn't fail in the subsequent run; closing.

cc @danmosemsft

[2019-01-10 01:18] #21903 closed

[2019-01-10 01:36] stephentoub opened #21923 "Unnecessary mov generated in MemoryMarshal.Cast"
This:
[code]
results in this asm:
[code]
but that `mov edx, edx` is superfluous.

@AndyAyersMS is investigating a fix.

[2019-01-10 01:53] BruceForstall commented on #21665
Recent runs have passed; closing

[2019-01-10 01:53] #21665 closed

[2019-01-10 01:59] BruceForstall commented on #21247
@fiigii @CarolEidt @tannergooding

[2019-01-10 01:59] AndyAyersMS commented on #21923
Adding some notes I'd been passing around in email. We can peephole this in `CodeGen::genIntToIntCast` and it has promising diffs.

[code]

But it currently fails two p0f tests. I have been looking into jit\directed\convert\ldind_conv. The IL here is
[code]
and the jit currently generates
[code]

The mov here is not quite a no-op as it zeros the upper 32 bits. But that zeroing should be redundant.

[2019-01-10 02:00] tannergooding commented on #19876
I think we are in a slightly better position here now.

Previously, we had the `SetVector128/256` methods that were treated as intrinsic and they would have one operand per element. That has since changed and those methods are implemented in software (generally by calling existing intrinsics like `Insert`). So, I believe we now only have `GT_HWINTRINSIC` nodes that are 1, 2, or 3 operands. Ah, and

[2019-01-10 02:07] #21794 closed

[2019-01-10 02:08] BruceForstall commented on #20647
@vsha041 should this issue remain open?

[2019-01-10 02:15] BruceForstall commented on #12940
Well, this GitHub issue is still assigned to you.

[2019-01-10 02:48] AndyAyersMS commented on #21923
Likely suspect:

https://github.com/dotnet/coreclr/blob/a658a8d51307cf619da538519893bd29d3be0d62/src/jit/emitxarch.cpp#L332-L343

Wonder if I could just add in an `INS_movsx4` or similar to keep track of the cases we know should only extend to 4 bytes.

[2019-01-10 02:51] fiigii commented on #12940
@BruceForstall Ok, seems nobody picked it up. I will take a look after I fix 2 known codegen bugs.

[2019-01-10 02:54] fiigii commented on #21247
@mikedn May I ask the progress of https://github.com/dotnet/coreclr/issues/17073 fix?

[2019-01-10 04:54] noahfalk commented on #21778
I think we do have two separate tracks, and we can evaluate them independently:

1) The runtime could revert IL to make forward progress. I don't want the runtime to be doing that unilaterally, the profiler needs to tell us somehow that rolling back the IL is OK. In my initial suggestion that meant 'not throwing a fatal error' but I don't think the exact mechanism is important as long as we think

[2019-01-10 05:34] kbaladurin commented on #19273
@BruceForstall yes this issue is fixed in https://github.com/dotnet/coreclr/pull/19332 and can be closed.

[2019-01-10 05:34] #19273 closed

[2019-01-10 05:55] mikedn commented on #21923
@AndyAyersMS Hmm, what exactly did you do? Isn't this the same as #12676 ?

[2019-01-10 05:59] mikedn commented on #21247
@fiigii I have a fix somewhere in a branch but it depends on #17733 getting merged.

[2019-01-10 06:09] mikedn commented on #21899
Yes, that's what I was thinking of when I said that something like this might work in lowering. Though it's a bit different as LSRA does not model the flag register but of course, it does model integer registers. Besides, the flag stuff is a bit on the hackish side, it gets the job done but it's not quite the right thing to do.

Yes, but in the case of the current API it's kind of difficult to dea

[2019-01-10 06:16] mikedn commented on #19876
Yes, and 4 is already more that I can fit in a small node.

Hmm? But the constant problem is already solved in #14393. We just need to extend that to 32 byte constants, that requires VM support to allocate 32 byte aligned data sections. Shouldn't be a big problem I guess. And perhaps we need actual constant SIMD nodes in the IR, though the cases where that would be useful are pretty rare today.

Y

[2019-01-10 07:45] noahfalk commented on #14711
So far I haven't heard any profiler ask for ReJIT on ARM, so you can probably still get away with skipping it for now.

[2019-01-10 08:55] AndyAyersMS commented on #21923
My prototype is simplistic and only for x64: [SkipZeroExtendingSameRegMov](https://github.com/dotnet/coreclr/compare/master...AndyAyersMS:SkipZeroExtendingSameRegMov). Should be passing pri0 tests.

[code]
Wonder if something similarly low-tech would work on those register shuffle chains...when emitting a mov,  look for the previously emitted instr and suppress if it is a dup or shuffle mov. I sus

[2019-01-10 09:46] mikedn commented on #21923
Ah, this is quite different from what I have. My change doesn't actually apply to this case because the tree is "split", there's a lclvar between the producer of the value and the cast.

As far as I can tell your change assumes that codegen follows the X64 zero extension model to the letter. I'm not sure if this is a safe assumption because, to the best of my knowledge, nothing in the JIT relies o

[2019-01-10 11:45] Anna-Guseva commented on #21559
@davidfowl 2019 EAP1 will be available not earlier than February 2019.

[2019-01-10 13:46] marek-safar opened #21932 "Moving more code to shared partition"
It'd be very useful to clean up and move more of the following types to shared partition for easier sharing with other runtimes.

In no particular order
- [x] [AsyncVoidMethodBuilder](https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/src/System/Runtime/CompilerServices/AsyncMethodBuilder.cs)
- [x] [AsyncTaskMethodBuilder](https://github.com/dotnet/coreclr/blob/master/src/Sys

[2019-01-10 13:47] marek-safar commented on #21932
/cc @jkotas @stephentoub @filipnavara

[2019-01-10 14:06] filipnavara commented on #21932
I'm working on `ResourceManager` (and related classes) at the moment. It's relatively easy, but I want to clean-up the CoreRT part and test the APPX code before submitting a PR.

[2019-01-10 14:08] 4creators commented on #16330
@BruceForstall I do plan to work on this

[2019-01-10 15:00] davidfowl commented on #21559
😞 I can wait I guess, I'm using dotTrace timeline mode to look at memory allocations for now.

[2019-01-10 16:16] tannergooding commented on #21899
I think, if we did this, it would either need to be an internal method or would need to use a strongly named type (like `Int128`/`UInt128`). The guidance so far has been don't use `ValueTuple` in the public surface area (and the only time we tried, which was fairly recently, it ended up getting backed out). NOTE: Exposing a strongly named type (like `Int128`/`UInt128`) would probably not get revie

[2019-01-10 16:20] k3z0 commented on #21182
Hi Roy,

We recently discover that our nuget Unosquare.RaspberryIO.Peripherals is using a previous version of RaspberryIO. We are going to release a new version of the Peripherals package with the correct dependencies.

By the moment, try to add explicitly the newest version of RaspberryIO package:

    <PackageReference Include="Unosquare.Raspberry.IO" Version="0.17.2" />

Greetings.

[2019-01-10 16:31] hseok-oh commented on #8082
@BruceForstall I'm not checking this issue any more. I'll close this issue.
Please make new issue if there is issue about this.

[2019-01-10 16:31] #8082 closed

[2019-01-10 17:05] AndyAyersMS commented on #21923
I'm not confident about the zero extension model either. But if this idea of looking back at the previous instrDesc pans out we could use that to safely catch a lot of cases.

[2019-01-10 17:22] RoySalisbury commented on #21182
OK.. I'll give that a shot and see if it makes any difference.

Thanks

[2019-01-10 17:36] mikedn commented on #21923
Right, I suppose you could make the emitter remember the previously generated instruction. Or perhaps the last couple of instructions. `instrDesc` is not fixed size so you can't traverse the group backwards.

There are already all kinds of solutions for the move chain issue and they're likely better, in phase order:
* Some can be handled by location assertion propagation but it's blocked by struct

[2019-01-10 17:41] #21790 closed

[2019-01-10 17:50] BruceForstall commented on #12940
@fiigii IMO, there are higher priority things that could be worked on, necessary for 3.0. But you can decide.

[2019-01-10 18:12] AndyAyersMS commented on #21923
The emitter already remembers.

I'm mainly curious to see how viable it is to do some late peephole style opts via this sort of approach. No matter how good the upstream phases are, things always slip through.

[2019-01-10 18:45] tannergooding commented on #19876
We might be able to implement that in software, similarly to how we are doing `Vector128<float> Vector128.Create(x, y, z, w)` for HWIntrinsics. Or, possibly handle it in the importer by doing the ISA check and replacing it with the corresponding chain of SIMD intrinsics...
For Sse41 this is just `SetX`, `SetY`, `SetZ`, and `SetW`; which emits `insertps`. For `Sse2` we would need something to repre

[2019-01-10 18:56] mikedn commented on #19876
Maybe I'm missing something but what would that buy us? The software implementation always generates poor code when the arguments are all constants. In fact, they don't even have to be all constants, just enough of them for the trade off between the cost of a memory load and the cost of assembling the vector from elements to be right.

Yes, I didn't sit down to count the cycles yet but it's likely

[2019-01-10 18:57] sbomer commented on #21898
Recent official builds seem to be publishing symbol packages correctly, so the corefx issue may have been unrelated. However, I have not yet been able to test corefx consumption of our symbol packages because of unrelated issues blocking the build:
- https://github.com/dotnet/coreclr/issues/21910 (for which we now have a workaround)
- https://github.com/dotnet/arcade/issues/1175 (lock feeds requir

[2019-01-10 19:00] sbomer commented on #21898
I should note: some of the initial confusion was due to recent symbol packages not showing up in the blob feed package index at https://dotnetfeed.blob.core.windows.net/dotnet-core/sleet.packageindex.json. @dotnet/dnceng, is there a way to get the list of symbol packages that are on the blob feed without constructing the download URL?

[2019-01-10 19:05] fiigii commented on #21923
I am not a fan of peephole opts... According to my experience, blindly removing the integer promotion code is dangerous, especially with managed <-> native interoperations. Usually, managed runtimes promote all the small integers to `Int32`, and native languages have real small integers, but I am not sure whether CoreCLR needs to worry about this.

Additionally, we probably need to figure out why

[2019-01-10 19:09] mikedn commented on #21923
Yes, but he's trying to look at the previous instruction to ensure that this can be done safely.

Hmm? What issue is that?

[2019-01-10 19:11] tannergooding commented on #19876
I was basically suggesting that, if we were just checking for constants in the importer then we could avoid needing to create a node with 4 or more operands. We could then also deal with that for the non-constant case by importing the correct chain of intrinsics rather than having a specialized `InitN` intrinsic (at least for HWIntrinsics, this results in the same codegen given how fine-grained th

[2019-01-10 19:12] BruceForstall opened #21935 "Failure in Vector3Interop_ro_cmd"
For x64, JitStress=1/2.

https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_jitstress1/738/
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_jitstress2/728/

Looks like a GC hole.

[code]

[2019-01-10 19:12] BruceForstall commented on #21935
@fiigii @tannergooding @CarolEidt @dotnet/jit-contrib

[2019-01-10 19:14] BruceForstall commented on #21935
Also seen on x86

[2019-01-10 19:22] onovotny commented on #21743
Bump?

[2019-01-10 19:23] AndyAyersMS commented on #21923
We already add explicit casts for unmanaged code that returns small ints (or if we're inter-oping with Jit64 generated code). Look for `checkForSmallType` in the importer.

I am not advocating blindly removing things (despite what the code on my branch is doing now) -- just trying to get a sense of opportunity, cost and risk by working on some of our CQ problems in this way.

My previous conceptio

[2019-01-10 19:53] #21842 closed

[2019-01-10 19:58] mikedn commented on #19876
Yeah, I'm pretty sure the same approach could also be used during import. But if effort is put into handling this case then why not do it in the right place, in lowering, where you have a chance to catch more cases due to the optimizer producing new constants?

Having to handle more than 3 operands is a bit of an annoyance but it's not that bad. AFAIR the main issue is that I need to store the num

[2019-01-10 19:59] echesakovMSFT commented on #20236
The issue is now hitting Azure DevOps CI build and test jobs.

For example, in https://dnceng.visualstudio.com/public/_build/results?buildId=70179 **Test pri0 Linux_musl x64 checked Job** has failed with:

[code]

@RussKeldorph This would very costly failure as soon as we switch to Azure DevOps CI since now if only one job fails in order to properly validate PR you would need to restart all the jo

[2019-01-10 20:03] mikedn commented on #19876
Looking back at my comment, I think that my comment about `GTF_REVERSE_OPS` wasn't very accurate/clear. Even today `GTF_REVERSE_OPS` does not work on intrinsics with more than 2 operands. If you have more than 2 then the node itself is basically unary so `GTF_REVERSE_OPS` has no meaning in this case.

[2019-01-10 20:17] lizetpena opened #21938 "Question on WinDgb and the SOS extension for debugging dotnet/coreclr on Windows OS."
I used to teach and advanced C# debugging class long ago that would teach how to create memory dumps and analyze the heaps using WinDbg and SOS. This was for the 3.5 to 4.0 CLRs. For production crashes where the IDE is not available and the IntelliTrace collector is not a possibility because the developers don't have the Ultimate VS editions, what is the recommendation to do production debugging i

[2019-01-10 20:32] pentp commented on #21899
The address taken scenario can always be transformed into a `stloc addr; call mulx; ldmagic; stloc tmp; ldloc addr; ldloc tmp; stind` so that the problem is again reduced to this `call mulx; ldmagic` pair.

If I'm not mistaken, then after struct promotion `ValueTuple` would end up with the same problem of two return values and two (promoted) variables.

The current API shape might actually be a bl

[2019-01-10 20:50] danmosemsft commented on #21938
Yes, windbg and sos work on .NET Core as well. (Since the runtime is named `coreclr.dll` you would do `sxe sos coreclr` where you might have done `sxe sos clr`).

sos.dll ships with .NET Core just as it ships with .NET Framework. Windbg is downloadable as as part of [the debugging tools.](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/debugger-download-tools)

Windbg is Windows

[2019-01-10 20:52] danmosemsft commented on #21932
What in your mind determines whether something cannot be ported to shared? Originally it was (generally speaking) that it did direct calls into the runtime, or vice versa (or runtime had special knowledge of its shape). But some of the things above call directly into the runtime, right?

[2019-01-10 20:53] danmosemsft commented on #21904
fixed in corefx

[2019-01-10 20:53] #21904 closed

[2019-01-10 21:10] vsha041 commented on #20647
@BruceForstall - please close it. I have a workaround for it at the moment - which is by starting the process attached to VS debugger instead of attaching the debugger later.

[2019-01-10 21:34] mikedn commented on #21899
Yes, introducing a temp could help but there are certain problems that will have to be solved for this to actually work. The idea would be to introduce this temp during import such that
[code]
This prevents the original local variable from become address taken. Instead, `temp` becomes address taken, a good thing because it should prevent the optimizer from doing anything that will then prevent low

[2019-01-10 21:35] lizetpena commented on #21938
@danmosemsft
Thank you! You made my day with the information. I'm preparing a training and I want to include some of the differences and the new ways to debug production issues without an IDE.

[2019-01-10 21:35] RussKeldorph commented on #17129
This is causing a number of spurious CI failures.  @Maoni0 can you disable this test in the interim or get someone to?

/cc @vancem

[2019-01-10 21:37] danmosemsft commented on #21938
Sure. Post back if you hit problems. Also if your presentation is public perhaps you could link it here when it's ready!

[2019-01-10 21:39] mikedn commented on #21899
But "easy detection of the case where the out parameter points to a local" isn't that much of a problem. There are already places where the JIT detects such cases and eliminates them, provided that it has something to replace the tree with. For example, `IND(ADDR(LCL_VAR))` is usually transformed into LCL_VAR and the local variable is not considered address taken.

But in the case of MULX the prob

[2019-01-10 21:39] #21666 closed

[2019-01-10 21:43] vancem commented on #17129
Just FYI, the spurious failure rate is substantial (e.g. ~ 50%).

@MattGal said that he would pull one of the machines on which it failed out of rotation so it could be investigated.    He can add the information here.

[2019-01-10 21:44] filipnavara commented on #21932
Some of them do, but in many cases there are significant parts that could be shared as `partial` class. I admit I didn't go through all of them, so I cannot judge whether all of them make sense. I know you made the effort to open other issues for the sharing (https://github.com/dotnet/coreclr/issues/9474 & linked), so this list is far from definitive or comprehensive.

[2019-01-10 21:47] mikedn commented on #21899
Sort of. The problem with relying on struct promotion is that you have to do something like:
[code]
It's pretty natural. The problem with this is that if you promote then you shouldn't use the entire struct variable anymore, you should only use its individual fields. And if you do access the entire struct variable then it cannot be enregistered and it ends up in memory, what we were trying to avoi

[2019-01-10 21:58] mikedn commented on #21899
And I suspect that either way need `MULX` to be a multi-reg node. That means that we'll need to create a special oper for it and use `GenTreeMultiRegOp` instead of the current HW intrinsic oper and class.

[2019-01-10 22:02] sbomer opened #21941 "Upload symbols to symbol server"
With https://github.com/dotnet/coreclr/pull/21769, we publish symbol packages to a blob feed, but they don't yet get uploaded to a symbol server.

- The arcade migration docs mention that `IsShipping` packages have symbols published to the symbol server by default.
- The onboarding samples do pass access tokens for the symbol server in the publish command: `/p:DotNetSymbolServerTokenMsdl=$(microso

[2019-01-10 22:03] jorive commented on #21846
/cc @brianrob @billwert @adiaaida @DrewScoggins

[2019-01-10 22:04] sbomer commented on #21941
From @tmat:

This needs a bit cleanup.

Eventually, the build shouldn’t be publishing symbols (or any other assets) directly. All it should do is publish to BAR. Then, once implemented, the release pipeline will publish the symbols that were uploaded to BAR.

Since the release pipeline does not work yet, you might want to publish symbols and other assets directly from the build if you need them to

[2019-01-10 22:07] jorive commented on #21846
This is the performance harness `C:\j\w\perf_scenario---a17ae768\bin\sandbox\corerun.exe C:\j\w\perf_scenario---a17ae768\bin\sandbox\JitBench.exe` failed, did not print what the failure was, and did not return non-zero exit code. Finally, the python script attempted to read a file that did not exist.

Suggestions:
1. Scenario harness should communicate error, and exit non-zero when failures
2. (Op

[2019-01-10 22:14] sbomer opened #21942 "Use a coreclr-specific blob feed for build assets"
We should change our build output blob feed to https://dotnetfeed.blob.core.windows.net/dotnet-coreclr/index.json to avoid lock contention (due to https://github.com/dotnet/arcade/issues/1175) with other repos. This should reduce the frequency with which we see builds fail due to a timeout while waiting on an exclusive lock.

corefx and core-setup will need to be updated to pull our packages from

[2019-01-10 22:20] AndyAyersMS commented on #21923
Here's the redundant/shuffle move peephole: [PeepholeRedundantMoves](https://github.com/dotnet/coreclr/compare/master...AndyAyersMS:PeepholeRedundantMoves).

It shows how a one-instruction lookback might work. It is pretty clunky to compare a not yet emitted instruction with one that's already emitted, but for simple cases it seems tolerable.

[code]

[2019-01-10 22:33] AndyAyersMS commented on #21923
Cherry-picked diff from the above:
[code]

[2019-01-10 22:37] filipnavara commented on #17898
StackTrace.cs and Contracts.cs are done now.

[2019-01-10 22:38] filipnavara commented on #17897
Is anything still left for this one?

[2019-01-10 22:41] jkotas commented on #17897
Looks all done.

[2019-01-10 22:41] #17897 closed

[2019-01-10 22:48] adiaaida commented on #21846
We do archive the logs, they're just in the build artifacts:

https://ci2.dot.net/job/dotnet_coreclr/job/perf/job/master/job/perf_scenarios_Windows_NT_x86_full_opt_ryujit/3520/artifact/bin/sandbox_logs/Scenarios/Off/JitBench/Perf-Off-JitBench.log

https://ci2.dot.net/job/dotnet_coreclr/job/perf/job/master/job/perf_scenarios_Windows_NT_x86_full_opt_ryujit/3520/artifact/bin/sandbox_logs/Scenarios/Of

[2019-01-10 22:49] adiaaida commented on #21846
I've seen this failure before. It is because of changes to coreclr to AppDomain. We need to rev up the version of dotnet we are using so that it is more recent.

[2019-01-10 22:55] fiigii commented on #21923
Looks great. Did you try on Linux? IIRC, Linux has more redundant movs somethimes (e.g., from multi-reg return).

[2019-01-10 23:00] morganbr opened #21946 "Re-enable signing for System.Private.CoreLib"
System.Private.CoreLib isn't currently being signed due to https://github.com/dotnet/arcade/issues/1582 . Once that's resolved, the block below should be removed https://github.com/dotnet/coreclr/blob/234bbb509e9ea8b08787fcd509edd6141e37d751/eng/Signing.props#L50-L53

[2019-01-11 00:59] sunkin351 opened #21949 "System.ExecutionEngineException on call to GC.Collect()"
In an attempt to see if a garbage collection would invalidate a Function Pointer returned from a call to `Marshal.GetFunctionPointerForDelegate<T>()`, I call `GC.Collect()` directly after and it throws an `ExecutionEngineException`. Is this a bug with .NET Core or am I doing something wrong?

.NET Runtime version: `.NET Core 2.1`

[2019-01-11 01:10] sunkin351 commented on #21949
One other thing, It is a release build only thing... Not sure why.

[2019-01-11 01:32] sandreenko commented on #20488
I expect this issue to go away after #21497. and ci confirms that it is gone.
Another test failure in this job is covered by #19340.

So I think we can close this one, @BruceForstall ?

[2019-01-11 01:36] sandreenko commented on #20488
It was the same issue that I hit with `jitutils jit-diff` when
`/home/sergey/git/coreclr/bin/tests/Linux.x64.Checked/Tests/Core_Root/crossgen  /Platform_Assemblies_Paths /home/sergey/git/coreclr/bin/Product/Linux.x64.Checked/IL /home/sergey/git/coreclr/bin/Product/Linux.x64.Checked/IL/System.Private.CoreLib.dll`
worked fine and
`/home/sergey/git/coreclr/bin/tests/Linux.x64.Checked/Tests/Core_Root/

[2019-01-11 01:40] jkotas commented on #21949
Could you please share a small program (e.g. as gist) that demonstrates this problem?

[2019-01-11 01:44] CarolEidt commented on #21899
There are actual multiple issues: #2908, #6264, #6266, #16619, #3144 and #12865 (the last two are probably the most relevant to this specific case). While I continue to make a little progress on the struct issues, it's a process of many tiny steps.

If we go the route of introducing a temp during import, I would think a better way to transform it would be, earlier in the JIT (morph? optimizer?) to

[2019-01-11 01:46] BruceForstall commented on #20488
Yes. Closed.

[2019-01-11 01:46] #20488 closed

[2019-01-11 02:08] AndyAyersMS commented on #17548
No.. FWIW here is the updated chart... starting roughly where the green bits are above, so whatever the improvement was, it's still there.

![image](https://user-images.githubusercontent.com/10121823/51008880-8a8b1780-1502-11e9-8e94-2118862690c6.png)

[2019-01-11 02:08] #17548 closed

[2019-01-11 02:20] echesakovMSFT commented on #21935
Also seen on Linux/arm64
[code]

[2019-01-11 03:57] benaadams opened #21951 "RyuJIT bounds checks not eliminated for readonly arrays"
Range analysis doesn't take into account readonly arrays and you need to make a function local reference to eliminate the range check.

https://github.com/dotnet/coreclr/issues/5371 regressed due to https://github.com/dotnet/coreclr/pull/15756

It shouldn't need to be conservative for a readonly array?

/cc @briansull @AndyAyersMS @mikedn

[2019-01-11 04:18] RoySalisbury commented on #21182
I have upgraded bothe the DotNetCore Host (2.2.102) and the Unosquare.Raspberry.IO assembly as requested.  I have also remove my GC.Collect statement.

I'll let it run over night and see if it crashes out. This will be running on my full application so it will get a pretty good workout of cpu, memory and threads.

Roy

[2019-01-11 06:13] sunkin351 commented on #21949
Literally, it's this:
[code]
I don't understand what I could be doing wrong. It's guaranteed to throw when I compile and run this in release mode on my machine.

[2019-01-11 06:58] v-haren opened #21952 "java.io.IOException: Failed to mkdirs"
failed in job:
https://ci2.dot.net/job/dotnet_coreclr/job/perf/job/master/job/perf_throughput_linux_arm_flow/1322/
https://ci2.dot.net/job/dotnet_coreclr/job/perf/job/master/job/perf_throughput_linux_x64_flow/1325/

failed log:
Building remotely on win201-528f87 (win2012-20180911) in workspace D:\j\w\perf_throughp---03c540a2@94
[WS-CLEANUP] Deleting project workspace...
java.io.IOException: Failed

[2019-01-11 07:01] mikedn commented on #21899
Thought so :smile:. Even the CMP/JCC case is a bit ugly in this regard, but at least that one doesn't interfere with register allocation.

Thanks for the list of issues, I'll take a look. Anyway I'm looking a struct issues these days due to my attempt at getting rid of `GT_ASG`.

Local address taken stuff, probably this should be done in `LocalAddressVisitor`. But this is a minor issue.

[2019-01-11 07:35] marek-safar commented on #21932
@danmosemsft I think all code should start in shared and then you ask a question what portion of it has to be runtime specific. If that portion would make a significant chunk of the file/implementation then perhaps it's better to keep it in non-shareable partition fully otherwise I think we should have it in shared even if it's not a full implementation

[2019-01-11 08:54] glenn-slayden opened #21953 "Proposal: allow IL `tail.` prefix on `newobj` instruction"
**JIT/CLR Proposal:**<br><br>Since the `newobj` instruction in **IL** is functionally or ostensibly equivalent to a `call`, `calli`, or `callvirt`, it would be nice if `newobj` allowed the tail-recursion prefix `tail.` like the latter instructions do.

Note that **ilasm** and **ildasm** seem to already support the proposed IL syntax. The following IL code is successfully assembled and produces an

[2019-01-11 09:40] mikedn commented on #21953
What would be advantage of supporting tail call on a constructor invocation?

That's probably a bug in ilasm as the spec doesn't seem to allow `tail.` prefix on anything other than call & co.

[2019-01-11 10:05] filipnavara commented on #17898
- debug.corert.cs was already cleaned up and unified
- debug.windows.cs is not present in CoreRT anymore
- debugger.cs is purely `InternalCall`s in CoreCLR, so not worth sharing
- lowleveldebugfunceval.cs (LowLevelDebugFuncEval class), debugannotations.cs (DebugAnnotations class), debuggerguidedstepthroughattribute.cs (DebuggerGuidedStepThroughAttribute class), stackframeextensions.cs (StackFrameE

[2019-01-11 10:08] filipnavara commented on #17901
I'm working on the remaining types (*groveler.cs, resourcemanager.cs). Feel free to assign me (/cc @karelz).

[2019-01-11 10:23] glenn-slayden commented on #21953
The same advantage as anywhere else, _i.e._, the increased efficiency of not re-visiting the call site at all, nor executing its unstacking epilog instructions, since his frame can be conflated with his callee's, on account of the fact that all the caller does is immediately return.

That's why this is a "proposal." Did I submit it in the right place?

[2019-01-11 11:17] mikedn commented on #21953
The main advantage is that it uses less stack space and thus it is advantageous in recursive code. It's not exactly common for constructors to be recursive.

Also, it is not the case that tail calls also increase efficiency. While in trivial cases they may avoid the need for a frame, in normal circumstances there's not much difference between using tail calls or not. That is, "nor executing its un

[2019-01-11 13:39] jkotas commented on #21953
The tail prefix is meant to be used for recursive algorithms where the tail call is required for correctness. The JIT will respect the tail prefix even if means generating significantly slower code. The performance characteristics of the tail. prefix vary based on the platform and the exact shapes of the caller/callee signatures.

For example, you `tail_newobj_demo` in the top post would run many

[2019-01-11 17:17] vellozzi opened #21958 "Waiting for v2.1.7-dependencies tag"
We're waiting on the v2.1.7-dependencies tag so we can build 2.1.7.
Are you still following the "-dependencies" convention for this repo?  Can you give an ETA?

[2019-01-11 17:21] RussKeldorph commented on #21958
@wtgodbe @mmitche

[2019-01-11 17:39] karelz commented on #17901
@filipnavara thanks! Added you as collaborator. Ping me when you accept and we can assign it to you.
I think you know about the trick to unwatch the repo to avoid flooding your inbox with notifications ;)

[2019-01-11 17:39] vellozzi commented on #21958
OK.  But what is the 2.1.6-dependencies tag for then?
It looks like the last commit before that tag is actually changing dependencies.

I also have a couple issues open for corefx and core-setup: https://github.com/dotnet/corefx/issues/34551 and https://github.com/dotnet/core-setup/issues/4962

do those need to be tagged still?

[2019-01-11 17:41] filipnavara commented on #17901
@karelz Accepted. Thanks!

[2019-01-11 18:05] RussKeldorph commented on #21907
@treenew Does this help you track down the issue?  If so, please close the issue.  If not, and you still believe this is an issue in coreclr, please provide an example that reproduces the issue.  Otherwise, there's not much more we can do to help and will need to close the issue anyway.

[2019-01-11 18:06] mmitche commented on #21958
core-setup and corefx definitely need tags.  The 2.1.6 tag for dependencies is technically incorrect for coreclr but doesn't functionally matter.

[2019-01-11 18:10] RussKeldorph commented on #21906
@dotnet/dotnet-diag Not sure this is you.  Please re-label if appropriate.

[2019-01-11 18:11] RussKeldorph commented on #21885
/cc @sbomer

[2019-01-11 18:13] MattGal commented on #21885
note that you'll likely need to update your view configuration file as well, look at recent PRs from @safern  in dotnet/core-eng for examples.  This is because the telemetry path changed a little (ref/heads, etc)

[2019-01-11 18:31] jorive commented on #21846
I still believe the harness should return non-zero exit code, otherwise we attempt to run the next step of automation and fail giving the wrong impression.

[2019-01-11 18:37] #21510 closed

[2019-01-11 18:47] RussKeldorph commented on #21692
This issue was moved to aspnet/AspNetCore#6616

[2019-01-11 18:47] #21692 closed

[2019-01-11 19:00] vellozzi commented on #21958
OK.  Thanks.

[2019-01-11 19:00] #21958 closed

[2019-01-11 19:16] RussKeldorph commented on #21578
Seems to be a one-off failure.

[2019-01-11 19:16] #21578 closed

[2019-01-11 19:47] #21548 closed

[2019-01-11 20:02] #21381 closed

[2019-01-11 20:08] #21382 closed

[2019-01-11 21:39] RussKeldorph commented on #18543
@TonyValenti Feel free to reopen this issue if you still believe it's a coreclr problem.  If you do, please provide more information so that we can investigate.

[2019-01-11 21:39] #18543 closed

[2019-01-11 21:42] RussKeldorph commented on #18564
Feel free to reopen this issue if there is more information.

[2019-01-11 21:42] #18564 closed

[2019-01-11 21:51] safern commented on #21885
https://github.com/dotnet/core-eng/pull/4985

[2019-01-11 21:54] RussKeldorph commented on #18857
Feel free to re-open if you have information we can use to reproduce this and investigate on .NET Core 2.1 or later.

[2019-01-11 21:54] #18857 closed

[2019-01-11 21:54] RussKeldorph commented on #18856
Feel free to re-open if you have information we can use to reproduce this and investigate on .NET Core 2.1 or later.

[2019-01-11 21:54] #18856 closed

[2019-01-11 21:55] #18637 closed

[2019-01-11 22:01] #18431 closed

[2019-01-11 22:06] #19786 closed

[2019-01-11 22:14] #19649 closed

[2019-01-11 22:59] #20690 closed

[2019-01-11 23:17] RussKeldorph commented on #20672
I don't think we have any supported scenarios around invoking `cmake` directly.  That said free to contribute a PR making this work if you're interested.

[2019-01-11 23:17] #20672 closed

[2019-01-11 23:21] RussKeldorph commented on #20598
Looks like Jenkins flakiness.

[2019-01-11 23:21] #20598 closed

[2019-01-11 23:53] swaroop-sridhar opened #21964 "Arm64: RegDisplay Missing Context while throwing exceptions"
`Interop\NativeLibraryResolveEvent\ResolveEventTests` proposed in https://github.com/dotnet/coreclr/pull/21929 fails on ARM64 Windows.

While trying to throw `DllNotFoundException` , ExceptionTracker::UpdateNonvolatileRegisters() fails at the `UPDATEREG(X19)` step because RegDisplay contents are not valid.

[code]

[2019-01-12 00:30] dougbu commented on #21692
Looking through the `ComplexTypeModelBinder` loop we have
https://github.com/aspnet/AspNetCore/blob/5810af5ce79eac0f36cda16a2581a9e78dbf67a7/src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/Binders/ComplexTypeModelBinder.cs#L233

https://github.com/aspnet/AspNetCore/blob/5810af5ce79eac0f36cda16a2581a9e78dbf67a7/src/Mvc/src/Microsoft.AspNetCore.Mvc.Core/ModelBinding/Binders/ComplexTypeModelBi

[2019-01-12 00:40] RussKeldorph commented on #19821
Doesn't seem relevant to this repo.  Perhaps https://github.com/Powershell/Powershell?

[2019-01-12 00:40] #19821 closed

[2019-01-12 00:49] RussKeldorph commented on #19671
@voinokin Feel free to add/clarify your request to #16266.  We can address whether this is a dup if/when that is ever implemented.

[2019-01-12 00:49] #19671 closed

[2019-01-12 00:55] sunkin351 commented on #21949
One more thing to note, in debug mode, the pointer is still valid after the collection... Whereas normally it would throw a `NullReferenceException`, not caused by the pointer dereference. This should also be looked at.

[2019-01-12 00:59] RussKeldorph commented on #19008
None of these tests are failing in the latest run: https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_ubuntu_gcstress0xc_tst/102/

I assume existing failures are (or will be) tracked by other issues.

[2019-01-12 00:59] #19008 closed

[2019-01-12 01:06] CarolEidt commented on #21664
This is failing even without JitStressRegs. Investigating.

[2019-01-12 01:08] RussKeldorph commented on #19711
This repo doesn't seem to be an appropriate place to hold this discussion.  Perhaps https://github.com/Microsoft/TypeScript?  Perhaps somewhere specific to we services?

[2019-01-12 01:08] #19711 closed

[2019-01-12 01:16] CarolEidt commented on #21664
@BruceForstall - I can't repro this, and now that we've eliminated the altjit jobs, should I just close this?

[2019-01-12 01:45] AndyAyersMS commented on #21923
No, haven't yet.

I split the redundant/shuffle stuff off to a WIP PR. See #21959 for updates.

[2019-01-12 02:19] AaronRobinsonMSFT commented on #5506
https://github.com/dotnet/core-setup/pull/4577
https://github.com/dotnet/sdk/pull/2814

[2019-01-12 02:42] RussKeldorph commented on #20222
Closing per above.  Feel free to put out a PR improving the documentation.

[2019-01-12 02:42] #20222 closed

[2019-01-12 02:45] noahfalk commented on #21906
The MethodDef signature (ppvSigBlob) contains type signatures for the various method parameters and return values, some of which probably refer to the generic type argument(s) on your method. This is done via an MVAR signature encoding that identifies an entry in the GenericParam table. The entries in the GenericParam table have an owner field that designates which MethodDef defined the generic pa

[2019-01-12 04:10] morganbr commented on #21723
So that's a 2048 _character_ key? That would be a 16384 bit key, which is absurdly large (generating a valid key pair would take hours or days and operations would be quite slow). .NET and Windows both don't support larger keys for any purpose.

[2019-01-12 05:47] caozhiyuan commented on #21906
ok thanks. i loss copy params、 genericparams、 custom attribute。

[2019-01-12 06:34] jkotas commented on #21723
There is same arbitrary limit in the CoreCLR runtime. I think we should just remove it - same as what you have done in Roslyn.

[2019-01-12 09:53] filipnavara commented on #17899
Seems like this one should be closed. None of the files exist in non-shared CoreCLR anymore.

[2019-01-12 09:58] RevensofT opened #21969 "[CIL, Bug] jmp error when jump to Func`2<!!T,!!T>, T = ValueTuple`3<int32[],int32,int32>"
Hi,
I got unusual error I can't point a finger what's wrong with it, maybe a bug so I report it here.

Op jmp error on jump to generic delegate of value tuple of generic array,

[code]

I test on some sample and found it only error when tuple with array type.

[code]

[2019-01-12 10:00] filipnavara commented on #17902
- stream.cs is done.
- fileloadexception looks like intentionally different, but technically there may be move the CoreCLR version to managed code and share it.

[2019-01-12 14:37] jzabroski commented on #19821
@RussKeldorph  Why isn't it relevant?  dotnet tools have command line parameters now.  There should be a standard language for command line parameters.  This is 2019 - I think we have exhausted all the ways someone can specify things on the command line.  Time to put .NET on the moon and give people less RSI and carpal tunnel by giving them auto-complete.  It should definiitely be part of the core

[2019-01-12 14:39] GSPP commented on #21731
It would be awesome if you could step through the IL of a LCG method. Visual Studio could disassemble  byte code to IL.

Debugging LCG is quite hard. Any aid would be welcome.

[2019-01-12 14:41] #20324 closed

[2019-01-12 15:12] jkotas commented on #17899
Yep

[2019-01-12 15:12] #17899 closed

[2019-01-12 17:43] svick commented on #19821
@jzabroski

That sounds like a request for PowerShell first. If PowerShell starts supporting something like this, then .Net Core can start supporting it.

I don't think it can. Autocomplete depends on the shell you're using:
* If you're using cmd, there is no custom autocomplete.
* If you're using PowerShell, it works one way.
* If you're using bash, it works another way.
* If you're using zsh, it

[2019-01-12 18:05] jzabroski commented on #19821
Petr,

When I right-click on a dll in Windows and go to Properties, why can I get
the version info of the dll?

Why can't I also get the command line parameters?

Why can't PowerShell then use that command line parameters metadata to
support auto-complete?

I think you're arguing about the presentation of the metadata, whereas I'm
saying there is a genuine need to describe the metadata before it c

[2019-01-12 18:11] jzabroski commented on #19821
Actually, you did give me a (HACKY) idea - I can prototype this in
PowerShell and show everyone how great it is.  I just need to overload a
special character that would serve as a PS function (similar to how % is an
alias for foreach-object).

The special character function could then be used like this:

~ dotnet w<tab>

It's a bit messy in that PowerShell parameters have to be given
"-ParameterNa

[2019-01-12 19:17] BruceForstall commented on #21664
Make sense. Closed.

[2019-01-12 19:17] #21664 closed

[2019-01-12 19:59] jkoritzinsky commented on #19676
Fixed by #21470

[2019-01-12 19:59] #19676 closed

[2019-01-12 21:20] GSPP commented on #21450
It also would be good to be able to lower stack size. In high thread count scenarios this can be beneficial.

In my experience the default size is very big and very unlikely to be exceeded. I wonder why the EF scenario is hitting that limit. That looks like either an EF or a JIT problem.

[2019-01-13 00:12] #21890 closed

[2019-01-13 03:37] caozhiyuan commented on #21906
ok it success ,thks @noahfalk  DefineGenericParam reserved must 0

[2019-01-13 03:37] #21906 closed

[2019-01-13 08:39] hpbieker opened #21970 "await ValueTask performance"
I did some performance testing for async-await on a completed `ValueTask` and compared it to a `Task.CompletedTask`. I see that for `Task.CompletedTask` it does not matter if I bypass `await` if I check the `Task` for `IsCompletedSuccessfully`, but for `ValueTask` it has significant performance impact (3x). Is there a missing optimization in the async code generated for `async`-`await` when using

[2019-01-13 11:12] MarcoRossignoli commented on #21970
/cc @benaadams

[2019-01-13 15:15] damageboy opened #21971 "Generic Type Check elision for enums"
Hi,
I'm trying to figure out if / how can generic type checking for enums be elided at JIT time...
Sample (of theoretical code that I would like the JIT to pick up and optimize away:

[Link to sharplab.io](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxNMAfAAgBgARYCMA3ALABQueAygBYQIAOAMhMAHQBKArgHYwBLMHDKUAzAQBMeAMJ4A3hTzKCEuL25gaAe2EBRDVsXkVpvAEEkeAEJWZVgCJKVAX2fL3qggBY8AWQAKAEo8T2MzFWpdOANNPAg8AF4df

[2019-01-13 16:50] stephentoub commented on #21970
The root cause here is https://github.com/dotnet/coreclr/issues/18542.  But even without that, there are still additional costs to ValueTask as discussed in https://blogs.msdn.microsoft.com/dotnet/2018/11/07/understanding-the-whys-whats-and-whens-of-valuetask/, and the only reason for using the non-generic ValueTask is if you believe you'll be able to avoid asynchronous allocations via IValueTaskS

[2019-01-13 18:19] mikedn commented on #18542
Looking at this again...
[code]
@CarolEidt Why isn't this just `ASG(LCL_FLD, LCL_FLD)`? It's not a struct copy, it doesn't involve any struct/field reinterpretation etc. Not sure how much that would help but at least we'd get rid of the extra LEA from
[code]

[2019-01-13 18:48] Tornhoof opened #21972 "Differences in Codegen of method with ReadOnlySpan with In parameter modifier and without it"
This is a spinoff of https://github.com/dotnet/corefx/issues/34568#issuecomment-453760485 as @jkotas  suggested that my reported behaviour should not happen.
I tried to reproduce it standalone without Expression Tree codegen and failed, so I tried to gather as much info as possible from the current code.

**Introduction**
In SpanJson I noticed a large ~15% regression in performance for UTF16 deser

[2019-01-13 20:14] AndyAyersMS commented on #21971
Yes, it's possible -- there was a similar suggestion over in #2591.

[2019-01-13 20:19] AndyAyersMS commented on #914
By "side effects" do you mean inlining changes?

You can force the jit to make the same set of inlining decisions before/after by creating and then consuming an inline replay file, though it's not plumbed through jit-diffs.

[2019-01-13 21:48] RoySalisbury commented on #21182
Just like to report back that since upgrading to 2.2.102 and the the latest Unosquare assembly, I have not received the error that was I was getting.  Not sure if it was fixed, or just masked by some new memory allocation in 2.2.102 (had the  same thing in 2.1.100 to 2.1.101 with thread memory getting released multiple times).

So I will close it for now and reopen if it starts back up.

Thanks

R

[2019-01-13 21:48] #21182 closed

[2019-01-13 22:03] mikedn commented on #914
That only seems to apply to `string.IsNullOrEmpty`, that fails to inline if `? true : false` is removed. Other uses of `? true : false` don't seem to impact inlining, it's just that removing `? true : false` produces some diffs that are not related to this issue.

[2019-01-13 22:15] mikedn commented on #914
@AndyAyersMS Speaking of chains of moves, here's a diff from the above mentioned experiment:
[code]

[2019-01-14 00:20] benaadams opened #21973 "Task/TaskAwaiter completion makes 16 m_stateFlags volatile reads"
[code]
[code]

/cc @stephentoub

[2019-01-14 01:04] danmosemsft commented on #21907
Have you tried reproducing this with a debugger attached?

[2019-01-14 02:56] AriNuer opened #21974 "[x64\windows] Interop_COM._NativeClients_Primitives_Primitives_._NativeClients_Primitives_Primitives_cmd failed with Assert failure"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/x64_checked_windows_nt_standalone_gc/438/testReport/
**Failed test:**
 Interop_COM._NativeClients_Primitives_Primitives_._NativeClients_Primitives_Primitives_cmd

**Failed log:**
[code]

[2019-01-14 05:13] AaronRobinsonMSFT commented on #21974
I would imagine this is related to the fact that the initialization is taking place in `coreshim.dll` instead of `corerun.exe`. The issue is one of very bad assumptions about the environment in which the CLR is being initialized and this code believes that the host is adjacent to the DLL in question - I think that would be the local GC perhaps? We had this issue previously with the JIT as well. Wi

[2019-01-14 05:20] AaronRobinsonMSFT commented on #21952
@RussKeldorph and @jashook This seems like a flakey Jenkins issue. Is this really something we can do anything about?

[2019-01-14 05:33] AaronRobinsonMSFT commented on #21974
Actually it was not JIT, rather coredistools - see https://github.com/dotnet/coreclr/issues/21221

I will probably have to do a similar fix to what I did in https://github.com/dotnet/coreclr/pull/21261. @jkoritzinsky if you are interested in addressing this feel free to take it on. Otherwise I will make the necessary changes.

[2019-01-14 05:38] AriNuer opened #21975 "[x64\windows] AssemblyDependencyResolverTests failed in x64_checked_windows_nt_r2r_gcstress15"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_r2r_gcstress15/129/testReport/
**Failed test:**
Loader_AssemblyDependencyResolverTests._AssemblyDependencyResolverTests_AssemblyDependencyResolverTests_._AssemblyDependencyResolverTests_AssemblyDependencyResolverTests_cmd

**Failed log:**
[code]

[2019-01-14 05:40] damageboy commented on #21971
Grrr...
I really tried to search for previous issues before posting this.
Closing since its obviously a duplicate...

[2019-01-14 05:40] #21971 closed

[2019-01-14 05:45] AaronRobinsonMSFT commented on #21975
@jkoritzinsky Looks like `InnerException` is null.

https://github.com/dotnet/coreclr/blob/8b7d300c164971f573d8186e78204597a679c7d8/tests/src/Loader/AssemblyDependencyResolverTests/AssemblyDependencyResolver.cs#L31

[2019-01-14 05:56] AaronRobinsonMSFT commented on #21949
@sunkin351 I am unable to reproduce this issue. I am using .NET Core 2.1. Is there any chance you can gather a DMP of the crash?

[code]

[2019-01-14 06:49] AriNuer opened #21976 "[x64\linux]Thousands of tests failed in x64_release_ubuntu_standalone_gc_tst"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_release_ubuntu_standalone_gc_tst/360/
**One of the failed log:**
[code]

[2019-01-14 10:39] shaojun commented on #18958
it has been fixed

[2019-01-14 12:34] RussKeldorph commented on #21952
@AaronRobinsonMSFT Jenkins issues will be with us as long as we're on it, but that will likely change in the near future when we switch to Azure DevOps.  We could see similar issues there since any system is going to have a certain spurious failure rate, but hopefully it's better.

[2019-01-14 12:38] k15tfu opened #21977 "COR_CTOR_METHOD_NAME_W/COR_CCTOR_METHOD_NAME_W and COR_ENUM_FIELD_NAME_W macros are of type wchar_t on Linux"
COR_CTOR_METHOD_NAME_W/COR_CCTOR_METHOD_NAME_W and COR_ENUM_FIELD_NAME_W macros are of type wchar_t on Linux but Profiler API uses WCHAR which is char16_t on non-Windows platforms.

P.S. I can prepare a PR for this.

[2019-01-14 14:15] jkotas commented on #21972
This method is pretty complex and calls many non-trivial AgressiveInlining methods that further multiplies its complexity for the JIT.

It makes the JIT hit internal limits and give up on optimizing the code. The phrase to look for in the jitdump output in this case is "Stopped promoting struct fields, due to too many locals".

It happens both with `in` and without `in`. `in` helps in this cases b

[2019-01-14 16:02] benaadams commented on #21973
Related https://github.com/dotnet/coreclr/pull/21959

[2019-01-14 16:13] Tornhoof commented on #21972
Thank you for your analysis.
This is Expression Tree Codegen, I'm not sure if I can actually simplify that, in C# it's fairly straight-forward https://github.com/Tornhoof/SpanJson/blob/768d5873177804c8d7abb8f3231237de57141c49/SpanJson.Benchmarks/Generated/AnswerUtf16Formatter.cs#L39-L242 there are minor differences in there.
But I'll see if I can simplify the code a bit, I highly doubt that though

[2019-01-14 16:31] #21942 closed

[2019-01-14 16:32] sbomer commented on #21898
I believe symbol publishing to blob feeds is now working correctly, but I'll keep this issue open until we've confirmed this with a passing corefx official build.

[2019-01-14 16:37] sunkin351 commented on #21949
This is Windows 10 I'm running on. Can you walk me through getting the crash dump for you? I've never heard of being able to do this before now.

[2019-01-14 16:46] benaadams commented on #21970
#18542 more heavily affects ConfigureAwait

Tweaking to use the `OperationsPerInvoke` param i.e.
[code]
And adding `.ConfigureAwait` variants; results on 3.0
[code]

The issue with the test is `ValueTask` and `ValueTaskIfIsCompletedSuccessfully` aren't equivalent; for `ValueTask` you need to call `.GetResult()` to reset the `IValueTaskSource` if there is one.

Changing to
[code]
Then you get
[code

[2019-01-14 16:50] stephentoub commented on #21970
Good catch, yes.  While that doesn't matter specifically for `default(ValueTask)`, for general consumption of arbitrary `ValueTask` instances handed to you, it's required; otherwise various cleanup won't happen, e.g. not returning cached instances to pools.

[2019-01-14 16:51] AaronRobinsonMSFT commented on #21952
@RussKeldorph Sorry, you might be misunderstanding my question. Is there anything we can do if this happens in Jenkins other than restart the CI - i..e should this issue be closed because it isn't something we can control?

[2019-01-14 16:54] RussKeldorph commented on #21976
The CI seems to think this started happening somewhere in this range of changes.

[code]

/cc @dotnet/dotnet-diag @sywhang @Maoni0

[2019-01-14 16:56] AaronRobinsonMSFT commented on #21949
There are a number of ways, but the easiest would probably be to use [ProcDump](https://docs.microsoft.com/en-us/sysinternals/downloads/procdump). Above it was mentioned this occurred in 'Release', you can also debug the 'Release' build from Visual Studio and capture of a DMP using https://docs.microsoft.com/en-us/visualstudio/debugger/using-dump-files?view=vs-2017#BKMK_Create_a_dump_file.

[2019-01-14 17:01] RussKeldorph commented on #21952
@AaronRobinsonMSFT The individual job is not recoverable AFAIK, if that's what you're asking.  Yes, you should just re-run the job and hope for the best if you need the results.

In theory the issue is not useless because there is absolutely "something we can do about it," which would be to prevent it from happening by investigating what went wrong and preventing it from happening in the future.

[2019-01-14 17:16] sunkin351 commented on #21949
I just ran the test once more to make sure the issue was still present... Now its failing as it should (FailFast ExecutionEngineException upon callback of the garbage collected delegate.) instead of an `ExecutionEngineException` being thrown in `GC.Collect()`... Idk if that's actually what it was doing all along, cause it was pointing to GC.Collect() being the source of the error before, but now i

[2019-01-14 17:21] sunkin351 commented on #21949
This started as an experiment to see what would happen if I tried to call a garbage collected delegate as if from native code, so now I know. But then there's an interesting situation where this doesn't happen in Debug. XD

[2019-01-14 17:24] RussKeldorph commented on #18440
So this suggests a problem with ASAN and/or clang, or at least version 3.9.  Feel free to re-open if there is action to be taken in this repo, preferably with a PR to fix it.

[2019-01-14 17:24] #18440 closed

[2019-01-14 17:30] sunkin351 commented on #21949
I figured the no optimization thing would leave a few references. Thanks. Closing this now as this issue is mostly circumstantial, it would appear.

[2019-01-14 17:30] #21949 closed

[2019-01-14 17:37] RussKeldorph commented on #19821
@jzabroski I'm sorry I wasn't clear.  This repo contains the .NET Core Runtime (CoreCLR), which is generally not concerned with user interfaces of tools or programs that run on it.  Your request seems to be related to the dotnet command-line tool (https://github.com/dotnet/cli as @svick points) out and/or Powershell.  I'm not entirely familiar with the features involved, but either of those repos

[2019-01-14 17:43] benaadams commented on #21970
Aside, optimizing with `IsCompletedSuccessfully` is more about not creating the outer `async` statemachine; rather than costs associated with `await` which aren't that great (as your original benchmark shows)

Though you'd like need to be quite sensitive to the performance impact to make the extra code completely worthwhile:
e.g.
[code]
For
[code]

[2019-01-14 17:50] AaronRobinsonMSFT commented on #21952
@RussKeldorph Thanks for the clarification. 👍

Closing.

[2019-01-14 17:50] #21952 closed

[2019-01-14 17:56] #18958 closed

[2019-01-14 17:59] jeffhostetler commented on #8565
@ygoe After experimenting with a variation of your example, I noticed that a Ctrl+C causes
Shutdown() to run, then when the main thread wakes up from the wait and exits, the ProcessExit
event gets fired and causes Shutdown() to run the second time.  And because the main thread
has left the using block, the cts is already disposed and causes the exception.

I tried putting a "if (resetEvent.IsSet)

[2019-01-14 18:20] benaadams commented on #21970
Saying that the loop amortizes the `async` effect (as one statemachine is created for 100 awaits); if its just acting on a single Task-like; then it becomes more worthwhile to avoid:

[code]

[code]

The normal optimization that applies here is pass-though rather than `await` e.g.
[code]
rather than
[code]
Though you have to `await` if there is exception handling, or `using` etc as you want that t

[2019-01-14 18:30] RussKeldorph commented on #20340
@AndyAyersMS Any update?

[2019-01-14 18:41] AndyAyersMS commented on #20340
No -- need to actually go look.

[2019-01-14 18:59] mikem8361 commented on #21484
Fixed.

[2019-01-14 18:59] #21484 closed

[2019-01-14 19:00] mikem8361 commented on #20585
Fixed.

[2019-01-14 19:00] #20585 closed

[2019-01-14 19:22] AndyAyersMS commented on #21973
This is similar in spirit to #7903 (addressed via #9169) but the twist here is that there is (usually, not always) a write in between the apparently redundant reads. And the jit doesn't have the kind of alias analysis it would need to prove that the write can't modify the location just read...

In a few cases there is no write .. eg
[code]
and it seems possible this could be optimized by the jit w

[2019-01-14 19:33] mikedn commented on #21973
Hmm, isn't this actually caused by exception handling? See lclvar info:

[2019-01-14 19:38] benaadams commented on #21973
I assume its related to
[code]
I tried to introduce some locals to break the dependency on the `do-not-enreg`; however they didn't seem to have any effect.

The `TaskAwaiter:ValidateEnd(ref)` inline-chain is based on a param `static void ValidateEnd(Task task)`
[code]
However when it gets inlined does the Jit recognise its all the same variable so merge them together; but unfortunately that's a `d

[2019-01-14 19:43] AndyAyersMS commented on #21973
I wouldn't think EH would block the read-read cases though... will have to see what VNs actually get assigned.

[2019-01-14 19:46] mikedn commented on #21973
They all get the same VN ($80):
[code]

[2019-01-14 20:34] Maoni0 commented on #21976
they all failed with this:

`coreclr_initialize failed - status: 0x80004005`

most likely had trouble loading the standalone gc dll. @davmason would you have time to take a look at this? none the changes mentioned above had anything to do with the GC though. I wonder if perhaps some config has changed that caused this to fail.

[2019-01-14 20:47] monokot opened #21985 "Why does DisablePrivateReflection attribute not work on .net core 2.1, but works perfectly on .net core 2.0?"
Hello!

Why does `DisablePrivateReflection` attribute not work on .net core 2.1, but works perfectly on .net core 2.0?

I have a class with private fields. The class is in assembly marked with a `DisablePrivateReflection` attribute.

The following test will be passed successfully on .net core 2.0

[code]

but on .net core 2.1, `FieldAccessException` will never be thrown

Thanks

[2019-01-14 20:50] ajcvickers commented on #21985
@jkotas Two questions:
* Is this actually useful in any scenarios?
* Will attempts to create a compiled expression that accesses the field also fail?

[2019-01-14 20:59] AndyAyersMS commented on #21973
Taking a closer look -- seems like CSE is not willing to consider locals even if they're somewhat costly...

https://github.com/dotnet/coreclr/blob/8ede2d4f5d85e4069e96046baf4aaf567172a87f/src/jit/optcse.cpp#L2624-L2625

This seems perhaps overly conservative -- we ought to be able to CSE unaliased locals (provided we don't cse across exception flow). Most of the time there's no apparent benefit t

[2019-01-14 21:01] benaadams commented on #21973
[code]

Is doesn't seem to do anything with the result of the `cmp`; is this a null ref check?

[2019-01-14 21:02] ZMoscipan opened #21986 "IIS Web App Freezes for SQL server Network Error in Startup"
I have app where Startup method must access SQL server to get param for Middleware and services.
If application is reloaded and Startup method has no no access to the SQL Server at this moment, it freezes Web app permanently.  Consecutive requests are not processed even if the SQL server become available later.
Error Handler Returns:
An error occurred while starting the application.
Win32Exception

[2019-01-14 21:07] AndyAyersMS commented on #21973
Yes, it's a null check.

[2019-01-14 21:14] davmason commented on #21976
Sure, I can take a look

[2019-01-14 21:16] jkotas commented on #21985
This was meant to be used by library developers who do not wish to allow external code to hack the library internals. The alternative is obfuscation that comes with its own set of issues.

Was this case allowed in the .NET Framework implementation of this attribute?

I think we would try to match the .NET Framework behavior by default. However, I am not sure whether we would be able to match it ex

[2019-01-14 21:23] AndyAyersMS commented on #21973
We don't compute live in/out of handler status until after we've computed costs. So CSE is using a stale cost estimate and decides that local is not a good CSE candidate. Not sure if it's feasible to revise the costing.

Am curious why assertion prop is not getting rid of those null checks. So I'll look into that first.

[2019-01-14 21:34] jkotas commented on #21985
Right, this attribute was a speed bump - in the same way as obfuscation is a speed bump.

[2019-01-14 21:35] ajcvickers commented on #21985
@jkotas Okay, thanks for the info.

[2019-01-14 22:17] #21662 closed

[2019-01-14 22:17] AndyAyersMS commented on #21973
Seems like lack of assertion prop might be easy to fix. Testing something now.

[2019-01-14 22:54] AndyAyersMS commented on #21973
Turns out Eugene's already fixed the issue in assertion prop: #21944 removes the null checks in the above.

I'm going to play with faking up higher costs for DNER non-address exposed locals to see what CSE does....

[2019-01-14 23:31] BruceForstall opened #21990 "ARM64: issue with frame pointer offsets out of range"
There are a couple cases where the expression generated by arm64 codegen might not be encodable.

[code]

With a huge frame (>32760 bytes), generating `[fp + lvaCachedGenericContextArgOffset()]` won't be encodable, if it is placed on the frame far from `fp`.

[code]

If the sub argument is far from `fp`, the expression won't be encodable.

[2019-01-14 23:57] ievdokdm commented on #969
any updates on MIPS support?
I need it to run on MIPS 24Kc processor

[2019-01-15 00:06] CarolEidt commented on #21269
Of the most recent 3 runs, 2 are clean and the most recent (https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_r2r_jitstress1_tiered_tst/18/) has three failures:
[code]
All of these also have Return code 137, which I believe is the kill status. Could this be time-out or out of memory?

[2019-01-15 00:44] benaadams commented on #21970
Note: related https://github.com/dotnet/coreclr/issues/21973

[2019-01-15 01:32] AndyAyersMS commented on #21973
Prototype changes here: [TryAndCseSomeDoNotEnregisterLocals](https://github.com/dotnet/coreclr/compare/master...AndyAyersMS:TryAndCseSomeDoNotEnregisterLocals). Looked at a few regressions and saw at least one case where the CSE was now handler exposed, which doesn't seem like it should happen (since we clear CSE availability on entry to a hander). Need to do more digging into the regressions.

[2019-01-15 01:42] SteveL-MSFT commented on #10379
@saikrishnav the traces actually go to stderr, so you can use "2> 1.log"

[2019-01-15 02:06] saikrishnav commented on #10379
ah, thanks

[2019-01-15 02:41] #21974 closed

[2019-01-15 03:47] #19654 closed

[2019-01-15 03:47] jkoritzinsky commented on #19654
Fixed by #21606

[2019-01-15 04:50] davmason commented on #21976
It looks like #21983 fixes this. I reset that job to verify

[2019-01-15 07:09] kouvel commented on #20372
The thread ones look like they wouldn't be too difficult to implement, I'm thinking something like below, with some questions/comments:

- `static int Thread.Count` - Total number of threads that currently exist
  - Should this include only threads that may run managed code, or all threads including wait, timer, GC threads, etc.?
  - Should this include external threads that the runtime knows abou

[2019-01-15 07:53] erozenfeld commented on #20253
#21950 added several improvements:
objects with gc fields can be stack allocated;
optimization is enabled on x86;
gc pointer reporting is less conservative when the method has stack-allocated objects.

[2019-01-15 09:09] davmason commented on #21976
The tests pass after #21983, there is one remaining test failure that is unrelated to local GC.

GC\Features\HeapExpansion\pluggaps\pluggaps.cmd times out, but does so regardless of local GC or linux/windows. @Maoni0 is this a flaky test or does it need investigated?

[2019-01-15 09:09] #21976 closed

[2019-01-15 16:59] jkotas commented on #20372
https://github.com/dotnet/coreclr/issues/20372#issuecomment-449193835 suggested that this should be the same number as `Process.ThreadCount`. It means total number of threads in the process.

[2019-01-15 17:39] jeffschwMSFT commented on #21450
@sdmaclea can you take a look at this issue.  This is having an impact on our web scenarios.

[2019-01-15 17:58] sdmaclea commented on #21450
@janvorli's solution in #13517 was based on an environment variable.
@pakrym Is that really sufficient solution?  Seems clumsy for customers

[2019-01-15 18:04] pakrym commented on #21450
It was based on runtime settings as far as I understand and they could be set from `.csproj` via `runtimesettings.json` same way we do for tiered JIT (https://blogs.msdn.microsoft.com/dotnet/2018/08/02/tiered-compilation-preview-in-net-core-2-1/ see Trying It Out section)

[2019-01-15 18:35] jkotas commented on #21450
That's not correct. It was a environment variable initialized very early in the process as @sdmaclea said.

[2019-01-15 18:39] pakrym commented on #21450
My bad. Was there a reason not to use a runtime setting?

[2019-01-15 19:09] ViktorHofer opened #21994 "Instrumented System.Private.CoreLib causes StackOverflowException"
We are currently using coverlet in corefx for code coverage measurement. Coverlet instruments an assembly with Mono.Cecil and adds a tracker template type + calls to the template for every hit count to be recorded.

The tracker template: https://github.com/tonerdo/coverlet/blob/master/src/coverlet.template/ModuleTrackerTemplate.cs

The calls to the template (example Internal.IO.File.Exists):

[cod

[2019-01-15 19:43] sharwell commented on #21994
📝 I proposed testing again with `System.Threading.Interlocked` excluded from instrumentation. This type is the only remaining point of recursion now that tonerdo/coverlet#291 is merged.

[2019-01-15 20:19] mikedn opened #21995 "System.Collections.Concurrent.Tests test hang"
In a PR of mine I saw a test failure that seems like it could indicate a real issue, or perhaps a test bug:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_ubuntu_corefx_innerloop_prtest/6358/console

[code]
It worked fine on a second try and I can't seem to find existing reports of this so it's probably rare/hard to reproduce.

What looks interesting to me is that there are 4 te

[2019-01-15 20:43] #21243 closed

[2019-01-15 20:56] tannergooding commented on #21070
I don't believe we currently have any proposed names. However, if this is being done, it needs to be done before 3.0.

[2019-01-15 20:57] tannergooding commented on #21339
@BruceForstall, do we have an ETA on the conversion?

It would be nice to have this additional validation enabled sufficiently before the feature ships to help validate correctness.

[2019-01-15 21:02] jkotas commented on #21994
Looks like @sharwell has the fix.

[2019-01-15 21:18] BruceForstall commented on #21339
Maybe @echesakovMSFT @RussKeldorph can share a timeline (I don't know the ETA).

[2019-01-15 21:40] fiigii commented on #21855
The problem is actually larger than what I expected.
https://github.com/dotnet/coreclr/blob/3f0903598d0e269e6aaf8e237b47269abe4ab7e8/src/jit/emitxarch.cpp#L10554-L10568

Currently, the emitter incorrectly encodes the imm-operand depends on the `addc` paths, which should only work on certain "scalar instructions" that operates over `reg/mem` or `imm`, e.g., `ADD [mem], reg` vs `ADD [mem], imm`. How

[2019-01-15 22:54] echesakovMSFT commented on #21339
@tannergooding I am planning to merge in https://github.com/dotnet/coreclr/pull/21966 later today or tomorrow, so this should unblock you from defining new test scenarios for Azure DevOps.

Just add the corresponding TestEnvironment items to testenvironment.proj file.

[2019-01-15 23:55] AndyAyersMS commented on #19444
@CarolEidt this is all fixed now, right?

[2019-01-15 23:59] AndyAyersMS commented on #20534
Seems like the same failure we saw in #17428, `-858993344` is `0xCCCCCD40` as we saw there.

[2019-01-16 00:02] AndyAyersMS commented on #20534
We don't have much CI history but this has not failed recently. So am going to close this as a dup of the older bug.

[2019-01-16 00:02] #20534 closed

[2019-01-16 00:16] BruceForstall commented on #21935
First Linux/arm64 failure:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_jitstress1_flow/103/

Changes:
Changes
Delete SMALL_TREE_NODES (commit: d2297e7) (detail / githubweb)
Delete GenTreeJumpTable (commit: b94d2ea) (detail / githubweb)
Ifdef out GenTreeLclVar::gtLclILoffs (commit: d10a433) (detail / githubweb)
Delete GenTreeLabel (

[2019-01-16 00:39] erozenfeld commented on #21376
Fixed by #21950 and #21539.

[2019-01-16 00:39] #21376 closed

[2019-01-16 00:40] morganbr commented on #21796
@echesakovMSFT , your commit doesn't seem to have touched this test. Is it disabled somewhere else?

[2019-01-16 00:44] echesakovMSFT commented on #21796
I haven't disabled the tests - instead I excluded Windows.7.Amd64 from running against PR in AzDO in #21926

[2019-01-16 01:18] vancem commented on #20372
@kouvel - first you should know that we get to define what these things are, and so it is completely reasonable to have a conversation as the implementation proceeds as to what the exact meaning is.   Some general principles are
1. The goal of the counters is to diagnoses various peformance and functionality problems.
2.  We are trying NOT to define new things, if there are existing definitions we

[2019-01-16 01:53] VincentBu opened #22000 "[arm64] Test failed: JIT_HardwareIntrinsics._X86_Sse2_LoadAlignedVector128_r_LoadAlignedVector128_r_._X86_Sse2_LoadAlignedVector128_r_LoadAlignedVector128_r_sh"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_r2r_jitstress1_tst/21/

**Failed  tests:**
JIT_HardwareIntrinsics._X86_Sse2_LoadAlignedVector128_r_LoadAlignedVector128_r_._X86_Sse2_LoadAlignedVector128_r_LoadAlignedVector128_r_sh
GC_Scenarios._GCSimulator_GCSimulator_83_GCSimulator_83_._GCSimulator_GCSimulator_83_GCSimulator_83

[2019-01-16 02:09] VincentBu opened #22001 "[arm64] Test failed: JIT_Regression._JitBlue_DevDiv_495792_DevDiv_495792_DevDiv_495792_._JitBlue_DevDiv_495792_DevDiv_495792_DevDiv_495792_sh"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_r2r_jitstressregs2_tst/17/

**Failed tests:**
JIT_Regression._JitBlue_DevDiv_495792_DevDiv_495792_DevDiv_495792_._JitBlue_DevDiv_495792_DevDiv_495792_DevDiv_495792_sh

**Log:**
[code]

[2019-01-16 03:47] benaadams commented on #21995
/cc @stephentoub

[2019-01-16 06:44] AriNuer opened #22004 "[arm64\windows] Test "JIT_jit64._hfa_main_testC_hfa_sf0C_r_hfa_sf0C_r_._hfa_main_testC_hfa_sf0C_r_hfa_sf0C_r_cmd" failed in arm64_cross_checked_windows_nt_jitstressregs1"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_jitstressregs1_tst/56/
**Failed tests:**
JIT_jit64._hfa_main_testC_hfa_sf0C_r_hfa_sf0C_r_._hfa_main_testC_hfa_sf0C_r_hfa_sf0C_r_cmd
JIT_jit64._hfa_main_testC_hfa_sd0C_r_hfa_sd0C_r_._hfa_main_testC_hfa_sd0C_r_hfa_sd0C_r_cmd
JIT_jit64._hfa_main_testC_hfa_sf1C_r_hfa_sf1C_r_._hfa_main_

[2019-01-16 07:24] v-haren opened #22005 "java.nio.channels.ClosedChannelException"
failed in job: https://ci2.dot.net/job/dotnet_coreclr/job/perf/job/master/job/perf_Ubuntu16.04_x64/1110/

failed log:
[./tests/scripts/run-xunit-perf.py]: taskset 0x00000002 nice --adjustment=-10 /home/administrator/jenkins/w/dotnet_coreclr/perf/master/perf_Ubuntu16.04_x64/bin/sandbox/corerun PerfHarness.dll /home/administrator/jenkins/w/dotnet_coreclr/perf/master/perf_Ubuntu16.04_x64/bin/sandbox/

[2019-01-16 11:57] rizwansaeed commented on #21688
I also see the same behaviour on macOS with dotnet 2.1.402 with the system timezone set to Europe/London

[2019-01-16 12:12] stephentoub commented on #22005
This is a Jenkins issue.

[2019-01-16 12:12] #22005 closed

[2019-01-16 16:01] RussKeldorph commented on #20596
Please re-open if you see this again.

[2019-01-16 16:01] #20596 closed

[2019-01-16 16:03] RussKeldorph commented on #20582
@Frassle We would gladly accept a PR if the proposal is functionally equivalent.

[2019-01-16 16:49] RussKeldorph commented on #20424
Unfortunately, we didn't get to look into this at the time.  If this is still failing, please point to a newer failure.  As it is, there isn't much to go on.  I fear we are going to need to figure out to turn this into a crashdump before it is actionable.

[2019-01-16 16:49] #20424 closed

[2019-01-16 17:07] #21698 closed

[2019-01-16 17:10] echesakovMSFT opened #22009 "Enable JIT\superpmi\superpmicollect on Linux/OSX"
And remove the corresponding line in https://github.com/dotnet/coreclr/blob/5ae949f8a4e7ddd4a3b7891f30a1d2911ca74873/tests/src/dirs.proj#L28

[2019-01-16 17:12] RussKeldorph commented on #19856
ARM and ARM64 should now be running tests in a manner more like other platforms, so hopefully now only the tests that fail due to a known issues are disabled (via issues.targets).  If I've misunderstood this issue, feel free to re-open.

[2019-01-16 17:12] #19856 closed

[2019-01-16 17:23] terrajobst commented on #21985
@jkotas

Assuming we honor the attribute, how much of a performance penalty do we pay for success cases (i.e. when the attribute isn't applied)? In other words, is this an item where the majority has to pay for a feature only a few people will ever use?

[2019-01-16 17:28] jkotas commented on #21985
If we bring it back, it should have zero impact on the regular case (ie 100% pay-for-play).

It is why I have said that we may not be able to match the .NET Framework behavior exactly. We would not want to reintroduce the complex and expensive CAS checks from .NET Framework to match the behavior exactly.

[2019-01-16 17:47] BruceForstall opened #22010 "[Linux/arm64] Ready2Run exit code 137 test failures"
We see quite a few Linux/arm64 test jobs fail with exit code 137. I _think_ this corresponds to SIGKILL.

What does it mean?

What can be done about it?

E.g.,
https://github.com/dotnet/coreclr/issues/22001
https://github.com/dotnet/coreclr/issues/22000
https://github.com/dotnet/coreclr/issues/21801
https://github.com/dotnet/coreclr/issues/21269
https://github.com/dotnet/coreclr/issues/20992
https

[2019-01-16 17:48] BruceForstall commented on #22010
@janvorli @jashook @echesakovMSFT @dotnet/arm64-contrib @dotnet/jit-contrib Ideas?

[2019-01-16 17:48] #18553 closed

[2019-01-16 17:48] #21855 closed

[2019-01-16 17:51] jashook commented on #22010
It is worth reproing some of these individually to see if they only get the signal under load.

[2019-01-16 17:58] echesakovMSFT commented on #22010
Interestingly, all the failure you referred to happened during Ready2Run jobs

[2019-01-16 18:10] RussKeldorph commented on #19108
I can repro this, but only on high-core-count machines.   Looks like the issue #20349 addressed can happen on other 32-bit platforms.  Possible fixes:
 - Figure out why xUnit or whatever is taking so ridiculously much memory and fix it
 - Broaden #20349 to apply to all 32-bit platforms
 - (If above affects performance) Limit parallelism some other way

[2019-01-16 18:37] RussKeldorph commented on #21303
Should have been closed by #21493?

[2019-01-16 18:37] #21303 closed

[2019-01-16 18:45] sergey-brutsky opened #22014 "dotnet core 2.2 and 2.1 doesn't respect SocketOptionName.ReuseAddress on linux box"
Here is a snippet of code
[code]

If we run 2 instances of this program on linux box
[code]

We will see that it produces the issue
[code]
But if we run it against dotnet 2.0 everything works fine.
If we run this code against dotnet 2.1 or 2.2 on windows box everything also works fine.

So I suspect that something is broken in dotnet 2.1 & 2.2 runtime in the architecture x86_64

Here is dotnet ver

[2019-01-16 18:46] RussKeldorph commented on #20798
@tarekgh

[2019-01-16 18:47] RussKeldorph commented on #20837
@tarekgh

[2019-01-16 18:52] sdmaclea commented on #22010
137 is SIGKILL. `kill -l` will show the list of signals.   Error code is 128 + signal.

In my runs, SIGKILL typically came from timeout, triggered by my wrapper code.  It can also be triggered by an out of memory condition.  A few of the GC tests stress memory and shouldn't be run in parallel with other tests.

[2019-01-16 18:55] RussKeldorph commented on #21489
@actionRadius Does this repro with v2.1 or v2.2?  If so, please share something, e.g. source code, we can use to reproduce it.

[2019-01-16 18:56] RussKeldorph commented on #21969
@AndyAyersMS @briansull @dotnet/jit-contrib Does this look familiar?

[2019-01-16 18:59] echesakovMSFT opened #22015 "[Linux/arm] JIT.Methodical/doublearray/dblarray3_cs Failure"
The issue reproduces in AzDO on a Helix machine, but not locally. Also, doesn't happen in Jenkins CI (which I believe uses the same Helix queue).

[code]

[2019-01-16 19:03] stephentoub commented on #22014
cc: @tmds

[2019-01-16 19:31] CarolEidt commented on #22010
I was unable to repro linux/arm64 issue #21802 (also a r2r stress run), after multiple attempts. This was also a SIGKILL error code. The subsequent test run was clean, and then the one after that had another SIGKILL failure, plus an exit code 1 that I was unable to repro.
It would be great if we could figure out how to avoid these.

[2019-01-16 19:35] BruceForstall commented on #22010
One problem here is that these almost always don't repro when run by hand, and subsequent test runs also normally pass. But the issues keep popping up. Noticing that these have all been R2R failures is useful. If any other patterns are noticed, that too would be useful. I think we somehow need to try "harder" (or "smarter") to repro or otherwise figure out what's causing these failures.

[2019-01-16 19:42] CarolEidt commented on #22010
It would be useful to have a way to run a test under load - e.g. have a dummy app that would stress memory & cpu (should be fairly simple to write?) and have that running while trying to repro the test.

[2019-01-16 19:52] jkoritzinsky opened #22016 "Structures with fixed buffers sometimes misclassified in SystemV eightbyte classification"
The struct below is misclassified by the SystemV classifier:

[code]

The two eightbytes should both be classified as `INTEGER` eightbytes; however, the runtime sees the type above as equivalent to the following:

[code]

Since the classifier has no special knowledge of the concept of fixed buffers, the classifier marks the first four bytes as `INTEGER`, the next 8 as `NO_CLASS`, and the final fou

[2019-01-16 19:53] b8adamson commented on #11498
FWIW This is the runtimeconfig.json that works for me:

{
  "runtimeOptions": {
    "tfm": "netcoreapp2.2",
    "framework": {
      "name": "Microsoft.NETCore.App",
      "version": "2.2.0"
    },
    "configProperties": {
      "Microsoft.NETCore.DotNetHostPolicy.SetAppPaths": true
    }
  }

As best I can tell it gets used by the default dotnet.exe host here:
https://github.com/dotnet/core-setu

[2019-01-16 19:56] echesakovMSFT commented on #22010
I used **stress tool** (https://linux.die.net/man/1/stress) for this

[2019-01-16 20:00] echesakovMSFT commented on #21644
@erozenfeld https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_ubuntu_corefx_jitstress2/823/

[2019-01-16 20:03] BruceForstall commented on #21990
Fixed by #21997

[2019-01-16 20:03] #21990 closed

[2019-01-16 20:08] AndyAyersMS commented on #21969
Doesn't look familiar.

[2019-01-16 20:14] tarekgh commented on #20798
@lertoo I think .NET working as expected but your question more why Windows didn't reflect the change you made in the registry. as you figured it, Windows may need to reboot. I am wondering did you try to disable the daylight saving option change that in Windows setting UI instead of directly editing the registry? I believe at that time you will not need to reboot and the change will be reflected

[2019-01-16 20:14] #20798 closed

[2019-01-16 20:16] echesakovMSFT commented on #20582
Just FYI, `GetPathOfFileAbove` is supported since MSBuild 15 (https://docs.microsoft.com/en-us/visualstudio/msbuild/what-s-new-in-msbuild-15-0?view=vs-2017)

[2019-01-16 20:18] tarekgh commented on #20837
@EgorBo yes we are aware of some limitation of the serialization functionality/Adjustment rules on Linux. I am wondering in what scenario you are trying to serialize and de-serialize the time zones? I would say the best practice is to serialize the time zone Id only and use this Id to reconstruct the time zone object again.

[2019-01-16 20:46] CarolEidt commented on #22010
@echesakovMSFT - did it repro test failures that otherwise didn't fail?

[2019-01-16 20:54] sandreenko commented on #20582
It means that we would need to require VS-2017 at least and change [our build instruction ](https://github.com/dotnet/coreclr/blob/master/Documentation/building/windows-instructions.md#visual-studio )

[2019-01-16 20:56] echesakovMSFT opened #22020 "readytorun\r2rdump\R2RDumpTest is not designed for running outside of coreclr in-place-build"
This test fails in Azure DevOps since it relies on tests-source folder as well as Product folder to be available during the test running time. For example,

https://github.com/dotnet/coreclr/blob/6ecca8de2d3761d490181942826de000f0eadcc7/tests/src/readytorun/r2rdump/R2RDumpTest.csproj#L13

https://github.com/dotnet/coreclr/blob/6ecca8de2d3761d490181942826de000f0eadcc7/tests/src/readytorun/r2rdump/R

[2019-01-16 21:02] erozenfeld commented on #21644
Windows ci link: https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_corefx_jitstress2/743/

[2019-01-16 21:05] RussKeldorph commented on #21631
Doesn't seem to have repro'd since the issue was opened.

[2019-01-16 21:05] #21631 closed

[2019-01-16 21:10] echesakovMSFT commented on #22010
@CarolEidt I used this tool to repro other failures before (not related to these ones). The tool does exactly what you described (i.e. keeping busy all/some cpu cores and stressing memory)

[2019-01-16 21:13] noahfalk commented on #16023
@tmat - Is there anything that needs to be done EnC-wise? I assume adding a default interface method should be classified as a rude edit and maybe a test case needs to be added/adjusted?

[2019-01-16 21:44] AndyAyersMS commented on #21923
Updated the fork [SkipZeroExtendingSameRegMov](https://github.com/dotnet/coreclr/compare/master...AndyAyersMS:SkipZeroExtendingSameRegMov) with a more conservative version that doesn't use the `movsx4` trick and instead uses one instruction lookback to see if the previous instruction wrote the right register and zero extended.

Still gets the motivating case here, and decent handful of other cases

[2019-01-16 21:50] tmat commented on #16023
That's pretty much up to you - how much do you want to invest into EnC support. The more we invest the less the customer needs to restart their debugging session and thus the more productive they are. The more features that do not work the worse the overall experience is and the more dissatisfied customers we get.

With each feature we need to consider what operations are possible or can be made p

[2019-01-16 21:56] RussKeldorph commented on #22001
Assuming duplicate of #22010.  Feel free to re-open if not.

[2019-01-16 21:56] #22001 closed

[2019-01-16 21:56] RussKeldorph commented on #22000
Assuming duplicate of #22010.  Feel free to re-open if not.

[2019-01-16 21:56] #22000 closed

[2019-01-16 21:56] RussKeldorph commented on #21801
Assuming duplicate of #22010.  Feel free to re-open if not.

[2019-01-16 21:56] #21801 closed

[2019-01-16 21:56] RussKeldorph commented on #21269
Assuming duplicate of #22010.  Feel free to re-open if not.

[2019-01-16 21:56] #21269 closed

[2019-01-16 21:57] RussKeldorph commented on #20992
Assuming duplicate of #22010.  Feel free to re-open if not.

[2019-01-16 21:57] #20992 closed

[2019-01-16 21:57] RussKeldorph commented on #20991
Assuming duplicate of #22010.  Feel free to re-open if not.

[2019-01-16 21:57] #20991 closed

[2019-01-16 21:57] RussKeldorph commented on #20990
Assuming duplicate of #22010.  Feel free to re-open if not.

[2019-01-16 21:57] #20990 closed

[2019-01-16 21:57] RussKeldorph commented on #20989
Assuming duplicate of #22010.  Feel free to re-open if not.

[2019-01-16 21:57] #20989 closed

[2019-01-16 21:57] RussKeldorph commented on #20539
Assuming duplicate of #22010.  Feel free to re-open if not.

[2019-01-16 21:57] #20539 closed

[2019-01-16 21:57] RussKeldorph commented on #20517
Assuming duplicate of #22010.  Feel free to re-open if not.

[2019-01-16 21:57] #20517 closed

[2019-01-16 22:51] RussKeldorph commented on #19983
Assuming duplicate of #19890.

[2019-01-16 22:51] #19983 closed

[2019-01-16 22:55] AlekseyTs opened #22021 "A System.TypeLoadException is thrown when Default Interface Implementation is used across assembly boundary"
Compile the following code into a DLL
[code]

IL will look like this:
[code]

Compile the following code into an EXE, referencing the library
[code]

IL will look like this:
[code]

Run the executable.

Observed:
[code]

Expected the same output as when all types are compiled into the same executable:
[code]

Here is the IL when all types are in the same assembly:
[code]

[2019-01-16 23:01] danmosemsft commented on #20582
It was actually CoreFX (me) that originally proposed they add that, in the hope that years later (maybe now) we could actually consume it... 😃

[2019-01-16 23:06] danmosemsft commented on #21995
@brianrob the TestEtw test here is doing work inside
[code]
Specifically it is invoking `RunWithCallback`.

[TestEventListener is a ](https://github.com/dotnet/corefx/blob/master/src/Common/tests/System/Diagnostics/Tracing/TestEventListener.cs) S.D.Tracing.EventListener.

Is it possible for this to affect independent concurrently running tests that are using concurrent collections? Eg., the listen

[2019-01-16 23:08] danmosemsft commented on #21932
Got it, makes sense, I think it's great that you are finding more that can be shared.

[2019-01-16 23:10] RussKeldorph commented on #17547
#13314 maybe?  @AndyAyersMS Do you consider this worth investigating at this point?

[2019-01-16 23:19] CarolEidt commented on #19438
@AndyAyersMS - Previously I missed your comment where you talk about `lvRegStruct`. I don't think that setting that is a cheat at all. Basically it just means that this local is a struct that fits in a register and is not being promoted (i.e. in this case, not itself being promoted into sub-fields, which we sometimes do for `VectorN` when the individual fields are accessed more often than the full

[2019-01-17 00:14] RussKeldorph commented on #21581
Any chance this is in some way related to #19985?

[2019-01-17 00:16] vancem commented on #20372
I send e-mail to  @sywhang but I wanted to log it here as well.

The EventSource that we should hand the GC and JIT EventCounters on should be a new one called System.Runtime.   In particular its declaration should be.
[code]
The name of the class is not important.  RuntimeEventSource is already taken by the EventSource that supports the Native events which is why I called this one ‘ManagedRuntime

[2019-01-17 00:44] RussKeldorph commented on #3216
Closing stale

[2019-01-17 00:44] #3216 closed

[2019-01-17 00:47] RussKeldorph commented on #3580
@erozenfeld @swaroop-sridhar @sbomer Would https://github.com/mono/linker fit this description, or at least aspire to do so?

[2019-01-17 00:53] tommcdon commented on #21145
@jorive this looks related to #21461

[2019-01-17 00:56] sandreenko commented on #20597
The issue is the same as #21145, so I will close it as a duplicate.

[2019-01-17 00:56] #20597 closed

[2019-01-17 01:19] sandreenko commented on #21145
Ok, looks like it is time to add some description here.
To hit this issue you need several conditions:
1. `EventPipe` tracing thread that wakes up every `DisabledPollingIntervalMilliseconds`;
2. CPU under a heavy load that finishs to run a small app and calls `UnloadAppDomain` and it calls `EEShutDown`;
3. When the main thread (with shutdown) is running `EventPipe` should start running a new threa

[2019-01-17 01:30] VincentBu opened #22024 "[arm] Test failed: System.Diagnostics.Tests.ProviderMetadataTests.ProviderNameTests(noProviderName: False)"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_baseline_tst/50/

**Failed  test:**
System.Diagnostics.Tests.ProviderMetadataTests.ProviderNameTests(noProviderName: False)

**Log:**
[code]

[2019-01-17 01:31] sandreenko commented on #21145
I am working on reproing **issues 2 and 3** without **issue 1**, but do not get any luck with it.

[2019-01-17 01:31] noahfalk commented on #16023
Adding support would be a non-trivial runtime change and to date I don't think we've supported any edits to interfaces in EnC right? I wasn't planning to change that level of support for default interfaces.

Thus far I had been expecting to get EnC related customer feedback primarily from the VS debugger team and hadn't heard anything to suggest it was a high priority issue. Customers that we reac

[2019-01-17 01:54] swaroop-sridhar commented on #3580
Yes ILLinker is an IL-IL optimization for code-size reduction. But there are other optimizations possible for (ex inline) which may be implemented as plugins to ILLinker or as separate tools. There are also frameworks like [Fody](https://github.com/Fody/Fody) for custom IL transformations.

I'm not sure ILoptim should be one tool. But I agree with @jkotas  that they should live in their own reposi

[2019-01-17 01:57] sandreenko opened #22026 "[x64[r2r] ObjectStackAllocationTests is broken after #21950"
The output shows:

`FAILURE (AllocateSimpleClassAndCheckTypeNoHelper): unexpected allocation of 24 bytes`

Started to fail afer  #21950.

[CI example:](https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/x64_checked_windows_nt_r2r/3100/testReport/junit/JIT_opt/_ObjectStackAllocation_ObjectStackAllocationTests_ObjectStackAllocationTests_/_ObjectStackAllocation_ObjectStackAllocationTests_O

[2019-01-17 02:01] sandreenko opened #22027 "[x64][r2r] superpmicollect started to fail after #21965"
It fails with
[code]

[ci example](https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/x64_checked_windows_nt_r2r/3112/testReport/junit/JIT_superpmi/_superpmicollect_superpmicollect_/_superpmicollect_superpmicollect_cmd/)

PTAL @echesakovMSFT

[2019-01-17 02:22] swaroop-sridhar opened #22028 "NativeLibrary API: Provide facility to pass flags on Non-Windows"
Currrently NativeLibrary.Load APIs and callbacks provide a way to handle DllImportSearchPath, which largely only has meaning on Windows. We don't have a way to specify flags to `dlopen()`.

There are a few places in CoreFX that use specific flags with `dlopen()`.
https://github.com/dotnet/corefx/search?l=csharp&q=dlopen
Currently the only way to do this is to call `dlopen` directly.

In the long t

[2019-01-17 03:19] jorive commented on #21461
@jkotas @vancem Can this issue be closed? Workaround were merged into `master` and `release/2.2`.

[2019-01-17 03:37] benaadams opened #22029 "Intrinsics can overwrite register use"
[code]
Generates
[code]

This returns the incorrect result due to `vpmovmskb edx, xmm0` which overwrites the `edx` register in use by `bool result = false`

/cc @CarolEidt @fiigii @tannergooding

[2019-01-17 03:39] benaadams commented on #22029
Might be the gotos?

[2019-01-17 04:03] benaadams commented on #22029
Mask was wrong

[2019-01-17 04:03] #22029 closed

[2019-01-17 05:31] jkotas commented on #21461
Assuming that this is going to be fixed properly by #21027 in 3.0, it is ok to close this one.

[2019-01-17 06:52] abatishchev commented on #21985
Long story short: please don't bring it back. Imo, it should've never been existed in the first place.

[2019-01-17 08:16] v-haren opened #22031 "Could not restore build tools correctly"
failed in job: https://ci2.dot.net/job/dotnet_coreclr/job/perf/job/release_1.1.0/job/perf_Ubuntu16.04/45/

failed log:
Installing dotnet cli...
Restoring BuildTools version 1.0.26-prerelease-03129-01...
./init-tools.sh: line 123: 21259 Segmentation fault      (core dumped) $__DOTNET_CMD restore "$__PROJECT_JSON_FILE" --no-cache --packages $__PACKAGES_DIR --source $__BUILDTOOLS_SOURCE >> $__init_to

[2019-01-17 10:05] janvorli commented on #21450
@pakrym On Linux distros based on MUSL, we need to use that value early during PAL initialization to set the size of the primary thread stack. That happens before anything from the runtime is initialized. However, we could change `PAL_InitializeCoreCLR` to take the stack size as a parameter and create a new version of the `coreclr_initialize` hosting API that would take the stack size as a paramet

[2019-01-17 11:49] epignatelli opened #22033 "Implement Properties type covariance?"
Is this even possible?

I would link [this discussion](https://stackoverflow.com/questions/5709034/does-c-sharp-support-return-type-covariance) for a bigger picture and below a slightly modified extract about a specific problem I am currently experiencing.

The following is not supported, but I don't see why it wouldn't be safe.
[code]

[2019-01-17 11:50] jkotas commented on #21450
You do not need to. It can just be a new key/value pair.

[2019-01-17 12:58] janvorli commented on #22016
@jkoritzinsky just to make sure I understand it correctly - does it means that for fixed buffers, we don't classify each entry of the fixed array but just the first one?

[2019-01-17 13:57] stephentoub commented on #21995
I'm not sure why it would be causing this issue, but these tests should be moved to another process with RemoteInvoke, to avoid interference between the EventSource tests and every other test in the process; we already do that in some test suites, but apparently not here.  I'll take care of that.

[2019-01-17 15:33] filipnavara commented on #22033
It is not safe because some one can cast `Aquarium` to `Enclosure` and then assign the `Population` property to something that's not `Fish`.

[2019-01-17 16:01] jkoritzinsky commented on #22016
Yep. We only classify the first field since theees only one field in metadata.

[2019-01-17 16:22] #3580 closed

[2019-01-17 16:43] MichalStrehovsky commented on #22033
This would be okay if `Population` was a get-only property.

Similar things are being explored in the C# language repo: https://github.com/dotnet/csharplang/blob/master/proposals/covariant-returns.md

[2019-01-17 17:22] jkotas commented on #21145
This issue won't be fixed by #21461.

We moved away from the concept of shutdown and no managed code running after shutdown. The runtime is not full cleaned up yet - there is still some of the shutdown code present. The shutdown should just send notifications that we are shutting down, but it should not otherwise prevent managed code from running.

My guess is that the GC hole you are seeing is ca

[2019-01-17 17:50] danmosemsft commented on #19890
@ViktorHofer does this look familiar?

[2019-01-17 17:52] ViktorHofer commented on #19890
that's something that https://github.com/dotnet/arcade/issues/1613 should fix.

[2019-01-17 18:16] BruceForstall commented on #22024
Also failed the next run,

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_baseline_tst/51/consoleFull

@danmosemsft Any known issues here?

[2019-01-17 18:47] danmosemsft commented on #22024
Looks like https://github.com/dotnet/corefx/issues/34547

@maryamariyan what is the status there -  I thought you fixed it?

[2019-01-17 18:59] maryamariyan commented on #22024
No that was separate test that @stephentoub disabled in https://github.com/dotnet/corefx/pull/34548.

I'm looking at this now.

[2019-01-17 19:10] #19624 closed

[2019-01-17 19:16] maryamariyan commented on #22024
Pushed up https://github.com/dotnet/corefx/pull/34650

[2019-01-17 22:04] danmosemsft commented on #21995
I guess let's close this based on that change, but @brianrob please let us know if you think there is a product bug maybe.

[2019-01-17 22:04] #21995 closed

[2019-01-17 22:24] AndyAyersMS commented on #20089
Can't repro this currently. Note this test normally doesn't run any tier1 code when run as a test case (it will if run as a benchmark).

I wonder if tiering decisions can be influenced by the overall load on the machine. Am going to try loading down the machine to see if that allows a repro.

[2019-01-17 22:26] echesakovMSFT opened #22045 "tracing.eventsource/eventpipeandetw is flaky when running on Helix: Values for 'EventPipeEvent2Count' are not equal!"
This test has failed several times when AzDO/Helix were used for test running.

**An example of failure**
[code]

[2019-01-17 22:38] wfurt commented on #20212
This seems like old issue. I cannot reproduce it:

[code]
I can also run whole crypto suite without any problems:
[code]

also note that this probably depends on underlying crypto in OpenSSL. cc: @bartonjs

I suggest to close this unless we can reproduce it with current master builds.

[2019-01-17 22:44] echesakovMSFT commented on #22045
@RussKeldorph Can you please identify the owners of the test? I tend to agree that the test should disabled before enabling AzDO-as-CI. Otherwise, it's going to produce false positives test failures.

[2019-01-17 22:48] bartonjs commented on #20212
Makes sense to me.

[2019-01-17 22:48] #20212 closed

[2019-01-17 22:53] jkotas commented on #21609
@albahari Any new clues you were able to collect about this issue?

[2019-01-17 22:58] RussKeldorph commented on #22045
@noahfalk @jorive @vancem

[2019-01-17 23:14] AndyAyersMS commented on #20089
No luck yet with adding load via `stress`.

[2019-01-17 23:15] wfurt commented on #21676
This looks same as exception observed in https://github.com/dotnet/corefx/pull/34559

This was essentially race condition in tests.
I could not reproduce this on my system:
[code]

was this executed with some kind of stress condition?

[2019-01-17 23:21] #22024 closed

[2019-01-17 23:27] AlekseyTs opened #22046 "A number of C# and VB compiler unit-tests utilizing decimal numbers fail due to a baseline difference when run against netcoreapp3.0"
The baseline difference netcoreapp3.0 vs. Desktop and netcoreapp2.1

**Microsoft.CodeAnalysis.CSharp.UnitTests.CodeGen.CodeGenIncrementTests.TestIncrementDecimal**
http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp.Emit.UnitTests/CodeGen/CodeGenIncrementTests.cs,c05c79e995b122ba
 [FAIL]
      Roslyn.Test.Utilities.ExecutionException :
      Execution failed for assembly '8f845bda-f520-4b93-ae9

[2019-01-17 23:38] stephentoub commented on #22046
cc: @pentp, @tannergooding

[2019-01-17 23:41] tannergooding commented on #22046
CC. @jkotas as well.

[2019-01-17 23:41] tannergooding commented on #22046
Going through these now, will update the below as I do.

The first issue [Microsoft.CodeAnalysis.CSharp.UnitTests.CodeGen.CodeGenIncrementTests.TestIncrementDecimal](http://source.roslyn.io/#Microsoft.CodeAnalysis.CSharp.Emit.UnitTests/CodeGen/CodeGenIncrementTests.cs,c05c79e995b122ba) needs more analysis.
My initial guess is that this has to do with how we now correctly format and parse `-0` as `

[2019-01-17 23:50] pentp commented on #22046
Is it actually correct and/or beneficial to format/parse decimal 0 with a negative sign flag literally as -0? Decimal math has no distinction between -0 and 0 for any operation.

[2019-01-17 23:57] erozenfeld commented on #21644
https://github.com/dotnet/corefx/pull/34653 fixed this issue.

[2019-01-18 00:02] erozenfeld commented on #21223
dotnet/corefx#34653 fixed this issue. I verified the fix on x64. Will verify on arm and arm64 and then remove exclusions and close this bug.

[2019-01-18 00:06] tannergooding commented on #22046
That isn't quite true, various operations (such as multiplying) do take the sign of both inputs. For example, multiply a positive number by `-0.0` returns `-0.0`. I'm not sure if it is actually useful in practice for the `System.Decimal` type (there are well-known scenarios for `double`/`float` and the IEEE decimal types, however).

[2019-01-18 00:11] sandreenko commented on #21491
Yes, for example for `Devirtualization.EqualityComparerFixture`1[ValueTuple`3][System.ValueTuple`3[System.Byte,Devirtualization.EqualityComparer+E,System.Int32]]::Compare`:

before (fast):
[code]
after (slow):
[code]

and then the inline tree before (slow):
[code]

after (slow):
[code]

I hope that #22048 wll repro the issue in ` linux perf flow` job.

[2019-01-18 00:15] pentp commented on #22046
It's more of a coincidence that the sign bit is propagated for -0 results, I think we should revert -0 decimal formatting back to just "0".

[2019-01-18 00:34] tannergooding commented on #22046
I've finished updating the notes above.

Two of the issues are related to us now printing the negative sign for `-0`.
One of the issues is that we now return a more exact result when dividing (@pentp, could you take a closer look here? I believe this was the code you had been touching)
The final issue is that we don't seem to be taking a trailing digit into account when rounding and needs to be fi

[2019-01-18 00:37] wfurt commented on #21576
I could not reproduce it locally:
[code]
so it definitely seems like flaky test. This may be timing or it may be UDP loss under load. One option would be to disable this on ARM to reduce noise if rest of socket is passing.

[2019-01-18 00:45] tannergooding commented on #22046
I'm not so sure. For the most part, it follows the standard arithmetic logic, but it also matches what float/double do for most of the edge cases around `-0`. For example, It also happens for `-1m + 1` (which turns into `-0`).

From what I recall, I had asked about `System.Decimal` when making the formatting fixes for `double`/`float` (for the IEEE compliance) and it was recommended that it be fix

[2019-01-18 00:48] BruceForstall commented on #21576
@danmosemsft suggested we simply disable any System.Net test or test assembly that exhibits flakiness. We don't currently have a retry mechanism, which apparently we do have for corefx repo CI System.Net tests run in Helix.

[2019-01-18 00:50] wfurt commented on #21576
ok. I'll do that. I don't really like the retry strategy but I think noisy tests are worse.

[2019-01-18 00:54] AndyAyersMS commented on #20089
This has also passed in all the dozen or so [recent runs](https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_jitstress1_tiered_tst/lastCompletedBuild/testReport/JIT_Performance/_CodeQuality_BenchmarksGame_k_nucleotide_k_nucleotide_9_k_nucleotide_9_/history/) done by nightly CI.

So am tempted to close as no repro.

[2019-01-18 00:58] #19657 closed

[2019-01-18 01:36] pentp commented on #22046
The second issue is a result of #20305 which fixed several long standing bugs in decimal remainder calculation.

The problem with decimal -0 is that it's somewhat arbitrary (it used to have no practical meaning, the only observable difference was that `GetBytes` returned a different value).
[code]

[2019-01-18 01:37] AndyAyersMS commented on #20922
Prototype changes: [MoreTypeFolding](https://github.com/dotnet/coreclr/compare/master...AndyAyersMS:MoreTypeFolding).

Does not seem to fire very often... may need to audit all the various residual type compares to understand why.
[code]
am going to move this to Future for now.

[2019-01-18 01:45] #20089 closed

[2019-01-18 01:50] tannergooding commented on #22046
Right, but this is similar to binary `-0` (which also, until recently, was not detectable outside using `BitConverter` and producing `+/- Infinity`). In most mathematical applications, it has no purpose. However, there are some areas of mathematics where it is important and it is an exposed concept in the IEEE decimal types.

Most of the same concerns exist for `double`/`float` and would exist for

[2019-01-18 01:59] benaadams commented on #20922
Re: Jit diffs, how easy would it be to include the ASP.NET Core assemblies as part of the common compares?

[2019-01-18 02:03] pentp commented on #22046
But for IEEE types, -1 + 1 = 0 (not -0). A quick reading from Wikipedia indicates that regular addition/subtraction usually does not result in -0, but the rules are complicated.

I know that in the previous place I worked at we used decimal math a lot (probably more than half of all functions used decimals). For utilities consumption calculation, prediction, invoicing, accounting, etc. I'm pretty

[2019-01-18 02:05] jkotas commented on #22046
I would trust @pentp judgement on the decimal -0 and revert the change. My 2 cents...

[2019-01-18 02:10] tannergooding commented on #22046
Might that be a case where it is worth fixing the `decimal` logic so that it only computes `-0` in the same cases as the IEEE types? For IEEE types, it is always +0, unless the rounding direction is `roundTowardNegative`; the exception being `x + x` and `x - (-x)` which retains the sign of x, even for zero.

Otherwise, the fix should be relatively straight forward and should just involve us normal

[2019-01-18 02:12] noahfalk opened #22055 "Allow EnC edit to add a method to an interface"
We've got a number of restrictions on allowed EnC edits, and adding methods to interfaces is one of them. Given that interface dispatch uses VSD rather than vtables, it may not be as bad as I first envisioned to support this case. We should investigate both the demand and the cost for this in a bit more detail, and if things look promising, implement it.

[2019-01-18 02:20] pentp commented on #22046
I don't think it's worth changing decimal calculation rules just to accommodate -0. It has no practical value in the kind of calculations done with decimals (non-scientific, no subnormals, no infinities, just regular integers with a decimal point in between).

[2019-01-18 02:20] AndyAyersMS commented on #13053
Do we still want this for 3.0?

Also, we should probably reclassify this as a runtime issue.

[2019-01-18 02:22] noahfalk commented on #16023
Thanks @tmat! Yep dotnet/roslyn#27976 was blunt ; ) (but its good and fair feedback)

I opened #22055 as implementing this may not be as bad as I expected. I didn't put it in 3.0, but I think its worth looking at in our next round of planning. I looked through the issues you posted and nothing specific to interface edits was apparent, but if I missed it or its referenced obliquely feel free to add

[2019-01-18 02:25] BruceForstall opened #22056 "[arm64] Are unwind codes after frame pointer established unnecessary?"
In some arm64 frame types, we establish the frame pointer and then subtract off the remainder of the frame, e.g.:
[code]
And this `sub sp` is reported in the unwind info. Does it need to be? Once the frame pointer is established, the unwinder should be able to unwind the callee-saved regs and the rest of the frame.

[2019-01-18 02:27] BruceForstall opened #22057 "[arm64] Frame type 1 uses incorrect test"
Frame type 1 uses the condition:
[code]

It seems this should instead be `<=`.

[2019-01-18 02:33] AndyAyersMS commented on #14114
There is just one `TODO-ARM64-NYI`

https://github.com/dotnet/coreclr/blob/8da1974d2d9ff47e45334f359199a3d50c8e0cbb/src/jit/gentree.cpp#L2852-L2860

so it would be good to uncover the "incomplete" and "missing" parts.

[2019-01-18 02:39] BruceForstall opened #22058 "[arm64] Frame type 3 can use common code to reverse establishing FP"
Frame type 3 establishes the frame pointer before subtracting off the outgoing argument space. It currently uses one of two options to restore the SP from FP, depending on whether the function has localloc:
[code]

It can instead just always use the "localloc" case, for simplicity. It probably would help match prolog/epilog codes as well.

[2019-01-18 02:56] AndyAyersMS commented on #20922
Not too hard. We just need to figure out which versions to use and put the assemblies somewhere.

Feel free to open an issue over in [jitutils](https://github.com/dotnet/jitutils).

[2019-01-18 03:06] benaadams commented on #20922
https://github.com/dotnet/jitutils/issues/189

[2019-01-18 03:13] AndyAyersMS commented on #19209
I'll investigate.

[2019-01-18 03:28] noahfalk opened #22059 "VirtualCallStubManager::TraceResolver should not throw for ambiguous dispatch"
Found this via code review, but a probable repro is:

1) Write a managed app that has the ambiguous interface dispatch problem (https://github.com/dotnet/corefx/issues/34124)
2) Use VS managed debugger to debug that app
3) Set a breakpoint just prior to the ambiguous interface invocation and then step-in to that method
Expected behavior: VS shows the exception dialog
(Probable) actual behavior: Th

[2019-01-18 04:06] noahfalk commented on #15866
To the list above I suggest adding:
- [ ] ENC tracked here: https://github.com/dotnet/coreclr/issues/16023
- [ ] VS debugger support in the IL interpreter (adding @plnelson)
- [ ] Manual testing of the VS debugger when using default interfaces
- [ ] Update our automated debugger tests with at least one successful default interface case and one diamond pattern ambiguous default interface case. The

[2019-01-18 08:47] pauldotknopf opened #22063 "QNX? Does anyone know of any resources for getting .NET Core compiled/running on it?"
I have a .NET Core code-base that I'd like to run on an embedded device that is using QNX as it's operating system.

QNX is very similar to Linux, and is posix-compliant. User-space code (without deps on drivers) that is posix-compliant *should just work*.

Has anyone looked into this?

Is there something specific I should be considering before digging in?

[2019-01-18 10:18] #22021 closed

[2019-01-18 11:10] afxgroup commented on #17294
a Powerpc port would be really great 👍

[2019-01-18 11:55] kenfullscale opened #22066 "Loading profiler failed CoCreateInstance 0x8007007e"
**Behavior**
Our profiler failed to be loaded in centOs 7.6 with the error code 0x8007007e
"Loading profiler failed during C"..., 183Loading profiler failed during CoCreateInstance.  Profiler CLSID: '{cf0d821e-299b-5307-a3d8-b283c03916da}'.  HRESULT: 0x8007007e.  Process ID (decimal): 103504.  Message ID: [0x2504].) = 183

**Strace log**
stat("/usr/share/dotnet/libcoreclr.so", 0x7ffd9eef2358) = -1

[2019-01-18 12:06] Suchiman commented on #22063
While QNX is not officially supported, the first question should be if the embedded device is using a supported CPU architecture. Currently .NET Core supports x86, x64, ARM32 on ARMv7+ chips (that means no raspberry pi 1 / zero for example) and ARM64 (as of .NET Core 3)

[2019-01-18 12:07] pauldotknopf commented on #22063
I should have mentioned that. In my case, this is x86. I fully understand that architecture is a bigger question.

[2019-01-18 12:08] janvorli commented on #22063
I have no knowledge of QNX, but you can give it a try.
You can try to build native components of coreclr on QNX as the first step and see if you can make it work. For the first steps, you'd need at least cmake 2.8.12 or higher, clang 3.6 or higher and make. I would try to start from there and see what the build complains about. Then install missing packages / fix build scripts or source and repeat

[2019-01-18 12:10] janvorli commented on #22056
It seems to me that you are right and that this does not need to be reported in the unwind info for FP based frames.

[2019-01-18 12:13] pauldotknopf commented on #22063
Great, that is good to hear! I will try to not bother you guys too much.

[2019-01-18 12:18] #15353 closed

[2019-01-18 15:59] RussKeldorph commented on #22066
@dotnet/dotnet-diag

[2019-01-18 16:23] vancem commented on #22045
@echesakovMSFT  can you give us some idea how often the test fails?   (is it over half or more like 1%).   That will help us understand how we have to attack the problem.

Ultimately we will need a way of reproducting the problem.   If it fails rarely the easiest way to do this is to add additional logging to gather information on what is going wrong, but keep the test in place and monitor it clos

[2019-01-18 17:40] jorive commented on #22045
@vancem sure, I can take a look.
@echesakovMSFT could you please provide me repro steps?

[2019-01-18 17:45] tmat commented on #16023
Right, we have no specific feedback for editing interfaces. Usually we won't get feedback about a specific kind of edit that was disallowed. Most customers do not realize the nuances why an edit can't be applied in this case but can't be in another case (e.g. can add a new method with body to an abstract class, but not to an interface). They just want the cases when debugging session needs to be i

[2019-01-18 17:46] tannergooding commented on #22046
I should have the PR fixing two of the issues shortly:
* `-0` will format as `0` for `System.Decimal`
* `TryNumberToDecimal` will be updated so that it considers parsed digits that are below `2^-28` as part of the `non-zero tail`

After which, the compiler will likely need to update its baselines for the second issue (so that, on .NET Core, it expects the more correct division result) and the thir

[2019-01-18 18:08] dotnet-mc-bot opened #22069 "Build failure: OSX: error: cannot initialize a parameter of type 'LPWSTR' (aka 'char16_t *') with an lvalue of type 'const wchar_t *'"
Opened on behalf of @RussKeldorph

Warnings: 4
Status Message: failed

Build : 3.0 - 20190118.02 (Product Build)
Failing configurations:
- OSX
  - PortableBuild-Checked-x64
  - PortableBuild-Debug-x64
  - PortableBuild-Release-x64
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/30/source/official~2Fcoreclr~2Fmaster~2F/type/build~2Fproduct~2F/build/20190118.02/workItem/Orchestrati

[2019-01-18 18:09] RussKeldorph commented on #22069
[code]

[2019-01-18 18:16] RussKeldorph commented on #22069
@jkoritzinsky @AaronRobinsonMSFT

[2019-01-18 18:17] echesakovMSFT commented on #22045
@vancem
I would estimate the failure rate as about 1 out of 16. It fails on Windows_NT x86 and x64.

@jorive To repro the issue I would start with the exactly same commamd we run in CI:
[code]

where CORE_ROOT is D:\coreclr\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root assuming you cloned coreclr in D:\coreclr

[2019-01-18 18:31] juliusfriedman commented on #22046
I don't see why a concerned party is concerned... what's alarming to me here is that rather than discussion to allow for the sign to be omitted with a format option we are considering reverting for applications which relied on a behavior which is arguably incorrect to be the norm.

I would much rather see this not reverted and deal with the formatting issues just as we are with double.

[2019-01-18 18:38] tannergooding commented on #22046
@juliusfriedman, there can be no apps reliant on the behavior.

In all .NET Framework versions and all released .NET Core versions (so 2.2 and prior), `System.Decimal` formats negative zero as `0`.

For .NET Core 3.0 (which hasn't released yet), `System.Decimal`, `System.Double`, and `System.Single` were all updated to format negative zero as `-0`. This is just reverting that change for `System.De

[2019-01-18 18:44] jashook opened #22073 "[SuperPMI] Store the MCH file in azure storage using the JIT-EE GUID"
This will allow us to more easily version the superPMI mch drops over time. It also gives us a way to determine exactly when the collection is out of date and needs to be re-collected.

[2019-01-18 18:45] sbomer commented on #21946
Official build with the fix: https://dnceng.visualstudio.com/internal/_build/results?buildId=76035

[2019-01-18 18:45] #21946 closed

[2019-01-18 18:48] pentp commented on #22046
After some more careful reading of the IEEE rules for signed zero, it looks like the only applicable rule to `System.Decimal` might be that, x - x= - 0 when rounding towards negative, but the addition/subtraction operations have no rounding options in the API. So that leaves only the rules concerning operations with a -0, but that requires one to already somehow have a negative zero in the first p

[2019-01-18 18:48] jashook opened #22074 "[SuperPMI] Add better documentation for re-running SuperPMI failures"
Title says everything

[2019-01-18 18:50] jashook opened #22075 "[SuperPMI] Cleanup Replay/Collection code to remove duplication"
This is referring to superpmi.py.

[2019-01-18 18:51] jashook opened #22076 "[SuperPMI] Do not delete old asm directory when re-running diffs"
This will allow running multiple diffs.

[2019-01-18 18:58] juliusfriedman commented on #22046
Hence my point..

The practical application should be applied in the application, hiding the behavior especially in a type which utilizes such precision has no applicable applications and furthermore reduces the domain of applicability of the aforementioned.

In short, Signaling a value came from the negative domain is the ONLY thing which separated not having that information and since such as al

[2019-01-18 19:07] tannergooding commented on #22046
We should likely move further discussions about `System.Decimal` and `-0` to a new thread, since this issue isn't specifically about that.

As I indicated above, I do believe there are uses-cases for a decimal-based floating-point type that properly exposes negative zero. However, based on the discussion above, and some further thought on it, we are likely better off by keeping `System.Decimal` as

[2019-01-18 19:14] erozenfeld commented on #21223
arm and arm64 sill have failures in System.Runtime.Tests, tracked by #21022 and #17584.

[2019-01-18 19:15] erozenfeld commented on #21223
Closing this issue since ThrowStatementDoesNotResetExceptionStackLineOtherMethod is fixed by dotnet/corefx#34653.

[2019-01-18 19:15] #21223 closed

[2019-01-18 19:32] juliusfriedman commented on #22046
I would in closing say that it's not in use because it's extremely cumbersome to do so for when one also has to take into account documented behaviors including round trip.

It's for the same reason then it would not have as much use in double.

The benefit in having the sign in the string is not outweighed by the difference between the binary representations of such or the figure wouldn't exist i

[2019-01-18 19:41] sywhang commented on #22066
That particular HResult indicates that your profiler module could not be found. Did you set the environment variables ```CORECLR_PROFILER``` and ```CORECLR_PROFILER_PATH``` correctly? ```CORECLR_PROFILER``` should be set to the exact GUID that your profiler exported and ```CORECLR_PROFILER_PATH``` should be set to the exact path to your profiler's dll.

[2019-01-18 19:42] #21644 closed

[2019-01-18 19:45] sandreenko opened #22077 "CoreFX tests work 3x time slower on arm64 than on arm32."
Out arm64 corefx jobs are usually failing with timeouts: [example](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_windows_nt_corefx_baseline_tst/23/console).

It happens because most tests work very slow (significantly slower than on arm32, on arm32 [the job takes ~3 hours](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_

[2019-01-18 19:45] pentp commented on #22046
Converting to float/double from decimal preserves the sign even for -0. Maybe that should be normalized also instead?

[2019-01-18 19:46] sandreenko commented on #22077
The issue blocks #18886 because we do not see all failing tests in ci.

[2019-01-18 20:02] BruceForstall commented on #22077
So maybe there's a difference in what is crossgen'ed in System.Private.Corelib?

[2019-01-18 20:48] sandreenko commented on #22077
With ZapDIsabled the difference is even worse (56s against 13s).

[2019-01-18 20:56] sbomer commented on #19896
@karelz I think it should go in mono/linker.

[2019-01-18 21:41] ayende opened #22078 "Adding memcmp intrisinc?"
We are using `memcmp` a _lot_, to do comparisons of pieces of data inside mmap file.
Because of the cost of p/invoke, we wrote our own memory comparison function and only shell to `memcmp` if the size is large enough to be worth it.

I would rather be able to directly call `memcmp` without paying the pinvoke costs.
Calls to `memset` and `memcpy` are already exposed via `Unsafe.InitBlock` and `Unsa

[2019-01-18 21:46] briansull commented on #21969
Can you provide a complete repro case for this issue?

And what is the exact "error" that occurs?
Sounds like an A/V is the error.

[2019-01-18 21:48] briansull commented on #21969
I also do think that using a 'jmp; opcode is supported for generic methods and such methods have "hidden" parameters that need to be setup, such as the generic context.

[2019-01-18 21:49] karelz commented on #19896
@sbomer thanks! Feel free to move it yourself in future if that's the case ;)

[2019-01-18 21:49] karelz commented on #19896
This issue was moved to mono/linker#446

[2019-01-18 21:49] #19896 closed

[2019-01-18 21:56] jkotas commented on #22078
`Unsafe.` are thin wrappers over IL instructions. There is no memcmp IL instruction and that's why there is no `Unsafe.MemCmp`.

`int SequenceCompareTo<byte>(ReadOnlySpan<byte> span, ReadOnlySpan<byte> other)` is the public API equivalent of memcmp. Have you tried that?

[2019-01-18 22:02] AndyAyersMS opened #22079 "Performance issues with Range type"
Ideally the following two methods should generate similar code.
[code]

Currently the `Range`-based version runs into a number of issues:
* `Range`s are not promotable
* Key methods are not inlining (too large/complex)
* IL shape in `Index` constructor is blocking enregistration of fields (similar byref on IL stack across branch exposure issue as we saw in #21196)
* ABI modelling in jit is blockin

[2019-01-18 22:14] benaadams commented on #21973
Would the  TryAndCseSomeDoNotEnregisterLocals change mean that [ExecutionContext.RunXxx](https://github.com/dotnet/coreclr/blob/87fb9af12afb29087a818bd588037996a97bf000/src/System.Private.CoreLib/shared/System/Threading/ExecutionContext.cs#L141-L198) could be simplified to just have the locals once and skip the manual re-enregistration?

[2019-01-18 22:31] RussKeldorph opened #22082 "Size regression in official build"
Here is the size of the Microsoft.NETCore.App
3.0.0-preview-27122-01 - 74.5MB
3.0.0-preview-27317-3 - 223MB

Largest Files - 3.0.0-preview-27122-01
12022784 Nov 21 12:25 System.Private.CoreLib.dll
9886064 Nov 21 12:24 libcoreclr.so
8472576 Nov 22 01:26 System.Private.Xml.dll
5156352 Nov 22 01:25 System.Linq.Expressions.dll
3827752 Nov 21 12:24 libmscordaccore.so
2995112 Nov 21 12:21 libclrjit.so
2

[2019-01-18 23:03] richlander commented on #22082
Ouch!!! Please fix this!

[2019-01-18 23:06] sbomer commented on #22082
Could be related to stripping symbols - investigating...

[2019-01-18 23:13] benaadams commented on #22082
That's kinda unusual; something changed with the C/C++ compiler?
[code]
`System.Private.CoreLib.dll` down by 30%; but the native libs are way up

[2019-01-18 23:15] RussKeldorph commented on #22082
@sbomer Found that our new build infra doesn't pass -stripSymbols to build.sh.  I would have thought that were the default for release builds, but I guess not.

[2019-01-18 23:17] janvorli commented on #22077
@sandreenko do you happen to know what is the ratio on Linux?

[2019-01-18 23:23] adityamandaleeka commented on #13592
Yes, I'll close this once that's merged. Unfortunately, the ARM64 CI has been in terrible shape (long waits and general flakiness).

[2019-01-18 23:34] AndyAyersMS commented on #21973
Seems like it might.

[2019-01-18 23:34] jashook commented on #22082
https://github.com/dotnet/coreclr/pull/22083

[2019-01-19 00:06] erozenfeld opened #22086 "Improve generated code for isinst in R2R mode"
jit has an optimization for isinst when the target class has CORINFO_FLG_FINAL and doesn’t have CORINFO_FLG_MARSHAL_BYREF or CORINFO_FLG_CONTEXTFUL. In this case the jit generates the code inline, without calling a helper: https://github.com/dotnet/coreclr/blob/b4cbfba170ccdf277a5080bf24460fde4c41bbf3/src/jit/importer.cpp#L10696-L10786 .

In R2R case we always call a helper.

We could do this opti

[2019-01-19 00:11] #22082 closed

[2019-01-19 00:11] tritao opened #22087 "Struct-by-value return in P/Invoke causes crash on Linux"
Hello.

In the process of porting CppSharp to .NET Core, we found a crasher that is blocking us.

I've managed to minimize the code to make a repro:

`native.cpp`:
[code]

Native code can be compiled with: `clang -fno-rtti -fno-exceptions -fPIC -shared -lstdc++ -olibnative.so native.cpp`

`Program.cs`
[code]

Before minimization, the code has 100% crash rate in the native side (due to calling into

[2019-01-19 00:16] erozenfeld commented on #22086
/cc: @dotnet/jit-contrib

[2019-01-19 00:17] AndyAyersMS commented on #22079
`Range` promotion is blocked here as its `Index` fields are only 4 bytes.

https://github.com/dotnet/coreclr/blob/b2c6dd4eb427caf7cb852998076b0b1543447a28/src/jit/lclvars.cpp#L2015-L2028

Seems relatively simple to add the right alignment check and allow this case through.

Prospective fix for that and the inlining and IL issues: [master...AndyAyersMS:Range](https://github.com/dotnet/coreclr/compa

[2019-01-19 00:30] sbomer commented on #21898
Corefx is no longer hitting symbol-related issues, and both corefx and core-setup are consuming us successfully. Closing this, but there's still the related issue about uploading to symbol servers: https://github.com/dotnet/coreclr/issues/21941

[2019-01-19 00:30] #21898 closed

[2019-01-19 00:34] AndyAyersMS commented on #22079
Jit-diffs from the extra promotion:
[code]

[2019-01-19 00:38] echesakovMSFT commented on #22077
@janvorli Oh, I didn't know there is a way to run on RPi3 in arm64 mode

[2019-01-19 00:39] noahfalk commented on #16023
Do we have VS telemetry about why edits were disallowed?

[2019-01-19 00:47] tmat commented on #16023
Yes. We prioritize based on that, although there hasn't been much time for EnC work past year anyways, so there has not been much progress.

Most of the issues do not need CLR change. They can often be addressed in Roslyn. The one issue that is higher priority and needs work in the CLR and the debugger is editing in a generic context (generic methods, types). That's one of the reasons F# doesn't e

[2019-01-19 00:49] jkoritzinsky commented on #22087
This is likely related to #22041.

[2019-01-19 00:55] noahfalk commented on #16023
Thanks good to know. Feel free to open an issue tracking EnC on generics. I don't have a good sense of what is involved, but if its important getting an idea of its cost during our next round of planning seems like a good idea.

[2019-01-19 02:11] kenfullscale commented on #22066
@sywhang , I set properly all the environment variables and this is working fine in ubuntu but not in centos 7.6.

[2019-01-19 02:14] sywhang commented on #22066
@kenfullscale That's interesting. We haven't tested our profiler tests on CentOS yet so there may actually be a product issue. I'll try to get a CentOS machine and see I can repro your issue. Thanks for reporting this.

[2019-01-19 02:15] sywhang commented on #22066
cc @noahfalk @davmason

[2019-01-19 02:21] kouvel commented on #19752
Fixed by https://github.com/dotnet/coreclr/pull/21292

[2019-01-19 02:21] #19752 closed

[2019-01-19 05:55] BruceForstall opened #22090 "Build of cross native components is not incremental"
From a clean, up-to-date clone of dotnet/coreclr, I ran:

[code]

twice in a row. I would expect that the second time would do almost nothing -- especially no compilations.

However, this phase:
[code]

did a lot of building. This might show some indication of what was rebuilt:

[code]

[2019-01-19 05:55] BruceForstall commented on #22090
@echesakovMSFT @janvorli

[2019-01-19 06:54] AlexAtNet opened #22092 "FInalizeQueue is not available although enabled"
According to the https://github.com/dotnet/coreclr/issues/21862, the FinalizeQueue should be enabled.

When I'm checking the source code, it is here:

[code]

It looks like it is the binary, at least partially:

    mbp:OSX.x64.Debug alex$ grep FinalizeQueue libsosplugin.dylib
    Binary file libsosplugin.dylib matches

However, when I'm trying to use it, it is reported missing:

    (lldb) finali

[2019-01-19 08:51] per-samuelsson opened #22094 "Path with forward-slashes passed to LoadUnmanagedDllFromPath cause load to fail"
**Describe the bug**
When a native binary in a package is defined in the `.nuspec` using *forward-slashes*, `AssemblyLoadContext.LoadUnmanagedDllFromPath()` will fail loading it.

Sample `<file>` causing this failure:

**Foo.nuspec**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Define a NuGet package that include a native binary using the above pattern.
2. Load an assembly in an AL

[2019-01-19 09:47] caozhiyuan opened #22095 "[profiler api] ilrewrite problem META_E_BAD_SIGNATURE"
i want add try catch finnally in method il.
first , i add code (before nop il ) at methed begin , but get error META_E_BAD_SIGNATURE BadImageFormatException: Bad binary signature. (Exception from HRESULT: 0x80131192)
i check the il code is right, what can cause this problem?

@noahfalk  can give a help?

code : https://github.com/caozhiyuan/clr-samples/blob/master/ProfilingAPI/ClrProfiler/CorProfi

[2019-01-19 09:49] caozhiyuan commented on #22095
i add this il
[code]

[2019-01-19 10:32] noahfalk commented on #22095
META_E_BAD_SIGNATURE means that some metadata signature was bad, but without context it would be challenging to determine which one and exactly what is wrong with it. Searching the runtime source there are about ~40 places that generate that error. I'm not going to be able to debug this for you, but I can offer some suggestions that will hopefully help you track it down:

1) Since CoreCLR is open

[2019-01-19 10:37] MichalStrehovsky commented on #16023
Interaction with default interface feature is tracked on the Roslyn side (we don't currently plan runtime work for this, so this is just about making sure rude edits work as expected). The rest of the discussed issues forked off to separate places.

[2019-01-19 10:37] #16023 closed

[2019-01-19 11:01] caozhiyuan commented on #22095
i changed local  var signature and add three variable and getnewtoken

[2019-01-19 11:43] #22095 closed

[2019-01-19 11:43] caozhiyuan commented on #22095
ok thks i will try it

[2019-01-19 12:49] GSPP commented on #21408
I thought I'd test a few variants of this pattern:

            void Test_Array_Constant(int[] array)
            {
                //signed:
                if (array.Length >= 5) array[4] = 0x1001;
                if (array.Length > 4) array[4] = 0x1002;
                if (array.Length == 5) array[4] = 0x1003;
                if (5 <= array.Length) array[4] = 0x1004;
                if (4 < arr

[2019-01-19 13:38] filipnavara commented on #21932
Another easy one is `MemoryFailPoint`. It is nearly identical in CoreCLR and CoreRT except for the different implementation of `GetMemorySettings` (internal call on CoreCLR, code from constructor and static variable assignment in CoreRT).

[2019-01-19 13:47] marek-safar commented on #21932
@filipnavara I agree just not sure if the type is useful (it has minimal public surface)

[2019-01-19 13:52] filipnavara commented on #21932
@marek-safar Actually there's many more of such things in `System.Runtime`. Many of them have much larger footprint (eg. ConditionalWeakTable is > 40Kb). I'll try to make a list or just submit PRs for the easy ones. For the harder ones (Marshal.cs) there is a lot of code diversion between CoreRT/CoreCLR, but it may still be worth investigating since the actual function implementations often still

[2019-01-19 16:21] tarurar opened #22098 "Unable to load shared library 'libproc' or one of its dependencies"
Getting the error while trying to run `dotnet restore`:

   at Interop.libproc.proc_pidpath(Int32 pid, Byte* buffer, UInt32 bufferSize)
   at Interop.libproc.proc_pidpath(Int32 pid)
   at System.Diagnostics.Process.ResolvePath(String filename)
   at System.Diagnostics.Process.StartCore(ProcessStartInfo startInfo)
   at System.Diagnostics.Process.Start()
   at Microsoft.DotNet.Cli.Utils.ProcessStar

[2019-01-19 19:08] RevensofT commented on #21969
@briansull
I'm sorry, I might be post on wrong place, an error emerge at .Net framework CLR; I'm not sure coreclr work in the same way but the code I post is all I wrote and got this error, an error feedback just a generic error like I write some line wrong in CIL; I just create a console project to test "recursive<T>"(I directly write in in .il) to help me do a tail recursion in VB.net.

In my op

[2019-01-19 20:18] tarurar commented on #22098
@adityamandaleeka , you was helping me before here https://github.com/dotnet/coreclr/issues/12672, but I had a long break since that time and the issue still exists.

[2019-01-19 22:58] tomrus88 commented on #20287
I don't like proposed "pack and extract" approach, especially part where if would extract files on disk. It's simple, but has too many issues. It should all work from "in memory" without extracting to disk.

I think it should be something like corert native compiler or [Costura.Fody](https://github.com/Fody/Costura).

[2019-01-20 02:02] lertoo commented on #20798
No - Windows reflected the change but not .NET.

Simply change the registry to:
[HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\TimeZoneInformation]
"DynamicDaylightTimeDisabled"=dword:00000001

Check Windows clock time and the value of "new DateTimeOffset().LocalDateTime", you will see the issue.

[2019-01-20 07:07] caozhiyuan commented on #22095
@noahfalk  i finished it . i DefineMemberRef use sig error.

[2019-01-20 07:44] danmosemsft commented on #22094
Thanks for reporting. Generally can you please paste stack traces in as text? It makes it searchable for others.

[2019-01-20 07:46] danmosemsft commented on #22092
@janvorli

[2019-01-20 14:32] ayende opened #22103 "Failed to compile CoreCLR when VS 2019 is installed"
I'm running the `build.cmd` from `Developer Command Prompt for VS 2017` console ,and I get a compilation error

[code]

I'm pretty sure that I followed the Windows build instructions. i looked at the line:

https://github.com/dotnet/coreclr/blob/master/src/vm/amd64/virtualcallstubcpu.hpp#L589

And it _looks_ fine.  The values there are defined here:
https://github.com/dotnet/coreclr/blob/master/sr

[2019-01-20 14:54] benaadams commented on #22103
I have to comment out line 589 to get it to build
[code]

:-/

[2019-01-20 15:43] ayende commented on #22103
Okay, as long as it isn't just me, I was worried that was something in my env.

[2019-01-20 15:44] ayende commented on #22078
I wouldn't actually include a static copy of it. My intent was to basically shell to the same `memcmp` that is used everywhere. I assume that this gets to the normal C library, which is already as optimized as we can get.

[2019-01-20 18:20] filipnavara commented on #17903
These ones are done:
  .\system\runtime\compilerservices\asyncmethodbuilder.csthe
  .\system\runtime\compilerservices\icastable.cs
  .\system\runtime\compilerservices\taskawaiter.cs
  .\system\runtime\exceptionservices\exceptiondispatchinfo.cs
  .\system\runtime\interopservices\criticalhandle.cs
  .\system\runtime\interopservices\nativecallableattribute.cs

Many of the other ones are CoreRT-specif

[2019-01-20 19:33] tarurar commented on #22098
@AaronRobinsonMSFT that's correct. I've tried to remove net core completely from the syste, and install it again. No luck.

[2019-01-20 20:00] kouvel commented on #22103
Maybe a compiler version difference or something else. Can you send me the output of `cl -version` from that prompt? I'll try to repro and take a look.

[2019-01-20 20:02] ayende commented on #22103
[code]

[2019-01-20 20:08] GSPP commented on #22078
@ayende

I'm not so sure about that. I saw reports about major optimizations in memcpy/memcmp in standard libraries fairly recently (at most very few years ago). At that time I was amazed to learn that these methods had not been properly optimized before.

It is not safe to rely on standard library memcpy/memcmp to be maximally fast.

[2019-01-20 20:21] kouvel commented on #22103
Looks like I'm on a more recent compiler:
`Microsoft (R) C/C++ Optimizing Compiler Version 19.16.27026.1 for x64`

Are there updates available to install for VS? It may have been a bug that was fixed. Meanwhile I'll see if something can be done to avoid the error.

[2019-01-20 23:48] filipnavara commented on #21932
Btw, any opinions on ThreadPool? I would like to move the common code and the portable implementation from CoreRT to shared partition (along with the FeaturePortableThreadPool flag).

[2019-01-20 23:59] marek-safar commented on #21932
@filipnavara I'd love to see TP shared but it could take few rounds to get us there

[2019-01-21 01:16] VincentBu opened #22107 "[x86] Index out of range exception in x86_checked_windows_nt_corefx"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_corefx_baseline/721/

**Failed jobs:**
System.Runtime.InteropServices.Tests.ArrayWithOffsetTests.Ctor_Array_Offset

**Log:**
[code]

[2019-01-21 01:24] VincentBu opened #22108 "[x86] Test failed: Microsoft.Win32.SystemEventsTests.CreateTimerTests.ConcurrentTimers"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_corefx_jitstressregs0x1000/631/

**Failed tests:**
Microsoft.Win32.SystemEventsTests.CreateTimerTests.ConcurrentTimers

**Log:**
[code]

[2019-01-21 01:39] VincentBu opened #22109 "[x86] Test failed: Interop_ICustomMarshaler._ConflictingNames_MultipleALCs_MultipleALCs_._ConflictingNames_MultipleALCs_MultipleALCs_cmd"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_gcstress0xc_zapdisable/114/

**Failed tests:**
Interop_ICustomMarshaler._ConflictingNames_MultipleALCs_MultipleALCs_._ConflictingNames_MultipleALCs_MultipleALCs_cmd

**Log:**
[code]

[2019-01-21 01:47] VincentBu opened #22110 "[x86] Test failed: System.Diagnostics.Tests.ProcessWaitingTests.WaitForSignal"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_corefx_minopts/699/

**Failed tests:**
System.Diagnostics.Tests.ProcessWaitingTests.WaitForSignal

**Log:**
[code]

[2019-01-21 01:56] filipnavara commented on #21932
I agree that it may take a couple of rounds, but the part in `ThreadPool.cs` is nearly the same in CoreRT and CoreCLR save for some logging and small things that diverged over time. I'd start by extracting the CoreCLR specific parts into `ThreadPool.CoreCLR.cs` and moving `ThreadPool.cs` to shared partition. As long as the division between files stays the same as in CoreRT nowadays (which is very

[2019-01-21 06:57] ayende commented on #22103
This probably came because I installed the VS 2019 preview.

[2019-01-21 07:32] per-samuelsson commented on #22094
Most definitely. Sorry. This one was from an integration test on one of our build servers, so just did what was easiest at the moment.

[2019-01-21 07:44] caozhiyuan commented on #3894
@noahfalk  is any way to get entrypoint mian in profiler api ? (i want add startup hook code il in premain, i think it's best way)
now has three ways : DOTNET_ADDITIONAL_DEPS 、startup hook 、ilrewrite add assemly.load().gettype().getmethod().invoke(null,[]) in method begining(also need add LoadAssemblyFromSharedLocation if has other self dll ref)

[2019-01-21 07:44] v-haren opened #22113 "error MSB3073"
failed in job: https://ci2.dot.net/job/dotnet_coreclr/job/perf/job/master/job/perf_illink_Windows_NT_x64_full_opt_ryujit/3730/

failed log:
D:\j\w\perf_illink_W---e8877b83\build.proj(43,5): error MSB3073: The command ""D:\j\w\perf_illink_W---e8877b83\Tools\dotnetcli\dotnet.exe" restore --packages "D:\j\w\perf_illink_W---e8877b83\packages" --source https://dotnetfeed.blob.core.windows.net/dotnet-co

[2019-01-21 07:50] simplejackcoder opened #22114 "Optimizing HashSet<s/byte> (and other small numbers) to use a single or few Vector256?"
It will be awesome if `HashSet<byte>`/`Dictionary<byte, V>` could be made to use to Intrinsics feature in CoreCLR and optimize the heck out of the this case. It is provable that with Vector256 all operations are basically bit mask operations in one single register.

This also got me thinking if we could have a hash code selection algorithm for HashSets where the developer out right states the max

[2019-01-21 08:05] simplejackcoder commented on #22114
I left out an important point from my issue. The reason why I'm thinking about Vector256 is because I would like to do multiple checks, i.e. comparing multiple values, so think of it likes ContainsMultiple(array of input) and not Contains. Obviously the Contains could be implemented without any vector instructions at all.

[2019-01-21 11:46] janvorli commented on #22077
@echesakov yes, it has Quad Core 1.2GHz Broadcom BCM2837 64bit CPU and so you can install both 32 and 64 bit Linux on it.

[2019-01-21 15:04] per-samuelsson commented on #20607
FWIW, and possibly helping anyone waiting for an answer on this, our team just discovered this is **not** a bug in [JetBrains Rider](https://www.jetbrains.com/rider), while it's still an issue in Visual Studio 2019 + .NET Core 3.0.

Verified [this repro](https://github.com/dotnet/coreclr/issues/20607#issuecomment-447852153) in Rider myself, and it works flawlessly.

[2019-01-21 16:17] redknightlois commented on #22078
@jkotas I have seen in the code some things that could be streamlined (no guarantees though), but those improvements would also be of benefit given our use case. The code is going to be a bit more complex though because we will be working with intrinsics and managing the emitted assembler type of techniques.

If it is of your interest I can give it a try. I wouldn't start though if there is no int

[2019-01-21 16:45] jkotas commented on #22078
We are interested in performance improvements. As you know, we try to maintain a balance between the code complexity and performance of different cases (e.g. it is common for changes like these to help for some cases and regress other cases).

@benaadams tried improvements for SequenceEquals in https://github.com/dotnet/coreclr/pull/22019 that did not seem to work well.

[2019-01-21 16:48] redknightlois commented on #22078
Will give it a try then.

[2019-01-21 17:30] benaadams commented on #22078
OTOH it did help me notice that IndexOf can be likely significantly improved; which SequenceCompareTo can like benefit from; as they are similar in that they both need to find the location of the match/non-match in a vector and equals already gives it https://github.com/dotnet/coreclr/pull/22118

[2019-01-21 17:35] benaadams commented on #22078
i.e. this part specifically of `SequenceEquals` where its processing a non-match I'm referring to:

https://github.com/dotnet/coreclr/blob/a5c5feb8939ae6ae10d9d2b7f2bc8d43ed99bc38/src/System.Private.CoreLib/shared/System/SpanHelpers.Byte.cs#L1076-L1083

[2019-01-21 19:21] redknightlois commented on #22078
@benaadams what are the benchmark scenarios you are using for the `memcmp`. If you already have the code for them, better as we can talk over the same set of results :)

[2019-01-21 20:12] mikedn commented on #22114
Why is this case worthy of such an optimization? Or to put it another way, if this case is so important to you, why don't you use a more suitable data structure - `BitArray` or some other suitable "bit vector" implementation?

[2019-01-21 20:50] gafter commented on #1712
We are still interested in getting these small APIs added so that the C# compiler can produce correct code.

[2019-01-22 00:37] kouvel commented on #22103
I'd have to check with VS 2019 preview but I don't see how the expression in the code would not be a constexpr. All of the components in the expression should be constexprs. So far anyway, it looks more like a bug than a conformance issue. Also not sure why the VS 2019 preview compiler would have a lower version than mine which is the latest updated VS 2018.

[2019-01-22 00:47] benaadams commented on #22103
I get it with
[code]

[2019-01-22 00:49] benaadams commented on #22103
Both @ayende and I seem to be reporting `x86` and @kouvel is reporting `x64` however

[2019-01-22 01:56] AriNuer opened #22121 "[arm64\windows] Build failed with error CS1061"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_corefx_jitstress1_bld/29/

**Failed log:**
[code]

[2019-01-22 06:18] caozhiyuan commented on #3894
@noahfalk can add hook il code assembly load before main, GetModuleInfo2 get baseaddress then get entrypointToken

[2019-01-22 07:38] xoofx opened #22123 "RuntimeHelpers.PrepareMethod with tiered compilation?"
Hey,

Just a small question regarding the behavior of `RuntimeHelpers.PrepareMethod` in the presence of tiered compilation: Does it assume max optimizations or it generates only the thunk jump code?

[2019-01-22 08:40] joperator opened #22124 ".NET Core apps and some dotnet commands freeze with no output on FreeBSD 12.0"
I've published and run .NET Core apps on FreeBSD 11.2 with the .NET Core 3.0 SDKs for Windows and FreeBSD provided by the daily builds.
But I can't get it work on FreeBSD 12.0 because .NET Core apps just freeze with no output. Even dotnet commands like dotnet --help, --info and publish freeze with no output, whereas dotnet --list-sdks and --list-runtimes work as expected.

[2019-01-22 10:06] janvorli commented on #22124
CC: @wfurt

[2019-01-22 10:36] filipnavara opened #22125 "CI aborts on x64_checked_osx10.12_innerloop_prtest"
This seems to happen very often now:

[code]

https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_osx10.12_innerloop_flow_prtest/12313/console
https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_osx10.12_innerloop_flow_prtest/12320/console
https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_osx10.12_innerloop_flow_prtest/12321/console

[2019-01-22 10:46] caozhiyuan commented on #3894
@discostu105  @noahfalk  it can hook il in premian ( add assemblyloadfrom(""))   , there is sample https://github.com/caozhiyuan/clr-samples/blob/master/ProfilingAPI/ClrProfiler/CorProfiler.cpp#L396

[2019-01-22 13:15] jkotas commented on #22123
cc @kouvel

[2019-01-22 17:03] danmosemsft commented on #22107
@AaronRobinsonMSFT

[2019-01-22 17:08] #22059 closed

[2019-01-22 17:24] AndyAyersMS opened #22128 "Regressions from switching corelib to R2R"
We have enough perf history now that we can call out a few regressions from #21497, where corelib prejitting was changed from fragile ngen to R2R.

Crypto regressed ~4% on windows (505 -> 525) and ~6% on linux (515 -> 545)

![image](https://user-images.githubusercontent.com/10121823/51552537-a0afa680-1e25-11e9-939e-e2dc80a6c3da.png)

Csc/Dataflow regressed ~5% on windows (413 -> 432) and ~5% on li

[2019-01-22 17:43] jkotas commented on #22107
Right, this is temporary coreclr/corefx mismatch.

[2019-01-22 17:43] #22107 closed

[2019-01-22 17:47] sergiy-k commented on #1712
@MichalStrehovsky, could you please work with @gafter to define the exact set of APIs needed by the C# compiler and the cost of adding them? Thank you!

[2019-01-22 17:52] danmosemsft commented on #22108
`key` was null in `FindEntry`. `key` is `args.TimerId`  which comes from
[code]
where `wParam` becomes `TimerId`. If this is null then the WndProc pass passed a `wParam` of null for a `WM_TIMER` message.
[code]

We designate the timer id here
[code]
Docs for `::SetTimer` say

`Next()` returns an `int` which is cast to `IntPtr` so it seems impossible to result in `null`.

Timers repeat, the test wa

[2019-01-22 17:55] jkotas commented on #22128
@AndyAyersMS Are these numbers with Tiered JITing on - do the compute intensive benchmarks (crypto, GetMethod20) allow for the system to warm up and the Tiered JIT to kick in?

[2019-01-22 17:58] AndyAyersMS commented on #22128
I think these all still run with tiering disabled -- @jorive can confirm.

[2019-01-22 18:32] jkotas commented on #22128
I would primarily interested in cases where switch to R2R regressed perf and tiered JITing does not recover the regression. Do we have any cases like that? Those would be P1 to look into.

The regressions in compute intensive benchmarks with R2R and tiered JITing disable are P2. We can look at them to see whether it is something easy to fix, but we know that the R2R is not perfect by design. We ex

[2019-01-22 18:36] wfurt commented on #22124
Just to double-check: you tried both publishing self-contained app on windows as well as running the app with SDK on FreeBSD?
(and you installed dependency packages: `pkg install icu libunwind bash krb5 lttng-ust`)

you can try to set following variables
[code]

first three may make some difference, last one simply enables some diagnostic output and that may show something interesting.

Another op

[2019-01-22 18:39] jorive commented on #22128
I was looking at the script/configuration on how those results are measured. In this case, the tests run with ful_opt: `COMPlus_TieredCompilation=0`. It's set [here](https://github.com/dotnet/coreclr/blob/master/tests/scripts/run-xunit-perf.py#L460), and specified by the CI script [here](https://github.com/dotnet/coreclr/blob/master/perf.groovy#L34).
Currently, the performance micro benchmarks are

[2019-01-22 18:46] AndyAyersMS commented on #22079
### Promotion Blockers

As noted above `Range` is not promotable currently, as the jit will only do very limited forms of "recursive" struct promotion (struct with struct fields). The inner structs must themselves just have one field, that field must be the same size as the inner struct, the inner struct must be pointer sized or smaller, and be suitably aligned. The jit currently skips the alignme

[2019-01-22 18:46] jkotas commented on #22128
It means that we are not measuring the performance that our customers are going to see in default configuration. Do we have a plan/issue to fix this?

[2019-01-22 18:49] sergiy-k commented on #22128
+1. I was going to ask the same question as @jkotas. Was it intentional to turn Tiered JIT'ing off?
Regardless, I'll ask @fadimounir to take a look when he is back from vacation at least to understand the problem.

[2019-01-22 19:02] jorive commented on #22128
@jkotas essentially, micro benchmarks run multiple iterations within a loop, and discard the warmup iteration. Thus, most of them do not report tiering information. For tier jitting we use real-world scenarios such as JitBench/MusicStore.
But I agree we should be running the default configuration we are shipping, so feel free to open an issue or send a PR.

[2019-01-22 19:03] danmosemsft commented on #22108
Oh - `IntPtr` is a struct, it cannot be null.

Instead I think `timersSignalled` dictionary is corrupted. The test is not running on the WndProc thread, and the event handler is. They both read and write the dictionary. There is an Interlocked operation there but it is not protecting it.

@maryamariyan would you mind adding locking around access to the `timersSignaled` dictionary in the `Concurren

[2019-01-22 19:07] maryamariyan commented on #22108
@danmosemsft ok

[2019-01-22 19:21] mikedn commented on #22079
This seems easy to fix, that assignment could be transformed into two individual field assignments. I experimented with this kind of stuff in `LocalAddressVisitor` in the past.

[2019-01-22 19:30] ericstj commented on #22108
What @danmosemsft points out is correct.  When I wrote this originally I had the assumption that the dictionary would only get [written](https://github.com/dotnet/corefx/blob/e3ab2b0c9bc3bcbcedecb21c3c6d83ea5793a719/src/Microsoft.Win32.SystemEvents/tests/SystemEvents.CreateTimer.cs#L108-L111) before any handler was fired but that's not the case if CreateTimer takes some time and one of the handler

[2019-01-22 19:46] kouvel commented on #22123
Currently it prepares the tier 0 version of the code by either loading pregenerated code or by jitting it at tier 0. Tier 1 jitting happens in a background thread, so it would not occur in a constrained execution region. If the intention is to optimize the method as quickly as possible, it may be a better option to attribute the method with `[MethodImpl(MethodImplOptions.AggressiveOptimization)]`,

[2019-01-22 19:48] mikedn commented on #22079
Yeah, the promotion story is pretty weird. Some happens in `LocalAddressVisitor`, some in morph and neither is 100% right. I'm 99.99% convinced that it shouldn't happen in `LocalAddressVisitor` at all (see #20957) and I'm relatively sure that morph isn't a good place for promotion either, because it seems to interfere with local assertion propagation.

Fixing it properly needs quite a bit of work

[2019-01-22 20:03] AndyAyersMS opened #22130 "JIT: Index use can't be completely optimized away"
In the following example we'd like the jit to produce the same (or very similar code) for both `Fint` and `Findex`:
[code]
However currently the `Index` ctor won't inline (see #22079) and the IL is not jit-friendly. If we revise it and then force it to inline, we still see some codegen deficiencies:
[code]
Root cause is that `Index` uses an inverted (~negative) value to encode "from end" and the j

[2019-01-22 20:05] janvorli commented on #22092
I'll check that. I have not tried to use it on macOS before, I've only verified it on Linux.

[2019-01-22 20:08] pauldotknopf commented on #22063
What is the relation of libuv to ASP.NET Core 3? It looks like it isn't supported on QNX (See [here](https://github.com/libuv/libuv/issues/865)).

[2019-01-22 20:16] pauldotknopf commented on #22063
It looks like it isn't being used.

I created an MVC app using 2.2.103, published as self-contained, and all I see is this:

[code]

This looks good.

[2019-01-22 20:20] Suchiman commented on #22063
@paulbrittain as of ASP.NET Core 2.1, socket transport (implemented over System.Net.Sockets) replaces the libuv transport as default.

[2019-01-22 20:40] mikedn commented on #22079
Tried something in a hurry: https://github.com/mikedn/coreclr/commit/aa2ab9917728c75f124f5e0da414ed2906f724dc#diff-bd2d23afdb1936d1982f699f760429d2

It generates this:
[code]
There's still bad stuff to investigate but I'm not sure if I'll have time for this earlier than Friday.

[2019-01-22 20:46] benaadams commented on #22128
There was a regression in ASP.NET Core db benchmarks around the same time; but could just be coincidence? https://github.com/aspnet/Benchmarks/issues/607

![image](https://user-images.githubusercontent.com/1142958/51564263-adb0b200-1e86-11e9-885b-1cc1c8ad6964.png)

Didn't seem to effect the non-Db benchmarks

/cc @sebastienros

[2019-01-22 20:56] benaadams commented on #22128
Note ASP.NET Core took a while get a continuous updating runtime flow working, so its also a jump in versions between before and after (27219-3 => 27317-3) 😢

[2019-01-22 21:04] AndyAyersMS commented on #19209
This has failed for the past [19 weeks](https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_gcstress0xc_jitstress1_tst/19/testReport/junit/JIT_Regression/_CLR_x86_JIT_V2_0_Beta2_b399444_b399444b_b399444b_/_CLR_x86_JIT_V2_0_Beta2_b399444_b399444b_b399444b_sh/) (via cross checked)...

I can repro, so will start debugging.

A couple of odd thi

[2019-01-22 21:30] mdmoura commented on #21303
Any ETA for this fix? It seems it wasn't released with Asp.Net Core 2.2.1 patch.

[2019-01-22 21:40] jkoritzinsky commented on #22109
Looks like somewhere in the runtime isn't keeping the custom ALC alive and the GC is collecting it. Adding a `GC.KeepAlive(context)` at the end of the `RunInALC.Run` method makes the test pass.

[2019-01-22 21:43] weitzhandler opened #22132 "Cannot open project System.Private.CoreLib"
Hi,

I'm unable to open the project System.Private.CoreLib in VS 15.9.5.
When I try to do so, I get the following error:

[2019-01-22 22:09] jkotas commented on #22132
Build the repo from command line once first. It will open fine after that.

Would you be interested in submitting PR to improve the docs to make this clear?

[2019-01-22 22:16] janvorli commented on #22092
@AlexAtNet I've tried to build the plugin using the coreclr/diagnostics repo (which is the way to do that for the future and which allows you to use the plugin with the default macOS lldb) and the command works fine:
[code]

[2019-01-22 22:21] briansull commented on #21303
It is only shipping in 2.2.2

@vivmishra any ETA for 2.2.2 ?

[2019-01-22 22:23] ssougnez commented on #552
I read the whole post and I'm wondering how I could use this feature (and if I understood it correctly). From what I understood, this issue concerns the unloading of assemblies. For example, I load an assembly (that I generated on-the-fly using Roslyn) like this:

`AssemblyLoadContext.Default.LoadFromAssemblyPath(filename)`

How could I unload only this assembly from the context? From what I saw,

[2019-01-22 22:30] jkotas opened #22134 "Microbenchmarks should run with tiered JITing enabled"
From https://github.com/dotnet/coreclr/issues/22128#issuecomment-456513621

Microbenchmarks runs are done with tiered JITing disabled. It means that they are not measuring performance that our customers are going to see in the default configuration.

We should have microbenchmarks run with the default configuration (ie tiered JITing enabled).

[2019-01-22 22:30] jkotas commented on #22128
#22134

[2019-01-22 23:02] briansull commented on #21969
@RevensofT
The jmp opcode does not support the full set of possible call targets.
Instead it is recommended that you use the tail prefix opcode instead of using the jmp opcode.

[2019-01-22 23:35] erozenfeld commented on #19705
The code for the native function is:
[code]
so the sign extension in the stub is insufficient. al should be sign extended, bot eax.

[2019-01-22 23:41] erozenfeld commented on #19705
This is what VC compiler generates for a native caller:
[code]
[code]
Note the `al ` sign extension after the call to echo_short.

[2019-01-22 23:42] erozenfeld commented on #19705
I'm not sure if this behavior is documented anywhere but we should probably match it in the stub.

[2019-01-22 23:50] erozenfeld commented on #19705
Actually, it appears the problem is that the managed declaration
[code]
doesn't match the native one
[code]

[2019-01-22 23:51] erozenfeld commented on #19705
I'll fix the test and make sure things work correctly both for `byte` and `short` cases with matching managed/native declarations.

[2019-01-22 23:52] AndyAyersMS commented on #19209
Ok, figured one thing out. The `a` variant defines _65536 and so hits a type load exception (too many instance fields); `b` defines _65535 and so the type should be loadable.

Failure backtrace:
[code]
So we're stack walking at a GC stress breakin and the stack walk thinks there's a GS failure (a corrupted stack cookie).

[2019-01-22 23:55] camainc opened #22137 "Intermittent System.ExecutionEngineException with EF Core DBContext"
After updating the nuget packages in my solution, I started experiencing this error when starting a debug session. It happens almost every other time I start debugging.  The stack trace is empty, there is no inner exception, and the only thing I can do is stop execution and then restart the debugging session.

Exception message:

System.ExecutionEngineException
  HResult=0x80131506
  Message=Excep

[2019-01-23 00:14] kouvel commented on #22103
I haven't been able to build coreclr with VS 2019 yet, I'm probably missing some setup steps. Working around it for now by changing the static assert into a dynamic assert.

[2019-01-23 00:15] morganbr opened #22139 "Port Device Guard hardening"
.NET 4.7.2. included hardening for Device Guard systems when the [Dynamic Code Security](https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-application-control/use-windows-defender-application-control-with-dynamic-code-security) mode is enabled. This should be ported to Core.

In particular, loading assemblies from byte arrays should pass them to ```WldpQueryDynam

[2019-01-23 00:15] morganbr commented on #22139
CC @jeffschwMSFT

[2019-01-23 00:15] morganbr commented on #21370
CC @jeffschwMSFT

[2019-01-23 00:16] tmat opened #22140 "Support Edit and Continue in generic context"
Currently it is not possible to edit a generic method or add or update any method in a generic type.

Inability to apply edits in generic context is mainly limitation of the runtime. The compiler is capable of emitting the correct IL delta. The debugger also might need some work.

Limitations like this result in decreased productivity and thus dissatisfaction of customers that use EnC for fixing i

[2019-01-23 00:17] tmat commented on #16023
@noahfalk Filed https://github.com/dotnet/coreclr/issues/22140 on generics.

[2019-01-23 01:01] AndyAyersMS commented on #19209
Possibly related fact: unwind info for this method gets broken into two chunks. one covering from 0 to 0xFFFFC, the other from 0xFFFFC to 0x1ABFD0. So the offset at which GC is happening is right at this boundary.

[2019-01-23 01:05] weitzhandler commented on #22132
That worked. Thank you!

First of all, once this issue is around, people might bump into it in the future and benefit from it. But I wouldn't mind updating the docs, it's just that I'm not sure where in the docs this should be addressed.

[2019-01-23 01:05] #22132 closed

[2019-01-23 01:53] albahari commented on #21609
I'm trying Process Monitor at the moment and waiting for a repro. I can try windbg, but that's a last resort - I need to use the VS debugger because I'm actively developing the product. (On a related point, it would be great if VS 2019 could automatically debug child processes - I'm finding it a huge pain debugging LINQPad for .NET Core. Because there are no AppDomains, I have to start child proce

[2019-01-23 01:53] VincentBu opened #22142 "[arm] Failed to build Managed tests build in arm_cross_release_ubuntu"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/arm_cross_release_ubuntu/909/

**Log:**
[code]

[2019-01-23 02:47] jkotas commented on #21609
There is extension for this: https://marketplace.visualstudio.com/items?itemName=vsdbgplat.MicrosoftChildProcessDebuggingPowerTool

[2019-01-23 05:54] wfurt commented on #22124
thanks. I did upgrade one of my systems and I can reproduce it easily. It seems like some problem with threading/locking. I don't know if this is binary compatibility or if it is related to some OS changes in 12.
I think next step would be getting PAL tests executed.
As the release happened mid December, we currently don't have any systems running 12.0.

[2019-01-23 06:58] mikedn commented on #22079
Those stack stores are probably caused by variables still being not enregistered. I'll have to check but I'm pretty sure that `fgMorphLocalField` will mark variables as "do not enregister" when encountering such `GT_LCL_FLD` nodes. That happens in preorder so the change I'm doing in postorder is only partially useful. The way this works now is a leftover from the old local address taken code, it s

[2019-01-23 09:00] joperator commented on #22124
Yes, I've published a self-contained app on Windows and tried to run it on FreeBSD, as well as tried to publish the app on FreeBSD again.
After setting the variables as described by @wfurt I got the output and trace similar to the one @hjc4869 had already posted.
Thanks for investigating.

[2019-01-23 10:23] Outruller commented on #10605
Would vote for Arm6 support also. +1

[2019-01-23 10:41] kenfullscale commented on #22066
I already fix this issue.

[2019-01-23 10:41] #22066 closed

[2019-01-23 11:58] AndyAyersMS commented on #19209
Think what may be happening here is that when offset reaches 0xFFFFC the unwinder looks at the wrong unwind data segment and so doesn't properly recover the register state.
[code]

[2019-01-23 12:19] Rohansi commented on #552
@Suriman Compared to using AppDomains like you would in .NET Framework, no, I wouldn't say there's a performance penalty. There's no `MarshalByRefObject` so all calls are made directly.

There should be a few small differences for collectible assemblies though. Inlining code between two contexts should not be possible but you would probably be using an interface or reflection to call these methods

[2019-01-23 15:41] filipnavara opened #22150 "Incorrect usage of wcscpy_s"
https://lgtm.com/projects/g/dotnet/coreclr/alerts/?mode=tree&severity=error&ruleFocus=2152910697

[code]

... and three others.

/cc @calumgrant

[2019-01-23 15:44] caozhiyuan opened #22151 "[profiler api] Get corHeader->EntryPointToken app crash on linux , windows ok."
[code]
when exe dll, get EntryPointToken app crash.
https://github.com/caozhiyuan/clr-samples/blob/master/ProfilingAPI/ClrProfiler/CorProfiler.cpp#L403

[2019-01-23 15:46] caozhiyuan commented on #22151
VirtualAddress is same with windows , but get corHeader->EntryPointToken app crashed.
@noahfalk can give a help?

[2019-01-23 16:04] RussKeldorph commented on #22150
@wtgodbe @janvorli

[2019-01-23 16:33] RussKeldorph commented on #22125
I wonder if this could be due to additional pressure from the new CI systems.  @echesakovMSFT and @safern Could we disable the Jenkins submissions to the OSX queues in favor of the new CI like we did for ARM(64)?

@mattgal @mmitche

[2019-01-23 16:41] RussKeldorph commented on #22137
This issue was moved to aspnet/EntityFrameworkCore#14495

[2019-01-23 16:51] MattGal commented on #22125
The first two are "normal" failures simply indicating that a pattern of Xunit test results were expected to be found and weren't.  Perhaps the result file names got changed?

[code]

The third does appear to be a network hangup issue, not with Helix machines but somewhere in Java code:
[code]

[2019-01-23 17:09] RussKeldorph commented on #22142
Looks like a spurious failure, like msbuild died maybe.

[2019-01-23 17:45] ajcvickers commented on #22137
@RussKeldorph See https://github.com/aspnet/EntityFrameworkCore/issues/14487 If there is something more that we can do here on the EF side, then please let us know.

[2019-01-23 18:12] #21935 closed

[2019-01-23 18:20] RussKeldorph commented on #22137
@camainc Sorry, there was no reference to the EF issue so I assumed you had come straight here.  We may not be able to help without the ability to reproduce it.  @dotnet/dotnet-diag may have more specific advice.

[2019-01-23 18:34] #22069 closed

[2019-01-23 18:38] jeffschwMSFT commented on #22098
Closing in favor of dotnet/corefx#25157

[2019-01-23 18:38] #22098 closed

[2019-01-23 19:18] RussKeldorph commented on #18872
@dotnet/jit-contrib

[2019-01-23 19:32] #19705 closed

[2019-01-23 19:32] sandreenko opened #22159 "Stress test for EEShutDownHelper fails with StackOverflow."
When the issue from #21145 happens the main thread always shows that it is running `pThisThread->CoUninitialize();` from `EEShutDownHelper`, so instead of running in thousand times to repro let's add a sleep before and after this call:
https://github.com/sandreenko/coreclr/commit/ae98ecedf7c4956b9d2c9695a98c3b3543d213c3

Now if you run any test with this change you will see:
[code]

and under debu

[2019-01-23 19:32] #22026 closed

[2019-01-23 20:01] camainc commented on #22137
I just wonder if it has anything to do with dependency injection.

[2019-01-23 20:13] AndyAyersMS commented on #19209
Arm64 unwind info allows 18 bits for length; each instr is 4 bytes, so total span is 2^20 bytes. So for longer functions multiple unwind records are needed. But only one will describe the prolog and hence the way to recover saved registoers.

Guessing maybe `EEJitManager::LazyGetFunctionEntry` needs to be aware of these "Function Fragment" unwind records, and if the control PC lies within a fragme

[2019-01-23 21:06] AndyAyersMS opened #22163 "SOS needs to request DECODE_HAS_TAILCALLS for arm and arm64 gc info"
Checked SOS hits an assert dumping GC info when running on arm64 because it doesn't pass the right unwind decode flags. This may also cause issues in release, though I haven't tried it. There should be similar issues on arm.
[code]

cc @BruceForstall

Bruce suggests perhaps just enabling all decode options instead of trying to match what each target arch uses.

[2019-01-23 21:07] janvorli commented on #19209
@AndyAyersMS let me take a look.

[2019-01-23 21:17] AndyAyersMS commented on #19209
Here's what I'm trying: [Arm64FunctionFragmentFix](https://github.com/dotnet/coreclr/compare/master...AndyAyersMS:Arm64FunctionFragmentFix).

[2019-01-23 21:34] BruceForstall commented on #19209
Note that we have the same function fragment stuff in arm32, and I remember the fragments there are smaller, so it's possible there's some code for arm32 that needs to be enabled for arm64, or perhaps the bug exists on arm32 as well.

[2019-01-23 21:35] janvorli commented on #19209
The fix should rather be in the unwinder code. Looking at the Windows unwinder source, it seems it has been updated to support this scenario since we've ported its sources to coreclr.

The unwind now first checks if the UnwindType = (FunctionEntry->UnwindData & 3) is 3 and in case it is, it gets the parent record. The comment says:
[code]
The unwind code we have in coreclr just fails when the unwi

[2019-01-23 21:46] BruceForstall commented on #19209
Shouldn't EEJitManager::LazyGetFunctionEntry call IJitManager::GetFuncletStartAddress to find the "host" record for the function/funclet?

[2019-01-23 21:47] AndyAyersMS commented on #19209
The only thing I see us doing is setting the `F` bit (and perhaps not properly for arm64, maybe this is the bug?)

https://github.com/dotnet/coreclr/blob/a0f81f59a7beb7120d3147c1547ef8ec1f05e0ae/src/jit/unwindarm.cpp#L1492-L1496

[2019-01-23 21:50] AndyAyersMS commented on #19209
Thought of that, but `GetFuncletStartAddress` will recurse back to `LazyGetFunctionEntry`. Also perhaps this is not the actual bug...

I'd need to read up on unwind, but chained unwind and fragment unwind are perhaps two different concepts?

[2019-01-23 21:51] janvorli commented on #19209
I would like to keep the unwinding in line with what Windows does, as we do it the same way for e.g. amd64. So I really want to have the parent record lookup inside the unwinder and pass it function entry that belongs to the actual address.

[2019-01-23 21:53] lambdageek opened #22165 "Is this MethodImpl table behaving as intended?"
This was brought up as an [issue for Mono](https://github.com/mono/mono/issues/12582), and I was curious if the .NET Core behavior here is surprising to you, or if everything is working as intended.

## Reproduction steps ##
1. Save the following as `override.il`
[code]
and `override.runtimeconfig.json`
[code]
2. `ilasm override.il`  to produce `override.exe`
3. `dotnet ./override.exe`

## Actual

[2019-01-23 22:11] AndyAyersMS commented on #19209
Did a bit of reading. Looks like there is no `F` bit for ARM64; that is just for ARM. The logic in `IsFunctionFragment` tells if this is a fragment record with a phantom prolog, in which case one must look elsewhere for the real prolog information.

Also chained unwind (for split or shrink-wrapped regions) and fragmented unwind (for large methods) are described by the same mechanisms.

So at this

[2019-01-23 22:15] BruceForstall commented on #19209
The JIT never generates the "packed unwind data" format, which means that (FunctionData->UnwindData & 3) should always be zero. Note that the VM fills out the RUNTIME_FUNCTION entry when the JIT returns the generated unwind codes.

If the unwind spec changed since this was implemented, and (FunctionData->UnwindData & 3) means something besides (1) zero means Exception info RVA, and (2) non-zero me

[2019-01-23 22:17] #21969 closed

[2019-01-23 22:17] janvorli commented on #19209
No, it isn't

It uses the same unwinder we use for Unix (where we use it for both debugger and managed code unwinding)

Yes, that's what I was trying to point out. Value 3 now means chained unwind records (for both compact and full unwind). The parent record never contains 3 there.

[2019-01-23 22:20] BruceForstall commented on #19209
@AndyAyersMS The JIT has COMPlus_JitSplitFunctionSize which you can set to some (small-ish) value to force creating more fragments. We should probably add some testing of this to the JIT stress mix.

See UnwindInfo::Split(). It has the "helpful" comment (you're welcome):
[code]
:-)

[2019-01-23 22:23] AndyAyersMS commented on #19209
Saw that comment....

Yes enabling some kind of split stress seems prudent to force us down these paths more often and with more variety. It is somewhat of painful to work with huge methods (the jit dump was 1.7GB).

[2019-01-23 22:24] BruceForstall commented on #19209
@janvorli The published arm64 unwind spec doesn't seem to mention what you're describing: https://docs.microsoft.com/en-us/cpp/build/arm64-exception-handling?view=vs-2017.
[code]

[2019-01-23 22:31] janvorli commented on #19209
@BruceForstall the Windows unwinder is handling it that way, so I guess the doc is out of date.

[2019-01-23 22:36] noahfalk commented on #22137
What would be most helpful to debug this is to capture a dump of the debuggee prior to continuing from that exception/killing the debuggee. If you are using Visual Studio you should be able to capture the dump via the Debug menu > Save Dump As. Once you have that dump just share it with us and we can investigate what may be going wrong.

[2019-01-23 22:39] AndyAyersMS opened #22169 "Enable stress testing for fragmented unwind"
We should create a stress mode (or mixin for jit stress) where the jit intentionally produces fragmented unwind even for small methods (for arm/arm64).

This can leverage `COMPlus_JitSplitFunctionSize`.

See commentary over in #19209.

cc @BruceForstall @dotnet/jit-contrib

[2019-01-23 23:00] camainc commented on #22137
[https://1drv.ms/u/s!AucEIaq2vxfqoel-LXOwxmLPgLaNyA](url)

[2019-01-23 23:02] sandreenko opened #22170 "[Windows] GC\API\GC\Collect0 fails with GCStress=0xc"
It started to fail in different jobs ([x86_gcstess0xc_zapdisable](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_gcstress0xc_zapdisable/112/testReport/junit/GC_API/_GC_Collect0_Collect0_/_GC_Collect0_Collect0_cmd/), or [x64_gcstress0xc](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_gcstress0xc/125/testReport/jun

[2019-01-24 00:00] BruceForstall commented on #22163
@AndyAyersMS Since you have a repro environment for this, is there any chance you can fix this? @mikem8361 isn't set up for arm64 currently.

[2019-01-24 01:01] jkoritzinsky opened #22174 "Collectible AssemblyLoadContext sometimes released when not directly referenced in managed code but still in use."
Sometimes, it is possible for a collectible ALC to be GC'd and not finalized while it is still in use. On x86, with the following environment flags, the Interop/ICustomMarshaler/ConflictingNames/MultipleALCs test will fail when trying to get a `Type` from an `Assembly` that was loaded from an unloadable ALC. It seems that the managed ALC object is collected but not finalized after the call to `Ass

[2019-01-24 01:02] #22109 closed

[2019-01-24 01:30] drungrin commented on #20616
A workaround is to use `ignoreCase: false`. In my case it is unnecessary and fixed while you guys release the real solution.

[2019-01-24 01:39] sandreenko commented on #22170
I think that it could be introduced by #21782, @janvorli , @Maoni0 could you please take a look?

I was not able to repro it locally but I saw this test failed in many legs.

[2019-01-24 02:00] janvorli commented on #22077
On my RPI3, the test suite mentioned above also completes significantly faster with arm32 Linux than with arm64 Linux, although the difference is smaller:
[code]

[2019-01-24 02:09] #22110 closed

[2019-01-24 02:09] janvorli commented on #22077
Although, I've just realized that the 64 bit linux I was testing uses older kernel 4.9.10 while the 32 bit uses kernel 4.14.71 and we have recently switched to implementing FlushProcessWriteBuffers using membarrier syscall on kernels >= 4.14, so it might contribute to the difference a bit too.

[2019-01-24 02:12] noahfalk commented on #22137
Thanks @camainc ! I've started investigating and I see likely chain of things going wrong, I don't have a root cause yet but making progress. So far I can't find any obvious connection between using the debugger and this failure. It could be that connection is subtle and we haven't dug deep enough yet, but if you are able to reproduce this failure without the debugger please let me know. Also if t