[2019-03-06 00:05] sandreenko opened #23045 "pmi-diff jobs fail because of the wrong folder path."
[ci example](https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_windows_nt_pmi_asm_diffs_prtest/17/consoleFull#-410211996a086b3e-df04-41d2-bc4d-43e8f9406d07)

We run them like:
[code]
the second command expects diffs to be in `%WORKSPACE%\_\pmi\asm` but it was changed by #20812
that deleted this code:
[code]
that was creating this folder, so now diffs are in `%WORKSPACE%`.

Probably

[2019-03-06 00:22] vkvenkat commented on #22961
@janvorli I tried `GetSystemInfo(&sysInfo)` on Linux and `sysInfo.dwNumberOfProcessors` always returns the total cores on the machine, even when the cores are limited using taskset. So this won't fix the heaps when the cores are limited to 0-24 on Linux. Also `sysInfo.dwActiveProcessorMask` is undefined for Linux. Should we change the behavior of `GetProcessAffinityMask` to mimic Windows & get a n

[2019-03-06 00:43] AndyAyersMS commented on #23039
I'll take a look.

[2019-03-06 00:48] janvorli commented on #22961
Yes, that's why I've corrected myself above that the solution would need to be different.

As for changing the GetProcessAffinityMask behavior for Unix, I was hesitant to deviate the behavior from Windows by returning the mask even if it spanned multiple NUMA nodes and wanted to fix the GetCurrentProcessCpuCount instead to reflect the number of CPUs assigned to a process (so that it would reflect

[2019-03-06 00:51] philippemercure opened #23049 "ToString Hour Not Working According To Spec"
You can try this code in try.net.code

TLTR : DateTime.ToString("h"), not working ; DateTime.ToString("h "), working

using System;
using System.Collections.Generic;
using System.Linq;

public class Program
{
  public static void Main()
  {
    var dateTime = DateTime.Now; // 12:43:20 AM

    // All Working In Complexe Format
    Console.WriteLine("DateTime: " + dateTime.ToString("hh:mm:ss tt"));

[2019-03-06 01:12] sandreenko opened #23050 "CoreFX stress build doesn't work"
[ci example](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_windows_nt_corefx_baseline_bld_prtest/8/consoleFull#-410211996a086b3e-df04-41d2-bc4d-43e8f9406d07)

`python -u %WORKSPACE%\tests\scripts\run-corefx-tests.py -arch arm64 -ci_arch arm64 -build_type Checked -fx_root %WORKSPACE%\_\fx -fx_branch master -env_script %WORKSPACE%\SetStressModes.bat -no_run_t

[2019-03-06 01:21] AndyAyersMS commented on #23039
Assertion prop is unhappy seeing `isinst` on a null reference:
[code]

[2019-03-06 01:23] danmosemsft commented on #23042
@AaronRobinsonMSFT yes - the recommended way is to use https://github-issue-mover.appspot.com. It is "approved" for these repos.

[2019-03-06 01:31] cshung commented on #23040
Fixed with commit https://github.com/dotnet/coreclr/commit/ffcdabd7735d6860dec361d1efde20be4cf89b8f

[2019-03-06 01:31] #23040 closed

[2019-03-06 01:32] cshung commented on #23037
Fixed with commit https://github.com/dotnet/coreclr/commit/a20e3d04343d47326e3c0789802890bc3f0c522c

[2019-03-06 01:32] #23037 closed

[2019-03-06 01:33] CarolEidt commented on #22850
Thanks! I am now able to reproduce it. It hadn't occurred to me to try a Debug build.

This issue can occur with a ref argument as well as `this`. I believe I have a fix (and a repro that fails both Checked/Debug and Windows/Linux).

[2019-03-06 01:38] tarekgh commented on #21688
@dancrn any news?

[2019-03-06 01:52] sandreenko commented on #22990
I will take a look.
cc @dotnet/jit-contrib

[2019-03-06 02:18] AndyAyersMS commented on #23039
Think maybe AP is confused about the order of helper args for `isinst` and similar, it is:
[code]
Either one can be a local or a constant.

[2019-03-06 03:43] AndyAyersMS commented on #23039
Ah, the issue is that assertion prop is looking at late args and these may be shuffled.

[2019-03-06 03:44] BruceForstall commented on #23050
Dup of https://github.com/dotnet/coreclr/issues/23016?

[2019-03-06 03:51] stephentoub commented on #23049
While a bit strange, this is actually by design and documented:
https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings#the-h-custom-format-specifier
"If the "h" format specifier is used without other custom format specifiers, it is interpreted as a standard date and time format specifier and throws a FormatException."

The same applies to other format speci

[2019-03-06 05:08] sandreenko commented on #23050
Yes, thank you, have not seen it.

[2019-03-06 05:08] #23050 closed

[2019-03-06 06:28] sywhang opened #23055 "Add new EventCounter APIs"
This is part of #20372 - Design of the new APIs live here: https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/event-counter.md.

I'm also using this issue to track testing for these APIs:

- [x] PollingCounter test
- [ ] IncrementingEventCounter test
- [ ] IncrementingPollingCounter test

[2019-03-06 06:49] #20232 closed

[2019-03-06 08:21] AndyAyersMS commented on #22820
@janvorli @ayende @arekpalinski would be great if you could verify the fix if possible...

[2019-03-06 09:16] janvorli commented on #22820
@AndyAyersMS I will.

[2019-03-06 10:19] janvorli commented on #22961
Actually, I still have a couple of questions about such solution. My understanding is that GC expects that in case the CPU groups are not enabled, the process is running on a single NUMA node. And the mask returned from the GetProcessAffinityMask matches that based on the tables shared by @vkvenkat in #22861, as the "start /affinity" culls the processor list specified so that only processors from

[2019-03-06 12:46] vip32 commented on #21379
Note that this boilerplate is no longer necessary in Preview 2 (ie. using preview2 versions of the compiler/VS and of Core

[2019-03-06 13:57] philippemercure commented on #23049
I would have understand this behaviour if the h format was use as a "Standard Date and Time Format Strings" but it is not. Is it because of optimisation that the "h" format is interpreted this way when it is pass alone. I have a UseCase that would require to only have the hour of a DateTime in a UI. I'm generating the string for the display DateTime in the backend according to the user language an

[2019-03-06 13:59] arekpalinski commented on #22820
@AndyAyersMS
I've compiled CoreCLR 2.1.8 with #23044 fix and tried it on our x64 instance (as I noticed this comment in your PR: https://github.com/dotnet/coreclr/pull/23044#issuecomment-469923643). It's still throwing AVE so it looks like what we experience on x64 is something different.

I've tried the same (CoreCLR 2.1.8 with #23044) on x86 and run the original repro reported by @ayende here -

[2019-03-06 15:58] janvorli commented on #22820
@arekpalinski can you please try with `COMPlus_HeapVerify=3`?

[2019-03-06 16:06] BruceForstall commented on #23016
@adiaaida Any update on this?

[2019-03-06 16:12] BruceForstall opened #23059 "Assertion failed '(varDsc->lvIsParam && !varDsc->lvIsRegArg) || isPrespilledArg'"
40 tests fail with this assert.

https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_jitx86hwintrinsicnosimd/384/consoleFull

e.g.,
[code]

with:
[code]

[2019-03-06 16:12] BruceForstall commented on #23059
@fiigii @tannergooding @CarolEidt

[2019-03-06 16:15] AndyAyersMS commented on #22004
Also run 62...

Let me see if I can repro this.

[2019-03-06 16:37] adamsitnik opened #23060 "[Tiered JIT] Possible performance regression with StringBuilder benchmark"
Following benchmark from the [dotnet/performance](https://github.com/dotnet/performance/blob/600568379660291f92562b6a0bcc37f6973d09f4/src/benchmarks/micro/corefx/System.Runtime/Perf.StringBuilder.cs#L141-L150) repo has most probably exposed a performance regression introduced by Tiered JIT:

[code]

[code]

|       Method |     Mean | Gen 0/1k Op | Gen 1/1k Op | Gen 2/1k Op | Allocated Memory/Op |

[2019-03-06 17:05] adiaaida commented on #23016
I was hoping to hear back from @tmat, but since he hasn't responded, I'll just update the package creation side.

[2019-03-06 17:11] tmat commented on #23016
`OptimizationDir\**\assemblyname.assemblyextension\*.ibc` is how it's intended.

[2019-03-06 17:35] adiaaida commented on #23016
Sounds good. I've got [this PR](https://dev.azure.com/dnceng/internal/_git/dotnet-optimization/pullrequest/588?_a=overview) out for the optimization repo change. Waiting for @brianrob to approve.

[2019-03-06 17:37] adiaaida commented on #23016
I'll be honest, I'm also a little surprised we are seeing this here, as I didn't think these jobs pulled down IBCMerge in the first place. Without IBCMerge, the copy step shouldn't even be triggered, unless I'm missing something.

[2019-03-06 17:57] AndyAyersMS commented on #22004
No, can't repro. So will close.

[2019-03-06 17:57] #22004 closed

[2019-03-06 18:02] AndyAyersMS commented on #22345
Recent rolling runs have been blocked by the stress package RID issue, which should be fixed by #23004.

So will trigger the rolling run.

[2019-03-06 18:03] AndyAyersMS commented on #22345
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_ubuntu_gcstress0xc_jitstress1_flow/125/

[2019-03-06 18:07] #22815 closed

[2019-03-06 18:14] #23039 closed

[2019-03-06 18:19] AndyAyersMS commented on #20721
I'll take a look.

[2019-03-06 18:23] #22855 closed

[2019-03-06 18:25] mikedn commented on #20721
Oops, I completely forgot about this. I think I fixed it back then but never made a PR for it, if only I can find the branch...

[2019-03-06 18:32] adiaaida commented on #23016
Change has been checked in. Once the CI is done we will have new packages with the correct directory structure.

Put out https://github.com/dotnet/coreclr/pull/23063 to update coreclr code to match since we don't yet use arcade for this in coreclr yet.

[2019-03-06 18:34] AndyAyersMS commented on #20721
Great, let me know.

I wonder if we have access to any arm64 HW where atomics are supported?

[2019-03-06 18:38] mikedn commented on #20721
I certainly don't have access to such HW. I just check if the emitted bytes match the instruction encoding from manuals.

I found my fix, I simple added `ldaddal` to `emitInsTargetRegSize`. I'll take another look and send a PR later today, no point in wasting your time with this.

[2019-03-06 18:40] JamesNK opened #23064 "Support 24:00 in hh:mm for ISO8061 dates"
A time of 24:00 is a valid in ISO8061 dates.

https://en.wikipedia.org/wiki/ISO_8601

[code]

[code]

Should be fixed in DateTimeOffset.Parse/DateTime.Parse and new Utf8Parser API.

[2019-03-06 18:47] fadimounir commented on #10545
There are no changes planned here so far. We typically use the /out to specify output file names as @jkotas  explained.
I think we should probably change the output extension to be the same as the input file. That would be a reasonable change.
Anyways, the typical way we use crossgen is to specify the /out parameter, and replace the input file with the output file created by crossgen.

[2019-03-06 19:05] tannergooding commented on #23059
This first failed in job 383 which was commit `04fed62`. Job 382 also failed, but due to other reasons and was commit `9d3f264`.

[2019-03-06 19:06] tannergooding commented on #23059
The list of new commits tested in job 383 are the following (which means one of them is the likely culprit for the regression):
* Fix condition for calling EvalArgsToTemps (commit: 30996b8) (detail / githubweb)
* Update dependencies from https://github.com/dotnet/core-setup build (commit: 8409f2a) (detail / githubweb)
* Move EEClassLayoutInfo::CollectLayoutFieldMetadataThrowing to class.cpp (commi

[2019-03-06 19:07] tannergooding commented on #23059
I am working on bisecting these commits to determine which was the actual cause of failure.

[2019-03-06 19:15] jashook opened #23065 "[Windows|x64] baseservices.threading\\waithandle\\waitany\\waitanyex4 official build test failure"
[code]

[2019-03-06 19:15] #23065 closed

[2019-03-06 19:16] jashook commented on #23065
Dup of https://github.com/dotnet/coreclr/issues/14249

[2019-03-06 19:28] cshung opened #23066 "Filter keywords are silently dropped when the provider name is '*'"
If I write my own EventSource class as follow:
[code]

and then enable all event providers using `Providers=Simple-Event-Source:0xFFFFFFFFFFFFFFFF:5:TestFilterKey1=TestFilterValue1;TestFilterKey2=TestFilterValue2`

My expectation is that I will get my `TestFilterKey1` and `TestFilterKey2` in my `OnEventCommand`, but I am getting nothing instead.

The culprit seems to be [here](https://github.com/d

[2019-03-06 19:38] AndyAyersMS commented on #20937
Putting in 3.0 for now ... I will look into enable boxing-related opts in Tier0.

[2019-03-06 19:42] AndyAyersMS commented on #22874
@LadislavLang this is fixed in 3.0, and we don't plan on fixing the preview bits ... can we close this issue?

[2019-03-06 19:47] sandreenko commented on #22990
@peppy looks like I can't repro it. The app doesn't crash, is it a stable issue?

Also the app looks strange, some symbols are not shown (on both master with 2.2 and your branch with  3.0.100-preview-010184), for example I see "lay" (instead of "play"), "e it" ("exit"), " ack" ("back"). Is it a known issue? I run it on mac mini with Sierra 10.12.6.

Have you tried to run your branch with last prev

[2019-03-06 19:49] AaronRobinsonMSFT commented on #23042
@ericstj, @jkotas, or @danmosemsft  Do any of you have a suggestion on what could better convey the issue to the user?

Is technically the issue and

is some implementation detail about what the `ComVisible` attribute implies. I am struggling to come up with a message that could convey the issue in an actionable way by the user. Suggestions are welcome.

[2019-03-06 19:50] hoyosjs commented on #23066
CC @vancem

[2019-03-06 19:53] danmosemsft commented on #23042
Can the message include the name of the type ("this type") and name of the problematic "parent"?

We can also, if it's helpful, add a fwlink to some documentation that explains what to do. It's pretty ugly but there is precedent. Usually folks just search for the message string or error code.

eg
[code]

[2019-03-06 19:53] cshung opened #23069 "Private method on EventSource failed manifest construction"
If I write an EventSource like this (Notice the intentionally omitted `[NonEvent]` attribute):
[code]

The code just silently fails to log any messages to the event pipe.

If we debug it - we get this line in output debug strings:

[code]

It is still fairly useless for me to diagnose what's wrong with my EventSource code. Ideally, this should just pass. If we have to make sure private methods doe

[2019-03-06 20:01] jorive commented on #23069
/cc @vancem

[2019-03-06 20:09] AaronRobinsonMSFT commented on #23042
Including the current type is possible. Getting at the parent is going to require a bit more work. We use a flag that was set to indicate some base class isn't visible. This means we would need to walk the hierarchy again, not impossible just annoying.

I guess it is the right thing to do so I will do it. Thanks for the suggestion.

[2019-03-06 20:17] davmason commented on #22278
This has been the behavior for a very long time, if not the entire history of the CLR. Closing this issue because it is not impacting anyone I know of.

[2019-03-06 20:17] #22278 closed

[2019-03-06 20:25] redknightlois opened #23071 "Suboptimal code patterns when using Unsafe methods + intrinsics"
Micro-optimizing a particular piece of code I found suboptimal codegen introduced by the signature of the Unsafe class design that could be fixed by the JIT.

Say that I need to read data from 2 different memory locations where offset is an `int`

[code]

Now you can see that it is performing 2 times the same operation.

[code]

This has been solved (somehow) for AVX2 but it also introduce another

[2019-03-06 20:27] tannergooding commented on #23071
Is this a scenario where you aren't or can't pin the underlying data?_

[2019-03-06 20:31] redknightlois commented on #23071
I can write this code to work entirely pointer based, but I was tasked into looking into potential improvements for `SequenceCompareTo` as it is core to our workload and we are looking to not having to maintain our own memory compare routines :)

Ben's version is using this method of accessing the data, so I presume there is a reason why he is not pinning it.

[2019-03-06 20:33] tannergooding commented on #23059
@CarolEidt, looks like this failure is caused by https://github.com/dotnet/coreclr/pull/22791

[2019-03-06 20:37] tannergooding commented on #23059
This requires both `TieredCompilation=0` and `FeatureSIMD=0` to reproduce.

[2019-03-06 20:40] redknightlois commented on #23071
Well apparently converting the `int` into `long` would get rid of most of the issues.

![image](https://user-images.githubusercontent.com/1045411/53911999-b45e4780-4036-11e9-8246-ca738b20bf92.png)

So the issue is caused by the JIT not registering over the codepath that it can promote the `int` value into `long` early and forget about it afterwards.

[2019-03-06 20:47] briansull commented on #21231
Fixed with PR #21231

[2019-03-06 20:49] tannergooding commented on #23071
I wonder if exposing `LoadVector128(ref T)` overloads (in addition to the `LoadVector128(T*)` overloads) would help here. We had originally only exposed the pointer overloads because:
1. It was thought that most code using intrinsics would be operating on larger data
2. It was thought that most code using intrinsics would therefore pin the data, to ensure cache-locality, alignment, etc
3. It was t

[2019-03-06 20:54] redknightlois commented on #23071
The other issue appears to be related to https://github.com/dotnet/coreclr/issues/19521. I have code to test it when it is fixed :) cc @CarolEidt

[2019-03-06 21:10] CarolEidt commented on #23059
@tannergooding - thanks for narrowing this down! I'll look at it.

[2019-03-06 21:45] arekpalinski commented on #22820
@janvorli @AndyAyersMS
I somehow overlooked that the the stacktrace of Access Violation is _different_ when I run CoreCLR 2.1.8 with #23044 on our x64 instance.

[code]

[code]

[code]

The source of AV is our code and heap is not corrupted now. Hopefully we should be able to figure it out.

[2019-03-06 21:52] mikem8361 commented on #19722
I not sure where buildbootstrapcli.sh is to test this. Couldn't find it in the coreclr repo.

[2019-03-06 22:16] filipnavara commented on #20001
I tried to reproduce the issue again without success. I came to the conclusion that my previous setup must have been broken and had a mismatched CoreLib and CoreCLR debug/release builds. With debug CoreLib the assert would be present, but release CoreCLR wouldn't put in the necessary data for the assert to fire correctly. Thanks for all the help with this!

[2019-03-06 22:20] BruceForstall commented on #22057
Actually, it needs to be <=504 so prolog pre-index STP and epilog post-index LDP can match unwind codes.

[2019-03-06 22:24] BruceForstall commented on #22476
This is actually correct, as LDP with positive offset (used in genEpilogRestoreRegPair) has maximum offset 504, whereas STP with negative offset (used in genPrologSaveRegPair) has minimum offset -512 (it's asymmetric). However, if we want prologs/epilogs to match, genPrologSaveRegPair() should be called with offset>=-504.

[2019-03-06 23:01] AndyAyersMS commented on #21231
So this test case didn't hit the assert, but still ended up with bad code?

I think we should add the code above as a regression test.

[2019-03-06 23:15] briansull commented on #21231
OK will add

[2019-03-06 23:27] chcosta opened #23081 "Remove signing workaround of crossgen assemblies"
This should no longer be necessary with a new version of Arcade SDK - https://github.com/dotnet/coreclr/blob/7d6d1eaa02c46cdabde9bef8a3f08cd58775bc08/eng/Versions.props#L26-L28

https://github.com/dotnet/arcade/pull/2079 fixed this

/cc @hoyosjs @RussKeldorph

[2019-03-06 23:41] hoyosjs commented on #23081
We haven't been able to consume a more recent version of the SDK's. Helix fails on Mac for us right now starting `2.0.0-beta.19151.5`, where Mac agents cant find the payload. I asked alex and he didn't see something off the bat, but I didn't continue investigating.

[2019-03-06 23:42] hoyosjs commented on #23081
Once I get that in I'll take a look at removing this piece and test all works as expected.

[2019-03-06 23:42] cshung opened #23083 "Config file validation"
In general, input validation is weak, the earlier we can block bad input, the more reliable the system is.

- [ ] Handle if a key is specified is not in the set of expected set
- [ ] Handle if the specified provider value is invalid (according to the provider grammar)
- [ ] Handle if the specified output path does not exist.
- [ ] Handle if the specified circularMB is not a positive number (showin

[2019-03-06 23:43] cshung commented on #23083
CC @vancem

[2019-03-06 23:59] AaronRobinsonMSFT commented on #23042
@ericstj I don't think your small example fails anymore. I am not entirely sure why it doesn't, but I can't get it to fail with the latest Core 3.0 preview.

[2019-03-07 00:05] jorive commented on #23083
One way to deal with internal errors, and provide a way to surface it to the clients could be to create an event that can be seen by an event listener.
Another way could be to provide a way to register a callback/event to "EventSource"?

[2019-03-07 00:07] ericstj commented on #23042
We worked around that specific case in WPF by making it do the same thing WinForms was doing. https://devdiv.visualstudio.com/DevDiv/_git/DotNet-Trusted/commit/78579857c2a7226db1e08d3c8b818bc9f83aa149?refName=refs%2Fheads%2Fmaster&_a=compare&path=%2Fsrc%2FWPF%2Fsrc%2FPresentationCore%2FCSharp%2FSystem%2FWindows%2Fclipboard.cs

You'll need to construct a different repro to test this, sorry.

[2019-03-07 00:28] noahfalk opened #23087 "LTTNG/EventPipe filtering occurs too late, causes heavy perf overhead"
We have various places in our code where we test ETW_TRACING_CATEGORY_ENABLED(…), then do a somewhat costly operation to produce some data, then log that data into the tracing system. EventPipe and LTTNG will filter events after they have been logged, but ETW_TRACING_CATEGORY_ENABLED returns true which means we still pay the perf overhead for generating the data to be logged. A better implementati

[2019-03-07 00:32] noahfalk commented on #23087
cc @jorive, @vancem, @cshung @sywhang

[2019-03-07 00:43] jkotas commented on #23071
I do not think we should be encouraging the `ref` pointer arithmetic. The `ref` pointer arithmetic is prone to subtle intermittent bugs that are very hard to trace down. I understand that we are leaving a bit of perf on the table in some cases by omitting support for the `ref` pointer arithmetic, but I am ok with that.

[2019-03-07 00:52] #22407 closed

[2019-03-07 00:53] RussKeldorph commented on #23081
@hoyosjs Thanks for volunteering.

@jashook @sbomer @echesakov

[2019-03-07 01:15] hoyosjs commented on #23060
cc @kouvel

[2019-03-07 01:23] AriNuer opened #23089 "[x64\windows] Assertion failed '!foundDiff' in 'System.Runtime.Intrinsics.X86.Pclmulqdq:CarrylessMultiply"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_jitx86hwintrinsicnosimd/384/#showFailuresLink

**Failed tests:**
JIT_HardwareIntrinsics._X86_Sse2_Sse2_r_Sse2_r_._X86_Sse2_Sse2_r_Sse2_r_cmd
JIT_HardwareIntrinsics._X86_Fma_Vector128_Fma_r_Fma_r_._X86_Fma_Vector128_Fma_r_Fma_r_cmd
JIT_HardwareIntrinsics._X86_Sse3_Sse3_ro_Sse3_ro_._X86_Sse3_S

[2019-03-07 01:53] hoyosjs commented on #23081
Can't be fixed until #22967 gets merged

[2019-03-07 01:57] mikem8361 commented on #19722
Fix in PR #23075

[2019-03-07 01:57] #19722 closed

[2019-03-07 02:00] AaronRobinsonMSFT commented on #23042
@ericstj Oh, glad you were able to work around it. Thanks for the clarification.

[2019-03-07 02:35] peppy commented on #22990
@sandreenko Thanks for looking into this.

I will re-test with the latest branch and also using a clean installation (it may have triggered specifically with my current game configuration).

As for the missing symbols: we've had this [reported](https://github.com/ppy/osu/issues/3277) and I believe it's a GPU memory deficiency we haven't addressed yet. Nothing to be too alarmed about!

[2019-03-07 03:12] AndyAyersMS commented on #14474
See #22984 for some notes on a prototype: [EnableBoxingOptsTier0](https://github.com/dotnet/coreclr/compare/master...AndyAyersMS:EnableBoxingOptsTier0).

[2019-03-07 04:34] juepiezhongren commented on #1235
@ayende https://github.com/apple/swift/blob/master/docs/OwnershipManifesto.md
.net must consider this

[2019-03-07 07:04] dotnet-mc-bot opened #23096 "Test failure: Loader_classloader._regressions_429802_CMain_CMain_/_regressions_429802_CMain_CMain_cmd"
Opened on behalf of @AriNuer

The test `Loader_classloader._regressions_429802_CMain_CMain_/_regressions_429802_CMain_CMain_cmd` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190306.73 (Core Tests)
Failing configurations:
- Windows.10.Arm64-arm
  -
  -
- Windows.10.Arm64-arm64
  -
  -
- Windows.81.Amd64-x64
  -
  -
- Windows.7.Amd64-x64
  -
  -
- Windows.10.Amd64.Core-

[2019-03-07 07:23] iskiselev opened #23097 "Provide alternative for profiler loading settings"
Currently, the only way to load a profiler is by enabling appropriate environment variables. I would be great to provide a way to load a profiler through some setting local to application - I've thought about Host Configuration Knobs. It will allow to install profiler though NuGet package, which may be convenient if profiler is used for dynamically updating IL or something similar task, when it is

[2019-03-07 07:47] #22874 closed

[2019-03-07 09:06] chrisnas commented on #23087
Thanks Noah!
Note that the 60% increase was for our response time (not the startup)
BTW, https://github.com/dotnet/coreclr/issues/14327 seems also related to the same root cause

[2019-03-07 12:52] arekpalinski commented on #22820
@janvorli We have a lead that heap corruption might be caused by change in our code. We're investigating that.

[2019-03-07 14:09] redknightlois commented on #23071
@jkotas I haven't seen any huge codegen issue when using `ref`. Granted I cannot hijack the frontend to do arithmetics but that's not something that cannot be solved either with an extra method with 3 instead of 2 parameters. Given the fact that I was able to solve the subpar codegen just promoting the local used for constructing `IntPtr` to `long` it suggest that is something that a Roslyn perfor

[2019-03-07 15:39] tannergooding commented on #23089
@CarolEidt, looks like this failure is also caused by #22791.

It is a different assert from https://github.com/dotnet/coreclr/issues/23059 and repros in x64 rather than x86.

It also requires both TieredCompilation=0 and FeatureSIMD=0 to reproduce.

[2019-03-07 15:43] tannergooding commented on #23089
The only thing that pops out as possibly related is the `asgType = impNormStructType(structHnd);` call, which will do different things between `FeatureSIMD=1` and `FeatureSIMD=0`

[2019-03-07 16:35] BruceForstall commented on #23045
Looks like the Linux arm64 pmi asm diffs task fails because it uses `zip`, which isn't on the machine. Should convert that to `tar`

[2019-03-07 16:35] #23045 closed

[2019-03-07 16:48] BruceForstall commented on #23096
This is also failing in CoreCLR testing, e.g.
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_ubuntu16.04_no_tiered_compilation_tst/130/

with:
[code]

[2019-03-07 16:50] BruceForstall commented on #23096
Also,
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/checked_windows_nt/11560/

@MichalStrehovsky @jkotas It looks like https://github.com/dotnet/coreclr/pull/23032 caused this

[2019-03-07 17:11] AndyAyersMS commented on #21684
Infrastructure issue now fixed, and the natively hosted jitstress1 job claims it passed, but also didn't actually run any tests:
[code]

[2019-03-07 17:13] BruceForstall opened #23102 "[arm64] Improve prolog/epilog single reg save/restore w/SP adjustment"
`CodeGen::genPrologSaveReg` and `CodeGen::genEpilogRestoreReg()` should fold in an optional `spDelta` adjustment to the STR/LDR instruction as pre-index/post-index, if possible.

[2019-03-07 17:14] AndyAyersMS commented on #20260
@CarolEidt @tannergooding sorry to nag -- there is one HW intrinsic issue blocking a clean PMI of corelib on arm64. Suggested a fix above, let me know if this makes sense.

[2019-03-07 17:20] tannergooding commented on #20260
(sorry, missed the original ping)

That seems reasonable to me. We can always adjust it later if needed.

[2019-03-07 17:22] tannergooding commented on #20260
It might be worth noting that the suggested fix looks to be what we are already doing for the x86 intrinsics.
See `addRangeCheckIfNeeded`: https://github.com/dotnet/coreclr/blob/master/src/jit/hwintrinsicxarch.cpp#L651
and its usages:
* https://github.com/dotnet/coreclr/blob/master/src/jit/hwintrinsicxarch.cpp#L857
* https://github.com/dotnet/coreclr/blob/master/src/jit/hwintrinsicxarch.cpp#L873

[2019-03-07 17:25] #22056 closed

[2019-03-07 17:29] AndyAyersMS commented on #20260
Right -- the idea was to do something similar for arm64.

[2019-03-07 17:42] jashook opened #23103 "[Windows|Arm] JIT/Methodical/MDArray/DataTypes/long_cs_do fails"
https://dev.azure.com/dnceng/internal/_build/results?buildId=116945&view=ms.vss-test-web.build-test-results-tab

Output:

[code]

[2019-03-07 17:45] jashook commented on #23096
Disabling this test to get a clean official build. Please re-enable it when it is fixed.

[2019-03-07 18:10] BruceForstall commented on #22478
closed by https://github.com/dotnet/coreclr/pull/23080

[2019-03-07 18:10] #22478 closed

[2019-03-07 18:11] BruceForstall commented on #22476
closed by https://github.com/dotnet/coreclr/pull/23080

[2019-03-07 18:11] #22476 closed

[2019-03-07 18:11] BruceForstall commented on #22058
closed by https://github.com/dotnet/coreclr/pull/23080

[2019-03-07 18:11] #22058 closed

[2019-03-07 18:11] BruceForstall commented on #22057
closed by https://github.com/dotnet/coreclr/pull/23080

[2019-03-07 18:11] #22057 closed

[2019-03-07 18:15] CarolEidt commented on #20260
Sorry @AndyAyersMS I also missed this. I can take a look at it, but probably not until tomorrow.

[2019-03-07 18:35] #19791 closed

[2019-03-07 18:46] AndyAyersMS commented on #20260
No worries, I have something coded up -- will have a PR out soon.

[2019-03-07 18:47] redknightlois commented on #22597
Bump?

[2019-03-07 18:48] redknightlois commented on #22268
Should be solved by: https://github.com/dotnet/coreclr/pull/22944

[2019-03-07 18:54] AndyAyersMS commented on #22820
x86 issue seems to be fixed.

Am going to re-open this until we've got more clarity on what is happening for x64.

[2019-03-07 18:59] sergiy-k commented on #22676
@fadimounir, could you please take a look?
@BruceForstall, is this issue specific to the JitStress job?

[2019-03-07 19:10] ayende commented on #22820
We are pretty sure that the x64 stuff is our fault and not related to this issue.
It just manifested in pretty much the same way and stack trace.

[2019-03-07 19:18] redknightlois commented on #13037
Can we get https://github.com/dotnet/coreclr/pull/19002/files#diff-4d40e7e08da7c98543f2bcc0534ad21dR93 to go public somehow?

[2019-03-07 19:19] redknightlois commented on #8201
No need for this now we have intrisics

[2019-03-07 19:19] #8201 closed

[2019-03-07 19:53] sandreenko commented on #23016
The last run of CoreFX Windows x86 failed (two hours ago), do we need something expect #23063 and #23076?

I still don't understand why we see:
`D:\j\workspace\x86_checked_w---fbe14ed2\_\fx\artifacts\ibc\optimization.windows_nt-x64.IBC.CoreFx\data\System.Runtime.InteropServices.RuntimeInformation\System.Runtime.InteropServices.RuntimeInformation.dll\System.Runtime.InteropServices.RuntimeInformatio

[2019-03-07 19:54] jkotas commented on #13037
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md describes how to propose new public APIs.

[2019-03-07 19:55] jkotas commented on #13037
https://github.com/dotnet/corefx/issues/18756 looks related.

[2019-03-07 19:56] iskiselev commented on #23097
It may also be tricky to find a solution that will work cross-platform, as different profiler library should be used.

[2019-03-07 19:58] aclerbois opened #23107 "Dotnet new project create automatically sln"
Hello,

An improvment valuable for the dotnet creation template should be to add a parameter to create a new sln file and attach the new project into.

Current scenario :

dotnet new "template" -n "ProjectName"
dotnet new sln -n "ProjectName"
dotnet sln add "ProjectName/ProjectName.csproj"

Have only one line for example :

dotnet new "template" -n "ProjectName" -newSln

What do you think about th

[2019-03-07 20:01] noahfalk commented on #23087
Yeah, way down near the bottom of #14327 seems to bump up against the issue here. I'll leave this issue open because I think it is a more specific description of the problem.

[2019-03-07 20:19] #23042 closed

[2019-03-07 20:50] briansull commented on #21231
I am reopening this issue.
This test failure depends upon the C# compiler that you compile the test case with.
It still fails using a Roslyn based C# compiler.

[2019-03-07 21:20] briansull commented on #21231
This test case is passing on CoreCLR 3.0
Recent changes in struct field promotion for CoreCLR has fixed this for the test case.

I will check in the test case.

[2019-03-07 21:29] #20721 closed

[2019-03-07 21:34] jashook commented on #23103
Anther random AV.

[2019-03-07 21:34] #23103 closed

[2019-03-07 21:50] adiaaida commented on #23016
The dependencies haven't been updated in corefx

[2019-03-07 22:04] AndyAyersMS commented on #21684
Bruce pointed me at the right CI link (test leg, not build leg):

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_ubuntu16.04_corefx_jitstress1_tst/130/

These are still not running properly.

[2019-03-07 22:43] cshung opened #23112 "Testing multi-file tracing"
It appears to me that we have no testing for the multi-file mode of EventPipe, we should have at least one hello world type testing for it.

[2019-03-07 23:13] RussKeldorph commented on #18178
Fixed by #19281

[2019-03-07 23:15] RussKeldorph commented on #18178
#18181

[2019-03-07 23:17] RussKeldorph commented on #18181
emitarm64.cpp:

[code]

[2019-03-07 23:31] saucecontrol opened #23115 "HWIntrinsics: FMA suboptimal codegen"
This code:

[code]

currently compiles to:

[code]

Assuming https://github.com/dotnet/coreclr/pull/22944 would eliminate the extra `lea` there, I belive this should be generating:

[code]

It looks like the logic in `genFMAIntrinsic` is missing the fact the two non-contained arguments could be swapped here.

cc @tannergooding

[2019-03-08 00:32] tannergooding commented on #23115
This shouldn't be the case. We have a check here: https://github.com/dotnet/coreclr/blob/master/src/jit/hwintrinsiccodegenxarch.cpp#L2354

Could you share a minimal repro I could look at?

[2019-03-08 00:40] saucecontrol commented on #23115
Yeah, this one matches the second condition in the `if` above (op2 is contained) and it doesn't set the `isCommuative` value.  I couldn't tell why the first and last branches set it but the middle two don't.

[2019-03-08 00:46] BruceForstall commented on #22676
Maybe it's fixed? Doesn't fail in the latest:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_r2r_jitminopts_tst/41
(one other known failure)

The stress mode that opened this issue looks broken in other infrastructure ways.

[2019-03-08 00:48] BruceForstall opened #23118 "Slowness running jobs"
Windows/arm:

I see in https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_r2r_jitstressregs8_flow/50/console:
[code]

but it's been doing this for 4 days and 14 hours!

[2019-03-08 00:49] BruceForstall commented on #23118
@jashook @RussKeldorph I haven't paid attention to the Windows/arm32 machines/jobs lately, but I saw this once or twice. Should I/we create a core-eng issue and get someone to look at this?

[2019-03-08 01:10] tannergooding commented on #23115
I'm not sure why that is missing either, let me test out a fix real quick.

[2019-03-08 01:22] CarolEidt commented on #23089
Yes, I'm nearly certain that's the source of both issues, and if I can make a little progress on a couple of other fronts I'm hoping it isn't too hard to fix (I believe I was mistaken in thinking, for my fix in #22791, that it is OK to have a comma on the rhs of a struct assignment.)

[2019-03-08 01:37] VincentBu opened #23122 "[arm64] error: No artifacts found"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_corefx_baseline_tst/129/

**Log:**
[code]

[2019-03-08 01:49] AriNuer opened #23123 "[arm64\linux] Test failure: JIT_jit64._localloc_call_call05_large_call05_large_._localloc_call_call05_large_call05_large_sh"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_r2r_jitstressregs1_tst/24/

**Failed test:**
JIT_jit64._localloc_call_call05_large_call05_large_._localloc_call_call05_large_call05_large_sh

**Failed log:**
[code]

[2019-03-08 02:06] saucecontrol commented on #23115
Cool, I can make up a repro if that would help.  I can confirm that swapping the first two arguments in my example causes `vfmadd231ps` to be emitted.

[2019-03-08 02:08] sywhang opened #23124 "Test failure: tracing/tracevalidation/inducedgc/inducedgc"
On ARM64 Linux, tracing/tracevalidation/inducedgc/inducedgc is keep failing with the following error:
[code]
It seems like an actual failure but I don't have an ARM64 machine lying around to repro this locally. I will come back to investigate it later and will disable the test for now.

[2019-03-08 02:10] tannergooding commented on #23115
A repro that I can directly test would be helpful 😄. Otherwise, I am left just testing the existing tests and local code.

[2019-03-08 02:13] peppy commented on #22990
@sandreenko I have tried to repro on both preview2 and preview3 and cannot seem to cause the crash to happen any more.

I'll continue using preview 3 as my dev environment and reopen if I manage to reproduce again.

Thanks again!

[2019-03-08 02:13] #22990 closed

[2019-03-08 02:22] AaronRobinsonMSFT commented on #23107
@aclerbois, Thanks for the suggestion. This repo is for the clr itself rather than `dotnet` and other CLI tools. I would suggest this be moved to the https://github.com/dotnet/core-sdk repo where it can receive the appropriate attention.

[2019-03-08 02:37] sywhang opened #23126 "Find out if EventSource callbacks may lead to recursive call"
In EventCounter's current implementation, under CounterGroup::OnEventSourceCommand there is a comment that says:

[code]

I have not looked deep into the EventSource callback implementation to see whether this is possible, but if it is, it may lead to a deadlock we don't want. We should investigate & add test for it as needed.

[2019-03-08 02:55] tannergooding commented on #23115
Ah, right. I remember why this is hard now.

The code right now is choosing:
[code]

After the `lea` is optimized this will be:
[code]

We start off with `(x * y) + z` which will choose `213` (`(op2 * op1) + op3` where `op1 = x; op2 = y; op3 = z`). This form allows op1 and op2 to be swapped and op3 to be contained. In this case, `op3` didn't need to be (or couldn't be) contained so we checked `op2

[2019-03-08 02:55] saucecontrol commented on #23115
Here's a quick one. `fmaTest1` shows the `vfmadd132` variant with the `movaps` right after. `fmaTest2` shows the desired `vfmadd231`.  Couple of other codegen issues here as well... this is on preview3, so I'm not sure if they've been fixed since.

[code]

`fmaTest1`
[code]

`fmaTest2`
[code]

[2019-03-08 03:01] tannergooding commented on #23115
(Continued from https://github.com/dotnet/coreclr/issues/23115#issuecomment-470785697)

Right now we are waiting on choosing the instruction until codegen and do that based on which operand is contained. I'm not sure we have an easier way to do that and I'm not sure that it would help even if we could.

In the register allocator, we are already not setting a `tgtPref` when both operands are commut

[2019-03-08 03:11] saucecontrol commented on #23115
Ah, so it looks like this is a dupe of https://github.com/dotnet/coreclr/issues/20480.  Not sure why I didn't see that one when I searched.

[2019-03-08 03:28] GrabYourPitchforks opened #23127 "JIT emits unnecessary movsxd instructions when calling into Span indexer"
When passing a non-constant value into the `Span<T>` and `ReadOnlySpan<T>` indexer, the JIT will emit an unnecessary `movsxd` instruction on x64. The repro is fairly simple:

[code]

Current codegen:

[code]

I prototyped the below change in my local branch by modifying the logic in `importer.cpp` to use zero-extension instead of signed-extension for the span indexer and ran a benchmark. The modif

[2019-03-08 06:21] benaadams opened #23129 "Inlined struct copies via params, returns and assignment not elided"
As seen in `ValueTaskAwaiter` from https://github.com/dotnet/coreclr/pull/22735, https://github.com/dotnet/coreclr/pull/22738 wasn't a specific issue for it with simple repo so opening this.

[code]
Produces
[code]
and
[code]
Some of these copies could be skipped?

/cc @AndyAyersMS @mikedn @stephentoub @jkotas

[2019-03-08 06:49] benaadams commented on #23129
You can `Unsafe.As` and `in` around some of these but it isn't ideal https://github.com/dotnet/coreclr/pull/22735#issue-254861650

[2019-03-08 07:05] mikedn commented on #23129
For something like `var s = CreateLargeStruct();` the struct is returned by passing a hidden reference argument to `CreateLargeStruct`. That leaves local variable `s` address exposed and that usually kills all optimizations around it.

[2019-03-08 08:43] MichalStrehovsky commented on #23096
The test is doing a `call` to an abstract method. Apparently, on the CLR, one can do a `call` to an abstract method if that method is `MethodImpl`'d by another method **on the same class**. CLR will assert, nullref and throw a BadImageFormat if it's abstract, but not `MethodImpl`'d.

I can either fix the test, or scope down #23032 to only throw for interfaces (it means we would leave the nullref/a

[2019-03-08 10:10] gfoidl commented on #23127
The same `movsxd` is generated when indexing arrays.

The zero-extension could be omitted, if the JIT recognizes this pattern, and operate with the native int size (i.e. `ulong` on x64, `uint`), hence emitting code as follows (for x64):
[code]

[2019-03-08 11:00] GSPP commented on #18619
I understand that GC time is roughly proportional to the number of reachable object references. Would it not reduce total GC time if we collected less often and let more garbage accumulate? This was my reasoning.

So if the live size is 100MB and we simply let garbage accumulate for 10GB that would reduce the total time spent in GC a lot.

[2019-03-08 12:33] arekpalinski commented on #22820
We can confirm that we no longer experience the issue on x64. @janvorli Thanks for help in narrowing it down.

[2019-03-08 13:31] benaadams commented on #23129
Not using the same variable and passing directly produces same output
[code]
[code]
Though the `ValueTaskAwaiter` matches the `InlinedCtor` more

[2019-03-08 14:01] jkotas commented on #18619
This is in the range of diminishing returns. Depending on the distribution of the 100MB live set over the 10GB heap, your program can easily end up running slower because of higher rate of cache and [TLB](https://en.wikipedia.org/wiki/Translation_lookaside_buffer) misses.

[2019-03-08 14:35] jkotas commented on #23096
I am fine with fixing the test

[2019-03-08 15:03] ymassad opened #23131 "IsEquivalentTo returns false for equivalent types in .NET Core preview 3"
I am trying to play with [type equivalence in .NET](https://docs.microsoft.com/en-us/dotnet/framework/interop/type-equivalence-and-embedded-interop-types). I was able to make it work for both the .NET Framework and .NET Core.

It seems that .NET Core before V3.0 did not support this feature. Or at least I was not able to make it work.

The source code is available here:
https://github.com/ymassad/

[2019-03-08 15:46] BruceForstall commented on #23122
@sandreenko You said you're working on this job

[2019-03-08 15:49] BruceForstall commented on #23123
@jashook @janvorli Any idea why we'd see this?
[code]

I re-triggered the job to see if it repros.

[2019-03-08 15:55] muntyan opened #23150 "Bug with FieldOffset and marshaling by value"
Attached is a repro for where a struct with Explicit layout and FieldOffsets modeling a C union gets marshaled as garbage to C through p/invoke on linux and mac, while it works as expected on windows. I haven't tried to figure out what exactly breaks it, but the sample should be simple enough. It assumes 64-bit linux.

C code is like this:

[code]

    void consume(struct Repro repro); // passing

[2019-03-08 15:55] GPSnoopy opened #23132 "Add 64-bit support to Array underlying storage"
While System.Array API supports LongLength and operator this[long i], the CLR does not allow arrays to be allocated with more than 2^31-1 elements (int.MaxValue).

This limitation has become a daily annoyance when working with HPC or big data. We frequently hit this limit.

**Why this matters**
- .NET arrays is the de facto storage unit of many APIs & collections.
- Currently one has to allocate n

[2019-03-08 16:01] tannergooding commented on #23132
One of the simplest breaks becomes any program that is doing the following:
[code]

This works fine for any existing programs, since CoreCLR actually defines a limit that is just under `int.MaxValue`. Allowing values that are greater than `int.MaxValue` would cause an overflow to `-2147483648` and either cause unexpected behavior or cause an `IndexOutOfRangeException` to be thrown.

[2019-03-08 16:02] giuliojiang commented on #23132
I frequently run into this array when processing large chunks of data from network streams into byte arrays, and always need to implement chunking logic in order to be able to process the data.
It would be great to be able to use `this[long i]`.

[2019-03-08 16:08] GPSnoopy commented on #23132
@tannergooding That's why I proposed above to keep the existing behaviour of throwing OverflowException on Length when there are more than int.MaxValue elements. Nothing changes there.

I'm suggesting that changing the CLR implementation as proposed above would allow applications and people who want to to use large arrays without breaking existing applications. You are right that simply passing a

[2019-03-08 16:11] philjdf commented on #23132
Yesterday I happily created an array in Python which contained more than two billion elements. When can I do the same in .NET?

[2019-03-08 16:35] #22850 closed

[2019-03-08 16:58] BruceForstall commented on #23127
@AndyAyersMS

[2019-03-08 17:01] AndyAyersMS commented on #23129
There are some correctness concerns related to exception semantics and self-modification that require staging some struct operations through temps. The copies (and temps) can sometimes be optimized away later after global (method-wide) analysis. The jit does not do this analysis yet, but hopefully will soon -- see the plans for [first-class structs](https://github.com/dotnet/coreclr/blob/master/Do

[2019-03-08 17:02] #20260 closed

[2019-03-08 17:13] AndyAyersMS commented on #23127
Range prop may be able to determine `i` cannot be negative (definitely for arrays, maybe for spans) and could possibly rewrite the in-loop uses that feed sign-extensions. Might get the simple cases.

Worth taking a quick look.

[2019-03-08 17:38] jkotas commented on #23131
We are missing `IsEquivalentTo` override on `RtType`

cc @AaronRobinsonMSFT

[2019-03-08 17:39] BruceForstall commented on #5336
With https://github.com/dotnet/coreclr/pull/22023, GS support is complete on arm64.

[2019-03-08 17:39] #5336 closed

[2019-03-08 17:41] BruceForstall commented on #13084
It's not clear doing this is possible. It's at least not easy. Investigating is not high priority. So I'm closing this.

[2019-03-08 17:41] #13084 closed

[2019-03-08 17:42] AaronRobinsonMSFT commented on #23131
I honestly didn't know this API existed. We have a test hole. Will get this handled today.

@ymassad Thanks for reporting it!

[2019-03-08 18:07] adiaaida commented on #23016
@sandreenko I'm very confused by this failure as well, because EnablePartialNgenOptimization should be false in this case, since it's not an official build and _LocateIbcMerge should set _RunIbcMerge to false. There is no way that these runs have access to IBCMerge, and the logs don't suggest that they've been pulled down, so none of the IBC handling code should be triggered. I would suggest that

[2019-03-08 18:21] mikedn commented on #23127
@AndyAyersMS I tried that in the past but for some reason I gave up. I'll check what I did back then.

[2019-03-08 18:35] BruceForstall commented on #18642
It's not worth investing in this, so I'm going to close this.

[2019-03-08 18:35] #18642 closed

[2019-03-08 18:38] BruceForstall commented on #22367
Current runs succeed

[2019-03-08 18:38] #22367 closed

[2019-03-08 18:39] GrabYourPitchforks commented on #23127
@AndyAyersMS I didn't investigate anything quite as complex as flowing context that _i_ must be non-negative or backing _i_ with a native int to begin with. In the quick changes I experimented with, there was still a zero-extension (the `movsxd r10, r9d` instruction became `mov r10d, r9d`), and this was sufficient to get the performance gain mentioned. I suspect this was a zero-latency mov within

[2019-03-08 18:42] mikedn commented on #23127
Yes. I tried that in the past with array indices. It was working but in some cases involving pointer arithmetic there was a regression due to CSE no longer picking up the casts, those from array indices where zero extending and those from pointer arithmetic were sign extending.

[2019-03-08 18:48] AndyAyersMS opened #23136 "Odd PrepareMethod failure on linux arm64"
Noticed this while using jitutils on linux arm64.
[code]
On windows this gives
[code]
on Linux arm64 (with 3.0.100-preview-010184)
[code]
Using PMI I can actually get different exception types for this case. Most commonly `BadImageFormat` but sometimes `TypeLoadException`:
[code]

[2019-03-08 18:58] AndyAyersMS commented on #23136
Also repros on Ubuntu x64 with 2.2.2:
[code]

[2019-03-08 19:07] mikedn commented on #23127
@AndyAyersMS FWIW I have this in https://github.com/mikedn/coreclr/commit/e0a6e91b3ec70d12753976cec484e24552ef0004 It does seem to work (diff corelib -> -368 bytes) but I don't remember if the change was "done" or if there was some kind of problem that made me abandon it. It could be that it was just my general dislike of RangeCheck, I generally don't trust that code. I'll try to figure out what's

[2019-03-08 19:13] AndyAyersMS commented on #22820
Thanks. Now keeping this open to track the (proposed) porting of this fix to 2.1.

[2019-03-08 19:25] mikedn commented on #23129
That code is practically the same as the original code. There is still a temporary variable, even if you don't declare one in the C# code.

The address of that temp variable is passed to `CreateLargeStruct` and that makes it address exposed (well, I actually assume that, I see that it is address exposed in the dump but I didn't check the reason).

Then the ABI semantics require a copy of that temp

[2019-03-08 19:29] mikedn commented on #23129
Here's an IR dump:
[code]
LocalAddressVisitor marks V01 address exposed because its address is passed to `CreateLargeStruct`. The copy you see in assembly code comes from the second statement. At this point V03 is not yet address exposed, that happens later when the following statement is morphed. From there that copy is doomed to remain there forever, nothing can't touch it.

[2019-03-08 19:44] mikedn commented on #23129
Yeah, I have a change that prevents V03 from becoming address exposed but that has little impact:
[code]
Basically it eliminates the useless `lea` and `mov rdx, ` at the end...

[2019-03-08 20:03] AndyAyersMS commented on #23129
I recall thinking local assertion prop in morph could eliminate some of these struct copy chains (which is what lead me to that recent fix for `DefinesLocal`) as it seems to be willing to do struct copy prop.

[2019-03-08 20:25] #22457 closed

[2019-03-08 20:26] AaronRobinsonMSFT commented on #19474
@jkoritzinsky Do we have any additional thoughts on this work for Core 3.0?

[2019-03-08 20:28] jmiddour opened #23139 "Performance regression in .Net Core 3.0 -- private working set"
We converted a console application to .Net core from the full framework.  When targeting .Net Core 2.2, the memory & wall clock performance was very close to full framework targeting 4.6.2 and running on 4.7.  This was on Enterprise Client 1709 and using VS2019P3.

However, when targeting .net core 3.0, performance was significantly worse.  We noticed that private working set increased from 8Mb to

[2019-03-08 20:57] jkoritzinsky commented on #19474
Luqun's solution looked like it would work from a cursory glance, so I'm going to try it out and see what I get with it.

[2019-03-08 21:16] jkotas commented on #23139
The numbers suggest memory leak. [perfview](https://github.com/Microsoft/perfview/blob/master/documentation/Downloading.md) or any other memory profiler is the way to trade it down.

Vance's tutorial for how to trade down the managed memory leaks using [perfview](https://github.com/Microsoft/perfview/blob/master/documentation/Downloading.md):  https://channel9.msdn.com/Series/PerfView-Tutorial/Tut

[2019-03-08 22:16] mikedn commented on #23129
AFAIK assertionprop does not touch address exposed lclvars. For example: https://github.com/dotnet/coreclr/blob/2a77dc515bccf78308232384522017e5a3bdc3f0/src/jit/assertionprop.cpp#L1001-L1005

[2019-03-08 22:24] #23122 closed

[2019-03-08 22:56] AndyAyersMS commented on #23129
I was looking at a similar example when I ran across #22747.
[code]
We end up pre-morph with a chain of 3 struct copies:
[code]
and local prop knows they are all equivalent:
[code]
but for some reason does not rewrite the last assignment, so we end up with
[code]
Nothing here is address exposed but some structs are address taken.

The first copy is now dead and gets removed, but not the second one

[2019-03-08 23:35] CarolEidt commented on #23006
Another inconsistency is that there are a number of methods that predict the size of an instruction (e.g. `emitInsSizeAM`) but these *mostly* don't take into account the 4-byte SSE instructions, so there's compensating code spread around to take care of them.
Furthermore, the instruction size estimation code is pretty hard to follow, and over-estimates in some cases. Ideally, the code in `emitter:

[2019-03-08 23:53] iskiselev opened #23144 "ECMA-355 Overview of exception handling misleading"
Currently ECMA-355 I.12.4.2.5 Overview of exception handling misleading states that:

When an exception occurs, the CLI searches the array for the first protected block that
 Protects a region including the current instruction pointer and
 Is a catch handler block and
 Whose filter wishes to handle the exception
If a match is not found in the current method, the calling method is searched, and

[2019-03-08 23:55] iskiselev commented on #23144
At he same time I.12.4.2 Exception handling states that:
 A finally handler that shall be executed whenever the block exits, regardless of
whether that occurs by normal control flow or by an unhandled exception.

And here it correctly describe what is expected and happens in CLR.

I still believe that  I.12.4.2.5 text should be changed to not mislead.

[2019-03-08 23:57] AndyAyersMS commented on #23129
Ah, it is coming back to me now -- by the time `optAssertionProp_LclVar` gets a crack at `[000023]` it is marked as do not cse. So we'd need to catch it higher up in the tree, but `optAssertionProp_Ind`, when handed `[00025]` doesn't do anything.

[2019-03-09 01:36] #23131 closed

[2019-03-09 01:50] BruceForstall opened #23147 "arm64: CodeGen::genJmpMethod with multireg HFA arg"
A function with a multireg HFA argument and a JMP call will hit this NYI:

codegenarmarch.cpp -- NYI_ARM64("CodeGen::genJmpMethod with multireg HFA arg")

(related: https://github.com/dotnet/coreclr/issues/18178)

[2019-03-09 01:51] BruceForstall commented on #18178
Moved `NYI_ARM64("CodeGen::genJmpMethod with multireg HFA arg")` to its own issue: https://github.com/dotnet/coreclr/issues/23147

[2019-03-09 01:51] BruceForstall commented on #18178
No remaining NYI here, so closing.

[2019-03-09 01:51] #18178 closed

[2019-03-09 03:57] cshung opened #23151 "Cleanup TODO introduced by PR #23148"
on `eventpipebuffer.cpp` ->
[code]
We could perform the stack walk before initializing the EventPipeEventInstance.

[2019-03-09 06:18] AaronRobinsonMSFT commented on #23150
cc @jkoritzinsky

[2019-03-09 06:21] jkoritzinsky commented on #23150
This is the SystemV calling convention issue with explicit structs and will be fixed by #22041.

[2019-03-09 11:17] stephentoub commented on #23049
cc: @tarekgh, @krwq

[2019-03-09 15:37] petarpetrovt opened #23158 "SetDllImportResolver and DLLImport bug"
The problem happens when trying to import native method using DLL import attribute and custom DLL import resolver. When the resolver is set in the same class as the method all works fine. But when the method is in other class DllNotFoundException is thrown. The weirdest thing is that if the method is in both classes work fine from both calls. Here is some example code:

[code]

[2019-03-09 15:45] #23158 closed

[2019-03-09 16:41] #1191 closed

[2019-03-09 19:11] tarekgh commented on #23049
Why you can just handle this by creating the proper format pattern instead of formatting every date/time part separately? so you may write GetTime like:

[code]

As @stephentoub pointed  out in the docs having single letter specifier will have different meaning. let me know if you have any other questions.

[2019-03-09 20:04] benaadams opened #23159 "Vector<T> regression, BadImageFormatException in release"
[code]

[code]
Repo
[code]
Lastest nightly sdk from https://github.com/dotnet/core-sdk
[code]

[2019-03-09 20:37] benaadams commented on #23159
Works if switch to `ReadUnaligned`
[code]

[2019-03-09 20:51] AndyAyersMS commented on #23129
Have a prototype that shows some promise on my example, but not Ben's (yet):  [GeneralizeIndAssertionProp](https://github.com/dotnet/coreclr/compare/master...AndyAyersMS:GeneralizeIndAssertionProp).
* not sure if I like these "deep tree" assertion props
* we can probably get more dead block store cases. Not sure yet if what I am doing is completely safe
* am restricting INDIR copy prop to structs

[2019-03-09 21:13] mikedn commented on #23127
Ran a diff on the entire FX (after patching a strange issue with missing assertions):
[code]
Not a lot, as this saves at most one byte per cast (sometimes `mov` has one byte less than `movsxd`, sometimes they have the same size). I'd guesstimate that there are ~5000 casts that are transformed.

PIN data doesn't look too good, a 0.5% regression. Didn't check memory usage but I don't think it will b

[2019-03-10 06:59] mikedn commented on #23159
As far as I can tell the repro hits a JIT asserts:
[code]

[2019-03-10 17:06] richlander commented on #23139
I was working with this developer. I got them to create Perfview traces but forgot them. They are going to send them to me on Monday.

[2019-03-10 20:12] mrange opened #23285 "Struct type overhead higher than expected for small numerical vectors"
# Struct type overhead higher than expected for small numerical vectors

## General

I am running dotnet 3.0 preview on Windows 10:

[code]

My CPU is: `Intel(R) Core(TM) i5-3570K CPU @ 3.40GHz`

(so it doesn't have FMA support but do support AVX).

I have been messing around with the new intrinsics support i in dotnet core 3.0 quite a lot and had some success with it. I want to write Raymarcher u

[2019-03-10 22:59] benaadams opened #23167 "Compile C++ with “/d2FH4” flag on Windows x64?"
From https://devblogs.microsoft.com/cppblog/making-cpp-exception-handling-smaller-x64/ meant to reduce exception handling code; not sure how the runtime works though?

[2019-03-10 23:05] PathogenDavid opened #23168 "Windows exception during mixed debugging truncates stack"
This issue only happens with .NET Core, but it isn't clear to me whether this issue is most likely the fault of CoreCLR, Visual Studio, or both. If this is better suited for VS Feedback, I can post it there instead.

-----------

**Environment**

* .NET Core SDK 2.2.104
  * Also reproduced with 3.0.100-preview3-010431
* Windows 10 1809 (Build 17763.348 - Latest updates installed)
* Visual Studio 2

[2019-03-10 23:17] PathogenDavid commented on #23168
Just in case it's relevant, when I was debugging this issue I ended up in a zany scenario where it seemed like exceptions were happening recursively after the vectored exception handler was dispatched:

![05_Stack_netcoreapp2 2_CrazyStack](https://user-images.githubusercontent.com/278957/54092860-62336400-435f-11e9-9c56-5ca6883917ca.png)

However, I am fairly certain I was experiencing a Visual St

[2019-03-11 00:23] ststeiger opened #23171 "Incorrect library-root path => problem with loading CEF-files"
I'm trying to embed ChromiumEmbedded into a .NET Core application.

So I download the appropriate CEF-build from spotify:
http://opensource.spotify.com/cefbuilds/index.html
for example
http://opensource.spotify.com/cefbuilds/cef_binary_3.3626.1895.g7001d56_linux64_minimal.tar.bz2

This is my application (PdfGlue)
https://github.com/ststeiger/CefGlue_NetStandard

The problem is all the CEF-native b

[2019-03-11 01:26] VincentBu opened #23172 "[arm] cannot download sdk"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_ubuntu_heapverify1_tst/47/

**Log:**
[code]

[2019-03-11 04:42] jkotas commented on #23171
Starting with .NET Core 2.2, you can publish you app as [Framework-dependent executable](
https://docs.microsoft.com/en-us/dotnet/core/deploying/index#framework-dependent-executables-fde). It will give you binary with your app name, and still use the shared runtime. This should solve the first problem you have listed.

[2019-03-11 04:45] GrabYourPitchforks commented on #23020
This was fixed in https://github.com/dotnet/coreclr/commit/43a5159d39bd52195c5095da4006183f791c696b.

[2019-03-11 04:45] #23020 closed

[2019-03-11 07:18] v-haren commented on #22945
failed again in job: https://ci2.dot.net/job/dotnet_coreclr/job/perf/job/master/job/perf_throughput_linux_arm_flow/3455/

failed log:
fatal: write error: No space left on device
fatal: index-pack failed

	at org.jenkinsci.plugins.gitclient.CliGitAPIImpl.launchCommandIn(CliGitAPIImpl.java:1924)
	at org.jenkinsci.plugins.gitclient.CliGitAPIImpl.launchCommandWithCredentials(CliGitAPIImpl.java:1643)

[2019-03-11 10:59] gfoidl commented on #21132
This one got fixed, so I'll close it.

[code]

[2019-03-11 10:59] #21132 closed

[2019-03-11 12:23] #21582 closed

[2019-03-11 12:34] philippemercure commented on #23049
Mmm, that work pretty well. I didn't know we could escape text in a format specifier, the more you know, :). Thanks for you help.

[2019-03-11 14:40] zcsizmadia opened #23176 "ThreadPool and GetMinThreads in Linux .NET Core"
I am using using .NET Core for Linux in NUMA nodes (64+ cores). It seems the ThreadPool behaves differently under Windows and Linux if the machine has more than 24 cores. Running the code below under Windows maximizes CPU usage  and the ThreadPool grows until the CPUs are 100% utilized, however under Linux, the total CPU utilization is only ~30%.

It looks like Windows GetMinThreads(...) returns t

[2019-03-11 14:47] #23049 closed

[2019-03-11 15:01] stephentoub commented on #23176
cc: @kouvel

[2019-03-11 15:33] Safirion commented on #20287
1. WPF .Core 3.0 App
2. Maybe in a nuget package
3. No
4. Yes
5. Yes for 200-500ms and no for more than 1-2sec
6. Not important as soon as it's not 2 or 3 times bigger than the original publish folder size
7. It's for production so not really important
8. Yes but have the possibility to not do that may be useful if the work concerne a third party library

[2019-03-11 15:48] janvorli commented on #23176
@zcsizmadia NUMA is not supported in the official builds of .NET Core on Unix yet. I have recently found that our official build machines are missing the libnuma dev package installation (pending PR https://github.com/dotnet/dotnet-buildtools-prereqs-docker/pull/74 should fix that) and so we build coreclr with NUMA support disabled even though the support for NUMA was added to our source code base

[2019-03-11 16:26] MattGal commented on #22945
win2012-cad7b0 (win2012-20180911) has been deleted, it might be a better idea to open fresh issues for unrelated disk-fillings-up though.

[2019-03-11 16:26] #22945 closed

[2019-03-11 16:32] AaronRobinsonMSFT commented on #15683
Please don't do this until we have some tests in place. We need to see the scenario crash/succeed prior to doing this or else we will have a huge debt in scenario comprehension.

[2019-03-11 16:36] jkotas commented on #15683
Does the milestone on this need to be changed to 3.0?

[2019-03-11 16:38] AaronRobinsonMSFT commented on #15683
@jkotas That is a good question. I don't know if default interfaces is slated for 3.0 or not. We should be able to add COM testing for this in that timeframe, but if we decide to add support that is unknowable until we see how badly this fails in a COM scenario.

[2019-03-11 16:40] AndyAyersMS commented on #21373
Should be fixed by #23099.

[2019-03-11 16:40] #21373 closed

[2019-03-11 16:41] MichalStrehovsky commented on #15683
@AaronRobinsonMSFT in .NET Core 3 per the email thread.

[2019-03-11 17:19] AndyAyersMS commented on #23136
I think this is an issue on the runtime side. Looks like a bad token in an instantiating stub:
[code]

[2019-03-11 17:24] AndyAyersMS commented on #23136
Hmm, that is the right token value (`TOKEN_ILSTUB_TARGET_SIG`) -- let me dig some more.

[2019-03-11 18:18] stevenbrix opened #23181 "Accessing auto-property performance regression"
Accessing Auto-Properties compared to using a field seems to have regressed in 3.0.

[Here](https://github.com/dotnet/coreclr/files/2953667/CSharpNetCoreConsolePlayground.zip) is a repro that cross-targets netfx, netcore2.1, and netcore3.0 and shows about an 18% slowdown.

[2019-03-11 18:49] epeshk commented on #23181
Are you sure? I'm try to reproduce this measurement with Benchmark.NET and get same results.
[code]

[code]

[2019-03-11 19:04] jashook opened #23184 "Unable to crossgen core_root on windows x86 release"
There is not much information available other than I cannot repro it locally.

[2019-03-11 19:10] zcsizmadia commented on #23176
@janvorli Thanks for your support! Is there a dirty way of building 2.2.3 and force my development environment to use this custom build, before it is officially released?

[2019-03-11 19:21] janvorli commented on #23176
What you can do to try that (on Linux) is:
* publish your app for the linux-x64 RID (`dotnet publish -r linux-x64`)
* rebuild the coreclr repo from the same commit as 2.2.3 uses, with the libnuma-dev installed. You can find the commit number using `strings libcoreclr.so | grep "@(#)"` on the libcoreclr.so from the publish folder and then use `git checkout that_commit_number` in the coreclr repo. U

[2019-03-11 19:47] stevenbrix commented on #23181
Oh hey sorry! Can you remove the `AggressiveInlining` attribute and try again? that wasn't intended to be there

[2019-03-11 20:00] zcsizmadia commented on #23176
So the next official release of 2.2 (2.2.3) will  have numa enabled?

[2019-03-11 20:13] stevenbrix commented on #23181
I guess it doesn't seem like that actually does anything.

But to answer your question, yes i was pretty sure, otherwise i wouldn't have filed a bug. Can you explain why the repro i gave you shows a difference when running on .NET Core and not on .NET Fx? And why is it a bad repro since running this in Benchmark says they are the same?

[2019-03-11 20:35] epeshk commented on #23181
Ooh, looks like it is tiered compilation feature. See https://github.com/dotnet/coreclr/issues/21172

[2019-03-11 20:39] BruceForstall commented on #23016
@adiaaida @danmosemsft @ericstj Our corefx test runs in coreclr CI are still all failing due to this problem. Is someone actively investigating this?

[2019-03-11 20:58] #23096 closed

[2019-03-11 21:24] robertborr opened #23189 "sourcecode build failures in 'official/dotnet/coreclr/refs/heads/master' - '20190311.71'"
@dotnet-mc-bot commented on [Mon Mar 11 2019](https://github.com/dotnet/core-eng/issues/5452)

There were a set of failures during this build. Here is a summary of these:
* https://dnceng.visualstudio.com/internal/_build/results?buildId=120418
  - **Agent:** a0000JN
  - **Error log:** /root/.nuget/packages/microsoft.dotnet.helix.sdk/2.0.0-beta.19159.2/tools/Microsoft.DotNet.Helix.Sdk.MultiQueue.ta

[2019-03-11 21:27] robertborr opened #23190 "sourcecode build failures in 'official/dotnet/coreclr/refs/heads/master' - '20190311.71'"
@dotnet-mc-bot commented on [Mon Mar 11 2019](https://github.com/dotnet/core-eng/issues/5452)

There were a set of failures during this build. Here is a summary of these:
* https://dnceng.visualstudio.com/internal/_build/results?buildId=120418
  - **Agent:** a0000JN
  - **Error log:** /root/.nuget/packages/microsoft.dotnet.helix.sdk/2.0.0-beta.19159.2/tools/Microsoft.DotNet.Helix.Sdk.MultiQueue.ta

[2019-03-11 21:41] Symbai opened #23191 "Unable to cast int32 to int16"
The following code raises an exception claiming it's unable to cast int32 into int16. But the value 81 (0x51) which can be casting into int16 without any problems.

Fails:
[code]

Works:
[code]

Works as well but seems completely unnecessary to me:
[code]

When the interpreter KNOWS the object variable holds a value of type int32, why does it fails when the 2nd example where the variable is int32

[2019-03-11 21:43] robertborr opened #23192 "ToolsError build failures in 'official/dotnet/coreclr/refs/heads/release/3.0' - '20190308.710'"
@dotnet-mc-bot commented on [Sat Mar 09 2019](https://github.com/dotnet/core-eng/issues/5443)

There were a set of failures during this build. Here is a summary of these:
* https://dnceng.visualstudio.com/internal/_build/results?buildId=119432
  - **Agent:** a0000JN
  - **Error log:** /root/.nuget/packages/microsoft.dotnet.helix.sdk/2.0.0-beta.19128.3/tools/Microsoft.DotNet.Helix.Sdk.MultiQueue.ta

[2019-03-11 21:54] AndyAyersMS commented on #23136
Seems like the signature the VM finds for the calli is the culprit, it looks like:
[code]
the first 3 bytes are a custom modifier and the byte after that needs to be a valid element types or one of the 0x3x special codes that `SigParser::SkipCustomModifiers` recognizes, and it's not.

[2019-03-11 21:56] RussKeldorph commented on #22919
Closing since there isn't an immediate need to fix this on 2.1.

[2019-03-11 21:56] #22919 closed

[2019-03-11 21:59] #22757 closed

[2019-03-11 22:35] gfoidl opened #23194 "Reference to static data with ROSpan not kept in register"
Repro:
[code]

Results in
[code]
So in each iteration the static data is read.

Ideally the JIT would keep the ref to the static data in a register and emit something like this:
[code]

[2019-03-11 23:11] #23059 closed

[2019-03-11 23:12] CarolEidt commented on #23089
#23141 fixed this as well as #23059

[2019-03-11 23:12] #23089 closed

[2019-03-11 23:34] sandreenko commented on #18056
I do not think that we should keep this in 3.0, it is not a regression, we do not have a repro without stress modes and the cost of a good fix for that is high.

[2019-03-12 00:01] sandreenko commented on #21145
There is no actual work in this issue for 3.0, x64 Checked Windows_NT GCStress=0xc do not fail anymore because `DisabledPollingIntervalMilliseconds` was set to 20 secs now.
#22159 tracks the issue that was found here.

[2019-03-12 00:01] #21145 closed

[2019-03-12 00:02] ericstj commented on #23016
@adiaaida The way that the current arcade targets are set up is that they do everything short of running IBCMerge when its not available, just instead of running the command it will log a failure.  Observe the different conditions [here](https://github.com/dotnet/arcade/blob/master/src/Microsoft.DotNet.Arcade.Sdk/tools/OptimizationData.targets#L157-L163)

It looks to me like this build previously

[2019-03-12 00:17] AaronRobinsonMSFT commented on #15683
@MichalStrehovsky I have added a simple test for Default Interfaces at https://github.com/dotnet/coreclr/pull/23195. I didn't get very far before hitting an issue. There are other scenarios that need to be tested, but we have a failure as soon as an interfaces tries to provide an implementation of another interface's method. The basic scenario - an interface with a default implementation just work

[2019-03-12 00:21] stephentoub commented on #23191
See https://blogs.msdn.microsoft.com/ericlippert/2009/03/19/representation-and-identity/ for a thorough explanation of why this is by design.  Here's the punchline:

[2019-03-12 00:38] AaronRobinsonMSFT commented on #15683
Another scenario that will probably also fail is interspersed non-virtual functions in an interface definition.

[2019-03-12 01:08] VincentBu opened #23196 "[x64] Unable to produce a script file"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/checked_ubuntu/29850/

**Log:**
[code]

[2019-03-12 01:18] VincentBu opened #23197 "[x64] Assertion failed 'cls != NO_CLASS_HANDLE'"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_centos7.1_r2r_jitstress1_tst/178/

**log:**
[code]

[2019-03-12 01:19] AndyAyersMS commented on #23136
Seems like the modreq on the return value sig for the instantiating stub is causing the problem. The `SigBuilder` used in `CreateUnboxingILStubForSharedGenericValueTypeMethods` looks like it expands modopt class tokens into MT addresses.

Would explain why `ReadOnlySpan<T>.get_Item` hits this but not `Span<T>.get_Item`.

So we get a return sig that is "modreq mt-address byref internal mt-address"

[2019-03-12 01:27] VincentBu opened #23198 "[x64] Test failed: System.Text.Tests.EncoderConvert2.EncoderUTF8ConvertMixedASCIIUnicodeCharArrayPartial"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_ubuntu_corefx_baseline/864/

**Failed tests:**
System.Text.Tests.EncoderConvert2.EncoderUTF8ConvertMixedASCIIUnicodeCharArrayPartial
System.Text.Tests.EncoderConvert2.EncoderUTF8ConvertUnicodeCharArrayPartial
System.Text.Tests.EncoderConvert2.EncoderASCIIConvertMixedASCIIUnicodeCharArrayPartial

**Log:

[2019-03-12 01:38] VincentBu opened #23199 "[x64] Test failed: ilasm_System._Runtime_CompilerServices_MethodImplOptionsTests_MethodImplOptionsTests_._Runtime_CompilerServices_MethodImplOptionsTests_MethodImplOptionsTests_sh"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_ubuntu_gcstress0xc_tst/111/

**Failed tests:**
ilasm_System._Runtime_CompilerServices_MethodImplOptionsTests_MethodImplOptionsTests_._Runtime_CompilerServices_MethodImplOptionsTests_MethodImplOptionsTests_sh

**Log:**
[code]

[2019-03-12 02:18] #21089 closed

[2019-03-12 04:13] AaronRobinsonMSFT commented on #15683
I had to leave so I didn't get a chance to see what was crashing only that it did. I commented out the offending call in the test  https://github.com/dotnet/coreclr/blob/5b8b57574f3bdba8d2fd7f0d48b6aaa17e0fc23c/tests/src/Interop/COM/NativeClients/DefaultInterfaces/DefaultInterfacesTests.cpp#L77-L82

Implementation for the offending call is in
https://github.com/dotnet/coreclr/blob/5b8b57574f3bdba8

[2019-03-12 04:47] kouvel commented on #19759
I searched online for any other issues that may have been reported and did not find any new issues.

[2019-03-12 04:54] jkotas commented on #23136
I think that this is oversight. I do not see a good reason why the prestub code should be skipping the modreq for the return type in the sig.

[2019-03-12 05:55] kouvel commented on #23181
Yes this is due to https://github.com/dotnet/coreclr/issues/19751. There are several workarounds, see the issue description for more info. For testing perf a small project with loops, the easiest solution for now may be to add `<DisableTier0Jit>true</DisableTier0Jit>` to the project file under a `PropertyGroup` element, or to disable tiered compilation. I'm currently investigating to see if someth

[2019-03-12 05:55] #23181 closed

[2019-03-12 06:15] kouvel commented on #19764
@4creators, it looks like https://github.com/dotnet/coreclr/pull/19580 has been merged, could you please share a link to the benchmark code?

[2019-03-12 06:50] kouvel opened #23201 "[Tracking] Status of known perf issues with tiered compilation"
- [x] https://github.com/dotnet/coreclr/issues/19752 - Calls to virtual methods
  - Fixed by https://github.com/dotnet/coreclr/pull/21292, https://github.com/dotnet/coreclr/pull/21292#issuecomment-443090261 has relevant perf results
- [x] https://github.com/dotnet/coreclr/issues/19751 - Cold methods with hot loops
  - Several workarounds exist, issue description is updated with a list
  - Currentl

[2019-03-12 06:55] omfgicbf commented on #15693
We are seeing the same thing with .NET Core Runtime v2.2.2 (current) on ARM32 (Yocto Thud).

As with the other documented attempts, removing lttng-usg prevents the bug from manifesting, however, lttng-usg is still listed as a requirement in the official documentation [here](https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=netcore2x) and in our case, is required for other thing

[2019-03-12 07:18] jmezach commented on #22844
Was it ever a consideration to create a new API for this? Obviously that has pro's and con's, but at least that would allow backporting to earlier versions, right?

[2019-03-12 08:29] iSazonov commented on #23194
I suspect that JIT still makes few optimizations for static structures like these.

[2019-03-12 12:09] mattwarren commented on #19759
@kouvel I ran into some strange Tiered-Compilation results when writing [this blog post](https://mattwarren.org/2019/03/01/Is-CSharp-a-low-level-language/#using-mathf-functions-instead-of-math):

| Run        | C++ (VS C++ 2017) | .NET Framework (4.7.2) | .NET Core (2.2) TC OFF | .NET Core (2.2) TC ON |
|------------|:-----------------:|:----------------------:|:----------------------:|:----------

[2019-03-12 13:22] jkotas commented on #22844
We do not back port new APIs to earlier versions. The only exceptions may be critical bugs like security fixes.

[2019-03-12 13:39] jkotas commented on #15693
No. As you have said, @brianrob closed this as no repro.

@omfgicbf Do you see the same problem with .NET Core 3.0 preview builds? (https://devblogs.microsoft.com/dotnet/announcing-net-core-3-preview-3/)

[2019-03-12 13:40] Symbai commented on #23191
Thanks for the link, pretty much explains it.

[2019-03-12 13:40] #23191 closed

[2019-03-12 13:46] jkotas commented on #23198
CoreCLR/CoreFX out of sync (https://github.com/dotnet/coreclr/pull/23098)

[2019-03-12 13:46] #23198 closed

[2019-03-12 14:44] eli-fin opened #23207 "ILDASM - Not reporting errors"
If you run ildasm on a non-managed binary (like on itself), it will call DumpFile, which will fail when checking g_pPELoader->getCOMHeader().
It then tries to get the error message by calling [RstrUTF(IDS_E_NOCORHDR)](https://github.com/dotnet/coreclr/blob/master/src/ildasm/dasm.cpp#L7315).
This will end up in the switch case inside RstrW, which doesn't seems to handle this case, so an empty buffe

[2019-03-12 15:20] RussKeldorph commented on #23196
Jenkins failure

[2019-03-12 15:20] #23196 closed

[2019-03-12 15:21] RussKeldorph commented on #23194
@dotnet/jit-contrib

[2019-03-12 15:28] RussKeldorph commented on #23139
@richlander did you get the traces?

[2019-03-12 15:29] #23107 closed

[2019-03-12 15:33] RussKeldorph commented on #22975
This looks like a platform issue or a bug in the runtime or codegen around thread synch.  We probably need a crash dump to even begin to investigate.

[2019-03-12 15:43] RussKeldorph commented on #20911
@maoni0 Were you going to move this?

[2019-03-12 15:45] RussKeldorph commented on #22293
Closing at it seems primarily concerned with .NET Framework, not Core.  Feel free to open a new issue about Core if there are still problems.

[2019-03-12 15:45] #22293 closed

[2019-03-12 16:04] tarekgh commented on #21688
@dancrn closing this one, but feel free to respond back when having any more info.

[2019-03-12 16:04] #21688 closed

[2019-03-12 16:18] jashook commented on #23118
@BruceForstall yes, this looks like it should have an eng issue.

[2019-03-12 16:29] sergiy-k commented on #22996
Hi @AwsomeCode, Visual Studio 15.9 (or later) contains released/stable version of UWP 6.2.x. You should be able to use it to submit your app to the store.

Any chance you could provide a repro app for the issues that you have encountered? Thank you!

[2019-03-12 16:37] bgribaudo commented on #22413
@wfurt

The goal is for `WaitForever()` to force the process to stay around until it is killed externally (either by one of the variants of `Process.Kill()` or by test cleanup code.

[2019-03-12 16:45] sergiy-k commented on #22232
@josalem, could you please try to repro this issue?

[2019-03-12 16:47] sergiy-k commented on #22271
@BlackCentipede, @janvorli, is there anything else actionable here or this issue can be closed now? Thank you!

[2019-03-12 16:52] AndyAyersMS commented on #23194
I suspect we do not think literal constants are good candidates for loop invariant code motion. When the literal will cannot be contained we should perhaps reconsider as it will require a register at some point.

Would be easier to sort out if the allocator was aware of rematerializable values (that is, if the hoisting creates register pressure and we need to spill, these hoisted constants can be

[2019-03-12 17:01] zcsizmadia commented on #23176
@janvorli I rebuilt my coreclr with numa-dev packages installed on my local machine with "./build.sh x64 release", but ran int the following problem. It seems my libnuma.so is loaded, however InitCPUGroupInfoAPI (src/utilscode/utils.cpp), because  GetLogicalProcessorInformationEx is not available in the module referenced by GetCLRModule().

If I grep the "nm -D" of all the .so files in the bin/Pro

[2019-03-12 17:07] mikedn commented on #23194
Yep, https://github.com/dotnet/coreclr/blob/04fed62162092da2a824e425aa65b8fcfc70ce14/src/jit/optcse.cpp#L2584-L2590

I played with loop hoisting recently. It already seems to hoist too much in some cases, leading to extra spills. Also, I'm not sure how well the register allocator understands loops, if at all. Normally it should avoid spilling loop carried dependencies and prefer spilling invariant

[2019-03-12 17:20] wfurt commented on #22413
the test did not fail since updating the test. closing for now.

[2019-03-12 17:20] #22413 closed

[2019-03-12 17:21] AndyAyersMS commented on #23127
We're in the 3.0 endgame for the jit, and there doesn't seem to be any cheap / safe way to fix this, so marking as future.

[2019-03-12 17:24] AndyAyersMS commented on #23115
Marking this as future...

[2019-03-12 17:27] AndyAyersMS commented on #18748
Don't see us fixing this for 3.0 -- so moving to future.

[2019-03-12 17:41] AndyAyersMS commented on #19368
@BruceForstall seems like you should take this one?
cc @RussKeldorph

[2019-03-12 17:43] AndyAyersMS commented on #18145
@tannergooding can you help get this sorted out? Hoping there is no work left here.
cc @CarolEidt

[2019-03-12 17:51] AndyAyersMS commented on #18943
@CarolEidt seems like we should fix this? If you can sketch out what is involved I'll do it.

[2019-03-12 17:53] brianrob commented on #15693
Adding @noahfalk and @jorive who own this area now.

[2019-03-12 18:03] sandreenko commented on #22413
Did not fail where? The test is excluded for both arm32/arm64 using coreclr\tests\arm(64)\corefx_linux_test_exclusions.txt, can we reenable it?

[2019-03-12 18:06] wfurt commented on #22413
we have ARM64 daily runs: https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190312.2

I also have access to test result database and I can queries for official runs as well PRs.

Do we publish coreclr runs to helix result database?

[2019-03-12 18:11] AndyAyersMS commented on #18144
Does not seem likely to me that we will be able to address this in 3.0.

Anyone on @dotnet/jit-contrib disagree?

[2019-03-12 18:13] robertborr opened #23211 "Misc build failures in 'official/dotnet/coreclr/refs/heads/master' - '20190312.71'"
@dotnet-mc-bot commented on [Tue Mar 12 2019](https://github.com/dotnet/core-eng/issues/5473)

There were a set of failures during this build. Here is a summary of these:
* https://dnceng.visualstudio.com/internal/_build/results?buildId=121718
  - **Agent:** a0000JD
  - **Error log:** ERROR: An error occurred in /__w/2/s/.dotnet/dotnet msbuild /nologo /verbosity:minimal /clp:Summary /p:RestoreDefa

[2019-03-12 18:13] AndyAyersMS commented on #23102
If this is really an enhancement we should move it to future.

[2019-03-12 18:16] CarolEidt commented on #18943
@AndyAyersMS - I'm not sure exactly where the issue arises. I would even take with a grain of salt my statement above that r11 is the correct register. I would start by looking at why the argEntry for this node is getting r8. I *think* it's the case that `fgMorphTailCall` is done prior to `fgInitArgInfo` and that it is probably `fgInitArgInfo` where the issue lies, but I'm not certain.

Based on t

[2019-03-12 18:16] sandreenko commented on #22413
Got it, thank you, I will try to reenable it in our testing.

We do not publish Jenkins test results to Kusto anymore. We have results for ADO, but they are not that intresting for CoreFX testing ( we do not run arm32/arm64 there).

[2019-03-12 18:28] richlander commented on #23139
@RussKeldorph The traces were re-created today. We should have them later today.

[2019-03-12 18:28] jashook commented on #18943
On first glance I do not have much to add other than this seems like it should not be punted out of 3.0. Will try to get a jit dump quickly and see if I can give me insight.

[2019-03-12 18:32] BruceForstall commented on #23102
I implemented this with https://github.com/dotnet/coreclr/pull/23119, just forgot to reference / close the issue.

[2019-03-12 18:32] #23102 closed

[2019-03-12 18:33] CarolEidt commented on #18144
I would not like to punt this out of 3.0 yet. I started work on this, but it hasn't bubbled up above other issues. I'll try to assess status on this by the end of this week.

[2019-03-12 18:36] wfurt commented on #22413
BTW ARM32 is in progress. Without daily runs it would be difficult for us to work on fixes.
ARM64 runs are pretty clean now - with similar random failures as x64.

[2019-03-12 18:54] BruceForstall commented on #19368
I'll take it, but it's not a 3.0 issue, so I'll move it out of 3.0.

[2019-03-12 19:17] jmiddour commented on #23139
The traces have been recreated and sent.  Thank you for looking at the issue with us.

[2019-03-12 19:20] MarcoRossignoli opened #23213 "JIT: possible improvement related to struct field order"
While I was working on https://github.com/dotnet/coreclr/pull/22832 I found a different emitted code and regression in performance of particular test related to struct field order of type int/uint
[code]
[code]
uint before
[code]
[code]

Clearly the latter is slower than the former.

/cc @jkotas @danmosemsft

[2019-03-12 19:23] AndyAyersMS commented on #19368
Can you comment on why it's not a 3.0 issue?

[2019-03-12 19:35] mikedn commented on #23213
Interesting, JIT's CSE had the bad idea of CSE-ing the address mode, that `lea` is bad for perf.

[2019-03-12 19:41] weltkante commented on #9265
What is up with this? [this doc](https://github.com/dotnet/docs/blob/master/docs/core/rid-catalog.md) says to check [runtime.json](https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtime.json) for supported runtime identifiers. I see linux x86 variants in there, but can't get them to work on my ubuntu sandbox.

Missing x86 support has been holding me back from porting

[2019-03-12 20:00] BruceForstall commented on #19368
The diagnostics team does not include the profiling apis for arm64 as a 3.0 committed feature.

[2019-03-12 20:19] kouvel commented on #19759
I'm seeing slightly lower perf with tiering, and looks like it's due to https://github.com/dotnet/coreclr/issues/19751. I'm seeing:

TC off | TC on | TC on DisableTier0Jit
-- | -- | --
41.83 | 43.87 | 42.10

For these types of benchmarks, for now a decent workaround may be `DisableTier0Jit` or to disable tiered compilation. I'm looking into whether it would be feasible to do that automatically for

[2019-03-12 21:01] BruceForstall commented on #16544
@adityamandaleeka You've fixed a number of Windows/Linux arm64 parity issues. Do you want to take this one, too?

[2019-03-12 21:07] tannergooding commented on #18145
No.1 and No.2 haven't been resolved and need a separate proposal addressing them logged against CoreFX and in the recommended format (https://github.com/dotnet/corefx/issues/35768 tracks some of the issues raised).
The primary issue here is that `PMOV*` has both sign-extending and zero-extending versions. We need to ensure these take types and are exposed in a mechanism that is familiar to existin

[2019-03-12 21:09] Maoni0 commented on #20911
so I was going to transfer this and there's only very few repos available when I did "transfer issues" and "choose repos" and core-setup was not on the list. I was going to ask you about it but then got side tracked. sorry about that. would you like to transfer this?

[2019-03-12 21:27] robertborr opened #23214 "ToolsError build failures in 'official/dotnet/coreclr/refs/heads/release/3.0' - '20190312.73'"
@dotnet-mc-bot commented on [Tue Mar 12 2019](https://github.com/dotnet/core-eng/issues/5476)

There were a set of failures during this build. Here is a summary of these:
* https://dnceng.visualstudio.com/internal/_build/results?buildId=122003
  - **Agent:** a0000JI
  - **Error log:** /root/.nuget/packages/microsoft.dotnet.helix.sdk/2.0.0-beta.19128.3/tools/Microsoft.DotNet.Helix.Sdk.MultiQueue.ta

[2019-03-12 21:39] voinokin commented on #18145
Regarding No. 6 - my point is it's not helper method, but rather a separate operation which loads values and extends them to 16/32/64 bits. This can currently be replaced with several ops using typecasting:
- 16-bit operands: Load [m16x2] from pointer cast to u32*/i32* as scalar into vector + reverse typecasting + Z/S-extend
- 32-bit operands: Load [m32x2] from pointer cast to u64*/i64* as scalar

[2019-03-12 21:46] tannergooding commented on #18145
Might be misunderstanding, but this isn't a singular hardware instruction; so it would be classified as a helper (it is implemented in terms of the actual intrinsics) rather than being an actual hardware intrinsic itself.

Given that it isn't a singular hardware instruction, and it isn't considered one of the "core" operations (which is basically just creating a vector and accessing individual ele

[2019-03-12 21:56] saucecontrol commented on #18145
That should be just the `xmm/mem` encoded versions of PMOV[ZS]X[BWD][WDQ].  These are already handled by containment, but the correct `mem` overloads are addressed in https://github.com/dotnet/corefx/issues/35768

[2019-03-12 21:58] AaronRobinsonMSFT commented on #15683
@MichalStrehovsky I added some of these functions to the COM test and it worked, so this is also good. The only real issue blocking managed COM server consumption from native (CCW) is the redefinition of an existing default interface function. I have not written an RCW scenario so that is something that needs to happen at some point. We should keep this issues open to track RCW testing and the CCW

[2019-03-12 21:58] voinokin commented on #18145
Here you have it (sorry, found no better way for now):
https://gcc.godbolt.org/z/TglHbD

Also, check 3rd form from the top https://www.felixcloutier.com/x86/pmovzx
66 0f 38 32 /r --- PMOVZXBQ xmm1, xmm2/m16 --- Zero extend 2 packed 8-bit integers in the low 2 bytes of xmm2/m16 to 2 packed 64-bit integers in xmm1.

[2019-03-12 22:02] tannergooding commented on #18145
`PMOVZXBQ` is covered by `ConvertToVector128Int64`, the encoding of the memory operand is being tracked by https://github.com/dotnet/corefx/issues/35768.

[2019-03-12 22:15] voinokin commented on #18145
I confirm - dotnet/corefx#35768 covers my understanding expressed in item No. 6
It's nice we will have these APIs implemented :-)

[2019-03-12 23:14] sandreenko commented on #20603
I think it doesn't repro anymore. I will check.

[2019-03-12 23:20] sywhang opened #23217 "Testing new EventCounter APIs"
These (internal) APIs are added with https://github.com/dotnet/coreclr/pull/23077. The intent is that these APIs will go public for 3.0 timeframe.

This issue tracks adding tests that cover the following behavior of these APIs.

EventCounter
- [ ] New property - DisplayName

PollingCounter
- [ ] Basic constructor with a callback function.
- [ ] Error handling

IncrementingPollingCounter
- [ ] Basi

[2019-03-12 23:34] ShonkyCH opened #23218 "ARM32 3.0.100-preview3 SDK includes x86-64 "apphost" binary"
```/sdk/3.0.100-preview3-010431/AppHostTemplate/apphost```

is an x86-64 binary:

```ELF 64-bit LSB executable, x86-64, version 1 (SYSV), dynamically linked, interpreter /lib64/ld-linux-x86-64.so.2, for GNU/Linux 2.6.32, BuildID[sha1]=94bfae5d6580d203c7d9b4aa776ff09954453fff, stripped```

[2019-03-12 23:46] #23136 closed

[2019-03-13 00:18] omfgicbf commented on #15693
A basic "Hello World!" seems to work OK with Microsoft.NETCore.App 3.0.0-preview3-27503-5 on linux-arm.

[2019-03-13 01:20] BruceForstall commented on #19985
The regular run link is:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_ubuntu16.04_gcstress0x3_tst/

The same test (tracing/tracevalidation/tracelogging/tracelogging/tracelogging.sh) continues to fail with this assert. All other tests pass.

It's interesting that the job takes only 1 hour, 17 minutes on these 46 (?) core machines.

[2019-03-13 02:59] kouvel opened #23221 "Add/update ETW events for tiering to help with diagnostics"
- ETW event to indicate whether tiering is enabled or not, to be used by PerfView for JIT stats page. Currently my understanding is that the method it uses does not necessarily indicate that tiering is enabled.
- Update the JIT ETW event data to indicate the tier along with a native code version ID, to be used by PerfView to link or separate native code versions of a method based on a switch
- ETW

[2019-03-13 03:01] kouvel opened #23222 "Update PerfView to separate tiers with a switch"
To be able to tell how much time is being spent in tier 0 vs tier 1

[2019-03-13 03:33] mattpwhite commented on #20287
1. Mostly CLI apps.  Small Windows services and the occasional WPF app are interesting too.  For web stuff, single file distribution seems basically irrelevant.  For this reason, the rest of this is mostly Windows-oriented; our Linux .NET Core interest is around the web stuff.
1. Sometimes.  When it does, it's almost always for compression libraries.  If the native stuff didn't get packed in, it w

[2019-03-13 03:49] kpreisser opened #23223 "ConditionalWeakTable causes a memory leak if one of their values references the table"
Hi,

I found an odd behavior of `System.Runtime.CompilerServices.ConditionalWeakTable<TKey, TValue>` in both .NET Core and .NET Framework which looks like a bug to me: If you create multiple instances of the `ConditionalWeakTable` and store a key-value pairs in them, where the key stays alive and the value contains a reference to the `ConditionalWeakTable`, the values are not garbage-collected aft

[2019-03-13 04:47] x2bool commented on #20287
1. Single file distribution would be super useful for https://github.com/AvaloniaUI/Avalonia (Windows, Linux, MacOS) and WPF (Windows) apps. Having single exe makes autoupdates easy for example, and in general it's more convinient to have single file compared to a hundred of dlls.
2. Yes (in the sense that it references prebuild native libs such as sqlite and skia)
3. No
4. Yes
5. 200ms is probabl

[2019-03-13 06:17] dotnet-mc-bot opened #23224 "Test failure: tracing_keyword._TwoKeywords_TwoKeywords_TwoKeywords_/_TwoKeywords_TwoKeywords_TwoKeywords_cmd"
Opened on behalf of @AriNuer

The test `tracing_keyword._TwoKeywords_TwoKeywords_TwoKeywords_/_TwoKeywords_TwoKeywords_TwoKeywords_cmd` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190312.77 (Ready-To-Run Tests)
Failing configurations:
- Windows.10.Arm64
  - arm64

Details:
https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmas

[2019-03-13 08:09] sywhang commented on #23224
cc @cshung

[2019-03-13 09:39] mattwarren commented on #19759
Out of interest, do you see the variability that I was seeing across multiple runs? For me 'TC OFF' was more stable, but 'TC ON' produced more variable times?

Thanks for the tip about `DisableTier0Jit`, I'd not heard about that config option.

[2019-03-13 14:04] janvorli commented on #22975
I was trying to repro it on my local x64 Linux box (Ubuntu 16.10) last week running that test in a loop and running `stress` side by side with it. Thousands of iterations completed just fine.
I've tried a checked build of coreclr.

[2019-03-13 14:10] janvorli commented on #22975
I wonder - were the failures by any chance in release build?

[2019-03-13 14:24] thewilsonator opened #23228 "Stack Overflow with PAL in coreclr_initialize"
OS: OSX
Using the latest release.

Trace looks like:
[code]
it only crashes under a debugger, it simply hangs on further API calls when not.

I note [the source](https://github.com/dotnet/coreclr/blob/fcfc3baa491b0ac7eb6a9cb73e3b2d46cb5929a0/src/dlls/mscoree/unixinterface.cpp#L179) says to return early to avoid more errors with PAL. Passing completely bogus values for every parameter seems to make

[2019-03-13 15:08] jkotas commented on #23228
cc @janvorli

[2019-03-13 15:41] jashook commented on #22975
Correct the failure was in a release build.

[2019-03-13 15:44] RussKeldorph commented on #23124
@sywhang `inducedgc` is also failing on Alpine.  Could you fix it or disable it for that case as well?

https://dnceng.visualstudio.com/internal/_build/results?buildId=122003&view=ms.vss-test-web.build-test-results-tab

[2019-03-13 15:47] janvorli commented on #22975
Ok, I'll retry with the release build.

[2019-03-13 16:26] dancrn commented on #21688
@tarekgh sorry for taking _forever_ to respond - i'll give you more information now though.

ok, to recap, the issue is being exposed when we have a default-valued `DateTimeOffset` struct. this value cannot be reliably round-tripped in a large number of libraries. having examined the source of a few libraries (namely `Npgsql` and `Json.NET`), they will make a call to `DateTimeOffset.ToLocalTime()`

[2019-03-13 16:28] tannergooding opened #23230 "Marshal.SizeOf throws for enum types"
Attempting to call `Marshal.SizeOf` for an enum type currently results in the following:
[code]

As far as I am aware, enums are considered to be blittable as they are internally just a value type that contains a single field of a blittable type (generally this is `int32`). However, there isn't anything explicit about enum marshalling in https://docs.microsoft.com/en-us/dotnet/framework/interop/bl

[2019-03-13 16:30] tannergooding commented on #23230
CC. @jkoritzinsky

[2019-03-13 16:33] sylveon commented on #23230
Same happens with delegate types, which are also supposed to be marshallable as function pointers.

[code]

[2019-03-13 16:33] tannergooding commented on #23230
This might be failing because it looks the C# compiler is emitting enums as `auto` layout, rather than `sequential` as it does for other value types.

CC. @jaredpar

[2019-03-13 16:44] sdmaclea commented on #20979
There is a request to make the culture directory search case-insensitive.  I believe this is reasonable.

[2019-03-13 17:01] janvorli commented on #23224
It keeps failing in my PR in the Windows_NT x86 Release Innerloop Build and Test leg:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/x86_release_windows_nt_innerloop_prtest/13448/
I've tried to re-run the leg few times, getting the same failure.

[2019-03-13 17:03] tarekgh commented on #21688
@dancrn thanks for the info. Using '0001-01-01 00:00:00.000000+00:00' as the default is not good idea anyway because the conversion to local for sure will not work. I mean you'll not be able to round trip that with all time zones. I would suggest you use some other defaults (e.g. UnixEpoch). sorry, we have some limitation which would be difficult to change.

[2019-03-13 17:05] BruceForstall commented on #23197
I also see:
[code]
here:
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_ubuntu_corefx_jitstress1/883/consoleFull

[2019-03-13 17:18] dancrn commented on #21688
thanks for the reply!

we're not _trying_ to round trip this value - it's an odd choice of behavior by libraries that we cannot control :(

for various technical reasons, we need to be able to support this value of `DateTimeOffset`. In any case, the `DateTimeOffset.MinValue` round tripping _works_ on windows, it's only on macOS and Linux that has this issue - although all platforms share the `Date

[2019-03-13 17:21] BruceForstall commented on #22449
@sandreenko Can we close this issue? If it's not a known JIT bug, the guidance is to ignore (and disable) any unstable System.Net tests in coreclr CI.

[2019-03-13 17:23] BruceForstall commented on #20226
@AndyAyersMS Can we close this bug, and let it come back if the failures return?

[2019-03-13 17:25] BruceForstall commented on #20209
@echesakovMSFT Are you still planning to investigate this?

[2019-03-13 17:30] BruceForstall commented on #19860
@jashook Is this something that needs to be fixed for 3.0?

[2019-03-13 17:32] jashook commented on #19860
Not necessarily; however, it will be fixed with https://github.com/dotnet/coreclr/pull/19223 which I would like to keep in 3.0.

[2019-03-13 17:34] jorive commented on #23224
[code]

[2019-03-13 17:41] BruceForstall commented on #15224
This bug is old and has not been investigated. I'm going to close it, and assume if the problem still occurs, the bug will come back.

[2019-03-13 17:41] #15224 closed

[2019-03-13 17:47] sandreenko commented on #20603
Ran 100 times, no failures.

[2019-03-13 17:47] #20603 closed

[2019-03-13 18:03] jorive commented on #23224
Might be related to this: https://github.com/dotnet/coreclr/issues/23024

[2019-03-13 18:03] sandreenko commented on #22449
It is disabled now (in tests\arm64\corefx_linux_test_exclusions.txt), can we just change the milestone for it? I do not want to have an exclusion that points to a closed issue without resolution.

[2019-03-13 18:03] 0xd4d commented on #23230
"14.3 Enums [...] they shall have auto field layout (§10.1.2)"

[2019-03-13 18:07] echesakovMSFT commented on #20209
Unassigned myself, @BruceForstall feel free to take it

[2019-03-13 18:10] AndyAyersMS commented on #20226
Sure. I am suspicious of all CoreFX failures, especially old ones.

[2019-03-13 18:10] #20226 closed

[2019-03-13 18:11] AndyAyersMS commented on #21684
Will close and we can reopen if this recurs once we are on a better footing with CoreFx testing.

[2019-03-13 18:11] #21684 closed

[2019-03-13 18:22] BruceForstall commented on #22449
I don't see us ever investigating any System.Net failures. But minimally yes, please change the milestone.

[2019-03-13 18:39] hoyosjs commented on #22827
@jorive given that these issues have stopped after the profiler changes were reverted, should we keep this open?

[2019-03-13 18:45] BruceForstall commented on #22820
@AndyAyersMS Should the milestone be changed to 2.1/2.2?

[2019-03-13 18:50] #22940 closed

[2019-03-13 18:51] BruceForstall commented on #22780
@erozenfeld This passed in the latest run (https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_gcstress0xc_zapdisable_jitstress2/128). Can we close the issue?

[2019-03-13 18:55] erozenfeld commented on #22780
I wasn't able to repro this in tens of thousands of tries on my machine. Closing for now.

[2019-03-13 18:55] #22780 closed

[2019-03-13 19:04] jeffschwMSFT commented on #22902
@fanliang11 can you share a bit more on when this code is executing?  Have you hooked an event to execute on process shutdown?

[2019-03-13 19:04] josalem commented on #22232
I'm able to reproduce the crash and message in VS as described.  After a little digging, it looks like the AV shown in VS is most likely a stack overflow that is not being bubbled up correctly.  I'm taking a deeper look at why the SO is being incorrectly reported in VS.

Debugging this repro under windbg shows a stack overflow.  Similarly, if you run the application without the VS debugger, you wi

[2019-03-13 19:06] jeffschwMSFT commented on #23171
@ststeiger were you able to try running as a Framework-dependent executable?

[2019-03-13 19:18] tarekgh commented on #21688
To understand more about your scenario: the date "0001-01-01 00:00:00+00", who originally instantiate this date? is it you or this is something can be passed to you from outside data? looks this date is not really have any meaning more than just default. would it be ok to check if you have such date and at that time always use UTC tz?

[2019-03-13 19:22] ststeiger commented on #23171
[I've switched to C++](https://github.com/ststeiger/cef-pdf) - went through [cmake hell](https://github.com/spajak/cef-pdf/issues/25#issuecomment-471713916), but now that works.
I've not been able to get [it](https://github.com/ststeiger/CefGlue_NetStandard/tree/master/PdfGlue) to work with C# on Linux.

Also, I don't see why using the shared runtime should solve my problem.
I've already done the

[2019-03-13 19:40] #23151 closed

[2019-03-13 19:43] jeffschwMSFT commented on #23171
Standalone and framework-dependent executables use the same entry point, that is why it would help in this situation.

By moving to C++ are you hosting .NET Core via the hosting API?  What is not working for you on Linux?

[2019-03-13 19:46] sandreenko opened #23235 "tracing\keyword\TwoKeywords often fails with timeout"
This test often fails on x86 release with "Timed Out".

The test was added in #23094.

[An example from x86 release scheduled job. ](https://ci.dot.net/job/dotnet_coreclr/job/master/job/x86_release_windows_nt/6462/)
[
example from a PR triggered job](https://ci.dot.net/job/dotnet_coreclr/job/master/job/x86_release_windows_nt_innerloop_prtest/13430/).

Looks like it happens only on x86 release.

[2019-03-13 19:57] 0xd4d commented on #22232
Could be related: https://github.com/dotnet/coreclr/issues/21579

[2019-03-13 20:06] jorive commented on #22827
@hoyosjs Good point!

[2019-03-13 20:07] jorive commented on #22827
These issues stopped repro'ing since the profiler changes were reverted. Closing.

[2019-03-13 20:07] #22827 closed

[2019-03-13 20:09] cshung commented on #23235
https://github.com/dotnet/coreclr/issues/23224

[2019-03-13 20:09] cshung commented on #23224
https://github.com/dotnet/coreclr/issues/23235

[2019-03-13 20:12] sandreenko commented on #23235
Closed as a duplicate.

[2019-03-13 20:12] #23235 closed

[2019-03-13 20:18] ststeiger commented on #23171
By moving to C++, i'm running it in a command-line application with a web-interface.

Well, What is not working on Linux, that's a good question.
I added logging to stdout in C#, and below is the result.

It seems to be stuck in an infinite loop.
Just if it were a program bug, it wouldn't work on windows either.
So this probably is something the C# runtime/vm/dotnet/whatever  is doing...

Here's t

[2019-03-13 20:51] BruceForstall commented on #22345
@AndyAyersMS The job you linked passed. Should the issue be closed?

[2019-03-13 21:10] BruceForstall commented on #17815
@CarolEidt Is this issue still valid, and needed for 3.0? Can you update this bug description to point to the assert(s) in question (or copy the relevant context of code into the bug description)? The code has changed since the issue was opened.

[2019-03-13 21:12] BruceForstall commented on #18144
@CarolEidt I'm going to assign this to you, for now, if you are currently investigating.

[2019-03-13 21:17] gafter opened #23241 "New IL instruction for typeswitch"
It would be very convenient to have a CLR instruction for switching on the type of an object.  The C# compiler could use this to generate code for a pattern-matching switch statement.  The IL instruction would be followed by a series of *(type, label)* pairs.  At runtime it would consume its operand, determine the first type in the list that the object inherits from, and jump to the corresponding

[2019-03-13 21:17] sandreenko opened #23242 "[Ubuntu][arm64] CoreFX RunRegionSpecificStandardFormatToStringTests timeout."
The test fails in Jenkins with timeout:
[code]

It passes in CoreFX arm64 Linux Release testing ([example](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fpull~2F35919~2Fmerge/test~2Ffunctional~2Fcli~2F/20190309.19/workItem/System.Runtime.Numerics.Tests/wilogs)) and takes ~10 seconds:
~/dotnetbuild/work/01450a41-3792-437e-b769-26dd789bf68f/Work/8c89a9aa-a6fe-4a55-897f-d0468967ec

[2019-03-13 21:19] AndyAyersMS commented on #22345
The run after that had a raft of NO_CLASS_HANDLE asserts but also another random-seeming 139 (SIGSEGV) failure:
[code]
So it feels like there is a sporadic hard to repro and perhaps stress-self-inflicted issue lurking out there.

[2019-03-13 21:19] BruceForstall commented on #18877
@CarolEidt @tannergooding Is this something that will just be a one-time manual audit, or does code need to be written? Does this need to be in 3.0? If so, can someone take ownership?

[2019-03-13 21:26] #23159 closed

[2019-03-13 21:27] CarolEidt commented on #23197
Fixed with #23193

[2019-03-13 21:27] #23197 closed

[2019-03-13 21:32] tannergooding commented on #18877
This just needs to be a one time manual audit. I believe I already did this when I added the instruction flags support, but it wouldn't hurt for someone to do it again.

[2019-03-13 21:37] AndyAyersMS commented on #22820
Makes sense, yes.

[2019-03-13 21:39] #23081 closed

[2019-03-13 21:46] AndyAyersMS commented on #23213
Also would be nice to fold in the scale.

Marking this as future.

[2019-03-13 22:22] BruceForstall commented on #19023
@noahfalk It doesn't seem like this is a 3.0 issue, so I'm moving it to Future.

[2019-03-13 22:26] BruceForstall commented on #19483
@tannergooding @echesakovMSFT This doesn't seem like a 3.0 issue. Can we move it to Future?

[2019-03-13 22:38] #23147 closed

[2019-03-13 23:25] echesakovMSFT commented on #19483
Agree

[2019-03-13 23:53] BruceForstall commented on #21635
@tannergooding @CarolEidt @fiigii Do you expect changes to be made here for 3.0?

[2019-03-14 00:02] fiigii commented on #21635
IMO, the current knobs are enough for 3.0. And some new features mentioned in this issue (like `VectorTSize`) may depend on the work (1) decoupling hardware intrinsic from `FEATURE_SIMD` and (2) implementing `S.N.Vector<T>` operations in hardware intrinsic. So, I suggest putting the issue to "future".

[2019-03-14 00:09] thewilsonator commented on #23228
Correct. Did I miss binary releases somewhere?

I'm trying to host .NET core in an app of my own. FWIW it uses (native) TLS and and SIGUSR1(2?) signal handlers that are already initialised by the time `coreclr_initialize` s called. It is single threaded at this point.

[2019-03-14 00:16] jeffschwMSFT commented on #23171
What does this do?  From the output it looks like it is launching an identical copy of itself.  What is intended to happen here?

[2019-03-14 00:17] janvorli commented on #23228
It is fine to use the self-built binaries, but you need to also use matching binaries from corefx.
The easiest way to start with self-hosting is to use binaries from .NET Core runtime that you can download as a tarball e.g. from http://dot.net or maybe better, to get the latest ones built from the most recent sources at https://github.com/dotnet/core-sdk (for your case, it would be https://dotnetc

[2019-03-14 00:34] briansull commented on #21231
Resolved with PR #23109

[2019-03-14 00:34] #21231 closed

[2019-03-14 01:31] VincentBu opened #23248 "[arm] java.io.EOFException"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/arm_cross_checked_ubuntu/3276/

**Log:**
[code]

[2019-03-14 01:31] #19846 closed

[2019-03-14 02:21] AndyAyersMS commented on #20937
Most of the interesting discussion on this is happening over in #22984.

[2019-03-14 02:43] sywhang commented on #23124
@RussKeldorph #23240 should disable it for Alpine.

[2019-03-14 05:12] thewilsonator commented on #23228
Ahh, thats where it was hiding. For future reference directories ending in `.App` don't show up as directories, so assume the folks on OSX are likely to miss them.

Using that `libcoreclr.dylib` seems to have got rid of the stack overflow, but I still get `8007001f` returned from

[code]

[2019-03-14 05:16] thewilsonator commented on #23228
Ah, just realised I've read the `TRUSTED_PLATFORM_ASSEMBLIES` docs wrong.

[2019-03-14 05:40] gregg-miskelly opened #23252 "zh-CN/zh-TW don't use parent cultures of zh-Hans/zh-Hant on Linux"
1. Create a new program
2. Localize strings for this program in Chinese using locales zh-Hans/zh-Hant as Microsoft does.
3. Change the thread's UI Culture to zh-CN or zh-TW
4. Attempt to load strings

Result:
On Windows, because zh-CN and zh-TW have parent cultures of zh-Hans/zh-Hant, the resource dll will load.

On Linux (Ubuntu 18.04), the parent cultures aren't there, so the program must be sma

[2019-03-14 06:15] 6opuc commented on #10524
@ipinak The real problem related to huge vm usage is that the coredumps created from dotnet processes are too huge too. Real example: I'm running console app which uses less than 100MB of memory, but virtual memory usage is always near 10GB. When I create coredump of this app under Linux, the size of this coredump is 10GB too. When I create process dump of the same app under Windows, the size of t

[2019-03-14 06:43] thewilsonator commented on #23228
Hmm, I'm still getting the same error with
[code]

[2019-03-14 07:28] v-haren opened #23253 "java.nio.channels.ClosedChannelException"
failed in job: https://ci2.dot.net/job/dotnet_coreclr/job/perf/job/master/job/perf_perflab_Windows_NT_x64_full_opt_ryujit_smoketest/2441/

failed log:
ERROR: Failed to archive artifacts: bin/sandbox_logs/**/*_log.txt,bin/sandbox_logs/**/*.csv,bin/sandbox_logs/**/*.xml,bin/sandbox_logs/**/*.log,bin/sandbox_logs/**/*.md,bin/sandbox_logs/**/*.etl,machinedata.json
java.nio.channels.ClosedChannelExcept

[2019-03-14 07:30] v-haren opened #23254 "C:\J\w\perf_throughp---a214e272>exit 1"
failed in job: https://ci2.dot.net/job/dotnet_coreclr/job/perf/job/master/job/perf_throughput_perflab_Windows_NT_x64_full_opt_ryujit_pgo/4084/

failed log:
C:\J\w\perf_throughp---a214e272>exit 0
[perf_throughp---a214e272] $ cmd /c call C:\Users\ADMINI~1\AppData\Local\Temp\jenkins2075244839426956935.bat

C:\J\w\perf_throughp---a214e272>C:\Tools\nuget.exe install Microsoft.BenchView.ThroughputBenchm

[2019-03-14 09:31] janvorli commented on #23228
Please take a look at my comment https://github.com/dotnet/coreclr/issues/22271#issuecomment-458699071, there is an example of how the keys and values are set when running our simple `corehost` host. Maybe you'll spot the difference.

[2019-03-14 09:48] ajain04 commented on #20236
Is this fix available in .NET Core 2.1.9 release?

[2019-03-14 09:49] janvorli commented on #10524
I wonder what is your setting in `/proc/self/coredump_filter`.

[2019-03-14 10:22] 6opuc commented on #10524
cat /proc/self/coredump_filter
00000033

[2019-03-14 10:30] janvorli commented on #10524
Ok, that's the default. Hmm, I wonder if we can do anything with the size of the core dump so that it doesn't include pages that were just reserved (allocated by mmap with PROT_NONE option). I can see that madvise can be used with MADV_DONTDUMP to prevent a range of memory from being included in the core dump, so maybe it could be used in some way.

[2019-03-14 10:43] dancrn commented on #21688
we can consume a `DateTimeOffset` value from our web api, although we also need to use this value in some instances for correctness of our business logic.

we already enforce that it is for the UTC time zone. libraries that we use in our code base perform this round tripping (again, i don't know _why_ they do this) and this is where the issue becomes apparent for us.

[2019-03-14 10:50] 6opuc commented on #10524
How can I help to implement/test this modification? Maybe some directions in source code so I can test it on my side?

[2019-03-14 11:35] ststeiger commented on #23171
https://xilium.bitbucket.io/cefglue/doc/html/8E10344C.htm

[2019-03-14 11:49] janvorli commented on #10524
@6opuc that would be awesome! I think that we could add call to madvise MADV_DONTDUMP in this function for the range we've reserved:
https://github.com/dotnet/coreclr/blob/6958ede8e835048b9d1ee9843d7587cacf527101/src/pal/src/map/virtual.cpp#L958
Then add call to madvise with MADV_DODUMP for the commited range in
https://github.com/dotnet/coreclr/blob/6958ede8e835048b9d1ee9843d7587cacf527101/src/pa

[2019-03-14 11:55] 6opuc commented on #10524
Thanks a lot! I'll try that today and let you know about the results

[2019-03-14 12:37] RussKeldorph commented on #23248
Jenkins failure

[2019-03-14 12:37] #23248 closed

[2019-03-14 15:34] NVoronchev commented on #3422
Hi!

I have try the following program in Debian 9 and it seems mutex is not global (cross-process):
[code]
I started two instances of the application and both of them counting down simultaneously.

Would you be so kind to clarify is it my mistake or Mono bug?

[2019-03-14 15:36] stephentoub commented on #3422
Are you using .NET Core or Mono?

[2019-03-14 15:39] NVoronchev commented on #3422
@stephentoub, I try Mono `5.18.0.240` and `6.1.0 (master/72512cfbcbc Thu Feb 21 19:00:53 MSK 2019)`.

[2019-03-14 15:40] stephentoub commented on #3422
Thanks.  This issue / repo are for coreclr.  Can you open an issue instead in http://github.com/mono/mono?

[2019-03-14 16:17] NVoronchev commented on #3422
@stephentoub, Oh, I see. I chose wrong project. My apologies!

[2019-03-14 16:17] josalem commented on #22232
@davidfowl - The SO may be considered a bug in ASP.NET Core as well.  Even though it is improper use of the dependency injection APIs, there isn't an exception or error message indicating that this use is improper.  The stack overflow looks to be a recursive search into the concurrent dictionary that houses registered services: `services.AddSingleton<ICrashDotNetExecutable>(sp => sp.GetService<ICr

[2019-03-14 16:30] BruceForstall commented on #22443
@Maoni0 Have you had a chance to do this yet?

[2019-03-14 16:32] BruceForstall commented on #23172
The subsequent run passed.

[2019-03-14 16:32] #23172 closed

[2019-03-14 16:35] BruceForstall commented on #22422
@Maoni0 Have you seen this one? Does it need to be marked Milestone=3.0? or Future?

[2019-03-14 16:50] AaronRobinsonMSFT commented on #23253
This is flakey Jenkins. The leg should be restarted.

[2019-03-14 16:50] #23253 closed

[2019-03-14 16:55] AaronRobinsonMSFT commented on #23230
@tannergooding Given that ECMA-335 indicates they will be auto, what would you like to see here? Is your base assumption the size should by default be `4`? Basically, what would you intuitively expect the size to be?

[2019-03-14 17:03] josalem commented on #20179
All phases have been merged in!

[2019-03-14 17:03] #20179 closed

[2019-03-14 17:10] stephentoub commented on #3422
No worries; it's confusing :)

[2019-03-14 17:18] jkotas commented on #23230
The size of the underlying type, i.e. the following should hold:

`sizeof(MyEnum) == Marshal.SizeOf<MyEnum>()`

If we do something here, we should make all the Marshal APIs consistent. E.g. `Marshal.PtrToStructure` should handle enums too.

[2019-03-14 17:21] tannergooding commented on #23230
Exactly what @jkotas said. Enums are blittable value-types and the only reason they don't work here is because of a runtime rule that says they should have `auto` layout. They always have a single field of type `Enum.GetUnderlyingType` and so I don't believe that the `auto` rule actually matters.

I think they should likely be special-cased here and should be fully supported by the `Marshal` class

[2019-03-14 18:01] AaronRobinsonMSFT commented on #23230
I am not entirely convinced of this yet. There are cases involving `DISPARAM`s that only support `VT_I4` or `VT_U4` which means they aren't marshalable in all cases if users change the underlying type.

I don't know why the decision was made, but this isn't entirely fair because it could have been specifically for the `DISPARAM` scenario. We should see if we can determine the history of that prior

[2019-03-14 18:06] jkotas commented on #23230
Note that the struct-marshaling methods on Marshal are super slow. We do recommend using them for anything that matters. Fixing this for consistency is ok, but it won't make these APIs something you actually want to use.

[2019-03-14 18:08] jkotas commented on #23230
I do not think these APIs have anything to do with DISPARAMs.

[2019-03-14 18:12] jaredpar commented on #23230
As @0xd4d noted the c# compiler does this because they spec tells us to. As to why the spec tells us to do this ... I have no idea. Can't even really think of a good reason. But given we use sequential everywhere else I'm guessing there was a deliberate decision here for `enum`.

[2019-03-14 18:26] jkoritzinsky commented on #23230
After some investigation and conversations offline, we've decided to update Marshal.SizeOf to support enums.

Technically enum's aren't blittable in the `IDispatch` case when they are marshalled to a `VARIANT` in a `DISPPARAMS` structure since they will always be truncated or expanded to a 4-byte width. However, since a conversion to VARIANT isn't blittable anyway, we feel that it's fine to consid

[2019-03-14 18:26] AaronRobinsonMSFT commented on #23230
They do in the sense they indicate/imply what will happen. In the `DISPARAM` scenario it isn't fully supported so rather than indicate a value it fails. I have no idea if this is true, but the fact that it is marked `Auto` is either an artifact of some logical case, in this case `DISPARAM` seems to support that, or it was a mistake and just never supported. I am fine with special casing `Enum`s, b

[2019-03-14 19:50] jkotas commented on #23230
The runtime implements multiple difference set of marshaling rules: Each of PInvoke, COM, IDispatch or WinRT have different set of rules.

These methods implement PInvoke marshaling rules. `DISPPARAM` rules are generally pretty different from PInvoke marshaling rules. This change should not change anything about the `DISPPPARAM` rules. If we want to look at changing `DISPPARAM` rules, it should be

[2019-03-14 20:24] janvorli commented on #20806
Closing this issue as we have already published a doc on unloading at https://docs.microsoft.com/en-us/dotnet/standard/assembly/unloadability-howto

[2019-03-14 20:24] #20806 closed

[2019-03-14 20:28] jkoritzinsky commented on #23230
According to ECMA 335, enums can actually have an underlying type of `char` or `bool`, so they're not always blittable. This'll take some more investigation to make sure we handle this correctly.

[2019-03-14 20:34] ericstj commented on #23016
https://github.com/dotnet/corefx/pull/35997 should have fixed this.

[2019-03-14 20:36] sandreenko commented on #23016
Fixed by https://github.com/dotnet/corefx/pull/35997. Thanks @ericstj, @adiaaida.

[2019-03-14 20:36] #23016 closed

[2019-03-14 20:41] BruceForstall commented on #23016
A job I kicked off with the fix (https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_corefx_baseline/801/) actually passed, so it looks like we're back in business.

[2019-03-14 20:49] trylek opened #26629 "CPAOT - re-enable vtable calls within CoreLib"
We need to temporarily disable the optimization regarding vtable calls in CoreLib because it requires either re-implementing the CoreCLR method table builder in CPAOT or persisting the vtable layouts in the R2R image. Neither technology exists today. We however need to re-enable this optimization before shipping because the optimization is important for CoreLib performance and needed for letting u

[2019-03-14 20:52] janvorli commented on #23176
Ah, ok, this was a bug fixed recently. Can you try to add GetLogicalProcessorInformationEx, GetNumaHighestNodeNumber, VirtualAllocExNuma, SetThreadGroupAffinity, GetThreadGroupAffinity and GetNumaProcessorNodeEx to https://github.com/dotnet/coreclr/blob/master/src/dlls/mscoree/mscorwks_unixexports.src?

[2019-03-14 21:12] ericstj commented on #15299
Any news on this?  Lack of PDB is something that we *notice* since we ship System.Runtime.CompilerServices.Unsafe built with ILAsm.

[2019-03-14 21:24] jkotas opened #23262 "Regressions\coreclr\22728\debug15 test failing"
[code]

[2019-03-14 21:25] vancem commented on #18225
including @jorive @noahfalk

[2019-03-14 21:30] #22961 closed

[2019-03-14 21:35] Maoni0 commented on #22443
sorry I have not had time for this :( ... basically any test that checks for # of GCs or generation of objects don't make sense to run with GCStress.

[2019-03-14 21:46] jkotas commented on #23230
Yep, the builtin runtime interop is full of worms. I would treat this issue with very low priority since we discourage use of these APIs anyway. There is a lot more other interesting interop work we can be spending time on...

[2019-03-14 22:19] hjoon0510 opened #23265 "[CI] PR #22816: The Ubuntu ARM Cross build is keeping "Pending" status for 17 days."
Hi, I have one question on the cross build facility of the Ubuntu ARM that inspects the PR #22816. As we can see, it seems that The Ubuntu ARM build has been keeping a strang status (e.g., "Pending -- Triggered/Started") more than 15 days in case of PR #12357. And, The PR's review process has stopped since Feb-26-2019 because the Ubuntu ARM build (Cross) is still running.

![image](https://user-im

[2019-03-14 23:29] cshung commented on #23024
Thanks @janvorli for the investigation, he pointed out that problem is the code is doing something inappropriate according to the contracts. In particular, [UnlockedLoaderHeap::UnlockedAllocMem](https://github.com/dotnet/coreclr/blob/db1d0fcb95948fbfbbddf258232d1e066c2c1f78/src/utilcode/loaderheap.cpp#L1260) indicated it is a GC_NOTRIGGER region yet later on we did a [GCX_MAYBE_COOP_NO_THREAD_BROK

[2019-03-14 23:41] sywhang commented on #23265
I'm certainly not an expert in our engineering systems but my guess is that it's due to a hiccup between the CI instances timing out and GitHub frontend that reports it?

Is this happening on your PR? If so you can feel free to ask "dotnet-bot" (you can "@" at it) to re-run the CI legs. Just comment with ```@dotnet-bot test this```  and it'll retrigger the legs.

[2019-03-14 23:52] AaronRobinsonMSFT commented on #23024
@cshung This is a part of the code I have not had a chance to fully process. There are a lot of dragons here with respect to the RCW cache with the STA and GC. If you look through the `hash.cpp` there are a myriad of places that mention the RCWCache scenario is broken. I couldn't really answer the question only to say that when we detect an RCW is being created on an STA we take the opportunity to

[2019-03-15 00:05] sandreenko opened #23268 "broken arm ubuntu build from the recent update"
https://github.com/dotnet/coreclr/pull/23249  broke arm32 Ubuntu Jenkins testing (at least), see example [here](https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_checked_ubuntu_crossgen_comparison_prtest).

@AaronRobinsonMSFT could you please fix it and explain why you merged PR with failed jobs?

cc @dotnet/arm32-contrib

[2019-03-15 00:11] AaronRobinsonMSFT commented on #23268
The logs didn't indicate any build breaks, from what I saw they were related to non-relevant tests under  `src/tests/Regression`. I will look at what is happening here. Sorry.

[2019-03-15 00:17] jkotas commented on #23024
`m_entryPointToMethodDescMap` is lock-free hash table. It uses the GC mode for synchronization. The comment in front of `class HashMap` explains how it works.

Yep, it was stress-test driven development. We have been running stack walk stress for months and every time we hit a crash, assert or hang in it, we have tried to fix by improving the detection of when it is not safe to do a stackwalk.

Th

[2019-03-15 00:19] jkotas commented on #23024
I think Option 3 is the cleanest, but it is pretty non-trivial.

[2019-03-15 00:24] sywhang commented on #23087
Do we also want to modify macros that are doing similar thing as ETW_TRACING_CATEGORY_ENABLED? In particular these two:
[code]

[2019-03-15 00:50] zcsizmadia commented on #23176
Is this the preferred way to fix the dynamic function linking, fixed by #22861 (static linking vs GetProcAddress)?

[2019-03-15 01:10] vancem commented on #23024
Certainly from a design perpective, making something very primtive like stack walking NOT have any interactions with higher level concepts like the GC (or GC mode), would not nice, so I am not averse to that.   It sounds like it is hard enough that we shoudl be considering alternatives.

I wanted to mention that the number of events in the runtime that would benefit from having a stack associated

[2019-03-15 01:15] janvorli commented on #23176
The dynamic linking was there from old times when .NET needed to work on Windows older than Windows 7 that didn't have these functions, thus they were optionally dynamically loaded at runtime. It is not needed on Windows anymore since we don't support such old windows systems and it is not needed on Unix as the functions are always implemented in PAL.

[2019-03-15 01:25] jkotas commented on #23139
This was tracked down to GC behavior differences related to job objects.

The GC is allocating excessively large amount of memory for mark list when the process is running inside job objects in current .NET Core 3.0.

It just happens that https://github.com/dotnet/cli/pull/10720 changed `dotnet run` to run child processes inside job object as well. It makes running inside job object much more comm

[2019-03-15 01:26] VincentBu opened #23273 "[x64] Test failed: tracing_eventsource._eventsourcetrace_eventsourcetrace_eventsourcetrace_._eventsourcetrace_eventsourcetrace_eventsourcetrace_sh"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_osx10.12_jitstress2_tst/552/

**Failed tests:**
tracing_eventsource._eventsourcetrace_eventsourcetrace_eventsourcetrace_._eventsourcetrace_eventsourcetrace_eventsourcetrace_sh

**Log:**
[code]

[2019-03-15 01:33] VincentBu opened #23274 "[x64] Test failed: System.Net.Sockets.Tests.SocketOptionNameTest.BindDuringTcpWait_Succeeds"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_ubuntu_corefx_jitstressregs3/837/

**Failed tests:**
System.Net.Sockets.Tests.SocketOptionNameTest.BindDuringTcpWait_Succeeds

**Log:**
[code]

[2019-03-15 02:05] AaronRobinsonMSFT commented on #23268
@sandreenko This was a mistake on my part for sure. The reason I merged was because of the consistently unreliable legs for some runs. See the number of times I needed to restart the legs for the revert https://github.com/dotnet/coreclr/pull/23269. There are so many false negative in these legs and "just rerun it" isn't really a good solution because it breeds a sense of unreliability. I also find

[2019-03-15 02:25] adityamandaleeka opened #23277 "Investigate perf difference in code adding float arrays"
This function was shared by a user who reported some math operations being slower on Core when compared to Framework. I measured a 6-8% difference on .NET Core 2.2 when compared to Framework 4.7.2.

[code]

I looked at the codegen for AddWithFunction and it is identical on Core and Desktop, so the issue is somewhere else. We'll need to take a closer look and figure out what's different here.

[2019-03-15 02:25] adityamandaleeka commented on #23277
@sergiy-k

[2019-03-15 04:18] AaronRobinsonMSFT commented on #23268
Bah. Both my run as well as @jkoritzinsky's run has failures that appear to be unrelated to either change. I observe in the Azure pipline that both build for ARM on Windows and Linux. Both runs seemed to fail for macOS, but of course pass on rerun. The Jenkins runs seem to have no obvious reason for failure, especially since the Azure piplines pass. All that being said, I don't really know what to

[2019-03-15 04:51] davidfowl commented on #22232
The cycle detection doesn't work when there are explicit calls to `GetService<T>` in the graph because it would be extremely inefficient. Maybe it's something we can enable in development only. I don't know if that's the issue everyone is running into here but @josalem can you open an issue in https://github.com/aspnet/Extensions

[2019-03-15 05:06] AaronRobinsonMSFT commented on #23224
@cshung Is there a status with this issue? Many PRs are hitting this issue.

[2019-03-15 05:14] Maoni0 commented on #22422
I have not seen this. how easy/hard is it to repro?

[2019-03-15 05:24] #23268 closed

[2019-03-15 05:28] sandreenko commented on #23268
Yes, the current level of flakiness is awful 😢 . And ADO/Helix do not look like a silver bullet (especially after yesterday outage).

We still are trying to keep both system as green as possible, we ignore issues like:
"Jenkins java closed conenction", but we try to take care of build and test failures with exclusion lists etc. However, for me it looks like it  gets harder each day, or maybe the l

[2019-03-15 05:46] sywhang commented on #23224
@AaronRobinsonMSFT https://github.com/dotnet/coreclr/pull/23267 disables this test for all platforms. We'll investigate the failure before turning it back on.

[2019-03-15 06:04] dotnet-mc-bot opened #23278 "Test failure: baseservices_threading._generics_TimerCallback_thread16_thread16_/_generics_TimerCallback_thread16_thread16_cmd"
Opened on behalf of @AriNuer

The test `baseservices_threading._generics_TimerCallback_thread16_thread16_/_generics_TimerCallback_thread16_thread16_cmd` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190314.76 (Ready-To-Run Tests)
Failing configurations:
- Windows.81.Amd64
  - x64
  - x64
  - x86
  - x86
- Windows.7.Amd64
  - x64
  - x64
  - x86
  - x86
- Windows.10.Amd

[2019-03-15 06:43] KevinRansom opened #23279 "AV in Microsoft_DiaSymReader_Native_amd64!PortablePDB::CollectLineColumnInfo+0x10c5"
This is super interesting, because it is thrown from an assembly that is generated using in-memory ref-emit and obviously no portable pdbs were actually generated.

When the code is run in a debugger, either VS or WinDbg no AV occurs.

The AV happens below this CoreCLR call:
https://github.com/dotnet/coreclr/blob/75d1d390c1b631eeb99d90f92f0ccdb840367b7d/src/vm/ceeload.cpp#L3876

[code]

[2019-03-15 07:03] noahfalk commented on #15693
@omfgicbf - if I wanted to set up an image to attempt to repro this, are [these instructions](https://github.com/dotnet/core/blob/master/samples/YoctoInstructions.md) reasonable for me to be following or should I do something else? @stevehayles original description said "on a simple yocto image" and based on the comments it sounds like there is some variation on how these images are being set up.

[2019-03-15 07:05] v-haren opened #23280 "ERROR: Failed to archive artifacts: bin-Product-Linux.arm.Release.tgz"
failed in job: https://ci2.dot.net/job/dotnet_coreclr/job/perf/job/master/job/perf_throughput_linux_arm_build/1305/

failed log:
ERROR: Failed to archive artifacts: bin-Product-Linux.arm.Release.tgz
Command close created at
	at hudson.remoting.Command.<init>(Command.java:60)
	at hudson.remoting.Channel$CloseCommand.<init>(Channel.java:1219)
	at hudson.remoting.Channel$CloseCommand.<init>(Channel.j

[2019-03-15 07:09] v-haren opened #23281 "downstream Failure"
failed in job: https://ci2.dot.net/job/dotnet_coreclr/job/perf/job/master/job/perf_throughput_linux_arm_flow/3538/

failed log:
Schedule job dotnet_coreclr � perf � master � perf_throughput_linux_arm_build
Build dotnet_coreclr � perf � master � perf_throughput_linux_arm_build #1305 started
dotnet_coreclr � perf � master � perf_throughput_linux_arm_build #1305 completed  : FAILURE
[BFA] Scanning bu

[2019-03-15 08:32] noahfalk commented on #23024
I'm not sure how well ClrEtwAllMeta.lst is expressing our intent? There are only 6 events that explicitly opt in to having stacks, two of which are fusion (irrelevant), one is LoaderHeapAllocation (which we just decided wasn't valuable) and the other three are GarbageCollectionPrivate. However after that there is a sizable swath of events that aren't marked as 'stack' or 'nostack' and its unclear

[2019-03-15 08:43] 6opuc commented on #10524
I've made the changes you described to test if core dump will be smaller, but size of core dump is the same :(
I'm not sure if I understand you correctly. This is what I did:
[code]

[2019-03-15 09:34] Ultronvision opened #23283 "jsonconvert.deserialzeobject cannot convert some value"
Hi Friends, I have encountered some issues regarding JsonConvert.DeserializeObject functionality. I am using the C# POCO class to deserialize the incoming strings from some server. Weird thing is  that  "SBcontentresults = httpScanBarcode.Content.ReadAsStringAsync().Result;" when I mouse over the SBcontentresults object the VisualStudio community 2017 ask me to which format it shows the results wh

[2019-03-15 09:39] janvorli commented on #10524
You've made the changes I would expect. So maybe the memory is committed but not mapped to physical memory yet.
Is it possible to share your testing app so that I can debug it locally?

[2019-03-15 10:31] 6opuc commented on #10524
I've created simple app for this test:
https://github.com/6opuc/MemoryTest/blob/master/MemoryTest/Program.cs

VM utilization in that app is not that much as in original app, but problem is reproduced:
mem usage: ~150MB
vm usage: ~3GB
createdump -u produces ~3GB core dump
createdump (minidump with heap) produces ~200MB

[2019-03-15 10:45] janvorli commented on #10524
I've actually found two more places where the madvise madvise with MADV_DONTDUMP should be added. Here, when the VIRTUALMemReset succeeds:
https://github.com/dotnet/coreclr/blob/68fad02f41707a5333992cd7701e75aefb4e51c8/src/pal/src/map/virtual.cpp#L1382

And here:
https://github.com/dotnet/coreclr/blob/68fad02f41707a5333992cd7701e75aefb4e51c8/src/pal/src/map/virtual.cpp#L1528

[2019-03-15 10:46] janvorli commented on #10524
If that doesn't help, I'll look into it on Monday.

[2019-03-15 11:50] 6opuc commented on #10524
Core dump size is the same after these changes

[2019-03-15 11:51] thorwe90 opened #23284 "Debugging managed assemblies with VS Code in custom host"
Hello everyone,

I cannot get debugging of managed assemblies running in a custom .NET Core runtime host to work. VSCode (vsdbg) always returns 0x80131c08 after a few seconds when trying to attach to the process.

I've basically followed this guide (https://docs.microsoft.com/en-us/dotnet/core/tutorials/netcore-hosting)and consulted this (https://github.com/dotnet/coreclr/tree/master/src/coreclr/h

[2019-03-15 12:24] maartenba commented on #21559
FYI latest 2019.1 EAP has 3.0 support

[2019-03-15 12:46] janvorli commented on #23284
@mikem8361 do you have any idea why the debugger would timeout connecting to coreclr hosted in a custom host?

[2019-03-15 13:24] tdecroyere commented on #23284
Hello,

I'm currently doing the same thing as you. I'm writing a 3D engine in .net core 3.0 and for the MacOS version, I have a swift host. (using Cocoa and Metal)

Debugging with vscode works great in my case. Comparing to your code, for the properties list, I only use the "THRUSTED_PLATFORM_ASSEMBLIES" property.

Maybe you can compare your code with mine if it can help. Because like that I don't

[2019-03-15 14:58] thorwe90 commented on #23284
Actually, launching the custom host instead of attaching (or some random change I made) somehow did the trick for me. Thank you very much.

[2019-03-15 15:00] BruceForstall commented on #23274
@danmosemsft Something anyone would want to look at?

[2019-03-15 15:03] BruceForstall commented on #22422
@Maoni0 I don't believe it happens regularly in the CI

[2019-03-15 15:46] danmosemsft commented on #23274
@wfurt

[2019-03-15 15:56] AndyAyersMS commented on #23285
Went ahead and moved it over here. I would have expected some kind of explicit forwarding pointer over in dotnet/core, but the old issue just vanishes there. Hopefully nobody's too confused.

Marking as future but if we end up with a simple fix soon we can probably get it into 3.0.

[2019-03-15 16:23] AndyAyersMS commented on #18943
Linking to the original issue #17585. This is an interface tail call via helper....
[code]

[2019-03-15 16:39] KevinRansom commented on #23279
Okay, it's morning now and I'm thinking straighter.

We invoke InternalPreserveStackTrace using reflection, on an exception we are propagating.  The exception is an F# type, so perhaps we have generated the symbols  incorrectly for this type.

I will close this for now, and verify that we are generating the symbols correctly.

[2019-03-15 16:39] #23279 closed

[2019-03-15 16:42] jeffschwMSFT commented on #23171
I do not immediately see the reason for the infinite loop.  Can you pair down this into a small self-contained repro that I can clone and take a look?

[2019-03-15 16:48] #23284 closed

[2019-03-15 17:55] danilobreda commented on #18044
Hello i am having the same kind of issue on asp net core 2.2, on a docker (ubuntu) on AWS ECS. I tried to run the docker container on my machine and it does not kill itself.
What can i do to resolve the problem?

[2019-03-15 18:11] wfurt commented on #23274
I'll try to reproduce it. Unfortunately coreclr runs leave almost no evidence so it may be difficult to investigate.

[2019-03-15 18:31] AndyAyersMS commented on #18943
When we tail call via a helper on x64, we have to shuffle the normal call arguments around, and pass the VSD arg as a normal arg. So the routing through R11 is unnecessary here.

That is, for x64, the arglists should be swizzled as follows:
[code]
I will look into removing the R11 on the stub arg in this case.

x86 handles all this differently. arm32 looks like it would have a similar issue as x64

[2019-03-15 18:47] davidwrighton commented on #23024
Longer term, Option 3 seems the best, but for the foreseeable future, I suspect the approach of only capturing stacks for a defined set of "safe" events would be acceptable.

[2019-03-15 18:57] davidwrighton commented on #23241
Why would this be better than a sequence of if/else pairs? Is this about reducing IL size? Do you expect the GC to have a more optimal implementation than the c# compiler generating the equivalent of below?

[code]

[2019-03-15 19:00] josalem commented on #21277
@janvorli - Looks like you merged in the PR for this issue, can we close it?

[2019-03-15 19:33] #21370 closed

[2019-03-15 20:22] jashook commented on #21022
Related to #23034

[2019-03-15 20:22] #19984 closed

[2019-03-15 20:23] jashook commented on #19920
Kicking out of 3.0

[2019-03-15 20:23] jashook commented on #19919
Kicking out of 3.0

[2019-03-15 20:25] jashook commented on #15335
Closing this issue. It still is useful to remove unused variables in our props/targets files but we do not use buildpipeline anymore.

[2019-03-15 20:25] #15335 closed

[2019-03-15 20:36] jashook commented on #9918
This is still an issue. This issue will be fixed when we switch our tests to build with arcade. Note that project.assets.json will most likely need to go away and we should add packagerefs in our test sdk projects.

[2019-03-15 20:37] jashook commented on #9918
Aiming for post 3.0 for the test arcade port.

[2019-03-15 21:37] AndyAyersMS commented on #23277
Was this on x64? I get maybe 2% slower....
[code]

[2019-03-15 22:20] AndyAyersMS commented on #20209
Seems like we ought to close this, and re-open once we're happy with the CoreFX testing and this is still failing.

[2019-03-15 22:21] jzabroski commented on #23241
@davidwrighton  I think for literature on compiler optimization of pattern matching, the following two OCaml papers give you requisite knowledge and understanding:

[Compiling Pattern Matching to Good Decision Trees](http://www.cs.tufts.edu/~nr/cs257/archive/luc-maranget/jun08.pdf)
[Optimizing Pattern Matching](http://pauillac.inria.fr/~maranget/papers/opat/pat.ps.gz)

Further, by hoisting this to

[2019-03-15 22:21] AndyAyersMS commented on #22345
Let me see if I can repro one of these exit code 139 failures.

[2019-03-15 22:40] gregg-miskelly opened #23293 "GCHandle.Free should raise errors on misuse"
I own some code that runs in a large managed application that uses GCHandle. We face issues with this code occasionally crashing on users machines because *something* in the process has freed our handle value, so that when we attempt to obtain our object back we fetch either no object, or the wrong object. Playing around with GCHandle I found that part of the problem is that GCHandle raises no err

[2019-03-15 22:56] AndyAyersMS commented on #23285
cc @dotnet/jit-contrib

[2019-03-15 23:00] richlander opened #23296 "ARM32 Failure on Preview 4"
Having trouble on ARM32. Repro'd on two Pi machines. ARM64 is OK on the same build.

[code]

[2019-03-15 23:53] gafter commented on #23241
@davidwrighton

Here are two reasons:
1. The IL sequence you provided is only correct for sealed types.  Even for sealed types, it would not be a binary compatible code generation strategy in the face of types possibly being changed from sealed to unsealed.  Only the runtime knows whether or not the types are sealed at runtime.
2. Only the runtime can know which concrete types occur most frequentl

[2019-03-16 00:06] gafter commented on #23241
@jzabroski Thanks for those references!

[2019-03-16 02:18] jkotas commented on #23241
Ok, you can flip the sequence to use `isinst` instead. (The JIT has optimization that turns isinst into a simple type check for sealed types.)

The most efficient way to do a type switch over large number of types is hashtable. The runtime can make this work well by proving efficient way to get a type hash code if it is not efficient enough today.

Other than that, the compiler or the compiler sup

[2019-03-16 02:55] adityamandaleeka commented on #23277
@AndyAyersMS That's interesting. Yes, I measured on x64 too. I'm on different hardware for what it's worth (Skylake i7-6700).

[2019-03-16 03:26] jorive opened #23299 "Pending IPC work items"
## Pending IPC work items
- [x] Add tests
- [x] Add streaming functionality
- [x] Repurpose LF_REMOTING (currently used under the Diagnostics STRESS_LOG usage)
- [x] Replace the use of LOG under the Diagnostics Server with STRESS_LOG
- [x] Revisit the IPC mode of sending messages (byte vs message)
- [x] Handle shutdown on non-Windows platform (Need to unlink socket on the filesystem when the runti

[2019-03-16 04:12] jkotas commented on #23293
GCHandle.Alloc/Free is a variant of classic malloc/free. I do not think we would want to pay for the protection against incorrect use by default, for the same reasons classic malloc/free is not protected against incorrect use by default - it comes with performance penalty. We can consider making this diagnostic opt-in.

Note that you can turn on ETW events for handle allocation / deallocation. It

[2019-03-16 04:24] jkotas commented on #23293
.NET Framework has [invalidGCHandleCookie MDA](https://docs.microsoft.com/en-us/dotnet/framework/debug-trace-profile/invalidgchandlecookie-mda) that tried to solve this problem, but it had number of issues: changes meaning of GCHandle IntPtr and it has significant performance cost, even when it is turned off. VS does not ever offer it in the UI. We would want to come up with a different design for

[2019-03-16 04:25] jkotas commented on #23280
Common Jenkins intermittent failure. It will go away once Jenkins is turned off.

[2019-03-16 04:25] #23280 closed

[2019-03-16 04:27] BruceForstall commented on #20236
@echesakovMSFT @RussKeldorph I'm seeing this in AzDO runs (where it is much harder to find -- I have to click a bunch more to find the failure message).

Is there a plan to "fix" this?

[2019-03-16 04:27] jkotas commented on #23281
Duplicate of https://github.com/dotnet/coreclr/issues/23280

[2019-03-16 04:27] #23281 closed

[2019-03-16 04:27] #20708 closed

[2019-03-16 04:30] jkotas commented on #17816
Fixed by #22249

[2019-03-16 04:30] #17816 closed

[2019-03-16 10:37] chouex commented on #16052
still getting error, seems like calling AVX instructions with a CPU not support AVX

**console output**
Illegal instruction (core dumped)

**dmesg**
[Mar16 18:27] traps: dotnet[12167] trap invalid opcode ip:7ff81394c2d4 sp:7ffe01243b30 error:0
[  +0.000011]  in libcoreclr.so[7ff8136be000+39e000]

**$gdb dotnet core.12167**
![WeChat截圖_20190316183225](https://user-images.githubusercontent.com/767140

[2019-03-16 11:47] chouex commented on #16052
I am sorry, the program is using the exported libcoreclr.so instead of the machine libcoreclr.so, I update the sdk from 2.0 to 2.2 the problem was solved

[2019-03-16 12:26] mazong1123 commented on #22343
This sounds an interesting work item to me. If no one is working on it I'd like to take a look.

I went through the code for HW intrinsics, seems to add a new intrinsic we need to touch [System/Runtime/Intrinsics](https://github.com/dotnet/coreclr/tree/master/src/System.Private.CoreLib/shared/System/Runtime/Intrinsics) and [hwintrinsiclistxarch.h](https://github.com/dotnet/coreclr/blob/master/src/

[2019-03-16 15:08] #18943 closed

[2019-03-16 17:39] k15tfu opened #23304 "Leaked reference when linking profiler against libcoreclr.so"
Hi again!

When linking ReJITEnterLeaveHooks profiler (https://github.com/Microsoft/clr-samples) against `libcoreclr.so` I faced with unexpected behavior: the runtime loaded that profiler, dlsym'd + called its `DllMain`, and then dlsym'd `PAL_RegisterModule` in the current `dl_handle` and found it in `libcoreclr.so` and then called it also.  So `DllMain` was called for CorProfiler.so (aka ReJITEnt

[2019-03-16 17:47] k15tfu commented on #23304
btw, looks like the issue was introduced in https://github.com/dotnet/coreclr/pull/1125

[2019-03-16 18:30] k15tfu opened #23305 "Profiler never get DLL_PROCESS_DETACH event"
Hi!

My profiler expects `DllMain` with `DLL_PROCESS_DETACH` event before shutting down to save logs etc, and on Windows it works fine but on Linux `DllMain(DLL_PROCESS_DETACH)` is never get called.

I tried to find the reason and noticed that `EEToProfInterfaceImpl::~EEToProfInterfaceImpl()` doesn't call `FreeLibrary()` during the shutdown process. I think the reason why it works on Windows is th

[2019-03-16 20:09] stephentoub commented on #22986
@mikem8361, you assigned this to yourself.  Does that mean you understand the issue and know it to be in the debugger?

[2019-03-16 20:31] mikem8361 commented on #22986
No, I haven't investigated so I don't yet if the a/v is in VS or the runtime. Are you volunteering? :)

[2019-03-16 20:37] stephentoub commented on #22986
Heh, not currently, I was just tagged and so was looking at the issue.

[2019-03-17 01:45] AaronRobinsonMSFT commented on #23305
The `DllMain` contract is a Windows concept so calling `DllMain` at the same logical time is going to be very tough since Linux/Mac know nothing about this export. All is not lost though because if I recall gcc on Linux has the concept of hooks that can be defined and will be called at similar times. I have no experience with Mac in this regard so I don't know if this is supported.

The gcc attrib

[2019-03-17 04:15] gafter commented on #23241
Are you suggesting that we build a hashtable dynamically and incrementally?  Wouldn't that prevent the unloading of types once they appear as keys in that table?

That would remove all flexibility that the runtime would otherwise have to implement type switches in the most efficient manner for the platform.

[2019-03-17 05:22] jkotas commented on #23241
Yes, the hashtable would need to be aware of type unloading. Hashtables aware of type unloading are not unusual and the primitives available for building them are not great. It is something that we should improve.

As the C# pattern matching is getting more complex, I think it starting to look pretty similar to `dynamic` from runtime point of view. The runtime support for `dynamic` is in separate

[2019-03-17 05:43] jkotas commented on #23304
It is not ok. We consider the set of APIs exported by `libcoreclr.so` to be internal implementation detail and changing it frequently.

[2019-03-17 05:48] jkotas commented on #23305
Profilers on Unix should not export or otherwise depend on `DllMain`.

The `DllMain` contract is part partial Windows emulator (aka PAL) used by CoreCLR. It does not work same way as it works on Windows and it is likely going to disappear eventually.

[2019-03-17 08:25] gafter commented on #23241
@jkotas You may have convinced me.

It looks like the break-even point for using a hashtable is about 20 types in a switch.  See https://github.com/dotnet/roslyn/issues/31515#issuecomment-473630695 for a benchmark.

I'm not sure how the jit could do better.  Without evidence to the contrary, perhaps this issue should be closed?

[2019-03-17 16:12] AndyAyersMS commented on #22345
My guess is that there is some kind of shutdown related problem, similar to what we have seen elsewhere with gc stress and loaded machines.

Ran the ilasm case ~9600 times under sideload stress with no repro.

The marshaller test runs very slowly since it internally fires up xunit, so don't have as many iterations there yet, so will let it go a bit longer.

[2019-03-17 16:33] k15tfu commented on #23304
@jkotas Wow, okay! Does it mean that coreclr users (profiler developers, etc) are not permitted to use WinAPI functions implemented in coreclr also?

If yes, is there an another .so library (in this project/organization) that implements WinAPI and is legal to use? (just interesting)

[2019-03-17 16:51] k15tfu commented on #23305
@AaronRobinsonMSFT

Yep, I have already tried to use `__attribute__((destructor))` but it didn't help because that destructor was called after destruction of some (all?) static object, so I was unable to successfully terminate my profiler. Specifying the destructor `priority` also doesn't work.

I thought you can iterate over the list of loaded modules and call DllMain(DLL_PROCESS_DETACH) for each

[2019-03-17 17:26] AaronRobinsonMSFT commented on #23305
As @jkotas said the semantics of `DllMain` from the coreclr perspective are apt to disappear and as such this isn't something we are likely to support since it really requires OS loader coordination (e.g. Windows and `DllMain`).

Glad to hear that you have figured out a workaround, please share so others can benefit.

[2019-03-17 17:31] k15tfu commented on #23305
@jkotas

It's very undesirable because DllMain() is called right before the calling of DllGetClassObject() so I have a chance to prepare for creation of the profiler.

As I said, I made a fix that "emulates" DllMain(DLL_PROCESS_DETACH) behavior in the profiler by registering `atexit()` callback, and it is guaranteed to work on Linux/MacOs because that callback will be called before destruction of

[2019-03-17 18:17] jkotas commented on #23304
Correct. We do not support the partial Win32 emulation APIs outside CoreCLR.

If somebody (profiler, etc.) calls one of these APIs and reports an issue that it does not behave the same way as its Windows equivalent or that the API disappeared in newer CoreCLR version, we are unlikely to fix it. It is by design.

The ultimate Win32 emulator on Linux is Wine, but it is not a good fit for libraries.

[2019-03-17 18:21] gafter commented on #23241
Improved the prototype library so that the break-even point for using a hashtable is about 10 types in a switch.  See https://github.com/gafter/TypeSwitch/blob/master/TypeSwitch/TypeSwitchDispatch.cs

[2019-03-17 19:39] jkotas commented on #23305
So the preparation for creation of the profiler as the first thing in `DllGetClassObject()`?

[2019-03-17 20:14] mikedn commented on #23213
Can't, too large.

Took a quick look, the way struct array elements are handled is pretty ugly:
[code]
This is probably one case where LIR would be beneficial, it would avoid the need for COMMAs that complicate recognizing address modes. Though perhaps there are ways to deal with this by pushing the ARR_BOUNDS_CHECK node below address computation.

[2019-03-17 20:50] janvorli commented on #23284
@tdecroyere thank you a lot for providing help!

[2019-03-17 20:53] janvorli commented on #21277
@josalem no, I have not worked on this item yet.

[2019-03-17 22:02] sandreenko commented on #23273
cc @dotnet/jit-contrib

I see this regression in desktop testing.

[2019-03-17 22:25] AaronRobinsonMSFT commented on #23305
@k15tfu The guidance we are suggesting is premised on being platform agnostic and ensuring compatibility. CoreCLR doesn't and can't push constraints down into any OS, that would defeat the entire purpose of being a "virtual machine".

A similar consideration should also be taken by authors of native extensions to CoreCLR. In this particular example, the `DllMain` construct is tightly coupled to th

[2019-03-18 00:54] danmosemsft opened #23309 "Stack overflow in clrjit!Compiler::fgMorphSmpOp/clrjit!Compiler::fgMorphTree"
_From @farlock85 on March 14, 2019 15:53_

Our new application suddenly started throwing StackOverflow exceptions, which were impossible to pinpoint because of the missing stack trace. After spending some time commenting out code I found that there is an issue with dependency injection, specifically when you do a lot of it.

One service had about 500 generic classes injected (think IQueryContext<T

[2019-03-18 00:54] danmosemsft commented on #23309
_From @leecow on March 15, 2019 17:41_

@danmosemsft and @jaredpar for possible insights.

[2019-03-18 00:54] danmosemsft commented on #23309
Codegen.
[code]

[2019-03-18 01:10] omfgicbf commented on #15693
We used a modified version of the "dotnet 2.0.3" recipe from [here](https://layers.openembedded.org/layerindex/recipe/67742/), updated to 2.2.2 and added lttng-ust per [Prerequisites for .NET Core on Linux](https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=netcore2x). You can however just include the prerequisites and download the tarball manually to get the same result.

The v

[2019-03-18 01:31] VincentBu opened #23310 "[arm64] Test failed: System.Net.Security.Tests.SslStreamStreamToStreamTest_Sync.SslStream_StreamToStream_Dispose_Throws"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_corefx_jitstressregs4_tst/137/

**Failed tests:**
System.Net.Security.Tests.SslStreamStreamToStreamTest_Sync.SslStream_StreamToStream_Dispose_Throws

**Log:**
[code]

[2019-03-18 01:57] stephentoub commented on #23310
@jkotas, this coreclr leg picks up live corefx src and tests?

[2019-03-18 02:37] mazong1123 commented on #22343
Looking at the [board](https://github.com/dotnet/corefx/projects/7) of HW intrinsics, seems an API proposal is needed before implementation. I would create 2 issues for proposing `AddWithCarry` and `Multiply128` first. This issue should depend on those two. Not sure if this is the right process.

[2019-03-18 02:59] sywhang opened #23312 "Remove timer in RuntimeEventSource"
RuntimeEventSource has a timer in it that can be removed by using the new EventCounter APIs. Future counters added to RuntimeEventSource should be implemented via these APIs as well.

[2019-03-18 04:31] jkotas commented on #23310
Correct, the JIT stress legs pick up live corefx src and tests.

[2019-03-18 10:15] k15tfu commented on #23304
@jkotas Okay, I got you. Thanks.

[2019-03-18 10:15] #23304 closed

[2019-03-18 12:58] Daniel-Svensson opened #23315 "decimal performance regression on x86 for netcore 3"
It seems performance for decimal arithmetics has decreased significantly (~50%-80% slower in _simple_ cases and more in others) since moving to the managed implementation (I believe the relevant method PR https://github.com/dotnet/coreclr/pull/18948).
It seems x64 performance has increased almost as much as the improved code proposed some time back

Benchmark is availible at https://github.com/Dan

[2019-03-18 13:06] Daniel-Svensson commented on #23315
@jkotas , @pentp you were part of the discussion in #10642

As I tried to communicate there I would be happy to port my performance improvements to the c++ code (with up to over 300% improvements to x64 and over 100% improvements to x86 worst case performance) to C# but would need some instrinct support for
* div & mul (https://github.com/dotnet/corefx/issues/32075)
* bitscan (think that it may al

[2019-03-18 13:26] stephentoub commented on #23310
Thanks.  What environment variables or the like do I need to set to achieve the same JIT configuration locally as this leg does?

[2019-03-18 13:38] jkotas commented on #23310
From https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_corefx_jitstressregs4_tst/137/ :

`export COMPlus_TieredCompilation=0 export COMPlus_JitStressRegs=4`

In case you see behavior that does not match the source code, the failure may be a manifestation of a JIT codegen bug.

[2019-03-18 13:39] stephentoub commented on #23310
Thanks.

[2019-03-18 15:11] pentp commented on #23315
Is the `NetFramework` result the one for .NET Core?

The test data looks a bit contrived (interest calculation for 100 trillion, maybe in Venezuela only?). I focused optimizations on more realistic numbers (weighted towards smaller numbers with less decimal places).

The setup method `Random` does not return a value between min/max (it should return `rnd * range + min`).

[2019-03-18 15:13] jeffschwMSFT commented on #23252
@tarekgh is this an assembly loader issue, or is fallback not working correctly?

cc @sdmaclea

[2019-03-18 15:19] vancem commented on #22585
Closing this as the remaining issues are tracked independently.

[2019-03-18 15:19] vancem commented on #22585
Closing this as the remaining issues are tracked independently.

[2019-03-18 15:19] #22585 closed

[2019-03-18 15:38] AndyAyersMS commented on #22345
Let the marshaller test run over night, no issues in 607 runs.

[2019-03-18 15:38] #22345 closed

[2019-03-18 15:56] tarekgh commented on #23252
@jeffschwMSFT I don't think this is assembly loading issue. I'll try to look and confirm that.

[2019-03-18 15:57] tannergooding commented on #22343
Since the `BigInteger` ref struct exists within S.P.Corelib, the `AddWithCarry` and `Multiply128` intrinsics could be prototyped without going through an API proposal. That is, they can be kept internal and experimented with to get numbers and prove they are useful first.

[2019-03-18 16:00] gregg-miskelly commented on #23252
I can try and see if I still have the stacks when I get in, but this is CultureInfo/resource loader code rather than assembly loading. The resource loader will iterate through the '.Parent' cultures of the specified CultureInfo. On Windows, that parent chain for zh-CN is `'zh-CN'->'zh-Hans'->'zh'->Invariant`. On Linux, the `zh-Hans` element is omitted.

[2019-03-18 16:03] briman0094 opened #23316 "Indexing string with from-end Index results in InvalidProgramException"
Running the following program under .NET Core 3.0.100-preview3-010431 results in an `InvalidProgramException` thrown upon startup in both Debug and Release builds:

[code]

Output from `dotnet run`:

[code]

The following program runs as expected:

[code]

Output from `dotnet run`:

[code]

This demonstrates that the issue **only** occurs when indexing a string with a FromEnd Index; using a Range

[2019-03-18 16:10] MichalStrehovsky opened #23317 "Consistency check failed: AV in clr at this callstack"
Compile following program, run crossgen on it, and run it with corerun.

[code]

Observed:

[code]

Expected: program succeeds and returns 579.

Hit while trying to understand the test failures that are the reason for #23291. This is a pre-existing bug in ReadyToRun that will not be fixed by rolling back my change. We can likely re-instate my change after fixing this (#23291 is going to fix the ex

[2019-03-18 16:12] gregg-miskelly commented on #23252
Here is the loop in question: [InternalGetResourceSet](https://github.com/dotnet/coreclr/blob/3662d02bb222728ebed70d6d73f89a63c9910ffb/src/System.Private.CoreLib/shared/System/Resources/ResourceManager.cs#L448), and the stack is at the end of this comment.

Though I would imagine a better fix might be to the computation of CultureData to add in 'zh-Hans' / 'zh-Hant' to the chain even if the underl

[2019-03-18 16:13] MichalStrehovsky commented on #23317
@sergiy-k do you know who owns R2R in CoreCLR these days? When this is hit, it's long after we did the wrong thing and I couldn't figure out where we took the wrong turn in the time I allotted myself for it.

[2019-03-18 16:17] Rakiah commented on #13292
We also have the same problem, any solutions to this except
<ServerGarbageCollection>false</ServerGarbageCollection>

[2019-03-18 16:18] k15tfu commented on #635
@jkotas Hi again! I have a similar problem: The profiler modifies the environment variable at startup to control the way the child processes' profilers work. For example, it can be used to make profiling of child processes optional. Unfortunately coreclr does EnvironInitialize() before profiler startup, so I cannot unset environment variables. Can you suggest how to deal with that?

I see a few op

[2019-03-18 16:30] mikedn commented on #23316
Checked JIT asserts:
[code]

[2019-03-18 16:35] tarekgh commented on #23252
@gregg-miskelly  zh-CN and zh-TW are not the ISO names of the cultures. These are Microsoft thingy and Linux just allow creating them as aliased cultures. The right culture names are
    zh-Hans-CN
    zh-Hant-TW

If you use these, you'll get the right parents (zh-Hans and zh-Hant). As we are moving forward, I would suggest to use such names and avoid using zh-CN or zh-TW. Also, I would avoid inse

[2019-03-18 16:43] mikedn commented on #23316
Looks like this is caused by broken IL generated by the C# compiler:
[code]
It Calls `get_Chars(Index)` with an `i4` on the stack.

[2019-03-18 16:47] tarekgh commented on #23252
I am going to close this issue and I'll open a doc issue to clarify the behavior. As I mentioned I am not favoring doing any customized things for zh-CN and zh-TW cultures and we should educate people to use the ISO names instead.

[2019-03-18 16:47] #23252 closed

[2019-03-18 16:54] sergiy-k commented on #23317
@fadimounir, could you please take a look?

[2019-03-18 16:54] jkotas commented on #635
You can inject a call to `Environment.SetEnvironmentVariable`; or make the profiler for child processes to be no-op. It may be best to open separate discussion issue for this topic.

[2019-03-18 16:56] tarekgh commented on #23252
https://github.com/dotnet/docs/issues/11363

[2019-03-18 16:57] fadimounir commented on #23317
I'll take a look

[2019-03-18 16:59] jkotas commented on #23316
This issue was moved to dotnet/roslyn#34209

[2019-03-18 16:59] #23316 closed

[2019-03-18 17:16] #22271 closed

[2019-03-18 17:36] akutruff commented on #1235
This all comes down to,  some first class support of object pooling.  The strongest evidence: **Roslyn, the C# compiler itself, had to end up implementing multiple object pools** to achieve performance goals.  See here:

### Pools from Roslyn source
- [`PooledObject`](https://github.com/dotnet/roslyn/blob/defeca5d0e44915fc978cfd93d3de2e4a6d0dbf4/src/Workspaces/Core/Portable/Utilities/ObjectPools/P

[2019-03-18 17:40] GrabYourPitchforks opened #23319 "Remove old method names from Rune"
The following methods should be removed from the `Rune` sources since they were renamed in a recent commit. (The old names were left in the sources temporarily to avoid build breaks.) Left side is the old name, right side is the new name.

[code]

At the same time we should re-enable the test suppressed below.

https://github.com/dotnet/coreclr/blob/31581af5fa816fb2ea94145823ec3bdd6c0b0327/tests/C

[2019-03-18 19:56] gregg-miskelly commented on #23293
One note: one important difference, at least on, Windows, for malloc/free vs. GCHandle is that the most trivial case --malloc+free+free -- will break on the attempt to free already-freed memory for heap but not for GCHandle.

[2019-03-18 20:10] AndyAyersMS commented on #23309
I'll take a look.

[2019-03-18 20:23] RussKeldorph commented on #23123
What I assume is the re-triggered job passed: https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_r2r_jitstressregs1_tst/25/.  Close?

[2019-03-18 20:30] BruceForstall commented on #23123
Yes. Closed.

[2019-03-18 20:30] #23123 closed

[2019-03-18 20:56] robertborr opened #23322 "ToolsError build failures in 'official/dotnet/coreclr/refs/heads/master' - '20190317.71'"
@dotnet-mc-bot commented on [Sun Mar 17 2019](https://github.com/dotnet/core-eng/issues/5539)

There were a set of failures during this build. Here is a summary of these:
* https://dnceng.visualstudio.com/internal/_build/results?buildId=126150
  - **Agent:** a0000JX
  - **Error log:** /__w/2/s/tests/dir.traversal.targets(0,0): error : (No message specified) [/__w/2/s/tests/src/dirs.proj]...

@robe

[2019-03-18 21:12] VSadov commented on #22303
I will take a look at the repro if noone is working on this bug.

[2019-03-18 21:22] BruceForstall opened #23324 "LNK4098: defaultlib 'libcmt.lib' conflicts with use of other libs"
Apparently starting with https://github.com/dotnet/coreclr/pull/23106, we have this new build warning:

[code]

First merge job with failure (Windows x64 Checked build):
https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_windows_nt/11655

@jorive PTAL

[2019-03-18 21:38] Maoni0 commented on #13292
could you please give us more detail on your container setup? what limits did you set on your container?

[2019-03-18 21:45] jorive commented on #23324
Taking a look.

[2019-03-18 21:46] Rakiah commented on #13292
I've been using .NET Core 2.1.6 and running dotnet watch run *.csproj
I've tried to set no limits and each of my containers reached 700mb, by adding a 150mb mem_limit the microservices never manage to fully build as it is so slow, each request is raising memory usage by 1mb and at some point (roughly 15min after) it went down to 250mb (which is still extremely high for an almost blank project API

[2019-03-18 21:47] mikedn commented on #23285
I verified that @CarolEidt 's  work in #22255 does indeed fixes this issue:
[code]

[2019-03-18 21:49] mrange commented on #23285
That's quite exciting news. When/how can I test it?

[2019-03-18 22:25] ststeiger commented on #23171
The project is already as minimal as it gets.
https://github.com/ststeiger/CefGlue_NetStandard/tree/master/PdfGlue
You need the shared project "AnyCefGlue"
the library "CefGlue_NetStandard2"
and the console application "PdfGlue"

everything else is noise.
oh, and extract the contents (CEF-binaries) of the folder ("Release" xor "Debug") and "Resources" of the [tar.bz2 file](http://opensource.spotif

[2019-03-18 22:48] RussKeldorph commented on #17603
We weren't able to repro this.  Please re-open if you can.

[2019-03-18 22:48] #17603 closed

[2019-03-18 23:30] sandreenko commented on #23273
It was fixed by #23272.

[2019-03-18 23:30] #23273 closed

[2019-03-18 23:35] CarolEidt commented on #20379
This is an issue for all platforms. If, for example, you run JIT\HardwareIntrinsics\Arm64\Simd\Simd.exe on an x86 platform, you will see a call to `System.Runtime.Intrinsics.Arm.Arm64.Simd:get_IsSupported():bool`. And if you run just about any test on arm64 (or using the arm64 altjit) you will see various calls to `get_IsSupported` for x86 intrinsics that should be treated as a constant `false`.

[2019-03-18 23:52] AndyAyersMS commented on #23309
Finally have a repro of the stack overflow -- needed to figure out how to run IIS Express outside of VS.
Not surprisingly we are jitting what is likely a very large dynamically created method... triggering frames in the app are:
[code]
Trying to get a picture of what that method looks like now...

[2019-03-19 00:58] AndyAyersMS commented on #23309
Looks like the method in question pends a large number of things to the stack and then calls a constructor:
[code]
Repro is on 2.2.

Note under IIS stack limit is 512MB.

That .ctor has 785 arguments, seems to parallel the number of services added.

The jit should be breaking up the size of input trees to avoid recursion issues with really big trees. But we avoid splitting trees for certain specia

[2019-03-19 01:01] #7793 closed

[2019-03-19 01:06] VincentBu opened #23330 "Bad IL format exception"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_checked_windows_nt_r2r_tst/47/

**Failed tests:**
baseservices_threading._generics_threadstart_GThread20_GThread20_._generics_threadstart_GThread20_GThread20_cmd

**Log:**
[code]

[2019-03-19 01:27] sywhang commented on #22306
Closing this since #22707 was merged - the macro issue is tracked by #23087 which I'm also taking a look.

[2019-03-19 01:27] #22306 closed

[2019-03-19 01:50] AndyAyersMS commented on #23309
Hmm, checked jit does not get the stack overflow.
[code]
So wonder if there is some kind of chk-rel divergence?

[2019-03-19 01:53] Maoni0 commented on #13292
I'm not sure what to expect for "an almost blank project API". but it's odd that you could even go up to 250mb in a container with the mem_limit as only 150mb.

we'll need to collect some data to see what's going on. would it be possible to collect a trace with the instructions mentioned [here](https://github.com/dotnet/coreclr/blob/66009329a187634dc432854cdd7c893d972156eb/Documentation/project-do

[2019-03-19 02:24] AndyAyersMS commented on #23309
Importer-driving splitting seems to be happening, every 0xd0 bytes or so, and it looks to be done the same way in chk and release. So it's not that...

[2019-03-19 02:45] AndyAyersMS commented on #23309
I suppose even if we split trees the arglist for the constructor is going to have ~700 entries, and because of the clunky way arglists are represented, that would require 1400 nodes. But that recursion should happen the same way in chk and release, and if anything, chk should use more stack.

But, perhaps the ret build is inlining more aggressively, so each frame in RET takes up more space than in

[2019-03-19 03:21] AndyAyersMS commented on #23309
Note normally we're fairly careful to iterate over the args list, but if we're remorphing, we recursively process them:
[code]
And yes frame sizes grow in release builds, especially for `fgMorphSmpOp`:

| Method  |  Check |  Release |
| ------- | ---- | ------ |
| `fgMorphTree` | 160 | 208 |
| `fgMorphSmpOp` | 208 | 432 |

Since these two call each other recursively to morph the late arglist, we g

[2019-03-19 04:37] fiigii commented on #23285
@CarolEidt's work also makes the codegen of [PacketTracer](https://github.com/dotnet/coreclr/tree/master/tests/src/JIT/Performance/CodeQuality/HWIntrinsic/X86/PacketTracer) much better.
Diff on [`GetPoints`](https://github.com/dotnet/coreclr/blob/master/tests/src/JIT/Performance/CodeQuality/HWIntrinsic/X86/PacketTracer/PacketTracer.cs#L205-L222) (collected on OSX)
[code]

I believe larger function

[2019-03-19 07:32] Lakritzator commented on #13277
@per-samuelsson I just stumbled upon this issue, doesn't the AssemblyDependencyResolver which was introduced here: https://devblogs.microsoft.com/dotnet/announcing-net-core-3-preview-3/ help you?

Examples can be found here: https://github.com/dotnet/samples/tree/master/core/extensions/AppWithPlugin

[2019-03-19 07:32] noahfalk commented on #23087
Yeah, I think we should.
The ultimate goal is that runtime perf with LTTng turned on in a configuration that logs very few events (like GCCollectOnly) should have only neglible overhead relative to LTTng being off.

[2019-03-19 07:45] AndyAyersMS commented on #23309
See also the perhaps related #21450 (not clear there what the root cause of overflows is...).

[2019-03-19 07:56] AndyAyersMS commented on #23309
cc @dotnet/jit-contrib

Seems like we ought to fix this recursion. More worrying is the fact that we can see overflows in release that we don't see in checked. Not clear what we do about that.

[2019-03-19 08:07] mikedn commented on #23309
Remains to be seen if fixing this in morph won't just move the stack overflow somewhere else. I'm pretty sure loop hoisting will also recurse down `GT_LIST` nodes (though I suppose this particular call isn't in a loop so perhaps it doesn't matter). There are many reasons I'm trying to get rid of `GT_LIST`...

[2019-03-19 08:42] BrainCrumbz commented on #13277
@Lakritzator per this piece of example readme:

it seems that could actually help.

[2019-03-19 09:37] chethanvasishta opened #23337 "Loading a .NET Core 2.0 assembly in Core 3.0 runtime."
We're adding support to our C++ application, to be able to interop with .NET Core. Users will be able to call functions in assemblies (their own or third party) built against .NET Core (version 1, 2 or 3).

To do this, we thought of hosting the latest core runtime, and load all assemblies in this runtime. However, the [version selection document](https://docs.microsoft.com/en-us/dotnet/core/versio

[2019-03-19 10:37] per-samuelsson commented on #13277
At least look interesting! Thanks for the pointer. 👍

I wonder if it also solve traversal of references to shared framework assemblies.

[2019-03-19 11:01] k15tfu commented on #23305
@jkotas @AaronRobinsonMSFT

I was a little inaccurate, sorry. The profiler initialization is already done in `DllGetClassObject`. I was talking about initialization of common stuffs, that are not related to that certain profiler.

I understand your desire to get rid of Windows specifics, and that you want to draw the line between yours and theirs responsibility.

Of course `DllMain` is truly Windo

[2019-03-19 11:05] 6opuc opened #23338 "[SOS] Source code line numbers are not available in ClrStack and PrintException commands"
### Problem description:
When I open core dump using lldb+sosplugin and use commands like PrintException or ClrStack then I get only method names without line numbers.

### Steps to reproduce:
1. Run app with unhandled exception, for example: `docker run -it 6opuc/lldb-netcore-use-cases UnhandledException`. Exception stack trace with source code line numbers is printed in app output.
2. Open core

[2019-03-19 11:23] janvorli commented on #23338
cc: @mikem8361

[2019-03-19 12:42] ArtBlnd opened #23340 "Wired length comperer GenTrees in RangeCheck optimization section"
I don't know why some array length check dump shows like this

[code]

It should be like I think.
[code]

seems RangeCheck optimization processes after CSE optimization.
is this something wrong with CSE?

code in C#
[code]

Related to https://github.com/dotnet/coreclr/pull/22848

[2019-03-19 12:47] Rakiah commented on #13292
Actually it is correctly limited to 150 mb and never raises to 250 mb, I said that for the first case, when limiting to 150 mb it literally take ages fo the command dotnet watch run to complete (which seems very similar to a slowness linked to lack of memory)

I'll collect the data required today and will post there

[2019-03-19 14:38] akutruff opened #23342 "Core support for object pooling"
We need object pooling support at a deeper level than is currently possible.  The strongest evidence: **Roslyn, the C# compiler itself, had to end up implementing multiple object pools** to achieve performance goals.  See here:

### Pools from Roslyn source
- [`PooledObject`](https://github.com/dotnet/roslyn/blob/defeca5d0e44915fc978cfd93d3de2e4a6d0dbf4/src/Workspaces/Core/Portable/Utilities/Objec

[2019-03-19 14:52] AaronRobinsonMSFT commented on #23305
@k15tfu That is true, but `DllMain` has nothing to do with COM and adding lots of initialization in `DllMain` has been an anti-pattern for years. There are a limited number of safe operations that can be done since the loader lock is taken which reduces the number of functions that can be called safely. The other concept that is actually COM and the correct way is to perform "global" initializatio

[2019-03-19 15:19] NextTurn commented on #22600
Closing, since there's been no discussion, which suggests that there is no need for such feature.

[2019-03-19 15:19] #22600 closed

[2019-03-19 15:34] Rakiah commented on #13292
Following procedure for collecting trace doesn't seem to work, it says that my .NET Core process is not running while running `ps aux` show all of the dotnet commands running

[code]

[2019-03-19 15:49] BruceForstall commented on #23330
Related: https://github.com/dotnet/coreclr/issues/23278

[2019-03-19 15:50] BruceForstall commented on #23330
Also:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/x86_checked_windows_nt_r2r/3322

[2019-03-19 15:53] BruceForstall commented on #23330
Looks like it started with https://ci.dot.net/job/dotnet_coreclr/job/master/job/x86_checked_windows_nt_r2r/3297/

which was from: https://github.com/dotnet/coreclr/pull/22830

@MichalStrehovsky Can you take a look?

cc @jkotas

[2019-03-19 15:59] MichalStrehovsky commented on #23330
@jashook was validating if that was indeed the cause in #23291. I think we should just merge that. Ready to run has some odd dependency on the cargo cult code I deleted. That one is tracked in #23317 and we'll likely be able to rollback the rollback once that's fixed.

[2019-03-19 16:06] vitek-karas opened #23343 "Support simple assembly names in startup hook"
`STARTUP_HOOK` runtime property allows injecting code before application main - see the [spec](https://github.com/dotnet/core-setup/blob/master/Documentation/design-docs/host-startup-hook.md) for details.

Currently it's a delimited list of fully qualified file paths - paths to assemblies.
This means that the user (either env. variable or native host) must know the full path to the assembly. That

[2019-03-19 16:06] vitek-karas commented on #23343
@davidfowl  @sbomer @jeffschwMSFT @sdmaclea

[2019-03-19 16:13] Rakiah commented on #13292
It seems like if I limit the container to only have half of a core of a CPU the memory usage drops to a stable 300MB, (which is still extremly high)

[2019-03-19 16:16] Rakiah commented on #13292
I've tried to reduce it down to 0.1 cpu but now it takes half an hour to boot up, doesn't seem to be a good solution

[2019-03-19 16:41] AndyAyersMS commented on #23309
Trying to come up with a simpler repro but no luck so far.

If you launch via VS it will not catch the exceptions as it sets itself in managed debug mode. So you need to use windbg, and hence launch from the command line. If you just `dotnet run` it will use a bigger stack. So need to host this in IIS express.

Here's my repro method. Likely fragile. First build the test app via `dotnet build`. Th

[2019-03-19 16:50] AndyAyersMS commented on #23309
Looks like this was fixed in 3.0 via #18582. Perhaps we should think about propagating that to 2.2.

[2019-03-19 16:53] sergiy-k commented on #15866
@tommcdon, could you please route this issue? Should be assigned to someone on your team?

[2019-03-19 17:01] mikem8361 commented on #23338
To get source/line numbers with the PrintException you need to add "-lines"

    pe -lines

"pe" and "printexception" are aliases to "sos PrintException".  See `soshelp` for more.

`clrstack` should print the source/line info for all the frames that have .pdbs without any options.  If you are still having problems can you upload the coredump file?

The new SOS in the[ diagnostics ](https://github.

[2019-03-19 17:06] AndyAyersMS commented on #23309
Porting #18582 to 2.2 fixes the repro case.

[2019-03-19 17:28] Peperud commented on #1235
Amen!

[2019-03-19 17:32] tannergooding commented on #20379
@CarolEidt, even if this isn't handled as intrinsic, why isn't the JIT inlining the method and treating it as a constant (given that the IL only ever returns `false`)?

[2019-03-19 17:35] NinoFloris commented on #13292
@Rakiah Could you try it with a preview net core 3.0 sdk container? There have been some decent wins around memory usage in 3.0.

Also I'm curious why you need to build/watch a project in a container that you then also give a memory limit? The scenario these low memory limits were optimized for are mainly production usage, a plain runtime container (no dotnet sdk) that just boots your published di

[2019-03-19 17:35] AndyAyersMS commented on #18406
Probably also: if the jit is going to emit a slow tail call (or fail to tail call), consider allowing inlining?
* not clear how many slow tail call candidates will be good inline candidates.
* not clear how easily we can anticipate failure or slowness early on.

[2019-03-19 17:49] Rakiah commented on #13292
I just tried the memory limit to mitigate the 700mb ram usage:

Let me explain my cases: we're running a micro-services architecture, my developpers run on machines with 16 gb of ram, If they boot up our currently 10 (but growing) microservices it takes just 8 GB of ram for this to work, but they also run Kafka & a Unity frontend, this is already a problem and will be a bigger problem soon enough,

[2019-03-19 18:33] CarolEidt commented on #20379
I haven't analyzed that, though I suspect that in some cases it's running into limits.

[2019-03-19 18:34] #18886 closed

[2019-03-19 18:35] Maoni0 commented on #13292
@tommcdon would it be possible to have someone from your team to look at the problem of collecting traces on linux that @Rakiah is [encountering](https://github.com/dotnet/coreclr/issues/13292#issuecomment-474427509)?

[2019-03-19 18:37] thegreatco commented on #20287
I can't agree more. There are already several tools available that do this.

[2019-03-19 18:56] jkotas commented on #23342
Thank you for a detailed feedback. I do think it will help to have yet another issue with general discussion that mixes multiple topics together. These discussions never go anywhere. I would recommend focusing on the more concrete proposals:

General purpose object pools: Start a concrete API proposal in CoreFX: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-pro

[2019-03-19 18:57] jkotas commented on #23342
Duplicate of #1235

[2019-03-19 18:57] #23342 closed

[2019-03-19 19:13] meirkr commented on #18013
Hi.
Any progree with the ability to load unmanage assembly into my. Net core app?
Is it planned for. Net core 3.0 release?

[2019-03-19 19:19] swaroop-sridhar commented on #20287
Thanks for the feedback @Safirion, @mattpwhite, @x2bool,  @thegreatco.
From these, I see a range of usage scenarios (console apps, WPF, GUI apps, etc), but the overall requirements seem similar:
* Focus on execution/startup time rather than build time.
* Ability to rebuild apps for further releases/patches
* Ability to run directly from the bundle (especially for pure-managed components).

I belie

[2019-03-19 19:19] swaroop-sridhar commented on #20287
Yes, as explained in this [staging doc](https://github.com/dotnet/designs/blob/master/accepted/single-file/staging.md) the goal is to progressively minimize the dependence on file extraction.

[2019-03-19 19:21] jkotas commented on #23337
CoreCLR is tightly coupled with CoreFX. Using CoreFX 2.x with CoreCLR 3.0, or vice versa is not supported.

Yes, the most common failure mode are going to be missing type and missing method exceptions.

[2019-03-19 19:22] #23337 closed

[2019-03-19 19:24] swaroop-sridhar commented on #20287
@mattpwhite, wanted to clarify whether you think this solution doesn't work for your based on:
* The self-extraction based approach proposed earlier in this work-item, or
* The design noted in this [doc](https://github.com/dotnet/designs/blob/master/accepted/single-file/design.md)
I believe the later document tries to address the scenario you've detailed. Thanks.

[2019-03-19 19:26] #23330 closed

[2019-03-19 19:30] swaroop-sridhar commented on #20287
@mattpwhite, there is ongoing work to integrate ILLink (tree-shaking), crossgen (generating ready-to-run native code), and single-file bundling aspects into msbuild/dotnet CLI in a streamlined fashion for .net core 3. Once this is done, using these tools can be accomplished easily (ex: setting certain msbuild properties).

All of these tools, do come with tradeoffs. For example, crossgen generates

[2019-03-19 19:33] akutruff commented on #23342
Respectfully, I do not agree with closing this issue this quickly and marking it as a duplicate.  The issues you're referencing of course are relevant to the topic, but do not illustrate the elephant in the room that pooling of _specific_ sets of instances for high frequency _reuse_ is it's own thing.  I appreciate the encouragement to make an API propsal, but it does not bode well to work on solv

[2019-03-19 19:41] AaronRobinsonMSFT commented on #18013
@meirkr There is good progress. See https://github.com/dotnet/coreclr/pull/22636 and https://github.com/dotnet/core-setup/pull/5185. Much of what we are waiting on is VC++ tooling support. The plan is for the .NET Core 3.0 release.

[2019-03-19 19:58] sdmaclea commented on #23343
`if (Path.IsPathFullyQualified(item))` seems suspicious.  Why not `STARTUP_HOOK_ASSEMBLYNAME`?

[2019-03-19 20:39] AndyAyersMS commented on #23309
Will wait for #23346 to merge, and then will propose porting that and #18582 over to 2.2.

[2019-03-19 20:57] VSadov commented on #21504
Could it be a glibc bug -  https://sourceware.org/bugzilla/show_bug.cgi?id=19329 ?

[2019-03-19 21:02] noahfalk commented on #15866
Historically teams that build new runtime features own the testing of those features across all the perpendiculars. I think its reasonable for the diagnostics team to assist with adding a new regression test, running it for you in the future + the general consulting/assistance we already did, but not to own this work item all up.

[2019-03-19 21:16] VSadov commented on #21504
pthread_create goes through an assert for a condition that dlopen may briefly violate.
Looks like it is a very tight race. I am not sure it is worth considering a mitigation on our side unless starts regularly reproducing.

[2019-03-19 21:17] VSadov commented on #21504
@RussKeldorph - should we NoRepro this and wait for more hits?

[2019-03-19 21:23] RussKeldorph commented on #21504
@VSadov Good find.  I'm find with closing unless/until it becomes a bigger problem.  I added the `tracking-external-issue` label assuming you are correct.

[2019-03-19 21:29] AndyAyersMS commented on #23277
Marking this as future; we can revisit once the issue is better understood.

[2019-03-19 21:29] VSadov commented on #21504
There is also a possibility, at least in theory, for this to become a nuisance for the stress tests.
If happens, then perhaps just tweak the impacted tests to avoid unfortunate timing.

Will close for now.

[2019-03-19 21:29] akutruff commented on #1235
The title now includes pools along with etcetera!  That will give this the visibility this deserves for sure.

[2019-03-19 21:33] vitek-karas commented on #23343
Why do you think `IsPathFullyQualified` is suspicious? That exactly what `LoadFromAssemblyPath` calls to validate its arguments. Which means that the proposed change does not limit any of the existing functionality.

It definitely possible to introduce another runtime property and environment variable, it just doesn't feel necessary.

[2019-03-19 21:34] AndyAyersMS commented on #23340
This form is expected, after CSE runs -- CSE creates embedded assignments with commas. You should see other trees simplified to just use `cse0` instead of arr_length.

If what you are saying is that CSEs of array lengths mess up RangeCheck, that's certainly possible. If we put CSE temps into SSA (see [this comment](https://github.com/dotnet/coreclr/issues/21973#issuecomment-463012984) for a link t

[2019-03-19 21:44] CarolEidt commented on #23285
I've re-synced #22255 and am working through some new issues. I hope to get this in for 3.0, but will have to see what complexities arise.

[2019-03-19 21:50] davmason commented on #22936
Fixed with #23202

[2019-03-19 21:50] #22936 closed

[2019-03-19 21:50] davmason commented on #18536
Fixed with #23202

[2019-03-19 21:50] #18536 closed

[2019-03-19 21:50] mrange commented on #23285
The removed `-lea      rsp, [rbp]` I suppose is because there's no stackframe and no need to restore the stackpointer?

[2019-03-19 22:05] RussKeldorph commented on #22820
@AndyAyersMS @BruceForstall Fixed by #23138?

[2019-03-19 22:09] AndyAyersMS commented on #22820
Yes. Also merged to 2.2 via #23256.

[2019-03-19 22:09] #22820 closed

[2019-03-19 22:10] fiigii commented on #23285
Yes, because the program no longer need to allocate stack space via `-sub rsp, 496` for spilled local variables, so `rsp` is unchanged in this function body.

[2019-03-19 22:31] RussKeldorph commented on #23322
Duplicate of #23330

[2019-03-19 22:31] #23322 closed

[2019-03-19 23:22] #22219 closed

[2019-03-20 00:10] sywhang commented on #23087
Chatted with @noahfalk offline today and wanted to log it here for bookkeeping purposes :-)

On EventPipe side, I'll be sending out a fix soon with a change for these macros.

On LTTng side, things are a little more complicated as we don't have a good way to check (yet) on whether certain providers/keywords/levels are enabled, but all the callsites to these macros are using combinations of provide

[2019-03-20 00:20] #23312 closed

[2019-03-20 00:25] jkotas commented on #23087
Why can't we just fix the macros? Do every one of these callsites really need to change?

[2019-03-20 00:27] sywhang commented on #23087
For EventPipe that's doable (and is what the fix looks like). On LTTng we don't have a notion of checking for a combination of provider/keyword/level, and we can only check for whether a single event is enabled or not.

[2019-03-20 00:46] stephentoub commented on #23310
I see how this could have happened.  The test was queueing a work item that called SslStream.Read, and if that were delayed long enough, it could have run after a later call to Dispose, triggering Read to throw an ObjectDisposedException.  That test code, however, only lived for about a day, at which point it was changed in a way where that interleaving can no longer happen (the Read call is now m

[2019-03-20 00:46] #23310 closed

[2019-03-20 01:41] AriNuer opened #23355 "[x64\windows]Error: no assets for test sdk package where found"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_corefx_tieredcompilation/235/

**Failed log:**
[code]

[2019-03-20 02:26] mattpwhite commented on #20287
@swaroop-sridhar, thanks for taking the time to respond.

It seemed like extraction is still in the picture for anything self-contained, and the status of crossgen (or anything else to cut down in JIT time at launch) wasn't clear to me.  Reading the staging doc that the current design links to it looked like the stuff that would make this more interesting to us was further out.  Given that, my thi

[2019-03-20 05:32] #23340 closed

[2019-03-20 05:34] ArtBlnd commented on #23340
Thanks, so should I wait for that prototype patch? or should I just simplify codes?
I don't think its modified on RangeCheck section. so any way  to check that `GT_LCL_VAR` is length?

[2019-03-20 05:45] 6opuc commented on #23338
I have line numbers in my app output(exception stack trace):
[code]
So I expect that I'll have line numbers in `pe -lines` and `clrstack` when I'll open coredump, but I have the following:
[code]

I expect to see the same line numbers in core dump as in the app output, but I have only:
[code]
Core dump in attachment:
[core.1.gz](https://github.com/dotnet/coreclr/files/2986649/core.1.gz)

Also I tr

[2019-03-20 06:15] 6opuc commented on #23338
And in windows with windbg I have expected output:
[code]

[2019-03-20 06:33] dotnet-mc-bot opened #23358 "Test failure: Interop_IJW._CopyConstructorMarshaler_CopyConstructorMarshaler_CopyConstructorMarshaler_/_CopyConstructorMarshaler_CopyConstructorMarshaler_CopyConstructorMarshaler_cmd"
Opened on behalf of @AriNuer

The test `Interop_IJW._CopyConstructorMarshaler_CopyConstructorMarshaler_CopyConstructorMarshaler_/_CopyConstructorMarshaler_CopyConstructorMarshaler_CopyConstructorMarshaler_cmd` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190319.73 (Core Tests)
Failing configurations:
- Windows.10.Arm64-arm
  -
  -
Details:
https://mc.dot.net/#/product

[2019-03-20 08:17] Rakiah commented on #13292
Doesn't seem very trivial to go from 2.1.6 to 3.0.0-preview4 @NinoFloris
I get error at bootup for my code (however, for the small time that the container is running (before any of my code is running basically, it raises to 280 mb of RAM))

[2019-03-20 08:33] simplejackcoder opened #23359 "Accessing first character of a string without using fixed"
Is it possible to retrieve the _firstchar property of a string reference without having to put it inside a `fixed` block in C#?

I tried to use the `Unsafe` class but I'm not available to get a working solution.

Is this only possible in IL?

Is it safe to do? My hunch is yes because it is used in coreclr quite often. I'm fine using `OffsetToStringData` but without having to put it as fixed.

In o

[2019-03-20 09:46] noahfalk commented on #23087
For clarity, it is LTTng that doesn't have a notion of keywords, not a lack of effort or incompleteness on the runtime's part : ) Our choice is how do we handle the mismatch between macros that assume keywords exist and a tracing system that doesn't provide them.

On a little further thought I think a reasonable approach might be taking the set of events (A, B, C) that are enabled by a keyword and