[2016-03-21 23:22] janvorli commented on #3412
@sergiy-k FYI

[2016-03-21 23:22] benpye commented on #3454
Are you certain that lldb works without the plugin? I recall it seg-faulting on ARM on any binary. Perhaps this has changed, that was version 3.6.

[2016-03-21 23:32] janvorli commented on #3412
@jkotas I wonder if we should rather catch exceptions stemming from the `System.Exception.GetStackTrace` in the `System.Exception.ToString` and return empty stack trace in such cases rather than failing to convert the exception to string at all.
Or, maybe better, go a bit more fine-grained and catch exceptions in the loop that extracts parameter info in the `System.Diagnostics.StackTrace.ToString`

[2016-03-21 23:40] jkotas commented on #3412
This sounds good to me.

It is fine change to do for CoreCLR / .NET Core. (For full .NET Framework, it would require more careful thought.)

[2016-03-21 23:40] jkotas commented on #3412
cc @noahfalk

[2016-03-21 23:42] briansull opened #3850 "Additional work to prevent StackOverflows in the JIT/NGEN/Crossgen"
The JIT currently uses many recursive routines throughout the codebase.

The JIT (but not NGEN or Crossgen) with drop to MinOpt when certain thresholds are reached.
For example a method with more than 2000 BasicBlocks:  DEFAULT_MIN_OPTS_BB_COUNT

We decide to drop to MinOpts by calling  opts.SetMinOpts(true) in Compiler::compSetOptimizationLevel()
We have also written a set of guards to insure tha

[2016-03-21 23:58] AndyAyersMS commented on #3848
Here's the outlier with the largest unexpected code size increase: inline #16 into `GetBytes`. We inline 15 bytes of IL and grow native size 357 bytes.  Note it is cancelled out two inlines later.

[code]

[2016-03-22 00:08] AndyAyersMS commented on #3848
Wonder if there is an off-by one error somewhere -- it would make more sense if the inline of `Contract.Assert` triggered the big size reduction (since presumably its args are dead in release builds).

[2016-03-22 00:13] manu-silicon commented on #3804
@benpye Did you have a chance to look at this? Otherwise, I'm going to have a look at it since this is blocking me.

[2016-03-22 00:18] manu-silicon commented on #3454
@benpye @leemgs For me, lldb is simply not working on ARM, it segfaults immediately after starting a process.

[2016-03-22 00:44] noahfalk commented on #3412
@jkotas thanks for the heads up
@janvorli -  From the diagnostics perspective adding additional try/catch around the reflection seems like a fine solution.

I'm surprised that we can have a method on the stack whose parameter type we are unable to load? If the DeserializeObject method has a parameter type that can't be loaded I would expect an error during jitting that prevents the method from eve

[2016-03-22 00:50] jkotas commented on #3412
Right, `StreamingContext` is a struct. We should have tried to load it and fail during JITing - it is suspect that we were able to get this far.

[2016-03-22 00:53] benpye commented on #3804
@manu-silicon Sorry, I haven't gotten very far with anything this weekend. Some other stuff came up.

[2016-03-22 00:53] jkotas commented on #3412
`JsonSerializerSettings` is a class. It is just used as parameter type, the  JIT just needs to know that it is a reference type. It does not need to load it to figure out the GC info.

[2016-03-22 00:54] janvorli commented on #3412
The parameter of type Newtonsoft.Json.JsonSerializerSettings passed to the DeserializeObject is null in our case. That should explain why there was no problem jitting the method.

[2016-03-22 01:09] rahku commented on #3324
Done

[2016-03-22 01:09] #3324 closed

[2016-03-22 01:41] AndyAyersMS commented on #3753
I think there is a build system issue if you switch from debug to release in the same tree without cleaning it first. mscorlib.dll is written to a configuration-neutral location and then via postprocessing ends up in in the appropriate Debug/Release directory. So if you build one way and then immediately build the other, the build system thinks the initial mscorlib is up to date and you can get th

[2016-03-22 01:58] manu-silicon commented on #3753
@AndyAyersMS I'll give it a try next time I'll do the switch. Thanks.

[2016-03-22 02:18] janvorli commented on #3412
With the simple fix I've suggested, running the app now gets this:
[code]

[2016-03-22 02:18] noahfalk commented on #3412
Makes sense, thanks!

[2016-03-22 02:19] noahfalk commented on #3412
@janvorli - LGTM

[2016-03-22 02:31] janvorli commented on #3753
The bug is in the dir.props, here is the fix (I'll send a PR tomorrow, it is too late here now. But if anyone wants to fix it in the meanwhile, feel free to do that:
[code]

[2016-03-22 06:23] myungjoo commented on #3546
This error no more appears with recent commits.

[2016-03-22 06:23] #3546 closed

[2016-03-22 06:23] myungjoo commented on #3309
This issue no more appears with recent commits

[2016-03-22 06:23] #3309 closed

[2016-03-22 06:27] AndyAyersMS commented on #3753
Jan K fixed this in #3855. @manu-silicon let us know if this fixes your issue.

[2016-03-22 06:43] myungjoo opened #3856 "ARM/Linux Coreclr breaks with Roslyn."
With some stability patches to libunwind that expands the patch of
https://lists.nongnu.org/archive/html/libunwind-devel/2015-05/msg00002.html
for the case of read as well as write, we get the following error.
(Without it, we just get "segmentation fault" without any information)

[code]

When we reach that point, the stack looks like this:
[code]

The problem is that the saved LR at Frame 11 (The

[2016-03-22 06:48] myungjoo commented on #3856
Another interesting point is that it stores {r4-r11, sp} with stmdb while restoring them with ldmia.w and stores {d0-d7} with vstmia and restores with vldmia. Doesn't this seem to break the symmetricity?

[2016-03-22 07:58] manu-silicon commented on #3753
@AndyAyersMS @jkotas I've just tried switching and it worked without failure. Thanks!

[2016-03-22 07:58] #3753 closed

[2016-03-22 08:18] manu-silicon opened #3857 "IsEventSourceLoggingEnabled Missing on Linux ARM"
I'm having an issue on Linux Arm where it cannot find an ID for method ```IsEventSourceLoggingEnabled``` at line 542 of ecall.cpp (https://github.com/dotnet/coreclr/blob/master/src/vm/ecall.cpp#L542)

Turns out that FEATURE_EVENT_TRACE is disabled for Linux ARM by this PR #2935. Should this be reverted back to allow FEATURE_EVENT_TRACE for all platforms? Or should we change mscorlib to not call it

[2016-03-22 08:20] manu-silicon commented on #3857
For the time being, I've enabled FEATURE_EVENT_TRACE without visible ill effect.

[2016-03-22 08:42] manu-silicon commented on #3754
See PR #3803.

[2016-03-22 08:43] manu-silicon commented on #3804
I've done some work today on this issue and here is what I came up with:
https://github.com/dotnet/coreclr/compare/master...manu-silicon:calli?expand=1

@jkotas Can someone review and provide some feedback?

It certainly helps me go further on the execution of some of our programs on Linux ARM.

PS: I did not do a PR as it contains a fix for PR #3803 which is not yet merged.

[2016-03-22 08:44] myungjoo commented on #3856
Very Strange...

If I compile the following code with all reference library correctly in corefx with mcs, it works.
If I compile it with mcs without any options (no /nostdlib /noconfig /r:ref/...), it shows the same error.

Thus, it is possible that
- Roslyn build (cibuild.sh) refers dlls not recognized by the corefx of today.
and
- Coreclr today loses (breaks the stack and all sanity stuff) it if

[2016-03-22 09:12] mkborg commented on #3805
"**p**bzip2" is compatible with regular "bzip2" thus the following ordinary command

can be used instead of

[2016-03-22 09:19] benpye commented on #3804
Whilst that won't hit the exception (I again seem to remember doing this before...), your code generation will be wrong and you will hit an issue further down the line since r4 could be corrupted (as I understand it).

[2016-03-22 09:34] mikedn commented on #3839
An up-for-grabs JIT issue? I'll take a look as soon as I have some time :)

[2016-03-22 09:50] leemgs commented on #3805
Instead, you will have slow decompression speed by using bzip2 w/o pbzip2.

[2016-03-22 10:02] mkborg commented on #3805
Decompression speed doesn't matter for me. Short and standard command line is preferable.

I would also prefer 'xz' compression since it has much better compression rate and reduces download time.

[2016-03-22 11:18] manu-silicon commented on #3804
Cannot check right now, but it would help to know from where the call to GenericPInvokeCalliHelper is done. The current code already generate an IL stub if the cookie is not set yet.

[2016-03-22 12:10] myungjoo opened #3859 "ARM/Linux infinite looping with exception handling"
We've found another case of infinite loops (GDB tracking: https://github.com/myungjoo/coreclr/issues/3 )
related with src/vm/exceptionhandling.cpp:UnwindManagedExceptionPass1()'s while loop at line 4590, where somehow controlPc directs a dangling stack which cannot be unwinded anymore and still is a unmanaged frame according to IsManagedCode(), which incurs infinitely looping inside the while loop

[2016-03-22 14:16] stephentoub opened #3860 "CentOS debug/release master builds aren't happening"
Note that there's only two builds here:
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/release_centos7.1/
and they're ones I manually kicked off, one from two weeks ago and one from today.

In contrast there's a build here for each set of changes to master:
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/release_ubuntu/

[2016-03-22 14:39] taginn opened #3861 "0x80070001: Incorrect function."
1. Tried to install latest .NET CLI 1.0.0.001598
2. Found out it did not un-install the previous dev install.
3. Uninstalled both.
4. Tried to re-install and received error 0x80070001 - Incorrect function.

log contents:
[1A70:1BE4][2016-03-22T09:36:56]i001: Burn v3.10.2.2516, Windows v10.0 (Build 10586: Service Pack 0), path: C:\Users\tginn\AppData\Local\Temp\{3F782675-FAFE-4D98-8712-D42C4340531A

[2016-03-22 14:42] taginn commented on #3861
moving to cli/issues

[2016-03-22 14:42] #3861 closed

[2016-03-22 16:09] jkotas commented on #3856
It may be a JIT bug.

[2016-03-22 16:51] jkotas commented on #3804
There are two issues getting mixed up: -

- Missing implementation of GenericPInvokeCalliHelper (#3806). Your fix for it looks good.
- The wrapper delegate problem tracked by this issue. @benpye comment about r4 getting corrupted is spot on.

[2016-03-22 17:10] #2037 closed

[2016-03-22 19:10] wtgodbe commented on #3860
This is intentional - I only enabled per-commit CentOS test suites in the CI recentl, and decided to start with just Checked so as not to add too much additional stress to the lab machines. If @mmitche thinks it's alright I can enable Release & Debug as well.

[2016-03-22 19:48] stephentoub commented on #3860
Thanks. If we're going to start with anything it should be release, as corefx has a dependency on that, pulling the latest successful coreclr release build for a platform when running tests on a platform.

[2016-03-22 19:50] wtgodbe commented on #3860
Gotcha. I have a meeting in 10, I'll put up a PR after that.

[2016-03-22 19:56] dagood commented on #3776
Ok, that makes more sense, but I still can't think of anything other than wild guesses.

I tried to repro overnight, and I wasn't able to. The last `build skipnative skipmscorlib` worked fine for me.

A few questions about the repository state that would be good to know:

[2016-03-22 20:07] janvorli commented on #3412
Fixed by #3858

[2016-03-22 20:07] #3412 closed

[2016-03-22 20:15] rahku commented on #3776
This is what I would expect contents of project.json to be at both time instances above
{
  "dependencies": {
    "Microsoft.NETCore.Runtime.CoreCLR": "1.0.2-rc3-00001",
    "Microsoft.NETCore.TestHost": "1.0.0-rc2-23816",
  },
  "frameworks": {
    "dnxcore50": {}
  }
}

[2016-03-22 20:19] rahku commented on #3776
On looking more closely at the project.json file that you pasted above I see the difference at
    "Microsoft.NETCore.Runtime.CoreCLR": "",

This is not expected. I expect version number of the just built runtime package instead of empty string. It seems maybe runtime package did not get built or version extraction logic failed. Maybe the fix would be to error out early on in project.json generati

[2016-03-22 20:21] stephentoub commented on #3860
Thanks.  It doesn't necessarily have to be per-commit... if we were really concerned about lab stress, we could do it nightly or something, though I think it makes sense to be consistent with the other unix builds.  We could also consider changing corefx to use a checked build instead of release, but againI think it makes sense to be consistent.

[2016-03-22 20:32] ramarag commented on #3776
I have updates the sequence inline above

[2016-03-22 20:52] janvorli commented on #3578
@rahku Can I close the issue?

[2016-03-22 20:56] rahku commented on #3578
I was still not able to resolve this. It does use a different tracer than in trace.cs . I looked at the code and made fixes as was made in trace.cs. But it still did not fix the issue for me. It will be helpful if you could look at it.

[2016-03-22 22:15] rahku commented on #3515
Verified that the above tests pass with fixes in above PR Except below two tests which are no longer in cache copy of build
b425314.exe_5446 # JIT\Regression\CLR-x86-JIT\V2.0-Beta2\b425314\b425314\b425314.exe
 b426654.exe_5447 # JIT\Regression\CLR-x86-JIT\V2.0-Beta2\b426654\b426654\b426654.exe

[2016-03-22 23:30] manu-silicon commented on #3804
@jkotas I'll push a PR for #3806. For the r4 issue, am I understanding correctly that you are suggesting going the ```Implement the wrapper delegate using FEATURE_STUBS_AS_IL (produce a snipped of IL that will be handed to the JIT to produce the actual native code)``` route? If so, is this already implemented for either AMD64 Linux or Windows, or should I come up with my own implementation?

[2016-03-22 23:44] jkotas commented on #3804
I am not sure which one of the two options is simpler. Both of them will have some ugly details.

It is not implemented for any existing platforms

[2016-03-22 23:44] manu-silicon commented on #3804
PR for #3806 is submitted at #3869

[2016-03-23 00:38] ellismg commented on #3837
@piotrpMSFT Is there a way to tell CLI to use a different RID during restore and deployment?

[2016-03-23 00:54] manu-silicon commented on #3857
@jkotas Any idea about this one?

[2016-03-23 00:55] manu-silicon commented on #3754
Closing as merged in #3803

[2016-03-23 00:55] #3754 closed

[2016-03-23 01:23] briansull commented on #3756
Resolved with PR #3870

[2016-03-23 01:23] #3756 closed

[2016-03-23 01:32] jkotas commented on #3857
There is a mismatch when the FEATURE_EVENT_TRACE is defined on managed vs. managed sides.

I think it may be best to:
- Enable XplatEventLogger on managed side for all non-Windows platforms (ie change the ifdef around it to `FEATURE_PAL`). XplatEventLogger is very small, and so it is not a problem to have compiled in even when it is not strictly necessary.
- Add dummy unmanaged implementation of t

[2016-03-23 01:34] jkotas commented on #3857
This should make it easy to control whether the x-plat event tracing is enabled through the one central place in top-level CMakeLists.txt.

[2016-03-23 01:34] piotrpMSFT commented on #3837
you can pass -r [--runtime] to specify the RID desired.

[2016-03-23 01:36] janvorli commented on #3578
I've made the same change that was made in the trace.cs in the EHPatternTests.cs and the test started to pass ok on Ubuntu. I'll send a PR for it soon.

[2016-03-23 01:45] manu-silicon commented on #3857
@jkotas Will do that. Any special place to add the dummy unmanaged implementation?

[2016-03-23 01:52] jkotas commented on #3857
We usually add those right next to the real ones. Or in this case - it may be best to just ifdef out the bodies of the real ones, like:

[code]

[2016-03-23 02:40] sergiy-k commented on #3859
/cc @janvorli

[2016-03-23 02:52] sergiy-k commented on #3784
Hi @leemgs, I don't think we have many sample apps. I agree with @manu-silicon's suggestion to run CoreCLR tests as the next step.

[2016-03-23 02:55] sergiy-k commented on #3746
Hi @TingluoHuang, I can see you open an issue for this problem on cli repository (https://github.com/dotnet/cli/issues/1919). Do you mind if I close this one?

[2016-03-23 02:56] leemgs commented on #3805
\CC: @benpye , @jkotas , @myungjoo , @manu-silicon

We have uploaded updated version of the "Linux/ARM Emulator"
* Download "Linux/ARM Emulator ver. 20160323-1130" : https://onedrive.live.com/redir?resid=C93799B86B006829!160&authkey=!AHzZwWUReM20WTg&ithint=file%2cpbz2

![linux-arm-emulator-ver-20160323-screen](https://cloud.githubusercontent.com/assets/82404/13974339/435c4234-f0ee-11e5-9835-5c572f

[2016-03-23 02:58] sergiy-k commented on #3657
Closing the issue since it has been fixed in PR https://github.com/dotnet/coreclr/pull/3656

[2016-03-23 02:58] #3657 closed

[2016-03-23 02:59] TingluoHuang commented on #3746
@sergiy-k Sure, close it. :D

[2016-03-23 03:05] leemgs commented on #3657
Thanks. :+1:

[2016-03-23 03:11] manu-silicon commented on #3806
Closing. See PR #3869

[2016-03-23 03:11] #3806 closed

[2016-03-23 03:15] sergiy-k commented on #3155
Hi @rominator1983, @MichaelKetting, do you still want to keep this issue open on the CoreCLR repository? I'm asking because you opened another one for this problem on https://github.com/dotnet/roslyn. Thank you!

[2016-03-23 03:54] #3746 closed

[2016-03-23 03:55] ellismg commented on #3681
Fixed with #3830

[2016-03-23 03:55] #3681 closed

[2016-03-23 04:00] MattWhilden commented on #3836
It sounds like you're unblocked but if you'd be able to help us out a bit I'd love to figure out what's going on here. Is there any difference in RELEASE or DEBUG for this case? If the problem only manifests itself in RELEASE then it may be a bug in the .NET Native runtime or compiler and we'd need to get a different set of folks to investigate it.

[2016-03-23 04:06] sergiy-k commented on #3657
Thank you for fixing it!

[2016-03-23 04:45] sergiy-k commented on #3065
Hi @ayende, may I please ask you to confirm that the problem that you reported has been fixed by https://github.com/dotnet/coreclr/pull/3059 so we could close the issue?

[2016-03-23 06:04] leemgs opened #3878 "Warning MSB3644: The reference assemblies for framework ".NETFramework,Version=v4.0" were not found"
We have been getting the **MSB3644** warning message when I built the CoreCLR source as following.  And then, we have checked  `PropertyGroup` information from the `./Tools/Microsoft.Common.CurrentVersion.targets` file. Is the folder location of the reference assemblies "Program Files\Reference Assemblies\Microsoft\Framework"? In order to get normally reference paths and target framework directori

[2016-03-23 06:23] weshaggard commented on #1838
With the switch to dotnet cli and init-tools.cmd this we no longer use the CodeTaskFactory for downloading nuget.exe so closing this issue.

[2016-03-23 06:23] #1838 closed

[2016-03-23 06:49] leemgs commented on #3784
@sergiy-k, Now, there are seven demos in https://github.com/dotnet/corefxlab/tree/master/demos from CoreFXLab. Could not we currently get the more demo applicationa to make more robust .net core (e.g., CoreCLR + CoreFX) for Linux/ARM?

1. CoreClrConsoleApplications/HelloWorld
2. CoreService
3. EchoService
4. LibuvWithNonAllocatingFormatters
5. LowAllocationWebServer
6. QotdService
7. dotnet

[2016-03-23 07:10] manu-silicon commented on #3857
Done so in PR #3879.

[2016-03-23 07:17] ayende commented on #3065
I'm not getting access violation any longer, but Kestrel isn't actually building.

PS C:\Work\KestrelHttpServer> dotnet --version
.NET Command Line Tools (1.0.0-beta-001598)

I'll close this and open a new bug for Kesterl

[2016-03-23 07:17] #3065 closed

[2016-03-23 07:23] leemgs commented on #3182
I came back release mode world from debug mode. : ) I have attached a log for tracing system call while running "arm#> ./corerun -c . ./hello.exe " with release mode. I have been analyzing a reason of this issue with Linux/ARM emulator ver 20160323-1130 (https://github.com/dotnet/coreclr/issues/3805) that we have released to support a Linux/ARM virtual device for system developers. Anyone who know

[2016-03-23 07:32] MichaelKetting commented on #3155
@sergiy-k It's okay to close it for me. Thanks :)

[2016-03-23 09:34] janvorli commented on #3578
Fixed by #3875

[2016-03-23 09:34] #3578 closed

[2016-03-23 09:50] janvorli commented on #3784
@leemgs for making the .NET core on ARM more robust, I would recommend using the CoreCLR managed tests, which are in the src/tests subfolder of the source tree. There are about 6000 of them. They are focused on testing various parts of the runtime, including exception handling.
And once these work, you can move to CoreFX tests.
You can find a description on how to build and run the CoreCLR tests o

[2016-03-23 09:56] janvorli commented on #3182
@leemgs the "/tmp/clr-debug-pipe-806-713362-{in|out}" is a named pipe used for communication with a debugger or the lldb debugger extension (SOS).

See src/debug/debug-pal/unix/twowaypipe.cpp

Thanks,

Jan

[2016-03-23 09:56] janvorli commented on #3832
Fixed by #3873

[2016-03-23 09:56] #3832 closed

[2016-03-23 10:08] rolfik commented on #3836
I have managed to reproduce the problem in stripped down version of my current application (Epos.TypeLoadException/UWP solution), but not in minimalistic sample one (TypeLoadExceptionMinimalCase solution).

See:
[TypeLoadException.zip](https://github.com/dotnet/coreclr/files/185745/TypeLoadException.zip)

[2016-03-23 10:39] janvorli commented on #3859
@myungjoo if I can see it correctly from your GDB log, the issue happens when we have unwound past some managed frames, hit the first native frame (PC=0xb655803d) and then try to use native unwinder to unwind from that position to a next frame, where we get PC=0xb6d5f000 and we cannot move out of that frame. Am I correct?
I would recommend checking if those two native PC addresses are valid (try d

[2016-03-23 10:51] brucehoult commented on #3805
I could host files on my personal server at hoult.org if it's useful. I'm using this emulator at work  @(b.hoult@samsung.com).

I'm moving literally right now from a core2duo with 150 GB to a Xeon E3-1231 v3 (pretty much an i7 4770 I think) with 1.4 TB. I wouldn't miss 50 or 100 GB or more.

[2016-03-23 12:14] leemgs commented on #3182
@janvorli , :+1: ,  Until now, I have guessed that the "/tmp/clr-debug-pipe-806-713362-{in|out}" file has been used for only debug mode.  Is a major difference is `_DEBUG` flag between `debug` mode and `release` mode?

[2016-03-23 12:38] janvorli commented on #3182
The pipes are used in release build too, since you want to be able to debug managed code in those as well.
And yes, the _DEBUG indicates debug build, without that symbol defined, it is a release build.

[2016-03-23 12:44] brucehoult commented on #3805
I've mirrored the above files to http://hoult.org/coreclr/

ba4d218 http://hoult.org/coreclr/linux-arm-emulator-20160318-1530.2.pub.tar.pbz2
eca9767 http://hoult.org/coreclr/linux-arm-emulator-20160323-1130.tar.bz2

[2016-03-23 12:49] leemgs commented on #3805
@brucehoult , Thank you for supporting the mirroring  service to archive the old versions of the Linux/ARM Emulator (for evaluating .net core)

[2016-03-23 13:03] myungjoo commented on #3859
@janvorli Thanks for the advice. I'll track the unwinding instance from the start for the broken case and verify if it's passing through managed frames. Right now, I see some probability that this is causing #3856 as well in case of some exceptions (#3309 seems to be resolved partially; there are still exceptions not properly resolved although my test cases of that time passed)

For other two comm

[2016-03-23 13:39] papaslavik commented on #3785
According to the testing by fixing jitted function accepting arguments we actually fix the PInvokes as well.

[2016-03-23 13:54] leemgs commented on #3785
Can you share us patch and testcase?  or with PR?

[2016-03-23 14:02] papaslavik commented on #3785
I'm just building a cleaner patch and will share once I test that as well. Some assertions are returned back so, probably they might complain on test.

[2016-03-23 14:35] papaslavik commented on #3785
The test is in the zip file here:
[a.zip](https://github.com/dotnet/coreclr/files/186187/a.zip)

[2016-03-23 14:43] papaslavik commented on #3785
Also we need to setup a way to properly build arm with softfp support with a command like:
./build.sh arm cross

[2016-03-23 16:51] sergiy-k commented on #3384
cc @weshaggard, Are you on track with work item for RC2?

[2016-03-23 16:54] sergiy-k commented on #3133
@markwilkie, @joperezr,  are we going to implement this for RC2?

[2016-03-23 16:55] sergiy-k commented on #3101
@brianrob, do you have a fix for this issue?

[2016-03-23 16:58] sergiy-k commented on #1964
Hi @chcosta, @joshfree, is this going to make it into RC2?

[2016-03-23 17:02] sergiy-k commented on #1478
@tzwlai, @cshung, is this on track for RC2?

[2016-03-23 17:04] RussKeldorph commented on #3664
@sergiy-k pls close per our conversation.

[2016-03-23 17:07] joshfree commented on #1964
@sergiy-k thanks for giving this bug a nudge.  @ericstj @chcosta have you investigated this yet?

[2016-03-23 17:18] sergiy-k commented on #3836
cc @gkhanna79, @fadimounir

[2016-03-23 17:19] ericstj commented on #1964
Indeed this fell through the cracks, I wasn't looking at coreclr repo.  Packages intentionally no longer support `dotnet` without a version.  We moved to a versioned identifier `dotnet5.x` which was then renamed to `netstandard1.x'.  The change requires an update to the projects to use these.

Chose the `netstandard` version most appropriate for what you're trying to target, or if you don't care,

[2016-03-23 17:22] sergiy-k commented on #1228
Hi @axefrog, based on the comments it seems that the issue you reported got resolved. Would it be OK to close this issue?

[2016-03-23 17:23] sergiy-k commented on #3047
Closing the issue since it seems to be resolved. @wjk, please let me know if that's not the case.

[2016-03-23 17:23] #3047 closed

[2016-03-23 17:26] brianrob commented on #3101
I don't have a final fix for this, but #3110 should have mitigated the crash.  Are you still seeing this?

[2016-03-23 17:29] wtgodbe commented on #3860
https://github.com/dotnet/coreclr/pull/3866 should resolve this.

[2016-03-23 17:29] #3860 closed

[2016-03-23 17:44] sergiy-k commented on #3664
This should be addressed by https://github.com/dotnet/coreclr/pull/3840

[2016-03-23 17:44] #3664 closed

[2016-03-23 17:45] sergiy-k commented on #886
This should be addressed by https://github.com/dotnet/coreclr/pull/3441

[2016-03-23 17:45] #886 closed

[2016-03-23 17:46] joshfree commented on #3800
@JeremyKuhne is this a recent regression?

[2016-03-23 17:48] wtgodbe commented on #3648
https://github.com/dotnet/coreclr/pull/3840 solves this issue for now

[2016-03-23 18:05] #3730 closed

[2016-03-23 18:06] #3515 closed

[2016-03-23 18:16] cshung commented on #1478
Hi EveryOtherUsernameWasAlreadyTaken,

We are confused with your description.
From what you are saying your process is running CoreCLR.dll, and mrt100sos.dll is built for .Net native which is useful for debugging processes running in CoreCLR.

Can you please elaborate what you are trying to do?

[2016-03-23 18:22] markwilkie commented on #3133
@weshaggard who can advise.

[2016-03-23 18:25] sergiy-k commented on #3338
Hi @Bibo1978, I'm closing this issue based on the comments. Please feel to re-open it if you need more information.

[2016-03-23 18:25] #3338 closed

[2016-03-23 18:45] adityamandaleeka opened #3884 "Add a configuration mechanism for runtime properties"
Enable the configuration of runtime options (such as whether server GC is enabled or the value for MinThreads for the ThreadPool worker pool) to be performed through key-value pairs passed in by hosts (see https://github.com/dotnet/cli/pull/1987 for an example of how dotnet/cli would use this), and provide a sane way for callers to query for the values of those properties.

[2016-03-23 19:12] wtgodbe opened #3886 "CI does not print test output for failed tests"
For an example, see here: http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x64_release_windows_nt_pri1_prtest/115/testReport/junit/JIT/_Generics_Instantiation_delegates_Delegate017_Delegate017_/_Generics_Instantiation_delegates_Delegate017_Delegate017_cmd/

After "raw output", we print the name of a file containing the raw output of the test. This is useless for the CI, as that file

[2016-03-23 19:13] wtgodbe commented on #3886
https://github.com/dotnet/coreclr/pull/3868 should address this.

[2016-03-23 20:23] sergiy-k commented on #3101
PR https://github.com/dotnet/coreclr/pull/3110 mitigated the crash by disabling event logging by default. I assume the issue will happen again if event logging gets enabled.

[2016-03-23 20:31] brianrob commented on #3101
The issue was that even when tracing was disabled (off) the crash still occurred because more code ran than should have.  #3110 fixed that, but you're right, with tracing on, it could still happen fort processes that terminate during the tracing session.

[2016-03-23 20:51] weshaggard commented on #3384
This isn't going to happen in the RC2 time frame we will track it for RTM.

[2016-03-23 20:57] tijoytom commented on #3593
Moving from rc2 since ICastable now used by couple of teams using Com API interop and they haven't reported any issue. Likely a test issue.

[2016-03-23 20:57] sergiy-k commented on #3669
Fixed by https://github.com/dotnet/coreclr/pull/3872

[2016-03-23 20:57] #3669 closed

[2016-03-23 20:58] tijoytom commented on #3572
Test issue

[2016-03-23 21:21] weshaggard commented on #3133
We are close to having something be able to generate a version number but I'm not convinced that it will get done for RC2. I'm moving to RTM. Please let me know if anyone feels not having this for the x-plat mscorlib builds in RC2 will break anything critical.

[2016-03-23 21:31] mikedn commented on #3839
I've put together a PR that adds support for multi-dimensional arrays that have all lower bounds = 0. It's not done yet but it seems to work fine with an example I tested:

[code]
generates
[code]
The question is... is it reasonable to compute the pointer to the array data by using a `GT_ADD(TYP_REF, TYP_I_IMPL) -> TYP_BYREF` node? Using a `GenTreeArrElem` node would work but it only supports arra

[2016-03-23 21:37] tijoytom commented on #3571
There  tests are also affected by same issue.
Interop\BestFitMapping\BestFitMapping\BestFitMapping.cmd
Interop\StringMarshalling\LPSTR\LPSTRTest\LPSTRTest.cmd
Interop\StringMarshalling\LPTSTR\LPTSTRTest\LPTSTRTest.cmd
Interop\MarshalAPI\FunctionPointer\FunctionPtrTest\FunctionPtrTest.cmd

[2016-03-23 21:38] anurse commented on #3133
It's not critical, but man I really want it ;)

[2016-03-23 21:42] tijoytom commented on #3571
13:10:51 d:\j\workspace\x86_lb_releas---618496d6\tests\src\TestWrappers_x86_Release\Interop\Interop.XUnitWrapper.cs(351): error : Interop._StringMarshalling_LPSTR_LPSTRTest_LPSTRTest_._StringMarshalling_LPSTR_LPSTRTest_LPSTRTest_cmd [FAIL] [d:\j\workspace\x86_lb_releas---618496d6\tests\runtest.proj]
13:10:51
13:10:51   Unhandled Exception: System.AccessViolationException: Attempted to read or writ

[2016-03-23 22:22] weshaggard commented on #3133
@anurse I hear you but I don't think we will be able to get it through the system in time for RC2 which we are already locking down for.

[2016-03-23 22:36] anurse commented on #3133
Oh totally, I get that :)

[2016-03-23 23:46] discostu105 opened #3894 "Add Profiling-API callback for AssemblyBindFailure's"
Here is my use-case:

 * I'm trying to write a Profiler for the CoreCLR (which is hooked into the process via Profiling API (CORECLR_ENABLE_PROFILING, ...)
 * It's intercepting ModuleLoad and JitCompilationStarted callbacks to modify Module Metadata on the fly and inject IL code into certain methods.
 * The injected IL instructions call a managed helper method, which is defined in a separate assem

[2016-03-23 23:48] JeremyKuhne commented on #3800
@fadimounir I'm not seeing this behavior- looking at your stack it should be failing any API that takes a path, have you seen failures elsewhere?

[2016-03-24 00:33] jkotas commented on #3835
https://github.com/dotnet/cli/blob/rel/1.0.0/scripts/docker/ubuntu/Dockerfile has list broken down to what are the CoreCLR dependencies vs. build env dependencies.

[2016-03-24 00:39] jkotas commented on #3894
@noahfalk This must be a common problem, even for profilers on full .NET Framework. How do profilers solve it typically?

[2016-03-24 01:03] noahfalk commented on #1478
UWP apps can be run on two different runtimes, the .Net Native runtime (compiled in advance) and the CoreCLR runtime (jit compiled). Anything you submit through the store will be running with .Net Native. When building from VS using .Net Native is controlled by a checkbox in the build settings, something like "Enable Native compilation". By default this is not checked when building in Debug and ch

[2016-03-24 01:09] RussKeldorph commented on #3834
@dotnet/jit-contrib

[2016-03-24 02:10] noahfalk commented on #3894
Just a heads up, profiling on .Net Core is not a fully fleshed out scenario at this point. Some of our community members have ported a subset of the APIs and I am not blocking anyone from using them, but its very much a 'try at your own risk' area right now. Check out #445 to see the ongoing discussion. I'm happy to discuss issues and provide what advice I can - just know that pre-canned solutions

[2016-03-24 02:30] seanshpark commented on #3805
:+1:

[2016-03-24 02:39] #1228 closed

[2016-03-24 02:40] axefrog commented on #1228
Yes, I'm not having this problem currently, thankyou.

[2016-03-24 03:06] sergiy-k commented on #1228
Thank you!

[2016-03-24 03:43] manu-silicon commented on #3635
It might be the issue about missing Xplat, see #3857 and #3879

[2016-03-24 04:09] manu-silicon commented on #3784
@janvorli I just tried to run the test on arm, but I'm getting:
[code]

Indeed I do not have a tests folder under src/pal. What does it take to have it?

[2016-03-24 05:21] leemgs commented on #3785
\CC: @watere , @lemmaa , @myungjoo
The above engineers are also interested in this issue. : )

[2016-03-24 05:22] manu-silicon commented on #3784
@janvorli Nevermind, I had skipped the tests on my initial builds and forgot about it.

[2016-03-24 05:33] manu-silicon opened #3898 "Fixing paltest_raiseexception_test3 on ARM"
The test suite for PAL on ARM is almost successful:

[code]

The test that is failing is ```exception_handling/RaiseException/test3/paltest_raiseexception_test3```.

[2016-03-24 05:41] manu-silicon commented on #3898
gdb call stack when it fails:

[code]

[2016-03-24 05:50] manu-silicon commented on #3804
@jkotas I'm a little bit puzzled by the r4 register issue as I do not see it in the few manual samples I wrote by disassembling the generated code.

Is there a test in particular that would exhibit this? So far I'm able to run a quite sizable C# program (in the magnitude of ~100K calls or even more with about 10K jitted methods). Because my program is failing due to a call to branching to PC 0x0,

[2016-03-24 05:53] manu-silicon commented on #3898
@myungjoo Although there is no managed code here, could this be related to your issue #3859?

[2016-03-24 06:59] jkotas commented on #3804
Try this repro:

[code]

x(ifoo, 2) should call `ResolveWorkerAsmStub`. `ResolveWorkerAsmStub` expects the address of the indirection cell in `r4`. The `r4` will be some random value (unless you are really lucky). When ResolveWorkerAsmStub writes back updated indirection cell, it will corrupt some random memory.

[2016-03-24 07:05] myungjoo commented on #3859
It appears that  `while (!ExecutionManager::IsManagedCode(controlPc))` of `VOID DECLSPEC_NORETURN UnwindManagedExceptionPass1(...)` is keep unwinding through all stack frames. I may get more useful data by extracting additional log from the front part of UnwindManagedExceptionPass1().

[code]

Note that 0x12f54 is THE "_start()".
[code]

More debugging data will follow soon.

[2016-03-24 07:07] manu-silicon commented on #3804
Funny this is exactly what I was going to try, but dotnet-cli cannot compile this code:

[code]

I'll do it via IL as there is a CreateDelegate, unless I'm missing something obvious.

[2016-03-24 07:15] myungjoo commented on #3898
This does not look like to be related with #3859, but you may need to ensure if CONTEXT_CaptureContext() in RtlpRaiseException() is filling ContextRecord correctly, especially for the values required by WinContextToUnwindCursor() in seh-unwind.cpp.

[2016-03-24 07:29] myungjoo commented on #3859
Adding the front part of the function `VOID DECLSPEC_NORETURN UnwindManagedExceptionPass1(...)`

[code]
Now we are at the first managed frame `(b450ced8,beefbcb8)`

[code]
`UnwindManagedExceptionPass1()`'s given frame is managed (M1)

In the loop of `while (!ExecutionManager::IsManagedCode(controlPc))`, the first given frame is
native and from that point all frames are managed.

[code]

Thus, the

[2016-03-24 07:40] jkotas commented on #3804
This should compile fine - CreateDelegate was moved to MethodInfo in .NET Core:
[code]

[2016-03-24 07:45] manu-silicon commented on #3804
Thanks. It does fail nicely on arm and it makes it easier to debug. I hope this is the same problem I have with my larger app.

[code]

[2016-03-24 07:50] papaslavik commented on #3785
Added mixed passing arguments complex function to the test:
[a.zip](https://github.com/dotnet/coreclr/files/187411/a.zip)

[2016-03-24 08:22] myungjoo commented on #3859
Ok. Here goes the full stack traversing log with UnwindManagedExceptionPass1()

[code]

So after reaching to the first managed frame (0xb1b13ed8, 0xbee71cb8), UnwindManagedExceptionPass1 starts traversing managed frames (PC 0xb1b13ed8 ... PC 0xb1b1246b).
Then, from the next frames (PC 0xb643c61b ... to the bottom) are ALL native frames, which
inevitably let us loop indefinitely.

However, this Unw

[2016-03-24 08:52] myungjoo commented on #3859
The value of "disposition" in UnwindManagedExceptionPass1 after calling ProcessCLRException() has 0x0 for all the three instances in the above case.

(StackFrame() is not working for this exception :(  ). will continue tomorrow :)

[2016-03-24 09:41] papaslavik commented on #3785
The last commits are better logically split and also there's some small refactoring to the previous ones in them.

[2016-03-24 10:06] wateret commented on #3785
@papaslavik I tested `a.zip` and it was successful. :)
I guess it works fine for caller side to pass fp arguments, as it can call native c functions(P/Invokes). does it?

[2016-03-24 15:42] mmitche commented on #2004
@sergiy-k This doesn't repro any longer, closing

[2016-03-24 15:42] #2004 closed

[2016-03-24 16:33] janvorli commented on #3859
@myungjoo Looking at the trace, it looks like everything is going correctly. Since the UnwindManagedExceptionPass1 starts at the first managed frame, it unwinds all the managed frames and then there are no more managed frames present, which is expected - these are frames from start upto the point when the managed code is started. I can see the same number of native frames on x64.
So the issue is r

[2016-03-24 16:34] RussKeldorph commented on #2666
Moving to future to align with other opt issues.  Will bring back if this is deemed necessary during RTM perf push.

[2016-03-24 16:44] RussKeldorph commented on #1913
@pgavlin @russellhadley If I recall, this was done due to a conflict with the larger CLR.  Can this PR be undone with @pgavlin's pending changes?  If so, could you take it?

[2016-03-24 16:46] russellhadley commented on #1913
Sure.  @pgavlin can you take a look?

[2016-03-24 16:54] jashook commented on #1913
I believe this was removed because the toolset treated static operator new as an error after vs 2015 update 1. It should be independent of the clr.

See the discussion in the pr here for more details https://github.com/dotnet/coreclr/pull/1903.

[2016-03-24 16:59] sergiy-k commented on #2466
It seems there are various topics have been discussed in this issue. May I please ask you to open a separate issue on https://github.com/dotnet/cli/ in case if you are still having problems with installing dotnet/dnx or restoring packages. If no one objects, I would like to close this issue because the problem that was reported in the original post has post has been fixed.

[2016-03-24 17:15] RussKeldorph opened #3903 "[RyuJIT][CQ] Loop trip count test is not efficient"
Per @hoyMS
For the following loop,

[code]

RyuJit generates

[code]

Better would be:

[code]

There’s probably a phase ordering issue with the folding away of the setcc/cmp branch.

[2016-03-24 17:36] #2466 closed

[2016-03-24 18:25] janvorli commented on #3859
I've forgotten to say that this way of stack unwinding is expected in case of an unhandled exception. If the exception in your test is supposed to be handled, then there is a problem in finding the catch handler.
In case unhandled exception is not expected, can you share the source code of your test?

[2016-03-24 18:26] agocke opened #3906 "Stack unwinder for producing stack traces on unhandled exceptions should parse portable PDB for line number info"

[2016-03-24 18:43] #3886 closed

[2016-03-24 18:44] mikedn commented on #3903
I can't reproduce this, the current CoreCLR build already generates the "better" code:
[code]

And anyway, the better code would be no code at all as the loop doesn't do anything :)

[2016-03-24 19:19] piotrpMSFT commented on #2897
@BillHiebert I believe this is already fixed given the state of VS/CLI integration. If not, can you re-open in CLI repo and mark partner-blocking?

[2016-03-24 19:19] #2897 closed

[2016-03-24 19:49] caslan opened #3910 "Unable to debug executable files with spaces in their names on Linux"
If you have an executable that spaces in its name (i.e. "exe with spaces"), debugging it on linux doesn't work. We never get the clr runtime loaded notification.

The issue seems to be in pal/src/thread/process.cpp on line 1907. sscanf fails to parse stat file contents as it find more tokens in it than expected. In debug bits I hit the assert on line 1913.

OSX debugging works fine as it uses a di

[2016-03-24 19:51] caslan commented on #3910
Just running the app without the debugger hits an assert in debug build.

[2016-03-24 20:08] tzwlai commented on #1147
Closing this after checking with @adiaaida.

[2016-03-24 20:08] #1147 closed

[2016-03-24 20:15] gregg-miskelly opened #3912 "sigsegv_handler hangs if the underlying access violation is in the heap"
I don't have a nice trivial repro all cooked up, but this should work:

1. Have a managed app/native app that loads CoreCLR
2. Have a bug somewhere in the app that corrupts the heap
3. Try and call free

Expected:
App should crash

Actual:
Dead lock in the PAL. The problem is that heap functions aren't signal-safe, and so we get a dead lock here:

      libc.so.6!__lll_lock_wait_private()
      li

[2016-03-24 20:55] cmckinsey commented on #3903
Probably depends on whether you compile with csc /o+ or not.

[2016-03-24 20:59] RussKeldorph commented on #1913
@jashook Right, but I thought the reason the desired workaround (remove static) didn't work was because of conflicting definitions in CoreCLR.  In theory, if these are the only overrides inside the separated JIT DLL/.so, there would be no conflict.  I'm assuming JIT-internal conflicts either don't exist or can be removed at our whim.

If I'm off base, nevermind.  Also, if this isn't trivial to fix

[2016-03-24 21:22] mikedn commented on #3903
If csc /o- is used then cmp-setl does show up but there are also a bunch of stack load/stores. Perhaps this happens on an internal branch that isn't published yet :)

[2016-03-24 21:48] jeffschwMSFT opened #3916 "AV debugging a console app on OSX"
Repo:
•	Dotnet new (console app)
•	Load in VS Code
•	Set breakpoint on Console.WriteLine
•	Start debugging
o	Adjust launch.json

The crash is immediate before the break point is hit.  I hit it 6 times in a row, and then it is hit and miss happening about 1 out of 4 times.  I believe this is today’s dotnet-cli, so there is not a newer one.

Process:               dotnet [1135]
Path:

[2016-03-24 22:09] gkhanna79 commented on #3349
Moved to RTM since all outstanding activities are targetted for the same.

[2016-03-24 22:26] mmitche opened #3918 "Crossgen failing for Roslyn"
This is building roslyn on the standard .NET CI Ubuntu 14.04 image

*** Error in `./crossgen': malloc(): memory corruption: 0x0000000001c0c660 ***
build/scripts/crossgen.sh: line 35:  3191 Aborted                 (core dumped) ./crossgen -nologo -platform_assemblies_paths $BIN_DIR mscorlib.dll
make: *** [bootstrap] Error 134

I have a machine with this live

[2016-03-24 22:42] jaredpar commented on #3918
CC @gkhanna79

[2016-03-24 22:49] gkhanna79 commented on #3918
The command line seems to imply we are compiling mscorlib and not Roslyn. Can you please share machine details with @JohnChen0 to take a look?

[2016-03-24 23:07] sergiy-k commented on #3916
cc @tzwlai Should this be fixed in RC2?

[2016-03-24 23:10] gkhanna79 commented on #1712
@gafter What is the timeframe for C# 7? We are heads down with .NET Core RTM and it will be good to understand the timeline before commenting on the next steps.

[2016-03-24 23:31] JohnChen0 commented on #3690
Fix has been committed to master branch and release/1.0.0-rc2 branch.

[2016-03-24 23:31] #3690 closed

[2016-03-24 23:34] discostu105 commented on #3894
Noah, thanks for your detailed answer!

The "workaround" you described, is what I have already prototyped. It basically works as you described (I'm injecting into mscorlib directly though). However, as soon as my profiler-code itself has other dependencies, I start to run into troubles and have some uncertainties. Initially I thought, loading MyProfiler.dll as it is, would prevent some of these pr

[2016-03-24 23:35] gkhanna79 commented on #3600
This is passing on Ubuntu - http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x64_release_ubuntu_pri1r2r_tst/lastCompletedBuild/testReport/JIT.jit64.opt.cse/

[2016-03-24 23:53] weshaggard commented on #3800
Moving out of RC2 as we cannot currently repro it. @fadimounir if you can help us figure out a repro that would help us track it down.

[2016-03-24 23:59] stephentoub commented on #635
I believe with https://github.com/dotnet/coreclr/pull/3140 we've reaffirmed this is by design.

[2016-03-24 23:59] #635 closed

[2016-03-25 00:20] leemgs commented on #3878
\CC: @benpye , @manu-silicon , @jkotas , @stephentoub , @ericstj

[2016-03-25 00:31] myungjoo commented on #3859
@janvori Thanks! It resolves the issue like a charm! One unfortunate thing is that this confirms #3856 (LR in the stack overwritten) is orthogonal to this one. I'll clean up and send PR soon.

LOG After Fix:
[code]

[2016-03-25 00:44] manu-silicon commented on #3898
If I set ```UNW_ARM_UNWIND_METHOD``` to 1, then the test passes. It is in conflict with fix made at commit https://github.com/dotnet/coreclr/commit/35b5df6888f1574e6ef9313c6bc8522d1817573d.

[2016-03-25 01:31] myungjoo commented on #3898
If you are getting segmentation faults with the case, could you please test with the libunwind-arm patched with?:
[code]

Besides, installing libunwind-dbg will be helpful as well (showing where it has died within libunwind)

Note that Android-libunwind is modified similarly as this patch and some Linux distro (probably centos or fedora or so, which uses rpmbuild and spec files) prohibits UNW-ARM

[2016-03-25 01:41] noahfalk commented on #3894
I'm very glad OSS is helping you out, that's what we hoped for : )

I'm not that knowledgable about debugging the assembly binder myself but maybe @sergiy-k or @jkotas have a lead?

Ideally I'd say keep your profiler's in-process dependencies as lean as you can possibly make them - which hopefully avoids the need to depend on either of those assemblies. For those particular assemblies you mentione

[2016-03-25 01:48] jkotas commented on #3894
This log is under `BINDER_DEBUG_LOG` define that is not turned on by default. Note that the assembly loading in CoreCLR is very simple compare to full framework (where you really need the fusion log to understand the complex process). The coreclr binder log did not proved to be very useful for diagnostics because of it does not tell you much extra insight over the exception message.

[2016-03-25 01:49] jamesallen426 opened #3922 "PAL WCHAR definition is wrong under PAL_STDCPP_COMPAT"
Currently the definition lies in ```pal_mstypes.h``` line [606](https://github.com/dotnet/coreclr/blob/release/1.0.0-rc2/src/pal/inc/pal_mstypes.h#L606) and [610](https://github.com/dotnet/coreclr/blob/release/1.0.0-rc2/src/pal/inc/pal_mstypes.h#L606):
[code]

But when ```PAL_STDCPP_COMPAT``` is defined I'm expecting PAL headers to be compatible with system headers, which requires ```wchar_t```  i

[2016-03-25 02:26] manu-silicon commented on #3898
@myungjoo I'm already using the gdb version for debugging, it was failing when calling ```unw_step``` in the parth that exercises the ```UNW_ARM_METHOD_FRAME``` condition at line 233 of arm/Gstep.c. The issue is that the ```frame``` variable had the content of one of the register and not a valid address, and it would fail in ```access_mem``` like you mentioned, but on the read side, not the write

[2016-03-25 02:58] manu-silicon commented on #3804
@jkotas In my crash the r4 register is 0x0 and this explains the crash. Because I do not know from where ResolveWorkerAsmStub is called (cannot get a C# stack in arm yet), do you have an idea of where is the generated code that sets r4?

[2016-03-25 03:06] jkotas commented on #3804
`r4` is not set anywhere right now - that's the root cause of this bug.

For non-`STUBS_AS_IL` path that has been used for Windows ARM, `r4` is set in the hand-emitted assembly here:  https://github.com/dotnet/coreclr/blob/master/src/vm/arm/stubs.cpp#L2930.

[2016-03-25 03:10] jkotas commented on #3804
I think it may be worth trying to undefined `FEATURE_STUBS_AS_IL` for Linux ARM, and try to see how hard is to get everything to compile. If you can get everything ot compile, it should fix this bug.

[2016-03-25 03:11] jkotas commented on #3804
(It is the first option that I have mentioned above.)

[2016-03-25 03:21] #3859 closed

[2016-03-25 03:33] JohnChen0 commented on #3918
Roslyn build is using a very old version of crossgen. https://github.com/dotnet/roslyn/blob/master/build/scripts/crossgen.sh is hardcoded to use version 1.0.1-beta-23504. The crash was caused by a bug that was fixed over four months ago with PR #2046. Any reason why we're using such an old build? Many bugs have been fixed since then.

[2016-03-25 03:36] sergiy-k commented on #3906
cc @tzwlai

[2016-03-25 03:38] swaroop-sridhar opened #3925 "Setup-Runtime-Dependencies must pull coredistools for the correct architecture"
after doping a "dotnet restore" the runtest script copies over any coredistools libarary available in the packages directory to the overlay directory.
https://github.com/dotnet/coreclr/blob/master/tests/setup-runtime-dependencies.cmd#L92
https://github.com/dotnet/coreclr/blob/master/tests/setup-runtime-dependencies.sh#L129

But it should actually copy the libraries corresponding to the target arch

[2016-03-25 03:41] swaroop-sridhar commented on #3925
@sejongoh, I think for windows this can be achieved by changing

https://github.com/dotnet/coreclr/blob/master/tests/setup-runtime-dependencies.sh#L129 to
`FOR /F "delims=" %%i IN ('dir %__PackageDir%\runtime.win7-%__BuildArch%.Microsoft.NETCore.CoreDisTools\coredistools.dll /b/s') DO set __LibPath=%%i`

For linux, __BuildArch is not available in the runtime.sh script, so it'll require some more w

[2016-03-25 04:03] myungjoo commented on #3856
Running GDB for this issue has discovered a bug in GDB itself. I'll continue working on this issue after patching up GDB.

[2016-03-25 04:23] sergiy-k commented on #3155
Thank you!

[2016-03-25 04:23] #3155 closed

[2016-03-25 04:39] manu-silicon commented on #3898
Closing as we have a workaround by following instructions at https://github.com/dotnet/coreclr/blob/master/Documentation/building/linux-instructions.md#build-for-armlinux

[2016-03-25 04:39] #3898 closed

[2016-03-25 04:45] leemgs opened #3926 "Linux/ARM: Difference between release and debug mode at build-time"
## Documentation: difference  among the build modes on CoreCLR for Linux/ARM

As some Linux/ARM engineers already know, we have still got the "segmentation fault" error whenever we tried to run "hello world!!!" on Linux/ARM CoreCLR generated with release mode. However, in the debug mode, this issue is not always reproduced. Before continuing the finding a reason of this issue, I have some question

[2016-03-25 04:46] leemgs commented on #3926
This issue is a new thread is based on the #issue https://github.com/dotnet/coreclr/issues/3182

[2016-03-25 04:46] manu-silicon commented on #3804
Ok. I'll try disable FEATURE_STUBS_AS_IL and see how bad the situation is :-)

[2016-03-25 04:47] leemgs commented on #3926
\CC @benpye , @manu-silicon , @jkotas , @janvorli

[2016-03-25 04:48] manu-silicon commented on #3804
As a side note, I have about 2500 calls to ResolveWorkerAsmStub  that are working as expected. So something must be setting r4 properly, no?

[2016-03-25 04:58] leemgs commented on #3926
I have posted the comparison result of execution time between not stripped and stripped `libcoreclr.so` as following:
* Test-bed: on Linux/ARM Emulator (Download: https://github.com/dotnet/coreclr/issues/3805)
* .Net Core(CoreCLR/CoreFX) version : Commit number released on Mar-18-2016
* Comparison Result of execution time on simple hello world:
* Analysis: From our analysis, the stripped libcorecl

[2016-03-25 05:11] jkotas commented on #3804
These are regular interface calls - the callsite generated by the JIT is setting r4 for them.

This problem is just about open delegates over virtual methods.

[2016-03-25 05:39] manu-silicon opened #3927 "Invalid branching generated by ildasm"
I've being playing with ildasm on Unix (although I do not think it matters Windows or Unix) to generate some IL from an existing assembly, then assembling it with ilasm where the later would crash. So I went over to Windows and ran ildasm (from the official Microsoft .NET delivery) on the same assembly. When I compared the generated IL, I was surprised to see that all branchings are wrong by an of

[2016-03-25 05:54] jkotas commented on #3922
The PAL always matches the width of Windows-specific types (the upper case ones) to the width on native Windows. E.g.:

- `WCHAR` is 16-bit type on Windows, so PAL always defines it as 16-bit. Even though `wchar_t` may be 32-bit type.
- `LONG` is 32-bit type on Windows, so PAL always defines it as 32-bit. Even though `long` may be 64-bit type.

These approach worked best for the CoreCLR codebase.

[2016-03-25 05:58] jkotas commented on #3767
This is invalid test for .NET Core. I have deleted it in https://github.com/dotnet/coreclr/pull/3888/commits/4d3b8acd161bcd5890be78af5130526575264ccc

[2016-03-25 05:58] #3767 closed

[2016-03-25 06:02] jkotas commented on #3571
These failures are likely caused by x86 calling convention mismatches - similar to what I have fixed in #3917

[2016-03-25 06:33] jamesallen426 commented on #3922
Thanks for the clarification

[2016-03-25 06:33] #3922 closed

[2016-03-25 11:59] #3413 closed

[2016-03-25 12:18] papaslavik commented on #3785
So we added the arm-softfp target, but we're having troubles trying to build it like:
./build arm-softfp cross

[2016-03-25 12:49] chunseoklee commented on #3454
For me, lldb-3.6 not working on ARM Linux with the same pattern as manu-ailicon. I cannot launch a process in lldb.

[2016-03-25 15:35] kyulee1 commented on #3827
Details are
[code]

/cc @rahku @JohnChen0 @gkhanna79 I'm re-assigning this to @rahku for now. Let me know you think otherwise.

[2016-03-25 15:45] jashook commented on #1913
No I believe you are correct, I forgot this aspect of the issue.

[2016-03-25 15:57] jaredpar commented on #3918
CC @agocke

The build is old because updating CoreClr is a relatively expensive operation.  In the past it's forced us to also update our NuGet dependencies which can have lots of downstream consequences (in particular making it difficult for us to insert bits into VS).  Hence we've tended to update CoreClr on a slower pace than we would like.

Now that update 2 is behind us we have the bandwidth

[2016-03-25 16:28] mmitche commented on #3918
@jaredpar Awesome, when you get this updated we'll move over.

[2016-03-25 16:28] sergiy-k commented on #1964
Hi @mviorno, please re-open the issue if @ericstj's solution does not work for you. Thank you!

[2016-03-25 16:28] #1964 closed

[2016-03-25 16:31] sergiy-k commented on #3927
cc @RussKeldorph

[2016-03-25 16:35] RussKeldorph commented on #3927
@kyulee1 Could you assess impact for triage?

[2016-03-25 16:38] kyulee1 commented on #3927
@manu-silicon Can you provide a repro?

[2016-03-25 17:04] leecow commented on #3918
@jaredpar Please work with @piotrpMSFT to pickup the latest CoreCLR package that CLI is using as well for RC2.

[2016-03-25 17:09] piotrpMSFT commented on #3918
CLI is on 23924 right now, and we're in the process of taking 23925.

[2016-03-25 18:05] sergiy-k commented on #1991
Fixed by PR https://github.com/dotnet/coreclr/issues/1991

[2016-03-25 18:05] #1991 closed

[2016-03-25 18:24] sejongoh commented on #3925
@swaroop-sridhar Does dotnet restore downloads multiple dlls? It downloaded only one dll for a current runtime. Is it changed now?

[2016-03-25 18:59] swaroop-sridhar commented on #3925
@sejongoh looks like the restore script restored both X86 and x64 versions:
[code]

[2016-03-25 19:01] swaroop-sridhar commented on #3925
@sejongoh I think the script should be fixed to copy the correct DLL regardless of the above restore issue, because when running `runtest.cmd` locally, we may have packages for multiple architectures restored in the same directory.

[2016-03-25 20:34] sejongoh commented on #3925
@swaroop-sridhar Thanks for explanation. The script originally queried runtime information and used it, but I removed it since dotnet restore was updated to automatically find it. It looks like we need this again to handle the problems you mentioned above. I will update the scripts.

[2016-03-25 21:11] sejongoh commented on #3925
@swaroop-sridhar We can get runtime id like below and use it. We can do a similar thing for Windows. If you are urgent, please go ahead.

rid=\`$dotnetCmd --version | grep 'Runtime Id:' | sed 's/^ *Runtime Id: *//g'\`

bash -c -x "$dotnetCmd restore $jsonFilePath --source https://dotnet.myget.org/F/dotnet-core/ --packages $packageDir --runtime $rid"

libPath=\`find $packageDir | grep $rid | grep -

[2016-03-25 21:13] kyulee1 commented on #3827
Internal changes CS 1590018/1590187/1590188 need to be removed with regard to produce/consume mscorlib.ni.dll when this bug is fixed.

[2016-03-25 23:15] gkhanna79 opened #3937 "Monitor.Enter failures"
Repro steps:

1) Build.cmd Release x86 skiptests
2) Download the latest build of runtimes.Win7-x86.Microsoft.NETCore.Runtime.CoreCLR packageand replace the contents of bin\product\WindowsNT.x86_Release with the package contents.
2) tests\buildtest.cmd Release x86 priority 1
3) tests\runtest.cmd x86Release

 baseservices._threading_generics_Monitor_TryEnter03_TryEnter03_._threading_generics_Monitor

[2016-03-25 23:19] gkhanna79 opened #3938 "Threading Interlocked Failures"
Repro steps:

1) Build.cmd Release x86 skiptests
2) Download the latest build of runtimes.Win7-x86.Microsoft.NETCore.Runtime.CoreCLR packageand replace the contents of bin\product\WindowsNT.x86_Release with the package contents.
2) tests\buildtest.cmd Release x86 priority 1
3) tests\runtest.cmd x86Release

baseservices._threading_interlocked_add_InterlockedAddLongWithSubtract_InterlockedAddLongWit

[2016-03-25 23:22] gkhanna79 opened #3939 "Various GC test failures"
Repro steps:

1) Build.cmd Release x86 skiptests
2) Download the latest build of runtimes.Win7-x86.Microsoft.NETCore.Runtime.CoreCLR packageand replace the contents of bin\product\WindowsNT.x86_Release with the package contents.
2) tests\buildtest.cmd Release x86 priority 1
3) tests\runtest.cmd x86Release

GC._LargeMemory_Allocation_largeexceptiontest_largeexceptiontest_._LargeMemory_Allocation_la

[2016-03-25 23:23] gkhanna79 opened #3940 "Various Interop Failures"
Repro steps:

1) Build.cmd Release x86 skiptests
2) Download the latest build of runtimes.Win7-x86.Microsoft.NETCore.Runtime.CoreCLR packageand replace the contents of bin\product\WindowsNT.x86_Release with the package contents.
2) tests\buildtest.cmd Release x86 priority 1
3) tests\runtest.cmd x86Release

Interop._ArrayMarshalling_BoolArray_MarshalBoolArrayTest_MarshalBoolArrayTest_._ArrayMarshal

[2016-03-26 01:53] erozenfeld commented on #3601
The assert fires when emitter::emitGetPrologOffsetEstimate() is called from CodeGen::genPrologPadForReJit() when generating prolog for a funclet. The difference between jit and crossgen cases is that in crossgen case CORJIT_FLG_PROF_REJIT_NOPS is set and in jit case it's not.
The assert checks that we are generating main function prolog but in this case we are generating a funclet prolog. We don't

[2016-03-26 02:10] manu-silicon commented on #3927
@kyulee1 I'll try to reproduce it on a smaller assembly over the week-end and send it.

[2016-03-26 08:02] leemgs commented on #3926
Issue # https://github.com/dotnet/coreclr/issues/3669 is related to the above "Stripped" field.

\CC:  @mikem8361

[2016-03-26 12:48] leemgs opened #3945 "[Linux/ARM32] Regression happened while running cross-build since Mar-18-2016"
Yesterday, We changed the commit number of coreCLR with the  latest commit number that is merged on 25-Mar-2016. Oops. We have again been getting the build-break of CoreCLR with cross-build since 2016.06.18. Actually,  the existing CI system (e.g. http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/arm_cross_release_ubuntu/) does not handle completely the build errors  of CoreCLR with

[2016-03-26 12:48] leemgs commented on #3945
Actually, the above issue is always reproduced if the not-stripped native files are in the different format that build machine (running objcopy command) uses.

[2016-03-26 14:26] RussKeldorph commented on #3601
@erozenfeld Thanks for the help!

[2016-03-27 00:39] jamesqo opened #3947 "Unnecessary array allocations in RuntimeTypeCache"
Was profiling some code using `dynamic` just now when I saw `RuntimeTypeCache` come up in the profiler. I decided to take a look into its sources, and it looks like there are indeed many places where it could be improved perf-wise (although not all of them relate to my code). For example:

- [This](https://github.com/dotnet/coreclr/blob/aedfba00f7977b2c00022df74d1bbe03e73260c8/src/mscorlib/src/Sys

[2016-03-27 00:46] jamesqo commented on #972
I'm in favor of this! Not too familiar with Roslyn/the formatter, but would it be possible to configure the formatter not to make breaking changes (like renaming fields etc)?

[2016-03-27 01:07] jamesqo opened #3948 "Should CodePageDataItem be a struct?"
The [`CodePageDataItem`](https://github.com/dotnet/coreclr/blob/43b39a73cbf832ec13ec29ed356cb75834e7a8d7/src/mscorlib/src/System/Globalization/EncodingDataItem.Unix.cs#L8) class looks like it would be a good candidate for a struct; it's immutable and used in a [bunch](https://github.com/dotnet/coreclr/search?utf8=%E2%9C%93&q=CodePageDataItem) of different places throughout the repo. Not sure if th

[2016-03-27 05:10] sergiy-k commented on #3884
LGTM

[2016-03-27 05:19] AdamSpeight2008 opened #3951 "String.Format Unit Tests?"
Where can I find the unit test for String Formats?
`String.Format( )` and `.ToString( )`

[2016-03-27 12:29] aviviadi commented on #3098
I am closing this one (the problem as I understand is being treated)

[2016-03-27 12:29] #3098 closed

[2016-03-27 15:40] akoeplinger commented on #3951
A quick search revealed these, maybe there are more somewhere else:
- https://github.com/dotnet/corefx/blob/eb7f20165401267af4329253fa31b45d279ebd84/src/System.Runtime/tests/System/String.cs#L846
- https://github.com/dotnet/coreclr/blob/master/tests/src/CoreMangLib/cti/system/string/stringformat1.cs
- https://github.com/dotnet/coreclr/blob/master/tests/src/CoreMangLib/cti/system/string/stringforma

[2016-03-27 15:42] danysu opened #3952 "CORINFO_METHOD_INFO->scope is unique value for each process ?"
Hi,
The `CORINFO_METHOD_INFO->scope` always return unique value for each process ? I noticed that sometimes the value changes, Which variable returns unique value for each process ?

[2016-03-27 16:34] GSPP commented on #3848
Why are there `Contract:Assert` calls at all? Is this not a release build? I don't see why the argument would be dead given that `Contract:Assert` uses it (if it's called). This is shown by the first few inlines which show code size increase.

[2016-03-27 17:15] AndyAyersMS commented on #3848
This happened because it was possible to get a checked mscorlib into the release bin directory, see #3855.

[2016-03-27 18:24] GSPP commented on #2526
There is a [C# language proposal to be able to configure the beforefieldinit behavior](https://github.com/dotnet/roslyn/issues/4448), fyi.

[2016-03-27 19:46] GSPP commented on #2003
I think this benchmark highlights an architectural issue: Structs should not be inherently different from other primitives.

It might be architecturally necessary to treat them differently but any difference is a smell in my opinion.

[2016-03-27 20:41] AdamSpeight2008 commented on #3951
@akoeplinger Thank You, I'll check those out later.

[2016-03-28 00:45] manu-silicon commented on #3927
I must had have some stalled changes somewhere as I'm not able to reproduce this at all. A typical code that had the branchign was:

[code]

I'm closing this. However I still have the crash on trying to generate the assembly from the IL on the ```ilasm``` side. I'll fill a report once I found out which piece is causing the failure.

[2016-03-28 00:45] #3927 closed

[2016-03-28 05:14] jaredpar commented on #972
@jamesqo every rule on code formatter can be disabled including field renames.

[2016-03-28 07:48] manu-silicon commented on #3804
Disabling FEATURE_STUBS_AS_IL on Linux/Arm worked, at least for the piece of IL code we had above for the open delegate. However my larger program is still not working, although I'm getting a different kind of error now, instead of crashing on a branching to address 0x0, I'm getting a PAL_SEHException which causes the program to terminate:

[code]

[2016-03-28 08:00] manu-silicon commented on #3856
@myungjoo What kind of bug did you encounter with gdb?

[2016-03-28 09:01] myungjoo commented on #3856
The GDB issue is resolved by upgrading the GDB version to 7.10.1: https://sourceware.org/ml/gdb-patches/2015-03/msg00585.html

Now I'm distracted by corefx/coreclr regression on Console.ReadLine:

[code]

[2016-03-28 09:34] hughbe commented on #3951
Most of them are in https://github.com/dotnet/corefx/blob/eb7f20165401267af4329253fa31b45d279ebd84/src/System.Runtime/tests/System/Text/StringBuilder.cs as well (string uses a string builder in the implementation of string.format)

[2016-03-28 09:53] manu-silicon commented on #3804
Sorry I was mislead, the original crash is still happening even when I disable FEATURE_STUBS_AS_IL. The above crash is due to a changes in our code base that is causing an exception, and the reason of that exception is causing this PAL_SEHException. Might be related to issue #385?

[2016-03-28 09:53] myungjoo commented on #3804
@manu-silicon The stack you shown is the issue discussed in #3856.

The LR stored in the stack of 0xb5cefd6c is overwritten as 0x002d0031 in your case.
`(gdb) info frame 9` will show related information in your case. (try `(gdb) p/x *VALUE_OF_LR_IN_FRAME_9`)

I have been trying GDB watch on the overwritten address (LR in the Stack Frame) with the condition of the overwriting value. But it has not

[2016-03-28 10:36] discostu105 commented on #1743
Any update on the MS Symbol Server situation for coreclr PDB's?

[2016-03-28 14:51] jkotas commented on #385
This issue was specific to VS2013. The minimum VS version to build the repo is VS2015 now.

[2016-03-28 14:51] #385 closed

[2016-03-28 14:53] jkotas commented on #3952
None of the handles on JIT-EE interface are meant to be unique for each process.

[2016-03-28 17:32] gregg-miskelly opened #3956 "CoreCLR started event is no longer being raised on OSX"
1. Compile a hello world app
2. Copy coreclr + CoreFX dependencies + host next to the app
3. Start a new instance of hello world suspended
4. Use libdbgshim.dylib!RegisterForRuntimeStartup to find out when the app starts
5. Resume the process

Result:
libdbgshim.dylib`PAL_RuntimeStartupHelper::StartupHelperThread() + 105 at [process.cpp:1644](https://github.com/dotnet/coreclr/blob/a3348ba05a59f731

[2016-03-28 17:39] gkhanna79 opened #3957 "Ready2Run Test Failure"
Repro steps:

1) Build.cmd Release x86 skiptests
2) Download the latest build of runtimes.Win7-x86.Microsoft.NETCore.Runtime.CoreCLR packageand replace the contents of bin\product\WindowsNT.x86_Release with the package contents.
2) tests\buildtest.cmd Release x86 priority 1 gcstresslevel 15
3) tests\runtest.cmd x86Release

 readytorun._mainv1_mainv1_._mainv1_mainv1_cmd
cmdLine:C:\Github\gkhanna79\

[2016-03-28 17:42] gkhanna79 commented on #3940
Also fail under GCStress:

Repro steps:

1) Build.cmd Release x86 skiptests
2) Download the latest build of runtimes.Win7-x86.Microsoft.NETCore.Runtime.CoreCLR packageand replace the contents of bin\product\WindowsNT.x86_Release with the package contents.
2) tests\buildtest.cmd Release x86 priority 1 gcstresslevel 15
3) tests\runtest.cmd x86Release

[2016-03-28 17:44] gkhanna79 commented on #3792
Affects x86 as well

[2016-03-28 17:59] mikem8361 commented on #3926
A “debug” build has the compiler optimizations disable, all the #ifdef _DEBUG code and assertion macros enabled and the .so files contain all the debug symbols and source/line number info.

A “release” build has compiler optimizations enabled, no debug code or assertions enabled and the symbols/source/line info is stripped out of the .so into a separate file.

I hope that helps.

[2016-03-28 18:08] mikem8361 commented on #3133
When we do add this version string including the git SHA hash will be invaluable to our CSS team (and of course internally).

[2016-03-28 18:18] gregg-miskelly commented on #3916
I am not sure if this will turn out to be useful or not, but I caught this race once with PAL process logging enabled for both debugger and target processes. This starts from the CreateProcess of the target.

[code]

[2016-03-28 19:09] sivarv commented on #2907
This work will be done as part of multi-reg GT_RETURN/GT_CALL nodes work.  Assigning it to myself.

[2016-03-28 20:01] gregg-miskelly commented on #3916
I have a core dump of the issue. The crash is while processing a MT_ReadMemory message. Issue appears to be that pMessage->m_pbDataBlock points to junk.

[2016-03-28 20:06] AdamSpeight2008 commented on #3951
@hughbe Thank You.
That should help a lot.

[2016-03-28 20:31] sergiy-k commented on #3884
Fixed by PR https://github.com/dotnet/coreclr/pull/3950

[2016-03-28 20:31] #3884 closed

[2016-03-28 22:07] RussKeldorph commented on #3604
Only affects Debuggable code, so, even though this is really bad silent bad code, we don't think it's likely to hit RC2 scenarios.

[2016-03-28 23:25] noahfalk commented on #1743
@markwilkie - Any update Mark?

[2016-03-28 23:37] manu-silicon commented on #3804
@myungjoo Have you tried recompiling CoreCLR and disabling FEATURE_STUBS_AS_IL? It should remove the unreachable issue. However I haven't checked the regression tests to see if the results is overall better.

[2016-03-29 02:49] manu-silicon commented on #3856
@myungjoo I've been trying to debug this on my end with my code but this is hard to debug as I'm debugging this on a large program. Have you been able to reduce the above program to a bare minimum?

[2016-03-29 03:00] myungjoo commented on #3804
@manu-silicon I have just tried it. After disabling FEATURE_STUBS_AS_IL, the test case above (xunit.console.netcore.exe System.Collections.Tests.dll) gets me to the same issue as #3856; the broken stack frame LR value of ThePreStub asmhelpers.S

[code]

[2016-03-29 03:01] sergiy-k commented on #3951
The issue seems to be resolved. Closing.

[2016-03-29 03:01] #3951 closed

[2016-03-29 03:34] RussKeldorph opened #3964 "tests/src/JIT/SIMD/CircleInConvex.cs failure"
Test returns 0 on x86.  I suspect the problem is the epsilon check here

  https://github.com/dotnet/coreclr/blob/master/tests/src/JIT/SIMD/CircleInConvex.cs#L263

The inequality operator appears to be reversed.  The test passes on x64 because the error is greater than what is ostensibly expected.

[2016-03-29 04:22] myungjoo commented on #3856
@manu-silicon No, I've observed this only with csc.exe (Roslyn) or xunit.console.netcore.exe supplied with a test dll. A simple app but executing for a long time (allocating (incurring GC) a lot of arrays, deeply expanding recursive calls) is running well.

[2016-03-29 04:53] manu-silicon commented on #3856
@myungjoo This is a very similar situation. I was able to figure out that the problem occurs shortly after a new thread is being launched. I'm changing strategy here. I'm going over the CoreCLR tests and look at the failures. From there I'll decide which one to fix.

[2016-03-29 05:30] myungjoo commented on #3856
I'm seeing another issues related with this: having a breakpoint at asmhelper.S (bl PreStubWorker or ThePreStub), it seems this strange value of saved LR is quite common. I just don't know how it continues to work normally:

[code]

With the saved return address of 0x7, it has finally returned to the managed code. Although that 0xb50abce8 is a managed frame, at least the native frame of ThePreStub

[2016-03-29 07:31] manu-silicon commented on #3856
@myungjoo I made the following simple C# program that crashes due to a jump to 0x0 in ```DispatchManagedException```.

[code]

Debugging it, I came up with the following stack trace:
[code]

and the failure occurs in context2.S line 201 where we restore the ```pc``` register with a null value in my case. Here is the extract of context2.S:

[code]

[2016-03-29 07:57] myungjoo commented on #3856
@manu-silicon In my Linux/ARM system, your code does not incur stack breaking but does not work as expected:

[code]

[2016-03-29 08:13] manu-silicon commented on #3856
I'm debugging against a version of CoreCLR where FEATURE_STUBS_AS_IL is disabled but I do not think it would matter here. Are you running on an emulator? I'm running it onto a Nvidia Jetson TK1.

[2016-03-29 08:47] myungjoo commented on #3856
I am testing CoreCLR in a Samsung SM-Z300H phone with custom built Linux distro to support both gnueabihf and gnueabi.

I got caught in a regression in my local repo right now while improving build scripts :(

[2016-03-29 08:55] manu-silicon commented on #3856
I found that my disassembly:

[code]

It is generating #116 and #120, but it is certainly correct. If I set lr and pc manually from the saved value in the context, the execution proceeds properly. I tried to change the assembly to generate the proper code, but it doesn't do what I want. I'll continue tomorrow.

@myungjoo Could you disassembly RtlRestoreContext from gdb and see if you get the same

[2016-03-29 10:59] manu-silicon commented on #3804
@jkotas Disabling FEATURE_STUBS_AS_IL enables more code to run as far as I can tell. Should I propose a PR for this? My suggestion would be to run all tests with and without and based on the outcome decide. The downside is that testing on our arm device is actually very slow.

[2016-03-29 11:05] myungjoo commented on #3804
uh.. thay seems to need to wait. after disabling FEATURE_ST7B_IL I am losing the ability to handle exceptions. Please allow me to test them tomorrow.

[2016-03-29 14:32] jkotas commented on #3804
@manu-silicon I would be fine with it.

@myungjoo Yes, there are likely some fixes in Unix exception handling required to make ` FEATURE_STUBS_AS_IL` work.

[2016-03-29 18:30] gregg-miskelly commented on #3956
This has stop reproing for me. So closing for now.

[2016-03-29 18:30] #3956 closed

[2016-03-29 18:59] #3910 closed

[2016-03-29 20:28] briansull opened #3968 "ARM64: Test FromNativePaths fails when run under Smarty, passes when run standalone"
Test Id: [FromNativePaths.exe_5811]
Standalone:
%CORERUN% Loader\NativeLibs\FromNativePaths\FromNativePaths.exe
echo %ERRORLEVEL%
prints 100 when run standalone

Under Smarty it prints:
type Smrt00000001\Tests.lst_FromNativePaths.exe__5811.result.1.1.txt
FromNativePaths failed: Failed to move native library to CORE_ROOT: access to the path is denied

[2016-03-29 20:49] briansull opened #3969 "ARM64: Test OverwriteArray fails, regression from March 14th"
Test ID: [OverwriteArray.exe_5426]
Repro:
%CORERUN% JIT\Regression\CLR-x86-JIT\V2.0-Beta2\b309042\OverwriteArray\OverwriteArray.exe
Trying to stelem.i4 directly into an int32[0...]
Shouldn't be here...
FAIL

[2016-03-29 21:08] briansull opened #3970 "ARM64: Tests dbgrotarg and relrotarg fail with A/V during GC"
Test ID: [_dbgrotarg_double.exe_3403] and [_relrotarg_double.exe_3427]
Stack trace

0:000> k
 # Child-SP          RetAddr           Call Site
00 (Inline Function) --------`-------- CoreCLR!MethodTable::GetBaseSize [d:\dd\projectk\src\ndp\clr\src\vm\methodtable.h @ 1796]
01 (Inline Function) --------`-------- CoreCLR!WKS::my_get_size+0x8 [d:\dd\projectk\src\ndp\clr\src\gc\gc.cpp @ 8746]
02 00000009

[2016-03-29 21:15] briansull opened #3971 "ARM64: Test NonVirtualCall fails, regression from March 14th"
Test ID: [NonVirtualCall.exe_3436]
Repro:%CORERUN% JIT\Methodical\flowgraph\bug619534\NonVirtualCall\NonVirtualCall.exe
Error: Test_CallNonFinalVirtualOutside_Neg did not throw an exception
Test Failed

[2016-03-29 21:22] RussKeldorph opened #3972 "tests\src\JIT\Methodical\doublearray\dblarray4 failing for x86"
These tests require COMPlus_DoubleArrayToLargeObjectHeap to be set to 0x64 to pass on x86.

[2016-03-29 21:27] briansull opened #3973 "ARM64: Assertion failed 'varTypeIsGC(objRef->TypeGet()) || objRef->TypeGet() == TYP_I_IMPL'"
Test ID: [b431011.exe_5448]
Repro:
%CORERUN%  JIT\Regression\CLR-x86-JIT\V2.0-Beta2\b431011\b431011\b431011.exe
Assert failure(PID 11964 [0x00002ebc], Thread: 4876 [0x130c]): Assertion failed 'varTypeIsGC(objRef->TypeGet()) || objRef->TypeGet() == TYP_I_IMPL' in 'cs1:Main(ref):int' (IL size 61)

    File: d:\dd\projectk\src\ndp\clr\src\jit\morph.cpp Line: 5187
    Image: X:\arm64coresyschk\CoreRun

[2016-03-29 21:59] jkotas opened #3975 "ReadyToRun: Crash at runtime when both open and closed delegate targets same method"
Repro:

[code]

Result when compiled as R2R: Crashes in the runtime

[2016-03-29 22:00] LLITCHEV commented on #3618
Looked into this and after talking @jkotas it will be hard to justify fixing this for RC2 release.
The failing case is prevented in the current code base by VN fixes. Also if going back to the commit # that reproduces the error, in release build we just fail in the crossgenning the method. The .ni. image is still created with the IL and the VM falls over to jitting.

[2016-03-30 00:24] manu-st opened #3977 "ARM 32-bit progress"
I'm opening an issue to track the progress of ARM 32-bit with respects to the regression tests.

Currently I'm getting the following results on Ubuntu 14.04 running on a NVidia Jetson TK1. This is unfortunately not the results you get from a clean checkout, the only difference is that it contains a fix for issue #3857 (PR #3879), but overall it should provide a good base to monitor our progress:

[2016-03-30 00:39] leemgs commented on #3926
@mikem8361 , Thank you for sharing the insightful comment. Could you give me your opinion about the above table that summarized difference between debug mode and release mode? is it correct?  If I am wrong, please correct me.

[2016-03-30 00:52] mikem8361 commented on #3916
Fix with PR #3976

[2016-03-30 00:52] #3916 closed

[2016-03-30 01:09] manu-silicon commented on #3856
I found the culprit, it is an issue with macro expansion in the following:
[code]

it translates into
[code]

when really we meant:
[code]
which translates into
[code]

and the proper offset.

I'm going to issue a PR for this.

[2016-03-30 01:20] myungjoo commented on #3856
@manu-silicon Great Catch! You are my hero! I'm starting building/testing the corrected context2.S right now.

[2016-03-30 01:28] mikem8361 opened #3978 "xplat sos doesn't load if loaded from different directory than built"
And where sos was built isn't on the machine where it was run too.

sos has an implicit reference to mscordaccore for the PAL which will only work if mscordaccore is in exactly the same directory it was in when sos is built.

The fix is to explicitly load mscordaccore before sos is explicitly load by the sosplugin.  It is a simple one-line change to the sosplugin.

[2016-03-30 01:29] leemgs commented on #3977
Even though you could get the `1,361 Failed` result, this result is meaningful to me. Actually, we have been meeting  a lot of "NYI" functions from CoreCLR.:(  It means that we have to do a lot of things for stablization of CoreCLR.

BTW, Do you also focus on the Ubuntu/ARM32bit  without the Ubuntu/ARM32bit?
http://elinux.org/Jetson_TK1
  * GPU: NVIDIA Kepler "GK20a" GPU with 192 SM3.2 CUDA cores

[2016-03-30 01:38] svick opened #3979 "Confusing comment about Silverlight and culture in Environment.GetResourceString"
Just before `Environment.GetResourceString(string)` is [this comment](https://github.com/dotnet/coreclr/blob/bad0651a18a2e9dc276961076e7c17d70570ab49/src/mscorlib/src/System/Environment.cs#L1310-L1321):

[code]

I find it confusing for two reasons:

1. It's talking about Silverlight, which I believe is not relevant for CoreCLR.
2. It's talking about passing `CultureInfo`, so that the correct resou

[2016-03-30 02:01] manu-silicon commented on #3856
PR issued at #3981.

[2016-03-30 02:05] jkotas commented on #3979
Yes.

[2016-03-30 02:06] myungjoo commented on #3856
After correcting the macro, the assembly looks fine:

[code]

However, when I try `corerun csc.exe` in ARM/Linux,  this issue persists and the fix on context2.S is not even reached:

[code]

The point of failure is the same (LR in Stack Frame is overwriten). In this instance it's overwritten by 0xe32e828, which is an unaccessible address.
[code]

[2016-03-30 02:13] manu-silicon commented on #3977
@leemgs I'm not sure to understand what you mean by Ubuntu/ARM32bit without the Ubuntu/ARM32bit part?

[2016-03-30 02:36] leemgs commented on #3977
@manu-silicon Sorry, Typo, I have modified.

[2016-03-30 02:39] manu-silicon commented on #3977
@leemgs My board is the 32-bit variant, so it is just Ubuntu/ARM32bit.

[2016-03-30 03:30] manu-silicon commented on #3804
@jkotas Started to run the tests. When using FEATURE_STUBS_AS_IL, I have 46 tests failing with the unreachable code. I'm currently rerunning the test with PR #3981 to have a better base line (a lot more tests are now passing for me). I'll run the tests without FEATURE_STUBS_AS_IL tomorrow.

[2016-03-30 03:56] manu-silicon opened #3986 "How to print exception message and type from IL_Throw?"
Is there an easy way to print the exception object from gdb when we are in DispatchManagedException? I cannot do lldb as I'm on arm where it is not working.'

Thanks!

[2016-03-30 04:25] leemgs commented on #3926
The "__DEBUG" macro of the above table is related to the recent PR https://github.com/dotnet/coreclr/pull/3944

[2016-03-30 04:49] gregg-miskelly opened #3987 "Debugger fails to stop on entry due to stack walk failure"
Repro steps:
1. Create hello world using dotnet new + dotnet restore + dotnet build
2. Try to debug it on OSX/Linux
Result:
There is a good chance that the debugger will fail to stop on entry point. libmscordbi.so!CordbThread::GetActiveFrame is returning CORDBG_E_READVIRTUAL_FAILURE.

I don't yet know if there is something special about entry point, or if this will happen in general. I had trouble

[2016-03-30 05:48] manu-silicon commented on #3856
I don't know if it will help, but running the regression test suite, I found a few test failing with the same stack trace. They might be easier to debug:
[code]

I'll debug the first 2.

[2016-03-30 06:24] svick opened #3988 "Issues when building mscorlib in VS"
I attempted to build mscorlib (i.e. mscorlib.csproj) from Visual Studio but encountered several issues. None of them are fatal, since editing from VS and then building from the command line works, but they are annoying.

1. There is no solution file that contains mscorlib.csproj (not even after running build.cmd from the command line). This is slightly annoying by itself, but worse, when I directl

[2016-03-30 07:08] #3979 closed

[2016-03-30 08:33] myungjoo commented on #3856
In GDB, whenever I go From ThePreStub to PreStubWorker, running bt shows a broken stack frame from ThePreStub, after retuning from PreStubWorker, it shows the stack frame correctly again.
However, if we get an exception during PreStubWorker, the stack walker gets lost at ThePreStub and shoots either SIGSEGV or exception in the stack walker.

Example:

- At ThePreStub() before calling PreStubWorker

[2016-03-30 08:36] myungjoo commented on #3856
Maybe I just need to reimplement the asm macros look like what the compiler gives:
[code]
Then all the "auto" variables or to be stored values are "STR"ed one by one.

[2016-03-30 10:52] myungjoo commented on #3856
Maybe.. we should simply refrain ourselves from writing multiple push/stm instructions in one function... (so far, it always breaks GDB stack tracing in ARM)

[2016-03-30 10:53] myungjoo commented on #3804
@manu-silicon Could you please verify that you are getting proper exception handling and exception messages? (including the case you've shown and a case for "console hello world" app with System.Console.dll removed)

[2016-03-30 11:57] manu-silicon opened #3991 "Cannot restore on Mac OS X"
I have an issue in Mac OS X where I'm getting some failure restoring the build tools:

[code]

And many more errors about not being able to find json files. Eventually, it hangs at:

[code]
Any idea?

[2016-03-30 13:45] papaslavik commented on #3785
@brucehoult @leemgs

So we've pushed a new version of the feature implementation which meets the reviewer comments to the new branch arm_softfp_v2

I will re-push that to arm_softfp for the pull request in a while after some testing/review

[2016-03-30 13:58] papaslavik commented on #3785
Actually the version pushed previously had an older version of the last commit. I'll test one more time and confirm if what we have now pushed to arm_softfp_v2 is OK

[2016-03-30 14:05] papaslavik commented on #3785
Yes, the last version of arm_softfp_v2 is OK according to my quick testing

[2016-03-30 16:25] mikem8361 commented on #3926
I can't verify that the size and run times in this table are correct. I have no way (or no time) to actual execute the test case on a ARM. Obviously the stripped binaries should (and are) smaller and slightly faster and that would be correct.

[2016-03-30 18:34] gregg-miskelly commented on #3916
This is related to #3987

[2016-03-30 18:55] mikem8361 commented on #3978
Moving to RTM.

There may also be a workaround by setting the environment variable  LD_LIBRARY_PATH to point to directory where mscordaccore and sos are.

[2016-03-30 20:53] BruceForstall commented on #1977
Yet another constraint: any JIT-generated code P/Invoke code that generates an InlineCallFrame on the function stack must use RBP as the frame pointer (this is x64 only). This is baked in to the VM, and it uses the saved RBP and RSP to seed further stack unwinding. It does not have the capability to use a different frame pointer register.

[2016-03-30 20:59] BruceForstall commented on #1977
@CppStars: I agree that it can be convenient to always have RBP chains sometimes. For Windows x64, though, that seems unlikely to ever happen (obviously, native code compilers won't do this). I think the problem you've seen on Windows 7 with XPERF is not because of breaking the RBP chain, it's because prior to Windows 8, the OS didn't have a way to get the unwind info generated by the JIT, so a st

[2016-03-30 21:02] BruceForstall commented on #1977
General update: I went down the path of implementing the 2-SUB solution detailed above, and that proved to be very complex and invasive. I then decided to go with the "burn a register" solution. This was much cleaner, and there was lots of existing code for doing this, such as for ARM. However, I hit a dead end when I discovered the requirement mentioned above regarding InlineCallFrame. So, I'm ba

[2016-03-30 21:22] jkotas commented on #1977
Yet another potential way to fix this:

On Windows, the unwind info encoding is set in stone - because of it follows Windows ABI. We cannot extend it.

It is not the case on Unix. We do have our own local copy of the Windows unwind info decoder for Unix, and thus can easily add a new unwind code to get around the restriction that is getting into way.

So a potential fix may look like:
- Emit a new

[2016-03-30 22:44] BruceForstall commented on #1977
I love that idea. It should be simple to implement. One minor detail is that the UWOP_SET_FPREG code is weird in that frame pointer offset and register gets set in the UNWIND_INFO header instead of the unwind code, to provide a fast path at the beginning of VirtualUnwind() to not require parsing the unwind codes in case of unwinding from within the main body. Maybe for Linux we either always parse

[2016-03-31 00:24] manu-silicon commented on #3977
With the fix for PR #3981 the result is:

=======================
     Test Results
=======================
# Tests Discovered : 6019
# Passed           : 4793
# Failed           : 882
# Skipped          : 344
=======================

[coreclrtests.zip](https://github.com/dotnet/coreclr/files/196797/coreclrtests.zip)

[2016-03-31 00:38] mikem8361 commented on #3987
PR #4010

[2016-03-31 00:41] manu-silicon opened #4011 "Comparing test results"
I'd like to compare the results to quickly get the tests that are now failing or passing between two runs. Is there such a tool available that would take the XML result files and output such a report?

[2016-03-31 00:53] manu-silicon opened #4013 "GDB issue with BreakIfDebuggerPresent"
When testing some regression tests containing invalid IL under GDB, it will raise a SIGTRAP signal via a call to ```BreakIfDebuggerPresent``` in src/jit/error.cpp. This is good to have this. However, I'm unable to continue execution in gdb after it stops.

For the time being, I've simply commented the call to ```BreakIfDebuggerPresent``` in my code.

I tried to ignore the SIGTRAP handling in GDB b

[2016-03-31 01:09] leemgs commented on #3926
@mikem8361 , Thank you for sharing the information that you know. For reference, If you are free, you can execute the test case using "Linux/ARM Emulator" (virtual linux/arm device) that we have released.
* Download - [Release: Virtual ARM Device] Linux/ARM Emulator to Evaluate .Net Core https://github.com/dotnet/coreclr/issues/3805

[2016-03-31 01:29] leemgs commented on #3926
\CC: @pgavlin , @xyziemba, @poizan42

Anyone who know the difference in more detail between two build modes about the above "**Table 1. Difference Summary between Debug mode and Release mode**" summary. I need more technical information to bring up the `release mode` as well as the `debug mode` for Linux/ARM32 port.

**Note:** The running test of "debug mode" is okay on Linux/ARM Emulator ( Downlo

[2016-03-31 02:23] leemgs commented on #3945
We have submitted a PR to resolve this issue. However, the review procedure is pending due to CI problem.

[2016-03-31 03:25] #3987 closed

[2016-03-31 03:56] jkotas commented on #3986
@janvorli Do you have set of tricks for this?

[2016-03-31 03:57] jkotas commented on #3988
cc @AlexGhiondea @tarekgh

[2016-03-31 04:00] jkotas commented on #3991
There are connectivity issues that are affecting number of things (e.g. they are contributing to CI failures as well). Could you please retry again after some time?

[2016-03-31 05:16] prajwal-aithal commented on #3977
@manu-silicon  I am trying to do the same (run coreclr tests on ARM environment) by following this guide https://github.com/dotnet/coreclr/blob/master/Documentation/building/unix-test-instructions.md. According to this, building tests for ARM results in an error (as building the native code using cmake in Windows does not support arm architecture yet). I can make some changes to the buildtest scri

[2016-03-31 05:33] manu-silicon commented on #3977
@prajwal-aithal I've followed the instructions  and build the tests on Windows and copy the tests folder on Linux ARM. I've built on ARM the native code for CoreFX (just the native code as the rest won't build). I've build CoreFX on Linux x64 and copied the assemblies over. I've build mscorlib on Linux x64 and copied it over.

Once I had all the paths setup properly, I launched the command to run

[2016-03-31 05:43] prajwal-aithal commented on #3977
@manu-silicon  Oh, ok. I will try this then. Thank you :)

[2016-03-31 06:02] AlexGhiondea commented on #3988
1. Have you tried disabling the restore of the Nuget packages? Mscorlib has no dependencies so there are no packages to restore. We can create a solution for mscorlib or we can consider plugging it into the VS solution created for the native code.

2. That error comes from us trying to use the native (pre-Roslyn) compilers and passing in a flag that only those understand. We should be able to get

[2016-03-31 06:35] prajwal-aithal opened #4022 "Build configuration is not skipped when skipnative is presented as argument to build script (Linux)"
When trying to build only mscorlib on Linux using the `skipnative` argument to the `build.sh` script, the build configuration step is not skipped (in method `build_coreclr`). Due to the condition in line 99 of `build.sh`, eventprovider is not generated, but is needed later during build configuration.

This results in the following error

[code]

The Windows build script skips the configuration ste

[2016-03-31 06:37] prajwal-aithal commented on #4022
Adding @pgavlin based on `git blame build.sh`

[2016-03-31 07:41] svick commented on #3988
1. I have updated to VS 2015 Update 2 and this error doesn't seem to happen anymore.

[2016-03-31 07:45] #3975 closed

[2016-03-31 07:59] papaslavik opened #4025 "Checking floating type alternative for 'this' argument in morph.cpp"
Why do we need to check the floating type for 'this' argument as it is done in the code of Compiler::fgMorphArgs?

[2016-03-31 08:50] sparkmxx opened #4026 "build failed"
environment：server2008r2 vs2015
Unable to start the program , lost api-ms-win-core-winrt-l1-1-0.dll

[2016-03-31 08:51] myungjoo commented on #3856
After the WIP patch of #3990 + asm directives, Roslyn is no more experiencing the corrupted LR (in fact, it's confused unwind), but gets UNREACHABLE with comdelegate (secureinvoke), which might be resolved by #3981 and fix for #3804 combined.

[2016-03-31 08:55] manu-silicon commented on #3856
@myungjoo Did you push your changes for #3990?

[2016-03-31 09:01] myungjoo commented on #3856
@manu-silicon No I didnt. I will start with the first working but dirty code when I get back to the office.

[2016-03-31 09:57] myungjoo commented on #3856
The functional (but still a bit dirty) is up for #3990 .

Roslyn (csc.exe) is moving further, but still gets an error (@manu-silicon's fixes of #3891 and disabling FEATURE_STUBS_AS_IL is applied in my environment):

[code]

[2016-03-31 10:13] myungjoo commented on #3856
HAHA... It's yet another "not implemented"

src/vm/arm/asmhelpers.S:1360
[code]
, which is called by
src/vm/exceptionhandling.cpp:4474

Somehow roslyn.exe induces to go there and gets unreachable.

[2016-03-31 11:00] lemmaa commented on #3991
Is your first try on Mac OS X? Have you done `mozroots --import --sync` before?

[2016-03-31 12:21] myungjoo commented on #3804
@manu-silicon With fixes of other issues/PRs, exception handling mostly works with FEATURE_STUBS_AS_IL disabled in Linux/ARM. (Forgot to test your test case, I'll try it tomorrow.) I feel fine with FEATURE_STUBS_AS_IL disabled now.

[2016-03-31 12:27] manu-silicon commented on #3804
@myungjoo Tomorrow morning, I'll have the results of the tests with FEATURE_STUBS_AS_IL disabled. If it looks good, I'll push the PR.

[2016-03-31 12:33] manu-silicon commented on #3991
Definitely my first time. I remember seeing this for other platforms, but this is not part of the OS X build instructions. Unfortunately, I do not have ```mozroots``` available. From which package does it come ?

[2016-03-31 13:05] lemmaa commented on #3991
@manu-silicon You can find it from 'mono' package
[code]

[2016-03-31 13:29] janvorli commented on #3986
@manu-silicon sorry for not responding earlier, I am on a sick leave at the moment and so I monitor my emails only once a day.
At the DispatchManagedException, you'd need to go up the stack to IL_Throw to access the exception object and then use ```p *((ExceptionObject*)obj)->_message.m_asString->m_Characters```  to get the exception message.
You can also set a breakpoint at RaiseTheExceptionInter

[2016-03-31 14:47] jkotas commented on #4026
This is likely fixed by #4014. Could you please try now?

[2016-03-31 16:11] xiechaoyi opened #4027 "One bug about String.ToLower()"
#I want to convert string "GetInstances" to lowercase, use method String.ToLower(),but is return "getınstances",the letter "i" is error,and test to urlencode result is get%C4%B1nstances.

[2016-03-31 16:18] russellhadley opened #4028 "Arm64_cross_checked_windows_nt job failing with test errors"
4 tests failed. Open separate issues for particular bugs if they end up needing separate fixes.

Snip from the end of the log file:

Starting arm64 testing with Configuration=checked
08:16:25 Test Failures.
08:16:25
08:16:25 JIT\Methodical\explicit\misc\_opt_dbgexplicit5\_opt_dbgexplicit5.cmd
08:16:25 JIT\Methodical\explicit\misc\_opt_relexplicit5\_opt_relexplicit5.cmd
08:16:25 JIT\Methodical\expl

[2016-03-31 16:18] stephentoub commented on #4027
What OS is this? If it's Linux or OSX, what do you see at the terminal when you use the "locale" command?

And what version of coreclr are you using?

It looks like you're using a Turkish culture.  My guess is you're on Linux or OSX, and you're using a "POSIX" locale due to not having a LANG environment variable set?  If so, this should be fixed by https://github.com/dotnet/coreclr/pull/2548.

[2016-03-31 16:22] xiechaoyi commented on #4027
OS is docker FROM microsoft/aspnet:1.0.0-rc1-final-coreclr,1.0.0-rc1-update1-coreclr also have this bug

[2016-03-31 16:24] stephentoub commented on #4027
Thanks, @xiechaoyi. Yes, that's an older build, from before the fix in #2548.

[2016-03-31 16:29] xiechaoyi commented on #4027
@stephentoub ok,thank you!

[2016-03-31 16:37] #4027 closed

[2016-03-31 17:17] janvorli commented on #3856
@myungjoo This one is vital for propagating exception through a stack with interleaved native and managed frames. Please see the comment at its amd64 implementation here for details:
https://github.com/dotnet/coreclr/blob/master/src/vm/amd64/unixasmhelpers.S#L337

[2016-03-31 17:49] ericstj commented on #3991
This is the same as https://github.com/dotnet/cli/issues/809.  Workaround is to bump up the file descriptor limit.  Just looked at a similar issue with @shiftkey, we need to get a bug on NuGet here.  Looks like file descriptor limit needs to be a design-point for cross-plat applications.

[2016-03-31 17:58] cmckinsey commented on #3600
Fixed with PR #3914

[2016-03-31 17:58] #3600 closed

[2016-03-31 19:48] #3988 closed

[2016-03-31 20:18] svick opened #4032 "Remove UseRoslynCompiler from build commands"
With #4024, `UseRoslynCompiler` should no longer be necessary, but it's still used, mostly from build commands:

[code]

All those usages should be removed.

[2016-03-31 21:30] #1794 closed

[2016-03-31 22:50] ramarag commented on #3712
Fixed by https://github.com/dotnet/coreclr/pull/4021/commits/6a2e3b34c3c9ac32456d38567b9f44ab6aea2f63

[2016-03-31 22:51] #2644 closed

[2016-03-31 22:51] LLITCHEV commented on #3604
Fixed with PR #3953

[2016-03-31 22:51] #3604 closed

[2016-03-31 23:42] manu-silicon commented on #3977
Today's result with FEATURE_STUBS_AS_IL disabled:

[code]

[coreclrtests.zip](https://github.com/dotnet/coreclr/files/198755/coreclrtests.zip)

[2016-03-31 23:49] manu-silicon commented on #3804
@jkotas @myungjoo I've pushed a PR for disabling FEATURE_STUBS_AS_IL

[2016-03-31 23:55] manu-silicon opened #4040 "Implement StartUnwindingNativeFrames for ARM 32-bit"
Use test JIT.Methodical.cctor.misc.Desktop.throw_cs_do which exercises this code path.

See the comment at its amd64 implementation here for details:
https://github.com/dotnet/coreclr/blob/master/src/vm/amd64/unixasmhelpers.S#L337

[2016-03-31 23:56] manu-silicon commented on #3856
I've added a new issue to track this #4040

[2016-04-01 00:19] manu-silicon commented on #3991
@ericstj I'll give it a try tonight. Thanks.

[2016-04-01 01:31] manu-silicon commented on #3986
@janvorli Not a problem. I was able to get the message from the exception and this was very helpful. I also enabled the logging but it does not print the message part.

[2016-04-01 01:31] #3986 closed

[2016-04-01 01:47] cmckinsey opened #4044 "RyuJIT bug related to side-effects in exception filter"
https://github.com/dotnet/roslyn/issues/7030

Reproes only on /o+ on 64bit.

The following code loops infinitely printing “3”

[code]

[2016-04-01 02:46] lt72 commented on #3787
This work item could not get any traction for RC2. It will be targeted early in the RC2 --> RTM cycle.

[2016-04-01 04:54] #3768 closed

[2016-04-01 04:56] erozenfeld commented on #2150
Fixed by #4041.

[2016-04-01 04:56] #2150 closed

[2016-04-01 06:37] lt72 commented on #3787
This work item could not get any traction for RC2. It will be targeted early in the RC2 --> RTM cycle.

[2016-04-01 07:19] markmnl commented on #3520
When will be able to use any recent NET Core from UWP?

I have been waiting months to use the new (old) Socket API which was committed to corefx Oct 2015: https://github.com/dotnet/corefx/pull/4079/files

[2016-04-01 09:22] janvorli commented on #3712
@ramarag, I am not sure how the referred change implements and validates all the remaining SOS commands. There were no additions of new commands and no additions of missing options to existing SOS commands.

[2016-04-01 15:08] schaabs opened #4046 "SIGABRT_System.Globalization.Native.so!UErrorCodeToBool"

[2016-04-01 18:29] jkotas opened #4048 "Mark libcoreclr.so as not needing executable stack"
See http://linux.die.net/man/8/execstack

[2016-04-01 18:29] jkotas commented on #4048
This is needed to reduce CoreCLR attack surface

[2016-04-01 19:45] jaredpar opened #4049 "Static fields should not contribute to cyclic struct layout"
Consider the following code:

[code]

This code will compile with C# 6.0 and is legal according to the CLI spec.  The type definition is recursive but the layout of the struct is not because the field involved here is static.  The CLR is unable to handle this though and fails at runtime with a `TypeLoadException`:

[2016-04-01 19:58] jkotas commented on #4049
This is known implementation limitation in CoreCLR - both the instance and static field layout is done together that results into this error. It is not easy to fix.

[2016-04-01 21:13] ramarag commented on #3712
@janvorli : why do you think that we have to add new commands and why would there be missing options to existing commands? It would be great if you could point out an example

[2016-04-01 22:09] janvorli commented on #3712
@ramarag Maybe I misunderstood the purpose of this github issue. The description says "Implement and validate all remaining SOS commands". So I have thought the goal is to implement all SOS commands (and all their options) for CoreCLR on Unix. So far, we have implemented only a subset of the commands, see https://github.com/dotnet/coreclr/blob/master/src/ToolBox/SOS/lldbplugin/soscommand.cpp#L124

[2016-04-01 22:14] ramarag commented on #3712
Ah yes, you have misunderstood, this is to track for windows arm64. may be we should start tagging platforms too, closing it again

[2016-04-01 22:14] #3712 closed

[2016-04-02 05:17] ctaggart commented on #3835
@shahid-pk Are you sure `lldb` isn't required? The reason I ask is because the `dotnet-sharedframework-ubuntu-x64.latest.deb` package lists `liblldb-3.6` as dependency.

[code]

[2016-04-02 07:33] shahid-pk commented on #3835
lldb is required for debugging , so yes for development it is required But i don't think it is required for anything else.

[2016-04-02 14:56] manu-silicon commented on #3991
@ericstj It seems to have done the trick, I had to do ```ulimit -n 1024``` in bash to go to completion. However there are still a lot of errors being displayed.

[2016-04-02 14:57] manu-silicon commented on #3991
Although not tested, I think this should be fixed by PR #4052

[2016-04-02 14:58] #3991 closed

[2016-04-02 17:48] lithiumlab commented on #658
Just happened to me using latest instructions form here:
using yosemite

https://github.com/dotnet/coreclr/blob/63766f74c4a641a274cd2933b9b7fd7bbddef2dd/Documentation/building/osx-instructions.md#openssl

[code]

[2016-04-02 18:44] bartdesmet opened #4055 "NullReferenceException from CharEnumerator after calling Reset"
Ran into this rather surprising behavior, but it seems it's been there all along.

[code]

It seems that calling `Reset` after `Dispose` should be a no-op (or throw `ObjectDisposedException` but that could rank higher on a breaking change scale) rather than resetting the cursor back to -1.

[2016-04-02 22:19] weshaggard commented on #3520
I've added a tracking issue on corefx https://github.com/dotnet/corefx/issues/7466 to have this looked in more closely to make sure our prerelease packages can function in UWP.

[2016-04-03 02:32] jamesqo commented on #3581
Agreed, I think this would be a great idea since as of right now there's no way to use ilasm/dasm on Unix without 1) building the repo or 2) resorting to Mono. This would allow .NET Core-based projects to use IL code and be able to build on non-Windows platforms.

[2016-04-03 05:10] yizhang82 commented on #3593
The test is using user32.dll...
Unhandled Exception: System.DllNotFoundException: Unable to load DLL 'user32.dll': The specified module could not be found.
 (Exception from HRESULT: 0x8007007E)
   at Program.NativeMethods.EnumWindows(IntPtr enumProc, IntPtr lParam)
   at TestNativeCallable()
   at Program.TestNativeCallableValid()
   at Program.Main()

[2016-04-03 08:05] markmnl commented on #3520
Thanks

[2016-04-03 10:14] alexandrnikitin commented on #2150
@erozenfeld Thank you!!

[2016-04-03 13:40] colgreen opened #4059 "Multidimensional array performance"
There appears to be a long running issue with the performance of multidimensional arrays compared to a comparable jagged array. Are there any plans to look into this?

Some existing discussion here:

http://stackoverflow.com/questions/468832/why-are-multi-dimensional-arrays-in-net-slower-than-normal-arrays
http://stackoverflow.com/questions/5476000/c-multi-dimensional-array-vs-one-dimensional

I r

[2016-04-03 22:04] jamesqo commented on #4032
@jkotas I'm willing to take this up! Will submit a PR within a few hours.

[2016-04-04 01:32] manu-silicon opened #4062 "System.IntPtr(long) constructor throws overflow"
The current .NET Framework on Windows and CoreCLR have the following implementation for System.IntPtr(long):

[code]

This is quite unfortunate on 32-bit platforms because if you get a pointer value as a long which has the higher bit set, it will always throw an overflow exception.

To reproduce:

[code]

The code should have been:

[code]

since we only care that the higher 32-bits of the long pa

[2016-04-04 01:40] manu-silicon commented on #4062
Actually my proposed fix is not that correct since if a long is negative, the case would always fail. So we should have something like:
[code]

[2016-04-04 05:49] davidfowl commented on #930
It might be time to reconsider this since we have a unified host now.

[2016-04-04 06:09] leemgs commented on #3805
We have released update version of "Linux/ARM Emulator" (ver. 20160404-1330).
* Download: https://onedrive.live.com/redir?resid=C93799B86B006829!161&authkey=!ACih0q8TpEkahqM&ithint=file%2cpbz2

[2016-04-04 10:39] brucehoult commented on #3805
Mirrored to http://hoult.org/coreclr/linux-arm-emulator-20160404-1330.tar.pbz2

[2016-04-04 10:40] brucehoult commented on #3805
@leemgs do the changes in the new emulator include updating the included build of coreclr to track github?

[2016-04-04 11:13] leemgs opened #4064 "To support compatibility among the different awk versions"
On ubuntu 14.04 x64, when we run "coreclr$> time ./build.sh clean" command, we have got the below warning message.

* Summary:  warning: regexp component `[:space:]' should probably be `[[:space:]]'
* Details:
[code]

With first PR, the build-break is caused by different awk versions (Thanks to @jkotas; #4005 ).

Now, there are two patches to resolve this issue. There are a lot of different AWK so

[2016-04-04 11:16] leemgs commented on #4064
\CC: @janvorli , @jkotas

[2016-04-04 11:44] leemgs commented on #3805
@brucehoult , the changes in the new emulator are included `./doc/CHANGELOG.txt` file. And we will maintain the emulator with github.com (e.g., https://github.com/leemgs/linux-arm-emulator) in the near future after finishing some procedures.

[2016-04-04 13:39] Janiels commented on #4062
I think that change would be a bit unfortunate. Consider:
[code]

I think it's the naming of the type that is problematic -- `IntPtr` really represents an integer of native size, but it is documented and named as if it represents a pointer. As a native integer the current behavior makes perfect sense.
The problem then arises from shoehorning a pointer into a native integer and the native integer b

[2016-04-04 15:36] OtherCrashOverride commented on #3544
Now that this year's BUILD event is over with, is there any status update for this?  There was talk of remote debug, but I did not see any actual "here is how you do it" information.  Particularly dismaying is that it appears I need to install Java, the Android SDK, and the Android NDK to remote debug a Linux session that is not running any of those things.  Ironically, if i was actually using Jav

[2016-04-04 16:58] #3978 closed

[2016-04-04 17:02] mikem8361 opened #4066 "SOS needs option or command to display a managed stack frame registers"
On the xplat OS's there is no way easy way to display the register context for a managed stack frame and/or special helper frames like FaultingExceptionFrame, etc.

Add an option to clrstack (like -r) to display the frames registers.

[2016-04-04 17:18] ericstj commented on #3991
FYI: it looks like NuGet took a fix for this here: https://github.com/NuGet/NuGet.Client/pull/440/commits/f5f67f6da8d8c34be14017a88a08b9f13c78e65a

[2016-04-04 17:25] swaroop-sridhar commented on #3772
ARM64 GCStress implementation doesn't use the disassembler (because of fixed instruction length, and that there's code in the VM to clasify the instruction type by opcode).

CoreDisTools ARM64 will be necessary for SuperPMI

[2016-04-04 17:41] shiftkey commented on #3991
To make it doubly-clear, https://github.com/NuGet/NuGet.Client/commit/d6e423713f74550773c062f26635674f5f4d899c was merged into `dev` recently...

[2016-04-04 18:01] #3972 closed

[2016-04-04 18:13] maciejw opened #4067 "Problems with CultureInfo, ThreadPool and ExecutionContext"
Take a look,

Use case

I have in my application resources for pl-PL and en-US culture. Based on call context, WCF server should be able to use correct version of resources.

Symptoms

On some service calls values extracted from resources were incorrect. Despite of setting context to pl-PL resources that were used were en-US.

here is repro application https://github.com/maciejw/CultureInfoAndThre

[2016-04-04 18:17] ilexp commented on #1015
Any news on this? From a gamedev perspective, I'd really like to see something like this. It's already possible to write high-performance code in C#, but stuff like this would certainly make it easier.

[2016-04-04 18:31] LLITCHEV commented on #3601
Fixed by PR #4045

[2016-04-04 18:31] #3601 closed

[2016-04-04 19:26] omariom commented on #1015
@ilexp It is being prototyped in [Slices](https://github.com/dotnet/corefxlab/tree/master/src/System.Slices)

[2016-04-04 19:50] gkhanna79 opened #4070 "R2R: Support for Rare Static fields"
Build the tests with crossgen flag and run them on non-Windows. The following rare fields not supported issue comes up (impacts 23 tests in Release build):

BEGIN EXECUTION /mnt/resource/j/workspace/dotnet_coreclr/master/x64_release_centos7.1_pri1r2r_tst_prtest/bin/tests/Windows_NT.x64.Release/Tests/coreoverlay/crossgen /Platform_Assemblies_Paths /mnt/resource/j/workspace/dotnet_coreclr/master/x64

[2016-04-04 20:37] ilexp commented on #1015
Just to be extra sure: The slice being a custom `Span<T>` struct is part of the prototype and would be changed as part of an actual implementation, correct? Because if it can't be treated exactly as an array, that would probably take away a big part of its core purpose.

[2016-04-04 22:43] russellhadley opened #4073 "Add arm64-contrib group"
@dotnet/arm64-contrib

I've added the arm64 contrib group to allow for raising visibility on arm64 PRs.

[2016-04-04 22:43] russellhadley commented on #4073
Marking as closed.

[2016-04-04 22:43] #4073 closed

[2016-04-04 22:45] sejongoh commented on #2405
I cannot reproduce the problem. ldsfld looks transformed to 'ldc.i4 0x64'

coreclr\bin\Product\Windows_NT.x64.Debug\ilasm.exe badendfinally.il
coreclr\bin\Product\Windows_NT.x64.Debug\ildasm.exe badendfinally.exe
[code]

[2016-04-04 23:08] morganbr commented on #4048
Is there something similar for managed code that we'd be able to enable?

[2016-04-04 23:18] leemgs opened #4075 "Linux/ARM: location of binary packages for arm/arm64"
Good news. As a reminder, the .Net CI(Continuous Integration) supports ARM/ARM64 port additionally. I believe that it will prevent a contributor from making the unexpected regressions to arm/arm64 port.
* http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/ ({arm64|arm64}_cross_***)

As a next step, it seems that the executable binary packages(e.g, *.deb) of arm/arm64 have been uploaded  b

[2016-04-04 23:20] leemgs commented on #4075
\CC: @benpye , @manu-silicon , @myungjoo , @jkotas , @janvorli , @prajwal-aithal

[2016-04-04 23:40] MichalStrehovsky opened #4076 "Restore ability to use custom launcher in test runs"
Pull request #2487 deleted the infrastructure that lets us run CoreCLR tests on CoreRT (logic around `CLRCustomTestLauncher`).

There was a conversation on the pull request that lead nowhere because two months passed and we still can't run the CoreCLR tests on CoreRT. Filing an issue so that we get the accountability sorted out.

My take is who broke it will fix it. This is blocking further progre

[2016-04-04 23:40] MichalStrehovsky commented on #4076
Cc @schellap @nattress @russellhadley

[2016-04-04 23:41] manu-silicon commented on #4062
@Janiels The current behavior makes it hard to write portable code between 32 and 64-bit platforms without any kind of runtime conditional. We used long to be able to represent an address on any platforms, but got bitten by this overflow check.

Also when you write 0xFFFFFFFF by itself assigned to a long, this is just an abbreviation for 0x00000000FFFFFFFF and I'm not surprised that the answer for

[2016-04-04 23:44] manu-silicon commented on #3991
:+1:

[2016-04-05 01:17] swaroop-sridhar commented on #3824
GC_Stress=0xC infrastructure seems to be working for ARM64.
I verified that the VM sprinkles the invalid-instruction traps, and starts a GC at every legal instruction when in stress mode.

The stress-runruns into a failure after about 15 collections in the Appdomain.SetupDomain function of MsCorlib. Investigating this now -- this failure seems to be caused by a VM  bug (not related to the GCstress

[2016-04-05 02:10] manu-silicon opened #4082 "Build verbose generates very long command line"
When I perform a cross compilation for arm using the ```verbose``` flag the output window is barely readable. The main cause is that some arguments are replicated many times. For example, building libryujit.so will have 115 times the following arguments:

[code]

[2016-04-05 03:02] #3391 closed

[2016-04-05 06:09] jkotas commented on #4070
There are bad tests. They fail under various circumstances even without R2R - see https://github.com/dotnet/coreclr/issues/2433.

[2016-04-05 06:20] jkotas commented on #4048
Managed code (IL) does not have this problem to start with.

[2016-04-05 07:34] leemgs commented on #4075
@jashook, Are you in charge of the .net core repository for arm/arm64? If you follow up this activity as a R&R, Can you share us how to install debian packages (e.g., *.deb) with apt-get command for arm/arm64?

[2016-04-05 08:04] manu-silicon opened #4083 "Cannot compile with VS 2015 Update 2?"
I'm not sure if this is related to my recent update to VS 2015 Update 2, but I cannot compile CoreCLR on Windows. I'm getting the following error:

[code]

[2016-04-05 08:26] manu-silicon commented on #4062
This seems to be a blocking factor for Linux 32-bit platforms, as shown while testing the ARM 32-bit port:

[code]

Indeed in the ProcessManager class for Linux, the following line appears and it crashes because the address is of the form 0xbxxxxxxx:

[code]
.

[2016-04-05 10:28] leemgs commented on #4064
I have submitted PR https://github.com/dotnet/coreclr/pull/4084 with simple way that @janvorli commented because there are not additional comments.

[2016-04-05 13:09] mkborg commented on #3510
The same problem with CoreRun.exe on recent master (0166b60325807abea17f3dd36ec729216ec7da81)

but with powershell v.4.0:

Name             : ConsoleHost
Version          : **4.0**
InstanceId       : 76109ca6-3aa2-4cf6-8480-0cd1ce1d78f5
UI               : System.Management.Automation.Internal.Host.InternalHostUserInterface
CurrentCulture   : ru-RU
CurrentUICulture : en-US
PrivateData      : Micros

[2016-04-05 15:03] mkborg commented on #3510
I have compared 'release/1.0.0-rc2' and 'master' build trees and found the difference:

./coreclr/bin/obj/Windows_NT.x64.Debug/src/coreclr/hosts/corerun/Debug/CoreRun.exe
./coreclr/bin/Product/Windows_NT.x64.Debug/CoreRun.exe
**./coreclr/Tools/CoreRun.exe**
./coreclr/Tools/dotnetcli/bin/CoreRun.exe

Looks like in case of 'master' build scripts do not install 'CoreRun.exe' into 'Tools' subdirectory

[2016-04-05 15:12] mkborg commented on #3510
According to time-stamp 'CoreRun.exe' in 'Tools' subdirectory is not built but installed from external source:

-rwxrwx---+ 1 john None 1096704 Apr  5 14:50 ./coreclr/bin/obj/Windows_NT.x64.Debug/src/coreclr/hosts/corerun/Debug/CoreRun.exe
-rwxrwx---+ 1 john None 1096704 Apr  5 14:50 ./coreclr/bin/Product/Windows_NT.x64.Debug/CoreRun.exe
-rwxrwx---+ 1 john None  108456 **Mar  6** 20:45 ./coreclr/T

[2016-04-05 15:32] Janiels commented on #4062
It's only surprising because `IntPtr` is documented as if it represents a pointer. In reality it represents a signed integer of native size, and the long value `0xffffffff` cannot fit in a 32-bit signed integer.
I think your change would be surpising in the fact that `new IntPtr(0xffffffff)` would represent `-1` on 32-bit platforms and `0xffffffff` on 64-bit platforms.

I would also argue the bug

[2016-04-05 17:43] MichalStrehovsky commented on #4076
Cc @gkhanna79

[2016-04-05 18:13] LLITCHEV commented on #2966
Dup of issue #2907

[2016-04-05 18:13] #2966 closed

[2016-04-05 18:17] JosephTremoulet commented on #4044
When the filter clause returns false, the exception may then be handled by the second `catch`.  It looks like our liveness calculation ignores that control flow edge; we figure out that `i` is live-in to the second `catch`, but don't propagate that to make it live-out of the filter.  This leads us to mark the use of decremented `i` in the compare in the filter expression as "last-use", which might

[2016-04-05 18:54] JosephTremoulet commented on #4044
Actually, since filters run in the first pass, we'd also need edges to *inner* try regions' finally handlers, since those could get run *after* any enclosing filter expression.  For example, with this function:

[code]

the correct behavior (which we exhibit w/o optimizations) is to print '2' from the `finally`, but running this with optimizations we print '1'...

[2016-04-05 19:13] vindicatorr opened #4087 "coreclr_initialize failed 0x80131500"
https://github.com/dotnet/roslyn/issues/10338
It was suggested I post the issue here as well.

Using Archlinux.
When roslyn build downloads prebuilt toolset, "make" immediately fails with "coreclr_initialize failed 0x80131500"

I had also built coreclr myself (native on arch, mscorlib on ubuntu), as well as corefx (native on arch, managed on ubuntu), then copied over the stuff in the downloaded pr

[2016-04-05 19:49] ryanbrandenburg opened #4088 "CultureInfo.CurrentCulture not being preserved across Threads on Linux"
MVC seems to have encountered a problem whereby the CurrentUICulture is not preserved across threads on Linux (windows works fine). If you run [this](https://github.com/ryanbrandenburg/Demo/tree/modified) project on windows, go to /Home/Index and request "fr" as your language all the fields should display french data. However, if you run it on Linux AND the Controller and View execute on different

[2016-04-05 20:09] #1977 closed

[2016-04-05 20:23] brianrob opened #4090 "Create NuGet Symbols Package for CoreCLR and Publish It With Each Build"
Release build symbols are created next to each native binary, but aren't currently packaged for consumption.

[2016-04-05 20:23] brianrob commented on #4090
cc: @lt72, @gkhanna79, @schaabs

[2016-04-05 20:26] brianrob opened #4091 "Script Download and Placement of Native Symbols"
Package a script alongside the runtime that can download its symbols and place them next to each binary so that debuggers and tracers automatically pick them up.

Ideally, the script is version agnostic so that it can be copied amongst versions of the runtime without concern that the wrong symbols will be placed and thus rejected by tools.

[2016-04-05 20:27] brianrob commented on #4091
cc: @lt72, @gkhanna79, @schaabs, @brthor

[2016-04-05 21:18] mikem8361 commented on #4091
Change the --strip-debug back to --strip-unneeded in the strip_symbols cmake function.

[2016-04-05 21:29] swgillespie opened #4093 "Inconsistent finalizer test behavior on Ubuntu"
See http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/checked_ubuntu_tst_prtest/501/testReport/junit/GC.Scenarios.DoublinkList/dlcollect/dlcollect/ for a failure. I failed to get a repro after running this for about a week last week, but it happened again in CI.
- http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/checked_ubuntu_tst_prtest/545/testReport/GC.Scenarios.Dou

[2016-04-05 21:49] noahfalk commented on #3544
@gregg-miskelly any additional info beyond what is already called out here? (Gregg works on the VS debugger team)

[2016-04-05 22:15] mikem8361 opened #4094 "Replace the DbgTransportSession::CheckBufferAccess with better validation"
The debugger transport memory validation function used for Read/Write memory APIs should be replaced with something that doesn't use probe wrapped in a try/catch. Because the xplat C++ runtimes don't expect an exception at random instructions, the probing code is very fragile even with all the noinline/optnone attributes and the throw PAL_SEHException hack.

[2016-04-05 22:53] gregg-miskelly commented on #3544
Now that VS 2015 Update 2 is out, the required bits on the VS side have shipped. So we just need to put together some instructions on how to set things up (in an off-road way). We should be able to put these together soon. Hopefully in the next week or so.

[2016-04-05 22:55] adityamandaleeka commented on #4046
The problem here seems to be that the assert isn't valid. `uloc_getLanguage` will return `U_BUFFER_OVERFLOW_ERROR` if the language code is longer than the size of the buffer passed in.

In this case, "NotAValidCulture" is used as the locale, and the capacity if the buffer is 12. The function can only fit "notavalidcul" in the buffer and sets `err` to `U_BUFFER_OVERFLOW_ERROR`.

[2016-04-05 23:03] adityamandaleeka commented on #4046
@steveharter Can you take a look at this please?

cc: @ellismg

[2016-04-05 23:27] iCodeSometime opened #4098 "Implement Array.StableSort"
I am working towards implementing List<T>.StableSort, as per dotnet/corefx#4696. It makes more sense to implement in CoreCLR first, as discussed [here](https://github.com/dotnet/corefx/issues/4696#issuecomment-161290987). I'm cloning the repo now, and should have a pull request ready in a short while.

[2016-04-06 00:17] manu-silicon commented on #4062
If you have code that has been using ```long``` to do pointer arithmetic that is portable among 32 and 64-bit system, casting to ```(void *)``` would be hiding potential bugs. This is why Microsoft added the checked cast to (int) in the first place for 32-bit systems. It is just unfortunate that they choose int.

I'm just arguing for the less surprising thing to do. Doing what I'm proposing would

[2016-04-06 01:46] Eilon commented on #4088
Marking as `blocking-partner` because this is a critical ASP.NET scenario.

@DamianEdwards FYI

[2016-04-06 04:59] yizhang82 commented on #3593
@tijoytom Which platform are you seeing the failure? It's working on Mac:

Yis-MacBook-Pro:Castable yizhang$ ../../../../coreclr/bin/Product/OSX.x64.Debug/corerun Castable.exe
IsInstanceOfInterface has been called for type IRetThis
IsInstanceOfInterface has been called for type IUnimplemented
IsInstanceOfInterface has been called for type IRetThis
IsInstanceOfInterface has been called for type IUn

[2016-04-06 05:14] manu-silicon commented on #4083
Repairing my VS 2015 Update 2 install solved this issue.

[2016-04-06 05:14] #4083 closed

[2016-04-06 06:30] erozenfeld opened #4104 "RyuJIT: factor parts of morph required for correctness"
Morph in RyuJIT is responsible for several things: setting side effect flags on tree nodes correctly, transforming call arguments, making some expression optimizations and more. Global morph is called before optimization phases. During optimizations morph is called on statements affected by optimizations. That has caused a number of bugs: optimizations rely on value numbers and morph can't always

[2016-04-06 07:40] Janiels commented on #4062
I'm not entirely sure why `(void *)` would hide potential bugs?
I mean on 64-bit platforms the upper bit might be used when representing a pointer. So a negative value in a `long` that is used to represent a pointer does not represent an invalid pointer -- not if you are writing portable code. However you are right that it could be used for this in 32-bit code.

[2016-04-06 08:10] leemgs commented on #3926
I have found a new hint why we cannot successfully run `hello world!!` with coreCLR that is built with release mode on Ubuntu 14.04 x64. Now, I am analyzing the internal operations(e.g., GOT, PLT, and DTV) of Thread Local Storage (TLS) with TLS white paper (https://www.akkadia.org/drepper/tls.pdf).

 * Release Mode: TLS layout
[code]
 * Debug Mode: TLS Layout
[code]

[2016-04-06 08:11] sejongoh commented on #2405
Please ignore my previous comment. I was looking into a different testcase in the same directory...

I opened a PR: https://github.com/dotnet/coreclr/pull/4101

[2016-04-06 08:46] radischevo opened #4105 "Possible unintended reference comparison in ResourceManager"
I've been investigating the issue with incorrect resource set returned from `ResourceManager` in certain cases, likely in a multithreaded environment (ASP.NET app is the example).

Looking at the sources of `ResourceManager` I've noticed, that in the `InternalGetResourceSet` method there are two condition statements where `CultureInfo`s are compared using the equality operator. Since the `CultureI

[2016-04-06 09:17] janvorli commented on #4088
@stephentoub - this is a corefx rather than coreclr issue, right?

[2016-04-06 09:46] svick commented on #4098
If this is about adding a public method, then you should still follow [the API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) by having an issue in corefx and not submitting a PR until the API is accepted. This applies even to types that are implemented in coreclr.

[2016-04-06 11:24] leemgs commented on #3926
I have also checked that the segmentation fault of hello world!!! console application happened because of the misaligned of `__tls_get_addr` related symbols by monitoring the caller/callee of the symbols. It seems that I have to dig the operations of the relocation sections including `ARM_JUMP_SLOT` and dynamic symbol tables.

 * Here is a screenshot generated by modified dynamic linker.

[code]

[2016-04-06 12:00] stephentoub commented on #4088
@janvorli, if there's a bug here, it would actually be due to code in coreclr/mscorlib as that's where the implementation for all the relevant types live, e.g. CultureInfo, ExecutionContext, etc.

@ryanbrandenburg, how is work being passed across threads, i.e. what APIs are being used?  Are you queuing work with Tasks?  Using just async/await?   Is there a custom SynchronizationContext involved?

[2016-04-06 12:16] myungjoo opened #4107 "ARM/Linux Assert Fail: Testing Roslyn 2."
Environment: ARM/Linux (armv7l / gnueabi / Cortex A9 x 4 / Linux 3.10)
Codebase: fe089109148c370dffe238b6abbbd42c5dbafc99 + #3990 (PR in coreclr) + https://github.com/myungjoo/coreclr/tree/implement/4040 (implementing #4040)
Target App: Roslyn (csc.exe, dotnet/roslyn: 9d6fdb07b9d63ef018b7fbf6f5ae72824c51da32)

Related pending fixes applied (the two not-yet-merged patchsets described above), csc.ex

[2016-04-06 12:36] kennycoc commented on #4098
Oh, for whatever reason, I thought that label just generally meant it was working on the API. Thanks for clarifying!

[2016-04-06 12:49] janvorli commented on #4107
@myungjoo as far as I can tell, the fact that the fFound is not true means that the stack walk has not found the resume frame for the exception. There are two checks for finding the resume frame - at line 228 and 236. I would recommend adding logging of the values being compared to see if we for some reason aren't off by just say one stack slot in the comparison or something.
The long comment befo

[2016-04-06 13:13] janvorli commented on #4088
@stephentoub Ah, right, I got somehow confused.

[2016-04-06 14:17] steveharter commented on #4046
Sure taking a look now

[2016-04-06 14:55] rynowak commented on #4088
@stephentoub this is all async/await without a custome context.

Simplified, the execution graph looks like:
[code]

All the arrows represent `await`s and the second piece of user code (View) is observing an unexpected value of the culture. I'll talk to @ryanbrandenburg about putting together an isolated (non-MVC) repro when he arrives.

[2016-04-06 15:27] steveharter commented on #4046
Still taking a look. I believe the error is coming from here:
    if (U_SUCCESS(*err))
    {
        // Make sure the "language" part of the locale is reasonable (i.e. we can fetch it and it is within range).
        // This mimics how the C++ ICU API determines if a locale is "bogus" or not.

        char language[ULOC_LANG_CAPACITY];
        uloc_getLanguage(localeNameTemp, language, ULOC_LANG_C

[2016-04-06 15:31] omariom opened #4108 "RyuJIT: JIT, readonly static fields and dynamic dispatch"
JIT could replace  virtual, interface and delegate dispatch with static one when it knows the target at jit-time. JIT could even inline it when appropriate.

[code]

category:cq
theme:devirtualization
skill-level:expert
cost:medium

[2016-04-06 15:47] tarekgh commented on #4088
this could be because we have different globalization code used in Linux than Windows. but having non MVC sample will help in the repro. I'll try to take a look later today.

[2016-04-06 16:09] russellhadley commented on #2481
@kyulee1 If this is not a regression against desktop would you put it in the Future milestone?

[2016-04-06 16:11] kyulee1 commented on #2481
Changed it for futher since it's the existing issue in desktop as well.

[2016-04-06 16:15] kyulee1 opened #4109 "ARM64: Consistency check failed"
This occurred in the recent lab run for the following tests.

JIT\Methodical\explicit\rotate\_dbgrotarg_valref\_dbgrotarg_valref.cmd
JIT\Methodical\explicit\rotate\_relrotarg_valref\_relrotarg_valref.cmd

[code]

[2016-04-06 16:57] kyulee1 commented on #3968
It appears the lab (smarty) doesn't complain this. I can't repro locally either.
Did you set up CORE_ROOT correctly or any permission issue on the path?
As in https://github.com/dotnet/coreclr/pull/4110, I'm re-enabling this.

[2016-04-06 17:44] JosephTremoulet commented on #4044
Adding the "start the 2nd pass" edges from `filtret` to inner finallies will could increase the non-exception-path penalty for not cloning finallies.  If we have something like

[code]
then (since we also add an edge from Start to E in order to make sure exceptions at the starts of try regions are modeled), we'll pick up a path Start->E->C->D, so A will no longer dominate D.  I still think it's pr

[2016-04-06 17:48] jehine-MSFT opened #4114 "ContentEncoding header stripped out of response.header.content.contentEncoding"
I've noticed that when getting a response with "gzip" as the content encoding, this value is not populated into the response.Header.Content.contentEncoding object. If the value is "foo" this value is properly propagated from the response to the header object.

[2016-04-06 17:52] janvorli opened #4115 "Jitter GC byref lifetime tracking missing a register"
The jitter misses tracking lifetime of the R15 register when jitting Microsoft.AspNetCore.Server.Kestrel.Http.SocketOutput:ProducingStart method, which leads to a GC hole. Here is a dump of the fragment of the jitted code with the lifetime annotation where it is visible that the R15 is not tracked and so if GC happens between the R15 assignment and the last instruction in the list below and the ob

[2016-04-06 18:08] BruceForstall commented on #4044
It doesn't surprise me that we have bugs in this area, since until recently (with "catch when" added to C#) we haven't had many filters to deal with. It sounds like you're going down the right path.

[2016-04-06 18:22] ryanbrandenburg commented on #4088
Here is a repro app https://github.com/ryanbrandenburg/ThreadedCultureRepro. As with the MVC repro, it works as you would expect on windows but gives the wrong culture when the second half happens on a different thread in linux.

[2016-04-06 18:27] tarekgh commented on #4088
Thanks @ryanbrandenburg I'll try that. I am seeing the Linux code is not having the async logic with the current cultures so I am working to fix that. will update you when I have more news.

[2016-04-06 18:34] tarekgh commented on #4088
CC @ericeil as FYI

[2016-04-06 19:41] syalachigere opened #4118 "Significant performance drop with Server GC"
There is a significant performance drop of up to 80% for workloads built with .Net CLI. We used TechEmpower plaintext as well as our internal workload to verify. Initial analysis indicates Server GC  to be an issue as performance is as expected when choosing Workstation GC.

We also observed that for Workstation GC, ```n``` number of GC threads were created where ```n = total logical processors```

[2016-04-06 20:15] steveharter commented on #4046
Added fix. Researching why corefx debug tests did not catch this.

[2016-04-06 20:15] #4046 closed

[2016-04-06 20:38] swgillespie commented on #4118
cc @Maoni0 @sergiy-k

Thanks for the report!

This is curious but unfortunately I can't repro this on my machine. When using Workstation GC on a program with five threads and a machine with 8 procs, I see 12 threads (1 BGC thread + 5 user threads + 1 finalizer thread + 3 ntdll threads + 2 debugger-related threads), and with server GC, I see 26 threads (8 BGC threads + 8 Server GC threads + 5 user

[2016-04-06 20:54] #4028 closed

[2016-04-06 20:59] gkhanna79 commented on #3133
@joperezr With your PR merged, do we know have binaries building with the version info? If so, do you want to close https://github.com/dotnet/coreclr/issues/3559 and this issue?

[2016-04-06 21:02] kyulee1 commented on #3968
Since this doesn't repro in the lab and locally, I'm closing this.

[2016-04-06 21:05] schaabs commented on #4048
Every .so file needs this as well.  Specifically I found that this is an issue with the DAC having this bit set.

[2016-04-06 21:27] joperezr commented on #3133
Not exactly. I guess I can close #3559 but I would keep this one open. The reason is that native binaries built in non-Windows platforms don't have version info yet, which is basically the topic of this issue. What I added is the versioning to all managed binaries in all platforms, and to native ones in Windows builds. I will now focus on adding it to the non-Windows native binaries following the

[2016-04-06 21:27] joperezr commented on #3559
Closing since this is now done.

[2016-04-06 21:27] #3559 closed

[2016-04-06 21:28] gkhanna79 commented on #3133
Sounds good. Can we start to see binaries with versions in tonight's build?

[2016-04-06 21:35] ericstj opened #4121 "Unix MSCorlib contains windows p-invokes"
I am noticing the following windows-specific PInvokes in the unix builds of MSCorlib:
.module extern advapi32.dll
.module extern mscoree.dll

advapi32.dll is being brought in by [ManifestEtw.EventUnregister](https://github.com/dotnet/coreclr/blob/775003a4c72f0acc37eab84628fcef541533ba4e/src/mscorlib/src/Microsoft/Win32/UnsafeNativeMethods.cs#L126).

mscoree.dll is being brought in by [Marshal](htt

[2016-04-06 21:49] syalachigere commented on #4118
We used WPA to get details about threads count. ```CPU Usage sampled "Utilization by process and Thread”``` gave us list of threads. Then we matched thread Ids to GCJoin-events threads ids.

Will get thread stack trace as soon as possible.

[2016-04-06 21:51] joperezr commented on #3133
Yes, if all goes well, mscorlib packages built for non-Windows should have version now.

[2016-04-06 22:03] ramarag opened #4122 "tailcall_v4\hijacking\hijacking.cmd fails in arm64"
BEGIN EXECUTION
 "Z:\arm64\new\corerun.exe" hijacking.exe
Executed 34 GCs
Executed 6 tail calls before failing
Expected: 100
Actual: 101
END EXECUTION - FAILED
FAILED

@briansull  please investigate\assign this to the proper dev

[2016-04-06 22:18] AndyAyersMS opened #4124 "Release IL tests should explicitly specify DebugType as PdbOnly"
Otherwise in CHK/DBG builds, the tests won't enable jit optimizations.

There are about 285 release ilprojs that need fixing. There are another 1800 or so IL tests where fixes may be needed.

[2016-04-06 22:25] pgavlin opened #4126 "Prepare the JIT for a standalone build"
i.e. a build that can take place in isolation from the rest of CoreCLR.

In large part this involves removing dependencies between the JIT and the runtime. How a dependency is removed differs based on its nature:
- OS/environmental dependencies may either be subsumed into the JIT's PAL or moved behind the JIT hosting interface (as appropriate)
- EE data structures/utilcode may be replaced with dat

[2016-04-06 22:26] pgavlin opened #4127 "Remove the JIT and the GC info encoders' dependencies on EE data structures."
As it says. This is part of #4126.

[2016-04-06 22:28] pgavlin opened #4128 "Stop including EE header files in the JIT and the GC info encoder."
As it says. This depends on #4127 and is part of #4126.

[2016-04-06 22:29] pgavlin opened #4129 "Stop linking the utilcode library into the JIT."
This involves moving utilcode APIs behind the JIT/EE or JIT hosting interface and replacing utilcode data structures with JIT data structures as appropriate.

This is part of #4126.

[2016-04-06 22:32] syalachigere commented on #4118
@swgillespie Can you try this on a server with more than 20 logical processors? we have seen this issue only on systems with more than 20 logical processors.

[2016-04-06 22:32] pgavlin opened #4130 "Investigate EH interactions across the JIT/EE interface."
In order to isolate the JIT from CoreCLR, EH interactions over the interface need to be understood and any supported/necessary interactions codified appropriately. This includes interactions with the CLR's `DebugState` APIs, as the JIT must stop calling them directly as part of #4129/#4126.

[2016-04-06 22:46] ericeil commented on #4048
This is also needed to run CoreCLR in the new "Ubuntu on Windows" environment, which seems to refuse to load a .so without this set.

[2016-04-06 22:47] swgillespie commented on #4118
@syalachigere Just tried this on a machine with 48 logical processors, and I see 9 threads under workstation GC and 56 threads with server GC. This is by setting server GC and workstation GC using corerun as a host.

I'm going to try and run the TechEmpower benchmark + dotnet CLI on the 48-proc machine to see if this repros - it's possible some wires are getting crossed while trying to set the GC

[2016-04-06 22:58] ericeil opened #4132 "CoreCLR fails to load if lttng fails"
If running in an environment where lttng does not work, CoreCLR fails to load, with an error message like this:

[code]

This currently happens in the "Ubuntu on Windows" environment in the latest Windows 10 preview, for example.  This issue and #4048 appear to be the only blockers to basic managed code execution in that environment.

As a workaround, it seems to work if I delete `libcoreclrtracep

[2016-04-06 23:01] brianrob commented on #4132
LTTng is already a soft-dependency.  If it's not installed you should get no output.  This is likely specific to Ubuntu for Windows.

[2016-04-06 23:03] syalachigere commented on #4118
@swgillespie I did not run using corerun as a host. We build and published with .```Net CLI``` tool. Then ran the published executable to measure the performance.
Default mode is Server GC and we saw low performance. We then observed expected performance with Workstation GC (```set complus_gcserver=false```)

[2016-04-06 23:04] ezephir opened #4133 "Update OS X build instructions to state that OS 10.11 is the minimum supported version"
The instructions say that building on OS X has been validated for Yosemite. However,  https://github.com/dotnet/corefx/issues/4654 & https://github.com/dotnet/corefx/pull/7558#issuecomment-206594879 says that the minimum supported OS is El Capitan (10.11).

Does the [documentation](https://github.com/dotnet/coreclr/blob/e3ad4b489429edd6d7f8315e0bc218c32bf6315f/Documentation/building/osx-instructio

[2016-04-06 23:04] brianrob commented on #4132
To clarify my earlier comment, you should get no output on LTTng and the app should run as expected.

[2016-04-06 23:10] ramarag commented on #4132
ensure that at line : https://github.com/dotnet/coreclr/blob/master/src/pal/src/misc/tracepointprovider.cpp#L106, the load fails for your case. it should not  be loading  libcoreclrtraceptprovider.so  for WSL, probably the load emulation is not as strict on linux

[2016-04-06 23:12] ericeil commented on #4132
Ah, yes, this is happening because I followed the instructions to build CoreCLR, and thus installed the `liblttng-ust-dev` package.  If I remove that package then CoreCLR loads.

It would be nice to be able to build *and* run CoreCLR, though. :)

[2016-04-06 23:24] leemgs commented on #3805
\CC: @hongsekim , @wateret

[2016-04-06 23:25] ellismg commented on #4133
Yeah, we should fix this.  Ideally we'll take a clean install of El Capitan (+ relevant updates) and then install whatever version of the command line tools we need + openssl from brew and document how all that works.

[2016-04-06 23:33] sergiy-k commented on #4118
@syalachigere, do you have NUMA enabled on your machine?

[2016-04-06 23:52] syalachigere commented on #4118
Yes. NUMA was enabled.

[2016-04-06 23:52] #4076 closed

[2016-04-07 00:06] swgillespie commented on #4118
I figure there are several possible issues here:

1. that setting the "System.GC.Server" key in the project.json does not result in Server GC being enabled in the target process,
2. that workstation GC results in server GC-like threads being spawned per-proc and server GC behaves like workstation GC,
3. that server GC regresses in performance significantly over workstation GC.

I can reproduce (1)

[2016-04-07 00:14] ezephir commented on #4133
@ellismg Is this something I can help with? The CoreCLR instructions seem to work okay on El Capitan, but I can verify on a clean install to be sure.

[2016-04-07 00:15] AndyAyersMS commented on #4124
Am going to fix all the _il_rel variants and a few tests I've added.

[2016-04-07 01:18] ellismg commented on #4133
That would be great!

[2016-04-07 01:30] #3945 closed

[2016-04-07 02:14] leemgs commented on #3926
@erozenfeld ,  Can I give you one question to understand the meaning of the `RELWITHDEBINFO` and `MINSIZEREL` that you added on Dec-15-2016? I wonder about the goal of the two build modes. We have used three modes officially  with ./build.sh command. Fore example, 1) DEBUG, 2) CHECKED, and 3) RELEASE. Are the `RELWITHDEBINFO` and `MINSIZEREL` temporal? So, do we may remove the two build modes? Or

[2016-04-07 02:32] sergiy-k commented on #4118
@syalachigere, may please ask you to run your test with NUMA disabled and see if it will have any effect on the results. I just want to make sure this is not the same as https://github.com/dotnet/coreclr/issues/3380.

You also seem to be using an old build of dotnet/cli command line tools and CoreCLR runtime (more than a month old). I could be wrong but I don't think that dotnet v1.0.0-beta-001808

[2016-04-07 02:34] chunseoklee opened #4138 ""dotnet build" cannot find Serializable type"
I am trying to port mdbg into Linux with dotnet-cli.
For the first step, I selected some cs files and tried to build files as library using dotent-cli
my test project is located in https://github.com/chunseoklee/dotnetcli_test and dotnet-cli version is `.NET Command Line Tools (1.0.0-beta-001598)`
Currently, dotnet build failed with the following errors.

[code]
From to http://dotnet.github.io/api

[2016-04-07 02:43] swgillespie commented on #4118
@sergiy-k This is the latest published nightly from the CLI and built-from-the-tip CoreCLR. I'll double-check to see if it made it into the build I was using.

[2016-04-07 03:06] Maoni0 commented on #3380
FYI - I am looking at fixing this for coreclr. There are various APIs that are used that should be enabled for coreclr but aren't - CPU group is one of them.

[2016-04-07 03:11] ezephir commented on #4133
@ellismg I wasn't able to make the instructions work simply by following them.

* CoreCLR builds without issue as per the instructions.
* CoreFX builds fine but hangs while running tests.
  * The last completed is System.Runtime.Serialization.Json
  * A large number exceptions get thrown about missing DLLs and unsupported features. These mostly seem to revolve around networking.
  * I worked aroun

[2016-04-07 03:27] ezephir commented on #4133
For other potential content changes:
* The page makes a reference to needing Windows in the environment section, but it's no longer used anywhere on the page.
* Another reference to Windows at the end of the git section.
* The ulimit command is easy to miss (since it's bundled under the mono heading)
* The Xcode reference is no longer relevant since the minimum version of Xcode for El Capitan is 7

[2016-04-07 03:52] #3704 closed

[2016-04-07 04:27] #4032 closed

[2016-04-07 04:36] yizhang82 commented on #4121
These Read* APIs are already deprecated and I don't think we should keep supporting them in CoreCLR.   I don't expect developers to use them and I've never seen people actually using the object overload version. Can we remove them from .NET Core?

[2016-04-07 04:49] jkotas commented on #4121
You can welcomed to remove them - it is nice to have cleanup.

There is quite a bit of clutter in CoreCLR mscorlib.dll that can be removed. I have done some of it recently (e.g. see #3852, #3863, #3900, #3930, ...). One can spend many months cleaning it up - there is a lot of it, and it is not easy to tease it apart.

It may be actually better to start with ProjectN System.Private.CoreLib.dlll - w

[2016-04-07 05:07] jkotas commented on #4138
cc @noahfalk

[2016-04-07 05:42] syalachigere commented on #4118
@swgillespie @sergiy-k

"System.GC.Server" setting did not work for us either. We are using `complus_gcserver`. Did the following steps to reproduce the issue with the latest .Net CLI.

- Downloaded the latest .Net CLI. `1.0.0-beta-002275`

- Used .Net CLI to build HelloWeb Project (TechEmpower PlainText)
https://github.com/aspnet/cli-samples/tree/master/HelloWeb

- Published but couldn't run the

[2016-04-07 07:09] erozenfeld commented on #3926
@leemgs I added `CHECKED` in 38e554e5dcb8f6de9c014c5e1839b564a64937f6.`RELWITHDEBINFO` and `MINSIZEREL` were there before and are standard CMake build types: https://cmake.org/cmake/help/v3.0/variable/CMAKE_BUILD_TYPE.html
I don't know if anyone is actually using them for coreclr.

[2016-04-07 07:30] leemgs commented on #3926
@erozenfeld , Thank you for very much. :+1:  The above statement that you commented, is very helpful to me that have to bring up .net core for Linux/ARM-based embedded devices. Until now, I think that the `debug mode` is to generate corclr binaries to help developers before deploying the coreclr based devices. On the other hands, I think that the `release mode` is to generate coreclr binary to sup

[2016-04-07 07:41] leemgs commented on #3926
FYI, the segmentation fault of the `hello world!!!` console application in release mode  results from the usage of __thread variable to get the unique value with a same function among lots of threads. (Note that most of the console applications in debug mode are normal. Now, I am going to dig the `__tls_index` operation in GOT table to know the relationship between `__thread` and `__tls_get_addr`

[2016-04-07 08:10] myungjoo commented on #4107
When this assertion happens with csc.exe,
inside the iteration of `StackWalkFramexEx()` with `while (iter.IsValid())`,
the callback of `UpdateObjectRefInResumeContextCallback` tracks `pSrcContext` already larger than the `uResumeSp`.

Therefore, unwinding `pSrcContext` to reach `uResumeSP` fails. (The first given `iter.m_crawl`, created by `iter.Init()`, inside `while (iter.IsValid())`, Line 960 o

[2016-04-07 09:33] ezephir commented on #4133
#816 covers the updates for the nuget section.

@ellismg Do you have any suggestions regarding getting started with the CoreFX tests on OS X? Is running plain "build.sh" still the right thing? The build bot seems to be doing something a bit more complicated than what's in the instructions.

[2016-04-07 09:37] janvorli commented on #4107
@myungjoo Just a blind shot - could that be related to the issue fixed for ARM64 here?:
https://github.com/dotnet/coreclr/pull/4099

[2016-04-07 09:55] janvorli commented on #4107
Also, looking at the code in ExceptionTracker::FindNonvolatileRegisterPointers that prepares the uResumeSP and pStartFrame, it is strange that the SP in pStartFrame is higher than the uResumeSP. The loop below finds the pStartFrame (the pHighestFrameWithRegisters) that's below the uResumeSP (which is the uOriginalSP here):
[code]
So it seems that the frame has recorded a wrong SP.
Can you please c

[2016-04-07 09:59] janvorli commented on #4107
Also, looking at the stack trace again, it looks like there was an exception while jitting the managed method. It would be interesting to set a breakpoint at __cxa_throw to see what it was.

[2016-04-07 10:21] myungjoo commented on #3785
In /CMakeList.txt:178, we not try to find OBJCOPY with gnueabihf. We need additional condition there for gnueabi as well. Maybe you need additional patch to submit.

[2016-04-07 10:48] Toxantron opened #4142 "BitConverter: Write bytes to exisiting array"
Hello,

are there any ambitions to provide an API to BitConverter that takes an exisiting `byte[]` and position to include the bytes of a primitive?

Right now I have an additional converter based on BitConverter that has methods like this:

[code]

I think it would be great to have those methods as well whenever we try to serialize values into an array without having to use `Array.Copy` all the t

[2016-04-07 10:48] seanshpark opened #4143 "why is there umount in cross/build-rootfs.sh?"
There's a line in `cross/build-rootfs.sh` that un-mounts the folder before and after preparing arm root-fs.
[code]
do anyone know the reason? is this (still) valid ?

[2016-04-07 10:59] mkborg commented on #4143
During rootfs preparation some scripts from .deb packages are executed. Some of them can mount some directory inside chroot.

[2016-04-07 11:05] seanshpark commented on #4143
thanks, I'll close this issue after a day or two.

[2016-04-07 11:46] mkborg commented on #3785
Probably all hard-coded references to 'objcopy' (such as 'arm-linux-gnueabihf-objcopy' and 'aarch64-linux-gnu-objcopy') shall be replaced with ${CMAKE_OBJCOPY} which is almost already defined in respective coreclr/cross/\<ARCH\>/toolchain.cmake files.

[2016-04-07 13:00] GSPP commented on #4108
Testing on 4.6.1 I find that this version of RyuJIT does not seem to be capable of tracking the precise receiver type in any way. So

    IInterface x = new Class();
    x.VCall();

results in an actual vcall. I tried all kinds of patterns with calls and casts and none were optimized if the local variable was not typed exactly right.

I'm sure the team is tracking this. What's the roadmap regardin

[2016-04-07 16:50] ryanbrandenburg commented on #4088
@tarekgh we'll pick get this fix the next time we pick up new CoreCLR packages now that it's merged, correct? If so I'll close this out.

[2016-04-07 16:58] #4115 closed

[2016-04-07 17:02] pgavlin commented on #4108
cc @cmckinsey

[2016-04-07 17:06] tarekgh commented on #4088
@ryanbrandenburg yes it is merged. I am currently adding the test for it. you can close this one if you like.

[2016-04-07 17:16] yizhang82 opened #4145 "Remove Marshal.Write/Read MarshalAsAny overload"
There isn't any value in supporting them in coreclr and I'm not aware of developers out there using those overloads. We should remove them from coreclr.

[2016-04-07 17:18] yizhang82 commented on #4121
Thanks, Jan. I've created #4145 to track the Marshal API removal. Unfortunately they are in the contract and we need to remove them first (they are already deprecated and not showing up by default in intelli-sense)

[2016-04-07 17:43] ryanbrandenburg commented on #4088
Thanks!

[2016-04-07 17:59] DamianEdwards commented on #4088
I notice this issue is in the RTM milestone. We want this for RC2, do we need to change anything here?

[2016-04-07 18:00] LLITCHEV opened #4147 "Add a test for issue 4115"

[2016-04-07 18:01] sejongoh commented on #3925
The scripts were updated.

[2016-04-07 18:01] #3925 closed

[2016-04-07 18:02] tarekgh commented on #4088
@joshfree could you help please answering @DamianEdwards question?

[2016-04-07 18:08] swgillespie commented on #4118
@sergiy-k @syalachigere I just tried again with the most recent .NET CLI build that I could find (`1.0.0-beta-002284`). My steps:

1) `dotnet.exe restore` on the `HelloWeb` folder of `aspnet/cli-samples`.
2) Added a line in Program.cs to print out whether or not server GC is enabled,
3) `dotnet.exe run --configuration Release` - the program outputs that Server GC is not on.
4) Add this to the proj

[2016-04-07 18:23] syalachigere commented on #4118
I got the latest build `1.0.0-beta-002275` last night. I am trying again with `1.0.0-beta-002284`.

I also want to mention here that we have seen the performance drop on our internal non-asp.net transaction-workload (a console app)

[2016-04-07 19:01] joshfree commented on #4088
@tarekgh @DamianEdwards you can bring it through Shiproom/war if you want to reset rc2 escrow.
/cc @leecow @Petermarcu

[2016-04-07 19:16] sergiy-k commented on #4118
Hi @syalachigere, you might want to delete your bin and obj folders after upgrading the version of dotnet/cli. That can be the reason for the "Could not load host policy library" error that you mentioned in your earlier message.

[2016-04-07 19:16] tarekgh commented on #4088
@DamianEdwards it this really needed for rc? can't wait for rtm? I am asking because I want to have the fix exercised before rushing it during the escrow mode.

[2016-04-07 19:18] yizhang82 commented on #3572
@tijoytom I'm taking a look.

[2016-04-07 19:19] DamianEdwards commented on #4088
And we'd similarly like customers to be able to use and verify the ASP.NET Core localization on Linux before we RTM. This is blocking that from happening. Additionally, it's a take back from our RC1 story as we used to make this work in DNX.

[2016-04-07 19:37] stephentoub commented on #4088
@DamianEdwards, given its importance, why was it only discovered two days ago?  Also, when you say we used to make this work, you mean that DNX had special code to enable this, or you mean that this functionality in CoreCLR used to work and has since regressed?

[2016-04-07 19:58] SunnyWar opened #4150 "Free object immediately rather then using GC when object is null or goes out of scope"
I wrote a simple program that allocated a large number of objects, put them in a container, uses them (never passed to another function), then sets them all to null. The container goes out of scope after the function exits.

Looking at perfmon I see the %Time in GC is very high. The working set grows quite larger. My conclusion is that all these objects are being garbage collected through the norm

[2016-04-07 20:16] syalachigere commented on #4118
We did the following.
1) Downloaded .Net CLI `1.0.0-beta-002286`

2) `dotnet.exe run -c release`  on the HelloWeb folder of aspnet/cli-samples.
   -    Saw performance drop (default settings).
   -    `set complus_gcserver=true` gave us low performance
   -    `set complus_gcserver=false` gave us better performance

3) We then added a line in Program.cs to print out whether or not server GC is ena

[2016-04-07 20:17] janvorli commented on #3007
Fixed by #4106

[2016-04-07 20:17] #3007 closed

[2016-04-07 20:41] omariom commented on #4108
@GSPP
This issue is specifically about case when the receiver is known because the `static readonly` field has already been initialized.

[2016-04-07 20:44] GSPP commented on #4108
I understand that. The receiver is also known in:

    IInterface x = new Class();
   x.VCall();

The JIT apparently does not have any devirtualization infrastructure at the moment as it seems. I'm kind of hoping that all of this work can be done in one swoop by propagating type information through the data flow. A read of a `static readonly` field would be a flow source as would be a `new T()`.

[2016-04-07 20:46] noahfalk commented on #4138
.Net Core doesn't support Serializable as far as I know, so the only options are to remove its usage or replace it with an alternative serialization mechanism. There is some more general info about porting and tooling to help identify issues here: https://github.com/Microsoft/dotnet-apiport

In this particular case its probably pretty easy. I'm guessing these are Serializable attributes on Excepti

[2016-04-07 20:50] briansull commented on #3968
The test requires write permission on the %CORE_ROOT% directory.
For me and most devs the %COOR_ROOT% directory will be a network share.
I can make the test pass by changing the permission on my share to grant "Everyone" write permission.
If your share has only read permission the test will fail.

[2016-04-07 20:53] briansull commented on #3968
I think that it should not try to move a native dll into %CORE_ROOT% as the test will still find the native dll in the test directory.  So moving it to %CORE_ROOT% is unnecessary.

[2016-04-07 20:56] JosephTremoulet commented on #4044
It seems the problem is a level deeper; the code that inserts phi sources, computes liveness, and likely other things, looks up the "try region" of the block it's on to determine if it needs to worry about there being multiple exit points from the block (to its handler).  An exception raised from a filter will get discarded and resume the search for a handler for the prior exception, so we need fl

[2016-04-07 20:57] kyulee1 commented on #3968
@briansull I think this is not arm64 specific issue. Like any other jobs, currently we are assuming %CORE_ROOT% is on local disk not in network map as you did.
So, fixing the test is a separte issue. I would recommend to close this issue, but create another one that fixes this test (which unnecessarily copy the binary) based on your description.
Can you also assign it to you or just leave it open?

[2016-04-07 20:58] swgillespie commented on #4150
Thanks for the report! The topic of escape analysis in the JIT has been brought up before: see https://github.com/dotnet/coreclr/issues/1784 for some discussion on that. That particular discussion relates to allocating classes on the stack, but in general the compiler would have to prove that the pointers you put into your container don't escape and that the container itself doesn't escape in orde

[2016-04-07 20:58] #4150 closed

[2016-04-07 21:17] pgavlin commented on #3058
After digging into the current interactions between the JIT and the EE w.r.t. exceptions, I agree that the solution @jkotas proposed is probably the best option. Ideally we either would not allow exceptions to flow over the JIT/EE interface, but the way that `ICorJitInfo::FilterException` and `ICorJitInfo::HandleException` are used today seems to imply that this would not be straightforward. Addin

[2016-04-07 21:30] DamianEdwards commented on #4088
@stephentoub yes, it worked in DNX because we had code. It was only found recently because we've only recently got bits up and running again in CI to test this stuff (I still don't have a consumer-level build I can use to start verification).

[2016-04-07 21:48] briansull commented on #3968
OK

[2016-04-07 21:48] #3968 closed

[2016-04-07 21:50] sergiy-k commented on #4118
@syalachigere, I just noticed that you are setting complus_gcserver to true/false. This will have no effect; the correct (supported) values are 1 and 0.

[2016-04-07 21:52] sergiy-k commented on #4118
I also wonder if there is some instability in the benchmark's results because you are running it for 5sec only. Do you get the same numbers if you run the benchmarks let's say for 30sec?

[2016-04-07 21:52] swgillespie commented on #4118
@syalachigere There should be no difference between `complus_gcserver` and "System.GC.Server" today, other than what Sergiy mentioned above. The code today first checks whether "System.GC.Server" is set and, if it's not, falls back to whatever the value of `complus_gcserver` is, and if that's not set, falls back to 0 (server GC disabled)

[2016-04-07 21:54] adityamandaleeka commented on #4118
@syalachigere

They will do the same thing. JSON configuration is new for .NET CLI, but the COMPlus_ version still works and will override the JSON version if both are set.

[2016-04-07 22:21] chunseoklee commented on #4138
@noahfalk For curiosity, clrdbg mentioned in MIEngine repo is the port of mdbg or something else? Thank you for your help.

[2016-04-07 22:21] swgillespie commented on #4118
@syalachigere - @sergiy-k just discovered the reason why you observed a regression in performance with `complus_gcserver=true` over `complus_gcserver=false`. `complus_gcserver` is expected to be a DWORD and, when it is being retrieved from the environment, is parsed as a hexidecimal number here: https://github.com/dotnet/coreclr/blob/master/src/utilcode/regutil.cpp#L239. The call to `uniwcst` is a

[2016-04-07 23:04] noahfalk commented on #4138
clrdbg is something else - specifically its a port of Visual Studio's managed debugger. Compared to MDbg the VS one has many additional features and is correspondingly larger and more complex.

[2016-04-07 23:25] BruceForstall opened #4156 "JIT asserts don't display message box"
On Windows desktop CLR, when you hit a JIT assert, you get a pop-up message box. When you hit "Retry" on this, and you are running under a debugger, the debugger stops at the assert.

On Windows CoreCLR, this is not working.

This is because the CLR fails in LateboundMessageBoxW():

[code]

namely, it fails to load this library.

The call stack is:

[code]

The function then returns zero, which pr

[2016-04-07 23:27] BruceForstall commented on #4156
@jkotas @janvorli Maybe one of you know about this, in particular about this code:

[code]

[2016-04-07 23:31] pgavlin commented on #3058
FWIW, the original repro only works on Windows because C++ EH is implemented using SEH and the JIT's `__EEfilter` accepts (almost) all SEH exceptions, which are then passed to the EE for handling. If C++ EH did not interoperate with SEH on Windows, this test would fail there as well.

In light of this, should we consider deriving all of our C++ exception types from PAL_SEHException on *nix? There

[2016-04-07 23:43] tarekgh commented on #4088
https://github.com/dotnet/coreclr/pull/4154

[2016-04-08 00:11] janvorli commented on #3058
@pgavlin I think it would not work - we have places where we explicitly catch only exceptions that are not the PAL_SEHException. That's why we have two different sets of macros, PAL_CPP_TRY / PAL_CPP_CATCH_EXCEPTION / ... that catch exceptions derived from the Exception object and then PAL_TRY / PAL_EXCEPT / ... that are intended to catch only the exceptions raised by RaiseException. Obviously the

[2016-04-08 00:24] tarekgh commented on #4088
This the fix is merged to the rc release branch.

[2016-04-08 00:24] #4088 closed

[2016-04-08 00:30] pgavlin commented on #3058
Interesting--can you give me an example?

Whether or not it's a side effect, the inability of a `PAL_EXCEPT_FILTER` to process a C++ exception is a behavioral change w.r.t. the Windows CLR. It might not be a problem in practice, but we should probably audit the various filters/dispositions/etc to be sure.

[2016-04-08 00:31] tijoytom commented on #3593
@yizhang82 Someone had this test marked as failing in 'testfailingoutsidewindows.txt'  and that's why i create the bug.Guess you already removed it from exclusion list.

[2016-04-08 00:32] janvorli commented on #4156
I have tried to load that library just using a simple C++ app on Windows and it has also failed. But it seems that we have the name wrong. If I try to load ext-ms-win-ntuser-gui-l1**-1-0**, then it works.
But I am not an expert on the contract dlls, so I don't know if adding the -1-0 is future proof.
@jkotas any idea on this?

[2016-04-08 00:34] tijoytom commented on #3593
@yizhang82 I just tried it on Ubuntu 14.04 and it's fine there too..

[2016-04-08 00:35] #3593 closed

[2016-04-08 00:35] yizhang82 commented on #3593
yep. I've removed it from the exclusion txt and it's working.

[2016-04-08 01:33] janvorli commented on #3058
Hmm, although we have places where we catch only exceptions derived from the Exception class, using the EX_CATCH_CPP_ONLY or PAL_CPP_CATCH_DERIVED, that would actually work even if we derived our C++ exceptions from the PAL_SEHException.
But that would also mean that the C++ exceptions would now additionally contain the CONTEXT and EXCEPTION_RECORD and those would need to be populated at the throw

[2016-04-08 02:12] pgavlin commented on #3058
Just to be clear, I'm on the same page here.

[2016-04-08 04:31] chunseoklee commented on #4138
Thank you for help.

[2016-04-08 04:31] #4138 closed

[2016-04-08 04:32] yizhang82 commented on #4145
This is fixed with recent PR - we now throw PlatformNotSupportedException in CoreCLR.

[2016-04-08 04:32] #4145 closed

[2016-04-08 06:45] myungjoo commented on #4107
The two last breaks with __cxa_throw have the following stack trace. The issue with ARM64 seems orthogonal with this although enforcing LR pointer to have value of corresponding variable didn't make any visible adverse effect.

[code]

[2016-04-08 06:55] leemgs commented on #3926
Sharing:
In release mode, the dynamic thread vector data structure  was misaligned compared to the debug mode. In general, a TLS variable is a simple operation which can be performed by generated compiler code. It's very meaningful hint to us in order to resolve the segmentation fault of hello world console application in the release mode. I need to understand the operation of the DTV to find this

[2016-04-08 07:52] myungjoo commented on #3182
This might be related with https://llvm.org/bugs/show_bug.cgi?id=23566
We will need to test with Clang 3.8 (making that the minimum clang version for CoreCLR-ARM 3.8) or have the patch dc73dc09f135cb1d36fd18f1918395ddf68cec63 of llvm.org applied to Clang 3.5/3.6.

[2016-04-08 08:36] janvorli commented on #4107
As for the actual exception, the assembly that it fails to load should not be attempted to get loaded on Unix, it is windows only. So it seems that some of the platforms assemblies that you are using are Windows instead of Unix versions.

Can you please dump m_pszDebugMethodName, m_pszDebugClassName and m_pszDebugMethodSignature at frame 6 of the first breakpoint above? That should tell us where i

[2016-04-08 12:34] kennycoc opened #4166 "Can not compile -- daccess.cpp"
When running build clean, it runs up until it gets to daccess.cpp, and it crashes saying "The system cannot find the path specified."
[CoreCLR_Windows_NT__x64__Debug_err.txt](https://github.com/dotnet/coreclr/files/210134/CoreCLR_Windows_NT__x64__Debug_err.txt)
[CoreCLR_Windows_NT__x64__Debug_log.txt](https://github.com/dotnet/coreclr/files/210135/CoreCLR_Windows_NT__x64__Debug_log.txt)

[2016-04-08 12:35] kennycoc commented on #4166
I have the latest version of visual studio installed (2015 update 2), along with the latest version of CMake, and Python 2.7.11

[2016-04-08 12:38] hughbe commented on #4142
I can see the use case for this - but should this API-addition issue be migrated to corefx where most additions are discussed?

[2016-04-08 12:59] Toxantron commented on #4142
Well, you tell me. ;) I thought since the class is located here and
description talks about low level classes this would be the perfect place.

[2016-04-08 13:03] hughbe commented on #4142
I suggest moving this to corefx. Here are my reasons
- more (Microsoft) people checkout the corefx issue list so you're more likely to get feedback
- the code for BitConverter.cs is also in corefx. I recall that for API additions for an object in corefx AND coreclr, corefx takes priority
- there are existing issues in corefx proposing API additions

[2016-04-08 13:06] Lukazoid opened #4167 "Linked CancellationTokenSource Race Condition"
There appears to be a race condition with `CancellationTokenSource` when using `CreateLinkedTokenSource` and disposing of the linked `CancellationTokenSource` while `Cancel()` is called for the original `CancellationToken`.

I noticed this issue because we are having to wrap a lot of `CancellationTokens` in linked cancellation token sources to eliminate the memory leak which has subsequently been

[2016-04-08 13:10] Toxantron commented on #4142
Ok. Should I close this one and open a new one?

[2016-04-08 13:16] hughbe commented on #4142
Yeah why not - leave a comment here saying you've migrated it for the record :)

[2016-04-08 13:28] stephentoub commented on #4167
I'll take a look today.

[2016-04-08 14:16] jkotas commented on #4121
#4161 took care of mscoree.dll. The advapi32.dll issue is tracked as #1151.

[2016-04-08 14:16] #4121 closed

[2016-04-08 15:04] jkotas commented on #4156
We should delete the apiset code and always load user32, even for CoreCLR. user32 is available on all OS SKUs where it makes sense to display message box.

[2016-04-08 15:16] jkotas commented on #3058
That would create undesirable coupling between CoreCLR Unix PAL and JIT. @pgavlin I see that you have created a set of workitems for standalone JIT build. It may be worth it to have one for PAL (stop linking with CoreCLR Unix PAL).

Also, with this fixed - you can consider compiling the standalone JIT without `/EHa` on Windows to get the right portable behavior that does not mix SEH and hardware e

[2016-04-08 16:09] Toxantron commented on #4142
Moved to corefx.

[2016-04-08 16:09] #4142 closed

[2016-04-08 16:15] adiaaida opened #4168 "RyuJIT x86: NYI: "Call with TYP_LONG return value""
This NYI:

NYI: "Call with TYP_LONG return value"
File: coreclr\src\jit\lower.cpp Line: 368

Is hit in these tests:
JIT\Regression\CLR-x86-JIT\v2.1\b72218\b72218\b72218.cmd
JIT\Methodical\unsafecsharp\_dbgunsafe-1\_dbgunsafe-1.cmd
JIT\Regression\JitBlue\DevDiv_816617\DevDiv_816617_r\DevDiv_816617_r.cmd
JIT\Regression\clr-x64-JIT\v4.0\b602182\b602182\b602182.cmd
JIT\Regression\CLR-x86-JIT\V1-M12-Be

[2016-04-08 16:19] adiaaida opened #4169 "RyuJIT x86: NYI: "Casts from TYP_LONG""
This NYI:

NYI: "Casts from TYP_LONG"
File coreclr\src\jit\codegenxarch.cpp Line:1859

Is hit by these tests:
JIT\Directed\perffix\primitivevt\callconv2_cs_do\callconv2_cs_do.cmd
JIT\Regression\CLR-x86-JIT\V1.2-M01\b14617\b14617\b14617.cmd
JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b50033\b50033\b50033.cmd
JIT\Regression\CLR-x86-JIT\V1-M11-Beta1\b41621\b41621\b41621.cmd
JIT\Regression\Dev11\dev11_104

[2016-04-08 16:24] adiaaida opened #4170 "RyuJIT x86: NYI: "GT_IND of TYP_LONG""
This assert:

NYI: "GT_IND of TYP_LONG"
File: coreclr\src\jit\lower.cpp Line:382

Is hit in these tests:
JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b49335\b49335\b49335.cmd
JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b63730\b63730\b63730.cmd
JIT\Directed\coverage\oldtests\stfldstatic2_il_r\stfldstatic2_il_r.cmd
JIT\Directed\coverage\oldtests\ldfldstatic_il_d\ldfldstatic_il_d.cmd
JIT\Methodical\Invoke\cto

[2016-04-08 16:27] adiaaida opened #4171 "RyuJIT x86: NYI: "GT_NEG of TYP_LONG""
This assert:

NYI: "GT_NEG of TYP_LONG"
File: coreclr\src\jit\lower Line: 403

Is hit in these tests:
JIT\jit64\mcc\interop\mcc_i00\mcc_i00.cmd
JIT\IL_Conformance\Old\Conformance_Base\neg_i8\neg_i8.cmd
JIT\Regression\CLR-x86-JIT\V1-M13-RTM\b94306\b94306\b94306.cmd
JIT\Regression\CLR-x86-JIT\V1-M11-Beta1\b48554\b48554b\b48554b.cmd
JIT\Regression\CLR-x86-JIT\V1-M11-Beta1\b44879\b44879\b44879.cmd
JIT

[2016-04-08 16:30] adiaaida opened #4172 "RyuJIT x86: NYI: "Model kill set for CORINFO_HELP_ASSIGN_BYREF on target arch""
This assert:

NYI: "Model kill set for CORINFO_HELP_ASSIGN_BYREF on target arch"
File: coreclr\src\jit\codegencommon.cpp Line: 766

Is hit by these tests:
JIT\Methodical\MDArray\InnerProd\structarr_cs_d\structarr_cs_d.cmd
JIT\Regression\VS-ia64-JIT\V1.2-Beta1\b102860\b102860\b102860.cmd
JIT\Methodical\explicit\rotate\_il_relrotarg_valref\_il_relrotarg_valref.cmd
JIT\Methodical\explicit\misc\_il_re

[2016-04-08 16:32] adiaaida opened #4173 "RyuJIT x86: NYI: "StoreInd of of TYP_LONG""
This assert:

NYI: "StoreInd of of TYP_LONG"
File: coreclr\jit\src\lower.cpp Line: 375

Is hit by these tests:
JIT\Methodical\int64\signed\_il_rels_ldc_mul\_il_rels_ldc_mul.cmd
JIT\Directed\coverage\oldtests\lclfldsub_cs_do\lclfldsub_cs_do.cmd
JIT\Methodical\explicit\misc\_relexplicit6\_relexplicit6.cmd
JIT\Methodical\fp\exgen\200w1d-02_cs_r\200w1d-02_cs_r.cmd
JIT\Directed\shift\uint64_ro\uint64_r

[2016-04-08 16:36] adiaaida opened #4174 "RyuJIT x86: NYI: "TYP_LONG cast with overflow""
This NYI:

NYI: "TYP_LONG cast with overflow"
File: coreclr\src\jit\lower.cpp Line:341

Is hit by these tests:
JIT\IL_Conformance\Old\Conformance_Base\conv_ovf_i8_u8\conv_ovf_i8_u8.cmd
JIT\Regression\CLR-x86-JIT\V1-M09.5-PDC\b13509\b13509\b13509.cmd
JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b49435\b49435\b49435.cmd
JIT\IL_Conformance\Old\Conformance_Base\conv_ovf_u8_i8\conv_ovf_u8_i8.cmd
JIT\Regress

[2016-04-08 16:36] adiaaida opened #4175 "RyuJIT x86: NYI: "Unimplemented type for Lowering of cast to TYP_LONG""
This NYI:

NYI: "Unimplemented type for Lowering of cast to TYP_LONG"
File: coreclr\src\jit\lower.cpp Line: 350

Is hit by these tests:

JIT\Methodical\xxobj\sizeof\_dbgsizeof64\_dbgsizeof64.cmd
JIT\Methodical\xxobj\sizeof\_relsizeof64\_relsizeof64.cmd
JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b71120\b71120\b71120.cmd
JIT\Methodical\flowgraph\dev10_bug679008\dependentlifetimes\dependentlifetimes.cmd

[2016-04-08 16:41] adiaaida opened #4176 "RyuJIT x86: NYI: "st.lclFld of of TYP_LONG"
This NYI:

NYI: "st.lclFld of of TYP_LONG
File: coreclr\src\jit\lower Line: 379

Is hit by these tests:

JIT\Methodical\unsafecsharp\_speed_relunsafe-0\_speed_relunsafe-0.cmd
JIT\Methodical\divrem\rem\decimalrem_cs_ro\decimalrem_cs_ro.cmd
JIT\Methodical\divrem\div\overlddiv_cs_d\overlddiv_cs_d.cmd
JIT\Methodical\unsafecsharp\_speed_dbgunsafe-0\_speed_dbgunsafe-0.cmd
JIT\SIMD\VectorArrayInit_ro\Vec

[2016-04-08 16:43] pgavlin commented on #3058
The worry that I'm addressing with this suggestion isn't really JIT-related; the JIT just happens to be one manifestation of the problem. Even once we loosen the coupling between the JIT and the EE w.r.t. EH, the runtime may still contain instances of the issue. Imagine e.g. that the following code existed in the runtime:

[code]

On Windows, that code would print "in handler"; on Linux, it would

[2016-04-08 16:44] adiaaida opened #4177 "RyuJIT x86: NYI: "unknown target""
This NYI:

NYI: "unknown target"
File: coreclr\src\jit\lclvars.cpp Line: 2815

Is hit by these tests:
JIT\Methodical\Invoke\SEH\_il_relcatchfinally_jmp\_il_relcatchfinally_jmp.cmd
JIT\Methodical\Invoke\SEH\_il_relcatchfault_jmp\_il_relcatchfault_jmp.cmd
JIT\Methodical\Invoke\SEH\_il_dbgcatchfinally_jmp\_il_dbgcatchfinally_jmp.cmd
JIT\Methodical\Invoke\SEH\_il_dbgcatchfault_jmp\_il_dbgcatchfault_jm

[2016-04-08 16:47] adiaaida opened #4178 "RyuJIT x86: NYI_X86: "EH for RyuJIT x86""
This NYI:

NYI_X86: "EH for RyuJIT x86"
File: coreclr\src\jit\codegenxarch.cpp Line: 995
and
File: coreclr\src\jit\codegenxarch.cpp Line: 1012

Is hit by these tests:
JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b84971\b84971\b84971.cmd
JIT\Directed\FaultHandlers\Simple\Simple\Simple.cmd
JIT\Methodical\eh\basics\tryfault_d\tryfault_d.cmd
JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b55216\b55216\b55216.cmd

[2016-04-08 16:50] adiaaida opened #4179 "RyuJIT x86: NYI_X86: "GT_OBJ""
This NYI:

NYI_X86: "GT_OBJ"
File: coreclr\src\jit\lowerxarch.cpp Line: 1204

Is hit by these tests:
JIT\jit64\valuetypes\nullable\castclass\null\castclass-null038\castclass-null038.cmd
JIT\jit64\hfa\main\testE\hfa_sf0E_r\hfa_sf0E_r.cmd
JIT\Methodical\eh\cs\unsafe_r\unsafe_r.cmd
JIT\Methodical\refany\_dbgnative\_dbgnative.cmd
JIT\jit64\mcc\interop\mcc_i86\mcc_i86.cmd
JIT\Methodical\refany\_il_dbgs

[2016-04-08 16:52] joshfree commented on #4088
please be sure to verify the fix in this morning's release build.

[2016-04-08 16:52] adiaaida opened #4180 "RyuJIT x86: NYI_X86: "Implement GT_END_LFIN for x86""
This NYI:

NYI_X86: "Implement GT_END_LFIN for x86"
File: coreclr\src\jit\lowerxarch.cpp Line: 157

Is hit by these tests:
JIT\Methodical\eh\finallyexec\tryCatchFinallyThrow_nonlocalexit1_do\tryCatchFinallyThrow_nonlocalexit1_do.cmd
JIT\Methodical\ELEMENT_TYPE_IU\_il_reli_seq\_il_reli_seq.cmd
JIT\Generics\ConstrainedCall\class2_cs_r\class2_cs_r.cmd
JIT\Methodical\Boxing\functional\_orelfibo_cs\_or

[2016-04-08 16:54] adiaaida opened #4181 "RyuJIT x86: NYI_X86: "Implement PInvoke frame init inlining for x86""
This NYI:

NYI_X86: "Implement PInvoke frame init inlining for x86"
File: coreclr\src\jit\lower.cpp Line: 2521

Is hit by these tests:

JIT\jit64\hfa\main\testC\hfa_nf2C_d\hfa_nf2C_d.cmd
JIT\jit64\hfa\main\testG\hfa_nf2G_d\hfa_nf2G_d.cmd
JIT\jit64\hfa\main\testE\hfa_nd2E_r\hfa_nd2E_r.cmd
JIT\jit64\regress\vsw\286991\test\test.cmd
JIT\jit64\hfa\main\testA\hfa_nf2A_d\hfa_nf2A_d.cmd
JIT\jit64\hfa\mai

[2016-04-08 16:56] adiaaida opened #4182 "RyuJIT x86: NYI_X86: "Localloc""
This NYI:

NYI_X86: "Localloc"
File: coreclr\src\jit\codegenxarch.cpp Line: 2909

Is hit by these tests:

JIT\Regression\VS-ia64-JIT\V1.2-M01\b10852\b10852\b10852.cmd
JIT\Methodical\fp\exgen\200w1d-01_cs_do\200w1d-01_cs_do.cmd
JIT\jit64\localloc\call\call04_large\call04_large.cmd
JIT\jit64\localloc\call\call04_small\call04_small.cmd
JIT\Methodical\fp\exgen\200w1d-01_cs_ro\200w1d-01_cs_ro.cmd
JIT\D

[2016-04-08 16:57] adiaaida opened #4183 "RyuJIT x86: NYI_X86: "MKREFANY""
This NYI:

NYI_X86: "MKREFANY"
File: coreclr\src\jit\morph.cpp Line: 3808

Is hit by these tests:

JIT\Methodical\explicit\coverage\seq_double_1_r\seq_double_1_r.cmd
JIT\Methodical\explicit\coverage\expl_gc_short_1_d\expl_gc_short_1_d.cmd
JIT\Methodical\xxobj\operand\_speed_relrefanyval\_speed_relrefanyval.cmd
JIT\Methodical\refany\_dbgstress1\_dbgstress1.cmd
JIT\Methodical\explicit\coverage\seq_g

[2016-04-08 16:59] adiaaida opened #4184 "RyuJIT x86: NYI_X86: "Math intrinsics Cos, Sin and Round""
This NYI:

NYI_X86: "Math intrinsics Cos, Sin and Round"
File: coreclr\src\jit\lowerxarch.cpp Line: 658

Is hit by these tests:
JIT\Methodical\Boxing\functional\_orelsin_cs\_orelsin_cs.cmd
JIT\Methodical\Boxing\xlang\_odbgsin_cs_cs\_odbgsin_cs_cs.cmd
JIT\opt\Inline\tests\mathfunc\mathfunc.cmd
JIT\CodeGenBringUpTests\FPMath\FPMath.cmd
JIT\Performance\CodeQuality\BenchF\FFT\FFT\FFT.cmd
JIT\Methodica

[2016-04-08 17:00] adiaaida opened #4185 "RyuJIT x86: NYI_X86: "Tail call morphing""
This NYI:

NYI_X86: "Tail call morphing"
File: coreclr\src\jit\morph.cpp Line: 5892

Is hit by these tests:

JIT\Directed\IL\Tailcall\JitTailcall2\JitTailcall2.cmd
JIT\Methodical\VT\callconv\_il_dbgjumps4\_il_dbgjumps4.cmd
JIT\Methodical\tailcall\_il_dbgtest_mutual_rec\_il_dbgtest_mutual_rec.cmd
JIT\Methodical\tailcall\_il_reldeep_virt\_il_reldeep_virt.cmd
JIT\Methodical\tailcall\_il_dbgtest_2b\_i

[2016-04-08 17:02] adiaaida opened #4186 "RyuJIT x86: NYI_X86: "Virtual Stub dispatched call lowering via dictionary lookup""
This NYI:

NYI_X86: "Virtual Stub dispatched call lowering via dictionary lookup"
File: coreclr\src\jit\lower.cpp Line: 3138

Is hit by these tests:
JIT\Generics\Conversions\Reference\nongentogen03\nongentogen03.cmd
JIT\Generics\Conversions\Reference\nongentogen02\nongentogen02.cmd
JIT\Regression\Dev11\External\dev11_149090\GCHole1\GCHole1.cmd
JIT\Generics\Conversions\Reference\gentogen02\gentogen

[2016-04-08 17:02] tarekgh commented on #4088
I have verified the fix is in the release shares:

[code]

[2016-04-08 17:13] adiaaida opened #4188 "RyuJIT x86: NYI: "Arithmetic binary operators on TYP_LONG - GT_MUL""
This NYI:

NYI: "Arithmetic binary operators on TYP_LONG - GT_MUL"
File: coreclr\src\jit\lower.cpp Line: 480

Is hit by these tests:
JIT\Methodical\xxobj\sizeof\_speed_dbgsizeof64\_speed_dbgsizeof64.cmd
JIT\SIMD\VectorDot_ro\VectorDot_ro.cmd
JIT\Regression\CLR-x86-JIT\V1-M13-RTM\b92614\b92614\b92614.cmd
JIT\Methodical\xxobj\sizeof\_speed_relsizeof64\_speed_relsizeof64.cmd

[2016-04-08 17:14] adiaaida opened #4189 "RyuJIT x86: NYI: "Arithmetic binary operators on TYP_LONG - GT_SUB""
This NYI:

NYI: "Arithmetic binary operators on TYP_LONG - GT_SUB"
File: coreclr\src\jit\lower.cpp Line: 480

Is hit by these tests:
JIT\Regression\CLR-x86-JIT\V1-M10\b05784\b05784\b05784.cmd
JIT\IL_Conformance\Old\Conformance_Base\sub_ovf_i8\sub_ovf_i8.cmd
JIT\Regression\CLR-x86-JIT\V1-M10\b07411\b07411\b07411.cmd
JIT\IL_Conformance\Old\Base\sub_ovf\sub_ovf.cmd
JIT\Regression\CLR-x86-JIT\V1-M13-R

[2016-04-08 17:15] adiaaida opened #4190 "RyuJIT x86: NYI: "Arithmetic binary operators on TYP_LONG - GT_UMOD""
This NYI:

NYI: "Arithmetic binary operators on TYP_LONG - GT_UMOD"
File: coreclr\src\jit\lower.cpp Line:480

Is hit by this test:
JIT\Regression\Dev11\External\dev11_239804\ShowLocallocAlignment\ShowLocallocAlignment.cmd

[2016-04-08 17:16] adiaaida opened #4191 "RyuJIT x86: NYI: "Arithmetic binary operators on TYP_LONG - SHIFT""
This NYI:

NYI: "Arithmetic binary operators on TYP_LONG - SHIFT"
File: coreclr\src\jit\lower.cpp Line: 480

Is hit by these tests:
JIT\IL_Conformance\Old\Conformance_Base\shr_i8\shr_i8.cmd
JIT\IL_Conformance\Old\Conformance_Base\shl_u8\shl_u8.cmd

[2016-04-08 17:16] omariom commented on #4108
One of the cases where it would help to increase perf is tuples.
[This one  is from `tuples`](https://github.com/dotnet/roslyn/blob/54b0912b7cb3f5b68dd6d562a1930af53b6d41d0/docs/features/ValueTuples.cs#L144) branch of Roslyn.

[2016-04-08 17:35] omariom commented on #1157
[Look at this] (https://github.com/dotnet/roslyn/blob/54b0912b7cb3f5b68dd6d562a1930af53b6d41d0/docs/features/ValueTuples.cs#L144).  It is `ValueTuple` struct from `tuples` branch of Roslyn.
If `EqualityComparer.Default` were a simple property wrapping a field `ValueTuple` wouldn't need to declare a separate static field.
Furthermore, if  [static dispatch for static readonly fields](https://github.

[2016-04-08 17:43] #3572 closed

[2016-04-08 18:21] tijoytom opened #4192 "GetObjectForNativeVariant throw InvalidCast ' Unable to case int to Intptr' ."
GetObjectForNativeVariant throw InvalidCast ' Unable to case int to Intptr'  on windows

Variant v = new Variant();
IntPtr pObj = Marshal.GetIUnknownForObject(new object());
IntPtr pNative = Marshal.AllocHGlobal(Marshal.SizeOf(v));
Marshal.GetNativeVariantForObject<IntPtr>(pObj, pNative);
IntPtr pActualObj = Marshal.GetObjectForNativeVariant<IntPtr>(pNative);

[2016-04-08 18:55] tijoytom opened #4193 "Fix simplestruct test for non-windows platform."

[2016-04-08 18:56] tijoytom opened #4194 "ArrayMarshalling\ByValArray fails on non-windows platform"

[2016-04-08 18:57] tijoytom opened #4195 "MarshalStructAsLayoutExp test fails non-windows platform"

[2016-04-08 18:58] tijoytom opened #4196 "MarshalStructAsLayoutSeq fails on non-windows platform."

[2016-04-08 19:00] tijoytom opened #4197 "LPTSTRTest test fails on non-windows platform"

[2016-04-08 19:20] ezephir opened #4200 "Update NuGet section of build instructions"
Right now, the NuGet section of the build instructions doesn't work because NuGet and package versions are both too old. I'd like to update this section because it is blocking validation of the instructions on OS X (#4133).

I'd like to do the following:

* Change the package source to `https://dotnet.myget.org/F/dotnet-core/api/v3/index.json`
* Replace the current package versions with the follow

[2016-04-08 19:25] ezephir commented on #4200
Also #816 and #480 seem to also talk about wanting this section updated.

[2016-04-08 20:33] jeffschwMSFT opened #4201 "OSX: System.ComponentModel.Win32Exception: Undefined error: 0, when launching process (repeatedly)"
I observed a process hang while redirecting stdout for processes launched via System.Diagnotics.Process.  In an attempt to repro that issue, I ran into a different issue.  The attached code launches "find . -name "*" -print" 10,000 times.  Deterministically after the 216's launch it fails with the following:
Unhandled Exception: System.ComponentModel.Win32Exception: Undefined error: 0
   at System

[2016-04-08 20:39] BruceForstall opened #4204 "ARM softFP in the JIT"
# Problem

Have JIT generate ARM32 code without using floating-point registers, aka softFP. Floating-point operations will happen via helper calls. The resulting code can run on platforms without floating-point hardware.
# Questions
1. Is this feature actually needed?
2. Who is going to use this feature, if implemented?
3. Who is planning to work on this feature?
4. Would the JIT be built in a spe

[2016-04-08 20:42] BruceForstall commented on #4204
@manu-silicon @leemgs @myungjoo @lemmaa @papaslavik: I created this issue to start a conversation about the possible next level of ARM32 softFP support, related to #3785. Comments?

[2016-04-08 20:43] BruceForstall commented on #4204
/cc @dotnet/jit-contrib

[2016-04-08 22:17] BruceForstall opened #4208 "build warnings: "RC4005: 'VER_FILEDESCRIPTION_STR' : redefinition""
There are now lots of the following warnings in the build (this is just a sample). There should be no build warnings.

    12>D:\gh\coreclr\bin\obj\_version.h(2): warning RC4005: 'VER_FILEDESCRIPTION_STR' : redefinition [D:\gh\coreclr\bin\obj\Windows_NT.x64.Debug\src\dlls\mscoree\coreclr\coreclr.vcxproj]
    12>D:\gh\coreclr\bin\obj\_version.h(3): warning RC4005: 'VER_INTERNALNAME_STR' : redefinit

[2016-04-08 22:18] BruceForstall commented on #4208
@joperezr is this yours?

[2016-04-08 22:19] BruceForstall commented on #4208
This was from a default x64 debug build, but I believe all build types show these warnings.

[2016-04-08 22:22] joperezr commented on #4208
yes this is mine. I'll fix this. Sorry for the trouble

[2016-04-08 22:23] BruceForstall opened #4209 "test build warnings: tests\src\interop\bestfitmapping\bestfitmappingnative.cpp"
A default x64 debug build yields the following warnings in tests\src\interop\bestfitmapping\bestfitmappingnative.cpp.

There should be no build warnings.

[code]

[2016-04-08 22:28] BruceForstall opened #4210 "test build warnings: tests\src\interop\common\xplatform.h"
Many of the interop tests apparently use this common file, and generate the following build warnings.

There should be no build warnings.

[code]

[2016-04-08 22:31] briansull opened #4211 "ARM64: Passing of odd size multireg structs in the outgoing argument area"
Struct of sizes [11,13,14,15] bytes passed in the outgoing arg area (stack based arguments)
are currently not implemented and will hit this:
  6674   +  // Need to handle additional loadSize cases here.
  6675   +                            noway_assert(loadSize == 4);

[2016-04-08 22:31] BruceForstall opened #4212 "test build warnings: src\Interop\StringMarshalling\LPTSTR\LPTSTRTestNative.vcxproj"
There should be no build warnings

[code]

[2016-04-08 22:32] BruceForstall opened #4213 "test build warnings: src\Interop\ArrayMarshalling\ByValArray\MarshalArrayByValNative.vcxproj"
There should be no build warnings.

[code]

[2016-04-08 22:33] BruceForstall opened #4214 "test build warnings: src\Interop\StringMarshalling\LPSTR\LPSTRTestNative.vcxproj"
There should be no build warnings.

[code]

[2016-04-08 22:33] BruceForstall opened #4215 "test build warnings: src\Interop\StructMarshalling\PInvoke\MarshalStructAsParam.vcxproj"
There should be no build warnings.

[code]

[2016-04-08 22:34] BruceForstall opened #4216 "test build warnings: src\Interop\RefCharArray\RefCharArrayNative.vcxproj"
There should be no build warnings.

[code]

[2016-04-08 22:35] BruceForstall opened #4217 "test build warnings: src\Interop\SimpleStruct\SimpleStructNative.vcxproj"
There should be no build warnings.

[code]

[2016-04-08 22:35] BruceForstall opened #4219 "test build warnings: baseservices\exceptions\regressions\Dev11\147911\fpcw.vcxproj"
There should be no build warnings.

[code]

[2016-04-08 22:37] swaroop-sridhar opened #4220 "GCStress: GcStressOnDirectCalls by default"
While running GCStress=0xC, we currently don’t insert traps for GC after the unconditional direct calls. This is true for GCStress on all architectures – we don’t collect at these safepoints unless we set COMPlus_GcStressOnDirectCalls=1.

D:\coreclr\src\vm\gccover.cpp:737
[code]

From the comments, it looks like there are a few special cases where triggering the GC was problematic. So, I think we

[2016-04-08 22:41] swaroop-sridhar opened #4222 "GCStress: Have a mode for compulsory relocation"
While running GCStress, we invoke the collector at various stress-points. However, not all objects will move in these GCs, only those the collector deems fit for relocation will move.

It is very useful to have a super-gcstress mode where all live objects will be relocated in every collection. This will not only expose more bugs, but also make gc-stress failures deterministic.

[2016-04-08 22:41] swaroop-sridhar commented on #4222
CC @LLITCHEV

[2016-04-08 22:45] joshfree commented on #4132
@ramarag @brianrob can we harden coreclr for this scenario as @ericeil suggests; that way .net core can run on `bash on windows` without requiring changes from the windows guys?

[2016-04-08 22:46] briansull commented on #3817
Fixed with PR #4199

[2016-04-08 22:46] briansull commented on #3524
Fixed with PR #4199

[2016-04-08 22:47] BruceForstall opened #4223 "test build warnings: Interop\MarshalAPI\FunctionPointer\FunctionPtrTest.csproj"
[code]

[2016-04-08 22:48] BruceForstall opened #4224 "test build warnings: Interop\MarshalAPI\GetNativeVariantForObject\GetNativeVariantForObject.csproj"
[code]

[2016-04-08 22:49] BruceForstall opened #4225 "test build warnings: Interop\MarshalAPI\GetObjectForNativeVariant\GetObjectForNativeVariant.csproj"
[code]

[2016-04-08 22:49] BruceForstall opened #4226 "test build warnings: Interop\MarshalAPI\GetObjectsForNativeVariants\GetObjectsForNativeVariants.csproj"
[code]

[2016-04-08 22:50] BruceForstall opened #4227 "test build warnings: Interop\MarshalAPI\IUnknown\IUnknownTest.csproj"
[code]

[2016-04-08 22:51] BruceForstall opened #4228 "test build warnings: Interop\MarshalAPI\Miscellaneous\MarshalClassTests.csproj"
[code]

[2016-04-08 22:52] BruceForstall opened #4229 "test build warnings: Interop\MarshalAPI\OffsetOf\OffsetOf.csproj"
[code]

[2016-04-08 22:52] BruceForstall opened #4230 "test build warnings: Interop\MarshalAPI\UnsafeAddrOfPinnedArrayElement\UnsafeAddrOfPinnedArrayElement.csproj"
[code]

[2016-04-08 22:53] BruceForstall opened #4231 "test build warnings: Interop\SimpleStruct\SimpleStruct.csproj"
[code]

[2016-04-08 22:54] adityamandaleeka commented on #4201
I wasn't able to repro this on Ubuntu. Were you only hitting this on OS X?

[2016-04-08 22:54] BruceForstall opened #4232 "test build warnings: JIT\jit64\localloc tests"
[code]

[2016-04-08 22:54] BruceForstall opened #4233 "test build warnings: JIT\Methodical\Boxing\xlang tests"
[code]

[2016-04-08 22:55] BruceForstall opened #4234 "test build warnings: JIT\Methodical\flowgraph\dev10_bug679008\EHCopyProp.csproj"
[code]

[2016-04-08 22:56] BruceForstall opened #4235 "test build warnings: JIT\Methodical\localloc\call\call01_small.csproj"
[code]

[2016-04-08 22:56] BruceForstall opened #4236 "test build warnings: JIT\Regression\Dev11\External\dev11_145295\CSharpPart.csproj"
[code]

[2016-04-08 22:57] BruceForstall opened #4237 "test build warnings: JIT\Regression\Dev11\External\dev11_132534\CSharpPart.csproj"
[code]

[2016-04-08 22:59] jeffschwMSFT commented on #4201
Sorry, yes Mac OS.

[2016-04-08 23:05] BruceForstall opened #4238 "coreclr native components build is not fully incremental"
If I run a build.cmd twice in a row, the second time should do nothing. However, I could (from the log), at least the following tool invocations:

2 CL.exe
14 LINK.exe
13 rc.exe
1 lib.exe

[2016-04-08 23:06] joperezr commented on #4208
Once the PR in buildtools is merged and we update buildtools in coreclr, the warnings will go away.

[2016-04-08 23:07] brianrob commented on #4132
@joshfree, we've actually already hardened this scenario a bunch to ensure that if LTTng isn't present, that everything goes well.  Per @ericeil's comment above, LTTng was on the machine as it is a build-time dependency, but something failed at runtime.  Removing LTTng from the machine made this error go away.

We can debug this and try to figure out if there is a nice way to work around it, but I

[2016-04-08 23:13] swaroop-sridhar opened #4241 "HeapVerify: Fix BARRIERCHECK"
Heapverify run with HEAPVERIFY_BARRIERCHECK enabled fails with a SIGSEGV while updating the shadow stack.

Platform: X64 Windows or Linux
Repro steps:
`set COMPlus_HeapVerify=7`
`Corerun HelloWorld.exe`

[2016-04-08 23:24] ramarag commented on #4132
@joshfree to make it work out of the box, possibly we could do one of 3 things:

1. Add the complete lttng tooling as the pre req to build on Ubuntu. [ need to verify if lltng actually works in WSL]
2. Figure out if the load modes difference between Ubuntu and WSL and fail the load for WSL
3. Stop bin placing libcoreclrtraceptprovider.so with libcoreclr.so. As tracing needs to be enabled explicitl

[2016-04-08 23:54] mikem8361 opened #4244 "Fix dbgshim attach race condition"
There is a race between the time that the coreclr module is loaded and when the dac globals table is initialized where CLRDataCreateInstance DAC API fails with CORDBG_E_UNSUPPORTED.

The fix is to load the dac and call this API in dbgshim logic that decides to wait on the startup named semaphore. This check now becomes "if the coreclr module is loaded and initialized (CLRDataCreateInstance succeed

[2016-04-08 23:56] mikem8361 commented on #4244
We determined this race does NOT exist for the launch case.

[2016-04-08 23:59] #3524 closed

[2016-04-08 23:59] #3817 closed

[2016-04-09 00:19] joshfree commented on #4132
@dethoma would it be possible to help @ramarag on option 2?

[2016-04-09 01:39] ramarag commented on #4132
On more closer inspection the failure is within WSL and should not be bubbled up to coreclr.
dlopen semantics dictates that it will rerun NULL and not fail on its call http://linux.die.net/man/3/dlopen

[2016-04-09 01:58] ezephir commented on #841
This is implemented in 63e3fda505d2eebf89758339d5c970469f822697.

[2016-04-09 02:05] ezephir commented on #678
A few questions about this item:
* Where should the string resources live? OS X generally wants them to live inside of a bundle, but since CoreCLR is a collection of dylibs, it doesn't currently have any.
* Is there a story for building localized strings? Commit 63e3fda505d2eebf89758339d5c970469f822697 switched to rc_to_cpp, and I don't see anywhere else where this happens currently.

[2016-04-09 02:10] #2131 closed

[2016-04-09 12:48] GSPP opened #4251 "string.Join(string[]) bug"
`string.Join` returns in empty string when the total incoming length is a multiple of `1 << 32`. This is a bug. It should throw an exception instead.

Warning, this allocates 8GB of memory:

            checked
            {
                long totalDesiredLength = 1L << 32;
                var maxLength = 1000000000;
                var lengths = new int[] { maxLength, maxLength, maxLength, maxL

[2016-04-09 13:10] GSPP opened #4252 "System.String methods do not completely guard against broken enumerators"
I found a very minor issue in `System.String`. There are methods that operate on user-provided enumerators and user-overriden `ToString` methods. It looks like this code is trying hard to guard against broken user code and not crash randomly with internal errors. Clearly, no complete protection is possible.

I found that in multiple places the `Current` property of enumerators is accessed twice. T