[2019-07-17 23:53] tannergooding commented on #25730
The other `FormatSingle` method a few lines down is quite a bit more complex, but almost all of these methods are only using value types to avoid allocations.

[2019-07-18 00:35] AndyAyersMS commented on #25730
Yes. The passing of `ValueStringBuilder` explicitly by ref qualifies, and in the above, the format string is implicitly converted at the call site to a span, and this span is passed implicitly by-ref.

Both structs have GC ref fields (1 in the span, and 2 in the VSB). The jit has some logic (perhaps not well motivated) to decide if zeroing the entire struct make sense even if only some fields are

[2019-07-18 00:56] noahfalk commented on #25731
It would require a bit more research than I did in the past, but there may be a path through here that isn't terribly expensive. From what I recall the main cost occurs when the various memory pools take ownership of the pre-existing data, which they do by copying:

[2019-07-18 03:06] iskiselev commented on #25698
I also see same behavior. On first few calls to function that call Thread.Sleep(...) both caller Thread.Sleep(...) frame visible in frames reported back by DoStackSnapshot(). After few first calls only caller function is visible - while Thread.Sleep(...)  is not - looks like it was inlined in caller.
But our profiler set COR_PRF_DISABLE_INLINING flag in SetEventMask call, so I don't expect to see

[2019-07-18 03:13] SilentCC opened #25767 "Out Of Memory Exception in .NET Core 3.0 preview 5"
Since I update my application to .NET Core 3.0 preview 5 in container scenario, the OutOfMemory exceptions come out sometimes.

Production Environments:

*   **production cluster**:  docker swarm
*   **docker container cpu limit** :1.5
*   **docker container memory limit**: 2G
*   **docker container duplicates** : 2
*   **PV** : about  60000 per day
*   **Application** : .NET Core MVC Web
*   **GC

[2019-07-18 03:22] #25148 closed

[2019-07-18 03:23] SilentCC commented on #25767
@Maoni0

[2019-07-18 03:50] Maoni0 commented on #25148
yes, LOH is automatically compacted when you are running in a container with a memory limit set (or set the hardlimit yourself).

[2019-07-18 03:56] Maoni0 commented on #25767
@andy-ms could you take a look please?

I still don't understand the issue description. did you get OOM in 2.2 or not? it's unclear from this

[2019-07-18 04:49] nadavye commented on #25313
@davmason - already started to read the docs. Thanks for the detailed explanation. Highly appreciated :-)

[2019-07-18 05:20] SilentCC commented on #25767
@Maoni0 Sorry,I don't explain it clearly. I didn't get OOM in 2.2. I have fixed my description.

[2019-07-18 05:51] Maoni0 commented on #25767
there is a change that went in with the hardlimit work which was we take 75% of the container memory limit so it could be that you were using more than 75%. the way to verify this is if you set COMPlus_GCHeapLimit to the container's memory limit, and you no longer get OOMs, you could do this. if you still get OOMs, it means most likely 3.0 is simply using more memory. 3.0 has tons of changes other

[2019-07-18 06:14] SilentCC commented on #25767
@Maoni0 Thanks! But  I don't know  where and how to set COMPlus_GCHeapLimit.I never used COMPlus_GCHeapLimit before.

[2019-07-18 06:57] forestbat commented on #25153
About 1 month passed，will it has some change in .NET 5？

[2019-07-18 07:44] ThomasHjorslevFcn commented on #25645
Now converted to a singleton, the application has been running for 24 hours without crashing, thanks everyone!
I'm not sure if I should close this issue? While the problem was entirely our own fault, improving the information in the `OutOfMemoryException` might still be relevant?

[2019-07-18 07:46] k-berger commented on #25731
I second @discostu105 's concern. The memory overhead can get pretty severe for larger applications. Thinking about the density of apps per core some people run, especially on their old IIS deployments, some servers that are being equipped with state of the art tracing might run into a memory issue.

[2019-07-18 08:23] jkotas commented on #25731
The memory overhead is not the only performance problem of `IMetaDataEmit`. Acquiring `IMetaDataEmit` wraps all metadata access inside a lock that makes all metadata operations (type loading, JITing, reflection) significantly slower.

I am wondering whether it would be better to have APIs tailored to the operations that the profilers actually want to do. E.g. we can have API to provide a new metho

[2019-07-18 08:55] vitek-karas commented on #25153
We've been focusing on finishing 3.0. There are no firm plans for 5 yet, but I think making single-file smaller will be part of it.

[2019-07-18 09:21] AriNuer opened #25769 "Test failure: JIT_IL_Conformance._Old_Base_cgt_cgt_/_Old_Base_cgt_cgt_cmd"
Opened on behalf of @AriNuer

The test `JIT_IL_Conformance._Old_Base_cgt_cgt_/_Old_Base_cgt_cgt_cmd` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : Master - 20190717.3 (Core Tests)
Failing configurations:
- Windows.10.Amd64.Core-x64
  -

Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2

[2019-07-18 09:30] AriNuer commented on #25769
Different tests from Build -[20190717.3](https://mc.dot.net/#/product/netcore/master/source/official~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190717.3) failed with similar Timed Out failure:
[code]

Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190717.

[2019-07-18 09:34] AriNuer commented on #25769
Similar failure on Ready-To-Run Tests:

Test:
` tracing_eventpipe._providervalidation_providervalidation_providervalidation_/_providervalidation_providervalidation_providervalidation_cmd `

Message :
[code]
Stack Trace :
[code]
Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fr2r~2Fcli~2F/build/20190717.3/workI

[2019-07-18 11:29] noahfalk commented on #25731
Its certainly possible and in some scenarios I'd imagine it might be quite advantageous, but it also sounds like a more expensive solution requiring new API design, changes on both the profiler and runtime side and probably dual maintainance with the current solution because of compat requirements. I feel like I'd want to investigate what a more direct removal/replacement of the lock looked like t

[2019-07-18 12:46] dioptryk commented on #25718
@stephentoub Sorry, but I can't agree with that. It's like having _print()_ method, which prints only 8 arguments (for performance reasons), or a _String.Join()_ which joins only 8 elements of the collection.. The examples may be a bit ;-) exaggerated, but you get the idea. It's about _consistency_ in the API. Besides that, you don't know _anything_ about Our Business Case. Perhaps we have a hundr

[2019-07-18 12:48] stephentoub commented on #25718
It is in no way the same as those.

You're right, I don't.  If you need such explicit control over exactly how GetHashCode works, you will need to implement it yourself on your own type, and not use the built-in types for this.

[2019-07-18 12:53] stephentoub commented on #25767
cc: @richlander

[2019-07-18 13:55] benaadams commented on #25718
Might want to use [`System.HashCode`](https://docs.microsoft.com/en-us/dotnet/api/system.hashcode?view=netcore-2.2) rather than ValueTuple to generate your hash code

[2019-07-18 14:59] EgorBo commented on #25730
@tannergooding btw, any idea how gcc calculates the rem here https://godbolt.org/z/S3p7tq ? I don't get it 🙁

[2019-07-18 15:04] mikedn commented on #25730
GCC simply reuses the reminder returned by the DIV instruction.

[2019-07-18 15:17] tannergooding commented on #25730
Have we measured the impact of a call to `memset` vs the use of `rep stosd`? `rep stosd` has the setup overhead and is already not great performance for small arrays...

This would likely be a case where 3 16-byte stores would be beneficial to do, if possible. That is currently blocked, however, because we don't support setting GC refs via SIMD registers, correct? Is that something that could be s

[2019-07-18 15:48] ViktorHofer commented on #25754
I'm surprised as that shouldn't happen as the TestHost's version maps to the ProductVersion which is already updated in coreclr. https://github.com/dotnet/coreclr/blame/be31aaea6402390d808fa41d4cd1fa9b68f4cdd0/tests/dir.props#L140

[2019-07-18 15:49] ViktorHofer commented on #25754
As soon as CI works again I'll check if this is still happening.

[2019-07-18 16:04] danmosemsft commented on #25718
@dioptryk assuming you accept it's a performance issue, not a correctness issue, consider that hashing all the fields might hurt performance more than the reduced collisions helps. Clearly, there has to be a cut-over, and it's apparently 8 in this case. If it hashed 1000 fields, it would be worse in every respect.

[2019-07-18 16:10] Symbai opened #25774 "Perf regression on StringBuilder.Append"
There is a small performance regression comparing 2.2 vs 3.0 (10%), but a bigger regression comparing .NET Framework vs 3.0 (18%).

[code]

| Method | Runtime |     Toolchain |         Mean |         Error |        StdDev |
|------- |-------- |-------------- |-------------:|--------------:|--------------:|
|  Small |    Core | .NET Core 2.2 |     179.1 ns |     0.7665 ns |     0.5984 ns |
| Medium

[2019-07-18 16:30] AndyAyersMS commented on #25730
We're in the prolog, so making calls is problematic. It requires special care and usually some kind of bespoke calling convention (some native compilers do this for stack checks, for instance).

There's nothing blocking us from generating different code to zero the slots. We are not GC live at this point so can use whatever instructions will work. But we also would like to minimize the set of regi

[2019-07-18 16:36] andy-ms commented on #25767
@SilentCC That's an the name of an environment variable. The value would be bytes in hexadecimal without the `0x`. For a 2GB limit that would be `80000000`. Also, the name is `COMPlus_GCHeapHardLimit`.

In cmd you could write `set COMPlus_GCHeapHardLimit=80000000`, in powershell it would be `$env:COMPlus_GCHeapHardLimit=80000000`.

[2019-07-18 16:57] safern commented on #25701
@RealDotNetDave any update?

[2019-07-18 16:58] safern commented on #25646
Marked as 3.0 as @adamsitnik said offline he was investigating if there was indeed a regression. He can update it further once he has an answer

[2019-07-18 16:58] tannergooding commented on #25730
That sounds good/reasonable to me. It will also likely improve perf of various methods that are attempting to utilize things like Span/ValueStringBuilder as a perf optimization.

[2019-07-18 17:30] benaadams commented on #25718
Using a 1000 field struct/ValueTuple in a dictionary will have be terrible performance to begin with; hashcode performance would likely to be the bottleneck?

[2019-07-18 17:33] discostu105 commented on #25731
So, we currently use a lot of IMetaDataEmit API's such as emitting TypeDefs/Refs/Specs, AssemblyRefs, Custom Attributes, Signatures, etc... to any module (including mscorlib/system.private.corelib).

And yes, we even add new fields & methods to existing types for some features. Could we live without it? _Maybe_. It would definitively kill some of our features that we would need to drop or re-desig

[2019-07-18 17:42] danmosemsft commented on #25774
@adamsitnik in case he's interested

[2019-07-18 17:43] danmosemsft commented on #25723
@ivanbuha thanks. Would you like to off a PR with the edits, since you know what they are?

[2019-07-18 17:47] #23442 closed

[2019-07-18 17:47] #23992 closed

[2019-07-18 17:47] #24179 closed

[2019-07-18 17:47] #25372 closed

[2019-07-18 17:51] ivanbuha commented on #25723
Yes, already started putting a draft. Will finalize it soon.

[2019-07-18 18:04] EgorBo commented on #25730
@mikedn Is it worth to make `DivRem` intrinsic then? (I guess in my previous godot link LLVM just didn't recognize `%` operation). Or it's better to implement it in JIT (I wonder how difficult is that)
[code]

[2019-07-18 18:13] AndyAyersMS commented on #25726
I can repro this on a variety of machines. The loop head offset doesn't seem to be a factor; best guess it is something about slightly different instruction sequence in the loop. Still trying to pin down what that is....

[2019-07-18 18:19] mikedn commented on #25730
See #757. In short, even if you try to make it an intrinsic there are some problems with representing an operation that returns 2 values in JIT's IR (and even more advanced compilers can have problems with this kind of stuff). But at least with an intrinsic you avoid the need to recognize this pattern, which is a special case of redundancy that doesn't match anything the JIT does today.

Besides,

[2019-07-18 18:33] stephentoub commented on #25646
The issue here is incomplete; a benchmark is included but it's incomplete, and as a result others who are trying to repro it have to make assumptions about what's being measured and how.  There is nothing actionable here at present.

[2019-07-18 18:46] danmosemsft commented on #25774
cc @billwert

[2019-07-18 18:56] VSadov opened #25778 "Make array types always represented as method tables."
Currently array types can be represented by either a method table or by a TypeDesc.

It could be confusing since otherwise TypeDescs are only used for types that do not have method tables (method pointers, byref types, etc). Having arrays in that mix adds special cases.

Scenarios where we start from an instance, get a method table and then need to transition to TypeDesc seem unnatural as well.
An

[2019-07-18 19:34] AndyAyersMS commented on #25726
CPI on new hw is really good (0.22 for 2.2, 0.29 for 3.0), so the perf delta is some small micro-architectural detail. I think we exceed the theoretical best 0.25 because of macro fusion of the cmp/jl.

On old enough HW there is no difference:
[code]
The second `movzx` is not needed and may be a contributor to the perf impact.  I will look into why the peephole added in #22454 is not getting rid o

[2019-07-18 19:45] RussKeldorph commented on #25692
@livarcocc Could you answer this and close or move it to the appropriate repo?

[2019-07-18 19:53] wtgodbe commented on #25754
Looks like this is resolved (e.g. https://github.com/dotnet/coreclr/pull/25770)

[2019-07-18 19:53] #25754 closed

[2019-07-18 19:59] mikedn commented on #25726
Not sure how 22454 is related to this as this is a byte zero extend. Anyway, the ideal code is probably `xor cl, byte ptr [rax+r9]` which is more difficult to produce (and even the fact that it's ideal would be difficult to prove).

[2019-07-18 20:03] danmosemsft commented on #25774
This seems well covered by existing benchmark
https://github.com/dotnet/performance/blob/6b31a4513a9ab70a45b86ee188c1e7275c820644/src/benchmarks/micro/corefx/System.Runtime/Perf.StringBuilder.cs#L29-L39

[2019-07-18 20:16] danmosemsft commented on #25778
We're trying to use a single area label to avoid double counting

[2019-07-18 20:17] RussKeldorph commented on #25732
@dotnet/jit-contrib

[2019-07-18 20:37] EgorBo commented on #25732
Partly addressed in https://github.com/dotnet/coreclr/pull/25744

[2019-07-18 20:59] tommcdon commented on #25753
@sdmaclea @hoyosjs

[2019-07-18 21:15] AndyAyersMS commented on #25726
@mikedn yep, realized that.

Seems like the perf issue here could be "mov elimination" introduced in Ivy Bridge, which evidently can optimize 2.2's `movzx    rcx, r9b` but not 3.0's `movzx    rcx, cl`.

Intel docs on "Zero-Latency MOV Instructions" don't mention the restrictions on same-register movs but other sources do. That would also explain why older HW does not see a difference. Changing the

[2019-07-18 21:47] CarolEidt commented on #25726
That's not something the register allocator is currently set up to do, though limited cases could possibly be handled by either
- avoiding *preferencing* for `movzx` (not sure if this case was actually preferenced), or
- adding anti-preferencing of a single-reg source (i.e. if the source was constrained to be `cl`, then the target could exclude that from its preferences)

[2019-07-18 22:15] #25505 closed

[2019-07-18 22:55] mikedn commented on #25726
Actually producing this byte `xor` should be pretty easy - detect that it has a byte indir operand, change the `xor` type to byte as well and contain the indir. What's difficult to remove is the subsequent `movzx`. But it seems a rather exotic case, considering that this optimization only works with `xor` and `or`. Though `and` could be done too if we detect that it is used by `movzx`.

[2019-07-18 23:00] mikedn commented on #25732
Interesting, I don't remember seeing the `x % 100 == 0` transform before. I guess it's a variation on magic division.

[2019-07-18 23:05] aggieben opened #25785 "CMake Error: Could not create named generator Visual Studio 16 2019"
I cloned the repository and tried running `build.cmd`, but experienced this failure:

![image](https://user-images.githubusercontent.com/1321/61497811-7844d700-a986-11e9-9f2d-5cf4508f9eca.png).

There aren't any instructions specific to VS 2019, so I'm a bit unsure where to go from here.

[2019-07-18 23:09] EgorBo commented on #25785
I guess you need to update your cmake (mine is 3.14.0-rc2)

[2019-07-18 23:25] jkoritzinsky commented on #25785
You need at least CMake 3.14 to generate VS2019 projects.

[2019-07-19 01:21] sdmaclea commented on #25753
There are several issues here.

- We are stopping in the middle of the stack alloc of `mib`. This is same issue as #14926.
- We are doing a FuncEval of mib before its object has been initialized. This is either because we have calculated an incorrect IL offset, or JIT is reporting incorrect offset for when the span is corrected.
- FuncEval is throwing
- FuncEval failure is not caught be the debug

[2019-07-19 01:54] BruceForstall commented on #25273
The problem happens is in the JIT compilation of `Process.WaitForExit()`. I reduced the test case to:

[code]

In particular,
[code]

@janvorli Can you try to repro using this test case, and offer suggestions on what the root cause of the problem is? In particular, are we actually using 1.5MB of stack?

One thing I note is the bottom of the stack is:
[code]

so do we have a problem doing stack wal

[2019-07-19 02:15] sdmaclea commented on #25758
@WardenGnaw Thanks for the fixed build.

[2019-07-19 02:15] #25758 closed

[2019-07-19 02:17] swift-kim opened #25787 "[Question] IBC training and partial crossgen on Linux"
I'm trying to generate optimized (partial-ngened) assemblies against user applications using IBC data on Linux system (armel Tizen). The system is running the latest coreclr runtime and crossgen built from source. I have no other internal tools like `ibcmerge.exe`.

I have created instrumented images of some target assemblies (including system assemblies), and obtained training data (.ibc files) b

[2019-07-19 02:28] sdmaclea commented on #25740
This could easily be a Roslyn or a JIT issue.

Seems like the first step would be to look at the assembly and make sure the IL is annotated with the correct line number info.

[2019-07-19 03:03] AaronRobinsonMSFT commented on #25733
@gdkchan I have submitted an update to the docs that mentions that the [`System.Runtime.InteropServices.Marshal.GetFunctionPointerForDelegate`](https://docs.microsoft.com/dotnet/api/system.runtime.interopservices.marshal.getfunctionpointerfordelegate) should be used. Feel free to follow the PR: https://github.com/dotnet/dotnet-api-docs/pull/2779

[2019-07-19 03:03] #25733 closed

[2019-07-19 03:04] AaronRobinsonMSFT commented on #25787
cc @briansull

[2019-07-19 03:26] ivanbuha commented on #25785
I was able to build coreclr after I installed CMake version 3.14.5 (latest stable at the moment) and all MSVC v142 - VS 2019 C++ tools when installing VS.

[2019-07-19 03:30] iskiselev opened #25789 "ProfilerAPI: Is it safe to cache IMetaDataImport"
Is it safe for profiler to cache IMetaDataImport for a module for a module lifetime?
I'm asking this question, as ICorProfilerInfo::GetModuleMetaData will fail if it is called from P/Invoke  callback, but looks like calls for cached IMetaDataImport methods works fine even from P/Invoke.
MSDN documentation does not give any hints about IMetaDataImport lifetime and any problems that may be introduce

[2019-07-19 04:07] #25020 closed

[2019-07-19 04:25] sdmaclea commented on #19437
Writing the `udf` should always be atomic.  It is a 16-bit instructions which will always be aligned and will never cross cache line or page boundaries.

The `FlushInstructionCache` call should follow the arm procedure above.

So I think the problem is elsewhere.

So one thread could:

1. set a `udf` breakpoint while other threads are running managed code.
2. clear a `udf` breakpoint while other t

[2019-07-19 05:29] SilentCC commented on #25767
@andy-ms Thanks a lot!

[2019-07-19 06:16] sakno commented on #25697
I get a different result in the sandbox with simple solution containing .NET Standard library and Core App:
1. It is allowed to declare method with parameter `TypedReference*`
1. It is not allowed to call it using pointer to `TypedReference`.

CS057 error is produced by compiler:
[code]
I think this happening because my main project uses Fody Weaver to rewrite assembly and somehow deceives the com

[2019-07-19 07:47] GSPP commented on #25609
How could exchanging a byte corrupt state? I can't figure it out :smile:. Is there limited CPU support?

If it is only possible to exchange 4 and 8 byte quantities reliably, this could still be made to work for structs of that size.

Also, smaller sizes can be emulated from larger sizes using loops. I found http://mail.openjdk.java.net/pipermail/hotspot-dev/2014-September/015213.html on this idea.

[2019-07-19 08:05] davmason commented on #25698
@iskiselev do you know how many iterations you see the call to Thread.Sleep before it appears to be inlined? If it is around 30 I am suspicious tiered compilation might be related since it uses call counting and 30 is the magic number. It should respect COR_PRF_DISABLE_INLINING but there might be an issue there. Could you try settings COR_PRF_HIGH_DISABLE_TIERED_COMPILATION in dwEventsHigh of SetE

[2019-07-19 08:08] davmason commented on #25567
We will skip freeing the profiler if a profiler is currently executing code inside the runtime even during the non-detach case (i.e. at process shutdown). Could you verify that you don't have any other threads currently calling in to the runtime when you see the leak?

[2019-07-19 08:33] k15tfu commented on #25676
@davmason

Yep, and moreover as it was mentioned above, some of these stubs are very small and do not have any unwind info at all.

Did you mean doing it not only being in the same thread, but also from one of the profiler callbacks? Just to be on the same page =)

Does it mean it may not work, or it definitely doesn't work on Linux? Because I don't see other critical issues at the moment (except

[2019-07-19 08:41] janvorli commented on #25273
GDB cannot walk through managed frames on any Unix platform. It can unwind only frames that have DWARF unwind info. LLDB is more clever and has a fallback mechanism where it tries to use RBP chain when there is no unwind info, so it can unwind managed frames (although sometimes during EH, it misses part of the stack).

This limit influences only the main thread, not the secondary ones.

As for the

[2019-07-19 09:24] janvorli commented on #25676
Btw, it seems to me that on Linux, you can simulate the SuspendThread / GetThreadContext using a signal handler in an async signal safe manner. Basically the way I've mentioned in a response to another issue that you've created.
* From one thread, send a signal to all other threads
* In the signal handler for that signal, save the signal context in a way that will allow the thread initiating the "

[2019-07-19 09:31] mjsabby commented on #25676
You can use [DynamicMethodJITCompilationStarted](https://docs.microsoft.com/en-us/dotnet/framework/unmanaged-api/profiling/icorprofilercallback8-dynamicmethodjitcompilationstarted-method), [DynamicMethodJITCompilationFinished](https://docs.microsoft.com/en-us/dotnet/framework/unmanaged-api/profiling/icorprofilercallback8-dynamicmethodjitcompilationfinished-method) to track dynamic methods. This ha

[2019-07-19 11:20] janvorli commented on #25273
Ok, this is a dup of an issue I've fixed in https://github.com/dotnet/corefx/pull/38743. The thread we crash on is created by SystemNative_InitializeTerminalAndSignalHandling (in System.Native.so from the corefx repo).
The problem is in how the issue was fixed. I've originally made the stack size setting unconditional for all configurations. However in the discussion in the PR, @stephentoub has su

[2019-07-19 12:10] MarcWils commented on #18617
#25716 is open for bringing support in .NET 5.

Any chance this will make the 3.0 milestone?

[2019-07-19 13:27] shvez commented on #25692
the interesting thing is that if I publish projects from that solution one by one everything just works fine. Only if I publish the entire solution, I that error message

[2019-07-19 15:52] BruceForstall commented on #25273
Interesting. Given this, would it be appropriate to change the fix in https://github.com/dotnet/corefx/pull/38743 so it is all-configuration, not just DEBUG?

[2019-07-19 15:53] k-berger commented on #25731
@jkotas  As far as `IMetaDataEmit` is concerned we rely on
* DefineTypeRefByName
* DefineMemberRef

which injects members being used by rewritten IL code. Redesigning the API sounds like an expensive solution on both sides, although I can imagine that this might be advantageous in the long run.
But I also have to agree with @noahfalk and @discostu105 that from a maintenance point-of-view it would

[2019-07-19 16:43] #25755 closed

[2019-07-19 16:48] hoyosjs commented on #25753
This was what I found and it was reported in a similar situation by @davidfowl

[2019-07-19 17:20] jkotas commented on #25787
It should be possible, but it may be broken currently because of it is not used by anything. Could you please try to debug through crossgen to see why it is not using all the training data? `ZapImage::CompileHotRegion()` method is a good place to start.

[2019-07-19 17:26] janvorli commented on #25273
We can either do that or, as @sandreenko has suggested offline, refactor the fgMorphSmpOp so that the compiler doesn't create 5kB large frame for it is in the debug build. He felt like that the function would be worth refactoring.

[2019-07-19 17:48] briansull commented on #25787
I also need the matching dll's in order  to examine or doi anything with these .ibc files:

[2019-07-19 17:49] tommcdon commented on #25789
@davmason

[2019-07-19 18:58] davmason commented on #25789
Yes, that is safe as long as you respect COM semantics. Once the refcount goes to 0 it will no longer be usable, but as long as you keep a refcount on it you can use it safely.

What HR do you get when calling GetModuleMetadata? I wouldn't expect that to fail at any point when the module is alive. You may be hitting some corner case though of the runtime being in a weird state.

[2019-07-19 19:12] mjsabby commented on #25789
It's probably because `GetModuleMetadata` is `PROFILER_TO_CLR_ENTRYPOINT_SYNC_EX`

[2019-07-19 19:26] davmason commented on #25789
Thanks @mjsabby, that's definitely it 😄

[2019-07-19 21:20] Inzanit opened #25798 "Would the repository benefit from a .vsconfig file for required workloads"
As listed in the build instructions - and updated regularly according to version - several workloads are required to build CoreCLR (at least on Windows).

With the [addition of `.vsconfig`](https://devblogs.microsoft.com/setup/configure-visual-studio-across-your-organization-with-vsconfig/) and the ability to determine workloads based on this configuration, there might be value in adding this to t

[2019-07-19 21:21] tannergooding commented on #25798
CC. @ViktorHofer, this might be useful for CoreFX as well.

[2019-07-19 21:25] ViktorHofer commented on #25798
I think that's a great idea. FSharp has one as well: https://github.com/dotnet/fsharp/blob/master/.vsconfig

@Inzanit do you want to submit a PR in corefx as well? Our dependencies are documented here: https://github.com/dotnet/corefx/blob/master/Documentation/building/windows-instructions.md#visual-studio-2019---individual-components-based-install

[2019-07-19 21:29] Inzanit commented on #25798
@ViktorHofer Absolutely.

[2019-07-19 21:31] ViktorHofer commented on #25798
You want to double check them, I think one or two aren't available in VS2019 anymore.

[2019-07-19 22:27] BruceForstall commented on #25273
TL;DR: there is a bug in the Linux build process whereby Checked builds are not being optimized.

Full info:

Assuming fgMorphSmpOp is the main culprit (and it does recurse, and appear on the stack many times in this test), I took a look at its stack size:

- Windows:
  - Release: 0x110
  - Checked: 0x170
  - Debug: 0x810
- Alpine:
  - Release: 0x138
  - Checked: 0x1570
  - Debug: 0x1570

So the i

[2019-07-19 22:36] #25785 closed

[2019-07-19 22:36] aggieben commented on #25785
After updating CMake I got past this issue, but now I have a different built error.  Thanks!

[2019-07-19 22:59] davmason commented on #25676
It should be done within the profiler callback to be safe, it would generally work anywhere but you might run in to the same stub issue if not within a profiler callback.

It's completely untested on our end. This might be the only issue or it might not be. I don't know of any issues already, but I would not be surprised to find out there are more.

ICorProfilerInfo10::SuspendRuntime was intended

[2019-07-19 23:24] danmosemsft commented on #25785
Ideally we would explicitly check the CMake version upstream in the build.

[2019-07-20 03:35] forestbat opened #25805 "A question about CLR"
I read CLR via C# （4th version in 2014），it says that MS's purpose is decreasing GC's time to less than a normal memory page fault's time，so today do you keep the purpose or abandone it？

[2019-07-20 13:33] PathogenDavid commented on #23168
@janvorli @tommcdon Thanks to both of you for investigating this issue!

I finally got around to posting the issue on developer community, sorry it took so long. I also confirmed the issue still happens in 2019 16.1.6 while I was at it.

You can find the issue here: https://developercommunity.visualstudio.com/content/problem/653718/windows-exception-during-mixed-debugging-of-net-co.html

[2019-07-20 15:58] #25273 closed

[2019-07-20 17:51] aggieben opened #25809 "error MSB3721: The command "ml64.exe ..." exited with code 1"
I'm trying to build coreclr on Windows 10, `release/3.0` branch with VS 2019.  I've gone through the list of VS 2017 prerequisites and tried to make sure I have all those, as well as an updated version of CMake (VS2019 doesn't appear to be documented at this point).  The build fails like this (two of these in the log):

![image](https://user-images.githubusercontent.com/1321/61582158-bb20bf00-aaec

[2019-07-21 03:49] NetGH commented on #10605
ARMv6 support would be awesome.

[2019-07-21 20:33] Maoni0 commented on #25805
yes, we always aim to improve GC efficiency which includes pause time. obviously pause time needs to be balanced against other perf metrics of a GC; we plan to give you a finer grain choice of specifying which one(s) you care about the most (pause, heap size, GC CPU time)

[2019-07-22 00:13] #25805 closed

[2019-07-22 02:01] swift-kim commented on #25787
@briansull
Thank you for having a look. [This zip](https://github.com/dotnet/coreclr/files/3415298/ibc-dlls.zip) file contains the corresponding DLLs. (Note: The command line section starting with `/usr/bin/dotnet-launcher ...` will look super scary, but it's normal.)

@jkotas
I've taken a glance at `ZapImage::parseProfileData()` which initially reads data into `m_profileDataSections` but as far a

[2019-07-22 02:01] VincentBu opened #25810 "Microsoft.DotNet.RemoteExecutor.RemoteExecutionException : Remote process failed with an unhandled exception."
**Job:**
https://mc.dot.net/#/user/coreclr-corefx/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcorefx~2F/20190721.1/workItem/System.Runtime.Tests/analysis/xunit/System.Tests.GCTests~2FGetGCMemoryInfo

**Log:**
[code]

[2019-07-22 02:06] VincentBu opened #25811 "Test failed: System.Drawing.Tests.FontTests.ToLogFont_InvokeGraphics_ReturnsExpected"
**Job:**
https://mc.dot.net/#/user/coreclr-corefx-jitstress/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcorefx~2F/20190720.1/workItem/System.Drawing.Common.Tests/analysis/xunit/System.Drawing.Tests.FontTests~2FToLogFont_InvokeGraphics_ReturnsExpected(textRenderingHint:%20AntiAlias,%20expectedQuality:%203)

**Failed tests:**
System.Drawing.Tests.FontTests.ToLogFont_InvokeGraph

[2019-07-22 02:24] VincentBu opened #25812 "Test failed: baseservices_threading._generics_Monitor_EnterExit10_EnterExit10_._generics_Monitor_EnterExit10_EnterExit10_sh"
**Job:**
https://mc.dot.net/#/user/coreclr-gcstress-extra/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190720.1/workItem/baseservices.threading.generics/analysis/xunit/baseservices_threading._generics_Monitor_EnterExit10_EnterExit10_~2F_generics_Monitor_EnterExit10_EnterExit10_sh

**Failed tests:**
baseservices_threading._generics_Monitor_EnterExit10_EnterExit10_._gen

[2019-07-22 02:29] VincentBu opened #25813 "Assert failure: Consistency check failed: AV in clr at this callstack"
**Job:**
https://mc.dot.net/#/user/coreclr-gcstress-extra/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190720.1/workItem/Loader.classloader/analysis/xunit/Loader_classloader._DefaultInterfaceMethods_constrainedcall_constrained3_constrained3_~2F_DefaultInterfaceMethods_constrainedcall_constrained3_constrained3_cmd

**Failed tests:**
Loader_classloader._DefaultInterface

[2019-07-22 02:40] VincentBu opened #25814 "Test failed: tracing_eventcounter._eventcounter_eventcounter_._eventcounter_eventcounter_cmd"
**Job:**
https://mc.dot.net/#/user/coreclr-jitstress/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190720.1/workItem/PayloadGroup0/analysis/xunit/tracing_eventcounter._eventcounter_eventcounter_~2F_eventcounter_eventcounter_cmd

**Failed tests:**
tracing_eventcounter._eventcounter_eventcounter_._eventcounter_eventcounter_cmd

**Log:**
[code]

[2019-07-22 02:58] VincentBu opened #25815 "[runincontext] Test failed: tracing_eventpipe._buffersize_buffersize_buffersize_._buffersize_buffersize_buffersize_cmd"
**Job:**
https://mc.dot.net/#/user/coreclr-runincontext/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190721.1/workItem/PayloadGroup0/analysis/xunit/tracing_eventpipe._buffersize_buffersize_buffersize_~2F_buffersize_buffersize_buffersize_cmd

**Failed tests:**
tracing_eventpipe._buffersize_buffersize_buffersize_._buffersize_buffersize_buffersize_cmd

**Log:**
[code]

[2019-07-22 03:56] CarolEidt commented on #25468
The bug is an uninitialized variable sent by reference from `gdip_load_png_properties` in libgdiplus to `png_get_pHYs` in libpng. It seems that the version of libgdiplus that is being used on arm predates this commit: https://github.com/mono/libgdiplus/commit/81e45a1d5a3ac3cf035bcc3fabb2859818b6cc04 which fixed these uninitialized variables.

Changing the parameters that get registers, and thereby

[2019-07-22 04:24] #25723 closed

[2019-07-22 04:54] AaronRobinsonMSFT commented on #25815
Could be related to: https://github.com/dotnet/coreclr/pull/25786?

cc @jorive

[2019-07-22 12:56] MichalStrehovsky commented on #25697
Thanks for the repro! This is reproducible even without the netstandard library. We just block type handles for `TypedReference*`. I'm not clear on why. I created a pull request that removes the blocking.

As for the C# compiler error you were seeing, I would bet a dollar that the assembly rewriting damaged the method signature in some way. It would be helpful if you could attach the assembly that

[2019-07-22 16:30] jorive commented on #25814
/cc @sywhang

[2019-07-22 16:45] danmosemsft commented on #25468
Thanks for the investigation @caroleidt. Cc @safern

[2019-07-22 16:48] danmosemsft commented on #25809
Did you reboot since the last VS install? Are you building within a VS command prompt? I am not sure, but we may find lib.exe by environment variables.

[2019-07-22 17:04] safern commented on #25468
Thanks for the investigation @CarolEidt

cc: @directhex who can also answer this question.

[2019-07-22 17:04] omajid opened #25818 "What is the difference between src/gc/unix/cgroup.cpp and src/pal/src/misc/cgroup.cpp"
Hi! This is really just a question. I see that the two files src/gc/unix/cgroup.cpp and src/pal/src/misc/cgroup.cpp look really like the same file. Is that intentional? Any reason we can't share the code (or even generate one file from another at build time)?

[2019-07-22 17:05] danmosemsft commented on #25810
#24414

@maoni0

[2019-07-22 17:37] BruceForstall commented on #25812
This was `gcstress0xc_zapdisable_heapverify1`

[2019-07-22 17:38] BruceForstall commented on #25813
Looks like mostly x86, some x64, mostly `GCStress=C`

[2019-07-22 17:39] BruceForstall commented on #25814
This run was `COMPlus_ZapDisable=1`

[2019-07-22 18:30] gregg-miskelly commented on #25753
One thought - in testing I didn't see any issues if I evaluated the Span through interpretation rather than func eval. Did I just get lucky, or are the the inspection APIs better at handling this partially constructed state? Also, I saw that the `Length` was zero. Is that also something that can be counted on?

If this is something we can count on, here is one idea for a trivial fix -- change the

[2019-07-22 19:29] sakno commented on #25697
Method signature is Ok, I checked it using `ikdasm` from Mono (`ildasm` alternative on Linux). Unfortunately, I removed the code from my assembly. However, it is possible to repeat it in pure IL or Fody InlineIL Weaver. IL assembler allows to declare pointer to `TypedReference` as well.

[2019-07-22 19:44] directhex commented on #25468
What is the package version of libgdiplus under discussion?

[2019-07-22 21:10] nattress opened #25819 "R2RDump - Fix cordistools dependency in build"
The architecture-specific cordistools.dll is not copied to the build output for R2RDump and has to be done manually to get disassembly. This should happen as part of the build - we should be publishing r2rdump, not just building it, since that deploys NuGet runtime dependencies.

[2019-07-22 21:29] tommcdon commented on #25709
Re-activating to track porting to 3.0

[2019-07-22 21:32] tommcdon commented on #25815
@josalem @sywhang

[2019-07-22 21:34] sywhang commented on #25815
cc @jorive since he was investigating it this morning - Please let me know if you need any help with the investigation :)

[2019-07-22 22:22] EgorBo opened #25820 "JIT: Recognize blsr in "x & (x - 1)""
E.g. https://github.com/dotnet/corefx/blob/master/src/System.Private.Xml/src/System/Xml/Bits.cs#L40-L51

![image](https://user-images.githubusercontent.com/523221/61669260-0eab2c80-ace8-11e9-8276-9c89b60703ef.png)

I guess it can be implemented the same way it was done for `ror`

[2019-07-22 22:30] Maoni0 commented on #25810
@VSadov would you please take a look?

[2019-07-22 22:52] VSadov commented on #25810
#24414 was a test issue and should be fixed.

This looks like a new failure. Here the API seems to return a bogus result.

[2019-07-22 23:16] VSadov commented on #25810
We did not have any changes around this API, except https://github.com/dotnet/coreclr/pull/25724

@cshung can you take a quick look if the change could cause this?
It looks like we get negative memory size on ARM32

[2019-07-22 23:16] Maoni0 opened #25821 "adopting cgroup2 in coreclr"
from [corefx 39673](https://github.com/dotnet/corefx/issues/39673), cgroup2 is out. @janvorli would you please take a look at cgroup2 and see if it's a simple matter of adopting it (eg, read the same values just from different places kind of thing) or does it mean we'll need to handle new scenarios enabled by cgroup2 and/or does it make us change anything we are currently doing?

[2019-07-22 23:28] EgorBo commented on #25820
Same for `bzhi` e.g. https://github.com/dotnet/corefx/blob/master/src/Common/src/System/Security/Cryptography/Asn1Reader/AsnWriter.BitString.cs#L287-L294:
[code]
C++:
[code]
C#:
[code]

[2019-07-23 00:57] #24634 closed

[2019-07-23 01:24] stephentoub commented on #23694
This can be closed now that the C# compiler is providing the option to not emit this metadata for internals/privates.

[2019-07-23 01:24] #23694 closed

[2019-07-23 01:25] stephentoub commented on #25705
Addressed.

[2019-07-23 01:25] #25705 closed

[2019-07-23 01:51] omajid commented on #25821
From skimming the docs (https://www.kernel.org/doc/Documentation/cgroup-v2.txt) and browsing through some presentations ([slides 1](https://chrisdown.name/talks/cgroupv2/cgroupv2-fosdem.pdf), [slides 2](https://events.static.linuxfound.org/sites/events/files/slides/cgroup_and_namespaces.pdf)) it looks like cgroups v2 is mostly a cleanup. I am not an expert, but I didn't see any new features. The o

[2019-07-23 02:11] kouvel commented on #25680
Tiered compilation has a likelihood to become more dynamic in the future, so some things that may be possible now may not make sense in the future. For example:
- The call count threshold may not be a constant, it may vary based on how much the method is likely to benefit from a rejit
- The optimizing JIT used with tiering may diverge from the JIT used when tiering is disabled, it may choose to sp

[2019-07-23 02:14] omajid commented on #25821
FWIW, I intend to contribute the changes for cgroupv2 support in coreclr (unless someone else does it before me).

[2019-07-23 02:17] kouvel opened #25823 "[EventListener] Reported Task and Opcode are incorrect for events"
Code:

[code]

Output:

[code]

- For these events the expected `Task` is `31`
- For the `Pause`/`Resume` events the expected `Opcode`s are `12` and `13` respectively
- The `Opcode`s for the `Start`/`Stop` events are correct

[2019-07-23 02:21] kouvel opened #25824 "[EventListener] Include thread ID"
`EventWrittenEventArgs` doesn't appear to provide information about which thread fired the event. It would be useful to have that information to be able to associate paired events such as `Start`/`Stop` that may be fired from multiple threads concurrently.

[2019-07-23 02:24] VincentBu opened #25825 "System.IO.IOException : The process cannot access the file"
**Job:**
https://mc.dot.net/#/user/coreclr-corefx/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcorefx~2F/20190722.1/workItem/System.IO.FileSystem.Tests/analysis/xunit/System.IO.Tests.EncryptDecrypt~2FEncryptDecrypt_Read

**Log:**
[code]

[2019-07-23 02:33] VincentBu opened #25826 "Assert failure: (GetComponentSize() <= 2) || IsArray()"
**Job:**
https://mc.dot.net/#/user/coreclr-gcstress-extra/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190721.1/workItem/baseservices.threading.generics/analysis/xunit/baseservices_threading._generics_WaitCallback_thread25_thread25_~2F_generics_WaitCallback_thread25_thread25_sh

**Failed tests:**
baseservices_threading._generics_WaitCallback_thread25_thread25_._generi

[2019-07-23 04:04] jkotas commented on #25787
I think it should be fine to fix `parseProfileData` to deal with multiple `CORBBTPROF_SECTION_TABLE_HEADER` sections.

[2019-07-23 05:41] mikedn commented on #25820
Recognizing that `CheckValidLastByte` seems to be pretty involved and it's not clear how common this pattern is for the extra code added to the JIT to be useful. Besides, `bzhi` is exposed as an intrinsic so people can use it if they truly need it.

But I'm baffled by the generated code - there's a `movzx rdx, dx` somewhere in the middle but it seems that it should have been `movzx rdx, dl`. Hopef

[2019-07-23 06:29] davidfowl opened #25827 "Specify the argument name when throwing arugment out of range exceptions in Span APIs"
As an example https://github.com/dotnet/coreclr/blob/53b1a71d230851f32a2bf904ed030f2755bcf253/src/System.Private.CoreLib/shared/System/Span.Fast.cs#L76-L92. None of these specify the argument that is out of range (e.g. start).

[2019-07-23 08:31] k15tfu commented on #25698
@janvorli So, what do you think about adding the ability to show some kind of these Frames in DoStackSnapshot() like HelperMethodFrame & InlinedCallFrame because they can be useful for app developers, but still ignore other special frames like GCFrame ?

[2019-07-23 08:58] swift-kim commented on #25787
@briansull
Could I ask what `ibcmerge.exe` is normally supposed to do with ibc files and DLLs? Is it responsible for combining and reorganizing profiling data from multiple scenarios in a single/multiple ibc files in general? If so, which one do you think is responsible for the job in a scenario where we don't have `ibcmerge.exe`, EE or crossgen?

[2019-07-23 09:51] octum-mf commented on #25149
Hi @brianrob ... unfortunately I didn't quite udnerstand what you were trying to say.
Can you provide an example how the commandline would be correct?

Hey @andy-ms /cc @Maoni0
We had another "lucky" run ...
We would greatly appreciate it if you could take a look at it ...
![grafik](https://user-images.githubusercontent.com/51707300/61702281-d2a3b600-ad3f-11e9-9c41-6aa70518fc6f.png)
Yet another bl

[2019-07-23 10:00] EgorBo commented on #25820
@mikedn oops, sorry I was on that branch with `goto CM_OP_EQ`  will fix that first.

That's why I filed this issue first, to hear your thoughts, thanks!

[2019-07-23 10:00] #25820 closed

[2019-07-23 10:13] EgorBo opened #25829 "Math.FusedMultiplyAdd suboptimal codegen"
I was implementing a popular math `Lerp` function using `FusedMultiplyAdd` (see [this post](https://devblogs.nvidia.com/lerp-faster-cuda/) in Nvidia's blog) and noticed that `MathF.FusedMultiplyAdd` only generates `vfmadd213ss` and doesn't care about signs.

So my Lerp is:
[code]
RuyJIT:
[code]

Clang/gcc:
[code]

So even a simple:
[code]
generates redundant xors:
[code]
while could be just:
[code

[2019-07-23 10:48] mikedn commented on #25820
Well, I was referring to the official JIT team people :smile:

[2019-07-23 11:42] EgorBo commented on #25829
hm.. workaround:
[code]

[2019-07-23 12:14] #25697 closed

[2019-07-23 12:31] Suchiman commented on #25818
The GC is written to have OS operations (virtual memory management, thread management, etc.) abstracted away by the `GCToOSInterface`. That interface is traditionally implemented by the VM (virtual machine, or the runtime side). The CoreCLR VM was written for windows, so, to bring it cross platform quick, the PAL was introduced, which emulates windows API calls, so that the VM does not need to be

[2019-07-23 13:11] stephentoub commented on #25827
I believe at this time this was done explicitly to minimize code size, but I don't know the details of the measurements performed and whether the impact was meaningful or not.

cc: @ahsonkhan, @GrabYourPitchforks

[2019-07-23 13:13] stephentoub commented on #25824
Isn't the event fired synchronously, in which case you can just look at Environment.CurrentManagedThreadId?

[2019-07-23 13:13] mmayr-at commented on #25731
cc @karelz

[2019-07-23 13:14] tannergooding commented on #25829
Yeah, the initial intrinsic support I did was very limited. It needs to be updated for .NET 5 to recognize the various common patterns and to emit the appropriate instruction overload.

[2019-07-23 14:15] adamsitnik opened #25832 "Potential performance regression: System.Collections.Concurrent.AddRemoveFromSameThreads benchmarks"
Some of the `System.Collections.Concurrent.AddRemoveFromSameThreads` benchmarks are up to 3-4 times slower compared to 2.2. These are Concurrent benchmarks, so it's a **potential** regression that requires a verification.

[Source code](https://github.com/dotnet/performance/blob/master/src/benchmarks/micro/corefx/System.Collections/Concurrent/AddRemoveFromSameThreads.cs)
[BenchView](https://benchv

[2019-07-23 14:18] adamsitnik commented on #25728
Just to make sure I confirm that OSes other than Windows are not affected:

## System.Tests.Perf_DateTime.GetUtcNow

| conclusion |  Base |   Diff | Base/Diff | Modality | Base Runtime    | Diff Runtime                      | Arch  | Processor Name                              | Operating System    |
| ---------- | -----:| ------:| ---------:| -------- | --------------- | -------------------------

[2019-07-23 14:31] stephentoub commented on #25832
@DrewScoggins and @billwert already asked about this offline a few weeks ago.  Here was @jkotas' response:

"The sources for tests that Kount has used to test the spinning changes are here: https://github.com/dotnet/coreclr/pull/13670#issuecomment-325858065

The regression is the case that Kount’s PR https://github.com/dotnet/coreclr/pull/21722 description is talking about:
in some cases fewer thr

[2019-07-23 14:49] adamsitnik opened #25833 "Performance regression: one test case of System.IO.Compression.Brotli benchmarks"
The `System.IO.Compression.Brotli.Compress_WithState(level: Optimal, file: "sum")` has regressed, other test cases of this benchmark have improved or stayed the same.

# Repro

[code]

# Results for multiple OSes and Hardware Configs

* Statistical Test threshold: 5%, the noise filter: 0.3 ns
* Base is Median Base in ns
* Diff is Median Diff in ns

## System.IO.Compression.Brotli.Compress_WithStat

[2019-07-23 14:52] adamsitnik commented on #25832
@stephentoub does this mean that this benchmark needs a redesign?

[2019-07-23 14:53] stephentoub commented on #25832
It means it should be tweaked.

[2019-07-23 14:56] BruceForstall commented on #25826
This was `gcstress0xc_zapdisable_jitstress2`

[2019-07-23 14:57] BruceForstall commented on #25826
@sergiy-k @kouvel

[2019-07-23 14:58] adamsitnik opened #25834 "Performance regression: CompareInfo.IndexOf"
Some of the `CompareInfo.IndexOf` have regressed, some have improved.

# Repro

[code]

# Results for multiple OSes and Hardware Configs

* Statistical Test threshold: 5%, the noise filter: 0.3 ns
* Base is Median Base in ns
* Diff is Median Diff in ns

## System.Globalization.Tests.Perf_CompareInfo.IndexOf(culture: es-ES, source: "??????????????????????????????????????????????????????????????????

[2019-07-23 15:12] CarolEidt commented on #16528
FIxed with #22489

[2019-07-23 15:12] #16528 closed

[2019-07-23 15:22] adamsitnik opened #25835 "Performance regression: SpanCastBenchmark on AMD"
`System.Numerics.Tests.Constructor` defines two kinds of benchmarks: [ConstructorBenchmark](https://github.com/dotnet/performance/blob/master/src/benchmarks/micro/corefx/System.Numerics.Vectors/GenericVectorFromSpanConstructorTests.cs) and [SpanCastBenchmark](https://github.com/dotnet/performance/blob/master/src/benchmarks/micro/corefx/System.Numerics.Vectors/GenericVectorConstructorTests.cs). All

[2019-07-23 15:22] adamsitnik commented on #25835
Results for more OSes and Hardware:

<details>

# Legend

* Statistical Test threshold: 5%, the noise filter: 0.3 ns
* Base is Median Base in ns
* Diff is Median Diff in ns

## System.Numerics.Tests.Constructor.SpanCastBenchmark_Double

| conclusion | Base | Diff | Base/Diff | Modality | Operating System     | Arch  | Processor Name                              | Base Runtime    | Diff Runtime

[2019-07-23 15:26] adamsitnik opened #25836 "Performance regression: EmptyAsyncMethodInvocation benchmark"
# Repro

[code]

## System.Threading.Tasks.Tests.Perf_AsyncMethods.EmptyAsyncMethodInvocation

| conclusion |  Base |  Diff | Base/Diff | Modality | Operating System     | Arch  | Processor Name                              | Base Runtime    | Diff Runtime                     |
| ---------- | -----:| -----:| ---------:| -------- | -------------------- | ----- | ------------------------------------

[2019-07-23 15:35] adamsitnik commented on #25726
@AndyAyersMS in case you are interested we have run all the benchmarks for more OSes and hardware configurations. It looks like AMD is not affected and newer Intels are less affected:

/cc @tannergooding

<details>

# Legend

* Statistical Test threshold: 5%, the noise filter: 0.3 ns
* Base is Median Base in ns
* Diff is Median Diff in ns

## Span.IndexerBench.KnownSizeCtor(length: 1024)

| conclu

[2019-07-23 15:44] tommcdon commented on #25709
Close as the fix was merged to 3.0 on #25799

[2019-07-23 15:44] #25709 closed

[2019-07-23 15:46] adamsitnik opened #25837 "Performance regression: two test cases of BinaryFormatter benchmarks"
`BinaryFormatter` has improved in most of the scenarios but regressed in two.

[code]

<details>

# Legend

* Statistical Test threshold: 5%, the noise filter: 0.3 ns
* Base is Median Base in ns
* Diff is Median Diff in ns

## MicroBenchmarks.Serializers.Binary_FromStream&lt;LoginViewModel&gt;.BinaryFormatter_

| conclusion |    Base |    Diff | Base/Diff | Modality | Operating System     | Arch

[2019-07-23 15:47] MichalStrehovsky opened #25838 "Crossgen /createpdb option doesn't have enough test coverage"
I would expect we would at least try to use createpdb with Pri0 tests and make sure it's not bogus.

The option didn't work when default interface methods are present.

[2019-07-23 15:49] tommcdon commented on #23168
@PathogenDavid thank you for opening the feedback item.  We are working with the appropriate teams to investigate the issue.

[2019-07-23 15:54] danmosemsft commented on #25837
https://github.com/dotnet/corefx/commit/190132d89e47d2623372485b207f4371e05529e1 is the only change in this period to BinaryFormatter itself.

cc @ViktorHofer @Anipik

[2019-07-23 16:01] adamsitnik opened #25840 "Performance regression: string.Trim"
`string.Trim` have regressed compared to 2.2. IMHO the test cases we have today rather don't test common use cases of `string.Trim`, it would be good to verify how more realistic test cases are affected.

I don't know the implementation details, it **may** be related to https://github.com/dotnet/coreclr/issues/25834

[code]

<details>

# Legend

* Statistical Test threshold: 5%, the noise filter:

[2019-07-23 16:07] adamsitnik opened #25841 "Performance regression: PerfLabTests.StackWalk.Walk"
The [PerfLabTests.StackWalk.Walk](https://github.com/dotnet/performance/blob/master/src/benchmarks/micro/coreclr/perflab/StackWalk.cs) is very unique, it uses `GC.Collect(0)` to test the performance of stack walking. So the regression can be related to stack walking or GC.

The benchmark was run using BenchmarkDotNet which by default runs the benchmarks using default GC settings for console app.

[2019-07-23 16:25] danmosemsft commented on #25834
I'm guessing all or most of this is from vectorizing (https://github.com/dotnet/coreclr/commit/b526affff2190b05f3896933ea3dd3f6b02879dc)

That would show up as a regression at the smallest lengths, in return for huge improvements at the longer lengths like the bottom one here.

[2019-07-23 16:25] adamsitnik opened #25842 "Potential regression: Dictionary of Value Types"
It looks like `TryGetValueFalse`, `IndexerSet` and `ContainsKeyFalse` benchmarks have regressed for Dictionaries of Value Types (at least for int).

If you run the benchmarks from command prompt on Windows remember to escape the `<` and `>` characters https://stackoverflow.com/questions/251557/escape-angle-brackets-in-a-windows-command-prompt

[code]

<details>

# Legend

* Statistical Test thresh

[2019-07-23 16:27] danmosemsft commented on #25840
Trim doesn't appear to use IndexOf, so #25834 may not be the cause.

[2019-07-23 16:29] MichalStrehovsky commented on #25813
Likely the same issue as #25690. Let's see if this reproes once #25770 is merged.

[2019-07-23 16:49] tarekgh commented on #25834
@benaadams already had some perf numbers for IndexOf here https://github.com/dotnet/coreclr/pull/2107. I think @danmosemsft is right.

[2019-07-23 16:52] tarekgh commented on #25834
I moved it to the future milestone till @benaadams reply. So either will close the issue, or we'll bring it back to 3.0 if we think we need to do something more here.

[2019-07-23 16:54] danmosemsft commented on #25825
This test does `Path.GetTempFileName()` with `uUnique==0` which should reliably create a new file. Then it does `File.WriteAllText` to it and `File.ReadAllText` from it. Both of those close the handle. Then `File.Encrypt` method calls `EncryptFileW` passing that path and it's reporting it's not able to open the file for write.

So it's not clear what's going on. A bug in `EncryptFileW` ? Another t

[2019-07-23 16:56] adamsitnik opened #25843 "Potential performance regression: Process.GetCurrentProcess() on Windows"
It looks like `Process.GetCurrentProcess()` have regressed on Windows.

[code]

It's also suprising that the method is 4 times slower on Ubuntu 18 compared to Ubuntu 16.

## System.Diagnostics.Perf_Process.GetCurrentProcess

| conclusion |   Base |   Diff | Base/Diff | Modality | Operating System     | Arch  | Processor Name                              | Base Runtime    | Diff Runtime

[2019-07-23 16:58] sergiy-k commented on #25826
@MichalStrehovsky, could you please take a look?

[2019-07-23 17:01] josalem commented on #25738
@tommcdon I'm going to reopen this as a means of tracking whether we port this change to 3.next.  Feel free to re-close it at any point if it is creating noise.

[2019-07-23 17:02] adamsitnik commented on #25834
I think that we should just add a simple fast check for the small size input and jump to the part that handles sizes smaller than vector size.

[2019-07-23 17:06] mikedn commented on #25835
FWIW the only difference in the generated code is `vzeroupper`:
[code]
[code]

[2019-07-23 17:09] CarolEidt commented on #25468
I'm not sure how to identify the package version. I installed this on a raspberry pi running Ubuntu 18.04, with a simple `sudo apt-get install libgdiplus`, and it's dated Feb of 2017. Walking through the assembly clearly shows that the initializations here: https://github.com/mono/libgdiplus/blob/master/src/pngcodec.c#L118-L120 aren't happening, and indeed they were added by @akoeplinger in this c

[2019-07-23 17:15] danmosemsft commented on #25834
now I look at the PR, I see that @benadams reports it was faster even for short strings. However his [test program](https://gist.github.com/benaadams/177d989fea110f51fab14cd708239852) apparently only included "hits" and those hits are always in the middle.

I think I remember in @eerhardt 's original IndexOf vectorization, he found that there was no approach that didn't regress at least one variat

[2019-07-23 17:17] danmosemsft commented on #25834
I'm not suggesting that the results above are necessarily the best we can do...

[2019-07-23 17:29] tannergooding commented on #25835
Well `vzeroupper` and the generated code size (using the 2-byte VEX rather than the 3-byte VEX encoding).

Perhaps the instruction window was shifted just enough to cause the regression?

[2019-07-23 17:42] kouvel commented on #25824
The callback is happening on a thread pool thread and it's a different thread from the thread that fired the event (main thread in this case).

[code]

[2019-07-23 17:46] benaadams commented on #25834
Change was only for Ordinal; these include culture compares and ignore case

[2019-07-23 17:54] kouvel commented on #25836
CC @tarekgh

[2019-07-23 18:10] stephentoub commented on #25824
Ah, EventPipe is doing the offloading.

[2019-07-23 18:10] danmosemsft commented on #25834
Oops. I didn't notice that. Red herring, then.

[2019-07-23 18:19] briansull commented on #25787
I examined your .ibc data files and they appear to be corrupt as the IbcMerge tool has trouble parsing.them.  It fails at the point of reading the DateTime information in the IBC Scenario Data.
When I added a try.catch to proceed past this point the data structure is still corrupted as the
Command line length information is wrong.

This is an area that was updated to get things working for LInux i

[2019-07-23 18:21] briansull commented on #25787
I don't believe it is possible for use to use the  IBC data to optimize your assemblies with using the Ibcmerge.exe tool to pre-process the profile data before attaching it to the assembly as a resource.

[2019-07-23 18:29] JeremyKuhne commented on #25825
Windows.10.Amd64.Open-x64-Checked

I presume antivirus. Unless we see this in the history I'd close it personally. It _might_ possibly help to not be creating a file in the root of the temp folder. (On the off chance there is some other test cruising the root of the temp folder.)

[2019-07-23 18:43] tarekgh commented on #25836
@stephentoub any idea of any change affect this case perf?

[2019-07-23 18:53] aggieben commented on #25809
@danmosemsft Strangely enough, a reboot appears to have fixed this.  I've had VS2019 for a long time.  Maybe installing specific dependencies is what supplied the correct tooling, and had to be picked up on a reboot?  I don't know.  Thanks for the tip.

[2019-07-23 18:54] danmosemsft commented on #25809
This is very likely the case. Although, VS should prompt to reboot in this case...

[2019-07-23 18:54] danmosemsft commented on #25809
I'll close, please reopen if this isn't properly fixed

[2019-07-23 18:54] #25809 closed

[2019-07-23 18:58] danmosemsft commented on #25843
Not an obvious candidate for the cause. Next step is to compare profiles, I think.
https://github.com/dotnet/corefx/commit/81bd671efda5db20fae1eb381aeff2cf8ea727ac
https://github.com/dotnet/corefx/commit/704a9669e69ef5faae55ca438e9850b8aa0e9ec5

[2019-07-23 19:54] Maoni0 commented on #25821
that's wonderful to hear; thanks @omajid!

[2019-07-23 20:07] grubioe opened #25846 "MSB4094 when publishing WPF app with PublishReadyToRun and PublishTrimmed"
@vegardlarsen commented on [Sat Jul 20 2019](https://github.com/dotnet/wpf/issues/1327)

* .NET Core Version: 3.0.100-preview6-012264
* Windows version: Windows 10 version 1903 (OS Build 18362.239)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: N/A

 **Problem description:**

When creating a blank WPF app, and setting PublishTrimmed and PublishReadyToRun, you will get a MSB4094 erro

[2019-07-23 20:14] Maoni0 commented on #25841
@billwert @DrewScoggins will you be looking at this?

[2019-07-23 20:21] jorive commented on #25815
This failure is for a `runincontext.cmd` test permutation.

[2019-07-23 20:32] AndreyAkinshin commented on #25680
@kouvel thank you very much for such a detailed answer! Let me know if you come up with any ideas of additional BenchmarkDotNet features that may help to improve accuracy. By the way, we know the exact version of .NET Core during benchmarking, so we can introduce some heuristics for specific versions of .NET Core based on the knowledge of its internals.

It's a very good idea! It may also help to

[2019-07-23 21:57] tarekgh commented on #25836
Moved this one to the future according the bar this test scenario is really a corner case. We still will need to look at that at some point.

[2019-07-23 21:59] kouvel commented on #25824
Updated description to specify the kind of thread ID

[2019-07-23 22:47] billwert commented on #25841
@Maoni0 not unless you need help. If you download the perf repo on Windows you can use the built in ETW profiling to give you easy profiles (`-p ETW`) on the command line.

[2019-07-23 23:05] danmosemsft commented on #25825
Let see whether it reoccurs in this test specifically.

[2019-07-23 23:05] #25825 closed

[2019-07-23 23:08] danmosemsft commented on #25798
Do you need a .sln file for this to work? Most of coreclr doesn't have one, and there is no global one for corefx either.

[2019-07-23 23:17] Maoni0 commented on #25841
we dunno if this is caused by the GC or not. I was hoping someone would figure that out first.

[2019-07-23 23:17] tannergooding commented on #25798
No, the .vsconfig file is a file you can import into the VS installer to ensure the right workloads are selected.

[2019-07-23 23:49] directhex commented on #25468
apt-cache policy libgdiplus will tell you the installed version and all available versions in configured repositories

[2019-07-24 01:09] VincentBu commented on #20215
Test System.Threading.Tests.InterlockedTests/MemoryBarrierProcessWide failed again in:
https://mc.dot.net/#/user/coreclr-corefx/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcorefx~2F/20190723.1/workItem/System.Threading.Tests/analysis/xunit/System.Threading.Tests.InterlockedTests~2FMemoryBarrierProcessWide

message:
[code]

Stack Trace:
[code]

[2019-07-24 04:35] AdamSpeight2008 opened #25847 "IL Opcode for Range and Bound Checks"
Should we consider adding an opcode for;
range (`lowest <= value <= highest`) and
bound (`lowest<=value < highest `).
Then let the underlying runtime / jit / compiler take care of how it it is handled?
Eg the cpu has a dedicated range comparison instruction.

It would take three arguments, (Value, Lowest, Highest) then set Equals flag to true if in the value, otherwise set NotEquals flag to true.

[2019-07-24 05:04] mikedn commented on #25835
Hmm, maybe but the code doesn't have loops and it's rather difficult to justify a 7 cycles difference only from potential issues with branch target alignment. Anyway, updated disassembly dumps to include code address.

At least it's clear why the ctor benchmarks are faster - the Vector ctor got inlined.

And perhaps interestingly, the ctor benchmarks use `vzeroupper` both in 2.2 and 3.0 so if that

[2019-07-24 05:10] mikedn commented on #25835
Now that I updated the disassembly I noticed an issue that I haven't seen previously - the 2.2 version had some register ping pong issue that is no longer present in 3.0. That makes it even more strange how come 3.0 has become so slow.

[2019-07-24 05:43] ddobrev opened #25849 "Returning a UTF-8 string from unmanaged code"
How should UTF-8 strings be returned from C++ code? Does:

[code]

always work or should we use IntPtr + manual marshalling for most cases? In case it's the latter, why isn't [Marshal.PtrToStringUTF8](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.marshal.ptrtostringutf8?view=netstandard-2.1) available in .NET Framework too?

[2019-07-24 06:12] swift-kim commented on #25787
@briansull
I actually made another change in `ProfileDataAllocateScenarioInfo()` and probably it's breaking the IbcMerge parser. What I did was adding some `ALIGN_UP()`s in allocation of profile buffers to avoid SIGBUS on armel platform (due to an unaligned memory access), but I didn't update the sizes in structures (`cName`, `cCmdLine`, `cSystemInfo`) that would be expected by the parser.

The fo

[2019-07-24 08:08] k15tfu commented on #25676
@janvorli Yes, we surely can emulate it like this. I remember that we have already discussed it in another issue, thanks again for that =) But it doesn't help me to avoid this problem, because the root case is that I use the context taken from signal handler (I simply cannot get the context any other way) when the thread can be stopped at an arbitrary moment.

@mjsabby I still do not know if I nee

[2019-07-24 08:34] k15tfu commented on #25589
Btw, @janvorli one of the way to work with unsafe functions from a signal handler is to guarantee that signal will not be delivered during such functions, therefore http://man7.org/linux/man-pages/man7/signal-safety.7.html suggests to block signals before calling them. So, if I don't do anything printf-related in my program, I can safely use printf() in signal handler. What if I do all DoStackSnap

[2019-07-24 08:38] AriNuer opened #25850 "Test failure: tracing_eventcounter._regression_25709_regression_25709_/_regression_25709_regression_25709_sh"
The test `tracing_eventcounter._regression_25709_regression_25709_/_regression_25709_regression_25709_sh` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : Master - 20190723.2 (Ready-To-Run Tests)
Failing configurations:
- Ubuntu.1604.Amd64
  - x64

Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctiona

[2019-07-24 09:10] k15tfu opened #25851 "Block signals when using libunwind"
Hi!

Here is the problem I was talking about a week ago: RaiseException() uses your bundled libunwind, which has mutex to protect struct dwarf_rs_cache in find_reg_state(). AFAIK libunwind has reentrancy protection, but it's under CONFIG_BLOCK_SIGNALS flag, which is turn off in coreclr. Thus, without this flag, I get the following deadlock:
[code]

cc @davmason @janvorli

[2019-07-24 09:10] filipnavara commented on #25834
Do you guys have the historical benchmark runs so we can pinpoint the time frame of the regression? (Some graphs poped up on other performance related issues so I hope you do.)

I was messing with System.Globalization.Native and would like to rule it out as the cause. It is unlikely to be the cause because the regression also affects Windows but I would like to have some solid data to be sure.

[2019-07-24 09:21] Zonciu opened #25852 "Struct value doesn't initialize correctly on .NET Framework target"
By adding redundant type cast, `Vec2` gets correct result.
## S1 (bug)
[code]
## S2 (ok)
[code]
[code]
## Test results

Reproduction project: [BugTest.zip](https://github.com/dotnet/coreclr/files/3425749/BugTest.zip)

Tested version:

| net472 fx | net472 | net461 | 3.0 | 2.2 | 2.1 |
| --------- | ------ | ------ | --- | --- | --- |
| - | bug | bug | - | - | - |

* NETCore3.0 (SDK 3.0.100-preview7

[2019-07-24 11:06] k15tfu commented on #23383
Hi! As I already said we want to control environment variables from profiler. On Windows all of these cases work:
* Run C# app with the profiler, and profile all its childs -- in this way we just set `CORECLR_PROFILER` & other variables before starting the process.
* Run C# app with the profiler, but do not profile its childs -- similar to no.1, but we clear these variables in `ICorProfilerCallbac

[2019-07-24 14:41] EgorBo opened #25857 "Math.Round returns different values for the same input."
When mscorlib is prejitted (by default), the platform intrinsics are not used, e.g. `MathF.Round` won't use `SSE` (see https://github.com/dotnet/coreclr/pull/25365). Then as far as I understand, it could be re-compiled for tier1 if it's in a hot method and will use SSE instead). Is it ok that it might start returning different values for the same input? E.g.

[code]
Output is:
[code]

/cc @tannerg

[2019-07-24 15:04] EgorBo commented on #25857
Btw, `Decimal` (type for money) uses `Math.Round` under the hood.

[2019-07-24 15:14] CarolEidt commented on #25468
Here's what it says:
[code]

[2019-07-24 15:21] directhex commented on #25468
If you want newer than is available via the Ubuntu repositories, add the repositories on https://www.mono-project.com/download/stable/

[2019-07-24 15:22] cskwrd opened #25859 "Errors when trying to test coreclr built from source"
I am trying to follow this guide: [Using your .NET Core Runtime Build with dotnet cli](https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/UsingDotNetCli.md)

I have met the first pre-req. (Meaning I have built the source). I have **NOT** added the latest SDK to my _PATH_, but I have tested using [master](https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-

[2019-07-24 15:41] MichalStrehovsky commented on #25826
I'm not able to hit an assert. I built the x64 checked version of the product, ran `./build-test.sh x64 checked priority1` and then:

[code]

Then in gdb:

[code]

So yep, it's a corruption, and the stack is garbage. But this is not the assert that is in the top-post and I'm hitting this segfault for all tests (or at least a random sample I did).

I think I'm doing something wrong.

Also, the repr

[2019-07-24 15:55] tannergooding commented on #25857
This is not expected and is not ok. I will follow up.

[2019-07-24 16:08] abelykh0 opened #25861 "SmtpClient.Send crashes with Segmentation fault"
The example below crashes with Segmentation fault on Linux. The same code works fine (i.e. throws `System.Net.Mail.SmtpException`) in 2.2 or preview 6.

[code]

[code]

[2019-07-24 16:13] tommcdon commented on #25850
@sywhang

[2019-07-24 16:35] AndyAyersMS commented on #25834
Looking just at that first result for now, and guessing that the "??..." is really the "すす..." case.

The BDN perf history (this matches up with the Haswell data in the above, I think) only goes back ~3 months and the regression evidently happened before then:

![image](https://user-images.githubusercontent.com/10121823/61808613-9b411200-adf0-11e9-9cd2-e6cd7e2a1fb9.png)

The older xunit-perf histo

[2019-07-24 16:47] filipnavara commented on #25834
Thanks for the detailed write up. My last changes in the code area happened at second half of April so I am not totally off the hook just yet :-)

[2019-07-24 17:25] BruceForstall commented on #25826
This is GCStress, so you're probably hitting the GCStress-added illegal instructions. If you look at disassembly, you'll probably see lots of "hlt" instructions. I think there's a way to get gdb/lldb to ignore them, but I don't remember the incantation right now. They're also not as flexible as windbg in ignoring just the GCStress ones. Make sure you try to repro without GCStress first, just to ch

[2019-07-24 17:30] AndyAyersMS commented on #25826
For LLDB, see https://github.com/dotnet/coreclr/issues/19211#issuecomment-459925499

[code]
also you will want to set stress env vars from inside the debugger, not in the debugger ambient environment, as SOS will invoke a CLR and pick up those ambient settings (that is, you don't want SOS running under gc stress too).

[2019-07-24 17:44] danmosemsft commented on #25847
I believe we generally prefer that codegen learn to recognize IL patterns (like this one) rather than attempt to represent them with new IL opcodes since that would also require changes not only to the compiler as well but every tool everywhere that decompiles or analyzes IL and also would not benefit existing binaries.

[2019-07-24 18:46] billwert commented on #25841
@adamsitnik do you happen to have traces? If not I can take a quick look.

[2019-07-24 18:53] sdmaclea commented on #14926
@noahfalk @mikem8361

This was the PR I was commenting on in the stand up a few days ago.

Per @cshung analysis above, the https://github.com/dotnet/coreclr/blob/df0cd2cd2c026af3aff78206bed6b45429dc9e19/src/debug/ee/controller.cpp#L5108 check is using the StackPointer instead of the FramePointer in this code.

https://github.com/dotnet/coreclr/blob/df0cd2cd2c026af3aff78206bed6b45429dc9e19/src/debu

[2019-07-24 19:19] MichalStrehovsky commented on #25826
Thanks for the hints. I think I'm not doing something right though.

When I pick a random test (e.g. `reflection/ldtoken/byrefs`), I consistently get segfaults even without a debugger:

[code]

Once I clear out COMPlus_GCStress, the test works:

[code]

Is it possible GCStress doesn't work in WSL? Do I have to actually have to install Linux?

[2019-07-24 19:24] tmat commented on #25519
@dotnet/dotnet-diag We have seen multiple customer reports so far. Please prioritize accordingly.

[2019-07-24 19:39] TIHan opened #25865 "ILAsm does not support DIMs (Default Interface Methods)"
While ILDasm works on assemblies that have DIMs, it is not possible to re-assemble the IL.

IL code:
[code]

Error from ILAsm 2.0.8:
[code]

Not a huge deal, but was hoping to write tests for F# DIM consumption support against IL itself.

[2019-07-24 19:50] Symbai commented on #25623
For the records:
[code]
I guess this can be closed then?

[2019-07-24 19:53] jeffschwMSFT commented on #25623
@Symbai for now it can.  We have it on our roadmap to potentially offer convenience APIs to provide this sort of information.  We are gathering data on what makes the most sense.

[2019-07-24 20:25] PathogenDavid commented on #23168
@hoyosjs Thanks again for looking into this issue further. You mentioned on the feedback comments that you had a hunch as to why this was happening. Out of curiosity, any details worth sharing?

[2019-07-24 20:35] PathogenDavid commented on #23168
@hoyosjs

Also you mentioned:

Is this comment only in respect to stack traces/unmanaged exceptions in mixed mode debugging or do you think there's more issues than just that? Our code base is mixed C++/C# so we're basically *always* using mixed-mode debugging. If you think we're going to encounter more mixed-mode-related issues we might have to backpedal on our .NET Core migration until this fix

[2019-07-24 20:38] sirjeppe commented on #25623
For the record: I work for Microsoft, but have no work account for GitHub so I'm using my private one.

@jeffschwMSFT - The current page ([https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assembly.getentryassembly?view=netframework-4.8](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assembly.getentryassembly?view=netframework-4.8)) for at least the Assembly.GetEntryAsse

[2019-07-24 20:41] jeffschwMSFT commented on #25623
@sirjeppe docs have a separate tracking mechanism for feedback.  I would encourage this issue to be about the need for better API access and we can file a specific issue to update the wording.  Make sense?

[2019-07-24 20:42] sirjeppe commented on #25623
Absolutely! Do you mean this ticket will stay open until such APIs are in place or are you still agreeing that this issue will be closed and that a new ticket will be opened on the documentation clarification?

[2019-07-24 20:43] jeffschwMSFT commented on #25623
We may keep this one open for tracking the need for better API.  The doc feedback is better suited here: https://github.com/dotnet/docs

[2019-07-24 20:47] sirjeppe commented on #25623
Ok! I will report a second ticket there then. Thank you!

[2019-07-24 21:03] MichalStrehovsky commented on #25865
You need to use ILAsm that comes from .NET Core 3.0.

ILAsm that comes with desktop CLR doesn't support default interface methods because desktop CLR doesn't support them either.

[2019-07-24 21:09] sbomer commented on #25846
This is a duplicate of https://github.com/dotnet/sdk/issues/3257, which has been fixed. @vegardlarsen you should be able to get this working with a newer preview - please let us know if you have any other issues!

[2019-07-24 21:09] #25846 closed

[2019-07-24 21:43] AndyAyersMS commented on #25826
DId you install the stress support bits into Core_Root via `tests\setup-stress-dependencies.sh` ?

[2019-07-24 22:04] TIHan commented on #25865
Ok. I assumed it was since I got it from this package https://www.nuget.org/packages/Microsoft.NETCore.ILAsm/ - this is not the ILAsm I want to use?

[2019-07-24 22:13] AndyAyersMS commented on #25835
Yes, this is strange.

From what I've read, measuring perf on the Ryzen may be tricky because of the aggressive power management by the chip. Agner Fog says

@adamsitnik did you mean to post numbers from other HW? Also, do we have any evidence that getting reliable Ryzen measurements is a challenge?

[2019-07-24 22:18] RussKeldorph commented on #25865
@TlHan we no longer publish coreclr packages to nuget.org.  #20816 has some info on using the IL SDK.  If you find the instructions need updating, please let us know.

[2019-07-24 22:19] TIHan commented on #25865
Ah ok. I will look at it. We use `myget` in building F#, so this should be simple to grab. I'll let you know.

[2019-07-24 22:49] kichalla commented on #20236
We are seeing this error randomly in our CI agents. And when I look at the `/tmp` folder for files of type `MSBUILD-*.failure.txt`, I see the following content:

[code]

Few things to note:
1. We are building in a ` Ubuntu 16.04.6 LTS` based VM.
2. I do not see the `MSBUILD-*.failure.txt` getting created always.

[2019-07-24 23:09] tannergooding commented on #25835
I've had my Ryzen 1800x and never had problems getting consistent results across runs.

I believe you can also configure various power management states to help avoid that (both the built in ones and the customized ones AMD provides via their chipset driver).

The same goes for the 3900x I just got, although I'm still running various benchmarks on it.

[2019-07-24 23:13] hoyosjs commented on #25859
@cskwrd indeed, given some changes in a lot of our infrastructure and our SDK logic, the workflow presented on this document - which is a little brittle - has changed a bit.

Changes needed:

Part of the changes needed in your nuget config are related to engineering changes on our side, and the fact that you are using a nightly download. It should look more like this:

nuget.config:
[code]

In you

[2019-07-24 23:42] cskwrd commented on #25859
@hoyosjs Thanks for the information. Moments ago, I discovered (by way of this [guide](https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/UsingYourBuild.md#publish)) what confirms what you have written.

My working `nuget.config` file:
[code]
And my working `.csproj` file:
[code]

My final questions would be:

- The keys added to the `nuget.config` file are not mandatory, just as

[2019-07-24 23:56] hoyosjs commented on #25859
* I put all the feeds that could be necessary as a safe bet, as the restore logic requests a lot of packages that live in separate feeds. If that worked for you, it's OK. If as you increase the complexity of your application you need to add, then add as needed. If you mean the key value in the `<add key="local CoreCLR"...`, they don't really matter here.
* You can debug without it, there's a small

[2019-07-25 00:03] briansull commented on #25787
I was able to use the ibcmerge.exe tool to examine your new ibc data, it looks fine now:

You ran 6 scenarios:
Here is an example from **Tizen.Applications.Common.ibc.xml**

[code]

[2019-07-25 01:10] TIHan commented on #25865
Everything worked! Thanks and sorry for not knowing that everything went to `myget`.

[2019-07-25 01:15] #25865 closed

[2019-07-25 01:17] VincentBu opened #25870 "Internal.Cryptography.CryptoThrowHelper+WindowsCryptographicException"
**Job:**
https://mc.dot.net/#/user/coreclr-corefx-jitstress2-jitstressregs/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcorefx~2F/20190724.1/workItem/System.Security.Cryptography.Cng.Tests/analysis/xunit/System.Security.Cryptography.Cng.Tests.DSACngPkcs8Tests~2FNoPlaintextExportAllowsEncryptedPkcs8(algorithm:%20TripleDes3KeyPkcs12)

**Log:**
[code]

**Stack Trace:**
[code]

[2019-07-25 01:18] VincentBu commented on #25870
It seem to be related to [#25528](https://github.com/dotnet/coreclr/issues/25528)

[2019-07-25 01:23] #25850 closed

[2019-07-25 01:31] VincentBu opened #25871 "Assert failure: m_ThreadCount - m_UnstartedThreadCount - m_DeadThreadCount - Thread::m_ActiveDetachCount + m_PendingThreadCount >= m_BackgroundThreadCount"
**Job:**
https://mc.dot.net/#/user/coreclr-jitstress/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190723.1/workItem/baseservices.threading.generics/analysis/xunit/baseservices_threading._generics_WaitCallback_thread08_thread08_~2F_generics_WaitCallback_thread08_thread08_sh

**Failed tests:**
baseservices_threading._generics_WaitCallback_thread08_thread08_._generics_Wa

[2019-07-25 03:06] Gopinath-mahadevan opened #25872 "Method enter/exit hook not working for few methods"
I got the core clr profiler from the below link.
https://github.com/microsoft/clr-samples/tree/master/ProfilingAPI/ELTProfiler

I'm trying to find the time taken for execution of all methods. I created a single api .net core web application to test it. But method enter/exit hook is not working for the function i wrote.

Below is the sample code what I'm testing. Here enter hook works for ValuesCon

[2019-07-25 04:37] danmosemsft commented on #25623
@sirjeppe even better you could consider offering a PR in the docs repo...

[2019-07-25 04:50] noahfalk commented on #14926
I'd be supportive of fixing this is in 5.0, but I don't see a path where we could get enough confidence in the fix to ship it in 3.0. My impression of the stack walking code is that it has many layers of abstractions and various warts that have accumulated over a long time which makes analyzing it time consuming and error-prone. If we are going to make an attempt I'd recommend doing it towards the

[2019-07-25 04:57] cskwrd commented on #25859
Thanks!

[2019-07-25 04:57] #25859 closed

[2019-07-25 06:09] swift-kim commented on #25787
Related to #20496.

Commented by @adiaaida,

[2019-07-25 08:28] ww898 commented on #23383
Hi @noahfalk, I follow this discussion for a long time and I have the idea. What do you think about extend the  `ICorProfilerCallback10`? Just add method to modify/delete environment variable in it. Let it works only in `ICorProfilerCallback::Initialize()` or `ICorProfilerCallback3::InitializeForAttach()`.

[2019-07-25 11:23] adamsitnik opened #25873 "Performance regression: Casting on x86"
Few of the Casting benchmarks have regressed on x86.

## Repro

[code]

Last two rows of the presented tables contain x86 results (please see the Arch column).

<details>

## Legend

* Statistical Test threshold: 5%, the noise filter: 0.3 ns
* Base is Median Base in nanoseconds
* Diff is Median Diff in nanoseconds

## PerfLabTests.CastingPerf.FooObjCastIfIsa

| Conclusion |       Base |       Diff

[2019-07-25 11:36] adamsitnik opened #25874 "Performance regression: Formatting and Parsing numbers on x86"
In addition to #25730 I've rerun the benchmarks for x86. I've noticed that some of the benchmarks regressed only for x86.

Sample benchmarks:

[code]

Full details below:

<details>

# Legend

* Statistical Test threshold: 5%, the noise filter: 0.3 ns
* Base is Median Base in nanoseconds
* Diff is Median Diff in nanoseconds

## System.Tests.Perf_Single.ToStringWithFormat(value: 12345, format: "G17

[2019-07-25 11:49] adamsitnik opened #25877 "Performance regression: ArrayPool benchmarks 2x slower on AMD only"
For some reason, two test cases of the [System.Buffers.Tests.RentReturnArrayPoolTests](
https://github.com/dotnet/performance/blob/f5b106a4cbc8b37aba817d12bb41955349f61a83/src/benchmarks/micro/corefx/System.Buffers/ArrayPoolTests.cs#L85-L104) benchmark have regressed 2.5x on AMD only.

## Repro

[code]

## System.Buffers.Tests.RentReturnArrayPoolTests&lt;Byte&gt;.MultipleSerial(RentalSize: 4096, M

[2019-07-25 11:55] ezsilmar opened #25875 "Affinitizing GC threads to available cpuset in containers"
Hello,

After optimizing GC for a [small container scenario](https://devblogs.microsoft.com/dotnet/running-with-server-gc-in-a-small-container-scenario-part-1-hard-limit-for-the-gc-heap/) (commit ed52a006c01a582d4d34add40c318d6f324b99ba) GC threads are not affinitized by default if the app runs with a memory limit. This is fine in most cases but is not convenient if you use cpuset (instead of more

[2019-07-25 12:03] adamsitnik opened #25876 "Performance regression: Span<Int32>.SequenceCompareTo 33% slower on x86"
`Span<T>.SequenceCompareTo` :

* where T is Int32:
   * not changed for x64
   * **regressed for x86**
* where T is Char:
   * improved for x64
   * not changed for x86
* where T is Byte:
   * improved for both x86 and x64

[code]

<details>

## System.Memory.Span&lt;Int32&gt;.SequenceCompareTo(Size: 512)

| Conclusion |   Base |   Diff | Base/Diff | Modality | Operating System     | Arch  | Proce

[2019-07-25 12:55] adamsitnik opened #25878 "Performance regression: FileStream.ReadByte 5-10% slower"
[code]

<details>

## System.IO.Tests.Perf_FileStream.ReadByte(BufferSize: 512, TotalSize: 200000)

| Conclusion |       Base |       Diff | Base/Diff | Modality | Operating System     | Arch  | Processor Name                              | Base Runtime    | Diff Runtime                     |
| ---------- | ----------:| ----------:| ---------:| -------- | -------------------- | ----- | -----------

[2019-07-25 14:05] ww898 commented on #25567
Hi @davmason, I think that the root of all problems is receiving `ICorProfilerCallback` calls after `ICorProfilerCallback::Shutdown()`. It' a good question why! I had implemented the protection against it in my profiler - callback are ignored after `ICorProfilerCallback::Shutdown()`. I think that `ProfilingAPIUtility::IsProfilerEvacuated()` detected the issue above. And very important thing: I got

[2019-07-25 14:41] ant1l10nator opened #25881 "Building helloworld for .NET Core Android"
Hi,

I'm trying to compile .NET Core for Android and run a simple helloworld project.

I have been following the steps outlined here https://github.com/qmfrederik/coredroid however cannot seem to get forerun to execute helloworld.dll successfully.

I have tried a number of versions of coreclr/corefx however each had their own issues.

Is there any up-to-date compilation instructions for arm64 Andr

[2019-07-25 14:44] jeffschwMSFT commented on #25849
cc @jkoritzinsky

[2019-07-25 15:02] adamsitnik commented on #25841
I've run the benchmark with profiler enabled for latest 2.2 and 3.0 and filtered it to a single (last) iteration that was doing 10 benchmark invocations.

[code]

Top 2.2 methods:

![obraz](https://user-images.githubusercontent.com/6011991/61884567-bf8a1500-aefc-11e9-86da-bb9a2e86ad9d.png)

Top 3.0 methods:

![obraz](https://user-images.githubusercontent.com/6011991/61884743-0d9f1880-aefd-11e9-860

[2019-07-25 15:24] omajid opened #25882 "Unit tests for code under src/gc/ and ./src/pal/src/misc/ ?"
I am looking to port the changes in https://github.com/dotnet/corefx/pull/39686 to coreclr too. The coreclr code is getting a bit hairy and adding unit tests would give me confidence that everything is working as designed.

I am modifying these two files:

./src/gc/unix/cgroup.cpp
./src/pal/src/misc/cgroup.cpp

Are there existing unit tests (as in, tests that always run, irrespective of the enviro

[2019-07-25 15:38] dseefeld commented on #25488
This is impacting source-build.  We rely on round-tripping some assemblies using ildasm/ilasm to eliminate prebuilts.  Not having the ability to round-trip these assemblies with nullable attributes will increasingly impact our ability to get to zero prebuilts, especially as usage of the nullable attribute increases.

[2019-07-25 15:39] danmosemsft commented on #25877
Is this with @tannergooding fix to the memcpy issue?

[2019-07-25 15:58] dseefeld commented on #20262
This issue is preventing source-build from getting to zero-prebuilts.  We need to include these assemblies as prebuilts, since they can't be round-tripped with ildsam/ilasm.

[2019-07-25 15:58] Anna-Guseva commented on #25313
@davmason
Is this fix included in preview7 version?
I've installed 3.0.0-preview7-27912-14 but the behavior has not changed. I can still attach two profiles at the same time.

[2019-07-25 15:59] BruceForstall commented on #25870
@AndyAyersMS @bartonjs Looks like another case of the same.

[2019-07-25 16:06] omajid commented on #25882
Additional question: there's a file `src/pal/tests/palsuite/miscellaneous/CGroup/test1/test.cpp`. This isn't a unit test, is it? It requires some setup which means it's too environment dependent to be a useful unit test.

[2019-07-25 16:10] MichalStrehovsky commented on #25826
The build-tests.sh script already installs those, but I re-ran it to be sure. Didn't help.

I ended up trying on a real Ubuntu box and there it doesn't segfault. So maybe the segfault under GCStress is WSL-specific.

I'm running the test in a loop hoping for a crash now.

[2019-07-25 16:47] mrmartan commented on #22302
As @janvorli said:

Whatever you did is IMHO not sufficient.
Your discussion here turns around two docker arguments. It in fact runs deeper, to the way those settings are propagated to OS kernel. And there are more docker options than those two (and I suppose docker can change the way they map those onto OS). I know Kubernetes uses different docker options than those discussed here. See: https://m

[2019-07-25 17:10] tommcdon commented on #25872
@davmason

[2019-07-25 17:35] lpereira commented on #18617
Opening a parenthesis here, since this will touch an area that I was looking into the other day: `LoaderHeap` makes successive calls to `mprotect()`, with pointers increasing by `0x1000`, page size `0x1000`, and same protection (usually `PROT_READ|PROT_WRITE`, sometimes `PROT_EXEC` is thrown in there).  Although each of these calls are just a few dozen microseconds each, many of them could be coal

[2019-07-25 17:56] jashook opened #25884 "[Fast Tail Call] Caller multislot structs can cause an incorrect fast tail call decision"
The following case can cause a crash in LowerFastTailCall on unix x64.

[code]

This is related to https://github.com/dotnet/coreclr/issues/12468.

[2019-07-25 18:09] CarolEidt commented on #25468
@directhex - I have updated libgdiplus, but it still has the uninitialized variable, i.e. it doesn't seem to have the commit I referenced above. I confirmed that `unit_type` already has the value 1 when its address is passed to `png_get_pHYs` on this line: https://github.com/mono/libgdiplus/blob/master/src/pngcodec.c#L121.

apt-cache policy libgdiplus now gives:
[code]
I don't know how to translat

[2019-07-25 18:11] Maoni0 commented on #25875
if you did specify affinitymask we will use that as your intention to affinitze so this is by design.

as long as we can know which cores the container is affinitized to, we can have GC automatically affinitize threads on them. @janvorli would you have time to work on this?

[2019-07-25 18:13] briansull commented on #25787
The IBCMerge tool has been ported to work on Linux systems, so IBCMerge is now is multi-platform.
But I'm not sure exactly what you are asking for here.
It looks like you can now successfully generate IBC profile data when running your scenarios.

And in order to utilize partial ngen via crossgen the IbcMerge tool must be used to attach the profile data to each assembly that wants to utilize parti

[2019-07-25 18:15] #8960 closed

[2019-07-25 18:15] #11490 closed

[2019-07-25 18:25] mikem8361 commented on #15062
For managed live debugging via the ICorDebug API, this isn't needed now for arm/arm64  now that the FEATURE_DATATARGET4 is defined.

Also, SOS under lldb works because it implements the DataTarget4's VirtualUnwind.

But as it turns out, implementing this for arm/arm64 is important for three other scenarios:

1) "createdump" uses PAL_VirtualUnwindOutOfProc directlry to make sure the code/stack for

[2019-07-25 18:26] CarolEidt commented on #25468
Note that it takes a very specific scenario for this bug to be exposed. The uninitialized stack location for `unit_type` must be exactly 1.
Before this bug just disappears due to unrelated changes in code generation that would cause the stack to grow or shrink (and thus change the uninitialized value), I'd like to see us get a new version that we can validate does not have the bug, so then we can

[2019-07-25 18:29] jashook commented on #25884
The issue with this is the 32byte struct will have its stack slots overwritten in LowerFastTailCall. So by the time it tries to pass s.one, it will pass a corrupted value.

[2019-07-25 18:30] glenn-slayden commented on #14187
@stephentoub Nice. With the following tweak of your `DriftTest` code from above, one can easily demonstrate the higher resolution of the so-called "precise" `FILETIME` API, as compared with two other techniques. Only the "precise" API reliably shows a different timestamp on the two immediately sequenced calls.

    static class DriftTest
    {
        [DllImport("kernel32.dll")]
        static ext

[2019-07-25 18:44] briansull commented on #20262
Investigating.

I note that currently  System.Runtime.dll roundtrips just fine, but I do see the behavior describe here for  System.Private.Corelib.dll:

[2019-07-25 18:51] JeremyKuhne commented on #25878
Nothing sticks out with a cursory glance at the sources. :( @stephentoub, wouldn't the buffer be a good candidate for the new internal GC non zeroing API?

cc: @carlossanlop

[2019-07-25 18:54] danmosemsft commented on #25881
@qmfrederik

[2019-07-25 18:54] stephentoub commented on #25878
I'd prefer to use ArrayPool :)

[2019-07-25 18:59] JeremyKuhne commented on #25878
https://github.com/dotnet/performance/blob/0c626c0de72e9e018bb02d0f92b97117098f1fee/src/benchmarks/micro/corefx/System.IO.FileSystem/Perf.FileStream.cs#L36-L49

[2019-07-25 19:01] stephentoub commented on #25878
Thanks.  With "only" 200K iterations inside the test, the cost of creating the FileStream and everything it does, syscalls and allocation and all, could certainly affect the overall perf of the test, considering that ReadByte on most accesses is a few checks and an array access.

[2019-07-25 19:13] hoyosjs commented on #23168
@PathogenDavid there are a few known bugs with interop debugging, even from the framework days. Most of them vanish when you debug mixed mode x64. I haven't seen that many interop debugging bugs reported on CoreCLR, so I'd expect the maturity here is helping us. During these type of migrations what you might find easier is keep framework, and try to have most components target `netstandard`. Then

[2019-07-25 19:32] davmason commented on #25313
It is not in preview 7. It will be in preview 8 and any future builds.

[2019-07-25 20:20] davmason commented on #25872
Hi @Gopinath-mahadevan,

You aren't seeing the function entered callbacks because your functions are being inlined since they are so small. This is normal behavior and you will see inlining happening all over.

As a profiler author you have a couple methods to deal with this (each one has it's own set of benefits and drawbacks though)

- Monitor jit inlining through the `ICorProfilerCallback::JitI

[2019-07-25 20:31] briansull commented on #20262
d:\fxkit\coreclr\bin\tests\Windows_NT.x64.Debug\Tests\Core_Root>ildasm.exe System.Private.CoreLib.dll -all -out=System.Private.CoreLib.il

d:\fxkit\coreclr\bin\tests\Windows_NT.x64.Debug\Tests\Core_Root>ilasm System.Private.CoreLib.il -dll -quiet -nologo -output=new\System.Private.CoreLib.dll
System.Private.CoreLib.il(27462) : warning : Reference to undeclared extern assembly 'System.Private.Corel

[2019-07-25 20:34] jkoritzinsky commented on #25849
@ddobrev the `[return: MarshalAs(UnmanagedType.LPUTF8Str)]` should work for returning null-terminated strings from C++ to C#.

Are you encountering an issue with it?

[2019-07-25 20:41] ddobrev commented on #25849
@jkoritzinsky no but I have encountered it with LPStr and LPWStr. Returning such in this manner causes crashes because it relies on the native memory having been allocated with CoMemTask<something>. This is why strings in such situations must be returned with IntPtr + Marshal.PtrToStringAnsi/Uni instead. I'm asking if the same applies to LPUTF8Str.

[2019-07-25 20:49] jkoritzinsky commented on #25849
The LPUTF8Str marshaler also requires you to allocate with the CoTaskMemAlloc allocator on Windows like the other string marshalers (on non-Windows it's just malloc). So if your issue is with the allocator, then you will not be able to use the LPUTF8Str marshaler.

I personally can't comment on why `Marshal.PtrToStringUTF8` was not added to .NET Framework since I wasn't working on the product at t

[2019-07-25 20:52] Gopinath-mahadevan commented on #25872
Thanks @davmason

The enter/exit hook for those method works when I set the flag COR_PRF_DISABLE_INLINING in the profiler.

[2019-07-25 20:52] #25872 closed

[2019-07-25 21:35] CarolEidt commented on #25468
@danmosemsft - @RussKeldorph suggested that you might be able to help shepherd this along. Long story short, We need a version of libgdiplus that has at least this commit: mono/libgdiplus@81e45a1#diff-c96a8261ecb168c12b44248208da21c0 which fixed some uninitialized variables.

[2019-07-25 21:37] CarolEidt commented on #25468
Also, I have a branch https://github.com/CarolEidt/coreclr/tree/Fix25468 that includes a smaller test case that demonstrates the failure when `COMPlus_TieredCompilation=0` and `COMPlus_JitStressRegs=0x1000` are set in a Checked build of the jit.

[2019-07-25 21:46] sudeepagarwal opened #25889 "COMPlus_GCHeapHardLimit no longer functioning"
Bing uses Heap Hard Limit and Large Pages, and we noticed that it is no longer being respected when used with COMPlus_LargePages=1 ... we have not yet confirmed if this is because of LargePages config entry being incorrectly read or of HardLimit config entry being misread.

[2019-07-25 22:19] danmosemsft commented on #25468
@directhex @akoeplinger can you give more pointers? I think @CarolEidt is asking

1. Is there a stable version of mono that contains the commit above  (sounds like it's not https://www.mono-project.com/download/stable/) that she can try with.
1. How to get libgdiplus updated in the official feed(s) to also have this fix.

@CarolEidt I would assume you could also build libgdiplus, if you want to gi

[2019-07-25 22:31] CarolEidt commented on #25468
I'm not sure that building libgdiplus would be a productive use of my time. I wasn't able to quickly discern how to build for armhf, and even if I did, I'm not sure that's the appropriate way to come up with a version to use for the CI system - not to mention that we should be testing with libraries that are available to our users, given that it is used by `System.Drawing.Common`.

[2019-07-25 22:35] safern commented on #25468
I totally agree on that, it is always really painful to have all our CI machines to have the "latest" version of libgdiplus because the different flavors, and usually the way the Helix sets the test machines up is with a startup script that just installs packages using the default package manager with the default repositories for that OS.

I think libgdiplus should be part of the official/default

[2019-07-25 23:13] hoyosjs commented on #25889
@Maoni0 @andy-ms

[2019-07-25 23:15] Maoni0 commented on #25889
yes, I just submitted a PR for this: https://github.com/dotnet/coreclr/pull/25890.
really sorry about this...

[2019-07-25 23:52] danmosemsft commented on #25468
@directhex do you know who drives libgdiplus updates into the distro feeds?

@safern assuming that would take a long time to happen, is this just another CI image that we need to get updated?

[2019-07-26 00:25] swift-kim commented on #25787
@briansull I was to figure out the current availability and plans for partial ngen on Linux.

That answers the original question. Maybe I will need an access to the tool, or we should implement such funtion in crossgen to utilize multiple profile data (directly from ibc files) without the tool.

Thank you.

[2019-07-26 00:26] directhex commented on #25468
We can cut a release of libgdiplus basically whenever we feel like it (typically @akoeplinger drives that), and I can push into Debian/Ubuntu, albeit that only ships in the next stable version

[2019-07-26 00:49] jkotas commented on #25841
Most of this is due to tiered JITing. If you run this with `COMPlus_TieredCompilation=0`, most of the regression will disappear.

The benchmark does not run enough iterations to hit Tier 1. Tier 0 code is bigger. Bigger code has bigger GC and unwind info. Bigger GC and unwind info takes longer to crack.

[2019-07-26 01:03] #19406 closed

[2019-07-26 01:03] #14249 closed

[2019-07-26 01:05] kouvel commented on #19515
Fixed by https://github.com/dotnet/coreclr/pull/25892

[2019-07-26 01:05] #19515 closed

[2019-07-26 01:37] omajid commented on #25821
Happy to help!

I did hit a bit of a roadblock. I could use some advice about tests on https://github.com/dotnet/coreclr/issues/25882

[2019-07-26 01:44] Maoni0 commented on #25882
so recently we've been working on open sourcing our perf test suite that should be used for something like this. @andy-ms is the main contact on that. it will include container testing. he's out sick today but I will check with him where he's at wrt that when he's in.
CC-ing @sergiy-k.

[2019-07-26 05:16] VSadov commented on #25873
We did not merge any changes related to cast caching. Not yet. May take a week or two.

I'd hope the regressions are a temporary fluctuation. Unless something else caused it and it persists.

[2019-07-26 08:05] spencercw opened #25968 "dotnet-diagnostic sockets lingering after crash"
.NET Core version: 3.0.0-preview7-27912-14 Linux

My target is an arm64 embedded platform, but I am seeing the same behaviour on my x64 dev machine.

The runtime is leaving these diagnostic sockets with names like `dotnet-diagnostic-28148-23379390-socket` under /tmp if the process exits with an unhandled exception. If the process is repeatedly crashing in this way then these sockets pile up, using

[2019-07-26 08:30] ViktorHofer commented on #25837
@Anipik can you please take a look? IIRC you run benchmarks when you made the change to ConcurrentDictionary.

[2019-07-26 09:10] AriNuer commented on #25815
Same test ` tracing_eventpipe._buffersize_buffersize_buffersize_/_buffersize_buffersize_buffersize_cmd ` failed with Timed out.

Message :
[code]
Stack Trace :
[code]
Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fr2r~2Fcli~2F/build/20190725.2/workItem/PayloadGroup0/analysis/xunit/tracing_eventpipe._buffersiz

[2019-07-26 10:39] ezsilmar commented on #25875
It already works that way if you pass `COMPlus_GCHeapAffinitizeMask=1`. I meant it's a bit confusing that `GCHeapAffinitizeMask` value is ignored. F.e. imagine cpuset restricts the app to `0,1,2,3,4` and you set the mask to `12` (meaning `2,3`). You expect the app to have 2 gc heaps and 2 gc threads affinitized to `2,3`. Instead there will be 5 heaps with threads pinned to `0-4`.

However, I can't

[2019-07-26 11:26] EgorBo opened #25894 "Bound checks for readonly byte arrays with byte indexer"
I see it's quite common for CoreCLR/FX to have quite big static readonly arrays of bytes. e.g.
[Char.cs#L41-L74](https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/Char.cs#L41-L74)
[ParserHelpers.cs#L29-L47](https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/Buffers/Text/Utf8Parser/ParserHelpers.cs#L29-L47)
[Rune.cs#L32-L42](h

[2019-07-26 13:00] AdmiralSnyder opened #25897 "System.Data.SqlClient, Version=4.6.0.0 is requested, Version=4.7.0... fits"
There is a problem with communicating the required minimal version of an assembly:
### Repro:
**Setup**
Create an empty solution, add a .net framework (4.0) winforms app, create an SqlConnector e.g. in the Click event handler, add a .net core (3) winforms app, create an instance of that framework form.

**Run**
--> Error at runtime:
System.IO.FileNotFoundException: "Could not load file or assembly

[2019-07-26 13:12] danmosemsft commented on #25897
@ericstj maybe knows?

[2019-07-26 15:08] Anipik commented on #25837
This change was made in dec 2017 and went into netcoreapp2.1 in may 2018.

The regression results that posted are between netcoreapp2.2 and netcoreapp3.0. so i dont think this change is causing this regression

[2019-07-26 15:09] ViktorHofer commented on #25837
OK thanks for checking!

[2019-07-26 15:36] adamsitnik commented on #25841
I think that it does run enough iterations to hit Tier 1.

Do you mean that the code that calls the benchmark (`Program.Main` etc) itself was called only once, have not been promoted to Tier 1 and hence has bigger GC and Unwind info and takes longer to crack?

Sth like:

[code]

Even with a very simple hand-written benchmark there is a visible difference:

[code]

## COMPlus_TieredCompilation=0

[

[2019-07-26 16:23] ericstj commented on #25897
AssemblyVersion and PackageVersion are not synced.  This is largely due to the history of desktop and trying to represent things that are inbox on various frameworks (we have to bump package version to deliver new out of band implementations to some frameworks while other frameworks carry a version inbox so we cannot change the assembly version).

We're hoping to fix all this in 5.0 and line up pa

[2019-07-26 16:23] #25897 closed

[2019-07-26 16:25] sandreenko opened #25899 "Separate GenTreeStmt from GenTree."
This will allow us to save ~1% of Jit memory usage (according to my raw prototype), clean many noway_asserts, switches, and checks;
It will make code more readable and make statements more flexible.

See discussion in https://github.com/dotnet/coreclr/pull/22963 (https://github.com/dotnet/coreclr/pull/22963#issuecomment-478165359).

The steps are:

- [x] Delete unused function and flags (addressed

[2019-07-26 16:28] mikedn commented on #25899
Where do this savings come from? Since ILOffset still needs to be a GenTree it seems like we should end up in the same place in terms of memory usage.

[2019-07-26 16:32] mikedn commented on #25894
I'm pretty sure this was discussed before but I can't find it now. I think that the main "problem" at the time was that it's not clear how common this pattern is because it seems a bit of a corner case. But perhaps the few cases where it is encountered are interesting performance wise.

[2019-07-26 16:42] sandreenko commented on #25899
ILOffset becomes a small node (stmt is large now, probably without any reasons) and `Rationalizer::DoPhase()` creates ILOffsets only for `statement->gtStmtILoffsx != BAD_IL_OFFSET` that are rare.
If I grep for `gtNewStmt(GenTree* expr, IL_OFFSETX offset)` usages I see that only ~50% of calls set offset and many of the rest just copy them and also have an invalid value.

So, as a result, we have le

[2019-07-26 16:51] sandreenko commented on #25899
From what I see in Release System.Private.CoreLib in my prototype where Stmt was separated from GenTree:
before:
[code]
after:
[code]
so the ratio is 1.0104.
but there were a few significant possibilities to improve that gain in the final change, probably up to 1.5%.

[2019-07-26 19:03] jkotas commented on #25841
I should have been more precise: The test is keeping the runtime suspended pretty much the whole time. Tiered JIT that runs on background threads is making very little progress as well (on my machine at least) because of the background threads are suspended most of time as well.

Try adding Thread.Sleep after the `Console.WriteLine` to your handwritten benchmark to unblock the background threads:

[2019-07-26 20:19] r-ramesh opened #25903 "AsyncStateMachineBox is not added to s_currentActiveTasks"
Visual Studio uses s_currentActiveTasks in live debugging scenarios to get the task object from the id provided by ETW events, to show Task information in the "Tasks" window.

In .NET Core 2.1+, AsyncStateMachineBox is not added to s_currentActiveTasks. This is necessary to show Task information while live debugging in Visual Studio.

[2019-07-26 20:20] r-ramesh commented on #25903
@stephentoub for FYI

[2019-07-26 20:25] tannergooding opened #25904 "Codegen is incorrect for single argument hwintrinsics that have an implicit immediate value."
HWIntrinsics like `Sse41.RoundToNearestIntegerScalar` which are of category `SIMDScalar` and which have an implicit immediate value are not currently being emitted correctly.

Due to an ordering issue in the statements, they are emitted as `SIMD_R_R_R` rather than as `R_RM_I`.

[2019-07-26 20:33] Maoni0 commented on #25875
that should not be the behavior; if this is what happens it's a bug. @janvorli could you please see if you could repro this behavior?

`uint32_t num_affinitized_processors = (uint32_t)process_affinity_set->Count();`

that should return 2 if you specify 12 as mask (just making sure if you meant you specified 12 as the value of this env var, it means 0x12 so it should still be affinitizing to 2 core

[2019-07-26 20:55] safern commented on #25468
Yes I guess I will need to work with the infra team in order to get libgdiplus installed from the mono sources, however, it seems that doesn't fix this issue, per: https://github.com/dotnet/coreclr/issues/25468#issuecomment-515154306

cc: @MattGal  is that possible?

That'd be great.

[2019-07-26 21:48] hopperpl opened #25907 "Intrinsic Bmi1.X64.BitFieldExtract generated unneeded movzx"
So, I'm currently porting a C project for AVC/HEVC decoding to C# as the generated native code by RyuJit is excellent enough to be of comparable speed. Anyway, one of the most called functions is GetBits() with an arbitrary number of bits to extract from an unsigned int64.

There are 2 options, either generate as mask and shift, or use the BMI1 intrinsic **bextr**. As it turns out, the latter is w

[2019-07-26 21:50] brainode opened #25920 "NullReferenceException in Hello World DateTime."
# Issue Title
I have OpenSUSE Tumbleweed with Version 2.2.401 and Commit 729b316c13.

When i trying to run Hello World sample:
[code]
I've got an error:
[code]
What's wrong?

[2019-07-26 21:55] MattGal commented on #25468
@safern / @danmosemsft I'm  not 100% sure I understand the question I've been CC'ed to answer, but if we're talking test execution, there's basically three things we need to do to get changes everywhere:

- If the OS that needs LibGDIPlus is docker-based (or we want to make it so) - can just update the dockerfile and make a PR to pick up the changed image.
- If it's a VM in our Azure VM Scale Sets

[2019-07-26 23:17] RussKeldorph commented on #25692
@livarcocc Ping

[2019-07-26 23:25] davmason commented on #25698
@k15tfu It's certainly would be possible to add that functionality to DoStackSnapshot, we can use this issue as a feature request. 3.0 is already past the feature complete date so it will happen in 5.0 at the earliest.

[2019-07-26 23:38] davmason commented on #25676
3.0 is past the point where I can introduce new features so all I can say at this point is that for 3.0 the only scenarios that we have tested and can support fully are the ones I mentioned. Other ones (like the signal scenario you are attempting) will need some level of code changes and testing, and will have to be evaluated against everything else for future releases. Planning for 5.0 hasn't hap

[2019-07-26 23:42] davmason commented on #23383
@k15tfu @ww898 We can use this issue as a feature request to introduce a new profiler API to managed environment variables. It is certainly possible, but won't be in 3.0 since we are feature complete for 3.0. @jkotas and @noahfalk have given the only workarounds I know of already for 3.0.

[2019-07-26 23:45] jashook commented on #25884
Fixed with #25885

[2019-07-26 23:49] iskiselev commented on #24676
We don't see this problem on latest update also.

[2019-07-26 23:51] davmason commented on #25567
@ww898 what is your profiler doing? I will spend some time investigating but it might be reliant on specific features, any information you can give me would help

[2019-07-26 23:54] AndyAyersMS commented on #24676
Good to hear. I am going to close this one out.

[2019-07-26 23:54] #24676 closed

[2019-07-27 00:57] tommcdon commented on #25823
@sywhang @josalem

[2019-07-27 01:11] kouvel commented on #25841
It looks like some of the gap is due to `FlushProcessWriteBuffers()` taking longer when the background JIT thread is active.

[code]

Even if the thread is just spinning and not jitting anything, there is a noticeable increase in time. Putting the background thread to sleep seems to eliminate most of the gap even when everything is tier 0. With the suspends it takes a while for the background JIT

[2019-07-27 02:14] andy-ms commented on #25149
I'll investigate this.

[2019-07-27 02:45] AndyAyersMS commented on #25835
`vzeroupper` is evidently not needed on modern AMD processors as they track upper and lower parts of XMMs separately.

[2019-07-27 06:35] ww898 commented on #23383
@davmason Can you please return `SetEnvironmentVariableW` export till the feature will be implemented?

[2019-07-27 17:48] qmfrederik commented on #25881
If it's an option for you, the easiest way to go is to install a Linux distribution on top of Android. https://github.com/dotnet/coreclr/issues/1097#issuecomment-504368554 has some examples.

If that isn't an option for you, then you'll need to cross-compile and make sure you get the correct userspace dependencies on your Android device - e.g. by fetching them from Android.

Do you have a specific

[2019-07-27 21:17] BryanCrotaz commented on #10605
Can anyone explain why Core needs JIT and so can't run on Armv6, but Mono can? Surely Mono has JIT as it only needs IL code to run - that has to be JITted to the local CPU?

[2019-07-28 02:05] #25903 closed

[2019-07-28 08:19] PathogenDavid commented on #23168
Yup, this is actually what we've been doing. We're just approaching the end where there's very little Framework-specific code left. (Although I'm also slowly accumulating TODOs in .NET Standard libraries for changes to make when we're able to make them .NET Core.)

Yup, I meant to mention that earlier. We're definitely willing to help test things out. Our release date is a quite a ways out, so we

[2019-07-28 10:28] sakno opened #25916 "Managed calling conventions and calli"
I'm playing with different combinations of managed calling conventions (defined by `System.Reflection.CallingConventions`) and `calli` IL instruction and found the following things:
1. Static method can be called successfully with `HasThis` calling convention if its first parameter of reference type or managed pointer to value type
1. Instance non-virtual method can be called successfully with `St

[2019-07-28 12:04] GSPP opened #25917 "Hang possibly related to GC in preview7"
The following program is expected to consume 1 full CPU core forever:

            byte[] encryptionData = new byte[16];

            using (var algorithm = new AesManaged())
            {
                algorithm.GenerateKey();
                algorithm.GenerateIV();
                algorithm.Mode = CipherMode.ECB;
                algorithm.Padding = PaddingMode.None;

                var crypto

[2019-07-28 15:46] MiyamuraMiyako opened #25918 "PublishSingleFile for Asp.NetCore's WorkDirectory issue."
If publish aspnetcore program to single self-contained executable file, all file will extract to temp dir, but I think program work dir should be executable file's stqrtup path, not temp path, because temp path can not manage and inconvenient.

[2019-07-28 17:04] AndyAyersMS commented on #25852
@Zonciu .NET Framework bugs are best reported via the [community portal](https://developercommunity.visualstudio.com/).

Also, can you report the version number of clrjit.dll in your results?

cc @CarolEidt @briansull in case this seems familiar.

[2019-07-28 18:58] jkotas commented on #25916
It is not legal and it does not work in general. It happens to work for some signatures. Also, the exact shape of signatures that it happens to work for differs between platforms (e.g. x64 vs. arm64) and between runtime versions.

[2019-07-28 18:59] jkotas commented on #25916
vm

[2019-07-28 18:59] #25916 closed

[2019-07-28 19:01] jkotas commented on #25916
https://github.com/dotnet/coreclr/blob/master/Documentation/botr/clr-abi.md describes the current managed calling convention.

[2019-07-28 21:56] #25884 closed

[2019-07-29 01:21] VincentBu commented on #25586
Failed again:
https://mc.dot.net/#/user/coreclr-gcstress-extra/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190727.1/workItem/PayloadGroup0/analysis/xunit/Regressions_coreclr._15241_genericcontext_genericcontext_~2F_15241_genericcontext_genericcontext_cmd

[2019-07-29 01:32] VincentBu opened #25921 "Test failed: GC_API._NoGCRegion_NoGC_NoGC_._NoGCRegion_NoGC_NoGC_cmd"
**Job:**
https://mc.dot.net/#/user/coreclr-jitstress2-jitstressregs/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190728.1/workItem/PayloadGroup0/analysis/xunit/GC_API._NoGCRegion_NoGC_NoGC_~2F_NoGCRegion_NoGC_NoGC_cmd

**Failed tests:**
GC_API._NoGCRegion_NoGC_NoGC_._NoGCRegion_NoGC_NoGC_cmd

**Log:**
[code]

[2019-07-29 03:08] AriNuer opened #25922 "Test failure: System.Diagnostics.Tests.EventLogTraceListenerTests/TraceEventFormatAndParams(format: \"This is a weird {0}{1}{2} format that but args len\"..., parameters: [])"
Test `System.Diagnostics.Tests.EventLogTraceListenerTests/TraceEventFormatAndParams(format: \"This is a weird {0}{1}{2} format that but args len\"..., parameters: []) ` has failed.

[code]
Build: -[20190728](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F~2F/20190728.14)(Master)
Failing configuration:

- Windows.10.Amd64.Client19H1.Open-

[2019-07-29 06:00] Maoni0 commented on #25917
@sywhang could you please take a look?

[2019-07-29 08:53] k15tfu commented on #23383
@davmason Yep, this API looks good to me. Is there a chance to get it implemented in 3.1?

Unfortunately these workarounds don't work in all scenarios: Make profiler for child processes to be no-op doesn't suite for cases no.1 & no.3. The other option about injecting the call will not work after attach.

[2019-07-29 09:00] jkotas commented on #25920
Duplicate of https://github.com/dotnet/corefx/issues/37098

[2019-07-29 09:06] jkotas commented on #25920
To workaround this bug on .NET Core 2.x, set locale to something other than C locale, e.g. `export LANG=en_US.UTF-8`.

[2019-07-29 09:11] #25920 closed

[2019-07-29 09:24] janvorli commented on #25875
The `COMPlus_GCHeapAffinitizeMask` is ignored on Unix in 3.0 for setting affinity and only `COMPlus_GCHeapAffinitizeRanges` can be used to set a requested affinity. However, I can see that even though the `COMPlus_GCHeapAffinitizeMask` is ignored on Unix, we still set `affinity_config_specified_p` to `true` if it is set. That causes the GC heaps to get affinitized to all available CPUs. This is so

[2019-07-29 09:32] janvorli commented on #18617
@lpereira I've actually already merged in a PR implementing support for the Mojave hardened runtime, but I had to revert it a week ago as I've found one issue with GC write barriers in it and I was just about to leave for my vacation.
As for the LoaderHeap making successive calls to mprotect, this would need to be changed in the LoaderHeap itself where it calls VirtualAlloc to perform these mappin

[2019-07-29 09:48] k15tfu opened #25923 "Support asynchronous stack walk on Linux/MacOs"
_Originally posted by @davmason in https://github.com/dotnet/coreclr/issues/25676#issuecomment-512555568_

_Originally posted by @k15tfu in https://github.com/dotnet/coreclr/issues/25676#issuecomment-513143826_

_Originally posted by @janvorli in https://github.com/dotnet/coreclr/issues/25676#issuecomment-513160482_

_Originally posted by @davmason in https://github.com/dotnet/coreclr/issues/25676

[2019-07-29 09:49] k15tfu commented on #25676
@davmason Okay, thank you for your time, and please keep me in touch =)

p.s. I'll create a separate issue for async stack walk that we discussed here.

[2019-07-29 10:02] janvorli commented on #22302
While the discussion was about two docker arguments, coreclr runtime reads the stuff from cgroups (`cpu.cfs_quota_us` and `cpu.cfs_period_us`)and from the process affinity and not from the docker. So it is independent on how the limits were specified.
There was a discussion above on what to report in `Environment.ProcessorCount` on a system that has a limit specified by these cgroups settings. Whe

[2019-07-29 11:09] ezsilmar commented on #25875
Wow, I didn't know about `COMPlus_GCHeapAffinitizeRanges` parameter. So the `COMPlus_GCHeapAffinitizeMask` is deprecated since 3.0.0?

After you fix that, what will be the correct way to configure "affinitize GC threads to all available CPUs" in containers? Explicitly passing the affinity mask is not convenient, as I explained in the issue description.

One way I see is to check if there're both a

[2019-07-29 11:41] mrmartan commented on #22302
No, it does not.

600m

We have to increase scaling about 3 times. I can't experiment with our Production environment as much as I would like :)

That's what I intend to test. To set the limits so that `Environment.ProcessorCount > 1`. Maily because I read that whem `Environment.ProcessorCount == 1` CoreCLR forces GC to run in workstation mode.

[2019-07-29 12:08] janvorli commented on #25875
No, but it is supported only on Windows and only when CPU groups are not enabled (that means multiple CPU groups will be used). The mask is relative to the CPU group the current process is running in. Since Unix has no concept of CPU groups (it is a windows way of handling more than 64 CPUs while still making some old APIs that predated support for more than 64 CPUs in Windows work).

Even without

[2019-07-29 12:40] janvorli commented on #25589
How do you know that the DoStackSnapshot doesn't end up calling unsafe functions itself? How do you know it would not allocate memory using malloc, for example? I think it is too dangerous to assume such things. Moreover, even if we don't do anything unsafe today, it is too easy to add some code somewhere in the stack walker that will break this assuption.

[2019-07-29 14:21] MichalStrehovsky commented on #15059
As of #25144, `xcopy ilasm.exe a:\path\where\you\want\it` is enough to get a working ilasm!

[2019-07-29 14:21] #15059 closed

[2019-07-29 14:23] MichalStrehovsky commented on #23840
I believe this is fixed in master with #25144. I assume we want this in 3.next, so keeping this issue open for tracking.

[2019-07-29 14:52] adamsitnik commented on #25728
@tarekgh I am currently profiling all the issues that I've reported in the last few weeks and I want to get a better understanding of how we've implemented leap second support. Please excuse me if my questions are dummy ;)

In the profiles for 3.0 the most expensive method is `FileTimeToSystemTime` which is a mapping from `FileTime` to `SystemTime`:

![obraz](https://user-images.githubusercontent.

[2019-07-29 17:00] tarekgh commented on #25728
@adamsitnik

Here is some clarifications may help explaining why we did what that. there are 2 conditions we need to do when reporting the time through UtcNow:
- The reported time has to be precise (up to 100-nanoseconds)
- The reported time has to be exact with the underlying system.

DateTime in general encapsulate the time as ticks which are the number of the 100 nanoseconds with the notion the

[2019-07-29 17:09] josalem commented on #25815
@janvorli do you have any intuition on what might be going on here?  My hunch is that something in the EventPipe client library is failing to unload due to the native components involved in the IPC communication, but I haven't looked at a repro yet.

[2019-07-29 17:14] janvorli commented on #25815
I'm not seeing any indication that the test was running using the runincontext tool. Seeing `
\"C:\\dotnetbuild\\work\\b32ed47f-3a4a-4cd8-99a5-035b9d2db11c\\Payload\\corerun.exe\" buffersize.exe` means that it was just pure run of the test exe. If it was ran using the runincontext tool, the runincontext.dll would be in the command line between the corerun and the test exe.

[2019-07-29 17:14] jorive commented on #25815
@janvorli This is the log:
[code]

[2019-07-29 17:19] jorive opened #25924 "[crossgen] Test failed: tracing_eventpipe._buffersize_buffersize_buffersize_._buffersize_buffersize_buffersize_cmd"
From this comment: https://github.com/dotnet/coreclr/issues/25815#issuecomment-515373472

**Message**
[code]
**Stack Trace :**
[code]

**Details**
https://mc.dot.net/#/product/netcore/master/source/official~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fr2r~2Fcli~2F/build/20190725.2/workItem/PayloadGroup0/analysis/xunit/tracing_eventpipe._buffersize_buffersize_buffersize_~2F_b

[2019-07-29 17:21] jorive commented on #25924
/cc @AriNuer

[2019-07-29 17:44] janvorli commented on #25815
Ah, I've looked only at the most recent log here.
@josalem as for figuring out what's preventing the unload, the easiest way is to set env var `RunInContextExtraArgs="/breakafterrun"` and then run the test under WinDbg. It will hit a breakpoint after the test is run. Then you'd run `!dumpheap -type LoaderAllocator`, find the LoaderAllocator instance address from the details it dumps and finally ru

[2019-07-29 18:17] tommcdon commented on #25924
@josalem

[2019-07-29 18:32] adamsitnik commented on #25728
@tarekgh thanks for the explanation!

[2019-07-29 18:37] josalem commented on #25738
Did not meet bar check for 3.0.

[2019-07-29 18:37] #25738 closed

[2019-07-29 18:46] jnm2 commented on #19698
@jkotas Since this issue is closed and I'm afraid of it falling off the radar, would it be a good idea for me to open a new issue?

[2019-07-29 18:48] Maoni0 commented on #25875
oh right, I forgot that on Linux the mask config is ignored. @janvorli will you be making the fix?

typo...  should be COMPlus_GCHeapAffinitizeRanges.

[2019-07-29 18:54] janvorli commented on #25875
Thanks @Maoni0 for correcting the typo. Correcting my comment.

[2019-07-29 18:57] janvorli commented on #25875
Sure, I can make it.

[2019-07-29 19:10] Maoni0 commented on #25875
great, thanks @janvorli!

[2019-07-29 21:48] jkotas commented on #23840
3.next = 5.0 = current master.

David did not merge this in before the final snap for 3.x because the change looked too risky for 3.x.

[2019-07-29 21:49] #23840 closed

[2019-07-29 22:01] jkotas commented on #19698
.NET Framework bugs are not tracked on github. They are tracked in internal bug database. This specific bug is tracked as https://devdiv.visualstudio.com/DevDiv/_workitems/edit/672340

https://github.com/dotnet/core#getting-help has instruction for opening .NET Framework issues. If you would like to have something you can see and monitor progress from outside, you can open a .NET Framework issue t

[2019-07-29 22:06] davmason commented on #25567
@ww898 I spent some time testing this, I ran a sample profiler in a loop and never saw the behavior you described. If you can either give me more details or a memory dump of the issue it would help track this down.

[2019-07-29 22:31] eladkarako commented on #157
https://gist.github.com/eladkarako/ff2b36ff2f8e199d597bd903cc412bad#file-api-ms-win-files-for-windows-7-x86-x64-windows-8-1-x86-x64-md

TL;DR
<blockquote>
<em>This 'thread' is over 5 years old... <br/>
but it is still the 2<sup>nd</sup> result in my Google-search for searching <br/>
<code>API-MS-WIN-CORE-WINRT-STRING-L1-1-0.DLL</code> <br/>
<sub>(ignoring results from <code>dll-files.com</code>)</

[2019-07-29 22:34] eladkarako commented on #65
If you need the dependencies along see
https://github.com/dotnet/coreclr/issues/157#issuecomment-516187117 or
https://gist.github.com/eladkarako/ff2b36ff2f8e199d597bd903cc412bad

[2019-07-29 22:44] sdmaclea opened #25929 "Investigate whether unwind is properly handling floating point registers"
It is not clear whether unwind is properly handling floating point registers during unwind.

This may impact examination of enregistered floating point registers in higher stack frames.

[2019-07-29 22:47] jkoritzinsky commented on #15059
I'll take a look at updating the ilasm and ildasm packages as well as the Microsoft.NET.Sdk.IL now that they're self-contained.

[2019-07-29 23:26] sywhang commented on #25917
@GSPP What version of CoreCLR are you using?

[2019-07-29 23:37] jkoritzinsky commented on #15059
See #25930 for the updates to the packages/sdk.

[2019-07-30 01:18] VincentBu opened #25931 "Test failed: baseservices_threading._generics_WaitCallback_thread22_thread22_._generics_WaitCallback_thread22_thread22_sh"
**Job:**
https://mc.dot.net/#/user/coreclr-gcstress-extra/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190728.1/workItem/baseservices.threading.generics/analysis/xunit/baseservices_threading._generics_WaitCallback_thread22_thread22_~2F_generics_WaitCallback_thread22_thread22_sh

**Failed tests:**
baseservices_threading._generics_WaitCallback_thread22_thread22_._generi

[2019-07-30 04:46] Ivan-Kouznetsov opened #25933 "Bug in File.WriteAllLines wherein it writes an extra newline"
There is a bug in File.WriteAllLines wherein it writes an extra newline at the end.
It's easy to reproduce:

[code]

A reasonable person could not be faulted for expecting that reading all lines and then writing all lines would produce a copy with the same number of lines, it doesn't.

[2019-07-30 05:16] iskiselev opened #25934 "ProfilerAPI: RequestReJit hang when Microsoft.NET.Sdk.Web used"
When profiler calls RequestReJit, if Microsoft.NET.Sdk.Web for instrumented project, application main thread hangs. .Net even will not call GetReJITParameters callback.

Issue is reproducible on .Net Core 3 Preview 7, windows x64.
[code]

I've prepared repro: https://github.com/iskiselev/ProfilerReJitHang (see readme.md for instructions).
Issue is not reproducible when "Microsoft.NET.Sdk" is used.

[2019-07-30 07:08] mateusz-osojca opened #25935 "Gen2 Collections happening without Gen1 Collections"
We are using .NET 4.7.2 and developing WPF application (GC workstation mode). Once every 30seconds we have seen quite big CPU load on our process. What we discovered is that during that, GC jumps in with the collection of Generation 2. We tried to investigate what exactly is happening (and what is the root cause of that, since our application is not executing any user code at that time...), and wh

[2019-07-30 07:18] Maoni0 commented on #25935
you don't need to see a gen1 before gen2. what happens here is

+ gen0's alloc budget is exceeded (indicated by Trigger Reason is AllocSmall)
+ Time tuning elevates to gen1 (indicated by 1 in the Time Tuning column)
+ because we are now doing gen1 we also check gen2's budget see if it's exceeded and it is (indicated by 2 in the Generation Budget Exceeded column)

[2019-07-30 07:20] umutgur commented on #24985
If noone is working on it, I can pick this up.

[2019-07-30 07:24] mateusz-osojca commented on #25935
Thanks a lot Maoni! So what exactly "Time tuning elevates to gen1" means? And how exactly got Gen2's budget exceeded if we didn't allocate anything there? Or if we did actually what is the "source" of allocation in Gen2?
I thought the object could land in Gen2 either from allocating in LOH or promotted from Gen 1....

[2019-07-30 07:35] Maoni0 commented on #25935
for workstation we have time tuning that says if we haven't done gen1 after 10 gen0s or in the past 10s we would elevate to doing a gen1.
you could allocate into gen2 during previous gen1s which would have consumed gen2 budget.

[2019-07-30 07:40] mateusz-osojca commented on #25935
Thanks a lot!

[2019-07-30 07:40] #25935 closed

[2019-07-30 07:46] khellang commented on #25933
That's just what the method does and has always done. I don't think that should be considered a bug, and even if it is, it would be a massive breaking change to remove it.

[2019-07-30 09:01] GSPP commented on #25917
Oh, I forgot to post the version.  I'm using the official preview7 (3.0.100-preview7-012821).

[2019-07-30 12:08] ddobrev commented on #25849
@jkoritzinsky in such a case would you happen to have a complete example of returning a non-comem-ed UTF-8 string to C#?

[2019-07-30 14:55] filipnavara commented on #25933
The `string[]` array returned by `ReadAllLines` has no way to represent the difference between a new line at the end of file and no new line. Moreover, it also does not represent whether the new line characters were `\n` or `\r\n`. It is inherently lossy in nature and expected to behave that way.

[2019-07-30 15:08] GSPP commented on #25917
I notice that whenever `IL_Throw` is on the stack the next stack frame is this `0x0000000` number in Process Explorer:

![image](https://user-images.githubusercontent.com/12032350/62141026-36078800-b2ec-11e9-93ee-cf851adc9ad3.png)

This is an exception heavy program. PerfView is blind to the time spent with exception processing:

![image](https://user-images.githubusercontent.com/12032350/62141302

[2019-07-30 15:23] #25933 closed

[2019-07-30 16:23] Ivan-Kouznetsov commented on #25933
@filipnavara that does not affect the code I posted because the first file does not end in an empty line, for the sake of clarity here is an example without `ReadAllLines`:

[code]

You can also compare the length of the file content or open the files to observe the difference.

[2019-07-30 16:48] filipnavara commented on #25933
You are missing the point. The `ReadAllLines` API does not return the new line characters. For "a\nb" and "a\nb\n" it will return the same thing - `new[] { "a", "b" }`. There is no empty line involved (ie. no "a\nb\n\n"). Likewise, the `WriteAllLines` API inserts new line character(s) after each line.

...and it does! The number of new line characters may not be the same but the number of lines is

[2019-07-30 16:53] Ivan-Kouznetsov commented on #25933
If you run the code you and open the files manually you will see the number of lines is different this issue has nothing to do with how `ReadAllLines `works.

[2019-07-30 16:58] filipnavara commented on #25933
You misunderstand how the lines are counted.

[2019-07-30 17:52] khellang commented on #25933
FYI; https://stackoverflow.com/a/729795/682105

[2019-07-30 18:07] tommcdon commented on #25694
@sdmaclea is this issue completed for all branches?

[2019-07-30 18:15] hoyosjs commented on #25934
@davmason

cc @dotnet/dotnet-diag

[2019-07-30 18:15] tommcdon commented on #25934
@davmason

[2019-07-30 18:28] iskiselev commented on #25698
I've done some more testing with different event mask flags.
- if tired compilation enabled, on first 15 calls Sleep frame is visible
- starting with 15th call (or 1 if  tired compilation disabled with COR_PRF_HIGH_DISABLE_TIERED_COMPILATION) Sleep frame is not visible in DoStackSnapshot
- when COR_PRF_DISABLE_OPTIMIZATIONS flag specified Sleep frame is always visible in DoStackSnapshot.

So, Slee

[2019-07-30 18:50] danmosemsft commented on #25468
@directhex is it possible for you to reach out to @akoeplinger with that request? Not sure whether he looks at this repo.

[2019-07-30 18:57] sdmaclea commented on #25694
Thanks.  Yes it is fixed on 5.0 & 3.0

[2019-07-30 18:57] #25694 closed

[2019-07-30 19:00] davmason commented on #25934
Thanks for the repro @iskiselev. I'll take a look and see what's happening.

[2019-07-30 19:48] AndyAyersMS commented on #25698
This looks like it could be a difference in "inline pinvoke" behavior between unoptimizied (Tier0) code and optimized (Tier1) code.

Are you setting `COR_PRF_MONITOR_CODE_TRANSITIONS`?

[2019-07-30 20:21] jakobbotsch opened #25938 "ARM: Investigate "incoming arg area" logic for arg passing during fast tail calls"
A comment in the source mentions that, on ARM, we cannot assume that stack arguments come in order of offset:
https://github.com/dotnet/coreclr/blob/39f207ad8babe677029ddc2c72714a9959da2475/src/jit/lclvars.cpp#L5118-L5143

However fast tail calls make this assumption when writing outgoing args:
https://github.com/dotnet/coreclr/blob/39f207ad8babe677029ddc2c72714a9959da2475/src/jit/codegenarmarch.c

[2019-07-30 20:30] jakobbotsch commented on #25938
@jashook pointed out that this only applies on arm32 for which we will probably not support fast tail calls anytime soon so we will not hit this problem.

[2019-07-30 20:30] #25938 closed

[2019-07-30 21:20] sergiy-k commented on #25889
Fixed by https://github.com/dotnet/coreclr/pull/25890

[2019-07-30 21:20] #25889 closed

[2019-07-30 21:48] davmason commented on #25934
@iskiselev are you only seeing this while debugging? When I run your repro under the VS debugger it fails in the way you describe because edit and continue is enabled and ReJIT is not supported when EnC is enabled. If I turn off EnC in VS (Debug Menu->Options->General->Uncheck Enable Edit and Continue) it works as expected.

In general profiling while debugging is dangerous. Our official stance is

[2019-07-30 22:30] iskiselev commented on #25698
@AndyAyersMS, we don't use COR_PRF_MONITOR_CODE_TRANSITIONS in our profiler. I've tested to check if setting this flag will change DoStackSnapshot behaviour - it have not changed anything.

[2019-07-30 22:37] iskiselev commented on #25934
@davmason, I've just checked it - the issue is reproducible only under VS debug. It is non-critical (or even non-issue) in that case. Thank you!

[2019-07-30 23:13] jorive commented on #25815
@janvorli We followed your suggestions and ran the commands you specified.

First,
[code]
[code]
Then,
[code]
[code]

The `System.Object[]` is an array of 1020 objects, that contains the `TraceProvider`.
[code]

[code]
[code]

At this point, I do not know where to go (how did this object get there?). Could you please give us some guidance or take a look?

[2019-07-30 23:27] fadimounir opened #25943 "Add generic method instantiation information to ETW events"
Today, the ETW events for jitting and perf traces doesn't contain the generic method instantiation type arguments. Example
`System.Runtime.CompilerServices.AsyncTaskMethodBuilder.AwaitUnsafeOnCompleted(!!0& !!1&)`

This should have been something like:
`System.Runtime.CompilerServices.AsyncTaskMethodBuilder.AwaitUnsafeOnCompleted<bool,int>(!!0& !!1&)`

Fixing this requires some care because we nee

[2019-07-30 23:29] janvorli commented on #25815
This is a static variable containing instance of the TraceProvider (the 1020 elements array is array of statics). The TraceProvider instance is created from an assembly loaded into the unloadable context, but stored in a static variable outside of that context. That prevents unloading. I am not sure how that ends up happening. It would be interesting to see the stack trace at which the instance of

[2019-07-30 23:43] jorive commented on #25815
More information: This is the callstack when `Debug.SetProvider(new TraceProvider());` is invoked. This call stores the `TraceProvider` instance in a static variable.
[code]

[2019-07-30 23:55] davmason commented on #25934
Thanks for confirming. Closing this issue since it is expected behavior.

[2019-07-30 23:55] #25934 closed

[2019-07-31 01:07] VincentBu opened #25944 "Test failed: MonoTests.System.Drawing.Imaging.BmpCodecTest.Bitmap24bitData"
**Job:**
https://mc.dot.net/#/user/coreclr-corefx/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcorefx~2F/20190730.1/workItem/System.Drawing.Common.Tests/analysis/xunit/MonoTests.System.Drawing.Imaging.BmpCodecTest~2FBitmap24bitData

**Failed tests:**
MonoTests.System.Drawing.Imaging.BmpCodecTest.Bitmap24bitData

**Log:**
[code]

[2019-07-31 01:33] scalablecory opened #25945 "SIGSEGV is not transformed into NullReferenceException in WSL"
Under WSL (at least Ubuntu 18.04, and seemingly OpenSUSE 15) , SIGSEGV is not caught and transformed into a `NullReferenceException` as it is on other platforms.

Repro:

[code]

[code]

Found during our investigation of https://github.com/dotnet/corefx/issues/39732

cc @janvorli @wfurt

[2019-07-31 05:53] mjsabby commented on #25945
This is a regression in preview7. Likely https://github.com/dotnet/coreclr/pull/25196

[2019-07-31 08:02] janvorli commented on #10605
Mono has a different JIT that supports Armv6. CoreCLR JIT doesn't support it. ARM has two instruction sets - ARM and THUMB. ARM v6 has THUMB, ARM v7 has THUMB2.
Mono JIT compiles everything into ARM instruction set, so it works on both Armv6 and v7, but that results in approximately 30% larger memory footprint of the code.
The differences between Armv7 THUMB2 and Armv6 THUMB are quite large and ad

[2019-07-31 08:12] adamlonsdale opened #25946 "COM Server using WindowsDesktop will not register"
I have a .NET Core 3.0 Preview 7 WinForms application created in Visual Studio 2019 16.3 Preview 1.

The .csproj was modified to include the `<EnableComHosting>True</EnableComHosting>` attribute and some targets to output the ComHostFileName to the output.

I have added a class with the ComVisible Attribute set to True and a newly generated Guid specified in the Guid Attribute.

When I build I get

[2019-07-31 08:54] adamsitnik commented on #25835
FYI BenchmarkDotNet now allows for forcing a specific power plan on Windows:
https://github.com/dotnet/BenchmarkDotNet/pull/952
https://github.com/dotnet/BenchmarkDotNet/pull/1139

We are planning to update BDN version used by the perf repo soon https://github.com/dotnet/performance/pull/511

If you want to give it a try locally you need to update BDN version locally

https://github.com/dotnet/per

[2019-07-31 09:22] janvorli commented on #25945
Thanks @mjsabby, it is possible that WSL reports the alternate stack in some weird way that we cannot detect. I'll look into it.

[2019-07-31 09:56] janvorli commented on #25945
I've looked into it. The problem is that WSL doesn't report the alternate stack in the `uc_stack` member of the `ucontext_t` passed to the sigsegv handler. All the `uc_stack` fields are zero. That prevents detection of whether the signal handler is executing on an alternate stack or not. This detection was added in the #25196 to fix issue #25166.

This is unfortunate. Thinking about possible solut

[2019-07-31 10:02] janvorli commented on #25835
Were these the Jetson (they have Ubuntu 14.04) or Jetson 2 (They have a newer distro) devices? There is a way to set power management on Linux to performance using `echo performance | sudo tee /sys/devices/system/cpu/cpu*/cpufreq/scaling_governor`. This keeps all the cores running at full speed all the time, I believe.

[2019-07-31 10:34] janvorli commented on #25815
I understand the issue now. The Debug.SetProvider is in System.Private.CoreLib that is loaded into the default context. But the Microsoft.Diagnostics.TraceSource.dll was loaded into the testing unloadable context. So we've created an instance of the TraceProvider type from that assembly living in the unloadable context and stored it into a static variable in the default context.

We should mark th

[2019-07-31 11:12] jkotas commented on #25945
Can se detect that ‘uc_stack’ was not set - is ‘uc_stack’ ever set to null when it works correctly?

[2019-07-31 11:58] janvorli commented on #25945
* On glibc based Linux, when the sigsegv handler is executed on a regular stack, the uc_stack members are 0  too except for the ss_flags that contains 2 (SS_DISABLE).
* On MUSL based Linux, the uc_stack members are all zeros when the sigsegv handler is executed on a regular stack
* On WSL, all the uc_stack members are 0 no matter whether the alternate stack is enabled or disabled.

In other words,

[2019-07-31 12:21] janvorli commented on #25945
I was also thinking about a solution that would not rely on the info provided in the uc_stack and keep a global data structure containing ranges of all allocated alternate stacks (as we cannot access TLS) instead. But it would have to be something clever that would provide a reasonably fast lookup even in presence of many threads and be able to handle the fact that entries can be added and removed

[2019-07-31 13:35] directhex commented on #25468
We have a backlog of libgdiplus PRs we want to look at first, but it's on the radar

[2019-07-31 16:13] adamlonsdale commented on #25946
Just an update here, I didn't have the relevant prerequisites on the windows 7 box, so have installed the windows updates and now a Microsoft.NET.Sdk project will build and register, however a Microsoft.NET.Sdk.WindowsDesktop project will not.

**The module "C:\Users\Adam.Lonsdale\Desktop\netcorewinforms\WinFormsCore.comhost.dll" was loaded but the call to DllRegisterServer failed with error code

[2019-07-31 16:18] mrmartan commented on #22302
@janvorli  I did not mean to suggest that this is implemented through some docker integration. I can see that it is done by means of kernel cgroups/cfs. I can also see from the discussion that it is fairly complex issue.

Still, setting CPU quota is not intended to limit concurrency (at least not in kubernetes) and the way CoreCLR tunes itself is not appropriate in all use cases.
I have found simi

[2019-07-31 16:34] EgorBo opened #25947 "JIT: Tail Deduplication"
Does it make sense to file issues for interesting missing optimizations in JIT?
E.g. so called (Early) Tail Deduplication:
[code]
Can be converted to:
[code]
so it eliminates a jump for cases when `condition` is true (Modern C++ compilers do it: https://godbolt.org/z/vVdsGV). However, in theory, JIT could collect some profile data and re-order calls for the most popular value for `condition`...

[2019-07-31 16:42] asimonf commented on #17043
I'm hoping some work gets done on this front eventually. As a Beaglebone user, at least relaxing restrictions to vfpv3d32 would be a major boon to me and people like me. There's not exactly many cheap alternatives to a Beaglebone out there if one uses the PRUs for real-time processing.

[2019-07-31 16:59] EgorBo commented on #25947
It looks like it's already discussed in https://github.com/dotnet/coreclr/pull/13792 (and related issues/PRs).

[2019-07-31 16:59] #25947 closed

[2019-07-31 17:42] BruceForstall commented on #25921
@Maoni0

[2019-07-31 17:52] gdkchan opened #25949 "Discrepancy between RyuJIT and Mono mini compiling IL with conditional branch"
I found that problem some months ago. Didn't really open a issue at the time because I assumed the IL is technically invalid according to the spec (but now reading it again, I don't see anything on it that explicitly says this kind of pattern is invalid). But the interesting part is that it does work fine with the mono JIT. Here's a very simple program that shows the issue:
[code]
On .NET Core it

[2019-07-31 17:52] hoyosjs commented on #25946
@AaronRobinsonMSFT

[2019-07-31 17:53] BruceForstall commented on #25944
@stephentoub @danmosemsft Looks like a consistent failure in all test modes. Maybe corefx/coreclr inconsistency?

[2019-07-31 18:05] AaronRobinsonMSFT commented on #25946
This looks like an issue with the installed framework (i.e. `0x80008096`: `FrameworkMissingFailure`)

See: https://github.com/dotnet/core-setup/blob/6db018b7fc5c104810f5a53b538841004e099713/src/corehost/cli/fxr/fx_resolver.cpp#L434-L439

Can you share the `*.runtimeconfig.json` file?

[2019-07-31 18:11] noahfalk commented on #2982
@davidwr @jkotas @briansul @janvorli - Do we have anyone on the team who is an official owner for ilasm?

I'm trying to find out if there would be any pushback adding a portable PDB writer to ilasm. An initial thought would be hosting CoreCLR so that we could invoke the writer that is in System.Reflection.Metadata.

[2019-07-31 18:45] TonyValenti opened #25950 "Marshal.ReleaseComObject and .NET 2.0 / 4.6.1 / Core 3.0"
Hi All,
I have a few questions about .NET and Com Interop.  Specifically as it relates to .NET core and the .NET framework.

I remember back in the old days, whenever you worked with a COM object (for example, Outlook interop), you had to remember to call ````Marshal.ReleaseComObject(o)````.

In the modern .NET 4.x and .Net Core 3.0 days, do I still need still need to do that or does that happen a

[2019-07-31 18:53] AndyAyersMS commented on #25949
The IL is unverifiable per Ecma-355 III.1.8.1.1 Verification algorithm, in particular these two parts:

RyuJit does not (generally) constant propagate during importation and so the backwards branch here is considered a possible control flow path.

Because the backwards branch to the label is stack empty and the fall through to the label is not, RyuJit rejects this method as bad IL.

RyuJit is ofte

[2019-07-31 19:12] TonyValenti commented on #25950
Also, related to this, I've seen a lot of code showing ReleaseComObject, but this article:
https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.marshal.releasecomobject?view=netframework-4.8

says only use it if absolutely necessary and this article (the comment with 7 upvotes):
https://stackoverflow.com/questions/15728676/proper-way-of-releasing-com-objects

says don't use i

[2019-07-31 19:39] jkoritzinsky commented on #25849
Here's an example I just put together that should work. Let me know if it works for you.

[code]

[2019-07-31 19:41] adamlonsdale commented on #25946
Interesting, I installed all prerequisites for 3.0 Preview 7. I presume there is no separate runtime for Windows Desktop?

*.runtimeconfig.json is as below.

`{
  "runtimeOptions": {
    "tfm": "netcoreapp3.0",
    "rollForward": "LatestMinor",
    "framework": {
      "name": "Microsoft.WindowsDesktop.App",
      "version": "3.0.0-preview7-27912-14"
    }
  }
}`

[2019-07-31 19:53] jkoritzinsky commented on #25950
Unless you really need a deterministic call to `Release` on your COM object (like if your COM object creates some temporary state on disk that is cleans up when released and you don't want to rely on GC to clean it up), waiting for a GC after the last use is too long (your application doesn't generate enough memory usage to trigger a GC) or you need to guarantee that the COM object gets released (

[2019-07-31 20:05] Maoni0 commented on #25921
was this test run with other tests running at the same time? it failed because there were GCs induced which suggests other tests running at the same time were inducing GCs.

[2019-07-31 20:15] BruceForstall commented on #25921
@Maoni0 This is a standard test run (with some JIT stress modes enabled), which means it is run under the normal harness, which does run tests concurrently.

[2019-07-31 20:18] Maoni0 commented on #25921
this test is marked as not stress compatible though:

<GCStressIncompatible>true</GCStressIncompatible>

so it shouldn't be run concurrently with other tests.

[2019-07-31 20:20] AaronRobinsonMSFT commented on #25946
Microsoft.NETCore.App 3.0.0-preview7-27912-14 [C:\Program Files\dotnet\shared
Microsoft.NETCore.App]

That is indeed the issue right there. The Microsoft.WindowsDesktop.App is missing. I am unsure why this would be missing. Can you point me to the installer used? If this was done via VS, then this could be an issue with the specific workloads installed.

@richlander or @livarcocc Do either of you

[2019-07-31 20:21] AaronRobinsonMSFT commented on #25946
@adamlonsdale Are you able to build and run any dotnet core WPF application on the Windows 7 machine?

[2019-07-31 20:29] BruceForstall commented on #25921
There's no GCStress here. And that switch just skips the test if the `COMPlus_GCStress` variable is set.

[2019-07-31 20:32] Maoni0 commented on #25921
as I understand, this GCStressIncompatible is merely a way to say "don't run this test with other tests concurrently". if that's not the right way to express that, do you know what the right way is?

[2019-07-31 20:34] elinor-fung commented on #25946
One thing to note is that the WindowsDesktop runtime doesn't (yet) have a standalone bundle installer. It is only included as part of the full SDK right now (see dotnet/core-setup#6384), so if you only installed the runtime bundle, the WindowsDesktop runtime will not be installed.

[2019-07-31 20:37] AndyAyersMS opened #25952 "Detect unnecessary AggressiveInlining annotations"
See https://github.com/dotnet/corefx/pull/39900#discussion_r309419092

[2019-07-31 21:28] BruceForstall commented on #25921
@echesakovMSFT @jashook @RussKeldorph Do you know if there's a way to mark a test "don't run this test with other tests concurrently" as @Maoni0 wants?

[2019-07-31 21:38] jashook commented on #25921
We do not have any way of doing this today to my knowledge.

[2019-07-31 22:17] noahfalk commented on #2982
Adding others who may be interested in this: @MichalStrehovsky @tmat @AaronRobinsonMSFT

[2019-07-31 22:20] Maoni0 commented on #25921
is it possible to add that? some GC tests by design cannot be run with other tests.

[2019-07-31 22:37] AaronRobinsonMSFT commented on #2982
@noahfalk From my conversations with @RussKeldorph there is no official owner of ILAsm.

I think this is a reasonable request for support. My only concern is the additional assets that would be needed to make this "just work". If I recall, ILAsm is now xcopy-able and as mentioned this work would fail gracefully if additional assets weren't present (i.e. missing Runtime). That however doesn't fully

[2019-07-31 22:57] RussKeldorph commented on #25921
@Maoni0 Yes, it's possible, but you'd need to drive the necessary feature work.  You might need to move this test into its own test job separate from the others to avoid killing efficiency across the board.  I'd hope test harness, e.g. xUnit, changes aren't required, but I'm not sure.

/cc @sandreenko, since he was recently looking at possible solutions to problems caused by test parallelism.

[2019-07-31 23:06] RussKeldorph commented on #2982
Correction: dotnet/jit-contrib officially owns ILAsm (and ILDasm).

#23840 and #25144 might be tangentially related to requirements in case you weren't aware of them.

/cc @BruceForstall

[2019-07-31 23:34] ahsonkhan commented on #25876
There was a check added to correctly handle null reference types (https://github.com/dotnet/coreclr/pull/21232). Other than that, nothing else has changed (at least in terms of the C# implementation). There might be codegen/JIT related changes that could explain the performance changes being observed (improvements or regressions).

However, looking at the disassembly, I see no substantial differen

[2019-08-01 00:28] BruceForstall commented on #25899
What would you consider the disadvantages, if any?

[2019-08-01 00:28] BruceForstall commented on #25899
@dotnet/jit-contrib

[2019-08-01 00:52] noahfalk commented on #2982
@RussKeldorph @AaronRobinsonMSFT - thanks for the info and feedback : )

Does anyone know where instructions can be found? If they exist they weren't easily discoverable at least : )

I'm not certain what expectations people have on that package, but tentatively I could see at least a few options:
a) Add nothing to the NuGet packages. For use cases that need PDBs to be emitted the onus lies with t

[2019-08-01 01:01] tmat commented on #2982
I wonder if it wouldn't be better to invert the approach. Make ILasm.exe a managed, self-contained .NET Core app and put all the C++ code into a native dll that gets loaded by the ILasm.exe app.

[2019-08-01 01:07] mjsabby commented on #2982
Agree with @tmat, but let's take it a step further and use CoreRT and link-in the native bits so you still have a single exe.

[2019-08-01 01:10] VincentBu opened #25959 "System.NullReferenceException : Object reference not set to an instance of an object."
**Job:**
https://mc.dot.net/#/user/coreclr-corefx-jitstress2-jitstressregs/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcorefx~2F/20190731.1/workItem/System.Runtime.Loader.Tests/analysis/xunit/System.Runtime.Loader.Tests.ContextualReflectionTest~2FTypeGetTypeStringMultiLoadedAssemblyIsolated

**Log:**
[code]

**Stack Trace:**
[code]

[2019-08-01 01:16] VincentBu opened #25960 "Assert failure: Consistency check failed: FAILED: !implSlot.IsNull() && \"Valid method implementation was not found.\""
**Job:**
https://mc.dot.net/#/user/coreclr-jitstress/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190730.1/workItem/Interop/analysis/xunit/Interop_ICustomMarshaler._Primitives_ICustomMarshaler_ICustomMarshaler_~2F_Primitives_ICustomMarshaler_ICustomMarshaler_cmd

**Failed tests:**
Interop_ICustomMarshaler._Primitives_ICustomMarshaler_ICustomMarshaler_._Primitives_ICus

[2019-08-01 01:18] VincentBu opened #25961 "Assert failure: !CREATE_CHECK_STRING(!\"Detected use of a corrupted OBJECTREF. Possible GC hole.\")"
**Job:**
https://mc.dot.net/#/user/coreclr-jitstress/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190730.1/workItem/JIT/analysis/xunit/JIT_Performance._CodeQuality_BenchmarksGame_regex_redux_regex_redux_1_regex_redux_1_~2F_CodeQuality_BenchmarksGame_regex_redux_regex_redux_1_regex_redux_1_cmd

**Failed tests:**
JIT_Performance._CodeQuality_BenchmarksGame_regex_redux_r

[2019-08-01 01:38] noahfalk commented on #2982
@tmat - @MichalStrehovsky and @jaredpar appeared to have strong feelings that ilasm should not have a full .Net Core dependency and there has been work to explicitly remove those dependencies. I'm sure they can represent their positions better than I can, but it appeared to be a combination of wanting single-file xcopy deploy, wanting a small size on disk, and difficulties dealing with .Net Core v

[2019-08-01 01:50] AndyAyersMS commented on #25876
I see a big slowdown locally for x86 on 2.2.6 vs 3.0p7. Let me investigate.

[2019-08-01 02:12] tmat commented on #2982
IIRC the issues we had with .NET Core dependencies would not be present with self-contained .NET Core App.

[2019-08-01 02:21] mjsabby commented on #2982
I guess it could be a good use case for `/p:PublishSingleFile=true` then.

[2019-08-01 02:25] #25950 closed

[2019-08-01 05:34] dzuda11 commented on #13369
@nzain, please, can you tell me how do you install .NET Core Runtime on buildroot? I have tried to do it just like on raspbbian lite, extract files from `dotnet-runtime-2.2.6-linux-arm.tar.gz` in /opt/dotnet and run command `ln -s /opt/dotnet/dotnet /local/bin`, but it doesn't work. When I type `dotnet --info` it returns in terminal `sh: dotnet: not found`. Please help me. Thank you :)

[2019-08-01 05:48] adamsitnik commented on #25876
because this single x64 regression was visible only on older Ryzen CPU and all other x64 were looking good. Intel and IBM implement the same set of x64 instructions and if an older version of XYZ hardware is slower but the new is ok it most probably mean that they've fixed a hardware bug between the releases. If more x64 hardware (or just both AMD) was showing a regression, then I would report it

[2019-08-01 05:57] nzain commented on #13369
Not found means it's not there. This is not a dotnet problem. You should
learn more about Linux shell (sh), symlinks (yours is probably not
correct), and why people usually create symlinks: the /opt folder is
typically used to install custom stuff manually, but executable programs
are not found there automatically. This is similar to windows $PATH
variable extension.

Miljan Džudović <notification

[2019-08-01 06:52] dzuda11 commented on #13369
Thank you for your answer, could you tell me please how my symlinks should look like? It's my first time using buildroot and my only Linux experience is Ubuntu desktop. So sorry for wasting your time, but I need help :|

[2019-08-01 06:54] GSPP commented on #25917
I'm seeing the same stack walking issue with `JIT_NewArr1`. Also, I can reproduce the hang with an entirely different program.

![image](https://user-images.githubusercontent.com/12032350/62271674-7e808c00-b439-11e9-9542-8683a86342db.png)

Here are all other stacks in the currently hung process:

![image](https://user-images.githubusercontent.com/12032350/62271769-b982bf80-b439-11e9-91f0-6c256d516

[2019-08-01 07:12] dzuda11 commented on #13369
Thank you for your answer, could you tell me please how my symlinks should look like? It's my first time using buildroot and my only Linux experience is Ubuntu desktop. So sorry for wasting your time, but I need help :|

[2019-08-01 07:12] dzuda11 commented on #13369
@nzain Thank you for your answer, could you tell me please how my symlinks should look like? It's my first time using buildroot and my only Linux experience is Ubuntu desktop. So sorry for wasting your time, but I need help :|

[2019-08-01 07:38] adamlonsdale commented on #25946
@elinor-fung is correct, I had not installed the SDK, as soon as that was installed the .comhost.dll registers fine.

Follow up question though - I'm trying to write an article on VB6 <-> .NET Core interop whilst we are converting the last of our software to .NET and I noticed the registry entries created when registering the comhost DLL are very different from a netfx DLL registered via regasm.

[2019-08-01 07:53] MichalStrehovsky commented on #2982
I think not having PDBs is a pain for everyone who uses ILAsm right now. If we add support for it, everyone will want to use it. It would be sad if we make it an option that inflicts setup pain whenever someone wants to use it.

While I'm one of the biggest proponents of **not writing C++** for things that **can/should be written in C#**, CoreCLR has a really bad startup time. It's not suitable fo

[2019-08-01 08:02] mjsabby commented on #25945
@janvorli given we’re running out of time for 3.0 what would we a reasonable thing to do for 3.0 to bring back WSL support?

[2019-08-01 08:26] #25815 closed

[2019-08-01 08:31] jkotas commented on #2982
I do not think that the CoreCLR startup would be a problem for ilasm. Note that ilasm have been paying for CoreCLR startup until the very recent David's change. Roslyn is running a few orders of magnitude more code than ilasm would ever run (even if it was completely rewritten in C#).

However, I agree that writing the portable PDB writer in C++ sounds much easier than dealing with all the managed

[2019-08-01 08:38] MichalStrehovsky commented on #2982
Did CoreCLR have to do the full startup dance when `MetaDataGetDispenser` was called? I would expect `MetaDataGetDispenser` to be pretty lightweight (metadata APIs sit on a pretty low level within the runtime). `MetaDataGetDispenser` is the only thing ILAsm used - I would expect the startup cost of the VM to be orders of magnitude higher than that.

[2019-08-01 08:58] swift-kim commented on #25787
I'll close this issue now. Thanks for all your help.

[2019-08-01 08:58] #25787 closed

[2019-08-01 09:12] janvorli commented on #25945
Thinking about it more, it seems that a reasonable fix for 3.0 could be:
* Introduce an env var that would enable the alternate stack check (if that variable is set)
* Without that variable set, the sigsgegv_handler would be considered to be always running on an alternate stack (like it was before #25196)

So users of .NET Core apps that use a third party native library that registers its own SIGS

[2019-08-01 09:53] jgoyvaerts commented on #18013
@jeffschwMSFT Any update on this?

[2019-08-01 11:21] jkotas commented on #2982
ilasm/ildasm used to call ‘coreclr_initialize’: https://github.com/dotnet/coreclr/blob/release/3.0/src/ildasm/unixcoreclrloader/coreclrloader.cpp#L53 . You are right that initializing whole VM is not necessary for unmanaged metadata reader/writer. I was just pointing out that it is not that expensive to drive the design decision.

[2019-08-01 12:23] damageboy opened #25964 "Superflous store generated by JIT for embedded ReadOnlySpan<byte>"
When using a `static ReadOnlySpan<byte>`, such as this:
[code]

The JIT hard-codes the address in the generated code as expected,

However, when using a fixed statement to load this byte array with an AVX intrinsic (for example):

[code]

The JIT generated a superflous store onto the stack for the `fixed` statement:

[code]

Full listing + asm [here](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0A

[2019-08-01 12:29] janvorli commented on #25945
cc: @sergiy-k

[2019-08-01 12:59] mikedn commented on #25964
That's how `fixed` works. The fixed pointer needs to be stored in a local variable that's reported to the GC such that it knows not to move the object. If you look later in the assembly code you'll also see that 0 gets stored to that variable, that's the end of the `fixed` block.

Ideally the JIT would figure out that in this very particular case the `fixed` machinery isn't needed and eliminate it

[2019-08-01 13:03] damageboy opened #25965 "[Proposal] Support perf annotate with CoreCLR on Linux"
I'd like to use be able to use `perf` on linux to profile CoreCLR quickly and effectively to dig into JIT'd code with perf annotate (e.g. more than just flamegraphs and top functions)

perf has various collection controls and knobs not directly available through the PerfCollect script, such as collecting specific HW events etc, for example:
[code]

I can get a nice report like this:
[code]

But if

[2019-08-01 13:53] damageboy commented on #25964
@mikedn I do understand that, and I understand how this is a very particular case.

I just think that adding this ROS<byte> optimization into the JIT + Compiler was a lot of work for generating super efficient yet clean looking code, but I can't get the best outcome with x86 intrinsics, given that they mostly accept pointers and nothing else.

I think it could either be solved by detecting that `b

[2019-08-01 15:17] AaronRobinsonMSFT commented on #25946
@adamlonsdale I would file a new bug for the ProgID issue. Thanks.

[2019-08-01 15:17] #25946 closed

[2019-08-01 15:21] AaronRobinsonMSFT commented on #2982
This would be wonderful for the larger community and solve at least one big issue facing an internal partner team.

[2019-08-01 15:29] adamlonsdale opened #25966 "VB6 COM Interop - Cannot see .NET Core library in references list"
We have a small part of our product in VB6. I need the ability to register a .NET Core Library as an in-process COM server and consume it from VB6. I further need to consume a VB6 library from .NET Core and that will enable us to upgrade to .NET Core 3.

Having installed 3.0 Preview 7 and successfully registering a .NET Core COM Server Library with help from @AaronRobinsonMSFT and team I can see c

[2019-08-01 15:56] BruceForstall commented on #25961
TailcallStress

[2019-08-01 15:58] BruceForstall commented on #25959
Another case that fails in many stress modes. Another possible corefx/coreclr mismatch? @stephentoub @danmosemsft

[2019-08-01 16:00] Suchiman commented on #25964
Can we detect this with a peephole optimization to propagate the constant address? Similiar to [this trick](https://github.com/dotnet/coreclr/pull/21959)?

[2019-08-01 16:16] sandreenko commented on #25899
- Review cost (it affects many lines of code);
- Possibly new bugs that could be introduced with this change (I have found several strange places, that I am going to fix, but looks like we do not have testing for these parts now);
- Additional field in BasicBlock (at least temporary until we are confident enough to use unions there).

[2019-08-01 16:18] danmosemsft commented on #25959
Git log says these tests are @sdmaclea

[2019-08-01 16:36] AndyAyersMS commented on #25876
Ahson's diffs above appear to be for x64?

For x86 the jit makes somewhat different register allocation assignments in 3.0 and this is the likely source of the slowdown.

Inner loop code for 2.2
[code]
and likewise for 3.0 (note the extra store in the loop tail):
[code]
Couple of notes on this code:
* There are more temps and locals in the 3.0 version, so incoming lifetimes are a bit more chopped

[2019-08-01 16:46] stephentoub opened #25967 "DiagnosticCounter.DisplayName/Units needs tweaks to its ArgumentExceptions"
- They're throwing ArgumentException instead of ArgumentNullException.
- They're hardcoding the exception text rather than having it in the .resx and using SR to access it.
- They're missing the argument name in the exception.

[2019-08-01 16:48] mikedn commented on #25964
Unlikely. Normally the only way to eliminate a store is to prove that it's dead and that's not something peephole optimizations can do. The fact that in this case a constant gets stored into a pinner variable is not sufficient.

And then the problem is that liveness analysis ignores pinned variables due the dependency between such variables and variables that may contain pointers derived from the

[2019-08-01 17:05] sergiy-k commented on #25945
Thank you @janvorli. It sounds reasonable to me to revert to the previous (Core 2.x) behavior by default and make the new behaviour an opt in option for special cases.

[2019-08-01 17:06] Suchiman commented on #25964
If one presumes that the ROS optimization is performed and then sprinkles a bit of `Unsafe` around, [you can shave off 5 instructions](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIAYACY8gOgCUBXAOwwEt8YLAJI8ovLrl5hcAbhr0mrTj36CAwhHwAHXgBsYUAMoGAblJiz5jZkkXtufAcNHjJ0lgA0AHEhYBBEwQ5ahp5AGYmUgY1GgBvGgZEhnEMAy5sXUVbNhhsABMAeS5dAE9DLWwuAB5gEtSAPgYAWTwAa0YAXkauGAB3BlrUgG0AXQZ46i

[2019-08-01 17:16] mikedn commented on #25964
Indeed, that's an interesting aspect of this issue. There are alternatives to `fixed` but only under the assumption that the C# compiler performs the optimization.

Well, there's also the possibility to not use `lddqu` (which AFAIR is kind of pointless on current CPUs) and instead just load the vector by casting the span ref to a `ref Vector256<int>`. But that's probably a different matter.

[2019-08-01 17:24] AaronRobinsonMSFT commented on #25966
The gist here is missing ProgIDs and categories. Categories are bit less interesting, but ProgIDs are important and should be brought back. This shouldn't be a ton of work, but will require updates to both the dotnet/sdk and dotnet/core-setup repos.

cc @jeffschwMSFT @jkoritzinsky

[2019-08-01 17:25] danmosemsft commented on #25468
OK, thanks @directhex. I don't suppose there's an issue to track for that?

[2019-08-01 17:29] directhex commented on #25468
Current plan is to ship a release tomorrow, after running the current state of master through static analysis and fuzzing. It's a big release.

[code]

[2019-08-01 17:31] vkvenkat commented on #25370
Another question - What are the options available to dump the disassembly for native images on Linux? I tried using [JIT Dump](https://github.com/dotnet/coreclr/blob/master/Documentation/building/viewing-jit-dumps.md#dumping-native-images), but we need to overlay the Debug build of libclrjit.so to get this working. Are there any alternatives to get the disassembly when only the Release build is av

[2019-08-01 17:47] pixeltris opened #25969 "coreclr_initialize returns 0x80070057 on Windows when using '/' directory separators"
The latest versions of the .NET Core 3 preview builds require that '\\' separator characters are used on Windows for paths passed into `coreclr_initialize`. Error code `0x80070057` is returned if using '/' separators.

This is a regression as earlier versions of .NET Core didn't have this limitation (I'm not sure which preview build introduced this regression). It isn't stated in the documentation

[2019-08-01 18:18] WChrisK opened #25971 "Performance stuttering occurs in .NET Core 2.2 + 3.0, some background thread exiting by the runtime and any GC aggravates the problem"
I'm using C# for a rendering project. On .NET Core 3.0, every 10-15 seconds I'd start getting this small stutter while moving the camera around. It is a big enough of a negative that it significantly destroys the user experience of the application. However when I change to `.NET Framework 4.8` or `.NET Core 2.1` the performance issues (this small microstutter that that lasts for maybe 50-150ms) co

[2019-08-01 18:34] jespersh commented on #25971
Just two links that might help you since it seems you're allocating more and more objects that GC has to figure out if it can GC:
* https://github.com/Microsoft/perfview
* https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/performance

[2019-08-01 18:42] migueldeicaza opened #25973 "Marshal.GetDelegateForFunction feature parity request"
Hello team,

`Marshal.GetDelegateForFunction` thows an exception when the provided parameter is an `Action<T>`.   Given that the actual function signature is known, this limitation seems unnecessary.

Mono currently allows this idiom, without throwing an exception, and is very convenient, to avoid producing a bunch of delegates for every combination of parameters during interop.

[2019-08-01 18:43] jkoritzinsky commented on #25973
cc: @AaronRobinsonMSFT

[2019-08-01 18:51] AndyAyersMS commented on #25964
It might not be that hard to realize we're pinning an RVA static and just remove the pinned bit from the tracking local (since these tracking locals are single def we only need to check when we see the first store to the pinned local). That would let dead stores clean things up.

[2019-08-01 18:57] mikedn commented on #25964
Hmm, why?

[2019-08-01 19:07] AndyAyersMS commented on #25876
Some dumps [here](https://gist.github.com/AndyAyersMS/dd24a7b182e0043d9ad09f64498ef912). 3.0 shows the odd impact of quick jit for loops...

[2019-08-01 19:13] AndyAyersMS commented on #25964
Well that's how C# does it, they don't try and reuse these locals. And we can watch for nonstandard uses since we now track single-defness in the importer. ... if local is pinned and store is rva static and local is single def -- unpin.

[2019-08-01 19:22] WChrisK commented on #25971
@jespersh Much appreciated, though I've already been using perfview to attempt to diagnose the problem and I haven't been able to find much to help me in finding out what is wrong. I also get it happening in a completely-zero garbage generation environment (the GC doesn't run at all and it still happens), I just happened to notice that the GC running seems to also cause issues when it does run. I'

[2019-08-01 19:26] mikedn commented on #25964
That doesn't seem to be the case:
[code]
generates:
[code]
But even without reuse these variables can't be single-def due to the null store at the end of the fixed block, that guarantees that there are always at least 2 defs.

[2019-08-01 19:38] AndyAyersMS commented on #25964
Thanks, looks like I was way off here.

From C# there will be only a single reaching def, though saying this is a bit odd since there are no uses in the code (only implicit uses at GC safe points). But it might be hard to show that property holds definitively.

On the other hand, there is no reason to actually store the rva static pointer into the pinning slot, so we could at least get rid of the

[2019-08-01 19:42] AaronRobinsonMSFT commented on #25973
@migueldeicaza To confirm, an example of the scenario in question would be:

[code]

If so, this is related to not permitting generic delegate types. That behavior is unfortunately documented as such which may make changing this behavior tough. Not against the change at all, simply unsure how much passionate people are about the current semantics.

Hi @terrajobst @richlander @jkotas, how would we

[2019-08-01 20:09] alpencolt commented on #18656
Does the Universal Shared Generics will be released in .NET Core 3? Or it's for next releases (like .NET 5)?

[2019-08-01 20:14] jkotas commented on #18656
Universal Shared Generics are being considered for next releases, definitely not in .NET Core 3.

[2019-08-01 20:31] jkoritzinsky opened #25974 "Structure containing a single decimal field passed by-value incorrectly marshaled on Unix x64"
Given a structure `struct A { decimal d;};`, we incorrectly classify this field's native representation as non-engregisterable. However, it is enregisterable on SystemV. As a result, we place it on the stack, but the native code expects it to be in registers.

This currently blocks merging #25955.

cc: @AaronRobinsonMSFT

[2019-08-01 20:48] jkoritzinsky commented on #25974
Another discovery related to this: The `decimal` type is considered blittable, but a structure containing a `decimal` field is not considered blittable.

[2019-08-01 20:51] jkotas commented on #25973
Generics are not supported in regular interop signatures accross the board. Related discussion: See #1685 or #14524.

I think it is reasonable to relax some of these limitations for blittable types. I do not think it makes sense to relax it everywhere for everything. It would be a lot of runtime complexity for limited value.

I would recommend to start with relaxing the limitations for arguments o

[2019-08-01 20:55] sdmaclea commented on #25959
If I remember correctly these tests were disabled in corefx when they were broken by an arcade infrastructure change which removed the ability to reference assemblies but not deploy them.  The tests assume certain assemblies are not in the root directory and therefore not in the TPA list.

[2019-08-01 21:02] adamlonsdale commented on #25966
Is there any documentation on the implementation of COM via the Registry?

I presumed I could in the meantime put in a ProgID Key manually which unfortunately doesn't do the trick. Just wondering if there is anything else I need to manually add in and whether I could ascertain that from any documents.

[2019-08-01 21:06] jkotas commented on #25971
You can `set COMPlus_TieredCompilation=0` in your environment to quickly confirm or deny this hypothesis. This setting disables tiered compilation.

[2019-08-01 21:19] AaronRobinsonMSFT commented on #25966
Yes. Nothing the CLR does with respect to COM is a secret, it should all be fully documented. https://docs.microsoft.com/windows/win32/com/com-registry-keys

Right, you need a bit more to make it work. See above for documentation on COM registry keys.

[2019-08-01 21:27] sywhang commented on #23299
PR is out for cleaning up the socket on Ctrl-C: https://github.com/dotnet/coreclr/pull/25976

[2019-08-01 21:29] sdmaclea commented on #25753
This does not look like it will make 3.0.  Moving to 5.0.  If fix is trivial will consider backport for preview9 if approved.

[2019-08-01 22:34] #25974 closed

[2019-08-01 22:34] noahfalk commented on #2982
Interesting, I hadn't initially considered this but especially for the limited subset of pdb data that the IL assembler currently writes it does seem reasonable. Thanks for raising this suggestion! To add some additional context this issue started because a customer was asking how they could unblock themselves. For the path where we did hosting and reused the existing C# writer I had some small sa

[2019-08-01 22:50] sandreenko commented on #23006
Some smaller XARCH issues that I found working on #25050:
1. a few methods fake instruction descriptors without proper settings; it leads to dirty code and assert (for example when you check `_idDebugOnlyInfo` for the faked id when is set to the original id with a different id size), example: https://github.com/dotnet/coreclr/blob/master/src/jit/emitxarch.cpp#L12385;

2. There are 3 instructions t

[2019-08-01 23:09] MeiChin-Tsai commented on #25309
@zhengwb this is Mei-Chin. We don't have official guidance on porting to new architecture. But we don't mind to guide you through it.

[2019-08-01 23:14] #25945 closed

[2019-08-01 23:19] davidmikh opened #25982 ".NET Core apps emitting bad ETW events through DotNetRuntime provider"
Steps to repro:

1) Create a .NET Core console app
2) Add some basic code so there's some activity to profile (I used the following to repro this issue)

        static void Main(string[] args)
        {
            Stopwatch watch = new Stopwatch();
            watch.Start();
            while(true)
            {
                System.Console.WriteLine("CONTINUE WRITING LINES");

[2019-08-02 00:56] ddobrev commented on #25849
@jkoritzinsky thank you even though I'd already found a similar example. Tell me, though, why do you free the memory with FreeHGlobal? Isn't it only applicable for memory allocated with AllocHGlobal?

[2019-08-02 01:17] jkoritzinsky commented on #25849
FreeHGlobal matches up with malloc/free. If you want to de-allocate a different way, then you can replace the deallocation call.

[2019-08-02 03:57] guodf opened #25983 "Hopefully .net core supports all cpu architectures"
C#本来是一门优秀的语言，绝对有可能一统江湖，结果一手好牌被打的稀巴烂。
以前因为不开源，处处受到限制，现在因为生态，处处受到限制，未来因为平台，依然会处处受到限制。
从.net到.net core,从.net core到.net 5,我想说你们真的很闲，虽然统一.net这一步意义重大，但是当下环境可能并不是最重要的。
最让人感觉垃圾的地方在于，不停的优化asp.net core，ef core，以及性能上的优化，我想问这些真的很重要吗？难道社区就不能出来做这些吧，好吧，我承认.net社区真的很烂，但是能怪谁呢！.net做的越多，社区做的就越少，可能最后都懒得做了，拿现成的用好了。
尤其是.net在中国的市场，一步步被瓜分，不知道我软是否考虑过原因。
.net core我们已经给了你5年的时间了，结果你也看见了，如果你以为这是绝地重生，我只能说哈哈~~你赢了。
在中国这个市场，不是你想怎么

[2019-08-02 04:16] guodf commented on #25983
@.net/.net core
你的未来就在我这个issus上了，想要迎头赶上java，py的生态我们就不奢望了，支持所有平台是你唯一歪道超车的机会。
Your future is on my issus, want to catch up with java, py ecological we do not expect, support all platforms is your only crooked overtaking opportunity.

[2019-08-02 04:20] AaronRobinsonMSFT commented on #2982
I wrote a Portable PDB reader in native a while ago. I pushed it up to my github (https://github.com/AaronRobinsonMSFT/PPDB). A writer would be significantly more work, but it could serve as a start to help someone understand the format.

[2019-08-02 04:22] myFirstway commented on #25983
Now more and more localization in China, they first adapted to jdk. Now more and more government projects require domestic cpu. Many people have to give up .net and use Java instead. You can see this post http://tieba.baidu.com/p/5626600505.

[2019-08-02 06:24] noahfalk commented on #2982
After getting another opportunity to chat with our potential contributor on email my concerns were unfounded, they sounded happy with the approach of writing a portable PDB writer in C++. Does anyone have any objections to this plan?

@dotnet/jit-contrib - since Russ says you guys own ilasm could someone confirm this plan has your thumbs up?

@MichalStrehovsky - Above you were suggesting that we m

[2019-08-02 06:55] AaronRobinsonMSFT commented on #8175
@ww898 I just put up a native portable PDB reader - https://github.com/AaronRobinsonMSFT/PPDB. Is this still an issue for you?

[2019-08-02 09:09] shvez commented on #25692
@RussKeldorph and @livarcocc I have repro case if this will help you

[2019-08-02 09:54] cocowalla commented on #9265
@jkotas another vote for a `linux-x86` rid. I've been following this issue since it was opened back in 2017, and it's disappointing that Linux x86 still isn't officially supported. I get that most platforms are x64 nowadays, but x86 will be around for a long time before it goes away.

IIRC, even the guidance for Azure App Service recommends using 32-bit instead of 64-bit, because of the memory sav

[2019-08-02 09:57] Suchiman commented on #25971
Perhaps related to #25149?

[2019-08-02 10:07] NMSAzulX commented on #23541
Mark! AOP is a very important feature. Maybe one day we can see the official plan.

[2019-08-02 10:32] MichalStrehovsky commented on #2982
I think it will have to be tied into the metadata emitter if we want to support embedded portable PDBs. Otherwise it can be just duplicated on the side. Duplication tends to be a better implementation strategy in a legacy codebase, as you point out (I don't know if anyone who's still on the team _really_ did any work in /src/md besides Karel and Mei-Chin many years go). The writer has many odditie

[2019-08-02 10:34] EgorBo opened #25985 "JIT Optimization: Replace a bunch of cmp with a single shr"
[code]
Currently generates:
[code]
LLVM (Clang/Mono-LLVM) generates:
[code]

So if values are close to each other it's possible to calculate a special bit-map (`314575237` in this case) and apply a shift to find out whether `c` is one of the chars or not (or, in some cases, even a jump table). Btw, LLVM's opt converts it to a switch and then DAG calculates the bitmap and insert the shift op.

Ther

[2019-08-02 10:40] mikedn commented on #25985
Seems like a subset of #12477

[2019-08-02 10:42] EgorBo commented on #25985
@mikedn Oh, indeed! Closing this.

[2019-08-02 10:42] #25985 closed

[2019-08-02 11:43] PathogenDavid commented on #25971
Maybe worth checking: Does the microstutter happen if you turn off the thread exit messages (right-click the output window) or run without a debugger attached?

[2019-08-02 14:36] tannergooding commented on #14155
AMD has open sourced a snapshot of the libm implementation that is currently used by Windows x64: <https://github.com/amd/win-libm> (plus a few improvements that haven't been picked up yet).

This, combined with other open source libm implementations such as the one from ARM: <https://github.com/ARM-software/optimized-routines>, should allow us to provide a portable implementation that is both IEE

[2019-08-02 15:48] #25904 closed

[2019-08-02 19:34] damageboy commented on #25964
@Suchiman

What you proposed is what I'm actually doing.
I just hide that ungodly mess in a static local function.

I thought it would be useful to report this since I don't know what people's expectation's are w.r.t this.

[2019-08-02 19:45] RagnaStrife commented on #9908
How does the CLR treat **Default Interface Implementation** when you use a reference to such interface AND the interface was implemented through a **ValueType**? Will it be devirtualized too?

[code]
Would that run the same (or nearly) as a struct-defined method?
I'm just curious about these _**ValueType**<->**DefaultInterfaceImplementation**_ interactions here.
Please, get technical.

Anyway, tha

[2019-08-02 20:16] mikem8361 commented on #15062
ARM64 is finished.  ARM32 still needs to be done.

[2019-08-02 20:42] danmosemsft commented on #25837
Possibly related to SerializationGuard? The callstack would show.
https://github.com/dotnet/corefx/pull/34834
https://github.com/dotnet/corefx/issues/36723

[2019-08-02 20:50] noahfalk commented on #2982
As far as I know the embedded PDB is discrete from any metadata the IL assembly happens to have (ie the resulting PE file has two metadata headers inside somewhere). I was assuming that we'd need a second instance of an emit interface if we went this route, one for the standard assembly metadata and a 2nd one for the portable PDB metadata. Is that what you were suggesting and I just misunderstood,

[2019-08-02 21:33] jorive commented on #25967
/cc @sywhang

[2019-08-02 21:48] echesakovMSFT opened #25990 "[Linux_rhel6 x64 ] Build product failure after #25909"
https://dev.azure.com/dnceng/public/_build/results?buildId=292830&view=logs
[code]

@mikem8361

[2019-08-02 22:17] mikem8361 commented on #25990
I have a fix coming.

[2019-08-02 22:39] safern commented on #20582
Fixed in: https://github.com/dotnet/coreclr/pull/25951

[2019-08-02 22:39] #20582 closed

[2019-08-02 22:48] briansull commented on #25488
Ok I have  implemented the following ildasm:

[code]
Produces this IL:
[code]

[2019-08-02 22:56] migueldeicaza commented on #25973
The actual use case:

[code]

[2019-08-02 22:56] mikem8361 commented on #25990
Fixed.

[2019-08-02 22:56] #25990 closed

[2019-08-02 23:09] ww898 commented on #8175
@AaronRobinsonMSFT Thanks a lot. However, I had my own portable PDB reader on C++.

[2019-08-02 23:09] #8175 closed

[2019-08-03 00:00] jakobbotsch opened #25993 "Wrong reflection invocation on ARM64 with HFAs"
The following example should print 1 twice but prints 0 when invoked through reflection on ARM64:
[code]

[2019-08-03 01:30] BruceForstall commented on #2982
I spoke with @noahfalk offline, and I'm ok with whichever native code plan we end up with, as the trade-offs get worked out.

[2019-08-03 02:07] NMSAzulX commented on #25983
You're right.

[2019-08-03 02:23] jashook commented on #25993
This most likely is related to #10257

[2019-08-03 02:24] jashook commented on #25993
As in a case we do not have testing for.

[2019-08-03 02:57] noahfalk commented on #25982
This appears to be by (questionable) design. coreclr is emitting the events and they are being recorded in the .etl file. However when PerfView converts the .etl file into an .etlx file it special cases certain known events such as ILToNativeMap. Rather preserving these events in the form of events their data gets composed into other data structures. In the case of ILToNativeMap events the .eltx f

[2019-08-03 11:41] mfe- commented on #8895
With .NET 5 mono gets somehow merged into coreclr (if I understood correctly). Since mono supports sparc ( https://www.mono-project.com/docs/about-mono/supported-platforms/sparc/ ) any plans for .NET 5?

[2019-08-03 12:48] MichalStrehovsky commented on #2982
I only know what's [in the spec](https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Metadata/specs/PortablePdb-Metadata.md). I assumed that since it says "metadata can (but doesn’t need to) be stored in the same metadata section of the PE/COFF file as the type system metadata", and the spec doesn't specify how we would find it in a PE file, it would be in the same streams as the ty

[2019-08-04 15:52] zipswich commented on #4734
![image](https://user-images.githubusercontent.com/6095671/62426081-4cc42b00-b6ae-11e9-8c3b-1b52092a5cbe.png)
![image](https://user-images.githubusercontent.com/6095671/62426085-59488380-b6ae-11e9-8579-f9977a9a2e66.png)

[2019-08-05 01:23] VincentBu opened #26001 "Test failed: Interop_COM._NETClients_IDispatch_NETClientIDispatch_NETClientIDispatch_._NETClients_IDispatch_NETClientIDispatch_NETClientIDispatch_cmd"
**Job:**
https://mc.dot.net/#/user/coreclr-gcstress-extra/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190803.1/workItem/Interop/analysis/xunit/Interop_COM._NETClients_IDispatch_NETClientIDispatch_NETClientIDispatch_~2F_NETClients_IDispatch_NETClientIDispatch_NETClientIDispatch_cmd

**Failed tests:**
Interop_COM._NETClients_IDispatch_NETClientIDispatch_NETClientIDispa

[2019-08-05 01:37] VincentBu opened #26002 "Test failed: managed_Compilation._Compilation_Compilation_._Compilation_Compilation_cmd"
**Job:**
https://mc.dot.net/#/user/coreclr-jitstress/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190803.1/workItem/PayloadGroup0/analysis/xunit/managed_Compilation._Compilation_Compilation_~2F_Compilation_Compilation_cmd

**Failed tests:**
managed_Compilation._Compilation_Compilation_._Compilation_Compilation_cmd

**Log:**
[code]

[2019-08-05 01:41] VincentBu opened #26003 "Test failed: JIT_Performance._CodeQuality_BenchmarksGame_regex_redux_regex_redux_1_regex_redux_1_._CodeQuality_BenchmarksGame_regex_redux_regex_redux_1_regex_redux_1_cmd"
**Job:**
https://mc.dot.net/#/user/coreclr-jitstress/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F/20190803.1/workItem/JIT/analysis/xunit/JIT_Performance._CodeQuality_BenchmarksGame_regex_redux_regex_redux_1_regex_redux_1_~2F_CodeQuality_BenchmarksGame_regex_redux_regex_redux_1_regex_redux_1_cmd

**Failed tests:**
JIT_Performance._CodeQuality_BenchmarksGame_regex_redux_r

[2019-08-05 01:51] VincentBu commented on #25921
The test also failed in coreclr-r2r-extra:
https://mc.dot.net/#/user/coreclr-r2r-extra/ci~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fr2r~2Fcli~2F/20190803.1/workItem/PayloadGroup0/analysis/xunit/GC_API._NoGCRegion_NoGC_NoGC_~2F_NoGCRegion_NoGC_NoGC_cmd

[2019-08-05 04:10] tmat commented on #2982
Portable PDB metadata tables are designed so that they can be stored in the same metadata stream as type system metadata. But it turned out that it's better to store them separately, so Embedded PDBs don't use that capability. Instead, Embedded PDBs are stored compressed in debug directory. https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Metadata/specs/PE-COFF.md#embedded-portab

[2019-08-05 06:09] octum-mf commented on #25149
... Thought I inquire about the result of your investigation ;)
Any insights gained?

[2019-08-05 07:45] MichalStrehovsky commented on #2982
If we don't anticipate they'll be stored into the type system tables in the future, maybe creating `IMetaDataEmit3` on the existing emitter is not needed and this can be in a new class that looks a lot like the existing metadata emitter. I guess it can be a judgement call. I don't have strong opinions.

[2019-08-05 14:35] directhex commented on #25468
Okay 6.0.1 is out, and published on the mono-project.com `preview` repos. It's _not_ in the `stable` repos, and probably won't be for a while. Give it a try, see if it fixes the bug you're experiencing.

[2019-08-05 16:40] jashook commented on #25993
/cc @dotnet/jit-contrib

[2019-08-05 17:13] bclothier opened #26008 "AV due to non-compliant type infos passed to CLR"
When using `CImportTlb` to build a CLR type from a type library, we encountered a situation where non-compliant library can cause an AV in CLR, specifically this line:

https://github.com/dotnet/coreclr/blob/4cf8a6b082d9bb1789facd996d8265d3908757b2/src/md/enc/imptlb.cpp#L4602

See [this issue](
https://github.com/rubberduck-vba/Rubberduck/pull/4706#issuecomment-517883758) for details. Basically, t

[2019-08-05 17:15] CarolEidt commented on #25468
I've verified that `6.0.1-0xamarin1+ubuntu1804b1` fixes the issue, both for my extracted test case as well as for the corefx test with `COMPlus_TieredCompilation=0` and `COMPlus_JitStressRegs=0x1000`.
The original failure was in a corefx test run that uses a docker container, but we should ensure that libgdiplus is updated wherever we're using it. In the near term this only impacts arm32, but a ch

[2019-08-05 17:47] BruceForstall commented on #25431
This is presumably because coreclr PDB files need to be in the same location as the coreclr binaries during a test run, or else the CLR can't find the symbols when it hits an assert.

Perhaps it is possible for the symbols to live elsewhere as long as an environment variable like `_NT_SYMBOL_PATH` is set.

It might also be useful to set that (or whatever variable is required) to allow the symbol f

[2019-08-05 17:59] #25982 closed

[2019-08-05 18:00] tommcdon commented on #25982
Closed and transferred to the perfview repo on microsoft/perfview#982

[2019-08-05 18:17] jkoritzinsky commented on #26001
Here's the output from the test with symbols.
[code]

[2019-08-05 18:25] jkoritzinsky commented on #26001
cc @janvorli since the failure looks exception-handling related and frame-chain related.

[2019-08-05 19:02] stephentoub opened #26010 "STATUS_STACK_BUFFER_OVERRUN in corefx consuming updated coreclr"
https://github.com/dotnet/corefx/pull/39995#issuecomment-518300413
![image](https://user-images.githubusercontent.com/2642209/62488304-f6c8b380-b791-11e9-940f-a542148ea2f2.png)

From @jkotas:
"This is most likely caused by @janvorli change dotnet/coreclr#25795 . @janvorli Could you please take a look?"

[2019-08-05 19:33] sywhang commented on #20493
Should be now fixed with #25844

[2019-08-05 20:02] iskiselev opened #26011 "Big stack usage on exception handling x64"
On Windows x64 (I've not tested it on non-windows platforms) CoreCLR use 9 KiB of stack space per each frame that has catch block that will rethrow exception up to frame that will finally handle exception. On x86 stack space is not used for the same pattern at all.
.Net Framework x64 is also affected by the same problem (it use 8 KiB for ,Net Framework 4.7.2 and more for 3.5.).
Here is test sample

[2019-08-05 20:38] jashook opened #26012 "[OSX] Failure to initialize build tools."
build-test.sh still unfortunately uses build tools. On OSX strangely we are intermitedenly seeing:

[code]

See: https://dev.azure.com/dnceng/public/_build/results?buildId=295344

[2019-08-05 20:42] jashook commented on #26012
/cc @dotnet/coreclr-infra

[2019-08-05 20:56] BruceForstall commented on #25961
@jashook @jakobbotsch Since it happened in tailcallstress (not that it's necessarily due to that), maybe one of you want to take a look?

[2019-08-05 20:57] BruceForstall commented on #25907
@CarolEidt @tannergooding

[2019-08-05 20:59] jashook opened #26013 "[Linux Musl][Arm64] Failure to submit to helix"
[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=295340&view=logs&jobId=c4f05322-0119-5c43-60a1-eb927f127ca4

[2019-08-05 20:59] jashook commented on #26013
/cc @dotnet/coreclr-infra

[2019-08-05 21:00] jashook commented on #26013
@MattGal wanted to give you a heads up that we believe this may be a helix issue.