[2018-06-25 23:39] jkotas commented on #18640
We are interested in having first class support for running custom adapter generation tools in the build tooling so that it does not feel like a major drawback. The custom adapter generation tools were always part of the COM interop story actually: tlbexp, tlbimp, etc. Unfortunately, they were not designed to generate the actual code and there was still a lot of complex logic required in the runti

[2018-06-26 03:48] EgorBo commented on #18633
E.g. https://github.com/dotnet/csharplang/issues/378

[2018-06-26 04:04] riverar opened #18643 "Community Slack engagement story needs work"
*[I'm writing this in story form as I believe it's important you look at this through the proper lens]*

# Story time
So, put on your new user hat. 🤠

You want to engage with the CoreCLR community and figure out why you can't debug CoreCLR. You hit the engagement documentation (https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/IssuesFeedbackEngagement.md).

The CoreCLR repositor

[2018-06-26 04:11] benaadams commented on #18643
/cc @spboyer

[2018-06-26 04:13] PureKrome commented on #18643
dotnet.slack.com is taken :(

![](https://media.giphy.com/media/MwtjauC5lamQM/giphy.gif)

[2018-06-26 04:35] enoksaju commented on #113
@jkotas thanks

[2018-06-26 04:46] jkoritzinsky commented on #18640
Hey! I'm the SharpGenTools maintainer. Just wanted to pop in to the conversation since I was tagged. As @jkotas mentioned, SharpGenTools enables COM interop relatively seamlessly. The 1.1 release (coming out after I get back from vacation) will make it even easier by adding support for auto-generating the C# stubs that enable passing .NET objects to native code.

@hypersw: re customization: SharpG

[2018-06-26 04:47] AaronRobinsonMSFT commented on #18643
@riverar You're not wrong

Looks like that link was added by @vancem over two years ago. @jkotas does the link in question still reflect reality?

[2018-06-26 04:56] jkotas commented on #18643
This link was added by https://github.com/dotnet/corefx/pull/8566 first and then same change was made in https://github.com/dotnet/coreclr/pull/4983 and https://github.com/dotnet/cli/pull/3046.

I have clicked through it and I agree that it is a bad experience. I think we should delete the link.

Also, I do not think we need to have multiple official chat channels. I like that aspnet settlet on gi

[2018-06-26 05:02] jkotas commented on #18643
cc: @terrajobst, @richlander

[2018-06-26 07:31] furoraest commented on #18599
Thanks for clearing this, I also agree this is more fundamental problem than just .net core dll import.
Very possibly the proposed work in #930 will solve my current issues.
Sadly, this wont make it for my current project but at least I have working solution  (instead like some who would blame and then throw out all .net core solution)
In the meantime, should i make my configuration as an example

[2018-06-26 08:25] agonzalezm opened #18646 "Websockets: Server doesnt realize when a client is disconnected and keeps connection as open"
I have websocket server/clientapp  that works perfectly in net core 2.0 but after updating project to net core 2.1 the server doesnt realize when a client is disconnected so it keeps waiting for ever, while debugging this code although client got disconnected the server reports the websocket connection as OPEN. Any idea what has changed or how to make this work in 2.1?

[code]

[2018-06-26 13:22] lahma opened #18647 "Array bound check performance regression between .NET Core 2.0 and 2.1"
I noticed this while running [Jint's](https://github.com/sebastienros/jint) benchmark suite with .NET Core 2.1, some of the benchmarks looked better but some worse for my surprise. I was able to narrow it down to probably how bounds checking happens depending whether you use index >= Length vs index < Length.

The performance difference is noticeable (> 20%) and the original code tried to communic

[2018-06-26 13:35] gfoidl commented on #18647
The root for this problem is https://github.com/dotnet/coreclr/issues/15671
So you have to fetch `_dense` into a local, so that the bound checks can be elminated -- see also https://github.com/dotnet/corefx/pull/26086#discussion_r159065422 (for context about the above issue).

BTW: use
[code]
to eliminate the checks.

[2018-06-26 13:37] eshenem commented on #17850
Thanks @mikem8361 - will keep an eye on diagnostics repo for docs / direction.

[2018-06-26 13:40] Noctune commented on #18564
I have no PInvoke in my code. However, I do have several dependencies which might call PInvoke.

[2018-06-26 13:52] terrajobst commented on #18643
Yes, using the Gitter link makes a lot more sense. Thanks changing it @jkotas!

@riverar I'll assume this addresses your concerns and I'm closing this now. Feel free to reopen it!

[2018-06-26 13:52] #18643 closed

[2018-06-26 13:53] lahma commented on #18647
@gfoidl thanks for the quick response. Good to know that this issue is known and addressed already. I tried the uint cast for length with the index < dense.Length and it did indeed eliminate more checking. Thank you for the tip!

[2018-06-26 13:53] #18647 closed

[2018-06-26 14:00] spboyer commented on #18643
@riverar - all great concerns. Actually, @benaadams and I had this conversation when the Slack channel was initially created and fell upon many challenges when trying to rename it to something that was more related to .NET Core. However -> "squatters".

Some of the points you make, user flow, channels etc or just a "Slack thing" and getting used to how the thing works. Bouncing from Slack, Skype,

[2018-06-26 14:05] KristianWedberg commented on #18542
As detailed in https://github.com/dotnet/corefx/issues/30655#issuecomment-400317238, the micro benchmark shows a **10x** speed difference between getting a flat struct vs. a one level nested struct, and irrespective if the fields are primitives or not.

Any performance enhancements with wrapped structs would help all `ConfigureAwait()` calls, and would be _super useful_ when awaiting completed tas

[2018-06-26 14:44] jkotas commented on #18646
This issue was moved to dotnet/corefx#30668

[2018-06-26 14:44] #18646 closed

[2018-06-26 14:57] #18235 closed

[2018-06-26 15:08] nannanbatman commented on #18577
@natethegreat44 for a subset of our Web APIs, we changed `FROM microsoft/dotnet:2.1-aspnetcore-runtime-alpine` to `FROM microsoft/dotnet:2.1-aspnetcore-runtime` and we have not observed OOM for these Web APIs.  We continue to observe OOM for some Web APIs that are still on `-alpine`, but not all of them.

[2018-06-26 15:18] AndyAyersMS commented on #18542
Thanks.

It is not as easy to promote `struct(struct(x, y))` as it is to promote `struct(x, struct(y))`, as in the former the number of fields changes. The jit's nested struct promotion is quite limited and put there to ensure mainly that `Span<T>` can be promoted: it contains two fields, one a nested struct `ByReference<T>` with one field.

To generalize here, we probably need to augment the jit

[2018-06-26 16:29] jakobbotsch opened #18648 "Misuse of optPrepareTreeForReplacement leads to incorrect exception thrown in release"
This example incorrectly throws an exception in release:
[code]

@mikedn has analyzed the cause [here](https://github.com/dotnet/coreclr/pull/18257#issuecomment-400360920):

[2018-06-26 16:33] AaronRobinsonMSFT commented on #18599
Appreciate your understanding and glad you have a workaround.

This issue will still be searchable after it is closed so people should find it with out too much trouble. Feel free to add additional links to your mitigation if you like. I will make sure we bring this issue up as #930 work gets under way.

Thanks.

[2018-06-26 16:33] #18599 closed

[2018-06-26 16:50] jashook commented on #4840
/cc @sbomer

[2018-06-26 18:30] erozenfeld commented on #18648
/cc: @dotnet/jit-contrib

[2018-06-26 18:41] mikedn commented on #18648
I'm starting to think that this is actually a consequence of my fix and not a real bug. Without my fix it's unlikely that `tree` will ever have side effects, it's been evaluated to a constant after all. So what that code is doing is rather clever - `optPrepareTreeForReplacement` will return a comma where op1 has the side effects from `tree`'s children and op2 is `tree` that then becomes a constant

[2018-06-26 18:42] natethegreat44 commented on #18577
Thank you @nannanbatman - that's good info. We're trying out a non-alpine base image now as well.

[2018-06-26 18:43] janvorli commented on #18634
The `mlock` is necessary for proper behavior of the FlushProcessWriteBuffers PAL function that is crucial for ensuring reliable runtime suspension for GC. See https://github.com/dotnet/coreclr/blob/e6ebea25bea93eb4ec07cbd5003545c4805886a8/src/pal/src/thread/process.cpp#L3095-L3098 for description of the reason.
On Linux 4.3 and higher, there is a `sys_membarrier` syscall that we could use as an al

[2018-06-26 18:47] janvorli commented on #1563
It seems that the implementation of the sys_membarrier on Linux 4.3 is too slow.
Starting with kernel 4.14, there is a new flag MEMBARRIER_CMD_PRIVATE_EXPEDITED that enables much faster implementation of the syscall using IPI. See https://lttng.org/blog/2018/01/15/membarrier-system-call-performance-and-userspace-rcu/ for some details.

[2018-06-26 18:51] erozenfeld commented on #7465
/cc: @dotnet/jit-contrib

[2018-06-26 18:52] erozenfeld commented on #18153
/cc: @dotnet/jit-contrib

[2018-06-26 18:55] CarolEidt commented on #18153
I ran into repeated issues in attempting to build arm.
I got farther in attempting to build armel, but now the corert build step "./build.sh armel debug verbose cross" immediately fails with:
[code]
Any suggestions?
cc @dotnet/corert-contrib

[2018-06-26 19:07] CarolEidt commented on #7465
This is something that I'd like to see supported, and it makes sense to do this as part of enregistering vars that are live across exception handlers (#6001, #10630), as that also involves tracking of lclVars that are valid in memory.

[2018-06-26 19:11] jakobbotsch commented on #18648
Let me know if I should close this one. The examples here does throw in .NET core 2.1 as well, although I presume that is just because they invoke the same behavior as #18232.

[2018-06-26 20:46] briansull commented on #18648
Yes, This is what we do when replacing constant Value-numbered trees with Comma nodes.  Evalutate the side effects and save them as op1, and return the constant value using op2 of the Comma node.

[2018-06-26 21:13] mikedn commented on #18648
Indeed, without my fix side effects get dropped because `gtExtractSideEffList` fails to handle `ARR_ELEM`. With my fix side effects get dropped because `optVNConstantPropOnTree` wasn't expecting that a constant tree has side effects. Either way, an assignment that initializes a CSE variable is lost so you get a null ref exception.

I think it's safe to close this one, I'll need to figure out how t

[2018-06-26 21:38] jakobbotsch commented on #18648
No worries. I've been following development for a long time and have always wanted to get more familiar and more involved. It has been pretty amazing to see your contributions over the years. 👍
I am happy to finally be able to contribute.

Closing since the underlying issue was in #18257.

[2018-06-26 21:38] #18648 closed

[2018-06-26 21:43] noahfalk commented on #18448
Further follow up for anyone looking for daily 2.2 preview builds. The fix is present in both daily runtime and SDK builds at this point: https://github.com/dotnet/core/blob/master/daily-builds.md.

2.1 servicing is still in progress. Part way through we discovered a 2nd issue (#18602) when using the Visual Studio debugger disassembly window. Although we determined it was pre-existing bug in 2.0 a

[2018-06-26 22:05] brianrob opened #18655 "Enable IBC Optimization on System.Private.CoreLib"

[2018-06-26 22:11] brianrob opened #18656 "Use IBC to Drive Partial NGEN and Tiered Compilation Behavior"
Now that we have tiered compilation in .NET Core, we should look for ways to use it to get fast start-up, great throughput at steady state, and improvements to size-on-disk.

Consider this a tracking item that should be used to drive a plan here.

[2018-06-26 22:14] brianrob opened #18658 "Provide an Out-of-Process Control Mechanism for EventPipe"
Right now, EventPipe is only controllable via environment variables and private reflection.  We should add an out-of-process control mechanism to significantly improve usability.

[2018-06-26 22:19] brianrob opened #18659 "Provide a Mechanism to Stream Events Out-of-Process from EventPipe"
Provide a mechanism to consume events in real time from EventPipe out-of-process.

[2018-06-26 22:52] fiigii opened #18660 "The Vector128<byte> overload of SSSE3 Shuffle is missing"
We should add `Vector128<byte>` overload for SSSE3 `Shuffle` to keep consistent with other ISAs and avoid calling `StaticCast`.
[code]

[2018-06-26 23:01] brianrob opened #18661 "Remove Conditional Compilation of Generated DotNETRuntimeEventSource.cs"
Build scripts and/or project files need to be fixed so that the conditional compilation of DotNETRuntimeEventSource.cs can be replaced with an unconditional compilation.  Otherwise, we risk ending up with a build System.Private.CoreLib.dll that doesn't contain the contents of DotNETRuntimeEventSource.cs.

The line of interest is here: https://github.com/dotnet/coreclr/blob/master/src/System.Privat

[2018-06-26 23:18] AndyAyersMS commented on #18603
Probably could do some tweaking to `Lowering::LowerSIMD` here. Looks like SETCC removal is inhibited by the cast:
[code]
This might make a good up for grabs issue....

[2018-06-26 23:28] hvanbakel commented on #18413
I'm afraid not, we were going to upgrade to 2.1 anyway because of that being an LTS release. So since it doesn't occur there we were unblocked.

We're experimenting with docker at this time so it's hard to figure out exactly what is happening and why since we cannot reproduce this outside of docker.

If you want I can close this issue for now then reopen it if I do find more information that is re

[2018-06-26 23:57] brianrob commented on #18661
Looking back at the reason I added this, it was because in the official build, sync.sh was failing because DotNETRuntimeEventSource.cs was missing.  Sync.sh is called before the build starts and so it's expected that the file is not there.

The failure is isolated to Unix, and it appears to be due to an interaction between run.exe and the shell.  Run.exe executes the msbuild sync task by running t

[2018-06-26 23:58] AndyAyersMS commented on #18413
I think that seems reasonable -- if you get back to this, feel free to reopen, as we would like to understand what is happening.

[2018-06-27 00:00] voinokin commented on #18660
(Is also in #18145 item 5)

[2018-06-27 00:00] AaronRobinsonMSFT commented on #18661
@brianrob The `run.exe` tool comes out of the build tools repo: https://github.com/dotnet/buildtools/blob/master/src/Run

[2018-06-27 00:07] hvanbakel commented on #18413
Close for now

[2018-06-27 00:07] #18413 closed

[2018-06-27 00:12] fiigii commented on #18660
@voinokin Thank you for pointing that out!

[2018-06-27 00:50] brianrob commented on #18661
Thanks @AaronRobinsonMSFT.

[2018-06-27 00:55] AndyAyersMS commented on #18327
I looked into this. One null check is possibly needed to preserve exception semantics, but 3 consecutive does seem unnecessary.

The culprit is here:
https://github.com/dotnet/coreclr/blob/bcabe118b783feb489c791e340f1c3ea792acde2/src/jit/assertionprop.cpp#L969-L972
I don't understand the need for the second half of the test here, as just above this we've explicitly narrowed things to `TYP_REF` and

[2018-06-27 02:12] AndyAyersMS commented on #18327
Allowing this assertion to propagate generally does good things (especially in a bunch of async-inspired MoveNext methods), but causes a few sizeable regressions. Haven't root-caused the regressions just yet, but suspect maybe the new assertions are causing other useful assertions to get dropped.

@briansull do we have data anywhere on how many assertions get dropped because of size limits? If not

[2018-06-27 03:32] #18218 closed

[2018-06-27 03:41] #18420 closed

[2018-06-27 05:03] noahfalk commented on #18536
In order to unblock myself locally I created a partial fix which can be found at: https://github.com/noahfalk/coreclr/tree/fix_r2r_export_master
I'm not actively continuing work here however, anyone can pick up where I left off.

[2018-06-27 09:41] voinokin commented on #18327
Not sure whether this is related or not
Here's another example where null reference checks are not uniform:

[code]

[code]

- `ulong keyPartDirect = rKeyPartDirect;` - check present

[code]

- `ulong keyPartThruRefNormal = rKeyPartThruRefNormal;` - check present

[code]

-`ulong keyPartThruRefThruPtrDirect = rKeyPartThruRefThruPtrDirect;` - check present

[code]

-`ulong keyPartThruRefThruPtrUnsa

[2018-06-27 12:16] BredPet commented on #18153
@CarolEidt It seems uninitialized armel rootfs.
Just init rootfs: sudo cross/build-rootfs.sh armel tizen before building

[2018-06-27 12:20] BredPet opened #18669 "[armel] GC fails"
When I run applications with a small memory consumption, about 5 mb, everything is fine. But when consumption increases at least to 15, everything falls.
[code]

@dotnet/arm32-corert-contrib

[2018-06-27 12:29] jkotas commented on #18669
This issue was moved to dotnet/corert#6021

[2018-06-27 12:29] #18669 closed

[2018-06-27 13:45] jakobbotsch commented on #18603
I can try to take a look at this. To be clear, `Lowering::LowerSIMD` is for the containment of `ymmword ptr [rdi]`, and SETCC removal would be somewhere else, right?

[2018-06-27 14:14] mikedn commented on #18603
It looks to me that there are multiple issues being discussed here:
* lack of AND+CMP combining for SIMD. This is something that the JIT does for integral types (see `Lowering::OptimizeConstCompare` in lower.cpp) but not for SIMD types. In theory this should be a simple optimization but I suspect that things are going to be a bit more complicated in the case of SIMD  at least because `ptest` is no

[2018-06-27 14:23] mikedn commented on #18327
@AndyAyersMS Give me a couple of days (next weekend?), I'm trying to sketch something.

[2018-06-27 16:57] briansull commented on #18327
It is a fairly common occurance to run out of new assertions when compiling very large methods.

[2018-06-27 17:00] briansull commented on #18327
[code]
The comment above is probably why we don't make the assertion when the type is a Byref
At one time we wanted to make a null Byref an impossibility, but it was eventually allowed.

Are we now performing null checks on byrefs generally?

[2018-06-27 17:01] AndyAyersMS commented on #18327
Did some crude stats gathering and we don't lose assertions all that often. Using PMI over FX:

Table Size | Num Methods | Avg Assertion Count | Methods with Dropped Assertions
----- | ------- | -------- | ----
64 | 159493 | 4.55 | 222
128 | 1801 | 42.3 | 28
256 | 237 | 81.2 | 4

The current size determination is keyed off of `compILCodeSize` and so doesn't take inlining into account.

We can prob

[2018-06-27 17:03] briansull commented on #18327
We also must keep the BigOffset check, because the null check is a deref of the base pointer without the offset added.

`            if (fgIsBigOffset(offset) || (vnStore->TypeOfVN(vn) != TYP_REF))`

[2018-06-27 17:06] AndyAyersMS commented on #18327
We are generating null checks in this case....
[code]
Maybe as a result of #16492  -- perhaps this is kicking in even when we're jitting?

[2018-06-27 17:08] briansull commented on #18327
From your data we are currently dropping some assertsions in 1.6% of the medium and large methods.

[2018-06-27 17:12] briansull commented on #18327
Could we perhaps just add an explicit null check once for any TYP_BYREF arguments on their first use?

[2018-06-27 17:18] AndyAyersMS commented on #18327
I'm not sure we can always know when there is a suitable first use.

Notes for #16492 show diffs but that was with crossgen and some diffs were expected (given the amount of R2R we have). I should go back and revisit that change with PMI diffs.

At any rate it seems like we should condition the new case introduced in #16492 by also checking that we are actually prejitting. When jitting there is no

[2018-06-27 18:12] #18549 closed

[2018-06-27 18:12] #18660 closed

[2018-06-27 18:19] #18661 closed

[2018-06-27 19:03] AndyAyersMS commented on #18327
#16492 is not the culprit ... we evidently don't assume that the `this` pointer in a struct method is non-null. So at least one null check here is required.

[2018-06-27 19:23] #16509 closed

[2018-06-27 19:31] jakobbotsch opened #18672 "Wrong constant propagation on Linux in release"
On Linux in release the following program outputs `1` in debug, but `0` in release:
[code]

I'm not 100% sure that this isn't the same as #18259, however this only reproduces on Linux so there is definitely something different here.

[2018-06-27 19:38] jakobbotsch commented on #18672
The disassembly is:
[code]

Without the call to `M` it is correct:
[code]

Here is a JIT dump:
https://gist.github.com/jakobbotsch/725a429e55d8cede0a40c91b7dc84808

Value numbering gives the argument to `WriteLine` the same VN as 0 and then it is constant propagated:
[code]

[2018-06-27 19:47] jakobbotsch commented on #18672
Actually the difference is in struct `S1`. With
[code]
this repros on Windows too. If `S1` is empty, then it only repros on Linux. So this is probably some variant of #18259 after all...

[2018-06-27 20:37] AndyAyersMS commented on #18327
Looking at some of the regressions from dropping that TYP_REF clause: (via pmi)
[code]
In `NumberToStringFormat` we generate 5 more non-null assertions early on and so and lose 5 other useful assertions that happen later.

Would be nice if assertion prop describes assertions that it drops.

Also, in methods like this where we do a fair amount of inlining (see below) it doesn't make sense to base t

[2018-06-27 20:48] AaronRobinsonMSFT opened #18673 "COM client tests"
Testing for scenarios when a coreclr application is a COM client should exist

[2018-06-27 20:50] AaronRobinsonMSFT opened #18674 "COM server tests"
Testing for scenarios when a coreclr application is a COM server should exist

[2018-06-27 20:54] AndyAyersMS commented on #18327
The `GetHashCode` diffs for `ValueTuple8` seem to be caused by inflated temp ref counts causing lots of unnecessary stack slot allocation for unused temps, which pushes other slots to higher offsets that require larger encoding. Let me see if I can track this one down.

[2018-06-27 21:16] AaronRobinsonMSFT opened #18675 "Add additional PInvoke tests to coreclr"
The PInvoke scenario surface area is large and the coreclr repo doesn't have coverage that would be considered adequate. Missing areas (not exhaustive):

- Arrays
- SafeHandles
- CriticalHandles
- DllImport searching with UNICODE characters

[2018-06-27 21:44] sywhang commented on #18536
Thanks @noahfalk, I'll take a look at this

[2018-06-27 21:53] AndyAyersMS commented on #18327
Just the usual re-morph sloppiness with ref counts:
[code]
Here ref counts for V212 and V213 should not change. But they do.

[2018-06-27 22:28] AndyAyersMS opened #18678 "JIT: possibly revisit how we set assertion prop table size"
Some data on how often we drop assertions (from investigations into #18327, via pmi over fx):

Table Size | Num Methods | Avg Assertion Count | Methods with Dropped Assertions
----- | -------: | --------: | ----:
64 | 159493 | 4.6 | 222
128 | 1801 | 42.3 | 28
256 | 237 | 81.2 | 4

Overall this doesn't seem too bad -- only about 0.16% of methods lost assertions from table size limits. I unfortunate

[2018-06-27 22:55] AndyAyersMS opened #18679 "JIT: look at cost impact of assertion dup detection"
More follow on from #18327.

When we generate new assertions we check to see if they're duplicates. If so we don't need to record them. Data from PMI shows that about 75% of generated assertions are duplicates.

The check does a linear scan against the existing assertion table which is potentially costly, and this cost would grow if we start recording all or more assertions as proposed in #18678.

[2018-06-27 23:42] AArnott opened #18680 "Hung .NET Core console app - F5 launch from VS"
A .NET Core 2.1 console app hung (right after I pressed Ctrl+C which the console app handles) and inspection suggests the code required to exit the app never executed because the method could not be JITted.

[Dump file](https://microsoft-my.sharepoint.com/:u:/p/andarno/Eahy34c1IvpOgtMkgCPvKQAB2QNonNUbsvL3LcORNs62BQ?e=iA5Cop)

[code]

[2018-06-27 23:59] tarekgh commented on #18446
@kouvel Kount Veluri FTE @jeffschwMSFT Jeff Schwartz FTE @tommcdon Tom McDonald FTE

could you please help with this issue? this is the issue that @kouvel Kount Veluri FTE fixed dotnet/coreclr#12668 for 2.0.3 but people running into it. Although they have installed dotnet 2.0.3, maybe they are not targeting this version which has the fix? would be nice if you can help narrow down the problem.

[2018-06-28 00:07] AndyAyersMS commented on #18327
Linking to #8288 for reference.

[2018-06-28 00:28] jkotas commented on #18637
microsoft/dotnet:2.1.1-runtime-alpine has a memory leak that was most likely introduced by dotnet/coreclr#17931. @janvorli is looking into it.

Please stay on microsoft/dotnet:2.1.0-runtime-alpine or switch to a different Linux flavor as workaround for now.

[2018-06-28 00:34] jkotas commented on #18577
https://github.com/dotnet/coreclr/issues/18637#issuecomment-400872197 has details about the alpine-2.1.1 out of memory problem.

Let's keep this issue focused on the Ubuntu OOM issue.

[2018-06-28 01:12] Tadimsky commented on #14037
@sywhang Is there any way we could get this fix ported to older versions? If it's in 2.1 and up we have to increase our min version for our app (which we are unable to do as we have to target RS1+)

[2018-06-28 01:14] sywhang commented on #14037
@Tadimsky what version of coreclr are you using?

[2018-06-28 01:18] jkotas commented on #14037
.NET Core 2.1 is expected to work on RS1+ fine.

[2018-06-28 03:16] aishiguro opened #18682 "ASP.NET Core application terminates with Segmentation fault on ARM."
I've published my ASP.NET Core application with `-c release -r linux-arm` option.
My application is running on Linux (Debian 9) in Docker (version 18.05.0-ce, build f150324) on ARM (Cavium ThunderX (2x) Armv8).
This application works as ASP.NET Core SignalR hub and handles many requests from SignalR clients. However, sometimes dies and outputs core dump file.

I've read this issue and tried .NET C

[2018-06-28 03:43] jkotas commented on #18680
@AArnott Was the app being debugged when this happened? The dump suggests that it is stuck because of it is waiting for debugger to respond.

[2018-06-28 06:04] mikedn commented on #18678
Should the number of assertions that are actually used be looked at as well? I suppose it's quite possible that we generate more assertions than needed.

FWIW I started a RangeCheck prototype that does not existing assertions but rather extracts them on demand. I need to go back to it to see what it would take to bring it to a reasonable functionality level to allow some measurements.

[2018-06-28 07:03] mkSanalogic opened #18683 "Option additionalProbingPaths is not working"
According to documentation, this parameter should allow the placement of libraries in a different location, for example a subdirectory. However, the parameter fails to work as advised.

I'm running into the same behavior explained in this posting on StackOverflow:
https://stackoverflow.com/questions/48650348/additionalprobingpaths-not-respected-after-dotnet-publish

Basically, if you put the addit

[2018-06-28 07:13] mkSanalogic commented on #18683
I've attached a very simple example app demonstrating the issue. The output in the debug directory of SimpleTestApp is configured so it should find the library which has been moved to the lib subdirectory, but an error is produced instead.

[SimpleTestApp.zip](https://github.com/dotnet/coreclr/files/2144161/SimpleTestApp.zip)

[2018-06-28 07:38] kpreisser commented on #18486
Hi,
we have the same problem with an .NET Core console application running on Raspbian 9 that runs a web server using Kestrel. After targetting `netcoreapp2.1` and publishing for `linux-arm`, the application crashes after some time with the following output:

[code]
However, when running with .NET Core 2.0, this does not appear. This issue is currently blocking us from moving to .NET Core 2.1.

Un

[2018-06-28 08:00] #18522 closed

[2018-06-28 08:56] kasper3 commented on #3532
I think this issue is resolved since as there is no mscorlib.ni.dll generated in coreclr.

[2018-06-28 09:21] #3532 closed

[2018-06-28 09:56] jkotas commented on #18486
@kpreisser Enable code dumps by running `ulimit -c unlimited`. This will cause coredump to be generated when you hit this next time. Open the codedump in debugger, find the stacktrace of the crash and share it here if possible. It would be useful to do this several times to see whether there is any pattern. We will then decide on the next steps. Thanks for your help in finding root cause of this c

[2018-06-28 10:08] jkotas commented on #18683
cc @jeffschwMSFT

[2018-06-28 11:07] jkotas commented on #18682
@aishiguro Could you please load the core dump in the LLDB debugger and get the managed stacktrace where this is crashing? It should be something like:

[code]

It would be useful to do this on 2 or 3 dumps to tell whether there is any regular pattern.

More instructions about how to use sos debugger extension are in
https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-in

[2018-06-28 11:07] jkotas commented on #18682
@RussKeldorph It may be useful to run a sample SignalR application on checked runtime/JIT on Linux-arm32 to see whether there are any asserts that would point to this. There is a good chance that this is codegen/GC hole bug.

[2018-06-28 13:07] jeffschwMSFT commented on #18446
@iga1976 do you have a small repro?

[2018-06-28 13:22] janvorli commented on #18682
I am currently hitting very similar issues when trying to run Powershell on my Odroid XU4. It crashes at various places soon after powershell is started (sometimes Powershell reaches the point when I can enter a command just fine and sometimes it crashes before that). I am currently looking into it. In a case that I've already hit twice, I can see JIT_GenericHandleClassWithSlotAndModule on the sta

[2018-06-28 13:33] jkotas commented on #18682
That sounds like FlushInstructionCache problem again.

[2018-06-28 13:48] AArnott commented on #18680
Yes, it was an F5 launch from VS. When I hit Ctrl+C in the app, it froze instead of canceling and exiting. So I then hit Break in VS and took a dump from which I got these callstacks.

[2018-06-28 15:37] janvorli commented on #18682
It seems so, more specifically like a crossgened images problem. When I set COMPlus_ReadyToRun=0  COMPlus_ZapDisable=1, I was able to run 50 iterations of powershell without any crash (I've stopped it then). Without these, it crashes in several iterations. It seems we have a bug in flushing the cache after relocations.

[2018-06-28 15:39] tarekgh commented on #18446
@jeffschwMSFT a sample repro is here https://github.com/dotnet/coreclr/issues/12668#issuecomment-317055454

I want to point at @kouvel already fixed this issue and the fix supposes to be in 2.0.3 so my guess the problem here is @iga1976 has 2.0.3 but his app is targetting the previous version which not have the fix. it will be nice if @iga1976 run the following command and get the output and share

[2018-06-28 15:42] jeffschwMSFT commented on #18683
For better or worse this feature does work, but it may not be intuitive.  Let me explain how you can modify this project to have it work.
First how I diagnosed the failed load.  I set COREHOST_TRACE=1 and validated where the host looked when additionalProbingPaths was set...

Processing TPA for deps entry [SimpleTestLib, 1.0.0, SimpleTestLib.dll]
  Considering entry [SimpleTestLib/1.0.0/SimpleTest

[2018-06-28 16:16] janvorli commented on #18682
Yes, the cache flushing is wrong. I've added some logging into  PEImageLayout::ApplyBaseRelocations and found that it doesn't flush all the relocated regions.

[2018-06-28 16:17] jakobbotsch commented on #18603
With respect to 1, what would be the preferred way to solve it? I guess we could match the tree in lowering, eg. transform a tree such as

[code]
into
[code]

However, I don't find it particularly pretty having to rely on code-gen generating `ptest` and keeping the conditions (eg. SSE 4.1) up to date in two places.

[2018-06-28 16:37] jakobbotsch commented on #18603
Is it feasible to add a new intrinsic ID for `ptest`? That way we could lower
[code]

to something like
[code]
for SSE 4.1+. That would make the containment problem easier to fix as well.

[2018-06-28 16:39] mikedn commented on #18603
Yes, it's best if lowering produces IR that resembles the final code instead of relying on codegen to perform additional transforms/optimizations. It's not always possible/feasible/beneficial but in this case it probably can be done easily by simply adding a SIMD intrinsic that represents `ptest` and have lowering generate `SIMDIntrinsicTest` followed by `SETCC`/`JCC` when possible.

cc @CarolEidt

[2018-06-28 17:01] tannergooding commented on #18603
@mikedn, @CarolEidt. Whatever we do, it might be beneficial to do it in a way that can also be consumed via Hardware Intrinsics, since similar logic is/will be required there.

[2018-06-28 17:13] stephentoub opened #18688 "Bounds checks on array/span not eliminated after length check"
I've got code similar to the following repro:
[code]
I was hoping/expecting the bounds checks on each of those four writes to dst to be eliminated, but they’re not:
[code]
To work around that, I can use Unsafe.Add and MemoryMarshal.GetReference, e.g.
[code]
in which case I get the better:
[code]
but it’d be nice not to have to use Unsafe for cases like this.

cc: @AndyAyersMS
Related: https://gith

[2018-06-28 17:29] mikedn commented on #18603
I'm not sure how that's relevant, with HW intrinsics the developer has direct access to `ptest`.

[2018-06-28 17:44] tannergooding commented on #18603
Yes, via several different APIs that return a `bool`. The logic for folding the result of the `ptest` and the subsequent `cmov`, `setcc`, `jcc`, etc should be shared if possible.

[2018-06-28 17:46] mikedn commented on #18688
This works too:
[code]

Hmm, maybe I can make it work without the cast to `uint`. That's normally needed to ensure that the index is positive but in the case of constants this is obvious.

[2018-06-28 17:49] stephentoub commented on #18688
Interesting, thanks.  Yeah, I see `(uint)dst.Length > 3` works, but `(uint)dst.Length >= 4` does not.  That seems... arbitrary :)

[2018-06-28 17:50] mikedn commented on #18603
That's a different thing. And there's a separate issue for it: #17073

[2018-06-28 17:54] mikedn commented on #18688
Right, that's another thing that can probably be improved in the case of constants. For variables something like `dst.Length >= x` is not of much use, unless perhaps you then have `dst[x - 1]`. That's something that the `RangeCheck` phase should be able to handle but it's so focused on dealing with loops that it pretty much misses anything else.

[2018-06-28 17:55] janvorli commented on #18682
Hmm, I am sorry for the confusion, the regions that were not flushed were not executable, so it was a red herring.

[2018-06-28 18:28] CarolEidt commented on #18603
I believe that the intrinsics for ptest are already defined here https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/X86/Sse41.cs#L569 and below, but not yet implemented, so it would be a matter of implementing the SSE4.1 intrinsics, and then adding the support in `Lowering` to do the transformation. (And, separately, adddress #17073)

[2018-06-28 18:30] mikedn commented on #18603
Those are HW intrinsics, this is about SIMD intrinsics. Though I wonder if it would be possible to just reuse the HW intrinsic in this case, hmm...

[2018-06-28 18:40] tannergooding commented on #18603
@CarolEidt, SSE4.1 should be fully implemented

[2018-06-28 18:47] CarolEidt commented on #18603
@tannergooding - thanks; for some reason I missed seeing the implementation for them when I looked.
@mikedn - Yes, I would thank that, by the time we're in `Lowering` we should just be able to check for availability and then use the HW intrinsics.

[2018-06-28 18:53] mikedn commented on #18603
Sounds good but then we need to deal with #17073 first because existing `LowerSIMD` relies on `SETCC`/`JCC` and HW intrinsics don't support that.

[2018-06-28 18:53] sandreenko opened #18690 "SuperPmi: add ability to exclude failing methods"
SuperPMI is used to collect method context files and replay them using only JIT.
It is also possible to collect plain *.mc, but replay with set of `COMPLUS_stress` variables, in this case we can have some methods that are failing with `stack overflow` or `bad code` that are correct and do not represent any problems in the jit. For this scenario we need to be able exclude such methods from the repl

[2018-06-28 18:54] sandreenko commented on #18690
cc @BruceForstall @dotnet/jit-contrib

[2018-06-28 18:57] AndyAyersMS commented on #18690
I suspect names will not be unique, so you may need to also have the MCH index or similar attribute.

[2018-06-28 19:08] sandreenko commented on #18690
You are right, but MCH index could change from collection to collection, so we can't use it.
We were thinking about method hashes, but not all `*.mc` files have them.

[2018-06-28 19:14] Tadimsky commented on #14037
I think I may be confusing things then.
We're a .NET Native UWP app (which uses CoreCLR) - using the 1.7 version of the [Tooling](https://github.com/Microsoft/dotnet/blob/master/releases/UWP/net-native1.7/README.md).

It looks like that UWP depends on CoreCLR >1.0.3? Is that correct?

[2018-06-28 19:19] AndyAyersMS commented on #18690
Method hashes are not unique either ... I have never found a good solution (see #1957).

[2018-06-28 19:31] brianrob commented on #18434
Thanks @noahfalk.

We can certainly disable these events if ReadyToRun is disabled.  I'm not sure at what level we have this knowledge, but at a minimum, we can check the environment variable.  I need to look further into this to see how we know that we're dealing with pre-compiled code to know for sure.

One follow-up question as well - I dug more into the current implementation of ```SendMethodI

[2018-06-28 19:36] jkotas commented on #14037
Right. .NET Native UWP is build from some of the same parts as .NET Core, but it is a different product with different versions, etc.

[2018-06-28 19:48] Tadimsky commented on #14037
@jkotas So if we are experiencing this issue with `FailFast` at the moment, how can we improve things?

[2018-06-28 20:00] mjsabby commented on #18013
I think we can start by reverting https://github.com/dotnet/coreclr/commit/1aa7d6b8796f7e28a63162117c5bb16a207a472b to at least allow the ability to load multi module assemblies.

[2018-06-28 20:00] jkotas commented on #14037
You should be getting data about your app crashes via https://docs.microsoft.com/en-us/windows/uwp/monetize/get-error-reporting-data . The Microsoft internal name for this is Watson.

[2018-06-28 20:08] Tadimsky commented on #14037
We're an internal app and use Watson. The data available in !analyze in WinDBG does not contain the information provided to FailFast due to this issue.
That's why I'm wondering if we can get this fix brought to older versions of CoreClr.

[2018-06-28 20:59] morganbr commented on #18013
@mjsabby, multi-module assemblies are orthogonal to mixed-mode. (Multi-module means you linked together netmodules using alink.exe, mixed mode means you have a combination of managed and native code in the same assembly). If you have a requirement for multi-module assemblies, I'd suggest filing a separate issue outlining what you need.

[2018-06-28 21:05] jkotas commented on #14037
I doubt that it is because of this issue. This logging added here goes to https://docs.microsoft.com/en-us/windows/desktop/api/winbase/nf-winbase-reporteventw . This API is not allowed in UWP apps.

[2018-06-28 21:09] knownasilya commented on #12217
@terrajobst so I had to revert that because it breaks the app when using razer. Error is attached.

![dotneterror](https://user-images.githubusercontent.com/34726/42060752-e0ab0384-7af5-11e8-9cc7-291baba1dbd3.png)

The module that it can't find changes based on machine or os, not sure. But when I reverted back to the old Http  package, it worked.

[2018-06-28 21:09] mjsabby commented on #18013
@morganbr Thanks. I'm not sure why I concluded that C++/CLI needs netmodule support.

[2018-06-28 21:11] mjsabby opened #18692 "Proposal: Re-introduce support for multi-module assemblies"
Is there a technical reason or downside to having multi-module assemblies in CoreCLR?

https://github.com/dotnet/coreclr/commit/1aa7d6b8796f7e28a63162117c5bb16a207a472b removed the code associated with FEATURE_MULTIMODULE_ASSEMBLIES since it was never defined.

If there isn't, I'd like to propose we bring this feature back.

[2018-06-28 21:35] BruceForstall commented on #18170
E.g., in netci.groovy:
[code]

[2018-06-28 21:56] BruceForstall commented on #18655
Related: https://github.com/dotnet/coreclr/issues/18182

[2018-06-28 22:23] jkotas commented on #18692
Nothing in end-to-end .NET Core support it. Expensive to bring back in supported way.

[2018-06-28 23:09] terrajobst commented on #12217
Unfortunately I have no idea how the Razor assembly resolver works.

@davidfowl, could you please take a loog

[2018-06-29 00:45] A-And opened #18699 "System.Drawing.Common.Tests Failures"
Some System.Drawing tests are failing with invalid Enum values. The disabled tests failing from the same cause are

[code]

[2018-06-29 00:47] A-And opened #18700 "System.Linq.Expressions.Tests TypeLoadException in System.Private.CoreLib"
A TypeLoadException is hit when running System.Linq.Expressions.
[code]

### To reproduce failing

1. `build x64 [release/debug] skiptests`
2. `.\build-test.cmd x64 [release/debug] buildtesthostonly`
3. Navigate to `<repo-root>\bin\tests\<Configuration>\CoreFX\tests_downloaded\System.Linq.Expressions.Tests`
4. Run `<repo-root>\bin\tests\<Configuration>\testhost\dotnet.exe .\xunit.console.netcore.e

[2018-06-29 00:49] A-And opened #18701 "System.Security.Principal.Tests Failure"
The following error is hit when running System.Security.Principal.Tests - this also crashes the .NET Core Host running the XUnit runner.
There is a substantial number of tests, which fail with `ObjectDisposedException`
[code]

### To reproduce failing

1. `build x64 [release/debug] skiptests`
2. `.\build-test.cmd x64 [release/debug] buildtesthostonly`
3. Navigate to `<repo-root>\bin\tests\<Configu

[2018-06-29 00:53] A-And opened #18702 "System.Linq.Expressions.Tests Failures"
Multiple tests in Linq.Expressions.Tests fail.

With all of the below, only some elements in the collections don't pass the test.

[code]

The `LeftWithOrderingCollisions`, `CustomComparator` and `GroupJoin` patterns seem to stand out.

### To reproduce failing

1. `build x64 [release/debug] skiptests`
2. `.\build-test.cmd x64 [release/debug] buildtesthostonly`
3. Navigate to `<repo-root>\bin\test

[2018-06-29 00:56] A-And opened #18703 "System.Net.Http.Functional.Tests Failures"
Three "*Uppercased" tests fail in System.Net.Http.Functional.Tests
Test:
    SocketsHttpHandler_HttpProtocolTests_Dribble.CustomMethod_SentUppercasedIfKnown
Error:
    Xunit.Sdk.StartsWithException Assert.StartsWith() Failure:\\r\\nExpected: GET \\r\\nActual:   get ..

Test:
    SocketsHttpHandler_HttpProtocolTests.CustomMethod_SentUppercasedIfKnown_Additional
Error:
    Xunit.Sdk.StartsWithExcept

[2018-06-29 01:04] A-And opened #18704 "System.Net.Primitives.Functional.Tests Failures"
The following tests fail in System.Net.Primitives.Functional.Tests with an EntryPointNotFoundException
[code]

### To reproduce failing

1. `build x64 [release/debug] skiptests`
2. `.\build-test.cmd x64 [release/debug] buildtesthostonly`
3. Navigate to `<repo-root>\bin\tests\<Configuration>\CoreFX\tests_downloaded\System.Net.Primitives.Functional.Tests`
4. Run `<repo-root>\bin\tests\<Configuration

[2018-06-29 01:40] peppy opened #18705 "Huge slowdowns on threaded operations when debugger attached (macOS)"
When debugging our application (with attached debugger, no breakpoints), performance can drop to a point it becomes frustrating to do anything. On occasion we are also seeing OS level hard locking for seconds to minutes, which *may* be related.

Reproducible in both VSCode and Jetbrains Rider. This is exclusive to netcore (2.0 and 2.1) – does not occur under mono or net471 runtime environments. It

[2018-06-29 02:47] GrabYourPitchforks commented on #16082
If there are no complaints, I'm going to close this. The introduction of reassignable ref locals means that we no longer rely on passing `ByReference<T>` through the ABI.

[2018-06-29 05:04] mikedn commented on #18603
Looks reasonable. Couple of small observations:
* You probably don't need `getSIMDVectorRegisterByteLength`. The nodes should already have the correct SIMD types (you may want to assert that it's TYP_SIMD16/32 since there's no bitwise AND for TYP_SIMD8/12) and you can use the type to determine which HW intrinsic to use. It's unfortunate that the HW intrinsic design requires this special casing, oh

[2018-06-29 06:06] noahfalk commented on #18434
I don't think there is anything directly inside the arrays you get back. You could seperately use CodeRegionInfo to determine the extents and then split the array based on the native offset.

Have ETW parsers have already taken a dependency on some contract for that extent? (You and Vance probably know better than I on that) If we don't have a conflicting implementation already in place then it se

[2018-06-29 06:41] benaadams commented on #18542
Using that change on coreclr (where I didn't expected to see much) I see the following
[code]
Improvement
[code]
Regression
[code]

The `AsyncVoidMethodBuilder:Create` change diff is good (@stephentoub this is the one for awaiting a non generic `Task`?)

However, the `AsyncValueTaskMethodBuilder:Create` would suggest its not necessarily going to be a clean win?

[2018-06-29 07:17] saucecontrol commented on #18339
I found another case that might be related and is much more simple to follow.

[code]

|     Method |           Job | Runtime | IsBaseline |     Mean |     Error |    StdDev | Scaled |
|----------- |-------------- |-------- |----------- |---------:|----------:|----------:|-------:|
| FixedPoint |         net46 |     Clr |    Default | 17.10 us | 0.0742 us | 0.0694 us |   1.00 |
| FixedPoint | netc

[2018-06-29 07:38] mikedn commented on #18339
The fact that the same register is used for both shouldn't make any differences, CPUs handle such cases by register renaming.

That may be. In general, register to register moves should have very low cost, in many cases being handled by register renaming and thus generating no actual μops. Still, they can degrade performance, if only because of the increased code size.

[2018-06-29 10:36] ddobric opened #18709 "Issue with large arrays"
Have some Machine Learning code, which works on .NET and allocates a large array double[65536,65536].
To make this working, I had to enable gcAllowVeryLargeObjects .

How to do the same in .NET Core?

Right now, getting following exception:
System.OutOfMemoryException: 'Array dimensions exceeded supported range.'

Thanks

[2018-06-29 10:38] malepatr commented on #17043
Is there already a solution for this problem? I have the same problem

[2018-06-29 11:53] voinokin opened #18710 "Strange codegen with structure fields accesses"
The C# repro code below shows non-uniformity in .NET Core 2.1 JIT behavior regarding (de)optimization of memory accesses having potential side effects. In short, test methods attempt to access all three fields of the structure instance of which only two first values are used.

[code]

Disasm listings follow
------------------------------------------
**`TestMethodInlining()`**
Accesses all three fi

[2018-06-29 12:13] voinokin commented on #18710
Another observation - if I change test methods to pass just 1st field during invokation to `Do()`, this is reflected in disasm as:

------------------------
**`TestMethodInlining()`**
No change - all three fields are accessed.

------------------------
**`TestByRef()`**
Changed to read just the first field.

------------------------
**`TestByPtr()`**
Even more mess - this time the structure is cop

[2018-06-29 12:36] jakobbotsch commented on #18603
Thanks. During this I have also noticed that the current `ptest` optimization does not apply when the operands are flipped, i.e. `Vector<byte>.Zero == (a & b)` generates
[code]
Probably not super important as most people use the first variant, but I imagine it could turn up due to inlining or other optimizations.

When is it appropriate to add node flags? I have noticed that there is a `GTF_JCMP_E

[2018-06-29 13:17] stephentoub commented on #18542
`AsyncVoidMethodBuilder` is the builder for `async void` methods, e.g.
[code]
produces a stub like:
[code]

[2018-06-29 13:17] knownasilya commented on #12217
Would be up to pairing on the issue over vscode live share/hangouts (or whatever) if that would help.

[2018-06-29 13:54] jkotas commented on #18709
`gcAllowVeryLargeObjects` is enabled by default in .NET Core (enabled by default by https://github.com/dotnet/coreclr/pull/8853).

`gcAllowVeryLargeObjects` has still limit of `UInt32.MaxValue` elements in the array: https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/gcallowverylargeobjects-element#remarks . `double[65536,65536]` is over this limit.

[2018-06-29 14:43] benaadams commented on #18542
Ah... shame. Am not worried about the code gen for `async void`; that's just a form of trouble 😉

[2018-06-29 15:12] stephentoub commented on #15364
Closing in favor of https://github.com/dotnet/corefx/issues/30612, as that one has check boxes :)

[2018-06-29 15:12] #15364 closed

[2018-06-29 15:35] mikedn commented on #18603
Personally I prefer to avoid node flags, they tend to increase code complexity and the chance of introducing bugs (there are already many flags and it's not that difficult to forget to check one). But sometimes they're necessary, at least due to shortcomings of the JIT's IR.

But perhaps we won't need neither flags nor new intrinsics. The experimental implementation I've done for 17073 adds a `Low

[2018-06-29 15:35] tannergooding opened #18712 "Implement BMI1 and BMI2 intrinsics"
Pending BMI1:
- [x] AndNot
- [ ] BitFieldExtract
- [x] ExtractLowestSetBit
- [x] GetMaskUptoLowestSetBit
- [x] ResetLowestSetBit
- [x] TrailingZeroCount

Pending BMI2:
- [ ] MultiplyNoFlags
- [x] ParallelBitDeposit
- [x] ParallelBitExtract
- [ ] ZeroHighBits

[2018-06-29 15:36] tannergooding commented on #18712
Logged issue and self-assigned. I have most of this done locally.

[2018-06-29 15:37] tannergooding commented on #18712
Some of the type parameters for `BitFieldExtract` should be changed. Specifically, `start` and `length` should both be `bytes`.

`GetMaskUptoLowestSetBit` should be renamed to correct the casing.

[2018-06-29 15:37] tannergooding commented on #18712
FYI. @eerhardt, @fiigii, @CarolEidt

[2018-06-29 15:40] mikedn commented on #18712
`AndNot` is pointless as intrinsics, it should be easy to generate automatically. And `MultiplyNoFlags` is probably pointless since "no flags" is not something that has meaning in C#.

[2018-06-29 15:49] GrabYourPitchforks commented on #18712
`pext` and `pdep` in particular would be useful for the UTF-8 processing work we're doing.

[2018-06-29 15:56] BruceForstall commented on #17043
@malepatr The bottom line is that this is not a supported processor at this time, and would require some possibly significant development work to support.

[2018-06-29 16:35] voinokin commented on #18712
My 5c
ANDN can be used for branchless select operation in absence of CMOV with the following sequence:
- eval cc
- SETcc sel + zero-extend
- NEG sel
- AND r1, sel
- ANDN r2, sel
- OR r1, r2
Not the fastest solution, still saves 1 NOT op and potentially 1 reg wrt to just ANDs

[2018-06-29 16:42] CarolEidt commented on #18362
Fixed with #18696

[2018-06-29 16:42] #18362 closed

[2018-06-29 17:30] ChaosEngine commented on #18577
Yup, alpine docker images seems to be somehwat linke to the OOM. I've done both
`microsoft/dotnet:2.1-aspnetcore-runtime-alpine`
and
`microsoft/dotnet:2.1.1-aspnetcore-runtime-stretch-slim`
images adn only the alpine based is experiencing the OOM.
What's interesting is that container memory statistics don'r report anything unusual - ~300 MB RSS used

[2018-06-29 17:51] fiigii commented on #18712
@tannergooding Thank you for the work. Could you elaborate on this?

[2018-06-29 18:44] #18498 closed

[2018-06-29 19:05] nycdotnet commented on #18448
We struggled a bit finding the right one, but we're going to try deploying with the .tar.gz for Linux x64 in the "master" column (https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-linux-x64.tar.gz) from [here](https://github.com/dotnet/core-sdk) to see if we can get this going now.  It has the 3.x banner, which is weird, but we assume this should have the fix.

[2018-06-29 19:35] tannergooding commented on #18712
@fiigii, those values (start and length) are combined and encoded in operand 3 (VEX.vvvv) of the instruction.

[2018-06-29 19:38] fiigii commented on #18712
Yes, but these arguments will be promoted to 32bit in the runtime even if they are byte.

[2018-06-29 19:40] tannergooding commented on #18712
They are currently set to `uint` for the 32-bit overloads and `ulong` for the 64-bit overloads. At the very least, they should be `uint` on both overloads.

I had suggested changing to `byte`, as that better represents the actual value range and how we have encoded similar operands on other instrinsic methods.

[2018-06-29 19:56] noahfalk commented on #18448
@rhyous - The issue here is in code that is unique to .Net Core and if I understand 27907 correctly it occurs on desktop .NET Framework. I don't believe they are related.

At some point recently I think the 2.2 work went to its own branch and the daily builds are now labeled 3.x. If the issue still persists in that build please let me know and I'll help you get to the bottom of it.

[2018-06-29 19:56] erozenfeld commented on #18679
@dotnet/jit-contrib

[2018-06-29 20:04] erozenfeld commented on #18678
@dotnet/jit-contrib

[2018-06-29 20:05] fiigii commented on #18712
Agree, thanks for the explanation.

[2018-06-29 20:07] erozenfeld commented on #18688
@dotnet/jit-contrib

[2018-06-29 20:09] erozenfeld commented on #18710
@dotnet/jit-contrib

[2018-06-29 20:11] erozenfeld commented on #18603
@dotnet/jit-contrib

[2018-06-29 20:29] saucecontrol commented on #18339
Hmmm... I didn't think about the register renaming, but if the CPU is doing it in both cases, I'm surprised a 2 byte code size increase would have such a large perf impact.  I'll add more cases if I see anything different come up.

[2018-06-29 20:39] saucecontrol opened #18717 "RyuJIT32 performs unnecessary round-trip through double when converting float to byte"
Given the following method

[code]

RyuJIT32 produces this:

[code]

Note the `vcvtss2sd` followed by `vcvttsd2si`.  RyuJIT64 produces the expected code:

[code]

That makes for a 13% speed difference in this method.

I also just noticed the bounds check is not elided here, just moved.  I can't seem to get it to elide the check.  Any ideas @mikedn?

[2018-06-29 20:49] erozenfeld opened #18719 "Proposal to add classification info to area-CodeGen issues"
There are currently 652 open are-CodeGen issues. To help with triage the jit team went through the issues and compiled classification info for each issue: category, theme, skill-level, and cost. Each issue got one tag from each of the following sets:

category: {cq, correctness, implementation, throughput, proposal, reach, design. documentation, testing, engsys, usability, security, portability}

[2018-06-29 20:51] AndyAyersMS commented on #18339
Perf difference might be caused by loop top alignment, note the backedge target addresses:

[code]
There is a perf benefit to having frequent branch targets be addresses == 0 mod 16 (or these days mod 32).

Not sure if legacy jit gets lucky here or would pad above the loops with a slightly different example.

[2018-06-29 21:09] nycdotnet commented on #18448
We were indeed able to get Newrelic running on that build.  😄

[2018-06-29 21:25] noahfalk commented on #18448
Thanks for the confirmation!

[2018-06-29 21:49] #18341 closed

[2018-06-29 22:17] CarolEidt commented on #18719
Thanks @erozenfeld for posting this.
I have heard before that adding labels for all of these would be too much, but it would be good to understand that issue more fully.
@karelz - can you comment?

[2018-06-29 22:20] AndyAyersMS commented on #18710
On windows x64, any method that makes a call must generally also allocate a stack frame (there is a scratch area one can use to avoid this sometimes if the frame is small, but the jit doesn't use it afaik).
So that explains the RSP adjustments.

Looking at `TestByPtr`: here for some reason (perhaps preserving exception semantics) CSC is requesting a copy be made and then discarded:
[code]
The jit

[2018-06-29 22:34] voinokin commented on #18710
Thanks for the explanation!
Anyway, couple questions remain:
- why two copies of the structure if I use only 1 value of 3 ? (Should I ask elsewhere?)
- why does `TestMethodInlining()` accesses all 3 values although other 2 cases only touch what's used later? My use case is - I have VT with bunch of fields and a method `GetAllData()` which returns everything. Then the code that calls this method ch

[2018-06-29 23:02] AndyAyersMS commented on #18710
Which version of which method?

Not sure yet.

[2018-06-29 23:03] jkotas commented on #2484
@kasper3 Are you planning to work on this one? I can assign it to you for clarity if you would like.

[2018-06-29 23:11] A-And commented on #18156
Implemented for Windows with #18365.

[2018-06-29 23:11] #18156 closed

[2018-06-29 23:13] BruceForstall commented on #17967
@AndyAyersMS Should you just re-enable it (in issues.targets and tests.lst) and resolve it?

[2018-06-29 23:18] AndyAyersMS commented on #17967
Yeah, will do.

[2018-06-29 23:31] AndyAyersMS commented on #18710
The `ldobj; pop` pattern doesn't seem all that common.

@VSadov can you help me understand the purpose of that bit of IL that CSC generates for `TestMethodPtr`? Above was using 2.8.0.62811 (9081e399).

[2018-06-29 23:36] BruceForstall opened #18723 "Failure in arm32/arm64 corefx altjit tests"
I'm seeing:
[code]

Did something change in the corefx tools (msbuild, etc.) that makes this syntax invalid now?

This syntax is constructed in coreclr: tests\scripts\run-corefx-tests.py

e.g.: https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64_arm64_altjit/job/jitstress/job/x64_arm64_altjit_checked_windows_nt_corefx_baseline/230/consoleFull#-165810470383554902-aff0-4799-9e92-0ada24ce2a06

[2018-06-29 23:37] BruceForstall commented on #18723
@RussKeldorph @stephentoub @A-And @weshaggard any ideas?

[2018-06-29 23:49] voinokin commented on #18710
@AndyAyersMS Here's updated repro - with 8 fields read and only 1 value used, it appears that there are 7 copies of the VT on stack.

[code]
--------------------
**ILDASM**

[code]

--------------------
**Disasm**
[code]
--------------------
**Reflector** shows this:

[code]

[2018-06-29 23:53] CarolEidt commented on #18603
That seems like the right direction - is this something you plan to pursue?

@jakobbotsch - it looks like you've got a good start.

[2018-06-29 23:56] voinokin commented on #18710
(I have feeling, that `ldobj; pop` pattern is used to simulate null reference check, with the consequence having copy of the structure on stack)

[2018-06-30 00:11] AndyAyersMS opened #18727 "JIT : PMI now failing on System.Private.CoreLib on an x64 AES intrinsic"
The x64 windows run of PMI over System.Private.Corelib is now failing when trying to jit `X86.Aes.Decrypt` as this method exists in metadata and is marked as an intrinsic, but the jit does not recognize it. This is relatively new (~ last few days) behavior.

Would be nice to fix this by (say) adding in the names to the recognizer and then (for now) just compiling in the not supported variant.

cc

[2018-06-30 00:20] saucecontrol commented on #18339
Looks like the alignment was purely coincidental.  I added an extra increment before the loop to offset each of them by 1.  The RyuJIT version still came out 8% slower with its loop top 16-byte aligned

|     Method |           Job | IsBaseline |     Mean |     Error |    StdDev | Scaled |
|----------- |-------------- |----------- |---------:|----------:|----------:|-------:|
| FixedPoint | netcor

[2018-06-30 00:21] VSadov commented on #18710
I do not think this is intentional.
`p->field` is lowered very early into `(*p).field`.  Then at codegen we see unused struct field load. Struct field loads do not have sideeffects (unless volatile, static, etc...) so we only emit unused receiver.
`(*p).field`  becomes `(*p)`  which has to emit since dereference is sideeffecting (can throw).

Note that from the language prospective `ref` cannot be

[2018-06-30 00:40] VSadov commented on #18710
Actually `ldflda` would not work here. One can happily just do `null + offset`. There must be an indirect read. So it is either `ldobj` or `ldfld`

[2018-06-30 00:40] erozenfeld commented on #18238
I have surgical fixes for these three cases. I verified no diffs on x64 crossgen frameworks. I will verify diffs on ({x64, x86} x {crossgen, pmi} x {frameworks + tests}) and will create a PR next week.

[2018-06-30 02:11] saucecontrol commented on #18717
I'm still learning how to read JITDumps, but I can see here where morph introduces the float -> double cast.  Can't tell why, but I'm learning something, I think...

[code]

[2018-06-30 02:22] tannergooding commented on #18727
@AndyAyersMS, I'll get a fix up tonight.

I do not believe this is new behavior, however. There hasn't been any changes to the AES intrinsics (or even any work even done on them).

[2018-06-30 03:03] AndyAyersMS commented on #18710
Looks like the importer is somewhat aware of things like this for `CEE_POP` but ends up keeping the copy around. I have prototyped a forward-looking peephole that will get rid of the copy. We may be better served enhancing what `CEE_POP` handling can do as it might get even more cases.

With the prototype we still do a null check. Among other things, assertion prop won't make non-null assertions o

[2018-06-30 03:46] AndyAyersMS commented on #18717
There are various notes in `fgMorphCast` indicating that x86 needs to do a two-step conversion, and logic to make it so.

This may be an artifact of the days (not so long ago) when x86 floating point used x87 instructions -- so it may no longer be true.

[2018-06-30 03:46] AndyAyersMS commented on #18717
cc @dotnet/jit-contrib

[2018-06-30 04:05] saucecontrol commented on #18717
Oh, right...  Legacy JIT does this

[code]

[2018-06-30 09:41] kasper3 commented on #2484
@jkotas, sure, does it involve getting rid of `PREPARE_EXTERNAL_VAR`? I couldn't find `PREPARE_EXTERNAL_MACRO` in the code, is that something else?

[2018-06-30 11:46] jkotas commented on #2484
Right, that is an optimization that this can enable. I would do the follow up optimizations like this one in follow up PRs. The first PR should be to just make the runtime compile and work with this option.

[2018-06-30 11:52] jkotas commented on #2484
I have sent you collaborator invite so that I can assign the issue you. Accepting used to set the "Watch" setting for the repo to everything. You may want to switch it back to "Not Watching - only when I am mentioned".

[2018-06-30 14:13] ygoe opened #18732 "Create package for Raspbian OS (ARM32)"
While there is a working binary download for dotnet (.NET Core) for ARM32 that works on a Raspberry Pi B 3+ with a current Raspbian OS, there are no instructions how to install it. And there are no packages for the OS, too. So it's a bit of a mystery how to actually make .NET Core work on a Raspi.

I think there should be a package for that OS. It should be as simple as that:

    sudo apt install

[2018-06-30 16:45] kasper3 commented on #18732
Current blocker for ARM32 in general is https://github.com/dotnet/cli/issues/8998. In my understanding it's about couple of lines of XML changes in dotnet/cli to pack the right binaries (like done for ARM64 https://github.com/dotnet/cli/pull/9011/files) and then testing cross build on x64 (which is a more involved task).
That said, CoreCLR/CoreFx/CoreSetup parts for ARM32 are done.

[2018-06-30 16:56] kasper3 commented on #917
@jkotas, maybe the title of this issue can be renamed to Alpine Linux, instead of multiple operating systems. This is the most commented opened issue in the repo, which, i think, can safely be closed (after title reminiscing).

[2018-06-30 18:52] jkotas commented on #917
Agree. Thanks

[2018-06-30 18:52] #917 closed

[2018-06-30 18:57] jakobbotsch commented on #18682
I am running into the same problem on ARM64 running Ubuntu 16.04.
I have tried to follow the instructions given in this issue, however it appears that there is no
`libsosplugin.so` in the ARM64 packages provided at https://www.microsoft.com/net/download/linux.
Also, the `ASP.NET Core ARM64 Binaries` package is actually ARM32.

It appears consistent; with GDB I always get this stacktrace:
[code]

M

[2018-06-30 23:20] tannergooding commented on #18727
@AndyAyersMS, actually, before I take a closer look at this; Do you have an inkling of what changed here (or logs/repro steps)?

As indicated, no work has been done on AES yet, and there are other ISAs in the same boat (such as `Bmi1`, `Bmi2`, and `Pclmulqdq`) which were not also called out here....

[2018-07-01 01:15] AndyAyersMS commented on #18727
Repro steps:

* clone the jitutils repo (say as d:\repos\jitutils)
* run bootstrap.cmd from repo root
* build checked x64 coreclr and test overlay
* run PMI.dll from jitutils\bin over system.private.corelib with PREPALL or equivalent

For example: (though now it is failing on a different intrinsic, so my diagnosis above may be off)

[code]

[2018-07-01 08:40] fiigii commented on #18727
Is this failure related to the recent API change https://github.com/dotnet/coreclr/pull/18663 ?
But it only changes the unimplemented APIs.

[2018-07-01 14:59] tannergooding commented on #18727
That might it explain it, if PMI was looking at one view (such as the CoreFX reference library) as compared to the corelib view (where the APIs were reviewed).

Right, but one of those APIs is for an ISA that is marked as fully implemented, hence the new assert. I imagine that the initial failure fell out before the CoreFX reference library was updated and made its way back to CoreCLR. While the n

[2018-07-01 15:07] tannergooding commented on #18727
https://github.com/dotnet/coreclr/pull/18738

[2018-07-01 17:50] dotnet-mc-bot opened #18739 "CoreCLR Test Build Broken"
Opened on behalf of @RussKeldorph

Warnings: 1
Status Message: failed

Build : Master - 20180701.03 (Product Build)
Failing configurations:
- Alpine3.6
  - Build-Tests-R2R-Release
  - Build-Tests-Release
- RedHat6
  - Build-Tests-R2R-Release
  - Build-Tests-Release
- RedHat 7
  - Build-Tests-R2R-Release
  - Build-Tests-Release
- OSX
  - Build-Tests-R2R-Release
  - Build-Tests-Release
- Windows
  -

[2018-07-01 20:06] AndyAyersMS commented on #18739
Seems like some kind of scripting error:
[code]
Last successful build used syntax for `run.exe` like:
[code]
Maybe from #18365 ?

[2018-07-01 20:56] kasper3 commented on #18690
Qs

* in SuperPMI, what does PMI stand for? maybe update entry in [glossary table](https://github.com/dotnet/coreclr/blob/8d84ea8/Documentation/project-docs/glossary.md) and add a first intro line in [its readme](https://github.com/dotnet/coreclr/blob/8d84ea8/src/ToolBox/superpmi/readme.txt) (which probably can also be renamed from `readme.txt` to `README.md` to render it nicely on GitHub)?
* how

[2018-07-01 23:50] jkotas commented on #18682
@echesakovMSFT @adityamandaleeka Do you have any tips for tracking down FlushInstructionCache bugs?

[2018-07-02 00:16] RussKeldorph commented on #18739
@A-And

[2018-07-02 00:33] AaronRobinsonMSFT commented on #18709
@ddobric Your question seems to imply that you were able to get this to work on .NET Framework. Is that true? The link @jkotas refers to applies to both CoreCLR _and_ .NET Framework so it would be odd if setting that flag allowed the referenced allocation on .NET Framework.

[2018-07-02 05:03] malepatr commented on #17043
We don't have a Cortex A5 processor, we have an Cortex A7. Is it the same problem?

[2018-07-02 07:33] aishiguro commented on #18682
@jkotas I've tried LLDB. Following is output:

[code]

Something wrong? (libsosplugin.so seems not loaded)

I've checked lldb version, but following command returns no output.

`root@manager1:~/rm/publish# ldd $(find /usr/share/dotnet -name libsosplugin.so) | grep lldb
`

[2018-07-02 10:09] jkotas commented on #18682
@mikem8361 Are there any known issues with opening core dump in lldb-3.9 on Linux ARM?

[2018-07-02 10:37] Dan-True commented on #13292
Is this still being investigated? I just made en entirely new ASP.NET project using 'dotnet new vue' and after first request to the backend, memory use was already 103.7 MB - which seems like a lot to listen on a single port and host a single endpoint.

Is this asp.net or the clr eating up that memory?

Is there anything I can do to help this investigation/fix/feature? I haven't meddled in the dot

[2018-07-02 10:49] xsharkx opened #18741 "Question about software protection"
There is a question about software protection. We used confusing software to compiling and then obscure the code, and then deploying。we use hardware key to protection secret algorithms, so that the software could be prevented from being copied. Now deployed in the container, if a customer asks us to deploy a private cloud to them, the file is easily copied by . Whether the container can be restric

[2018-07-02 12:56] kpreisser commented on #18486
Hi @jkotas,

thank you! I enabled core dumps and run the application today, where it crashed after a few hours with:
[code]

This is the output from `gdb`:
[code]
[code]

I do not yet have more stack traces, but I will continue to run the application and then post the stacks if they are different.

Thanks!

[2018-07-02 15:03] jkotas commented on #13292
You would need to profile to get the answer. The memory use of basic ASP.NET app (dotnet new web) after first request is <15MB. So the remaining ~85MB are likely result of whatever the vue template is doing.

You can try turning off server garbage collector using  `<ServerGarbageCollection>false</ServerGarbageCollection>` as suggested above and see whether it makes a difference.

[2018-07-02 16:20] RussKeldorph commented on #18705
@dotnet/dotnet-diag

[2018-07-02 16:52] tannergooding commented on #18712
This is mostly just waiting on the API fixes to flow back from CoreFX so that I can finish validating the implementation with tests.

[2018-07-02 16:54] tannergooding opened #18743 "Ensure that the indirect call fallback for HWIntrinsics executes the same instructions as the inlined version"
There are a few `Avx` helper functions (namely `Extract` and `Insert`) which are emitting a managed software implementation rather than a switch table fallback.

These should be updated to use the switch table fallback instead.

[2018-07-02 16:55] tannergooding commented on #18743
FYI. @CarolEidt, @fiigii, @eerhardt

This tracks the discussion here: https://github.com/dotnet/coreclr/pull/18734#discussion_r199337102

[2018-07-02 16:57] tannergooding opened #18744 "Determine how to expose hwintrinsics that are only supported in 64-bit mode"
There are several hwintrinsics exposed that are only emittable in 64-bit mode and throw a PNSE exception if invoked in 32-bit mode (regardless of the fact that the general `Isa.IsSupported` check returns true).

We should have a deeper discussion on how to properly expose this data to the consumer of these APIs.

[2018-07-02 16:57] tannergooding commented on #18744
FYI. @CarolEidt, @fiigii, @eerhardt, @terrajobst

This tracks the discussion raised here: https://github.com/dotnet/coreclr/pull/18734#discussion_r199337145

[2018-07-02 17:15] BruceForstall commented on #7163
This test still fails with x86.

Is it required that localloc return 8-byte aligned memory?

[2018-07-02 17:17] jakobbotsch commented on #18719
It sounds great for some of us who want to participate, but aren't exactly sure where to start.

Since the GitHub search looks inside the issue text I don't think it matters a lot how the info is added -- the labels are nice, but it is easy enough to search for `skill-level:beginner` and GitHub seems to have no problem finding this. Though it does make it harder to get a quick overview when lookin

[2018-07-02 17:32] jakobbotsch commented on #18682
The OP mentions Cavium ThunderX, which are 64-bit ARM cores. So this thread is really about ARM64, in which case the first problem is that there is no `libsosplugin.so` in the installs available at https://www.microsoft.com/net/download/linux.

[2018-07-02 17:33] echesakovMSFT commented on #18682
I ended manually compiling lldb 5.0.2 to make it working with Linux arm32 **and** then building coreclr **and** linking libsosplugin.so against liblldb 5.0.2. My understanding is that my Linux arm32 distribution does not have supported version of lldb, so maybe this is a case here as well.

I also can tell that I never been able to load core dump *properly* on Linux arm32. It *could* be loaded wit

[2018-07-02 17:39] echesakovMSFT commented on #18682
My suggestion to OP is to try to reproduce this issue running directly under lldb. This is the only way it worked for me. In my case I ended up doing this

[code]

If the issue is not reproducible under lldb try to disable aslr by doing this `settings set target.disable-aslr false`.

[2018-07-02 17:52] A-And commented on #18739
Taking a look.

[2018-07-02 17:55] echesakovMSFT commented on #18682
Regarding Jan's question about *any tips for tracking down FlushInstructionCache* - the first step is to try increasing *reproducibility* meaning the issue could be hit in couple runs (not hundred or thousand runs).

The next is to identify place where thing starts getting wrong.

My personal understaning of missing FlushInstructionCache (or not properly working FlushInstructionCache) is when you

[2018-07-02 18:30] jakobbotsch commented on #18682
I am reproducing this consistently on ARM64 running Ubuntu 16.04 by using Roslyn to compile something. This is my invocation:
[code]
Program.cs is a simple hello world:
[code]

With lldb-6.0 I get the following information:
[code]

`dotnet` crashes at the same spot every time. Unfortunately I cannot get any information from `sos` since the plugin is not there -- if you have instructions on obtaini

[2018-07-02 18:54] jkotas commented on #18682
@jakobbotsch This issue is about crash in shipping ARM32 runtime (yes, it is running on 64-bit capable hardware - but the runtime is 32-bit).

Your crash is on ARM64 runtime. The ARM64 runtime is not production quality yet and we have a lot of known issues to work through: https://github.com/dotnet/coreclr/labels/arch-arm64 . Your crash is very likely duplicate of one of the known issues.

[2018-07-02 18:59] sandreenko opened #18746 "regressions in arm64_altjit r2r jobs: temp != nullptr"
Some tests are failing after #18346, for example [b393481](https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_arm64_altjit_checked_windows_nt_r2r_prtest/12/testReport/junit/JIT_Regression/_CLR_x86_JIT_dev10_b393481_b393481_b393481_/_CLR_x86_JIT_dev10_b393481_b393481_b393481_cmd/) fails with `Assertion failed 'temp != nullptr' in 'TestAnonymousTypes.Program:Main(ref):int' (IL size 534)\r\n\r\

[2018-07-02 18:59] sandreenko commented on #18746
cc @dotnet/jit-contrib

[2018-07-02 19:00] jkotas commented on #18741
This is a very general question that is not related to CoreCLR runtime.

[2018-07-02 19:00] #18741 closed

[2018-07-02 19:08] jakobbotsch commented on #18682
@jkotas Thank you, I wasn't aware of that. Sorry for derailing this issue.

[2018-07-02 19:32] mikedn opened #18748 "RyuJIT sometimes drops volatile reads"
Morph issue:
[code]
generates
[code]
Similar issue but involving VN/assertion propagation:
[code]
generates the same code as above.
In this case VN assigned `x & k` the VN of constant 0 and then assertion propagation drops the `x` load because it only considers persistent side effects.

Found while working on #18257. Initially I thought that we can simple make assertion propagation use `GTF_ALL_EF

[2018-07-02 19:48] adityamandaleeka commented on #18682
In addition to what @echesakov said above about reproducing this under a debugger, I'd also check what the fault address was since it could give us some clues. With your core file open in GDB try running `p/x $_siginfo`.

These things can manifest in interesting ways, but I'd have guessed that SIGILL would be more likely if the problem here was purely an instruction cache flushing issue.

[2018-07-02 20:32] brianrob opened #18752 "Merge EventPipePayloadDecoder.DecodePayload and EventProvider.DecodeObject"
There are two event decoder paths in EventSource.  We should look to merge them.

[2018-07-02 20:46] brianrob opened #18754 "Implement Efficient EventPipeBuffer Reading in Managed Code"
EventPipeBuffers can be read when EventListener consumes events from EventPipe.  Right now, this is done with a pinvoke per event.  This issue tracks improving this scheme.

[2018-07-02 20:49] brianrob opened #18755 "Support Tracing and EventListener Dispatch Concurrently in EventPipe"
Right now, it's only possible to do one of the following at any given time:

 - Collect a trace using EventPipe.
 - Dispatch events to EventListener.

This issue tracks making it possible to do these concurrently.

[2018-07-02 20:54] #18739 closed

[2018-07-02 21:05] CarolEidt commented on #18153
I still can't get this to build. I followed the above instructions, still without success.
I am unable to make any progress on this bug without being able to build corert.

[2018-07-02 21:08] jkotas commented on #18153
@iarischenko @BredPet Could you please find the method it is asserting in, and extract it into a small standalone repro?

[2018-07-02 21:12] adiaaida opened #18756 "Port perf infrastructure to VSTS"

[2018-07-02 21:41] AndyAyersMS commented on #3408
#15025 is merged...time to move this one forward.

I'm going to redo my measurements above with 16K default heap allocations and no cached pages.

[2018-07-02 22:08] brianrob opened #18758 "Implement Efficient Dispatch Polling Mechanism for EventPipe"
Context: https://github.com/dotnet/coreclr/pull/18649#discussion_r199631486

We should consider replacing the polling loop when there are no new events with an AutoResetEvent to ensure that the CPU can go quiescent when there are no events.

[2018-07-02 22:14] brianrob opened #18759 "Expose Thread ID and TimeStamp on EventWrittenEventArgs"
Historically, these could always be fetched when the event was dispatched because EventSource does direct dispatch in real-time.  However, now that EventPipe can dispatch to EventListeners, the Thread ID and TimeStamp aren't known for these events and needs to be plumbed through.

[2018-07-02 22:17] brianrob commented on #15124
Fixed via #18649.

[2018-07-02 22:17] #15124 closed

[2018-07-03 00:04] AndyAyersMS commented on #3408
When I disable caching I can't get decent perf out of PMI or crossgen.

With caching I don't see a big difference between 16K and 64K default: smaller page is very slight better for crossgen and worse for PMI.

So that seems to suggest that HeapAlloc plus current caching is a good improvement from where we are now, and that more elaborate caching is worth investigation.

[2018-07-03 00:48] xsharkx commented on #18741
But this can be solved by CLR, for example, compiled DLL can be encrypted, and CLR can run encrypted DLL. Give CLR a Key through the environment variable

[2018-07-03 03:12] jkotas commented on #3408
I think you are just indirectly hitting sizes of internal HeapAlloc caches. The numbers say that the caches are big enough to cover `typical_total_size - 64k`, but not enough to cover `typical_total_size`. Also, the numbers will be different for Unix because Unix memory allocator will have different treas-holds for sure, and for Tiered JIT where multiple threads will be competing for the single ca

[2018-07-03 03:40] jkotas commented on #18741
CLR has APIs that allows you to implement this scheme on your own (look for `Assembly.Load(byte[])`).

[2018-07-03 04:35] A-And commented on #18704
Fixed with #18760

[2018-07-03 04:35] #18704 closed

[2018-07-03 04:35] A-And commented on #18700
Fixed with #18760

[2018-07-03 04:35] #18700 closed

[2018-07-03 04:35] A-And commented on #18703
Fixed with #18760

[2018-07-03 04:35] #18703 closed

[2018-07-03 04:35] A-And commented on #18702
Fixed with #18760

[2018-07-03 04:35] #18702 closed

[2018-07-03 04:35] A-And commented on #18701
Fixed with #18760

[2018-07-03 04:35] #18701 closed

[2018-07-03 05:13] mkSanalogic commented on #18683
Hi Jeff,
I apologize for my late reply - I've been away over an extended weekend.

Back on thursday I found some hint about this when somebody commented that in dotnet core the probing directory is supposed to be set up like a nuget repository, but this was shortly before I left and I couldn't get it to run quickly. I presume I failed setting up all the directories properly.

Anyway, coming from d

[2018-07-03 07:42] mikedn commented on #3408
Hrm, it's starting to look as if it's easier to cut down on JIT's memory usage than sorting this one out :)

[2018-07-03 08:01] sandreenko opened #18765 "Regression in arm64 r2r jobs. 'defList.IsEmpty()'"
Many x64_arm64_altjit_checked_windows_nt_r2r test are failing with:

[code]

The regression is caused by #18130, [ci example](https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_arm64_altjit_checked_windows_nt_r2r_prtest/13/testReport/baseservices_threading/_generics_threadstart_GThread18_GThread18_/_generics_threadstart_GThread18_GThread18_cmd/).

[2018-07-03 08:01] sandreenko commented on #18765
PTAL @dotnet/jit-contrib

[2018-07-03 13:55] EgorBo commented on #18575
Tested on environment SetVector:
[code]
the more complicated one is faster on both i7 4980HQ and i7 8700K

[2018-07-03 14:29] CarolEidt commented on #18765
I believe that the problem is that #18130 caused the uses not to be built in the case where `compiler->compSupports(InstructionSet_Atomics)` returns true, e.g.:
https://github.com/dotnet/coreclr/blob/master/src/jit/lsraarm64.cpp#L442 and https://github.com/dotnet/coreclr/blob/master/src/jit/lsraarm64.cpp#L472

[2018-07-03 15:13] czd890 opened #18767 "centos7 lldb debug dump error. segmentation fault"
my command:
lldb-3.9.1 -O "settings set target.exec-search-paths /usr/share/dotnet/shared/Microsoft.NETCore.App/2.1.1"
 -o "plugin load /usr/share/dotnet/shared/Microsoft.NETCore.App/2.1.1/libsosplugin.so"  --core /opt/dump_file/mvcdumpmindump /usr/share/dotnet/dotnet

//my dump file path
/opt/dump_file/mvcdumpmindump

proccess created by commands:
dotnet new mvc
edit mvc.csproj
netcoreapp2.0 to n

[2018-07-03 15:30] jakobbotsch commented on #18232
Here is one that I think is unrelated, but a confirmation would be nice before I open a new issue:
[code]

The ASM generated for `M0` is clearly wrong:
[code]

If I understand correctly, CSE optimizes this by pulling `s_1` into a local (`cse2` in the dump below), but then ends up using `cse2` before it is assigned:

[code]

[The dump can be seen here](https://gist.github.com/jakobbotsch/f72bfeade5

[2018-07-03 15:32] jeffschwMSFT commented on #18683
Your point is well taken.  We are re-evaluating the overall loading/probing space and we will keep your feedback in mind.  Thanks

[2018-07-03 15:32] #18683 closed

[2018-07-03 16:03] BredPet commented on #18153
@CarolEidt It's strange, errors?

@jkotas

I don't really understand, what this means?
In CoreRT compile time: method Sys:DoubleToString(double,int,int,int):int
In CoreCLR asserts in lsra.cpp:
`regNumber LinearScan::allocateBusyReg(Interval* current, RefPosition* refPosition, bool allocateIfProfitable)`

[2018-07-03 16:03] AndyAyersMS commented on #18232
also cc @briansull

[2018-07-03 17:23] AndyAyersMS commented on #3408
The proposed speedups seem pretty tantalizing though. Previous lab runs had shown decent speedups which is why these new results are a puzzle.

I have run similar HeapAlloc experiments on OSX and have decent results there as well. I don't think we have any official lab measurements for OSX.

I've been using WSL for Ubuntu lately, but I suspect that is not the most robust environment for making the

[2018-07-03 17:47] jkotas commented on #18153
Ah ok - could you please pass `--codegenopt NGenDump=DoubleToString` switch to the ilc and share the dump that it produces? We should be able to produce a small repro based on that - bugs like this often repro on CoreCLR as well.

[2018-07-03 18:18] mikedn commented on #18232
Hmm, I find it interesting that both the `XOR` and `LT` got the same VN, that's because `x XOR 0 = x`. This might be what sends CSE into a tailspin as `LT` is a child of `XOR`. It attempts to replace `XOR` and to do that it needs to extract side effects. When it does it looks like the tree gets reordered and probably CSE doesn't handle that.

[2018-07-03 18:40] briansull commented on #18232
I think that the problem is related to incorrectly setting/clearing the reverse flag for GT_IND.
The RyuJIT has some like a requirement for liveness computation that required someone to ser/clear the reverse flag on Indirections.

[2018-07-03 18:53] jakobbotsch opened #18770 "RyuJIT incorrectly reorders expression containing a CSE, resulting in exception thrown in release"
The following example throws `NullReferenceException` in release but not in debug:
[code]

Some more information can be found in https://github.com/dotnet/coreclr/issues/18232#issuecomment-402198147.

[2018-07-03 18:54] jakobbotsch commented on #18232
I have opened #18770 for it, thanks for the reviews.

[2018-07-03 19:21] #18765 closed

[2018-07-03 19:53] CarolEidt commented on #18746
I had taken a look at this before @sandreenko pointed me at this issue. @jashook - I see that it's assigned to you. I can look further if you'd like. It *seems* (from an initial look at a jitdump) that the register allocator is tracking int and long spill-temps separately, which it shouldn't be doing.

[2018-07-03 20:07] mikedn commented on #18330
A rough sketch: https://gist.github.com/mikedn/5502f45f427f60b89bee03de42a04b1d

Basically you define "metrics":
[code]
and `Compiler` holds a metric "store" that provides storage for metrics and the means to update them:
[code]
Might be a bit too complicated, at least due to the use of `std::tuple` which I'm not sure I can re-create in `jitstd`.

The example code prints something like:
[code]

[2018-07-03 22:55] BruceForstall commented on #17043
@malepatr CoreCLR is built assuming vfpv4d32, so it's very possible it's the same issue.

[2018-07-03 23:01] BruceForstall commented on #18690
PMI refers to an API used to force the JIT to be invoked: https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.runtimehelpers.preparemethod?view=netcore-2.1#System_Runtime_CompilerServices_RuntimeHelpers_PrepareMethod_System_RuntimeMethodHandle_

It also refers to a tool the JIT team uses to invoke this API across many functions/assemblies, as a test.

SuperPMI performs a si

[2018-07-03 23:04] brianrob opened #18772 "Set ActivityId and RelatedActivityId on EventWrittenEventArgs for Native Events"

[2018-07-03 23:29] RussKeldorph commented on #18331
@danmosemsft @stephentoub Any idea where WinRT API requests can be made?

[2018-07-04 01:09] BruceForstall commented on #18330
Doing it this way requires creating a Metric object for each type of metric you want, and make sure it is exposed to all possible users. Standard, but perhaps not as lightweight as I thought you were going for.

I thought you were considering a design were everything was by string, and no formal C++ objects would get created for an object. You would just do:

[code]
If the name wasn't previously s

[2018-07-04 02:42] stephentoub opened #18777 "JIT alloc assert "!s_pagePool.isPoolPage(page)" running corefx tests in CI"
https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_windows_nt_corefx_innerloop_prtest/388/consoleText
[code]

[2018-07-04 02:59] jkotas commented on #18777
Recently changed in #15025

cc @mikedn

[2018-07-04 03:55] stephentoub commented on #18331
I don't know.

[2018-07-04 04:30] danmosemsft commented on #18331
Helped Russ offline

[2018-07-04 05:09] mkSanalogic commented on #18683
Fair enough I guess. Thanks again for your efforts.

[2018-07-04 05:16] mikedn commented on #18777
I'll take a look. Looks like another shutdown race, hrm.

[2018-07-04 05:44] czd890 commented on #18767
lldb-3.9.0 is  working

[2018-07-04 05:44] #18767 closed

[2018-07-04 07:21] mikedn commented on #18330
Yep, I was hoping to do something like that but I can't figure out a way to do that without using a hashtable. And despite the fact that this code is not going to be used in normal release builds I'd still try to keep its impact as low a possible so it can be used to measure execution time as well.

It's still possible to avoid adding stuff to headers in most cases - for example you can just add a

[2018-07-04 10:09] markvincze opened #18779 "General protection fault on Linux"
I'm running a pretty standard ASP.NET Core application in Kubernetes on the Google Cloud.
I'm using self-contained deployment with the `linux-x64` runtime identifier, the target framework is `2.1`, and I'm using the `microsoft/dotnet:2.1-runtime-deps` base image.
The host distro is the Container-Optimized OS by Google.

I have 100 instances running on 100 separate host nodes. The cluster is heavil

[2018-07-04 12:16] jakobbotsch opened #18780 "RyuJIT incorrectly narrows value on ARM32/x86 in release"
On ARM32 and x86 with .NET core 2.1, the following program prints `4294967295` in debug, but `255` in release:

[code]

It does not repro on AMD64 (Windows or Linux). Also, changing `byte vr23 = arg2++;` to `arg2++;` fixes it.

[2018-07-04 12:56] jakobbotsch commented on #18780
Possibly related:
[code]
Since I'm not sure I will wait with opening an issue.

[2018-07-04 12:59] voinokin commented on #18575
I believe it's too early to assess `SetVectorNNN()` - AFAIU the current handling is not what will be in the end (see #18605)

[2018-07-04 14:04] mikedn commented on #18780
It looks to me that the current x86 build is also broken as it generates:
[code]
And the dump shows that morph produces a byte NEG node:
[code]

[2018-07-04 14:16] jakobbotsch commented on #18780
That's weird, on x86 I get this:
[code]

Any clues why?

[2018-07-04 14:21] mikedn commented on #18780
Did you test with the current coreclr build? The release 2.1 does work correctly but the current build does not.

[2018-07-04 14:23] jakobbotsch commented on #18780
I have just now tested it with x86 .NET core 2.1.300, and it repros it too it appears.

[2018-07-04 16:03] dotnet-mc-bot opened #18781 "Build failure: win-arm64"
Opened on behalf of @RussKeldorph

Warnings: 1
Status Message: failed

Build : Master - 20180704.05 (Product Build)
Failing configurations:
- Windows
  - PortableBuild-Release-arm64
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/build~2Fproduct~2F/build/20180704.05/workItem/Orchestration/analysis/external/Link)

[2018-07-04 16:51] #16082 closed

[2018-07-04 17:18] mikedn commented on #18780
The second example is another VN/CSE issue:
[code]
So `MOD` has VN = $40, gets stored as short and the subsequent load as int still produces VN $40. Then CSE picks up and messes up the whole thing:
[code]
Anyway, different issue (or perhaps existing one, I'm starting to lose track of all these issues)

[2018-07-04 17:40] AndyAyersMS commented on #18330
I think I'd go for something pretty simple here. For instance a declarative table syntax (like many other things we have in the jit) that creates a metric ID enum and a backing static table of fixed per-metric info (like name, hierarchy, etc). Then the counts vector is dynamic, indexed by ID.

This doesn't directly support min/max/histogram type stuff but that can be supported by keeping other "gl

[2018-07-04 18:48] jakobbotsch commented on #18780
Number two repros on .NET core 2.1, but not on current head, as far as I can tell. So it would seem it has already been fixed. Perhaps it is a variant of  #18235.
As a side note I really need to figure out how to build coreclr on ARM32...

[2018-07-04 18:57] mikedn commented on #18780
You mean that it doesn't discard anything because the result of `MOD` is 0. Yes, but code still seems fishy. Let me check a bit more.

[2018-07-04 20:33] #17967 closed

[2018-07-05 05:34] mikedn commented on #18330
Yes, an enum is an option. The main reason I avoided that is that we'll end up with all metrics declared in a header file that when changed triggers recompilation of the entire JIT. Not a big deal, just a minor annoyance.

[2018-07-05 06:48] kpreisser commented on #18486
Yesterday the application crashed with a different error:
[code]

gdb:
[code]
[code]

[2018-07-05 07:20] peppy commented on #18705
Here's a sample taken in our application while artificially reproducing the slowdown by triggering a `Task.Factory.StartNew(() => { }, TaskCreationOptions.LongRunning);` 100 times a second:

 [Sample of dotnet.txt](https://github.com/dotnet/coreclr/files/2165361/Sample.of.dotnet.txt)

[2018-07-05 11:05] voinokin opened #18786 "Sub-optimal codegen with C# `switch` statement handling for some simple cases"
The check for `switch` statement input value range is duplicated in JIT for some simple cases.
Consider the following repro code:

[code]
--------------------
**IL produced:**

[code]
--------------------------
**Disasm:**
[code]

[2018-07-05 11:29] mikedn commented on #18786
That's a side effect of using `long` switch expressions, `switch` requires `int` so going from `long` to `int` require a check. The second check is then generated as part of the `switch` instruction itself and the JIT doesn't have any capability to deal with this type of redundant range checks.

[2018-07-05 11:34] voinokin commented on #18786
Couple more observations:
1. It looks like the presence of `switch` blocks method inlining (not in repro code, but such result is easy to get)
2. Why not reduce these two loads to just one? Again - *for some simple cases*

[code]

[2018-07-05 11:56] mikedn commented on #18786
Yep, IL `switch` instruction currently blocks inlining and `AggresiveInlining` does not help in this case. If you want to inline a `switch` then I presume that it is small enough so perhaps use could use a couple of `if`s instead? The C# compiler already does this in some cases, not sure why it didn't do it for the switch in your example. Could be another consequence of the use of `long`.

[2018-07-05 12:44] AlexanderKholodov46 opened #18787 "System.IO.Path.GetFileName(@"\\share\file.dat") returns an empty string - netcoreapp2.1 regress"
Starting with netcoreapp2.1, `Path.GetFileName(@"\\share\file.dat");` returns an empty string.
The same call on netcoreapp2.0 returns the expected filename "file.dat".

To test:
`Assert.That(Path.GetFileName(@"\\share\file.dat"), Is.EqualTo("file.dat"));`

Test failed:
Message:   Expected string length 8 but was 0. Strings differ at index 0.
  Expected: "file.dat"
  But was:  <string.Empty>

[2018-07-05 12:48] #18787 closed

[2018-07-05 12:48] voinokin commented on #18786
I've tried with `if`s and it is slower when there are 5 cases in similar code - namely `3`, `2`, `1`, 0, `default`.
Since my code allows to downconvert `ulong` to `uint` input value without the loss of functionality, and this eliminates one extra range check (no inlining though), I'm going to leave this issue in its current state. Perhaps some time in the future...
Thanks for explanations anyways!

[2018-07-05 12:50] AlexanderKholodov46 commented on #18787
root cause:
incorrect string format to get file name
Path.GetFileName(@"\\server\share\file.dat") returns "file.dat"

[2018-07-05 15:18] abhinavgalodha commented on #18448
We are also having the same issue with AppDynamics Instrumentation. Our application is on asp.net core 2.1 in beta and moving to production next week. Any ideas about the 2.1 Servicing timeline for this issue will help us plan in advance.

[2018-07-05 15:59] RussKeldorph commented on #18781
This did not repro.  Closing.

@dotnet/dnceng Can you check whether the machine this ran on (`DDVSOWINAGE056`) is correctly configured with ARM64 tools?

[2018-07-05 15:59] #18781 closed

[2018-07-05 16:42] dotnet-mc-bot opened #18788 "Core CLR Build-Tests definition is ignoring build failures"
There's a couple things going on here, @RussKeldorph , @jashook FYI.

- ILAsm commands are (seemingly randomly) failing in the build
- Build-test.cmd does not successfully fail the VSTS Task phase it's in if it throws errors.

Build : Master - 20180705.05 (Product Build)
Failing configurations:
- Windows
  - Build-Tests-R2R-Release
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/

[2018-07-05 16:44] AndyAyersMS commented on #18786
Inlining methods with switches is not supported by the default inlining policy, but other policies allow it, so some level of support is plumbed through. Would be simple enough to also enable it by default, perhaps core-only for now. Given how conservative the default inline policy is, it would also likely require aggressive inlining attribution, though very small switches might make it past the p

[2018-07-05 16:51] sdmaclea opened #18789 "[Arm64/Linux] runtimeeventsource fails gcStress=0x2"
@brianrob The new test runtimeeventsource introduced recently is failing gcStress=0x2 consistently.  It also fails gcStress=0x1 occasionally.

Typical failure looks like this

[code]

[2018-07-05 16:52] voinokin commented on #18786
Related question - is it somehow possible to switch to other inlining policy thru say app.config or alike? Would be nice for my hi-perf code.

[2018-07-05 16:52] mikedn commented on #18786
IMO that's perfectly reasonable as switches can be relatively large. What's not reasonable is that methods containing switches do not inline even if aggressive inlining is specified, that seems like a completely artificial limitation.

I did a quick test - I simply removed the observation. This resulted in one method being inlined in corelib - `SpinLock:IsEnterDeprioritized`. I assume that this me

[2018-07-05 17:03] mikedn commented on #18780
So, it's complicated. $40 is the VN of constant 0 so it's obvious that narrowing to `ushort` is useless in such a case. However, I still find this transform a bit fishy due to the way it works with multithreading. This is easier to observe in this slightly modified example:
[code]
that generates
[code]
There's no trace of `MOD` and the cast to `ushort` (without the post-increment stuff) is basical

[2018-07-05 17:11] MattGal commented on #18788
See 'Run build-test.cmd' here:
https://devdiv.visualstudio.com/DefaultCollection/DevDiv/Default/_build/results?buildId=1832528&view=logs

[code]

This leg fails, resulting in the next one failing as well (since no test archives get produced)

[2018-07-05 17:13] richlander opened #18790 "Enable COMPlus_GCHighMemPercent ENV"
.NET Framework exposes COMPlus_GCHighMemPercent. This enables configuration of the GC for testing and other things. It is not enabled in Core but should be. Please expose it.

I was doing testing of Docker resource limits. This ENV could be used to determine if the current GC policy for Docker resource limits could be improved. The data suggests that this is the case.

Results of Docker resource l

[2018-07-05 18:02] RussKeldorph commented on #18788
My guess is that ILAsm failures are likely an OS bug or bad interaction with virus scanner or something similar.  They seem to pop up now and again as updates are rolled out by us or larger MS.  CSC and ILASM are invariably blamed simply because they are statistically far more likely.

The fail-without-failure was originally reported in #15720.  It hits both build.cmd and build-test.cmd, and readi

[2018-07-05 18:05] sdmaclea commented on #18286
I saw one spurious failure here on 7/2/2018 in gcStress=0x2
[code]

[2018-07-05 18:22] MattGal commented on #18788
Given it's ILProj'es that seem to get the most anti-virus flack it could easily be a subtle manifestation of https://github.com/dotnet/core-eng/issues/3748  which we're working on fighting now.

For the "fail without failing" I am following up with some VSTS folks to understand this.

[2018-07-05 18:53] echesakovMSFT commented on #18467
Since I got this issue assigned to me I have been thinking about taking this approach:
1. Remove all `var random = new Random()` in all the templates in tests\src\JIT\HardwareIntrinsics\X86
2. Replace all `random.NextX()` with one of the existing `TestLibrary.Generator.GetX()` (which would use a fixed seed in Innerloop tests) in GenerateTests.csx
3. Regenerate all the tests

@mikedn @tannergooding

[2018-07-05 19:34] jakobbotsch commented on #18780
I think that result would be unexpected for most people, even with non-determinism due to threading. I wonder if your example could be extended to violate memory safety by dereferencing an array beyond its end?

[2018-07-05 19:42] erozenfeld commented on #18339
In newer processors crossing a 32-byte boundary in a loop makes a difference because of µop cache. It's definitely the case for loops that are 32 bytes long or smaller. Here the loops are larger than 32 bytes but they cross 32-byte boundary once in jit32 case and twice in RyuJit case. That may affect perf. Can you try aligning the loops at 32 bytes in both cases?

See 9.3 in http://www.agner.org/o

[2018-07-05 19:54] RussKeldorph commented on #18788
Thanks!

[2018-07-05 20:35] saucecontrol commented on #18339
I managed to get both loop tops 32-byte aligned, but I'm not seeing any changes to the perf numbers.  And the perf delta holds up even if I force the jit32 output to be misaligned.

|     Method |           Job | IsBaseline |     Mean |     Error |    StdDev | Scaled |
|----------- |-------------- |----------- |---------:|----------:|----------:|-------:|
| FixedPoint | netcoreapp1.1 |       True

[2018-07-05 20:50] #18565 closed

[2018-07-05 20:53] #18172 closed

[2018-07-05 21:49] ptorr-msft commented on #18331
For future reference, Windows API requests can be made via the Feedback Hub ("Developer" category) or via https://wpdev.uservoice.com/. I'll also pass this one on internally. Thanks for your feedback!

[2018-07-05 22:00] #18331 closed

[2018-07-05 22:16] RussKeldorph commented on #18779
@dotnet/dotnet-diag for debugging tips

[2018-07-05 22:36] sywhang commented on #18779
This may be related to https://github.com/dotnet/coreclr/issues/18044. Kubernetes disables swapping, and with swapping off, docker resource limits are not respected from runtime side. You might want to look at https://github.com/kubernetes/kubernetes/issues/53533 as well.

[2018-07-06 00:03] RussKeldorph commented on #18381
I can reproduce it.  The .sh files generated for `CLRTestKind=RunOnly` projects is wrong when built via `build-test.sh`.  It's not immediately obvious what's going wrong, but it could be a problem with `msbuild`'s path generation logic, e.g. [here](https://github.com/dotnet/coreclr/blob/5922cd345fe5de97efaccf426381db4ac74bc53c/tests/src/CLRTest.Jit.targets#L53).  I'm still looking...

[2018-07-06 00:04] RussKeldorph commented on #18381
@sbomer @chsienki @jashook In case you've already looked into this.

[2018-07-06 04:45] mikedn commented on #18780
Probably not, redundant array range check elimination relies on conservative value numbers that account for updates done by other threads. It also relies on the existence of relops like `i < a.Length`, if an optimization removes those, range check elimination will be blocked. But I wouldn't go as far to say that it's impossible :grin:. And this is certainly something to keep an eye on while doing

[2018-07-06 04:53] jkotas commented on #18617
Mono PR: https://github.com/mono/mono/pull/9419

[2018-07-06 07:00] zuckerthoben commented on #18323
Whats the status on this?
Minutes ago our Identity Server in production (.NET Core / ASP.NET Core / EF Core 2.1.1) got hit by the InvalidProgramException rendering the solution broken until an engineer analyzed the situation and restarted the app in Azure.

[2018-07-06 08:58] xPaw commented on #16462
@janvorli Well I hit an `abort` on latest dotnet version, I tried starting it in gdb and got this:

[code]

But I am not entirely sure if this is just an issue with my setup, due to "No such file or directory".

[2018-07-06 09:42] jakobbotsch opened #18802 "RyuJIT zero-extends instead of sign-extending on ARM32 in debug"
On ARM32 running .NET core 2.1.301 the following program prints `FFFFFFFE` in release, but `FE` in debug:
[code]
The correct result is `FFFFFFFE`. I don't have access to the dump/disasm as I still haven't managed to get coreclr to build on ARM32, but my guess is that the right operand is zero-extended instead of sign-extended. The result is the same as if the `uint` cast was replaced by a `byte` c

[2018-07-06 09:54] markvincze commented on #18779
Hi @sywhang,

Thanks for the links, I'll go through them.

One thing I checked was running `docker inspect` on my failed container, and in the `State` object the `OOMKilled` property was always `false` (and if I checked the termination reason with `kubectl describe pod`, it was `Error`, and not `OOMKilled`).
Or those might be showing incorrect info?

[2018-07-06 09:55] markvincze commented on #18779
Hey @RussKeldorph,

The link you posted (https://github.com/orgs/dotnet/teams/dotnet-diag) doesn't work for me. Is this the one: https://github.com/dotnet/diagnostics you meant?

[2018-07-06 09:56] adamsitnik commented on #16801
I will make sure that it's not an issue during the port to BenchmarkDotNet.

[2018-07-06 10:14] adamsitnik commented on #16801
@jorive has an interesting idea (please keep in mind that with BDN we run every benchmark in a separate process):

1. the parent benchmark runner process should be affinitized to a single core
2. all multithreaded perf tests should be affinitized to all cores except the benchmak runner one and spawn not `Env.ProcessorCount` tasks/threads but `Env.ProcessorCount - 1`

I was wondering if it would be

[2018-07-06 11:45] mikedn commented on #18802
You can use the AltJit feature on a x86 checked build to get the ARM32 disassembly
[code]

[2018-07-06 12:57] jakobbotsch commented on #18802
Thanks, that's very useful!

It looks right with AltJit:
[code]

I tracked down the actual code generated on my ARM32 box. It has generated `uxtb` instead:
[code]

After looking around a bit I see that this is probably a duplicate of #18040 which is already fixed in master.

[2018-07-06 12:57] #18802 closed

[2018-07-06 14:32] mikedn commented on #18802
Yep, that looks like it.

[2018-07-06 16:16] weshaggard commented on #18723
Looks like something changed to make the `;` no longer escaped. `/p:WithoutCategories="IgnoreForCI;XsltcExeRequired"` not sure what that might be.  If nothing else changed it is possible the resent update to SDK (https://github.com/dotnet/coreclr/pull/18626) might have caused this.

[2018-07-06 16:50] RussKeldorph commented on #18381
Looks like perhaps we've picked up a version of msbuild with a bug fixed, so the workaround on the line I linked above is no longer necessary and, in fact, is now broken.

[2018-07-06 17:31] mateusrodrigues commented on #18067
### Currently failing CoreFX tests on FreeBSD

- `System.Threading.Tests`
    - `System.Threading.Tests.EventWaitHandleTests.Ctor_InvalidMode`

- `System.Collections.Tests.dll`
    - `Generic.Dictionary.DictionaryConcurrentAccessDetectionTests.DictionaryConcurrentAccessDetection_ReferenceTypeKey(comparerType: null)`
    - `Generic.Dictionary.DictionaryConcurrentAccessDetectionTests.DictionaryConcu

[2018-07-06 17:38] wfurt commented on #18067
Thanks @mateusrodrigues for good summary.

Do you have IPv6 enabled? Without it many tests will fail. That is just implicit assumption.
For some (like NetworkInfo & Drawing), there are already opened tickets. The collection and threading failures are probably most scary followed by file locking. I'll try to look at NameResolution and I'll open issue to track it.

[2018-07-06 18:05] stephentoub commented on #18067
If you're not already, you probably also want to run tests with /p:OuterLoop=true, as there are many tests categorized as "outer loop" that don't run by default.

[2018-07-06 18:19] sbomer commented on #9147
This is being done as part of https://github.com/dotnet/coreclr/pull/18695.

[2018-07-06 18:19] brianrob commented on #16801
@adamsitnik, is the benchmark runner process heavy enough that it needs its own core to avoid interfering with the benchmark itself?

I'm not aware of any quiet modes that can be used in Windows.  I had this conversation with someone on the Windows Perf team a few years back.  Generally, we should (and do) set the machine power configuration to "High Performance" and then after that if you want to

[2018-07-06 18:24] sbomer commented on #12202
Relevant work to build wrappers on unix: https://github.com/dotnet/coreclr/pull/18695. After this change, tests/runtest.py will run the wrappers on unix and windows, but runtest.sh will still traverse the filesystem and run .sh files.

[2018-07-06 19:01] sywhang commented on #18779
@markvincze,
@dotnet/dotnet-diag is a team alias for CLR Diagnostics team :)
Sorry that I may have pointed you to the wrong thing. I've been seeing some issues that come in that looked fairly similar in nature, so I called it too early.

Using ```dmesg``` won't load the symbols so you won't be able to get, so it won't tell you where it crashed from. Can you get a repro of your issue on your local

[2018-07-06 19:18] danmosemsft commented on #18323
@leculver @anurse who owns the next action on this one..

[2018-07-06 19:20] AndyAyersMS commented on #18332
Fixed in 2.1 servicing via #18384.

[2018-07-06 19:20] #18332 closed

[2018-07-06 19:41] AndyAyersMS commented on #18748
Lost volatile reads are hard to detect via testing. Read side effects are pretty rare.

In past compilers we'd introduce extra hurdles to create or delete volatile operands and try to account for them all somehow. To first order, the number of volatile nodes should remain constant across each phase (there are of course exceptions).

Given how lax the jit is with node deletion I wonder how well tha

[2018-07-06 19:48] mikedn commented on #18748
Perhaps that can be done in release builds as well - deleted nodes would end up in a list that can also be used as a node pool to avoid allocating new ones. That may be better than some contortions the JIT currently does in an attempt to reuse nodes (I'm looking at you `optVNConstantPropOnTree`).

[2018-07-06 19:53] AndyAyersMS commented on #18748
That's an interesting idea. Wonder how effective it would be....

[2018-07-06 19:58] AndyAyersMS commented on #18330
There are ways around this must-be-in-header requirement on windows -- with linker section pragmas and such, you can build a self-assembling list -- but I'm not sure it is worth the trouble, or would port well to other build setups.

[2018-07-06 20:37] erozenfeld commented on #18238
@jakobbotsch I can repro and have fixes for your first and third examples above. However, I can't repro the second example (that uses struct S0). I get the correct result on core in debug and release. Can you double  check that you get -49 in release?

[2018-07-06 21:08] jakobbotsch commented on #18238
I think I must have made a mistake in my comment previously. That example only reproduces with 32-bit JIT. I cannot reproduce it with 64-bit JIT.
I have already reported it [over at Developer Community](https://developercommunity.visualstudio.com/content/problem/271614/wrong-narrowing-performed-in-debug-mode.html) -- except that the result is the opposite of .NET core on the full .NET framework.
I

[2018-07-06 21:35] noahfalk commented on #18323
@danmosemsft - I'm not aware of a way that #18448 would generate IPE.

[2018-07-06 22:11] erozenfeld commented on #18238
Thank you for clarification. I reproduced that example with x86 RyuJIT and verified that my fixes cover it.

[2018-07-06 22:21] tannergooding commented on #18712
@GrabYourPitchforks, the PR implementing `pdep` and `pext` is up here: https://github.com/dotnet/coreclr/pull/18785

It will probably be sometime next week before it is actually merged, due to the Jenkins outages.

[2018-07-06 22:41] jakobbotsch commented on #18238
No problem. Once you open the PR I can try to look at the rest of my examples and see if I can find some other corner cases not covered.

[2018-07-06 23:02] CarolEidt commented on #18467
@echesakovMSFT - that sounds like the right approach. I would love to see this fixed :-)

[2018-07-06 23:10] noahfalk commented on #18448
The goal for 2.1.3 servicing release is to ship early to mid August with daily builds potentially available earlier. I reached out to AppDynamics in case they have any additional guidance they want to pass along.

[2018-07-06 23:45] fiigii opened #18815 "[RyuJIT] Assert failure "unexpected operand size" when folding LCL_FLD into Avx.BlendVariable"
The assert failture happens
[code]
when RyuJIT tries to generate the below `vblendvps`
[code]

This bug is detected in the work of https://github.com/dotnet/coreclr/issues/17798, and .NET Core 2.1 works fine, so it seems introduced by the recent containment change.

@tannergooding @CarolEidt

[2018-07-06 23:47] fiigii commented on #18815
The compiled C# code
[code]

[2018-07-07 00:30] fiigii commented on #18467
@echesakovMSFT I remember that some test files were generated from the template and manually modified later. Probably, we need to create more templates to cover all the test files.

[2018-07-07 00:38] abhinavgalodha commented on #18448
Thanks @noahfalk for the update.

[2018-07-07 01:48] mateusrodrigues commented on #18067
@stephentoub If I ran it correctly - `./run-test.sh -- /p:OuterLoop=true` - I updated the list to include outer loop tests.

[2018-07-07 02:09] stephentoub commented on #18067
Thanks

[2018-07-07 12:21] benaadams commented on #18542
Would it be possible to fold `(last use)` into each other? Or wouldn't it be a common enough pattern?

e.g. going from https://gist.github.com/benaadams/ad76003a334f3da6916ac5c8a80d95d1
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2018-07-07 13:04] benaadams commented on #18542
Maybe that's what Copy Propagation should be doing?

[2018-07-07 13:08] benaadams commented on #18542
Maybe that's what Copy Propagation should be doing?
[code]

[2018-07-07 14:55] jakobbotsch commented on #18770
Here is another one which looks to be related to the ordering of side effects:
[code]

The load of `s_9` in `M1` is before the call of `M2`, even though it does not appear before `M2` in the program:
[code]

The tree for the first statement is:
[code]

But it gets messed up after the first CSE:
[code]

Which then breaks the second CSE as well. If `s_9` is assigned null in its initializer this thro

[2018-07-07 15:50] jakobbotsch commented on #18780
Much simpler repro:
[code]

[2018-07-07 15:59] jakobbotsch commented on #18780
@AndyAyersMS You can assign this one to me, I can try to take a look. I assume it won't be too hard as it just looks like the optimization of the `-1` multiplication ends up with the wrong node type.

[2018-07-07 16:06] CarolEidt commented on #18542
The preferencing in the register allocator should be taking care of some of that, but it's got some issues ... I've got a branch that I'm working on (https://github.com/caroleidt/coreclr/tree/Issue18542) that improves it overall, and eliminates many of the copies (your `ViaStruct5` example has 5 fewer copies, going from 122 bytes to 107). Overall it's a .18% improvement, but I'm currently trying t

[2018-07-07 16:36] AndyAyersMS commented on #18780
Sure, will do.

[2018-07-07 17:01] tannergooding commented on #18815
Looks like the failure has nothing to do with LCL_FLD/etc, it is because the code in question happens to use one of the upper 8 XMM registers and causes the immediate value to be `> 128` (which fails the "fits in byte" check).

The fix is to add the same casting logic that I added for the other immediate values in codegen.

[2018-07-07 17:13] tannergooding commented on #18815
Fix is here: https://github.com/dotnet/coreclr/pull/18820

[2018-07-07 18:47] jakobbotsch commented on #18780
Here is a case that repros in both x86 and x64 RyuJIT:
[code]

The temp for `vr24` incorrectly gets type `TYP_UBYTE`, so the byte cast is just removed by `fgMorphCast`.
It looks simple to fix by just typing the `NEG` node correctly. I will submit a fix in a few days once I have some time to get diffs.

[2018-07-07 18:58] tannergooding opened #18822 "[RyuJIT] Seeing bad codegen for various AVX HWIntrinsics"
The following code snippet:
[code]

Is generating the following assembly:
[code]

[2018-07-07 19:02] tannergooding commented on #18822
JitDump is here: [JitDump.txt](https://github.com/dotnet/coreclr/files/2173010/JitDump.txt)

[2018-07-07 19:02] tannergooding commented on #18822
FYI. @CarolEidt, @fiigii, @eerhardt

[2018-07-07 19:15] tannergooding commented on #18822
The worst part of the codegen is the various `insertUpperVectorSaveAndReload` calls that happen and add the `vinsertf128` and `vextractf128` instructions.

The JIT is probably inserting these because the upper half of  XMM6 through XMM15 is volatile and must be caller preserved. However, this means that any interspersed calls cause a lot of code-bloat for AVX/AVX2 codepaths and can cause it to per

[2018-07-07 19:23] scls19fr opened #18823 "Add EndOfStream property to BinaryReader"
Hello,

I'm comparing saving/reading data using either `StreamWriter`/`StreamReader` and `BinaryWriter/BinaryReader`.

With `StreamReader`, to read data we can do:

[code]

but with `BinaryReader` it's a bit more complicated with

[code]

I wonder if an `EndOfStream` property couldn't be added to `BinaryReader`

Kind regards

[2018-07-07 19:25] scls19fr opened #18824 "BinaryReader should also accept String as path filename for contructor"
Hello,

following same comparison of `StreamWriter`/`StreamReader` and `BinaryWriter/BinaryReader` exposed in #18823

I noticed that `StreamReader` can be construct with a `String` but not `BinaryReader` it will be nice to have a similar API ie also accept `BinaryReader` to be construct using `String`

Kind regards

https://github.com/dotnet/coreclr/blob/0fbd855e38bc3ec269479b5f6bf561dcfd67cbb6/sr

[2018-07-07 19:32] tannergooding commented on #18822
This is a case where refactoring the code slightly:
[code]

Produces vastly better assembly:
[code]

[2018-07-07 19:35] tannergooding commented on #18822
This may be something where an analyzer could help notify users of potential problems (assuming the JIT can't do anything to handle this scenario).

[2018-07-07 20:01] tannergooding commented on #18822
(Cleaned up to be more coherent)

[2018-07-07 23:38] benaadams commented on #18542
Looking at the ValueTask example [asyncValueTask_JitDump.txt](https://gist.githubusercontent.com/benaadams/8beb5dc3dc774614a6827b26ba6eabcb/raw/82ace8e19e2a7bc6a1a0e234bf9da50023c8e962/asyncValueTask_JitDump.txt); it would have to be done after the IR Rationalization phase as before that `BB03` (one I'm looking at with additional copies) is quite complex and has lots of COMMA nodes.

[2018-07-08 02:46] AaronRobinsonMSFT commented on #18824
@scls19fr What about creating a [`FileStream`](https://docs.microsoft.com/en-us/dotnet/api/system.io.filestream?view=netcore-2.1) and then passing that into the `BinaryReader`/`BinaryWriter`. Wouldn't that work? Having knowledge of file semantics in the `BinaryReader`/`BinaryWriter` classes isn't ideal - which is why they take instances of `Stream`.

[2018-07-08 02:53] AaronRobinsonMSFT commented on #18823
@stephentoub do you know of any reason this would be a bad idea or wasn't provided? I can't imagine there is much appetite for altering the API surface of `BinaryReader` - especially if there is a way to accomplish the same thing.

[2018-07-08 05:22] scls19fr commented on #18824
Why creating an additional object (`FileStream`) when you don't really need it. If you use a `BinaryReader` you will necessary need a stream with read file access. That should be implicit not explicit (or we should have an implicit way of doing)

[2018-07-08 07:54] wfurt commented on #18067
Hi @mateusrodrigues. I was not abe to reproduce System.Net.NameResolution* failures.
Make sure you have IPv6  enabled.

System.Xml.Xsl.XslTransformApi.Tests.dll would fail for me only when  platform is incorrectly set to Linux in RunTests.sh. Please make sure category is set to nonfreebsd.

System.IO.MemoryMappedFiles.Tests.dll failure may be test issue. It expects generic IO exception but it will

[2018-07-08 13:35] voinokin commented on #18822
Somewhat related #18144

[2018-07-08 14:56] stephentoub commented on #18823
As long as the encoding used isn't Encoding.Unicode, you should be able to accomplish this with `binaryReader.PeekChar() == -1`, though that might have more overhead than you want.

I'm not sure that's always going to do what you want.  I'd need to review the code to know for sure, but since BinaryReader has its own internal buffer, it seems likely that it could read the data from the stream, caus

[2018-07-08 15:01] stephentoub commented on #18824
Are you talking about from a performance perspective?  The implementation of StreamReader/Writer when provided with a path just construct a FileStream, so those constructors don't avoid that additional object.

We actually wanted to remove those constructors from StreamReader/Writer in .NET Core, and did in 1.x; they were only added back in .NET Core 2.0 for compatibility.

I personally don't thin

[2018-07-08 15:30] scls19fr commented on #18824
It's a beginer course with very few time to spend... so the simpler it's, the better it is.

[2018-07-08 16:57] benaadams commented on #18542
I had a go at adding a Copy Elision (?) step after lowering https://github.com/dotnet/coreclr/compare/master...benaadams:copyprop?expand=1 by traversing a blocks statements backwards and looking for matching `ValueNum` on `VAR_DEATH`; as most of the copying seems to be contained within single blocks.

However not sure its the right approach? Or how to morph the tree...

[2018-07-08 20:39] mikedn commented on #18542
Not really, for various reasons - it has nothing to do with lowering, `GTF_VAR_DEATH` is likely not up to date at that point, VNs are probably out of date at that point etc.

I'll see if I can find some time to try some copy prop tweaks I've done a while ago to see if they improve this case. Though AFAIR I've never been able to prevent those tweaks from introducing regressions as well, the JIT's c

[2018-07-08 20:46] abbotware opened #18827 "Debugging Linux Apps - Dump Analysis Clarification"
I have hanging app on linux and was attempting to get take a memory dump... upon reading the docs for memory dump analysis I found nothing talking about mention **hung**, **deadlocks** or **memory leaks**: they are mostly geared to crash analysis.

the way i see it there are 2 types of dumps:
1. Crash (created by operating system/debugger event) for crash analysis
2. Live / On Demand (created by u

[2018-07-08 20:50] karelz commented on #18827
@janvorli @wfurt can you provide advice here?
cc @jkotas

[2018-07-08 20:53] benaadams commented on #18542
I was adding it after lowering as the patterns seemed more obvious after Rationalize? (though might be more because I'm not quite fluent with what the syntax means)

Trees before IR Rationalize
[code]
Trees after IR Rationalize
[code]

[2018-07-08 20:57] benaadams commented on #18542
With aim of changing
[code]
To
[code]

[2018-07-08 20:58] jkotas commented on #18827
@mikem8361

[2018-07-08 20:58] wfurt commented on #18067
I opened https://github.com/dotnet/corefx/issues/30899 for System.IO.FileSystem.Tests failures.
All failing tests are marked as `[PlatformSpecific(~TestPlatforms.OSX)]` so this may be test bug or OS shortcoming.

[2018-07-08 21:35] jkotas commented on #18823
BinaryReader is not really a general purpose reader for arbitrary binary files. It is geared towards reading .NET-specific binary files, like managed resources. The encoding of these kind of files has explicit sizes upfront and "read till end of file" kind of operation is not needed for those.

[2018-07-08 21:59] karelz commented on #18827
cc @tmds

[2018-07-08 22:50] wfurt commented on #18827
lldb & sosplugin should work. With clrstack and eestack you should see what threads are doing.
(assuming you have matching pdb installed)

You can also do remote debug from visual studio via ssh.
That may be most convenient as VS also helps unwinding tasks and Async operations (if you use them)

[2018-07-09 01:17] Zhentar opened #18829 "[JIT] Redundant Span<> bounds check not elided immediately after length check"
From my review of various issues around bounds checks, the length check here should be sufficient to elide the span's bounds check:
[code]
(Full code available here: https://gist.github.com/Zhentar/6464a6190c0007d83c95634d1a9889ed )

But it is still present in the jitted code, with the latest nightly `(CoreCLR 4.6.26709.01, CoreFX 4.6.26606.05), 64bit RyuJIT`
[code]

[2018-07-09 05:37] tmds commented on #18827
The `createdump` program comes with the runtime. For `2.1.1` for example it is at `./shared/Microsoft.NETCore.App/2.1.1/createdump`.
It seems pretty straight forward how to use it:
[code]
I assume those dump files can be opened up in VS.

[2018-07-09 05:45] tmds commented on #18827
@jkotas @wfurt @mikem8361 do you have some thoughts on building a command line tool that is capable of showing the managed stacks of a running .NET process? I think it would be useful to help devs figure out where there program is hanging without having to learn and setup lldb+sos.

[2018-07-09 05:46] mikedn commented on #18829
Range check elimination is rather conservative when type fields are involved (due to thread safety issues), it works best with local variables. Try copying `_colStart` to a local variable:
[code]

[2018-07-09 05:53] Zhentar commented on #18829
I can give it a try to see if that is the cause, but it is a field in a `ref readonly` struct so it would be safe for the JIT to assume it will not be changing without needing a copy.

[2018-07-09 05:59] wfurt commented on #18827
good questions @tmds. I think one can go long way by scripting lldb with sos or writing Python extension. However remote debug from VS still provides superior option IMHO.

As far as the createdump, it is not in arm version as far as I can tell. That perhaps deserves separate issue.

[2018-07-09 06:34] tmds commented on #18827
It can be quite a ceremony to install a matching version of lldb on your production environment. Especially if that is a container where you are not running as root. I'm thinking: something that works out of the box and can help users get an insight into what a dotnet program is doing.

[2018-07-09 07:07] mikedn commented on #18823
And `EndOfStream` would be rather confusing on `BinaryReader` due to the fact it reads values of different fixed sizes - `Int32`, `Double` etc. This means that you can end up in a situation where `EndOfStream` returns `false` but a call to `ReadDouble` throws `EndOfStreamException` because there are only 7 bytes available.

Such functionality may be useful but likely in a different shape (e.g. `Tr

[2018-07-09 07:13] mikedn commented on #18829
`readonly` is not of much use sine it's pretty easy to workaround it, much like C++'s `const`. `ref struct` is more interesting, such struct live only on the stack so it would seem that they should not have thread safety issues. But I don't think thread safety is actually guaranteed, it's still possible to take the address of such a struct and somehow pass it to another thread. That's likely extre

[2018-07-09 07:16] JamesZhengRuqing commented on #974
May I know if this is fixed? Which .Net framework update I need for windows 7?

[2018-07-09 07:54] jkotas commented on #18827
[EventPipe](https://github.com/dotnet/coreclr/search?q=EventPipe&type=Issues) should enable this eventually. Discussion on this should be separate issue. cc @brianrob

[2018-07-09 08:21] voinokin opened #18831 "HW intrinsics - PopCount() returns int/long, while Leading/TrailingZeroCount() returns uint/ulong"
Is this difference in return type by design?
Also, `MoveMask()` returns `int` which may be less convenient than `uint` when one has to shift the result obtained from 256-bit vector right for some reason

[2018-07-09 12:42] Zhentar commented on #18829
As I recall, part of the reasoning for making Span<T> stack only was that the resulting implicit thread-safety would prevent struct tearing, so would it not also be okay to make that assumption for bounds check elimination? (And for that matter, does not the bounds check itself rely upon it?)

[2018-07-09 13:41] mikedn commented on #18829
Right, I need to double check that but it's quite possible that any means that would allow concurrent access to a stack location involve unsafe code. In that case it would probably reasonably for the JIT to assume that ref structs are never modified by other threads.

Bounds check optimizations assume that fields can be modified by other threads and the JIT doesn't do anything special in the case

[2018-07-09 16:05] mikedn commented on #18829
Yep, it's impossible for code that escapes a pointer to a stack location to another thread to be safe. Not because the ECMA spec says so but simply because it's impossible to guarantee that the other thread won't attempt to dereference the pointer after the method that owns the stack location has returned.

And ECMA does indeed prevent verifiability by placing restrictions such as requiring `stfld

[2018-07-09 16:13] abbotware commented on #18827
@wfurt  `As far as the createdump, it is not in arm version as far as I can tell.`
1. So how do I get this?
2. Is lldb + sos able to take an equivalent memory dump?

@tmds `I assume those dump files can be opened up in VS.`
can this be confirmed? -  that would certainly make dump analysis a lot more pleasant. (I assume matching binaries + pdbs are required)

[2018-07-09 17:58] karelz commented on #18827
I would first focus on the key thing - how to get a dump on Linux (any distro). Either for crashes or on demand (e.g. when there's memory leak, etc.)
Having nice tools to print call stacks, etc. may be the next steps, but let's cover the basics first ...

[2018-07-09 17:58] mikem8361 commented on #18827
1) Linux (ELF) core dumps can NOT be opened by VS.
2) "createdump" is both an separate command line utility and an SOS command, but the SOS command can be very slow to create dumps if the heaps are large.
3) There should be an arm Linux version of the createdump utility built but it probably hasn't been tested and I personally haven't done anything on the arm platforms.
4) Currently lldb + SOS is

[2018-07-09 18:03] karelz commented on #974
@JamesZhengRuqing depends on what you mean by "this" ... the original reporter doesn't have the problem anymore.
If you're seeing similar symptoms, it would be best to file a new bug with repro and additional information.

[2018-07-09 18:04] karelz commented on #974
Also note, that CoreCLR/CoreFX GitHub repos are not for .NET Framework bugs - use VS Feedback tool for that.

[2018-07-09 18:12] tmds commented on #18827
Is there something specific about the dumps generated with createdump? Or are these 'generic' elf dumps?

[2018-07-09 18:39] wfurt commented on #18827
They seems to be "normal" core files.
[code]

You can use 'gcore <pid>' from gdb package:

[code]

I was able to load it in gdb:
[code]

lldb seems to have issues with same file. That looks more like a lldb bug to me.
(so as lldb crash) I'll do more testing with ARM specifically and

[2018-07-09 18:44] mikem8361 commented on #18827
They are ELF core dumps but createdump uses the same DAC api to trim the memory chunks down to what is needed for the managed state like a Windows minidump. There are options to the utility and configuration environment variables to coreclr that control how much memory to write the dump. A “full” dump should be like gcore dumps with the right “coredump_filter” settings. See https://github.com/dotn

[2018-07-09 18:48] abbotware commented on #18827
@wfurt
`lldb seems to have issues with same file. That looks more like a lldb bug to me.`
Is that the same as this problem that I was having? or different?  https://bugs.llvm.org/show_bug.cgi?id=37986

[2018-07-09 19:38] tannergooding opened #18836 "Consider adding a stress mode which prefers registers with different encoding characteristics"
On various architecturesthere exist registers that require different encoding characteristics. For example, on x64 there are additional registers available (`R8-R15` and `XMM8-XMM15`), which require the use of the REX prefix (or a VEX-encoded instruction).

Given that these change how the instruction is encoded, it would be beneficial if there was a stress-mode that would prefer these registers in

[2018-07-09 19:38] tannergooding commented on #18836
FYI. @CarolEidt, @fiigii

[2018-07-09 19:55] wfurt commented on #18827
I have different issues on different Linux versions. However, you can try the VS path:

I verified just now that you can use VS to debug Linux/ARM.
Run this on target board:

` curl -sSL https://aka.ms/getvsdbgsh | bash /dev/stdin -v latest -l ~/vsdbg`

In VS (2017):
[code]

You should get list of running processes. Select your app.

Now , you can do "Stop Al"l and inspect threads and their stack

[2018-07-09 22:29] CarolEidt opened #18840 "System.Drawing.Tests.FontTests.ToLogFont Null Exception"
This test is failing:

System.Drawing.Tests.FontTests.ToLogFont_NullLogFont_ThrowsArgumentNullException

It's been failing since https://github.com/dotnet/coreclr/pull/18791: https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_windows_nt_corefx_innerloop_prtest/443/

Perhaps there's some corefx/coreclr interdependency that has not been reconciled?

@AaronRobinsonMSFT

[2018-07-09 22:47] danmosemsft commented on #18840
ecb7b2551f3f115da05be112e324e017b4cd7f0e removed this test. It looks like you have old tests and new implementation.

[2018-07-09 22:49] abbotware commented on #18827
@wfurt  so i tried this on my build agent (arm hardware) (with dotnet sdk installed) and dev hardware (no sdk installed, but has the application with a self contained runtime) and both failed:

[code]

[2018-07-09 22:49] AaronRobinsonMSFT commented on #18840
I think that @stephentoub did some kind of merge in corefx and coreclr - see [corefx#30830](https://github.com/dotnet/corefx/issues/30830).

[2018-07-09 22:57] abbotware commented on #18827
FYI - for 'installing' the sdk, i mimic'd these steps: https://stackoverflow.com/questions/38146877/net-core-on-raspbian-arm  (I am not using a pi, but similar hardware)    - Not sure if there is an official install guide, but you can bet a lot of people are following that right now! ;-)

[2018-07-09 22:58] wfurt commented on #18827
What base OS do you use? It does not seems to be recognized properly.
You can download the install script and then run it as
`getvsdbgsh -r linux-arm -v latest -l ~/vsdbg`

In my case, it resolves to  https://vsdebugger.azureedge.net/vsdbg-15-7-20425-2/vsdbg-linux-arm.zip. (also you will need unzip utility installed)

[2018-07-09 23:01] abbotware commented on #18827
its an Ubuntu 16.04 derivative: I know it supposedly 'unsupported', but I have been using .net core 2.0 on it for over 8 months...   I am working on an 18.04 base image for my hardware in parallel

[2018-07-09 23:05] wfurt commented on #18827
That is ok. When you look at the script it uses uname -m to determine arch. I'm wondering if your's is different. Forcing rid via command line should hopefully fix you up.

[2018-07-09 23:08] abbotware commented on #18827
uname=aarch64
(64bit arm hardware ... ruining 32bit arm net core)
there are a lot of arm architectures out there.. armhf, aarch64, armel...

[2018-07-09 23:13] CarolEidt commented on #18840
The "you" in this case is the CI system. How are the tests & implementation supposed to be kept in sync?

[2018-07-09 23:21] IlyaGrebnov opened #18842 "Array bounds check is not eliminated if index passed by reffrence"
The x64 code generated for FastJsonParser.ReadNull using .NET Core v2.1.301 SDK generate following assembly instruction which include two almost identical array bound checks. If I modify program to pass offset parameter by value (not functionally correct) it will eliminate one of array bound checks correctly.

[code]

[code]

[2018-07-09 23:23] abbotware commented on #18827
FYI - specifying -r linux-arm seemed to install!  i setup a connection in the cross platform section and that is where it fails... but so **close** I think... visual studio is looking in the wrong location?

[code]

1. The location seems to be off - is there a setting in visual studio for that? (I just reinstalled the debugger to -l .vs-debugger for now

2. it can't find version vs2017u5 - my curr

[2018-07-09 23:31] wfurt commented on #18827
Use the original flags: -v latest -l ~/vsdbg
I don't know if that can be configured in vs. You may need to experiment with links or copy.

[2018-07-09 23:34] benaadams commented on #18842
Should work if you copy to a local and use that?
[code]

[2018-07-09 23:36] BruceForstall commented on #18215
I had to navigate to http://localhost:5913/efcore/Movies?$apply=groupby((ReleaseDate))

[2018-07-09 23:40] abbotware commented on #18827
[code]

that is probably very incomplete :-)

[2018-07-09 23:47] abbotware commented on #18827
I think my pi returns armv61 (32bit ubuntu)...  and a sopine64 (target hardware) returns aarch64  - to get .net core to run on aaarch64 - I installed all the required .net core binaries via apt-get targeting armhf specfically...   (was a bit of work to figure out.. but.. it works!)

[2018-07-10 00:08] abbotware commented on #18827
so i copied the files into /root/.vs-debugger/vs2017u5 - but that did not seem to do much... visual studio doesnt even display an error now :-/

FYI remote debugging natively via gdb worked!  so that is pretty cool!!  👍

If the remote debugger works for managed code... that is so much nicer than lldb + SOS!

[2018-07-10 00:17] wfurt commented on #18827
I assume ~/vsdbg/vsdbg runs? Did the connection manager let you save the configuration?
There may be level of trickery as your OS arch is not app arch. But at least the process list should work. That may also cause the lldb issues.

Also just for the record: original pi (armv6) is not supported by runtime.

also note that 2.1 has early support for aarch64 so you may be able to run it without much

[2018-07-10 00:30] stephentoub commented on #18840
@CarolEidt, when exactly did the failures you see happen?  A change was merged into coreclr on Friday that broke a test in corefx; that test was then fixed for the updated behavior on Sunday morning in https://github.com/dotnet/corefx/pull/30895.  If you ran coreclr CI against corefx tests in that interim, you would have seen a break.  But you shouldn't be seeing it now.  Are you?

[2018-07-10 00:37] abbotware commented on #18827
ok! installed the missing dependencies for vsdb... (readelf -d) and now it vsdbg runs... but still nothing in visual studio... are there logs?

(in case your wonder how I am even running 32bit .net code in the first place... its all running in an ubuntu snap)

[2018-07-10 00:39] CarolEidt commented on #18840
The failures are showing up in the CI system in this job: https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_windows_nt_corefx_innerloop_prtest . They've been failing since the PR I mentioned. Build #442 was the last time they passed (https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_windows_nt_corefx_innerloop_prtest/442/).
Build #443 (https://ci.dot.net/job/dotnet_co

[2018-07-10 00:53] stephentoub commented on #18840
Apparently there's now another mechanism I wasn't aware of coreclr is using for running the corefx tests:
https://github.com/dotnet/coreclr/pull/18844#issuecomment-403663651
and it's not using the latest corefx test source, so it doesn't matter that the test has been fixed.  Sounds like @A-And is the person to talk to about it.

But the test was definitely fixed, and corefx has happily been runnin

[2018-07-10 01:54] wfurt commented on #18827
I would probably look at sshd logs first. You can also configure sshd to log all executed commands.
You can possibly wrap vsdbg with some shell script.
What exactly do you see on VS? Getting more logs may be possible but I don't know how.

[2018-07-10 03:19] abbotware commented on #18827
VS - nothing - its as if the attach to process dialog disappears after I select 'managed net core for unix'  the show output form 'debug' is empy too... before it at least showed the ssh output

sshd logging all commands - have you actually done that before? It sounds like a good idea, but i can't seem to figure that one out - the only way I have access to the hardware is via ssh, so i have to run

[2018-07-10 03:47] M144-Coder opened #18846 "An assembly specified in the application dependencies manifest (Example.deps.json) was not found"
I am developing a web application using Asp.NET Core 2.1 on Visual Studio 17.7, the problem is when I publish the web app as a Framework-Dependent and I try to run the app on production machine I get this error message:

`Error:
An assembly specified in the application dependencies manifest (Example.deps.json) was not found:
package: 'Cronos', version: '0.6.3'
path: 'lib/netstandard1.0/Cronos.dll'

[2018-07-10 03:49] jinhduong opened #18847 "Failed to initialize CoreCLR, HRESULT: 0x80131500 (Ubuntu 18.04)"
Error: `Failed to initialize CoreCLR, HRESULT: 0x80131500`
I have a project which using `dotnet 1.1.2` and it works in `Window` well but when I move the environment to Ubuntu and then install the latest version `2.1.301`.

After that once I create new project like as `dotnet new webapi` and then use `dotnet run`, it works well. But when I run the old project (`1.1.2`) it always throw the above `er

[2018-07-10 04:04] AaronRobinsonMSFT commented on #18847
@jinhduong  The `0x80131500` represents a general .NET exception, which means this is more than likely failing in managed code. Can you try using `lldb` and the `sos` plugin - instructions can be found [here](https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md).

[2018-07-10 04:51] Zhentar commented on #18786
@mikedn Roslyn's switch handling aims for well-packed jump tables; I think it will always pick a switch over ifs when it can get three+ contiguous entries.

I experimented with a number of different configurations trying to see if I could find a way to write this that the JIT would inline without telling it to be aggressive:
[code]
It was always rejected for too many IL bytes or too many basic blo

[2018-07-10 05:51] mikedn commented on #18786
Something like that, it looks like it goes after > 50% switch table density - https://github.com/dotnet/roslyn/blob/d4dab355b96955aca5b4b0ebf6282575fad78ba8/src/Compilers/Core/Portable/CodeGen/SwitchIntegralJumpTableEmitter.cs#L65-L94

It's debatable, in some cases it should probably go for less, especially if the resulting jump table wouldn't be too large. It would be easier for the JIT to look a

[2018-07-10 07:59] js8749 commented on #18486
I have this same problem, i haved in 2.1.300 and i update to 2.1.301 to see if it stops and it have the same problems

[2018-07-10 08:36] #18824 closed

[2018-07-10 08:50] jkotas commented on #18840
Fixed by #18844. This fell through the cracks because of the CI outage - change was merged without full set of CI jobs being run on it.

[2018-07-10 08:50] #18840 closed

[2018-07-10 08:57] jkotas commented on #18823
CoreFX has a number of related API proposals:

https://github.com/dotnet/corefx/issues/4596
https://github.com/dotnet/corefx/issues/24144
https://github.com/dotnet/corefx/issues/24180

If you still believe there are APIs needed on BinaryReader for your scenario, please file an issue in CoreFX repo using a template linked from  https://github.com/dotnet/corefx/blob/master/Documentation/project-docs

[2018-07-10 08:57] #18823 closed

[2018-07-10 09:01] pkruk2 commented on #8175
Hello,

According to https://github.com/Microsoft/vstest/issues/800#issuecomment-373310602 DIA SDK has been updated to support Portable PDB format. It is available with VS 15.8 preview 3. I have verified it works (on one .pdb file, but still, it didn't work previously).

Does this mean that there is a chance for support for Portable PDB in Profiling API?

(I'm not sure if it's possible to use DIA

[2018-07-10 10:42] jakobbotsch opened #18850 "Invalid value numbering when morphing casts that change signedness after global morph"
The example is
[code]

Details here: https://github.com/dotnet/coreclr/pull/18816#issuecomment-403649790

[2018-07-10 13:17] RussKeldorph commented on #18788
dotnet/core-eng#3748 has been closed, but the ilasm access-denied hit as recently as this morning.  Is that just lag and it should go away, or do we need to look into something else?

https://devdiv.visualstudio.com/DefaultCollection/DevDiv/Default/_build/results?buildId=1843721&view=logs

[2018-07-10 13:43] RussKeldorph commented on #18829
@dotnet/jit-contrib @CarolEidt

[2018-07-10 15:25] OmidID commented on #17043
I using Nvidia T20 from Toradex and same problem i have here

[code]

I build clr with arm toolchain and i used corerun but the result it's same.

[2018-07-10 16:18] jeffschwMSFT commented on #18846
@M144-Coder do you have an example that you can share?  Based on the issue description it seems that if you added Hangfire to the store on your production server the issue may be resolved.  What benefit are you seeing from using the store in this way?  Is it possible to deploy Hangfire (and Cronos) as a package local resource?

[2018-07-10 16:29] 4creators opened #18852 "coreclr Windows build broken in master branch with several compiler errors and MASM warnings"
Build of coreclr master branch dab0d7108e8b0091e1d7f526cab7dc9bcb71710a on Windows 10 x64 for Windows_NT x64 Checked target fails with the following errors:

[code]

Visual Studio v15.7.4, command: `build x64 Checked -skiptests`
Windows 10 Pro x64 PL with EN lang pack active, version 1803

[2018-07-10 16:33] IlyaGrebnov commented on #18842
@mikedn I would agree with you if JIT generate code like this (not r8d register value were reloaded)

[code]

[2018-07-10 16:37] MattGal commented on #18788
@RussKeldorph from the linked log we definitely succeeded in performing the workaround (which we may not be able to continue doing; ping me offline for more details) we do for the Access Denied issue, and given your builds don't print access denied nor is the exit code 5 (AFAIK) associated with it, I'd highly suggest investigating the ILAsm problem.

[2018-07-10 16:49] mikedn commented on #18842
Maybe, but it could be difficult.

It's a bit of a chicken and egg problem, the thread safety issue can be avoided if CSE deals with the redundant index load as it happens in the JIT32 case. But RyuJIT's CSE relies on value numbering to work so that runs before CSE and sees 2 distinct loads. Doing value numbering again after CSE is probably not an option because it's very expensive. So it's up to

[2018-07-10 18:10] IlyaGrebnov commented on #18842
@benaadams / @mikedn.

Loading offset into variable helps, but JIT still emits redundant code. Maybe we need to add another stage specific to "dead code elimination" which not coupled to "numbering" or "CSE"? (sorry not sure what this mean, not an exert).

Note, in this case if I can load json[index] and json[index + 3] there is no point to check later for "json[index + 1]" and "json[index + 2]" (

[2018-07-10 18:36] jkotas commented on #3408
Here is my prototype of a simple custom pool: https://github.com/dotnet/coreclr/compare/master...jkotas:jit-alloc

[2018-07-10 18:38] AndyAyersMS commented on #18842
Usually the jit can eliminate range checks in cases where you access elements in decreasing offset order. Not sure why it fails this time.

I think you're mostly running into various weaknesses in the overall approach the jit takes to bounds check elimination. These are particularly evident in non-loop code. Adding one more phase might fix some of the cases but more likely the whole approach needs

[2018-07-10 18:48] AndyAyersMS commented on #3408
Thanks, Jan. That looks promising.

[2018-07-10 18:56] mikedn commented on #18842
AFAIR that works for `a[3]`, `a[2]`, `a[1]`. I don't remember seeing it working for `a[i+3]`, `a[i+2]`, `a[i+1]`.

[2018-07-10 19:17] IlyaGrebnov commented on #18842
I found few blog posts about using SMT solvers for detecting opaque predicates and dead code elimination. I assume this approach is painfully slow for generic JIT, but with new "tiered compilation" could be a viable option. It also sounds like a good interns project :)

http://zubcic.re/blog/experimenting-with-z3-proving-opaque-predicates
http://zubcic.re/blog/experimenting-with-z3-dead-code-elimi

[2018-07-10 19:22] erozenfeld commented on #3408
@dotnet/jit-contrib

[2018-07-10 19:23] dagood commented on #17619
We hit this again in 1.1.9 so I'm working on another manual fixup + rearchive.

/cc @weshaggard

[2018-07-10 19:40] mikedn commented on #18842
Heh, that's probably overkill even for a normal compiler. You can get decent range check elimination without such a large hammer and the fact that the current JIT has problems with range check elimination is another story.

Back to your code - sometimes you can use Span to get better code. I'm don't quite understand your code (why does it return false if `json[index]` is not `n` but otherwise thro

[2018-07-10 19:52] tannergooding opened #18855 "The `perf.groovy` script is not escaping the PR title properly when it contains double-quotes"
This issue was causing failures in https://github.com/dotnet/coreclr/pull/18849

For example: https://ci2.dot.net/job/dotnet_coreclr/job/perf/job/master/job/perf_perflab_Windows_NT_x64_min_opt_ryujit_smoketest_prtest/2556/

[2018-07-10 19:52] AndyAyersMS commented on #18842
Ah, right. Signed indexes.

`a[i+3]` being in bounds doesn't imply that `a[i+2]` is also in bounds, if `i` can be negative.

[2018-07-10 20:33] #18746 closed

[2018-07-10 20:35] pentp commented on #18744
At least `ConvertScalarToVector128(U)Int64` and `ConvertTo(U)Int64` should be made to work in 32-bit mode. I have tried to use intrinsics in some `Decimal` calculations and ended up with many #if blocks like this:
[code]
The JIT is better positioned to choose an optimal solution than user code - it can load directly from memory with MOVQ or spill the low+high registers and then use MOVQ or use 2xM

[2018-07-10 20:38] adiaaida commented on #18855
@jorive

[2018-07-10 20:44] Petermarcu opened #18856 "Dotnet Core 2.0 Crash Ubuntu"
@Peixer commented on [Wed May 23 2018](https://github.com/dotnet/core/issues/1584)

# Dotnet Core 2.0 Crash Ubuntu

My console application dotnet core 2.0 that running in ubuntu crash without explication, have several try catch but not working, this happen eventually, one day in one week.

# General

Main application

[code]

Information obtained on **/var/crash/_usr_share_dotnet_dotnet.0.crash**

[2018-07-10 20:44] Petermarcu opened #18857 "Dotnet Core 2.0 Crash Ubuntu"
@Peixer commented on [Wed May 23 2018](https://github.com/dotnet/core/issues/1584)

# Dotnet Core 2.0 Crash Ubuntu

My console application dotnet core 2.0 that running in ubuntu crash without explication, have several try catch but not working, this happen eventually, one day in one week.

# General

Main application

[code]

[code]

[2018-07-10 20:47] tannergooding commented on #18744
The general principle of the intrinsics so far is that they are not emulated, ever. This simplifies the implementation overall and provides some very nice guarantees about what the intrinsics will do. The downside is that the consumer ends up having to do a bit more, but I believe that can/will be alleviated by having some separate "helper" library. Such a library could do things like:
* abstract

[2018-07-10 20:53] jorive commented on #18855
@tannergooding This seems a parsing/escaping problem of the batch command line interface, not the `submission-metadata.py`

[2018-07-10 20:57] pentp commented on #18744
These proposed libraries would be sub-optimal because a long is internally two int registers or a memory location, but managed code can't access these registers directly nor affect register allocation/spilling and has to either always spill or always load in two parts. If fallbacks for intrinsics are undesirable, then at least there could be a helper intrinsic in `Sse2` class.

[2018-07-10 21:06] tannergooding commented on #18855
@jorive, potentially.

Looks like the jobs are doing:
[code]
The second `set "BENCHVIEWNAME" is attempting to replace all `"` with `""`. But something else has already changed `"` to `\"`, which breaks the overall parsing

[2018-07-10 21:09] pentp commented on #18712
MULX is definitely useful (at least the 64x64->128 variant).
From https://github.com/dotnet/coreclr/issues/17818#issuecomment-395365269: `MultiplyNoFlags` should have an overload with only the high half returned (this saves one register) - `ulong MultiplyNoFlagsHigh(ulong left, ulong right)`

[2018-07-10 21:09] tannergooding commented on #18744
This is something that is much more general than just hardware intrinsics. If there is an issue here, it is probably worth addressing more generally (or via some separate intrinsic).

[2018-07-10 21:11] jorive commented on #18855
the `perf.groovy` fille is trying to do the operations below, but something is not working as expected

[code]

[2018-07-10 21:15] jorive commented on #18855
This generated command seems wrong:
`py "D:\j\w\perf_perflab_---988491d2\Microsoft.BenchView.JSONFormat\tools\submission-metadata.py" --name "coreclr private Fixing encodeXmmRegAsIval to ensure the result meets the \""fits in imm8\"" check" --user-email "dotnet-bot@microsoft.com"`

In addition, the run should have stopped/failed at this point.

[2018-07-10 21:16] 4creators commented on #18852
Closing as errors were caused by hard to clean repo corruption.

[2018-07-10 21:16] #18852 closed

[2018-07-10 21:18] CarolEidt commented on #18744
There is a general issue of the JIT not generally being able to determine whether it is best to use a value from memory, the "natural" register type for the value (generally 2 int regs for a long), or an xmm register. As @tannergooding points out, this is a general issue, though certainly of greater impact for code like this.

As a design issue, I think it's clearly best to keep the intrinsics as

[2018-07-10 21:26] echesakovMSFT opened #18858 "[OSX] JIT/HardwareIntrinsics/X86/Avx/Avx_ro Intermittent failures"
The following test failure
[code]
happened in different PRs over the last couple days
https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_osx10.12_innerloop_tst_prtest/4002/
https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_osx10.12_innerloop_tst_prtest/4019/
https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_osx10.12_innerloop_tst_prtest/4020/
https://ci.

[2018-07-10 21:34] #18815 closed

[2018-07-10 22:16] jorive commented on #18855
@tannergooding You are right, the generated command in ci2 looks fine, but the executed command displayed in the log is different.
[code]
[code]

[2018-07-10 22:46] BruceForstall commented on #18215
I reproed this with a daily build of dotnet CLI + Debug dotnet/coreclr components (built from the same commit hash as the daily build). It always seems to repro in `Microsoft_AspNetCore_OData!Microsoft.AspNet.OData.Query.Expressions.GroupByWrapper.GetHashCode()` calling `v.GetHashCode()` which appears to be garbage:

[code]

The code here to call `v.GetHashCode()` (in JitDump: `CALLV ind int    Sy

[2018-07-10 22:48] BruceForstall commented on #18215
The source code is:
[code]

[2018-07-10 22:49] BruceForstall commented on #18215
@jkotas Could you take a look? Maybe you could more easily spot if there's a problem with the object model here someplace.

[2018-07-11 00:19] BruceForstall commented on #10070
Closing this as a dup of https://github.com/dotnet/coreclr/issues/15381

[2018-07-11 00:19] #10070 closed

[2018-07-11 00:40] BruceForstall commented on #15381
The failures in the latest run (Windows arm64 GCStress=3) (https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_gcstress0x3_tst/54/):
[code]
are all timeouts.

[2018-07-11 00:46] BruceForstall commented on #4944
GCStress is quite stable now; closing this as obsolete.

[2018-07-11 00:46] #4944 closed

[2018-07-11 03:09] tannergooding commented on #18822
@RussKeldorph, I don't believe this is a bug. All the code it is generating is correct and following the ABI... There is just some potential room for improvement so that the codegen is better/more performant

[2018-07-11 03:55] #7163 closed

[2018-07-11 04:48] mikedn commented on #3408
Nice! Much better than the JIT forever holding onto a block of memory.

Is this something that could go into netfx as well or will the JIT have to ifdef it out in that case?

[2018-07-11 05:05] danmosemsft commented on #18857
@peixer can you please upgrade to 2.1 and let us know whether it still reproduces?

[2018-07-11 06:56] xPaw opened #18865 ""SIGSEGV: address access protected" on Debian 9"
Unfortunately I don't have a consistent repro of this problem, and only have had this happen very rarely where the app aborted with no info. Last night I started it in lldb and left it running over night and it crashed with "address access protected".

[code]

bt:
[code]

dotnet-sdk is 2.1.301-1 and dotnet-runtime is 2.1.1-1.

[code]

Unfortunately it seems there's no debug symbols loaded so the s

[2018-07-11 08:07] AndyAyersMS commented on #3408
Lab numbers and local numbers so far are in agreement that this is a big improvement.

For instance, PMI of Microsoft.CodeAnalysis.CSharp drops from 4400 to around 3800; crossgen of the same goes from 2850 to 2630 (all times ms).

For some reason my tiering lab run failed to produce data. Not sure why just yet.

[2018-07-11 10:12] RhavoX commented on #18486
In my case this issue was not resolved in 2.1.301

[2018-07-11 11:51] jakobbotsch opened #18867 "RyuJIT spills 16 bit value but reloads as 32 bits in ARM32/x86 in release"
For ARM32, the example is:
[code]

This does not repro on x64. With AltJit I get the following disassembly, which shows `(int)var5` loading the argument as 32 bits:
[code]

It seems most of the example is only necessary to ensure that `arg3` get spilled to the stack. Without the spill, the example runs correctly.

AltJit dump: https://gist.github.com/jakobbotsch/6ebc59af5e0a90df73c8c109a58bd301

E

[2018-07-11 14:32] M144-Coder commented on #18846
The issue is that I was running the web application from the root file, I just tried running the other dll file inside the publish folder and the application started successfully, the question is why there is two dll files?, one is in the release root folder and the other is inside the publish folder.

[2018-07-11 16:23] AndyAyersMS commented on #3408
Scenario tests are hanging ... looks like the `Reclaim` method needs to reset `s_pCurrentCachedList`.

[2018-07-11 16:31] jkotas commented on #3408
I have pushed this fix to github shortly after posting here. You must have missed it by a couple of minutes. Sorry for not giving heads up.

[2018-07-11 16:40] jeffschwMSFT commented on #18846
This is an area we are looking into.  The reason for the current behavior is to reduce file copies on the inner loop.  It sounds like you have at least a working example now so I am going to close the issue, but let us know if you find something else.

[2018-07-11 16:40] #18846 closed

[2018-07-11 17:51] mikedn commented on #18867
It looks like this can also happen on x86:
[code]
generates
[code]
The difference is that on x86 it is very unlikely that the upper bytes are garbage. On x86 `arg3` is passed on the stack so its associated stack location is setup by the caller, usually with an integer `push`. And the value pushed will normally be appropriately zero extended.

However, on ARM32 `arg3` is passed in a register and it

[2018-07-11 18:03] mikedn opened #18869 "LclVar sorting throughput improvements"
Follow-up from #18504 discussion. There are a few inefficiencies around lclvar sorting (`lvaSortByRefCount`) that may worth addressing:
* `lvaSortByRefCount` is called 2-3 times during compilation of a method and every time it allocates memory for the `lvaRefSorted` array. The array could be cached and reused, provided that potential increases of the lclvar count are considered.
* unlike `lvaSortB

[2018-07-11 18:12] jakobbotsch commented on #18867
I haven't checked exactly the calling convention used by the JIT, but it looks like __fastcall. If so shouldn't we be able to see the same behavior if we pass a 16-bit value as one of the first two arguments and the JIT ends up spilling it to the stack?

[2018-07-11 18:15] mikedn commented on #18867
Yep, that's something I've yet to check.

[2018-07-11 18:38] jakobbotsch commented on #18867
Hmm nope. Here that happens:
[code]

But the JIT does a wide store to initialize the stack slot:
[code]

[2018-07-11 19:23] CarolEidt commented on #18153
The problem is in the handling of the unmanaged call to `Sys.DoubleToString. When the register allocator generates uses for the double argument (that's passed in two integer registers) at the call site, it assigns them both to r0, instead of r0 and r1, causing it to fail to allocate a register in the second case.
I'm going to see if I can create a coreclr repro, to make this easier to validate.

[2018-07-11 19:29] AndyAyersMS commented on #3408
No worries.

Here are some local numbers for scenario benchmarks. Some huge speedups without tiering.

Interestingly tiering doesn't see as big of wins. Not sure why just yet -- perhaps because the tier 1 jit latency overlaps with ongoing computation, so a slightly faster tier1 jit doesn't impact the overall app time that much. Though I would also have expected tier0 to speed up, but perhaps the c

[2018-07-11 19:40] jakobbotsch commented on #18867
Ah, that was the missing link. My previous example gives the bad code-gen on x86 when removing that.

[2018-07-11 20:19] AndyAyersMS commented on #3408
Couple of ideas:
* Defer flushing the free lists if the tiered compilation manager has a backlog of rejit requests.
* Initialize the last flush time during `Init` so the first finalizer tick doesn't always immediately flush.

[2018-07-11 20:37] Xazax-hun opened #18872 "Suspicious move"
I think there might be a use after move in `src/jit/lower.cpp`

See: https://github.com/dotnet/coreclr/blob/master/src/jit/lower.cpp#L561

The variable `condRange` might have been moved just before its use.

[2018-07-11 22:37] fiigii opened #18875 "[RyuJIT] Avx.BlendVariable has incorrect VEX.vvvv encoding with containment form"
https://github.com/dotnet/coreclr/issues/18815 has been fixed by https://github.com/dotnet/coreclr/pull/18849, but a new bug appears that `vblendvp*` always uses the default VEX.vvvv (XMM0) to encode the first argument.

cc @CarolEidt @tannergooding

[2018-07-11 22:45] RussKeldorph commented on #18867
@dotnet/jit-contrib

[2018-07-11 23:06] fiigii opened #18877 "[RyuJIT] Ensure all the VEX.vvvv instructions in IsDstDstSrc/DstSrcSrcAVXInstruction"
Logging the conversation https://github.com/dotnet/coreclr/pull/18876#pullrequestreview-136452081

We should double check that all the instructions that use `VEX.vvvv` field (VEX encoded 256-bit and 128-bit instructions both) properly exist in `IsDstDstSrc/DstSrcSrcAVXInstruction`.

[2018-07-11 23:15] CarolEidt commented on #18877
@fiigii @tannergooding do you envision that this is something we could do programmatically, e.g. by adding asserts?

[2018-07-11 23:18] fiigii commented on #18877
Maybe hard because the current ins table does not have VEX encoding information. I think https://github.com/dotnet/coreclr/issues/14523 is a better approach.

[2018-07-12 00:17] #15381 closed

[2018-07-12 03:29] #18875 closed

[2018-07-12 03:36] tannergooding commented on #18069
@voinokin, I'm going to close this as the original issue is fixed. Feel free to reopen/update if you feel otherwise.

[2018-07-12 03:36] #18069 closed

[2018-07-12 03:39] tannergooding commented on #17127
@fiigii, are you going to be working on this soon, or is it something I can move to my plate?

[2018-07-12 05:00] mikedn commented on #18872
It's a bit confusing but that's not how it works. `std:move` does not move anything, it only enables movement. In this case the range is passed down to `InsertAfter` as an r-value reference and nothing ever get moved in this particular code.

And use after move is not incorrect in itself. Though in this case you'll end up with an assert in debug builds because `LastNode` becomes null and `fgSplitB

[2018-07-12 05:11] voinokin commented on #18069
Thank you!
I'll re-check my code with the first preview of 2.2 when it's available

[2018-07-12 08:52] jinhduong commented on #18847
@AaronRobinsonMSFT Thanks for your response but I follow the instruction which is quite hard and still not resolved my problem so I already switch to `ubuntu 16.04` and this problem was be resolved.

[2018-07-12 13:37] jakobbotsch opened #18884 "RyuJIT fails to preserve variable allocated to RCX around shift on Linux x64 in release"
The example is:
[code]

The disassembly shows that `arg3` gets allocated to RCX, but it is not restored after the shift (which requires the shift-value to be in cl):
[code]

It does not repro on Windows, but that might be because `arg3` does not get allocated to `rcx`.

[2018-07-12 14:40] JoseTiagoCarvalho opened #18885 "ILDASM - Wrong exit code"
I'm using ILDASM to inspect all files in a folder (project build output), and in somes cases i have configuration/text files. In those edge cases i caught a bug, although i received an exit code 0 the process output was "Image is either too small or contains an invalid byte offset or count.\n". According to the process output i was expecting to receive an exit 1.

I'm migrating to this version of

[2018-07-12 16:16] AaronRobinsonMSFT commented on #18847
@jinhduong Okay. Thanks for updating us. I will close this issue - feel free to re-open if you hit it again.

[2018-07-12 16:16] #18847 closed

[2018-07-12 16:34] AaronRobinsonMSFT commented on #18885
@jkotas What are your thoughts on changing ILDASM to return a non-zero code when an issue was detected?

[2018-07-12 16:44] AaronRobinsonMSFT commented on #18885
@JoseTiagoCarvalho Any way you could provide a simple repro? Is there a file you could point at that demonstrates this behavior?

[2018-07-12 17:06] JoseTiagoCarvalho commented on #18885
I think it shouldn't return an Exit code 0 (Success code) when it fails to execute the operation.

[CannotDisassemble.zip](https://github.com/dotnet/coreclr/files/2189520/CannotDisassemble.zip)

[2018-07-12 17:07] jakobbotsch commented on #18884
Repro on Windows:
[code]

[2018-07-12 17:21] AaronRobinsonMSFT commented on #18885
@JoseTiagoCarvalho Thanks! I have been able to reproduce this issue locally. It does seem like the .NET Framework version of this tool has the same behavior (i.e. returns 0). I think changing this is a reasonable suggestion. I do want to hear from @jkotas or perhaps @jeffschwMSFT on who the specific stakeholders for this tool are. If they are okay with it, I will change the behavior.

[2018-07-12 18:02] fiigii commented on #17127
@tannergooding If you have time to pick this up, that would be great, thanks! BTW, I will start to complement the remaining AVX2 intrinsic from next week.

[2018-07-12 18:04] BruceForstall opened #18886 "ARM64 corefx test failures"
The following tests fail in corefx CI runs, and have been disabled. There are some similar failures for ARM in #16001.

E.g., https://ci.dot.net/job/dotnet_coreclr/job/dev_unix_test_workflow/job/jitstress/job/arm64_cross_checked_windows_nt_corefx_baseline_tst_prtest/2/consoleText

[2018-07-12 18:15] BruceForstall commented on #18886
[code]

[2018-07-12 18:16] AaronRobinsonMSFT commented on #18885
@RussKeldorph Any concerns with changing this behavior?

[2018-07-12 18:29] tmds commented on #18827
@wfurt @mikem8361 if you attach VS to a .NET Core process running on Linux. Can it create minidumps that VS can understand and diff to debug memory leaks (https://msdn.microsoft.com/en-us/library/dn342825.aspx)? Or does this also not work due to the ELF format?

[2018-07-12 18:30] wfurt opened #18889 "sosplugin is not working on ARM"
I tested this in my RP3 as well as Ubuntu on Qemu. I'm not even  able to get list of commands.

[code]

I did same steps on x64 and lldb-4.0
(lldb) sos
-------------------------------------------------------------------------------
SOS is a debugger extension DLL designed to aid in the debugging of managed
programs. Functions are listed by category, then roughly in order of
...
...

(lldb) sos hel

[2018-07-12 18:32] wfurt commented on #18827
sos seems broken or arm. I opened #18889 to track it.

[2018-07-12 18:40] RussKeldorph commented on #18885
@AaronRobinsonMSFT What should the definition of "success" be?  Like, how "valid" does a file have to be before ildasm returns success?  Can it have an invalid bit in a header somewhere and still have ildasm succeed?  What should happen when ildasm'ing a C++ all-native executable?  Right now I assume the border between failure and success is whether the file can be opened and read, which is easy t

[2018-07-12 18:40] mikem8361 commented on #18827
VS can not create minidumps or core dumps when attached to a remote Linux process. We are investigate ways to improve the memory leaks and dump analysis for Linux.  We don’t have a time frame yet.

[2018-07-12 19:43] mikedn commented on #18867
This is a bug in copy propagation performed by local assertion propagation during morph. It does not account for variables having different "normalize on load" settings and it substitutes one "normal" lclvar (having "normalize on load" false) with an argument (having "normalize on load" true). Normalize on load requires a separate cast after the lclvar load and that cast is generated during global

[2018-07-12 20:34] BruceForstall commented on #18174
Closed by #18890

[2018-07-12 20:34] #18174 closed

[2018-07-12 20:42] #18238 closed

[2018-07-12 20:44] erozenfeld commented on #18850
Fixed by #18816.

[2018-07-12 20:44] #18850 closed

[2018-07-12 20:49] tannergooding opened #18892 "Update `microsoft.netcore.ilasm` to be a self-contained package"
Currently, `microsoft.netcore.ilasm` has a dependency on `microsoft.netcore.runtime.coreclr` which makes restoring/consuming the package a multi-step process.

You have to restore the rid-specific version of each package, and then combine the bits from each in a new location before you can invoke `ilasm`.

Updating the `microsoft.netcore.ilasm` package to be self-contained, such that it can be inv

[2018-07-12 20:49] tannergooding commented on #18892
This would, specifically, make the ILProj SDK simpler: https://github.com/dotnet/arcade/pull/317

CC. @weshaggard

[2018-07-12 20:52] wfurt opened #18893 "createdump is missing on ARM and ARM64"
X86 runtime has utility `createdump` and there are instructions out there how to use to collect debug info. It is missing in arm runtime.

This is probably packaging issue. I build it and run it on me RPI and it seems to function.
It did create dump as well as it prints reasonable output when executed with -d flag.

[code]

[2018-07-12 21:23] weshaggard commented on #18892
@RussKeldorph do you have any issues with this?

[2018-07-12 21:48] Petermarcu opened #18894 "Investigate: can we improve docs or diagnostics when 64 bit .NET Core app fails on Azure App Service"
@noahfalk commented on [Thu Jun 07 2018](https://github.com/dotnet/core/issues/1670)

This issue is forked from #1622 where @joseclament reported that he was getting an unexplained BadImageFormatException. The limitation from Azure App Service is by design, but perhaps we could offer better guidance in docs or diagnostic error messages so that developers will more quickly discover the right path f

[2018-07-12 21:49] wfurt commented on #18827
opened #18893 for createdump. It seems to function ok on arm so you can build it your self @abbotware

Is there anything left on this issue?

[2018-07-12 21:55] RussKeldorph commented on #18892
@weshaggard Sounds fine me, but I doubt I appreciate the implications well enough to have an opinion.  Are there any downsides besides breaking someone that may already be using this?

/cc @MichalStrehovsky

[2018-07-12 22:07] tannergooding commented on #18892
The nuget packages will be bigger, for one.

[2018-07-12 22:40] abbotware commented on #18889
FYI - Same problem I have on aarch64

[2018-07-12 22:45] wfurt commented on #18827
If you cross-compiled coreclr, could you try libsosplugin.so from that build?  I use tree synced to `ff5d7adfc8`. (and cross rootfs created via ./cross/build-rootfs.sh arm xenial lldb4.0)

[code]

[2018-07-12 22:56] wfurt commented on #18827
Actually, you need to follow https://github.com/dotnet/coreclr/blob/master/Documentation/building/cross-building.md
Running the script will fetch most the tools and packages you need.

I can also post my binary if you want to give it try.

[2018-07-12 23:02] abbotware commented on #18827
sure binary is easy for me to test! - i never did a compile of the coreclr - already hitting some issues I have to dig into

[2018-07-12 23:04] wfurt commented on #18827
[libsosplugin.so.gz](https://github.com/dotnet/coreclr/files/2190602/libsosplugin.so.gz)

This may be some problem with build. I'm trying to look into it.

[2018-07-12 23:05] wfurt commented on #18827
as you see, I used dotnet-2.1.302 for my testing. I think it should be ok if you get close enough.

[2018-07-12 23:09] AaronRobinsonMSFT commented on #18885
@RussKeldorph all are good questions. Here is the current state. I can say that the coreclr version matches the Framework version with respect to return codes - so yay. Debugging through thus far it isn't obvious why the return value is `0` when the `/out=foo.il` flag is passed, but is `1` when it isn't passed.

@JoseTiagoCarvalho What platform are you running on and can you please provide all the

[2018-07-12 23:30] abbotware commented on #18827
im using 2.1.301, lldb didnt seem to like the -c option, so i took it off:

[code]

[2018-07-12 23:33] BruceForstall opened #18895 "[arm64] Assertion failed '(allRegs(theInterval->registerType) & mask) != 0'"
Running JIT\HardwareIntrinsics\Arm64\Simd\Simd.cmd test:

[code]

e.g., https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_debug_windows_nt_tst/566

[2018-07-12 23:34] wfurt commented on #18827
That matched x64. Without loaded core, there are no clr internals. You can try to attach to real process or figure out how to load the core. The core I use is the one created with createdump. I don't know if that matters.  what core file are you trying to load?

[2018-07-12 23:39] BruceForstall commented on #18895
@CarolEidt @dotnet/arm64-contrib

[2018-07-12 23:46] abbotware commented on #18827
shouldnt lldb be able to load the SOS by itself?

[code]

[2018-07-13 03:54] RussKeldorph commented on #18889
@echesakovMSFT

[2018-07-13 05:34] wfurt commented on #18889
just a note that it seems to work when I build it my self. (#18827) I'm suspicious this may be build problem .

[2018-07-13 06:48] jkotas commented on #18885
It sounds fine to me.

"success" = ildasm produced valid .il file, there were no image format errors.

[2018-07-13 06:53] mikem8361 commented on #18307
Added to master in PR #18873.

[2018-07-13 07:16] dotnet-mc-bot opened #18898 "Test failure: CoreMangLib_cti._system_guid_GuidEquals2_GuidEquals2_/_system_guid_GuidEquals2_GuidEquals2_cmd"
Opened on behalf of @Sunny-pu

The test `CoreMangLib_cti._system_guid_GuidEquals2_GuidEquals2_/_system_guid_GuidEquals2_GuidEquals2_cmd` has failed.

mkdir: cannot create directory ‘lock’: File exists
    mkdir: cannot create directory ‘lock’: File exists
    mkdir: cannot create directory ‘lock’: File exists
    mkdir: cannot create directory ‘lock’: File exists
    mkdir: cannot create directory

[2018-07-13 09:10] Porges commented on #17818
Slightly an aside, but it's been discussed earlier here: Given that, even with `unmanaged`, `Vector128` is not going to be pinnable, what's the best way to avoid bounds checks on arrays of `Vector128`? Array of raw bytes and `Sse2.LoadVector128` from that?

[2018-07-13 09:17] MichalStrehovsky commented on #18892
We already have #15059 tracking this. Would be nice to do something about it.

[2018-07-13 09:30] ygoe commented on #8565
So what happens when a .NET Core console application is running on Linux and the system is shutting down? Will it receive a Ctrl+C event? Or a SIGQUIT? Or SIGTERM? And what happens on Windows? Can we somehow gracefully handle that situation or will the .NET Core console application just blindly fall down and disappear when the system is shutting down in an ordered way? I need to ensure that whatev

[2018-07-13 09:36] JoseTiagoCarvalho commented on #18885
@AaronRobinsonMSFT I'm running Ildasm from a c# app, running on platform x64 and framework netcoreapp2.0.

[code]

The command should be equivalent to `ildasm.exe /all /text CannotDisassemble & echo %ERRORLEVEL%`

[Tool.zip](https://github.com/dotnet/coreclr/files/2192115/Tool.zip)

[2018-07-13 10:29] RussKeldorph commented on #18885
@AaronRobinsonMSFT Note that the DOS command
[code]
does not print the exit code of its `ildasm` invocation.  `%ERRORLEVEL%` is evaluated and replaced in the entire line (both sides of the `&`) before execution begins, so it prints the ambient exit code value prior to anything else on that line being executed.

When I run `ildasm` (both Core and .NETFx) I see the following:
[code]

[2018-07-13 11:10] JoseTiagoCarvalho commented on #18885
If i run the net Core version `dotnet ildasm CannotDisassemble & echo %errorlevel%`, i get the output:

[code]

I have installed .NET Core 2.1 SDK (v2.1.302), and dotnet-ildasm version 0.9.2

[2018-07-13 13:10] RussKeldorph commented on #18885
@JoseTiagoCarvalho `dotnet-ildasm` is not hosted at this repo.  I believe it comes from [here](https://www.nuget.org/packages/dotnet-ildasm/).  I suspect you want to close this issue and open a new one in that repo.

[2018-07-13 13:19] JoseTiagoCarvalho commented on #18885
@RussKeldorph  Sorry, you are right. I though it was the same project site.

@AaronRobinsonMSFT @RussKeldorph Thanks for all the help anyway.

[2018-07-13 13:20] #18885 closed

[2018-07-13 15:33] tannergooding commented on #18467
This should be resolved now that #18838 is merged.

[2018-07-13 15:33] #18467 closed

[2018-07-13 15:37] echesakovMSFT commented on #18889
I also ended up building lldb5.0.2+sosplugin for arm myself. In my case it couldn't even run target process with the following message `error: process launch failed: Lost debug server connection`.

[2018-07-13 16:03] gfraiteur opened #18903 "Assembly.LoadFrom("System.Threading.Tasks.Extensions.dll") fails with FileLoadException"
We (PostSharp) noticed a weird behavior of .NET Core CLR and are asking for clarifications so we can implement a proper solution.

Consider the following program:

[code]

When executed with the default command line with .NET Core 2.0.9, this program throws:

[code]

We found the following workaround. First, define a file `my.deps.json` with the following content:

[code]

Then use the following c

[2018-07-13 16:10] #17801 closed

[2018-07-13 17:09] danmosemsft commented on #18903
@jeffschwMSFT do you know?

[2018-07-13 17:41] Zhentar opened #18905 "Hardware Intrinsics: Add uint overload for Sse41.MultiplyLow"
[code]

Works, but it's pretty ugly.

(for the benefit of those, who like me from two days ago, have minds happily free of two's complement arithmetic, the low half of a multiply is the same for both signed and unsigned values. So while Intel documents the underlying PMULLD as signed, it is actually sign agnostic)

I suspect that there is a matching `Avx2.MultiplyLow` for which this is equally app

[2018-07-13 18:02] AaronRobinsonMSFT opened #18906 "Improve NativeCallable tests"
Some of the cases in the [`NativeCallableAttribute` tests](https://github.com/dotnet/coreclr/tree/master/tests/src/Interop/NativeCallable) are commented out without details as to why. These should be uncommented and the edge cases of `NativeCallableAttribute` should be covered.

cc @jaredpar @jeffschwMSFT @luqunl

[2018-07-13 18:31] BruceForstall commented on #17585
@sandreenko It looks like System.Runtime.Tests is still excluded in the `arm\corefx_test_exclusions.txt` file, against this issue that is now fixed. Can you please remove the exclusion?

e.g.:
[code]

[2018-07-13 18:35] echesakovMSFT opened #18907 "[Linux/arm32][GCStress=0xc] RuntimeEventSourceTest 'listener.EventCount > 0' Assertion Failure"
All the recent Ubuntu arm32 GCStress=0xc runs failed the same way in recently added RuntimeEventSourceTest in #18649

[code]

[arm_cross_checked_ubuntu_gcstress0xc_flow #19](https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_ubuntu_gcstress0xc_flow/19/)
[arm_cross_checked_ubuntu_gcstress0xc_jitstress1_flow #18](https://ci.dot.net/job/dotnet_coreclr/job/ma

[2018-07-13 18:55] tannergooding commented on #18905
CC. @fiigii, @CarolEidt, @eerhardt

[2018-07-13 18:57] jkotas opened #18908 "Add tests for DECIMAL PInvoke marshaling"
https://github.com/dotnet/coreclr/pull/18868#discussion_r202166213
https://github.com/dotnet/corert/issues/4994

[2018-07-13 19:59] BruceForstall commented on #18907
Can the test be disabled until this issue is fixed?

@brianrob is this yours?

[2018-07-13 20:21] #18710 closed

[2018-07-13 20:31] brianrob commented on #18907
If you like, this test can be disabled on gcstress runs, but we should not blanket disable it.

[2018-07-13 20:37] jeffschwMSFT commented on #18903
@gfraiteur thanks for reaching out.  The original failure happens for two reasons: 1) simple version downgrade checks and 2) tpa list unification.  When running on .NET Core 2.0.9 there is a version of System.Threading.Tasks.Extensions with version 4.1.1 that ships as part of NetCore.APP.  When you try to load S.T.T.E version 4.2 (which is what ships as part of the 4.5.1 nuget package) the runtime

[2018-07-13 21:18] fiigii commented on #18905
@Zhentar Thanks for the proposal and I agree. `MultiplyLow` only takes the lower 32-bit of the result, so the sign does not matter.

@tannergooding I am also considering to add all the integer overloads for `Avx2.BlendVariable` that is very common to use.

[2018-07-13 21:35] tannergooding commented on #18905
@fiigii, We'll want to make sure we have an issue tracking it and that it goes to API review (I am working on ensuring another one is setup soon to cover the issues/requrests that have cropped up).

[2018-07-13 21:38] fiigii commented on #18905
I see. Let me open an issue for `Avx2.BlendVariable`.

[2018-07-13 21:43] fiigii opened #18910 "Add all integer overloads for Avx2.BlendVariable"
Now, we only have the `byte/sbyte` overload for `Avx2.BlendVariable` since the instruction uses the mask vector as a byte sequence.
However, `Avx2.BlendVariable` is very common to use, adding all integer overloads (`short/ushort/int/uint/long/ulong`) will significantly improve the user experience.

cc @tannergooding @CarolEidt @eerhardt

[2018-07-13 21:51] saucecontrol commented on #18910
If you do it on `Avx2.BlendVariable`, I'd think it should be done on all the byte-shuffle ops.  `Ssse3.Shuffle` would also need them, for example.

And there are less obvious ones like `Ssse3.AlignRight`.

Now that the `StaticCast` calls get folded, it's strictly a usability issue.  Perhaps the answer is to improve the `StaticCast` to be more terse?

[2018-07-13 21:55] fiigii commented on #18910
Agree, I will investigate it and put here later. Thanks!

Don't you mean eliminating `StaticCast` and using implicit conversion of Vector128/256 instead?

[2018-07-13 22:01] saucecontrol commented on #18910
Yeah, that might be ideal.  I remember seeing the discussions around when generics would be used and when the argument types would be exploded, and while the rules make a lot of sense, there's so much flexibility build into the way the Intel instructs are defined with `__m128i` and `__m256i` that it would mean a ton of overloads to cover everything people will be doing with these instructions.

[2018-07-13 22:04] tannergooding commented on #18910
One of the proposals here was to partially explode the `StaticCast` methods. That is, where today you have `Vector128<U> StaticCast<T, U>(Vector128<T>)` you could instead do `Vector128<T> StaticCast<T>(Vector128<float>)` (and explode the other 9 types as well). This makes it significantly less verbose.

I don't think implicit conversions are a good idea, and they aren't supported with some languag

[2018-07-13 22:06] tannergooding commented on #18910
As for the general proposal. I think it would depend on how confusing it is perceived to pass in a `Vector128<int>` but operate as if it was a `Vector128<byte>`.

[2018-07-13 22:08] saucecontrol commented on #18910
I like this idea a lot.

I think it goes back to the target audience for these.  You have to assume the user knows what the instruction does, and if the instruction operates on the byte level, I'd know that if I were calling it, regardless of the argument types.

[2018-07-13 22:23] brianrob commented on #18907
Spoke with @BruceForstall and @echesakovMSFT offline.  To unblock test runs, feel free to mark this as GCStress incompatible, and we can keep this issue open to investigate why the test is failing.

[2018-07-13 22:31] BruceForstall commented on #17754
@echesakovMSFT We still have this line in arm\corefx_test_exclusions.txt (for Windows):
[code]

If the issue is really resolved, this should be removed.

However, I am seeing this same test time out when bringing up corefx testing for arm64 (also JitMinOpts only), so it seems it is not quite resolved.

[2018-07-13 22:33] BruceForstall opened #18912 "[arm64] System.Text.RegularExpressions.Tests JitMinOpts only timeout"
[code]

Related: https://github.com/dotnet/coreclr/issues/17754

[2018-07-13 22:36] BruceForstall opened #18913 "[arm64] corefx System.ComponentModel.Composition.Tests failure"
While scouting Windows arm64 corefx testing: https://ci.dot.net/job/dotnet_coreclr/job/dev_unix_test_workflow/job/jitstress/job/arm64_cross_checked_windows_nt_corefx_baseline_tst_prtest/3/consoleText

[code]

Remove exclusion from arm64\corefx_test_exclusions.txt when fixed.

[2018-07-13 22:36] BruceForstall commented on #18913
Only seen once, in the baseline run, and not in any stress mode runs.

[2018-07-13 22:49] BruceForstall opened #18914 "[Windows/arm64] corefx System.Runtime.Tests test failure"
Happens in baseline and all JIT stress runs.

[code]

e.g., https://ci.dot.net/job/dotnet_coreclr/job/dev_unix_test_workflow/job/jitstress/job/arm64_cross_checked_windows_nt_corefx_baseline_tst_prtest/3/consoleText

[2018-07-13 23:40] fiigii commented on #16653
@tannergooding I see that you assigned this issue to your self. Are you implementing these AVX2 intrinsics?

[2018-07-13 23:45] tannergooding commented on #16653
Yes. I am working on most of them right now. We can split them if you have some spare time/etc :)

[2018-07-13 23:47] fiigii commented on #16653
Thanks for the work. Could you share which ones you are working on? I will some spare time next week 😄

[2018-07-13 23:50] AndyAyersMS commented on #18884
Seems likely this is an RA issue... @CarolEidt PTAL
cc @dotnet/jit-contrib

[2018-07-14 00:11] AaronRobinsonMSFT commented on #18908
cc @jiangzeng

[2018-07-14 20:40] tannergooding commented on #16653
@fiigii, I am currently just working on them in alphabetical order. I'll have a PR up Monday morning with w/e I completed over the weekend.

[2018-07-15 03:05] stephentoub opened #18920 "Clean coreclr build incurs ~100 warnings from R2RDump.csproj"
[code]

[2018-07-15 06:59] mikedn commented on #18777
@jkotas @AndyAyersMS I have a fix in #18782 but if changes discussed in #3408 go ahead then the fix won't be needed anymore. Good thing actually, attempting to clean-up during shutdown while work is still going on is kind of odd. But the old implementation did this, or at least attempted.

[2018-07-15 07:54] mikedn commented on #18869
Random idea of the day: instead of creating new lclvars allow multiple uses of a node. Now, actually allowing multiple uses of a random node is pretty much out of the question, it's a too big departure from the current IR model of the JIT. But maybe such multiple uses can be allowed only for a new kind of node - `GT_DEF`. Though that sounds pretty far fetched too...

[2018-07-15 08:36] mikedn commented on #18603
That duplicate `movzx` that appears in some case is inserted by morph when normalizing small type values is deemed necessary (e.g. when the return type of the method is `bool`). `fgCastNeeded` has special handling that avoids inserting the cast for relops but it does not know about SIMD intrinsics.

Interestingly, this does not happen for HW intrinsics. `bool` returning intrinsics are (wrongly?) i

[2018-07-15 09:04] voinokin commented on #18831
@tannergooding
My concern here is to confirm HW intrinsics API is consistent at these specific points, before it's too late
Thank you for answering and/or excuse me for disturbing if you're not the right person :-)

[2018-07-15 14:02] tannergooding commented on #18910
Provided it called the underlying `StaticCast` methods, it should.

[2018-07-15 14:06] tannergooding commented on #18831
Thanks @voinokin. Myself and @eerhardt are the primary people to tag on HWIntrinsic related API requests.

@CarolEidt, @fiigii, and @RussKeldorph are also part of the larger "working group" and are good to tag as well.

@fiigii, specifically, might be able to provide more insight as to why `uint` was used here, instead of `int`.

It looks like the native signatures take `uint` parameters and retur

[2018-07-15 14:32] AndyAyersMS commented on #18777
Might as well take this fix. I don't yet know how close we are to resolving #3408.

[2018-07-15 17:21] jkotas commented on #3408
Fixed.

I think that the current implemented policy should take of this reasonably well. If the tiered compilation keeps doing work, the blocks that it actually needs won't get freed. They will get pushed to second list once in a while, but then bumped to the first list. The cost of pushing the blocks to the second list should be pretty small.

This may help outliers like when the method takes mor

[2018-07-15 18:30] AndyAyersMS commented on #3408
I didn't see much difference with this one way or the other, so no need to pursue it now.

Lab results generally in agreement that this is a solid improvement, though they are not quite as optimistic as my local runs.

Cache misses attributed to clrjit.dll are significantly reduced in lab runs.

[2018-07-15 18:54] Zhentar opened #18925 "Hardware Intrinsics: Non-volatile xmm regs unnecessarily spilled to stack"
Even though my code only actually needs a total of 4 SSE registers, in some cases the JIT is deciding to use `xmm6`,`xmm7`, and `xmm8`, spilling them to the stack.

[code]
Full code: [SpanXxHash32.cs.txt](https://github.com/dotnet/coreclr/files/2195999/SpanXxHash32.cs.txt)

[2018-07-15 19:36] Zhentar opened #18926 "Hardware Intrinsics: Reading out SSE vector values without unsafe or Sse4.1?"
Loading values into a Vector128<> is easy enough, lots of safe options there. But my options seem rather limited when it comes to reading them back out again... the only choices I've found are `Sse41.Extract` or `Sse.Store` with an `unsafe` pointer parameter. Is there any safe option that doesn't affect minimum hardware requirements?

[2018-07-15 20:00] tannergooding commented on #18926
@Zhentar, could you elaborate as to what "safe" options you are using and why using the `unsafe` option isn't "viable"?

[2018-07-15 20:08] tannergooding commented on #18925
FYI. @CarolEidt, @fiigii

@CarolEidt, does the register allocator currently have any smarts here on which registers it should prefer from the XMM/YMM pool?

[2018-07-15 20:45] Tornhoof commented on #18926
There is a similar request here:
https://github.com/dotnet/corefx/issues/30968

[2018-07-15 20:51] Zhentar commented on #18926
`SetVector128`, `SetAllVector128`, `MemoryMarshal.Cast<T,Vector128<T>>` work great for loading values (I imagine MemoryMarshal.Cast can be used for storing as well but it would be more awkward).

`unsafe` isn't entirely non-viable, but it increases the risk of a serious failure; I will face a much higher burden during design, development, and testing if I want to deploy it to production. I'd much

[2018-07-15 21:06] jakobbotsch commented on #18926
Maybe the explicitly sized vector types should have indexers similarly to the SIMD `Vector<T>` type?

[2018-07-15 21:51] tannergooding commented on #18926
I don't think this is a good idea. The Hardware Intrinsics types were explicitly designed to be opaque types (other than size) and only interacted with using the HWIntrinsic APIs. This simplifies a number of other issues/concerns that could arise given that these are platform specific types/APIs and not all platforms/APIs treat them the same.

[2018-07-15 21:56] EgorBo commented on #18926
@Zhentar inner `DisplayString` property is an example of how to read the values "safely" 😄
[code]

[2018-07-15 22:02] tannergooding commented on #18926
**NOTE:** This is my personal view on the subject, so take it with a grain of salt :smile:

One of the main differences here is the use-cases the various APIs are geared towards and the level of performance oriented code they are meant to drive.

Things like `Span<T>` are geared towards use in the public API surface area of high-performance code. They can be easily sprinkled about and help improve

[2018-07-16 00:07] Zhentar commented on #18926
While those are fair points (and I do think good justification for having the pointer API options available), I'm worrying about them for the 500,000 iterations of my inner loop. I've only got one store at the end, and I can easily spare a few extra cycles for bounds checking a write to my stack.

[2018-07-16 00:33] tannergooding commented on #18926
@Zhentar, my question then would be, is there enough justification to cover making such an option part of the official API -- or -- is it already sufficiently covered by the existing APIs and a simple helper method (which can take a `(Span<T> span, int index)` and do the required bounds checks)?

From the discussions so far (on other threads where this was proposed), if new overloads were added, t

[2018-07-16 00:34] saucecontrol commented on #18926
A sample might be helpful to understand your request.  It seems like if you don't mind a perf hit, you can just `stackalloc` a buffer to store the vector into and then wrap that in a `Span<T>` or copy it to an array to keep working on it.

Unless your objection is to using the `unsafe` keyword at all...  The thing is, there's nothing unsafe about safely-written `unsafe` code.  Perhaps it's better

[2018-07-16 01:44] Zhentar commented on #18926
@saucecontrol My coworkers will not find a `\\trust me, I know what I'm doing` preceding my write to the stack without bounds checking very comforting. If I screw it up, the worst case could be a remote code execution vulnerability, so the bar for establishing that my `unsafe` code is safely-written is going to be pretty damn high.

@tannergooding  I'd like helpers along the lines of this:
[code]

[2018-07-16 02:52] tannergooding commented on #18926
@Zhentar, the question, however, is: Why can't you write that helper (with the bounds checking) yourself?

Right, but abstracting the unsafe code behind a helper method with a clear bounds check (as you indicated the BCL should provide) should be a reasonable intermediate.

If we did provide additional overloads (that don't require `unsafe`), my advocate would be for `ref` overloads (not `Span<T>`

[2018-07-16 03:10] saucecontrol commented on #18926
I was chastised for writing similar code [here](https://github.com/dotnet/coreclr/issues/17818#issuecomment-395999541) 😆

In theory, the GC could move the referenced memory between the dereference of the managed pointer and the use of the address.  In practice, the JIT marks the method Partially Interruptable, so it works out.  But with no guarantee that behavior will continue, it's no good.  The

[2018-07-16 03:22] jkotas commented on #18926
There are many cases where it is not going to be the case. A few examples:
- Debuggable code is fully interruptible by default, so this code would crash intermittently under debugger.
- Methods with exception handling are fully interruptible. If this code gets inlined into a method exception handling, you have a problem again.
(This list is not complete.)

[2018-07-16 03:31] saucecontrol commented on #18926
Good to know.  Thanks @jkotas!

[2018-07-16 04:21] Zhentar commented on #18926
I was under the impression that it was the safe & appropriate way to do that. If that is incorrect, then it's a great example of why I would much rather have a CLR provided helper for it 😁

Can you expand on what you have in mind with `ref` overloads? If it's for the entire vector, I don't understand how it would provide memory safety, and if it's for single items, I don't understand how it would