[2017-05-23 21:36] swaroop-sridhar commented on #11856
https://github.com/dotnet/coreclr/pull/11858

[2017-05-23 21:44] brianrob commented on #11856
@swaroop-sridhar, thanks much.

[2017-05-23 21:50] briansull commented on #11814
Note that this test failure corresponds to desktop test failure:

runbaseline_simple2_jit64-gc-misc-simple2.txt
jit\jit64\gc\misc\simple2.exe

[2017-05-23 21:50] briansull commented on #11814
@dotnet/jit-contrib FYI

[2017-05-23 21:56] gkhanna79 commented on #11438
Is the fix for this in BuildTools? If so, can we get it fixed there so that when the final build is identified, it comes through?

[2017-05-23 21:57] #11689 closed

[2017-05-23 22:05] vancem commented on #11763
Semantically it is reasonable for  StringBuilder.Equals(object), to do the 'standard' thing and try to cast its argument to StringBuilder and call StringBuilder.Equals(StringBuilder).    It is also reasonable for it to implement IEquatable<StringBuilder> (since it implements its functionality).

Having said this, the value of these new things is basically to have a table with a 'Key' which is a St

[2017-05-23 22:25] pgavlin commented on #11804
This test actually ends up hitting an assertion during LSRA when using a checked JIT:

[code]

Here's the IR for this function:

[code]

[2017-05-23 22:34] jkotas commented on #11761
From @briansull :

[2017-05-23 22:39] CarolEidt commented on #11804
@pgavlin - shall I take it from here, or would you like to continue with this?

[2017-05-23 22:40] pgavlin commented on #11804
Here are the allocator's intervals and ref positions:
[code]

@CarolEidt I'm going to dig a bit deeper before throwing in the towel :)

[2017-05-23 22:43] BruceForstall commented on #11804
@pgavlin I've reassigned this to you.

[2017-05-23 22:45] pgavlin commented on #11804
Thanks, @BruceForstall.

It does seem odd that `V00` is ending up a register candidate given the type punning that's happening with the `LCL_FLD`: it seems like this ought to disqualify the lclVar from enregistration.

[2017-05-23 22:58] #11857 closed

[2017-05-23 22:58] gkhanna79 commented on #11857
Issue moved to [dotnet/cli #6673](https://github.com/dotnet/cli/issues/6673) via [**ZenHub**](https://www.zenhub.com/)

[2017-05-23 22:59] gkhanna79 commented on #11839
Issue moved to [dotnet/core-setup #2497](https://github.com/dotnet/core-setup/issues/2497) via [**ZenHub**](https://www.zenhub.com/)

[2017-05-23 22:59] #11839 closed

[2017-05-23 23:01] BruceForstall commented on #8496
You can also just ask a Microsoft person to assign you the issue, by either tagging me (@BruceForstall) or @RussKeldorph -- we should be able to make the assignment.

[2017-05-23 23:11] #11691 closed

[2017-05-23 23:12] CarolEidt commented on #11804
Yes, and usually the presence of a `GT_LCL_FLD` would disqualify a struct from promotion, but I suspect that there's something being missed in the special casing of `TYP_SIMD`.

[2017-05-23 23:13] CarolEidt commented on #11804
Of course, SIMD nodes aren't really "promoted", but one would expect the same analysis to apply.

[2017-05-23 23:18] pgavlin commented on #11804
This is essentially correct: the code in morph that would normally disqualify the lclVar from enregistration when rewriting `(IND Tx (ADDR (lclVar Ty V)))` into `(LCL_FLD Tx V)` does not do so if the lclVar is a reg struct, and only SIMD lclVars are reg structs. I think the fix is a simple as always disqualifying `V` when this rewrite is performed; I'm running tests and asm diffs now.

[2017-05-23 23:20] ellismg commented on #11438
Yes.  Yes.

[2017-05-23 23:24] CarolEidt commented on #11804
It is probably the case that the exception was intended to handle the issue where `TYP_SIMD8` parameters are passed and returned as `TYP_DOUBLE`. However, I don't believe we handle that correctly yet anyway - I **think** those are usually not enregistered if they are passed or returned. But that would be something to look at.

[2017-05-23 23:28] pgavlin commented on #11804
Yup, I added a test for just that. In that case we create the `LCL_FLD` node in the importer, though I haven't yet tracked down precisely where.

[2017-05-23 23:33] brianrob commented on #11588
This appears to have been my fault.  Closing.

[2017-05-23 23:33] #11588 closed

[2017-05-23 23:33] brianrob commented on #11551
Moving this to future.

[2017-05-23 23:56] yizhang82 commented on #11830
@tannergooding Thanks for logging the issue. Let's take the discussion there on the csharplang issue.

[2017-05-23 23:59] xiangfan-ms opened #11861 "Issues found when building with MSVC + /permissive"
The C++ compiler team is currently doing daily RWC (Read World Code) testing which includes CoreCLR.
We are also working with internal partners and the community to fix source issues exposed by "/permissive-".
The option isn’t finalized yet (we plan to add some large impact features into it in the incoming VS update), so we don’t suggest to adopt it yet.
In the meantime, we want to address these s

[2017-05-24 00:08] sdmaclea commented on #11764
This is also causing the following tests to fails
[code]

They are only affected by
[code]

[2017-05-24 00:18] sdmaclea opened #11862 "[Arm64/Unix] 'SHA1' threw an exception. ---> System.ArgumentNullException: Value cannot be null"
On recent tip, `JIT/Performance/CodeQuality/Roslyn/CscBench/CscBench.sh` is failing

[code]

[2017-05-24 00:18] sdmaclea commented on #11862
@dotnet/arm64-contrib

[2017-05-24 00:21] sdmaclea commented on #11862
Full Backtrace
[code]

[2017-05-24 01:10] sjsinju commented on #10657
@BruceForstall  It had been fixed with #10721 #11541. Let me close it.

[2017-05-24 01:10] #10657 closed

[2017-05-24 01:38] hseok-oh commented on #8082
@gkhanna79 This issue is related to R2R legacyJIT in ARM32/Linux, but ARM32/Linux R2R crossgen has many problem yet. We've been used crossgen with `FragileNonVersionable` option. And this issue is not occur with `FragileNonVersionable` option.
It seems better to change milestone as future work.

[2017-05-24 04:03] parjong commented on #9265
@gkhanna79 This issue is just for discussion and progress tracking. Could you please change the milestone, or should I close this one?

[2017-05-24 04:07] lemmaa commented on #6501
I think that it is going well and close the issue. Please open anybody if necessary. Thank you.

[2017-05-24 04:07] #6501 closed

[2017-05-24 04:09] seanshpark commented on #10012
@janvoli, could we remove Milestone 2.0.0 ? I don't think x86 is prepared for that and FOA also.

[2017-05-24 04:40] #11773 closed

[2017-05-24 04:52] gkhanna79 commented on #9265
I have changed the milestone - please continue to use this for discussion.

[2017-05-24 05:00] parjong opened #11866 "[x86/Linux] m_pLayouts[IMAGE_LOADED] == NULL assert failure"
I observed the following assert failure while running FX unittest:
[code]

[2017-05-24 05:04] parjong commented on #11866
@jkotas @janvorli #11867 seems to address this issue, but I'm not sure whether it is a correct way to resolve this issue. Could you let me know whether it is possible to invoke PEImage::Load multiple times?

[2017-05-24 05:05] hqueue opened #11868 "[ARM32] In Checked/Debug build, JIT/Regression/CLR-x86-JIT/V1-M12-Beta2/b59782/b59782 raises an assertion"
In Checked and Debug build of ARM32, `JIT/Regression/CLR-x86-JIT/V1-M12-Beta2/b59782/b59782` test fails with a below assertion.

[code]

[2017-05-24 05:11] hqueue commented on #8496
You can also see them in a query for arm32 CodeGen issues: https://github.com/dotnet/coreclr/issues?utf8=%E2%9C%93&q=is%3Aopen%20is%3Aissue%20label%3Aarch-arm32%20label%3Aarea-CodeGen.

@BruceForstall Thank you for listing up tasks. I could see a tons of issues now.

[2017-05-24 05:11] hqueue commented on #11779
@BruceForstall Please assign this to me.

[2017-05-24 05:12] hqueue commented on #11784
@BruceForstall Please assign this to me.

[2017-05-24 05:33] jkotas commented on #11866
Regression introduced by https://github.com/dotnet/coreclr/pull/10772

[2017-05-24 05:55] Toxantron opened #11869 "JIT: RunOnGPUAttribute"
This is just an idea and I hope it is not a duplicate, but as far as I understand the SIMD optimizations in `System.Numerics` only run on the CPU and are limited to predefined operations like `Add`, `Multiply` and some other common vector and matrix operations. #6906 proposes decoupling the CPU optimized APIs from the predefined methods, but still only considers the CPU as a target.

I thought of

[2017-05-24 06:28] hqueue opened #11870 "[RyuJIT/arm32] All test failed after recent commit"
After e5d76089a7af352759ed395ecc3c2e61bd6f9640 (https://github.com/dotnet/coreclr/pull/10275), all test failed with AltJit (ryujit/arm32) due to following exception.

[code]

For example, all tests in  `JIT/CodeGenBringUpTests` are passed with `COMPlus_AltJit=* COMPlus_AltJitAssertOnNYI=0` before the commit, but now all failed.

[2017-05-24 06:33] hqueue commented on #11870
/cc @dotnet/arm32-contrib  @mikedn

[2017-05-24 06:45] hqueue commented on #11870
FWIW At least 1st commit(7a4b14e5366bba52d188695c803c9e27e103d362 ) from https://github.com/dotnet/coreclr/pull/10275 works well with ryujit/arm32.
It seems that 2nd commit(https://github.com/dotnet/coreclr/commit/e5d76089a7af352759ed395ecc3c2e61bd6f9640) is not working well with ryujit/arm32.

[2017-05-24 06:51] hqueue commented on #11870
[code]

It seems that it was expected failure, because ryujit/arm32 does not support GT_CMP and GT_SETCC yet.

For now, it would be better to avoid this code for ryujit/arm32, because it blocks other implemenation by now. I will make a PR soon.

[2017-05-24 07:23] mikedn commented on #11870
That code is only enabled for X86, am I missing something?

[2017-05-24 07:26] hqueue commented on #11870
@mikedn I think the condition matters. Please take a look at the PR I just made. I didn't look into deep the path of compile phases yet. I just revert the commit for arm32 by now.

[2017-05-24 07:28] hqueue commented on #11870
@mikedn I also don't know why the condition matters. Do you have any idea?

[2017-05-24 07:32] parjong commented on #11866
Here is the backtrace when hitting this assert failure:
[code]
Unfortunately, this issue is non-deterministic and thus it is not easy to reproduce or validate.

[2017-05-24 09:54] ruben-ayrapetyan commented on #11866
See also: https://github.com/dotnet/coreclr/pull/11867/files/891c3d5e4269c42f67f6094ed0c815e3098d3529#diff-57b4d690ef230ae53997986a1a746962 (analysis of failure cause).

[2017-05-24 10:28] agonzalezm opened #11874 "System.ServiceModel not found when referencing a .net full dll in net core 2.0 preview"
I have referenced a full .net dll in a net core 2.0 preview project but when i try to use one of their methods i get this exception. I tried to copy System.ServiceMode dll to project folder but didnt work. Is there any solution or workaround?

System.IO.FileNotFoundException occurred
  HResult=0x80070002
  Message=Could not load file or assembly 'System.ServiceModel, Version=4.0.0.0, Culture=neutr

[2017-05-24 13:18] stephentoub commented on #11831
Note that this is blocking CoreFx taking an updated CoreCLR.

[2017-05-24 13:42] hseok-oh commented on #9903
@gkhanna79 Could you change this milestone to future work? This issue is related to x86/linux and I think it cannot be closed for 2.0.0.

[2017-05-24 13:44] hseok-oh commented on #9488
@gkhanna79 Could you remove Milestone 2.0.0 ? I don't think cross-crossgen for linux/arm32 is prepared for that.

[2017-05-24 14:26] sdmaclea opened #11877 "[Arm64] GCStress not thread safe"
There are two GCStress issues which have appeared to be GCStress infrastructure issues related to updating a GCStress instruction from multiple threads.

This one has occurred 7+ times in 10+ runs
[code]

This one has only occurred once....
[code]

[2017-05-24 14:29] sdmaclea commented on #11877
@swgillespie @Maoni0

[2017-05-24 14:33] sdmaclea commented on #11545
The ARMv8 spec has a similar assertion to ARMv7
[code]

Therefore inner shareable domain seems to be correct for ARMv8 as well as ARMv7.

So far perf testing has not shown any performance difference on the platforms I have tested.

[2017-05-24 14:37] ruben-ayrapetyan opened #11879 "[Question] Testing DAC compliance of changes in code base"
Hello.

What is the sufficient way to test changes that involve DAC-mode?

I think of running debugger tests as one of possible ways.
However, may be it doesn't provide enough coverage for changed code paths.

Also, I think of a special build configuration, which would allow to run general test suite, while checking the executed code paths for DAC-compliance.
Is there any existing build configurat

[2017-05-24 14:39] ruben-ayrapetyan commented on #11879
cc: @jkotas @mikem8361

[2017-05-24 16:09] sdmaclea opened #11881 "[Arm64/Unix] Support ARMv8 Extensions - Atomics (long term optimization)"
Atomics are added in ARM Large System Extensions.

In Linux, their availability can be determined through the ELF auxiliary vector

On linux `getauxval(AT_HWCAP) & HWCAP_ATOMICS` is roughly the incantation.

http://lists.infradead.org/pipermail/linux-arm-kernel/2015-July/355985.html

See also http://cr.openjdk.java.net/~enevill/8157841/webrev/raw_files/new/src/cpu/aarch64/vm/vm_version_aarch64.cpp

[2017-05-24 16:31] tannergooding commented on #11768
@gkhanna79, should I move this to dotnet/corefx, so that it can get the appropriate `api-*` tags?

[2017-05-24 16:32] sdmaclea commented on #11764
@weshaggard Is this the same issue you are trying to fix with corefx in https://github.com/dotnet/corefx/issues/20025

[2017-05-24 16:55] mikem8361 commented on #11879
I know of no special build that would test the DAC. The debugger test suite is it. We currently don't have the resources to do a special build configuration.  I'm not sure if it is even possible to really test the DAC that way.

[2017-05-24 16:56] weshaggard commented on #11764
The error I'm fixing in https://github.com/dotnet/corefx/pull/20025 is about corefx's consumption of dependencies, I don't think that should impact coreclr. However I am fixing a similar issue in the coreclr update PR https://github.com/dotnet/coreclr/pull/11809. I'm not sure if it is the exact issue but it is similar.

[2017-05-24 17:01] ruben-ayrapetyan commented on #11879
@mikem8361, thank you for your answer.

Would it be possible to add debugger test suite in CI, to perform the check automatically?
As far as I know, the test suite is currently internal and so its contents are not available to public.
However, can it be possible to add the test suite to a CI job with only `PASS`/`FAIL` statuses, without opening the test suite to public?

[2017-05-24 17:05] mikem8361 commented on #11879
We are working on doing that.  Not sure the exactly schedule because it requires some general test/CI infrastructure work to allow to use a private repo (debuggertests) in a public one (coreclr).

/cc: @Lorenzo Tessiore<mailto:lorenzte@microsoft.com>

[2017-05-24 17:12] ruben-ayrapetyan commented on #11879
@mikem8361, we currently work on set of changes that can significantly affect DAC functionality (the first of them is pull request #11394). Until the CI is not available, could we ask you to check the changes using the debugger test suite, when we will consider the changes are ready from other view points?

[2017-05-24 17:37] sdmaclea opened #11885 "[Arm64/Windows] Assembler out of date with respect to ARMv8 ARM syntax"
Not sure which version of arm64 assembler is being used, but it does not currently support latest syntax for csel syntax.

ArmAsm Version 6.5 & gnu as both are supporting the currnet ```csel x11, x11, xzr, eq``` syntax.

@dotnet/arm64-contrib

[2017-05-24 17:40] sdmaclea commented on #11885
I am assuming this is a function of CoreCLR using obsolete arm64 tools.

[2017-05-24 17:41] jkotas commented on #11768
Yes. This is new API proposal. The new API proposals should start in corefx repo, even if the actual implementation happens to live in the runtime. https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2017-05-24 17:44] tannergooding commented on #11768
Ported to https://github.com/dotnet/corefx/issues/20256

[2017-05-24 17:44] #11768 closed

[2017-05-24 17:53] sdmaclea commented on #11885
Also note that `b.eq label` is not recognized and the `beq label` form must be used.

There was also another issue where the sign/unsigned extension option was not required/supported.  Current coding convention requires ```ldrb w2, [x2, w1, UXTW]```, but this is not recognized and ```ldrb w2, [x2, w1]``` must be used

[2017-05-24 18:12] JosephTremoulet opened #11888 "JIT: add struct promotion stress mode"
Given the issues with dotnet/corefx#20025, #11814, and #11831, which were triggered by #10453 even though it passed normal core and desktop testing, it may well be a good idea to add a stress mode to try to flush out such bugs.  The stress mode would short-circuit [this check](https://github.com/dotnet/coreclr/blob/44285ef65b626db7954066ff596d6be07c7dd7a2/src/jit/morph.cpp#L17864-L17865) so it nev

[2017-05-24 18:12] Maoni0 commented on #11877
@RussKeldorph could someone from your team please take a look?

[2017-05-24 18:19] karelz commented on #11874
@zhenlan this is WCF component. Any idea why it would be missing in .NET Core 2.0 preview? Is it packaging/setup problem?

[2017-05-24 18:29] RussKeldorph commented on #11877
Pretty sure the first issue is #5310.  @swaroop-sridhar investigated it for a while and came to the conclusion that it is not easy to fix.  @jkotas may have an opinion as well.

I don't recall seeing the second issue before, but I'd guess it's another race condition that is only likely (or possible) to hit due to ARM's weaker-than-x86 memory model.

[2017-05-24 18:54] vancem commented on #11725
Also add  the list of 'easy' things that should be in the file

1. Machine name
2. PointerSize (e.g. 4 or 8 bytes).
3. Expected CPU sampling rate.
4. UTC offset (Time Zone).
5. Session Start time (all times should be FileTime (UTC)).

[2017-05-24 19:03] sdmaclea commented on #11877
@RussKeldorph Looks like #5310 is marked as fixed (which is why I could not find the issue you mentioned in the meeting).  However, but some of the changes are missing for arm64.  That should be enough for me to try to fix the first part.

The second one did indeed look very rare, Three threads hitting the same assert!

[2017-05-24 19:06] swaroop-sridhar opened #11890 "ILLINK Roslyn test failing in release/2.0.0 branch"
Fixed by https://github.com/dotnet/coreclr/pull/11889

[2017-05-24 19:33] sdmaclea commented on #11877
@RussKeldorph I had stopped reading #5310 when I saw t was closed, but didn't realize it had been reopened (for x86 & arm64).  Looks like @rahku made a separate fix for this for arm64 in #6418.  But the fix looks fragile, I'll take a look at the tip and see if there is something broken/missing.

[2017-05-24 21:29] brianrob opened #11896 "EventPipe Does Not Plumb ActivityID / Related Activity ID"
This is required for causality features that are used by AppInsights Profiler.

[2017-05-24 21:31] brianrob commented on #11692
Unable to reproduce this after further changes in this area.  Will re-open if it appears again.

[2017-05-24 21:31] #11692 closed

[2017-05-24 21:37] zhenlan commented on #11874
Yes, ServiceModel is WCF, but I am not sure the way @agonzalezm using it is supported by clr(referencing a full framework assembly in a 2.0 net core app).

@agonzalezm is there any reason you choose not to use WCF for .net core packages in your 2.0 app? You can find more info of WCF for .net core 2.0.0 preview 1 release [here](https://github.com/dotnet/wcf/releases/tag/v2.0.0-preview1).

[2017-05-24 21:40] agonzalezm commented on #11874
i am not using WCF in my app, i am just referencing a vmware library dll that uses it and when i try to use a method on that library i get that error.

[2017-05-24 21:42] wtgodbe commented on #11826
Closing as dup of https://github.com/dotnet/coreclr/issues/11352

[2017-05-24 21:42] #11826 closed

[2017-05-24 21:43] karelz commented on #11874
Can you point us to the VMWare library? Is it targeting .NET Core?

[2017-05-24 21:44] brianrob commented on #11554
Re-opening for the release/2.0.0 PR.

[2017-05-24 21:44] #11814 closed

[2017-05-24 21:50] agonzalezm commented on #11874
No, this one is not targetting .net core, it targets full net framework.

But they also have a .net core version of the dll with some limitations but also i get not found error.

The .net core version is here: https://labs.vmware.com/flings/powercli-core

Download the zip and unzip.
Inside the folder now unzip PowerCLI.ViCore.zip
Reference PowerCLI_Core\PowerCLI.ViCore\VMware.Vim.dll

Create a con

[2017-05-24 21:53] karelz commented on #11874
Did you ask VMWare why you are getting the exception on the .NET Core DLL? It looks like that should not happen.

[2017-05-24 21:57] agonzalezm commented on #11874
I asked in that page but I didnt get a reply. They are using it because their powershell modules are based on that dll and work.

[2017-05-24 22:12] #11831 closed

[2017-05-24 22:13] agonzalezm commented on #11874
So their .full net 4.X library is not supported in net core 2.0 because it requires WCF?

[2017-05-24 22:25] JosephTremoulet commented on #10056
This same error seems to have crept back in sometime in the past several days.

[2017-05-24 22:31] zhenlan commented on #11874
Even if it's not WCF I am afraid it could fail with something else. Please use .NET Core version.

[2017-05-24 22:48] brianrob commented on #11539
After talking with @jkotas, moving this to 2.1.  This doesn't affect 2.0 Windows which is the only place we ship x86 - this only runs on Linux which is x64 only.

[2017-05-24 22:50] RussKeldorph commented on #11816
@dotnet/jit-contrib

[2017-05-24 22:52] RussKeldorph commented on #11856
@swaroop-sridhar @russellhadley Please correct triage if necessary.

[2017-05-24 22:55] swaroop-sridhar commented on #11856
This issue is now fixed in master and release/2.0.0

[2017-05-24 22:55] #11856 closed

[2017-05-24 22:57] RussKeldorph commented on #11869
@dotnet/jit-contrib @dotnet/coreclr-contrib

[2017-05-24 23:13] #11890 closed

[2017-05-24 23:45] #11804 closed

[2017-05-25 00:13] jkotas commented on #11869
Check out http://www.aleagpu.com . It is pretty complete commercial implementation of your idea.

Notice that it is not built into the .NET Runtime for classic processors. Instead, it is built on top of it as independent component.

[2017-05-25 00:42] #11866 closed

[2017-05-25 01:19] #11539 closed

[2017-05-25 02:06] morganbr opened #11906 "Remove unnecessary Exception._exceptionMethodString field"
After #11873 is merged, the Exception._exceptionMethodString field will no longer be necessary. Removing it will save some memory in every Exception. The work likely involves:
* Remove the field from mscorlib\src\System\Exception.cs
* Remove the matching definition from src\vm\mscorlib.h
* Remove the matching definition from src/vm/object.h
* Verify that debugging scenarios including SOS and triag

[2017-05-25 03:59] ViIvanov commented on #11763
Since `StringBuilder` is not immutable, implementing comparison via overriding `GetHashCode` (and `Equals`) in it is not a good idea.

May be, the better way is providing specialized `IEqualityComparer<StringBuilder>` and `IComparer<StringBuilder>` (why not?), that can be implemented internally in `StringBuilder` as nested types for access a private implementation details:

[code]

[2017-05-25 04:39] Toxantron commented on #11869
Thanks I wasn't aware of this. Does it only run on Nvidia GPU and what happens if the code is executed without a GPU?

I still see advantages of doing it inside CLR, but at least there is an alternative till my idea is implemented. Which might be in the far future or never.

[2017-05-25 05:29] awithy opened #11908 "TaskCanceledExceptio thrown from HttpClient on timeout"
HttpClient is throwing a TaskCanceledException on timeout in some circumstances.  This is happening for us when the server is under heavy load.  We were able to work around by increasing the default timeout.  The following MSDN forum thread captures the essence of the experienced issue: https://social.msdn.microsoft.com/Forums/en-US/d8d87789-0ac9-4294-84a0-91c9fa27e353/bug-in-httpclientgetasync-sh

[2017-05-25 05:32] awithy commented on #11908
Moved to CoreFx #20296

[2017-05-25 05:32] #11908 closed

[2017-05-25 11:33] agonzalezm commented on #11874
Ok, and any idea why when adding reference to the path of the the .net core dll version then when running it cant find it?

There error i get is like this from newtonsoft.json but i tried workaround there and didnt work: https://github.com/dotnet/cli/issues/3967

[2017-05-25 15:45] RussKeldorph commented on #11545
@sdmaclea Thanks for the update.

[2017-05-25 16:08] vancem commented on #11763
We should be doing as little as possible here.    The default answer really should be 'do nothing (close the issue).   I don't believe there is an actual user scenario here (that is someone needs Stringbuilder equality, it is just that @ViktorHofer  noticed that we don't follow standard pattern.   This is a worthy discussion, but now we have had it, and I that might be all we need to do.

Personal

[2017-05-25 16:10] ViktorHofer commented on #11763
I agree!

[2017-05-25 16:10] #11763 closed

[2017-05-25 17:08] JosephTremoulet opened #11914 "Managed tests build fails with VS2017"
Builds fail with:

MethodJumpStubTests.csproj]

which is the same error message from #10056 (which was fixedwith #10430).

Builds pass at 075a2d6f and fail at aad6903; this appears to be a result of [this change](https://github.com/dotnet/coreclr/pull/10532/files#diff-6178796b5428b89bb33ad7bf80143a79R40) from #10532.

[2017-05-25 17:09] JosephTremoulet commented on #11914
@chcosta / @weshaggard can the same approach from #10430 be applied here, and what would that look like?

/cc @rartemev

[2017-05-25 18:16] sdmaclea commented on #11764
This was fixed by #11809

[2017-05-25 18:16] #11764 closed

[2017-05-25 18:34] brianrob commented on #11554
Fixed via #11898.

[2017-05-25 18:34] #11554 closed

[2017-05-25 19:45] jashook commented on #9535
@sdmaclea I am having trouble getting the cross build to work with our current documentation. Are you following any steps outside the current documentation for the ubuntu arm64 build?

[2017-05-25 20:30] sdmaclea commented on #9535
@jashook
+ I am running Ubuntu amd64 16.04.
+ First I make sure amd64 build works.
    + https://github.com/dotnet/coreclr/blob/master/Documentation/building/linux-instructions.md
    + I install clang3.8, llvm3.8, **clang, llvm (note duplicate packages),**
    + I installed **.NET Core 1.1.2 dotnet framework**.
    + I might have installled mono (probably not necessary).
+ arm64 packages..
    +

[2017-05-25 21:30] briansull opened #11918 "Crossgen /tuning requires that System.Private.Corelib.dll be a /tuning image as well"
This requirement should not be enforced for CoreCLR.

To Repro:

crossgen /tuning  /Platform_Assemblies_Paths . System.Runtime.dll
Microsoft (R) CoreCLR Native Image Generator - Version 4.5.22220.0
Copyright (c) Microsoft Corporation.  All rights reserved.

Could not load file or assembly '.\System.Private.CoreLib.dll'. The native image could not be loaded, because it was generated for use by a di

[2017-05-25 21:33] briansull commented on #11918
Callstack:

[code]

[2017-05-25 21:47] jashook commented on #9535
@sdmaclea thank you for the explanation. I have successfully built following these instructions, it looks like building to rootfs without specifying the xenial will cause problems.

[2017-05-25 23:23] ViRb3 commented on #11417
Any updates on this issue?

[2017-05-25 23:47] sandreenko opened #11921 "JIT_Generics._Coverage_chaos65204782cs sometime fails with timed out."
For example in this [PR ](https://ci.dot.net/job/dotnet_coreclr/job/master/job/debug_windows_nt_prtest/7262/)both non-optimized and optimized versions failed.

Sometimes this tests take less then a minute. The task is to find which component causes this fluctuations and fix them.

category:correctness
theme:testing
skill-level:beginner
cost:medium

[2017-05-26 01:43] sjsinju commented on #11837
@BruceForstall Please assign this to me.

[2017-05-26 03:19] danmosemsft commented on #11438
Is this the same issue? (No "bus error"). This is what they typically look like to me.
[code]
eg https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_arm_cross_release_prtest/3153/consoleFull#-16758747638101fac1-935e-4556-95f9-7a0e25ca0b52

Can someone suggest what the issue is, for my education?

[2017-05-26 04:15] sjsinju commented on #11837
@BruceForstall Please asign this to me.

[2017-05-26 04:32] sjsinju commented on #11837
/cc @hseok-oh

[2017-05-26 04:32] wateret opened #11927 "[RyuJIT/armel] CodeGenBringUpTests Assertion failed 'info->numSlots == 1'"
A sub-issue for #11822

Some tests fail with below assert failure.

[code]

List of the tests fail with above message in `JIT/CodeGenBringUpTests`

[code]

[2017-05-26 04:33] wateret opened #11928 "[RyuJIT/armel] CodeGenBringUpTests Assertion failed '(allRegs(theInterval->registerType) & mask) != 0'"
A sub-issue for #11822

Some tests fail with below assert failure.

[code]

List of the tests fail with above message in `JIT/CodeGenBringUpTests`

[code]

[2017-05-26 04:39] wateret opened #11929 "[RyuJIT/armel] CodeGenBringUpTests Assertion failed"
A sub-issue for #11822

Some tests fail with below assert failure.

[code]

List of the tests fail with above message in `JIT/CodeGenBringUpTests`

[code]

[2017-05-26 06:32] wateret commented on #11928
Backtrace (JIT/CodeGenBringUpTests/DblAdd/DblAdd.exe)

[code]

[2017-05-26 06:57] brianrob commented on #11896
Fixed via #11916.

[2017-05-26 06:57] #11896 closed

[2017-05-26 08:49] mskvortsov commented on #11783
At least one bug related to this issue is at [lsraarmarch.cpp:560](https://github.com/dotnet/coreclr/blame/3613e93bb364a82efa1a0d0b82c89b996b043c52/src/jit/lsraarmarch.cpp#L560):
[code]
For a TYP_DOUBLE entry, genRegArgNext() should be called twice: `argReg` should be updated from e.g. `f0` to `f2`, not to `f1`.

[2017-05-26 08:52] mskvortsov commented on #11783
The issue #11928 is related to this one.

[2017-05-26 08:58] DjArt opened #11931 "LINQ.Expressions Power operator and BigInteger or Complex or custom"
Building expression with two BigInteger or Complex variables will fail, because it's call Math.Pow method. How about add new operator op_Power for overloading and call it when we use Power in LINQ?

[2017-05-26 10:08] jyoungyun commented on #11248
@gkhanna79 I think we can close build pipeline issue now. :) And i will check #11386 issue next monday and ping you.

[2017-05-26 10:52] listepo commented on #5303
Any news?

[2017-05-26 11:05] Thaina commented on #5303
@kg I wish we don't need to AOT the C#. Because webassembly actually don't need AOT. IL should directly convert to wasm. Both system could do dynamic codegen

I use unity webgl everyday and I would like to say that it totally impractical. Round trip and limitation caused by unnecessary AOT is too much headache

[2017-05-26 12:51] ViktorHofer commented on #11914
+1 happens for me all the time now...

[2017-05-26 14:00] gkhanna79 commented on #11248
@jyoungyun Thank you for you hardwork on bringing up the Tizen infrastructure! We really appreciate it it being brought up on time for Preview2 :)

[2017-05-26 14:15] avikenjale opened #11933 ".NET Core Solution design having issues with reference to old version libraries"
I am in process of designing a basic application, where I would need to utilize my exiting .net libraries which I have written using `Framework 4.5`

I am trying to design following structure:

    -CODE
      -Business.csproj
         - TargetFramework - netstandard1.6
         - ProjectReference - domain.csproj built on .NET 45 framework.
      - WebApi.csproj
         -TargetFramework - netcore

[2017-05-26 15:13] #11784 closed

[2017-05-26 15:30] RussKeldorph commented on #11921
Would be nice to gather a profile with PerfView so we can see where resources are going.  If it's a resource hog (CPU, memory, disk/pagefile), then perhaps its runtime is most dependent on whether it has to fight with other resource-hogging tests at the same time.

[2017-05-26 15:33] zezba9000 commented on #5303
Funny how Mono ran on nacl and pnacl for years without the need for AOT. I remember running Unity3D's version (and a custom build) on old Linux computers with NaCl and it ran fast and used very little ram. Now with WASM, its slow and uses tons of ram. Really wish pnacl was just been adopted across browsers instead (as it has been powerful and full featured for years [.NET Core could probably be ma

[2017-05-26 15:41] kg commented on #5303
WASM will eventually be able to handle JIT (at least for some scenarios), so the question is how long it will take for it to arrive, and whether WASM JIT will be performant or expressive enough to cut it for .NET Core's runtime or for Unity games. My informed guesses would be based on dated information, since I haven't been involved in the WASM spec process for a while.

For more limited scenarios

[2017-05-26 16:13] zezba9000 commented on #5303
From benchmarks I've seen on the web for rendering instanced objects in WebGL, pnacl was around 4x as fast as asm.js in real world situations. Same goes for physics simulations. WASM is a good notion but I see it as a regressive effort for what exists today in the Chrome browser. Not all competition is healthy (but thats a different matter).

[2017-05-26 16:44] northtyphoon opened #11934 "Include opcode in EventPipe/EventSource metadata"
Is it possible to include opcode in the metadata? The opcode is useful to track EventSource Activity.

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Diagnostics/Tracing/EventSource.cs#L708

@brianrob @vancem

#11725

Another suggestion for metadata blob. The metadata blob is included in EventPipeEvent payload which is serialized by FastSerializer. So it's better to use t

[2017-05-26 18:08] #11918 closed

[2017-05-26 18:25] brianrob commented on #11934
Per conversation with @northtyphoon, marking this as future.

[2017-05-26 18:37] gkhanna79 commented on #11761
@jkotas can this be closed if the fix is in 2.0.0 branch?

[2017-05-26 18:44] brianrob opened #11936 "EventPipe Rundown Does Not Occur at Process Stop"
Rundown cannot occur after EE shutdown has been marked as started because the managed code data structures needed may be in an inconsistent state.

[2017-05-26 18:56] #11761 closed

[2017-05-26 19:01] JosephTremoulet commented on #11914
I just noticed that #10532 was reverted in #11790, including removing the `OverrideToolHost` line from `test\dir.props`, but that the build still fails with the same error at a16a8a852.  Reverting the change didn't fix things, which would seem to indicate either that #11790 was a partial revert or that something else in the interim also introduced `OverrideToolHost` somewhere.  @RussKeldorph, #117

[2017-05-26 19:06] northtyphoon commented on #11934
A small suggestion, it will be helpful to put a version field on the top the metadata blob. So the parser can support different schema. If the plan is just using EventPipe.Version, it probably also works.

[2017-05-26 19:11] northtyphoon opened #11939 "EventPipe: Feature Request: Support EventSource RichPayload events"
Here is the sample code to emit richpayload events.

[EventSource(Name = "TestEventSource", Guid = "c68d147f-ede2-4960-af7d-aca72ae34807")]
    public class TestEventSource : EventSource
    {
        public class Keywords
        {
            public const EventKeywords Request = (EventKeywords)1;
        }

        public static TestEventSource Log = new TestEventSource();

        private TestE

[2017-05-26 20:36] mikem8361 commented on #10709
The Linux x64 createdump SOS tests are running and successful.

PR: https://github.com/dotnet/debuggertests/pull/264

[2017-05-26 20:36] #10709 closed

[2017-05-26 21:59] brianrob commented on #11936
Fixed via #11938.

[2017-05-26 21:59] #11936 closed

[2017-05-27 00:08] RussKeldorph commented on #11914
@JosephTremoulet It was intended to be a complete revert.  There were no merge conflicts, so I assumed it was complete, but I confess I did not verify it line for line.

[2017-05-27 07:11] vermorel opened #11948 "Support Half-precision floating-point numbers"
The CLR would greatly benefit from adding support the half-precision floating-point numbers.

The [Half-precision floating-point numbers](https://en.wikipedia.org/wiki/Half-precision_floating-point_format) are already extensively used in machine learning and image processing applications. Even if it the CLR is only meant for interacting with a native machine learning framework, the lack of a `Syst

[2017-05-27 11:14] mikedn commented on #10970
I adapted the number formatter code to make a quick perf test:
[code]
`WriteDigits` is ~7x faster when unsigned magic division is enabled (for value = 9223372036854775807 and digitCount = 20).

And unsigned magic division is 10-20% faster than signed magic division so in number formatting code is probably best to use unsigned numbers, anyway the sign is handled separately.

[2017-05-27 16:53] JosephTremoulet commented on #11914
It looks like I may have somehow done the original bisecting incorrectly; I'm seeing inconsistent results trying to drill in further.  I'm running again now with full nuget cache clear and repo git clean between builds, will report back.  @ViktorHofer, if you have more info on when you do/don't see this, that could help.

[2017-05-28 06:52] mikedn opened #11952 "Oper names in JIT dumps"
Why are operator symbols used in JIT dumps? It seems to me that they hurt readability because they're easy to miss due to tree lines which are also displayed using such symbols. And what's the point of using oper names that are different from the one used in the source code?

In short, the following looks better to me:
[code]
than:
[code]

[2017-05-28 07:07] deniszykov opened #11954 "C# Async/Await optimization bug"
I've encountered a strange bug related compiler optimizaton and try/finally in async/await block.
I got small repro which reproduces this bug. This error appeared when the project was compiled by VS 2015 (and as I understood it by the new compiler). Before that, there was no problem.

https://gist.github.com/deniszykov/9a9dcd4f6fb5ea7905b8a15e5bc7d0c0

If /optimize is turned off it will runs fine.

[2017-05-28 14:23] 0xd4d commented on #11954
You'll have more luck over here: https://github.com/dotnet/roslyn/issues/

The C# compiler stores the value in a local in the state machine method, but it's not always initialized. Workaround (for this example) is to **not** store the stream in a local, but just use `containerClass.ReadStream` all the time.

[2017-05-28 19:07] deniszykov commented on #11954
Thanks for workaround. I posted new issue https://github.com/dotnet/roslyn/issues/19831 in Roslyn repository.

[2017-05-28 19:11] #11954 closed

[2017-05-29 01:53] jyoungyun commented on #11248
@gkhanna79 @dagood @eerhardt @joperezr @weshaggard @ericstj and all other developers who have helped me :)
Thank  you for giving me a detailed explanation and guide on Tizen infra bring-up. Thanks to you, I was able to proceed smoothly. Thank you very much :)

[2017-05-29 08:04] fanoI commented on #11948
Related to https://github.com/dotnet/corefx/issues/17267 (called binary16 there).

I don't know what is needed to make these things move... I think this experimental work should be done in corefxlab.

[2017-05-29 08:37] sjsinju commented on #11852
@BruceForstall Please assign this to me.

[2017-05-29 11:29] hqueue opened #11958 "[RyuJIT/arm32] emitter::emitInsLoadStoreOp segmentation fault"
When running with with `COMPlus_AltJit=* COMPlus_AltJitAssertOnNYI=0` options,
`JIT/Regression/JitBlue/DevDiv_283795/DevDiv_283795` faces segementation fault.

[code]

Previously it was considered to be #11779.

[2017-05-29 11:30] hqueue commented on #11779
Segmentation fault in `JIT/Regression/JitBlue/DevDiv_283795/DevDiv_283795` is from other place (see #11958).

[2017-05-29 12:16] ayuckhulk opened #11960 "[Linux] How to view static fields of generics in SOS?"
Consider the following code:
[code]

I'd like to view the value of `s1.fooInt`. However, SOS plugin for lldb does not show its value or native address:
[code]

[code]

The command `sos ClrStack -i s1` uses ICorDebug API `ICorDebugType::GetStaticFieldValue` to show static fields  (see https://github.com/dotnet/coreclr/blob/master/src/ToolBox/SOS/Strike/strike.cpp#L11734). But for some reason it doe

[2017-05-29 12:20] ruben-ayrapetyan opened #11961 "[Memory consumption] Remove relocations for TypeHandle fields"
Hello.

We are currently working on reducing memory consumption by reducing number of pages that contain relocated fields (i.e. fields that need fixup during load).

There are several places, in which `TypeHandle` fields are relocated:
 - in SECTION_Class (`ParamTypeDesc`-related)
 - in SECTION_ReadOnly (`MethodTable`-related)
 - ...

Fields other than `TypeHandle` are relatively simple to impleme

[2017-05-29 12:22] ruben-ayrapetyan commented on #11961
@jkotas, Please take a look.

[2017-05-29 13:50] hqueue commented on #11779
The reason of segmentation fault is due to uninitialized `nextRegRec`.
The fix will initialize `nextRegRec` when necessary.

[2017-05-29 14:53] jkotas commented on #11961
This structure is also directly accessed from JITed code. It is similar to the other case discussed earlier.

Is your ultimate goal to remove all relocations from fragile native images?

I think all these changes would need to be done under ifdef. We may not want to enable it on Windows because of the aggregate effect of these changes would be a measurable loss there.

[2017-05-29 15:21] jkotas commented on #11960
I do not think that there is anything fundamental why this cannot work. It is just unimplemented.

[2017-05-29 15:29] simonech opened #11964 "Long data format in lv-LV culture is wrong"
The format in which dates are formatted in Latvian is wrong;

d - `29.05.2017.`
D - pirmdiena, `2017. gada 29. maijs`
LongDatePattern: dddd, yyyy'. gada 'd. MMMM

According to [Latvian law](https://likumi.lv/ta/id/219491-dokumentu-izstradasanas-un-noformesanas-kartiba#p-363332) the long date format should be without the day of week part, so just `2017.gada 3.maijā`
Also there should be no space af

[2017-05-29 16:28] ruben-ayrapetyan commented on #11961
@jkotas, are the benchmarks from `tests/src/JIT/Performance/CodeQuality` suitable for estimation of performance effect for this kind of changes?

[2017-05-29 16:31] ayuckhulk commented on #11960
@jkotas The API `ICorDebugType::GetStaticFieldValue` actually returns `CORDBG_E_STATIC_VAR_NOT_AVAILABLE`. However, C# debugger (`clrdbg`) is always able to show static variable value. Does it force the runtime to initialize the dynamic static field of the class? Is it by design that `ICorDebugType::GetStaticFieldValue` does not initialize the static field of the class? Is there another API to for

[2017-05-29 17:07] 0xd4d commented on #11960
You'll need to create an instance of the generic class, see this comment in rsclass.cpp:
[code]

[2017-05-29 17:11] ayuckhulk commented on #11960
@0xd4d The instance of the class is already created (when I put a breakpoint on line `s1.bar = 2;`) but `ICorDebugType::GetStaticFieldValue` still returns `CORDBG_E_STATIC_VAR_NOT_AVAILABLE`. What API should I use to `func-eval the creation of an instance of this type`?

[2017-05-29 17:49] janvorli commented on #11964
@simonech since you mentioned Win32, I assume this problem occured on Windows for you. Am I right?

[2017-05-29 17:53] jkotas commented on #11961
Fields accessed from JITed code. They tend to be on perf critical paths.

Fields not accessed from JITed code tend to not be on perf critical paths. I do not see a problem with changing these to relative pointers unconditionally.

Do you have an example of what you are thinking about? I can comment on actual proposals, it is hard to make a general statement on this.

There is also an option to get

[2017-05-29 17:56] simonech commented on #11964
The code that retrieves the data calls [Interop.Kernel32.GetLocaleInfoEx](https://github.com/dotnet/coreclr/blob/1a3dfa8c8405fa56ea3de897c43d79650463e74c/src/mscorlib/src/System/Globalization/CultureData.Windows.cs#L199) to get the CultureData so I guess it comes from Win32.

Indeed, also when switching to lv-LV in windows I get the same mistakes

[2017-05-29 19:24] ruben-ayrapetyan commented on #11961
@jkotas,
Thank you very much for the detailed explanation!

Currently not, just general idea. I mean splitting structures that contain relocated fields, which are on perf critical paths, to relocated and not-relocated parts - to place the relocated fields densely. I will post about this, in case I could efficiently apply the approach to some structure.

[2017-05-29 20:48] bbi-yggy opened #11965 "Cannot use Reset() with Dictionary<TKey,TValue>.Enumerator without causing a boxing allocation."
`Dictionary<TKey,TValue>.Enumerator` is a struct in order to allow dictionary iteration without boxing allocations. However, it only implements Reset() as an explicit implementation of IEnumerator.Reset - this means you cannot call Reset directly on an instance of `Dictionary<TKey,TValue>.Enumerator`.

If you cast the instance to IEnumerator and reset the result, you are boxing a copy of the enume

[2017-05-29 21:11] mikedn commented on #11965
It's not clear what the problem really is. That your code resets a copy of the enumerator is normal, that's just how value types & boxing work. Are you in fact complaining about the Enumerator struct not offering a public Reset method that can be called without boxing?

[2017-05-29 21:17] bbi-yggy commented on #11965
Yup, exactly. Dictionary.Enumerator is a public struct *precisely* to avoid boxing allocations, but the way it implements Reset forces you back to a boxing allocation. Good point though, I'll amend the title and description to reflect this.

[2017-05-29 21:30] mikedn commented on #11965
Yes, but the idea is that you're not supposed to use `Reset`. The struct enumerator only implements `Reset` because `IEnumerator` requires it and `IEnumerator` has `Reset` because it was trying to mirror COM's `IEnumObjects` interface. So many struct enumerators (e.g. List<T>.Enumerator is identical in this regard) expose only what's needed for `foreach` to work - `MoveNext` and `Current`.

[2017-05-29 21:33] bbi-yggy commented on #11965
It's true that explicit use of MoveNext / Current / Reset is the exception rather than the rule, but it would be nice if the implementation permitted boxing-free use of Reset.

[2017-05-30 03:44] justinvp commented on #11965
You can call `Reset` on the struct enumerator without boxing with the help of a generic helper method, e.g.:

[code]

Usage:

[code]

[2017-05-30 03:52] hqueue commented on #11852
FYI When applying PR #11959 (not merged yet), same assertion observed from `JIT/Regression/CLR-x86-JIT/V1-M12-Beta2/b69227/b69227/`.
[code]

[2017-05-30 04:36] jyoungyun commented on #11248
@gkhanna79 Can I know the sha1 value of below packages to provide the tizen runtime packages for Preview1 ? The version patch(https://github.com/dotnet/core-setup/pull/2330) was merged after May 01 so I couldn't get the sha1 value from coreclr package and the core-setup package seems to have not been built with the release process because the build number ends with -00. Should I create a package w

[2017-05-30 05:21] bbi-yggy commented on #11965
Oh, good idea! We do generic tricks like that all the time, I should have thought of that. I'll try that in the morning and resolve this issue if it works. Thanks @justinvp for the suggestion.

[2017-05-30 05:53] HFadeel commented on #5851
When Span<T> will land in .NET Framework?

[2017-05-30 07:11] hqueue commented on #11837
Looks related to #10722

[2017-05-30 07:38] xoofx opened #11969 "About Unsupported gcConservative mode"
Hi,

This is a question about the runtime knobs that are prefixed by `Unsupported`.

For prototyping Unity running on CoreCLR last week, I have used the conservative mode to be able to get on board more easily. This is mostly a workaround on our side, as we will have to update quite a large code base to support correct cooperative/preemptive transitions... but in the meantime, this mode could help

[2017-05-30 07:43] tmds commented on #10690
Implemented in https://github.com/dotnet/coreclr/pull/11742

[2017-05-30 07:43] #10690 closed

[2017-05-30 08:24] tmds opened #11970 "using daily build nuget package"
https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/OfficalAndDailyBuilds.md
describes the use of the Microsoft.NETCore.Runtime.CoreCLR NuGet package at https://dotnet.myget.org/gallery/dotnet-core.

I'm unable to make an application that consumes this package.

[code]

[code]

[code]

[code]
The version in the publish folder is:
[code]
While the version in the NuGet package is:
[

[2017-05-30 08:39] tmds commented on #11970
I updated the csproj file to set a RuntimeFrameworkVersion.
[code]
This gives me the coreclr that is part of the Microsoft.NETCore.App package.
[code]

[2017-05-30 09:18] janvorli commented on #11970
@gkhanna79 unrelated to this issue, I've noticed in the version dumped above, that we have a bug in the script that generates the version string. See the `line 2: hostname: command not found.` in the version string.

[2017-05-30 09:51] hseok-oh opened #11971 "[RyuJIT/ARM32] Wrong offset value for struct argument when using stack"
Example
[code]

Generated code for struct argument
[code]

Load from same address `sp+0x20` for each slot.

[2017-05-30 11:29] alpencolt commented on #11929
There is the same issue on `JIT/CodeGenBringUpTests/FPVar/FPVar.exe` on softfp mode.
I will look to it.

[2017-05-30 11:53] ayuckhulk commented on #11960
@jkotas Is this https://blogs.msdn.microsoft.com/davidnotario/2005/02/08/jit-compiler-and-type-constructors-cctors/ the reason why static fields are not available? Then I guess I need to call the `.cctor` method using `ICorDebugEval` API.

[2017-05-30 13:04] eerhardt commented on #11248
There are a few ways to figure out the coreclr sha:

1. We have 'tags' in GitHub for each release: https://github.com/dotnet/coreclr/commits/v2.0.0-preview1
1. If you look at the File Properties of `coreclr.dll` from https://www.nuget.org/packages/runtime.win-x64.Microsoft.NETCore.Runtime.CoreCLR/2.0.0-preview1-25301-02, you'll see we put the Commit Hash in the Product Version property

![image](h

[2017-05-30 13:24] bbi-yggy commented on #11965
Yes, that's perfect, thanks again.

[2017-05-30 13:24] #11965 closed

[2017-05-30 13:32] jkotas commented on #11969
I am aware of these issues:
- It does not work for dynamic methods or collectible types. The conservative stack walking does not root these correctly.
- People sometimes write code (tests in particular) that assumes precise GC reporting. The conservative reporting breaks it.
- It adds measurable steady state overhead because of the root tracking is slower and there are false survivors.

We use it

[2017-05-30 13:59] jkotas commented on #11960
The short answer is that many things in the runtime are done lazily, including allocation of storage for static fields.

If you want to mimic the Visual Studio experience, then yes - you would need to run the .cctor. It is not just to allocate the storage for the fields, it is also to actually run the .cctor if it has not run already.

[2017-05-30 14:15] ayuckhulk commented on #11960
@jkotas I tried to use `ICorDebugEval` for `.cctor` from SOS but it failed with `E_NOTIMPL`. I guess that's because SOS uses V4 debug API and in order for `ICorDebugEval` to work the API should be V2.
Is there any working API to actually run `.cctor` and other methods (like getters for properties)? Or am I missing something? :smile:

[2017-05-30 14:37] jkotas commented on #11960
It is because of funceval requires infrastructure that was never implemented for the low-level SOS debugger. I do not think it has anything to do with V2 vs. V4 debug APIs.

[2017-05-30 14:41] vancem opened #11976 "Investigate if EventSource can be made more robust in the fact of incorrect event ID"
See the failure in https://github.com/dotnet/corefx/pull/20379#issuecomment-304401130

The issue is whether incorrect event IDs can be found more easily.   Note that we should be careful with the  extra checking we introduce.  We want it to be 'light' on the 'hot' path of actually logging an event (or even more important, filtering events).    Incorrect EventIDs are rare, so it is VERY easy for th

[2017-05-30 14:48] ayuckhulk commented on #11960
@jkotas Could you please point me to the things that should be implemented to get funceval working in SOS?

[2017-05-30 15:07] jkotas commented on #11960
The funceval is pretty complex. You can an idea about what is involved from https://blogs.msdn.microsoft.com/jmstall/tag/funceval/ .

[2017-05-30 15:42] gkhanna79 commented on #11970
@joperezr @dagood Can you PTAL?

[2017-05-30 15:42] gkhanna79 commented on #11970
@joperezr We should look into this for Escrow.

[2017-05-30 15:44] shiftylogic commented on #10970
Cool. I'll modify our formatting code once your change is merged and makes its way into our repo.

[2017-05-30 16:05] joperezr commented on #11970
I'll take a look into the version string issue. As to the fact that this package can't be referenced directly, the user scenario should be to never have to add a reference to it, since what you really want is to use the one that comes with Microsoft.NETCore.App package as the framework is very closely tied to the runtime so you don't want to manually specify a different runtime that might be incom

[2017-05-30 16:27] jskeet opened #11979 "Locks slow on Linux with lots of threads"
A failing unit test as part of a separate project led me to investigate some odd performance characteristics. At first glance - and I'm not an expert on this - it looks like locks are really expensive on Linux when there are lots of threads trying to acquire the same lock.

I've put together a small test app to demonstrate this. No extra dependencies required - just `dotnet new console` (with netc

[2017-05-30 16:33] stephentoub commented on #11979
cc: @kouvel

[2017-05-30 17:04] ayuckhulk commented on #11960
Thank you!

[2017-05-30 17:49] swgillespie opened #11981 "GC Reliability Framework CI job is broken on Ubuntu"
See https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_release_ubuntu_gc_reliability_framework_tst_prtest/1/console:

[code]

Doesn't repro locally for me, so if I were to hazard a guess it's that the CI is missing an environment variable that the RF is expecting to be present.

[2017-05-30 18:05] stephentoub opened #11982 "Various file descriptors being inherited into child processes"
I'm seeing a fair number of file descriptors from the runtime being inherited into child processes spawned via Process.Start.  These fall into two camps:
- A bunch of file descriptors for /dev/zero
- A few file descriptors for anonymous pipes

This gets amplified as child processes create their own child processes, as the grandchild inherits all of these file descriptors from the parent and grandp

[2017-05-30 18:32] ViktorHofer commented on #11914
I saw this when doing a full build in root: `build.cmd Release x64`. Nothing special. I found another thread that suggested building checked and Release separately and that worked.

[2017-05-30 18:47] JosephTremoulet commented on #11914
I don't quite follow -- AFAIK `build.cmd Release x64` should only build Release, so I'd think that's already separate from building checked, no?

[2017-05-30 18:52] Maoni0 commented on #11969
as @jkotas mentioned we internally mostly just use it to bring up new platforms before folks could report preciously. we really try to keep the usage down due to the perf problems Jan mentioned and that conservative roots are reported as pinned. we've spent a lot of time to work on reducing pinning problems and conservative reporting is directly working against that.

[2017-05-30 18:57] sandreenko opened #11983 "CoreRT shows a problem with inlined tail calls."
Run ILC in Release mode with Debug RyuJit with such test:
[code]
Set ngenDump for GetAttributeConstructor, you will see:
[code]
and
[code]

Call 67 will be marked as tail call, but the morph condition for the return statement doesn't expect a cast and will blow up.

It works fine with the release mode of the jit.
I am not yet sure about the right fix, but there is strange code in fgMorphCall:
[cod

[2017-05-30 19:02] xoofx commented on #11969
Thanks for the feedback!

For the perf problem and pinning issue, I don't have much concern as these side effects are usually expected for a conservative GC scan (even though, on x64, I would expect a lot less pinning issue than x86...)

Mostly wanted to know that this conservative mode will be kept around and would not disappear in the coming 1-2 years, the time that could require for us to switc

[2017-05-30 19:02] #11969 closed

[2017-05-30 19:22] AndyAyersMS commented on #11983
The call side peeling is ok -- it only feeds an assert that the call is found in the right kind of tree.

If the return gets split from the call as you show above then the logic on the return side -- assuming you're hitting the final `noway_assert` below:
[code]
-- will need a similar update: you will need to tunnel through casts on the retExpr op1 side to find a non-cast and then assert it is the

[2017-05-30 19:36] omariom commented on #11976
@sharwell
The case for an analyzer?

[2017-05-30 20:24] joperezr commented on #11970
So the issue seems to be that `hostname` command is not part of our docker image files where we build for some distros (like the one for rhel for example) which is why we are now getting this error. I talk to @ellismg offline and there are basically two ways to fix this, either by adding `hostname` to our docker image files for all distros or by checking instead checking the exitcode of that comma

[2017-05-30 20:38] gkhanna79 commented on #11970
@joperezr Is this a recent regression?

I do not see much value of the name of the machine that built it as well and would be fine removing it. @weshaggard What do you think?

[2017-05-30 20:40] ellismg commented on #11970
Note that because of how we do our official builds, the builder is always "root" and the hostname is some random string corresponding to the transient container we build in, so after the fact the information isn't really useful.

[2017-05-30 20:48] enginekit opened #11989 "Return error union value from native side to .netcore on macOS x64"
"Strange return union value from native side back to .netcore"
---
Hello,

I get a strange value (err) from a native c function (built on macOS 10.12.5, x64) .

When I return a union by value from native side, I get a strange value / err ? value.

This is not correct value as I expect.

(but When I return a sequential struct by value from native side,
 I get a correct value as expect on .net side.

[2017-05-30 21:20] weshaggard commented on #11970
While I agree the particular value isn't high it is still a good hint that it was built from an official build as opposed to some private build which is the primary motivation for having that value.

@tmds I think the instructions at https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/UsingYourBuild.md are a little more up to date with the current tooling. I suspect the thing you

[2017-05-30 22:08] CarolEidt opened #11991 "SuperPMI MCS merge doesn't support relative paths for input files"
The code in `verbMerge::DoWork()` sets `dir` to `nullptr` and then, in the case where `lastSlash` is null, it passes the null pointer to `wcschr`.

[2017-05-30 22:13] brianrob opened #11992 "EventPipeBufferManager::WriteAllBuffersToFile Spends a Lot of CPU Getting the Next Event From a Thread"
![image](https://cloud.githubusercontent.com/assets/6210322/26607246/6cfc90b0-454a-11e7-9023-db4466aabbb5.png)

[2017-05-30 22:15] brianrob opened #11993 "EventPipeEventInstance::GetData is not Inlined"
This is a super-hot function when writing from the circular buffer.

![image](https://cloud.githubusercontent.com/assets/6210322/26607336/d9445c44-454a-11e7-8eae-4128ebd6e63c.png)

![image](https://cloud.githubusercontent.com/assets/6210322/26607371/0aea57d0-454b-11e7-9cce-aebe26d13f67.png)

[2017-05-30 22:43] jeremysimmons commented on #147
@jkotas  where's the master rosetta stone to translate the old api to the .net core equivalent?

[2017-05-30 23:02] #11983 closed

[2017-05-30 23:03] jkotas commented on #147
http://github.com/microsoft/dotnet-apiport .  It generates reports like http://dotnet.github.io/port-to-core/Moq4_ApiPortabilityAnalysis.htm with the replacement APIs.

Most of these APIs are added back in .NET Core 2.0. https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md has instruction for consuming nightly builds if it is an option for your project.

[2017-05-30 23:06] #11870 closed

[2017-05-30 23:09] swaroop-sridhar commented on #7861
Fixed by https://github.com/dotnet/coreclr/commit/798387ee90d7536d5a620af8482100ba76f6061a

[2017-05-30 23:09] #7861 closed

[2017-05-30 23:22] yizhang82 commented on #10504
We also need engineering work to support producing packages for Roslyn CI. Tracked here: https://github.com/dotnet/core-eng/issues/833

[2017-05-30 23:38] jkotas commented on #11989
This is duplicate of https://github.com/dotnet/coreclr/issues/4307

[2017-05-30 23:58] enginekit commented on #11989
@jkotas ,Thank you,
I spent many hours for this bug :(

---

from  https://github.com/dotnet/coreclr/issues/4307#issuecomment-209143643
and https://github.com/dotnet/coreclr/issues/4307#issuecomment-209780419

for this time
this mean that I must change my code (native part)
by not send the union value back.

---

@jkotas ,

Should I left this issue open  for others ?

If you think It should be clo

[2017-05-31 00:15] jkotas commented on #11989
Sorry about that.

We do not keep duplicate issues open. I am going to close this one.

[2017-05-31 00:15] #11989 closed

[2017-05-31 01:11] jyoungyun commented on #11248
@eerhardt Thank you :)

[2017-05-31 01:53] parjong opened #11997 "[Question] Who uses libSystem.Globalization.Native.a?"
CLR build produces both ``System.Globalization.Native.so`` and ``libSystem.Globalization.Native.a``, but it seems that ``libSystem.Globalization.Native.a`` is unnecessary.

Is it necessary? I find that dotnet shared framework ubuntu package also includes this file.

[2017-05-31 05:52] dennisdoomen commented on #919
In https://github.com/fluentassertions/fluentassertions, I use this API to detect the test framework provider (MSTest, XUnit, MBUnit, etc) loaded in the current AppDomain. How would I do this with .NET Standard 1.3?

[2017-05-31 05:54] jkotas commented on #919
No good way to do it with .NET Standard 1.3.

[2017-05-31 06:02] dennisdoomen commented on #919
And higher versions? E.g. 1.6?

[2017-05-31 06:29] jkotas commented on #919
This API was added back in .NET Standard 2.0. None of .NET Standard 1.x has it.

[2017-05-31 07:49] jyoungyun commented on #11835
@BruceForstall This issue is not reproduced in my raspberry PI3. I'm using https://github.com/dotnet/coreclr/commit/b7751d55b3f584e118c0dcba3ede6ed752c1175c commit with COMPlus_AltJitAssertOnNYI=0 COMPlus_AltJit=* options. Both debug and release work well. Could you check this issue again? If there is something I missed, please let me know.

[2017-05-31 08:08] hqueue commented on #8496
We can now run console "Hello World!" with Ryujit only with the latest master branch.

Thank you for all who worked on this issue :)

[2017-05-31 08:32] hqueue commented on #11846
It seems that all above 12 tests are passed by now.
I've tested with `b2150d5fc16eddec33702fd89168487d76f06108` (today) in Checked build on Rpi3.
Can anybody confirm ?

[2017-05-31 08:41] mskvortsov commented on #11846
Weren't these failures just hidden by the #11778?

[2017-05-31 08:45] hqueue commented on #11846
@mskvortsov Thank you for the information. I just look into this and didn't noticed that this was related issue. Then can I expect that your PR (https://github.com/dotnet/coreclr/pull/11205) will fix this too ?

[2017-05-31 09:03] mskvortsov commented on #11846
Yep, it should.

[2017-05-31 09:28] hqueue commented on #11835
@jyoungyun I think this assertion was also hidden by other PR as described https://github.com/dotnet/coreclr/issues/11846#issuecomment-305124973.

[2017-05-31 10:00] janvorli commented on #11997
The CoreRT project uses it.

[2017-05-31 10:19] jyoungyun commented on #11849
I'm going to look this issue.

[2017-05-31 10:27] mattwarren commented on #10504
Just one thing, that 'core-eng' repo doesn't appear to be publicly accessible.

I'm not saying it should be, but I just wanted to let you know that anyone who isn't a M/S employee can't see that link you posted.

[2017-05-31 14:30] pgavlin opened #12008 "corefx jobs failing with "System.Runtime.Serialization.SerializationException : Type 'System.Lazy`1[[System.Int32, System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]' in Assembly 'System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e' is not marked as serializable.""
e.g. https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_corefx_baseline/192/

Looks like this came in with #11910. These failures are also present in the latest "update CoreCLR" PR in CoreFX: https://github.com/dotnet/corefx/pull/20499

cc @ViktorHofer

[2017-05-31 14:55] ViktorHofer commented on #12008
thanks, on it!

[2017-05-31 15:56] eroller opened #12009 "No line numbers from Exception.ToString() on Linux"
I am using the /embed option to the roslyn compiler via SourceLink nuget package:

`<PackageReference Include="SourceLink.Embed.AllSourceFiles" Version="2.1.2" PrivateAssets="all" />`

Running under dotnet for windows I get line numbers in my stack trace, but not on Linux.

I am using Centos 7.1 with dotnet 1.1.2

[2017-05-31 16:10] danmosemsft commented on #12008
Should be fixed by #20501

[2017-05-31 16:10] #12008 closed

[2017-05-31 16:11] pgavlin commented on #12008
That PR does not seem to exist...?

[2017-05-31 16:12] pgavlin commented on #12008
Never mind, now it's accessible. Thanks!

[2017-05-31 16:43] gkhanna79 commented on #11248
Now that @jyoungyun has been able to bringup the Tizen build infrastructure, it will be good to understand the plan for the Tizen issues marked for 2.0.0 Release:

 https://github.com/dotnet/coreclr/issues?q=is%3Aopen+is%3Aissue+label%3Aarea-Tizen+milestone%3A2.0.0

@hqueue @jyoungyun @hseok-oh What are your thoughts? Also, for other issues in label area-Tizen but not marked for 2.0.0, have they b

[2017-05-31 18:40] brianrob opened #12014 "MusicStore Hangs When Tracing Enabled"
This hang can occur if tracing is enabled during the first background GC of the process.  Everybody is waiting on the new background threads to be created, but each of the background threads hangs here:

![image](https://cloud.githubusercontent.com/assets/6210322/26647982/dd202432-45f5-11e7-9d05-90c63bbb6d55.png)

The hang itself is fairly reproducible with the right test case.  We should consider

[2017-05-31 19:27] vancem opened #12015 "Fix failures in ETW logging on 4GB aware 32 bit processes (second try)"
PR #11941 was a first attempt at a fix, but it was not correct.

@sharwell notices this through review (good job), but the fix was already merged.   This issue tracks following up on the correct fix and testing.

[2017-05-31 19:29] vancem commented on #12015
The good news is the fix is trivial.

            public unsafe IntPtr DataPointer { get { return (IntPtr)m_Ptr; } set { m_Ptr = unchecked((ulong)(void*)value); } }

Need to do testing however.

@brianrob

[2017-05-31 19:35] 4creators opened #12018 "OpCodeGen.pl script fails on Windows due to syntax errors"
Environment:

Windows 10 Pro with several lang packs, active en-US
Command prompt VS 2017 v15.2
fresh clone of coreclr git repo
installed Strawberry perl v5.24.0 in user path

Reported error:

[code]

[2017-05-31 20:19] danmosemsft commented on #11964
@tarekgh how to report this to OS team?

[2017-05-31 20:20] sharwell commented on #12015
:memo: I think the getter needs to be updated as well, as can be shown by the following:

[code]

For that, I think you need this:

[code]

[2017-05-31 20:53] tarekgh commented on #11964
@simonech which version of Windows you are running on? I need the info to report the issue to Windows team.

I suggest you report it through the Windows insider too https://answers.microsoft.com/en-us/insider/forum/insider_wintp-insider_web/how-do-i-submit-a-bug-report-for-windows-10/315a900d-8148-44a1-8fd0-829fb9a4ce03

[2017-05-31 20:59] tarekgh commented on #11964
I have reported the issue to Windows team and I am closing the issue here as no more action can be done from coreclr side.

@simonech feel free to add any more comments and info as needed and I'll update the issue too if got any feedback from Windows team.

[2017-05-31 20:59] #11964 closed

[2017-05-31 21:02] briansull commented on #11305
Ping. Hit this issue again

[2017-05-31 21:14] tarekgh commented on #11997
https://github.com/dotnet/corert/blob/e4db93bb495383782b4e1e6c5181356b72cbff88/src/BuildIntegration/Microsoft.NETCore.Native.Unix.props#L45

https://github.com/dotnet/corert/blob/cb947515370bdc09f99abd9fcc176c8cca8d2960/buildscripts/build-managed.sh#L99

https://github.com/dotnet/corert/blob/fd9268c6727ad30f1e8573c52ead16a77bdc713f/src/packaging/packages.targets#L188

@parjong I am closing the iss

[2017-05-31 21:14] #11997 closed

[2017-05-31 21:18] briansull commented on #11914
Ping I also hit this today
Building Checked

[2017-05-31 21:19] briansull commented on #11914
@rartemev Can you please investigate and fix

[2017-05-31 21:44] JosephTremoulet commented on #11914
FYI I've been running git bisect with nuget and git clean between to see if I get the same or different results.

It's pretty slow going because for some reason on many of these builds I'm getting another set of errors:

[code]

I've have been marking those `skip` (it would probably be ok to mark them `good`, as they seem to get past the OverrideToolHost spot before failing, but I've been expectin

[2017-05-31 22:32] jefgen commented on #11964
Thank you for taking the time to report this issue.

The Windows locale data for lv-LV is aligned with the data from **CLDR** - The Unicode Common Locale Data Repository ( http://cldr.unicode.org/

The long data format from Windows is consistent with the data format from **CLDR** and **ICU** - International Components for Unicode ( http://site.icu-project.org/ )

You can use the ICU [Locale Explor

[2017-05-31 23:07] rartemev commented on #4122
How much time does it usually take to be failed? I cannot reproduce the bug because execution is hanging on right after invoking "Thread.Sleep()" from Main thread.

[2017-05-31 23:08] jashook commented on #4122
Currently this test will not fail. It will run indefinitely.

[2017-05-31 23:45] RussKeldorph commented on #4122
Right "failure" means "test runner times out" in this case.  Sorry if that wasn't clear.

[2017-05-31 23:57] brianrob commented on #12014
Fixed via #12017.

[2017-05-31 23:57] #12014 closed

[2017-06-01 00:19] danmosemsft commented on #12009
@noahfalk

[2017-06-01 00:20] danmosemsft commented on #12018
Thanks @4creators . Would you like to offer a PR to fix?

[2017-06-01 00:22] danmosemsft commented on #11948
@vermorel if you agree it makes sense, let's close this in favor of  dotnet/corefx#17267. Perhaps you can update that with your thoughts. The experts to ask for feedback on it are mellinoe and tannergooding. They can help determine whether it's worth doing and if so what the API would look like, etc.

We use CoreFX for tracking API additions: if this manifests with API chagnes, it's probably the b

[2017-06-01 00:43] noahfalk commented on #12009
@mikem8361

[2017-06-01 01:42] jyoungyun commented on #11248
@gkhanna79 I have passed "-PortableBuild=false" option in Tizen core-setup build/packaging scenarios. And Tizen CI is too. And as I know the #11975  PR should be merged in release/2.0.0. Please discuss the PR with @chunseoklee .

[2017-06-01 02:16] jyoungyun commented on #11248
@gkhanna79 Should I add the "-PortableBuild=false" option to coreclr build? Even if I do not include the option, it is being built for tizen runtime. My command line is like below:
[code]
And the latest release/2.0.0 branch of corefx still generates the tizen runtime. The master branch of corefx generates linux-armel runtime package. Should I add the option both release/2.0.0 and master branch?

[2017-06-01 02:20] jyoungyun commented on #11386
@alpencolt I do not think this issue should be included in 2.0.0 milestone. What about removing 2.0.0 milestone tag?

[2017-06-01 02:33] gkhanna79 commented on #11386
@jyoungyun Let me know if the milestone needs to be changed and I will do the needful.

[2017-06-01 02:36] gkhanna79 commented on #11248
@jyoungyun CoreCLR (master and 2.0.0) build for Tizen because of https://github.com/dotnet/coreclr/commit/a2abadfe7f67249cbe2b107d0b3f1b8d6f2ee06b#diff-0b83f9dedf40d7356e5ca147a077acb4R835.

@weshaggard has been looking into CoreFX branch. Since, for the Tizen build, the RID is expected to be tizen.4.0.0-armel, and not linux-armel, you should probably fix it in CoreFX master and 2.0.0 (for 2.0.0,

[2017-06-01 02:42] gkhanna79 commented on #11248
Actually, I misread your comment. @weshaggard made a change in CoreFX master that is still not in release/2.0.0 branch. @weshaggard can you confirm that once your change makes into 2.0.0, it will generate tizen RID?

[2017-06-01 03:48] jyoungyun commented on #11248
@gkhanna79

I mean when I do not add "-PortableBuild=false" option, the release/2.0.0 branch generates linux-armel runtime pakcage but the master branch still generates tizen runtime packages. If I build master branch without the option, I think this should also generates linux-armel runtime package, but it is not. Is it normal operation?

Anyway I will add the "-PortableBuild=false" option for al

[2017-06-01 04:11] 1amirjalai opened #12028 "suddenly everything get blocked even without any workload"
.net coreclr 1.1.2 and asp.net core 1.1.2 here is windbg !dumpstack
and then i got 502.3 error
i don't what these waits are happening i checked the code line by line but nothing is suspicious

[code]

[2017-06-01 04:14] gkhanna79 commented on #11248
No, this is not expected. Can you please look into it to understand what is going on? Essentially:

1) Default (without any option specified) should produce portable RID packages (aka linux-armel).
2) -PortableBuild=true is same as (1) above.
3) -PortableBuild=false should produce Tizen RID specific packages.

If this does not happen, something is wrong.

[2017-06-01 04:19] dlech opened #12029 "UnmanagedType.CustomMarshaler not working for struct fields in 2.0.0-preview1-002111-00"
I'm trying to marshal a struct using a custom marshaller for one of the fields, but it is failing with an "unknown error".

Sample Code:

[code]

Steps to repeat:

[code]

Result:

[code]

Am I doing something wrong here? According to the debugger `GetInstance` is never called.

More info:

[code]

[2017-06-01 04:30] dlech commented on #12029
FYI, the custom marshaller seems to work when applied directly to a pinvoke parameter, but not on struct fields.

[2017-06-01 05:55] vermorel commented on #11948
@danmosemsft @tannergooding @mellinoe  I might disagree with dotnet/corefx#17267

More specifically, not all numerical types are equal. The `binary16` (IEEE name) is vastly more important because it comes with massive hardware support both in CPUs and GPUs. In contrast, `binary128` have close to zero hardware support (the defunct Itanium), and would be best left emulated. Idem for `BigDecimal`.

T

[2017-06-01 05:58] sjsinju commented on #11850
@BruceForstall Please assign this to me.

[2017-06-01 07:27] simonech commented on #11964
Thank you everyone for the comments and explanations.
It's not about Windows 10, but on servers, as I have a website that needs to be localised in 24 languages, and being a governement site it needs to use the "legal" date formatting, which is different from the one provided by windows locale.
I guess I'll have to create my own `DateTimeFormat` for each of the languages in which formatting is diff

[2017-06-01 07:34] simonech commented on #11964
@jefgen anyway... the Long Date pattern in Windows for Latvian is formatting the data using the Full Date format used in the ICU explorer.
So if it was supposed to use the Long Data, it is still a bug

[2017-06-01 07:39] 4creators commented on #12018
@danmosemsft Sure, will do it

[2017-06-01 07:46] simonech commented on #11964
I think the problem is that in .NET there is just:

- Short Date (d)
- Long Date (D)
- Full Date Short Time (f)
- Full Date Long Time (F)

But it misses the Full Date format, while the CLDR/ICU has Long Date (which is without day of week) and Full Date (which has day of week).
So, apparently, in some languages Windows uses the Long Date and in other the Full Date.

[code]

[2017-06-01 08:06] parjong opened #12031 "[Question] Who (which component) is responsible for unloading JIT?"
I discovered that ``jitShutdown`` (in ``ee_il_dll.cpp``) is never called on Linux while trying to profile JIT using ``COMPlus_JitTimeLogFile``.

It seems that ``DllMain`` in ``ee_il_dll.cpp`` should invoke ``jitShutdown`` when ``DLL_PROCESS_DETACH`` is notified, but ``DLL_PROCESS_DETACH`` is never notified.

So, the question is which component should be fixed to support graceful JIT unloading?

[2017-06-01 08:38] janvorli commented on #12031
@parjong, can you please describe a scenario when you would need the jitShutdown to be called? The DLL_PROCESS_DETACH is notified on Unix only when a shared library is released using the FreeLibrary API.
When the CoreCLR app exits, aborts or crashes on Unix, we don't try to deliver these notifications.

[2017-06-01 08:46] hqueue commented on #11848
This test is skipped when running with `runtests.sh` on Linux arm32, because `JIT/Directed/StructABI/StructABI/StructABI.sh` is listed at https://github.com/dotnet/coreclr/blob/master/tests/testsFailingOutsideWindows.txt#L4

[2017-06-01 08:50] parjong commented on #12031
``Compiler::compShutdown`` seems to reports some performance statistics. I would like to see this statistics.

I guess that I need this information when app normally exits or aborted by some exception, but does not need for other cases (aborted by assertion or crashes)

It would be good to have this even for those cases if it is not so difficult.

[2017-06-01 08:55] alpencolt commented on #11386
@jyoungyun I think so. I've postponed this issue since we have bugs with higher priority.

[2017-06-01 09:08] jyoungyun commented on #11248
@gkhanna79 When I build the latest master corefx code(https://github.com/dotnet/corefx/commits/fd6bae5b5500d51cb1255d277721ba836be14a24) with the "-PortableBuild=true" option (it is the same as default setting), it generates tizen runtime packages.

And today I upload the Microsoft.NETCore.App Preview1 packages for tizen runtime to Nuget.org. So now we can build application by using "tizen.4.0.0-a

[2017-06-01 10:04] janvorli commented on #12031
@parjong maybe we could add UnloadJIT function to the EEJitManager class, let it call FreeLibrary on the m_JITCompiler and then call this function e.g. from CorHost2::Stop. That should result in the DllMain being called with DLL_PROCESS_DETACH. That would not work if the process called "exit".
The other option would be to add new module cleanup function to module.cpp and call it from PALCommonClea

[2017-06-01 12:01] RussKeldorph commented on #11952
@dotnet/jit-contrib

I don't do enough for my vote to count, but, FWIW, I have the same sentiment.  I had also considered proposing using [box drawing characters](https://en.wikipedia.org/wiki/Box-drawing_character) to render the tree lines.  I figure you could fall back to the current pure ASCII symbols if you couldn't detect a  known-compatible terminal.

[2017-06-01 13:58] JosephTremoulet commented on #11914
Ok, the picture is more clear now, and this was already broken before #10532, my mistake.  Things are fine as of #11658, but then with #11620 we start getting these errors:

[code]

and then with #11720 we start failing earlier, with these errors:

[code]

@weshaggard, #11620 and #11720 were both yours, can you please investigate?  Repro steps are simply to run a build from a VS2017 dev command pr

[2017-06-01 14:00] JosephTremoulet commented on #11914
Oops, sorry @weshaggard was reviewer, not author; meant to say @wtgodbe can you please investigate?

[2017-06-01 14:09] JosephTremoulet commented on #11952
+1 especially for multiply, I'm always reading right past it since most asterisks in the dump just mean "there's a node here"

[2017-06-01 15:02] gkhanna79 commented on #11386
I have moved this to Future.

[2017-06-01 15:09] gkhanna79 commented on #11248
This is excellent - congratulations!

@ericstj Do you have any suggestions? Would encoding the space work?

These packages are for our internal repo dependency closure only and are not supposed to be on nuget (only our development feeds like myget). @dagood can share the list of packages we upload to nuget that you can use as reference - excluding the Identity packages and private packages that yo

[2017-06-01 15:19] tannergooding commented on #11948
It certainly has GPU support, but I think that is less important given that the runtime doesn't support executing on GPU.

CPU support is also very limited, Intel only provides two instructions that work with half-precision values: `VCVTPH2PS` and `VCVTPS2PH`. These instructions are only used for converting between half and single-precision values.

The benefit of `System.Half` would be that it co

[2017-06-01 16:07] RussKeldorph commented on #12031
@dotnet/jit-contrib In case you have a better way to solve @parjong's problem.

[2017-06-01 16:12] dagood commented on #11248
Here's a list of every package we pushed for 2.0.0 preview1: https://gist.github.com/dagood/08610c5857be0a3b154ff01b9bd0d7e7. For example, a runtime package "set" for CoreCLR:

[code]

and Core-Setup:
[code]

[2017-06-01 16:23] RussKeldorph commented on #11971
@hseok-oh Should this be closed, or is there more work to do?

[2017-06-01 17:02] vermorel commented on #11948
@tannergooding  I agree to your point that hardware support will be heterogeneous at best, with emulation needed in many situations. Yet the same can be said for `System.Decimal`. Then, if we look at the industry trends, hardware support for smaller data types is bound to increase, and that's exactly has been happening over the last couple of years. Conversely, the _bigger_ data types have followe

[2017-06-01 17:09] russellhadley commented on #11952
I have a lot of trouble with this too.  I like what you have, especially using caps to make them stand out. I'd +1 a PR of this.

[2017-06-01 17:16] tannergooding commented on #11948
@vermorel, I had meant that GPU support is less important since the runtime itself doesn't support executing on it, not that `binary16` was less important 😄. That is, ease of implementation for `System.Half` (as well as any optimizations that the runtime can provide) comes down to the architectures we currently support (with some consideration to future platforms we may support).

I do definitely

[2017-06-01 17:51] briansull commented on #11914
Thanks @JosephTremoulet , This is a blocking issue on my new system that I setup last week.
I don't want to have to install both version of VS on the system and neither do our customers.

[2017-06-01 17:52] briansull commented on #11952
I am also in favor of this change

[2017-06-01 17:53] CarolEidt commented on #11396
Also, consider abstracting the mapping of variables to registers.

[2017-06-01 17:58] CarolEidt commented on #11339
In addition to ensuring that the sets of live lclVars at block boundaries are dense, we should ensure that non-register-candidates that are tracked (e.g. tracked structs that are not promoted) are not mixed in with the register candidates. Further, if the liveness info for non-register-candidates doesn't impact GC reporting, there is no reason to make those tracked after the optimization phases ha

[2017-06-01 18:18] jkotas commented on #12031
This method exist already. It is called `ProcessShutdownWork`: https://github.com/dotnet/coreclr/blob/b2164d274f13023e5546fab849f6f15381ba4475/src/inc/corjit.h#L427 . The VM calls it during graceful process shutdown to give JIT opportunity to do its shutdown work.

[2017-06-01 18:21] jkotas commented on #12029
@yizhang82 Is this supposed to work?

[2017-06-01 18:26] JosephTremoulet commented on #11914
Yep, same on my newest system.

[2017-06-01 18:46] weshaggard commented on #11248
To clarify for corefx builds the option is `-portable=false`. @gkhanna79 that was what I was trying to get you to use in coreclr as well. We should try to make this consistent.

[2017-06-01 19:00] omajid opened #12035 "build.sh describes an unavailable sequential flag"
`build.sh` includes `sequential` as a supported flag

    echo "-sequential: force a non-parallel build ^(default is to build in parallel"
    echo "   using all processors^)."

But the rest of build.sh completely ignores it.

We should fix it, or remove it completely.

[2017-06-01 20:16] #11779 closed

[2017-06-01 20:18] mikedn commented on #11339
Sort of related question: would it help LSRA to eliminate all SDSU intra-block lclvars?

[2017-06-01 20:22] erozenfeld opened #12037 "Assertion in jit LSRA"
Compile Program.cs below:

.\Tools\dotnetcli\dotnet.exe Tools\csc.exe /o+ out:Program.exe Program.cs /r:.\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\System.Private.CoreLib.dll /r:.\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\System.Console.dll /r:.\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\System.Runtime.dll

[code]
The run the resulting program:

.\bin\tests\Windows_NT.x64.Check

[2017-06-01 20:27] CarolEidt commented on #11339
Yes, I think it would help (at a minimum it would eliminate the extra `RefPosition` associated with assigning the value. The question would be whether eliminating them would be more cost than the potential benefit.

[2017-06-01 20:27] erozenfeld commented on #12037
@dotnet/jit-contrib

[2017-06-01 20:32] #8891 closed

[2017-06-01 20:44] jefgen commented on #11964
Thanks @simonech.

Broadly speaking, the locale data in both Windows and CLDR/ICU lean towards using formats that are in common/active usage.

Note that there are actually **two** 'Long Date' patterns for lv-LV in Windows, which map to the _'full'_ and _'long'_ date patterns in CLDR/ICU.

The data for lv-LV actually has both:
   `<SLONGDATE>dddd, yyyy. 'gada' d. MMMM;yyyy. 'gada' d. MMMM;</SLONGDA

[2017-06-01 21:00] 4creators commented on #12018
@danmosemsft  I have made a PR #12040 with some comments. Problem seems to be more complex and deeper than it seems from the surface. Pls look at the PR comments.

[2017-06-01 21:24] #11991 closed

[2017-06-01 21:31] CarolEidt commented on #12037
I presume it’s hitting that assert in LinearScan::resolveConflictingDefAndUse(). That’s kind of a tricky situation – where the def and use don’t agree on the requirements.

The `hasConflictingDefUse` flag is presumably being set on the `Interval` in `LinearScan::buildRefPositionsForNode()` near line 3976:
[code]
I suspect that there should be an assert here that the use is not a lclVar interval (r

[2017-06-01 21:38] swgillespie opened #12043 "[Local GC] Combine related threading GCToEEInterface callbacks"
See https://github.com/dotnet/coreclr/pull/12036#issuecomment-305612816 for details. The fact that `IsPreemptiveGCDisabled`, `Enable/DisablePreemptiveGC`, `GetAllocContext`, and `CatchAtSafePoint` each take a Thread parameter instead of operating on the current thread ensures that callers will incur the cost of at least two indirections: once to call `GetThread` and once again to call the function

[2017-06-01 22:50] #11971 closed

[2017-06-01 23:14] yizhang82 commented on #12029
This scenario is not currently supported in .NET. This is the error message I got on desktop CLR and .NET Core on Windows:

[code]

But on linux, I'm getting "Unknown error" just like @dlech is seeing. Looking at
https://github.com/dotnet/coreclr/blob/master/src/vm/fieldmarshaler.cpp#L4255-L4256, we start with "Unknown error" but replaced it with the real one afterwards. It looks like SString::Loa

[2017-06-01 23:38] yizhang82 commented on #12029
After reading the code a bit more, it looks more likely a bug when we not propagating ERROR_INSUFFICIENT_BUFFER properly. Need to actually debug this later today.

[2017-06-01 23:56] parjong commented on #12031
@janvorli I tried to invoke ``LOADCallDllMain`` in ``PALCommonCleanup`` (I guess that this is the 2nd approach that you suggested), but the code itself has the following assert:
[code]

Is that prohibited to call this method? I guess that the loop at the end of ``LOADCallDllMain`` loops over all loaded modules (that is currently needed).

[2017-06-01 23:57] parjong commented on #12031
@jkotas Thank you for comment. I'll take a look.

[2017-06-02 00:16] dpodder commented on #11796
Reopening to track port of fixes into release/2.0.0

[2017-06-02 01:19] dlech commented on #12029
Thanks for looking into this. I sent a PR to update the documentation as well.

[2017-06-02 03:21] Socolin opened #12048 "Failed to initialize CoreCLR, HRESULT: 0x80004005 or OutOfMemoryException"
Hi,

When I try to run `dotnet run` on my server:

Most of the time I get this message: `Failed to initialize CoreCLR, HRESULT: 0x80004005`
Sometime it starts but then I got an OutOfMemoryExceptiion on each request I try to do the ap (API Rest)

`An unhandled exception has occurred: Insufficient memory within specified address space range to continue the execution of the program.`

When this error

[2017-06-02 03:39] Socolin commented on #12048
After trying to get a working version via docker,
I had to switch from custom kernel of my server provider to a generic one, then I reboot and while docker was installing I tried again and the problem was gone.

So it's fixed.

[2017-06-02 03:39] #12048 closed

[2017-06-02 08:01] sjsinju commented on #11850
/cc @hseok-oh

[2017-06-02 08:24] janvorli commented on #12031
@parjong yes, that's what I meant, I have forgotten we have the LOADCallDllMain function. The assert for DLL_PROCESS_DETACH is there because it was never used and it was not expected to happen.
However, I would prefer the other way (but instead of calling the new UnloadJIT from the CorHost2::Stop, we would call it from the place that @jkotas  has suggested.
@jkotas the issue is that the ProcessShu

[2017-06-02 08:29] janvorli commented on #12031
@parjong I can see you've made a bit different change, but that looks fine to me too.

[2017-06-02 15:59] jkotas commented on #12031
Fixed by #12054

[2017-06-02 15:59] #12031 closed

[2017-06-02 16:15] yizhang82 commented on #12029
With https://github.com/dotnet/coreclr/issues/12051, we now properly show the error message in non-windows:
System.TypeLoadException: Cannot marshal field 'Value' of type 'CustomMarshalTest.TestStruct': Custom marshalers cannot be used on fields of structures.

[2017-06-02 18:03] omajid opened #12061 "Add support for not breaking Windows build on warnings"
https://github.com/dotnet/coreclr/issues/8586 requests that `-Werror` be made optional. On *nix, this is fixed by https://github.com/dotnet/coreclr/pull/12039. We should fix it on Windows-side too.

[2017-06-02 18:42] snoozbuster opened #12062 "[Linux] IdnMapping.GetAscii with already-decoded IDN throws ArgumentException on Linux"
Compile and run the following `Program.cs` on a Unix system (I used the BSL subsystem, but I know it also happens with the official dotnet Docker image):

    using System;
    using System.Globalization;

    namespace ConsoleApplication
    {
        public class Program
        {
            public static void Main(string[] args)
            {
                Console.WriteLine(new IdnMapping().

[2017-06-02 19:21] jkotas commented on #12062
cc @tarekgh

[2017-06-02 20:55] #8586 closed

[2017-06-02 21:50] tarekgh commented on #12062
I'll take a look

[2017-06-03 00:07] vancem opened #12070 "Fix Interface Dispatch to emit unwind and naming information for profiling"
The .NET Runtime uses small stubs to dispatch a call to an interface to the correct target method.   Currently in sampling profilers, if the sample is taken while the CPU is in such a stub

1. The call stack breaks on RISC based unwind architectures (e.g. X64) because we don't emit unwind information for it.
2. The name of the code is unknown.

This will show up any time interface dispatch is used

[2017-06-03 00:44] tarekgh commented on #12062
@snoozbuster .Net core uses the underlying OS for the IDNA operations. in Linux case the ICU library will used. So it is expected you can find some differences when running on Windows than when running on Linux.

For the ACE label you reported **"xn--6m8h26a.ws"** it should be a valid ACE label and when convert it to Unicode it should be converted to the string **🏬🗺.ws** which is a couple of surro

[2017-06-03 00:44] #12062 closed

[2017-06-03 01:06] noahfalk commented on #12070
Is there a broader issue for many kinds of stubs or this is restricted specifically to interface dispatch? (just curious)

[2017-06-03 02:27] snoozbuster commented on #12062
@tarekgh Thank you for looking into it! If you manage to get a bug filed with ICU, can you link it here?

[2017-06-03 05:49] ellismg commented on #11982
Was this resolved with #11988 and #12032, Steve?

[2017-06-03 16:48] 4creators opened #12073 "Random test errors on Mac OSX for _il_dbgconvovf_i8_i.ilproj tests"
After submiting PR #12040 Mac OSX tests failed with the following error:
[code]
This error can not be reproduced in my private tests on Macbook with the following system:
[code]
New round of build and tests Osx10.12 Checked [succeeds](https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_osx10.12_flow_prtest/3616/)

Presumably this test group could be added to [list of tests failing outside

[2017-06-03 22:52] stephentoub opened #12074 "Debugger.Launch doesn't work correctly on coreclr on Windows"
Repro:
[code]

With .NET Framework, I can compile this, run it from the console, and the Debugger.Launch pops the attach dialog asking which VS I want to use and which debugging engine to employ.  I'm then in the debugger broken into the app on the Launch line, and I can successfully F10 to step to the WriteLine for "3" and "4".

With .NET Core 2.0 (built with the latest source), the same thing ha

[2017-06-04 23:47] parjong opened #12075 "'index.m_dwIndex != 0' assert failure on GCStress=3"
CLR hits this assert failure even for simple "Hello, World" application. Both x86 and x64 CLR hit the same assert failure:
[code]
[code]

[2017-06-05 01:25] parjong commented on #12075
08344258134  seems to cause this issue.

[2017-06-05 01:28] sjsinju commented on #11852
Merged #12003

[2017-06-05 01:29] sjsinju commented on #11782
Merged #11957

[2017-06-05 02:28] chunseoklee opened #12076 "CallbackFunction is not called from runtime"
I have tested dbgshim interface to check icordebug interface as following code :
[code]
But, New process stopped and CallbackFunction never called.
I passed cmdstr of "corerun hello.dll" like `$ a.out "corerun hello.dll"` in unix shell.
I ran this code on ubuntu/x64. Am I wrong something ?

[2017-06-05 02:29] chunseoklee commented on #12076
@mikem8361

[2017-06-05 02:37] chunseoklee commented on #12076
The code borrowed from https://github.com/dotnet/coreclr/issues/10568

[2017-06-05 02:57] BruceForstall commented on #11782
@sjsinju Can you close this issue now?

[2017-06-05 02:57] BruceForstall commented on #11852
@sjsinju Can you close this issue now?

[2017-06-05 03:32] chunseoklee commented on #12076
here is trace log :
[code]
/tmp/clr-debug-pipe-10591-85902931-in file exists, but stat failed.

[2017-06-05 04:25] sjsinju commented on #11782
@BruceForstall Yes, I don't seem to have the right to close. Thank you.

[2017-06-05 04:27] sjsinju commented on #11852
@BruceForstall Yes. please.

[2017-06-05 06:28] hqueue commented on #8496
I've ran tests(pri0) with the latest commit on  June 5, 2017.

Environment
- On Rpi3
- Checked build
- All tests (pri0)
 - With `  COMPlus_AltJit=*   COMPlus_AltJitAssertOnNYI=0` options

[code]

### Failure analysis
- FAILED: 294
  - Non-NYI assertion : 289
[code]

  - Segmenataion fault: 1
[code]
  - Wrong result: 2
[code]

  - Killed: 2
[code]

[2017-06-05 06:58] hqueue opened #12077 "[RyuJIT/ARM32] Assertion failed 'initVal->OperGet() == GT_CNS_INT'"
With `COMPlus_AltJit=* COMPlus_AltJitAssertOnNYI=0` options in Checked build.

[code]

Related tests
[code]

[2017-06-05 07:03] hqueue opened #12078 "[RyuJIT/ARM32] Assertion failed 'assignedInterval == nextRegRec->assignedInterval'"
With COMPlus_AltJit=* COMPlus_AltJitAssertOnNYI=0 options in Checked build.

One tests(`JIT/Regression/CLR-x86-JIT/V1.2-M01/b16570/b16570`) faced following assertion.
[code]

[2017-06-05 07:08] hseok-oh commented on #11850
### Before morphing
[code]

### Before
[code]

### After
[code]

[2017-06-05 07:18] sjsinju opened #12080 "[RyuJIT/ARM32] Assertion failed '!"Instruction cannot be encoded" by Ins_add"
[code]

[code]

[2017-06-05 09:49] janvorli commented on #12075
cc: @swgillespie

[2017-06-05 13:28] rochar opened #12081 "System.Numerics Matrix4x4 Right-Handed Coordinates Systems?"
Hi,

It's supposed to use Matrix4x4 only in Left-Handed Coordinates systems?

Thanks
Ricardo

[2017-06-05 14:27] vancem commented on #12070
I know on the desktop we did a review at one point to insure that most stubs had unwind information (The most important ones were the ones that DON'T tail call (since they are more likely to be unwound through).

It would not hurt to do this review for CoreCLR.

[2017-06-05 15:55] #11782 closed

[2017-06-05 15:55] #11852 closed

[2017-06-05 16:58] dpodder commented on #11796
Resolved in release/2.0.0 by #12044. Marking as closed.

[2017-06-05 16:58] #11796 closed

[2017-06-05 17:05] lt72 commented on #12076
@mikem8361 : PTAL

[2017-06-05 17:06] lt72 commented on #12074
@mikem8361 @gregg-miskelly : any ideas?

[2017-06-05 17:13] sdmaclea commented on #11545
While the above statement is true.  The important difference which makes these "half barriers" is.

 - `Load(unordered); Load-Acquire` != `Load(ordered);  DMB LD;     Load`
 - `Store-Release; Load(unordered); ` ~ `DMB FULL;     Store; Load(ordered);     `
 - `Store-Release; Store(unordered); ` ~ `DMB FULL;    Store; Store(ordered)`

Therefore there is still performance opportunity in converting to

[2017-06-05 17:18] chunseoklee commented on #12076
After reviewing a code(process.cpp), it turns out that the pipe mentioned does not exist at the time of message generation. Thus, ignore comment below the code please.
Anyway, callback function is not called and debugger get stuck.

[2017-06-05 17:24] gregg-miskelly commented on #12074
@lt72 there is no real Just-In-Time debugging support for CoreCLR. To make this work we would need to work out a contract between the Just-In-Time debugger and CoreCLR so that we could know how to know that a Just-In-Time launch is for CoreCLR debugging, and how to tell the CoreCLR to resume execution.

[2017-06-05 17:26] dpodder commented on #11799
Resolved by upgrading binutils to version 2.25.1-22. Need to deploy the update to the RHEL images used in the build lab.

[2017-06-05 17:31] mikem8361 commented on #12074
Yes, this feature has never been implemented (the interaction with the JIT debugger).  It looks like coreclr does initialize debugging and should be attachable. It is just that the JIT debugger is NOT launched automatically to do the attach.

[2017-06-05 17:45] AtsushiKan opened #12086 "AppContext.TargetFrameworkName always returns null - bug or by design?"
[code]

returns null rather than "Hello".

The implementation on CoreCLR goes through the motions of looking up the data from the current (and only) appdomain:

[code]

but the code to initialize TargetFrameName was ripped out.

I don't have a strong opinion either way - I just need to know what the intent is so I can implement the CoreRT version correctly.

[2017-06-05 17:50] tarekgh commented on #11964
Calling

[code]

Will give you all supported long dates which include what @jefgen mentioned above

[code]

The first one is the default. if you want to set the second one is the default for the culture, yo may do

[code]

And if you want to use these as the default for current culture, you may

[code]

[2017-06-05 17:52] swgillespie commented on #12075
Taking a look today.

[2017-06-05 18:27] ShawnSteele commented on #12062
This string is 🏬🗺.ws

Strict IDNA2008 doesn't allow emoji characters like those, however UTS#46's compatibility processing mode for compatibility with IDNA2003 includes support for emoji.  That emoji support has been extended in the tables published by Unicode for new Unicode versions to include the newer emoji as well.

There is some debate within the standards bodies of whether or not the use of

[2017-06-05 18:34] wtgodbe commented on #11503
https://github.com/dotnet/coreclr/pull/12064 fixed this

[2017-06-05 19:00] swgillespie commented on #12075
cc @jkotas @Maoni0

This crash is because the config option `AppDomainLeaks` is set when using GCStress on debug builds (https://github.com/dotnet/coreclr/blob/master/src/vm/eeconfig.cpp#L783-L784). As a part of https://github.com/dotnet/coreclr/pull/11379 I removed some code in the GC for `AppDomainLeaks` under the assumption that it was dead code and not used, but apparently *is* used here.

Per

[2017-06-05 19:03] lt72 commented on #12074
@stephentoub: Steve, did you inquired because you found this accidentally or do you need this feature for any reason?

[2017-06-05 19:23] stephentoub commented on #12074
Found it while trying to use it for my own debugging purposes.

[2017-06-05 19:34] jkotas commented on #12075
You can just make `AppDomainLeaks()` to return false unconditionally as a quick fix.

Agree.

[2017-06-05 19:43] tannergooding opened #12090 "CodeGen should be updated to support the FMA instruction set"
**Rationale**
Performing a multiplication followed by an add is a frequent operation in code (`d = (a * b) + c`) and modern processors provide instructions to help perform this operation in a fast/efficient manner.

**Proposal**

The runtime should be updated to recognize the `d = (a * b) + c` pattern and emit FMA instructions in those scenarios.

This pattern should be handled for both scalar and

[2017-06-05 20:12] mikem8361 commented on #12076
Your sample code looks ok except maybe that Main()/the program will exit before the CallbackFunction is executed. But if this is happen with your "netcore-debugger", then that isn't the problem.  What does the "property.dll" managed app do? Does it exit right away? It may be that the target app exists before the code in RegisterForRuntimeStartup gets a chance to call back. If that is the case, Deb

[2017-06-05 20:13] tannergooding commented on #12090
For both scalar and vector types, this can also cover:
* Multiply and Subtract (`d = (a * b) - c`)
* Negative Multiply and Add (`d = -(a * b) + c`)
* Negative Multiply and Subtract (`d = -(a * b) - c`)

For vector types, this can also cover:
* Multiply with Alternating Add/Subtract (`d0 = (a0 * b0) + c0`, `d1 = (a1 * b1) - c1`, `d2 = (a2 * b2) + c2`, `d3 = (a3 * b3) - c3`)
* Multiply with Alternat

[2017-06-05 20:16] tannergooding commented on #12090
FYI. @mellinoe, who may be interested

[2017-06-05 20:19] jefgen commented on #12062
It would seem that this is caused by using an older version of ICU. (It looks like Ubuntu 14.04 uses ICU version 52.1)

The second character, U+1F5FA "World Map" 🗺, was added in Unicode [version 7.0](http://www.unicode.org/charts/PDF/Unicode-7.0/U70-1F300.pdf) and ICU version 52.1 only supports Unicode version 6.3

I tested using ICU version **59.1**, and both functions (`uidna_nameToASCII` and `u

[2017-06-05 20:26] briansull opened #12093 "Assert in JIT using the checked build Crossgen.exe"
Assert failure(PID 43448 [0x0000a9b8], Thread: 60444 [0xec1c]): Assertion failed '((regMask & emitThisGCrefRegs) && (ins == INS_add)) || ((regMask & emitThisByrefRegs) && (ins == INS_add || ins == INS_sub))' in 'Microsoft.AspNetCore.Server.Kestrel.Internal.System.Text.Encodings.Web.Utf8.UrlEncoder:DecodeCore(byref,byref,struct):bool' (IL size 457)

Repro: Enlist in the dev branch of JitBench

.\cr

[2017-06-05 20:35] snoozbuster commented on #12062
I'm not sure that updating to version 59 is an option; it's unclear to me how deeply the library is ingrained into the kernel. We're using one of the official dotnet Docker images, it would be really cool if the team responsible for maintaining those would be able to look into updating these libraries on those images to help achieve parity with running dotnet core on Windows.

[2017-06-05 20:35] swgillespie opened #12094 "Remove AppDomainLeaks configuration option"
CoreCLR has a configuration option, `AppDomainLeaks`, which enables some additional assertions throughout the codebase about app domains. These checks tend to be expensive and have not added much value over the years - they have been disabled in the full .NET Framework for over 10 years. It would be great if we could just remove it from the codebase altogether.

I think this could be a good commun

[2017-06-05 20:42] tarekgh commented on #12062
CC @MichaelSimons to know if we can do something

[2017-06-05 21:21] mellinoe commented on #12090
It's my understanding that this does not necessarily have the same behavior as a regular multiply-followed-by-add. Given that this could affect large chunks of "regular" code, I can imagine something out there breaking for some reason.

I guess it would help to understand what other optimizing compilers do. Is this a common automatic optimization to do (not opt-in), with respect to behavior/precis

[2017-06-05 22:23] MichaelSimons commented on #12062
@tarekgh - The microsoft/dotnet Docker images contain the prereqs that are defined by the "shared framework".  For example 1.0.5 has the following dependencies - libc6 (>= 2.14), libcurl3 (>= 7.28.0), libgcc1 (>= 1:4.1.1), libgssapi-krb5-2 (>= 1.10+dfsg~), libicu52 (>= 52~m1-1~), liblldb-3.6, liblttng-ust0, libssl1.0.0 (>= 1.0.1), libstdc++6 (>= 4.8), libunwind8, libuuid1 (>= 2.16), zlib1g (>= 1:1

[2017-06-05 22:30] tannergooding commented on #12090
That could be the case, but I didn't see anything obvious to this effect in the architecture manual (they generally list the error rate when it differs, as is the case with `rsqrt`). The FMA Extensions section is Volume 1, 14.5. The actual instruction pages are in Volume 2C.

It should be possible to cordon this off under a switch, like we do with AVX and SIMD support.

The compiler and assembler

[2017-06-05 22:38] mellinoe commented on #12090
Yeah, an intrinsic like `FusedMultiplyAdd` (on the Vector types as well) would be doable and something to investigate regardless.

Are there other optimizations "hidden" behind compiler flags that we do by default today? That could provide some motivation to counter-balance the compat concerns.

[2017-06-05 22:40] tarekgh commented on #12062
@MichaelSimons coreclr define the minimum version of the ICU can work with and dynamically load it. so we cannot define the minimum dependency to ICU 59.1 because this would be very breaking change. In short, no change can be done in coreclr side. I thought we can have the docker image force latest ICU package but from what you said above I agree with you that @snoozbuster can just install the new

[2017-06-05 22:42] #12075 closed

[2017-06-05 22:48] tannergooding commented on #12090
I think that AVX/AVX2 instructions are the biggest. They are disabled in most compilers by default (due to wanting to build for the LCD). However, we have support for it enabled by default on CoreCLR (only actually emitting those instructions when the underlying hardware supports it), but it can be disabled via one of the configuration knobs:

| Name | Description | Type | Class | Default Value |

[2017-06-05 23:00] snoozbuster commented on #12062
Given that .NET Core 2 is in preview right now, would it be unreasonable to suggest this dependency be updated for that release? it is a major release, after all.

In the meantime, we'll look into installing the newer version of ICU into our docker images. I was hoping I could convince you guys to do it, since the only version of libicu present in the Ubuntu repositories is 52.1 and I do loathe ha

[2017-06-05 23:10] tannergooding commented on #12090
@mellinoe, looks like the difference in behavior falls out from the intermediate result being held in "infinite precision". So it is possible for `fma` to successfully compute `d = (a * b) + c` where the equivalent `mulsd`/`addsd` calls would fail.

For example, with `(1e300 * 2) - 1e300`, you will get `Inf`, but with `fma(1e300, 2, -1e300)` you get `1e300`.

[2017-06-06 03:35] micli opened #12098 "lldb-3.9 cannot load libsosplugin.so"
## Environment
dotnet --info
.NET Command Line Tools (2.0.0-preview1-005867)

Product Information:
 Version:            2.0.0-preview1-005867
 Commit SHA-1 hash:  37d826d763

Runtime Environment:
 OS Name:     debian
 OS Version:  8
 OS Platform: Linux
 RID:         debian.8-x64
 Base Path:   /opt/dotnet/sdk/2.0.0-preview1-005867/

Microsoft .NET Core Shared Framework Host
Version  : 2.0.0-preview

[2017-06-06 05:51] MichalStrehovsky opened #12099 "[ILASM] Add option to produce deterministic outputs"
Various .NET compilers started adding `/deterministic` command line option that makes them produce deterministic output (multiple invocations of the compiler produce byte-for-byte identical outputs for the same input).

This includes fields such as:
* The timestamp hardcoded in the PE header
* The MVID value
* PDB guid
* Full paths to the source files
* Maybe more

[2017-06-06 08:18] janvorli commented on #12098
@micli that's expected. The lldb plugin that's present in the package is for lldb 3.6 and it cannot work with other versions since it is statically linked to the lldb libraries of that specific version. You'll need to build coreclr yourself with lldb-3.9 dev package installed to get plugin that works with that.

[2017-06-06 08:33] danwalmsley opened #12101 "How can I debug Access Violation Exception on .net core 2 preview?"
Hi,

 I am receiving Access Violation Exception in my .net core 2 application, when this happens the debugger terminates and I have no way of knowing where the program was when this happened.

In full .net I could have set mixed mode debugging, however I cant see how to set this for .net core 2 projects.

Thanks in advance.

@mikem8361 I'm mentioning you since I think you work on the debugger and

[2017-06-06 09:20] hintdesk opened #12103 "DllImport cross-platform best practices?"
Hi,
I would like to connect to my Canon DSLR camera on Windows and Mac over Canon EDSDK. In Windows, I can use DllImport to call C++ function of the .dll files but I don't know how to use DllImport in Mac.

I would like to ask 2 questions.

Question 1. With Mono, I can do call external framework in Mac like

`[DllImport("@executable_path/../Frameworks/EDSDK.framework/EDSDK")]`

How can I do the sa

[2017-06-06 13:03] chunseoklee commented on #12076
@mikem8361 There is a misunderstanding about callbakcfunction. The callbackfunction I concern is not the ManagedCallback. CallbackFunction on the code is never called during execution. As you mentioned, it seems like continue semaphore may be the cause of issue.

[2017-06-06 13:27] stephentoub commented on #12098
@janvorli, I actually get the same error with lldb-3.6 on my Ubuntu 16.10 VM.

[2017-06-06 15:10] janvorli commented on #12098
I have looked into that and the issue is that the libsosplugin.so in our portable package is not portable itself due to the different SONAME of liblldb.so on Fedora based distros and others. Since out portable build is built on Fedora based distro, the plugin cannot resolve the dependency.
I am trying to figure out if we can make it portable.
CC: @gkhanna79, @Petermarcu

[2017-06-06 15:25] gkhanna79 commented on #12098
Assigning to @mikem8361 who owns SOS.

CC @lt72

[2017-06-06 15:42] tannergooding commented on #12090
It also looks like MSVC++ uses `fma` for constant folding, regardless of what mode you are in (i.e. it will still do it when no enhanced instruction set is enabled and precise mode is set). It just only emits the fma instructions when both AVX2 and fast mode are set.

[2017-06-06 15:45] tannergooding commented on #12090
Additionally, it appears that enabling `FMA` intrinsics will require a bit of rewriting of the GenTree, as it looks like it currently only supports unary and binary operand intrinsics, where-as FMA have three operands.

[2017-06-06 15:50] omajid commented on #12035
Anyone have any thoughts?

[2017-06-06 16:27] janvorli commented on #12098
It seems it is actually even more complicated. The SONAME of the liblldb on Fedora 25 is liblldb.so.3.9.1 while on CentOS 7 it is just liblldb.so and on ubuntu 14.04 it is liblldb-3.9.so.1, so it looks like there are possibly many variants of the SONAME.

[2017-06-06 16:28] stephentoub commented on #12098
FYI, @ellismg and @cesarbs, this is the same issue you were hitting.

[2017-06-06 16:36] janvorli commented on #12098
I actually think that the best solution would be to stop packaging the libsosplugin.so in the dotnet core runtime / sdk and provide it in a separate package or tarball for each [DISTRO, LLDB_VERSION] path. This plugin is independent of the coreclr version, so we could basically build it once, publish it and forget. The build of that plugin would not have to happen on our build machines, any time a

[2017-06-06 16:50] wjk commented on #12103
@hintdesk I just saw your issue and wanted to throw in my two cents.

For your first question, as far as I know this won't work under CoreCLR. The `@executable_path` syntax is actually handled by the macOS dynamic loader, and is meaningless under Windows or Linux. If Mono handles it correctly on Mac, it's because they extended their P/Invoke loading algorithm to deal with it specifically.

As for

[2017-06-06 17:13] mikem8361 commented on #12076
I understand that that the callback function ("CallbackFunction" in your above code) that is registered with RegisterForRuntimeStartup is not being called. I may have got off track because there isn't enough information to determine why. We either need more logging (which I can help with) or your can attach a native debugger (i.e. lldb) to the debugger side and get a stack trace and to the target

[2017-06-06 17:32] mikem8361 commented on #12098
It is true that the libsosplugin.so does really change that much and the interface between it and sos should always be backward/forward compatible.  Putting it in a separate distro specific package/zip/etc. will make using SOS a lot harder. I understand that the "portable" build will require us to do something like this but it just adds to overhead of getting SOS working.

[2017-06-06 17:39] mikem8361 commented on #12098
I thought the portable builds will built on RHEL.

On Ubuntu 14.04, the lldb 3.9 install does create links for "liblldb.so" to "liblldb-3.9.so.1", etc. I'll have to investigate all the other distros to see if they all have "liblldb.so". If so, then maybe we can force the portable build to find/use "liblldb.so" SONAME to build libsosplugin.so against instead of "liblldb.3.9.so.1".

Jan can you look

[2017-06-06 18:05] janvorli commented on #12098
@mikem8361 the loader doesn't care about the filenames. It uses the SONAME stored in the libraries. So for example, if you have libssl.so.1.0.2 which has SONAME libssl.so.1.0.0 and your binary references libssl.so.1.0.0, then it loads the file libssl.so.1.0.2.
The libraries with just .so are usually only in the development packages so that the build can refer to a non-versioned name. They are not

[2017-06-06 18:08] pharring opened #12110 "StackFrame.GetILOffset returns -1 for ReJITted methods"
Title says it all. This was tested on CoreCLR 2.0.0-preview1-005724 and desktop .Net 4.6.2
To be clear, this is `System.Diagnostics.StackFrame.GetILOffset()`
I can give background offline, if required, but @noahfalk has the details.

[2017-06-06 18:13] janvorli commented on #12035
@Priya91 I can see you have added this option in the past. Could you please answer the question?

[2017-06-06 18:22] wtgodbe commented on #11914
Hey sorry I missed this last week, I was out sick. I have some time today so I'll take a look.

[2017-06-06 18:53] jeremydmiller opened #12111 "TypeInitializationException from BinaryCompatibility"
As we've tried to upgrade the [Storyteller](https://github.com/storyteller/Storyteller/tree/netcore1.1) project to netcoreapp1.1, we've hit this exception below that I assume is from mismatched assembly versions.

From the command line, this command causes the exception:

[code]

I'm not clear on what steps I should take to even determine how the wrong dependencies are getting into the project. An

[2017-06-06 19:22] eerhardt opened #12112 "Handle CopyFileW errors in crossgen WritePDBData()"
See https://github.com/dotnet/coreclr/blob/8a934c90711e0d1a915e309941a34db832395076/src/vm/compile.cpp#L3103, we are copying a crossgen'd r2r assembly from `name.dll` to `name.ni.dll`.  However, we are not checking for errors.  This can lead to unintelligible errors later.

To repro see https://github.com/dotnet/sdk/issues/1302.  When repo'ing the problem in that issue, the error written to the ou

[2017-06-06 20:26] BruceForstall commented on #11835
Eventually (after more bugs are fixed) I'll do a rerun, and if this doesn't reproduce then, I'll close it.

[2017-06-06 20:45] RussKeldorph commented on #12099
@MichalStrehovsky I get the general goodness of this, but is this blocking anyone's real scenario currently, or is this just something you noticed?

[2017-06-06 20:50] MichalStrehovsky commented on #12099
@RussKeldorph Just something I noticed. dotnet/corefx#20644 touched a test that relies on a binary that needs to be checked into the CoreFX repo only because the MVID is not stable when IL gets recompiled. `/deterministic` would likely avoid that (people might still have to touch the test when ILASM gets upgraded and something about the algorithm to generate stable MVID changes, but that would lik

[2017-06-06 21:07] wtgodbe commented on #11352
https://github.com/dotnet/coreclr/pull/11897 fixes this

[2017-06-06 21:07] #11352 closed

[2017-06-06 21:07] RussKeldorph commented on #12090
@dotnet/jit-contrib

As @tannergooding implies, the difference in behavior between FMA and MUL+ADD is that the former rounds once (at the end) while the latter rounds twice.  CLR doesn't have particularly strict floating-point semantics, and *contraction* is explicitly allowed by ECMA 335 (III.1.1.1), so it might be reasonable to do this folding without user consent, but I'm not sure.  Certainly d

[2017-06-06 21:08] janvorli commented on #11682
The #12114 fixes this issue.

[2017-06-06 21:38] mikem8361 commented on #12098
Building for each distro and packaging libsosplugin separately may be the only choice but it is going to be a big hassle.  This would mean we still have to build the coreclr repo for each distro (the build system could be changed to just build the sos plugin).  The sos plugin and sos have dependencies on each (a COM like interface) that would make it inconvenient to move to a separate repo.

And w

[2017-06-06 21:42] #11512 closed

[2017-06-06 21:42] #11513 closed

[2017-06-06 21:52] vancem opened #12118 "Optimize I/O thread paths int CoreCLR used by ASP.NET"
See  the profile
[code]
You will see that
[code]
uses 1351 msec (approximate 1-2% of the total CPU time in a Techempower benchmark).   There is just alot of 'goo' that is between the OS getting a callback on a socket and the managed code getting called.

@stephentoub  @geoffkizer

[2017-06-06 21:54] geoffkizer commented on #12118
To be clear, this is Linux-specific, right?

[2017-06-06 21:56] vancem commented on #12118
Actually we want both.   The traces I have are actually for Windows, but you make a good point that we care about Linux more.

[2017-06-06 22:02] mikem8361 commented on #12101
You could try windbg/cdb and SOS.

On Windows .NET Core 2.0 does  support mixed mode debug but there seems to be problems with VS Launch (see #8603).

[2017-06-06 22:09] tannergooding opened #12120 "Runtime should be updated to support the `__vectorcall` calling convention"
### Rationale

Today, the runtime supports the `__fastcall` calling convention, which not only allows interop with any native code that uses that calling convention but also allows it to take advantage of the additional registers that are available on the underlying architecture.

However, it means that operating with certain data types is still "sub-optimal".

Microsoft Windows provides the `__ve

[2017-06-06 22:09] tannergooding commented on #12120
FYI. @mellinoe, who may be interested.

[2017-06-06 22:10] tannergooding commented on #12120
This would significantly improve performance for the `System.Numerics.Vector` package, where all of the exposed types could be passed in register rather than passed on stack.

[2017-06-06 22:10] janvorli commented on #12098
@mikem8361 I don't think we can just leave the plugin broken. Currently, it doesn't work on anything else than the Centos 7 / RHEL 7 where we build the portable build. So we need to do something about it.

I can see the following options:
1. As I have described above - remove it from the dotnet core package and make it available separately for each distro / lldb version. Actually, it may be that e

[2017-06-06 22:11] geoffkizer commented on #12118
Sorry, I should have just looked at the trace :)

This is with thread dispatch in Kestrel, right?  It looks like some of this is related to thread dispatch.  That said, most seems related to I/O completion.

This is particularly worrisome:

Name                                                                                                                                           	Inc %	     Inc

[2017-06-06 22:31] gkhanna79 commented on #12098
I agree this needs to be fixed - and building it for various distros (other than RHEL7 where portable build happens) would require bringing back distro specific builds that we intentionally removed.

@mikem8361 Can you please look into determining what is the feasibility of building it portable and if not, how should this be supported?

Unless the work required is minimal (I doubt it), this will n

[2017-06-06 22:46] geoffkizer commented on #12118
BTW @vancem:  You said this is 1-2%, but if I'm reading the trace right, it's actually more like 13%, right?  1351 out of 10774?  Am I missing something?

[2017-06-06 22:51] brianrob opened #12121 "Enable Linux Performance Runs"

[2017-06-06 23:10] vancem commented on #12118
The trace above was filtered to just show you the costs in Coreclr.dll.
Here is the complete trace that that one derived from
[code]
Yes, it is 13% of the cost in CoreCLR (which is a lot), but the total CPU for the process is 71K (not 10K) so you have to divide by 7 which is what gets you the 1-2%.

[2017-06-06 23:55] #12121 closed

[2017-06-07 00:25] mikem8361 commented on #12098
I need to do some more testing but I have a simple fix for this that removes the explicit reference to the troublesome liblldb* (simple CMakeList.txt change). Because lldb itself has the correct liblldb already loaded   this works. So far it works on Ubuntu 14.04 with lldb 3.9 and 3.8 on the machine the libsosplugin was built on and my Centos VM under lldb 3.8.

[2017-06-07 00:41] BruceForstall opened #12126 "Unnecessary restore of optimization data package"
build.cmd now restores the OptimizationData package on every build, even if it is not needed.

If I do `build.cmd x86 debug` (my normal dev workflow), I do not need to PGD files to build/link, since the PGD files are only used by RELEASE and RELWITHDEBINFO build types (on Windows).

build.cmd should avoid this unnecessary work unless it is required.

[2017-06-07 00:46] BruceForstall opened #12127 "OptimizationData restore is unnecessarily verbose in build.cmd console output"
For instance, I see:
[code]

This is all unnecessary The data is already being logged to the sync.log file. You should pass the appropriate arguments to msbuild to avoid outputting so much so the console. E.g., other users in build.cmd already pass lots of options to separate log/warnings/errors into different files, and very little to the console, e.g.:

[code]

[2017-06-07 00:47] chunseoklee commented on #12076
@mikem8361
test debugger source : https://github.com/chunseoklee/coreclr/commit/011c4cfab75db39c8521cf6b3873038f6875f199
property.cs source (https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/properties) :
[code]

[2017-06-07 00:50] BruceForstall opened #12128 "Need a way to build a RELEASE build without PGD data"
If I want to build a RELEASE build on Windows without PGD data (that is, specifically preventing PGD data from being used), is there a way to do so? Ideally, I could pass something like "nopgo" to build.cmd.

It looks like right now I need to hack pgosupport.cmake to command out or remove these two lines:

[code]

?

[2017-06-07 00:54] dpodder commented on #12128
At the moment the easiest way is to add `skiprestoreoptdata` (and make sure the packages weren't already restored: `./clean.sh -p` or `clean.cmd -p`.

There are plans to add a switch like `pgo:off` (exact syntax TBD). I can work on this and get it wrapped up pretty quickly once 2.0 validation winds down.

[2017-06-07 00:55] dpodder commented on #12127
Thanks @BruceForstall, good suggestion. This should be a relatively easy fix.

[2017-06-07 01:42] jyoungyun commented on #11248
@gkhanna79 @dagood

I had the same runtime packages above. So I already uploaded the core-setup result packages but I didn't upload yet the coreclr result packages because I'm not sure why these packages should be uploaded to nuget and where it uses. All native files are already included in Core-setup runtime packages so we don't need CoreCLR runtime packages for `netcoreapp` build. Where does the

[2017-06-07 02:12] parjong opened #12129 "CLR unittest build is broken"
I got the following error message:
[code]

Is there any issue on build tools?

[2017-06-07 02:46] chunseoklee commented on #12076
The log below is based on https://github.com/chunseoklee/coreclr/commit/3f716f7393d8ae2d04063dc9b911c320c9278557.
It seems that sem_post(startupSem) does not work due to certain reason.
App runtime properly called `sem_post(startupSem)`(https://github.com/chunseoklee/coreclr/blob/netcore-debugger/src/pal/src/thread/process.cpp#L1925) , but debugger's `sem_wait(startupSem)`(https://github.com/chuns

[2017-06-07 03:31] jkotas commented on #12111
Looks like duplicate of https://github.com/dotnet/coreclr/issues/7154.

[2017-06-07 03:57] sjsinju commented on #11850
@BruceForstall Resolved by #12079, Close this please.

[2017-06-07 04:27] danmosemsft commented on #12081
Issue moved to [dotnet/corefx #20765](https://github.com/dotnet/corefx/issues/20765) via [**ZenHub**](https://www.zenhub.com/)

[2017-06-07 04:27] #12081 closed

[2017-06-07 04:29] danmosemsft commented on #11979
@jskeet if you're offering to try 2.0, that would be great.

[2017-06-07 04:29] danmosemsft commented on #11979
...because if it is a 2.0 issue is may be more urgent.

[2017-06-07 05:00] jyoungyun commented on #11248
I made a commit(https://github.com/dotnet/coreclr/commit/118ad17e94890a250622ce021f6e473dd860d9be) for using `-portable=false` option in coreclr. But as @weshaggard said, some patch should be merged first. Please let me know if you are ready. :)

[2017-06-07 05:18] jskeet commented on #11979
Righto - I'll see if I can give that a whirl today.

[2017-06-07 05:43] Tragetaschen commented on #11682
I think so, too.

[2017-06-07 06:01] gkhanna79 commented on #11248
For consistency, we upload the CoreCLR repo produced packages incase folks wish to explicitly reference a specific version of the package and/or JIT package.

@jyoungyun Are you uploading them to nuget right now? I ask because we are not doing so for Preview2 until few more weeks.

I use the "-PortableBuild" option explicitly since that is the primary option that is passed to the "run" infrastruct

[2017-06-07 06:31] hqueue opened #12131 "[Question] Type information in gdb is mixed and incorrect when debugging multiple JIT module"
I want to share difficulties when debugging multiple JIT module together in coreclr and I'm looking for help if there is any workaround or solution for this issue. This is not a coreclr issue but gdb issue. However it seems that current structure of coreclr make it harder to debug multiple JIT module at the same time.

For ARM32, I'm using two JIT module in coreclr to run application, i.e. legacy

[2017-06-07 06:34] chunseoklee commented on #12076
I found that two semaphore of debugee's and debugger' have different address(00007F67DE8B4000 vs 00007F0104045000).
log is based on https://github.com/chunseoklee/coreclr/commit/e284bc2de6f9ac81c59bc2ce41bca80c50576396
[code]

[2017-06-07 06:42] mikem8361 commented on #12076
Of course, they would have different addresses, they are in different processes/address spaces. Sorry, I haven’t had any time to look at this, but maybe tomorrow.

[2017-06-07 07:15] #11850 closed

[2017-06-07 07:15] mskvortsov commented on #12131
The documentation (https://sourceware.org/gdb/current/onlinedocs/gdb/Files.html) mentions these commands for example:

[2017-06-07 07:17] BruceForstall commented on #12131
@janvorli @mikem8361 Any suggestions?

[2017-06-07 07:49] jskeet commented on #11979
Just noticed I wasn't running the Release build in the original repo - when I do, the times are faster (on Linux anyway) but the same general pattern emerges. Now installing 2.0 preview 1...

[2017-06-07 07:55] jskeet commented on #11979
Okay, confirmed it still seems to be a problem under 2.0 preview 1. Running with -c Release:

10 threads: 3.42s
20 threads: 6.10s
30 threads: 17.89s

[2017-06-07 09:25] azhmur opened #12134 "FileStream.SetLength doesn't return file pointer to orginal value on failure"
In case someone need reserve disk space before writing to file obvious strategy is following:

[code]

But unfortunately on real out of disk space situation SetLength doesn't restore position, so on next interation succesfull SetLength restores incorrect position (EOF) and Write goes beyong supposed end of file.

I suppose add try/finally statement for position restoration in SetLengthCore, to mak

[2017-06-07 11:49] hqueue commented on #12131
@mskvortsov Thanks it works :)
We can manually exploit `nosharedlibrary`  and `sharedlibrary regex` to unload existing type information and load new symbol from `libprotojit.so`.

[2017-06-07 12:56] jeremydmiller commented on #12111
@jkotas I don't think that's the case. It's a different exception, and the "fix" in that issue was to upgrade to a later preview version of the sdk, whereas I'm running on 1.0.3. I still think there's an incompatibility issue between dependencies, but I can't even determine the assembly/nuget where the `BinaryCompatibility` class lives to help track down the version mismatches. I can definitely se

[2017-06-07 14:12] jkotas commented on #12111
The BinaryCompatibility class was internal class in System.Private.CoreLib: https://github.com/dotnet/coreclr/blob/release/1.0.0/src/mscorlib/src/System/Runtime/Versioning/BinaryCompatibility.cs. All it did was to call GetCustomAttributes() on your app .exe. You should be able to see the same problem if you add `typeof(Program).GetTypeInfo().GetCustomAttributes()` to your Main method.

I see that

[2017-06-07 14:59] stephentoub commented on #12134
cc: @JeremyKuhne

[2017-06-07 15:24] tannergooding opened #12135 "Document code patterns that might get optimized by the JIT"
There are certain code patterns that are explicitly recognized by the JIT which will get optimized into more optimal instructions.

As an example, RyuJIT now recognizes a few common patterns which get optimized into the rotate hardware instructions, rather than separate ShiftLeft, ShiftRight instructions (https://github.com/dotnet/coreclr/issues/1619).

However, there are always caveats to each pa

[2017-06-07 15:31] mikedn commented on #12135
I'm not sure how this would help anyone. There is no guarantee that the JIT always recognizes those patterns it knows, the only way to be sure is to check the generated assembly code.

[2017-06-07 15:37] tannergooding commented on #12135
@mikedn, there are certain patterns that should always be recognized if the hardware supports it.

There are also patterns which really should be supported but aren't today, and that isn't obvious either.

For example, I would expect that the following code pattern is recognized and optimized into a single `idiv` instruction (since `idiv` computes both the quotient and remainder simultaneously).
[

[2017-06-07 15:40] tannergooding commented on #12135
https://github.com/dotnet/coreclr/issues/3439 tracks the idiv issue

[2017-06-07 15:42] tannergooding commented on #12135
https://github.com/dotnet/coreclr/issues/12090 tracks making CodeGen recognize FMA patterns

[2017-06-07 15:55] mikedn commented on #12135
That may be true in an offline compiler. It's not necessarily true in a JIT.

The `idiv` thing is a good example. It wasn't and it still isn't trivial to recognize that pattern and generate code for it.

Usually it's the other way around, people come up with a list of missing things and then decide what's worth adding. Nobody's going to add things just because they are missing.

[2017-06-07 16:08] tannergooding commented on #12135
In my mind, the current process is:
1. Writing code, preferring readability over anything else
2. Profiling code to determine hotspots
3. Investigating those hot spots to determine what is wrong
4. Finding places that are producing sub-optimal assembly
5. Logging bugs for the sub-optimal assembly generation

Now, if we had some documentation listing recognized code patterns, I could insert additio

[2017-06-07 16:12] mikedn commented on #12135
And as I already stated, due to certain implementation details there is no way for the JIT to guarantee that documented patterns are always recognized.

[2017-06-07 16:15] BruceForstall commented on #10421
I measured the total impact of noway_assert using instruction counts over SuperPMI collections of the dotnet/coreclr testbed, by removing noway_assert from release build. I saw a 1.03% overhead from noway_assert using normal optimization, and a 0.74% overhead from noway_assert using MinOpts.

[2017-06-07 16:22] BruceForstall commented on #10421
The top 11 noway_asserts here are over 50% of the dynamic count, so converting these few to simple assert I would expect to see up to 0.5% throughput improvement.

[2017-06-07 16:26] tannergooding commented on #12135
Even if it isn't guaranteed (a disclaimer can always be added at the top of the documentation), it is still a resource that can help users diagnose why the generated code is sub-optimal.

If the pattern is not recognized by the JIT at all:
* A bug can be logged as the JIT could potentially be improved by recognizing this pattern
-and/or-
* The user can try rewriting their code to be manually optim

[2017-06-07 16:29] tannergooding commented on #12135
Additionally, due to the fact that the JIT can't guarantee that a pattern is always recognized, it is all that more important for certain intrinsic functions to be added so that the guarantee can be made, these could (and should) be documented on the same page.

Users can look at the page and say, oh if I follow this pattern my code might perform better (but it should preform no worse than what it

[2017-06-07 16:35] mikedn commented on #10421
What's the story of this `noway_assert` thing anyway? How was decided where to use `assert` and where to use `noway_assert`?

[2017-06-07 16:47] BruceForstall commented on #10421
As I understand it, `assert` was converted to `noway_assert` automatically or semi-automatically. I actually don't know how they determined which were to be converted. Theoretically, we should not have any noway_assert unless a re-compilation with MinOpts would avoid repeating the condition (since that's the main benefit of noway_assert). But that's hard to tell sometimes. So we have to make a cal

[2017-06-07 17:18] mikem8361 commented on #12131
I don't know very little about gdb and next to nothing about the gdb JIT support. Sorry.

[2017-06-07 17:19] mikem8361 commented on #12098
Fixed in master and 2.0.0.

[2017-06-07 17:19] #12098 closed

[2017-06-07 17:28] vkvenkat opened #12137 "Incorrect result from Math.Round method"
The Math.Round method is expected to round a double-precision floating-point value to the nearest integral value based on the description in https://msdn.microsoft.com/en-us/library/wyk4d9cy(v=vs.110).aspx.
So, Math.Round(0.50000000000000011102230246251565404236316680908203) should return the nearest integer, 1. Instead it returns 0 on Windows and Ubuntu.

We end up calling the COMDouble::Round me

[2017-06-07 17:33] weshaggard commented on #11248
When I did the work originally I left it as "portable" to try and not break existing usages, however if coreclr and corefx are using `PortableBuild=false` then it would be easy to do the same in corefx to keep consistency. In fact feel free to do it in your https://github.com/dotnet/corefx/pull/20761 if you want to make it consistent.

[2017-06-07 17:50] lt72 commented on #12110
@noahfalk: PTAL

[2017-06-07 18:44] gbalykov commented on #11363
@jkotas

We are planning to open pull request with changes, which reduce amount of relocations in SECTION_Readonly, which itself contains some relocations for MethodTable, especially, virtual table slots. Could you, please, advise some benchmarks to test performance of such changes?

[2017-06-07 18:56] noahfalk commented on #12110
@lt72 - Its a known pre-existing issue that this doesn't work properly, but it would be good to fix. Working around it isn't pleasant and we definately can't afford to have tiered jitting cause a similar impact.

[2017-06-07 19:07] helloguo opened #12141 "[Linux] Low CPU utilization due to the return value of GetCurrentProcessCpuCount"
When running TechEmpower Plaintext benchmark on a Linux machine with 88 logical cores, the low CPU utilization is observed.  The reason is that the GC thread number is limited to 64 because the return value of GetCurrentProcessCpuCount is cut to 64.

In gc.cpp

[code]

In util.cpp, https://github.com/dotnet/coreclr/blob/master/src/utilcode/util.cpp#L1290-L1291
[code]

https://github.com/dotnet/cor

[2017-06-07 19:14] swgillespie commented on #12141
cc @Maoni0

[2017-06-07 19:20] AndyAyersMS commented on #12110
@noahfalk can you expound a bit more on *why* it doesn't work, and roughly what needs to be fixed?

[2017-06-07 19:25] jorive opened #12143 "CoreFx Linux Performance baseline should be updated automatically"
Currently, the commit hash is hardcoded in this line:
https://github.com/dotnet/coreclr/blob/master/tests/scripts/perf-prep.sh#L76

[2017-06-07 19:47] Maoni0 commented on #12141
@helloguo thanks for doing this work. The comment for GetCurrentProcessCpuCount is certainly incorrect - GC can use > 64 The way GC uses > 64 heaps is via the CPU groups (BTW, the work to enable CPU groups in CLR was actually done by Intel folks) which is a thing on Windows but I suppose there's no such term on Linux.

@janvorli could you please take a look at this and make sure that when we retur

[2017-06-07 20:01] tannergooding commented on #757
@CarolEidt, I'm actually wondering why this would require more pervasive changes?

I would think that instructions like `idiv` should already document (via some metadata) that they end up writing two registers, correct? As without this being carried around by the code generator, it would potentially end up overwriting the second argument of the parameter list whenever it generates the `idiv` instr

[2017-06-07 20:40] noahfalk commented on #12110
The issue I'm aware of (which may not be the only issue present) is a lock ordering problem. We've got both the original IL->native offset data and the rejit provided IL'->IL mapping data, but they are in data structures the code can't easily access due to lock ordering. I'm guessing a potential solution is to avoid dealing with the cached IL->native data held under the debugger lock and instead g

[2017-06-07 20:42] noahfalk commented on #12110
If someone is planning on working on this in the near term I'm happy to go into more detail, I just didn't expect this would get any traction right away.

[2017-06-07 20:56] briansull opened #12146 "crossgen warning - Vararg calling convention not supported. while compiling method String.Concat"
We should either Fix or Hide this warning

To Repro:

crossgen System.Private.CoreLib.dll

[2017-06-07 21:03] AlekseyTs opened #12147 "Default Interface Implementation: Unexpected System.NotSupportedException from runtime"
CC @yizhang82

Compile and run the following code:
[code]

Observed:
[code]

Expected output:
[code]

Here is IL for the assembly:
[code]

[2017-06-07 21:09] yizhang82 commented on #12147
@AlekseyTs Yep. This looks like a bug. I think my implementation is a bit too eager to fail (it most likely fails immediately when it sees "incompatible" I2, I3 and didn't see that I5 is the better choice). Thanks for reporting the issue!

[2017-06-07 21:25] AlekseyTs opened #12149 "Default Interface Implementation: Unexpected behavior at runtime"
CC @yizhang82

Compile and run the following code:
[code]

Observed:
[code]

Expected:
[code]

Here is the IL for the assembly:
[code]

[2017-06-07 21:41] #12126 closed

[2017-06-07 21:47] yizhang82 commented on #12149
@AlekseyTs Thanks for reporting this. Most likely GVMs are not handled correctly today...

[2017-06-07 21:48] jkotas commented on #11363
- Targeted micro-benchmark that just makes virtual calls can help you understand raw per-call overhead
- https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/performance-tests.md can help you understand impact on higher level code

[2017-06-07 22:12] briansull opened #12151 "crossgen warning - ReadyToRun: Implicit boxing for calls to constrained methods not supported"
We should either Fix or Hide this warning

To Repro:

crossgen /Platform_Assemblies_Paths . System.Private.Xml.dll
crossgen /Platform_Assemblies_Paths . System.Collections.Immutable.dll
crossgen /Platform_Assemblies_Paths . System.Data.Common.dll
crossgen /Platform_Assemblies_Paths . System.Data.SqlClient.dll
crossgen /Platform_Assemblies_Paths . System.IO.Compression.dll
crossgen /Platform_Assemb

[2017-06-07 22:16] briansull opened #12152 "crossgen warning - Target-dependent SIMD vector types may not be used with ngen."
We should either Fix or Hide this warning

To Repro:

crossgen /Platform_Assemblies_Paths . System.Numerics.Vectors.dll
crossgen /Platform_Assemblies_Paths . Microsoft.AspNetCore.Server.Kestrel.Transport.Abstractions.dll

[2017-06-07 22:17] briansull opened #12153 "crossgen warning - ReadyToRun: JIT helper not supported: CORINFO_HELP_MON_ENTER"
We should either Fix or Hide this warning

To Repro:

crossgen /Platform_Assemblies_Paths . System.Runtime.Extensions.dll

[2017-06-07 22:36] briansull commented on #12093
This is related to Span

[2017-06-07 23:16] MichalStrehovsky opened #12154 "Crossgen: Assertion failed 'varNum < comp->lvaCount' in 'Program:CallUnsafeOnCompleted(ref,byref)' (IL size 25)"
[code]

When crossgen'd with `COMPLUS_NGenDump=CallUnsafeOnCompleted` the above program asserts with the assert in bug title.

NGenDump for the asserting method: [test.txt](https://github.com/dotnet/coreclr/files/1059539/test.txt)

[2017-06-07 23:40] mikem8361 commented on #12076
I took your "debugger" sample code (added a very long Sleep at the end of main()) and your target app and try them with the latest .NET Core 2.0.0 and everything worked fine.  This is also on Ubuntu 14.04/x64.

We have quite a few debugger tests that launch/debug on .NET Core 2.0.0 that have been running successfully. I assume there is something else going on here that outside of the example code

[2017-06-08 00:34] hqueue commented on #11958
Fixed by #11205

[2017-06-08 00:34] #11958 closed

[2017-06-08 02:08] hqueue commented on #12078
@BruceForstall Please assign this to me. Thanks.

[2017-06-08 02:08] shaggygi opened #12159 "[Question] Will UWP6.0 Milestone Support Windows IoT"
Does anyone know if this [milestone](https://github.com/dotnet/coreclr/milestone/11) will support .NET Core for Windows IoT UWP apps that runs on RPi3 or is the focus more for desktop?

CC @karelz

Thx

[2017-06-08 08:27] hseok-oh commented on #11837
I think we can close this issue.

[2017-06-08 08:54] gbalykov commented on #11363
@jkotas, thank you!

[2017-06-08 10:04] parjong commented on #12129
It is interesting that this does not happen when I run build.cmd inside powershell.

[2017-06-08 11:09] hqueue commented on #11851
@BruceForstall Please assign this to me. It's LSRA issue.

[2017-06-08 11:15] hqueue commented on #11851
The reason of this assertion is due to wrong copy inserted while resolving edges during register allocation.
I'm now working on it and  will make a PR when ready.

[2017-06-08 15:49] RussKeldorph commented on #11503
@wtgodbe Are you sure this is fixed?  I'm seeing the same failures: https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_ubuntu_pri1r2r_tst/1957/

[2017-06-08 16:47] #11928 closed

[2017-06-08 16:52] dpodder opened #12166 "perf.groovy fails to sanitize PR name properly"
In perf.groovy, we do something along the lines of:
[code]
This breaks when `benchviewName` (which contains the PR title) contains characters like `<` or `>`. To work around these misinterpretations, `benchviewName` (and all other variables that contain strings coming from the PR or user) need to be double-quoted where defined *and* where used.

[2017-06-08 16:58] dpodder commented on #12166
For discoverability: errors that cascade from this can look like:
`Specified submission-metadata json file "..\submission-metadata.json" does not exist.`

[2017-06-08 16:58] tannergooding commented on #6906
I think the current issues are as follows:
* The current APIs are very geared towards gaming/multimedia based frameworks and a lot of the intrinsics that are available simply won't mesh well.
* There are also a large number of APIs currently exposed on the `System.Numerics.Vector` types that simply don't make sense for general-purpose use (DotProduct, Length, Distance, etc).
* In the total set of

[2017-06-08 17:04] helloguo opened #12169 "Spin Count in GC"
In gc.cpp, there are a few places using the number of processor to get the spin count. e.g.

[code]

Since the number of processors are not necessarily same as the number of GC threads (e.g. https://github.com/dotnet/coreclr/pull/6104 adds System.GC.HeapCount to specify GC thread counts by config), it makes more sense for me use the number of GC threads to calculate spin count.

Should I fix it?

[2017-06-08 17:05] helloguo commented on #12169
cc @Maoni0

[2017-06-08 17:10] RussKeldorph commented on #12154
@dotnet/jit-contrib

[2017-06-08 18:05] swgillespie opened #12170 "[Local GC] Handle table and the DAC"
This is an issue that @adityamandaleeka ran into a little while ago. The DAC has deep knowledge of the GC's handle table:
* It is aware of the global handle table map instance, `g_HandleTableMap`
* It calls `GetDependentHandleSecondary` on handles in the target process
* It calls `HndGetHandleExtraInfo` on handles in the target process

Today, this is not a problem; the GC DAC build compiles the a

[2017-06-08 18:22] dpodder opened #12171 "tests/scripts/optdata/bootstrap.py broken on Linux"
#11935 introduced two Linux-specific bugs to `tests/scripts/optdata/bootstrap.py`:
1. The folder path under packages is not properly lowercased
2. It suggests to run build with `skiprestoreoptdata`. Passing this switch disables parsing the package version from csproj, and as a result the build cannot find the counts and disables PGO.

Care needs to be taken particularly when fixing the second bug,

[2017-06-08 18:45] Maoni0 commented on #12169
That's intentional. There can be threads running on other processors too. We don't assume only GC threads are running.

[2017-06-08 19:09] wtgodbe commented on #11503
Huh. Right you are, I'll reopen my old PR & see if I can get it working.

[2017-06-08 19:54] #11952 closed

[2017-06-08 20:05] KirillOsenkov opened #12174 "Possible deacklock in type loader"
See the original issue manifesting as a deadlock in Roslyn:
https://github.com/dotnet/roslyn/issues/20036

Dump is on corpnet at:
\mlangfs1\public\kirillo\cschang

[code]

cc @gkhanna79 @kouvel

[2017-06-08 20:37] #12154 closed

[2017-06-08 20:49] sandreenko opened #12176 "init-tools doesn't show an actual error"
If Set-ExecutionPolicy is set to restricted, that init-tools.log will have such message:

C:\git\coreclr\packages\microsoft.dotnet.buildtools\2.0.0-prerelease-01702-02\lib\init-tools.ps1 cannot be loaded
because running scripts is disabled on this system. For more information, see about_Execution_Policies at
http://go.microsoft.com/fwlink/?LinkID=135170.

However, build.cmd output will be clean be

[2017-06-08 20:51] sandreenko commented on #12176
@dotnet/jit-contrib could you please add necessary people here?

[2017-06-08 21:27] safern opened #12178 "ResourceManager should restore logic for when to use satellite resource lookup under AppX"
We should change ResourceManager.cs to do https://github.com/dotnet/coreclr/pull/12117/files#diff-eb71ec85c8bb94ecf707440b98c59716R894 once we fix our uap test runner to reprocess the test resources into PRI so that ResourceManager string loading works correctly inside APX.

cc: @jkotas

[2017-06-08 23:37] salrashid123 opened #12182 "build-test.sh fails due to file encoding"
I'm trying to build the test suite (build-test.sh) on a workstation with the following but it looks like the file encoding is non utf-8 and the build fail:

[code]
when i try to build the coreclr test suite i kept seeing the following...

[code]
for example, for

vi tests/src/JIT/Directed/Convert/FPZero.cs

you'll see fileencoding=latin1

[code]

or

[code]
if i change that to utf-8, the build pas

[2017-06-08 23:45] karelz commented on #12159
RPi3 is community support in 2.0: https://github.com/dotnet/core/blob/master/roadmap.md#net-core-20---supported-os-versions
Probably also in 2.1 - @Petermarcu will know for sure.

[2017-06-08 23:53] JosephTremoulet commented on #12176
Looks like the [line that invokes init-tools.ps1](https://github.com/dotnet/buildtools/blob/7973947fa359f99bd5e408955da8770274c469bc/src/Microsoft.DotNet.Build.Tasks/PackageFiles/init-tools.cmd#L122) that @mellinoe added in dotnet/buildtools#1422 doesn't pass `-ExecutionPolicy unrestricted` (or `-NoProfile`) to powershell like the [similar cmd -> powershell invocations](https://github.com/dotnet/c

[2017-06-08 23:54] brianrob opened #12183 "Release/2.0.0 Performance Tests Pull Dependencies from Master"
https://github.com/dotnet/coreclr/blob/master/tests/scripts/perf-prep.sh#L83 hardcodes the location of dependencies (both CoreFX and CoreCLR tests).  This results in invalid performance runs.

Fixed by #12180.

[2017-06-08 23:55] mellinoe commented on #12176
Sounds reasonable to me. Could you file an issue over in https://github.com/dotnet/buildtools to track this?

[2017-06-09 00:26] redknightlois commented on #9692
This is a common and measurable optimization on our tightest code. Definitely a win if we can avoid writing so many go-to statements.

[2017-06-09 00:34] shaggygi commented on #12159
Thanks @karelz for reply.  @Petermarcu let me provide a little more insight to help with my question.

First, I mentioned .NET Core in original post, but I meant .NET Standard.  I have a .NET Standard 2.0 (Preview) API and would like to use in a Windows IoT UWP app on RPi3.  In addition, the app uses UWP specific Device APIs (Bluetooth, Serial, other I/O hardware, etc.).

I noticed there is an [ex

[2017-06-09 00:44] #12166 closed

[2017-06-09 01:03] JosephTremoulet commented on #12176
Filed dotnet/buildtools#1557, thanks

[2017-06-09 01:04] yizhang82 commented on #12176
I'm seeing this too on a fresh box today and couldn't figure out why. Please fix this. Thanks!

[2017-06-09 05:24] jyoungyun commented on #11248
@gkhanna79

I just uploaded the CoreCLR packages to nuget.org. And I confirmed that an app restores `Microsoft.NETCore.Runtime.CoreCLR` with `2.0.0-preview1-25301-02` version successfully by using nuget feed.

[2017-06-09 05:48] hqueue commented on #11783
With recent commit be21b511fc3ee42a2db1c8ce70499efd8d82d37e.

Same assertion failure.
[code]

Different assertion.
[code]

Passed.
[code]

[2017-06-09 05:49] hqueue commented on #11849
With recent commit, following test is also failed with same assertion.

[code]

[2017-06-09 06:06] hqueue commented on #11838
Update with  recent commit be21b511fc3ee42a2db1c8ce70499efd8d82d37e

Checked build and ran on Rpi3.

Same assertion obaserved in one test.
[code]

Other assertion.
[code]

[code]

[code]

[2017-06-09 07:30] sandreenko commented on #12182
cc @rartemev

[2017-06-09 08:08] tuxdna commented on #4087
I am also observing the same issue on Fedora 25

[code]

[2017-06-09 08:09] janvorli opened #12190 "Build of tests doesn't work with VS2017"
When building coreclr on Windows with VS2017 from VS2017 command prompt, the build of coreclr itself passes ok, but the build of tests that follows fails completely. The following error keeps getting repeated hunreds times:
    15>D:\git\coreclr\Tools\Microsoft.CSharp.Core.targets(106,11): error MSB4064: The "OverrideToolHost" parameter is not supported by the "Csc" task. Verify the parameter exis

[2017-06-09 08:09] janvorli commented on #12190
CC: @wtgodbe, @weshaggard

[2017-06-09 08:17] janvorli commented on #4087
This error code means a managed exception happened during the initialization. @tuxdna would you be willing to run it under strace (`strace -f dotnet new console app1 > log.txt 2>&1`) and share the resulting log via gist (https://gist.github.com/)?

[2017-06-09 08:34] janvorli opened #12192 "Make CoreCLR dependency on libnuma on Unix soft"
Currently, when CoreCLR is built on a machine with libnuma dev package installed, it gets explicit dependency on libnuma. So it won't run on a Linux without this library installed. I would like to eliminate this hard dependency and make it soft by loading the libnuma via dlopen if it is present, but working fine without any numa support if the library is not installed.

[2017-06-09 08:50] hqueue commented on #11847
@BruceForstall Please assign this to me. Thanks.

[2017-06-09 09:43] tuxdna commented on #4087
@janvorli Thanks for your quick response. Below is the the strace output:

[log.txt](https://github.com/dotnet/coreclr/files/1063618/log.txt)

Seems like there are a bunch of ENOENT entries. I am not sure which one is causing the failure though.

[2017-06-09 09:51] tuxdna commented on #4087
@janvorli Also added the same logs in this gist, with steps to reproduce on Fedora 25 - https://gist.github.com/tuxdna/0ca17677eaa7c81f661b2122cdb050af

[2017-06-09 14:02] gkhanna79 commented on #11248
@jyoungyun I simply asked that because we do not plan to upload to nuget until we decide on the build that will be shipped. Is there a reason you are not using myget feed for Tizen for this purpose?

[2017-06-09 14:47] janvorli commented on #4087
@tuxdna I can see what's causing the problem. The /opt/dotnet/shared/Microsoft.NETCore.App/1.1.2/System.Globalization.Native.so fails to load since it depends on ICU libraries version 56, but they are not present on your system. The package that you have downloaded was for Fedora 24 that has ICU version 56. We don't have a dotnet 1.1.2 version for Fedora 25 that uses a newer version of ICU.
The do

[2017-06-09 15:13] JosephTremoulet commented on #4331
Also #12193

[2017-06-09 15:32] sdmaclea opened #12197 "[Arm64] COMPlus_gcServer=1 fails"
I only ran one test, but it failed.  (Passes when gcServer=0)

[code]

Relevant section of the backtrace
[code]

[2017-06-09 15:33] brianrob commented on #12183
Fixed via #12180.

[2017-06-09 15:33] #12183 closed

[2017-06-09 15:37] tuxdna commented on #4087
@janvorli Thanks for your pointers.

I did setup 2.x preview as per your link. It works for me, thanks!

[2017-06-09 15:56] sdmaclea commented on #12197
@Maoni0 @swgillespie @jkotas @dotnet/arm64-contrib

Looks like maybe the issue is that JIT_Stelem_Ref_Portable is not compatible with gcServer=1

[2017-06-09 16:51] #10970 closed

[2017-06-09 17:12] jkotas commented on #12197
I do not think so. This looks like a GC heap corruption that happened earlier, and the assert in `JIT_Stelem_Ref_Portable` just happened to catch it.

[2017-06-09 17:26] sdmaclea commented on #12197
@jkotas I will investigate further

[2017-06-09 17:54] sdmaclea opened #12199 "[Arm64] Assert in crossgen of Microsoft.CodeAnalysis.dll"
This is a new crossgen failure in `8763ef5f`
[code]

[2017-06-09 18:00] sdmaclea commented on #12199
Last know good version `0d7c2d1`

@dotnet/arm64-contrib @dotnet/arm32-contrib FYI

@CarolEidt Is this likely related to "Make containedness explicit"

[2017-06-09 18:11] CarolEidt commented on #12199
Yes, quite possibly. This is crossgen of arm64, right? I'll have a look.

[2017-06-09 18:20] sdmaclea commented on #12199
Yes it is crossgen of arm64.

[2017-06-09 18:32] AndyAyersMS commented on #11607
Eugene has some evidence that 32 byte alignment matters for hot loops on recent CPUs. More crucial when loop bodies are small.

We'd also, as a prerequisite, need to align method entries. Right now for x64 we always use 8 byte alignment (while somewhat oddly, on x86, we do things differently).

R2R images don't honor alignment requests (fragile NIs do though).

I would like to to collect some dist

[2017-06-09 18:40] jeremydmiller commented on #12111
@jkotas Thanks for you help. I was never able to get past the phantom `BinaryCompatibility` problem, but switching to using Kestrel instead of raw sockets for inter-process communication got me working again. I'm closing this one.

[2017-06-09 18:43] Maoni0 commented on #12197
yeah, those 2 are orthogonal.

[2017-06-09 19:01] sdmaclea commented on #11018
@jkotas Fixed by #11413 can be closed

[2017-06-09 19:04] sdmaclea commented on #12199
Fixed by #12189

@CarolEidt @mskvortsov Thanks

[2017-06-09 19:04] #12199 closed

[2017-06-09 19:08] #11018 closed

[2017-06-09 19:55] wtgodbe commented on #12190
This is a dup of https://github.com/dotnet/coreclr/issues/11914 - I am looking into it. I put up https://github.com/dotnet/coreclr/pull/12175 to try to fix it, but looks like it caused/uncovered more errors down the line. I'm hoping Wes knows more about what's causing them

[2017-06-09 20:26] wtgodbe opened #12202 "Use Xunit wrappers to run tests on non-Windows"

[2017-06-09 20:34] AndreyAkinshin opened #12204 "[Question] How to detect .NET Core version at runtime"
I would like to get the .NET Core version at runtime. Is there a proper API?

The original problem:  https://github.com/dotnet/BenchmarkDotNet/issues/448

[2017-06-09 21:05] brianrob opened #12205 "Large Amount of Spinning during ETW Collection and JIT Compilation"
When ETW collection is enabled and there are multiple concurrent JIT operations, Crst can spin a good amount of the time.

Here's an example stack:

clr.dll!CrstBase::SpinEnter
clr.dll!CrstBase::Enter
clr.dll!CrstBase::CrstHolder::CrstHolder
clr.dll!UnwindInfoTable::AddToUnwindInfoTable
clr.dll!CEEJitInfo::allocUnwindInfo
clrjit.dll!Compiler::unwindEmitFuncHelper
clrjit.dll!Compiler::unwindEmit
cl

[2017-06-09 21:24] swgillespie opened #12207 "Access violation on Windows PGO Release builds compiled by VS2015"
From the Long GC CI job:

[code]

Will try and get a local repro.

[2017-06-09 22:04] swgillespie commented on #12207
cc @Maoni0 @sergiy-k @adityamandaleeka

Unfortunately the Windows Long GC jobs on both master and release/2.0.0 are red right now because of this issue. I can repro the crashes on my machine and they all seem to be due to https://github.com/dotnet/coreclr/issues/11282, which is unfortunately a Windows bug. Both release/2.0.0 and master CI jobs began failing on the same day, despite not sharing cod

[2017-06-09 22:24] #12037 closed

[2017-06-09 22:36] sandreenko opened #12211 "build.cmd for x86 tries to use VS2010 tools"
It was fine several days ago.
but now:
`build.cmd x86 debug skiptests`
[code]

[2017-06-09 22:37] sandreenko commented on #12211
cc @JosephTremoulet, @mellinoe . Is it a known issue?

[2017-06-09 22:43] sandreenko commented on #12211
Works fine with "build x64 Debug".

[2017-06-09 22:46] Maoni0 commented on #12207
I agree that most likely it's due to that OS bug. it would be good to verify that it's indeed the case.

Is there a way to prevent our CI machines from being upgraded to RS2 before the OS bug is fixed?

[2017-06-09 22:47] swgillespie commented on #12207
@mmitche Would you know anything about the windows machines getting upgraded to RS2?

[2017-06-09 22:49] mmitche commented on #12207
@MattGal Knows something about this (I think the answer is no)

[2017-06-09 22:53] mellinoe commented on #12211
I'm not really familiar with it, but that does seem unusual. Did you install anything in the past few days?

[2017-06-09 22:57] swgillespie commented on #12207
Here's the machine that ran the last successful LongGC run:

[code]

And the first failure:

[code]

Both `win2012-20170531`, which is strange to me. I can try to grab a copy of this VM and see if the thread redirect issue repros on it.

[2017-06-09 22:59] sandreenko commented on #12211
I reinstalled .Net CoreSDK 1.0.4 and 2.0, I deleted nuget cache and did "git clean -qfdx" many times.

[2017-06-09 23:01] RussKeldorph commented on #12135
@dotnet/jit-contrib

A noble cause, but I have a hard time believing the time wouldn't be better spent creating and harnessing micro-benchmarks containing said patterns that can be monitored for regressions and moved strictly forward in performance over time.  You'll never convince me that we'll manage to keep a doc in synch with optimizer source at this level long term.

The intrinsic idea has me

[2017-06-09 23:06] swgillespie commented on #12207
Or not, apparently you can't get that image on DDJenkinsDTL. 😢

[2017-06-09 23:07] rartemev commented on #12182
Fixed

[2017-06-09 23:07] #12182 closed

[2017-06-09 23:27] JosephTremoulet commented on #12211
No, this doesn't ring any bells for me, sorry.

[2017-06-09 23:32] mellinoe commented on #12211
Hm, I wouldn't expect any of that (except maybe `git clean`) to affect the native build or the native C++ targets.

I'm not able to repro this on my machine, everything seems to be working okay. Any chance your shell is in a weird state and has some bizarre environment variables set?

[2017-06-09 23:34] sandreenko commented on #12211
Yes, something was wrong with the shell, I did git clean one more time and reboot PC, it helped.
Thanks.

[2017-06-09 23:34] #12211 closed

[2017-06-09 23:46] mmitche commented on #12207
@swgillespie is win2012-20170303 in there?

[2017-06-09 23:48] swgillespie commented on #12207
@mmitche Doesn't look at it, the most recent one I see is `win2012-20161027-osDisk-040bfe4c-ae78-4703-ac8c-d3a8f839fee3`. The most recent ones I see without the osDisk suffix are `win2012-20160824`.

[2017-06-09 23:50] mmitche commented on #12207
0824 should be roughly equivalent.  YOu

From: Sean Gillespie [mailto:notifications@github.com]
Sent: Friday, June 9, 2017 4:48 PM
To: dotnet/coreclr <coreclr@noreply.github.com>
Cc: Matt Mitchell <mmitche@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/coreclr] GC/Features/SustainedLowLatency test AV (#12207)
Importance: High

@mmitche<https://na01.safelinks.protection.o

[2017-06-10 01:15] swgillespie commented on #12207
Thanks, trying out that VM now.

Locally, I did a build of CoreCLR without CFG and the crash did not repro, so I think that's a confirmation that this issue is indeed the OS issue. On Monday I'll investigate the VM I have and see if it still repros there as well. Also on Monday it would be good to see if it's possible for us to restrict which versions of Windows we run on until this bug is fixed;

[2017-06-10 15:36] am11 commented on #12204
Seems like dontet-cli also reflects over its executing assembly version to get the version: https://github.com/dotnet/cli/blob/cc80822c/src/Microsoft.DotNet.Cli.Utils/Product.cs. The CoreFX issue for the proposed API is apparently awaiting a compelling use-case: dotnet/corefx#17452. Perhaps, you can chime in with yours. :)

I tried using the suggested `AppContext.TargetFrameworkName` property in c

[2017-06-11 14:34] TingluoHuang opened #12217 "Self-Contained dotnet core 1.1 app crash on Darwin 17.0.0 (macOS High Sierra)"
We have few customers reported that they can not configure the [VSTS-Agent](https://github.com/Microsoft/vsts-agent) on macOS High Sierra. Application will crash on making http call with error `Segmentation fault: 11`

We have asked customer to collect app crash log, please check the following issue for detail.
https://github.com/Microsoft/vsts-agent/issues/1007

Is there anyway we can help custom

[2017-06-11 15:18] Ashiko124 commented on #113
For someone who is knew to this stuff. I would also like to add just search for how to alter an environmental variable and it will show you how to change one. Helped fix my program thank you all so much!

[2017-06-11 15:28] karelz commented on #12159
UWP6.0 will enable .NET Standard 2.0 in UWP context. Windows IoT suports UWP, so it should naturally flow there (assuming you have the right OS version - Win10 Fall Creators Update, see [details](https://github.com/dotnet/core/blob/master/roadmap.md#ship-dates)).

.NET Core 2.0 on RPi3 should be able to use all APIs which are accessible outside of UWP context. Your question on availability of UWP

[2017-06-11 20:51] ellismg commented on #12217
Looks like https://github.com/dotnet/core-setup/issues/2649, @bartonjs @Petermarcu

FWIW, I think this is blocking us bringing up macOS High Sierra in our VSTS labs.

[2017-06-12 00:00] bartonjs commented on #12217
Yep, looks like the same OpenSSL+LibreSSL not playing nicely together (via libcurl).

I believe backporting https://github.com/dotnet/corefx/pull/19493 would fix this.  (Unless libcrypto.35.dylib (LibreSSL) claims to be "openssl/1.0" for the cURL TLS provider string, in which case we'd need to just disable talking to OpenSSL altogether on High Sierra, which is essentially our 2.0 fix).

[2017-06-12 03:35] jyoungyun commented on #11248
@gkhanna79 For development, we are using Tizen myget feed. When you decide on the build that will be shipped, we will upload the same version to nuget. Preview1 was already uploaded to nuget before our infra setup. But our Tizen development want to restore Preveiw1 for Tizen by nuget feed so I just uploaded them. I just want to put nuget on the same set of things you upload to reduce the chaos of

[2017-06-12 04:58] parjong opened #12218 "[ARM/Linux] System.Threading.Tasks.Tests test failure"
ARM/Linux shows the following error while running Core FX System.Threading.Tasks.Tests:
[code]

[2017-06-12 04:59] parjong commented on #12218
It is possible to reproduce this issue with the following small example:
[code]

[2017-06-12 05:00] parjong commented on #12218
CSE is suspicious:
[code]

[2017-06-12 07:27] alex-fomin opened #12219 "Memory leaks on 1.0.4"
I have detected the huge memory leaks in .net app running on Amazon Linux.

[code]

The process info from `top`:
[code]

lldb + libsosplugin shows very low memory consumed by GC:

[code]

`sos VerifyHeap` shows no errors.

The app perform huge amount of http requests via HttpClient and store results in MongoDB using latest MongoDB core driver.

The app targets `.netcoreapp1.1` and `centos-7.x64`.

[2017-06-12 15:02] dlech commented on #12029
It looks like no further action is required here, so closing.

[2017-06-12 15:02] #12029 closed

[2017-06-12 15:03] janvorli commented on #12219
@alex-fomin I assume that when you talk about the leak, you mean the "RES" column in the  "top" output. What is the memory consumption that you'd expect here? Is it possible that the Mongo DB consumes that much memory?

[2017-06-12 15:15] alex-fomin commented on #12219
@janvorli Yes, I mean "RES" column. We have a similar app - with intense MongoDB usage and some HttpClient calls - it takes about 500Mb in idle and ~800Mb-1Gb under load. The `top` and `lldb` info was taken when the app was in idle state - no massive http calls and no MongoDB usage.  I assume that MongoDB  (at least unamanaged memory) is not included in the running app - I can see various MongoDB

[2017-06-12 15:33] janvorli commented on #12219
@alex-fomin In the past, I was using the heaptrack tool described here for native memory leaks investigations: http://milianw.de/blog/heaptrack-a-heap-memory-profiler-for-linux.
Memory leaks that would not be obviously visible in the sos reports could be caused by interop issues where the managed code keeps alive a memory structure allocated on the native side even when it is not needed anymore. I

[2017-06-12 16:47] MattGal commented on #12207
Regarding newer builds of Windows, we hoped to support RS2 and RS3 by last week, but image creation has taken longer than expected.  There's a decent chance we'll get it this week.

[2017-06-12 16:59] swgillespie commented on #12207
@MattGal So this is a pretty strange request, but do you think it's possible to delay the upgrade to RS2? RS2 kernel bug https://github.com/dotnet/coreclr/issues/11282 is going to hit us very hard and I suspect that many of our CI runs will be red for a long time because of it.

I was unable to reproduce 11282 on a VM imaged from `win2012-20160824`, though that is not the same image that these tes

[2017-06-12 17:02] swgillespie commented on #12207
Worth noting is that I've confirmed that (per the linked issue) building without control flow guard does work as a workaround. I suppose it could also be an adequate workaround to do CI builds without CFG, though the usual perils of testing non-shipping Release configurations would apply.

[2017-06-12 17:33] pgavlin opened #12224 "Some tests that catch `NullReferenceException` hang on Linux under GCStress=0xC"
The following tests exhibit this behavior:
- tests/src/Interop/MarshalAPI/ReadWrite/ReadWriteByte.csproj
- tests/src/Interop/MarshalAPI/ReadWrite/ReadWriteInt16.csproj
- tests/src/Interop/MarshalAPI/ReadWrite/ReadWriteInt32.csproj
- tests/src/Interop/MarshalAPI/ReadWrite/ReadWriteInt64.csproj
- tests/src/Interop/MarshalAPI/ReadWrite/ReadWriteIntPtr.csproj
- tests/src/JIT/Regression/CLR-x86-JIT/V1-

[2017-06-12 17:38] MattGal commented on #12207
@swgillespie I misinterpreted because I 1) didn't read the thread entirely and 2) mostly deal with people who want RS3 last week :)

Rest assured, since we need to support testing on older Windows builds as well that we will not replace but rather augment the existing support ... that is, RS2+ will be opt-in behavior.  That said, at some point in the future "Windows 10" may mean a greater version

[2017-06-12 17:40] swgillespie commented on #12207
Ah, that's perfect - thank you for clarifying! 😄

[2017-06-12 17:41] swgillespie commented on #12207
I did not reproduce 11282, but I did reproduce another issue on the tip of release/2.0.0 (cc @Maoni0 @sergiy-k for escalation?)

[code]

So, it seems that this test is 100% busted on RS2 and 50% busted on other machines. 😢

I'm currently pursuing two avenues of debugging:

* Building release/2.0.0 with `FEATURE_USE_SOFTWARE_WRITE_WATCH_FOR_GC_HEAP` to test for an OS change in behavior with `GetWri

[2017-06-12 18:42] #10769 closed

[2017-06-12 19:33] swgillespie commented on #12207
cc @dpodder

This test passes when built with VS2015 CL without PGO and passes when built with VS2017 CL, both with and without PGO. Based on that information I suspect that this is a VS2015 CL miscompile when optimizing for size. I have assembly diffs of the three configurations I tested (VS2015 PGO, VS2015 no PGO, VS2017 PGO) but they are different enough that I don't see anything obviously wron

[2017-06-12 20:14] jkotas commented on #1279
This is needed for `Span<T>` to work end-to-end.

[2017-06-12 20:36] #11837 closed

[2017-06-12 21:04] adamfur opened #12230 "StackOverflowException when stacking lambas without variable"
// Fails
Func<bool> f = () => true;

f = () => true && f();
f();

// Works (using a temporary variable)
Func<bool> f = () => true;

var tmp = f;
f = () => true && tmp();
f();

# dotnet --version
2.0.0-preview1-005977

[2017-06-12 21:16] sdmaclea commented on #9517
Merged

[2017-06-12 21:16] #9517 closed

[2017-06-12 21:22] sdmaclea commented on #11969
@Maoni0 I also just noticed it also does not work with gcServer=1.  It is triggering asserts.

In `gc_heap::find_object()` it triggers this assert
[code]

[2017-06-12 21:30] sdmaclea commented on #10800
Attempted to run on an arm64 system with 128 byte cache lines.  Hit this assertion issue https://bugs.kde.org/show_bug.cgi?id=380202

[2017-06-12 21:48] #12141 closed

[2017-06-12 21:50] weshaggard opened #12233 "JIT isinst tests hitting bug in compiler"
In order to unblock some other scenarios (https://github.com/dotnet/coreclr/pull/12175/) we needed to comment out some JIT tests because they were hitting this compiler https://github.com/dotnet/roslyn/issues/14785. Once we update the compiler to the latest version with the fix then these test should be re-enabled.

[2017-06-12 22:07] Maoni0 commented on #11969
Thanks @sdmaclea. I will keep that in mind. Are you seeing this on arm64?

[2017-06-12 22:11] sdmaclea commented on #11969
@Maoni0  Yes, I see it on arm64.  I was going to open a defect, but when I saw this I decided it was not necessary.

[2017-06-12 23:13] swgillespie commented on #12207
To summarize this issue so far:

* There are three GC tests that fail when compiling using VS2015 PGO. One of these tests failed every time and was the subject of this investigation. The other tests fail more sporadically in the CI. Each one fails for me often locally.
* Each of these tests passes when run on a CoreCLR compiled with VS2015 and no PGO.
* Each of these tests passes when run on a Cor

[2017-06-12 23:56] janvorli commented on #12230
@adamfur have you reproduced this on Windows, Unix or both?

[2017-06-13 00:56] #11914 closed

[2017-06-13 00:57] wtgodbe commented on #12233
CC @chcosta

[2017-06-13 05:08] mikedn commented on #12230
That's normal, you're capturing variable `f` so the second lambda calls itself. Keep in mind that in C# lambda expressions capture variables and not variable values.

[2017-06-13 05:36] graemechristie commented on #8758
Is there any update on this @davidwrighton and @jaredpar ? Is there somewhere we can track the progress of the new feature ?

[2017-06-13 06:40] adamfur commented on #12230
@janvorli Same across plattforms, tested on Linux and Windows.
@mikedn sane explanation, closing issue.

[2017-06-13 06:40] #12230 closed

[2017-06-13 10:49] danwalmsley commented on #12101
@mikem8361 I used windbg for now thanks 👍

[2017-06-13 12:22] tmds commented on #11970
Closed by https://github.com/dotnet/coreclr/pull/12056

[2017-06-13 12:22] #11970 closed

[2017-06-13 14:03] jeremydmiller commented on #12111
@jkotas I still can't get past this. Now I've just got it happening deeper in the app.

This code brings out the problem by itself:

[code]

Here's the full stack trace:

[code]

And by iterating over the DependencyContext, here's what's loaded. It's pulling in a bunch of 4.0.* nugets somehow that I'm guessing is the problem, but I can't see anything that would be pulling these in.

[code]

The la

[2017-06-13 14:28] jaredpar commented on #8758
@graemechristie no updates as of yet.  A couple of other items have priority at the moment.  Going to switch back to ANI / other type system innovations later in the summer.

[2017-06-13 16:10] sdmaclea opened #12246 "[Arm64/Unix] FlushProcessWriteBuffers() ??"
Looking at the implementation of `FlushProcessWriteBuffers()` it looks like it makes Intel/Amd specific assumptions about side effects of mprotect.

For Arm64:

The Atomic increment currently uses a Load Acquire Barrier and a Store Release Barrier.  This is functionally equivalent to a `dmb ish`.  It will probably switch to Compare and Swap with Acq/Rel when 8.1 atomics are present.  So the side e

[2017-06-13 16:17] colindembovsky opened #12247 "StaticFiles extension serving truncated file for symbolic link"
I have a SPA app that uses an config.json file with the following contents:
[code]
In the Startup.cs file I configure StaticFiles:

[code]

I'm deploying the app in a docker container (`FROM microsoft/aspnetcore:1.1`) using Kubernetes. In the Kubernetes Pod I map a configMap volume to override the config file. Kubernetes creates a symlink in the contianer and the file contents are correct within t

[2017-06-13 17:14] sdmaclea commented on #12246
cc @jkotas @dotnet/arm64-contrib

[2017-06-13 17:16] #11842 closed

[2017-06-13 17:24] sdmaclea commented on #12246
I guess this may be either
+ `dsb ishst; tlbi *;`
+ `dsb ishst; tlbi *; dsb ishst`

In the latter case it would mean the TLBI was complete on all processors.  But it still does not guarantee the write buffers are flushed on other processors.

[2017-06-13 17:26] diegogarciaa commented on #10292
Future is now guys:

https://github.com/dotnet/coreclr/issues/11979

[2017-06-13 17:56] jkotas commented on #12246
Related to #1563.

What is the minimum Linux kernel version that ARM64 runs well on?

[2017-06-13 18:03] weshaggard commented on #12233
For tracking we essentially want to revert commit https://github.com/dotnet/coreclr/pull/12175/commits/a0033795f551053cb199d85c77926f0840f5b583 once the compiler update comes through.

[2017-06-13 18:03] weshaggard commented on #12190
Fixed with https://github.com/dotnet/coreclr/pull/12175

[2017-06-13 18:03] #12190 closed

[2017-06-13 18:15] janvorli commented on #12246
@sdmaclea I don't think the assumptions the function makes are Intel specific. If one processor changes a protection of a page, TLBs on other processors, at least those that have that page in their TLB, need to be flushed to ensure that they don't contain stale mappings. The interlocked increment in the function just makes the page dirty to make sure the kernel cannot optimize out the TLB flush.
T

[2017-06-13 18:40] mysticmind commented on #12111
If the following lines from csproj are removed, everything looks to work fine without the runtime error
[code]
I also tested the above fix on the storyteller project and confirm it to be working fine.

[2017-06-13 18:43] jkotas commented on #12111
That make sense. The above two lines likely introduce forced package downgrades that lead to version mismatches at runtime.

[2017-06-13 18:56] sdmaclea commented on #12246
For arm64 the `tlbi` ops are weakly ordered and broadcast to other tlb's.  There is no hardware architectural need for an IPI.

OS could do an IPI, for software architecture reasons.  I do not know if Linux kernel actually does an IPI for arm64 in this case.  POSIX standard does not appear to require it.

[2017-06-13 19:21] bernardbr opened #12252 "Inheritance problems"
Hello, I'm converting a source code from .NetFramework to NetCore and I've get an error when I do Inheritance.

Error:
[code]

Example:

[code]

[code]

[code]

[code]

In this interface the error appears:
[code]

This same code works with .NetFramework and VisualStudio.

## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.4)

Product Information:
 Version:            1.0.4
 C

[2017-06-13 19:36] #12252 closed

[2017-06-13 20:00] janvorli commented on #12246
@sdmaclea ah, from my past work on the Midori microkernel I only had low level experience with ARM32 and that one didn't have the TLBI and so IPI was necessary.
But it looks like Linux kernel actually uses IPI to flush TLB on AARCH64 machines in SMP configuration.

[2017-06-13 20:20] svick commented on #6906
@tannergooding

So, how do you detect which implementation is appropriate with your proposal? You could probably pick some set of intrinsics that are supported only in Skylake and newer, and test for that using `Intrinsics.HasHardwareSupport` but that doesn't sound like a great approach to me.

[2017-06-13 20:23] stephentoub commented on #10292
@diegogarciaa, what does #11979 have to do with this issue?  The example in 11979 isn't using the thread pool.

[2017-06-13 20:37] tannergooding commented on #6906
@svick, specifically for the case of instructions where the "fast" implementation provides different results from the "regular" implementation, it comes down to the user calling the appropriate intrinsic themselves.

I know, with regards to my own code, whether `1.0f / sqrtss` is required or whether `rsqrtss` will be good enough. So, if I have the ability to indicate which to use, I can optimize m

[2017-06-13 20:41] tannergooding commented on #6906
The majority of users wouldn't need to use this, but library authors would want to.

Additionally, it would let us port a number methods which are currently FCALLs into managed code without losing perf. It would also let us take advantage of things before the backing CRT library does (imagine portions of `System.String` being able to consume the SSE4 string/text processing instructions on hardware

[2017-06-13 20:45] redknightlois commented on #6906
@svick It doesn't have to be great. I would be more than happy with "just works" ... its definitely not code for everyone, but those that need it (me or even MS people doing platform work) doesn't have it either.

[2017-06-13 20:54] tannergooding commented on #6906
Another thing to keep in mind is that intrinsics are guaranteed to be compiled down optimally, while code patterns may not get optimized depending on a lot of factors (method too big/complex, code is not patterned 'just right', etc).

There also might not be reasonable managed wrappers for a lot of the intrinsics that people want and they may have different behaviors on different platform architec

[2017-06-13 21:33] colindembovsky commented on #12247
Closing here and logging [here](https://github.com/aspnet/StaticFiles/issues/202)

[2017-06-13 21:33] #12247 closed

[2017-06-13 21:33] redknightlois commented on #6906
In support of @tannergooding example. For example, roaring bitmaps are just not possible to be coded on C# efficiently, aka you can implement only less performant alternatives on CoreCLR. There are entire classes of algorithms where the ```optimal``` solution on CoreCLR (because of the SIMD constraint) is very far from ```optimal``` against the state of the art.

[2017-06-13 22:31] sdmaclea commented on #12246
I drafted a sys_membarrier() implementation here  #12259.

[2017-06-13 22:31] #12246 closed

[2017-06-13 23:27] ivanbasov opened #12261 "Crash on running coreclr on ubuntu"
There is a PR https://github.com/dotnet/roslyn/pull/19703 which has some failures of dotnet/roslyn unit tests. We get proper information about windows failures. However, when running tests on ubuntu, we got a coreclr crash like

We assume that there is an issue on the coreclr side: coreclr crashes.

Please help @OmarTawfik to debug/resolve the issue on ubuntu.

[2017-06-14 00:13] Spongman opened #12262 "ResourceManager.GetString doesn't return embedded text file on linux"
a (.csproj) project a with an embedded text file, added using the VS2017.2 project properties UI.

[ConsoleApp2.zip](https://github.com/dotnet/coreclr/files/1073187/ConsoleApp2.zip)

on windows, it works fine.

on linux, it just shows:
[code]

[2017-06-14 00:55] briansull commented on #12146
Fixed with #12255

[2017-06-14 00:55] #12146 closed

[2017-06-14 02:25] djluck opened #12264 "RyuJIT seems to re-create closures declared within generic methods"
# Description
I've identified a situation where RyuJIT generates inefficient code that involve closures defined within generic methods.

For example, given this code:
[code]

The results of running the above code are:

             Method |               Job |       Jit |      Mean |     Error |    StdDev
------------------- |------------------ |---------- |----------|----------|---------
 Closure

[2017-06-14 04:42] danmosemsft commented on #12262
@tarekgh are there any known issues here?

[2017-06-14 05:25] djluck commented on #12264
After a co-worker asked if this applied to any variables outside the scope of the closure or just to class members, I ammend the benchmark to:
[code]
Which gave the times:

Method | Job | Jit | Mean | Error | StdDev |
------------------- |------------------ |---------- |---------:|----------:|----------:|
 ClosureWithGeneric | X64-Clr-LegacyJit | LegacyJit | 18.15 ns | 0.5168 ns | 0.7412 ns |
 Clo

[2017-06-14 05:35] Tornhoof commented on #6906
Still even without popcnt roaringbitmaps in c# are mostly  faster than in Java, but I agree having to use the explicit intrinsics ist fine for many use cases.

[2017-06-14 05:51] mikedn commented on #12264
Both the legacy JIT and RyuJIT allocate that delegate. In general, none of the existing .NET Framework JITs eliminate delegate allocations.

The problem here seems to be in the delegate constructor, it's much slower when RyuJIT is used.

[2017-06-14 06:09] BruceForstall commented on #12264
@dotnet/jit-contrib

[2017-06-14 06:32] djluck commented on #12264
An expanded view of the PerfView trace looks like this:
![image](https://user-images.githubusercontent.com/1540536/27118523-f76ad998-511e-11e7-8738-adae4fa69868.png)

If it's helpful, I can upload the original perfview trace.

[2017-06-14 07:09] mikedn commented on #12264
Look at the perfview trace of the fast version as well. You'll notice that `COMDelegate::DelegateConstruct` doesn't appear in that case.

[2017-06-14 07:12] jkotas commented on #12264
`fgOptimizeDelegateConstructor` is where call to `COMDelegate::DelegateConstruct` is supposed to be replaced with the much more efficient equivalent.

[2017-06-14 08:11] mikedn commented on #12264
Yeah, and that one expects the function address to follow a certain pattern (e.g. be `GT_FTN_ADDR`) but in this case the function address ends up in a lclvar. What seems strange is that runtime lookup is involved in this despite that neither class nor the delegate target are generic.

[2017-06-14 10:33] raffaeler opened #12266 "Can the CoreCLR library be unloaded from the memory process?"
I host the CoreCLR by myself.
Since I wrapped the "LoadLibrary / FreeLibrary" "dlopen / dlclose" in a C++ class using the RAII paradigm, at the very end my app tries to unload the CLR and crashes.
This happens with both Windows specific API (mscoree) and with platform-neutral API (coreclr_initialize & Co).

If I comment out the coreclr unloading, everything works fine and the process closes normal

[2017-06-14 10:51] 4creators commented on #12018
Fixed with commit 116a6cc7dd0ff0912251f7d1febed36460ea11cd

[2017-06-14 10:51] #12018 closed

[2017-06-14 12:45] raizam opened #12268 "Build.bat not working on windows 7"
Here is the console output. Any help appreciated

[2017-06-14 12:51] raizam commented on #12268
This issue was already reported #12176

[2017-06-14 13:01] janvorli commented on #12261
@ivanbasov I have tried and with @OmarTawfik's change, I can repro it locally. I am looking into it.

[2017-06-14 13:52] jkotas commented on #12264
`ldftn instance string LambdaTest::'<Closure_GetStr>b__2_0'<!!0>()` needs to load instantiating stub.

The fix maybe similar to #10663 (note that this change was CoreRT ABI only): don't depend on pattern matching and always perform the optimization for verifiable delegate creation sequence by construction.

[2017-06-14 14:04] janvorli commented on #12261
It looks like a JIT issue.

Here is part of the call stack at the failure point:
[code]

The point of the crash is marked below:
[code]
The r8 is a value that's not an address in memory (0x0000000100000000)
The JIT_IsInstanceOfInterface_Portable has two parameters. MethodTable *pInterfaceMT in RDI and Object* pObject in RSI.
As you can see from the code above, the wrong value of R8 comes from [RSI

[2017-06-14 14:05] janvorli commented on #12261
CC: @dotnet/jit-contrib

[2017-06-14 14:15] mikedn commented on #12264
Right, the delegate target is actually a generic method. I wonder why the C# compiler does that but that's another problem.

[2017-06-14 14:32] gkhanna79 commented on #12217
CC @janvorli

[2017-06-14 15:14] jkotas commented on #12266
CoreCLR does not support unloading.

[2017-06-14 15:20] raffaeler commented on #12266
This makes sense, but coreruncommon.cpp tries to unload it:
[dlclose@coreruncommon](https://github.com/dotnet/coreclr/blob/9e3ef8eb56d5027ed96348e89911afacbccee9f0/src/coreclr/hosts/unixcoreruncommon/coreruncommon.cpp#L458)

Is that a bug?

[2017-06-14 15:36] sillyousu opened #12271 "build.cmd failed on 82af80d"
Do I miss something?

82af80d61310e55cce4cf96b0cb199bcfe50e497

[code]

[2017-06-14 15:45] RussKeldorph commented on #12264
@sandreenko FYI

[2017-06-14 15:54] tarekgh commented on #12262
please take a look at the issue https://github.com/dotnet/cli/issues/3695 this was CLI issue and I believe it is already fixed bu tI am not sure which release include the fix. I'll move this issue to CLI repo.

[2017-06-14 15:54] tarekgh commented on #12262
Issue moved to [dotnet/cli #6866](https://github.com/dotnet/cli/issues/6866) via [**ZenHub**](https://www.zenhub.com/)

[2017-06-14 15:54] #12262 closed

[2017-06-14 16:00] sillyousu commented on #12271
dup of https://github.com/dotnet/coreclr/issues/12176 and https://github.com/dotnet/coreclr/issues/12268

[2017-06-14 16:00] #12271 closed

[2017-06-14 16:14] #12137 closed

[2017-06-14 16:22] jkotas commented on #12266
Yes, the dlclose call should be removed.

[2017-06-14 16:40] raffaeler commented on #12266
Is at least unloading the (one and only) AppDomain legal?

[2017-06-14 16:43] jkotas commented on #12266
The "unload" of the one and only AppDomain will just deliver the callbacks like AppDomain.ProcessExit. It won't actually kill the appdomain.

[2017-06-14 16:46] raffaeler commented on #12266
So I understand there is no memory gain in calling UnloadAppDomain or coreclr_shutdown, right?

By the way this is the behavior I see:

- the process crashing when calling UnloadAppDomain
- the call coreclr_shutdown working as expected
- the entry point for coreclr_shutdown_2 not even being found

Thank you again

[2017-06-14 17:33] helloguo commented on #12169
@Maoni0 `g_num_processors `has different values on Windows v.s. Ubuntu. On my machine (2 sockets, 88 logic cores in total), `g_num_processors  `is 44 for Windows Server 2012 R2 but 88 for Ubuntu 14.04.

[2017-06-14 17:33] sandreenko commented on #12264
There is issue for R2R  #10803 (optimize delegate constructor in R2R for a virtual fp).

[2017-06-14 17:36] swgillespie commented on #12169
That number should come straight from the PAL: https://github.com/dotnet/coreclr/blob/master/src/vm/gcenv.os.cpp#L687.

[2017-06-14 17:49] ivanbasov commented on #12261
Thank you, @janvorli!

[2017-06-14 17:49] helloguo commented on #12169
Windows and Ubuntu should return same value (88 in this case), right?

[2017-06-14 17:51] swgillespie commented on #12169
I would think so, yeah; if they aren't that would imply that something has gone awry in PAL's GetSystemInfo: https://github.com/dotnet/coreclr/blob/master/src/pal/src/misc/sysinfo.cpp#L100

[2017-06-14 17:57] helloguo commented on #12169
PAL works well for Ubuntu, which gives 88. I would suspect Windows `GetSystemInfo` does something unexpected.

[2017-06-14 17:57] raizam commented on #11060
Same issue here, window 7 too.

[2017-06-14 18:04] swgillespie commented on #12169
hmm... @janvorli, do you have any thoughts on this?

[2017-06-14 18:06] jkotas commented on #12266
Right.

coreclr_shutdown calls UnloadAppDomain. It is surprising that coreclr_shutdown works for you, but UnloadAppDomain does not.

This entry point was added for .NET Core 2.0. Are you using recent .NET Core 2.0 builds?

[2017-06-14 18:28] janvorli commented on #12169
MSDN doc on the `SYSTEM_INFO::dwNumberOfProcessors` says:
The number of logical processors **in the current group**.  A processor group can have max 64 processors and all processors in the group need to be in the same NUMA node (or maybe a NUMA node cannot span multiple groups, this is not 100% clear to me). That explains why the g_num_processors is 44 - it comes directly from the `SYSTEM_INFO::dw

[2017-06-14 18:32] janvorli commented on #12169
@swgillespie, @Maoni0  now the question is whether the g_num_processors when NUMA is enabled on Windows should reflect the number of processors in all groups or still just the number of processors in the current group.

[2017-06-14 18:38] swgillespie commented on #12169
Ah, makes sense! Thank you @janvorli ! I'll defer to Maoni's judgement on that.

[2017-06-14 18:40] pgavlin commented on #12224
@janvorli can you take a look at this?

[2017-06-14 18:42] janvorli commented on #12224
@pgavlin sure!

[2017-06-14 18:47] pgavlin commented on #12261
@janvorli do you have a repro environment handy? No worries if you don't, but it would save a bit of time.

[2017-06-14 18:48] raffaeler commented on #12266
It surprised me too, but substantially I have created two projects calling either the Windows specific code or the portable one. The layout of the calls are substantially the same and I am not mixing the APIs of course.
The project running coreclr_shutdown works on windows, ubuntu x64 and arm.

I am using the official 2.0 preview, therefore it is definitely possible the coreclr_shutdown_2 was adde

[2017-06-14 18:54] helloguo commented on #12169
@janvorli Thank you.
@Maoni0 One more question: in GC, `g_num_processors ` is used in different places. For example, it can be used to handle some memory related stuff. In this case, it makes sense to return the number of all the processors which are available for this process. In other scenario, it is used to decide spin count(e.g `t_join::join()`). Let's just look at `t_join::join()` , which is

[2017-06-14 18:56] janvorli commented on #12261
@pgavlin unfortunately my Linux box is not on corpnet, so I cannot give you access to that. But here are steps I did to repro it for your convenience:
[code]

That builds stuff, runs the tests and ends with SIGSEGV.
To look into the issue, I've enabled full core dumps before the run using
[code]
The core got generated to some subfolder, I don't remember which one.

[2017-06-14 19:00] pgavlin commented on #12261
Thanks!

[2017-06-14 19:26] pgavlin commented on #12261
Are you on Ubuntu 16.x or 14.x? I'm having trouble building on 14.04.

[2017-06-14 19:42] BruceForstall commented on #11175
@janvorli

[2017-06-14 19:44] sdmaclea commented on #11545
The easy cases are done.  When #10737 is fixed, Volatile flag should also be considered

[2017-06-14 19:51] briansull commented on #12151
Fixed  with #12274

[2017-06-14 19:51] #12151 closed

[2017-06-14 19:55] russellhadley opened #12275 "Model physical resource liveness in LIR"
To allow for more general optimizations of the instruction stream in LIR (like #12250 and #11471) we will need be able to deal with the liveness of flags, as well as physical registers in the IR.  Not having this blocks reordering optimizations and makes changes in transformations more error prone.  ("oh crap I forgot about the flags case" bugs)

[2017-06-14 20:03] MattGal opened #12276 "Run.sh will not error out on tool init failure, leading to indeterminate state"
Check out the **_Sync_** stage of this run:
https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=803576

Specifically this bit:

[code]
While this specific issue was caused by a transient network issue, the problem seems to be that [run.sh](https://github.com/dotnet/coreclr/blob/master/run.sh#L6) never actually checks that init-tools succeeded.

[2017-06-14 20:05] pgavlin commented on #12261
Nevermind, I got it working.

[2017-06-14 23:21] sdmaclea opened #12283 "[Arm64] MathRound3::PosTest4 failing"
@dotnet/arm64-contrib @dotnet/jit-contrib @janvorli

The new test case introduced by #12210 is not passing on arm64 tip.  Also the JIT code is not hitting the revised COM*::Round() functions at all.

[code]

[code]

[2017-06-15 01:41] sjsinju commented on #12080
Merged #12162

[2017-06-15 01:41] #12080 closed

[2017-06-15 01:42] #9760 closed

[2017-06-15 01:43] JustArchi opened #12286 "[Question] Possible GC tuning for memory usage?"
I'm running my .NET core 2.0 app on Linux in very memory "heavy" environment. I'd like coreclr to release as much unused memory as possible back to OS ASAP.

I'll explain what I mean: a single call to `GC.GetTotalMemory(true)` shows that my app uses around 63 MB of memory (I don't have unmanaged/native memory allocated). However, due to recent work dotnet process managed to allocate as much as 29.

[2017-06-15 01:55] jkotas commented on #1279
I have look into this some more:
-	Run CoreCLR tests with a hack that suppressed the init-locals bit for everything. No issues in the JIT found. (~30 tests written in IL that were exercising the init-locals bit failed - by design.)
-	Found one place in corelib that depends on the stackalloc memory to be zero-initialized: https://github.com/dotnet/coreclr/blob/97c58ac4fce27b7796206a59eea0ca27cb49fe

[2017-06-15 02:03] benaadams commented on #1279
Probably works

Probably a bit heavy?

MethodImpl flag?

`[MethodImpl(MethodImplOptions.NoZeroInitLocals)]`

[2017-06-15 02:31] jkotas commented on #1279
This is variant of 3. I think that folks who care about this would want it for all their code, without need to annotate every method.

[2017-06-15 02:48] benaadams commented on #1279
On 1. just realized you can't use stackalloc outside an unsafe block, so it would switch it off for everything always?

[2017-06-15 02:56] jkotas commented on #1279
Right - that's the idea.

[2017-06-15 05:50] sjsinju opened #12289 "[RyuJIT/ARM32] Assertion failed 'resultReg != REG_NA'"
Message:
[code]

Tests:
[code]

[2017-06-15 05:58] sjsinju opened #12290 "[RyuJIT/ARM32] Assertion failed 'emitTypeSizes[TypeGet(type)] > 0'"
Message :
[code]
Test
[code]