[2018-01-19 17:38] nategraf commented on #15924
Does this not disable it? https://github.com/dotnet/coreclr/blob/master/tests/issues.targets#L1729

[2018-01-19 18:13] nategraf commented on #15924
I think I just realized what it is. [The `*`](https://github.com/dotnet/coreclr/blob/master/tests/issues.targets#L1729) should be a `**`

[2018-01-19 18:54] sdmaclea opened #15931 "[Arm64/Linux] New regression on tip"
Several tests are failing with
[code]
List of affected tests
[code]
`git bisect bad f1c732878`
`git bisect good 84efbc8`

[2018-01-19 18:54] sdmaclea commented on #15931
@dotnet/arm64-contrib @jkotas FYI

[2018-01-19 18:59] jkotas commented on #15931
Do you happen to have callstack that leads to this? Thanks!

[2018-01-19 19:03] brianrob commented on #15924
@nategraf, thanks for fixing this!

[2018-01-19 19:04] sdmaclea commented on #15931
Here is the callstack for CoreMangLib.cti.system.double.DoubleToString2.DoubleToString2
[code]

[2018-01-19 19:05] sdmaclea commented on #15931
I doubt this is Arm64 specific.  I just found it on Arm64 linux

[2018-01-19 19:06] jkotas commented on #15931
cc @ViktorHofer Make sure that you do not regress this with the other work you are doing.

[2018-01-19 19:10] ViktorHofer commented on #15931
👍

[2018-01-19 19:10] brianrob commented on #15436
Thanks for reporting @sherlock1982.

@janvorli, yup, just sent another mail with more information requested by shiproom.

[2018-01-19 19:19] GrabYourPitchforks commented on #15076
Yes; however, this optimization uses the same `ByReference<T>` trick under the covers described [here](https://github.com/dotnet/corefx/pull/26381#issuecomment-358852586). And as [Jan points out](https://github.com/dotnet/corefx/pull/26381#issuecomment-358854710), this isn't really the scenario `ByReference<T>` was intended for, so there's some nervousness as to whether it's reliable enough for th

[2018-01-19 19:24] CarolEidt opened #15932 "RyuJIT x86: LSRA assert with jitStressRegs=8"
There are 541 failures:
baseservices_compilerservices._dynamicobjectproperties_Dev10_535767_Dev10_535767_._dynamicobjectproperties_Dev10_535767_Dev10_535767_cmd
baseservices_exceptions._simple_HardwareEh_HardwareEh_._simple_HardwareEh_HardwareEh_cmd
baseservices_exceptions._regressions_V1_SEH_VJ_NormalException_NormalException_._regressions_V1_SEH_VJ_NormalException_NormalException_cmd
baseservice

[2018-01-19 19:36] nbilling opened #15934 "PAL _wcstoui64 method name changes based on PAL_STDCPP_COMPAT in build."
I'm honestly not sure if this is a bug or intended, so filing an issue in hopes someone can answer and/or change it.

This line
https://github.com/dotnet/coreclr/blob/84efbc8e71fff8ccffdd637017036d2dc0f666df/src/pal/inc/pal.h#L5130
will declare a method `PAL__wcstoui64` when `PAL_STDCPP_COMPAT` is not defined, and `_wcstoui64` when it is defined. This is due to
https://github.com/dotnet/coreclr/bl

[2018-01-19 19:37] BruceForstall commented on #15932
Related to https://github.com/dotnet/coreclr/pull/15716?

[2018-01-19 20:09] ahsonkhan opened #15937 "[JIT] Naiive implementation of Span Reverse should produce optimal codegen"
From https://github.com/dotnet/corefx/pull/26381#discussion_r162217309:

Here is the naiive implementation which uses a single temporary local for swapping elements. This produces sub-optimal disassembly since it contains an unnecessary mov/lea in the loop body.:
[code]

The following implementation results in better disassembly, but we shouldn't expect users to write code in this way without the

[2018-01-19 20:20] CarolEidt commented on #15932
Possibly

[2018-01-19 21:02] brianrob commented on #15436
The fix for this has been approved for a 2.0 servicing release.  I will work on getting it merged.

[2018-01-19 21:47] #15827 closed

[2018-01-19 21:55] CarolEidt commented on #15848
@dotnet/jit-contrib @tannergooding @fiigii - looking back at my old notes on the vector conversions, I had suggested that we leave the floating point-to-unsigned conversions un-accelerated. While reviewing the final implementation, I failed to notice that they were being implemented as the same as the signed conversions.
At this point, there are 2 (or 3 depending on how you count) alternatives:
-

[2018-01-19 22:13] 4creators commented on #15848
We can provide reasonable, accelerated support for this operation in terms of intrinsics. IMO it would more convenient to expanding this operation in C# Vector code. This would be probably most flexible solution as this would not depend on additional functionality from Jit compiler and software fallback would be well handled by other runtimes i.e. Mono.

The operation could be redefined as two ope

[2018-01-19 22:14] tannergooding commented on #15848
I think the simplest fix might be: `Stop recognizing these as intrinsics.` (I believe we already have a software fallback).

I would like to see the implementation fixed, but it might be worthwhile waiting and seeing if we can do that using the HWIntrinsics.

The algorithm (for HWIntrinsics or JIT support) should be effectively this: https://github.com/Microsoft/DirectXMath/blob/master/Inc/DirectX

[2018-01-19 22:29] #12143 closed

[2018-01-19 22:45] danmosemsft commented on #15934
@janvorli

[2018-01-19 22:52] CarolEidt commented on #15848
Unfortunately, that is not compatible with what the JIT is doing for conversion of unsigned types. For uint32, the x64 jit does a float->long conversion and then simply truncates the result. For x86, it does a float->double->ulong conversion, and then truncates the result. This gives the right answer for in-range values, and the spec says:

I think we need to be compatible with what the JIT does f

[2018-01-19 23:41] jkotas commented on #15931
Regression introduced by #15902

[2018-01-19 23:51] #15829 closed

[2018-01-20 00:22] danmosemsft commented on #15914
cc @Anipik

[2018-01-20 00:34] tannergooding opened #15943 "Add the appropriate ABI handling for the SIMD HWIntrinsic types"
The SIMD HWIntrinsic types (`Vector64<T>`. `Vector128<T>`, and `Vector256<T>`) are special and represent the `__m64`, `__m128`, and `__m256` ABI types.

These types have special handling in both the System V and Windows ABI and are treated as "scalar" (e.g. non aggregate and non union) types for the purpose of parameter passing or value returns. They additionally play some role in the selection of

[2018-01-20 02:18] GrabYourPitchforks commented on #15076
Test application below. My build issues are now fixed and results are coming in.

[code]

[2018-01-20 03:02] GrabYourPitchforks commented on #15076
Perf measurements below. These measurements are for `Span<T>.TryCopyTo`, but similar measurements were found for `ReadOnlySpan<T>.TryCopyTo`.

Before and after times are in milliseconds and are for 250 million iterations of the inner test loop as described earlier. Test machine is Win10 x64 FCU. _Before_ is the average time taken for each test battery co complete before the code in the PR is appli

[2018-01-20 04:06] #15931 closed

[2018-01-20 04:30] jkotas commented on #15943
This would change calling convention for these types. In general, calling convention changes invalidate pre-compile code out there. I think it would be a good idea to disable loading of these types during crossgen so that they are not baked into any precompiled code and we do not have out hands tied with changing the calling convention.

[2018-01-20 05:45] fiigii commented on #15848
I am not sure if it is worthwhile to try a new JIT approach for `Vector<T>` intrinsic at this time.
Meanwhile, I don't know how many applications/libraries rely on the `Vector.ConvertToSingle(Vector<UInt32>)` to get the _performance improvement_.

I think we can adopt the first approach ("Stop recognizing these as intrinsics.") if we do not want to pay much engineering effort for this API.
Then,
1

[2018-01-20 08:52] mikedn commented on #14100
On a closer look I don't think this change would be useful. It just moves some code from ARM32's `genCodeForSetcc` to `inst_SET` and that's it.

It would be more useful if we could also implement ARM32's `genSetRegToCond` using `inst_SET` like it's done on ARM64. But we can't do that, the generate code would be worse. Basically `inst_SET` hides the fact that multiple instructions are generated and

[2018-01-20 16:41] #15572 closed

[2018-01-20 18:04] tannergooding commented on #15943
@jkotas, Is there a good example of existing types disabled during crossgen?

I would like to include that change in https://github.com/dotnet/coreclr/pull/15942, if possible.

[2018-01-20 18:07] jkotas commented on #15943
Take a look how `Vector<T>` is handled in vm\methodtablebuilder.cpp. Look for `IDS_EE_SIMD_NGEN_DISALLOWED`.

[2018-01-21 04:52] jkotas opened #15954 "ArrayPool logging initialization is 70% of startup for empty program"
Empty program executes about 320 methods managed methods today (in release build). Initialization of ArrayPool logging (ArrayPoolEventSource) is responsible for 220 of them. When the ArrayPool initialization is commented out, I am back to about 100 where we used to to be historically.

Is the ArrayPool logging valueable enough to contribute this much to startup cost of empty program? Can we make i

[2018-01-21 06:33] jkotas commented on #15954
cc @vancem

[2018-01-21 13:07] ayende commented on #14720
Any news about this? Any idea how to get at least some idea about what is going on?

[2018-01-21 15:41] stephentoub commented on #15954
Just curious, what in an empty program uses ArrayPool?

[2018-01-21 15:55] jkotas commented on #15954
The first call comes from Path APIs:
[code]

[2018-01-21 18:31] antofik commented on #12094
Can I take this one? Looks pretty straight-forward to get acquainted with the code

[2018-01-21 19:03] benaadams commented on #15954
Its all to run `log.IsEnabled()` and get `false` back.

I had a look at this before and but couldn't work out how to address it: Guid/Sha1, CultureInfo and Reflection

![image](https://user-images.githubusercontent.com/1142958/35197802-033e6232-fedd-11e7-9de5-3df4dfc9a3c8.png)

[2018-01-21 19:09] benaadams commented on #15954
With Prestub/Unknown contributing:
![image](https://user-images.githubusercontent.com/1142958/35197893-7b48322a-fede-11e7-9744-bda35e6de9ef.png)

[2018-01-21 19:50] meold commented on #15751
@qmfrederik, I had attached to debugger and here are results:
![image](https://user-images.githubusercontent.com/28731421/35198273-d4212b66-fef4-11e7-9c9f-e62453b14045.png)
What else do I need to do to understand the problem?

[2018-01-21 19:54] qmfrederik commented on #15751
@meold What you can try is this:
- Launch your program via debugger (like you've done) and let your program run/hang for a while, until the point you're sure it's hanging (give it one minute or so)
- Then, hit CTRL+C in lldb. This will cause the program to break
- You should then get a backtrace which shows which method the program is executing (and which hangs). See https://github.com/dotnet/core

[2018-01-21 19:56] qmfrederik commented on #15751
You can also try to set
`COMPlus_DumpJittedMethods=1` via `env COMPlus_DumpJittedMethods=1`, this should output the methods which are being JIT'ed. It'll give you a sense of progress. See https://github.com/dotnet/coreclr/issues/8927#issuecomment-276505128 for some background.

[2018-01-21 20:08] meold commented on #15751
@qmfrederik, thanks. I have the following output now:
![image](https://user-images.githubusercontent.com/28731421/35198416-49f03d80-fef7-11e7-911e-fa31d23f3d0f.png)

But I do not understand what that means.

[2018-01-21 20:09] jkotas commented on #12094
@antofik You are welcomed to take this one.

I have sent you collaborator invite - that will allow us to assign this issue to you once you accept (GitHub limitation).

Pro-tip: GitHub will automatically subscribe you to all repo notifications (500+/day). We recommend people to switch to notifications where you're mentioned.

[2018-01-21 20:12] qmfrederik commented on #15751
@meold Well, I think this is where @jkotas, @sdmaclea or @janvorli take over ;-).
But you can make it easier for them if you copy the console output as text and paste it as text in the GitHub issue, instead of screenshots.

[2018-01-21 20:16] meold commented on #15751
@qmfrederik, OK, I copied the console output as text.

[2018-01-21 20:25] antofik commented on #12094
@jkotas Thanks, invitation accepted

[2018-01-21 22:52] tannergooding commented on #15943
@jkotas, @CarolEidt. Part of the ABI work for these types is respecting their larger packing sizes (8 for __m64, 16 for __m128, 32 for __m256).

Do you think it is reasonable to have the packing sizes respected for v1 (it looks like it only needs a relatively small update in the VM layer)?

[2018-01-22 01:27] hseok-oh commented on #15914
@RussKeldorph You can find failure began after #15878 is merged.

Here is ci's first failure job for push master.
https://ci.dot.net/job/dotnet_coreclr/job/master/job/armel_cross_debug_tizen/2510/

Here is ci's last success job for push master.
https://ci.dot.net/job/dotnet_coreclr/job/master/job/armel_cross_debug_tizen/2509/

[2018-01-22 02:00] jkotas commented on #15943
I think it is reasonable.

[2018-01-22 02:03] #12094 closed

[2018-01-22 07:10] shanshan0309 opened #15960 "CoreCLR failed to build due to the error C2065: 'DNER_IsStructArg': undeclared identifier"
I tried to build CoreCLR on Windows with VS2017 Update2. It failed to build due to the error C2065: 'DNER_IsStructArg': undeclared identifier. This issue is caused by master branch revision [128893e](https://github.com/dotnet/coreclr/commit/128893e65c3e748e2ac9b85cbc6e0560cf84e2e1). Could you please help take a look at this? Thank you!

**You can repro this issue as the steps below:**
1. git clone

[2018-01-22 09:29] janvorli commented on #14720
The only thing that could work is to run the app under lldb and when it hits the stack overflow, load the libsosplugin.so and run "clrstack -f".

[2018-01-22 09:50] ayende commented on #14720
@janvorli Any suggestions for doing this on Windows?
We are trying with procdump right now.
The problem is that this is happening in production, and the kind of things we can do there are limited.

[2018-01-22 09:51] ayende commented on #2502
Is there any progress around this are?
I just run into an area where a mmap file had some bad sectors. When we tried to access some of then, an `SEHException` was thrown, obviously, and it killed the entire process.

[2018-01-22 09:51] ayende commented on #2502
I would be happy to send a PR for that if I that is fine and I can get some guidance on where to touch.

[2018-01-22 09:52] janvorli commented on #15751
@meold can you please run `bt` command in the lldb after you break in?
Also, I don't understand one thing - at the beginning, it seemed that things were running for you including managed code until the code reached a point where it needed the globalization. Then you did something that has completely broken things - all of a sudden you couldn't run it without setting the LD_LIBRARY_PATH and it stil

[2018-01-22 10:10] meold commented on #15751
@janvorli, here is result of `bt` command:
`(lldb) run /data/local/tmp/coredroid/helloworld.dll`
`Process 13989 launched: '/home/yura/.lldb/module_cache/remote-android/.cache/FF7520EE-23E2-261C-9B95-A23522BB5250-7DC75D2F/corerun' (aarch64)`
`(lldb) ^CProcess 13989 stopped`
`* thread #1, name = 'corerun', stop reason = signal SIGSTOP`
    `frame #0: 0x0000005555cc0244 corerun'__cxa_atexit + 4`
`cor

[2018-01-22 12:10] meold commented on #15751
@janvorli, and with `coreclr` and `corefx` from `master` branch I have the next output:
`(lldb) run /data/local/tmp/coredroid/helloworld.dll`
`Process 25208 launched: '/home/yura/.lldb/module_cache/remote-android/.cache/FF7520EE-23E2-261C-9B95-A23522BB5250-7DC75D2F/corerun' (aarch64)`
`(lldb) ^CProcess 25208 stopped`
`* thread #1, name = 'corerun', stop reason = signal SIGSTOP`
    `frame #0: 0x00

[2018-01-22 14:19] 4creators opened #15962 "Hardware intrinsics table driven codegen is broken on Ubuntu x64 and OSX"
After running several rounds of tests it seems that table driven codegen is broken on Ubuntu x64 and OSX10.12.

Ubuntu x64 errors were masked by failing `eventsourcetest` which prevented successful dependency build and once it has been disabled or possible to bypass it tests started failing for all Sse/Sse2 HW intrinsics in master and in PRs.

OSX10.12 x64 was not run as an independent test since

[2018-01-22 14:22] 4creators commented on #15962
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_osx10.12_jitincompletehwintrinsic_flow_prtest/3/
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_osx10.12_jitx86hwintrinsicnoavx_flow_prtest/3/
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_osx10.12_jitx86hwintrinsicnoavx2_flow_prtest/3/

https://ci.dot.net

[2018-01-22 14:30] janvorli commented on #15751
@meold it is strange, since the hang happens during initialization of the process before any of our code is executed. Now thinking about it, it actually seems that the fact that it complained about the "libgnustl_shared.so" and you had to set the LD_LIBRARY_PATH while with your first attempt this was not happening seems to indicate that this actually may be an indication of the problem. Do you sti

[2018-01-22 14:41] alexandervantrijffel commented on #13542
I had this error also when using the dockerfile generated by Visual Studio.

With this docker file my app is able to start with a nuget reference to Microsoft.AspNetCore.All version 2.0.3 and without the line `<PublishWithAspNetCoreTargetManifest>false</PublishWithAspNetCoreTargetManifest>`:

[code]

[2018-01-22 15:14] jkotas commented on #2502
The next steps that should happen for this:
- Submit API proposal to corefx (https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)
- Once the shape of the API is approved, implement it and expose the API.

[2018-01-22 15:27] tannergooding commented on #15962
I'm pretty sure this is the error being handled by https://github.com/dotnet/coreclr/pull/15942.

Are you seeing something additional?

[2018-01-22 15:41] jkotas commented on #15960
Fixed by https://github.com/dotnet/coreclr/pull/15958

[2018-01-22 15:41] #15960 closed

[2018-01-22 15:50] jkotas opened #15963 "Improve CI coverage for release builds"
The recent build break in official build (#15958, #15960) highlighted that we have no CI coverage for release builds. I think we should look into improving it:

- `CentOS7.1 x64 Checked Innerloop Build and Test` and `Ubuntu x64 Checked Innerloop Build and Test` have huge overlap. One of them should be changed to release build to have better coverage.
- We should have at least one 32-bit release bu

[2018-01-22 15:51] jkotas commented on #15963
cc @jashook @RussKeldorph

[2018-01-22 15:59] 4creators commented on #15962
@tannergooding I have triggered all failing tests on #15942 and they passed. It seems this will fix problem.

I will check your changes with my Sse2 PRs.

[2018-01-22 16:08] benaadams commented on #15954
Time wise 87% is EventSource.GetGuid

[2018-01-22 16:44] tomfanning opened #15964 "dotnet not finding libraries like Microsoft.CodeAnalysis.CSharp.Workspaces.dll at runtime"
I have a VS2017 solution containing a ASP.NET Core project with these nuget references:
[code]

Compiled with:
`  devenv.exe myapp.sln /p:Configuration=Release /p:Platform=x64 #####################`

Packaged:
`  myapp\bin\Release\netcoreapp2.0\*`

Transferred to CentOS 7 with dotnet installed:
[code]

Run with:
`  dotnet myapp.dll`
[code]

Run:
`  find / | grep Microsoft.CodeAnalysis.CSharp.Works

[2018-01-22 17:15] dotnet-mc-bot opened #15965 "prodcon/coreclr: use of undeclared identifier 'DNER_IsStructArg'"
Opened on behalf of @jcagme

Warnings: 6
Status Message: failed

Build : Prod Con - 20180122.01 (Product Build)
Failing configurations:
- Linux
  - PortableCrossBuild-Release-arm
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/prodcon/source/prodcon~2Fcoreclr~2Fmaster~2F/type/build~2Fproduct~2F/build/20180122.01/workItem/Orchestration/analysis/external/Link)

2018-01-22T07:23:26.

[2018-01-22 18:26] 4creators commented on #15962
@tannergooding Thanks for fast fix 😄

[2018-01-22 18:49] kouvel commented on #14239
Closing with fix above assuming that is what was happening

[2018-01-22 18:49] #14239 closed

[2018-01-22 19:02] swgillespie commented on #12094
@antofik thanks for taking care of this!

[2018-01-22 19:24] ayende commented on #2502
Here it is: https://github.com/dotnet/corefx/issues/26513

[2018-01-22 21:56] Imisnew2 opened #15969 "Potential Specification & Implementation Mismatch: Whether a method definition overrides inherited method."
From this version of the specification:
https://www.ecma-international.org/publications/files/ECMA-ST/ECMA-335.pdf

CLS Rule 4 states:

The key part I think the CLR violates is the last sentence:

I believe that means that the lowercase mapping logic described just prior should not apply? If so, here's how I constructed an example that appears to violate the rule:

[code]

Using ILDasm, I disassem

[2018-01-22 23:47] 4creators commented on #15924
@nategraf Unfortunately this failures are still happening specifically for Windows stress jobs:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_jitincompletehwintrinsic_prtest/26/
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_jitx86hwintrinsicnoavx2_prtest/25/
https://ci.dot.net/job/dotnet_coreclr/job/master/job

[2018-01-22 23:48] swgillespie opened #15971 "[Local GC] Analyze performance profile for standalone GCs"
Preliminary performance tests of a standalone GC running Workstation GC on various GC benchmarks indicates that there is a 5-15% performance overhead vs a non-standalone GC. It would be good to firmly understand where the overhead is and if it can be mitigated.

Initial analysis points to a few major things:

* Indirections across the GC/EE and EE/GC interfaces incur control flow integrity checks

[2018-01-22 23:52] nategraf commented on #15924
Thanks @4creators. I'll figure out why the patch didn't fix the Windows stress runs and address it

[2018-01-23 00:42] 4creators commented on #15924
@nategraf Thanks for help

[2018-01-23 03:08] AndyAyersMS commented on #15319
Closing -- the issue is fixed in master via #15323 and fixed in the 2.0 branch (available in 2.0.6) by #15360.

[2018-01-23 03:08] #15319 closed

[2018-01-23 03:23] RussKeldorph commented on #15914
@hseok-oh Thanks.  @mikem8361 Can you look into this?

[2018-01-23 04:49] TakisGenn opened #15974 "Environment.GetFolderPath"
Environment.GetFolderPath(Environment.SpecialFolder.ProgramFiles) = Environment.GetFolderPath(Environment.SpecialFolder.ProgramFilesX86)

vb.net vs2015
.Net 4.5.2
win10

[2018-01-23 05:52] TakisGenn commented on #15974
Not a bug but a feature.
Solution was to Any CPU.

[2018-01-23 05:52] #15974 closed

[2018-01-23 07:28] shanshan0309 commented on #15960
@jkotas, thank you so much for fixing this issue. I've verified your fix works well.

[2018-01-23 12:43] mattwarren commented on #15971
Out of interest, what is an acceptable overhead for the local GC effort? Are you aiming for no overhead at all, a small overhead, up to 5% or something else?

[2018-01-23 12:58] benaadams commented on #15914
Might be coincidence but `qemu: Unsupported syscall:` happens on Tizen then CI jobs start to time out
[code]

[2018-01-23 13:02] benaadams commented on #15914
Might be coincidence but `qemu: Unsupported syscall:` happens on Tizen then CI jobs start to time out
[code]

[2018-01-23 13:10] MichalStrehovsky opened #15977 "[Default interfaces] Support for default interface method devirtualization"
Interface methods on generic types require an instantiating stub which the current devirtualization code doesn't provide.

[2018-01-23 14:40] yyjdelete commented on #15559
I think hit the same issue but different with NitzanEgozy's.
[code]
Tested with `netcoreapp2.0/net471` win10-x64,  that always get `line 2000`  with `Debug`, and `line 3000` with `Release`(seems the jit move the two throw to the end of method) instead of `line 1000`.

Not sure, but seems throw always call `GetILOffsetFromNative` with offset of ***THE NEXT*** native code instead of ***the current**

[2018-01-23 17:25] AndyAyersMS commented on #14473
Initial part of changes to detect when a type is known to an unbox: [master...AndyAyersMS:UnboxAny](https://github.com/dotnet/coreclr/compare/master...AndyAyersMS:UnboxAny). Note the simple cases where we have box-unbox directly in one method are already handled by an existing importer peephole optimization.

jit-diffs shows 26 hits in the FX assemblies. These are cases where inlining has exposed

[2018-01-23 17:32] AndyAyersMS commented on #14472
Expansion of some runtime constructs like `box` can cause inlining to fail. So this creates tension in the jit: expanding too early reveals ugly details that inhibit or complicates high-level optimizations; expanding too late means the jit can't easily undo inlines that are now invalid.

Hence the wrapper idea from #14305 where we try and have our cake and eat it too. We at least need to do enough

[2018-01-23 18:25] redknightlois opened #15981 "[JIT] Test instruction using smaller constant should use the smaller instruction"
While optimizing a pretty optimized routine I found that a sizeable amount of bytes where allocated for the following pattern:

[code]

With a few different masks that are smaller than a byte.
This is the relevant part on my algorithm:

[code]
This optimization afaik applies to ```and``` operations because the rest is going to be 0 anyways. But testing for flags is a pretty common use case out the

[2018-01-23 18:28] mikedn commented on #15981
Hmm, what version are you using? I'm pretty sure I have already fixed something like this.

[2018-01-23 18:29] redknightlois commented on #15981
CoreCLR 2.0.5

[2018-01-23 18:34] mikedn commented on #14473
Hmm, I ran into some unboxes in `ObjectEqualtyComparers` myself when trying something in VN. I'm not sure if they're the same but in any case, there are some unboxes that can be removed by assigning a proper VN to a `GT_IND` that dereferences an ref that was previously allocated using new/box. For `LastIndexOf` I see the following diff:
[code]

[2018-01-23 18:37] agocke opened #15982 ""Plugin" style apps often need to recursively implement assembly load policies"
The problem is as follows: you write some shared framework .NET Core app and deploy it with `dotnet.exe`. You want to provide a plugin model where people can provide custom assemblies for you to load. Those assemblies will have their own dependencies. However, there's no mechanism to have a secondary, recursive *.deps.json for the plugin's dependencies. This means that every plugin is responsible

[2018-01-23 18:42] mikedn commented on #15981
For the following code
[code]
the current build generates
[code]
This was done in #10990. It's not in 2.0.x.

[2018-01-23 18:48] redknightlois commented on #15981
Great!

[2018-01-23 18:48] #15981 closed

[2018-01-23 18:49] mikem8361 commented on #15914
I know nothing about how to debug this on arm.  Can we putty to the machine when the tests hang?

Since it is a checked build, can the coreclr logging be enabled (COMPlus_LogEnable env var, etc.)?

My changes really shouldn't have affected Linux/arm, but you never know.

[2018-01-23 18:57] jkotas commented on #15982
`*.deps.json` handling is part of the runtime / CoreCLR. It is intentionally separate component from the runtime so that all policies involved in handling `*.deps.json` are in a central place and do not spread everywhere.

Have you looked at `Microsoft.Extensions.DependencyModel`? It is managed assembly to work with `*.deps.json`. I think it may be doing a lot of what you need to build your plugin

[2018-01-23 19:22] jkotas commented on #15982
This is not how it should be. The provider of the plugin model should take care resolving the assemblies for the plugins. The individual plugins should not need to worry about it.

[2018-01-23 21:31] Imisnew2 commented on #15969
Someone had pointed out to me that this rule isn't a *requirement* for a runtime, merely adherence to the CLS (guidelines for language-interoperability, as I understand it). That said, I'll point to the text just above this rule in section I.8.5.1 "Valid names":

[2018-01-23 21:48] swgillespie commented on #15971
@mattwarren That depends - GCs are all about tradeoffs and there are people that would willingly pay significant penalties to throughput if the GC runs with a lower latency profile. At least from our perspective, it would be good to at least understand where our throughput penalties are coming from and minimize them if possible.

[2018-01-23 21:53] jkotas commented on #15971
I think we have designed the GC/EE interface with a great care to avoid chatty calls. There is one know bug where we have a chatty call  (#14907). Other than that, I would expect the overhead of the standalone  GC to be within noise when everything else is equal - same PGO data, etc.

[2018-01-24 00:08] jkotas opened #15989 "Default interface implementation runtime spec"
We should have it published as .md doc under https://github.com/dotnet/coreclr/tree/master/Documentation/design-docs

[2018-01-24 00:10] #15591 closed

[2018-01-24 00:22] svick commented on #10449
@danmosemsft I'm not sure I'm the right person to ask, but:

* I haven't seen any evidence this would cause a break or inefficiency.
* It will become useful when/if `blittable` makes it into C# (in version 7.3?).

So, I think it makes sense to do it.

[2018-01-24 00:40] danmosemsft commented on #10449
@jkotas do you see any issue with removing Auto from DateTime and DateTimeOffset?

[2018-01-24 00:45] jkotas commented on #10449
It would be a potential breaking change for interop as stated above.

[2018-01-24 01:24] AndyAyersMS commented on #14472
Looked a bit at the reference counting idea. For instance `genTreeBox` nodes that share the same assign and copy could be linked in a circular list that is updated by `gtClone` and by deletion of box nodes.

Having IR cross links is obviously questionable but we already have these in `genTreeBox` and are potentially skating on thin ice because we don't have any ref counting.

At any rate, assuming

[2018-01-24 01:29] AndyAyersMS commented on #14191
@jorive is this still an issue? Seems like we probably don't care all that much even if so?

[2018-01-24 01:55] AndyAyersMS commented on #13097
Just to be clear, the thing we're considering here is to be more aggressive about copying a by-ref like argument like a `Span<T>` that is passed implicitly by-ref to a temp local, and then rewriting the in-method appearances to refer to the temp instead of the arg. We know this is safe because callers must have passed an unaliased reference.

This transformation typically allows the temp local to

[2018-01-24 01:56] AndyAyersMS commented on #13589
Looking like this is not going to make the cut for 2.1. So will move it out to Future.

[2018-01-24 02:01] AndyAyersMS commented on #12480
@dsyme can you weigh in on how impactful this is for F#?

I don't see any easy fixes in the jit right now. So it is unlikely to get fixed in Core 2.1.

[2018-01-24 05:12] zwcloud commented on #930
@yizhang82
Has MCG been open-sourced? If not, where is it and how can we use it?

[2018-01-24 08:52] AndyAyersMS commented on #12480
Pinging some other F# folks -- @KevinRansom?

[2018-01-24 11:44] faliqulamin commented on #13542
@alexandervantrijffel me too, do you have a fix for this?

[2018-01-24 15:42] mattwarren commented on #15971
@swgillespie and @jkotas thanks for the info

[2018-01-24 16:09] #15932 closed

[2018-01-24 17:10] RussKeldorph commented on #15969
@jkotas For esoteric ECMA/runtime question.  @jaredpar re: Roslyn behavior.

[2018-01-24 17:57] MattGal commented on #15888
Apologies for the delay, should have someone look at this in the next day or so.  Filed core-eng 2481 to track the investigation.

[2018-01-24 18:06] LEI-Hongfaan opened #15997 "Unexpected TypeLoadException?"
Consider the following code:
[code]
This code compiles but fails at runtime with a `TypeLoadException`:

Could not load type 'Test1.Foo' from assembly 'Test1, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'.

The struct `Foo` has an acyclic finite flattening graph (see ECMA-335 §II.13) and is legal.

[2018-01-24 18:36] nategraf commented on #15924
I see the JIT Stress runs are working now. Unless there is another place where this failure is showing I am going to close this issue

[2018-01-24 19:21] BruceForstall opened #16001 "ARM corefx test failures"
A baseline (no stress mode) run of the corefx tests on Windows ARM32 shows failures in the following tests:

[code]

This is when building corefx like this:
[code]

There are no asserts.

The System.Data.SqlClient.Tests failures appears to be (at least partially) due to:
[code]

The System.Diagnostics.Process.Tests failure appears due to:
[code]

The System.Drawing.Common.Tests failures appear due

[2018-01-24 20:24] vancem commented on #11934
I would like to close this issue.     There were two suggestions

1. Include opcode in the meta-data
2. Use a length prefixed string instead of a null terminated string when encoding strings.

I would like to keep both the way they are.    First not including opcode:  First, it is rather painful change because the definition of an event changes, and this 'leaks' out in reasonably far (it can proba

[2018-01-24 20:24] #11934 closed

[2018-01-24 20:45] jeffschwMSFT commented on #13969
Thanks for sharing the code sample, but it does not contain sufficient detail for us to clearly understand the underlying issue.  If you are still seeing this issue please let us know.  It seems from your Nov comment that your project has shifted gears and this is not likely blocking any more.

[2018-01-24 20:45] #13969 closed

[2018-01-24 22:08] jkotas commented on #15997
Thank you for reporting this. This issue is duplicate of https://github.com/dotnet/coreclr/issues/7957

[2018-01-24 22:08] #15997 closed

[2018-01-24 22:25] ayende opened #16004 "Hard crashes when under low memory conditions"
We are testing our software under low memory conditions. We are expecting (and handling) `OutOfMemoryException`  under such conditions and are trying to fix any such issues.

However, even under OOM conditions, we expect to be able to actually get exceptions and handle them.
But we are seeing very strange results.
In particular, we are seeing the following errors:

* `StackOverflowException`
* `Ou

[2018-01-24 22:29] RussKeldorph commented on #11681
@leecow Have we documented this better in the last several months?  If there's no additional information we can provide, please close this issue.

[2018-01-24 22:29] brianrob commented on #15687
Looks like the coreclr build succeeded, so closing this.

[2018-01-24 22:29] #15687 closed

[2018-01-24 22:45] jeffschwMSFT commented on #12711
This is a pretty old question, @raffaeler were you able to meet your performance goals?

[2018-01-24 22:50] jkotas commented on #16004
Yes. The .NET Framework has an option to force commit memory of all threads to try to deal with situation. You can see the relevant code here:
https://github.com/dotnet/coreclr/blob/ef1e2ab328087c61a6878c1e84f4fc5d710aebce/src/vm/threads.cpp#L7630

MSDN says that the force commit of thread stacks is the default. It is not correct - the default was flipped quite a while ago. The force committing of

[2018-01-24 22:53] RussKeldorph commented on #12086
Related?
 - dotnet/corefx#23063
 - dotnet/corefx#23197
 - dotnet/corefx#17452

I assume this isn't blocking 2.1, though it would be nice to answer the question so we can close the issue or triage any necessary work.

@dotnet/coreclr-contrib

[2018-01-24 22:56] ayende commented on #16004
@jkotas Okay, that is encouraging at least for this.
We can work around this probably by pooling threads. We spawn new threads for very long running tasks, and in the low memory case we abort operations, and threads, and then restart them. We can do the same but reuse the thread and the object.

Any ideas about the `OutOfMemoryException` issues? In particular, how I can find what the root cause is

[2018-01-24 23:02] benaadams commented on #16004
Could be the [preallocated `OutOfMemoryException`](https://github.com/dotnet/coreclr/blob/35da2c8a07d7aef8bd4c874b81241bab52af83ce/src/inc/ex.h#L562-L598) or might be something in EventLog?

[2018-01-24 23:02] jkotas commented on #16004
Run your stress program with unmanaged debugger (ntsd or windbg) attached. It is what we do in similar situations.

[2018-01-24 23:08] RussKeldorph commented on #15426
@karajas I'll go ahead and close.  Please create a new issue to track specific changes if/when they are needed.  Thanks.

[2018-01-24 23:08] #15426 closed

[2018-01-24 23:10] RussKeldorph commented on #15335
If these are things you can trivially address with your pending changes, please consider.  If not, please change the milestone to Future and clear your assignment.

[2018-01-24 23:14] brianrob commented on #15436
This is already fixed in master and has been approved for porting to release/2.0.  Closing this issue.

[2018-01-24 23:14] #15436 closed

[2018-01-24 23:22] brianrob commented on #15228
Marking this as up-for-grabs, since it sounds like this is just a matter of tracing down code that is not under ifdef FEATURE_PERFTRACING.

[2018-01-24 23:25] brianrob commented on #14997
Closing as this is fixed in master and will be merged into 2.0.

[2018-01-24 23:25] #14997 closed

[2018-01-24 23:26] brianrob commented on #15543
@Jamesxql, unfortunately, I'm not able to get your app to build as it appears to depend on some private nuget packages.  Can you check and see if this still repros with the latest builds out of master?  I suspect this may be a duplicate of #14997.  Thanks.

[2018-01-24 23:28] brianrob commented on #11939
Marking this for consideration in 2.1.

[2018-01-24 23:29] brianrob commented on #11725
Moving this to 2.1.  @adamsitnik, are you handling this in your current work on EventPipe?

[2018-01-24 23:31] brianrob commented on #11565
I'm going to close this as we will implement this using the concept of multiple sessions, which is tracked by #15377.

[2018-01-24 23:31] #11565 closed

[2018-01-24 23:36] adamsitnik commented on #11725
@brianrob yes, I do

[2018-01-24 23:36] brianrob commented on #14728
Fixed via #14729.

[2018-01-24 23:36] #14728 closed

[2018-01-24 23:39] brianrob commented on #14186
@sillyousu can you please try this again with the latest coreclr and PerfView?  There were some bugs that @chlowell helped me to uncover which are now fixed.  Thanks.

[2018-01-24 23:44] brianrob commented on #11615
Fixed via #13347.

[2018-01-24 23:44] #11615 closed

[2018-01-24 23:45] brianrob commented on #11725
@adamsitnik, great, thanks.

[2018-01-24 23:49] AndyAyersMS commented on #1784
FYI, @echesakovMSFT did some work on this a while back; figured I'd link up the parts here.

#6653 refactored the jit to create a framework where one can plug in an escape analysis. There are placeholders for the escape analysis and for the expansion of an object allocation into a stack allocation.

[Egor's fork](https://github.com/echesakovMSFT/coreclr/blob/StackAllocation/src/jit/objectalloc.cpp

[2018-01-25 00:10] jkotas commented on #12086
We should return the TargetFrameworkName here, I think. It is one line change - copy the implementation from CoreRT:

[code]

[2018-01-25 00:15] jkotas commented on #12086
https://github.com/dotnet/corefx/issues/23063 is duplicate. CoreFX repo is more appropriate place to track this.

[2018-01-25 00:15] #12086 closed

[2018-01-25 03:24] ygc369 commented on #1784
@AndyAyersMS
If JIT does escape analysis, would the program slow down?
I think that it would be better if the compiler could do escape analysis.

[2018-01-25 03:47] sergiy-k commented on #15969
/cc: @MichalStrehovsky

[2018-01-25 03:48] AndyAyersMS commented on #1784
There are various tradeoffs involved in determining where and how one might do escape analysis.

The compiler (and here I presume by *compiler* you mean CSC) has limited visibility into other methods. In particular it often sees reference assemblies and so can't really do any sort of cross-assembly analysis.

The jit sees the actual implementations of all methods and so is able to look across asse

[2018-01-25 03:48] sergiy-k commented on #12641
/cc: @MichalStrehovsky

[2018-01-25 03:51] chunseoklee commented on #15228
@brianrob  sort for late response.

On tizen side, there was a problem of event pipe. Now, this can be fixed with https://github.com/dotnet/coreclr/pull/15765.

Thank you.

[2018-01-25 06:07] Jamesxql commented on #15543
It does not repros with the lastest builds out of master, thanks. @brianrob

[2018-01-25 06:08] mikedn commented on #1784
@AndyAyersMS
Maybe an IL optimizer could do interprocedural analysis and annotate (probably with an attribute) method parameters that do not escape. When the JIT compiles method A that calls method B it can simply look at the parameter annotation of method B, without having to actually analyze method B. And to ensure type safety the JIT could do its own escape analysis when compiling B and fail co

[2018-01-25 10:41] MichalStrehovsky commented on #15969
I'm not able to repro this.

If I update this line:

[code]

To this line:

[code]

And touch nothing else, I get:

[code]

Which is expected, because the runtime is case sensitive per the rules you're citing in your second comment (*All name comparisons are done on a byte-by-byte basis*) and FOO won't override a Foo (unless you put a `.override` on it).

CLS rules are recommendations to language

[2018-01-25 10:58] MichalStrehovsky commented on #12641
The runtime doesn't look at default parameter values. Only the language compilers and the reflection stack does.

While the simple cases (non-virtual call) would probably be possible to add without breaking compatibility with existing code, considering something that matches a given signature after default parameter substitution would be problematic for the general cases (e.g. suppose the method w

[2018-01-25 11:12] omariom opened #16012 "Guid and Span: Possible optimization opportunity"
I think this ctor..
https://github.com/dotnet/coreclr/blob/949b94eabd74f2632c220b03f998a802032d2b82/src/mscorlib/shared/System/Guid.cs#L48

 can be implemented as..

[code]
The same for
https://github.com/dotnet/coreclr/blob/949b94eabd74f2632c220b03f998a802032d2b82/src/mscorlib/shared/System/Guid.cs#L1019

[code]

I cannot check the code generated but as Guid is 16 bytes long it can be read/writte

[2018-01-25 11:17] benaadams commented on #16012
@GrabYourPitchforks ?

[2018-01-25 11:26] glatzert commented on #11681
By now, my impression was that no updates were issued automatically - also our WSUS-specialist did not see any request of the machines.
We have installed the hosting packages, and i'd expected it updating from 2.0.1 to 2.0.2 automatically.

[2018-01-25 11:50] Logerfo commented on #12641
I'm not sure if I understand the problem, but if it could be done for non virtual calls only, don't you think it's still worth it?

[2018-01-25 12:48] MichalStrehovsky commented on #12641
[code]

If I understand this correctly, the request here is basically to make it possible that adding a parameter with a default value is non-breaking. So I can do:

[code]

And it won't break the existing code that does `callvirt instance void Foo::Frob()`. This is rather complex (we can get similar complexities for non-virtual methods - e.g. what if instead of calling, we want to create a delega

[2018-01-25 13:13] aviviadi opened #16013 "lldb 'sos' command causes segmentation fault"
dotnet 2.0.5 / sdk 2.1.4
ubuntu server 16.0.4

I tried with lldb 3.8 , 3.9 and 3.9.1-3.9 (all from apt-get)

[code]

[2018-01-25 13:15] 4creators opened #16014 "Combine common paths for codegen of SSE, SSE2, SSE3, SSE4.1, SSE4.2 hardware intrinsics"
There a several common operations which are repeated in several SSE ISAs. To reduce repetitive code refactor SSE, SSE2, SSE3, SSE4.1, SSE4.2 hardware intrinsics Jit processing into common, abstracted operations.

[2018-01-25 13:57] Logerfo commented on #12641
I understand the virtual case, but not the complexity bound to it. I mean, the overload resolution is already defined in the C# language specification, couldn't the JIT follow the exact same logic?
You're right about inconsistency, I withdraw that.

[2018-01-25 14:00] aviviadi commented on #16013
ok.. its lldb-3.6 which is needed.. 3.9 is for 2.1.x  .. closed.

[2018-01-25 14:00] #16013 closed

[2018-01-25 14:14] MichalStrehovsky commented on #12641
Before we go into implementation details, how would you want this to work:

### V1:

[code]

### V2:
[code]

### V3:
[code]

[2018-01-25 15:19] svick commented on #12641
@MichalStrehovsky That's already a source breaking change: if you compile `foo.Frob()` on V3, [you get "CS0121: The call is ambiguous between the following methods or properties: 'Foo.Frob(object)' and 'Foo.Frob(int)'"](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxAN0QSwGYE8A+AAgEwAEAYgPaUCwAUAN72kumEDMbALBQpcAAp+AKzgBjGKQAepALykAdgFcANioCUpBqQC+zVh269+AzAskz5ARmLtN2vXVal9LQjwCyAzbIB8xwXUAbnodIA).

[2018-01-25 16:13] GrabYourPitchforks commented on #16012
It's not _quite_ that straightforward because of endianness fixups, but you're right that there's likely good opportunity for improvements.

[2018-01-25 16:43] brianrob commented on #15543
Great.  Thanks.

[2018-01-25 16:43] #15543 closed

[2018-01-25 16:45] alexandervantrijffel commented on #13542
@faliqulamin the first line wasn't visible in the dockerfile I posted, that is fixed now. You can try that one.

[2018-01-25 17:11] jashook opened #16016 "CentOS Release Jobs failing"
Missing release test job.

[2018-01-25 17:11] jashook commented on #16016
/cc @RussKeldorph

[2018-01-25 17:22] wanton7 commented on #1784
@AndyAyersMS How much would simple escape analysis help with F# and Linq allocations?

[2018-01-25 17:34] #16016 closed

[2018-01-25 18:09] omariom commented on #16012
Like this?
[code]
would be interesing to see how it impacts the code generated for ARM.

[2018-01-25 18:23] wtgodbe commented on #10520
Resolved by https://github.com/dotnet/coreclr/pull/15831

at App.add(Int32 x, Int32 y)
at App.Main()
Aborted (core dumped)

[2018-01-25 18:29] Imisnew2 commented on #15969
I see. My test appears to have been flawed. I was using .NET Core version 2.0.0 (as reported by dotnet --version) and matching copies of ILDasm/ILAsm. I re-used the <assembly>.deps.json from the original build, which contained:
[code]
Changing <original> -> <modified> causes the expected behavior (Foo three times).

Full instructions on how I built my test, annotated with where the flaw was:
[code

[2018-01-25 18:33] #15969 closed

[2018-01-25 18:48] #10520 closed

[2018-01-25 19:06] mikedn commented on #1784
This has mentioned before. It's pretty difficult to deal with things like LINQ because there you call methods that have to allocate and return object references. Those methods have no way of knowing who their callers are and if the callers escape the returned object references or not.

[2018-01-25 19:14] GrabYourPitchforks commented on #16012
Yup, something like that seems correct.

[2018-01-25 19:20] mikedn commented on #16012
Why? Most of the ARM devices are little endian. And I doubt that there are any .NET Core builds that support big endian anyway.

[2018-01-25 19:25] realvictorprm commented on #1784
And what's with F#?

Am 25.01.2018 8:06 nachm. schrieb "mikedn" <notifications@github.com>:

How much would simple escape analysis help with F# and Linq allocations?

This has mentioned before. It's pretty difficult to deal with things like
LINQ because there you call methods that have to allocate and return object
references. Those methods have no way of knowing who their callers are and
if the c

[2018-01-25 19:27] jkotas commented on #8844
Reverted in #16007

[2018-01-25 19:28] jkotas commented on #15914
This should be fixed now

[2018-01-25 19:28] #15914 closed

[2018-01-25 19:32] mikedn commented on #1784
Well, I'm not really familiar with F# so I can't comment much on it. But the language doesn't matter too much, except perhaps the fact some language may use some coding patterns more than others.

In general, if a method allocates an object and the reference to the object does not escape then the object can be allocated on the stack. One way to escape the reference is to return it from the method.

[2018-01-25 19:48] GrabYourPitchforks commented on #16012
@mikedn I don't think it would affect our ARM codegen since you correctly point out that we currently only support little-endian ARM. My comment about adding the checks for big-endian platforms are really more of a best practice thing. Perhaps we will run on big-endian archs in the future, so we should try to limit fragile code paths.

[2018-01-25 19:54] brianrob commented on #15228
@chunseoklee are you saying that #15765 solves the problem?

[2018-01-25 19:55] mikedn commented on #16012
Yes, I know. And my comment was about omariom's comment about the impact this would have on ARM. The impact is 0 because ARM doesn't use big endian :grin:

In the meantime I wonder what kind of code the proposed update will generate, have to check...

[2018-01-25 20:03] mikedn commented on #16012
Yep, it looks like it will should good code. I haven't tried changing the actual `Guid` constructor but in a separate test method I get something like:
[code]

[2018-01-25 20:05] kouvel commented on #15851
Ran it for about 30 minutes with no failure yet but it's not finishing though progressing. I'll disable the test under GCStress as you suggested.

[2018-01-25 20:12] kouvel commented on #15852
The failure seems to be sporadic, is there something about `WaitForPendingFinalizers` that would make it unreliable? I was thinking of trying to isolate the GC reference nulling into a separate method but it doesn't seem like that would help.

[2018-01-25 21:24] jkotas commented on #15852
https://github.com/dotnet/coreclr/issues/4093#issuecomment-296853982 explains the typical issue with `WaitForPendingFinalizers`.

[2018-01-25 22:20] sdmaclea opened #16021 "[Arm64] Add Short Vector ABI support for HW Intrinsics"
The types `Vector64<T>` and `Vector128<T>` are intended to map to ABI `Short Vector` fundamental types.  These should be passed in vector registers.

Current code will pass these in integer registers.

`IsShortVector` can be crudely implemented as follows:
[code]

`Compiler::getPrimitiveTypeForStruct()` can be trivially updated to return `TYP_SIMD8` or `TYP_SIMD16` when `IsShortVector() == true`

[2018-01-25 22:22] AndyAyersMS commented on #12233
@chcosta did this CSC update ever happen?

[2018-01-25 22:25] nattress commented on #13952
@sjsinju Closing this issue since the tests are running and passing after the fix in https://github.com/dotnet/coreclr/pull/13933

[2018-01-25 22:25] #13952 closed

[2018-01-25 22:26] sdmaclea opened #16022 "[Arm64] Add HVA ABI support for HW Intrinsics"
Once Short Vector ABI is supported #16021, Homogenous Short Vector Aggregates (HVA) should be supported.

One approach would be to treat these as a subclass of `HFA`, `getHfaType()` could then return `TYP_SIMD8` or `TYP_SIMD16`.  This may simplify implementation.

@CarolEidt @tannergooding @dotnet/arm64-contrib @dotnet/jit-contrib This will require a design discussion

category:reach
theme:intrins

[2018-01-25 22:28] MichalStrehovsky opened #16023 "[Default Interfaces] Edit and Continue"
Not sure if any work is needed, so this tracks just checking whether it works for now.

Might want to specifically try shared methods on generic types.

[2018-01-25 22:28] nattress commented on #1099
Closing this 2-year old issue since we don't plan to document or provide tools for parsing the Ngen binary format.

[2018-01-25 22:28] #1099 closed

[2018-01-25 22:51] chcosta commented on #12233
I'm not sure. @weshaggard , @joperezr , do you know if this happened?

[2018-01-25 23:10] adamsitnik opened #16024 "[Question] Are the C++ code contracts somehow cached and not updated during build?"
Hi!

I am not sure what is going on, so I am going to describe my problem in steps:

1. I create new method, which should have `GC_NOTRIGGER` contract, but I am lazy and I copy the contract header from another method and don't realize that it's `GC_TRIGGERS`
2. I write some more code and build everything with `build -x86 skipTests` command
3. I run my executable with `CoreRun.exe` and it fails due

[2018-01-25 23:10] brianrob commented on #15367
Duplicate of #15302.

[2018-01-25 23:10] #15367 closed

[2018-01-25 23:34] brianrob commented on #15302
@xiaomi7732 I want to confirm some behavior that you're seeing here.  Are you saying that if you set the activity ID and then log an event via EventSource that the activityID doesn't show up?  Or is this specific to runtime events (non-EventSource)?

[2018-01-25 23:48] omariom commented on #16012
That's all good news.

So on the only difference on ARM will be that thanks to unalignment it will load/save it byte by byte?

[2018-01-26 00:12] xiaomi7732 commented on #15302
@brianrob it is: set the activity ID and then log an event via EventSource that the ActivityID doesn't show up in netperf file. Thanks for looking into this. Please let me know if more info is needed.

[2018-01-26 01:02] AndyAyersMS commented on #11390
Instead of hacking the upstream IR to try and game allocation, I looked into decisions made by the allocator. Here there are 3 intervals:
[code]
and we are looking at why interval 6 (i6) which is the cast temp ends up in RDX, while interval 1 ends up in RAX.

All the logic discussed below is in `tryAllocateFreeReg`.

When considering interval i6 at 42, the allocator first sees that it has related

[2018-01-26 01:08] AndyAyersMS commented on #11390
With just a small tweak to the related interval forwarding, I get this code:
[code]
and magically all those moves are gone. We still do a back-and-forth dance with the pinned slot, but that's not an allocator issue.

Looking at what this does a bit more broadly....

[2018-01-26 01:41] adamsitnik commented on #16024
Update: it's something wrong with my configuration. Even if I edit a simple managed app in VS and rebuild it, the changes are not detected.

So I am closing this issue as it's not related to CoreCLR.

[2018-01-26 01:41] #16024 closed

[2018-01-26 02:19] ygc369 commented on #1784
@AndyAyersMS
Do you know whether the .NET Native compiler supports escape analysis? It's an AOT compiler and can see the actual implementations of all methods.

[2018-01-26 02:57] GrabYourPitchforks commented on #16012
@omariom Perhaps in the worst case. Ideally the JIT is smart enough to know the capabilities of the target hardware and emit optimal assembly. But sometimes practice isn't as clean as theory. ;)

[2018-01-26 04:18] brianrob opened #16030 "EventPipe: Switch to CAPTURE_STATE and Remove Rundown Provider"
The runtime already has support for ETW CAPTURE_STATE.  We should use this support in EventPipe instead of using the rundown provider.  We can then remove rundown.

[2018-01-26 06:54] mikedn commented on #16012
Right, alignment could be a problem on ARM. The current ARM JIT ignores the `unaligned.` IL prefix that `ReadUnaligned` uses and generate something like:
[code]
I'm not familiar enough with ARM to tell if this will blow up if the data is not 4 byte aligned. Supposedly newer ARM hardware does support unaligned access but I have no idea what hardware .NET Core is supposed to run on.

And even if it

[2018-01-26 11:10] benaadams opened #16033 "Project workspace_cleaner failing for 24 days"
Probably helpful to track down CI failures; but probably should be cleaning?

https://ci.dot.net/job/workspace_cleaner/

Permalinks
Last build (#454), 3 hr 8 min ago
Last stable build (#430), 24 days ago
Last successful build (#430), 24 days ago

Last failed build (#454), 3 hr 8 min ago
Last unsuccessful build (#454), 3 hr 8 min ago
Last completed build (#454), 3 hr 8 min ago

[2018-01-26 16:40] mikedn commented on #15782
I tried something like this. If it's a local definition and it has only one use then ignore liveness. This results in a pretty good improvement but there are also some regressions:
[code]
The main problem with doing this is that we need to compute the SSA use counts. That's trivial but then nothing in the JIT will update the counts. And despite what a CopyProp code comment says, CopyProp does not

[2018-01-26 18:08] jkotas commented on #15914
The unsupported syscall is tracked by #12972

[2018-01-26 18:44] jashook commented on #15963
This has somewhat been addressed with #15813; however, the centos release jobs are broken and need to be fixed. #16035 reverts the ci back to use checked centOS until the release jobs are green.

[2018-01-26 19:18] sandreenko opened #16037 "[RyuJit] do not reload contants/fold them."
For such code:
[code]
jit will generate:
[code]

Of course these `mov      ecx, 0x654321` are unwanted.
There are several examples of such weak code generation:
1. when constants are used as calls' arguments (for example for VSD #15910);
2. when arch has a fixed instruction size and does not support long immediate value encoding (RICS);
3. some instructions needs all arguments to be on stack/regis

[2018-01-26 19:42] sdmaclea opened #16038 "[Arm64/Linux] Tip fails to compile (CreateRuntimeRootILLinkDescriptorFile)"
[code]

git bisect bad `cb250bf0`
git bisect good `209415618`

@jkotas @erozenfeld Looks like is due to #15525

[2018-01-26 19:44] sandreenko commented on #16037
cc @dotnet/jit-contrib

[2018-01-26 19:49] erozenfeld commented on #16038
@sdmaclea Is this a clean build? The line "Tools are already initialized" tells me it's not. Can you try a clean build?

[2018-01-26 20:00] sdmaclea commented on #16038
Thanks, clean build fixed it.  My apologies.

[2018-01-26 20:00] #16038 closed

[2018-01-26 20:55] joperezr commented on #12233
We've updated roslyn to a fairly recent version, so I would guess that this fix might already be there. Feel free to revert the commit and see if CI is green.

[2018-01-26 21:06] mikedn commented on #15782
Different version that instead of checking that the use count of a SSA def is 1 it only checks that the ref count of the variable is 2:
[code]
Hmm, simpler and better. There are still some regressions. Though copy propagation in its current version has regressions as well.

[2018-01-26 21:56] RussKeldorph commented on #12503
Sorry for the delay on this.  The current .NET Core for ARM seems to interop correctly in these two scenarios (@borrden's and @dotMorten's structs would be different issues since the ABI rules are very different for the two cases).  If there is a source repro that demonstrates otherwise, please re-open the issue with the repro details.

For older UWP releases, issues can be reported at https://sup

[2018-01-26 21:56] #12503 closed

[2018-01-26 22:10] jkotas opened #16041 "Assertion failed '!"Extra flags on tree"' in 'Test:Test(struct)'"
Repro:
[code]

Result:
[code]

[extraflags.il.txt](https://github.com/dotnet/coreclr/files/1669321/extraflags.il.txt)

Repro is based on pattern found in real-world workload.

[2018-01-26 22:24] #15539 closed

[2018-01-26 22:26] RussKeldorph commented on #16041
@dotnet/jit-contrib

[2018-01-26 22:28] borrrden commented on #12503
@RussKeldorph I did provide a repro attached to the initial post of this ticket.  Is that what you used to test?  Or is it now unusable?

[2018-01-26 22:28] GrabYourPitchforks opened #16042 "JIT doesn't optimize away redundant checks for Span.Length"
In scenarios where a caller performs a comparison and where the callee (which has been inlined into the caller) performs that same comparison, the JIT won't consolidate the redundant checks into a single check. See examples below.

[code]

[code]

I thought maybe it had something to do with querying dest's and src's length being an indirect lookup (`[rdx+8]` or `[rcx+8]`), so I also tried capturin

[2018-01-26 22:29] 4creators opened #16043 "EventSourceTrace Test fails on OSX and Ubuntu while running jitstress HW intrinsics stress jobs"
There are reproducible errors for: `tracing/eventsourcetrace/eventsourcetrace/eventsourcetrace.sh` when running jitstress jobs for HW intrinsics:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_ubuntu_jitx86hwintrinsicnoavx_tst_prtest/17/

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_osx10.12_jitincompletehwintrinsic_tst_prtest/12/

[2018-01-26 22:30] sandreenko commented on #16041
I think DevDiv546017 points to the same issue, I will publish PR with the fix soon.

[2018-01-26 22:32] KrzysztofCwalina opened #16044 "Memory Corruption when using large structs with Span fields"
A couple of weeks ago, we added a large struct containing Span<byte> fields to corefxlab:
https://github.com/dotnet/corefxlab/blob/master/src/System.Buffers.Primitives/System/Buffers/ReadOnlyBufferReader.cs#L22

Since then, we started to see strange failures in CI:
1. The failures occur only on Mac OS X
2. The failures are non-deterministic
3. The failures look like memory corruption, i.e. write 5

[2018-01-26 22:34] RussKeldorph commented on #12503
@borrrden We created our own tests based on your description.  Are you saying you've tried it on a current runtime (UWP6 or .NET Core master) and it still fails in the same way?  If so, then we'll need to look again.  We were under the impression that you've only tried it on older UWP releases (5.x or earlier).

[2018-01-26 22:35] borrrden commented on #12503
Your indication is correct.  I have not tried it with UWP 6+ because the device I was using was repurposed for something else.  I have no reason to believe that it is *not* fixed (sorry for double negative).  Did the tests show failure on 5.x?

[2018-01-26 22:39] joshfree commented on #16044
+@janvorli

[2018-01-26 22:44] dotMorten commented on #12503
There's lots of 3rd party libraries out there that expose a C-API interface , which means changing the exports isn't a very good, if even possible option. Also moving to 6+ isn't really an option as that requires CFU, which no Mobile ARM device is getting.

[2018-01-26 22:52] VSadov commented on #16044
The method that may not be reporting all the GC refs is

https://github.com/dotnet/corefxlab/blob/b5b8dab751fe0c5f3f8dbf381cbe87e541f17a20/src/System.Buffers.Primitives/System/Buffers/ReadOnlyBufferReader.cs#L139

Where `BufferReader<TSequence> bytes` is a large struct that contains a span.

[2018-01-26 23:09] jkotas commented on #16044
@KrzysztofCwalina Could you please add corefxlab label that these failures were seen on; and build flavor (debug vs. release).

[2018-01-26 23:25] tannergooding commented on #15924
@nategraf. This is failing for Ubuntu jobs: https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_ubuntu_jitx86hwintrinsicnoavx_tst_prtest/16/testReport/

[2018-01-26 23:25] tannergooding commented on #15924
PR: https://github.com/dotnet/coreclr/pull/15961

[2018-01-26 23:29] 4creators commented on #15924
Now it is failing in Ubuntu and OSX, we cannot test CentOS since it does not listen to start commands.
PR #15585

[2018-01-26 23:30] 4creators commented on #15924
There are reproducible errors for: `tracing/eventsourcetrace/eventsourcetrace/eventsourcetrace.sh` when running jitstress jobs for HW intrinsics:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_ubuntu_jitx86hwintrinsicnoavx_tst_prtest/17/

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_osx10.12_jitincompletehwintrinsic_tst_prtest/12/

[2018-01-26 23:31] 4creators commented on #16043
dupe #15924 Closing

[2018-01-26 23:32] #16043 closed

[2018-01-26 23:53] brianrob commented on #15302
@xiaomi7732 thanks.  I have a test case for this and I think I know what needs to be done.  Will work on a PR.

[2018-01-27 00:46] KrzysztofCwalina commented on #16044
the builds that fail:
Innerloop OSX10.12 Debug Build and Test
Innerloop OSX10.12 Release Build and Test

What do you mean by "corefxlab label"? Are you asking for a snapshot  of a branch?

[2018-01-27 01:08] jkotas commented on #16044
Yes - a commit SHA1 that the failure was seen on.

[2018-01-27 01:27] Const-me commented on #11279
@yizhang82

The feature is not just about porting existing code. IUnknown-based interface is a straightforward ABI that allows to expose any OO API implemented in native code.

Take a look at Microsoft’s Direct3D or MediaFoundation. They don’t use COM but do expose IUnknown-derived interfaces. The pattern is very useful for general purpose stuff. Instead,  for .NET on Linux, I currently have to ma

[2018-01-27 02:34] yizhang82 commented on #11279
@Const-me I agree with you that COM could be a very viable ABI for wrapping objects. If you only keep the very basics - just IUnknown, and leave out other stuff (such as activation, apartments, security, etc), it's actually a very reasonable option. As a matter of fact, when people port their existing COM code to other platforms, they do exactly that. Unfortunately such practice is not very common

[2018-01-27 02:59] tannergooding commented on #11279
The COM interop, ignoring all of the other cruft (threading, security, proxies, etc), is really just a nice way to marshal the VTBL of a native class.

That is, when you declare an interface:
[code]

This is really just shorthand for:

[code]

It also means that you can directly invoke the method table entries, rather than needing to manually call `Marshal.GetDelegateForFunctionPointer` on the vtb

[2018-01-27 02:59] tannergooding commented on #11279
I opened an issue a while back (https://github.com/dotnet/coreclr/issues/6531) suggesting that CoreCLR provide a new interop type (`Native`) which would ignore all of the COM cruft and just marshal the VTBL.

For example, it could be used for a hypothetical interface `ICalculator` (which doesn't use COM)
[code]

Which saves you from manually doing:
[code]

It could also be used for a COM compatibl

[2018-01-27 03:43] kouvel commented on #15851
Fixed with https://github.com/dotnet/coreclr/pull/16048

[2018-01-27 03:43] #15851 closed

[2018-01-27 03:43] kouvel commented on #15852
Thanks, looks like that was the issue. Fixed with https://github.com/dotnet/coreclr/pull/16048.

[2018-01-27 03:43] #15852 closed

[2018-01-27 05:59] kouvel opened #16050 "Enable tiered jitting for R2R methods"
PR: https://github.com/dotnet/coreclr/pull/16040

[2018-01-27 06:38] #15076 closed

[2018-01-27 16:19] mikedn commented on #15782
Another example that shows the funny results CopyProp's heuristic can produce:
[code]
generates:
[code]
Basically a total mess. The `x` argument got copied 3 times into 3 separate registers and then all are used to initialize the `x`, `y`, `z` and `w` fields. And this still happens even if you get rid of the intermediary `f2` variable:
[code]
No idea what can be done in this case. The ref count so

[2018-01-27 16:56] roji opened #16051 "Interlocked.Exchange<T> is slower than Interlocked.CompareExchange<T>"
See this SO: https://stackoverflow.com/questions/48470081/interlocked-exchange-slower-than-interlocked-compareexchange

Long story short, microbenchmarking `Interlocked.Exchange<T>` against `Interlocked.CompareExchange<T>` shows that the former is quite a bit slower, apparently `CompareExchange<T>` has an optimization that could also be applied to `Exchange<T>`.

The performance difference does no

[2018-01-27 17:06] thoemy opened #16052 "Illegal Instruction segfault in libcoreclr.so on CPU without AVX"
I have not found any requirements about the CPU so I assume that this is a bug.

I have an ASP .NET Core 2 application running on an PC with an Intel N3450 CPU that does not support AVX. The application seems to work fine but crashes when a view containing the following HTML fragment is displayed.
[code]
When that part (and the other inputs) are removed from the view, then it can be displayed.

At

[2018-01-27 17:18] mikedn commented on #16051
Hmm, `Interlocked.Exchange<T>` should probably be changed to
[code]
@jkotas ? I doubt that we want to special case `Exchange` in the runtime like we do `CompareExchange`. Quite the opposite I'd say..

[2018-01-27 17:28] jkotas commented on #16051
Agree. This all predates `ref` returns and `S.R.CS.Unsafe`.

[2018-01-27 17:40] jkotas commented on #16052
@thoemy Thank you for reporting this bug!

Introduced by https://github.com/dotnet/coreclr/pull/6394

cc @janvorli @adityamandaleeka

[2018-01-27 18:50] Alois-xx commented on #16004
I have done some heavy tests with no page file. A multi user test did run fine for 30 minutes but then the server did blue screen. If you run into the commit limit funny things may happen which are only to a minor part under your control. You should always keep a good amount of memory away from the commit limit.

[2018-01-27 19:01] Alois-xx commented on #15954
@benaadams : Then using the internal EventSource ctor with the guid would be way to go. Reading the Guid via reflection is costly after all. FrameworkEventSource()  uses this trick.

[2018-01-27 19:06] Alois-xx opened #16053 "GC.SuppressFinalize not keeping object alive?"
I have noticed a sporadic issue inside TraceEvent:

https://github.com/Microsoft/perfview/issues/533

which causes an objects finalizer to run although it is still alive. I have tried to create a repro but failed so far.
I suspect the missing ingredient might be that Thread::RareDisablePreemptiveGC is called while the unmanaged code is being run.

[code]

To prove my point I would need some hints

[2018-01-27 19:09] benaadams commented on #16051
Also remove `COMInterlocked::ExchangeGeneric, FC_TypedByRef location, FC_TypedByRef value`?

[2018-01-27 19:10] mikedn commented on #16051
Yeah, I'm removing all the gunk.

[2018-01-27 19:10] benaadams commented on #16051
Value in doing the same with?
`COMInterlocked::CompareExchangeGeneric, FC_TypedByRef location, FC_TypedByRef value, LPVOID comparand)`

[2018-01-27 19:12] mikedn commented on #16051
What exactly does "the same" mean? If you're talking about the solution I mentioned above then I'd avoid doing that in case the JIT's inliner decides to throw a fit. I ended up cleaning up the whole mess. Still waiting for a build to see if it actually works.

[2018-01-27 19:14] thoemy commented on #16052
@jkotas Thanks for the quick response. Let me know if there is something I can test.

[2018-01-27 19:25] benaadams commented on #16051
Aye, dropping
`void _CompareExchange(TypedReference location1, TypedReference value, Object comparand)`
and using
`Object CompareExchange(ref Object location1, Object value, Object comparand)`

Fair enough

[2018-01-27 19:29] mikedn commented on #16051
Dropping `_CompareExchange` is fine. Dropping the special casing from jitinterface.cpp is a bit more problematic. Ideally the generic method would be an intrinsic and the non-generic one would just use the generic one so no casts are needed.

Unfortunately it seems that the a generic method cannot be an intrinsic. Oh well, back to the drawing board...

[2018-01-27 19:39] tannergooding commented on #16051
Why can't it? We have a few other intrinsic generics (but they might all be using the "named intrinsic" feature).

[2018-01-27 20:28] jkotas commented on #16051
FWIW, adding the special casing for `Interlocked.Exchange` to jitinterface.cpp should be fine if it helps.

[2018-01-27 20:54] benaadams commented on #15954
Seems to do the trick, goes straight to `Initialize` https://github.com/dotnet/coreclr/pull/16054

Post
![image](https://user-images.githubusercontent.com/1142958/35476200-010b8e88-03a4-11e8-8d88-fd891102d54f.png)

[2018-01-27 21:27] Alois-xx commented on #15954
That was a fast change. The numbers look great.

[2018-01-27 22:58] AndyAyersMS commented on #1784
I don't believe it does escape analysis. @davidwrighton might know more though.

[2018-01-28 02:44] jkotas commented on #16053
This means that you are running on .NET Framework and that the runtime is shutting down. All objects are finalized on .NET Framework, even the live ones.

The shutdown finalization is a well source of shutdown crashes. We have disabled it in .NET Core. https://github.com/dotnet/corefx/issues/5205 has all the details about it.

[2018-01-28 06:53] mikedn commented on #16051
Hmm, don't think it's needed, `AggresiveInlining` should do the job well in most cases. It's more of a question if we can remove the jitinterface.cpp special casing for `CompareExchange`. It's probably safer not to.

Also, I'm not sure if we can remove `_Exchange`. At least in theory that would break existing crossgened images that inlined `Exchange<T>`. Though `Exchange<T>` doesn't appear to inli

[2018-01-28 08:40] jkotas commented on #16051
There is no cross-module inlining for the version resilient R2R native images. The internal implementation details like this are fine to change.

[2018-01-28 15:37] jkotas opened #16061 "Intermittent GC._Scenarios_LeakWheel_leakwheel_leakwheel test failure in CI"
[code]

[2018-01-28 15:37] jkotas commented on #16061
Failed in: https://github.com/dotnet/coreclr/pull/16058

[2018-01-28 15:42] jkotas commented on #16061
The test uses ` GC.WaitForPendingFinalizers()`

[2018-01-28 15:46] jkotas opened #16062 "System.Runtime.CompilerServices.UnsafeTests:RefIsAddressGreaterThan test triggers JIT asserts"
Repro:

- Run CoreFX tests on checked JIT (e.g. via `corefx_baseline` job)
- The recently added `System.Runtime.CompilerServices.UnsafeTests:RefIsAddressGreaterThan` test fails with: `Assertion failed '!op2->IsCnsIntOrI() || genTypeCanRepresentValue(type, op2->AsIntCon()->IconValue())' in 'System.Runtime.CompilerServices.UnsafeTests:RefIsAddressGreaterThan()'`

[2018-01-28 15:47] jkotas commented on #16062
@dotnet/jit-contrib

[2018-01-28 15:51] 4creators commented on #16061
Failed on #16058 Ubuntu x64 jitstress:

[code]

[2018-01-28 15:54] jkotas opened #16063 "Test failures in corefx_baseline leg on Unix do not cause the CI job to fail"
There are several tests failing right now (e.g. https://github.com/dotnet/coreclr/issues/16062), yet the Jenkins UI shows it as green.

[2018-01-28 15:57] jkotas commented on #16063
cc @RussKeldorph @BruceForstall

[2018-01-28 16:03] jkotas commented on #16061
@4creators I do not see any jitstress runs on #16058 . Is this the right PR ?

[2018-01-28 16:14] mikedn commented on #16062
Checking, that's an assert I added...

[2018-01-28 17:51] 4creators commented on #16061
Sorry, it was #15585

[2018-01-28 18:58] #16051 closed

[2018-01-28 20:11] AlekseyTs opened #16064 "MethodTableBuilder::HasDefaultInterfaceImplementation hangs when an interface implements methods from two different base interfaces"
The scenario used to work as expected with 2.1.0-dev-di-25326-0 package, about 50 existing C# compiler unit-tests are broken because of that.

Compile and run the following C# code (IL is below):
[code]

Expected output:
[code]

Observed:
Execution hangs
[code]

IL:
[code]

[2018-01-28 23:01] AndyAyersMS opened #16065 "JIT: bug in CSE phase when a CSE use contains a CSE def"
The jit's CSE algorithm allows for expressions with multiple defs and uses. A given use may be reachable by more than one def. Imagine we have a CSE cse1 with two conditional defs D1, D2 that can reach a use.

Now suppose D1 is nested inside a more complex CSE cse2.  The jit processes CSEs from more complex to less complex (outer to inner) and so will tackle cse2 first. While processing cse2, D1 w

[2018-01-29 01:37] jkotas commented on #15592
We have a pretty reliable repro in real-world workload. I am going to send you details about the repro via email.

[2018-01-29 03:08] gafter opened #16068 "SIMD 64 Bit Memory-Alignment Bug"
@Gallimathias commented on [Sun Jan 14 2018](https://github.com/dotnet/roslyn/issues/24233)

**Version Used**: .NET 4.7.1 C# 7.2

**Steps to Reproduce**:

1. Install engenious via nuget or wrote your own packed Vector3 or use a other packed Vector3
2. Cast with pointer to System.Numerics.Vector3 or own unpacked Vector3
3.  Just do the same thing, just put the pointer in a variable before it.
4. Co

[2018-01-29 05:52] denfromufa commented on #659
Here is documentation for hosting .net core:

https://docs.microsoft.com/en-us/dotnet/core/tutorials/netcore-hosting

[2018-01-29 06:25] Gallimathias commented on #16068
The issue has already been moved here and should be in progress. See #15906

[2018-01-29 06:36] mikedn commented on #16062
The funny casting in that test produced the following IR:
[code]
`genTypeCanRepresentValue` treats `TYP_BYREF` as `size_t` and `CNS_INT` stores constant values using `ssize_t` so the assert fails when the constant value is negative.

The assert should apply only to small integer types, in that case we emit a byte/word size `cmp` instruction and we need to ensure that the constant fits in a byte/wo

[2018-01-29 07:33] Alois-xx commented on #16053
Ahh thanks! That explains it. The fix to move GC.SuppressFinalize before the unmanaged call will then reliably fix the issue.

[2018-01-29 08:58] wanton7 commented on #1784
Is there something that could be done for F# to help ease GC pressure? Like converting small Tuples and Option type to a struct. Is that something JIT or IL optimizer (if it can be used with F#) could do?

[2018-01-29 09:12] benaadams commented on #1784
In [F# 4.1 there](https://blogs.msdn.microsoft.com/dotnet/2017/03/07/announcing-f-4-1-and-the-visual-f-tools-for-visual-studio-2017-2/) are:
Struct Tuples
[code]
Struct Records
[code]
Struct Unions (Single Case)
[code]

[2018-01-29 10:10] wanton7 commented on #1784
@benaadams Maybe automatic conversion of small classes that meet certain criteria to structs is just a pipe dream :)
F# Core's Option type in is still a class and it would be a breaking change to change that. Some of the F# compiler optimizations don't work for struct tuples. F# compiler can sometimes optimize normal tuples away. So it's suggested to use normal tuples and optimize allocation hotsp

[2018-01-29 10:57] tmds opened #16071 "use GetLogicalProcessorInformationEx in GetLargestOnDieCacheSize"
Per https://github.com/dotnet/coreclr/pull/15975#discussion_r163460344

CC @Maoni0

[2018-01-29 12:18] ayende opened #16072 "StackOverflow in exception handling in CLR under low memory conditions"

[2018-01-29 12:19] ayende commented on #16072
Wrong repository, sorry

[2018-01-29 12:19] #16072 closed

[2018-01-29 13:24] #16053 closed

[2018-01-29 14:45] MichalStrehovsky commented on #16064
Got broken in #12753 when the temporarily commented out throw block for "type doesn't implement an interface" got replaced with a (apparently broken) implementation that checks for default interface methods.

[2018-01-29 16:37] #15644 closed

[2018-01-29 16:37] #15645 closed

[2018-01-29 16:40] KrzysztofCwalina commented on #16044
The commit where we started to seriously using this by-ref struct is 1fecfe73502183562d79aae08e2f2a93371700ea

The failures started to show up after this commit

[2018-01-29 16:44] #15954 closed

[2018-01-29 17:01] RussKeldorph commented on #16068
Duplicate of #15906

[2018-01-29 17:01] #16068 closed

[2018-01-29 17:13] #14478 closed

[2018-01-29 17:19] AndyAyersMS opened #16079 "JIT: missing flow optimization pattern"
See discussion in dotnet/corefx#26087.
[code]
The code for `MoveNext1` contains the following branch-around branch sequence:
[code]

[2018-01-29 17:34] MattGal commented on #15888
After digging, it seems that anywhere IPv4 is missing our build is broken, at a minimum because of all the azure-hosted services.  From my service ticket with the Myget folks : "We host on Azure, and Azure does not do ipv6. If they do one day, we will, too."

[2018-01-29 17:35] #15888 closed

[2018-01-29 17:48] xiaomi7732 commented on #15302
@brianrob sounds perfect!

[2018-01-29 17:48] RussKeldorph commented on #16033
@dotnet/dnceng Do you know what this is and where this issue should be tracked?

[2018-01-29 17:57] mikedn commented on #16079
That's more or less a variation around if-conversion.

[2018-01-29 17:57] mmitche commented on #16033
it's just something that deletes some directories on the static machines every now and again.

I altered it so that it doesn't run there, but this is not something to worry about

[2018-01-29 17:57] #16033 closed

[2018-01-29 17:57] MattGal commented on #16033
Thanks, Matt!

[2018-01-29 17:57] RussKeldorph commented on #16042
@dotnet/jit-contrib

[2018-01-29 18:22] KrzysztofCwalina commented on #16044
OK, after many ties (~20 test runs), I caught the failure: https://github.com/dotnet/corefxlab/pull/2084.

[2018-01-29 18:56] sdmaclea opened #16080 "Need HW Intrinsic ABI Interoperability tests"
There are no ABI tests related to use of Vector64<T>, Vector128<T>, and/or Vector256<T>.  These tests would help implement & test #16021 (as well as X86 equivalents)

Also there are no tests related to use of these in structures. These would help #16022 (as well as X86 equivalents).

There tests in `tests/src/JIT/jit64/hfa/main` which may help designing these tests.

@CarolEidt @tannergooding @fii

[2018-01-29 19:05] GrabYourPitchforks opened #16082 "x86 JIT produces non-optimal codegen when working with ByReference<T> instances"
The high-level summary is that I have two nearly identical methods: one which takes its parameters as `byte*`, the other which takes its parameters as `ByReference<byte>`. x86 RyuJIT seems to be producing non-optimal codegen in the code paths that operate on the `ByReference<T>`. For example, there's extra register shuffling here that doesn't occur in the `byte*`-based code paths. x64 RyuJIT does

[2018-01-29 19:23] jkotas commented on #16044
[code]

[2018-01-29 19:34] tannergooding commented on #16080
I added some tests already (which validates the packing requirements of the underlying ABI): https://github.com/dotnet/coreclr/tree/master/tests/src/Interop/StructPacking

We definitely need to add more as additional ABI functionality is implemented.

[2018-01-29 19:42] sdmaclea commented on #16080
I can write some C++ native interop tests for Linux, but MSVC is a bit more difficult.   I need a set of definitions for __m128 et. al for MSVC.  However,
https://docs.microsoft.com/en-us/cpp/cpp/m128 notes "The __m128 data type is not supported on ARM processors".

Depending on #include <xmmintrin.h> to define these types also seems suspicious for ARM/ARM64.  It would be nice if there was a cross

[2018-01-29 20:08] mikedn commented on #11349
A related example I happened to stumble upon:
[code]
generates:
[code]
Here LSRA was too eager to move to `r8` (presumably selected due to ABI requirements). If the move to `r8` was delayed until the actual call the code would have been 4 bytes smaller.

[2018-01-29 20:10] redknightlois commented on #15506
Just to let you know the goodies are at test already :D

Some algorithmic changes and PopCount :)

[code]

[2018-01-29 20:44] RussKeldorph commented on #16082
@dotnet/jit-contrib

[2018-01-29 20:45] #15423 closed

[2018-01-29 21:00] RussKeldorph commented on #16080
The MSVC ARM/ARM64 equivalent is __n128, etc. defined in arm(64)_neon.h.  I believe it was done this way due to a (probably short-sighted) belief that Intel-specific __mXX semantics weren't appropriate for ARM.  I once heard of an effort to bring __m128 to ARM, but I guess it didn't go anywhere (yet).

At any rate, I likely missed a discussion, but did we decide to assign the new VectorXXX types t

[2018-01-29 21:25] tannergooding commented on #16080
@RussKeldorph, https://github.com/dotnet/coreclr/issues/15943 is tracking adding the appropriate ABI support for the `System.Runtime.Intrinsics` types.

Since the hardware intrinsic functions are compiled down directly to a given instruction for the hardware, and given that they are effectively direct mappings to the `__m64`, `__m128`, and `__m256` types for the underlying ABI (for System V and fo

[2018-01-29 21:35] CarolEidt commented on #16080
I believe that we specifically avoided interop with `Vector<T>`, but the fixed-size vector types (e.g. `Vector3`) were specifically designed for interop - with the DirectX types, which makes sense as they are both abstractions over hardware acceleration that may or may not exist. The hardware intrinsics types, on the other hand, are intended to map directly onto the hardware types - so I think it

[2018-01-29 21:57] #16062 closed

[2018-01-29 22:00] sdmaclea commented on #16021
#15943

[2018-01-29 22:00] sdmaclea commented on #16022
#15943

[2018-01-29 22:03] sdmaclea commented on #16080
Passing by value to C/C++ should throw if it is not supported.  Otherwise we will not be able to implement.

[2018-01-29 22:07] tannergooding commented on #16080
You cannot currently pass a generic to C/C++ anyways (without using `S.R.CS.Unsafe` to get a pointer to it), so we should be good on that front.

[2018-01-29 22:19] sdmaclea commented on #16080
👍

Part of my motivation is looking at the managed call optimization.  Arm64 vectors arg/return are being passed in a pair of integer registers.  This is inefficient as it introduces:
+ 2+2 moves per Vector128 argument/return (caller + callee)
+ 1+1 moves per Vector64 argument/return (caller + callee)

If I wanted to support the ShortVector/HVA ABIs, interop with native breaks this into 4 separabl

[2018-01-29 22:21] tannergooding commented on #16080
I disabled this handling for System V on Unix systems.

Have you looked at a similar change for ARM, at least temporarily, so that they are passed by reference instead?

[2018-01-29 22:21] tannergooding commented on #16080
See https://github.com/dotnet/coreclr/pull/15942

[2018-01-29 22:32] sdmaclea commented on #16080
Arm64 ABI handling code is very messy.  It is not clear to me how to disable this w/o creating a worse mess.

Passing via reference to memory will be significantly slower.

I would fix it right or leave it alone.

IMO Arm64 ABI handling code needs a complete overhaul.  There are too many adhoc heuristics.

[2018-01-29 22:36] vancem commented on #14738
Just for reference you can control whether your .NET Core application's GC parameter using the
*.runtimeconfig.json file using these keys (merge it in with your existing keys.
[code]

The default for HeapCount (only for server) is the number of processors, but you can cut it down here.
NoAffinitize means that GC threads do not HAVE to run on a particular processor (good if you are running other th

[2018-01-29 23:45] brianrob commented on #15656
Duplicate of #15494.

[2018-01-29 23:45] #15656 closed

[2018-01-29 23:50] brianrob commented on #11992
Consider for 2.1.

[2018-01-30 00:05] tannergooding opened #16088 "Update the HWIntrinsic nodes to allow dead code optimization."
https://github.com/dotnet/coreclr/pull/16066 updated the hardware intrinsic nodes to never be optimized away, under the general assumption that users will be hand optimizing their code.

However, in some cases (such as when inlining, or when constant parameters are passed), it may still be beneficial to optimize away any dead or unreached code.

We should update the HWIntrinsic nodes to properly s

[2018-01-30 00:06] tannergooding commented on #16088
FYI. @CarolEidt, @fiigii

[2018-01-30 00:35] briansull commented on #16065
The issue appears to me to be due to the extract side-effects call only keeping up one of the side effects and removeng the other side effect, the secind side-effect contains the CSE #03 def

The CSE has side effects! Extracting side effects...
Keeps
`N007 ( 10,  8)              [000112] -A-XG---R---              *  ASG       int    $VN.Void`
Discards
`N013 (  4,  4) CSE #03 (def)[000065] *--XG---

[2018-01-30 00:48] fiigii commented on #15506
@redknightlois Thank you for the data. `PREFETCH` intrinsics are comming https://github.com/dotnet/coreclr/pull/15923

[2018-01-30 00:57] #15803 closed

[2018-01-30 02:49] #15302 closed

[2018-01-30 03:14] kouvel commented on #15592
Should be fixed by https://github.com/dotnet/coreclr/pull/16089

[2018-01-30 03:16] tannergooding opened #16094 "[Test] A few SSE HWIntrinsic tests are temporarily disabled"
The following tests are temporarily disabled due to API naming changes:
* ConvertToVector128SingleScalar_r
* ConvertToVector128SingleScalar_ro
* LoadScalar_r
* LoadScalar_ro
* SetScalar_r
* SetScalar_ro

They can be re-enabled after https://github.com/dotnet/corefx/pull/26668 is merged and syncs back

[2018-01-30 03:16] kouvel commented on #15592
Reopening for release/2.1 PR https://github.com/dotnet/coreclr/pull/16093

[2018-01-30 03:28] AndyAyersMS commented on #16065
I don't see that bit of output in my jit dump; here's a summary:
[code]

[2018-01-30 03:32] AndyAyersMS commented on #11390
I'm going to close this as this particular issue given the fix in #16028.

Note there are other cases where we can still see chains of shuffling moves and these come from other parts of the preferencing heuristic.

[2018-01-30 03:32] #11390 closed

[2018-01-30 03:35] AndyAyersMS commented on #15782
Probably worth looking into what the preferencing heuristics do to influence allocation in these cases. Give me a day or two.

[2018-01-30 06:48] mikedn commented on #15782
In the meantime I'll see what can be done about "parallel" copies. CopyProp should probably pick one of the 4 variables and stick with it instead of picking a different variable every time. But which variable? I'd guess the one with the closest definition would be a good start.

[2018-01-30 06:55] Sunny-pu commented on #13562
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180130.01/workItem/baseservices.exceptions.XUnitWrapper/analysis/xunit/baseservices_exceptions._regressions_Dev11_154243_dynamicmethodliveness_dynamicmethodliveness_~2F_regressions_Dev11_154243_dynamicmethodliveness_dynamicmethodliveness_cmd

[2018-01-30 09:38] tmds commented on #15576
Implemented in https://github.com/dotnet/coreclr/pull/15912

[2018-01-30 09:38] #15576 closed

[2018-01-30 09:41] tmds commented on #14991
PR https://github.com/dotnet/coreclr/pull/15975 makes some changes based on https://github.com/dotnet/coreclr/issues/14991#issuecomment-348428003
Closing: there are no reported OOM for 2.0.3 and higher.

[2018-01-30 09:41] #14991 closed

[2018-01-30 15:13] sillyousu commented on #14186
Sure. I will do it in next few day.

[2018-01-30 16:14] janvorli commented on #16052
The issue is actually not in this code, these instructions should not be executed when the processor doesn't have YMM registers. The CONTEXT_XSTATE bit is cleared by the CONTEXTFromNativeContext when Linux reports there is no xstate. And the call to CONTEXTFromNativeContext in common_signal_handler is the only place where we set the CONTEXT_XSTATE in the context flags.
That means the the culprit i

[2018-01-30 16:54] #15848 closed

[2018-01-30 17:18] AndyAyersMS commented on #14472
In the RGB example the jit doesn't try optimizing the box early as it is in a return tree. The importer currently only calls `gtFoldExpr` on trees feeding conditional branches.

We could presumably invoke the expression folder more often during importation and catch more cases. I suppose the question then is "how much more often" -- likely whether the size reduction wins counteract the extra cost

[2018-01-30 18:08] xiaomi7732 commented on #15302
@brianrob Thanks for taking care of this.

[2018-01-30 18:45] briansull commented on #16065
I did have to make some code modifications to get the repro to compile with the older version of C# used in the Desktop environment.

[2018-01-30 19:53] AndyAyersMS commented on #16065
@briansull is going to work on a fix....

[2018-01-30 20:08] #16064 closed

[2018-01-30 20:11] sdmaclea opened #16104 "Common/fast lookupHWIntrinsic(...) API"
```NamedIntrinsic Compiler::lookupNamedIntrinsic(CORINFO_METHOD_HANDLE method)```

Currently uses this code to lookup intrinsics

[code]

It would be nice to simplify this to
[code]

The actual parameters to `lookupHWIntrinsic` are arguable.

I proposed including `method` so that `getMethodHash(CORINFO_METHOD_HANDLE)` could be used for fast lookup from an unordered dictionary.  Of course a hash of

[2018-01-30 20:23] brianrob opened #16105 "EventPipe Metadata Produced By EventSource Can't Express Parameter Type GUID"
When an event has a parameter of type GUID, the existing metadata blob is not capable of expressing it as GUID is not a valid TypeCode.

When EventSource writes to ETW, it uses a TypeCode of object, but the type name is written into the manifest which allows TraceEvent to override the TypeCode and read 16 bytes instead of treating it the parameter as an objectref.

If there's a nice way to solve t

[2018-01-30 21:00] AndyAyersMS commented on #14472
Looked at the flags issue a bit without gaining much insight. The GTF_EXCEPT flag is flipped on for GT_BLK during morph regardless of whether it was set before. So any upstream knowledge about potentially safe memory operations is seemingly just tossed out. And if we don't set the flag then `fgDebugCheckFlags` gets cranky.

[2018-01-30 21:14] joshfree opened #16106 "Expected behavior of gen 2 disposed finalizable objects"
Opening on behalf of @ayende - issue moved from https://github.com/dotnet/corefx/issues/26659 to the coreclr repo:

--------------------------

I'm investigating high memory utilization in one of our systems, and I seeing very strange results:

[code]
The final tally is 76,869 objects in the queue. I am doing a lot to try to reuse instances, so it is not surprising that a lot of them are actually

[2018-01-30 21:17] mikedn commented on #14472
Aha! So the trick I used for `string.IsNullOrEmpty` works here as well but for completely different reasons:
[code]
generates
[code]
Funny.

[2018-01-30 21:19] #13083 closed

[2018-01-30 21:24] mikedn commented on #14472
Or in this `List<T>` code where I extracted the example from:
https://github.com/dotnet/coreclr/blob/8a9c59260b8cc04d266e021229f4b044bf40ad52/src/mscorlib/shared/System/Collections/Generic/List.cs#L193-L198
[code]
generates
[code]
While not ideal at least it no longer does boxing.

[2018-01-30 21:30] vancem commented on #16105
I don't have a problem adding a TypeCode value (we don't actually own the TypeCode enum), for Guid (17 seems to be free).   Note that there may be a similar issue with IntPtr and UIntPtr.   We may wish to add typecodes for those as well.

[2018-01-30 21:49] brianrob commented on #16105
Yeah, I saw IntPtr has a workaround as well.

I will follow-up on whether or not we can modify TypeCode - it occurs to me that we'd really need to do this on desktop too to support TraceEvent and that's where things start to fall apart.  We may be better off using a different enum (cloning), but let me check first.

[2018-01-30 22:03] vancem commented on #16105
While it may be useful to simply change TypeCode, I don't think it is a big deal to create static constant variables of type TypeCode that we assign to unique values
[code]
And then we use them like

  if (typecode == TypeCodeEx.Guid)

Ideally we also change TypeCode, but this way we don't need an updated CoreLib to get the new values.

Vance

[2018-01-30 22:04] janvorli commented on #16052
I have a fix, but need to verify that it works as expected and I don't have any machine with a processor that doesn't have the ymm registers but still has xstate. @thoemy would you be willing to get a drop in replacement for the libcoreclr.so with the fix from me and give it a try?

[2018-01-30 22:12] RussKeldorph commented on #13560
@janvorli After cursory inspection, my impression is that PAL is a more appropriate than System.Runtime.  If you agree, could you set the milestone?

[2018-01-30 22:31] RussKeldorph commented on #13714
Assuming resolved.  Please re-open if there is more discussion necessary.

[2018-01-30 22:31] #13714 closed

[2018-01-30 22:46] danmosemsft commented on #16012
Perhaps you'd like to offer a PR with measuremnts @omariom ?

[2018-01-30 23:06] tannergooding commented on #16104
This sounds reasonable to me, provided we can still keep it performant.

I believe current investigations lead us to believe we would need something like a binary search (or better), given the sheer number of intrinsics some ISAs are providing.

[2018-01-30 23:25] CarolEidt commented on #16104
It's hard to imagine that it could be any worse than the current approach.

Binary search seems reasonable, since all the keys are known at compile-time. Whatever we do, we don't have to pay setup cost for the case where there are no intrinsics being used.

[2018-01-30 23:39] #16041 closed

[2018-01-30 23:43] AndyAyersMS commented on #14472
Seems like importer folding at relational ops is pretty cheap and effective. Will send a PR.

[2018-01-30 23:49] jorive commented on #14191
@JosephTremoulet Did you check why these benchmarks were timing out in the lab machines?

[2018-01-31 00:04] fiigii commented on #16104
I remember @AndyAyersMS suggested that the faster-lookup should handle all the new-style named intrinsic.

[2018-01-31 00:20] tannergooding opened #16113 "Add tests to the lstFile so they can be run in automation."
As per the comment from @jashook here: https://github.com/dotnet/coreclr/pull/15771#pullrequestreview-92768110

[2018-01-31 00:20] tannergooding commented on #16113
FYI. @jashook, @CarolEidt.

It sounds like this might be a more general work item, rather than specific to just the hardware intrinsics.

[2018-01-31 00:20] jashook commented on #16113
Correct assigned to myself, thanks for opening

[2018-01-31 00:54] omariom commented on #16012
Right now I don't have such ability. Otherwise I would create a pr instead of the issue 😟

May be someone else in this discussion can do it (pls 😊)?

[2018-01-31 01:51] AndyAyersMS commented on #14472
Think the more general opt needs more conceptual bake time, so moving out of 2.1.

[2018-01-31 01:52] AndyAyersMS commented on #14473
Moving this to future too, as it depends on the multi-use box work.

[2018-01-31 03:06] AndyAyersMS commented on #13097
Went back and looked at the original and the ~20% perf hit is still there.

It's easy enough to mitigate this specific case in the importer, as the expansion of `Span.getItem` invokes `gtClone` on the index tree with the "complexOK" flag set. But `gtClone` doesn't handle `GT_SUB` and so as is we end up spilling to a temp.

Adding cloning support for `GT_SUB` fixes the above case but only fires in

[2018-01-31 07:21] AndreyAkinshin commented on #11279
We really need the COM Interop support in Rider. It's a show-stopper which prevents migration from Mono to .NET Core.
@karelz, what the current plans for this feature?

[2018-01-31 08:19] Barsonax opened #16119 "Property getter not getting inlined"
I ran into a performance issue when I used a property for the HCost + GCost field [here](https://github.com/Barsonax/Pathfindax/blob/5af5686de82a6307bb54ffdfd3d4343c32e38d92/Source/Code/Pathfindax/Nodes/AstarNode.cs#L43). One would expect these to be inlined as this makes a big difference in performance in my case and the body is really small.

Without the property the perf numbers are this (bench

[2018-01-31 09:10] mikedn commented on #16119
As far as I can tell you're using .NET Framework x86. The JIT compiler used by that is not the open sourced RyuJIT but an older, legacy JIT. AFAIR that JIT sometimes does have issue inlining trivial methods. However, it's very unlikely that someone will go and fix that.

It would be useful if you could re-run benchmarks using .NET Framework/Core x64 or .NET Core x86.

[2018-01-31 09:45] Barsonax commented on #16119
But it says ryujit [here](![image](https://user-images.githubusercontent.com/19387223/35615809-906171fc-0673-11e8-98e4-c9eb553dddad.png)
) right? Am I misunderstanding the config in benchmark dotnet? Do I have to change something in the config [here]?(https://github.com/Barsonax/Pathfindax/blob/MoreBenchmarks/Source/Code/Pathfindax.Benchmarks/BenchmarkConfigAttribute.cs)

[2018-01-31 09:53] thoemy commented on #16052
@janvorli of course. I should be able to test it today.

[2018-01-31 10:08] mikedn commented on #16119
Yeah, I saw. I'm not very familiar with the output of Benchmark.DotNet but it also says "32 bit LegacyJIT" at the end of the line.

[2018-01-31 10:17] Barsonax commented on #16119
Jup noticed that too. Very confusing so I made a issue about that [here](https://github.com/dotnet/BenchmarkDotNet/issues/638).

[2018-01-31 11:12] hmanner opened #16122 "ThreadAbortException not re-thrown by the runtime"
It looks like the ThreadAbortException is not always re-thrown by the runtime. See below for a sample program that reproduces the issue, causing an infinite thread loop.

I have reproduced this on two 64-bit systems running .NET Framework 4.6.1 and 4.7.1 respectively.
I can not reproduce on .NET Framework 4.5.2.

The issue goes away if forcing usage of the legacy jit compiler with the following co

[2018-01-31 12:26] 4creators commented on #16104
Than it should be possible to go for O(1) - a bit unconventional switch table.

[2018-01-31 13:10] janvorli commented on #16052
@thoemy you can get it here (my personal onedrive): https://1drv.ms/u/s!AkLV4wRkyHYhvh0Gkn2Md1ozIsYv
Just unzip it and copy the libcoreclr.so to the place where you have the same file installed (it should be /usr/share/dotnet/shared/Microsoft.NETCore.App/2.0.5/libcoreclr.so)

[2018-01-31 14:38] efimackerman commented on #930
Interop with native libraries on .Net Standard proposal.

We have the C libraries provided by third party on Linux and Windows platforms. The library names doesn’t follow  the naming convention. Say library names are linuxlib.so and winLib.dll.  We want to create the .Net Standard project that uses this libraries. We are using the DllImport attribute. The challenge is how to load a correct library

[2018-01-31 14:54] Barsonax commented on #16119
Reopening this issue as it also seems to happen when using x64 RyuJIT.
When the AstarNode struct is like [this](https://github.com/Barsonax/Pathfindax/blob/046461dc7be9e852f218e76b5541630a8fab3626/Source/Code/Pathfindax/Nodes/AstarNode.cs)

The perf numbers are like this:
![image](https://user-images.githubusercontent.com/19387223/35629312-957570be-069e-11e8-9567-429452bac758.png)

However when yo

[2018-01-31 15:24] #11126 closed

[2018-01-31 16:18] MichalStrehovsky opened #16123 "[Default interface methods] Constraint resolution throws ambiguous match exception too early"
The exception is uncatchable because we throw it at the time of JITting the method.

We likely need a try/catch.

[code]

[2018-01-31 16:58] mikedn commented on #16119
Yes, that's exactly what happens. Unfortunately RyuJIT thinks that `CompareTo` is too large to inline when `HCost` is changed to a property.

I suppose @AndyAyersMS may want to take a look at this. I posted the relevant part of a JIT dump of `SortUp` here: https://gist.github.com/mikedn/875b00655cf77a8fb19aa75da25cc6cd

It's kind of unfortunate that even today the JIT has problems inlining trivial

[2018-01-31 17:13] AndyAyersMS commented on #13097
Circling back to the promotion -- I don't see a big benefit so far from being more aggressive with byref-likes, though it could be I'm not looking at the right examples.

Most times with Span, by being more aggressive we're just altering the way a copy gets made, as a copy has two uses. The use in a loop variant seems rare, and even then the memory references aren't so bad; in fact I have it clock

[2018-01-31 17:22] jkotas opened #16126 "Update performance tests to build against netcoreapp"
Performance tests are building against .NET Standard 1.4: https://github.com/dotnet/coreclr/blob/master/tests/src/JIT/config/benchmark/benchmark.csproj#L5

This is a problem for testing netcoreapp-specific APIs. We have hit with `MemoryMarshal.CreateSpan` API that was changed to netcoreapp-specific. The test for this API was disable via `#if false` and link to this issue: https://github.com/dotnet

[2018-01-31 17:23] jeffschwMSFT commented on #15331
This issue is due to invalid instrumentation of System.Private.CoreLib.  The current dumps have insufficient details to fully confirm, waiting for full memory dumps.

[2018-01-31 17:28] JosephTremoulet commented on #14191
No, I have not investigated these on lab machines.

[2018-01-31 17:41] RussKeldorph commented on #16122
@hmanner Thanks for reporting this.  As you're probably aware, Thread.Abort is not part of .NET Core, so we may have to find a more appropriate place to track this.  @richlander Is this appropriate for [Microsoft/dotnet](https://github.com/Microsoft/dotnet)?

Assuming CodeGen until proven otherwise since LegacyJit doesn't repro.

@dotnet/jit-contrib @dotnet/coreclr-contrib

[2018-01-31 18:00] RussKeldorph commented on #16126
Would this supercede #14124?  There was some debate about what is appropriate there.  Do we all agree this issue is the path forward?  @DrewScoggins @jorive @AndyAyersMS

[2018-01-31 18:02] AndyAyersMS commented on #16126
In the past we've wanted to keep perf tests building against a lowest common denominator so we could run the exact same tests on older releases to assess release to release perf changes.

I don't believe we need to support running current tests against 1.1 anymore, but it would be nice to be able to run them vs 2.0. So maybe we need to multi-target this test or just let the 2.0 version diverge.

M

[2018-01-31 18:42] AndyAyersMS commented on #16119
RyuJit makes profitability assessments solely by scanning the IL of the potential inlinee. This analysis isn't transitive -- it does not resolve tokens in the callee's IL or look through calls that the inlinee makes to see if they are also good inline candidates. So the jit has at best a limited and conservative view of the profitability of the inlinee.

Heuristics that look more deeply and more c

[2018-01-31 19:00] jorive commented on #16126
@jkotas Why not create a `tests/src/JIT/config/benchmark+span/benchmark.csproj` where it targets a different netstandard? I do not see a reason to move all benchmarks for this reason.
Or even better, we could create different configs/projects like this: `tests/src/JIT/config/benchmark+netstandard[1.1|1.2|1.3|1.4|1.5|1.6|2.0]` as needed :)

[2018-01-31 19:03] jkotas commented on #16126
Sounds fine to me.

[2018-01-31 19:08] jkotas commented on #16126
I do think you really need the `tests/src/JIT/config/benchmark+netstandard*` .csproj files. They have a lot of cruft in them, e.g. the 4.4.0-beta-24913-0 package versions do not look right. I think you should be just able to reference `netstandard1.1/.../2.0` TFM in the .csproj file.

[2018-01-31 19:28] jorive commented on #16126
I do not know what was the initial reasoning behind these config/csproj, but I do agree with each test being able to specify its own target.

[2018-01-31 19:41] thoemy commented on #16052
@janvorli unfortunately it crashes during startup. The following info was obtained using GDB. Not sure how helpful it is this time.

[code]

[code]

[2018-01-31 19:45] tannergooding commented on #16052
@janvorli, can you test locally with the COMPlus_EnableAVX=0 or COMPlus_EnableAVX2=0 flags?

[2018-01-31 19:57] karelz commented on #14402
BTW: Fails also on .NET Framework, does not seem to be critical for 2.1.

[2018-01-31 20:02] CarolEidt opened #16132 "x86: HardwareIntrinsics tests fail with JitStressRegs=4"
These tests are failing in the JIT\HardwareIntrinsics\X86\Sse directory:
CompareGreaterThan_r
CompareGreaterThanOrEqual_r
CompareLessThan_r
CompareLessThanOrEqual_r
CompareNotGreaterThan_r
CompareNotGreaterThanOrEqual_r
CompareNotLessThan_r
CompareNotLessThanOrEqual_r
CompareOrdered_r
CompareUnordered_r
Reciprocal_r
Reciprocal_ro
ReciprocalSqrt_r
ReciprocalSqrt_ro

[2018-01-31 20:08] AndyAyersMS commented on #13097
One more note on this. While it's fairly rare for methods to modify their parameters, it does happen.  IIRC, writes to gc fields of struct parameters passed implicitly by-ref require checked write barriers. So we might consider screening for such cases and see if they're really as uncommon as I think. But it seems hard to imagine we'd find such a case without some subsequent use -- otherwise the s

[2018-01-31 20:14] CarolEidt commented on #16132
These pass with `COMPlus_EnableAVX=0` (hence an AVX-capable system is necessary to repro)

[2018-01-31 20:17] CarolEidt commented on #16132
They also fail on Ubuntu/x64 with JitStressRegs=4. This is an ABI-related stress mode (reverse caller-callee), so perhaps it is not surprising.

[2018-01-31 20:18] AndyAyersMS commented on #16119
And if you're curious about attempts to improve the current IL based heuristics, you might find [this writeup](https://github.com/AndyAyersMS/PerformanceExplorer/blob/master/notes/notes-aug-2016.md) interesting.

[2018-01-31 20:38] hmanner commented on #16122
@RussKeldorph Sorry, I was a bit uncertain where to post this. A similar issue had been posted on the Connect site, which I believe was retired very recently. A reference to that report can be found [here](http://labs.criteo.com/2017/04/ryujit-never-ending-threadabortexception).  I'll be happy to post somewhere else if you can point me in the right direction.

I am aware of `Thread.Abort` not bein

[2018-01-31 20:49] janvorli commented on #16052
@tannergooding that would not help, the problem was in PAL and it detects ymm registers presence from the structure passed in by the kernel. The rare thing with this processor is that it has extended state, but that doesn't contain ymm registers. I don't have access to such device.

[2018-01-31 20:54] janvorli commented on #16052
@thoemy thank you for testing. I have done local testing for the change made in the  current latest version of the runtime and then just ported it to the build the sources of the released 2.0.5 version without further testing. Let me test that version locally and see what's going on.

[2018-01-31 21:00] tannergooding opened #16134 "[Test Failure] JIT.Performance.CodeQuality.Span.SpanBench.SpanBench"
This is currently failing in x64 Ubuntu stress runs with a MissingMethodException.

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_ubuntu_jitx86hwintrinsicnoavx2_tst_prtest/32/testReport/JIT.Performance.CodeQuality.Span/SpanBench/SpanBench/

[2018-01-31 21:02] tannergooding commented on #16132
@CarolEidt, is it interesting that most of these only fail for the non-optimized version, or is that expected since unnecessary stores won't get folded?

[2018-01-31 21:13] tannergooding commented on #16134
@jkotas, @ianhays. Looks related to https://github.com/dotnet/coreclr/pull/15941

[2018-01-31 21:26] Maoni0 commented on #16106
the output for !fq has 2 parts - "finalizable objects" and "Ready for finalization objects". all "finalizable objects" says is it's a finalizable object, but since GC has not looked at those objects it doesn't know whether they are dead or not. so it hasn't marked them as "Ready for finalization". if you haven't done a gen2 GC for a while, then your finalizable objects in gen2 are not going away b

[2018-01-31 21:48] CarolEidt commented on #16132
I haven't looked into it, but that may be the case. However, given that it's only the "reverse caller-callee" mode I'm not sure.

[2018-01-31 21:59] jkotas commented on #16134
Failures like these are expected as breaking changes propagate through the system. The JIT corefx legs are not robust against them. https://github.com/dotnet/coreclr/issues/12782#issuecomment-348636757 describes about what it would take to fix it.

[2018-01-31 22:03] tannergooding commented on #16134
It would seem like disabling the tests, with a tracking issue, and re-enabling them after the changes pump back might be appropriate, so that CI doesn't turn up red for known breaks.

[2018-01-31 22:22] jkotas commented on #16134
I do not think there is a reasonable way to disable these tests. The tests are fixed in master as of https://github.com/dotnet/coreclr/commit/93ec62347a4e97b920513296eefb27bdacbecfe9 . These systems just pick up stale bits in various ways.

[2018-01-31 22:25] tannergooding commented on #16134
Why can't we just add them to the `tests\issues.targets` and `tests\testsFailingOutsideWindows.txt`. That seemed to be sufficient for the HWIntrinsic API tests that where failing due to similar naming changes (I think the difference is that the HWIntrinsic tests are part of the inner loop, while this one seems to be part of the outer loop).

[2018-01-31 22:32] jkotas commented on #16134
I believe that by the time you do that and it propagates through the system, the fixed tests will propagate through the system as well so it won't be necessary.

[2018-01-31 22:32] jkotas commented on #16134
@RussKeldorph @BruceForstall

[2018-01-31 22:35] AndyAyersMS commented on #13097
Original code example perf is fixed via #16128. The second example perf seems to be a wash despite the extra in-loop memory loads.

So I'm going to close this one out.

[2018-01-31 22:35] #13097 closed

[2018-01-31 22:55] AndyAyersMS commented on #6591
@RussKeldorph this issue seems stale and no longer relevant.

[2018-01-31 23:03] AndyAyersMS commented on #9066
Just to make current status clear...

First example above is now "good":
[code]
In the second example stack space is also contained, but register shuffling is still happening, even after  #16028. Will investigate.

[2018-01-31 23:15] RussKeldorph commented on #5063
No secret plan.  Just wishful thinking maybe...  Agreed this will probably move out in the next round of triage.

[2018-01-31 23:21] AndyAyersMS commented on #11121
Example from #11104:
[code]
produces
[code]

[2018-01-31 23:23] CarolEidt opened #16135 "XArch: Encoding issue with rcpps and rsqrtps"
These two instructions are currently included in `IsDstSrcSrcAVXInstruction()`, which causes the emitter to duplicate the src operand in the `vvvv` field of the AVX encoding. However, this instruction doesn't permit a 3rd operand, resulting in Illegal Instruction exception if it is not all-ones. Since that's the encoding for xmm0, this often goes without detection because the register allocater of

[2018-01-31 23:24] CarolEidt commented on #16132
At least some instances of the reciprocal failures are due to encoding issues:
Reciprocal_r
Reciprocal_ro
ReciprocalSqrt_r
ReciprocalSqrt_ro
Filed new issue #16135

[2018-02-01 00:06] tannergooding commented on #16132
Something looks to be wrong with the encoding for `CompareGreaterThan` as well.

JitDisasm reports:
`vcmpps xmm6, xmm7, xmmword ptr [ebp-64H], 6`

But that is actually:
`vcmpps xmm6, xmm6, xmmword ptr [ebp-0x64], 6`

[2018-02-01 00:21] AndyAyersMS opened #16137 "JIT: inliner throw with invalid stack check is questionable"
The JIT won't inline a method with a throw if there are multiple entries on the eval stack at the throw. So a method like:
[code]
won't inline because CSC pends `x` to the stack before the throw:
[code]
[code]

ECMA-335's only requirement for throw is that the top of stack be an object reference. Seems like this is an unnecessary restriction in the JIT.

[2018-02-01 00:28] tannergooding commented on #16132
I see the problem, will have a fix up shortly.

[2018-02-01 00:30] AndyAyersMS opened #16139 "JIT: inlinee this deref first check potentially broken"
When inlining a call that requires a null check, the jit looks at the inlinee to see if it will dereference the inlinee `this` before any other exception can happen in the inlinee. When this is the case the null check at the call site can be suppressed.

The logic the jit uses here (see `Compiler::impInlineIsThis`) seemingly relies on the jit not inlining methods with `starg 0`, and that used to b

[2018-02-01 00:30] CarolEidt commented on #16132
Awesome, thanks!

[2018-02-01 00:37] AndyAyersMS commented on #11121
Started looking at this, uncovered a few side issues related to null checking and `this`:
* #16137
* #16139

Suppressing the null check that comes from the runtime context lookup off of `this` (by say marking the indir in `getRuntimeContextTree` as nonfaulting) fixes the above case but seems to just kick the null check can down the road in many other cases, often with worse local effects as the nu

[2018-02-01 00:43] tannergooding commented on #16132
https://github.com/dotnet/coreclr/pull/16140

[2018-02-01 01:41] janvorli commented on #16052
@thoemy I've tested the libcoreclr.so I've given you locally by replacing it in the same dotnet package you are using and it worked fine, so I wonder what's going on. I wonder if the zip could have done any harm to that.
Could you please do one more test? I've shared the whole dotnet core sdk tarball that I've tested locally. Can you please download it from https://1drv.ms/u/s!AkLV4wRkyHYhw3U1mqHB

[2018-02-01 03:42] tannergooding opened #16144 "Cleanup handling of SIMD instructions in the emitter"
Today, the emitter special cases the handling of many SIMD instructions or their special encoding requirements (such as the VEX encoding, which takes 3 operands, or the 4-byte AVX/SSE4.1 encodings).

The hardware intrinsics feature has added direct support for handling many of these same scenarios with dedicated code paths.

It may be beneficial to do a cleanup of this code, in general, and remove

[2018-02-01 03:42] tannergooding commented on #16144
FYI. @fiigii, @CarolEidt

[2018-02-01 03:54] kouvel opened #16145 "Fix GetILToNativeMapping3 to return mappings for the specified code start address"

[2018-02-01 04:40] #16135 closed

[2018-02-01 06:21] fiigii commented on #16144
related to https://github.com/dotnet/coreclr/issues/14523

[2018-02-01 06:34] danmosemsft commented on #12782
Now https://github.com/dotnet/coreclr/pull/15944 is submitted (cc @BruceForstall @RussKeldorph ), can we now proceed to delete CoreMangLib tests?

How much attention needs to be paid to them to make sure there aren't a few jewels in the dross eg a test to cover some particular bug we fixed, that is not represented in the CoreFX test bed? Eg I saw https://github.com/dotnet/coreclr/blob/master/tests

[2018-02-01 06:45] danmosemsft commented on #12782
Hmm, I see from the discussion that after #15944 we still have cases where tests will not always 100% pass. Do we believe it's important to keep CoreMangLib tests meantime - I assume we have to?

[2018-02-01 06:52] jkotas commented on #12782
And I am also worried about the CI cost when everything starts downloading and building CoreFX.

[2018-02-01 06:55] mikedn commented on #16119
As a side note: .NET's `Compare` "design" is rather unfortunate performance wise. I haven't looked close enough at your code to tell if you have a choice or not (and there's a pretty good chance you don't due to how pervasive `Compare` is in .NET). But if you do have a choice and want best performance then you could try to use a "Less" predicate instead of a "Compare" predicate, it's quite a bit c

[2018-02-01 08:16] thoemy commented on #16052
The `dotnet new console` and `dotnet run` commands work as expected. But I cannot run my ASP.Net Core project with it. Executing `dotnet run` in my source directory causes the app to crash and I get a different error each time. Sometimes some log lines from my app are visible but most of the times it crashes before that. The return code of `dotnet run` is `139`.

Through multiple runs I collected

[2018-02-01 08:35] Sunny-pu opened #16148 "[Ready-To-Run] System.BadImageFormatException in ubuntu.1604.amd64-x64"
This is currently failing in x64 Ubuntu.1604  runs with System.BadImageFormatException
[code]

Details:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fr2r~2Fcli~2F/build/20180201.01

[2018-02-01 09:19] Barsonax commented on #16119
Did a quick test as the only place where the CompareTo method is used currently is in the maxheap (purely to get the next 'best' node for pathfinding). Iam not interested if a node has a 'equal' value just need to know if its better or not. In early testing I saw a +20% difference so nice find :). Now its like this:
[code]

[2018-02-01 12:33] ststeiger commented on #8565
Theoretically, you can register them according to:
https://social.msdn.microsoft.com/Forums/vstudio/en-US/707e9ae1-a53f-4918-8ac4-62a1eddb3c4a/detecting-console-application-exit-in-c?forum=csharpgeneral

But this break Linux, because it won't catch x-window terminal close there, if I put an if around the windows-specific code, which is besides the point of using .NET Core.

[2018-02-01 13:31] RussKeldorph commented on #15004
Feel free to re-open if not sufficiently answered.

[2018-02-01 13:31] #15004 closed

[2018-02-01 13:38] janvorli commented on #16052
The fact that it sometimes fails to initialize CoreCLR and sometimes it works is really strange. I've never seen this behavior before. Does this happen only with the libcoreclr.so I've provided you with or even with the official one? I don't see how the change I've made could cause such random behavior.
Also, can you try to do a clean build of your project using the dotnet sdk I've provided you wi

[2018-02-01 14:03] thoemy commented on #16052
It only happens with the SDK you provided. I already tried a clean build by deleting all bin and obj folders. Unfortunately it made no difference. Interestingly `dotnet test` worked without problems. I'll try it again later today. Maybe I made a mistake somewhere.

[2018-02-01 15:02] alpencolt commented on #9711
@BruceForstall could you add @Buyduck to **dotnet/arm32-contrib**

cc @dotnet/arm32-contrib

[2018-02-01 16:04] CarolEidt commented on #16144
Yes - it would be great to see this, as well as the other somewhat convoluted paths in the emitter, handled in a more data-driven fashion.

[2018-02-01 16:20] CarolEidt commented on #16132
Fixed by #16140

[2018-02-01 16:20] #16132 closed

[2018-02-01 16:22] janvorli commented on #16052
Ok, can you please try to replace the libcoreclr.so with another version from here: https://1drv.ms/u/s!AkLV4wRkyHYhw3YIEg6T5jnGfiTb ? I was building the previous one on Ubuntu 14.04, which should be ok, but we build the official version on CentOS 7, so I've tried to do that to make sure it matches what we have in the public sdk.

[2018-02-01 17:05] AndyAyersMS commented on #9612
First of these is now gone but the other two are still there.

[2018-02-01 17:28] BruceForstall commented on #12782
@danmosemsft Also, while #15944 solves some problems, @jkotas has convinced me that it's not really the right or full solution.

[2018-02-01 17:44] tannergooding opened #16153 "[Test Failure] the `Sse2.MultiplyLow` test fails for some inputs."
See https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_jitx86hwintrinsicnoavx_prtest/56/, for an example.

[2018-02-01 17:45] tannergooding commented on #16153
FYI. @4creators

[2018-02-01 17:48] tannergooding commented on #16153
In the validation logic the test is doing:
[code]

@4creators, could you explain the reasoning behind the `* 0x0000ffff`?

The architecture manual indicates the logic is simply:
![image](https://user-images.githubusercontent.com/10487869/35694031-daf01cb6-0734-11e8-9ef2-abdc188ba8c6.png)

So I would think we just want to do:
[code]

[2018-02-01 18:07] karelz commented on #14161
This is .NET Framework bug, it does not affect .NET Core. We do not track .NET Framework issues on GitHub - [DeveloperCommunity](https://developercommunity.visualstudio.com/spaces/8/index.html) is the right place.

Nevertheless, changing the IDL would be technical breaking change - someone's code might not compile anymore with the fixed version. Given that the impact is minimal (devs can easily ca

[2018-02-01 18:07] #14161 closed

[2018-02-01 18:12] danmosemsft commented on #12782
Is the primary purpose of the CoreMangLib tests to protect corelib, or to help exercise changes elsewhere (VM, GC, JIT)?

Either way perhaps what is needed is a selected subset of tests forked from CoreFX (or mirroring might work since this subset will less often have breaking changes).

But, if CoreMangLib performs this job well enough for now and is not expensive to maintain, maybe it is not wor

[2018-02-01 18:14] sdmaclea opened #16154 "[Arm64] Script SIMD HW intrinsic test like #15771"
There is a lot of similarity between X86 and ARM64 Simd tests.
They should be able to use same/similar test generation scripting approaches.

X86 added a test generation script in #15771.

Refactor test/templates to allow use on both platforms.

Arm64 has some different issues
+ CoreCLR is ahead of API review & CoreFX.  Test will need to be disabled `#if`.
+ Vector64<T> is the same length as `doub

[2018-02-01 18:16] sdmaclea commented on #16154
@tannergooding Can you do this?  Or do you want/need me to do it?

[2018-02-01 18:19] 4creators commented on #16153
Typo - should be `& 0x0000ffff` - unlucky that it worked for same values though - preparing fix

[2018-02-01 18:24] tannergooding commented on #16153
The `unchecked((short)(tmp))` should handle that

What about the logic for `-a == z;`? (not sure why `a` is being negated).

[2018-02-01 18:28] tannergooding commented on #16154
I can take a look at making it work for both after the initial ARM tests are merged.

[2018-02-01 18:32] 4creators commented on #16153
Suspect that it could be merge problem during rebasing - I have started with > 50 commits before rebasing first to 5 and finally to 1 commit

[2018-02-01 18:36] ro-jo commented on #11279
I just wrote my first code for .Net Core 2.0 and found this thread after disappointment with the purported cross platform capability.

I made a .Net Core DLL with one native entry point to return an IUnknown interface, exporting a simple and extensible api as an interface for C++ apps to use new code.

It doesn't work.  The .Net Core runtime fails on Linux, and works on Windows: When I try to Mars

[2018-02-01 18:53] thoemy commented on #16052
Same segfault as before :(. But this time with a backtrace! I just replaced the original 2.0.5 libcoreclr.so with the CentOS one you provided.

This is the backtrace when running `/opt/dotnet-sdk/dotnet MyApp.dll`.

[code]

[2018-02-01 18:58] danmosemsft commented on #8565
@mikedn the code you point to only exists to implement Console.CancelKeyPress, which is [documented ](https://msdn.microsoft.com/en-us/library/system.console.cancelkeypress%28v=vs.110%29.aspx) to only fire for Ctrl-C or Ctrl-Break. So if any change is needed, it seems it would be to fix the ConsolePal.Unix.cs to ignore anything but those two. However on top of that I can't seem to get Ctrl-Break t

[2018-02-01 18:59] danmosemsft commented on #8565
Whether AppDomain.CurrentDomain.ProcessExit and AssemblyLoadContext.Default.Unloading should be fired is a separate issue it seems to me.

[2018-02-01 19:09] janvorli commented on #16052
Hmm, this is really weird. Let's do two sanity checks. First, can you please get me the result of the following unix command for the original libcoreclr.so you had before I've given you the modified versions?
`strings libcoreclr.so | grep "@(#)"`
That would let me be sure that I am providing you with libcoreclr.so built from the same sources as the original one.
After I get that from you and if it

[2018-02-01 19:34] brianrob opened #16158 "Incorrect EventPipe Assert"
I believe this assert is incorrect, but likely hasn't been hit for events that have no arguments:

[code]

https://github.com/dotnet/coreclr/blob/master/src/vm/eventpipebuffer.cpp#L263

I think it should be:

[code]

[2018-02-01 19:40] svick opened #16159 "Poor codegen for nullable value types"
I believe nullable value types (i.e. `System.Nullable<T>`) are used very commonly, so performance of the code generated for them by CoreCLR is important. But looking at the disassembly of few very simple methods that use nullable value types leads me to believe that the codegen could be improved by a lot, especially by inlining `Nullable<T>` methods.

Note that I don't have any specific performanc

[2018-02-01 19:46] erozenfeld commented on #16042
I investigated this (the second case with local copies). When I tried to repro the issue, I wasn't getting the call to Span<T>.CopyTo inlined, the jit thought the inline was unprofitable. So I added [AggressiveInlining] to Span<T>.CopyTo and then got the same codegen as reported above.

The reason the jit doesn't remove the redundant check is that the jit's assertion propagation phase only creates

[2018-02-01 19:46] adamsitnik commented on #16105
I can see that TraceEvent is using different enum to identify types: [TdhInputType](https://github.com/Microsoft/perfview/blob/3e25f59f2960ea41b35aba043b4c55c331a9a3cf/src/TraceEvent/RegisteredTraceEventParser.cs#L1189)

[code]

Moreover, it has [the code](https://github.com/Microsoft/perfview/blob/284fc21001ca942da3b17a649db1ae8f3f2b572a/src/TraceEvent/DynamicTraceEventParser.cs#L1136) that could

[2018-02-01 19:49] jkotas commented on #12782
Both.

I think that the primary problem with CoreMangLib is that it is expensive to build and run. Poor cost / value.

[2018-02-01 20:04] sdmaclea commented on #16021
I an issue with Vector64<T> return again.

Rather than hacking it.  I am thinking about fixing this.

[2018-02-01 20:34] vancem commented on #16105
I would rather we stick with the current code and tweek it, than move over to TdhInputType.   You can see that TdhInputType is actually internal, and in fact is derived from a C++ enum used in ETW.   I consider it part of the 'ETW serialization infrastructure).   To pluck out a piece of it like this (and just that piece), is not likely to be super useful.   It also comes with extra 'junk' (many wa

[2018-02-01 20:39] AndyAyersMS commented on #16159
Odd, for your first example, I get this:
[code]
Not the most stellar code, but the inline is happening.

[2018-02-01 20:43] RussKeldorph commented on #14711
@noahfalk confirmed that this is not required for 2.1.

[2018-02-01 20:47] kekekeks commented on #11279
@ro-jo [The tooling from SharpDX](https://github.com/jkoritzinsky/SharpGenTools) works fine with COM interop on Linux/OSX. AvalonStudio is currently using it for libdbgshim.so.

It won't be as seamless as it is with the built-in COM support, but it works and it's *faster* than built-in one.

[2018-02-01 20:49] benaadams commented on #11156
From the stack trace in https://github.com/dotnet/corefx/issues/26754 the answer is no; so closing this

[2018-02-01 20:51] stephentoub commented on #11156
Note that that stack trace isn't an exception, it's a fail fast.

[2018-02-01 20:53] AndyAyersMS commented on #16159
Likewise for the second example:
[code]

[2018-02-01 20:53] benaadams commented on #11156
Ahhh... so it cuts through all the catches?

[2018-02-01 20:54] stephentoub commented on #11156
The process is basically just killed.

[2018-02-01 20:55] stephentoub commented on #11156
That said, I still only think it's worthwhile considering removing the try/finally if there's a measurable throughput win to doing so, as it does sacrifice correctness.  And from what you've told me, there isn't such a measurable throughput win.

[2018-02-01 20:57] benaadams commented on #11156
True :)

[2018-02-01 20:57] #11156 closed

[2018-02-01 21:00] geoffkizer commented on #11156
Just to make sure I understand... what does this mean exactly?

[2018-02-01 21:01] steveharter opened #16162 "Can't run app that has a directory that ends in a dot"
_Originally From @JingLMalan on November 14, 2017 3:21_

## Steps to reproduce
I install dotnet platform, and it succeed.
`JingMalans-MacBook-Pro:myApp liangjingtang$ dotnet --version
2.0.2`
First step: I create a new project:
`dotnet new console -o myApp
cd myApp`
It also restores succeeded.
Then: I build this test project.
`dotnet build`
It also tells me that Build succeeded.
At last: I run it.

[2018-02-01 21:01] steveharter commented on #16162
_From @dasMulli on November 14, 2017 4:5_

Seems to be reproducible for every built application when any directory in the hierarchy ends with a dot.

[code]

[2018-02-01 21:02] steveharter commented on #16162
This appears to be a coreclr issue per the call stack:
[code]

[2018-02-01 21:03] stephentoub commented on #11156
I believe he means instead of doing:
[code]
instead of:
[code]

[2018-02-01 21:11] benaadams commented on #11156
Have to go all the way and move the async into different method; though the differences aren't as large anymore (in 2.1)

[code]
Split function
[code]

[2018-02-01 21:13] stephentoub commented on #11156
So presumably the benefits here are really just around the code quality inside an async method in general?

[2018-02-01 21:28] benaadams commented on #11156
Yeah, setup work, data on stack rather than register, exception handling etc

Difference is also relative to the size of the statemachine's data (how much goes to stack vs register)

Based on new understandings from the execution context rework; I wonder how much lives on stack due to the statemachine being a struct and how much due to enregistering being blocked by exception handling.

New things

[2018-02-01 21:29] stephentoub commented on #11156
:smile:

[2018-02-01 21:37] thoemy commented on #16052
[code]
:joy:

[2018-02-01 21:45] svick commented on #16159
@AndyAyersMS I got my results by following [the guide for viewing dumps](https://github.com/dotnet/coreclr/blob/master/Documentation/building/viewing-jit-dumps.md) with clean build of today's coreclr (ca2841e) and latest CLI (2.1.300-preview2-008042, dotnet/cli@03f3a93c92) on Windows 10.

Do you have any suggestions about what I could check to figure out what's causing the difference? It's possibl

[2018-02-01 21:55] AndyAyersMS commented on #16159
First thing is to make sure the jit's optimizer is really enabled (do a release build with the CLI). If you have dumps turned on look for `; optimized code` in the dump header to confirm.

Second thing is to make sure you haven't swapped in a debug or checked build of the core library as debug assertions and similar things will perturb the jit codegen. Looking at the dump viewing writeup it seems

[2018-02-01 22:29] redknightlois commented on #15506
Just for reference, so we can close it when done: https://github.com/dotnet/coreclr/issues/5025

[2018-02-01 22:38] noahfalk commented on #14711
Let me know if you guys have any further questions about it.

[2018-02-01 22:46] lt72 commented on #12070
@noahfalk: can you take another look at this one and see what we can do in the short term?

[2018-02-01 23:03] janvorli commented on #16052
Ok, here is the build from the vanilla sources without any changes: https://1drv.ms/u/s!AkLV4wRkyHYhw3hPqE4eSuuY0Ne9
If that doesn't behave like the one from the official source, then I have no idea what could be wrong.

[2018-02-01 23:13] thoemy commented on #16052
@janvorli I just managed to build a working libcoreclr.so with your 'Fix detection of YMM registers presence' commit and can confirm that the crash this issue is about, is not happening anymore.

At first I had the same segfaults with my own unpatched libcoreclr.so but building with `./build.sh x64 release stripSymbols` made those go away (I also removed libnuma-dev but I don't think this is the c

[2018-02-01 23:16] janvorli commented on #16052
@thoemy I am glad to hear that it works for you now! Yes, we will want to port it back to 2.0.x (and also 1.1.x).

[2018-02-01 23:40] AndyAyersMS commented on #11121
Some preliminary changes here: [master...AndyAyersMS:ThisNonNull](https://github.com/dotnet/coreclr/compare/master...AndyAyersMS:ThisNonNull)

Need to dig through the various regressions and see if there's anything else going on.

Because null checks off this can be cheaply folded it seems like there aren't going to be that many cases where tracking it as non-null will matter. So tabling this for

[2018-02-02 00:13] svick commented on #16159
It is, the full output with `set COMPlus_JitDisasm=IsNull` is:

[code]

The files I copied in included a `Windows_NT.x64.Debug` version of `System.Private.CoreLib.dll`. But if I only copy clrjit.dll, the application crashes in `RunMain`.

[2018-02-02 00:43] AndyAyersMS commented on #16159
Likely then you have a versioning mismatch between the jit you've built and the runtime that the CLI installation is using.

One way to get around this is to do two builds locally. First build release and copy all the bits over to the CLI. Then build debug and copy over just clrjit.dll.

[2018-02-02 01:34] danmosemsft commented on #7369
@jamesqo the outcome of the PR way back was perf data was needed. Do you expect to take another look at this? If there is a signficant perf improvement it would be interesting.

[2018-02-02 01:54] #16052 closed

[2018-02-02 01:56] #12233 closed

[2018-02-02 07:17] sandreenko commented on #15150
Fixed via #15910.

[2018-02-02 07:47] mikedn commented on #16042
Note that the specific condition `if ((uint)src.Length <= (uint)dest.Length)` already generates an assertion that's used for range check elimination. That's probably both good and bad. It's good because the assertion is already there, it's bad because it looks different from other relop assertions and thus it may be more cumbersome to use to eliminate redundant conditions.

[2018-02-02 10:51] ro-jo commented on #11279
@kekekeks - thanks for suggestion, SharpDX looks interesting, but it's a bit like linking to MFC just to use the String class.  I'm interested in built-in cross-platform marshalling support.  My C++ code is not COM, it doesn't use any COM infrastructure.  In Linux I just mocked up IUnknown.  IUnknown is a good way for .Net Core to support integration with C++ and other native languages *without* t

[2018-02-02 13:43] ayende opened #16175 "Provide ThreadPool a way to notify that a thread has shut down"
For performance reasons, it is very common to use thread local values. Under load, the thread pool might be spawning new threads and running requests on them.
That will cause our code to allocate some resources for this.

After the load it over, the thread pool will start reducing the number of active threads, but we have to rely on the GC to clean up such resources, usually by relying on the GC c

[2018-02-02 15:32] jkotas commented on #11279
Why do you think so? SharpGenTools is a tool that you run at built time. It is not a big ugly library that you link with.

There are many different ways to do interop and marshaling. There is no reasonably small one size fits all. We have COM and WinRT interop on Windows built into the runtime for historic reasons and backwards compatibility. It is intertwined with the runtime that makes it hard t

[2018-02-02 15:56] sdmaclea opened #16176 "[Arm64] Lower Unsigned Vector Compare LT/GE Zero discards side effects"
Side effects of vector `a` are discarded when `T` is unsigned

`Intrinsics.Arm.Arm64.Simd.CompareLessThanZero<Vector*<T>(a);`
`Intrinsics.Arm.Arm64.Simd.CompareGreaterThanOrEqualZero<Vector*<T>(a);`

Per @CarolEidt this is generally something we want to avoid.

In this case these are forms which should not be used.  They are non-sensical returning always `false` or `true` respectively.  An analyze

[2018-02-02 16:01] sdmaclea commented on #16176
My initial reaction would not be to prevent Lowering from eliminating side effects for intrinsics, which are only function calls by syntax, but are actually (~always) inlined operators.

Personally, I would close this as won't fix

cc @mikedn @tannergooding

[2018-02-02 16:06] eerhardt opened #16177 "AccessViolation in crossgen Microsoft.CSharp.dll"
See https://github.com/dotnet/core-setup/pull/3662#issuecomment-362627258

This is blocking taking new coreclr bits into core-setup.

To repro:  checkout @dotnet-maestro-bot's change in that PR, and "build.cmd/sh".

The command that is failing is:

[code]

I attached WinDBG to this process and I'm getting:

[code]

/cc @RussKeldorph @sergiy-k @jkotas

[2018-02-02 16:44] Const-me commented on #11279
@jkotas

That thing looks very fragile. It exposes not just API, but a huge part of C++ implementation as well. And unlike C, C++ has no standardized ABI.

vector, map, set support is experimental. The rest of the containers, both standard and custom, are unsupported at all. These things are essential in modern C++, e.g. that very CppSharp project uses unordered_set, unordered_map, and unique_ptr

[2018-02-02 17:15] RussKeldorph commented on #16177
@dotnet/debugger-team @dotnet/jit-contrib in case this rings a bell.

[2018-02-02 17:16] RussKeldorph commented on #16177
Oops, meant @dotnet/dotnet-diag

[2018-02-02 17:17] #16153 closed

[2018-02-02 17:20] tannergooding commented on #16176
For most intrinsics, we are providing a contract to emit a particular instruction, and to pass the inputs and return the outputs unmodified. There are a few exceptions, such as the "helper" intrinsics, which are providing a contract of functionality, rather than a contract of a particular instruction.

I believe that, for hardware intrinsics, we should emit exactly the instruction sequence the use

[2018-02-02 17:32] CarolEidt commented on #16153
@tannergooding @fiigii @4creators - The fact that this test was exhibiting non-deterministic behavior is problematic. I believe that it is still the plan to change the Sse2 tests to use the new templates, but if that's not happening soon, we should change TestTableSse2.cs to *not* use `DateTime.UtcNow.Ticks` as an argument to `Random`.

[2018-02-02 17:37] tannergooding commented on #16153
Agreed.

I was planning on moving most of the tests over after https://github.com/dotnet/coreclr/pull/16095 goes in.

Then I was going to work on adding templates for testing commutative operations and containment tests for `LoadScalar`

[2018-02-02 17:40] #16094 closed

[2018-02-02 17:40] mikedn commented on #16176
Replacing with a const vector is fine (provided that the way the const vector is generated is not slower than actually executing the compare operation). Removing the tree `a` when it has side effects is a bug and should be fixed.

I'm not sure on what this belief is founded, that's not what native compilers are doing. Also, it's not type safe and it's not really inline assembly, at least because i

[2018-02-02 17:41] CarolEidt commented on #16153
Thanks @tannergooding!

[2018-02-02 17:55] CarolEidt commented on #16176
Is this currently being done? If so, then indeed it should be fixed. It should simply evaluate a, and then generate the const vector.

Regarding the specific case of these operands with unsigned, there are two reasons to support these cases:

- First, it makes the API a bit cleaner when it is simply supported against all types. I suppose that one could have an "understood" contract that certain Fo

[2018-02-02 17:57] 4creators commented on #16153
@CarolEidt  @tannergooding In such case I will speed up test conversion to common template and fix

[2018-02-02 17:58] 4creators commented on #16153
@tannergooding Which part of test should I port to common template?

[2018-02-02 18:02] ro-jo commented on #11279
@jkotas I see you and @kekekeks are a team.  In the order that you picked out quotes from my comment:

1. I didn't say 'big ugly library' did I?  It's a simile implying inappropriate use of something.  I aim to minimise additional dependencies and build steps.  The more you add, the greater the probability something will go wrong down the line.  When the gain is small, it's counterproductive.

2.

[2018-02-02 18:05] tannergooding commented on #16153
I was explicitly waiting on #16095 in order to help prevent merge conflicts and to reduce the total number of changes, since it updates the tests to include additional scenarios.

All of it. The only thing the Sse2 tests are doing that the template is not is validating loops, which I was going to update the template to cover (one commit moves the tests over to the template, a second commit updates

[2018-02-02 18:15] 4creators commented on #16153
OK than I will start work once #16095 will be in except for parts which do not have to wait.

[2018-02-02 18:27] sdmaclea commented on #16176
I think so.  Unless Block.Remove() handles it automatically.

https://github.com/dotnet/coreclr/blob/master/src/jit/lowerarmarch.cpp#L539-L543
https://github.com/dotnet/coreclr/blob/master/src/jit/lowerarmarch.cpp#L558-L562

I assume I need to insert a `GT_COMMA` with the previously discarded op  as `GT_COMMA.op1`, and the new const as `GT_COMMA.op2`

[2018-02-02 18:27] tannergooding commented on #11279
I agree.

However, the current COM interop on Windows comes with a performance penalty (which can be non-trivial), as will any other marshalling that converts a managed construct (such as a class, interface, or delegate) into some native wrapper.

I think the primary issue with the alternative (to adding cross-platform COM marshalling support to the runtime) is that it is rather cumbersome and sti

[2018-02-02 18:32] tannergooding commented on #16153
I already have part of this done locally (on top of my existing changes), so that might just end up duplicating work.

It would be beneficial to have any new tests using the template from the get-go (if you plan on resolving the merge conflicts and continuing with https://github.com/dotnet/coreclr/pull/15777, for example).

[2018-02-02 18:34] sdmaclea commented on #16176
This is not a lowering optimization.  The instruction(s) simply does not exist for ARM64.  It must be replaced with something.  Constant is as good as any other.

Also this seems to be a double standard.  You are pushing containment patches for X86 w/o user being explicitly required to mark contain.

[2018-02-02 18:43] tannergooding commented on #16176
Ah, I did not realize there was no underlying instruction here.

The `Load`, `LoadAligned`, and `LoadScalar` are, realistically, part of the "helper" functions. The provide a contract that we will emit an unaligned load, an aligned load, or a scalar load (respectively), and are not (strictly speaking) guaranteed to emit `movups`, `movaps`, or `movss`. This was required in order to keep the API sur

[2018-02-02 18:51] joshfree commented on #13726
@ianhays @MattGal can you keep this issue in mind as you update the linux distro test matrix this month?

[2018-02-02 18:54] sdmaclea commented on #16176
Exactly.  Containment is done in part to keep API surface small.

[2018-02-02 18:56] BruceForstall commented on #16134
@tannergooding fyi, looks like these are passing now, e.g. https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_ubuntu_jitx86hwintrinsicnoavx2_tst/

IMO, we need to have CoreCLR-side "breaking changes" trigger a larger test run than the usual "innerloop" one, and disable tests where they can be disabled. These failures weren't in the "corefx" jobs, which are more problema

[2018-02-02 18:59] #16134 closed

[2018-02-02 18:59] mikedn commented on #16176
It has nothing to do with the API surface being small. It's simply the only sensible way to do things and it's also the way it's done in C/C++. That @tannergooding discovered "containment" over night and insists in making things appear a certain way it's a completely unrelated issue.

[2018-02-02 18:59] MattGal commented on #13726
I'm confused, don't we want that support missing since Nov 30, 2017?

https://access.redhat.com/support/policy/updates/errata

[2018-02-02 19:01] joshfree commented on #6792
Following up on an old issue.  Here's a link to @janvorli 's doc: [How to use .NET Core on RHEL 6 / CentOS 6](https://github.com/dotnet/core/blob/master/Documentation/build-and-install-rhel6-prerequisites.md).

[2018-02-02 19:14] ro-jo commented on #11279
@tannergooding I wouldn't like to see that in my production code, and also, what about inheritance?  This is C#, and we're stooping to code that looks worse than 'C', it's supposed to be the other way round!
And I don't want to have to mark assemblies as 'unsafe' either - isn't that the case with C# pointers?

[2018-02-02 19:20] #11632 closed

[2018-02-02 19:28] brianrob commented on #13726
@MattGal this issue was originally filed at the end of August and at that time, we were doing official builds on RHEL 7.2.  The primary goal of this issue is to make sure that we have a CI job for whatever configuration we use to do official builds.  @dpodder filed this issue because we started to hit issues in PGO training due to issues that would have been caught much earlier in the CI had we ha

[2018-02-02 19:33] CarolEidt commented on #16176
`LIR::Range::Remove()` doesn't eliminate side-effects. In fact, the code that you linked to is calling it with the default second parameter of `markOperandsUnused` set to false. So it won't even cause the operands (if any) of `origOp1` to be marked as unused (which I think it should; the default is for the case where the operands are going to be used by a new/different node). To check for side-eff

[2018-02-02 19:50] sandreenko commented on #16177
Without `-readytorun` and `-CreatePDB F:\git\core-setup\Bin/win-x64.Debug/symbols//Microsoft.NETCore.App/runtimes/win-x64/lib/netcoreapp2.1`:
[code]
it hits:
[code]

[2018-02-02 19:55] eerhardt commented on #16177
When you specify `-CreatePDB`, it doesn't generate code, it generates a native `.pdb` file for the ready to run image. Thus you don't need to pass in the path to the JIT.

When you don't specify `-CreatePDB`, it generates code, so you need to also pass in the path to the clrjit.dll.

So if you drop `-CreatePDB`, you need to add `-JITPath F:\git\core-setup\packages\transport.runtime.win-x64.Microso

[2018-02-02 20:13] rubberduck203 commented on #6792
FWIW I’m running my Core apps in a Docker container. Works just fine.

[2018-02-02 21:03] joshfree commented on #6792
Thanks for following up @rubberduck203.  I'll close out this issue.

[2018-02-02 21:03] #6792 closed

[2018-02-02 21:04] Const-me commented on #11279
@tannergooding Before today I didn’t knew about SharpGenTools. Unlike CppSharp, IMO it looks good. I’ll give it a shot (BTW doing some embedded work for ARM Linux that has both .NET and C++ components), maybe it’s good enough already.

On Windows, I don’t use generation tools nor type libraries, these are IMO way too complex and only required for “true” COM.

I manually write interfaces in both la

[2018-02-02 22:14] sandreenko commented on #16177
Ok, it is our regression, the bad change is #15801.

To repro:
[code]

output:
[code]

@AndyAyersMS are you around to fix that?

[2018-02-02 22:28] AndyAyersMS commented on #16177
Sure, let me look.

[2018-02-02 23:04] AndyAyersMS commented on #16177
There's a missing arg to GetEntryPoint hidden by default args. Fix should be simple.

[2018-02-02 23:47] MattGal commented on #13726
Sure.  We have RedHat 7.3 queues for Helix in both official and open format, I'll synch with @ianhays  to make sure the right things happen.

[2018-02-03 00:08] brianrob commented on #13726
Awesome, thanks much!

[2018-02-03 00:15] jashook commented on #12503
We have confirmed the failure exists on UWP 5. I have also confirmed that it has been fixed in UWP 6. The bug does not repro in coreclr/master, and does not repro in coreclr/uwp6.0.

Some possible work arounds:

1. Target build 16299 (FCU)
2. Compile with .Net Native
3. Add wrapper C++ to return 8 byte struct with 4 byte padding. Struct size 12.

[2018-02-03 01:20] #16177 closed

[2018-02-03 04:36] kouvel commented on #16145
Fixed by https://github.com/dotnet/coreclr/pull/16146

[2018-02-03 04:36] #16145 closed

[2018-02-03 12:37] agonzalezm commented on #6792
great news! is not necessary to change glibc anymore? are there specific .net core rpms for centos 6 or you have to build from scratch?

[2018-02-03 12:38] nim opened #16188 "TypeLoadException .net core 2.0"
I have Exception than i try use this struct

[code]

[2018-02-03 12:44] nim commented on #16159
Do not be lazy, do better.

[2018-02-03 12:50] stephentoub commented on #16188
That won't compile. The C# compiler error tells you why:
[code]
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs0523

[2018-02-03 12:54] nim commented on #16188
It a bug, this nullable type. I have compiled but i got runtime error.

[2018-02-03 15:06] mikedn commented on #16188
This sounds like the reference assembly bug with structs missing their fields that allowed invalid code to compile. Anyway, compiled or not the code is not valid, a struct cannot contain itself.

[2018-02-03 15:35] jkotas commented on #16188
The issue with reference assemblies was fixed recently: https://github.com/dotnet/corefx/issues/6185

[2018-02-03 15:35] #16188 closed

[2018-02-03 23:58] sywhang commented on #14867
This should be fixed with #15895.

[2018-02-04 02:30] hadibrais commented on #10999
Using process IDs as a suffix can greatly reduce the chance of collisions. However, it would be difficult to determine which process emitted which profile, especially when multiple processes use different main executables. Therefore, I suggest we also append the name of the main executable. If we want to make the chance of collisions nearly zero, we can also append a random number in addition to t

[2018-02-04 03:08] tmat opened #16193 "EnC: stack corruption when editing recursive function"
**Steps to Reproduce**:

[code]

1. In the above code place conditional BP as indicated.
2. F5
3. When the BP is hit, uncomment `// j++;`
4. Step (F11) until `Console.WriteLine(i)` is reached and then step over (F10).
5. Observe the output.

**Expected Behavior**:

[code]

**Actual Behavior**:

[code]

[2018-02-04 03:32] Anipik opened #16194 "Using string.create instead of stringbuilder in normalizing path"
[code]

Current Version is using stringBuilder to normalize the path whichi is highly inefficient, I suggest to use
string.create to improve this.

cc @JeremyKuhne  @danmosemsft @jkotas

[2018-02-04 03:43] Anipik opened #16195 "Extra allocation in corner cases CombineNoChecks(ReadOnlySpan<char> first, ReadOnlySpan<char> second)"
We changed the string version of CombineNoChecks to a span version which introduced new allocations in corner cases like

[code]
which was not the case earlier.
My suggestion to solve this issue is to keep the basic corner checks in the string overload, instead of completely removing the string overload.

CC: @JeremyKuhne @danmosemsft

[2018-02-04 06:40] jkotas commented on #16044
Here is standalone reliable repro:
[Program.txt](https://github.com/dotnet/coreclr/files/1692522/Program.txt)

[2018-02-04 06:43] jkotas commented on #16044
@kouvel This looks like a bug in FindByRefPointerOffsetsInByRefLikeObject . Could you please take a look?

[2018-02-04 09:37] 4creators opened #16196 "Lack of coordination and overlapping work while implementing Intel hardware intrinsics"
@tannergooding @fiigii @CarolEidt

Unfortunately, we have quite a bit of duplicated work. Can we avoid in future unnecessary waste of our most precious resource which is time? I would appreciate it as we could be more efficient as a team in implementing intrinsics with a bit more of coordination and clear declarations of work item intents by team.

My impression was that we have agreed yesterday w

[2018-02-04 09:39] 4creators commented on #16196
@sdmaclea I would be very interested and eager to help in implementing Arm intrinsics.

[2018-02-04 10:41] fiigii commented on #16196
https://github.com/dotnet/coreclr/pull/16183 will make the implementation of imm-intrinsic much simpler. SIMD shift* intrinsics are very special on semantics and encoding, so that implementing AVX2/SS2 counterparts can definitively avoid duplicated efforts.

[2018-02-04 12:24] tannergooding commented on #16196
I'm sorry if my response was confusing. I had intended from https://github.com/dotnet/coreclr/issues/16153#issuecomment-362666958 (which was made ~30 minutes after the comment you linked) to indicate that this work was already done on my box, other than rebasing/commit cleanup, and that any other work on it would likely be considered duplicate.

I had also meant to indicate that working on getting

[2018-02-04 12:39] tannergooding commented on #16196
I think there are currently two categories of intrinsics:
* Those that can be implemented trivially
* Those that still require infrastructure changes

The former mostly require adding a new entry to the table-driven framework, adding a line to the test-generation script, and clicking a button (this is generally 3-5 lines of code per intrinsic). These are easy for a single person to go and implemen

[2018-02-04 12:51] tannergooding commented on #16196
I had assumed that you are still going to complete #15777 and most of the Sse2 ISA (unless you state otherwise). Many of these intrinsics (such as most scalar intrinsics) still fall into the "trivial" category.

There are likely still some intrinsics in the SSE2 ISA which fall into the "infrastructure" category (any that takes a non-fixed immediate, for example, probably falls under or should wait

[2018-02-04 16:05] alexandrnikitin opened #16197 "Span<> performance and generated code"
I've been playing with `Span<>` feature and notice that its performance is relatively slower and the generated assembly code looks bulky.

I'm comparing an array on heap `new int[];`, unsafe stack allocated array `stackalloc int[16];`, stack allocated Span `Span<int> x1 = stackalloc int[16];`, span with stack allocated buffer `new Span<int>(buffer, 16);`. [The code can be found here.](https://gith

[2018-02-04 16:19] benaadams commented on #16197
Wouldn't like make a huge difference, but you might want to have length as your loop condition for span and array
[code]

[2018-02-04 16:48] benaadams opened #16198 "Do interface casts to access methods elide the virtual dispatch?"
e.g.
[code]
Does it just change the method called; or does it cause an interface dispatch, so a second hidden method is required
[code]
[code]

from  https://github.com/aspnet/KestrelHttpServer/pull/2294

/cc @AndyAyersMS

[2018-02-04 17:01] AndyAyersMS commented on #16197
Thanks for the report -- looks like a couple of issues we'll have to investigate further:
* spans are not getting register promoted
* bounds check is not getting eliminated
* initial span construction overhead seems pretty high (and there is a copy)

Because spans refer to their array payloads while arrays contain them, the jit has to be fairly aggressive about loading the span fields into registe

[2018-02-04 17:56] alexandrnikitin commented on #16197
@benaadams My bad, I've lost those while porting the code. It doesn't change much, range checks are still there. Anyway I updated the code and the original post. I also added one of the real-world cases with more work to illustrate the difference [here](https://github.com/alexandrnikitin/SpanBenchmark/tree/master/SpanTest/RealWorldCases).

@AndyAyersMS I'm happy to close this if those issues are a

[2018-02-04 18:24] 4creators commented on #16196
@tannergooding Thank you for detailed explanation. My intention is to finish Sse2 and continue to work on any other ISA if this will be helpful. However, I would just like to better communicate with team and avoid duplicated work.

My proposal would be to communicate with others clearly intent of implementing part of ISA and do it in advance. This should be enough to get work well coordinated.

Cl

[2018-02-04 18:24] #16196 closed

[2018-02-04 19:18] jkotas commented on #16175
When you are doing this level of micromanagement, would it make more sense for you to have your own threadpool instead?

[2018-02-04 19:27] benaadams commented on #16198
[code]
[sharplab.io](https://sharplab.io/#v2:EYLgZgpghgLgrgJwgZwLQBEJinANjASQDsYIFsBjCAgWwAdcIaITYBLAeyIBoYQpkNAD4ABAAwACEQEYA3AFgAUCIDMEtiTKUIEggFkIMABYcAJkoDeSiQEgNMCQDUouODosSA5odkSAvhKBEkp+SkqqUgBMEgDCEiC6BsZmElaKQcHpQfaJhiamAHTOrjoAvAB8EgCsClmB1kEROXoAFACUmRlpGRkiAOwSLS36eWZtxmzIbUUubrUZoYp+QA==) would suggest not
[code]

[2018-02-04 20:23] AndyAyersMS commented on #16197
Had a bit of time to drill in.

The issue here is that `stackalloc` triggers the jit to generate a stack guard, since it opens the possibility that buggy user code could corrupt the stack. And when the jit decides to generate a stack guard it disables all struct promotion.

This is unfortunate since wrapping a stackalloc in a span should help ensure safe access to the stack buffer (unlike raw poin

[2018-02-04 22:31] jkotas opened #16201 "Assertion failed 'callerArgNum < comp->info.compArgsCount'"
Hit by CoreFX test when run on checked CoreCLR:

12:53:40   Assert failure(PID 4908 [0x0000132c], Thread: 3784 [0x0ec8]): Assertion failed 'callerArgNum < comp->info.compArgsCount' in 'System.Configuration.Internal.DelegatingConfigHost:VerifyDefinitionAllowed(ref,int,int,ref):this' (IL size 17)

[2018-02-04 22:31] jkotas commented on #16201
cc @dotnet/jit-contrib

[2018-02-04 22:52] jkotas opened #16202 "[Regression] [x64 Windows] Test failure: System.Collections.Immutable.Tests.ImmutableListTest / IndexOf & LastIndexOf"
_From @karelz on February 4, 2018 2:42_

## Type of failures

Affected OS: Win7 & Win8.1 & Win10 & Win10.Core & Win10.Nano - only x64 (x86 runs are fine)

[code]

## History of failures

Day | Build | Details
-- | -- | --
2/3 | 20180203.03 | 10x failures - [link](https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180203.03/workI

[2018-02-04 22:52] jkotas commented on #16202
_From @karelz on February 4, 2018 2:42_

@safern @ianhays can you please take a look?

[2018-02-04 22:53] jkotas commented on #16202
@dotnet/jit-contrib This looks like a silent bad codegen bug.

[2018-02-04 23:15] davidfowl commented on #16197
We should make sure that this doesn't affect places in existing code where we stackalloc in case we don't get this fixed for 2.1 (I believe in you @AndyAyersMS  😄 )

/cc @jkotas @KrzysztofCwalina @ahsonkhan @GrabYourPitchforks @stephentoub

[2018-02-04 23:20] jkotas opened #16203 "Assertion Failed [DateTimeFormatInfo.GetAbbreviatedMonthNames] Expected 12 or 13 month names in a year"
This assert is hit by Ubuntu checked corefx_baseline legs.

[2018-02-04 23:22] jkotas commented on #16203
@tarekgh Is this a valid assert that signals problems somewhere else, or is this invalid assert that should be deleted?

[2018-02-04 23:24] jkotas commented on #16203
Note that the corefx_baseline legs are not reporting failures on Unix correctly. You have to look at the log file to see the failure. That's a different issue: https://github.com/dotnet/coreclr/issues/16063

[2018-02-04 23:36] IlyaGrebnov opened #16204 "Unnecssary expensive UnsafeQueueCustomWorkItem call from TaskCompletionSource.TrySetCanceled after Task.WhenAny"
We using TaskCompletionSource to signal timeouts and cancellations after period of time from dedicated dispatcher / timer thread. TaskCompletionSource created with RunContinuationsAsynchronously to prevent hijacking this dedicated thread by continuations.  During timeouts and cancellations pattern works as expected, but if timeout is not necessary (underlying operation completed on time) we attemp

[2018-02-04 23:56] ahsonkhan commented on #16197
Would this apply to the places below marked as (A)?

Here are a few places we use stackalloc span, to showcase how it is being used:
**CoreClr:**
https://github.com/dotnet/coreclr/blob/c0fe49b36a9556506f2b13e553a17c9f6c5531b4/src/mscorlib/src/System/Environment.Windows.cs#L16

(A) https://github.com/dotnet/coreclr/blob/c247f5bffa563820fe8db6fa14b42024c57c540f/src/mscorlib/src/System/Environment.cs

[2018-02-04 23:58] stephentoub commented on #16204
.NET Framework? .NET Core? What version?

[2018-02-05 00:48] IlyaGrebnov commented on #16204
We target .NET Framework 4.6.2 and 4.7.1. But by looking into source code I see same pattern in "FinishContinuations()" in .NET Core as well.

It is worth to mention that I was able to workaround this by
* Not passing RunContinuationsAsynchronously to TaskCompletionSource constructor.
* Implement extension method to complete task and run continuations asynchronously (see below)
* Use extension met

[2018-02-05 02:30] ayende commented on #16175
Probably so, I do have one for our own needs, but things like Kestrel uses the default pool, and a lot of the infrastructure too. If I'm calling something that uses `Task.Run`, for example.

[2018-02-05 03:54] jkotas commented on #16063
The failure is not detected because of this:
[code]

@dotnet/dnceng Could you please help me with where the broken logic that maps exit code 1 to success is? As far as I can tell, it is somewhere in Jenkins but I am not able to find it.

[2018-02-05 04:17] #6136 closed

[2018-02-05 06:00] jkotas commented on #16203
We are gettting HebrewCalendar with 14 months:

[code]

[2018-02-05 08:20] dotnet-mc-bot opened #16207 "Test failure: JIT_jit64._opt_cse_staticFieldExprUnchecked1_d_loop_try_staticFieldExprUnchecked1_d_loop_try_/_opt_cse_staticFieldExprUnchecked1_d_loop_try_staticFieldExprUnchecked1_d_loop_try_cmd"
Opened on behalf of @Sunny-pu

The test `JIT_jit64._opt_cse_staticFieldExprUnchecked1_d_loop_try_staticFieldExprUnchecked1_d_loop_try_/_opt_cse_staticFieldExprUnchecked1_d_loop_try_staticFieldExprUnchecked1_d_loop_try_cmd` has failed.

mkdir: cannot create directory ‘lock’: File exists
    mkdir: cannot create directory ‘lock’: File exists
    mkdir: cannot create directory ‘lock’: File exists

[2018-02-05 12:17] kbaladurin opened #16208 "[ARM] Intermittent stack smashing in signal_handler_worker with -fstack_protect and -D_FORTIFY_SOURCE=2 option enabled."
There are intermittent stack smashing errors that occur during long time application testing:
[code]
`signal_handler_worker` disassembly:
[code]
Crashes occured after `-fstack_protector` and `-D_FORTIFY_SOURCE=2` options are enabled in coreclr 2.0.0.

Seems like for some reason `RtlRestoreContext` changes sp and returns that lead to canary mismatch.

Have you ever seen such problem?

Thank you!

[2018-02-05 12:18] kbaladurin commented on #16208
@Dmitri-Botcharnikov  @alpencolt

[2018-02-05 12:20] kbaladurin commented on #16208
@jkotas @janvorli

[2018-02-05 12:50] alpencolt commented on #16208
cc @dotnet/arm32-contrib

[2018-02-05 14:06] sdmaclea commented on #16196
@4creators

I will not be working on Arm32 intrinsics.  So the playing field is wide open.  Although Arm64 framework/implementation may guide Arm32.

As for Arm64 intrinsic your help would be much appreciated.  2.1 Intrinsics will be limited by time.

+ #26179, #26180, #26181, #26185 are merged in CoreCLR
+ #26182 the SIMD forms are done.  The base forms there is no test.  The implementation may w

[2018-02-05 15:37] mmitche commented on #16063
@jkotas Do you have a link?

[2018-02-05 15:53] jkotas commented on #16063
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_ubuntu_corefx_baseline_prtest/178/consoleText

[2018-02-05 15:59] CarolEidt commented on #16196
@4creators @fiigii @sdmaclea @tannergooding - I sincerely apologize for the issues arising from lack of coordination. I should have seen this earlier, and addressed it. Going forward, I propose:

- I have created a "Hardware Intrinsics" project on this repo, where we can track issues and status. As new issues are added they can be associated with that project. I haven't used projects much, so bear

[2018-02-05 16:10] fujiy opened #16209 "Preserve Stack Trace when rethrowing Exception"
Based on this issue https://github.com/dotnet/coreclr/issues/8521.

Is it possible to change the CRL behavior, to include the original line number in Stack Trace, like the ExceptionDispatchInfo.Capture(ex).Throw() does?

@mikedn, @danmosemsft, @saxenark

Thanks

[2018-02-05 16:16] jeffschwMSFT commented on #14212
The load is actually successful, the failure comes during execution.
2:029> k
 # Child-SP          RetAddr           Call Site
00 00000098`7217dac8 00007ff8`aebe8d2c 0xf98fa6
01 00000098`7217dad0 00007ff8`aebeba96 Google_OrTools+0x8d2c
02 00000098`7217db00 00007ff8`59511640 Google_OrTools!CSharp_GooglefOrToolsfLinearSolver_new_Solver___+0x76
03 00000098`7217db60 00007ff8`595114c9 Google_OrTools!Do

[2018-02-05 16:22] mmitche commented on #16063
@jkotas I'm pretty sure this is not jenkins.  Without exception, if the exit code from a build step is nonzero, the build fails.

The "Command execution failed with exit code 1" isn't printed by Jenkins, it's printed by the coreclr scripts, so it's entirely possible that this script printed that and then exited with 0.  What's actually a little interesting here is that I've seen something similar

[2018-02-05 16:40] tarekgh commented on #16203
The assert was always valid on Windows but looks this is not the case on Linux. we need to look to understand the returned data from Linux.

@krwq could you please help looking at this one? let me know if you don't have a cycle so I can try to get into this one today.

@jkotas if this is currently blocking anything, we can remove the assert for now.

[2018-02-05 16:49] danmosemsft commented on #8521
https://github.com/dotnet/coreclr/issues/15780

[2018-02-05 16:49] danmosemsft commented on #15780
https://github.com/dotnet/coreclr/issues/8521

[2018-02-05 16:52] danmosemsft commented on #16209
@fujiy this is also covered by https://github.com/dotnet/coreclr/issues/15780. Folks there seemed OK with replacing the line of the throw; with the line of where it was thrown. It just needs someone to do the work. Any interest in taking a look?

[2018-02-05 17:04] fujiy commented on #16209
It seems interesting, but I have zero C/C++ knowledge :(
I'll discuss with some colleagues who could be interested.

I think we can close this issue as a duplicate and continue in https://github.com/dotnet/coreclr/issues/15780

[2018-02-05 17:04] xoofx opened #16210 "Invalid x64 codegen with fixed statement and struct"
Hey,

I found an invalid codegen (both hitting CoreCLR and .NET Framework).  For CoreCLR, I'm testing it with netcoreapp2.0 (my current dotnet version is 2.1.4)

This is the offending code (make sure to compile it with unsafe and x64):

[code]
It should print:

[code]
but instead it prints garbage like this (for index > 0)

[code]
Looking at the memory, it seems that the index calculation is corre

[2018-02-05 17:08] BruceForstall commented on #16063
Looks like the `tests\scripts\run-corefx-tests.py` script executes build-tests.sh:
[code]

And it should return whatever exit code build-tests.sh returns:
[code]

(testing is False).

Jenkins looks at the return code from the python command:
[code]

Presumably python is correctly setting the error code based on the script.

build-tests.sh is a deep test of sh + run.exe stuff...

[2018-02-05 17:11] danmosemsft commented on #16209
Sure. OK. BTW, it might not need writing much C++, just finding the right place to tweak.

[2018-02-05 17:11] #16209 closed

[2018-02-05 17:12] tannergooding commented on #16210
Does this still fail if you do `fixed(float4* pThis = &this) { return (float*)(pThis)[index]; }`?

[2018-02-05 17:18] mikedn commented on #16210
Looks like the JIT failed to notice that the address of the variable was taken and managed to promote the struct to independent local variables. The net result is that the initialization of `y`, `z` and `w` was dropped.

[2018-02-05 17:42] mkArtakMSFT opened #16211 "TypeLoadException .net core 2.0"
_From @nim on February 3, 2018 12:32_

I have Exception than i try use this struct

[code]

_Copied from original issue: aspnet/Mvc#7327_

[2018-02-05 18:03] jkotas commented on #16211
Duplicate of https://github.com/dotnet/coreclr/issues/16188

[2018-02-05 18:03] #16211 closed

[2018-02-05 18:13] tarekgh commented on #16203
@krwq I'll try to take a look myself

[2018-02-05 18:21] yitzhaks opened #16212 "ILDasm crashes when dumping statistics for an invalid module"
I had the pleasure of investigating an InvalidProgramException our product was throwing when loading one of our modules. As a step in that investigation I wanted to compare the IL of the module with a known good version, so I tried dumping both version with ILDasm. The valid module worked as expected, but ILDasm crashed when dumping the module statistics for the invalid one.

The code in question

[2018-02-05 18:22] briansull commented on #16065
I am testing a fix

[2018-02-05 18:29] 4creators commented on #16196
@CarolEidt  Thank you very much for support.

[2018-02-05 18:30] mikedn commented on #16210
Hmm, not clear if this is really a bug.

It might be because in some cases the JIT manages to do the "right" thing - it detects that the field address is used to access memory other than the field itself and promotes the struct to dependent lclvars. But this detection is limited and fails if the address ends up in a lclvar which is basically what happens here.

It's simpler to observe the issue if

[2018-02-05 18:42] AndyAyersMS commented on #9066
The root issues are in the complexities of LSRA preferencing -- does not look like there is an easy surgical fix and any larger change here will be quite disruptive. So moving out of 2.1.

[2018-02-05 18:46] 4creators commented on #16196
@sdmaclea

Thank you for information about your plans. I would like to finish first Intel ISAs with @fiigii and @tannergooding and than start working on Arm unless you will need to help with reaching targets for 2.1 release - than I could start work in parallel to Intel ISA immediately..

[2018-02-05 18:49] #8089 closed

[2018-02-05 18:51] sdmaclea commented on #16196
@4creators Sure.  2.1 target is as much as I can get approved and implemented.   Arm64 will not gate 2.1 release.

[2018-02-05 18:59] mmitche commented on #16063
I didn't reproduce the original error but saw something very similar on an attempt.   crossgen crashed and returned 0 from python:

[code]

[2018-02-05 19:16] BruceForstall commented on #16063
I wonder if the Linux dotnet CLI tool isn't setting/propagating exit code correctly.

[2018-02-05 19:35] xoofx commented on #16210
Nope, it works.

Not sure to follow you here. I mean, it's real optimizer bug right? 😅  The JIT is optimizing something that it should not, guessing that only x is used here, and removing the other values from the stack. I discovered this issue while using our compiler that translates IL to LLVM native code, where the result was actually valid (and tried also with mono which also doesn't exhibit t

[2018-02-05 19:49] mikedn commented on #16210
It may give the correct result depending on what side of the bed the compiler wakes up. As far as the C++ standard is concerned the operation "pointer + int" has defined behavior only when the pointer points to an array element.

It's not very clear from either the C# spec or the IL spec if such code is valid or not. I'm guessing that it could be valid because the C# spec defined pointer arithmeti

[2018-02-05 19:59] danmosemsft commented on #16197
When fixing this seasrch for 16197 in the code to reverse workarounds.

[2018-02-05 20:28] fiigii opened #16216 "[RyuJIT] Update emitIns_R_AR to support SSE4.1 instructions without VEX-encoding"
The SSE4.1 instruction `movntdqa` (used by HW intrinsic `LoadAlignedVector128NonTemporal`) can be correctly generated with  VEX-encoding.
However, with legacy SSE encoding, RyuJIT compiles `movntdqa  xmm0, xmmword ptr [rdi]` to
[code]
and the correct encoding should be
[code]

cc @CarolEidt @tannergooding

[2018-02-05 20:37] AndyAyersMS commented on #16197
After enabling register promotion in frames with stackalloc, we get the following. As hoped, the jit cleans up the inner loop:
[code]
Basically the same codegen as in the array case. Same goes with the `SpanUnsafeBenchmark`. So this is clearly a desirable way to go as it doesn't require any clever analysis and can handle most any pattern.

Looking at diffs more broadly it also seems to be an impro

[2018-02-05 20:38] xoofx commented on #16210
Ok, so indeed, in the C++ specs, 5.7:

And pointer arithmetic beyond the limit of an array has an undefined behavior.

So now I understand your concern about whether this is a bug or not. 👍

Though, I was able to test this with LLVM (both array and struct) and LLVM at least doesn't follow an undefined behavior and is working for both.

It is not so uncommon to do this kind of code (while I agree t

[2018-02-05 20:39] tannergooding commented on #16216
This is basically a subset of https://github.com/dotnet/coreclr/issues/15908

[2018-02-05 20:45] briansull commented on #16201
Desktop also hits this when ngen-ing System.dll:

Assert failure(PID 27616 [0x00006be0], Thread: 11336 [0x2c48]): Assertion failed 'callerArgNum < comp->info.compArgsCount' in 'ClientSettingsConfigurationHost:InitForConfiguration(byref,byref,byref,ref,ref):this' (IL size 133)

[2018-02-05 20:50] mikedn commented on #16210
Well, taking the address of a field is perfectly fine, the compiler can't really emit a warning for that.

Anyway, we'll see what the JIT team has to say. In some cases this works correctly so perhaps they had a reason to make it work.

[2018-02-05 20:51] briansull commented on #16201
Assert occurs when lowering a FastTailCall:

[code]

[2018-02-05 20:58] xoofx commented on #16210
Sure but this undefined behavior makes it less "perfectly fine" in case you go beyond this sole address...

[2018-02-05 21:04] sandreenko commented on #16201
I recently have changed number of arguments for VSD #15910, maybe it is connected.

[2018-02-05 21:04] xoofx commented on #16210
For example changing the code to something like this:

[code]
returns the correct result, unless I remove the `MethodImplOptions.NoInlining` then it brings the same "bug" (inlining the undefined behavior)

[2018-02-05 21:19] benaadams commented on #16210
Can go for an explicit layout and throw in a fixed buffer and you'll get the right result
[code]

[2018-02-05 21:23] tannergooding commented on #16210
@benaadams, it feels like just taking the address of `this` is the simpler/cleaner approach at that point 😄

[2018-02-05 21:27] benaadams commented on #16210
Throw in an extra cast instead? Works too 😄
[code]

[2018-02-05 22:41] jkotas commented on #16063
I am adding extra temporary logging in https://github.com/dotnet/corefx/pull/26866 . I am not able to reproduce the problem locally.

[2018-02-05 23:22] BruceForstall commented on #15150
#15910 was reverted (#16218)

[2018-02-05 23:40] briansull commented on #16201
PR #16218 was committed and that should fix this problem.

[2018-02-05 23:42] briansull commented on #16201
@jkotas we canclose this issue if  CoreFX testing is now green.

[2018-02-05 23:45] #16201 closed

[2018-02-05 23:49] JeremyKuhne commented on #16195
Sounds good.

[2018-02-06 00:48] AndyAyersMS commented on #16197
Looked back in source control history to the point where this struct promotion was introduced in Jit32 and it was this way from the start -- have not found any specific reason why promotion was disabled when a method has GS.

Local testing looks ok and codegen looks good too. So have put up a PR and started some broader testing.

[2018-02-06 01:14] AndyAyersMS commented on #16210
Generally I would say that when you use `Unsafe` or pointers you need to know what you are doing.

But this issue is subtle -- you have to understand the how the struct promotion jit optimization works and how to inhibit the optimization if you really want to walk off one field and onto another. And we have well-defined layouts for some structures. So that might sway us towards fixing this.

My gu

[2018-02-06 01:15] AndyAyersMS commented on #16207
This seems like an infrastructure issue. Do we see it continuing to fail in subsequent runs?

[2018-02-06 01:30] tannergooding commented on #16207
I saw it fail in at least one of my PRs, there wasn't an issue tracking it yet so I reset the job and planned on filing if it failed again (job is currently still executing).

[2018-02-06 01:36] AndyAyersMS commented on #16198
I may be missing the point here, but no, we don't devirtualize:
[code]
In your example above the jit could take advantage of the fact that in a constructor the exact type of `this` is known, and so it could devirtualize. Might be worth looking at further.

[2018-02-06 01:38] AndyAyersMS commented on #16202
Do we know how recently this regressed? I can look into this if nobody else has gotten into it yet.

[2018-02-06 01:44] jkotas commented on #16202
It works fine on live master. I think it was fixed by https://github.com/dotnet/coreclr/pull/16218

[2018-02-06 01:49] benaadams commented on #16198
There are some times you want to use the interface to access the explicitly implemented methods/properties, so its just accessing a different view of methods rather than as an interface.

Kinda like how a constrained generic is a call via the interface, but still a direct call.

So for example if you had a dictionary but wanted to call the
`Contains(KeyValuePair<TKey, TValue> keyValuePair)`
method

[2018-02-06 02:04] Anipik opened #16222 "GetRootLength doesnt handle "\\.\" correctly"
Current Version
[code]
It should be doing isDevicePath and isDeviceUncPath instead of extendedSyntax and extendedUNC syntax. The  new implementation should be somewhat like
[code]
cc  @JeremyKuhne  @danmosemsft

[2018-02-06 03:12] benaadams commented on #16198
Ah, basically they act as virtual calls regardless as they can be reimplemented. Makes sense.

Thank you

[2018-02-06 03:12] #16198 closed

[2018-02-06 03:22] noahfalk opened #16224 "Tiered jitting: StackTrace doesn't work correctly for tier1 methods"
**Repro:**

1. Write this code in a .Net Core app:

[code]

2)	Compile the app in retail configuration
3)	Run it on .Net Core with tiered compilation enabled (set COMPLUS_EXPERIMENTAL_TieredCompilation=1)

Expected output (what you get without tiered jitting):

Actual output (what you get with tiered jitting enabled):

**Other Notes:**

This issue probably has the same underlying cause as #16145,

[2018-02-06 03:39] noahfalk commented on #12610
Looping back to this. We ran the tests and found a bug in the feature, which @kouvel has now fixed (#16145). Unfortunately this fix didn't make the Preview 1 build, but it should be available for any future preview builds or the 2.1 release build. I think all the work here is done now.

@davmason @lt72 @mjsabby

[2018-02-06 03:39] #12610 closed

[2018-02-06 04:29] benaadams commented on #15237
Seem to still be getting bad results https://github.com/dotnet/corefx/pull/25510#issuecomment-363304529
[code]
[code]
[code]

[2018-02-06 04:31] benaadams commented on #15237
Could it be similar to https://github.com/dotnet/coreclr/issues/16210 ?

[2018-02-06 04:52] jkotas commented on #16063
I have confirmed that the `dotnet run` command returns exit code correctly. So the error must be getting lost somewhere in the shell/python goo.

[2018-02-06 05:52] clarkis117 commented on #16210
I think I might have found a discrepancy between runtime versions (going backwards). Using the sample provided by @xoofx, with a minor change to use GetTypeInfo().GetMethod() for .NET Core 1.1 & 1.0  :

.NET Core 2.0
[code]

.NET Core 1.1
[code]

.NET Core 1.0
[code]

.NET Framework 4.7
[code]

.NET Framework 4.6
[code]

.NET Framework 4.5
[code]

.NET Framework 4.0
[code]

Project is Here: https:

[2018-02-06 06:22] danmosemsft commented on #16212
Thanks @yitzhaks..Yes I think sharing the repro module would be good. I'm not sure how soon someone will  look at this..or perhaps you are interested in offering a PR...?

[2018-02-06 07:41] kouvel opened #16229 "With by-ref-like struct arguments to slow-tail-called function, the referenced data is not being preserved after GC"
The offsets of by-ref-like fields appear to be reported correctly to the GC (after fix for https://github.com/dotnet/coreclr/issues/16044) but the test case still fails on Windows:

[code]

Expected output: pass
Observed output: fail

[2018-02-06 08:30] yitzhaks commented on #16212
Thanks @danmosemsft. I'd love to offer a PR to fix this, but I'm not sure how one would do the bounds check on the pointer, or what the behavior should be if the bounds check fails. I'll try and have a look, and would appreciate any pointers :laughing: you could provide.

[2018-02-06 08:58] Sunny-pu commented on #16202
failed again in CI:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_win7_release/393/testReport/System.Collections.Immutable.Tests/ImmutableListTest/LastIndexOf/

[2018-02-06 09:06] xoofx commented on #16210
@AndyAyersMS  Also the fact that running with a a debug assembly doesn't exhibit this bug (haven't checked the details how IL code is slightly different there). Also in my example above, the fact that the ref could point to a field of a embedded struct in a managed object would not exhibit this behavior as well. It happens only when you are using a struct instantiated on the stack that is involved

[2018-02-06 09:24] safern commented on #16202
That build didn't have #16218 yet, the build was 12 hours ago and this was merged 10 hours ago + it has to be consumed in corefx so that the tests run against the fix. So I guess we should keep an eye on tomorrow's build and see if we can close the issue.

[2018-02-06 09:27] Sunny-pu commented on #15838
failed again in Master branch:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fr2r~2Fcli~2F/build/20180205.07/workItem/Loader.classloader.XUnitWrapper

[2018-02-06 15:19] stephentoub commented on #16204
The interaction you're seeing is actually from the WhenAny implementation, in the method that's invoked when one of the tasks in the WhenAny completes:
https://github.com/dotnet/coreclr/blob/c67c29d6e226e4cca1f1efb4d57b7f498d58b534/src/mscorlib/src/System/Threading/Tasks/TaskFactory.cs#L2309-L2343

WhenAny works by creating a task (the one that's returned from the WhenAny) and then storing that ta

[2018-02-06 15:54] crntn opened #16234 "Debugger FIFO pipes ignores TMPDIR"
This is issue is related to [issue#8844](https://github.com/dotnet/coreclr/issues/8844)
I need to run dotnet in a restricted environment that do not have access to /tmp.

As described in the above linked issue we noticed that twowaypipe.cpp creates 2 files into /tmp.
See [process.cpp](https://github.com/dotnet/coreclr/blob/master/src/pal/src/thread/process.cpp#L1465)

Considering there is a method

[2018-02-06 17:17] jkotas commented on #16234
cc @mikem8361

[2018-02-06 18:40] tannergooding opened #16236 "importer does not correctly mark the HWIntrinsic SIMD types as SIMD types when inlining"
This is currently failing several of the jitstress jobs.

Having dug into this briefly, it looks like `impInlineInitVars` (and possibly other locations as well) are only checking for SIMD types via `isSIMDClass` (which itself only checks for `isInSIMDModule()`).

This causes inlining to fail various assertions later on (`stloc`, for example, will fail when it gets a `TYP_SIMD` to `TYP_STRUCT` comp

[2018-02-06 18:40] tannergooding commented on #16236
FYI. @CarolEidt, @fiigii, @eerhardt, @jkotas

[2018-02-06 18:40] tannergooding commented on #16236
I will try to take a closer look tonight, when I have some time.

[2018-02-06 18:51] mikem8361 commented on #16234
@crntn if you want to do the work, I'll help and review it. I'm in the middle fixing a problem on arm tizen with my PR that allows debugging (which includes creating those pipes on Linux) be disabled with an environment variable (PR #16141).

[2018-02-06 18:55] fiigii commented on #16236
Maybe we can change `Vector<T>` recognition to `[Intrinsic]` at first, then `isSIMDClass` can be unified for `Vector<T>` and `Vector64/128/256<T>`.

[2018-02-06 18:56] tannergooding commented on #16236
I think that is probably the correct approach, there is several related `TODO`s in the codebase indicating something similar.

[2018-02-06 18:59] fiigii commented on #16236
Let me make this change.

[2018-02-06 19:07] nategraf opened #16238 "EventPipeSmoke test fails when ZapDisable is on"
https://github.com/dotnet/coreclr/pull/16220#issuecomment-363507824

[2018-02-06 19:12] jkotas commented on #16063
This should be fixed by #16225

[2018-02-06 19:12] #16063 closed

[2018-02-06 20:01] feO2x opened #16242 "JIT - generated code for generic static method with `Nullable<T>` can be optimized"
Consider the following Benchmark .NET benchmarks ([gist here](https://gist.github.com/feO2x/d7959d0939c540a7b4cdde4da3650b80)):

[code]

The two benchmarks execute the same guard clause checking that a `Nullable<T>` has a value. The first is written in imperative style, the second one is written as a generic extension method.

The results for .NET Core 2.1.0-preview2-26130-04 are the following:

[

[2018-02-06 20:27] AndyAyersMS commented on #16242
Since nullables are value classes, there is an additional cost to passing them as an explicit by-value argument vs as an implicit ("true" this) argument -- in the explicit case a copy must be made.

The ABI may then require that this explicit by-value value class actually be passed implicitly by reference. Today the jit exposes the ABI impact very early in its processing. If the jit then inlines t

[2018-02-06 20:33] wtgodbe commented on #15863
https://github.com/dotnet/coreclr/pull/15831 has improved the error message for DllNotFoundException in Linux

[2018-02-06 20:33] #15863 closed

[2018-02-06 21:29] AndyAyersMS commented on #14474
Did some prototyping of this a while back and wasn't really able to get a clear picture of potential improvements. So am going to hold off on this until after 2.1.

[2018-02-06 21:35] AndyAyersMS commented on #12448
As far as I can tell these are all passing now and have been for sometime. @Jiayili1 can you confirm?

[2018-02-06 21:39] jmderuty commented on #15021
I was able to reproduce this issue on Win10 with the following configuration:
- Self contained runtime (v2)
- Win8 compatibility mode

When starting the executable, it displays on the console: "Failed to initialize CoreCLR, HRESULT: 0x80131534"

[2018-02-06 21:41] tannergooding commented on #14474
@AndyAyersMS, is removing dead code for constant branches currently part of this?

There are a few places today where we return `gtIconNode` (such as Hardware Intrinsics, SIMD Intrinsics, etc) that look like they are clear/easy wins for minopts.

[2018-02-06 21:50] fiigii opened #16244 "Enable containment test for AVX.LoadVector256/LoadAlignedVector256"
After AVX.Load* intrinsics get implemented, the HW-intrinsic test template should enable containment test for `AVX.LoadVector256/LoadAlignedVector256`.

https://github.com/dotnet/coreclr/pull/16200#issuecomment-362972744

cc @tannergooding @CarolEidt

[2018-02-06 22:11] AndyAyersMS commented on #14474
Yeah that's the "importer branch folding" bit mentioned above.

I agree there are be wins to be had here. At the time I ran these investigations, I was not seeing consistent wins on the scenarios I was able to measure. But it was early and the measurements were somewhat ad-hoc. I believe @noahfalk is working on a more comprehensive set of well defined scenarios to use in evaluations. Would be nice

[2018-02-06 22:26] tannergooding commented on #16244
@fiigii, are you planning on enabling these after #16200 is merged, or should I do it?

[2018-02-06 22:30] fiigii commented on #16244
Yes, I can do it. Do not worry 😄
BTW, I will submit a PR to implement most of the simple SIMD intrinsics of AVX/AVX2 in this week, which probably a good chance to test containment on `AVX.LoadVector256/LoadAlignedVector256` as well.

[2018-02-06 22:54] CarolEidt opened #16246 "Implement simple SIMD intrinsics for AVX/AVX2"

[2018-02-06 22:54] fiigii commented on #16246
@CarolEidt Thanks for open this issue.

[2018-02-06 22:55] CarolEidt commented on #16244
@fiigii - I assigned this to you, as well as one for the simple AVX/AVXs intrinsics (#16426).

[2018-02-06 22:56] fiigii commented on #16244
@CarolEidt Got it. Thanks. In the future, if I have any plan, I will open issues at first.

[2018-02-06 23:59] #16044 closed

[2018-02-07 00:55] danmosemsft commented on #16212
@janvorli it's not clear to me owns ILDASM, it hasn't had many changes for a while? Are you familiar with this code?

[2018-02-07 01:18] AndyAyersMS commented on #16242
Took a deeper look and yes it's what I described above. Not sure if a jit dump will prove instructive but this is how the jit models the code after inlining:
[code]
The first blob says to copy the value of `this` to a temporary `tmp0`. The second says to read the `HasValue` field of the copy. The jit sees that `tmp0`'s address is used and so decides that it must be kept on the stack.

One might ho

[2018-02-07 04:40] #16203 closed

[2018-02-07 04:41] tannergooding commented on #16216
Self assigning. I had already investigated and done a partial fix for this as part of #15908

[2018-02-07 04:41] tannergooding commented on #15908
Self assigning. I had already investigated and done a partial fix for this

[2018-02-07 06:23] Sunny-pu commented on #13048
This test failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180207.01/workItem/JIT.Directed.XUnitWrapper/analysis/xunit/JIT_Directed._pinvoke_tail_tail_~2F_pinvoke_tail_tail_cmd

[2018-02-07 06:37] feO2x commented on #16242
@AndyAyersMS Thanks for your analysis. Should we close this issue for now or should we leave it open?

[2018-02-07 06:56] hmanner commented on #16122
@RussKeldorph, @briansull: Is anyone looking into this, or did you mean that I should post this elsewhere?

I believe this is a major issue. It very often causes infinite loops, e.g. during app domain recycling when running under the IIS. The following is a very common pattern for long running background threads.

[code]
If the thread abort exception is not re-thrown automatically, this will cause

[2018-02-07 13:49] RussKeldorph commented on #16122
@hmanner: We will investigate.  BTW, thanks for the original Connect report link.  Unfortunately the original was misrouted, so we didn't find it until I searched for it based on your comment.  (Lost/misrouted bugs is one of the reasons cited for retiring Connect.)

Ideally there would be a place to report bugs in .NET that don't apply to .NET Core, but I don't yet have the guidance.  I suspect th

[2018-02-07 16:21] AndyAyersMS commented on #16242
It's a useful example to keep in mind as we think about future jit work., so I'm inclined to leave it open. I can't say when or if we'll work on it though.

The convenient C# syntax for nullables may lead programmers to not fully appreciate that they have some extra performance overhead. While we can't get rid of it all -- as there really is extra work to do for nullables -- we can work to minimiz

[2018-02-07 17:08] AndyAyersMS commented on #9066
Here's a kind of similar example:
[code]
generates a chain of span copies, which the jit can't coalesce:
[code]

[2018-02-07 17:18] karelz commented on #16122
For Desktop bugs, the right new route is to report them on [VS Developer Community portal](https://developercommunity.visualstudio.com/) - see also [CoreFX repo main page[(https://github.com/dotnet/corefx#how-to-engage-contribute-and-provide-feedback) for that info.
Either way, it is the same set of people, so I let it up to @RussKeldorph to decide if he wants to move it there or keep discussing h

[2018-02-07 17:20] RussKeldorph commented on #16212
@danmosemsft FYI CodeGen team owns ILAsm and ILDasm, for lack of a better owner.  This probably doesn't belong in 2.1 unless it's a regression or due to a newly more common IL pattern, but putting it there for now.

[2018-02-07 17:28] benaadams commented on #15237
@CarolEidt should I open a new issue?

[2018-02-07 17:33] RussKeldorph commented on #16207
This test hasn't failed in this mode before or since, so it could be a race condition in the ReadyToRun testing.  This isn't the first such bug; that logic probably needs to be rethought.

[2018-02-07 17:44] RussKeldorph commented on #16208
@kbaladurin Have you tried this experiment on x86 or x64?  I'm wondering if this is something specific to ARM or if this might be an incompatibility between these security tools and the .NET runtime.  Those aren't the only possibilities, but knowing whether other platforms behave similarly might help guide the investigation.

[2018-02-07 17:49] CarolEidt commented on #15237
Yes, I think that would be best.

[2018-02-07 17:52] RussKeldorph commented on #16050
@kouvel Was this fixed by #16040?

[2018-02-07 17:53] benaadams opened #16254 "Unsafe.As produces incorrect data with Vectors (in Release)"
Follow on from https://github.com/dotnet/coreclr/issues/15237

Seem to still be getting bad results https://github.com/dotnet/corefx/pull/25510#issuecomment-363304529

[code]

[code]
[code]

The aim is to make use of the Vector acceleration for Quaternions

[2018-02-07 17:53] benaadams commented on #15237
Opened https://github.com/dotnet/coreclr/issues/16254

[2018-02-07 17:56] RussKeldorph commented on #16001
I recall looking into this or something similar earlier and determining it's effectively by design.  Mostly likely the only action to take is hardening the test.

[2018-02-07 18:20] ayende commented on #1321
@lt72 How do I force a dump without killing the process, I've not been able to find it.

[2018-02-07 18:30] lt72 commented on #1321
@mikem8361: does our tool allows creating a dump without killing the process?

[2018-02-07 18:31] mikem8361 commented on #1321
You can attach gdb and run "generate-core-file <dumpname>".  I think you can detach without killing the process, but I'm not sure with gdb.

If you have the createdump enabled (see [doc](https://github.com/dotnet/coreclr/blob/master/Documentation/botr/xplat-minidump-generation.md)) with the COMPlus_DbgEnableMiniDump=1 env var set before the program is run, you can send a SIGILL signal and that wil

[2018-02-07 19:11] kouvel commented on #16050
Oh yes, thanks

[2018-02-07 19:11] #16050 closed

[2018-02-07 19:16] kouvel commented on #15592
Fixed by #16093

[2018-02-07 19:16] #15592 closed

[2018-02-07 19:23] briansull commented on #16122
This looks like a Roslyn C# bug from my initial investigation:
Using a slightly modified repro case:
YOu can comp;ile it with the latest Roslyn compiler and get the incorrect behavior and
using the older C# 5 version (which doesn't support the $ syntax) you get correct behavior:

[code]

[code]
This issue seems to be the IL code generated for the while(true) and the leave at the end of the catch:

[2018-02-07 19:25] RussKeldorph commented on #16210
Calling this a question until it is resolved whether this is a bug.

[2018-02-07 19:25] jeffschwMSFT commented on #16162
This feels like a much larger scenario, I tried a directory called '.tmp' and that then causes restore/build to fail with the following error:
Program.cs(3,11): error CS1001: Identifier expected [C:\temp\dotnetcore\.tmp\.tmp.csproj]

[2018-02-07 19:27] BruceForstall commented on #16122
@VSadov

[2018-02-07 19:41] AndyAyersMS commented on #16254
Do we know if this is the same underlying issue as #16210?

[2018-02-07 19:43] benaadams opened #16258 "Dictionary should use EqualityComparer<TKey>.Default devirtualization"
For faster Equals and GetHashCode for primitive (int, long, etc) and struct types