[2017-03-01 10:56] Tragetaschen commented on #9858
@janvorli Hmm, I think I get what you are saying: There are builds that run on actual ARM device, so $CROSSCOMPILE isn't set and `gen-buildsys-clang.sh` doesn't add a `CMAKE_TOOLCHAIN_FILE` argument. The comment in `compileoptions.cmake` suggest that in these cases, there needs to be an explicit `-target` argument for clang to work.

I think the new variable could just be `CMAKE_TOOLCHAIN_FILE`. O

[2017-03-01 11:48] mattwarren opened #9872 "[Question] Mentions of 'Rotor' in the source code"
I don't know if it matters or not, but there's a few mentions of ['Rotor' in the source](https://github.com/dotnet/coreclr/search?q=Rotor&utf8=%E2%9C%93), mostly under `\src\pal\`, `\src\inc\` and `\src\vm\`.

Should they be updated/removed or just left in there for historical reasons?

[2017-03-01 14:55] #9691 closed

[2017-03-01 16:20] nick-rudh opened #9875 "[Question] Cross compile for ARM on non-Debian"
Is there any talk of creating scripts for giving non-Debian machines the ability to cross compile, like CentOS? I personally would like to be able to cross compile from my machine for an ARM based Linux device. If there is anyone who has done this already would also be interested in their steps.

Thanks

[2017-03-01 16:22] justmehlc76 commented on #9875
Tee hee

[2017-03-01 17:43] sdmaclea commented on #9860
This was fixed by #9866.  The damage to the fix is being handled by #9877.

Closing this issue as no longer necessary

[2017-03-01 17:51] #9860 closed

[2017-03-01 17:57] sdmaclea commented on #9481
The current tip has additional fails due to this issue.  The current list of failing tests is

[code]

[2017-03-01 18:03] AtsushiKan commented on #1877
It seems the issue needs to be in corefx repo to get the needed api-review tags, so opening one in corefx to replace this.

https://github.com/dotnet/corefx/issues/16566

[2017-03-01 18:03] #1877 closed

[2017-03-01 18:15] cydhaselton commented on #9780
@qmfrederik and @janvorli: This may be a red herring but I noticed, when running strace on the 9809 commit build, that the assert failure was consistently thrown after an `ENOENT`

[code]

Ignore if unrelated, if significant, see full strace here: http://pastebin.com/hRiA6dM7

[2017-03-01 18:17] billwert opened #9879 "Assembly.LoadFrom should try to fall back to Assembly.Load before failing"
On CoreCLR, LoadFrom is prohibited from loading things that are in the TPA. This breaks certain patterns developers use for plug-in models, such as this:
[code]

Instead of failing we could fall back to the Load code path, since it is all the same context anyway.

cc: @rahku

[2017-03-01 18:20] sdmaclea opened #9880 "[Amd64] tailcall_v4/smallFrame failure should fail on all platforms"
The test JIT/Methodical/tailcall_v4/smallFrame/smallFrame.exe is failing on ARM64 with the following message.

[code]

I tried ildasm and comparing to the original il.

ildasm relevant output.
[code]

The line     IL_0000:  tail. looks suspicious. As the orignal il https://github.com/dotnet/coreclr/blob/master/tests/src/JIT/Methodical/tailcall_v4/smallFrame.il#L361
looks like
[code]

[2017-03-01 18:22] sdmaclea commented on #9880
@janvorli @jkotas I am not sure who to engage in this issue.

[2017-03-01 18:31] sdmaclea commented on #8648
@mikedn I believe this is likely responsible for the following two failures in [Arm64/Unix].  Especially since these tests were in @CarolEidt #8642 PR title.
[code]

[2017-03-01 18:34] jkotas commented on #9880
This test is testing compat quirk - look for isCallPopAndRet in src\jit\flowgraph.cpp

This compat quirk is enabled for AMD64 only right now. @dotnet/jit-contrib Should be enable this compat quirk for all platforms (it would be my choice); or should we disable this test on everything except AMD64?

[2017-03-01 18:42] janvorli commented on #9780
@cydhaselton what does it print to console if you run it without the strace? I can see from the strace that it was trying to write a string starting with `Assert failure(PID 26829`, but the strace doesn't show more of the string.

[2017-03-01 18:48] mikedn commented on #8648
@sdmaclea Yep, it's possible. These tests run fine on x64 but the relevant code is different. On x64 `a % b` is **sometimes** morphed into `a - (a / b) * b` and that can trigger this bug. On ARM64 `a % b` is **always** morphed (because there's no `mod` instruction) so there's higher chance to trigger this bug.

[2017-03-01 18:54] #6904 closed

[2017-03-01 19:01] sivarv commented on #9880
That quirk was put in place for Legacy Jit64 compatibility on Desktop.  In case of CoreCLR or Arm64 we don't have such a  compat issue.  It should be fine to enable tail.call+pop+ret tail call pattern on Arm64 as well.

[2017-03-01 19:11] chuckries opened #9881 "[ICorDebug] ISymUnmanagedDocument::GetURL returns different casing between Launch and Attach"
If I launch  process using ICorDebug::CreateProcess and eventually call ISymUnamangedDocument::GetURL, I get a different casing of the file path than I do if I call ICorDebug::DebugActiveProcess and then eventually call ISymUnamangedDocument::GetURL.

In the first case, I get something like `c:\foo\bar.txt`, while in the second case I get `C:\foo\bar.txt`. Note the different casing in the drive le

[2017-03-01 19:11] chuckries commented on #9881
@noahfalk @gregg-miskelly

[2017-03-01 19:12] BruceForstall commented on #9880
@sivarv I'm confused: if we don't have a compat issue, why would we want to enable that pattern (and thus "create" a compat issue)? Why wouldn't we just enable that test only for AMD64? In fact, maybe that quirk should be under `#if !defined(FEATURE_CORECLR)`?

[2017-03-01 19:18] chuckries commented on #9881
My mistake. This is not the case.

[2017-03-01 19:18] #9881 closed

[2017-03-01 19:29] sivarv commented on #9880
@BruceForstall - to clarify I am suggesting that we can enable this new tail call pattern on all targets on CoreCLR.  This not only drives towards uniformity in tail call recognition but also will lead to more implicit tail calls on Arm64/Amd64.

But on desktop - we can enable this for Amd64 and Arm64 only but not x86 because Jit32 doesn't support such a tail call pattern.  The reason we can suppo

[2017-03-01 19:39] cydhaselton commented on #9780
@janvorli it prints the assert error that @qmfrederik posted earlier here: https://github.com/dotnet/coreclr/issues/9780#issuecomment-282597701

[2017-03-01 20:40] janvorli commented on #9780
I've examined the log in more detail. I can see that it cannot find System.Native.so. Maybe you've forgotten to add native components built in corefx repo?

[2017-03-01 20:59] ericstj opened #9884 "Crossgen is in the wrong folder in arm package."
the coreclr package `runtime.win8-arm.Microsoft.NETCore.Runtime.CoreCLR.2.0.0-beta-25101-04` has a busted path for crossgen.exe.

Core-setup is expecting `tools\x86_arm\crossgen.exe` but the package has `tools\x86_AnyCPU\crossgen.exe`

I think that was a regression from https://github.com/dotnet/coreclr/pull/9263

[2017-03-01 20:59] ericstj commented on #9884
See https://github.com/dotnet/core-setup/pull/1604#issuecomment-283465632

[2017-03-01 21:06] gkhanna79 commented on #9884
This needs to be fixed for Arm64 as well.

[2017-03-01 21:10] ericstj commented on #9884
Yeah I believe the problem is just the calculation of CrossTargetComponentFolder.

[2017-03-01 21:17] danmosemsft opened #9885 "Consider debug mode for ArrayPool"
There are several ways to misuse array pool

1. forget to return - merely inefficient
2. return and continue to use
3. renter expects pre cleared array
4. returner does not request a clear and leaks sensitive data

There is some logging to help trace suspected cases of #1 and #2.

For #4 if we start caring more about that someday we could change the default to clear data.

We could help catch case

[2017-03-01 21:19] danmosemsft commented on #9885
cc @stephentoub

[2017-03-01 22:17] #9847 closed

[2017-03-01 23:00] janvorli opened #9888 "AutoResetEventReSet test failed in CI on Windows"
[code]
See:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_release_windows_nt_pri1_prtest/3540/console

[2017-03-01 23:15] parjong commented on #9265
dc3626d4e69 finally achieves < 100 failure:
[code]
Here are [log](https://github.com/dotnet/coreclr/files/812282/coreclrtests.log.txt) and [XML](https://github.com/dotnet/coreclr/files/812283/coreclrtests.xml.txt).

[2017-03-01 23:17] janvorli commented on #9265
@parjong great! Thank you for the update.
CC: @gkhanna79

[2017-03-01 23:22] cydhaselton commented on #9780
@janvorli I copied the corefx native components over as well; basically copied over the contents of ./Linux.arm64.Debug.

System.Native.so is in ./Linux.arm64.Debug/native

[2017-03-01 23:23] janvorli commented on #9780
It needs to be in the same folder as the managed assemblies, not in a standalone folder.

[2017-03-01 23:24] janvorli commented on #9780
This is true for everything. There should be no subfolders, everything from corefx and coreclr, managed and native should be in single folder.

[2017-03-02 00:00] AndyAyersMS opened #9891 "JIT: figure out how a noway_assert in the importer is firing"
There are some as of yet unknown cases where [this](https://github.com/dotnet/coreclr/blob/7b8f9d6c8f5b196b8cf7da6f4c49bf4149f3e15a/src/jit/importer.cpp#L9934) `noway_assert` can fire.

The assert is there to try and ensure that if the jit is inlining a method that uses `starg` on a particular argument the jit has also decided to use a new local to represent that argument in the inlined body (rath

[2017-03-02 00:43] #9439 closed

[2017-03-02 01:08] #9357 closed

[2017-03-02 01:27] jkotas commented on #9885
Requiring a different build of the runtime to do this is non-starter. This would need to be enabled dynamically with a config switch or environment variable.  Similar to how malloc/free diagnostic works in C++ today (pageheap on Windows, `MALLOC_CHECK_` on Linux, etc.)

[2017-03-02 01:30] jkotas commented on #9879
Make sense to me

[2017-03-02 01:36] AndyAyersMS commented on #9891
@JosephTremoulet if you have any ideas about how this can happen, I'd love to hear them.

[2017-03-02 01:40] #9680 closed

[2017-03-02 01:48] sjsinju commented on #9760
@jkotas Thanks your detailed comment!

[2017-03-02 02:14] seanshpark commented on #9762
@janvorli , thank you. I've skipped the error line in the build script and  with the result binary it runs ok in x86 machine. And, I've prepared another clean x64(Ubuntu 16.04 VM) machine, today, and it works ok. So I think my `ldd` command could be the reason.

[2017-03-02 02:14] #9762 closed

[2017-03-02 06:01] sdmaclea opened #9898 "[Arm64/Unix] Unexpected Crossgen fails"
[code]
[code]
[code]
[code]

[2017-03-02 08:04] hughbe commented on #9872
What actually is Rotor? An old code-name for coreclr? Can't find it in the glossary https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/glossary.md (that should be updated!)

[2017-03-02 09:37] lucenticus opened #9901 "[x86/Linux] Unit test MarshalClassTests fails with SIGSEGV"
Unit test Interop.MarshalAPI.Miscellaneous.MarshalClassTests.MarshalClassTests fails with segmentation fault.
It fails on the following part of this test:
[code]
Backtrace:

[code]
\CC: @parjong @seanshpark @wateret @janvorli

[2017-03-02 09:44] janvorli commented on #9901
@lucenticus Since it crashed on the movaps instruction and it was trying to zero out a local variable, is it a stack alignment problem. See what the ebp-0x38 is.

[2017-03-02 09:48] #9306 closed

[2017-03-02 09:55] mattwarren commented on #9872
Rotor is the codename for the [Shared Source Common Language Infrastructure (SSCLI)](https://en.wikipedia.org/wiki/Shared_Source_Common_Language_Infrastructure) which was (sort of) the open source version of the CLR, before CoreCLR was released. There's more info on SSCLI [here](https://msdn.microsoft.com/en-us/library/cc749640.aspx) and there's even a [book available](http://blogs.tedneward.com/p

[2017-03-02 10:27] lucenticus commented on #9901
ebp-0x38 contains 0xf24ccfe4, it seems that you are right, we have stack alignment issue here.

[2017-03-02 10:32] janvorli opened #9902 "Split ARCH_SOURCES_DIR into target and platform ones"
We have a single ARCH_SOURCES_DIR defined based on the platform we are building for. However, when crossbuilding tools that run on one platform, but target another one (e.g. crossgen running on x86 and generating ARM32 code), we need to use two different architecture sources dirs. One for files that are used to generate code for the target architecture and the other for files that run on the platf

[2017-03-02 11:03] hseok-oh opened #9903 "[x86/Linux] CI support for build using docker"
I hope to build x86/Linux in CI machine using docker.

- build native code using x86 ubuntu docker container
- build managed code in x64 environment (cannot use dotnetcli in x86/linux)
- test using x86 ubuntu docker container

I succeeded building x86/Linux coreclr using this steps. (not test yet) If we use x86 docker images, the rootfs for x86 is needless.

To do this, we need x86 ubuntu docker i

[2017-03-02 11:06] hseok-oh commented on #9903
cc/ @parjong @seanshpark @wateret @YongseopKim @gkhanna79

[2017-03-02 11:13] qmfrederik commented on #9780
@janvorli @cydhaselton It has been my experience that on Android, dl_open does not always search the folder in which the executable is loaded for dynamic link libraries.

In my tests, I always needed to set `LD_LIBRARY_PATH` to the folder to which I deployed CoreCLR + CoreFX, so for example:

[code]

@cydhaselton my notes are here: https://github.com/qmfrederik/coredroid/blob/master/README.md

[2017-03-02 11:19] janvorli commented on #9780
@qmfrederik I have thought that paths in the LD_LIBRARY_PATH need to be separated by `:`, not by spaces.

[2017-03-02 11:53] qmfrederik commented on #9780
@janvorli You are right; so `LD_LIBRARY_PATH=...` sets the env variable only for the process which is about to be launched (corerun)

[2017-03-02 11:59] seanshpark commented on #9762
Solved this problem with
[code]
`libstdc++.so.6` was not installed in the first place.

[2017-03-02 12:10] seanshpark commented on #9901
@lucenticus , I'm planning to enable `FEATURE_FIXED_OUT_ARGS` for x86 next week. It may be related.

[2017-03-02 12:13] cydhaselton commented on #9780
@janvorli I have found that with coreclr on Android...at least within the Termux hosting application...the corerun search path overrides the LD_LIBRARY_PATH and that corerun will find libs in it's own directory over paths set by its environment vairables

@qmfrederik The builds produced by your scripts output files and subdirectories in `Linux.arm64.Debug`.  Is the recommendation to copy _all_ of

[2017-03-02 12:15] qmfrederik commented on #9780
@cydhaselton Nope, I don't think that's a recommendation - it's just what I do now to make things work :). I think there's a doc in this repo which describes which files you need to copy, just didn't get round to pinning down that list yet, so I took the lazy route.

[2017-03-02 12:19] cydhaselton commented on #9780
@qmfrederik Then I've copied the necessary files as I've seen the docs.  The assert error still occurs.

I've done some preliminary research on the PAL_VirtualUnwind error and what I've found seems to point to libunwind as being the culprit.  Does the version pulled by the scripts match the recommended version in the coreclr documentation?

[2017-03-02 13:40] janvorli commented on #9780
@cydhaselton So you now have the System.Native.so side by side with the libcoreclr.so? Can you share the strace log again?

[2017-03-02 15:32] jkotas opened #9904 "Incorrect (?) optimizations of overlapped struct copy in unsafe code"
The JIT assumes that structs cannot overlap when generating code for struct copies. This assumption is not guaranteed in unsafe code. I have noticed it while looking at https://github.com/dotnet/coreclr/pull/9786.

Compile with /o+ on x64:

[code]

[2017-03-02 15:34] lucenticus opened #9905 "[x86/Linux][Question] Calling convention for reverse P/Invoke delegates"
I tried to enable GDBJIT interface on x86/Linux. With PR https://github.com/dotnet/coreclr/pull/9855 it crashed because m_cbRetPop is equal m_cbActualArgSize. But if  add `PALAPI` here https://github.com/dotnet/coreclr/blob/master/src/vm/gdbjithelpers.h#L30, then it works fine. On x64/Linux GDBJIT  works fine either with and without `PALAPI`.
So the question is following: what calling convention s

[2017-03-02 15:34] jkotas commented on #9904
cc @dotnet/jit-contrib

[2017-03-02 16:07] AndyAyersMS opened #9908 "JIT: devirtualization next steps"
#9230 introduced some simple devirtualization. Some areas for future enhancements:

- [ ] Devirtualize interface calls. Logic for this is more complex than for virtual calls.
- [ ] Devirtualize calls on struct types. Try and remove the upstream box and copy too. Make sure the right method entry point in invoked; virtual struct methods come in "boxed" and "unboxed" flavors.
- [ ] Refactor the jit t

[2017-03-02 16:07] AndyAyersMS commented on #1166
Many of the examples above should now devirtualize now that #9230 is merged. However there is still much to do -- see #9908.

[2017-03-02 16:10] janvorli commented on #9905
@lucenticus the reason why x64 doesn't care about PALAPI is because x64 use a single calling convention and the __stdcall is ignored. And PALAPI is defined as __stdcall.
Function pointers returned by the coreclr_create_delegate have __stdcall calling convention. I would use STDCALL instead of PALAPI in the header. PALAPI is appropriate when it is related to PAL functions.

[2017-03-02 16:35] lucenticus commented on #9905
Thanks a lot for clarifying!

[2017-03-02 16:35] #9905 closed

[2017-03-02 16:46] pkukol opened #9910 "Extend the MinOpts/GCtracking tweak to more platforms"
Currently "simplified GC root tracking with MinOpts" is only enabled by default for CoreCLR builds for AMD64 targets; we should widen reach to more platforms/configs over time.

[2017-03-02 16:46] JosephTremoulet commented on #9891
Do you know how to get [this](https://github.com/dotnet/coreclr/blob/7b8f9d6c8f5b196b8cf7da6f4c49bf4149f3e15a/src/jit/importer.cpp#L10229) inline rejection to happen?  Seems like it should be similar cases...

[2017-03-02 16:52] gkhanna79 commented on #9903
Is x86 RootFS only required for U14.04 or even for 16.04?

[2017-03-02 17:28] danmosemsft opened #9912 "Enable Assembly.Load(Byte[]) in UWP/Appx"
This is currently blocked. We should enable all NS2.0 API's in UWP that we can possibly enable. This should be able to work. It's also  being requested.

https://github.com/dotnet/coreclr/blob/68f72dd2587c3365a9fe74d1991f93612c3bc62a/src/mscorlib/src/System/AppDomain.cs#L556

@rahku @gkhanna79

[2017-03-02 18:04] renatobarbato commented on #8398
thank you @gkhanna79  for putting me in the right direction, you where right,  the assembly name was totally wrong! Now it works.
I will try to use the Resolving event too, as you wrote me.
thank you again.
Renato

[2017-03-02 18:10] qmfrederik opened #9913 "Android: PAL_VirtualUnwind failed"
Running a .NET Core application on Android, with CoreCLR and CoreFX cross-built for arm64 Android, results in this error message:

[code]

[2017-03-02 18:11] qmfrederik commented on #9913
@janvorli I've create a new issue since we managed to solve #9780 . I'll try to get some more information and post an update here.

@cydhaselton Is this the same issue you're seeing?

[2017-03-02 18:13] gkhanna79 commented on #9912
CC @rahku @kouvel

[2017-03-02 18:26] qmfrederik commented on #9913
So it turns out that `unw_init_local` returns -8. According to [libunwind-common.h](https://android.googlesource.com/platform/external/libunwind/+/android-5.1.1_r6/include/libunwind-common.h), that's `-UNW_EINVAL`, which is described as:

[2017-03-02 18:36] qmfrederik commented on #9913
@janvorli I got a bit confused by this piece of the documentation at http://manpages.ubuntu.com/manpages/zesty/man3/libunwind.3.html

This seems to indicate you only need to include libunwind.h and link with unwind, and not include libunwind-aarch64.h and link with libunwind-aarch64

Do you think it makes sense to try __not__ linking with libunwind-aarch64? (I'll probably give it a try anyway but

[2017-03-02 18:44] cydhaselton commented on #9913
@qmfrederik Yes, I'm seeing the same issue.  For the record, I've always run into issues when attempting to *just* include libunwind.h and link to unwind; I attempted to do so after reading that same documentation.

The issues, if I remember correctly, were missing symbols that could be found when linking with libunwind-aarch64.

[2017-03-02 18:46] danmosemsft opened #9914 "AppDomain members blocking use on UWP"
Generally we're expecting the .NET Core tests to throw up breaks of this sort but since these are explicit blocks and I saw them, let's have this issue to make sure we don't miss it.

If you know/see other cases where we explicitly block UWP, please do create more issues.

[code]

@rahku

[2017-03-02 19:11] janvorli commented on #9913
@qmfrederik we are including only the libunwind.h, not the arch specific ones (well, we include libunwind-ptrace.h if it exists but that's a different thing).
As for linking to the libraries, your info is interesting and makes sense, but I believe we were hitting some undefined symbols when we didn't include the arch specific lib. Maybe it is just a bad factoring of the aarch64 stuff or something.

[2017-03-02 20:36] wtgodbe opened #9918 "Don't copy *-ms-win-* into non-windows test overlay"
We shouldn't be copying these files into Core_Root for non-windows: see https://github.com/dotnet/coreclr/pull/9907/files#diff-e99015da4fdea5ed8c0b58186a5e4b70R396

[2017-03-02 20:41] rahku commented on #9596
This will not be fixed in desktop and it is not worth fixing this for net core if we are not fixing for desktop.  @fadimounir are you ok with closing this issue?

[2017-03-02 20:51] fadimounir commented on #9596
ok

[2017-03-02 20:51] #9596 closed

[2017-03-02 21:44] russellhadley commented on #9904
@jkotas I've been staring at this on and off all morning.  I've also been asking around to get second opinions and there doesn't seem to be a consensus.  It boils down in my mind to if there's a rule in the spec that says that I have to treat pointers to structs in unsafe blocks as byte pointers.  Do you have any more historical context here?  How should I be looking at this?

[2017-03-02 21:52] tarekgh opened #9919 "Enable x64 mixed-mode debugging"
@PrashanthIBM commented on [Tue Aug 02 2016](https://github.com/dotnet/corefx/issues/10524)

Hi,

I am using a .Net Core Console App using Visual Studio 2015 update 2 on windows machine. I am using a package "pack1"(managed code) in this console application which in turn calls native / c code dll. I am able to step into pack1 code, but i am not able to step into my native code.

Tried giving symbo

[2017-03-02 22:09] danmosemsft commented on #9914
@gkhanna79

[2017-03-02 22:09] cydhaselton commented on #9913
@qmfrederik and @janvorli Re-built with unwind and ran into undefined symbols as before:

`/build/core/coreclr/src/pal/src/exception/seh-unwind.cpp:180: undefined reference to `_Uaarch64_get_reg'`

For some reason building libunwind for aarch64…even on aarch64…doesn't add the necessary symbols to libunwind

[2017-03-02 22:11] danmosemsft commented on #9872
I doubt anyone would object to removing them. In the great purging of defines etc done recently we already removed lots of "historical" stuff. Rotor hasn't been developed for ?12 years.

[2017-03-02 22:26] janvorli commented on #9913
@qmfrederik could you try to link just against unwind on your Linux ARM64 and see if it works there? If it does, it would mean there is some problem in the Android build of the libunwind.

[2017-03-02 22:38] cydhaselton commented on #9913
If it doesn't, there's a mirror of the llvm libunwind sources (https://github.com/llvm-mirror/libunwind) that has been patched to include a switch to build a native-only libunwind. I'm wondering if this would resolve the issue if used instead of Google's libunwind sources

Reference: http://lists.llvm.org/pipermail/cfe-commits/Week-of-Mon-20160523/159802.html

[2017-03-02 22:41] janvorli commented on #9913
We are already using a modified version of the LLVM libunwind for CoreRT and I would eventually want to migrate coreclr to using it as well. But it will take a little time.

[2017-03-02 22:52] jkotas commented on #9904
Right, the rules of what sort of aliasing is ok vs. no ok to depend in unsafe code has never been strictly codified (related to https://github.com/dotnet/coreclr/issues/5870).

My take on this is that the operations on unsafe pointers should work just like in C/C++ because of it is what people expect. Do C/C++ compilers assume noaliasing for assignments of POD structs?

[2017-03-02 23:32] briansull commented on #9904
I'm not sure there is such a thing as an "unsafe pointer"  there are only unsafe operations.
(Such as the cast from byte* into Block64* )
Which basically mean trust me I know what I'm doing here.

I think that you can rewrite your example and remove the "unsafe"on the class
And just use the unsafe on the method or on the fixed block:

unsafe static void Main()
unsafe { fixed (byte* p = buf) ... }

[2017-03-02 23:34] qmfrederik commented on #9913
The gist of the issues seems to be an error in [build-android-rootfs:136](https://github.com/dotnet/coreclr/blob/master/cross/build-android-rootfs.sh#L136), which triggers this condition in [configure.ac#L196](https://github.com/libunwind/libunwind/blob/master/configure.ac:196) in the libunwind makefile.

Because libunwind is compiled with host x86_64 and target aarch64, libunwind is compiled with

[2017-03-03 00:16] janvorli commented on #9913
@qmfrederik Ah, that makes sense then. And that's why it wanted the unwind-aarch64 during the build.

[2017-03-03 00:19] janvorli commented on #9913
@qmfrederik so can we just set both the host and target in the configure parameters to the same value or would it break the compilation itself?

[2017-03-03 00:55] hseok-oh commented on #9903
@gkhanna79 I think it will be enough using one of them. @parjong, Do you have any opinion about this?

[2017-03-03 00:59] russellhadley commented on #9904
@jkotas, In C++ you would have to assume that they overlapped. I went back and got a few second opinions from people who implemented IJW and the like and for C# we also should assume that for this case they overlap.  I'm going to need to keep digging on this, make sure the IL is right, etc., but your results indicate a bug.

[2017-03-03 01:11] parjong commented on #9903
@hseok-oh Any version is acceptable for me.

[2017-03-03 01:13] hseok-oh commented on #9903
We don't need RootFS to generate CoreCLR x86/linux if we have x86 ubuntu docker image. But, we should use RootFS to generate CoreFX. As a result, it seems we need x86 RootFS for x86/linux build.

[2017-03-03 01:29] #7880 closed

[2017-03-03 02:48] adityamandaleeka commented on #9919
Renamed to more closely match what the request is.

[2017-03-03 03:23] seanshpark commented on #9903
I prefer U16.04

[2017-03-03 03:35] gregg-miskelly commented on #9919
This issue can be resolved as fixed I believe. See https://github.com/dotnet/coreclr/pull/8603

[2017-03-03 05:12] #480 closed

[2017-03-03 05:21] noahfalk commented on #9919
Done - closed as fixed : )

If it turns out there is some element that still isn't working just let us know and we can re-open.

[2017-03-03 05:21] #9919 closed

[2017-03-03 05:30] parjong commented on #9901
@lucenticus Could you try #9928? It works for me.

[2017-03-03 05:44] danmosemsft commented on #8321
https://ci.dot.net/job/dotnet_coreclr/job/master/job/debug_centos7.1_prtest/3516/testReport/junit/threading/SleepEx/test2/

[2017-03-03 05:45] danmosemsft commented on #9623
https://github.com/dotnet/coreclr/issues/8321

[2017-03-03 05:45] #9623 closed

[2017-03-03 05:46] danmosemsft commented on #1221
@kouvel I'm going to close this as it's super old and not reported since 2015

[2017-03-03 05:48] danmosemsft commented on #8321
@kouvel maybe write out the timestamp before and after each sleep, at least in the failure case, so we can see whehter we're getting reasonable numbers?

[2017-03-03 06:49] mikedn commented on #9904
Why? I don't think there's anything in the C++ standard that would require that. Most likely this would be in the "undefined behavior" bucket.

(V)C++ version of the C# example:
[code]
Of course, it prints the same result: `Expected: 16 Actual: 15`. The code generated for the `Copy` function is:
[code]

[2017-03-03 07:15] BruceForstall opened #9932 "DAC build is not incremental"
There are two rules related to the DAC build that cause our dotnet/coreclr builds to not be incremental (on Windows):

src/dlls/mscordac/CMakeLists.txt:

This command is always executed:
[code]

src/dlls/mscoree/coreclr/CMakeLists.txt:

This command is always executed:
[code]

[2017-03-03 07:15] BruceForstall commented on #9932
cc @janvorli @noahfalk @jkotas

[2017-03-03 07:21] BruceForstall commented on #9932
I tried many variations of converting these to something of the form:
[code]
but could never get any of them to work.

For the "inject dac to coreclr" it also seems like we need to create a "dac_was_injected_sentinel.txt" file after the injection, with a timestamp of when that happened, so the rule can give the sentinel as OUTPUT and coreclr.dll as the DEPENDS.

[2017-03-03 08:12] lucenticus commented on #9901
@parjong It works for me too, thanks you! I'll close this issue

[2017-03-03 08:12] #9901 closed

[2017-03-03 09:45] qmfrederik commented on #9913
@janvorli That will be the fix, but it causes a lot of extra code to be compiled and introduces some new linking issues. Nothing which cannot be fixed; I'll continue working on it.

[2017-03-03 11:30] lucenticus opened #9935 "[x86/Linux] Unit test NativeCallableTest fails with SIGSEGV"
Unit test `Interop/NativeCallable/NativeCallableTest/NativeCallableTest.exe` fails with segmentation fault.
It seems that we have some issue with calling convention processing at UMThunkStub, because if i remove `WINAPI` from `CallManagedAdd`  ([NativeCallableDll.cpp:9](https://github.com/dotnet/coreclr/blob/master/tests/src/Interop/NativeCallable/NativeCallableDll.cpp#L9)), then it works fine. It

[2017-03-03 14:13] cydhaselton commented on #9913
@qmfrederik and @janvorli I've actually tried the libunwind build with `--host` and `--target` set.  Pretty sure it resulted in the same issues with the corerun build.

[2017-03-03 14:43] JosephTremoulet opened #9936 "JIT: AssertionDsc::Equals doesn't handle OAK_NO_THROW properly"
Redundant assertions are comparing as not-equal, wasting assertion index slots.  See [#9773 (comment)](https://github.com/dotnet/coreclr/pull/9773#discussion_r103097827) and [#9773 (comment)](https://github.com/dotnet/coreclr/pull/9773#issuecomment-283876281).

[2017-03-03 14:43] JosephTremoulet opened #9937 "JIT: Assertion prop should generate fewer array-bound complement assertions"
When we find an array-bound-related JTrue, we always create assertions for both the branch-taken edge and the fall-through edge.  One of those assertions indicates that an index or constant is out-of-bounds, which is at best useless (because we don't try to prove subsequent accesses are out-of-bounds or eliminate subsequent also-out-of-bounds comparisons) and at worst harmful (because of bad inter

[2017-03-03 14:43] JosephTremoulet opened #9938 "JIT: Assertion prop does unnecessary bitvector copying"
See [#9773 (comment)](https://github.com/dotnet/coreclr/pull/9773#issuecomment-283876281) and the changes in `optComputeAssertionGen` in #9773 to populate `jumpDestGen` using fewer copies.

[2017-03-03 14:45] cydhaselton commented on #9913
@qmfrederik and @janvorli Ideally --build=build_arch, --host=arm_arch and --target=arm_arch...but that causes errors in the libunwind build for some reason.

[2017-03-03 15:37] JosephTremoulet commented on #9904
I believe that a C++ compiler is allowed to use memcpy semantics to lower a struct assignment, but also that it's not allowed to elide struct copies if doing so would introduce an overlapping struct assignment (unless it lowers the resulting possibly-overlapping assignment with memmove semantics).  For example:

[code]

So it would seem that a C++ compiler presented with source that looks like the

[2017-03-03 16:36] ericstj opened #9939 "System.Private.CoreLib should expose consistent surface area across all OSes"
Today it does not which leads us in CoreFx to *know* whatever your ifdefs may be to be sure we build all the facades for them.  In 1.0 this caused us to ship a facade with dangling forwards for System.Runtime.InteropServices.WindowsRuntime on linux.

Ideally I'd like to see a reference assembly that is the agreed-upon contract for CoreLib.

[2017-03-03 16:43] qmfrederik commented on #9913
#9940 should fix this - @cydhaselton feel free to give it a try, I now get the following program output:

[code]

[2017-03-03 16:59] #9832 closed

[2017-03-03 17:05] janvorli commented on #9913
@qmfrederik That's great!

[2017-03-03 17:35] gkhanna79 commented on #9903
CC @MichaelSimons

[2017-03-03 17:50] qmfrederik commented on #9913
... @janvorli setting a breakpoint at clrex.cpp:1588 gives this:

[code]

let me check where that comes from

[2017-03-03 17:54] qmfrederik commented on #9913
and this is the call stack:

[code]

Makes me none the wiser, all pointers appreciated :)

[2017-03-03 17:59] janvorli commented on #9913
@qmfrederik I would recommend starting from the other end - verifying that you have collected the assemblies the right way. Just copying output from the build of corefx and coreclr doesn't work for me and results in similar issue that you were hitting. The only reliable way I have found is to take advantage of the tests/runtests.sh script in the coreclr to collect the assemblies.
Here is what I do

[2017-03-03 18:00] janvorli commented on #9913
@qmfrederik I can share the result of the tests build from Windows with you if you don't have Windows machine available / set up for build.

[2017-03-03 18:15] qmfrederik commented on #9913
@janvorli Thanks, I'll give it a try soon and let you know how it goes.

[2017-03-03 18:55] #8922 closed

[2017-03-03 19:51] pkukol opened #9944 "Instructions for testing on Linux need work"
The "Building and running tests on Linux, OS X, and FreeBSD" page should be updated and fixed; for example, it says to mount "/media/corefx" but never uses it for anything, some of the paths are wrong, etc.

[2017-03-03 20:22] cydhaselton commented on #9913
@janvorli: Can the same procedure be used on Ubuntu 16.04...i.e. is it necessary to use a Windows machine as an intermediary?

[2017-03-03 20:25] AndyAyersMS opened #9945 "JIT: bug in devirtualization where type information gets lost"
Following test case, if compiled /o+ /debug:pdbonly, and run in a debug/check CoreCLR, will trigger an assert in resolveVirtualMethod:
[code]
This it triggered by aggressive use of `dup` in the generated IL.

Likely two fixes needed.

First, have the VM side validate that the method being invoked is really a virtual method of the derived class, and if not, fail devirtualization. Would be nice to g

[2017-03-03 20:47] janvorli commented on #9913
@cydhaselton unfortunately, there is no way to build the tests on Unix yet. It is one of the pain points that we would like to fix soon. There is a github issue #8891 for that.

[2017-03-03 20:59] qmfrederik commented on #9913
@cydhaselton As I understand it, one of the main issues is type forwarding between assemblies like System.IO.dll and System.Private.CoreLib.dll, and you need to make sure all the assemblies are in sync.

What @janvorli suggests is the best way to do so, as you're building from coreclr/master and corefx/master.

That said, another possibility is to use the lastest NuGet packages from MyGet. They in

[2017-03-03 21:07] qmfrederik commented on #9370
@janvorli Now that we've got CoreCLR running on Android, too, I gave this a try and here's the output:

[code]

So it looks like all the fixes from @sdmaclea make exception handling work on Android, too.

[2017-03-03 21:11] qmfrederik commented on #9370
And division by zero works as well on arm64 Android:

[code]

Cool :)

[2017-03-03 21:15] janvorli commented on #9913
@qmfrederik that's really awesome!
CC: @gkhanna79, @Petermarcu

[2017-03-03 21:15] qmfrederik commented on #1097
Update: once #9940 has landed, building CoreCLR + CoreFX from master should get you a version of .NET Core which you can cross-build for arm64 Android and run "Hello World" on Android.

[2017-03-03 21:16] #9913 closed

[2017-03-03 21:17] qmfrederik commented on #9913
Yup, pretty cool stuff! Thanks to @janvorli, @sdmaclea, @cydhaselton and the many others who helped to make this work :)

[2017-03-03 21:17] cydhaselton commented on #9913
Excellent!

@qmfrederik: So, can you post a list of files that need to be copied from Ubuntu to Android?  Or do I need to run the build on Windows?

Also, are you running the `dotnet restore` `dotnet publish` on Windows or Ubuntu?

[2017-03-03 21:17] janvorli commented on #9370
@qmfrederik you did really great job in the whole bringup!

[2017-03-03 21:18] gkhanna79 commented on #9913
This is super awesome! :)

[2017-03-03 21:19] qmfrederik commented on #9913
@gkhanna79 Next up: RIDs and CI builds for Android? ;-)

[2017-03-03 21:19] cydhaselton commented on #9913
My personal goal is to get powershell on android...

[2017-03-03 21:20] qmfrederik commented on #9913
@cydhaselton Doing everything from Ubuntu 16.04. My notes (although incomplete) are at https://github.com/qmfrederik/coredroid/blob/master/README.md; PRs are welcome ;-)

Here's a list of files I have on my Android device (probably I've copied over too many files, but it should get you an idea):

[code]

[2017-03-03 21:24] qmfrederik commented on #952
@masonwheeler We've got Hello World running on .NET Core on arm64 Android. Just wondering, is there anything this issue tracks which #1097 is not tracking?

[2017-03-03 21:24] gkhanna79 commented on #9913
@qmfrederik Definitely help bring them up and let us know how we can help. That said, it will be good to get the "How to build for Android" PRed into master.

[2017-03-03 21:27] qmfrederik opened #9946 "Android: Next Steps"
With #9913 resolved, .NET Core on 64-bit Android can now run a basic "Hello World" app.

I'm opening this issue to see what the next steps would be. That would include:
- CI builds (or at least standardized builds which can be used to create NuGet packages)
- Assigning a RID for Android

[2017-03-03 21:31] qmfrederik commented on #9946
@gkhanna79 Let's continue the conversation from #9913 here.

Both CoreCLR and CoreFX can now cross-build on Linux for arm64 Android.
Cross-building is similar to how it's done for ARM Linux - that is, using a rootfs and a set of cross compilers.
For Android, we use the NDK ("Native Development Kit for Android") to cross compile.

The cross-building instructions are here: https://github.com/dotnet/

[2017-03-03 21:47] gkhanna79 commented on #9553
Based upon the recent discussions, here is my take away:

1) Update Arm Rootfs toolset in Docker images so that the patch to enable libcoreclrtraceptprovider.so is available.

2) Add RootFS for Linux/x86 for Xenial (16.04) only.

@hqueue @hseok-oh Can you confirm?

CC @MichaelSimons

[2017-03-03 22:05] danmosemsft commented on #9939
Would this include other runtimes- CoreRT etc?

[2017-03-03 22:07] danmosemsft commented on #6252
@gkhanna79 this is the issue I mentioned. Ping me if you want to brainstorm about CoreCLR build perf.

[2017-03-03 22:08] danmosemsft commented on #6329
I gues this was fixed by the commit  above.

[2017-03-03 22:08] #6329 closed

[2017-03-03 22:08] danmosemsft commented on #9388
@dagood your other one looks closed - is this done then?

[2017-03-03 22:10] mikedn commented on #6252
Funny, I've just started a build with `start /b /low` to keep it from killing my machine.

[2017-03-03 22:15] jkotas commented on #9939
Yes, it is what we should be shooting for as the ideal situation. Figuring the plan for Windows/Unix CoreCLR diff would be the first step.

[2017-03-03 22:36] danmosemsft commented on #9885
Oh - it's right in front of my nose in PinnableBufferCache already. Just another one.
[code]

[2017-03-03 23:06] #9397 closed

[2017-03-03 23:06] tarekgh commented on #9397
this is already done

[2017-03-03 23:31] sandreenko opened #9948 "InitializeArray intrinsic must be always expanded"
CoreRT requires to expand InitializeArray intrinsic to avoid any calls to reflection for it.
RyuJit can not expand it if spill stack happens and variables are in local vars.

Repro: Microsoft.CSharp.dll, Microsoft.CSharp.RuntimeBinder.Semantics.PredefinedMembers,Microsoft.CSharp

[2017-03-03 23:46] janvorli commented on #9932
@BruceForstall I have managed to fix the first rule, I'll send out a PR on Monday.

[2017-03-03 23:55] janvorli commented on #9851
CC: @vancem

[2017-03-03 23:57] MysticRyuujin commented on #9854
So just to verify I need to open this issue with corefx?

[2017-03-04 00:07] daxian-dbw commented on #9854
@MysticRyuujin both corefx and coreclr are targeting .NET Core, where the API `"WebClient.Proxy.GetProxy"` is not available. This API is only available in Full .NET. You can try opening an issue in corefx, and see how it goes.

[2017-03-04 00:24] dagood commented on #9388
That PR was closed and replaced by https://github.com/dotnet/coreclr/pull/9664, which I've included the fix for this in. I'll close this issue once that's merged, thanks for the ping.

[2017-03-04 00:43] danmosemsft commented on #8763
@jamesqo I think after the scads of deleting and reformatting we did since you opened this, we're in a pretty good state. There are some types (eg Dictionary) that we still have in both CoreFX and CoreCLR. In that case it's because while we need it in corelib for code there to use, we want a "live" one in CoreFX for folks to contribute to and optimize. (In such a case ideally we're rename eg LowLe

[2017-03-04 00:43] #8763 closed

[2017-03-04 00:47] cmckinsey commented on #9578
Would love to have TP legs that record some of these stats into benchview for tracking trends. @valenis @DrewScoggins

[2017-03-04 00:47] cmckinsey commented on #9569
Would love to have these stats recorded in bench view trends. @valenis

[2017-03-04 00:59] masonwheeler commented on #952
@qmfrederik  That's great news!  it's worth pointing out that there are still a lot of Android devices running on 32-bit ARM, though.

With a working Android ARM64 and working ARM v7 for Linux, how difficult will it be to get a working ARM v7 for Android?

[2017-03-04 01:26] alexperovich commented on #9746
From a gander at https://github.com/Microsoft/vsts-agent/blob/master/src/Agent.Worker/Program.cs#L12 you are calling `GetAwaiter().GetResult()` on a task. This is the cause of the `HandleNonSuccessAndDebufferNotification` call. When this function is called on a non completed task it uses a `ManualResetEventSlim` to wait for completion of the `Task`. This hang is caused by the `Task` never completi

[2017-03-04 01:50] karelz opened #9953 "Improve Unable to find Curl exception"
_From @ayende on December 1, 2016 9:8_

I'm running CoreCLR on Raspberry PI and we are running into an issue with HttpClient:

[code]

Here are the details on the native module:
[code]

The problem  was that it doesn't give a good error message. I fixed that by installing libcurl3, and I think that it should give a suggestion on why this is missing

_Copied from original issue: dotnet/corefx#14151

[2017-03-04 01:50] karelz commented on #9953
Assuming dynamic loading on Linux works in similar way as on Windows, I guess we truly fail to load System.Net.Http.Native because one of its dependencies does not exist. Is that correct assumption?

In such case we could do try-catch around the [native call](https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/Common/src/Interop/Unix/System.Net.Http.Native/Interop.In

[2017-03-04 01:50] karelz commented on #9953
_From @janvorli on December 1, 2016 11:52_

We list a set of dependencies that need to be installed in order to use dotnet. curl is one of them. However, we don't list those dependencies on the dotnet/cli page where the current packages can be downloaded. These seem to be well hidden in the corefx / coreclr building docs.
So we should list them side by side with links to download the dotnet packag

[2017-03-04 01:50] karelz commented on #9953
Shouldn't the Linux prereqs be listed primarily here: https://www.microsoft.com/net/core#linuxredhat ?

@janvorli can you please create a bug in core repo for the message change?

[2017-03-04 03:07] AndyAyersMS commented on #9945
Looking at the jit side -- the problematic IL is:
[code]
Where `local 0` has a type that is a supertype of the `newobj`. In `impImportBlockCode` the jit deliberately substitutes the local for the result of the `dup`.
[code]
Because we're in the importer we may be able to access a more accurate type for the value being `dup`'d and spill to a temp local instead. So we'd effectively act as if the IL

[2017-03-04 08:08] gkhanna79 commented on #9935
@hseok-oh Do you know who can help look into this?

[2017-03-04 08:10] gkhanna79 commented on #9939
CC @weshaggard

[2017-03-04 08:11] gkhanna79 commented on #9944
@wtgodbe Can you please look into this?

[2017-03-04 08:14] gkhanna79 commented on #9953
@blackdwarf should be able to help with the documentation updates.

[2017-03-04 16:47] gkhanna79 commented on #5064
Closing since the issue was addressed long ago.

[2017-03-04 16:47] #5064 closed

[2017-03-04 16:48] gkhanna79 commented on #4733
CC @lt72 @noahfalk

[2017-03-04 16:57] gkhanna79 commented on #9807
CC @AlexGhiondea

[2017-03-04 16:58] gkhanna79 commented on #9806
CC @AlexGhiondea

[2017-03-04 16:59] gkhanna79 commented on #9818
@hseok-oh Can this be closed?

[2017-03-04 16:59] gkhanna79 commented on #9827
CC @lt72 @noahfalk @mikem8361

[2017-03-04 17:00] gkhanna79 commented on #9848
CC @RussKeldorph

[2017-03-04 17:01] gkhanna79 commented on #9850
CC @RussKeldorph

[2017-03-04 17:02] gkhanna79 commented on #9851
CC @brianrob @swgillespie

[2017-03-04 17:04] gkhanna79 commented on #9854
Closing in favor of https://github.com/dotnet/corefx/issues/16695.

[2017-03-04 17:04] #9854 closed

[2017-03-04 17:08] gkhanna79 commented on #9761
@brianrob can help with instructions on how to profile for .NET Core.

[2017-03-04 17:10] gkhanna79 commented on #9793
@danmosemsft Can you please route this to someone on CoreFX/Msbuild to take a look and assign appropriate mileston?

[2017-03-04 17:12] gkhanna79 commented on #9632
Given that the PR is closed, what are the next steps for this issue?

CC @wtgodbe

[2017-03-04 17:26] borgdylan commented on #4733
Since then, my issues got fixed.

[2017-03-04 17:35] jkotas commented on #6540
This was fine tuned for x86/x64 in https://github.com/dotnet/coreclr/pull/9786 . I am going to open a new issue to look at tuning this for arm/arm64.

[2017-03-04 17:35] #6540 closed

[2017-03-04 17:36] jkotas opened #9958 "[arm64] Tune memory copy performance"
Check what was done for x86/x64 in https://github.com/dotnet/coreclr/pull/9786

[2017-03-04 17:44] jkotas commented on #2430
We should look into fixing this using Span.

[2017-03-04 18:55] buybackoff commented on #5851
How Span<T> will work from F# when it is implemented natively in CLR and becomes stack-only? E.g. I have a C# library that already uses Span<T> in some places (and I am preparing to use it much more), but then that library is consumed by F# libraries. One of the important use case is a lambda with a span: `Reduce(Func<Span<T>,U> reducer)`, transforming a span without a risk to return a reference t

[2017-03-04 19:13] davidfowl commented on #5851
`Span<T>` as of right now will have all of the same restrictions as `T*` (so it can't be used in generic arguments). It will also require a new version of C# to properly use it and will likely be blocked in older versions of the compiler. I assume F# would need to do similar work for it to work there.

/cc @jaredpar

[2017-03-04 19:21] gkhanna79 commented on #4733
Very well. I will close this for now.

[2017-03-04 19:21] #4733 closed

[2017-03-04 19:23] jkotas commented on #5851
`Span<T>` cannot be used as generic argument. `Func<Span<T>,U>` won't compile or run once the Span is fully implemented.

You may want to look at `Memory<T>` https://github.com/dotnet/corefxlab/blob/master/docs/specs/memory.md and use that for generics or interop with F#.

[2017-03-04 19:34] gkhanna79 commented on #9734
@janvorli Can you please move this issue to CLI repo?

[2017-03-04 19:35] jkotas commented on #8459
@gkhanna79 and I have been discussed this a few days ago. One of the stated top goals for .NET Core 2.0 is easy migration from desktop on Windows. Removing the exception handling interop would go against this goal. We should instead look into how to fix the implementation so that the codegen does not have to be pessimized for it. Adding some tests for it would be good too.

[2017-03-04 19:36] gkhanna79 commented on #9707
CC @RussKeldorph

[2017-03-04 19:37] gkhanna79 commented on #9706
cC @RussKeldorph

[2017-03-04 19:38] gkhanna79 commented on #9638
@danmosemsft Can you please move this to CoreFX?

[2017-03-04 19:39] benaadams commented on #9707
@mikedn Has this been resolved by https://github.com/dotnet/coreclr/pull/9773?

[2017-03-04 19:39] gkhanna79 commented on #9624
CC @AlexGhiondea

[2017-03-04 19:44] gkhanna79 commented on #9528
@danmosemsft @AlexGhiondea PTAL

[2017-03-04 19:46] gkhanna79 commented on #9503
Should @tarekgh look into this?

[2017-03-04 19:47] mikedn commented on #9707
@benaadams Yes.

[2017-03-04 20:00] #9707 closed

[2017-03-04 20:01] jkotas commented on #9624
Let's use https://github.com/dotnet/corefx/issues/2800 to track this

[2017-03-04 20:01] #9624 closed

[2017-03-04 20:48] buybackoff commented on #5851
Thanks a lot! Good I asked before going too far with existing struct implementation and wrong assumptions.

Memory is very useful thing, especially in combination with Reserved/OwnedMemory and buffer pools. Since Memory has public API with Span, won't it have the same issues as Span itself when used from F#?

(replied an hour+ before via email, sorry for noise if that reply will eventually appear

[2017-03-04 20:48] davidfowl opened #9960 "First class "thunk" support"
When writing a framework that dispatches to user methods it's quite common to reflect over all methods of a particular shape on an object and store a `MethodInfo` for later use. The scan and store is typically a one time cost (done up front) but the invocation of these methods happen lots of times (one or many times per http request for example). Historically, to make invocation fast, you would ge

[2017-03-04 21:03] qmfrederik commented on #952
@masonwheeler It shouldn't be too hard but it will take some work. #9961 is a first step :)

[2017-03-04 21:07] cydhaselton commented on #9913
@qmfrederik Followed your instructions and got `Unhandled Exception: System.BadImageFormatException` when running `helloworld.dll`

Is there anything you did in this PR that wasn't replicated to your instructions?

[2017-03-04 21:23] mikedn commented on #9938
Probably the unnecessary allocation and copying doesn't have a large impact because not a lot of methods use 128/256 assertion tables (e.g. less than 1% of the crossgened corelib methods).

[2017-03-05 00:14] qmfrederik commented on #9913
@cydhaselton I think the BadImageFormatException may be because your helloworld.dll targets amd64 instead of AnyCPU.

If you have access to a Windows machine, you can use ILSpy to check.

In short - in the helloworld project, remove the RuntimeIdentifier from the .csproj, run dotnet restore, dotnet build, and then copy the bin/Debug/netstandard2.0/helloworld.dll file over to your Android device (n

[2017-03-05 00:24] MichalStrehovsky commented on #9912
What's the expected use case for this? Load an IL assembly and start running code from it?

We will not be able to support that in a usable way on Project N without a JIT or an interpreter, neither of which are planned for UWP. Making something work in Debug configuration (when CoreCLR is used), but throw `PlatformNotSupportedException` on Retail (when we compile to native with Project N) doesn't

[2017-03-05 01:07] qmfrederik commented on #952
@masonwheeler #9961 should get you to a point where you can cross-compile for ARM Android, feel free to give it a try.

[2017-03-05 01:17] karelz commented on #6283
Here's the bug link: https://bugzilla.redhat.com/show_bug.cgi?id=1374548 (sadly restricted as internal only to RedHat)

@adityamandaleeka is there an easy way how to identify a segfault as dupe of this bug? Particular patterns or something?

[2017-03-05 02:31] gkhanna79 commented on #9373
CC @brianrob

[2017-03-05 02:32] gkhanna79 commented on #9414
@kouvel PTAL

[2017-03-05 02:35] gkhanna79 commented on #9447
Issue moved to [dotnet/core-setup #1636](https://github.com/dotnet/core-setup/issues/1636) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-05 02:35] #9447 closed

[2017-03-05 02:58] gkhanna79 commented on #8348
@janvorli Is there a specific reason you tagged this as diagnostics instead of Threading?

CC @kouvel

[2017-03-05 03:02] jkotas commented on #1203
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md has instruction on how to try .NET Core 2.0 if you would like to give it a try.

[2017-03-05 03:03] #1203 closed

[2017-03-05 03:06] jkotas commented on #9960
You are really just asking for faster `MethodInfo.Invoke` - to make it precompiled, not interpreted. It does not need a new API. This performance improvement can be done without introducing a new APIs.

[2017-03-05 03:12] davidfowl commented on #9960
Sounds good. That would solve world hunger. Can you elaborate on why methodinfo.Invoke is slow today? What's the difference between `Delegate.CreateDelegate() -> delegate.Invoke` vs methodInfo.Invoke?

[2017-03-05 03:16] jkotas commented on #9960
`MethodInfo.Invoke` has to marshal the argument values from the boxed objects and put them into registers for the method to call. It is done via interpreter today. You can speed it up by precompiling the marshalling. It is essentially the same thing as what you are doing with expression trees today, except that it would be done in corelib using reflection.emit or something similar.

[2017-03-05 03:16] gkhanna79 commented on #8304
@richlander Can you PTAL?

[2017-03-05 03:17] gkhanna79 commented on #8290
@danmosemsft PTAL

[2017-03-05 03:18] gkhanna79 commented on #8279
@sahithreddyk Did the above help?

[2017-03-05 03:19] gkhanna79 commented on #8237
@yizhang82 @fadimounir PTAL

[2017-03-05 03:20] gkhanna79 commented on #8234
@RussKeldorph Does this repro again (or on a recent build)?

CC @rahku

[2017-03-05 03:22] ygc369 opened #9963 "GC: Two optimizations worth considering"
1. After GC (no matter which generation), all garbage objects with finalizer should be moved to heap zone of generation 0. Thus, these objects may be collected next generation 0 GC after their finalizers are called.
After all, they are more likely to be garbage than to be alive after finalized.
See https://github.com/dotnet/coreclr/issues/1856
Although C# discourage people to use finalizer, but so

[2017-03-05 03:22] gkhanna79 commented on #8225
This issue not applicable for CoreCLR repo. Any concerns closing this?

[2017-03-05 03:32] davidfowl commented on #9960
@jkotas Would it make sense to change the existing methodInfo.Invoke? Compatibility concerns etc?

Is there any concern with storing the "precompiled" state?

I'd like to play around with this 😄

[2017-03-05 03:33] gkhanna79 commented on #8221
CC @wtgodbe

[2017-03-05 03:33] gkhanna79 commented on #8193
CC @wtgodbe

[2017-03-05 03:36] gkhanna79 commented on #8104
CC @RussKeldorph

[2017-03-05 03:42] gkhanna79 commented on #8005
@jreumuth Can the issue be closed?

[2017-03-05 03:49] gkhanna79 commented on #7932
Is there anything actionable here?

[2017-03-05 03:49] gkhanna79 commented on #7902
@mikem8361 @noahfalk @lt72 PTAL

[2017-03-05 03:49] #772 closed

[2017-03-05 03:56] jkotas commented on #9963
This looks like a variation on the other suggestions you have opened.

As Vance said in the other issue: Ideas for improvements are considerably more valuable if they have (ideally real world) data that argues that the improvement is very significant. It would be useful if you can support your suggestions with real world data that show the estimated improvement.

[2017-03-05 03:56] #9963 closed

[2017-03-05 04:00] gkhanna79 commented on #7845
@lucenticus Is there anything actionable on this issue?

[2017-03-05 04:01] gkhanna79 commented on #7841
@wtgodbe PTAL

[2017-03-05 04:02] gkhanna79 commented on #7413
CC @brianrob

[2017-03-05 05:27] jkotas commented on #9960
It does not make sense to introduce new APIs to fix perf issues in the existing APIs. Otherwise, we would end up over time with Invoke, InvokeFast, InvokeFaster, InvokeFastest, ... .

Yes, it takes extra care to ensure that you do not break anything.

I did not mean to AOT compile, just compile it in memory on demand.

You can take a look how it is done in CoreRT: https://github.com/dotnet/corert/

[2017-03-05 06:45] yizhang82 commented on #8237
@shrah Can you take a look?

[2017-03-05 11:50] cydhaselton commented on #9913
@qmfrederik Yup, already done & PR submitted. Will post other questions in Next Steps thread

[2017-03-05 11:56] cydhaselton commented on #9946
Are their other components around or central to .NET core for which an Android port would be useful and/or possible?

[2017-03-05 12:15] davidfowl commented on #9960
I wasn't talking about AOT compilation, I was just asking if storing a dynamic method or whatever the extra state was on the `MethodInfo` would be a problem.

Thanks! Now I just need to translate that into C++ 😄

[2017-03-05 12:20] am11 commented on #9946
@cydhaselton, the bootstrap script in dotnet/core repo:
https://github.com/dotnet/core/tree/927a249/tools/dotnet-bootstrap/dotnet.bootstrap.py#L349-L364 suggests `coreclr`, `corefx` and `core-setup` under dotnet org with native components are required to be rebuilt. The rest of the repos contain portable, managed code.

[2017-03-05 12:37] stephentoub commented on #7413
This issue should really be in CoreFx.

Yes, that should be doable for Windows as well.

Socket.Handle has been exposed.  It's not available in .NET Core 1.x, but is in .NET Core 2.0.

[2017-03-05 13:22] cydhaselton commented on #9946
There's not much in the way of documentation for building core-setup; is this on purpose?

[2017-03-05 13:42] mattwarren commented on #9960
`<shameless plug'` This intrigued me as well, so I wrote a few blog posts about it, see [Why is reflection slow?](http://mattwarren.org/2016/12/14/Why-is-Reflection-slow/) (section 'How does Reflection work?') also [How do .NET delegates work?](http://mattwarren.org/2017/01/25/How-do-.NET-delegates-work/) has some related info

[2017-03-05 14:40] qmfrederik commented on #9946
@cydhaselton Have a look at dotnet/core-setup#747 and dotnet/core-setup#749. These were the PRs that got core-setup to cross-build for ARM Linux.

I think that to cross-build core-setup for Android, you can re-use the same approach that was taken for CoreCLR and CoreFX: work with a rootfs for Android using the build-android-rootfs script (adapted for core-setup) and use a cross/android/arm64 folde

[2017-03-05 14:57] stevedesmond-ca commented on #9946
dotnet/core-setup#725 has a checklist that could be useful. I recall reading recently that the CI switched to Docker containers instead of the chroot/rootfs, so might not be necessary anymore.

[2017-03-05 15:20] jkotas commented on #9960
You do not need to. It can be in C# just fine.

[2017-03-05 15:29] jkotas commented on #9960
RuntimeMethodInfo has 12 fields already. Adding a 13th one should not be a problem; and if it is a problem - some of the existing 12 fields can be folded together.

[2017-03-05 16:08] cydhaselton commented on #9946
@stevedesmond-ca:  Thanks, that post has a wealth of info

@qmfrederik: Please post here if/when you assign a RID for Android and I'll do the same.

[2017-03-05 16:13] mattwarren commented on #9960
Would this be something that is opt-in or the default behaviour?

There may be some scenarios where the extra overhead of time needed to create the delegate and then space to store it, could outweigh the cost of just using `methodInfo.Invoke()`

[2017-03-05 16:15] mattwarren commented on #9960
Also something similar was asked before, see #8105

[2017-03-05 16:23] jkotas commented on #9960
Right, it would need to be done only once the runtime sees the method invoked multiple times to be beneficial.

[2017-03-05 18:33] tarekgh opened #9967 "DateTime? proprety value cannot be set correctly"
@TongQijie commented on [Fri Mar 03 2017](https://github.com/dotnet/corefx/issues/16703)

i have a class contains a property whose type is DateTime?

[code]

i set value to property 'DateValue' like this:

[code]

the problem is that subItem.DateValue is always {01/01/0001 00:07:28}. why?

please help me...

---

@TongQijie commented on [Fri Mar 03 2017](https://github.com/dotnet/corefx/issues/167

[2017-03-05 18:58] tarekgh commented on #9503
Yes we can clean up this part. @gkhanna79 I moved this to future milestone as I am seeing this is just a clean up.

[2017-03-05 20:01] davidfowl commented on #9960
Thats why I prefer the 2 stage approach, getting the method info then preparing it to get something back that is optimized for invocation. You pay that cost explicitly and up front. It also gets around any compatibility concerns around `methodinfo.invoke`.

We do something similar in our dependency injection system. After 2 invocations, we fire off a background thread for compilation so the next t

[2017-03-05 20:07] jkotas commented on #9960
Then this does not need to be built into the runtime. It can be regular upstack nuget package, e.g. the Thunk method can be extension method.

[2017-03-05 20:14] stephentoub opened #9968 "None of the build badges are working"
https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/OfficalAndDailyBuilds.md

They all point to an old server, hence they all show up as "inaccessible".

[2017-03-05 20:31] stephentoub opened #9969 "Debug.Assert from System.Reflection.Metadata while using clrstack"
I'm using lldb-3.6 on Ubuntu 16.10 to debug an issue, and I just hit an assert from clrstack and its usage of System.Reflection.Metadata:
[code]
cc: @tmat, @mikem8361

[2017-03-05 20:37] AndyAyersMS commented on #8321
Another instance: https://ci.dot.net/job/dotnet_coreclr/job/master/job/debug_centos7.1_prtest/3608/

[2017-03-05 22:16] Maoni0 commented on #7932
nothing actionable from the GC side.

[2017-03-05 23:59] davidfowl commented on #9960
Part of the reason for baking this into the runtime was so that the implementation could adapt on AOT platforms...

[2017-03-06 00:48] hseok-oh commented on #9935
cc/ @parjong @seanshpark @wateret @jkotas

[2017-03-06 00:51] hseok-oh commented on #9818
Fixed by #9819 and remain issue #9902

[2017-03-06 00:51] #9818 closed

[2017-03-06 00:58] parjong opened #9970 "[x86/Linux] Default P/Invoke Calling Convention?"
I observed stack misalignment while working on [this patch](https://github.com/parjong/coreclr/commit/565d3c22ad3fb68dd47f9a31e683a28143d58465) (which aims to insert stack alignment check inside ``HelperMethodFrameRestoreState``:
[code]

While digging this issue, I found calling convention mismatch between P/Invoke IL Stub and its actual target.

Here is the code fragment that make stack incorrect

[2017-03-06 01:02] hseok-oh commented on #9553
@gkhanna79 To build Linux/x86 using cross build, additional packages need: gcc-multilib, g++-multilib

[2017-03-06 01:04] parjong commented on #9970
@jkotas Could you let me know who is responsible?

[2017-03-06 01:10] jkotas commented on #9960
nuget package can adapt on AOT platforms too.

[2017-03-06 01:40] jkotas commented on #9970
On Windows x86, the default PInvoke calling convention is stdcall. On Linux x86, we should have the same default PInvoke calling convention as Mono. @kumpera What is the Mono default PInvoke calling convention on Linux x86?

[2017-03-06 02:01] seanshpark commented on #9935
Could this be related with https://github.com/dotnet/coreclr/issues/9357#issuecomment-278026518  from @janvorli ?

[2017-03-06 02:08] seanshpark commented on #9553
I'm not sure about installing gcc-multilib, g++-multilib if you use rootfs.

[2017-03-06 02:17] seanshpark commented on #9970
@parjong , could #9935 be same issue?

[2017-03-06 02:25] parjong commented on #9970
@seanshpark #9935 seems to be related, but not exactly same. It looks like the target uses ``STDCALL``, but assumes that it uses ``CDECL`` (reverse direction).

[2017-03-06 03:06] gkhanna79 commented on #9967
@lt72 @mikem8361 PTAL and close (with details) if already fixed.

[2017-03-06 03:09] gkhanna79 commented on #7845
@janvorli Can there be more such scenarios where minor version is not set?

[2017-03-06 03:11] gkhanna79 commented on #7691
CC @brianrob

[2017-03-06 03:13] gkhanna79 commented on #7653
CC @lt72 @noahfalk @mikem8361

[2017-03-06 03:14] gkhanna79 commented on #7645
What do you think @hqueue @jyoungyun ?

[2017-03-06 03:16] gkhanna79 commented on #7614
This is expected to be installed as part of pre-req installation. Please see https://docs.microsoft.com/en-us/dotnet/articles/core/windows-prerequisites#net-core-dependencies.

[2017-03-06 03:17] gkhanna79 commented on #7597
@aparamon Are there any open items this issue is tracking?

CC @rahku

[2017-03-06 03:20] gkhanna79 commented on #7535
CC @noahfalk

[2017-03-06 03:22] gkhanna79 commented on #7389
CC @danmosemsft

[2017-03-06 03:26] gkhanna79 commented on #7387
@matt-richardson .NET Core builds for various platforms that we build are available at `Daily Builds` section at https://github.com/dotnet/core-setup/blob/master/README.md.

CoreCLR is built for FreeBSD but .NET Core is not (yet).

[2017-03-06 03:30] gkhanna79 commented on #7370
@danmosemsft @AlexGhiondea PTAL

[2017-03-06 03:30] gkhanna79 commented on #7369
@danmosemsft @AlexGhiondea PTAL

[2017-03-06 03:41] gkhanna79 commented on #7343
CC @danmosemsft @AlexGhiondea

[2017-03-06 03:41] gkhanna79 commented on #7331
CC @rahku

[2017-03-06 03:46] gkhanna79 commented on #7259
Our official builds are clean on this - is there anything actionable here @janvorli?

[2017-03-06 03:47] gkhanna79 commented on #7253
CC @AtsushiKan @danmosemsft

[2017-03-06 03:48] gkhanna79 commented on #7243
CC @danmosemsft @AlexGhiondea

[2017-03-06 03:50] gkhanna79 commented on #7215
Issue moved to [dotnet/cli #5926](https://github.com/dotnet/cli/issues/5926) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-06 03:50] #7215 closed

[2017-03-06 03:51] gkhanna79 commented on #7203
@barrytang Which repo should this issue be moved to?

[2017-03-06 03:52] gkhanna79 commented on #7135
CC @danmosemsft @AlexGhiondea

[2017-03-06 03:52] gkhanna79 commented on #7134
@barrytang Which repo this issue move to?

[2017-03-06 03:56] gkhanna79 commented on #7060
CC @danmosemsft @AlexGhiondea

[2017-03-06 03:59] hseok-oh commented on #9553
@seanshpark I confirmed that gcc-multilib and g++-multilib is needless. Thank you.

[2017-03-06 04:01] gkhanna79 commented on #7055
@ntsekouras Can you please elaborate on what is not supported?

[2017-03-06 04:04] gkhanna79 commented on #7039
Are you looking for space requirements for the built binaries to execute OR to build on an Android VM itself?

[2017-03-06 04:06] gkhanna79 commented on #7030
@ritasker Were you able to get a repro steps for this, alongwith the version information requested above?

[2017-03-06 04:07] gkhanna79 commented on #7017
CC @danmosemsft @AlexGhiondea

[2017-03-06 04:14] gkhanna79 commented on #6934
CC @jkotas @kouvel

[2017-03-06 04:17] gkhanna79 commented on #6838
CC @yizhang82

[2017-03-06 04:24] gkhanna79 commented on #7932
Should the issue be closed in that case?

[2017-03-06 04:24] gkhanna79 commented on #7413
Issue moved to [dotnet/corefx #16744](https://github.com/dotnet/corefx/issues/16744) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-06 04:24] #7413 closed

[2017-03-06 04:29] gkhanna79 commented on #6795
Can this issue be closed @al1b ?

[2017-03-06 04:33] gkhanna79 commented on #6757
@sergign60 Is this still an active issue tracking work being done?

[2017-03-06 04:33] gkhanna79 commented on #6732
Issue moved to [dotnet/corefx #16745](https://github.com/dotnet/corefx/issues/16745) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-06 04:33] #6732 closed

[2017-03-06 04:35] jamesqo commented on #7343
Fixed in https://github.com/dotnet/coreclr/commit/64700c3f88ec547d3b41bdfc4b801c0a4491cf8a

[2017-03-06 04:35] #7343 closed

[2017-03-06 04:39] gkhanna79 commented on #6524
CC @jkotas @kouvel

[2017-03-06 04:40] gkhanna79 commented on #6503
@brianrob should be able to chime in as well.

[2017-03-06 04:41] gregg-miskelly commented on #7375
@OtherCrashOverride it is somewhat unclear what this bug tracks precisely. Excluding VS for Mac and VS Code, VS has support for --
1. Local and remote Windows debugging
2. Remote attach to Linux/OSX over SSH: https://blogs.msdn.microsoft.com/visualstudioalm/2017/01/26/debugging-net-core-on-unix-over-ssh/
3. Launch to Linux/OSX over Docker

Does 2 resolve this? If not, what is your feature request?

[2017-03-06 04:42] gkhanna79 commented on #6501
Tests should be passing in CoreCLR/CoreFx/Core-Setup repos in addition to Tizen specific test passes. You should also account for necessary performance, stress and reliability testing.

CC @leecow @brianrob

[2017-03-06 04:45] gkhanna79 commented on #6465
Is this still an actively worked upon issue @jamesqo ?

[2017-03-06 04:47] gkhanna79 commented on #6439
CC @danmosemsft

[2017-03-06 04:49] gkhanna79 commented on #6382
@internetbird Does the above answer your question and can this be closed?

CC @danmosemsft

[2017-03-06 04:51] gkhanna79 commented on #6352
@redknightlois Can this issue be closed?

[2017-03-06 04:52] gkhanna79 commented on #6349
CC @rahku @janvorli

[2017-03-06 04:54] gkhanna79 commented on #6282
@wtgodbe Did this repro again?

CC @kouvel

[2017-03-06 04:57] gkhanna79 commented on #6273
CC @sdmaclea

[2017-03-06 04:58] gkhanna79 commented on #6250
@dpen2000 Do you have any outstanding questions on this issue?

[2017-03-06 04:59] gkhanna79 commented on #6222
I am closing this issue for now - feel free to reopen if the issue resurfaces.

[2017-03-06 04:59] #6222 closed

[2017-03-06 05:00] hqueue commented on #7645
I also think it's good idea to add test for build-rootfs.sh.
However I prefer using just a vanilla script than `bats`, unless `bats` is already exploited by other shell scripts in dotnet including coreclr, corefx and etc., because many developers may prefer less dependencies and `build-rootfs.sh` is a small part (and optional) of Linux build scripts compared to main [build.sh](https://github.com/d

[2017-03-06 05:00] gkhanna79 commented on #6214
@wtgodbe can chime in as well.

[2017-03-06 05:02] hqueue commented on #9553
@gkhanna79 Agreed :)

[2017-03-06 05:03] gkhanna79 commented on #6140
@Serginio1 Please feel free to reopen the issue once you have repro details.

[2017-03-06 05:03] #6140 closed

[2017-03-06 05:03] MaleDong commented on #7243
Thanks @gkhanna！
What do you think of this？

[2017-03-06 05:03] gkhanna79 commented on #6136
CC @danmosemsft @AlexGhiondea

[2017-03-06 05:06] AlexGhiondea commented on #6136
Sounds like a great idea for an enhancement. Anyone interested in picking this up?

[2017-03-06 05:09] gkhanna79 commented on #6023
@janvorli Do you have suggestions on what else is required at runtime? libicu?

[2017-03-06 05:10] hqueue commented on #6501
@gkhanna79 Should we add tests(esp. performance and stress) with current build configuration for arm and armel ? As you already knew, currently .NET Core for arm and armel are built using clang 3.6 `-O1` optimization. To enable agressive optimization with  `-O3`, I think we have to enable clang 3.9 for arm and armel first to test performance correctly, as we discussed at https://github.com/dotnet/

[2017-03-06 05:10] gkhanna79 commented on #6012
CC @danmosemsft @AlexGhiondea

[2017-03-06 05:16] gkhanna79 commented on #5686
@adityamandaleeka Similar to the other issue you have seen? Did it repro recently?

[2017-03-06 05:20] gkhanna79 commented on #5155
@mgravell @NickCraver Did this get resolved?

[2017-03-06 05:26] AlexGhiondea commented on #7243
@MaleDong could you be more specific as to what you are looking for? Are you thinking of adding a convenience method for doing the 2 operations (delete/insert)? Or are you asking for an efficient way of implementing those 2 methods?

[2017-03-06 05:31] AlexGhiondea commented on #7892
@Jiayili1 I am not sure what test you are referring to.

[2017-03-06 05:39] jkotas commented on #7892
@AlexGhiondea https://github.com/dotnet/corefx/blob/b57805bd336892e707bf5238e86e31aef98e4bce/src/System.Threading.Tasks/tests/TaskFactory/TaskFactory_FromAsyncTests.cs#L563

[2017-03-06 05:39] richlander commented on #6501
I have been thinking along the same lines. I would like to include ARM32 as an official release. At the very least, I was planning on drawing more attention to ARM32 builds and using that as means of getting more mileage on them. After a period of time, if our own tests and the feedback come back "green", then that would compel me to call the builds official, which would be in everyone's interests

[2017-03-06 05:51] hqueue commented on #6388
@kvochko @chunseoklee Is there any update for this ?

[2017-03-06 05:55] hqueue commented on #6273
I'm going to close this issue if there is no more feedback, since PR was already merged long time before and there is no change regarding GC traking for references in this case.

[2017-03-06 06:09] lemmaa commented on #5450
@sdmaclea Yes, I close it. Thanks!

[2017-03-06 06:09] #5450 closed

[2017-03-06 06:20] parjong commented on #9970
@jkotas [Mono document](http://www.mono-project.com/docs/advanced/pinvoke/) says that the default calling convention is ``CDCEL`` for  unix:

[2017-03-06 06:30] MaleDong commented on #7243
Thanks @AlexGhiondea for your quick reply！

If possible, Efficient way with the two methods is fine.
If not, Offering Insert/Delete for direct-byte controlling is also nice.

[2017-03-06 07:39] jyoungyun commented on #7645
I love to add tests for build-rootfs.sh. If I have to choose between vanilla scripts and bats, I think vanilla script is better. :)

[2017-03-06 07:51] ragmani opened #9976 "[x86/Linux] Enable CLR Release Build"
undefined reference error
[code]

[code]

[2017-03-06 07:52] ragmani commented on #9976
cc @parjong

[2017-03-06 07:58] davidfowl commented on #7932
I think it's worth investigating what this event would look like from a cross platform POV. We recently had some design meetings about the ASP.NET cache where we decided to separate the detection of memory pressure from the cache itself. A cross platform component that can detect "low memory" would be super valuable for many scenarios. Do we know if other languages/platfprms/runtimes offer anythin

[2017-03-06 08:10] ayende commented on #7932
@davidfowl I'm polling: https://github.com/ravendb/ravendb/blob/v4.0/src/Raven.Server/ServerWide/LowMemoryNotification/PosixLowMemoryNotification.cs#L29

Note that I absolutely agree that a generic component will be useful here.
Note that it also need to handle such things as containers' limited memory / jobs limited memory.

[2017-03-06 08:28] Maoni0 commented on #7932
on a related note, with hosting APIs (which unfortunately only exist on desktop) you can implement a pattern that says "as a host I decide that this is a low memory situation, so I will do all the clean up type of things (in the cache case it might mean to expire a bunch of cached entries), then I will inform the GC it should consider it a low memory situation", this helps the subsequent GC to rec

[2017-03-06 08:29] davidfowl commented on #7932
/cc @KKhurin

[2017-03-06 08:38] lucenticus commented on #9935
@seanshpark It seems that the behavior described above is not working as expected on x86/Linux, because in this test case we passed one argument (`n`) through ecx register, but  `m_cbActualArgSize` is equal to zero.

It happens because  we expected cdecl calling convention for unmanaged part, and we have code below for
`m_cbActualArgSize` calculation:
[code]

[2017-03-06 09:07] ayende commented on #7932
@Maoni0 Yes, if we can be notified by the host that we are running out of memory, or that a big GC is about to happen, we can do quite a lot to make it more efficient (removed pinned memory, for example), clear caches, etc.

[2017-03-06 09:23] janvorli commented on #9848
@gkhanna79, @RussKeldorph the issue @sdmaclea was seeing on Linux ARM64 was fixed (it was an assembly helper unwind info annotation issue) and the issue on x86 is most likely a runtime issue due to the state of the x86 linux port. So nothing that the JIT team should look at now.

[2017-03-06 09:24] janvorli commented on #9734
Issue moved to [dotnet/cli #5930](https://github.com/dotnet/cli/issues/5930) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-06 09:24] #9734 closed

[2017-03-06 11:38] janvorli commented on #9935
@seanshpark, @lucenticus I have looked through the sources again and found I was wrong. It is really the case that the m_cbActualArgSize is the size of the stack arguments only. I am sorry for misleading you.

[2017-03-06 11:42] janvorli commented on #7259
@gkhanna79 I think we can close this. It seems it was a quirk in one of the old releases of xcode.

[2017-03-06 12:04] janvorli commented on #6349
The "Return value" cmake logged is misleading. It doesn't represent the exit code of the testing app when there was a success, but rather the value that the HAVE_XXXX variable is set to.
Anyways, this issue is obsolete, we don't use PROCFS_MEM_NAME in CoreCLR anymore.
So I am closing the issue.

[2017-03-06 12:04] #6349 closed

[2017-03-06 12:13] janvorli commented on #6023
The full list of transitive dependencies for the case you use dotnet core for Ubuntu 14.04 as a base is below (you'd need to get the binaries from an Ubuntu 14.04 installation in this case).
libicudata.so.52
libicui18n.so.52
libcrypto.so.1.0.0
libicuuc.so.52
libkrb5.so.3
libgnutls.so.26
libsqlite3.so.0
libasn1.so.8
libkrb5.so.26
libgcrypt.so.11
libcurl.so.4
libssl.so.1.0.0
libldap_r-2.4.so.2
liblt

[2017-03-06 12:32] lucenticus commented on #9935
@janvorli Thanks for clarifying, do you know a way to check whether we have arguments in registers too, or how to check calling convention of caller? If I right understand, at this moment we expected that caller always has `CDECL` calling convention.

[2017-03-06 13:06] redknightlois commented on #6352
Unsafe is a workaround.

[2017-03-06 13:06] #6352 closed

[2017-03-06 14:05] stevedesmond-ca commented on #7645
Is there a plan for how to keep all these build-rootfs scripts in sync? I
know of at least 4 dotnet repos that have them: coreclr, corefx, corert,
and core-setup -- not sure if there are others. Would it make sense to have
a single, separate cross-compile configuration repo that each of the others
pull down as part of their build process, kind of like stage0/BuildTools?

On Mon, Mar 6, 2017 at 2:4

[2017-03-06 14:38] jamesqo commented on #6465
@gkhanna79 I already fixed this in a PR. Closing now

[2017-03-06 14:38] #6465 closed

[2017-03-06 14:54] russellhadley commented on #9904
My original thought was that as pointers to the same non-integral struct type they could certainly overlap and require memmove semantics to be correct.  But the point seems to be whether we need to enforce memcpy (overlap unsafe) vs memmove (safe) semantics.  @cmckinsey you had the case where this bit us before in managed C++ and IJW.  Can you comment here?  From an aliasing perspective in the opt

[2017-03-06 15:17] mikedn commented on #9904
From the C++ spec 5.18/8

[2017-03-06 15:55] #6714 closed

[2017-03-06 15:55] #6717 closed

[2017-03-06 16:02] AtsushiKan commented on #7253
Rather than an ad-hoc fix just for Type.Missing, why not a BindingFlags.NoConversion bit to disable all of CheckArguments() weird convenience casting altogether?

In another words, all passed in parameters must be the exact type already. Hence, removes Reflection's internal need to mutate (and hence copy) the argument array. No more overhead for all those checks that CheckArguments() must do - the

[2017-03-06 16:31] RussKeldorph commented on #8234
@gkhanna79 I don't recall seeing it again.  Feel free to close.  Will reopen if I see it again.

[2017-03-06 16:43] lggomez commented on #8221
I re-added the fix in a new PR, last time I lagged behind the build checks so I could not read the logs, but I guess it was a formatting issue that prevented the PR from being merged

[2017-03-06 16:48] RussKeldorph commented on #8104
@CarolEidt @sivarv @BruceForstall @dotnet/jit-contrib

[2017-03-06 16:49] KrzysztofCwalina commented on #5851
Why would F# have problems Memory\<T\> (given C# won't)? i.e. what's special about F#?

[2017-03-06 16:51] RussKeldorph commented on #9850
@dotnet/jit-contrib

[2017-03-06 17:02] RussKeldorph commented on #9850
Oops, I believe the proposal is to change the source code rather than have the JIT recognize and transform this sequence.

[2017-03-06 17:02] tarekgh commented on #6196
these tests has been already deleted from coreclr repo awhile ago as we have the full test coverage in corefx repo.

[2017-03-06 17:02] #6196 closed

[2017-03-06 17:13] AronParker commented on #9850
Yes the change is regarding the source code, not make the JIT recognize the pattern. I don't think that'd be worth it.

[2017-03-06 17:21] warrantyvoids opened #9981 "ToTitleCase does not correctly titlecase Dutch words starting with IJ"
The current TextInfo.ToTitleCase() Locale specific function does not correctly titlecase Dutch words starting with IJ as specified by the Unicode Standard, introductory text of paragraph 3.13.
• Titlecasing of IJ at the start of words in Dutch

An example of this would be ToTitleCase("ijzeren eigenschappen") -> "IJzeren Eigenschappen", although it currently leads to "Ijzeren Eigenschappen".

[2017-03-06 17:25] danmosemsft commented on #9793
I opened https://github.com/dotnet/corefx/issues/16766 separately for clarity.

IMO a bigger issue is passing unlimited data as env vars. @mmitche up to you whether you open an issue against CI for that.

[2017-03-06 17:25] #9793 closed

[2017-03-06 17:28] BruceForstall commented on #8104
@mellinoe

[2017-03-06 17:29] danmosemsft commented on #6087
I agree it seems to be dotnet/corefx#4587. Please see explanation there

[2017-03-06 17:29] #6087 closed

[2017-03-06 17:29] RussKeldorph opened #9983 "[SpanTests] Assertion failed 'genActualType(initVal->gtType) == TYP_INT"
Assertion failure while running CoreFx System.Memory.Tests

**Commits**
54a84d07af050b6948cd54dc28cc694010623cb4
dotnet/corefx@b4c8c018d0b46ddf4def281574b0a1df51087e3f

**Output**
[code]

[2017-03-06 17:34] danmosemsft commented on #7083
I've added this to our list of potential 2.0 investments - this is potentially a BIG one though and it's certainly not going to get a yay/nay right here in this issue. This remains in future and on our radar.

[2017-03-06 17:34] danmosemsft commented on #9638
Issue moved to [dotnet/corefx #16767](https://github.com/dotnet/corefx/issues/16767) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-06 17:34] #9638 closed

[2017-03-06 17:38] weshaggard commented on #9939
While we can create a reference assembly if we feel it is useful we could also just use one of the builds as the representative and put APICompat checks in place to make sure the other builds remain compatible and consistent.

Ignoring the reference assembly for a moment do we think we can even have consistent surface area? For the WinRT types for example is it going to cause any issues if we just

[2017-03-06 17:40] danmosemsft commented on #7017
We'd be open to any of these optimizations if they are proven to provide worthwhile benefit.

[2017-03-06 17:41] gkhanna79 commented on #8104
@RussKeldorph So, this is a CoreLib issue and not a Codegen one?

CC @danmosemsft

[2017-03-06 17:41] dagood commented on #9388
Should be fixed: merged https://github.com/dotnet/coreclr/pull/9664.

[2017-03-06 17:41] #9388 closed

[2017-03-06 17:50] #8234 closed

[2017-03-06 17:52] #7259 closed

[2017-03-06 17:59] #9981 closed

[2017-03-06 17:59] tarekgh commented on #9981
Issue moved to [dotnet/corefx #16770](https://github.com/dotnet/corefx/issues/16770) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-06 18:02] gkhanna79 commented on #7932
@Maoni0 Are you suggesting that folks needing this notification write their own, instead of using the .NEt Core Host?

IMHO, .NET Core host should not participate in Runtime's policy of memory management or notification and this infrastructure is something that should be built into the runtime, enabling any future hosts to be able to take advantage of it.

[2017-03-06 18:13] RussKeldorph commented on #8104
@gkhanna79 If Codegen work is required for this, please let us know.

[2017-03-06 18:18] AlexGhiondea commented on #7243
I see. I don't believe there is a generic efficient approach for insert/delete.

Could you give me more data about when those methods would be used? I am trying to see if there is enough value to consider adding them to the framework.

[2017-03-06 18:20] gkhanna79 commented on #8104
@danmosemsft Please triage this.

[2017-03-06 18:25] #8760 closed

[2017-03-06 18:27] kumpera commented on #9970
I can confirm this, on unix mono used cdecl.

[2017-03-06 19:09] lgreenlee opened #9984 "HttpClient on Linux improvements and enhancements"
After utilizing the HttpClient for several micro-services I believe some improvements can be made to the HttpClient under Linux.

### Improvement 1 - Remove the CURL dependency/Or HttpClientSlim?
I believe there is a thread discussing this already but the the dependency on CURL is problematic. It causes and will continue to cause a few basic issues such as this one.
https://github.com/dotnet/corec

[2017-03-06 19:16] stephentoub commented on #9984
Thanks, but as a meta-point with regards to the title of this issue, I'm not sure how this is Linux-specific.  (2) and (3) are about the shape of HttpClient, and (1) is simply about having a managed implementation rather than relying on a native implementation, e.g. libcurl on Linux or WinHttp on Windows.

[2017-03-06 19:17] weshaggard commented on #8352
@mraswinc if you are seeing a similar issue with the VS2017 please file an issue at http://github.com/dotnet/sdk repro with the appropriate repo steps with the new tools.

I'm closing this issue as I believe @danrozenberg got his issue figured out late last year.

[2017-03-06 19:17] #8352 closed

[2017-03-06 19:17] russellhadley commented on #9983
Hey @sivarv can you look at this?

[2017-03-06 19:21] mellinoe commented on #8104
Moving the vector types into System.Private.CoreLib feels quite risky to me. The stuff that I am worried about:

* The VM recognizes the types as intrinsic by the name of the assembly they reside in. This logic needs to be updated.
* Full CLR also has this "intrinsic recognition" logic, and it uses the same OOB version of System.Numerics.Vectors.dl. S so it would need to be updated as well, on the

[2017-03-06 19:21] janvorli commented on #7376
I have just found what's wrong. My change #7773 has disabled the find_library for ICU libraries in src/corefx/System.Globalization.Native/CMakeLists.txt when FEATURE_FIXED_ICU_VERSION is set, because the libraries are no longer needed for linking. However, I have not realized that they are still needed in the configure.cmake in the same folder to detect whether the ICU library contains ucol_setMax

[2017-03-06 19:22] stephentoub commented on #9984
(1) We are considering a managed HttpClientHandler implementation.  The core of that isn't challenging.  The challenging part is feature parity, e.g. support for Negotiate/Kerberos/NTLM, support for HTTP/2, etc.  Nothing insurmountable, just a lot of work before it could be substituted in silently.  In the meantime, we are considering putting out a prototype of a managed implementation on corefxla

[2017-03-06 19:28] al1b commented on #6795
@gkhanna79 Yes, it can be closed.

[2017-03-06 19:28] #6795 closed

[2017-03-06 19:35] jkotas commented on #8104
.NET Framework does not need to be touched for any of this. This would be .NET Core specific change. We do have a number of other types that are on the similar plan, for example recently added `Span<T>` is in CoreLib for .NET Core, but in corefx for .NET Framework. It is pretty well understood how to set it up.

Another option is to have subsetted duplicate version of the types in CoreLib. We do h

[2017-03-06 19:49] danrozenberg commented on #8352
@weshaggard  and @mraswinc ,
This exact issue seems to have gone away when we started using `VS2017 RC4` and `.NET Core SDK 1.0 rc4 build 004771`. It seems like now our wishes to received `System.Runtime 4.1.0` does get respected. Try upgrading your Visual Studio and SDK and see if it that solves your issue...

[2017-03-06 19:54] mellinoe commented on #9208
This issue also came up regarding RIDs for Android, and whether or not they should inherit from the generic `linux-xyz` rid. https://github.com/dotnet/corefx/pull/16729

[2017-03-06 20:23] Maoni0 commented on #7932
to be clear, it's not the host *infrastructure* that would participate in deciding what low memory looks like. it's the host that implements the hosting interface that decides when it wants the runtime to consider it's low memory. with hosting API you would register a ICLRMemoryNotificationCallback* with the IHostMemoryManager::RegisterMemoryNotificationCallback method. and the host would indicate

[2017-03-06 20:37] wtgodbe commented on #6282
Looks like this is still repro-ing occasionally: https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_centos7.1/1302/testReport/threading/WaitForMultipleObjectsEx/test2/

[2017-03-06 20:37] wtgodbe commented on #6282
@sergiy-k @adityamandaleeka @jkotas who owns PAL tests these days?

[2017-03-06 20:41] kouvel commented on #6282
Probably me for the threading ones, I'll take a look

[2017-03-06 20:50] alexperovich commented on #6012
Has this been api reviewed? If not please create a proposal in the corefx repo. For API changes we track those in corefx even if the implementation is inside coreclr.

[2017-03-06 21:31] janvorli commented on #6282
@wtgodbe - me for the rest of the PAL tests.

[2017-03-06 22:00] adityamandaleeka commented on #6283
@karelz If the crash is a segfault with code SEGV_ACCERR when accessing a valid region of memory (mapped with the correct permissions), it's likely a result of this bug. As an additional data point, every occurrence of the crash I've seen has been in JIT code, with `compCompile` on the stack.

[2017-03-06 22:07] karelz commented on #6283
Great, thanks @adityamandaleeka!

[2017-03-06 22:17] noahfalk commented on #9827
@discostu105 - Your gut is right on : )

You would need to create a new custom version of SOS

Afraid not

Check out CordbModule::RefreshMetaData() in https://github.com/dotnet/coreclr/blob/master/src/debug/di/module.cpp, case 4. That is an implementation of thing you want integrated in ICorDebug API. Probably the easiest way to get something similar in SOS is to leverage ICorDebug's implementatio

[2017-03-06 22:29] janvorli commented on #7376
@wintersteiger the #9990 will fix the issue once it is merged in. I've verified it on my local installation of FreeBSD 11 with the same version of ICU that you have.
@pkubaj I am sorry for the long response time, the issue somehow got out of my radar after I've asked you for the log.

[2017-03-06 22:40] janvorli commented on #9935
@lucenticus if the m_cbRetPop was zero in the UMThunkStub, that means that the runtime thinks the target of the call uses cdecl calling convention.
If you look at the UMThunkMarshInfo::RunTimeInit, you'll see the following code, so the m_cbRetPop is either zero or equal to the m_cbActualArgSize.
[code]

Btw, are you sure the parameter is passed in ecx? That would be a fastcall calling convention.

[2017-03-06 22:45] shrah commented on #8237
@elw00d, according to msdn(https://msdn.microsoft.com/en-us/library/hk9wyw21(v=vs.110).aspx) array of structures with integers are marshalled as IN. So you wouldn't see the value changed by native `Libc.poll` from managed side. To get your desired behavior, you need to change your P/Invoke signature to:

[code]

Without looking into mono, my guess is mono treats array of blittable structs as [IN,O

[2017-03-06 22:52] discostu105 commented on #9827
@noahfalk thanks for your swift response!

Too bad there is no workaround for this. This has been painful for us when debugging our profiler for a long time. I'll guess I have to settle for my read-x86-instructions-and-guess-the-method approach for now.

If this is fixable in ICorDebug, does it mean I can properly debug crash-dumps from older CLR's too? Or would I need to wait for the fix to get d

[2017-03-06 22:59] MichaelSimons commented on #9903
I'm not aware of any officially supported i386 Ubuntu Docker images.  Is there a proposal on what base images should be used?

[2017-03-06 23:00] noahfalk commented on #7902
@gkhanna79 - @gregg-miskelly's team usually takes the first crack at issues that repro in VS and then engages our team if they think the bad behavior is coming from our APIs.

[2017-03-06 23:01] mikem8361 commented on #9967
PR https://github.com/dotnet/coreclr/pull/7149 in coreclr fixed this and it should have made it into .NET Core 1.1.

[2017-03-06 23:01] #9967 closed

[2017-03-06 23:07] mikem8361 commented on #9969
@stephentoub Do you have a (simple) repro app?  I have a fix, but need to test it.

[2017-03-06 23:13] janvorli commented on #7845
@gkhanna79 I am working on PR for trying icu lib names with major version only as a fallback. That should fix issues like this.

[2017-03-06 23:24] mikem8361 commented on #7541
I don't think 1.0.0-preview2-003131 is the latest.  The latest 1.0 "Microsoft.NETCore.App" package is 1.0.4. There is also a 1.1.1 package now too. Could you try one of those versions?

[2017-03-06 23:37] noahfalk commented on #7653
The AddRef that you interpreted as being uncommented is part of the operation above it:

The invariant that comment is talking about is that whenever m_lastDispatchedIBEvent != NULL then there should be a +1 ref count on m_lastDispatchedIBEvent->m_owner.

If you look up in the function you will see that pUnmanagedThread == pUnmanagedEvent->m_owner. Thus the last two lines are ensuring that we +1 r

[2017-03-06 23:37] seanshpark commented on #9935
@janvorli , thank you.

[2017-03-06 23:38] dpen2000 commented on #6250
@gkhanna79 I'm still intrigued to know how this member gets excluded from built assembly considering it's defined as public here.

[2017-03-06 23:38] stephentoub commented on #9969
I was hitting this attaching to unit test runs, e.g. using msbuild /t:rebuildandtest on a corefx unit test project and then attaching to the relevant dotnet process from lldb-3.6.

[2017-03-06 23:39] mikem8361 commented on #7653
So we can close this issue?  Was there a specific app/test/scenario that you hit an CorProcess reference leak?

[2017-03-06 23:41] noahfalk commented on #7535
@gregg-miskelly

[2017-03-06 23:46] noahfalk commented on #5354
CC @gregg-miskelly

[2017-03-06 23:49] noahfalk commented on #5147
That assert is probably wrong, I'm guessing a debugger wrote an 0xcc breakpoint opcode on the code and the assert didn't anticipate that could occur.

[2017-03-07 00:12] cydhaselton commented on #7039
I was looking for space requirements to build on Android; I've since found out they are larger than the capacity of a "standard" Android device.

[2017-03-07 00:12] #7039 closed

[2017-03-07 00:14] mikem8361 commented on #5354
@kingces95 are you trying to use VS to debug the coreclr runtime natively or debug the managed test code? It isn't clear what type of VS project you are using (.NET Core project type) or how you are attaching (Managed (CoreCLR) code type)

[2017-03-07 00:23] gregg-miskelly commented on #7535
This is a duplicate of https://github.com/OmniSharp/omnisharp-vscode/issues/837. Note that for the upcoming 1.8 release we changed the message. Hopefully with the new message it will be more clear that it is a 'status' message rather than a warning.

[2017-03-07 00:23] #7535 closed

[2017-03-07 00:23] cydhaselton commented on #9946
@qmfrederik Not sure if this is the place to mention this, but also not sure where else I'd put this…how should we handle the actual work on the Android next steps so we're not duplicating work and/or stepping on toes? (i.e. duplicate RID PRs in corefx). Should a discussion/issue be created with a list of TODOs or would you prefer to handle all of it?

FYI, I started work on the RIDs because a) it

[2017-03-07 00:30] Adam-Pond commented on #7535
@gregg-miskelly
Is there a way of disabling this 'status' message completely?
A project ignore list perhaps?

As mentioned, seeing a swath of irrelevant messages that don't affect the user and can't be avoided isn't a great option as it breeds apathy and complacency, not to mention hides more significant messages in the noise.

[2017-03-07 00:35] hqueue commented on #7645
AFAIK there was a discussion about and still there is no conceret plan yet.
I also think it's necessary to maintain a single script somewhere.

[2017-03-07 00:42] RussKeldorph commented on #9705
@BruceForstall Is this worth addressing with a comment or interface change now, or should we wait until it proves to be a problem?

[2017-03-07 00:54] gregg-miskelly commented on #5354
@mikem8361 since this bug is just ever so slightly stale I am not sure how relevant it will be :) But I am fairly certain what was going on here was the @kingces95 had his project configured to use the Desktop CLR debugger. If you still have projects that are relevant, you can either configure them to use the CoreCLR debugger, or if they don't have an exposed option, force it with --

[code]

[2017-03-07 00:56] BruceForstall commented on #9705
@RussKeldorph Doesn't seem worth addressing/commenting now.

[2017-03-07 00:56] #9705 closed

[2017-03-07 00:57] gregg-miskelly commented on #7535
@Adam-Pond you can disable all module messages if you like (see `logging` options in launch.json). I don't necessarily recommend that since VS Code has no modules window, so if the debugger doesn't load symbols for a module you want it to, you will not have the ability to find out. But you certainly can if you want.

[2017-03-07 01:05] gkhanna79 commented on #7902
Thanks @noahfalk - I assigned it to you to triage and route as appropriate as you would know the best :)

[2017-03-07 01:35] noahfalk commented on #9827
I think the ICorDebug support got added sometime around 4.6, so I'd expect a solution built on top of ICorDebug APIs could go back a little ways at least. Further back than that you'd need a customized solution.

You mentioned being 'fixable in ICorDebug' but just to clarify I think of this as 'I want to fix my problem by leveraging a pre-existing solution that already exists in ICorDebug'. Nothin

[2017-03-07 01:58] Adam-Pond commented on #7535
@gregg-miskelly
Greg, I think you just made the case for why this issue can't be marked as closed.
There are so many way to address this (allow hiding these specific messages only, have a tree of messages for related messages similar to conversation viewing in emails), but just changing the message doesn't resolve the issues. As @draganjovanovic1 pointed out, there are some messages that you want

[2017-03-07 02:33] lemmaa commented on #9903
Just for information, I'm using `ioft/i386-ubuntu` (https://hub.docker.com/r/ioft/i386-ubuntu/) as base image for i386 Ubuntu. It works well for dotnet core x86 dev & test.

[2017-03-07 02:51] noahfalk commented on #7902
@gkhanna79 - Heh, yeah, I realized your intent a little ways after responding ; ) Certainly thanks for forwarding and please keep doing so.

[2017-03-07 03:29] hseok-oh commented on #9903
I'm also using same base image.

[2017-03-07 03:31] #9945 closed

[2017-03-07 04:39] Maoni0 commented on #6809
sorry @mattwarren .... I apparently dropped the ball there :-( (and was only reminded by that comment on my blog...). I made a fix. will be checking it into the next version of the desktop release as soon as testing is finished (and porting to coreclr).

[2017-03-07 04:45] gregg-miskelly commented on #7535
@Adam-Pond you are welcome to open a new issue in the omnisharp-vscode repo, or the VS Code repo if you are proposing a UI solution. It is not a coreclr issue, so this is not the right spot for this issue. Personally, I don't think there is a way to really solve this problem until VS Code has a modules window. But if you have suggestions on what you want to see we can consider it. I see where you

[2017-03-07 05:02] Dmitry-Me commented on #7653
Can this code clarity be improved somehow?

[2017-03-07 05:14] barrytang commented on #7203
Hi, is this for VS 2015 or VS 2017?

[2017-03-07 05:15] barrytang commented on #7134
@srivatsn @Pilchie ?

[2017-03-07 05:48] mikedn commented on #6250
There used to be a tool called bclrewriter that was removing stuff from the System.Private.CoreLib assembly generated by the compiler. That's no longer the case, whatever code was removed by that tool is now removed from the source code itself.

But it looks like your problem is slightly different as `PrepareConstrainedRegions` was and still is present in System.Private.CoreLib. What really happen

[2017-03-07 05:54] mikedn commented on #6250
And if you're looking at the history of System.Runtime.cs file in corefx you'll see that PrepareConstrainedRegions was recently added back, probably for .NET Core 2.0 - https://github.com/dotnet/corefx/pull/11930

[2017-03-07 06:49] jkotas commented on #9939
This can work for CoreCLR only, but I think it would be hard to make it work for both CoreCLR+CoreRT.

[2017-03-07 06:57] am11 commented on #9208
With Android, bionic-libc would be the fourth supported [standard libc](https://en.wikipedia.org/wiki/C_standard_library#Implementations) after win-crt, glibc and musl-libc. `kernelName (BSD, Darwin, Linux, Win32) + libcName (Bionic, BSD libc, CRT, glibc, musl-libc) + libcVersion + architecture` would form versatile runtime identifier than binding it with OS name.

[2017-03-07 07:27] treziac commented on #7902
It was working better for me on last RC, but I'm waiting for the official release to check again ;)

[2017-03-07 07:30] discostu105 commented on #9827
Ok, thanks for your clarifications.

Sounds like a good idea. Unf. in my current case (same sample as above), this command yields a stack with just one frame and then it stops. (I'm pretty sure I have the right mscordacwks/SOS loaded):

[code]

[2017-03-07 08:00] parjong opened #10001 "[x86/Linux] Unaligned Stack Frame during JIT.Generics.Conversions.Reference.gentogen01 test"
I found that ``JIT.Generics.Conversions.Reference.gentogen01`` emits unaligned stack frame while running  while  working on [this patch](https://github.com/parjong/coreclr/commit/565d3c22ad3fb68dd47f9a31e683a28143d58465) (which aims to insert stack alignment check inside ``HelperMethodFrameRestoreState``:
[code]

[2017-03-07 08:00] parjong commented on #10001
It seems that ``HELPER.CORINFO_HELP_TYPEHANDLE_TO_RUNTIMETYPE`` is called while passing arguments.
[code]

[2017-03-07 08:15] parjong commented on #10001
@dotnet/jit-contrib Is it possible to change the order of `` HELPER.CORINFO_HELP_TYPEHANDLE_TO_RUNTIMETYPE`` call?

I submitted #10002 as a workaround, but it would be better to call this helper before passing arguments if possible.

[2017-03-07 08:35] kvochko commented on #6388
@hqueue yes, the problem is most likely in the way readData function is implemented:

[code]
ARM doesn't seem to support this kind of unaligned access, so using memcpy instead of assignment should solve the problem

[2017-03-07 08:39] ragmani commented on #9976
after #10000 , A segmentation fault is occurred when running corerun as shown below.
[code]

[2017-03-07 08:56] ragmani commented on #9976
the ebx register value is changed after called getcpuid() or getextcpuid().

[2017-03-07 08:57] #9848 closed

[2017-03-07 09:07] janvorli commented on #9903
https://hub.docker.com/r/i686/ubuntu/

[2017-03-07 09:11] MaleDong commented on #7243
A typical example is:
When we wanna make a memory-based file (something similar to MemoryMappedFile), but we may check  for some special bytes and do inserting/deleting at some specific positions to make a mocking memory data for dmp or log…… We don't directly control with memory but using "MemoryFile" instead. But now we cannot do direct insert or delete.

[2017-03-07 09:25] AlexGhiondea commented on #7243
Thanks for the example.

It is a bit vague, but it sounds more like a solution would look more like a convenience method and would apply in a small number of scenario.

I don't believe there is a generic solution that we can introduce for this problem since, in order to make the insert/delete operations fast you need domain knowledge of how you are going to use those files. Because it requires dom

[2017-03-07 09:28] AlexGhiondea commented on #7892
Thanks for the link @jkotas -- I didn't realize we added a test for this. I will submit a PR to re-enable this.

[2017-03-07 09:29] janvorli commented on #9976
@ragmani I have looked at the code and it is because of a typo in the clobbered registers list:

: "eax", "**rbx**", "ecx", "edx", "memory" /* registers that are clobbered, *result is clobbered */

Obviously, the rbx should be ebx.

[2017-03-07 09:32] lucenticus commented on #9935
@janvorli thanks for explanation. Yes, it seems that ecx loaded to esp before the call.
Here is a disassemble of the `CallManagedAdd`:
[code]
If I stop at the  line ` if (sigInfo.GetCallConv() == pmCallConvCdecl)`, then I get following:
[code]

[2017-03-07 09:42] dpen2000 commented on #6250
Ah interesting. Thanks

[2017-03-07 09:42] #6250 closed

[2017-03-07 09:48] janvorli commented on #10001
@parjong this issue would also not exist if we used the FEATURE_FIXED_OUT_ARGS.
@seanshpark what is the current status of that change?

[2017-03-07 09:49] chunseoklee opened #10003 "Long CORECLR_GDBJIT env variable"
Current gdbjit feature seems not to support very long(>= 1024) CORECLR_GDBJIT variable(https://github.com/dotnet/coreclr/blob/master/src/vm/gdbjit.cpp#L1742).
Is there any reason to check max length of this env variable ?

[2017-03-07 09:49] chunseoklee commented on #10003
CC @kvochko @Dmitri-Botcharnikov

[2017-03-07 10:01] parjong commented on #10001
@janvorli I definitely agree with you. Enabling ``FEATURE_FIXED_OUT_ARGS`` is another solution.

[2017-03-07 10:04] Dmitri-Botcharnikov commented on #10003
@chunseoklee It was assumed that this variable holds the path of assembly to debug. However currently it holds list of assembly file names, so this check can be eliminated.

[2017-03-07 10:43] qmfrederik commented on #9946
@cydhaselton I think the best is to create a checklist of tasks that needs to be done to get .NET Core up and running for Android.

I think the next step is to get core-setup (and the muxer) up and running on Android. dotnet/core-setup#1648 implements that for ARM64 Linux, from there porting to Android should be similar with what we've done for CoreCLR and CoreFX.

My focus will be on ARM64 Linux

[2017-03-07 11:03] janvorli commented on #7845
Fixed by #9993

[2017-03-07 11:03] #7845 closed

[2017-03-07 11:07] chunseoklee commented on #10003
@Dmitri-Botcharnikov Thank you.

[2017-03-07 11:07] #10003 closed

[2017-03-07 11:09] lucenticus commented on #7845
@janvorli Thanks for fixing that!

[2017-03-07 12:01] janvorli commented on #9935
The UMThunkStub is called when calling from native to managed code, that means the pCallbackAddProc(n) above.
The target function of that callback is a jitted function and that means it uses the fastcall calling convention and that means its argument is in ecx.
The UMThunkStub needs to translate the call parameter from the native caller that is on stack to the managed function argument that is in

[2017-03-07 12:20] lucenticus commented on #9935
@janvorli Thanks a lot for very detailed explanation, now the issue is clear for me:) I'll try to change reverse pinvoke to use cdecl convention and remove m_cbRetPop stuff.

[2017-03-07 12:43] janvorli commented on #3939
CI tests just hit failure in GC\Regressions\v2.0-rtm\544701 in the x64 windows build:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/debug_windows_nt_prtest/3751/testReport/junit/GC_Regressions/_v2_0_rtm_544701_544701_544701_/_v2_0_rtm_544701_544701_544701_cmd/

[2017-03-07 12:52] buybackoff commented on #5851
@KrzysztofCwalina `Memory<T>` has a [public property](https://github.com/dotnet/corefxlab/blob/master/src/System.Slices/System/Buffers/Memory.cs#L61) of a type `Span<T>`. If `Span<T>` is not supposed to work (at least initially) from F# (as @davidfowl said above), how `Memory<T>` will work? Or it will work just fine if I do not touch that property from code?

[2017-03-07 13:28] cydhaselton commented on #9946
@qmfrederik I think setting up a new issue in core-setup with a checklist of tasks, like the one for [dotnet/core-setup#725](https://github.com/dotnet/core-setup/issues/725) would be the way to go.  I'll create a placeholder and update with the necessary tasks when I've got time.

[2017-03-07 14:45] masonwheeler commented on #9946
This is great news, but what's the status on 32-bit?  A lot of ARM Android devices are still 32-bit only, so I'm kind of surprised to see the ARM64 version reach this milestone first...

[2017-03-07 14:49] qmfrederik commented on #9946
@masonwheeler #9961 tracks the work for ARM Android.

[2017-03-07 15:07] masonwheeler commented on #9946
@qmfrederik So once that's merged... then what?  Will it be on the same level as 64-bit?

[2017-03-07 15:09] jkotas commented on #9935
This is just changing the default. You can override the default in DllImportAttribute for PInvoke, UnmanagedFunctionPointerAttribute for reverse PInvoke.

Does Mono respect the overridden default on Linux x86? If it does, I think we should respect it too.

[2017-03-07 15:17] KrzysztofCwalina commented on #5851
@davidfowl did not say that Span<T> will not work in F#. Today, C# does not implement these checks either, and Span works in C#. The checks just make it easier for the programmer using it to use it correctly. In the absence of the checks, the runtime will throw at runtime.

[2017-03-07 15:24] gkhanna79 commented on #3939
Moved this to 2.0.0 @adityamandaleeka since we need to get these cleaned up for that release.

[2017-03-07 15:41] qmfrederik commented on #9946
Pretty much, yes. The OS porting aspect is the same for arm64 and arm, so things should just work.

Cross-building for arm still needs to be enabled for corefx; the changes required over there should be very similar to #9961.

Out of curiosity, what do you plan to use .NET Core on Android for?

[2017-03-07 16:04] janvorli commented on #9935
I didn't know that the reverse PInvoke calling convention can be modified. I got mislead by the Marshal.GetFunctionPointerForDelegate MSDN doc that says "The delegate d is converted to a function pointer that can be passed to unmanaged code using the **__stdcall** calling convention." That made me think that it is not configurable for any reverse pinvoke cases.

[2017-03-07 16:17] pgavlin commented on #6998
I think that the real question here is "do we need to maintain last use information during decomp/lowering/etc.". Thankfully, the answer is "no": this information will be recomputed during liveness for LSRA, which runs after decomp and lowering. We do need to make sure that we do not invalidate this information in TreeNodeInfoInit, however, as that currently runs after liveness (although at the mo

[2017-03-07 16:17] #6998 closed

[2017-03-07 16:31] masonwheeler commented on #9946
@qmfrederik Sort of playing a long game here, but I'm building a game engine and I'd like to be able to have it work for Android as well as Windows.

[2017-03-07 16:45] janvorli commented on #9935
@jkotas so if we would want to enable the stdcall calling convention in the UMThunkStub, it is not clear to me where to get the actual size of arguments that the native caller pushed on stack when calling the managed callback. The UMThunkMarshInfo::m_cbActualArgSize based on what @lucenticus has seen while debugging reflects the size of the stack arguments of the target managed function instead of

[2017-03-07 17:00] Pilchie commented on #7134
This should be filed internally against the UWP tools team.

[2017-03-07 17:05] qmfrederik commented on #9946
@masonwheeler Sounds exciting! Just to set expectations right, with what we've done so far, you can run .NET Core console applications on Android.

To the best of my knowledge, apps in Android (so .apk files) always start as Java processes. You can inject native (C) code in that process via JNI - I guess that would be a way to inject .NET/C# code in that process but that requires additional work.

[2017-03-07 17:08] weshaggard commented on #9939
Do you actually think we will be able to make these all agree? While I think that is a good goal it will require merging most of S.Private.Interop into S.P.CoreLib on CoreRT as well. Also if we plan to do that we will need to address the difference in public key tokens. I intentionally made the key different (CoreCLR has SL key and CoreRT has MSFT key).

[2017-03-07 17:16] jkotas commented on #9935
It does have the size for the NATIVE signature for the internal CLR calling convention. To get the size for the stdcall/cdecl calling convention, we need to adjust it by amount passed in the registers.

This loop is computing how many arguments are passed in registers https://github.com/dotnet/coreclr/blob/51e968b013e9b1582035f202e004ed024f747f4f/src/vm/dllimportcallback.cpp#L1385 . I am wondering

[2017-03-07 17:32] janvorli commented on #9935
I think we can do that easily. I was just thinking that we have it available somewhere already.
@lucenticus could you please modify the code so that the m_cbRetPop is enlarged by the size of the registers used if the calling convention is stdcall (numRegistersUsed * STACK_ELEM_SIZE)?
That way, we would be able to support both stdcall and cdecl calling conventions. The UMThunkStub would stay unchan

[2017-03-07 17:44] jkotas commented on #9939
It would be a chunk of work. I think it is doable. We are slowly getting them to agree as part of other work. They are certainly closer than what we had 1 or 2 years ago.

If we do not think it is worth spending time on it, we can just let them disagree accross runtimes and OSes and setup the engineering system around it (e.g. have separate internal CoreCLR targeting pack for Windows and Unix).

O

[2017-03-07 17:45] masonwheeler commented on #9946
@qmfrederik You talk about the Java app -> .NET app process as if it were something that's not working yet.  So what's the mechanism by which you're running console apps?

[2017-03-07 17:47] qmfrederik commented on #9946
You can use `adb shell` to open a terminal (bash) session on an Android device. That gives you a normal busybox/bash shell in which you can run console apps.
Alternatively, you can use Termux, like @cydhaselton is doing.

[2017-03-07 17:49] cydhaselton commented on #9946
At some point, probably after core-setup work is close to completion, documentation should be added that specifies the conditions for which .NET Core will run on Android.

[2017-03-07 18:08] mikem8361 commented on #7653
If there is no actual problem, I rather not make any changes.

[2017-03-07 18:13] mikem8361 commented on #5354
I'm closing this issue.

[2017-03-07 18:13] #5354 closed

[2017-03-07 18:52] jkotas commented on #9970
I assume that this can be closed now.

[2017-03-07 18:52] #9970 closed

[2017-03-07 19:02] gkhanna79 commented on #7134
@Pilchie Can you please file an issue internally and close this one?

[2017-03-07 19:06] RussKeldorph commented on #5665
I was wrong about the trigger.  dotnet-bot help makes this clear.

[2017-03-07 19:06] #5665 closed

[2017-03-07 19:07] RussKeldorph commented on #6129
Do while you're in there for TailcallStress

[2017-03-07 19:07] RussKeldorph opened #10004 "Add TailcallStress jobs to CI"

[2017-03-07 19:24] RussKeldorph commented on #8322
Also make sure we support [Runtime Configuration File](https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/specs/runtime-configuration-file.md) for this setting and open a new issue if we don't.

[2017-03-07 19:34] gkhanna79 commented on #7134
Filed an internal issue and closing this.

[2017-03-07 19:34] #7134 closed

[2017-03-07 19:52] mikedn commented on #5135
@BruceForstall @RussKeldorph In case you missed it I have a PR opened for this.

[2017-03-07 19:58] brianrob commented on #6503
Yes, we have a benchmark harness called xunit.performance that you should be able to use, though it doesn't look like it will work on mono until 2.0 based on https://docs.microsoft.com/en-us/dotnet/articles/standard/library.

@DrewScoggins can you please point @wateret to instructions on how to run the coreclr benchmarks manually?

[2017-03-07 20:29] MichaelSimons opened #10007 "CoreClr does not build with the latest lttng-ust-dev package available on Alpine"
If you try to build CoreClr on Alpine using the following Dockerfile it will fail.  This used to work as suggested in https://github.com/dotnet/coreclr/issues/917#issuecomment-263030347.  It looks like this is because lttng-ust-dev is currently at version 2.9.0-r0.  It works if you use lttng-ust-2.8.1-r0 (built from source).  2.8.1-r0 no longer appears to be available from https://dl-cdn.alpinelin

[2017-03-07 20:35] RussKeldorph commented on #5135
@mikedn I did!  Thanks!

[2017-03-07 20:38] janvorli commented on #10007
@MichaelSimons I'll take a look.

[2017-03-07 21:36] BruceForstall commented on #8322
@RussKeldorph it's already supported, using syntax like (and maybe the syntax has changed):
[code]

[2017-03-07 22:42] pgavlin commented on #7256
Liveness is definitely still broken here.

The fundamental issue is that liveness and LSRA use different orderings for lclVar uses: liveness considers a use of a lclVar to occur at the point at which the corresponding `GT_LCL_VAR` node appears in code order, while LSRA (correctly) considers a use of a lclVar to occur at the node that uses the `GT_LCL_VAR` node. This is further complicated by the p

[2017-03-07 23:11] jreumuth commented on #8005
Yes @gkhanna79. Ideally simply rethrowing an exception would do what ExceptionDispatchInfo.Capture(ex).Throw() does, but I guess this can't be changed due to backwards compatibility reasons.

[2017-03-07 23:11] #8005 closed

[2017-03-07 23:19] RussKeldorph commented on #9944
Two other suggestions:
- Remove the requirement of having a CoreFx build on Windows (no longer required); probably related to @pkukol's comment.
- (optional) Provide instructions for pulling coreclr/test and corefx binaries from the CI rather than enlisting and building (esp. on Windows).

[2017-03-07 23:29] seanshpark opened #10012 "[x86/Linux] Enable FEATURE_FIXED_OUT_ARGS"
I'd like to add this issue for `FEATURE_FIXED_OUT_ARGS` enabling on x86 Linux.
Currently there exist several stack alignment issues as ESP is changed while making a call.

With discussion with @parjong, we can do as these steps;
1. Use `FEATURE_FIXED_OUT_ARGS` directive to split or insert to current code
2. Turn on `FEATURE_FIXED_OUT_ARGS` locally for development and testing
3. Send PRs one by one

[2017-03-07 23:42] janvorli commented on #10012
@seanshpark thank you for sharing your plan.
As for #3, I would prefer to have one PR that would contain all the logical changes, each change being a separate commit. It would be very difficult to keep track of all the changes that were made if they were separate PRs and it would make my reasoning about them during code reviewing very difficult.
As for #4, I am not sure what that means, can you pl

[2017-03-07 23:56] parjong commented on #10012
@janvorli As this is a kind of ABI (contract between VM and JIT), we need to modify both VM and JIT all at once.

For example, unwinder need to be changed according to ``FEATURE_FIXED_OUT_ARGS``, but ``FEATURE_FIXED_OUT_ARGS`` is defined only in JIT, and thus we currently have to use some indirect approach (such as using _TARGET_X86_).

Item 4 is a plan to introduce a global macro that affects bot

[2017-03-08 00:08] brianrob commented on #9851
@goldshtn, the issue here is that this filter is specific to EventSource events only.  There are two types of events that end up in LTTng traces:

(1) EventSource events
(2) Runtime events (emitted by the runtime itself)

The filter only applies to (1) because (2) can be filtered using LTTng's filtering mechanism.  Perfcollect right now enables all LTTng events coming out of the runtime which is w

[2017-03-08 00:12] seanshpark commented on #9706
@gkhanna79 , is there any problem that I could help?

[2017-03-08 00:31] sivarv commented on #8626
@BruceForstall  agreed to add this leg as well as part of adding tailcallstres leg.

[2017-03-08 00:46] parjong commented on #9935
@lucenticus @janvorli @jkotas NativeCallbeTest does not fall into segfault with #10014, but it terminates with exitcode 0.

[2017-03-08 00:49] parjong commented on #9935
I guessed that ``[NativeCallable]`` attribute will enforce JIT to use the default P/Invoke calling convention even for managed code, and revised test accordingly.

Could you let me know if there is something wrong?

[2017-03-08 00:59] brianrob commented on #6501
cc: @valenis

[2017-03-08 01:01] BruceForstall opened #10015 "RyuJIT/x86: REGMASK_BITS should be 16 for x86, not 32"
regMaskSmall can be 16 bits, not 32, for RyuJIT/x86.

[2017-03-08 01:16] janvorli commented on #9935
@parjong you can see what the calling convention for the managed function in the NativeCallableTest is. Like @lucenticus has shown above - set a breakpoint at the `if (sigInfo.GetCallConv() == pmCallConvCdecl)`, then print the sigInfo.GetCallConv().
Maybe the calling convention is ok, but we are just screwing the return value somewhere. It would be interesting to see what gets passed to the  nativ

[2017-03-08 01:24] noahfalk commented on #7653
@Dmitry-Me we'd be glad to review a PR if you want to submit one

[2017-03-08 01:26] parjong commented on #9935
It looks like that the managed code uses ``CDECL``:
[code]

[2017-03-08 01:35] gkhanna79 commented on #9706
@BruceForstall can let you know @seanshpark :)

[2017-03-08 01:38] sivarv opened #10019 "Recursive Promotion of structs containing fields of structs with a single pointer-sized field"
The current implementation lies about the type of struct field as the type of its underlying scalar field.  Because of which, in some cases it could lead to an IR where either RHS or LHS of copyblk asg is a scalar type var.  These cases has following limitations

1.   LHS is a scalar local var.  This will be marked as DoNotEnregister by fgMorphCopyblk
2.  RHS is a scalar local var.  AssertionProp

[2017-03-08 01:44] janvorli commented on #9935
Which is correct, since the test is also expecting the callback to be cdecl.

[2017-03-08 02:20] adityamandaleeka commented on #8321
I just ran into a similar issue, but in this case, the time it slept for was slightly less than expected:
[code]
https://ci.dot.net/job/dotnet_coreclr/job/master/job/debug_centos7.1_prtest/3695/testReport/junit/threading/SleepEx/test1/

[2017-03-08 03:47] adityamandaleeka opened #10022 "JIT/Methodical/Boxing/misc/concurgc.il failing in CI with a timeout"
Hit this on a PR I opened, and saw that it also happened on another recent job. Here are the two instances:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/x86_checked_windows_nt_prtest/3373/
https://ci.dot.net/job/dotnet_coreclr/job/master/job/x86_checked_windows_nt_prtest/3369/

[code]

[2017-03-08 03:57] parjong opened #10025 "[x86/Linux] JIT.Regression.CLR-x86-JIT.V1-M12-Beta2.b52840 test failure"
``JIT.Regression.CLR-x86-JIT.V1-M12-Beta2.b52840`` test failed as follows:
[code]

[2017-03-08 04:13] ragmani commented on #9976
Thank you for your kind explanation.

[2017-03-08 04:19] ragmani commented on #9976
@parjong This PR is associated with #9976.

[2017-03-08 05:17] wateret opened #10027 "[x86/Linux] HFA tests failure"
Failed Tests

 - JIT/jit64/hfa/main/testE/hfa_nd2E_r/hfa_nd2E_r.sh
 - JIT/jit64/hfa/main/testE/hfa_nf2E_d/hfa_nf2E_d.sh
 - JIT/jit64/hfa/main/testE/hfa_nf2E_r/hfa_nf2E_r.sh
 - JIT/jit64/hfa/main/testE/hfa_sd2E_d/hfa_sd2E_d.sh
 - JIT/jit64/hfa/main/testE/hfa_sd2E_r/hfa_sd2E_r.sh
 -  JIT/jit64/hfa/main/testE/hfa_sf2E_d/hfa_sf2E_d.sh
 - JIT/jit64/hfa/main/testE/hfa_sf2E_r/hfa_sf2E_r.sh
 - JIT/jit64/h

[2017-03-08 05:21] wateret commented on #10027
About calling convention

As far as I understand default calling convention for JITd(managed) method is:

* ECX, EDX for first and second argument
* more arguments are pushed onto stack.

However it looks unfamiliar to me when there is a RetBuf argument in (static) method:

* ECX for RetBuf
* arguments other than RetBuf are pushed onto stack (EDX unused)

It works fine for managed code but fails w

[2017-03-08 05:26] myungjoo commented on #6023
Dotnet/Coreclr is already mature enough to have various build-specifications for various Linux distros although many of they might not be "official".

It'd be natural to have "dist" directory and put some related (e.g., RPM *.spec files for Tizen, Redhat, Fedora, openSUSE, and so on, deb building files for Debian and Ubuntu) and maintain (or at least just keep them) them here.

Such "RPM spec" or

[2017-03-08 08:13] AndyAyersMS opened #10031 "Span<T> methods may not inline when called from shared methods"
Several of `Span<T>`'s methods invoke methods on other generic classes, eg `ByReference<T>` or `Unsafe<T>`. If the span methods are in turn invoked from a method where `T` requires runtime lookup, this need for runtime lookup passes transitively to generic callees made by the span method. Unfortunately this transitive need blocks inlining of the span methods as CoreCLR is not able to support inlin

[2017-03-08 08:24] elw00d commented on #8237
You are absolutely right ! Thank you very much !

[2017-03-08 08:24] #8237 closed

[2017-03-08 09:42] janvorli opened #10033 "gdbjit.cpp is inconsistent in using new and new (nothrow)"
There are about 40 usages of new (nothrow) and about 14 throwing news without any particular reason. We should unify it.

[2017-03-08 09:46] janvorli commented on #10033
cc: @lucenticus, @ayuckhulk, @kvochko, @Dmitri-Botcharnikov

[2017-03-08 10:33] janvorli commented on #10027
@wateret

This is not correct. The correct statement is ECX and EDX for the first two arguments that can be passed in registers. So, if you have a managed function void fn(long a, int b, long c, int d), the first argument is passed on stack, the second in ECX, the third on stack and the fourth in EDX.

[2017-03-08 10:39] wateret commented on #10027
@janvorli Thank you. It explains "EDX unused case" since float arguments cannot be passed via registers.

[2017-03-08 10:44] wateret commented on #10027
It turns out that only `identity_HFA01` and `identity_HFA02` are problematic. HFA structs bigger than them work fine.

[Definition of struct HFA01 and HFA02](https://github.com/dotnet/coreclr/blob/master/tests/src/JIT/jit64/hfa/main/dll/hfa_common.cs#L115-L125)

[Identity_HFA** function definition](https://github.com/dotnet/coreclr/blob/master/tests/src/JIT/jit64/hfa/main/dll/hfa_native.cpp#L117-L

[2017-03-08 10:50] janvorli commented on #10027
@wateret just a little correction to what you've said:

In our case, we are not passing a float, but a struct containing a float. But the effect is the same.

[2017-03-08 12:17] masonwheeler commented on #9946
@cydhaselton How does Xamarin do it?  I figure it has to have some Java Activity that it includes in your project whose job it is to start the CLR as an NDK call and call into it, but I don't know where the file for that is in the Xamarin install, to have a look at it.

[2017-03-08 12:18] hqueue commented on #6388
@kvohko I see. Do you have plan to fix this ?

[2017-03-08 12:44] qmfrederik commented on #9946
@masonwheeler I think you are looking for this: https://github.com/xamarin/xamarin-android/blob/master/src/monodroid/jni/monodroid-glue.c

[2017-03-08 13:20] masonwheeler commented on #9946
@qmfrederik That looks more like a runtime library, really.  What I'm really looking for is something like this: http://hg.libsdl.org/SDL/file/a364af650bf1/android-project/src/org/libsdl/app/SDLActivity.java

This is how SDL does the equivalent task: it provides an Activity in Java that sets up SDL and invokes your code by an NDK call.

[2017-03-08 15:10] ritasker commented on #7030
At the time would have been on `1.0.0-preview2-003131`. There are no steps to reproduce as I was reading some documentation at the time and there was nothing running / debugging.

[2017-03-08 15:19] gkhanna79 commented on #7030
@ritasker Please let me know if you have concerns closing this issue until there is a repro available.

[2017-03-08 15:21] ritasker commented on #7030
No concerns here, you can close this.

[2017-03-08 15:27] janvorli commented on #10007
@MichaelSimons FYI, I've tried to build docker image from the docker file you've provided above, but docker complains:
`Error: image library/sha256:7d23b3ca3463ae7d682961a1a07c1ec96d51fbbae90bef79207fad7385d4cb1e not found`
Replacing the sha:xxxxx with alpine:3.4 allowed me to build the image.

I can repro the problem, but it seems it is problem of the liblttng-ust.so itself and not ours. Just che

[2017-03-08 15:32] #7030 closed

[2017-03-08 15:46] MichaelSimons commented on #10007
@janvorli, sorry about the FROM syntax error, FWIW 'FROM alpine@sha256:02eb5cfe4b721495135728ab4aea87418fd4edbfbf83612130a81191f0b2aae3' should work.

[2017-03-08 15:49] janvorli commented on #10007
I have reported that to Alpine as a bug

[2017-03-08 15:49] janvorli commented on #10007
https://bugs.alpinelinux.org/issues/6989

[2017-03-08 16:13] bartstinson opened #10035 "dll reference support in .NET Core projects"
Hello,

It's my understanding that prior VS 2017, it was impossible to add other .NET Core dll references to .NET Core projects without bundling the dependency in a NuGet package. In VS 2017, I see that the option to add dll references using the IDE but when I run it, the program fails to find the dependent dlls. Is the adding of dll references really now supported in VS 2017 for .NET Core project

[2017-03-08 17:08] danmosemsft commented on #10035
I'm not sure where this goes, but I"ll move it to CLI who can put it right.

[2017-03-08 17:08] #10035 closed

[2017-03-08 17:08] danmosemsft commented on #10035
Issue moved to [dotnet/cli #5954](https://github.com/dotnet/cli/issues/5954) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-08 17:11] danmosemsft commented on #9912
@gkhanna79 I was wondering htis myself actually.

[2017-03-08 17:18] Gentlehag opened #10037 ".net Core App 1.1 doesn't resolve file linked .net standard libs"
I had a project in .net core 1.0 which is refrencen a standard 1.4 library. this works fine.

No i tried to switch to .net core 1.1 an I get AssemblyNotFoundExceptions.

To isolate the problem I tested the same thing by creating a new project  with the released VS2017

Fir this I created a solution with 2 projects.  A .net core 1.1 host (console) and a .net standard 1.4 class library.

I changed t

[2017-03-08 17:30] gkhanna79 commented on #9912
Correct - this is the point I raised over email as well.

[2017-03-08 17:40] gkhanna79 commented on #10022
CC @RussKeldorph

[2017-03-08 17:49] gkhanna79 commented on #10037
@Gentlehag If you set Microsoft.NETCore.DotNetHostPolicy.SetAppPaths to true in your runtimeconfig.json, then does the application work?

[2017-03-08 18:05] eerhardt commented on #10037
I'm investigating.

[2017-03-08 18:09] eerhardt commented on #10037
@Gentlehag - which version of the SDK are you using?  I did the following:

[code]

I tried with both

[code]

and

[code]

And they both run fine (prints "Hello World!").

[2017-03-08 18:16] #9983 closed

[2017-03-08 18:20] #8626 closed

[2017-03-08 18:45] eerhardt commented on #10037
Looking into this a bit deeper (which I was able to do since you commited the `bin` and `obj` directories to git 😀), the runtime error is caused by the [deps.json file](https://github.com/Gentlehag/coreapp11bug/blob/master/ConsoleApp1/bin/Debug/netcoreapp1.1/ConsoleApp1.deps.json) not listing `Service.dll` in it.

The reason it doesn't show up in this deps.json file is because it is not listed as

[2017-03-08 19:04] #9969 closed

[2017-03-08 19:34] AlexHankins opened #10042 "FindSystemTimeZoneById doesn't support "Eastern Standard Time" on Ubuntu"
Method:  System.TimeZoneInfo.FindSystemTimeZoneById

According to [Time Zone IDs (Compact 2013)](https://msdn.microsoft.com/en-us/library/gg154758.aspx), this method would accept `"Eastern Standard Time"` as a parameter.  However, on Ubuntu 16.04, this fails with `System.TimeZoneNotFoundException: The time zone ID 'Eastern Standard Time' was not found on the local computer. ---> System.IO.FileNotF

[2017-03-08 19:58] Gentlehag commented on #10037
I made some further tests. it seems to work "sometimes" .
It has the biggest change to fail when i make the reference to a fail not to a project.
Also after having run dotnet restore and dotnet run the error disappeared in this solution

my Visual studio version is :

Microsoft Visual Studio Professional 2017
Version 15.0.26228.4 D15RTWSVC
Microsoft .NET Framework
Version 4.6.01586

Installed Vers

[2017-03-08 20:03] Gentlehag commented on #10037
Ok Summarized: It failes 100% in my tests when  both are true
* starting from within vs 2017 with  F5
*  the reference is set to a .net standard file ( not project reference)

[2017-03-08 20:56] janvorli commented on #7376
Fixed by #9990

[2017-03-08 20:56] #7376 closed

[2017-03-08 21:55] gkhanna79 commented on #10042
Issue moved to [dotnet/corefx #16871](https://github.com/dotnet/corefx/issues/16871) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-08 21:55] #10042 closed

[2017-03-08 22:02] gkhanna79 commented on #10037
@eerhardt Is there a more appropriate repo to move this issue to for the right folks to drive it further?

[2017-03-08 22:12] eerhardt commented on #10037
At this point, I'd say https://github.com/nuget/home.  NuGet isn't writing the correct information into the project.assets.json file.

[2017-03-08 22:47] janvorli commented on #8480
@kouvel I think that running `paxctl -c -r` at build time on the corerun, dotnet and coreconsole could be a good solution.

[2017-03-08 23:04] gkhanna79 commented on #10037
Closing the issue in favor of https://github.com/NuGet/Home/issues/4772

[2017-03-09 00:24] parjong commented on #9265
Here is the recent result ([XML](https://github.com/dotnet/coreclr/files/829342/coreclrtests.xml.txt)) from cf7d6d92484:
[code]

[2017-03-09 00:34] austinoneil opened #10046 "[Feature] Customizeable expansion factor for ArrayList"
Currently, the expansion factor is 2.  That is a good expansion factor (in fact, I'd bet that it's used in most languages), but there are languages/runtimes with an expansion factor of 1.5 (e.g. Sun's JDK 6).  This may be useful to give the programmer more direct control over an ArrayList that grows rather quickly (or slowly, but memory is a constraint).

[2017-03-09 00:41] BruceForstall commented on #6129
Fixed with #10013

[2017-03-09 00:41] #6129 closed

[2017-03-09 00:42] BruceForstall commented on #10004
Fixed with #10013

[2017-03-09 00:42] #10004 closed

[2017-03-09 00:47] BruceForstall opened #10047 "RyuJIT: tail call stress assert in importer on Linux"
With `COMPlus_TailcallStress=1`, on non-Windows (Ubuntu, Mac, CentOS), the following assertion fires:
[code]

in test JIT/SIMD/SqrtGeneric_r/SqrtGeneric_r.sh

You can trigger these with:
[code]

[2017-03-09 00:48] BruceForstall commented on #10047
@AndyAyersMS : @sivarv said you recent touched code in this area. Perhaps that is at fault? Want to investigate? (I don't know if this is a regression or not)

[2017-03-09 00:48] jkotas commented on #8480
We are fixing the hard dependencies on being able to allocate memory in given region for other reasons (#9883, #9994, more to come). It would be better to get that work finished instead of marking CoreCLR as incompatible with this security measure.

Yes, it means that code may be slower here and there when this security measure is enabled. Security measures tend do cost some perf.

[2017-03-09 00:52] BruceForstall opened #10048 "corefx test failure with jitstressregs: assert in CoreCLR from dotnet.exe"
[code]

For instance:
[code]

[2017-03-09 00:53] BruceForstall commented on #10048
@RussKeldorph : @sivarv said you'd seen this before. Did anyone verify it works without JitStressRegs?

[2017-03-09 00:54] JosephTremoulet opened #10049 "JIT: improve aliasing model for implicit-by-ref struct passing"
There are cases on both ARM64 and Windows x64 where the calling convention dictates that a struct which is passed by value at source be passed by reference (after making a copy in the caller's frame) in the generated code.  Today we do this rewrite in the importer, and the callee's view of such parameters is the same as normal byrefs.  This inhibits promoting these structs, removing redundant load

[2017-03-09 00:54] JosephTremoulet opened #10050 "JIT: recognize/optimize Span<T> bounds checks more like array bounds checks"
Array bounds checks are inserted by the jit at ldelem operations, and internally we use the `GenTreeBoundsChk` operator to represent them.  This operator may raise an exception and so has exceptional flow, but not normal flow (doesn't split blocks).  Span<T> bounds checks, by contrast, are user-written compare/branch/throw sequences.  It would be handy to shape the span bound check IR more like th

[2017-03-09 00:54] JosephTremoulet opened #10051 "JIT: better optimization for CORINFO_HELP_RUNTIMEHANDLE_METHOD"
This helper depends on the (exact) type of the object passed to it, not the contents/fields of that objects.  Since an object's type is initialized anywhere the object pointer is available and is immutable for the lifetime of the object, we should therefore be able to give this helper call a value number that is a function of the pointer argument, rather than the memory the argument points to, and

[2017-03-09 01:23] AndyAyersMS commented on #10047
Seems likely it was my change #9405 which identifies implicit tail call candidates from inlined code. A quick look at the code makes me wonder if it is a stress mode only bug -- a stress-mode specific update may be missing for the new cases.

Will take a look, though it may be a few days before I get around to it.

[2017-03-09 01:45] DrewScoggins opened #10052 "Add back calls to GetTypeInfo in Span<T> tests"
I had to remove the calls to GetTypeInfo in the Span perf tests.  This was because the call to GetTypeInfo was ambiguous between the real location in System.Reflection and in the newly added TraceEvent library.  Luckily, we never end up using the call to GetTypeInfo so for now I have commented out the code, so that we can go ahead and check in the xunit performance changes.

[2017-03-09 03:51] tannergooding opened #10056 "Most recent build tools update broke support for building on VS2017"
The following commit broke support for building on VS2017: 8f23fca0ff57c97707d4f6b5068e8044d2dcc13c. Note: The support for building on VS2017 was validated before the commit, but was actually merged just after the aforementioned was merged.

The failure resembles the following:

rted by the "Csc" task. Verify the parameter exists on the task, and it is a settable public instance property. [D:\
cor

[2017-03-09 03:52] tannergooding commented on #10056
@chcosta, @gkhanna79

[2017-03-09 03:53] tannergooding commented on #10056
Also FYI. @agocke, @jaredpar from the Roslyn Compiler Team, as they may be able to assist in the diagnosis.

[2017-03-09 05:31] emgarten commented on #10037
Based on this it sounds like a direct reference issue:

Create .net core 1.1 console app and file reference a .net standard (1.4 /1.6) assembly

Using for ConsoleApp1:

[code]

I see:
[code]

On the project.assets.json differences:

@Gentlehag can you provide more details on why the project.assets.json files checked into the repro have different results than what I see locally when running? It loo

[2017-03-09 05:37] mikedn commented on #10046
This might be nice but it comes at a cost: the expansion factor needs to be stored in the list object so the list object becomes bigger (by 8 bytes on 64 bit).

And while It's true that there are implementations that use 1.5 instead of 2 I'm not sure there are any implementations that make the expansion factor customizable. Not even C++`s `std::vector` despite the fact that C++ has means to implem

[2017-03-09 05:52] mikedn commented on #10050
How would the index method parameter be identified? Assumed to be the first/single `int` parameter? This attribute based solution sounds interesting (though perhaps over complicated) as it may apply to `Slice(int start)` as well. But Slice has an `(int start, int length)` overload, I wonder what, if anything, should be done about that.

[2017-03-09 06:46] Gentlehag commented on #10037
I'm not sure where this offset comes from. But i think thats another issue. The easiest way to reproduce the bug is with a single .net core solution which only has a file reference to an existing .net standard library dll.

So this way:
* In VS2017 : Create new .net core 1.1 Project
* Add a File Reference to a existing  .net standard library dll
* Compile and Rund (F5)

In this case the exception

[2017-03-09 07:42] Gentlehag commented on #10037
to avoid misconceptions i made a short screencast

 https://www.youtube.com/watch?v=08uMd5wSyXc

[2017-03-09 07:58] wateret commented on #10027
For the case of calling `Identity_HFA02`:

Let's say the calling conventions
* A : ECX and EDX for the first two arguments that can be passed in registers, others via stack
* B : All arguments passed via stack (native code expects B)

Here's what I think, since the structs bigger than HFA02 works `to-be` way.

[code]

[2017-03-09 08:40] tmds commented on #9210
@Petermarcu shall I close this issue and open one in docs to improve the documentation on what RID to use?

[2017-03-09 08:41] Petermarcu commented on #9210
That sounds good.

[2017-03-09 08:47] wateret commented on #10027
To summary the analysis so far, the error occurs when P/Invoke to a native function that has RetBuf argument and the struct size is less than 8 bytes.

[BOOL IsUnmanagedValueTypeReturnedByRef(UINT sizeofvaluetype)](https://github.com/dotnet/coreclr/blob/master/src/vm/i386/cgencpu.h#L482) looks suspicious.

[2017-03-09 08:54] OtherCrashOverride commented on #7375
The feature desired is analogous to the "Visual C++ for Linux Development" included in VS2017.  Instead of C++, it is desirable for C# (dotnet coreclr).
https://blogs.msdn.microsoft.com/vcblog/2016/03/30/visual-c-for-linux-development/

From within Visual Studio, the project is remote compiled (deployed) and debugged at the click of a button.  Remote server connections are seamlessly integrated in

[2017-03-09 09:17] tmds commented on #9210
Created https://github.com/dotnet/docs/issues/1693

[2017-03-09 09:17] #9210 closed

[2017-03-09 09:35] mattwarren commented on #6809
@Maoni0 thanks for the update.

[2017-03-09 09:38] #9976 closed

[2017-03-09 10:07] janvorli commented on #10027
@wateret I guess the IsUnmanagedValueTypeReturnedByRef is most likely the issue. It seems that for Unix x86, it should always return true.

[2017-03-09 10:25] parjong opened #10059 "[x86/Linux] JIT.Methodical.Invoke.deep._il_reldeep1 test failure"
CLR hits the following assert while running ``JIT.Methodical.Invoke.deep._il_reldeep1`` test:
[code]

[2017-03-09 10:26] parjong commented on #10059
Here is the stack trace and the value of interest when hitting the assert:
[code]

[2017-03-09 10:43] lucenticus commented on #9935
I'm sorry for late reply, I was out of office these days. I've just created PR to fix this issue.
Thanks a lot for your help!

[2017-03-09 10:53] parjong commented on #10059
@dotnet/jit-contrib Is it possible to call another function in the presence of the stack align padding for a function? I couldn't understand why this happens. The test passed when we ignore this assert failure.

[2017-03-09 13:38] janvorli commented on #8480
@jkotas actually, maybe that we are already there functionality-wise with the #9883 and #9994. The executable allocator is just a perf optimization, so if we fail to allocate memory for it, everything should still work, just with a large perf hit. See the #2205 description for details on the perf.

[2017-03-09 14:17] tmds commented on #8721
@jkotas @yizhang82 *ping*

[2017-03-09 16:02] eerhardt commented on #10037
Ok, this new information makes sense now.

Since this is a reference to an assembly on disk, that's why NuGet wasn't writing the information into the project.assets.json file, which is correct.

@Gentlehag, the .NET Core SDK v1.0 (Visual Studio 2017 RTM) doesn't support direct references to assemblies on disk. Basically the options that will give you success are either `<PackageReference>` or `<Pr

[2017-03-09 16:02] #10037 closed

[2017-03-09 16:05] Gentlehag commented on #10037
Well thats not exactly corret in .net core 1.0 it works. it only doesn't work in 1.1. @eerhardt  is that expected ?

Also it would be nice that the IDE wouldn't allow a feature that the clr is not supporting :-(

[2017-03-09 16:17] eerhardt commented on #10037
You are right. @gkhanna79 - is this expected?  The 1.1 host has become more restrictive and won't load assemblies that aren't in the `deps.json` file?  But the 1.0 host will happily load them?

Agreed.  This feature is coming in for 2.0, so it may not be worth changing the IDE now.  /cc @davkean

[2017-03-09 16:18] Gentlehag commented on #10037
ok. Thx for the detailed informations

[2017-03-09 16:47] gkhanna79 commented on #10048
@RussKeldorph I am labeling this Codegen for now. Please update it if you think this is not codegen related.

[2017-03-09 16:48] gkhanna79 commented on #10046
CC @danmosemsft

[2017-03-09 16:52] gkhanna79 commented on #10037
Yes, the host in 1.0.x had a bug that was fixed in 1.1.0 to only honor closure from deps.json.

[2017-03-09 16:55] RussKeldorph commented on #10048
@gkhanna79 This repros in the "baseline" job, i.e. no stress settings, so I'm inclined to assume it's not codegen-related.  https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_corefx_baseline/111/consoleText

[2017-03-09 17:11] gkhanna79 commented on #10048
@rahku PTAL.

[2017-03-09 17:21] jeremyBass opened #10062 "dotnet core 1.1.0 and net461 now gets System.IO.FileSystem System.TypeLoadException"
I hope this is  the right place for this issue.  I have been betting my head on the wall on this.

I will say that I have this on [stackoverflow](http://stackoverflow.com/q/42693085/746758) as well, but believe it may be helpful to have it logged here.  I realize there are a few other issues that seem related, but they are not 100% the same and I got no traction on a fix/workaround.

 I keep getti

[2017-03-09 17:44] gregg-miskelly commented on #7375
@OtherCrashOverride thanks! In this case you want the .NET Core project system team.

@Andrew-MSFT is there a place we can port this issue to?

[2017-03-09 17:56] Andrew-MSFT commented on #7375
@gregg-miskelly log issues against the .NET Core project system at https://github.com/dotnet/roslyn-project-system/issues

[2017-03-09 18:16] gkhanna79 commented on #10062
Issue moved to [dotnet/corefx #16913](https://github.com/dotnet/corefx/issues/16913) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-09 18:16] #10062 closed

[2017-03-09 18:17] gkhanna79 commented on #7055
@ntsekouras I am going to close the issue for now, due to lack of any details. Feel free to reopen when you have them or have followup questions.

[2017-03-09 18:17] #7055 closed

[2017-03-09 18:18] gkhanna79 commented on #7203
@KeyurRamoliya I am closing this issue for now. Once you have specific details for repro that @barrytang can use, please feel free to reopen the issue.

[2017-03-09 18:18] #7203 closed

[2017-03-09 18:19] gregg-miskelly commented on #7375
This issue was moved to dotnet/roslyn-project-system#1721

[2017-03-09 18:19] #7375 closed

[2017-03-09 18:20] gkhanna79 commented on #7655
Closing this issue for now as nothing appears actionable for the moment. Please feel free to reopen if there are followup questions.

[2017-03-09 18:20] #7655 closed

[2017-03-09 18:25] RussKeldorph commented on #10022
I've seen this time out in several x86 jobs but I can't repro locally.  Assuming it is a test issue, but worth at least cursory investigation.

[2017-03-09 18:29] pgavlin commented on #10022
Looking into it now.

[2017-03-09 18:42] chcosta commented on #10056
I can't repro this at the moment.  I don't get very far when trying to build in a VS2017 developer command prompt.

[code]

[2017-03-09 18:48] tannergooding commented on #10056
@chcosta, the Windows Build instructions (https://github.com/dotnet/coreclr/blob/master/Documentation/building/windows-instructions.md) were updated this morning to include the minimum install requirements for VS2017.

[2017-03-09 18:52] JosephTremoulet commented on #10050
Yes, that's what I was imagining, or `BoundsCheckedAttribute` could be parameterized by an `int parameterIndex`.

[2017-03-09 18:55] russellhadley commented on #9595
@ahsonkhan Is this complete?  Can we close?

[2017-03-09 19:12] sivarv commented on #7665
This work item is related to pushing spills to low cost basic blocks.

[2017-03-09 19:13] sivarv commented on #7609
Related work item https://github.com/dotnet/coreclr/issues/7665

[2017-03-09 19:14] sivarv commented on #7566
Relop Peep-hole optimization.

[2017-03-09 19:18] sivarv commented on #6355
This requires refactoring emitInsBinary() so that the functionality that belongs to codegen gets moved there.

[2017-03-09 19:20] sivarv commented on #6127
See definition of lsra.h::AllocateIfProfitable() that explicitly excludes refPositions marked as copyReg or MoveReg from being considered reg-optional.

[2017-03-09 19:23] jashook commented on #9457
These fail in R2R as well.

[2017-03-09 19:36] yizhang82 commented on #8721
@tmds I chatted with @jkotas @migueldeicaza yesterday about this. Right now we don't feel there is enough interest / evidence suggest that this is a common enough scenario to address at the moment. Adding a feature into the runtime has a non-trivial amount of cost - we need to make sure every runtime that supports netstandard has this feature (or fail properly if the feature isn't present), and th

[2017-03-09 20:15] tmds commented on #8721
This I can understand. I am only one guy asking for this, right?

Consider the new portable linux-x64 .NET Core linux build. It will work across a range of linux distros thanks to glibc symver. This is exactly what symver enables.

Now have another look at the list of libraries I put earlier in this thread. These are major libraries.
They are:
- exclude for pinvoke (you can only call the base vers

[2017-03-09 20:18] yizhang82 commented on #8721
That's a very interesting point. @gkhanna79 Do you think support symver would help porting CoreCLR to more linux distros?

[2017-03-09 20:26] tmds commented on #8721
.NET Core has native libraries. The linux-x64 build is compiled on RHEL 7 since that links it against the oldest version of glibc to be supported.

[2017-03-09 20:31] tmds commented on #8721
Being forced to the path of native libraries unfortunately also limits the architectures your package supports since you must build for all of them yourself.

[2017-03-09 20:36] ahsonkhan commented on #9595
I believe we can. However, the microbenchmarks only run against fast span and won't help with comparison of fast vs slow span.

@sivarv, when you opened the issue, did you have other microbenchmarks in mind other than those that bare-bones exercise the different APIs?

[2017-03-09 20:50] chcosta commented on #10056
Following those instructions has not affected my build result in any way. :(

[2017-03-09 20:53] tannergooding commented on #10056
Ah, I see. The version of CMAKE you have installed doesn't support VS2017. The instructions should probably explicitly call out whichever version added that support (not sure off the top of my head).

[2017-03-09 21:02] swgillespie commented on #9017
Updated list as of today:

[code]

[2017-03-09 21:05] tannergooding commented on #10056
Looks like 3.7.2 is the minimum required CMAKE version, which matches what the documentation says. Is that what version you are on @chcosta?

[2017-03-09 21:07] chcosta commented on #10056
My bad, I only got through the VS2017 section.  I'm on 3.6.1.  Perhaps you can add a note to the VS2017 section and explicitly call that out?

[2017-03-09 21:11] MichaelSimons commented on #9553
I rebuilt the docker images to include the [libcoreclrtraceptprovider.so](https://github.com/dotnet/coreclr/pull/9897#issuecomment-284487115) fix.  The new image tags are `ubuntu1404_cross_prereqs_v3` and `ubuntu1604_cross_prereqs_v3`

[2017-03-09 21:12] #9161 closed

[2017-03-09 21:14] gkhanna79 commented on #9553
Excellent - thank you @MichaelSimons!

[2017-03-09 21:34] jashook opened #10069 "[Arm64][R2R] [1-Failure] tests fail with Could not load type 'System.Runtime.CompilerServices.IsJitIntrinsic'"
Failing Test

<pre>
JIT/Directed/pinvoke/preemptive_cooperative/preemptive_cooperative.cmd
</pre>

Test Output

<pre>
Output: TEST_CMD_LINE: JIT\Directed\pinvoke\preemptive_cooperative> C:\Users\DDJOIN\arm64_ci\tests\JIT\Directed\pinvoke\preemptive_cooperative\preemptive_cooperative.cmd
BEGIN EXECUTION
" C:\Users\DDJOIN\arm64_ci\tests\Tests\Core_Root\crossgen.exe" /Platform_Assemblies_Paths C:\Use

[2017-03-09 21:36] jashook opened #10070 "[Arm64][GCStress 0x3] Test Failures"
Test Failures

<pre>
baseservices/compilerservices/dynamicobjectproperties/Dev10_535767/Dev10_535767.cmd
CoreMangLib/cti/system/gc/GCCollect/GCCollect.cmd
</pre>

Test Output

<pre>
Output: TEST_CMD_LINE: baseservices\compilerservices\dynamicobjectproperties\Dev10_535767> C:\Users\DDJOIN\arm64_ci\tests\baseservices\compilerservices\dynamicobjectproperties\Dev10_535767\Dev10_535767.cmd
BEGIN EXECUT

[2017-03-09 22:30] BruceForstall commented on #9932
This issue should be fixed, with #10045

[2017-03-09 22:30] #9932 closed

[2017-03-09 22:44] pgavlin commented on #10022
I can't repro this either, but I did notice that the test is not using volatile reads and writes where it should be. #10072 fixes those issues; once it's merged I plan to close this bug until it hits again.

[2017-03-09 22:48] chcosta commented on #10056
It looks like the MSBuild v15.0 toolset has defined `CSharpCoreTargetsPath` differently.

In MSBuild v14.0, Microsoft.CSharp.CurrentVersion.targets would import Microsoft.CSharp.Core.targets which was in the same directory.

[code]

In MSBuild v15.0, if `CSharpCoreTargetsPath` is not defined, then it looks in `RoslynToolPath`.

[code]

For us, this leads to a mismatch because the Roslyn path we us

[2017-03-09 22:57] tannergooding commented on #10056
@chcosta, I'm not familiar with the buildtools setup (it kind-of looks like we are manually doing a lot of MSBuild stuff, rather than just allowing the CompilerToolset to do it for us), but is there any reason why we can't modify the targets to check the VisualStudioVersion and set CSharpCoreTargetsPath if we are on VS2017?

[2017-03-09 22:59] chcosta commented on #10056
+ @weshaggard

[2017-03-09 23:03] chcosta commented on #10056
Also note, that I **didn't** actually look at what changed in BuildTools between the last update (around 1/9), and my change.  I only looked into the problem as it exists today.

[2017-03-09 23:05] lt72 commented on #8228
@rajkumar42: does this still repro?

[2017-03-09 23:31] sivarv commented on #9595
I filed this issue so that we check-in a two benchmarks for slice: one for that runs against fast span and another one that runs against slow span.  Looks like right now all Span benchmarks run against fast span.  We should have the same benchmarks compiled into separate exes that run against Slow span.

You can go ahead and close this issue and open a separate issue for adding benchmarks that run

[2017-03-09 23:38] lt72 commented on #8844
The hosting API seems the most flexible way to tackle this issue, although simply handling the failure gracefully could wok as well, and it would be easier to implement if there are no negative ramifications.

[2017-03-10 00:12] mikem8361 commented on #6209
@stephentoub I'm don't understand what exactly needs to be done to the implementation.  Are those extra call sites really a (perf) problem?

@Jiayili1 what tests were disabled?  This doesn't sound like an actual bug; more like a perf problem.

[2017-03-10 00:26] #7256 closed

[2017-03-10 00:35] stephentoub commented on #6209
@mikem8361, my concern isn't perf: it's usability, and that the resulting trace you get shows extra, unnecessary gook.

[2017-03-10 00:38] stephentoub commented on #6209
https://github.com/dotnet/corefx/blob/124af1ea2f3e42736e81dae6b36c91f800108f2d/src/System.Diagnostics.TraceSource/tests/TraceEventCacheClassTests.cs#L60

[2017-03-10 00:43] jamesqo commented on #8104
@mellinoe Regarding your earlier comment, I was planning to have a duplicate version of the types in corelib rather than moving the actual `Vector` types, as @jkotas mentioned. The copies in corefx will be untouched/independent of the coreclr versions.

@jkotas It is very likely worth doing since vectorization can help with quite a lot of the string functions, e.g. `Equals`, `Compare`, `Replace`,

[2017-03-10 01:04] adityamandaleeka opened #10076 "JIT\Methodical\tailcall_v4\hijacking failed in CI"
Just hit this on one of my PRs. It looks like this isn't a JIT issue, but a test/infrastructure issue. If I'm reading this output correctly, the test passed, but perhaps took longer than expected, so the harness thinks it timed out.

https://ci.dot.net/job/dotnet_coreclr/job/master/job/debug_windows_nt_prtest/3876/
[code]

[2017-03-10 01:10] RussKeldorph opened #10077 "[CoreFx:System.Net.Sockets.Tests] BCL Assert at System.ArraySegment`1.get_Array()"
dotnet/corefx@4451feeeda61ddd558a9d45d6320f50540c2693f
3b36244d78c244b137205b8e81be7346600e7c81

CoreCLR x64 Checked
python tests\scripts\run-corefx-tests.py -build_type Checked

[code]

[2017-03-10 01:13] RussKeldorph commented on #10077
@stephentoub @geoffkizer FYI.  Note this is testing corefx HEAD versus coreclr HEAD.

[2017-03-10 02:09] wateret commented on #10027
@janvorli Thank you, I agree. With `IsUnmanagedValueTypeReturnedByRef` returning always true, I still get the same error (no changes of `IL_STUB_PInvoke` JITd code). I think we need another fix as well as this fix.

[2017-03-10 02:14] seanshpark opened #10080 "[x86/Linux] SIMD and GT_OBJ"
While working with #10012, I get an assert fail in lower.cpp line about 975
[code]
Currenrly x86/Linux does not use SIMD and thus `varTypeIsSIMD()` would return false no mater what the case. I'd like to know how to fix in this case.

[2017-03-10 02:14] parjong commented on #10059
``float64`` arguments seem to have 4-byte additional padding:
[code]

[2017-03-10 02:16] seanshpark commented on #10080
CC @BruceForstall @YongseopKim

[2017-03-10 02:26] wateret commented on #10027
I found that HFA02 doesn't get to below `if` block. while structs bigger than HFA02 success. Seems like HFA02 is pmCallConvCdecl.

[code]

[2017-03-10 02:52] jkotas commented on #8104
I won't disagree with that. As I have said, we need data.

This method is making sure that the ngen code does not take dependency on Vector size because of the runtime may choose a different one. We leave holes in ngen image and they will be JITed at runtime. It would need to do the same thing for the corelib Vector as what it is doing for the corefx Vector.

[2017-03-10 03:08] stephentoub commented on #10077
I'd argue these asserts are invalid and should just be deleted; I'll do so tomorrow unless anyone objects. That we're able to hit the asserts by constructing invalid instances in the corefx tests highlights that. Granted, we're doing so via a union rather than its ctor, but still.

[2017-03-10 04:37] jkotas commented on #6209
@mikem8361 We need to take the CoreFX->CoreCLR forwarder into account when generating the stacktrace and we need to make sure that the forwarder is noninlineable to get predictable behavior.

Let me know if you would prefer me to take care of this ... I know exactly what needs to be done here.

[2017-03-10 05:09] danmosemsft commented on #9850
@gkhanna79 didy ou mean to set 2.0? This doesn't seem to meet the bug bar.

[2017-03-10 05:10] hqueue commented on #9553
@MichaelSimons Thanks!

@hseok-oh Should we update arm CI to use this new docker image?

[2017-03-10 05:10] seanshpark commented on #10080
If surround with `#ifdef FEATURE_SIMD,` there are several other assert places.

[2017-03-10 06:08] borrrden opened #10082 "ConfigureAwait does nothing?"
I ran into this unusual problem when running a unit test with xUnit.  I noticed the thread before I `await`ed an `async` call and the thread when I was done were different.  Ok, I guess this makes sense after reading about `SynchronizationContext`.  However, the weird part is that things are continuing on the same thread that the `async` task was running on.  That thread is reserved for processing

[2017-03-10 07:08] wateret commented on #10027
Compared identity_HFA02 to identity_HFA03,

When `PInvokeStaticSigInfo::DllImportInit()` calls
`pInternalImport->GetPinvokeMap(pMD->GetMemberDef(), (DWORD*)&mappingFlags, ppEntryPointName, &modref)`, the result of `mappingFlags` values differ.

identity_HFA02 mappingFlags : 0x200 (pmCallConvCdecl)
identity_HFA03 mappingFlags : 0x300 (pmCallConvStdcall)

These two functions do same thing but the on

[2017-03-10 07:23] geoffkizer commented on #10077
If I'm understanding you correctly, you are basically saying that struct state has absolutely no integrity whatsoever because you can always circumvent it with LayoutKind.Explicit and FieldOffset.  Is that correct?

If so, then removing the asserts makes sense.  But I really hope that isn't the case.  Because as a user of .NET, I find it incredibly unsettling that supposedly "safe" code can fiddle

[2017-03-10 07:31] geoffkizer commented on #10077
Moveover, given this, it seems like #16715 is a serious security vulnerability and we need to provide downlevel patches for this.

[2017-03-10 07:39] hseok-oh commented on #9553
@hqueue I has not make new commit to make `libcoreclrtraceptprovider.so` yet. So there will be no build fail in CI now if you use old docker image. But I'll make new PR soon to build `libcoreclrtraceptprovider.so`, so we need new docker image.

[2017-03-10 07:43] hqueue commented on #9553
@hseok-oh I see. ARM CI using docker is not merged yet either  and it will take some time berfore merged.
BTW does existing arm CI have same problem ?

[2017-03-10 09:40] janvorli commented on #10080
@seanshpark why do you think we are not using SIMD on x86? The disass that @parjong has just posted in #10059 shows we do.

[2017-03-10 10:56] janvorli commented on #10027
@wateret this is very strange, both of the functions should use the stdcall calling convention since they both have attribute specifying that:
[code]

[2017-03-10 12:16] stephentoub commented on #10077
In coreclr/corefx, yes, I believe we need to validate the contents of an ArraySegment before we use unsafe code to manipulate the contents in a way that could corrupt state if the contents were invalid, just as we would do if the byte[], int, and int were passed to us through any other means.

[2017-03-10 12:20] stephentoub commented on #10077
Also note that it doesn't require someone using Explicit / FieldOffset.  Imagine an ArraySegment stored in a field, and someone has a race condition in their program where one thread writes to the ArraySegment field at the same time another is reading it to pass it to one of our APIs.  An ArraySegment is not going to be read/written atomically and is subject to torn reads/writes.

[2017-03-10 12:50] stephentoub commented on #10082
When you write code like:
[code]
that logically translates into something like:
[code]
so if the thing you await is already completed by the time you await it, you will continue running synchronously on the same thread.  This has always been the behavior, and ConfigureAwait doesn't influence that, i.e. ConfigureAwait doesn't force the await to always complete asynchronously, but rather controls th

[2017-03-10 12:53] stephentoub commented on #10082
Separately, in your code, Task.Factory.StartNew by default targets the current TaskScheduler, and it's up to the current TaskScheduler how to interpret and handle TaskCreationOptions.LongRunning.  If your intent here is to force a new thread to be created as happens for LongRunning with the default scheduler, you should explicitly pass TaskScheduler.Default as the scheduler argument to StartNew; o

[2017-03-10 14:17] jabbera opened #10088 "Crash during: dotnet new <anything>"
I'm getting a crash during dotnet new (Unhandled exception at 0x00007FFC84107788 (KernelBase.dll) in dotnet.exe: 0xC0020001: The string binding is invalid (parameters: 0xFFFFFFFF8007042B)). Anecdotally turning off telemetry prevents the crash. I can supply a dump out of band if needed.

 with the following stack:

 	coreclr.dll!TheUMEntryPrestubWorker(UMEntryThunk * pUMEntryThunk) Line 1157	C++

[2017-03-10 14:28] #10077 closed

[2017-03-10 15:17] tannergooding opened #10089 "The .editorconfig should be updated to support the code style options made available in VS2017"
Currently we have a set of code style guidelines here: https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md.

However, we don't have a good way to enforce this (aside from manual code reviews and occasionally running https://github.com/dotnet/codeformatter) when users have their VS options configured away from the defaults.

VS2017 added support for specifyi

[2017-03-10 16:00] gkhanna79 commented on #10076
@RussKeldorph PTAL at the test and see if it should indeed take a long time or was this instance an outlier.

[2017-03-10 16:01] gkhanna79 commented on #10082
Issue moved to [dotnet/corefx #16973](https://github.com/dotnet/corefx/issues/16973) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-10 16:01] #10082 closed

[2017-03-10 16:03] gkhanna79 commented on #10088
@jabbera Can you please share specific repro steps, including details of which version of .NET Core SDK you were using?

[2017-03-10 17:31] RussKeldorph commented on #10076
@gkhanna79 I suspect this was an outlier, though I think we've seen a few tests that are exhibiting this behavior.  Possibly something else in the test pass that is oversubscribing the machine's resources and starving certain tests.  @pgavlin is looking into it.

[2017-03-10 17:49] rajkumar42 commented on #8228
No it does not anymore. Windows folks identified it as a bug in WSL and fixed it in RS2.

[2017-03-10 17:53] #8228 closed

[2017-03-10 17:55] mikem8361 commented on #6209
It would be great if you could do this one.  Thanks.

[2017-03-10 18:01] #7626 closed

[2017-03-10 18:04] RussKeldorph opened #10091 "runtest.cmd broken when VS2015 installed without VS2017"
Error on [this line]( https://github.com/dotnet/coreclr/blob/0ce065c5f28f840f02c9621a45bb9e3daed87e1e/tests/runtest.cmd#L123)

I believe the fix is to use delayed expansion.

[2017-03-10 18:04] agocke commented on #3581
This is a bit of a blocker for Roslyn running some its unit tests cross platform -- we currently have a large number of tests which use ilasm to construct assemblies which aren't expressible in C#. On Windows we just grab the ilasm out of the framework, but that's not possible on other platforms. Could we get an accelerated milestone for this package?

cc @gkhanna79

[2017-03-10 18:07] swgillespie commented on #10091
`runtest.cmd` is also broken when run from a VS2015 command prompt, even with VS2017 installed:

[code]

[2017-03-10 18:08] tannergooding commented on #10091
Yes, that would be an appropriate fix here. I will have a fix out shortly.

[2017-03-10 18:17] RussKeldorph commented on #10091
Correcting misleading title.  Thanks @swgillespie for knowing what I meant not what I wrote.

[2017-03-10 18:19] jashook commented on #9468
See #2451 for more information.

[2017-03-10 18:19] #9468 closed

[2017-03-10 18:21] BruceForstall opened #10093 "CI: trigger phrase problem with prefixes"
In netci.groovy, we specify trigger phrases using a regular expression that doesn't include a trailing whitespace/newline check, so two tasks where one trigger phrase is a prefix of the other can be confused.

For example, triggering `jitstressregs0x1000` also causes the prefix `jitstressregs0x10` to be triggered.

I saw this in #10039

[2017-03-10 18:21] BruceForstall commented on #10093
@mmitche @RussKeldorph

[2017-03-10 18:22] BruceForstall opened #10094 "CI: non-Windows r2r stress tests fail"
All the non-Windows r2r stress tests failed with this:
[code]

I saw this in #10039

[2017-03-10 18:22] BruceForstall commented on #10094
@RussKeldorph

[2017-03-10 18:57] mikem8361 commented on #9730
Fixed PR #10078

[2017-03-10 18:57] #9730 closed

[2017-03-10 18:58] gkhanna79 commented on #3581
ILAsm and ILDasm is already published in its own packages. Does that not help?

CC @RussKeldorph

[2017-03-10 19:05] agocke commented on #3581
@gkhanna79 That totally works! Can you point me to the packages? This issue seemed to indicate there was nowhere to get these tools except by building the repo.

[2017-03-10 19:15] jashook commented on #6059
This is now being hit on 10477 tests on Windows.

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_windows_nt_gcstress0xc/2/console

/cc @RussKeldorph

[2017-03-10 19:56] gkhanna79 commented on #3581
See https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.NETCore.ILAsm and https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.NETCore.ILDAsm (the corresponding runtime.* packages are on the same feed as well).

[2017-03-10 20:16] gkhanna79 commented on #10094
@BruceForstall Is this because of https://github.com/dotnet/coreclr/issues/10093?

[2017-03-10 20:26] gkhanna79 opened #10097 "We have duplicate IL for System.Private.Corelib.dll"
@Petermarcu commented on [Tue Feb 07 2017](https://github.com/dotnet/core-setup/issues/1484)

## Steps to reproduce
Look in the tar.gz's

## Expected  behavior
No System.Private.Corelib.dll next to System.Private.Corelib.ni.dll

## Actual behavior
They are both there.

## Environment data

---

@ericstj commented on [Tue Feb 14 2017](https://github.com/dotnet/core-setup/issues/1484#issuecomment-27

[2017-03-10 20:27] ahsonkhan opened #10098 "Add Span API microbenchmarks for slow span to allow comparison with fast span"
Related to issue #9595

https://github.com/dotnet/coreclr/tree/master/tests/src/JIT/Performance/CodeQuality/Span

[2017-03-10 20:28] ahsonkhan opened #10099 "Fix Spanbench benchmark tests for fast span to be more reliable and meaningful"
https://github.com/dotnet/coreclr/tree/master/tests/src/JIT/Performance/CodeQuality/Span

We’ve identified a few things that we should change in the benchmark code itself:
a.	The old tests were accidentally commented out, and the new tests can’t be run from the command line (they can only be run through xunit-perf).  We should be able to run all the tests, both from command line and xunit-perf
b.

[2017-03-10 20:29] ahsonkhan opened #10100 "Range and bounds check elimination for Span"
@russellhadley, can you provide details/context?

[2017-03-10 20:33] russellhadley commented on #10100
This is a dup of this item #10050.  Joe will be working on this area, so put questions on that comment thread.

[2017-03-10 20:33] #10100 closed

[2017-03-10 21:27] BruceForstall commented on #10094
I don't know how flow jobs work, but my guess is the answer is no.

[2017-03-10 22:14] gkhanna79 commented on #10098
@ahsonkhan Who should this be assigned to?

[2017-03-10 22:14] gkhanna79 commented on #10099
@ahsonkhan Who should this be assigned to?

[2017-03-10 23:10] gregg-miskelly opened #10102 "Port fix for macOS Sierra to 1.1 release"
Install latest beta version of MacOS
Install .NET Core SDK, VS Code, and the C# extension, and try to debug

Result:
CoreCLR debugging fails

Notes:
This was originially reported on the GitHub for the C# VS Code extension (https://github.com/OmniSharp/omnisharp-vscode/issues/1220). It has been the most actively reported issue we have had thus far with ~15 folks adding a "me too", and I am sure man

[2017-03-10 23:27] jorive commented on #10052
@DrewScoggins I have pushed to myget the updated .NET Core TraceEvent library with the fix. It is the one with version 1.0.1-alpha-experimental.

[2017-03-11 00:25] BruceForstall commented on #10059
@parjong Did you ever figure out why the "sub esp, 4" was generated? In #10081 it seems like you are relaxing the assert but the comment doesn't make it clear why this is necessary.

[2017-03-11 00:30] ahsonkhan commented on #10098
I can assign it to myself once I have capacity to work on this. I was thinking of leaving it as up-for-grabs in the meantime.

[2017-03-11 00:31] ahsonkhan commented on #10099
Most likely to me :)

[2017-03-11 00:33] BruceForstall opened #10106 "JIT: only include compatjit.dll in JIT package for JIT32"
`.nuget\Microsoft.NETCore.Jit\runtime.Windows_NT.Microsoft.NETCore.Jit.props` contains the following line that causes it to include compatjit.dll in the JIT NuGet package:

[code]

There should be one additional condition: only do this if we are building JIT32. In CMakeLists.txt, this is true with the `CLR_BUILD_JIT32` boolean is true.

If the NuGet package build is conditionalized, then the follo

[2017-03-11 00:48] jashook opened #10107 "[arm64][1-Failure] Regressions\coreclr\GitHub_7685\Test7685\Test7685.cmd fails"
Expected Output

<pre>
BEGIN EXECUTION
 "C:\Users\DDJOIN\proyectos\febrero-2-2017\pruevas\tests2\Core_Root\corerun.exe" Test7685.exe
Error: passing struct with floats via reflection. Callee received [1.2, 5.6, -3.768694E-10, 2.481916E-05] instead of [1.2, 3.4, 5.6, 7.8]
Expected: 100
Actual: 0
END EXECUTION - FAILED
FAILED
</pre>

[2017-03-11 00:51] jashook opened #10108 "[Arm64][1-Failure] managed\Compilation\Compilation\Compilation.cmd"
Expected Output:

<pre>
BEGIN EXECUTION
 "C:\Users\DDJOIN\proyectos\febrero-2-2017\pruevas\tests2\Core_Root\corerun.exe" Compilation.exe
Starting the test
Using reference to: C:\Users\DDJOIN\proyectos\febrero-2-2017\pruevas\tests2\Core_Root\System.Private.CoreLib.dll
Test compiled
Expected: 100
Actual: -1
END EXECUTION - FAILED
FAILED
</pre>

[2017-03-11 00:54] jashook commented on #9459
Does not repro.

[2017-03-11 00:54] #9459 closed

[2017-03-11 00:57] jashook opened #10109 "[arm64][1-Failures] Jit\Methodical\cctor\misc\global_il_d\global_il_d.cmd"
Tests

<pre>
Jit\Methodical\cctor\misc\global_il_d\global_il_d.cmd
jit\Methodical\cctor\misc\global_il_r\global_il_r.cmd
</pre>

Expected Output:

<pre>
BEGIN EXECUTION
 "C:\Users\DDJOIN\proyectos\febrero-2-2017\pruevas\tests2\Core_Root\corerun.exe" global_il_d.exe

Unhandled Exception: System.TypeInitializationException: The type initializer for '<Module>' threw an exception. ---> System.AccessVi

[2017-03-11 01:07] jashook opened #10111 "[Arm64] DevDiv_359736 test failures: No Exception thrown"
Tests

<pre>
jit\Regression\JitBlue\DevDiv_359736\DevDiv_359736_do\DevDiv_359736_do.cmd
JIT\Regression\JitBlue\DevDiv_359736\DevDiv_359736_ro\DevDiv_359736_ro.cmd
</pre>

Expected Output:

<pre>
BEGIN EXECUTION
 "C:\Users\DDJOIN\proyectos\febrero-2-2017\pruevas\tests2\Core_Root\corerun.exe" DevDiv_359736_do.exe
FAILED: No exception thrown
Expected: 100
Actual: -1
END EXECUTION - FAILED
FAILED
</pr

[2017-03-11 01:09] RussKeldorph commented on #3581
Looks like this got lost when it was moved to Future w/o assigning an area.  #5172 seems to be a duplicate.

[2017-03-11 01:09] #3581 closed

[2017-03-11 01:39] agocke commented on #919
@gkhanna79 @rahku We also use AppDomain.GetAssemblies() in the Roslyn tests. In this case, we do it because may be trying to load different assemblies with the same MVID (like multiple versions of mscorlib) and we want to avoid bailing out iff the assembly was loaded before we started running tests.

In other words, our tests look something like
[code]

And `AlreadyLoaded` is built using `AppDomai

[2017-03-11 01:45] BruceForstall commented on #10059
@parjong the padding is from genPutArgStk():
[code]
and looks correct.

[2017-03-11 01:46] BruceForstall commented on #10059
The padding is because we push a float64 then a float32, but need to round up to 64 bits.

[2017-03-11 02:35] jkotas commented on #919
I think you can:

- Load the assembly
- See what you got back and check that the MVID matches what you want

[2017-03-11 04:03] jkotas commented on #7636
Tracked by https://github.com/dotnet/corefx/issues/16997

[2017-03-11 04:03] #7636 closed

[2017-03-11 05:15] parjong commented on #10059
@BruceForstall Thank you for clarification. I guessed that padding is due to double(``float64``) alignment on arguments, but didn't know relevant code.

Is there any way to know how may ``float64`` values are on the current stack frame? It seems that each ``float64`` values on the current stack frame may have such padding. #10081 assumes that the number of ``float64`` is below ``fgPtrArgCntMax``.

[2017-03-11 05:23] jashook opened #10115 "[Arm64][2-Failures] String Failures"
Tests
<pre>
CoreMangLib/cti/system/string/StringFormat1/StringFormat1.cmd
CoreMangLib/cti/system/string/StringFormat2/StringFormat2.cmd
</pre>

Output
<pre>
20:19:29 Started: Fri Mar 10 19:52:34 2017
20:19:29 Started: Fri Mar 10 19:52:35 2017
20:19:29 Output: TEST_CMD_LINE: CoreMangLib\cti\system\string\StringFormat1> C:\Users\DDJOIN\arm64_ci\tests\CoreMangLib\cti\system\string\StringFormat1\Strin

[2017-03-11 06:56] mikedn commented on #7641
`return (i4 & 16) != 0;` was fixed in #9454:
[code]
There's still room for improvement, `test ecx, 16` could be `test cl, 16` and for larger immediate values using a shift should generate slightly shorter code.

`return (i8 & (1L << 42)) == 0;` was improved in #8672:
[code]
There's still room for improvement, the large immediate can be avoided by using a shift to extract the bit or `BT` when the r

[2017-03-11 07:14] mikedn commented on #10111
Likely a duplicate of #8648

[2017-03-11 11:39] Mike-EEE commented on #926
+1 to @plioi ... the blog/website is no longer available.  Can someone assist with a pointer to its new location?  I am not sure why it's bad to have a reference to the type that was queried to retrieve the reflection data. Would be nice/super convenient to have access to this.

[2017-03-11 11:53] #8683 closed

[2017-03-11 18:47] BruceForstall opened #10122 "[x86/Linux] Nested calls don't handle stack alignment properly"
On Linux/x86, the stack must be aligned to 16 bytes when a call is made. We do this by computing the number of alignment bytes required, saving this on the first PUTARG_STK node, and generating an additional, preceding "sub esp, N" instruction before the first stack argument is generated. Then, after the call, we add back the alignment value, if any.

The alignment is calculated in fgArgInfo::Args

[2017-03-11 18:50] BruceForstall commented on #10059
That assert already accounts for padding, but ignores the possibility of nested calls. We really need to know the maximum number of nested calls, and multiply the padding (genTypeStSz(TYP_INT) * 3) by that. Or, stop doing nested calls (i.e., do call hoisting). See #10122.

[2017-03-11 18:51] BruceForstall commented on #10122
@parjong @seanshpark

[2017-03-11 20:03] mikedn commented on #9937
It turns out that there is a somewhat convoluted case where array bound complementary assertions have an effect:

The JIT can eliminate redundant EQ/NE comparisons:
[code]
But what does this has to do with array bound assertions, those do not involve EQ/NE. Well, they sometimes do indirectly:
[code]
Now the 2 comparisons involve the array length and `optCreateJTrueBoundsAssertion` takes over and c

[2017-03-11 20:34] jbogard opened #10123 "Cannot create list of tuples in assemblies marked as partial trust"
In a .NET 4.5.2 application (console in this case), trying to create a list of tuples results in a method access exception, if the assembly is marked for allowing partial trusted callers:

[code]

Exception returned:
[code]

I only see this in .NET 4.5.x applications, not in .NET Core.

[2017-03-11 21:27] #6209 closed

[2017-03-11 23:11] stephentoub commented on #10123
cc: @jcouv

[2017-03-11 23:18] jcouv commented on #10123
Thanks @jbogard for reporting this.
I'm able to repro (copied exception details below). I'll investigate.

[code]

[2017-03-11 23:54] jnevins-gcm commented on #9776
do you think it's reasonable that after 2+ (3+?) years working on dnx/dotnetcore/netstandard/netstandard.library/etc, you still can't make basic assembly referencing work? I can reproduce this by creating a solution in VS 2017 with a 4.6.1 exe and a netstandard 1.3 dll, referencing the 1.3 dll from 4.6.1 in the ide, adding a reference to and using System.Diagnostics.StackTrace package in the 1.3 d

[2017-03-12 02:20] agocke commented on #919
@jkotas Hmm not sure how that helps -- the constraint is that we only care if the MVIDs match if the assembly wasn't already loaded. We still need a mechanism to figure out whether or not the assembly was already loaded.

[2017-03-12 05:17] KeyurRamoliya commented on #7203
@barrytang @gkhanna79 This issue is in Visual Studio 2015. I think this issue for CoreCLR repo but if not please tell me repo that is related to this issue.

[2017-03-12 06:11] jkotas commented on #919
Could you please explain what you are trying to do on bit more higher level? Are you planning to use multiple load contexts, or just the default load context?

.NET Core does not support loading multiple physical assemblies with the same name into a single load context. It is possible in desktop in some situations. Maybe this code just exists to handle this, and thus it is not applicable in .NET C

[2017-03-12 07:38] agocke commented on #919
@jkotas The current code uses appdomains. The goal is to compile a series of programs against an arbitrary set of assemblies and run that compiled program.

Of course, we may be compiling against multiple different assemblies with the same full identity, so the code tries to detect different assemblies by comparing MVIDs.

The exception to the above is when the assembly is already loaded when we s

[2017-03-12 07:56] jkotas commented on #919
I do not think that it is the right set you want to filter. The currently loaded assemblies do not contain everything you want to filter. For example, it is very likely that mscorlib facade is not going to loaded when you start running tests, but it is very likely that some of your tests are compiled against mscorlib and they won't work if you run them against the mscorlib (reference assembly?) th

[2017-03-12 09:14] alexanderuv opened #10127 "error: pointer being freed was not allocated"
I have created a fork for ClangSharp here: https://github.com/BladeLang/ClangSharp

and I ran into this issue. Seems to be a problem with P/Invoke

dotnet(12880,0x7fffe989e3c0) malloc: *** error for object 0x7fb97956c510: pointer being freed was not allocated
*** set a breakpoint in malloc_error_break to debug

You can try yourselves. I installed llvm using homebrew so my command ends up like this

[2017-03-12 09:17] agocke commented on #919
@jkotas Thanks, that sounds right. I'll give it a shot.

[2017-03-12 13:43] nietras commented on #3581
Great, can these be run with `dotnet run` and thus without corresponding runtime?

[2017-03-12 18:44] BalassaMarton commented on #919
Is it actually impossible with the current RTM releases to enumerate all loaded assemblies (including assemblies loaded dynamically using `AssemblyLoadContext`)?

[2017-03-12 19:25] jkotas commented on #919
Correct. The API was added back for .NET Core 2.0, but it does not change the fact that it should not be used in robust code - for the reasons I have mentioned above.

[2017-03-12 19:34] BalassaMarton commented on #919
I don't want to use a specific API (and I don't see the point in reviving `AppDomain` when application domains are not a thing anymore), I just want *some* API to enumerate loaded types.

[2017-03-12 22:18] parjong commented on #10122
@BruceForstall @seanshpark currently attempts to enable ``FEATURE_FIXED_OUT_ARGS`` (#10012). Is it related with option 2?

[2017-03-12 22:29] seanshpark commented on #10080
@janvorli , do you mean this line?
[code]
Then I'm more confused cause `FEATURE_SIMD` is only turned on for AMD64 or x86 Windows, in src/jit/CMakeLists.txt
[code]
and in src/jit/vartype.h
[code]
so `varTypeIsSIMD` always returns false.

[2017-03-12 23:08] parjong opened #10131 "Loader.classloader.MethodImpl.self_override test failures"
CLR hits the following assert while running Loader.classloader.MethodImpl.self_override tests:
[code]

[2017-03-12 23:31] parjong commented on #10131
The methods of interest seems to be ``DoBar`` and ``DoSelfBar``:
[code]

[2017-03-12 23:31] parjong commented on #10131
Here is the JIT dump when hitting the assert:
[code]

[2017-03-12 23:33] parjong commented on #10131
The method table seems to be suspicious. ``pBaseMT->GetMethodDescForSlot(4)`` and ``pBaseMT->GetMethodDescForSlot(5)`` points to the same method description.

[2017-03-12 23:37] parjong commented on #10131
@jkotas Could you let me know who is responsible to issues of this kind?

[2017-03-12 23:56] parjong commented on #10131
Here is the implementation of ``GetMethodDescForSlot``:
[code]

[2017-03-13 00:09] seanshpark commented on #10122
@parjong , I think this is necessary with or without `FEATURE_FIXED_OUT_ARGS`, option 1 or option 2 either case.

[2017-03-13 00:58] jkotas commented on #10131
This was added recently by @AndyAyersMS

[2017-03-13 01:01] BruceForstall commented on #10012
cc @BruceForstall @dotnet/jit-contrib

[2017-03-13 01:02] BruceForstall commented on #10122
Implementing `FEATURE_FIXED_OUT_ARGS` out imply option 2.

However, I'm investigating implementing option 2 even if `FEATURE_FIXED_OUT_ARGS` is not enabled.

[2017-03-13 01:02] parjong commented on #10131
@jkotas Thank you!

[2017-03-13 01:07] parjong commented on #10131
@AndyAyersMS Could you please take a look? I could make this test pass with ``COMPlus_ContinueOnAssert``:
[code]

I'm not sure whether there is a real bug, or this assert is too strict.

[2017-03-13 01:14] parjong commented on #10012
\CC @parjong

[2017-03-13 02:24] parjong opened #10133 "[x86/Linux] JIT.Methodical.structs.systemvbringup.structinregs test failure"
An exception is thrown while running ``InvokeCallback5`` test:
[code]

[2017-03-13 02:27] parjong commented on #10133
It seems that there is mismatch between managed struct layout and native struct layout.

The native method shows the following result when adding ``[StructLayout(LayoutKind.Sequential, Pack=4)]`` attribute on ``S5`` struct declaration:
[code]

[2017-03-13 02:59] cydhaselton commented on #9946
@masonwheeler No idea on how Xamarin does it; when I built mono it was for a Termux-like Android app…then later for Termux.  I didn't do any work on integration with Java

[2017-03-13 03:21] parjong commented on #10133
@jkotas @BruceForstall Could you let me know which code (JIT, EE) is related with such layout issues?

[2017-03-13 03:39] hseok-oh opened #10135 "[Linux/ARM32] cross architecture build error"
Build command:
./build.sh release cross arm crosscomponent

[code]

[2017-03-13 04:19] 303248153 opened #10137 "[Question] What's function set_new_pin_info used for?"
Hello, I'm reading gc's plan_phase in coreclr,
There one thing I don't understandard,
I saw a function named set_new_pin_info which has following code
[code]
This function is called by
[code]

If I understand correct, mark_stack_array store pinned plug's start address and len(`ps = plug_end - plug_start`), and `generation_allocation_pointer (gen)` increase in `allocate_in_condemned_generations` by

[2017-03-13 04:26] parjong commented on #10133
The following patch seems to resolve S5 case, but introduces other test failures.
[code]

[2017-03-13 04:31] jkotas commented on #10133
Yes, you are looking in the right place. methodtablebuilder.cpp is also involved in this.

[2017-03-13 04:43] hseok-oh commented on #9903
Now x86/Linux build in CI enabled. (not unittest yet)
You can run (on-demand run) debug, checked, and release build in CI using:
- test Ubuntu x86 Debug
- test Ubuntu x86 Checked
- test Ubuntu x86 Release

Here is my test run and result.
https://github.com/dotnet/coreclr/pull/10138#issuecomment-286012710

[2017-03-13 04:52] parjong commented on #10133
I observed the following test failure while evaluating the above patch:
[code]

The related test use a hard-coded size for check:
[code]

Is there any standard related with struct layout? I'm not sure whether this failure just comes from test issue, or not.

[2017-03-13 05:24] ragmani opened #10139 "[x86/Linux] ReadyToRun related features are not implemented, yet."
The testcase "readytorun/mainv1/mainv1.sh" is failed.
[code]

[2017-03-13 05:26] ragmani commented on #10139
The testcase "readytorun/mainv2/mainv2.sh" is failed.
[code]

[2017-03-13 05:28] ragmani commented on #10139
There are no functions for TARGET_X86 as follows:
ZapUnwindData::GetAlignment()
DWORD ZapUnwindData::GetSize()
void ZapUnwindData::Save(ZapWriter * pZapWriter)

This is backtrace of "mainv1.sh" TC.
[code]

[2017-03-13 05:32] ragmani commented on #10139
cc @parjong

[2017-03-13 05:39] seanshpark commented on #10080
When `assert(varTypeIsSIMD(arg));` fires, `arg` type is GT_LCL_VARS.
[code]

But the code and comment doesn't match with this (GT_LCL_VARS)
[code]

[2017-03-13 05:57] 303248153 opened #10141 "Wrong comment about GC pinning bit in object.h"
I found this comment in https://github.com/dotnet/coreclr/blob/master/src/vm/object.h
[code]
I think it's wrong, GC pinning bit actually stored in object header

[code]
And I verified in lldb
![1](https://cloud.githubusercontent.com/assets/16222094/23843132/ab715616-07f4-11e7-84c5-8e618f14318a.jpg)

And no code is touching `m_pMethTab & 2`, am I right and should this comment be fixed?

[2017-03-13 06:25] shahid-pk commented on #9946
perhaps one can write a custom host like corerun and coreconsole that will work on android. The hosting apis are i think for this purpose.

[2017-03-13 08:09] sergign60 commented on #6757
@gkhanna79
CC: @jkotas @Dmitri-Botcharnikov @papaslavik

I'm still working about it  My latest results are
[code]
But I still have four tests with parallel threads fails. I'm looking for reason of these fails (I believe that there is one reason) You can look at my code in the repository https://github.com/sergign60/coreclr

[2017-03-13 08:57] nobodykid commented on #113
@sanpaku72 I got the same problem too, which affects the scaffolding function at VS2017 and debugging system at VS Code. May I know what value should I put at the variable?

![git](https://cloud.githubusercontent.com/assets/12664445/23847582/a89c969c-0805-11e7-93c8-659cb3a4d260.JPG)

[2017-03-13 11:09] masonwheeler commented on #9946
After a bit of research, (thanks to [Grace Feng](http://stackoverflow.com/questions/42735881/how-does-xamarin-launch-your-android-project/42761321#42761321) for pointing me in the right direction,) it looks like Xamarin has a completely different way of doing it, actually: https://developer.xamarin.com/guides/android/under_the_hood/architecture/#Application_Startup

Basically it's a hack that hook

[2017-03-13 11:28] jkotas commented on #113
Set it to nothing - delete it.

[2017-03-13 11:41] jkotas commented on #10127
It is most likely a bug in ClangSharp, not in CoreCLR.

cc @mjsabby

[2017-03-13 11:46] Fabi commented on #919
What about DependencyContext.Default.GetDefaultAssemblyNames(); or GetRuntimeAssemblyNames("")?

This gives you a list of assmbly names which you can load and iterate over to get the loaded types.

[2017-03-13 13:00] BalassaMarton commented on #919
`DependencyContext` will only enumerate assemblies that were known at compile time, not the ones that were loaded dynamically. Nevertheless, it's more than nothing.

[2017-03-13 14:15] #9936 closed

[2017-03-13 14:27] russellhadley commented on #10051
Keep in 2.0 for Span on Kestrel.

[2017-03-13 14:28] russellhadley commented on #10050
Keep in 2.0 for Span on Kestrel.

[2017-03-13 14:29] JosephTremoulet commented on #9937
Thanks for the analysis.  Part of me thinks it's unfortunate that the jtrue bounds for unsigned array length compares have such different handling than the other jtrue bounds, and would like to make things consistent either by not worrying about missing the pattern above or by creating complementary assertions for the unsigned compare case... but we don't have `OAK_THROW` and so can't even represe

[2017-03-13 14:29] russellhadley commented on #10049
Keep in 2.0 for Span on Kestrel.

[2017-03-13 15:08] masonwheeler commented on #9946
Other useful references:

[monodroid-glue.c](https://github.com/xamarin/xamarin-android/blob/master/src/monodroid/jni/monodroid-glue.c), the native side of the `mono.android.Runtime` class.  (And wow, the binding semantics are ugly!  `[DllImport]` is *so* much nicer!)

[Templates for generating `MonoRuntimeProvider`](https://github.com/xamarin/java.interop/tree/master/src/Java.Interop.Tools.JavaCa

[2017-03-13 16:16] gkhanna79 commented on #3581
I believe you should be able to run them independently - @RussKeldorph can confirm though.

[2017-03-13 16:18] gkhanna79 commented on #7203
@barrytang Can you please move this issue to the appropriate repo?

[2017-03-13 16:28] jkotas commented on #3581
ilasm/ildasm depend on CoreCLR.dll/so

[2017-03-13 16:29] RussKeldorph commented on #3581
AFAIK they are 100% native code with no dependency on .NET.  Might be nice to have managed versions akin to Roslyn, but I suspect that's pretty far down the priority list.

[2017-03-13 16:29] RussKeldorph commented on #3581
Oops, I defer to jkotas. :)

[2017-03-13 16:50] swgillespie commented on #10141
That would seem to be the case, yeah. I suppose that this was historically the case, though we do use the GC bit on the sync block now as you observed. Feel free to submit a PR with a fixed comment, we'd be happy to take it!

[2017-03-13 17:14] jashook commented on #10109
These are rva static tests. See #2451 for more information.

[2017-03-13 17:14] #10109 closed

[2017-03-13 17:15] mikedn commented on #9937
Maybe it is enough to cleanup the `optAssertionEdge` thing I added so it doesn't look like a special case added just for `OAK_NO_THROW`, see this [commit](https://github.com/mikedn/coreclr/commit/84aff45890b7626800f790a04b94efa6f243bf57) in my fork. I was planning to include that in a PR for this issue but maybe I should send it separately.

The fact that in some cases we don't always generate com

[2017-03-13 17:17] swgillespie commented on #10137
Yes, this is correct. The generation allocator pointer is set to the end of the plug, so that we can continue allocating. We can't allocate over a pinned object and we can't move it, so the allocation pointer has to skip it.

Later on in the plan phase, we will add all[1] of the free spaces around plugs to the generation allocator's free list so that we can use it in the future to service allocati

[2017-03-13 17:18] jashook commented on #9466
Fixed with #9857.

[2017-03-13 17:18] #9466 closed

[2017-03-13 17:18] jashook commented on #9465
No longer repro

[2017-03-13 17:18] #9465 closed

[2017-03-13 17:34] sdmaclea commented on #9898
@dotnet/arm64-contrib I do not know how to begin debugging these.  If someone provides direction I am willing to try tackle it.

[2017-03-13 18:01] gkhanna79 commented on #10127
@alexanderuv Can you please move the issue to appropriate repo?

[2017-03-13 18:02] gkhanna79 commented on #10123
Issue moved to [dotnet/roslyn #17783](https://github.com/dotnet/roslyn/issues/17783) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-13 18:02] #10123 closed

[2017-03-13 18:03] lt72 commented on #8999
@chunseoklee: we have not committed yet to port MDBG to dotnet core. Decision and execution will be postponed to 2.1.

[2017-03-13 18:26] gkhanna79 commented on #10107
@jashook Is this is a codegen issue?

[2017-03-13 18:56] stephentoub opened #10148 "Vector<T> showing up incorrectly in debugger"
e.g.
![image](https://cloud.githubusercontent.com/assets/2642209/23870422/c00b6230-07fc-11e7-853b-ff1964d61357.png)

cc: @mellinoe, @CarolEidt

[2017-03-13 19:08] #10091 closed

[2017-03-13 22:07] wtgodbe commented on #8937
https://github.com/dotnet/coreclr/pull/10074 is the PR for updating to new CoreFX packages

[2017-03-13 22:21] alexperovich commented on #9474
I have the shared portions of coreclr and corert synchronized and my synching tool is now running to keep those directories in sync.

[2017-03-13 22:38] pgavlin commented on #8648
I can't repro this with the C# listed above, but I can repro what is essentially the same problem with this source:

[code]

In this instance, constprop folds away the tree that ought to produce the null reference:

[code]

[2017-03-13 23:16] gkhanna79 commented on #10148
@noahfalk Please reroute as appropriate.

[2017-03-14 00:04] chunseoklee commented on #8999
@lt72 Thank you for answer.

[2017-03-14 00:04] #8999 closed

[2017-03-14 01:20] 303248153 commented on #10137
Thank you! I see the reason now.
if pinned plug still in queue (mark_stack_bos ~ mark_stack_tos), m.len mean the plug size,
if pinned plug is dequeued (0 ~ mark_stack_bos). m.len mean the free space size just before the plug.
Also function `generation_fragmentation` will add these size to `frag`.
I'll check `seg_free_spaces::add` later, I'm still learning how `plan_phase` work.

[2017-03-14 01:20] #10137 closed

[2017-03-14 01:26] 303248153 commented on #10141
Thanks for response.
Also the code in `GetGCSafeMethodTable` use a hard code `3` for clear the MARKED_BIT and the pinned bit not using now, should it be fixed together?
[code]
I think it can be replaced with
[code]