[2017-05-08 17:27] pgavlin commented on #11446
cc @CarolEidt

@rartemev, this may also be the cause of the GC stress failure in this test on x64. Are you looking into that test at the moment?

[2017-05-08 17:35] pgavlin opened #11447 "Test `_hfa_main_testC_hfa_nd2C_d` failing on x64 under GCStress=0xC and JITStress=1"
e.g. https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_gcstress0xc_jitstress1/lastCompletedBuild/testReport/JIT_jit64/_hfa_main_testC_hfa_nd2C_d_hfa_nd2C_d_/_hfa_main_testC_hfa_nd2C_d_hfa_nd2C_d_cmd/

From the JIT dumps, this appears to be due to misplacement of a call to the PInvoke frame initialization IR that attempts to read the stub parameter from `r10`

[2017-05-08 17:40] tarekgh commented on #11432
@jkotas

I am not fully understand this comment. From the code I understand the managed side is pinvoking to native and passing a managed callback. the native code is throwing exception (for some reason) before even reaching the code calling back the managed side.
Do you mean in your comment that we should capture the exception thrown in the native code (in the reported case, in System.Globalizati

[2017-05-08 17:40] briansull commented on #3092
My change handled large negative constants in a way that reduced the number of instructions from 4 to 3.
I don't think that we ever checked this in as it was low priority in term of perf impact.

[2017-05-08 17:44] gkhanna79 commented on #11248
Yes, I am suggesting we use this approach to first get everything working so that we have a baseline infrastructure that is flexible and independent of our infrastructure.

[2017-05-08 17:46] weshaggard commented on #11442
We don't generate that file it is in the package. This package contains a copy of all the source files. @ericstj is there a way to tell nuget restore to exclude these files if as they aren't needed in most cases?

[2017-05-08 17:52] ViktorHofer commented on #10920
Talked with @jkotas offline. It seems the bad commit in dotnet/core-setup is still in. Waiting for new version and testing again in a few days.

[2017-05-08 17:57] gkhanna79 commented on #11311
@danmosemsft I dont believe there is anything actionable here, especially at this last moment of the release. Can this be closed?

[2017-05-08 17:58] gkhanna79 commented on #11371
@VSadov Is this for 2.0?

[2017-05-08 18:06] terrajobst commented on #11391
Which version of VS 2017 are you using? Help | About | Copy Info. This will work with the build we give out at Build.

[2017-05-08 18:17] gkhanna79 commented on #9080
@richlander This is being tracked for ZBB for 2.0 on 5/10. Can you PTAL?

[2017-05-08 18:20] jkotas commented on #11404
Yes, you are right that it looks like to be the case looking at stacktrace in detail. The exception is most likely thrown because of the process is shutting down and the runtime rejects callbacks. It is same problem as that Vance described here: https://github.com/dotnet/coreclr/issues/11404#issue-226404085. It would be nice to solve it generically. cc @janvorli

However, there is another possible

[2017-05-08 18:21] gkhanna79 commented on #11306
@kouvel Are we driving this for ZBB on 5/10?

[2017-05-08 18:23] gkhanna79 commented on #4299
@lt72 How are we _trending_ on this for EOD today?

[2017-05-08 18:24] gkhanna79 commented on #10872
@dleeapho Is this Post-ZBB as well?

[2017-05-08 18:40] tarekgh commented on #11432
@jkotas I think I understand the comment now. we need to catch the exception in the managed side before we return back to the un-managed side. I'll work on fixing that.

[2017-05-08 18:41] mikem8361 commented on #4299
I haven’t started on the Docker image work yet. I will today.  I don’t have an ETA yet.

[2017-05-08 18:44] jkotas commented on #11432
Right. I was in the middle of writing down the reply so here it is anyway:

It maybe the case. For example, the exception can be thrown because of the process is shutting down and the runtime rejects callbacks. It is same problem as that Vance described here: https://github.com/dotnet/coreclr/issues/11404#issue-226404085 . It would be nice to solve it generically. cc @janvorli

However, there is a

[2017-05-08 18:46] mikem8361 commented on #4299
@MichaelSimons some questions about Docker:
1) Where/how do I install Docker on my Ubuntu 14.04 machine?
2) How do I build the Docker images after making the changes? Is there a simple script to run? What do I need to install to build?

[2017-05-08 18:49] VSadov commented on #11371
No, definitely not 2.0

[2017-05-08 18:50] mikem8361 commented on #10148
@jkotas do you know how I can tell if my Linux machine is Intel AVX/SIMB?

@janvorli the funceval bugs we've had in the past were with 16 byte enregistered values.  This is 32 bytes do either of you have any ideas where to start?

[2017-05-08 18:53] kouvel commented on #11306
It's not a regression so it's not required for 2.0, but it would be nice to fix. I'll move it to 2.1 for now and will consider picking it up if there's time.

[2017-05-08 19:00] dleeapho commented on #10872
@gkhanna79  yes.

[2017-05-08 19:00] qmfrederik commented on #9370
@sdmaclea Yes

[2017-05-08 19:00] #9370 closed

[2017-05-08 19:02] gkhanna79 commented on #10148
Given that ZBB is on 5/10 and we have not looked at this yet, does this meet the bar for 2.0 @lt72 ?

[2017-05-08 19:03] jkotas commented on #10148
`grep avx /proc/cpuinfo` (http://tinyurl.com/l47p7o7)

Note that this is not Linux specific bug. It repros on Windows x64 too, on both .NET Core and .NET Framework.

[2017-05-08 19:11] lt72 commented on #10148
I do not believe this strictly meet the bar for 2.0, although there is little mention of tooling in general last time I checked. That said, isn't deadline on 5/10?  We'd' like to take a look unless there is a pressing need to make ZBB early.

[2017-05-08 19:16] #8480 closed

[2017-05-08 19:20] pgavlin opened #11450 "Represent the secret stub arg passed to the PInvoke frame initializer using a lclVar."
Currently this argument is read directly from the physical register in which it is passed, which prevents the compiler from safely inserting code before the physreg read. This was the cause of #11447.

[2017-05-08 19:22] Licoze opened #11452 "10 years old bug that migrated from .net to .net core. (System.Value.Equal)"
coreclr/src/vm/comutilnative.cpp

[code]
You can see more information here:
https://blogs.msdn.microsoft.com/xiangfan/2008/09/01/magic-behind-valuetype-equals/
http://stackoverflow.com/questions/2508945/can-anyone-explain-this-strange-behavior-with-signed-floats-in-c/2509152

[2017-05-08 19:42] MichaelSimons commented on #4299
@mikem8361

1.  Instructions on installing Docker for Ubuntu - https://docs.docker.com/engine/installation/linux/ubuntu/
2.  Which images will you be updating?

[2017-05-08 19:47] gkhanna79 commented on #10148
Deadline for ZBB is 5/10. I think you need to triage whether this is runtime/debugger issue or VS debugger issue.

[2017-05-08 20:06] bricelam opened #11453 "Allow AppDomain.SetData more than once"
There seems to be [an arbitrary limitation](https://github.com/dotnet/coreclr/blob/release/2.0.0/src/mscorlib/src/System/AppDomain.cs#L675) on Core CLR that prevents you from calling `AppDomain.SetData` more than once for the same name.

This limitation doesn't exist on .NET Framework.

We use `AppDomain.SetData` in our tests to check our usage of `AppDomain.GetData`. We typically clean up after t

[2017-05-08 20:48] yizhang82 commented on #11256
@ondrejtomcik Happy to help :)

This is most likely because your OCByteString type is a reference type. You can't have overlapping fields that GC reference (any reference types) or a non-GC reference (value types) - GC wouldn't know what to do with them. For example, 0x123 could either be an integer or an object reference (or even worse, half of a object reference), but GC wouldn't know which one

[2017-05-08 21:06] ondrejtomcik commented on #11256
Hi @yizhang82 ,
sorry I forgot to include OCByteString. It is and was the structure. I had this exception because I was using string field type instead of IntPtr.

Thanks for explanation but I am not sure if problem is solved. As I mentioned, offset of "next" field is different as in C. It's because whole OcRepPayloadValue had size 16, but another 24 was missing to have correct offset of next.

Wh

[2017-05-08 21:32] ellismg commented on #11438
One thing to note (not sure if it matters) is that these crossgen commands are running in parallel and from the log it looks like there are cases where we are crossgening System.Private.CoreLib.dll into System.Private.CoreLib.ni.dll (likely an issue in itself, because the NI should already be there) while crossgenning other stuff, and maybe that causes an issues with concurrent crossgens.

[2017-05-08 21:33] ellismg commented on #11438
/cc @mellinoe @weshaggard from the crossgen.sh side of things.

[2017-05-08 22:48] russellhadley opened #11458 "Enable target dependent address mode building"
Today we aren't as aggressive about building address modes for the target architecture.

- Don't forward substitute through local vars
- Inconsistent use of all the features target ISA

Some examples are here:
https://github.com/dotnet/coreclr/issues/1226

Others show in hot methods in Kestrel.

At a high level this is a big design challenge.  A solution will have the following criteria:

- Addres

[2017-05-08 22:59] russellhadley opened #11460 "Enable register/stack value tracker to remove opportunistic copy/redef"
At code gen time (after RA) analyze the register values as the code is generated to remove redundancies.

r1 = mov r2
r3 = mov r1
r4 = add r3, rx  ; Where r3, or r1, is either opportunistically show to be anticipated or known to be dead.

=>

r4 = add r2, rx

In addition simple spill elission can be done via tracking unaliased slots on the stack. (spills)

[rsp + spill] = mov r3
...
r5 = mov [rsp

[2017-05-08 22:59] weshaggard commented on #11438
@gkhanna79 any idea what a bus error is in context of crossgen?

Also it looks like we may need to filter out System.Private.CoreLib.dll after the rename

[2017-05-08 23:12] mikem8361 commented on #4299
I'll be updating only the Ubuntu (all versions) and Debian.

[2017-05-08 23:20] tarekgh opened #11461 "Propagate exceptions thrown in the Globalization managed callbacks"
Enumerating calendar properties is done by calling the native code and passing a managed method pointer as a callback which get called from the native code. Currently we ignore any exception thrown in this managed callback. This issue is tracking capture such thrown exception and propagate it up to the original managed enumeration calls and then re-throw such exception.

The PR #11454 has related

[2017-05-08 23:29] mikem8361 commented on #4299
It looks like in the existing DockerFiles the LLVM/LLDB apt-get servers for Ubuntu 16.04 and 16.10 I think are wrong.

`echo "deb http://llvm.org/apt/trusty/ llvm-toolchain-trusty-3.6 main" | tee /etc/apt/sources.list.d/llvm.list && \
`

I think should be "xenial" for 16.04 and "yakkety" for 16.10 instead of "trusty" (which is for 14.04) according to http://apt.llvm.org/

And for Debian is should

[2017-05-08 23:31] mikem8361 commented on #4299
I've made all the DockerFile changes, installed Docker and I'm ready to build the images.

[2017-05-08 23:45] MichaelSimons commented on #4299
To build the images locally, you can utilize the [image-builder](https://devdiv.visualstudio.com/DevDiv/_git/DotNetCore?path=%2Fdockerfiles%2Fimage-builder&version=GBmaster&_a=contents) tool in the Dockerfiles folder.  Build this dotnet app and run from the [Dockerfiles folder](https://devdiv.visualstudio.com/DevDiv/_git/DotNetCore?path=%2Fdockerfiles&version=GBmaster&_a=contents)

`dotnet .\out\i

[2017-05-08 23:51] gkhanna79 commented on #11438
@janvorli may know about bus error. And yes, given that SPC.dll now represents the NI renamed, it should not be recompiled.

[2017-05-08 23:52] gkhanna79 commented on #11438
CC @wtgodbe

[2017-05-09 00:05] yizhang82 commented on #11256
It's difficult for me to interpret the numbers because I don't know whether 16 is 32-bit or 64-bit. Let's assume it is 32-bit (because it is too small for 64-bit). In order to get to 40, it means OCByteString has a pretty big size (probably inlines the strings as byte[]). My guess is that your OCByteString is defined incorrectly. One way to confirm that is to call Marshal.SizeOf<OCByteString> and

[2017-05-09 00:07] russellhadley opened #11463 "[LSRA] Add facility to do register preferencing across multiple related intervals"
Today register preferencing is done across immediately related intervals, typically across a single instruction.  This will get the easy cases but for a larger set, a larger context should be used.

Contexts:
- Tree.  Walk intervals with a given tree and compute preferences as a whole.  This will get the case listed below from where we pick sub-optimal preferences at the leaves of the tree and the

[2017-05-09 00:41] #11114 closed

[2017-05-09 00:54] RussKeldorph commented on #11447
@pgavlin Should this be closed?

[2017-05-09 01:03] #11432 closed

[2017-05-09 03:14] pgavlin commented on #11447
Yes.

[2017-05-09 03:14] #11447 closed

[2017-05-09 10:06] janvorli commented on #11417
The Kali Linux Rolling is currently based on Debian 9. I think the issue is likely caused by a breaking change that Debian 9 did in the openssl - the soname of the libssl.so was changed to 1.0.2. Can you please check if it is the root of the issue here by running `ls /lib/x86_64-linux-gnu/libssl.so*` and pasting the result here?

[2017-05-09 11:27] janvorli commented on #11438
I've found these details on what can cause a SIGBUS on x64 on stackoverflow:
http://stackoverflow.com/questions/35010654/when-does-memory-load-cause-bus-error-on-x86-64-linux.
Since we have recently modified code around loading of crossgen-ed binaries, I guess it could be one of these:
* exec of non-exec mapping
* access to mmaped file where the file contents doesn't exist (past the end of the fil

[2017-05-09 12:19] janvorli commented on #10382
I agree with @kouvel. The point of this issue is that we should never try to map native images at their preferred base addresses.

[2017-05-09 13:51] gkhanna79 commented on #11438
Where does this crossgen script live and is anyone looking into it? We have crossgen runs in Helix and Core-Setup does R2R compile of SharedFX and they do not exhibit this issue.

[2017-05-09 13:53] janvorli commented on #10148
@mikem8361 I would start debugging in MethodDescCallSite::CallTargetWorker, that means the place where you've made the fixes for the 16 byte enregistered arguments before. It should be relatively easy to see what's going on in the argument copying loop. If the loop copied the argument correctly, then I'd look at the CallDescrWorkerInternal.

[2017-05-09 15:26] dmh2000 commented on #11365
thanks for looking into this. i verified that the affected systems had Cylance on them. you can close this issue

[2017-05-09 15:39] gkhanna79 commented on #11453
CC @danmosemsft

[2017-05-09 15:39] gkhanna79 commented on #11311
@danmosemsft Any concerns closing this?

[2017-05-09 15:40] gkhanna79 commented on #11352
@wtgodbe How is this coming along?

[2017-05-09 15:40] gkhanna79 commented on #4299
@lt72 any update on this?

[2017-05-09 15:43] gkhanna79 commented on #10209
@janvorli Did you get a chance to look into this?

[2017-05-09 15:49] danmosemsft commented on #11453
@AlexGhiondea any context on why this code exists? It looks like it precedes github: https://referencesource.microsoft.com/#mscorlib/system/appdomain.cs,2444

Unless there's a good reason, we should fix this. If you don't have cycles, LMK and I'll find someone.

[2017-05-09 15:49] weshaggard commented on #11438
The script lives in buildtools (https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/crossgen.sh) but is ran as part of init-tools in corefx (https://github.com/dotnet/corefx/blob/master/init-tools.sh#L110).

I'm not aware of anyone looking into it.

[2017-05-09 15:53] danmosemsft commented on #11311
I think I flagged them because they were just pass throughs, ie., they might as well be on the right type. Fine to close.

[2017-05-09 15:53] #11311 closed

[2017-05-09 15:54] janvorli commented on #10209
@gkhanna79 yes, I was trying to repro it locally and I was unable to get anything close to a repro. I have added some detailed logging to the test. On my OSX machine, the max delta was 9ms and it is mostly stable. On the lab machines, it consistently fails. The delta fluctuates heavily and often goes upto 150ms, which is ridiculous since it would seem as if the scheduling quantum on those machines

[2017-05-09 16:08] RussKeldorph commented on #11365
@dmh2000 Great to hear!  Thanks for following up.

[2017-05-09 16:08] gkhanna79 commented on #11438
@wtgodbe Can you take a look at this?

[2017-05-09 16:30] mikem8361 commented on #4299
I’m in the middle of building the new docker images locally (after a lot of help from Michael Simmons, Thanks).  I’ll let you know this early this afternoon on the progress.

[2017-05-09 17:55] sandreenko opened #11469 "[x86] Out of memory expection in JIT/Regression/JitBlue/DevDiv_255294"
Crossgen mode uses full optimizations and has quadratic algorithm it terms of memory to build and keep reachability sets for blocks.
CoreRun mode was fixed in #11233.
So now CoreRun needs 300Mb (was 3 GB), CrossGen needs 3GB (was 6 GB). And 3GB is too much for x86.

[2017-05-09 18:10] pgavlin commented on #11446
Closed by #11455.

[2017-05-09 18:10] #11446 closed

[2017-05-09 18:16] russellhadley opened #11471 "Implement machine dependent peephole optimizer at lower time"
New pass is intended to exploit machine dependent instructions and allow for low level optimization based on specific instruction semantics.

Goals:
- Run before register allocation to remove issues with false dependencies and allow reduction in register pressure.
- Exploit specific features of the target ISA. Including but not limited to:
  * Immediate encoding size/shift semantics
  * Particular

[2017-05-09 18:18] erozenfeld opened #11472 "Investigate Condition21.Test4 failure in TailcallVerifyWithPrefix"
Condition21.Test4 in TailcallVerifyWithPrefix (in tests\src\JIT\opt\Tailcall) is currently failing and disabled. Here is the output of the test (checked x64):

        Executing Condition21.Test4 - Verifying helper frame location on the stack.
        The following shows a list of stack addresses of a local on the stack.
        You should see the same address three times before it decreases and r

[2017-05-09 18:20] erozenfeld opened #11473 "Investigate Condition21.Test5 failure in TailcallVerifyWithPrefix"
Condition21.Test5 in TailcallVerifyWithPrefix (in tests\src\JIT\opt\Tailcall) is currently failing and disabled. Here is the output of the test (checked x64):

       Executing Condition21.Test5 - Verifying helper frame location on the stack while using multiple threads.
        The following shows a list of stack addresses of a local on the stack.
        You should see the same address three tim

[2017-05-09 18:29] erozenfeld opened #11474 "Enable tail recursion elimination for methods with struct parameters or returns"
Tail recursion elimination (turning tail-recursive calls into loops) is currently not enabled for methods with struct parameters or struct returns:
https://github.com/dotnet/coreclr/blob/fbb672490ee3812bcb4054b9df566f49f8016981/src/jit/morph.cpp#L7869

[2017-05-09 18:31] janvorli commented on #10382
Fixed by #11467

[2017-05-09 18:31] #10382 closed

[2017-05-09 18:35] lt72 opened #11475 "Support Windows Minidump collection on x86"
Related to #10334

[2017-05-09 18:54] sandreenko opened #11476 "[x86, R2R] Jit/Regressions/JitBlue/DevDiv_278523 test failure"
This test contains such IL sequence:
[code]

On x86 this sequence is not compiled and executed in CoreRun, because the method that contains it (Test64Bit) is called under condition that pointer size is 64 bits.

However, CrossGen has to compile it and it blows up on the assert that address should have native int size.

ECMA says that it is " an invalid CIL instruction" ([ecma](http://www.ecma-inte

[2017-05-09 18:56] sandreenko commented on #11476
PTAL @dotnet/jit-contrib .
What is a contract for " an invalid CIL instruction"? Should we throw an exception? Could we execute such code? Could we execute it differently on different architects?

[2017-05-09 18:57] BruceForstall commented on #11440
@dotnet/jit-contrib

[2017-05-09 19:04] sandreenko commented on #11476
PEVerify output:
[code]
So it shows the error for native int + int64.
Why does it complaint about native int + int32?

[2017-05-09 19:08] gkhanna79 commented on #10209
@mmitche Can you please get @janvorli a Mac machine from the CI lab for him to investigate this?

[2017-05-09 19:52] rartemev commented on #10857
The GCStress test fixed there https://github.com/dotnet/coreclr/pull/11455 so the issue is completed.

[2017-05-09 19:52] #10857 closed

[2017-05-09 20:17] danmosemsft commented on #11453
@sepidehMS can you do this one for 5/10 ?

[2017-05-09 20:34] sepidehMS commented on #11453
@danmosemsft I can't say for sure I will finish it for 5/10 with two other tasks I need to finish, but I certainly can spend time on this for investigation.

[2017-05-09 20:40] RussKeldorph commented on #11469
I'm arguing that this isn't specific to x86...it's just that x86 is less able to accommodate this memory allocation pattern.

[2017-05-09 20:55] gkhanna79 commented on #9080
@richlander @bleroy Any ETA on this?

[2017-05-09 20:56] danmosemsft commented on #11453
OK!

[2017-05-09 21:05] sandreenko commented on #11476
jit32 ngen fails with the same assert.

[2017-05-09 21:17] AlexGhiondea commented on #11453
@sepidehMS the fix for this is to do something like what I have in this branch: https://github.com/AlexGhiondea/coreclr/tree/MakeSetData

[2017-05-09 21:26] CarolEidt commented on #11476
It is a managed pointer (the address of a local), and although it is not invalid IL, it is unverifiable to add a managed pointer and an integer (so peverify appropriately gives an error).

We should invoke the `BADCODE` macro, which causes an exception to be thrown (by the VM I believe).

In theory invalid IL should be independent of target architecture, but for historical reasons we have generall

[2017-05-09 21:48] #10920 closed

[2017-05-09 22:04] gkhanna79 commented on #10209
@mmitche Were you able to get a machine to @janvorli since we are tracking this for ZBB tomorrow?

[2017-05-09 22:12] janvorli commented on #10209
@gkhanna79, @mmitche has provided me with all the information necessary to access the machine. I am now in a process of resolving access issues to the Mac machine.

[2017-05-09 23:11] ThePenetrator commented on #11417
[code]

[2017-05-09 23:22] russellhadley commented on #11471
Add random repro case for bit shifting that we're currently missing on x86.  https://gist.github.com/russellhadley/e55fc9a918626166d98077aa3c8047c6

[2017-05-09 23:36] #10780 closed

[2017-05-09 23:41] janvorli commented on #10209
The results of the test run on the dci-mac-build-043 are even more ridiculous. They are actually consistently better than on my local Mac! Where on my mac I was getting average delta time between the Sleep and time measured by the QueryPerformanceTimer of 9ms, on the lab machine when I've ran the stuff manually I am now getting 3ms.
So the only explanation I can see is that something in the Jenkin

[2017-05-09 23:56] janvorli commented on #11417
@ThePenetrator thank you and sorry for the incorrect path to the libssl in my question. So this output confirms that it is really the issue I have mentioned. I have fixed it in the https://github.com/dotnet/corefx/pull/19070.
@gkhanna79 can we estimate when this change will be in the dotnet core sdk 2.0.0 package that we publish on https://github.com/dotnet/cli?

[2017-05-10 00:10] karelz commented on #11391
BTW: It doesn't look like it belongs into CoreCLR repo ...

cc @weshaggard @ericstj

[2017-05-10 00:12] karelz commented on #11417
@janvorli does it belong to CoreCLR repo? Is it tracking anything actionable here?
Maybe we should move it into CLI repo?

[2017-05-10 00:13] RussKeldorph commented on #11476
@CarolEidt Would it be reasonable to make CoreCLR always invoke BADCODE for this and leave it as a (Full) .NET quirk?  It's too late IMO to introduce such a breaking change for x64 for 2.0, but perhaps we could see if it would float for a future release.  Seems like we should at least make sure the JIT64 behavior doesn't propagate to ARM64 and ARM right now.

[2017-05-10 00:33] janvorli commented on #11417
@ThePenetrator, @gkhanna79, @karelz actually, I have just realized that while the dotnet core sdk that we currently publish would not work on the Debian 9 due to the reason I've mentioned, the issue that @ThePenetrator is seeing actually means that something else is failing too even earlier. So let's investigate a bit more here.

@ThePenetrator, the error code means that there was a managed except

[2017-05-10 00:46] parjong commented on #9484
@danmosemsft Sorry for late response. I think that we may close this issue. Currently, there are no further actions related with this issue. EH subsystem now works for x86/Linux (although there are several GC-related issues), and https://github.com/dotnet/coreclr/pull/10023 already updated CLR ABI document.

@wateret  Could you let me know your opinion?

[2017-05-10 00:51] janvorli commented on #10209
Hmm, I've tried to run coreclr build in one console and the test in another on my local Mac and there was no such effect. On the contrary, the diff went down from 9ms to 2ms. After cancelling the build, the diff goes back to 9ms. It is a reproducible behavior, I've tried multiple times.
So I have currently no idea on what can be causing the strange behavior in the CI. The only clear thing is that

[2017-05-10 03:18] jkotas commented on #295
Let's track further progress on the ILVerify tool in CoreRT repo:
- https://github.com/dotnet/corert/labels/area-ILVerification
- https://github.com/dotnet/corert/tree/master/src/ILVerify/

I have opened following issues in CoreRT repo on topics discussed above:
- testing https://github.com/dotnet/corert/issues/3569
- ByReference'1 https://github.com/dotnet/corert/issues/3568
- mscorlib, or Privat

[2017-05-10 03:18] #295 closed

[2017-05-10 03:22] wateret commented on #9484
@parjong I agree. I think it's good to close this issue.

[2017-05-10 03:25] #9484 closed

[2017-05-10 03:55] danmosemsft commented on #9484
thanks!

[2017-05-10 08:39] flo8 opened #11487 "Uri.IsWellFormedUriString() returns false for a URL which is correct"
I have a C# (.Net Core 1.1) app that needs to check if a URL is valid. I used the Uri.IsWellFormedUriString() which works pretty well but have a doubt about this one below which **returns false**. It seems to me that the URL is perfectly valid?

`Uri.IsWellFormedUriString("http://www.test.com/search/Le+Venezuela+b%C3%A9n%C3%A9ficie+d%27importantes+ressources+naturelles+%3A+p%C3%A9trole%2C+gaz%2C+m

[2017-05-10 08:59] janvorli commented on #11417
@ThePenetrator I've tried to install the dotnet core package 1.1 for Debian from http://dot.net and I can repro your behavior, so I don't need the log anymore. The issue is that the System.Globalization.Native.so references ICU libraries version 52 while the debian 9 has ICU version 57. The upcoming dotnet core 2.0 handles that - it can use any installed ICU with version >= 50.
You can try the lat

[2017-05-10 09:43] jyoungyun commented on #11248
@gkhanna79 I'm patching for tizen runtime nupkgs in Tizen CI. Can I put it in the master branch only? Or should I put it in release/2.0.0 branch too? I will update ASAP.

[2017-05-10 09:55] tonerdo opened #11490 "Debugging API"
What's the status of an X-Plat debugging api for .NET Core. If there's one how does it compare to the [ICorDebug interface](https://msdn.microsoft.com/en-us/library/ms230588(v=vs.110).aspx) for the full .NET Framework?

How is it utilized? I don't see ICorDebug exported in [vm/ecalllist.h](https://github.com/dotnet/coreclr/blob/master/src/vm/ecalllist.h) so I'm guessing `MethodImplOptions.Internal

[2017-05-10 10:17] jyoungyun commented on #11248
@gkhanna79 Since coreclr has no dependencies on other runtime pkgs, there are no patches to fix.
For core-setup, Tizen CI is not yet implemented and I will make a PR at least until 5/14.
As you know, the build trigger issues of your builds and oru builds have not been resolved yet. Currently the tizen runtime pkgs are built every 6 hours. So, the minor number exists only until 04th. Therefore,
 wh

[2017-05-10 10:45] janvorli commented on #11490
CC: @noahfalk - I think you have described the details somewhere, but I cannot find it.

[2017-05-10 11:13] smartouss opened #11491 "Load Types from unreferenced dlls Or dlls in bin"
Hi!!

I have .net core web api that call another web api, so i have a factory class that create proxies objects at run time.

I divided the controllers into separate projects and i add them as part at startup.

My problem is that some proxies are not referenced in the project that have the startup class, and i'm trying to create the object using Type.GetType method but im getting an error that cou

[2017-05-10 13:44] karelz commented on #11417
Here's documentation on dogfooding .NET Core 2.0: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

[2017-05-10 14:46] berets76 opened #11494 "Detected package downgrade: Microsoft.NETCore.App from 1.1.2 to 1.1.1"
Hi, after NuGet packages update I got this warning VS 2017 error list

 MyASPNETCoreProject (>= 1.0.0) -> Microsoft.VisualStudio.Web.CodeGeneration.Design (>= 1.1.1) -> Microsoft.NETCore.App (>= 1.1.2)
MyASPNETCoreProject (>= 1.0.0) -> Microsoft.NETCore.App (>= 1.1.1)

Actual situation
![image](https://cloud.githubusercontent.com/assets/9038856/25904482/a17837a0-359f-11e7-93a7-94a331ffb74f.png)

I

[2017-05-10 14:50] mazong1123 commented on #11487
I think you'd better ask this question on [corefx repo](https://github.com/dotnet/corefx/issues) as this method was [implemented there](https://github.com/dotnet/corefx/blob/7df6b74cc4aeebc86e76b5c7901a59fa7fa793f6/src/System.Private.Uri/src/System/UriExt.cs#L365).

[2017-05-10 14:51] devinvisible commented on #10873
I'm not sure if "Microsoft Symbol Servers" (mentioned under Debugging > Symbols in the Options dialog of Visual Studio 2017) is accounted for by the "We then need to upload those to" locations mentioned by the original poster but it should be. Also consider publishing to https://msdl.microsoft.com/download/symbols so that classic _NT_SYMBOL_PATH setups will just work.

[2017-05-10 14:54] gkhanna79 commented on #11248
@jyoungyun All PRs need to be made against master branch (which is targeting preview2) since our release/2.0.0 branches are locked down (for preview1). If you need something for Preview1 in Tizen packages you are producing, you will need to (temporarily) make those changes in your copy of release/2.0.0 branches.

I think the response at https://github.com/dotnet/core-setup/issues/1566#issuecomment

[2017-05-10 15:09] gkhanna79 commented on #11417
@janvorli We had significant engineering changes in Core-Setup repo (which CLI consumes) and have not had a good build until yesterday. @eerhardt can comment on when CLI will be able to consume the latest Core-Setup (which should contain the latest Core-FX that should have your fix).

[2017-05-10 15:50] sebastianbk commented on #11494
I am experiencing the same issue. I just upgraded my packages via NuGet and received exactly the same warning as @berets76.

[2017-05-10 16:28] gkhanna79 commented on #10209
@janvorli Sounds like it has been confirmed this is not a product issue. Given that, can we move it out of 2.0 and mark this as an infrastructure issue that we can continue to investigate?

[2017-05-10 16:28] mikedn commented on #11471
Presumably you're referring to the `and x, 31` added by the C# compiler. That can be easily be removed in lowering or morph. I once tried in morph, saves ~500 bytes in jitdiff fx.

[2017-05-10 16:32] janvorli commented on #10209
@gkhanna79 sounds good to me. I've done that.

[2017-05-10 16:50] cbeall commented on #11494
I did the same thing in Visual Studio. I think the problem is there needs to be a manual update in the csproj file to update RuntimeFrameworkVersion to 1.1.2.

[2017-05-10 16:51] berets76 commented on #11494
Update : I installed Visual Studio 2017 update version 15.2 (26430.04) , today's release (just 20 minutes ago) and reopening my solution all works, all projects are updated (to 1.1.2) and warning disappear.

So, install latest update of Visual Studio is the fix.

[2017-05-10 17:04] eerhardt commented on #11417
The latest CLI code contains core-setup's build `2.0.0-preview2-25309-07`, which was built yesterday.  However the CLI master branch's official builds have been failing for a few days and are blocked getting any new builds out.

@livarcocc can estimate when a new .NET Core SDK build will be available.

[2017-05-10 18:34] lt72 commented on #10873
`consider publishing to https://msdl.microsoft.com/download/symbols so that classic _NT_SYMBOL_PATH setups will just work`

we will do that.

[2017-05-10 19:21] slozier opened #11498 "Assembly.Load does not find assembly in the application base directory"
I tried the following:
[code]
which results in a `FileNotFoundException`. Works fine with .NET Framework.

All the documentation I'm finding relates to the .NET Framework and says that Assembly.Load will do probing in the application base directory if it fails to find the assembly elsewhere. If .NET Core is supposed to behave differently is there some documentation outlining the differences?

I gu

[2017-05-10 19:34] swaroop-sridhar opened #11499 "AssemblyLoadContext.GetAssemblyName throws unexpected exception"
In this simple test program
[code]

The program is expected to throw `BadImageFormatException` if it cannot load the file specified.
However, it throws a `MissingMethodException`.

[code]

[2017-05-10 20:01] sdmaclea opened #11501 "[Arm64/Arm] Improve volatile coverage in tests"
For platforms with loose memory ordering semantics, the IL Volatile prefix requires injection of explicit barriers.

No tests currently exercise cpblk and initblk with volatile prefix.

[2017-05-10 20:02] sdmaclea commented on #11501
@briansull

[2017-05-10 20:06] russellhadley commented on #11471
@mikedn If you have the change we'd take it.  :)  The example was in an old issue in our internal database and I was just cleaning house.

[2017-05-10 20:22] mikedn commented on #11471
@russellhadley The morph version is in #8744. I did it in morph thinking that it may be a good idea to get rid of unnecessary instructions early but then gave up on it because morph is already too hairy. I suppose I'll make a lower version one of these days. After all the example you have is written by me, I just found it on my HDD :)

[2017-05-10 20:52] RussKeldorph opened #11502 "RunCrossGen logic should not modify the test binaries"
I think it's a bad idea for the `RunCrossGen` [logic](https://github.com/dotnet/coreclr/blob/c9f469e5fc99a498f46bd2d60fb198b7f7f1c22b/tests/src/CLRTest.CrossGen.targets#L46-L48) to leave the test project folder in a modified state.  I'd prefer that all work be done in a temp location or at the very least have the runner logic restore the state of the folder to the original so that the folder can b

[2017-05-10 20:54] RussKeldorph opened #11503 "Timing issue in some baseservices tests"
There is a timing issue in tests when multiple tests share a test binary via the `<CLRTestProjectToRun>` property and when the tests are run with crossgen (`r2r` jobs).

I believe the problem is that even though the `RunCrossGen` logic attempts to prevent two projects from `crossgen`ing the same binary at the same time, one project can have [moved the binary](https://github.com/dotnet/coreclr/blob

[2017-05-10 20:55] RussKeldorph commented on #11503
@gkhanna79 @wtgodbe FYI

[2017-05-10 20:55] RussKeldorph commented on #11502
@gkhanna79 @wtgodbe FYI

[2017-05-10 21:04] gkhanna79 commented on #11503
This failure is not present in https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fr2r~2Fcli~2F/build/20170509.02.

@RussKeldorph Is there something different in CI to trigger this? how consistently does this repro?

[2017-05-10 21:07] wtgodbe commented on #11503
This is because Mission Control runs the Xunit wrappers, which run tests serially (Mission Control does run several Xunit wrappers at once, but the tests within each wrapper run serially). CI runs runtest.sh, which runs tests in parallel.

[2017-05-10 21:07] RussKeldorph commented on #11503
@ghanna79 @wtgobe speculated that the tests may be running serially in Helix, which would prevent this from happening.  We also don't seem to see this in the Windows Jenkins jobs, so perhaps msbuild is serializing the projects for some reason.  We only seem to see this on Jenkins Unix, where presumably the test runner doesn't do any special synchronization.

[2017-05-10 21:07] wtgodbe commented on #11503
@RussKeldorph Windows Jenkins jobs also run the Xunit wrappers

[2017-05-10 21:11] RussKeldorph commented on #11503
@gkhanna79

Pretty much every Unix R2R job as far as I can tell.

[2017-05-10 21:12] wtgodbe commented on #11503
@RussKeldorph Unix jobs in Helix run through the Xunit Wrappers

[2017-05-10 21:18] noahfalk commented on #11490
@mikem8361

The x-plat debugging API is ICorDebug. It works well minus a few features that haven't been ported yet. This is what VSCode uses for example when debugging on Linux and mac.

I wasn't sure what you were eluding to with MethodImplOptions.InternalCall? ICorDebug is implemented in mscordbi.dll and meant to be loaded into the debugger which process which is seperate from the debuggee proce

[2017-05-10 21:22] tarekgh opened #11504 "Remove un-needed target when upgrading to v2 BuildTools"
We have done some change in the PR #11482 to change the license Url for packaging. because wcf repo not using v2 of the buildtools we had to hack this by adding the temporary target OverrideLicenseUrl in the src/.nuget/dir.targets files. This target should be removed after upgrading to v2 of the buildtools and need to ensure when removing it the license Url in the packages nuspec files is correct

[2017-05-10 21:34] tsolarin commented on #11490
@noahfalk thanks for the answer, that clarifies a lot. Any documentation on those few features that haven't been ported over?

[2017-05-10 21:37] AlexGhiondea commented on #11453
I have a PR for this here: https://github.com/dotnet/coreclr/pull/11496

[2017-05-10 21:47] noahfalk commented on #11490
Np, glad to help.
@mikem8361 would know best what that gap is, off the top of my head I think it might be managed return value, exception interception, and one uncommon corner case for stackwalking on dump debugging.

[2017-05-10 22:00] danmosemsft commented on #11453
@ViktorHofer if @sepidehMS doesn't have time to do this today could you please get the PR in.

[2017-05-10 22:06] AlexGhiondea commented on #11453
@danmosemsft the PR is approved -- I am just waiting for CI to complete

[2017-05-10 22:43] RussKeldorph commented on #11442
@karelz I could maybe understand this not blocking 2.0, but this should not be tolerated for long as it's a huge pain.  Can we at least agree to fix this in 2.1?  Along with fixing the existing absurdly long paths, there should be a test or build step or something that guarantees the Windows MAX_PATH limit won't be exceeded for a root path length of at most N characters, for some reasonable value

[2017-05-10 23:15] erozenfeld opened #11508 "Silent bad codegen when passing and comparing ushort args"
Repro:

Compile Program.cs below:

.\Tools\dotnetcli\dotnet.exe Tools\csc.exe /o+ /out:Program.exe Program.cs /r:.\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\System.Private.CoreLib.dll /r:.\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\System.Console.dll /r:.\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\System.Runtime.dll

Program.cs:
[code]
.\bin\tests\Windows_NT.x64.Checked\Tests\Co

[2017-05-10 23:18] danmosemsft commented on #11453
Great - thanks both of you.

[2017-05-10 23:18] erozenfeld commented on #11508
Codegen for passing the args to `comparer.Equals(a, b)`:
[code]
Note the sign extension for both arguments.

Codegen for System.Collections.Generic.GenericEqualityComparer`1[StructWithValue][TestApp.StructWithValue]:Equals(struct,struct):bool:this

[code]
Zero extension is done only on one of the parameters.

[2017-05-10 23:28] RussKeldorph opened #11509 "[x86][JitStressRegs=4] Methodical\Invoke\25params\25param2b_il_r\25param2b_il_r fails"
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_jitstressregs4/156/testReport/

[code]

[2017-05-10 23:30] RussKeldorph commented on #11509
@dotnet/jit-contrib

[2017-05-10 23:30] RussKeldorph commented on #11508
@dotnet/jit-contrib

[2017-05-10 23:41] swgillespie opened #11510 "[Local GC] Undefined symbol when building standalone: IsGCThread and IsGCThreadSpecial"
[code]

These will probably need to be added to `IGCToCLR`.

[2017-05-10 23:43] swgillespie opened #11511 "[Local GC] Undefined symbols when building standalone: CPUGroupInfo and NumaNodeInfo"
[code]

These will likely need to go into `GCToOSInterface`. Related to https://github.com/dotnet/coreclr/pull/10938.

[2017-05-10 23:45] swgillespie opened #11512 "[Local GC] Undefined symbol when building standalone: g_SystemInfo"
[code]

These should be using `GCToOSInterface` instead.

[2017-05-10 23:48] swgillespie opened #11513 "[Local GC] Undefined symbol when building standalone: g_TrapReturningThreads"
[code]

This is read in hot loops and it may not be possible to introduce an indirection here.

[2017-05-11 00:06] swgillespie commented on #9017
All of these have been addressed through various checkins over the past month or so.

[2017-05-11 00:06] #9017 closed

[2017-05-11 00:12] swgillespie opened #11514 "[Local GC] Enable feature: FEATURE_EVENT_TRACE"
Related to https://github.com/dotnet/coreclr/issues/8268. This feature is not functional with a standalone GC - it will require changes to the `IGCToCLR` interface.

[2017-05-11 00:13] swgillespie opened #11515 "[Local GC] Enable feature: GC_PROFILING"
Related to https://github.com/dotnet/coreclr/issues/8268. Some of this work has been done already but there is additional work to be done to enable a profiler to walk the heap - in particular, `ScanContext` refers to VM internals when traversing the heap.

[2017-05-11 00:16] swgillespie opened #11516 "[Local GC] Enable feature: STRESS_HEAP"
Related to https://github.com/dotnet/coreclr/issues/10403. `STRESS_HEAP` was disabled because it is tightly coupled to both EE and GC details.

[2017-05-11 00:18] swgillespie opened #11517 "[Local GC] Enable feature: FEATURE_APPDOMAIN_RESOURCE_MONITORING"
When this feature is enabled, the GC references the system app domain directly and records resource usage information for it, which a standalone GC can't do.

[2017-05-11 00:19] swgillespie opened #11518 "[Local GC] Local GC Feature Meta-Issue"
This issue tracks all of the sub-issues related to Local GC on CoreCLR.

The current status of Local GC on CoreCLR:

1. With the `FEATURE_STANDALONE_GC` feature define, the VM can build such that it is capable of loading and running a standalone GC.
2. With the `FEATURE_STANDALONE_GC_ONLY` CMake feature define, the VM builds and links directly against a standalone GC.
3. The GC currently does not

[2017-05-11 00:25] swgillespie opened #11519 "[Local GC] Enable feature: WRITE_BARRIER_CHECK"
This feature introduces [three global variables](https://github.com/dotnet/coreclr/blob/master/src/gc/gccommon.cpp#L31-L33) shared between write barrier code and the GC. If we wish to support this feature, we will need to split these globals into separate EE and GC that are synchronized whenever one side changes them.

[2017-05-11 00:32] janvorli commented on #11511
@swgillespie this is where the experimental refactoring that I've made and shown you before could be used.
Here is the commit again for your reference: https://github.com/janvorli/coreclr/commit/19bad47774c4d39dad46a5f211ff237c25c50b78

[2017-05-11 00:32] swgillespie commented on #9016
Closing in favor of https://github.com/dotnet/coreclr/issues/11518

[2017-05-11 00:33] swgillespie commented on #11511
@janvorli Great! Thank you!

[2017-05-11 00:42] karelz commented on #11442
If it bothers us (i.e. we and community members hit it on regular basis), I agree we should tackle it rather sooner than later. @weshaggard @mellinoe thoughts?

[2017-05-11 00:53] danmosemsft commented on #11453
Fixed right @alexghiondea

[2017-05-11 01:09] flo8 commented on #11487
Thanks @mazong1123 that's what I did:
https://github.com/dotnet/corefx/issues/19630
Closing this one.

[2017-05-11 01:09] #11487 closed

[2017-05-11 01:28] micli opened #11520 "Compile failed on CentOS 7"
When I compile the newest version coreclr on CentOS 7, It always failed recently with below error message:

/coreclr/Tools/sign.targets(70,5): error : obj/Linux.x64.Debug/System.Private.CoreLib/System.Private.CoreLib.dll: I/O error reading or writing PE file: Invalid argument [/coreclr/src/mscorlib/System.Private.CoreLib.csproj]

[2017-05-11 01:33] mellinoe commented on #11442
This sounds very likely to happen, so we should try to fix it, I think. I'm not sure if the path in this "sources" folder is significant, but at the very least we should be able to make the file name shorter. "System.Runtime.InteropServices.WindowsRuntime.notsupported.cs" is pretty long just by itself.

[2017-05-11 02:26] jkotas commented on #11499
Regression introduce by https://github.com/dotnet/coreclr/pull/11314

[2017-05-11 02:27] jkotas commented on #11453
We need regression test in corefx

[2017-05-11 06:30] jyoungyun commented on #11248
@gkhanna79 Is it a lock down on May 15 for preview1? Or did you already have a preview1 release?

[2017-05-11 09:42] janvorli commented on #11520
@micli I have just tried to build the latest sources on my local CentOS 7 and it succeeded.
Can you please run "git clean -xdf" in the root directory of the coreclr to clear all the Tools, packages and bin sub-directories and try again?

[2017-05-11 12:26] breyed commented on #11494
Beware, however, that while VS 15.2 fixes one problem regarding the target framework, it [causes another](http://stackoverflow.com/q/43902658/145173). Be prepared to update your csproj file to apply the fix if you host on Azure.

[2017-05-11 14:17] sdmaclea commented on #11184
This has not reproduced in a few dozen runs.  Closing

[2017-05-11 14:17] #11184 closed

[2017-05-11 14:20] sdmaclea commented on #10769
The issues are fixed on Unix.  The Windows version is still waiting on #11420 & #11261

[2017-05-11 14:23] sdmaclea commented on #9581
The remaining issues seem were resolved by #11478.

[Arm64/Unix] GCStress0xF is currently clean on the tip.  (Tested on 0dcdd0d)

Closing.

[2017-05-11 14:23] #9581 closed

[2017-05-11 14:25] sdmaclea commented on #9517
Currently requires #10981 & #11413

[2017-05-11 14:39] sdmaclea opened #11524 "[Arm64] Tests fail to complete after 10 CPU hours"
On Arm64/Unix, I am seeing the following tests take an excessive time to complete.

[code]

[2017-05-11 14:41] sdmaclea commented on #11524
cc @dotnet/arm64-contrib

[2017-05-11 14:43] sdmaclea opened #11525 "[Arm64/Unix] Unhandled Exception: System.OverflowException"
I am seeing the following tests fail with an unhandled overflow exception
[code]

[code]

[2017-05-11 14:43] sdmaclea commented on #11525
cc @dotnet/arm64-contrib

[2017-05-11 14:46] sdmaclea commented on #9533
The [arm64/unix] current tip is failing 7 tests which are supported on [amd64/unix]

[code]

The five new failures were previously not being tested based on taking to long to run.

GCStress is clean.

[2017-05-11 14:54] karelz commented on #11499
Post-ZBB as it was created very late. Looks like must-have for 2.0.

[2017-05-11 14:55] karelz commented on #11509
Post-ZBB as it was created vety late (on ZBB date). Still in 2.0 though.

[2017-05-11 14:55] karelz commented on #11508
Post-ZBB as it was created very late (on ZBB date). Keeping it in 2.0.

[2017-05-11 14:57] karelz commented on #11453
@AlexGhiondea should we move the test part into CoreFX? (we don't have to if it is easier this way)

[2017-05-11 15:10] berets76 commented on #11494
I'm hosting on Azure but using a VM, so I installed DotNetCore.1.0.5_1.1.2-WindowsHosting.exe on it and my VS publish/deploy works.
Useful information for Azure App Service deploy.

[2017-05-11 15:23] gkhanna79 commented on #11498
Yes, this is by design for .NET Core.  https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/assemblyloadcontext.md talks about how assembly loading works in .NET Core.

[2017-05-11 15:24] stephentoub commented on #11453
I added a test here:
https://github.com/dotnet/corefx/issues/19657

[2017-05-11 15:25] #11494 closed

[2017-05-11 15:25] gkhanna79 commented on #11494
Issue moved to [dotnet/core-setup #2360](https://github.com/dotnet/core-setup/issues/2360) via [**ZenHub**](https://www.zenhub.com/)

[2017-05-11 15:26] gkhanna79 commented on #11491
You will need to use AssemblyLoadContext if the assemblies in question are not part of the application (https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/assemblyloadcontext.md).

[2017-05-11 16:16] gkhanna79 commented on #11248
@jyoungyun Preview1 release was already snapped in April and is released (see https://blogs.msdn.microsoft.com/dotnet/2017/05/10/announcing-net-core-2-0-preview-1/).

We will be snapping for PReview2, latest, by early next week (if not this week).

[2017-05-11 16:48] jashook commented on #11524
Hijacking is a dup of #4122

[2017-05-11 17:17] mattwarren commented on #11299
I've been digging into this a bit more, to re-cap there are 3 scenarios:

### Scenario One (from [Jon Skeet's Blog](https://codeblog.jonskeet.uk/2017/04/26/surprise-creating-an-instance-of-an-open-generic-type/))

[code]

### Scenario Two (from [Kirill Osenkov's blog](https://blogs.msdn.microsoft.com/kirillosenkov/2014/01/08/creating-an-instance-of-an-open-generic-type-without-specifying-a-type-ar

[2017-05-11 17:19] mattwarren commented on #11299
Scenarios **One** and **Three** end up in [ReflectionInvocation::CreateEnum(..)](https://github.com/dotnet/coreclr/blob/b4f28d7470da18ec871ae1240a6c9df2db44da2c/src/vm/reflectioninvocation.cpp#L2451-L2467), Scenario **Two** however goes to [ReflectionEnum::InternalBoxEnum(..)](https://github.com/dotnet/coreclr/blob/b4f28d7470da18ec871ae1240a6c9df2db44da2c/src/vm/reflectioninvocation.cpp#L2991-L300

[2017-05-11 17:35] AtsushiKan commented on #11299
Well the existing behavior won't be easy to support in CoreRT so I suppose it's worth trying to close this loophole now - with the exception first, and keep "return the underlying int" as a Plan B if that turns out to break more than expected.

How expensive is TypeHandle.ContainsGenericVariables()? If it's super cheap, I'd say fix it in the common place (MethodTable::Box).

[2017-05-11 17:36] sdmaclea commented on #11524
@jashook Looks like different failure symptoms than #4122.

[2017-05-11 17:39] jashook commented on #11524
I believe the root cause should be the same, just that the test is non-deterministic. Currently I am looking into the failure.

[2017-05-11 17:46] mattwarren commented on #11299
Sorry, I forgot too add that the reason I looked at throwing an `InvalidOperationException` was because I found that if you change **Scenario One** to instead fetch `value__` (the magic compiler field)

[code]

Then `InvalidOperationException` is thrown with [the message](https://github.com/dotnet/coreclr/blob/bb70a71ee1aa9c5ff6b4ff0851a8e622bb23c1ac/src/mscorlib/Resources/Strings.resx#L736-L738):

[2017-05-11 18:45] #11499 closed

[2017-05-11 19:32] NinoFloris commented on #11391
It's the same for omnisharp

[code]

it does compile, restore, test etc though

[2017-05-11 19:37] ericstj commented on #11391
Agree with @terrajobst, problem appears to be the VS setup.
Issues on project system should be filed in https://github.com/dotnet/project-system.

[2017-05-11 20:08] NinoFloris commented on #11391
Doesn't VS also use msbuild?

[2017-05-11 20:29] mikedn commented on #11508
@pgavlin In case you haven't looked at this yet the problem appears to be in morph. At some point we have
[code]
The top field gets transformed into a lclvar and then morph inserts a cast. The bottom indir gets transformed first into ind/addr/lclvar and then into lclvar. Now it's too late for the cast to be inserted.

[2017-05-11 20:30] russellhadley commented on #11508
@erozenfeld, just to keep context in morph.

[2017-05-11 21:18] ericstj commented on #11442
No, but if we have consumers of the Private.CoreFx packages other than core-setup maybe we should make them use the transport package infra that @chcosta created.  That way we'd have a different package that only had binaries.

I'm fine changing the name of the notsupported files, but I found that wasn't enough and was just the first long path that was hit.

[2017-05-11 21:41] eerhardt commented on #11442
We solved this in other repos by telling folks to set:

`git config --system core.longpaths true`

See https://github.com/dotnet/cli/issues/4182#issuecomment-277901627

[2017-05-11 22:37] jashook opened #11533 "[Arm64] NYI lvaArgType"
Affected Tests

<pre>
C:\Users\DDJOIN\arm64_ci\tests\tests\JIT\Performance\CodeQuality\Roslyn\CscBench\CscBench.cmd
C:\Users\DDJOIN\arm64_ci\tests\tests\managed\Compilation\Compilation\Compilation.cmd
</pre>

Example Output

<pre>
15:32:24 TestID: CscBench.cmd_8026
15:32:24 Path  : JIT/Performance/CodeQuality/Roslyn/CscBench/CscBench.cmd
15:32:24
15:32:24 Started: Wed May 10 15:17:09 2017
15:32:24

[2017-05-11 22:40] jashook opened #11534 "[Arm64] Test Failures with no output"
Affected Tests

<pre>
readytorun\genericsload\callgenericctor\callgenericctor.cmd
readytorun\generics\generics.cmd
readytorun\mainv1\mainv1.cmd
readytorun\mainv2\mainv2.cmd
GC\Stress\Framework\ReliabilityFramework\ReliabilityFramework.cmd
readytorun\genericsload\usegenericfield\usegenericfield.cmd
GC\Regressions\dev10bugs\536168\536168\536168.cmd
</pre>

Example Output
<pre>
15:32:24 TestID: usege

[2017-05-11 22:50] jashook commented on #11534
Note that these are regressions.

/cc @dotnet/arm64-contrib

[2017-05-11 23:28] BruceForstall opened #11537 "Commonize INS_adr handling"
On arm32, it is handled by emitIns_J_R, on arm64 by emitIns_R_L. It should probably use emitIns_R_L on both, and remove the `#ifdef` for `GT_LABEL` in `genCodeForTreeNode()`.

[2017-05-11 23:30] #3134 closed

[2017-05-12 00:24] AndyAyersMS commented on #10258
If user constructs a `Span<T>` with `T` a ref type in a loop we might not be able to optimize away the covariant type check in many cases, even with the above. This check is quite costly. We might be able to hoist it or express it more compactly/cheaply via some helper or intrinsic (like we do for the similar array store check).

`ReadOnlySpan<T>` is immune from this as no type test is required, a

[2017-05-12 00:30] parjong opened #11539 "[x86/Linux] Regression on thread-related tests (when tracing is enabled)"
0d5d0b40c4ecb3f7f4fcdc83a5a51a2ee65dfc89 shows regressions on thread-related tests:
[code]

All the regression hit the following assertion failure:
[code]

[2017-05-12 00:33] parjong commented on #11539
@jkotas @janvorli Is there any changes on threading?

[2017-05-12 00:48] AArnott opened #11540 "SemaphoreSlim.WaitAsync has very high contention cost in concurrent scenarios"
As @CyrusNajmabadi reports in https://github.com/Microsoft/vs-threading/issues/109, `SemaphoreSlim.WaitAsync` is observed in an ETL trace to cost a great deal of CPU time due to lock contention. This is very unfortunate, especially since being an async method, we'd rather simply resume later if a lock isn't immediately available.

![image](https://cloud.githubusercontent.com/assets/3548/25977671/e

[2017-05-12 00:48] AArnott commented on #11540
CC: @stephentoub

[2017-05-12 01:35] stephentoub commented on #11540
Is a timeout being supplied? A cancelable cancellation token?

[2017-05-12 02:06] hseok-oh commented on #10722
Now we can pass struct argument using register only. But we cannot pass struct argument to use stack yet.
- pass struct argument using stack only: blocked in codegen phase
- pass struct argument using stack and register(s): blocked in morphing phase

[2017-05-12 02:28] #3092 closed

[2017-05-12 02:28] jkotas commented on #11539
I am not aware of anything. What is the stacktrace where this assert hits?

[2017-05-12 02:49] AArnott commented on #11540
No timeout. But yes, it has a cancelable cancellation token.

[2017-05-12 02:52] stephentoub commented on #11540
That's a more expensive code path. How is contention influenced if None is passed in.

[2017-05-12 04:42] parjong commented on #11539
It seems that this issue is related with event pipe:
[code]

[2017-05-12 10:44] Whomsonever opened #11543 "dotnet build failed"
I have just installed documentation in the VS 2017 Help Viewer and am attempting to complete the first C# Tutorial which is for a console application:
The initial instructions are :
in a command window enter
dotnet new console   ( to which I had to add -all)                      .... this worked ok
dotnet restore                                                                             .... this

[2017-05-12 13:16] DavePilks commented on #10717
I have tried this workaround but it didnt work for me. Any other suggestions?

[2017-05-12 13:16] jkotas commented on #11539
cc @brianrob

[2017-05-12 13:17] jkotas commented on #11539
Brian, could you please take a look? It is likely affecting all platforms.

[2017-05-12 13:35] DavePilks commented on #10717
We managed to work around this by turning off JavaScript Debugging.

[2017-05-12 14:32] sdmaclea opened #11545 "[Arm64] Use Half barriers and Load-Acquire Store Release to Implement IL Volatile Prefix"
@briansull  @RussKeldorph

**From the ARMv8 Architecture Reference Manual** https://static.docs.arm.com/ddi0487/b/DDI0487B_a_armv8_arm.pdf
[code]

If you read this carefully, you will notice that these sequences are functionally identical for our purposes.

- `Load-Acquire;   Load` ~ `Load;     DMB LD;     Load`
- `Load-Acquire;     Store` ~ `Load;      DMB LD;    Store`
- `Load;   Store-Release`

[2017-05-12 14:33] sdmaclea commented on #11545
cc @dotnet/arm64-contrib @dotnet/jit-contrib

[2017-05-12 15:05] jkotas commented on #11543
Try to execute these steps in a new empty directory.

The error suggest that you have done them in c:\windows\system32 and unrelated powershell files under this directory are getting picked up by `dotnet build` causing the error. `dotnet build` will try to build everything that is under current directory by default.

[2017-05-12 15:21] gregg-miskelly commented on #10717
No idea how having JavaScript debugging on could possibly effect this, but I am glad you have something.

[2017-05-12 15:36] AArnott opened #11548 "CancellationToken.Register should take an Action<CancellationToken, object> delegate"
I have to allocate a new delegate and closure in my `CancellationToken.Register` calls because I need an object *and* the `CancellationToken` itself:

[code]

Yet it would seemingly be a simple thing for the invoker of my delegate to *also* provide a copy of the `CancellationToken` itself when calling my delegate so that I can avoid the cost of the closure and then reuse the delegate for all invoc

[2017-05-12 15:57] BruceForstall commented on #11545
cc @janvorli

[2017-05-12 16:02] Whomsonever commented on #11543
Dear JKotas,
Thank you for your prompt response, but I do not understand what to do.

I would agree that the first time I attempted this tutorial that I probably just opened a standard command prompt whereas the second time (with the errors shown above) I used a Developer Command Prompt for VS2017 as administrator.

Do I need to delete a folder in system32 or run a command to clean a folder or ?

[2017-05-12 16:09] jkotas commented on #11543
Try this:

[code]

[2017-05-12 16:11] brianrob commented on #11539
This is affecting all platforms.  The EventPipe holds a Crst while it calls into EventSources to enable them.  It looks like the assert just fires on x86.  @jkotas, I take it regardless of the fact that an assert is not firing on x64 that it is unsafe to hold the Crst while calling into managed code on all platforms/architectures?  I'll work on a fix for this.

[2017-05-12 16:18] TingluoHuang opened #11550 "KERNELBASE.dll crash during coreclr!CallDescrWorkerInternal"
My app crashed during exit. I take a minidump and checked with Windbg.
[code]

I still get the repro VM around if anyone interested, and i can share the dump as well.

[2017-05-12 17:10] brianrob opened #11551 "Change EventPipeProvider ID from GUID to String"
Especially in EventSource, we go through a good amount of work to make provider IDs strings so that they are human readable.  We should do this in EventPipe as well.

[2017-05-12 17:11] brianrob opened #11552 "Enable Symbolic Rundown for EventPipe"
This is need to resolve symbols for code addresses in EventPipe events.

[2017-05-12 17:13] brianrob opened #11553 "Make Sample Profiler Sampling Rate Configurable"
Right now it is hard-coded at 1 sample per ms.

[2017-05-12 17:14] brianrob opened #11554 "Mark Sample Profiler Samples as On or Off CPU"
The sample profiler doesn't distinguish between on or off CPU - it only states that the thread was at a given call stack when the sample was produced.

[2017-05-12 17:15] brianrob opened #11555 "Account for GC Time in Sample Profiler"
When a GC suspension occurs, the sample profiler doesn't emit any samples.  It would be good to emit something (perhaps a cached call stack) with a GC frame at the top to show where the time is being spent.

[2017-05-12 17:17] brianrob opened #11556 "EventPipe Will Crash if EventSource is Unloaded"
EventSource deletes its corresponding EventPipeProvider and EventPipeEvents, but each emitted event instance has a pointer to the EventPipeEvent.  This will cause an AV.

[2017-05-12 17:18] brianrob opened #11557 "Remove NeedStack from EventPipeEvent"
The producer of events should not decide if a callstack is needed - this should be done on the consumer side.

[2017-05-12 17:21] brianrob opened #11559 "Use the Event/Provider in Enabled Macros in eventtracebase.h"
Update these macros to use event/provider Enabled checks: https://github.com/dotnet/coreclr/blob/master/src/inc/eventtracebase.h#L112

[2017-05-12 17:22] brianrob opened #11560 "SampleProfiler: Avoid Unnecessary Stack Walks"
Look for ways to optimize away stack walks that we know won't have changed since the last sample.

[2017-05-12 17:28] brianrob opened #11561 "Implement Write(T) Overloads in FastSerializer"
Overloads can be short inline functions that avoid the cast to BYTE* and can be more heavily optimized than calls to WriteBuffer: https://github.com/dotnet/coreclr/blob/master/src/vm/fastserializer.cpp#L96

[2017-05-12 17:30] brianrob opened #11562 "Remove FastSerialization DEBUG Markers"
This will cause files produced in DEBUG to differ from those in RELEASE.  If we want to keep this, consider a mechanism that allows the reader to know about it and skip it.

[2017-05-12 17:31] brianrob opened #11563 "Serialize the Number of Stack Frames in EventPipeEventInstance"
Right now, the parser knows that the stack is the last item in the serialized EventPipeEventInstance.  It would be good to log the # of frames so that it can know if there is something beyond it and old parsers can skip it.

[2017-05-12 17:32] RussKeldorph commented on #11545
@sdmaclea Thanks for quoting the spec.  I think I follow the logic for all of your "functionally identical" cases except `Load; Store-Release` ~ `Load; DMB ST; Store`.   I'm having trouble seeing that equivalence because `DMB ST` doesn't affect loads, but `Store-Release` does.  `DMB LD` was added since I last reviewed this stuff long ago, but it appears to by asymmetric with `DMB ST` in that the f

[2017-05-12 17:33] brianrob opened #11564 "Move the MetadataLabel Interner into FastSerialization"
Right now, the interner is in EventPipeFile, but it would be good to move it to FastSerializer so that it can be used for more than just metadata labels.

https://github.com/dotnet/coreclr/blob/master/src/vm/eventpipefile.cpp#L104

[2017-05-12 17:41] sandreenko commented on #11509
what we really generate:
[code]
what complus_disasm shows us:
[code]

[2017-05-12 17:45] sdmaclea commented on #11545
@RussKeldorph Looks like you are right.  I missed that nuance.  Looks like we need to keep the full barrier before the Store.

[2017-05-12 17:49] brianrob opened #11565 "Consider Having a Handle to an EventPipe"
From @vancem:

I notice that EventPipe is a singleton (it has no 'handle' that represents opened pipe). I think that this will become a needless stumbling block if we ever need more than client. Lifetime issues also tend to be handled sloppily when you have static singletons (the obligation to close the instance on end of use is not as clear). Thus I believe that EventPipe be a true instance class

[2017-05-12 17:50] brianrob opened #11566 "Support Specifying Session on WriteEvent"
From @vancem:

One of the major cleanup items is to fix an issue with custom filtering and ETW (bug 105200). TO fix this we need to be able NOT write to every session with a particular WriteEvent call. We will be doing this by using the Filter parameter of the EventWriteEx method, and we will need to plumb that through here as well. I debated asking you to do this plumbing now, but It is probably

[2017-05-12 17:52] briansull commented on #11509
This looks like a byte register encoding issue.

The x86 arch doesn't support encoding edi or esi as byte registers.
I don't have the full context here, but that looks like what "dl" and "sl" are referring to.
If you try to use the regnum of these registers on x86 they end up referring to the upper bytes of ebx or edx instead like you showed.

[2017-05-12 17:53] briansull commented on #11509
On x64 I believe that they support the encoding by using a prefix opcode.

[2017-05-12 17:55] brianrob opened #11567 "Implement Functional Tests for EventPipe"
Make sure that there is appropriate regression testing for the EventPipe.

[2017-05-12 18:04] #9214 closed

[2017-05-12 18:13] sdmaclea commented on #11545
@RussKeldorph Updated initial comment, to match revised understanding.

[2017-05-12 19:37] erozenfeld opened #11572 "RyuJit doesn't CSE unmanaged memory reads"
Compile Program.cs below:

.\Tools\dotnetcli\dotnet.exe Tools\csc.exe /o+ /unsafe /out:Program.exe Program1cs /r:.\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\System.Private.CoreLib.dll /r:.\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\System.Console.dll /r:.\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\System.Runtime.dll

[code]

Here is the code generated by RyuJit for the nested lo

[2017-05-12 20:32] briansull opened #11574 "Silent bad codegen when optimizing expression"
Repro:

Compile Repro.cs below:

.\Tools\dotnetcli\dotnet.exe Tools\csc.exe /o+ /out:Program.exe Repro.cs /r:.\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\System.Private.CoreLib.dll /r:.\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\System.Console.dll
/r:.\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\System.Runtime.dll

Repro.cs

[code]

Run the Repro:
.\bin\tests\Windows_NT.x64.Checke

[2017-05-12 21:14] #11557 closed

[2017-05-12 21:18] pgavlin commented on #11574
This is Yet Another Remorphing Issue:

[code]

The reassociation of the add at node 35 has changed the value produced by that node, thus invalidating its value number.

[2017-05-12 21:18] spottedmahn opened #11576 "Prevent 'Press any key to continue' in a .Net Core Console App"
When I debug my console app it closes automatically.  When I run w/o debugging I get:

![image](https://cloud.githubusercontent.com/assets/14079228/26017231/8476d04c-3736-11e7-93bd-ad59e4f32934.png)

How do I prevent this?

Thanks,
Mike D.

[2017-05-12 21:18] pgavlin commented on #11574
cc @russellhadley

[2017-05-12 21:29] russellhadley commented on #11574
We've had a continued stream of these on x64 as well as a bump in the issues on x86 during bring up.  I think the argument that we were past these has been settled to the contrary.

[2017-05-12 21:33] RussKeldorph commented on #11574
@pgavlin If someone else is working on this, feel free to reassign.

[2017-05-12 21:33] pgavlin commented on #11574
Nah, I already have a fix

[2017-05-12 21:36] RussKeldorph commented on #11508
@pgavlin Should this be closed by #11531?

[2017-05-12 21:42] #11562 closed

[2017-05-12 21:45] pgavlin commented on #11508
Yes.

[2017-05-12 21:45] #11508 closed

[2017-05-12 21:50] slozier opened #11578 "string.IndexOf not returning proper value when searching for an empty string"
string.IndexOf is not returning the proper value when searching for an empty string and providing a start index. Works fine on .NET Framework and .NET Core 1.1.
[code]

[2017-05-12 22:58] jamesqo opened #11580 "'Inspecting the state of an object in the debuggee of type System.Type' error for non-reflection related type"
I was debugging a C# project of my own recently. I noticed that variables of type X were being stringified to the fully qualified name of X in the debugger, e.g. `{PolynomialReducer.CompactR.Polynomial}`, even though I had overriden `ToString()` for X. Forcing evaluation via putting `[DebuggerDisplay("{ToString()}")]` on top of X gave this error:

<img width="382" alt="isoot_systemtype_nsitc" src=

[2017-05-12 23:00] erozenfeld opened #11581 "Use stelm.ref helper calls towards array bounds check assertions and range check elimination"
In case of generic arrays instantiated over obj-ref, store to array takes place using stelem.ref helper (CORINFO_HELP_ARRADDR_ST).  These helper call performs both a null check and array bounds check before assigning the value using a write barrier.  Right now neither assertion prop nor range check make use of stelm.ref helper calls to eliminate redundant bounds checks.

[2017-05-12 23:21] jkotas commented on #11578
@tarekgh

[2017-05-13 00:26] kichalla opened #11585 "AssemblyLoadContext.GetAssemblyName throws MissingMethodException for native assemblies"
**Repro**
- dotnet new console
- Update the Program.cs to be like the following and change the `path` in the code to a native dll. In my case I was able to repro with `sqlclient.sni` assembly below:
[code]
- dotnet restore
- dotnet run
  You should see an exception like the following:
[code]

**Expected:**
Any of the above exceptions in catch blocks

**Actual**
MissingMethodException

**dotnet -in

[2017-05-13 00:57] ygc369 opened #11586 "Is there any roadmap for improving GC?"
Are there any new GC algorithms in developing?
Would reference counting collector be an alternative memory management mechanism?

[2017-05-13 01:04] Whomsonever commented on #11543
Dear JKotas,

Worked a treat !

Many thanks for the time you took to help and for your invaluable assistance.

[2017-05-13 01:04] #11543 closed

[2017-05-13 01:25] tarekgh commented on #11578
Thanks @slozier for reporting this issue.

[2017-05-13 01:34] #11552 closed

[2017-05-13 02:14] BruceForstall commented on #10424
Notes: the CSE bit vector size is defined by EXPSET_SZ in block.h:
[code]
Large is always defined, in jit.h:
[code]

Also, the cseTraits variable, used in every bitset operation, doesn't precompute GetArrSize(), so that code runs (including doing roundUp()) for every bitset operation.

If we really don't need the flexibility of dynamic short/long, we should implement a static array-based bitset, o

[2017-05-13 03:05] jkotas commented on #11585
Duplicate of https://github.com/dotnet/coreclr/issues/11499. Already fixed.

[2017-05-13 03:05] #11585 closed

[2017-05-13 04:33] swgillespie commented on #11586
Linking threads: https://github.com/dotnet/csharplang/issues/547

[2017-05-13 04:45] karelz commented on #11550
Which version of .NET Core did you use?

[2017-05-13 04:46] karelz commented on #11576
This is standard VS behavior for ages AFAIK. Not sure if there is any opt-out.

[2017-05-13 04:46] karelz commented on #11580
@jamesqo which version of .NET Core? 2.0?

[2017-05-13 06:12] brianrob opened #11588 "AV on SampleProfiler Disable"
* thread #126: tid = 33976, 0x00007ffff6dcf962 libc.so.6`cfree + 34, name = 'dotnet', stop reason = invalid address (fault address: 0xfffffffffffffffc)
  * frame #0: 0x00007ffff6dcf962 libc.so.6`cfree + 34
    frame #1: 0x00007ffff64771d4 libcoreclr.so`CorUnix::CPalObjectBase::~CPalObjectBase(this=0x0000000000729a90) + 52 at palobjbase.cpp:349
    frame #2: 0x00007ffff6477183 libcoreclr.so`CorUnix

[2017-05-13 06:17] brianrob commented on #11588
@kouvel, have you see this before?  This is a stress bug that shows up when creating a destroying threads in a loop.

[2017-05-13 06:36] jkotas commented on #11578
Need tests in corefx

[2017-05-13 06:51] brianrob commented on #11588
I think that this may be because COMPlus_PerformanceTracing=1 was set and the test called APIs to enable/disable tracing.

@kouvel, I'm interested in if you've seen this, but if not, I think it might have been a bad combination of the COMPlus variable above and code, and not an issue in threading.

[2017-05-13 14:24] TingluoHuang commented on #11550
netcoreapp1.1

[2017-05-13 16:39] kouvel commented on #11588
I haven't seen this before. The object pointer looks wrong, maybe some corruption occurred in the handle table. I don't see anything wrong with the way in which this event is used. I'll need to try for a repro, do you happen to know which test case runs into this, or is it a combination of tests that I can try?

[2017-05-13 17:10] brianrob commented on #11588
Thanks @kouvel.  Hold off on trying this for the moment.  I think that this could have been my own doing.  I want to prove that it could be a real bug before you spend any time on it.  I'll let you know.

[2017-05-13 17:16] mikem8361 opened #11590 "Minidumps created with new utility hang under lldb 3.9.1"
During my testing of the LLDB 3.9.1 Ubuntu packages, I noticed that the dumps created with the new createdump utility hung LLDB with loaded. Up to this point, I was testing these minidumps using a version LLDB built from the MS repo that had some fixes from the SQL group that must have hid this problem.

The fix to createdump is very simple: the thread state in the dump needs an stop reason signal

[2017-05-13 18:00] stephentoub opened #11592 "EventSource still broken on Unix after recent refactoring"
e.g.
https://ci.dot.net/job/dotnet_corefx/job/master/job/ubuntu14.04_debug_prtest/7805/consoleText
https://ci.dot.net/job/dotnet_corefx/job/master/job/centos7.1_debug_prtest/7795/consoleText
[code]

[2017-05-13 18:15] RussKeldorph commented on #11545
It's worth noting that the C++ compilers for Windows, Linux, and iOS use the *inner shareable* (`ish`) variant of `dmb` to impose barrier-ordering semantics, presumably because the systems ensure a thread can only share memory with other threads in the inner shareability domain.  I wasn't privvy to the original CLR implementation for ARM, but I think it was most likely an oversight that the *full

[2017-05-13 20:40] karelz commented on #11550
Can you please try it with .NET Core 2.0 Preview 1? (released on couple of days ago)

Note that your call stack is missing some symbols:
* 03 0000003b`2df5dd20 00007ffe`8abedca6 **System_Private_CoreLib_ni+0x604d8f**
* 04 0000003b`2df5dd50 00007ffe`2b7004a8 **System_Private_CoreLib_ni+0x5fdca6**
* 05 0000003b`2df5dd80 00007ffe`8b1ac5a3 **0x00007ffe`2b7004a8**

Please fix that and consider using SO

[2017-05-13 21:31] #11592 closed

[2017-05-14 06:59] ranma42 commented on #2305
If you give me some directions on which is the best way to integrate tools in the build, I can try and update https://github.com/ranma42/coreclr/tree/fix-2305.
Should I go ahead and do a PR out of it, so that the discussion can move there?

[2017-05-14 15:43] gkhanna79 commented on #11580
@noahfalk @lt72 PTAL and move to VS Debugger if applicable. Also, please rest the milestone as appropriate.

[2017-05-14 19:31] karelz commented on #2527
@RussKeldorph do we have any official info about plans? Even if we don't know when the plans will be funded, it would be nice to paint the path forward (without any commitment to dates or if it ever happens).

See another question on [gitter](https://gitter.im/dotnet/coreclr?at=5918815783cb5db0732df7ad) about the same topic.

[2017-05-14 19:38] seniorghost opened #11599 "No usable version of the ICU libraries was found"
I'm trying to run my .NET Core app on a Raspberry PI and I have followed every step in this guide https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md
but I get this message:

`No usable version of the ICU libraries was found
Aborted`

I checked and I have all the libraries:
`libicuuc.a  libicuuc.so  libicuuc.so.52  libicuuc.so.52.1
libicui18n.a  libicui18n.so  libicui18n.

[2017-05-14 19:56] janvorli commented on #11599
@seniorghost can you please try to do
[code]
and then try again?

[2017-05-14 20:09] seniorghost commented on #11599
@janvorli
Now I get this error `Cannot get symbol ucol_setMaxVariable_52 from libicui18n`

[2017-05-14 21:26] janvorli commented on #11599
@seniorghost thank you. I think I know what's going on. Can you please try to install package libicu55? If that doesn't fix the problem, I'll be able to look into it on Tuesday.

[2017-05-14 23:07] seniorghost commented on #11599
@janvorli thank you for your quick help, it works now 😃

[2017-05-14 23:07] #11599 closed

[2017-05-14 23:25] brianrob opened #11601 "Plumb EventMetadata into the File"
Was generated in https://github.com/dotnet/coreclr/pull/11577 but needs to be copied into the metadata event in the file.

[2017-05-15 01:07] jkotas commented on #2527
The plan is to build standalone IL verifier based on CoreRT. #295 has details. There is soon going to be  project readme in CoreRT master (https://github.com/dotnet/corert/pull/3611).

[2017-05-15 02:21] brianrob commented on #11601
Will be fixed by #11577.

[2017-05-15 02:26] KarenHuang2016 commented on #11442
“git config --system core.longpaths true ” can resolve this issue. Thank you very much!

[2017-05-15 02:26] #11442 closed

[2017-05-15 05:17] mikedn commented on #11471
PR for shift count masking removal in lowering: #11594

[2017-05-15 07:16] karelz commented on #2527
Great, thanks for info! I wonder if we should just close this issue in that case as dupe of the CoreRT effort ..

[2017-05-15 11:37] hqueue opened #11603 "[RyuJit/ARM32] NYI_ARM: Lowering for cast from small type to float"
With `COMPlus_AltJIT=* COMPlus_AltJitAssertOnNYI=0` options, following 78 assertions are observed from `JIT/Methodical`.
[code]

# Example
With `COMPlus_AltJit=Func_0_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1_1` option, following 4 tests raise same NYI assertion.

[code]
[code]

[code]

[2017-05-15 11:40] hqueue commented on #11603
I've tried to enable casting from small type to float.

Then, all above four 10w250d are passed, but an exception is raised from following two 10w5d tests.

[code]
[code]

[2017-05-15 12:21] #2527 closed

[2017-05-15 12:49] CharlesToniolo opened #11604 "Windows Vista Compatibility"
Hello,

I would like to embed a .NET Core application with another application that runs with .NET 4.5.2.
Is there any way to build de CoreCLR compatible with Windows Vista, even if it runs slower?

The first error that i saw was the ResolveLocaleName missing in the Kernell32.DLL so i defined the ENABLE_DOWNLEVEL_FOR_NLS. After that i got another error, so I would like to know if there is any way

[2017-05-15 13:18] DavePilks commented on #10717
@gregg-miskelly it was the Javascript debugging in VS that I had to turn off. I assume that it is the same issue that other debuggers were experiencing.

[2017-05-15 13:28] mikedn commented on #11603
AFAIR those tests contain a ton of autogenerated code that does a lot of things. What usually happens is that you fix a NYI and that allows the AltJit to compiler a method that was previously compiled by the legacy JIT. And then it turns out that the AltJit has a bug that is triggered by the newly compiled method. Most likely the AltJit has a bug in its handling of the integer casts with overflow

[2017-05-15 14:33] #11453 closed

[2017-05-15 14:40] mskvortsov commented on #11603
On current master without any additional changes:
[code]
After debugging with a help of the `COMPlus_JitFunctionTrace=1` option and a conditional breakpoint at `compiler.cpp:4331 if Compiler::jitTotalMethodCompiled == 2`, the function of interest appears to be `System.Convert:ToUInt32(double):int`: it returns `0xfe666d80` under the legacy jit and `0xfe666d81` under the altjit. The double argument

[2017-05-15 14:49] ravimeda commented on #2305
Thanks very much for the investigation, and proposed solution @ranma42

I am working on improving the experience around searching and acquiring build prerequisites. Please see https://github.com/dotnet/corefx/pull/19404

For official builds, the plan is to host build prerequisites, for instance `btyacc`, on a storage location accessible to build machinery. Before consuming a public tool in officia

[2017-05-15 15:13] #11563 closed

[2017-05-15 15:15] TingluoHuang commented on #11550
is there any wiki/doc to describe how to get pdb for dotnet core?
i still get pdb error after i tried:
[code]

[code]

[2017-05-15 15:15] #11553 closed

[2017-05-15 15:18] chanan opened #11605 "New project in VS2017 15.2 does not run in Docker"
Sorry if this is the wrong repo.

In VS2017 Update 2, I start a brand new project, add docker support. Hit run and get the following error:

[code]

[2017-05-15 15:32] mskvortsov commented on #11603
Further investigation showed the problem is incorrect RA. The method mentioned contains this fragment fragment generated by the AltJit:
[code]

[2017-05-15 15:53] JosephTremoulet opened #11606 "JIT optimization: loop unrolling"
(I'm creating tracking issues for some optimizations that RyuJit doesn't perform, so we'll have a place to reference/note when we see the lack of them affecting particular benchmarks)

There's code in the Jit today that goes by the name "loop unrolling", but it's only doing full unrolls, and only for SIMD loops.  General loop unrolling (to balance ALU ops vs branching) is not performed by the jit

[2017-05-15 15:53] JosephTremoulet opened #11607 "JIT optimization: loop head alignment"
(I'm creating tracking issues for some optimizations that RyuJit doesn't perform, so we'll have a place to reference/note when we see the lack of them affecting particular benchmarks)

This one actually has an implementation plumbed through, but it's triggered only by the unsupported `COMPlus_JitAlignLoops` flag.  It should probably be enabled by default in at least some configurations/methods.

[2017-05-15 15:53] JosephTremoulet opened #11608 "JIT optimization: IV widening"
(I'm creating tracking issues for some optimizations that RyuJit doesn't perform, so we'll have a place to reference/note when we see the lack of them affecting particular benchmarks)

[2017-05-15 15:53] JosephTremoulet opened #11609 "JIT optimization: generalized relational assertion prop"
(I'm creating tracking issues for some optimizations that RyuJit doesn't perform, so we'll have a place to reference/note when we see the lack of them affecting particular benchmarks)

Assertion prop currently uses heuristics to limit how many facts it's trying to propagate and prove (e.g. it makes no attempt to remove redundant greater-than/less-than checks that aren't the implicit ones at bounds

[2017-05-15 15:56] sdmaclea commented on #11545
cc @CarolEidt @briansull

@RussKeldorph Looking at the history....

It looks like Linux Kernel switched to Inner Shareable based on recommendation by Will Deacon @ arm.  See events.linuxfoundation.org/sites/events/files/slides/weak-to-weedy.pdf

Will's recommendation was grounded on the ARMv7 architectural assertion `‘This architecture (ARMv7) is written with an expectation that all processors usi

[2017-05-15 15:57] JosephTremoulet commented on #11606
Here's an example from a Connect bug:

[2017-05-15 16:01] JosephTremoulet commented on #11608
This leaves extra converts in `BenchI-XPos_Mtx` (and basically every loop that indexes into arrays...)

[2017-05-15 16:03] JosephTremoulet commented on #11606
This is also an important source of code quality disparity vs Jit64 in `BenchI-MulMtx` and `BenchI-IniArray`

[2017-05-15 16:06] JosephTremoulet commented on #11609
Here's an example from a Connect bug:

[2017-05-15 16:07] JosephTremoulet commented on #11609
Post-loop-cloning failures to propagate away assertions also affects `spectralnorm` and `BenchI-Array2`

[2017-05-15 16:10] JosephTremoulet commented on #11607
This came up in #1308

[2017-05-15 16:11] jkotas opened #11611 "Different behavior for x86 and x64 in passing structs"
_From @mikasoukhov on May 15, 2017 15:26_

Code below for x86 print

handle( StrctInDlgt.Program, ( i:0, o: ), 123 )

for x64

handle( StrctInDlgt.Program, ( i:123, o:123 ), 123 )

Looks like for 64 bits value types args passed as a reference on stack.

[code]

_Copied from original issue: dotnet/corefx#19774_

[2017-05-15 16:11] jkotas commented on #11611
_From @danmosemsft on May 15, 2017 15:49_

The behavior is the same in full framework. I am not sure what the correct behavior should be: this may be more of a question for the Roslyn folk. @stephentoub ?

[2017-05-15 16:12] tannergooding commented on #11611
I've simplified this quite a bit and determined it is directly related to `MultiCastDelegate`:

[code]

[2017-05-15 16:14] jkotas commented on #11611
cc @dotnet/jit-contrib Looks like optimization bug in RyuJIT. There should be a local copy of the struct argument created so that the modifications do not leak to the caller.

[2017-05-15 16:14] richlander commented on #11604
Windows 7 is the oldest Windows version that we support. We do not test Windows Vista, so even if you got it working, there would be no guarantee that future versions (including security patches) would work. Your best and fastest path is to upgrade to at least Windows 7.

I hope you do find a way to use .NET Core. It sounds like you have a good idea in mind.

[2017-05-15 16:14] #11604 closed

[2017-05-15 16:18] russellhadley commented on #11611
@JosephTremoulet, could you take a look since you've been working on our struct handling?

[2017-05-15 16:21] benaadams commented on #11604
Aside: https://support.microsoft.com/en-us/help/22882/windows-vista-end-of-support

[2017-05-15 16:37] mikedn commented on #11608
Dup of #9179

[2017-05-15 16:39] #11578 closed

[2017-05-15 16:43] mikedn commented on #11609
b) if (Av == nulll) go slow path
c) if (av.Length >= n) && (n >= 0) is false goto slow path

Perhaps loop cloning could generate `(uint)n < (uint)a.Length` to minimize the need for this.

[2017-05-15 16:50] mikedn commented on #11608
An alternative solution for array indices might be to change signed casts to unsigned casts, I once tried that in #8821 and it does improve performance in some cases. That approach unfortunately produced some regressions but there may be a way to do this cheaply in assertion propagation.

[2017-05-15 16:58] swgillespie commented on #11586
What advantages do you think are to be had by switching to a reference counting collector instead of improving the GC we already have? Tracing collectors and reference counting collectors are duals of one another, and each has their own tradeoffs.

cc @Maoni0

[2017-05-15 17:00] JosephTremoulet commented on #11608
Sure is, thanks; closing.

[2017-05-15 17:00] #11608 closed

[2017-05-15 17:04] JosephTremoulet commented on #9179
Copying over @mikedn's [comment](https://github.com/dotnet/coreclr/issues/11608#issuecomment-301534532) from dup #11608:

[2017-05-15 17:07] AndyAyersMS commented on #11609
Do you have examples where loop cloning actually helps? Evidence that its profitability heuristic is well-tuned? If so, can you add some perf tests?

[2017-05-15 17:10] ondrejtomcik commented on #11256
Hi again @yizhang82  :)
Problem with callback is not called for the second time was still not solved. I spent at least week on it. I used valgrind, gdb, custom trace logs and cannot figure out the problem so maybe you will be able to point me to the right way.

What is happening? There are two native functions I am calling.
`OCDoResource(data,data,..., callback,... ); //posting data to cloud servi

[2017-05-15 17:25] JosephTremoulet commented on #11609
I haven't really looked.  @cmckinsey, do you recall hoisting bounds checks (rewriting against IV final value) being a key factor in any of the benchstones?

[2017-05-15 17:29] redknightlois commented on #11609
@AndyAyersMS @JosephTremoulet If loop cloning behaves roughly the same way as hoisting bound checks when not possible (we force that using unmanaged memory), we have even microbenchmarks available for them: https://github.com/Corvalius/ravendb/tree/v4.0/bench/Micro.Benchmark/PageLocatorImpl
Check V4 vs V6.

[2017-05-15 17:43] weshaggard opened #11614 "Error marshalling a string field, in Linux env only (Marshal.PtrToStruct in conjunction with StructLayout.Sequential and 8-bit char string)"
@Budenniy commented on [Mon Apr 17 2017](https://github.com/dotnet/standard/issues/305)

Hi colleagues,

Got an external binary stream of fixed-size/layout structures containing a string field in non-English 8-bit encoding (Win-1251) we need to decode.
The approximate structure layout:

	[StructLayout(LayoutKind.Sequential, CharSet = CharSet.Ansi, Pack = 1, Size = ...)]
	public struct ProblemStruc

[2017-05-15 17:46] pgavlin commented on #11611
FWIW, the C++ compiler appears to assume that the callee is allowed to modify the memory that backs an implicit pass-by-ref struct argument:

https://gist.github.com/pgavlin/7206ecdab27b5a93b07d617d5818491c
compiles to
https://gist.github.com/pgavlin/4e1b593270d46ec1639c17f57cd51dce

Note the write to the incoming parameter in `m`: https://gist.github.com/pgavlin/4e1b593270d46ec1639c17f57cd51dce#f

[2017-05-15 17:50] karelz commented on #11550
@lt72 @mikem8361 @noahfalk can you please help?

[2017-05-15 17:52] JosephTremoulet commented on #11611
That would fit with what I'm seeing -- Main calls System.Action`2[Data,Int64][Data,System.Int64]:Invoke (which is a single call and not where the problem is), and the next thing we jit (at least according to my jit-dump) is Program:handle (which gets the bad value passed in), so it would seem to be non-jitted code that behaves incorrectly.  Are the invoke stubs not jitted code?

[2017-05-15 17:58] jkotas commented on #11611
They are still not jitted code on Windows AMD64 actually - I have not realized that we have not switched them to the stubs-as-il plan yet. So this is VM side bug. Thanks for taking a look

[2017-05-15 18:11] brianrob opened #11615 "Remove Extra Buffer Allocation / Copy from EventSource"
Remove this extra allocation/copy and copy the arguments directly in EventPipeBufferManager::WriteEvent.

https://github.com/dotnet/coreclr/pull/11577/files/ac7ab91221c75e042325c36c263540a958643ef8#diff-73569c6f5e0722e21820732511f3dbf0R75

[2017-05-15 18:20] mikem8361 commented on #11550
Managed code throw an exception. !pe will tell you the exception and show give you a managed stack dump. You need to load sos.dll with ".load <path-to-sos>.  sos.dll should be in the same directory as coreclr.dll.

[2017-05-15 18:31] TingluoHuang commented on #11550
cool, thanks for the hint.
[code]

[2017-05-15 19:46] RussKeldorph opened #11619 "Assert failure(PID 25168 [0x00006250], Thread: 25268 [0x62b4]): Assertion failed 'freshBaseMethodAttribs == baseMethodAttribs'"
This seems to be intermittent.  I've only seen it repro in CI and locally when running ALL of the corefx tests together, the CI doesn't always hit it, and it has hit different tests in different runs.  **I can't repro it when re-running the individual tests that fail locally.**

[Example of CI job that failed](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_n

[2017-05-15 19:47] RussKeldorph commented on #11619
@AndyAyersMS Could you take a look since this looks devirt-related?

@dotnet/jit-contrib

[2017-05-15 19:57] RussKeldorph commented on #11619
[Another CI failure example](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_corefx_minopts/174/).  The latest run of the same job is green.

[2017-05-15 20:04] pgavlin commented on #11574
Closed with #11579.

[2017-05-15 20:24] AndyAyersMS commented on #11619
Likely suspect: there's some kind of race where the jit decides to propagate noinline for some method X on one thread back to the VM while in the middle of jitting some other method Y on another thread, and where that jit attempt is looking at X's attributes. This jives with it only reproing intermittently and seemingly only under higher CPU loads.

We don't actually care about the state of the no

[2017-05-15 20:32] noahfalk commented on #11580
@gregg-miskelly @plnelson -  does one of you know under what conditions VS reports that error condition @jamesqo described above?

[2017-05-15 20:40] lt72 commented on #11550
@mikem8361 : this may be interesting as we have another issue on Desktop where we are not properly handling the CRTL-C handler under debugger.  Not sure is related, but likely worth giving a look...

[2017-05-15 20:52] gregg-miskelly commented on #11580
I believe this would happen if:
1. We are in a situation where we can't do a real function evaluation (ex: top frame of the call stack is optimized and not stopped at a safe spot, or a func eval has already timed out)
2. Something in the code being interpreted calls a method on an existing System.Type object

[2017-05-15 20:55] plnelson commented on #11580
Gregg is correct.  To help narrow down what's going on can you let us know if `Polynomial` is a struct (vs. class)?  Also is it possible to share a minimal set of code that reproduces the problem?

[2017-05-15 21:20] dagood opened #11621 "Add agent cleanup steps to Windows official builds"
Right now, agent cleanup is only done in the Linux builds. On Windows, the cleanup steps would fix a problem where sometimes processes linger and hold files open, breaking the next build's `git clean -xdf`. Build 20170513-02 hit this problem and failed.

/cc @gkhanna79 @wtgodbe

[2017-05-15 21:21] mikem8361 commented on #11550
@lt72 this looks like it could be a System.Console bug. I don't think this is about ctrl-c under debugger.

[2017-05-15 21:21] mikem8361 commented on #11590
Done.

[2017-05-15 21:21] #11590 closed

[2017-05-15 21:29] TingluoHuang commented on #11550
@lt72 @mikem8361 this is a VM prvoide by our vender test team. if you guys interested, i can provide access, it's in corp net.

[2017-05-15 22:08] lt72 commented on #11550
Mike took a quick look and this seems to be more of an issue with System.Console. @karelz: who would be the right owner?

[2017-05-15 22:18] AndyAyersMS commented on #11619
Trying to get this to repro for me locally....

[2017-05-15 22:22] TingluoHuang commented on #11550
Before the crash, we pinvoke to cancel some child process via the following code.
we didn't get any exception trace, and the child process is able to get Ctrl-C and gracefully exit.
[code]

[2017-05-15 22:32] TingluoHuang commented on #11550
here is the code to vsts agent: https://github.com/microsoft/vsts-agent
Basically,
agent.exe is a console app.
worker.exe is a console app.

You run agent.exe from either cmd prompt or it run as windows service.
agent.exe will launch worker.exe, then worker.exe will launch powershell.exe/node.exe/customer.exe

both agent.exe and worker.exe share same code to deal with process invoke.

During this

[2017-05-15 22:34] yizhang82 commented on #11256
@ondrejtomcik Sorry, I'm not familiar with the SDK you are using so I can't provide more concrete advice. The only thing I would suggest is to make sure the callback is properly "rooted" by a local/static so that GC don't collect it. But otherwise you need to work with the IoTivity C++ SDK folks to understand why callback is not called. Personally I would set a breakpoint right before the callback

[2017-05-15 22:44] brianrob commented on #11601
Fixed by #11577.

[2017-05-15 22:44] #11601 closed

[2017-05-15 22:48] karelz commented on #11550
@TingluoHuang please file a new bug in CoreFX repo. With just the Console information and repro.
Please mention how important it is for you ... Is it blocking? Do you have workaround? How common is the scenario?
Thanks!

[2017-05-15 23:42] #11509 closed

[2017-05-16 01:47] TingluoHuang commented on #11550
sure. Every time you cancel a VSTS build will trigger this code flow. we only get report from 2 instance so far. 1 on win7 os, this time on winserver12r2.  it won't affect customer build result, but just lots of app crash in event log, and lots of report in waston log.

[2017-05-16 02:25] brianrob opened #11632 "Failure to Create EventPipeFile Results in Assert (label > 0)"
If the file cannot be created (for example, the directory does not exist) an unrelated assert that a metadataLabel == 0 is fired.  This happens because no file was created.

Instead, we should either fire a more helpful assert or make this assert not fire.

[2017-05-16 02:46] csturm83 opened #11633 "Inconsistent behavior in List<T> LastIndexOf(T, int, int) for an empty list."
## Repro
[code]

## Expected
Both list.LastIndexOf(T, int, int) and Array.LastIndexOf(Array, T, int, int) throw an ArgumentOutOfRangeException for an invalid count parameter (similar to the IndexOf(T, int, int) overloads).

## Actual
list.LastIndexOf(T, int, int) returns -1.
Array.LastIndexOf(Array, T, int, int) throws ArgumentOutOfRangeException

Also exists in .NET Framework back to 2.0

[2017-05-16 02:46] danmosemsft commented on #11605
@gkhanna79 should tihs go to the vs-project repo?

[2017-05-16 02:47] #11576 closed

[2017-05-16 02:47] danmosemsft commented on #11576
Issue moved to [dotnet/project-system #2184](https://github.com/dotnet/project-system/issues/2184) via [**ZenHub**](https://www.zenhub.com/)

[2017-05-16 03:21] stephentoub opened #11634 "Many EventSource tests failing again"
On Windows the following corefx test is failing with the latest coreclr:
[code]
e.g.
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_debug_prtest/7996/consoleText

On Unix all of the following are failing with the latest coreclr:
[code]
e.g.
https://ci.dot.net/job/dotnet_corefx/job/master/job/portablelinux_debug_prtest/5188/consoleText
https://ci.dot.net/job/dotnet_corefx/job/master

[2017-05-16 04:03] gkhanna79 commented on #11605
@gregg-miskelly Can you advise where this issue should be moved to?

[2017-05-16 04:51] hqueue commented on #11603
@mikedn @mskvortsov Thank you for the analysis :)

@mskvortsov I will look into register allocation why d0 is used  even after trashed by s0.

[2017-05-16 04:51] sjsinju commented on #11057
Merged

[2017-05-16 04:51] #11057 closed

[2017-05-16 05:05] danmosemsft commented on #11633
Thanks for pointing this out @csturm83. While we could make this consistent, it would be at the cost of potentially breaking much code. Are you proposing we change it?

[2017-05-16 05:07] danmosemsft commented on #11614
@Budenniy can you cut this down to a small repro case? that would help enormously.

[2017-05-16 05:10] danmosemsft commented on #11550
closing as its moved.

[2017-05-16 05:10] #11550 closed

[2017-05-16 05:22] jkotas commented on #11611
We have shipped this with this bug for 10+ years. It does not make the bar for pushing to 2.0 at this point.

[2017-05-16 05:36] ygc369 commented on #11586
@swgillespie
Except RC and Local GC, what can be done to improve the GC we already have? Is anybody doing this?

[2017-05-16 05:44] mikedn commented on #11586
But what exactly do you want to improve about GC?

You keep creating all this GC related issues but you never provide any sort of details - use cases, expectations, numbers, anything - and thus not exactly constructive.

[2017-05-16 06:25] ygc369 commented on #11586
@mikedn
I'm sorry. But my mother tongue is not English. It is not easy for me to write a long English article with many details. I can only describe my ideas and I think their advantages are obvious and do not need more explainations.

[2017-05-16 06:48] #11491 closed

[2017-05-16 06:51] mikedn commented on #11586
Nope, there is nothing obvious about the advantages of reference counting.

[2017-05-16 06:59] hqueue opened #11640 "[ARM32] In Debug build, JIT/Methodical/fp/exgen/10w5d_cs_do fails"
Following two `10w5d` tests are failing only in `Debug` build.
It passes with `Release` build for ARM32.

This fails with master branch with default JIT, i.e. legacy jit for ARM32.

[code]

[code]

This was found during debugging `10w5d1` test in ryujit/arm32 (issue #11603) and found that it fails only in Debug build.

[2017-05-16 07:02] hqueue commented on #11640
If possible, can anyone reproduce this in arm32 environment ?

[2017-05-16 07:03] hqueue commented on #11603
I found that this unhanded exception is raised only in Debug build and not in Release build.

I've opened new issue #11640 to track the issue.

[2017-05-16 07:17] mskvortsov commented on #11640
I can repro this. Fails on debug, passes on chk.

[2017-05-16 07:26] hqueue commented on #11640
@mskvortsov Thanks! And do you have any idea ? I suspect this issue may relate to library or C++ compiler intrinsic.

FYI. There was a corefx test issue in https://github.com/dotnet/corefx/issues/18601 where ARM math library  returns 1-bit different result.

[2017-05-16 07:35] mskvortsov commented on #11603
@hqueue Regarding RA. I think I found the place in the codegen, which causes failure of `200w1d-02_cs_r` described above. [codegenarm.cpp#L1860](https://github.com/dotnet/coreclr/blob/094d8301dc238abe470f67342c8b17217585c798/src/jit/codegenarm.cpp#L1860):
[code]

[2017-05-16 07:37] mskvortsov commented on #11640
@hqueue No, I don't have, this issue needs investigation. However, the first thing I would think about is not a library/compiler issue, but the difference between debug/release builds (only release/chk turns on full optimizations).

[2017-05-16 07:54] karldodd commented on #11391
Same problem for me here. I am using OmniSharp in VSCode.

I guess anyone in charge can move this issue to https://github.com/dotnet/project-system ?

[2017-05-16 08:10] hqueue commented on #11603
@mskvortsov I found similar logic in int to float casting where `vcvt` use same a single dst reg to generate `vcvt` instruction.  However I think this is not a problem because a dst reg is being newly defined.

https://github.com/dotnet/coreclr/blob/094d8301dc238abe470f67342c8b17217585c798/src/jit/codegenarm.cpp#L1785

But for the case where you pointed out (float to int),  I think we have to rese

[2017-05-16 08:13] Cologler opened #11642 "Cannot connect to remote debugger."
System: win 10 x64 (15063.296)
IDE: VS 2017 15.2 (26430.6)
Target framework: .NetCoreApp 1.1

![picpick-20170516-155754-001](https://cloud.githubusercontent.com/assets/10906962/26095502/78545fce-3a50-11e7-9180-07c9eca75682.png)

When I click F5, It show the message:

Connection request was rejected by the remote debugger. Ensure that the remote debugger is running in 'windows Authentication mode'

[2017-05-16 08:14] hqueue commented on #11603
@mskvortsov I found that this is a problematic. Since RA allocates a register for vcvt for only

[2017-05-16 08:15] Cologler commented on #11642
The UWP app and .Net Framework application does not has the error.

[2017-05-16 08:32] mskvortsov commented on #11603
Yes, genIntToFloatCast() doesn't have this problem. Only genFloatToIntCast() has.

This will work. Actually, I have a patch almost ready, I'll make a PR later today.

[2017-05-16 08:33] hqueue commented on #11603
@mskvortsov Cool!

[2017-05-16 11:47] hqueue opened #11646 "[ARM32] Display wrong register number for double registers"
For ARM32, double register number is not shown correctly in JitDump, JitDisasm and etc.

- An example from coreclr unit test.
[code]
  However above instruction encoding means `vadd d0, d0, d1`.

- Another example from recent PR for ryujit/arm32.
  I was confused with below example (https://github.com/dotnet/coreclr/pull/11643#issuecomment-301755496) in the PR.
[code]
  This means `vcvt.i2d d4, s8

[2017-05-16 12:25] Budenniy commented on #11614
Hey Dan,

Thanks for you reply

Unfortunately I'm under a huge workload these days, anyway got this on follow-up. It seems rather tricky to mock a server-side for a topic streaming binary structures with 8-bit char string in it... need to think over it.

Thanks,

Best,
Vlad

[2017-05-16 12:44] masonwheeler commented on #10997
@cydhaselton This appears to be working now.  Thanks!

[2017-05-16 12:44] #10997 closed

[2017-05-16 12:55] karelz commented on #11646
This issue was moved to dotnet/project-system#2191

[2017-05-16 12:57] karelz commented on #11646
My appologies, I moved the wrong bug by accident, reopening ...

[2017-05-16 12:58] karelz commented on #11391
This issue was moved to dotnet/project-system#2192

[2017-05-16 12:58] #11391 closed

[2017-05-16 13:19] csturm83 commented on #11633
@danmosemsft I wouldn't expect the behavior to change. I wonder if it might be worth documenting though.

I came across this while I was looking into <a href=https://github.com/dotnet/corefx/issues/12915#issuecomment-265253621>dotnet/corefx#12915 (comment)</a>.

The (Count != 0) checks <a href="https://github.com/dotnet/coreclr/blob/094d8301dc238abe470f67342c8b17217585c798/src/mscorlib/src/System/

[2017-05-16 13:33] #11642 closed

[2017-05-16 13:33] Cologler commented on #11642
I don't know why, but it just work fine right now.

[2017-05-16 14:35] #11634 closed

[2017-05-16 15:02] jkotas commented on #11586
There have been thousands of research papers written about garbage collection, many of them on reference counting. We are aware of all the key ideas that have been published to date. There are folks in Microsoft Research working in this space too. It is very easy to pick and recommend an (existing) idea. The very hard part is how to incorporate it to the system to make it work better for significa

[2017-05-16 15:05] jkotas commented on #11586
Duplicate of dotnet/csharplang#547 and #430

[2017-05-16 15:05] #11586 closed

[2017-05-16 15:54] pgavlin opened #11647 "Intermittent failures in x64_checked_windows_nt_pri1r2r jobs"
In the last week, we have seen intermittent test failures in this job that need investigation. Here are the most recent jobs with failures:
- https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_windows_nt_pri1r2r/1749/
- https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_windows_nt_pri1r2r/1774/
- https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_windows_n

[2017-05-16 15:57] jkotas commented on #11614
It is the expected behavior on Unix. The "Ansi" string marshalling is always using UTF8 encoding on Unix.

[2017-05-16 15:58] mmitche commented on #11647
When we've seen these in the past they've been product failures.  The machines these are running on are failrly beefy (14GB ram, 4 core) and have a large amount of storage on the main drives (10s of GB on C: and 100s on D:).

[2017-05-16 16:04] RussKeldorph commented on #11647
@rartemev Please take a look and gather as many repros as you can ASAP (hopefully before the job results age off).  Feel free to open separate issues if you narrow the failures down to different causes.

Note that "pri1" refers to the "-priority=1" build.cmd option and "r2r" refers to ReadyToRun, which implies RunCrossGen=1 is set in the environment when the test's .cmd is run.

[2017-05-16 16:05] lt72 commented on #11634
@brianrob @vancem FYI

[2017-05-16 16:05] RussKeldorph commented on #11647
Also note that many of these failing tests, particularly the JIT ones, are not "pri1" tests, but some may be.

[2017-05-16 16:08] AndyAyersMS commented on #11619
Got a local repro but my attempt at emitting more diagnostic via stderr info failed to surface anywhere so I don't know for sure what the new and old attribute bits were. Am going to retry using stdout. If that fails I can always just check for the suspect case above directly.

[2017-05-16 16:11] pgavlin commented on #11647
Here's an archive of the test failures as a CSV in case the results age out of Jenkins: https://gist.github.com/pgavlin/4f0c5a8401add157dc946ddcbb08a831

[2017-05-16 16:41] pgavlin opened #11648 "JIT/Regressions/JitBlue/GitHub_10780 failing on x86 with ZapDisable=1"
e.g. https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_zapdisable/166/

This is a specific case of https://github.com/dotnet/coreclr/issues/11408, as this test always runs with tail call stress enabled.

[2017-05-16 17:14] #11574 closed

[2017-05-16 18:20] #11648 closed

[2017-05-16 19:56] MaximRouiller commented on #917
Is it still blocked?

[2017-05-16 19:59] qmfrederik commented on #917
@MaximRouiller Depends on what "it" is?

Support for Alpine Linux has landed a while ago, arm and arm64 support landed and is improving fast,  "Hello World" ran on Android once, and @cydhaselton is doing work to get NuGet package for Android.

[2017-05-16 20:05] MarinAtanasov opened #11652 "[MacOS] DateTime.ToUniversalTime performance issue"
Hello,

I noticed recently that there is a huge difference in the performance of DateTime.ToUniversalTime between Windows and MacOS environments.

I have a test which calls 50000 times this method on a UTC and Local DateTime objects. On Windows, it runs for about 14ms, on MacOS -  240ms. The Windows PC might be about 2 times faster, but not 17 times.

Could you check if you can reproduce this? I a

[2017-05-16 20:07] MaximRouiller commented on #917
Can I create a docker file that is based off Alpine and run a "Hello World" running .NET Core?

What about an MVC app without a database?
MVC app with a database?

Where can I go until it blows up in my face? :fire:

[2017-05-16 20:12] qmfrederik commented on #917
.NET Core 2.0 on amd64 (not arm) Alpine Linux? I think that should work.

Based on the [NuGet packages in the MyGet feed](https://dotnet.myget.org/gallery/dotnet-core), it looks like you should be able to use the `alpine.3.4.3-x64` RuntimeId and publish for that?

I'd say - go give it a try and see how far you get :)

[2017-05-16 20:14] MaximRouiller commented on #917
Currently on a "not-my-machine" so I'll avoid installing images and docker for now.

I'll have access to my win10 machine tonight. Let's see how many sparks I can create.

[2017-05-16 20:27] briansull commented on #8683
Note that the assert was fixed with PR #10116

[2017-05-16 20:37] sdmaclea commented on #11525
@rartemev I am not seeing this failure on the recent bad6729 version.

[2017-05-16 20:55] #7691 closed

[2017-05-16 20:57] AndyAyersMS opened #11653 "Fix benchmarks with long iteration times"
We would like the jit perf benchmarks to with 10 iterations of approximately 1000ms each. Overall benchmark time is capped at 10 seconds. The following benchmarks have long iteration times -- greater than 2000ms -- and so don't end up reporting enough iteration results:

![image](https://cloud.githubusercontent.com/assets/10121823/26127665/d1b7aa06-3a3e-11e7-863d-8535181f9ddd.png)

These tests sho

[2017-05-16 21:01] sdmaclea opened #11655 "[Unix] String format errors marked as unsupported"
There are several tests (in the testsUnsupportedOutsideWindows.txt) which are failing due to string formatting errors.  This does not seem like an unsolveable platform error.

For example

`CoreMangLib/cti/system/byte/ByteToString3/ByteToString3.sh`

[code]

Others...
[code]

[2017-05-16 21:13] gregg-miskelly commented on #11605
@dbreshears @SteveLasker can you direct?

[2017-05-16 21:18] dbreshears commented on #11605
@gkhanna79 - https://github.com/Microsoft/DockerTools/issues

[2017-05-16 21:31] AndyAyersMS commented on #11619
Got a second repro but couldn't find stdout text either. So have reworked things to have different asserts depending on whether or not `CORINFO_FLG_DONT_INLINE` is all that differs. Seems to take me a few hours to repro so hopefully will know later today if my guess above was right.

[2017-05-16 21:40] AndyAyersMS opened #11656 "Investigate benchmarks with high noise levels"
Table below shows benchmarks with excessive noise (> 0.01 median average deviation from median, over the "stable levels") of the benchmark. We need to investigate what is causing the noise and work to eliminate or reduce the noise levels.

![image](https://cloud.githubusercontent.com/assets/10121823/26129524/62b29894-3a45-11e7-9723-a040222cc5e3.png)

[2017-05-16 21:51] gkhanna79 commented on #11605
Can you please move it @dbreshears and close this?

[2017-05-16 21:51] AndyAyersMS opened #11657 "Investigate benchmarks with multiple stable levels"
The following JIT perf benchmarks exhibit multiple stable performance levels (over the past 200 or so runs). Investigate to understand why. In some cases the performance changes will be caused by framework, jit, or runtime changes and so will represent true improvements or regressions. Others may point out areas where tests are vulnerable to micro-architectural details or places where the jit or r

[2017-05-16 22:07] AndyAyersMS commented on #11619
Now have an example where the `DONT_INLINE` attribute bit is the only one changing. Am going to let these tests run a bit longer to see if the other assert (which checks all the other bits) ever fires.
[code]

[2017-05-16 22:16] sdmaclea opened #11659 "[Arm64/Unix] GC Fails"
Testing f2913a3 showed a few new GC Stress fails.

[code]

[2017-05-16 22:37] pgavlin opened #11661 "Test GC/Regressions/v2.0-rtm/494226 failing intermittently on x86 with COMPlus_ForceRelocs=1"
e.g. https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_forcerelocs/159/

I have been able to repro a similar failure locally with the following stack trace:
[code]

cc @BruceForstall @swgillespie

[2017-05-16 22:39] swgillespie commented on #11661
Sadly this is a Windows bug (https://github.com/dotnet/coreclr/issues/11282), so there's not much we (the GC) can do about it. My understanding is that building without CFG keeps this from happening.

[2017-05-16 22:42] pgavlin commented on #11661
Gross.

FWIW, the stack in the linked failure is different:

[code]

[2017-05-16 22:45] swgillespie commented on #11661
Ah! I'll take a look at that.

[2017-05-16 23:22] gkhanna79 commented on #11248
@hqueue @jyoungyun @hseok-oh We are approaching the point where preview2 commits can only be made in release/2.0.0 branch and master will fork for vnext. I will let you know in a day or so when that happens.

We are working towards the goal of getting all our preview2 fixes in by 5/26 EOD.

This is just FYI so that you can plan accordingly. Post 5/26, the criteria to get fixes in will be essential

[2017-05-16 23:52] parjong commented on #11539
This issue does not appear any more.

[2017-05-16 23:54] brianrob commented on #11539
I actually suspect that this is a real issue that will appear if tracing is enabled.  Re-opening so that I can investigate.

[2017-05-17 00:03] wtgodbe opened #11663 "Re-enable failing Loader tests"
Two ClassLoader tests are failing with bad ProjectReferences. The fix is to Explicitly Reference the .ilproj at the end of the chain

[2017-05-17 00:04] wtgodbe opened #11664 "Fix JIT/CheckProjects"
This test fails with the new BuildTools update.

[2017-05-17 00:04] wtgodbe opened #11665 "Clean up BuildTools update PR"
I need to address feedback from https://github.com/dotnet/coreclr/pull/11620, which was merged before general cleanup changes could be made/tested

[2017-05-17 00:11] #11556 closed

[2017-05-17 00:28] AndyAyersMS commented on #11619
Got another repro of the `DONT_INLINE` bit changing. Will do one more round of runs before deciding this is the only possibility.

[2017-05-17 02:37] jyoungyun commented on #11248
@lemmaa @hqueue @hseok-oh @chunseoklee Well, I think the jobs for enabling the Linux arm and armel are almost over. I am now adding the Tizen CI into the core-setup and it is likely to end up today. Another remaining job is the pipeline build issue. Although we have a issue in the build cycle btw MS and Tizen, but some work. I'm checking the 'dotnet/versions' repository and the version file in run

[2017-05-17 02:42] alberk8 commented on #10605
I would be fantastic if there is support for ARMv6 cpu like Pi Zero and Pi Zero W.   For some use cases there is no need to use a more powerful ARMv7 like Pi 3.

[2017-05-17 03:05] hqueue commented on #9689
@jyoungyun Can we close this by now ?

[2017-05-17 03:45] dbreshears commented on #11605
@gkhanna79.  Unable to close this it seems.

[2017-05-17 04:12] #11605 closed

[2017-05-17 04:12] jyoungyun commented on #11248
Related remaining issues:
https://github.com/dotnet/core-setup/issues/725 Enalbling Linux ARM32 for .NET Core
https://github.com/dotnet/core-setup/issues/790 Enable CI support for Linux ARM32
https://github.com/dotnet/core-setup/issues/1566 Enable Pipeline build support for Linux armel(Tizen)

https://github.com/dotnet/corefx/issues/16335 [armel][Tizen] Enable CoreFX Pipeline build support for Lin

[2017-05-17 04:36] gkhanna79 commented on #11248
@jyoungyun Were you able to extract the SHAs from the runtime.* packages @joperezr pointed at to address the cycle issue?

[2017-05-17 05:15] ViktorHofer commented on #9914
Is there a reason why we are still blocking them? They should be supported in UWP

[2017-05-17 05:18] mikedn commented on #9914
UWP uses AOT compilation, how is something like `Assembly.Load` support to work in that environment?!

[2017-05-17 05:25] ViktorHofer commented on #9914
Duplicate of https://github.com/dotnet/coreclr/issues/9912

[2017-05-17 05:25] #9914 closed

[2017-05-17 05:29] ViktorHofer commented on #9912
We have way to many issues for this. Dan closed my dup and I just closed another dup here in coreclr. Let's disucss this here on this one please.

@MichalStrehovsky:

As we are also running our tests on UAP (without Project N), would it be possible to support it there? I'm not sure if with 2.1 anything will remain running in UAP instead of UAPAOT.

[2017-05-17 05:32] jyoungyun commented on #11248
@gkhanna79 Yes, I see the SHAs for coreclr, corefx and core-setup in runtime.* packages. I'm searching for how to poll runtime.M.N.App nupkgs whenever new version is pushed. I think if you add a webhook for our  webservice, this issue is solved. Can you add webhook for us? And is there other way to poll the runtime.M.N.App nupkg ?

[2017-05-17 05:33] jkotas commented on #9912
It can be win for side-loaded UWP applications that do not need to pass Windows Store restrictions. We have heard asks from developers of enterprise apps who are perfectly happy to ship the "developer experience" to not artificially prohibit things like this.

[2017-05-17 06:19] MichalStrehovsky commented on #9912
I would be okay with that, but only if it's behind a switch that is off by default. A great deal of .NET Native issues we have dealt with in the past are for customers who turned on .NET Native for the first time the moment they were about to ship. I would rather not see this on the list of issues customer encounter at the last minute that causes them to slip schedules. Behavioral differences betw

[2017-05-17 06:23] ViktorHofer commented on #9912
Exactly for these reasons we have compiler warnings / static analysis tools. When building in Debug it could emit a warning that this API is not available in Release Mode. Or as I said static analysis.

[2017-05-17 06:49] ViktorHofer commented on #9912
cc @AtsushiKan @danmosemsft

[2017-05-17 07:55] tmds opened #11678 "2.0.0-preview1 mscorlib is not crossgen-ed"
.NET Core 1.x had an mscorlib.ni.dll, this file is not in the 2.0.0-preview1.

The mscorlib.dll doesn't look like it's crossgen-ed:
[code]

CC @janvorli

[2017-05-17 07:57] mikedn commented on #11678
mscorlib is a reference only assembly, it contains no code. Why would that be crossgened?

[2017-05-17 08:17] hqueue commented on #11646
It seems to be not a trivial job to make it print out double registers for ARM32 correctly, because there are different paths to get a name of ARM32 double registers.

- COMPlus_JitDump
  - Each phase use different method to print out register name.
- COMPlus_JitDisasm

For example, each phase of JIT compiler use different way to print out double registers, i.e. calling `getRegNameFloat()`,  `getR

[2017-05-17 08:21] sjsinju opened #11679 "[RyuJit/ARM32] NYI: Unimplemented node type jump"
403 TCs in JIT/Methodical would meet assertion messages.
One of the TCs is below.
[code]

[2017-05-17 08:22] sjsinju commented on #11679
Fact1 method
[code]

[2017-05-17 08:27] tmds commented on #11678
@mikedn I don't know. It was crossgened for 1.x.

[2017-05-17 12:49] #11611 closed

[2017-05-17 14:07] jkotas commented on #9912
Agree - http://github.com/terrajobst/platform-compat.

There are number of other differences between .NET Native and CoreCLR. We have tried to conditionally mimic the .NET Native behavior in CoreCLR by adding similar roadblocks like this one in the past. We have given up on it and got rid most of them. I see the LoadFrom/LoadFile checks as last few leftovers from the abandoned effort.

[2017-05-17 15:26] glatzert opened #11681 "[Question] Will the dotnet runtime be updateable automatically via windows update?"
I tried to find Information on this Topic, but failed.

So will we be able to Auto-Update the dotnet runtime via WU or WSUS?

[2017-05-17 15:43] Tragetaschen opened #11682 "Build race between generating eventing headers and compiling source code needing them"
I just hit a build failure in my Yocto ARM build where CMake already tried to compile `dotnetruntime.cpp` before the `genXplatEventing.py` script had generated the required `clretwallmain.h` header:

[code]

I just restarted the build (with the generated files already in place) and it succeeded

[2017-05-17 15:49] kouvel opened #11683 "Reserve address space for jump stubs along with precode allocation"
When allocating space for precode, check whether sufficient address space is available for enough jump stub space for the precode within a 2 GB region, and reserve it. If not available, the precode will need to be allocated elsewhere.

[2017-05-17 16:08] danmosemsft commented on #9912
There are quite a few other `#if FEATURE_APPX` in corelib but in a quick look they seem legitimate eg related to PRI's, different unhandled error behavior, ... @jkotas are there any others you think we should remove?

[2017-05-17 16:09] danmosemsft commented on #11681
@leecow

[2017-05-17 16:10] danmosemsft commented on #11652
@MarinAtanasov are you able to try 2.0 preview also? how does that compare? There were some significant improvements relating to timezones that may be relevant.

[2017-05-17 16:20] leecow commented on #11681
General updates will not be available through these mechanism but security releases will.

[2017-05-17 16:49] MichalStrehovsky commented on #9912
That's a Roslyn analyzer - it won't give me *anything* if I download a NuGet package targeting NetStandard 2.0 and relying on the API, do my development on Debug, then switch to Release just before uploading to the Store, and find myself having to throw out everything that depends on the missing functionality. It was a really unfortunate choice putting APIs to NetStandard that we can't support eve

[2017-05-17 16:54] jkotas commented on #9912
The few checks around `Assembly.Load` are the only ones left that I am aware of.

[2017-05-17 18:18] svick opened #11686 "Would it be possible to resize arrays without reallocating?"
Currently, when a type like `List<T>` wants to resize an array, it has to allocate a new array and copy all the elements from the old array to the new one (possibly using `Array.Resize()`). I think this copying can take a fairly long time, especially for large arrays.

But considering that on 64-bit platforms, there should be enough free virtual address space, would it be possible to "reserve" mor

[2017-05-17 18:21] spottedmahn commented on #11576
I see, thanks @karelz

[2017-05-17 18:24] mikem8361 opened #11687 "The createdump utility needs RPATH"
To find the mscordaccore reference when run as a standalone utility. Works fine when launched from coreclr.

[2017-05-17 19:09] mikedn commented on #11686
Likely. But there's at least one ugly issue: thread safety. The GC needs to know the length of the array to be able to scan it. The JIT needs to know the length the array to be able to eliminate range checks. If the array length can change then things may get complicated.

Yes, provided that an application actually makes significant use of this feature (that includes allocating large enough arrays

[2017-05-17 19:47] JosephTremoulet opened #11689 "Jit incorrectly hoists non-`ClsVar` statics"
The same issue that #11465 fixed for `ClsVar` statics can also happen for `IconHandle` statics.  Here's an example that incorrectly hoists the static access above the static init helper call and thus fails on Win/x64:

[code]

[2017-05-17 19:48] JosephTremoulet commented on #11689
@RussKeldorph, I'm assuming milestone should be 2.0.0 since we took #11465 for 2.0 and this is the issue of VSO 436357 which is pegged for 4.7.1

[2017-05-17 19:49] JosephTremoulet commented on #11689
/cc @briansull @russellhadley

[2017-05-17 19:50] svick commented on #11686
Good point, but I think those problems might be solvable.

Concurrent GC already has to handle object mutations (like assigning references). Maybe a similar kind of write barrier could be used here?

If the array size could only grow, then eliminated range checks based on old size would still be valid. Considering that types like `List<T>` generally don't shrink the underlying array on their own,

[2017-05-17 20:08] brianrob opened #11691 "AV in libcoreclr.so`EventPipeEventInstance::GetTimeStamp(this=0x0000000000000000)"
AV when writing the contents of the EventPipe circular buffer to a trace file:

* thread #1: tid = 36267, 0x00007ffff59aaa04 libcoreclr.so`EventPipeEventInstance::GetTimeStamp(this=0x0000000000000000) const + 52 at eventpipeeventinstance.cpp:65, name = 'dotnet', stop reason = invalid address (fault address: 0x18)
    frame #0: 0x00007ffff59aaa04 libcoreclr.so`EventPipeEventInstance::GetTimeStamp(t

[2017-05-17 20:13] brianrob commented on #11691
Candidate fix at https://github.com/brianrob/coreclr/commit/fc6a640fee30ca4bda32f77f1cf5e7a4d3bd6e9d.

[2017-05-17 20:17] brianrob opened #11692 "AV: Building EventMetadata When Writing a Trace File"
`* thread #1: tid = 37369, 0x00007ffff6e99410 libc.so.6`??? + 352, name = 'dotnet', stop reason = invalid address (fault address: 0x3)
  * frame #0: 0x00007ffff6e99410 libc.so.6`??? + 352
    frame #1: 0x00007ffff60c49fe libcoreclr.so`PAL_memcpy(dest=0x00000000007ba090, src=0x0000000000000003, count=16) + 414 at misc.cpp:312
    frame #2: 0x00007ffff57b7bb4 libcoreclr.so`memcpyNoGCRefs(dest=0x0000

[2017-05-17 20:49] nickwalkmsft opened #11695 "Finally block not called on unhandled exception on Linux"
See http://stackoverflow.com/questions/44032931/net-core-unhandled-exception-in-using-does-not-call-dispose-on-linux

On Linux, finally{} blocks do not appear to be executed on exceptions that go completely uncaught. On Windows, the finally{} runs, but not for ~20 seconds after the exception text is written to the console.

[2017-05-17 21:31] discostu105 commented on #3894
What Damian says in this video (https://youtu.be/356xGRWSSfQ?t=3747) is just about what might solve my problem here.

I found environement variables `DOTNET_ADDITIONAL_DEPS` and `ASPNETCORE_HOSTINGSTARTUPASSEMBLIES` being used in https://github.com/aspnet/AzureIntegration/blob/dev/src/Microsoft.AspNetCore.AzureAppServices.SiteExtension/applicationHost.xdt but could not find any documentation about

[2017-05-18 00:41] rartemev commented on #11647
I have tried to reproduce all this errors many times unsuccessfully. I used two ways, automatic and manual runs.

Using automatic run
[code]

And using batch script for almost every single test like this:
`CoreMangLib\cti\system\uint64\UInt64Parse1\UInt64Parse1.cmd -coreroot Tests\Core_Root`

Does anyone have an idea what to do next?

[2017-05-18 00:48] #11663 closed

[2017-05-18 00:54] karelz commented on #11498
@gkhanna79 if it is by design, can we close it?

[2017-05-18 00:56] CarolEidt opened #11702 "SuperPMI should support ReadyToRun"
When crossgen'ing assemblies with ReadyToRun, the following NYIs show up in SuperPMI:
* getReadyToRunHelper
* GetReadyToRunDelegateCtorHelper

There may be others.

[2017-05-18 01:25] #9321 closed

[2017-05-18 01:27] ygc369 commented on #11686
@svick
Two problems:
1. On 32-bit platforms, there may not be enough free virtual address space, how would your `ResizableArray<T>` behave?
2. If the size reduces, would it free some memory?

[2017-05-18 02:03] slozier commented on #11498
Seems like a bit of an odd design choice. Makes it hard to use the Assembly.Load* methods on existing assemblies. For example I have A.dll which references B.dll. I place both files in the application folder and use Assembly.LoadFrom to load A. I then use a bit of reflection to invoke a method on A which uses something in B and I end up with a `TargetInvocationException`. It works fine with the .N

[2017-05-18 02:31] gkhanna79 commented on #11498
The assembly binding behavior is, by design, distinctly different between Desktop and .NET Core. In 1.0, it happened to work due to a bug in the host that was fixed in 1.1.

Assembly.LoadFrom is a .NET Framework API that has been supported in 2.0 and for it, we emulate the desktop behavior.

[2017-05-18 05:31] parjong opened #11704 "[x86/Linux] segmentation fault with sos command"
#11666 and #11701 resolves undefined references on SOS plugin on x86/Linux, and thus we could load SOS plugin.

Unfortunately, sos command results in segmentation fault:
[code]

[2017-05-18 05:51] Maoni0 commented on #11338
Sorry I hadn't responded - but I have been pondering about this.

@ryanerdmann what you described sounds like you know how much memory your process consumes *normally*, but it may go over unexpectedly. Can you describe what you do when it goes over? If your process's mem usage is more than what it normally uses by quite a bit, on a densely packed server surely it will affect other processes.

Ther

[2017-05-18 05:55] Maoni0 commented on #11338
#7932

[2017-05-18 06:25] BruceForstall commented on #11646
I think for arm32 legacy_backend, we just lived with it, since while it is confusing, once you understand it, there is no ambiguity. It would be nice to fix it, though.

That is true, but would be a one-time, temporary thing.

[2017-05-18 06:33] BruceForstall opened #11707 "[RyuJIT][LSRA] Don't create Interval for non-reg candidate tracked variables"
With #11698, only tracked variables have Intervals created for them. However, it still creates Intervals for non-reg candidate tracked variables; it shouldn't need to do this, if LSRA only pays attention to reg candidate variables. It possible doing this would improve memory allocation and throughput.

[2017-05-18 08:48] hqueue commented on #11646
Right, if we are aware of it, there is no problem.

Because there are other urgent issues in ryujit/arm32, I'm going to leave it as future task and just notify it to other arm32 contributors.

@dotnet/arm32-contrib Please be aware that double register number in JitDump and JitDisam is not correct for ARM32 in both LegacyJIT and RyuJIT.

[2017-05-18 09:49] svick commented on #11686
I'm not sure. The type would either be much less useful on 32-bit, or it wouldn't give any advantage over array at all. For now, let's just assume it would behave like array and reallocate for every `Resize`.

If reducing the size of a `ResizableArray<T>` was actually allowed (see my answers to @mikedn for why it might not), then yes, I think it should deallocate memory. Why would that be a proble

[2017-05-18 10:31] cydhaselton commented on #917
For tracking Android progress: https://github.com/dotnet/core-setup/issues/1651

Help is always welcome.

[2017-05-18 10:34] Budenniy commented on #11614
Hi Jan,

Could you explain why it is expected behaviour? I believe ANSI and UTF8 are quite different. How do we marshal structures with ANSI string members else and what's the purpose of CharSet.Ansi member then? Currently it's misleading and causes different behaviour of the same code at Windows vs Linux platforms.

Best,
Vlad

[2017-05-18 11:37] mikedn commented on #11686
Changing references is a rather different situation. But yes, there are probably solutions to thread safety issues like this. For example when extending the array Resize should:
* commit the memory
* zero it out
* update length

This prevents the GC from scanning into memory that contains garbage. Of course, zeroing memory has a cost but that's unavoidable.

Actually being able to decrease the arr

[2017-05-18 12:45] benaadams commented on #11338
The scenario I'm thinking of for overflow is demand bursting; with a regular lower level demand (for example on web site). Likely would have the upper bound unset.

[2017-05-18 13:31] hqueue opened #11712 "[RyuJIT/ARM32] NYI: Unimplemented node type initVal"
`GT_INIT_VAL` is not implemented yet for ryujit/arm32.

## Example
With `COMPlus_AltJit=main` option, following two tests failed with NYI assertion.

[code]

[code]

I will post PR soon.

[2017-05-18 13:50] jkotas commented on #11614
On Windows, Ansi marshalling uses the current Windows ANSI code page, ie. the codepage returned by [GetACP](https://msdn.microsoft.com/en-us/library/windows/desktop/dd318070(v=vs.85).aspx) Windows API. This value depends on your system setting, it can be any encoding, including UTF8.

Unix systems standardized on UTF8 encoding. There is no explicit concept of current code page. The equivalent of "

[2017-05-18 13:56] Budenniy commented on #11614
Jan,

I agree - dived into a question a bit deeper, ANSI term itself is slightly misleading these days. I'll rephrase my question - how do we marshal a structure with 8-bit char string member in it? (except obvious manual char array conversion)

Best,
Vlad

[2017-05-18 14:09] gkhanna79 commented on #11248
@jyoungyun Can you do timed polls (say, around 7am and 7pm)?

Also, master branch for CoreCLR/CoreFX/Standard repos are now forked to be 2.1-preview1. Core-Setup is still being worked upon to move to 2.1 - so, if you have any changes for it, please let me know. I will let you know when Core-Setup master is 2.1-preview1 (hopefully today).

Release/2.0.0 of CoreCLR/CoreFX/Standard/Core-Setup now car

[2017-05-18 14:13] jkotas commented on #11614
There is nothing built-in if you are trying to marshal it to on-wire format that should fixed accross different OSes.

If you have a lot of these structures and you do not want to write the marshalling code manually, you may consider writing auto-generator of the marshalling code. As a side-effect, it should be also significantly faster than PtrToStructure and similar methods. The implementation o

[2017-05-18 14:26] hqueue commented on #11248
@gkhanna79 Just to make sure, I think you meant time in PST(UTC-8) or PDT(UTC-7) ?

[2017-05-18 14:32] gkhanna79 commented on #11248
Seattle time :)

[2017-05-18 14:40] ruben-ayrapetyan opened #11715 "[ARM32] SIGILL on vstr"
Hello.

There is some issue, which causes rare failures with `SIGILL` on ARM32

The failure was catched on `Double_And_Op_cs_d.exe` of CoreCLR test suite (`--crossgen --runcrossgentests`), details are below.

Build:
 arm release

Commit:
 ef8d1522eb15cb0371f31a9392891c942547a91f

Hardware:
 ODROID-XU3

The following GDB dump is for version with changes based on the commit.
With the changes, the fa

[2017-05-18 15:22] brianrob commented on #11692
This happens when we're building metadata for the event, meaning that this is the first time that this event has been written to the file.

The EventPipeEventInstance appears to be OK - with a debug build, the start and end markers are intact.

If we follow the EventPipeEvent pointer, we find the corruption.  Something is likely overwriting the EventPipeEvent.

[2017-05-18 15:49] Budenniy commented on #11614
Already considered something like that - planned to try UnmanagedType.CustomMarshaler, but turned out it's not supported in current .netstandard1.6

[2017-05-18 15:52] janvorli opened #11716 "Lots of warnings from Build.Common.props during build"
There is a lot of warnings like the following now during coreclr build:
`home/janvorli/git/coreclr/Tools/Build.Common.props(53,3): warning MSB4011: "/home/janvorli/git/coreclr/Tools/BuildVersion.targets" cannot be imported again. It was already imported at "/home/janvorli/git/coreclr/dir.props (90,3)". This is most likely a build authoring error. This subsequent import will be ignored. [/home/janv

[2017-05-18 16:12] jashook opened #11717 "[amd64 Unix|arm64] fastTailCall stack fixup NYI if TYP_STRUCT"
The Issue:

Lowering::LowerFastTailCall will fix up the stack before the jump. In the case that the caller's stack frame has a TYP_STRUCT which needs to be overwritten we would create a temp struct and pass it currently according to the windows ABI. Currently we will not execute this code path because we make several choices before lowering the tail call that keep this from being true. First, we w

[2017-05-18 16:12] jashook commented on #11717
/cc @RussKeldorph

[2017-05-18 16:25] #10108 closed

[2017-05-18 17:15] svick commented on #11686
What specifically are you worried about? That doing this would degrade performance of those OS services?

But yes, it's possible this would not actually work well. I guess the first step in prototyping this would be to write a native application that simulates how this would behave under load as closely as possible and run it on the supported OSes.

That's certainly possible.

[2017-05-18 17:20] jkotas commented on #11614
UnmanagedType.CustomMarshaler is added back in netstandard2.0.

[2017-05-18 17:38] mikedn commented on #11686
Yes. For example the following piece of code takes a rather long time on Windows:
[code]
If the allocation size is 8 times smaller then the same code runs instantly. That's kind of odd and I've seen other such issues.

[2017-05-18 18:36] sandreenko commented on #11702
Could you write a repro steps please?

[2017-05-18 19:43] wtgodbe commented on #11664
@AndyAyersMS this test started failing after I updated BuildTools to the 2.0.0 version - I've pasted the error message below, which doesn't tell me much (All suffixes appear to indicate success). Any ideas?

[2017-05-18 19:43] wtgodbe commented on #11664
\n\nReturn code: 1\nRaw output file: D:\\j\\workspace\\debug_windows---17180f1b\\bin\\tests\\Windows_NT.x64.Debug\\Reports\\JIT.CheckProjects\\CheckProjects\\CheckProjects.output.txt\nRaw output:\nBEGIN EXECUTION\r\n \"D:\\j\\workspace\\debug_windows---17180f1b\\tests\\..\\bin\\tests\\Windows_NT.x64.Debug\\Tests\\Core_Root\\corerun.exe\" CheckProjects.exe \r\nScanning projects under D:\\j\\workspa

[2017-05-18 19:43] wtgodbe commented on #11664
https://ci.dot.net/job/dotnet_coreclr/job/master/job/debug_windows_nt_prtest/6913/testReport/junit/JIT_CheckProjects/_CheckProjects_CheckProjects_/_CheckProjects_CheckProjects_cmd/

[2017-05-18 19:47] redknightlois opened #11723 "Interlocked.CompareExchange missing for uint, ulong and (if possible) general structs."
I recently needed to use ```Interlocked.CompareExchange``` inside a function with the following form:

[code]

problem is that it can´t be done because the ```Interlocked.CompareExchange<T>``` requires it to be a class.

Also if anyone knows a workaround for it, I would appreciate it.

[2017-05-18 19:49] AndyAyersMS commented on #11664
It doesn't understand that there are now partial project files in the jit tree, so it thinks the following 3 projects need fixes since they don't specify `DebugType`. It should be updated to ignore any `.csproj` files under `config`.
[code]

[2017-05-18 20:22] stephentoub commented on #11723
For uint, you could do something like:
[code]

For ulong, same but with long instead of int overload.

For structs, not sure how that would work given platform limitations on what sizes can be worked with atomically, alignment, etc.

[2017-05-18 20:24] stephentoub commented on #11723
(And with System.Runtime.CompilerServices.Unsafe, you could do the same thing for uint/ulong but without the unsafe pointer stuff: https://github.com/dotnet/corefx/blob/master/src/System.Runtime.CompilerServices.Unsafe/ref/System.Runtime.CompilerServices.Unsafe.cs#L19)

[2017-05-18 20:47] northtyphoon opened #11725 "EventPipe: new data request"
The following data is collected in ETW. They are useful diagnostics information.

1. Process id
2. Process name
3. OS arch (x64 vs x86)
4. OS version
5. CPU frequency
6. Number of processors

[2017-05-18 21:30] DrewScoggins opened #11729 "Fix broken performance test infrastructure"
The check-in that moved build tools forward to 2.0, broke all of our performance tests.

[2017-05-18 21:31] MarinAtanasov commented on #11652
@danmosemsft cannot test because 2.0 preview requires Sierra. I will be staying with El Capitan for at least a few more weeks.

[2017-05-18 21:59] redknightlois commented on #11723
Great! Gonna use that.

[2017-05-18 22:16] danmosemsft commented on #11652
@tarekgh is it reasonable to close this as fixed?

[2017-05-18 22:31] tarekgh commented on #11652
@eerhardt was the one working on that so I think he can confirm.

[2017-05-18 22:36] CarolEidt commented on #11702
Assuming your coreclr clone is at E:\git\coreclr:

cd E:\git\coreclr\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root
set COMPlus_AltJit=*
set COMPlus_AltJitName=superpmi-shim-collector.dll
set SuperPMIShimLogPath=E:\SuperPmi
set SuperPMIShimPath=E:\git\coreclr\bin\Product\Windows_NT.x64.Checked\clrjit.dll

\git\coreclr\bin\Product\Windows_NT.x64.Checked\crossgen.exe /JITPath E:\git\coreclr\bin\Pr

[2017-05-18 22:58] #11716 closed

[2017-05-18 23:18] #11664 closed

[2017-05-18 23:23] pgavlin opened #11733 "System.Linq.Expressions.Tests.BinaryPowerTests.CheckFloatPowerTest(useInterpreter: False) failing on Ubuntu x64 with JitStress=2"
e.g. https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_ubuntu_corefx_jitstress2/176/

[2017-05-18 23:25] pgavlin opened #11734 "System.Runtime.CompilerServices.UnsafeTests.WriteBytesIntoInt32 failing on Ubuntu x64 under JitStressRegs=4"
e.g. https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_ubuntu_corefx_jitstressregs4/178/

[2017-05-19 02:50] gkhanna79 commented on #11615
@brianrob Please assign to someone if this is being tracked for 2.0.0.

[2017-05-19 03:01] swgillespie opened #11737 "Fix GC/API/WeakReference/Finalize2 to be more robust"
This test does `Collect`/`WaitForPendingFinalizers`/`Collect` [here](https://github.com/dotnet/coreclr/blob/master/tests/src/GC/API/WeakReference/Finalize2.cs#L139-L141) before asserting that all finalizers have run, which is not a safe assumption and prone to races between the main and finalizer threads. The fix is to do the collect/wfpf/collect calls in a loop while asserting that forward progre

[2017-05-19 04:39] jyoungyun commented on #11248
@gkhanna79 Thank you for information about new version naming. I saw that the version was changed as you said.

If your pipeline build is triggered every 7am and 7pm, I can drive our build as the same time schedule. However when I look at dotnet-core myget, there are *-03 nupkgs. If you build twice a day,  you should upload only 2 versions, 01, 02. If I manage by time, I can not know that you trig

[2017-05-19 07:47] Budenniy commented on #11614
Good morning Jan,

Thanks for tipping, a pity currently it's only in preview state, management is reluctant to use it for production, however I will definitely give it a try.

From how I see the whole picture with my situation I guess the issue can be closed.

Best,
Vlad

[2017-05-19 07:50] #11614 closed

[2017-05-19 09:33] glatzert commented on #11681
So will the updates be available in WSUS automatically or do we have to Import a package from the download Center?
Is the workflow documented somewhere? Or should it work automatically with our WSUS?

[2017-05-19 15:24] #11619 closed

[2017-05-19 16:57] eerhardt commented on #11652
I just ran the following code on my macOS Sierra machine and my win10 machine using:

[code]

[code]

**MacBook Pro** | **Windows 10**
----------------- | -------------------------------------
21<br>24<br>23<br>24<br>23<br>24<br>24<br>24<br>23<br>23<br>23<br>23<br>23<br>24<br>24<br>24<br>27<br>24<br>24<br>24<br> | 16<br>17<br>14<br>15<br>13<br>17<br>15<br>16<br>15<br>15<br>14<br>17<br>15<br>17<br>

[2017-05-19 16:57] #11652 closed

[2017-05-19 17:24] #9317 closed

[2017-05-19 17:34] danmosemsft commented on #11652
Excellent thank you @eerhardt .

[2017-05-19 18:08] janvorli commented on #11695
@nickwalkmsft this is an expected behavior. On Windows, it really depends on how you have Watson set up. You can get the same behavior as on Linux there as well.
If you care about finallys being run in case of unhandled exception, you can always add try / catch at the topmost level of your app / thread to ensure that.

[2017-05-19 18:10] nickwalkmsft commented on #11695
Interesting, thanks!

[2017-05-19 18:10] #11695 closed

[2017-05-19 19:40] BruceForstall commented on #3816
@CarolEidt Looks like this can be closed?

[2017-05-19 19:50] CarolEidt commented on #3816
@BruceForstall Yes, I think this can be closed.

[2017-05-19 19:50] #3816 closed

[2017-05-19 20:36] #11733 closed

[2017-05-19 20:51] dagood opened #11754 "Change release/2.0.0 branch auto-upgrade to pull from upstream 2.0.0 branches, not master"
Right now, [`DependencyBranch`](https://github.com/dotnet/coreclr/blob/4312dc7ea6f437ebd4071b86600aa043d6ca73da/dependencies.props#L22) in dependencies.props is set to update to `master` builds. It should update to `release/2.0.0` builds, instead.

See https://github.com/dotnet/core-setup/pull/2455. We should probably wait to do this until we have successful 2.0.0-branch preview2 builds of each up

[2017-05-19 21:04] danmosemsft commented on #9912
@safern

[2017-05-19 21:25] MattWhilden commented on #9912
I share the concerns that @MichalStrehovsky has brought up. We spent a rather large amount of effort in the run up to Win10 RTM gutting CoreCLR capability so that developers wouldn't hit surprises the first time they ship into the store. Some things we know are true about UWP developers (maybe all developers?? :-)):

- They do not expect DEBUG and RELEASE to have behavior differences
- Thus, they

[2017-05-19 21:26] #11200 closed

[2017-05-19 21:51] sdmaclea opened #11755 "[Arm64] Remove unnecessary shift count masking #11594"
Move code from #11594 lowerxarch to lowercommon and support on arm64 (not arm32)

@dotnet/arm64-contrib

[2017-05-19 22:00] #11030 closed

[2017-05-19 22:21] noahfalk commented on #3894
Perusing some code, it looks like DOTNET_ADDITIONAL_DEPS has the same effect as the --additional-deps argument, but I haven't seen any docs on it.
https://github.com/dotnet/core-setup/blob/master/src/corehost/cli/fxr/fx_muxer.cpp

I did see that it appears mutually exclusive with the command line argument though which might be an issue?

Maybe a question to the folks over in that repo would get a

[2017-05-19 22:23] #11603 closed

[2017-05-19 22:50] #11712 closed

[2017-05-19 23:32] ViktorHofer opened #11756 "System.TimeZoneInfo.AdjustmentRule is missing object.Equals(object) override"
Applies to both netfx and corefx.

Netfx: https://referencesource.microsoft.com/#mscorlib/system/timezoneinfo.cs,3066
Core: https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/TimeZoneInfo.AdjustmentRule.cs#L46

##Repro##
[code]

[2017-05-20 00:08] mikem8361 opened #11758 "Createdump utility failure reading DSO link_map name"
Found a problem reading the module name when enumerating the DSO link_map entries when adding createdump tests to the debugger tests repo.

[2017-05-20 00:15] evo01 opened #11760 "Assembly.LoadModule/AssemblyBuilder.LoadModule Not Implemented by Design"
Howdy,

I am sure I am late to the party on this one, but what is the current reason why we are not supporting Assembly.LoadModule(string name, byte[] rawCoff) / AssemblyBuilder.LoadModule?  I noticed in .NET 4.0 this method was removed, just trying to understand why and what is the suggested workarounds?

Thanks in adavance!

Adam

[2017-05-20 00:20] #9633 closed

[2017-05-20 00:42] briansull opened #11761 "Second crossgen of System.Private.Corelib.dll produces bad native image"
Currently our builds produce a crossgen-ed System.Private.CoreLib.dll that contains a native image section.
Re-running crossgen again using that as the input produced a slightly different version with some code differences.  These difference are found when class static array aggregates are directly initialized to a static data array that is contained in the RVA static area.  When the new twice cro

[2017-05-20 00:49] briansull commented on #11761
A typical diff can be found in this method: System.Math:.cctor()

Before (working codegen)
[code]
After (non-working codegen)

[code]

The non workering version have a call to the the JIT helper CORINFO_HELP_FIELDDESC_TO_STUBRUNTIMEFIELD followed by a call to CompilerServices.RuntimeHelpers:InitializeArray

Where as the working code start ioff using a BlkCopy which is either expanded inline to tur

[2017-05-20 01:10] briansull commented on #11689
Are you planning to check this in soon?

[2017-05-20 01:14] briansull commented on #3408
@russellhadley

[2017-05-20 01:42] ViktorHofer opened #11763 "System.Text.StringBuilder is missing object.Equals(object) override"
Applies to both netfx and corefx.
Netfx: https://referencesource.microsoft.com/#mscorlib/system/text/stringbuilder.cs,1490
Core: https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Text/StringBuilder.cs#L1756

It is also not implementing `IEquatable<StringBuilder>` BUT containing its implementation: https://msdn.microsoft.com/en-us/library/ccth01t4(v=vs.110).aspx

Is this by d

[2017-05-20 02:15] danmosemsft commented on #11723
Do we still need an issue? Is there a proposal to add such API?

[2017-05-20 02:23] Cologler commented on #926
@Mike-EEE  archive.org has the content snapshots:

https://web.archive.org/web/20160429093051/http://blogs.msdn.com/b/kingces/archive/2005/08/01/446247.aspx

[2017-05-20 02:23] JosephTremoulet commented on #11689
Probably Monday. X64 BVT passed; other desktop testing still running.

[2017-05-20 02:50] sdmaclea opened #11764 "[Arm64/Unix] Corefx *.dll manifest definition does not match the assembly reference"
`7a75598` I failing 100% of tests on [Arm64/Unix]
Last known good version `bad6729`

Needs triage

@dotnet/arm64-contrib I will look at this next week.

[2017-05-20 05:15] gkhanna79 commented on #9689
@hqueue @jyoungyun Can this be closed?

[2017-05-20 05:29] BruceForstall commented on #11764
fyi @dotnet/jit-contrib

[2017-05-20 09:33] 303248153 opened #11766 "How the NullReferenceException is thrown by coreclr?"
Hello, I'm trying to understand how NullReferenceException is thrown.

First I looked at the generated assembly code,
most time it use instruction like `cmp [reg], reg` to make the hardware throw an exception when instance is null.

Then it catch the SIGSEGV signal by sigsegv_handler on linux, and then passdown like

[code]

This is what I know so far.

But I don't know:

### (1) RtlRestoreContext

[2017-05-20 09:43] #10141 closed

[2017-05-20 11:04] Mike-EEE commented on #926
I have been out-internetted yet again. 😆 Thanks @Cologler. 👍

[2017-05-20 15:30] BruceForstall commented on #8496
# NYI status

As before, I ran the ARM32 altjit over the dotnet/coreclr pri0 (default set of) tests and saw the following NYI (ordered by number of occurrences):
[code]

This was run on x86 checked on Windows, using:
[code]
And, uncommenting this line in protononjit_testenv.cmd:
[code]
And, finally, postprocessing JitFuncInfoLogFile.txt.

Can someone provide a similar table for all the tests run o

[2017-05-20 15:36] sdmaclea commented on #11764
Looks like the first patch which caused significant regression was  01fe990 Which was the Update CoreFx to preview2-25319-01 (#11736) unfortunately.

However this only caused 80% of the tests to fail, there is apparently another breaking commit.

The failures I observed seemed to be missing dependencies.
[code]

[2017-05-20 15:38] BruceForstall commented on #8496
More generally, I'm trying to get a sense of:
1. How much work is left,
2 What kind of work is left,
3. How many people are working on RyuJIT/arm32, and
4. Who is working on what.

[2017-05-20 15:40] BruceForstall commented on #11764
It seems like we should get these "Update CoreFx" and similar changes to run arm64 tests as a general rule. cc @gkhanna79 .

[2017-05-20 16:46] janvorli commented on #11766
@303248153 here are answers to your questions:
1. The PC is set to the place where the code execution continues after the catch handler is done.
2. The conversion happens in MapWin32FaultToCOMPlusException in excep.cpp
3. On Windows, the vectored exception handler CLRVectoredExceptionHandlerShim is called by the OS to process hardware exceptions.

[2017-05-20 21:00] MarinAtanasov commented on #11652
Thanks for the quick response guys! Glad to hear that it is OK in 2.0.

[2017-05-20 22:48] andreabalducci commented on #11102
Hit same issue on my mac after working the full morning on my desktop pc.
Pc works as expected, on Mac x100 resolution on ticks. imho it's a bug

        [Fact]
        public void stopwatch_ticks_are_wrong_on_netcore_macos()
        {
            var sw = new Stopwatch();
            sw.Start();
            Thread.Sleep(100);
            sw.Stop();

            var msFromTicks = sw.ElapsedTicks /

[2017-05-21 00:07] tannergooding opened #11768 "`System.IntPtr` and `System.UIntPtr` Improvements"
### Rationale

The .NET framework provides the `System.IntPtr` and `System.UIntPtr` types which wrap the `native int` IL primitive (as per ECMA-335).

These types are frequently used to represent both handles/pointers and integers whose size depend on the underlying platform.

When being used to represent the latter (platform sized integer) type, users may find a difficult time performing some bas

[2017-05-21 04:57] hach-que opened #11769 "Running dotnet core in a read-only container"
I'm attempting to run a .NET core app in a Kubernetes container with a read-only filesystem for security purposes.  The application code itself never writes to any files on disk, but CoreCLR fails to initialize because it can't write a debug pipe to `/tmp`:

<details>

[code]

</details>

I'm not too sure what the purpose of this is, other than it appearing to be some kind of debugging pipe, even

[2017-05-21 04:59] hach-que commented on #11769
It seems like this issue is also reported at #8844, although that case is a scenario where `mknod` is not available.  In this case it's because the filesystem is entirely read-only.

[2017-05-21 11:14] joost-morsink commented on #11102
Hi,

I agree it is very confusing that TimeSpan 'Ticks' are different from
Stopwatch 'Ticks'. But if you use the Stopwatch.Frequency property you
should be able to make the test work.

[code]
This should work on both Mac and Win.

kind regards,

Joost.

On Sun, May 21, 2017 at 12:48 AM, Andrea Balducci <notifications@github.com>
wrote:

[2017-05-21 13:29] GSPP commented on #6052
Doesn't the fact that the GC uses all cores at high priority imply that even a background G2 collection would effectively block the application workload almost entirely for its duration? One could argue that the background GC feature is ineffective for that reason. @Maoni0

[2017-05-21 13:58] atameet opened #11771 "Static constructor & properties"
Hello,

I have the following test code. While, I know the _order_ of the initializations for static properties with/without static constructor(beforefieldinit) present and the calling of the static constructor timing is based on different things . In my understanding, at least when we access the (static)property then it is understood that the (static)constructor would have been called for sure. Pl

[2017-05-21 14:15] benaadams commented on #11771
You are asking whether calling a parent static property on a derived type should trigger the static constructor of the derived type?

[2017-05-21 14:46] atameet commented on #11771
Since you put it this way, I can see what is happening :) but as I had set the property in the derived class static constructor there was a confusion around _expectation_ especially since i was accessing via derived class. If the static constructor has to be called at some point I think it could be nice to call it now and saves from calculating ownerships especially in a long hierarchy. Thanks.

[2017-05-21 16:28] benaadams commented on #11771
Out of curiosity as you can't override static methods/properties, does the compiler give a warning that you should be calling `B.val` instead? As it would if you instead called it like:
[code]

[2017-05-21 16:38] atameet commented on #11771
No, it has 0 Errors and 0 Warnings.
For the d.val example you mentioned it shows a compile error.

[2017-05-21 17:11] tannergooding commented on #11768
I have an implementation of this proposal here: https://github.com/tannergooding/coreclr/pull/1. If this is approved, I can submit a PR to dotnet/coreclr directly.

[2017-05-21 18:39] janvorli commented on #11769
cc: @mikem8361

[2017-05-21 20:03] mikem8361 commented on #11769
To deal with this issue and #8844, we plan to add an environment variable or hosting api to disable managed debugging which is why these pipes are being created.

[2017-05-21 22:43] parjong commented on #11704
#11705 resolves this.

[2017-05-21 22:43] #11704 closed

[2017-05-22 00:42] 303248153 commented on #11766
Ok, thanks for your accurate answer!

[2017-05-22 00:42] #11766 closed

[2017-05-22 01:11] Maoni0 commented on #6052
@GSPP  background GC threads run at normal priority.

[2017-05-22 02:10] parjong opened #11773 "Regressions on threading-related unittests"
Suddenly, several threading-related tests failed to find a relevant script:
[code]

It seems that the relevant script uses incorrect path separator:
[code]

[2017-05-22 02:11] parjong commented on #11773
@jkotas As I know, this script is built by buildtools (downloaded during init-tools.sh). Is there any changes in script generator? Could you let me know who is responsible to this issue?

[2017-05-22 04:49] jkotas commented on #11773
@wtgodbe Looks like regression introduce by recent build-tools update

[2017-05-22 05:39] hqueue commented on #8496
@BruceForstall Thank you for the sharing. For now, it took too long in real arm32 hardware to run all tests. Even `JIT/Methodical` alone took more than 2hrs. And we failed to run all tests altogether within 48hrs due to tests which hangs (not analyzed yet.)

I've got only a partial result for `JIT/Methodical` and `JIT/CodeGenBringUpTests` as below.

With `COMPlus_AltJit=*  COMPLUS_AltJitAssertOnNY

[2017-05-22 05:47] hqueue commented on #8496
For NYI assertions, I think all NYI assertions are now being worked by contributors.

IIRC @hseok-oh is working on following three assertions.
[code]

And already https://github.com/dotnet/coreclr/pull/11541 addressed `143, c:\gh\coreclr\src\jit\lsraarm.cpp:720 - NYI: Unimplemented node type obj`.

For `3824, c:\gh\coreclr\src\jit\lsraarm.cpp:720 - NYI: Unimplemented node type *long`, I think  @ms

[2017-05-22 08:36] wateret commented on #8496
@hqueue @BruceForstall
Count me in, I'm going to work on RyuJIT/armel soon.

[2017-05-22 10:42] hqueue commented on #8496
@BruceForstall I missed @wateret who is going to look into armel (`ARM_SOFTFP`) implementaion for ryujit/arm32. When @wateret will file an issue related to `ARM_SOFTFP` and it should be added to the project.

@wateret Sorry, I counted those who are working on the already known issues.

[2017-05-22 12:45] mskvortsov opened #11779 "[RyuJIT/arm32] LinearScan::unassignPhysReg segmentation fault"
[code]
[code]

cc @dotnet/arm32-contrib

[2017-05-22 13:16] mskvortsov opened #11781 "[RyuJIT/arm32] Assertion failed 'foundStructArg'"
[code]
[code]

cc @dotnet/arm32-contrib

[2017-05-22 13:20] redknightlois commented on #11723
It feels strange that ```uint``` and ```ulong``` are not treated as first class citizens in ```Interlocked``` methods. So yes, the proposal is to add them.

[2017-05-22 13:25] mskvortsov opened #11782 "[RyuJIT/arm32] Assertion failed 'spillTempSize <= lvaGetMaxSpillTempSize()'"
[code]
[code]

cc @dotnet/arm32-contrib

[2017-05-22 13:31] mskvortsov opened #11783 "[RyuJIT/arm32] Assertion failed '(allRegs(theInterval->registerType) & mask) != 0'"
[code]
[code]

cc @dotnet/arm32-contrib

[2017-05-22 13:36] mskvortsov opened #11784 "[RyuJIT/arm32] Assertion failed 'genIsValidDoubleReg(regRec->regNum)'"
[code]
[code]

cc @dotnet/arm32-contrib

[2017-05-22 14:11] BruceForstall commented on #11779
cc @CarolEidt

[2017-05-22 14:21] BruceForstall commented on #8496
@hqueue Thanks, this is exactly what I was looking for.

It looks like you ran with a Debug build. Have you tried Checked?

Is it just that RPi3 is slow? Is there another platform that would be faster, at least for development?

[2017-05-22 14:32] gkhanna79 commented on #11754
We have had clean builds of the 2.0.0 branches - is this a good time to fix the issue @dagood ?

[2017-05-22 14:36] mskvortsov commented on #8496
A `checked` run usually takes around an hour and a half on Odroid XU4 board, e.g. here are results for the full testsuite run on current master:
[code]
However, I had to exclude the following tests as they take too much time (several hours in total IIRC):
[code]

[2017-05-22 14:38] hqueue commented on #8496
@BruceForstall  You are right. I've not tried Checked yet. It will be much faster for Checked.
I will let you know the result in Checked when ready.

I don't think rpi3 is too slow,  because we can run all coreclr unittest within 2hrs on rpi3  rpi3 is not much slow.  Therefore I think slow result in my environment is due to (1) incompleteness in ryujit/arm32 (maybe hang? or infinite loop? or incor

[2017-05-22 14:40] hqueue commented on #8496
@mskvortsov Thanks. I think I should move to Checked build too and exclude those tests.

[2017-05-22 14:41] BruceForstall commented on #8496
@mskvortsov Thanks for opening the issues for JIT asserts/crashes (I often use [this](https://github.com/dotnet/coreclr/issues?utf8=%E2%9C%93&q=is%3Aopen%20is%3Aissue%20label%3Aarch-arm32) query). Are these *all* the asserts/crashes you see in a test run, or just the most common ones?

[2017-05-22 14:41] hqueue commented on #11779
If no one is looking into this yet, I will take a look from tomorrow.

[2017-05-22 15:04] mskvortsov commented on #8496
@BruceForstall The segfaults are all filed. Regarding assertion failures, currently there are two big groups of them: related to struct passing and related to floating-point RA. There are some other non-common failures here or there. Here is the full list sorted by number of occurrences:
[code]

[2017-05-22 15:15] JosephTremoulet opened #11785 "JIT optimization: value re-numbering in CSE doesn't help span loops as much as array loops"
CSE [updates the value numbers](https://github.com/dotnet/coreclr/blob/3c76c1fff9473f8a0051907453c7e1902a6c3647/src/jit/optcse.cpp#L2020-L2023), when a value being CSEd has a single definition, so that all uses have that same conservative value number.  This improves subsequent range check elimination, because assertions generated for those nodes will have the same value number.  This works just a

[2017-05-22 15:20] JosephTremoulet commented on #10050
#11521 brings the array bound check removal machinery in the jit optimizer to bear on spans.  I've opened #11785 to track a potential future improvement identified while working on #11521, but I think it's correct to consider this issue resolved now.

[2017-05-22 15:20] #10050 closed

[2017-05-22 15:22] JosephTremoulet commented on #10049
Resolved in #10453.

[2017-05-22 15:22] #10049 closed

[2017-05-22 15:49] sdmaclea commented on #11764
I looked at this case which was missing System.Console.  It looks like the DLL search path is not including next to `corerun`.  It is likely this means this is only working on other platforms because it is hitting in the nuget package cache.

[code]

[code]

[2017-05-22 15:58] AtsushiKan commented on #11771
Yes, this isn't something that can be fixed at the runtime level - it's the way the C# language is (mis)designed - letting you type "D1.val" instead of "B.val" and leaving no trace of "D1" in the generated IL that would trigger a static class constructor execution or even issuing a warning.

I've seen  so much unncessary confusion and wasted time caused by this language "feature", including

- Uni

[2017-05-22 16:11] AtsushiKan commented on #11768
public int CompareTo(object value);

Could you make this one an explicitly implemented method, i.e.

    int IComparable.Compare(object value)

so that people who just want to call IntPtr.CompareTo(IntPtr) will continue to get the benefits of compile-time type checking?

[2017-05-22 16:17] CarolEidt commented on #11353
An alternative would be to defer updating the preference sets until after the RefPositions are built:
* Identify all the different kill sets (of course, this would be target-specific), and maintain a set of lclVars that is killed by each type of kill.
* In `buildKillPositionsForNode()`, instead of iterating over the live vars right at that point, simply add the live vars to the appropriate kill se

[2017-05-22 16:18] dagood commented on #11754
Yes, I'll submit a PR.

[2017-05-22 16:24] tannergooding commented on #11768
@AtsushiKan, updated the proposal. I'll update my implementation sometime later this evening.

[2017-05-22 16:34] BruceForstall commented on #11653
Typo/grammar-o? "We would like the jit perf benchmarks to with 10 iterations of approximately 1000ms each."

[2017-05-22 17:13] sdmaclea commented on #11764
The other interesting thing is that after bin/tests/pr1/Tests/coreoverlay/libcoreclr.so is sucessfully loaded there is another attempt to load it.  Maybe time is not ordered because this is a threading test.

@jkotas Do you know why the corerun dll search path would not include the corerun directory?

[2017-05-22 17:19] AndyAyersMS commented on #11653
Edited in place; hopefully clearer now.

[2017-05-22 17:51] atameet commented on #11771
Nice, thanks for sharing.

As a positive, at least in the case for methods, the results would be consistent on repeated calls or different scenarios and the intellisense/return types may help. While, as a negative forcing (if was possible) the derived constructor still won't help.

On the other hand, here the results here are inconsistent based on whether some other statement (like derived object

[2017-05-22 17:53] jkotas commented on #11764
I do not know

[2017-05-22 17:58] dagood commented on #6573
Repro in https://github.com/dotnet/coreclr/pull/11786 https://ci.dot.net/job/dotnet_coreclr/job/release_2.0.0/job/armel_cross_release_tizen_prtest/92/
[code]

[2017-05-22 18:07] wtgodbe commented on #11773
@swgillespie when did you start seeing these failures? Also, can you point me where these scripts are generated? I only know of https://github.com/dotnet/coreclr/blob/master/tests/src/CLRTest.Execute.targets & the related files

[2017-05-22 18:20] dotnet-mc-bot opened #11789 "Test failure: CoreMangLib_components._stopwatch_Co9604get_IsRunning_Co9604get_IsRunning_/_stopwatch_Co9604get_IsRunning_Co9604get_IsRunning_cmd"
Opened on behalf of @gkhanna79

The test `CoreMangLib_components._stopwatch_Co9604get_IsRunning_Co9604get_IsRunning_/_stopwatch_Co9604get_IsRunning_Co9604get_IsRunning_cmd` has failed.

The system cannot find the file specified.\r
    Error compiling Co9604get_IsRunning.org: The system cannot find the file specified. (Exception from HRESULT: 0x80070002)\r
    Error: file "Co9604get_IsRunning.org"

[2017-05-22 18:22] gkhanna79 commented on #11789
@wtgodbe All R2R tests are failing with the above symptom in 2.0.0 branch. Can you please take a look? It is possible that these are failing in master but are hidden behind the Test build failures in master.

[2017-05-22 18:28] AndyAyersMS commented on #11729
Not sure what specifically you meant, but it looks like the xunit.performance.api got rolled back to 1.0.0-beta-build0003 and so we lost the profile-off ability and other recent improvements.

Consider the following results chart -- profile off was enabled around 5/5 and showed lower data for a time, then around 5/17 it changed and now reports similar numbers to profile on.

![image](https://cloud

[2017-05-22 18:38] benaadams commented on #11771
Could it give a warning? "Should call static method on parent type where its defined"? But better ;-)

[2017-05-22 19:17] tannergooding commented on #11768
FYI. @jaredpar. This was the proposal I mentioned this morning.

[2017-05-22 19:25] dpodder opened #11796 "OptData sync needs to be re-enabled"
The BuildTools/CLI update that migrated CoreCLR from project.json -> \*.csproj removed the support for syncing optdata packages. This blocks PGO and IBC optimizations from being applied on release builds.

[2017-05-22 19:37] AtsushiKan commented on #11771
Either https://github.com/dotnet/csharplang or https://github.com/dotnet/roslyn would be the place to raise this issue. Not sure which one "a new warning for an old construct" lands on - might browse the issues peope have raised to see where the wind blows on something like this.

[2017-05-22 19:59] #11734 closed

[2017-05-22 20:00] sdmaclea commented on #11764
@jkotas,@janvorli,@gkhanna79 The Trusted Platform Assemblies is not being populated correctly.

It looks like this may be related to #10525, but it also looks like `GetTpaList()` in corerun and coreconsole are not thread safe and may not be initialized correctly if two threads call.

[2017-05-22 20:03] atameet commented on #11771
Have raised it in Roslyn for now: [dotnet/roslyn/issues/19698](url)
May close this then. Thanks.

[2017-05-22 20:07] #11771 closed

[2017-05-22 20:59] #11758 closed

[2017-05-22 20:59] #11687 closed

[2017-05-22 21:00] BruceForstall commented on #8496
On Windows ARM32 (hardware), with RyuJIT/arm32, when I run `crossgen System.Private.Corelib.dll` I see the following asserts/NYI:
[code]

[2017-05-22 21:04] gkhanna79 commented on #11789
Assigning to @pgavlin as he has a fix for them.

[2017-05-22 21:10] jkotas commented on #11764
There should not ever be two thread calling it in corerun or coreconsole. There should be a single thread running where CoreCLR is getting initialized in corerun or console.

[2017-05-22 21:11] dpodder opened #11799 "Linux PGO training doesn't work on RHEL with LLVM 3.6"
Tracking the investigation and subsequent fix.

We currently can't produce a Linux PGO profile data package on RHEL with the default LLVM toolchain (3.6). On the surface, it appears to be an LLVM compiler bug. Investigation to root-cause, and find a workaround, is on-going.

[2017-05-22 21:19] briansull opened #11800 "Warning potentially uninitialized local variable 'fieldOffset' used"
Causes a build break when warnings are treated as errors:

Line 18118 in Morph.cpp:
[code]

[2017-05-22 21:20] pgavlin commented on #11789
Closed by #11794.

[2017-05-22 21:20] #11789 closed

[2017-05-22 21:22] briansull commented on #11800
@BruceForstall FYI

[2017-05-22 21:26] BruceForstall commented on #8496
fyi, I use the following variables to generate this:
[code]
and then process the ArmFuncInfo.txt.

[2017-05-22 21:55] RossNordby opened #11804 "Uninitialized stack value instead of register returned by Unsafe.As<Vector<int>, int>(ref vector)"
Using Unsafe to reinterpret a vector can load from the vector's stack memory even if the logical value has been mutated in registers and has not yet been stored. For example:
[code]
IndexerGrab returns 4 as expected, while UnsafeGrab returns an uninitialized value like -1894710053.

UnsafeGrab assembly:
[code]
IndexerGrab assembly:
[code]
Tested on NETCore.App 2.0.0-preview2-25309-07.

[2017-05-22 22:01] AndyAyersMS opened #11805 "Numerous test build warnings for conv_ovf_i8_i.ilproj"
`JIT\IL_Conformance\Old\Conformance_Base\conv_ovf_i8_i.ilproj` causes a whole bunch of warnings when building tests.

Not sure why this one test project gets singled out. It lacks the `<RestorePackages>` element (and adding that quashes the warnings, at least in an incremental rebuild), but then so do many other ilproj files in the same directory.

Sample warning:
[code]

[2017-05-22 22:14] RussKeldorph commented on #11647
Our best guess at this point is that these issues are "infrastructural."  We have seen some of the "true" test failures again, but only in jobs where other tests failed with the "out of storage" or other infra-sounding messages.  Moving to 2.1 unless/until we find something to make us suspect a product bug.

[2017-05-22 22:23] adiaaida commented on #11799
This appears to only happen on RHEL (we have only tested on RHEL 7.2). To repro, you will need to do the following:

[code]
where shared-fx-dir is the shared framework used by the sdk.

You should see the following:

[code]

[2017-05-22 22:51] briansull opened #11808 "Warning potentially uninitialized local variable 'newInt' used"
Causes a build break when warnings are treated as errors:

Line 2126 in lsra.cpp:

[code]

Caused by LSRA throughput tweaks #11698

[2017-05-22 23:26] briansull commented on #11761
The following early out in zapinfo.cpp is causing the issue:

[code]

[2017-05-22 23:31] briansull commented on #11761
@jkotas PTAL

[2017-05-22 23:49] #11800 closed

[2017-05-23 00:12] erozenfeld commented on #7350
Fixed by #11209

[2017-05-23 00:12] #7350 closed

[2017-05-23 00:32] mazong1123 commented on #6206
@jkotas The tests have been enabled and merged. I think this issue can be closed?

Related PR: https://github.com/dotnet/corefx/pull/19232

[2017-05-23 00:51] #11537 closed

[2017-05-23 00:51] #11808 closed

[2017-05-23 00:55] dagood commented on #11754
Fixed by https://github.com/dotnet/coreclr/pull/11786.

[2017-05-23 00:55] #11754 closed

[2017-05-23 00:58] AndyAyersMS commented on #11653
Am going to wait to act on this until microsoft/xunit-performance#230 is resolved, since that will alter timing somewhat.

[2017-05-23 01:08] karelz commented on #11580
@noahfalk can you please chime in why you moved it to 2.1?

[2017-05-23 01:09] karelz commented on #11580
@jamesqo will you have time to provide more details?

[2017-05-23 01:40] briansull opened #11814 "Silent bad codegen when returning a modified struct"
Repro:

Compile MutateStructArg.cs below:

.\Tools\dotnetcli\dotnet.exe Tools\csc.exe /o+ /out:Program.exe MutateStructArg.cs /r:.\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\System.Private.CoreLib.dll /r:.\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\System.Console.dll
/r:.\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\System.Runtime.dll

MutateStructArg.cs

[code]
Run the Repro:
.\bi

[2017-05-23 01:40] briansull commented on #11814
This is a recent regression

[2017-05-23 01:50] noahfalk commented on #11580
Oh I was just guessing that 2.1 was the right place for issues at this point, feel free to make it 2.0 again if you think it should be.

[2017-05-23 03:26] swgillespie commented on #11773
@wtgodbe I haven't seen these failures before. As far as I know CLRTest.Execute.*.tests and friends are the only target files involved in bash script generation.

[2017-05-23 04:07] jkotas commented on #6206
Yes, this can be closed now. Thanks again!

[2017-05-23 04:07] #6206 closed

[2017-05-23 05:18] RossNordby opened #11816 "Extra zeroing with structs and inlining"
I've run into some unnecessary initializations on struct locals with definitely assigned fields, plus some more when inlining is thrown into the mix. This is showing up in profiles of some inner loops- on my main test case, the initializations end up zeroing almost 100 megabytes every frame. It's not a huge slowdown (about 2.5%), but it would be nice to avoid.

A few test cases:
1) Struct local wi

[2017-05-23 06:21] marekr opened #11817 "Aspnetcore project causing StackOverflowException in dotnet.exe"
Not sure which repo to report this in but it is an AccessViolation in dotnet.exe

.NET Command Line Tools (2.0.0-preview1-005977)

I have a ASPnetcore 2.0-preview1 application I'm playing with. Just plain MVC + EFCore(SQL Server)

I have a model with:

    public class Part
    {
        public int Id { get; set; }

        public string AssignedId { get; set; }

        public string DisplayId

[2017-05-23 06:26] #11817 closed

[2017-05-23 07:17] ragmani opened #11820 "[x86/Linux] In checked mode, TC fails associated with CORINFO_HELP_OVERFLOW"
$ ./corerun coreclr-unittest/JIT/Regression/CLR-x86-JIT/V1.2-M01/b00722/b00722/b00722.exe
Segmentation fault (core dumped)

$ ./corerun coreclr-unittest/JIT/Regression/CLR-x86-JIT/V1.2-M01/b04319/b04319/b04319.exe
Segmentation fault (core dumped)

[2017-05-23 07:20] ragmani commented on #11820
In both TCs, the sementation fault occurs as follows:
[code]

[2017-05-23 07:25] ragmani commented on #11820
Here is the related il of b00722:
[code]

[2017-05-23 07:26] ragmani commented on #11820
cc @parjong @wateret

[2017-05-23 07:28] ragmani commented on #11820
[code]

[2017-05-23 07:29] ragmani commented on #11820
The esp value should be 0x???????0 at this instructioin. But sometimes 0x???????8.

(gdb) x/i 0xf4ba56bc
0xf4ba56bc:	call   0xf7443350 <JIT_Overflow()>	// esp : 0xffffc9d8

[2017-05-23 07:35] ragmani commented on #11820
This is emitting "call CORINFO_HELP_OVERFLOW".
[code]

[2017-05-23 07:51] ragmani commented on #11820
After applying the patch (#11821), this is the result of unittest performed by @parjong

Wow, the patch seems to resolve this issue without introducing any regression (CLR is built from a16a8a85207 with that patch):
[code]
There is no regression in the Pri 2 result, too.

[2017-05-23 08:33] karelz commented on #11580
@noahfalk I let you as area owner decide - it would be nice to have some explanation why something is moved to next release (maybe corner case scenario / pre-existing bugs, etc.)

[2017-05-23 10:20] wateret opened #11822 "[RyuJIT/arm32] armel support"
I am going to start the work with unit tests in `JIT/CodeGenBringUpTests`. Currently all of these tests pass on RyuJIT/arm(hardfp) so I think this would be a good starting point.

### Current Status (JIT/CodeGenBringUpTests)
Here is the current status with master branch 983962491816a98acafdfffd0046455423ac26ae(18, May).

[code]

### List of failed tests(71 tests)

As expected, most of failed tests

[2017-05-23 10:25] karelz commented on #11633
@csturm83 did you consider submitting dotnet/docs change to document the behavior?

[2017-05-23 10:27] karelz commented on #11652
In general: MacOS is development scenario, so I don't think that having something slower (even 17x) is a big deal (although fixed in this case in 2.0), unless it impacts speed of significant end-to-end scenario (e.g. ability to build, debug, deploy, or run basic tests).

[2017-05-23 10:41] karelz commented on #11804
@mellinoe is it 2.0 bug?

[2017-05-23 10:58] mikedn commented on #11804
cc @dotnet/jit-contrib

[2017-05-23 11:22] hqueue commented on #11779
In Debug build, with `COMPlus_AltJit=* COMPlus_AltJitAssertOnNYI=0`

**Same Segmentation fault**
[code]

**LegacyJIT assertion**
[code]

**Other assertion**
[code]

**PASSED**
[code]

[2017-05-23 12:07] ruben-ayrapetyan commented on #10693
@jkotas, @gkhanna79, could you, please, check this, if master is now targetting the 2.1 release?

[2017-05-23 12:21] noahfalk commented on #11580
Sure thing, I'll include a note in the future when I change it. For now I think the best next step is to get more details so we can localize what the problem is and what product (VS/CLR/other) any potential change would go into. At that point we can certainly revisit what is the most appropriate milestone for the work.

[2017-05-23 12:29] jkotas commented on #10693
Yes, master is targeting the 2.1 release now.

[2017-05-23 12:38] ruben-ayrapetyan commented on #10693
@jkotas, thank you for your answer. Is it now possible to merge the #10772?

[2017-05-23 13:02] hqueue commented on #11784
After analysis I got following behavior.
- When call  to helper function, LSRA calculates callee-saves register
- For DevDiv_278376.exe example, helper function is `CORINFO_HELP_STOP_FOR_GC`
- `CORINFO_HELP_STOP_FOR_GC` preserves integer/float/double return registers.
  - It seems that  `CORINFO_HELP_STOP_FOR_GC` is `JIT_RareDisableHelper` defined at src/vm/asmhelpers.S (Is this right?)
- Calculat

[2017-05-23 13:13] eerhardt commented on #11652
Just an FYI - TimeZoneInfo has the same implementation on macOS and Linux, so the perf bugs that I fixed were affecting both platforms.

[2017-05-23 14:44] JosephTremoulet opened #11824 "JIT: optimization: could refine set of fields flagged `GTF_FLD_INITCLASS`"
The intent of the `GTF_FLD_INITCLASS` flag is to identify static field references that are guarded by static initialization helper calls.  The flag [is set based on `CORINFO_FLG_FIELD_INITCLASS`](https://github.com/dotnet/coreclr/blob/11e2bc8e98a84a8e2bba0bdb80b5ec9a952abf92/src/jit/importer.cpp#L6063-L6066), which mimics the test [that is used](https://github.com/dotnet/coreclr/blob/11e2bc8e98a84

[2017-05-23 15:29] #7210 closed

[2017-05-23 15:33] dotnet-mc-bot opened #11826 "Test failure: JIT_Regression._JitBlue_GitHub_11733_GitHub_11733_GitHub_11733_/_JitBlue_GitHub_11733_GitHub_11733_GitHub_11733_cmd"
Opened on behalf of @gkhanna79

The test `JIT_Regression._JitBlue_GitHub_11733_GitHub_11733_GitHub_11733_/_JitBlue_GitHub_11733_GitHub_11733_GitHub_11733_cmd` has failed.

    Return code:      1
    Raw output file:      /home/helixbot/dotnetbuild/work/dad726a7-4da2-488f-81a2-ab6b46df18d0/Work/f97770e8-b4d5-4e84-83cd-7feb1bf458bb/Unzip/Reports\JIT.Regression\JitBlue\GitHub_11733\GitHub_11733\GitH

[2017-05-23 15:33] gkhanna79 commented on #11826
@RussKeldorph @pgavlin PTAL and determine if this is for 2.0.

[2017-05-23 15:35] gkhanna79 commented on #11826
Marking for 2.0.0 since this is failing in the 2.0.0 branch as well - https://mc.dot.net/#/product/netcore/200/source/official~2Fcoreclr~2Frelease~2F2.0.0~2F/type/test~2Ffunctional~2Fcli~2F/build/20170523.01/workItem/JIT.Regression.XUnitWrapper/analysis/xunit/JIT_Regression._JitBlue_GitHub_11733_GitHub_11733_GitHub_11733_~2F_JitBlue_GitHub_11733_GitHub_11733_GitHub_11733_cmd

[2017-05-23 15:35] dotnet-mc-bot opened #11827 "Test failure: baseservices_threading._paramthreadstart_ThreadStartDecimal_1_ThreadStartDecimal_1_/_paramthreadstart_ThreadStartDecimal_1_ThreadStartDecimal_1_cmd"
Opened on behalf of @gkhanna79

The test `baseservices_threading._paramthreadstart_ThreadStartDecimal_1_ThreadStartDecimal_1_/_paramthreadstart_ThreadStartDecimal_1_ThreadStartDecimal_1_cmd` has failed.

Managed assembly not found: No such file or directory

    Return code:      1
    Raw output file:      /home/helixbot/dotnetbuild/work/69a4b5c3-6502-4c1b-8d34-17bc5d1e7b14/Work/551b1bf2-ac00-456

[2017-05-23 15:36] gkhanna79 commented on #11827
@wtgodbe Can you please triage if this is a R2R infra issue in 2.0.0 branch since I do not see the failure in the 2.0.0 IL runs?

[2017-05-23 15:55] pgavlin commented on #11826
This test is not failing in the OSS CI. See for example the green runs for [master](https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_windows_nt/1905/console) and [release/2.0.0](https://ci.dot.net/job/dotnet_coreclr/job/release_2.0.0/job/checked_windows_nt/28/console).

I believe that these failures are more instances where the runtime under test was built from sources that are older t

[2017-05-23 15:58] weshaggard opened #11828 "Update the publish definition to match what is in release/2.0.0 branch"
Need to port https://github.com/dotnet/coreclr/commit/ba86da4a6c821b0f042e105a72fd901c7f7b94c3 and https://github.com/dotnet/coreclr/commit/8ab4fb4260bdf1dafdf4b050bcc01102437f875d to master once the builds become stable.

[2017-05-23 16:05] gkhanna79 commented on #11826
Related to https://github.com/dotnet/coreclr/issues/11352

@wtgodbe Can you PTAL at this soon?

[2017-05-23 16:12] tannergooding opened #11830 "The interop marshaller should recognize the 'IsReadOnly' attribute"
The C# language is gaining support for `ref readonly` parameters (https://github.com/dotnet/roslyn/pull/19713 and https://github.com/dotnet/csharplang/issues/38).

Today the marshaller will treat `ref` as `[In, Out]` unless explicitly marked as just `[In]`. That is, by default, it will both initialize with the managed state and then copy back any changes to the instance on return. While, when expl

[2017-05-23 16:13] tannergooding commented on #11830
FYI. @VSadov, @jaredpar

[2017-05-23 16:16] jashook commented on #11533
Narrowed to only hit with TYP_STRUCT with #11718. Currently this case will not happen because we copy struct args to fastTailCall.

[2017-05-23 16:16] #11533 closed

[2017-05-23 16:21] RussKeldorph opened #11831 "Assert failure(PID 7660 [0x00001dec], Thread: 8932 [0x22e4]): Assertion failed 'type == lvaTable[lnum].lvType'"
New assertion since Friday in several legs, e.g. https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_jitstress1/182/

[code]

[2017-05-23 16:22] RussKeldorph commented on #11831
@dotnet/jit-contrib

[2017-05-23 16:22] ruben-ayrapetyan commented on #10693
Closing the issue, as the corresponding pull request is now merged.

[2017-05-23 16:22] #10693 closed

[2017-05-23 16:27] jashook commented on #11525
@sdmaclea any update on this? These are still running green on windows.

[2017-05-23 16:34] #8156 closed

[2017-05-23 16:36] pgavlin commented on #11831
As in https://github.com/dotnet/corefx/pull/20025, the culprit here is https://github.com/dotnet/coreclr/pull/10453. @JosephTremoulet, can you take a look?

[2017-05-23 16:38] gbalykov commented on #11076
Closing the issue. The pull request #11109 is merged.

[2017-05-23 16:38] #11076 closed

[2017-05-23 16:41] BruceForstall commented on #11679
Fixed with #11710

[2017-05-23 16:41] #11679 closed

[2017-05-23 16:48] BruceForstall commented on #8496
On Windows ARM32 (hardware), with RyuJIT/arm32, I ran all the tests that Windows/arm64 passes on, and saw 10779 pass, 413 fail. I used these environment variables:
[code]
And saw these NYI/assert:
[code]

[2017-05-23 16:49] #11332 closed

[2017-05-23 16:50] BruceForstall commented on #8501
@hqueue I think this was fixed long ago with #8680. Closing the issue.

[2017-05-23 16:50] #8501 closed

[2017-05-23 16:52] BruceForstall commented on #10657
@sjsinju I see we still have "NYI: Unimplemented node type obj". Are you working on it?

[2017-05-23 16:57] sdmaclea commented on #11525
@jashook No update at the moment.  I will look at them again.  I think there is a lurking GC issue which is sometimes hit by these tests.

[2017-05-23 16:58] jashook commented on #7168
No longer repros. #11832 adds 1 % 1 to the mod bringup test.

[2017-05-23 16:58] #7168 closed

[2017-05-23 17:10] BruceForstall opened #11833 "[RyuJIT/arm32] NYI_ARM: struct return"
For example:
[code]
I see this in the following functions in the test tree:
[code]
(Unfortunately, my test methodology doesn't give me an easy mapping back to test name.)

[2017-05-23 17:11] BruceForstall commented on #11833
fyi @hseok-oh

[2017-05-23 17:11] RussKeldorph commented on #11804
@BruceForstall PTAL

[2017-05-23 17:21] sdmaclea commented on #11764
OK I completely missed the issue.  The new corefx dll s are failing to crossgen.  To complicate matters, the one byte error code is aliasing with expected failures due to native windows dlls which are handled by deleting the platform incompatible dll.

The errors look like the following

[code]

The following managed assemblies are affected

[code]

[2017-05-23 17:44] BruceForstall opened #11835 "[RyuJIT/arm32] Assertion failed 'unreached' (emitarm.cpp:3287, emitIns_R_R_R_I())"
At emitarm.cpp Line: 3287

Example:
[code]

Tests with this assert:
[code]

[2017-05-23 17:51] BruceForstall opened #11836 "[RyuJIT/arm32] Assertion failed '(call->IsTailCallViaHelper() ...'"
At morph.cpp Line: 15829

Example:
[code]

Tests with this assert:
[code]

[2017-05-23 17:54] BruceForstall opened #11837 "[RyuJIT/arm32] Assertion failed 'remainingSize == TARGET_POINTER_SIZE'"
At codegenarmarch.cpp Line: 760

Example:
[code]
CoreMangLib\cti\system\boolean\BooleanIConvertibleToDecimal\BooleanIConvertibleToDecimal.cmd
CoreMangLib\cti\system\convert\ConvertToDateTime\ConvertToDateTime.cmd
CoreMangLib\cti\system\convert\ConvertToDecimal\ConvertToDecimal.cmd
CoreMangLib\cti\system\convert\ConvertToDecimal5\ConvertToDecimal5.cmd
CoreMangLib\cti\system\decimal\DecimalCtor3\Dec

[2017-05-23 17:57] BruceForstall opened #11838 "[RyuJIT/arm32] Assertion failed 'farthestRefPhysRegRecord != nullptr'"
At lsra.cpp Line: 5972

Example:
[code]

Tests with this assert:
[code]

[2017-05-23 17:59] ericwj opened #11839 "[UWP] System.IO.FileNotFoundException: 'Could not load file or assembly 'System.IO.FileSystem.Watcher, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified.'"
[code]
Referencing `Microsoft.Extensions.FileProviders.Physical (>= 1.1.1)` in a Windows Runtime component.

Should this work with .NET Core UWP 5.3.3?

[2017-05-23 17:59] BruceForstall opened #11840 "[RyuJIT/arm32] Assertion failed 'varTypeIsSIMD(arg)'"
At lower.cpp Line: 971

Example:
[code]

Tests with this assert:
[code]

[2017-05-23 18:02] BruceForstall opened #11841 "[RyuJIT/arm32] Assertion failed 'gcPtrCount == 0'"
At codegenarmarch.cpp Line: 691

Example:
[code]

Tests with this assert:
[code]

[2017-05-23 18:02] wtgodbe commented on #11773
Wait, I'm confused - if you haven't seen them, where did the failure in the issue come from? And what did you mean by:

[2017-05-23 18:02] #11665 closed

[2017-05-23 18:03] wtgodbe commented on #11827
This is because of https://github.com/dotnet/coreclr/issues/11503, which is related to https://github.com/dotnet/coreclr/issues/11502

[2017-05-23 18:04] wtgodbe commented on #11827
Closing as duplicate, let's discuss strategy on https://github.com/dotnet/coreclr/issues/11503

[2017-05-23 18:04] #11827 closed

[2017-05-23 18:04] swgillespie commented on #11773
@wtgodbe did you mean @parjong ?

[2017-05-23 18:04] BruceForstall opened #11842 "[RyuJIT/arm32] Assertion failed '!varTypeIsStruct(call) || call->HasMultiRegRetVal() || callHasRetBuffArg'"
At morph.cpp Line: 5459

Example:
[code]

Tests with this assert:
[code]

[2017-05-23 18:07] BruceForstall opened #11843 "[RyuJIT/arm32] Assertion failed 'offsetFitsInVectorMem(imm)'"
At emitarm.cpp Line: 2702

Example:
[code]

Tests with this assert:
[code]

[2017-05-23 18:07] wtgodbe commented on #11503
@gkhanna79 what do you think is the best course of action here? What's happening is that, while one test is modifying {test_name}.exe, another test tries to CoreRun {test_name}.exe while it's being renamed to {test_name}.org. I agree with Russ' assessment in https://github.com/dotnet/coreclr/issues/11502 that we should avoid removing any state from the test bin folder

[2017-05-23 18:08] BruceForstall opened #11844 "[RyuJIT/arm32] Assertion failed 'node->IsLIR()'"
At lir.cpp Line: 1469

Example:
[code]

Tests with this assert:
[code]

[2017-05-23 18:09] wtgodbe commented on #11826
@gkhanna79 yep, working on the fix for that now.

[2017-05-23 18:10] wtgodbe commented on #11773
Oh yeah, I did - my mistake.

[2017-05-23 18:13] wtgodbe commented on #11773
@parjong the relevant portion of the script is generated here: https://github.com/dotnet/coreclr/blob/master/tests/src/CLRTest.Execute.Bash.targets#L265

Have the tests failed in the last 22 hours? And did they start failing on Friday? If so, this is probably related to https://github.com/dotnet/coreclr/commit/aad6903366ed6d70f218b92bfc762feb29a73773, which was merged on Friday & reverted 22 hours

[2017-05-23 18:16] gkhanna79 commented on #11503
What is your proposal @wtgodbe ?

[2017-05-23 18:26] BruceForstall opened #11846 "[RyuJIT/arm32] Assertion failed 'unreached' (emitarm.cpp:3048, emitter::emitIns_R_R_R())"
At emitarm.cpp Line: 3048

Example:
[code]

Tests with this assert:
[code]

[2017-05-23 18:37] BruceForstall opened #11847 "[RyuJIT/arm32] Assertion failed '!assignedInterval->isActive || isSecondHalfReg(physRegRecord, assignedInterval)'"
At lsra.cpp Line: 6861

Example:
[code]

Tests with this assert:
[code]

[2017-05-23 18:40] BruceForstall opened #11848 "[RyuJIT/arm32] Assertion failed 'isGeneralRegister(id->idReg2())'"
At emitarm.cpp Line: 203

Example:
[code]

Tests with this assert:
[code]

Note: this test also asserts in legacy JIT:
[code]

[2017-05-23 18:43] BruceForstall opened #11849 "[RyuJIT/arm32] Assertion failed 'info->numSlots == 1'"
At lsraarmarch.cpp Line: 686

Example:
[code]

Tests with this assert:
[code]

[2017-05-23 18:44] BruceForstall opened #11850 "[RyuJIT/arm32] Assertion failed 'tree->gtHasReg()'"
At codegenlinear.cpp Line: 1158

Example:
[code]

Tests with this assert:
[code]

[2017-05-23 18:45] gkhanna79 commented on #11248
@jyoungyun Were you able to use suggestion from @dagood to use information in Versions repo to get this going?

[2017-05-23 18:46] BruceForstall opened #11851 "[RyuJIT/arm32] Assertion failed 'isDoubleReg(reg1)'"
At emitarm.cpp Line: 2083

Example:
[code]

Tests with this assert:
[code]

[2017-05-23 18:49] BruceForstall opened #11852 "[RyuJIT/arm32] Assertion failed 'reg1 != reg2'"
At emitarm.cpp Line: 2005

Example:
[code]
JIT\Regression\CLR-x86-JIT\V1-M11-Beta1\b44879\b44879\b44879.cmd
[code]

[2017-05-23 18:50] gkhanna79 commented on #9689
Closing so that work is tracked by https://github.com/dotnet/core-setup/issues/1566

[2017-05-23 18:50] #9689 closed

[2017-05-23 18:52] gkhanna79 commented on #11248
@jyoungyun @hqueue @hseok-oh We will be taking the last of the fixes for Preview2 by EOD 5/26. Are you tracking the product issues for Tizen (https://github.com/dotnet/coreclr/issues?q=label%3Aarea-Tizen+is%3Aissue+is%3Aopen+milestone%3A2.0.0) to be resolved by then since starting 5/30, the bar to commit changes will be high?

Please note that 5/29 is holiday here and folks may not be around.

[2017-05-23 18:55] BruceForstall commented on #8496
@dotnet/arm32-contrib I opened GitHub issues for all the NYI and asserts that didn't already have issues. You can see these in the RyuJIT/arm32 project: https://github.com/dotnet/coreclr/projects/4.

You can also see them in a query for arm32 CodeGen issues: https://github.com/dotnet/coreclr/issues?utf8=%E2%9C%93&q=is%3Aopen%20is%3Aissue%20label%3Aarch-arm32%20label%3Aarea-CodeGen.

If you are goi

[2017-05-23 19:13] mellinoe commented on #11804
@karelz We'll have to do more testing, but it's possible that it affects other runtimes and versions as well.

[2017-05-23 19:18] mellinoe commented on #11804
This occurs on .NET Core 1.0 and 1.1 as well -- only in Release mode from my testing. Debug mode doesn't exhibit any problems.

[2017-05-23 20:09] sdmaclea commented on #11764
@jkotas @RussKeldorph I just changed the title to describe the real problem.  Is this a corefx issue?  Is it a crossgen issue?  Who should I engage in this?

[2017-05-23 20:09] ViktorHofer commented on #11763
cc @stephentoub

[2017-05-23 20:09] ViktorHofer commented on #11756
cc @stephentoub

[2017-05-23 20:11] stephentoub commented on #11763
@vancem would know if it's by design.

[2017-05-23 20:11] stephentoub commented on #11756
@tarekgh?

[2017-05-23 20:14] gkhanna79 commented on #11438
@ellismg Is fixing crossgen.sh something you can help with since @wtgodbe is heads down with other engineering fixes for CoreCLR?

[2017-05-23 20:19] AlexGhiondea commented on #11655
It looks like the test is expecting a different output when on Unix -- looks like a test bug.

[2017-05-23 20:29] tarekgh commented on #11756
I think this will apply to many types and not just AdjustmentRule. I would hesitate to change anything in TZ in general before we figure out the plans for the other requests. there is a possibility we deprecate AdjustmentRule for the sake more fixable way in handling TZ and its rules.

[2017-05-23 20:31] briansull commented on #11814
@JosephTremoulet Can you take a look at this one

[2017-05-23 20:32] gkhanna79 commented on #11438
CC @chcosta incase he can help fix this as well.

[2017-05-23 20:46] tannergooding commented on #11768
Updated my implementation to make IComparable explicit and to implement Parse/TryParse as per the proposal.

[2017-05-23 21:15] ellismg commented on #11438
I can try to find cycles to fix up my PR in buildtools to handle the additional cases, but I won't be able to proactively push another update of buildtools everywhere (which is to say, I'd rather just wait until we think buildtools is "done" and then move everyone forward).

FWIW, I don't believe this represents a product problem, so if it was not fixed in 2.0 it would not be the ned of the world.

[2017-05-23 21:18] brianrob opened #11856 "CI Jobs Failing Due to Linker"
This is failing both perf jobs.
From https://ci2.dot.net/job/dotnet_coreclr/job/perf/job/master/job/perf_perflab_Windows_NT_x64_smoketest_prtest/824/consoleText:

Mono.Linker.Steps.XmlResolutionException: Failed to process XML description: <unspecified> ---> Mono.Cecil.AssemblyResolutionException: Failed to resolve assembly: 'csc, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null'
   at Mono.L

[2017-05-23 21:19] brianrob commented on #11856
@russellhadley, @swaroop-sridhar, @sbomer, PTAL.

@DrewScoggins, @valenis, FYI.

[2017-05-23 21:26] russellhadley commented on #11856
Looks like it's coming out of the Roslyn build.  @swaroop-sridhar can you take a look?

[2017-05-23 21:27] swaroop-sridhar commented on #11856
Yes, I'm trying to fix it -- can disable the Roslyn test in the interim to get the builds to pass.

[2017-05-23 21:31] ddobric opened #11857 "Missing dotnetcore.dll"
When executing
`dotnet publish -c Release -r win10-x86`
I figured out that assembly _dotnetcore.dll_ is missing.
There is no any issue with this, just want to understand why.

Following
`dotnet publish -c Release -r win10-x64`

generates the named assembly in publish folder.