[2016-03-02 14:09] myungjoo commented on #3419
I and @leemgs are also interested in adding ARM/Linux CI.
We are actually considering creating one based on our test ARM devices or with developmental ARM emulators _after_ stabilizing coreclr for ARM/Linux, (or at least "release" build starts running the minimal test app) which I don't know when it will be satisfactory.

(we don't have any idea on how to do that for github, yet. so we will need a

[2016-03-02 14:33] benpye commented on #3462
Shouldn't the least bit always be set as this represents the thumb instruction set?

[2016-03-02 14:51] myungjoo commented on #3462
When you are jumping to THUMB, yes, the LSB is supposed to be 1 for the target address register of the jumping instruction. But, I don't think it is the case for the PC register itself. We have Program Status Registers for that purpose (to see if we are on THUMB at runtime).

[2016-03-02 15:04] leemgs opened #3463 "Build break when run cross-build of native CoreCLR for Linux/ARM 32bit"
When I tried to do cross-build of native CoreCLR for Linux/ARM 32bit on Ubuntu 14.04 LTS X86 64bit
PC since 15-Feb-2016, I have always got the build break without additional my patches. Anyone who have the same experience?

[2016-03-02 15:25] myungjoo commented on #3463
Please provide related error logs or some additional information.

[2016-03-02 15:58] gkhanna79 commented on #3384
CC @JohnChen0 @ramarag

[2016-03-02 15:58] gkhanna79 commented on #3384
CC @weshaggard

[2016-03-02 16:18] markwilkie commented on #3133
Thoughts @ellismg?

[2016-03-02 17:51] zach-folwick commented on #3426
This is something that is of great interest to our team as well.

[2016-03-02 17:58] RussKeldorph commented on #2076
#2075 was pushed out to Future.  Doing the same with this issue.

@yizhang82 @joshfree @LLITCHEV FYI.

[2016-03-02 18:08] sergiy-k commented on #3463
Please feel free to submit a PR with a fix. We will be happy to take it.

[2016-03-02 18:19] sergiy-k commented on #3461
Hi @chunseoklee! Yes, we are working on this. One thing that is currently in progress is enabling Concurrent (Background) GC on Unix (https://github.com/dotnet/coreclr/issues/2224).

I'm curious whether you had a chance to collect the same data on Windows. You should see much shorter GC pause times there.

/cc: @Maoni0 @kouvel  @swgillespie

[2016-03-02 18:23] mikem8361 commented on #3426
@gregg-miskelly could you give a better answer on when xplat VS managed debugging will be available?

[2016-03-02 18:32] jasonwilliams200OK opened #3465 "Question - What is the most optimal way to return an empty List<T> instance in .NET Core?"
[code]

[2016-03-02 18:39] gregg-miskelly commented on #3426
@chunseoklee are you asking about Windows support or OSX/Linux?
If Windows - if you aren't compiling to portable PDBs then any version of VS 2015 should work. If you are using portable PDBs, then use VS 2015 Update 2 CTP.
If OSX/Linux - we have a preview of debugging in VS Code which we hope to release _very_ soon. Once we finish testing and work out a few finial licensing things it should hopeful

[2016-03-02 19:10] mikedn commented on #3465
Why would you even consider anything other than `new List<T>()`? All other variants are more complicated and thus inherently less efficient.

Nope, unlike empty arrays empty lists aren't immutable.

[2016-03-02 19:12] i3arnon commented on #3465
What are you using this instance for?
If you plan on possibly mutating it then it must be a new instance each time so `new List<T>()` (which is equivalent to `new List<T>(0)`).

If you want to imitate `Enumerable.Empty<T>()` for read-only usage I would use `IReadOnlyCollection<T>` (or `IReadOnlyList<T>`) and return the same empty instance for all calls (i.e. `Array.Empty`).

[2016-03-02 19:21] jasonwilliams200OK commented on #3465
Thanks @mikedn for mentioning the mutability, I totally forgot about that. I think reusing the same instance of empty list would make sense or the `IReadOnlyList` (as @i3arnon suggested) will also work in my use case.

I am returning list of online users' nicknames (fetched from the Azure table storage) to a method (aspnet-core API action), which serializes the list in JSON (, merges another JSON

[2016-03-02 19:21] #3465 closed

[2016-03-02 19:56] pgavlin commented on #2966
Should this be closed?

[2016-03-02 20:12] #743 closed

[2016-03-02 20:24] jasonwilliams200OK commented on #2224
@sergiy-k, found this related thread http://fixunix.com/linux/76508-trapping-writes-mmapd-memory.html for https://msdn.microsoft.com/en-us/library/windows/desktop/aa366573 (`GetWriteWatch` function).

dirty bits, and deposits the page numbers (or corresponding addresses)
into a buffer in user space. Using mprotect() and signals is the
closest available simulation of such functionality in Linux (ex

[2016-03-02 20:51] kouvel commented on #3461
I tried this out with my prototype that enables concurrent GC on Linux, numbers are below. Linux numbers are taken on a VM and Windows numbers are taken on the host machine for the Linux VM, so they're not necessarily comparable.

Linux, concurrent GC off:

[code]

Linux, concurrent GC on:

[code]

Windows, concurrent GC off:

[code]

Windows, concurrent GC on:

[code]

[2016-03-02 21:01] mikem8361 commented on #3453
Fixed.

[2016-03-02 21:01] #3453 closed

[2016-03-02 22:24] kouvel commented on #2224
@Maoni0 pointed me to the soft-dirty feature as well: https://www.kernel.org/doc/Documentation/vm/soft-dirty.txt. Unfortunately, in previous kernel versions that are still used, it looks like reading the pagemap requires sudo. It seems they changed it to be readable in a recent kernel version.

I'm currently planning on using mprotect / signal handlers. While the performance of modifying pages is

[2016-03-02 22:51] krytarowski opened #3474 "ecall.cpp "id != 0" assertion"
While running CoreFX on NetBSD tests I'm getting the following assert:

[code]

[2016-03-02 23:00] leemgs commented on #3463
diff --git a/build.sh b/build.sh
index 6c83b0b..28b8210 100755

Before submit a PR, here is my local patch. We need to remove ""$__BuildArch" == "x64" to support other targets (e.g. arm, arm64, and so on) as well as x64 target. Alternatively, we may add "$__BuildArch" == "arm" and "$__BuildArch" == "arm64".
--- a/build.sh
+++ b/build.sh
@@ -196,7 +196,6 @@ isMSBuildOnNETCoreSupported()
     # This

[2016-03-02 23:08] ellismg commented on #3474
I'm not an expert in this area, but looking at the code in question it looks like the runtime is unable to find a corresponding native method for a QCall (which is a call from the mscorlib.dll into the runtime itself).

You might try exporting `COMPlus_ConsistencyCheck=1` to have the runtime provide more diagnostics about mismatches between mscorlib and coreclr.  I expect it will assert on boot an

[2016-03-02 23:10] krytarowski commented on #3474
Ah, good pointers. Thank you!

[2016-03-02 23:18] jasonwilliams200OK commented on #3463
@mmitche, are these checks still required for selective distros?

Going by the code comment:

can't `coreclr/netci.groovy` handle this logic or is it meant for everyone?

[2016-03-02 23:22] mmitche commented on #3463
I'm not familiar with the comment, I'm not sure why this would require changes to netci.

@gkhanna79 Any ideas on what you meant?

[2016-03-02 23:25] lemmaa commented on #3426
Hi @gregg-miskelly, I'm interested in ARM Linux target, such as Raspberry-Pi running Ubuntu, from Windows host with VS2015. Do you have any plan or schedule for this?

[2016-03-02 23:25] gkhanna79 commented on #3463
The comment and check are required since we dont support (or have tested) MSBuild (required for building mscorlib, restoring and building packages) on various distros.

[2016-03-02 23:36] jasonwilliams200OK commented on #3463
@gkhanna79, thanks. Would it make sense to use blacklist strategy for the known platforms which aren't able to handle mscorlib building instead of whitelisting? For example, whenever someone will complain 'I can't build on `<Unix-name>` version X', we'll add that to the blacklist and ask them to try cross-compiling mscorlib for your distro on some other platform such as Windows, Ubuntu etc.

[2016-03-02 23:39] AndyAyersMS commented on #3414
I hear you. I'm probably the worst at introducing inconsistencies.

We'd like to move the jit code base to a tool-enforceable (and for many things, tool-fixable) formatting and naming policy. Hopefully soon. Here's a [clang-format prototype](https://github.com/AndyAyersMS/coreclr/tree/RyuJitClangFormat) to handle the formatting side. Maybe clang-tidy can do the naming aspects.

When we do this, we

[2016-03-02 23:48] AndyAyersMS commented on #2699
Believe this was largely addressed by #3431.

[2016-03-02 23:48] #2699 closed

[2016-03-02 23:49] AndyAyersMS commented on #286
Seems like we've been able to live without this, so closing.

[2016-03-02 23:49] #286 closed

[2016-03-02 23:52] lemmaa commented on #3426
Hi @gregg-miskelly , I also really interested in this topic. Just for check my understanding, you mean that debugging managed code running on remote ARM Linux target, such as Raspberry-Pi running Ubuntu, from Windows host with VS 2015 is working currently?

[2016-03-02 23:54] BruceForstall commented on #3414
I'm sure you've also noticed that there is a lot of inconsistency in the code base. The JIT coding conventions were written long after much of the JIT itself was written. It tried to be aspirational in specifying the direction where we want to code to go, but not be too dictatorial for things we deemed "didn't matter", or at least weren't worth fighting about. If we can get to a tool-enforced solu

[2016-03-03 00:04] omariom commented on #2373
@AndyAyersMS

My bad. I didn't check the generated output and assumed it was uninlining.

The issue is that when `GetCurrentProcessorNumber` is called via an inlined wrapper is gets slow.
The code I used:

[code]
It is 150 ms vs about 2000.

Codegen for calling via wrapper:
[code]
Direct call:
[code]

[2016-03-03 00:06] gregg-miskelly commented on #3426
No, if your target device is Windows, VS 2015 will work.
If your target device is x64 OSX/Ubuntu 14.04, we will have local support in VS Code very soon.
We are also planning to support remote from VS to x64 OSX/Ubuntu 14.04 in various forms, but it will be more than just a few days.

Support for versions of Linux other than x64 Ubuntu 14.0 is something that I would expect to come. But right now th

[2016-03-03 00:28] mmitche opened #3475 "Refactor CI definition file for clarity"
Refactor the CI definition for clarity and simplicity, especially around job names.  There has been some crufty build up.

[2016-03-03 01:19] seanshpark commented on #3426
@gregg-miskelly, hi, thanks for the info. I want to try the first one. `target device is Windows, VS 2015 will work.`. I've installed VS 2015 Update 2 CTP. Is the any document or notes that I can follow?

[2016-03-03 01:47] gkhanna79 commented on #3463
The number of such platforms are all the distros and Linux variations that we have not tried, which is essentially a large number. I would rather have folks do the opposite - try to update the check for the OS variation they wish to try and commence a build. If all goes good, MSbuild will work and mscorlib.dll and mscorlib.ni.dll will be generated. This will allow us to conservatively move ahead a

[2016-03-03 01:53] briansull commented on #3151
I have a fix/workaround for this

[2016-03-03 01:58] myungjoo commented on #3462
[code]

In the above stack with Thread::VirtualUnwindToFirstManagedCallFrame(),

[code]

the above patch makes the while loop successfully traverse from 2 to 5 (was 2 to 3 before), but it fails to reach 6. So there is some improvement but not complete, yet.

[2016-03-03 02:04] masonwheeler commented on #3462
Just to be clear, is 6 the "first managed frame" that we're trying to unwind to, in this example?

[2016-03-03 02:32] myungjoo commented on #3462
Yes, that's my guess as well. (GDB cannot analyze managed frame)

[2016-03-03 04:10] chunseoklee commented on #3461
@kouvel I have a question. I have debugged simple Helloworld program. With breakpoint at function ExecuteManagedAssembly in coreruncommon.cpp, corerun set useConcurrentGc variable to be "1".
[code]
You said concurrent GC is not implemented at master branch yet.
What is the role of the variable above(useConcurrentGc)  ?

[2016-03-03 04:49] seanshpark commented on #3426
Or, can you verify what I've done?
1) Install VS 2015 Update 2 CTP
2) File > New > Project > (Installed > Templates > Visual C# > Web) > ASP.NET Web Application
3) Select ASP.NET Templates(not sure) > Jumps to a Web Page.
3) Download and Install `AspNet5.ENU.RC1_Update1_KB3137909`
4) Restart VS2015
5) Do again 2)
6) Select ASP.NET 5 Templates > Web Application
7) (New project will be added)
8) Dro

[2016-03-03 04:50] kouvel commented on #3461
That just allows to override the default on/off setting. Even though concurrent GC is "on" by default, write watch is required to actually use concurrent GC, that is checked in GCToOSInterface::SupportsWriteWatch(): https://github.com/dotnet/coreclr/blob/master/src/vm/gcenv.os.cpp#L242

[2016-03-03 05:34] myungjoo commented on #3462
Incoming more info from debugging:

When it traverses from frame 5 to 6, libunwind-arm uses "UNW_ARM_METHOD_EXIDX" instead of "UNW_ARM_METHOD_DWARF" (as a fallback from DWARF fail) while mostly it uses UNW_ARM_METHOD_DWARF (returning 1 directly with it)

Although arm_exidx_step() returns 1, the resulting cursor from unw_step() on frame 5 is not valid. (does not give valid info on frame 6)

Now the

[2016-03-03 05:41] #3079 closed

[2016-03-03 05:42] gkhanna79 commented on #3019
@livarcocc I am assigning this to you since you are driving the overall signing integration for all the repos.

CC @markwilkie @weshaggard

[2016-03-03 05:43] gkhanna79 opened #3480 "OneCore - Enable PInvoke Remapping for Mscorlib"
We need to enable this to support OneCore target.

Related to https://github.com/dotnet/coreclr/issues/3014.

[2016-03-03 05:45] gkhanna79 opened #3481 "Build Tests to support OneCore target"
We need to do the following:

[ ] Build native components to target OneCore and uCRT
[ ] Remap PInvokes for managed tests

[2016-03-03 05:51] gkhanna79 commented on #3249
@davidfowl Please reopen if you think there are product issues.

[2016-03-03 05:51] #3249 closed

[2016-03-03 06:10] gkhanna79 commented on #731
@ramarag Should your PAL changes for long file path fix this as well?

[2016-03-03 06:10] gkhanna79 commented on #731
CC @janvorli

[2016-03-03 06:21] mikedn commented on #3414
Yes but I'm only talking about new code. There were a few style comments in recent PRs but nobody from the JIT team noticed this discrepancy so I thought that maybe coding conventions are actually incorrect and perhaps need updating. That said, I didn't notice this myself. Due to lower case prefixes that are everywhere (`fg`, `gt`...) it's easy to think that camel case is the convention.

I don't

[2016-03-03 06:21] #3414 closed

[2016-03-03 07:41] AndyAyersMS opened #3482 "Inliner: inconsistencies between prejit analysis and jit analysis"
When prejitting a method, the compiler will do some analysis to try and determine if that method is a viable inline candidate. If not, the method attributes in the prejit image are modified to mark the method as noinline.

However, the analysis done at prejit time is inconsistent with the analysis done at jit time. That is, a given method might look like a better inline candidate when jitting than

[2016-03-03 07:53] leemgs commented on #3463
As we all know, additional CPU architectures will be continually added in the near future. For example, X86 32bit, ARM 32bit, ARM 64bit, MIPS 32bit, MIPS 64bit, and so on. So, I think that "**white list**" is better between the whitelist and the blacklist. Any opinion before submitting the patch to resolve this issue?

[2016-03-03 08:10] jasonwilliams200OK commented on #3463
@leemgs, given the reply from @gkhanna79, instead of removing x64 check, I think the other solution you provided would make sense, i.e., to add arm[64] `elif` for `if [ "$__BuildArch" == "x64" ]` with nested condition for Ubuntu, then we may get support FreeBSD-on-ARM and other kinds of Unices which run on ARM in future, which result in adding more conditions under this architecture. Perhaps at so

[2016-03-03 11:56] myungjoo commented on #3462
The issue is that LIBUNWIND (with UNW_ARM_UNWIND_METHOD | 0x1 is true) cannot understand the stack frame created by vm/src/arm/asmhelper.S::ThePreStub().

With UNW_ARM_UNWIND_METHOD &= ~0x1, this is gone; however, it is still icky to let it be like that.

This is happening because LIBUNWIND's /src/arm/Gstep.c's routines inside UNW_ARM_UNWIND_DWARF has a side effect that falling back from dwarf-fai

[2016-03-03 12:14] benpye commented on #3462
Unfortunately setting that variable is the only way to indicate to
libunwind the method to use, however I wouldn't think that it's really a
workaround? It would be nice if there was a better way to set it however.

On Thu, 3 Mar 2016, 11:57 MyungJoo Ham, <notifications@github.com> wrote:

[2016-03-03 14:30] leemgs commented on #3463
@jasonwilliams200OK, Thanks. Acked-by: Geunsik Lim. :+1:

[2016-03-03 14:41] RussKeldorph opened #3485 "Way to exclude tests under specific test modes (jitstress, gcstress, etc.)"
Some tests fail by design under certain test modes.  When running under those modes, certain tests shouldn't be run or their failures should be ignored or "baselined away."  For example:

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/x64_checked_windows_nt_jitstress2/27/testReport/

[2016-03-03 14:50] RussKeldorph opened #3486 "JIT\Directed\forceinlining\PositiveCase failing under some JitStress modes"
If this test is simply incompatible with these modes and needs to be excluded, just refer to #3485 and close this issue.

Examples (there are more if you need them)
Windows x64 Checked
set COMPlus_JitStress=2
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/x64_checked_windows_nt_jitstress2/lastCompletedBuild/testReport/JIT/_Directed_forceinlining_PositiveCases_PositiveCases_/_Directed_forcein

[2016-03-03 14:50] leemgs opened #3487 "About regression (e.g. LLDBServices::Disassemble) happened by some patches since Feb-20-2016"
To synchronize up-to-date changes, I have moved the commit number to build native corefx
for Linux/ARM 32bit on Ubuntu 14.04 PC as following:
-before: 50d84032861511d703125d80b9b4a6da11c2650a   (Date: Mon Feb 22 13:47:27 2016 -0800 )
-after  : fdc40a40581f6a601ba508e33ad641640a956f91    (Wed Mar 2 17:50:22 2016)

It seems that the regression is generated by some patches since Feb-22-2016.
Anyone w

[2016-03-03 15:08] benpye commented on #3487
Looks like the error isn't the last thing since it's run across multiple threads. Might need to run a few times (without clean of course) to get it to be the last message, or you can try looking up in the log to find the actual error. I'll try running this locally anyway.

[2016-03-03 15:17] benpye commented on #3487
#3488 may be it?

[2016-03-03 16:11] AndyAyersMS commented on #3486
`JitStress=2` doesn't play nicely with inlining tests. It may toggle on force inline or min opts, and it does so deterministically but unpredictably (via the method hash).

I'll double check this case just to be sure that's what is happening, but it seems pretty likely.

[2016-03-03 16:14] RussKeldorph commented on #3486
@AndyAyersMS That's what I figured.  Just wanted to give you a chance to confirm.

[2016-03-03 16:56] mikem8361 commented on #3426
@gregg-miskelly does @seanshpark's previous comment look correct? Thanks.

[2016-03-03 17:49] LLITCHEV commented on #3382
Fixed with PR #3459 .

[2016-03-03 17:49] #3382 closed

[2016-03-03 18:32] AndyAyersMS commented on #3485
We have the ability to specify multiple exclude files so you could have a stress-specific exclude set that the stress job knows to use.

[2016-03-03 18:55] omariom opened #3490 "Add AsyncWaitersCount property to SemaphoreSlim"
`SemaphoreSlim` is quite powerful construct for async computations.
But, IMO, it lacks an important property - `AsyncWaitersCount` - which could report the number of waiters blocked on `WaitAsync` method.

With this property we could check if there are too many waiters queued already
so that it is guaranteed (given the size of the queue and average time waiters spend in it) that any next waiter wi

[2016-03-03 19:00] RichiCoder1 commented on #3490
To be fair, is there any reason you couldn't track this number yourself?

[2016-03-03 19:07] omariom commented on #3490
Yes, I can track it myself.
But why do I have to when SemaphoreSlim can do it more efficiently and  correctly than me? :)

[2016-03-03 19:47] AndyAyersMS commented on #2373
@omariom thanks, I see what you're getting at -- the version that uses the inline wrapper ends up more poorly optimized. Let me dig in a bit and see why.

[2016-03-03 20:14] dagood opened #3493 "Remove dotnet restore CORE_ROOT workaround when CLI is upgraded"
In order to work around https://github.com/dotnet/cli/issues/1663 for dotnet CLI 1.0.0.001504, these workarounds were put in place to unset `CORE_ROOT` during restore:

* https://github.com/dotnet/coreclr/blob/0d71a87375bfa54af10b68b74a4c8d93430ed308/tests/dir.props#L78
* https://github.com/dotnet/coreclr/blob/0d71a87375bfa54af10b68b74a4c8d93430ed308/dir.props#L99

When CLI is upgraded these worka

[2016-03-03 22:42] ramarag commented on #731
The native pieces will be done by https://github.com/dotnet/coreclr/pull/3441
Assigning this to Jeremy for the managed part

[2016-03-03 23:09] AndyAyersMS commented on #2373
This is deliberate behavior by the jit. The method `impCheckForPInvokeCall` is responsible for checking if an "inline pinvoke" is possible (by which we mean: the various bits of setup required for pinvoke are inlined; the call itself is not). But the call to this check from `impIimportCall` is done only when looking at code from the root method. So if a pinvoke call is propagated into a method via

[2016-03-03 23:33] briansull commented on #2731
PTAL @russellhadley

[2016-03-03 23:36] briansull commented on #2731
These failures could be caused by a failure of the ARM64 JIT To report these array as live GC references when a GC takes place.

[2016-03-03 23:50] #1652 closed

[2016-03-04 01:15] leemgs commented on #3487
@benpye ,  Heelo. Long time no see. :) This issue cannot be solved with #3488.

[2016-03-04 02:02] myungjoo commented on #3462
Updating libunwind (2 in the previous comment) to remove side effect of UNW_ARM_METHOD_DWARF takes a lot more attention than I imagined.
I updated every code block with UNW_TRY_METHOD(UNW_ARM_METHOD_DWARF)
to save potentially affected data structures and restore after the trial fails, but later,
I found that it may update a linked list and the side effect may propagate further, which
requires a to

[2016-03-04 02:17] adityamandaleeka commented on #1664
Fixed with #3140. Closing the issue.

[2016-03-04 02:17] #1664 closed

[2016-03-04 02:49] gregg-miskelly commented on #3426
Sorry, no, I wouldn't expect that to work. I was really talking about just the debugging side of things, but your asking about the full end-to-end experience with the project system, and I am afraid I don't know the answer to that. @BillHiebert is there any public .NET CLI ASP.NET VS tooling that @seanshpark can use?

[2016-03-04 02:57] cmckinsey opened #3501 ".unaligned prefix ignored on initblk and cpblk"
Strictly speaking the JIT needs to make sure to generate references that are aligned with respect to the byte size specified by any unaligned prefix on initblk and cpblk. Today's implemented ignores them.

For some architectures, generating unaligned references may cause execution faults at runtime. For others, they can be less efficient than aligned references. At the moment all the targets RyuJI

[2016-03-04 03:40] AndyAyersMS commented on #3486
In this test the inlines into `Main` are crucial and `JitStress=2` recompiles it with min-opts. So referring to #3845 and closing.

[2016-03-04 03:40] #3486 closed

[2016-03-04 05:03] bendono commented on #3377
I have taken a more extended look into this issue. It seems that DebugExtensionInitialize is being called twice: once when sos is loaded (.loadby sos coreclr)--which is to be expected--, and once again by the first sos commandlet. It is during this second call that g_ExtControl has a valid address but is later reset to null. The callstack for the second call is as follows:

sos.dll!ExtQuery(IDebug

[2016-03-04 05:11] bendono commented on #3377
And now that I know what to look for, it seems that someone else has also come to same conclusion. But they have provided much fuller analysis into why DebugExtensionInitialize is being called twice.

Link: https://social.msdn.microsoft.com/Forums/en-us/46723fca-8d7c-4d61-b447-14e3bef01df8/windbg-access-violation-exception-0xc0000005-when-running-the-clrstack-command?forum=windbg

[2016-03-04 08:31] leemgs opened #3504 "Inherited __LINUX__ value issue due to incorrect usage of add_definitions() in ./coreCLR/CMakeLists.txt"
The add_definitions() is intended to add preprocessor definitions. We may use set() command to set a CMake, cache or environment variable to a given value. Below is my test result.  From our evaluation, the below patch will help inheritance issue in case that we try to define value on top folder.

###  test environment:
- host pc: Ubuntu 14.04 x86 64bit PC
- command: time ROOTFS_DIR=/work/dotnet/r

[2016-03-04 09:29] janvorli commented on #3504
@leemgs I don't understand what you are trying to fix. The `__LINUX__` is supposed to be C/C++ definition with value set to 1, not a cmake variable. Why have you added the cmake variable? Regarding the issue #3479, the correct symbol to use in the configure.cmake was really the `__linux__` as you had it before, as I've realized from the response of @myungjoo

[2016-03-04 09:40] omariom commented on #2373
Now it is much more clear. The mistake was to call it in a loop.

Is it  still worth calling pinvoked method directly  when there are more than one call sites of it in a caller method?
For methods  like`GetCurrentProcessorNumber`, which are a few instructions in user mode, it might save on establishing   pinvoke infrastructure.

[2016-03-04 09:43] papaslavik commented on #159
Hello, is there a way to emit some code for arm using crossgen on a x64 machine?

[2016-03-04 09:59] papaslavik commented on #3463
is it possible to precompile apps for arm using crossgen on Ubuntu X86-64?

[2016-03-04 14:29] benpye commented on #3463
@papaslavik Certainly not yet, though progress is being made with ARM. I'm not sure if crossgen can generate cross-architecture though?

[2016-03-04 14:47] papaslavik commented on #3463
At least when you build coreclr with ./build.sh arm it generates a crossgen binary in Linux.arm.Debug which could be run on the x64 machine, but the code generator there is also for x64...

[2016-03-04 15:04] RussKeldorph commented on #3485
@AndyAyersMS Right, I'm currently assuming the solution will involve exclude files in some form.  I'm pretty sure the test scripts will require some amount of work, though.  Like I don't think runtest.sh supports additional exclusion files beyond the default.

[2016-03-04 15:15] leemgs commented on #3463
Right. And, I think that the existing crossgen cannot generate cross-architecture.

@papaslavik , if you run "./build.sh arm"  without "./build.sh arm cross", it means that you can get x64 machine binary from crossgen in Linux.arm.Debug folder because you don't add "cross" option. As a result of that, as you mentioned, a crossgen binary in Linux.arm.Debug which could be run on the x64 machine, wil

[2016-03-04 15:48] vcsjones opened #3506 "Consider improving GetHashCode on IntPtr / UIntPtr for 64-bit values"
The current implementation of `GetHashCode` on the `IntPtr` and `UIntPtr` types work by taking the value and converting it to an int, unchecked.

This works great on 32-bit values, but on 64-bit values, any values greater than the mask always result in the same hash code. For example:

[code]

Which prints true. I would propose that for 64-bit values, it do something like:

[code]

That's an examp

[2016-03-04 15:54] leemgs commented on #3487
@benpye, The above regression could be solved with below patch.
- Command:  time ROOTFS_DIR=/work/dotnet/rootfs-coreclr/arm
                      ./build.sh arm debug verbose  cross skipmscorlib skiptests
- CPU type of generated coreCLR:

[code]

[code]

@mikem8361 , I have tried to check who modified the "coreclr/src/ToolBox/SOS/lldbplugin/services.cpp". Could you check content of your patch?

[c

[2016-03-04 16:12] leemgs commented on #3504
@janvorli, Yes. The issue https://github.com/dotnet/coreclr/pull/3479 is completed. As a next step, I am checking normal operation of the inherited __LINUX__ value between __LINUX__ in ./coreclr/src/pal/* and "add_definitions(-D__LINUX__=1)" in ./coreclr/CMakeLists.txt

[code]

[2016-03-04 16:39] papaslavik commented on #3463
I see, thanks!

[2016-03-04 16:42] AndyAyersMS commented on #2373
The whole reason that the inline pinvoke setup splits into two parts is so that when you call a pinvoke in a loop the overhead is reduced. So I wouldn't say what you did was a *mistake* -- it was an opportunity to observe that the underlying behavior is a bit more complicated than it might seem.

As per your question: direct pinvoke calls at multiple sites in a single method would provide a good s

[2016-03-04 16:56] masonwheeler opened #3510 "Build fails on Windows 7 Professional x64"
After updating to the latest head of the repo, installing dependencies, and running `build clean`, the build fails, looking for `CoreRun.exe` in the wrong place:

Full output from the build process can be found [here](http://pastebin.com/WzqkE42x), to avoid spamming up this issue report with >100 KB of stuff that may or may not be relevant.  As you can see, CoreRun.exe is getting generated, just n

[2016-03-04 17:27] mikem8361 commented on #3487
[code]
To continue to build on amd64, the offset needs to be cast even though the ULONG64 typedef is unsigned long long.

[2016-03-04 17:28] mikem8361 commented on #3487
Other than that if you want to submit a PR I'll get it merged or if you want me to commit the change, I'll do it.

[2016-03-04 17:30] mikem8361 commented on #3487
@benpye

[2016-03-04 17:36] #3312 closed

[2016-03-04 17:36] #3372 closed

[2016-03-04 17:36] #3462 closed

[2016-03-04 17:44] benpye commented on #3487
@mikem8361 Looks good to me. Is the fact we need to cast that Clang will give a warning otherwise? Should it be `llu` also as it's an unsigned integer?

[2016-03-04 17:44] mikem8361 commented on #3377
@bendono Thanks for getting to the bottom of this.  I didn't think that sos would be reentered like that because of the IOCtl call.

Your solution of adding an flag to DebugExtensionInitialize sounds great.  Please submit a PR or if you want I came get this change in.

[2016-03-04 17:48] mikem8361 commented on #3487
@benpye.  It needs to be "llx" so it is formatted as a hex number and x is already unsigned.  On amd64, clang gives an error because warnings are turned into errors.

Do you want me to make the change?

[2016-03-04 17:50] jkotas commented on #3504
According to https://sourceforge.net/p/predef/wiki/OperatingSystems/, `__linux__` is the right way to detect Linux.

We should replace all uses of `__LINUX__` with the lower case one, and delete our own uppercase definition. Are you going to submit the PR?

[2016-03-04 17:50] benpye commented on #3487
Oh my bad I didn't see the "x". Sure, you can go ahead and make the change.

[2016-03-04 18:09] benpye commented on #3419
Once @mikem8361 fixes #3487 and #3512 is merged we should be in a position where the ARM build works again. @mmitche would it possible to look at getting this working?

[2016-03-04 18:10] mikem8361 commented on #3377
PR #3513 fixes this issue.

[2016-03-04 18:10] mikem8361 commented on #3487
PR #3513 fixes this issue.

[2016-03-04 18:14] gkhanna79 commented on #1934
This work is complete for all platforms but OSX that is running into VSO build issues (which dont repro in CI or locally).

[2016-03-04 18:33] kika123 opened #3514 "Windows on ARM has already bitrotted"
Windows on ARM 32-bits support has already started bitrotting and is currently uncompilable without patches

[2016-03-04 18:35] mmitche commented on #3419
@benpye Yes we can definitely do this. We mostly need to modify the rootfs and get that working again right?  Any thoughts on native compilation?

[2016-03-04 18:41] bendono commented on #3377
@mikem8361 In conclusion, this looks like a dbgeng issue. Perhaps a proper fix can be done there someday, but in the mean time this workaround resolves the issue for me. I suggest adding a small comment to explain why the code is necessary, but otherwise it LGTM.

[2016-03-04 18:45] BillHiebert commented on #3426
Not yet.

[2016-03-04 18:48] benpye commented on #3309
[code]

@myungjoo I'm still hitting the same issue, is the current master working for you? This is with a newer libunwind than Ubuntu 14.04 ships too as that seems to be completely broken for me.

[2016-03-04 19:12] briansull opened #3515 "ARM64: NYI assert in vm\arm64\stubs.cpp for RedirectedHandledJITCaseForGCThreadControl_Stub"
Several tests that normally pass will intermittently fail with this assert:
  !"ARM64:NYI"
d:\projectk\src\ndp\clr\src\vm\arm64\stubs.cpp, Line: 1039

%CORERUN% JIT\Methodical\int64\arrays\_speed_dbglcs_ulong\_speed_dbglcs_ulong.exe

[2016-03-04 19:13] AndyAyersMS commented on #2373
Looking at the crossgen of mscorlib (~20,000 methods), there aren't any pinvokes from `AggressiveInline` inlinees. There are 137 pinvoke call sites in normal inlinees, with 65 distinct pinvoke targets. I don't know offhand how many of these inlinees look like simple wrappers.

Mscorlib may be a special case, though. So I also tried CscBench (it is fairly jit-intensive, jitting over 4000 methods) a

[2016-03-04 19:14] briansull commented on #3515
Tests that occasionally fail with this assert:

_il_dbglcs_long.exe_4054
_speed_dbglcs_long.exe_4061
_speed_dbglcs_ulong.exe_4062

[2016-03-04 19:21] kika123 commented on #3309
@benpye well, even the Windows on ARM port bitrotted already

[2016-03-04 19:32] CarolEidt opened #3516 "RyuJIT x86: Alignment assert when emitting a floating-point convert instruction"
This assert in emitxarch.cpp (near line 8730):
Assertion failed '(emitChkAlign==false) || (ins == INS_lea) || (((size_t)addr & (byteSize - 1)) == 0)'

Is being hit in the following tests:
JIT\Regression\CLR-x86-JIT\V1.2-Beta1\b220968\b220968\b220968.cmd
in 'ILGEN_0x5c19e96e:f():int' (IL size 81)
JIT\Methodical\ELEMENT_TYPE_IU\_il_dbgsizeof\_il_dbgsizeof.cmd
in '_simple:main(ref):int' (IL size 79)

[2016-03-04 19:41] benpye commented on #3419
Yep, if the rootfs is regenerated then it should work. Locally at least the scripts produce a usable environment. By native do you mean compilation on the ARM target? If so then that does work for me too.

[2016-03-04 20:27] kyulee1 opened #3517 "Assertion on TY_BYREF local for cast"
When I start using ILASM from VS environment instead of ILASM from the
 CoreCLR build, I ran into the following assertion in codegenxarch.cpp.
[code]
for the test, JIT\IL_Conformance\Old\directed\ldloca_s_r8.
The MSILs from both ILASMs are technically identical, but only difference is the presence of PDB file due to dotnet#2982. When PDB file is present, JIT ensures spilling each il instruction fo

[2016-03-04 20:50] kyulee1 commented on #3442
Should the version number and name convention match with CoreCLR package? Or should I use a prerelease version/name same as now?

[2016-03-04 21:17] gkhanna79 commented on #3442
Given that the JIT will eventually be built in its own repo, it is fine for it to have a different versioning than CoreCLR.

[2016-03-04 21:59] arturl opened #3520 "Cannot update Microsoft.NETCore.UniversalWindowsPlatform package"
Repro steps:

1. Create a blank UWP app using VS 2015U1
2. Open References | Manage NuGet Package
3. Try to update Microsoft.NETCore.UniversalWindowsPlatform package to 5.2.0-rc3-23904

Results:

Many packages are reported as "not compatible with UWP", such as:

Microsoft.Win32.Primitives 4.0.1-rc3-23904 is not compatible with UAP,Version=v10.0.
System.Diagnostics.StackTrace 4.0.1-rc3-23904 is not

[2016-03-04 22:11] gkhanna79 commented on #3463
@rahku is working on building a generic infrastructure to support building cross-architecture components as part of the build.

[2016-03-05 00:00] sejongoh commented on #3449
Just to add more details, the release build folds cast instruction in the tree below and generates a double constant which ends up with being 43e08b2a2c280291. The debug build doesn't do this optimization and use cvtsi2sd instruction, which produces 43e08b2a2c280290.

[code]

Debug:
[code]

Release:
[code]

[2016-03-05 00:00] briansull opened #3524 "ARM64: Implement decomposition for 16-byte struct parameters"
For 16-byte struct parameters when need to track two different LclVar lifetimes to allow the register allocator to have two intervals.

When this is implemented we can remove the changes associate with PR #3523
Fixes for 16-byte struct argument passing for ARM64

[2016-03-05 00:05] #3506 closed

[2016-03-05 00:24] #3377 closed

[2016-03-05 00:24] #3487 closed

[2016-03-05 01:04] leemgs commented on #3419
@benpye, @mmitche, Regarding ARM/Linux CI, the native compilation on the ARM target is too slow.  the cross compilation on Ubuntu 14.04 X64 is better than native compilation on the ARM target in order to generate frequently ARM/Linux binary.

[2016-03-05 01:21] weshaggard commented on #3520
Microsoft.NETCore.UniversalWindowsPackage 5.2.0 is prerelease and isn't yet supported to be consumed by UWP apps. It currently gets built and pushed to our dev feed but we are in a transition with our packages which makes it not functional with existing tools.

For UWP you should stick to the packages that are nuget.org.

[2016-03-05 01:21] #3520 closed

[2016-03-05 01:22] benpye opened #3526 "src/pal/tests/palsuite/exception_handling/pal_sxs/test1/exceptionsxs.cpp compile failure on ARM"
On ARM `__cdecl` is ignored. This has been added to the test `src/pal/tests/palsuite/exception_handling/pal_sxs/test1` in the commit 9f6654b . @mikem8361 is this required for the test to work on OS X and so should it be `__cdecl` in an `#ifdef` for OS X or should we have this as non `__cdecl` for just ARM?

[2016-03-05 01:24] benpye commented on #3419
@leemgs I agree that native builds are generally going to be slower for lack of sufficiently fast ARM hardware. However I have found that the Jetson TK1 board I have is reasonably fast, though I am generally only doing partial builds. It would probably still be too slow for CI on every commit but certainly fast enough for nightly build and test runs I would believe.

[2016-03-05 01:25] erozenfeld opened #3527 "Make ReadyToRun images work with COMPlus_ZapRequire"
Loading ReadyToRun images fails when COMPlus_ZapRequire is set and the corresponding assembly is in COMPlus_ZapRequireList. The suggested fix is to add

[code]

to DomainFile::CheckZapRequired

[2016-03-05 01:28] LLITCHEV commented on #3360
Fixed by PR #3505 .

[2016-03-05 01:28] #3360 closed

[2016-03-05 01:41] mikem8361 commented on #3526
Even though I added with my OSX exception changes, it is valid and runs on Linux.

The only __cdecl I see is the one on main() which all the other paltests have.  Are you change all the rest of the pal tests?

[2016-03-05 01:44] benpye commented on #3526
Ah woops. appears the actual issue is this test doesn't include palsuite.h . I believe we define `__cdecl` to be harmless on ARM normally.

[2016-03-05 01:48] mikem8361 commented on #3526
I don’t remember exactly but I think the reason I didn’t include palsuite.h in exceptionsxs.cpp is because it includes platform specific h files directly.

[2016-03-05 01:49] sejongoh commented on #3449
gcc returns 43e08b2a2c280291.

[code]

[2016-03-05 01:59] sejongoh commented on #3449
84595161401484a0 doesn't fit the fraction part of double (52 bits).

The binary number of 84595161401484a0 is:
[code]
and it seems to be rounded up to fit in 52 bits.
[code]

I am wondering if cvtsi2sd uses a different round mode. I am not very familiar with floating point arithmetic. If I am wrong, please correct me.

[2016-03-05 02:30] leemgs commented on #3504
@jkotas, Yes. I will send PR after build and running test.

[2016-03-05 03:01] leemgs commented on #3487
CC: @https://github.com/chunseoklee

[2016-03-05 03:12] leemgs commented on #3504
@jkotas, I have sent PR https://github.com/dotnet/coreclr/pull/3528.

Below is generated binary files.

[code]

[2016-03-05 03:38] leemgs opened #3529 ""Failed to generate native image for mscorlib." happened when build mscorlib for Linux/ARM on Ubuntu 14.04"
I have been doing the cross build of the mscorlib from coreCLR on Ubuntu 14.04 x86 64bit PC. There are two methods  to generated managed mscorlib binary for Linux/ARM on Ubuntu 14.04 PC as following:
First method is to build entire codes of coreCLR (including mscorlib):
u14.04@leemgs$> time ROOTFS_DIR=/work/dotnet/rootfs-coreclr/arm ./build.sh arm release clean cross skiptests
Second method is to

[2016-03-05 04:29] myungjoo commented on #3419
CC: @prajwal-aithal

[2016-03-05 04:42] myungjoo commented on #3309
@benpye Could you please write your commit hash? I was based on fdc40a40581f6a601ba508e33ad641640a956f91 + 4 patches = 35b5df6888f1574e6ef9313c6bc8522d1817573d
( https://github.com/myungjoo/coreclr/commit/35b5df6888f1574e6ef9313c6bc8522d1817573d )

[2016-03-05 07:56] krytarowski commented on #3025
I'm rejecting my proposal. I'm happy with the current installation method.

[2016-03-05 07:56] krytarowski commented on #862
Can we close it?

[2016-03-05 07:57] krytarowski commented on #810
Can we close this?

[2016-03-05 07:57] krytarowski commented on #810
@jkotas @janvorli ^

[2016-03-05 09:44] ramarag opened #3531 "UIntPtrGetHashCode.csproj and IntPtrGetHashCode.csproj have build problems"
The build error were introduced in https://github.com/dotnet/coreclr/pull/3511/files

intptrgethashcode.cs(117,17): error CS0103: The name 'retVal' does not exist in the current context [E:\git\coreclr\tests\src\CoreMangLib\cti\system\intptr\IntPtrGetHashCode.csproj]
intptrgethashcode.cs(125,24): error CS0103: The name 'retVal' does not exist in the current context [E:\git\coreclr\tests\src\CoreMa

[2016-03-05 09:44] ramarag commented on #3531
@vcsjones can you take a look?

[2016-03-05 09:49] ghost opened #3532 "Why are there two mscorlib variants?"
Native: mscorlib.ni.dll
Managed: mscorlib.dll

Assuming they are interchangeable and capable of doing the same things; can't there be just one in CoreCLR (preferably the native one)? Or are there other/historical reasons to keep both variants?

Also noticed that CoreFX build script explicitly deletes the native version: https://github.com/dotnet/corefx/blob/021ced7/run-test.sh#L174-L179.

cc @elli

[2016-03-05 10:05] jkotas commented on #862
I think so.

[2016-03-05 10:05] #862 closed

[2016-03-05 10:10] jkotas commented on #3025
This is being worked on in the cli repo https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/specs/canonical.md#acquisition

[2016-03-05 10:10] #3025 closed

[2016-03-05 10:13] mikedn commented on #3449
It's not only `cvtsi2sd` that plays a part here, your disassembly of the conversion code is incomplete. It is:

[code]

`cvtsi2sd` converts only signed integers. In the case of unsigned integers the compiler treats the integer as signed and then adjusts the result by adding 2^64 if the integer was negative.

Because the bit pattern that is converted by `cvtsi2sd` is not
[code]

but its absolute va

[2016-03-05 10:26] mikedn commented on #3449
BTW, the IL spec doesn't seem to say anything about this issue either. It may be that both results are "correct", the main issue is the inconsistency between debug and release which is IMO a bit undesirable.

[2016-03-05 10:33] jkotas commented on #3532
The CoreCLR nuget package is going to contain just the native one.

Deleting of the native version in corefx was workaround from the days when the managed build was done on Windows and the result copied over to Unix - the script sometimes copied the native image from Windows to Unix that resulted into spectacular crash. This workaround should be no longer needed.

[2016-03-05 10:37] jkotas commented on #3531
Fixed by https://github.com/dotnet/coreclr/pull/3530/files. Thanks @ramarag for taking care of it!

[2016-03-05 10:40] mikedn commented on #3449
I'm stupid. The same inconsistency can show up in release builds. It's not like the JIT can always constant fold expressions that aren't constant. IMO, it would be nice to change the way the conversion is done to be consistent with the native compilers of the platform the runtime runs on.

[2016-03-05 11:20] ramarag commented on #3531
Actually https://github.com/dotnet/coreclr/pull/3530/ does not fix it all, it was the first level of error. The above reported ones surfaced after the fix

[2016-03-05 12:18] benpye commented on #3309
I'm getting this on 99ad6494

[2016-03-05 12:29] benpye commented on #3309
It's failing after `unw_step` https://github.com/dotnet/coreclr/blob/4dcf521ea78e64a554fdf396d523285499ad6494/src/pal/src/exception/seh-unwind.cpp#L280

[2016-03-05 12:45] jasonwilliams200OK commented on #3532
This is a great news! :)

1. Does that also mean that some part of document <kbd>**Book of Runtime, Chapter: mscorlib** -
https://github.com/dotnet/coreclr/blob/8d3936b/Documentation/botr/mscorlib.md</kbd> are outdated? such as:

[code]

  and

[code]

  etc.

2. Would there be any relationship between dotnet CLI and CoreCLR nuget pacakge? Such as; dotnet-cli would download and inflate the CLR nug

[2016-03-05 12:56] MichaelKetting commented on #3155
@jkotas, I'll have to appologize for not properly noticing your response over on this thread. I've taken the liberty to quote it over on https://github.com/dotnet/roslyn/issues/8800#issuecomment-192639041, since we are affected by the Roslyn issue. I've also given a more detailed response to your questions there and would very much like to continue the discussion on the Roslyn thread to keep thing

[2016-03-05 13:20] omariom commented on #2373
Then I suppose..

![184c7ad6a602de574707d1006faabb7d](https://cloud.githubusercontent.com/assets/1781701/13547711/cabcd22a-e2ed-11e5-8942-4e1a95e23cf7.jpg)

[2016-03-05 13:20] #2373 closed

[2016-03-05 14:16] nietras opened #3534 "IL Tools: Create NuGet packages for IL tools ilasm.exe, ildasm.exe and possible new tools (ilsub.exe, iloptim.exe)"
`ilasm.exe` and `ildasm.exe` are already part of coreclr. However, there does not appear to be any NuGet packages for them. Since these sometimes are useful for scripting (build or similar) it would be great to have these as separate nugettable packages.

In fact, it would be great if there would be a whole family of IL tools e.g.:

`ilasm.exe`: (IL Assembler) generates a portable executable (PE)

[2016-03-05 14:45] benpye commented on #3419
@mmitche And we need to make sure the correct packages are installed, looks like the bintfmt package might be missing, could be others.

[2016-03-05 15:20] snuxoll commented on #3025
@jkotas I do not agree that dotnet-cli is the appropriate place to solve the usage of a shared runtime and libraries. I want to use core without needing to be tied at the hip to cli.

[2016-03-05 15:25] jkotas commented on #3532
- `mscorlib` is assembly. Having native code for it does not change this fact.

Our current plan is:
- The full cli package will depend on the coreclr package (we actually call it "shared runtime" because of it will contain more than just coreclr proper)
- Both of these packages will be native platform packages - aptget will automatically install it's dependencies, etc.

[2016-03-05 19:58] omariom commented on #3534
:+1:  for ILSub. I am using it in my experiments with delegates.

[2016-03-05 22:17] vcsjones commented on #3531
I'm looking into the rest of the errors.

[2016-03-05 23:05] jkotas commented on #3025
@snuxoll We are doing the packaging work in the cli repo because of it fits well with how our engineering system is system. It does not mean that the shared runtime cannot exist without the full CLI. You will be able to install the shared runtime, without installing the full CLI.

[2016-03-05 23:59] ramarag commented on #3531
The test project is marked <CLRTestPriority>1</CLRTestPriority>, probably that is the reason the CI did not catch it. The easiest way to build the project is to remove this tag from the .csproj. Then you can directly build the project.
Or use build.cmd priority 2 from the root [ If you opt for that you don't need to modify the project]

[2016-03-06 00:08] vcsjones commented on #3531
@ramarag Thanks for the trick on editing the csproj file, that's quite handy over running a full build. I made a PR to correct the build errors.

[2016-03-06 00:16] jkotas commented on #3529
The native image is generated using crossgen tool that was just built. It does not work well for crossbuild - the error is caused by trying to execute arm binary on x64 machine.

For now, you should disable generation of native images for crossbuild.

There are two options how to make this work the generation of native images work during crossbuild:

- Option 1: Build x64 hosted, arm targeting fla

[2016-03-06 01:33] vcsjones commented on #3338
You need to add `"System.Security.SecureString"` as a dependency to your project, then use `System.Security.SecureStringMarshal.SecureStringToCoTaskMemUnicode` to convert your secure string.

The DNXCore version of this package seems to only support the Unicode encoding using the COM allocator, not Ansi or the global allocator.

The implementation of this appears to only work on Windows, as well.

[2016-03-06 03:00] #3531 closed

[2016-03-06 03:14] LLITCHEV commented on #2967
NOt reproducing anymore. It is most likely fixed by PR #3351 .

[2016-03-06 03:14] #2967 closed

[2016-03-06 03:15] #3281 closed

[2016-03-06 11:07] nietras opened #3539 "RyuJIT: Poor code quality for tight generic loop with many inlineable calls (factor x8 slower than non-generic few calls loop)"
A common operation in image processing is to merge separate color channels i.e. blue, green and red  to a `Bgr` image (or 2D array).

Using the proposed `Unsafe` class, detailed in https://github.com/dotnet/corefx/issues/5474 but via the https://github.com/DotNetCross/Memory.Unsafe implementation, a completely generic loop for operations that can `Transform` a single input to three different outpu

[2016-03-06 11:28] sejongoh commented on #3449
Oh i see. I totally missed the adjustment part. FYI, GCC generates:

[code]

[2016-03-06 18:38] mikedn commented on #3449
Makes sense, by dividing by 2 it avoids feeding negative values to `cvtsi2sd`. Also note how bit0 is "mixed" with bit1 to prevent rounding down instead of to nearest.

[2016-03-06 19:27] tmds commented on #3318
I am no longer actively looking at this. I will close the issue since I won't be able to provide the necessary input.

[2016-03-06 19:27] #3318 closed

[2016-03-06 19:33] tmds commented on #2222
@bleroy, @weshaggard can I close this issue?

[2016-03-06 19:51] mikedn commented on #3539
I think the main problem is the lack of optimizations around value types and not inlining. You have calls with value type parameters and/or value type returns. Values passed as parameters need to be copied and after inlining those copies may end up being redundant. The JIT isn't able to eliminate such copies and you end up with code like the one you posted above.

This may simply be a duplicate of

[2016-03-06 19:57] nietras commented on #3539
To be clear. I wasn't saying that inlining was the problem at all, inlining works great, but indeed that something was wrong with the code generation around it. Guess the main problem is value types (which we use a lot in our "domain" of image processing) then. I will try to make a complete example if that is of interest and can help.

Any way of circumventing the copies? Can't do ref returns? Ref

[2016-03-06 20:07] mikedn commented on #3539
Yes, you can try to use `ref` parameters and perhaps replace returns to `out` parameters. I'm not sure why that would require mutable types. I think that all you need is to change the second parameter of `Write` to use `ref`. And I suppose `Write` only reads from that parameter so the fact that it is immutable should not matter.

[2016-03-06 22:27] LLITCHEV opened #3540 "Set the lsraLimitSmallIntSet to include more callee saved registers when UNIX_ABI is defined"
This is setting to limit the number of callee saved register for stress testing. On System V there RDI and RSI are not callee saved registers. Add more callee saved registers, so the testing in stress mode is better.

[2016-03-06 23:03] KevinRansom opened #3541 "JITTrackingEnabled on coreclr making internals visible to not work correctly"
When the F# compiler emits a DebuggableAttribute with JitEnabled false, the built binary can no longer access internals in another assembly when internals visible has been correctly specified.

The attached zip file has two complete fsharp compilers and its coreclr dependencies.

[jit-tracking.zip](https://onedrive.live.com/redir?resid=24D4E4E2DE3A85A1!109903&authkey=!ALZ7NJzV9yqvDFc&ithint=file%2

[2016-03-07 01:11] leemgs commented on #3529
@jkotas, Thank you more information on the crossgen tool. I will try to make a patch to disable generation of native image for crossbuild.

[2016-03-07 01:32] benpye commented on #3529
I would think it should be possible to run the ARM crossgen binary on x64
to generate the native image using qemu's user emulation (binfmt) support
to run binaries from other architectures. I haven't looked into doing this
though.

On Mon, 7 Mar 2016, 01:11 Geunsik Lim, <notifications@github.com> wrote:

[2016-03-07 01:40] gafter opened #3542 "CharUnicodeInfo.GetUnicodeCategory classifies U+2028 as Format"
`'\u2028'` (aka LINE SEPARATOR) should be classified by `CharUnicodeInfo.GetUnicodeCategory` as
`UnicodeCategory.LineSeparator` but is incorrectly categorized as `UnicodeCategory.Format`.

See http://www.fileformat.info/info/unicode/char/2028/index.htm

This is the root cause of the Roslyn compiler bug https://github.com/dotnet/roslyn/issues/9484

[2016-03-07 01:51] gkhanna79 commented on #3481
No longer required.

[2016-03-07 01:51] #3481 closed

[2016-03-07 01:52] gkhanna79 commented on #3014
APISet change is no longer required.
uCRT support is in-place.

[2016-03-07 01:52] #3014 closed

[2016-03-07 01:53] gkhanna79 commented on #3480
No longer required.

[2016-03-07 01:53] #3480 closed

[2016-03-07 01:53] gkhanna79 commented on #3015
Being tracked by https://github.com/dotnet/coreclr/issues/1934

[2016-03-07 01:53] #3015 closed

[2016-03-07 04:12] weshaggard commented on #2222
Yes I think the recent blog post https://blogs.msdn.microsoft.com/dotnet/2016/02/23/porting-msbuild-to-net-core/ covers the general approach and @terrajobst answered most of your specific questions. If you have other questions please feel free to file another issue.

[2016-03-07 04:12] #2222 closed

[2016-03-07 06:51] myungjoo commented on #3309
@benpye  Could you please test with the folowing update on the most recent libunwind?

I forgot to mention that I've already modified libunwind-arm. sorry.

[code]

[2016-03-07 07:47] myungjoo commented on #3182
CC: @leemgs is also interested in this issue. (making ARM-Release work at least as ARM-Debug)

[2016-03-07 08:15] 0xd4d commented on #3412
I attached a debugger and this is a friendlier message than what's posted above.

System.IO.FileNotFoundException:

[2016-03-07 08:24] tiomke commented on #1502
I get the similar error when I follow this tutrial [.NET Core - Getting Started](http://dotnet.github.io/getting-started/)

[code]
[code]

I found out that my OpenSSL version is too old, so I update it and solve the problem.

[code]

[2016-03-07 09:47] nietras commented on #3539
It does not require it. I was just wondering whether `out` would actually solve the issue. Anyway, as I understand there are two things that could help here.

- Changing the `MergeBgrFunc` to use an `out` parameter instead of a return value, test have to show if this actually avoids the extra copies?
- Change the `Unsafe.Write` to take a `ref`parameter instead.

That is for example end up with:
[c

[2016-03-07 09:52] nietras commented on #3539
Should I rename the issue to something like `RyuJIT: Excessive value type copies due to value type returns/parameters despite inlined calls (factor x8 slower than no calls loop)`? Seems more correct.

And yes this does infact seem related to https://github.com/dotnet/coreclr/issues/1133.

[2016-03-07 10:15] nietras commented on #3539
Changing to just use `out` parameter:
[code]
 didn't change anything in the generated assembly:
[code]
Not the speed either.

[2016-03-07 10:21] OtherCrashOverride opened #3544 "Is remote debug/deploy from Visual Studio a planned feature for release?"
Over the course of this project I have continued to ask about debugging.  There has never been a confirmation or denial of it.  So this is as explicitly as I can think of to ask the question.

[2016-03-07 11:17] leemgs opened #3545 "ARM: Regression issue happened again since Mar-3-2016 (commit: 55a784c786e698dc394568fcdf6d42c9d0c827e0)"
When we try to run "hello world" Raspberry Pi2 board  and Linux/ARM emulator since March-03-2016,
the regression has again generated by some patches. First of all, I have tested my latest patches with commit Mar-3-2016 (commit: 55a784c786e698dc394568fcdf6d42c9d0c827e0). My patches is normal.

Anyone who has similar problem like me? Do I have this issue alone?
CCed from Mar-3-2016 (commit: 55a784c7

[2016-03-07 11:34] janvorli commented on #3545
@leemgs This error means that the mscorlib.dll doesn't match the libcoreclr.so. The need to come from the same version of the source tree and they need to be both debug or both release.

[2016-03-07 11:55] leemgs commented on #3545
@janvorli, It's strange. In my case, I have executed below command to build CoreCLR for Linux/ARM.
Actually, all generated files are located in same folder. Anyway, I will test with up-to-date commit no. (today's commit) again.
* To build mscorlib: ./build.sh arm clean verbose
* To build coreCLR: time ROOTFS_DIR=/work/dotnet/rootfs-coreclr/arm  ./build.sh arm debug  clean cross skipmscorlib skipte

[2016-03-07 12:21] myungjoo opened #3546 "Stack Limit Assertion Failure (ARM/Linux/Debug)"
I'm having the following issue in ARM/Linux/Debug (b440fdf5e0ed03e511a9adcb9196ce324ab2e09a)
with the HelloWorld.cs from linux-instruction.md

[code]

The failure is caused by the managed stack frame SP goes beyond StackLimit; however,
in the context of Thread::StackWalkFramesEx() in src/vm/stackwalk.cpp, other managed frames seem to be less than StackLimit (0xbe800000 and 0xb1cff000, measured onc

[2016-03-07 14:32] janvorli commented on #3545
@leemgs Looking at the CriticalHandle (which is referred to in the assert) definition in the libcoreclr and in the mscorlib and at the sizes reported by the assert, it really seems like a release version of mscorlib is used with debug version of libcoreclr.so. The CriticalHandle has 3 four-byte fields on ARM in release and 4 in debug, which would match the reported 0xC bytes on the mscorlib (man)

[2016-03-07 14:35] benpye commented on #3545
@leemgs @janvorli I think you're right, looking at the build commands you
listed you omitted the debug parameter when building mscorlib.dll

On Mon, 7 Mar 2016, 14:33 Jan Vorlicek, <notifications@github.com> wrote:

[2016-03-07 14:50] janvorli commented on #3546
@myungjoo There is no distinction between managed and native stack - there is just one stack per thread, containing intermixed native and managed frames.
It seems that there might be a problem with the value reported by the pthread_addr_getstack on ARM. On x64, the stack limit (which is the lowest allowed stack address) never moves below the initially reported one. It only moves up when OS needs m

[2016-03-07 15:04] myungjoo commented on #3309
The related patch is suggested here:
http://lists.nongnu.org/archive/html/libunwind-devel/2016-03/msg00009.html

[2016-03-07 15:05] leemgs commented on #3545
@janvorli , @benpye  I have found the reason of regression (e.g. running failure) that I reported. This reason is related to the #3529. I will send a PR after enough testing exception handling on build_mscorlib() in ./build.sh for Linux/ARM .

Here is similar issues.
a. "Failed to generate native image for mscorlib." happened when build mscorlib for Linux/ARM on Ubuntu 14.04 - https://github.com/d

[2016-03-07 15:45] mmitche commented on #3419
@benpye Is that script that sets up the rootfs up to date?

[2016-03-07 15:50] benpye commented on #3419
@mmitche Should be, I would ensure that you have all the packages on the host mentioned at https://github.com/dotnet/coreclr/blob/master/Documentation/building/cross-building.md too. Additionally (and somewhat annoyingly) that work around currently has to be done manually but I could possibly modify the rootfs script to update the file automatically.

[2016-03-07 16:07] Arthur2e5 opened #3547 "PlatformID.Unix case missing from System/OperatingSystem.cs"
It appears that there isn't a case for `PlatformID.Unix` in `System.OperatingSystem.toString()`. This doesn't sound good…

[2016-03-07 16:23] JohnChen0 commented on #3527
Fixed with PR #3536.

[2016-03-07 16:23] #3527 closed

[2016-03-07 16:27] stephentoub commented on #3547
System.OperatingSystem isn't exposed in .NET Core.  The new System.Runtime.InteropServices.RuntimeInformation takes its place.

[2016-03-07 16:35] tarekgh commented on #3542
I'll take a look

[2016-03-07 16:36] RussKeldorph commented on #3539
@CarolEidt FYI.

[2016-03-07 16:45] RussKeldorph commented on #3534
I believe @kyulee1 is working on packaging ilasm and ildasm.

@nietras I recommend breaking this into two or three separate issues.  I make no prediction on the likelihood of ilsub and/or iloptim requests being addressed, but those requests are very different than the ilasm/ildasm one IMO.

[2016-03-07 17:39] nathanaeljones commented on #1605
Ugh, so because it's not defined, the rest of the world has to Ifdef  P/Invoke declarations too?

If people start creating fake shims to avoid this we're going to have some fun symbol collisions.

[2016-03-07 17:54] tarekgh commented on #3542
@gafter I cannot repro this issue. doing

        UnicodeCategory uc = CharUnicodeInfo.GetUnicodeCategory('\u2028');
        Console.WriteLine(uc);

producing "LineSeparator"

[2016-03-07 17:57] CarolEidt commented on #3516
I had a one-off error in my processing of the failures. Here is the correct list:
JIT\Regression\CLR-x86-JIT\V1-M10\b05637\b05637\b05637.cmd
in '_simple:main(ref):int' (IL size 79)
JIT\Regression\CLR-x86-JIT\V2.0-Beta2\b323557\b323557-dbg\b323557-dbg.cmd
in 'FullProof:Main():int' (IL size 66)
JIT\Methodical\NaN\r4nanconv_il_r\r4nanconv_il_r.cmd
in 'ConvTest:test1():byte' (IL size 23)
JIT\Methodica

[2016-03-07 18:27] CarolEidt opened #3549 "RyuJIT x86: Code generation/encoding issue for ckfinite"
These tests generate the following assert:
Assert failure(PID 128 [0x00000080], Thread: 11276 [0x2c0c]): Assertion failed 'size <= EA_PTRSIZE || IsSSEOrAVXInstruction(ins)'
File: d:\git\coreclr\src\jit\emitxarch.cpp Line: 3371

It is generating a mov from fp to int register, but is assuming that it can move a double to a long this way.

JIT\IL_Conformance\Old\Conformance_Base\sub_r8\sub_r8.cmd
in

[2016-03-07 18:36] LLITCHEV commented on #3225
Fixed with PR #3521

[2016-03-07 18:36] #3225 closed

[2016-03-07 18:49] schaabs opened #3550 "SIGABRT_libcoreclr.so!Thread::VirtualUnwindToFirstManagedCallFrame"
This appears to be a failure where we are handling a native exception and trying to create a managed exception out of it (Presumably a heap corruption which results in a segsiv we are trying to turn into a null reference exception, but I haven't verified this).  However in this case there are no managed frames to dispatch the exception to so we end up crashing in **VirtualUnwindToFirstManagedCallF

[2016-03-07 18:57] CarolEidt opened #3551 "RyuJit x86: Assert with spilled double return value"
The following tests get this assert:
Assert failure(PID 2288 [0x000008f0], Thread: 2952 [0x0b88]): Assertion failed 'temp != nullptr'
File: d:\git\coreclr\src\jit\regset.cpp Line: 3098

It appears to be the case that the return is marked as spilled, though from a quick look at the first test case, it doesn't seem that it is being spilled by the register allocator.

JIT\Methodical\NaN\r8nanconv_il_

[2016-03-07 19:08] kyulee1 opened #3552 "Clean up ```emitEncodeCallGCregs``` and ```emitDecodeCallGCregs```"
These functions in https://github.com/dotnet/coreclr/blob/master/src/jit/emitinl.h are about encoding/decoding integer callee save registers. This should be refactored in a better form without duplication.

[2016-03-07 19:22] briansull commented on #3151
Fixed with PR #3523

[2016-03-07 19:22] #3151 closed

[2016-03-07 19:23] briansull commented on #2987
Fixed with PR #3523

[2016-03-07 19:23] #2987 closed

[2016-03-07 20:23] janvorli commented on #3550
Reassigning that to myself. I think I know what's wrong.

[2016-03-07 21:01] CarolEidt opened #3554 "RyuJIT x86: Reg pointer tracking bug"
The following tests get this assert:
Assert failure(PID 120 [0x00000078], Thread: 5580 [0x15cc]): Assertion failed 'nonVarPtrRegs == 0'
File: d:\git\coreclr\src\jit\codegenxarch.cpp Line: 700

managed\Compilation\Compilation\Compilation.cmd
in 'Microsoft.CodeAnalysis.CSharp.Symbols.Metadata.PE.PENamedTypeSymbol:GetDeclaredBaseType(ref):ref:this' (IL size 43)
JIT\Methodical\stringintern\test1-xasse

[2016-03-07 22:14] CarolEidt opened #3557 "x86: long/int mismatch in importer"
The following tests get this assert in the importer, both with the "frankenjit" as well as RyuJIT:

Assert failure(PID 6824 [0x00001aa8], Thread: 13280 [0x33e0]): Assertion failed 'genActualType(op1->TypeGet()) == genActualType(op2->TypeGet()) || varTypeIsI(op1->TypeGet()) && varTypeIsI(op2->TypeGet()) || varTypeIsFloating(op1->gtType) && varTypeIsFloating(op2->gtType) : Possibly bad IL with CEE_c

[2016-03-07 22:32] gafter commented on #3542
I think I was just wrong. Sorry.

[2016-03-07 22:32] #3542 closed

[2016-03-07 22:33] gkhanna79 opened #3559 "Embed Verison Info Resource into mscorlib.dll"
Depends upon the outcome of https://github.com/dotnet/coreclr/issues/3133

We need to do this for all platforms so that it can propagate to the corresponding NI image.

CC @gregg-miskelly @noahfalk

[2016-03-07 22:57] CarolEidt opened #3560 "RyuJIT x86: Tree order assert after Lowering decomposition of longs"
The following tests get this assert:
Assert failure(PID 11860 [0x00002e54], Thread: 2936 [0x0b78]): Assertion failed 'treeNodeCount == linearNodeCount'
File: d:\git\coreclr\src\jit\flowgraph.cpp Line: 21052

JIT\Directed\refbyref\ref2byref_il_d\ref2byref_il_d.cmd
in '<Module>:Main():int' (IL size 206)
JIT\Directed\refbyref\ref2byref_il_r\ref2byref_il_r.cmd
in '<Module>:Main():int' (IL size 206)

T

[2016-03-07 23:11] CarolEidt opened #3561 "RyuJIT x86: Assert when generating shl by 1"
The following tests get this assert:
Assert failure(PID 15836 [0x00003ddc], Thread: 14924 [0x3a4c]): Assertion failed 'val != 1'
File: d:\git\coreclr\src\jit\emitxarch.cpp Line: 4187

JIT\Directed\coverage\oldtests\cse1_cs_r\cse1_cs_r.cmd
in 'CSE1:Main(ref):int' (IL size 523)
JIT\Directed\coverage\oldtests\cse1_cs_ro\cse1_cs_ro.cmd
in 'CSE1:Main(ref):int' (IL size 401)
JIT\Performance\CodeQuality\

[2016-03-08 00:50] jackfree opened #3565 "Enum.ToString is allocating a lot of memory and sorting, twice"
The implementation of ToString within Enum.cs ends up calling a GetEnumName method.  Inside GetEnumName, we end up calling GetEnumData *twice*, the first from a call to "Array values = GetEnumRawConstantValues();", and the second from string[] names = GetEnumNames();

This is rather costly if done repeatedly, and can account for a lot of superfluous memory allocation and sorting.  There are a few

[2016-03-08 01:08] ramarag opened #3566 "IntPtrGetHashCode test failing"
EGIN EXECUTION
 "E:\git\coreclr\tests\..\bin\tests\Windows_NT.x64.Debug\Tests\Core_Root\corerun.exe" IntPtrGetHashCode.exe
Beginning test case IntPtr.GetHashCode() at 3/7/2016 5:15:53 PM
Random seed: 20010415; set environment variable CORECLR_SEED to this value to repro

[Positive]
ERROR!!!-002: expect IntPtr.GetHashCode() equals the address

Ending test case at 3/7/2016 5:15:54 PM
FAIL
Expected:

[2016-03-08 01:17] jamesqo commented on #2449
Moved to CoreFX: dotnet/corefx#6740

[2016-03-08 01:17] #2449 closed

[2016-03-08 01:18] CarolEidt opened #3569 "RyuJIT x86: Liveness assert for upper part of long"
Assert failure(PID 16116 [0x00003ef4], Thread: 15408 [0x3c30]): Assertion failed 'VarSetOps::Equal(this, VarSetOps::Intersection(this, life, block->bbLiveIn), life)'
File: d:\git\coreclr\src\jit\liveness.cpp Line: 2820

This is in the following test:
JIT\Regression\Dev11\dev10_94677\loopvt\loopvt.cmd
in 'DblArray3:f4(ref,int)' (IL size 88)

It appears that V13 (T11) has a definition that is not ma

[2016-03-08 01:19] ramarag commented on #3566
The Ci report can be seen here:
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/x64_release_windows_nt_pri1_prtest/1/testReport/CoreMangLib/_cti_system_intptr_IntPtrGetHashCode_IntPtrGetHashCode_/_cti_system_intptr_IntPtrGetHashCode_IntPtrGetHashCode_cmd/

[2016-03-08 01:20] vcsjones commented on #3566
This was brought up on the PR as well, https://github.com/dotnet/coreclr/pull/3511. Thanks for making an issue.

[2016-03-08 01:25] vcsjones commented on #3566
@ramarag I do not see the failure for the UIntPtr case that you included in the issue. It appears to be passing in CI, or am I looking in the wrong place? http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/x64_release_windows_nt_pri1_prtest/1/testReport/CoreMangLib/_cti_system_uintptr_UIntPtrGetHashCode_UIntPtrGetHashCode_/

[2016-03-08 01:29] CarolEidt opened #3570 "RyuJIT x86: Float/Double mismatch in CodeGen::genStoreInd()"
The following tests get this assert:

Assert failure(PID 2336 [0x00000920], Thread: 15712 [0x3d60]): Assertion failed '!varTypeIsFloating(targetType) || (targetType == data->TypeGet())'
File: d:\git\coreclr\src\jit\codegenxarch.cpp Line: 5255

JIT\Regression\CLR-x86-JIT\V1-M09.5-PDC\b27535\b27535\b27535.cmd
in 'stelem_test:main():int' (IL size 46)
JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b59948\b59

[2016-03-08 01:32] ramarag commented on #3566
my bad, my local test build was out of date only IntPtr version is problematic

[2016-03-08 01:35] tijoytom opened #3571 "Interop LPSTRTest failing in Windows_NT x86 Debug Legacy Backend with AV"

[2016-03-08 01:36] tijoytom opened #3572 "Interop LPSTR test validation fails since the native and managed string do not match."

[2016-03-08 01:57] masonwheeler commented on #3510
After discussing this with @AndyAyersMS and @RichiCoder1, it appears that the problem is that the build script uses classes that are not supported in PowerShell 2.0, the version installed by default in Windows 7, and [the readme for building CoreCLR on Windows](https://github.com/dotnet/coreclr/blob/master/Documentation/building/windows-instructions.md) only says that PowerShell is needed, without

[2016-03-08 06:41] rahku opened #3578 "test baseservices/exceptions/unittests/EHPatternTests/EHPatternTests.sh failing on ubuntu"
[code]

[2016-03-08 07:06] #3547 closed

[2016-03-08 07:14] ellismg commented on #3412
/cc @piotrpMSFT

[2016-03-08 07:19] ellismg commented on #3338
I believe we decided to remove System.Security.SecureString from .NET Core because we would be unable to implement it cross platform in a reasonable way.  Some pre-release packages were published to NuGet before we made that call, but they will not be cross platform and will not go stable with the rest of .NET Core 1.0

Are you trying to port some existing code to .NET Core?

/cc @stephentoub

[2016-03-08 08:22] myungjoo commented on #3546
@janvorlli Thank you.

The current preposition of the error is coming from the incorrect operations between iter.Init() to iter.Next() in Thread::StackWalkFrameEx(), which gives incorrect SP values for managed stack. (detail at https://github.com/myungjoo/coreclr/issues/2 )

I may be able to return to this issue many days later. :(
( @leemgs @mylibero @prajwal-aithal If any of you make a significa

[2016-03-08 10:49] krytarowski commented on #3287
This functionality is critical for CoreFX tests.

Part of dlltest1.cpp.i

[code]

On NetBSD this tests fails because there is thrown and not caught exception (it's C++ exception with "throw").

@janvorli @jkotas have you got pointers what may be wrong/missing? The same issue is likely on FreeBSD.

[2016-03-08 10:51] janvorli commented on #3578
@rahku  Both of the tests marked as failed in fact succeeded - comparing the traces manually shows they are equal, but the test considered them not to be equal.
We already have had such problem before, with exactly the same test, but located in a different file - tests/src/baseservices/unittests/innerfinally.cs.
It was fixed by @wtgodbe in #1907, which fixed the problem in tests/src/baseservices/u

[2016-03-08 10:58] krytarowski commented on #3287
[code]

[2016-03-08 11:02] krytarowski commented on #3287
DllTest1 fails the same way -- it doesn't matter that there are two DllTests. Calling just one or the other results in the same termination.

[2016-03-08 11:07] janvorli commented on #3287
@krytarowski I would try to run it under a debugger with breakpoints set to `__cxa_throw` and `__cxa_begin_catch`. Then you would see exactly which throw was not being caught and where each throw is caught.

[2016-03-08 11:15] krytarowski commented on #3287
GDB/LLDB doesn't want to attach to `__cxa_throw` neither `__cxa_begin_catch`. I checked that these symbols do exist in libstdc++.

[2016-03-08 11:18] krytarowski commented on #3287
[code]

Doesn't work either. I will try to investigate it.

[2016-03-08 11:19] janvorli commented on #3287
That's strange, it works fine on Linux, I've been using it a lot for debugging in the past. Maybe the function names have different number of underscores or something?

[2016-03-08 11:21] krytarowski commented on #3287
[code]

[2016-03-08 11:23] krytarowski commented on #3287
OK, I know what was going on. I had to first load library and make it sound to GDB:

[code]

[2016-03-08 11:24] krytarowski commented on #3287
It looks like `SIGSEGV` isn't caught.

I know that GNU libsigsegv works on NetBSD. I'm not sure how about GCJ.

[2016-03-08 11:25] janvorli commented on #3287
The GDB always catches the sigsegv first, you should just do "c" after that.

[2016-03-08 11:27] nietras opened #3579 "IL Tools: Add `ILSub` and create nuget package for it"
`ilasm.exe` and `ildasm.exe` are already part of coreclr. However, another useful tool is:

`ilsub.exe`: (IL Substituter) see https://github.com/dotnet/corefxlab/tree/master/src/System.Slices/tools/ILSub , a tool for substituting a method body with hand-written IL e.g. as in https://github.com/dotnet/corefxlab/blob/master/src/System.Slices/System/PtrUtils.cs#L102:
[code]

Add this to `coreclr` in

[2016-03-08 11:27] krytarowski commented on #3287
I see. You are right.

[code]

[2016-03-08 11:29] nietras opened #3580 "IL Tools: Create new `iloptim` tool and create nuget package"
`ilasm.exe` and `ildasm.exe` are already part of coreclr. However, an idea for a new tool is:

`iloptim.exe`: (IL optimizer) basically my idea for a tool that can optimize/merge/inline IL to form an optimized basis for JIT scenarios.

The tool would, thus, be somewhere inbetween native compilation and normal JIT. This tool could also be used to reduce size by doing simple obfuscation/reduction of

[2016-03-08 11:32] krytarowski commented on #3287
How/what to extract useful information from this position?

[2016-03-08 11:32] nietras opened #3581 "IL Tools: Create NuGet packages for IL tools ilasm.exe, ildasm.exe"
`ilasm.exe` and `ildasm.exe` are already part of coreclr. However, there does not appear to be any NuGet packages for them. Since these sometimes are useful for scripting (build or similar) it would be great to have these as separate nugettable packages.

This issue originates from https://github.com/dotnet/coreclr/issues/3534

[2016-03-08 11:34] nietras commented on #3534
@RussKeldorph I agree. I have split out `ilsub` https://github.com/dotnet/coreclr/issues/3579 and `iloptim` https://github.com/dotnet/coreclr/issues/3580 and created a separate issue for nuget packages for https://github.com/dotnet/coreclr/issues/3581.

[2016-03-08 11:34] #3534 closed

[2016-03-08 11:35] janvorli commented on #3287
Can you also dump stack when you hit each breakpoint?

[2016-03-08 11:36] krytarowski commented on #3287
[code]

[2016-03-08 11:44] krytarowski commented on #3287
I will be back to it on the evening.

[2016-03-08 11:44] janvorli commented on #3287
@krytarowski My guess is that NetBSD is unable to propagate exception and through the signal trampoline. And probably even unwind stack through it, which would explain the nonsense frames 10 and 11.

[2016-03-08 11:47] janvorli commented on #3287
If I am right, then we will need to handle hardware errors differently, in a way similar to what we do on OSX. That means by modifying the context passed in by the signal, redirecting it to an exception handling function and then returning from the signal. See HijackFaultingThread in the src/pal/src/exception/machexception.cpp

[2016-03-08 11:48] krytarowski commented on #3287
Thanks! I will have a look at it.

[2016-03-08 12:09] nietras commented on #3539
Related to this I've done some micro-benchmarks of the `Unsafe` `Read`, `Write` and `Write` using `ref`parameter methods. The benchmark is part of https://github.com/DotNetCross/Memory.Unsafe version 0.2.2.0.

The results are:

[code]
          Method | Platform |       Jit |     Median |    StdDev |
---------------- |--------- |---------- |----------- |---------- |
   ReadFromStack |      X64 | L

[2016-03-08 12:38] nietras commented on #3539
Secondly, I have made a version using both `out` and `ref` so the inner loop for the transform merge Bgr becomes:
[code]
The perf does improve to (for RyuJIT again and with the other times included):

Method|Average loop time
--------- | ---------------------:
Tranform MergeBgr|10.352 ms
Specific MergeBgr|1.264 ms
Tranform Out+Ref MergeBgr|7.445 ms

### Transform Out+Ref MergeBgr x64 assembly for

[2016-03-08 12:51] stephentoub commented on #2728
CscBench failed here, though it looks like with a different failure:
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/checked_ubuntu_tst_prtest/908/consoleFull
[code]

[2016-03-08 12:56] stephentoub commented on #3338
https://github.com/dotnet/apireviews/blob/master/2015-07-14-securestring/README.md

[2016-03-08 13:02] nietras commented on #3539
Sorry I made a mistak in the `MergeBgrFunc` so the actual assembly e.g. for the `Ref`version is:
[code]
This just meant the perf was `8.632 ms` so still pretty bad compared to the specific loop.

This with the `MergeBgrFunc` being:
[code]

[2016-03-08 14:14] #2731 closed

[2016-03-08 14:18] mikedn commented on #3539
I haven't had time to look at all this more closely but even with `ref` and `out` you still have a copy in `ByBGR`. Now that's a case against immutability. Directly setting the fields of `Invoke`'s `bgr` parameter would probably avoid the issue.

[2016-03-08 14:30] gkhanna79 commented on #3559
CC @weshaggard

[2016-03-08 14:42] gkhanna79 opened #3582 "Arm64 Build Failure"
@mmitche I see the following error in latest commit from @kyulee1 (http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/arm64_cross_release_windows_nt/486/console):

06:35:01 Connection failed
06:35:02 Traceback (most recent call last):
06:35:02   File "C:\users\dotnet-bot\arm64\parser.py", line 5, in <module>
06:35:02     with open(sys.argv[1]) as file_handle:
06:35:02 IOError: [Errno 2] No such

[2016-03-08 14:59] gkhanna79 opened #3583 "mscorlib.dll is not delay signed"
Doing sn -v against one built in the open fails.

As part of fixing this, please also enable signing in the closed build.

[2016-03-08 15:00] gkhanna79 commented on #3583
CC @weshaggard @AlexGhiondea

[2016-03-08 15:10] gkhanna79 commented on #1934
OSX build has been fixed as well and all open builds are generating nuget packages that contain mscorlib.ni.dll.

Closing this issue now.

[2016-03-08 15:10] #1934 closed

[2016-03-08 15:13] mmitche commented on #3582
@jashook Looks like your stuff.

[2016-03-08 15:49] AndyAyersMS commented on #2728
Yes, this is failing pretty often on Ubuntu now, and with a different failure mode than the one that led to the previous stretch of exclusion.

[2016-03-08 16:00] jashook commented on #3582
Reset the system, testing to make sure it is functioning correctly. Looks like the connection dropped between the arm64 machines for some reason. Will investigate further.

[2016-03-08 16:37] janvorli opened #3584 "GC stack walking issue during exception from finally"
There is a problem in the stack walker on Unix when it is scanning stack at the same time when exception thrown from nested finallys is being processed. The problem is that the code that handles cases when a funclet frame that was already removed from the stack due to native frames unwinding works for catch funclets only and not for finally ones. The problems is that the source of evidence about t

[2016-03-08 16:37] janvorli commented on #2728
There is an issue in the GC stack scanning that might be related (#3584). The problem happens when an exception is thrown from nested finallys, there are objects on the stack of the parent of the finally and GC is triggered while the exception is being processed. The issue causes some stack objects not being reported as alive.
I am almost done fixing it, so we'll see.

[2016-03-08 16:39] jkotas commented on #3580
It would be more appropriate for this tool to live in its own repo.

[2016-03-08 16:40] jkotas commented on #3581
cc @kyulee1 @mellinoe

[2016-03-08 16:42] RussKeldorph commented on #2728
I'm also seeing failures on Windows that seem to have started around midnight PST.

Examples:
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/x64_checked_windows_nt_jitstress2_jitstressregs2/21/testReport/
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/x64_checked_windows_nt_jitstress2_jitstressregs0x80/19/testReport/

[2016-03-08 16:46] jkotas opened #3585 "`CORINFO_EH_CLAUSE.TryLength` is not always try length"
`CORINFO_EH_CLAUSE.TryLength` means try length in one context, and try end offset in other context - see https://github.com/dotnet/coreclr/blob/master/src/vm/jitinterface.cpp#L11328:
`pEHClause->TryEndPC = clause->TryLength;`

This should be fixed by either always using the TryLength field for try length, or by introducing a second EH clause structure on JIT-EE interface that has TryEndOffset inst

[2016-03-08 16:47] AndyAyersMS commented on #2728
The new stress failures are a different issue -- an assert I just introduced. Set up a new issue for it and assign to me.

[2016-03-08 17:01] RussKeldorph opened #3586 "Assertion failed 'inlIsPrejitRoot' in 'Microsoft.CodeAnalysis.CSharp.Symbols.SourceMemberContainerTypeSymbol:AddNonTypeMembers(ref,struct,ref):this' (IL size 1484)"
Assertion failed 'inlIsPrejitRoot' in 'Microsoft.CodeAnalysis.CSharp.Symbols.SourceMemberContainerTypeSymbol:AddNonTypeMembers(ref,struct,ref):this' (IL size 1484)

Examples:
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/x64_checked_windows_nt_jitstress2_jitstressregs2/21/testReport/
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/x64_checked_windows_nt_jitstress2_jitstressregs0x80/19/

[2016-03-08 17:01] RussKeldorph commented on #2728
@AndyAyersMS Create #3586 for stress failures.

[2016-03-08 17:06] AndyAyersMS commented on #2728
Thanks. I can repro, should be quick to fix.

[2016-03-08 17:34] AndyAyersMS commented on #3586
The inliner may see repeated `CALLSITE_TOO_MANY_LOCALS` observations while in a failing state. The observation comes from `lvaGrabTemp`, which has no mechanism for propagating inlining failure upwards.

The fix is to tolerate repeated instances of this observation.

[2016-03-08 18:11] gkhanna79 opened #3591 "Dotnet compile-csc is failing on Ubuntu"
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/debug_ubuntu/1011/consoleFull#76848974101778894-4bed-4f57-a720-6efd01df0c42

CC @jaredpar @piotrpMSFT

[2016-03-08 18:13] #3566 closed

[2016-03-08 18:19] jaredpar commented on #3591
The error in listed as the following:

[code]

How is this a Roslyn issue?

[2016-03-08 18:23] gkhanna79 commented on #3591
@jaredpar I am not saying that is a Roslyn issue - I saw dotnet compile-csc failure and requested you to triage it. Actual issue appears to be the following:

09:34:22 log  : Installing Microsoft.DotNet.BuildTools 1.0.25-prerelease-00177.
09:34:23 error: Microsoft.DotNet.BuildTools 1.0.25-prerelease-00177 is not compatible with DNXCore,Version=v5.0.
09:34:23 error: Some packages are not compatible

[2016-03-08 18:23] mikem8361 commented on #3287
@krytarowski, @janvorli, it looks the NetBSD’s C++ runtime isn’t allowing the throw of a PAL_SEHException to be catch by the try/catch (which are wrapped in the PAL_TRY/PAL_EXCEPT/etc. macros) in the dlltest1/dlltest2 test code. In the dlltest1.cpp.i file I don’t actually see the “try”, “catch”.  The CatchHardwareExceptionHolder count was non-zero (the reason the SEHProcessException code is throwi

[2016-03-08 18:25] piotrpMSFT commented on #3412
@brthor, can you take a quick look?

[2016-03-08 18:34] janvorli commented on #3287
@mikem8361 - I think you may have missed the the try / catches in there, since they are all in one line. I have reformatted the code here so that it is visible well:
[code]

[2016-03-08 18:51] nietras commented on #3539
@mikedn

Yes, it's a lot :)

An argument against that immutability should be a problem is that the specific loop still uses the immutable type with no perf problem e.g.:
[code]
so that can't be the problem.

If I understand correctly you are suggesting changing the func to something like:
[code]
The problem is as far as I can tell this is simply not possible in a generic way. This requires `ref` r

[2016-03-08 18:59] CarolEidt commented on #3539
Like @mikedn I have not had time to take a look at this closely, but from what I can glean with a quick look, I believe that this case is highlighting the limitations that the JIT currently has with regard to the handling of struct (value) types. Copies are made to/from arguments and returns, and then are not eliminated during inlining or downstream. This is something I hope to be able to improve

[2016-03-08 19:08] mikem8361 commented on #3287
@krytarowski, @janvorli. Thanks.  I see them now.  But I don’t understand why on NetBSD they don’t catch the PAL_SEHException that is thrown. Your suggestion of looking at the mach exception hijacking may not help. On OSX that code sets up the fautling thread from the exception thread to end up in the same SEHProcessException code that throws the software exception.

[2016-03-08 19:09] nietras commented on #3539
@CarolEidt ok yes it certainly look like there are some rather serious (from a perf) perspective with value types. Would an example project help you with this work?

Or perhaps even some tests (via a pull request) added directly to the `coreclr` project if such tests are applicable? Have no idea how you test/structure this work in `coreclr`.

As you can probably tell, this work is quite important

[2016-03-08 19:17] brthor commented on #3412
Interestingly, the exception here is not in dotnet, or in our host, it's in the client app.

There are two issues here.
The first is that Newtonsoft.Json does not specify any of it's dependencies for .net Core. I've run into this before and they won't be changing this until after rc2.

https://github.com/JamesNK/Newtonsoft.Json/issues/618#issuecomment-186441534

So the solution there is to keep ad

[2016-03-08 19:17] CarolEidt commented on #3539
@nietras Yes, an example project would be helpful - especially one that can be used for benchmarking. The current benchmarks we use for perf analysis are in tests/src/JIT/Performance/CodeQuality; that would be a great place to add new benchmarks. They just need to report their perf result. @chuck-mitchell is currently working on the analysis, but in the past (i.e. desktop perf analysis) the analys

[2016-03-08 19:47] #2711 closed

[2016-03-08 19:47] wtgodbe commented on #2713
This has been fixed by https://github.com/dotnet/coreclr/pull/3469

[2016-03-08 19:47] #2713 closed

[2016-03-08 19:53] janvorli commented on #3287
@mikem8361 As I've said to @krytarowski, the problem is most likely that the exception unwinding cannot unwind stack across the signal handler trampoline. As you can see from the stack dumps, the frames displayed by the GDB after the sigsegv_handler frame don't make sense, so the GDB itself is not able to cross the signal trampoline either.
That's why I've suggested that we will need to do that in

[2016-03-08 19:58] joperezr commented on #3583
This is actually expected. `sn -v` is expected to fail because of the way we do strong name signing in the open. Since we don't have access to the private keys, all we do is to delay sign the binaries and flip a header bit saying it's strong name signed even though it's not. Only the build lab can actually fully strong name sign the assemblies. If you run `sn -Tp` instead on the mscorlib assembly

[2016-03-08 20:00] joperezr commented on #3583
And just to clarify, that means that mscorlib is correctly delay signed, and that `sn -v` failing doesn't mean otherwise, simply that strong name verification is not done since assembly is not fully signed.

[2016-03-08 20:46] ellismg commented on #3591
@dagood This failed once during restore but has passed since then.  Have you seen intermittent tool runtime restore failures like this before?

[2016-03-08 21:00] #3586 closed

[2016-03-08 21:13] dagood commented on #3591
I haven't seen it, but I don't restore on Ubuntu often. I agree with @gkhanna79 that the best place to look would be that failed compile, since it fails the publish that I believe would otherwise be copying corerun into the tools dir. (And failing to find corerun is an error later in the log.)

Understanding "Exit Code 139" would be a good start. I wasn't able to find any info on that with a quick

[2016-03-08 21:24] brthor commented on #3412
[code]

I think this issue should be investigated in CoreCLR, whatever is printing the exception the app is throwing is failing.

@ellismg Could you redirect this appropriately?

[2016-03-08 21:35] tijoytom opened #3593 "ICastable test failure on non-windows"
ICastable  tests seem to fail on non-windows platform , ICastable is important for cross platform interop scenarios. This could well be a test issue.

[2016-03-08 23:35] CarolEidt opened #3596 "RyuJIT x86: Attempt to spill a returned floating point local that has no frame location"
The following tests are getting this assert:
Assert failure(PID 15804 [0x00003dbc], Thread: 10700 [0x29cc]): Assertion failed 'varDsc->lvIsParam && !varDsc->lvIsRegArg'
File: d:\git\coreclr\src\jit\compiler.hpp Line: 2284

JIT\Directed\cmov\Double_And_Op_cs_do\Double_And_Op_cs_do.cmd
in 'testout1:Sub_Funclet_335():double' (IL size 766)
JIT\Directed\cmov\Double_Or_Op_cs_do\Double_Or_Op_cs_do.cmd
in

[2016-03-08 23:47] krytarowski commented on #3287
I asked @jsonn, and he confirmed that so far we have no support for unwinding this stack.

To my understanding (I may be incorrect) to add support in for it in NetBSD, we need to add `__register_frame` in libc(3).

For the current stable release (7.0) I will try with the path recommended by @janvorli

[2016-03-09 00:13] CarolEidt opened #3597 "RyuJIT x86: GC encoding expects EITHER lvRegister OR lvOnFrame"
This assert:
Assert failure(PID 9500 [0x0000251c], Thread: 15184 [0x3b50]): Assertion failed 'varDsc->lvRefCnt == 0'
File: d:\git\coreclr\src\jit\gcencode.cpp Line: 1788

Is hit by this test:
JIT\Performance\CodeQuality\Serialization\Serialize\Serialize.cmd
in 'System.Xml.XmlUTF8NodeWriter:SetOutput(ref,bool,ref):this' (IL size 42)

This is happening in this code from `GCInfo::gcMakeRegPtrTable()`

[2016-03-09 01:21] #3517 closed

[2016-03-09 01:56] jasonwilliams200OK commented on #3591
I think this is a segmentation fault in dotnetcli or corerun (SIGSEGV, code 11 actually if we get the last-error from shell --> 139 - 128 (8-bit) = 11). Similar thing happened in corerun here: https://github.com/dotnet/corefx/pull/6716#issuecomment-193388192

[2016-03-09 02:32] erozenfeld opened #3600 "ReadyToRun: StackOverflow when crossgen-ing JIT\jit64\opt\cse\hugeexpr1\hugeexpr1.exe"
Test: JIT\jit64\opt\cse\hugeexpr1\hugeexpr1.exe

Repro steps:
Git commit hash: c89bf3f87b0d8df4865bd9b50ad8ef14c2655d39

E:\coreclr>rd /s/q E:\coreclr\bin\tests
E:\coreclr>build checked skiptests
E:\coreclr>tests\buildtest.cmd checked crossgen
E:\coreclr>tests\runtest.cmd checked

StackOverflow happens in
 	crossgen.exe!Compiler::fgDfsInvPostOrderHelper(BasicBlock * block, unsigned __int64 * & vis

[2016-03-09 02:37] erozenfeld opened #3601 "ReadyToRun: Assertion failed 'emitPrologIG == emitCurIG' when crossgen-ing Regressions\common\AboveStackLimit.exe"
Test: Regressions\common\AboveStackLimit.exe

Repro steps:
Git commit hash:  c89bf3f

E:\coreclr>rd /s/q E:\coreclr\bin\tests
E:\coreclr>build checked skiptests
E:\coreclr>tests\buildtest.cmd checked crossgen
E:\coreclr>tests\runtest.cmd checked

Assert failure(PID 37332 [0x000091d4], Thread: 25980 [0x657c]): Assertion failed 'emitPrologIG == emitCurIG' in 'Test:Main():int' (IL size 48286)

[2016-03-09 02:40] erozenfeld opened #3604 "ReadyToRun: JIT\jit64\regress\vsw\543645\test fails"
Test: JIT\jit64\regress\vsw\543645\test

Repro steps:
 Git commit hash:  c89bf3f

E:\coreclr>rd /s/q E:\coreclr\bin\tests
E:\coreclr>build checked skiptests
E:\coreclr>tests\buildtest.cmd checked crossgen
E:\coreclr>tests\runtest.cmd checked

BEGIN EXECUTION
Microsoft (R) CoreCLR Native Image Generator - Version 4.5.22220.0
Copyright (c) Microsoft Corporation.  All rights reserved.

Native image E

[2016-03-09 02:43] erozenfeld opened #3605 "ReadyToRun: JIT\Regression\CLR-x86-JIT\dev10\b393481\b393481\b393481.exe fails"
Test: JIT\Regression\CLR-x86-JIT\dev10\b393481\b393481\b393481.exe

Repro steps:
 Git commit hash:  c89bf3f

E:\coreclr>rd /s/q E:\coreclr\bin\tests
E:\coreclr>build checked skiptests
E:\coreclr>tests\buildtest.cmd checked crossgen
E:\coreclr>tests\runtest.cmd checked

Error: Could not load file or assembly 'System.Diagnostics.Debug, Version=4.0.11.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a

[2016-03-09 02:45] erozenfeld opened #3606 "ReadyToRun: NullReferenceException in superlong tests"
Tests:
JIT\Methodical\int64\superlong\_dbgsuperlong\_dbgsuperlong.cmd
JIT\Methodical\int64\superlong\_relsuperlong\_relsuperlong.cmd
JIT\Methodical\int64\superlong\_il_relsuperlong\_il_relsuperlong.cmd
JIT\Methodical\int64\superlong\_il_dbgsuperlong\_il_dbgsuperlong.cmd

Repro steps:
 Git commit hash:  c89bf3f

E:\coreclr>rd /s/q E:\coreclr\bin\tests
E:\coreclr>build checked skiptests
E:\coreclr>t

[2016-03-09 02:47] erozenfeld opened #3607 "ReadyToRun: JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b70335\b70335\b70335.exe fails"
Test:
 JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b70335\b70335\b70335.exe

Repro steps:
 Git commit hash:  c89bf3f

E:\coreclr>rd /s/q E:\coreclr\bin\tests
 E:\coreclr>build checked skiptests
 E:\coreclr>tests\buildtest.cmd checked crossgen
 E:\coreclr>tests\runtest.cmd checked

BEGIN EXECUTION
Microsoft (R) CoreCLR Native Image Generator - Version 4.5.22220.0
Copyright (c) Microsoft Corporation.  A

[2016-03-09 02:52] erozenfeld opened #3608 "ReadyToRun: StackOverflowException in JIT\Regression\JitBlue\devdiv_902271\DevDiv_902271\DevDiv_902271.exe"
Test:
JIT\Regression\JitBlue\devdiv_902271\DevDiv_902271\DevDiv_902271.exe

Repro steps:
Git commit hash:  c89bf3f

E:\coreclr>rd /s/q E:\coreclr\bin\tests
E:\coreclr>build checked skiptests
E:\coreclr>tests\buildtest.cmd checked crossgen
E:\coreclr>tests\runtest.cmd checked

BEGIN EXECUTION
Microsoft (R) CoreCLR Native Image Generator - Version 4.5.22220.0
Copyright (c) Microsoft Corporation.  Al

[2016-03-09 02:57] erozenfeld opened #3609 "ReadyToRun: StackOverflowException in JIT\Directed\tailcall\tailcall\tailcall.exe"
Test:
 JIT\Directed\tailcall\tailcall\tailcall.exe

Repro steps:
 Git commit hash:  c89bf3f

E:\coreclr>rd /s/q E:\coreclr\bin\tests
E:\coreclr>build checked skiptests
E:\coreclr>tests\buildtest.cmd checked crossgen
E:\coreclr>tests\runtest.cmd checked

BEGIN EXECUTION
 "E:\coreclr\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\corerun.exe" tailcall.exe
Test Start

Process is terminated due to S

[2016-03-09 02:59] erozenfeld opened #3610 "ReadyToRun: StackOverflowException in JIT\jit64\regress\vsw\546707\sql_stress4\sql_stress4.exe"
Test:
 JIT\jit64\regress\vsw\546707\sql_stress4\sql_stress4.exe

Repro steps:
 Git commit hash:  c89bf3f

E:\coreclr>rd /s/q E:\coreclr\bin\tests
E:\coreclr>build checked skiptests
E:\coreclr>tests\buildtest.cmd checked crossgen
E:\coreclr>tests\runtest.cmd checked

BEGIN EXECUTION
 "E:\coreclr\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root\corerun.exe" sql_stress4.exe

Process is terminated due

[2016-03-09 03:02] erozenfeld opened #3611 "ReadyToRun: System.OverflowException in 3 tests under JIT\Regression\CLR-x86-JIT"
Tests:
JIT\Regression\CLR-x86-JIT\V1.2-Beta1\b223936\b223936\b223936.exe
JIT\Regression\CLR-x86-JIT\V1-M09.5-PDC\b31273\b31273\b31273.exe
JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b68028\b68028\b68028.exe

Repro steps:
 Git commit hash:  c89bf3f

E:\coreclr>rd /s/q E:\coreclr\bin\tests
 E:\coreclr>build checked skiptests
 E:\coreclr>tests\buildtest.cmd checked crossgen
 E:\coreclr>tests\runtest.cmd

[2016-03-09 03:12] erozenfeld opened #3612 "ReadyToRun: 7 test failures under JIT\Regression\CLR-x86-JIT with C0000005 result"
Tests:
JIT\Regression\CLR-x86-JIT\V1-M09.5-PDC\b13522\b13522\b13522.exe
JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b53958\b53958\b53958.exe
JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b57516\b57516\b57516.exe
JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b65087\b65087\b65087.exe
JIT\Regression\CLR-x86-JIT\V1-M09.5-PDC\b12274\b12274\b12274.exe
JIT\Regression\CLR-x86-JIT\V1-M11-Beta1\b43714\b43714\b43714.exe
JIT

[2016-03-09 03:15] erozenfeld opened #3613 "ReadyToRun:4 test failures under JIT\Regression\CLR-x86-JIT with FF result"
Tests:
JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b66226\b66226\b66226.exe
JIT\Regression\CLR-x86-JIT\V1-M11-Beta1\b44204\b44204\b44204.exe
JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b70994\b70994\b70994.exe
JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b75944\b75944\b75944.exe

Repro steps:
 Git commit hash:  c89bf3f

E:\coreclr>rd /s/q E:\coreclr\bin\tests
E:\coreclr>build checked skiptests
E:\coreclr>tests

[2016-03-09 03:17] erozenfeld opened #3614 "ReadyToRun: JIT\Regression\CLR-x86-JIT\V1-M09.5-PDC\b25815\b25815\b25815.exe fails"
Test:
 JIT\Regression\CLR-x86-JIT\V1-M09.5-PDC\b25815\b25815\b25815.exe

Repro steps:
Git commit hash:  c89bf3f

E:\coreclr>rd /s/q E:\coreclr\bin\tests
E:\coreclr>build checked skiptests
E:\coreclr>tests\buildtest.cmd checked crossgen
E:\coreclr>tests\runtest.cmd checked

BEGIN EXECUTION
Microsoft (R) CoreCLR Native Image Generator - Version 4.5.22220.0
Copyright (c) Microsoft Corporation.  All r

[2016-03-09 03:20] erozenfeld opened #3615 "ReadyToRun: JIT\Regression\CLR-x86-JIT\V1-M09.5-PDC\b18852\b18852\b18852.exe fails"
Test:
 JIT\Regression\CLR-x86-JIT\V1-M09.5-PDC\b18852\b18852\b18852.exe

Repro steps:
 Git commit hash:  c89bf3f

E:\coreclr>rd /s/q E:\coreclr\bin\tests
E:\coreclr>build checked skiptests
E:\coreclr>tests\buildtest.cmd checked crossgen
E:\coreclr>tests\runtest.cmd checked

BEGIN EXECUTION
Microsoft (R) CoreCLR Native Image Generator - Version 4.5.22220.0
Copyright (c) Microsoft Corporation.  All

[2016-03-09 03:22] erozenfeld opened #3616 "ReadyToRun: 3 test failures under JIT\IL_Conformance\Old\Base with FF result"
Tests:
JIT\IL_Conformance\Old\Base\conv_ovf\conv_ovf.exe
JIT\IL_Conformance\Old\Base\mul_ovf\mul_ovf.exe
JIT\IL_Conformance\Old\Base\ckfinite\ckfinite.exe

Repro steps:
 Git commit hash:  c89bf3f

E:\coreclr>rd /s/q E:\coreclr\bin\tests
E:\coreclr>build checked skiptests
E:\coreclr>tests\buildtest.cmd checked crossgen
E:\coreclr>tests\runtest.cmd checked

Output for the first of these tests:

BEGI

[2016-03-09 03:25] erozenfeld opened #3617 "ReadyToRun: JIT\IL_Conformance\Old\Base\sub_ovf\sub_ovf.exe fails with C0000005 result"
Test:
 JIT\IL_Conformance\Old\Base\sub_ovf\sub_ovf.exe

Repro steps:
 Git commit hash:  c89bf3f

E:\coreclr>rd /s/q E:\coreclr\bin\tests
E:\coreclr>build checked skiptests
E:\coreclr>tests\buildtest.cmd checked crossgen
E:\coreclr>tests\runtest.cmd checked

BEGIN EXECUTION
Microsoft (R) CoreCLR Native Image Generator - Version 4.5.22220.0
Copyright (c) Microsoft Corporation.  All rights reserved.

[2016-03-09 03:27] erozenfeld opened #3618 "ReadyToRun: Assertion failed 'nextLinearNode != nullptr' when crossgen-ing 3 tests"
Tests:
JIT\Directed\StrAccess\straccess2_cs_ro\straccess2_cs_ro.exe
JIT\Directed\StrAccess\straccess2_cs_do\straccess2_cs_do.exe
JIT\Regression\CLR-x86-JIT\V1.1-M1-Beta1\b140711\b140711\b140711.exe

Repro steps:
 Git commit hash:  c89bf3f

E:\coreclr>rd /s/q E:\coreclr\bin\tests
E:\coreclr>build checked skiptests
E:\coreclr>tests\buildtest.cmd checked crossgen
E:\coreclr>tests\runtest.cmd checked

[2016-03-09 03:29] erozenfeld opened #3619 "ReadyToRun: JIT\Methodical\tailcall_v4\hijacking\hijacking.exe fails with 0x65 result"
Test:
 JIT\Methodical\tailcall_v4\hijacking\hijacking.exe

Repro steps:
 Git commit hash:  c89bf3f

E:\coreclr>rd /s/q E:\coreclr\bin\tests
E:\coreclr>build checked skiptests
E:\coreclr>tests\buildtest.cmd checked crossgen
E:\coreclr>tests\runtest.cmd checked

BEGIN EXECUTION
Microsoft (R) CoreCLR Native Image Generator - Version 4.5.22220.0
Copyright (c) Microsoft Corporation.  All rights reserve

[2016-03-09 03:38] erozenfeld opened #3620 "nidump fails on ReadyToRun images"
Internal nidump.exe tool currently fails on ReadyToRun images:

nidump.exe /disassemble /noversioncheck E:\coreclr\bin\tests\Windows_NT.x64.Checked\readytorun\mainv1\mainv1.exe
Loaded file E:\coreclr\bin\tests\Windows_NT.x64.Checked\readytorun\mainv1\mainv1.exe

Assert failure(PID 12044 [0x00002f0c], Thread: 30208 [0x7600]): Precondition failure: FAILED: HasNativeHeader()
         FAILED: CheckNat

[2016-03-09 04:33] krytarowski commented on #3287
I was debugging it with help from Christos Zoulas (christos / netbsd.org).

It seems that the trick to switch context and throw from EH is to go for the following patch:

[code]

However it still requires stack restoration.

[code]

@janvorli have you got pointers how to continue? Some LLVM libunwind usage?

Thanks!

[2016-03-09 04:37] krytarowski commented on #3287
Another question:

[code]

In the above function we are saving pointer to a stack object (`CONTEXT context`). Will be that garbage after calling other function? If not, why?

[2016-03-09 04:44] krytarowski commented on #3287
Could be that logic rewritten with `kqueue`(2) or `sigwait`(2) -- the current approach looks very fragile.

I was told that mixing EH and program context leads to dangerous situations like calling non-signal-safe functions may leave program in unpredictable state (like `malloc`(3) or `printf`(3)).

(Actually I'm not volunteering this redesign myself, since CoreFX support remaining bugs on NetBSD a

[2016-03-09 10:13] janvorli commented on #3287
@krytarowski To implement it like we do on the OSX, it would be more involved than this. We would need to create a fake frame on the stack that would contain the context and exception record and allow the unwinder to keep the stack walkable from the exception handler to the actual code with the exception. Basically, it is a stack frame that has its return address on stack set to the SEHProcessExce

[2016-03-09 10:19] #3550 closed

[2016-03-09 10:20] janvorli commented on #3550
Fixed by #3588

[2016-03-09 10:21] janvorli commented on #3584
Fixed by #3595

[2016-03-09 10:21] #3584 closed

[2016-03-09 11:57] krytarowski commented on #3287
Thank you for your feedback! I need to process it and try to produce a working solution,

[2016-03-09 17:03] JosephTremoulet commented on #3585
This is one of a few fields with bogus names/types in the EH clauses passed in `allocUnwindInfo`.  Here's the struct as actually treated across that part of the interface:

[code]

[2016-03-09 18:14] swgillespie opened #3622 "Create long-running GC test CI job"
Since a lot of our GC tests take a long time to run and require some initial setup (e.g. turning off memory overcommit on Linux/OSX to avoid OOM killer problems). It would be nice to get this as an on-demand CI build that we can trigger from PRs. This can be done in several parts, I think:

1. [x] Edit `netci.groovy` to provide a "GC Long-running tests" build and wire it up to get triggered from G

[2016-03-09 18:14] swgillespie commented on #3622
cc @sergiy-k

[2016-03-09 18:17] swgillespie commented on #3622
related: #3392

[2016-03-09 19:18] LLITCHEV commented on #3600
Known issue. @briansull is looking into it.

[2016-03-09 19:28] jaredpar opened #3623 "Runtime crash in decimal.ToString"
From a customer reported issue.  The following, contrived, `decimal` instance will cause a runtime crash when invoking the `ToString` method:

[code]

[2016-03-09 21:37] cmckinsey commented on #3623
Fails in NumberToString in the VM calling DoJITFailFast()

[2016-03-09 21:39] AndyAyersMS commented on #3371
This is basically done, as of #3574. Still some further cleanup to do, but it should be straightforward.

[2016-03-09 21:39] #3371 closed

[2016-03-09 22:02] janvorli commented on #3623
Let me take a look.

[2016-03-09 22:23] janvorli commented on #3623
I've discovered that it crashes in desktop CLR as well.

[2016-03-09 22:33] janvorli commented on #3623
In the CoreCLR, the bug is in the NumberToString or the FormatGeneral function. When the former calls the latter with the bSuppressScientific argument set to TRUE, the latter it doesn't try to limit the number of generated digits in any way and generates as many digits as the number->scale specifies, not taking into the account the nMaxDigits parameter. But the NumberToString reserves a buffer tha

[2016-03-09 23:00] janvorli commented on #3623
Looking at the MSDN doc, the allowed values of the number->scale are 0..28, so the bug is that the NumberToString doesn't check it. It is not possible to construct such invalid numer using any of the decimal constructors (attempt to use constructor Decimal(0, 0, 0, false, 255) results in System.ArgumentOutOfRangeException). But when it is set via reflection, there is obviously no check and so the

[2016-03-09 23:10] wtgodbe opened #3627 "ThreadStartString_01 fails on non-windows"
src/tests/baseservices/threading/paramthreadstart/ThreadStartString_01

[2016-03-09 23:27] LLITCHEV commented on #3613
This looks like a VM exception handler issue.
This happens only for
JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b66226\b66226\b66226.exe
 JIT\Regression\CLR-x86-JIT\V1-M11-Beta1\b44204\b44204\b44204.exe

The other passed.
It fails on the ngened and non ngened executable with the following exception/stack trace.
**** MessageBox invoked, title 'CoreRun.exe - Assert Failure (PID 15880, Thread 10424/0x28b

[2016-03-09 23:41] janvorli commented on #3623
Actually, it is not just a problem of formatting. If I replace the `var s = o.ToString();` by e.g. `var d2 = (decimal)o + 1;`, it still crashes, obviously at a different place.
So it seems that we need to add validity check of the scale to all FCalls in the coreclr that have decimal arguments.

[2016-03-09 23:43] janvorli commented on #3623
So I would add the check below to all such places. I've verified that it fixes the crash with in the sample code at the beginning of this github issue.
[code]
@jkotas do you see any potential pitfalls with that?

[2016-03-10 00:07] LLITCHEV commented on #3604
This looks like an issue having to do with unwinding exceptions in ReadyToRun.
It looks like the Jit is calling correctly the overflow throw handler.
Here is the stack that leads to the crash...

 	coreclr.dll!RaiseTheExceptionInternalOnly(OBJECTREF throwable, int rethrow, int fForStackOverflow) Line 3114	C++
 	coreclr.dll!UnwindAndContinueRethrowHelperAfterCatch(Frame * pEntryFrame, Exception * p

[2016-03-10 00:35] krytarowski commented on #3287
Surprisingly I think the easiest solution is to write a kernel module to unwind the stack for the process.. I'm researching the kernel internals for `sendsig_siginfo`().

[2016-03-10 00:47] janvorli commented on #3287
I'm not sure if a kernel module would be the best solution here. I'm not sure how that is viewed in the NetBSD world, but as far as I've understood on Linux, installing a kernel module is considered tainting the kernel.

[2016-03-10 00:54] krytarowski commented on #3287
In the Linux world tainting the kernel is inserting a module with not a GPL (or few other GPL-compatible alternatives) license.

The shortcoming is that there is need to be a superuser to insert it. It's not trivial for my current knowledge on unwinding on AMD64, it takes time. Thank you for your support!

[2016-03-10 01:06] LLITCHEV commented on #3601
It seems while crossgen-ing we exceed the funclet prolog instruction group size.
When jitting...
      G_M43043_IG406:        ; offs=032EA5H, funclet=00
*************** In genFuncletProlog()
IN5cca:        push     rbp
IN5ccb:        push     r15
IN5ccc:        push     r14
IN5ccd:        push     r13
IN5cce:        push     r12
IN5ccf:        push     rdi
IN5cd0:        push     rsi
IN5cd1:

[2016-03-10 02:46] jamesqo opened #3633 "Optimizing "constant_string".Length"
Lots of times for readability I use `"constant_string".Length` instead of `15` in my code. For example:

[code]

It would be nice if RyuJIT could optimize this as a JIT-time constant, so a string wouldn't have to actually be loaded and called `Length` on.

[2016-03-10 04:28] LLITCHEV commented on #3606
This look like a duplicate of issue #3613 .  At leas I see same stack traces and it is related to exception handling processing. If not, please reopen it.

[2016-03-10 04:28] #3606 closed

[2016-03-10 04:34] LLITCHEV commented on #3607
This looks like a duplicate of issue #3613

[2016-03-10 04:34] #3607 closed

[2016-03-10 06:33] LLITCHEV commented on #3611
This looks like a duplicate of issue #3613

[2016-03-10 06:33] #3611 closed

[2016-03-10 06:43] LLITCHEV commented on #3612
This seems to be a duplicate of #3613 .

[2016-03-10 06:43] #3612 closed

[2016-03-10 07:02] LLITCHEV commented on #3616
This looks like a dup of issue #3613 .

[2016-03-10 07:02] #3616 closed

[2016-03-10 07:06] LLITCHEV commented on #3617
This seems to be a duplicate of issue #3613 .

[2016-03-10 07:06] #3617 closed

[2016-03-10 12:50] ellismg commented on #3591
I agree with @jasonwilliams200OK.  Unfortunately we don't have a good way to get dumps from the CI system.  @gkhanna79 Do you know someone who might be able to follow up on trying to get this to repro locally?

[2016-03-10 14:04] #3463 closed

[2016-03-10 14:13] leemgs opened #3635 "About failure of "crossgen mscorlib.dll" command on Linux/ARM32 board"
Now, we can successfully get the `mscorlib.ni.dll` file from `mscorlib.dll` by running "`u14.04$> crossgen mscorlib.dll`" command on ubuntu x86 64bit PC. Anyone who tried to run "`arm32$> crossgen mscorlib.dll`" command on Linux/ARM32 board such as Raspberry Pi2 board and Linux/ARM emulator? In my case, I have been getting below error messages on my Linux/ARM reference board.

\cc @benpye , @jkota

[2016-03-10 15:07] gkhanna79 commented on #3591
@ellismg I am not aware of a process to get crash dumps from CI. Are you suggesting that the PR @jasonwilliams200OK  pointed to is the fix?

[2016-03-10 15:38] gkhanna79 opened #3636 "Relocate APISet dependency to NETCoreApp MetaPackage"
For RTM, we should move the APISet dependency from the CoreCLR nuget package to become a dependency of NETCoreApp metapackage since CoreCLR is no longer expected to rely on them and we need them for the FX pieces.

This will ensure the right dependencies are located correctly. for RC2, we keep things as-is.

[2016-03-10 15:38] gkhanna79 commented on #3636
CC @weshaggard

[2016-03-10 15:47] gkhanna79 commented on #1853
@fadimounir We should look into this for Vnext.

[2016-03-10 15:49] gkhanna79 commented on #1034
@sergiy-k Is this still outstanding?

[2016-03-10 16:28] joperezr commented on #3583
This is done and has been verified by @gkhanna79. If anybody wants to produce delay signed mscorlib, simply pass in the param `disableoss` to the build script.

[2016-03-10 16:28] #3583 closed

[2016-03-10 16:46] jkotas commented on #3635
This is again mismatch between managed and unmanaged bits. Looking at `pMD->m_pszDebugClassName` and `pMD->m_pszDebugMethodName` should give you clue what to look for.

[2016-03-10 18:10] erozenfeld commented on #3618
@LLITCHEV I believe the failure was masked by my change 8e069ce739232b43085e530556bf6b02832d8b5b Please use  c89bf3f   to repro.

[2016-03-10 20:10] sergiy-k commented on #1034
This should be fixed by https://github.com/dotnet/coreclr/pull/3218.

[2016-03-10 22:17] #1034 closed

[2016-03-10 22:20] noahfalk commented on #3544
Not sure if you saw the \\build presentation last spring, but yes the Visual studio guys are working in this area. Last I heard remote debugging will probably show up in the RC release of VS, not as certain if that release will cover remote deployment as well.

Separate from VS but potentially also interesting to you, there was an announcement earlier today about a pre-release version of VSCode th

[2016-03-10 23:00] gkhanna79 opened #3643 "Transition Repo for RTM"
- [x] Publish packages (tracked by this issue)
- [x] Publish symbol packages (tracked by #4321)
- [x] Enable Signing (tracked by #3019)
- [x] Enable Linux build definitions (tracked by this issue)
- [x] Enable versioning of binaries (tracked by #3559 and #3133)

[2016-03-10 23:36] LLITCHEV commented on #3618
Just a bit more information on this issue...
This is strictly a ReadyToRun issue.
When jitting for normal run the code looks like:
fgInsertEmbeddedFormTemp created store :
N006 (  3, 10) [005175] ------------                /--*  const(h)  long   0x80d76929d0 static Fseq[str2darr] $2d4
N007 (  5, 12) [004357] ----G-------             /--*  indir     ref    $782
     (  6, 13) [011633] DA--G-------

[2016-03-11 00:04] wtgodbe opened #3646 "coreclr/tests/src/baseservices/threading/generics/Monitor/TryEnter06.cs fails on Windows"
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/x64_release_windows_nt_pri1/342/

Added in https://github.com/dotnet/coreclr/pull/3497

@adityamandaleeka it looks like this was one of the tests added in your port, can you take a look?

[2016-03-11 00:20] wtgodbe opened #3648 "baseservices/exceptions/simple/HardwareEh.cs failing on Ubuntu"
This test was added in https://github.com/dotnet/coreclr/pull/3489. @rahku can you take a look?

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/x64_release_ubuntu_pri1_tst/lastCompletedBuild/testReport/baseservices.exceptions.simple/HardwareEh/HardwareEh/

[2016-03-11 00:40] joperezr opened #3649 "Move crossgen out from the tools dir and into the lib dir instead"
Currently, the CoreCLR package puts the crossgen program under the tools directory, and because of this dotnet publish won't copy it over to the runtime. The reason why we need it is because in corefx we want to ngen the runtime we use to build the repo. Is it posible to change the nuspec to have the crossgen program under lib?

related: dotnet/buildtools#487

cc: @JohnChen0 @weshaggard

[2016-03-11 01:01] rahku opened #3651 "test baseservices\exceptions\regressions\Dev11\147911 fails on release"
Test passes on debug but fails on release. This is probably due to linking against ucrt instead of msvcrt. Test passes when cpp file is compiled & linked against msvcrt120. Disabling the test for now as it requires more investigation.

[2016-03-11 01:37] rahku commented on #3648
Copying result from the above link
               BEGIN EXECUTION
               /mnt/j/workspace/dotnet_coreclr/x64_release_ubuntu_pri1_tst/bin/tests/Windows_NT.x64.Release/Tests/coreoverlay/corerun HardwareEh.exe
               Beginning test case Hardware exceptions: handled at 3/10/16 3:42:57 PM
               Random seed: 20010415; set environment variable CORECLR_SEED to this value to repro

[2016-03-11 01:40] rahku commented on #3648
This is a behavior difference between windows & non-windows. On Windows OutOfMemoryException thrown by managed code can be caught whereas on non-windows it goes unhandled.

[2016-03-11 01:41] rahku commented on #3648
@janvorli this looks like a product bug

[2016-03-11 01:41] rahku commented on #3648
FYI @gkhanna79

[2016-03-11 01:45] rahku commented on #3648
Here is test code
https://github.com/dotnet/coreclr/blob/master/tests/src/baseservices/exceptions/simple/HardwareEh.cs#L118

[2016-03-11 10:13] leemgs opened #3657 "Build break of calling convention __cdecl since appending of 'Interop' test folder"
Even though  __cdecl is accepted but typically ignored  on ARM and x64 processors by the compiler, the cross build for Linux/ARM is broken (while doing the build time) by the [-Werror,-Wignored-attributes] policy of the compiler.  This issue was suddenly generated since appending of 'Interop' test folder. Mr. @tijoytom, Could you explain us why we have to keep the __cdecl calling convention?.

/cc

[2016-03-11 10:20] leemgs commented on #3657
I have submitted PR to fix this issue.
https://github.com/dotnet/coreclr/pull/3656

[2016-03-11 15:29] gkhanna79 commented on #3649
I concur with @weshaggard. Please see how this is done in CLI since they endup carrying crossgen as part of the CLI distribution. @brthor maybe able to help you.

[2016-03-11 15:35] gkhanna79 commented on #3019
@jhendrixMSFT Should this be assigned to you?

[2016-03-11 16:32] schaabs opened #3660 "SIGSEGV_HEAPCORRUPT_Cast10!Verification.AllequalComparer[[System.Int64, mscorlib]]"
**The notes in this bug refer to the dump [projectk-23902-00-amd64ret_00C4](https://dotnetjobresults.blob.core.windows.net/projectk-23902-00-stress/205a2398-dc2e-44be-9125-57ca41f21391/stress/generated/09_01hr/projectk-23902-00-amd64ret_00C4/projectk-23902-00-amd64ret_00C4.csproj/projectk-23902-00-amd64ret_00C4.zip?sv=2015-04-05&sr=c&sig=6KxVqZbsAaAIyiRvWzyl0J%2FHK6%2FEVaQyb%2BqJDtORajg%3D&se=2017

[2016-03-11 17:35] joperezr commented on #3649
I guess we could do it how CLI does it but I don't really like [their approach](https://github.com/dotnet/cli/blob/88c1340f6d49bb8275df5a6f69f62ace54bd590e/scripts/dotnet-cli-build/CompileTargets.cs#L331) since basically what they do is to hardcode the location of the package that was restored and manually copy it from there into the runtime. I feel that this would work in most cases, but there wo

[2016-03-11 17:58] swgillespie commented on #3251
Fixed by #3252

[2016-03-11 17:58] #3251 closed

[2016-03-11 18:32] schaabs opened #3661 "SIGSEGV_HEAPCORRUPT_CollidedUnwind!CollidedUnwindTest.Bar"
**The notes in this bug refer to the dump [projectk-23907-00-amd64chk_005A](https://dotnetjobresults.blob.core.windows.net/projectk-23907-00-stress/3301cde5-c222-4b36-b5d7-78439bbdf1f5/stress/generated/07_02hr/projectk-23907-00-amd64chk_005A/projectk-23907-00-amd64chk_005A.csproj/projectk-23907-00-amd64chk_005A.zip?sv=2015-04-05&sr=c&sig=TUKChKMQxnFxn49F%2B8SOxcd%2B5Og5XYhyL8RMzQeIVSs%3D&se=2017-0

[2016-03-11 19:16] weshaggard commented on #3649
@davidfowl @anurse do you guys know of a good way to publish the "tools" directory from a package?We are trying to get the tools from some packages as we setup our toolset and so we essentially restore and publish on the set of packages but today we don't have a good way to get the assets out of the tools directory in the packages without hardcoding the package versions in the paths.

[2016-03-11 20:02] briansull opened #3663 "ARM64: GC Reporting problem causes A/V or assert"
To Repro, unset GCGen0size
set COMPLUS_GCgen0size=
%CORERUN%  JIT\Methodical\explicit\misc\_opt_dbgexplicit3\_opt_dbgexplicit3.exe

Additional tests that also fail:
JIT\Methodical\explicit\misc\_opt_dbgexplicit3\_opt_dbgexplicit3.exe
JIT\Methodical\explicit\misc\_opt_dbgexplicit1\_opt_dbgexplicit1.exe
JIT\Methodical\explicit\misc\_opt_dbgexplicit2\_opt_dbgexplicit2.exe
JIT\Methodical\explicit\misc

[2016-03-11 20:03] brthor commented on #3649
Unfortunately this hardcoding is necessary because crossgen lives in the "tools" directory of the package. There's no nuget support for that directory, and at that point the .nupkg needs to be treated like a zip file, extracting what we need with paths.

ilc.exe (CoreRT) gets around this by being placed in the "native" directory. Like you mentioned @weshaggard this does cause ilc.exe to get publis

[2016-03-11 20:12] rahku commented on #3649
this also affects coreclr helix runs. There are several tests which require crossgen to be copied to the runtime folder. But it does not get copied as crossgen is in tools dir. I was talking to @ericstj about this. He suggested that crossgen should be put in a separate package and should be removed from tools dir of runtime package.

[2016-03-11 20:14] briansull commented on #3663
Stack trace:
(257c.2044): Access violation - code c0000005 (first chance)
First chance exceptions are reported before any exception handling.
This exception may be expected and handled.
CoreCLR!MethodTable::GetFlag [inlined in CoreCLR!MethodTable::GetComponentSize]:
00007ffc`06d07a10 b9400008 ldr         w8,[x0]
0:000> k
 # Child-SP          RetAddr           Call Site
00 (Inline Function) -------

[2016-03-11 20:36] wtgodbe opened #3664 "JIT tests failing in CI"
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/x64_release_windows_nt_pri1/353/testReport/junit/JIT/_Methodical_MDArray_basics_classarr_cs_d_classarr_cs_d_/_Methodical_MDArray_basics_classarr_cs_d_classarr_cs_d_cmd/
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/x64_release_windows_nt_pri1/353/testReport/junit/JIT/_Methodical_int64_misc__il_relbinop__il_relbinop_/_Methodical_int64_misc

[2016-03-11 20:40] janvorli commented on #3660
This test was run with CoreCLR that doesn't include my change #3584 and the issue is very likely caused by that. I will try to repro it locally with both the bits from the crashdump package and my local build of the latest coreclr to confirm that.

[2016-03-11 20:40] briansull opened #3665 "ARM64: zeroInit tests regression"
The following two tests regressed after the update to the latest test build

init_int32.exe_773 :: JIT\Directed\zeroinit\init_int32\init_int32.exe
init_uint32.exe_776 :: JIT\Directed\zeroinit\init_uint32\init_uint32.exe

Running the test yields:
%CORERUN% JIT\Directed\zeroinit\init_uint32\init_uint32.exe
Error 113

[2016-03-11 20:54] briansull opened #3666 "ARM64: refany test regressions"
After updating to the new tests two refany test regressed

These appear to fail by branching to address 0 and don't have a stack trace
_il_dbgseq.exe_4054 :: JIT\Methodical\refany\_il_dbgseq\_il_dbgseq.exe
_il_relseq.exe_4066 ::  JIT\Methodical\refany\_il_relseq\_il_relseq.exe

[2016-03-11 20:55] jkotas commented on #3623
Changing private fields using reflection can lead to all sorts of crashes. We are not trying to protect against it.

In this particular case, I think it would make sense to add a check that prevents the buffer overrun - as a defense in depth. I would add it close to where the buffer is written to - check whether the buffer is big enough.

I do not think we should be adding scale checks to all deci

[2016-03-11 21:01] briansull opened #3667 "ARM64: Tests failing due to unexpected OverflowException"
After the test update these tests regressed and now fail with
Unhandled Exception: System.OverflowException: Arithmetic operation resulted in an overflow.

b43121.exe_4925 :: JIT\Regression\CLR-x86-JIT\V1-M11-Beta1\b43121\b43121\b43121.exe
b68045.exe_5200 ::  JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b68045\b68045\b68045.exe

[2016-03-11 21:04] janvorli commented on #3623
Ok, makes sense.

[2016-03-11 21:05] briansull opened #3668 "ARM64: NYI: Implement pseudo-instructions for large conditional branch"
The following test fails with this NYI assert
b28158.exe_5695 :: JIT\Regression\VS-ia64-JIT\V1.2-M02\b28158\b28158\b28158.exe

 Assertion failed 'NYI: "Implement pseudo-instructions for large conditional branch and large load label address"' in 'test:Main():int' (IL size 267733)

[2016-03-11 21:39] mikem8361 opened #3669 "Strip symbols on release builds into a separate binary"
Enabling the source/line info for release builds for internal and CSS dev support caused the coreclr nuget packages to bloat considerable. Fix this by stripping the symbols into a separate symbols binary.

For the Linux distros and FreeBSD (probably NetBSD too), this can be added to the build of the native binaries in coreclr:

objcopy --only-keep-debug $@ $@.dbg
objcopy --strip-unneeded $@
objcop

[2016-03-11 21:41] mikem8361 commented on #3669
There are still open questions about how to package the resulting symbol files in a way that can be easy installed side-by-side with the nuget ones.

[2016-03-11 21:49] weshaggard commented on #3649
Yes another crossgen package which contains the assets in a native folder would do the trick. @gkhanna79 is this something you think would work?

[2016-03-11 23:52] janvorli commented on #3661
This issue was fixed by my recent change #3584. I was able to repro it locally with the files from the crashdump package and replacing the coreclr with the latest build fixed the problem. To be really sure, I've synced my sources back before my fix, rebuilt and ran the test with the resulting binaries - it crashed soon.

[2016-03-11 23:52] #3661 closed

[2016-03-11 23:57] mikem8361 opened #3676 "Need SOS gcinfo and related options ported to xplat"
This seriously impacts our ability to investigate heap corruption failures from our stress runs and partner teams.

GCInfo           - this function is present but it doesn’t work, give error ‘AMD64Machine::DumpGCInfo not implemented’
clru -gcinfo   - currently the u function works but doesn’t recognize the -gcinfo switch
clrstack -gc   - this function is available and recognizes the -gc switch bu

[2016-03-12 00:30] janvorli commented on #3676
The clrstack -gc actually worked for me when live debugging something, so it segfaults just in some cases.

[2016-03-12 00:42] janvorli commented on #3660
I've verified it was fixed by my change.

[2016-03-12 00:42] #3660 closed

[2016-03-12 04:20] jkotas commented on #3619
Fixed by https://github.com/dotnet/coreclr/pull/3674

[2016-03-12 04:20] #3619 closed

[2016-03-12 05:17] RussKeldorph commented on #3664
The repro is very inconsistent.

[2016-03-12 08:49] leemgs opened #3681 "Unexpected operator from 1.0.25-prerelease-00196/lib/init-tools.sh while doing cross build"
Unexpected operator error happens from 1.0.25-prerelease-00196/lib/init-tools.sh while doing cross build. Who is in charge of the Microsoft.DotNet.BuildTools  (version 1.0.25-prerelease-00196)? In case of that, does Jenkins-based CI (Continuous Integration) system cannot currently handle the issues?
### Build environment:

`lgs@u1404:/work/dotnet/arm-32/coreclr$ time ROOTFS_DIR=/work/dotnet/rootfs

[2016-03-12 11:58] jkotas commented on #3610
Fixed by https://github.com/dotnet/coreclr/pull/3674

[2016-03-12 11:58] #3610 closed

[2016-03-12 11:59] jkotas commented on #3609
Fixed by https://github.com/dotnet/coreclr/pull/3674

[2016-03-12 11:59] #3609 closed

[2016-03-12 12:00] jkotas commented on #3608
Fixed by https://github.com/dotnet/coreclr/pull/3674

[2016-03-12 12:00] #3608 closed

[2016-03-12 15:55] jamesqo commented on #2322
Just curious, can't this be implemented as a library solution if dotnet/corefx#5474 is approved? Then you'd be able to write something like this independently of any compiler support:

[code]

[2016-03-12 16:18] nietras commented on #2322
@jamesqo yes you can. And I have in fact done that, hence the open source project https://github.com/DotNetCross/Memory.Unsafe which I have used to make similar code and generic loops/transforms over unmanaged memory.

However, this has issues with performance since the code becomes more complex with more calls, which the JIT can't handle particularly well for value types, see https://github.com/d

[2016-03-12 18:16] jkotas commented on #3604
Code for the offending method:
[code]

[2016-03-12 18:18] jkotas commented on #3604
The problem is the method is calling the `JIT_Overflow` helper, but there is no shadow argument area allocated on the stack.

[2016-03-12 18:34] jkotas commented on #3615
Dup of Dup of https://github.com/dotnet/coreclr/issues/3604

[2016-03-12 18:34] #3615 closed

[2016-03-12 18:35] jkotas commented on #3614
Dup of https://github.com/dotnet/coreclr/issues/3604

[2016-03-12 18:35] #3614 closed

[2016-03-12 18:41] jkotas commented on #3613
Dup of https://github.com/dotnet/coreclr/issues/3604

[2016-03-12 18:41] #3613 closed

[2016-03-13 02:47] jamesqo commented on #2322
@nietras Interesting findings, I hadn't realized the data would still have to be copied even after inlining. What if we made the pointer APIs in question specially recognized by the JIT, so it could elide those copies?

[2016-03-13 03:40] jkotas commented on #2322
The JIT should be able to elide those copies without special recognizing the pointer APIs.

[2016-03-13 13:18] bendono opened #3684 "Breaking on managed entry point"
When debugging a managed full dotnet application, it is common to break once clr is loaded.
This can be done with "sxe ld clr".
Then managed breakpionts !bpmd can be set as needed.

However, things are quite different in CoreCLR.
If you break on coreclr load (sxe ld coreclr), SOS can be loaded but the managed assembly has not yet been loaded yet.
So next I place a break on the managed assembly (sx

[2016-03-13 13:24] bendono commented on #3684
For reference, the HelloWorld program is slightly modified for experimenting with setting breakpoints.

`using System;

public class Foo
{
	public Foo()
	{
		Console.WriteLine("[Foo] Constructor");
	}

	public void Set(object o)
	{
		Console.WriteLine("[Foo] Set");

		if (o != null)
		{
			InternalSet(o);
		}
	}

	private void InternalSet(object o)
	{
		Console.WriteLine("[Foo] InternalSet: {0}",

[2016-03-13 15:30] gkhanna79 commented on #3649
Before we go this route, I would like to understand if creating a new package, for anything not under native folder in nuget package, is the standard/formal guidance for restoring it for consumption. IMHO, this looks to be an overkill - is nuget intending to support such scenarios in an upcoming release as I am sure this is a common thing to do and we cannot be creating packages for all such artif

[2016-03-14 07:13] manu-silicon opened #3686 "COMPLUS_ContinueOnAssert has no effect on Linux"
I have a piece of unsafe/unverifiable IL which works under normal .NET but causes an assert violation under CoreCLR. On Windows if I set COMPLUS_ContinueOnAssert to 1, it will ignore it and continue. However on Linux, the setting has no effect and my program will exit.

[2016-03-14 10:01] janvorli commented on #3686
I guess you have spelled it as COMPlus_ContinueOnAssert, right?

[2016-03-14 14:06] RussKeldorph commented on #3664
@sejongoh @LLITCHEV Re-running tests on *Release* bits will sometimes repro failures like above, but it is far from consistent, and failures occur in many different tests, both inside and outside the JIT folder, so I'm skeptical these are due to the JIT.  Please keep an eye on this, though.  If they continue to repro, we'll need to investigate with more urgency.

[2016-03-14 15:17] RussKeldorph opened #3688 "setup-runtime-dependencies bad temp file management"
coreclr/tests/setup-runtime-dependencies.* writes a project.json file in their own folder.  Temp files belong under %TMP% if possible or under coreclr/bin if absolutely necessary.

Also, there are failure paths along which the temp project.json is not deleted.  Please fix that as well.

[2016-03-14 15:26] RussKeldorph commented on #3688
Sorry to pile to onto this, but this script also fails if it is run from the tests folder (and many other places).  It should do the right thing regardless of the current working directory.

[2016-03-14 16:01] gkhanna79 commented on #3604
@LLITCHEV Should this go to you?

[2016-03-14 16:02] gkhanna79 commented on #3601
This fails two tests (1 each in P0 and P1 Debug runs). @LLITCHEV should this be assigned to you?

[2016-03-14 16:06] gkhanna79 opened #3689 "Failed To Find NI image"
JIT._jit64_opt_cse_hugeexpr1_hugeexpr1_._jit64_opt_cse_hugeexpr1_hugeexpr1_cmd
\r\nAssert failure(PID 4784 [0x000012b0], Thread: 12636 [0x315c]): ZapRequire: Could not get native image for hugeexpr1.\r\nUse FusLogVw.exe to check the reason.\r\n\r\nCORECLR! DomainFile::CheckZapRequired + 0x43B (0x00007ff8`e90b718b)\r\nCORECLR! DomainAssembly::FindNativeImage + 0xCC1 (0x00007ff8`e90ba6a1)\r\nCORECLR

[2016-03-14 16:08] gkhanna79 opened #3690 "Assert failure(PID 17308 [0x0000439c], Thread: 15216 [0x3b70]): !RequiresInstArg()"
CoreMangLib._system_delegate_generics_NG_Standard_NG_Standard_._system_delegate_generics_NG_Standard_NG_Standard_cmd
\r\nAssert failure(PID 17308 [0x0000439c], Thread: 15216 [0x3b70]): !RequiresInstArg()\r\n\r\nCORECLR! MethodDesc::TryGetMultiCallableAddrOfCode + 0x231 (0x00007ff8`ed3aff91)\r\nCORECLR! MethodDesc::GetMultiCallableAddrOfCode + 0x17E (0x00007ff8`ed3a5cfe)\r\nCORECLR! DynamicHelperFi

[2016-03-14 16:09] gkhanna79 opened #3691 "Test Timed out"
GC._Regressions_v2_0_beta2_462651_462651_462651_._Regressions_v2_0_beta2_462651_462651_462651_cmd
cmdLine:C:\KGK\GitHub\gkhanna79\coreclr\bin\tests\Windows_NT.x64.Debug\GC\Regressions\v2.0-beta2\462651\462651\462651.cmd Timed Out\r\n\n\nRaw output:      C:\KGK\GitHub\gkhanna79\coreclr\bin\tests\Windows_NT.x64.Debug\Reports\GC\Regressions\v2.0-beta2\462651\462651\462651.output.txt\nTo run the test:

[2016-03-14 16:20] jkotas commented on #3689
hugeexpr1 is dup of #3600.

[2016-03-14 17:06] kyulee1 commented on #3667
I have a fix for b68045. It appears b43121 is another issue.

[2016-03-14 17:32] mikem8361 commented on #3684
1) Setting these two environment variables will cause coreclr to break in early initialization without symbols:

export COMPlus_BreakOnEELoad=2
export COMPlus_DebugBreakOnAssert=1

2-4) I need to investigate some more.

[2016-03-14 18:16] kyulee1 opened #3693 "Improve tracking GC info in call sites"
In ```emitEncodeCallGCregs``` and ```emitDecodeCallGCregs```, JIT uses instruction operands to encode/decode GC callee save registers for call/branch instructions. Since these operands normally represent the target registers associated with the instruction, it's a bit risky to repurpose them under the assumption they are not used. The aspiration is to make instruction data structure as compact as

[2016-03-14 18:42] RussKeldorph commented on #3485
Fixed by #3659

[2016-03-14 18:42] #3485 closed

[2016-03-14 19:54] sejongoh commented on #3688
I fixed the window script and will update the Linux one.

[2016-03-14 21:05] #3663 closed

[2016-03-14 21:50] briansull opened #3701 "ARM64: Assert failure: ExceptionTracker::HasFrameBeenUnwoundByAnyActiveException"
The following newly added tests are failing with this assert in
  File: d:\projectk\src\ndp\clr\src\vm\stackwalk.cpp Line: 1863

fault.exe_387 # JIT\Directed\ExcepFilters\fault\fault\fault.exe
Nesting.exe_391 # JIT\Directed\FaultHandlers\Nesting\Nesting\Nesting.exe
objectusedonlyinhandler.exe_1900 # JIT\jit64\regress\ndpw\14888\objectusedonlyinhandler\objectusedonlyinhandler.exe
=gcincatch_d.exe_2

[2016-03-14 22:11] briansull commented on #2989
Additional failures in the newly added tests:
mcc_i10.exe_1700 # JIT\jit64\mcc\interop\mcc_i10\mcc_i10.exe
mcc_i12.exe_1702 # JIT\jit64\mcc\interop\mcc_i12\mcc_i12.exe
mcc_i13.exe_1703 # JIT\jit64\mcc\interop\mcc_i13\mcc_i13.exe
mcc_i30.exe_1708 # JIT\jit64\mcc\interop\mcc_i30\mcc_i30.exe
mcc_i32.exe_1710 # JIT\jit64\mcc\interop\mcc_i32\mcc_i32.exe
mcc_i33.exe_1711 # JIT\jit64\mcc\interop\mcc_i33\

[2016-03-14 22:40] morganbr opened #3703 "Support DefaultDllImportSearchPathsAttribute"
DefaultDllImportSearchPathsAttribute  is a defense-in-depth feature that protects against dll planting attacks. It appears to be ifdef'd out for CoreCLR. We should have it available to protect against the same set of attacks.

[2016-03-14 22:58] briansull opened #3704 "ARM64: Assertion failed in VM: 'pSlot >= pRD->SP'"
The following tests intermittently fail with this assert:
Assert failure: pSlot >= pRD->SP
d:\projectk\src\ndp\clr\src\vm\gcinfodecoder.cpp, Line: 1746

Typically these repro more frequently using a DBG build rather than a CHK build

LargeObjectAlloc.exe_1 # GC\Coverage\LargeObjectAlloc\LargeObjectAlloc.exe
_dbglcs_long.exe_3533 # JIT\Methodical\int64\arrays\_dbglcs_long\_dbglcs_long.exe
_rellcs_u

[2016-03-14 23:58] gkhanna79 opened #3707 "Enable CI support for Ready2Run Tests"
1) Enable Pri1 R2R tests per commit
2) Enable Pri0 R2R tests with trigger phrase

[2016-03-15 00:02] gkhanna79 opened #3708 "Enable Stress (and GCStress) infrastructure for Ready2Run tests"
Enable infrastructure to allow to run tests, compiled with R2R.

[2016-03-15 00:07] gkhanna79 opened #3709 "Enable Perf infrastructure support for Ready2Run"
We should have a mode/support/tests for Ready2Run performance analysis and regression. This includes Size, Working set, warm startup measurements.

[2016-03-15 00:13] gkhanna79 opened #3710 "Enable Ready2Run test runs in Helix"

[2016-03-15 00:13] wtgodbe commented on #3707
https://github.com/dotnet/coreclr/pull/3705 should take care of this. Read the description at the top of that PR to see all the possible trigger phrases. I went ahead and enabled trigger phrases for both Pri0 and Pri1 R2R tests, in addition to per-commit pri1 R2R tests.

[2016-03-15 00:13] wtgodbe commented on #3707
We'll have to wait until the CI is back up to see if this works, and even then we won't be able to use the trigger phrases until the PR is merged (i.e., we can't test the trigger phrases by using them on that PR)

[2016-03-15 00:43] gkhanna79 commented on #3582
@jashook any update on this?

[2016-03-15 00:45] gkhanna79 opened #3712 "Feature complete SOS for arrm64 windows"
Implement and validate all remaining SOS commands

[2016-03-15 00:47] gkhanna79 opened #3713 "Bringup cross-architecture build and components"
Build support for cross-targeting crossgen and debugging components needs to be brought up.

[2016-03-15 00:48] gkhanna79 opened #3714 "Crossgen mscorlib"
We should be able to crossgen mscorlib.dll

[2016-03-15 00:50] gkhanna79 opened #3715 "Enable Ready2Run"
Enable R2R feature support
Enable test compilation support
Perform an initial run and file issues for the failure buckets

[2016-03-15 00:52] jashook commented on #3582
I have not been able to recreate this problem. It occurred because the arm64 machine was unable to be connected to for a period of time. I am still trying to recreate how this actually happened to let this fail more gracefully next time.

I am going to keep it open for now and assign it to myself.

[2016-03-15 00:54] gkhanna79 opened #3716 "Bringup XUnit"

[2016-03-15 00:55] gkhanna79 opened #3717 "Enable HFA support for the runtime"
@russellhadley Please associate this with corresponding codegen workitem.

[2016-03-15 01:04] gkhanna79 opened #3718 "Enable Perf and Stress infrastructure"
Enable infrastructure and existing collateral (e.g. perf runs, gcstress, etc) for manual run requests

[2016-03-15 02:20] ramarag commented on #2644
changes to build native test binaries for arm64 were brought in by #3599

[2016-03-15 02:24] ramarag commented on #2486
The work remaining here is to transition Generating linux lttng specific infrastructure from python to cmake. basically the following logic needs to be moved:https://github.com/dotnet/coreclr/blob/master/build.sh#L87

[2016-03-15 02:28] ramarag commented on #1776
#3441, #3433 and #2998 fixes the native portions of the VM. Only the mscorlib remains to be fixed.
Assigning it back to @JeremyKuhne

[2016-03-15 04:03] gkhanna79 opened #3721 "Validate managed debugging support"

[2016-03-15 04:08] gkhanna79 opened #3722 "Enable Arm64 test runs in Helix"

[2016-03-15 04:09] gkhanna79 opened #3723 "Enable Perf/Stress for Arm64 in Helix"

[2016-03-15 04:43] gkhanna79 opened #3724 "CoreCLR nuget package missing runtime.json"
At https://github.com/dotnet/coreclr/commit/af1b954466de2b931809434bf8ad4dc355dc3e98 commit, building CoreCLR repo produces a nuget package that contains a runtime.json in the redirection package.

After https://github.com/dotnet/coreclr/commit/227e648d5b2d605e81498ab0b9a06d5e2998590b commit, which updated the BuildTools package from 177 to 196, the redirection package no longer contains runtime.j

[2016-03-15 04:54] weshaggard commented on #3724
@ericstj @chcosta do you guys think it has anything to do with the FAT package work we did?

[2016-03-15 04:57] ericstj commented on #3724
You need to explicitly opt-into including the runtime.json via the `IncludeRuntimeJson` property : https://github.com/dotnet/buildtools/blob/d858d541fb3eda3cf9e4c93b732c5e15f0409229/src/Microsoft.DotNet.Build.Tasks.Packaging/src/PackageFiles/Packaging.targets#L593

[2016-03-15 14:08] nietras commented on #2322
Yes, that would be ideal. Especially, since in the example code given we use the value type `IFunc` trick to get these inlined where value types could be parameters or returned from the func, and for these cases we would also like copies to be elided.

[2016-03-15 14:17] #2759 closed

[2016-03-15 14:26] kyulee1 commented on #3665
Fixed by #3687

[2016-03-15 14:26] #3665 closed

[2016-03-15 14:27] kyulee1 commented on #3667
Fixed by #3692 and #3698

[2016-03-15 14:27] #3667 closed

[2016-03-15 14:28] gkhanna79 commented on #3724
@ericstj When did this behavior change? It appears to be breaking since this was working earlier.

[2016-03-15 14:33] gkhanna79 opened #3726 "Unify test runner for dev and Helix runs across all platforms"

[2016-03-15 14:33] gkhanna79 opened #3727 "Enable tests to run on a remote machine for dev validation"

[2016-03-15 14:39] schaabs opened #3728 "SIGSEGV_HEAPCORRUPT_class2_cs_d!DomainBoundILStubClass.(ValX1`1<System.String>)"
The notes in this bug refer to the dump [projectk-23910-00-amd64ret_004C](https://dotnetjobresults.blob.core.windows.net/projectk-23910-00-stress/d2ff25ad-766b-47a0-b18e-877d4fba3e73/stress/generated/06_02hr/projectk-23910-00-amd64ret_004C/projectk-23910-00-amd64ret_004C.csproj/projectk-23910-00-amd64ret_004C.zip?sv=2015-04-05&sr=c&sig=frXtec4JmbKXiwfVlQolyPLL07CGNB6LrdjCWWIJ%2F%2Fg%3D&se=2017-03-

[2016-03-15 15:00] gkhanna79 commented on #3724
@ericstj Also, should this property be set only for the redirection package's pkgproj?

[2016-03-15 17:14] rahku opened #3730 "ARM64: Implement GC thread hijacking required for fully interruptible code"

[2016-03-15 17:18] rahku opened #3731 "ARM64 PERF: Implement FixupPrecode"

[2016-03-15 17:27] rahku opened #3732 "ARM64: implement profiler apis"

[2016-03-15 17:32] rahku opened #3733 "ARM64: Implement StubDispatchFixupStub required for NI image execution"

[2016-03-15 17:32] LLITCHEV opened #3734 "Assertion failures crossgenning some libraries CoreFX under JitStress=1/2"
This happens on Windows and from the very brief investigation I have done it appears to be related to the oneReturn changes done few weeks ago. As I said the analysis I performed was really brief, so if incorrect, please add comments.

The assertion is in morph.cpp, line 14177.

Crossgenning the latest versions of the following libraries triggers the following assertion failure:
1. For NETAll, ASP

[2016-03-15 19:35] #3724 closed

[2016-03-15 20:37] briansull opened #3738 "ARM64: Detected use of a corrupted OBJECTREF. Possible GC hole."
Repro steps: Using an Arm64chk build
unset the Gen0 size:
set COMPLUS_GCgen0size=

The following tests hit this issue:
refpinned2iu_il_d.exe_650
refpinned2iu_il_r.exe_651
chaos65204782cs.exe_868
chaos65204782cs_o.exe_869
struct1.exe_1435
CgStress1_d.exe_1764
CgStress1_do.exe_1765
CgStress1_r.exe_1766
CgStress1_ro.exe_1767
test.exe_1915
_speed_dbglcsbas.exe_2337
_speed_dbglcsmax.exe_2337
_speed_rel

[2016-03-15 20:51] briansull commented on #3738
@kyulee1 PTAL - Many of these are new regressions as of this morning

[2016-03-15 20:53] briansull commented on #3738
Here is a script to run all of these tests:

[Issue3738.txt](https://github.com/dotnet/coreclr/files/174796/Issue3738.txt)

[2016-03-16 00:29] manu-silicon commented on #3686
Looks like I haven't. The doc is confusing as you see various spelling of it. I'll propose a PR to fix those.

[2016-03-16 00:29] #3686 closed

[2016-03-16 00:34] manu-silicon commented on #3686
See PR #3745

[2016-03-16 00:40] TingluoHuang opened #3746 "Unable install DOTNET CLI for Windows 1.0.0.001598"
Setup fail with log:

[2E20:222C][2016-03-15T20:39:00]i001: Burn v3.10.2.2516, Windows v10.0 (Build 10586: Service Pack 0), path: C:\Users\huang\AppData\Local\Temp\{A95E5D68-5AAE-43B4-A045-C80395704F1D}\.cr\dotnet-win-x64.1.0.0.001598 (1).exe
[2E20:222C][2016-03-15T20:39:00]i000: Initializing string variable 'BuildType' to value 'Release'
[2E20:222C][2016-03-15T20:39:00]i000: Initializing string v

[2016-03-16 00:54] briansull opened #3747 "ARM64: Assertion failed 'assert: spOffset != 0'"
The following three tests hit this assert:

Assertion failed 'assert: spOffset != 0'
d:\projectk\src\ndp\clr\src\jit\codegenarm64.cpp, Line: 280

mixed1_cs_ro.exe_562 # JIT\Directed\perffix\primitivevt\mixed1_cs_ro\mixed1_cs_ro.exe (IL size 284)
10w5d_cs_do.exe_3474 # JIT\Methodical\fp\exgen\10w5d_cs_do\10w5d_cs_do.exe ( IL size 292)
10w5d_cs_ro.exe_3476 # JIT\Methodical\fp\exgen\10w5d_cs_ro\10w5d

[2016-03-16 01:03] #3734 closed

[2016-03-16 01:09] briansull opened #3748 "ARM64: assert: '!"Unsupported TYP_STRUCT arg kind""
The following three tests fail with this assert:

seq_byte_1_d.exe_3327 # JIT\Methodical\explicit\coverage\seq_byte_1_d\seq_byte_1_d.exe (IL size 6940)
seq_byte_1_r.exe_3328 # JIT\Methodical\explicit\coverage\seq_byte_1_r\seq_byte_1_r.exe (IL size 6940)
TailCallCases.exe_4413 # JIT\opt\ETW\TailCallCases\TailCallCases.exe (IL size 103)

[2016-03-16 01:31] briansull opened #3750 "ARM64: assert: argNum < ArrLen(fltArgRegs)"
46 tests are failing with the above assert

  1704 # mcc_i14.exe_1704 assert in 'MCCTest.MyClass:Main(ref):int' (IL size 84)
  1705 # mcc_i15.exe_1705 assert in 'MCCTest.MyClass:Main(ref):int' (IL size 90)
  1706 # mcc_i16.exe_1706 assert in 'MCCTest.MyClass:GetSum():struct:this' (IL size 68)
  1707 # mcc_i17.exe_1707 assert in 'MCCTest.MyClass:GetSum():struct:this' (IL size 66)

  1367 # ldarg_s_

[2016-03-16 04:00] jkotas commented on #3504
Fixed by #3528

[2016-03-16 04:00] #3504 closed

[2016-03-16 05:19] manu-silicon commented on #1192
@aviviadi I just tried a hello world on a Jetson TK1 board with the latest CoreCLR and it works albeit segfaulting on exit. Make sure you only have  mscorlib.dll (no mscorlib.ni.dll generated on the host where you build mscorlib), I had the issue and this caused an immediate segfault.

[2016-03-16 07:50] rominator1983 commented on #3130
Do you maybe know, when the 3 hotfixes will be available via windows update?
We want to deploy .NET 4.6.1 to a production machine in the near future. Windows update is of course more practical as we do not have to manually install all hotfix exe files to EVERY installation.

[2016-03-16 08:10] manu-silicon opened #3753 "Switching from Debug to Release generates invalid code on Linux x64"
I've been successful at running CoreCLR in debug mode on Linux Ubuntu 14.04 x64. I wanted to do some benchmarks, so I built the release mode. When using it, it would crash almost immediately in the following native code:

[code]

The ```pSortHandle``` argument seems invalid.

Thanks to @kangaroo who had that problem in the past, I managed to solve the issue by redoing the build but this time by re

[2016-03-16 09:02] janvorli commented on #3728
I am investigating. I can reliably repro it locally and it is a GC hole, the corrupted MethodTable is just a coincidence of the original object location and the data that were written to that memory after the object was relocated. The reference in the stack slot in the DomainBoundILStubClass.(ValX1`1<System.String>) was not updated for some reason when the actual object moved.
In all the repros, i

[2016-03-16 09:04] manu-silicon opened #3754 "Struct passing on ARM 32-bit"
I have the following C# code:

[code]

which causes the following assert on line 4124 of compiler.cpp to fail:

[code]

When it fails ```regNum``` is ```REG_RO``` while ```varDsc->lvArgReg``` is 16. In varDsc, the following fields are set to 1:
[code]

Any hints on how to best fix this?

I've attached the output with COMPlus_JitDump=NewValue

[output.txt](https://github.com/dotnet/coreclr/files/17

[2016-03-16 12:41] akoeplinger commented on #3746
See https://github.com/dotnet/cli/issues/1473.

[2016-03-16 12:51] jkotas commented on #2387
This should be fixed now.

[2016-03-16 12:51] #2387 closed

[2016-03-16 12:52] jkotas commented on #3545
Fixed by #3576

[2016-03-16 12:52] #3545 closed

[2016-03-16 12:53] jkotas commented on #3754
cc @dotnet/jit-contrib @myungjoo @leemgs

[2016-03-16 12:56] jkotas opened #3756 "ARM64: Disable interpretter fallback"
`#define FEATURE_INTERPRETER` at https://github.com/dotnet/coreclr/blob/master/src/inc/switches.h#L271

[2016-03-16 13:13] manu-silicon commented on #2387
Yes it is. I'm able to run simple programs on ARM now.

[2016-03-16 13:48] nietras commented on #2430
@Anderman could you explain how this works:
[code]
I don't understand how this works, when it is not taking offsets into account?

I am redoing the different copies benchmarks (on all JITs) and wanted to include your take too.

As far as I understand Kestrel now uses `Buffer.MemoryCopy` for byte arrays since this is handled by a special case in the JIT. Has anyone done benchmarks on this?

[2016-03-16 14:30] #3738 closed

[2016-03-16 15:22] gkhanna79 opened #3759 "Test Cleanup: Move test invocation script to runtest.cmd"
Today, buildtest.cmd generates the script required to invoke the tests. This also bakes into the script runtime configuration pieces (e.g. crossgen of test or setting GC stress level). This forces one to do two different test builds, as an example, if different test configurations are required.

We should move the batch file generation to runtest.cmd so that a single test build can be used for var

[2016-03-16 16:25] AndyAyersMS opened #3760 "Inliner policy inconsistency under JitStress causes asserts"
The JitStress failures uncovered when testing #3697 are a pre-existing issue.

The inliner will use two different compiler instances to evaluate an inline candidate. The initial candidacy scan is done by the inlinee compiler instance, and the final scan is done by the root compiler instance. If these two instances have different policies (or different variants of the same policy) then a method tha

[2016-03-16 16:46] AndyAyersMS commented on #3759
@gkhanna79 isn't there already a way to tailor execution at runtime? Eg for testing LLILC we were able to set a bunch of COMPlus variables around each test invocation. We use this now to enable stress modes and the like in the CI.

Look at the `TestEnv` option to `runtest.cmd`, and how it's used in `netci.groovy` for various stress modes.

[2016-03-16 16:52] gkhanna79 commented on #3759
Yes, looks like that is an option that can be used to move both these operations out. However, for crossgen, in addition to environment variable setting, an additional command would need to be inserted to perform the compile.

[2016-03-16 17:24] jkotas commented on #3664
For reference, the last two fail with:

JIT.Performance.CodeQuality.BenchmarksGame.pidigits.pi-digits.pi-digits:

Unhandled Exception: System.IO.FileLoadException: Could not load file or assembly 'System.Runtime.Numerics, Version=4.0.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (

[2016-03-16 18:18] gkhanna79 opened #3763 "JIT Tests Failing in CI for Ubuntu and OSX"
I see two tests failing in Ubuntu and OSX:

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/checked_osx_tst_prtest/70/testReport/
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/checked_ubuntu_tst_prtest/79/testReport/

These are failing due to missing assemblies. Is this due to the test refresh?

CC @briansull

[2016-03-16 18:19] BruceForstall commented on #3754
There have been a lot of changes in this area due to Linux x64 and ARM64 calling conventions, with work under FEATURE_UNIX_AMD64_STRUCT_PASSING and FEATURE_MULTIREG_ARGS. It's probable one of those many changes regressed ARM32. You'll have to do some more detailed debugging here. If you provide a self-contained repro, maybe someone can look at it. I can't determine the issue from what I see here.

[2016-03-16 18:28] aviviadi commented on #1192
@manu-silicon Well.. that's interesting. As I understand from @shahid-pk and by reading elsewhere - x86/arm32 support is not planned for the near future.   I will have time later to try again (I don't remember having mscorlib.ni.dll but I will give it another go).

[2016-03-16 18:56] gkhanna79 opened #3764 "GCStress Failure: GC._API_GC_GetTotalMemory"
GC._API_GC_GetTotalMemory_GetTotalMemory_._API_GC_GetTotalMemory_GetTotalMemory_cmd

\n\nRaw output:      C:\Github\gkhanna79\coreclr\bin\tests\Windows_NT.x64.Release\Reports\GC\API\GC\GetTotalMemory\GetTotalMemory.output.txt\nTo run the test:\n> set CORE_ROOT=C:\Github\gkhanna79\coreclr\bin\tests\Windows_NT.x64.Release\Tests\Core_Root\n> C:\Github\gkhanna79\coreclr\bin\tests\Windows_NT.x64.Releas

[2016-03-16 18:58] jkotas commented on #3763
I have disabled these tests in https://github.com/dotnet/coreclr/pull/3755

[2016-03-16 19:03] briansull commented on #3701
Additionally these four tests also fail with this assert when COMPLUS_GCgen0size is not set:
throwinfinallyrecursive_20_d.exe_3122 # JIT\Methodical\eh\nested\nonlocalexit\throwinfinallyrecursive_20_d\throwinfinallyrecursive_20_d.exe
throwinfinallyrecursive_20_do.exe_3123 # JIT\Methodical\eh\nested\nonlocalexit\throwinfinallyrecursive_20_do\throwinfinallyrecursive_20_do.exe
throwinfinallyrecursive_

[2016-03-16 19:09] gkhanna79 opened #3765 "GCStress Failure: GC._API_GC_KeepAliveRecur"
GC._API_GC_KeepAliveRecur_KeepAliveRecur_._API_GC_KeepAliveRecur_KeepAliveRecur_cmd
\n\nRaw output:      C:\Github\gkhanna79\coreclr\bin\tests\Windows_NT.x64.Release\Reports\GC\API\GC\KeepAliveRecur\KeepAliveRecur.output.txt\nTo run the test:\n> set CORE_ROOT=C:\Github\gkhanna79\coreclr\bin\tests\Windows_NT.x64.Release\Tests\Core_Root\n> C:\Github\gkhanna79\coreclr\bin\tests\Windows_NT.x64.Release

[2016-03-16 19:10] gkhanna79 opened #3766 "GCStress Failure: GC._Regressions_v2_0_beta2_452950"
GC._Regressions_v2_0_beta2_452950_452950_452950_._Regressions_v2_0_beta2_452950_452950_452950_cmd
\n\nRaw output:      C:\Github\gkhanna79\coreclr\bin\tests\Windows_NT.x64.Release\Reports\GC\Regressions\v2.0-beta2\452950\452950\452950.output.txt\nTo run the test:\n> set CORE_ROOT=C:\Github\gkhanna79\coreclr\bin\tests\Windows_NT.x64.Release\Tests\Core_Root\n> C:\Github\gkhanna79\coreclr\bin\tests\W

[2016-03-16 19:11] gkhanna79 commented on #3600
Also fails on GCStress

[2016-03-16 19:12] gkhanna79 opened #3767 "GCStress Failure: JIT._Methodical_flowgraph_bug619534_NonVirtualCall"
JIT._Methodical_flowgraph_bug619534_NonVirtualCall_NonVirtualCall_._Methodical_flowgraph_bug619534_NonVirtualCall_NonVirtualCall_cmd
\n\nRaw output:      C:\Github\gkhanna79\coreclr\bin\tests\Windows_NT.x64.Release\Reports\JIT\Methodical\flowgraph\bug619534\NonVirtualCall\NonVirtualCall.output.txt\nTo run the test:\n> set CORE_ROOT=C:\Github\gkhanna79\coreclr\bin\tests\Windows_NT.x64.Release\Tests

[2016-03-16 19:13] gkhanna79 opened #3768 "GCStress Failure: JIT._Regression_CLR_x86_JIT_V1_M11_Beta1_b29351"
JIT._Regression_CLR_x86_JIT_V1_M11_Beta1_b29351_b29351_b29351_._Regression_CLR_x86_JIT_V1_M11_Beta1_b29351_b29351_b29351_cmd
cmdLine:C:\Github\gkhanna79\coreclr\bin\tests\Windows_NT.x64.Release\JIT\Regression\CLR-x86-JIT\V1-M11-Beta1\b29351\b29351\b29351.cmd Timed Out\r\n\n\nRaw output:      C:\Github\gkhanna79\coreclr\bin\tests\Windows_NT.x64.Release\Reports\JIT\Regression\CLR-x86-JIT\V1-M11-Beta

[2016-03-16 19:15] gkhanna79 commented on #3708
Please see https://github.com/dotnet/coreclr/blob/master/Documentation/building/windows-test-instructions.md on how to enable GCstress for a test build.

[2016-03-16 19:19] sadjadbp opened #3769 "TripleDESCryptoServiceProvider support"
Hi,

Any plans to support TripleDESCryptoServiceProvider under System.Security.Cryptograph

[2016-03-16 19:21] AndyAyersMS commented on #3767
@gkhanna79 Is this a regression?

[2016-03-16 19:23] gkhanna79 commented on #3767
@AndyAyersMS I dont know. I enabled GCstress support just last night/today and this came out of the run.

[2016-03-16 20:13] #3666 closed

[2016-03-16 20:18] jashook commented on #3763
The test refresh we did for arm64 should have no relation to these failing tests. Removing myself.

[2016-03-16 20:58] AndyAyersMS commented on #3767
I probably need a more explicit repro instructions.

How does this differ from the jitstress that runs in the CI system, eg [this 0xC run](http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x64_checked_windows_nt_gcstress0xc/)?

[2016-03-16 21:21] dagood commented on #3763
I fixed some errors like these while upgrading the test dependencies so I could add in version validation. Looking into if this can be fixed the same way and trying to set up a repro locally.

[2016-03-16 21:27] wtgodbe commented on #3707
Solved by https://github.com/dotnet/coreclr/pull/3705

[2016-03-16 21:27] #3707 closed

[2016-03-16 21:45] gkhanna79 commented on #3767
Build Pri0 tests for GCStressLevel 15 (see instructions at https://github.com/dotnet/coreclr/blob/master/Documentation/building/windows-test-instructions.md) and then run the test.

These were exposed after tests were compiled with "crossgen" argument to precompile using R2R.

[2016-03-16 21:55] briansull opened #3772 "ARM64: Need build for coredis tools"
This is necessary to enable Jit GCSTRESS for Arm64

[2016-03-16 22:56] AndyAyersMS opened #3775 "Inliner: gather data for CodeSize and Throughput estimates"
# Background

[Our ambition](https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/inlining-plans.md) is to leverage machine learning techniques to build inlining
heuristics.  The most approachable aspects of this are models for the
code size (CS) and jit throughput (TP) impact of an inline.
Generally we think of CS and TP as *costs* that are incurred during
inlining.

These two

[2016-03-16 22:57] ramarag opened #3776 "Coreclr test builds fail magically after ~12 hours after doing a scorch of the repo"
Sequence of events:

git fetch --all
git merge upstream/master
git clean –dxf
build skipnative skipmscorlib
tests\runtest.cmd
everything works fine
make test changes
build skipnative skipmscorlib
tests\runtest.cmd
everything works fine

wait for ~12 hours
do a
build skipnative skipmscorlib
see the error:

BUILDTEST: Starting the Managed Tests Build
BUILDTEST: Using environment: "C:\Program Files (

[2016-03-16 22:59] #3760 closed

[2016-03-16 23:09] dagood commented on #3776
(@ramarag and I talked on linq before we created this issue, adding some more info.)

Another dev got this message, with a bit more detail:
[code]
`D:\fxkit\coreclr\tests\src\Common\test_runtime\project.json`:
[code]

This file is generated by [tests/runtest.proj#L369](https://github.com/dotnet/coreclr/blob/d42c401/tests/runtest.proj#L369), so it seems that somehow the nupkg doesn't exist in `$(CO

[2016-03-16 23:40] briansull opened #3778 "Unexpected Assertion failed '!"JitBreakMorphTree hit" when printing nodes for a Jit Dump"
We can hit this when pr8inting out nodes that have an invalid gtTreeID of -1
This can occur in we have debug code ands we create a new GT_NOP node before we have initialized
compGenTreeID to zero.

[2016-03-16 23:42] rahku commented on #3776
comment above the line you linked provides the reason for existence of test_runtime.csproj
https://github.com/dotnet/coreclr/blob/master/tests/runtest.proj#L363

buildtests.cmd requires that the product is built before it can start. In addition it also sets core_root to product bin directory. $(CORE_ROOT)\.nuget\pkg points to the coreclr rutnime package that you just built. Not sure why product bi

[2016-03-16 23:59] rahku commented on #3776
I am wrong buildtests.cmd does not actually set core_root and so yes a restore for that json during buildtest will cause problems. But still puzzles me why this would not fail more often

[2016-03-17 00:01] rahku commented on #3776
I will assign this to myself.

[2016-03-17 00:28] briansull commented on #3750
I am working on a fix for this

[2016-03-17 00:33] morganbr commented on #3769
Triple DES is supported via the TripleDES class (https://github.com/dotnet/corefx/blob/bd7aceca7da2301cd9bc720034870dd4e5fa08bf/src/System.Security.Cryptography.Algorithms/src/System/Security/Cryptography/TripleDES.cs). You can use TripleDES.Create() to get an instance.

cc: @bartonjs

[2016-03-17 00:54] TingluoHuang commented on #3746
@akoeplinger after uninstall existing CLI, I am getting new error on install
[2FA4:3F7C][2016-03-16T20:50:20]i001: Burn v3.10.2.2516, Windows v10.0 (Build 10586: Service Pack 0), path: C:\Users\huang\AppData\Local\Temp\{E1F0B9DA-4EF0-4C99-8AF3-F28E1CC61CC4}\.cr\dotnet-win-x64.1.0.0.001598.exe
[2FA4:3F7C][2016-03-16T20:50:20]i000: Initializing string variable 'BuildType' to value 'Release'
[2FA4:3F

[2016-03-17 00:59] rahku commented on #3776
@dagood do you know this would not repro everytime?

[2016-03-17 01:00] AndyAyersMS commented on #3768
@LLITCHEV is going to triage these, so reassigning.

[2016-03-17 01:00] akoeplinger commented on #3746
Hmm no idea sorry. You should open an issue on the https://github.com/dotnet/cli repository.

[2016-03-17 01:00] AndyAyersMS commented on #3767
@LLITCHEV is going to triage these; reassigning.

[2016-03-17 01:01] AndyAyersMS commented on #2655
I think we're ok with current timing, so closing.

[2016-03-17 01:01] #2655 closed

[2016-03-17 01:02] TingluoHuang commented on #3746
@akoeplinger Thanks.

[2016-03-17 01:11] manu-silicon commented on #3754
@BruceForstall I've attached the C# code that reproduces the issue.

[Program.txt](https://github.com/dotnet/coreclr/files/177122/Program.txt)

[2016-03-17 01:40] briansull commented on #3778
Fixed with PR #3779

[2016-03-17 01:40] #3778 closed

[2016-03-17 01:45] briansull commented on #3756
I will take a look at removing this.

[2016-03-17 01:57] manu-silicon commented on #3754
For reference, the initial output.txt had a different failure which was due to issue #3778 which was just fixed.

[2016-03-17 02:00] leemgs commented on #3681
\cc @jkotas , @AndyAyersMS, @adityamandaleeka, @kyulee1 , @myungjoo

We are still getting the `"/Microsoft.DotNet.BuildTools/1.0.25-prerelease-00196/lib/init-tools.sh: 40: [: unexpected operator ..."` messages during build time. It's strange.  It seems that CI (Continuous Integration) System could not catch the error because this error was made by the server package such as Microsoft.DotNet.BuildT

[2016-03-17 02:08] avi9111 commented on #2255
I did use mac10.10.5, but it's strange that I compiler protobuf, then run on simulator ,they say it's arch missing .used clang to compile

[2016-03-17 02:46] jkotas commented on #3681
The master copy of the init-tools.sh script lives at https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/init-tools.sh

[2016-03-17 04:23] leemgs commented on #3681
Thank you for sharing info.  I will submit a PR to `./dotnet/buildtools/` community to fix this issue. **source** is a bash build-in command. It is not a program - like ls or grep. Like the below example, on up-to-date Ubuntu distribution, /bin/sh calls /bin/dash. Traditionally, `/bin/sh` called `/bin/bash` for supporting compatibility mode.

[code]

So,  we have to use **cat** command instead of

[2016-03-17 05:22] leemgs commented on #3754
@manu-silicon , BTW,  Why did you assign `var p = NewValue(q)` statement? It is not never used in C# code. What for?

[2016-03-17 05:34] leemgs commented on #3419
\CC: @prajwal-aithal , Please check the required packages mentioned at `https://github.com/dotnet/coreclr/blob/master/Documentation/building/cross-building.md` in order that we include ARM CI ( Compilation of .CoreCLR/CoreFX with Linux/ARM Emulator for evaluating .Net Core) into the existing .Net Core CI (e.g., https://github.com/dotnet/dotnet-ci )

[2016-03-17 06:05] manu-silicon commented on #3754
@leemgs Old habit to never hide a result. I did not try with a procedure to see if it would fail too.

[2016-03-17 06:31] leemgs commented on #3754
@manu-silicon , I tried to run your C# code to analyze the issue on my Linux/ARM emulator. It's strange. The result is "No reponse" as following:

[code]

[2016-03-17 06:35] manu-silicon commented on #3754
Are you in debug mode? If not, it will do an infinite loop.

[2016-03-17 07:02] leemgs commented on #3754
@manu-silicon , My test environment is as following: Target is Linux/ARM Emulaotor (ARMv7le-hard-fp),  CoreCLR was compiled by debug mode.

[2016-03-17 08:20] leemgs opened #3784 "Where is more sample demos for Linux/ARM?"
After we displayed the simple console hello world a few days ago thanks to @benpye and @jkotas , we have successfully run Graphical Hello World that is released by Corefx Lab community as following:
https://github.com/dotnet/corefxlab/tree/master/demos/CoreClrConsoleApplications/HelloWorld

We have attached screenshot; We have run the Graphical Hello world!!! on Linux/ARM Emulator (supporting both

[2016-03-17 08:46] manu-silicon commented on #3754
I'm testing directly on a Linux/ARM board (NVidia Tegra TK1).

[2016-03-17 08:48] manu-silicon commented on #3784
:+1: I'm also able to run this demo, however it crashes for me after pressing enter with the following trace:

[code]

[2016-03-17 08:51] manu-silicon commented on #3784
The next logical step would be to run the CoreCLR test suite and try fixing tests to be in par with x64.

[2016-03-17 09:29] leemgs commented on #3784
@manu-silicon ,  In my case, No crashes after pressing enter.  I have tested the graphical hello word.!!!  without any crashes at the below TestBeds.
[code]

[2016-03-17 12:23] papaslavik opened #3785 "ARM float abi softfp support"
We want to support such code generation in coreclr that the applications could work with the native libraries built with ARM softfp. it's easier first to implement that not just for the boundaries between native and managed code, but to force all the code generation work with soft fp.

The return argument part seems to be easy since it follows the same pattern as it's already present in code for v

[2016-03-17 14:50] dagood commented on #3776
Ah, thanks, the comment wasn't clear to me before but it seems clear now.

Thinking about this again I'm not sure how `runtests` (to call `runtest.proj` from my understanding) is being called. I would think that with the steps in the description, the project.json would never be generated at all, let alone with an invalid version. Is there some call to `runtest.proj` from `buildtests` (or `build`)

[2016-03-17 15:00] janvorli commented on #3728
So, it turns out it is a memory corruption of a very interesting kind. Something corrupts the object address by setting bit zero to 1. The DomainBoundILStubClass method gets a reference to an element inside of an array. And that element contains a reference that is corrupted as I've said.
@schaabs your analysis was correct upto this point:
[code]
But then you've tried to dump memory at the address

[2016-03-17 15:04] janvorli commented on #3728
When I've said that the array is always different, I meant a different array in a different method.

[2016-03-17 15:34] gkhanna79 opened #3787 "Bringup Perf and Stress Infrastructure and commence runs"
We need to ensure that perf and stress runs are running for WinX86.

[2016-03-17 15:37] gkhanna79 opened #3788 "JIT should be packaged as a Nuget Package"
We should use this to determine how JIT gets consumed for RTM.

CC @cmckinsey @RussKeldorph @russellhadley

[2016-03-17 15:39] papaslavik commented on #3785
pushed the proposed changes to arm_softfp

[2016-03-17 15:40] gkhanna79 opened #3789 "Enable automated test runs"
- [ ] Enable test filtering for applicable architectures
- [x] In CI
- [ ] In Helix for Windows (x64 and x86) and non-Windows (x64) - for both IL and R2R variations.

[2016-03-17 16:03] rahku commented on #3776
to run tests in coreclr is a two step process:
1. build.cmd (builds both product & tests but does not actually execute tests)
2. runtest.cmd (executes the tests that was built in step 1).
So runtest needs to be manually invoked it is not executed as part of any other script.

I tried with several permutation but I am still not able to repro the problem. Error says "Package dependencies must specif

[2016-03-17 16:52] mmitche commented on #3419
@leemgs I fixed up the basic VM image for cross build ARM/ARM64 using the existing ROOTFS @benpye defined in cross\build-rootfs.sh.  I am going to enable that image today, which should cause the build to run again at least.

What kind of changes need to be made to the rootfs/what arm sim needs to be installed on the ubuntu image?  If it's relatively simple I can do it.  Otherwise I can give you ac

[2016-03-17 17:13] benpye commented on #3419
@mmitche As I said above, pretty sure the change documented in https://github.com/dotnet/coreclr/blob/master/Documentation/building/cross-building.md needs to be applied still, other than that no changes will be needed for a build to complete. However for an emulator to be used for CI I'll leave that to @leemgs .

[2016-03-17 17:29] mmitche commented on #3419
@benpye I believe i applied that change if the doc was up to date in master as of Wednesday mid-morning

[2016-03-17 17:31] benpye commented on #3419
Yep then you would of.

On Thu, 17 Mar 2016, 17:30 Matt Mitchell, <notifications@github.com> wrote:

[2016-03-17 17:43] gkhanna79 opened #3792 "GCStress Failure: WeakReference Tests"
CoreMangLib._cti_system_weakreference_WeakReferenceCtor1_PSC_WeakReferenceCtor1_PSC_._cti_system_weakreference_WeakReferenceCtor1_PSC_WeakReferenceCtor1_PSC_cmd
\n\nRaw output:      C:\Github\gkhanna79\coreclr\bin\tests\Windows_NT.x64.Release\Reports\CoreMangLib\cti\system\weakreference\WeakReferenceCtor1_PSC\WeakReferenceCtor1_PSC.output.txt\nTo run the test:\n> set CORE_ROOT=C:\Github\gkhanna79\

[2016-03-17 19:16] janvorli commented on #3648
@rahku I am unable to repro it. I have tried both debug and release builds. In both cases, it behaved as expected and succeeded. I have tried to set the virtual memory limit to various low and high values and never got the failure.
Unfortunately, the original link to the binaries doesn't work anymore. Do you still happen to have a local copy? And how much physical memory did you have in your machi

[2016-03-17 19:17] ianhays commented on #3014
What was the resolution to this? Did you end up enabling linking against the UCRT for the CLR native bits that used cmake?

[2016-03-17 19:28] dagood commented on #3776
Yeah, that matches what I was thinking of the flow--the really strange bit to me then is that `D:\fxkit\coreclr\tests\src\Common\test_runtime\project.json` exists even though the file generation happens during `runtest`. (I also haven't repro'd this, but I haven't waited the 12 hours the repro steps suggest.)

[2016-03-17 19:35] rahku commented on #3648
I have not tried this locally. You could try if this still repros on CI machines.

[2016-03-17 19:53] gkhanna79 commented on #3648
I have seen it repro on CI from time to time though it appears to be an infra issue.

Thanks,
Gaurav

From: Rahul Kumar <notifications@github.com>
Reply-To: dotnet/coreclr <reply@reply.github.com>
Date: Thursday, March 17, 2016 at 12:36 PM
To: dotnet/coreclr <coreclr@noreply.github.com>
Cc: Gaurav Khanna <Gaurav.Khanna@microsoft.com>
Subject: Re: [coreclr] baseservices/exceptions/simple/HardwareEh

[2016-03-17 20:01] brianrob opened #3795 "Perf Test Coverage: Add Test Case to Valid E2E Tracing"
We don't currently have a test case that validates end-to-end tracing via LTTng.

[2016-03-17 20:38] dagood commented on #3664
I have a local OSX repro for those last two that I'm trying to make sense of. In short, it doesn't seem like a nuget problem, but I don't know what the desired behavior of some tools are so I don't know how to go about solving it.

My repro is running
`~/core-win/coreclr/bin/tests/Windows_NT.x64.Debug/Tests/coreoverlay/corerun ~/core-win/coreclr/bin/tests/Windows_NT.x64.Debug/JIT/Performance/CodeQ

[2016-03-17 20:46] sejongoh commented on #3688
Fixed.

[2016-03-17 20:46] #3688 closed

[2016-03-17 20:49] ramarag commented on #3776
Sorry, i have updated the repro steps. I did run the runtest immediately after first build

[2016-03-17 20:52] sejongoh commented on #3664
The problem above looks related to https://github.com/dotnet/coreclr/pull/3782.

[2016-03-17 21:11] LLITCHEV commented on #3540
Fixed about a week ago.

[2016-03-17 21:11] #3540 closed

[2016-03-17 21:55] dagood commented on #3664
@sejongoh Thanks, I didn't see that logic in runtests. I'll see if that (or something like it) fixes this.

[2016-03-17 23:11] leemgs commented on #3546
Here is my test result on my test board.  The result of "Helloworld" is ok on my test environment.
Refer to #Issue https://github.com/dotnet/coreclr/issues/3784

[2016-03-17 23:20] fadimounir opened #3800 "FileStream constructor fails with Release builds of CoreCLR"
Seems like an issue with StringBuffers. Here is a simple repro:

// NOTE: Uses the System.IO.FileStream class from the System.IO.FileSystem.dll assembly
using System.IO;
static int Main(string[] args)
{
    using (StreamReader sr = new StreamReader(new FileStream(args[0], FileMode.Open, FileAccess.Read), Encoding.UTF8))
    {
        string response = sr.ReadToEnd();
     }
}

Passing in something

[2016-03-17 23:22] fadimounir commented on #3800
Exception:

Unhandled Exception: System.ArgumentException: Illegal characters in path.
Parameter name: path
   at System.IO.PathHelper.Normalize(String path, Boolean checkInvalidCharacters, Boolean expandShortPaths)
   at System.IO.Path.NormalizeAndValidatePath(String path)
   at System.IO.Path.GetFullPath(String path)
   at System.IO.FileStream.Init(String path, FileMode mode, FileAccess access,

[2016-03-17 23:29] leemgs commented on #3419
@mmitche , Thanks, For reference, there are two compilation methods to compile CoreCLR/CoreFX.
First, Build CoreCLR/CoreFX with cross-build using `cross\build-rootfs.sh `  for Linux/ARM.
   (Fast compilation speed,  !{easy to use} )
Second, Build CoreCLR/CoreFX with native-build using `qemu-arm-static+Chroot `  for Linux/ARM.
   (Easy to use, Support running as well as building, Low compilation sp

[2016-03-17 23:35] leemgs commented on #3419
To All

BTW, To talk continually about ARM CI,
Which better between here and https://github.com/dotnet/dotnet-ci ?

[2016-03-18 00:17] gafter commented on #1712
@fadimounir @JohnChen0 @gkhanna79 Do you anticipate having this fixed in time to ship with C#7? The C# and VB compiler teams are happy to do our end of the work, but we need you to tell us which API we should be using.

[2016-03-18 00:55] briansull commented on #3600
We do not drop to MinOpts when running ngen or crossgen

[2016-03-18 01:09] gkhanna79 opened #3802 "Enable Ready2Run generics support."

[2016-03-18 02:44] manu-silicon commented on #3754
Making some progress here. I believe I found where the regression took place. I'm going to test a fix and see if it works.

[2016-03-18 03:10] jkotas commented on #3785
cc @cmckinsey @dotnet/jit-contrib

[2016-03-18 05:14] manu-silicon opened #3804 "Unreachable code for GetSecureInvoke on ARM"
When compiling for ARM, FEATURE_STUBS_AS_IL is set and I have a program that crashes when it reaches ```PCODE COMDelegate::GetSecureInvoke(MethodDesc* pMD)``` because of the ```UNREACHABLE``` call (see https://github.com/dotnet/coreclr/blob/master/src/vm/comdelegate.cpp#L2926).

Unfortunately I do not have the .NET stack trace on arm due to lldb crashing when launching a program. So I'm not sure e

[2016-03-18 05:23] russellhadley commented on #3785
@briansull, can you take a look?

[2016-03-18 06:01] manu-silicon commented on #3804
I think the issue is occurring when the C# code is calling Activator.CreateInstance.

[2016-03-18 06:31] manu-silicon commented on #3804
Looks like @benpye had the same issue and disabled the creation of a wrapper. See PR #1210 and issue #1192.

[2016-03-18 06:51] leemgs opened #3805 "[Release: Virtual ARM Device] Linux/ARM Emulator for Evaluating .Net Core"
Here is Linux/ARM Emulator ver. 20160318-1530 to help system developers that don't have any real embedded devices such Raspberry Pi2 Board, Samsung ARM Chromebook, and Odroid (X)U3 Board.

#### Download
- Coming Soon!!! (Until Mar-19-2016)

#### How to use "Linux/ARM Emulator"
1. Decompress the compress file with pbzip2 command
u1404$> sudo apt-get install pbzip2
u1404$> sudo ln -s /usr/bin/pbzip2

[2016-03-18 07:11] manu-silicon opened #3806 "Implement GenericPInvokeCalliHelper on Linux ARM"
It is missing and required to run OpenTK on ARM.

[2016-03-18 07:30] manu-silicon commented on #3805
:+1:

[2016-03-18 08:07] manu-silicon commented on #3804
It goes a little bit further but then I hit #3806.

[2016-03-18 09:54] benpye commented on #3804
@manu-silicon Yeah, that was a temporary solution at the suggestion of @richlander or @jkotas IIRC. We will need to implement secure delegates for ARM.

[2016-03-18 11:12] #3747 closed

[2016-03-18 12:12] jkotas commented on #3804
The problem is that virtual stub dispatch calls have a custom calling convention - they use R4 as scratch register.

This code needs to create a wrapper around the call with custom calling convention to make it follow regular calling convention. The secure delegate was just a convenient construct to reuse for this purpose - because of it is exactly the wrapper needed.

Options how to implement thi

[2016-03-18 12:15] benpye commented on #3804
I will try and have a look this weekend. Thanks for the guidance.

On Fri, 18 Mar 2016, 12:13 Jan Kotas, <notifications@github.com> wrote:

[2016-03-18 13:12] leemgs commented on #3805
We have attached the latest version of Linux/ARM Emulator via Dropbox. If someone can support a free web storage such with unlimited space compared to the Dropbox service to archive Linux/ARM Emulator version, we will continually upload new version of the Emulator there. Actually, We can not keep the old version of Linux/ARM Emulator, because free account of Dropbox is limited with ~2GiB.

[2016-03-18 16:27] mmitche commented on #3419
Here is better, dotnet-ci is just for general infrastructure, not necessarily CLR infra.

[2016-03-18 18:02] papaslavik commented on #3785
So, there're problems which are seen in the testing with the generated code.

First, a call from C# to C# with a float argument seems to be reading the arguments from stack.
G_M43710_IG01:
000000  E92D 4800      push    {r11,lr}
000004  ED2D 8B04      vpush   {d16-d19}
000008  F10D 0B10      add     r11, sp, 16
00000C  EDDD 8A06      vldr    s17, [sp+0x18]
000010  ED9D 9A07      vldr    s18, [sp+0

[2016-03-18 18:07] papaslavik commented on #3785
As we pass the arguments from C# to the native code, the arguments seem to be passed correctly, but the native code gets non correct values. So apparently we should also fix passing of the arguments in the intermediate layer.

[2016-03-18 18:33] papaslavik commented on #3785
Which probably means we didn't correctly calculate the mask:
call->gtCall.gtCallRegUsedMask

[2016-03-18 19:11] LLITCHEV commented on #3768
I tried reproducing this several times locally using a fresh enlistment and could not. It seems to work fine. Could you give me steps how you get it to happen locally, please?

[2016-03-18 19:14] LLITCHEV commented on #3767
I tried reproducing this several times locally using a fresh enlistment and could not. It seems to work fine. Could you give me steps how you get it to happen locally, please?
I use GCStress=3,0xc and 15 as you mention above.

[2016-03-18 20:11] erozenfeld commented on #3130
@leecow @BrettLopez Can you answer this question regarding the hot fixes above?

[2016-03-18 20:18] kyulee1 commented on #3443
As commented here https://github.com/dotnet/coreclr/pull/3429, when I tried it for ARM64/Windows, I got null object.

[2016-03-18 20:20] LLITCHEV commented on #3767
It looks there is some kind of inconsistency in the manifest file. Below is an accessibility chack failure while compiling the test. It looks like a test or a library issue.
D:\TestRepo\coreclr\bin\tests\Windows_NT.x64.Checked\JIT\Regression\CLR-x86-JIT\V1-M11-Beta1\b29351\b29351>cd ..\..\..\..\..\Methodical\flowgraph\bug619534\NonV
irtualCall

D:\TestRepo\coreclr\bin\tests\Windows_NT.x64.Checked\

[2016-03-18 20:49] MichalStrehovsky opened #3811 "Delegate.BeginInvoke/EndInvoke should throw PlatformNotSupportedException"
See discussion in dotnet/corert#1027.

https://github.com/dotnet/coreclr/blob/1a9eb1c5f4d9f257f3f96ef5205a0eb1a23395c3/src/vm/comdelegate.cpp#L2468

[2016-03-18 22:34] dagood commented on #3664
@sejongoh Hmm, this dll doesn't exist in any subfolders so I don't think that's related.

The dll (in corefx) is in these places (`find bin/*.Debug -name System.Runtime.Numerics.dll`):
[code]

I think it's intended that the corefx-built dll is being tested... but I don't know where to look next for why it's not able to load.

/cc @ericstj Do you know why the packaged dll would work and not the cor

[2016-03-18 22:38] janvorli commented on #3728
Fixed by #3812

[2016-03-18 22:38] #3728 closed

[2016-03-19 00:33] briansull commented on #3750
PR #3815 addresses this issue

[2016-03-19 00:36] briansull opened #3816 "Schedule ARM64: First Class Structs"
Area: ABI
Estimate: 4 weeks

[2016-03-19 00:37] briansull opened #3817 "Schedule ARM64: Struct16 decomposition"
Area: ABI
Estimate: 2 weeks

[2016-03-19 00:37] briansull opened #3818 "Schedule ARM64: HFA support"
Area: ABI
estimate: 3 weeks

[2016-03-19 00:39] briansull opened #3819 "Schedule ARM64: LSRA support for 16 byte structs"
Area: LSRA
Estimate: 2 weeks

[2016-03-19 00:39] briansull opened #3820 "Schedule ARM64: Interop testing"
Area: ABI
Estimate: 2 weeks

[2016-03-19 00:40] briansull opened #3821 "Schedule ARM64: Frame Layout for varargs"
Area: ABI
Estimate: 1 week

[2016-03-19 00:41] briansull opened #3822 "Schedule ARM64: GS cookie check"
Area: ABI
Estimate: 1 week

[2016-03-19 00:43] briansull opened #3823 "Schedule ARM64: EH testing and bug fixes"
Area: EH
Estimate: 3 weeks

[2016-03-19 00:45] briansull opened #3824 "ARM64: GC Stress infrastructure"
Area: GC
Estimate 1 week

[2016-03-19 00:47] briansull opened #3825 "ARM64: GC Stress Initial Run"
Area: GC
Estimate 2 weeks

[2016-03-19 00:48] briansull opened #3826 "Schedule ARM64: GC bug fixes"
Area: GC
Estimate: 4 weeks

[2016-03-19 00:49] briansull opened #3827 "Schedule ARM64: Crossgen Zapper stubs"
Area: NGEN
Estimate: 1 week

[2016-03-19 00:50] briansull opened #3828 "Schedule ARM64: Bringup crossgen tests"
Area: NGEN
Estimate: 1 week

[2016-03-19 00:51] briansull opened #3829 "Schedule ARM64: Switch table generation"
Area: OPT
Estimate: 2 weeks

[2016-03-19 07:32] russellhadley commented on #3717
#3818 tracks CodeGen work.

[2016-03-19 07:35] russellhadley commented on #3819
@RussKeldorph @sivarv This item tracks the work needed in the the LSRA for 16 byte structs on ARM64.  @sivarv is this on your near term schedule?  Should I assign it to you?

[2016-03-19 07:39] russellhadley commented on #3816
@CarolEidt this is the tracking item for the first class struct work.  Estimate is still a bit rough.  Do you have a better idea when this work might land?  For context #3819 is the tracking issue for the RA work and #3817 is the item for doing the decomposition step in lower.

[2016-03-19 07:39] russellhadley commented on #3827
@kyulee1 You were interested in doing this work.

[2016-03-19 07:41] russellhadley commented on #3824
@swaroop-sridhar can you take a look at what we need to do to get the GC Stress infra up for ARM64?

[2016-03-19 16:26] svick commented on #3342
Since this is an API addition, I think this issue belongs to [corefx](https://github.com/dotnet/corefx), see [the API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md).

[2016-03-19 17:40] gkhanna79 commented on #3768
Repro steps:

1) Build Pri1 tests with GCstress 15 using instructions at https://github.com/dotnet/coreclr/blob/master/Documentation/building/windows-test-instructions.md.

Example: tests\buildtests.cmd clean Release crossgen priority 1 gcstresslevel 15

2) Run the tests

Example: tests\runtest.cmd Release

3) Take a look at the results and repro steps in the failure report.

[2016-03-19 17:40] adityamandaleeka opened #3832 "WaitHandle.WaitAll: exception not caught on Windows x86 Release"
The tests 'baseservices/threading/waithandle/waitall/waitallex8' and 'waitallex8a' are failing on x86 Release (both for the same reason), and it may be a real runtime bug.

The tests do the following:

[code]
and we crash with `Unhandled Exception: System.ArgumentException: Value does not fall within the expected range.`

I looked at `CorWaitMultipleNative` and its callees, and the source of the e

[2016-03-19 17:41] gkhanna79 commented on #3767
Repro steps:

1) Build Pri1 tests with GCstress 15 using instructions at https://github.com/dotnet/coreclr/blob/master/Documentation/building/windows-test-instructions.md.

Example: tests\buildtests.cmd clean Release crossgen priority 1 gcstresslevel 15

2) Run the tests

Example: tests\runtest.cmd Release

3) Take a look at the results and repro steps in the failure report.

[2016-03-19 21:34] benpye commented on #3805
@richlander Any chance you could get this hosted?

[2016-03-20 05:24] jkotas commented on #3526
Fixed by https://github.com/dotnet/coreclr/pull/3656

[2016-03-20 05:24] #3526 closed

[2016-03-20 07:17] sergiy-k commented on #3769
Hi @sadjadbp, I assume this can be closed now?

[2016-03-20 07:44] sadjadbp commented on #3769
Hi,

Thanks for the response.

[2016-03-20 07:44] #3769 closed

[2016-03-20 10:34] damageboy opened #3834 "Dynamic Code Generation accepts invalid Mul (?)"
Hi,
I originally opened this bug for the mono team for what I thought was an error in Mono:
https://bugzilla.xamarin.com/show_bug.cgi?id=39775

The issue seems to be the DynamicMethod.CreateDelegate will accept the following stream of MSIL
(This is obviously pseudo code, here for clarity):

[code]

And happily compile it.

Here is a sample program the compiles cleanly in CoreCLR / MS.NET (Note thi

[2016-03-20 11:10] mikedn commented on #3834
The ECMA spec doesn't have such a requirement:

[2016-03-20 11:52] m0sa commented on #3834
If you want verification of IL, try [Sigil](https://github.com/kevin-montrose/Sigil)

[2016-03-20 15:11] ellismg commented on #3753
When you say switch from debug to release, what do you mean?  Can you give me the exact set of steps you're running (after you've cleaned) to reproduce this?

[2016-03-20 15:20] damageboy commented on #3834
@m0sh I was just thinking about using Sigil irregardless, thanks for the reminder.

@m0sa I don't mind that, but isn't this kind of a potential security issue?

I mean, accepting undefined MSIL could potentially lead to generating code that could crash the program, or worse than that, generate native code that could be abused for malicious intentions, no?

I didn't know Microsoft was so relaxed ab

[2016-03-20 22:14] LLITCHEV commented on #3767
Got this to happen.
It looks like there are couple of problems - the firest is benign, I think.
1. mscorlib doesn't contain the 'System.Security.SecurityRules*' attribute classes.
2. It looks like the importer is trying to verify the accessibility of the method for the call that it will need to import and decides to use a runtime check (for a delegate call), which is not supported functunality be

[2016-03-21 00:00] LLITCHEV commented on #3768
In checked build this passes. In Release build crossgen.exe gets in an infinite loop. Trying to get where exactly.

[2016-03-21 00:34] LLITCHEV commented on #3768
It looks like the recursion in the gtTreeHasSideEffects call chanin - line 11310 in gentree.cpp - in release build is quite big and we get there is a lot of analysis to be done. in this particular case, so it is slow - really slow. Eventually we get out, but the tests eventually times out.
The call chain is:
gtTreeHasSideEffects - line 11310 of gentree.cpp
gtTreeHasSideEffects - line 11240 of gent

[2016-03-21 03:53] manu-silicon commented on #3753
Basically, I started with ```./build.sh``` and then ```./build.sh Release```. Then using the released version of corerun on a program that was working would yield this problem.

[2016-03-21 04:04] ellismg commented on #3753
Can you share the program you're running or give me an idea of what it is?  Are you copying anything into the output folder with corerun, libcoreclr.so and mscorlib.dll (like parts of corefx?)

[2016-03-21 04:20] ctaggart opened #3835 "What are the Linux runtime dependencies?"
The build toolchain dependencies are documented at https://github.com/dotnet/coreclr/blob/master/Documentation/building/linux-instructions.md. Which of those dependencies are runtime dependencies?

I currently install all of them:
[code]
but I'd like to trim it down if some are not needed at runtime.

1. cmake
2. llvm-3.5
3. clang-3.5
4. lldb-3.6
5. lldb-3.6-dev
6. libunwind8
7. libunwind8-dev
8.

[2016-03-21 05:42] shahid-pk commented on #3835
lldb , clang . llvm , cmake are all not required at runtime.

[2016-03-21 05:55] mikedn commented on #3834
I haven't tried but given how the JIT code looks I would expect your code to fail to run if verification is enabled. In your case verification is probably disabled and then the security aspect is irrelevant.

[2016-03-21 09:15] rolfik opened #3836 "TypeLoadException without any type information"
I am working on new UWP application using .net core libraries generated from xprojs.

Recently after some more changes I have got stuck with TypeLoadException without any information about type being loaded while debugging.

See the attached image for more details:

![epos - typeloadexception with no type info](https://cloud.githubusercontent.com/assets/4658651/13914302/b6c41ed8-ef4d-11e5-9499-eb1

[2016-03-21 09:50] luisgarciaalanis opened #3837 "dotnet core does not run on elementary OS ubuntu 14.04 based"
Elementary OS Freya is ubunut 14.04 based, and it even uses ubuntu's repositories.

is there a way to tell the runtime to treat is as ubuntu 14.04?

dotnet restore
log  : Restoring packages for /home/luis/src/web/dotnet/test/project.json...
error: Microsoft.Win32.Primitives 4.0.1-rc2-23901 provides a compile-time reference assembly for Microsoft.Win32.Primitives on .NETStandardApp,Version=v1.5, bu

[2016-03-21 11:21] damageboy commented on #3834
I don't remember turning it off by force in any way,  the code snippet I
provided is pretty plain vanilla,  as you can see for yourself...

I verification on by default?

On Mon, Mar 21, 2016, 07:55 mikedn <notifications@github.com> wrote:

[2016-03-21 12:08] mikedn commented on #3834
Not really. It's on by default only in low/partial trust scenarios and those are kind of rare these days.

[2016-03-21 13:25] rolfik commented on #3836
After more investigation I have found the cause:

My main control set as content of UWP main window is this shell user control:

    public abstract class ShellBase :
        UserControl,
        IViewOf<ShellViewModel>
    {
        public ShellViewModel Model
        {
            get { return DataContext as ShellViewModel; }
            internal set { DataContext = value; }
        }
        IV

[2016-03-21 16:47] MichalStrehovsky opened #3839 "Support multi-dim arrays with the InitializeArray intrinsic"
`Compiler::impInitializeArrayIntrinsic` in `jit/importer.cpp` has an early out for multi-dimensional arrays.

[code]

It would be nice if RyuJIT supported this. It would bring it to parity with the C++ codegen backend
 used for .NET Native for UWP apps.

[2016-03-21 16:49] MichalStrehovsky commented on #3839
If the @dotnet/jit-contrib team agrees, we might want to tag this as "up-for-grabs". From my uneducated look, this doesn't seem too difficult to implement.

[2016-03-21 17:02] mmitche commented on #3805
Awesome!

[2016-03-21 18:02] leecow commented on #3130
@rominator1983 / @erozenfeld, Windows 10 is currently the only platform where .NET Framework hotfixes are being pushed via Windows Update. Everything else will need a manual download and install.

[2016-03-21 18:12] rahku opened #3842 "use extended-length path prefix for output & error file names in CoreclrTestWrapperLib.cs"
We are hitting path length limit during helix runs. 63 Tests fail due to this.

[2016-03-21 18:26] RussKeldorph commented on #3839
@dotnet/jit-contrib

[2016-03-21 19:46] swaroop-sridhar commented on #3824
Yes, I spoke to Aditya on Friday, and got some pointers about what needs to be done.
I'm working on the first step #3772

[2016-03-21 19:46] dagood commented on #3763
Starting from https://github.com/dotnet/coreclr/issues/3664#issuecomment-198072221 downward I investigated this issue over there. I didn't come up with a way to solve it though. Basically it's a fusion mismatch where it expects the package version, gets the just-built corefx version, and doesn't like it.

[2016-03-21 19:56] gkhanna79 opened #3844 "Arm64: Test run start fails"
@jashook Can you please take a look?

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/arm64_cross_release_windows_nt/49/consoleFull

[2016-03-21 20:00] jashook commented on #3844
Ya I noticed this this morning. It should be up and running now but I need to figure out why this happened.

[2016-03-21 20:23] wtgodbe commented on #2037
https://github.com/dotnet/coreclr/pull/3809 should resolve this.

[2016-03-21 20:26] sejongoh commented on #3449
Fixed: https://github.com/dotnet/coreclr/pull/3655/

[2016-03-21 20:26] #3449 closed

[2016-03-21 20:47] stephentoub commented on #2037
This shouldn't be closed until we remove the ActiveIssue from the corresponding test.

[2016-03-21 20:52] gkhanna79 commented on #3708
@lt72 Please let me know if you have any questions about this.

[2016-03-21 21:21] AndyAyersMS opened #3848 "investigate inline code size outliers"
Now that we can measure the code size impact of individual inlines, we should look into cases where the size increase is unusually large.

For instance, [this table](https://gist.githubusercontent.com/AndyAyersMS/d2b22dbff7c69de35265/raw/2347298ac05f24f3547add0826e24e749b7a3de3/outliers.txt) shows inlines where the native size increase is above the 99.5th percentile given the IL size of the inline

[2016-03-21 21:34] leemgs commented on #3805
@richlander , Can you support a hosting service for more effective communication of .net core Linux/ARM?

@benpye, Yesterday, I figured out that OneDrive (~15GiB) had supported the web storage space bigger than Dropbox (~2GiB). I am thinking to move to OnDrive insted of Dropbox as workaround at next release if we cannot find any volunteers that can support mass web storage.

\CC: @MyungJoo

[2016-03-21 22:06] cmckinsey commented on #3839
Sounds like a good idea. "Up for grabs" sounds right without a pressing customer scenario and test case to justify doing this work sooner. Is there a particular test case from .NET native UWP where you noticed this missing with RyuJIT?

[2016-03-21 22:20] CarolEidt commented on #3839
I think "up for grabs" sounds good, though it would probably be a non-trivial work item for someone not very familiar with the JIT. That said, I'm not sure there are other, more accessible, work items to designate as "up for grabs".

[2016-03-21 22:21] MichalStrehovsky commented on #3839
I noticed it on CoreRT. The .NET Native base class library doesn't have a fallback implementation of InitializeArray and relies on codegen to always expand it. A general purpose fallback implementation for a minimal runtime like CoreRT is relatively costly to implement (both in terms of size on disk hit from generating supporting data structures, and the amount of work to actually do it). We never

[2016-03-21 22:46] JohnChen0 commented on #3691
The test didn't time out when run manually. This is a long test that needs at least 256 seconds to run, so it might time out in an automated run if too many processes are competing for resources or if timeout isn't configured correctly. Moving to RTM as this doesn't appear to be an RC2 blocker.

[2016-03-21 23:11] #3750 closed

[2016-03-21 23:18] leemgs commented on #3454
@myungjoo , @chunseoklee , @benpye , @jkotas , @janvorli

Here is another issue of SOS-Plugin on Linux/ARM. I have tried to run `hello.exe `with LLDB + SOS-Plugin on Ubuntu/ARM 14.04 32bit in order to enable release mode of Linux/ARM as well as debug mode of that. At that time, I used the commit number  of CoreCLR+CoreFX that are released on Mar-17-2015 to apply the latest changes of LLDB + SOS-Pl

[2016-03-21 23:21] janvorli commented on #3412
Here is what happens. The `Newtonsoft.Json.JsonConvert.DeserializeObject` needs `System.Runtime.Serialization.Primitives` assembly. But it is not present, so it tries to throw the `FileNotFoundException`. It creates the exception object and then it wants to set the stack trace for it.
So it looks at the topmost frame of the exception stack trace, finds the `Newtonsoft.Json.JsonConvert.DeserializeO