[2018-06-08 21:51] Alois-xx commented on #18371
@mjsabby: I am sure if large pages would be a good thing for the GC since large page memory is not pageable anymore. It will lock the working set in memory and task manager will report a working set and commit memory which is 512 times too little.
Besides that I have found no perf gain when using large pages for the purpose of faster page faults.
See https://aloiskraus.wordpress.com/2016/10/03/win

[2018-06-08 22:02] Alois-xx commented on #18323
@ ajcvickers: Just a thought. These are all pretty deep call stacks with async await inside it. Could the thread ran out of stack space at the wrong place to cause this? Memory dumps should give more clues what went wrong.

[2018-06-08 22:07] danmosemsft commented on #18323
@AndyAyersMS do you have any suggestions for making progress on an InvalidProgramExceptoin that only sporadically occurs in production? What causes such an exceptoin, bad IL?

[2018-06-08 22:27] #18321 closed

[2018-06-08 22:27] AndyAyersMS commented on #18323
Could be invalid IL, yes. Given the variety of stack traces I wonder if the underlying problem is something low level.

Do we know if these these runs had profilers attached when they crashed?

[2018-06-08 22:33] AndyAyersMS commented on #18332
Re-opening to track port of fix to 2.1.

[2018-06-08 22:55] bartonjs opened #18386 "GC Heap Compaction should clear the source data"
During GC heap compaction a copy of data is made.  In cases where there was no practical way to pin data (e.g. a returned `byte[]`) it isn't possible to ensure that the data has been adequately cleared because of the extra copy created compaction.

Having the GC clear the memory on compaction improve the security of applications for which heap dumps and in-memory probes are within their scope of t

[2018-06-08 23:02] chrarnoldus commented on #18323
We have the Application Insights extension installed in App Service, which attaches a profiler occasionally, so I guess it could be. I am not seeing any profile traces from around the last time we saw the crash, however.

[2018-06-08 23:08] AndyAyersMS commented on #18361
We're going to keep looking at this too -- while we don't expect tiering to improve perf, we also don't want to see it degrade perf.

[2018-06-08 23:15] jkotas commented on #18371
@Alois-xx We do know that TLB is a bottleneck for very large workloads in some cases and we believe that this option can help mitigate it. This feature is not for everybody. It is unlikely to going to be enabled by default because of the issues you have mentioned.

[2018-06-08 23:18] BruceForstall commented on #6555
These are all marked `<GCStressIncompatible>true</GCStressIncompatible>` so are not run under gcstress. I'm going to close this assuming that means "incompatible" and not "failing due to unknown bug".

[2018-06-08 23:18] #6555 closed

[2018-06-08 23:30] BruceForstall commented on #5674
@AndyAyersMS I'm inclined to close this under the assumption that we have good arm64 (and other arch) coverage in Jenkins now. Comments?

As for the the question about `COMPlus_GCStressOnDirectCalls=1`:

- is it important?
- if so, why is it not the default?
- if so, should we always set it, or should we add a new CI job for it? (in combination with ???)

[2018-06-08 23:31] BruceForstall commented on #6065
Closing old arm64 GCStress bugs. We have CI automation for these, and will monitor that for failures/regressions.

[2018-06-08 23:31] #6065 closed

[2018-06-08 23:32] BruceForstall commented on #6066
This passes now.

[2018-06-08 23:32] #6066 closed

[2018-06-08 23:33] BruceForstall commented on #6067
Passes under gcstress 0xc

[2018-06-08 23:33] #6067 closed

[2018-06-08 23:34] BruceForstall commented on #6068
Closing this obsolete meta-issue.

[2018-06-08 23:34] #6068 closed

[2018-06-09 00:11] AndyAyersMS commented on #18361
Using my homegrown [instruction retired explorer tool](https://github.com/AndyAyersMS/InstructionsRetiredExplorer), I see the following profile breakdown (per-method counts are exclusive instructions retired).

[code]
So it looks like the rejitted code is getting run and the tier0 code gets swapped out, but there are a bunch of IP hits in code blocks that do not map to any managed method or native

[2018-06-09 01:32] BruceForstall commented on #10111
These tests still fail.

[2018-06-09 01:35] BruceForstall commented on #8648
@mikedn @briansull Any thoughts on what should be done about this now? It does appear to be the cause of several issues, including #10111.

[2018-06-09 01:41] BruceForstall commented on #10115
@sdmaclea These don't fail for me on Windows arm64. Can you check again for Linux?

I've opened a PR to remove their exclusion on Windows.

[2018-06-09 05:44] borrrden opened #18396 "Build fails when using enable sanitizers script"
Disclaimer:  The reason I am trying to do this is so I can run an ASAN enabled native library that I heavily use with P/Invoke.  However it seems if I don't compile coreclr with the same ASAN enabled the arguments from C# get turned into garbage on their way into C++.  If this should not the case, then please inform me.

Building against the v2.1.0 tag

I'm running following the instructions I fou

[2018-06-09 06:15] borrrden commented on #18396
Ubuntu 18 works so maybe Ubuntu 14's ld is too old.

[2018-06-09 06:45] mrange commented on #18361
Somewhat offtopic but I am trying to recreate the push streams in C# in order to test your feedback that the F# IL code eliminated the possibility for the jitter to inline virtual calls.

My theory is that I could get the C# compiler IL closer something that could be inlined.

However, I can't get the performance numbers even close to F# when trying to replicate the the push streams in C# (3x slow

[2018-06-09 08:20] NMSAzulX opened #18399 "StringBuidler support Offset(int length)"
New API:
[code]

Use:
[code]

[2018-06-09 11:15] voinokin opened #18400 "Question: Which rules CLR JIT uses to place VZEROUPPER ?"
Which rules CLR JIT uses to place VZEROUPPER, and how do I opt-out ?

The live example is - one flavor of distribution sorting algorithm uses insertion sort subroutine for basic case sorting of small buckets, and it gets called quite often esp. for of 2- and 3-record cases.  The insertion sort subroutine itself is highly optimized - it uses SIMD registers (XMMs in my case), HW intrinsics and just

[2018-06-09 12:00] stephentoub commented on #18399
I don't understand... what's the purpose of this proposed meeting?

[2018-06-09 16:11] AndyAyersMS commented on #5674
Agree we can close this. `GCStressOnDirectCalls` is now always on by default: see #8241 (though it evidently can be improved -- see large comment block above `GCCoverageInfo::SprinkleBreakpoints`).

We should remove the option as it doesn't do anything.

[2018-06-09 17:11] #5674 closed

[2018-06-09 18:33] stakx opened #18401 "C# `in` parameter modifier: Should I be able to create a delegate for a method with non-matching signature?"
While working on Moq (https://github.com/moq/moq4/pull/625), I've run into something strange: It appears that the runtime does not match signatures properly when creating delegates through e.g. `MethodInfo.CreateDelegate`. It appears that custom modifiers aren't taken into account at all:

[code]

I can create a delegate with signature `void(in AttributeTargets)` for a method with signature `void(

[2018-06-09 18:52] Alois-xx commented on #18371
@mjsabby: Thanks for additional context. I was under the impression you wanted to change the allocator for the GC in general. For special workloads this can be ok. Do you have performance numbers how much you can gain from enabling large pages? What are large workloads for the GC in this context where it can make sense to use large pages? I know about TLB misses in theory but unless you look with

[2018-06-09 19:12] #10115 closed

[2018-06-09 20:15] Jorenkv commented on #17818
Three suggestions:

1.  Change the generic constraint on the `System.Runtime.Intrinsics.VectorXXX<T>`  declarations to `where T : unmanaged` so we can declare pointers to these types.

2. (Depends on #1) Let the intrinsics for instructions that accept memory locations use VectorXXX<T>* in their parameter types when fitting. E.g. `Sse.LoadVector128(Vector128<float>* address)`, and `Sse.LoadHigh(Vec

[2018-06-09 20:40] #17909 closed

[2018-06-09 21:05] tannergooding commented on #17818
@Jorenkv, for 1/2, unfortunately `Vector128<T> where T : unmanaged` only lets you take the address of `T`. It does not let you take the address of `Vector128<T>`: https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxASwDZICYgNQA+AAgAwAERAjANwCwAUA0QMxkCuAdlBAGZxmwEbAMYwyANTiiA9gkoAmABwAeACoA+BgEgA7gAtE/VWRDsOkDhADmcbAwDe2lhKkxZCxQApjANwgY2OABKBjIwskd6cLItVQAqMgAHcX9AsgBeMgAyPwC4OijwgF9Q8NKw5yoANgoAFjJVOFhPS

[2018-06-09 21:16] pentp commented on #17818
`ref/out` parameters are needed to avoid pinning - if for example `Math.DivRem` were to be implemented by calling an intrinsic, then with only pointer overloads it would require either pinning the `out int result` parameter or declaring a local and copying the result out from there, neither of which add any value and are totally avoidable with `ref/out` overloads.

[2018-06-09 21:17] saucecontrol commented on #17818
Some unsafe is probably a given, but with `Span<T>` it's becoming more possible to avoid pinning and raw pointers.  I posted this example in the coreclr gitter a couple of days ago

[code]

[2018-06-09 22:07] tannergooding commented on #17818
Right. But it would also be good to understand whether or not that represents the normal type of code that would be executed.

Generally speaking, you shouldn't be `pinning` variables in each call anyways. You should pin the outer array once, perform some vectorized algorithm over the entire array (or some subset of the array), and then unpin. In this case, any overhead from pinning should basical

[2018-06-09 22:14] Jorenkv commented on #17818
@tannergooding My mistake, I thought the pointer would be possible. Seems strange that `struct Vector128Float` qualifies as an unmanaged type but `struct Vector128<float>` does not, but I guess that's the world we live in.

For the `ref` thing, I don't have a specific scenario in mind, I just felt it would be nice if the API was usable without much (or any) unsafe code so I thought I'd throw it ou

[2018-06-09 22:17] saucecontrol commented on #17818
I actually did do some benchmarking, and you're absolutely correct.  I always pin in the outer loop and pass pointers around today.  I was hoping I could use `Span<T>` to tidy things up and eliminate some of the pinning I do, but even doing questionable pin-less `Unsafe.AsPointer<T>()`, perf is still worse than what I get with pointers.

That said, I think there will be cases where at least for Lo

[2018-06-09 22:19] tannergooding commented on #17818
@Jorenkv, it is on the list of things to discuss :) (whenever we have the next design meeting).

But, like with everything, `unsafe` doesn't necessarily mean bad and `Span` or `arrays` doesn't necessarily mean good.

If it is a hot path, benchmark and profile to find out what works best for your app.

[2018-06-09 22:34] Jorenkv commented on #17818
One more question, to get an aligned buffer and avoid having to deal with pinning I was thinking I would Marshal.AllocHGlobal a block of memory, skip a few bytes at the start to get to a 32-byte boundary, and work with that. Any particular reason why this would be a bad idea? (Assuming we're doing this in moderation.)

[2018-06-09 23:08] AndyAyersMS commented on #18361
It's probably easier for me to prototype this in the jit.

The relevant check is here, where the jit is trying to evaluate what it knows about the actual type of an argument when inlining:
https://github.com/dotnet/coreclr/blob/911d332c523848023e3c6564788b72b7f419fca1/src/jit/importer.cpp#L18728-L18744
We just want to act like `argCanBeModified` is always false (at least for method in your test ca

[2018-06-09 23:27] saucecontrol commented on #17818
That was meant to be an example where the `ref` argument would have been useful.  I thought the 'oops' comment next to the `Unsafe.AsPointer()` call made it clear it wasn't good code, but yes, I agree nobody should use that.

I did find it interesting, though, that the JIT always marks that particular method Partially Interruptible in my testing.  If there were some way to guarantee that behavior,

[2018-06-10 00:16] jkotas commented on #18400
The rules are in a comment in front of `CodeGen::genVzeroupperIfNeeded`: https://github.com/dotnet/coreclr/blob/master/src/jit/codegencommon.cpp#L10235

[2018-06-10 03:57] #18399 closed

[2018-06-10 04:05] NMSAzulX commented on #18399
“1，2，3，”
I want to remove the latest ','

result:
“1，2，3”

[2018-06-10 04:09] jkotas commented on #18399
Replace `builder.Offset(builder.length-1);` with `builder.Length=builder.length-1` in your example. It will remove the latest.

[2018-06-10 04:12] jkotas commented on #18399
Another way to remove the latest character from StringBuilder is: `builder.Remove(builder.Length - 1, 1)`.

[2018-06-10 04:16] NMSAzulX commented on #18399
OK. Thank you~

[2018-06-10 05:26] jashook commented on #18226
I believe this is a dup of https://github.com/dotnet/coreclr/issues/17099.

[2018-06-10 05:36] jashook commented on #17099
For someone looking for a quick workaround in the future set COMPlus_SIMD16ByteOnly=1

[2018-06-10 08:06] voinokin commented on #18400
Thanks! According to the link:

To be precise the comment should tell not about mixing SSE and AVX code, but rather about mixing non-VEX and VEX-encoded code. VEX-encoded instructions operating on XMM as lower part of Y/ZMM register **DO IMPLICIT ZEROEING** of upper part and eliminate false data dependencies.
This link states example difference between handling of "Legacy SSE instruction" and "VEX

[2018-06-10 08:12] ashishnegi commented on #18342
@mikem8361 I want to add that this problem of symbols not loading happens when crash is in the native code.

We use interop code to c++. If c++ layer aborts, then symbols fail to load for core dump. It's difficult to find which managed api and arguments caused the crash.

[2018-06-10 09:12] voinokin commented on #18400
Related: #18144

[2018-06-10 11:18] benaadams commented on #18400
... moving on to latest being

[2018-06-10 14:18] ashishnegi opened #18405 "Transition from .Net Framework to Coreclr : Moving from GACed Dlls"
We are porting our SDK from .NET Framework to Coreclr.

As a platform, we have SDK and runtime c# dlls. Most of them are nicely segregated. However, the bridge library between SDK and Runtime: A.dll is GACed in .Net Framework. Apps from SDK version X can run on cluster version Y where Y >=X. So, we get latest (Y) version of Dlls A always on cluster’s platform.

Problem:
There are classes in sdk dl

[2018-06-10 15:15] jcemoller commented on #18323
Just upgraded one of our web apps from 2.0 to 2.1. Locally all runs fine. After deploying to Azure App Service the following error occurs on startup:

[code]

Seems related to the other errors reported above. After manually restarting the App Service, the error went away. If this would happen again, I'd be happy to help debug this issue. Could anyone please advice on how to produce a proper memory

[2018-06-10 16:03] AndyAyersMS opened #18406 "Inlining and explicit tail calls"
We should re-examine the logic the jit uses for inlining in the presence of explicit tail calls (calls with a `tail` prefix). Currently the jit won't inline any method that is explicitly tail called

https://github.com/dotnet/coreclr/blob/7e215941c8d6a68fa52f98bb8fd2a419d8a1ef5d/src/jit/importer.cpp#L18943-L18949

or any method that makes an explicit tail call:

https://github.com/dotnet/coreclr/b

[2018-06-10 16:03] AndyAyersMS commented on #18361
Hmm, turns out to be not all that interesting on its own -- devirtualization kicks in but inlining is blocked because the jit won't inline methods with `tail` prefixes...
[code]
...and trying to alter that aspect of jit behavior is not so simple. It is probably worth re-examining the jit's logic for inlining in the presence of explicit tail calls (#18406).

Local measurements for just the `trivial

[2018-06-10 16:18] danmosemsft commented on #18323
Well a quick repro has got to help. @avickers so you know how to debug in Azure App Service? Also, @jkotas any suggestion of what to break on?

[2018-06-10 16:20] danmosemsft commented on #18323
@jcemoller if you can repro immediately at startup, is any reduction feasible eg removing extensions, dependencies, simplifying code in a binary search fashion? If we could get this to repro over here it would obviously help.

[2018-06-10 16:31] danmosemsft commented on #18323
Sorry @avickers. I wish autocomplete of names worked in the mobile site . Usually I switch to desktop site just for this purpose.

[2018-06-10 17:17] mikem8361 commented on #18342
I think your main problem is that the dotnet host program on the machine you load the dump on is a different version  than the one it was generated hence the different build ids.  lldb can't figure out the module list (see "target modules list").  SOS won't work then.

Q1: I'm not sure if there is a way in lldb to force a load of dotnet symbols. "target symbols add dotnet" might work.

Q2: We work

[2018-06-10 18:04] AndyAyersMS commented on #18361
A bit more hacking and I can get `trivialTest@66:Invoke(int):ref:this` to inline... inlining below that point is now blocked because this method makes a virtual call via its field. Even though we see the ctor above we can't propagate info down.

Perf improves slightly:
[code]
Odd tiering perf might be from using a CHK jit -- it will be slower to rejit and so the faster tier1 code won't get patched

[2018-06-10 20:56] mrange commented on #18361
Interesting. I remember seeing some code in improved `seq` module that aimed to turn off `.tail` attribute. Never understood why they bother but now I see it might be to allow inlining.

[2018-06-10 21:36] mrange commented on #18361
Clarification; .NET 4.7.1 and dotnet core shows the same behavior when surpressing tail calls.

With tail calls:

[code]

Tail calls surpressed

[code]

[2018-06-10 22:20] AndyAyersMS commented on #18361
The tail call stuff was done on top of the hack to get devirtualization working. I haven't looked at it in isolation (and it's currently even more hacky than the devirt change, so not even worth sharing out yet).

[2018-06-10 22:37] jkotas commented on #18405
Could you please tell us more about your platform so that we can understand the problem better:
- Does the problem you are describing exist for the applications built using your platform as well; or is there something special about your SDK that makes it fundamentally different from applications?
- Do applications built using your platform depend on just the runtime .dlls? How are you planning to

[2018-06-11 01:01] tannergooding opened #18407 "Move the HWIntrinsic Load/Store operations to use GenTreeIndir nodes"
Currently, the x86 Hardware Intrinsics handle the load/store operations directly. This was done both for quick bring up and in order to easily represent the various new memory operation types.

However, it would be ideal if we could merge this functionality back in with the normal Indir handling that already exists.

[2018-06-11 01:03] tannergooding commented on #18407
FYI. @CarolEidt, @briansull, @AndyAyersMS

We had a meeting about this back in April. However, I can't seem to find the write-up summarizing the decided plan.

IIRC, we had determined that we would need a new class, which extends from GenTreeIndir, that would allow us to track all the new operation types (non-temporal, aligned, unaligned, scalar, vector, etc).

[2018-06-11 01:07] tannergooding commented on #18400
CC. @CarolEidt.

Given that this does only impact interop code that executes SIMD, maybe we could allow the user to explicitly opt-out of having these emitted by default (they could then emit it themselves via an explicit intrinsic)?

Another idea would be to only emit this before or after interop call-sites.

[2018-06-11 02:59] jkotas opened #18408 "Bad codegen + Assertion failed 'varDsc->lvIsParam'"
Repro:

Compile with `/o+`:

[code]

Result:

On debug/checked Windows x64 build, this fails with:

[code]

[2018-06-11 03:02] jkotas commented on #18408
On release build, this generates bad code (the repro does not show the bad code - I am hoping that the assert will be enough for you to make progress).

CoreRT is hitting this assert / bad code in number of places. We cannot pick up a new RyuJIT for CoreRT until this is fixed.

[2018-06-11 03:04] jkotas commented on #18408
cc @dotnet/jit-contrib This is recent RyuJIT regression. It was not there on 4/28/2018.

[2018-06-11 03:54] jkotas commented on #18323
Break when InvalidProgramException is thrown and capture dump at that point that can be investigated.  If running under debugger is not an option, you can subscribe to `AppDomain.CurrentDomain.FirstChanceException`, call `Environment.FailFast` immediately if the exception throw is `InvalidProgramException`.

https://blogs.msdn.microsoft.com/kaushal/2017/05/04/azure-app-service-manually-collect-mem

[2018-06-11 04:36] chrarnoldus commented on #18323
@jkotas as I mentioned I have dumps. How do I go from there?

[2018-06-11 06:21] mrange commented on #18361
If I have understood you correctly tiered compilation doesn't improve sustained performance compared to the default setting then the purpose for tiered compilation is improve startup performance?

For a "large" program (10+ MiB) what kind of improvements have you seen?

[2018-06-11 08:10] davidchisnall commented on #12246
On FreeBSD, there is no IPI for page table updates on AArch64.  The architecture guarantees that these are visible to the other cores via the normal cache coherency protocol, so an IPI is redundant.  FreeBSD also currently lacks a membarrier system call, though that is probably something that needs fixing.

[2018-06-11 10:28] jlwSL commented on #18332
Thank you for the detailed explanation @AndyAyersMS  and thank you for reacting so quickly to this bug report. You and everyone working on .NET Core are doing such a fantastic job!

[2018-06-11 10:33] mateusrodrigues commented on #18067
Hi, everyone! An update on the progress of the port:

I managed to bootstrap the .NET SDK for FreeBSD using @janvorli's [script](https://github.com/dotnet/source-build/blob/dev/release/2.1/Documentation/boostrap-new-os.md) with all native components building and it's available [here](http://distcache.FreeBSD.org/local-distfiles/dbn/dotnet/dotnetcli-freebsd.11-x64.zip). Here are some observations a

[2018-06-11 11:37] gfoidl commented on #18400
When looking for a solution to this, it has to kept in mind that `A` might interop with `B`, and `A` doesn't know something about the internal working of `B` -- i.e. whether `B` uses SIMD or not.

Therefore with

it may be on the safe side.

[2018-06-11 11:46] mikedn commented on #18400
Yes, there are other cases - crossgened code. Crossgen only uses non-VEX SSE so such transitions are possible without involving interop.

Yes, at runtime the JIT always generate VEX/non-VEX code. At least in the today world where there's a single JIT. If an alternative JIT is ever used then things could be different. Though it wouldn't make much sense to have 2 JIT that behave differently in this

[2018-06-11 11:53] voinokin commented on #18400
Do you mean that JIT can produce both VEX and non-VEX code mixed on the same machine within the same process instance ?

[2018-06-11 12:18] zvirja commented on #18401
Notice, this issue might lead to the critical language contract violation:
[code]

You might expect that test should pass, but it fails:
[code]

The most upset part is that we are not using some very low-level features of .NET (like IL emit), but rather a simple reflection and it's very bad that now we cannot fully trust when passing the `in` value.

[2018-06-11 12:56] gordon-matt opened #18410 "FileNotFoundException being thrown for assemblies that are in fact present or even when loaded into AppDomain"
I have a small .NET Core app I am writing which reads all types from an assembly and the XML comments from the corresponding XML comments file. I am facing a problem with loads of **FileNotFoundException**s being thrown when a method, constructor or whatever is using a type that comes from another assembly (example: `SelectList` from `Microsoft.AspNetCore.Mvc.ViewFeatures`). So when trying to get

[2018-06-11 14:29] #18370 closed

[2018-06-11 14:44] sdmaclea commented on #12246
That statement is possibly a bit over generalized.  When invalidating a valid page table entry, a TLB invalidate is certainly necessary.  The coherency protocol certainly does not guarantee the TLB is updated.

[2018-06-11 14:47] eerhardt commented on #18067
It appears the compiler (`Csc` or `"Roslyn"`) is hanging during `dotnet build`.  Can you try invoking it directly to see if it works in isolation?

`/usr/home/mateus/git/source-build/scripts/bootstrap/freebsd.11-x64/dotnetcli/dotnet /usr/home/mateus/git/source-build/scripts/bootstrap/freebsd.11-x64/dotnetcli/sdk/2.2.100-preview1-008958/Roslyn/bincore/csc.dll`

That should print a message asking fo

[2018-06-11 15:01] sdmaclea commented on #18285
This one failed this weekend in one of the gcServer=1 runs
[code]

[2018-06-11 15:08] sdmaclea commented on #18285
Last night the DynamicMethodGCStress failed again with the same signature except this time it was in the gcServer=1 forcerelocs=1 run.

[2018-06-11 15:29] sdmaclea commented on #10115
@BruceForstall I see no issue on linux-arm64 either

[2018-06-11 15:36] sdmaclea commented on #17570
@BruceForstall Looking briefly at the code, I didn't see any obvious test design issues.

As far as I can see now, the gsStress race issues are fixed for linux-arm64.  You may want to see if these still have issues on arm32.

[2018-06-11 15:49] CarolEidt commented on #18400
@mikedn has it correct that we need to be concerned with crossgened code as well as interop.

One option to consider, in addition to, or instead of an "opt out" approach would be to emit only the vzeroupper instructions before & after interop call-sites when `COMPlus_ZapDisable` is set. That forces all methods to be JITed which would avoid the problem with crossgen.

[2018-06-11 15:51] sdmaclea commented on #18285
Looking briefly at the DynamicMethodGCStress test configuration.  The shell scripts also set gcStress=0x3.

So this is a gcServer=1 gcStress=3 issue.

[2018-06-11 16:01] jkotas commented on #18400
Or when tiered JIT is on? All hot code is going to be redone with tiered JITing.

[2018-06-11 16:21] stakx commented on #18401
Small P.S.: This issue isn't exclusive to reflection. You can also recreate the situation in pure IL (i.e. use `ldvirtfn` to get a function pointer, then pass it to a (incompatible) delegate's ctor with `newobj`).

[2018-06-11 16:30] mikedn commented on #18238
I took a closer look at this and this caused by `optNarrowTree`. It's handling of `GT_CAST` pays attention only to type sizes and concludes that the tree can be narrowed because `short` and `ushort` have the same size:

https://github.com/dotnet/coreclr/blob/422b0e81797d5428812c6ef825e22565e2dc63f3/src/jit/optimizer.cpp#L5830

This is correct with respect to the parent XOR node that can be narrowe

[2018-06-11 16:44] jeffschwMSFT commented on #18410
@gordon-matt thanks for reaching out on this issue.  Getting this sort of plug-in model working on .NET Core is not straight forward and we are actively looking into how to make it easier.  If you have other feedback we are interested in hearing.
In this particular case, the missing piece is to add an assembly resolve event so that dependent assembly loads are found.  Code similar to the following

[2018-06-11 17:23] BruceForstall commented on #18259
@dotnet/jit-contrib

[2018-06-11 17:26] jkotas commented on #18401
I do not see the text you have quoted in the current edition of the ECMA spec: http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-335.pdf

I specifically says that the custom modifiers are not considered for assignment compatibility in section I I.14.6.1 Delegate signature compatibility:

The delegate-assignable-to relation is defined in terms of the parameter types, ignoring the th

[2018-06-11 17:30] mateusrodrigues commented on #18067
Looks like shared compilation is the problem. I altered the `.csproj` file to what you suggested and it worked. Running `Csc` in isolation also works, by the way. So, what's the concept behind shared compilation and why wouldn't it work?

[2018-06-11 17:31] jkotas commented on #18401
I am sympathetic to your concern and I wish we did not have discrepancies between the C# language and runtime like these. We ended up with several of them recently because of there was a strong desire to make new C# language features work on existing runtimes. We are reevaluating this strategy going forward.

cc @MadsTorgersen @jaredpar

[2018-06-11 17:32] sandreenko commented on #18226
Yes, thank you. Closed as dup.

[2018-06-11 17:32] #18226 closed

[2018-06-11 17:41] eerhardt commented on #18067
The `shared compilation` is a process that hangs around longer than just the current compilation request. It is an optimization feature of the compiler to reuse the same process for multiple compilation requests, that way the process already has all the assemblies loaded, and is "warmed up".

I assume something in the inter-process communication (sockets or pipes? - I'm not sure which is being use

[2018-06-11 17:44] agocke commented on #18067
A debugger would be useful, but I presume that's not easily available on FreeBSD. We do have an environment variable, `RoslynCommandLineLogFile` which can be set to a path and then the client and server will write a log to that path. That's probably your second best option.

[2018-06-11 17:46] stakx commented on #18401
@jkotas - Many thanks for replying. I can appreciate the difficulties of mapping new language features onto the runtime.

It would be good however to get a statement from you folks whether you see this as a bug (which will likely get fixed whenever&mdash;I'm not even asking for a timeline here) or whether it should be considered new behavior that's going to stay that way, so that we can plan accor

[2018-06-11 17:46] hvanbakel opened #18413 "Potential incorrect optimization leading to AccessViolationException"
So we've been running into an issue where the runtime seems to be assigning the wrong value to a parameter leading to an `AccessViolationException` being thrown.

The issue occurs in a docker container (based on `microsoft/dotnet:2.0-runtime`) running on Linux and doesn't occur on Windows. The code in the callstack in the image was compiled in Release configuration. It seems to have assigned the f

[2018-06-11 17:48] wfurt commented on #18067
sos plugin should work as well as 'truss' as equivalent of strace.

[2018-06-11 17:50] wfurt commented on #18067
BTW is there any OS specific code in Roslyn @agocke? I had to make some fixes in msbuild last year as it did not handle unknown (FreeeBSD) platform well.

[2018-06-11 17:51] stephentoub commented on #18067
Either that (likely NamedPipeClient/ServerStream, which uses unix domain sockets), or some interaction with Process, which also has a lot of Linux-specific and macOS-specific code.

[2018-06-11 17:56] wfurt commented on #18067
I can try to run NamedPipe corefx tests. Process management is new for FreeBSD .. and there can be some bugs.

[2018-06-11 17:57] jkotas commented on #18401
This is design bug. Design bugs are hard to fix - I think it is unlikely to be fixed.

[2018-06-11 17:59] agocke commented on #18067
I think most of our Linux behavior checks should be POSIX compliant. I would expect the named pipe stuff to be far more fragile.

[2018-06-11 18:02] agocke commented on #18067
One thing that has caused hangs in the past is handles being inherited that are then waited on by one of the child processes. I believe the chain required three nested processes, where the innermost was waiting on the outermost, or something similar. On Windows we call CreateProcess with P/Invoke to prevent dangling handles. On Unix we can't P/Invoke, so we try to redirect I/O in every subprocess,

[2018-06-11 18:15] janvorli commented on #18067
One more thought - if Roslyn uses named mutexes for cross process synchronization, there can potentially be an issue in those. We use robust mutexes on platforms where they are available and file locks where they are not. I'm not sure what is the way we use on FreeBSD (the HAVE_FULLY_FEATURED_PTHREAD_MUTEXES symbol is defined during cmake config phase to indicate that).

[2018-06-11 18:18] agocke commented on #18067
We also use named mutexes, so that's another thing to check.

[2018-06-11 18:20] wfurt commented on #18067
Would that be covered by PAL coreclr tests @janvorli

[2018-06-11 18:20] mikedn commented on #18401
IMO it would be useful to clarify what you mean by this. With or without this issue, you really cannot trust that a method that takes an `in` parameter does not modify that value.

[2018-06-11 18:26] wfurt commented on #18067
[code]

[2018-06-11 18:53] stakx commented on #18401
@jkotas - Thanks for letting me know. I'm going to leave this issue open for a few more days, in case anyone else wants to discuss this further. After that I'll close it.

[2018-06-11 19:07] leculver commented on #18323
Sorry for the delay.  @chrarnoldus, can you please file an issue via https://developercommunity.visualstudio.com ?  Go to the website, click ".NET".  Then "Report a Problem", and create an issue.  Please upload the crash dump you have collected as an attachment to that ticket.  (Be sure to zip the .dmp file as they tend to compress well.)

Also note that the attachment size through the website is

[2018-06-11 19:10] janvorli commented on #18067
Yes, there is a PAL test for that.

[2018-06-11 19:15] jakobbotsch commented on #18238
This one is quite interesting:
[code]

In 32-bit and 64-bit .NET Core, the results are as described by the top comments. However in 32-bit .NET Framework (using JIT32), the results are the opposite: In debug, the program prints -49 and in release, the program prints 65487 (the correct result). Should I open a separate issue for this? I am unsure where to report JIT32 bugs.

[2018-06-11 20:01] mateusrodrigues commented on #18067
Guys, check this one out: https://github.com/mateusrodrigues/gsoc18-progress/blob/master/dotnet/CoreCLR.md#pal-tests.

I ran the CoreCLR PAL tests and there's one that fails: `threading/NamedMutex/test1/paltest_namedmutex_test1. Exit code: 1`. I guess this is our guy?

[2018-06-11 20:03] janvorli commented on #18067
Yes, that's likely it then. This is the test for the mutexes I was talking about.

[2018-06-11 20:24] AndyAyersMS commented on #18413
I'm not sure if the debugger view can be entirely trusted here, as debug emission for release builds is done on a best-faith effort.

A couple things to try to help narrow things down:
* does this error happen deterministically?
* does the error reproduce in debug builds?
* does the error reproduce if you run release and set `COMPlus_JitMinOpts=1`?

[2018-06-11 21:12] chrarnoldus commented on #18323
@leculver the link is https://developercommunity.visualstudio.com/content/problem/271142/invalidprogramexceptions-in-net-core.html. The dumps are inside the .diagsession files. Please e-mail me for the password (these dumps are from a production app).

[2018-06-11 21:29] #18367 closed

[2018-06-11 21:40] danmosemsft opened #18420 "Make a pass to remove dead strings from mscorrc.rc"
Some strings in [mscorrc.rc](https://github.com/dotnet/coreclr/blob/master/src/dlls/mscorrc/mscorrc.rc) seem to be dead. eg
`IDS_SERIALIZATION_NONFREEZABLE_TYPE` `IDS_EE_IJWLOAD_CROSSVERSION_DISALLOWED` `IDS_EE_TORNSTATE` `IDS_CLASSLOAD_SH_SUBCLASS_FINALIZER`

It should not be too hard to write a script that removes any strings whose identifiers only appear in mscorrc\mscorrc.rc and mscorrc\resour

[2018-06-11 21:59] pentp commented on #12605
So I finally found test cases for this bug while writing [new tests](https://github.com/dotnet/corefx/pull/30291) for https://github.com/dotnet/corert/pull/5926.
`5.94499443m % 0.0000000000000000000000000007m = 0.0000000000000000000000000005m` but returns `0.0000000000000000000000000002m` because the constants have scale 27.

The current `Decimal.Remainder` implementation does several intermediate

[2018-06-11 22:06] AndyAyersMS commented on #18361
Apps that rely heavily on prejitted code will see faster startup **and** better steady state performance. For example, on the ASP.Net sample music store app, about 20% faster first response, and 20% better overall throughput. In charts below, lower is better (y axis is time), and green line/dots are from runs with tiered jitting enabled.
![image](https://user-images.githubusercontent.com/10121823/

[2018-06-11 22:09] stakx commented on #18401
(Actually, I do have one more thing myself, @jkotas:)

(This doesn't look like a discrepancy between C# and the runtime. You can take C# out of the picture completely. This seems like a runtime-only defect, it doesn't appear to perform strict-enough signature matching.)

[2018-06-11 22:10] jkotas commented on #12605
This is fine. We are not worried about fixing a clear correctness bugs like these in .NET Core. We are not aiming for bug-for-bug compatibility between .NET Core releases.

[2018-06-11 22:27] jkotas commented on #18401
The ECMA spec says that the custom modifiers are not relevant for delegate-assignable-to. This sentence was written in the spec intentionally, not by accident. The runtime works as intended if you take C# out of the picture.

BTW: It was always possible to change the value of `readonly` fields using reflection (in full trust environments). It is a similar design bug.

[2018-06-11 22:38] stakx commented on #18401
@jkotas - The *delegate-assignable-to* relation in ECMA 335 section II.14.6.1 is in fact what I was looking for. If I had come upon that section in time, I wouldn't have opened this issue at all. Thanks so much for pointing me to it.

[2018-06-11 22:38] #18401 closed

[2018-06-11 22:40] hvanbakel commented on #18413
The debugger window seems to be accurate given crashes we've seen without debugging that seemed to report just this. We attached a debugger because we were sure that had to be wrong since this is all static typed 😄 .

It is deterministic, just on a specific code path.
As to the debug builds, and the release build with a flag set, I'll get back to you on that.

[2018-06-11 23:19] gordon-matt commented on #18410
Fantastic! Thank you! The only comment I have really is that I think one of the default places it should look is in the same directory as the assembly that we are reading from. Isn't that how it worked in the older .NET framework (To look in GAC and current folder by default)? Obviously with .NET Core we don't use GAC because everything is a NuGet package now, but surely looking in the same folder

[2018-06-11 23:35] voinokin commented on #18145
Adding something mentioned in https://github.com/dotnet/coreclr/issues/18300#issuecomment-394772776

I believe these versions deserve their own overloads since conceptually they can be used on SSExx-only hardware which does not provide anything closer to implement "gather" and "scatter" operations (actually "scatter" only appears in AVX512, and anyway granularity is 32 or 64 bits IIRC):

---------

[2018-06-12 00:14] fiigii commented on #18145
Ah, actually I tried to find a better name for these guys but I thought there is no single word can explain the semantics very well, so just followed C++ names... Do you have suggestions?

`Store*` intrinsics take `source` as a parameter, so the different vector length can be resolved by the overload system, which makes the API simpler.

 The `Scalar` suffix only makes sence with floating point ty

[2018-06-12 00:22] fiigii commented on #18145
In the current design, we are avoiding exposing "memory-access **encoding**" as much as possible, and we plan to generate these encodes via containment optimization (i.e. merging ins(load(address)) or store(address, ins(...)) in a single instruction. I think it also works for scalar type containment (i.e., folding `a[i] = Sse2.ConvertToInt32(v)` to `MOVD [m], xmm`).

[2018-06-12 01:13] noahfalk commented on #18361
To tidy up one of the loose ends above, the unresolved addresses in the analysis of instruction retired events do look like Precode jmp instructions. In case anyone else needs to repeat the analysis what I did was:
1) add waiting for debugger at the end of the test app:

[code]

2) Take a trace and stop when the app waits for the debugger
3) After analysis is complete, attach windbg and dump the c

[2018-06-12 01:40] ArtBlnd commented on #18327
Can I see IR dumps before inlining?

[2018-06-12 01:58] noahfalk commented on #18137
You can take a look at the code around: https://github.com/bobuva/coreclr/blob/master/src/binder/applicationcontext.cpp#L251
This is the code path that the hosting APIs use to populate this map initially, so its good pattern to follow when trying to put new assemblies into the map.

You will need to do three things which that code does:
1) Calculate an assembly simple name from the full path
2) Al

[2018-06-12 02:21] Maoni0 commented on #18371
TLB misses are a very real perf problem and have been studied quite a bit. there are plenty of papers that reported investigations of (and various mechanisms to mitigate) perf impact of TLB misses. a casual search resulted in [1](https://www.cs.rutgers.edu/~abhib/binhpham-tr15.pdf), [2](https://www.cs.rice.edu/CS/Architecture/docs/barr-isca10.pdf), [3](https://blogs.technet.microsoft.com/virtualiz

[2018-06-12 02:58] #16497 closed

[2018-06-12 07:33] mikedn commented on #18238
Yep, the same `optNarrowTree` bug exists in JIT32 as well. It happens so that JIT32 manages to do constant folding (correctly) in release mode and hides the bug. Which then brings the question - why does JIT32 (and probably RyuJIT as well) attempts to do narrowing in debug mode...

Developer Community I'd guess - https://developercommunity.visualstudio.com/spaces/61/index.html

[2018-06-12 07:35] AndyAyersMS commented on #18361
Could we get the runtime to emit some kind of ETL record for the precode and similar? I noticed we have something like this under `FEATURE_PERFMAP`.

[2018-06-12 07:42] voinokin commented on #18145
For `[V]LDDQU` I suggest to use `LoadUnalignedVectorNNN` - explicitly stating that the operation is intended as special case of unaligned loads. (I believe it behaves just like `MOVDQU` on current CPUs though.)

Given this will work, still some unclarities remain with API:
1. Non-AVX version of `PMOVZX/SXBQ xmm, [m16]` - there is no single operation to assign-extend 2x8-bit values to vector to my

[2018-06-12 07:54] noahfalk opened #18428 "Add profiling events to describe stub code generated by the runtime"
One example of the issue came up when doing some investigation on tiered jitting here: https://github.com/dotnet/coreclr/issues/18361#issuecomment-396495131
In that case we were analyzing sampled instructions and trying to attribute them to code. Several of the instructions were within Precodes and there is no ETW information that correlates this.

At a broader scope as far as I know there aren't

[2018-06-12 07:55] noahfalk commented on #18428
cc @brianrob @vancem @kouvel @AndyAyersMS @tommcdon

[2018-06-12 08:03] noahfalk commented on #18361
Yeah, I don't see why not other than someone needs to set aside some time to work through it. I just created #18428 there to track it.

[2018-06-12 08:28] fiigii commented on #18145
`LoadUnaligned*` is not enough to express `lddqu` semantics. In x86 SIMD programming, `unaligned` is usually related to instructions like `movups`, `movdqu`, etc. So, that may be confusing...

[2018-06-12 08:36] voinokin commented on #18145
Then, the last remaining idea from me would be to extend existing LoadVector128/256(type* ptr) overloads with optional parameter so that it will become LoadVector128/256(type* ptr, bool forceUnaligned=false). Looks a bit ugly though....

[2018-06-12 08:40] mikedn commented on #18145
Perhaps `LoadUnalignedSplit*`. Though I tend to think that coming up with such fancy names for already established instructions/intrinsics does more harm than good. And `LDDQU` is kind of useless these days...

[2018-06-12 12:53] dozer75 opened #18430 "ArgumentException.Message and ParamName"
When an execption of type System.ArgumentException (or any inheritors) is thrown with paramName set it appends the text "Parameter Name: <paramName>" to the ArgumentException.Message (Ref [this](https://github.com/dotnet/coreclr/blob/1b32b2b795d52bd4bc00fd37efd528ef56b9d7af/src/System.Private.CoreLib/shared/System/ArgumentException.cs#L84)).

My opinion is that this "Parameter Name" addition has n

[2018-06-12 13:03] sanjayicy opened #18431 "Error : An assembly specified in the application dependencies manifest (switchclient.deps.json) not found: package'Microsoft.extension.dependencyInjection.Abstractions',version 1.1.0'"
Hi Guys,

I  am running my dot net core app in windows as well as linux. i am facing this error only on Linux(ubuntu) machine when i try to debug/run via visual studio code. I even tried to run with sudu command even it didn't worked.  Please  let me know if you have any suggestion.

Thanks,
Sanjay

[2018-06-12 13:39] danmosemsft commented on #18430
@dozer75 could you clarify why you prefer it not be in the message? I am not clear from above. The purpose of the message in my mind  is to quickly indicate WHAT  is wrong. (For this reason we have added the file path in many IO exception messages that lacked it.)  The ToString() is mainly to indicate also WHERE it went wrong, and any nested exceptions.

I do think it is odd that it is on a differ

[2018-06-12 15:19] jeffschwMSFT commented on #18410
Thanks for the feedback @gordon-matt, same directory certainly seems like a good default.  We have several issues active on the broader issue, I will close this one.

[2018-06-12 15:19] #18410 closed

[2018-06-12 15:44] bobuva commented on #18137
The plot thickens! Thanks @noahfalk.

[2018-06-12 16:49] #18353 closed

[2018-06-12 16:50] CarolEidt commented on #6266
Closed with #18358

[2018-06-12 16:50] #6266 closed

[2018-06-12 16:52] CarolEidt commented on #6265
Fixed with #18358

[2018-06-12 16:52] #6265 closed

[2018-06-12 16:55] CarolEidt commented on #6264
#18358 eliminated the unnecessary copy when passed on stack.
There are still cases where structs are copied unnecessarily when passed in registers.

[2018-06-12 16:57] CarolEidt commented on #6826
This was fixed with #18358

[2018-06-12 16:57] #6826 closed

[2018-06-12 17:20] CarolEidt commented on #2908
Closing this, as #18358 addressed the extra copies when passed on stack. #6264 remains open because it includes extra copies when passed in registers.

[2018-06-12 17:20] #2908 closed

[2018-06-12 17:20] AndyAyersMS commented on #18339
I'll take a quick look. Given that it is an x86 regression my guess it might be similar to what we see over in #16610.

[2018-06-12 17:37] hvanbakel commented on #18413
So the results of my additional tests:

1. Running a debug build -> still crashes
2. Setting the `COMPlus_JitMinOpts=1` as an environment variable in Docker -> still crashes
3. Removing the call to [LoggerMessage.Define](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/loggermessage?view=aspnetcore-2.1#loggermessagedefine) -> fixes the issue

To elaborate on #3, that was the call

[2018-06-12 17:55] AndyAyersMS commented on #18413
Since you still see crashes in debug and with minopts it is probably not a jit issue.

@davidfowl does this seems familiar to you at all? Any platform or docker specific issues you know of with logging?

[2018-06-12 18:13] fiigii commented on #18407
@tannergooding Are you going to implement this change? If yes, looks like `Avx2.Gather*` intrinsic work should wait for this, right?

[2018-06-12 18:19] tannergooding commented on #18407
@fiigii, I'll probably be one of the people who work on it.

It might be helpful if we had the overall plan for this completed first, as it is a more complex change.

Wondering if @CarolEidt or @briansull have the meeting notes/summary or if they remember what the overall decision here was 😄

[2018-06-12 18:22] tannergooding commented on #18407
I think it's probably fine to implement these using the current setup, as it will probably be completed first. We can move it to use GenTreeIndir along with everything else, en masse.

[2018-06-12 18:23] fiigii commented on #18407
Got it, thanks!

[2018-06-12 18:30] saucecontrol commented on #18339
Thanks, @AndyAyersMS.  I did some further optimization of that inner loop code in my main project that altered results slightly.  Don't know if it will help track down the regression.  Basically, I added more local variables to hold the data block being hashed.  Of course those end up getting spilled, but having them and the accumulator variables in the same stack memory area speeds things up slig

[2018-06-12 18:34] vancem opened #18434 "Make Line numbers work for crossgened DLLs when profiling with EventPipe"
Useing the 2.1 version of .NET Core, you profile a simple app .NET Core App o (e.g. a spin loop like)
[code]
Using EventPipe (e.g. set COMPlus_EnableEventPipe=1 and run the app) and then open the resulting *.netperf file, you will find that PerfView's 'Goto Source' feature works in the main program, attributing the cost to the correct source line.

However if you open up frames that are inside the

[2018-06-12 18:43] hvanbakel commented on #18413
@AndyAyersMS the fact that this is net core doesn't matter here, correct. Just making sure 😄, I looked at https://github.com/Microsoft/dotnet/blob/master/Documentation/testing-with-ryujit.md and that seems very NetFx only

[2018-06-12 18:48] fiigii opened #18436 "Move SSE/SSE2 Set[All]Vector128 helpers to JIT implementation"
The current managed implementation of SSE/SSE2 `Set[All]Vector128` helpers have some inefficient codegn (e.g., unnecessary zeroing semantics from `SetScalarVector128`). I will look into moving them to JIT-inside implementation.

cc @CarolEidt @tannergooding

[2018-06-12 18:53] BruceForstall opened #18437 "GC KeepAlive test incorrectly assumes GC activity"
tests\src\GC\API\GC\keepalive.cs is testing `GC.KeepAlive()`, but has incorrect logic that causes the test to fail in some GCStress + JitStress combinations (e.g., [here](https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_ubuntu_gcstress0xc_jitstress2_tst/11/consoleFull#-8536224876a086b3e-df04-41d2-bc4d-43e8f9406d07)).

Basically, the `Test:RunTest()` fun

[2018-06-12 19:08] leculver commented on #18323
I started taking a look at these last night, I'm continuing to work on them today.  I'll give you an update as soon as I have progress.  Thanks!

[2018-06-12 19:29] AndyAyersMS commented on #18413
.Net Core also uses RyuJit.

You still could be hitting a problem in the jit, but at this point I suspect it is something else.

[2018-06-12 19:30] AndyAyersMS commented on #18361
So does this summary seem accurate?

* This benchmark has a very high call to work ratio (in part because jit devirtualization and inlining aren't as effective as one might hope). This is true in both normally jitted and tier1 jitted code.
* Tiering is updating the key method bodies, but methods are called through precode even in tier1 code.
* The extra cost of calling through precode leads to slo

[2018-06-12 19:33] tannergooding commented on #18436
@fiigii, could you please provide examples of the inefficient codegen (using current master, as there were a number of improvements that just went in).

Given that these are helper intrinsics, they should be implementable in managed code, and if they aren't, then there are likely clear places where we should work to improve codegen instead.

[2018-06-12 19:46] AndyAyersMS commented on #18339
One would hope x86 is ~2x slower than x64 as primary data type is long/ulong. But no...

Looking at x86, 2.0 vs 2.1 there is a large size regression. Likely RA.

[code]
Suffice to say this is something of a torture test for an x86 allocator, leading to long stretches of stack shuffling:
[code]
The methods are too big to make sense of as is (especially given the semi-arbitrary IG breaks) so we shou

[2018-06-12 19:56] AndyAyersMS commented on #18339
@saucecontrol Unrolled hash computations are often difficult cases for the allocator because everything ends up highly interdependent. But clearly we have a lot of room for improvement on x86 both on a release/release basis and by comparison to where we are on x64.

Speaking of comparisons, do you have a native (C/C++) implementation that you use as a reference point? It also would be interesting

[2018-06-12 20:16] saucecontrol commented on #18339
Sure do.  There's a project called [Blake2.Bench](https://github.com/saucecontrol/Blake2Fast/tree/master/tests/Blake2.Bench) in that same repo that has comparisons with the [reference C version](https://github.com/BLAKE2/BLAKE2/blob/master/ref/blake2b-ref.c) called via PInvoke.  My C# version started out with about the same performance on x64, but after optimization, it's quite a bit faster.  Perf

[2018-06-12 20:56] noahfalk commented on #18361
Yeah, that feels like a good summary to me.

I don't think of it as tier1 has to have extra overhead, more that getting rid of that overhead entirely is non-trivial and likely won't give results that are as good as jit inlining. If the jit inlining is sufficiently hard and the scenarios are common/important for real world apps then I'd say we should invest. I hope jit inlining can be our 1st choic

[2018-06-12 21:03] hvanbakel commented on #18413
Just verified, switching the docker image over from
`FROM microsoft/dotnet:2.0-runtime AS final`
to
`FROM microsoft/dotnet:2.1-aspnetcore-runtime AS final`

Fixes the issue too.

[2018-06-12 21:43] AndyAyersMS commented on #3408
Running release build PMI jitting Microsoft.CodeAnalysis.CSharp.dll I see about 1.7% of the time in `PooledAllocator::destroy` (1.1% for a minopts run).

Am going to start looking at performance tradeoffs for using larger default page sizes.

[2018-06-12 21:45] AndyAyersMS commented on #3408
Scaling for time in spent jit, it's 1.8% for minopts...

[2018-06-12 22:03] peterhuene opened #18439 "Crash in coreclr when muxer/apphost path contains valid UTF-8 sequence"
## Steps to reproduce

On macOS 10.13 (with brew installed `wget`):

[code]

## Expected  behavior

`dotnet` should print out the SDK help.

## Actual behavior

`dotnet` segfaults:

[code]

Backtrace:
[code]

## Additional information

I've verified the argument to `UTF8ToUnicode` is valid UTF-8:

[code]

which is the expected `argv[0]` of:

[code]

It appears that it is treating part of the seque

[2018-06-12 22:14] borrrden opened #18440 "Loading shared asan library causes dotnet hang"
I'm trying to run the address sanitizer on Ubuntu 16.04 (the same one that is set up here with the enable sanitizers script) on a native library that I use via P/Invoke, however I notice that the `dotnet` CLI does not play well with it.  I don't think it is an issue with the actual executable loader shim, because the following command works

[code]

sysdig output:
[noargs.txt](https://github.com/d

[2018-06-12 22:15] BruceForstall opened #18441 "[arm/Ubuntu] crash under GCStress in test b65423.exe"
E.g., https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_ubuntu_gcstress0xc_zapdisable_tst/12/consoleFull#-5931779914b7730ef-150b-4be7-a00f-82ba6c50792b

[code]

I can repro this about 1/2 the time with just `COMPlus_GCStress=C`. I've never seen it take more than 4 runs in a row to reproduce. I can't reproduce the crash under GDB.

[2018-06-12 22:15] BruceForstall commented on #18441
cc @janvorli

[2018-06-12 22:55] BruceForstall opened #18443 "[arm/Ubuntu] JIT/Methodical/ELEMENT_TYPE_IU/_il_relu_fld/_il_relu_fld.sh failed in gcstress"
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_ubuntu_gcstress0xc_zapdisable_heapverify1_tst/12/consoleFull#-8536224876a086b3e-df04-41d2-bc4d-43e8f9406d07

[code]

`COMPlus_GCStress=0xc`, `COMPlus_ZapDisable=1`, `COMPlus_HeapVerify=1`

I could not reproduce this failure.

[2018-06-12 22:55] BruceForstall commented on #18443
Closing because no repro.

[2018-06-12 22:55] #18443 closed

[2018-06-12 23:05] RussKeldorph commented on #18439
@janvorli

[2018-06-12 23:13] saucecontrol commented on #18339
I don't know if this is useful or not, but I also have an implementation of the [Blake2s](https://github.com/saucecontrol/Blake2Fast/blob/master/src/Blake2Fast/Blake2sScalar.cs) algorithm in the main project in that repo.  It's the exact same thing but operates on uint words instead of ulong and does 10 mixing rounds instead of 12.

Method |           Job | Platform | IsBaseline |     Mean |     E

[2018-06-12 23:16] CarolEidt commented on #18407
Unfortunately, I don't seem to have taken notes, and I don't fully recall. However, my original thought was that we would put the flags (temporal, aligned, unaligned, scalar, vector, etc) on the addressing mode (with the possible exception of the scalar/vector distinction, which I would think would be carried by the type of the `GenTreeIndir` node). That would seem more logical to me. But it would

[2018-06-12 23:19] janvorli commented on #18439
The issue is that PAL should not use the generic new operator, since it makes it call to coreclr runtime where the new is implemented, thus creating a reverse dependency which hits us here. We need to fix that. I'll assign this issue to myself.

[2018-06-12 23:27] peterhuene commented on #18439
Is there a reason why it's trying to initialize the replacement fallback given the above UTF-8 sequence?  Other, similar UTF-8 sequences don't seem to trigger the bug.  I haven't set up source debugging, or I'd dig.

[2018-06-12 23:30] janvorli commented on #18439
I'll check that.

[2018-06-12 23:53] AndyAyersMS commented on #18339
Core 1.1 used the older "jit32" jit for x86, and Core 2.0 and later uses RyuJit.

Generally speaking this switch to RyuJit resulted in improved performance for x86. But not always.

I think the perf issues in the initial `long` version of your code that show up in 2.0 and 2.1 are related to how RyuJit handles the 64 bit `long` computations on x86. The main challenge here is that these need to be d

[2018-06-13 00:08] AndyAyersMS commented on #18361
We will certainly look at making the inliner more aggressive overall in Tier1, but I think we also need to make the inliner more capable.

Relatively soon I hope to start having the inliner take advantage of profile feedback, whether synthetic, via IBC or similar off-line channels, or from some in-process measurement. And after that we will likely need to work on guarded speculation for indirect c

[2018-06-13 00:49] janvorli commented on #18439
@peterhuene it seems the issue was already fixed - I've built the latest coreclr repo, I've tried to create a folder with the Chinese name you've used and put my testing binary into it. It didn't call the CreateFallbackBuffer at all. There was a very recent fix in the utf8 convertor: #18294, which is the one that likely fixed it. The fix was marked as "consider for 2.1 servicing release".
I am in

[2018-06-13 00:51] peterhuene commented on #18439
Ah that'd do it :) Thanks for the update!

[2018-06-13 00:55] saucecontrol commented on #18339
Ohhhhhhh… I feel like I knew that at one point and it fell out of my brain.  Doesn't help that BDN will only run `Job.RyuJitX86` with their netcore toolchains 😉.  That does at least explain some of it.

[2018-06-13 01:01] CarolEidt commented on #17600
This was eliminated with #18358

[2018-06-13 01:01] #17600 closed

[2018-06-13 02:45] mikedn commented on #3408
Hmm, that seems to be far lower than the impact it has on crossgen corelib. I tried this recently on the latest Win 10 build and the crossgen time still drops by 0.5-1 sec if the default page size is increased to 128k.

That said, the issue is a bit strange. MemStats shows that 51% of the methods in corelib only need the default pooled page and another 36% only need to allocate an extra page. The

[2018-06-13 03:10] tannergooding opened #18445 "EEJitManager::SetCpuInfo is not exactly matching the ISA hierarchy described by the architecture manuals"
SSE/SSE2 support requires:
* Check for CPUID support
* Check the SSE and/or SSE2 flag

SSE3 support requires:
* Check for SSE/SSE2 support
* Check the SSE3 flag

SSSE3 support requires:
* Check for SSE/SSE2 support
* Check the SSSE3 flag

SSE4.1 support requires:
* Check for SSE/SSE2 Support
* Check for SSE3 Support
* Check for SSSE3 Support
* Check the SSE4.1 flag

SSE4.2 support requires:
* Chec

[2018-06-13 03:12] Petermarcu opened #18446 "SUSE dotnet 2.0.3 Description: Infinite recursion during resource lookup within System.Private.CoreLib."
@iga1976 commented on [Tue Jun 12 2018](https://github.com/dotnet/core/issues/1687)

SUSE dotnet 2.0.3 Description: Infinite recursion during resource lookup within System.Private.CoreLib. This may be a bug in System.Private.CoreLib, or potentially in certain extensibility points such as assembly resolve events or CultureInfo names. Resource name: ArgumentNull_Generic
https://github.com/dotnet/cor

[2018-06-13 03:13] Petermarcu commented on #18446
We're probably going to need a repro code snippet or something so we can reproduce this and get to the bottom of it.

[2018-06-13 03:16] Petermarcu opened #18447 ".Net Core and Native dll's always throw BadImageFormat"
@SharperC commented on [Sun Jun 10 2018](https://github.com/dotnet/core/issues/1678)

# BadImageFormatException, everytime...

After a LOT of times trying to load native code or rather call a native method using `DllImport`, I'm reporting this as a issue, because it seems like there is no solution.

## So what did I try?

First of all, I tried the way it works with .Net Framework, what of course d

[2018-06-13 03:16] tannergooding commented on #18445
The rules are sometimes "inconsistent" (such as SSE4.2 not explicitly listing the check for SSE3), but it describes the following heirarchy:
`SSE -> SSE2 -> SSE3 -> SSSE3 -> SSE4.1 -> SSE4.2`
`SSE4.2 -> POPCNT`
`SSE2 -> AESNI`
`SSE2 -> PCLMULQDQ`
`AVX -> AVX2` (there is an implied dependency of AVX on SSE through SSE4.2, due to it extending instructions from those ISAs)
`AVX -> FMA`
`BMI1`
`BMI2`

[2018-06-13 03:16] tannergooding commented on #18445
FYI. @CarolEidt, @fiigii, @eerhardt

[2018-06-13 03:19] Petermarcu opened #18448 "System.BadImageFormatException: 'Bad IL format.'"
@atpyk commented on [Wed May 30 2018](https://github.com/dotnet/core/issues/1622)

I've upgraded dotnetcore2.0 to 2.1, and upgraded all packages too.
When I startup my web application, the exception prompts.

StackTrace:
   at Microsoft.AspNetCore.Hosting.WebHostBuilder.BuildCommonServices(AggregateException& hostingStartupErrors)
   at Microsoft.AspNetCore.Hosting.WebHostBuilder.Build()
   at Gra

[2018-06-13 03:21] Petermarcu commented on #18448
@noahfalk is this something we should fix in 2.1 or is this a vNext fix?

[2018-06-13 03:45] Petermarcu opened #18449 "IL Linker does not remove unused classes / methods"
@a-student commented on [Sun May 20 2018](https://github.com/dotnet/core/issues/1572)

It is stated [here](https://github.com/dotnet/core/blob/master/samples/linker-instructions.md) that

I am following [these instructions](https://github.com/dotnet/core/blob/master/samples/linker-instructions.md#instructions). Before publishing the app I add unused class to the project:
[code]
To make sure the li

[2018-06-13 03:55] borrrden commented on #18440
FYI, Using clang 6.0 to compile and instrument the native library does not hang.  I thought I had to use clang 3.9 because that was what was indicated in the build scripts in this repo, but it doesn't seem to be the case.

[2018-06-13 04:06] poizan42 opened #18450 "Binding duplicated handle to ThreadPool fails?"
When I run the following code I get a System.ArgumentException: ''handle' has already been bound to the thread pool, or was not opened for asynchronous I/O.'

This seems weird since it is a copy of the handle bound and it is definitely opened for async I/O. From a glance it looks like the error ultimately comes from CreateIoCompletionPort, but that is weird because the documentation implies that y

[2018-06-13 05:50] #15922 closed

[2018-06-13 06:05] sterchelen opened #18452 "Perfcollect issue while executing perf script (kubernetes engine)"
Hi,

First of all my workload is on Kubernetes engine. We run our pods on `container optimized os` from google. With this **OS** it's almost impossible to collect tracing events. So I created a node with ubuntu.
I can run perfcollect with no problem until the execution of the `perf script` statement which tries to output with cpu field. An error is thrown with the following description :
`'cpu-clo

[2018-06-13 07:17] ashishnegi commented on #18342
1. `target symbols add dotnet` does not work.

2. That download utility will be super useful. I found that our production machine had multiple sdk and runtime installed. We don't know the final dotnet sdk/runtime installed. So, its difficult to look at dumps from multiple machines. Looking forward to its public release.

3. You are right here.

Our native C++ symbols are in *.so files. With wrong

[2018-06-13 07:19] mikedn commented on #18407
I've seen a few more JIT bits and pieces since I last commented on this subject and I'm pretty sure that this actually the wrong direction. It makes the indir node semantics dependent on information obtained from the address mode, other than the actual address value and its type. This means that various IR transforms need to be careful not to break the tree (by spilling the address tree to a lclva

[2018-06-13 07:43] AndyAyersMS commented on #3408
This was with PMI and not crossgen, so there might be some differences from that. And I was using PerfView to measure, and can't figure out how to stop it from asking the CLR for some events that end up kind of costly.

[2018-06-13 07:49] mikedn commented on #3408
Can't PMI somehow measure wall clock time? This is one of those rare cases where the impact is so large that you can measure by using the most primitive means, at least in the crossgen case. It would be interesting to find out that this doesn't hold true for PMI and that this issue is somehow crossgen specific.

[2018-06-13 07:55] mikedn commented on #3408
For example in the crossgen case I use a little program that shows the wall clock time (measured using a stopwatch) and process times reported by the `Process` class. I end up with something like:
[code]
where one can easily see the huge amount of time spent in kernel mode. A profiler can then show that most of that is due to `VirtualFree`.

[2018-06-13 07:56] AndyAyersMS commented on #3408
Yeah, sure. I just haven't tried it yet.

I've been planning on looking into jit throughput issues with PMI moreso that crossgen, since PMI is somewhat closer to what end users experience.

[2018-06-13 08:10] mikem8361 commented on #18342
1.  Target symbols probably won’t work if the symbol file (for our binaries it is usually has .dbg extension) doesn’t match the loaded module.
  2.  I’m not sure if all the symbols for the 1.0.4 and 1.1.1 releases were uploaded, but all the 2.x and greater should be. Let me know if you find missing .NET Core symbol or module files when using the downloader utility.

Most of your problems are just

[2018-06-13 10:57] alfredmyers opened #18454 "File.ReadAllBytes throws exception with a misleading message"
# TL;DR;
The application calls `File.ReadAllBytes` passing a valid file name. For instance:

[code]

Under some circumstances the application it ends up throwing a misleading exception.

# More Info
This is something I have found on the .NET Framework that I'm bringing here since there are talks about porting this application to .NET Core and the offending code is mostly the same.

Here's how the

[2018-06-13 11:13] mrange commented on #18361
Just to give some context from my point of view:

WRT to high call to work that was the intention of my performance test to begin with. I compare the impact of datapipelines. For non-trivial "work" the overhead of the datapipelines disappears.

I was hoping with tiered compilation to see more code being devirtualized and inlined and thus reduce the overhead of the datapipeline abstractions.

Just

[2018-06-13 12:17] mateusrodrigues commented on #18067
A bit more information on my last comment. This is the error message I get for the `threading/NamedMutex/test1/paltest_namedmutex_test1` test:

[code]

[2018-06-13 13:58] jkotas commented on #18449
Duplicate of https://github.com/mono/linker/issues/320

[2018-06-13 13:58] #18449 closed

[2018-06-13 14:01] jkotas commented on #18447
Duplicate of https://github.com/dotnet/coreclr/issues/11298 ?

[2018-06-13 14:06] jkotas commented on #18452
cc @brianrob

[2018-06-13 14:44] mikedn commented on #3408
As in
[code]
instead of
[code]

[2018-06-13 15:44] jeffschwMSFT commented on #18447
@SharperC this does seem like a mixmatch of 32bit and 64bit, though it also seems like you tried all the combinations.  Are you still not able to get this scenario to work?

[2018-06-13 16:35] #17943 closed

[2018-06-13 16:56] mangod3 commented on #18448
Yes please hotfix 2.1 with this change, a lot of customers are hitting this already.

[2018-06-13 18:57] AndyAyersMS commented on #3408
Keeping current request pattern, just changing the default size, minopts, pmi of Microsoft.CodeAnalysis.CSharp:

| Size | Size Ratio | Time (ms) | Time Ratio |
| ---  | ---- | ---  | --- |
| 64K  | 1x   | 2811 | 1.00 |
| 128K | 2x   | 2758 | 0.98 |
| 192K | 3x   | 2592 | 0.92 |
| 256K | 4x   | 2574 | 0.92 |
| 320K | 5x   | 2699 | 0.96 |
| 512K | 8x   | 2636 | 0.94 |

Same, but with full optimizati

[2018-06-13 19:50] brianrob commented on #18452
I have seen this once before, but it's not clear to me why it happens.  It basically means that the CPU number is not available as part of the cpu-clock events.

If you want to work around this you can remove the cpu item from the calls to 'perf script' here: https://github.com/dotnet/corefx-tools/blob/master/src/performance/perfcollect/perfcollect#L1523.

I have filed an issue to see what can be

[2018-06-13 20:39] leculver commented on #18323
Sorry for the delay here, some of our diagnostics tools (SOS in particular) aren't playing nice with these .diagsession files (and the crash dumps in them).  I've asked the diagnostics team to help take a look at that issue in parallel.

The crashes here are interesting, you have two crashes that are InvalidProgramExceptions.  These types of failures are usually due to a problem in the JIT, where

[2018-06-13 21:08] chrarnoldus commented on #18323
@leculver thanks for looking into this.

Their inner exceptions are InvalidProgramExceptions too, so maybe they are related. I believe is just that ASP.NET Core caught and wrapped them before rethrowing.

I haven't configured it to be selective. Just to make sure we are on the same page, the dumps were collected by the Application Insights Snapshot Collector (documented here: https://docs.microsof

[2018-06-13 21:12] ajcvickers commented on #18323
@leculver: One thing that might be worth mentioning is that EF does a lot of expression compilation and execution of the resulting delegates. The stack traces are not in that code, so I don't think that the crash is a direct result of this, but it might be relevant if something in the expression compilation is causing the corruption that later causes the crash. Other parts of ASP.NET do similar th

[2018-06-13 21:20] mjsabby opened #18459 "Intrinsic for the rdpmc instruction"
`rdpmc` is used to read hardware counter data. It is supported by most modern cpus from Intel and AMD.

MSVC++ has a [__readpmc intrinsic](https://docs.microsoft.com/en-us/cpp/intrinsics/readpmc) and other compilers where such an intrinsic doesn't exist use inline assembly.

The signature of such an intrinsic looks like `unsigned __int64 __readpmc(uint counterIndex);`

where the `counterIndex` is

[2018-06-13 21:43] #18408 closed

[2018-06-13 21:46] jkotas commented on #18408
@CarolEidt Thanks!

[2018-06-13 21:57] AndyAyersMS commented on #3408
Some benchmark data from JitBench. 3-5% improvement across a lot of metrics. No sure what's up with Word2Vec training.

|       Benchmark         |          Metric      |        Default (64K) |  3x Default (192K)  |  Ratio |
| :---------------------- | :------------------- | -------------------: | ------------------: |  ----: |
| Dotnet_Build_HelloWorld |       Duration (ms)  |      1453  |    141

[2018-06-13 22:04] #18437 closed

[2018-06-13 22:47] AndyAyersMS commented on #18413
If there is some bug in 2.0 that is behind all this, it would be good to root cause it and see why it's no longer an issue with 2.1. I'm not sure we can help much without some kind of repro though.

[2018-06-13 22:52] RussKeldorph commented on #18459
@mjsabby Can you close this and make a proposal via the [API Review Process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) in the dotnet/corefx repo?

[2018-06-13 22:53] hvanbakel commented on #18413
I totally understand, so far I have not been able to reproduce this though 😞 it is very much complicated by the fact that it only happens on linux.

We'll try to see if we can make it crash from a Mac. If not, I would not know how to get more info out of it.

[2018-06-13 22:54] AndyAyersMS commented on #3408
Am also going to try and look at perf on non-Windows and for 32 bits.

I would guess that for 32 bit jits we don't need quite as much of a size boost. Rule of thumb is that data size grows 60% when moving from 32 to 64 bits. So if 192K is "optimal" for 64 bits, maybe 128K would "optimal" for 32 bits.

[2018-06-13 22:57] RussKeldorph commented on #18459
I should reference: https://github.com/dotnet/designs/blob/master/accepted/platform-intrinsics.md

[2018-06-13 23:04] mjsabby commented on #18459
@RussKeldorph the API needs to be added, so yes I can do that also, but this will require changes inside the runtime, or are you saying there is already a plan there?

[2018-06-13 23:09] RussKeldorph commented on #18459
@mjsabby The platform-instrinsics document I linked describes the process for adding this type of intrinsic.   Ideally, you start with the API review process in corefx.  If the proposal survives that process, then appropriate issue(s) are opened in other repos--most likely this one as you note.  It's not the end of the world to leave this open until the API's fate is decide...just perhaps a little

[2018-06-13 23:17] SharperC commented on #18447
Yes i tried all the combinations and none of the work.

[2018-06-13 23:18] tannergooding commented on #18459
@mjsabby, the generall process I've followed for cross-cutting changes is:
1. File an API request on CoreFX, noting that it will require runtime changes and the API will need to live in S.P.Corelib
2. Wait for approval
3. Add the API to S.P.Corelib, referencing the CoreFX issue
4. Wait for the change to be picked up in CoreFX
5. Update the reference assembly in CoreFX
6. Wait for the change to be

[2018-06-13 23:20] jeffschwMSFT commented on #18447
Can you share out a directory with the necessary build steps?  This is a fundamental building block for .NET Core, so I suspect there is something subtle going on with the steps.  It looks like you started with VS on Windows, can you share that out?

[2018-06-13 23:21] SharperC commented on #18447
You mean like the exact steps i did, and/or the solution folder?

[2018-06-13 23:50] SharperC commented on #18447
Here we go https://github.com/SharperC/NativeTest

[2018-06-13 23:59] hvanbakel commented on #18413
I think I might have stumbled upon part of the problem, my dockerfile looks like this:
[code]

The thing that apparently makes a difference is the BUILD docker image that I'm pulling in. Where building it like this `FROM microsoft/dotnet:2.1-sdk AS build` works but building it like this `FROM microsoft/aspnetcore-build AS build` does not. So maybe this is not in the JIT but in the msbuild image th

[2018-06-14 00:13] jeffschwMSFT commented on #18447
Good news I see the same badimageexception that you are seeing.  I need to take a deeper look, I anticipate knowing more tomorrow.

[2018-06-14 00:32] tannergooding commented on #18459
@mjsabby, it would also be good to recommend the behavior of the instruction, with regards to serialization. Since it isn't guaranteed to be monotonic if a serialization instruction isn't inserted before/after.

That is, will we expect the user to insert serialization instructions themselves, or will it be part of the implementation...

[2018-06-14 00:35] brianrob commented on #18428
Also potentially related to #15271.

[2018-06-14 00:36] tannergooding commented on #18459
Also, determining how these would work on Linux/Mac would be good as well 😄

[2018-06-14 00:50] AndyAyersMS commented on #3408
On a MacMini, using 192K default size, total PMI time for Microsoft.CodeAnalysis.CSharp:

| Size | Size Ratio | Time | Time Ratio |
| ---- | --- | --- | ---
| 64K |  1x       | 7890 | 1.00 |
| 128K | 2x      | 6533 | 0.83 |
| 192K | 3x      | 6610 | 0.84 |
| 320K | 5x     | 6589 | 0.84 |

and with`COMPlus_JITMinOpts=1` (why is this capitalized differently than most other jit opts..?)

| Size | Siz

[2018-06-14 01:38] AndyAyersMS commented on #3408
3x also seems be slightly beating out 2x for x86 windows.

[2018-06-14 01:39] CarolEidt commented on #18153
It is quite unlikely that this is the same bug as #18228. @iarischenko - can you clarify whether you are compiling for arm or armel? The instructions you reference seem to imply armel, but I want to make sure.

[2018-06-14 03:34] Alois-xx commented on #18371
@Maoni0: Thanks for the additional links. That is an interesting topic .

[2018-06-14 05:10] wfurt commented on #18067
I can pass the tests successfully if I force `NAMED_MUTEX_USE_PTHREAD_MUTEX=0` in src/pal/src/include/pal/mutex.hpp @mateusrodrigues

as far as the notes from @agocke:
considering process like:

[code]

I see trace like:
[code]

The 7112 is trying to connect and it will eventually succeed. Both sides would make the socket non-blockinbg but there is no other activity after. no attempt to read or wr

[2018-06-14 05:32] davmason opened #18463 "Profiler rejit can break invariants in jit interface"
In CEEInfo::ScanToken, we exit early if pModule is System.Private.CoreLib as a perf optimization since we expect that System.Private.CoreLib won't have any external references.

However, profiler rejit can rewrite any IL, including adding external references to IL in System.Private.CoreLib. In our profiler tests I observed the following chain of events.

1.  Profiler rejits System.Private.CoreLib

[2018-06-14 05:32] davmason commented on #18463
CC @noahfalk

[2018-06-14 05:38] mjsabby commented on #18428
@noahfalk Both are needed for analysis to be precise. I'd like these in the profiling apis as well. But I'm in discussion with @brianrob about exposing all of the ETW data to profiling apis, so if that goes through this special case for profiler won't be required (for this and future work).

[2018-06-14 06:24] ashishnegi opened #18464 "AssemblyBinding with codeBase and href : Support in CoreClr ?"
I wanted to solve problem of `How to load an assembly at runtime that is located in a folder that is not the bin folder of the application`. I found this [.Net Framework reference](https://support.microsoft.com/en-us/help/837908/how-to-load-an-assembly-at-runtime-that-is-located-in-a-folder-that-is)

Is `Method 2: Use an application configuration (.config) file with the <codeBase> tags` in above l

[2018-06-14 07:02] mikedn commented on #3408
Indeed. And it looks like 64K was what JIT32 used so RyuJIT should have moved to at least 128K a long time ago when it targeted 64 bit.

Nice to see that this would be an improvement on other platforms as well.

What do you think about using HeapAlloc instead of VirtualAlloc? The reason why VirtualAlloc is used is probably lost in history but these days HeapAlloc sounds like a more reasonable choi

[2018-06-14 07:39] gfoidl commented on #18447
@SharperC you hard-coded the path to the DLL in https://github.com/SharperC/NativeTest/blob/510932693e2a5a07ef399777a7d6e8b615dd4eab/NativeTest/Program.cs#L8
So you'll always pick the Debug/x86 DLL, because the build output for x64 is in `$(SolutionDir)\x64\$(Configuration)`.

[2018-06-14 07:51] SharperC commented on #18447
Well yeah i hard coded the path to it for this example, normaly I don't to that. I also forgot to set the Native libary to 64x

[2018-06-14 07:55] zuckerthoben commented on #18323
We have the same exception after an automated deployment to production (through VSTS) of an ASP.NET Core 2.1 (Web API) application that also uses EF Core 2.1. The build definition uses Core SDK 2.1.300.
The solution that this API is part of goes live today, so we are in an uncomfortable situation.

Here is our Stacktrace to maybe aid the troubleshooting:

[code]

[2018-06-14 08:09] gfoidl commented on #18447
With your project I can reproduce the failure -- reason is commented above.
I sent https://github.com/SharperC/NativeTest/pull/1 that fixes the problem, because it pickes the matching DLL.

[2018-06-14 08:43] jcemoller commented on #18323
@danmosemsft unfortunately I had already tried restarting the app service and in the four days since then the error has not been reproducible. I’m expecting the same error when pushing to our live servers and am trying to prep the solution with debugging snapshot support beforehand. Problem was that Application Insights never caught the error at all, guess it was thrown before AI had booted.

@zuc

[2018-06-14 09:21] zuckerthoben commented on #18323
@jcemoller Yes a restart eliminated the error. This means for us that we have to check the general state of the application everytime we have deployed.

[2018-06-14 10:01] SharperC commented on #18447
Ok thank you, I'm not quite sure what i did wrong last time because i did copy the x64 dll, nvm.

[2018-06-14 12:28] Extred opened #18465 "Linux performance problem"
Hello.

I've spotted a performance drop on "Linux s4-srv 4.9.0-6-amd64 #1 SMP Debian 4.9.88-1+deb9u1 (2018-05-07) x86_64 GNU/Linux" compared to Windows/MacOS.

Flame graphs:
![image](https://user-images.githubusercontent.com/3522038/41411837-de9a3232-6fe6-11e8-84f5-d340475951d4.png)

Debian PerfView view:
[deb.perfView.xml.zip](https://github.com/dotnet/coreclr/files/2102298/deb.perfView.xml.zip)

[2018-06-14 14:13] jkotas commented on #18464
There is no first class official tooling support for this.

The `.deps.json` file is equivalent to the binding redirects from .NET Framework. If you add path element to for the assembly in the `.deps.json` file, it should have the same effect as codeBase element in the .NET Framework binding redirects:

[code]

[2018-06-14 15:09] #18454 closed

[2018-06-14 15:45] AndyAyersMS commented on #3408
I kicked the tires a bit and didn't see any additional benefit (on windows) using HeapAlloc over VirtualAlloc with the 3x default size increase.

[2018-06-14 15:57] jeffschwMSFT commented on #18447
Thanks @gfoidl for taking a look.  @SharperC looks like this issue has been resolved.

[2018-06-14 15:57] #18447 closed

[2018-06-14 16:33] mikedn commented on #3408
The idea is to use HeapAlloc without increasing the default. Though I'd probably make a compromise - 128k default on 64 bit + HeapAlloc.

[2018-06-14 16:38] leecow opened #18466 "dotnet --info only finds same architecture, and lists entries twice when called with absolute path."
@markusschaber commented on [Fri May 18 2018](https://github.com/dotnet/core-setup/issues/4154)

## Steps to reproduce
call "dotnet --info" or "C:\Absolute\Path\to\dotnet.exe --info"

See https://gist.github.com/markusschaber/480879b83ec9a22077c6c31e3d7f8346 for full repro.

## Expected  behavior
All installed SDKs and runtimes are listed exactly once.

## Actual behavior
When calling without abso

[2018-06-14 16:40] ashishnegi commented on #18464
@jkotas As `.deps.json` is not human editable. Changes to file are reverted with each build.
When I add App.config to coreclr project, it causes sf.dll.config file generation with exact same content.

So, it will be great to take this issue as feature request.

[2018-06-14 16:46] CarolEidt opened #18467 "Intermittent failures in Fma test"
I have seen a couple of failures in this test that I can't repro, even with various combinations of the `COMPlus_Enable` flags for the various ISAs. Not sure what's going on, but there's no way that changing an ARM-only #define should cause this to fail. See https://ci.dot.net/job/dotnet_coreclr/job/master/job/x86_release_windows_nt_innerloop_prtest/4371/ and also https://ci.dot.net/job/dotnet_cor

[2018-06-14 16:46] CarolEidt commented on #18467
cc @tannergooding @fiigii

It might be useful, when a HW intrinsic test fails, for the test to print the various values of `IsSupported` in case that might help with a repro.

[2018-06-14 16:55] jeffschwMSFT commented on #18464
Can you elaborate on the scenario that you are looking to achieve?  If we provided a way to get early access to resolve this assembly at runtime would that also be a solution?

[2018-06-14 17:06] tannergooding commented on #18467
👍. We should probably also be printing the seed.

The issue is probably some combination of inputs is failing the expectedResult comparison test (which is basically `Math.Round(a * b + c, digits) == Math.Round(result, digits)`.

The "proper" fix is to implement a software FMA function that does `(a * b)` to "infinite" precision, adds `c`, and then finally rounds (where-as the normal behavior is to

[2018-06-14 17:06] tannergooding commented on #18467
A "temporary" fix would be to reduce the number of digits compared.

[2018-06-14 17:11] mikedn commented on #18467
I thought it was agreed that we don't test instruction behavior, just that the needed instruction is generated. As such, the use of random numbers is dubious.

[2018-06-14 17:15] CarolEidt commented on #18467
As suggested in https://github.com/dotnet/coreclr/issues/10585, we should be using a fixed seed for random number generation. We should also ensure that we're not comparing beyond the precision preservation guaranteed by FMA.

[2018-06-14 17:20] tannergooding commented on #18467
I don't believe the issue is that a fixed seed is being used. The issue is that there are many tests which do not tell you the seed that was used, which causes an inability to reproduce. If the test prints the seed, you can always reproduce and there is no issue (and you still get the benefits from using random numbers).

The issue is not that we are comparing beyond the precision preservation gua

[2018-06-14 17:22] tannergooding commented on #10585
@sdmaclea, @reaction1989. I don't believe a fixed seed is the right way to go. That causes you to lose the benefits of using RNG (which is testing arbitrary inputs behave correctly).

The issue here is that:
1. There is no way to tell the test the seed to use
2. The tests do not tell you the seed that was used

If we had a way of doing both, then it should resolve all the issues while keeping the

[2018-06-14 17:27] tannergooding commented on #18467
@Mikedn, there were at least a couple tests where the use of random numbers caught issues with the encoding after the fact.

That being said, I think a better situation would be if we just had tests that:
* Validated that a managed `Isa.Method` call produced the correct `GenTreeHWIntrinsic` node type
* Validated that `GenTreeHWIntrinsic` nodes generated "valid asm"

Which would actually allow us t

[2018-06-14 17:30] tannergooding commented on #10585
This is probably the disconnect. I wouldn't consider "the date" a fixed seed, as it could vary from run to run 😄  (I would probably say the seed comes from a fixed source instead)

Right, I think this is the real problem.

Because the logs don't tell you the seed used, there is currently no chance for reproducability.

[2018-06-14 17:39] AndyAyersMS commented on #3408
Ok, let me give that a try.

[2018-06-14 17:41] mikedn commented on #18467
Examples? Was the use of random numbers really a benefit or was it actually the reason why it took a while to catch the bug?

Except that it's not trivial to do that and there's no guarantee that the tests themselves are correct. For example, some intrinsic failures where caused by incorrect data in the intrinsic table. If that table cannot be populated correctly then there's also a good chance th

[2018-06-14 17:45] sdmaclea commented on #10585
In the date cases, the date was the date the seed was chosen, not the current date.

[2018-06-14 17:47] sdmaclea commented on #10585
For instance
[code]

[2018-06-14 17:52] brianrob commented on #18434
I've done some investigation on what it will take to add the ILToNativeMap for pre-compiled methods.  Overall, it does not look difficult, but I have a couple of questions.  @noahfalk can you help me answer these, or point me to the right person?

1. ```SendMethodILToNativeMapEvent``` uses the debugger interface to get the map via https://github.com/dotnet/coreclr/blob/master/src/vm/eventtrace.cpp

[2018-06-14 17:52] tannergooding commented on #18467
Random numbers are beneficial because they are random. Any use can pick some arbitrary values that cover known edge cases or special inputs, but there is always the chance they miss something.

Random gives "arbitrary" inputs, so it (hopefully) covers things that the dev didn't think about.

Will try to dig up the issues that were fixed

But it might be better if we had the option (see below).

Ri

[2018-06-14 17:54] tannergooding commented on #10585
@sdmaclea, I don't see how that is useful. It means that you don't get any of the benefits that using random inputs would normally provide (one of which is testing values that the dev didn't consider "special" or needing explicit tests).

At that point, why not just pick random inputs and hard code them.

[2018-06-14 17:57] sdmaclea commented on #10585
Take a look at the file for the whole context.  It allows environment variable to override the seed.  It prints the seed used in the logs....  CI is not for exhaustive checking typically, it is generally for general coverage.

If you want more exhaustive testing you can run the test with more seeds....  But that is not needed in general CI.

[2018-06-14 18:07] ashishnegi commented on #18464
This is in context of #18405 where we are transitioning from .Net Framework to CoreClr and trying to find a solution for GACed assemblies.

Scenario 1 :
My `Main` is dependent on `A.dll` which is GACed in .Net Framework. We don't ship it with SDK nupkgs (in both Coreclr and .Net Framework). This is because it contains actual implementation.  We want/need to always have latest version of A.dll runn

[2018-06-14 18:09] mikedn commented on #18467
Well, if you say so...

Except that most of the JIT doesn't care about intrinsics so in general there should be no problem to generate IL code that hits the right paths. And if the JIT did care about intrinsics (e.g. optimize them) then tests would not help too much because there would far too many cases to consider.

[2018-06-14 18:12] tannergooding commented on #10585
The point is that it is no more work (the same number of tests get run), but it provides "greater" coverage (as it tests more inputs over the course of multiple runs).

The fact that there are tests without fixed seeds that are failing is "proof" that there is something wrong somewhere (some random input is causing a failure). If you change that to be a fixed seed, the inputs will never change and

[2018-06-14 18:13] CarolEidt commented on #10585
IMO, having a seed that varies run-to-run is only worthwhile if it is justified by the testing context, as it adds to the burden of producing a repro. For the HW intrinsics tests, as has been pointed out, we are less interested in getting correctness coverage, and more interested in ensuring the correct instruction has been generated.

That makes the test source more fragile, harder to understand,

[2018-06-14 18:13] AndyAyersMS commented on #10585
Inner loop CI is mainly about preventing regressions and not about finding bugs.

None of the commonly used CI legs should rely on "unfixed seed" random behavior. Failures that happen unexpectedly and are unrelated to PR changes just confuse people and waste their time. For reference see all the fun we have with GC Stress.

More exhaustive testing based on randomness to expose bugs belongs in oute

[2018-06-14 18:16] leculver commented on #18323
I apologize for the delay.  We've fixed the diagnostics issue that was blocking deeper investigation.  Still working on it.

[2018-06-14 18:52] sandreenko commented on #2334
It was marked as `JitOptimizationSensitive>True</JitOptimizationSensitive>` 2+ years ago in #3659.

[2018-06-14 18:52] #2334 closed

[2018-06-14 18:58] jkotas commented on #18466
This issue was moved to dotnet/core-setup#4236

[2018-06-14 18:58] #18466 closed

[2018-06-14 20:10] leculver commented on #18323
@ChrisAhna on my team took a deeper look at this.  Unfortunately, there wasn't enough data in these crash dumps to track down the problem.  The state of the process is unwound since the error has occurred.  Is it possible to put this under a debugger (such as windbg) as chris mentions below?  Alternatively can you ask Azure to snap crash dumps on a particular exception code?

Here is what he had t

[2018-06-14 20:21] BruceForstall commented on #10585
Totally agree with Andy. Test runs should be 100% repeatable, with no work on the dev side.

We definitely could add more "outerloop" testing with more randomization. E.g., for our existing `COMPlus_JitStress` variable, we only use the values "1" and "2". We could use other values as well, since other values cause us to run different stress mixes. It's hard to see many tests benefiting from varyin

[2018-06-14 20:40] noahfalk commented on #18434
1) Yeah, that should work, but you probably want to make sure the right behavior is happening end to end. As I recall the offsets given in the map are encoded as if the hot and cold sections were contiguous in memory. This means the trace reader might need to compute:

`     offset = ip_somewhere_in_cold_code - cold_code_start + hot_code_size`

before it can use the data in the map that correspond

[2018-06-14 21:23] chrarnoldus commented on #18323
@leculver this site extensions looks like it could be useful: https://blogs.msdn.microsoft.com/asiatech/2016/01/14/tips-of-using-crash-diagnoser-on-azure-web-app/

I'll configure it to catch first chance non-managed exceptions with code 02345678 in dotnet.exe. The issue with non-reproducibility remains of course.

[2018-06-14 21:51] mikem8361 commented on #18342
Can we close this issue now?  Have we asked all your questions?

[2018-06-14 23:43] BruceForstall commented on #18330
If possible, yes, but I would be judicious: there's no point forcing all possible metrics into one model unless that makes sense.

[2018-06-15 01:41] morganbr commented on #18459
It would also be good to see a proposal for usage so we can understand what from rdpmc is useful. Perhaps a higher-level, architecture independent API is appropriate.

[2018-06-15 02:44] danmosemsft commented on #18465
Is it possible to resolve CLR symbols? Generally they should be on the public symbol server.

[2018-06-15 02:45] danmosemsft commented on #18465
@mikem8361 can remind us how to do that for Linux.

[2018-06-15 04:08] dotnetjt commented on #15136
Hi @noahfalk - just wondering if the profiling API support for Linux went out in 2.1. I've been coding off and on, still working against a 2.1 preview.

I fired up a new Ubuntu server and installed the 2.1 runtime, and set up environment to point to my (portable) profiler library and it doesn't even attempt to load. I'm *pretty* sure it's not me as ldd shows that I'm not missing any libraries, so

[2018-06-15 05:29] noahfalk opened #18478 "Question: Does profiling API support Linux?"
This was originally posted by @dotnetjt . To avoid pinging the subscribers to our announcement issue (#15136) with a potentially ongoing discussion I moved it here:

Glad you reached out and sorry its causing you trouble! Linux is fully supported ([profiler status page](https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/profiling-api-status.md)) so this should work.

If you h

[2018-06-15 05:41] danmosemsft commented on #18447
Maybe this exception could be improved to indicate the bitness  mismatch when that is the case, to help troubleshooting this case in future.

[2018-06-15 06:08] ashishnegi commented on #18342
Yes, thanks for providing all the information. Closing issue.

[2018-06-15 06:08] #18342 closed

[2018-06-15 06:16] #17871 closed

[2018-06-15 06:45] noahfalk commented on #18448
Following up for anyone looking for daily 2.2 preview builds with the fix. The fix is present in Microsoft.NETCore.App version >= 2.2.0-preview1-26610-01. [Download runtime daily builds here](https://github.com/dotnet/core-setup/blob/master/README.md#daily-builds).

The fix is not yet present in any version of [the complete SDK installers](https://github.com/dotnet/cli/blob/master/README.md#instal

[2018-06-15 07:29] wfurt opened #18481 "investigare named mutexes on FreeBSD"
#18480 forced usage of flock() based implementation of named mutexes on FreeBSD.
According to the detection, phtread should work but following test was failing:

this should be further investigated and understood.
Note that there is libthr and libpthread on FreeBSD.

related to #18067

[2018-06-15 09:30] Extred commented on #18465
If you mean [that](https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/linux-performance-tracing.md#resolving-framework-symbols) part then it's done already.
Perfcollect log:
Collection started. Press CTRL+C to stop.
^C
...STOPPED.
Starting post-processing. This may take some time.
Generating native image symbol files
...FINISHED
Saving native symbols
...FINISHED
Exporting per

[2018-06-15 09:38] markusschaber commented on #18466
Ok, thanks! :-)

[2018-06-15 12:31] dotnetjt commented on #18478
Thanks for the quick reply Noah. Don't want to take too much of your time, so just a few quick questions.

Naturally, I spent some time staring at my env vars, wondering if I just had a typo, as it seems like the runtime just completely skips over my profiler. Wouldn't be the first time.

I would know exactly how to debug this on the windows side, so this is new to me.
1. To debug the runtime, doe

[2018-06-15 13:13] gdalsnes commented on #3412
It fails a different place for me:
# CLR Info
Version:   v4.7.3062.00
Filesize:  0x9EC000
Timestamp: 0x5AB9567C
Dac file:  mscordacwks_Amd64_Amd64_4.7.3062.00.dll

Type: System.Runtime.InteropServices.SEHException
Message: External component has thrown an exception.
HResult: 0x80004005
Address: 0x220C5F0
Exception stack trace:
* System.RuntimeTypeHandle.ConstructName(System.RuntimeTypeHandle, Syst

[2018-06-15 13:39] jkotas opened #18482 "Sequential structs with padding not passed correctly on Linux x64"
Repro:

[code]

Actual result:

0
3.880453E-39

Expected result:

1
10

[2018-06-15 13:42] jkotas commented on #18482
cc @CarolEidt

Recent regression. The problem is that the code assumes that the struct is tightly packed when preparing the callsites - it is not the case here:

[code]

[2018-06-15 13:48] CarolEidt commented on #18482
@jkotas  - thanks! I have been having difficulty tracking down the test failure in corefx.

[2018-06-15 14:14] tannergooding commented on #10585
I know I'm not going to win this battle 😄, but it is my opinion that finding bugs in the code (mostly for production, but also partially for test code) far outweighs any confusion devs might see in a given CI leg from an unrelated failure. The product, as a whole, would be considerably better if devs had the habit of doing basic investigation on a failure and logging a bug if it was unrelated to t

[2018-06-15 16:31] AtsushiKan opened #18484 "CrossGen asserts when compiling a delegate with a TypedReference parameter."
Add the following code snippet to RuntimeMethodInfo.cs:

[code]

Then build the repo. The crossgen step fails with this output:

[code]

This is blocking development of a non-boxing Invoke implementation based on TypedReferences.

[2018-06-15 17:13] CarolEidt opened #18485 "Fix and re-enable StructABI test"
This was disabled as part of #1928, but no issue was filed to track fixing and re-enabling it.

[2018-06-15 17:14] jashook commented on #18485
Thank you for creating an issue!

[2018-06-15 17:40] AndyAyersMS commented on #3408
Using HeapAlloc at 64K gives perf comparable to VirtualAlloc running PMI at 128K or 192K. Increasing the HeapAlloc size beyond 64K didn't seem to change perf much.

I'm still not sure how to robustly evaluate whether using HeapAlloc ends up being "better" overall, given that it may lead to more page usage or fragmentation. I suppose the acid test is running this way on actual apps.

I've put the 1

[2018-06-15 17:54] jeffschwMSFT commented on #18447
#11298 is tracking that potential improvement

[2018-06-15 18:01] RussKeldorph commented on #18484
@sergiy-k @jeffschwMSFT Can one of you assign?

[2018-06-15 18:14] anmenaga opened #18486 "Double free or corruption on Raspbian"
After the move from .NETCore 2.0 to 2.1 this started happening very frequently.
PowerShell running on Raspberry Pi 3 Model B ("Raspbian GNU/Linux 9 (stretch)")
crashes with:
`*** Error in "pwsh": double free or corruption (fasttop): 0x6e800fe0 ***`

stack from gdb:
[code]

Can share the core file with above stack.

[2018-06-15 18:20] SteveL-MSFT commented on #18486
This is blocking PSCore6.1 release

[2018-06-15 18:20] RussKeldorph commented on #18463
@davmason If you need help from CodeGen let us know.  We try to limit each issue to a single area for reporting purposes, so leaving just diag for now.

[2018-06-15 18:21] jkotas commented on #3408
I do not think that the chunk size is what really matters. I think think what really matters is how much memory is kept around cached and how to manage the total size of this cache.

I think that the key problem today is that there is just one 64kB chunk cached. I think that doing something about this single one-size-fits-all chunk should be part of the plan. I expect that the difference between 6

[2018-06-15 18:22] sayfulloev commented on #18448
Looking forward for this fix, as we got hit by it.

[2018-06-15 19:53] pjanotti opened #18488 "Profiler flag to ignore NGEN doesn't seem to be working"
/cc @noahfalk

These [comments](https://github.com/dotnet/coreclr/pull/11040#issuecomment-298004449) indicate that the flag `COR_PRF_DISABLE_ALL_NGEN_IMAGES` can be used to force jitting of precompiled methods. However, this is not working for `System.Private.CoreLib.dll` in CoreFx with OpenCover, which does specify the flag and works when the IL version of S.P.C.dll is used instead.

If this is s

[2018-06-15 19:57] davmason commented on #18488
@pjanotti what version of coreclr are you running on? There was a known issue that was fixed with #13021, that is in 2.1 and was ported to 2.0 servicing.

[2018-06-15 19:58] RussKeldorph commented on #18486
@janvorli

[2018-06-15 20:11] pjanotti commented on #18488
@davmason I'm running against my local build of coreclr (last commit 16169a8738ab7332a0fc2f2e48937997932798ef), and running the coverage from corefx using the `/p:CoreClrOverridePath` to point to the latest build.

[2018-06-15 20:11] davmason commented on #18478
@dotnetjt on linux we pipe all the profiler messages to OutputDebugString, which in the pal is turned off by default. I believe you can enable it by setting the environment variable `PAL_OUTPUTDEBUGSTRING=1`, but it's been a while since I used it.

It's possible to debug the release version of the runtime, but it's much easier to do it with a locally built debug version, then sources and symbols w

[2018-06-15 20:23] ForeverZer0 commented on #12103
This issue with DllImport completely breaks the entire "single assembly" concept, and truly makes any type of cross-platform assembly that relies on an unmanaged library either impossible or too cumbersome to upkeep.

As far as I have discovered, I have a very limited set of options, each of which is terrible, especially when dealing with an assembly to support both 32 and 64 bit unmanaged librari

[2018-06-15 20:36] davmason commented on #18488
@pjanotti how much investigation have you done here? We have profiler tests that should fail if disabling ngen images was broken, so my suspicion is that there is something else going on here, but it's possible something regressed recently.

If you haven't already done this, the easiest way is to run your scenario under a native debugger and verify that `ProfToEEInterfaceImpl::SetEventMask` is cal

[2018-06-15 20:39] pjanotti commented on #18488
@davmason I had debugged OpenCover for other issues and didn't pay attention to this specific flag, let me take a look...

[2018-06-15 20:45] wjk opened #18490 "RegistrationServices support?"
Following the announcement that Windows Forms and WPF will be ported to .NET Core 3.0, I have a question about some complex (but necessary) COM interop that is currently not possible on .NET Core.

Suppose the following:

* I have an application developed in .NET Core 3 that will be distributed through the Windows Store.
* This application will include shell extensions (such as a preview handler),

[2018-06-15 20:53] wjk commented on #12103
@ForeverZer0 Have you looked into [`AssemblyLoadContext`](https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/assemblyloadcontext.md)? You will need to implement some logic through subclassing it and overriding [`LoadUnmanagedDll()`](https://github.com/dotnet/coreclr/blob/66ff5d7ed68c050ba53968c2ecf88a6c9a2a3224/src/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyLoadC

[2018-06-15 20:56] sywhang opened #18491 "Logging errors on Linux similar to Windows Event Log"
Logging unhandled exceptions to Windows Event Log was enabled with https://github.com/dotnet/coreclr/pull/16875 but currently we don't do anything on Linux. To match the diagnostics experience on Linux for .NET Core developers, we should try to log exceptions to something like ```/var/log/netcore.log```

[2018-06-15 21:57] ayende commented on #12103
@wjk Is there a way to do this on the default context?
I'm controlling my own process, so I would like to do it for the whole system.

[2018-06-15 22:16] davmason commented on #18463
Looking further, this is not a regression and has always been the case. A test change is responsible for the behavior. Closing this issue.

[2018-06-15 22:16] #18463 closed

[2018-06-15 22:30] wjk commented on #12103
@ayende I don't think so, unfortunately. The best I can think of is to have the entry point DLL do nothing but create an assembly load context and then use reflection to load the _real_ entry point using that context. As lame as it sounds, as far as I know it's the only way to apply a custom assembly load context to the entire system. As I understand it all assemblies (directly or indirectly, expl

[2018-06-15 22:44] #18484 closed

[2018-06-15 22:59] mikem8361 commented on #18465
@vancem might know more about this if this is perfview related.

[2018-06-15 23:06] CarolEidt opened #18497 "[PMI] Assertion failed 'tree->gtHasReg()' in System.Private.CoreLib.dll"

[2018-06-15 23:22] BruceForstall opened #18498 "x64 Ubuntu corefx jobs are broken"
Looks like there's a netci.groovy configuration problem where we have a flow job for the Linux corefx tests but don't need them. We have both of these jobs:

[code]

And both of them have the same trigger phrase:
[code]

So they both get triggered, e.g.:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_ubuntu_corefx_baseline_flow_prtest/31/
https://ci.dot.net/job/dot

[2018-06-15 23:32] ForeverZer0 commented on #12103
@wjk Looking into your suggestions now, and it does seem plausible to implement. I am making a rather large wrapper, with hundreds of external functions. The library has different builds for each platform and processor architecture, with platform specific naming conventions for each.

So using the above method, creating my own LoadContext subclass, I could use a single name for the "DllImport", an

[2018-06-16 00:01] jkotas commented on #12103
@ForeverZer0 The best way to handle this in .NET Core is put the native libraries into platform specific folders in the NuGet package for you library and the rest will happen automatically. And you can just keep using regular DllImport.

There are number of packages that do this today. For example, Mono Game for .NET Core does this: https://github.com/MonoGame/MonoGame/issues/5339#issuecomment-353

[2018-06-16 00:10] maryamariyan commented on #17905
@ViktorHofer I use sourcetree to navigate around this. With sourcetree I add small diffs into the file to have the file show up in working directory as changed. Then can right click on the file to log it and trace back to older commits by checking out its parents.

[2018-06-16 00:53] BruceForstall commented on #17882
I've been looking at this today; sorry it's taken so long.

Unfortunately, I'm not able to reproduce this locally (well, I haven't tried to get a Tizen install/Docker running).

We want to use the smallest encoding possible for a stack load/store, and normally that means SP-based encoding due to the LDR T2 encoding using SP. We can also use negative offsets from FP, if we have an FP.

You're right

[2018-06-16 01:07] noahfalk commented on #15136
.NET Core 2.1 bug : (
We had an unintended behavior change in the ReJIT profiling API that has caused some profilers to fail. I've got a fix that restores the original behavior in the daily builds and working on getting it into 2.1 servicing releases. If you have a profiler that uses the RequestReJIT API but does not call ICorProfilerFunctionControl::SetILFunctionBody to set the IL you may have be

[2018-06-16 01:20] bartonjs opened #18501 "Add an aggressively-clear GC mode"
There are workstreams which have higher than average requirements about being defensive against in-memory sniffing and heapdumps.  For those customers, the clear-on-use behavior of the garbage collector may be a reason that they cannot use .NET, or may cause them a lot of regulatory/compliance paperwork to use .NET.

While the primary responsibility of clearing sensitive data would fall on the app

[2018-06-16 01:20] dotnetjt commented on #15136
Yes, I had seen that. Fortunately, doesn't impact me. :)

[2018-06-16 01:49] pjanotti commented on #18488
Sorry for the false alarm. I missed that the PDB matching the crossgen version was named S.P.C.ni.pdb. OpenCover was excluding it because it was failing to find matching PDB - this is compound by the fact that the version of OpenCover in CoreFx only supports WindowsPDB and this file was not being converted to a WindowsPDB.

[2018-06-16 01:49] #18488 closed

[2018-06-16 01:59] jkotas commented on #18501
The classic malloc/free has the similar "clear on use" characteristic. Is there an example of prior art how this is done for malloc/free ?

[2018-06-16 02:02] noahfalk commented on #18478
Yeah it is referring to assemblies from the CoreFX build. We should improve the docs. You've actually got a number of ways you can do this:

1) Write a test app that has no dependencies other than System.Private.CoreLib.dll and launch it with corerun.exe right in the coreclr repo build directory. Thankfully you don't need much to test attaching a profiler:

[code]

2) Install a .NET daily build th

[2018-06-16 02:09] dotnetjt commented on #18478
That all makes a lot more sense and this is getting adding to my "scrapbook of things I don't remember."

But, you know what I just discovered? Mistake in my path. This is what I get for staring at a console too long late at night. Sorry for the fire drill, but at least I learned some new stuff!

Btw, using ```PAL_OUTPUTDEBUGSTRING=1``` did work as I thought it would, and gave me messages around p

[2018-06-16 02:16] bartonjs commented on #18501
Some libraries allow the use of custom allocators/deallocators, and a user of that library could change the allocator to be one which does the equivalent of SecureZeroMemory before deferring to free.

Using mallopt to lower the trim threshold would make malloc more aggressively give memory back to the OS, which would have a clearing effect.

And, as a really big hammer, a specific machine/image co

[2018-06-16 05:31] danmosemsft commented on #17905
@ViktorHofer just edit the URL, this restarts it at the rename (616976 is the first commit after the rename)
https://github.com/dotnet/coreclr/commits/master?after=616976119f02491c1cf89de29451b1cf285928a9+0&path%5B%5D=src&path%5B%5D=mscorlib

[2018-06-16 09:09] mikedn commented on #3408
Yep, that's the difficult part. It's likely better for the JIT simply because HeapAlloc/HeapFree calls are cheaper than VirtualAlloc/Free calls that involve kernel transitions. The problem is if JIT's alloc/free calls could somehow interfere with other allocations done by the application. Probably for many typical managed applications they won't, simply because most of the app allocated memory wil

[2018-06-16 09:20] mikedn commented on #3408
So you're saying to just use malloc and drop JIT's default page? Indeed, at least for crossgen x64, once you switch to HeapAlloc the default page becomes pretty much useless, there's less than 2% difference and that may be just noise.

[2018-06-16 13:50] jkotas commented on #3408
Yes, I think it would be the simplest strategy that gives best results across the range of scenarios and platforms. I think it may be even worth experimenting with making the page size less than 64kB for this plan.

crossgen is single threaded. Most scenarios - especially once tiered JIT is enabled by default - are going to be multi-threaded. I expect that the JIT's default page is more of a probl

[2018-06-16 15:11] mikedn commented on #3408
Hmm, maybe but it may turn out that the JIT can't do much with less than 64KB right now:
[code]

Right. Zero filled memory would actually be useful to the JIT as it minimizes the chance that some garbage values are used. But because of JIT's page pooling this zeroing is actually useless.

In the meantime I managed to reduce JIT's memory usage by 6.5% in #18504.

[2018-06-16 17:43] kouvel commented on #18481
There should be more output indicating the test that failed, but I suspect any parent/child test would fail given the location of the failure. A child process acquires `childRunningEvent` for the duration of the test and based on the above it looks like releasing it at the end of the test is failing. At that point, the parent process would also be trying to acquire and release `childRunningEvent`

[2018-06-16 17:55] los93sol commented on #13146
@wind-rider, this is possible and I have a working example of it in my GitHub

[2018-06-16 18:03] jkotas commented on #3408
Allocating 4x 16kB blocks using malloc may have better performance than allocating 1x 64kB block. In the default Windows memory allocator, there are two interesting cut-offs: 16kB and 512kB. `size <= 16kB` is using the fast allocator that has per-thread caches, `16kB < size <= 512kB` is using a global cache, `512kB < size` is pass through to VirtualAlloc.

Here is micro-benchmark that demonstrates

[2018-06-16 18:59] wind-rider commented on #13146
Sounds good! Thank you for pointing me at it, I’ll have a look

________________________________
From: Adam Shortland <notifications@github.com>
Sent: Saturday, June 16, 2018 7:56:12 PM
To: dotnet/coreclr
Cc: wind-rider; Mention
Subject: Re: [dotnet/coreclr] Support for ASP.Net core functionality in UWP project (#13146)

@wind-rider<https://github.com/wind-rider>, this is possible and I have a wor

[2018-06-16 19:00] wind-rider commented on #13146
Would still be nice if this would be officially supported by Microsoft though

________________________________
From: Adam Shortland <notifications@github.com>
Sent: Saturday, June 16, 2018 7:56:12 PM
To: dotnet/coreclr
Cc: wind-rider; Mention
Subject: Re: [dotnet/coreclr] Support for ASP.Net core functionality in UWP project (#13146)

@wind-rider<https://github.com/wind-rider>, this is possible a

[2018-06-16 19:05] GrabYourPitchforks commented on #18501
As part of the overall scenario, are there other GC knobs we'd want to provide to applications which desire this opt-in behavior? For example, would an application that wants aggressive clearing of garbage memory also want more frequent GCs to reduce the window of time that a secret may be held in memory?

[2018-06-16 19:59] los93sol commented on #13146
I fully agree, I had to get deep into the weeds to get it to work

[2018-06-17 02:54] jkotas commented on #17558
Fixed by https://github.com/dotnet/corefx/pull/30463

[2018-06-17 02:54] #17558 closed

[2018-06-17 11:40] ViktorHofer commented on #9912
Now especially with the `broadFileSystemAccess` UWP capability I believe it would help a lot of if we could make Assembly.Load work for side-loaded scenarios (Debug, non-uap, probably with a switch). That would also help us cleanup a bunch of code in buildtools as we wouldn't need to make a dedicated appx package for each test library anymore. We would build one package for test runner with the br

[2018-06-17 14:16] jkotas commented on #9912
@ViktorHofer This limitation exists because of the AOT compilation. `Load(byte[])` would be still unsupported in uapaot even if we have done this.

[2018-06-17 17:56] jkotas opened #18521 "Marshal.StructureToPtr() only marshals first element of an fixed-size buffer when structure is contained within a managed/non-blittable structure"
_From @kpreisser on June 17, 2018 15:40_

Hi, sorry if this isn't the right place to report this, but I couldn't find other reports/explanations of this behavior.

I found that when using `Marshal.StructureToPtr()` with a managed/non-blittable structure that contains a blittable structure with a fixed-size buffer, only the first byte of that fixed-size buffer is actually marshalled; the remaining

[2018-06-17 18:03] ViktorHofer commented on #9912
Yes I understood that limitation for uapaot.

[2018-06-17 20:05] jakobbotsch opened #18522 "Deterministic program outputs indeterministic results on Linux in release"
On Ubuntu 14.04 using current HEAD (71f4199), the following program outputs 0 in debug but seemingly random values in release. On Windows, both debug and release output 0.
[code]

[2018-06-17 20:07] jkotas commented on #9912
So how would the uapaot tests work? You would still need to create a package for each test library, no?

[2018-06-18 05:28] wfurt commented on #18481
thanks @kouvel for the note. I can get more info from the test  as well as I think there is some debug option for the threading library.

[2018-06-18 10:11] mikedn commented on #3408
Thanks, I knew there are some cut-offs but could not find them. I experimented a bit and crossgen corelib does show a 1-2% improvement from decreasing the page size from 64k to 16k. Though I need to check what affect such a change has on internal fragmentation - JIT's arena allocator doesn't handle this. I also wonder if it's worth encroaching on HeapAlloc's per thread caches for 1-2%. Perhaps thi

[2018-06-18 14:28] kbaladurin commented on #17882
@BruceForstall thank you for the answer!

This problem is reproduced for me on Linux/armel (https://github.com/dotnet/coreclr/commit/71f4199f7dd043c4901a187b9bd88ab40e2b87e2).

Allowing the locals nearest to FP be accessed via FP fixes it. I've updated patch https://github.com/dotnet/coreclr/pull/18031 according your comment.

[2018-06-18 15:31] jkotas commented on #3408
Agree.

I am not worried about using HeapAlloc in .NET Core.

If there are any worries about the risk for desktop, we can put it under desktop-specific ifdef or quirk. I think that more practical risk is that it may expose latent app bugs: JIT will be likely using same memory as the app, and so it will be exposed to use-after-free bugs in the app.

[2018-06-18 16:05] janvorli commented on #18441
@BruceForstall I'll look into it.

[2018-06-18 16:29] janvorli commented on #18486
The code that allocates and frees the affected pointer hasn't changed since .NET core 1.0, so it looks like it is more likely a memory corruption rather than a double free. @anmenaga can you please share the core file with me?
Also, could you provide me with repro steps? Does it crash just when launching powershell or is it related to some command execution or any arbitrary commands can eventually

[2018-06-18 17:04] pranavkm opened #18525 "Possible JIT \ cross-gen bug in xplat in 2.2.0-preview1-26614-02 of shared runtime"
We started seeing errors during runtime Razor view compilation once we upgraded to build `2.2.0-preview1-26614-02` of Microsoft.NETCore.App. Downgrading to `2.2.0-preview1-26612-04` resolves this error. We're targeting the RTM (2.8.0) version of Roslyn that hasn't changed for a while now.

Builds with failures::
https://ci3.dot.net/job/aspnet_Mvc/job/dev/job/osx-Configuration_Release_prtest/319/co

[2018-06-18 17:33] jashook commented on #18485
Fixed by #18496

[2018-06-18 17:33] #18485 closed

[2018-06-18 17:44] AndyAyersMS commented on #3408
Doing some perf lab runs with HeapAlloc (tiered and non-tiered). Trying 16K first.

@mikedn if you have a set of changes you think we should build on, please point me at them.

[2018-06-18 17:50] jkotas commented on #18525
We had a bad regressions in the JIT last week (#18483) that is likely causing this. @pranavkm Could you please check whether this still repros with newer builds that include this fix?

[2018-06-18 18:07] anmenaga commented on #18486
@janvorli In our case this is happening on a Pi where PowerShell is working with special hardware. Continuously running PS instance where different scripts are getting launched 24x7.
Previously the system was successfully running for a month uninterrupted; but when we switched to latest PS version (which is the first one to be using .NET Core 2.1) we get 6-hours runtime max before this crash happe

[2018-06-18 18:13] mikedn commented on #3408
I've run my experiments on top of #15025. Mainly because it's easier to make changes around the pool page as it's separated from the allocator. Otherwise I don't think it affects numbers.

BTW - I also tried `HeapAlloc` + 8k, it seems a bit slower. Right now 16k seems best provided that it doesn't actually increase memory usage due to internal arena fragmentation.

[2018-06-18 18:32] jeffschwMSFT commented on #18490
Thanks @wjk for raising this scenario.  We are still working through the details of store shipped applications and as we understand more we will keep these types and scenario in mind.  @AaronRobinsonMSFT @luqunl

[2018-06-18 20:03] sandreenko opened #18532 "spmi doesn't report 'BAD_CODE`"
When spmi hits an assert it shows something like:
[code]

but when `BADCODE` happens it shows only `ERROR` message without any details:
[code]

[2018-06-18 20:06] sandreenko commented on #18532
cc @BruceForstall @dotnet/jit-contrib

[2018-06-18 20:17] #17058 closed

[2018-06-18 20:17] #17957 closed

[2018-06-18 20:17] #18143 closed

[2018-06-18 21:17] AndyAyersMS commented on #3408
Lab run is back.

HeapAlloc @16K reduces tiered JitBench MusicStore first request time by 0.93 (~430 -> 401).  This is a fairly dramatic speedup in the jit considering it is probably even at worst case only using about

Our measurement ability in the lab is a bit rough but 401 is clearly well below the range of recent observations:

![image](https://user-images.githubusercontent.com/10121823/41562

[2018-06-18 21:45] janvorli commented on #18486
@anmenaga I have an additional question. When it crashes, is the call stack always the same / similar to the one you've shown or is it completely random?

[2018-06-18 23:10] jeffschwMSFT commented on #18521
@luqunl @AaronRobinsonMSFT

[2018-06-18 23:43] anmenaga commented on #18486
@janvorli this is the first time we attached debugger before the crash. Machine is currently holding live debug session at the point of the crash.
We can release it and check the callstack next time it happens....

[2018-06-19 00:11] #18497 closed

[2018-06-19 00:12] mtaron opened #18533 "EventSource ActivityIds not present in Release UWP (.NET Native) traces"
The attached UWP app ([ActivityIdUwp.zip](https://github.com/dotnet/coreclr/files/2113339/ActivityIdUwp.zip)) has a simple self-describing EventSource.

[code]

When you take a trace of a **debug** build of the app, you will that ActivityIds are automatically computed for the stop and start events.

Event Name | Time MSec | Process Name | Rest
-- | -- | -- | --
TestEventSource/Test/Start | 13,081.

[2018-06-19 01:38] ajaybhargavb commented on #18525
I just upgraded to `2.2.0-preview1-26618-02` and this issue seems to be fixed. This issue can be closed.

[2018-06-19 05:39] jkotas commented on #18420
There are still some that can be cleaned up:

https://github.com/dotnet/coreclr/pull/18535#discussion_r196290773

[2018-06-19 05:53] noahfalk opened #18536 "Adding types to R2R images using profiler metadata emit at ModuleLoadFinished triggers AV"
After the ModuleLoadFinished callback returns the runtime attempts to update a type loader cache called the 'AvailableClassHash'. Historically this cache was always created eagerly prior to ModuleLoadFinished being called but ReadyToRun changed the behavior to be lazy. Unfortunately the code path the profiler used to update that cache wasn't changed to account for the lazy creation so it attempts

[2018-06-19 08:37] dotnet-mc-bot opened #18537 "Test failure: JIT_Regression._JitBlue_GitHub_18497_GitHub_18497_GitHub_18497_/_JitBlue_GitHub_18497_GitHub_18497_GitHub_18497_cmd"
Opened on behalf of @Sunny-pu

The test `JIT_Regression._JitBlue_GitHub_18497_GitHub_18497_GitHub_18497_/_JitBlue_GitHub_18497_GitHub_18497_GitHub_18497_cmd` has failed.

    Return code:      1
    Raw output file:      /home/helixbot/dotnetbuild/work/4ad925d1-68a5-4fb6-a02b-ec0e293a9d7b/Work/5adc0e71-0040-44e0-8eb2-8cc4d5380b66/Unzip/Reports\JIT.Regression\JitBlue\GitHub_18497\GitHub_18497\GitHu

[2018-06-19 10:06] yejinmo opened #18538 "CentOS 6 got 'System.Runtime, Version=4.2.0.0' could not load file ERROR"
I know that .Net Core does not support CentOS 6.x.

But I refer to @janvorli's article [How to use .NET Core on RHEL 6 / CentOS 6](https://github.com/dotnet/core/blob/master/Documentation/build-and-install-rhel6-prerequisites.md) to configure the environment.

This is my compilation command.
[code]

At the same time, I added `<RuntimeFrameworkVersion>2.0.3</RuntimeFrameworkVersion>` to the .csproj

[2018-06-19 11:23] jensdrenhaus opened #18539 "Call native methods of the CLR itself from managed code"
Hi,
is it possible to call a c++ method of the program, that hosts the CoreCLR, from inside the loaded managed assembly?

I need to integrate a C# programm into my C++ simulation project. So I successfully set up my C++ Project to hosted the CoreCLR and I'm able to call functions from the C# Code.
Now the C# itself needs to call into the C++ Code.

I tried native calls using [DllImport] with some

[2018-06-19 12:47] yyjdelete opened #18541 "`Access violation` when StackOverflow happen in async path?"
Test with win10x64, netcoreapp2.1, vscode1.25(Insider)

You can see app exited with `0x800703e9`(`COR_E_STACKOVERFLOW`) when run SOF  in sync with 1 args, and exited with `0xc0000005`(`Access violation`) when run SOF in async without args. And the stacktrace can't be catch in async mode as it does in sync.

<details>
<summary>code</summary>

[code]

</details>

[2018-06-19 12:57] benaadams opened #18542 "Inlined Struct wrapper .ctors are non-zero cost"
(Some now fixed by https://github.com/dotnet/coreclr/pull/19429)

This is problematic for example when adding formatting and/or buffering capabilities over `Span<T>`

As seen in "Add support for `BufferWriter<T>` to the JsonWriter" https://github.com/dotnet/corefxlab/pull/2366

When a struct wraps a struct (but has no additional fields) it becomes a non-zero cost abstraction for its constructor (b

[2018-06-19 13:01] benaadams commented on #18542
Method calls themselves are almost zero cost, or at least don't increase at same rate:
[code]
Gives
[code]

[2018-06-19 13:01] gfoidl commented on #18541
Hm, I can't reproduce this. Output is as expected
[code]
when run from VS or via CLI in either Debug or Release on win10 x64.

What's the output of `dotnet --info`?

[2018-06-19 13:08] yyjdelete commented on #18541
[code]

[2018-06-19 13:19] yyjdelete commented on #18541
The same output as mine.
The exit code only show when debug, and show in `output tab->debug`(vs) or `debug console`(vscode). And no stacktrace can be shown as sync does.
`The program '[16172] dotnet.exe' has exited with code -1073741819 (0xc0000005) 'Access violation'.`
`The program '[15620] ConsoleApp2.dll' has exited with code -1073741819 (0xc0000005).`

[2018-06-19 13:21] benaadams commented on #18542
This becomes more problematic as the size of the original struct increases, for example `Span<T>` wrappers: [sharplab.io](https://sharplab.io/#v2:EYLgHgbALANALiAhgZwLYB8ACAGABJgRgG4BYAKB3wIDoAlAVwDs4BLVAU2oGEB7VABxYAbdgCcAymIBuLAMbtkpMuUwBmKhHwAmKgHZyAb1y5yx/OsKaWzXADUWicXFH1ZcAgApx/RIwA8AEIAnnDsAHy4yACUpsYGsWbGUoiikQS4ALy4jOwA7rjintFKiWaYumnUADLsjADmcAAWJcYAvgnGCWoauNZwdg5OLm5aXj7+waER0QnxZKVJKZE

[2018-06-19 13:35] gfoidl commented on #18541
OK, can confirm this.

The access violation makes some sense to me. The continuation in the async-path tries to access some memory that isn't available anymore due the SOE.

[2018-06-19 13:36] benaadams commented on #18542
@mikedn the extended mov shimmy
[code]

[2018-06-19 14:06] cesna commented on #4382
@mleenhardt did your plan worked? (side care process with LTTng) Or maybe you found an easier solution? I am facing same challenge now. Looking for ways to get  GC "perf counters" on Linux.

[2018-06-19 14:16] TonyValenti opened #18543 "Internal Error in the .NET Runtime"
Hi All,
I'm not sure the right place to ask this but I could use some help.
It looks as though after an upgrade to .NET 4.7, we're having our apps randomly crash.
We're seeing errors like this:
Faulting module name: clr.dll, version: 4.7.3110.0, time stamp: 0x5ae8c35b
Exception code: 0x800703e9
Fault offset: 0x002b15da
Faulting process id: 0x3110
Faulting application start time: 0x01d407cfc700c079

[2018-06-19 14:47] jkotas commented on #18539
We do not have a way to reference the exported methods from the main program using DllImport in .NET Core today.

You can use `dlopen(NULL)` as a workaround.

[2018-06-19 14:58] sdmaclea opened #18544 "[Linux/arm64] GitHub_18497 fails with assert"
[code]

@Caroleidt To track new failure introduced in #18499

[2018-06-19 15:54] mleenhardt commented on #4382
Haven't gotten around working on this yet but unless there is now something better, that's still the plan.

[2018-06-19 16:11] AndyAyersMS commented on #18542
Possibly related: #9066, #14592, #15782, #17907.

Last time I looked there were some quirks in how the RA's preferencing worked could lead to this behavior. I tried tweaking this some with #16028 but am not convinced it really helped much.

If you have just the right pattern of live ranges -- something like a local with long span between first def and last use (and intermittent liveness) and a bun

[2018-06-19 16:14] AndyAyersMS commented on #18542
Note one of the proposals for UTF8 wraps ReadyOnlySpan<byte> (or perhaps ReadOnlyMemory<byte>) somewhat like this...

[2018-06-19 16:16] CarolEidt commented on #18544
This is a pre-existing bug exposed by this new test.
I believe that the problem is that the struct promotion logic (where the assert is firing) is not considering the implicitByRef (passed by reference) case.

[2018-06-19 16:16] stephentoub opened #18545 "GlobalizationMode.Invariant's PunycodeDecode repeatedly calling StringBuilder.ToString"
See all of these calls to `output.ToString()` including two in a loop, and `output` isn't changing in this region:
https://github.com/dotnet/coreclr/blob/473d9b09c7e000480f41021c94fbffeae27cb179/src/System.Private.CoreLib/shared/System/Globalization/IdnMapping.cs#L776-L806

Seems like this should either a) create the string once rather than repeatedly creating it, or b) retrieve the char from the

[2018-06-19 16:32] tarekgh commented on #18545
I'll take a look at this one.

[2018-06-19 16:33] Neo-Ciber94 commented on #2322
Pointer to generics, Feature or unexpected behaviour? .NET 7.3

`public unsafe struct SomeStruct<T> where T: unmanaged
{
}
`

`public unsafe struct OtherStruct<T>`
`{`
              `         SomeStruct<T> _someStruct; //Not allowed`
`}`

[2018-06-19 16:38] Neo-Ciber94 commented on #2322
**Pointer to generics, Feature or unexpected behaviour? .NET 7.3**

        public unsafe struct SomeStruct<T> where T: unmanaged { }

        public unsafe struct OtherStruct<T>
        {
                SomeStruct<T> _someStruct; //Not allowed
        }

[2018-06-19 16:44] Neo-Ciber94 opened #18547 "Pointer to generic Type are not allowed."
**Is impossible to declare pointers to generic types, .NET 7.3**

        public struct Unmanaged<T> where T: unmanaged { }

        public unsafe struct SomeCoolAndSexyStruct<T> where T: unmanaged
        {
                public Unmanaged<T>* _pointer; //Not allowed
        }

[2018-06-19 17:09] jkotas commented on #18547
This is C# language limitation.

[2018-06-19 17:10] jkotas commented on #18547
This issue was moved to dotnet/csharplang#1649

[2018-06-19 17:10] #18547 closed

[2018-06-19 17:14] AndyAyersMS commented on #18522
I'll take an initial look.

[2018-06-19 17:42] AndyAyersMS commented on #18522
Looks like on Linux we widen a store inappropriately and clobber an adjoining field.
[code]
Looking at the jit dumps now....

[2018-06-19 18:12] fiigii opened #18549 "Remove sbyte overloads of Intel AES intrinsics"
Currently, each `Aes` intrinsic has `byte` and `sbyte` overloads, but the unsigned `byte` is probably sufficient for data encryption/decryption operations.
[code]

[2018-06-19 18:16] benaadams commented on #18542
Can't get the overall size of the ref struct as all my tools work with a generic param, and ref structs don't like that; but the example I was looking at in https://github.com/dotnet/corefxlab/pull/2366

[JsonWriterPerf.cs#L210-L212](https://github.com/benaadams/corefxlab/blob/abbb65abc689e31d56a3d22882d0d950f40882f0/tests/Benchmarks/System.Text.JsonLab/JsonWriterPerf.cs#L210-L212)
[code]
Becomes

[2018-06-19 18:16] fiigii commented on #18549
cc @CarolEidt @tannergooding @eerhardt @mikedn @jkotas

[2018-06-19 18:22] AndyAyersMS commented on #18522
Seems like this happens in `impAssignStructPtr` where because the struct returning call has been retyped as int we somehow propagate that to the subsequent assign:
[code]
Lots of convoluted logic in this method....

[2018-06-19 18:40] svick commented on #18542
Interesting that I see different disassembly from BenchmarkDotNet (both on .Net Core 2.1 and .Net Framework 4.7.2):

![](https://user-images.githubusercontent.com/287848/41615516-c03d3b90-73fb-11e8-9338-abab3229416f.png)

![](https://user-images.githubusercontent.com/287848/41615531-cad017bc-73fb-11e8-8aaf-3ac6017bec11.png)

![](https://user-images.githubusercontent.com/287848/41615557-d4755f5c-73

[2018-06-19 19:27] AndyAyersMS commented on #18522
Similar issue if `M113` is marked noinline -- so there are at least two clauses in `impAssignStructPtr` with faulty logic (for GT_CALL and GT_RET_EXPR).

[2018-06-19 20:03] fiigii opened #18553 "SSE2 Insert (pinsrw) has incorrect encoding on containment form"
SSE2 `Insert` (instruction `pinsrw`) has incorrect encoding on containment form:
[code]
However, the correct encoding should be
[code]

Note: the JIT dump is incorrect, the above `xmmword ptr` should read `word ptr `.

SSE4.1 Insert works fine, and this bug seems introduced from the recent containment change.

I will look into this issue. cc @CarolEidt @tannergooding

[2018-06-19 20:12] AndyAyersMS commented on #18522
Still not sure where to actually try and fix this one.

I wonder about the asymmetry in `getArgTypeForStruct` and `getReturnTypeForStruct`: the former carefully preserves short types, the latter doesn't.... (though on windows we also retype the call to return `int`).

@CarolEidt any ideas?
cc @dotnet/jit-contrib

[2018-06-19 20:16] tannergooding commented on #18553
@fiigii, it is probably one if the "Does the constant fit in a byte" checks. For example: https://github.com/dotnet/coreclr/blob/master/src/jit/emitxarch.cpp#L10067

There are three others as well (just search for `code |= 2`)

[2018-06-19 20:19] fiigii commented on #18553
@tannergooding Thanks! I will investigate it later.

[2018-06-19 20:19] janvorli commented on #18543
The exit code means "stack overflow".

[2018-06-19 20:35] #18544 closed

[2018-06-19 20:36] CarolEidt commented on #18522
I don't have any real ideas. I would certainly suspect that `getArgTypeForStruct` and `getReturnTypeForStruct` should behave similarly (at least when the passing/returning rules are the same).

[2018-06-19 20:40] tannergooding commented on #18553
@fiigii, do you know why the tests aren't failing? Is this just not a covered scenario since the SSE2 tests haven't been moved to the templates yet?

[2018-06-19 20:41] anmenaga commented on #18486
Here is another one:
[code]

[2018-06-19 20:52] fiigii commented on #18553
Because the current test template only covers containment for vector types, but SSE2 `pinsrw` requires a `short` on the last operand
[code]

[2018-06-19 20:53] briansull commented on #18522
For Args we have to read them as small type and the upper bits can be garbage.  (Manged code won't pass uninitialized bits in the upper bits of an argument, but C++ code can and does)
For Returns in managed code we always zero/sign extend the short type so that it returns a register sized value.

[2018-06-19 20:54] BruceForstall commented on #18181
Note also, in emitEndCodeGen:
[code]

[2018-06-19 21:02] AndyAyersMS commented on #18522
Sure, but why then retype consumers of the returns...?

I can probably hack what is going on in `impAssignStructPtr` to recover the typing information we just threw away in `impFixupCallStructReturn` but that seems like just paving over one problem with another.

One of my struggles here is that I have a deep seated belief that we should not be mixing in ABI concerns this early in the phase orderi

[2018-06-19 21:20] jkotas commented on #18543
The first step to get this failure diagnosed is to get the stacktrace of the crash:
- Either run the app under debugger
- Or collect the dump of the crash (https://msdn.microsoft.com/en-us/library/windows/desktop/bb787181(v=vs.85).aspx are registry keys to enable the dump collection) and then open the dump in debugger

[2018-06-19 21:29] mikem8361 commented on #18465
I’ll you know when this symbol downloader is ready.  It should soon 😊.

[2018-06-19 22:17] CarolEidt commented on #18522
I agree - I think we need to take ABI constraints into consideration when making struct promotion decisions, and possibly elsewhere. But retyping expressions in this way has caused numerous issues over the years. IMO the transformations done to normalize small types should be done just once (presumably in morph, not in the importer), so that the logic doesn't need to be repeatedly duplicated. To m

[2018-06-19 23:19] AndyAyersMS commented on #18522
FWIW on windows we also realize we're going to return the type in a register, but we've set `gtReturnType` to `short`.

So that suggests that the right path is perhaps to modify `getReturnTypeForStruct` to preserve short integer types.

[2018-06-19 23:45] BruceForstall commented on #18532
You could probably set `COMPlus_JitBreakOnBadCode=1` to get the same message as the assert.

[2018-06-19 23:53] adamsitnik opened #18560 "Why GC.GetAllocatedBytesForCurrentThread always returns 0 when processor affinity is set?"
When the processor affinity is set in explicit way `GC.GetAllocatedBytesForCurrentThread` always  returns 0. Even is something was allocated.

[code]

[code]

@jkotas @Maoni0 is this expected behavior? am I doing something wrong?

I am porting CoreCLR benchmarks from xunit-performance to BenchmarkDotNet and I have faced this issue today when I was comparing the results of some unstable benchmarks

[2018-06-20 00:03] jkotas commented on #18560
Yes, this is how the API was implemented. Setting affinity to single proc will disable allocation contexts, that in turn makes this API to always return 0.

I have pointed this non-intuitive behavior when this API was introduced: https://github.com/dotnet/coreclr/pull/6953#discussion_r76631905.  I agree that the current behavior does not sound right:

[2018-06-20 00:14] brianrob commented on #4382
The work I described above around exposing runtime data through EventListener is in-progress and so hopefully by the time you're ready it will be as well.  I don't have an ETA yet though.

[2018-06-20 01:00] nattress opened #18562 "R2R Dumper treats READYTORUN_SECTION_RUNTIME_FUNCTIONS as required"
Currently the dumper requires READYTORUN_SECTION_RUNTIME_FUNCTIONS section to be present. It is actually optional - see https://github.com/dotnet/coreclr/blob/master/src/vm/readytoruninfo.cpp#L551

We should handle the case where it's missing gracefully in r2rdump.

[2018-06-20 01:50] #18545 closed

[2018-06-20 02:43] morganbr commented on #18501
I'd think the more frequent GCs should be triggered by the application since it's more likely to know when it's done with secrets.

[2018-06-20 07:06] Noctune opened #18564 "Segmentation fault in WKS::gc_heap::mark_object_simple on Linux"
On a linux machine running CentOS  7.5.1804 and Dotnet 2.1.300, I get the following segfault:

[code]

The program runs without problems in Windows. The only native library used is System.Data.SqlClient, otherwise its all no-unsafe C# code. Unfortunately I have not been successful in reproducing the bug in a smaller program and I cannot share the original program.

It's possibly (likely?) a memory

[2018-06-20 08:05] dotnet-mc-bot opened #18565 "Timeout build failures in 'prodcon/coreclr/release/2.1/' - '20180620.01'"
There were a set of failures during this build. Here is a summary of these:
* https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=1790648
  - **Agent:** DDVSOLINUXAGE003
  - **Error log:** The job running on agent DDVSOLINUXAGE003 has exceeded the maximum execution time of 90....

* https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=17

[2018-06-20 09:14] ashishnegi opened #18566 "Compatibility with .Net Framework : static constuctor in Program called before Main is invoked"
The static constructor of `Program` in both coreclr and .net framework are called before `Main` is invoked, if everything is simple.

In our case, we have a Type being referred in `Main` which is loaded dynamically by an `AssemblyResolver` registered in `Program's static constructor`. Static constructor in .Net Framework is called successfully before `Main` is invoked. So, we get a change to regis

[2018-06-20 09:43] janvorli commented on #18538
Here is what works for a simple hello world app:
* On some newer supported Linux distro, install dotnet 2.1 sdk from https://www.microsoft.com/net/download/linux
* Create a directory named e.g. `test` and `cd` into it
* Run `dotnet new console`
* Run `dotnet publish -r rhel.6-x64`
* Copy all files from `bin/Debug/netcoreapp2.1/rhel.6-x64/publish/` subfolder to a directory on your CentOS 6 machine

[2018-06-20 10:49] adamsitnik commented on #18560
@jkotas once again big thanks for help!

I am going to close this issue and open a new one with a list of requirements that we have once I finish porting all repositories and the requirements are crystal clear.

[2018-06-20 10:55] xPaw commented on #16462
I am getting a similar `abort` issue where the process just quits. How would I go about trying to debug this? It's only happened a few times, so it's rare.

[code]

And it just looks like this:
[code]

[2018-06-20 11:13] Extred commented on #18465
@vancem I've tried EventPipe feature, but it does not create any .netperf files both on my project and helloworld sample.

Host (useful for support):
  Version: 2.1.0
  Commit:  caa7b7e2ba
.NET Core SDKs installed:
  2.1.300 [/usr/share/dotnet/sdk]

As for repro project: I'm trying to make one, but it's still unclear what's the cause of performance drop, so I can't reproduce it with simple app yet

[2018-06-20 14:16] jkotas commented on #18566
The timing of static constructors in .NET Framework is unpredictable, depends on multiple factors. For example, if you `ngen install ConsoleApp1.exe` in .NET Framework, the timing will change to the .NET Core one.

We have changed the timing in .NET Core to be consistent and predictable.

The underlying details have been discussed in https://github.com/dotnet/coreclr/issues/17981

[2018-06-20 14:16] #18566 closed

[2018-06-20 15:12] jkotas commented on #18560
I think we should keep this issue opened. It is a bug that we should look into fixing.

[2018-06-20 15:36] RussKeldorph commented on #18537
Doesn't repro.  Appears to be due to tests out of synch with product bits.

[2018-06-20 15:37] #18537 closed

[2018-06-20 15:41] RussKeldorph commented on #18565
@mmitche It took an hour or more to "Get Sources."  Is this just an intermittent network/server outage, or is there more to investigate?

[2018-06-20 15:59] RussKeldorph commented on #18564
@maoni0 @dotnet/dotnet-diag Assuming this indeed doesn't look like a runtime bug, do you have any debugging tips/docs?

[2018-06-20 16:09] CarolEidt commented on #18537
@RussKeldorph - thanks!

[2018-06-20 16:25] janvorli commented on #16462
@xPaw first, I would recommend upgrading your dotnet sdk to the final release version (2.1.300). If the issue persists, please run your app e.g. under gdb (gdb --args dotnet xxxx xxx xxx...) or lldb (lldb -- dotnet xxxx xxxx xxx....) and when you hit the abort, list the stack trace (bt command in gdb / lldb) and share it here.

[2018-06-20 16:55] xPaw commented on #16462
@janvorli Thanks, I will update and will see what happens.

Just FYI, I have had this abort issue on 2.0 as well.

[2018-06-20 18:01] vancem commented on #18465
Hmm, I tried those instructions (setting the two environment variables (be careful with capitalization, it matters!)  locally on what seems to be the same version  Here is the complete output of 'dotnet --info'
[code]
The important part is the 2.1.0 version of Microsoft.NETCore.App because that is the part that has the new EventPipe code.

I would start with the simplest case.   Create a hello-wor

[2018-06-20 18:22] brianrob commented on #18465
I missed this in my first read - the first environment variable is close, but not quite correct.  You should use:

[code]

The first environment variable is corrected to EnableEventPipe from EventPipeEnable.

Note that ```dotnet run``` is likely to give you at least two netperf files because it will run multiple dotnet processes - one for the SDK to ensure that the built app is up-to-date and one

[2018-06-20 18:31] Maoni0 commented on #18564
if you can repro this reliably, what I usually do is

1) turn on heap verify (set the complus_heapverify to 1) - this shows you whether the corruption happened in or outside of GC
2) if it's inside GC, you can turn on the GC internal logging. @janvorli has done this a few times on Linux before.
3) if it's outside GC, see if there's a pattern - is it always the same type of objects (or even the sam

[2018-06-20 18:44] ashishnegi commented on #18566
Good to know that we are moving towards consistency in CoreClr.

[2018-06-20 18:49] janvorli commented on #18564
@Noctune please note that the env variable names are case sensitive on Unix, so you need to use COMPlus_HeapVerify.

[2018-06-20 18:56] yzrmn opened #18575 "AVX performance worse than SSE because of VZEROUPPER?"
I noticed some implausible results in my HW instrinsics benchmark: 2x SSE performed faster than the 1x AVX equivalent with 8 integers. Looking at the disassembly, the `VZEROUPPER` might be the suspect.
Using the latest dailies (CLR and System.Runtime.Intrinsics) does not change the generated machine code.
I would expect AVX to be faster than SSE or at least even, so is there any possible way to re

[2018-06-20 18:59] Maoni0 commented on #18564
ahh yes, thanks @janvorli

[2018-06-20 19:00] Extred commented on #18465
That worked!

[netperfs.zip](https://github.com/dotnet/coreclr/files/2120658/netperfs.zip)

Both perfs are for 3-minute app worktime.
There is a heavy startup in that app so first 30s can be ignored.

[2018-06-20 19:10] anurse commented on #18323
I've encountered a similar exception (`System.BadImageFormatException: Bad IL format`) fairly consistently, but in random places, and was able to stop it from occurring by disabling the Application Insights Service Profiler. I got suspicious when I was seeing these random image format errors in my own test apps and noticed this profiler hanging around, since I believe profilers are able to mess ar

[2018-06-20 19:24] ydekova opened #18577 "ASP.NET core web API - OOM on Ubuntu after upgrade to 2.1."
We have a .net core web API running on AWS Ubuntu 16.04 VM.
The API is using EF to query a relatively small DB and makes a lot of external requests due to integrations with other systems. After we upgraded to 2.1. we started to have serious OOM problems on production.  During the upgrade, we haven't changed much in our execution logic aside from the changes needed to support the changes in the API

[2018-06-20 19:29] benaadams commented on #18542
JitDump for ViaStruct5 https://gist.github.com/benaadams/ad76003a334f3da6916ac5c8a80d95d1

[2018-06-20 19:56] voinokin commented on #18575
Could you please issue separate benchmark on 256-bit vs 128-bit vector loads on your CPU ?

[2018-06-20 20:02] vancem commented on #18465
OK I have decoded the files.  Brian for you information they re in my public clrmain area under users\vancem\issue18465.   There is a linux.netperf and a win.netperf

One big difference I see right away is that the Linux trace has a bunch of EventSource logging overhead that is coming from the network and task library instrumentation.   This is not present in the windows trace.   There is alot of

[2018-06-20 20:02] benaadams commented on #18542
I suppose an orthogonal question is why it generates:
[code]

Rather than
[code]

[2018-06-20 20:08] vancem commented on #18465
In the Linux trace I also see System.IO.FileSsytem.Watcher running in the Linux trace but not in the Windows trace at all.   @Extred  it would be useful to see what is going on in a debugger with this (set a breakpoint on its constructors).   My guess is that again there is a code difference on Linux.

[2018-06-20 20:10] woodne opened #18579 "DateTime.ToString("d") formats differently on Mac OS and Windows"
When I have a DateTime that I call `ToString("d", CultureInfo.CreateSpecificCulture("en-US"))` I would expect that the formatted string would be the same on different platforms, but for a date "9/25/2017" it produces 9/25/17 on MacOS and 9/25/2017 on windows.

[2018-06-20 20:17] yzrmn commented on #18575
Sure, although I am not sure what this means now (VZEROUPPER is still emitted)

[code]
|        Method |      Mean |     Error |    StdDev |
|-------------- |----------:|----------:|----------:|
| LoadVector128 |  8.469 ns | 0.0364 ns | 0.0304 ns |
| LoadVector256 | 10.894 ns | 0.0521 ns | 0.0488 ns |

[code]

[2018-06-20 20:29] zuckerthoben commented on #18323
I have also seen the BadImageFormatException once yesterday. The thread for this is: https://github.com/dotnet/coreclr/issues/18448

I will try disabling the AI Service Profiler.

[2018-06-20 20:32] vancem commented on #18465
I have confirmed that in a sample MVC app that when you turn on EventPipe
1. There is NOT alot of EventSource overhead.  Thus it is NOT something inherent in ASP.NET or EventPipe but something specific to @Extred  scenario.

2. There IS however a bunch of FileSystem.Watcher overhead.  Thus this seems to be something built into ASP.NET.   Investigating...

To dig into (1) above you can place a brea

[2018-06-20 20:36] vancem commented on #18465
Ignore the issue with FileSystem.Watcher  I am forgetting that this is thread time, not CPU time.  You expect alot of blocked time just waiting around for a file system change.

[2018-06-20 20:36] yzrmn commented on #18575
I updated my previous post with the benchmark and it seems that your theory holds, interesting...
Is this specific to AMD (Ryzen), or even known behavior?

[2018-06-20 20:39] voinokin commented on #18575
This is known behavior at least on some Intel CPUs. Can't name the uarchs, but I recommend digging into forums. Also, to be sure this is not related to VZEROUPPER (whic is different story, see eg #18400 ) please ensure the data being loaded/stored is aligned to natural boundary - see **[UPD]** section in my first recommendation.

[2018-06-20 20:46] chrarnoldus commented on #18323
@anurse I've also seen BadImageFormatException occur in addition to InvalidProgramException. The Application Insights profiler is indeed enabled and I fairly regularly see errors in the Application Events tab of App Service that I think may be caused by it (like `.NET Runtime version 4.0.30319.0 - Loading profiler failed.  Failed trying to receive from out of process a request to attach a profiler

[2018-06-20 20:47] Extred commented on #18465
@vancem

No, that's a fresh linux installation

How do I do that?

Code is the same, I've copied the publish directory to Windows from Linux

[2018-06-20 20:52] voinokin commented on #18575
In case you haven't found this resource yet, here is one link to start with - http://www.agner.org/optimize/#manuals
I believe this manual - *"3. The microarchitecture of Intel, AMD and VIA CPUs: An optimization guide for assembly programmers and compiler makers"* - is most relevant since it gives inights on some innards of CPUs, particularly AMD Ryzen (your case).

[2018-06-20 21:49] brianrob commented on #18465
@vancem, the difference in EventSource events coming to EventPipe is expected for .NET Core 2.1 as the fix to enable these for Windows was made in a post 2.1 change.  You are also correct that EventPipe should not cause anything to go down the EventListener path - it goes down the platform logger (ETW) path.

[2018-06-20 21:51] brianrob commented on #18465
It sounds like there is an EventListener being turned on somewhere, as that would explain the time spent in System.Diagnostics.Tracing.EventSource.DispatchToAllListener.

[2018-06-20 22:05] yzrmn commented on #18575
I aligned the array to 32 bytes for all methods and used LoadAlignedVector128/256, no significant change though.
But my other benchmarks are showing that AVX is significantly faster when used with sufficiently big arrays (e.g. 800 integers). I do not understand why this is somehow working better (there are still 2 SSE loads/stores for every AVX load/store).

The resource you linked looks very good

[2018-06-20 22:21] voinokin commented on #18575
If that would be Intel CPU, I'd suggest checking whether there's some warm-up period involved while CPU executes 256-bit AVX operations split to 2x 128-bit ones until it decides there's no real reason to try to conserve power and then turns on ALL its stuff. I can's say I'm too familiar with AMD CPUs yet, but it's obvious that there are many details to catch. I've read that Ryzen was kinda big red

[2018-06-20 22:28] Snalibe opened #18580 "Deadlock occuring after calling GetTypes() in visual studio"
First of all, I'm new to this, I'm not even sure I'm posting this at the right place. That being said, here is my problem.

I have a C# application that lazy load a dll. In the constructor of a static class in that dll, I have a call to GetTypes(). The problem seems to occur with a specific timming and only happens when running the application from visual studio. I'm running the .NET Framework 4.7

[2018-06-20 22:38] CarolEidt commented on #18295
Confirmed that #18561 fixes this on arm/linux

[2018-06-20 22:38] #18295 closed

[2018-06-20 22:59] CarolEidt commented on #18549
Seems like a good idea to eliminate the `sbyte` overloads. Do you recall if there was a reason why they were added originally?

[2018-06-21 00:15] benaadams commented on #18542
[code]
`do-not-enreg[XSF] must-init addr-exposed`?

[2018-06-21 00:39] benaadams commented on #18542
Is it because they are passed byref?
[code]

[2018-06-21 01:19] benaadams commented on #18542
"Inlining" via `Unsafe.As` gets a bit closer, though obviously its not very flexible; and still has some in and out of stack action:
[code]

[code]
Rather than
[code]
[code]

[2018-06-21 09:31] tmct commented on #17071
Hi - when might we expect the 4.7.2 servicing update? Looks like the legacy JIT compiler's been retired https://blogs.msdn.microsoft.com/dotnet/2018/06/19/the-ryujit-transition-is-complete/

[2018-06-21 13:45] jkotas commented on #18579
The culture-specific formatting uses the format configured in the OS. MacOS and Windows are configured differently by default in this case.

This is duplicate of https://github.com/dotnet/coreclr/issues/16960 . Check the discussion in this issue for more details.

[2018-06-21 13:45] #18579 closed

[2018-06-21 13:56] woodne commented on #18579
Thanks! Sorry I tried searching but could not find this.

[2018-06-21 14:17] jkotas commented on #18577
There is no setting like this in the runtime itself. The garbage collector is aware of the total amount of memory available and it will try hard to collect garbage when the memory consumption is close to this threshold.

The problem you are seeing is likely caused by a memory leak. It may be bug in the framework or it may be a latent bug in your code that got exposed by upgrading to 2.1.

What is

[2018-06-21 14:31] jkotas commented on #18580
The problem seems to be caused by `AppDomain.AssemblyLoad` event being delivered on Thread #2.

Could you please find out what is the assembly load event that the Thread #2 is trying to deliver? Does your application uses `AppDomain.AssemblyLoad` ?

`AppDomain.AssemblyLoad` is a very low-level hook into the system. The handlers for these events have to be written very carefully.

[2018-06-21 15:32] sdmaclea commented on #18285
There were two new failures last night.  I haven't seen either before.

gcServer=1
heapverify=1
Loader/classloader/TypeGeneratorTests/TypeGeneratorTest482/Generated482/Generated482.sh
[code]

gcServer=1
heapverify=1
JIT/Methodical/Arrays/misc/_relgcarr/_relgcarr.sh
[code]

[2018-06-21 15:35] sdmaclea commented on #18286
gcStress is stable on Linux/Arm64 now.  I am no longer seeing intermittent failures.  Closing this for now.

[2018-06-21 15:57] #17882 closed

[2018-06-21 16:57] AaronRobinsonMSFT opened #18594 "Consolidate testing guidelines"
There are multiple documents under https://github.com/dotnet/coreclr/tree/master/Documentation/building that describe how testing can be accomplished. These docs include building and running tests. However since we are using platform agnostic tools, the instructions should also be largely agnostic of platform. Minor command line differences, but that are basically limited to use the `.sh` vs `.cmd

[2018-06-21 17:11] ydekova commented on #18577
@jkotas thanks for your reply. Looking at the memory dumps one notable difference between 1.1. and 2.1. I can see is that in 2.1 there are a lot of objects of type Closure, which don't get collected by GC.collect.

On 1.1 a lot of Closure objects get generated after some heavy load operations as well, but after GC all disappear. On 2.1 they just keep on piling up. I waited for some idle time and r

[2018-06-21 17:18] assyadh commented on #18381
Hi,

Bumping up this issue. Were you able to reproduce it? Please let me know if you need more data.

Hamza.

[2018-06-21 17:34] nycdotnet commented on #18448
Noah we're looking forward to the 2.1 hot fix at Namely.  We're on .NET Core 2.0 in prod for many of our services, and we use New Relic.  With yesterday's blog post that .NET Core 2.0 will be out of support in ~70 days, we're quite nervous that we will find ourselves in a difficult position soon.  Thanks for your work on this issue.

[2018-06-21 17:41] CarolEidt commented on #18153
I'm attempting to build using the instructions here: https://github.com/dotnet/corert/blob/master/Documentation/cross-building.md but for arm instead of armel. I'm getting the following error from `./build.sh arm debug verbose clean cross`:
[code]

[2018-06-21 17:42] CarolEidt commented on #18153
@dotnet/corert-contrib - can someone suggest where I might be going wrong? I've been successfully building coreclr and corefx using docker; might that be possible for corert as well?

[2018-06-21 17:54] AndyAyersMS commented on #17071
@tmct Sorry for inadvertently confusing you. We're not very creative sometimes naming things. The announcement above was talking about finally removing some "legacy" code paths from RyuJit.

The legacy jit for x64 on .Net Framework is an entirely different and unrelated code base and is unchanged. It is part of 4.7.2 and will continue to ship and behave as it does now.

@briansull can you update t

[2018-06-21 17:55] RussKeldorph commented on #18594
@sbomer FYI.

[2018-06-21 18:45] briansull commented on #17071
Fix is available on Windows Update:

Via the monthly KB match for May:
https://support.microsoft.com/en-us/help/4100403/windows-10-update-kb4100403

[2018-06-21 19:42] jkotas commented on #18577
Nothing that I am aware of.

I think that this is what you should look into more. Why are these referenced from the EF memory cache?

[2018-06-21 20:16] nmain commented on #18501
Would this be instead of #18386?

[2018-06-21 22:19] AndyAyersMS commented on #18542
Also note struct promotion is not as general as one might hope -- struct of structs generally won't get promoted except in one very special case (struct of struct of primitive).

[2018-06-21 23:02] AndyAyersMS commented on #18522
Think I have the return via temp part working, but looking at where things have ended up it seems like we might as well just re-fetch the struct size from the VM and check it in `impFixupCallStructReturn` instead of calling `IsEnclosingType` on the return type descriptor -- that lets us back out a bunch of the other changes including `SPK_EnclosingType` and leaves what should be a fairly surgical

[2018-06-21 23:25] Petermarcu opened #18599 "Dllimport does not find libraries outside of system default (Linux)"
@furoraest commented on [Sun May 20 2018](https://github.com/dotnet/core/issues/1575)

when doing PInvoke call, like
[DllImport("mylib")]
        private static extern int some_external_func();
the dotnet does not find library, unless in its some system default (like /usr/lib)
If to explicitly state the actual library name like "libmylib.so.0.0.0" it will find it
ldconfig is finding the libraries

[2018-06-22 00:07] AaronRobinsonMSFT commented on #18599
It looks like the [loader](https://github.com/dotnet/coreclr/blob/8e48db2c113052ef18cdafb43e114a8633864ec0/src/pal/src/loader/module.cpp#L1403) is only passing the `RTLD_LAZY` flag and not the `RTLD_GLOBAL`. Since `RTLD_GLOBAL` isn't passed, `RTLD_LOCAL` is assumed. That is the only thing that is obviously different in this case. I don't fully understand the issue though. Is the problem library de

[2018-06-22 00:43] janvorli commented on #18599
@furoraest I am not sure I fully understand the issue. You are specifying mylib in the dll import, so we try to load mylib, mylib.so and libmylib.so. We would also load the library from the same directory where your app is located, provided it has one of these three names.

[2018-06-22 03:01] jkotas opened #18602 ""Go to disassembly" in VS aborts debugging session"
Repro:

- Attach VS to CoreCLR process
- Find frame in System.Private.Corelib
- Select "Go to disassembly"

Result:

msvsmon.exe crashes

[2018-06-22 03:07] jkotas commented on #18602
On checked CoreCLR build, it hits "IsNeutered" assert at this callstack - it is where things begin to go wrong:

[code]

[2018-06-22 03:09] jkotas commented on #18602
@noahfalk Could you please take a look? Looks related to #18322

[2018-06-22 04:22] furoraest commented on #18599
@AaronRobinsonMSFT  I will check the flags. And sorry about explanation, maybe it should be 2 different issues. The first problem was it didnt find library outside the system "default" paths without giving explicit names, which will breaks your program in future if there are library version updates.
Second problem was: if referenced and loaded library tried to use some other library in system I ha

[2018-06-22 05:22] AaronRobinsonMSFT commented on #18599
@furoraest Let me summarize to ensure we are on the same page.

Problem 1
If you have a library called `foo.so` and that is _not_ on one of the default ld paths or next to the app, then it will fail to load?
`~/bin/app.so`
`~/bin/lib/foo.so`
ld path = `/usr:/usr/lib`

Problem 2
If you have a library called `foo.so` which has a dependency on `bar.so` and they are _not_ next to each other and _not_

[2018-06-22 05:29] GrabYourPitchforks opened #18603 "RyuJIT and SIMD - suboptimal codegen when performing bitmask comparisons"
[code]

This generates the codegen (x64):

[code]

The `vpand` instruction is unnecessary, as the comparison line could read simply `vptest ymm0,ymm1`, which sets both _ZF_ and _CF_ (see http://www.felixcloutier.com/x86/PTEST.html).

[2018-06-22 05:38] AaronRobinsonMSFT commented on #18580
The `WpfTap` assembly in that stack is injected into the process to support the [WPF Live Visual Tree](https://docs.microsoft.com/en-us/visualstudio/debugger/inspect-xaml-properties-while-debugging) tool. You can verify this is indeed the culprit by turning the tool off in Visual Studio by unchecking the feature in:

If turning the tool off stops the deadlock, I would file a bug through [Visual St

[2018-06-22 06:54] furoraest commented on #18599
Yes, You got my problem ;)
Problem1:
I am trying to interface GNURadio C++ libraries, for helping i created my own simple c++ wrapper,
Extract from ldconfig -v:
[code]

testprogram:
[code]
Tesprogram will fail on libgnuradio-wrapper, or libgnuradio-wrapper.so arguments but will not fail on full e.g. libgnuradio-wrapper-1.0.0git.so.0.0.0 argument
if to explicity add PATH to /usr/local/lib to the en

[2018-06-22 07:36] furoraest commented on #18599
Problem2:
When wrapper calls out other functions, they need to be preloaded inside the dotnet core program with FULL name. Note that the wrapper lib argument is shortened, program is running with
[code]
Extract from ldconfig:
[code]

example working program:
[code]

Error message (when not preloading the library with dlopen):
[code]
So currently I can make it working if I reference full name of li

[2018-06-22 07:37] fanoI commented on #18599
I had a similar issue when tried to port Mono Winform to Net Core it referenced libX11 (without the so too) and was not found... in any distro libX11 is apparently in a different place: https://github.com/yzrmn/System.CoreFX.Forms/issues/1

[2018-06-22 07:42] furoraest commented on #18599
@fanol Can You try to preload libX11.so.6 and see if it will make any difference?
In my case i just runned program and saw from error what library was unable to load and manually preloaded them...

[2018-06-22 07:54] fanoI commented on #18599
You mean doing a p/invoke to dlopen()?

The fact is that Winform code is "giant" and does a lot of P/Invokes: all this worked in Mono without doing anything, this should work on CoreFx too.

[2018-06-22 08:00] noahfalk commented on #18602
@jkotas thanks for finding this! Interestingly this appears to be a pre-existing bug in 2.1.0 RTM but #18322 increased its exposure. In my attempt to repro it did not crash msvsmon, but in both 2.1.0 and current daily builds the debugger is effectively doing an invalid type cast that treats the block of memory for a Module* as if it was an ILCodeVersionNode*. Later use of this invalid pointer in t

[2018-06-22 08:02] furoraest commented on #18599
"Should" is a relative term in software engineering....
I find it also annoying but perhaps the problem is everybody tries to write new cool stuff in Core and forgets there are literally billions lines of code written in C/C++ or some other cool language, compiled and totally reusable. It might be just there aren't many people faced with this issue just because there aren't many people who have be

[2018-06-22 08:39] janvorli commented on #18599
@furoraest can you please run your tests in a version that doesn't work (and you'd expect it to) with LD_DEBUG set to all (don't export the LD_DEBUG as it would be then used for all consecutive commands you execute, just prefix your command line with LD_DEBUG=all) and then share the dump? The dump will contain all the information about where the shared library loader was looking for libraries, sym

[2018-06-22 08:53] BredPet commented on #18153
@CarolEidt it's "normal" )) CoreRT isn't working as itself, just follow instruction cross-building.md

[2018-06-22 09:08] furoraest commented on #18599
https://drive.google.com/open?id=13fsWeZbswD9-pbUsQrrsqmT3bGvHlF8q
debug1 contains output from problem1, when full name of loaded library is not given
debug2 contains output from problem2, when library what has been loaded is trying to make call to other library
Hope this helps

[2018-06-22 09:31] furoraest commented on #18599
@janvorli tried Your suggestion but no change

[2018-06-22 09:35] furoraest commented on #18599
just for information, I am using Ubuntu 18.04 and latest and the greatest dotnet core SDK

[2018-06-22 09:48] janvorli commented on #18599
It seems this has nothing to do with .NET core and it is rather a behavior of the dlopen that would happen the same way if you tried to do that from a C/C++ application. For versioned libraries, you need to ask for a specific version - the system doesn't really know which version you want - there can possibly be multiple ones installed on the same system.
Even if you build a C/C++ application and

[2018-06-22 13:41] ydekova commented on #18577
This seems to be one of the reasons
https://github.com/aspnet/EntityFrameworkCore/issues/8223

[2018-06-22 14:01] jakobbotsch opened #18607 "What is the proper way of doing incremental builds on Windows?"
I am trying to make changes to native components (eg. `compiler.cpp`) only.

After running `./build.cmd` and opening the generated solution file `<root>\bin\obj\Windows_NT.x64.Debug\CoreCLR.sln`, the `INSTALL` project is not copying binaries into the `<root>\bin\Product\Windows_NT.x64.Debug` folder when I make incremental changes. Instead it seems they are being copied directly to the root of my d

[2018-06-22 15:12] Snalibe commented on #18580
Turing off Enable UI Debugging Tools for XAML did indeed work. I no longer have the dead lock occuring with that option turned off.

I'll fill a bug report with Visual Studio

Thx a lot!

[2018-06-22 15:59] CarolEidt commented on #15036
Fixed with #16422

[2018-06-22 15:59] #15036 closed

[2018-06-22 17:18] pentp commented on #17818
Does point 4 (containment for imm, 1-arg, 3-arg forms) cover VEX encoded SSE2?
[code]

[2018-06-22 17:19] CarolEidt commented on #18153
In this step of the instructions (part of "Step 2"):
./build-native.sh -debug -buildArch=x86 -- verbose cross

This results in a usage error. It is apparently the "cross" parameter that is no longer supported, but I can't determine what the replacement option would be, and the command above is also what is shown in the corefx cross building instructions: https://github.com/dotnet/corefx/blob/maste

[2018-06-22 17:37] jeffschwMSFT commented on #18580
Closing the issue as it has now been moved to VS Feedback

[2018-06-22 17:37] #18580 closed

[2018-06-22 18:10] fiigii commented on #17818
Yes, it does.

[2018-06-22 18:24] benaadams commented on #18542
Excuse my poor drawings...

What I was hoping it would do when all the .ctors were inlined and then optimized would be:
![image](https://user-images.githubusercontent.com/1142958/41792090-920a5270-764f-11e8-95f6-0a61d7474eae.png)

Requiring `sizeof(Struct5)` of stack space; if it was a single pointer promotion would be a bonus.

However what it seems to do is

![image](https://user-images.githubus

[2018-06-22 18:58] AndyAyersMS commented on #18542
Could be -- the jit will be very conservative in places because of aliasing worries.

I'll take a look, maybe early next week some time?

[2018-06-22 20:28] benaadams commented on #18542
That would be great! I think async has the same issue

e.g.
[code]
Generates `<ValueTask1>d__1:MoveNext()` [*JitDump](https://gist.github.com/benaadams/8beb5dc3dc774614a6827b26ba6eabcb) the same sort of things for its inlined .ctors
[code]
[code]

[2018-06-22 21:17] richlander commented on #18448
.NET Core 2.0 EOL date has been extended to October 1, 2018 due to this issue.

See: https://twitter.com/dotnet/status/1010269960948465665

[2018-06-22 22:39] AndyAyersMS commented on #17967
We are sloppy and sometimes miss out on ref count maintenance. The typical problem is overcounting, which is hard to spot (one symptom is locals with no uses still getting stack space).

But on occasion we undercount, and that gets caught by various asserts, as zero and negative values for ref counts can easily be seen to be incorrect.

[2018-06-22 23:51] RussKeldorph commented on #7163
Maybe delete the `Legacy Backend` label when this is closed.

[2018-06-23 01:38] jswolf19 commented on #5367
This seems like it's a duplicate of #17893.

[2018-06-23 02:14] #18602 closed

[2018-06-23 03:30] jkotas opened #18617 "macOS Mojave: Support for Hardened Runtime"
From https://github.com/xamarin/xamarin-macios/issues/4288 / https://github.com/mono/mono/issues/9210 :

In macOS Mojave, Apple has introduced support for Hardened Runtime. (This is fully explained somewhere in the WWDC 2018 slides, but I cannot right now find exactly where.) One of the hardening mechanisms is a limitation on JIT techniques. It is still fully possible and supported, but the MAP_JI

[2018-06-23 03:31] jkotas commented on #18617
cc @morganbr

[2018-06-23 05:47] benaadams opened #18618 "Jit generates unreachable asm"
While trying to get the flows for a Task based version of https://github.com/dotnet/coreclr/issues/18542#issuecomment-399572431 using
[code]
It looks like the Jit generates unreachable asm? ([JitDump](https://gist.github.com/benaadams/4820895dda5234a097903bd14a4c535f))
[code]

[2018-06-23 07:15] AndyAyersMS commented on #18618
That's almost certainly a catch clause induced by async rewriting -- the code is only reachable by exception.

[2018-06-23 07:32] benaadams commented on #18618
Is it correct then? (It is clearly handling an exception)

i.e. its handled outside the function?

[2018-06-23 07:42] AndyAyersMS commented on #18618
I think so, yes.

x64 uses a "funclet" model for exception handling, so catch clauses look like separate methods. If you enable COMPlus_JitEHDump you should see the EH table referring to this bit of code. And note this funclet's return value is an code address within the main function. The runtime uses this to figure out where to resume control in the main method after exiting from the catch.

[2018-06-23 07:47] benaadams commented on #18618
I'll go with probably :)
[code]

Thank you!

[2018-06-23 07:47] #18618 closed

[2018-06-23 07:51] AndyAyersMS commented on #18618
Hmm, thought it would show code offsets, not IL offsets. Maybe try the unwind info dump via
 COMPlus_JitUnwindDump ?

[2018-06-23 08:42] benaadams commented on #18618
[code]

[2018-06-23 08:48] GrabYourPitchforks commented on #18603
I guess technically we could get rid of the second `vmovupd` as well since the comparison instruction could read `vptest ymm0,ymmword ptr [rdi]` (second operand using rmreg memory syntax).

[2018-06-23 09:07] kasper3 commented on #18617
I think CoreCLR is already supporting hardened kernel for grsec Linux kernel (introduced around 2001), is Apple's "Hardened Runtime" something different?

[2018-06-23 10:45] tmct commented on #17071
Great - thanks for clearing that up, and the fix!

[2018-06-23 11:31] GSPP opened #18619 "Add a memory budget to the GC"
As I understand it GC time is *very roughly* proportional to the number of object references alive. The total time an application spends in GC is also proportional to the number of (full) collections happening. It seems that on servers with a lot of memory there is an optimization opportunity: Collect less often. Simply allow huge amounts of garbage to build up. Allow 10 GBs of garbage to build up

[2018-06-23 11:35] GSPP commented on #18549
Is there a need to remove them?

[2018-06-23 14:37] jkotas commented on #18617
Yes. They have invented a new `MAP_JIT` flag for `mmap` and binary capabilities to mark the program with to mark this flag work. The talk has more details.

[2018-06-23 16:02] tannergooding commented on #18069
Looks like there is still a remaining `StaticCast` issue:
[code]

Looking at the JIT dump now...

[2018-06-23 16:02] tannergooding commented on #18069
Most of the remaining issues are with `SetAllVector128` and `SetVector128`

This:
[code]
could be:
[code]

Which matches the register assignment for VEX machines:
[code]

Same for:
[code]
could be:
[code]

Which matches:
[code]

For both VEX and non-VEX, it doesn't realize that it can use a single register all the way through...
[code]
and
[code]

For VEX and non-VEX, It doesn't detect last use an

[2018-06-23 16:10] tannergooding commented on #18069
Ok, the issue here: https://github.com/dotnet/coreclr/issues/18069#issuecomment-399689033, isn't a static cast issue.

`BlendVariable` requires that `UpdateMask` live in XMM0 for non-VEX encoding (`movaps   xmm0, xmm7` is required). -- I wonder if it would be particularly hard to have the JIT understand this requirement, as an optimization (it only impacts older hardware without VEX-encoding suppo

[2018-06-23 17:40] voinokin commented on #18069
@tannergooding Will `StaticCast<...>` pass thru "containment" mark obtained with load/store/partial reg use properly? Example code:

[code]

I would expect that in ideal world :-) `record1U32` will be treated as in-memory operand to `UnpackLow` (of course when `record1U32` is not used further).

[2018-06-23 18:02] tannergooding commented on #18069
@voinokin, it is actually just folded away entirely in the importer, so no later stages (lowering, register allocation, codegen, emit, etc) see `StaticCast` at all.

It is effectively as if you had written:
`Vector128<uint> record0U32 = Sse2.LoadVector128((ulong*)ptr1);`

The code above *should* generate:
[code]

[2018-06-23 23:04] JustArchi commented on #18486
I've got similar reports from users running my `netcoreapp2.1` project on Raspbian, so it looks like a global issue, not just something pwsh-related. They also claim that it didn't happen before on `netcoreapp2.0`.

Sadly I don't have any stacktraces, only generic reports. Just wanted to confirm this one.

[code]

[2018-06-23 23:31] tannergooding commented on #15641
After going through the majority of the code a couple times, looking at what is shared between SimdNumerics/HWIntrinsics, and going over the discussions made here; I propose the following changes:

* Move the existing SIMD Numerics code to use `NamedIntrinsic`s (rather than `SIMDIntrinsicID`s)
* Refactor `GenTreeJitIntrinsic`, `GenTreeSIMD`, and `GenTreeHWIntrinsic`
  * `GenTreeJitIntrinsic` shoul

[2018-06-24 04:21] benaadams commented on #18542
Probably unhelpful; but I was manually doing this
[code]
I'd probably go through these steps
[code]

[code]

[code]

[code]

[code]

[code]
To end up with
[code]

[2018-06-24 11:55] jakobbotsch commented on #18235
I took a closer look at this and from what I can see the problem occurs because `VNApplySelectorsTypeCheck` does not take casts into account when values are constants:
https://github.com/dotnet/coreclr/blob/eb31c358b27182dae487406a3247dfe995beb40f/src/jit/valuenum.cpp#L2574

Here is a simpler repro:
[code]

After value-numbering we get:
[code]
Node 12 gets the same VN as 0x10001, which does not se

[2018-06-25 01:18] jkotas commented on #18420
Would you mind doing more scrub for strings like `VER_E_STACK_P_VALCLASS_OBJREF_VAR`
 or `VER_E_INITIALIZE_ARRAY_MISSING_TOKEN` ?

[2018-06-25 07:05] Noctune commented on #18564
The segfaults seem to happen all over the place, really. I have run it three times (it takes a long time with COMPlus_HeapVerify), and the following crashes occured:

- C# integer overflow in Array.getLength (a "nonsensical" error like I wrote above).
- Segfault in MethodTable::SanityCheck():
[code]
- Segfault in JIT_IsInstanceOfClass_Portable():
[code]

No real clear pattern in GDB output. Howeve

[2018-06-25 07:17] ydekova commented on #18577
@benaadams thanks, I did this, this is how I found the issue from my comment above. As I mentioned, the only 'interesting' types I noticed there were EF and Json.Net. So far there is a good chance that 8223 was the main problem, we need to run more tests though.

[2018-06-25 08:00] riverar opened #18630 "comcallablewrapper has very misleading commentary"
As part of the gutting of FEATURE_CORECLR ifdefs (https://github.com/dotnet/coreclr/commit/54891e0650e69f08832f75a40dc102efc6115d38#diff-ade4b3276f9a170febb781e66ab30039), appx-specific functionality got removed but this comment (https://github.com/dotnet/coreclr/blob/master/src/vm/comcallablewrapper.cpp#L1927-L1937) wasn't updated, sending me on a wild goose chase for a few hours.

Was going to s

[2018-06-25 08:19] AaronRobinsonMSFT commented on #18630
@riverar Feel free to submit a PR with proposed changes. @luqunl and I are actively working in this area and would appreciate hearing comments and concerns.

cc: @jeffschwMSFT

[2018-06-25 08:22] JamesZhengRuqing commented on #1556
May I know if this is fixed? Which .Net framework update I need for windows 7?

[2018-06-25 08:56] voinokin commented on #7465
This becomes worse with SIMD registers.
Noted with HW intrinsics API - say, there are several SIMD registers used as "seeds" with **constant** values during calculations, and it comes that some of them got spilled all the way due to algorithm's extensive use of such "seeds".

[2018-06-25 09:11] carlokok opened #18632 "Enable FEATURE_GDBJIT on default builds"
On Linux/OSX it would be very nice if the default distributing has FEATURE_GDBJIT enabled so the debugging experience doesn't require manual building of SOS to have *some* debugging experience (presuming one sets the envvar needed for this)

[2018-06-25 10:40] BredPet commented on #18153
I used this https://github.com/dotnet/corert/blob/master/Documentation/cross-building.md instruction with the latest corefx, it's working. The issue is still exists.
[code]

[2018-06-25 11:22] nannanbatman commented on #18577
We upgraded from netcoreapp2.0 to netcoreapp2.1 with all associated nuget package updates to 2.1.1 and we have started to see OOM exceptions on applications that have been running for over a year and a half.  These applications were originally dotnet core 1.1, then upgraded to dotnet core 2.0, now onto 2.1.  Our ASPNETCORE_VERSION is 2.1.1 and we run docker containers in AWS.  The OS is reported a

[2018-06-25 12:14] GSPP commented on #4365
@Maoni0 Custom objects could have a bit set in the object header marking them as such to the GC. That would be a cheap way to activate custom GC behavior on a per-instance (nor per-type) basis. Would that work?

[2018-06-25 12:44] LunarWhisper opened #18633 "Simplifying the enumerator code: yield enumerate myList;"
Each time, when faced with a similar code, it makes me sad:

[code]

I think we can easily simplify it by adding syntactic sugar:
[code]

[2018-06-25 13:28] jkotas commented on #18633
You are proposing a new C# language feature. Please open in https://github.com/dotnet/csharplang repo. There is a good chance a similar proposal has been opened there already.

[2018-06-25 13:28] #18633 closed

[2018-06-25 14:08] mjp41 commented on #4365
@GSPP so there are several pieces of meta-data the GC keeps about objects.  If these aren't backed by actual allocations things can go wrong

  1. Card Table  (Used by WriteBarrier to maintain set of cross generation pointer)
  2. Concurrent Mark Array (Used by background mark phase)
  3. Segment lookup (find details of this part of memory the GC controls)
  4. Brick table (find start of object)

[2018-06-25 15:56] omajid opened #18634 "CoreCLR fails to run when mlock is unavailable"
CoreCLR uses `mlock` during startup and fails if `mlock` fails with `EPERM`. Generally, that's not a  problem.

However, many Linux distributions are starting to use `systemd-nspawn` for building code. This creates a chroot where programs have restricted capabilities. Specifically they do not have `CAP_IPC_LOCK`, which means they can't use `mlock`.

Wwhen `mlock` doesn't work, coreclr fails to sta

[2018-06-25 16:03] omajid commented on #18634
cc @tmds @alucryd

[2018-06-25 16:03] omajid commented on #18634
See https://github.com/dotnet/source-build/issues/285#issuecomment-399949984 and https://github.com/rpm-software-management/mock/issues/186 for some examples where this is hitting some builds

[2018-06-25 16:06] stakx opened #18635 "Q: Is `Activator.CreateInstance(typeFromDynamicModule)` safe to call while same dynamic module is being mutated?"
A few people and I have been trying to track down a somewhat elusive multi-threading issue in Castle DynamicProxy and/or the runtime (https://github.com/castleproject/Core/issues/193). We're getting to the point where we could use some expert knowledge from the CLR-savvy folks.

DynamicProxy performs lots of dynamic type generation using System.Reflection.Emit. The code that uses `ModuleBuilder`,

[2018-06-25 16:27] BrunoJuchli commented on #18635
Note: the 'type' and any of it's references are not modified while `Activator.CreateInstance(type)` is called. However, other types are concurrently emitted to the same Module.

[2018-06-25 16:27] roterdam commented on #4365
@mjp41 as long as the object is allocated outside of the GC ranges, shouldn't it "just" work? The GC code has to check if it is within range or not no? Also what happens if you would do this for an object with no fields like strings could that work?

[2018-06-25 16:46] AaronRobinsonMSFT commented on #18632
@mikem8361 regarding building SOS.

[2018-06-25 16:49] jkotas commented on #18635
Yes, it is how it is supposed to work.

[2018-06-25 16:53] mikedn commented on #18238
That might be but it's not the only problem with narrow tree, at least because you can reproduce the bug without a COMMA node. It's somewhat difficult to pinpoint the actual problem because it's not really clear what `optNarrowTree` is trying to do and what a `true` result really means. My impression is that `optNarrowTree`'s main intention was to deal with `long`->`int` narrowing (an useful optim

[2018-06-25 16:57] stakx commented on #18635
@jkotas, thanks for the fast response, great to hear! I'm assuming it would then also be safe to invoke not-yet-JIT-ted methods on the type while other additional types are emitted into the dynamic module?

[2018-06-25 17:06] wfurt commented on #18067
It seems like the problem was in processing kqueue events on FreeBSD. I made some changes to networking_pal in corefx and I was able to build completely coreclr and few other repos from source-build using bootstrap cli. msbuild and Roslyn seems to function without any observed problems. Named pipes tests from corefx now all pass. all pal tests form coreclr pass. sos plugin works and can be used to

[2018-06-25 17:07] jkotas commented on #18635
Right.

[2018-06-25 17:20] AndyAyersMS commented on #18238
One way to think about narrow types is that when optimizing we'd prefer that they appear only at the boundaries of trees -- widening at leaves (~loads) and narrowing at the root (~stores). As @mikedn says this more or less mirrors IL and machine semantics where narrow types are a storage concept (args, locals, fields), not an operation concept.

When there are casts in the middle of a tree the gen

[2018-06-25 17:22] mikem8361 commented on #18564
You could try SOS under lldb.  It has commands to dump managed stacks, objects and exceptions. See https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md

[2018-06-25 17:31] mikem8361 commented on #18632
Enabling FEATURE_GDBJIT in release/shipped builds costs to much in memory and perf.  Even to enable it for debug or checked builds (which we don't ship) would probably cost too much.

We are working on making lldb/SOS easier to setup and config, better tested, runtime version independent and the binaries (even for OSX) available for all our platforms and distros.  And document how to install or bu

[2018-06-25 17:40] natethegreat44 opened #18637 "Sudden OutOfMemoryExceptions with 2.1.1-runtime-alpine"
Hi,

We have an ASP.NET core app that recently started receiving unexplainable OutOfMemoryExceptions after deployment on Thursday, 21 June, 2018. The exceptions are not usually fatal, but once they start, they grow worse until eventually the dotnet process crashes. Things are usually good for about 18-24 hours after launch, and it doesn't seem to matter much whether things are under load or not -

[2018-06-25 17:45] natethegreat44 commented on #18577
We're seeing similar issues that, based on timing, cropped up with an upgrade from 2.1.0 to 2.1.1. Details are in #18637.

Similar to @nannanbatman's issue, we were using 2.1-*-alpine images. For us, at least, things were stable on 2.1.0.

Like @ydekova, we are reusing HttpClients. Not using EF in this project, though.

[2018-06-25 17:50] mjp41 commented on #4365
There are of the order of 30 places that simply follow managed pointers by
1. Checking if it is not null,
2. Determining which heap it is on (for ServerGC)
3. Tracing that object

Some bits do check if it is in the range of the heap, but not all of them.

If you restrict to types that do not contain GC references (blittable types), then you would not need to deal with the card table, so it would b

[2018-06-25 17:52] Maoni0 commented on #18564
@Noctune verify_heap broke in garbage_collect which is the entry of the GC. this means something went wrong outside GC. the most common case for that to happen is pinvoke; next is jitted code not reporting something correctly. do you happen to do any pinvoke in your code?

[2018-06-25 17:54] stephentoub commented on #18637
Is it always coming from this same location, or is this just one of many different locations from which you're seeing the OutOfMemoryException?

[2018-06-25 18:03] nannanbatman commented on #18577
We are also reusing HttpClients.

[2018-06-25 18:16] natethegreat44 commented on #18637
Looks like we have it in a couple of different areas related to SSL:

[code]

and

[code]

and

[code]
From what I see, they happen in roughly the same quantity.

[2018-06-25 18:42] jakobbotsch commented on #18238
I see. Thanks to both of you for the explanations, that helps. So to sum up: we would (almost?) never want to actually relabel internal nodes to smaller types?
I assume this is also the reason for the notation on cast-nodes: `int <- ushort <- int`, etc., to indicate that it is just used to discard bits but the nodes are left the same size?

[2018-06-25 18:52] natethegreat44 commented on #18577
@nannanbatman - for what it's worth, we were stable on Alpine and previously jessie. We changed our Dockerfile FROM lines to:
FROM microsoft/dotnet:2.1.300-sdk-alpine (was previously FROM microsoft/dotnet:2.1-sdk-alpine)
and
FROM microsoft/dotnet:2.1.0-runtime-alpine (was previously FROM microsoft/dotnet:2.1-runtime-alpine)

[2018-06-25 18:52] stakx commented on #18635
Closing this for now, as our question has been answered. Thank you!

[2018-06-25 18:52] #18635 closed

[2018-06-25 19:03] mikedn commented on #18238
Yeah, almost. There are some places where the JIT manages to use small types in less usual circumstances. 2 or 3 cases I happen to know about:
* XARCH lowering sometimes narrows relops to small int and in doing so may also narrow some binary ops (AFAIR AND/OR/XOR). That's intended to take advantage of the fact that XARCH does have byte/word instructions and it happens to work reasonably well becau

[2018-06-25 19:23] #17070 closed

[2018-06-25 19:31] jkotas commented on #18637
This issue was moved to dotnet/corefx#30652

[2018-06-25 19:40] mjsabby opened #18639 "Enabling the ability to load Multi Module assemblies"
https://github.com/dotnet/coreclr/commit/1aa7d6b8796f7e28a63162117c5bb16a207a472b removed the code associated with FEATURE_MULTIMODULE_ASSEMBLIES since it was never defined.

Multi-Module assemblies are a prerequisite for C++/CLI (is there more stuff?) and is a very useful feature it its own right.

It'd be great to have this in 2.2 for scenarios that are willing to do it for assemblies compiled w

[2018-06-25 19:43] mjsabby commented on #18639
Duplicate of https://github.com/dotnet/coreclr/issues/18013.

[2018-06-25 19:43] #18639 closed

[2018-06-25 19:57] hypersw opened #18640 "Cross-Platform COM Interop"
**Goal: enable interop with native libraries with COM ABI and a reasonable subset of COM features on all supported platforms.**

*Related issue with generic discussion: https://github.com/dotnet/coreclr/issues/11279*
This issue is to list specific work areas required to achieve the functionality:

* RCW (Runtime Callable Wrappers).
	* Managed proxy for a native VTable.
	* AddRef on native IUnknown

[2018-06-25 20:12] jkotas commented on #18640
Have you looked at https://github.com/SharpGenTools/SharpGenTools ? We think independent tools like this is much better way to solve this. It has better performance and it is independent from the runtime so it is much easier to customize to your unique needs.

[2018-06-25 20:13] AaronRobinsonMSFT commented on #18630
@riverar Merged - Thanks!

[2018-06-25 20:13] #18630 closed

[2018-06-25 20:14] jkotas commented on #18640
cc @jkoritzinsky

[2018-06-25 20:15] mjsabby opened #18641 "Allow setting COR_PRF_ENABLE_REJIT after runtime startup"
It would useful to allow ReJIT on attach instead of it being restricted to scenarios where the profiler is loaded at startup.

This can be solved either such that only methods jitted after ReJIT is turned on are rejittable or make all jit compiled methods rejittable from the beginning of process startup. The former can be confusing but is probably easier to implement in the existing runtime with s

[2018-06-25 20:43] hypersw commented on #18640
@jkotas: Yes we looked at various tools, during the initial assessment when considering a Mono-based COM interop implementation, and later on when checking the NetCore migration scenarios. Though it looks much more promising to have these objects working first-class in the runtime, especially as the runtime has all of the required features on board but #ifdef'ed out for all the non-Windows platfor

[2018-06-25 20:47] hypersw commented on #18640
Another point is that rather than _customizing to our unique needs_ (which with open-source software often means fixing and patching) we'd rather have something which runs against the clear and well-defined COM interop rules, common for all. If the effort is roughly the same, we'd rather invest in making the _standard_ interop work (for us and for everyone).

It's hard to estimate how deep the rab

[2018-06-25 21:20] BruceForstall opened #18642 "ARM: change reserved register (REG_OPT_RSVD) to LR"
Currently, `REG_OPT_RSVD` is defined as R10. This is a preserved register, which means if we need to reserve it, we also need to save/restore it in the prolog/epilog.

Can we change this to scratch register LR instead, to avoid this?

(We can't obviously use the other scratch register, R12, because it is used in some special cases, such as VSD dispatch.)

[2018-06-25 21:39] eshenem commented on #17850
I am getting the same error. I have lldb-3.9 installed on debian VM (core dump was generated in docker container based on alpine). I copied libcoreclr.so to the directory where core dump file exists and that did not help. Also, while I wasn't sure the build was based on net core 2.1.0 or 2.1.1, I installed both and tried both to no avail. Any ideas?

[2018-06-25 21:47] raffaeler commented on #17850
@eshenem I would suggest you to post a comment with the details in the new thread I opened

[2018-06-25 21:57] mikem8361 commented on #17850
If you are loading a core dump on debian generated on alpine you need the alpine runtime bits (libcoreclr.so, etc.) because the runtime installed on debian will not match the alpine runtime bits.  Alpine is one of the distros that does run the "portable" .NET Core runtime (RID: linux-x64). See
https://www.microsoft.com/net/download/linux.

And it gets more complicated when it comes to using SOS if

[2018-06-25 22:03] AaronRobinsonMSFT commented on #18640
@hypersw I think you are basically right in the sense that WinAPI use is orthogonal to CCW/RCW which is really nice from "Should be easy to port to non-Windows" perspective. What isn't obvious in the approach is the cost of maintaining this logic in the runtime. Your general suggestion of bringing out CCW/RCW support is and has been debated before. In the near future I am going to be starting that

[2018-06-25 22:16] benaadams commented on #18542
May be related https://github.com/dotnet/corefx/issues/30655

[2018-06-25 22:48] jkotas commented on #7369
This was fixed.

[2018-06-25 22:48] #7369 closed

[2018-06-25 23:29] AndyAyersMS commented on #18542
Yes, the first case is a limitation in struct promotion.... given a pointer-sized non-float primitive type x, the jit can promote struct(x) and struct(struct(x)) but not cases with three or more levels of wrapper.

The changes [here](https://github.com/AndyAyersMS/coreclr/tree/RecursiveStructWrapper) are a rough cut at arbitrary unwrapping... but the diffs aren't as clean as one might hope, as the