[2017-03-14 03:11] alexanderuv commented on #10127
You guys are right. I was looking more closely at the code and they are manually calling Alloc and Free so there must be something wrong there. I'm closing this.

[2017-03-14 03:11] #10127 closed

[2017-03-14 03:21] ahsonkhan commented on #5851
Performance optimizations - #9161 completed.

[2017-03-14 03:23] #9698 closed

[2017-03-14 04:09] ahsonkhan commented on #9595
I opened these issues and hence this issue can be closed:
#10098
#10099

[2017-03-14 04:09] #9595 closed

[2017-03-14 04:58] hseok-oh commented on #9488
It's related to difference of `sizeof(Module)` between arm32/Linux(1492 byte) and x86/Linux(1512 byte). In x86, `crossgen` writes data of `Module` as 1492 byte in ni file, coreclr in target (arm32) loads `Module` from ni file based on 1512 byte size.

This difference of `sizeof(Module)` is based on critical section. `Module` has 5 fields of critical section, and each size of critical section in x8

[2017-03-14 06:07] noahfalk commented on #10148
Is there a BCL owner for System.Numerics? Presumably that is where this should end up. In the meantime assigning to mikem for all things .Net Core debugging.

[2017-03-14 06:21] jkotas commented on #10148
You need to have machine with Intel AVX where SIMD Vector is 32 bytes to repro this bug.

[2017-03-14 06:27] mikedn commented on #8648
Odd, I still can reproduce that. The example is compiled with the C# compiler that ships with VS2017 using `/o+`. Here's a full JIT [dump](https://gist.github.com/mikedn/2d609be8fa10e7505a888048d68bf316) of the method in case it helps.

Erm, so in your example it's assertion prop that removes the tree, not CSE? Fun. So I would guess that VN is wrong in the way it assigns VNs to trees with exceptio

[2017-03-14 07:01] parjong opened #10161 "[x86/Linux] Vector3Interop test failures"
Reverse P/Invoke test in ``JIT.SIMD.Vector3Interop_r`` failed:
[code]

[2017-03-14 07:04] parjong commented on #10161
``v1`` and ``v2`` seem to be reversed:
[code]

[2017-03-14 07:51] BruceForstall commented on #10012
@parjong @seanshpark Can you give me some more context as to *why* you want to enable this for x86?

I can see a couple problems:
1. I don't know if the x86 GC info can handle the outgoing arg space. I think it is built around doing "push" to prepare outgoing arguments. But this requires more investigation.
2. The outgoing arg space will have to be filled by "mov [esp+x], reg" instructions, which

[2017-03-14 10:18] parjong commented on #10012
@BruceForstall It seems that ``FEATURE_FIXED_OUT_ARGS `` is required to guarantee  16-byte staack alignment.

As I know, Execution can be interrupted at any point in the function/funclet body, which means that we encounter an unaligned stack frame if execution is interrupted while passing arguments to callee via push. From that point, we internally conclude that stack frame should be stable inside

[2017-03-14 12:39] stephentoub opened #10165 "Lots of "unreachable code" warnings in Span when building System.Private.CoreLib"
[code]

[2017-03-14 14:51] MichaelSimons commented on #9553
Regarding https://github.com/dotnet/coreclr/issues/9903 and the creation of an x86 Ubuntu Docker image with the RootFS.  To my knowledge there isn't an official i386 Ubuntu Docker image.  I [asked](https://github.com/dotnet/coreclr/issues/9903#issuecomment-284562754) what i386 Ubuntu base image we should using.  The response was that developers are using https://hub.docker.com/r/ioft/i386-ubuntu/

[2017-03-14 15:27] pgavlin commented on #8648
Interesting. It looks like the runtime is making different choices w.r.t. how the static field should be accessed:

[code]

It looks like there are two possibilities: either then VN is wrong, or the checks we run before mutating trees are wrong. @briansull has me mostly convinced that it is the former, as in principle VNs should take into account both the value and the exceptions produced by a tre

[2017-03-14 16:02] pgavlin commented on #8648
@JosephTremoulet do you have any additional insight on this?

[2017-03-14 16:02] jkotas commented on #10165
I have included fix for it in https://github.com/dotnet/coreclr/pull/10157

[2017-03-14 16:02] hgupta9 opened #10170 "The reference assemblies for framework "DNXCore,Version=v5.0" were not found"
I've migrated a VS 2015 DNXCore50 project to VS 2017 using the Migration Wizard. My project file looks like this:

[code]

I'm getting the above mentioned error when I compile. Things I've tried:

- Using **.NETPortable v5.0** instead. Too many missing classes here.
- Using **.NETCoreApp v1.0** instead. Every class is missing. Did I use a wrong version?
- Using **DNXCore**. No missing classes. Jus

[2017-03-14 16:04] hgupta9 commented on #10170
Well, that's surprising!

My lib successfully compiled with **.NETStandard v1.6**!

Including my XML here in case anyone else has this issue:

[code]

[2017-03-14 16:04] #10170 closed

[2017-03-14 16:13] mikedn commented on #8648
Maybe you omitted this code from my example:
[code]
It's there to ensure that the static ctor has ran before the JIT compiles `Test`.

[2017-03-14 16:17] gkhanna79 commented on #10107
Thoughts on this @jashook ?

[2017-03-14 16:18] pgavlin commented on #8648
Yep, that's it--good catch.

[2017-03-14 16:30] JosephTremoulet commented on #8648
Not really...

Yes, I think the reason value numbers include exception info is to avoid this sort of bug.

When I added that code, I copied its [exception processing](https://github.com/dotnet/coreclr/blob/c52a9f7a3019d408cd03aef9e5fb33263cb047ba/src/jit/valuenum.cpp#L6795) from the other cases just above.  Looking closely now at how `addrXvnp` gets computed, it appears that it's the exceptions fr

[2017-03-14 17:02] jashook commented on #10107
Upon first glance this looks like a codegen issue. Adding it to area codegen.

[2017-03-14 18:29] alexperovich commented on #9746
After looking at this further the actual culprit is here: https://source.dot.net/#System.Net.Http/WinHttpResponseStream.cs,250
This sync over async pattern causes all the ThreadPool threads to be blocked and for some reason the pool never creates any more threads. Setting the min thread count to a higher value fixes the problem.

@stephentoub Shouldn't the thread pool handle this case by making mo

[2017-03-14 18:41] BruceForstall commented on #10012
Your logic makes sense. I guess the question is: who is checking the alignment, and when?

E.g., does the stack need to always be aligned when single stepping in the debugger? That obviously can't be true when single stepping through a "call" instruction, which pushes the return address.

So if we "push" arguments for a call, who will interrupt and check? The GC?

[2017-03-14 18:46] stephentoub commented on #9746
How many threads are blocked, and what's the bitness of the process?

[2017-03-14 18:46] alexperovich commented on #9746
16, and it was a 64 bit process

[2017-03-14 18:48] stephentoub commented on #9746
Did any code in the process call ThreadPool.SetMaxThreads?

[2017-03-14 18:50] alexperovich commented on #9746
Setting the min threads to 300 using the env variable fixed the problem.

[2017-03-14 18:50] alexperovich commented on #9746
There are 200 concurrent network operations happening

[2017-03-14 18:51] stephentoub commented on #9746
I was asking if any code / env var / config / etc. had set "max", not min.

[2017-03-14 18:51] wtgodbe commented on #8937
https://github.com/dotnet/coreclr/pull/10074 is in, so this should be resolved.

[2017-03-14 18:51] #8937 closed

[2017-03-14 18:52] alexperovich commented on #9746
Oo no that has not been set.

[2017-03-14 18:54] stephentoub commented on #9746
So 16 thread pool threads were blocked, no max was set, and there was at least 1 work item waiting in the thread pool queue for a long time (i.e. more than a few seconds) without any other work items having been processed?

[2017-03-14 18:56] alexperovich commented on #9746
Yes

[2017-03-14 20:50] weshaggard commented on #10056
@agocke, @jaredpar can one of you guys share the best approach to override the Roslyn compiler?

[2017-03-14 21:13] jaredpar commented on #10056
Are you trying to override the compiler only or the compiler + build task?

For both here is a pointer to how we do it for our own builds.  If this stops working we can't check in so it's probably a good item to depend on 😄

https://github.com/dotnet/roslyn/blob/master/build/Targets/Settings.props#L121

[2017-03-14 22:25] parjong commented on #10012
@BruceForstall There is no explicit check although I am currently working on an alignment check for debug build.

The main issue is that GCC/Clang selects instructions (such as ``movaps``) which has alignment requirement. under the assumption that stack is 16-byte aligned. When this alignment is broken, it raises segmentation fault which we currently attempt to address.

In other words, 16-byte al

[2017-03-14 22:41] weshaggard commented on #10056
We will need to override the compiler and build task in order to use the latest and greatest compiler features. We will try and use the same pattern you guys are doing.

[2017-03-14 22:42] weshaggard commented on #10056
@chcosta can you please try setting the CSharpCoreTargetsPath to the right location in BuildTools targets files where we import the other changes.

[2017-03-14 22:47] RussKeldorph opened #10181 "Build fails if working directory is not <coreclr-root>"
Building from outside root used to work fine.  I'm not sure when or why it regressed.

**Repro**
Run `<coreclr-root>\build.cmd` or `<coreclr-root>/build.sh` from src, src/jit, etc.  Presumably anywhere other than the root of coreclr.

**Output (Windows)**
[code]

[2017-03-14 22:49] RussKeldorph commented on #10181
@gkhanna79 @wtgodbe I only briefly investigated this, but it looks like run.exe is invoking msbuild with a reference to ".\build.proj".  I don't know if that's the problem, but it looks suspicious.

[2017-03-14 23:01] gkhanna79 commented on #10181
@wtgodbe PTAL at this before you leave :)

[2017-03-14 23:05] BruceForstall commented on #10012
It seems like if we fix #10122, that would be sufficient for our purposes (16-byte aligned stacks at call sites), and we would probably get better code gen.

It seems like anyone interrupting execution at an arbitrary point in the function already needs to handle possible unaligned stack, due to the "call" instruction. E.g., it's not like GC interruption will then immediately start executing on th

[2017-03-14 23:09] wtgodbe commented on #10181
I believe the issues lie here (with 3 other such incriminating lines just below): https://github.com/dotnet/coreclr/blob/master/config.json#L439

And here: https://github.com/dotnet/coreclr/blob/master/config.json#L43

With another potential for error here: https://github.com/dotnet/coreclr/blob/master/config.json#L569

There should probably be some variable that defines the path of the repo root

[2017-03-14 23:11] wtgodbe commented on #10181
More: https://github.com/dotnet/coreclr/blob/master/config.json#L611 & https://github.com/dotnet/coreclr/blob/master/config.json#L615

[2017-03-14 23:13] wtgodbe commented on #10181
Also cc @chcosta @Priya91

[2017-03-14 23:20] parjong commented on #10161
@jkotas @BruceForstall Could you let me know why x86 pushes arguments from left to right? Is there any problem with R2L order?

[2017-03-14 23:27] #9457 closed

[2017-03-14 23:35] maririos commented on #10181
@MattGal

[2017-03-14 23:38] parjong commented on #10012
As I know, prologue/epilogue are marked as non-interruptible region, which means that VM cannot interrupt execution just after "call" execution. VM should wait till the end of prologue or hijack that thread.

If VM attempts to interrupt execution just before "call" is executed, it should be fine as stack should be aligned before call is made.

This may lead to some implicit assumption that stack i

[2017-03-14 23:40] jashook commented on #10107
This is a vm bug related to enregistering structs when invoking into a reflected method.

[2017-03-14 23:40] jashook commented on #10107
Still assigned to me, I believe I have a fix.

[2017-03-14 23:40] Priya91 commented on #10181
@wtgodbe It's the same behavior in corefx as well, build scripts work only when invoked from root.

[code]

[2017-03-14 23:42] gkhanna79 commented on #10181
@Priya91 Why do we have this constraint?

[2017-03-14 23:45] Priya91 commented on #10181
The infra team will have more info on the current behavior of buildtools.

[2017-03-14 23:47] BruceForstall commented on #10133
@parjong It seems odd that we would need to change `DEFAULT_PACKING_SIZE` just for Linux/x86, when it is not changed for Windows/x86, or other 32-bit platforms (i.e., arm32). Also, I see that same value appears in mscorlib\src\System\Runtime\InteropServices\Attributes.cs.

It seems like the issue is in the structinregs.cpp test case. It seems that clang on Linux/x86 compiles this:

[code]
without

[2017-03-15 00:07] BruceForstall commented on #10080
It looks like the code expects a struct `arg` to be `GT_OBJ` or a `GT_SIMD` node. I'm not sure where this should get transformed to `GT_OBJ`. Perhaps you could look at what Windows/x64 does by looking at that JitDump (I wouldn't suggest looking at Linux/x64 because the ABI is so weird).

I might suggest telling me during which test this happens, but I assume it depends on a bunch of work you haven

[2017-03-15 00:07] parjong commented on #10133
@BruceForstall [This article](https://en.wikipedia.org/wiki/Data_structure_alignment#Typical_alignment_of_C_structs_on_x86) says that struct is 4-byte aligned even if it includes double fields for GCC on Linux (unlike VC++ on Windows).

[2017-03-15 00:11] MattGal commented on #10181
This is simply a limitation of how this was originally implemented; fixing to adapt for this (i.e. looking in the assembly's directory versus the current directory for config.json) is not tough, but the point of run.exe and config was not specifically to be the primary workflow for users building a single project from a command line, but rather a common set of entry points for building the product

[2017-03-15 00:12] parjong commented on #10133
As I know, there is clang attribute for this issue ``__attribute__((__ms_struct__))`` (which is used to address #8377).

[2017-03-15 00:19] BruceForstall commented on #10133
Seems like we should use that in the structinregs.cpp test.

[2017-03-15 00:24] jkotas commented on #10161
This is microoptimization from the early .NET days. The arguments in IL are pushed L2R order, and so this allowed the JIT to generate slightly better code with less work for push/pop architectures like x86. I suspect that the difference is neglible today. However, number of other implementation details picked up dependency on this order, and so changing it would not be exactly trivial task.

It ha

[2017-03-15 00:25] jkotas commented on #10161
For reverse PInvoke, the IL stub generator should be taking care of reversing the argument order.

[2017-03-15 00:30] parjong commented on #10133
I confirmed that adding this attribute will address the above S5 issue (I encountered failure on S11 case, but it looks similar).

As I understand, this approach has the same effect with adding ``[StructLayout(LayoutKind.Sequential, Pack=4)]`` on the corresponding managed struct declaration, which also address the above S5 case failure as I mentioned earlier.

This means that any x86/Linux native

[2017-03-15 00:33] parjong commented on #10161
Is there any reverse P/Invoke IL stub? It seems that reverse P/Invoke uses ``UMThunkStub`` which is statically compiled.

[2017-03-15 00:34] jkotas commented on #10161
Yes, there is reverse P/Invoke IL stub.

[2017-03-15 00:34] BruceForstall commented on #9706
@seanshpark Does this assert still happen?

I still haven't been able to spend the time to get a Linux/x86 environment running. However, we now have a Linux/x86 altjit available: that is, a Windows/x86 hosted, Linux/x86 targeting JIT, named linuxnonjit.dll. I tried reproducing the problem with this, but it doesn't fail. E.g.,

[code]
Now, because it's due to IL stubs perhaps it won't reproduce in

[2017-03-15 00:35] jkotas commented on #10161
Another option: teach the true native calling convention and use that for reverse PInvoke.

[2017-03-15 00:36] jkotas commented on #10133
We should do what Mono does on Linux x86. If Mono uses the platform native padding for Linux x86, we should do the same for .NET Core.

[2017-03-15 00:38] parjong commented on #10161
@jkotas Thanks. I thought that there is no stub between ``UMThunkStub`` and the target managed code. I'll take a look at reverse P/Invoke stub.

[2017-03-15 00:43] parjong commented on #10131
@dotnet/jit-contrib @AndyAyersMS @BruceForstall Could you please take a look?

[2017-03-15 00:59] myungjoo opened #10183 "[Linux] Suggestion: Official Dist Support"
Many, if not most, Linux supporting software packages have official dist files for well-known Linux distros.

As coreclr is a native component and Linux is one of supported main OS, why don't you have official dist files so that many Linux distro users may maintain & build & install easily.

I'd suggest to have .spec (for Tizen/Fedora/Redhat/openSUSE) and .deb (for Debian/Ubuntu) as the official d

[2017-03-15 01:07] parjong commented on #10133
Mono seems to use native padding for x86/Linux. Here are test samples and the result:
 - managed.cs
[code]
 - native.cpp
[code]
 - result
[code]

[2017-03-15 01:27] myungjoo commented on #10183
We have starting points:

https://build.opensuse.org/package/view_file/home:Simmphonie:mono/coreclr/coreclr.spec?expand=1
https://launchpad.net/~xyziemba/+archive/ubuntu/dotnet/+packages

[2017-03-15 03:56] jkotas commented on #10183
cc @Petermarcu

[2017-03-15 04:33] barrytang commented on #7203
https://developercommunity.visualstudio.com/spaces/8/index.html is the right place to open a VS issue.

@mlorbetske, can you see if you can help @KeyurRamoliya here?

[2017-03-15 04:47] BruceForstall commented on #10133
@jkotas It seems like changing how we layout structs, per platform, is going to be very tricky to get right, with lots of pervasive changes required, e.g., to tests, maybe to frameworks assemblies, etc. Especially since it appears we haven't done this before. Do you agree?

[2017-03-15 05:15] jkotas commented on #10133
We have done it before - the layout rules are different between x86 and arm on Windows as side-effect of `FEATURE_64BIT_ALIGNMENT`. Changing the default alignment for double should be pretty local change in type loader. It should not have any effect outside of the type loader because of you can get any layout via explicit layout and the rest of the system should handle it gracefully.

I agree that

[2017-03-15 05:35] seanshpark commented on #10080
@BruceForstall , thank you for looking into this issue. Test is simple helloworld console output program and this happened with #10034 patches. I've just uploaded `Fix FieldList offset` fix that solved this issue. This fix corrects offset of ESP when there are more than two long arguments.
Before the fix code generation
[code]
and after the fix
[code]
There was no considering `putArgStk->gtSlotNum

[2017-03-15 05:35] seanshpark commented on #10080
I think this issue can be closed.

[2017-03-15 05:35] #10080 closed

[2017-03-15 05:43] Petermarcu commented on #10183
cc @ellismg @shawnro

[2017-03-15 06:13] seanshpark commented on #9706
@BruceForstall , thank you for helping out.
This issue still exists in latest master (19e1cd2) as of writing at `IL_STUB_UnboxingStub`.

[2017-03-15 07:28] Dmitry-Me commented on #7653
@noahfalk @mikem8361 How about doing this instead?

    if(m_lastDispatchedIBEvent != NULL)
        {
            m_lastDispatchedIBEvent->m_owner->InternalRelease();
            m_lastDispatchedIBEvent = NULL;
        }
        m_lastDispatchedIBEvent = pUnmanagedEvent;
        m_lastDispatchedIBEvent->m_owner->InternalAddRef();

[2017-03-15 07:42] hqueue opened #10185 "[ARM32/Linux] Enabling new ARM CI"
Enabling new ARM CI

- [x] Prepare new ARM CI command (PR #9853)
       All nine command has been enabled.
       [Ubuntu-arm, Ununtu 16.04-arm, Tizen-armel] [Release, Checked, Debug]
- [x] Prepare new ARM CI using Docker  (Issue: #9273, PR: #9445)
- [x] Optimizing RootFS generation in new ARM CI (Issue: #9553, PR: #9445)
- [x] Enable new ARM CI as default
      We will enable four ARM CI as defau

[2017-03-15 07:56] hqueue commented on #10181
/cc: @hseok-oh @jyoungyun

[2017-03-15 08:01] hqueue commented on #10183
I would like to vote +1 for the idea.

[2017-03-15 08:23] seanshpark commented on #9706
CoreFX build for x86 is OK with these steps
[code]

Build Tests programs in Windows, `\netcore\coreclr\bin\tests\Windows_NT.x64.Debug`
Better to remove `Tests\Core_Root\.nuget`. This is huge.
Zip and Copy  to  x86/Linux `$NETCORE/Windows_NT.x64.Debug`

Run all the tests,
[code]

[2017-03-15 08:44] noahfalk commented on #7653
Switching the order of the memory writes in the last two lines may introduce a race condition. I don't think we'd want to spend the time, energy, and risk proving that it didn't. Consider what it would look like if two versions of that code ran on seperate threads and interleaved like this:

When thread 2 calls InternalRelease the ref count on the thread could drop to 0 causing it be deleted.

How

[2017-03-15 09:55] hqueue commented on #8496
[code]

## Run test with ryujit and legacyjit as a fallback.
[code]

## NYI assertion hit frequencies

[code]

## Number of methods falling back to legacy JIT
[code]

## Number of methods compiled with the RyuJIT backend
[code]

[2017-03-15 09:55] karelz commented on #9807
Only one area path label please (avoids double counting in reports).

[2017-03-15 12:24] wateret opened #10187 "[x86/Linux] JIT.Methodical.eh.nested.nonlocalexit.throwinfinallyrecursive_20 failure"
Following tests fail on x86/Linux.
- JIT/Methodical/eh/nested/nonlocalexit/throwinfinallyrecursive_20_d/throwinfinallyrecursive_20_d.sh
- JIT/Methodical/eh/nested/nonlocalexit/throwinfinallyrecursive_20_r/throwinfinallyrecursive_20_r.sh

Backtrace:

[code]

[2017-03-15 12:26] wateret commented on #10187
It crashed while allocating memory and GC is triggered inside a finally funclet.

[2017-03-15 14:37] sdmaclea commented on #6273
@gkhanna79 Thanks.  I looked at patch #6274 which implemented this feature for ARM32.  Looks like it only applies to Arm32 on legacy code gen.  I was assume you mentioned me to look at the GC issues this might have introduced on arm64.  However I see that you added the enhancement tag above.  Should an issue like this be opened for RyuJit enhancement for arm & arm64

[2017-03-15 14:58] jabbera commented on #10088
All I do is run: dotnet new --help

    C:\Users\mbarry>dotnet --version
    1.0.1

[2017-03-15 15:51] gkhanna79 commented on #10183
CC @rakeshsinghranchi @vivmishra

[2017-03-15 16:21] sdmaclea commented on #9481
In summary, for a handful of tests, the tests pass if System.Private.CoreLib.ni.dll is removed from the overlay directory (falling back to System.Private.CoreLib.dll).  The set of tests all seem to use generics.

@dotnet/jit-contrib @jkotas @janvorli any guidance would be appreciated.

Does RyuJIT compile differently for R2R vs JIT?
How are generics expected to work for R2R?
Is something missing w

[2017-03-15 16:33] dagood opened #10191 "Generate and package CrossGen pdbs as part of build in servicing branches"
In the master branch, https://github.com/dotnet/coreclr/pull/7298 creates `.ni.pdb` files and puts them in symbol packages. We should do the same for the release/servicing branches.

/cc @vancem @noahfalk

[2017-03-15 16:47] #9751 closed

[2017-03-15 16:47] sdmaclea commented on #9751
Unable to reliably reproduce.

[2017-03-15 16:50] sdmaclea commented on #9532
@jashook Should I close this?  Looks like you have been auditing fails and have updated RyuJIT arm64 project  status

[2017-03-15 16:54] MattGal commented on #10181
Shouldn't be hard to make this tweak, but do note that I'd expect building build.cmd from a different directory is likely to fail later on.

[2017-03-15 17:24] RussKeldorph commented on #10181
@mattgal To be clear, this isn't about building single projects.  This was found because we have a tool that invokes the coreclr build as a subset of its operation.  That tool previously didn't have to change the working directory to make sure the build would succeed.

That's not terribly important, though.  The key is whether run.exe (or whatever tool(s) involved) relies on ambient state, e.g. cu

[2017-03-15 17:27] jkotas commented on #9481
There are some differences - e.g. extra directions.

I do not think so. I believe it works fine on Windows.

Find bad code that makes the JIT fail. Once you know which method contains the bad code, you can run `crossgen System.Private.CoreLib.dll` and use the usual debugging techniques (JIT logging, etc.) to trace down the problem.

[2017-03-15 17:48] BruceForstall commented on #9706
@seanshpark Just checking: are you able to run the same test successfully on Windows/x86? Does it generate `IL_STUB_UnboxingStub` in that case? (e.g., using COMPlus_JitDisasm=*)

[2017-03-15 17:58] MattGal commented on #10181
Reading the source, I'd expect what it was doing to ALREADY be smart.  I will at least get this investigated today;  going on vacation for 10 days starting tomorrow either way.

[2017-03-15 18:25] RussKeldorph commented on #8322
We'll use this issue as documentation for now.

[2017-03-15 18:25] #8322 closed

[2017-03-15 19:06] mlorbetske commented on #7203
Hi @KeyurRamoliya, could you try opening the `Developer Command Prompt for VS 2015` and running `devenv /setup` please? This should put the templates back in working order. Please do file an issue on Developer Community and post a link to the issue here so that we can continue the conversation over there.

[2017-03-15 19:07] rahku opened #10197 "Re-enable test JIT_Performance.CodeQuality_Roslyn_CscBench_CscBench._CodeQuality_Roslyn_CscBench_CscBench_cmd"
See PR https://github.com/dotnet/coreclr/pull/10142 for details.

[2017-03-15 19:32] danmosemsft opened #10199 "Many members of System.Ref.Emit missing"
The following members are on types implemented in .NET Core. However on desktop they have more members. The members below are missing from Core.

The problem with this situation is
- it defies user expectations that if a type X exists, code from other platforms that use X will work on .NET Core
- it cannot be fixed without servicing -- it is not possible to supply a standalone package with the res

[2017-03-15 21:23] mikem8361 opened #10204 "Port fix for macOS Sierra to 1.0.x service release"
Install latest beta version of MacOS
Install .NET Core SDK, VS Code, and the C# extension, and try to debug

Result:
 CoreCLR debugging fails

Notes:
 This was originially reported on the GitHub for the C# VS Code extension (OmniSharp/omnisharp-vscode#1220). It has been the most actively reported issue we have had thus far with ~15 folks adding a "me too", and I am sure many more folks who ran int

[2017-03-15 21:34] sdmaclea commented on #9898
Brute force debugged the System.Net.Sockets.dll

emitter::emitEndCodeGen is asserting because the stack layout is not contiguous, but it is called with trackedStackPtrsContig == true.

See
https://github.com/dotnet/coreclr/blob/master/src/jit/codegencommon.cpp#L3160
https://github.com/dotnet/coreclr/blob/master/src/jit/emit.cpp#L4701

Stack layout for reference
[code]

@jkotas @dotnet/jit-contrib

[2017-03-15 22:14] jorive opened #10207 "GetAllocatedBytesForCurrentThread unpredictably returns inaccurate values"
I have been working on adding new metrics to [Xunit-Performance-API](https://github.com/Microsoft/xunit-performance). One of those metrics is the "Allocated bytes in current thread".

While writing tests to exercise the code I noticed I was not getting the expected values. Below I am adding two cases:

[code]

[code]

## Impact:
1. The GetAllocatedBytesForCurrentThread API is already in netcoreapp

[2017-03-15 22:26] seanshpark commented on #9706
@BruceForstall , Current master generates `IL_STUB_UnboxingStub` but fails to run `genrecur` test case. With #9753 patch, this test passes with success. I think GT_OBJ needs an "unboxing" and the patch does it. But this happens only with x86/Linux and it would be nice to know the reason. For this I don't know I should rather surround with with "UNIX_X86_ABI" or somekind.

[2017-03-15 22:35] jkotas opened #10209 "Fix paltest_queryperformancecounter_test1"
This test started failing in CI after upgrading the CI machines to Sierra. It was disabled in https://github.com/dotnet/coreclr/pull/10173 to get the upgrade unblocked.

[2017-03-15 23:01] agocke commented on #5463
@jkotas @gkhanna79 I'm currently trying to implement AppDomain-like functionality using AssemblyLoadContext and would really appreciate some documentation on it.

Specifically, it would really help to know:

1. If a type in the TPAs gets loaded in multiple LoadContexts is the JIT'd code shared between them?

2. Are statics always shared across AppContexts?

3. Assuming (2) is true, is it safe to `

[2017-03-15 23:15] sdmaclea commented on #9898
The Microsoft.CodeAnalysis.VisualBasic.dll failure is different.

[code]

The assertion is attempting to assert that all function parameters must either b

This is a stress case.  The function has 262 variables consuming 0x288 bytes of stack.  There are 11 arguments triggering operand passing on the stack.  The last operands are references.

The assert is firing on V10.  Argument V10 is allocated

[2017-03-15 23:32] #6803 closed

[2017-03-15 23:37] Maoni0 commented on #10207
#10162

[2017-03-16 00:02] tarekgh commented on #8225
I am closing this one here. @natemcmaster  could you please move the issue to any other repro as this issue not applicable to this repo?

[2017-03-16 00:02] #8225 closed

[2017-03-16 00:05] natemcmaster commented on #8225
I'm not the issue author. @asadsahi if you are still having issues, try https://github.com/dotnet/sdk.

[2017-03-16 00:08] tarekgh commented on #4521
@piotrpMSFT any suggestion?

[2017-03-16 00:38] jkotas commented on #9898
There should be no calling convention and other codegen differences between Windows and Unix on ARM64. If something needs to change for ARM64 in the JIT, it should be under `_TARGET_AMD64_`, not platform specific.

[2017-03-16 00:39] parjong commented on #10183
#808 seems to be related.

[2017-03-16 00:44] ellismg commented on #10183
Previously we had not been thinking of CoreCLR as a standalone thing that we would package by itself.  Instead CoreCLR is a component of a larger product (for example the .NET Core Shared Framework) and we'd package that.

The plan for 2.0 is that we will provide platform specific packages of both the .NET Core SDK and the .NET Core Shared Framework, but there's no plan to make standalone packages

[2017-03-16 00:47] sdmaclea commented on #9898
@jkotas Is it an error that V10 arg is stored in "ref -> registers" as the assert suggests?  If that is the case I need to debug JIT code.  Otherwise I need to figure out if the assert is bogus or should be altered to allow this case.

[2017-03-16 00:49] jkotas commented on #9898
I do not know. It is a questions for @dotnet/jit-contrib to answer.

[2017-03-16 00:51] myungjoo commented on #10183
Even if CoreCLR is not useful without its neighbor packages, having CoreCLR as a package, not a component inside a package helps control the version and the dependency chains of CoreCLR. You may see vastly many cases of such in most Linux distros, having a lot of multiple packages (or subpackages), which may have their own version, for a single "functionality".

For example, if we have coreclr.rpm

[2017-03-16 00:57] ellismg commented on #10183
In https://github.com/dotnet/core-setup/issues/1599 we are discussing how the CLI will be packaged.  We do plan to segment the CLI itself into a few packages, with a metapackage that just has dependencies on other (and name and version them in such a way that things that should be able to be installed side by side can be).  But the plan is not not have such a fine grained dependency such that Core

[2017-03-16 01:01] parjong commented on #10161
#10217 makes some progress, but it looks like another issue (maybe #10133?):
[code]

[2017-03-16 01:29] RheaAyase commented on #10183
@ellismg said:

And I'll agree with this, splitting it off would be more work with no bonus fruit at the end of it... And the same I would think of coreCLR being part of shared framework.

I would even consider this discussion to be a duplicate of https://github.com/dotnet/core-setup/issues/1599 to be honest. Does it make sense to perhaps continue the discussion there, or continue it here in which

[2017-03-16 01:44] parjong commented on #10161
It seems that this test now hits #10027:
[code]

[2017-03-16 02:40] mmitche opened #10222 "Fix threading/Sleep/test1/paltest_sleep_test1"
Flaky, failing about 10% of the time on Sierra.  Disabled in #10221

[2017-03-16 02:40] mmitche commented on #10222
FYI @jkotas

[2017-03-16 03:29] #10027 closed

[2017-03-16 04:02] parjong opened #10225 "[x86/Linux] Reverse P/Invoke Performance"
x86 native and managed code uses different stack layout (which results in #10161)

#10217 attempts to fix #10161, but degrades reverse P/Invoke performance.

We need to improve reverse P/Invoke performance.

[2017-03-16 04:08] #10204 closed

[2017-03-16 04:08] #10102 closed

[2017-03-16 14:32] #7607 closed

[2017-03-16 15:45] #10165 closed

[2017-03-16 15:49] RussKeldorph commented on #10048
This may be a dup of #8160.  @rahku any ETA?

[2017-03-16 15:50] benaadams commented on #10056
Using
[code]
Fails differently with `Error: Parameter not recognized: x64.` 😢
[code]

[2017-03-16 16:18] chcosta commented on #10056
The problem you're hitting is using `all` in combination with `x64`, `checked`, and `release`.  try one of these

`build all skiptests -- /p:CSharpCoreTargetsPath=Roslyn\Microsoft.CSharp.Core.targets`

`build x64 checked skiptests -- /p:CSharpCoreTargetsPath=Roslyn\Microsoft.CSharp.Core.targets`

`build x64 release skiptests -- /p:CSharpCoreTargetsPath=Roslyn\Microsoft.CSharp.Core.targets`

[2017-03-16 16:24] benaadams commented on #10056
@chcosta yep doing `checked` and `release` separately fixes it; thank you

[2017-03-16 18:14] pgavlin commented on #8648
FWIW, there only appear to be four (!) uses of `VNF_NullPtrExc` in the compiler:
- [valuenum.cpp:1568](https://github.com/dotnet/coreclr/blob/master/src/jit/valuenum.cpp#L1562-L1568): here we are numbering `(ARR_LENGTH null)`, which clearly produces a null pointer exception.
- [valuenum.cpp:6638, valuenum.cpp:6651](https://github.com/dotnet/coreclr/blob/master/src/jit/valuenum.cpp#L6625-L6657): in

[2017-03-16 18:44] mikedn commented on #8648
Perhaps the thinking was that `GTF_EXCEPT` is enough to avoid issues like this. And at least for CSE it usually is, it's just this somewhat peculiar case of a subexpression that ends up replacing its parent and its side effects that causes problems.

[2017-03-16 18:54] pgavlin commented on #8648
I thought that might be the case at first, but neither assertion prop nor CSE check the `GTF_EXCEPT` flag when performing replacements. Instead, they use `GTF_PERSISTENT_SIDE_EFFECTS`, which only includes calls and assignments. While it's possible that this is an oversight, it certainly seems deliberate. @briansull may be able to confirm this.

[2017-03-16 19:00] JosephTremoulet commented on #8648
Can you explain that in a bit more detail?  I went looking for something like that, but found that when `PerformCSE` [extracts side-effects](https://github.com/dotnet/coreclr/blob/0d02d3bc5cab6ea40c4c431cbbcc7e14a5332835/src/jit/optcse.cpp#L2021-L2023), it uses the `GTF_PERSISTENT_SIDE_EFFECTS_IN_CSE` flag, from which `GTF_EXCEPT` is [conspicuously absent](https://github.com/dotnet/coreclr/blob/0d

[2017-03-16 19:06] pgavlin commented on #8648
The problem isn't matching the dereferences themselves, it's matching whatever consumes the value produced by the dereference: because the consumer's value number now contains an exception, I can imagine that we might miss CSEs, constant folds, etc. that we might get if we did not add the exception to the VN but instead checked for `GTF_EXCEPT` when rewriting the IR.

I mean for optimal codegen, n

[2017-03-16 19:23] JosephTremoulet commented on #8648
If the best value number (ignoring exceptions) that we have for an `IND (p)` node is `VN_IND (<p's VN>)` (meaning that we don't really know what value was loaded), then any consumers would be have to be functions of loads of things that are value-equivalent to `p`, so I'd expect them all to carry the `exception if <p's VN> is null` annotation.

On the other hand, if we have a better value number f

[2017-03-16 19:27] pgavlin commented on #8648
You're right.

I must have been concerned primarily with comma cases. If the `IND` appears on the LHS of a comma node, its value is discarded but its set of exceptions is not: the value number for the comma node is the value number of its RHS + the union of the set of exceptions in the LHS and the RHS. The repro I posted is a motivating example: we may not want to lose the ability to constant fold

[2017-03-16 19:38] gokarnm opened #10233 "AssemblyLoadContext: Consider adding AssemblyLoadContext.Current API"
Right now the `AssemblyLoadContext` class exposes a [`Default`](https://docs.microsoft.com/en-us/dotnet/core/api/system.runtime.loader.assemblyloadcontext#properties_) static property that returns the default load context (AppPathAssemblyLoadContext). Consider adding an `AssemblyLoadContext.Current` static property that returns the current `AssemblyLoadContext` from which the calling type's assemb

[2017-03-16 20:07] agocke commented on #5463
Also, it appears that Assembly.LoadFromStream doesn't support netmodules. Is there any other way to load a netmodule from a `byte[]`?

[2017-03-16 20:09] jkotas commented on #5463
.NET Core as a whole does not support netmodules.

[2017-03-16 20:20] danmosemsft opened #10234 "Change corelib to resx, strongly typed resources, and split resources for \shared"
We need to

1. Change from .txt to .resx
1. Change to use SR.cs generated from .resx instead of `GetResourceString("..")`
1. Split the resx into two pieces, one in `\shared\` that contains every string used in at least one place in any code in `\shared\`, and another outside of `\shared\` that contains all the other strings.
1. Do the same split in CoreRT
1. Enabling syncing for .resx files if it

[2017-03-16 20:28] mikedn commented on #8648
Yes, you're right. In fact I mentioned this in my second post but I completely forgot, it's been a while. I was initially surprised of CSE's disregard of `GTF_EXCEPT` but then concluded that it simply expects that all expressions produce the same exception, if any. There's no problem doing CSE on
[code]
because you get something like
[code]
and this then (correctly) reduces to:
[code]

We only get

[2017-03-16 21:00] danmosemsft commented on #9939
Can we move this to Future?

[2017-03-16 21:14] jkotas commented on #9939
I think so

[2017-03-16 21:25] rahku commented on #10048
how can i run this on my box

[2017-03-16 23:53] sdmaclea commented on #9481
Crossgen is not the root cause of the issue, it is a triggering condition.  Specifically, when the using  System.Private.CoreLib.ni.dll, the memory layout is different.

The issue is triggered when the target address for the indirect function call can fit withing a uint32_t.  The compilation of the ldc.i8 calli ends up getting lowered to ldc.i4 calli.  On 64 bit platforms this will trigger the ass

[2017-03-17 00:03] AndyAyersMS commented on #9891
Think I figured this out (well at least one way to reach the bug). In the code in `fgFindJumpTargets` that prescans the method, if we see a `starg`, we do the following:
[code]
here `varNum` is the argument number. Now it turns out that for an inlinee, `lvaTableCnt` is set over in `lvaInitTypeRef` as follows:
[code]
and it is initially set to the larger of 2x the number of locals and args, or 16.

[2017-03-17 02:41] #10161 closed

[2017-03-17 05:03] hqueue opened #10247 "ildasm fails to read ni file with a specific option (Segmentation fault)"
I faced Segementation fault when reading ni file using `ildasm` with `-nat` option.
It seems that other options pretty works well.
Same behavior observed on x64/Ubuntu 14.04 and arm/Ubuntu16.04.

## Environment
Host environment: x64/Ubuntu 14.04
coreclr/corefx are built for x64/Ubuntu 14.04 with Debug
coreclr: 19e1cd299da301d1b2cb18ae8479595dbfc7224c
corefx: 808c9de28abfc4af11b7f3144aab35c1bf48fb3

[2017-03-17 06:02] borrrden commented on #7134
What is the status of this?  I am running up against this in my CI environment.

[2017-03-17 09:13] karelz commented on #9474
Is it rather 2.1 issue than 2.0?

[2017-03-17 09:16] karelz commented on #7061
Does not look like must have for 2.0.

[2017-03-17 09:16] karelz commented on #7060
Does not look like must have for 2.0

[2017-03-17 09:18] karelz commented on #7711
Do we need it for 2.0?

[2017-03-17 09:20] karelz commented on #976
@tarekgh do we need a new API for this? If yes, we should move it to CoreFX. If not, let's remove "api addition".

[2017-03-17 09:23] karelz commented on #6439
If you are still interested in the API, please create a new issue in https://github.com/dotnet/corefx, ideally with [formal API proposal](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)

[2017-03-17 09:23] #6439 closed

[2017-03-17 09:25] karelz commented on #5407
Seems to be back in .NET Standard 2.0: https://github.com/dotnet/corefx/blob/ddd1e5ce0f81f7091e544c65f99c37bf52a4ded9/src/System.Threading.Thread/ref/System.Threading.Thread.cs#L49

[2017-03-17 09:25] #5407 closed

[2017-03-17 09:27] karelz commented on #1135
Seems to be dupe of https://github.com/dotnet/corefx/issues/14047 which has been fixed.
Please reopen if it is invalid understanding.

[2017-03-17 09:27] #1135 closed

[2017-03-17 09:28] karelz commented on #933
@ianhays @JeremyKuhne please move it to corefx repo. API additions should not be tracked in coreclr.

[2017-03-17 12:48] jkotas commented on #7711
This is done. I have submitted https://github.com/dotnet/coreclr/pull/10250 to cleanup left overs.

[2017-03-17 13:50] #10089 closed

[2017-03-17 14:47] JosephTremoulet commented on #8648
That makes sense.  If you're suggesting a course of action, it's not clear to me what the suggestion is.  If you're just thinking through the issues, then I think we're on the same page.

I still think that the current design of the value numbering is to include the VN exception annotations for stuff like this, and that therefore "the bug" is that it's not attaching the nullref annotations to thos

[2017-03-17 15:02] karelz commented on #7711
Thanks @jkotas, assigned to you to reflect the status.

[2017-03-17 15:17] sdmaclea opened #10252 "[Arm64/Unix] Regression on tip 3/16"
There are new 44 failures on the tip.

43 were observed when building on top of 84aab5f Delete mscorlib facade (#10157) tip.
The build the regression was not present in 02c8cc9

List of failing tests
[code]

Fail signatures look like one of the following.
[code]
[code]
[code]
[code]
[code]
[code]
[code]

Failures all seem to be broken dependencies.

@jkotas Looks like 84aab5f Delete mscorlib facad

[2017-03-17 15:26] #976 closed

[2017-03-17 15:26] tarekgh commented on #976
Issue moved to [dotnet/corefx #17233](https://github.com/dotnet/corefx/issues/17233) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-17 15:47] sdmaclea commented on #10252
@jkotas Looks like this is an  issue with my CI scripts here.  Looks like the tests are pinned to an old build

[2017-03-17 16:04] sdmaclea commented on #9559
This is still an issue, but I think the user/sudo thing is incorrect.

[2017-03-17 16:09] sdmaclea commented on #9559
@lemmaa #5406 introduced these variables, but set their value to failure.  Is PROCFS not available required for your Arm64 platform.

The incorrect setting of these variable causes debug mkfifo name collisions

[2017-03-17 17:17] pgavlin commented on #8648
Yes, I've been thinking this through. Good to hear that we're on the same page.

At the moment I think I agree. The only thing that is really at all concerning is the comma issue we've been discussing. If this issue turns out to be especially prevalent (and I am not sure whether or not it is), then we may need to rethink our strategy a bit (up to and including your suggestion re: reassociating com

[2017-03-17 17:27] sdmaclea commented on #10252
This was an internal CI script issue

[2017-03-17 17:27] #10252 closed

[2017-03-17 17:40] JosephTremoulet opened #10258 "Investigate optimizing away Span<class> type checks"
The Span constructors that take arrays have [checks](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Span.cs#L45-L46) to ensure that the dynamic type of the `T[]` argument is exactly `T[]` (as opposed to `U[]` for some subtype `U` of `T`), since Spans, unlike arrays, aren't covariant.  We should see if there are cases where the JIT can optimize away this check (when the const

[2017-03-17 17:50] pgavlin opened #10261 "PAL SleepEx tests are problematic"
These tests depend on the PAL's implementation of `SleepEx` returning within a certain amount of time. As far as I am aware, `pthread_cond_timedwait` makes no guarantees that it will return within a particular amount of time, only that it will not return before its timeout expires.

See https://github.com/dotnet/coreclr/pull/10239 for an example of some CI failures due to these tests.

[2017-03-17 17:50] pgavlin commented on #10261
cc @janvorli

[2017-03-17 17:52] #933 closed

[2017-03-17 17:52] ianhays commented on #933
Issue moved to [dotnet/corefx #17242](https://github.com/dotnet/corefx/issues/17242) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-17 18:17] kouvel commented on #6408
System.Threading.Timer registers the native app domain timer it creates as a non-repeating timer. However, Timer.FireNextTimers in Timer.cs also has the same issue, and both should be fixed.

[2017-03-17 18:36] sdmaclea commented on #9581
@dotnet/arm64-contrib

I have been running GCStress on debug builds.  With roughly the set of failures above.

I ran last night for the first time on a checked build.  There were a lot more failures.  I was wondering if this is a regression or it is due to higher optimization levels in checked builds.

[2017-03-17 18:44] #7711 closed

[2017-03-17 19:03] gkhanna79 commented on #10247
CC @RussKeldorph

[2017-03-17 19:12] pgavlin opened #10265 "Most (all?) tests are failing under GCStress=0x3"
See e.g. https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_gcstress0x3/19/

The most frequent cause appears to be this assert:

[code]

@swgillespie @Maoni0 can one of you take a look?

[2017-03-17 19:13] pgavlin commented on #10265
(cc @RussKeldorph)

[2017-03-17 19:25] swgillespie commented on #10265
This assert was introduced in https://github.com/dotnet/coreclr/pull/10065, I'll take a look.

[2017-03-17 19:56] #10048 closed

[2017-03-17 19:56] #8160 closed

[2017-03-17 19:57] jashook commented on #9581
It depends on the tests. A debug build of the tests may not trigger optimizations, while a checked build of the tests probably will.

[2017-03-17 19:58] jashook commented on #9581
Generally you should test with checked just for the speed increase.

[2017-03-17 21:01] #9891 closed

[2017-03-17 21:03] briansull commented on #8648
Here is an additional case to ponder:

After adding in the proper VNF_NullPtrExc for the left-hand-side of a comma
We will get the same value  number for these two trees:

(*p, (x + y))   and (*q, (x + y))

The left-hand-side of the comma's differs as follows:
One dereferences p and discards the result and the other dereferences q and discards the result.

[2017-03-17 21:10] JosephTremoulet commented on #8648
@briansull , `VNF_NullPtrExc` [takes one source argument](https://github.com/dotnet/coreclr/blob/408390ebf141738118924db3694bc487c8634f56/src/jit/valuenumfuncs.h#L55), the value number of the pointer, I presume for this reason.

[2017-03-17 21:12] JosephTremoulet commented on #8648
But `VNF_DivideByZeroExc` doesn't seem to take the dividend as a source...

[2017-03-17 21:20] AndyAyersMS commented on #10047
Having trouble getting testing going again on my Ubuntu box... not sure what changed but coreclr fails to initialize.

[2017-03-17 22:18] rahku commented on #10233
In order for this to work, api would need to find the assembly of the caller. I am not aware of a reliable way to find the assembly of the caller when jit can do cross module inlining & tailcall optimizations.
@jkotas do you know

[2017-03-17 22:54] jkotas commented on #10233
Right, getting caller assembly has always been a problematic construct.

I am not sure whether `Current` property would add clarity. It does not reflect the fact that it is important which assembly the code is executing in. For example, it is easy to miss that fact during refactoring when moving the code from one assembly to another. I would need to be something like `AssemblyLoadContext.GetAssemb

[2017-03-17 22:56] AndyAyersMS commented on #9908
Some data from crossgen of System.Private.CoreLib, after #10192. This shows the relative likelihood of devirtualization success or failure based on the operation feeding the call. The accounting is a bit tricky because this data includes callsites in inlines candidates -- so from an IL standpoint some sites may be counted multiple times.

Overall around 8% of call sites are getting devirtualized.

[2017-03-17 23:10] gkhanna79 commented on #5463
Please see https://github.com/dotnet/coreclr/pull/10271

[2017-03-17 23:12] mikedn commented on #7210
Meh, all discussed implementations are lame, we can do better:
1. EQ/NE is obvious - `(x == y) == (x - y == 0)`. Testing if a `long` is 0 is trivial, just OR the low and high parts.
2. LT is obvious as well - `(x < y) == (x - y < 0)`. Testing if a `long` is negative is negative is also trivial - check the sign of the high part.
3. LE is a little obvious but works too - `(x <= y) = !(x > y) = !(y <

[2017-03-17 23:37] rahku commented on #10233
Closing this we already have a PR https://github.com/dotnet/coreclr/pull/10271 out for documentation

[2017-03-17 23:37] #10233 closed

[2017-03-17 23:47] agocke commented on #5463
@gkhanna79 This is great, thanks!

[2017-03-18 00:01] AndyAyersMS commented on #7210
For EQ/NE, `x-y` still has a borrow. If we can't introduce control flow, how about `(x.lo - y.lo) | (x.hi - y.hi)`? And if `y == 0`, `x.lo | x.hi`.

[2017-03-18 00:10] gokarnm commented on #10233
Thanks for the feedback and the ALC documentation!

[2017-03-18 00:12] mikedn commented on #7210
Yup, already done:
[code]

Right, yet to do that.

It also turns out that the negative test doesn't work very well:
[code]

[2017-03-18 00:14] mikedn commented on #7210
Hmm, for LT/LE/GT/GE the first `sub` can be a `cmp` since we only need `CF` from it. But for that we need to add `GT_CMP`...

[2017-03-18 01:49] tannergooding opened #10276 "Math.Tan does not return the expected output for `Math.Tan(Math.Atan(double.PositiveInfinity))`"
`Math.Tan` is the inverse operation of `Math.Atan` (and vice-versa). However, `Math.Tan(Math.Atan(double.PositiveInfinity))` (or `tan(π / 2)`) returns an extremely large value rather than `double.PositiveInfinity` (it returns `16331778728383844`).

It could be argued that this is "correct" with regards to the input, since the output of `Math.Atan(double.PositiveInfinity)` is not "exact". However,

[2017-03-18 03:30] tannergooding commented on #9807
Sorry for the delayed response here, but I listed all three because of the 'special' considerations for each function.

We definitely don't implement `pown` (because it only allows integral exponents). However, we could technically be implementing either `pow` or `powr`, depending on whether or not we special-case integer exponents.

That being said, since the current `Math.Pow` implementation cal

[2017-03-18 04:31] kouvel commented on #6055
The `Timer` instance (more importantly, the `TimerHolder` instance) is rooted when the `Timer(TimerCallback)` overload is used because the the Timer instance is stored as the state in the corresponding `TimerQueueTimer` instance to pass into the callback as its state object.

It does look like it would be a breaking change to not root it, but fixing this makes me a bit uncomfortable because it wou

[2017-03-18 04:36] kouvel commented on #6055
That said, it probably would have made sense to always root the timer when it's registered to tick

[2017-03-18 05:22] kouvel commented on #10261
This is a general problem with all of the wait tests that verify that a wait completes in reasonable time, especially when the machine is overloaded running other tests in parallel. These tests are useful when bringing up new systems and a sufficient buffer should be included when expecting wait completion. The buffer needs to be adjusted, for that part I'll consider this a duplicate of #8321.

[2017-03-18 05:22] #10261 closed

[2017-03-18 05:25] kouvel commented on #10222
Considering this a duplicate of #8321, noted the disabled test in that issue

[2017-03-18 05:25] #10222 closed

[2017-03-18 05:25] kouvel commented on #10222
#10261 is similar

[2017-03-18 05:30] tannergooding commented on #10276
Also:
* `Math.Tan(+π)` returns a denormal value, rather than `+0.0`
* `Math.Tan(-π)` returns a denormal value, rather than `-0.0`
* `Math.Sin(+π` returns a denormal value, rather than `+0.0`
* `Math.Sin(-π` returns a denormal value, rather than `-0.0`
* `Math.Cos(+π/2)` returns a denormal value rather than `+0.0`
* `Math.Cos(-π/2)` returns a denormal value rather than `+0.0`

[2017-03-18 06:41] danmosemsft commented on #10276
/cc @dcwuser

[2017-03-18 12:00] AAimson opened #10279 "Unable to debug on Visual Studio 2017 Mac (Sierra 10.12.4 Beta)"
When trying to debug a MVC Web project in VS 2017 Mac I get the error message: Unable to attach to CoreCLR.

dotnet

dotnet --info

[2017-03-18 12:32] stephentoub commented on #6055
I'm sympathetic to the request, and agree it should have been designed to always root itself.  You can see, for example, that Task.Delay uses the non-rooting ctor but then uses an internal helper to keep the timer rooted until it fires (or is disposed): https://source.dot.net/#System.Private.CoreLib/src/System/Threading/Tasks/Task.cs,5424

However, making it consistent by changing the existing beh

[2017-03-18 16:03] pgavlin commented on #8321
(continuing discussion from #10261)

The problem here is that the test is fundamentally unable to guarantee that it will pass no matter the buffer time, not that the buffer time is too small. The only property that these sorts of tests can check while guaranteeing that they pass is the property that a wait for `x` units of time does not return before `x` units of time have elapsed. At the very lea

[2017-03-18 16:12] mikedn commented on #8321
Another one, this time on OS X: https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_osx10.12_prtest/162/

[2017-03-18 16:17] mikedn commented on #10022
Another one: https://ci.dot.net/job/dotnet_coreclr/job/master/job/x86_checked_windows_nt_prtest/3883/

[2017-03-18 19:11] pgavlin commented on #10022
For posterity, the crash dump for that failed build is located here: https://dumpling.azurewebsites.net/api/dumplings/archived/1d2e8c8f93185b2c93a36929f499d2d307595470

Unfortunately the test job did not upload artifacts so we do not have symbols for the dump.

However, I have looked at another dump from a different instance of this failure, and here is what seems to be happening:
- Thread A insta

[2017-03-18 19:13] tarekgh opened #10282 "Generic Type Check Inlining"
@manixrock commented on [Sat Mar 18 2017](https://github.com/dotnet/corefx/issues/17273)

When writing performance-critical code it often leads to code duplication.

Let's say we wanted to make a method that applies an effect on an image, in our case we want to apply a gray-scale and an optional invert. The code could look like this:

[code]

However if we expect the invert to be only rarely used,

[2017-03-18 19:17] svick commented on #10282
As already mentioned by @mikedn, CoreCLR already does this kind of optimization for value types and intentionally doesn't do it for reference types.

So, what is actually your proposal? To stop sharing implementations of generic methods for reference types? The implementation does that for a reason (to avoid code explosion) and I doubt such change would happen, especially considering that what you

[2017-03-18 19:29] kouvel commented on #8321
It's documented on Windows that waits can return before the specified duration as well.

Yes in that sense it is by design a flaky test, the buffer is to sufficient reduce the flakiness such that it would not fail on any heavily loaded system. Clearly, the buffer here is too small.

I agree these tests are not very useful in the CI. @janvorli, are you ok with removing these from the CI? Perhaps we

[2017-03-18 19:50] kouvel commented on #8321
When I say "these tests" I'm referring to all tests that expect a wait to complete within a certain buffered interval, there are a whole bunch of those type of tests.

[2017-03-18 20:17] AndyAyersMS commented on #10282
While it's true that in a shared generic method the exact type for shared parameters or locals is not known to the jit, there are still opportunities to optimize.

There are various ways this can happen:
* if the function applied to the type does not depend on the exact type then the jit may be able to simplify things. For instance `sizeof(T)` for a ref type is known to be 4 or 8 depending on targ

[2017-03-18 21:04] jkotas commented on #10022
There is no tight loop. The thread B waits 100ms between the GCs: https://github.com/dotnet/coreclr/blob/master/tests/src/JIT/Methodical/Boxing/misc/concurgc.il#L29

100ms should be a plenty of time for thread A to make progress.

[2017-03-18 21:16] pgavlin commented on #10022
Ah, great--I overlooked that.

I'm happy to provide the crash dump I have along with binaries and symbols if that would help, but it will take me a bit of time to do so (need to drop into the office and turn my workstation back on). That dump is definitely in the state described above. It is also possible that the GC simply is not able to complete, but AFAICT the dump does not contain enough infor

[2017-03-18 21:21] jkotas commented on #10022
It can wait till Monday.

The test is carefully crafted to store the iteration counter in a boxed object on GC heap. The place to look at would be the state of the iteration counter.

One possible theory is that the iteration counter is getting corrupted because of GC hole and the main thread keeps looping infinitely.

[2017-03-18 21:54] Maoni0 commented on #10022
if you could provide a dump with symbols that would be really helpful. thanks!

[2017-03-18 22:23] pgavlin commented on #10022
@jkotas: in the dump I have (which was taken after the test had been running for 10 minutes), the main thread has not yet returned from its call to `Thread.Start`, so it does not fit the scenario you've described.

[2017-03-18 23:03] meherkasam opened #10285 "Error running corerun on Mac"
**Environment variables:**

echo $PATH
other_path_variables:/Users/meherk/Desktop/code/coreclr/bin/Product/OSX.x64.Debug

echo $CORE_LIBRARIES
/usr/local/share/dotnet/shared/Microsoft.NETCore.App/1.1.1

**Inside ~/Desktop/helloworld, created a dotnet project:**
dotnet new console
dotnet restore
dotnet build
dotnet publish

**Inside ~/Desktop/helloworld/bin/Debug/netcoreapp1.1:**
$ ls
helloworld.de

[2017-03-18 23:29] manixrock commented on #10282
@svick The shape idea is very interesting. It seems to go in the direction of using types as objects with properties.

For example this would be very useful in imposing compile-time constraints on object types. For example when working with 3D scenes, it's very important to have a camera which has a position and view direction.

[code]

This way trying to apply a vector without first normalizing i

[2017-03-18 23:54] manixrock commented on #10282
@AndyAyersMS what about inlining `Action`'s and `Func`'s?

For example if we wrote the code above as:

[code]

Will it inline the passed method? A image editing program might have dozens of such methods, and it would save a lot of code to be able to re-use this code and only pass the pixel-mapping code. Code duplication is very ok since the alternative would be to manually copy the code anyway.

H

[2017-03-19 00:12] AlgorithmsAreCool commented on #10282
I don't think the JIT does anywhere near that level of dataflow analysis and I'd be shocked if it ever did due to the throughput/perf impact.

You could fallback to dynamic code generation to generate specialized code if you really needed to.

[2017-03-19 02:32] tannergooding opened #10287 "Math.Ceiling on Windows x64 handles inputs in the form of `-0.xxxxxxxxx` differently"
`Math.Ceiling` on Linux, Mac, and x86 Windows all return `-0.0` for inputs in the form of `-0.xxxxxxxxx`. However, x64 Windows currently returns +0.0.

The IEEE nor the C11 spec directly specifies how -0.xxxx should be handled. However, the handling of these values should be consistent across all platforms. The IEEE spec does indirectly specify the handling of rounding towards negative zero, and i

[2017-03-19 02:36] tannergooding commented on #10287
It should also be noted that the handling of `MathF.Ceiling` is the opposite. On all platforms, `-0.0f` returns `-0.0f`, but `-0.xxxxxxxxxf` returns `+0.0f`.

[2017-03-19 02:38] tannergooding opened #10288 "Math.Floor on Windows x86 handles `-0.0` differently"
On all platforms, except x86 Windows, `Math.Floor(-0.0)` returns `-0.0`.

The IEEE spec does not directly specify a correct behavior here (just indirectly via the handling of -0 with regards to certain rounding modes), but the C11 spec does. Specifically, in `Annex F: IEC 60559 floating-point arithmetic`, it specifies:

[2017-03-19 02:49] tannergooding opened #10289 "Math.Pow on non-windows is incorrect for X = -0.0, and Y < 0 where it is an odd integer"
We have special handling in the PAL layer to ensure that `pow` handles certain edge cases correctly. However, the handling for X = -0.0 and Y < 0 (see https://github.com/dotnet/coreclr/blob/master/src/pal/src/cruntime/math.cpp#L376) is invalid according to the IEEE spec.

The spec actually indicates:
For the pow function (integral exponents get special treatment):
* pow (x, ±0) is 1 for any x (eve

[2017-03-19 02:52] tannergooding opened #10290 "`Single.ToString` and `Double.ToString` do not differentiate between -0.0 and +0.0"
This can cause significant confusion when debugging tests or strings where this differentiation matters.

[2017-03-19 06:02] ilias-selfhost opened #10292 "Threadpool: CLR threadpool practically deadlocks on a large number of blockign work items"
# Symptom
For a large n (depending on the server), the following script starts a few VMs, then the server sits idle for up to several minutes, then all VMs start up nearly instantly:
[code]
Adding a short pause eliminates the delay:
[code]
# Analysis
Start-VM tasks each block on a task retrieving the host's name. Ordinarily, this is not impactful since the task completes very quickly. However, the

[2017-03-19 09:51] WinCPP commented on #7060
@karelz If I am not missing something, this looks like simple code clean up. May I grab it?

[2017-03-19 10:41] cydhaselton commented on #9946
Couple of items/questions:

1. Given the rapidity of changes to corefx/coreclr, it would be good to get a CI build for Android up and running sooner rather than later.
2. I have next-to-no knowledge of the steps to get a CI up, much less an Android one. I'm willing to learn but given the need and my limited resources it would be more efficient a) to have a clear set of instructions or b) for someo

[2017-03-19 15:58] stephentoub opened #10293 "Differences between String.CompareOrdinalIgnoreCaseHelper and CompareInfo.CompareOrdinalIgnoreCase"
There are a few obvious by-design issues between these two helpers, in particular that String.CompareOrdinalIgnoreCaseHelper requires its inputs to be ASCII-only whereas CompareInfo.CompareOrdinalIgnoreCase allows for non-ASCII, doing a fast path that looks very similar to CompareOrdinalIgnoreCaseHelper but falling back to a slower path if non-ASCII is found.  However, there are a few differences

[2017-03-19 20:44] karelz commented on #7060
Let's check with IO owners first that it won't have any undesired side-effect, esp. on appcompat ... @ianhays @JeremyKuhne can you please chime in?
Assigning to you ...

[2017-03-19 20:46] karelz commented on #7060
@WinCPP invitations are per repo (GitHub restriction), please accept and ping me, I will assign it to you then.

[2017-03-19 22:00] ViktorHofer opened #10294 "cmake conflict with Visual Studio 2017 and Visual Studio Preview"
Build script failing because of cmake error when having installed both Visual Studio 2017 and Visual Studio Preview. As VS Preview becomes more and more popular wanted to pointing out that issue.

[code]

The Platform.targets file only exist for 2017 and not for Preview. Here the Platform.targets file gets referenced in the Microsoft.Cpp.Current.targets file:

`  <Import Condition="'$(Configuratio

[2017-03-20 00:44] ViktorHofer opened #10297 "System.IO.Path.IsPathRooted does not check if valid drive letter on Windows"
While looking over the System.IO.Path class and its Windows implemented I noticed that the desired behavior stated in the method comment isn't what gets executed.

[code]
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/IO/Path.Windows.cs#128

With the current behavior the method would return true even if the first char is not a drive letter followed by a VolumeSeperatorCha

[2017-03-20 00:52] ViktorHofer opened #10298 "Unable to build coreclr repo __security_check_cookie_ex"
Portion of cmake errors while building with ".\build" after following the steps in the getting started on windows documentation and executing init-tools script:

[code]

Error log file:
[CoreCLR_Windows_NT__x64__Debug.zip](https://github.com/dotnet/coreclr/files/853730/CoreCLR_Windows_NT__x64__Debug.zip)

[2017-03-20 01:23] parjong opened #10299 "[x86/Linux] How to create CLR unittest overlay?"
The following failure have been observed while running x86/Linux CLR unittest (may be from 03/17?):
[code]
This issue seems to be related with how we create an overlay.

Here are the current stesp to create an overlay:
 1.  Copy TC stubs (files in "Tests/Core_Root")  into overlay
 1.  Copy FX artifacts into overlay
 1.  Copy CLR artifacts into overlay

I tried to use the following reversed steps:

[2017-03-20 02:07] WinCPP commented on #7060
@karelz Thanks. I got the invitation and have accepted it. Between, I did subbmit code changes for CoreClr for one of the CoreFx issues which required API addition, but that time it allowed me do check-ins in CoreClr without formal invitation... Just thought I would bring this to your notice if there was some gap in following processes on my side.

I will wait for inputs from IO owners as you have

[2017-03-20 02:18] hseok-oh opened #10300 "[ARM32/RyuJIT] Compilation (crossgen) fail for call instruction"
When I tried to crossgen - readytorun

command:
export COMPlus_AltJitNgen=*
./crossgen /ReadyToRun /Platform_Assemblies_paths ./ ./System.Private.CoreLib.dll

[code]

backtrace
[code]

This is part of "Enable RyuJIT Backend for ARM32" (issue #8496).

[2017-03-20 05:13] parjong commented on #10299
@jkotas Could you let me know who is responsible to issues of this kine?

[2017-03-20 05:26] jkotas commented on #10299
cc @wtgodbe

[2017-03-20 05:32] jkotas commented on #10299
This was point in time problem caused by #10157 and other related changes. You should not see it anymore with current coreclr and corefx.

[2017-03-20 05:33] jkotas commented on #10299
Make sure to do a real clean build (e.g. delete bin directory).

[2017-03-20 06:32] karelz commented on #7060
GitHub supports assigning issues to their authors, to repo collaborators (requires the invite) and to organization members (also requires invite). Last time you created the PR, so you were author. This time you are not ;-)

[2017-03-20 06:34] parjong commented on #10059
@BruceForstall I tried the following patch to resolve ``JIT.Methodical.Invoke.deep._il_reldeep1`` assert failure:
[code]
Is there something that I misunderstand? This patch resolves two regressions introduced in #10266, but ``JIT.Methodical.Invoke.deep._il_reldeep1`` still hits the above assert failure.

[2017-03-20 06:34] hseok-oh commented on #10300
`call->gtRsvdRegs` masked two registers (reg2, reg3), and pass  this mask  to `genRegNumFromMask` directly, so assertion occured.
It need to select one of masked registers and pass this to `genRegNumFromMask`.

[2017-03-20 06:53] parjong commented on #10299
@jkotas Thank you for comment. It turns out that real clean build and TC update are required to resolve this issue.

[2017-03-20 06:53] #10299 closed

[2017-03-20 06:53] hqueue commented on #10300
@hseok-oh  I think this failure is related to ryujit, since following code is only included in ryujit.
[code]

[2017-03-20 07:11] hseok-oh commented on #10300
@hqueue You're right. I confirmed it's related to ryujit. Thanks.

[2017-03-20 08:19] parjong commented on #10133
@BruceForstall @jkotas The following tests failed when we set the default struct alignment as 4:
 - Interop/MarshalAPI/OffsetOf/OffsetOf/OffsetOf.sh
 - JIT/Directed/RVAInit/nested/nested.sh
 - JIT/Directed/RVAInit/simple/simple.sh
 - JIT/Regression/CLR-x86-JIT/V1.2-Beta1/b103058/b103058/b103058.sh
 - JIT/Performance/CodeQuality/Span/SpanBench/SpanBench.sh

[2017-03-20 08:20] dcwuser commented on #10276
This behavior is not a bug, and the proposed change is not an improvement. There is, however, a way to address the issue raised here that is more in line with floating point standards.

### Precedent
The basic principle being suggested here is that inverse functions should be exact. But this is not the case even for the most tried-and-true implementations of the most basic floating point functions

[2017-03-20 09:39] 303248153 opened #10305 "[Question] Understanding demotion"
Hello, I have a question, what's `demotion` in gc actually do?

Here is what I known:

- Demotion only occurs when plan_phase choose compact
- demotion_low is set to the **oldest pinned plug in queue** after **x >= gen 0 start** or **all plugs allocated in condemned gen**
	- See the picture
- demotion_high is set to heap_segment_allocated (ephemeral_heap_segment)

![demotion_low](https://cloud.git

[2017-03-20 14:47] ayuckhulk commented on #10033
I'll look into this.

In some places there are also no error handling paths (for failed `new (nothrow)` case) so its also should be fixed.

@janvorli  Am I correct that it's better to use `(nothrow)` everywhere?

[2017-03-20 15:12] Jonathan34 commented on #10037
same issue here, cannot use a .net standard 1.6 with .net core 1.1.
i am trying to create a nuget package following this issue.

[2017-03-20 15:13] mazong1123 opened #10308 "Linux tests depends on Windows build."
According to [this doc](https://github.com/dotnet/coreclr/blob/master/Documentation/building/unix-test-instructions.md), running the tests on Linux requires a Windows build (`--testRootDir=~/test/Windows_NT.x64.Debug`). It's a bit awkward as coreclr should be cross platform.

Do we have any plan to get rid of the Windows build for Linux tests? Or is there any particular reason for keeping the rela

[2017-03-20 15:17] #9559 closed

[2017-03-20 15:53] RussKeldorph commented on #10308
#8891

[2017-03-20 16:02] ViktorHofer commented on #10298
Error still occurs after reinstalling the tools in the correct order (first uninstall both, then VS17 and then cmake). Help is really appreciated

[2017-03-20 16:08] tannergooding commented on #10276
👍 for `SinPi` and `CosPi` (`AtanPi` and `Atan2Pi` are also specified by the spec). It is worth noting that, since these methods are not covered by the CRT, they would need to be implemented manually.

[2017-03-20 16:26] RussKeldorph commented on #10298
@gkhanna79 Is a VS2017 build known to work?

[2017-03-20 16:35] ViktorHofer commented on #10298
As described here it should: https://github.com/dotnet/coreclr/blob/master/Documentation/building/windows-instructions.md

[2017-03-20 16:45] gkhanna79 commented on #10298
@tannergooding Looked into enabling it and can comment on this.

[2017-03-20 16:59] tannergooding commented on #10298
There are still a couple issues building CoreCLR on VS2017 right now: https://github.com/dotnet/coreclr/issues/10056

However, AFAIK, the native build should work (at least it is working locally for me). @ViktorHofer, just to confirm, you are Running from a VS 2017 Developer Command Prompt, have the full set of required individual components installed, you have registered the `msdia120.dll` COM li

[2017-03-20 17:09] gkhanna79 commented on #6187
@gokarnm do you have a repro for this? IIRC, there was a bug at somepoint that has been since fixed.

[2017-03-20 17:09] gkhanna79 commented on #6187
CC @rahku

[2017-03-20 17:10] ViktorHofer commented on #10298
Yes running from Developer Command Prompt, all components as described in the docu i linked above are installed and cmake 3.7.2 x64_86 installed. Media120.dll registererd and python installed.

All steps done according to the documentation.

[2017-03-20 17:17] RussKeldorph opened #10311 "Assertion failure: Consistency check failed: FAILED: !implSlot.IsNull() && "Valid method implementation was not found.""
CoreFx tests with Checked runtime

**Sample CoreFx build/test Log**
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_corefx_baseline/122/consoleFull

**Sample failure output**
[code]

[2017-03-20 17:17] gokarnm commented on #6187
Yes, you are right, this was fixed previously #6269

[2017-03-20 17:18] RussKeldorph commented on #10311
@AndyAyersMS Related to your devirt work?

[2017-03-20 17:20] ianhays commented on #7060
There isn't any that I can think of. Being internal means we don't have to worry too much about changing it as long as we're sure it isn't being overridden anywhere important.

[2017-03-20 17:24] danmosemsft opened #10312 "sleep1 needs more tolerance"
[code]

I guess this could be increased in the sleep tests (?)
[code]

https://github.com/dotnet/coreclr/blob/32f0f9721afb584b4a14d69135bea7ddc129f755/src/pal/tests/palsuite/threading/SleepEx/test1/test1.cpp

[2017-03-20 17:25] danmosemsft commented on #10297
@JeremyKuhne

[2017-03-20 17:27] tannergooding commented on #10298
Well the failure seems to indicate that `BufferOverflowU.lib` or `BufferOverflow.lib` is not being properly referenced by the linker.

Could you grep your log and see if anything obvious pops out (my own log doesn't actually list anything related to `BufferOverflow`, but it is succeeding)?

[2017-03-20 17:36] karelz commented on #7060
Thanks for confirmation @ianhays! I thought so as well, but I didn't feel brave enough to make general claims ;-)
@WinCPP you have green light on the change ;-)

[2017-03-20 17:36] swgillespie commented on #10265
I think I know what's going on here and I hope to have a fix out soon.

[2017-03-20 17:36] karelz commented on #7060
@ianhays would it make sense to move the issue into IO area path? (I don't have strong opinion here)

[2017-03-20 17:37] ianhays commented on #7060
Yes.

[2017-03-20 17:46] ViktorHofer commented on #10298
Unfortunately there are also no occurence of anything related to buffer or overflow in my logs.

[CoreCLR_Windows_NT__x64__Debug.zip](https://github.com/dotnet/coreclr/files/855862/CoreCLR_Windows_NT__x64__Debug.zip)

[2017-03-20 17:49] kouvel commented on #10312
Duplicate of #8321, I'll disable the sleep tests for the moment

[2017-03-20 17:49] #10312 closed

[2017-03-20 17:55] AndyAyersMS commented on #10311
Yes, most certainly.

[2017-03-20 18:00] tannergooding commented on #10298
I think your best bet here would be to do the following:
* `git clean -xdf`
* `set _echo = 1`
* `.\Build.cmd > Build.log`

and then attach the Build.log + CoreCLR_Windows_NT__x64_Debug.zip

My best guess here is that something is wrong with how one of the environment variables (`LIB` or maybe `PATH`) is being configured when the VC++ Toolchain is loaded. `BufferOverflow` should be coming from `C:\

[2017-03-20 18:21] JeremyKuhne commented on #10297
I'm fine with making this more correct, would want @ianhays to chime in as well. `PathInternal.IsValidDriveChar()` can be used to validate.

[2017-03-20 18:23] sandreenko opened #10314 "crossgen timeout JIT\Regression\JitBlue\DevDiv_255294"
There are 120000 basic blocks in this tests. In the jit mode CoreCLR enables MinOPT
[code]
it hides the quadratic algorithm:
[code]
Crossgen doesn't drop down to MinOpts and spends much time in lvaMarkLclRefs.
I suggest to create a new block flag  isDominatedByNonNormalEntry and calculate it in fgComputeDoms. The flag will allow to get rid of the quadratic algorithm in this place.

[2017-03-20 18:23] sandreenko commented on #10314
cc @RussKeldorph

[2017-03-20 18:28] AlexGhiondea commented on #9807
This is something we should add, but it is not required for 2.0

[2017-03-20 18:29] AlexGhiondea commented on #8214
@mairaw is this something you are still looking into? Is this required for 2.0?

[2017-03-20 18:42] AlexGhiondea commented on #5989
@mdmoura thanks for reporting this. It does seem strange that this throws.

Would you be interested in looking at why that is and suggesting a solution?

Please note that this is the behavior we have on Desktop as well so any change should consider the compat impact as well.

[2017-03-20 18:48] ViktorHofer commented on #10298
Followed your steps. Please find the logs in my attachment:
[Build.zip](https://github.com/dotnet/coreclr/files/856019/Build.zip)

[2017-03-20 18:54] sdmaclea opened #10316 "[arm64] GitHub_9891asserting"
New test introduced in the fix for #9891 is asserting

JIT/Regression/JitBlue/GitHub_9891/GitHub_9891/GitHub_9891.sh

[code]

@dotnet/arm64-contrib

[2017-03-20 18:57] tannergooding commented on #9807
@AlexGhiondea, I actually already have a pr out that fixes this. We had incorrect special handling on classlibnative.

[2017-03-20 18:59] WinCPP commented on #7060
Thanks @ianhays @karelz will start working on this!

[2017-03-20 19:08] gkhanna79 commented on #9553
@hqueue What are your thoughts on this?

[2017-03-20 19:10] AndyAyersMS commented on #10316
Are you sure you also picked up the fix in importer.cpp?

[2017-03-20 19:18] sdmaclea commented on #10316
@AndyAyersMS  Failure occurred while testing d905f67 in CI.  I didn't explicitly do a clean build but usually that has not given me trouble.  I can  do a clean build and see if it recurs.

[2017-03-20 19:29] tannergooding commented on #9807
Self-assigning since this is fixed by https://github.com/dotnet/coreclr/pull/10295

[2017-03-20 19:29] tannergooding commented on #9806
Self assigning since this is fixed by https://github.com/dotnet/coreclr/pull/10295

[2017-03-20 19:30] AndyAyersMS commented on #10316
The test should fail like that without the accompanying fix. If you see it failing with the fix then please let me know. The line number 9927 indicates the version of importer.cpp is somewhat older than the latest.

[2017-03-20 19:31] tannergooding commented on #10289
Self-assigning. This is resolved by https://github.com/dotnet/coreclr/pull/10295

[2017-03-20 19:33] swgillespie opened #10318 "GCStress is not safe when not using per-thread allocation contexts"
When investigating https://github.com/dotnet/coreclr/issues/10265 I noticed that `GCHeap::StressHeap` does not acquire the alloc lock when allocating strings. When not using per-thread allocation contexts (e.g. Windows x86/x64 single proc scenarios), this is not safe. Another thread can be allocating through the normal allocation path while another thread is allocating through `GCHeap::StressHeap`

[2017-03-20 19:33] swgillespie commented on #10265
Related (but not the root cause of this particular issue: https://github.com/dotnet/coreclr/issues/10318)

[2017-03-20 19:53] tannergooding commented on #10298
Still going through the logs, bug a couple of things immediately pop out:
1. NuGet fails to download
[code]
2. You appear to have a newer version of the Win10 SDK installed (`10.0.15021.0` rather than `10.0.14393.0`)

[2017-03-20 19:59] svick opened #10320 "Memory leak when WaitAny on the same Task keeps timing out"
As reported by @ayende in [a blog post](https://ayende.com/blog/177346/the-memory-leak-in-the-network-partition), when `Task.WaitAny` is being called on the same unfinished `Task` in a loop with a timeout, it causes a memory leak in the `m_continuationObject` list of the `Task`.

Minimal repro:

[code]

The `m_continuationObject` of the `Task` in question is a `List<object>` containing thousands o

[2017-03-20 20:10] JosephTremoulet commented on #10051
We already recognize this helper of pure, and our definition of "pure" already requires that the helper's behavior not depend on mutable heap state, so we can already CSE such calls.

The cases showing up in the SpanBench benchmark aren't getting CSE'd because each is conditionally executed (so the 1st occurrence isn't available at the 2nd one on the path that branched around it).

That said, perh

[2017-03-20 20:33] stephentoub commented on #10320
Definitely a bug.  WaitAny is calling to TaskFactory.CommonCWAnyLogic(Task[]), which doesn't take a timeout.  It then waits with a timeout on the resulting task, but that continuation created has know knowledge of the timeout and thus sits around until any of the constituent tasks completes, which in the case mentioned, will never happen.

[2017-03-20 20:35] ianhays commented on #10297
Seems reasonable to me.

[2017-03-20 20:42] ViktorHofer commented on #10297
I will submit a PR for that. If there would have been some tests with paths like "_:\\abc\\def" or "*:\\..." then the tests would all have passed. Maybe we should include more exception expected tests for future changes?

[2017-03-20 20:45] JeremyKuhne commented on #10297
I think so :)

[2017-03-20 20:52] swgillespie commented on #10305
That's true, that's pretty much all it does. If a plug is pinned in Gen 1, the mechanism by which it is demoted is adjusting the bounds of Gen 0 so that plugs that were formerly in Gen 1 are now located within the boundaries of Gen 0. By recording the pins to be demoted using the generation's allocation pointer (`demotion_high` and `demotion_low`), the GC knows how to reshape its generational boun

[2017-03-20 20:59] swgillespie commented on #8360
Done with https://github.com/dotnet/coreclr/pull/8976

[2017-03-20 20:59] #8360 closed

[2017-03-20 21:01] jkotas opened #10324 "Failure to initialize ICU leads to infinite recursion"
https://github.com/dotnet/coreclr/pull/10317 failed with:

[code]

[2017-03-20 21:03] ViktorHofer commented on #10298
The nuget error is probably because I built it while connected on my mobile phones hotspot.

I now uninstalled the Win10 SDK 10.0.15021.0 and now building again and it seems the __security_check_cookie_ex error is related to the new SDK as it hasn't pop up yet again. I will confirm that in a few minutes. Should be communicate that to the UWP team?

[2017-03-20 21:07] tannergooding commented on #10298
That would probably be the best route to take, as I don't think there is anything we can do here.

[2017-03-20 21:10] sdmaclea commented on #10316
There is something wrong with my CI system this is not an issue with the tip.

[2017-03-20 21:10] #10316 closed

[2017-03-20 21:24] ViktorHofer commented on #10298
Escalated to the responsible product team and cc you.

[2017-03-20 21:26] RussKeldorph commented on #5082
@sbomer Is this still on your radar?

@russellhadley

[2017-03-20 21:27] ViktorHofer commented on #10298
Now native compilation seemed to work but failed afterwards. @tannergooding can you take on more look into it? Error is:

[code]

Zip: [CoreCLR_Windows_NT__x64__Debug.zip](https://github.com/dotnet/coreclr/files/856422/CoreCLR_Windows_NT__x64__Debug.zip)

[2017-03-20 21:28] RussKeldorph commented on #10031
@russellhadley @AndyAyersMS Can we get this assigned to someone or moved out of 2.0?

[2017-03-20 21:32] suqram commented on #10279
Got the same issue (also on Sierrs 10.12.4 beta)

[2017-03-20 21:36] tannergooding commented on #10298
That is the issue I linked above: https://github.com/dotnet/coreclr/issues/10056

Passing in `/p:CSharpCoreTargetsPath=Roslyn\Microsoft.CSharp.Core.targets` should work (so `.\Build.cmd -- /p:CSharpCoreTargetsPath=Roslyn\Microsoft.CSharp.Core.targets`)

[2017-03-20 21:48] AndyAyersMS commented on #10311
I know roughly what is going on but not quite sure what the best fix is. If we try and devirtualize at a generic interface call we need to pass the owner type context. However sometimes that context refers to a specific instantation when the base interface type refers to the canonical one, and this I believe causes the interface lookup to fail.

For instance in `System.Xml.XmlSerializer.Tests` whi

[2017-03-20 21:54] tarekgh opened #10329 "Load ICU on demand on MAC"
This is needed to have the globalization invariant feature work on MAC

[2017-03-20 22:10] AndyAyersMS commented on #10311
Ok, have a local repro....

[2017-03-20 22:24] AndyAyersMS commented on #10282
Right now we can't do much with either `Action` or `Func`; delegate creation is opaque to the jit. But it is on my list of things to look into.

[2017-03-20 22:31] russellhadley commented on #10031
Assigning you @AndyAyersMS.  You can triage it further.

[2017-03-20 22:54] BruceForstall commented on #10133
@parjong I don't know about SpanBench, but it's easy to see looking at the others that they all depend on existing struct layout rules, so they would need to be altered (dual versioned, or `#ifdef'ed`) or disabled for Linux/x86. My guess is you'll find more such failures in the dotnet/corefx test run.

[2017-03-20 23:09] BruceForstall commented on #10059
@parjong We can compute the exact amount of nested alignment required. I'll send an update to #10266 that does that.

[2017-03-20 23:19] seanshpark opened #10333 "[x86/Linux] Call with an struct argument having long member"
While working with `FEATURE_FIXED_OUT_ARGS`, #10034, I'm now with this problem.
This sample program shows the issue.
[code]
Calling `MyStruct.Zero` which is a structure object as a parameter in `DoIt("a", MyStruct.Zero);` fails.
But sending through a variable is OK. Current implementation doesn't seem to handle this case.
[code]

Failing point is at [src/jit/lower.cpp#L968](https://github.com/dotn

[2017-03-20 23:20] #10324 closed

[2017-03-20 23:30] parjong commented on #10133
@BruceForstall As you mentioned, all the tests except SpanBench seems to depend on struct layout rules. It seems that ``SpanBench`` comes from another issue (may be related with recent devirt changes?).

[2017-03-20 23:34] seanshpark commented on #10333
Some JIT dumps
[code]

[2017-03-20 23:59] noahfalk opened #10334 "Support Windows Minidump collection"
Today if you try to collect a mini or triage dump on Windows none of the information relevant for debugging a stack trace through jitted code is collected. This renders Windows Error Reporting largely useless, as well as causing problems for other diagnostic scenarios that would like to use minidumps.

The root cause of the problem is .Net Core doesn't have access to the same extensibility mechani

[2017-03-21 00:16] seanshpark commented on #10333
CC @YongseopKim

[2017-03-21 00:28] 303248153 commented on #10305
Thank you again for your speedy reply!
Now I understand, update demotion_low is just reflect the truth that compact demote some pinned objects.

[2017-03-21 00:28] #10305 closed

[2017-03-21 00:36] janvorli commented on #10012
@BruceForstall I was thinking about it a bit and I got an idea that would get us the benefit of both worlds - FEATURE_FIXED_OUT_ARGS that ensures that the caller SP is the same for all callees in a method and using push for storing arguments. If we added size of stack arguments to esp and then pushed the arguments, we would get that. The runtime cost would be just the added instruction to to augme

[2017-03-21 00:57] BruceForstall commented on #10012
We would also need to sub esp after the call to restore the fixed outgoing arg size space, since in the current x86 convention non-varargs functions are callee-pop.

Is the requirement (or desire) to have all callees of a method have the same caller-SP due to the WIN64EXCEPTIONS EH code that we're using? Since all current targets that use that have fixed outgoing args ABIs?

[2017-03-21 01:00] natemcmaster opened #10337 "macos: libcoreclr does not load with error "symbol not found: _clock_gettime" on 10.10/11"
libcoreclr.dylib fails to load with the following error:

[code]

**Repro**
git clone https://github.com/aspnet/Options.git
dotnet restore
dotnet test test/Microsoft.Extensions.options.Test/Microsoft.Extensions.Options.Test.csproj

FYI you can also repro by executing `./build.sh` with no args. At the time we hit this error, the script was pulling .NET Core CLI 2.0.0-preview1-005418 and Microsoft.N

[2017-03-21 01:06] parjong commented on #10012
It seems that it is non-trivial to implement correct unwinder without FEATURE_FIXED_OUT_ARGS. Is that related with this?

[2017-03-21 01:12] parjong opened #10338 "[x86/Linux] JIT.Methodical.tailcall.Desktop._il_relthread-race test failure"
``JIT.Methodical.tailcall.Desktop._il_relthread-race`` test shows random failure:
[code]

[2017-03-21 01:53] seanshpark commented on #10333
Not sure but turned on `hasStackArgCopy` in morph.cpp so that we use a copy of structure in local variable:
https://github.com/dotnet/coreclr/pull/10034/commits/9f4dac686b89b920f35fedeb5d2e09981b63b614

[2017-03-21 02:59] mazong1123 commented on #8891
So the reason that we cannot get rid of the Windows build for Linux test is MSBuild was not working on .NET core. I may misunderstanding something but since we can build the source code of coreclr on Linux, we should be able to build the tests on Linux in the same way.

I understand some projects depend on CodeTaskFactory which is not supported by MSBuild on .NET Core. But how about rewrite these

[2017-03-21 03:38] mani-sn commented on #10297
This is not a bug. Drive letter is any valid DOS device name and not necessarily a single letter.

Please refer the below two URL(s).

https://msdn.microsoft.com/en-us/library/windows/desktop/aa363908(v=vs.85).aspx

https://msdn.microsoft.com/en-us/library/windows/hardware/ff554302(v=vs.85).aspx

AA:, AB: AC: are valid driver letters.

FYI, Windows supports more than 26 drives. What would be the d

[2017-03-21 04:16] gkhanna79 commented on #10337
Our CI and official build system has moved to OSX 10.12 and thus, you will need to move to 10.12 as well.

CC @Petermarcu

[2017-03-21 04:18] gkhanna79 commented on #10056
@chcosta Is there an ETA for this?

[2017-03-21 04:22] danmosemsft commented on #10297
@mani-sn I don't see mention of multi-character drive letters at the links above. @JeremyKuhne are you familiar with this?

[2017-03-21 04:23] gkhanna79 commented on #10285
You need to use _dotnet_ binary and do `dotnet <path to helloworld.dll>` and not usecorerun. The former is the way to run .NET Core applications (which is what your application above is).

[2017-03-21 04:24] natemcmaster commented on #10337
So, OSX 10.11 support is being dropped in .NET Core 2.0?

Regardless, @BrennanConroy looks like our osx agents need an update. Just checked [the docs](https://github.com/dotnet/core/blob/master/roadmap.md) and it looks like osx 10.10 was never officially supported by the runtime. The fact that it worked up until now was dumb luck.

[2017-03-21 04:25] gkhanna79 commented on #10337
Yes, that is the current POR. I would suggest you have the machines updated across the board.

[2017-03-21 04:26] #10338 closed

[2017-03-21 04:26] BrennanConroy commented on #10337
We have https://github.com/aspnet/Coherence-Signed/issues/317 looks like we should actually do it now

[2017-03-21 04:28] natemcmaster commented on #10337
Ok. @gkhanna79 feel free to close unless you want to use this track follow up. We'll update aspnet build to a newer OS.

[2017-03-21 04:36] #10133 closed

[2017-03-21 04:41] #10337 closed

[2017-03-21 04:54] gkhanna79 commented on #10288
CC @danmosemsft

[2017-03-21 04:54] gkhanna79 commented on #10287
CC @danmosemsft

[2017-03-21 05:34] mani-sn commented on #10297
DefineDosDevice() function still supports it but CreateFile and FindFirstFile no longer supports it. It seems that AA, AB and so on Windows 95 world and not Windows NT world.

[2017-03-21 06:05] parjong commented on #10131
This assert failure happens even for x64/Linux.

[2017-03-21 06:50] lemmaa opened #10344 "Locals.sh: line 104: [: -ne: unary operator expected"
Unit test script give an error message `[: -ne: unary operator expected`.

[code]
It's caused by typo in script, setting exit code to variable `$_ERRORLEVEL` and use `$ERRORLEVEL` in next condition statement.
[code]

[2017-03-21 06:51] hseok-oh commented on #9553
@MichaelSimons To avoid risk that you commented, I prefer option 3: create our own i386 ubuntu image. As you say, description in https://hub.docker.com/r/ioft/i386-ubuntu_core/ offer how to generate core image for x86, and https://hub.docker.com/r/ioft/i386-ubuntu/builds/b65pltnr7hyrsuhktrom2vr/ shows dockerfile to generate final image.

[2017-03-21 07:07] hqueue opened #10347 "[Ryujit/ARM32][ReadyToRun] Assertion when invoking method from NI file"
When running NI file which is generated by ReadyToRun using Ryujit/ARM32, assertion fails when invoking method through ZapIndirectHelperThunk.

## Example
[code]

[code]

## Analysis
Main method
[code]

From above ` blx     r3` , code jump and link to following ZapIndirectHelperThunk which accept `r12` as a paramenter.

[code]

## Expected code
We think following code is right.
[code]

(This is re

[2017-03-21 07:13] hqueue commented on #10347
/cc: @sjsinju @hseok-oh

[2017-03-21 07:46] hqueue commented on #9553
@MichaelSimons @gkhanna79 I expect all of us may choose option 1 and get an official image if avaialeble. Unless Ubuntu provide an official i386 image soon, option 3 is the only feasiable way we can choose right now and we may contribute it to Docker community later. But  it seems that an official Linux image is usually maintained by official Linux distributors though.

[2017-03-21 10:21] ViktorHofer commented on #10297
@mani-sn If multi drive letters are supported on Windows NT, then we would need to rewrite a lot of code inside the System.IO.Path class in the coreclr.

[2017-03-21 12:22] janvorli commented on #8321
@kouvel

That's true, but the doc says it is only if the `dwMilliseconds` is less than the resolution of the system clock. I actually think it meant to say that it may wait for a shorter time if the wait time is not a multiple of the clock resolution. So maybe instead of disabling the tests, we could use clock_getres to get the resolution of the clock we use for waits and only fail the test if the

[2017-03-21 13:37] mklinke commented on #7103
I can confirm this also for VS2017 with netcoreapp1.1, sdk 1.0.0.

[2017-03-21 14:48] sbomer commented on #5082
It hasn't been, but I'll take another look this week. Thanks!

[2017-03-21 15:30] russellhadley commented on #8891
@rartemev are you in flight with this work?  @mazong1123 I think there may be some effort ongoing on this already.  Let's make sure there isn't duplicated effort. :)

[2017-03-21 15:33] AndyAyersMS commented on #10131
Sorry, just seeing this now. Let me take a look.

[2017-03-21 15:42] meherkasam commented on #10285
The goal is to test my coreclr build locally. I cloned the coreclr repository, and followed all the instructions to do a build on a Mac. I then followed the instructions listed here to test my build: https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/UsingCoreRun.md

The instructions listed here are, among other things:

And execute:
`corerun HelloWorld.dll`

[2017-03-21 15:49] AndyAyersMS commented on #10131
Thanks for spotting this. I fixed the project file settings for all the jit tests but hadn't ventured out into other parts of the test tree.

[2017-03-21 15:58] chcosta commented on #10056
Later this week. It is still near the top of my list

[2017-03-21 16:45] janvorli commented on #10012
@BruceForstall it is not a requirement, but there were couple of places where we had or still will have to do some fixups due to the fact that the caller SP is variable. It seems that with FEATURE_FIXED_OUT_ARGS, things would get cleaner.
Here is a list of several related things, I may have missed some.
* Managed and native unwinding doesn't match w.r.t. the unwound esp. Native (libunwind) unwinde

[2017-03-21 17:16] ctrl-brk opened #10349 "Setting ASPNETCORE_ENVIRONMENT to the value containg '.' (dot char) gives "Invalid environment setting" error"
When hosted by IIS, at
[code]
[code]

If I remove the dot (and rename settings file accordingly) everything works just fine.

[2017-03-21 17:31] mikem8361 commented on #10279
This will be fixed in the next 1.0 and 1.1 service releases and has been fixed in the master branch.

[2017-03-21 17:37] #7060 closed

[2017-03-21 18:08] AndyAyersMS commented on #10311
I believe all these failures are related to devirtualization while inlining, so in release builds, this will result in an inlining failure and not bad code.

Not sure it is feasible to enrich types, so will look into mapping the context into a canonical type. This may prevent devirtualization in some variance cases since we can't resolve variance via __Canon.

[2017-03-21 18:28] gkhanna79 opened #10351 "Move CoreCLR OSX packages to 10.12"
10.12 is the minimum platform supported for 2.0 for OSX. Corresponding CoreFX issue is https://github.com/dotnet/corefx/issues/17337

CC @weshaggard @ericstj @wtgodbe @chcosta

[2017-03-21 18:45] JosephTremoulet commented on #10049
Seeing as how we don't do much optimization on structs that we don't promote, I think the task here should really be to enable promotion of implicit-by-ref struct parameters (which conceptually we could do by copying the parameter to a local struct on method entry, rewriting all uses of the parameter to be uses of the local, and promoting the local).

[2017-03-21 18:48] danmosemsft commented on #8321
@kouvel maybe this can move out of 2.0 now, if you want to leave it open.

[2017-03-21 18:54] Maoni0 commented on #10207
FYI - this was checked into 1.1.0: https://github.com/dotnet/coreclr/pull/10277

[2017-03-21 19:12] JosephTremoulet commented on #10049
Turns out we make struct promotion decisions before we do address-taken analysis; a promoted struct that's address-taken just has its fields laid out together on the frame and the codegen basically looks like it wasn't promoted.  So inserting a copy at function entry would just add a useless mem-to-mem copy in those cases.

[2017-03-21 19:25] gkhanna79 opened #10353 "Flip OSX SOS and TestBuild to 10.12 when CoreFX for 10.12 is published"
See https://github.com/dotnet/coreclr/issues/10351

[2017-03-21 19:52] janvorli commented on #10033
@ayuckhulk in fact, I would prefer the opposite, using throwing new and then wrap the entry point functions in try / catch. That would remove some code churn caused by checking for nullptr and make the code easier to read.
I think that the only entry points are NotifyGdb::MethodCompiled and NotifyGdb::MethodDropped, right?
Maybe some of the code will need to be hardened against the oom exceptions

[2017-03-21 20:08] #10131 closed

[2017-03-21 20:09] manixrock commented on #10282
Often speed-focused developers are forced to choose between proper code separation and code performance.

This could be solved by a ForceInlining option on an Action or Func, I wonder how hard it would be to implement.

[2017-03-21 20:57] JeremyKuhne commented on #10297
@mani-sn You can create dos device aliases of any name, but they can only be referenced as device paths (`\\.\` or `\\?\`). Device paths will always come back as rooted (as they start with a backslash) so we should be ok.

Only A-Z are recognized by normalization and converted into the "native" form of `\\?\A:\`. It is extremely unlikely that Windows will ever support logical drives outside of A-Z

[2017-03-21 20:59] JosephTremoulet commented on #10049
Looks like the address-taken analysis, implicit-by-ref marking, and struct promotion should be reorderable, so I'll try swapping them around and find out if I'm right about that.

[2017-03-21 21:33] DrewScoggins opened #10356 "New Xunit Performance harness increases runtime"
Moving to the new xunit.performance.api run harness increases the run times for tests by as much as 100%.  We believe this is do to additional ETW counters and the time required to parse them after, but we will need to investigate.

[2017-03-21 21:34] dcwuser commented on #10276
I have opened #17353 to suggest implementing SinPi and CosPi. It contains a sample implementation that shows the implementation to be quite straightforward.

[2017-03-21 21:39] tannergooding commented on #10276
👍. I'll close this in favor of your issue.

[2017-03-21 21:39] #10276 closed

[2017-03-21 22:27] #10122 closed

[2017-03-21 22:31] AtsushiKan opened #10358 "Opening Corelib.csproj in VS triggers two warning dialogs."
"A file with the name 'SR.cs' already exists. Replace it?"

This started happening after I fetched the corelib-resx change.

This suggests the SR.cs generation step is incorrectly running during the design-time build.

[2017-03-21 22:31] AtsushiKan commented on #10358
cc @alexperovich

[2017-03-21 23:04] sdmaclea opened #10359 "[Arm64/Unix] Crossgen System.Private.DataContractSerialization.dll hits unreached()"
Crossgen System.Private.DataContractSerialization.dll hits unreached().

Unreached is in frame 10.

Incoming type is TYP_REF (leads to in frame 11 line 1330).

The error seems to be that we were supposed to use the size_t specialization of the ValueNumStore::CoerceTypRefToT template.  But frame 14 is instantiating template with ssize_t which apparently is not a match.

[code]

[2017-03-21 23:04] parjong opened #10360 "Cannot build S.P.CoreLib.dll"
Build gets stuck at the following step:
[code]

[2017-03-21 23:07] parjong commented on #10360
#10268 seems to cause this. We could build S.P.CoreLib.dll after reverting #10268.

[2017-03-21 23:09] parjong commented on #10360
@jkotas Can we revert #10268? @hseok-oh reports that ARM build also gets stuck with the same symptom.

\CC @lemmaa @seanshpark @hseok-oh @hqueue

[2017-03-21 23:15] sdmaclea commented on #10359
@erozenfeld @dotnet/jit-contrib Is there a reason we coerce the TYP_REF to ssize_t instead of size_t?

[2017-03-21 23:17] sdmaclea commented on #10359
Code in Compiler::optCreateAssertion was added with 47eec64 Eugene's Null check folding patch

[2017-03-21 23:23] jkotas commented on #10360
@alexperovich You have merged your change with CI failing on arm in the GenerateResource task that you have added:

[code]

I am going to queue a revert unless you can get this fixed quickly.

[2017-03-21 23:23] sdmaclea opened #10361 "[Arm64/Unix] Crossgen NuGet.Protocol.Core.v3.dll segfaults"
Crossgen NuGet.Protocol.Core.v3.dll segfaults

Issue seems to be that in frame 4 MethodTable::GetMethodDescForSlotAddress(pTgt) is called with a null pTgt.

[code]

[2017-03-21 23:24] sdmaclea commented on #10361
@AndyAyersMS Is this related to the recent interface changes

[2017-03-21 23:27] sdmaclea opened #10362 "[Arm64/Unix] Crossgen System.Memory.dll asserts"
[code]

[2017-03-21 23:28] sdmaclea commented on #10359
Neglected to include assertion message above
[code]

[2017-03-21 23:32] jkotas commented on #10360
@parjong Sorry about the broken build... .

[2017-03-21 23:38] parjong commented on #10360
Many thanks for your quick response.

[2017-03-21 23:41] alexperovich commented on #10360
@jkotas Is the build actually running on ARM? This is the GenerateResource task included with msbuild.

[2017-03-21 23:42] AndyAyersMS commented on #10361
Seems likely.

Might be another instance of #10131, which I'm testing a fix for now.

[2017-03-21 23:44] parjong commented on #10360
@alexperovich Build is running on x64/Linux, but uses cross build.

[2017-03-21 23:46] AndyAyersMS commented on #10361
Ooops, meant #10311.

[2017-03-22 00:45] #10360 closed

[2017-03-22 01:38] sdmaclea opened #10368 "[Arm64/Unix] CoreMangLib.cti.system.string.StringFormat[12] fails"
Log from CoreMangLib.cti.system.string.StringFormat1.StringFormat1
[code]

CoreMangLib.cti.system.string.StringFormat2 has similar failure

[2017-03-22 01:43] sdmaclea opened #10369 "[Arm64/Unix] Regressions.coreclr.GitHub_7685 fails"
Log of Regressions.coreclr.GitHub_7685.Test7685.Test7685
[code]

This is related to #7685

[2017-03-22 01:51] sdmaclea commented on #10369
#7685 was fixed in #7716

@janvorli I haven't begun to look at this test, but I see you authored it.  If you see something obvious, let me know.

[2017-03-22 01:59] sdmaclea commented on #10344
This was fixed by #10254

[2017-03-22 02:02] sdmaclea commented on #10265
Also affects gcStress=0xC

[2017-03-22 02:03] sdmaclea commented on #10368
This is the same as #10115

[2017-03-22 02:03] #10368 closed

[2017-03-22 02:05] sdmaclea commented on #10369
This is the same as #10107

[2017-03-22 02:05] #10369 closed

[2017-03-22 02:06] janvorli commented on #10369
@sdmaclea this test verifies that structs with floats are passed correctly via reflection. I guess there is a bug in the code that copies floating point struct members into the TransitionBlock similar to the one I've fixed for amd64 in the past.
Now that reminds me that @jashook is fixing some stuff in there in #10257.

[2017-03-22 02:07] sdmaclea commented on #10108
@jashook I did not see this failure in todays pri1 [Arm64/Unix] run

[2017-03-22 03:29] parjong commented on #10059
Close as #10266 resolves this.

[2017-03-22 03:29] #10059 closed

[2017-03-22 03:30] parjong commented on #10001
Close as #10266 resolves this.

[2017-03-22 03:30] #10001 closed

[2017-03-22 03:35] lemmaa commented on #10344
@sdmaclea Thanks!

[2017-03-22 03:35] #10344 closed

[2017-03-22 03:45] seanshpark opened #10373 "[x86/Linux] LSRA gtLsraInfo.srcCount value for long type"
While working with `FEATURE_FIXED_OUT_ARGS`, #10034, next problem I encounted is an assert on `src/jit/lsra.cpp Line: 3512`,
`Assert failure(PID 13202 [0x00003392], Thread: 13202 [0x3392]): Assertion failed '((consume == 0) && (produce == 0)) || (ComputeAvailableSrcCount(tree) == consume)' in 'ConsoleApplication.Program:DoTest()' (IL size 24)`

This happens when call has a long type argment and it

[2017-03-22 03:46] seanshpark commented on #10373
CC @YongseopKim

[2017-03-22 04:27] danmosemsft commented on #10349
@ctrl-brk I htink this should go to ASP.NEt, probably https://github.com/aspnet/DependencyInjection. Can you please close and move?

[2017-03-22 04:49] ctrl-brk commented on #10349
Ok. Done.
Here it is now: https://github.com/aspnet/DependencyInjection/issues/508#issue-215951914

[2017-03-22 04:49] #10349 closed

[2017-03-22 05:04] gkhanna79 commented on #10285
Did you set the paths as instructed on that link?

[2017-03-22 05:41] seanshpark commented on #10373
This seesm to resolve the problem.
[code]

[2017-03-22 06:09] #10320 closed

[2017-03-22 06:16] meherkasam commented on #10285
Yes, as I have already mentioned in my original post, I have set all the paths as instructed. This is what my ~/.bash_profile looks like:

export PATH="$PATH:/Users/meherk/Desktop/code/coreclr/bin/Product/OSX.x64.Debug"
export CORE_ROOT="/Users/meherk/Desktop/code/coreclr/bin/Product/OSX.x64.Debug"
export CORE_LIBRARIES="/usr/local/share/dotnet/shared/Microsoft.NETCore.App/1.1.1"

[2017-03-22 08:44] parjong opened #10377 "[x86/Linux] Unaligned stack frame while running JIT.SIMD.Vector3Interop_r"
I found that ``JIT.SIMD.Vector3Interop_r`` creates unaligned stack while working on https://github.com/parjong/coreclr/commit/66ce224756a896135e311e770f4a9e9e1c14fe02:
[code]

[2017-03-22 09:02] parjong commented on #10377
I found that``IL_STUB_ReversePInvoke``  invokes the following code (at ``0xf634c1d8``) when it tries to invoke the actual target:
[code]
It seems that stack alignment is broken here (this code rearranges stack elements as I understand).

@jkotas @janvorli Could you let me know about this rearranging code?

[2017-03-22 09:26] ragmani commented on #10139
after #10378
[code]

[2017-03-22 09:38] parjong commented on #10377
Is it ``ThisPtrRetBufPrecode``?

[2017-03-22 09:47] raffaeler opened #10379 "Fusion Log Viewer (fuslogvw)"
Where can I find the fuslogvw.exe for .net core?
Is it shipped with netcore sdk, runtime, or whatelse?

Thanks!

[2017-03-22 09:55] ruben-ayrapetyan opened #10380 "[ Question ] Reduce memory consumption of CoreCLR"
Hello.

I am wondering about possible ways to reduce memory consumption of CoreCLR.
Do you have any ideas about how it is possible to reduce the working set size?
Please, share any related ideas, and also general opinions about this direction of development.

By the way, is there any defined set of rules for choosing between higher performance and lower memory consumption?
Is it an accepted practi

[2017-03-22 10:00] davidfowl commented on #10380
Don't allocate 😄

[2017-03-22 10:13] seanshpark commented on #10380
Hi Ruben, do you have any profiling results?

[2017-03-22 10:15] ruben-ayrapetyan opened #10382 "[ Security ] Fixed-memory layout and related security issues"
Hello.

Currently, AOT-compiled assembly images are preferably mapped to bases, which are fixed for each assembly. This seems to be the case for all platforms, except the x64:

[code]

So, it is possible that, on some platforms, memory placement of AOT-compiled assemblies will be the same in several executions of a particular application.

This is similar to behaviour of kernel's memory subsystem,

[2017-03-22 10:57] ragmani commented on #10139
New segmantation fault after #10378 and #10381
[code]

[2017-03-22 11:02] ruben-ayrapetyan commented on #10380
Hi SaeHie,

Yes, we have profiled several Xamarin GUI applications on Tizen Mobile.

Typical profile of CoreCLR's memory on GUI applications is the following:
    Mapped assembly images - 4.2 megabytes (50%)
    JIT-compiler memory - 1.7 megabytes (20%)
    Execution engine - about 1 megabyte (11%)
    Code heap - about 1 megabyte (11%)
    Type information - about 0.5 megabyte (6%)
    Objects he

[2017-03-22 11:06] egavrin commented on #10380
Compiler itself of generated code?

[2017-03-22 11:07] ruben-ayrapetyan commented on #10380
Yes, the memory for compilation itself, without size of code (which is accounted in code heap).

[2017-03-22 11:13] ragmani commented on #10139
[code]
The esp's value must be 0x0xfffc5e4 after calling DynamicHelperWorker. But actual value is  0x0xfffc5e6,
Because the DynamicHelperWorker parameter's size is 0x14 but pushed parameter's size on stack is 0x12.
It seems that "pushw" should be changed to "push".

[2017-03-22 14:21] lemmaa commented on #10382
cc: @jkotas @janvorli @cmckinsey Please take a look.

[2017-03-22 14:28] OnurGumus opened #10385 "[Question] Why not use unsafe code in order to eliminate bounds checking in IndexOf methods?"
While I was checking https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Collections/Generic/EqualityComparer.cs

I noticed that those IndexOf methods don't use any unsafe methods in order to prevent bounds checking of  the arrays. While unsafe code is not recommended in general, though coreclr libraries are somewhat "trusted". I just wanted to ask why unsafe code is not used in

[2017-03-22 15:12] jkotas commented on #10377
This looks like shuffle thunk - produced by EmitShuffleThunk.

[2017-03-22 15:23] tannergooding opened #10386 "Do not use the INC or DEC intrusctions in x86 or x64 CodeGen"
We are currently emitting the `INC` and `DEC` instructions for x86 and x64 CodeGen. For example, the following loop:

[code]

generates the following assembly:
[code]

However, the `Intel 64 and IA-32 Architectures Optimization Reference Manual` recommends the following:
![image](https://cloud.githubusercontent.com/assets/10487869/24205478/bac84724-0ed8-11e7-87fb-e27948a2a2dc.png)

[2017-03-22 15:29] sdmaclea commented on #9532
@jashook This appears complete in absence of comment otherwise, closing

[2017-03-22 15:29] #9532 closed

[2017-03-22 15:36] sdmaclea opened #10388 "[Arm64/Unix] Crossgen of Microsoft.CodeAnalysis.CSharp.dll intermittent seg faults"
Crossgen of Microsoft.CodeAnalysis.CSharp.dll intermittent seg faults

Reproduces when many crossgen jobs in parallel.

[code]

Was not able to reproduce running single crossgen instance in debugger

[2017-03-22 15:39] jkotas commented on #10377
This is one of those cases that is easier with caller-pop cdecl-like convention. It is harder to do with callee-pop stdcall-like calling convention because of it needs a new frame on stack.

[2017-03-22 15:42] tannergooding commented on #10298
It looks like the solution is to use the Windows 10 SDK 15052 or higher (if using one of the preview SDK builds). @ViktorHofer is going to do a final validation on this and then we should be able to close the bug.

[2017-03-22 15:45] jkotas commented on #10382
We should make CoreCLR work well with ASLR as much as possible and not ever map code at fixed address.

https://github.com/dotnet/coreclr/issues/8480 is related to this.

[2017-03-22 15:48] karelz commented on #5558
The issue seems to be blocking #16636 (which is blocking .NET Core adoption for a customer who reached to us via CSS).
@erozenfeld @russellhadley are you on track to look into the problem for 2.0? Do you have ETA?
Note that @zhenlan's team will need time to verify the end-to-end scenario after the fix to make sure there are not more things hiding. Thanks!

[2017-03-22 15:54] ww898 commented on #6427
Tested: v1.1.1 works

[2017-03-22 15:55] #10351 closed

[2017-03-22 15:58] mikedn commented on #10386
So? Last time I checked Intel's own compiler didn't follow this particular rule.

In general, INC/DEC are more likely to cause problems if the flags are used after such an instruction. This isn't usually the case in JIT generated code.

[2017-03-22 16:02] andre-artus opened #10389 "Migrating a VS 2015 solution to VS 2017 does not stick"
I have migrated a solution with .NET Core projects from 2015 to 2017, seems to work. Can build, run, publish, all the good things.

But, when I close the solution and try to reopen it I get a "needs migration" message on the projects and the projects do not load. When this happened at first I thought maybe something went wrong so I reverted to the old state and did everything again. I'm still havi

[2017-03-22 16:08] tannergooding commented on #10386
@mikedn, regardless of whether their own compiler does it. This is overall a fairly trivial fix that is listed as having a medium impact (essentially it is removing a check in the code gen that says use inc if the addend is a constant of 1).

[2017-03-22 16:08] tannergooding commented on #10386
Given that the fix is trivial to make, it should be fairly simple to make it and see if it has an visible perf impact.

[2017-03-22 16:12] mikedn commented on #10386
Yes, it is trivial, I looked at this many months ago. The problem is that `ADD reg, 1` is one byte larger than `INC reg` so it's not so obvious that this change is beneficial.

[2017-03-22 16:19] gkhanna79 commented on #10285
Per https://github.com/dotnet/coreclr/blob/d2d4a792e306097a7c7e8afd954eeb50f2d2f23e/src/coreclr/hosts/unixcoreruncommon/coreruncommon.cpp#L70, looks like OSX is unable to get the path to corerun.

Does it work if you invoke corerun with the absolute path?

[2017-03-22 16:20] weshaggard commented on #10389
Issue moved to [dotnet/sdk #1030](https://github.com/dotnet/sdk/issues/1030) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-22 16:20] #10389 closed

[2017-03-22 16:22] tarekgh opened #10390 "Perf: double.ToString(CultureInfo) 7x slower on Linux"
@ianhays commented on [Tue Oct 13 2015](https://github.com/dotnet/corefx/issues/3815)

| test name | date ran | Windows time | Linux time | linux/windows |
| --- | --- | --- | --- | --- |
| System.Globalization.Tests.Perf_NumberCultureInfo.ToString(culturestring: "fr") | 10/13/2015 | 3.780472576 | 29.0264 | 7.677981896 |
| System.Globalization.Tests.Perf_NumberCultureInfo.ToString(culturestring: "

[2017-03-22 16:24] tarekgh commented on #10390
@tannergooding I assigned it to you as you already looking at similar issue.

[2017-03-22 16:36] tannergooding commented on #10386
Well, we have a plethora of perf tests now that would make this much easier to validate 😄

[2017-03-22 17:04] mikedn commented on #10386
Well, have fun :smile:. Note that this might be more effective after/together with #7566

[2017-03-22 17:23] #10311 closed

[2017-03-22 17:25] #10265 closed

[2017-03-22 17:26] karelz commented on #10390
Just to reiterate importance:
The issue seems to be blocking dotnet/corefx#16636 (which is blocking .NET Core adoption for a customer who reached to us via CSS).

[2017-03-22 17:28] AndyAyersMS commented on #10361
Let me know if you can still repro this now that a fix for #10311 is in (via #10371)

[2017-03-22 17:32] swgillespie commented on #10141
Sure, feel free to do that too!

[2017-03-22 17:33] swgillespie commented on #6809
Fixed by https://github.com/dotnet/coreclr/pull/10096, closing. Thanks for the report!

[2017-03-22 17:33] #6809 closed

[2017-03-22 17:53] karelz commented on #10390
cc @mellinoe to help push it forward

[2017-03-22 17:56] tannergooding commented on #10390
We should likely be special casing a few numbers (0, NaN, -Inf, +Inf) and then following the algorithm described here for everything else [Printing Floating-Point Numbers Quickly and Accurately](http://www.cs.indiana.edu/~dyb/pubs/FP-Printing-PLDI96.pdf).

cc @dcwuser, as he generally has helpful feedback in this area as well.

[2017-03-22 18:24] ruben-ayrapetyan commented on #10382
@jkotas, thank you for your answer.

Currently, the
[code]
doesn't map code to fixed address (`MAP_FIXED` is not set). However, it suggests the `preferredBase` address to kernel, so the address (which is fixed for particular assemblies) will most probably be used, if the mapping wouldn't overlap other mappings.

This leads to situation, which doesn't prevent ASLR, but creates address space, part o

[2017-03-22 18:29] jkotas commented on #10380
This memory should be transient. It is not needed once the JIT is done JITing. The JIT keeps some of it around to avoid asking OS for it again and again. Is the 1.7MB number the high watermark, or do you see it kept around permanently?

[2017-03-22 18:44] jkotas commented on #10380
This is not necessarily the right answer to optimize the fixed footprint that this issue is about. The techniques to avoid allocations (generics, etc.) often make the fixed footprint *worse* than just writing a simple code that allocates a bit of temporary garbage.

Excellent! It is always good to start performance investigation with a measument.

We do have a prior art here: The server GC vs. wor

[2017-03-22 18:51] AtsushiKan opened #10392 "Type.IsSerializable"
In addition to checking for the IsSerializable bit in the attributes, this property is also supposed to return true if the UnderlyingSystemType is an Enum or Delegate. (CoreClr does this now.)

We need to port that behavior over to CoreRt (and hopefully in a way that Type.IsSerializable can migrate to the shared partition.)

[2017-03-22 18:53] AtsushiKan opened #10393 "System.Reflection.IReflectable missing [Guid] attribute."
Problem is, GuidAttribute lives in S.P.Interop.dll. So we'll probably to move it to CoreLib.

After this, IReflectable.cs should be moved to the shared partition.

[2017-03-22 18:54] jkotas commented on #10385
We only use unsafe code where it makes difference that matters. For example, you can see that it is used in ByteEqualityComparer. We do not use it just because of we can.

[2017-03-22 18:56] AtsushiKan commented on #10393
Bah - opened in wrong repo.

[2017-03-22 18:56] #10393 closed

[2017-03-22 18:57] AtsushiKan commented on #10392
Bah - opened in wrong repo. Core-this, Core-that...

[2017-03-22 18:57] #10392 closed

[2017-03-22 18:57] jkotas commented on #10393
Also, I do not see GuidAttribute on IReflectable... .

[2017-03-22 19:02] AtsushiKan commented on #10393
That was a typo in the issue. The affected type is IReflect.

[2017-03-22 19:10] OnurGumus commented on #10385
I understand, though eliminating bounds check by using unsafe code for  IndexOf should also matter according to my logic. A typical bounds check elimination usually  provides perhaps 10% performance gain for methods like List.Contains at the cost of pinning the array.

[2017-03-22 19:17] OnurGumus commented on #10385
In addition to that, one can check  if startIndex =0 && endIndex = array.Length, (which would be at least 90% of all cases statistically ) then you can rewrite the loop as
`for(var i=0;i<array.Length;i++)...`  and get the bounds check elimination for free from the JIT.

[2017-03-22 19:52] sdmaclea commented on #10361
Fixed by #10371

[2017-03-22 19:52] #10361 closed

[2017-03-22 20:47] mikedn commented on #10385
10%? Maybe in worst case scenarios - when T is a value type and `Equals` is inlined. Otherwise it's unlikely that the cost of the bounds check will be that large when a virtual call to `Equals` is involved.

for(var i=0;i<array.Length;i++)... and get the bounds check elimination for free from the JIT.

Some of those loops should be picked up by JIT's loop cloning which is pretty much the same thin

[2017-03-22 20:50] tannergooding commented on #10385
I think this is relevant: https://github.com/dotnet/corefx/issues/17318

[2017-03-22 20:53] sdmaclea opened #10396 ">50% of tests are failing under GCStress=0xF"
#10322 failed to fix all the gcStress issues

@swgillespie @pgavlin

[2017-03-22 20:58] dcwuser commented on #10390
Looking at the _ecvt code (in src/pal/src/cruntime/misctls.cpp), it looks to me like this implementation is fundamentally taking the wrong approach. It's essentially calling into sprintf to do the core of its job, then using string munging to fix up the output. That basically means that we do the required work twice: inside sprintf we parse a format string and do the actual digit extraction (for a

[2017-03-22 20:59] sdmaclea commented on #10396
Ran a random sampling of 100 passing tests with GCStress0xF  55 of 100 are failing.  Using 992d370

Yesterday I had run a full gcStress0xF run with 109 failures in 10797 tests.  This used cd9b5e7  with a revert of #10065

[2017-03-22 21:10] swgillespie commented on #10396
@sdmaclea What sort of failures? Are they the same assertion that was failing earlier?

[2017-03-22 21:15] sdmaclea commented on #10396
@swgillespie When I look at the failures they look different.  It looks like the random samle was not random at all but picked known failing tests.

[2017-03-22 21:15] #10396 closed

[2017-03-22 21:24] RussKeldorph commented on #10386
@russellhadley @fiigii @litian2025 Do you want to weigh in on this?  My impression is that "avoid inc/dec" is outdated advice, but I'm not sure.

@dotnet/jit-contrib

[2017-03-22 21:32] tannergooding commented on #10386
@RussKeldorph, this is coming from the June 2016 copy of the SOG.

It might be important to note that this case was improved with the Sandy Bridge architecture and newer, but they still recommend avoiding the instructions where possible.

![image](https://cloud.githubusercontent.com/assets/10487869/24221626/4c4da03a-0f0c-11e7-9637-bdbc316aff3d.png)

[2017-03-22 21:37] danmosemsft commented on #9528
I haven't looked at this, but if desktop behavior matches we need to take care whether we are breaking folks and if so is it worth it.

[2017-03-22 21:42] jkotas commented on #10390
_ecvt in the PAL is trying to emulate behavior of Windows _ecvt - in not a very efficient way . The right fix should be to delete _ecvt in the PAL and just implement the DoubleToNumber method directly. Note that  NumberToDouble is on that plan already.

[2017-03-22 21:48] sdmaclea commented on #10396
@swgillespie My apologies.  It is working on tip with your patch.

[2017-03-22 21:51] dcwuser commented on #10390
I found a few ecvt implementations via search engine, and they all do what I describe as the "naive, plodding" approach. No calls to sprintf, no string munging. Since this is part of libc, we should able to call directly into the Linux libc implementation.

https://opensource.apple.com/source/Libc/Libc-167/gen.subproj/ppc.subproj/ecvt.c
https://sourcecodebrowser.com/linux86/0.16.17/ecvt_8c.html#aa

[2017-03-22 22:04] swgillespie commented on #10396
Great! Glad to hear it!

[2017-03-22 22:05] AndyAyersMS commented on #9908
Update after #10371. There is a marked decrease in interface success because we cannot safely devirtualize interface calls just with a final (sealed) method -- we need a final or exact class. Explicit interface implementations in C# mark the corresponding methods as final so this was incorrectly firing a lot before the fix.

|           | Success | Fail | Total | Succ % |
| :---      |    ---: | -

[2017-03-22 22:05] jkotas commented on #10393
It should be fine to remove the guid attribute on IReflect. I do not think it is needed in .NET Core. It was done in other places: https://github.com/dotnet/coreclr/commit/3e897075b1ab5afb914671ccca240b5e41116242#diff-6ea37a5b007350ae2cdb9dfef6b80d61L25

[2017-03-22 22:05] tarekgh commented on #10390
I recall ecvt was not available on MAC but I am not sure. we need to validate it exists

[2017-03-22 22:06] jkotas commented on #10393
(However, moving GuidAttribute to CoreLib sounds reasonable too.)

[2017-03-22 22:28] seanshpark commented on #10380
Thanks for sharing the results!

[2017-03-22 22:29] tarekgh commented on #10390
now I recall, we cannot use ecvt/fcvt because it is not thread safe as it uses a fixed buffer to return the results for all calls. the safe one ecvt_r is not available on MAC.

so I think what @jkotas suggested is the way to go.

[2017-03-22 22:55] dcwuser commented on #10390
@tarekgh, you appear to be correct. Who writes a method like that in a general-use base library?

Forgive me for being dense, but it's not entirely clear to me what you mean, @jkotas. I looked at the code path underneath Double.Parse, and it looks like it feeds into a series of methods that are fully implemented in managed code, without any extern calls. Do you mean, we should do the same for Doub

[2017-03-22 23:00] tannergooding commented on #10390
@dcwuser, I believe he is referring to this line here: https://github.com/dotnet/coreclr/blob/52a816d3011f4d03b80b5940dc036b40d701f52d/src/classlibnative/bcltype/number.cpp#L152 (Note: the function is implemented in raw asm for x86: https://github.com/dotnet/coreclr/blob/32f0f9721afb584b4a14d69135bea7ddc129f755/src/vm/i386/fptext.asm#L78).

I think the quick-fix is to just modify the PAL implement

[2017-03-22 23:09] tarekgh commented on #10390
what I meant is we implement DoubleToNumber fully independent of the OS. either in managed if there will not be any concern with the perf or in native side if the managed side perf would not be acceptable.
We can use whatever reasonable algorithm suggested in this thread.

[2017-03-22 23:17] mikedn commented on #10385
Not really, that thing doesn't work with loops, at least not with typical ones.

[2017-03-22 23:18] erozenfeld commented on #5558
@karelz The investigation of this benchmark resulted in 4 issues above. Looks like 1 of them is fixed and 3 are still open. It doesn't look like any of them identified codegen issues so the jit team is not investigating this at the moment.

[2017-03-22 23:27] lemmaa commented on #9553
@MichaelSimons @gkhanna79 I suggest option 3 for the first. In parallel we can try option 1 and move to there when they prepared the official images.

[2017-03-22 23:34] jkotas commented on #10382
Yes, I think we should let the OS kernel choose random address for us. It will have some negative performance effect (pages with absolute pointers will need to be written to get the pointers updated).

[2017-03-22 23:37] Maoni0 opened #10403 "Improve StressHeap"
this is related to LocalGC project https://github.com/dotnet/coreclr/pull/10391.

StressHeap should really be on the EE side but currently it uses make_unused_array to make free objects in existing objects hope of making them move. The problem is these objects are likely already in gen2 and unless you do a gen2 GC they are not going to move anyway. The way folks use GCStress does tend to suggest t

[2017-03-22 23:39] BruceForstall commented on #9750
This is no longer an issue.

[2017-03-22 23:39] #9750 closed

[2017-03-22 23:47] meherkasam commented on #10285
Different output this time: /Users/meherk/Desktop/code/coreclr/bin/Product/OSX.x64.Debug/corerun helloworld.dll

Unhandled Exception: System.TypeLoadException: Could not load type 'System.IO.TextWriter' from assembly 'System.IO, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.
   at System.Console.get_Out
   at System.Console.WriteLine(String value)
   at helloworld.Program.Main

[2017-03-22 23:53] karelz commented on #5558
@erozenfeld thanks! Do we need this issue opened?
cc @mellinoe

[2017-03-22 23:55] karelz commented on #5716
It's blocking #16636 which we need to prioritize. Flipping to 2.0.

[2017-03-22 23:55] erozenfeld commented on #5558
This issue was kept open to re-measure the benchmark once the 4 identified issues have been fixed to see if Windows vs. Linux perf is close enough then.

[2017-03-22 23:56] karelz commented on #5717
This blocks dotnet/corefx#16636, flipping to 2.0

[2017-03-23 00:00] tarekgh commented on #5716
why this issue blocking the other issue?

[2017-03-23 00:06] karelz commented on #5716
I didn't realize it's not directly linked: https://github.com/dotnet/coreclr/issues/5558#issuecomment-288569461
cc @mellinoe

[2017-03-23 00:15] tarekgh commented on #5558
@karelz just to get some idea, are we moving all perf issues to v2.0.0? or how we decided which issues really blocking the customer from adapting netcore?

[2017-03-23 00:16] karelz commented on #5558
It's a DTS escalation (details offline) ...

[2017-03-23 00:19] BruceForstall commented on #8418
ildasm generates .il that includes:

[code]
Then, ilasm calls, during `Assembler::EmitSecurityInfo()`:
[code]
which fails (in src\md\compiler\emit.cpp, RegMeta::DefinePermissionSet()) with E_NOTIMPL because FEATURE_METADATA_EMIT_ALL is not defined.

[2017-03-23 00:39] parjong commented on #10377
Thank you for comment. I'll take a look at EmitShffleThunk.

[2017-03-23 00:50] ViktorHofer commented on #10298
Tested on Windows 10 SDK 15052 on a fresh coreclr pull. Works fine now!

[2017-03-23 00:50] #10298 closed

[2017-03-23 00:53] BruceForstall commented on #8418
@jkotas @stephentoub I don't understand what happens during one of the "Update CoreClr, CoreFx to beta-24801-03, beta-24721-02, respectively (master)" events. Did corefx or Roslyn change something (this was back in November/December) that caused assembly permissionset attributes to be emitted to a test compilation (perhaps just one compiled with /unsafe)? It looks like ildasm/ilasm round tripping

[2017-03-23 01:21] AndyAyersMS commented on #10282
At the "call sites" for `Action` and `Func` the jit currently has no idea what method is going to be called. So force inlining doesn't help.

[2017-03-23 01:39] jkotas commented on #8418
The C# compiler emits this attribute if it is in the reference assembly. This attribute was not in the reference assembly back in 1.0 and so it was not emitted by C# compiler. It was added back as part of NS2.0 work and so C# compiler emits it now.

This attribute is still ignore by the .NET Core runtime.

There are potential two ways to fix this:
1. Change the failure to emit the attribute in ila

[2017-03-23 01:52] erozenfeld commented on #10359
We should not be trying to call CoercedConstantValue on a ValueNum of type TYP_REF. Can you share a dump of this method? You can get it by setting COMPlus_NgenDump to System.Runtime.Serialization.Json.DataContractJsonSerializerImpl:InternalWriteObjectContent .

[2017-03-23 02:09] wateret opened #10405 "[x86/Linux] JIT.Regression.CLR-x86-JIT.V1.1-M1-Beta1.b143840 test failure"
The test `JIT.Regression.CLR-x86-JIT.V1.1-M1-Beta1.b143840` fails on x86/Linux.

Backtrace:
[code]

[2017-03-23 02:11] wateret commented on #10405
The TC is writeen in CIL, to summarize what the TC does:

- repeat 10 times : `try { Run a thread with function runtest() } catch {}`
- `runtest()` calls `recurse()`
- `recurse()` calls itself 100 times, and it may throw exceptions
- All exceptions thrown in a thread must be caught in `runtest()`
- Each thread prints `TryCatch Test Passed` (so we will have 10 lines of it)

[2017-03-23 02:26] AndyAyersMS commented on #9908
More detailed breakdown, showing reasons and operations (reasons lower case, operators upper case , each partitions the total above it).

| CallKind | OPCODE / reason | Success |  Fail | Total | Succ % |
| :---     |     ---: |    ---: |  ---: |  ---: |   ---: |
| **Virtual**   |  | **749** | **7206** | **7955** | **9.42 %** |
|  | RET_EXPR | 58 | 619 | 677 | 8.57 % |
|  | CALL | 9 | 906 | 915 | 0

[2017-03-23 04:21] eerhardt commented on #5716
I can fix this. My thought is to use a binary search on the rules, since they are already sorted.

I'll make a fix this week.

[2017-03-23 04:55] gkhanna79 commented on #10285
Looks like you are now able to execute HelloWorld but running into missing assemblies. @weshaggard Where is TextWriter expected to be?

[2017-03-23 05:51] #8221 closed

[2017-03-23 06:31] hqueue commented on #10382
Actually I was exploiting this vulnerability when debugging readytorun for ARM, e.g. setting breakpoints at memory address where native image will be loaded.

@jkotas Is there any relocation mechanism available when loading native image in CoreCLR ? Because I observed that `.text` section of native image is loaded into random address for x64 as describse above, I wonder how relocation is done for

[2017-03-23 07:01] jkotas commented on #10382
The image has reloc section that has list of all places in the image that need to be updated when it does not get loaded at its preferred address.

[2017-03-23 07:35] gkhanna79 commented on #7044
Can you please confirm if this is repro in the latest 1.1.1 .NET Core?

[2017-03-23 11:51] stephentoub commented on #10385
@OnurGumus, if there's a case where you believe it would help, you're welcome to try it out, measure it, and if there's a measurable improvement, submit a PR with the changes and showing the perf tests you used and the results. Then we can discuss the more concrete case, and if it's a real win, merge it to get the benefits into the code.

[2017-03-23 14:36] stephentoub commented on #9806
Reopening to track test fixes

[2017-03-23 14:43] stephentoub commented on #9807
Test fixes in corefx are still needed.  Tests are now disabled against this issue.

[2017-03-23 14:52] ayende commented on #10282
@manixrock  the struct trick will work as well here. You have a struct that implements an interface and you call it with the struct implementing the behavior you want.
At the very least, it will not do a virtual dispatch, and sometimes, it will inline the call directly (especially on 2.0)

[2017-03-23 15:42] lt72 opened #10418 "Basic Linux crash dump support"
- [X] evaluate available solutions for generating crash dumps
- [x] DESIGN: clearly list all cases where crash dump is currently generated
- [x] DESIGN: provide basic design document (.md) for addressing all cases above
- [x] DESIGN: list and address challenges for corner cases such as stack overflow or severe memory corruption
- [x] DESIGN: address possible differences between Linux and MacOS cas

[2017-03-23 15:47] lt72 opened #10419 "Linux symbol acquisition"
- [x] DESIGN: provide high level design for symbol acquisition from //symweb symbol server (.md)
- [x] DESIGN: list main components, their interaction, their extensibility points, and integration strategy for tools (e.g. debuggers, profilers, ...). Clearly list module to be added to distro.
- [x] implement library and basic testing
- [x] integrate in dotnet CLI (see #14794)
- [x] integrate in SOS

[2017-03-23 15:55] sdmaclea opened #10420 "GCStress timeout b425314, fix or mark GCStressIncompatible"
When running GCStress JIT/Regression/CLR-x86-JIT/V2.0-Beta2/b425314/b425314/b425314.sh times out.

GCStress severely impacts execution perfoirmance and wall clock timeout should be adjusted to compensate.  The test can be fixed or marked GCStressIncompatible.

[code]

[2017-03-23 15:56] BruceForstall opened #10421 "JIT throughput: noway_assert"
The JIT has about 3300 noway_assert. These are executed in non-DEBUG (aka, RELEASE) builds. Some might be frequently executed and thus costly. Instead of auditing all of them for relevance (i.e., in an optimization phase that can be backed out of), or apparently importance, we could change the noway_assert macro (conditionally) to collect a count of which ones are frequently executed, using a hash

[2017-03-23 15:56] sdmaclea commented on #10420
@jkotas I do not know who to mention here

[2017-03-23 15:57] karelz commented on #9807
@stephentoub which issue are they disabled against? This one?

[2017-03-23 15:57] BruceForstall opened #10422 "JIT throughput: SimplerHashTable"
We have way more uses of SimplerHashTable than JIT32. It would be useful to understand more about these uses. E.g., how many hash table resizes happen? Do any users prime the expected hash table size based on some IR characteristic, and could they do so to avoid resizes? They all use JitSimplerHashBehavior; is this the right set of behaviors for all the hash tables? How much time/memory is taken i

[2017-03-23 15:58] BruceForstall opened #10423 "JIT throughput idea: measuring frequently-inlined function cost"
Take perfview traces on a build of the JIT with -Ob0, that is, disable C++ compiler inlining, so we can see all the small normally-inlined functions in the trace, to see if we are calling some “a lot”, and figure out if they should be optimized, or called less frequently.

[2017-03-23 15:59] weshaggard commented on #10285
You are mixing the latest coreclr builds with the 1.1.1 builds of the corefx libraries which aren't compatible. Instead of doing this I would suggest you use dotnet and to consume your latest build use these instructions instead https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/UsingYourBuild.md.

[2017-03-23 16:03] BruceForstall opened #10424 "JIT throughtput: CSE bitvector size, for x86"
The CSE package was changed recently from tracking CSEs using an int64 type to represent the CSE bitvector, to using our standard bitvector package. However, the CSE bitvector size was still set at 64. That means, for x86, using the “long” form of the bitvector: each one is a 32-bit pointer to a 64-bit array of bits, and all access is via a pointer indirection. This is much more costly than previo

[2017-03-23 16:05] BruceForstall opened #10425 "JIT throughtput: x86 encoder, for AVX"
To support AVX in our current encoder design, the type of the variable we use to accumulate opcode bits was changed from size_t to “unsigned __int64” (see type code_t). Thus, for code that doesn’t use AVX, we’re using and passing around 64 bits when only 32 are ever used.

Is there a better way to do this so non-AVX code doesn't pay the price for the larger size?

(Is there any measurable memory u

[2017-03-23 16:06] tannergooding commented on #9807
@karelz, yes, this one. The PR is here: https://github.com/dotnet/corefx/pull/17419

I have my own PR which improves the test coverage of Math and MathF in general here: https://github.com/dotnet/corefx/pull/17217

I have already updated it to match the Math.Pow and Math.Atan2 fixes made on the CoreCLR side.

After 17419 goes in, I can rebase and resolve the merge conflicts and should be able to g

[2017-03-23 16:23] mikedn commented on #10423
This seems odd, how useful is to know that `gtGetOp1` is called a lot? And how exactly do you figure out which ones are called a lot, sampling profile?

[2017-03-23 16:33] jkotas commented on #10420
Marking this test as GCStress incompatible sounds reasonable to me.

cc @dotnet/jit-contrib

[2017-03-23 16:40] christianhuening opened #10427 "Migrating via 'dotnet migrate' on a solution file on mac does not add .cs files to .csproj"
I migrated a larger solution (57 projects) with 'dotnet migrate <PathToSolutionFile>'. The process worked succesfully according to the output, but when opening the solution in VS for Mac or the latest Jetbrains Rider (from today), my source code files wouldn't show up in the projects. Further investigation showed that they also weren't listed in the .csproj files of the corresponding projects.

[2017-03-23 16:48] #10427 closed

[2017-03-23 16:50] BruceForstall commented on #10423
Sampling profile, maybe. Call-attributed (enter/leave) profile: better.

Some information like, gtGetOp1 call count, might not be useful. In fact, perhaps most information wouldn't be useful. Some might be surprising. Not sure.

[2017-03-23 16:58] sdmaclea commented on #10420
Looks like @pgavlin marked incompatible for x86 in 36427c8

[code]

The comment looks wrong because the test internally aborts based on wall clock time.  In a sense it is fundamentally incompatible because it is time sensitive.

I can just remove the condition attribute.

[2017-03-23 17:00] mikedn commented on #10424
I think assertion prop is in the same boat as CSE, it too uses 64 bit bitvectors. There's some room for improvement in the bitvector ops area, might be worth checking that first before going to 32 bit bitvectors on x86. For example:
* bitvector allocation goes through a virtual function. With VC++ that costs us 2 indirect calls due to `\guard:cf`.
* bitvectors are initialized to 0 on allocation us

[2017-03-23 17:06] ww898 commented on #6427
However, UWP application crashed on ETW:
[code]

[2017-03-23 17:09] meherkasam commented on #10285
I downloaded the latest nightly build of dotnet from your link. My path looks like this now:

`$PATH:/Users/meherk/Desktop/code/coreclr/bin/Product/OSX.x64.Debug:/Users/meherk/Desktop/dotnet-dev-osx-x64.latest`

I reran `dotnet new console, dotnet restore, and dotnet build` inside a new directory using this version. This is the error I see:

[code]

[2017-03-23 17:12] mikedn commented on #10425
FWIW the emitter code mostly uses code_t together with bitwise ops and with the exception of variable count shifts these are pretty cheap even on 32 bit. And it looks like the emitter code doesn't use variable shifts, or at least doesn't call the CRT helpers (allshl, allshr, aullshl, aullshr). There are calls to these helpers in the JIT but none from the emitter code (to the extent a disassembler

[2017-03-23 17:13] jkotas commented on #6427
The CoreCLR for UWP is update on a different schedule.

[2017-03-23 17:13] meherkasam commented on #10285
Perfect! That worked for me. Thanks for all the help.

[2017-03-23 17:19] #10285 closed

[2017-03-23 17:38] #8988 closed

[2017-03-23 17:59] rahku commented on #6591
@RussKeldorph Gaurav asked me to assign it to you as this was initially done by your team

[2017-03-23 18:06] #10297 closed

[2017-03-23 18:16] rahku commented on #5825
disable of C4996 error is at following three places
1. /wd4996 from utilcode\CMakeLists.txt
2.  in function GetOSVersion() in file vm\ceemain.cpp
3.  in file inc\legacyactivationshim.h:#pragma warning(disable:4996)

[2017-03-23 18:35] #10197 closed

[2017-03-23 18:56] #10056 closed

[2017-03-23 19:32] sdmaclea commented on #10359
Just to be clear what is a TYP_REF...

In frame 14,
[code]

In frame 11
[code]
Please find the dump attached
[InternalWriteObjectContent.dump.zip](https://github.com/dotnet/coreclr/files/865939/InternalWriteObjectContent.dump.zip)

[2017-03-23 20:05] #10420 closed

[2017-03-23 20:15] WinCPP commented on #7061
@jamesqo @jkotas @karelz May I work on this?

[2017-03-23 20:34] tmds commented on #10390
Linux (glibc) has ecvt_r, so calling ecvt_r on platforms that have it, should yield a performance improvement.

[2017-03-23 20:40] Maoni0 commented on #10207
@jorive I am closing this issue. please feel free to reactivate if you are seeing problems.

[2017-03-23 20:40] #10207 closed

[2017-03-23 20:52] rahku commented on #8732
Only remaining file in src\System\Security folder that can be removed is src\System\Security\Util\URLString.cs . Rest all are needed.

[2017-03-23 21:33] tannergooding commented on #9807
The PR to re-enable the tests is just awaiting final sign-off before it gets merged. All jobs are green and I independently validated that the jobs have been appropriately partitioned into new vs legacy tests so that they pass on netfx as well.

[2017-03-23 22:00] karelz commented on #7061
Sure @WinCPP, go for it.
@jkotas should be able to provide guidance if needed.

[2017-03-23 22:03] jkotas commented on #7061
We have not unified the StreamReader/Writer between CoreCLR and CoreRT yet. The CoreCLR one lives in CoreCLR repo, the CoreRT one lives in CoreFX repo. Could you please do the same change in both places? It should be a simple find&replace.

[2017-03-23 23:08] rartemev commented on #8891
@russellhadley @mazong1123 I have almost finished with this work. I will make pull-request as soon as possible (today or tomorrow).

[2017-03-24 00:55] sdmaclea commented on #10115
In case it is interesting, these tests pass in debug mode and fail in checked mode on Arm64/Unix

[2017-03-24 02:34] danmosemsft opened #10441 "SignalAndWait is not implemented for Unix"
We believe this is possible to implement for Unix but it's a low priority as the API is flawed and it has extremely low usage.

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/WaitHandle.cs#L451
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/WaitHandle.cs#L464
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Thre

[2017-03-24 02:39] danmosemsft opened #10442 "Some ReadXX and WriteXX API on Marshal are not implemented"
The following API's on `Marshal` are not implemented and apparently should be. @Petermarcu found them during his experiments.

[code]

[2017-03-24 02:50] danmosemsft opened #10443 "Marshal.SecureStringToBSTR and ZeroFreeBSTR not implemented for Unix"
We have not implemented `Marshal.SecureStringToBSTR` for Unix.

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Runtime/InteropServices/Marshal.cs#L1775

This is bug/inconsistency. We have implemented BSTR on Unix, even though it is COM interopy. Mono took the same approach. We should remove the FEATURE_COMINTEROP ifdef around this one and make it work on Unix - to be consist

[2017-03-24 03:55] jkotas commented on #10442
cc @yizhang82

[2017-03-24 04:02] yizhang82 commented on #10442
@danmosemsft These are AsAny variants that are by design to throw PNSE. Is there any value in supporting them and do we have evidence of people using these particular overloads? People should be using the IntPtr versions.

[2017-03-24 04:02] #8418 closed

[2017-03-24 04:05] Petermarcu commented on #10442
Is there a reason these cannot be supported? Why are they by design? I hit it while trying to get desktop assemblies running on .NET Core which is something we're trying to enable in 2.0. Existing packages from NuGet should just work. We only want to throw PNSE when we can't do it. After I hit it, I looked in the NuGet package database and found that other popular libraries were calling these meth

[2017-03-24 04:16] yizhang82 commented on #10442
@Petermarcu Can you share the Nuget package you are trying?

[2017-03-24 04:19] Petermarcu commented on #10442
I was using WinForms as a proxy. I think this was the most popular one that showed up in the report: https://www.nuget.org/packages/log4net/

In general though, we don't want people to hit PNSE exception unless it's obvious why something shouldn't/couldn't be supported on a platform. Is there something about these API's that makes them inherently unimplementable on .NET Core?

[2017-03-24 04:21] Petermarcu commented on #10442
I had a naive implementation of these that got me unblocked on my prototyping that got the IntPtr from for argument and just called the other methods. Jan told me that wasn't going to work in all cases.

[2017-03-24 04:30] yizhang82 commented on #10442
@Petermarcu Right. There are quite a few cases that needs to be supported for Write/Read variants for AsAny. These APIs are badly designed and has horrible performance - every time it reads a byte it creates a copy of the object. There are also other interop features we have deprecated in .NET Core, such as IDispatch/Automation support, VARIANT/SafeArray marshaling, etc. If we found good usage evi

[2017-03-24 04:34] jkotas commented on #10442
FWIW, Mono throws PNSE for these APIs as well.

[2017-03-24 04:40] yizhang82 commented on #10442
@jkotas Thanks. This is very good data point.
@Petermarcu Can you share call stack? I couldn't find Marshal.Read/Write calls in log4net.dll 2.0.8

[2017-03-24 06:19] Petermarcu commented on #10442
I believe this is in .NET Standard 2.0 right? I'm hoping to get .NET Core as close to complete for API's that are in .NET Standard 2.0 as possible with .NET Framework as the guiding light. We're looking at NuGet data as one data point but in general trying to make sure there is as little friction as possible for people picking up .NET Framework assets that already exist and using them on .NET Core

[2017-03-24 06:22] Petermarcu commented on #10442
yeah, here is some example code from where it was getting hit: https://referencesource.microsoft.com/#System.Drawing/commonui/System/Drawing/Advanced/Font.cs,470

[2017-03-24 06:23] danmosemsft commented on #10442
Yes they are in NS since 1.1 in fact.
https://apisof.net/catalog/System.Runtime.InteropServices.Marshal.ReadInt16(Object,Int32)

[2017-03-24 06:28] danmosemsft commented on #10442
https://referencesource.microsoft.com/#System.Drawing/commonui/System/Drawing/Advanced/Font.cs,853

[2017-03-24 07:28] christianhuening opened #10447 "Migrating via VS 2017 (latest) references projects from the backup folder"
I tried to migrate a larger solution (57 projects) with VS 2017 and encountered some referencing issues. When investigating the non-resolvable references, I found that these references are pointing to the Backup folder created by the migration process. When manually re-adding the reference to that project from the actual solution, everything is fine again:
![backup_reference](https://cloud.githubu

[2017-03-24 07:39] Tornhoof opened #10448 "Remove StructLayout LayoutKind.Auto from DateTime"
As suggested by @tannergooding in https://github.com/dotnet/csharplang/pull/206#discussion_r107746622 the `[StructLayout(LayoutKind.Auto)]` on `DateTime` is not necessary and might prevent the wider adoption of the [Initial blittable proposal](https://github.com/dotnet/csharplang/pull/206). `DateTime` only contains a [single private `long` field](https://github.com/dotnet/coreclr/blob/e1b0f8a1d353

[2017-03-24 07:41] Tornhoof opened #10449 "Remove StructLayout LayoutKind.Auto from DateTimeOffset"
As suggested by @tannergooding in dotnet/csharplang#206 (comment) the [StructLayout(LayoutKind.Auto)] on `DateTimeOffset` is not necessary and might prevent the a wider adoption of the Initial blittable proposal.  `DateTimeOffset` is composed from a [`DateTime` and a `short`](https://github.com/dotnet/coreclr/blob/e1b0f8a1d353d41de515c4cc219339b220714777/src/mscorlib/src/System/DateTimeOffset.cs#L

[2017-03-24 12:00] JohnGorter opened #10452 "hosting coreclr on mac"
Dont know if there is a better place to ask this question, but hosting assemblies on my mac always seems to fail:

void* clr_host;
unsigned int domainId;
void *coreclr = dlopen("/<abs-path-to>/coreclr/bin/Product/OSX.x64.Debug/libcoreclr.dylib", RTLD_NOW | RTLD_LOCAL);

    // if the lib is not found or loaded, escape...
    if (coreclr == nullptr) return -1;

    // grab the coreclr function poin

[2017-03-24 12:47] janvorli commented on #10452
@JohnGorter the error code means:
[code]
So I guess you are missing some assemblies or have some other mismatch.
From your sample, it looks like you are adding just coreclr's products to the TPA. But that's not enough, you also need other assemblies from corefx, some native shared libraries from corefx and some assemblies that I believe come from nuget packages.

There are various ways how you cou

[2017-03-24 12:56] JohnGorter commented on #10452
Hi! Thanx for the reply..

So I've built the complete repo from github.. This should build all required dependencies, am I correct?

[2017-03-24 13:07] janvorli commented on #10452
If you build just the coreclr repo, it builds only System.Private.CoreLib.dll managed assembly and some native components. The CoreFX and CoreCLR are needed together.

[2017-03-24 14:01] #10447 closed

[2017-03-24 14:01] christianhuening commented on #10447
moved this to dotnet/cli repo

[2017-03-24 14:25] JohnGorter commented on #10452
I run ./build.sh on the root of the coreclr repo.... doesnt this build it all?

[2017-03-24 14:27] janvorli commented on #10452
@JohnGorter no, it does not. It only builds coreclr stuff.

[2017-03-24 14:32] JohnGorter commented on #10452
So, another option would be to just install and point to artifacts from a prebuilt version of the .net framework?

[2017-03-24 14:34] janvorli commented on #10452
@JohnGorter yes. Unless you want to debug coreclr runtime or use the most up to date stuff that was not published as prebuilt package yet, that should work for you too.

[2017-03-24 14:37] janvorli commented on #10452
@JohnGorter btw, there is an ongoing effort to enable "build everything from source using a single build command", which is what you have obviously expected to get from building the coreclr repo.

[2017-03-24 15:07] Petermarcu commented on #10442
Yeah, there is also a community project going on right now and we're considering adding System.Drawing to corefx. Not having these API's would make it harder to make System.Drawing work on .NET Core and that is an exact proxy for the pain we really don't want people to have when porting Full.NET Code that should work on .NET Standard 2.0 over to .NET Core which supports .NET Standard 2.0.

[2017-03-24 15:55] JohnGorter commented on #10452
I've tried to use the prebuilt version to host an assembly:

       void *hostHandle;
    unsigned int domainId;
    unsigned int exitcode = 0;

    const char *propertyKeys[] = {"TRUSTED_PLATFORM_ASSEMBLIES"};
    const char *propertyValues[] = {"/usr/local/share/dotnet/shared/Microsoft.NETCore.App/1.1.1/System.Runtime.dll:/usr/local/share/dotnet/shared/Microsoft.NETCore.App/1.1.1/mscorlib.dll:/u

[2017-03-24 15:59] AtsushiKan commented on #10358
@alexperovich - any update on this?

After some experimentation, it's trying to overwrite mscorlib\Common\System\SR.cs.

Deleting the file silences the dialog (but does not cause replacement of the file either.)

[2017-03-24 16:39] hqueue commented on #10185
New ARM CI is now enabled.

[2017-03-24 16:39] #10185 closed

[2017-03-24 16:41] hqueue commented on #9273
@wateret Can we close this ?, because new ARM CI using Docker is now enabled as in #10185.

[2017-03-24 16:43] hqueue commented on #8549
@hseok-oh Please check "Update CI to use Docker images for ARM32 CI" as done :)

[2017-03-24 16:57] mattwarren commented on #2137
I know the is an old issue, but a blog post I just wrote might help you out?

See ['A Hitchhikers Guide to the CoreCLR Source Code'](http://mattwarren.org/2017/03/23/Hitchhikers-Guide-to-the-CoreCLR-Source-Code/)

[2017-03-24 17:01] alexperovich commented on #10358
I haven't been able to look at this yet. Do you have a diag log I can look at?

[2017-03-24 17:17] 4real commented on #6136
I'm looking into it, seems like a nice introduction to coreclr.

[2017-03-24 17:44] AtsushiKan commented on #10358
The issue is that resource.targets is adding Common\System\SR.cs to the Compile list multiple times while the project is being loaded.

This change silences the dialog while still allowing the build to work (I haven't tested thoroughly)

https://github.com/dotnet/coreclr/compare/master...AtsushiKan:ann-wip

There's also this line:

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/System.

[2017-03-24 17:50] danmosemsft commented on #10443
`SecureStringToBSTR` seems to have high usage on Xamarin. `ZeroFreeBSTR` has some usage, but small.

[2017-03-24 17:54] danmosemsft commented on #10443
This is a nice to have for 2.0

[2017-03-24 17:56] sdmaclea opened #10454 "[Arm64] GcStress0x4: NullableTest45::BoxUnboxToQGen<MixedAllStruct> fails"
These tests fail in NullableTest45::BoxUnboxToQGen&lt;MixedAllStruct&gt; under GCStress0x4
[code]
The test had been fixed earlier by fixing #9655.  This is similar to the amd64 fix #2890 which fixed #2763..

This is the beginning of the assembly...
[code]

Issue occurs if GCStressStart is set to trigger on or before the CORINFO_HELP_NEWSFAST call.

Related GCInfo begining follows.

[code]
[code]

[2017-03-24 18:17] danmosemsft commented on #6136
@karelz can you please give @4real  this issue

@4real whatever you do will need a fair bit of performance measurement to find and prove the best approach on various inputs. We usually use Benchmark.NET.

[2017-03-24 18:20] AndyAyersMS opened #10456 "JIT: review properties of jit helpers"
Some helpers are missing explicit entries in the helper classifier code at `HelperCallProperties::init()`. Seems like we should adopt a policy where all helper properties are spelled out explicitly and the default case asserts, so when a new helper is added we know we should go add the properties.

For instance `CORINFO_HELP_READYTORUN_GENERIC_HANDLE` is not listed and calls to it likely can be re

[2017-03-24 18:24] sdmaclea commented on #10362
@jashook Please assign this to me.  I will start triaging the issue.

[2017-03-24 18:31] karelz commented on #6136
@4real, invite sent to, please ping us when you accept.

@danmosemsft I thought you have same admin permissions as I do ... we should fix that ;-)

[2017-03-24 18:33] WinCPP commented on #7061
@jkotas Yup. I will make the required changes for CoreRT as well...

[2017-03-24 19:45] sdmaclea opened #10458 "[Arm64/Unix] build fails in nuget build step"
When cross building for arm64, unless skipnuget is specified the build fails.

Presumably this is becauae the requisite RID for arm64 Unix has not yet been created.

Nuget packages are not necessary for running tests.  This error can be avoided by adding the skipnuget option.

[2017-03-24 19:59] #10289 closed

[2017-03-24 19:59] tannergooding commented on #9807
Fixed with https://github.com/dotnet/corefx/pull/17217

[2017-03-24 19:59] #9807 closed

[2017-03-24 19:59] tannergooding commented on #10289
Fixed with https://github.com/dotnet/corefx/pull/17217

[2017-03-24 20:00] tannergooding commented on #9806
Fixed with https://github.com/dotnet/corefx/pull/17217

[2017-03-24 20:00] #9806 closed

[2017-03-24 20:26] clrjunkie commented on #2137
Great Job! @mattwarren

Now consider scaling this out by converting the content into Markdown format and submitting it as a pull request for this issue!

That way it would be super easy for CoreCLR team members to review/update/improve the content and will allow the community a simple way to provide feedback, open documentation issues concerning this area and also submit code snippets that illustr

[2017-03-24 20:37] RussKeldorph opened #10461 "Assertion failed 'firstILBlock->hasProfileWeight()'"
**Repro (of many)**
x64 checked
set COMPlus_JitStress=2
run coreclr tests

**Example CI run**
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_jitstress2/124/

**Sample output**
[code]

[2017-03-24 20:38] RussKeldorph commented on #10461
@dotnet/jit-contrib

[2017-03-24 20:46] WallaceKelly commented on #10037
**Steps to repo using CLI:**

1. `mkdir lib`
2. `cd lib`
3. `dotnet new library`
4. `dotnet restore`
5. `dotnet build`
6. `cd ..`
7. `mkdir app`
8. `cd app`
9. `dotnet new console`
10. Edit app.csproj, adding the following:
[code]
11. Edit Program.cs, adding the following to the main method:
[code]
12. `dotnet restore`
13. `dotnet build`
14. `dotnet run`
15. See the System.IO.FileNotFoundException

[2017-03-24 21:18] WinCPP commented on #7061
@jamesqo @jkotas I could not find implementation for StreamWriter in CoreClr repo. Just wanted to confirm that there isn't any in CoreClr repo...

[2017-03-24 21:20] Jonathan34 commented on #10037
use `dotnet pack` to create a nuget package (or from vs 2017, right click the project and select `pack `option)

[2017-03-24 21:22] jkotas commented on #7061
You are right ... there is no StreamWriter in CoreCLR repo.

[2017-03-24 22:09] BruceForstall commented on #9591
@VSadov as @mikedn wrote, the spec for add.ovf.un says:

It seems pretty clear that this says the values being added should be treated as unsigned. So, when you write:

I would disagree.

It looks like JIT64 and RyuJIT agree on this interpretation. What about earlier, pre-Roslyn C# compilers?

[2017-03-24 22:29] gkhanna79 commented on #10037
@WallaceKelly Can you please move your repro steps into an issue in the CLI repo where it is best discussed?

[2017-03-24 22:30] RussKeldorph opened #10464 "Reevaluate tests/tests*OutsideWindows.txt files for .NET Core 2.0"
Make sure these files accurately reflect the state of tests in the tree.  Some may be passing now due to netstandard2.0 work for example.

[2017-03-24 22:32] tannergooding commented on #9591
I think we can all agree that, regardless of what the spec says right now, the behavior here is wrong (with regards to how pointer arithmetic is meant to work).

That is, for `pointer + int32`, the int32 should be sign extended and then added to the pointer so that negative int32 results in a subtraction.

[2017-03-24 23:24] briansull commented on #10461
PR with fix #10466

[2017-03-25 00:31] 4real commented on #6136
@karelz Accepted invite!

@danmosemsft Thanks, I'll have a look at Benchmark.NET. I take it that sufficient proof is empirical evidence a new solution is significantly faster and there being a line of reasoning as to why that is? Should I wrote a performance test for this issue specifically? (Apologies if this is covered by the documentation, I haven't processed it all yet.)

[2017-03-25 00:38] danmosemsft commented on #6136
@4real there aren't really hard rules but generally we're looking for
(1) parity or faster across all interesting ranges of inputs
(2) improvement is worth any increase in code complexity and maintenance cost. This depends on how heavily used/critical the API is. We have taken and will continue to take quite hairy changes eg in Encoding or StringBuilder because those show up in key performance sce

[2017-03-25 00:40] danmosemsft commented on #6136
Incidentally for profiling you can use the Visual Studio 2017 profiler but many of us use [PerfView](https://www.microsoft.com/en-us/download/details.aspx?id=28567) as it's owned by our team. It's very powerful and has good tutorials.

[2017-03-25 00:41] VSadov commented on #9591
From the C# compiler's point of view there is, among many others, a built-in operator with a signature: `Add(pointer, int) -> pointer`.

Compiler will see no reasons to apply any conversions to the operands since they match the types expected by the operator. That will not be affected by checked/unchecked context. The context has no effect on how operators are resolved.
The only thing that is affe

[2017-03-25 01:03] briansull opened #10474 "Set profile weights correctly for the Internal blocks in JIT/Directed/UnrollLoop/loop3_il_d.exe"
For JustMyCode debuggable code we insert a GT_QMARK tree that gets expanded into 3 Blocks
to conditionally call HELPER.CORINFO_HELP_DBG_IS_JUST_MY_CODE

We need to update the block weights for these internal blocks to use the profile weights.

[2017-03-25 01:20] tannergooding commented on #10390
@tarekgh, is the performance on Mac currently a problem/concern as well (I don't see any numbers there)?

If not, adding the appropriate conditional so that ecvt_r is called on Linux seems sufficient enough for the time being.

After going over it a bit, the issue with all the 'sufficiently fast' implementations is that they rely on `high-precision integer arithmetic` (that is `BigInteger` math) t

[2017-03-25 01:24] janvorli commented on #10452
@JohnGorter the problem could be realated to the fact that you are loading libcoreclr.dylib that you have built, but mixing it with the files from the prebuilt package. The libcoreclr.so must always match the mscorlib.dll and System.Private.CoreLib.dll, they have to come from the same build and their build flavor (checked/debug/release) also must match. Also the managed assemblies that are in the

[2017-03-25 01:43] jkotas commented on #10390
This is basically what is done in CoreRT implementation:

https://github.com/dotnet/corert/blob/82073fcdf12869d21f36fd44720744e3818d141b/src/System.Private.CoreLib/src/System/Globalization/FormatProvider.FormatAndParse.Unix.cs#L67
https://github.com/dotnet/corert/blob/26413145abcbdd49468db230a6f29784494f6f46/src/Native/System.Private.CoreLib.Native/pal_cruntime.cpp#L10

[2017-03-25 01:59] sdmaclea commented on #10362
This issue no longer reproduces on the tip.

[2017-03-25 01:59] #10362 closed

[2017-03-25 02:07] briansull commented on #10474
set COMPLUS_JitStress=2
run JIT\Directed\UnrollLoop\loop3_il_d.exe

[2017-03-25 02:09] ahsonkhan commented on #10099
Fixed by https://github.com/dotnet/coreclr/pull/10216

[2017-03-25 02:09] #10099 closed

[2017-03-25 02:45] sdmaclea commented on #10464
Attached is a junit summary of an arm64 run of just the unsupportedOutsideWindows tests.  108 of the 280 tests passed in default config.
[unsupportedOutsideWindows.zip](https://github.com/dotnet/coreclr/files/869599/unsupportedOutsideWindows.zip)

[2017-03-25 02:53] jkotas commented on #3939
GC_Regressions._v2_0_rtm_544701_544701_544701 timed out https://ci.dot.net/job/dotnet_coreclr/job/master/job/debug_windows_nt_prtest/4585/testReport/junit/GC_Regressions/_v2_0_rtm_544701_544701_544701_/_v2_0_rtm_544701_544701_544701_cmd/

[2017-03-25 03:54] sdmaclea commented on #10464
Attached is a junit summary of an arm64 run of just the unexpectedFails.  37 of 77 tests are passing.
[unexpectedFails.zip](https://github.com/dotnet/coreclr/files/869650/unexpectedFails.zip)

[2017-03-25 04:44] #10461 closed

[2017-03-25 10:24] davidfowl opened #10481 "Potential JIT issue with nested structs in Release mode"
Originally I filed this issue on corefxlab thinking it was a fast span issue on .NET Core 2.0 https://github.com/dotnet/corefxlab/issues/1374. I was able to reproduce the issue without span:

[code]

This test only fails in **Release** mode, it works fine in **Debug**.

If you change the constructor of `BytesReader2` from this:

[code]

To this:

[code]

It works as expected.

**EDIT:** This also

[2017-03-25 14:59] WallaceKelly commented on #10037
@gkhanna79 I (mistakenly?) thought it was more of a runtime issue, since it seems to compile fine and fails at runtime.

Regardless, I found the duplicate issue at https://github.com/dotnet/cli/issues/5847, which says it will be supported on 2.0.

[2017-03-25 15:04] #7061 closed

[2017-03-25 16:37] Petermarcu commented on #10442
I'd like to get these implemented on coreclr. If future platforms can't support them, that's where I want to throw PNSE. Any platform that can support .NET Standard, should do it the best it can and .NET Core is our flagship example of another .NET Platform implementing the standard.

[2017-03-25 16:38] Petermarcu commented on #10442
If we want to deprecate, we should do so in the standard.

[2017-03-25 17:16] benaadams commented on #10481
/cc @sivarv @JosephTremoulet

[2017-03-25 17:41] #10329 closed

[2017-03-25 18:02] tarekgh commented on #10390
we can look at doing what we have done on coreRT and measure the gain then decide if this will be acceptable.

[2017-03-25 18:57] tmds commented on #10390
Can you also benchmark the CortRT implementation vs calling native ecvt_r?

[2017-03-25 19:31] tannergooding commented on #10390
@jkotas, It doesn't look like we can use the CoreRT implementation. It appears to be limited to 40 digits of precision, but there are plenty of numbers which are larger which need support.

As for using ecvt_r, I have the change ready for benching... Do we have an easy way to run the CoreFX perf tests against a CoreCLR PR today?

[2017-03-25 20:10] jkotas commented on #10390
They are handled elsewhere. The precision passed to DoubleToNumber is never more than 17.

[2017-03-25 22:30] 4real commented on #6136
Thanks, I'll have a look at PerfView too.

From what I can tell, there are XUnit.Performance tests in the codebase for the GC and JIT, but not mscorlib. So instead, I will create a Benchmark.NET performance test for string.Split which will not be included in the commit, but for which I will post the results of here - does this seem like the correct approach? I will however create a functional test

[2017-03-25 23:38] tannergooding commented on #10390
Moving to `ecvt_r` is showing about a 25% improvement (see below, the txt files are the raw csv outputs). We don't seem to have any CoreFX perf jobs actually hooked up for Linux right now, so it is hard to get any actual numbers (especially numbers that can be used in comparison to those in the original post).

I am still working on checking out the CoreRT implementation and hope to have some numb

[2017-03-26 00:01] karelz commented on #10390
BTW: We are just standing up CoreFX perf lab (internal only at this moment). @mellinoe knows details where we are.

[2017-03-26 05:57] tarekgh commented on #10390
@tannergooding @jkotas

if I am not mistaken, it looks the corert implementation is similar to the current Linux implementation in coreclr

in coreclr:
https://github.com/dotnet/coreclr/blob/32f0f9721afb584b4a14d69135bea7ddc129f755/src/pal/src/cruntime/misctls.cpp#L151

in coreRT:
https://github.com/dotnet/corert/blob/82073fcdf12869d21f36fd44720744e3818d141b/src/System.Private.CoreLib/src/System/G

[2017-03-26 06:29] davidfowl commented on #10481
/cc @dotnet/jit-contrib

[2017-03-26 06:32] mikedn commented on #10481
@davidfowl @benaadams What's up? Are you expecting they fix this bug in the weekend? 😁

[2017-03-26 06:41] davidfowl commented on #10481
Just making sure I add the right people 😄

[2017-03-26 07:25] hughbe opened #10487 "FileNotFoundException building coreclr"
Clean repository up to date with` apple/master`. Visual Studio 2017 developer command prompt with all the correct components. `build.cmd`:

[code]

[2017-03-26 10:59] mikedn commented on #10481
The JIT drops assignment `_currentSegment = _unreadSegments.First;` on the floor:
[code]
The first transform appears to be correct, it produces 2 `GT_LCL_FLD` with appropriate field offsets. But the second transforms [thinks](https://github.com/dotnet/coreclr/blob/master/src/jit/morph.cpp#L9757) that the assignment is useless because the same lclvar is involved in both LHS and RHS:

[code]
Looks l

[2017-03-26 14:55] jkotas commented on #10390
@tarekgh It is similar but there is significant difference in amount of extra parsing, transforming and copying. There is a lot less of it the CoreRT implementation (still can be improved). I have done a quick test on Mac: call ToString on 1.2345 in a loop. CoreRT is ~1.7x faster.

[2017-03-27 00:26] BruceForstall commented on #9591
cc @CarolEidt

[2017-03-27 07:04] lemmaa commented on #9559
@sdmaclea The commit https://github.com/dotnet/coreclr/pull/5406 was created in the course of experimental arm64 build enabling to determine the state of coreclr arm64 at that time. So I do not mind changing the cache value. I'm sorry for the inconvenience.

[2017-03-27 08:07] wateret commented on #10405
When I disable GC, it passes the error point, then it gives another error.

[code]

Backtrace
[code]

[2017-03-27 08:19] JohnGorter commented on #10452
You were absolutely correct and it makes total sense. Loading the dylib and added wrong versions of the dependencies..  Thanx again J!

By the way, wouldn't it be possible for the dylib to dynamically load its dependencies instead of explicitly supplying them?

[2017-03-27 08:23] hseok-oh commented on #10247
In my environment, x64 ildasm works well

CoreCLR: checked build (48e2448)
CoreFX: debug build (https://github.com/dotnet/corefx/commit/a38b122)
[code]

On the other hand, I also faced segmentation fault when I ran arm ildasm.

[2017-03-27 08:45] mattwarren commented on #2137
Thanks

@karelz asked asked me about the same thing, so it looks like, one way or the other, it will happen. Fortunately I write my blog posts in Markdown, so the conversion should be easy.

That's a good idea, I hadn't thought about it being reviewed/updated/improved in this way.

[2017-03-27 08:49] bendono opened #10492 "Build instructions: registering DLL fails due to spaces."
The Windows [build instructions](https://github.com/dotnet/coreclr/blob/master/Documentation/building/windows-instructions.md) specify that msdia120.dll needs to be registered. However, the provided command will generally fail since %VSINSTALLDIR% expands to a path with spaces in it.

Error:
![image](https://cloud.githubusercontent.com/assets/846533/24348622/4c03b6dc-1317-11e7-9b3b-839aec839ea5.pn

[2017-03-27 09:22] karelz commented on #2137
Yeah, I think contributions to the doc are the key value - it can grow and should be fairly easy to update that way.
The truly hard part is to seed it with good content - which you @mattwarren did in a great way.

IMO the key next steps are to select parts which are stable-ish over time (maybe skip some statistics), break them down into documents, and flip them into markdown. I bet there will be b

[2017-03-27 10:02] mattwarren commented on #2137
Yeah I wasn't planning to submit any of the 'Top 10' lists or even the treemaps, they work in a blog post, but not as project docs

Where should I submit the cleaned up markdown, what's the location in CoreCLR (or elsewhere) that they should go?

[2017-03-27 11:06] rdvojmoc opened #10494 "Load unmanaged static dll in load context"
I have native unmanaged dll which is static and must be loaded each time when I need library to do some work if i want to run it in parallel. In .NET I would use AppDomain and load this dll when i need it, but in NET Core AppDomains are gone (for now). I have looked at AssemblyLoadContext but there is no proper documentation with LoadUnmanagedDll. Can this be done in netstandard1.6?

[2017-03-27 12:35] alpencolt opened #10495 "[ARM32/JIT] Incorrect local variables placement on stack"
I have following code:
[code]
Legacy backend for  Linux ARM32 platform generates such code:
[code]

Compiler allocate frame of size 16 in prologue and put 3 local variables `loc0`, `LocAllocSP` and `GsCookie`. On lines `000044 - 00004A` it allocates local heap right after this frame.
As you can see Cookie stored isn't after local heap, there is some gap between them. If we compile with `/o` gap do

[2017-03-27 12:36] alpencolt commented on #10495
Part of #8496
+@Dmitri-Botcharnikov

[2017-03-27 13:14] fanoI commented on #10390
@jkotas but the objective in the future is to unite this CoreRT and Coreclr implementations that is using always a managed version?

[2017-03-27 13:45] jkotas commented on #10390
@fanoI Yes, it is eventual goal. However, this issue is about improving the performance for CoreCLR, for .NET Core 2.0 release. The implementation does not have to be unified as part of this fix.

[2017-03-27 15:10] karelz commented on #2137
@jkotas any suggestion on location in CoreCLR? (sorry, I am not that much familiar with CoreCLR src/docs structure)

[2017-03-27 15:22] fanoI commented on #10390
OK the objective of Cosmos and CoreRT to have more C# possible written in C# coincide it is for this that I have a particular interest in this issue.

[2017-03-27 15:59] jkotas commented on #2137
I think that this sort of content should go to https://github.com/dotnet/coreclr/tree/master/Documentation/botr . If it helps, I would not mind renaming "botr" to something more self-explanatory like "architecture".

It would be best to amend the existing documents instead of introducing new ones where appropriate. E.g. The paragraph about JIT may best go to ryujit-overview.md. This document has a

[2017-03-27 16:19] sdmaclea commented on #9559
@lemmaa Thanks

[2017-03-27 16:24] danmosemsft commented on #6136
@4real correct, that's what we normally do -- have a throwaway perf test -- of course you could archive it in a gist with a link in the PR in case we want it again.

There are lots of XUnit.Performance tests in the repo and they are run regularly but those are to catch regressions and there is a certain cost to maintaining them (watching results). So we could consider adding one if it was an impor

[2017-03-27 16:30] sdmaclea opened #10500 "Crossgen race condition?"
I have been running crossgen of libraries in parallel, but have been experiencing odd non-reproducible failures.  Mostof them were due to previous build *.ni.dll's being present in the overlay.  I have resolved this, but I suspect there may also be a crossgen race condition.

In ZapImage::SaveImage(), it looks like crossgen creates the *.ni.dll file then writes its contents.  If another crossgen i

[2017-03-27 16:31] sdmaclea commented on #10500
@jkotas Who is best to comment on whether this could be a real issue or not?

[2017-03-27 16:32] jkotas commented on #10494
Could you please explain a bit more why you are using AppDomains in .NET Framework? Why can't you just load the unmanaged dll within the same AppDomain?

[2017-03-27 16:38] rdvojmoc commented on #10494
Currently code is called with PInvoke and is working perfectly. Problem is because nature of this unmanged dll (it's static) written in C, when I try to call it in parallel throws AccessViolationException because two or more task wants to access same memory.

If I could load dll for each time that in some context and then call PInvoke on that this problem would be gone. At least that is my idea.

[2017-03-27 16:45] jkotas commented on #10494
The unmanaged .dll is always loaded just one. It is constrain imposed by the OS loader, not much we can do about it in .NET. It is same for both .NET Framework and .NET Core. If you load same unmanaged .dll from two different appdomain in full .NET Framework, both AppDomains will get the same instance.

[2017-03-27 16:59] jkotas commented on #10500
crossgen tool is not designed to generate the output atomically. We never needed that. If you would like to fix it, go for it.

[2017-03-27 17:04] #10492 closed

[2017-03-27 17:10] danmosemsft commented on #10442
@yizhang82 are you open to implementing these (as far as is feasible)?

[2017-03-27 17:19] rdvojmoc commented on #10494
Thanks for quick answer. Based on your answer only way to avoid this error, is to implement synchronized access to this unmanaged dll.

[2017-03-27 17:25] jkotas commented on #10494
Yes. The other alternatives maybe to run the unmanaged dll in separate process, or to have multiple physical copies (different paths on disk) of this unmanaged .dll.

[2017-03-27 17:25] #10494 closed

[2017-03-27 17:25] jkotas commented on #10443
cc @yizhang82

[2017-03-27 17:37] jkotas commented on #10487
@dotnet/dnceng Crash in run.exe tool

[2017-03-27 17:55] yizhang82 commented on #10443
@botaberg Can you take a look?

[2017-03-27 17:56] botaberg commented on #10443
I can take a look. Thanks!

[2017-03-27 18:10] #6602 closed

[2017-03-27 18:15] mikedn commented on #7210
@AndyAyersMS Since you mentioned it here's an example diff for the y == 0 case:
[code]
11 bytes of code less in the method :)

[2017-03-27 18:27] yizhang82 commented on #10442
@danmosemsft I'm open to it. Let's find some time to chat about this. For the System.Drawing case, one option is to fix the System.Drawing code - and we'll also be making it faster in the process since the API always make a coyp of the struct before read/writing...

[2017-03-27 18:35] sergign60 commented on #6757
https://github.com/dotnet/coreclr/pull/10496

[2017-03-27 18:36] AndyAyersMS commented on #7210
Looks awesome.

[2017-03-27 19:00] sdmaclea commented on #9581
Here is a recent update of GCStress fails including pr1 tests
[code]

[2017-03-27 19:16] kouvel commented on #10441
Could be pushed to Future if necessary, but putting it in 2.0.0 for now since it would be nice to get it done in that timeframe

[2017-03-27 19:20] sdmaclea commented on #10388
This appears to be due to existance of previous *.ni.dll images while running crossgen.

[2017-03-27 19:20] #10388 closed

[2017-03-27 19:36] sdmaclea commented on #9533
Testing know is including priority one tests
There are currently 5 default configuration failures on tip
[code]

GCStress has regressed.  #9581 failures have been updated to match tip.

Open pull requests assumed to be included ...

- #10243  fixes #9481
- #10211 fixes several libraries which fail to cross gen.

Open issues

- There are two libraries which fail during crossgen.  See #10359 and #98

[2017-03-27 19:38] rahku commented on #9719
Fixed in PR #10064

[2017-03-27 19:38] #9719 closed

[2017-03-27 19:39] danmosemsft commented on #10442
Yep -- Peter's point of course is that that's not the only code out there that calls it, and we start dealing with 1000 paper cuts.

[2017-03-27 19:44] sdmaclea commented on #10454
@jashook Please assign this to me

[2017-03-27 20:07] dagood commented on #10487
What commit is `apple/master` at? That fork is a 404 for me.

[2017-03-27 20:23] dagood commented on #10487
I can find two other times this happened, pre-VS2017:
https://github.com/dotnet/coreclr/issues/7245
https://github.com/dotnet/coreclr/pull/7985#issuecomment-258544963
Based on that, it seems to be intermittent. I couldn't repro using my VS2017 prompt on `dotnet/master`, but I most likely don't have the same install settings.

There should be a copy of `Newtonsoft.Json.dll` 9.0.1.19813 sitting in `

[2017-03-27 20:28] JosephTremoulet commented on #4331
See #10478 for the beginnings of work on this.

[2017-03-27 20:38] Petermarcu commented on #10442
Yeah, I'm more worried about making sure people just work and don't discover platform not supported exceptions when pulling in legacy code. Our goal to deprecate API's or get people on a better path is a fine goal but PNSE isn't the mechanism for that.

[2017-03-27 20:44] yizhang82 opened #10504 "Default Interface Method support"
[C# Language Spec Link](https://github.com/dotnet/csharplang/blob/master/proposals/default-interface-methods.md)
Runtime Spec Link (TBD)

List of work items:

- [x] Fix up ILDAsm to support default interface methods (non-abstract virtual methods) on interfaces
- [x] Fix up ILDAsm to allow non-virtual instance methods on interface
- [x] Allow type loader to ignore not implemented interface methods

[2017-03-27 21:30] ericstj opened #10508 "Duplicate fcall entries for AssemblyName.nGetFileInformation and AssemblyLoadContext.nGetFileInformation"
Both of these  have the same name and point at AssemblyNameNative::GetFileInformation.
https://github.com/dotnet/coreclr/blob/76b7d89f6e32ff51ae4809827163864c40a6a76f/src/vm/ecalllist.h#L626
https://github.com/dotnet/coreclr/blob/76b7d89f6e32ff51ae4809827163864c40a6a76f/src/vm/ecalllist.h#L639

This is causing a runtime failure when both methods are called in the same app.

We're hitting this asse

[2017-03-28 00:02] jkotas commented on #10022
Hit again in https://github.com/dotnet/coreclr/pull/10488

[2017-03-28 00:04] jkotas commented on #10022
@pgavlin Could you please email me link to the dump with symbols if you still have one?

[2017-03-28 00:11] jkotas opened #10514 "Failure in baseservices\threading\mutex\misc\waitanyex2"
[code]

[2017-03-28 00:12] jkotas commented on #10514
Hit on #10488 (https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_release_windows_nt_pri1_prtest/4634/testReport/junit/baseservices_threading/_waithandle_waitany_waitanyex2_waitanyex2_/_waithandle_waitany_waitanyex2_waitanyex2_cmd/)

[2017-03-28 00:58] RussKeldorph commented on #10481
@BruceForstall If there is a better person to fix it (who is available), feel free to reassign.

[2017-03-28 01:01] danmosemsft commented on #9345
@jkotas is this unblocked now? the linkned issue is closed.

[2017-03-28 01:47] briansull commented on #10481
@JosephTremoulet Is also looking into this

[2017-03-28 01:56] jkotas commented on #9345
I think so. It was not really blocked on the linked issue to start with.

[2017-03-28 02:08] hughbe commented on #10487
Sorry I meant `dotnet/master`. I've been contributing to `apple/swift` a bit recently so always get confused!

[2017-03-28 04:15] danmosemsft commented on #10287
@tannergooding marked as future because I'm assuming this isn't a regression.

[2017-03-28 04:35] kouvel commented on #6055
It looks like we can't do anything about this, closing

[2017-03-28 04:35] #6055 closed

[2017-03-28 05:27] alexanderuv opened #10520 "Better diagnostic for native .dll loading errors (pass through dlerror)"
Hi
I am trying to write a .NET Core wrapper for the LLVM C Frontend. However I am having trouble with the runtime finding the dylib.

[code]

I've tried the project paths, the bin/debug/_target_/ path and nothing. Any clues about what I might be missing? or is this a bug?

[2017-03-28 06:28] kouvel opened #10521 "Several static methods on ThreadPool don't have consistent thread-safe behavior"
For example, `SetMinThreads` fails if called concurrently while another call is initializing the thread pool. It should be calling `EnsureInitialized` instead.

[2017-03-28 06:50] kouvel commented on #10521
Repro:

[code]

[2017-03-28 07:43] parjong opened #10523 "[x86/Linux] 'Unexpected node in impNormStructVal()' while running FX System.Collection tests"
CLR hits the following assert failure while running ``IDictionary_Generic_Add_DuplicateValue(count: 1)`` case:
[code]

[2017-03-28 07:43] hqueue commented on #10247
@hseok-oh I also found out that ildasm work well with `-native` option for  `System.Private.CoreLib.ni.dll`.
However still ildasm faced segfault for native image from ` JIT/CodeGenBringUpTests/Add1/Add1.exe` on x64.
I suspect that there can be some differences between native image for application and libarary, e.g. entry point and etc.

[2017-03-28 07:47] parjong commented on #10523
``oper`` seems to be ``GT_INT``.
[code]

[2017-03-28 07:54] parjong commented on #10523
@jkotas @janvorli Could you let me know who creates ``IL_STUB_InstantiatingStub``? ``ldc.i4  0xED93B060`` seems to cause this issue.

[2017-03-28 07:55] shahid-pk commented on #10520
i think dll import looks for .so or dylab in the os default location. for example i did not have to provide anything but just the name of libxcb for xwindows on linux and for cairo on linux.
https://github.com/shahid-pk/NetX/blob/master/NetX/Interop/LibXcb.cs
https://github.com/shahid-pk/NetX/blob/master/NetX/Interop/LibCairo.cs

[2017-03-28 08:08] ragmani commented on #10139
after #10378
[code]

When ni is not the same problem occurs.

[2017-03-28 08:19] janvorli commented on #10523
@parjong the CreateInstantiatingILStub method in the src/vm/prestub.cpp

[2017-03-28 08:28] parjong commented on #10523
@janvorli Thanks you!!

``ldc.i4       0xED93B060`` seems to be a ``pHiddenArg``. Is there any case that we do not need `pHiddenArg``?

[2017-03-28 08:39] janvorli commented on #10523
@parjong not in the case when there is an instantiating stub. The purpose of the instantiating stub is to add that argument.
But there are cases when the instantiating stub is not needed, e.g. when the target method is a member method and the "this" pointer type can serve as the generic context. So it is possible that in the problematic case, the stub should not be there. Could you please disass t

[2017-03-28 09:22] parjong commented on #10523
The target method seems to be ``System.SZArrayHelper.Contains``, but I couldn't get the disasm of this method:
[code]

[2017-03-28 09:57] parjong commented on #10523
It seems that there is a mismatch between argument order and signature order... Is this related with ``Target::ARG_ORDER_R2L``?

[2017-03-28 10:00] ipinak opened #10524 "Excessive VM memory consumption on Linux"
I have an ASP.NET app running on Docker (image: `microsoft/dotnet:1.1.1-sdk`). When we start the application it allocates ~11G of virtual memory. I have run the application directly on the host, i.e. without Docker, both on Windows and Ubuntu. I have noticed that in Windows is consumes 30MB of
`Memory (private working set)` and about the same for `Memory (shared working set)`, but on Ubuntu it sti

[2017-03-28 10:17] janvorli commented on #10523
@parjong I don't know. Have you found any evidence of the mismatch?
Btw, is this failure with the cdecl calling convention turned on or without it?

[2017-03-28 11:42] parjong commented on #10523
As I remember, I observed this issue from both calling conventions.

[2017-03-28 11:50] AntoineVht commented on #10279
When will it be available ? Thanks

[2017-03-28 12:21] janvorli commented on #10524
@ipinak Please note that this is just a reservation of virtual address space, not a physical memory. Since each process (on x64) has 128TB of virtual address space for its private use, this should not be a problem. This virtual memory is mostly an address space reserved for GC heaps and executable code.

[2017-03-28 12:37] mikedn commented on #10524
Also note that on Windows "working set" means something like the amount of committed memory that the OS thinks the application needs. It's not all the memory that the application has committed and it's certainly not reserved virtual address space which is very large on Windows too. For example, I have a running .NET application where VMMap shows 17GB of reserved virtual address space, 400MB of com

[2017-03-28 13:40] JosephTremoulet commented on #10481
Yeah, sorry, should have assigned to myself.  I'll do that now, but @BruceForstall (or @mikedn) let me know if you're already working up a fix and we'll avoid duplicating the work.

@mikedn, thanks for the analysis.  Looks like the assumption that the whole lclVar is made throughout the function, so the fix will just need some care to figure out make sure all the right parts change.  And I'm curio

[2017-03-28 14:15] mikedn commented on #10481
Sorry, I don't dare touching that particular code and morph code in general :)

Yes, I noticed that. It does extract the FieldSeq info but I don't think that can be used in this case, only the offset is safe.

Perhaps they aren't that rare but the combination we have here is not that common:
* copying from a field of a struct to another field of that struct
* the struct value has to be stored in a

[2017-03-28 15:28] lggomez opened #10526 "Refactor dotnet download code in init-tools.cmd"
The dotnet download code in the init-tools script is an [inlined](https://github.com/dotnet/coreclr/blob/master/init-tools.cmd#L51) powershell script that consists of several lines condensed on a single string line, which makes maintenance and debugging difficult for this case

My refactor proposal is extracting this code into a separate powershell script and passing the parameters accordingly, an

[2017-03-28 15:47] jkotas commented on #10523
It looks like a mismatch in the instantiation argument position. I think CreateInstantiatingILStubTargetSig needs to have ifdef for x86 similar to CreateInstantiatingILStub.

[2017-03-28 16:10] janvorli commented on #8441
@roterdam can you please check if things work for you now that the build scripts support VS2017?

[2017-03-28 16:41] bartonjs commented on #6536
https://github.com/dotnet/corefx/issues/9394 tracked removing the hard dependency on OpenSSL from .NET Core 2.0.  That work is now complete, so the next version won't have to workaround this problem.

For prosperity, the official workaround we recommended is:

[code]

(which assumes default Homebrew paths)

[2017-03-28 16:41] #6536 closed

[2017-03-28 16:46] tarekgh commented on #10390
Some update:

I have tried changing the implementation of _ecvrt to just call ecvt_r and I am seeing this is getting us back to Windows perf (and even a little bit better).

I used the loop:

[code]

on Windows 10 VM I got this executed in average of 650 ms
on Ubuntu VM (same Windows 10 VM configuration and running on the same host machine) I got 3600 ms
On same Ubuntu VM with using ecvt_r I got 5

[2017-03-28 16:48] ipinak commented on #10524
Thank you both @janvorli and @mikedn for the explanation. Is there any way to reduce that? Since I'm running on Docker, I'm thinking of using cgroups, do you have any opinion on that?

[2017-03-28 16:51] janvorli commented on #10524
@ipinak why would you want to reduce that? Are you hitting some problem related to that?

[2017-03-28 16:58] BruceForstall commented on #9591
@VSadov I don't have much experience with the C# spec, but I have a question: should the "checked" context apply to pointer arithmetic at all in C#?

[Here](https://github.com/dotnet/csharplang/blob/master/spec/expressions.md#the-checked-and-unchecked-operators) it says overflow checking applies to (for binary operators):
[code]
But it seems a pointer type is NOT an integral type. [Here](https://g

[2017-03-28 16:59] #8267 closed

[2017-03-28 17:03] robbpriestley commented on #10279
Sierra 10.2.4 is now being pushed as an update by Apple. I installed the update this morning and now I can no longer debug in VS Code ("Unable to attach to CoreCLR."). I believe this is the same issue reported above. I installed the latest .NET Core SDK (`dotnet --version` now says `1.0.1`). Is the fix available elsewhere, or any advice please?

[2017-03-28 17:27] mikedn commented on #9591
I'm not sure what the C# spec has to do with this. The spec dictates how this particular piece of code is supposed to behave. It doesn't dictate how the code is to be translated to IL or to be precise it doesn't say that the C# built-in operator `+(pointer, int) -> pointer` directly maps to the `add.ovf.un` IL instruction. If an additional cast is required then so be it, the C# compiler has to ins

[2017-03-28 17:39] mikem8361 commented on #10279
Here is a work around that worked for Gregg Miskelly:
1.	Download https://dotnet.myget.org/F/dotnet-core/api/v2/package/runtime.osx.10.10-x64.Microsoft.NETCore.Runtime.CoreCLR/1.1.2-servicing-25123-01
2.	Open the resulting file as a zip, and copy out runtimes/osx.10.10-x64/native/libdbgshim.dylib
3.	Open a terminal
4.	cd ~/.vscode/extensions/ms-vscode.csharp-1.8.0/.debugger
5.	cp <path-to-extracte

[2017-03-28 17:56] #5716 closed

[2017-03-28 18:04] karelz opened #10528 "Bundle latest cURL with fixes we care about"
Here's interesting list:
* Don't compile NSS version, it causes troubles - see https://github.com/dotnet/corefx/issues/16201
* cURL fix https://github.com/curl/curl/issues/1354 for https://github.com/dotnet/corefx/issues/17174

[2017-03-28 18:16] robbpriestley commented on #10279
Confirmed workaround works. Thanks for the info. When the real fix is released, will I need to "reverse" the workaround, or will installing the new software get me back to consistency?

[2017-03-28 18:22] stephentoub commented on #10528
On Linux we always want to use a version based on OpenSSL.  While we tolerate NSS and other backends, lots of features don't work when targeting those, e.g. custom handling of certificates, revocation checking, etc.

[2017-03-28 18:31] mikedn commented on #10423
Well, I was really curious what might come out of this experiment so I tried it:

![image](https://cloud.githubusercontent.com/assets/9973420/24421022/87695d9e-13fd-11e7-991d-25853c785cc0.png)

I've no idea what's up with `std::move` at the top. `OperGet` and `OperKind` shouldn't be surprising (though `OperKind` might deserve some attention, in some cases it's probably overkill). `BitSetOps::IsSho

[2017-03-28 18:55] JosephTremoulet commented on #10481
It looks like the places making that assumption are guarded by `destDoFldAsg`/`srcDoFldAsg`, which we only set if we're reading/writing the entire lclVar in question, so I think it really is just this one check that needs updating.

Can you explain why / what you mean by "safe"?  The [path where dest is a `GT_LCL_FIELD`](https://github.com/dotnet/coreclr/blob/master/src/jit/morph.cpp#L9627-L9632)

[2017-03-28 19:04] mikedn commented on #10481
What happens if explicit struct layout is used and 2 fields have the same offset? I suppose that we'll conclude that the fields are different and perform the copy even if it's not necessary. I would expect that in the worst case that would be just a CQ issue (and a really exotic one) but maybe there's a correctness issue as well? I don't know why the existing code comment says "it is not prudent t

[2017-03-28 19:09] tarekgh commented on #10390
I have tried the CoreRT implementation and I got the number 2200 which is faster than the current implementation by 1.6 times (this almost the same result that @jkotas got).

considering the results, it is clear now that the way we go for Linux is to use ecvt_r. we can consider the corert implementation for OSX. still not perfect but would be acceptable for v2.0.

what people think about this plan

[2017-03-28 19:16] tannergooding commented on #10390
I'm in favor of this. That will also give more time to ensure something like [Printing Floating-Point Numbers Quickly and Accurately](http://www.cs.indiana.edu/~dyb/pubs/FP-Printing-PLDI96.pdf) is implemented properly.

[2017-03-28 19:21] jkotas commented on #10390
You should verify the performance for variety of number (e.g. I would be curious about `Double.MaxValue/2`). If it all looks good, the plan sounds fine to me.

[2017-03-28 19:31] adityamandaleeka commented on #3939
As far as I can tell, we no longer have a problem with the main/original issue here (x86 tests trying to allocate too much memory and failing).

I'm going to open a separate issue specifically for the 544701 time-out @jkotas and @janvorli recently reported, so that this issue isn't just a catch-all for all GC failures. I've seen the time-out occur recently as well, and it's something we should inv

[2017-03-28 19:34] adityamandaleeka opened #10531 "GC_Regressions._v2_0_rtm_544701_544701_544701 times out occasionally in CI"
Examples:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/debug_windows_nt_prtest/4585/testReport/junit/GC_Regressions/_v2_0_rtm_544701_544701_544701_/_v2_0_rtm_544701_544701_544701_cmd/

https://ci.dot.net/job/dotnet_coreclr/job/master/job/debug_windows_nt_prtest/4681/testReport/junit/GC_Regressions/_v2_0_rtm_544701_544701_544701_/_v2_0_rtm_544701_544701_544701_cmd/