[2017-07-05 18:13] jashook opened #12644 "[*nix|arm64] canFastTailCall will always report false for non-enregisterable structs"
This only applies to the callee which makes this decision flawed. Note that because this bails and reports false it is not a correctness bug. It is just an incorrect fastTailCall decision. Note this decision makes #12468, #11717 and #12479 more difficult to hit.

This happens [here](https://github.com/dotnet/coreclr/blob/master/src/jit/morph.cpp#L7021).

category:cq
theme:tail-call
skill-level:int

[2017-07-05 18:14] jashook commented on #12644
/cc @RussKeldorph @dotnet/jit-contrib

[2017-07-05 18:28] sdmaclea commented on #12640
Profile shows most of the time being spent spinning in `SVR::t_join::join()`

[2017-07-05 19:34] sdmaclea commented on #12640
Reducing spin_count to 0 in `SVR::t_join::join()` improve performance 3x over gcServer=1 baseline.
Reducing spin_count to 0 everywhere in gc.cpp improved performance 6x over gcServer=1 baseline.

[2017-07-05 19:39] mikedn commented on #12639
One set of range checks that RangeCheck come from `impInitializeArrayIntrinsic`. For whatever reasons it uses `GT_INDEX` to obtain the address of the first array element - https://github.com/dotnet/coreclr/blob/master/src/jit/importer.cpp#L3270.

This seems like overkill. `GT_INDEX` will end up being morphed (which generates a bunch of IR) and then the range check needs to be eliminated. There's n

[2017-07-05 20:04] mikedn commented on #12639
Another set of range checks comes from earlyprop, it propagates constant array lengths and when the array index is also constant we end up with range checks like `GT_ARR_BOUNDS_CHECK(2, 3)`. Nothing until RangeCheck removes these useless checks, assertionprop even generates pointless assertions out of them.

Maybe these should be eliminated during earlyprop but for the sake of experimentation I ch

[2017-07-05 20:24] #12574 closed

[2017-07-05 20:29] BruceForstall commented on #12491
Or fixed.

There are lots of other valid test cases in this test that should stay.

[2017-07-05 20:30] jkotas commented on #12640
cc @vancem since he has been looking into how much spinning we do in various places

[2017-07-05 20:44] BruceForstall commented on #12598
If it is a bug in the printer, it would be great if you can fix that bug :-)

[2017-07-05 20:52] techyian opened #12645 "Could not resolve CoreCLR path - Raspberry Pi"
Hi,

I'm trying to run my application under .NET Core on a Raspberry Pi 2. The Pi is running Ubuntu Mate 16.04.2 LTS.

I've built my application under Windows using .NET Core SDK `2.1.0-preview1-006632` using `dotnet publish -r linux-arm` and this builds successfully. All publish files are present, however when I try to run the self-contained file, I receive the following error:

```Could not reso

[2017-07-05 21:00] vancem commented on #12640
@PeterSolMS  @brianrob  and @kouvel as well.  I have not looked at spins inside the GC (in particular t_join::join(), because they have not had a history of being a hot spot.

How many processors are we talking about during these tests?   Also what exactly is the benchmark doing?   The normal, TechEmpower 'plaintext' benchmark was very network bound, not GC bound.   The ASP.NET pipeline is designe

[2017-07-05 21:16] jkotas commented on #12491
They are redundant with tests in corefx ...

[2017-07-05 21:35] jkotas commented on #10380
GC PAL is incomplete in CoreRT - the performance related parts are missing:
- The concurrent/background GC is not enabled in CoreRT yet (it is the default in CoreCLR). You can try rerunning the CoreCLR with concurrent GC disabled to see whether it is causing the difference.
- The L1/L2 cache size detection is missing https://github.com/dotnet/corert/blob/master/src/Native/gc/unix/gcenv.unix.cpp#L3

[2017-07-05 21:38] noahfalk commented on #12617
In my example above it is already the case that no thread is executing inside Bar when it is replaced : ) However the main thorny issue is that trying to track thread entry/exit adds performance overhead to every method invocation. We want to try pretty hard to keep that overhead to the bare minimum.

[2017-07-05 21:48] noahfalk commented on #12610
ICorProfilerFunctionControl::SetILInstrumentedCodeMap will work, but it is orthogonal to the APIs above. The APIs above would be used in scenarios where you previously used GetILToNativeMapping1/2 and GetCodeCodeInfo1/2/3. For example in the past to map a native offset to an IL offset, may have called:

1. GetFunctionFromIP to learn the FunctionID
2. GetCodeInfo to determine the segments of memory

[2017-07-05 21:48] omariom commented on #12639
Are there perf tests for that?

[2017-07-05 21:49] Maoni0 commented on #12640
On machines with lots of processors actually join can be a hot spot but I've never seen a case as bad as "most of the time being spent in join". Something we wanted to look at was to see if we could make join more performant on many proc machines (eg, make it NUMA aware). Of course the perf is also drastically dependent on the workload - how distributed the work is on each proc? If you have say a

[2017-07-05 21:56] sdmaclea commented on #12640
@vancem The GC spin time is proportional to the number of processors in the system.  In `SVR::t_join::join()`  `int spin_count = 4096 * g_num_processors;`  So total cpu time spent spinning is propotional to cpu^2.  There are 48 cores running on the system I am measuring.   47 of them are not last, so must spin.

When I did the measurements, **I added an instruction barrier to `YieldProcessor()` to

[2017-07-05 22:01] sdmaclea commented on #12640
Without modification on general test cases.  I was seeing gcServer=1 20% slower than gcServer=0.

I will remake measurements w/o changes to YieldProcessor().

[2017-07-05 22:11] vancem commented on #12640
As @jkotas  mentions I am looking at spinning in other parts of the system (notably the 'lock' statement), and I believe we are doing it way to much there.    As @sdmaclea indicates, arguably spinning is something that low level constructs of the OS should do, and we (the higher levels of the stack) should simply call the OS functionality.     For locks we could not quite get to that point because

[2017-07-05 22:30] #12169 closed

[2017-07-05 22:31] SergeyKanzhelev commented on #12610
Just to confirm - when you call to `ICorProfilerFunctionControl::SetILInstrumentedCodeMap` it set's the mapping between new IL to old IL. And new IL is mapped to the native code. So customer's original instructions and source code will be mapped to the Native code by proxy.

Is it fair to say you only need proposed API when you change method body drastically? By drastically I mean not making an ad

[2017-07-05 22:36] sdmaclea commented on #12640
I reran w/o the YieldProcessor() modifications.  Performance of gcServer=1 increased by 2x.  So it only represents a 5x performance impact.  The revised profile shows `t_join::join()` as in the most significant backtraces (122 of top 168  (all back traces which represent > 0.1% of elapsed time)) (14 of top 20) (9 of top 10).

@Maoni0 I will see if I can get permission to share a profile.

@vancem

[2017-07-05 22:48] leecow commented on #12560
@swgillespie can you confirm that everything is covered and this can be closed?

[2017-07-05 22:49] swgillespie commented on #12560
Yep, with the merge of https://github.com/dotnet/coreclr/pull/12584 this can be closed.

[2017-07-05 22:49] #12560 closed

[2017-07-05 22:52] vancem commented on #12640
Indeed.  The GC goes to some trouble to affinitize a thread per core.     Note that I am not arguing that spinning is OK for the GC, only that IT SHOULD NOT AFFECT GC PERFORMANCE (how fast apps run) just CPU consumption during the GC.   Is this what you see?

The argument for spinning is that the value of other work you do does will not exceed the time you spend context switching, and switching ba

[2017-07-05 23:03] sdmaclea commented on #12640
The stimulus is being generated on the same machine as that creates the highest request/sec on x64 and arm64.  Performance is best when `wrk` uses 2 threads (x64 and arm64).  So there are a few busy CPUs on the system.

Performance is definitely still improved by not spinning.

It should be noted that the underlying pthread/kernel implementation may also be spinning to achieve the same hot wakeup

[2017-07-05 23:43] RussKeldorph commented on #8095
Closing presuming superseded by recent test runs.

@BruceForstall FYI

[2017-07-05 23:43] #8095 closed

[2017-07-06 00:41] parjong commented on #12645
When I build and publish a self-contained application on Linux (using .NET Core SDK ``2.0.0-preview2-006419``), it works well on Raspberry Pi 3  (running Raspbian).

Could you run your application after setting COREHOST_TRACE  as 1?

[2017-07-06 01:00] hseok-oh commented on #9488
This failure removed

[2017-07-06 01:00] #9488 closed

[2017-07-06 01:07] YongseopKim commented on #12626
@mskvortsov You're right. Sorry. I missed `COMPlus_AltJitAssertOnNYI=0`.

[2017-07-06 01:11] noahfalk commented on #12610
Nope : ) It sounds like you are analyzing this from the perspective of using ReJIT in the profiler, but ignore that part for the moment. Imagine that you have a simple profiler that never uses ReJIT or any form of IL instrumentation. The changes to the method body aren't coming from your profiler, they are coming from the runtime when it jits a method again using different jit optimization flags.

[2017-07-06 01:11] adityamandaleeka opened #12648 "Mask INJECT_ACTIVATION_SIGNAL while on alternate signal stack [2.0.0]"
_This issue is for tracking the port of https://github.com/dotnet/coreclr/pull/12606 to 2.0.0_

A quick summary of the issue: a thread can get an activation signal while on the parts of the SIGSEGV handler that run on the alternate signal stack. If that happens, we may run out of stack space in the code that handles the activation signal (to perform thread suspension) since the signal stack is not

[2017-07-06 01:34] erozenfeld commented on #12455
/cc: @dotnet/jit-contrib

[2017-07-06 01:45] YongseopKim commented on #12622
This assert failure has caused from below tests.
[code]

Two of the cse2_cs_xo have code for HFA. Because of not yet implemented HFA on arm32, I'll upload new patch only for DevDiv_278375.

[2017-07-06 01:53] YongseopKim commented on #12622
The reason why the assert failure causes on the test 'DevDiv_278375'
- Below struct is promoted while JITting.
[code]
[code]
[code]
After the struct lclVar is promoted, lvOnFrame of the lclVar is set to false and the fields become new lcl vars. The lvOnFrame's false value is producing thie assert failure. So, I'll pass not struct lclVar but the first field from the struct lclVar to lvaFrameAddress

[2017-07-06 01:54] YongseopKim commented on #12622
\cc @hseok-oh

[2017-07-06 02:16] scott-xu commented on #10843
@tarekgh is there any beta version of .NET Framework 4.7.1 that we can use?

[2017-07-06 02:18] tarekgh commented on #10843
@preetikr @AlexGhiondea could you please with @scott-xu question?

[2017-07-06 03:12] SergeyKanzhelev commented on #12610
no. Sorry

[2017-07-06 05:01] #12616 closed

[2017-07-06 05:01] wateret commented on #11223
Closing since #11281 is landed.

[2017-07-06 05:01] #11223 closed

[2017-07-06 05:02] wateret commented on #12598
@BruceForstall Sure I'll fix it soon.

[2017-07-06 05:13] wateret commented on #12598
When it crashes, the lvRegNum of the variable V01 is `r0` but it should've been `f?`.

[code]

When we look at the final local variable assignment table, it says V01 is `f16`(actually `d8` or `f16:f17`). lvRegNum for the variable must have been changed while Codegen.

I found the place where lclVarDsc's `lvRegNum` is updated.

[code]

It seems like the variable register should not be updated for t

[2017-07-06 05:17] mikedn commented on #12639
We'll see. I still have ~66% range checks to look at to tell what exactly RangeCheck is really good at :)

[2017-07-06 08:01] YongseopKim commented on #12622
I'll work on handling promoted struct for ryujit/arm32 on other issue. Before it, I'm going to push NYI code.

[2017-07-06 08:18] YongseopKim opened #12656 "[RyuJIT/ARM32] Assertion failed 'arg->OperGet() == GT_OBJ || arg->OperGet() == GT_FIELD_LIST'"
[code]

[2017-07-06 08:25] YongseopKim opened #12657 "[RyuJIT/ARM32] Implement handling promoted struct"
https://github.com/dotnet/coreclr/issues/12622

On RyuJIT/ARM32, handling promoted struct doesn't work properly.

[code]

codegen
[code]

[2017-07-06 08:26] YongseopKim commented on #12622
https://github.com/dotnet/coreclr/issues/12657

[2017-07-06 08:31] YongseopKim commented on #12657
\cc @hseok-oh

[2017-07-06 09:09] YongseopKim commented on #12657
/cc: @dotnet/arm32-contrib

[2017-07-06 09:09] YongseopKim commented on #12656
/cc: @dotnet/arm32-contrib

[2017-07-06 09:09] YongseopKim commented on #12622
/cc: @dotnet/arm32-contrib

[2017-07-06 09:10] #6214 closed

[2017-07-06 09:16] hqueue opened #12659 "[RyuJIT/ARM32] pImportSection == pModule->GetImportSectionForRVA(rva) in ExternalMethodFixupWorker"
With `COMPlus_AltJit=* COMPlus_AltJitAssertOnNYI=0` options, following assertion is observed.

[code]

## Failed tests
[code]

[2017-07-06 09:19] hqueue opened #12660 "[RyuJIT/ARM32] pImportSection == pModule->GetImportSectionForRVA(rva) in DynamicHelperFixup"
With COMPlus_AltJit=* COMPlus_AltJitAssertOnNYI=0 options, following assertion is observed.

[code]

## Failed tests
[code]

/cc: @dotnet/arm32-contrib

[2017-07-06 09:59] hqueue opened #12661 "[RyuJIT/ARM32] Unhandled Exception: System.DataMisalignedException"
With COMPlus_AltJit=* COMPlus_AltJitAssertOnNYI=0 options, following assertion is observed.
[code]

## Related test
[code]

/cc: @dotnet/arm32-contrib

[2017-07-06 10:04] mskvortsov commented on #12661
I'll look into this. #11284 is related.

[2017-07-06 10:34] sjsinju commented on #12659
@hqueue @BruceForstall  Please assign this to me.

[2017-07-06 10:34] sjsinju commented on #12660
@hqueue @BruceForstall  Please assign this to me.

[2017-07-06 12:00] kbaladurin opened #12663 "[RyuJIT] Opcode's offset calculation during importation"
In `Compiler::impImportBlockCode` method if opcode is `CEE_PREFIX1` firstly we change` codeAddr` and then calculate `opcodeOffs`:
[code]
The same situation for `PREFIX` label:
[code]
In this case for following IL code:
[code]
`opcodeOffs` for `callvirt` points to the 2nd byte of the instruction, because after processing `constrained.` we goto `PREFIX` label.
I think we should firstly calculate off

[2017-07-06 13:41] kbaladurin commented on #12663
cc @Dmitri-Botcharnikov @ayuckhulk

[2017-07-06 13:51] mmayr-at opened #12664 "Replacement/Alternative for MSCorPE API (ICeeFileGen) on CoreCLR"
Is there any official replacement or alternative for the MSCorPE API on CoreCLR? I use the `ICeeFileGen` interface on desktop CLR to create PE files with rewritten IL code/metadata, see https://github.com/dotnet/coreclr/issues/11173#issuecomment-297241911 for an example. The attached mscorlib_instrumented.zip was created with `ICeeFileGen`.

[2017-07-06 18:17] tijoytom commented on #12488
this should be fixed , @MattGal  update this issue when you get a change to fix the dependencies  for the test

[2017-07-06 18:19] MattGal commented on #12488
@wtgodbe can you look into this?  I'm happy to help for any infra-related questions but this is simply a matter of payload construction

[2017-07-06 18:28] #12661 closed

[2017-07-06 20:18] noahfalk commented on #12610
Nothing to be sorry about - thats good, it means you probably don't need to worry about these changes.

[2017-07-06 22:21] swgillespie commented on #12207
Since this commit ( https://github.com/dotnet/coreclr/commit/ee112f8a92c073b6b9b3fe16f7e5a9e7a5d35a2d ), it looks like this issue no longer repros on master. (The Long GC CI job is green now: https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_release_windows_nt_longgc/ ).

[2017-07-06 22:58] SimonCropp opened #12668 "Cant load non US resources in netcoreapp2.0"
* netcoreapp2.0. 2.0.0-preview2-006497
 * console app that is doing some basic assembly loading
 * australia culture

When i run i get the following exception

[code]

If i hack it back to US Culture it runs fine

[code]

[2017-07-06 23:18] BruceForstall commented on #12519
This is the same issue as #12488: it's a p/invoke test with a bunch of:
[code]
with the error:
[code]

[2017-07-06 23:19] BruceForstall commented on #12488
#12519 looks like the same failure as this.

[2017-07-06 23:30] tijoytom commented on #12519
All interop tests fail for the same reason , should be fix once @wtgodbe update the helix payload

[2017-07-06 23:32] BruceForstall commented on #12493
This failure is because the test is checking for `PROCESSOR_ARCHITECTURE==ARM` when it really should be checking for "CLR compiled by VC++ or CLANG" So, running on ARM on Windows gives the "Windows" result, not the "Linux" result.

[2017-07-06 23:37] #12466 closed

[2017-07-07 00:27] Petermarcu commented on #12207
So do we think newer optimization data fixed it?

[2017-07-07 00:29] swgillespie commented on #12207
I don't know if "fixed" it is the right word, but the optimization data is apparently different enough so that the compiler bug isn't hit anymore. I'd need to do a more thorough attempt to repro the issue to be sure (not sure who's working on this now, I can try if needed), but the CI being green is a pretty significant indicator that this is no longer relevant.

[2017-07-07 00:30] Maoni0 commented on #12207
Valentine's team is still looking at it as he's worried that this is just fixed by accident (if we increased the pgo # again it might be broken again). They compared the generated code which was inconclusive. Now I am helping them debug this from the GC's POV (ie, debug it like a heap corruption bug).

[2017-07-07 00:31] sdmaclea commented on #12640
Setting `COMPlus_GCHeapCount` <= 8 substantially helps..  Performance is pretty flat between 2 and 8 GCHeaps.

With that setting and various other changes it looks like performance of gcServer=1 is slightly better than gcServer=0. (~10%).

I will clean up my tip, and make more formal measurements.  I will get a before and after trace for default config vs. best config.

[2017-07-07 00:31] Petermarcu commented on #12207
Yeah, thats a little scary. It means new optimization data coming in isn't really that low risk and given we usually take refreshed towards the end of a release, that is worrying.

[2017-07-07 00:35] RussKeldorph commented on #12595
@dotnet/jit-contrib

[2017-07-07 01:05] scott-xu commented on #10843
@preetikr @AlexGhiondea

[2017-07-07 01:11] YongseopKim commented on #12657
Test Code
[code]

Run with `export COMPlus_AltJit="*" export COMPlus_AltJitAssertOnNYI=1`

[code]

[2017-07-07 01:24] #12465 closed

[2017-07-07 01:51] hseok-oh commented on #12601
OK. I'll check this.

[2017-07-07 03:02] jkotas commented on #12664
It is replace by managed APIs in System.Reflection.Metadata. Look for PEBuilder:  https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Metadata/ref/System.Reflection.Metadata.cs#L3159

cc @tmat

[2017-07-07 04:26] hseok-oh commented on #12601
We can resolve this by #12628

[2017-07-07 05:26] hqueue commented on #11841
I think we can close this, becasue this issue is a same to #12616 which is closed.

[2017-07-07 05:54] YongseopKim commented on #12656
I think lclVar struct which should be transformed into gtObj in gtCallLateArgs causes this assertion failed. If https://github.com/dotnet/coreclr/issues/11840 is solved, this issue will be done.

[code]

[2017-07-07 05:57] mikedn commented on #12595
Looks like we should be able to handle this by making the cast operand contained (when it's an indir). Codegen needs a bit of work, it doesn't seem possible to handle this right now.

[2017-07-07 06:03] #11841 closed

[2017-07-07 06:59] hqueue opened #12671 "[RyuJIT/ARM32] Unhandled Exception: System.MissingMethodException: Method not found: 'System.ReadOnlySpan`1<Char> System.SpanExtensions.AsSpan(System.String)'"
With `COMPlus_AltJit=* COMPlus_AltJitAssertOnNYI=0` options, following assertion is observed.

[code]

## Related test
[code]

/cc: @dotnet/arm32-contrib

[2017-07-07 08:03] tarurar opened #12672 "Unhandled Exception: System.DllNotFoundException: Unable to load DLL 'libproc'"
Getting the error while trying to run `dotnet run`:
[code]
The same error I got when I was trying to run `dotnet restore`.

Environment info:
[code]

The following file `/usr/lib/libproc.dylib` exists.

And here is the dump `otool -L /usr/lib/libproc.dylib`:
[code]

[2017-07-07 08:13] mmayr-at commented on #12664
Thx for that information. But I think using the managed API from native code, especially in combination with the profiling API, would not be easy at all, would it?

In addition the managed API would add an additional (managed) dependency to my application. Can I take it that the `Microsoft.Reflection.Metadata` is always present on CoreCLR?

The MSCorPE source still exists in CoreCLR, but is not pu

[2017-07-07 08:19] jkotas commented on #12671
This was fixed by https://github.com/dotnet/coreclr/pull/12414

[2017-07-07 08:19] #12671 closed

[2017-07-07 09:22] jkotas commented on #12664
We plan to focus on managed APIs for emitting managed assemblies going forward. For example, the APIs to emit portable PDBs are managed only. There is no unmanaged equivalent.

`System.Reflection.Metadata` is part of the shared .NET runtime today. If you use it in your app, you will have logical dependency on the nuget package. You just do not have to carry the physical copy with you if you publis

[2017-07-07 09:41] mmayr-at commented on #12664
Thanks for clarification. Maybe I'll give the managed API a try.

[2017-07-07 09:41] #12664 closed

[2017-07-07 10:17] ruben-ayrapetyan commented on #10380
@jkotas, Thank you very much for the advice.

We checked the CoreCLR with concurrent GC turned off.

In this configuration, CoreCLR consumes `2 times less RSS at peak`, and is about `30% faster` than CoreRT on the `binary-trees` benchmark.

[2017-07-07 10:50] jkotas commented on #10380
You may be running into https://github.com/dotnet/corert/issues/3784.

These kind of differences between CoreCLR and CoreRT are point-in-time problem. The GC perf characteristics should be within noise between CoreCLR and CoreRT by the time we are done.

[2017-07-07 11:17] ruben-ayrapetyan commented on #12643
@pgavlin, I'll take a look today or early next week.

[2017-07-07 12:19] ruben-ayrapetyan commented on #12643
Minimal test case:
[code]

Seems that failure is cause by incorrect copy of `FieldMarshaler`s in `EEClassLayoutInfo::CollectLayoutFieldMetadataThrowing`.

The function uses `memcpy` to copy the structures:
[code]

This became incorrect after the #11962, because after the change the `FieldMarshaler` structure contains relative pointer `RelativeFixupPointer<PTR_FieldDesc> m_pFD`, and so this should

[2017-07-07 14:19] ruben-ayrapetyan commented on #12643
@pgavlin, I checked the #12673 fix (b4131eab7371b3a34c76349771e8766037754bd9) for the failed tests from https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_ubuntu_pri1r2r_tst/2165/ locally (Linux.x64.Debug and Linux.x64.Release) - no fails occured with the fix.

[2017-07-07 15:12] #12615 closed

[2017-07-07 15:38] RehanSaeed opened #23757 "Dynamically Loading .NET Core Assemblies"
I've published an ASP.NET Core project to a folder and I'm trying to dynamically load the assembly containing the ASP.NET Core `Startup` class. I then want to instantiate the `Startup` class and hand it over to the `TestHost` API, so I can start the site in memory. I've written the following code:

[code]

This works when I publish the app as a self contained application, however, I'd like to avoi

[2017-07-07 16:45] BruceForstall commented on #12546
Looks the same as #12472

[2017-07-07 16:45] #12546 closed

[2017-07-07 16:58] #12519 closed

[2017-07-07 16:58] BruceForstall commented on #12518
I see this assert:
[code]

Note that this test has P/Invoke, so is probably is dependent on a fix for #12488.

[2017-07-07 16:58] mikedn commented on #12595
@RussKeldorph I'm working on a fix in #12676, you can assign to me

[2017-07-07 17:12] BruceForstall commented on #12494
This test should be disabled on arm (see #6217).

It already is disabled for Linux in testsUnsupportedOnARM32.txt.

@wtgodbe How should it be disabled for Windows?

[2017-07-07 17:19] BruceForstall commented on #12490
This test is already disabled for non-Windows in testsFailingOutsideWindows.txt, and for JIT x86 on Windows.

@wtgodbe How do we disable this test for ARM on Windows?

[2017-07-07 17:34] BruceForstall commented on #12518
Note that this test is in the testsFailingOutsideWindows.txt file.

[2017-07-07 17:38] BruceForstall commented on #12518
Dup of #8093

[2017-07-07 17:38] #12518 closed

[2017-07-07 17:40] BruceForstall commented on #2877
@jashook I'm going to close this.

[2017-07-07 17:40] #2877 closed

[2017-07-07 17:41] BruceForstall commented on #2441
@RussKeldorph Do we need to keep this issue open?

[2017-07-07 17:51] alpencolt commented on #11783
@BruceForstall  could you assign this issue to me?

[2017-07-07 18:03] BruceForstall commented on #1233
@JosephTremoulet Do you want to keep this open?

[2017-07-07 18:04] BruceForstall commented on #1521
@JosephTremoulet Do you want to keep this open?

[2017-07-07 18:07] BruceForstall commented on #2412
Dup of #12467

[2017-07-07 18:07] #2412 closed

[2017-07-07 18:08] BruceForstall commented on #2413
Dup of #12469

[2017-07-07 18:08] #2413 closed

[2017-07-07 18:09] BruceForstall commented on #2420
Test is invalid for x86 legacy backend, and has been disabled.

[2017-07-07 18:09] #2420 closed

[2017-07-07 18:10] BruceForstall commented on #2408
Obsolete bug; closing.

[2017-07-07 18:10] #2408 closed

[2017-07-07 18:26] BruceForstall commented on #2411
The varargs tests were removed with 0a427c6d6d87e69ce0f87dafd2f965ee989e6d29

[2017-07-07 18:26] #2411 closed

[2017-07-07 18:29] BruceForstall commented on #3552
It's not worth keeping this around.

[2017-07-07 18:29] #3552 closed

[2017-07-07 18:31] RussKeldorph commented on #2441
@BruceForstall If my last comment is no longer actionable or relevant, sure, close it.  Otherwise, I'd rather keep it open to track the gap in testing.

[2017-07-07 19:23] sdmaclea commented on #12640
I rebased this morning and the results are very different.  I suspect #12486 substantially improved the issue.

If I set `COMPlus_GCNoAffinitize`, the performance degrades much more than it did yesterday.

[2017-07-07 19:28] Maoni0 commented on #12640
@sdmaclea, what are the current results?

[2017-07-07 20:19] adityamandaleeka commented on #12672
Can you run `printenv | grep DYLD` in the shell where you're running dotnet and see if it prints anything?

[2017-07-07 20:21] tarurar commented on #12672
It prints nothing.

[2017-07-07 20:29] cmckinsey commented on #12207
I hear that the current theory is that there was a latent timing sensitive bug in background GC synchronization/locking code that was just being exposed by a PGO optimization kicking in ? Plz confirm?

[2017-07-07 20:39] Maoni0 commented on #12207
I dunno who you heard it from, @cmckinsey :) but my investigation from yesterday pointed out there's a bug in ZeroMemoryInGCHeap (which is used by ArrayClear which this test calls) where we deliberately need to clear memory by pointer size but instead the codegen "optimized" it to calling memset which clears by bytes. This is a problem regardless. And when background GC thread is reading a ref fie

[2017-07-07 20:39] adityamandaleeka commented on #12672
OK, with that ruled out, I'd suggest trying another approach before we reach for a debugger. Can you run the `fs_usage` tool to see where dotnet is looking for libproc from?

You can open a second shell and run `sudo fs_usage -w -f filesys dotnet | grep libproc` and then run your `dotnet run` command in the other shell. This should print a list of file system operations along with paths. For your

[2017-07-07 20:45] tarurar commented on #12672
Well .., here is the log:
[code]

[2017-07-07 20:48] sdmaclea commented on #12640
I haven't run a profile yet.  Best performance I have found so far is

With default configuration, COMPlus_gcServer=1 is 50% better than COMPlus_gcServer=0.

Best performance I have found so far is this configuration:
[code]

With that configuration performance is about 60% better than the same w/ COMPlus_gcServer=0.

[2017-07-07 20:52] sdmaclea commented on #12640
@Maoni0
Here is a brief profile of that configuration.
It includes only samples which occurred while running the test.
It includes all samples running in user space which accounted for 1% of total CPU runtime.
It only includes one extra level of backtrace.

[code]

[2017-07-07 20:54] adityamandaleeka commented on #12672
Well, that explains why it didn't find the one you have in /usr/lib... 😄

I'm downloading the 1.0.4 CLI tools now on my Mac to try this, and then we can compare the paths it searched.

[2017-07-07 20:55] dpodder commented on #12207
Following up on @Maoni0's update: [this](https://github.com/dotnet/coreclr/blob/614d5c7b21c7231e439f63891440b2f77e2e7344/src/vm/object.cpp#L2960) is the offending line, and I've now confirmed that disabling optimizations around exactly and only the [ZeroMemoryInGCHeap function](https://github.com/dotnet/coreclr/blob/614d5c7b21c7231e439f63891440b2f77e2e7344/src/vm/object.cpp#L2946) makes the test p

[2017-07-07 20:56] tarurar commented on #12672
@adityamandaleeka, thank you for helping me.

[2017-07-07 21:34] adityamandaleeka commented on #12672
@tarurar You're welcome, happy to help.

I downloaded the 1.0.4 CLI binaries and ran a couple of checks. It looks like in every case, the /usr/lib one is being probed, while in your fs_usage output, we never see `/usr/lib/*libproc*`.

I assume you used the installer to install the dotnet tools? If so, can you please try downloading [this tar.gz](https://download.microsoft.com/download/E/7/8/E78243

[2017-07-07 21:42] BruceForstall opened #12684 "[LEGACY_BACKEND] Assertion failed 'initVal->OperGet() == GT_CNS_INT'"
Tests failing in Windows arm32 legacy_backend test run.

[code]
Tests with failure:
[code]

[2017-07-07 21:46] BruceForstall opened #12685 "[LEGACY_BACKEND] Assertion failed '(op1->gtOper != GT_CNS_INT && ..."
Tests failing in Windows arm32 legacy_backend test run.
[code]
Tests with failure:
[code]

[2017-07-07 21:50] BruceForstall opened #12686 "[LEGACY_BACKEND] Assertion failed '(rsMaskUsed & regMask) == regMask'"
Tests failing in Windows arm32 legacy_backend test run.
[code]
Tests with failure:
[code]

[2017-07-07 21:54] Petermarcu commented on #12207
Do we think the fix then is to disable optimizations for that function? When can we have a PR up for that?

[2017-07-07 22:16] swgillespie commented on #12207
The similar issue https://github.com/dotnet/coreclr/pull/4341 fixed this problem by marking each write as volatile. It's still undefined behavior, technically, but it at least inhibits the `memset` optimization?

[2017-07-07 22:18] BruceForstall commented on #12686
@parjong I found 3 JIT asserts with arm32 LEGACY_BACKEND on Windows, running the coreclr tests. (this plus #12685, #12684). Isn't this something Samsung would have seen in testing? I'll plan to work on fixing them (for our UWP6.0 milestone), but maybe Samsung would want to fix one or more, also.

[2017-07-07 22:26] BruceForstall commented on #8091
I see the following failures with this assert:
[code]

[2017-07-07 22:32] Maoni0 commented on #12207
@dpodder is experimenting with fixes as we speak. He will also be doing some audits in our code base to see if this opt is being applied elsewhere where it shouldn't.

[2017-07-07 22:43] BruceForstall commented on #8549
@hseok-oh Is this issue still up-to-date and relevant?

[2017-07-07 23:45] BruceForstall commented on #8094
Covered by #12685

[2017-07-07 23:45] #8094 closed

[2017-07-07 23:50] cmckinsey commented on #12207
Thanks for the explanation @Maoni0.

@dpodder, I would expect casting to (volatile) to prevent the optimization. But are we sure the C++ compiler is allowed to legally make this transform? I was under the impression that a write to an aligned scalar is required to be atomic (i.e. compiler cannot decompose it, but can widen/vectorize it because that would still qualify as atomic)

[2017-07-07 23:54] BruceForstall commented on #7646
We are currently building `LEGACY_BACKEND` arm32 for Windows. If we decide to build JIT32/arm32, we'll create a new issue and do that work.

[2017-07-07 23:54] #7646 closed

[2017-07-07 23:55] BruceForstall commented on #8092
I don't see this failure, and because there are no test names listed here, I can't check those specifically.

[2017-07-07 23:55] #8092 closed

[2017-07-08 00:02] BruceForstall commented on #12470
Dup of #12491

[2017-07-08 00:02] #12470 closed

[2017-07-08 00:13] dpodder commented on #12207
@cmckinsey Correct, marking the target buffer volatile disables the optimization--and it's the exact fix we've decided to go with, given #4341 and the fact that this can happen on Clang/LLVM on other platforms as well.

@valenis talked with some folks who work on the compiler's backend, and per their guidance this is a valid optimization--and they also confirmed that casting to volatile is the cor

[2017-07-08 00:25] Maoni0 commented on #12207
@cmckinsey FWIW, I am with you - I don't think this should be a valid optimization. It's unreasonable to put this kind of burden on the users. Feel free to optimize by clearing multiples of what I am asking for at a time but when I am asking to set an aligned scalar type to 0, I should have the guarantee that it's atomic. If I want to clear by bytes I'd just call memset myself.

[2017-07-08 00:30] BruceForstall commented on #12472
Is R2R enabled for ARM? See #8002

[2017-07-08 00:32] BruceForstall commented on #12493
Fixed with #12683

[2017-07-08 00:32] #12493 closed

[2017-07-08 00:58] hseok-oh commented on #8549
We can follow remain one issue (cross-crossgen) on it's issue. So I think this issue can be closed.

[2017-07-08 00:58] #8549 closed

[2017-07-08 01:01] dpodder commented on #12207
Confirmed: the compiler optimization is valid. [This blog post](http://preshing.com/20130618/atomic-vs-non-atomic-operations/) has a good detailed explanation, but it comes down to the fact that the standard doesn't guarantee anywhere that scalar writes are atomic, unless they're wrapped in a C++11 construct like `std::atomic` or `std::mutex` to control access... and:

--<http://eel.is/c++draft/in

[2017-07-08 01:34] jkotas commented on #12668
cc @tarekgh

Looks like dup of https://github.com/dotnet/corefx/issues/21095

[2017-07-08 06:53] #12207 closed

[2017-07-08 09:49] jkotas opened #12691 "New tree walker consumes more stack space, leads to stackoverflow"
Forked from https://github.com/dotnet/coreclr/pull/12669#issuecomment-313788909

Repro: crossgen bigvtbl_cs_do.exe on Windows x64 Release (or trigger `Windows_NT Release r2r` in CI)

It crashes with stack overflow exception:

[code]

Introduced by https://github.com/dotnet/coreclr/pull/12487. The failure goes away if I revert this commit. The new tree walker consumes more stack space.

[2017-07-08 09:49] jkotas commented on #12691
cc @pgavlin

[2017-07-08 10:18] mikedn commented on #12691
Fun stuff. It looks like VC++ managed to turn the code upside down (indirect call inlining) so that `GenTreeVisitor<GenericTreeWalker<0,1,0,0,1> >::WalkTree` now contains a local variable of type `CORINFO_CALL_INFO` - a 448 bytes structure! Brilliant and dumb optimization at the same time :)

[2017-07-08 11:16] dduerner-ycwang commented on #1235
We weren't sure if this issue thread is still active or not. Or, if this is even still a problem or not.

We wanted to share our MemoryStreamNoLOH class just in case it might be useful in any way. Don't know if this was the kind of thing you were talking about, or not even close...just trying to help.

The MemoryStreamNoLOH class implements the stream interface (deriving from the base class Stream

[2017-07-08 11:16] mikedn commented on #12639
Another potentially interesting failure:
[code]
The loop is transformed into a do/while loop and 2 `OAK_NO_THROW` assertions are generated. Assertion prop doesn't merge them at PHI and RangeCheck ignores them completely so the unnecessary range check is not eliminated.

While not exactly common this pattern can be useful when you have a linked list implemented using array indices rather than objec

[2017-07-08 12:12] mikedn commented on #12639
Another type of range checks that RangeCheck eliminates look like the following:
[code]
Early prop runs very early (before VN and CSE) and has no way to propagate the array length so it's up to RangeCheck to figure it out.

Maybe assertion prop could extract as `OAK_NO_THROW` assertion from the array creation? Even if it can it's hard to tell if moving work from range check to assertion prop is us

[2017-07-08 13:51] mazong1123 commented on #10651
@jkotas @tarekgh I've prototype the paper roughly. Before I go further, I'd like to share the information I've learnt so far. With the algorithm,

1. `double.MinValue` can be exactly converted to a string `-17976931348623157` with an exponent value 308, same as full .net framework 4.6.1 and .net core 2.0.0-preview2-005905 using double.ToString("R"), but is more accurarte than using double.ToString

[2017-07-08 14:36] pgavlin commented on #12691
Alright, it looks like this is probably coming from [this code](https://github.com/dotnet/coreclr/blob/master/src/jit/flowgraph.cpp#L21796-L21798) in `Compiler::fgUpdateInlineReturnExpressionPlaceHolder`. Seems like an easy enough point fix.

[2017-07-08 14:58] mikedn commented on #12691
Hmm, I figured out that maybe I should check the previous version of the walker. The "problem" happens there too, in fact the frame is 16 bytes larger. Could it be that the actual change that triggered this is in the VC++ compiler and not in the JIT source code?

[2017-07-08 16:02] mikedn commented on #12639
Fun case:
[code]
Range check eliminated by loop cloning - after deriving loop cloning conditions it figures out that they're always true and eliminates the range check without actually cloning the loop. Good.

Same code but with `byte[]` instead of `int[]` - loop cloning fails and RangeCheck gets to eliminate the range check. Loop cloning fails because `optExtractArrIndex` looks for a `LSH(index,

[2017-07-09 00:04] #12691 closed

[2017-07-09 19:25] dpodder opened #12700 "Port fix of #12207 to release/2.0.0"
#12207 was a release-blocking bug, and was fixed in master by #12689. This issue tracks porting the trivial fix into release/2.0.0.

[2017-07-09 23:05] parjong commented on #12686
@BruceForstall We have been running regression tests using Release build as it takes too much time to run tests using Debug/Checked build. We have not seen these issues with Release build. We recently found #12685 while working on FX issues with Checked build, but I'm not sure whether it is under investigation.

@hseok-oh @hqueue Could you share the current status?

[2017-07-10 01:39] hseok-oh opened #12702 "[RyuJIT/ARM32] Unhandled Exception: System.FormatException: argument index"
Unhandled Exception: System.FormatException: Index (zero based) must be greater than or equal to zero and less than the size of the argument list.

[code]

<details><summary>159 tests</summary>

[code]
</details>

Unhandled Exception: System.TypeInitializationException: The type initializer for XXX threw an exception.
---> (....)
---> System.FormatException: Index (zero based) must be greater than

[2017-07-10 01:47] hseok-oh commented on #12702
It seems related to WriteLine method (or handling varargs),

[2017-07-10 02:20] hseok-oh commented on #12686
@parjong You mean `System.Runtime.dll` on checked coreclr build, right? Its assert failure messages are different, but seem similar. We didn't investigate these assert failures.

@BruceForstall Here is assertion message @parjong reported
[code]

[2017-07-10 02:30] YongseopKim opened #12703 "[RyuJIT/ARM32] Wrong generated code when processing PutArgSplit"
cs
[code]

Run
[code]

Jitdump of CallMyStruct
[code]

[code]

[2017-07-10 02:31] YongseopKim commented on #12703
/cc @dotnet/arm32-contrib

[2017-07-10 03:06] micli opened #12704 "Where is corerun ?"

[2017-07-10 03:13] micli opened #12705 "Where is corerun ?"
At the .NET Core debugging instruction markdown file
https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md
mentioned that:
Start lldb (the version the plugin was built with, currently 3.6): `lldb-3.6 corerun HelloWorld.exe linux`

But I cannot find corerun from official installation package.
If I compiled manually, I can find some corerun locations like thi

[2017-07-10 03:13] #12704 closed

[2017-07-10 04:25] richlander commented on #8895
SPARC processors are not on our roadmap. We're targeting x86/64 and ARM32/64. We have received very few requests for any other chips other than a few "would be nice" style requests. As always, we're happy to help others port the product to other platforms.

[2017-07-10 05:08] #12077 closed

[2017-07-10 05:09] hqueue commented on #6388
@chunseoklee Can you take a look at this ?

[2017-07-10 05:25] micli commented on #12705
Actually,  if you run `dotnet run` in .NET project folder, the compiled binary will be HelloWorld.dll not HelloWorld.exe . I don't know how to launch a HelloWorld.dll process by LLDB.

[2017-07-10 05:29] hqueue opened #12706 "[RyuJIT/ARM32] Assertion failed '!assignedInterval->isActive || isSecondHalfReg(physRegRecord, assignedInterval)'"
Related issue #11847

With `COMPlus_AltJit=testout1:Func_0_5_6_3  COMPlus_AltJitAssertOnNYI=0`,  `JIT/Methodical/fp/exgen/10w5d_cs_do/` failed with following assertion.

[code]

Same assertion has been reported and fixed before at #11847.
However this test was not failed at the time and it seems that previous fix does not cover every cases.
I'm going to look at this issue again.

/cc : @dotnet/arm

[2017-07-10 05:30] hqueue commented on #12706
@BruceForstall Please assign this to me.

[2017-07-10 05:55] #11927 closed

[2017-07-10 06:11] mikedn commented on #12705
I'm not exactly familiar with this but have you tried running via the dotnet command?

The instructions you're looking at are about debugging the runtime itself so they assume that you build it, use its own corerun and some test managed executable.

[2017-07-10 07:14] PrashanthIBM opened #12707 "LoadUnmanagedDllFromPath / LoadUnmanagedDll is not working on linux if .so file is present in any other path other than application output directory"
Hi ,

I have dependency on native(unmanaged dlls/ .so ) and currently i was setting the environment variable PATH/LD_LIBRARY_PATH variable to point to the location of unmanaged dlls.

After going through this link: https://github.com/dotnet/corefx/issues/3054

I implemented the loading of unmanaged dlls using the api "LoadUnmanagedDllFromPath" and its working on windows,

However the same code is

[2017-07-10 07:22] PrashanthIBM commented on #12707
@kouvel @joshfree @pgavlin @ellismg @terrajobst @rajansingh10 @karelz  Please provide your valuable inputs.

[2017-07-10 07:48] YongseopKim commented on #12703
@BruceForstall , I know I'm not included in dotnet/arm32-contrib. Could you add me, @wateret and @jyoungyun into the dotnet/arm32-contrib, please?

[2017-07-10 09:39] micli commented on #12705
@mikedn I know how to run a dll on Linux. But now I am going to debug process and have to lunch it by LLDB.

Finally I launched lldb with below command:
`lldb /usr/local/bin/dotnet ~/dotnet/demos/HelloWorld/bin/Debug/netcoreapp2.0/HelloWorld.dll`
It works.

It seems dotnet functionally replaced corerun. But the confused is that I did not find corerun in official .NET Core SDK package. But If I com

[2017-07-10 09:50] wateret commented on #11822
CodeGenBringUpTests Status (74a3f9691e490e9732da55c46b678159c64fae74 / 10, Jul)

[code]

Failed Tests

- JIT/CodeGenBringUpTests/DblArray/DblArray.sh
- JIT/CodeGenBringUpTests/FPArray/FPArray.sh
- JIT/CodeGenBringUpTests/FPConvI2F/FPConvI2F.sh
- JIT/CodeGenBringUpTests/OpMembersOfStructLocal/OpMembersOfStructLocal.sh

[2017-07-10 10:18] micli opened #12709 "Cannot post-mortem debugging core file which was generated by gcore"
I have a simple .NET Core console app for this testing:
using System;
using System.Diagnostics;
`namespace DumpMe
{
    class Program
    {
        static void Main(string[] args)
        {
            Console.WriteLine("Please Dump Me!");
            for(int i = 0; i < 30; i++)
                Console.Write("=");
            Console.WriteLine("");
            int processId = Process.GetCurrentPro

[2017-07-10 10:26] mikedn commented on #12705
Not really, as far as .NET Core is concerned dotnet is the way to run apps, that's how it has always been. corerun is a coreclr specific tool used to debug and test the runtime itself.

[2017-07-10 10:29] hqueue commented on #12685
I also confirm that this assertion is observed for above six tests.

@BruceForstall Do you have history for these test ? Because we don't have history of Checked/Debug build result, it would be helpful if there is a history to determine whether this is a regression or a silent bug reside for a long time.

[2017-07-10 10:34] hqueue commented on #12686
@BruceForstall I also observed one of above assertion while debugging ryujit/arm32 with legacyjit fallback.
And now I just reproduced all four tests failed with the assertion on Rpi3 Ubuntu 16.04. However I didn't look into this issues yet.

[2017-07-10 10:37] hqueue commented on #12684
I've also reproduced same assertion for above six tests on Rpi3 Ubuntu 16.04-arm.

[2017-07-10 11:11] hqueue commented on #8496
With recent commit 5041fa732b48728db01e9875358d6e564bd31548,
we can now run complex `HelloWorld.exe` with RyuJIT/ARM32 only, i.e. without legacy backend.
![image](https://user-images.githubusercontent.com/9247907/28015637-c5c4adaa-65ab-11e7-8d70-dc7086c1183a.png)

And all `JIT/CodeGenBringUpTests` tests passed with RyuJIT/ARM32 only too.
[code]

[2017-07-10 13:18] jkotas commented on #12705
Check https://docs.microsoft.com/en-us/dotnet/core/tutorials/netcore-hosting

dotnet is a more complex host that has built-in support for NuGet abstractions. You get it by default from .NET Core tooling.

corerun is simple host that runs whatever is in given directory. It tends to be preferred by engineers who work an low-level runtime.

Would you mind updating the debugging instructions to clarif

[2017-07-10 15:20] raffaeler opened #12711 "StringToCoTaskMemUTF8 perf issue"
I am using 2.0.0-preview1-005977
In a project I am marshalling strings from netcore to c++.
The code using StringToHGlobalUni on the net side and Unicode to UTF-8 on the C++ side is twice as fast in comparison to the code using StringToCoTaskMemUTF8 from netcore.
Of course I am measuring the whole roundtrip.
Is there any reason for that?

[2017-07-10 16:07] BruceForstall commented on #12703
Done. FYI, you can see all the members here: https://github.com/orgs/dotnet/teams/arm32-contrib/members

[2017-07-10 16:11] BruceForstall commented on #12685
I don't. This is the first time I've run this.

[2017-07-10 16:58] mjsabby opened #12713 "Methods with calli fail to inline because of unsupported opcode"
Today an occurrence of the calli opcode in a method body prevents it from being even considered as an inline candidates quite early on in the Flowgraph processing, while finding basic blocks and then jump targets.

Specifically in Compiler::fgFindJumpTargets(https://github.com/dotnet/coreclr/blob/master/src/jit/flowgraph.cpp#L4767)

            case CEE_CALLI:
            case CEE_LOCALLOC:

[2017-07-10 16:59] mjsabby commented on #12713
@AndyAyersMS

[2017-07-10 17:09] alpencolt commented on #11783
I've prepared small test where bug's reprodiced:
[code]

And before assertions it makes following IR:
[code]

So is it OK that there is `FIELD_LIST` instruction for sturct with one argument?
I've found `// We only build GT_FIELD_LISTs for MultiReg structs for the RyuJIT backend` comment in `morph.cpp`. Who is right?

[2017-07-10 17:14] tarekgh commented on #12668
@SimonCropp this looks same issue we fixed which @jkotas pointed at dotnet/corefx#21095. could you please try the latest netcoreapp package and let's know if the problem still there or not?

https://www.nuget.org/packages/Microsoft.NETCore.App/2.0.0-preview2-25407-01

Also if you have sample project you can share, we can validate that too. Thanks.

[2017-07-10 17:20] tijoytom commented on #12506
Dup of https://github.com/dotnet/coreclr/issues/12488

[2017-07-10 17:20] #12506 closed

[2017-07-10 17:21] tijoytom commented on #12509
Dup of https://github.com/dotnet/coreclr/issues/12488

[2017-07-10 17:21] #12509 closed

[2017-07-10 17:21] tijoytom commented on #12511
Dup of https://github.com/dotnet/coreclr/issues/12488

[2017-07-10 17:21] #12511 closed

[2017-07-10 17:21] tijoytom commented on #12512
Dup of https://github.com/dotnet/coreclr/issues/12488

[2017-07-10 17:21] #12512 closed

[2017-07-10 17:26] tijoytom commented on #12513
Dup of #12488

[2017-07-10 17:26] #12513 closed

[2017-07-10 17:26] tijoytom commented on #12514
Dup of #12488

[2017-07-10 17:26] #12514 closed

[2017-07-10 17:27] tijoytom commented on #12516
Dup of #12488

[2017-07-10 17:27] #12516 closed

[2017-07-10 17:27] tijoytom commented on #12515
Dup of #12488

[2017-07-10 17:27] #12515 closed

[2017-07-10 17:27] tijoytom commented on #12510
Dup of #12488

[2017-07-10 17:27] #12510 closed

[2017-07-10 17:27] tijoytom commented on #12520
Dup of #12488

[2017-07-10 17:27] #12520 closed

[2017-07-10 17:47] tarekgh commented on #10651
Yes this is expected to have ToString("R") is more accurate than ToString(). this is why we have "R" guarantee the round tripping but not ToString().

We need to validate parsing back the value produced from "R" is getting exact same number we originally started with before converting to string.

I was referring to "R". we understand ToString() without "R" doesn't produce accurate numbers. it more

[2017-07-10 18:02] #12700 closed

[2017-07-10 18:28] mikedn commented on #12639
So aside special cases like `byte[]` loop cloning takes care of the typical case:
[code]
when `a` is a local variable. RangeCheck helps again with the case when the array is field:
[code]
where loop cloning can't do anything because it runs too early. Which is kind of strange, why increase the IR size before running other optimizations?

[2017-07-10 18:33] wtgodbe commented on #12488
@tijoytom do we know what package contains the missing binaries here? I can update the dependency list once I know what needs to be added

[2017-07-10 18:37] #12171 closed

[2017-07-10 18:44] wtgodbe commented on #12494
https://github.com/dotnet/coreclr/pull/12717 should disable that test for ARM

[2017-07-10 20:10] wtgodbe commented on #12494
Will close this pending next Helix test run.

[2017-07-10 20:15] noahfalk opened #12719 "Improve SOS so that it displays profiler modified IL for functions"
When jitting fails we'd like to know whether the JIT was operating on the original IL or profiler modified IL. We should identify one or more commands to change/modify (!DumpMD is probably one) to expose this information. In the runtime this info can be found in Module->m_debuggerSpecificData.m_pTemporaryILBlobTable
BaseDomain->m_rejitMgr->m_table (which is in progress of being refactored to CodeV

[2017-07-10 20:25] noahfalk opened #12720 "Improve the error handling of jit failures to identify when profiler provided IL is in use"
When the JIT fails to compile IL, sometimes this is caused by bad IL that was provided by a profiler. In UnsafeJitFunction when we know the JIT has failed we could check whether or not a profiler is attached. We can update the error message to indicate that the IL which failed to compile was provided by a particular profiler dll. The error message shouldn't blame the profiler because without IL ve

[2017-07-10 21:40] adityamandaleeka commented on #12709
One problem I see is that you're not pointing lldb at the executable. Can you try `lldb -c DumpMe.core.28898 /path/to/dotnet`? In your case I guess the path is /opt/dotnet/dotnet based on the console output you pasted.

[2017-07-10 22:14] wtgodbe commented on #12491
@jkotas can you point me towards the test in CoreFX that this duplicates?

[2017-07-10 23:44] CarolEidt opened #12724 "[RyuJIT] Extract SIMD12 widening case from Lowering"
See the comment on https://github.com/dotnet/coreclr/pull/12674

[2017-07-10 23:55] helloguo opened #12725 "CoreCLR build fails on Ubuntu14.04 when libnuma-dev is installed"
CoreCLR can build successfully if libnuma-dev is not installed on Ubuntu14.04. However, it cannot build after libnuma-dev is installed.

Error msg:

[code]

[2017-07-11 00:08] glenster75 opened #12726 "Azure Active Directory on .NET core on a Mac"
I'm following the sample code from: https://azure.microsoft.com/en-us/resources/samples/active-directory-dotnet-webapp-openidconnect-aspnetcore/ On Windows 10 with Visual Studio 2017 it works fine, but when developing on my Mac, I cannot figure out why "await HttpContext.Authentication.ChallengeAsync" does not work on Mac. It crashes dotnet. Please see screenshot on my question on Twitter: https:/

[2017-07-11 00:27] CarolEidt commented on #7435
See the comment in `genCodeForStoreLclVar()`: https://github.com/dotnet/coreclr/blob/master/src/jit/codegenxarch.cpp#L4413

In my experience, this usually happens because the preferencing of the lclVar is set to something other than what it has recently been assigned. I suspect that some tuning of the heuristics used for preferencing (i.e. to better match what the lclVar is going to get assigned)

[2017-07-11 00:31] YongseopKim commented on #12703
@BruceForstall Thank you so much!

[2017-07-11 03:13] micli commented on #12709
@adityamandaleeka That works!
lldb -c DumpMe.core.28898 /usr/local/bin/dotnet
I don't know that must specify target when beginning post-mortem debugging before.

[2017-07-11 03:13] #12709 closed

[2017-07-11 05:42] PrashanthIBM commented on #12707
Any updates on this issue.

I have given all the required info to recreate the issue.

Do you need anything else ?

[2017-07-11 06:20] sjsinju commented on #12659
With COMPlus_AltJitNgen=* on running tests, it works well.

[2017-07-11 06:20] sjsinju commented on #12660
With COMPlus_AltJitNgen=* on running tests, it works well.

[2017-07-11 06:54] sjsinju opened #12733 "[RyuJIT/ARM32] Assertion failed '((consume == 0) && (produce == 0)) || (ComputeAvailableSrcCount(tree) == consume)'"
[code]

[code]

[2017-07-11 06:56] sjsinju opened #12734 "[RyuJIT/ARM32] Assertion failed 'varDsc->lvOnFrame'"
[code]

[code]

[2017-07-11 07:00] sjsinju commented on #12733
@BruceForstall Please assign this to me.

[2017-07-11 07:07] tmds commented on #11678
@janvorli I don't know if this a real issue. Feel free to close it isn't.

[2017-07-11 07:23] jkotas commented on #11678
This is expected. See https://github.com/dotnet/coreclr/issues/5739 and related issues.

[2017-07-11 07:23] #11678 closed

[2017-07-11 07:43] wateret commented on #12686
@BruceForstall Are you looking at those arm32/legacy_backend issues? Or I'd like to take a look at them.

[2017-07-11 08:53] sjsinju commented on #12733
Fixed with #12628

[2017-07-11 08:53] #12733 closed

[2017-07-11 09:03] hqueue opened #12736 "[RyuJIT/ARM32][Question] status of JIT/superpmi/superpmicollect/superpmicollect.sh"
When running with `COMPlus_AltJit=*`, following test is PASSED with `COMPlus_AltJit already exists: skipping SuperPMI collection and returning success` message.

Can we just skip and consider it PASSED ?

[code]

[2017-07-11 09:55] FrancoisBeaune opened #12737 "Math.Cos() precision"
The following C# program computes the cosine of 4203708359 (which can be exactly represented in double precision):
[code]

Regardless of the platform target (Any CPU, x86, x64), in both Debug and Release, this program outputs the following value:

    -0.579777545194404

Here is the equivalent C program compiled with Visual Studio 2017:
[code]

and its output value (x64, Debug or Release):

    -0

[2017-07-11 10:11] mattwarren commented on #12720
Out of interest, is the plan to use [ILVerify](https://github.com/dotnet/corert/tree/master/src/ILVerify) for that task or something else?

[2017-07-11 11:16] mattwarren commented on #12737
Ah, the joys of following FCall and Intrinsic method calls/implementations through the CoreCLR source, welcome to the club!!

I *think* it's wired up via [this code](https://github.com/dotnet/coreclr/blob/13e7c4368da664a8b50228b1a5ef01a660fbb2dd/src/vm/ecalllist.h#L661) to the [implementation here](https://github.com/dotnet/coreclr/blob/395f145ba0c220afb1d85ff8c26f34909d8ea424/src/classlibnative/f

[2017-07-11 11:47] mikedn commented on #12737
When running using which runtime? The current .NET Core build produces -0.579777545198813 on x86 and -0.579777545194404 on x86.

and VC++ 2017's output value on x86 is -0.579777545194404.

It all comes down to whether the generated code is using a "proper" cosine calculation function or the x87 `fcos` instruction which is not very accurate.

[2017-07-11 11:54] FrancoisBeaune commented on #12737
Sorry I forgot to mention, I'm using .NET Framework 4.6.2.

Good point, I somehow missed that.

That was indeed my suspicion.

Alright so I think the case is closed, I've got answers to all my questions, thanks for the quick replies!

[2017-07-11 11:54] #12737 closed

[2017-07-11 12:11] mikedn commented on #12737
Note that .NET Framework "insists" in using `fcos`, even on x64 (where x87 instructions are not normally used). .NET Core just calls C's `cos` function and so it inherits its (good or bad) behavior.

[2017-07-11 12:14] akarimovbytewerk opened #12738 "Could not load file or assembly System.Net.Http in NET Core 2.0.0-preview2-25407-01"
Hello, I'm facing with a problem:

Could not load file or assembly 'System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified.
when trying to interact with HttpClient inside net core library, which is loaded as dynamic library with AssemblyLoader
[code]
Library source:
[code]

[2017-07-11 13:16] danwalmsley opened #12739 "Unable to run dotnet core application on Mac using dotnet command, but works under vscode"
Basically I have an application written for netcoreapp2.0

It runs perfectly via vscode debugger with setting

`"console": "internalConsole"` (I mention this as it may be a clue to what is happening)

If I tell vscode to use external console or...

If I run it through the terminal on mac and do dotnet ./myapp.dll

I starts to load and crashes with

[code]

How can it be the case it works under vsc

[2017-07-11 13:30] roxanabeloiu opened #12740 "Unable to parse a single number for Version class"
If I want to parse a number as string, the method should set up the major value for a Version object.
Version.Parse("4"); - generates error
but
Version.Parse("4.0"); - works

[2017-07-11 13:47] preetikr commented on #10843
@scott-xu we do not have a .NET 4.7.1 Preview yet and are working on a plan for this. You should be hearing from us on this.

[2017-07-11 14:16] akarimovbytewerk commented on #12738
Found a temporary solution in https://github.com/Particular/Workshop.Microservices/issues/64

[2017-07-11 14:16] #12738 closed

[2017-07-11 14:24] akarimovbytewerk commented on #12738
And duplicate https://github.com/dotnet/corefx/issues/11639

[2017-07-11 14:40] akarimovbytewerk commented on #12738
The final solution is using the following code:
[code]
instead of
[code]

[2017-07-11 15:50] JordanZaerr opened #12744 "7!"

[2017-07-11 15:50] #12744 closed

[2017-07-11 16:27] CarolEidt opened #12745 "[RyuJIT][ARM] GT_COPY has wrong semantics for arg copy"
The ARM RyuJIT backend currently uses `GT_COPY` to move floating point arguments from the floating point to the integer registers, for both the armel and the varargs case (see `Lowering::LowerArg()` in lower.cpp). The semantics of `GT_COPY` are that the copy happens at the point of use, unlike most IR nodes where they happen at the location of the defining node. This is problematic if there are an

[2017-07-11 16:28] CarolEidt commented on #12745
See also #12654

[2017-07-11 16:35] gbalykov commented on #12659
I have checked that readytorun.tests.mainv1.mainv1 test passes on 905efa9828b0b02fcbfd339d155982aa4b36f8be and fails on the next commit, which is 9255b5ea1acac68f62207f03dab509de97da93a9 (pull request #12244). Also, readytorun.tests.mainv1.mainv1 test passes on current master with reverted changes of 9255b5ea1acac68f62207f03dab509de97da93a9

[2017-07-11 16:36] gbalykov commented on #12660
I have checked that readytorun.tests.genericsload.callgenericctor.callgenericctor test passes on e3e870ed7d5d6bf92a740712385ede9346c31262 and fails on the next commit, which is 73287a13f4028835182126b93f3935b6e99cb0aa (pull request #12104). Also readytorun.tests.genericsload.callgenericctor.callgenericctor test passes on current master with reverted changes of 73287a13f4028835182126b93f3935b6e99cb

[2017-07-11 16:52] 4creators commented on #12725
The same issue exists for WSL Ubuntu 16.04.2 LTS on Windows 10 Creators Update

[2017-07-11 17:22] tijoytom commented on #12711
@raffaeler Thanks for trying out StringToCoTaskMemUTF8 . Unfortunately i can't answer your question without doing any real performance measurement.But to give you some context StringToCoTaskMemUTF8
will internally use "system.text.encoding.utf8" string methods to do it job and System.Text.Encoding.Utf8 are supposed to perform well.  But said that i don't know how they compare to STL routines ,  I

[2017-07-11 17:26] #12724 closed

[2017-07-11 17:30] BruceForstall commented on #12686
@wateret I am looking at these issues (along with @jashook and potentially others), but I'd be happy to have you look at them. Can you look at #12684?

[2017-07-11 17:38] BruceForstall commented on #12736
@hqueue This is a limitation of the way the SuperPMI test works: the test itself sets COMPlus_AltJit, so if COMPlus_AltJit is already set, there is a kind of collision, and it can't do its job.

If you really want to test RyuJIT/arm32, you'll need to build it as the "main" JIT (don't define ALT_JIT in the build, and name it clrjit.dll), then run the test without setting COMPlus_AltJit.

I don't th

[2017-07-11 18:39] techyian commented on #12645
Can confirm a HelloWorld app created using `dotnet console new` works correctly when publishing for linux-arm. However the project I'm having issues with has 3rd party project dependencies. Going to do some more digging and see if I can figure out what's going on.

[2017-07-11 18:55] techyian commented on #12645
It seems to be the following causing the problem in the csproj file:

`<RuntimeIdentifiers>linux-arm</RuntimeIdentifiers>`

The csproj file generated by `dotnet console new` does not include this, but running `dotnet publish -r linux-arm` still works without issue. Removing this from my csproj file fixes the problem.

The instructions found [here](https://github.com/dotnet/core/blob/master/samples

[2017-07-11 20:59] JosephTremoulet commented on #1233
Ok, I'll close this since it's been idle for so long; it can always be reopened if/when dotnet/llilc#711 is picked back up.

[2017-07-11 21:00] #1233 closed

[2017-07-11 21:05] JosephTremoulet commented on #1521
Seems like it would be bad form to close this without reverting the objectionable part of [D12679](https://reviews.llvm.org/D12679) that's working around it.

[2017-07-11 21:29] noahfalk commented on #12720
I really had no plan yet, just wanted to point out that it seemed useful but it was out of scope for this particular work item. If anyone wants to work on it I'm happy to have you or someone else in the community make a proposal for how it should be done : )  If we go down that route lets open a new work item for it. Thanks Matt!

[2017-07-11 22:20] tijoytom commented on #12472
R2R not ready for ARM yet? Moving out of UWP6.0

[2017-07-11 22:21] tijoytom commented on #12523
Another R2R test

[2017-07-11 22:21] tijoytom commented on #12565
R2R

[2017-07-11 22:41] AlexGhiondea commented on #12522
@tarekgh could you take a look?

[2017-07-11 23:18] hqueue commented on #12736
@BruceForstall Thank you for the detailed explanation.
If so, I also think that it's not necessary now and let's leave it for future task until ryujit/arm32 can be default jit.

[2017-07-12 00:04] AndyAyersMS commented on #12596
I can repro this on Ubuntu 14.04 with preview2. When running a debug build the jit will get stuck in an infinite loop in `LinearScan::BuildRefPositionsForNode`. Not sure exactly why; dropping in a checked jit causes it to crash much earlier during importation. On windows (both debug & release) the app will crash in the jit, and it will also crash in release on Ubuntu.

The jit takes some precautio

[2017-07-12 00:46] andy-hanson commented on #12596
I didn't realize this IL was invalid, once the return type is fixed -- and fixing the return type doesn't change the behavior.

[2017-07-12 01:10] BruceForstall commented on #12686
@wateret Actually, I've been looking at #12684. Can you look at this issue (#12686)?

[2017-07-12 01:15] parjong commented on #12645
I'm not sure, but it seems that [cli repo](https://github.com/dotnet/cli) is better fit for this kind of questions.

[2017-07-12 01:28] AndyAyersMS commented on #12596
Sorry, I should have been a bit less cryptic in my reply.

Instance methods called on structs -- like the `Self` in your example -- expect you to pass the *address* of the struct as `this`. So you should use `ldsflda` in your IL instead of `ldsfld`.

[2017-07-12 01:37] wateret commented on #12686
@BruceForstall OK, I'll look at this issue :D

[2017-07-12 01:48] wateret commented on #12686
Backtrace on RPi3/Ubuntu1404

[code]

[2017-07-12 01:52] hseok-oh commented on #12686
@wateret @BruceForstall I'm looking at different assert failure: `isRegPairType(tree->gtType)`. I'll make new issue.

[2017-07-12 01:56] hseok-oh opened #12757 "[LEGACY_BACKEND] Assertion failure 'isRegPairType(tree->gtType)'"
Test failing in
- Linux arm32 legacy backend (Checked build)
- CoreFX test run `System.Runtime.Tests.dll`)

[code]

[2017-07-12 02:00] hseok-oh commented on #12703
@YongseopKim Fixed by #12710. Please close this issue.

[2017-07-12 02:01] hseok-oh commented on #12702
Fixed by #12710

[2017-07-12 02:01] #12702 closed

[2017-07-12 02:03] hseok-oh commented on #12602
Fixed by #12628

[2017-07-12 02:03] #12602 closed

[2017-07-12 02:07] hseok-oh commented on #11833
@BruceForstall Could we close this issue? I think it was fixed by #12451

[2017-07-12 02:55] andy-hanson commented on #12596
Thanks!

[2017-07-12 05:00] hseok-oh commented on #12757
It failed because of il code.
https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/TestModule/System.Reflection.TestModule.il
[code]
load constant int32 2 and store to int64(long) static field.

on arm32, after importing
[code]

but on x86, after importing
[code]
The importer generate additional casting node. According to comment in importer.cpp, importer handle this on x86 by add

[2017-07-12 05:17] #12703 closed

[2017-07-12 05:17] #11833 closed

[2017-07-12 05:21] BruceForstall commented on #12757
Based on the importer comment, it seems like this is not legal IL. @dotnet/jit-contrib Any other opinions?

[2017-07-12 06:26] lemmaa opened #12759 "The culture / locale behavior for multi-language support varies between platforms and tools."
I recently experienced a problem with some tests related to Culture / Locale support.
I have done some testing for multi-language support. The result is a different behavior depending on the platform and tools.

* For unsupported cultures, the results for CLI and VS2017 are different on Windows 10 as well.
* `Ckb-IQ` and` ku-arab-IQ` are the same locale, which is recognized correctly on Windows 10

[2017-07-12 07:38] erozenfeld opened #12761 "Bug in recursive tail call elimination"
Tail recursion elimination transforms a tail call into a loop.
If compInitMem is set, we may need to zero-initialize some locals on every iteration of the loop.
That currently doesn't happen, which results in silent bad codegen if some of the locals are not explicitly initialized in il. That doesn't happen in normal C# code but can happen with hand-written il or dynamic methods.

Here is an exampl

[2017-07-12 08:31] sjsinju commented on #12734
@BruceForstall Please assign this to me.

[2017-07-12 08:48] wateret commented on #12686
It looks like in the case of false of [this condition](https://github.com/dotnet/coreclr/blob/eeaac091084e0e582a8a66b5bc0ca7e93115dc00/src/jit/codegenlegacy.cpp#L9628), we do not set `RBM_ARG_2` as used for `regSet`.

At the time of assertion failure: `(rsMaskUsed & regMask) == regMask`, the value of rsMaskUsed is 0x403 and regMask is `0x7`, which means `r2` is not set but it should have.

[2017-07-12 08:57] hseok-oh commented on #12734
@sjsinju This issue may be related with #12708.

[2017-07-12 09:01] sjsinju commented on #12734
@hseok-oh Yes. You're right. Thank you.

[2017-07-12 10:35] wateret commented on #11822
HelloWorld.exe (graphical) app ran successfully with (359c135052b8db8e4a0045a42a9a3273336ed792 / 10, Jul).

<img width="548" alt="screen shot 2017-07-12 at 7 35 24 pm" src="https://user-images.githubusercontent.com/10582184/28113859-4a4137ea-6739-11e7-9bb4-05ef26b4ca61.png">

[2017-07-12 10:50] raffaeler opened #12764 "Assembly.LoadFrom throws 'already loaded' even if the assembly is not in memory"
I am using 2.0.0-preview1-005977.
I have a Self Contained Deployment folder with all the needed dependencies to run my code.
The hosting part (exe) is in C++, so I load the CLR, create the AppDomain, load a first Assembly and everything works fine.

Later on, when C++ requests for it, I execute some .net code that execute an Assembly.LoadFrom(fullpathassemblyname.dll).
This causes the following ex

[2017-07-12 10:55] raffaeler commented on #12711
@tijoytom Thanks for your answer.
I will try to set-up a small benchmark for this but it is not straightforward for me in this moment.

I opted to switch to the StringToCoTaskMemUTF8 because I hope the proposal to convert the internal binary representation of NETCore Strings to UTF-8 becomes reality. In that case it would be far easier for me to convert the marshalling code (it would probably work

[2017-07-12 14:18] ruben-ayrapetyan opened #12765 "[Question] SHMInitialize, SHMAlloc"
Hello.

There is following code in `shmemory.cpp`:
[code]

Is the "`// Not really shared in CoreCLR; we don't try to talk to other CoreCLRs`" comment still correct?
Then, the `SHM`-allocated memory is not shared with other processes in any case, is it so?

cc @lemmaa @Dmitri-Botcharnikov @gbalykov @kvochko

[2017-07-12 14:19] ruben-ayrapetyan commented on #12765
@janvorli, could you, please, take a look?

[2017-07-12 15:14] tannergooding commented on #12737
As @mikedn said, netfx insists on using `fcos` (which has its own issues). x64 uses it because of a long since closed bug in MSVCRT that caused the CRT implementation to be significantly slower. x86 uses it because the legacy JIT didn't require SSE/SSE2 instructions, so they were not necessarily available for use in the CRT functions. The `System.Math` (and now `System.MathF`) functions (on .NET C

[2017-07-12 15:33] #12686 closed

[2017-07-12 15:34] RussKeldorph commented on #6397
Perhaps [another](https://ci.dot.net/job/dotnet_coreclr/job/release_2.0.0/job/x64_release_windows_nt_pri1_prtest/314/consoleText) with slightly different output.

[code]

[2017-07-12 15:35] #12598 closed

[2017-07-12 18:36] AndyAyersMS commented on #12596
Are you ok with closing this, or do you think we need to work on hardening the jit to reject this kind of IL?

[2017-07-12 19:59] tarekgh commented on #12522
https://github.com/dotnet/coreclr/issues/12488

I looked at this issue and the problem is the test has dll import to load the native fpcw.dll library and we fail loading it and then the test will just exit. talked offline to @wtgodbe and @tijoytom and confirmed this is known issue because of missing dependencies and @wtgodbe  is working on the fix.

[2017-07-12 20:04] RussKeldorph commented on #12761
Fixed by #12735.

[2017-07-12 20:04] #12761 closed

[2017-07-12 20:09] RussKeldorph commented on #12663
@dotnet/jit-contrib

[2017-07-12 20:11] RussKeldorph commented on #12736
Assuming this is answered.  Reopen if not.

[2017-07-12 20:11] #12736 closed

[2017-07-12 20:20] jkotas commented on #12491
These are corefx test cases for Join:

https://github.com/dotnet/corefx/blob/feb58b21e57401169856ec0a4c221ec2460042c8/src/System.Runtime/tests/System/StringTests.cs#L1751
https://github.com/dotnet/corefx/blob/feb58b21e57401169856ec0a4c221ec2460042c8/src/System.Runtime/tests/System/StringTests.cs#L1788
https://github.com/dotnet/corefx/blob/feb58b21e57401169856ec0a4c221ec2460042c8/src/System.Runtime

[2017-07-12 20:53] jkotas commented on #12645
cc @Petermarcu since he has been maintaining the instructions at https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md

[2017-07-12 21:01] ChrisAhna opened #12780 "ReaderWriterLockSlim scales badly if high contention is generated across lots of processors"
Experiments indicate that ReaderWriterLockSlim basically "falls apart" (i.e., generates catastrophically bad throughput) whenever it is subjected to high contention generated across a large number of processors.

I have been using the following test app to investigate this (against .NET 4.7): https://gist.github.com/ChrisAhna/37731dc47c30fa4080e9b21f5158bd14

Running on a 16-core machine with Hype

[2017-07-12 21:14] tannergooding opened #12782 "Consider deleting the CoreMangLib tests and instead running a binary drop of corresponding CoreFX tests"
As per the discussion here: https://github.com/dotnet/coreclr/pull/12755#issuecomment-314896715.

The CoreMangLib represent a set of tests which often duplicate test coverage that exists in CoreFX. Additionally, the subset of tests that are duplicated represent a very small portion of the actual code-base.

We should consider deleting the CoreMangLib tests and running a binary drop of CoreFX tests

[2017-07-12 21:14] jkotas commented on #12726
This issue was moved to dotnet/corefx#22172

[2017-07-12 21:14] #12726 closed

[2017-07-12 21:32] briansull commented on #12093
[code]

[2017-07-12 21:46] tarekgh commented on #12759
net core read the globalization data from the OS. we on't carry any data. on Windows we use Windows Win32 APIs to get the data. Starting Windows 10, Windows is using CLDR data with some small exceptions which differ than CLDR. on OSX/Linux we use ICU version installed on the system. this is by design to have parity with the underlying OS. if you want to ask for any data change, you can request the

[2017-07-12 21:46] #12759 closed

[2017-07-12 21:50] gkhanna79 commented on #12739
@steveharter should be able to help out here.

[2017-07-12 21:54] gkhanna79 commented on #12707
LoadUnmanagedDllFromPath is a simple wrapper around https://github.com/dotnet/coreclr/blob/13e7c4368da664a8b50228b1a5ef01a660fbb2dd/src/vm/assemblynative.cpp#L319 calling into Interop layer. @yizhang82 can help figure out what is going on.

[2017-07-12 21:55] gkhanna79 commented on #12764
Is the assembly being loaded present on the TPA path you constructed for your host?

[2017-07-12 22:06] raffaeler commented on #12764
Yes it is, but given that I will allow others to 'drop' other assemblies in any folder, I would prefer not to make special cases for the assemblies in TPA.
Does this change the LoadFrom behavior? It never did AFAIR.

[2017-07-12 22:21] gkhanna79 commented on #12764
.NET Core Binder/Loader are very different, by design, from Desktop Loader. Please see https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/assemblyloadcontext.md for details. Assembly.LoadFrom is equivalent to loading in DefaultContext.

We are running into a failure at https://github.com/dotnet/coreclr/blob/13e7c4368da664a8b50228b1a5ef01a660fbb2dd/src/vm/assemblynative.cpp#L23

[2017-07-12 23:56] andy-hanson commented on #12596
When I originally ran into this issue, it was in this case:

My expectation was that IL was like Java bytecode, and must be validated for security reasons. This seems to hint at an ability to get arbitrary machine code to execute.

Is there perhaps a separate tool I could use to validate IL before executing it?

[2017-07-13 01:17] Suryamadhan opened #12790 "Building tests not successful on Mac OSX 10.12"
Hi,
I was trying to build CoreCLR tests this evening on my MacBook, and the build failed. I was able to clone coreCLR yesterday and build coreCLR successfully today. But when I built the test using
```./build-test.sh -rebuild```. I ran into the following errors:
[code]
Here is the Nuget.Target file:
[NuGet.targets.zip](https://github.com/dotnet/coreclr/files/1143763/NuGet.targets.zip)

[2017-07-13 01:46] sjsinju commented on #12734
Fixed with #12708

[2017-07-13 01:46] #12734 closed

[2017-07-13 02:46] wateret commented on #11822
CodeGenBringUpTests Status (0b22c4c4670c45b2b0034683697400a4e48699a5 / 12, Jul)

[code]

We're done with CodegenBringUpTests!

[2017-07-13 05:51] PrashanthIBM commented on #12707
Hi @gkhanna79 , @yizhang82 : did you try the repro i have shared here. Any info on why it is not working ?

Is it a defect ?

[2017-07-13 06:14] raffaeler commented on #12764
I still don't get the problem.
Since I can it using Assembly.LoadFile, I know the assembly is good and the path is correct.
Also, even after failing with LoadFrom, the load succeeds if I invoke Type.GetType(full type name).

Even if the path is full qualified, it contains a "..\" segment. Do you believe this can be the problem? (I can't test until later today, GMT+1 time).

[2017-07-13 06:46] yizhang82 commented on #12707
I believe this is a behavior of dlopen - even though you have already loaded a.so using absolute path, the next time when you dlopen ("./a.so") it still won't find it (assuming a.so cannot be resolved using default search path rules). In other words, preloading doesn't work in linux. It only works on windows.

[2017-07-13 07:08] jkotas commented on #12764
Unlikely. The first thing done by LoadFrom is to normalize the path using Path.GetFullPath that will eliminate the ".." segment:

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Reflection/Assembly.CoreCLR.cs#L74

[2017-07-13 08:49] raffaeler commented on #12764
@jkotas I see.
Do you have any specific test I can make to better diagnose the problem?
For example I can run procmon to see what happens at the filesystem level.
Are there any CoreCLR environment vars to set to see a verbose tracer here?

Thanks

[2017-07-13 08:54] wateret commented on #12685
Part of JitDump

[code]

Part of Backtrace

[code]

[2017-07-13 09:02] jkotas commented on #12764
I would run the process under C++ debugger (either attach as "native" in visual studio; or use windbg), stop on C++ exception and get the stacktrace where the C++ exception is thrown. The C++ part of the runtime is using C++ exceptions for error handling, so stopping on C++ exceptions tends to be a good way to find out where things went wrong.

[2017-07-13 09:18] raffaeler commented on #12764
@jkotas As my host is C++, it will be extremely simple to do later this night.
Are the symbols for the  2.0.0-preview1-005977 on the public MS server or should I clone the matching branch from the coreclr repo and build?

[2017-07-13 09:24] jkotas commented on #12764
Yes, the symbols should be published.

[2017-07-13 10:50] PrashanthIBM commented on #12707
Then how can we use this API for loading of .so ?

[2017-07-13 12:48] alpencolt commented on #11783
@hqueue I've found you PR #12604 which disable disable one filed HFA promotion. So structure like in sample above isn't being promoted now.
Where should be located promotion logic in your opinion? Is PR #12604 temporary solution?

[2017-07-13 13:02] ruben-ayrapetyan commented on #12765
Could you, please, also clarify how the mechanism of file locking (`FILEGetSHMFileLocks`) does work?
What is the scope of locking?

[2017-07-13 13:49] gboucher90 commented on #12630
https://github.com/dotnet/coreclr/pull/12794

[2017-07-13 14:58] ruben-ayrapetyan commented on #12765
As far as I currently undestand, the file locking emulates `FILE_SHARE_READ` / `FILE_SHARE_WRITE` semantics of Windows API `CreateFile` in scope of one CoreCLR instance. Is it correct?

[2017-07-13 15:07] omariom commented on #4108
@AndyAyersMS

Currently JIT treats `static readonly` fields of  scalar types as jit time constants

[2017-07-13 15:15] sdmaclea commented on #12640
The root cause of this issue was that Gen0 heap was 1/100 th of the size used for AMD64 platform of similar performance.  This caused GC to run hundreds of times per second.

Pinning GC threads made a substantial impact because GC was running so often.  I am still slightly concerned with over constraining the GC threads to be only able to run on a single processor.  I have yet to observe an issue.

[2017-07-13 16:07] DeanNorth commented on #917
Has anyone actually managed to get .net core 2.x running on alpine yet?

[2017-07-13 16:24] sdmaclea commented on #12640
Also there are 11 joins per GC.  If any of these could be eliminated it would save spin time.  See JOIN_STATS in comment in #12773.  `elapsed_total` represents useful work.  `in_join` represents time spinning and/or waiting in the scheduler.  Intuitively w/o any analysis one would hope joins could be reduced to 3-6 per GC.

This comment is purely for historical reference, as I do not intend to add

[2017-07-13 16:24] #12640 closed

[2017-07-13 17:12] AndyAyersMS commented on #12596
CoreCLR always runs in full trust, so no explicit IL verification/validation is done. The jit does some sanity checking but (as you can tell) doesn't catch everything.

There is a project over in the CoreRT repo to build a standalone verifier. Not sure how far along it is...

[2017-07-13 17:15] briansull commented on #12463
Fixed by
 Implement JIT_NewArr1_R2R wrapper #12475

[2017-07-13 17:15] #12463 closed

[2017-07-13 17:20] mellinoe commented on #917
@DeanNorth Alpine support is in the codebase, but requires a custom build of the product. For the official release, we are only producing a "portable Linux" version, which works on all glibc-based distros (e.g. not Alpine). That said, there may have been some minor regressions in the build (things that are easily fixable) since we do not run it regularly in our official build process.

[2017-07-13 17:34] jkotas commented on #12765
It used to implement shared state accross multiple processes. The code that did implement the shared state accross multiple processes was removed in https://github.com/dotnet/coreclr/commit/3433abc7838db54b9656bd0cfb606a7a0d6fed91.

It does not have very meaningful purpose today - the left-over part is really just an over-engineered custom memory allocator. It should be fine to remove it, or simpl

[2017-07-13 17:35] xiangfan-ms opened #12799 "CoreCLR failed with error c4596 when build in conformance mode (/permissive-)"
It is similar to this issue: https://github.com/dotnet/coreclr/issues/10915

In revision https://github.com/dotnet/coreclr/commit/0ce4fab8647ac3fbc200c27adfcf31aaae0f660b, the following function is added:

coreclr\src\src\jit\codegenlinear.h
    void CodeGen::genConsumeArgSplitStruct(GenTreePutArgSplit* putArgNode);

It should be:
    void genConsumeArgSplitStruct(GenTreePutArgSplit* putArgNode);

[2017-07-13 17:44] yizhang82 commented on #12707
It did load .so correctly. The problem is that you are using it to preload libraries so that your pinvoke would "just work". That behavior is OS specific, which is a different problem. I think the API is missing a GetProcAddress equivalent. @terrajobst

I think in order to load the native dependency correctly you need to create a nuget package for it.
@piotrpMSFT Can you point @PrashanthIBM to exi

[2017-07-13 17:47] ruben-ayrapetyan commented on #12765
@jkotas, Thank you.

[2017-07-13 17:58] #12685 closed

[2017-07-13 18:00] jkotas commented on #12707
Why do you think so? I do not think this issue would be helped by having GetProcAddress equivalent here.

Right. The native dependencies needs to follow the conventions to make them "just work".

[2017-07-13 18:15] yizhang82 commented on #12707
Sorry. I didn't explain myself properly. If there is a GetProcAddress equivalent, he can simply call that on the handle returned from LoadUnmanagedDllFromPath and convert that into a delegate which he can now call as a pinvoke delegate.

Probably not necessary in this case if he follows the convention to create nuget package for native dependency, but I can imagine there will be cases that having

[2017-07-13 18:41] xiangfan-ms commented on #12799
@hseok-oh

[2017-07-13 18:45] #12488 closed

[2017-07-13 18:47] jkotas commented on #12707
`LoadUnmanagedDllFromPath` is protected - you cannot simply call it from outside. This API was not meant to solve the scenario discussed here.

[2017-07-13 19:16] adityamandaleeka commented on #12740
This is by design and documented: https://msdn.microsoft.com/en-us/library/system.version.parse(v=vs.110).aspx

[code]

[2017-07-13 19:56] raffaeler commented on #12764
@jkotas the exception happens in this function:
[LoadFromPath](https://github.com/dotnet/coreclr/blob/13e7c4368da664a8b50228b1a5ef01a660fbb2dd/src/vm/assemblynative.cpp#L250)

This function throws if the dll exists in the TPA path but you try to load from a different path.
In other words I had this situation:
- The TPA contains the 'release' version of the dll
- LoadFrom tries to load the 'debug'

[2017-07-13 19:59] AntonLapounov commented on #8091
According to Jan Kotas, this is an OS issue that was fixed in RS3.

[2017-07-13 20:02] #12494 closed

[2017-07-13 20:03] gkhanna79 commented on #12764
This is by design.

Thanks,
Gaurav

________________________________
From: Raf <notifications@github.com>
Sent: Thursday, July 13, 2017 12:56:46 PM
To: dotnet/coreclr
Cc: Gaurav Khanna; Comment
Subject: Re: [dotnet/coreclr] Assembly.LoadFrom throws 'already loaded' even if the assembly is not in memory (#12764)

@jkotas<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2F

[2017-07-13 20:06] raffaeler commented on #12764
@gkhanna79 thanks to you.
Is there any chance to obtain a more specific message?
I was totally cheated from the message, otherwise it would have been easier to find the culcprit.

[2017-07-13 20:09] wtgodbe commented on #12488
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170713.02 these tests are now passing

[2017-07-13 20:10] wtgodbe commented on #12492
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170713.02 These tests are now passing

[2017-07-13 20:14] wtgodbe commented on #12490
@BruceForstall sorry I missed this earlier - https://github.com/dotnet/coreclr/pull/12803

[2017-07-13 20:18] jkotas commented on #12764
All .NET Core .dlls are stamped with git SHA1 hash they were built from (e.g. look for "Commit Hash" string in the binary). The VS debugger will eventually learn

Yes. Would you mind submitting PR to improve the message, or describe what you would like to see in the message?

[2017-07-13 20:36] tijoytom commented on #12522
@wtgodbe Is this passing now?

[2017-07-13 20:37] tijoytom commented on #12491
@wtgodbe Can this be closed now?

[2017-07-13 20:38] wtgodbe commented on #12522
No, it's actually failing with a new error:

[2017-07-13 20:38] wtgodbe commented on #12522
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170713.02/workItem/baseservices.exceptions.XUnitWrapper/analysis/xunit/baseservices_exceptions._regressions_Dev11_147911_test147911_test147911_~2F_regressions_Dev11_147911_test147911_test147911_cmd

[2017-07-13 20:39] wtgodbe commented on #12491
I've just merged https://github.com/dotnet/coreclr/pull/12785 and kicked off a build, if this test passes on that build I'll close this.

[2017-07-13 20:40] wtgodbe commented on #12522
@tarekgh

[2017-07-13 20:53] tarekgh commented on #12522
This is run time issue and need someone from runtime side to take a look. if you look at the test line

https://github.com/dotnet/coreclr/blob/25dbd547bc7372906357699a24d7cf76786a50c8/tests/src/baseservices/exceptions/regressions/Dev11/147911/fpcw.cpp#L48

the code is

[code]

The test expect  float f = 2.0f/d; to throw but it is not throwing.

CC @jkotas

[2017-07-13 20:53] briansull commented on #12438
@jkotas  FYI, these delegate lookups cost us 3% of execution time in MusicStore (when everything is crossgened) because we have loaded over 140 managed assemblies (native imgaes) and the linear search becomes a problem.

[2017-07-13 21:11] jkotas commented on #12522
This test is trying to verify that the CoreCLR vector exception handler does not perform unexpected modifications of the floating point state. Somebody with ARM device needs to debug this.

[2017-07-13 21:41] raffaeler commented on #12764
@jkotas got it but the sources does not show up even if I enabled the source server support in the options.
The github path should already be in the pdb themselves, so what I am missing?

There are a couple of points where the same exception is thrown. I am trying to get the exact point with the sources and than I can submit the PR.

Thanks

[2017-07-13 22:18] wtgodbe commented on #12491
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170713.03

Passing

[2017-07-13 22:18] #12491 closed

[2017-07-13 22:34] BruceForstall commented on #12490
Fixed with #12803

[2017-07-13 22:34] #12490 closed

[2017-07-13 22:37] dpodder opened #12805 "Builds on linux fail to produce a native build log in `bin\Logs`"
Builds of the C++ codebase on Windows produce fairly complete logs thanks to msbuild's logging support. The same build on Linux, however, produces no permanent logs. I'm not sure if it's feasible to log a higher level of verbosity like it is on Windows, but at the very least, it would be helpful to tee stdout from the call to `make` and save that in an appropriately-named log file.

[2017-07-13 22:45] BruceForstall commented on #12757
@CarolEidt @pgavlin @briansull @dotnet/jit-contrib Anyone have an opinion about what the importer/JIT should do in this situation? Seems like a bad test to me.

The relevant comment / code from the importer is:
[code]

[2017-07-13 23:23] AlexGhiondea commented on #12522
@sergiy-k could you help with this?

[2017-07-13 23:28] CarolEidt commented on #12757
Yes, I agree that it's a bad test, but it seems that, since it was allowed on x86, and since there's no ambiguity about *how* it ought to be handled, I think the right answer is to change the `#ifdef _TARGET_X86_` to `#ifndef _TARGET_64BIT_`

[2017-07-14 00:15] AndyAyersMS opened #12808 "Implement __assume for non-windows builds"
`MethodTable::GetManagedClassObjectIfExists()` uses `COMPILER_ASSUME` to help the native compiler avoid a null check and branch in the common case.

`COMPILER_ASSUME` expands to `__assume` but the latter is defined in pal.h as `(void)0` when not compiling with MSVC. Seems like we ought to be able try clang's `__builtin_assume` here and get similar benefits.

`MethodTable::GetManagedClassObjectIfEx

[2017-07-14 00:16] #12622 closed

[2017-07-14 01:46] AndyAyersMS opened #12809 "Enable RIP-relative addressing for JIT access to class statics on x64 non-windows"
`getRelocTypeHint` always returns false on Linux, so the JIT always ends up using a full literal 64 bit displacement to access static fields. This makes static field access relatively more expensive, both in terms of code size and instruction count (especially so since the JIT does not CSE large literals). For instance, to increment a static and return the incremented value:
[code]

[2017-07-14 02:03] gortok commented on #917
@mellinoe What will it take to get an official alpine linux port?  Suffice it to say, Microservices based work is really improved by small images; and the smallest .NET Core image is still an order of magnitude larger than an alpine linux based microservice.

[2017-07-14 02:32] VladimirAkopyan commented on #6906
@RossNordby is absolutely right - by it's very nature SIMD is used in places where arbitrary memory blobs run rampant, and belongs to unsafe namespace.
For example I have worked with machine vision cameras and when working with those performance is often paramount - some [cameras can produce 12 megapixels at  >330](https://www.ximea.com/en/products/pci-express-high-speed-cameras-xib/cb120cg-cm-x8g

[2017-07-14 02:39] andy-hanson commented on #12596
OK, I'm closing this issue since this is a programmer error resulting in undefined behavior. Let me know if you ever find a link to the standalone verifier. Thanks!

[2017-07-14 02:39] #12596 closed

[2017-07-14 03:04] safern commented on #12178
PR for infrastructure changes is in place: https://github.com/dotnet/buildtools/pull/1611

[2017-07-14 03:07] sergiy-k commented on #12522
@AntonLapounov should be able to take a look but probably not tomorrow (most likely on Monday). Another problem is we don't have ARM devices.

[2017-07-14 03:11] AndyAyersMS commented on #12596
Here's a link to the [IL Verifier](https://github.com/dotnet/corert/tree/master/src/ILVerify) Project.

[2017-07-14 04:03] PrashanthIBM commented on #12707
ok can you help me how to solve my scenario ?.

It is working fine with windows . Even on Linux loading of .so is happening but after that if i use any api calls present in the .so, it is not be able to find.

Dont you think default search path for the .so must be one of the loaded path(absolute path returned from LoadUnmanagedDllFromPath) and must be first in the default search path list ?

What

[2017-07-14 04:14] scott-xu commented on #10843
@preetikr @tarekgh Thank you for the update.
Since the issue is really impacting our production environment, would you mind share some details about this issue?
Is there any way to reduce the chance of the occurrence?
Will `<UseRandomizedStringHashAlgorithm  enabled=0 />` under runtime section in config file help?

[2017-07-14 05:15] hqueue commented on #6298
related issue #6573

[2017-07-14 06:30] PrashanthIBM commented on #12707
ok can you help me how to solve my scenario ?.

It is working fine with windows . Even on Linux loading of .so is happening but after that if i use any api calls present in the .so, it is not be able to find.

Dont you think default search path for the .so must be one of the loaded path(absolute path returned from LoadUnmanagedDllFromPath) and must be first in the default search path list ?

What

[2017-07-14 07:19] hqueue commented on #11783
@alpencolt Actually I also have same question for the location of right place for HFA implementation.
 According to the comment at https://github.com/dotnet/coreclr/pull/12604/files#diff-d22daaba7b83944564e10906b5ebb74aR1806,  I think PR #12604 is temporary solution and HFA logic for this kind of struct is not implemented in ARM64 either.

[2017-07-14 07:33] jkotas commented on #12707
https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/assemblyloadcontext.md is documentation for AssemblyLoadContext that this API is part of. This API is designed to supply native dependencies of isolated plugins loaded in its own AssemblyLoadContext. It is not designed to allow supplying native libraries for the default load context.

Why is it not an option for you to just dr

[2017-07-14 07:33] YongseopKim opened #12810 "[RyuJIT/ARM32] Wrong register allocation/generated code for promoted structs"
### Test Code
with optimization

[code]

### JitDump
Morphed
[code]

Before CodeGen
[code]

CodeGen
[code]

[2017-07-14 07:34] YongseopKim commented on #12810
A part of https://github.com/dotnet/coreclr/issues/12657

[2017-07-14 07:34] YongseopKim commented on #12810
I don't know why the fields of the promoted struct are allocated on r4  except for the long field. And what is `PromotedStructScratch`?
[code]

Because of the wrong register allocation, wrong code is generated.
[code]

Need to investigate RA.

[2017-07-14 08:59] sjsinju commented on #12659
@gbalykov I've checked above tests on current master(https://github.com/dotnet/coreclr/commit/23a09c98aa2cace8616f360ee393837b1701b7f8) with reverted https://github.com/dotnet/coreclr/commit/9255b5ea1acac68f62207f03dab509de97da93a9. but I met following messages
[code]
Can you check this again?

[2017-07-14 08:59] danwalmsley commented on #12739
Thanks! I have the feeling, vscode is using an internal console and its environments / paths, etc is correct, when I use bash something is missing ands its not able to resolve assemblies.

[2017-07-14 09:25] PrashanthIBM commented on #12707
@jkotas  I will not be able to copy the libraries to application bin path, since we have lot of library dependencies and other folder structure dependencies.

Is there no way to append the default search path with the loaded path ?

[2017-07-14 09:48] alpencolt commented on #11783
@hqueue do you have any assumption why HFA should be promoted different way than regular structures?

[2017-07-14 10:12] jkotas commented on #12707
You can build your own version of the host executable that has your custom .so probing paths set. e.g. using RPATH.

The source for the host executable are at https://github.com/dotnet/core-setup/tree/master/src/corehost.

[2017-07-14 12:40] #12567 closed

[2017-07-14 13:42] PrashanthIBM commented on #12707
ok i will look into it.

But how is it working on windows ? Can i consider using this solution  on windows at least ?

Also dont you think there should be something similar to Full .Net Framework LoadLibrary in .Net Core which will load the native dlls for the life time of application process instead of with in the loadcontext and the loaded dlls are available till the end of the application ?

[2017-07-14 14:13] hovishwa commented on #12707
Going by this discussion, it looks like nobody uses LoadLibrary/PInvoke on Linux to load and call any functions without a package. Is MS suggesting this is the way(using a package) to go in future?  There may be lot of components in the market which uses LoadLibrary and PInvoke, MS has any guidelines for these scenarios?   If the size of such native package is more ( >200MB), do you have any sugge

[2017-07-14 14:48] steveharter commented on #12739
@danwalmsley try `export COREHOST_TRACE=1` and run again to get verbose output. This will tell you where it is looking for the runtime and related assemblies.

It is possible that the version of System.Text.RegularExpressions that is found is older.

[2017-07-14 14:58] mazong1123 commented on #5989
I think I've got more context about this issue when I'm working on #10651 . The [IEEE Double-precision floating-point format](https://en.wikipedia.org/wiki/Double-precision_floating-point_format) defined:

0x000 is used to represent a signed zero (if F=0) and subnormals (if F≠0); and
0x7ff is used to represent ∞ (if F=0) and NaNs (if F≠0),

I think that's why the code said if the exponent is `0x7f

[2017-07-14 15:16] Petermarcu commented on #12645
@techyian, that entry in the csproj was made optional recently but it shouldn't have different effects than specifying `-r linux-arm` on the command line. That command line effectively just sets that property. @eerhardt for when you get a chance to look at that. I'm happy to remove that line from the instructions as it is optional now.

[2017-07-14 15:51] tarekgh commented on #12522
@AntonLapounov if you don't have access to http://ddccs to get ARM machine, you may contact @MattGal who helped me last time to access arm machine.

[2017-07-14 16:05] tarekgh commented on #10843
@scott-xu the crash happen in clr!COMString::UseRandomizedHashing is because there is some other exception get thrown very early in the app domain loading which require to get the exception message which eventually will hit the clr!COMString::UseRandomizedHashing which is not not initialized for this app domain yet.

So I suggest you look more what kind of exceptions you are getting that early in

[2017-07-14 16:32] pgavlin commented on #12757
I think I'm with @CarolEidt on this one. The fix is straightforward and it's conceivable (though probably quite unlikely) that this could be a cross-architecture compat problem, so we might as well take it.

[2017-07-14 16:55] BruceForstall commented on #8093
This is
[code]

[2017-07-14 17:03] pgavlin opened #12812 "Improve write barrier codegen for struct copies and indirect stores through opaque byrefs."
@stephentoub recently brought up a couple of scenarios in which the JIT selects suboptimal write barriers. In particular, the use of unnecessary checked write barriers was taking up nearly 10% of the cycles spent in a simple microbenchmark involving `CancellationToken`s.

### Opaque Byrefs

The JIT currently attempts to decide what sort of write barrier is necessary by [pattern-matching on the tar

[2017-07-14 17:03] pgavlin commented on #12812
cc @JosephTremoulet @jkotas @dotnet/jit-contrib

[2017-07-14 17:20] MattGal commented on #12522
@AntonLapounov apologies I have been ill.  File a ticket on http://techease intranet site to get access to the KVM, but for getting on a machine briefly I can stop by your office and log into the KVM with my own credentials on a limited basis.

[2017-07-14 18:59] yizhang82 commented on #12707
@PrashanthIBM

As I've explained earlier, If you try to load a DLL without path for a 2nd time, Windows will simply return the already loaded DLL without searching. Please refer to https://msdn.microsoft.com/en-us/library/windows/desktop/ms682586(v=vs.85).aspx, in particular:

[code]

This behavior is specific to Windows. Linux doesn't do this and will always search for the .so again, at least acc

[2017-07-14 19:04] jkotas commented on #12812
Other optimizations in this bucket:

- Make checked write barriers faster: The checked write barriers can use the same optimization with inlined immediates used for unchecked write barriers.

- Bulk checked write barriers for larger structs: It is a single call for the whole struct. The implemnentation ammortizes the bounds checks, etc. This optimization is done by NUTC in ProjectN: https://github

[2017-07-14 20:49] ColoradoNate opened #12818 "isinst uint[] returns true for a int[]"
Version Used: VS2015, VS2017

Steps to Reproduce:

1. Create a ushort[]
2. Test if the ushort[] 'is' a short[]

Expected Behavior: 'is' claims signed arrays are not unsigned arrays, and unsigned arrays are not signed arrays

Actual Behavior: 'is' claims signed arrays are both signed and unsigned arrays.

NOTE: This issue shows up with short/ushort, int/uint, and long/ulong arrays (but it works as

[2017-07-14 21:14] danwalmsley commented on #12739
@steveharter i will try on Monday when I'm in front of the affected system and post back. Thanks

[2017-07-14 21:25] mikem8361 opened #12820 "Make SOS/SOS.NETCore coreclr build version independent"
As long as there is the matching version of the DAC, SOS/SOS.NETCore should be able to work across coreclr version.

The first step is to remove the build version check in SOS on Windows.  It uses the version resource in coreclr.dll.  There should be no version check on the Linux/OSX version.

The next step would be to create a separate package with SOS and SOS.NETCore binaries and an easy way to

[2017-07-14 21:27] mikem8361 opened #12821 "Need some telemetry in createdump"
How often minidumps are enabled and what kind (triage, withheap or full).  Maybe size of dumps.

[2017-07-14 21:31] mikem8361 opened #12823 "Change stress test runs to use "createdump""
Probably mostly script work enabling dump creation with the proper environment variable, etc. It is currently Linux only.

[2017-07-14 21:32] AndyAyersMS opened #12824 "Examples where x64 Linux codegen has more integer spill/reloads than Windows"
The following perf cases have examples where the x64 Linux code has more integer spills and reloads than the corresponding code on windows. The examples all seem to be in loops with calls.
[code]
For example, the tail end of the inner loop in Crypto's `am3` has 3 extra spills, and there are corresponding reloads earlier in the loop:
[code]

[2017-07-14 21:37] mikem8361 commented on #10418
The corner cases have been addressed in the xplat-minidump-generation.md doc.

[2017-07-14 21:37] #10418 closed

[2017-07-14 21:49] Korporal opened #12826 "Consider providing a means to programatically re-initialize static classes."
Would it be feasible to add a static method to (say) the AppDomain class called "ReinitStatic" which accepts a Type argument? The method would restore a static class's fields to their initial state (as if the class were being accessed for the very first time).

This would be extremely useful for writing unit tests for static classes, currently there is no way and I have created a public "Reset" me

[2017-07-14 21:58] AndyAyersMS opened #12827 "Examples where RyuJit x86 has more integer spills/reloads/movs than Jit32"
The following perf test cases have important loops where there are more integer register moves, spills and reloads in RyuJit x86 code than in the Jit32 x86 code:
[code]
For example, in BenchE's Strsch
[code]

[2017-07-14 22:06] sdmaclea commented on #6476
@benaadams @stephentoub One of the hot spots I see in 48 core is the `Dequeue()` in ThreadPool.cs.  the issue is that it must iterate over all other `WorkStealingQueue`s when there is no work.  It looks to me that it is not really scalable, arguably O(N^2).  Every CPU has to poll every queue looking for work.  Seems like disabling/redesigning `WorkStealingQueue` would be in order.  Especially sinc

[2017-07-14 22:19] jkotas commented on #12818
The short answer is: This behavior is by design - it was speced this way. It is one of the cases where .NET Runtime is more permissive than C# language that tends to surprise people.

You can find many discussion of this question, e.g. here: https://stackoverflow.com/questions/593730/why-does-int-is-uint-true-in-c-sharp

[2017-07-14 22:19] #12818 closed

[2017-07-14 22:23] stephentoub commented on #6476
Which is used by Tasks by default any time they're queued.

Of course at that point it's because there's limited work available (unless you have a very unbalanced workload, e.g. where one pool thread is a pure producer and another is a pure consumer.

Some discussion here:
https://github.com/dotnet/coreclr/issues/5930

[2017-07-14 22:31] AndyAyersMS opened #12829 "Jit x86: improve codegen for compares with long statics"
For current x86 jit codegen, it appears long statics must be fully loaded into registers before they can be compared. For example:

[code]

[code]
Jit32 will fetch the pieces from memory directly, which reduces register cross-section. Jit32 also defers reading the low part of of the static until it's needed:
[code]
This pattern appears in the inner iteration loop of many of the perf benchmarks sin

[2017-07-14 22:56] sdmaclea commented on #6476
Which was why I suggested `MinLimitTotalWorkerThreads` should not default to `NumberOfProcessors`, but should be allowed to be something smaller at least until the O(n^2) issue is resolved.  There should be a N^2 term for thread cost in the HillClimbing algorithm.

The problem is pretty extreme.  With `COMPlus_ThreadPool_ForceMinWorkerThreads=5` I see 20% better throughput with 40% less CPU usage.

[2017-07-14 23:44] #12684 closed

[2017-07-15 00:16] BruceForstall commented on #12601
@hseok-oh #12628 is merged; can this issue be closed?

[2017-07-15 00:40] briansull commented on #12809
PR #12831 should fix this.

[2017-07-15 00:53] AndyAyersMS opened #12835 "Revisit when to use RBP frames on x64 with SysV ABI"
Various comments in the code lead one to believe that on x64 with SysV ABI we always want the jit to create RBP frames (eg to facilitate simple native unwinding through managed code).

However the JIT doesn't always generate RBP frames; as best I can tell the logic for deciding is found in `rpMustCreateEBPFrame` which has a number of critera. Quite often we see RBP frames that don't really serve a

[2017-07-15 01:17] AndyAyersMS opened #12836 "JIT: examples where loop cloning is not useful"
In some cases loops are cloned with no performance benefit, and it would be better to not clone the loop at all, as the jit would run faster and produce smaller code.

For instance in benchi\iniarray, the two cloned copies are identical (in fact the array length is known and you can see there are no bounds checks):
[code]

[2017-07-15 01:40] AndyAyersMS opened #12837 "JIT: Missed bounds check vs Jit32"
From Benchi/Puzzle/Fit's inner loop, it looks like Jit32 can hoist the bounds check and fetch of `_p[i]` out of the inner loop. It also cse's between the check and lookup in `_puzzle[j+k]`.
[code]
Also would be nice to get the return block moved out of the loop (see #9692).

Ryujit x64 misses the bounds check too, but gets the CSE.

[2017-07-15 05:09] #12178 closed

[2017-07-15 05:33] mikedn commented on #12829
Note that long compare codegen has changed in #10275 and #12055, now we generate:
[code]
The LEA is still present. That's a more general problem of GT_IND decomposition and it affects more than compares.

[2017-07-15 05:39] mikedn commented on #12836
Loop cloning has all kinds of issues, some are mentioned in #2596 (via #2634).

[2017-07-15 05:51] jkotas commented on #8091
Fixed by #12825

[2017-07-15 05:51] #8091 closed

[2017-07-15 06:31] mikedn commented on #12837
Hmm, I don't see any CSE when using RyuJIT x64:
[code]

[2017-07-15 15:52] AndyAyersMS commented on #12837
On x64 there's just one add `lea r10d, [r8+r9]` feeding a compare and an index (latter with sign extension).

[2017-07-15 18:16] AndyAyersMS commented on #12829
Thanks. I was comparing perf on 2.0 to 1.1 and had tried to remind myself to also verify against master, but now I realize I only did this consistently for x64.

Let me drill into where master stacks up vs jit32 on xunit-perf tests that have trivial timed portions -- preliminary data in our benchmark system shows it is still a bit slower even with the recent changes, and I had though long compare

[2017-07-15 21:03] mikedn commented on #12837
Oops, missed that one. On x64 the cast from `int` to `long` prevents an unfortunate reassociation that blocks CSE:
[code]

[2017-07-16 08:58] raffaeler commented on #12764
@jkotas In other words, what is your GitLink setup to sync the public sources with this repo sources?
I tried in several ways with no luck at all...
Thank you

[2017-07-16 15:18] 4creators commented on #3226
Issue is currently under formal API proposal review [API Proposal: ShiftLeft, ShiftRight for Vector<T>](https://github.com/dotnet/corefx/issues/16835)

[2017-07-16 15:22] 4creators commented on #3226
@jkotas Prhaps it could be closed as it is now tracked by [API Proposal: ShiftLeft, ShiftRight for Vector&lt;T%gt;](https://github.com/dotnet/corefx/issues/16835)

[2017-07-16 15:40] rickbrew commented on #10826
I believe this is affecting some Paint.NET plugins. See:

1) https://forums.getpaint.net/index.php?/topic/111549-paintnet-4017-beta-build-6404/&do=findComment&comment=533103

2) https://forums.getpaint.net/index.php?/topic/17010-normalmapplus-v10/&do=findComment&comment=532598

I'd appreciate an update to .NET _**Framework**_ asap :)

[2017-07-16 18:44] jkotas commented on #3226
ok

[2017-07-16 18:44] #3226 closed

[2017-07-16 19:31] jkotas commented on #12764
I do not think that the binaries are getting stamped properly for source server or gitlink to work. @dotnet/dnceng What is missing to get the source server or gitlink working for .NET Core binaries?

Here are  steps that I have been using to get matching sources for given coreclr.dll (substitute `c:\dotnet` and `c:\coreclr` as appropriate):

[code]

[2017-07-16 20:35] raffaeler commented on #12764
I read about the hash being in the FileVersion attribute, but without gitlink, the debugger will never know where to look for the sources, even if I download the whole repo with the matching hashes.
There must be some additional step I am now aware of...

[2017-07-16 22:06] AArnott opened #12846 "Need a SynchronizationContext.WaitHelper that *never* pumps messages"
On Windows, we define a non-pumping SynchronizationContext for guarding against reentrancy at inopportune times. We do this by overriding the `Wait` method and [calling `WaitForMultipleObjects` directly](https://github.com/Microsoft/vs-threading/blob/87f655fb583fb0d3360ca723902a8bd1dd709ea4/src/Microsoft.VisualStudio.Threading/NoMessagePumpSyncContext.cs#L65).

As I consider exposing this type to

[2017-07-17 01:35] ngbrown opened #12847 "WeakReference behaves differently from .NET Framework."
I am porting NHibernate to .NET Core (nhibernate/nhibernate-core#633), and some of the tests related to `WeakReference` are not passing.

The same tests have been running on .NET Framework.

Please see the example test here:  https://github.com/ngbrown/coreclr-WeakReferenceTest

Running:
[code]
passes, while running:

[code]

fails with:
[code]

I think the summary is that weak references don't ap

[2017-07-17 01:37] sjsinju commented on #11838
Fixed #12662

[2017-07-17 01:53] ngbrown commented on #12847
I wasn't 100% sure where to put this issue, because coreclr implements `WeakReference` and corefx has some [tests for it](https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System/WeakReferenceTests.cs).

From those tests, they sometimes did these three calls before checking stuff:

[code]

but changing to that from a single `GC.Collect();` didn't change the results of our tests

[2017-07-17 03:04] mazong1123 commented on #10651
I fixed several bug of my prototype. Now the accuracy is great. The prototype code can be found at https://github.com/mazong1123/doubletonumber

I'll start to optimize the code and test the performance on Linux.

[2017-07-17 04:45] mazong1123 commented on #10651
@tarekgh  I just have one question regarding double.ToString("R"), I saw the logic is like:
1. Try to convert the double to string in precision of 15.
2. Convert the string back to double and compare to the original double. If they are the same, done.
3. Otherwise, convert the double to string in precision of 17.

Is there any particular reason preventing us to convert the double to string in prec

[2017-07-17 05:54] scott-xu commented on #10843
Thanks for the detailed info.

[2017-07-17 06:32] Jiayili1 commented on #12492
This issue is repro, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170716.01/workItem/JIT.jit64.XUnitWrapper/analysis/xunit/JIT_jit64._hfa_main_testE_hfa_nd0E_d_hfa_nd0E_d_~2F_hfa_main_testE_hfa_nd0E_d_hfa_nd0E_d_cmd

[2017-07-17 06:43] sjsinju opened #12848 "[RyuJIT/ARM32] Assertion failed '(candidates & allRegs(i->registerType)) != 0'"
Below tests were failed with checked build.
[code]
[code]

[2017-07-17 06:43] sjsinju opened #12849 "[RyuJIT/ARM32] Assertion failed '!"Incompatible types for gtNewTempAssign"'"
Below tests were failed with checked build.
[code]
[code]

[2017-07-17 07:25] PrashanthIBM commented on #12707
@jkotas  @yizhang82 :

So seems like i can use this solution only on windows.

Let me explain my scenario:

1) We have a database application which will connect to database through .Net Core driver.

2) .Net Core driver inturn depends on native C driver to connect which is not a single library(.so file) and it is having multiple .so file and dependencies on other contents files(like msg files, con

[2017-07-17 07:37] jyoungyun commented on #11840
The related test code:
[code]
This code occurs the same error message with `Assertion failed 'varTypeIsSIMD(arg)'`.
Jit dump before morphing:
[code]
Jit dump after morphing:
[code]

The 000042 gentree node seems to be wrapped in GT_OBJ.

[2017-07-17 07:42] jyoungyun commented on #11840
After adding fgMorphStructArgs function and make a new node for addressing, the gentree is changed like below:
[code]

And the assersion is fixed. I will post PR soon.

[2017-07-17 07:53] jkotas commented on #12707
`LD_LIBRARY_PATH` has to be set when the process starts. Setting it half way through won't have the desired effect. This is how Unix .so loader works. Nothing to do with .NET.

A [common trick](https://stackoverflow.com/questions/13685042/how-to-set-a-unix-dynamic-library-path-ld-library-path-in-java) around this problem is to re-execute yourself: set the `LD_LIBRARY_PATH` environment variable to

[2017-07-17 08:47] micli opened #12850 "It seems there is no way to debug .NET Core 2.0 dump file on Windows platform"
**Enironment**:
Microsoft Windows [Version 10.0.15063]
Debugging Tools for Windows 6.12.0002.633
.NET SDK v4.7
.NET Core  2.0.0-preview2-006497

**Description**:
With more and more Nuget packeages and application migrated to .NET Core, there is a strong demand for debugging .NET Core dump using Windbg on Windows. But it seems SOS.NETCore.dll in .NET Core folder cannot work fine.
For example, I wro

[2017-07-17 09:32] micli opened #12851 "soshelp command doesn't work and crashes in LLDB 3.9"
**Environment**:
[code]
**Description**:
I can load libsosplugin.so successfully and I can view help information by help but not soshelp. Below are repo steps:
[code]
When I input soshelp, it echoed nothing. When I input soshelp with any .NET Core extension command like dumpheap or pe, it was crashed. The same issues exists on Debian 8 with LLDB 3.9 either. But it works fine on CentOS 7 with lldb

[2017-07-17 10:00] danwalmsley commented on #12739
OK so here is the result:

firstly contents of directory:
[code]

[2017-07-17 10:02] danwalmsley commented on #12739
The error message when I run the application normally.

[code]

[2017-07-17 10:08] danwalmsley commented on #12739
[log.txt](https://github.com/dotnet/coreclr/files/1152201/log.txt)

log is very long so put it in the attached text file.

[2017-07-17 11:38] jyoungyun commented on #11840
After merging the above patch, 46 of the 52 tests passed.

Failed TC
[code]

[2017-07-17 12:11] kbaladurin opened #12853 "createdump utility: adding program header, sections and other info"
Now sections are added to minidump in incorrect way. We try to read section headers and strtab from process memory while they can be not loaded. If they aren't loaded into memory we will read some other data and get crash.
According to #12341 it's needed for symbol acquisition tool. Does the symbol acquisition tool need section headers and strtab in minidump if there is no guarantees that they are

[2017-07-17 12:12] kbaladurin commented on #12853
@mikem8361 PTAL

[2017-07-17 12:13] kbaladurin commented on #12853
CC @Dmitri-Botcharnikov @ayuckhulk

[2017-07-17 13:53] DeanNorth commented on #917
@mellinoe Do you know what the smallest supported linux distro is? Like @gortok says, it would be great to have a supported image that is <10mb for use with micro services.

[2017-07-17 13:57] jkotas commented on #12847
The JIT has been always extending the lifetime of the local and temp variables in some cases - the spec allows that. It started doing it in more cases after change https://github.com/dotnet/coreclr/pull/9231.

We had tests that used to depend on the exact lifetime tracking as well that needed updating after this change, e.g. https://github.com/dotnet/corefx/pull/16595 .

[2017-07-17 14:03] jkotas commented on #12846
There is no message pumping on non-Windows. Why do you need to do anything special on non-Windows?

I do not think you would be able to do that. WaitForMultipleObjects is internal implementation detail on non-Windows. It is not exported from libcoreclr.so.

[2017-07-17 14:33] ngbrown commented on #12847
Does `WeakReference` also depend on where in the stack it was created at or `GC.Collect()` was run at?  I don't really understand why `MethodImplOptions.NoInlining` is so important to the changes that happened.

Any suggestions for the [test code](https://github.com/ngbrown/coreclr-WeakReferenceTest/blob/master/WeakHashtableFixture.cs#L57)?

[2017-07-17 15:22] AArnott commented on #12846
Thanks, @jkotas. That's all I need to know then. I can do a runtime OS check and call `WaitForMultipleObjects` on Windows and `WaitHelper` on other platforms.

[2017-07-17 15:22] #12846 closed

[2017-07-17 15:26] stephentoub commented on #12847
Put the:
[code]
lines into their own non-inlined method so that the JIT doesn't have the ability to extend beyond the lifetime of the method any temporaries keeping those objects alive.

[2017-07-17 16:22] alpencolt opened #12855 "[ARM32] Assertion failed 'type == TYP_DOUBLE || type == TYP_FLOAT' in 'HFATest.TestMan:Identity_HFA01(struct):struct'"
Crash on Ryu and legacy JIT:
[code]

`../tests-checked/JIT/jit64/hfa/main/testE/hfa_nf0E_r/hfa_nf0E_r.exe` test version works well.
Bassed on commit:
[code]

cc @dotnet/arm32-contrib

[2017-07-17 16:33] tarekgh commented on #10651
@mazong1123 I don't know the history why decided to format with "R" as 15 digit precision and not 17 directly. my guess is was the old implementation with 15 digit precision was faster than 17 digits and almost all common cases can fit in 15 digit precision.

The doc https://msdn.microsoft.com/en-us/library/kfsatb94(v=vs.110).aspx is stating this design but doesn't tell the rationale behind it. al

[2017-07-17 16:36] gbalykov commented on #12659
@sjsinju

I was unable to reproduce this issue neither on 23a09c9, nor on current master (4b232d817cb2bc1d40a6816407d904581ce1067b). I have recently rebuilt CoreFX and have recently cloned CoreCLR repo from scratch, maybe this could be the case. This issues seem to be related #11318, #12668.

[2017-07-17 17:33] swgillespie commented on #12847
@ngbrown Here's a PR where I fixed some of CoreCLR's own tests that were running into trouble with the Collect/WaitForPendingFinalizers/Collect pattern: https://github.com/dotnet/coreclr/pull/11216. Unfortunately these sorts of tests are racy in general due to the asynchrony of the finalizer thread but the fixes I made in that PR seem to have fixed the tests.

[2017-07-17 18:25] jkotas commented on #10651
I think we can give it a try. These kind of changes tend to come with compat surprises...

I do not know.

[2017-07-17 19:07] 4creators opened #12859 "Documentation based on Carol Eidt's tutorial from PLDI'16"
@CarolEidt I would love to see documentation pages with walkthrough on adding new feature to RyuJIT and supporting technologies as it was presented on [PLDI'16 workshop](https://gist.github.com/CarolEidt/58c7d4290d649783c749) or perhaps in expanded form.

Reading the code and current documentation as a way to understand RyuJIT and start to play with code has a steep learning curve penalty.

[2017-07-17 19:07] AndyAyersMS opened #12860 "JIT: inefficient multidimensional array access vis Jit32 (and in general)"
RyuJit fails to optimize multidimensional array indices and misses some cases that Jit32 is able to optimize. In the following code example,
[code]
Jit32 is able to CSE the addressing done in the `a[b,i]` references in `Example` (though it does not CSE the array fetch itself). RyuJit does not CSE anything in the loop.

Neither jit recognizes `a.GetLength` as being a loop invariant, or that the ini

[2017-07-17 19:11] AndyAyersMS commented on #12860
See also the codegen in Bytemark/BenchNumericSortRectangular's NumSift.

[2017-07-17 19:25] AndyAyersMS commented on #12827
Another (local) example from Bytemark's `IDEAEncryption:cipher_idea`. This is the lexically first call to `mul`:

[code]

[2017-07-17 19:40] mikem8361 commented on #12853
I'm not sure the exact logic for when the section headers are in-memory or not, but they are usually there. And when they are not, createdump doesn't crash, either it doesn't write anything (read memory failure) or write garbage to the dump. The tools (the new symbol acquisition tool I'm working on and debuggers like lldb) are resilient to the garbage.

Some of the sections (.eh_frame and .note.gn

[2017-07-17 19:41] steveharter commented on #12739
Do you know why the error message changed from failing to load `System.Text.RegularExpressions` to `AvaloniaEdit`? Does it still work under different vscode settings?

The triggering exception appears to be OmniXaml.LoadException, wrapping a System.IO.FileLoadException for AvaloniaEdit.dll. From the log, that assembly appears to be found by CoreClr at `/Users/richard/avalon/AvalonStudio/AvalonStud

[2017-07-17 19:45] AndyAyersMS commented on #12824
Also Bytemark's ToggleBitRun.

[2017-07-17 20:06] dleeapho commented on #12764
@dagood, can you help with @jkotas question?

[2017-07-17 20:15] mellinoe commented on #917
@DeanNorth I'm not sure -- I haven't really compared all of the image sizes for the distros we support.

[2017-07-17 20:19] BruceForstall commented on #12449
@janvorli @adityamandaleeka @sergiy-k Is this related to #6283? Especially if it only fails on Fedora.

[2017-07-17 20:21] mikedn commented on #12827
0FB7CA       movzx    ecx, dx

Hmm, this looks like an issue I'm looking into. When dealing with small types lclvar RyuJIT sometimes inserts a separate cast node. Not only that this generates a redundant `movzx` but it seems that this can also lead to increased register pressure.

[2017-07-17 20:53] brianrob opened #12863 "Introduce a PGO Verification Test"
At a minimum, this test should verify that PGO is enabled for the builds that we expected it to be enabled for.  For example, on Windows, we can run "dumpbin /headers <coreclr.dll | clrjit.dll> | grep coffgrp" and validate that the build is a PGU build.

It's fine for developers to not build using PGO, but we do want to make sure that official and PR builds pass this test - otherwise, we need to f

[2017-07-17 21:01] dagood commented on #12764
@jkotas Adding gitlink to the builds so that sources are indexed to GitHub is tracked by https://github.com/dotnet/core-eng/issues/499. It seems to me that we'll also need to get more serious about building portable PDBs, as a prereq: Windows builds are still making Windows PDBs right now. I'm not able to find a discussion (issue on CoreCLR or core-eng) about moving to Portable PDBs.

The external

[2017-07-17 21:24] jkotas commented on #12764
@dagood This discussion is about gitlink support for C/C++ code. I believe that gitlink works for C/C++ fine, with classic non-portable PDBs. The portable PDBs should not be tied to this.

[2017-07-17 21:45] raffaeler commented on #12764
@dagood the link you posted gave me a 404.
I tried putting a function breakpoint but VS2017.3 didn't ask me to find the source file, therefore I can't make it work. I guess I am missing something.
Also, if I have to browse the sources, what is gitlink useful for?

P.S. afaik gitlink works with old pdbs while sourcelink/sourcelinkv2 work with portable pdbs

[2017-07-17 21:51] MattGal commented on #12764
@raffaeler that's because it's a private repository.

[2017-07-17 22:13] BruceForstall commented on #12855
This is a regression due to my change #12813. I'll have to find code that works for all cases.

[2017-07-17 22:20] AndyAyersMS opened #12865 "JIT: inefficient codegen for calls returning 16-byte structs on Linux x64"
From the binarytrees performance benchmark, initial call to `bottomUpTree` from `Bench` (other calls to this method have similar issues)
[code]
`bottomUpTree` has similar issues at its recursive call sites, and also does some redundant zeroing of temp structs that were zeroed in the prolog:
[code]
Note this latter bit of code could simply be something like
[code]

[2017-07-17 22:25] ayuckhulk commented on #12853
Actually, minidump utility crashes all the time on my machine 😄
There are to cases:
* Reading garbage leads to throwing `std::bad_alloc` because of huge memory allocations;
* TRACE() function causes SIGSEGV when it tries to print garbage strings, but the strings are not null-terminated (because they contain garbage).

ELF in memory is not the same as ELF on disk so you can not just use file offset

[2017-07-17 23:04] dagood commented on #12764
@jkotas Noted, thanks.

@raffaeler Ah, I was thinking of the situation where you're already paused somewhere (e.g. at an exception). I'm not sure about setting a breakpoint first. To clarify about gitlink: in that section I was talking about a potential way to do this *without* gitlink to get where you need to go, because currently it's not in place.

[2017-07-17 23:14] mikem8361 commented on #12853
Yes, I guess reading the sections should be removed if you are having all those problems since others will have them too. I only ran into for debug builds of coreclr not release builds (that seems strange) and only for a couple of modules (libcoreclr.so and libclrjit.so).  I looked all over the internet for info on when it was valid to read the sections from memory and never found anything.  It so

[2017-07-17 23:16] CarolEidt opened #12867 "[RyuJIT][LSRA] Dump the `operandToLocationInfoMap` repeatably"
The order of the dump of the `operandToLocationInfoMap` can vary run-to-run. It would be preferable for this not to be the case, so that one can more easily diff jitdump output.

[2017-07-17 23:24] AndyAyersMS opened #12868 "JIT: indirect jump table for small dense switch probably suboptimal"
Some examples in bytemark's BitOpts and Fourier tests, where we have switches like
[code]
Seems like a search tree is probably a better choice than a jump table for such a small switchk, even if we can't rule out that none of the cases must be hit.

[2017-07-17 23:39] mikem8361 commented on #12853
I'm curious if createdump still crashes for you even after @kbaladurin recent valid section header changes?

[2017-07-17 23:45] jashook commented on #12849
Still failing for me.

[2017-07-17 23:49] jashook commented on #12849
This hits on Legacy Backend too.

[2017-07-17 23:52] jashook opened #12869 "[Arm32][Legacy Backend] Assertion failed 'this->gtOper == GT_CNS_DBL'"
Assert:

[code]

[code]

[2017-07-17 23:53] jashook commented on #12869
cc @RussKeldorph @BruceForstall

[2017-07-18 00:22] BruceForstall commented on #12869
cc @dotnet/arm32-contrib

[2017-07-18 01:01] RussKeldorph commented on #12869
@BruceForstall are you already looking at this (should assign to you) or can it go to someone else?

[2017-07-18 01:24] hseok-oh commented on #12600
fixed

[2017-07-18 01:24] #12600 closed

[2017-07-18 01:27] BruceForstall commented on #12869
@RussKeldorph I'm not looking (yet). You can assign it to me or someone else.

[2017-07-18 01:28] micli commented on #12850
The document https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md doesn't contain anything about how to setup Windbg + SOS.NETCore.dll. It's very sad that I cannot go continue. @mikem8361

[2017-07-18 01:28] #12757 closed

[2017-07-18 01:53] hseok-oh commented on #10722
Close this issue.
Remaining issues (promoted struct #12657 hfa #11783) will be handled on each issue.

[2017-07-18 01:53] #10722 closed

[2017-07-18 02:01] hseok-oh commented on #11783
I don't think it needs to change to GT_FIELD_LIST for one-field-HFA. I think it should be handled like primitive type value.

BTY, IMHO, implementation for promoted HFA struct may be simpler than promoted general struct, because each field will have same size. @YongseopKim , how do you think about this?

[2017-07-18 02:03] hqueue opened #12873 "[RyuJIT/ARM32] Assertion failed 'currentInterval->assignedReg != nullptr && currentInterval->assignedReg->regNum == assignedRegister && currentInterval->assignedReg->assignedInterval == currentInterval'"
With `COMPlus_AltJit=* COMPlus_AltJitAssertOnNYI=0`, following assertion is observed.

[code]

Failed test:
[code]

[2017-07-18 02:09] hqueue commented on #12848
@sjsinju I found that this is observed with commit 5ceac6362ff. Can you check it again please ?

[2017-07-18 02:49] YongseopKim commented on #11783
I'm not sure below comment.

It's because both RA & CodeGen for general promoted struct are not normal until now (https://github.com/dotnet/coreclr/issues/12810). I don't know the case of HFA struct is same to the general one.

BTW, although I don't know HFA well, one field HFA can be morphed one primitive type value during morph phase? If it could be, it's much easier.

[2017-07-18 02:56] wateret commented on #12869
It seems like #12793 is related. I'll take a look.

[2017-07-18 03:04] hseok-oh commented on #12849
It is due to #12855
cc/ @BruceForstall

[2017-07-18 03:10] BruceForstall commented on #12849
I reverted my change: https://github.com/dotnet/coreclr/pull/12871. Does this fix it? (I'll check myself soon)

[2017-07-18 03:10] YongseopKim commented on #11783
If one field HFA is not prmoted, the struct will be morphed into one primitive type. We would consider whether one filed HFA needs to be promoted.

[2017-07-18 03:13] hseok-oh commented on #12849
@BruceForstall BTW, is it right that one-field float(or double) struct is set as HFA? I think fgMorphArg is implemented based on the assumption that HFA struct is always multireg struct.

[2017-07-18 03:24] BruceForstall commented on #12849
@hseok-oh I'm not sure right now. There has been a lot of change in the last few years related to multi-reg arguments and return values -- to handle amd64 Linux and arm64 and x86 ABI -- but unfortunately those changes weren't made with any arm32 testing, so I think the previously existing model related to arm32 HFA is somewhat broken, as we can see by all the various HFA-related issues that have b

[2017-07-18 04:01] #12706 closed

[2017-07-18 04:53] ngbrown commented on #12847
Thanks everyone.  Putting the temporary objects into a non-inlined function fixed it.

[2017-07-18 04:53] #12847 closed

[2017-07-18 04:54] mikem8361 commented on #12850
You should load sos.dll not sos.netcore.dll. I'll update the doc to make that clear.

[2017-07-18 05:03] BruceForstall commented on #12855
Fixed with #12871

[2017-07-18 05:03] #12855 closed

[2017-07-18 05:18] micli commented on #12850
@mikem8361 neither of sos.dll extension string still doesn't work.

[code]

[2017-07-18 05:27] mikedn commented on #12850
It looks like you're trying to load the .NET Framework sos.dll instead of the .NET Core one.

[2017-07-18 05:29] bendono commented on #12850
@micli Please type `lm` to list all of your modules. You should note that there is not a module called clr. In dotcore it is called coreclr. So you can use `.loadby sos coreclr`. However, if you know the path to sos, then just `.load c:\path\to\sos\sos.dll` is fine.

[2017-07-18 05:32] micli commented on #12850
@mikem8361 I found the right way to load SOS.dll like this:
[code]
It only can be loaded by specify path without extension string. But I cannot go further because of below error message:
[code]
What can I do ?

[2017-07-18 05:38] micli commented on #12850
many thanks @bendono , your answer is correct! Really hope @mikem8361 can write more details about debugging .NET Core on Github.

[2017-07-18 05:38] #12850 closed

[2017-07-18 05:43] #12869 closed

[2017-07-18 06:03] crozone commented on #11417
Any chance the fix for this will be backported to another 1.1 release? Debian 9 is now considered stable and .NET Core 2.0 is still in preview.

[2017-07-18 07:14] januszn commented on #10826
@rickbrew It's already been released, see here:
https://blogs.msdn.microsoft.com/dotnet/2017/05/26/net-framework-may-2017-cumulative-quality-update-for-windows-10/
After installing it, I'm no longer seeing the bug occur in the original application that prompted me to research it.

[2017-07-18 10:11] kskjer commented on #12826
Wouldn't it be easier to make your configuration class instantiable, and then have the static API be a proxy to a singleton instance stored as a private static member on that class? (Or it could be public, so clients could use it directly and you wouldn't have to make a static variant of the API.) That way you can just new up your class every time you need to test it.

[2017-07-18 10:11] alpencolt commented on #11783
I've tried to compile one-field struct with int value and it has following structure:
[code]

I think better to ask guys from Microsoft how HFA struct should be morphed=)

@CarolEidt @BruceForstall  could you help us with understanding of behavior?
We have one-field HFA and it's being translated to the:
[code]
So at first it has different order of `PUTARG_REG` and `FIELD_LIST` instructions compari

[2017-07-18 10:51] roji opened #12877 "JIT: "is" keyword generates boxing in generic function"
It seems that using the `is` keyword in a generic function causes value types to be boxed. Consider the following program:

[code]

This is especially odd as comparison to null doesn't box. This can be worked around by avoiding `is` and comparing types (and can also provide a form of "template specialization" as in https://github.com/MikePopoloski/StringFormatter/blob/c36fb18edd44b4d2c75e210e85dc9

[2017-07-18 11:51] Joe4evr commented on #12877
This is because `is` translates to `isinst` (which has to produce an object of the target type, since that's the direct translation of `as`) followed by a null-check, so a boxing conversion is inevitable.

I guess the JIT can be improved to remove unused codepaths predicated on `T is x` the same way it optimizes the mentioned `typeof(T) == typeof(x)` kind of checks? Not sure how much that would im

[2017-07-18 11:54] roji commented on #12877
It definitely sounds like a worthy optimization to me...

One additional comment - with the new pattern matching the impact of this additional allocation *may* be even worse, as people use it more.

[2017-07-18 12:05] micli commented on #12850
Additional question:
@mikem8361 Could you please add some documents about debugging on macOS? I didn't find libsosplugin.dylib in .NET SDK folder. Do I have to compile it myself?  Can I use the LLDB that installed together with XCode?

[2017-07-18 12:31] hqueue commented on #12848
@sjsinju With recent commit 9b0906b652c717abecfb8b5358023d0e24cb71f5, this failure seems to be gone. Please close it again :)

[2017-07-18 12:47] hqueue commented on #12849
Update with recent commit 9b0906b652c717abecfb8b5358023d0e24cb71f5.

For legacy backend, all assertions are gone.

For ryujit/arm32, 4 passed and 4 failed with known assertion (#11783).
[code]

[code]

[2017-07-18 13:41] kbaladurin commented on #12853
We can read section headers from memory when there are in loadable segments (they are described in program headers with `PT_LOAD` type). Function `elf_from_remote_memory` from `elf-from-memory.c` checks whether section headers are in memory using information from `PT_LOAD` program headers (it used to calculate `contents_size`):
[code]
I tried this approach and got that all libraries don't contain

[2017-07-18 14:26] CarolEidt commented on #11783
I'm not sure how it winds up looking like this. It should either be morphed to the primitive type, or the `GT_PUT_ARG_REG` should be below the `GT_FIELD_LIST`

I think that would be the best approach.

[2017-07-18 14:42] micli opened #12880 "Does the Microsoft symbol server publish .NET Core symbols?"
Can I specify Microsoft server http://msdl.microsoft.com/download/symbols when I debugging .NET Core application in both of platforms on Linux, Windows and macOS ?

Thanks!

[2017-07-18 15:39] alpencolt commented on #11783
@CarolEidt `fgMorphMultiregStructArgs()` transform:
[code]
into the:
[code]
since `hasMultiregStructArgs` is set.

`Lowering::NewPutArg()` creates `PUTARG_REG` after that:
[code]

So there is few possible issues:

1. `hasMultiregStructArgs` should be set for one-filed HFA
2. `GT_FIELD_LIST` shouldn't be created for one-field HFA
3. `GT_PUTARG_REG` should be inserted bellow `GT_FIELD_LIST`

[2017-07-18 15:45] karelz commented on #11417
2.0 should be out soon enough that it does not make sense to backport anything to earlier releases at this point.
Can you use latest Preview as workaround in the meantime? It is pretty stable stack at this point and we take only few critical bug fixes, so even nightly 2.0 builds should be ok to use.

[2017-07-18 17:33] mikem8361 commented on #12850
Debugging CoreCLR on OS X
To use lldb on OS X, you first need to build it and the SOS plugin on the machine you intend to use it. See the instructions in building lldb<https://github.com/dotnet/coreclr/blob/master/Documentation/building/buildinglldb.md>. The rest of instructions on how to use lldb for Linux on are the same.
Yes, you do need to build lldb on the OS X machine you want to debug and t

[2017-07-18 17:46] ayuckhulk commented on #12853
@mikem8361 Well, crashes became less frequent.

[2017-07-18 18:12] mikem8361 commented on #12853
The reasons I had for adding the section headers and some of the sections are not as important any more in light of all the problems reading them cause. One was for the symbol acquisition tool I'm working to get the .gnu_debuglink section for the name of the linked symbol file. But for all the coreclr built modules, I can assume is the module name + ".dbg".

The other reason was for the ".eh_frame

[2017-07-18 21:28] AndyAyersMS commented on #12877
Handling `T is x` is a bit more complex than handling `typeof(T) == x`, since subtyping comes into play (as well as special rules for nullable, icastable, etc).

I've been playing with some prototypes here, but nothing worth calling attention to quite yet.

[2017-07-18 22:04] livarcocc commented on #5790
@yizhang82 you closed this issue as a dup of itself. Did you mean to reference a different issue?

[2017-07-18 22:12] yizhang82 commented on #5790
Sorry. I meant https://github.com/dotnet/coreclr/issues/10684 and https://github.com/dotnet/corefx/pull/18532. I just tried reference a tlbimp generated dll in a .NET Core 2.0 console project and I didn't hit any typeload exceptions.

[2017-07-18 22:23] davmason commented on #12611
I looked at making the native code pointer and MethodDesc be a union, but it would add nontrivial complexity to the code. There is an m_flags field we could borrow a bit from to indicate whether it is a native code pointer or MethodDesc, but we would have to take a lock to update the field since the flag and the field would have to be updated atomically.

Since we're doing this as a precaution, we

[2017-07-18 22:37] #12849 closed

[2017-07-18 22:41] BruceForstall opened #12886 "[Arm32][LEGACY_BACKEND][JitStress=1] Assertion failed 'regPair >= REG_PAIR_FIRST && regPair <= REG_PAIR_LAST'"
[code]
Test:
[code]
Assert:
[code]

[2017-07-18 22:51] noahfalk commented on #12611
Thanks David

[2017-07-18 22:51] #12611 closed

[2017-07-18 23:54] CarolEidt commented on #11783
Here's my thinking on this:

1. It would make more sense for `hasMultiregStructArgs` to not be set for a one-field HFA.
2. We shouldn't create a `GT_FIELD_LIST` for a one-field HFA. Instead, it should be passed as the primitive type.
3. We should never have a `GT_FIELD_LIST` below a `GT_PUTARG_REG`. I'm not sure how that's happening, and it may be useful to understand that so that we can add an as

[2017-07-19 01:00] #12848 closed

[2017-07-19 01:01] sjsinju commented on #12848
Closed with #12874

[2017-07-19 01:11] sjsinju commented on #12873
I'll look this issue.

[2017-07-19 02:14] hseok-oh commented on #11783
There is two point to modify
1. modify `fgMorphArg()` to handle one-field hfa (float, double)
2. modify `fgMorphMultiregStructArg()` to return without generating `GT_FIELD_LIST`

Then after morphing,
[code]

And after lowering
[code]

[2017-07-19 02:17] YongseopKim commented on #12657
#12878 solves this.

[2017-07-19 02:17] #12657 closed

[2017-07-19 02:18] YongseopKim commented on #12810
#12878 solves this.

[2017-07-19 02:18] #12810 closed

[2017-07-19 02:31] YongseopKim commented on #12656
This passes with https://github.com/dotnet/coreclr/pull/12852
[code]

[2017-07-19 02:34] hseok-oh commented on #11783
@mskvortsov And if you want to use one-field GT_FIELD_LIST, it should be:
[code]

[2017-07-19 03:00] jyoungyun commented on #11840
The second error was already fixed by @hseok-oh patch (https://github.com/dotnet/coreclr/pull/12710).

[2017-07-19 03:04] BruceForstall commented on #12656
@YongseopKim Should it be closed?

[2017-07-19 03:11] hseok-oh commented on #11783
Please check this branch
https://github.com/hseok-oh/coreclr/tree/ryujit/fix_11783
This branch can be effect LegacyJIT/ARM.

[2017-07-19 03:51] YongseopKim commented on #12656
@BruceForstall  If #12852 is merged, it can be closed.

[2017-07-19 04:19] YongseopKim commented on #12656
@BruceForstall I think it's ok to close this. PTAL #12852.

[2017-07-19 04:19] #12656 closed

[2017-07-19 05:21] mikedn commented on #12595
As far as I can tell this also affects ARM64:
[code]
generates
[code]
@sdmaclea The `sxtw` instruction is redundant since `ldrsb` already sign extended to 64 bit, right?

[2017-07-19 05:29] mikedn opened #12893 "[RyuJIT-ARM32/64] Some cast overflow checks are dropped incorrectly"
Example:
[code]
On x64 this generates:
[code]
On arm64 this generates:
[code]
On arm32 this generates:
[code]
This is likely caused by [getCastDescription](https://github.com/dotnet/coreclr/blob/master/src/jit/lower.cpp#L4974) using `srcType` directly, without `genActualType`. Then it tries to determine if an overflow check is required `srcType == TYP_INT && dstType == TYP_ULONG` is used and this

[2017-07-19 06:14] hseok-oh commented on #9903
I'll prepare enabling Linux x86 TC pri2 test on CI.

[2017-07-19 07:53] YongseopKim opened #12895 "[RyuJIT/ARM32] NYI: Unimplemented node type OBJ"
JIT/opt/ETW/TailCallCases
[code]

Loader/classloader/regressions/Dev12_518401/dev12_518401
[code]

[2017-07-19 07:54] YongseopKim commented on #12895
This needs to change 3 bytes obj to a local field int.
[code]

x64
[code]

[2017-07-19 07:55] YongseopKim commented on #12895
/cc @dotnet/arm32-contrib

[2017-07-19 08:31] t-sch commented on #659
As I understand the discussion until here, it is not supported to CREATE .Net Core assemblies in C++/CLI.

Is it supported to USE .Net Standard assemblies in C++/CLI?

[2017-07-19 09:22] alpencolt commented on #11783
Thank you all, I'll prepare new solution. It hink PR https://github.com/dotnet/coreclr/pull/12816 can be declined.

@CarolEidt it occurs because `Compiler::lvaShouldPromoteStructVar()` return `true`. So if we'll revert PR https://github.com/dotnet/coreclr/pull/12604 you will see the same dump for one-field struct.

@hseok-oh are you going to merge code from `fix_11783` branch?

[2017-07-19 09:25] #12725 closed

[2017-07-19 09:27] parjong commented on #12660
I found that this issue does not happen when commenting out ``op1->gtCall.setEntryPoint(pFieldInfo->fieldLookup);`` statement from the following fragment (which is a part of ``Compiler::impImportStaticFieldAccess``):
[code]

[2017-07-19 09:31] parjong commented on #12660
When ``DynamicHelperFixup`` hits this assertion failure, ```rva`` is ``0x0003E059`` (`pCell`` is ``0x71518059`` but the module base is ``714da000``).

We first need to figure out whether ``pCell`` is valid, or not.

[2017-07-19 09:39] hseok-oh commented on #11783
@alpencolt No. Feel free your work using that branch.

[2017-07-19 09:57] alpencolt commented on #11783
Thank you!

[2017-07-19 12:19] RussKeldorph commented on #11848
Dup of #8093?

[2017-07-19 12:41] dotnet-mc-bot opened #12898 "Test failure: Exceptions_ForeignThread._ForeignThreadExceptions_ForeignThreadExceptions_/_ForeignThreadExceptions_ForeignThreadExceptions_cmd"
Opened on behalf of @RussKeldorph

The test `Exceptions_ForeignThread._ForeignThreadExceptions_ForeignThreadExceptions_/_ForeignThreadExceptions_ForeignThreadExceptions_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\d0e5c98a-24b6-4afd-baee-3a2ab651d33b\Work\615ccb8d-9ab1-40e7-bdd1-c860e20caa71\Unzip\Reports\Exceptions.ForeignThread\ForeignThreadExceptions\F

[2017-07-19 12:50] RussKeldorph commented on #12898
@wtgodbe Should this have been fixed by #12781?

[2017-07-19 14:15] sdmaclea commented on #12595
@mikedn Correct sxtw is redundant correct

[2017-07-19 15:32] alpencolt commented on #11783
@hseok-oh your commit looks good. I think you there is no need to make additional changes.
Your should make PR.

[2017-07-19 16:15] BruceForstall commented on #11848
Yes.

[2017-07-19 16:15] #11848 closed

[2017-07-19 16:15] BruceForstall commented on #11848
(Well, assuming the fix for #8093 fixes both legacy_backend and RyuJIT)

[2017-07-19 16:23] #12895 closed

[2017-07-19 16:28] BruceForstall commented on #12893
cc @dotnet/arm32-contrib @dotnet/arm64-contrib

[2017-07-19 16:49] 4creators opened #12902 "[Windows/ARM32] Windows cross build for Windows/ARM32 fails with missing includes and libs"
Build command 'build all arm Release|Debug|Checked skiptests' fails with the following errors:

[code]

Build fails always when done from VS2017 v15.2 or earlier developer command prompt.
Build fails with above errors when done from VS2017 v15.3 preview 4 developer command prompt

System: Windows 10 Pro v1703, base lang pl_PL, using en-US
Installed VS2015, VS2017 and preview 4 VS2017 v15.3
Install

[2017-07-19 17:07] pgavlin opened #12903 "[Arm32][LEGACY_BACKEND] 'Assertion failed '(imm & 0x00ff) == imm'"
e.g.
[code]

This is affecting the following tests:
### JitStress=1
- _il_relcompat_v.cmd_10021
### JitStress=2
- _il_relcompat_v.cmd_10021
### JitStressRegs=1
- _il_relcompat_v.cmd_10021
- hfa_nd0C_d.cmd_5540
- hfa_nd0C_r.cmd_1855
- hfa_nd0G_d.cmd_5672
- hfa_nd0G_r.cmd_7361
- hfa_nd1C_d.cmd_629
- hfa_nd1C_r.cmd_10783
- hfa_nd1G_d.cmd_9170
- hfa_nd1G_r.cmd_8214
- hfa_sd0C_d.cmd_7727
- hfa_sd0C_r.c

[2017-07-19 17:10] pgavlin opened #12904 "[Arm32][LEAGACY_BACKEND][JitStress=1,2] Assertion failed 'rsIsTreeInReg(reg, tree)'"
This is hitting in `JIT\Methodical\Invoke\25params\25param2a_cs_r\25param2a_cs_r.cmd `:

[code]

[2017-07-19 17:12] pgavlin commented on #12660
This is causing the following four tests to fail on Windows/ARM32/LEGACY_BACKEND across all modes:
- `readytorun\tests\genericsload\callgenericctor\callgenericctor.cmd`
- `readytorun\tests\mainv1\mainv1.cmd`
- `readytorun\tests\mainv1\mainv2.cmd`
- `readytorun\tests\genericsload\usegenericfield\usegenericfield.cmd`

[2017-07-19 17:15] pgavlin opened #12906 "[ARM32][LEGACY_BACKEND] Assertion failed 'isGeneralRegister(id->idReg2())'"
e.g.
[code]

This is causing the following tests to fail:
### JitStress=1
- hfa_nd0E_r.cmd_7442
### JitStressRegs=1
- StructABI.cmd_1124

[2017-07-19 17:19] pgavlin opened #12907 "[ARM32][LEGACY_BACKEND] Assertion failed 'tree->gtCall.IsTailCall()'"
e.g.
[code]

This is causing the following tests to fail:
### JitStress=1
- hfa_nf0E_r.cmd_10089
- hfa_nf1E_r.cmd_9915
- hfa_sf1E_r.cmd_2546
### JitStress=2
- hfa_nf0E_r.cmd_10089
- hfa_nf1E_r.cmd_9915
- hfa_sf1E_r.cmd_2546
- StructABI.cmd_1124

[2017-07-19 17:21] pgavlin opened #12908 "[ARM32][LEGACY_BACKEND] System.DataMisalignedException: A datatype misalignment was detected in a load or store instruction."
e.g.
[code]
This is causing the following tests to fail:
### JitStress=1, JitStress=2
- InterlockedIncrement1.cmd_1252

[2017-07-19 17:23] pgavlin opened #12909 "[ARM32][LEGACY_BACKEND] Assertion failed 'tree->InReg()'"
e.g.
[code]

This is causing the following tests to fail:
### JitStress=2
- MarshalStructAsLayoutExp.cmd_2829

[2017-07-19 17:26] pgavlin opened #12910 "[ARM32][LEGACY_BACKEND] Assertion failed '(rsMaskLock & regMask) == 0'"
e.g.
[code]

This is causing the following tests to fail:
### JitStressRegs=1
- Compilation.cmd_11084
- ConvertToInt32_17.cmd_859
- ConvertToUInt3213.cmd_447
- CscBench.cmd_3424
### JitStress=1, JitStressRegs=1
- b70994.cmd_9671
- Compilation.cmd_11084
- ConvertToInt32_17.cmd_859
- ConvertToUInt3213.cmd_447
- CscBench.cmd_3424

[2017-07-19 17:27] RussKeldorph commented on #12902
Yeah, sorry, this is a known issue being followed up on.

Workaround:
- Use Add/Remove Programs to uninstall Windows Software Development Kit - Windows 10.0.15063.xxx
- Reinstall above component via https://go.microsoft.com/fwlink/?linkid=851955.  Make sure ARM SDKs are selected (they should be by default)

[2017-07-19 17:27] pgavlin opened #12911 "[ARM32][LEGACY_BACKEND] Assertion failed 'tmpGetCount'"
e.g.
[code]

This is causing the following tests to fail:
### JitStress=1, JitStressRegs=1
- RngchkStress2_o.cmd_4150

[2017-07-19 17:28] pgavlin commented on #8093
See also #12906

[2017-07-19 17:29] 4creators opened #12912 "[Windows/ARM64] Windows cross build for Windows Arm64 fails with missing toolset dir"
Attempting to build coreclr for Windows Arm64 target fails with following messages:

[code]
Attempt to set guessed toolset_dir as follows fails as well.

[code]
If there is a need to setup any additional tools which are required for Windows Arm64 target to build pls provide some info.

[2017-07-19 17:29] pgavlin opened #12913 "[ARM32][LEGACY_BACKEND] RVA statics tests fail"
These two RVA statics tests fail across all run types:
- `JIT\Directed\rvastatics\rvastatic2\rvastatic2.cmd`
- `JIT\Directed\rvastatics\rvastatic3\rvastatic3.cmd`

[2017-07-19 17:31] RussKeldorph commented on #12902
Sorry, I should clarify that this is caused by an unfortunate decision to exclude the ARM SDK components by default when VS installs the SDK.  This is supposed to be corrected at some point, but I'm not sure when.

The more serious issue (the one I was referring to above) is that you can't just use Add/Remove Programs to "Change" the SDK and add the missing ARM files.  You have to actually uninsta

[2017-07-19 17:32] pgavlin opened #12914 "[ARM32][LEGACY_BACKEND] Some tests fail with exit code -532462766 (`EXCEPTION_COMPLUS`)"
The following tests fail in this fashion:
### All run types
- b26323.cmd_4100
- mcc_i73.cmd_7943
### JitStressRegs=1 only
- _il_rellcs_ulong.cmd_8737

[2017-07-19 17:35] pgavlin opened #12915 "[ARM32][LEGACY_BACKEND] Two GC tests do not complete under any run type"
- 536168.cmd_588
- foregroundgc.cmd_4366

When run manually, these tests do not complete (I gave up after an hour).

[2017-07-19 17:36] pgavlin opened #12917 "[ARM32][LEGACY_BACKEND][JitStressRegs=1] RngchkStress3 times out after 10 minutes."
Just what it says on the tin. We should verify that this test completes successfully when run manually.

[2017-07-19 17:44] pgavlin opened #12918 "[ARM32][LEGACY_BACKEND] Five tests exhibit unspecified failures across all run types"
- collect.cmd_2901
- getgeneration.cmd_956
- GitHub_11408.cmd_4217
- scenario.cmd_1864
- verify01_small.cmd_3633

These tests simply fail with an unexpected return code.

[2017-07-19 17:46] pgavlin opened #12919 "[ARM32][LEGACY_BACKEND][JitStress=1] Some tests exhibit unspecified failures"
- 25param1b_il_d.cmd_7388
- 25param1b_il_r.cmd_9541
- 25param3b_il_d.cmd_10361
- 25param3b_il_r.cmd_3345
- 25paramMixed_il_d.cmd_7940
- 25paramMixed_il_r.cmd_3844

[2017-07-19 17:47] pgavlin opened #12920 "[ARM32][LEGACY_BACKEND][JitStress=2] Some tests exhibit unspecified failures"
- 25param1b_il_d.cmd_7388
- 25param1b_il_r.cmd_9541
- 25param3b_il_d.cmd_10361
- 25param3b_il_r.cmd_3345
- 25paramMixed_il_d.cmd_7940
- 25paramMixed_il_r.cmd_3844
- doublinkgen.cmd_8675

[2017-07-19 17:47] pgavlin opened #12921 "[ARM32][LEGACY_BACKEND][JitStressRegs=1] Some tests exhibit unspecified failures"
- doublinkstay.cmd_8470
- leakwheel.cmd_8208

[2017-07-19 17:49] pgavlin opened #12922 "[ARM32][LEGACY_BACKEND][JitStress=1, JitStressRegs=1] Some tests exhibit unspecified failures"
- 25param1b_il_d.cmd_7388
- 25param1b_il_r.cmd_9541
- 25param3b_il_d.cmd_10361
- 25param3b_il_r.cmd_3345
- 25paramMixed_il_d.cmd_7940
- 25paramMixed_il_r.cmd_3844
- doublinkstay.cmd_8470
- finalizearraysleep.cmd_1948

[2017-07-19 17:50] pgavlin opened #12923 "[ARM32][LEGACY_BACKEND][JitStress=2, JitStressRegs=1] Some tests exhibit unspecified failures"
- 25param1b_il_d.cmd_7388
- 25param1b_il_r.cmd_9541
- 25param3b_il_d.cmd_10361
- 25param3b_il_r.cmd_3345
- 25paramMixed_il_d.cmd_7940
- 25paramMixed_il_r.cmd_3844
- doublinkgen.cmd_8675
- doublinkstay.cmd_8470
- HandleCopy.cmd_8808
- KeepAliveNull.cmd_10266
- leakwheel.cmd_8208

[2017-07-19 18:08] pgavlin commented on #12918
The collect.cmd and getgeneration.cmd failures are known and expected; these tests are disabled by default for all other targets.

[2017-07-19 18:20] oatkins opened #12927 "Possible RyuJIT bug causes application hang with 100% CPU usage"
After a recent Windows update, our build broke (for an internal LOB application). Build machines running acceptance tests were timing out, with the IIS Express process showing 100% CPU usage.

We identified that this could be fixed by switching to LegacyJit. Changing the version of .NET (e.g. to 4.7) does not fix the problem.

After examining the stacks of running threads on an IIS process manifes

[2017-07-19 18:24] pgavlin commented on #12918
The verify01_small.cmd failure is a known issue: #4851

[2017-07-19 18:49] wtgodbe commented on #12898
@RussKeldorph yes, I'm surprised to see this failing with this error - I'll take a look

[2017-07-19 18:56] wtgodbe commented on #12898
@tijoytom @botaberg can you take a look? This is the same type of failure as https://github.com/dotnet/coreclr/issues/12488, but seems to have a different cause, as the other related tests were fixed by https://github.com/dotnet/coreclr/pull/12781, and I've verified that all expected components are present in the test execution folder & in Core_Root

[2017-07-19 19:03] 4creators commented on #12902
@RussKeldorph  Thank you for info on workaround

With reinstalled Windows Kit 15063 build succeeds up to a point which is indicated below:

Build commnd: `e:\src\ms\dotnet\coreclrarm>build all arm Debug skiptests`

[code]

The last line indicates that at the end I have landed in another directory. What is even worse command prompt is left with almost all locally set environment variables and canno

[2017-07-19 19:07] 4creators commented on #12355
Fixed with PR #12356

[2017-07-19 19:07] #12355 closed

[2017-07-19 19:18] mikedn commented on #12927
It looks to me that this is a bug in this ServiceStack code (from a decompiler because I couldn't find the source code):
[code]
[code]
The JIT has hoisted the `addIndex` field load out of the loop and the loop is now infinite. The fields is not marked as volatile so the JIT is correct in doing this transformation.

[2017-07-19 19:59] oatkins commented on #12927
Interesting. [Here](https://github.com/ServiceStack/ServiceStack/blob/v3/src/ServiceStack.Common/Net30/ObjectPool.cs) is the source code. (Sorry: I should have included that link in the issue.) Thanks for the explanation. Looks as though we'll have to find a way to replace that code.

[2017-07-19 19:59] #12927 closed

[2017-07-19 20:03] pgavlin commented on #12915
As it turns out, these tests are disabled on all other platforms. I will mark them accordingly.

[2017-07-19 20:17] pgavlin commented on #12914
The failure under `JitStressRegs=1` is due to an unhandled exception thrown by the test itself; this likely indicates an actual bug under that stress mode.

[2017-07-19 20:19] pgavlin opened #12935 "[ARM32][LEGACY_BACKEND] JIT\Methodical\int64\arrays\_il_rellcs_ulong\_il_rellcs_ulong fails under JITStressRegs=1"
Rather than completing successfully, this test throws (and does not handle) an instance of `System.Exception`. This test does run successfully without `JitStressRegs`.

This was originally tracked by #12914.

[2017-07-19 20:20] #12914 closed

[2017-07-19 20:23] pgavlin commented on #12918
The scenario.cmd test was fixed with #12925 and the GitHub_11408 failure turned out to be a known issue.

[2017-07-19 20:23] #12918 closed

[2017-07-19 20:25] pgavlin commented on #12915
...and they're already tagged. Closing.

[2017-07-19 20:25] #12915 closed

[2017-07-19 20:57] danmosemsft commented on #11248
I think this has served its purpose.

[2017-07-19 20:57] #11248 closed

[2017-07-19 21:01] RussKeldorph commented on #12902
@4creators I haven't seen that one before.  My first guess is that your root folder name (`e:\src\ms\dotnet\coreclrarm`) is too long and is causing some internal command to exceed some Windows' limit.  I would first try building from a shorter root, like e:\coreclr.  If that works, feel free to open an issue.  No guarantees it would get traction, but it should certainly be fixed if this short root

[2017-07-19 21:19] BruceForstall opened #12937 "ARM32 LEGACY_BACKEND status"
This is related to #3977.

With our UWP6.0 testing on Windows, we've run various JIT stress modes (with LEGACY_BACKEND JIT) and found a number of asserts. This query will show these:

https://github.com/dotnet/coreclr/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20milestone%3AUWP6.0%20label%3Aarea-CodeGen

@dotnet/arm32-contrib @parjong If anyone from Samsung wants to repro these on Linux to see

[2017-07-19 21:34] pgavlin commented on #12921
Both of these tests fail due to untracked spill temps that extend the lifetimes of some temps. These tests are intrinsically unreliable as the JIT is allowed to extend lifetimes arbitrarily inside of a method.

[2017-07-19 21:38] pgavlin commented on #12922
doublinkstay and finalizearraysleep fail due to untracked spill temps that extend the lifetimes of some temps. These tests are intrinsically unreliable as the JIT is allowed to extend lifetimes arbitrarily inside of a method.

[2017-07-19 21:38] pgavlin commented on #12923
The last five tests in the list are all GC tests that fail due to untracked spill temps that extend the lifetimes of some temps. These tests are intrinsically unreliable as the JIT is allowed to extend lifetimes arbitrarily inside of a method.

[2017-07-19 21:39] pgavlin commented on #12920
doublinkgen fails due to untracked spill temps that extend the lifetimes of some temps. These tests are intrinsically unreliable as the JIT is allowed to extend lifetimes arbitrarily inside of a method.

[2017-07-19 22:16] RussKeldorph commented on #12911
You should be able to reproduce this with x86 legacynonjit instead of using an ARM device, but if you want to use an ARM device, let me know.

(From x86 coreclr build)
[code]

[2017-07-19 22:29] RussKeldorph commented on #12910
set COMPlus_AltJit=*
set COMPlus_AltJitName=legacynonjit.dll
set COMPlus_JitStress=1
set COMPlus_JitStressRegs=1
cd <root>\bin\tests\Windows_NT.x86.Debug\JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b70994\b70994
b70994.cmd -coreroot <root>\bin\tests\Windows_NT.x86.Debug\Tests\Core_Root

[2017-07-19 23:25] AndyAyersMS opened #12940 "x64 helper call perf optimization opportunities"
Based on comments/code it looks like the jit does not accurately model the kill set of some helpers, eg `CORINFO_HELP_ASSIGN_BYREF` kills very few registers on x64 but the jit models it as a general call plus some extra kills.

The non-windows implementations use `PREPARE_EXTERNAL_VAR` to copy various runtime statics into registers. The macro expand into a RIP-relative memory operand so it would b

[2017-07-20 00:04] pgavlin commented on #12919
These failures all occur due to bad interactions between GS cookie checks and `jmp`. For example, given the assembly below:
[code]
The load of the GS cookie into `r3` (`ldr     r3, [sp+0x1c]	// [V28 GsCookie]`) smashes an argument to the `jmp` target.

These same failures occur with `JitStress=2` (see #12920, #12922, #12923).

[2017-07-20 00:33] pgavlin commented on #12920
This is now a dup of #12919.

[2017-07-20 00:33] #12920 closed

[2017-07-20 00:33] pgavlin commented on #12922
This is now a dup of #12919.

[2017-07-20 00:33] #12922 closed

[2017-07-20 00:33] pgavlin commented on #12923
This is now a dup of #12919.

[2017-07-20 00:33] #12923 closed

[2017-07-20 00:34] #12921 closed

[2017-07-20 00:53] mikem8361 commented on #12853
Removed the section header/content code.

[2017-07-20 00:53] #12853 closed

[2017-07-20 01:22] MichalStrehovsky opened #12949 "Bad x64 codegen in VerifyUnifierConsistency"
@sergiy-k and I hit this in CoreRT, but this has a repro in CoreCLR too.

Compile the attached [Program.txt](https://github.com/dotnet/coreclr/files/1160871/Program.txt)
as `csc /noconfig /nostdlib /r:System.Private.CoreLib.dll Program.cs /define:DEBUG /O` (note: we define the DEBUG symbol and enable optimizations) and run the resulting executable with CoreRun. The code will hit an assert. Now dro

[2017-07-20 01:39] RossNordby opened #12950 "AccessViolationException with SIMD type fields in struct when optimizations enabled"
Executing [this](https://github.com/RossNordby/scratchpad/blob/d039476eb76f37c90e9c208585432e9e98b713b0/Repro/Repro/Program.cs) code:
[code]
results in an AccessViolationException when compiled with optimizations enabled. It reproduces in every preview I've tried (from 2.0.0-preview2-002093-00 to 2.0.0-preview3-25518-01).

I didn't dig deep enough to identify a specific cause, but I did note that

[2017-07-20 03:10] AndyAyersMS commented on #12950
This repros with current master. The jit is zeroing 16 bytes for simd12 variables in `Test`, and this overwrites the saved on entry `rdi`, and so when `Test` returns the locals in `Main` are wrong.
[code]

[2017-07-20 05:17] hseok-oh commented on #11783
@alpencolt Thanks to confirm commit. I'll make new PR.

[2017-07-20 06:46] mikedn commented on #12927
Thanks! It's nice to see that the decompiler was right. Sometimes they screw up :)

[2017-07-20 08:23] kbaladurin commented on #12853
@mikem8361 thank you!

[2017-07-20 09:50] BredPet opened #12953 "ARM: thumb mode flag generating issue"
Hi, there is a very strange bug in Legacy JIT.
[code]
When the symbol is loaded into the register REG_JUMP_THUNK_PARAM, it's without thumb +1 flag.
Symbol is RhpUniversalTransition from CoreRT. I looked at the code, the relocation should be set to thumb mov32, but why the symbol is eventually loaded without +1 is not clear. Can anyone say anything about this?

[2017-07-20 09:51] BredPet commented on #12953
@jkotas please take a look

[2017-07-20 14:30] AndyAyersMS commented on #12950
Regression from 1.1 (which did not promote struct fields as aggressively, and was careful to use a 12 byte zeroing sequence).

Not really my area of expertise, but it would appear the cautionary logic in `lvaMapSimd12ToSimd16` that is currently 32-bit only needs to kick in for 64 bits too; it is inadvisable to increase the size of a P-DEP local.

cc @dotnet/jit-contrib

[2017-07-20 14:52] jkotas commented on #12953
- This path should be taken for virtual or interface calls only. I would not expect this path to be ever taken for `RhpUniversalTransition` symbol. How did we ended up here with `RhpUniversalTransition`?
- The ABI for interface calls is different between CoreCLR and CoreRT today. What is the interface call ABI that you are trying to make work for CoreRT on Linux ARM?

[2017-07-20 15:02] AndyAyersMS commented on #12950
With changes to enable `lvaMapSimd12ToSimd16`'s restriction to kick in for 64 bits, and temporarily suppressing an assertion check in `Lowering::CheckNode`, the test passes, and the code in `Test` is now only zeroing 12 bytes per field:
[code]

[2017-07-20 15:07] AndyAyersMS commented on #12949
I'll take a look.

[2017-07-20 15:21] AndyAyersMS commented on #12949
Looks your diagnosis is spot-on. JIT is using `r14d` for `walk1` but when it indexes into `_entries` it mysteriously switches over to using `rdi`:
[code]

[2017-07-20 15:23] mikedn commented on #12949
And it looks like the cast from `int` to `long` is missing too.

[2017-07-20 15:27] RussKeldorph commented on #12953
@dotnet/jit-contrib

[2017-07-20 15:42] AndyAyersMS commented on #12949
Also a regression from 1.1. Note array bounds check and access will generally need two different registers, because this is an array of structs, so the physical index is the logical index * 24. 1.1 has *8 in the addressing mode and *3 earlier. 2.0 seems to lose the *3 somehow, presumably that is what should have been in `rdi`.
[code]
Will keep digging... seems like maybe an optimizer bug at this p

[2017-07-20 15:51] danwalmsley commented on #12739
@steveharter sorry for delay, my colleague with mac is away, so I will come back to you once we have access to mac, to give you more information. Thanks Dan

[2017-07-20 16:03] pgavlin commented on #12907
On a fundamental level, this is due to an IR shape that is not handled correctly by `fgMorphOneAsgBlockOp`: in particular, this function appears to assume that if the assignment type is not a struct type, then it must be valid to set certain `GT_IND`-specific flags on the RHS (https://github.com/dotnet/coreclr/blob/master/src/jit/morph.cpp#L9021-L9029). On ARM32, however, the RHS might be a single

[2017-07-20 16:06] pgavlin commented on #12907
cc @CarolEidt

[2017-07-20 16:36] CarolEidt commented on #12907
This may be too obvious to be a valid solution, but it would seem that setting those flags would only be valid or necessary if it is a `GT_IND`. On x64/x86, that would be the case, since, IIRC, the rhs is always a `GT_IND` or a local. I believe that it's only on targets that return structs by value in registers that we support a `GT_CALL` on the rhs.

[2017-07-20 16:54] AndyAyersMS commented on #12949
Best guess so far is that `gtFoldExprSpecial` sees a `box(..) == null` and deadcodes it, but hidden in the `...` is a side effect to initialize the *3 cse (`V37` here) that gets lost in the process:
[code]
Most of the other cases in this method check for side effects and defer; seems like we should verify the box arg is side-effect free here too.

[2017-07-20 17:16] AndyAyersMS commented on #12949
Because key is a value type, the assert below is trivially true. But it also generates a CSE used in the subsequent statement. Should be easy enough to create a small repro...
[code]

[2017-07-20 17:39] AndyAyersMS commented on #12949
Somewhat simpler repro. Codegen bug is in `Test` as above.
[code]

[2017-07-20 17:39] gbalykov opened #12957 "[Question] TypeHandle relocations"
We propose to move m_ElementTypeHnd out of MethodTable by allocating additional space for it after MethodTable and storing RelativePointer to type handle in MethodTable itself. In native image, type handle will be stored in a separate section, which will allow to reduce the number of dirty page, and, thus, make more pages shareable.

The same idea could be applied to m_Arg type handle in ParamType

[2017-07-20 17:46] AndyAyersMS commented on #12949
The underlying assume-no-side-effects weakness in `gtFoldExprSpecial` predates 2.0 -- indeed it is there in the jit32 sources as well.

Not clear yet if we can expose this bug in older jits. It is showing up in 2.0 because of more aggressive CSEs.

[2017-07-20 18:04] alpencolt opened #12958 "[RyuJIT/ARM32] Casts related NYI in codegenarm.cpp"
There are few NYI in `codegenarm.arm` related to long <-> float casting. E. g.:
[code]
Is there any necessarily to keep them there? Such casts work well, since they are being transformed in Morph phase to different JIT helpers (like `CORINFO_HELP_LNG2DBL`).

I want to remove them. @dotnet/arm32-contrib any objections?

[2017-07-20 18:22] BruceForstall commented on #12958
Sounds good to me. Maybe leave some asserts (if there aren't any already) that such casts don't make it to codegen.

[2017-07-20 18:23] BruceForstall commented on #12957
cc @jkotas @janvorli

[2017-07-20 18:33] BruceForstall commented on #12906
Dup of #8093?

[2017-07-20 18:39] pgavlin commented on #12906
Essentially, yes. I only left this open because it tracks a failure that is not mentioned in that issue--feel free to close this if you feel that #8093 is sufficient.

[2017-07-20 18:48] AndyAyersMS commented on #12949
Adding a side effect check fixes the bad codegen, but is overly pessimistic. Likely need to rework the box code in the importer to forcibly move possible side effects out from under the box.

[2017-07-20 18:48] pgavlin commented on #12907
Here's the relevant morph dump:

[code]

`fgMorphBlockOperand` adds the `IND(ADDR())` that wraps the call *after* the problematic flags have been set on the call node.

[2017-07-20 18:50] pgavlin commented on #12907
Indeed, the addition of the `IND(ADDR())` is what made me moderately skeptical about the easy solution that you suggest. After some further thought, however, I think that your suggestion is probably sufficient: presumably if we add this wrapper we can be certain that the location being dereferenced is known to point into the local frame, so these flags would not be necessary.

[2017-07-20 19:29] AndyAyersMS commented on #12949
Or maybe not, the optimization done in `gtFoldExprSpecial` effectively dead-codes a struct copy because it's folded in under the box. If we split it out it may become problematic.

This argues for drilling deeper into the box operand during `gtFoldExprSpecial` to try sort which of the side effects are "expected" and can be ignored and which others aren't...  not thrilled about this but it is proba

[2017-07-20 20:07] bojanrajkovic commented on #930
I don't understand why it's possible to participate in managed loading via an event, but not unmanaged. An event similar to the Resolving event for managed assemblies would be great—let me know when the runtime is attempting to load an unmanaged library and allow me to (attempt to) provide my own handle to the loaded native library. If all of the event handlers return `IntPtr.Zero` (or indicate fa

[2017-07-20 20:23] jashook commented on #12898
This is a dup of #10636

[2017-07-20 20:44] Daniel-Svensson commented on #10642
@janvorli @jkotas I have no hurry with this issue, but I am hoping for this year.
there are some minor cleanup left to do but I am not working much on this at the moment. I have however updated the divide implementation to also support 32bit code and might post updated performance numbers withing the next weeks given a rainy day.

It should be possible to add the managed implementation to the benc

[2017-07-20 20:58] AtsushiKan commented on #12391
Curiously enough, there seems be an FCall body (but no FCall linkage) that does almost what we need here. The "almost" being how it behaves if one the type loads throws a typeload exception...

https://github.com/dotnet/coreclr/blob/3008a25275ea0b288b9fe2d7db46901b27b4d37b/src/vm/assemblynative.cpp#L861

[2017-07-20 22:41] RussKeldorph commented on #12913
Related to #2451

[2017-07-20 23:04] AndyAyersMS commented on #12949
Simpler repro that does not require CSE. Here the call to `Get` is dropped.
[code]

[2017-07-20 23:42] CarolEidt commented on #12907
Yes, I think that's correct. The cases where we have a non-indirection rhs of a struct assignment are limited. To be conservative, you could assert that if the rhs is not an indirection, then it is a call or local, either of which mean the struct is on the stack.

[2017-07-21 00:29] rickbrew commented on #10826
Okay, that's troubling then. There may be another bug that we're bumping into :(

[2017-07-21 00:42] jorive commented on #12143
There is already an option to build the overlay only, it just wasn’t documented: [runtest.sh](https://github.com/dotnet/coreclr/blob/master/tests/runtest.sh).
https://github.com/dotnet/coreclr/pull/12206 documents the option `--build-overlay-only`

We should now replace the usage of `perf-prep.sh` with `/tests/runtest.sh` to produce the Core_Root that we run against. This will allow us to re-use t

[2017-07-21 01:58] jorive commented on #12863
cc: @nategraf

[2017-07-21 03:04] AndyAyersMS commented on #12949
One more example, this time we lose an exception-causing dereference.
[code]

[2017-07-21 06:00] hseok-oh commented on #12626
@mskvortsov Are you looking at this issue? If not, I'll look at this issue.

[2017-07-21 06:06] mskvortsov commented on #12626
@hseok-oh No, I'm not.

[2017-07-21 06:16] jkotas commented on #12957
What's the problem with making `m_ElementTypeHnd` to be a relative pointer directly?

[2017-07-21 06:19] dduerner-ycwang opened #12969 "Proposal - GC.HeapStat() for garbage collector heap statistics"
It seems as though it'd be helpful for us developer's to have an easy way to obtain heap statistics programmatically at runtime. It might be somewhat helpful to assist us in making logic decisions at runtime, such as when to initiate a Large Object Heap compaction programmatically at runtime. We don't know if there are technical reasons this wouldn't be possible or whether it's simply not feasible

[2017-07-21 07:37] BredPet commented on #12953
Correct symbol is RhpInitialDynamicInterfaceDispatch at this place, x64 has the same behavior, it loads RhpUniversalTransition at the end. After I implement corresponding stubs, error is gone. I think because of the empty symbols, the pipeline failed in the wrong direction. Thanks to all!

[2017-07-21 07:37] #12953 closed

[2017-07-21 09:25] janvorli commented on #12851
@mikem8361 - I don't remember if we have succeeded making the libsosplugin.so that we distribute work for newer lldb versions than 3.6. I think you've said it was working for you after the change that you've made about a month ago, but I am not sure.
@micli, if you can build coreclr repo with lldb-dev for lldb-3.9 installed, it should produce libsosplugin.so that should work fine with lldb-3.9. Th

[2017-07-21 10:46] 4creators opened #12970 "[ARM32|Windows] VS2017 arm target build is broken - unmatched pushd popd commands"
coreclr repo does not build correctly with command `build all arm Debug|Checked|Release` on Windows.

With reinstalled Windows Kit 15063 (see issue #12902) build succeeds up to a point which is indicated below:

Build commnd: `e:\src\ms\dotnet\coreclrarm>build all arm Debug skiptests`

[code]
Building directly from `e:\coreclr`  fails as well.

After setting environment variable `_echo=1` one can

[2017-07-21 11:01] gbalykov commented on #12957
`Instantiation` wrapper uses pointer to `TypeHandle` in different places and also in JIT code. `RelativePointer` doesn't allow to use address to absolute pointer. To reduce amount of changes, we propose to allocate `TypeHandle` outside of the `MethodTable` and store `RelativePointer` to `TypeHandle` in `MethodTable` itself. So, in JIT code, `TypeHandle` will be accessed through pointer to memory o

[2017-07-21 12:50] mskvortsov opened #12971 "[ARM32] Legacy vs. Ryu performance"
There is a slight regression of 4% on average in terms of code size between old and new backends, as measured on `JIT/Performance/CodeQuality` tests (S.P.C.dll methods were accounted too).

Sometimes the difference is quite large, for example test case `JIT/Performance/CodeQuality/SciMark`, method `SciMark2.SparseCompRow:matmult`:

- 492 bytes when compiled by Legacy,
- 692 bytes when compiled by

[2017-07-21 13:00] jkotas commented on #12957
Instantiation made out of the array is used just in SigTypeContext. It is not widespread.

Another side-effect is that it would make setting element of an array slower that is pretty frequent operation:

https://github.com/dotnet/coreclr/blob/4a0a82a8dabaabb1e9a82af944d70aed210838a3/src/vm/amd64/jithelpers_fast.S#L429

Do you have a list of all changes that you would like to make before you declar

[2017-07-21 13:10] mikedn commented on #12971
Related issue: #11349

x64 has the same problem, registers r8-r15 require a REX prefix that adds one byte to the instruction encoding.

[2017-07-21 13:39] gboucher90 commented on #12630
Fixed by https://github.com/dotnet/coreclr/commit/df214e67d3cbccb42d2733f4cbe8097a378a731a

[2017-07-21 13:39] #12630 closed

[2017-07-21 14:06] MichaelSimons opened #12972 "[ARM32] `qemu: Unsupported syscall: 389` when running console app in Docker"
While testing the new [arm32v7 Docker images](https://github.com/dotnet/dotnet-docker-nightly/pull/328) for .NET Core I'm seeing `qemu: Unsupported syscall: 389` written to the output whenever I run a console application in an arm Docker container on a Windows 10 machine.   I don't see this if I run the same Docker image on a physical arm32 device (e.g. raspberry pi).

## Steps to reproduce
0. Fro

[2017-07-21 14:14] ruben-ayrapetyan commented on #12957
As we understood the comment https://github.com/dotnet/coreclr/issues/11961#issuecomment-304680525, pointers to `TypeHandle`, which are provided by `Instantiation`, were also accessed from JIT-compiled code, so are frequently accessible. This is the reason why we propose to move the field out of structures, instead of replacing it with `RelativePointer<TypeHandle>`.

Currently, the change with `Ty

[2017-07-21 15:17] timbussmann commented on #12668
I notice the same behavior using preview2-25407-01 using "de-DE" culture

[2017-07-21 15:19] RussKeldorph commented on #12971
@dotnet/jit-contrib

[2017-07-21 15:22] RussKeldorph commented on #12970
@wtgodbe Would you mind taking a look?

[2017-07-21 15:55] tarekgh commented on #12668
@timbussmann could you please share small project repro the issue so we can investigate it? also tell us what OS you are using and which version. Thanks.

[2017-07-21 16:02] #12913 closed

[2017-07-21 16:14] ruben-ayrapetyan commented on #12957
More precisely, the change for `TypeHandle` is a part of changes for `SECTION_Class` and `SECTION_ReadOnly`, which we didn't include into those pull requests, because weren't sure about complexity of the related changes. Now, we would like to add the changes for `TypeHandle` too.

[2017-07-21 16:23] AndyAyersMS commented on #12949
Still searching for the right fix. Couple more notes.
1. The initial trees produced by the box are roughly
        Stmt1: newobj into a newly live local "boxTemp"
        Stmt2:   ... tree of BOX(COMMA(boxTemp, ASG(exprToBox,boxTemp)
2. If BOX of a value type appears under a EQ/NE compare to null we optimize it in `gtFoldExprSpecial`. This can be called at various times and is even invoked in the

[2017-07-21 16:45] mikedn commented on #12949
Hmm, when I added the GT.UN->EQ/NE transform I considered doing it right in the importer but I ended up adding it in morph because that's where most of such transforms are done. It looks like doing this in the importer might actually be a good idea, after all it just compensates an IL deficiency (lack of `cne`) rather than being an actual optimization.

[2017-07-21 16:45] mikem8361 commented on #12851
I haven’t got the libsosplugin.so we distribute building/working with lldb 3.9 yet. It got sidetracked by other changes.

[2017-07-21 16:50] erozenfeld commented on #12949
fgMorphRecognizeBoxNullable is a similar optimization although there we have a helper call instead of GT_BOX. I recently fixed it to bail out when called after morphing the args and also to be called on gt.un:
https://github.com/dotnet/coreclr/pull/12395. May be worth double checking that we can't possibly remove side effects there.

[2017-07-21 16:56] jkotas commented on #12957
This is general statement about Instantion. The specific Instantiation created from `m_ElementTypeHnd` is not accessed from JIT-compiled code, etc. It is only used in SigTypeContext.

How would you trigger the application of the relocations?

[2017-07-21 16:57] JosephTremoulet commented on #12949
Is it worth having a different form of box IR operator?  I'm not following whether "boxTemp" is holding a copy of the struct (and the reason we introduce boxTemps is that our BOX operation needs an lvalue?), or whether "boxTemp" is holding a pointer to the box on the heap (in which case I'm a little confused what the assign is doing..), but presumably if it's the first case we could have e.g. a Bo

[2017-07-21 16:57] timbussmann commented on #12668
@tarekgh I have a repro sample using NServiceBus. I haven't been able to isolate the issue further yet but I simplified my sample as much as possible. I'll try to see whether I can isolate a repro without using NServiceBus on Monday. Here's the repository with the repro: https://github.com/timbussmann/Repro

[2017-07-21 17:03] ruben-ayrapetyan commented on #12957
Now, I see. Thank you.

Idea is to `mprotect` the pages, which need relocations, with `PROT_NONE`, and apply relocations upon first access to such a page.

[2017-07-21 17:11] tarekgh commented on #12668
Thanks @timbussmann

Which OS version you are running on? and what is your culture settings? I mean, are you running on de-DE machine?

[2017-07-21 17:16] AndyAyersMS commented on #12949
The box temp is a reference to the heap instance and is the result of the box. The general sequence for the inline box is:
[code]
The `newobj` is in a preceding statement, the copy is in comma under the box.

Am wondering now if we also have to consider possible side effects from the newobj, eg if this triggers class init. Will try and work up a repro.

[2017-07-21 17:22] RussKeldorph commented on #12908
This appears to be a stress-specific bug during `lvaStressLclFld`.  `LCL_FLD_PADDING` is [used](https://github.com/dotnet/coreclr/blob/d8b212f3190bedac609bf822638561e515694a93/src/jit/lclvars.cpp#L7215-L7229) to shift the lclvar's address, but the logic doesn't take alignment requirements into account.
Perhaps we should adjust the padding amount to maintain alignment for address-exposed lclvars?

[2017-07-21 17:23] briansull commented on #12950
@CarolEidt  @AndyAyersMS
Please advice on whether this fix needs to be ported to Desktop

[2017-07-21 17:28] AndyAyersMS commented on #12949
IR example:
[code]

[2017-07-21 17:30] JosephTremoulet commented on #12949
[code]

Ok, that makes sense, but then what is the point of the `GT_BOX` if we already have the allocation and the copy separately?  Indeed, rationalize [treats BOX like identity](https://github.com/dotnet/coreclr/blob/67daaf19d6bfc3fedaad83ffcaf5df4340587318/src/jit/rationalize.cpp#L677-L681).  So does it just serve as a flag to optimizations like this one?  Seems a bit hokey to have an operator

[2017-07-21 17:33] jkotas commented on #12957
We have done experiments with similar schemes in the past. The problem is that these faults make things impossible to debug, and they are not cheap either. If you think it is a good tradeoff for Tizen, it would been to be under ifdef.

[2017-07-21 17:49] ruben-ayrapetyan commented on #12957
Yes, sure, we were thinking of adding it under a runtime configuration option or under ifdef.
Our preliminary estimation is about 1 milliseconds per 10 delayed-relocated pages.
Also, we were thinking of saving per-application  profile information for this, to apply most of necessary relocations during initialization as it is now - this should make the performance overhead unnoticeable.

Could you,

[2017-07-21 18:02] jkotas commented on #12957
inconvenience to use debugger because of frequent fault signals

[2017-07-21 18:07] AndyAyersMS commented on #12950
Seems likely we'll need to port whatever fix we come up with. Not that far along yet with an actual fix.

[2017-07-21 18:07] ruben-ayrapetyan commented on #12957
Yes, this can be an issue. However, debugger can be configured to skip such signals, even not printing them - instead breakpoint to a right place in handler of `SIGSEGV` can be placed to catch actual faults. In this case, the frequent signals will not be visible during debug.

[2017-07-21 18:12] swgillespie commented on #12969
cc @Maoni0

Proposals for new APIs generally live in the CoreFX repo; can you move this proposal over there? ([Here](https://github.com/dotnet/corefx/blob/e276a7cd9cfb4ff84c57109e25fc682f9403118e/Documentation/project-docs/api-review-process.md) is the general guidelines for API proposals, if you're interested.

Some prior art in this area is what the [Go runtime provides](https://golang.org/pkg/r

[2017-07-21 18:30] AndyAyersMS commented on #12949
Can't really defend the current approach, just explaining what it is. The Box points back at the earlier assign statement and this link is used in`gtFoldExprSpecial` to null out the assignment if the box is optimized away.

So yeah the Box flags this node as an optimization opportunity and tracks some of the context needed to pull it off. Not sure if exposing the parts and normal deadcoding could

[2017-07-21 19:03] kouvel commented on #5928
Yea it needs to be a proper LIFO semaphore. Currently it uses spinning to imitate that and it doesn't work very well.

[2017-07-21 19:11] jkotas commented on #12969
cc @vancem

We have been exposing this sort of data via tracing (ETW on Windows, ...). The tracing is designed for the case where you are getting to the data from the outside of the process. It is not particularly easy for the process to self-monitor itself. Perhaps we need to make the self-monitoring easier to setup.

[2017-07-21 19:16] #12903 closed

[2017-07-21 19:18] JosephTremoulet commented on #12949
I don't think we have the facility to remove heap allocations and stores, no.

That's what I was trying to suggest, though I'm not sure how problematic the phase ordering issues would be (can't lower the copy until it gets revealed, don't want to reveal it until after having all chances to remove the box)

Ah, I'd missed that bit of context.  Yes, I agree.

That suggests we might be able to expand

[2017-07-21 19:21] #12909 closed

[2017-07-21 19:24] vancem commented on #12969
@brianrob

We have a plan to expose events that we currently log with ETW as if it came from an EventSource (thus you can subscribe to it with EventListener in managed code.   Note that the delivery of these events will be asynchronous 'fire and forget' (that is the system has moved on by the time you see the event).   This is required for GC events since you can't run managed code while the GC is

[2017-07-21 19:54] briansull commented on #12949
We should be able to check the side effect flags on any node that we are considering for the optimization.  If we see an unsafe flag set, such as  GTF_ASG then we can decline to do the optimization.

[2017-07-21 19:55] CarolEidt commented on #12950
I agree; this would affect desktop equally. @AndyAyersMS let me know if there's anything you'd like me to do.

[2017-07-21 20:09] JosephTremoulet commented on #12949
@briansull sure, the issue is (quoting Andy's [example above](https://github.com/dotnet/coreclr/issues/12949#issuecomment-317062778) that if the optimization is removing the box at `[000016]` (and replacing the GT at `[000018]` with "true"), then we don't want to decline -- we want to remove `[000013]` *even though* it has `GTF_ASG` set (and likewise remove `[000007]`/`[000005]` despite their side

[2017-07-21 20:16] AndyAyersMS commented on #12949
Indeed -- in that example (which is taken from the latest repro above) we must keep just this bit of the tree under the BOX:
[code]
Otherwise we lose the NPE that is required, since arg0 is null.

[2017-07-21 20:49] mikedn commented on #12949
CSE does something like this: https://github.com/dotnet/coreclr/blob/master/src/jit/optcse.cpp#L2073. Though it doesn't looks like that code could easily be reused.

[2017-07-21 21:01] AndyAyersMS commented on #12949
All the "must keep" side effects initially come from the exprToBox tree. Since BOX could operate with address of exprToBox, conceptually we should be producing this address its own tree that is not under the BOX and we'd have all the must keep side effects walled off outside the scope of the BOX.

But later on, if we're unlucky, perhaps that new side effects (eg a CSE def) could be introduced into

[2017-07-21 21:15] AndyAyersMS commented on #12949
@erozenfeld I haven't been able to find similar issues with nullables yet, but can't rule it out either...

[2017-07-21 21:21] AndyAyersMS commented on #12950
@CarolEidt The fix for this seems relatively straightforward. Would be good to know if you agree. If so I can try to clean up the assert properly and start testing.

I've been working on #12949 instead....

[2017-07-21 21:32] CarolEidt commented on #12950
Yes, I agree. I just looked at `Lowering::CheckNode()` and it's not really clear to me how valuable that is, but it should be pretty straightforward to change it to assert that we always widen `TYP_SIMD12` lclVars except in the case of "dependently promoted" fields.

[2017-07-21 21:40] timbussmann commented on #12668
@tarekgh I'm running on Windows 10 build 14393.1480. I'm using the de-CH region settings. This results in `CurrentUICulture` being "de-DE", while `CurrentCulture` is "de-CH" in .net apps.

[2017-07-21 21:43] sdmaclea commented on #5928
I have an optimization drafted which helps a bit.  In the scenario I was testing, it reduced sensitivity to spin count allowing it to be reduced substantially on 48 core.  I am chasing another bigger issue so I am not quite prepared to upload it.

[2017-07-21 21:53] kouvel commented on #6476
I also noticed that some types of work items run more efficiently on fewer cores when hyperthreading is involved. A problem with lowering the min threads (or allowing hill climbing to reduce the number of threads below the proc count) is that for scenarios that run optimally when the number of threads equals the number of procs, hill climbing would frequently reduce the number of threads below the

[2017-07-21 21:56] kouvel commented on #5928
In CoreRT, @jkoritzinsky implemented the unfair semaphore (or LIFO semaphore as it's called there) using I/O completion ports. Perhaps the same thing can be done in CoreCLR to eliminate the spinning altogether.

[2017-07-21 21:59] AndyAyersMS commented on #12949
Looking a bit at why this doesn't happen in 1.1 or in Jit32, I think it is from the GT_GT -> GT_NE change we put into 2.0. Also explains why 4.7 doesn't have this issue and 4.7.1 will unless we push whatever fix we come up with here...

Odd then that the pattern in `gtExprFoldSpecial` only fires for GT_EQ and GT_NE cases. Seems like either something else; maybe older CSCs used signed compares?

Ad

[2017-07-21 22:16] davmason opened #12978 "ProfToEEInterfaceImpl::DoStackSnapshot can only be called from the same thread on non Windows platforms"
On Windows `ProfToEEInterfaceImpl::DoStackSnapshot` returns E_NOTIMPL for non Windows platforms. Looking through the code, this is because `Thread::SuspendThread` is disabled for the PAL.

This is a breaking change for the profiler APIs and we should investigate what it would take to bring it back to full functionality.

[2017-07-21 22:18] tarekgh commented on #12668
@timbussmann I can repro it with your project. thanks for sharing that.

[2017-07-21 22:33] mikedn commented on #12949
Signed compares? Can't be, only `cgt.un`, not `cgt`, can be used on object references.

[2017-07-21 22:42] BruceForstall commented on #12972
@dotnet/arm32-contrib @janvorli

[2017-07-21 23:05] janvorli commented on #12972
The syscall 389 on ARM32 seems to be the membarrier. According to the docs, it was added in Linux 4.11. dotnet core doesn't use it, so I assume one of our 3rd party dependencies try to call it to see if it is present. So I would assume the message is benign.

[2017-07-21 23:07] JosephTremoulet commented on #12949
Would that be changing the semantics of `GT_BOX`?  Another way we could shape the IR differently in the importer would be to hoist out the assign that's under the comma as well, so instead of

[code]

we could have

[code]

the rules for the transform would be to nuke `assign_stmt1`, and from `assign_stmt2` to preserve the side-effects of `exprToBox`.

If we want to do something in that vein but a

[2017-07-21 23:27] AndyAyersMS commented on #12949
Yeah, using a 2-statement preamble occurred to me too. There is some variability in how the copy is represented, but perhaps it is easy enough to see how to preserve the necessary side effects. A second pointer on the Box is probably ok.

[2017-07-21 23:42] AndyAyersMS commented on #12949
Hmm, looking at what `gtCloneExpr` already does for BOX makes me wonder about the viability of having it pointing at other statements. Seems like there is potential for real trouble here. I suppose adding a second statement shouldn't get us any deeper into trouble than we already are.

[2017-07-22 00:03] RussKeldorph commented on #12908
Calling this a test bug for now to note it is lower priority.  If it starts hitting in other tests as jitstress gets perturbed, we'll need to fix it sooner rather than later.

[2017-07-22 00:43] ygc369 commented on #12969
@vancem
Excellent! I want GC events quite a long time.
An event should be triggered every time after GC.

[2017-07-22 01:04] tarekgh commented on #12668
@kouvel is going to look at fixing this issue. I have a simple repro now too.

[2017-07-22 09:04] benaadams commented on #6476
@sdmaclea Is most contention in the scenario where there aren't enough work items for the threads; so most of the time is spent in a fruitless search?

[2017-07-22 09:08] benaadams commented on #6476
I'm wonder if something better can be done with the capped count maintained with `EnsureThreadRequested` and `MarkThreadRequestSatisfied`; to also work with the total of items queued, rather than proc capped, so if there aren't any items queued the thread could pick up it would go back to sleep rather than searching.

[2017-07-22 11:49] benaadams commented on #6476
@stephentoub @kouvel am away from a computer that can compile any code; and this is likely very racey but would something along these principles help to reduce contention (e.g. searching) when the number of queued items is low? https://github.com/benaadams/coreclr/commit/1912680e27cb4f21a69c751020e31867a25622fd

[2017-07-22 11:51] micli commented on #12851
I did submitted an issue a month before https://github.com/dotnet/coreclr/issues/12098
After that @mikem8361 did some changes in CMakeList.txt  and then I found libsosplugin.so could be loaded by LLDB 3.9.  I thought it has been resolved. But it seems it only can be loaded but no one command works correctly.

[code]

[2017-07-22 13:45] cydhaselton opened #12982 "Latest build throws error when compiling cee_wks, codeman.cpp"
When building latest version of repo (last commit https://github.com/dotnet/coreclr/commit/094f1fd729be3483a40336daad5a81e71bf5179f), the folllowing error is thrown

[code]

[2017-07-22 14:07] mikedn opened #12983 "[RyuJIT] Get rid of TYP_CHAR and use TYP_USHORT instead"
It's strange that we have both `TYP_CHAR` and `TYP_USHORT`, they're both unsigned short integers. It's even more strange that `TYP_CHAR` is used pretty much everywhere while `TYP_USHORT` rarely makes an appearance and as far as I can tell it is never used as a node type. Worse, there's code that doesn't bother to check for `TYP_USHORT`, it only checks for `TYP_CHAR` - `Lowering::getCastDescription

[2017-07-22 14:07] mikedn commented on #12983
cc @dotnet/jit-contrib

[2017-07-22 14:18] tannergooding commented on #12983
Does `TYP_BOOL` actually guarantee that? I know there are several ways to get a `bool` with a value of `2`, for example.

[2017-07-22 14:32] mikedn commented on #12983
Sort of. I've seen it used in some cases in relation to compare operations which do produce only 0 and 1. But there's at least one case where it's used in situation where you can't actually guarantee that the value is 0/1 - in `fgMorphRecognizeBoxNullable` is used as the type of an indir that loads the `hasValue` field of a `Nullable<T>`. It's technically possible, by means of reflection or unsafe