[2016-01-15 17:17] hoyMS commented on #2652
When fgMorph is called after value numbering, we have to ensure that a correct or a new value number is assigned to the resulting tree.

[2016-01-15 17:38] AndyAyersMS commented on #2679
Ah, good. Guess that means some but not all lab HW has AVX2?

Since you can repro, can you test a fix?

Change line 142 to:
[code]

[2016-01-15 17:51] CarolEidt commented on #2679
@RussKeldorph - let me know if you are not able to test this, and I can do it. I looked at this and didn't think it would be the issue, because nx2 has been assured to be a multiple of Vector<double>.Count - but I hadn't internalized that because the loop starts at 1, the loop itself isn't "aligned". I was able to determine that it is the first constructor that fails on the upper bound.

[2016-01-15 18:30] RussKeldorph commented on #2679
@AndyAyersMS @CarolEidt Confirmed no more crash post Andy's change.

[2016-01-15 18:44] tzwlai commented on #657
This issue should have been taken care of by #2264 as well.

CC @adityamandaleeka

[2016-01-15 18:44] #657 closed

[2016-01-15 19:09] RussKeldorph commented on #2683
Not sure if this will help, but I looked at a similar issue for Math.Exp a while ago, and that turned out to be a change in the native C Runtime, which (oh so helpfully) is only willing to sign up for "usually correct within +/-1ulp" in order to maximize perf.  If you're willing to step through the native instructions, you might find the source of the problem there.  It could be something like a C

[2016-01-15 19:14] stephentoub opened #2688 "CoreCLR should handle SIGTERM as equivalent to Environment.Exit()"
SIGTERM is meant to be used for graceful shutdown of an app.  The runtime should handle it by doing the equivalent of Environment.Exit().  Then with https://github.com/dotnet/corefx/issues/5205, apps will also be able to plug in their own cleanup that'll be triggered on any graceful shutdown, including those triggered by SIGTERM.

As an example, ```docker stop``` will initially send a SIGTERM to g

[2016-01-15 19:45] gkhanna79 opened #2690 "Build Codegen SDK nuget package"
Code-generators need to have a clean dependency on the interface definitions used for communication with a managed runtime. This is being used to track building the package for the same.

[2016-01-15 19:45] gkhanna79 commented on #2690
CC @russellhadley this is per our discussion on this topic.

[2016-01-15 19:57] wtgodbe commented on #2336
This test now passes.

[2016-01-15 19:57] #2336 closed

[2016-01-15 19:57] hoyMS commented on #2353
Fix checked in as 2628.

[2016-01-15 19:57] #2353 closed

[2016-01-15 20:04] gkhanna79 commented on #2128
Having the FX implementation use such an API as part of the normalization process is the right thing to do so that it does not rely on external artifacts to do the right thing. @JeremyKuhne Please use this issue to track getting such an API implemented and fixing this. I am assigning this to you for the same.

For the short-term, @schellap will be fixing the host to resolve symlinks.

[2016-01-15 20:08] LLITCHEV commented on #2681
This is a duplicate of issue #2380 . Closing it as such.

[2016-01-15 20:08] #2681 closed

[2016-01-15 20:45] #2679 closed

[2016-01-15 21:46] AndyAyersMS commented on #2655
Also, remove the gratuitous exception from the startup of DeltaBlue, then undo dotnet/llilc#1001.

[2016-01-15 22:11] sejongoh commented on #2448
@LLITCHEV Could you check this? This seems to be the same issue as #2380. It passed with the binary Siva gave me.

[2016-01-15 22:15] sejongoh commented on #2380
With JitStressRegs=3, these tests also failed.
 System.Net.Primitives.Functional.Tests
 System.IO.Packaging.Tests

[2016-01-15 22:24] eerhardt commented on #2185
I've fixed the last 2 issues listed here with #2685.  It was a simple check that was missing inside TimeZoneInfo.

The first issue is a design flaw/shortcoming with TimeZoneInfo, which is lower priority and probably won't be addressed unless there is strong customer demand for it.

The second issue appears to be "by design" according to this comment in the code:

https://github.com/dotnet/coreclr/

[2016-01-15 22:34] rainersigwald commented on #1934
@JohnChen0 I just pushed a fix for https://github.com/Microsoft/msbuild/issues/423. @AndyGerlicher is looking at fixing builds and we'll get an updated package published ASAP.

[2016-01-15 23:18] sivarv commented on #2578
test JIT\jit64\regress\ddb\87766\ddb87766\ddb87766.exe failing under JitMinopts is by design.  It is testing that method VInline.Accumulate(int32 a) is inlined inside Main() method.  Under JitMinopts in-lining is turned off.  We should exclude this test from running under jitminopts=1.

[2016-01-15 23:26] AndyAyersMS commented on #2655
Tests that run for over 2 seconds [link](http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/release_windows_nt_prtest/lastCompletedBuild/testReport/JIT/)

![image](https://cloud.githubusercontent.com/assets/10121823/12368038/4ba5b556-bb9c-11e5-86d5-ad8186e5885e.png)

[2016-01-15 23:28] sivarv commented on #2448
Since it was confirmed by Sejongoh as duplicate of #2380, closing this.

[2016-01-15 23:28] #2448 closed

[2016-01-15 23:31] JohnChen0 opened #2698 "Setup MSBuild requires a private package for Microsoft.Net.Compilers.Targets.NetCore"
Resolving issue #1934 requires setting up an MSBuild that runs under CoreCLR. Currently, this setup requires a private NuGet package for Microsoft.Net.Compilers.Targets.NetCore. This package needs to be made available on a public feed.

[2016-01-15 23:35] JohnChen0 commented on #1934
Created issue #2698 for getting a package for Microsoft.Net.Compilers.Targets.NetCore. Setting up MSBuild to build mscorlib on Linux is blocked by #2698.

[2016-01-15 23:48] AndyAyersMS commented on #2486
Is this the issue tracking getting incremental builds to work 100%? If so, I'd love to see it get fixed ASAP.

[2016-01-15 23:50] AndyAyersMS opened #2699 "Can't dump from ryujit when used as an alt jit"
If you set up ryujit as an alt jit, it won't dump anything. In particular, in a debug build

[code]
dumps everything, but
[code]
dumps nothing.

[2016-01-16 00:02] RussKeldorph opened #2700 "[JitStressRegs=2] JIT/jit64/hfa/main/testE/hfa_[n|s][d|f]2E_[r|d] fails"
**Configuration:**
 coreclr, mscorlib: Checked
 coreclr tests: Checked
 corefx: Release
 OS: Linux
 commit:  b955e70 + #2684

**Failing tests under JitStressRegs=2**
[code]

**Output for JIT/jit64/hfa/main/testE/hfa_nd2E_d/hfa_nd2E_d.sh (rest similar)**
[code]

[2016-01-16 00:02] CarolEidt commented on #983
FEATURE_SIMD is now enabled. I am currently working on enabling AVX2 support, which is the other half of #983

[2016-01-16 00:14] dsplaisted commented on #2698
I believe @joperezr is going to make sure the package is available, or otherwise modify the buildtools package so it doesn't need this package.

[2016-01-16 00:15] benaadams commented on #983
Excellent! Thank you very much :smile:

[2016-01-16 00:26] ramarag opened #2701 "Coreclr Windows Incremental build is broken"
Unfortunately the incremental build issue introduced in #2464 was not  resolved by #2494 for windows

[2016-01-16 00:27] ramarag commented on #2486
nope I have opened up a new issue for this in #2701

[2016-01-16 01:35] AustinWise commented on #2153
For anyone else who would like a workaround in the mean time, set the ComPlus_ReadyToRun environmental variable to 0. On Windows you can do it like this in the console:
[code]
I can now build the cli repo again!

[2016-01-16 01:40] sivarv commented on #2578
Post Carol's Linux SIMD check-in, circleinconvex.exe and vectorreturn.exe are no longer repro'ing.

[2016-01-16 01:40] #2578 closed

[2016-01-16 01:57] sergiy-k commented on #2300
This test fails on Unix because it requires the COM Interop feature which is enabled on Windows only. So the failure in this test is expected on Unix platforms.

[2016-01-16 02:18] omariom commented on #2591
@mikedn
To sum up that scenario.

In these cases, given *value* is of generic type T and the code is  value type instantiated, JIT could call the methods  without  boxing, inlining them if appropriate.
[code]
 Here JIT could avoid boxing as well. Currently it does it once per comparison.
[code]

[2016-01-16 03:10] hoyMS commented on #2652
Fix checked in by PR#2686

[2016-01-16 03:10] #2652 closed

[2016-01-16 03:19] mikedn commented on #2591
Are you talking about calls to `Method` and `Method2`? Yes, boxing could be avoided there but note that the JIT would need to make a copy of the value before calling. That may limit the usefulness of such code.

[2016-01-16 03:45] omariom commented on #2591
Because  boxing implies making a copy?
Even if  so not boxing and inlining save much more.
And for primitives copying is no op, isn't it?

[2016-01-16 04:27] ayende opened #2704 "Debug.Assert is causing hard crashes"
If a Debug.Assert fails, the result is a hard crash, without any additional information on the source of the crash, the Debug.Assert message, etc.

I was debugging a heap corruption failure (caused by me not keeping track of the size of the buffer I was using), and after I fixed that, the system kept getting hard crashes. It took me a long while to figure out that the error was actually a debug as

[2016-01-16 07:24] ellismg commented on #2704
What version of System.Diagnostics.Debug library are you using?  In CoreFX we throw an exception today unless a debugger is attached.  If a debugger is attached we ask the debugger to break instead.

[2016-01-16 07:24] mikedn commented on #2591
Yep.

Yep. The point is that in some cases (methods that change the value) that kind of code will not do what you want. There's nothing wrong with the optimization itself.

Depends on the method. If the method is inlined then the copy might get eliminated. If the method is not inlined then the compiler won't know that the method doesn't mutate the struct so it needs to make a copy.

[2016-01-16 07:46] jkotas commented on #2683
@RussKeldorph CoreCLR (binaries available via [NuGet packages](https://www.nuget.org/packages/runtime.win7-x86.Microsoft.NETCore.Runtime.CoreCLR/1.0.1-beta-23516), used by ASP.NET 5) does support x86. One just cannot built these bits from this repo yet.

[2016-01-16 07:55] mikedn commented on #2683
I found a dnx-coreclr-win-x86.1.0.0-rc2-16128 and tested, I still get 6. It might be interesting to know the CPU you use to test in case the CRT uses a different implementation. Though it's probably a new enough CPU to not matter...

[2016-01-16 09:44] ayende commented on #2704
Using System.Diagnostics.Debug, Version=4.0.11.0

This is the result of what you get when running the previous code, without debugger attached.
In coreclr update1, 64 bits.

![image](https://cloud.githubusercontent.com/assets/116915/12371729/4b666860-bc46-11e5-98e6-13c0f77415eb.png)

This is what happens when you click debug:
![image](https://cloud.githubusercontent.com/assets/116915/12371733/7bf3

[2016-01-16 09:44] mikedn commented on #2699
I think that ryujit.dll is not actually an altjit, it's just a dll version of the normal jit. If you define `ALT_JIT` then dump works fine. See the `ALT_JIT` #ifdefs in [`compInitOptions`](https://github.com/dotnet/coreclr/blob/master/src/jit/compiler.cpp#L2024).

[2016-01-16 11:35] ellismg commented on #2704
I see.  This is a difference between the RC1 and RC2 behaviors.  In RC1, we called FailFast.  In RC2, we changed the behavior (see dotnet/corefx@68e46ff1b9bf5dea3490028bcd9742bd3dd92fc7) to throw an exception.  dotnet/corefx#3708 tracks having a nicer experience (e.g. popping up a dialog).

[2016-01-16 11:35] #2704 closed

[2016-01-16 11:56] stephentoub commented on #2189
@gregg-miskelly, thoughts on this?

[2016-01-16 13:01] NickCraver commented on #919
Have the suggestions changed here? I'm porting a library to 5.4 and Microsoft.Dnx.Runtime 1.0.0-rc1-final isn't compatible there - it's dnxcore specific, not the new monikers, supporting that most of the functionality there is around Dnx specifics.

For the library loaded I need something that works across all of the netstandard platforms - is that planned? The specific library is StackExchange.Ex

[2016-01-16 14:19] henkmollema commented on #919
The functionality was separated from DNX: https://github.com/aspnet/PlatformAbstractions (also on [NuGet](https://www.nuget.org/packages/Microsoft.Extensions.PlatformAbstractions)).

[2016-01-16 16:42] romrom38 opened #2708 "Build VB code"
One working exemple for VB would be great.
I've found the corefx project Microsoft.VisualBasic witch is written in VB but it did not help much.

I can't manage to build a VB helloworld project with the "dnx run" command.
Could you confirm it can be done ? Or has the project to be built using other tools ?

The error I get is : 'helloworld_vb' does not contain a 'Program' type suitable for an entry

[2016-01-16 16:45] davidfowl commented on #2708
Theres no support for visual basic in the DNX. See this issue for .NET CLI support https://github.com/dotnet/cli/issues/72

[2016-01-16 16:45] #2708 closed

[2016-01-16 16:52] romrom38 commented on #2708
Thanks !
Following ☺

De : David Fowler [mailto:notifications@github.com]
Envoyé : samedi 16 janvier 2016 17:46
À : dotnet/coreclr <coreclr@noreply.github.com>
Cc : Romain FABBRI <romain.fabbri@alienconsulting.net>
Objet : Re: [coreclr] Build VB code (#2708)

Theres no support for visual basic in the DNX. See this issue for .NET CLI support dotnet/cli#72<https://github.com/dotnet/cli/issues/72>

—

[2016-01-16 20:57] NickCraver commented on #919
Thanks henk - found what I needed there, much appreciated. For others tripping on this later, a verbose example:

[code]

[2016-01-17 00:29] davidfowl commented on #2144
https://msdn.microsoft.com/en-us/library/system.threading.tasks.taskscheduler.unobservedtaskexception(v=vs.110).aspx

In .NET 4.0 exceptions on unobserved tasks crashed the process as well, turns out this is pretty bad behavior for a plethora of reasons so the above event was added. Something more generic for thread pool threads would be great as well.

/cc @stephentoub for thoughts

[2016-01-17 01:29] RussKeldorph commented on #2683
@jkotas Apologies for spreading bad info, and thanks for the correction.

[2016-01-17 01:49] resnyanskiy commented on #919
I would also recommend to look at [DefaultAssemblyProvider](Mvc/src/Microsoft.AspNet.Mvc.Core/Infrastructure/DefaultAssemblyProvider.cs) from ASP.NET MVC and comments to https://github.com/dotnet/corefx/issues/1784

[2016-01-17 04:38] jkotas opened #2710 "ReadyToRun does not work on Unix"
Run: `crossgen -readytorun foo.dll`
Result: `Invalid parameter -readytorun`

It was supposed to be enabled by #1022, but it did not seem to actually ever work.

We should also check why it was not caught by the test (https://github.com/dotnet/coreclr/tree/master/tests/src/readytorun).

[2016-01-17 05:08] jkotas commented on #2680
This is wrong repo for this bug. It should be opened in https://github.com/dotnet/corefx/ repo.

The WebRequest sources are here: https://github.com/dotnet/corefx/tree/master/src/System.Net.Requests/src

[2016-01-17 18:24] RussKeldorph opened #2711 "Build break when building "priority 2" tests"
**build x64 checked priority 2**

[code]

[2016-01-17 20:04] benaadams opened #2712 "Blocked state for Task when Wait(), GetResult() called"
If asynchronous completion is desired it can be achieved either by `RunContinuationsAsynchronously` or by calling the completions on the Threadpool.

However if the caller is on a threadpool thread and has called `.Wait()` its has now reduced the threadpool by one thread so there is one less thread to complete with; if enough have done this then there won't be enough threadpool threads to unblock

[2016-01-17 21:21] stephentoub commented on #2712
I'm not understanding the suggestion. Which task are you waiting on? What does this have to do with Stream.Read/Write (which don't use continuations)? Why is synchronous blocking being used, and if it is, aren't there bigger scalability issues at play? And in terms of exhausting the ThreadPool, while there could be small pauses as it infects more threads, on 64-bit by default it would take 32k of

[2016-01-17 21:59] NickCraver commented on #2712
I think the "exhaust" terminology here with the threadpool is accurate, in rapid thread usage (when not returned) it happens continually before each growth phase from the dozens all the way to 32k in every scenario we run into issues with it. Given that it grows on an interval you can exhaust the current cap it until the next interval very quickly.

[2016-01-18 01:21] benaadams commented on #2712
Maybe there is a better way to implement this. However, the this issue is captured by well by the scenario of exposing a `Stream` wrapper, for portability, around an implementation that is purely `async` and has no real sync implementation.

I currently see three approaches:

1. Throw a `NotImplementedException` in the synchronous methods - this would make people very unhappy.
2. Use a custom base

[2016-01-18 01:26] benaadams commented on #2712
Could always deprecate `Stream`'s sync methods :stuck_out_tongue_winking_eye:

[2016-01-18 02:05] benaadams commented on #2712
A specific relevant implementation https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/Http/SocketOutput.cs#L375-L392

[2016-01-18 03:17] benaadams commented on #2712
For the particular implementation, could maybe use something other than a TCS and have something more custom for `.GetAwaiter().GetResult()` rather than something in coreclr?

[2016-01-18 03:18] #2650 closed

[2016-01-18 03:20] stephentoub commented on #2712
@benaadams, let me try this again.

Your proposal suggests something related to continuations, waiting on tasks, and blocking.  I don't understand what you're proposing.  *Can you please elaborate what it is specific to continuations that you're suggesting be done?*  It's not clear to me.  (Note that .Wait/GetResult()'ing on a delegate-backed Task is already able to execute that task on the curren

[2016-01-18 03:36] benaadams commented on #2712
Continuation might have been the wrong word to use as that means something else. I mean entirely within the scope of Async and doing a sync wait on an Async method.

There is no synchronous Write, there is only an async write that either completes immediately (if not too much is buffered); or uses a TCS to cause awaitable backpressure. The sync Write method then calls the Async method and does a `

[2016-01-18 03:39] yizhang82 commented on #2650
Thanks @DionYe and @jkotas!

[2016-01-18 03:41] stephentoub commented on #2712
Happy to.

I see. Ok, thanks for the clarification.  I was confused by the terminology being used.

This is what I was alluding to earlier.  TPL already has a mechanism built-in that enables Wait/GetResult() to execute the task being waited on synchronously as part of the call to Wait/GetResult().  For that to happen, it requires the the Task have a delegate associated with it (e.g. it was created

[2016-01-18 04:03] benaadams commented on #2712
Don't think that would help as its a TCS Task that gets triggered at some future point.

What I'm thinking of is a variant/custom TCS where `.GetAwaiter().GetResult()` will emit a new object that will be marked in the TCS as sync blocked (similar to how CTS and CancelationToken works) and when the TCS is completed it will trigger the sync blocked items directly and add the other Actions to the thr

[2016-01-18 04:10] stephentoub commented on #2712
Correct, it would only help if you were Wait'ing on the delegate-backed Task.

I'm still not understanding.  Are you saying that if you have:
[code]
that when t is completed, you want the thread that's completing t to execute Foo() as part of its completion, similar to what would happen if the code were instead:
[code]
?

[2016-01-18 04:33] benaadams commented on #2712
Simplified it would be more
[code]
Then the thread calling WorkComplete wouldn't be running either what happens after the sync call (as it already has its own thread); or what happens after the async call, as its on the threadpool.

But the sync call won't use up 2 threads (one blocked and one for the notification)

Should work?

[2016-01-18 04:46] stephentoub commented on #2712
This might be simplified too much, as I'm still not getting it.  Sorry if I'm just being slow.

- If you're telling WriteAsyncCore in WriteAsync that work should be done synchronously, why doesn't WriteAsyncCore just do the work synchronously rather than queuing it?

- When a task completes, it already first queues an asynchronous invocations and then invokes any synchronous continuations, which i

[2016-01-18 05:01] benaadams commented on #2712
Constraints. There are no synchronous writes; there are only writes with completion callbacks IOCP style.

There is a regular thread per core (non-thread pool); that are servicing all of the write requests and callbacks for all of the threadpool threads - when there is a completion they just want to activate a threadpool thread with the minimum amount of work and continue notifying other callbacks

[2016-01-18 05:26] stephentoub commented on #2712
Ok, I think I understand now what you're trying to achieve. You want to prevent continuations from running on a specific thread completing a task, but you want to unblock synchronous waiters on that task without requiring an extra queued work item to do so, right?

[2016-01-18 05:27] stephentoub commented on #2712
It depends on the context/scheduler involved, but yes, it can.

[2016-01-18 05:33] benaadams commented on #2712
Yep; otherwise the synchronous unblock is clogging the threadpool unnecessarily; as its now using 2 threads. Whereas the async path only ever uses either one thread or zero.

Still scalability issues with using the blocking methods; but that's a different issue.

[2016-01-18 05:59] RussKeldorph opened #2713 "Build race conditions in priority 2 tests"
There seems to be a race condition when building "priority 2" tests.  I've only seen them in two folders
[code]
It may have something to do with the pattern of referencing BuildOnly projects from RunOnly projects, as those folders contain the vast majority of the examples in the tree; the only other example being
[code]
Below are samples of the errors I've seen:
[code]

[2016-01-18 09:28] mikedn opened #2714 "RyuJIT could use mov reg32, reg32 to cast from uint to ulong"
Casts from `uint` to `ulong` are implemented with `and reg32, 0xffffffff`:
[code]
generates
[code]
A shorter/faster `mov eax, eax` could be used instead.

Of course, no cast is actually needed because it was already done by the previous `mov`. But that's likely more complicated to detect and optimize.

[2016-01-18 09:30] eiriktsarpalis opened #2715 "Serializing exceptions in CoreCLR"
It has recently come to my attention that CoreCLR has eliminated `ISerializable`. While I believe that this is a move in the right direction, it seems to have also removed the only way possible to correctly serialize exceptions in .NET. Serialization of exceptions is tricky, because they are objects which encapsulate two types of data:
1. Data defined at construction time, such as `Message`, `Inne

[2016-01-18 09:38] mikedn commented on #2715
Why would you need to pass around all the exception details (the stack trace in particular) in a distributed framework?

[2016-01-18 09:49] eiriktsarpalis commented on #2715
@mikedn same reason why you would want it in a non-distributed setting. An exception without an accompanying stacktrace is useless in many cases.

[2016-01-18 09:57] janvorli commented on #2710
@jkotas This test was not enabled to run on Unix yet. It belongs to a bunch of tests that use CLRTestBatchPreCommands and those don't work on Unix since there is no support for Unix shell script generation.
As for why the Linux crossgen doesn't support the option, there is a `FEATURE_CROSSGEN_COMPILER` that we have enabled for windows only. When I was enabling the crossgen on Linux, I have enabled

[2016-01-18 10:07] mikedn commented on #2715
That's the problem. In a non distributed setting the stacktrace is useful only in 2 cases - debugging and logging. Neither of them seem to require serialization (actually deserialization since that is the actual issue).

[2016-01-18 10:16] eiriktsarpalis commented on #2715
It might the case that you want to re-raise an exception with its original stacktrace intact. This is where [`ExceptionDispatchInfo`](https://msdn.microsoft.com/en-us/library/system.runtime.exceptionservices.exceptiondispatchinfo(v=vs.110).aspx) is being used.

[2016-01-18 10:31] mikedn commented on #2715
Well, yes, sometimes you want to preserve the stracktrace but that's only for logging and debugging purposes. But that's usually the case only inside the same process. Is there an actual need to preserve such exception details across processes?

[2016-01-18 10:58] janvorli commented on #2054
Fixed by #2529

[2016-01-18 10:58] #2054 closed

[2016-01-18 11:05] janvorli opened #2717 "Enable ReadyToRun CoreCLR tests on Unix"
These tests use CLRTestBatchPreCommands on Windows to generate batch scripts for running the tests. Currently only windows are supported. We need to add support for Unix as well.

[2016-01-18 11:15] dsyme commented on #2715
@mikedn This is in the context of cloud-scale distributed programming systems such as AkkaDotNet and MBrace (http://mbrace.io). Please familiarize yourself with these systems, check out this video for example. https://channel9.msdn.com/Events/dotnetConf/2015/The-F-Path-to-Data-Scripting-Nirvana

In this kind of system, .NET code gets distributed and run over clusters of hundreds or thousands of ma

[2016-01-18 12:28] mikedn commented on #2715
Yes, I know that. But that doesn't automatically imply that exception details such as the stack trace must flow across the system. The functionality of such a system does not depend in any way on such details.

And that's why it's more likely to rely on exception logging (at the source of exception) instead of attempting to serialize the whole thing in the hope that someone will log/debug at desti

[2016-01-18 12:34] stephentoub commented on #2712
Until very recently, RunContinuationsAsynchronously gave you exactly the behavior you want.  Even though .Wait() is implemented internally via a form of continuation, it was a special internal continuation that would always be invoked synchronously.  https://github.com/dotnet/coreclr/pull/2026 was done because most of these special internal continuations have the potential to run arbitrary user co

[2016-01-18 12:45] forki commented on #2715
Mbrace reraises the exception automatically on the client, right?

[2016-01-18 12:50] eiriktsarpalis commented on #2715
@forki not only that, depending on the workflow an exception raised in a remote job may bubble up on its parent job inside the cluster. This is not mbrace-specific, it is perfectly common for actor implementations to pass exceptions as messages to a remote actor for further processing.

[2016-01-18 13:10] rogeralsing commented on #2715
Akka.NET allows for an actor to supervise another actor on another machine. `Parent` actor on machine A supervises `Child` actor on machine B.

if `Child` actor fails, the entire exception is propagated to the `Parent` actor to be analyzed in its supervisor strategy.. it might be logged, it might be part of logic to decide what to do with the failed actor.

So allowing as much details about an exc

[2016-01-18 13:26] mikedn commented on #2715
I think that the original issue is slightly misleading because it focuses on things like stack trace that are potentially questionable.

What's more interesting is the custom data added not by the runtime but by the exception source itself. For example, `SqlException` has a bunch of readonly properties and some of them might actually be needed at the destination - `SqlException.Number` for example

[2016-01-18 14:08] dsyme commented on #2715
MBrace certainly benefits from the stack trace.  If I write

    let f1 () = ... raise exception ...

    let f2 () = ... f1 () ...

    cloud { f2() } |> cluster.Run

Then we expect an exception raised on the client and a stacktrace with f1 and f2.  To be honest it's probably the most important part of the exception details we need :)

[2016-01-18 15:36] jkotas commented on #2379
Fixed by #2707

[2016-01-18 15:36] #2379 closed

[2016-01-18 17:09] benaadams commented on #2712
Thank you :+1:

[2016-01-18 19:29] Cr4zyPh1l opened #2721 "Failed to load CoreCLR.dll"
Hello,

I've compiled the .Net CoreCLR for Windows x64 in Debug and Release.
I've tried it with the corerun.exe application, but I've got an error.

 HOSTLOG: Host directory: C:\Users\A\Desktop\Demo\
 HOSTLOG: Attempting to load: C:\Users\A\Desktop\Demo\CoreCLR.dll
 HOSTLOG: Failed to load: C:\Users\A\Desktop\Demo\CoreCLR.dll
 HOSTLOG: Error code: 193
 HOSTLOG: Attempting to load: C:\Users\A\Deskt

[2016-01-18 19:39] Cr4zyPh1l commented on #2721
Hello,
I've forgotten to say my OS, Windows 7 x64

and CoreCLR compiled with Visual Studio 2015

Regards

Phil

[2016-01-18 20:25] dsyme commented on #295
@jkotas Some questions on this

- One historical use of AppDomains has been used for unloadable dynamic code generation (i think, for example, the regex compiler used to use them for this purpose). What's your guidelines for this scenario? Is the guidance now to use collectible dynamic code generation using Reflection Emit? Thanks

- Communicating to a slave AppDomain has also historically been ea

[2016-01-18 20:31] janvorli commented on #2721
@Cr4zyPh1l The error 193 means "bad exe format". It looks as if the CoreCLR.dll or the corerun.exe was 32 bit version, so a 32 bit corerun would be trying to load a 64 bit coreclr or vice versa.
Would you be able to post C:\Users\A\Desktop\Demo\CoreCLR.dll and corerun.exe (from whatever place you run it) somewhere so that I can inspect them?
Another idea - I wonder if it could be the case when you

[2016-01-18 20:52] dsyme commented on #295
@jkotas BTW here are 130,000 mentions of "AppDomain" in existing C# code on github, might be worth scanning the scenarios there. https://github.com/search?l=csharp&q=AppDomain&type=Code&utf8=%E2%9C%93

[2016-01-18 21:38] Cr4zyPh1l commented on #2721
Hello,

I've compiled only 64 bit version (target x64 in build.cmd command), so I don't think that is the problem.

Moreover, I have no other corerun.exe in my PATH, and when I have tried to launch corerun.exe from his full path, it have generated the same error.

Well, I use the api-ms*** to try to launch the corerun, perhaps there is a cpu target problem (x86 instead of x64); by the way, would t

[2016-01-18 22:38] janvorli commented on #2721
@Cr4zyPh1l As you've expected, the exe / dll are both ok, both 64 bit flavor. So let's try to shift focus on the way you launch corerun.exe. Can you tell me how exactly you are trying to launch it?

[2016-01-18 23:49] #2712 closed

[2016-01-19 02:29] #1859 closed

[2016-01-19 05:35] davidfowl commented on #1606
@ericeil Did we ever add this back? We're going to need a way to control this for server applications.

[2016-01-19 11:52] Cr4zyPh1l commented on #2721
Hello,

To launch it, I do a "cd" to the directory where are my files (coreclr.dll, api-ms**.dll, corerun.exe, mscorlib.dll and my application), and I type "corerun.exe /v Application.exe"

I've try to compile and run an x86 version of the coreCLR, and it load it. So, maybe it the api-ms** which are only in x86. For more, I would like to avoid this api-ms**.dll, is it possible ?

But, I get anothe

[2016-01-19 14:53] jkotas opened #2725 "Optimizer hints - Unsafe.Assume"
C/C++ compilers allows passing hints to the optimizer using `__assume` or similar constructs. It would be useful to have same capability in .NET.

One use case was discussed in https://github.com/dotnet/corefx/issues/5474#issuecomment-172653606:
[code]

[2016-01-19 14:53] jkotas commented on #2725
cc @CarolEidt

[2016-01-19 14:59] benpye commented on #2387
Sorry for not seeing this before, if you build a more modern libunwind you should get further. You can also try running with the env. var `UNW_ARM_UNWIND_METHOD=4` . There is some issue with libunwind though, I am not sure if we need to switch to cfi unwinding information possibly, the current annotations should work but it never has, and I've never quite managed to track down the issue.

[2016-01-19 18:06] wtgodbe commented on #1642
This appears to be a non-issue - no writing occurs unless m_currRcw is incremented from its initial value of 0, which only happens inder #ifdef FEATURE_COMINTEROP, which is not defined on non-Windows. I checked with @yizhang82 and he agrees - I believe this can be closed.

[2016-01-19 18:09] AlexGhiondea opened #2727 "Fix AppContext locking on 2 different objects"
A similar fix to the one in [CoreFx](https://github.com/dotnet/corefx/pull/5517) needs to be made here.

@JonHanna let me know if you want to make the same change here as well, otherwise I'll go ahead and do it.

[2016-01-19 18:11] RussKeldorph opened #2728 "CscBench test failing spuriously"
Test case tests\src\JIT\Performance\CodeQuality\Roslyn\CscBench.cs seems to be failing in the CI spuriously.  I think I remember seeing this on both Windows and Linux, but the only examples I can find are on Ubuntu, so perhaps assume it is Linux-specific for now.

**From Andy:**
I wonder if it’s some kind of race condition or similar setting up the overlay test directory. I noticed in the past tha

[2016-01-19 18:11] JohnChen0 commented on #2698
@joperezr: Do you have an ETA of when we will have buildtools that don't depend on the private NuGet package? Thanks.

[2016-01-19 18:14] JonHanna commented on #2727
Sure, I'll push it here in two minutes.

[2016-01-19 18:21] #1642 closed

[2016-01-19 19:25] mellinoe commented on #2266
We're still seeing intermittent failures in these tests in our OSX Release test runs in corefx. Note that these tests are deterministic (no random elements), but are only failing intermittently.

[2016-01-19 19:37] wtgodbe commented on #2713
I'm looking into this with @bryanar, we had the same conclusion you did about referencing BuildOnly's from RunOnlys.

[2016-01-19 20:55] sejongoh opened #2730 "[JitStressRegs=3] System.Net.Requests.Tests failed with System.ArgumentNullException : Value cannot be null"
**Configuration**

Linux
Coreclr checked build
Corefx release build

Coreclr: 761fa46 (Wed Jan 13 18:15:58 2016 -0500)
Corefx: 0824d9745687271503f7538d16f44f17f5ef5f18 (Tue Jan 12 14:49:52 2016 -0800)

**Failure**

Fail with JitStressReg=0x3 and 0x80
Pass without JitStressReg

[code]

[2016-01-19 21:05] briansull opened #2731 "ARM64: GC Heap Corruption causes multiple test failures with IndexOutOutRange in method findLCS"
A portion of the active GC heap is getting incorrectly zeroed when allocating a new array object.
This cause several test failures with the following stack trace back:

Unhandled Exception: System.IndexOutOfRangeException: Index was outside the bounds of the array.
   at JitTest.LCS.findLCS(Int32[,,,] c, Int32[,,,] b, Char[][] seq)
   at JitTest.LCS.Main()

The following tests are failing due to t

[2016-01-19 21:28] sejongoh commented on #2458
I can reproduce this with the following commits.

Coreclr: 761fa46 (Wed Jan 13 18:15:58 2016 -0500)
Corefx: 0824d9745687271503f7538d16f44f17f5ef5f18 (Tue Jan 12 14:49:52 2016 -0800)

I sometimes see different errors:

[code]
[code]

[2016-01-19 21:36] ZhichengZhu commented on #1147
Hi adiaaida,
I'll answer your question one by one.
1. Basically for mdbg, script files are the collection of mdbg commands which should be run during the tests. For the source file,  do you mean the debuggee source file or a source that once it gets compiled, it can work like a debugger extension which contains testing steps like unit test?
2. In mdbg we do have an extension which can set the debu

[2016-01-19 21:43] ZhichengZhu commented on #1146
We have already starting working on that and ported  some of the key debugger tests for x-plat. The reason we didn't publish mdbg and those mdbg tests right now is because there is a MCG issue which haven't be resolved by interop team .

[2016-01-19 22:14] sejongoh commented on #2458
This issue looks a duplicate of #2380.

[2016-01-19 22:34] hoyMS commented on #2671
COMPlus_JitStress=2

[2016-01-19 22:39] sejongoh opened #2734 "[JitStressRegs=4] System.Reflection.Emit.Tests fails with System.TypeLoadException : Non-Static Global Method"
**Configuration**

Linux
Coreclr checked build
Corefx release build

Coreclr: 761fa46 (Wed Jan 13 18:15:58 2016 -0500)
Corefx: 0824d9745687271503f7538d16f44f17f5ef5f18 (Tue Jan 12 14:49:52 2016 -0800)

**Failure**

Fail with JitStressReg=0x4
Pass without JitStressReg=0x4

[code]

[2016-01-19 22:53] sejongoh commented on #2730
This also looks a duplicate of #2380.

[2016-01-19 22:53] #2730 closed

[2016-01-19 22:57] hoyMS commented on #2671
This is duplicate of  #2380 .

[2016-01-19 22:57] #2671 closed

[2016-01-19 23:04] janvorli commented on #2266
I wonder if the failures can be related to the physical hardware the test run ends up running on, in other words if the problem is similar to the issue #2687.
@LLITCHEV this is what I have mentioned today.

[2016-01-19 23:13] sivarv commented on #2266
It is unlikely that issue #2687 could be the cause of this issue because only very recently (1/15) Carol has enabled SSE2 SIMD intrinsics on Linux.  AVX support for SIMD intrinsics is not turned on for *nix yet.  Also, my understanding is that these tests were failing even before that.

[2016-01-19 23:18] mellinoe commented on #2266
Yes, the tests have been failing for a little while, longer than the SIMD feature was turned on. Also, these failures are occurring on OSX, which I don't believe has SIMD enabled yet? I think only Linux has been enabled recently.

Another thing to note is that the test failures are in `Matrix4x4`, which doesn't have any special code-gen as far as I know. It uses `Vector3/Vector4` internally in som

[2016-01-19 23:24] joshfree commented on #2355
I've moved this active issue to the corefx repo.  https://github.com/dotnet/corefx/issues/5538

[2016-01-19 23:24] #2355 closed

[2016-01-19 23:27] jasonwilliams200OK opened #2736 "Feature Request - string.Join() overload which accepts a character"
Current situation:

[code]

With `char` overload, users will be able to join string without calling `ToString()`
i.e. `string joined = string.Join(separator, "one", "two", "three");`

This will reduce at least one string allocation per call: https://github.com/dotnet/coreclr/blob/80c2952/src/mscorlib/src/System/Char.cs#L145-L168.

[2016-01-19 23:27] gkhanna79 commented on #1606
@sergiy-k should comment on adding the support for it in the host/FX.

[2016-01-19 23:29] CarolEidt commented on #2266
It is my understanding that OSX uses the same codegen as Linux. So, I believe that SIMD is enabled there as well. But, as you say, this was failing before the SIMD feature was enabled.

[2016-01-19 23:58] CarolEidt commented on #2725
It would be great to design such a feature to capture both the assertion about the expected behavior as well as allowing that behavior to be validated. That is, perhaps in Debug one might check the condition, while when generating optimized code (e.g. in a Release build), one might assume it to be true. We've already got Debug.Assert and Trace.Assert. Maybe this should be Unsafe.Assert, and it wou

[2016-01-20 00:21] LLITCHEV commented on #2266
@CarolEidt Yes. There is no any difference in terms of codegen (or in any other way) between Linux and MacOS by the Jit. I wonder if the failures are on the same machine? It is really perplexing that a deterministic test will fail intermittently. And I'd expect for it to fail on Linux too.

[2016-01-20 00:27] tzwlai commented on #1145
This was closed by accident.

[2016-01-20 00:35] JohnChen0 commented on #1934
Update WIP code to new commit 94ff2e4, using the latest NuGet package for MSBuild. Verified that issue Microsoft/msbuild#423 is fixed.

[2016-01-20 01:06] sivarv commented on #2734
Does this test pass without JitStressRegs=3 ?

[2016-01-20 02:20] sergiy-k commented on #2466
Hi @rohitshrivastava04, are you still seeing this issue with dnx on Windows7?

[2016-01-20 03:44] LLITCHEV commented on #2380
Fixed with PR https://github.com/dotnet/coreclr/pull/2684

[2016-01-20 06:48] sergiy-k commented on #1606
Based on @ericeil comments, adding the SetMinThreads managed API does not seem to be an option because we will not be able to support it on top of the .NET Native runtime.
So exposing this option through hosting APIs looks much more viable.

@kouvel, could you please take a look? There is also a similar issue in dotnet/cli: https://github.com/dotnet/cli/issues/889

[2016-01-20 07:17] ellismg opened #2744 "GC\Features\HeapExpansion\Finalizer\Finalizer.cmd Hangs sometimes"
Sometimes this test fails in our test runs (it just hangs and XUnit kills it after 10 mins)  I broke into the process once and you could see a deadlock due to trying to finalize during shutdown.

[code]

I'm going to disable this test against this bug.  I suspect this could be resolved by dotnet/corefx#5205, but it might be good to fix the test so it finishes the finalizes before shutting down.

[2016-01-20 07:20] ellismg commented on #2744
An example failure: http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/debug_windows_nt_prtest/1776/testReport/junit/GC/_Features_HeapExpansion_Finalizer_Finalizer_/_Features_HeapExpansion_Finalizer_Finalizer_cmd/

[2016-01-20 08:39] sejongoh commented on #2734
Yes, I corrected the description above. It only fail with JitStressRegs=4 so far.

[2016-01-20 12:48] Dmitry-Me opened #2749 "System.SizedReference is full of suspicious magic"
`System.SizedReference` does something shady. Look at `Target` getter:

    IntPtr temp = _handle;
    if (temp == IntPtr.Zero)
    {
         return null;
    }
    Object o = GetTargetOfSizedRef(temp);
    return (_handle == IntPtr.Zero) ? null : o;

Why does the last line read `_handle` again? If this is to prevent a race should some other thread change `_handle` then this is useless because th

[2016-01-20 15:52] leecow commented on #2380
RC2 port #2746

[2016-01-20 17:07] janvorli commented on #2721
@Cr4zyPh1l The error you are getting with x86 is most likely due to the mscorlib.dll not matching the coreclr.dll. That can be caused by the coreclr.dll being release build and the mscorlib.dll being debug one or vice versa. Or due to the mscorlib.dll being an amd64 build.

[2016-01-20 17:12] #2328 closed

[2016-01-20 17:32] tzwlai commented on #2749
@sergiy-k, PTAL

[2016-01-20 17:33] tzwlai commented on #2736
@joshfree, PTAL

[2016-01-20 17:36] stephentoub commented on #2184
@GSPP, can this be closed? Thanks.

[2016-01-20 17:50] joshfree commented on #2736
We're tracking API additions in the corefx repo.

[2016-01-20 17:50] joshfree commented on #2736
Moved to https://github.com/dotnet/corefx/issues/5552

[2016-01-20 17:50] #2736 closed

[2016-01-20 17:55] Cr4zyPh1l commented on #2721
Ok, I haven't compiled the mscorlib.dll, I'm doing this, and I try. But, normally, mscorlib is not MSIL code ? So, it must work on AnyCPU ?

[2016-01-20 18:14] sergiy-k commented on #2749
/cc @Maoni0

[2016-01-20 18:28] gkhanna79 commented on #2217
@ramarag Can you please take a look?

@comdiv @AndyAyersMS What are your repro steps? Are you building the repo from the root or a specific folder? If not, then you should do so or specify "skiptests" if not building from the root. Test build is currently supported from building from the root of the repo only.

[2016-01-20 18:30] gkhanna79 commented on #1508
@hynguyen2610 How are you doing the build? This is a no-repro for me with VS Community 2015.

[2016-01-20 18:39] AndyAyersMS commented on #2217
I was doing a clean build from the root. Let me see if I can still repro.

[2016-01-20 18:41] jasonwilliams200OK commented on #2736
Thanks @joshfree.

[2016-01-20 19:06] #983 closed

[2016-01-20 19:37] janvorli commented on #2721
mscorlib is managed code, but it is tightly bound to the coreclr.dll. Some objects shared between those two have size and layout dependent on the architecture and debug / release build (imagine e.g. a shared object that has some additional fields for debugging purposes for debug build).

[2016-01-20 20:49] Cr4zyPh1l commented on #2721
Ok, I haven't tested yet because I have some problems with package downloading, but when I can, I will test. Nonetheless, I would like to know if I can use the mscorlib.dll from the "classic" Microsoft .Net Framework (and if yes, which version) with the coreCLR. If it's not the case, what are the differences between the two of them. And, I insist maybe, but can we don't use api-ms**.dll ? I'm aski

[2016-01-20 21:09] caslan opened #2754 "Add new debug API for coreclr assembly resolution"
VS debugger needs to locate assemblies that are not yet have been loaded in the debuggee as part of expression evaluation. For instance, couple cases where need to do this:
1.	We are in a context where real func eval is impossible (dump debugging for example) and during code interpretation we have to resolve a reference to an assembly that was not loaded at the time the dump was saved.
2.	To suppo

[2016-01-20 21:14] janvorli commented on #2721
@Cr4zyPh1l You cannot use mscorlib.dll from the full desktop .Net. While they share most of the source code base, there are parts that are different and the interface between the mscorlib.dll and the coreclr.dll has some different stuff. Also the sizes and layout of some objects shared between mscorlib.dll and the coreclr.dll are different.
@stephentoub, are there some additional differences that

[2016-01-20 21:19] wtgodbe commented on #2711
https://github.com/dotnet/coreclr/pull/2755 should solve this

[2016-01-20 21:22] gkhanna79 commented on #2217
@AndyAyersMS Were you able to repro this?

[2016-01-20 21:26] weshaggard commented on #2222
@bleroy you are planning to write some docs on this subject, these are some good questions to cover.

[2016-01-20 21:28] wtgodbe commented on #2713
To be clear, the tests causing this failure are pri 1, not pri 2 (build priority 2 causes all priority 0, 1, and 2 tests to be built). I have a PR up to switch them to pri 2 temporarily so that all pri 1 and 0 tests can be built and run in the CI.

[2016-01-20 21:30] Cr4zyPh1l commented on #2721
Ok, so I must recompile an application to target the CoreCLR's mscorlib, and run on it ? Or I can keep the application and just change mscorlib file ? For more, do you know a link, or a datasheet, to the inner workings of the full desktop .Net, and especially its launching (for example, application call _CorExeMain function from mscoree.dll, which call another function, etc... until the managed pr

[2016-01-20 21:46] tzwlai commented on #2680
@AmadeusW, I have moved this to the CoreFX repo: https://github.com/dotnet/corefx/issues/5565

[2016-01-20 21:46] #2680 closed

[2016-01-20 21:49] AndyAyersMS commented on #2217
Nope.

I had one machine where the repro was pretty consistent but it's offline right now.

[2016-01-20 21:52] gkhanna79 commented on #2217
@comdiv Can you please share repro steps for this?

[2016-01-20 21:58] AndyAyersMS commented on #2217
I spoke too soon -- I am able to repro.

Just run `build x64 release clean` at top level. Tests with native dependencies will not build properly:
[code]

[2016-01-20 22:05] gkhanna79 commented on #2701
@ramarag Can you please look into this at the earliest?

[2016-01-20 22:37] swaroop-sridhar opened #2757 "GCStress: Crash in 10w5d_cs_d.exe Linux"
Repro steps are:
* cp \\scratch2\scratch\swaroops\coredistools\libcoredistools.so somewhere
* export LD_LIBRARY_PATH=somewhere
* export COMPlus_GCStress=0xC
* Run the test below

[code]

[2016-01-20 22:52] GSPP commented on #2184
@stephentoub I'll make another attempt at finding time this week. Please leave this open for a while. Thanks.

[2016-01-20 22:53] stephentoub commented on #2184
Ok.

[2016-01-20 23:04] tzwlai commented on #2757
CC @sergiy-k @adityamandaleeka

[2016-01-20 23:32] RussKeldorph commented on #2683
@redknightlois I, too, am having trouble reproducing this.  Could you provide detailed repro steps and include the DNX and runtime versions, OS version, and CPU you're running under?

[2016-01-20 23:49] Chrisboh commented on #1110
@chcosta bouncing this over to you as I think it was something you were looking at.

[2016-01-20 23:54] swaroop-sridhar commented on #2757
Similar failure in `JIT/Methodical/fp/exgen/10w5d_cs_r/10w5d_cs_r.exe` likely to be the same cause.
[code]

[2016-01-21 00:01] AmadeusW commented on #2680
Thank you @tzwlai

[2016-01-21 00:19] swaroop-sridhar opened #2759 "GcStress: Exclude doublearray/* Tests from GcStress runs"
Exception failure in the following tests
JIT/Methodical/doublearray/dblarray1_cs_d/dblarray1_cs_d.exe
JIT/Methodical/doublearray/dblarray1_cs_r/dblarray1_cs_r.exe
JIT/Methodical/doublearray/dblarray2_cs_d/dblarray2_cs_d.exe
JIT/Methodical/doublearray/dblarray2_cs_r/dblarray2_cs_r.exe
JIT/Methodical/doublearray/dblarray3_cs_d/dblarray3_cs_d.exe
JIT/Methodical/doublearray/dblarray3_cs_r/dblarray3_cs

[2016-01-21 00:27] swaroop-sridhar commented on #2759
Repro steps are:

* Enlist adityamandaleeka/coreclr:gc_stress and build CoreCLR
* cp \scratch2\scratch\swaroops\coredistools\libcoredistools.so somewhere
* export LD_LIBRARY_PATH=somewhere
* export COMPlus_GCStress=0xC
* Run the test below

[2016-01-21 00:32] swaroop-sridhar opened #2761 "GcStress: Failure in _relrotarg_valref Linux"
This failure is not 100% deterministic, but fails 90% of the time under GcStress, always passes without GcStress.

[code]
[code]

Repro steps are:
* cp \scratch2\scratch\swaroops\coredistools\libcoredistools.so somewhere
* export LD_LIBRARY_PATH=somewhere
* export COMPlus_GCStress=0xC
* Run the above test

[2016-01-21 00:39] hoyMS commented on #2734
This is a duplicate of Issue #2380

[2016-01-21 00:39] #2734 closed

[2016-01-21 00:42] hynguyen2610 commented on #1508
Hi,
I don't know why, but, when I download the zip file from Github, it's
fail to build. If I use Git clone command (shell), I can build successfully.

[2016-01-21 01:00] chcosta commented on #1110
I don't believe the signing issues I am going to investigate are related to this, however...

A lot has changed in the past 6 1/2 months.  I just built coreclr clean on a Windows machine by simply calling build.cmd, and it completed without incident.  I'm going to close this issue.  @krk, please feel free to re-open this issue if you are still seeing a problem and provide additional repro informat

[2016-01-21 01:00] #1110 closed

[2016-01-21 01:01] swaroop-sridhar opened #2763 "GcStress: BoxUnbox tests failed for MixedAllStruct Linux"
In the following tests:
[code]
One of the `BoxUnbox` variants in this test fail for `MixedAllStruct`
The failure is not 100% deterministic, but fails most of the time.

[code]

Repro steps are:

* cp \scratch2\scratch\swaroops\coredistools\libcoredistools.so somewhere
* export LD_LIBRARY_PATH=somewhere
* export COMPlus_GCStress=0xC
* Run the above test

[2016-01-21 01:02] swaroop-sridhar commented on #2763
@LLITCHEV This test involves structs.

[2016-01-21 01:05] terrajobst commented on #2322
Thanks for filing. We've talked about this today again. @jkotas and @jaredpar had some opinion on this as well.

[2016-01-21 01:09] swaroop-sridhar opened #2764 "GcStress: Linux: Sanity Check failed in _il_dbgformat"
[code]
Repro steps are:

* cp \scratch2\scratch\swaroops\coredistools\libcoredistools.so somewhere
* export LD_LIBRARY_PATH=somewhere
* export COMPlus_GCStress=0xC
* Run the above test

Here are the list of mkrefany tests that are failing for the same reason
JIT/Methodical/refany/_il_dbgformat/_il_dbgformat.exe
JIT/Methodical/refany/_il_dbglcs/_il_dbglcs.exe
JIT/Methodical/refany/_il_dbgshortsig/_

[2016-01-21 01:14] redknightlois commented on #2683
@RussKeldorph

CPU: Intel(R) Core(TM) i5-3470 CPU @ 3.20Ghz   3.20GHz
OS: Windows 10 x64 (fully updated)

This is the code:

        [Fact]
        public void Constants()
        {
            Assert.Equal((uint)(Math.Log(64, 2)), (uint)6);
        }

This is how it gets executed:

[code]

[2016-01-21 01:35] noahfalk commented on #2754
To clarify I'm only intending have the API target resolution from AssemblyRef -> path, and maybe support non-default load contexts if necessary. I'm not planning to assist with the mapping of type -> assembly. I'll be expecting the debugger to know what assembly has the type its looking for.

[2016-01-21 01:36] swaroop-sridhar opened #2765 "GcStress: Linux: Crash in _il_dbglcs"
Looks like a crash while unwinding the stack.

[code]

Stack trace is
[code]
Repro steps are:

* cp \scratch2\scratch\swaroops\coredistools\libcoredistools.so somewhere
* export LD_LIBRARY_PATH=somewhere
* export COMPlus_GCStress=0xC
* Run the above test

[2016-01-21 01:40] swaroop-sridhar opened #2767 "GcStress: Linux: Sanity Check failed in _il_dbglongsig"
This could be the same issue as #2764

Failing Tests:
[code]

[code]

Repro steps are:

* cp \scratch2\scratch\swaroops\coredistools\libcoredistools.so somewhere
* export LD_LIBRARY_PATH=somewhere
* export COMPlus_GCStress=0xC
* Run the above test

[2016-01-21 01:46] swaroop-sridhar opened #2768 "GcStress: Linux: Assert failure in _il_rellcs"
[code]

This could be related to #2765

Repro steps are:

* cp \scratch2\scratch\swaroops\coredistools\libcoredistools.so somewhere
* export LD_LIBRARY_PATH=somewhere
* export COMPlus_GCStress=0xC
* Run the above test

[2016-01-21 01:55] swaroop-sridhar opened #2769 "GcStress: Linux: Sanity check failure in _il_dbggcval_nested.exe"
[code]

Repro steps are:

* cp \scratch2\scratch\swaroops\coredistools\libcoredistools.so somewhere
* export LD_LIBRARY_PATH=somewhere
* export COMPlus_GCStress=0xC
* Run the above test

[2016-01-21 01:58] swaroop-sridhar commented on #2757
Similarly in binarytrees.exe

[code]

[2016-01-21 02:01] swaroop-sridhar opened #2770 "GcStress: Linux: Crash during disassembly _il_relrefarg_i1"
Crash when using the LLVM disassembler
[code]

Repro steps are:

* cp \scratch2\scratch\swaroops\coredistools\libcoredistools.so somewhere
* export LD_LIBRARY_PATH=somewhere
* export COMPlus_GCStress=0xC
* Run the above test

[2016-01-21 02:51] AndyAyersMS opened #2771 "ildasm fails to dump metadata from mscorlib.dll"
Repro:
[code]

[2016-01-21 02:55] KKhurin opened #2773 "AV in mscorlib_ni!System.Diagnostics.Tracing.ActivityTracker.OnStart"
This is the latest dnx-coreclr-win-x64.1.0.0-rc2-16357
We're getting AV on every event (which seem to be swallowed and ignored).
Here is a typical call stack:
[code]

This looks like a jitter bug to me 'cause we're missing a null check in the assembler code:
[code]

[2016-01-21 04:44] #2380 closed

[2016-01-21 09:17] nietras commented on #2725
Sounds interesting. How would this be expressed in IL?

[2016-01-21 09:39] mikedn commented on #2725
Just like any other method call. It's just that the JIT assumes that the expression is passed as argument always evaluates to true and can attempt to infer useful information from that.

That said, the "infer" part is a bit of a can of worms. Any `bool` can be used but only the simplest ones will be useful.

[2016-01-21 10:21] eiriktsarpalis commented on #2715
An easy solution would be to include stacktrace modification utilities inside the [`System.Runtime.ExceptionServices`](https://msdn.microsoft.com/en-us/library/system.runtime.exceptionservices(v=vs.110).aspx) namespace. Roughly,
[code]
These could be utilised by serialization libraries for correct exception serialization without resorting to reflection. The latter method is also useful in slightly

[2016-01-21 15:44] forki commented on #2715
@gkhanna79 what does the milestone "Future" mean exactly?

[2016-01-21 16:17] gkhanna79 commented on #2715
@forki It means that the fix will be part of an update to the runtime later in the year. It is key for this since we need to be intentional about how the feature is going to be designed.

You dont want to just stick with the stacktrace, especially if there would be other exception details you are interested in. It sounds like, for the case here, it maybe useful to determine how to pass ExceptionDi

[2016-01-21 16:23] eiriktsarpalis commented on #2715
What makes exceptions stand out is that they share a common base type whose data is not user-accessible. Arbitrary types are usually standalone and their implementer can specify custom serialization rules, if indeed he wants them to be serializable.

[2016-01-21 16:29] weshaggard commented on #2715
Adding some serialization folks @zhenlan @SGuyGe @khdang

[2016-01-21 16:32] tzwlai commented on #2698
@joperezr, I have tagged this issue with "blocking-release" since it's currently blocking #1934, which is a blocking issue itself.

CC @leecow

[2016-01-21 17:12] joperezr commented on #2698
The problem is not the dependency in the private packages, since they can be uploaded to the build tools easily. The problem is that the MSBuild that we have right now doesn't run in Mac OS X since it crashes just after we invoke it. @rainersigwald is helping us fix this and hopefully he can get this working today so that we can depend on new packages that work across all platforms.

[2016-01-21 17:45] rainersigwald commented on #2698
@joperezr Tracking that as Microsoft/msbuild#441. Currently working to resolve flakiness with build and test after updating our .NET Core dependencies.

[2016-01-21 17:59] tzwlai commented on #2653
@markwilkie and @Chrisboh, whom should this go to?

[2016-01-21 18:05] rohitshrivastava04 commented on #2466
Yes, I tested it today again on windows 7 with boot2docker and it still hangs.

[2016-01-21 18:06] markwilkie commented on #2653
@gkhanna79 Adding Gaurav who has more info on which CoreCLR tests are being run in Jenkins.

[2016-01-21 18:31] sivarv commented on #2759
These test failures are by design under gc-stress.  In fact these were tagged on desktop to be excluded from gcstress=0xc runs.  Moving this to future to tag these tests to be excluded from gc-stress runs.

[2016-01-21 18:33] sivarv commented on #2757
This is likely be a gc-hole jitted code.  After ruling that out will assign to VM team if required.

[2016-01-21 18:38] sivarv commented on #2761
This test is calling GC.Collect() explicitly and then makes a couple of checks.  Throws an exception if any of the checks fail.  Needs investigation.

[2016-01-21 18:42] sivarv commented on #2767
My guess is that all these refany category of tests might be failing for the same reason.

[2016-01-21 18:48] janvorli commented on #2466
@sergiy-k Please note this is not a supported Linux distro. The boot2docker is some very minimalistic Linux distro.

[2016-01-21 18:54] sivarv commented on #2700
Investigation reveals two issues:

Issue#1:
IR has two GT_RETURN statements.  BB01 is ending with GT_RETURN and marked to fall-thru to BB02.  BB02 also ends with GT_RETURN statement.

Issue#2
since this method is returning a struct in hidden RetBuf arg, as per Unix Amd64 ABI, RetBuf address also needs to be returned in RAX.  Codegen of GT_RETURN is simply moving RetBuf arg to RAX without modeling

[2016-01-21 18:55] billycc commented on #2466
@rohitshrivastava04 @janvorli  i'm having a similar issue (trying to build a docker based off of aspnet/1.0.0-rc1-update1-coreclr and restoring sqlclient among other things, and it leads to dnx hang).

i'm using docker 1.9.1 (no boot2docker) on win10. i also tried building a similar dockerfile hosting from an ubuntu box.

so, i put together a very hacky script to get over the dnx hang.

    #!/usr

[2016-01-21 19:03] sivarv commented on #2700
The reason Issue#1 is not a problem on windows is that Windows Amd64 ABI doesn't require RetBuf arg to be returned in RAX.  Since there are two GT_RETURN statements, the first one will result in moving RetBuf address to RAX trashing RAX.  While generating code for BB02, jitted code will write to the address in RAX thereby corrupting RetBuf or the struct return value and hence the test failure.

Co

[2016-01-21 20:15] sivarv commented on #2773
@KKhurin - can you provide more context on the null check that JIT is missing to generate?

Note that in the assembly code that you have pasted, 'cmp' instruction is the null-check on thisptr on which method call is being made.

mov     ecx,dword ptr [esi+4]
cmp     dword ptr [ecx],ecx
call    mscorlib_ni!System.Threading.AsyncLocal`1[].get_Value()

If the method call needs to take place on an obj

[2016-01-21 20:23] rohitshrivastava04 commented on #2466
@billycc rc1 + sqlclient does not work. You have to upgrade to RC2. I would recommend you to build rc2 image yourself and then build an application image from that. One more thing, try on ubuntu as on windows dnx hangs. If you want I can give you dockerfile to build aspnet rc2 image.

[2016-01-21 20:36] billycc commented on #2466
@rohitshrivastava04 yeah. i'm working my way on building up a rc2 container. if you got it all working, then please share. i just mentioned the rc1, because from the looks of it, you had started from aspnet's udpate1-coreclr; which is where i had started in trying to build mine.

my docker begins `FROM microsoft/aspnet:1.0.0-rc1-update1-coreclr`, but then proceeds to do other things including `dnv

[2016-01-21 20:37] mikedn commented on #2773
I think he's talking about the second `m_current == null` check in this code:

[code]
But the disassembly dump is from a x86 build, it can't be dnx-coreclr-win-x64.1.0.0-rc2-16357 since that's a x64 build.

[2016-01-21 20:56] KKhurin commented on #2773
yep, the second check for null is missing
[code]

I checked both x86 and x64 and to my surprise the problem is identical

[2016-01-21 21:25] swaroop-sridhar opened #2785 "GcStress: Linux: Assert failure in GcCover"
Assert failure in GcCoverage testing in the following tests:

[code]

[code]

Repro steps
* cp \scratch2\scratch\swaroops\coredistools\libcoredistools.so somewhere
* export LD_LIBRARY_PATH=somewhere
* export COMPlus_GCStress=0xC
* Run the above test

[2016-01-21 21:26] swaroop-sridhar commented on #2785
This could be a bug in the GcStress infrastructure implementation.
@adityamandaleeka said he'll take a look.

[2016-01-21 21:32] billycc commented on #2466
on further investigation, that hack script i made doesn't seem to work. fooled myself into thinking it was working, but i was restoring as rc1 earlier on in my dockerfile and that lead to a mixed packages folder.

i was doing restore as rc1 (which i overlooked), and then a later one was restoring as rc2. and the rc2 restore wasn't really hanging in that case. (or, that hack does work in that case.

[2016-01-21 22:11] jasonwilliams200OK commented on #2466
@rohitshrivastava04, it seems like boot2docker is deprecated in favor of Docker Machine (https://docs.docker.com/engine/installation/windows/):

**Note:** This release of Docker deprecates the Boot2Docker command line in favor of Docker Machine. Use the Docker Toolbox to install Docker Machine as well as the other Docker tools.

I have installed docker machine on Windows. Can you share Dockerfile

[2016-01-21 22:34] zhenlan commented on #2715
@shmao do you think if surrogate will be an option here?

[2016-01-21 22:36] AndyAyersMS commented on #2728
Failures mostly (exclusively?) happen on dci-ub-fbld-2.

[2016-01-21 22:45] janvorli commented on #2721
Regarding the application targetting CoreCLR, you need to build it against reference assemblies of the core profile. That ensures that it doesn't reference functionality that is not present in the core profile supported by the CoreCLR.

The api-ms-win* have a slightly different purpose from what you expect. They are just forwarding API calls to the actual dlls that implement them (you can view it

[2016-01-21 22:57] ellismg commented on #2728
We hit similar things a while back in CoreFX where we constructed a test overlay by doing complicated find magic.  I found that the order of enumeration of the FS would differ across machines and so we'd actually end up copying different files due to our last one wins strategy.

[2016-01-21 23:14] #1941 closed

[2016-01-21 23:23] JeremyKuhne commented on #731
Related to #1776

[2016-01-21 23:31] sergeybykov commented on #2715
In [Orleans](https://github.com/dotnet/orleans/), automatic propagation of exceptions across distributed calls and machine boundaries is one of the most important features. A caller to a grain (actor) A receives an exception throw in the call chain of, say, A calling grain B which in turn calls grain C regardless of where in the call chain the exception was thrown, even if A, B, and C run on diffe

[2016-01-21 23:42] Sridhar-MS commented on #2429
Moved this issue to https://github.com/dotnet/cli/issues/952 and closing this one.

[2016-01-21 23:42] #2429 closed

[2016-01-22 00:01] AlexGhiondea commented on #2727
This has been ported.

[2016-01-22 00:01] #2727 closed

[2016-01-22 00:05] #2163 closed

[2016-01-22 00:17] Sridhar-MS commented on #2200
Moved this issue to dotnet/cli#956 and closing this one.

[2016-01-22 00:17] #2200 closed

[2016-01-22 00:30] ramarag commented on #2217
Reopening it as tracking item for rc2 port

[2016-01-22 00:56] swaroop-sridhar commented on #2770
The stack dump has nothing to do with the actual seg-fault.
The stack at the actual fault is very different.

There are instances where this test passes, after printing the stack trace:
[code]
./corerun ~/test/JIT/Methodical/explicit/basic/_il_relrefarg_i1/_il_relrefarg_i1.exe
0  libcoredistools.so 0x00007f6f96b1308e llvm::sys::PrintStackTrace(llvm::raw_ostream&) + 46
1  libcoredistools.so 0x00007

[2016-01-22 00:59] swaroop-sridhar opened #2790 "CoreDisTools: Investigate LLVM's Signal handler"
LLVM seems to have registered/run its own signal handlers even when loaded as a library.
This causes the stack trace to be printed when Null reference exception is thrown -- although the case may be legitimate as in the following test case. Investigate and fix this issue.

[code]

[2016-01-22 00:59] swaroop-sridhar commented on #2770
Looks like LLVM (via CoreDisTools) is registering its own signal handlers, which isn;t playing well with CoreCLR. This issue needs to be fixed.#2790

[2016-01-22 01:13] AndyAyersMS commented on #2790
You might look at [what I did](https://github.com/dotnet/llilc/blob/master/lib/Jit/LLILCJit.cpp#L160-L163) for a similar sounding issue in LLILC.

[2016-01-22 01:18] gkhanna79 commented on #2095
Keeping this open until PRs get into RC2 branch

[2016-01-22 02:46] RussKeldorph commented on #2713
This is not fixed.  All that was done was to remove the failures when building priority 1.  They are still there when building priority 2.

[2016-01-22 05:52] #2701 closed

[2016-01-22 07:37] noahfalk commented on #1743
@cheers00 Sorry for having this be idle so long. I spoke with some other folks on the team and got some status for you. The basic story is that this is something we want to enable but its not running yet. Internally we are doing a lot of engineering work on our build systems to handle multiple OSes and as part of that transition we lost access to the PDB publishing automation we had before. Our ot

[2016-01-22 09:23] Dmitry-Me opened #2796 "QueryInterface() returns "no interface" when IUnknown is requested"
`HRESULT MergeTokenManager::QueryInterface(REFIID riid, void **ppUnk)`
`HRESULT CMapToken::QueryInterface(REFIID riid, void **ppUnk)`

both yield `E_NOINTERFACE` if `IUnknown` IID is passed as `riid`. That's a major violation of COM requirements. If this is intentional it should be explained but I guess it's a bug.

[2016-01-22 10:19] rohitshrivastava04 commented on #2466
@jasonwilliams200OK sorry my bad, I am using docker-machine on windows 7. I mentioned boot2docker as docker-machine creates a VM using boot2docker.iso.

https://gist.github.com/rohitshrivastava04/69df942663fce84f62f2

[2016-01-22 10:33] Luaancz commented on #1235
@OtherCrashOverride

The main problem with this is that *this is not how the .NET GC works*. Right now, it will either compact the whole heap, or not. It doesn't try to relocate objects that aren't pinned while not touching the objects that are pinned - if there's a pinned object in your heap, the heap will not be compacted. There's still some attempts by the GC to make this work, but the only thi

[2016-01-22 12:09] janvorli opened #2798 "UNINSTALL_MANAGED_EXCEPTION_DISPATCHER in the PreStubWorker issue"
There is a problem with the UNINSTALL_MANAGED_EXCEPTION_DISPATCHER in the PreStubWorker. In some cases, the caller of the PreStubWorker, the ThePreStub is not called by managed code. In such cases, the UNINSTALL_MANAGED_EXCEPTION_DISPATCHER prevents potential handling of managed exceptions in the native code that is in the call chain between the PreStubWorker and the first managed frame.
I have di

[2016-01-22 13:58] Marqin commented on #1941
Why it's closed? It's not fixed in #2386

[2016-01-22 14:04] blackdwarf commented on #1941
@Marqin sorry, I closed it because with the new toolset (dotnet cli) you will not use DNX anymore and all of the needed dependencies will come down with the native installers (this is at least true for Ubuntu). So, the following line:

is not valid anymore. Do you feel we should reopen the issue?

[2016-01-22 14:54] gsfreema opened #2801 "List<T> should use Array.Empty<T>() (a.k.a. EmptyArray<T>.Value)"
Instead of creating its own empty static array (_emptyArray), List<T> could piggyback on the existing EmptyArray<T>.Value which would provide a slight memory gain by better reusing EmptyArray<T>.Value.

[2016-01-22 15:07] stephentoub commented on #2801
Thanks, but see https://github.com/dotnet/coreclr/pull/1596

[2016-01-22 15:07] #2801 closed

[2016-01-22 16:13] steveharter commented on #2095
@gkhanna79 is it possible to use the existing AssemblyLoadContext instead of adding the AssemblyResolve event to intercept referenced assembly loads? That would be ideal IMO (one mechanism instead of two)

Assuming AssemblyResolve event handler, will that be expected to obtain or create a  AssemblyLoadContext in order to call one of the methods to load the assembly such as LoadFromAssemblyPath, or

[2016-01-22 16:27] gkhanna79 commented on #2095
Keeping this open until the Port PRs go through.

[2016-01-22 16:31] gkhanna79 commented on #2095
@steveharter Referenced assembly loads will still be intercepted via the ALC implementation's Load override. However, if Load does not find it (or cannot find as is the case for default load context ALC instance), the Resolving event will be used to give an oppurtunity to provide the assembly.

Resolving event gets the reference to the LoadContext for which it was invoked and the consumer can use

[2016-01-22 16:44] krytarowski opened #2805 "What's the Platform ID for NetBSD?"
I want to set `IMAGE_FILE_MACHINE_NATIVE_OS_OVERRIDE` for NetBSD, but I don't know from where come the constant values.

Similar issue for Linux, MacOSX and FreeBSD: https://github.com/dotnet/coreclr/issues/1035

Code reference:
https://github.com/dotnet/coreclr/blob/master/src/inc/pedecoder.h#L95

[2016-01-22 17:53] tzwlai commented on #2796
@yizhang82 PTAL

[2016-01-22 18:39] yizhang82 commented on #2796
@Dmitry-Me Thanks for logging those issues. I believe those classes are internal implementation that are not "proper" COM objects which are reusable by other components. Having said that, implementing IUnknown properly doesn't hurt. Feel free to submit a PR.

[2016-01-22 19:08] mellinoe commented on #2266
@LLITCHEV was able to run the tests on the same machine that we saw one of the CI failures, and we still weren't able to get a repro, unfortunately. We were also using the same bits that the CI machine used when it failed, taken from the shared Jenkins location. Since this seems to be such an obscure problem, I'm moving to Future but leaving it open for now. Hopefully we can get some better inform

[2016-01-22 19:19] wtgodbe commented on #2143
Hi,

I am not able to get a repro of this problem - out of curiosity, what happens when you install your program to 'C:\Program Files\MyProgram' and run it from there?

[2016-01-22 19:26] wjk commented on #2143
@wtgodbe Unfortunately, I cannot currently tell you the answer to this. Due to [dotnet/cli#948](https://github.com/dotnet/cli/issues/948) et al, I cannot successfully build my app to test this issue or anything else.

[2016-01-22 19:53] kangaroo commented on #1941
@blackdwarf ICU 52 is still required.  Try to build corert on ubuntu 15.10, and it will fail since the current runtime packages System.Globalization.Native.so dynamically links against icu52.  Ubuntu has moved to icu55.

This is something that we probably don't want to address with documentation, but in some other fashion (bundling icu).  The current situation is against the plan of 'drop in runti

[2016-01-22 20:03] Cr4zyPh1l commented on #2721
Ok, so my second problem could come from my application which isn't built with CoreCLR reference ? It's a simple application which just show a message in the console.

Do you know where I can get a list of differences between features supported in the full desktop .Net Runtime and not in CoreCLR (and the opposite) ?

In conclusion, I can't delete these references (api-ms**) ?

And, do you have a d

[2016-01-22 20:04] jcdickinson opened #2810 "Dynamic .cctor Not Executed Only Without Optimizations"
Delete me.

[2016-01-22 20:30] #2810 closed

[2016-01-22 20:42] Marqin commented on #1941
You should statically link libicu52, or move to 55 like most distros.

2016-01-22 20:54 GMT+01:00 Geoff Norton <notifications@github.com>:

[2016-01-22 20:44] jkotas commented on #2805
These IDs are just randomly chosen numbers.

[2016-01-22 20:49] swaroop-sridhar opened #2812 "GcStress: Linux: Non deterministic failures on some tests"
The following tests failed (as a segfault) at least once when run under GCStress, but the failure does not repro consistently, so the bug does not seem actionable.

[code]
So, I think the task here is to re-run the following tests a few times once some of the other GcStress bugs are fixed.

The following tests are found to be passing with the fixes already in Git or the current fixes that are in P

[2016-01-22 21:03] aelij opened #2813 "Improved formatting for async stack traces"
Currently, for a simple invocation of async M1 -> async M2 -> M3 we will produce the following stack trace string:

[code]

Observations:
- All the frames from awaiters are redundant and do not really add much information.
- The "end of stack trace from previous location" text, caused by `ExceptionDispatchInfo` can also be omitted.
- Async method name can be inferred from its generated class name.

[2016-01-23 00:04] briansull opened #2816 "ARM64: Implement passing of 16-byte struct values on the stack"
Currently the ARM64 Jit asserts with
            NYI("Multireg struct - LinearScan::tryAllocateFreeReg");
when you attempt to pass a 16-byte struct using the stack area.

[2016-01-23 00:39] davmason commented on #2773
This is not actually a jit issue. There was a bug where the second null check was missing, it was fixed in EventSource about 2 weeks ago but dnx-coreclr-win-x64.1.0.0-rc2-16357 is 3 weeks old so it's on the old sources with the bug. It was fixed with efa1dda2c1579417dcaed92633b8556fd68270ee

[2016-01-23 00:39] #2773 closed

[2016-01-23 01:36] hoyMS commented on #2773
I didn't see the bad code gen with today's build by running "crossgen mscorlib.dll".

IN001a: 0000B6 mov      rcx, rsi
IN001b: 0000B9 call     System.Diagnostics.Tracing.ActivityTracker:Enable():this

G_M25575_IG07:        ; offs=0000BEH, size=0007H, gcrefRegs=000000C8 {rbx rsi rdi}, byrefRegs=0000C000 {r14 r15}, byref, isz

IN001c: 0000BE cmp      gword ptr [rsi+8], 0
IN001d: 0000C3 jne      SHOR

[2016-01-23 02:40] briansull opened #2823 "ARM64: Fix the assertion failure genLockedInstructions"
On non-Intel architecture we should not be generating "locked" instructions
These instructions only are used on x86/x64 architectures

[2016-01-23 16:22] krytarowski commented on #2805
Does 0x1993 work for you? It's the date of starting the NetBSD CVS repo.

[2016-01-23 16:43] stephentoub commented on #2266
Failed again here: http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_release_tst/277/console

[2016-01-23 16:45] jkotas commented on #2805
Yes, it works.

[2016-01-23 17:13] gkhanna79 commented on #2653
@AndyAyersMS Please work with @ramarag who implemented the CoreCLR repo test infrastructure for this. Here is the link to similar CoreCLR repo test report:

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/release_windows_nt_prtest/2996/testReport/

[2016-01-23 20:07] mellinoe commented on #2266
@LLITCHEV I believe these are all on the same machine, including Stephen's new one today. If I'm reading the Jenkins log correctly, all of the failures are on [dci-mac-bld-6](http://dotnet-ci.cloudapp.net/computer/dci-mac-bld-6). Is that the one that we had tested on? @mmitche do you remember which machine we had pulled to do the test?

[2016-01-23 23:06] LLITCHEV commented on #2266
@mellinoe The machines that we pulled to try to repro the were 131.107.19.71 and 74.30.245.235. I believe the second was the one that you last repro occurred. After many runs it didn't happen even once. @mmitche Could you please confirm that dci-mac-0bld-6 is the same machine?

[2016-01-23 23:36] GSPP commented on #2184
Regarding `WithTaskScheduler` deadlocking: `Parallel` does not have this problem. My understanding is that `Parallel` allows all threads to participate and process the remaining work. The internal self-replicating infrastructure is used to queue tasks if execution slots appear to be available. That way even if just one thread is available the operation will always complete. This is a great solutio

[2016-01-24 02:50] #2805 closed

[2016-01-24 05:47] codemonkeyrawks opened #2831 "Issues with #dotnet restore command"
Running #dotnet restore results in not finding the package. Yet I followed this guide using dnx and it works: https://docs.asp.net/en/latest/dnx/console.html

info :   NotFound https://api.nuget.org/v3-flatcontainer/netstandard.library/index.json 837ms
info :   NotFound https://api.nuget.org/v3-flatcontainer/netstandard.platform/index.json 818ms

Is this also the official documentation:
https://do

[2016-01-24 05:48] #2831 closed

[2016-01-24 05:49] codemonkeyrawks commented on #2831
Wrong Branch.

[2016-01-24 15:18] Marqin opened #2834 "Not working on systems with newer libicu."
Hello,

Most distributions ( Ubuntu, Arch, etc. ) moved to libicu 55. And System.Globalization.Native.so bundled with DNX coreclr does need to dynamically link libicu 52.

I see two possible solutions:
1. Bundle libicu 52 with coreclr ( it's MIT licensed from what I see ).
2. Build two versions of System.Globalization.Native.so and make DNX install that one which will be working on target distro (

[2016-01-24 15:18] Marqin commented on #1941
@kangaroo made #2834 for that.

[2016-01-24 17:26] stephentoub opened #2835 "Array.CreateInstance doesn't throw ArgumentOutOfRangeException on Unix"
[code]
On Windows this throws the exception:
[code]
On Unix it throws OutOfMemoryException (and sometimes it appears to not throw at all).

[2016-01-24 21:10] JohnChen0 commented on #1934
Two MSBuild issues are blocking resolving this issue on Mac OS X:
* MSBuild does not accept absolute path on command line on Mac (Microsoft/msbuild#445)
* The OS property is different between CoreCLR version and mono version of MSBuild (Microsoft/msbuild#446)

[2016-01-24 21:11] ellismg commented on #2834
We are one the (2) plan.  The general idea is that we are producing packages of the native components which are specific to a target runtime identifier (which is per distro).  DNX/dotnet cli are responsible for getting the correct packages pulled in at install time.

We already produce packages for CentOS 7.1 (which uses an even earlier version of ICU) and will be adding more for other supported d

[2016-01-25 06:06] kangaroo commented on #1941
@Marqin :+1:

[2016-01-25 11:22] Dmitry-Me opened #2840 "MDVEHandlerClass::QueryInterface() fails to retrieve IUnknown"
Here's how MDVEHandlerClass::QueryInterface() is implemented:

            if (id == IID_IVEHandler)
            *pInterface = (IVEHandler*)this;
        /*
        else if (id == IID_IUnknown)
            *pInterface = (IUnknown*)(IVEHandler*)this;
        */
        else
        {
            *pInterface = NULL;
            return E_NOINTERFACE;
        }

IUnknown retrieval is commented out wit

[2016-01-25 12:36] Cr4zyPh1l commented on #2721
It works, almost for the x86 architecture. I have compiled the CoreCLR mscorlib, and launch my application successfully.

I think my first problem is about the api-ms** dlls which are x86 DLLs (I'm not sure if it the case). Could it be ?

Thank you for help

Phil

[2016-01-25 15:55] mmitche commented on #2266
06 is http://131.107.19.118/

[2016-01-25 16:18] janvorli opened #2842 "Assert sc->stack_limit != 0 with GCStress enabled"
With COMPlus_GCStress set to 3, the assert occurs in src\vm\siginfo.cpp@4944

[2016-01-25 16:18] janvorli commented on #2842
Fixed by #2806

[2016-01-25 16:18] #2842 closed

[2016-01-25 16:53] RussKeldorph commented on #2683
Sorry for delay.  I was sick last week.  Ok, have repro.  On my machine at least, when the issue doesn't happen, I'm linking to msvcr120_clr0400.dll, which says
[code]
In the repro case, coreclr is linking to msvcrt.dll, which says:
[code]
So it looks like the latter is returning a "double extended"-precision result, whereas the former is using double-precision.  I suspect there's an easy way to c

[2016-01-25 17:06] #834 closed

[2016-01-25 17:17] AndyAyersMS commented on #2653
Results seem to be there now for many test CI legs, so let's hold off on this unless I run into one again that is missing test results.

[2016-01-25 17:17] #2653 closed

[2016-01-25 17:20] AndyAyersMS commented on #2728
Was curious why the closely related `managed\Compilation` test didn't hit this issue. Turns out it's excluded in the "unsupported outside windows list".

I hate to just disable this test too, but it is causing enough spurious failures that it seems that is the sensible thing to do.

[2016-01-25 18:10] wtgodbe opened #2844 "Test cs_threadpoolnullchecks file path too long"
the x64_release_windows_nt_pri1_bld job is failing in the CI with MSBuild error MSB3491: Could not write lines to file:

"d:\j\workspace\dotnet_coreclr\x64_release_windows_nt_pri1_bld\tests\..\bin\tests\obj\Windows_NT.x64.Release\Managed\baseservices\regression\v1\threads\functional\threadpool\cs_threadpoolnullchecks\CS_ThreadPoolNullChecks\CS_ThreadPoolNullChecks.csproj.FileListAbsolute.txt". The

[2016-01-25 18:45] redknightlois commented on #2683
Good to know there is a repro.

[2016-01-25 21:17] swaroop-sridhar commented on #2761
Similar failure in JIT/Methodical/explicit/rotate/_dbgrotarg_valref/_dbgrotarg_valref

[code]

[2016-01-25 21:20] swaroop-sridhar opened #2847 "GcStress: Linux: Failure in _relgc_nested"
[code]

[2016-01-25 21:25] swaroop-sridhar opened #2848 "GcStress: Linux: Assert during StackWalk _il_relthread-race.exe"
[code]

[2016-01-25 21:41] briansull opened #2849 "ARM64: Assertion failed 'parent->OperGet() != GT_LDOBJ'"
The following tests fail with the above assert using arm64dbg builds:

r8div_cs_do.exe_3818
lclfldadd_cs_do.exe_2861
lclfldmul_cs_ro.exe_2871
r4div_cs_do.exe_3814
r4div_cs_ro.exe_3816
lclflddiv_cs_ro.exe_2867
r8div_cs_ro.exe_3820
lclfldsub_cs_ro.exe_2879
lclfldsub_cs_do.exe_2877
lclflddiv_cs_do.exe_2865
lclfldmul_cs_do.exe_2869
lclfldadd_cs_ro.exe_2863

The following tests fail with the above asse

[2016-01-25 21:42] wtgodbe commented on #2844
Did something change recently that would cause this to happen? I'm seeing this same error with several different files when building locally, and I've never seen it before today

[2016-01-25 21:47] Sridhar-MS opened #2850 "coreclr AVs at coreclr.dll!MarshalNative::GCHandleInternalCheckDomain(OBJECTHANDLE__ * handle) Line 820"
After upgrading the runtime references to rc3-23722 in the dotnet/cli repo, we are starting to see AVs in Windows with the below call stack

 	mscorlib.ni.dll!00007ffe539eca89()	Unknown
 	mscorlib.ni.dll!00007ffe53c09e94()	Unknown
 	coreclr.dll!CallDescrWorkerInternal() Line 102	Unknown
 	coreclr.dll!MethodDescCallSite::CallTargetWorker(const unsigned __int64 * pArguments) Line 654	C++
 	coreclr.d

[2016-01-25 21:55] Sridhar-MS commented on #2850
Windbg callstack

 # Child-SP          RetAddr           Call Site
00 (Inline Function) --------`-------- coreclr!HndGetHandleTableADIndex+0x7 [f:\dd\ndp\clr\src\gc\handletable.cpp @ 259]
01 0000007e`2cd7bf10 00007ffe`539eca89 coreclr!MarshalNative::GCHandleInternalCheckDomain+0x3f [f:\dd\ndp\clr\src\vm\marshalnative.cpp @ 820]
02 0000007e`2cd7bf40 00007ffe`53c09e94 mscorlib_ni!System.Runtime.Inte

[2016-01-25 23:23] swaroop-sridhar opened #2854 "GcStress: Linux: Crash in dbgjumper tests"
[code]

[code]

Here is another jumper test failing for the same reason
JIT/Methodical/VT/callconv/_dbgjumper/_dbgjumper

[2016-01-25 23:43] briansull commented on #2823
There are 69 test failures due to issue #2823

[2016-01-26 00:10] noahfalk commented on #2813
@aelij Thanks for writing this up!

Let me know your thoughts on this. I feel like the right approach at first would be to create a higher level library that handles this formatting, and then users can opt-in to the new formatting by calling some API such as:
AsyncStackTrace.Format(StackTrace)

This API could even be in a NuGet package you create, and if other developers are interested in similar

[2016-01-26 00:24] sivarv commented on #2854
This seems to be fixed with the current set of fixes that we have. Assigning to Lubo to verify and close.

[2016-01-26 00:43] wtgodbe commented on #2143
@wjk are you able to repro this locally yet?

[2016-01-26 00:46] wjk commented on #2143
Not yet. I'm sorry. Even though [dotnet/cli#948](https://github.com/dotnet/cli/issues/948) has been resolved, I still cannot build my app. I'll get back to you once I can.

[2016-01-26 00:52] swaroop-sridhar opened #2856 "GcStress: Linux: Memory Corruption in b10827.exe"
Failure in `JIT/Regression/VS-ia64-JIT/V1.2-M01/b10827/b10827/b10827.exe` with the following symptoms. VM issue?

This failure repros most of the time

[code]

[code]

[2016-01-26 01:03] briansull commented on #2823
Fixed with pull request #2857

[2016-01-26 01:10] swaroop-sridhar opened #2858 "GcStress: Linux: Failure in some CLR-x86-Jit tests"
Non deterministic crash in the following tests:

[code]
The failures repro most of the time.

[code]
[code]

This test once ran into a timeout because GCStress takes very long.
However, it ran into a crash in other runs, as follows.
So, it's likely a good idea to work with the other two failures first.

[code]

[2016-01-26 01:20] sivarv commented on #2812
Please verify whether any of these repro or fixed by existing fixes that we have.

[2016-01-26 01:39] shmao commented on #2715
If one wanted to pass exceptions across processes in .Net Core, using [ISerializationSurrogateProvider](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.Serialization.Primitives/src/System/Runtime/Serialization/ISerializationSurrogateProvider.cs) would be an option.

There was a discussion on how .Net Core would support serialization of types like exceptions. Here is the [link](http

[2016-01-26 02:59] swaroop-sridhar commented on #2770
With https://github.com/dotnet/llilc/commit/a060e398f6b0a3d90074d5ba83f81d286e4799c9, CoreDisTools no longer prints the stack trace on SIGSEGV.

However, after that rather unrelated change to coredistools library, I am unable to repro this failure anymore.

[code]

[2016-01-26 03:03] swaroop-sridhar commented on #2812
I added two more tests to the above list where I saw failures at least once, but was unable to actively repro the failures.

[2016-01-26 03:04] swaroop-sridhar commented on #2770
This test is added to #2812, the set of non-deterministic failures to watch out for.
Since the Disassembler issue is fixed, closing the bug.

[2016-01-26 03:04] #2770 closed

[2016-01-26 03:07] swaroop-sridhar commented on #2812
Some of these failures could be related to #2785.
I've seen the tests occasionally fail the `!pThread->HasPendingGCStressInstructionUpdate()` assertion, but otherwise crash.

There could be more than one problem showing up in random order.
But need to rerun the above tests once #2785 is fixed.

[2016-01-26 03:33] swaroop-sridhar commented on #2790
Fixed by https://github.com/dotnet/llilc/pull/1010

[2016-01-26 03:33] #2790 closed

[2016-01-26 07:11] aelij commented on #2813
Hi Noah,

What you say does make sense, but -
* Async is now so prevalent that I do think it has a merit to be included in the core framework
* Visual Studio is already doing something similar when presenting async call stacks
* The code size changes are very small
* It would be next to impossible to make this work for RealProxy exceptions (on the desktop framework) without framework support

Maki

[2016-01-26 07:14] aelij commented on #2813
Just to get a feeling of what motivated this, take a look at the following (real! just a few names mangled) stack trace, which is a Web API calling a Service Fabric micro services chain, all with async of course. It's very difficult to grok; there so much noise:

[code]

[2016-01-26 07:18] #2850 closed

[2016-01-26 07:26] aelij commented on #2813
Another thing to consider: have the compiler emit an attribute with the original method's signature, so we wouldn't have to parse it. For example:

[code]

[2016-01-26 09:16] eiriktsarpalis commented on #2715
@shmao `ISerializationSurrogateProvider` provides one pattern for defining serialization logics externally, but it does not on its own constitute a way rebuilding exceptions that were raised remotely. The problem that motivated the creation of this thread is the removal of [this constructor](https://msdn.microsoft.com/en-us/library/tz6bzkbf(v=vs.110).aspx) in particular. While you are right to say

[2016-01-26 09:50] rogeralsing commented on #2715
@shmao having a surrogate provider is simply not enough.
Serializers needs to be both able to read the relevant data from each exception type, and then know how to reconstruct the object again.
Thats fine for POCO objects that are used as data carriers only, but types that are not designed for serialization in the first place, are really hard to deal with.
That is a problem in the current stack fo

[2016-01-26 11:46] noahfalk commented on #2813
I agree on the prevalence. That part I'm not so clear on is how much are .Net users gaining if the API is in the core framework vs. in a NuGet package they could easily add to any project. To my mind the major benefit would be if they didn't have to change their code because StackTrace.ToString() just started giving a better result by default (that does nastly things for back-compat so I am not se

[2016-01-26 11:59] noahfalk commented on #2813
To be fair I should also mention on desktop framework, it may be much harder to get a feature added than on coreclr. Better stack traces for RealProxy is not something I've observed much feedback about in the community. If you think lots of developers that would rally behind the request UserVoice is a great way to let people vote up the feature.

[2016-01-26 12:57] aelij commented on #2813
Okay, you've somewhat convinced me :) I'll create a NuGet package for this.

BTW, my original thought was to also include a setting for the default stack trace format, so recompilation would not be necessary. That way, `StackTrace.ToString()` and `Exception.ToString()` could benefit from it. Incidentally, `StackTrace` already has a `TraceFormat` enum. We could've just added another option to it.

[2016-01-26 14:11] sejongoh commented on #2714
Just out of curiosity, I looked into the JIT dump. MOV eax, .. clears the upper 32 bits of rax (FYI, MOV ax, ... doesn't seem to modify the upper bits of eax).

If we want to optimize this, what is a right approach in RyuJit? 1) Is it good for code generation to check how eax is produced and omit generating "AND eax, 0xffffffff"
? 2) Is a post-codegen optimization better? 3) any other way?

I am j

[2016-01-26 17:43] RussKeldorph commented on #2683
Coreclr depends on the system CRT (msvcrt.dll), which doesn't behave the same as VS CRTs.  I imagine this could be addressed in a number of ways--everything from ignoring and accepting as is to a full audit and tightening of FP semantics.  Assuming this change was an unintentional consequence of targeting msvcrt.dll, my recommendation would be for src\classlibnative\float\floatnative.cpp to do its

[2016-01-26 18:17] jkotas commented on #2683
We consider these mirror changes in precision to be acceptable.

The math operations in CLR / CoreCLR have the same compatibility guarantees as the CRT. The compatibility guarantees of CRT are to be within the +/-1ulp margin of error.

There were similar minor changes in precision for each CLR / CoreCLR release that picked up a new major CRT version.

BTW: ou can actually see similar differences e

[2016-01-26 18:20] rainersigwald commented on #2698
Microsoft/msbuild#441 is fixed as of MSBuild packages version `0.1.0-preview-00014` and higher (use 15 since it has another bugfix).

[2016-01-26 19:02] mikedn commented on #2714
? 2) Is a post-codegen optimization better? 3) any other way?

IMO if you want to completely get rid of such casts then the optimization would probably need to be done before register allocation. Otherwise you may end up with an unnecessary register allocation. Here's a slightly modified example:

[code]
which generates
[code]
Two things can be observed:
1. There's no `and` instruction. Seems like

[2016-01-26 19:54] redknightlois commented on #2683
@jkotas The case of Math.Log(64,2) doesn't sounds like a +1/-1 ulp margin of error. And this code executes with the same accuracy from .Net 2.0 to .Net 4.6.1, all CoreCLR on x64 and x86 architectures. The only one I could repro is the dnvm package for CLR built for x86. This kind of errors add up on numerical code.

[2016-01-26 20:27] RichiCoder1 commented on #2813
Let me know if you need any help with that package. Very interested in this myself. If the package gets popular enough, too, it would provide incentive to bring it into core.

[2016-01-26 20:34] brthor commented on #2128
Took a look at this right now with @blackdwarf and @schellap

The APP_PATH as set by the host appears to be correct, yet AppContext.BaseDirectory is still resolving to the location of the symlink.

[2016-01-26 20:36] gkhanna79 commented on #2128
@schellap I take it that the host is passing the resolved symlink to the runtime, right?

[2016-01-26 20:40] mellinoe commented on #2266
There were a couple more repros that @stephentoub noted in the corefx bug:

http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_release_tst_prtest/144/console
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/osx_release_tst_prtest/145/console

Those failures happened on [dci-mac-bld-4](http://dotnet-ci.cloudapp.net/computer/dci-mac-bld-4) and [dci-mac-bld-6](http://dotnet-ci.cloudapp.net/co

[2016-01-26 20:41] mellinoe commented on #2266
@LLITCHEV Perhaps we can try to repro this by running the full set of tests, same as is done in CI? It may be that this issue only arises under the pressure of running all the tests in succession.

[2016-01-26 20:42] brthor commented on #2128
This makes it appear so:

https://github.com/dotnet/cli/blob/master/src/corehost/cli/args.cpp#L36
https://github.com/dotnet/cli/blob/master/src/corehost/cli/hostpolicy.cpp#L165

I'm not sure if AppContext.Basedirectory derived from this "exe_path" or from the APP_PATHS property?

[2016-01-26 20:49] schellap commented on #2128
Yes, the host is passing resolved symlink to the runtime for the following properties:

[code]

For now, we can workaround the bug by overriding `APP_CONTEXT_BASE_DIRECTORY` also in the host, but this needs to be **fixed properly** as well.

[2016-01-26 20:51] schellap commented on #2128
Just verified with @blackdwarf that overriding `APP_CONTEXT_BASE_DIRECTORY` with a fully resolved symlink in the host, the issue goes away.

[2016-01-26 20:53] gkhanna79 commented on #2128
If the host is doing the right thing, we should understand where it is going wrong before applying any workaround. @schellap is there a reason host does not pass APP_CONTEXT_BASE_DIRECTORY value to the runtime? I thought @AlexGhiondea mentioned that the property is used for AppDomain initialization.

[2016-01-26 21:49] #2217 closed

[2016-01-26 22:34] pallavit commented on #1863
Addressed via #5381

[2016-01-26 22:34] #1863 closed

[2016-01-26 22:51] sivarv commented on #2757
Investigation reveals two more gc-holes while passing and returning structs (containing gc-refs) in two registers.

Struct return from a call:
Codegen needs to inform emitter that one or both of the return registers contains gc-ref/by-ref and emitter in turn needs to emit gc-info accordingly.

Struct passing in two registers:
genCallInstruction() needs to specify the right emit type while passing

[2016-01-26 22:51] pallavit commented on #2086
All the reflection classes intentionally block extensibility for now and is something that will be revisited in future.

[2016-01-26 23:08] pallavit commented on #892
@ellismg Is there any follow-up left here from the Desktop perspective? Based on the information in the bug looks like we wanted to update the Desktop implementation as well but I believe that is still pending. Can you please confirm?

[2016-01-26 23:14] #2038 closed

[2016-01-26 23:14] #2035 closed

[2016-01-26 23:20] briansull commented on #2823
Closed

[2016-01-26 23:20] #2823 closed

[2016-01-26 23:26] mikem8361 opened #2870 "Fix OSx exception handling limitations"
There are two problems introduced in PR #2861 / #2821 with the faulting thread state not being correct when forwarding to the next exception port in the chain and that the task and host level ports are not being forwarded to anymore.

Fixing these problem is crucial to getting to debugging natively with lldb while the coreclr process is being managed debugged. Any third party pinvoke modules that

[2016-01-27 00:02] gkhanna79 opened #2872 "Noisy assert in checked builds"
CRT initialization can vary resulting in an assert firing in a noisy fashion. Affects debug/chk builds.

[2016-01-27 00:25] noahfalk commented on #2813
Its possible, I might be the one out of the loop : )

[2016-01-27 00:42] jashook opened #2874 "x86 Checked Build Break"
daccess.lib(nidump.obj) : error LNK2019: unresolved external symbol "class __VoidPtr __stdcall GetUnwindDataBlob(unsigned long,class __DPtr<struct _RUNTIME_FUNCTION>,unsigned long *)" (?GetUnwindDataBlob@@YG?AV__VoidPtr@@KV?$__DPtr@U_RU
NTIME_FUNCTION@@@@PAK@Z) referenced in function "public: void __thiscall NativeImageDumper::DumpReadyToRunMethod(unsigned long,class __DPtr<struct _RUNTIME_FUNCTIO

[2016-01-27 01:17] sivarv commented on #2757
Assigning t @LLITCHEV  as he is working on a fix for this.

[2016-01-27 01:18] sivarv commented on #2763
Taking over from Lubo for investigation.

[2016-01-27 01:26] RussKeldorph commented on #2683
FWIW, the hex encoded representation of the incorrect result is `0x4017FFFFFFFFFFFF`, which is *exactly* one ulp less than the correct answer of `0x4018000000000000` (6).  I defer to @jkotas on the tolerability CoreCLR has for such variances.

[2016-01-27 03:29] redknightlois commented on #2683
Sorry, I said CoreCLR x64 and x86. Should have read CLR first, CoreCLR in the latter.

[2016-01-27 03:37] wjk commented on #2143
@wtgodbe I got it to work! :smile: When I copy my program into this directory: `C:\Users\William\Documents\Visual Studio 2015\Projects\VSU\VisualStudioUninstaller.exe`, and I run it, the program exits immediately. Running it from the Command Prompt enables me to see the following error message:

[code]

Unfortunately, I don't know _which_ DLL it is trying to load, only that it loaded CoreCLR succe

[2016-01-27 04:15] adityamandaleeka commented on #2785
I'm not sure about the solution for this yet, but here's what I've found so far...

The assumption behind this assert is that when we call `StressHeap` and it returns TRUE, it means that a GC was performed, and as part of the runtime suspension involved in the GC, any pending GC stress instruction updates should have been committed. This assumption is being violated because it appears that `Garbag

[2016-01-27 04:17] adityamandaleeka commented on #2785
@sergiy-k

[2016-01-27 04:51] YEVHENO opened #2876 "RSACryptoServiceProvider throws System.DllNotFoundException: Unable to load DLL 'Advapi32.dll' on Linux"
Running ASP.NET 5 application on the coreclr on Linux fails when using the RSACryptoServiceProvider

DNX version: 1.0.0-rc1-final

[code]

[2016-01-27 05:08] hoyMS commented on #2858
This doesn't repro on my machine with latest build.

[2016-01-27 05:44] jashook opened #2877 "x86 legacy backend failures"
TODO:

Test failures need to be triaged a little more.

JIT\Methodical\divrem\rem\u8rem_cs_do\u8rem_cs_do.cmd
Interop\ICastable\Castable\Castable.cmd
JIT\Regression\VS-ia64-JIT\V2.0-Beta2\b410474\b410474\b410474.cmd
JIT\Directed\rvastatics\rvastatic2\rvastatic2.cmd
JIT\Regression\CLR-x86-JIT\V1-M09\b14585\b14585\b14585.cmd
JIT\Methodical\switch\switch1\switch1.cmd
JIT\Directed\coverage\importer\De

[2016-01-27 09:39] Dmitry-Me commented on #2796
@yizhang82 I submitted https://github.com/dotnet/coreclr/issues/2839

[2016-01-27 11:28] #2798 closed

[2016-01-27 16:44] tarekgh commented on #2128
Just to clarify, APP_CONTEXT_BASE_DIRECTORY is meant to be used to override the default app domain base directory and I believe it should be used only when it is needed like in ASP.NET scenario where they do that. the app domain base directory should get initialized by the host regardless if the app will override it using APP_CONTEXT_BASE_DIRECTORY or not.

[2016-01-27 16:46] joperezr commented on #2698
The packages have been published and the code change was made with dotnet/buildtools#396
I will generate a new build tools package version with the change and report back the number.

[2016-01-27 16:53] gkhanna79 opened #2881 "Fix race in Default LoadContext initialization"
When multiple threads attempt to fetch the Default property off AssemblyLoadContext, there can be a race where the native TPA Binder mapping gets mapped to a different instance than the one that mapped to it first.

As a result, Resolving event notifications could go to incorrect Default LoadContext instances.

We should only ever have a single Default ALC instance and TPA binder should only be ma

[2016-01-27 17:23] joperezr commented on #2698
Done, package version 00157 contains .Net Core MSBuild. @JohnChen0 if you want to see an example of how to use it, please take a look at dotnet/corefx#5711. The most important files you want to keep an eye on, are init-tools.sh and init-tools.cmd in the corefx repo, and how we call them from the build.cmd and build.sh. If you have any questions please let me know. I'm closing this issue since the

[2016-01-27 17:23] #2698 closed

[2016-01-27 18:21] wtgodbe commented on #2143
Alright, my suspicion is that it's trying to load "Visual.dll" because the first space in the path to your executable comes after the word "Visual" - did you draw the same conclusion? To confirm, can you move it to a different directory with a space after some other word?

[2016-01-27 18:35] gkhanna79 commented on #2876
@joshfree can you please route this?

[2016-01-27 18:36] gkhanna79 commented on #2874
@noahfalk Can you please route this?

[2016-01-27 20:20] joshfree commented on #2876
I've moved this bug to the corefx repo @ https://github.com/dotnet/corefx/issues/5737

[2016-01-27 20:20] #2876 closed

[2016-01-27 20:24] wjk commented on #2143
I have tried running the program inside the directory `C:\Users\William\Documents\GitHub\My Uninstaller App`, but the only difference is that it now can't find `My.dll`.

[2016-01-27 20:27] wtgodbe commented on #2143
OK that confirms my suspicion - just to be sure, when you run from the command line, what exactly are you entering into the command prompt? Are you surrounding it with quotes? (i.e., you should be running `"C:\Users\William\Documents\GitHub\My Uninstaller App"`)

[2016-01-27 21:21] sejongoh opened #2886 "[JitStress=1,2] System.Numerics.Vectors.Tests fails with result value mismatch from System.Numerics.Tests.GenericVectorTests.SquareRootUInt16 [FAIL]"
**Configuration**

Linux
Coreclr checked (commit 9593cbbbe4e434b30b9f12ba4c51ad2e57e4247f)
Corefx release (commit 7cac5729f1ac5b65a57f741077e798537f1c7f07)

**Failure**

Pass without any stress option
Fail with JitStress =1 and 2

[code]

[2016-01-27 23:31] wjk commented on #2143
What I usually do is `cd` into the directory using a Command Prompt and then run the program from inside this directory; however, typing the full, absolute path to the .EXE file, in quotes, makes no difference.

[2016-01-27 23:54] sivarv commented on #2761
This is a duplicate of issue #2763

[2016-01-27 23:54] #2761 closed

[2016-01-28 02:34] yizhang82 commented on #2796
Thanks, @Dmitry-Me
@gkhanna79 This is metadata API. Can you get someone in your team to take a look at the PR?

[2016-01-28 02:34] tarekgh opened #2892 "DateTime formatting doesn't handle quoute parsign correctly"
What is happening is on Windows 8 machine has the long date format for the culture mt-MT as @"dddd, d' ta\' 'MMMM yyyy" the formatting code in DateTimeFormat.FormatCustomized is calling ParseQuoteString to parse what is included between the single quotations (the highlighted yellow. But we used in same time to remove the “\” from the string.  This is a regression from the optimization work and we

[2016-01-28 05:47] gkhanna79 commented on #2796
I will take a look at the PR.

[2016-01-28 05:48] #2858 closed

[2016-01-28 05:56] #2763 closed

[2016-01-28 06:49] JohnChen0 commented on #2153
All related crash dumps I've seen were from Windows 7. I have been able to repro this bug easily on Win7, but haven't been able to repro it at all on Win10. Has anyone been able to repro this on Win8 or above?

I have found a fix that had made csc work reliably on all versions of Windows for me. The fix is to turn on the DLL bit in the PE header of csc.ni.exe. Currently, csc.exe, csc.dll, and csc.

[2016-01-28 09:23] Dmitry-Me opened #2895 "Assembly::CLRPrivResourceAssembly::QueryInterface() fails to retrieve ICLRPrivResource"
`Assembly::CLRPrivResourceAssembly::QueryInterface()` is coded such that it returns `E_NOINTERFACE` if `ICLRPrivResource` is requested which is one of the interfaces implemented by the class. The class has this description

    // Nested class used to implement ICLRPriv binder related interfaces

so I'd guess it must implement both and must proper retrieve both interfaces. Otherwise either one of

[2016-01-28 14:37] NickCraver commented on #2144
On a similar vein, has there been any thought to a replacement for `AppDomain.UnhandledException` at the process level now that `AppDomain` is gone? When we want to do global error handling it's easy enough with logging and middleware wrappers in ASPNet Core, but I'm coming up short on options for non-ASPNet applications.

[2016-01-28 16:11] GSPP commented on #2184
I just had this scenario:

![jnjkkjn](https://cloud.githubusercontent.com/assets/12032350/12650022/7a32e58e-c5e1-11e5-9f4e-58b2ef23dca2.png)

`SpoolForAll` has this (decompiled) code:

[code]

Isn't it strange that the call to `RunSynchronously` is waiting on an event instead of running this task synchronously?! The task clearly is unstarted.

I'm posting this finding because it fits my point from

[2016-01-28 17:44] Rast1234 opened #2896 "DateTime.Parse does not preserve UTC for ISO8601 "Z""
If I have a `DateTime.UtcNow.ToString("o")` with **"Z"** in the end, and then use `DateTime.Parse(str)`, I get a DateTime with `DateTimeKind.Local`. Why? It is meant to be UTC date by ISO8601, but it is converted to local by default here: https://github.com/dotnet/coreclr/blob/43b39a73cbf832ec13ec29ed356cb75834e7a8d7/src/mscorlib/src/System/Globalization/DateTimeParse.cs#L2608

I know the way to p

[2016-01-28 17:46] #2881 closed

[2016-01-28 17:58] wtgodbe commented on #2143
Interesting. I'll see if I can get a repro on my end.

[2016-01-28 18:05] BillHiebert opened #2897 "adding a trailing slash to the --temp-output path causes an illegal character in path error"
C:\temp\test>dotnet compile --temp-output "c:\temp\test\obj\"
Illegal characters in path.
Parameter name: path

Removing the trailing slash fixes it, or removing the quotes fixes it. I suspect all quoted paths will have this issue.

Note also that these output strings are not formatted in way that VS recognizes them as errors or warning. This means they will appear in the output window (and the bu

[2016-01-28 18:10] #2892 closed

[2016-01-28 19:42] stephentoub commented on #2184
How do you know the task is unstarted?  Could it not have already finished the work assigned to its partition and it's now blocked waiting on the other tasks to finish? (ForAll, after all, is a synchronous call, and can't return until all of the work is done.)  There is some subtlety to the mechanisms PLINQ chooses for partitioning, and IIRC, ParallelEnumerable.Range does a strict partitioning tha

[2016-01-28 19:47] tarekgh commented on #2896
This is the original design which intentionally always return the datetime in local TZ if the parsed string contains TZ specifier. you may look at the following doc for more information:

https://msdn.microsoft.com/en-us/library/system.datetime.parse(v=vs.110).aspx

and yes if you want to get it in UTC, you'll need to use RoundtripKind. the documentation says that too.

sorry, we'll not be able to

[2016-01-28 20:07] tarekgh commented on #2896
I am closing the issue but feel free to reply back or re-open if there is any more follow up needed. Thanks for bringing the issue.

[2016-01-28 20:07] #2896 closed

[2016-01-28 20:24] GSPP commented on #2184
The task is created using the `Task` constructor and nothing after that seems to start that task, no? Am I just not seeing the place where it's started?

[2016-01-28 20:27] stephentoub commented on #2184
RunSynchronously starts it, trying to run it on current thread.

[2016-01-28 20:28] GSPP commented on #2184
Right, but why did that not work? The task did not run inline. I found this interesting because trying to eliminate this kind of blocking seems important to eliminating deadlocks and enabling custom task schedulers.

Indeed, with `Enumerable.Range` this did not happen, but it should not happen with `ParallelEnumerable`, either, I think.

[2016-01-28 21:20] stephentoub commented on #2184
How do you know it didn't work?  That's what I was trying to ask.  Can you help me to understand why you believe it's blocking waiting for that task to even start running?  I'm not sitting in front of the debugger, but I think it's much more likely that it did run, that it finished all of its work, and now it's waiting for all of its child tasks to complete.

[2016-01-28 22:08] GSPP commented on #2184
Ahhh, waiting for child tasks! That explains that.

But back to the main issue: How to enable custom task schedulers with PLINQ?

And you said:

Which is correct! But `Parallel` does not have that issue. So I would suggest using a `Parallel`-like model for these fork-join points in PLINQ queries.

[2016-01-28 22:20] steveharter commented on #2095
Reopening temporarily to update the status and code samples

[2016-01-28 22:29] #2095 closed

[2016-01-28 22:34] steveharter commented on #2095
I have verified that both scenarios 1 (direct load of assembly) and 2 (indirect load of assembly by coreclr through an assembly-to-assembly reference) now work with the latest code using AssemblyLoadContext. There was no need to use the AssemblyResolve event in my scenarios. This means that the dnx\project work is unblocked and can now add appropriate constructs on top of this functionality if des

[2016-01-28 22:51] #2848 closed

[2016-01-28 23:01] stephentoub commented on #2184
```Parallel``` doesn't have that issue for the same reason that most of the PLINQ operators don't have this issue: no coordination other than the initial partitioning and the ending joining is required between the operations being performed.  Things become more complicated when part way through the operation you need information from all of the other threads participating in that operation, which

[2016-01-28 23:34] swaroop-sridhar commented on #2856
These failures do not repro after these changes: https://github.com/dotnet/coreclr/commit/98740fa2095ea75720acd0ad6f65b320e3a07379 and https://github.com/dotnet/coreclr/commit/02d8c0f28c8008aef40775ed55e123e8280094ef

[2016-01-28 23:34] #2856 closed

[2016-01-29 00:10] sivarv opened #2907 "Unix: Register requirements for GT_CALL/GT_RETURN that return structs in two registers is not specified"
Lowerxarch.cpp/codegenxarch.cpp - JIt currently is not modeling register requirements for gt_calls/gt_return that return structs in two registers.  We might also need LSRA side plumbing for this.

[2016-01-29 00:13] sivarv opened #2908 "Unix: Unecessary struct copy while passing by value on stack"
Say caller foo() is passing a struct 's' by value on stack to bar(), at high-level code generated is

// Make a copy of s by assigning to a local t on foo()'s stack frame
t = s
copy t on to stack
bar()

t = s copy is unnecessary as 's' could be directly copied to stack.

[2016-01-29 00:47] krytarowski opened #2909 "INJECT_ACTIVATION_SIGNAL alias SIGRTMIN not available"
NetBSD is one of the systems without `SIGRTMIN` exported for user-land (the same applies for `SIGRTMAX`).

What would be the correct approach to define `INJECT_ACTIVATION_SIGNAL` in `src/pal/src/exception/signal.cpp` for such systems?

[2016-01-29 01:01] krytarowski opened #2910 "libunwind not available in NetBSD"
Currently there is no port of `libunwind` to NetBSD. Is it possible to add a stub for such platforms, just to push build forward with missing partial functionality?

[2016-01-29 01:25] sivarv commented on #2812
The below test is fixed with PR #2890
JIT/Methodical/explicit/rotate/_relrotarg_valref/_relrotarg_valref.sh

[2016-01-29 01:38] sivarv commented on #2812
The below tests are passing with the fixes that @LLITCHEV is currently trying to PR
JIT/Methodical/VT/callconv/_dbgjumper/_dbgjumper
JIT/Methodical/VT/callconv/_dbgjumper/_dbgjumper4

[2016-01-29 01:38] sivarv commented on #2812
The below test is fixed with PR #2890JIT/Methodical/explicit/rotate/_dbgrotarg_valref/_dbgrotarg_valref.sh

[2016-01-29 02:00] sivarv commented on #2812
mkrefany tests that should pass with the PR @LLITCHEV  is working on.
JIT/Methodical/refany/_relgcreport/_relgcreport
JIT/Methodical/refany/_relgcreport/_relgcreport

[2016-01-29 02:13] #2583 closed

[2016-01-29 03:19] sivarv commented on #2847
mkrefany/refanyval test case.  Fix that correctly classifies TypedReference should fix this.

[2016-01-29 03:35] sivarv commented on #2854
This test doesn't use mkrefany/refany val opcodes. Gc-hole Fixes in genPutStructArg() and genConsumePutStructArgStk() are fixing this test case.

[2016-01-29 03:48] sivarv commented on #2769
This is a case of methods returning a struct with two gc-ref fields.  This must be failing for the same reason as issue #2757

[2016-01-29 03:50] sivarv commented on #2768
Mkrefany test.  Fix to correctly handle TypedReference will fix this.

[2016-01-29 03:50] sivarv commented on #2767
Mkrefany tests. Fix to correctly handle TypedReference will fix this.

[2016-01-29 03:51] sivarv commented on #2765
Mkrefany test. Fix to correctly handle TypedReference will fix this.

[2016-01-29 03:51] sivarv commented on #2764
mkrefany test case. Fix to correctly handle TypedReference will fix this.

[2016-01-29 04:21] sivarv commented on #2765
This is a duplicate of issue #2764

[2016-01-29 04:21] #2765 closed

[2016-01-29 04:21] sivarv commented on #2767
This is a duplicate of #2764

[2016-01-29 04:21] #2767 closed

[2016-01-29 04:22] sivarv commented on #2768
This is a duplicate of #2764

[2016-01-29 04:22] #2768 closed

[2016-01-29 04:22] sivarv commented on #2847
This is a duplicate of #2764

[2016-01-29 04:22] #2847 closed

[2016-01-29 06:18] JohnChen0 commented on #2153
Fixed in CoreCLR with #2901. The ReadyToRun image for csc.exe still needs to be re-generated before this AV problem will go away.

[2016-01-29 06:18] #2153 closed

[2016-01-29 06:20] jasonwilliams200OK commented on #2910
https://github.com/dotnet/coreclr/issues/810 is already tracking this issue.

BTW, CoreFX native shims are decoupled from CoreCLR and not dependent on libunwind etc. I once started porting the CoreFX native and sent some PRs. There were couple of things left at the time. But if someone try again, chances are CoreFX native shim will land on NestBSD sooner than CoreCLR (although CoreFX native shim w

[2016-01-29 06:26] agocke commented on #2153
@JohnChen0 Could this repro without a native image? If so, we may want to modify how we emit assemblies to always set the DLL bit.

[2016-01-29 08:11] krytarowski commented on #810
I'm porting CoreCLR and other repositories in pkgsrc-wip.

[code]

It will handle the dependencies.

Currently there is no libunwind.

We don't need `libc++` (at least to my knowledge), wip/clang-git is capable to use `libstdc++` on NetBSD.

[2016-01-29 08:27] krytarowski commented on #2910
Interesting, I will have a look at CoreFX.

[2016-01-29 14:41] jkotas commented on #2153
@agocke This problem is specific to native images.

[2016-01-29 14:55] brunolauze opened #2915 "coreclr_initialize failed - status: 0x8007001f"
FreeBSD gdb output

ERROR [VIRTUAL] at ReserveVirtualMemory.1031: We did not get the region we asked for!

(gdb) run
Starting program: /usr/local/lib/coreclr/corerun HelloWorld.exe freebsd
[New Thread 801a15000 (LWP 100783)]
{0x801a15000-0x8028625e0} TRACE [SHMEM  ] at SHMInitialize.406: Now initializing global shared memory system
{0x801a15000-0x8028625e0} TRACE [SHMEM  ] at SHMInitialize.416: Ma

[2016-01-29 17:34] brunolauze commented on #2915
I confirm it is only happening with FreeBSD 11

[2016-01-29 18:08] wtgodbe commented on #2143
Would it be possible for you to provide a stack trace? I still can't get a repro - the same scenario works fine on my system

[2016-01-29 18:40] wjk commented on #2143
@wtgodbe How should I do that? All I see when I try to run the program is the exception message.

[2016-01-29 18:51] sivarv commented on #2812
I could not repro the failure of any of the following tests

JIT/Methodical/explicit/basic/_il_relrefarg_i1/_il_relrefarg_i1
JIT/Generics/Coverage/chaos65204782cs/chaos65204782cs
JIT/jit64/opt/cse/VolatileTest_op_shr/VolatileTest_op_shr.sh
JIT/Methodical/explicit/basic/_il_relrefloc_r8/_il_relrefloc_r8.sh
JIT/Methodical/explicit/basic/_il_relrefloc_u2/_il_relrefloc_u2
Loader/regressions/polyrec/Po

[2016-01-29 18:51] #2812 closed

[2016-01-29 20:17] wtgodbe commented on #2143
Actually, it might be easier if you share your app/environment with me - do you think you could host the directory you're running your app from on github, and I can try to get a repro that way?

[2016-01-29 20:18] wtgodbe commented on #2143
Also, could you give me the exact steps you're using to reproduce the error (command prompts and all)?

[2016-01-29 21:02] mikem8361 commented on #2874
@jashook can you send me exactly what build options and version of the coreclr sources you are building?  I just built the latest with "build.cmd x86 release" on windows and no errors.

[2016-01-29 21:05] brunolauze commented on #2915
working on FreeBSD 11.0-CURRENT #0 r291727M - considering this issue a mistake and closed

[2016-01-29 21:05] #2915 closed

[2016-01-29 21:06] erozenfeld commented on #2874
@mikem8361 @jashook The error is with build.cmd x86 checked and I already submitted a PR with a fix: #2916

[2016-01-29 21:08] mikem8361 commented on #2874
Great. Thanks.

[2016-01-29 21:17] swaroop-sridhar opened #2920 "JitStress: Assert fault in SP1a2"
[code]

[2016-01-29 21:27] swaroop-sridhar opened #2921 "GCStress: JitStress: Crash in ldloca_s_r4"
[code]

[2016-01-29 21:48] jashook commented on #2874
Correct that is the same link error. Closing

[2016-01-29 21:48] #2874 closed

[2016-01-29 22:32] briansull opened #2925 "ARM64: Assertion failed 'NYI: "Varargs method"'"
Remove the assert

[2016-01-29 22:43] giancarloa opened #2926 "where is Assembly.GetTypes in dnxcore50?"
hello... I am trying to port to dnxcore50... however I am having a hard time trying to figure out how to convert Assembly.GetTypes... this method as everyone knows gives me all the types in the assembly... how do I do that in dnxcore50???? I have not been able to find a concrete answer in this... thank you

[2016-01-29 23:12] sivarv opened #2927 "Unix/OSX: Add codegen support for Enter/Leave/TailCall callbacks"
Existing Enter/Leave (ELT) Callback functionality works for Amd64 Windows.  This needs to be revisited to make necessary changes to make it work for Unix Amd64.

Issue #2520 enables profiling on Unix/OSX without ELT callbacks.  This issue is for tracking JIT side of the work.

[2016-01-30 00:02] wjk commented on #2143
I think I found my problem. Because I am writing a GUI app, I must use the `WinMain` entry point. `WinMain` (in my case `_tWinMain`) passes the command line as one string. CoreCLR expects a standard `argc`/`argv` pair, so I used `CommandLineToArgvW()` to split the command line, but inspection using the debugger reveals that `CommandLineToArgvW` is splitting the full path to the EXE on any spaces,

[2016-01-30 00:16] wtgodbe commented on #2143
Ah, I see! That makes sense - are you using the parameter lpCmdLine from WinMain to get your command line arguments, or are you getting the command line from GetCommandLine? (https://msdn.microsoft.com/en-us/library/windows/desktop/ms683156(v=vs.85).aspx). I suspect if you use quotes around the path name, and use GetCommandLine, that your problem will be solved.

[2016-01-30 00:25] wjk commented on #2143
That did it, all right! My program now runs correctly even if there is a space in the full path to its main EXE. Thanks so much!

[2016-01-30 00:25] #2143 closed

[2016-01-30 00:27] wtgodbe commented on #2143
Great! Happy to help.

[2016-01-30 00:58] briansull commented on #2849
Fixed with PR  #2923

[2016-01-30 00:58] #2849 closed

[2016-01-30 07:00] weshaggard commented on #2926
Assembly.GetTypes will be added back as part of https://github.com/dotnet/corefx/issues/5381.

[2016-01-30 07:00] #2926 closed

[2016-01-30 07:17] jkotas commented on #2683
This is by design as I have described above.

[2016-01-30 07:17] #2683 closed

[2016-01-30 14:08] redknightlois commented on #2683
It eludes me how something that happens on a single CoreCLR build configuration (x86) can be considered by design. And more if the correct numerical behavior is used from CLR 2.0 up to CLR 4.6.1 and all the other configurations of CoreCLR. But I am noone to judge about it.

I am not saying it is a high-priority issue, but for numerical software the difference is high, because the guarantee in the

[2016-01-30 17:14] bnavarma opened #2932 "dnu and dnx not running in ubuntu when just following the linux instructions. They are running with mono."

[2016-01-30 17:25] bnavarma commented on #2932
Sorry there already seems to an issue in aspnet. The suggestion here solves it. https://github.com/aspnet/Home/issues/1051

[2016-01-30 17:25] #2932 closed

[2016-01-31 01:21] CppStars commented on #1977
Code quality issue aside about burning a register (real impact of which I've rarely seen in .NET code I write which is in a high-performance situation) there is something to be said about the difference this introduces in code-generation for Windows and non-Windows.

I write tools that work off EBP walking and it's really annoying that only on Windows x64 do I not have access to my tools, even for

[2016-01-31 03:05] jkotas commented on #2910
libunwind is pretty essential dependency. It should not be hard to stub it out, but not much will run without it.

[2016-01-31 03:14] jkotas commented on #2909
@janvorli @adityamandaleeka do you have any recomendation?

[2016-01-31 08:25] krytarowski commented on #2910
OK, so I will try porting of HP libunwind.

I read in several threads that people keep having ideas to stop using the HP flavor https://github.com/dotnet/coreclr/issues/872 https://github.com/dotnet/coreclr/issues/862

[2016-01-31 08:30] krytarowski opened #2937 "wchar_t redefinition broken on NetBSD"
Currently the `wchar_t` redefinition on NetBSD is broken https://github.com/dotnet/coreclr/blob/master/src/pal/inc/pal_char16.h#L32

[code]

My local patch for it is as follows:

[code]

And it passes build further.

I was warned by a NetBSD developer that `wchar_t` is owned by system and it will break.

[2016-01-31 10:58] krytarowski commented on #2937
While there `char16_t` is part of C11.

I don't know whether it's on purpose, but we define `wchar_t` twice in this file. Please error log.

[2016-01-31 15:21] omariom opened #2942 "[Question] Is offset to first array element the sam for all Sz arrays?"
Slices project in CoreFX Lab uses  [a helper to get offset to the first element of an SzArray](https://github.com/dotnet/corefxlab/blob/master/src/System.Slices/src/System/SpanHelpers.cs#L26).

Is the offset the same for all sz arrays of primitives, values types and references?

[2016-01-31 15:30] jasonwilliams200OK commented on #2937
`wchar_t` on OSX is 32-bit and on Windows and other Unices it is 16-bit.
`char16_t` and `char32_t` are more transparent, fixed sized types on each platforms.
Since `wchar_t` is explicitly defined as `unsigned short`, I think it can be defined as `char16_t` (same width) as all supported compilers to build CoreCLR (including VS2013 / 2015) identify this C++11 type. If that doesn't break any CI scena

[2016-01-31 15:39] jkotas commented on #2942
I happens to be the case for CoreCLR runtime today, but it is internal implementation detail that may not hold for other runtimes, e.g. it was not the case in earlier versions of the full .NET Framework.

[2016-01-31 15:45] jkotas commented on #2937
`#include` order is carefully crafted in the PAL to avoid this type of problems. I suspect that this problem got introduced by your proposed fix for https://github.com/dotnet/coreclr/pull/2940

[2016-01-31 16:24] omariom commented on #2942
Thanks, that's interesting to know.

[2016-01-31 16:24] #2942 closed

[2016-01-31 17:00] gkhanna79 commented on #2872
Fixed by https://github.com/dotnet/coreclr/pull/2871

[2016-01-31 17:00] #2872 closed

[2016-01-31 18:21] krytarowski commented on #2937
No, these issues are unrelated. I was fixing `cstdargs` later.

[2016-01-31 20:57] jasonwilliams200OK commented on #2909
IMO, this will do the job:

[code]

[2016-01-31 21:27] krytarowski commented on #2909
NetBSD uses standard signals for 1-31.

Additional 32:

[code]

Kernel-only:

[code]

Reference:
https://github.com/IIJ-NetBSD/netbsd-src/blob/master/sys/sys/signal.h#L52

It would be nice to reuse on of the 1-31.

[2016-01-31 21:49] krytarowski commented on #2909
@jsonn have you got tips on it?

[2016-01-31 22:11] MaceWindu opened #2944 "Decimal.GetHashCode shouldn't generate different values for numbers with different scale"
See https://connect.microsoft.com/VisualStudio/feedback/details/776203/
http://stackoverflow.com/questions/8533449/

Marking connect issue as won't fix without any comment is not nice. This issue makes decimal completely useless as a key in collections, that rely on GetHashCode result, like Dictionary or HashSet.

[2016-01-31 23:44] krytarowski commented on #810
Right now `pkgsrc-wip/coreclr-git` builds 7% of CoreCLR.

[2016-02-01 00:43] adityamandaleeka commented on #2909
This is possible, but it will need to be tested thoroughly since real-time and standard signals have different characteristics (for example, multiple instances of the same real-time signal can be queued, and they are delivered in a deterministic order). I'm not sure it would be a great idea to have `INJECT_ACTIVATION_SIGNAL` be real-time on some platforms and not on others.

I'm also not a fan of

[2016-02-01 01:25] krytarowski commented on #2909
I've checked the code and it looks unimplemented. These defines for kernel-only world aren't really used anywhere.

[2016-02-01 01:26] krytarowski commented on #2909
How to fallback to !real-time signals?

[2016-02-01 01:27] krytarowski commented on #2909
Alternatively -- is it hard dependency and should it be implemented in the kernel for any progress?

[2016-02-01 01:37] krytarowski opened #2947 "NetBSD doesn't implement pthread_getcpuclockid(3)"
This function is part of the optional part of POSIX:

-- http://pubs.opengroup.org/onlinepubs/9699919799/functions/clock_getres.htm

This function is used in `src/pal/src/thread/thread.cpp`

I'm thinking whether there is need to implement it in NetBSD.

[2016-02-01 01:41] krytarowski commented on #810
Could we please mark all NetBSD tickets with a label like 'NetBSD'.

[2016-02-01 01:44] krytarowski commented on #2947
It's available in:
- FreeBSD,
- AIX,
- QNX,
- Linux.

[2016-02-01 01:45] jkotas commented on #2909
This is needed for `FEATURE_HIJACKING`. `FEATURE_HIJACKING` is not crucial - pretty much any reasonable program will work without it. It is performance optimization for the most part (allows GC to suspend thread faster).

You can ignore this problem for now (disable `FEATURE_HIJACKING` in the top level CMakefile`), and return back to it later once the system is functional and you can test what wor

[2016-02-01 02:27] jkotas commented on #2947
This is used for undocumented resource monitoring feature (`FEATURE_APPDOMAIN_RESOURCE_MONITORING`). AFAIK, nobody is using this feature on CoreCLR today. Everything should be fine if you do not implement this API for NetBSD - just return zeros from the API.

[2016-02-01 02:35] krytarowski commented on #2947
Thank you @jkotas for your feedback.

[2016-02-01 02:35] krytarowski commented on #2909
Thank you for your feedback @jkotas . For now I will disable it and return to it once base functionality will be done.

[2016-02-01 02:50] adityamandaleeka commented on #2909
:+1:

[2016-02-01 03:01] krytarowski commented on #810
I have built 23% of sources with `pkgsrc-wip/coreclr-git` with temporary kludges.

From now I cannot build more without `libunwind`.

[2016-02-01 11:12] agnauck opened #2952 "Streams, BeginRead/BeginWrite members"
it looks like the async functions in Streams are based on BeginWrite/BeginRead internal.
It would great to have the "old" async BeginRead/Write functions available in the API.
There is still lots of code out which relies on them and would be much easier to get ported to the coreclr. Also sometimes it just performs better.

[2016-02-01 20:44] janvorli commented on #2909
@krytarowski A possibility would also be to implement the activation injection in a way similar to how it works on OSX, using thread suspension. I can see that the

[2016-02-01 20:57] livarcocc opened #2957 "Command line arguments that terminate with a / are causing the terminating double quote to be escaped"
When we have an argument in the command line of the format "\some stuff\", what is being passed to the main function in string[] args is some \stuff". This is wrong, the opening and closing double braces should be treated as string delimiters themselves and should not be escaped.

This is related to https://github.com/dotnet/cli/issues/1073.

[2016-02-01 21:35] CarolEidt opened #2959 "Consider passing and returning Vector<T> in registers"
Currently, even under the Unix amd64 ABI, Vector<T> is always passed on the stack. However, since it is not (and can't easily become) an interop type, it would be reasonable to pass and return these structs in registers (since they are, by definition, the size of the SIMD registers supported on the target, if present). This would require work in both the vm and jit. Note that for the unix ABI, the

[2016-02-01 21:55] benaadams commented on #2959
:+1: would also go some way to addressing https://github.com/dotnet/corefx/issues/157#issuecomment-148875718 ?

[2016-02-01 22:50] briansull commented on #2925
Resolved with PR #2960

[2016-02-01 22:50] #2925 closed

[2016-02-01 23:03] briansull opened #2963 "ARM64: Implement ZapLazyHelperThunk::Save"
coregen for Arm64 fails with
    PORTABILITY_ASSERT("ZapLazyHelperThunk::Save");

 File: d:\projectk\src\ndp\clr\src\zap\zapcode.cpp Line: 1986
    Image: C:\Arm64\arm64coresyschk\ProjectK\Runtime\coregen.exe

[2016-02-01 23:06] briansull opened #2964 "ARM64: Implement ZapUnwindData"
coregen.exe on ARM64 fails with

    PORTABILITY_ASSERT("ZapUnwindData::GetAlignment");
    PORTABILITY_ASSERT("ZapUnwindData::GetSize");
    PORTABILITY_ASSERT("ZapUnwindData::Save");

  File: d:\projectk\src\ndp\clr\src\zap\zapcode.cpp Line: 1463
    Image: C:\Arm64\arm64coresyschk\ProjectK\Runtime\coregen.exe

[2016-02-01 23:07] briansull commented on #2964
To get to the end of the coregen and avoid exiting after the first JIT assert you need to

set COMPLUS_ContinueOnAssert=1

[2016-02-01 23:07] briansull commented on #2963
To get to the end of the coregen and avoid exiting after the first JIT assert you need to

set COMPLUS_ContinueOnAssert=1

[2016-02-01 23:16] swaroop-sridhar opened #2965 "GCStress: JitStress: Crash in _dbggcreport"
The failure repros most of the time under the settings:

[code]

[code]

[2016-02-01 23:23] LLITCHEV opened #2966 "Investigate if it is needed to model return registers after a call that is consumed by a return immediately."
In codegenxarch.cpp there in genStructReturn an assumption is made that the GT_CALL node has already stored the return values of multi-register return struct in the proper registers - RAX and RDX. A following GT_RETURN is assumed not to need to reload this registers in RAX and RDX.
Confirm that this assumption is right for the LSRA stress modes. Add necessary noway_asserts to make sure we detect i

[2016-02-01 23:29] CarolEidt commented on #2966
This is not an issue to investigate. And it is not optional to ensure that registers are accurately modeled. It is a requirement.

[2016-02-01 23:31] LLITCHEV commented on #2966
Thanks for the clarification.

[2016-02-01 23:37] swaroop-sridhar opened #2967 "GCStress: JitStress: StructsInRegs Test Failed"
Test3 failed under the following settings:

[code]

[code]

[2016-02-01 23:43] krytarowski commented on #2937
I will leave this file for ending. I want to build all the sources with a patch for `wchar_t` first.

[2016-02-01 23:56] krytarowski commented on #2909
@janvorli I will have a look at it. Thank you for tip. This will be left for finalization.

[2016-02-01 23:58] giancarloa commented on #2926
thanks @weshaggard ... but is there an alternative in the meantime??? and do you know if it's going to be added back as part of the final rtm 1.0 release????

[2016-02-02 00:07] weshaggard commented on #2926
Yes our goal is to get it added for RTM. In the mean time you can use Assembly.DefinedTypes property.

[2016-02-02 00:19] #2700 closed

[2016-02-02 00:23] swaroop-sridhar commented on #2769
This failure in _speed_relcall with JitStress seems to be the same failure.
@LLITCHEV: Can you please confirm? Thanks.

[code]

[2016-02-02 00:27] krytarowski opened #2968 "implicit conversion from 'int' to 'short' changes value from 65535 to -1"
How would you fix it:

[code]

[code]

[code]

[2016-02-02 00:28] swaroop-sridhar opened #2969 "GCStress: JitStress: Assert Failure in struct_opcodes test"
[code]

[2016-02-02 00:28] krytarowski commented on #2968
[code]

[2016-02-02 00:28] krytarowski commented on #2968
[code]

[2016-02-02 00:30] krytarowski commented on #2968
[code]

[2016-02-02 00:30] krytarowski commented on #2968
Casting it to `(short int)`?

[2016-02-02 00:31] swaroop-sridhar commented on #2785
This failure is showing up in several test runs, sometimes non-deterministically.
 For example:

[code]

[2016-02-02 00:38] krytarowski commented on #2968
[code]

[2016-02-02 00:39] krytarowski commented on #2968
[code]

[2016-02-02 00:41] krytarowski commented on #2968
[code]

[2016-02-02 00:42] krytarowski commented on #2968
And it seems that many more..

[2016-02-02 00:53] swaroop-sridhar opened #2970 "Assert failure in SIMD tests"
Here's a link to the failing test binaries: \\scratch2\scratch\swaroops\Test\SIMD

[code]

[code]

[2016-02-02 01:01] krytarowski commented on #2968
We can also try to use Clang extensions to mute warnings. Alternatively pass these values indirectly through a variable.

[2016-02-02 02:04] cmckinsey opened #2975 "Update BenchI and BenchF benchmarks to validate results"
These benchmarks (tests/src/JIT/performance/codequality) don't all consistently check for correctness of results. They've been useful in the past without it but would be a nice additional validation measure to do this.

[2016-02-02 03:31] sivarv commented on #2965
Mkreany test case. @LLITCHEV - could be fixed by your PR changes.  Please verify and close.

[2016-02-02 07:07] mogarick opened #2980 "System.IO.FileNotFoundException: Could not load file or assembly 'System.Net.Security ...' ocurring in windows rc1-final and osx rc1-update1"

[2016-02-02 09:19] kouvel commented on #2411
@LLITCHEV, I have a fix for the assert in the unhandled exception filter (basically disable the assert), but the test is failing after the fix. It looks to me like the IL is trying to catch the DivideByZeroException, but somehow the exception is going unhandled. Could you please take a look?

[2016-02-02 09:21] LLITCHEV commented on #2411
I will.

[2016-02-02 09:32] LLITCHEV commented on #2411
Actually, come to think of it, there have been cases in the past that the VM will not propagate the exception to the managed code (just eat it up). Is it possible that this is another instance of this?

[2016-02-02 09:36] janvorli commented on #2411
@LLITCHEV Please note this isssue is on Windows, not Unix.

[2016-02-02 09:37] LLITCHEV commented on #2411
I noticed that after I posted the last comment. I think it is still worthed to check if the exception is delivered to the managed frame.

[2016-02-02 11:36] kouvel commented on #2411
I tried a simple test case with a try/catch, and it catches the exception. Not sure what's different about the IL test.

________________________________
From: Lubomir Litchev <notifications@github.com>
Sent: Tuesday, February 2, 2016 1:38:13 AM
To: dotnet/coreclr
Cc: Kount Veluri
Subject: Re: [coreclr] Assert failure ... CONTRACT VIOLATION by ThreadExceptionState::GetThrowable (#2411)

I noticed

[2016-02-02 14:00] janvorli commented on #2411
I have enabled logging of exception handling using
[code]
From the log, it is obvious that the filter was called and then the catch handler was called as well. But in the handler, the native runtime has thrown an exception in MemberLoader::ThrowMissingMethodException and that one went unhandled.
[code]

[2016-02-02 14:13] janvorli commented on #2411
Running it under windbg, I can see that the szClassName in the MemberLoader::ThrowMissingMethodException is System.ArgIterator and the szMethod is .ctor.
@LLITCHEV isn't this another test that should have been disabled due to the usage of the unsupported arg iterator?

[2016-02-02 14:35] kyulee1 opened #2982 "PDB support for ilasm"
Currently ilasm /DEBUG* is ignored on CoreCLR.

[2016-02-02 15:32] LLITCHEV commented on #2411
@janvorli @jkotas My understanding is that on Windows when using the non-portable profile the varargs should work properly. At least the Jit for CoreCLR is accepting IL with varargs and many vararg tests that are excluded on *nix are passing on Windows. JanK, could you please confirm that understanding is correct?
With that said, it clearly looks like this test uses managed classes/methods that ar

[2016-02-02 16:06] jkotas commented on #2411
Correct.

What methods are you talking about? I do not see any.

[2016-02-02 16:09] janvorli commented on #2411
@jkotas System.ArgIterator..ctor

[2016-02-02 16:45] jkotas commented on #2411
I see, I have not realized that ArgIterator ctor is not in mscorlib ... this test should be deleted then.

[2016-02-02 16:51] jkotas commented on #2411
There are a few other tests that are using ArgIterator as well. We should delete/cleanup those as well.

[2016-02-02 17:08] janvorli commented on #2411
I've inspected the mscorlib.dll and it actually does contain the ArgIterator ctor, but it is internal.

[2016-02-02 17:56] LLITCHEV commented on #2411
I got behind my computer again and double checked to see what I was seeing earlier was right...
Here is what I see in the source as constructors...
File:
        <git repo>\\src\mscorlib\src\System\ArgIterator.cs

Constructors for ArgIterator:
        [System.Security.SecuritySafeCritical]  // auto-generated
        public ArgIterator(RuntimeArgumentHandle arglist) : this(arglist.Value)

        [

[2016-02-02 17:58] jkotas commented on #2411
We should not be doing any additions to the non-portable profile.

The BCL rewriter tool.

[2016-02-02 18:01] LLITCHEV commented on #2411
@jkotas Thanks! So it looks like these are bad tests then.

[2016-02-02 18:01] mmitche opened #2985 "Checked/Debug tests take much longer on Ubuntu/OSX than Windows"
Seeing significant differences between the checked run times on Windows vs. Ubuntu/OSX.

Typical Windows: 47 mins (build/test)
Typical Ubuntu (when it doesn't time out): 1 hr 47 mins (just test)

Release times look to be in the same ballpark.

I've upped the timeouts for now, but this needs to be investigated.

/cc @LLITCHEV @gkhanna79

[2016-02-02 18:04] LLITCHEV commented on #2411
@richardlford Please remove all the tests that use ArgIterator since it is not available on CorCLR.

[2016-02-02 18:18] gkhanna79 commented on #2985
@janvorli What are your thoughts?

[2016-02-02 18:20] LLITCHEV commented on #2411
@richardlford I think these tests should still be enabled for the non CoreCLR products.

[2016-02-02 18:22] janvorli commented on #2717
Fixed by #2719

[2016-02-02 18:22] #2717 closed

[2016-02-02 18:23] janvorli commented on #2710
Fixed by #2953

[2016-02-02 18:23] #2710 closed

[2016-02-02 18:56] janvorli commented on #2985
@gkhanna79  I've looked at the log from the Ubuntu run where I can see how much time it took to run each single test and put them all to Excel to see if there are any big outliers that would build up the time difference, but it is not the case. Seems like the time is distributed among most of the tests. Unfortunately, I can only get total times for each test suite for Windows, not for individual t

[2016-02-02 18:56] pallavit commented on #1764
@jkotas Would you by any chance know why emitting exception fault blocks is not supported with DynamicMethod?

[2016-02-02 19:01] mmitche commented on #2985
@janvorli Look to be about the same between Windows and OSX/Ubuntu (reasonable times).

I don't think this is a case of an outlier.  The logs don't show any big gaps where one test ran forever.  What I might do is run a few cases on windows vs. Linux and do some basic timing.

Matt

[2016-02-02 19:06] jkotas commented on #1764
There is no good reason for it whatsoever. We should remove this restriction.

[2016-02-02 19:06] AndyAyersMS commented on #2985
@janvorli you can get per-test timings from the CI. See [this page](http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/release_windows_nt/828/testReport/JIT/) for instance. You can even sort by duration, so we know for instance RngchkStress3 is the slowest test at about 2m37s.

[2016-02-02 19:07] jkotas commented on #1764
It should just work once you remove the restrictio. The original developer who worked on this feature just liked to not-support anything that nobody explicit asked for...

[2016-02-02 19:11] jkotas commented on #2411
This means that these tests should stay in the internal full .NET Framework test suite, but they can still be deleted on GitHub. We do not want to have the full .NET Framework-specific tests in CoreCLR repo.

[2016-02-02 19:11] pallavit commented on #1764
Interesting...Looks like we can do this for Desktop as well then?

[2016-02-02 19:13] jkotas commented on #1764
Right.

[2016-02-02 19:24] jasonwilliams200OK commented on #2985
We can probably diagnose it by spotting the exact commit which caused this performance degradation using a git debugging command; [`git bisect`](https://git-scm.com/docs/git-bisect).

First, describe the criteria of failure script in project's root:

[code]

Then:

[code]

@AndyAyersMS, I think CI is failing Ubuntu build for all the recent PRs including https://github.com/dotnet/coreclr/pull/2945

[2016-02-02 19:37] janvorli commented on #2985
@jasonwilliams200OK I believe this is not a regression - we were not running the tests on debug builds before. But thank you for reminding me the git bisect anyways, I remember I've seen an article on it a long time ago and then forgotten about it.

[2016-02-02 19:48] janvorli commented on #2985
@mmitche I have taken a look at results of one of my PR and it seems that the debug windows times are very similar to the Linux checked ones:
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/debug_windows_nt_prtest/2164/testReport/

[2016-02-02 20:24] janvorli commented on #2985
And looking back, even in a PR 12 days ago, the windows debug run was still taking about the same time.

[2016-02-02 21:38] janvorli commented on #2985
@mmitche - there is something interesting. If you look at the testReport page on Windows debug build, you'll see times corresponding to about 2 hours total. But if you look at the console log, you'll see the total time to be close to 47 minutes you have mentioned.
So now I think that the test results timing doesn't match just because we run multiple tests in parallel. If we ran then without the pa

[2016-02-02 21:42] janvorli commented on #2985
And watching the tests run on Linux, it seems we are not running them in parallel at all.
So that would explain the difference.

[2016-02-02 21:44] mmitche commented on #2985
@janvorli I checked this earlier and we are running in parallel.  There were like 10 processes running when I checked.

[2016-02-02 21:46] janvorli commented on #2985
Ok, so maybe that's just my local setup then.

[2016-02-02 22:26] briansull opened #2987 "ARM64: Assertion failed 'assert: nextPhysRegPosition->nodeLocation == refLocation'"
I examined the dump for tailcall_av.exe_4593
and it appears that we have an incoming 16-byte struct that takes registers [x2 & x3]
and it needs to be passed as an outgoing arg in registers [x1 & x2]

[2016-02-02 22:32] briansull commented on #2987
The following tests are failing with this assert:
    tailcall_av.exe_4593 (IL size 18)
    33objref_cs_do.exe_2844 (IL size 1020)
    33objref_cs_ro.exe_2846 (IL size 1020)
    huge_struct.exe_3580 (IL size 2572)
    rngchkstress2_o.exe_3540 (IL size 7956)
    _il_dbghugedim.exe_4053 (IL size 2494)
    _il_relhugedim.exe_4056 (IL size 2494)

And 15 methods in ngen mscorlib.dll:

15, d:\projectk\s

[2016-02-02 22:37] briansull opened #2988 "ARM64: Assertion failed 'NYI: "Multireg struct - LinearScan::tryAllocateFreeReg"'"
This assert occurs whenever we need to pass a 16-byte struct in the outgoing stack area.

[2016-02-02 22:41] briansull commented on #2988
The following 6 tests are failing due to this assert:
    25param2a_cs_d.exe_4193 (IL size 125)
    25param2a_cs_do.exe_4194  (IL size 110)
    25param2a_cs_r.exe_4195 (IL size 125)
    25param2a_cs_ro.exe_4196 (IL size 110)
    struct6_2.exe_3388 (IL size 142)
    structabi.exe_3087 (IL size 2468)

And 27 methods during ngen of mscorlib.dll
 27, d:\projectk\src\ndp\clr\src\jit\lsra.cpp:4572 - NYI

[2016-02-02 22:46] LLITCHEV commented on #2764
Fixed by PR #2860

[2016-02-02 22:46] #2764 closed

[2016-02-02 22:46] briansull opened #2989 "ARM64: Assertion failed 'assert: (allRegs(theInterval->registerType) & mask) != 0"
This is caused when we have floating point arguments passed to vararg methods
There also needs to be a fix to properly home floating point arguments in a varargs method.

[2016-02-02 22:52] briansull commented on #2989
The following 5 tests fail with this assert:
    b16423.exe_4877 (IL size 34)
    b32374.exe_4976 (IL size 103)
    b41391.exe_5090 (IL size 62)
    b41621.exe_5094 (IL size 142)
    b46867.exe_5150 (IL size 25)

[2016-02-02 22:55] briansull opened #2990 "ARM64: Assertion failed 'assert: !varDsc->lvIsRegCandidate()'"

[2016-02-02 22:58] briansull commented on #2990
The following 3 tests are failing with this assert:
    b40721.exe_5079  (IL size 572)
    b50027.exe_5244 (IL size 1109)
    b51420.exe_5252 (IL size 920)

[2016-02-02 22:59] mmitche opened #2991 "Race condition building moduleLibrary.csproj"
src\JIT\Methodical\flowgraph\bug619534\moduleHandleCache.csproj has a project reference to src\JIT\Methodical\flowgraph\bug619534\moduleLibrary.csproj

This would cause moduleLibrary to build when moduleHandleCache does.  However, the system will probably also recognize moduleLibrary.csproj as a test itself (it looks for all csproj’s under test\src) so it coujld end up trying to build them at the

[2016-02-02 22:59] mmitche commented on #2991
/cc @CarolEidt @LLITCHEV @dotnet/jit-contrib

[2016-02-02 23:36] LLITCHEV commented on #2769
These two bugs seems to have been fixed with PR #2860

[2016-02-02 23:36] #2769 closed

[2016-02-02 23:48] krytarowski commented on #810
I can built 87% of `CoreCLR` (according to `CMake`) with `pkgsrc-wip/coreclr-git` (it contains right now 22 local patches).

[2016-02-03 00:12] AlexGhiondea commented on #892
@ellismg I am working on figuring out the process for doing that.
For now, please file an internal bug to track this. For Desktop we probably want to figure out a way to not break people that might have taken a dependency on the current behavior.

[2016-02-03 00:37] LLITCHEV commented on #2965
Seems to be fixed by PR #2860

[2016-02-03 00:37] #2965 closed

[2016-02-03 01:11] jkotas commented on #2991
The same pattern exists in many places - #2974 just failed in `tests\src\GC\API\GCSettings\`.

msbuild should take care of scheduling these project-to-project references correctly.

I suspect that this problem might have been introduced by the recent build tools update for tests.

@rahku Could you please take a look?

[2016-02-03 01:14] rahku commented on #2991
No I believe this is antimalware/antivirus software interfering with build. Can you add your repo root folder to defender exclusion list and see if this persists.

[2016-02-03 01:41] krytarowski opened #2993 "Conflicts with system headers on NetBSD"
There are few conflicts with system headers on NetBSD

[code]

[code]

[2016-02-03 01:47] mogarick commented on #2980
I found out that the problem could belong to corefx not coreclr.
Sorry for the confussion.

[2016-02-03 02:17] erozenfeld commented on #2886
@sivarv and I looked at the dumps and it appears to be an LSRA issue. An address-taken shadow variable is getting a register and is not getting spilled. Reassigning to @sivarv to continue the investigation.

[2016-02-03 03:44] dotnetshadow commented on #2144
#3348

[2016-02-03 03:47] dotnetshadow commented on #2144
Please see the updated reference at #3348

[2016-02-03 03:49] dotnetshadow commented on #2144
aspnet/dnx#3348

[2016-02-03 04:29] dotnetshadow opened #2999 "ASP.NET Core 1.0 Global exception handler in console application (DNX)"
How do you catch global exceptions in an asp.net core console application? In previous versions we had AppDomain.CurrentDomain.UnhandledException but this doesn't seem to work in rc1

[code]

The above only works in 4.5.1 but not dnxcore50, As soon as the exception is thrown the code breaks. Is there any way in a dnx app to catch unhandled exceptions?

[2016-02-03 06:05] triciap commented on #2980
Thanks for clearing that up for me. I didn't know the difference between my knees to my nipples before you posted this. Thanks 

Sent from my MetroPCS 4G LTE Android device-------- Original message --------From: mogarick <notifications@github.com> Date: 2/2/2016  5:48 PM  (GMT-08:00) To: dotnet/coreclr <coreclr@noreply.github.com> Subject: Re: [coreclr] System.IO.FileNotFoundException: Could not l

[2016-02-03 06:38] aelij commented on #2813
@noahfalk, I've started working on the library, and I realized something - there's one more very compelling case for include it in the core library (with the option to make it the default, as I mentioned above) - serialization.

When an exception is serialized and deserialized, its stack trace is saved to the `_stackTraceString` field, and there is no way to produce the original stack using the `S

[2016-02-03 06:58] jkotas commented on #2993
Conflicts like this are dealt with by defining / undefing the symbol in `src\pal\src\include\pal\palinternal.h`, e.g. look for `fpos_t`.

[2016-02-03 09:01] jasonwilliams200OK commented on #2947
This can be closed. :)

[2016-02-03 09:25] krytarowski commented on #2947
Please keep it open. NetBSD still doesn't implement this function and it's still in potential use in CoreCLR.

[2016-02-03 09:28] krytarowski commented on #2993
`fpos_t` gives me headache too and I'm locally `ifdef`ing code using it.

[2016-02-03 09:53] krytarowski commented on #2993
I can see that these typedefs are under `!defined(PAL_STDCPP_COMPAT) && !defined(PAL_IMPLEMENTATION)`

[code]

-- `src/pal/inc/pal_mstypes.h`

We define `PAL_IMPLEMENTATION` in:
- `src/debug/debug-pal/CMakeLists.txt`
- `src/pal/src/include/pal/palinternal.h`

If I understand it correctly, on NetBSD we mustn't define `PAL_STDCPP_COMPAT` as we are already POSIX-like and must't define `PAL_IMPLEMENTA

[2016-02-03 10:03] krytarowski commented on #2968
I think it might be the best to add `-Wno-constant-conversion` to CMakeLists.txt in the particular tests. What do you think?

[2016-02-03 10:06] krytarowski commented on #2968
@jkotas ?

[2016-02-03 10:07] krytarowski commented on #810
87% and 20 local patches

[2016-02-03 13:10] myungjoo opened #3002 "Request for updating linux-instructions.md"
I have been trying coreclr+corefx in a bare metal Linux system. (x64 and armv7l)

Anyway, in order to run the HelloWorld.cs of
https://github.com/dotnet/coreclr/blob/master/Documentation/building/linux-instructions.md
(https://raw.githubusercontent.com/dotnet/corefxlab/master/demos/CoreClrConsoleApplications/HelloWorld/HelloWorld.cs),
we need additional dll files not mentioned in the instruction:

[2016-02-03 13:57] omariom commented on #914
It  also happens [when a boolean value passed to  an inlined method] (https://github.com/dotnet/coreclr/issues/2500).

[2016-02-03 14:01] jkotas commented on #2968
Is it just in the tests? How many?

[2016-02-03 14:04] jkotas commented on #2993
Yes. The PAL tests are not supposed to include system headers.

[2016-02-03 15:06] jasonwilliams200OK commented on #2968
[code]

[2016-02-03 15:11] jasonwilliams200OK commented on #2947
Reading @jkotas made me think that this is an optional feature which is disabled by #2976. If the NetBSD OS doesn't support this, then keeping it in CoreCLR issue tracker doesn't make much sense, don't you agree?

[2016-02-03 16:29] mmitche commented on #2991
@rahku There isn't windows defender/av running on any of these boxes.  This is also the only instance I've ever seen of this, and I don't think it's a coincidence that this is a project with a ProjectReference.

[2016-02-03 16:31] mmitche commented on #2991
Also MSBuild will build the project twice if the input project properties end up being different, even subtly.

[2016-02-03 17:06] sergiy-k commented on #3002
@stephentoub, I'm curious why we need System.Linq.dll to run a HelloWord app?

[2016-02-03 17:14] mmitche commented on #2991
Found another instance:

C:\enlistments\coreclr\tests\src>findstr -sip GCUtil_HeapExpansion *
GC\Features\HeapExpansion\Finalizer.csproj:    <ProjectReference Include="GCUtil_HeapExpansion.csproj" />
GC\Features\HeapExpansion\Handles.csproj:    <ProjectReference Include="GCUtil_HeapExpansion.csproj" />
^C
C:\enlistments\coreclr\tests\src>

C:\enlistments\coreclr\tests\src>

C:\enlistments\coreclr\

[2016-02-03 17:23] stephentoub commented on #3002
It shouldn't.  I'll fix it.  Looks like the dependency snuck in.

[2016-02-03 18:00] rahku commented on #2991
Looking at this.

[2016-02-03 18:47] jkotas commented on #2895
There are many places where the interfaces used internally within the runtime violate COM conventions one way or the other. Cleaning it up is nice to have ... it has also potential to introduce regressions.

[2016-02-03 18:48] GSPP commented on #2184
I have searched the sources now for "barrier" and experimented a but with First and TakeOrSkip scenarios. I see what you mean. Sometimes, there's a Barrier midway through the enumeration.

Making that barrier async would work but would require MoveNext to return Task (or ValueTask). Wouldn't the overhead be acceptable in case of ValueTask? That refactoring would consist of mostly rote changes beca

[2016-02-03 18:50] jkotas commented on #2895
#2796 is another instance.

[2016-02-03 18:50] jkotas commented on #2796
nice to have cleanup

[2016-02-03 19:06] #3002 closed

[2016-02-03 19:06] stephentoub commented on #3002
Fixed: https://github.com/dotnet/corefx/pull/5870

[2016-02-03 19:07] pallavit commented on #1764
Closing this issue and moving it to corefx repo instead under System.Reflection.Emit.

[2016-02-03 19:07] #1764 closed

[2016-02-03 19:43] sergiy-k commented on #2957
@wtgodbe, could you please take a look?

[2016-02-03 20:06] wtgodbe commented on #2957
@livarcocc are you talking about arguments to corerun?

[2016-02-03 20:30] jkotas opened #3007 "C header file with x-plat CoreCLR hosting API prototypes"
We should reformat https://github.com/dotnet/coreclr/issues/1234#issuecomment-121916464 into a header file, and include it in the SDK portion of the runtime package.

[2016-02-03 23:05] gkhanna79 opened #3013 "Enable Control Flow Guard for native components"

[2016-02-03 23:06] gkhanna79 opened #3014 "Enable linking against APISets"
This needs to be done for the following:

1) OS APISets
2) Universal CRT

[2016-02-03 23:09] gkhanna79 opened #3015 "Update CoreCLR nuget package definition and contents"

[2016-02-04 00:11] wtgodbe commented on #2957
@livarcocc  Could you give me an example of a command-line invocation of corerun that reproduces this? I suppose I'm able to reproduce it locally, but the behavior of escape characters and quotes appears to be as-expected.

[2016-02-04 00:44] myungjoo commented on #3002
Uh.. does it fix System.Core, System.Collection as well? (or are you updating the instruction document accordingly?)

[2016-02-04 00:48] stephentoub commented on #3002
Sorry, GitHub closed the bug when I referenced it.

System.Core doesn't exist in coreclr/corefx, so it's not required.  Where are you seeing it that you believe it is required?

I've added System.Collections to the list.

[2016-02-04 00:59] gkhanna79 opened #3019 "Enable signing for CoreCLR binaries"

[2016-02-04 01:20] krytarowski commented on #2968
This is a full list of my local patches:

- patch-src_pal_tests_palsuite_c__runtime_sscanf_test4_test4.c
- patch-src_pal_tests_palsuite_c__runtime_sscanf_test5_test5.c
- patch-src_pal_tests_palsuite_c__runtime_sscanf_test6_test6.c
- patch-src_pal_tests_palsuite_c__runtime_sscanf_test7_test7.c
- patch-src_pal_tests_palsuite_c__runtime_sscanf_test8_test8.c
- patch-src_pal_tests_palsuite_c__runtime_s

[2016-02-04 01:22] krytarowski commented on #2968
I don't see this error outside tests -- again, during my building of 87% sources.

[2016-02-04 01:24] krytarowski commented on #2993
Thank you! it's now clear. I'm going to drop this header and try to push building forward.

[2016-02-04 01:39] krytarowski commented on #2947
This patch hasn't fixed it by walking around the missing API or similar, we disabled the feature. I want to keep it on my TODO list.

[2016-02-04 01:40] NickCraver commented on #2999
I'm also curious what the mechanism is as well. We have global exception handlers that attach this way and log to a central location - some equally global capture method is really needed in .Net Core.

[2016-02-04 01:46] krytarowski commented on #2993
I got 98% and no other issues so far.

[2016-02-04 01:47] janvorli commented on #2999
@NickCraver, @dotnetshadow, there is currently no way to get event on unhandled exceptions in the .Net Core, mostly due to the fact that there is no AppDomain class, so the event has disappeared with it.
But I agree that it is a useful feature that we should put back. I am currently working on figuring out where to put such event.

[2016-02-04 01:49] jkotas commented on #2968
This does not look too bad ... I would just fix the tests.

[2016-02-04 01:54] krytarowski commented on #2968
How would you do it?

[2016-02-04 01:56] jkotas commented on #2968
Add casts, or fix the numbers so that the casts are not necessary - whatever looks more appropriate.

[2016-02-04 01:58] krytarowski opened #3020 "Relocation against symbol can not be used when making a shared object"
[code]

[code]

[code]

How should it be addressed?

Regarding `-nostdintc++`, I'm using Clang with `libstdc++`, not `libc++`.

[2016-02-04 02:04] NickCraver commented on #2999
@janvorli Totally understand on the app domain side; I think we all only care for the existence of the event not particularly where it lives. I don't really have a good solution for placement in mind but happy to help if we can.

[2016-02-04 02:27] livarcocc commented on #2957
@wtgodbe I actually could not repro this today, and our CLI command that was failing seems to be working again with the slash.

This is what I tried before and fail and which succeeded now: dotnet publish --output "c:\users\licavalc\t
emp\"

[2016-02-04 02:27] #2957 closed

[2016-02-04 02:58] noahfalk commented on #2813
@aelij Hmm, perhaps adding an extensibility point would be the right way to go? The first idea that comes to mind would be something like:
class StackTrace
{
     public static Func<StackTrace, string> StackTraceFormatter { get; set; }
}

Imagine this gets used for all places the runtime formats a stack trace (lots of hand waving about details). This would let a 3rd party library swap out the defa

[2016-02-04 04:29] #2991 closed

[2016-02-04 05:28] davidfowl opened #3022 "Output from crossgen when IBC data is invalid/stale is super scary"
Here's the output from the CLI build when we crossgen roslyn

[code]

/cc @JohnChen0 @jkotas

[2016-02-04 05:34] #2993 closed

[2016-02-04 05:47] jkotas commented on #3022
We should just stop printing these warnings by default.

[2016-02-04 05:51] #3013 closed

[2016-02-04 06:05] AndyAyersMS commented on #2575
Issues seem to be fixed now that all the lock files are really locked.

[2016-02-04 06:05] #2575 closed

[2016-02-04 06:05] gkhanna79 commented on #3022
@JohnChen0 Can you PTAL?

[2016-02-04 06:06] AndyAyersMS commented on #2273
Believe this was fixed by #2789

[2016-02-04 06:06] #2273 closed

[2016-02-04 07:11] aelij commented on #2813
I like it!

Regarding file paths, there's an option to strip them, but from what I can tell it's not used in any managed code path. The current stripping method (`StripFileInfo`, implemented in native code) uses text manipulation (removes everything after the last right bracket) - but it returns `null` if the virtual `StackTrace` property was overridden for *remote* stack traces (cross app-domain

[2016-02-04 09:04] snuxoll opened #3025 "Support system-wide installation on unix-like platforms"
Currently CoreCLR and CoreFX do not provide any facility for system-wide installation on unix-like platforms, with the current build framework only outputting binaries with no installation mechanism. This is extremely important to get .Net Core packaged and included in Linux distribution repositories. In addition, the lack of soname and so versioning as well as the requirement to pull down NuGet p

[2016-02-04 10:32] krytarowski commented on #810
@gkhanna79 ^ Can we add NetBSD labels to all NetBSD entries? What do you think?

[2016-02-04 10:33] krytarowski commented on #810
98% and 20 local patches

[2016-02-04 13:22] jkotas commented on #3025
cc @piotrpMSFT

[2016-02-04 16:18] myungjoo commented on #3002
It was from the same HelloWorld.cs compiled by mcs as described in the linux-insturction.

It first said "System.Core" was missing.
So, I've added System.Core.dll from mono (yes, I've just find it from my Ubuntu machine and put it where the runtime is, in my barebone Linux emulator (chroot'ed))

Then, corerun HelloWorld.exe said that it requires System.Collection. So, I've put it from nuget that t

[2016-02-04 16:20] stephentoub opened #3028 "Builds failing with lots of NuGet-related managed test build errors"
Seems like most (all?) builds are failing...
[code]
cc: @weshaggard, @jkotas

[2016-02-04 16:26] myungjoo commented on #3025
I've been building .net core with rpmbuild and .spec files general enough for non Ubuntu Linux systems and putting things (coreclr) into /usr/bin/dotnet/* and made symbolic link from /usr/bin/corerun to /usr/bin/dotnet/corerun as my initial draft. (at least, it works for x64 systems. I'm trying for armv7l now)

If we are going to make some dotnet installation standard for Linux systems, I'd like t

[2016-02-04 16:28] ayende commented on #3025
Please let us know if you can get it working on ARM, my last attempt ended
with invalid instructions on Linux.

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Thu, Feb 4, 2016 at 6:27 PM, MyungJoo Ham <notifications@github.com>
wrote:

[2016-02-04 16:38] myungjoo commented on #3025
@ayende If you are working on an ARMHF-Ubuntu14.04, it should work without any serious work unless there are serious regressions (I just don't know on this) in coreclr/corefx. We are experiencing some troubles only because we are not ARMHF and we are not using Ubuntu (our own "baremetal" Linux targeting embedded systems.

The cross build environment supplied is for ARMHF/Ubuntu-14.04. "Ubuntu part

[2016-02-04 16:45] snuxoll commented on #3025
@myungjoo Great point. Personally, considering libcoreclr.so and corerun/coreconsole should be put in separate locations (/usr/lib/ and /usr/bin), which would require corerun to need a shim script to pass the correct -c argument, I propose the following.

- libcoreclr.so and any other "public" (designed to be linked against) libraries should go in /usr/lib (or /usr/lib64 depending)
- corerun shoul

[2016-02-04 17:18] shahid-pk commented on #3025
one thing should be clear .net core (coreclr+corefx) is designed to be application local and not system wide. This decision has been taken long ago [https://blogs.msdn.microsoft.com/dotnet/2014/12/04/introducing-net-core/] and i don't think right now that could change or should change so late in the release cycle.
The new way is to use a tool for example dotnet/cli which will acquire the run time

[2016-02-04 17:32] jkotas commented on #3020
Many different projects hit [this error message](http://www.bing.com/search?q=relocation+R_X86_64_PC32+against+symbol+can+not+be+used+when+making+a+shared+object%3B+recompile+with+-fPIC). The fix seems to always be a tweak to the compiler or linker command line options.

[2016-02-04 17:34] krytarowski commented on #3020
I was suggested that there is missing `-fPIC` somewhere.

[2016-02-04 18:07] krytarowski opened #3029 "PAL fpos_t clash with NetBSD libraries"
[code]

[2016-02-04 18:09] krytarowski commented on #3029
[code]

[2016-02-04 18:10] mmitche commented on #2985
I think the issue is that we're not building coreclr with optimizations in checked.  Fixing this.

[2016-02-04 18:18] jasonwilliams200OK commented on #3020
Either `-fPIC` is missing (which it doesn't seem like after going through every CMakeLists) or it needs to come immediately after `clang` for the version of clang you are using. Atleast this used to be a requirement/bug in `gcc` not very long ago.

[2016-02-04 18:20] krytarowski commented on #3020
Can you try out with clang from trunk on Linux or FreeBSD?

[2016-02-04 18:21] krytarowski commented on #3020
Assuming that `pkgsrc` is in `/usr/pkgsrc` and `pkgsrc-wip` in `/usr/pkgsrc/wip`:

[code]

[2016-02-04 18:35] jasonwilliams200OK commented on #3020
I used clang35 from Q42015 ports to build CoreCLR on FreeBSD: https://gist.github.com/jasonwilliams200OK/06db121ec534821fe541.

Also since the CoreFX's native code-base is small, I tried building it with clang37 and succeeded: https://gist.github.com/jasonwilliams200OK/6efa7907e66275df2d24.

I am configuring NetBSD 7 x86_64 in VM on Mac at the moment (don't have a charger with me though :disappoin

[2016-02-04 18:41] krytarowski commented on #3020
Thank you! I suggest doing it through source-based pkgsrc. The framework will feed CoreCLR with needed dependencies and paths.

[2016-02-04 18:41] krytarowski commented on #3020
But... You can use pkgsrc on Linux, FreeBSD, MacOSX, Cygwin etc.

[2016-02-04 19:14] janvorli commented on #2985
@mmitche I don't think it is the case. I have tried to build the stuff locally with -O3 and the perf was virtually unchanged. I believe the difference is really in the DEBUG macro definition which pulls in a lot of code.
I have hand picked one of the tests that in release build takes 10s and in debug build 1min22s and run it under a profiler (oprofile) on my native Linux box to see if I can pinpoi

[2016-02-04 19:17] mmitche commented on #2985
@janvorli That's interesting.  So you forced it to O3 and got the same perf?  Any ideas why the Windows Checked doesn't show the same behavior?

If we have a really bad DEBUG define we can probably optimize it

[2016-02-04 19:21] briansull opened #3032 "ARM64: Assertion failed 'assert: !"Instruction cannot be encoded: IF_DI_2A"'"
Issue is caused by very large stack frames and the encoding of instructions for the prolog/epilog sequences for the EH funclets.

[2016-02-04 19:22] janvorli commented on #2985
Yes, with -O3, the test run took virtually the same time. But I'll double check that to make sure I haven't made a mistake in the process.
Btw, the test was GC/Regressions/v2.0-rtm/494226/494226
I was going to do some more investigation and profiling, but I got distracted yesterday. I'll look more into it today.

[2016-02-04 19:25] mmitche commented on #2985
You would have had to manually add O3, the compiler overrides from clang-compiler-override and windows-compiler-override are all ignored except for the CLR defines.

[2016-02-04 19:39] briansull commented on #3032
The following tests are failing due to this issue:
    abovestacklimit.exe_5814
    abovestacklimit.exe_5839

[2016-02-04 20:07] janvorli commented on #2985
@mmitche Hmm, I have modified the option in the clang-compiler-override and it was not ignored:
Here is a command line of one of the clang invocations, you can see that the option is O3 and the build is debug.
[code]

[2016-02-04 20:12] steveharter commented on #1157
The most straightforward implementation is the one mentioned by omariom (static field initializer without volatile) as it avoids any lower-level synchronization calls.

Using the Lazy<T> pattern (which doesn't use volatile) would also be an improvement in performance over the existing code, especially on ARM. The advantage of Lazy<T> over static field initializer is that it supports lazy semantics

[2016-02-04 20:27] mmitche commented on #2985
What cmake version is this?  That might explain some things.

[2016-02-04 20:35] jasonwilliams200OK commented on #3020
@krytarowski, working with NetBSD compared to FreeBSD is bit inconvenient.

Took me sometime to resolve the python package dependency `pyexpat`, which:

1. does not get installed even with `pkg_add -u` and `pkgin -F` reinstall commands; although it is python's core module.
2. listed as py27-expat, py34-expat and so on in `pkgin` search list (yeah, so now i am using `pkgin` instead of pkg_add and p

[2016-02-04 20:43] janvorli commented on #2985
@mmitche
I am using the CMake 2.8.12.2 which is the version provided in the Ubuntu 14.04.

I am sorry, it looks I made some mistake yesterday - I've tried it again today and the optimization option actually does have an effect. With O3, run of the debug build of the test took 15s (compared to 1min22s with O0). As I've said, the release build was taking 10s.
Here are the results for the test for O0

[2016-02-04 20:49] krytarowski commented on #3020
Thank you for your effort!

Please go for http://pkgsrc.org/wip/ and try to build coreclr-git. Currently there are ~20 patches disabling this or that.

I (re)started a NetBSD port of libunwind. It will take a while!

[2016-02-04 20:51] krytarowski commented on #3020
I will add the `py-expat` dependency to `pkgsrc-wip/coreclr-git`

[2016-02-04 20:52] piotrpMSFT commented on #3025
Yea, today we're building the CLI just as if it were any other CoreFx app: we include our own dependencies in a flat directory and do not enable sharing with the applications CLI builds. There has been some effort to make this more efficient, as suggested on this issue, by making the CLI dependencies sharable with apps. Unfortunately, the packages with sharable dependencies will likely be quite a

[2016-02-04 20:53] mmitche commented on #2985
I'm on the exact same version.  I added -notaflag to DEBUG_INIT and didn't see it at all.  Can you push your changes to a branch so I an verify?

[2016-02-04 20:58] jasonwilliams200OK commented on #3020
Official build is great idea! :+1:

I will add the py-expat dependency to pkgsrc-wip/coreclr-git

`py27-expat` to be exact (as NetBSD7 by default ships with python-2.7).

[2016-02-04 21:03] krytarowski commented on #3020
NetBSD doesn't ship with any python version (so far). pkgsrc is a separated project, detached from NetBSD - and with different release cycle.

[code]

[2016-02-04 21:05] janvorli commented on #2985
I will, but let me try to experiment a little bit more. I was modifying the setting for the Debug build, so I wonder if we have a bug somewhere in the cmake files that causes that these options are ignored for the Checked build.

[2016-02-04 21:21] janvorli commented on #2985
It seems to work ok for the checked build as well.

[2016-02-04 21:25] swaroop-sridhar opened #3034 "HeapVerify: Failures running with GCStress"
Following tests failed with running with
COMPlus_GCStress=0xC and
COMPlus_HeapVerify=1

The tests pass if run with only one of the above settings.

[code]

[2016-02-04 21:26] snuxoll commented on #3025
@piotrpMSFT I am not talking about dotnet-cli at all here, only the CLR and CoreFX. If you choose to bundle CoreCLR and CoreFX with your application that is your prerogative, I can modify it to use system installed libraries.

As it stands, not supporting any method of installing CoreCLR and CoreFX system wide is going to prevent inclusion of any application that use it in the software collection

[2016-02-04 21:31] jasonwilliams200OK commented on #3029
See http://cvsweb.netbsd.org/bsdweb.cgi/src/include/stdio.h.diff?r1=1.79&r2=1.80&only_with_tag=MAIN&f=h and http://git.savannah.gnu.org/gitweb/?p=gnulib.git;a=commitdiff;h=f2c88dc.

(untested)

[code]

If we care about NetBSD < v6, then we can check `__NetBSD_Version__ >= 600000000` as before v6, it used to be an integer type. Same fix is for CYGWIN, which is not supported at the moment.

[2016-02-04 21:32] jasonwilliams200OK commented on #3029
Will still need to figure out how to detect `FPOST_IS___SFPOS_STRUCT` in cmake smartly. :wink:

[2016-02-04 21:33] weshaggard commented on #3028
The 404 errors are likely because of dotnet-coreclr feed references although that feed has been recreated so it shouldn't be failing currently. I'm syncing my coreclr repo right now and trying to build locally to see if it still repos and if so I will fix it.

[2016-02-04 21:36] krytarowski commented on #3029
Wow! good point! I will make the CMake part.

[2016-02-04 21:53] shahid-pk commented on #3025
@snuxoll  i think a system wide scenario could be supported by the community if interested.We know that it won't be supported by Microsoft to be frank [Although someone from Microsoft should confirm] , personally i don't have a problem with that i like the new idea but i think that their should be options.
This project is completely open source and one great thing about open source is that you can

[2016-02-04 22:00] snuxoll commented on #3025
@shahid-pk Absolutely, I see no reason why the app-local model cannot continue to exist, as there certainly is a bunch of people who want it (and it certainly makes deployment of newer versions easy where you don't care to rely on your distribution repositories). All I seek is the option to allow a system-wide installation so that those that DO prefer to use their standard package manager (myself

[2016-02-04 22:00] krytarowski commented on #3020
If you really want to build CoreCLR out of pkgsrc, here are patches:

https://wip.pkgsrc.org/cgi-bin/gitweb.cgi?p=pkgsrc-wip.git;a=tree;f=coreclr-git/patches;hb=HEAD

However this is untested.

I don't use Gitter, I sit on #netbsd-pl @ FreeNode. There are more people interested in the .Net Core porting to NetBSD. Feel free to join.

[2016-02-04 22:06] jasonwilliams200OK commented on #3020
Thanks @krytarowski! I ramble around at #FreeBSD, #node and #libuv from time to time. I will drop by. :)

[2016-02-04 22:21] krytarowski commented on #3020
It will be great, I have got many general questions.

[2016-02-04 22:21] AndyAyersMS opened #3037 "Remove assert from JitInlineResult dtor"
If an exception can be thrown across the lifetime of a `JitInlineResult` the jit may not have the opportunity to establish a decision. So when the stack unwinds we may hit the assert in the destructor.

Instead, we should rely on downstream checks in the frames that create the results to verify an appropriate inline decision was reached when control flows normally.

[2016-02-04 22:58] noahfalk commented on #2813
Cool : )

If you want to drive this framework part of the work forward, the workflow mentioned here is probably what you want to follow: https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/contributing-workflow.md

I would warn that this feature doesn't appear to align with any of the major priorities: https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/pr

[2016-02-05 00:38] adityamandaleeka commented on #2785
@swaroop-sridhar

While looking into this some more, I synced to the latest sources on master and have not been able to reproduce it since doing so. I will continue investigating to find out what the problem is/was and whether it was fixed or just hidden.

Please let me know if you are still hitting this assert with the latest bits.

[2016-02-05 00:56] #3028 closed

[2016-02-05 01:31] wjk opened #3040 "API Set Usage Question"
I am trying to write a complex application (private repo) that uses CoreCLR. Since I want compatibility back to Windows 7, I must use [the Microsoft.NETCore.Windows.APISets NuGet package](http://www.nuget.org/packages/runtime.win7-x64.Microsoft.NETCore.Windows.ApiSets/1.0.1-beta-23516) to ensure that the application will run. However, I am running into a problem.

Having 120+ DLLs in the same dire

[2016-02-05 02:02] wjk commented on #3040
Update: If I reference `coreclr.dll` though an SxS assembly, and I load that file by name instead of its full path, the DLL loads correctly. However, `ICLRRuntimeHost2::Start()` then returns `E_FAIL`. My first guess is that one of the support DLLs used by CoreCLR (`mscordbi.dll` for example) is not being loaded correctly. I have listed all of these DLLs in my SxS manifest, however.

The problem wi

[2016-02-05 02:20] krytarowski commented on #3029
@jkotas I had a hack session with @jasonwilliams200OK and there are conclusions.

I don't understand how `PAL_STDCPP_COMPAT` is supposed to work, whether it should be defined, if so when? In what circumstances on what platforms?

Why `fpos_t` isn't reused from the system defines? Is it supposed to do it? Is it supposed to redefine its own `fpos_t` type?

Why `PAL_STDCPP_COMPAT` is defined for Unix

[2016-02-05 02:26] krytarowski commented on #3029
@jkotas When I will bring up debug messages and asserts from the `#else` code, are you OK with this patch?

[2016-02-05 02:46] wjk commented on #3040
And now I am getting the error code 0x80131022 ("Invalid operation" according to Visual Studio). I really have a hard time wrapping my head around CoreCLR's inner workings, so I cannot diagnose it any further.

[2016-02-05 02:47] adityamandaleeka commented on #2785
Never mind... disregard that comment.

[2016-02-05 02:48] myungjoo commented on #3002
Here goes the original execution log, which shows that System.Core was also required for the HelloWorld.cs

'
bash-3.2# mkdir backup
bash-3.2# mv System.Core.dll System.Collections.dll System.Linq.dll backup/
bash-3.2# ./corerun HelloWorld.exe  linux
Hello, Linux...

Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Core, Version=4.0.0.0, Culture=neutral

[2016-02-05 03:06] jkotas commented on #3029
The PAL is designed to provide 100% abstraction from system headers.

PAL_STDCPP_COMPAT allows some limited mixing and matching of PAL with system headers in a few places (essentially, violate the above design point).

[2016-02-05 03:09] jkotas commented on #3029
Both fgetpos and fsetpos looks like a dead code - the red flag is the comment `TODO: implement for Linux if required`, and I do not see it used anywhere.

So the best way to deal with this is to just delete these two function.

[2016-02-05 03:10] jkotas commented on #3029
(as well as PAL version of fpos_t)

[2016-02-05 03:12] krytarowski commented on #3029
Thank you. It's now clear. I'm going to submit a patch erasing these code-parts.

[2016-02-05 04:28] #3037 closed

[2016-02-05 07:19] #3029 closed

[2016-02-05 08:35] tfenise commented on #2944
Well, unlike the Stackoverflow question, the connect issue didn't give an example that would produce the bug.

[2016-02-05 09:03] ayende commented on #2813
:thumbsup:

[2016-02-05 09:27] forki commented on #2715
@RogerAlsing MS is a cloud company now. I assume supporting the major cloud programming frameworks is no. 1 priority. Since all maintainers of the big .NET cloud frameworks already expressed big interest here they are surely already working on this.

[2016-02-05 09:33] am11 commented on #3040
We recently ran into a similar problem with `DllImport`, when transforming a CLS project to P/Invoke (FFI) usage https://github.com/darrenkopp/libsass-net/issues/34. Windows (v10, all updates applied) loads wrong native lib even after specifying the absolute path by pinvoking `LoadLibraryEx/AddDllDirectory` et al. We had the native DLL installed in %ProgramFiles%, and although `LoadLibraryEx` spec

[2016-02-05 14:22] benpye commented on #2910
I would assume LLVM's libunwind is available on NetBSD? It may then be worth reconsidering #872 though I think the issue of lacking context pointers remains.

[2016-02-05 14:50] janvorli commented on #2910
The LLVM's libunwind should work for NetBSD (provided it is available for that platform), since it is what we currently use for OSX. There is a workaround for the lack of context pointers. It is not ideal, but it works.

[2016-02-05 17:37] wjk commented on #3040
@am11 I actually switched back to using SxS modules due to the reason you specified. I thought that `LoadLibraryEx()` is unaware of SxS modules, but the real culprit was the fact that I was giving an absolute path. `LoadLibraryEx()` knows to search SxS modules _when given a base name only_.

I have also copied `mscorlib.dll` into the same directory as CoreCLR and added a `<file/>` element to my Sx

[2016-02-05 17:53] jasonwilliams200OK commented on #2910
@benpye, nope it isn't available. But krytarowski is porting libunwind to NetBSD as per my conversation with him on #NetBSD-pl on freenode (IRC). Currently he is away. :)

@janvorli, Ben's #3045 is equally useful in opinion of some people including @krytarowski on IRC; for the systems where HP libunwind is not available. Until of course llilic fellows put some effort and make LLVM's libunwind equa

[2016-02-05 17:54] jasonwilliams200OK commented on #2910
We are trying to ping OpenBSD and DragonflyBSD guys to team up and join the forces. :)

[2016-02-05 18:10] LLITCHEV commented on #2985
@janvorli That is good analysis and numbers above. It looks like the O1 v. release build has a bit more than doubled the execution time. I assume this doesn't include the DEBUG flag passed to the build. I think, it 'd be useful to know what the O1 number will be if we also add the DEBUG flag. Do you have such number?

[2016-02-05 18:48] benpye commented on #2910
@jasonwilliams200OK Another motivation for me for #3045 is to narrow down the still existing ARM unwinding issue. If I can try an alternative unwind library then I may have some better luck tracking the issue.

[2016-02-05 19:10] janvorli commented on #2985
@LLITCHEV The numbers are with DEBUG flag defined. I was just modifying the option for regular debug build.

[2016-02-05 19:17] krytarowski commented on #2910
This is our home-grown implementation for libunwind:

https://github.com/IIJ-NetBSD/netbsd-src/blob/master/lib/libexecinfo/unwind.h

I can see LLVM libunwind in the NetBSD base sources.. but I cannot build pristine upstream version. I will need to investigate it.

@benpye do you think our implementation is sufficient?

First I want to build 100% of the sources and upstream all remaining patches be

[2016-02-05 19:50] adityamandaleeka commented on #1664
Looking at all of the PAL environment code and reading through the docs for the POSIX environment functions, the code we have in the PAL to deal with the environment seems dubious. It does some potentially dangerous things with the contents of `environ`. I came up with the following plan to solve this leak and also fix how we interact with the environment in general:

- Read the contents of the en

[2016-02-05 20:14] wjk commented on #3040
As it turns out, I am now suspecting that the SxS modules have nothing to do with what is going on here. Having commented-out the SxS `<dependency>` element in my manifest, and copied the DLLs into the same directory as the EXE, I still get `HOST_E_INVALIDOPERATION` (0x80131022). I suspect that something else in CoreCLR has changed, but have no idea what.

[2016-02-05 20:41] wjk opened #3047 "Cannot load CoreCLR.dll"
I am currently trying to debug a nasty problem in my CoreCLR GUI app (private repo). See #3040 for background. `coreclr.dll` is being found and loaded successfully, but when I call `ICLRRuntimeHost2::Start()` I always get HRESULT `HOST_E_INVALIDOPERATION`. No matter what I do, I cannot get that function call to succeed. However, an older version of this code loads CoreCLR just fine. In addition, h

[2016-02-05 20:41] wjk commented on #3040
Closing in favor of #3047, which illustrates the problem I am currently having in a clearer way.

[2016-02-05 20:41] #3040 closed

[2016-02-05 20:42] wjk commented on #3047
My environment is Windows 10 x64, with Visual Studio 2015, if you're wondering.

[2016-02-05 20:42] janvorli commented on #1664
@adityamandaleeka It seems there is a problem with child processes. With your scheme, a child process launched by the managed process won't see the parent process environment changes, while it should inherit them.

[2016-02-05 20:46] stephentoub commented on #1664
At least for processes launched via Process.Start, we already pass the current environment variables down:
https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/Process.Unix.cs#L301
https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/ProcessStartInfo.cs#L88

[2016-02-05 20:48] janvorli commented on #3047
@wjk Would you be able to create a simple repro for the issue (where the app code would contain just an attempt to initialize coreclr)? If you shared that with me (ideally as a zip with all the files in folders where you want to have them), I can take a look at that on Monday.

[2016-02-05 21:11] AndyAyersMS opened #3049 "windows debug rebuilds may cause linker crashes"
If you build x64 debug on windows, then modify some .cpp file and rebuild, you may see the linker crash. This is evidently will be fixed in VS2015 Update2, but for now, we should either disable /guard for debug builds, or disable incremental linking.

[code]

[2016-02-05 21:12] #2968 closed

[2016-02-05 21:23] wjk commented on #3047
Of course! How do you want it sent to you?

[2016-02-05 21:29] wjk commented on #3047
I have prepared a zip file of my application’s full built products. These are the exact files that I am using that exhibit this issue. (Even though this is my real app’s code, the reason why I can share it as-is is because the app itself hasn’t been written yet; all that has been implemented currently is a testing scaffold.)

Run the `EnvMgr.exe` file within the zip file > build directory. The PDB

[2016-02-05 21:55] tmds commented on #2466
Might be relevant here. I recently had some issues using docker with coreclr where processes were hanging and showed up as '<defunct>'. This turned out to be a bug in docker which was fixed in v1.10.

[2016-02-05 22:29] LLITCHEV commented on #2985
@janvorli Would it be interesting to see how much delay is introduced by the O1 v. O2 optimization options on clang and the extra code introduced by the DEBUG ifdef? If it is not a big thing to get these, I think it might give interesting clues...

[2016-02-05 23:51] RussKeldorph opened #3054 "[JitStress=2] JIT/Regression/CLR-x86-JIT/V1.2-Beta1/b178119/b178119/b178119.exe Assert failure"
x64 checked OSX
COMPlus_JitStress=2

https://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/x64_checked_osx_jitstress2_rc2_tst/6/testReport/

MESSAGE:
BEGIN EXECUTION /Users/dotnet-bot/j/workspace/dotnet_coreclr/x64_checked_osx_jitstress2_rc2_tst/bin/tests/Windows_NT.x64.Checked/Tests/coreoverlay/corerun b178119.exe Assert failure(PID 92218 [0x0001683a], Thread: 35438731 [0x21cc08b]): PTR_VOID(pRD-

[2016-02-06 00:04] RussKeldorph commented on #2920
This appears to repro on Windows, so removing Linux label.

https://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/x64_checked_windows_nt_jitstress1/15/testReport/junit/JIT/_Directed_StructPromote_SP1a2_SP1a2_/_Directed_StructPromote_SP1a2_SP1a2_cmd/
https://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/x64_checked_windows_nt_jitstress2/8/testReport/junit/JIT/_Directed_StructPromote_SP1a2_SP1a2_/_D

[2016-02-06 00:12] RussKeldorph commented on #2534
Have repros under JitStress now.

JitStress=1
https://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/x64_checked_windows_nt_jitstress1/15/testReport/junit/JIT/_Performance_CodeQuality_Serialization_Deserialize_Deserialize_/_Performance_CodeQuality_Serialization_Deserialize_Deserialize_cmd/

JitStress=2
https://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/x64_checked_windows_nt_jitstress2/8/testRep

[2016-02-06 00:14] RussKeldorph commented on #2534
@sivarv: hoping you can quickly assess whether this is a Test Issue.  If not, feel free to re-assign for full investigation.

[2016-02-06 00:15] sivarv commented on #2921
Repro is a case of casting address of a local to float.  importer detects that address of local could be considered as TYP_I_IMPL instead of TYP_BYREF.  Essentially front-end produces

GT_CAST(float<-- long, GT_ADDR(lcl var))

Begin Note:
Front-end ensures that there is never a GT_CAST node with an operand of gc-type, because emitter cannot handle casting away gc-ness.  For this reason, fgMorphCas

[2016-02-06 00:17] sivarv commented on #2534
This test needs to be excluded from jitstress=1/2 runs as Jitstress could induce GS check that will disable tail calls.

[2016-02-06 02:45] wjk opened #3057 "CoreCLR Loading Fails on 1.0.2-prerelease"
I was trying to get my Core GUI app (private repo) to run, and it could not load CoreCLR. (See #3047 for details.) However, if I remove my SxS setup (see #3040 for more details on that), `ICLRRuntimeHost2::Start()` still fails. The only way I can successfully load CoreCLR is to use version `1.0.1-beta-23225`. I have not been able to get version `1.0.2-prerelase` to load successfully _at all_. Does

[2016-02-06 04:47] krytarowski commented on #810
98% and 6 local patches

TODO:
- port nongnu libunwind to NetBSD

[2016-02-06 07:05] jkotas opened #3058 "impErrorTrap macro does not catch exceptions on Unix"
Repro:

[code]

[code]

Actual result on Unix: `E_FAIL while compiling My.Main`
Expected result as on Windows: No errors

[2016-02-06 07:06] jkotas commented on #3058
The problem is that the impErrorTrap macro in the JIT is not catching expected internal exception. @janvorli Could you please take a look?

[2016-02-06 17:51] gkhanna79 commented on #3047
Can you point me to the zip?

[2016-02-06 18:17] jkotas opened #3064 "Remove useless security checks"
Investigate why the original fix caused spurious out of memory exceptions and remove it again:

https://github.com/dotnet/coreclr/pull/3027
https://github.com/dotnet/coreclr/pull/3063

[2016-02-06 18:20] mikedn commented on #1270
Maybe @AndyAyersMS would be interested in looking at this. Not necessarily at the inlining decision itself which shouldn't be a problem to fix but at propagating the "no return" information from the inlinee compiler to the inliner. No return methods should be `InlineDecision::NEVER` but the "no return" reason should also be recorded so it can be used by the inliner for future optimizations.

[2016-02-06 19:29] wjk commented on #3047
@gkhanna79 Interestingly, I solved this on my end last night. The problem was twofold: One, placing `coreclr.dll` in an SxS assembly doesn’t work; two, there seems to be a bug in 1.0.2-prerelease that prevents its loading with or without an SxS assembly. (I filed #3057 for that latter issue.) I ended up solving the problem by removing the SxS module entirely, and configuring CoreCLR to look for DL

[2016-02-06 19:54] omariom commented on #1270
Would be nice to have an attribute  with which we could mark  methods. It would require verification that a marked method either throws or calls FailFast.
Then JIT could optimize code around the call site, as if it were a throw statement, and probably move it to the end of the caller.

@mikedn Is that what you mean with 'no return methods'?

[2016-02-06 19:56] omariom commented on #1270
Recent [PR on the subject](https://github.com/dotnet/coreclr/pull/2836/files#diff-9b1ba7621cca34c6666a4bb2e87b4794R381).

[2016-02-06 19:59] ayende commented on #1270
Isn't that what [MethodImpl(MethodOptions.NoInlining)] for?
What is the purpose of this attribute you are suggesting?

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Sat, Feb 6, 2016 at 9:54 PM, OmariO <notifications@github.com> wrote:

[2016-02-06 20:07] krytarowski commented on #2910
Upstream version of the LLVM libunwind has been ported (but not tested) to NetBSD

[2016-02-06 20:16] krytarowski commented on #810
LLVM libunwind builds on NetBSD

[2016-02-06 20:42] jasonwilliams200OK commented on #2910
:+1:
Just tried https://github.com/llvm-mirror/libunwind HEAD on NetBSD7, now it builds! :smile:
Need to make libunwind.h visible for CoreCLR.

Thanks @krytarowski for porting LLVM libunwind. At some point nognu-libunwind (aka HP libunwind) can also be ported.

[2016-02-06 20:45] AndyAyersMS commented on #1270
Yes, I intend to look at inlining in exceptional contexts. I've seen a number of examples where I think the jit inlines too much along paths leading to exceptions.

Declaring or deducing that a method is `no return` is an interesting idea, though I can't say if we have all the runtime guarantees and compiler machinery necessary to make safe and effective use of this information.

@ayende `Noinlini

[2016-02-06 22:00] ayende opened #3065 "Access violation exception when building Kestrel"
I'm trying to build Kestrel, specifically this version:
https://github.com/aspnet/KestrelHttpServer/commit/fa181819c1c97620d930b3006d529a2b83675815

When running the build.cmd command, it runs for a while, and then I get this error:

[code]

And looking into the debugger, we have:

[code]

This is 100% reproducible on my machine.

[2016-02-06 22:03] gkhanna79 commented on #3047
I am not sure what you mean by SxS assembly. Can you please elaborate?

This is the expected design. CoreCLR will only search folder specified by the property above to look for PInvoke target module resolution. How are you building and executing your app? With .NET CLI, this shouldnt be an issue for you.

[2016-02-07 00:32] jkotas opened #3068 "Revert temporary instumentation in native image loading"
Revert https://github.com/dotnet/coreclr/pull/3062 once the intermittent out of memory exceptions are understood

[2016-02-07 02:07] gkhanna79 commented on #3049
Closing since fixed.

[2016-02-07 02:07] #3049 closed

[2016-02-07 02:08] gkhanna79 opened #3069 "Enable incremental linking with CFG"
Essentially, undo the change required for https://github.com/dotnet/coreclr/issues/3049 once VS comes out with the fix.

[2016-02-07 04:14] wjk commented on #3047
SxS assemblies are [described on MSDN here](https://msdn.microsoft.com/en-us/library/windows/desktop/ff951640(v=vs.85).aspx). In addition, I understand that the `NATIVE_DLL_SEARCH_DIRECTORIES` value is the expected design; I spent a not-insignificant amount of time beating around the bush and ignoring the solution right in front of my nose.

Finally, I am not using .NET CLI because I am writing a

[2016-02-07 05:20] matty-hall commented on #1376
Small update here -- I found another issue here when you create a custom attribute that contains a property/field of an enum type whose underlying type is IntPtr or UIntPtr (things work fine for bool/char enums).  The CLR crashes when a call to GetCustomAttributes tries to fetch such an attribute.

The behavior leads me to believe that the text I quoted above about support for IntPtr/UIntPtr enums

[2016-02-07 07:07] ellismg commented on #3065
@jkotas @JohnChen0

The AV is in coreclr!ExternalMethodFixupWorker

[code]

Specifically, here:

https://github.com/dotnet/coreclr/blob/release/1.0.0-rc2/src/vm/prestub.cpp#L1871

The AV happens while trying to do the dereference for `pSignatures[index]`.  This is the most recent build of RC2.  I'm on Windows 10.

[2016-02-07 07:21] jkotas commented on #3065
This should be fixed by #3059 and other native image related fixes that I have made in last day.