[2016-02-07 07:21] jkotas commented on #3068
Fixed by https://github.com/dotnet/coreclr/pull/3071

[2016-02-07 07:21] #3068 closed

[2016-02-07 07:34] sejongoh commented on #2580
The test was added by #3048.

[2016-02-07 07:34] #2580 closed

[2016-02-07 08:05] ellismg commented on #3057
I assume you are talking about the Microsoft.DotNet.CoreCLR package on the [dotnet-core](https://dotnet.myget.org/gallery/dotnet-coreclr) feed?

The packages on that feed are very old and out are no longer updated.  You should be using packages from the [dotnet-core](https://dotnet.myget.org/gallery/dotnet-core) feed.  You'll find newer versions of the 1.0.1 package you were using there.  Are you

[2016-02-07 09:53] mikedn commented on #1270
@omariom

Moving to the end is not very useful. The real advantage of having "no return" information is avoiding unnecessary register moves/saves. See the following example (adapted from `List<T>`'s indexer):
[code]
Code generated for Test:
[code]
Because the JIT compiler thinks that `ThrowArgumentOutOfRangeException` returns it has to save `ecx` and `edx` so they don't get killed by the call. And

[2016-02-07 10:30] omariom commented on #1270
@mikedn
I think JIT even today  could treat the methods that unconditionally throw as  moral throw equivalents.
If the call site is not impacted by servicing updates, of course.

btw, is servicing updates   a concern in CoreCLR?

[2016-02-07 10:32] ayende commented on #1270
@OmariO what does it mean, service updates? Service packs?

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Sun, Feb 7, 2016 at 12:30 PM, OmariO <notifications@github.com> wrote:

[2016-02-07 11:02] omariom commented on #1270
@ayende
I meant to say servicing update )

If understand it correctly because of them JIT (which does NGEN as well) is restricted in some optimizations it can do. For example, when a sealed  method   becomes unsealed or when unconditionally throwing method start throwing conditionally.

[2016-02-07 19:39] janhenke commented on #623
I think this issue is of no further use. Closing it now.

[2016-02-07 19:39] #623 closed

[2016-02-07 20:14] wjk commented on #3057
@ellismg And you would be correct. The only reason I used that feed at all was because I needed PDBs for `coreclr.dll` to help debug my problem, and that was the only place I could find them. However, I have since solved the original problem, and ceased usage of these deprecated packages. Is it OK to close this issue?

[2016-02-07 20:17] ellismg commented on #3057
Sound good.  I will bug folks to see what the plan on symbols is, we should have a better story than what you had to deal with.

[2016-02-07 20:50] #3057 closed

[2016-02-08 06:28] kferrio commented on #480
*Some of the observations in this post are strongly dependent on multiple moving targets. I'm posting this in case it helps anyway.*

A couple more observations on the (actually not at all hellish) `find` command by @ellismg ...

Let's use a modified command to see what's going on:

`find ../packages/ -path '*/netcore50/*.dll' -print`

(N.B. the `-wholename` option is deprecated in favor of the mo

[2016-02-08 09:35] janvorli commented on #3047
@wjk I am glad to hear that you've managed to solve the issue. Since it is clear what was going on, I don't think I need the package.

[2016-02-08 13:09] janvorli commented on #3058
The reason why the impJitErrorTrap doesn't process the exception is that the exception is not thrown as PAL_SEHException. It is thrown at ZapSig::EncodeMethod src/vm/zapsig.cpp:1167 using the ThrowHR function. And this function uses EX_THROW which in turn uses plain throw. In our case, it throws HRException.
The impJitErrorTrap installs an exception filter, but that works for PAL_SEHException only

[2016-02-08 17:59] gkhanna79 commented on #3015
Package generation support added for the open build.

[2016-02-08 18:05] gkhanna79 opened #3077 "Unify PackageTaskDir across Windows/non-Windows builds"
Once Windows uses .NETCore MSBuild, unify PackageTaskDir usage. See https://github.com/dotnet/coreclr/pull/3043 for context.

[2016-02-08 18:06] gkhanna79 opened #3078 "Alleviate the need to have two mscorlib.dll in CoreCLR Nuget package"
This is required for Nuget rails verification, so we should figure out how to avoid this if we can help.

[2016-02-08 18:07] gkhanna79 opened #3079 "Enable CoreCLR nuget package generation for CentOS"

[2016-02-08 18:07] gkhanna79 opened #3080 "Generate Arm64 nuget package for CoreCLR"
This should also fix build TODOS before generating the nuget package

[2016-02-08 18:27] sergiy-k commented on #2980
Hi @mogarick, would you be OK with closing this issue since you opened a corresponding issue in corefx (https://github.com/dotnet/corefx/issues/5858)? Thank you.

[2016-02-08 20:18] janvorli commented on #2985
Fixed by #3033

[2016-02-08 20:18] #2985 closed

[2016-02-08 20:42] RussKeldorph opened #3085 "Build break on non-Windows if Mono not installed"
build.sh now has a dependency on Mono.  Without it, the non-Windows build will fail with the following.

  /bin/sh: 3: /tmp/tmp21cf5dbdf36948e8b3a4aaeb74ac2ff9.exec.cmd: resgen: not found

This fails even if `skipmscorlib` is passed to build.sh.  The `skipmscorlib` option should either be removed or made to work.  Please at least use this issue to fix that, even if you decide the Mono dependency i

[2016-02-08 21:15] BruceForstall commented on #3058
Should EX_THROW call RaiseException instead?

[2016-02-08 22:08] jkotas commented on #3058
EX_THROW throws a typed C++ exception. It is a macro wrapper for `throw new MyException()`. There are similar EX_XXX macros wrappers for catching exceptions as well - that allow work as one would as one would except: allow catching exceptions of particular type, etc.

RaiseException can only throw exceptions of fixed "type", so it would not be a straightforward conversion.

We should be working to

[2016-02-08 22:13] #2744 closed

[2016-02-08 22:16] briansull opened #3089 "Recursive implementation of Compiler::gtSetListOrder can cause StackOverflow during JIT"
This impact Arm64 debug builds, possibly other debug builds as well.

Two tests fail due to a stack overflow while walking a GT_LIST expression with more than 8000 arguments.

abovestacklimit.exe_5814
abovestacklimit.exe_5839

[2016-02-08 22:22] gkhanna79 opened #3090 "MScorlib builds depends upon Mono"
Looking into Mono's resgen invocation, it is getting invoked from GenerateSplitStringResources task in <repo_root>\src\mscorlib\GenerateSplitStringResources.targets.

This should be fixed to use dotnet-resgen to alleviate the additional Mono dependency. As part of fixing this, please remove the Mono check from build.sh

[2016-02-08 22:46] mogarick commented on #2980
Hi @sergiy-k
Of course there's no problem. I wanted to close it by myself but I didn't find out how.

[2016-02-08 23:01] briansull opened #3092 "ARM64: Improve encoding selection for CodeGen::instGen_Set_Reg_To_Imm"
For some large negative constants (and other cases) we can encode the constant using fewer instructions than we currently use.

[2016-02-08 23:09] briansull commented on #3092
For example the constant 0xffff ff29 406b 2a1b can be encoded using three instructions, provided we start by using a movn instruction.

Generating: N041 (  1,  1) [000047] -------------             *  const     long   0xffffff29406b2a1b REG x8 $c5
IN000f:             movn    x8, #0xd5e4
IN0010:             movk    x8, #0x406b LSL #16
IN0011:             movk    x8, #0xff29 LSL #32

[2016-02-08 23:33] sergiy-k commented on #2980
Thank you, @mogarick! Please feel to re-open the issue if needed.

[2016-02-08 23:33] #2980 closed

[2016-02-08 23:37] #2920 closed

[2016-02-09 00:35] sivarv commented on #2969
Investigation reveals that this is the same issue as #2757  i.e. returning a struct in two registers and the second field is a gc-ref and not reported properly in gc-info.

The test is a case of invoking 5 different methods that return a struct (SimpleStruct) containing two fields: an int and an object-ref.  With JitStress, Main method becomes fully interruptible exposing the gc-hole.

[2016-02-09 00:35] #2969 closed

[2016-02-09 03:02] ellismg commented on #3090
I am going to fix this.

[2016-02-09 03:24] stephentoub commented on #2952
cc: @terrajobst

Thanks for the comments, @agnauck.

Stream in mscorlib has these methods as an implementation detail to remain consistent with other copies of mscorlib and to support other platforms where these are still exposed publically, but they don't exist in other versions of Stream, like the one used for CoreRT (https://github.com/dotnet/corefx/blob/master/src/System.IO/src/System/IO/Strea

[2016-02-09 04:26] jkotas commented on #2944
The code has logic that is supposed to “fix” this problem but this logic is not reliable – it just reduces frequency of the bug: https://github.com/dotnet/coreclr/blob/master/src/classlibnative/bcltype/decimal.cpp#L115

The proper way to fix this would be to normalize the decimal before computing the hashcode.

[2016-02-09 04:43] krytarowski commented on #810
With this #3095  we build 98% of the upstream version - without local patches (except wchar_t #2937 and build.sh arguments passed to the CMake call #3076 ). Till #3020

[2016-02-09 06:28] gkhanna79 commented on #3085
Fixed with https://github.com/dotnet/coreclr/issues/3086

[2016-02-09 06:28] #3085 closed

[2016-02-09 08:26] zpodlovics commented on #1270
@mikedn
@dsyme

Please do NOT remove throw only methods because F# already use it in  [<NoDynamicInvocation>]  implementations.

According to the language spec (3.1) [<NoDynamicInvocation>] means:

When applied to an inline function or member definition, replaces the generated code with a stub that throws an exception at runtime. This attribute is used to replace the default generated implementati

[2016-02-09 08:58] dsyme commented on #1270
@zpodlovics That's not quite accurate - the F# compiler does it's own inlining on the actual implementation of these pseudo-methods which are known only to the compiler - so it's still correct for RyuJIT to avoid inlining them

[2016-02-09 11:31] aviviadi opened #3098 "NotFound pkgs on 'dotnet restore' (or dnu restore)"
With the following dependencies in project.json :
[code]
when I perform dotnet (dotnet-nightly from yesterday), or using dnu restore, there are many NotFound packages:
[code]
and obviously as a result my compilation fails.

I do able to compile successfully if I 'dnu restore' using :
[code]

So, moving to dotnet cli and the new packages is impossible.
_Problem found on Ubuntu 14.04 (and I saw also

[2016-02-09 14:01] shahid-pk commented on #3098
package names that include AspNet  name have been renamed to AspNetCore in place AspNet.
see this announcement https://github.com/aspnet/Announcements/issues/144
You can take clues from these samples https://github.com/aspnet/cli-samples

[2016-02-09 14:10] agnauck commented on #2952
@stephentoub I mostly agree with you.
I forgot to mention that I work with NetworkStream and SslStream. For those streams in high performance environments APM is a very common pattern. Because they are just wrappers around async socket API.

When I use the TaskToApm functions you linked above I get deadlocks. Maybe related to this:
https://github.com/dotnet/corefx/commit/1c5957c4e80a140a92a1b4d11b

[2016-02-09 14:14] stephentoub commented on #2952
Can you share a repro?  Please open a separate issue in the corefx repo related to that, and we can help investigate.

If performance is critical to you, you don't want to use the socket's APM implementation, either... you want to use the SocketAsyncEventArgs-based APIs that let you reuse the same instances without doing a bunch of allocations on each operation.

[2016-02-09 14:42] aviviadi commented on #3098
Thanks for your reply.
I've change to AspNetCore.. still getting :
`
info :   NotFound https://www.myget.org/F/aspnetcidev/api/v3/flatcontainer/microsoft.framework.configurationmodel/index.json 989ms
info :   NotFound https://api.nuget.org/v3-flatcontainer/microsoft.aspnetcore.hosting.abstractions/index.json 972ms
info :   NotFound https://api.nuget.org/v3-flatcontainer/netstandard.library/index.j

[2016-02-09 15:04] shahid-pk commented on #3098
did you tried the samples for cli-samples repo ?

[2016-02-09 17:34] sivarv commented on #1358
@CarolEidt - this bug is fixed and can be closed?

[2016-02-09 17:37] dls314159 commented on #480
@kferrio

Have you gotten a working HelloWorld using locally built dependencies?

I'm working through the instructions from [building/linux-instructions.md](https://github.com/dotnet/coreclr/blob/master/Documentation/building/linux-instructions.md), and I think I have a totally disorganized, wholly terrible set of notes that worked for me.

The dependencies were the hardest part, and some of the f

[2016-02-09 17:56] CarolEidt commented on #1358
Yes, it was fixed in the CodeGen branch and migrated along with the other changes on December 11, https://github.com/dotnet/coreclr/commit/121d095ed0b0076fb1c7ff59e6446fd19d506b32

[2016-02-09 17:56] #1358 closed

[2016-02-09 18:45] eerhardt opened #3101 "Seg Fault in ETW::MethodLog::MethodJitted on Ubuntu"
The https://github.com/dotnet/cli build is currently broken on Ubuntu because of a seg fault.

When I attached a debugger, I got the following stack trace:

[code]

To repro:

- git clone https://github.com/dotnet/cli.git
- cd cli
- ./build.sh

There will be a compile error of the form:

[code]

if you run that command `/home/.../bin/dotnet "compile-csc" @".../dnxcore50/dotnet-compile.rsp"` in a l

[2016-02-09 18:46] piotrpMSFT commented on #3101
/cc @joshfree @sergiy-k can you please help us route this?

[2016-02-09 19:09] cdmihai opened #3103 "CoreClr should provide a way to retrieve the verbatim command line string"
MSBuild currently relies on receiving the verbatim string from the command line so it can interpret it itself. In the full framework it used [Environment.CommandLine](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Environment.cs#L338) to obtain this string.

CoreClr changes the command line string (e.g. it removes un-escaped quotes) and thus breaks behaviour in MSBuild.

For

[2016-02-09 19:15] kferrio commented on #480
Yes, I did have HelloWorld built and running...until a few days ago when I
got latest. These are early days and my notes are in flux also. Thanks for
sharing your deps.; I also have some extras and have not systematically
trimmed them. Thanks!

@kferrio <https://github.com/kferrio>

Have you gotten a working HelloWorld using locally built dependencies?

I'm working through the instructions from bu

[2016-02-09 20:36] briansull opened #3104 "ARM64: Assertion failed in VM: 'pSlot >= pRD->SP'"
Failure when a GC is triggered:

Stack traceback:
CORECLR! GcInfoDecoder::IsScratchStackSlot + 0x7C (0x00007ffd`fd5fa32c)
CORECLR! GcInfoDecoder::ReportSlotToGC + 0xFC (0x00007ffd`fd5fa7b4)
CORECLR! GcInfoDecoder::EnumerateLiveSlots + 0xEB4 (0x00007ffd`fd5f95ec)
CORECLR! EECodeManager::EnumGcRefs + 0x300 (0x00007ffd`fd305018)
CORECLR! GcStackCrawlCallBack + 0x254 (0x00007ffd`fd2f630c)
CORECLR! Thr

[2016-02-09 20:37] briansull commented on #3104
The following 24 tests are failing:

149926.exe_2587
289745.exe_2588
302560.exe_2589
544701.exe_2593
arraygetlength.exe_285
arraysetvalue2.exe_326
b26496.exe_5716
b309539.exe_5727
b539509.exe_5737
delete_next_card_table.exe_5838
largeobjectalloc.exe_2577
largeobjectalloc2.exe_2578
test.exe_3559
test1.exe_3569
_dbglcs.exe_3581
_dbglcs.exe_4681
_dbglcsbas.exe_3583
_dbglcsmax.exe_3585
_rellcs.exe_359

[2016-02-09 20:40] piotrpMSFT commented on #3101
Thanks for assigning. This issue is currently blocking CLI CI builds.

[2016-02-09 20:51] janvorli commented on #3101
This looks like the same as #5780 which I have failed to reproduce.

[2016-02-09 20:53] eerhardt commented on #3101
My machine repros it in the CLI build one in every two or three runs.

[2016-02-09 21:00] briansull opened #3105 "ARM64: Unhandled Exception: System.Exception: nan ble nan"
Stack trace:

Unhandled Exception: System.Exception: nan ble nan
   at JitTest.Test.RunTests(Single nan, Single plusinf, Single zero, Single minusinf)
   at JitTest.Test.Main()

[2016-02-09 21:02] briansull commented on #3105
The following 8 tests are failing due to this issue:

comp32_il_d.exe_4452
comp32_il_r.exe_4453
comp64_il_d.exe_4454
comp64_il_r.exe_4455
cond32_il_d.exe_4456
cond32_il_r.exe_4457
cond64_il_d.exe_4458
cond64_il_r.exe_4459

[2016-02-09 22:46] piotrpMSFT commented on #3101
@janvorli this repros on at least one flavor of Linux for every CI build of CLI awaiting merge. I also have a fairly stable repro on an Ubuntu14.04 VM if that helps.

[2016-02-09 23:52] swaroop-sridhar commented on #3034
These tests passed with @LLITCHEV's changes in https://github.com/dotnet/coreclr/pull/3094.
So, closing this issue as a duplicate of #2757

[2016-02-09 23:52] #3034 closed

[2016-02-10 00:01] hughbe opened #3109 "Initializing a class with static members depends on ordering. (throws TypeInitializationException)"
Hi, I'm not sure if this is the right place for this (maybe dotnet/roslyn makes more sense).

I encountered the following code that *really* stumped me. The following code crashes with a TypeInitializationException, if you follow the comments below.

[code]

I think this is because members are initialized in order of appearance, since, if I move `s_hexUpperChars` above where `HexEscapeCharsToStrin

[2016-02-10 00:11] jkotas commented on #3101
The crash happens at the following line in eventtrace.cpp because of g_pDebugInterface is null:

[code]

The crash happens during process shutdown. We have executed TerminateDebugger that clears `g_pDebugInterface`, but there are still other threads running in the process that may be accessing it.

[2016-02-10 00:13] jkotas commented on #3101
So there are really two problems:
- Why is this expensive logging turned on by default on Unix? It does not look like the results are actually logged.
- The logging has races with shutdown that can lead to crash.

[2016-02-10 00:14] piotrpMSFT commented on #3101
@jankotas what controls logging on Unix? I can check if our build scripts are setting the flag...

[2016-02-10 00:16] jkotas commented on #3101
It seems to be unconditionally hardwired to be on in src\inc\eventtracebase.h:
`#define ETW_TRACING_CATEGORY_ENABLED(Context, Level, Keyword) (TRUE)`

[2016-02-10 00:16] piotrpMSFT commented on #3101
ok. We'll try out a fix once ready :)

[2016-02-10 00:19] jkotas commented on #3101
cc @ramarag @brianrob Could you please take a look at this? It is crash in the Unix event tracing during shutdown.

[2016-02-10 00:54] briansull commented on #3032
Fixed with PR #3106

[2016-02-10 00:54] #3032 closed

[2016-02-10 01:18] #2921 closed

[2016-02-10 01:25] jkotas commented on #3103
The verbatim command line string is Windows-specific feature. It does not exist on Unix.

If you need this, you can just P/Invoke to GetCommandLineW when you are running on Windows...

[2016-02-10 01:26] jkotas commented on #3103
cc @pallavit

[2016-02-10 01:47] jkotas commented on #3101
#3110 should mitigate this crash. Leaving this open to implement the proper fix.

[2016-02-10 02:04] bthomp2420 opened #3111 "AccessViolation inside of StubHelpers::ProcessByrefValidationList"
We have run our internal tools with COMPlus_InteropValidatePinnedObjects enabled for quite some time in an attempt to catch some elusive managed heap corruption related crashes.  It turns out that when we updated all of our workstations to .NET 4.6.1 over the weekend (previously 4.5.2), we began hitting wide-spread crashes inside of the following stack:

clr! 	SVR::seg_mapping_table_segment_of
clr

[2016-02-10 02:09] pallavit commented on #3103
@cdmihai   The following link has the review discussion where we chose not to expose Environment.CommandLine - https://github.com/dotnet/apireviews/blob/175fbe079d8190b3e1b617693863358cdae00162/2015-10-30_misc/README.md

As @jkotas mentioned it was primarily not exposed due to x-plat concerns.

[2016-02-10 02:41] bthomp2420 commented on #3111
I also posted this issue to [MSDN](https://social.msdn.microsoft.com/Forums/vstudio/en-US/9ce8a36b-d23b-4f5f-bf51-59f921f069cf/complusinteropvalidatepinnedobjects-regression-in-net-461?forum=clr)

[2016-02-10 02:54] mikedn commented on #3109
Yep, Roslyn would make more sense, the runtime can't automagically fix broken code produced by the user/compiler.

How would the compiler know that a TypeInitializationException would be thrown at runtime?

What's a "constructor for the static property"?

[2016-02-10 03:37] jkotas commented on #3111
@Maoni0 Looks like a bug with seg_mapping_table_segment_of that was introduced not too long ago...

[2016-02-10 03:40] vors commented on #673
@mikem8361 any luck with it?

btw, converted sos plugin docx file to md https://github.com/dotnet/coreclr/pull/3097

[2016-02-10 06:29] bthomp2420 commented on #3111
Note: I don't believe it is a bug with seg_mapping_table_segment_of since the same bug manifested with an exception from ValidateObject

COR_E_EXECUTIONENGINE -- `StubHelpers::ValidateObject'::`1'::catch$1()

[2016-02-10 07:18] aviviadi commented on #3098
I used the cli-samples NuGet.config.  Now everything back to normal with 'dotnet' cli.
Thanks for the help shahid-pk.

[2016-02-10 08:06] aviviadi commented on #3098
Sorry, I thought it was good.
It seems it is narrowed to kestrel related missing packages..
My NuGet.config :
`<add key="AspNetCI" value="https://www.myget.org/F/aspnetcidev/api/v3/index.json" />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet-core" value="https://www.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="dotnet-cli" value="https:/

[2016-02-10 08:13] weshaggard commented on #3057
@ellismg even if we were to unlist the package that wouldn't stop anyone from directly querying for that package at it would still work. unlisting only removes it from the full package query list but people can still get it directly if they reference the specific version.

[2016-02-10 10:13] shahid-pk commented on #3098
the package is Microsoft.AspNetCore.Server.Kestrel , you missed the core in the name  :+1:

[2016-02-10 10:14] shahid-pk commented on #3098
and this issue belongs to aspnet/home repository :smile:

[2016-02-10 11:20] aviviadi commented on #3098
`Unable to load package 'Microsoft.AspNetCore.Server.Kestrel'.... `
Maybe I should ask : **how can I print which packages are included in a specific feed ?** (and by that leave the issue here ;) )

[2016-02-10 12:47] krytarowski commented on #3020
This has been fixed in pkgsrc-wip https://wip.pkgsrc.org/cgi-bin/gitweb.cgi?p=pkgsrc-wip.git;a=commitdiff;h=63c5b19c6edfc12e7b9ee2e3eaa59e59a741c509

I will cleanup and upstream this today.

[2016-02-10 12:49] jasonwilliams200OK commented on #3020
@krytarowski, congrats! I just read your PTL bit, but not sure where it is going to get incorporated. Will watch out for you PR. :+1:

[2016-02-10 16:37] bthomp2420 commented on #3111
Update: We have deployed a change to our internal tools that disables the COMPlus_InteropValidatePinnedObjects option and are no longer seeing wide-spread crashes across our tools. (confirming that .NET 4.6.1 currently has a bug related to that option when ServerGC is enabled... disabling ServerGC also seemed to work around the crash but I don't have 100% confirmation on that)

[2016-02-10 17:33] cdmihai commented on #3103
Apparently it is possible to get this info on Linux and OSX:
http://stackoverflow.com/questions/821837/how-to-get-the-command-line-args-passed-to-a-running-process-on-unix-linux-syste
http://superuser.com/questions/27748/how-to-get-command-line-of-unix-process

Don't know if it is the raw command line though it looks like it.

[2016-02-10 17:48] jkotas commented on #3103
This won't help you to solve the problem with custom escape processing.

The string you will get via this method will have the exact same arguments as what is returned by GetCommandLineArgs() - except that they will be in one long string, separated by spaces.

The command line escaping/expansion on Unix is done by shell only (and the rules differ from shell to shell). The "create process" system c

[2016-02-10 18:56] gkhanna79 commented on #1934
We have CoreCLR repo generating nuget packages for Windows/OSX/Ubuntu.

[2016-02-10 19:41] Maoni0 commented on #3111
This is not a bug in seg_mapping_table_segment_of, but most likely it's something that needs to be fixed in the verification code to accommodate the new way of finding segments. I already have a bug on this but haven't fixed yet since it's only in verification code. I will make a fix soon. Of course feel free to send me a (full memory) dump so I can verify for you that this is indeed what I am thi

[2016-02-10 19:45] bthomp2420 commented on #3111
Unfortunately, I don't believe I can provide a minidump at this time without reproducing the bug with a contrived bug repro case.  The main point I was attempting to make is that I believe that the individual threads completing a PInvoke are able to add pointers to values passed in by-ref in parallel with the background GC thread performing verification.

There is currently no thread safety in the

[2016-02-10 19:46] bthomp2420 commented on #3111
For example, the address of an object that was passed down to seg_mapping_table_segment_of was something like 0x0000000000003ffff or something in a clearly non-addressable memory range.

[2016-02-10 19:57] Maoni0 commented on #3111
It has nothing to do with background GC thread safety. the verification code should not pass addresses to seg_mapping_table_segment_of that are out of the range the table covers. They should be filtered first. You don't need to have background GC enabled to repro this. The callstack you showed above was not from a background GC thread.

[2016-02-10 21:04] swaroop-sridhar opened #3116 "GitStress: Crash in ldloca_s_r4"
[code]

[2016-02-10 21:52] pallavit commented on #3103
That is correct. Since, you seem to require this support only on Windows as @jkotas suggested it would be best to take dependency on GetCommandLineW directly.

[2016-02-10 21:56] pallavit commented on #3103
dotnet/apireviews/pull/19

[2016-02-10 23:00] bthomp2420 commented on #3111
I am certainly not an expert though in the coreclr so I'll leave it up to you...

It still very much looks to me to be a race condition between calls to ValidateByRef and ProcessByRefValidationList considering the repro rate of this is incredibly low and it appears in nearly 100% of the crashes that 1 thread is in the middle of processing the list while another thread is in the middle or at the en

[2016-02-10 23:06] sivarv commented on #3116
Issue #2921 appears to similar to this one.  I have checked-in a fix for issue #2921 02/09 around 5pm.  @swaroop-sridhar  -  Does this gc-stress run include that fix?  If not it might be a good idea to verify against the latest bits.

The only difference this issue has from #2921 is additional JitStressRegs=1 setting.  If this issue still repros even while running against the fix to #2921, it mean

[2016-02-10 23:08] hughbe commented on #3109
I've migrated this to dotnet/roslyn, so I'll close this now

[2016-02-10 23:08] #3109 closed

[2016-02-10 23:09] swaroop-sridhar commented on #3116
No, I started the run yesterday afternoon, so it did not include #3108.
Will retry with latest changes.

[2016-02-11 00:16] krytarowski opened #3123 "Tests falling on NetBSD"
The first ever run of: `runpaltests.sh` on NetBSD.

[code]

[code]

[code]

Building from `pkgsrc-wip/coreclr-git` commit `3492ec31a4058f35142fe3f15c093cb15a0898bb`

Tested with 13 local draft patches:

[code]

[2016-02-11 00:37] jasonwilliams200OK commented on #3123
Congrats on 88% of pal tests result! :D

[2016-02-11 03:12] krytarowski opened #3125 "NetBSD buildslave?"
We are already building 100% CoreCLR, 100% CoreFX, 100% CoreRT via pkgsrc-wip/NetBSD.

We are passing almost 90% of PAL tests (https://github.com/dotnet/coreclr/issues/3123)

I think it's about right time to plan NetBSD build machine. What are the requirements for one?

[2016-02-11 03:40] swaroop-sridhar commented on #3116
Yes, this test passed with #3108.

[2016-02-11 03:40] swaroop-sridhar commented on #3116
So, this is a dup of #2921

[2016-02-11 03:40] #3116 closed

[2016-02-11 08:30] AndyAyersMS opened #3128 "Running crossgen with complus_ngendump set causes assert in CRT"
On windows, checked build, using `COMPlus_NgenDump` with crossgen of mscorlib.dll

![image](https://cloud.githubusercontent.com/assets/10121823/12971996/3a1c4100-d056-11e5-930d-07bd41b3420b.png)

Call stack is:
[code]

Normal JITDUMP output is fine so it's the direct `fprintf` here (attempted to `stdout`) that cause the assert.

[2016-02-11 10:23] agnauck commented on #2952
I will run more test of my code to verify where the problem exactly is. Also run a test with the "full" .NET framework 4.6. If there is a problem in corefx I will provide a test case.

correct. We have to reconsider the whole design. If it comes to performance its 1) SocketAsyncEventArgs 2) APM 3) TAP.

[2016-02-11 10:26] rohitshrivastava04 opened #3129 "Support on CentOS 7.1"
In our organization, we are planning to develop our next big project on .Net Core and deploy on Linux. As of now its supported only on ubuntu. One thing which I am keen to know is when is the target to support coreclr on CentOS.

Can anyone tell me where is the CentOS support on the roadmap?

[2016-02-11 11:24] agnauck commented on #2952
#https://github.com/dotnet/corefx/issues/6036

[2016-02-11 12:35] rominator1983 opened #3130 "Backward compat issue using RyuJIT"
It seems that the issue found at https://connect.microsoft.com/VisualStudio/Feedback/Details/1602437 has not been addressed at the moment. Attached there are some simple repro-files.

Can anyone confirm that this issue is either fixed or still present?

kind regards

[2016-02-11 14:56] gkhanna79 opened #3131 "PDB Generation for Crossgen"
We need to determine what it means to have PDB/symbol support for crossgen compiled assemblies as part of the open build.

[2016-02-11 17:12] RussKeldorph commented on #3131
@gkhanna79 @johnchen0 Please keep @kyulee1 and me in the loop on your plans.  We have a similar PDB problem with #2982, though our needs may only overlap if you're going to support /CreatePDB.  At any rate, we should try to share if we can.

[2016-02-11 17:16] redknightlois commented on #3130
It is still there... it is a codegen issue.

This is simplier (less variables repro).
[code]
The issue is caused by improperly tracking the correct register to send to the Console.WriteLine call.

Codegen error:
[code]

Now this is the correct code:

[code]

Notice in the failure case the JIT is optimizing away the move of the data to the ecx register (correct is in the edx register), which means

[2016-02-11 18:10] stephentoub commented on #2952
Thanks.

[2016-02-11 18:10] #2952 closed

[2016-02-11 18:10] anurse opened #3133 "Embed version number information in native libraries"
The Windows Native libraries produced by the CoreCLR build (`coreclr.dll`, `mscordaccore.dll`, etc.) all have easy ways to retrieve their version information (because they embed a Windows Version Resource, so `filever` can be used to get their version info).

However, as far as I can tell this is not true of Linux/Mac OS X binaries. It would be really useful if the version data were embedded someh

[2016-02-11 18:37] AndyAyersMS opened #3134 "more clearly separate out or hide inlining provisional state in jit dumps"
During inlining, the jit dump becomes hard to read. Information about prospective inlines (and their possible inline candidates) gets interleaved with information about ongoing compilation of the root function. The jit may do a fair amount of work with substantial amounts of dump output before an inline fails and the whole thing is tossed out. Most developers probably don't care to see any of this

[2016-02-11 19:01] jasonwilliams200OK commented on #3129
@rohitshrivastava04, see
https://github.com/dotnet/coreclr/blob/master/README.md#build-status
CoreCLR  and CoreFX builds on many Linux including CentOS, Red Hat Linux, Fedora, openSUSE and Ubuntu. You can even download the installer for CentOS7.1 from CLI repo https://github.com/dotnet/cli#installers.

[2016-02-11 19:49] mikedn commented on #3130
I can't seem to reproduce this issue in the current CoreCLR build. The generated code is:
[code]

Unlikely, store forwarding should take care of that.

[2016-02-11 20:19] redknightlois commented on #3130
I am not at the office now but I think i have run that on the latest build. But may have run it in x86 rc- update1 if I made a mistake.

[2016-02-11 22:55] adityamandaleeka commented on #1664
@janvorli I've opened a PR for this change, and I verified that `Environment.SetEnvironmentVariable` followed by `Process.Start` does work as expected and fills in the child process's native environment block properly.

[2016-02-11 22:56] redknightlois opened #3141 "[Question] Where do I report a VS2015 CoreCLR tooling bug?"
I found a bug in the Solution Explorer using CoreCLR. Visual Studio 2015 wont show any file which has the form ```Filename.*.cs``` but CoreCLR will compile them.

Where do I report that?

[2016-02-11 22:57] janvorli commented on #1664
@adityamandaleeka ok, thanks for verifying it!

[2016-02-11 22:59] benaadams opened #3142 "System.Buffers "like" type, or .ctors taking buffers"
To allow buffer pooling at coreclr level.

For example 30k of `StreamReader`s allocates a fair bit for both `char[]` and `byte[]`

![streamreader](http://aoa.blob.core.windows.net/aspnet/streamreader.png)

[2016-02-11 23:10] benaadams opened #3143 "[CallerMustBeUnsafe] type attribute"
To mark a function to be only be able to be called in an unsafe block.

It came up as an issue with having an `IntPtr` based api for `Vector.Copy` be equally could apply to something like a .ctor where you are passing an internal buffer to use (e.g. https://github.com/dotnet/coreclr/issues/3142)

Or risk of use of buffers with overlapped I/O tasks and dispose https://github.com/dotnet/corefx/pull/

[2016-02-11 23:13] redknightlois commented on #3130
@mikedn Looking at that code, there is no call there to Console.WriteLine() therefore you wont see the issue. The issue is the optimization that happens right before the call (passing parameters to ```Console.WriteLine(arr[I]);```).

On the other hand, unless I have understood it unproperly (article is detailed but not so easy to follow), the penalty even with store forwarding is 5 clock ticks aga

[2016-02-11 23:15] #2189 closed

[2016-02-11 23:49] jkotas commented on #3143
This is what security transparent vs. security critical code has been about...

[2016-02-12 00:07] benaadams commented on #3143
I might have missed it then; but what I am suggesting is something where .ctor 2 is forced to be `unsafe` in the same way .ctor 3 is:
[code]
e.g.
[code]

[2016-02-12 00:19] jasonwilliams200OK commented on #3133
:+1:

On this note; [pkg-config](http://people.freedesktop.org/~dbn/pkg-config-guide.html) is a handy tool dealing with package configuration, including how to link libraries, etc. If CoreCLR libraries had a .pc file installed with it, then linking would be something like:

[code]

on all systems that it installs on, which would make using it somewhat simpler.

cc @krytarowski

[2016-02-12 00:22] #2970 closed

[2016-02-12 00:24] krytarowski commented on #3133
How about just simple `what(1)`? It will work without linker magic. We just need to embed a static ID string in the binary, for example:

[code]

[2016-02-12 00:31] sivarv commented on #2334
@richardlford - Assigning it to you as this test needs work as mentioned above.

[2016-02-12 00:32] jasonwilliams200OK commented on #3141
Maybe roslyn?

https://github.com/dotnet/roslyn/labels/Area-IDE

[2016-02-12 00:36] bthomp2420 commented on #3111
I believe i was able to repro the exact conditions and will hopefully be able to produce a simplified version of the crash.

[2016-02-12 00:41] sivarv opened #3144 "Avoid marking tmp as DoNotEnregister in tmp=GT_CALL() where call returns a struct in two return registers"
Right now codegenxarch.cpp is implemented with the assumption that the tmp to which struct returned in two registers is assigned does not live in a register.  For example, when a call returns Vector3/4, we will have a tmp = call(), where tmp is of SIMD12/16 type and can be allocated a register.  In this case it will lead to better code quality if codegen directly generates reg-to-reg moves instead

[2016-02-12 01:28] hoyMS commented on #2478
I saw different asm dumps with up-to-date CHK build:

Amd64:
[code]

x86:

[code]

[2016-02-12 01:30] stephentoub commented on #2184
Thanks for your thoughts, @GSPP.

I'm going to close this out.  We can certainly revisit the PLINQ max again if it really starts to be a blocker for someone.

[2016-02-12 01:30] #2184 closed

[2016-02-12 02:16] benaadams opened #3147 "Can QueueUserWorkItemCallback be pooled?"
They don't seem to be particularly exotic consisting of only 3 fields; is fairly local/contained type
[code]
Could be returned to pool at end of `QueueUserWorkItemCallback::IThreadPoolWorkItem.ExecuteWorkItem`

Feature high in plaintext allocations (+41MB/s)

![QueueUserWorkItemCallback](http://aoa.blob.core.windows.net/aspnet/QueueUserWorkItemCallback.png)

Higher when pipelining

[2016-02-12 03:01] briansull opened #3151 "ARM64: assert: regRec->assignedInterval->isActive == false'"
The following 3 tests fail due to this assert:
sp2a.exe_3095
sp2b.exe_3096
sp2c.exe_3097

This occurs when the second half of a 16-byte struct is being passed in registers and the second register is still active

[2016-02-12 03:02] stephentoub commented on #3147
I'm not sure about them being pooled, but I expect some of the cost could be trimmed off in the common case.  With CoreCLR, that ```context``` field will typically be ```ExecutionContext.Default```; with some refactoring, I expect the type could be split into two types, one with and one without the context field.  Rather than just doing ```new QueueUserWorkItem(...)``` and having it use ```Executi

[2016-02-12 03:03] krytarowski opened #3152 "warning: reference to compatibility time(); include <time.h> for correct reference"
[code]

[code]

[2016-02-12 03:06] krytarowski commented on #3152
[code]

[2016-02-12 03:16] krytarowski commented on #3152
[code]

[2016-02-12 03:48] bthomp2420 commented on #3111
Okay, I have been able to repro the issue with a simplified application.  I do concede that what I am observing in the debugger appears to indicate that the critical section that is being entered is also waiting on the GC so it isn't a race condition as it appeared to be.

The main factors that seemed to trigger this:
* Must be a pinvoke with a ByRef parameter
* Cannot use MarshalAs (had to modify

[2016-02-12 06:09] mikedn commented on #2478
@hoyMS Those dumps are from a run with JIT optimizations disabled. I can still see the issue in the current build if JIT optimizations are enabled:

[code]

[2016-02-12 06:12] mikedn commented on #2478
In the linear IR dump it can be seen that this ordering is generated by the importer:
[code]

[2016-02-12 06:34] mikedn commented on #3130
Even if I add back Console.WriteLine I still can't reproduce the problem:

[code]

I'm not saying that the redundant load has no cost, it's just that store forwarding should avoid the full cost of a "true" data hazard. It really depends what you mean by data hazard, if you include all read-after-write scenarios or only those where store forwarding is blocked due to whatever reasons (alignment, mis

[2016-02-12 07:49] manu-silicon opened #3154 "Missing -d and -v options on Linux"
It seems that the -d and -v options (available on Windows) are missing on Linux. Shouldn't they be there as well to ensure consistency between platforms?

[2016-02-12 08:33] rominator1983 commented on #3130
Thanks for looking into this! I appreciate it!

[2016-02-12 08:41] rominator1983 opened #3155 "ThreadAbortException caught without rethrow?"
Hi,

Colleagues of mine had an isse with a ThreadAbortException (used heavily in ASP.NET)
The exception was caught in a catch-block "catch (ThreadAbortException)". As you know the exception has to be rethrown by the runtime after the finally block even if there is no "throw;"-statement in the catch-block.

This happened with a C#6-build, 64-bit Architecture (don't know if build-setting or runtime-

[2016-02-12 08:43] rominator1983 commented on #1358
Hi.

Can you tell me, when this will be available via Windows update for client/servers operating systems? It is kind of hard to check out how all the current issues get to production/rollout.

kind regards

[2016-02-12 09:43] MichaelKetting commented on #3155
Standard release build, AnyCPU, 64-bit AppPool

We haven't done a repro yet outside of IIS, so no idea if it is a general platform compatibility problem or isolated to IIS-hosted applications.

Best regards, Michael

[2016-02-12 16:15] omariom commented on #3147
May be it is time  to make `IThreadPoolWorkItem` public or create it's public equivalent?
Then `state` could be carried by the implementers. Pooling could be possible as well.
And in case `context` is null  or `ExecutionContext.Default` it wouldn't be necessary to wrap the provided workitem.

[2016-02-12 16:35] omariom commented on #3134
:+1:  because I quite often just do Ctrl+F "inlin".

[2016-02-12 17:30] ericeil commented on #3147
I don't think these can be pooled without some changes to the work queue implementation, which does a bunch of crazy lock-free stuff that assumes object identity is a good proxy for work item identity.  If it suddenly became true that a given object may now represent many different workitems, depending on when you observe it, then we'd be likely to have a long tail of subtle issues where we fail t

[2016-02-12 20:27] mikedn commented on #2478
In importer.cpp around line 11393 there's this code:

[code]

If `CHECK_SPILL_NONE` is changed to `CHEK_SPILL_ALL` then the generated code changes to
[code]

The comment claim that such out of memory exceptions are async seems odd.

[2016-02-12 20:51] briansull commented on #2816
Fixed with PR #3153

[2016-02-12 20:51] #2816 closed

[2016-02-12 21:22] hoyMS commented on #2478
@mikedn could you please let me know how you reproed? Here is what I did under a CHK environment.

csc test.cs /o+ /debug-
set complus_jitdiasm=Program:Test
test.exe

[2016-02-12 22:45] mikem8361 commented on #2672
PR #3159 addresses this issue.

[2016-02-12 22:45] #2672 closed

[2016-02-12 23:12] gregg-miskelly opened #3164 "libcoreclrtraceptprovider aborts if multiple instances load"
In debugger scenarios, there can be multiple copies of the PAL loaded into the same process. When this happens, the second copy will fail to register and then abort.

`ret = lttng_probe_register(&_TP_COMBINE_TOKENS(__probe_desc___, TRACEPOINT_PROVIDER));`
`       if (ret) {`
`              fprintf(stderr, "LTTng-UST: Error (%d) while registering tracepoint probe. Duplicate registration of tracepoi

[2016-02-12 23:18] gregg-miskelly opened #3165 "dbgshim should be removed from the CoreCLR nuget package"
The CoreCLR nuget package currently includes [lib]dbgshim.[dll/so/dylib] with it. This file is only used by debuggers, and isn't tightly coupled to the target CoreCLR. So this should be moved to its own NuGet package that clrdbg (the .NET Core debugger) can depend on, and no one else needs it.

[2016-02-12 23:39] #2937 closed

[2016-02-12 23:39] #2910 closed

[2016-02-12 23:40] brianrob commented on #1837
This has been fixed in LTTng 2.7 and worked around in the CI.

[2016-02-12 23:40] #1837 closed

[2016-02-13 01:32] morganbr commented on #3143
I like this for a couple reasons:
1. It can be a compile-time check with no runtime overhead (though that means you'd need to re-file this in https://github.com/dotnet/roslyn) -- this is especially important for runtimes like .NET Native and CoreRT that don't implement transparent/critical code.
2. It makes it clear that even if you're not directly using pointers, what you're doing isn't safe.
3.

[2016-02-13 01:36] benaadams commented on #3143
@morganbr refiled here if you want to add your comment there? https://github.com/dotnet/roslyn/issues/8663

[2016-02-13 01:36] #3143 closed

[2016-02-13 01:46] jasonwilliams200OK opened #3168 "gen-dactable-rva.sh does not print to dactablerva.h"
@mikem8361,

We are getting build breakage at 99% on NetBSD due to the gen-dactable-rva.sh not writing define statement to dactablerva.h.

Investigated further and found the term g_dacTable doesn't exists in libcoreclr.so, but there are couple of g_dac available when searched with this command:

`grep -C 1 g_dac /tmp/pkgsrc-tmp/wip/coreclr-git/work/coreclr/bin/obj/NetBSD.x64.Debug/src/dlls/mscoree

[2016-02-13 02:17] Petermarcu commented on #3025
This is a totally valid request and is something we are exploring actively.

[2016-02-13 03:29] erozenfeld commented on #3130
I checked and I get the same correct code as @mikedn with current CoreCLR sources.

[2016-02-13 03:41] erozenfeld commented on #3130
@redknightlois Can you please specify what version of RyuJit you used to get the incorrect code? The bug mentioned in connect was fixed both on desktop and the current CoreCLR. Here are the KBs for desktop updates including the fix for this issue:

https://support.microsoft.com/en-us/kb/3088955 - Hotfix rollup 3088955 for the .NET 4.6 on Windows Server 2012 and Windows 8
https://support.microsoft.

[2016-02-13 04:05] redknightlois commented on #3130
@erozenfeld Yes I will check on monday. The machine is an upgraded Windows 10, but I am pretty sure it was a CoreCLR. As I mentioned it could have been an update1 because I was doing some tests on it.

[2016-02-13 04:17] redknightlois commented on #3130
@erozenfeld No need to wait to monday until I get to the office :) ... I reproduced it at home, the error manifests in a CoreCLR x64 RC1 Update1 instance (not in x86).

Latest unstable RC2-16357 generates the proper code. You can close as fixed IMHO.

[2016-02-13 04:24] erozenfeld commented on #3130
@redknightlois The fix was ported to CoreCLR in https://github.com/dotnet/coreclr/commit/121d095 post RC1 so what you see is expected.

[2016-02-13 06:57] mikedn commented on #2478
@hoyMS I used a debug build of CoreCLR, just updated my fork again to be sure that I have the latest.

[code]

Apparently you tested with the desktop .NET Framework since you ran the exe directly, without using corerun. Maybe this was fixed in the desktop version but the fix is yet to make it to CoreCLR? But that doesn't explain how you got debug code, `/o+` should have resulted in optimized code.

[2016-02-13 10:31] mikedn commented on #2478
Speaking of optimized code: the reason this issue is not seen when optimizations are disabled is likely due to the different IL generated by the C# compiler and not due to some reordering made by the JIT when optimizations are enabled.

IL with /o-
[code]
IL with /o+
[code]

[2016-02-13 12:41] OtherCrashOverride commented on #2443
Has there been any progress on this?  I am particularly interested in:

[2016-02-13 13:14] OtherCrashOverride commented on #3025
I think its important to clarify the part that is NOT being said and that is this is a request to make CoreCLR a replacement for Mono.
[code]

This mean adding back in things like the global assembly cache (GAC).  Without a GAC, you are right back in the situation of having multiple copies of private .dlls for every non core library.  With CoreCLR being "core", its of very limited use without addi

[2016-02-13 16:17] snuxoll commented on #3025
@OtherCrashOverride - Java doesn't have a GAC yet we support multiple JAR versions quite nicely by using shim scripts that modify the CLASSPATH. Many distributions don't even support installing multiple versions of libraries in the first place (debian and derivatives being notable exceptions) - I don't see a reason this needs to be handled by the runtime.

[2016-02-13 16:49] #3130 closed

[2016-02-13 17:57] mikedn opened #3169 "RyuJIT reassociates expressions in a way that sometimes prevents LICM"
Consider the following sample
[code]
The RHS of `+=` is invariant but JIT's `fgMoveOpsLeft` changes the code to `sum = (sum + x1 * y1) + x2 * y2` and generates the following code:
[code]
Usually such reassociation is a good thing because it minimizes register usage but in loops it can have the opposite side effect.

[2016-02-13 19:52] redknightlois commented on #3141
Closing, reposted at Roslyn.

[2016-02-13 19:52] #3141 closed

[2016-02-13 20:13] redknightlois commented on #2591
+1 on this... making generic numerical libraries even if you need to use T4 scripts to write the code and the dispatching code would be doable with this optimization.

[2016-02-13 20:24] mikedn commented on #2591
Some stuff that would help such libraries already works (though not to well but that's a separate issue). I think it would be useful if you could provide some examples that add value to the optimizations that are discussed here.

[2016-02-13 20:35] redknightlois commented on #2591
Sure, I had to dig a very old code (pre CoreCLR) and it looks like this. Eventually I just moved into a different direction; but mostly because performance was not good.

https://github.com/redknightlois/cudalearn/blob/8e3ffb58d75ec593397ec1a43de59b6fc0548a88/CudaLearn/Matrix%601.cs#L336

[2016-02-13 20:46] mikedn commented on #2591
Hmm, I haven't tested your code but it's likely that it already works as expected. The presence of the `T epsilon` parameter forces the JIT to generate different code for `Equals(Matrix<float>, Matrix<float>, float>)` and `Equals(Matrix<double>, Matrix<double>, double>)`. As a result, comparisons like `typeof(T) == typeof(float))` become constants and they and the associated dead code are eliminat

[2016-02-13 21:00] redknightlois commented on #2591
Worth taking a look into that. But there are many cases where there is no ```T epsilon``` parameters.

Like:
https://github.com/redknightlois/cudalearn/blob/8e3ffb58d75ec593397ec1a43de59b6fc0548a88/CudaLearn/Matrix%601.cs#L366

[2016-02-13 21:10] omariom commented on #2591
@redknightlois
[code]
Luckily exactly for such cases JIT can avoid boxing in `(T)(object)`.

[2016-02-13 21:15] redknightlois commented on #2591
Nice!! This was some old code I ended up rewriting differently to avoid, among other things, the boxing and dispatch cost. Definitely it is worth to retest this on RyuJIT and see how it fares. I found more than a few cases lately where RyuJIT just blows the LegacyJIT out of the water.

[2016-02-13 21:23] mikedn commented on #2591
That likely works as well. Even if there's no T parameter that method is a member of `Matrix<T>` and a `T` may be used somewhere in the method (and actually it is used). As a result the JIT has little choice but to generate an unshared instantiation and that's what makes expressions such as `typeof(T) == typeof(float)` constant.

[2016-02-13 21:49] OtherCrashOverride commented on #3025
http://branchandbound.net/blog/java/2015/09/java-module-system-first-look/

[2016-02-13 22:47] AndyAyersMS commented on #2478
Another thing to watch for is that the CSCs in VS2013, VS2015, and VS2015 Update 1 can produce different IL for the same C# compilation. @mikedn if you have a repro it might be good to share the assembly you've build so we can be sure we're all looking at the same thing.

[2016-02-13 23:22] snuxoll commented on #3025
@OtherCrashOverride Classpath/DLL hell is caused by poor package management, an issue that is not present on the intended target systems. Supporting something similar to soname's used my ldd would be nice to allow compat libraries to exist, but that's the furthest I'd go with extending the runtime. The GAC is designed to solve a problem that exists within Windows, and I don't see .Net Core replaci

[2016-02-14 01:36] krytarowski commented on #3168
I'm working on it. Yes, `g_dacTable` is unavailabl in `libcoreclr.so` - I'm investigating it.

[2016-02-14 01:52] OtherCrashOverride commented on #3025
If the target system is GNU/Linux based, "dll hell" is very much alive, well, and thriving there.  Mesa proves this daily.

There is no correlation between CoreCLR using a GAC and it replacing .Net runtime on Windows as proven by Mono on Windows.  The GAC as implemented by Mono is a simple file structure.  Nothing scary or fearful about it.  When Mono is embedded in an application, the GAC file st

[2016-02-14 01:58] krytarowski commented on #3168
It looks like the symbol is present in `cordbee_wks` but once linked into `liboreclr.so` it's hidden or dropped.

[2016-02-14 02:15] jasonwilliams200OK commented on #3168
It looks like this note is related:
https://github.com/dotnet/coreclr/blob/c4a0fb1/src/dlls/mscoree/coreclr/CMakeLists.txt#L62-L87

\# order dependent and changing the order can result in undefined symbols in the shared
\# library.

Although we haven't changed the order; one major difference is that we are using llvm libunwind on NetBSD, instead of HP libunwind.

[2016-02-14 02:40] krytarowski commented on #3168
I have got a working patch. I'm going to prepare Pull-Request soon. Thanks @brucem for pointing out what's wrong.

[2016-02-14 07:19] mikedn commented on #2478
@AndyAyersMS I created a gist with an IL version of the code that should contain all the necessary information: https://gist.github.com/mikedn/13227e51058fbe52f064

While working on it I discovered that JIT optimizations do affect the order, the exact same optimized IL results in different ordering of the calls depending on ILASM's `/debug` option. Since ILASM doesn't change the IL it remains that

[2016-02-14 08:01] mikedn commented on #2478
This doesn't happen when JIT optimizations are disabled because in that case the JIT automatically spills the stack at callsite boundaries, this ensures that `BuildContent` is called first.

[code]

[2016-02-14 09:22] benaadams commented on #2430
Need to remeasure post https://github.com/dotnet/coreclr/pull/3118

[2016-02-14 09:32] mikedn commented on #2430
Yeah, I love how a change was sneaked in without any reference to a existing long discussion about the affected piece of code :grinning:

[2016-02-14 10:07] elw00d opened #3174 "FileNotFoundException: Could not load file or assembly 'System.Runtime' in Ubuntu 15.10"
Tried to `dotnet run` for hello-world app (from https://dotnet.github.io/getting-started/ guide). Build was successfull, but execution has failed with error:

[code]

Version of dotnet was 1.0.0.001331-1

[2016-02-14 11:20] aviviadi commented on #1192
Hi,
I tried building coreclr on Rasperry Pi 2 (armv7l) + Ubuntu 14.04.
Building coreclr and corefx on the Pi were successfully built (urcu patch is no longer required, and the Ubuntu's c compiler had to be upgraded, etc).
mscorlib was created under windows machine (built for "arm").
The helloworld program just contained "return 42". No console stuff of any kind.

Executing corerun with the hellowo

[2016-02-14 13:05] jkotas commented on #2430
#3118 was @geoffkizer suggestion that I just helped to happen, so it did not immediately occur to me to link it to this one as I was typing the commit description ... sorry about that. Geoff is analyzing performance of the whole .NET Core server stack.

[2016-02-14 17:09] krytarowski opened #3178 "Add NetBSD version of CLI"
@ellismg FYI

[code]

What are the next steps to add NetBSD there?

[2016-02-14 17:54] krytarowski commented on #3123
[code]

[code]

[code]

[2016-02-14 18:50] ellismg commented on #3178
We have to have a working CoreFX and CoreCLR before we can add things.  Is all the native code in CoreCLR and CoreFX building cleanly yet?  Do the CoreCLR pal tests pass?

[2016-02-14 19:57] jasonwilliams200OK commented on #3178
I don't think this makes any sense at this point. CoreCLR master does not build on NetBSD without patches at this point, 20% PAL tests are still failing when build CoreCLR with patches, the entire managed side of CoreFX (aka .NET Core BCL) is yet to be ported and CoreFX System.Native still have one final patch (in addition to couple of already opened PRs).

[2016-02-14 21:47] krytarowski commented on #3178
93 PAL tests to go

[2016-02-14 22:47] krytarowski opened #3180 "alloca(3) usage warning"
[code]

Part of `/usr/include/stdlib.h`

[code]

[code]

[code]

[2016-02-14 23:20] krytarowski commented on #3180
@jkotas have you got an idea how to address it?

[2016-02-15 00:55] krytarowski commented on #3180
[code]

The current usage `alloca`(3) is damaging stack and due to it tests are failing. For example the above diff code fixes:
- paltest_copyfilea_test1
- paltest_copyfilea_test2
- paltest_copyfilea_test3
- paltest_copyfilea_test4

[2016-02-15 00:57] krytarowski commented on #3180
I roughtly iterated over other failures and they are due to stack corruption as well.

[2016-02-15 00:59] krytarowski commented on #3180
Replacing `alloca`(3) right now with `VLA` isn't trivial - as there are like 300 uses in the code base.

[2016-02-15 02:04] krytarowski commented on #3180
I will try to define `alloca` as `PAL_alloca`

[2016-02-15 02:54] jkotas commented on #3180
I think `alloca` needs to get defined as `__builtin_alloca` - either directly or indirectly - to make things work.

[2016-02-15 03:42] ellismg commented on #3178
FYI, when you have native CoreFX and CoreCLR building, the best way to work around the bootstrapping problems with the CLI is to set `BUILDTOOLS_OVERRIDE_RUNTIME` to a folder that contains all the native code you've built (for both CoreFX and CoreCLR).  `init-tools.sh` will use this folder to stomp over all the native CLR bits after restoring a toolset, which will let you replace the linux binarie

[2016-02-15 03:46] ellismg commented on #3129
@leecow can comment on behalf of Microsoft's support promises around CentOS.  However, I can say that from an engineering standpoint CentOS 7 as a high priority target.  We get coverage per PR and per merge in CI, produce nuget packages with CentOS bits in them and the dotnet CLI also produces releases for CentOS.  If you find CentOS specific issues, we would love to hear them.

[2016-02-15 03:54] ellismg commented on #3125
Do you know if it's possible to run NetBSD in Azure?  I know FreeBSD is support and I've seen a few references to a Google Summer of Code project to get NetBSD in Azure as well, but I'm not sure what the status is.

If this is supported, that makes things a lot easier because we already have a well defined system for using Azure resources in our CI system.  If we would need to host something ourse

[2016-02-15 04:56] RussKeldorph commented on #3169
@dotnet/jit-contrib discuss

[2016-02-15 05:24] rominator1983 commented on #3130
Thanks for the information on that one.

[2016-02-15 05:26] rominator1983 commented on #3130
When will that hit the market? Any KB-number or .NET Version number?

[2016-02-15 06:01] erozenfeld commented on #3130
@rominator1983 I provided KB numbers for hotfixes for each OS in one of my previous comments here. Is that what you are asking?

[2016-02-15 06:37] EricLagergren commented on #2135
fwiw it compiles properly with clang 3.7.1 on x64 linux 4.4.1

[2016-02-15 09:25] benpye commented on #3154
Since the Unix style API is exposed everywhere, it might make sense to move away from the Windows specific corerun/coreconsole in favour of the xplat versions, and then there would be no difference in features between the two.

[2016-02-15 11:04] krytarowski commented on #3180
I'm running out of ideas. I will try to rename all instances of `alloca(` to `_alloca(` -- and define `_alloca(` for !`VistualStudio` as `__builtin_alloca`.

[2016-02-15 11:19] myungjoo opened #3182 "libcoreclr.so incurs segmentation faults with glibc 2.21"
Environment: Linux / ARMv7l (please disregard the date/time.)
I'm based on cb1effac01239c3af46a1d3917fb60f70b18b757.

[code]

ti->ti_module is supposed to be a value near 0 (around 0 ... 16 or so).
It appears that ClassLoader::LoadTypeHandleForTypeKey_Body() is somehow screwing with the TLS in ARM/Linux..

Any thoughts on this issue?

The disassembled libcoreclr.so nearby (in LoadTypeHandleForType

[2016-02-15 11:24] krytarowski commented on #3178
Thank you for tips -- I will try to make use of them.

[2016-02-15 11:24] krytarowski commented on #3152
Closed via #3149

[2016-02-15 11:24] #3152 closed

[2016-02-15 11:25] krytarowski commented on #3020
Closed via #3149

[2016-02-15 11:26] #3020 closed

[2016-02-15 11:31] krytarowski commented on #3125
At the moment there is no Azure support. I don't know who to talk in Microsoft/Azure-team to get one. I don't know the technology -- it would be nice to get a reference implementation.

I saw a reference to OpenBSD and FreeBSD port.

Regarding packages -- I think it's best to wait for the beginning of April to get `pkgsrc-2016Q1` out. I will push there `LLDB` and `LLVM libunwind`. Otherwise we wil

[2016-02-15 12:55] janvorli commented on #3180
How about just definining alloca as __buildint_alloca for non-windows? Then you would not have to rename the alloca everywhere.

[2016-02-15 13:38] coypoop commented on #3180
krytarowski did it (trying to define explicity alloca and _alloca as __builtin_alloca), but it resulted in the same issue with alloca.

[2016-02-15 17:11] rohitshrivastava04 commented on #3129
@jasonwilliams200OK at the suggested link (https://github.com/dotnet/coreclr/blob/master/README.md#build-status) I can see CentOS build status as unknown.

![image](https://cloud.githubusercontent.com/assets/3762001/13055437/31f4611a-d407-11e5-9cd5-220d9909870c.png)

[2016-02-15 17:54] benaadams commented on #3147
Closing, as resolved in a way.

[2016-02-15 17:54] #3147 closed

[2016-02-15 18:00] shahid-pk commented on #3129
@rohitshrivastava04  this is a point in time , this can happen to any os in ci. sometimes build breaks sometimes some pr that is not being merged yet has problems. you could try the dotnet/cli bits from its repo they have centos too i think. if that works fine you are good to go in my opinion. But if you want official Microsoft support (as in help support) you should wait for official reply.

[2016-02-15 19:52] jack-pappas opened #3184 "Add TryParse overloads accepting substrings"
With the current .NET APIs, there's no way to use the `TryParse` methods (e.g., for `Int32`, `Double`, `DateTime`) on just part of a `string` instance (a substring). The only way to implement such a thing using the current `TryParse` APIs is to first call [`String.Substring(int,int)`](https://msdn.microsoft.com/en-us/library/aka44szs%28v=vs.110%29.aspx) on the string to first extract the substring

[2016-02-15 20:33] hoyMS commented on #2478
@mikedn Sorry about the previous confusion. Here is the optimized code from desktop version with csc /o+ /debug-, which looks correct. I'll try coreclr.

[code]

[2016-02-15 21:01] mikedn commented on #2478
Yep, this one is correct. So the bug is probably fixed but the fix isn't yet in the coreclr repository.

[2016-02-15 21:22] dls314 opened #3186 "Building arm64 cross debug from ubuntu fails compiling gccover.cpp"
The instruction defines in gccover.h (https://github.com/dotnet/coreclr/blob/master/src/vm/gccover.h#L98-L105) used in gccover.cpp (https://github.com/dotnet/coreclr/blob/master/src/vm/gccover.cpp#L1135-L1147) cause compilation to fail because they are too large.

I'm not sure what the intent is here, but for what it's worth, I think that the comment is incorrect and these instructions would fall

[2016-02-15 21:36] jack-pappas commented on #3125
More info on NetBSD on Azure: [NetBSD/azure](https://wiki.netbsd.org/projects/project/netbsd_on_microsoft_azure/)

Porting CoreCLR to NetBSD is one thing, adding NetBSD to the CI build infrastructure is a different story. I think NetBSD will need to port some/all of the Hyper-V drivers over from FreeBSD so it can run on an Azure VM.

[2016-02-15 21:59] jasonwilliams200OK commented on #3168
Thanks @krytarowski for the fix! :tada:

[2016-02-15 21:59] #3168 closed

[2016-02-15 22:16] ellismg commented on #3174
Presently we only support Ubuntu 14.04.  Support for 15.10 for CoreCLR, CoreFX and CLI is on the roadmap, but not everything has landed yet.

[2016-02-15 22:16] ellismg commented on #3165
/cc @chcosta @gkhanna79

[2016-02-15 22:44] omariom commented on #3184
It is very likely that such methods will get overloads taking [Slices](https://github.com/dotnet/roslyn/issues/120).

[2016-02-15 22:56] krytarowski commented on #3125
https://wiki.freebsd.org/HyperV FreeBSD Virtual Machines on Microsoft Hyper-v

[2016-02-16 01:09] krytarowski commented on #3180
[code]

[code]

[2016-02-16 04:02] krytarowski commented on #3123
With fixed `alloca`(3)

[code]

[2016-02-16 05:39] manu-silicon opened #3190 "ildasm issue when loaded from PATH on Linux"
I've copied ildasm, libcoreclr.so and mscorlib.dll in a bin folder of my home directory and added it to my path (```/home/user/bin```):

[code]

When I execute ```ildasm``` directly as below, it gives a not so meaningful error message:
[code]

If I execute it with the explicit path, then it works just fine:
[code]

The issue seems to be in the unix core loader, and the usage of the GetAbsolutePath

[2016-02-16 05:43] manu-silicon commented on #3190
Found that the implementation of GetAbsolutePath relies on realpath which relies on the path existing, which is not the case when you get ilasm from the PATH environment variable.

[2016-02-16 09:51] aviviadi commented on #3182
also https://github.com/dotnet/coreclr/issues/1192#issuecomment-183875221

[2016-02-16 11:39] krytarowski commented on #3180
Fixed in #3189

[2016-02-16 12:15] shahid-pk commented on #1192
@aviviadi  official support for x86 and arm32 will come after version 1 release. The actual work required for arm32 and x86 is in ryujit. The current work on linux arm32 and aarch64 is mostly from community from @benpye  and @kangaroo , but now ryujit for aarch64 is mostly functional. as far as my limited understanding goes.

[2016-02-16 16:51] varocarbas commented on #3184
Not sure if I can propose this here (or only the .NET team can participate in the implementation of these proposals), but I wouldn't mind to take care of this functionality (in case of being accepted).

Note that I have recently been working on optimising the method which analyses the input strings to all the numeric-type Parse/TryParse. That's why I am quite familiar with this part of the code.

[2016-02-16 17:02] omariom commented on #3184
@varocarbas
Then you  probably will be interested in [this project in CoreFx Lab](https://github.com/dotnet/corefxlab/wiki/System.Text.Formatting). It is about efficient parsing and formatting.

[2016-02-16 17:11] varocarbas commented on #3184
@omariom Thanks for the info.

Just to clarify, I do have recent relevant experience in the exact part of code which takes care of what @jack-pappas  is requesting; at least for numeric types. That is: int.Parse/int.TryParse, decimal.Parse,ParseTryParse, etc. all their inputs are analysed by precisely this function (no experience in DateTime.Parse or others; although it should be quite similar).

[2016-02-16 17:19] rohitshrivastava04 commented on #3129
@shahid-pk I have never seen anything but unknown.

[2016-02-16 17:22] omariom commented on #3184
@varocarbas
System.Text.Formatting  is being developed in open. And it is not only about Datetime. So you can help with bug reports, implementing functionality, fixing bugs, improving performance etc.

[2016-02-16 17:30] varocarbas commented on #3184
@omariom  It sounds good. I will take a look. Thanks.

Do you know the answer to my doubt (= writing the code for an issue anyone vs. only the .NET team)? Or there is no general policy on this front?

[2016-02-16 17:33] shahid-pk commented on #3129
@rohitshrivastava04  may be the links to the ci jobs are broken(i am just speculating here) . Because on prs they are passing. look in any pending pr you will see.

[2016-02-16 17:43] shahid-pk commented on #3184
@varocarbas anyone can fix a bug or write code for any issue and propose their fix with a pr. Then the fix or pr is reviewed by team members , they will suggest some changes and ask you some questions if they don't understand the intents of your change. They will merge your pr/fix once every concern is tackled. This is a general workflow for some simple contributions they will just merge them.
 Th

[2016-02-16 17:50] varocarbas commented on #3184
@shahid-pk  Thanks for your answer.

So, I can go ahead and write a code implementing jack-pappas's suggestion (by assuming that he doesn't mind), submit a pull-request and wait for the .NET team decision. Right?

[2016-02-16 18:05] stephentoub commented on #3184
The process for adding new public APIs is outlined here:
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md

[2016-02-16 18:34] pallavit commented on #3103
@cdmihai Let me know if you see any issues with the suggested work-around else I will go ahead and close this bug.

[2016-02-16 18:45] JohnChen0 commented on #3128
Closed via #3179.

[2016-02-16 18:45] #3128 closed

[2016-02-16 19:59] shahid-pk commented on #3184
@varocarbas  as stephentoub (coreclr team member) pointed out if your change/pr  contains api's that are public you have to go through the process that he has provide link to and about wheather jack-pappas will mind or not only jack-pappas can answer.

[2016-02-16 20:55] varocarbas commented on #3184
Thanks to everyone for the answers.

I had a free a while and decided to go ahead and give it a shot. I have implemented and tested a first version for numeric types (i.e., working with one, but extending it to others wouldn't take more than 1 min., because all of them rely on the same methods). It follows the original structure perfectly, doesn't have any impact on performance (BTW, I have pulled

[2016-02-16 20:58] KKhurin opened #3194 "AV in coreclr!MarshalNative::GCHandleInternalGet"
This periodically happens on the desktop as well - GCHandle.Target does not seem to be thread safe when another thread calls Free. In particular we hit an AV in WCF stress:
[code]
Dumps/repros are available upon request.

[2016-02-16 21:32] LLITCHEV commented on #2349
This issue seems to stil repro for Issue #2510. Reopening it.

[2016-02-16 21:34] LLITCHEV commented on #2510
Still happens with the latest sources (as of 2/13/2016). Happens for System.Collections.Immutable.dll.

[2016-02-16 21:35] LLITCHEV commented on #2349
Still happens with the latest sources (as of 2/13/2016). Happens for System.Collections.Immutable.dll.

[2016-02-17 00:09] briansull commented on #2988
Fixed with PR #3153
Three of the tests now pass
25param2a_cs_r.exe_4195 (IL size 125)
 25param2a_cs_ro.exe_4196 (IL size 110)
 struct6_2.exe_3388 (IL size 142)

[2016-02-17 00:09] #2988 closed

[2016-02-17 00:48] krytarowski opened #3199 "Stack corruption with snprintf(3) and format %hu"
PAL tests fall down with

`src/pal/tests/palsuite/c_runtime/vsprintf/test11/test11.c`

with the following example call:

[code]

There is stack corruption here:
https://github.com/dotnet/coreclr/blob/master/src/pal/src/cruntime/printfcpp.cpp#L1822

[code]

[code]

I'm trying to determine what's going on.

[2016-02-17 00:49] krytarowski commented on #3199
Debugging on `NetBSD 7.99.26`

[2016-02-17 01:19] #3164 closed

[2016-02-17 02:16] swaroop-sridhar opened #3202 "Bench.asm.exe generated for a few benchmarks"
A few of the BenchF benchmarks generate a .asm.exe file in addition to .exe file
For example:
coreclr\bin\tests\Windows_NT.x64.Release\JIT\Performance\CodeQuality\BenchF\Adams\Adams\Adams.asm.exe
coreclr\bin\tests\Windows_NT.x64.Release\JIT\Performance\CodeQuality\BenchF\InvMt\InvMt\InvMt.asm.exe
coreclr\bin\tests\Windows_NT.x64.Release\JIT\Performance\CodeQuality\BenchF\LLoops\LLoops\LLoops.asm.e

[2016-02-17 02:29] AndyAyersMS commented on #3202
Suspect it's the
[code]
in the csproj that is the culprit. I don't think we need this. @kyulee1 do you agree?

[2016-02-17 02:52] krytarowski commented on #2834
How do you plan to handle cases like pkgsrc? It's the base package manager in SmartOS, NetBSD, Minix etc - it's released quarterly and it's detached from the base in regards of package versions/release plan.

For example `NetBSD 7.0` can be used with `pkgsrc-2015Q4` and soon `pkgsrc-2016Q1`. Will be there need to ship a matrix of `7.0-2015Q4`, `7.0-2016Q1`?

[code]

[2016-02-17 03:37] krytarowski commented on #3199
With the following patch I reduce the number of falling down tests (`alloca`(3) fixes for NetBSD locally committed) from ~63 to 7.

[code]

[2016-02-17 03:38] krytarowski commented on #3199
PAL test results with the above patch applied.

[code]

[2016-02-17 03:40] krytarowski commented on #3199
Now.. I don't understand what's and why wrong. Why `va_arg`(3) corrupts stack only for `"%hd"` / `"%hu"`, while all other (including `"%h"`) combinations work...

Have you got an idea @janvorli or @jkotas ?

Thank you for enlightening me.

[2016-02-17 04:12] krytarowski commented on #3123
[code]

Results with a draft patch from (`va_list`(3)) #3199 and for `alloca`(3) applied (#3189).

[2016-02-17 09:31] tmds commented on #2222
Nice article about porting: https://blogs.msdn.microsoft.com/dotnet/2016/02/10/porting-to-net-core/

Encountering a new porting issue:
[code]

Adding System.Net.NetworkInformation as a dependency gives me an error:
[code]
This is what I have in my project.json
[code]
How can I fix this?

[2016-02-17 09:56] rohitshrivastava04 commented on #3129
@shahid-pk sorry for my lack of understanding on the term prs, could you please tell me what is prs and point me the link so that I can explore more.

[2016-02-17 10:01] janvorli commented on #3199
Looking at the function that converts the formatting string, the "%h" seems to be replaced incorrectly just by "%", but even %h alone is an incorrect specifier. So it is not used in the formatting and that's likely the reason why it doesn't crash while the "%hd" / "%hu" do.

Could you please paste here the whole formatting string passed as the "format" parameter to the CoreVfwprintf function when

[2016-02-17 11:05] krytarowski commented on #3199
It crashes with the following example formatting strings:
- `"foo %hu"`
- `"foo %hd"`

[2016-02-17 11:09] krytarowski commented on #3199
While it works with `"foo %h"`, `"foo %d"`, etc. Please see the number of passed tests and their coverage.

[2016-02-17 11:37] MichaelKetting commented on #3155
That issue actually belongs to Roslyn (https://github.com/dotnet/roslyn), not the Core CLR.
I'll create one update here once we have a repro-sample available.

[2016-02-17 12:55] shahid-pk commented on #3129
pr means pull request.
i think you need to try some examples on centos and if they don't work you need to log issues for these specific scenarios.

[2016-02-17 13:36] rominator1983 commented on #1358
Sorry to bother you but is this problem fixed with .NET 4.6.1 ?

kind regards

[2016-02-17 13:49] rominator1983 commented on #3130
@erozenfeld yes that was what i was searching for. All but the last KB have to be installed manually, right?

[2016-02-17 14:07] myungjoo commented on #3182
Still has no clue on this, but, this disappears with DEBUG build. (getting another errors after that, but appears manageable and getting DEBUG build running is enough for now)

[2016-02-17 14:30] rominator1983 commented on #3155
I opened an issue https://github.com/dotnet/roslyn/issues/8800 since this is most likely not an RyuJIT/CoreCLR problem.

[2016-02-17 14:52] aviviadi commented on #1192
@shahid-pk I will have to wait then. Thank you for your answer.

[2016-02-17 14:57] janvorli commented on #3199
@krytarowski I have stepped through the code on Linux and I have not noticed anything suspicious, except for one thing that depending on the va_arg definition in the new clang might cause a problem. The code at line 1819 is asking for int parameter, while the actual one is short. Although I believe that shorts should be passed as 32 bit values on AMD64 too (and in this case, it should be passed in

[2016-02-17 15:36] sharwell commented on #3155
@rominator1983 At the point where the failure occurs, is the thread in an "abort requested" state?

[code]

I can't see how this would be a Roslyn issue. Nothing in the C# language specification points to the special behavior of `ThreadAbortException` which would normally lead me to believe it is a runtime issue. However, nothing in ECMA-335 specifies this behavior either, which would suggest the

[2016-02-17 15:50] MichaelKetting commented on #3155
@sharwell Since we could triage this to using/not-using the C#6 compiler, strange/weird as is it, yeah it does look like it is due to Roslyn.

That's interesting. I'll admit, I never read the standard, but if the MSDN is stating that ThreadAbortExceptions can't be caught (https://msdn.microsoft.com/en-us/library/system.threading.threadabortexception.aspx, "ThreadAbortException is a special excepti

[2016-02-17 16:30] varocarbas opened #3204 "Additional overloads in some System.Math methods to support more types"
`Math.Round` can only deal with `decimal` and `double` arguments, what is quite arbitrary as far as these functionalities might also be used with integer types (e.g., `int` or `long`). There is no difference between removing all the digits after 6 in 1.5658 and in 15658, but .NET treats both situations differently. In the first case, it is possible to use `Math.Round` right away; in the second cas

[2016-02-17 16:59] mjp41 opened #3206 "Make ConditionalWeakTable the same as in CoreRT"
There are several concurrency issues in the [ConditionalWeakTable](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Runtime/CompilerServices/ConditionalWeakTable.cs), these have been fixed in CoreRT's [ConditionWeakTable](https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/Runtime/CompilerServices/ConditionalWeakTable.cs).

The redesign in CoreRT

[2016-02-17 17:03] stephentoub commented on #3206
It'd be nice to bring over the CoreRT design for other reasons... IIRC, the CoreRT ConditionalWeakTable provides for lock-free reads, whereas the CoreCLR one requires a lock.

[2016-02-17 17:11] mjp41 commented on #3206
I think it is attempting to do lock-free reads here:

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Runtime/CompilerServices/ConditionalWeakTable.cs#L238

But I don't think that is correct.  The CoreRT version does this correctly.

[2016-02-17 17:15] stephentoub commented on #3206
No, TryGetValue takes a lock:
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Runtime/CompilerServices/ConditionalWeakTable.cs#L109

[2016-02-17 17:25] mjp41 commented on #3206
Sorry, you are correct.  I had spent too much time starring at the other.  Thank you.  I think the version is correct, so I retract my comments on concurrency.

But making them the same would be good.  I am planning to address an [issue](https://github.com/dotnet/corert/issues/872) in CoreRT for the ConditionalWeakTable.

[2016-02-17 17:33] jkotas commented on #3155
This looks related to a known issue that was fixed in .NET Framework 4.6.

Roslyn C# compiler used to generate a slightly different IL code for complex exception handling clauses. It exposed bugs in how JITed code deals with thread abort handling. This issue was fixed both:
- In RyuJIT: Generate code that handles thread abort properly (https://github.com/dotnet/coreclr/blob/master/src/jit/importer

[2016-02-17 18:18] RussKeldorph opened #3207 "[JitStressRegs=4] Volatile_op_or failure"
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/x64_checked_windows_nt_jitstressregs4/18/testReport/

[2016-02-17 18:19] RussKeldorph opened #3208 "[JitStress2+JitStressRegs4] SIMD_VectorDot_ro failure"
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/x64_checked_windows_nt_jitstress2_jitstressregs4/1/testReport/JIT/_SIMD_VectorDot_ro_VectorDot_ro_/_SIMD_VectorDot_ro_VectorDot_ro_cmd/

[2016-02-17 18:20] RussKeldorph opened #3209 "[JitStressRegs=0x80] VolatileTest_op_mod failure"
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/x64_checked_windows_nt_jitstressregs0x80/18/testReport/JIT/_jit64_opt_cse_VolatileTest_op_mod_VolatileTest_op_mod_/_jit64_opt_cse_VolatileTest_op_mod_VolatileTest_op_mod_cmd/

[2016-02-17 18:31] terrajobst commented on #2222
@tmds

Besides using ApiPort and Package Search, here are concrete answers to your questions:

You need to reference the NuGet package `System.Threading.Thread`.

AppDomain isn't available on .NET Core. For isolating assemblies, use `AssemblyLoadContext`.

The replacement is `TimeZoneInfo`.

I believe there is no replacement.

Will be added back.

AFAIK we no longer support using RefEmit for emitt

[2016-02-17 18:38] programmatom opened #3210 "Looking for a way to elide bounds checks"
Sorry if this is a duplicate -- I'd guess this is a common request, but oddly couldn't find mention of it in the issues list.

I'm trying to do some heavy numeric computation, including use of SIMD (but that's not directly part of the problem). The issue is that the JIT is never able to elide array bounds checks for my code, since it seems the complexity is over the limit, even though the loops lo

[2016-02-17 18:39] #3202 closed

[2016-02-17 19:11] varocarbas commented on #3204
I took this question as an excuse to know more about the native part (i.e., all the referred `System.Math` methods) in CoreCLR. After struggling for a while with the code, I wasn't able to find anything, other than a complicated system of references among a huge amount of files.

But then I saw this Hans Passant answer in StackOverflow: http://stackoverflow.com/questions/8870442/how-is-math-pow-im

[2016-02-17 19:22] cdmihai commented on #3103
For now, we decided to accept different behaviour between platforms: on !windows, users have to explicitly escape the quotes: https://github.com/Microsoft/msbuild/issues/471#issuecomment-183053180

In the future we may look into modifying our parsing logic.

[2016-02-17 19:43] tmds commented on #2222
@terrajobst
Updated question in [this comment](https://github.com/dotnet/coreclr/issues/2222#issuecomment-171869337)
Currently I am strugging with System.Net.NetworkInformation, see [this comment](https://github.com/dotnet/coreclr/issues/2222#issuecomment-185115470)

[2016-02-17 19:47] ellismg commented on #3129
There is a problem with the CI system right now where we are not running a bunch of jobs on merges into master.  This was an unintentional fallout of a refactoring.  We are going to re-enable the jobs today.  @shahid-pk is correct that we run CentOS build before any change is merged into the product.  In addition we have a bunch of internal testing that runs on CentOS we do inside Microsoft.

[2016-02-17 19:52] mellinoe commented on #2222
Could you try referencing a newer version of System.Net.NetworkInformation? For example, try version `4.1.0-rc3-23728` as it's from the say day as your NETStandard.Library package.

[2016-02-17 20:24] erozenfeld commented on #3130
@rominator1983 Yes, that's correct.

[2016-02-17 20:28] tmds commented on #2222
@mellinoe I am able to restore the package now. I was missing the nuget feed, so I copied it over from a 'dotnet new'-project. I didn't notice at first because I managed to get the NETStandard.Library (which was cached on my system).
Thanks

[2016-02-17 20:48] krytarowski commented on #3199
Thank you @janvorli for help! Generally shorter types are promoted to longer. `stdarg`(3) on NetBSD says:

[code]

I'm suspecting a compiler bug.. I will try to generate assembly for comparison. I wasn't able to reproduce this issue with a small code example. Nothing interesting resides in `.i` files.

[2016-02-17 21:30] jkotas commented on #3210
`fixed` does not actually create a pinning GC handle. It just marks a local variable as pinned. The runtime cost - if the array is pinned already - is very low (a few instructions).

[2016-02-17 21:37] krytarowski commented on #3199
I've added `nop` marks, just in case of optimization to close the region between two `volatile` fragments.

[code]

The result:

[code]

[2016-02-17 21:56] programmatom commented on #3210
I can take a closer look at `fixed` to see what is happening in this case. If it's as cheap as you say, and https://github.com/dotnet/corefx/issues/5106 also happens (adding `Vector<T>.CopyTo(void*)`) it might cover my situation.

[2016-02-17 21:56] krytarowski commented on #3199
OK, Just a sec.

[2016-02-17 22:12] krytarowski commented on #3199
I've disassembled `CoreVsnprintf` this way:

`gdb -batch -ex 'file ./bin/obj/NetBSD.x64.Debug/src/pal/tests/palsuite/c_runtime/vsprintf/test11/paltest_vsprintf_test11' -ex 'disassemble CoreVsnprintf'

The result is accessible here:

[ftp://ftp.netbsd.org/pub/NetBSD/misc/kamil/coreclr-disasm-1.txt](ftp://ftp.netbsd.org/pub/NetBSD/misc/kamil/coreclr-disasm-1.txt)

[2016-02-17 22:16] janvorli commented on #3199
@krytarowski would you mind regenerating it again with the /m option to include the source lines? It would help me to match the two versions easier.

[2016-02-17 22:16] krytarowski commented on #3199
Just a sec.

[2016-02-17 22:17] krytarowski commented on #3199
ftp://ftp.netbsd.org/pub/NetBSD/misc/kamil/coreclr-disasm-1.txt

[2016-02-17 22:18] #3180 closed

[2016-02-17 22:21] programmatom commented on #3210
OK, I see what you mean - `fixed` is producing efficient code. I can't test with SIMD because of 5106, but with another version (unrolled) I don't see any real problems with it:

[code]

[code]

[2016-02-17 22:32] programmatom commented on #3210
(also need https://github.com/dotnet/corefx/issues/5474)

[2016-02-17 22:44] pallavit commented on #3103
Thanks :)

[2016-02-17 22:44] #3103 closed

[2016-02-17 22:57] janvorli commented on #3199
Hmm, the differences in the code seem to be benign. The different RBP offsets are due to the fact that the clang on NetBSD saves some computed values in additional temps on stack so that they don't have to be recomputed again. It correctly reserves more space on the stack in the prologue.
So my guess is that the issue is somewhere else - e.g. in the snprintf.
Where exactly does the stack corruptio

[2016-02-17 23:08] krytarowski commented on #3199
The problem is unveiled during the call of `snprintf`(3). I was trying to add fake valid literals like `snprintf(BufferPtr, TempCount, "%hu", (short)10);` etc and it always resulted with the same effect. I was entering infinite loop of calling `CoreVfwprintf()` and in the result stack-overflow.

IIRC I was checking other functions as well with the same effect -- let me retry. I can put there somet

[2016-02-17 23:13] krytarowski commented on #3199
If you have got ideas what to check, please let me know.

[2016-02-17 23:21] krytarowski commented on #3199
[code]

Hmm it looks like `snprintf`(3) issue.

[2016-02-17 23:25] krytarowski commented on #3199
I cannot reproduce it with a simple example:

[code]

[code]

[2016-02-17 23:25] krytarowski commented on #3199
I will try to break into snprintf and see what happens.

[2016-02-17 23:25] janvorli commented on #3199
The stack overflow is interesting. What can you see on the stack when it happens? All frames being the  CoreVfwprintf (Or did you mean CoreV**sn**printf?)? Or is there a repeated pattern?

[2016-02-17 23:27] krytarowski commented on #3199
Let me get the backtrace.

[2016-02-17 23:35] krytarowski commented on #3199
Here is a short log what happens:

[code]

[2016-02-17 23:36] krytarowski commented on #3199
Hmm, I'm suspecting something. Let me see.

[2016-02-17 23:39] krytarowski commented on #3199
I think there is a clash with names, internal for libc(3) and PAL.. Let me see. _vsnprintf(3) is in libc.

[2016-02-17 23:40] janvorli commented on #3199
I am sure it is the case.

[2016-02-17 23:41] krytarowski commented on #3199
[code]

[2016-02-17 23:43] krytarowski commented on #3199
It escaped from libc to non-libc version of `vsnprintf`(3). I'm investigating.

[2016-02-17 23:45] janvorli commented on #3199
My guess is that something in the lib headers defines vsnprintf or snprintf as _vsnprint or _snprintf.

[2016-02-17 23:49] krytarowski commented on #3199
We have got our internal mechanism to enforce usage of libc(3) functions in case of name-clashes.

https://github.com/IIJ-NetBSD/netbsd-src/blob/master/lib/libc/stdio/vsnprintf.c#L61

It is described here: https://github.com/IIJ-NetBSD/netbsd-src/blob/master/lib/libc/README

Normally if we would have `vsnprintf`(3) symbol in PAL, libc will be looking for `_vsnprintf`(3) -- and so symbol won't be h

[2016-02-18 00:03] krytarowski commented on #3199
What's the preferred name for them?

There are examples like:

``
#define _snwprintf_s _snwprintf_unsafe
#define _vsnwprintf_s _vsnwprintf_unsafe
#define _snprintf_s _snprintf_unsafe
#define _vsnprintf_s _vsnprintf_unsafe
#define swscanf_s swscanf
#define sscanf_s sscanf

#define _wfopen_s _wfopen_unsafe
#define fopen_s _fopen_unsafe

#define _strlwr_s _strlwr_unsafe

#define _vscprintf _vscprintf

[2016-02-18 00:06] krytarowski commented on #3199
For now I will go for `"my_symbol"`.

[2016-02-18 00:06] krytarowski commented on #3199
And see what will happen.

[2016-02-18 01:06] richardlford opened #3216 "Failure at runtime when IL DLL filename does not match IL source assembly name."
Suppose an IL file, e.g. sinlib.il, has these directives inside it:

[code]

but that sinlib.il is compiled as part of a sinlib_il_r.ilproj file, yielding a
sinlib_il_r.dll.

If another project, e.g. sin.csproj, has a project reference to sinlib_il_r.ilproj,
then in the runtime directory sinlib_il_r.dll will be present, but the
program at runtime will fail, with a message like this:

[code]

The f

[2016-02-18 01:11] replete opened #3217 "How can I install a current unstable / dev release of the runtime for use in my app?"
I understand that everything is changing between RC1 and RC2, that's fine, but now that `dnvm` is being deprecated - how can I get an unstable runtime?

[2016-02-18 01:16] shahid-pk commented on #3217
by using the dotnet-cli tool from dotnet/cli repository. Their are installers install them read the docs their.

[2016-02-18 01:28] replete commented on #3217
@shahid-pk From what I can see dotnet CLI doesn't at the moment have anything to do with installing runtimes. The only binary installers I have found are for RC1.

[2016-02-18 01:34] shahid-pk commented on #3217
the runtime is delivered through a nuget package now and is one of your application's dependency and one that is a must.

[2016-02-18 01:35] replete commented on #3217
@shahid-pk So _how_ do I use an RC2 runtime? Changing `global.json` to `"version": "1.0.1-rc2-*"` results in errors.

[2016-02-18 01:38] replete commented on #3217
[code]

[2016-02-18 01:40] shahid-pk commented on #3217
use samples from asp.net/cli-samples repository and follow the getting started guide on dotnet/cli repository.

[2016-02-18 01:40] krytarowski commented on #3199
I'm working on a local patch towards unloading the `_symbol` namespace. I'm renaming it to `my_symbol` it will take a while.. and it alters a lot of files and lines of code.

Do you think @janvorli this is acceptable solution? I see no other safe way to remove the clash. Additionally this is a part of the C standard that `_Symbol` and `__symbol` are reserved for internal use. Keeping clean `_symbo

[2016-02-18 01:40] krytarowski commented on #3199
Thank you very much with this bug and determining what's wrong.

[2016-02-18 01:47] replete commented on #3217
Not helpful.

[http://dotnet.github.io/getting-started/](http://dotnet.github.io/getting-started/) only provides an installer for RC1-update1.

I want to _specify_ a specific version of the runtimes, basically whatever is LATEST (RC2+), and use that. Nothing you have linked me to so far has even vaguely got me closer to this.

[2016-02-18 01:49] janvorli commented on #3199
I am afraid removing the `_snprintf / _vsnprintf` won't be that easy. They are exposed by PAL since the coreclr needs them. And the `_snprintf / _vsnprintf` on Windows has slightly different semantics from the snprintf / vsnprintf (due to backward compatibility reasons, it behaves differently w.r.t. appending the terminating null when the output string is longer or the same length as the buffer).

[2016-02-18 01:49] shahid-pk commented on #3217
well that doc does'nt give you rc1 how can you tell if the runtime you are using is rc1 ?

[2016-02-18 02:01] jkotas commented on #3199
You can do the tricks with `#defines` that we use for many other similar functions, e.g. look for `PAL_printf`.

[2016-02-18 02:14] replete commented on #3217
I appreciate you trying to help, but it's clear that you don't know the answer.

[2016-02-18 02:14] #3217 closed

[2016-02-18 02:23] janvorli commented on #3199
I have thought we already do the trick for the _vsnprintf, but now I can see we don't. So that should work.

[2016-02-18 03:01] cmckinsey commented on #2478
There is no fix already in the Desktop sources. Hongtao you must still not have an exact reproduction. The csc compiler is probably not the same.

Looking at the JIT implementation I don't believe there is any problem with data side-effect ordering rules being violated as the importer code should guarantee to spill the stack sufficiently of any earlier pending calls when processing the constructor

[2016-02-18 03:51] AndyAyersMS commented on #2478
@hoyMS note there's an IL repro from @mikedn on this gist, so no need to guess at C# versions: https://gist.github.com/mikedn/13227e51058fbe52f064

[2016-02-18 04:51] gkhanna79 opened #3223 "Create nuget package for dbgshim"
.NET Core Debugger needs it. See comment from @gregg-miskelly in https://github.com/dotnet/coreclr/issues/3165

[2016-02-18 04:58] gkhanna79 commented on #3165
I have filed #3223 and assigned to @noahfalk to look into packaging for dbgshim.dll.

[2016-02-18 04:58] gkhanna79 commented on #3165
I will remove dbgshim.dll reference from the CoreCLR package.

[2016-02-18 05:14] gregg-miskelly commented on #3165
Sounds good, but please wait for the new package to be created before you remove it from the existing one.

[2016-02-18 05:35] LLITCHEV opened #3225 "Potentially incorrect two calls to genConsumeAddress()"
In codegenxarc.cpp and codegenarm64.cpp when preparing to call genEmitCall for genCallType of GEN_EMIT_CALL_INDIRECT a call to genConsumeAddress() is made. Same call is made in the genEmitCall method for genCallType == GEN_EMIT_CALL_INDIRECT.

Make sure this is correct.

[2016-02-18 06:16] noahfalk commented on #3165
Gregg how urgent is it to get a new package? I'm trying to figure out if we can wait for Mike to finish his mac exceptions work or if its really urgent I can run with it.

[2016-02-18 06:17] noahfalk commented on #3165
@mikem8361

[2016-02-18 06:35] gregg-miskelly commented on #3165
As long as it isn't urgent to remove it from the main package (and I don't know why it would be -- I am the one who noticed that it was still in there when it shouldn't be), there is no great rush in creating the dbgshim package.

[2016-02-18 07:07] rationull commented on #2478
@cmckinsey our program did fail in this case but the failure was due to a null handle dereference in the finalizer, on a member that should never have been null -- that is, the finalizer did not handle partial construction which "should" not have been a problem but technically is a bug (and trivial to fix/work around).

The exception in my repro case was not specifically intended to avoid the allo

[2016-02-18 07:10] shahid-pk commented on #3217
okay thanks

[2016-02-18 09:46] jasonwilliams200OK commented on #445
Update on this: @sperling's PR https://github.com/dotnet/coreclr/pull/2520 is merged. From the PR description:

Some functionality is still missing.
* MovedReferences, MovedReferences2, SurvivingReferences and SurvivingReferences2 will only be called when FEATURE_EVENT_TRACE is defined.
* Enter, Leave and Tailcall function hooks is not implemented for Unix.
* DoStackSnapshot is not implemented whe

[2016-02-18 09:55] krytarowski commented on #3199
Thanks! I will mimic `PAL_printf`.

[2016-02-18 10:29] m08pvv opened #3226 "Please provide intrinsics for SIMD bit shift operations"
Please provide intrinsics for operations like vprold, vprord, etc.

This instructions are quite often used in functions like hash functions and it's necessary to have intrinsics for the operations for the best performance. It's not always possible to leave managed code for calculations because of related overhead.

It would be really nice to have this intrinsics in RyuJIT and in System.Numerics.Ve

[2016-02-18 11:50] benaadams commented on #3226
Already does in CoreCLR? Patterns recognised https://github.com/dotnet/coreclr/blob/master/src/jit/morph.cpp#L12430-L12465

[2016-02-18 11:56] jasonwilliams200OK commented on #3199
This is a good approach to have PAL_token defined in headers for abstraction purposes.

Another approach could be something like this: https://github.com/libuv/libuv/pull/532/files <- i.e. the external hook approach.

---

Example Problem:

MSVCR does not provide std snprintf before MSC_VER<1900 (aka VS2015 which astoundingly and finally conforms with C99 standards). Many people think `_snprintf()

[2016-02-18 12:20] m08pvv commented on #3226
@benaadams It seems to be related to already closed issue #1619 and it works great. But I need SIMD shift instructions to be able to do 4 shifts with a single instruction. And it seems to be not implemented yet.

[2016-02-18 14:51] Dmitry-Me opened #3227 "DateTime comparison code duplicated"
`public int CompareTo(Object value)` first checks the other object is `DateTime` and then does what `public int CompareTo(DateTime value)`. Also `public static int Compare(DateTime t1, DateTime t2)`
does essentially the same as what `CompareTo(DateTime value)` does.

Is there any need for that? If not then `public static int Compare(DateTime t1, DateTime t2)` should be kept unchanged and the other

[2016-02-18 15:35] gkhanna79 commented on #3165
@noahfalk Please remove dbgshim from the CoreCLR package (from both open and closed builds) as part of fixing https://github.com/dotnet/coreclr/issues/3224

[2016-02-18 16:16] redknightlois commented on #3226
@benaadams No, that particular one is for single register ror instructions. What @m08pvv probably needs is the SSE equivalent (shift with mask or shuffle bytes).

You should add the support here: https://github.com/dotnet/corefx/issues/2209

[2016-02-18 16:53] programmatom commented on #3210
no action needed here

[2016-02-18 16:53] #3210 closed

[2016-02-18 17:07] RussKeldorph commented on #3209
Doesn't repro.

[2016-02-18 17:07] RussKeldorph commented on #3207
Doesn't repro.

[2016-02-18 17:07] #3207 closed

[2016-02-18 18:05] m08pvv commented on #3226
@redknightlois Yes, it's AVX-512 instructions, but it would be nice to have as much as possible of SIMD instruction intrinsics.

[2016-02-18 18:10] mikem8361 commented on #3165
@gregg-miskelly, @noahfalk , @gkhanna79. I really don't see why we need to remove dbgshim unless the 3meg or so is too much disk space.  This would require any third party debuggers (someday maybe) to also include this binary. Even though it isn't version dependent on coreclr, I think it would be simpler to always have all the binaries needed to debug coreclr together.

[2016-02-18 18:12] gkhanna79 commented on #3165
Given that it is not required for runtime scenario, it maybe reasonable to take it out and any debugger requiring it should be able to pull it in via its nuget package.

And yes, 3MB can be a lot of disk space depending upon that target device (e.g. IoT, Phones, etc).

[2016-02-18 18:13] wtgodbe commented on #3190
@manu-silicon was this fixed by https://github.com/dotnet/coreclr/issues/3191 as you expected?

[2016-02-18 18:35] bendono commented on #3165
For current DotNet Full, I do a lot of onsite debugging. This requires that matching versions of clr.dll, mscordacwks.dll, and sos.dll are all on the machine. When this takes time, I may take a dump and analyze it on another machine, of course copying the above files along too.

In the future, we'll likely target CLR Core. I don't yet have experience with Core debugging, but I question how the rem

[2016-02-18 19:14] #3090 closed

[2016-02-18 19:51] programmatom commented on #3210
For the record, in case someone finds this while searching: I did some benchmarking on one of the loops I'm concerned with. It turns out that using `fixed` to eliminate bounds checks made no difference in timing on either a low end processor (N3520) or somewhat more capable (AMD A10-8700P). Any difference was completely lost in the run-to-run variance, and the minimum run times converged on being

[2016-02-18 19:57] richardlford opened #3234 "Arglist tests failing."
The following tests are failing on Linux and OS X.

[code]

I've added them to the non-Windows exclusion list.

These were not added recently, so something must have caused them to regress.

[2016-02-18 19:59] richardlford opened #3235 "New tests failing on Ubuntu Linux, but passing on Windows and OS X."
The following new tests fail on Unbuntu Linux, but pass on Windows and OS X:

[code]

They have been added to the non-Windows failure list.

[2016-02-18 20:31] gkhanna79 commented on #3090
@ellismg Thanks for fixing this Matt. Do we need to update CoreCLR's build tools version to pickup this change?

[2016-02-18 20:32] ellismg commented on #3090
I have updated my PR in CoreCLR to consume this stuff.

[2016-02-18 20:41] LLITCHEV commented on #3054
This is a known issue in Mac OS, having to do with incorrectly reporting the stack limit. It was resolved in OSX version 10.11.2. There was an upgrade of the lab machines to El Capitan OS around the time the issue stopped reproducing. Closing this issue as resolved.

[2016-02-18 20:41] #3054 closed

[2016-02-18 21:06] RussKeldorph commented on #2728
@wtgodbe Can you take this?  We either need to fix runtest.sh or start enforcing a compatible pattern that tests must follow (such as a single common version of each assembly).

[2016-02-18 21:09] krytarowski commented on #3226
How about `NEON` for `ARM`?

[2016-02-18 21:28] sergiy-k commented on #3194
I do not think there is actually a bug in the runtime here because GCHandle does not provide/guarantee thread safe implementation in this case. It is responsibility of the code that is using GCHandle to make sure that GCHandle.Free() is not called while this instance of GCHandle is used somewhere else.

/cc: @jkotas

[2016-02-18 21:34] jkotas commented on #3194
I agree - this crash is a bug in `System.Net.WebSockets.WinHttpWebSocket`.

[2016-02-18 21:34] #3194 closed

[2016-02-18 21:37] KKhurin commented on #3194
Thanks for the clarification.

[2016-02-18 22:05] krytarowski commented on #3125
https://github.com/dotnet/coreclr/pull/3219 just broke NetBSD building...

[2016-02-18 22:09] krytarowski commented on #3199
I will give it a try.. just need to fix https://github.com/dotnet/coreclr/pull/3219 as it broke NetBSD...

Thank you.

[2016-02-18 22:23] LLITCHEV commented on #2349
Seems to pass. The failure I was observing was because the loader was picking up a crossgen from an old DNX installation instead the one from the current folder.

[2016-02-18 22:23] #2349 closed

[2016-02-18 22:24] LLITCHEV commented on #2510
Seems to pass. The failure I was observing was because the loader was picking up a crossgen from an old DNX installation instead the one from the current folder.

[2016-02-18 22:37] gregg-miskelly commented on #3165
dbgshim doesn't need to match the version of CoreCLR you are running.

[2016-02-18 22:40] gregg-miskelly commented on #3165
Put another way - dbgshim is different from the other debugger components. The other components (sos, dac, dbi) are all tightly coupled with the runtime, so there is a reasonable argument for including them in the CoreCLR package. Dbgshim is really a utility library for debuggers which target CoreCLR. So any given debugger might care about what version of dbgshim they are using (because new capabi

[2016-02-18 22:47] LLITCHEV opened #3239 "Clone structDesc member of GT_CALL"
In gtCloneEx in gentree.cpp clone the sructDesc member of the GT_CALL. Make necessary changes in importer.cpp to initialize this member directly and remove the SetRegisterReturningStructState method.

[2016-02-18 23:05] ellismg commented on #3129
The CI problem has been fixed and the CentOS jobs are now happening on ever merge and the badges are green.

[2016-02-18 23:22] wtgodbe commented on #2728
@RussKeldorph I can take a crack, but I may need a bit of help. @ellismg could you elaborate a bit on what you meant here?

[2016-02-18 23:29] krytarowski commented on #3123
[code]

With applied pending patch from https://github.com/dotnet/coreclr/pull/3240

[2016-02-18 23:43] sergiy-k commented on #2728
I think the wrong version of System.Runtime gets copied from the Linux.AnyCPU.Debug\RemoteExecutorConsoleApp folder.
@wtgodbe, excluding this folder from the search path can be used as short term workaround until you implement a proper fix.

[2016-02-18 23:45] briansull commented on #3105
This issue also impacts these 7 tests:

doublecompareto1.exe_1046
mathsign2.exe_1521
mathsign7.exe_1526
mathsin.exe_1527
mathsinh.exe_1528
b12399.exe_4835
b53994.exe_5274

[2016-02-18 23:53] wtgodbe commented on #2728
https://github.com/dotnet/coreclr/pull/3241 here's a workaround as suggested by @sergiy-k, for now.

[2016-02-19 01:23] CarolEidt commented on #1358
Yes, this is fixed with .NET 4.6.1. Sorry for the delay in response.

[2016-02-19 01:53] wjk opened #3245 "ExecutionEngineException when marshalling function pointers"
I am working on a CoreCLR-based GUI framework, but have run into a problem. I am trying to subclass a Win32 control (`HWND`), but am getting an `ExecutionEngineException` on the following line of code:

[code]

The above code references these symbols:

[code]

When attached with a native-code debugger, I get the following error message:

[code]

Unfortunately, I don't have symbols for my copy of C

[2016-02-19 02:02] briansull commented on #3151
Also 8 occurrences of this in ngen mscorlib:
System.Runtime.Serialization.Formatters.Binary.ReadObjectInfo:Init
System.Runtime.InteropServices.SafeBuffer:GenericStructureToPtr
System.Runtime.InteropServices.SafeBuffer:GenericPtrToStructure

[2016-02-19 02:03] snuxoll commented on #3025
@OtherCrashOverride Makes sense. I could agree with that.

[2016-02-19 02:14] sivarv opened #3246 "[Linux][Struct passing] Make structDesc field of GenTreeCall to a pointer and should be initialized with invalid values in gtNewCallNode()"
Two issues that i happened to notice during a code review:

1) structDesc field of GenTreeCall node is getting initialized with valid values immediately after return from gtNewCallNode().  As a result, if in some code path JIT fails to initialize structDesc by calling eeGetSystemVAmd64PassStructInRegisterDescriptor(typeHnd, &call->strctDesc) then it will still look like a valid structDesc.  This w

[2016-02-19 04:46] terrajobst commented on #552
No, which is why we moved it into the Future milestone.

[2016-02-19 04:54] noahfalk commented on #445
@jasonwilliams200OK I'm fine to close #2519 in favor of this one. @sperling do you think there is any reason to keep both?

For milestones I think 'future' is the right milestone (at least for when I forsee Microsoft folks getting time on it). Obviously if you guys want to push it along at a faster pace that's great!

As for next steps, I suppose it all depends what your goal is. For anyone who al

[2016-02-19 07:41] davidfowl opened #3249 "Can't run crossgen without mscorlib being in the same folder"
Crossgen exists in the runtime package in the tools folder but you can't run it directly from the package since mscorlib isn't side by side.

/cc @gkhanna79 @JohnChen0

[2016-02-19 08:07] gregoryyoung commented on #445
Is there a reason why MethodEnter/MethodLeave would be left out/what is the plan on supporting these?

[2016-02-19 08:11] bendono commented on #3165
@gregg-miskelly Thanks for the explanation. Looks like my concerns were unfounded.

[2016-02-19 08:46] aelij commented on #2813
I've published the package:
https://github.com/aelij/AsyncFriendlyStackTrace

The README also lists a few compelling examples.

Let me know what you think.

[2016-02-19 09:21] noahfalk commented on #445
@gregoryyoung When you refer to MethodEnter/MethodLeave, I assume you mean ICorProfilerInfo::SetEnterLeaveFunctionHooks? If so there is no plan to leave them out, that is the work I am suggesting should be done in (b) above.

Did you mean some other methods instead? Sorry, I'm not sure I quite followed you : )

[2016-02-19 09:28] gregoryyoung commented on #445
Nope that was the question (can't really imagine not having them). Is there any roadmap on this?

[2016-02-19 09:32] noahfalk commented on #2813
:+1:  I'm hoping we might get @davidfowl to take a look, seeing how he opened this other very similar issue https://github.com/dotnet/corefx/issues/1370 and in theory he wants something like this ; )

[2016-02-19 10:06] noahfalk commented on #445
At the moment I think the roadmap doesn't have too much detail (in particular I don't have dates to offer if that is what you were hoping for), it is roughly...

.Net Core should get the same profiling goodness that desktop has. If anyone from the community has time to work on it that is  fantastic, and otherwise folks from Microsoft will work on it after we've got debugging in a good place. The g

[2016-02-19 12:09] mjp41 opened #3251 "GC Tests : Red Black Tree does not correctly implement a red black tree"
The red black tree in the GC Stress tests does not correctly implement a red/black tree.  There are at least two bugs:

1) The parent point is not updated in this rotation case: [https://github.com/dotnet/coreclr/blob/master/tests/src/GC/Stress/Tests/RedBlackTree.cs#L239-L268](https://github.com/dotnet/coreclr/blob/master/tests/src/GC/Stress/Tests/RedBlackTree.cs#L239-L268)

2) One of the rotation

[2016-02-19 14:40] redknightlois commented on #3226
@krytarowski ```NEON``` seams to be a higher level function set (specially DSP and Physics) but probably many of the math functions would be part of the intrisics support of ```System.Numerics``` namespace if ARM NEON is supported at all.

[2016-02-19 16:04] ayende commented on #2813
Would this work on the CoreCLR?

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Fri, Feb 19, 2016 at 10:46 AM, Eli Arbel <notifications@github.com>
wrote:

[2016-02-19 16:07] aelij commented on #2813
Yes, it's a multi-target package. Check out the NuGet page:
https://www.nuget.org/packages/AsyncFriendlyStackTrace/

[2016-02-19 16:42] RussKeldorph commented on #3234
@sivarv Please investigate and triage/route appropriately.

[2016-02-19 16:43] RussKeldorph commented on #3235
@sivarv Could you work your triage magic on these as well?

[2016-02-19 17:09] tarekgh commented on #3227
This is done

[2016-02-19 17:09] #3227 closed

[2016-02-19 18:13] briansull commented on #3105
Fixed with PR #3242

[2016-02-19 18:13] #3105 closed

[2016-02-19 18:26] leecow commented on #3129
As Matt mentions CentOS is a high priority target to support and is key to our internal testing. We're still working through what will be on the officially supported OS matrix for release time. With a bit of luck we'll be able to publish the initial matrix before too long.

[2016-02-19 19:20] gregg-miskelly opened #3258 "Infinite loop in dynamic dispatch code when calling through contravariant delegate"
When upgrading from CoreCLR 23803 to 3818 we are now seeing an infinite loop in the dynamic dispatch code. I have not been able to come up with a minimal repro that I can attach to this bug, but I have a trivial one that I can email anyone who wants it. In the bug we are calling into a delegate of type Action<... my-class>, and the target of the delegate uses an interface for the last argument. If

[2016-02-19 19:56] sperling commented on #445
@jasonwilliams200OK @noahfalk I can't see any reason for keeping #2519 open.
Creating a simple xplat HelloWorld test would be the next logical step I think.

[2016-02-19 20:47] juergenhoetzel commented on #2135
Works for me too.

@rgl  I guess this issue is fixed

[2016-02-19 20:52] jkotas commented on #2135
If there are more issues on Arch Linux, let's track as new issue.

[2016-02-19 20:52] #2135 closed

[2016-02-19 21:00] jkotas commented on #3258
Looks dup / related to https://github.com/dotnet/corefx/issues/5610. @gregg-miskelly Could you please  to copy over System.Linq.Expressions.dll from the working build and check whether the problem goes away? (I would allow us to confirm that it is a bug in System.Linq.Expressions.dll.)

[2016-02-19 22:28] sivarv commented on #3234
Failure of these test on unix/OSX is by design as vararg methods are not supported by CoreCLR on unix/OSX platform.

@richardlford - they were already disabled by an entry at the very top of  test\testsFailingOutsideWindows.txt. It looks like you have added them to that list again further down in your recent check-in.  Now they appear in that file listed twice!

Did you verify that they are runnin

[2016-02-19 22:41] sivarv commented on #3234
Marking this as test issue and assigning to @richardlford to update testsFailingOutsideWindows.txt so that these tests are not listed twice in that file.

[2016-02-19 22:53] briansull opened #3263 "ARM64: Incorrect codegen for rem.un - Unsigned Remainder"
Investigation of test converttochar16.exe_739 determined that we were treating unsigned remainder the same as signed remainder.

The following four tests are failing due to this issue:
converttochar16.exe_739
uint64gethashcode.exe_2509
rem_dbg.exe_3525
rem_opt.exe_3526

[2016-02-19 22:59] CarolEidt commented on #3258
@jkotas where does one find the "working build"?

[2016-02-19 23:02] CarolEidt commented on #3258
This does look like a dup of dotnet/corefx#5610. The JIT is repeatedly being invoked on `DynamicClass::CallSite.Target`

[2016-02-19 23:02] gregg-miskelly commented on #3258
Thanks Jan, yes using an older System.Linq.Expression resolves the problem. Is there a newer version of System.Linq.Expressions that would have this issue fixed? Or is this issue still active?

Here is the version I have:
4.06.23818.0	2/17/2016 8:02 PM

[2016-02-19 23:18] wtgodbe commented on #2991
@rahku I believe this is a similar issue as what's causing https://github.com/dotnet/coreclr/issues/2713. I switched the tests in question to priority 2 so that the issue won't be seen, but it still exists. Do you think this is the same/similar issue with a similar solution? I just confirmed that the race condition still exists by building priority 2 tests locally, here's a dump of the failures:

[2016-02-19 23:19] wtgodbe commented on #2991
In this case, a single test has multiple .csproj files, several of which (run-onlies) reference the first (build-only), as opposed to one test's .csproj file referencing another test's .csproj file.

[2016-02-19 23:19] jkotas commented on #3258
@gregg-miskelly Could you please reopen this issue in corefx repo? It is where System.Linq.Expression.dll lives.

cc @VSadov

[2016-02-19 23:25] hoyMS commented on #2388
#3254 checked in.

[2016-02-19 23:25] #2388 closed

[2016-02-19 23:33] rahku commented on #2991
I have seen these errors much before toolset update. So I do not think toolset update has caused this issue. In this particular issue tests were built more than once....do you see the same thing. If yes then you need to find out what build parameter difference is causing the project to be built twice.

[2016-02-19 23:41] VSadov commented on #3258
CallSite.Target is the redirection point in the callsites self-modification strategy.
All dynamic calls will end up invoking the Target. If Target cannot handle passed in arguments, it will ask binder to create a new Target that can, then it will self-modify and invoke the Target again.

 It is ok to see Target called multiple times, but infinite loop is obviously bad. It means that binder produce

[2016-02-19 23:50] hoyMS commented on #2478
I've experimented with Mikedn's fix and I've got an average 0.7% code size regression out of our superPMI test suites. By further narrowing down to the case where spilling happens only if a method call is present on the evaluation stack, I've got a average 0.4% code size regression. Given the large regression cost to fix the bug and the fact that the bug reflects a very special corner case, we'd l

[2016-02-19 23:50] sivarv commented on #3235
@richardlford so far i have tried to repro the following test failures and i couldn't repro against latest git bits as of now.

JIT/jit64/localloc/unwind/unwind01_dynamic/unwind01_dynamic.sh
JIT/Regression/Dev11/External/dev11_145295/CSharpPart/CSharpPart.sh
JIT/Methodical/localloc/call/call01_small/call01_small.sh

I am running checked tests against debug CoreCLR product bits.  Please let me know

[2016-02-19 23:55] gregg-miskelly commented on #3258
I opened dotnet/corefx/issues/6258 to track this.

[2016-02-20 04:41] #3258 closed

[2016-02-20 08:06] borgdylan commented on #3090
@ellismg I have recently switched to amd64 and managed to build coreclr itself. I can't seem to build mscorlib however. The CLI gets downloaded but msbuild's exe is not anywhere to be found.

[2016-02-20 08:33] borgdylan opened #3271 "Instructions Needed: How do I get mscorlib to build on Ubuntu 15.10 for x64?"
I have managed to build the CLR itself but could not build mscorlib itself. I have tried to use mscorlib from a Ci build package but stuff fails even if I copy over my copy of the CLR. I get `Failed to initialize CoreCLR, HRESULT: 0x80004005` which is quite a generic error.

[2016-02-20 13:21] krytarowski opened #3272 "Disallow setting of priority for SCHED_OTHER threads"
There are 7 PAL tests that are falling down due to calling `pthread_setschedparam`(3) on NetBSD.

Diving into the kernel code I have found that `SCHED_OTHER` does not support setting priorities other than `PRI_NONE`.

[code]

-- https://github.com/IIJ-NetBSD/netbsd-src/blob/992e79e20634d3f63e860702b86e60bc546e76eb/sys/kern/sys_sched.c#L167

[code]

It looks like the same rule applies for Linux:

[

[2016-02-20 16:27] #3272 closed

[2016-02-20 17:44] krytarowski commented on #3123
[code]

[2016-02-20 18:22] gkhanna79 opened #3276 "Add Debian and RH 7.2 to CI"
@mmitche We are tracking their status on the main repo page, so should also ensure that they are getting validated in CI as well.

CC @ellismg @weshaggard @joshfree

[2016-02-20 18:57] ellismg commented on #3276
We make a specific decision here to not run them per PR when we added them.  I don't believe it's worthwhile to add every single distro to every single PR.  If you are doing something that you worry about getting individual coverage on, we have triggers you can use to request runs against a PR, but I'd rather us not burn a bunch of machine time for little gain.

[2016-02-21 01:26] jkotas opened #3281 "Redundant calls to static helpers in R2R images"
[code]

[code]

Result: The method has 4 calls to static helper. Instead, it should have just one.

[code]

[2016-02-21 01:27] jkotas commented on #3281
Looks like a missing case in value numbering.

[2016-02-21 01:55] omariom commented on #2591
One more constant when T is a value type. For reference types it is not because of array covariance:
[code]

[2016-02-21 02:02] krytarowski commented on #3123
[code]

[2016-02-21 02:55] krytarowski opened #3283 "paltest_getprocesstimes_test2 misbehaves on NetBSD"
paltest_getprocesstimes_test2 is randomly falling down on NetBSD:

[code]

[code]

I'm investigating it.

[2016-02-21 04:00] krytarowski commented on #3283
by Michael van Elst

-- http://gnats.netbsd.org/cgi-bin/query-pr-single.pl?number=30115

[2016-02-21 04:00] krytarowski commented on #3283
I'm going to prepare a patch with a walk-around.

[2016-02-21 10:29] mikedn commented on #2591
Array covariance has nothing to do with this. Like with all other similar cases that involve reference types this check isn't constant because the same generated code is used for all `T`s.

[2016-02-21 13:18] krytarowski opened #3287 "paltest_pal_sxs_test1 failing on NetBSD"
Currently `paltest_pal_sxs_test1` is disabled on FreeBSD. I would like to know why?

Should I disable it on NetBSD as well? Is it testing crucial functionality?

[2016-02-21 13:18] krytarowski commented on #3287
@jkotas @janvorli

[2016-02-21 13:20] omariom commented on #2591
@mikedn
Yes, you are right.

[2016-02-21 14:14] krytarowski commented on #3025
I just hit it on NetBSD.

[code]

I need to research how these files work together to have an idea how to install them to the system.

Please add a standard installation target under desired `--prefix`.

[2016-02-21 14:58] krytarowski commented on #3283
Fixed with #3285

[2016-02-21 14:58] #3283 closed

[2016-02-21 22:33] jasonwilliams200OK commented on #3287
I think related to https://github.com/dotnet/coreclr/issues/2090. That ticket has <kbd>up-for-grabs</kbd> tag, so we can probably take a stab at it.

[2016-02-21 22:38] krytarowski commented on #2090
I'm experiencing the same behavior on NetBSD. Could you try to prepare a minimalistic and standalone test-case that is supposed to pass on other platforms and fail on BSD? I will take it and investigate.

[2016-02-21 22:39] krytarowski commented on #2090
Something with usage of PAL.

[2016-02-21 22:58] krytarowski commented on #3178
Practically all PAL tests are passing on NetBSD (modulo pending patches). Tomorrow I will switch to CoreFX.

[2016-02-21 22:59] krytarowski commented on #3123
Practically all PAL tests are passing on NetBSD (modulo pending patches).

[2016-02-21 22:59] #3123 closed

[2016-02-22 00:00] krytarowski commented on #3287
Thanks. For now I will push a patch to disable this test on NetBSD as well and try to work with @mikem8361 towards investigating it.

[2016-02-22 02:09] noahfalk commented on #2519
Closing this issue as a duplicate of #445

[2016-02-22 02:09] #2519 closed

[2016-02-22 02:47] LLITCHEV commented on #3239
Fixed by PR #3243

[2016-02-22 02:47] #3239 closed

[2016-02-22 04:39] weshaggard commented on #3204
Please follow the process outlined at http://aka.ms/apireview and file the API proposal in the http://github.com/dotnet/corefx repo.

[2016-02-22 10:54] varocarbas commented on #3204
@weshaggard OK. I will do it right now. Thanks for the suggestion.

[2016-02-22 12:10] janvorli commented on #3058
Assigned to @pgavlin since according to my knowledge, he is currently at some change in the JIT/EE interface as well as some refactoring to allow for a standalone DLL.

[2016-02-22 16:29] mmitche commented on #3276
@ellismg Agreed.  We don't need to validate every OS on every PR.

[2016-02-22 16:29] #3276 closed

[2016-02-22 17:06] CarolEidt opened #3291 "Mark compTypeCtxtArg as lvOnFrame"
The type context argument must be initialized to lvOnFrame if it is
 not a register argument (as on x86, since it is passed after user
 arguments).

[2016-02-22 17:11] CarolEidt opened #3292 "Handle long operators with non-leaf operands"
The code in `Lowering::DecomposeNode` that reorders the children of a binary operator is not correctly reordering the children when they are non-leaf-nodes.

[2016-02-22 18:48] CarolEidt commented on #3291
Fixed with #3291

[2016-02-22 18:48] CarolEidt commented on #3291
I meant fixed with #3270

[2016-02-22 18:49] #3291 closed

[2016-02-22 19:28] LLITCHEV opened #3297 "Close a hole in PutArgStk on System V Amd64"
There is a whole in the PutArg specify the right GC type for loading a value and storing it on the stack.

[2016-02-22 19:32] LLITCHEV opened #3299 "Make the type of return statement BYREF if returning a struct value in an implcit hodden RetBuf param."
Use the as much as possible the logic of the Profiler Hook.

[2016-02-22 19:53] briansull commented on #3210
Yes, often times the cost of range checks are subsumed by the rest of the operations that take place in the loop.  Only for very tight loops or loops or loops that have high register pressure see measurable costs for array bounds checks.

[2016-02-22 21:12] #3208 closed

[2016-02-22 21:31] sivarv commented on #3235
I have manually run all of these tests and they have passed on Ubuntu.  These tests depend on common.dll and on Ubuntu that tests are not finding it and failing with FileNotFoundException.  This seems like a test build or infra issue.

Marking it as test issue and assigning it back to @richardlford

[2016-02-22 22:06] mikem8361 commented on #2090
This tests hardware and software exceptions across multiple PALs (in different modules).  It would be a lot of work to create a simple test-case that doesn't involve the PAL.

[2016-02-22 22:09] mikem8361 commented on #2090
I didn't mean to add the software exceptions.  palsxs tests hardware exceptions trapped via various signals and that the proper chaining across multiple PALs occurs.

[2016-02-22 22:28] LLITCHEV commented on #3246
As we discussed:
1. The struct has a constructor which initializes the eightByteCount to 0. The elements of the eightByteClassifications field are initialized to SystemVClassificationTypeUnknown. There are multiple places in the code where assertions validate the state of the struct instance and makes sure the struct is initialized.
2. I just double checked to make sure. The size of the struct is

[2016-02-22 22:28] #3246 closed

[2016-02-22 22:33] rahku commented on #2713
CC @gkhanna79 @sergiy-k

[2016-02-22 23:30] janvorli opened #3305 "Investigate which signals really need to be blocked on Unix"
In PAL, we currently block signals of many types. We have already hit two issues where this has caused a trouble and the signals needed to be enabled.
So we should investigate which (if any) signals need to be blocked and enable all that doesn't have to.

[2016-02-22 23:57] gkhanna79 commented on #2713
@wtgodbe Do you have an update on this?

[2016-02-22 23:59] cesarbs opened #3306 "Task.Delay hangs tests on Linux"
Repro here:

https://github.com/cesarbs/AsyncHangRepro

Does not happen on Windows or Mac.

We're hitting this issue in `HandlesAsyncExecutes` and `PropagatesAsyncExceptions` in https://github.com/aspnet/Common/blob/dev/test/Microsoft.Extensions.CommandLineUtils.Tests/CommandLineApplicationTests.cs.

[2016-02-23 00:00] wtgodbe commented on #2713
Not yet, I need to work with @bryanar to take a look at this.

[2016-02-23 01:11] stephentoub commented on #3306
Is your Linux machine single-core?

[2016-02-23 01:40] briansull commented on #3281
I can take a look.
What is different about R2R IL that causes this?

[2016-02-23 02:09] myungjoo opened #3309 "Cannot handle exceptions properly (ARM/Linux/Debug build)"
Based on 89396ee16657a2884babe8ac5d0e688743d4cd83,
running at ARMv7, Linux. This has been occurring for a while through multiple snapshots.
[code]

Whenever there is an exception (e.g., DLL not found, .so for p/invoke is not found, ...), there had been a segmentation fault (with old libunwind, NULL at IR pointer) or an exception at stackunwind.cpp, hiding information about the exception (with new

[2016-02-23 02:35] jkotas commented on #3281
It has a new helper ID: `CORINFO_HELP_READYTORUN_STATIC_BASE`

The helper does not argument. Instead, this helper is called via indirection. `gtCall.gtEntryPoint.addr` The indirection address should be used as the key to compute the value number instead of the argument.

Thanks for taking a look at this, Brian!

[2016-02-23 02:47] ellismg commented on #3271
There shouldn't be anything specific to Ubuntu 15.10 for mscorlib.  The native bits will have specific references by any mscorlib complied for "linux" should be fine.

Can you please point to the exact mscorlib you are picking up, the exact commit hash for CoreCLR you're building from and what if anything else you're doing?

Note that mscorlib and then rest of the runtime are tightly coupled so a

[2016-02-23 02:51] myungjoo commented on #3309
Looks like recent String patches are related, I'll update coreclr and restate the status.

[2016-02-23 03:10] briansull commented on #3281
If the args are not represent in the IR then we will have to special case this call in fgValueNumberHelperCallFunc.

Additionally I don't believe that we have yet asked for the indirect call target at this point in the JIT.
So we might have to ask for this value twice or find a way to cache it until we need it again during codegen.

[2016-02-23 03:34] LLITCHEV commented on #3297
Thanks!

[2016-02-23 03:34] #3297 closed

[2016-02-23 04:28] myungjoo commented on #3309
Experiencing the same error with the recent commit as well:
0a3fe0f45ae75f31db0b5d2518847ed51b4f13dd

[code]

[2016-02-23 04:50] cesarbs commented on #3306
@stephentoub Yes.

[2016-02-23 04:55] stephentoub commented on #3306
It's not a bug in Task.Delay.  xunit uses a SynchronizationContext to ensure that at most N tests run at a time, where by default N == Environment.ProcessorCount.  If N is one, and if you block that one thread, nothing else will run.  In your example, you're blocking waiting for an operation to complete, but in order for it to complete, it needs to queue an await continuation back to the Synchroni

[2016-02-23 07:09] borgdylan commented on #3271
Mscorlib was not building at all so I picked one from the .net cli. I thought I'd be able to get it built but msbuild for coreclr is missing in the coreclr repo.

[2016-02-23 09:34] myungjoo opened #3311 "Infinite Looping inside GC (ARM/Linux/Debug)"
Running environment: ARMv7, Cortex A9 QuadCore, Linux. Coreclr commit: 0a3fe0f45ae75f31db0b5d2518847ed51b4f13dd

[code]

With sufficiently long test applications, I'm seeing the following hold-up everytime.

Here goes the capture of the stack during the "infinite loop":

[code]

With the following break points, it never hits the break points:
[code]

With a break point in the do-while loop of Lazy

[2016-02-23 09:42] myungjoo opened #3312 "Infinite Looping inside GC (ARM/Linux/Debug)"
Running environment: ARMv7, Cortex A9 QuadCore, Linux. Coreclr commit: 0a3fe0f45ae75f31db0b5d2518847ed51b4f13dd

[code]

With sufficiently long test applications, I'm seeing the following hold-up everytime.

Here goes the capture of the stack during the "infinite loop":

[code]

With the following break points, it never hits the break points:
[code]

With a break point in the do-while loop of Lazy

[2016-02-23 09:43] #3311 closed

[2016-02-23 09:50] myungjoo commented on #3312
It appears that the functions inside ExecutionManager::IsManagedCode() is looking at one stack out of the stack supposed to look at. (e.g., looking at #22 instead of #23 in the following stack trace, making it think that the top stack is not managed code.)

[code]

[2016-02-23 10:06] janvorli commented on #3309
@myungjoo Exception handling is implemented only for x64 on Unix at the moment. The Unix ARM 32 port can only run a very basic hello world with no exceptions and no GC yet. For the V1 release, we focus on AMD64, official support for ARM 32 will come after that.
The current ARM 32 support was done by the community - mostly @benpye and @kangaroo, if I remember it correctly.

[2016-02-23 10:10] benpye commented on #3309
Yeah, I never really got much further unfortunately. There is an underlying issue, even if you get past what I believe your current issue is. It appears than Ubuntu 14.04s libunwind is somewhat broken on ARM, so updating, and using the `UNW_ARM_UNWIND_METHOD` environment variable (`UNW_ARM_UNWIND_METHOD=4`) still unfortunately does not get us anywhere. I have also tried using LLVMs libunwind to se

[2016-02-23 10:24] myungjoo commented on #3312
in LazyMachState::unwindLazyState()'s do-while loop,
ctx.Pc value is stuck at the stack #22 (FrameAllocateString()).

In the loop, trying to unwind with PAL_VirtualUnwind(); at Line 539,
The function PAL_VirtualUnwind() of src/pal/src/exception/seh-unwind.cpp always return FALSE
with LINE 256 (unw_step(&cursor) returning -1. (libunwind's src/arm/Gstep.c's unw_step() returns -1 as dwarf_step() retu

[2016-02-23 10:45] myungjoo commented on #3312
The major expected reason is that the top stack (JIT code) is generated incorrectly:

(CORERUN's TOP STACK)
[code]

Other executable's TOP STACK
[code]

[2016-02-23 11:36] myungjoo commented on #3309
As mentioned in another topic, https://github.com/dotnet/coreclr/issues/3312,
the ARM-JIT stack frame seems broken: (SP == Arglist/Locals == "Previous frame")

[code]

Where it is supposed to look like this:
[code]

Looks like even if that's the top stack (the "main" of the thread and LR = PC+1), you need to make "previous frame" available. (just speculation from gdb info of other "good running pr

[2016-02-23 11:44] janvorli commented on #3309
Stack frames generated by the jitter are not expected to be understood by GDB - since they are dynamically generated by the jitter, there is no way to communicate their unwind information to the debugger.
Due to the same reason, they are not understood by the native C++ unwinder either.
In other words, GDB is unable to go through the stack frames belonging to jitted code and always shows them as a

[2016-02-23 13:17] benpye commented on #3309
Just to explain my previous comment, I think the assembly unwind info is broken as there is nothing in the stack trace in any stub or such. I think that's something we should see, I should check with x64 to make sure.

[2016-02-23 15:14] hickford opened #3313 "Round-trip format specifier incorrect for some doubles on some x64 computers"
Reproduced from https://stackoverflow.com/questions/24299692/why-is-a-round-trip-conversion-via-a-string-not-safe-for-a-double?rq=1

[2016-02-23 17:00] jasonwilliams200OK commented on #3178
@ellismg, apparently setting `BUILDTOOLS_OVERRIDE_RUNTIME` is not enough given the current state of build structure when we have `dotnet` binary mandatory requirement, which is not available for FreeBSD/NetBSD.

I tried compiling CLI, but the scripts rely on `dotnet-$osname-x64.latest.tar.gz` which is not available for FreeBSD/NetBSD. Using `osx` as an override doesn't work either because the the

[2016-02-23 17:17] briansull commented on #3092
I have a fix for this issue

[2016-02-23 17:18] briansull opened #3317 "ARM64: Improve the codegen for divide so that we omit checks when we have a constant divisor"

[2016-02-23 17:19] briansull commented on #3317
I have a fix for this issue

[2016-02-23 17:56] cesarbs commented on #3306
I wasn't aware of those details. Thanks! :smile: I'll fix the test.

[2016-02-23 17:56] #3306 closed

[2016-02-23 18:05] stephentoub commented on #3306
:smile:

[2016-02-23 18:16] tmds opened #3318 "./build.sh on Ubuntu 15.10 fails"
I am trying to build the coreclr repository on ubuntu wily.

At some point the build script downloads https://dotnetcli.blob.core.windows.net/dotnet/dev/Binaries/1.0.0.000973/dotnet-ubuntu-x64.1.0.0.000973.tar.gz

Then it tries to execute:
dotnet restore /home/tmds/repos/coreclr/Tools/1.0.25-prerelease-00171/project.json --packages /home/tmds/repos/coreclr/packages --source https://www.myget.org/F

[2016-02-23 18:38] rahku opened #3320 "Remove XunitWrapper to run tests"
replace with
1. python script : figure out a way to generate report
2. smarty : port to linux

[2016-02-23 18:41] rahku opened #3321 "Do not add FX assemblies to TPA when running tests"
When tests are run all fx assemblies & other dependencies are copied to core_root making them trusted assemblies. All dependencies should be copied to test/application directory and only runtime (coreclr & mscorlib) should be present in core_root.

[2016-02-23 18:46] rahku opened #3322 "Tests JIT\Regression\VS-ia64-JIT\V2.0-RTM\b286991\b286991\b286991 depends on dev11 crt to be installed"
Tests JIT\Regression\VS-ia64-JIT\V2.0-RTM\b286991\b286991\b286991 requires  msvcr110.dll to be present on the machine. It should not make this assumption rather all dependencies should be brought in with the test.

[2016-02-23 18:48] rahku opened #3323 "Enable Helix based testing for linux"

[2016-02-23 18:51] rahku opened #3324 "Enable P1 & P2 test in Helix (windows)"
P2 is blocked due to #2713

[2016-02-23 18:54] rahku opened #3325 "In tests\helix.targets remove hack used to copy currently built runtime"
add dependency to currently built runtime package to all the tests

[2016-02-23 18:59] rahku commented on #3320
coreclr repo has its own copy of buildtools files publishtests.targets & tests.targets. They are tests\publishdependency.targets & tests\tests.targets. As part of this work try to get rid of coreclr copies of these files and harmonize it with buildtools files. This way helix integration or post-build integration is common for all repos.

[2016-02-23 19:00] briansull opened #3326 "ARM64: assert: (size == EA_4BYTE) || (size == EA_8BYTE)"
1 occurance in ngen mscorlib:
 in 'System.Console:MoveBufferArea(int,int,int,int,int,int,char,int,int)' (IL size 716)

[2016-02-23 19:20] arnmac commented on #1590
I was working to validate and update the FreeBSD instructions. What needs to be done to build mscorelib on FreeBSD?

[2016-02-23 19:25] jasonwilliams200OK commented on #1590
@arnmac, mscorelib already builds on FreeBSD. You can grab the binary form CI build https://github.com/dotnet/coreclr/blob/master/README.md.

If you are interested in building from source yourself, follow the steps at https://github.com/dotnet/coreclr/blob/e9fa953/Documentation/building/freebsd-instructions.md and https://gist.github.com/jasonwilliams200OK/06db121ec534821fe541.

[2016-02-23 20:57] LLITCHEV opened #3330 "Potential bug in handling Funclets in compMethodReturnsRetBufAddr() method in compiler.h"
It is not clear whether the type of a funclet is changed when calling this function from flowgraph.h.
This issue exists on Windows and Linux when isProfilerHook enabled.
It is potentially possible to change the type of the funclet based on the value of the main method's compRetBufArg.
This issue was introduced by a recent refactoring related to fixes in oneReturn code in flowgraph.
It is possible

[2016-02-23 21:11] krytarowski commented on #2090
For now I will leave it as it is, I will be back to it once other parts of dotnet will be ported to NetBSD.

[2016-02-23 21:15] krytarowski commented on #3178
CoreFX is still awaiting for the PCL elimination, until then I'm porting LLILC to NetBSD. It should be a good initial verification of CoreCLR.

[2016-02-23 21:49] ellismg commented on #3178
To a first approximation, everything has been open sourced.  There aren't any tools that I'm aware of that we are holding back that would help in bringing a platform online.

What hasn't been done is for someone to sit down and understand the exact process that needs to be followed to bring a new platform online.  We've developed the technology we've needed organically as we've run into issues (e.

[2016-02-23 22:21] jasonwilliams200OK commented on #3178
Thanks @ellismg for the detailed response, we appreciate your efforts to solidify the tools based on the existing set platform. We should certainly acknowledge what you guys have achieved and delived over the period of an year, and that is absolutely brilliant effort! :+1:

I didn't knew about this dependency situation. The last time when i worked on FreeBSD, `dotnet/cli` project was non-existent

[2016-02-23 22:27] krytarowski commented on #3178
@ellismg Thank you for your reply.. well there is still something to do.. LLILC has been ported (via pkgsrc-wip) to NetBSD... I think I will try with Pyjiton too :smile:

[2016-02-23 22:29] stephentoub commented on #3178
FWIW, this shouldn't be a show-stopper.  For a long time we did the managed builds on Windows and then copied the built binaries over to the other system... that still works!  So you should absolutely be able to make forward progress that way if you're so inclined.

[2016-02-23 22:45] jasonwilliams200OK commented on #3178
@stephentoub, that is a good idea, I will give it a shot.

[2016-02-23 22:49] nbyouri commented on #3178
I am eagerly awaiting for NetBSD support of coreclr!

[2016-02-23 22:51] jasonwilliams200OK commented on #3178
@nbyouri, us as well; please let us know if you are willing to participate too. :)

[2016-02-23 22:53] briansull opened #3332 "ARM64: Implement table switch based codegen"
Sample test case:

timespanadd.exe_2389

"Need GT_SWITCH_TABLE expansion for ARM64"' in 'System.Globalization.CalendarData:InitializeEraNames(ref,int):this' (IL size 476)

[2016-02-24 00:49] myungjoo commented on #3309
Unlike ARM, the stack frame of x64-coreclr's JIT code has "valid" frame information:

[code]

whose assemblies look like this:
[code]

Anyway, as you have mentioned, the stacks above this are not validly tracked. (but the stack frame is not broken) I may be able to loosen up the "validity" check in libunwind for ARM and will report back if that helps.

[2016-02-24 06:55] Bibo1978 opened #3338 "Marshal.SecureStringToGlobalAllocAnsi"
When building with CoreCLR I am getting this error
 DNXCore,Version=v5.0 error
CS0117: 'Marshal' does not contain a definition for 'SecureStringToGlobalAllocAnsi'

Is there a missing dependency .. or this is an error

[2016-02-24 08:28] kika123 commented on #3309
Please don't break Windows on ARM(32bits) in the way.
By the way, can you run an ARM Wine on your machine?

[2016-02-24 08:44] nbyouri commented on #3178
Sure, I'm willing to help!

[2016-02-24 16:31] grahamehorner opened #3342 "Support for Time data type"
Please consider adding a new core data type of time to the CLR/CoreFx with support for time zone this data type would then be used to support database etc.

[2016-02-24 17:41] gkhanna79 commented on #3321
@rahku Does this break anything?

[2016-02-24 17:41] gkhanna79 commented on #3323
CC @sergiy-k

[2016-02-24 17:44] AndyAyersMS commented on #3321
@rahku CoreCLR builds ~5900 test executables, seems like taking your suggestion literally would create a lot of file copies.

[2016-02-24 17:45] rahku commented on #3321
@AndyAyersMS No if you create hardlinks instead of copies.

[2016-02-24 17:46] rahku commented on #3321
@gkhanna79 No it does not break anything but it does not catch bugs when these assemblies are not TPA.

[2016-02-24 18:01] rahku commented on #3321
closing as it seems we no longer have the concept of non-tpa for netcore. Everything is TPA now.

[2016-02-24 18:01] #3321 closed

[2016-02-24 20:24] sivarv opened #3347 "[RyuJIt][SIMD] RyuJit assumes that Vector3 type args passed in registers or on stack is rounded to 16-bytes with upper 4-bytes being zero"
RyuJIt back-end makes two assumptions about Vector3 types

Assumption1: Vector3 type args passed in registers or on stack is rounded to POINTER_SIZE and hence on 64-bit targets it can be read/written as if it were TYP_SIMD16.

Assumption2: Vector3 args passed in registers (e.g. unix) or on stack have their upper 4-bytes being zero.  Similarly Vector3 return type value returned from a method will h

[2016-02-24 22:48] gkhanna79 commented on #3249
@davidfowl What is the command line you used? Specifying the /Platform_Assemblies_Path to the location of coreclr.dll/mscorlib.ni.dll should work for compiling an assembly. @JohnChen0 can add more context.

[2016-02-24 22:53] gkhanna79 opened #3349 "Enable Ready2Run"
- [x] Enable Ready2Run compilation and run of repo tests in CI (https://github.com/dotnet/coreclr/issues/3707)
- [ ] Enable Ready2Run compilation and run of repo tests in Helix. (https://github.com/dotnet/coreclr/issues/3710)
- [ ] Enable Stress/GCStress for R2R tests (https://github.com/dotnet/coreclr/issues/3708)
- [ ] Enable Perf runs for R2R (https://github.com/dotnet/coreclr/issues/3709)
- [x

[2016-02-24 23:10] janvorli commented on #3349
@gkhanna79 the ready to run tests that we have and that are part of the runtime tests are already run during each CI.

[2016-02-24 23:22] gkhanna79 commented on #3349
@janvorli I have updated the Title to reflect the intent more accurately.

[2016-02-24 23:24] janvorli commented on #3349
Ah, makes sense

[2016-02-24 23:50] sivarv commented on #3330
There is no bug in compMethodReturnsRetBufAddr() nor in compMethodHasRetVal() when called from flowgraph.cpp::fgAddInternal() and morph.cpp::fgMorphBlocks() for the reason that latter call comp*() methods only in the context of a block whose jumpkind is BBJ_RETURN.  In case of funclet methods, none of its basic blocks will have jumpkind BBJ_RETURN instead it will end with one of BBJ_EHFINALLYRET/B

[2016-02-24 23:50] #3330 closed

[2016-02-24 23:56] #2886 closed

[2016-02-25 02:07] myungjoo commented on #3309
Leaving some note on the progress:
- src/vm/arm/stubs.cpp:PAL_VirtualUnwind()'s context manipulation (WinContextToUnwindCursor()) is not compatible with libunwind-arm.
- First, I thought that's only because libunwind-arm prohibits setting R13 (SP), but that wasn't the only part making it incompatible. (still, it fails to get the proper stack info)
- After some more testing, I'll probably make PAL_

[2016-02-25 03:10] myungjoo commented on #3309
Anyway, in order to make the current WinContextToUnwindCUrsor() compatible with libunwind-arm, The given CONTEXT as the first function argument should have .LR value available, which is not at least with LazyMachState::unwindLazyState().

[2016-02-25 04:18] #3292 closed

[2016-02-25 05:48] bendono opened #3352 "SOS version mismatch message"
While looking into a dump (CLI #1576), I noticed that the coreclr and sos versions did not match. There is a warning message about it, but it only appears on the second+ sos command issued. It does not occur on the first sos command issued.
![sos](https://cloud.githubusercontent.com/assets/846533/13311054/a6006742-dbce-11e5-94a6-dc6a5b9927e0.png)
While minor, I would expect it to be consistent and

[2016-02-25 06:07] #3322 closed

[2016-02-25 07:39] JohnChen0 commented on #3249
I have confirmed that by adding the location of mscorlib.ni.dll to /Platform_Assemblies_Path, crossgen can work successfully. There is no need to add location of coreclr.dll. For example:

    C:\dotnet\tools\crossgen.exe /platform_assemblies_paths "C:\dotnet\runtimes\win7-x64\lib\dotnet;..." myAssembly.dll

@davidfowl Please provide more details if this doesn't work for you.

[2016-02-25 08:30] bendono opened #3355 "Build fails without PowerShell on path"
Following the Windows build instructions [here](https://github.com/dotnet/coreclr/blob/master/Documentation/building/windows-instructions.md), the build script fails.
![powershell](https://cloud.githubusercontent.com/assets/846533/13313871/9a57526e-dbe4-11e5-9c12-5d0c34f7960b.png)

Apparently PowerShell must be on the PATH, though the instructions do not mention this prerequisite. Also, the script

[2016-02-25 17:04] janvorli commented on #3309
@myungjoo when you say "I'll need to retraverse the stack from current-context to the stack pointed by the given CONTEXT", do you mean that you would always start scanning from the current context and skip frames until you reach the given CONTEXT?
If that's the case, it would not work for stack walking of a thread different from the current one.

[2016-02-25 18:28] LLITCHEV opened #3360 "Investigate commented out assert in codegenxarch.cpp, line 2619."
Investigate the reason for the assert and why is failing. If the struct size is <= to 1 register size (8 bytes) the type should have been normalized and varTypeIsStruct should not return true.

[2016-02-25 18:28] bendono commented on #3355
Resolved by #3356.

[2016-02-25 18:28] #3355 closed

[2016-02-25 18:56] borgdylan commented on #3271
Also, the CI is not building mscorlib at all under 15.10. Compare the artifacts with 14.04.

[2016-02-25 19:32] borgdylan commented on #3271
I managed to get the build to move further by installing the libicu52 package from a prior ubuntu version. I hope that the built output ill link against libicu55.

[2016-02-25 19:38] borgdylan commented on #3271
The build fails with:
[code]

[2016-02-25 19:38] ellismg commented on #3271
FWIW, This isn't supported today, so there isn't a super clear path forward.  My recommendation is just to pick mscorlib.dll from a Ubuntu 14.04 build in CI.  `mscorlib.dll` itself doesn't have any distro specific dependencies.

[2016-02-25 19:44] ellismg commented on #3271
@borgdylan The issue are hitting there is a known issue that can happen due to bugs in `dotnet restore` picking the wrong set of packages to restore due to race conditions.  We plan to update the version of dotnet restore we use in the next couple of days to pick up a fix for the issue.

In the mean time, you can try forcing a re-download of the tools (doing this from the root of the repository)

[2016-02-25 20:13] terrajobst commented on #2999
Following our [API review process](http://aka.ms/apireview) I've file #CoreFX/6398.

[2016-02-26 00:16] palladia opened #3366 "FileSystemInfo of a symbolic link when the link becomes broken"
Running dotnet 1.0.0-beta-001472 on Ubuntu 14.04.1, System.IO.FileSystem.*:  4.0.0-rc3-23819:

On Linux, a symbolic link has following typical FileSystemInfo
-----------------------
Mode              : --r--l
VersionInfo       : File:             /usr/bin/dotnet
                    InternalName:
                    OriginalFilename:
                    FileVersion:
                    FileDescript

[2016-02-26 00:27] hoyMS opened #3367 "System.Runtime.InteropServices.RuntimeInformation.Tests fails"
**Configuration**
    Checked CoreCLR runtime: coreclr.dll, corerun.exe and mscorlib.dll
     CoreFX assemblies and CoreFX tests: release

**This only happened with Linux-build corefx. Building corefx on windows and copying binaries to Linux didn't repro.**

./build.sh /p:ConfigurationGroup=Release /p:BUILDTOOLS_OVERRIDE_RUNTIME=~/git/coreclr/bin/Pro
duct/Linux.x64.Checked

     System.Runtime.Int

[2016-02-26 00:41] hoyMS opened #3368 "BasicEventSourceTests tests fail on Windows"
**Configuration**
 Checked CoreCLR runtime: coreclr.dll, corerun.exe and mscorlib.dll
 CoreFX assemblies and CoreFX tests: release

BasicEventSourceTests.TestsWriteEvent.Test_WriteEvent_SelfDescribing_EventListener_UseEvents
BasicEventSourceTests.TestsWriteEvent.Test_WriteEvent_Manifest_EventListener
BasicEventSourceTests.TestsWriteEvent.Test_WriteEvent_Manifest_EventListener_UseEvents
BasicEventS

[2016-02-26 00:44] hoyMS commented on #3368
Failure doesn't repro with release coreclr.

[2016-02-26 00:46] gregg-miskelly opened #3369 "Debugger causes OSX security prompt when launching"
In testing on a clean OSX El Capitan box, we are seeing that when dbgshim launches vmmap to find the version of CoreCLR in the target process the user gets a security prompt. We should see if we can do something else to avoid this. For example: shared memory section instead of image map, or calling the image APIs directly.

[2016-02-26 00:52] janvorli commented on #3369
FYI - lldb does the same thing unless run using sudo.

[2016-02-26 01:04] hoyMS commented on #3367
Looks like we are missing api-ms-win-core-sysinfo-l1-2-0.dll as a native library on Linux.

[2016-02-26 01:45] myungjoo commented on #3309
@janvorli That's correct. If there are such cases, I'd somehow make WinContextToUnwindCursor() compatible with Libunwind-ARM (it isn't!). It just cannot work in the current system because winContext.LR is not set (at least with unwindLazyState) and libunwind-arm seems to depend on that value while the current PAL implementation assumes that it'd be ok with the winContext->Sp value, which is ignore

[2016-02-26 01:58] janvorli commented on #3309
@myungjoo I have double checked and unless I've missed some place, it looks like there is only one place where we unwind a frame of an arbitrary thread - in the managed debugger helper that unwinds the frame on demand from the debugger.

[2016-02-26 02:12] #3299 closed

[2016-02-26 02:35] AndyAyersMS opened #3371 "InlinerRefactoring: steps needed to move the state machine into LegacyPolicy"
I've been steadily chipping away at various aspects of the refactoring, but there's a big challenge looming: how to safely preserve the current inliner callee size estimator while freeing up the code base so we can explore alternatives.

I have a bunch of notes on this and figured I might as well capture them here just so the next couple of changes make more sense.

* Background

The inliner uses

[2016-02-26 03:10] myungjoo commented on #3309
@kika123 To make it sure that my fix won't make any side effects on Windows-ARM: is "HAVE_LIBUNWIND_H" always false for Windows build? (I believe so but I want to make it sure)

 (testing WinContextToUnwindCursor() modified to be compatible libunwind-arm now)

[2016-02-26 03:26] wjk commented on #3245
I have since managed to fix this one on my end.

[2016-02-26 03:26] #3245 closed

[2016-02-26 04:49] myungjoo commented on #3309
Ok.. now, WinContextToUnwindCursor() and UnwindContextToWinContext() are corrected to be compatible with libunwind-arm, which makes PAL_VirtualUnwind work as expected.

Anyway.. this only surfaces another bugs in PAL-ARM codes. :( I'll keep digging those.

[2016-02-26 05:08] myungjoo opened #3372 "NULL pointer accessing in srv/vm/arm/stubs.cpp"
Target Machine: LINUX / ARM

As solving #3309 + #3312 progresses, I'm now hitting another issue in
void HelperMethodFrame::UpdateRegDisplay(const PREGDISPLAY pRD) at src/vm/arm/stubs.cpp

Quoting from line 661 of src/vm/arm/stubs.cpp (0a3fe0f45ae75f31db0b5d2518847ed51b4f13dd)
[code]

When PC starts hitting the line 661, GDB reports:
[code]
, which inevitably incurs as it tries to do " * (0x0) ":
[

[2016-02-26 06:29] myungjoo commented on #3372
This seems to be caused by faulty cmake scripts.
I'll soon create a series of patches for a PR covering #3309, #3312, and this.

[2016-02-26 06:52] NightElfik opened #3373 "Poor code quality of `List<T>`"
Hi coreclr hackers,

Recently I have been digging around implementation of `List<T>` in mscorlib and I was quite surprised of poor quality of code formatting.

I have found dozens of typos in comments that are not even XMLdoc (are they supposed to be?), inconsistencies in coding style (somewhere there are braces, somewhere there are not, sometimes there is new lie, sometimes not, etc.) and even mi

[2016-02-26 07:10] mjsabby commented on #3373
Absolutely, the community welcomes it.

https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/contributing.md#typos

[2016-02-26 07:25] NightElfik commented on #3373
@mjsabby Thanks for the answer and for the link! I am wondering what about comments style (XMLdoc vs. plain) and maximum preferred line lengths (for code and for comments)? Those are not mentioned in the linked style guide.

[2016-02-26 07:59] myungjoo commented on #3372
Question before applying related patches:

- in src/pal/src/configure.cmake, why are we checking if "unw_get_save_loc" or "unw_get_accessors" are available with check_functions_exists whie we already have checked whether there is "libunwind.h"?

The symbols in actual .so files are not same as the names defined in headers in order to support multiple architectures (e.g., libunwind-arm, libunwind-aa

[2016-02-26 08:28] bendono opened #3377 "SOS exception -- g_ExtControl is null"
I synced and rebuilt both coreclr and corefx today. While testing a scenario, my app crashed. I opened up the dump for analysis and loaded SOS. I noticed that no matter what the first SOS command is, this results in the following error:

I have seen this error many times in full framework as well, but this time I had the full private symbols, so I decided to analyze it.
I attached another season o

[2016-02-26 08:32] bendono commented on #3377
CC @mikem8361 You seem to be the SOS expert. When you have time, could you take a look at this? Thanks.

[2016-02-26 10:44] janvorli commented on #3372
@myungjoo There are two different libunwind libraries, one is the `http://www.nongnu.org/libunwind/` which we use on all Unixes except of OSX and then the one that is part of OSX. The one in OSX is missing the `unw_get_save_loc` and `unw_get_accessors`.

[2016-02-26 10:52] janvorli commented on #3372
So your modified check will break OSX. I would recomment using check_cxx_source_compiles instead, similar to what we do for UNWIND_CONTEXT_IS_UCONTEXT_T.

[2016-02-26 16:14] RussKeldorph opened #3379 "JIT test name collisions"
The following tests have .cs and .il files with the same base names, resulting in one file "winning" and the other not being run.

jit\jit64\regress\vsw\373472\test
jit\methodical\eh\finallyexec\catchrettoinnertry_d
jit\methodical\eh\finallyexec\catchrettoinnertry_r
jit\methodical\flowgraph\bug619534\twoendfinallys
jit\regression\clr-x86-jit\v2.1\ddb\b170362\b170362

[2016-02-26 17:03] manu-silicon commented on #3190
Yes, closing the issue.

[2016-02-26 17:03] #3190 closed

[2016-02-26 17:55] nathana1 opened #3380 "configuration settings for spanning processor groups not being set"
When trying to run a process with dotnet run that utilizes processors from all processor groups the config settings for that don't seem to be respected.  To repro:

set COMPlus_GCCpuGroup=1
set COMPlus_gcServer=1
set COMPlus_Thread_UseAllCpuGroups=1
git clone https://github.com/aspnet/benchmarks.git
cd benchmarks
dotnet restore
dotnet run

Benchmarks.exe  will be affinitized to a single processor

[2016-02-26 18:20] janvorli commented on #3309
@myungjoo I've just realized that even for walking the current thread, walk from the current context won't work. Just imagine a case where you have native code (1), calling managed code and that calling native code (2). Now when the unwinder is running in native code (2) and it needs to unwind a frame that's in native code (1), it will fail to do so since it cannot cross the managed code frames.

[2016-02-26 18:22] borgdylan commented on #3271
@ellismg It worked OK. I cannot build corefx however. Would I be able to use this fresh coreclr that uses icu v. 55 with corefx packages obtained from myget? I'd like to test a library of mine that I've been cross compiling against the reference assemblies.

[2016-02-26 18:27] masonwheeler commented on #3372
@myungjoo Thanks for looking into this.  ARM32 progress has been stuck on this stuff for far too long!

[2016-02-26 18:44] LLITCHEV opened #3382 "Fix a GC hole and a bug (trashing the second struct return register RDX) in genEmitGSCookieCheck method."
Fix a GC hole and a bug (trashing the second struct return register RDX) in genEmitGSCookieCheck method.

GS cookie check is emitted after the codegen of GT_RETURN or a tail call or jmp method. It not considered part of epilog. Hence genEmitGSCookieCheck() explicitly checks to see if the return type is REF and if so keeps Return Register alive for the duration of GS cookie check. Say if the method

[2016-02-26 18:48] cmckinsey commented on #3332
Is this for perf only? We should give it the optimization label if that's the case so we can treat this as lower priority than regular bring-up functionality.

[2016-02-26 19:16] briansull commented on #3332
Yes, It is an optimization issue and we currently generate a potentially very long sequence of cmp and beq instructions.

[2016-02-26 19:40] mikem8361 commented on #3377
I've tried to repro this and no luck.  Looking at the stack trace you included tells me (and looking at my recent changes to see if there is any possible way they broke something) that g_ExtControl should have been properly initialized when we entered "sos!threads" (or any other command). Adding a null check in is IsInterrupt would just hide/delay the crash until the next access of g_ExtControl (h

[2016-02-26 19:44] gkhanna79 opened #3384 "Bring Longfile path fixes to mscorlib"

[2016-02-26 20:22] masonwheeler commented on #2688
On Windows, a graceful shutdown request is a *request*, generally provided by the user hitting ALT-F4 or clicking the red X.  In many cases it is inappropriate to call a shutdown routine at this point; rather you need to confirm with the user and give them the chance to save and/or cancel shutdown.  (There's nothing graceful about having the application pulled out from under you; from the end-user

[2016-02-26 20:26] stephentoub commented on #2688
Right now SIGTERM isn't handled at all, so it's a kill switch that's even less graceful than calling Exit, running any Unloading event handlers, etc.

[2016-02-26 21:22] masonwheeler commented on #2688
Fair enough.  I'm just saying that if we want to handle this, it's important to get it right, no?

[2016-02-26 21:28] sergiy-k commented on #3380
@brianrob, when you added support for Server GC for CoreCLR on Windows, why did you disable affinity and priority related code for CoreCLR GC?

[2016-02-26 21:32] rahku opened #3386 "jit tests do not specify dependency on on ildasm/ilasm."
All the test dependency should either be present in test binary folder (by specifying as project dependency in csproj file) or come from nuget packages (by specifying in project.json) . Some of jit test depend on ildasm & ilasm.  All of those jit tests do neither of the above two, however, require ildasm & ilasm to be present on the machine. This is breaking the tests when run in helix.

[2016-02-26 21:33] stephentoub commented on #2688
My thinking is this:
- The current state is the worst: it's supposed to be graceful, but because the signal isn't handled at all, the default handling kicks in and the app is simply terminated.
- We can change make a relatively small but impactful change that at least allows the system's normal shutdown to take place, including executing any cleanup handlers the app has registered.  libcoreclr can

[2016-02-26 21:41] mikem8361 commented on #3377
If you had time, could you debug it yourself a little? If you do, set a breakpoint at the beginning of the "Threads" command on or before the INIT_API macro in strike.cpp and a bp on IsInterrupt().  When you hit the one in Threads, step into the call to ExtQuery. You should see/step over the code that initializes g_ExtControl. Now maybe it is being trashed/cleared by some code that I'm not aware s

[2016-02-26 21:58] mikem8361 commented on #2870
Addressed in PR #3365.

[2016-02-26 21:58] #2870 closed

[2016-02-26 23:25] brianrob commented on #3380
From what I remember, this wasn't intentional.  However, it has been some time, so the details are fuzzy.

[2016-02-26 23:26] swgillespie opened #3391 "Audit GC tests that rely on object lifetimes"
There is a common pattern in GC tests that goes something like this:

[code]

This is a flaky test setup because it depends entirely on what the JIT decides to do with the lifetime of `obj`.

The correct thing to do here is to ensure that the lifetime of `obj` is strictly less than the stack frame where `GC.Collect` is called, probably by performing the allocation in another function and calling `

[2016-02-26 23:30] swgillespie opened #3392 "Audit GC tests that consume lots of resources and/or take a long time"
There are number of GC tests that are very useful for bug-finding, but either take a very long time to run (>10 minutes) or consume a lot of memory. We need to figure out when we want to run these and ensure that our infrastructure can handle the resource consumption that these tests perform. We will also want to examine these tests with ETW to ensure that they are testing what they claim to test

[2016-02-27 00:23] BruceForstall opened #3396 "Package binding of JIT tests needs to avoid conflict"
This issue is a result of PR #3383 . The problem there was some of the jit/config/*/project.json specified one version of System.IO.FileSystem, and one project.json specified another. There was some issue where the version dropped in the binaries used for testing was wrong for some tests.

@pgavlin suggests we need an issue to discuss/track pinning of all tests' project.json files to avoid future

[2016-02-27 00:33] bendono commented on #3377
@mikem8361, thank you for taking a look at it. Based on your comments, I have attempted to debug this further. It appears that g_ExtControl is being cleared in ExtQuery:
    SOS_ExtQueryFailGo(g_ExtControl, IDebugControl2);

The callstack is as follows:

0:004> k
Child-SP          RetAddr           Call Site
000000d5`fc37bd10 00007ffe`c78c4529 sos!ExtQuery+0x18 [d:\git\coreclr\src\toolbox\sos\stri

[2016-02-27 00:43] mikem8361 commented on #3377
That means windbg/dbgeng isn't returning the IDebugControl2 interface and it is really broken that it isn't returning an error from QueryInterface. You could try upgrading to a newer version windbg.  sos isn't doing anything wrong as far as I can tell.

[2016-02-27 00:54] gkhanna79 commented on #3133
@markwilkie This issue is not unique to CoreCLR but applicable across the board. Are you tracking this requirement (to version native components on a per build basis)?

[2016-02-27 01:06] janvorli commented on #1703
Test added in #3393

[2016-02-27 01:06] #1703 closed

[2016-02-27 01:22] bendono commented on #3377
Experimenting with this a little more, I noticed the following:
If I load sos with ".loadby sos coreclr", the first attempt at (for example) !sos.threads fails.
If I load sos with ".loadby sos.dll coreclr", the above error does not occur at the first attempt at (for example) !sos.threads..
I typically prefer the former (without the extension) as it is shorter, which is perhaps why I so frequently

[2016-02-27 01:22] myungjoo commented on #3309
@janvorli It should be ok. I have rewritten WinContext2Cursor and Cursor2WinContext compatible with libunwind-arm rather than traversing the stack manually. So, my latest modification does not try to traverse from the current context.

Anyway, given that it's already Saturday here and we have a long weekend from today, it will take some days to send a pull request. Probably Wednesday or Thursday.

[2016-02-27 01:35] sergiy-k commented on #3380
It looks like a lot of functionality related to CPU groups is under #ifdef !CORECLR. @ericeil, @brianrob, do you know why it was ifdef'ed out?

[2016-02-27 01:59] sergiy-k commented on #3216
/cc: @gkhanna79

[2016-02-27 02:00] briansull commented on #3326
Fixed with PR #3390

[2016-02-27 02:00] #3326 closed

[2016-02-27 02:00] briansull commented on #3317
Fixed with PR #3390

[2016-02-27 02:00] #3317 closed

[2016-02-27 02:01] briansull commented on #3263
Fixed with PR #3390

[2016-02-27 02:01] #3263 closed

[2016-02-27 02:07] sergiy-k commented on #3098
Hi @aviviadi, is this still an issue for you?

[2016-02-27 12:15] mikedn opened #3408 "JIT's allocator performance seems to be low"
I profiled `crossgen mscorlib.dll` out of curiosity and noticed that ~5% of the time is spent in `VirtualFree`. These free calls come from the `ArenaAllocator` (formerly known as `norls_allocator`). It's kind of funny that freeing memory takes about the same time as other JIT actions that do actual work (for example, `SsaBuilder::Build` takes ~5% as well).

I suspect that this happens because the

[2016-02-27 17:07] mikem8361 commented on #3377
The only thing I could do is to also check that the IDebugControl2 interface returned from the QI is null and return an error.  This doesn’t actually fix the problem (which seems to be in Windbg which I have no control over) but your would get an error message instead of crashing.

[2016-02-27 17:16] sklivvz opened #3412 "Exception.ToString() failed."
Minimal repro: `dotnet new` then modify `Program.cs` as follows

[code]

and `project.json` as follows

[code]

then `dotnet restore`, `dotnet run`

[code]

Attaching it to visual studio debugger reveals the following error:

`Unhandled exception at 0x00007FFFC6988A5C (KernelBase.dll) in min.exe: 0xE0434352 (parameters: 0xFFFFFFFF80070002, 0x0000000000000000, 0x0000000000000000, 0x0000000000000000

[2016-02-27 18:03] omariom opened #3413 "Make SingleProducerSingleConsumerQueue<T> public"
In this "After Midori" age such high performance low level building blocks should be available for us too  :)

It is already used in at least three places: [TPL Dataflow](https://github.com/dotnet/corefx/blob/master/src/System.Threading.Tasks.Dataflow/src/Internal/ProducerConsumerQueues.cs#L101), [CoreFx Lab's Channels](https://github.com/dotnet/corefxlab/blob/master/src/System.Threading.Tasks.Cha

[2016-02-27 18:07] omariom commented on #3413
And I promise to contribute my time to make it even more faster :)

[2016-02-27 18:13] stephentoub commented on #3413
I can make it public in the channels library.

[2016-02-27 19:40] omariom commented on #3413
Great!

[2016-02-27 20:12] mikedn opened #3414 "Disagreement between JIT coding conventions and real world"
The JIT coding conventions say that function names should be Pascal cased but in all recent commits (inlining, allocator) camel case names have been used. Personally I prefer Pascal case but I'm fine with either convention as long as it used consistently.

@BruceForstall @AndyAyersMS @pgavlin

[2016-02-27 22:20] Suchiman commented on #3342
Like https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/DateTimeOffset.cs ?

[2016-02-27 22:23] krytarowski opened #3416 "[NetBSD] Consistency check failed: Managed object size does not match unmanaged object size"
[code]

I was suggested to run FreeBSD assemblies. I don't know if that matters.

[2016-02-27 22:38] krytarowski commented on #3416
Discussion: https://github.com/dotnet/buildtools/pull/477

[2016-02-27 22:43] krytarowski opened #3417 "build.sh doesn't offer Xmscorlib"
https://github.com/dotnet/coreclr/blob/master/Documentation/building/freebsd-instructions.md says:

`D:\git\coreclr> build.cmd freebsdmscorlib`

I don't see this command parameter for `build.sh`.

[2016-02-27 22:50] krytarowski commented on #3416
Is that because of not using netbsdmscorlib (freebsdmscorlib)?

[2016-02-27 23:03] ellismg commented on #3416
You are using a release mscorlib and a debug CoreCLR or vise versa.  Likely the first case as the assert would not be printed in release mode, IIRC.

[2016-02-28 00:08] krytarowski commented on #3416
I was using default build options in both projects... I was worried that this is due to target OS-mismatch.

I will try again. Thanks!

[2016-02-28 00:23] jkoritzinsky opened #3419 "ARM CI builds broken"
I was looking at the ARM builds on the Jenkins server and I decided to take a look at the logs for the Ubuntu ARM builds to see if I can figure out why they're failing.  It looks like they're missing the ABI linker package (also known as the emulation mode), which is causing the build to fail almost immediately. Any chance that can be fixed so that the ARM issues can be more easily tracked down?

[2016-02-28 01:10] cheers00 opened #3420 "license to distrbute nuget coreclr and corefx packages"
What is the license to distribute our coreclr application built with coreclr and corefx packages from nuget? Is it still MIT license?

Thanks

[2016-02-28 05:56] jkotas commented on #3373
The contributing doc above says `DO NOT send PRs for style changes.` that the reformatting falls under.

Also, we expect to eventually switch over to implementations of List.cs, etc. from corefx repo, e.g. https://github.com/dotnet/corefx/blob/master/src/System.Collections/src/System/Collections/Generic/List.cs, and stop using the ones here. You will notice that copies in the corefx repo has recei

[2016-02-28 06:03] jkotas commented on #3420
Lookup the package on https://www.nuget.org/. The link to the license is there.

[2016-02-28 06:07] jkotas opened #3421 "AF: TypeName_path_size == TypeName_full_name_path_size line 563 in eventprovdotnetruntime.cpp"
JIT.Generics.Coverage.chaos65204782.cs test hit intermittent crash on Ubuntu x64 Debug on #3410

[2016-02-28 06:11] jkotas commented on #3421
ASSERT FAILED Expression: TypeName_path_size == TypeName_full_name_path_size Location: line 563 in /mnt/j/workspace/dotnet_coreclr/checked_ubuntu_prtest/bin/obj/Linux.x64.Checked/Generated/eventprovider/lttng/eventprovdotnetruntime.cpp Function: FireEtXplatGCAllocationTick_V3 Process: 12351 ./chaos65204782cs_o.sh: line 58: 12351 Aborted (core dumped)

[2016-02-28 07:05] aviviadi commented on #3098
I am following Ayende's solution (https://gitter.im/dotnet/coreclr) - it works for him on Windows 10 (not windows 8), and I'll try it later today/tomorrow on Ubuntu.

[2016-02-28 07:06] NightElfik commented on #3373
@jkotas I see, thanks for the explanation. In that case I am closing this issue.

[2016-02-28 07:06] #3373 closed

[2016-02-28 09:16] bendono commented on #3377
Hi @mikem8361,

I do not think that checking the interface for NULL would be a worthwhile change. I'm more interested in a solution where it does not need to fail (even gracefully) during initialization. I am still looking into this, but first a few comments:
- I updated WinDbg to the latest public release 10.0.10586.567. No change.
- Threads has a client (IDebugClient*) argument. Rather than init

[2016-02-28 09:41] drieseng opened #3422 "Named mutex not supported on Unix"
Creating a named mutex on Unix currently throws a **PlatformNotSupportedException** stating *"Named synchronization primitives are not supported on this platform"*.

Is this scheduled to arrive  ? I'm sure @migueldeicaza will be eager to port this from **Mono** to **.NET Core** :p

Personally, I don't think it makes sense to expose APIs on both Windows and Unix, but only implement them on one of t

[2016-02-28 10:21] mikedn commented on #3422
Related to #1237

[2016-02-28 11:29] drieseng commented on #3422
Duplicate of issue #1237.

[2016-02-28 11:34] mikedn commented on #3422
I wouldn't say it's a duplicate. That issue was resolved by removing the functionality. It would be nice to actually fix the actual problem and restore the functionality.

[2016-02-28 12:26] stephentoub commented on #3422
Miguel can correct me if I'm wrong, but I don't believe Mono implements this either, or more specifically I believe they implement it the same general manner that the coreclr did before it was disabled to throw those exceptions: the names are only process-wide, not cross-process.  That's why we decided to throw exceptions on coreclr; otherwise, since names are typically used for cross-process sync

[2016-02-28 14:56] grahamehorner commented on #3342
The framework should support a time data type; time on it own with a time zone without a date, lots/most databases support time data types, when these are read the framework holds them in DateTime which IMO is incorrect and leads to confusion/misinterpretations

[2016-02-28 15:21] miloush commented on #3342
@grahamehorner  Since MSSQL does not have a time type with time zone support, it might help if you listed the databases and types you are thinking about.

[2016-02-28 15:32] miloush commented on #3342
@Suchiman note that DateTimeOffset stores time offset, not the time zone, which is an important difference.

[2016-02-28 15:55] grahamehorner commented on #3342
@miloush I didn't say databases store time zone information; I said time data types, big difference. IMO the framework should support a time data type with a time zone.  when a time is read for the database the time zone would/could be UTC/known or set accordingly via the DAL; but it should IMO be supported by the framework and Time.Now would use the system culture to default the time zone.

[2016-02-28 16:03] miloush commented on #3342
@grahamehorner I didn't say that either. But I got lost a little bit now, you are asking for it in order to support databases, but now you are saying DAL would provide it and not the database? So are you looking for a type with offset (like DateTimeOffset but without date) or a type with an actual time zone associated?

[2016-02-28 16:24] grahamehorner commented on #3342
@miloush I'll try to explain a little better; most databases now support time data types; and I've had a lot of instances where I simply need to store a time with a piece of data (not interested in the date) when persisting to a store (database or otherwise) a time with a time zone would be good; however if the store (MSSQL) doesn't support a time data type or time with time zone; the DAL would ne

[2016-02-28 16:51] miloush commented on #3342
I would guess it might be a bit difficult to get people agree on how the time zones and DST should be handled, where they should come from and how they should change/be kept up to date and converted in between.

Using time offset might avoid those problems, but then the most logical thing for the DAL/database that does not support this would be to use DateTimeOffset and just ignore the date part..

[2016-02-28 17:31] runxc1 commented on #552
So if it's in the Future milestone is it effectively dead?  A 'Future' sprint is usually where most  tasks go to die and be forgotten

[2016-02-28 18:12] mikedn commented on #3342
What exactly do you mean by a time with a time zone? A time zone is a GMT offset and a set of DST rules. To apply the DST rules you need to know the date so a time with a time zone seems like a rather odd construct. Perhaps you are looking for something like `TimeSpan` but restricted to 24 hours. Maybe you'll find the experimental [System.Time](https://github.com/dotnet/corefxlab/tree/master/src/S

[2016-02-28 18:47] grahamehorner commented on #3342
Time Zone see http://www.timeanddate.com/time/zones/ @mikedn yes, the System.Time in corefxlab is interesting; didn't know about this

[2016-02-28 18:55] mikedn commented on #3342
I know what a time zone is. What I don't understand is how a time and time zone could be useful without a date.

[2016-02-28 19:05] cheers00 commented on #3420
Thanks. I just wanted to confirm. I was bit confused as All MS nuget packages (CLR and CoreCLR) take us to the same Microsoft license web page.

[2016-02-28 21:09] gregg-miskelly commented on #3369
We haven't been able to quite find the pattern of when OSX decides to show this dialog -- it does **NOT** seem to be any of:
* Once per reboot
* Once per machine
* Once per project

There must also be some sort of security setting that causes it to not get shown anymore.
We will need to better understand when this happens to see how important it is to fix.

[2016-02-28 23:43] rahku commented on #3325
fixed in #3387

[2016-02-28 23:43] #3325 closed

[2016-02-28 23:55] gkhanna79 commented on #3216
Since the reference inserted during managed compilation (of sinlib_il_r.dll) is for "sin_il", the loader will look for the latter only. There is no way for it know which file contains the assembly other than the one that has the same name as the assembly.

The test should be fixed.

[2016-02-29 00:15] krytarowski commented on #3417
@jkotas ^

[2016-02-29 00:28] krytarowski commented on #3416
I'm still getting the same result. I was trying combinations of Debug + Debug, Release + Release, NetBSD and FreeBSD target for CoreFX. Can it be something else?

I'm trying to investigate

[2016-02-29 00:32] terrajobst commented on #552
@runxc1 That's not the intend. 'Future' is the equivalent of our backlog. The other milestones are tracking the upcoming RC and RTM versions early this year. Impactful features like this don't make the bar for V1.

[2016-02-29 00:36] jkotas commented on #3417
This option does not exist in build.sh today. I think it would be better to get rid of these one-off paths through build.sh/build.cmd scripts, and instead directly use the msbuild command for bootstrapping. It should be something like:

`Tools/corerun Tools/MSBuild.exe src/mscorlib/mscorlib.csproj /p:__BuildOS=NetBSD /p:__BuildArch=x64 /p:__BuildType=Debug`

BTW: You should be able to use Linux ms

[2016-02-29 01:10] ellismg commented on #3416
Can you share you exact `run-test.sh` invocation?  The assert means that mscorlib and the runtime disagree about the size of CriticalHandle, which has a [debug only](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Runtime/InteropServices/CriticalHandle.cs#L150) field to store an allocation stack trace.  From the assert, it looks like the field is not present in the managed ve

[2016-02-29 01:24] krytarowski commented on #3417
Closing as not an issue.

[2016-02-29 01:24] #3417 closed

[2016-02-29 01:52] krytarowski commented on #3416
[code]

My steps:
1. Build CoreCLR (with pkgsrc-wip/coreclr-git) on NetBSD x64 Debug and install the `Product` dir to `/usr/pkg/CoreCLR`
2. Build CoreFX native x64 Debug and the work (build) dir is in `/tmp/pkgsrc-tmp/wip/corefx-git/work/corefx`
3. Build CoreCLR Debug x64 on Linux and copy `mscorlib.dll` from `./bin/Product/Linux.x64.Debug/mscorlib.dll` to NetBSD machine under `/usr/pkg/CoreCLR` +

[2016-02-29 02:47] ellismg commented on #3416
`--mscorlib-bins` should point to the directory the mscorlib you built is in.  In your case, I believe that's `/usr/pkg/CoreCLR/`.  The way you have it now the test scripts are picking up the runtime that you built yourself and the `mscorlib.dll` that came as part of the toolset.  That is going to be Release and not Debug.

I believe that you shouldn't need to copy the Tools folder over in order t

[2016-02-29 06:50] chunseoklee opened #3426 "Remote debug via SOS plugin"
Current dotnet core does not seem to provide remote debugging tools. Is there anyway to remote debug managed code now(ex. Remote Debugging from x64/86 host to arm32/64 target)?

[2016-02-29 10:05] janvorli commented on #3369
I have remembered that the `/usr/sbin/DevToolsSecurity --enable`  fixes the problem for lldb and it needs to be run once in the lifetime of the machine. But it needs to be run from the GUI since it shows the same kind of dialog.
Please see https://developer.apple.com/library/mac/documentation/Darwin/Reference/ManPages/man8/DevToolsSecurity.8.html
I wonder if it would fix the problem for us too.

[2016-02-29 11:40] krytarowski commented on #3416
Thank you @ellismg -- I think I have some progress.

Here is a partial log:

ftp://ftp.netbsd.org/pub/NetBSD/misc/kamil/corefx-tests-netbsd-1.txt

It's still running, I will check after some hours when I will be back to it.

While there, many tests fail due to missing `Microsoft.Win32` tests/code/support or missing `Microsoft.VisualBasic.Tests.dll` etc. Is it relevant to NetBSD? If not, how to dis

[2016-02-29 13:10] nbyouri commented on #3416
Great to see some progress for NetBSD!

[2016-02-29 16:30] gregg-miskelly commented on #3369
We will have to figure out a reliable repro so that we can confirm, but it sounds very promising.

[2016-02-29 18:22] mikem8361 commented on #3426
Both native debuggers (windbg for Windows and lldb for Linux/OSX/*BSD) that SOS runs on provide remote debugging.  I never used it on lldb but http://lldb.llvm.org/.

For remote managed debugging I think the Windows desktop Visual Studio will be able to remotely debug a Linux/OSX machine.  This is still a work in progress.

[2016-02-29 18:24] mikem8361 commented on #3352
Your screen shot didn't show the "lm" command that shows the coreclr.dll path.  Is it the same path as sos.dll? If so, then there is some problem with the package.  Try installing a later one.

[2016-02-29 18:39] drieseng commented on #3422
Reopened because of @mikedn comment.

[2016-02-29 18:57] #3420 closed

[2016-02-29 19:14] markwilkie commented on #3133
This is not yet currently be tracking as far as I know.  @ellismg - any insight into the best way to handle this?  Adding @jhendrixMSFT for visibility.

[2016-02-29 19:22] #2643 closed

[2016-02-29 22:01] sergiy-k commented on #3318
I think this is due to https://github.com/dotnet/coreclr/issues/2834.
You need to install libicu 5.2 that is required by System.Globalization.Native. Could please try this and check whether it will fix the issue that you are seeing? Thank you.

[2016-02-29 22:30] ellismg commented on #3416
It's possible that the tests just don't get built when building CoreFX on Linux (Maybe VB projects are disabled in general or something?). We still build managed code on Windows all the time when we want to run tests, so we don't see this in CI.

We have some metadata in the CoreFX projects to state if they are [not applicable to some platforms](https://github.com/dotnet/corefx/blob/master/src/Mic

[2016-02-29 23:18] bendono commented on #3352
Here is the output for lm v m coreclr:

0:000> lm v m coreclr
Browse full module list
start             end                 module name
00007ffe`c3f90000 00007ffe`c4543000   coreclr    (export symbols)       coreclr.dll
    Loaded symbol image file: coreclr.dll
    Image path: C:\Program Files\dotnet\bin\coreclr.dll
    Image name: coreclr.dll
    Browse all global symbols  functions  data
    Tim

[2016-02-29 23:28] briansull commented on #3281
Eugene will take a look at this

[2016-02-29 23:42] krytarowski commented on #3416
@ellismg thanks! I'm still running the tests (a process was hanging for 12h in win32 registers.. I had to kill it to push things forward).

So far there are some bugs triggered, but general numbers doesn't look too bad:

[code]

This issue has been fixed, I'm closing it. Thank you!

[2016-02-29 23:42] #3416 closed

[2016-02-29 23:44] ellismg commented on #3416
Awesome to see the progress, @krytarowski!  Really cool to the see algorithmic stuff like collections working!

[2016-02-29 23:53] mikem8361 commented on #3377
Actually the Threads command and all sos commands do use the IDebugClient that is passed in from windbg to query IDebugControl2 in ExtQuery().  DebugCreate is only used in to get the WdbgExts API to evaluate expressions used by a few commands and I’m sure that DebugCreate hasn’t been deprecated and pretty sure the WdbgExt API hasn’t either.

I’m not sure what is going on.  I looked at some older w

[2016-03-01 00:08] mikem8361 commented on #3352
This is the problem which I think you already realize.  The dnx subdirectory is old and doesn’t exist on new (which I just tried) installations (you should probably delete it at some point).  And your ask of why can’t sos.dll be located in the same directory as coreclr.dll should has been addressed by @gkhanna79.

Comments: Flavor=Retail

I manually searched C:\Program Files\dotnet\bin and sos.dll

[2016-03-01 01:22] bendono commented on #3352
I have uninstalled previous CLI installer as well as removed the entire Program Files\dotnet folder.
I then re-installed the latest CLI installer.
Indeed, there is no dnx subdirectory anymore.

CoreClr module details:

0:000> lm v m coreclr
Browse full module list
start             end                 module name
00007ffe`bea40000 00007ffe`beff3000   coreclr    (deferred)
    Image path: C:\Users\

[2016-03-01 01:30] mikem8361 commented on #3352
@gkhanna79 can answer this more definitively but I think in a future dotnet clr version sos.dll will be in the same directory as coreclr.dll. I could be wrong though.

[2016-03-01 01:32] briansull commented on #3104
Fixed with PR #3430

[2016-03-01 01:32] #3104 closed

[2016-03-01 01:35] briansull commented on #2731
These tests are still failing

[2016-03-01 03:17] krytarowski commented on #3133
I'm against reinventing the wheel and messing with metadata in ELF/MachO/a.out/pe/other format. It only causes trouble for their consumers.

SCCS was defined in 1972 and the approach to embed sccs string. Their tools are standarized -- one of them is `what`(1) (in NetBSD since BSD-4.0).

[code]

`what`(1) is defined by POSIX
http://pubs.opengroup.org/onlinepubs/9699919799/utilities/what.html

[2016-03-01 03:30] gkhanna79 commented on #3352
You are correct. Sos would be next to coreclr soon. The difference is because the current published packages come from closed build and not open build.

[2016-03-01 03:32] ellismg commented on #3133
AFAIK, `what(1)` is not standard on most Linux distributions.  On Ubuntu, at least, it's provided by the cssc package and even then it's installed into `/usr/lib/x86_64-linux-gnu/cssc/what` not as a something available on `$PATH`.

I suspect if we go down this path, we'll end up having folks just do `strings` + `grep` to pull the version number out, not the end of the word but not as nice as @kryt

[2016-03-01 03:37] krytarowski commented on #3133
Using `strings`(1) with `grep`(1) (or specialized tools like `radare2`) is straight-forward. Lately Go broke some elf tools with additional tag and it's not nice at all.

[2016-03-01 03:43] redknightlois opened #3439 "[RyuJIT] Div then Mod (or viceversa) executes idiv twice instead of using the value in the register"
[Optimization][CodeGen]
Found this trying to optimize a very low level memory addressing algorithm. Suddenly I noticed that we were doing the idiv twice.

Repro on rc2-16551:

[code]

will output (in x64 but will also happen in x86):

[code]

this could be written as:

[code]

This is pretty common in addressing modes or accessing matrix locations, etc. Everywhere you have a row and a column, you

[2016-03-01 03:54] krytarowski commented on #3133
For the reference:

[code]

I would assume that normally nobody will need it, perhaps just for debugging the runtime. If it will happen, then there will be plenty of ways and tools to get this data.

[2016-03-01 05:29] #2757 closed

[2016-03-01 05:49] LLITCHEV commented on #2854
Fixed by PR #3351 .

[2016-03-01 05:49] #2854 closed

[2016-03-01 06:29] mikedn commented on #3439
Related to #757

[2016-03-01 06:32] mikedn commented on #3439
Div and mod have nothing to do with addressing, that's always done with add and mul. You're probably talking about something else.

[2016-03-01 06:38] gkhanna79 commented on #3133
@markwilkie I have assigned this to you to track as part of the overall engineering work you are driving for RC2.

@livarcocc - FYI since you are driving the signing for repos too.

CC @piotrpMSFT @schellap @weshaggard

[2016-03-01 07:32] Janiels commented on #3439
Div and mod are pretty useful to recover row/column information from indices:
[code]

Mostly when you are treating a singular array as a 2D array (or eg. `Bitmap.LockBits`).

[2016-03-01 07:46] gkhanna79 opened #3442 "Generate RyuJIT Nuget package using CLI"
Currently, it appears that RyuJIT nuget package for x64 is only built for Windows (on non-Windows, BuildNugetPackage is false when msbuild is invoked) and is built using nuget.exe that requires Mono to be present.

We would like to eliminate this dependency. Similar work was done for CoreCLR - Please see https://github.com/dotnet/coreclr/commit/f025f9c678b7194d3b125d0cfa4f8c8e9d27beab as an exampl

[2016-03-01 13:51] redknightlois commented on #3439
@mikedn It is if you are working with stride based binary structures as @Janiels mentioned. I would mention too, that when you are dealing with building data structures using memory maps (therefore unsafe code), it is a pretty common thing to happen.

[2016-03-01 14:00] redknightlois commented on #3439
@mikedn Actually this is a duplicate of #757. I would have never though about calling it ```DivRem``` that's why I havent found it.

@CarolEidt Is the limitation of using multiple registers per single instruction still relevant?

[2016-03-01 14:07] CarolEidt commented on #3439
Yes, the multiple register issue is still relevant, but likely something we will soon be addressing.

[2016-03-01 14:22] mikedn commented on #3439
What @Janiels shows is not so common and certainly not related to the notion of "addressing modes" as used in compilers. More generally, accessing matrix elements has nothing to do with division and modulo. The offset of a matrix element is simply `row * stride + column`. Sure, there may be special/unusual/whatever cases that requires division and modulo but it's a long way from such cases to "Eve

[2016-03-01 14:42] kyulee1 opened #3443 "Use System.Runtime.InteropServices.RuntimeInformation for checking architecture in Test"
Currently we use environment variable to check target architecture. For instance:
https://github.com/dotnet/coreclr/blob/master/tests/src/JIT/Directed/intrinsic/pow/pow1.cs#L25-L26
When this API is fully functional for all targets/platforms, we should use it instead for cross-platforms.

[2016-03-01 15:43] stephentoub commented on #3443
What "targets/platforms" is it missing?

[2016-03-01 16:46] anurse commented on #3133
It definitely sounds like the [SCCS id string](https://en.wikipedia.org/wiki/Source_Code_Control_System) is the most compatible way to do this. It would then support `what` but also `strings+grep`. While it's true that `what` is not installed on all distros, it seems useful to support it if doing so is simple and doesn't break `strings+grep`

[2016-03-01 16:49] redknightlois commented on #3439
@mikedn They are just two sides of the same coin.

[code]
and
[code]

Putting all in the context of the assembly/compiler use is why you are seeing it as special/unusual, where it is not. This pattern is usually hidden in plain sight, it is so common and used, that is very easy to overlook. Only in certain places you will see both together because that means you are trying to retrieve both values

[2016-03-01 18:08] LLITCHEV commented on #2757
Fixed by PR #3351 .

[2016-03-01 18:36] #3366 closed

[2016-03-01 22:46] jkotas opened #3449 "Incorrect result for long to double conversion on Ubuntu with optimizations on"
[code]

Compile and run using `dotnet run` on Ubuntu 14.04: `43e08b2a2c280290`
Compile and run using `dotnet run -c Release` on Ubuntu 14.04: `43e08b2a2c280291`

Actual result: debug and release builds print different number (last digit is different)
Expected result: debug and release builds print same number

[2016-03-01 22:46] jkotas commented on #3449
Looks like a bug in JIT optimizations.

[2016-03-01 23:06] JohnChen0 opened #3450 "FILEGetFileNameFromSymLink in PAL does not work correctly"
When the target of a symbolic link is given as a relative path, FILEGetFileNameFromSymLink function (src/pal/src/file/file.cpp) attempts to resolve it relative to the current directory. This is incorrect. A relative symbolic link should be resolved relative to the parent directory that contains the symbolic link. For example, if /foo/bar is a symlink with a value of xyz, it should be resolved to /

[2016-03-01 23:32] RussKeldorph opened #3451 "Build warnings introduced by #3314"
Please fix the build warnings introduced by #3314.

     3>o:\git\coreclr\tests\src\interop\common\xplatform.h(43): warning C4005: 'WINAPI': macro redefinition [O:\git\coreclr\bin\Native\src\Interop\PrimitiveMarshalling\Bool\BoolNative.vcxproj]
     8>o:\git\coreclr\tests\src\interop\common\xplatform.h(43): warning C4005: 'WINAPI': macro redefinition [O:\git\coreclr\bin\Native\src\Interop\ArrayMar

[2016-03-02 00:10] #3352 closed

[2016-03-02 00:40] mikem8361 commented on #3133
@gkhanna79, @markwilkie could we also add the git sha hash to this version string? This would be really nice for our CSS support and internal devs to be able to checkout the sources for the build of our native binaries.  Thanks.

[2016-03-02 02:01] myungjoo opened #3453 "Patch 266ee6 breaks ARM Build"
The following patch (@mikem8361):

breaks ARM build (and is expected to break all other 32bit architectures)
because it unconditionally says to build "DBIT64".

[code]

Please revert or fix the commit 266ee6dc6d688ec973acfee2e30d61877cd288be

[2016-03-02 02:14] chunseoklee commented on #3426
@mikem8361 Would you tell me expected date for VS remote (managed code) debugging tool ?

[2016-03-02 02:21] chunseoklee opened #3454 "lldb debug error in libmscordaccore.so"
I am following the debug instruction in https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md
I am working on x64 ubuntu 14.04 with commit 0a3fe0f45ae75f31db0b5d2518847ed51b4f13dd
I just stucked in loading libmscordaccore.so
The log is as follows :

$ lldb-3.6 -o "plugin load libsosplugin.so" -o "process launch -s" -o "process handle -s false SIGUSR1 SIGUSR

[2016-03-02 02:25] sivarv opened #3455 "[LSRA] Add support to reserve an internal register on a GenTree node different from its targetReg"
Since the model is that all the operands and internal registers are consumed to produce a result in targetReg, in the current implementation it is possible when a single internal register is reserved it is same as targetReg.

Right now if we need an internal register different from targetReg of a GenTree node we need to reserve 2 internal registers and during codegen one would have to filter out i

[2016-03-02 05:23] davmason commented on #3368
Fixed with #6565 in CoreFX.

[2016-03-02 05:23] #3368 closed

[2016-03-02 05:28] chunseoklee commented on #3454
This issue is resolved by myself :)
except from soshelp bpmd

This brings up a good question: "I want to set a breakpoint on the main
method of my application. How can I do this?"
  1) Stop after coreclr is loaded - TBD
  2) Add the breakpoint with command such as:
       bpmd myapp.exe MyApp.Main
  3) g
  4) You will stop at the start of MyApp.Main. If you type "bl" you will
     see the breakpoi

[2016-03-02 05:29] #3454 closed

[2016-03-02 06:38] mikedn commented on #3449
When optimizing the JIT is doing constant folding and the cast is replaced with a double constant computed by using C++ code. When optimizations are disabled the JIT generates code that performs the cast at runtime. The code generated by Clang and the code generated by the JIT do not agree and we end up with different results. Eh, did anyone think that constant folding is a trivial optimization? :

[2016-03-02 07:50] AndyAyersMS commented on #2373
@omariom I see it getting inlined ... can you double-check your results?  Please make sure your test case is compiled for optimized codegen (eg /debug:pdbonly). I

If you can repro, it would help if you could share your test case exe.

[code]

[2016-03-02 09:05] jasonwilliams200OK commented on #3133
:+1: to what @mikem8361  said, basically this will do the job:

[code]

It prints:

[code]

Problems?

At the time of release, if repo maintainers always make the tag off of master branch and push to GitHub, instead of <kbd>release/1.0.0-rc1</kbd> or version specific branch, git will describe the version correctly with exact commit has when the binaries were compiled.

See http://thesp0nge.tumblr.

[2016-03-02 09:20] janvorli commented on #3454
For 1), You can also use breakpoint set -n coreclr_execute_assembly

[2016-03-02 10:05] chunseoklee opened #3461 "GC pause time optimization"
I have tested GCBench on coreclr and mono in order to measure pause time.
I have modified original source code( http://www.cs.cmu.edu/~spoons/gc/benchmarks.html ) to print out pause time log.(modified code: [https://github.com/chunseoklee/mygist/blob/master/GCBench.cs])
coreclr is also modified using this patch[https://github.com/chunseoklee/mygist/blob/master/gc-log-on-e9fa953a295d16b7e0.patch]
A

[2016-03-02 11:50] myungjoo opened #3462 "Thread::VirtualUnwindToFirstManagedCallFrame() Failing in ARM/Linux"
Environment: Linux (3.10) / ARM (armv7l)

As the issue #3309 is in progress with incoming patches addressing #3312, another bug is being exposed.

In src/vm/stackwalk.cpp, the function Thread::VirtualUnwindToFirstManagedCallFrame's while is looping indefinitely as the pContext is pointing strange place.

This is caused by PAL_VirtualUnwind()'s unexpected behavior.

So far, according to the observa