[2015-02-14 09:43] sergiy-k commented on #222
I think we can just remove both the function in version.cpp and the macro in machmessage.cpp.

[2015-02-14 09:48] sergiy-k commented on #122
By the way, on Mac (release build only) 14 fwprintf tests fail. But I have not checked whether these failures are related to the problem in PAL_printf_arg_remover.

c_runtime/fwprintf/test10/paltest_fwprintf_test10. Exit code: 1
c_runtime/fwprintf/test11/paltest_fwprintf_test11. Exit code: 1
c_runtime/fwprintf/test12/paltest_fwprintf_test12. Exit code: 1
c_runtime/fwprintf/test13/paltest_fwprintf_

[2015-02-14 10:29] linquize commented on #204
Yes, switch to /bin/sh if not stick to bash.

[2015-02-14 14:05] jkotas commented on #270
We would like to make the GC portable by centralizing all dependencies on a specific execution engine, runtime and compiler in the GC environment (gcenv.h). See comment in https://github.com/dotnet/coreclr/blob/master/src/gc/sample/GCSample.cpp.

There is a number of issues to fix to get there. We prefer this type of work to be split into small incremental pull requests - e.g. fix one particular t

[2015-02-14 16:30] kangaroo commented on #222
@sergiy-k I think so to, they both looked safe to kill

[2015-02-14 16:31] kangaroo commented on #122
@sergiy-k #161 is closed but I haven't re-tested this yet.  It wasn't exposed by a PAL test, but by the k-nucleotide managed executable.  I'll see if I have some time this weekend to confirm this one, and look at the fwprintf ones.

[2015-02-14 18:59] kangaroo commented on #122
Its more mis-use of va_lists all around.  I'm cleaning it up.

[2015-02-14 19:58] kangaroo commented on #122
@sergiy-k Fixed in https://github.com/dotnet/coreclr/pull/271

[2015-02-15 00:20] richlander commented on #253
@akoeplinger Do you have a suggestion for what we should do? Should we make an entry in the wiki, start a new file in the Documentation direction? What would work best for you, as a user of the info?

[2015-02-15 00:28] akoeplinger commented on #253
@richlander Hmm, I don't think it fits in the wiki, I'd prefer something in the Documentation folder.

[2015-02-15 02:00] kangaroo commented on #263
We should change this to #if WRITE_0_BYTES_HANG_TTY to be consistent with the rest of the PAL.  Every other variable requires a 0/1 set, so I don't see a need to deviate here.

[2015-02-15 02:09] kangaroo commented on #198
I'm not really sure what to do here.  AFAICT there really isn't an analogue on Linux or MAC.  We probably need to drop this function, and audit the call sites to see what they really need (note, I haven't audited the callsites yet)

- Is this just a matter of appropriate fencing?
- Does it actually need cache invalidation to ensure coherency across clusters?
- Is this called due to weak memory ord

[2015-02-15 02:10] kangaroo commented on #195
See https://github.com/dotnet/coreclr/issues/197 for how to grab kernel and user time at the least.

[2015-02-15 02:12] kangaroo commented on #194
Minor correction.  We likely want thread_count, instead of core_count, as this is Logical processors:

[code]

[2015-02-15 02:51] kangaroo opened #273 "Improve ClrVirtualAllocAligned for unix platforms"
The current ClrVirtualAllocAligned over-allocs for unix platforms with a comment:

[code]

The function is easy enough (we can defer to posix_memalign on platforms which have it, and use platform specific, or burn memory on those that don't).  It does raise an interesting question tho.

AFAICT to date the PAL implements windows API.  Whats the policy on introducing PAL specific APIs to the clr?  S

[2015-02-15 04:59] richlander commented on #253
@akoeplinger OK, works. I'll talk to folks about that. I'm thinking a document that describes the alt-jit mechanism, it's intention and the instructions would be good. Sound, good?

@cmckinsey or @CarolEidt can probably help with that. I assigned to @cmckinsey.

[2015-02-15 05:28] jkotas commented on #273
There is actually quite a few non-Win32 APIs in the PAL - for cases where the Win32 API has fidelity mismatch. Their names are prefixed with PAL_. VirtualAllocAligned can be another one.

(BTW: I have noticed that the methods for recently deleted localization support like PAL_FormatDateW are still in pal.h. They can be deleted from pal.h as well.)

[2015-02-15 05:42] kangaroo commented on #273
@jkotas I suspected as much, but as mentioned I hadn't audited yet.  That said, can we converge on a PAL_ policy?

Code-nuking is the easy part.  New code that isn't all-platform is the policy side.

[2015-02-15 06:01] jkotas commented on #198
The crucial callsite is in https://github.com/dotnet/coreclr/blob/master/src/vm/threadsuspend.cpp. The resolution for this issue may dependent on design for #193.

This API does not need to invalidate cache. It just needs to flush pending writes (and invalidate speculative reads) on all cores. It is needed for correctness on all common platforms, including x86/x64.

Conceptually, this API makes ev

[2015-02-15 07:12] jkotas commented on #273
I would follow the current pattern:
- Non-Win32 PAL APIs should be added only if the equivalent Win32 API is hard or inefficient to emulate
- Names of the non-Win32 PAL APIs should start with PAL_
- Use of the non-Win32 PAL APIs should be under FEATURE_PAL ifdef

[2015-02-15 11:43] akoeplinger commented on #253
Yep that sounds excellent!

[2015-02-15 15:32] cnblogs-dudu opened #275 "System.Environment.OSVersion fails on Mac OS X"
When running the following sample console app by corerun,
[code]
There are following failures.
[code]
When running the same console app by mono, it gets the following result without any failure.
[code]

[2015-02-15 16:37] jkotas commented on #275
This is duplicate of #147
cc @weshaggard

[2015-02-15 16:37] #275 closed

[2015-02-15 22:53] stephentoub opened #276 "Fix handling of ComVisible on Mac"
See https://github.com/dotnet/corefx/issues/779.  From @jkotas:

[2015-02-16 07:18] axefrog opened #280 "Build Failed - 80040154 Class not registered (CLSID {B86AE24D-BF2F-4AC9-B5A2-34B14E4CE11D})"
I'm trying to build CoreCLR on a Windows 8.1 machine. I have VS2010, 2012 and 2013 installed. The first 6 or so minutes of the build goes fine, and then it fails following a COM exception regarding a not-registered class ID.

Here's the first part of the error:

[code]

[I've uploaded the full build log here.](https://mega.co.nz/#!ZI0hHDiR!dzGfjbBELouWRDyWm1jhx2YP8cgFGXg1BrIjogh31BU)

Thanks in ad

[2015-02-16 07:20] axefrog commented on #280
Found some information here, I'm investigating:
https://social.msdn.microsoft.com/Forums/en-US/bcfa59de-5231-4c52-8ca6-534ca3a9f65e/event-source-vsttexecution-comexception-0x80040154-clsid?forum=tfssetup

[2015-02-16 07:30] axefrog commented on #280
I guess it would help if I had copied the DIA SDK from VS 11.0 and not 10.0. Consider this issue closed.

[2015-02-16 07:30] #280 closed

[2015-02-16 13:08] janvorli commented on #263
I agree

[2015-02-16 21:42] thejayvm opened #281 "Building coreclr on OS X gives boot disk space warnings"
I built the Core CLR on my MBP pro last night using the instructions found [here](http://praeclarum.org/post/110552954728/building-and-running-nets-coreclr-on-os-x). Upon running

    ./build.sh amd64 debug

I got a warning from my OS saying that my boot disk was getting full. I also checked my free space and what was once 96GB free was now less than 1GB. I panicked and cancelled the build and too

[2015-02-16 21:48] Maoni0 commented on #270
What Jan said is fine by me. Thanks.

[2015-02-16 21:57] jkotas commented on #227
Yes, native image generation is going to available for both Windows and Linux. The first step is to enable CMake-based Windows build of crossgen.exe tool – tracked by https://github.com/dotnet/coreclr/issues/227. Also check https://github.com/dotnet/coreclr/issues/159 for a related discussion.

[2015-02-16 21:57] mikem8361 commented on #203
soscommand1 is the branch for these changes.

[2015-02-16 22:35] kangaroo commented on #281
This is caused by the following configure checks:

HAVE_FTRUNCATE_LARGE_LENGTH_SUPPORT
HAS_FTRUNCATE_LENGTH_BUG

We may just want to put those in as binary commits and not runtime probe them.

[2015-02-16 23:32] poizan42 commented on #204
The clang probing (issue #250) i'm working on [here](https://github.com/poizan42/coreclr/compare/probe-clang) is going to need bash anyways, so if we are going to use that I think we should change it to `#!/usr/bin/env bash`.

[2015-02-16 23:44] janvorli commented on #281
@kangaroo I believe that we should do that. It is especially nasty on VMs where it explodes the virtual hard drive size that doesn't shrink back.

[2015-02-17 00:53] kangaroo commented on #281
PR: https://github.com/dotnet/coreclr/pull/283

[2015-02-17 12:22] justinvp opened #285 "Discussion: Proposal to make FormattableString a struct"
@AlexGhiondea, @jaredpar, @nguerrera, @ericstj:

I'd like to discuss a potential alternative approach to `FormattableString` that avoids the heap allocation associated with this type being a class and still allows for the same optimizations of the current design with minimal impact to the language/compiler. If there's a better place for this discussion, please let me know.

Was a design along the

[2015-02-17 13:00] stephentoub commented on #285
cc @gafter, @KrzysztofCwalina

[2015-02-17 17:25] AndyAyersMS opened #286 "Jit interface: add method to go from field handle to class handle"
Jits that try to model types sometimes need to work from a field handle back to a class handle. There's no way to do that in the current jit interface.

We've also seen that the field-to-class mapping may be 1-to-many, presumably from shared instantiations; in this case it probably doesn't matter which class gets returned as long as it's representative.

[2015-02-17 17:58] gafter commented on #285
To answer your question:

No, it was not considered. And I'm glad.

I do not think the benefits of this proposal overcome its conceptual surface area. Would the language specification have special rules for each of `FormattableString`, `FormattableString<T>`, `FormattableString<T, U>`, `FormattableString<T, U, V>`, and then just stop there? That's a pretty arbitrary and complex language specificat

[2015-02-17 18:08] justinvp commented on #285
The proposal is for just one `FormattableString<TArguments>` type.

[2015-02-17 18:13] gafter commented on #285
@justinvp Your proposal is for a change to the platform libraries. If you are proposing a language change, please spell it out. What would be the language specification for the interpolated string conversions? What conversions are defined by the language and what are their semantics?

[2015-02-17 18:58] AndyAyersMS opened #288 "On windows, simple text output requires exception throw/catch."
When simple console output tests on Windows in the default OEM codepage (437) there's an exception thrown and caught in `System.Text.Encoding::GetEncoding(int32)`.

Seems like we should avoid exceptions for common things like this.

[2015-02-17 19:03] justinvp commented on #285
@gafter Exactly. I'm not proposing a language change. I haven't seen an up-to-date language spec for this feature, so I can't easily say whether there's an actual diff to how the spec is currently written, but the semantics would be the same as it is currently.

When converting an *interpolated-string-expression* to `System.IFormattable` or `System.FormattableString<TArguments>`, `System.Runtime.C

[2015-02-17 19:31] weshaggard commented on #288
@pallavit has made a fix for in the standalone System.Console implementation that we have on corefx, although I don't think it has made it into onto github yet.

[2015-02-17 20:02] gafter commented on #285
You suggest an interpolated string conversion is available when there is a conversion to `System.FormattableString<TArguments>`. But that isn't a type, because `TArguments` isn't a type.

[2015-02-17 20:03] gafter commented on #285
Perhaps you intend the conversion involve type inference to infer the type of `TArguments`. If that is the case we'd need a specification for the changes to the type inference algorithm.

And to get into the current release, we'd need it about 5-6 months ago.

[2015-02-17 23:08] ellismg commented on #288
I'm going to take @pallavit's fix and get it working for this case.  We have a similar problem in Unix that I would like to fix as well.

[2015-02-18 01:58] gafter opened #291 "Incorrect use of [Obsolete] attribute in PasswordDeriveBytes.cs"
The following appears in `PasswordDeriveBytes.cs`

[code]

As you can see from https://github.com/dotnet/roslyn/issues/108 this is not a correct use of the Obsolete attribute, as no caller will ever bind to this method and see the desired diagnostic. The compiler will tell you that you are using the obsolete attribute incorrectly, but you suppress the warning.

[2015-02-18 04:01] kangaroo commented on #281
PR merged, can someone close this out please?

[2015-02-18 05:39] ellismg commented on #281
Fixed via #283

[2015-02-18 05:39] #281 closed

[2015-02-18 13:39] cnblogs-dudu opened #293 "calling System.Environment.StackTrace fails on Mac OS X"
follow #284, use the following console app:
[code]
coreun it and get the following failures:
[code]

[2015-02-18 13:44] stephentoub commented on #293
#284 wasn't merged to master, but into a feature branch.  Stack unwinding is still being worked on.

[2015-02-18 14:03] cnblogs-dudu commented on #293
@stephentoub Thanks. Checkout unix_issue177 and it works.

[2015-02-18 14:03] #293 closed

[2015-02-19 01:58] landonf commented on #177
@janvorli FWIW, I'm happy to take on any tasks or answer any questions I can about native Mac stack unwinding -- I've previously implemented an async-safe DWARF expression interpreter, FDE/CFI lookup, compact unwind table support, etc for PLCrashReporter's (MIT-licensed) Mac/iOS unwinder -- just about everything except LSDA handling (although that will likely be coming soon).

[2015-02-19 02:12] janvorli commented on #177
@landonf Thank you! Actually, the missing piece in the Mac libunwind is an API to get context pointers, which are pointers to stack locations where registers are stored in the frame (provided they are stored there). The GC uses that when it moves objects pointed to by registers. But it seems we will have to live with the fact we don't have an API for that on Mac and rather implement an workaround

[2015-02-19 02:15] agocke opened #295 "Feature request: Provide PeVerify without assembly loading or a way to assembly unload"
# Background

In the Roslyn compiler, we currently PeVerify a large amount of our emitted code code using CLR helpers in our tests, see http://source.roslyn.io/Roslyn.Test.Utilities/R/30b8bf380165b91a.html for the CLR call and the calls to http://source.roslyn.io/Roslyn.Compilers.CSharp.Test.Utilities/R/d49dabc2badbc8f0.html for examples of how it's used.

We have noticed that this call can cause

[2015-02-19 02:27] mmitche opened #296 "Add native code coverage for Windows"

[2015-02-19 02:29] mmitche commented on #218
PR #287

[2015-02-19 02:30] mmitche opened #297 "Pal tests should pick up default binary locations (like runtests.cmd does on Windows)"

[2015-02-19 02:31] jkotas commented on #295
The right way to address this is to build a standalone IL verify that does not even load the runtime.

[2015-02-19 02:33] landonf commented on #177
@janvorli I have some MIT-licensed code I could repurpose (and clean up to match local requirements) that would be suitable for computing frame offsets based on local decoding of the compact unwind and DWARF data:

- [Compact Unwind](https://opensource.plausible.coop/src/projects/PLCR/repos/plcrashreporter/browse/Source/PLCrashAsyncCompactUnwindEncoding.c?at=refs%2Ftags%2F1.2#678)
- [DWARF] (https

[2015-02-19 03:03] landonf commented on #177
@janvorli also, if you need this from the GC, do you also need async-safety? (re: https://github.com/dotnet/coreclr/issues/193#issuecomment-74016281)

[2015-02-19 03:40] kangaroo commented on #122
This is fixed.  Can someone close it out please?

[2015-02-19 03:41] kangaroo commented on #156
This is fixed too.  Can someone close it out please?

[2015-02-19 03:42] kangaroo commented on #141
@janvorli fixed this is #282.  Can someone close this out please?

[2015-02-19 03:43] kangaroo commented on #141
This was fixed in #282.

[2015-02-19 03:43] #141 closed

[2015-02-19 04:02] jkotas commented on #156
Fixed.

[2015-02-19 04:02] #156 closed

[2015-02-19 04:03] #122 closed

[2015-02-19 06:04] cnblogs-dudu opened #298 "corerun fails on Linux: Managed object size does not match unmanaged object size"
Build the up-to-date coreclr repo and corerun any .NET app, always get the following failures:
[code]

[2015-02-19 10:54] cnblogs-dudu opened #299 "building fails on CentOS cause by SET (CMAKE_C_FLAGS_INIT "-Wall -std=c11")"
When building coreclr on CentOS, get the following failures.
[code]
When remove the line `SET (CMAKE_C_FLAGS_INIT  "-Wall -std=c11")` in the file `src/pal/tools/clang-compiler-override.txt`, the failures are gone.

[2015-02-19 11:54] borgdylan commented on #60
After doing that, I get errors in coreclr/src/pal/inc/pal.h mentioning that the dispatcher context is not available. Should I include PAL headers like clrnt.h within pal.h?

[2015-02-19 12:12] jkotas commented on #60
pal.h has its own definition of PAL_DISPATCHER_CONTEXT. I do not see any uses of DISPATCHER_CONTEXT in pal.h. What is the error you are getting?

clrnt.h should not be included in pal.h. It will cause more problems that it would solve.

[2015-02-19 12:36] borgdylan commented on #60
[code]

Also there are errors related to the printf function used n the PAL as commented before:
The PAL defines many printf variants using char * notation
While another file "printfcpp.hpp" defines them using LPSTR notation

The compiler is saying that the two definitions are not matching up in their types (conceptually they are the same definitions)?
We all know that on UNIX LPSTR becomes char *

[2015-02-19 13:41] janvorli commented on #60
@borgdylan Can you paste here the errors related to the LPSTR vs char*?

[2015-02-19 14:48] borgdylan commented on #60
[code]

[2015-02-19 16:49] jkotas commented on #60
To fix these errors, add "#if !defined(_TARGET_X86_)" ifdef around all instances of these types in palrt.h

[2015-02-19 16:50] jkotas commented on #60
To fix these errors, add "#if !defined(_TARGET_X86_)" ifdef around all instances of these types in palrt.h

[2015-02-19 16:50] jkotas commented on #60
To fix these errors, add `#if !defined(_TARGET_X86_)` ifdef around all instances of these types in palrt.h

[2015-02-19 17:43] sanpaku72 commented on #113
I have a similar issue, My environment is Windows 8.1 64-bit, with Visual Studio 2013 Community Edition. The problem occurs on normal environments (cmd.exe), including when run as admistrator.

C:\Program Files (x86)\MSBuild\12.0\bin\Microsoft.Common.CurrentVersion.targets (617,5): error : The OutputPath property is not set for project 'build.proj'. Please check to make sure that you have specifie

[2015-02-19 17:52] gregg-miskelly opened #301 "RoMetadata.dll needs to be ported to non-Windows platforms"
The VS debugger needs to be able to obtain an IMetaDataImport for a blob of metadata. On desktop Windows we can do this with the desktop .NET Framework. On Windows Phone and other non-desktop SKUs, we can do this through RoMetadata.dll. We need this dll to be available on non-Windows platforms to do the same.

[2015-02-19 18:52] AlexGhiondea commented on #113
@sanpaku72 The issue you are seeing might be related to the way HP machines are setup -- they have an enviornment variable called Platform, set to MCD which is why you are seeing this error.

Would you mind checking that what I said above is correct? Running "set Platform" from a command prompt let you know if that variable is set.

[2015-02-19 19:05] sanpaku72 commented on #113
@AlexGhiondea Thanks! I can confirm this was the issue on my machine. A simple "set Platform=" solved the issue.

[2015-02-19 22:57] mmitche opened #303 "Contributing link on front page leads to empty wiki page"
The contributing link on the front page leads to an empty wiki page.

[2015-02-20 01:46] mmitche commented on #296
I have native code coverage through ReportGenerator, vsinstr and a small separate tool for converting the coverage output.

Looks pretty solid right now.  Linux code coverage will have to come later.

[2015-02-20 03:12] weshaggard commented on #303
Fixed with commit https://github.com/dotnet/coreclr/commit/44fb223c6240d303363dfa9003b17bc7cac753bc.

[2015-02-20 03:12] #303 closed

[2015-02-20 05:01] ebickle opened #305 "Deprecate System.Collections.Specialized.CollectionsUtil class"
Inside of the System.Collections.NonGeneric project is the class System.Collections.Specialized.CollectionsUtil.

There are a number of design and functional problems with the class:
* It contains only static methods, but the class itself is not static as it predates .Net 2.0. It has an implicit public constructor.
* The CreateCaseInsensitiveHashtable methods use StringComparer.CurrentCultureIgnor

[2015-02-20 05:21] ebickle opened #306 "Move Process related classes out of System.Diagnostics"
This is likely a contentious issue, but I wanted to open it up for discussion now before the first release of corefx.

Going back to the first release of .NET, all of the process-related functionality (e.g. Process, ProcessModule) is located inside of System.Diagnostics while all of the thread-related functionality is located inside of System.Threading.

To this day, it's confusing an unintuitive.

[2015-02-20 05:24] #306 closed

[2015-02-20 05:25] ebickle commented on #306
Posted this in the wrong repository.

[2015-02-20 05:25] #305 closed

[2015-02-20 05:25] ebickle commented on #305
Posted this in the wrong repository.

[2015-02-20 05:47] linquize opened #307 "cmake does not check libunwind on linux"
cmake does not check libunwind on linux.
I did not install libunwind header, so it fails to compile in the middle.

I suggest to let cmake check that.

Also update doc to install `libunwind8-dev`
https://github.com/dotnet/coreclr/wiki/Building-and-Running-CoreCLR-on-Linux

[2015-02-20 07:22] sergiy-k commented on #307
@janvorli was working on adding this check.

[2015-02-20 15:31] kangaroo commented on #307
@sergiy-k I can bang this out today without any problem, so I'll submit a PR in a few hours (thus the self-assign :))

[2015-02-20 15:33] janvorli commented on #307
@kangaroo That would be great! Thanks a lot.

[2015-02-20 15:55] eatdrinksleepcode commented on #295
I was not aware that CoreCLR was discarding AppDomains, nor can I find any information about that decision. Can you provide a link for that?

[2015-02-20 16:23] jkotas commented on #295
AppDomains were primarily designed for sandboxing - running untrusted code downloaded from internet. AppDomains bundled many different levels of isolation together: assembly load context, security context, ... that made them very expensive to create and shutdown.

None of the current .NET Core scenarios require sandboxing. It is the reason why AppDomains are not included in the .NET Core framework

[2015-02-20 16:33] kangaroo commented on #307
PR: https://github.com/dotnet/coreclr/pull/310

Waiting for linux CI, since I didn't have time to check that fully before heading to work, but it should be ok.

[2015-02-20 19:13] KrzysztofCwalina commented on #65
I just committed a fix to HelloWorld console app in the CoreFxLab repo. To compile the application for Windows 7, you need to get the new bits and follow the instructions described in the CoreFxLab wiki, i.e. uncomment a line in the HelloWorld.csproj file that enables Windows 7 build.

[2015-02-20 19:13] #65 closed

[2015-02-20 20:19] AlexGhiondea commented on #78
You can now install the local CoreCLR package into the CoreFx repo and run CoreFx tests on top of them.

More information here: https://github.com/dotnet/coreclr/wiki/Testing-across-repos

[2015-02-20 20:19] #78 closed

[2015-02-20 21:46] jkotas opened #311 "Fix unwind info for JIT_RareDisableHelper"
The Unix version of JIT_RareDisableHelper does not have correct unwind info. It needs to be fixed for stackwalk to work properly.

[2015-02-21 00:16] pgavlin opened #315 "Unset cached variables if necessary after CMake failure"
A number of tests done while configuring with CMake insert configuration results into the CMake cache, which makes configuration failures a bit unfriendly to fix (as the cached results must often be removed in order to retrigger the config tests). We should consider unsetting cached variables that cause configuration failures s.t. reconfiguring reruns the requisite tests.

See #313 for an example.

[2015-02-21 03:57] kangaroo commented on #311
Closing this out as the PR is merged.

[2015-02-21 03:57] #311 closed

[2015-02-21 03:57] kangaroo commented on #307
PR merged, closing out.

[2015-02-21 03:57] #307 closed

[2015-02-21 04:00] kangaroo commented on #204
I don't think we should restrict bash-isms, even the most obscure unix based distros have bash available these days.

@shanselman Want to submit a PR? :+1:

[2015-02-21 04:01] kangaroo commented on #192
@janvorli Whats remaining?  Any chance of the design proposal @sergiy-k asked for?

Thanks!

[2015-02-21 04:01] #121 closed

[2015-02-21 04:02] kangaroo commented on #94
@copumpkin Is this still an issue for you?

[2015-02-21 04:08] kangaroo opened #318 "Figure out how to handle 'libcorlib.so' in mscorlib build"
The mscorlib unix build currently assumes that libcoreclr.so is the target, which obviously doesn't work on mac.

We should figure out what the plan is here.  I don't particularly like the idea of having a 'mac' build of mscorlib, since it shouldn't be needed.

For mono what we did was allow people to do:

[DllImport("coreclr")]

Then we would fallback to a defined series of probes, check the exac

[2015-02-21 07:03] cnblogs-dudu commented on #299
Replacing -std=c11 with -std=gnu11 can fix it.

[2015-02-21 07:03] #299 closed

[2015-02-21 07:42] sergiy-k commented on #318
@kangaroo Yes, we should remove the ".so" from DllImport. PAL should already be able to take care of that. That's the change I want to do as well - just have not had a chance to do that.

[2015-02-21 08:19] cnblogs-dudu commented on #298
Fixes it by replacing release build of mscorlib.dll with debug build.

[2015-02-21 08:19] #298 closed

[2015-02-21 12:35] janvorli commented on #192
@kangaroo @AndyAyersMS @pgavlin @jkotas
Here is a brief overview of the plan. I am leaving for a week of vacation today, so I'll be able to respond to comments after I return. @sergiy-k said he might do some work on this while I'm away.

# Managed exception handling on Linux
## Exceptions thrown by the managed code
Managed code throws exceptions by calling `IL_Throw` FCALL, which uses `RaiseExcept

[2015-02-21 13:11] janvorli commented on #177
@landonf Could your code be used somehow as an addition to the standard OSX libunwind used only for getting the register offsets or would it have to replace the libunwind completely?
Regarding the async safety, I'm not sure. @jkotas, how does walking stack of a running thread for a GC work? I know we have a barrier between the managed / unmanaged code that prevents entering the managed code if the

[2015-02-21 13:34] linquize commented on #298
Is it normal "by replacing release build of mscorlib.dll with debug build"?

[2015-02-21 13:52] Nassiel commented on #177
Hi, I found that while using CentOS 7 and using the latest push at this moment on master my cmake building doesn't find libunwind.h

I already install it and it's located at /usr/include/libunwind.h (with x64_86 version), it's the typical include location and I'm pretty sure that cmake search there. Cmake told me about using libunwind8, to my this have no sense over CentOS 7 there are just one lib

[2015-02-21 14:10] janvorli commented on #177
The cmake's check_include_files basically just tries to compile the following:

[code]
So it looks like include paths don't contain the `/usr/include` folder or the header for some reason refers to a symbol that is not defined.
You can look into the `CMakeError.log`, there should be info on what has exactly failed.
It should say something like "Determining if files libunwind.h exist failed with th

[2015-02-21 14:13] Nassiel commented on #177
I did, here is the error and does not related with libunwind.h, is related with ucontext.h:

/usr/include/sys/ucontext.h:137:5: error: unknown type name 'stack_t'
      stack_t uc_stack;

http://stackoverflow.com/questions/20778735/is-the-type-stack-t-no-longer-defined-on-linux

[2015-02-21 14:20] janvorli commented on #177
Ah, then it is the #300 issue

[2015-02-21 14:28] Nassiel commented on #177
Oh my! Thank you now is solved, you are planning to include it by default? Or incompatible with other linux distros?

[2015-02-21 14:37] janvorli commented on #177
As you can see in #300, the proper solution is still being discussed.

[2015-02-21 16:30] janvorli commented on #298
@linquize No, it is not normal. But the mscorlib and libcoreclr.so are bound together so if they go out of sync (for example, you are trying to use a mscorlib built before a change in an object size happened and libcoreclr.so built from sources after the change, you would get this problem.
So I guess that the release build was fresher than the debug one in this case.

[2015-02-21 16:36] linquize commented on #298
So, should we use the corresponding `mscorlib.dll`?
- mscorlib.dll Debug x64 with coreclr Debug x64
- mscorlib.dll Release x64 with coreclr Release x64

[2015-02-21 17:22] jkotas commented on #177
Correct. The managed->unmanaged transition has to ensure that there are no unprotected GC pointers in registers - e.g. for PInvokes, the JIT has to spill all registers containing GC references onto the stack.

I do not think that we need any special handling of async safety in the native unwinder. All async safety issues should be taken care of by the thread suspension that does not depend on the

[2015-02-21 19:31] landonf commented on #177
@janvorli The parsing/interpretation API is factored out from the actual unwinding API, so it would be possible to use separately; the only issue would be paying twice for lookup and interpretation.

(I suppose I could also in theory expose a libunwind-compatible interface; either way, I've been wanting to refactor this code so it can be easily used for runtime implementation outside of PLCrashRep

[2015-02-21 19:41] jkotas commented on #177
correct.

[2015-02-21 19:41] jkotas commented on #177
correct

[2015-02-21 19:43] jkotas commented on #177
Correct.

[2015-02-21 20:31] landonf commented on #204
@kangaroo Plenty don't ship it by default, though; no harm in reducing dependency load if it's not too much of a burden to do so.

Otherwise, +1 on #!/usr/bin/env from a FBSD perspective.

[2015-02-22 07:41] kangaroo commented on #204
@landonf I agree many don't ship by default. I just meant this one doesn't seem like a dependency to avoid just for dependencies sake. If we have a good reason to use bashisms we should go ahead. It's not overly burdensome for other platforms.

That said. We shouldn't adopt it for no reason either.

[2015-02-22 14:34] cnblogs-dudu commented on #298
@linquize I tested the 4 combinations:
* [OK] mscorlib.dll Debug x64 with coreclr Debug x64.
* [FAIL] mscorlib.dll Release x64 with coreclr Debug x64
[code]
* [OK] mscorlib.dll Release x64 with coreclr Release x64
* [FAIL] mscorlib.dll Debug x64 with coreclr Release x64
[code]

[2015-02-23 18:26] sergiy-k opened #324 "Implement Marshal.GetFunctionPointerForDelegate for Linux and OSX"
We need to implement Marshal.GetFunctionPointerForDelegate for Linux and OSX because it is required for implementation of managed debugger.

In order to make Marshal.GetFunctionPointerForDelegate work, we need to implement assembly code for the UM*Stub functions. These functions are currently stubbed out in src/vm/amd64/unixstubs.cpp. Windows implementation of this functions is located in src/vm/a

[2015-02-24 00:18] kangaroo commented on #324
I'll take this, should be easy enough.

[2015-02-24 00:52] mmitche opened #327 "Building CoreCLR with clang-3.5 causes LLVM to crash"

[2015-02-24 01:00] mmitche opened #328 "Archive CoreCLR builds"

[2015-02-24 01:04] sergiy-k commented on #324
@kangaroo Thank you!

[2015-02-24 01:21] mmitche commented on #327
Looks like it doesn't crash with a clean install, so this may be some result of having 3.4 and then 3.5.  I will rebuild the images.

[2015-02-24 01:30] #327 closed

[2015-02-24 02:00] heinzo opened #329 "We must not pass va_list objects by value if these objects will be passed to va_arg()"
Some functions (e.g. Silent_PAL_vfprintf) accept a va_list object as argument.  Inside the said function, it passes the va_list object to va_arg which can causes some platform to crash.

As per C11 standard (http://www.open-std.org/JTC1/SC22/WG14/www/docs/n1570.pdf):

It is permitted to create a pointer to a va_list and pass that pointer to another function, in which
case the original function may

[2015-02-24 02:02] heinzo commented on #329
Modifying to insetad pass pointers to va_list objects should fix the issue

[2015-02-24 02:11] heinzo commented on #329
Offending functions:
* PAL_vsscanf
* PAL_wvsscanf
* CoreVfwprintf
* CoreVsnprintf
* CoreWvsnprintf
* CoreVfprintf
* Silent_PAL_vsnprintf
* Silent_PAL_vfprintf

[2015-02-24 03:31] kangaroo commented on #324
[code]

[2015-02-24 04:33] ellismg commented on #218
@mmitche Safe to close now?

[2015-02-24 05:57] copumpkin commented on #94
Hi, sorry, haven't had a chance to look at it again. Can you give me until the end of the week to catch up and post more details (or close it)?

Also, @kangaroo, I think we spoke on IRC quite a few years ago! Hi!

[2015-02-24 06:01] kangaroo commented on #94
Hi @copumpkin -- yep, we've discussed a few different things over the years ;)

[2015-02-24 16:08] borgdylan commented on #60
After fixing these errors I get told that the KNONVOLATILE struct is not xietent:
[code]

[2015-02-24 16:49] #218 closed

[2015-02-24 16:59] jkotas commented on #60
KNONVOLATILE_CONTEXT_POINTERS and its uses should be under  #if !defined(_TARGET_X86_)  as well.

[2015-02-24 18:00] jkotas opened #333 "Hardcode CP_ACP to UTF8 on Linux"
CP_ACP is hardcoded to UTF8 in the PAL on Mac. It provides UTF8 marshalling via CharSet.Ansi as side-effect. From locale\unicode.cpp:

// We hardcode the system's default codepage to be UTF-8.
// There are several reasons for this:
// - HFS+ file names are encoded as UTF-8.
// - When writing strings to the console, the Terminal.app will interpret them as UTF-8.
static const UINT PAL_ACP = 65001;

[2015-02-25 01:10] heinzo commented on #329
Looks like this issue was fixed by pull #271.  Closing.

[2015-02-25 01:10] #329 closed

[2015-02-25 01:13] mikem8361 commented on #202
soscommand1

[2015-02-25 04:26] kangaroo commented on #318
This was merged.

[2015-02-25 04:26] #318 closed

[2015-02-26 04:09] jkotas commented on #324
#337

[2015-02-26 04:09] #324 closed

[2015-02-26 04:17] atrauzzi opened #344 "Release and maintain a build compiled to asm.js"
The official CLR running on a browser might be neat. Could be an opportunity for C# devs to author code in a similar fashion to GWT.

[2015-02-26 04:34] kangaroo opened #345 "Implement ExternalMethodFixupStub, VirtualMethodFixupStub and StubDispatchFixupStub for UNIX"
I'll take this.

Needed for https://github.com/dotnet/coreclr/issues/227

[2015-02-26 05:38] richlander commented on #345
Just a suggestion. When you take it, can you self-assign?

[2015-02-26 06:44] kangaroo commented on #345
@richlander When I got moved from the org to the pub-org, I no longer have permission to do that.  I think I sent you a mail about that?

[2015-02-26 08:03] voltagex commented on #60
Should this issue be renamed and a separate issue opened for ARM(hf) platforms?

[2015-02-26 08:57] kangaroo commented on #222
@ellismg Sorry, the warnings were bugging me so I just cleaned them up.

[2015-02-26 11:01] MovGP0 opened #349 "ObsoleteAttribute should not be sealed"
The ```ObsoleteAttribute``` should not be sealed, so that customers can provide specialized obsolete messages:

[code]

see also: [Obsolete.Fody: ObsoleteEx should derive from Obsolete](https://github.com/Fody/Obsolete/issues/7)

[2015-02-26 15:29] JosephTremoulet opened #350 "Jit interface: add helper method to raise NullReferenceException"
This should be similar to the existing helpers for OverflowException and DivideByZeroException.  Adding this will simplify the task of a jit implementing implicit MSIL null checks.

Per @jkotas, implementation should be straight-forward boilerplate, so I'm tentatively assigning this to myself and will take a stab at putting a PR together.

[2015-02-26 15:34] jkotas commented on #350
@russellhadley is working on JIT-EE interface change as well - it may be easiest to fold the two together.

[2015-02-26 18:30] jkotas commented on #222
#348

[2015-02-26 18:30] #222 closed

[2015-02-26 19:05] #345 closed

[2015-02-26 20:48] erik-kallen commented on #344
There are other options for that, eg. http://github.com/erik-kallen/SaltarelleCompiler

[2015-02-26 21:22] JosephTremoulet commented on #350
@russellhadley, what do you think?  Do you want to pull [my changes](https://github.com/JosephTremoulet/coreclr/tree/issue-350) in with yours, or should we go separate?

[2015-02-26 22:18] atrauzzi commented on #344
This is more about building the interpreter to run bytecode, not transpiling.

[2015-02-27 00:32] evolvedmicrobe opened #352 "Nuget Command to Build and Run on Unix Appears Out of Date"
In the `Build and Run on Unix Tutorial' (https://github.com/dotnet/coreclr/wiki/Building-and-Running-CoreCLR-on-Linux) one instruction says to get the dll's from Nuget via this command:

    mono nuget.exe restore -Source https://www.myget.org/F/dotnet-corefx/ -PackagesDirectory .

However this fails with:

    WARNING: Error: SendFailure (Error writing headers)
    WARNING: Error: SendFailure (Er

[2015-02-27 00:42] akoeplinger commented on #352
@evolvedmicrobe this looks like an error with the HTTPS certificates, try running `mozroots --import --sync` if you're running Mono before version 3.12 (on newer versions the certificate import happens automatically).

[2015-02-27 00:53] evolvedmicrobe commented on #352
Wow, yep that did it!  Though I was running mono 3.12, so I am not sure why it failed.  In any event, thanks kindly for the tip!

[2015-02-27 00:53] #352 closed

[2015-02-27 00:55] akoeplinger commented on #352
@evolvedmicrobe did you install mono 3.12 from the xamarin repositories or did you compile it yourself? In the latter case it would be expected, since the certificate sync happens as a hook in the .deb package.

[2015-02-27 01:01] mj1856 opened #353 "Bug in System.Globalization.PersianCalendar"
[code]
Returns `False` on any machine with .NET Framework 4.6 CTP installed when targeting .NET 4.0 or higher.

Returns `True` when targeting .NET 3.5 or lower - or when targeting .NET 4.0+ on a machine without Framework 4.6.

[2015-02-27 01:11] evolvedmicrobe commented on #352
Ah, not I compiled myself from the tarball, so that explains it.

Unrelated to this, do you know if I can just copy the rest of the CLR .dll files over from a windows build onto a unix machine and run them? (or add them to the nuget package list?).  Am very excited about getting a working coreclr runtime going on ubuntu, and would love to add the rest of the libraries.

[2015-02-27 01:13] mj1856 commented on #353
Note, according to [MSDN](https://msdn.microsoft.com/en-us/library/system.globalization.persiancalendar):

[2015-02-27 01:20] akoeplinger commented on #352
Do you mean the base class libraries from CoreFx? That is already outlined in the guide.

[2015-02-27 01:49] evolvedmicrobe commented on #352
Yes, the BCL libraries.  I compiled all of the corefx libraries on a windows machine per the instructions and moved them over to the directory with the ./corerun script.  I was hoping that these two simple things would be enough to allow me to run .NET assemblies using the coreclr.  However, after taking an exe that runs in mono and calling it with the corerun script, the following error appears:

[2015-02-27 01:52] kangaroo commented on #352
Did you build the exe against System.Runtime?  That crash looks like missing assemblyref to me.

[2015-02-27 02:57] evolvedmicrobe commented on #352
Hmm not sure, I have tried three different ways to compile.

1 - Compile in VS2013 and copy to ubuntu - This results in the error shown above.
2 - Compile with mcs on ubuntu using a standard command or
3 - Compile with mcs on ubuntu but using the flags and specific references as in the hello world example.

The last two of these give me a different error shown below:

    ********

    Assert fail

[2015-02-27 03:06] kangaroo commented on #352
That assert is different, your code is triggering something that shouldn't happen in that case.  Make a testcase that exhibits it and submit an issue?

[2015-02-27 03:44] evolvedmicrobe opened #355 "Error in lsra.cpp, Line:2651"
The following program throws an exception when run on Ubuntu with coreclr.  I attempted to compile and run it after I compiled the hello world example here: https://github.com/dotnet/coreclr/wiki/Building-and-Running-CoreCLR-on-Linux.

Program code is:

    using System;

    namespace Test
    {
    	public class CommandLine
    	{
    		[STAThread]
    		public static void  Main(System.String[]

[2015-02-27 03:44] evolvedmicrobe commented on #352
Thanks, just submitted small test case as an issue.

[2015-02-27 04:52] ellismg commented on #353
@tarekgh You might want to take a look at this.

[2015-02-27 07:24] ellismg commented on #355
@LLITCHEV might be interested in this.  What commit was HEAD pointing to when you built coreclr?

[2015-02-27 07:34] evolvedmicrobe commented on #355
Thanks! Head was at:

commit 92648f4b69815d52eba5f777cfa1918724afe6df
Merge: 828768d 100fdc1
Author: Jan Kotas <jkotas@microsoft.com>
Date:   Thu Feb 26 10:29:52 2015 -0800

    Merge pull request #348 from kangaroo/issue-222

    [OSX] Resolve all compiler warnings in the PAL

[2015-02-27 13:20] cnblogs-dudu opened #359 "Try to build with VS2015"
Modified some build scripts and ran building with VS2015. But got 104 errors.
![screen shot 2015-02-27 at 21 16 55](https://cloud.githubusercontent.com/assets/3196961/6413047/10710b8a-bec6-11e4-9002-c3fd7dd937ed.png)
Searched the CoreCLR_Windows_NT__x64__debug.log, Found 208 following errors.
[code]
The fearture branch: https://github.com/cnblogs-dudu/coreclr/tree/build-with-vs2015

[2015-02-27 16:30] tarekgh commented on #353
We have changed the implementation of the Persian calendar to match the modern Iranian and Afghani calendar which is the Solar Hijri calendar. the calendar mainly used there.
both old and new implementation will have same results for date conversions in the year ranges 1800 (Gregorian) to 2123 (Gregorian). also you'll notice change in the leap years too.
we are going to fix the documentation too.

[2015-02-27 16:33] tarekgh commented on #353
I forgot to mention Windows 10 also supported this calendar for some locales (like Iran) and used exactly same Solar Hijri calendar algorithm. so now Windows and .Net are fully consistent here

[2015-02-27 16:46] russellhadley commented on #350
Joe let's pull your changes in with mine.  I'll also need to fold these in with my superPMI changes.  To maintain the SuperPMI testing harness parallel changes need to be made in other source code.  (and I've already worked through how to test it)

[2015-02-27 16:49] sergiy-k opened #360 "Implement RtlRestoreContext for Linux and OSX"
This function is currently stubbed out in src\pal\src\debug\debug.cpp. It is required to make managed exception handling work on Linux and Mac.

[2015-02-27 16:55] benpye commented on #359
Duplicate of #30 ?

[2015-02-27 22:49] jskeet commented on #353
So what does it do before 1800? As far as I'm aware, the regular Solar Hirji calendar used to be applied throughout history for PersianCalendar, i.e. the 33 year cycle of leap years 1, 5, 9, 13, 17, 22, 26, or 30 - which is what Wikipedia records as well in http://en.wikipedia.org/wiki/Iranian_calendars#Modern_calendar:_Solar_Hijri_.28SH.29

There's a second wikipedia article which may be relevant

[2015-02-28 00:08] tarekgh commented on #353
The accurate reference would be Calendrical Calculations book 3rd Edition by Nachum Dershowitz and Edward M. Reingold.
Also the link http://en.wikipedia.org/wiki/Solar_Hijri_calendar can be helpful too giving general idea about the Solar Hijri calendar

[2015-02-28 03:36] cnblogs-dudu commented on #359
If remove `add_compile_options(/WX)` from CMakeLists.txt, the C220 errors disappear. But get 1315  errors with `error LNK2001: unresolved external symbol`.
![screen shot 2015-02-28 at 11 31 07](https://cloud.githubusercontent.com/assets/3196961/6424668/6df1403c-bf3d-11e4-900c-8ad21b5d7160.png)
The detail errors: https://gist.github.com/cnblogs-dudu/36b92fdad1944b4694d0

[2015-02-28 07:32] cnblogs-dudu commented on #359
There are 1384 errors when opening and building "binaries\intermediates\Windows_NT.x64.debug\CoreCLR.sln" with VS2015. CoreCLR.sln is produced by cmake -G "Visual Studio 14 2015 Win64".
![screen shot 2015-02-28 at 15 17 30](https://cloud.githubusercontent.com/assets/3196961/6425283/08565eea-bf5d-11e4-9393-de10c1a6b9be.png)
View full errors: https://gist.github.com/cnblogs-dudu/7660ac9832f3a9323435

[2015-02-28 08:47] jskeet commented on #353
Thanks - I assume this is following the astronomical rather than the arithmetic form?

[2015-02-28 09:43] davidfowl commented on #359
Looks like a dupe of #30

[2015-02-28 17:31] jkotas opened #366 "Switch JIT to generate RBP-chains on Unix"
Unlike on Windows, RBP-chains seems to be used for fast stack-unwind on Unix (e.g. stack trace logging). JIT needs to be switches to generate them. It should involve:
- Turn on ETW_EBP_FRAMED for Unix
- Tweak the prolog/epilog so that method with RBP frames start with the usual "push rbp; mov rbp, rsp"
- Make sure that nothing breaks

[2015-02-28 17:31] jkotas commented on #366
FYI @brianrob

[2015-02-28 23:56] #359 closed

[2015-03-01 01:40] cheers00 opened #371 "Putting coreCLR and coreFx together"
This is not really an issue but I want to rebuild and run my old command line app with coreClr. I also need CoreFx for system.xml. How do I put all these together and run? Let me know if the following steps are correct.

1. Build CoreCLR and macrolib for string and other c# classes
     https://github.com/dotnet/coreclr/tree/master/src/mscorlib
2. Build CoreFx
3. Open my project is VS 2013 and add

[2015-03-01 05:42] cheers00 commented on #371
p

[2015-03-01 05:45] #371 closed

[2015-03-02 04:23] kangaroo commented on #360
@sergiy-k Whats the issue with the OS X side here?  It seems to be complete for the variants of CONTEXT restore flags that I can see?

[2015-03-02 05:47] kangaroo commented on #94
@copumpkin ping :+1:

[2015-03-02 16:07] tarekgh commented on #353
That is right. it is astronomical.

[2015-03-02 16:09] tarekgh commented on #353
Please let me know if you have any other question at any time.
@mj1856 please close the issue if there is any other question here.

[2015-03-02 16:37] mmitche commented on #328
This is being done now.

[2015-03-02 16:37] #328 closed

[2015-03-02 19:35] #353 closed

[2015-03-02 19:49] cheers00 opened #374 "buildtest failing. "Windows.props' not found""
coreClr build succeeded but tests build is failing.

[code]

[2015-03-02 20:09] nathanaeljones opened #375 "Defects in PATENTS.TXT"
PATENTS.TXT is defective; the patent grant is limited  to runtime implementations compliant with "**[additional functionality in Microsoft's .NET Framework, as described in Microsoft's API documentation on its MSDN website](https://github.com/dotnet/corefx/blob/master/PATENTS.TXT#L37,L39)**".

There are many problems with this phrase (clause b), including

* Compliance with nebulous and changing d

[2015-03-02 20:36] shanselman commented on #375
@smuckwell

[2015-03-02 23:56] linquize commented on #328
where to find?

[2015-03-03 00:16] pgavlin opened #377 "Should coreclr for OS X be packaged as a bare .dylib or inside of a framework bundle?"
There are presumably benefits and drawbacks to either. I'm filing this issue for tracking and as a place to discuss the various options.

[2015-03-03 00:25] mmitche commented on #328
You can find them on the artifacts page for the various builds:
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr_linux_debug/lastSuccessfulBuild/artifact/
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr_linux_release/lastSuccessfulBuild/artifact/
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr_windows_release/lastSuccessfulBuild/artifact/
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr_windows_

[2015-03-03 00:32] janvorli commented on #360
@kangaroo @sergiy-k From what I can see in the OSX code for the context setting (```CONTEXT_SetThreadContextOnPort```), it seems that we don't need to implement anything additional.

[2015-03-03 00:48] ramarag commented on #374
HI Cheers00 Thank you for reporting this issues.
Can you describe your VS installation and
also did you try installing http://msdn.microsoft.com/en-us/windows/desktop/bg162891.aspx as described in http://stackoverflow.com/questions/23442152/file-windows-props-not-found

[2015-03-03 00:51] pgavlin commented on #377
@kangaroo @sergiy-k FYI.

[2015-03-03 01:09] kangaroo commented on #360
@janvorli I had the thought.  It seems complete.

[2015-03-03 02:27] copumpkin commented on #94
I think it's okay from preliminary tests, but when I get an environment set up again I'll try again and reopen if I encounter problems. Sorry for the noise/lack of responsiveness!

[2015-03-03 02:27] #94 closed

[2015-03-03 15:36] krk opened #385 ""build.cmd clean" has unrecognized option"
mscorlib build failing on Windows 8.1.

[code]

[2015-03-03 21:36] cheers00 commented on #374
I've successfully built using VS 2013. I recently installed VS 2015 CTP6 and wondering VS 15 is causing this error.

[2015-03-03 21:46] Parthas-Menethil commented on #374
Take a look at https://github.com/dotnet/coreclr/issues/30

[2015-03-03 22:14] LLITCHEV commented on #355
This should be fixed with the following pull request. https://github.com/dotnet/coreclr/pull/335

It looks like the code sample above has an infinite loop. The assertion is not happening more, though.

[2015-03-03 22:17] janvorli opened #387 "Pin managed objects pointed to by nonvolatile registers stored on stack"
Currently managed objects pointed to by nonvolatile registers are not pinned and so GC needs to update the values of these registers stored on the stack when it moves the respective objects.
This requires that the native code unwinding is able to provide context pointers pointing to the locations of those registers on the stack.
While the current libunwind that we are using on Linux provides suppo

[2015-03-03 22:46] kangaroo commented on #387
@janvorli I had some questions about the performance implications of this.  I would hazard a guess that the majority of times an object was pointed to by a nonvol reg, that it would be pointing to a nursery object.  Pinning those will certainly have a non-zero cost -- no?

[2015-03-03 23:48] evolvedmicrobe commented on #355
Yep, error gone, thanks!  The full program still can't run due to what appears to be the issue described in #176 , but thanks for the progress on linux!

[2015-03-03 23:48] #355 closed

[2015-03-04 00:15] janvorli commented on #176
@poizan42 I am sorry for a late response. In CoreCLR on Linux, we don't care about the embedded win32 resources. We don't need to read or parse them in any way.

[2015-03-04 00:48] cheers00 commented on #374
It helps. I installed VS 2013 ultimate with update again and now I can build without any problems. I don't know if this has any effect on VS 2015 CTP6 yet.

[2015-03-04 00:48] #374 closed

[2015-03-04 01:44] janvorli commented on #360
Implemented as #380

[2015-03-04 01:44] #360 closed

[2015-03-04 03:50] jasonwilliams200OK opened #390 "Feature Request - Add ability to get actual file casing in path"
Based on this answer: http://stackoverflow.com/a/81493/1712065 (further redirected from: http://stackoverflow.com/a/326153).

Please add the ability to retrieve path with actual case via `FileInfo` and `DirectoryInfo` classes. The candidate member being `FullPath` and `Name`. Perhaps there is some sophisticated way of getting it from win32 file system API, but [that](http://stackoverflow.com/a/814

[2015-03-04 04:07] ellismg commented on #390
Closing this in favor of the same issue I've opened in corefx.

[2015-03-04 04:07] #390 closed

[2015-03-04 06:01] jkotas commented on #200
I am adding a workaround in https://github.com/dotnet/coreclr/pull/392 . It should be removed once this issue fixed.

[2015-03-04 07:39] leppie commented on #385
This is not only for clean. It happens on my system too. I have never heard of the test option, and considering it is used when `$(UseRoslynCompiler)'!='true'`, it looks like this scenario has never been tested.

[2015-03-04 07:55] leppie commented on #385
I found out why this is happening.

There are leftovers from VS Express installations in `AppData\Local\Microsoft`.

Just delete all the `XXExpress` directories and the build will work fine.

[2015-03-04 08:16] krk commented on #385
I have checked and I do not have any folders named *Express in %AppData%\Local\Microsoft

[2015-03-04 08:24] leppie commented on #385
Do you perhaps have a Roslyn extension installed for VS2013? It may be that it is outdated. Also look in process explorer to see if `VBCSCompiler.exe` (I think that was the name) process is running. That is what pointed me to the VS extension issue.

[2015-03-04 09:19] krk commented on #385
Indeed, I have the Roslyn extension for VS2013.

[2015-03-04 19:37] mmitche opened #393 "inner loop tests should be run in parallel"
Inner loop tests should be run in parallel in the CoreCLR test tree.

[2015-03-04 23:02] #393 closed

[2015-03-05 06:14] ellismg commented on #154
@glen-84 Are you still hitting this?  I have updated the documents to take into account the new dependencies and layouts of the builds.  If you're still hitting issues let me know and we can try to figure things out.

[2015-03-05 06:22] ellismg commented on #349
If we were to do this (and I'm not advocating we should) we should better understand how this works with Roslyn.  For example, is Roslyn set up to understand when an attribute inherits from ObsoleteAttribute?  In the above example, how would Roslyn understand what needs to be done here?  Does it need to actually run the IL for the .ctor of the "MyObsoleteMessage" attribute to figure out if things

[2015-03-05 10:35] krk commented on #385
Unrecognized option is added in ```\coreclr\src\mscorlib\GenerateCompilerResponseFile.targets:13```

Relevant part of the file is here:

[code]

[2015-03-05 19:10] glen-84 commented on #154
@ellismg,

I started from scratch, and ...

1. I get "Visual Studio 2013 Community (free) is a pre-requisite to build this repository." -- I have Express, so I commented-out this check:

    -if exist "%VS120COMNTOOLS%\..\IDE\devenv.exe" goto CheckMSBuild
    +::if exist "%VS120COMNTOOLS%\..\IDE\devenv.exe" goto CheckMSBuild
    +goto CheckMSBuild

2. In your docs, the path to System.Diagnostics.D

[2015-03-05 19:18] ellismg commented on #154
@glen-84 Can you do the following:  export COMPlus_DumpJittedMethods=1 and then run corerun again and share the output in a gist?  I'm interested in figuring out how far the runtime got before blowing up.

[2015-03-05 19:27] glen-84 commented on #154
https://gist.github.com/glen-84/2a850574cce083c30ffe

Seems to be a FileLoadException?

Do you think it would help if I installed mono-complete instead of just mono-devel?

[2015-03-05 19:33] ellismg commented on #154
I have things working with mono-devel, so I don't think you should need complete.  If you prepend the call to corerun with strace and grep around the output for "open(" syscalls, you can see what library we were trying to load when we blow up.  That might be helpful.  I wonder if for some reason we are trying to use the System.Console type out of mscorlib instead of the standalone one.  If that wa

[2015-03-05 19:43] glen-84 commented on #154
open("/etc/ld.so.cache", O_RDONLY|O_CLOEXEC) = 3
    open("/lib/x86_64-linux-gnu/libdl.so.2", O_RDONLY|O_CLOEXEC) = 3
    open("/usr/lib/x86_64-linux-gnu/libstdc++.so.6", O_RDONLY|O_CLOEXEC) = 3
    open("/lib/x86_64-linux-gnu/libm.so.6", O_RDONLY|O_CLOEXEC) = 3
    open("/lib/x86_64-linux-gnu/libgcc_s.so.1", O_RDONLY|O_CLOEXEC) = 3
    open("/lib/x86_64-linux-gnu/libc.so.6", O_RDONLY|O_CLOEXEC) =

[2015-03-05 19:56] ellismg commented on #154
No smoking gun there.  Let me think a bit on what the best way to debug this is.

[2015-03-05 20:01] glen-84 commented on #154
Are you using a different distro?

[2015-03-05 20:08] ellismg commented on #154
Nope.  14.04 LTS

matell@MATELL-UB:~/git/coreclr$ uname -a
Linux MATELL-UB 3.13.0-44-generic #73-Ubuntu SMP Tue Dec 16 00:22:43 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

[2015-03-05 20:21] glen-84 commented on #154
glen@ubuntu:~$ uname -a
    Linux ubuntu 3.13.0-46-generic #77-Ubuntu SMP Mon Mar 2 18:23:39 UTC 2015 x86_64                                                            x86_64 x86_64 GNU/Linux

I'm just trying to understand why it works for you but not for me.

[2015-03-05 20:24] ellismg commented on #154
I really want to figure this out as well.

Is there some way for you to share your runtime directory with me?  Compressed it is like 30 meg, which may be hard to upload, but if you're open to it we can figure out a solution.  Feel free to e-mail me as well: matell@microsoft.com.

[2015-03-05 20:51] glen-84 commented on #154
This should work: https://drive.google.com/file/d/0BzpJrZ9UkZtxUmhORHJDN3JSeUk/view?usp=sharing

[2015-03-05 21:36] ellismg commented on #154
Thanks!

Can you let me know what Sha your HEAD is at in corefx when you build System.Console.dll?  If I replace your System.Console.dll assembly with my own, everything works.  Looking at the IL for your System.Console.dll it doesn't look obviously incorrect, so I want to dig a little more.

[2015-03-05 22:18] glen-84 commented on #154
Glen@GLEN-PC /D/Programming/Git/corefx (master)
    $ git rev-parse HEAD
    0e73355555771af3a8f6dbc8318f8fe2866512b1

Is it normal that after building I get a bunch of modifications like this?:

    Glen@GLEN-PC /D/Programming/Git/corefx (master)
    $ git status
    On branch master
    Your branch is up-to-date with 'origin/master'.

    Changes not staged for commit:
      (use "git add <file>

[2015-03-05 23:43] ala53 opened #401 "Why is the entire GC source in one file?"
Looking at the code for the garbage collector, everything is in a single file. Is there a specific reason or is it a result of some sort of incremental design? Everything from GC statistics to allocation to background and blocking garbage collection is all in one file totaling ~36,000 lines and 1.2 megabytes of text.

I ask because I would like to clean it up (move GCStatistics into its own header

[2015-03-05 23:48] ala53 commented on #401
Looking a bit more, it seems that the GC code is a bit of a mess:

From gcpriv.h:

[code]
Note that only one of the #defines is in use but there's 11 other commented out ones.

[2015-03-06 00:11] cnblogs-dudu commented on #401
From: https://news.ycombinator.com/item?id=8994408

[2015-03-06 00:15] ala53 commented on #401
That explains a lot...So moving it into multiple files won't cause me to get lynched?

[2015-03-06 01:03] cnblogs-dudu commented on #401
@ala53
You will save people who wants read GC source from lynch.

[2015-03-06 01:24] ellismg commented on #154
Thanks!

I think a bug has crept into CoreFx, since I'm able to reproduce your issue if I build at that revision.  Can you try building from 2416d382ab092890f5cf4d9e0fea838b4789a4ba?  I verified that works for me.

I will start figuring out what change caused the break.

I also see your LF issues.  We recently changed the SR files are generated, so they are now updated at build time.  We must be w

[2015-03-06 02:07] ellismg commented on #154
The issue was due to some package updates we did after I edited the guide yesterday.  This caused the packages.config in the guide to have outdated versions of some assemblies and hence that caused the assembly load failures.  I have updated the Wiki to include a new packages.config with the correct versions.

[2015-03-06 02:24] ala53 commented on #401
Also, what is this mysterious "Book of the Runtime?" It would probably be useful to figure out what the GC is doing.

gc.cpp, line 12:
[code]

[2015-03-06 02:30] cnblogs-dudu commented on #401
@ala53 See https://github.com/dotnet/coreclr/blob/master/Documentation/garbage-collection.md

[2015-03-06 07:53] gabikliot opened #405 "Documentation and code for Thread Pool"
Where can I find the documentation and the code for the Thread Pool?
Would the coreclr thread pool be different from the full CLR thread pool?

[2015-03-06 09:53] glen-84 commented on #154
ellismg@linux:~/coreclr-demo/runtime$ mcs /nostdlib /noconfig /r:../packages/System.Console.4.0.0-beta-22512/lib/contract/System.Console.dll /r:../packages/System.Runtime.4.0.20-beta-22512/lib/contract/System.Runtime.dll HelloWorld.cs

Should be:

    ellismg@linux:~/coreclr-demo/runtime$ mcs /nostdlib /noconfig /r:../packages/System.Console.4.0.0-beta-22703/lib/contract/System.Console.dll /r:../p

[2015-03-06 09:53] #154 closed

[2015-03-06 19:21] ala53 opened #408 "Discussion on reorganizing gc.cpp"
Per (the nightmarish) PR #403, it was recommended I open an issue to discuss reorganizing gc.cpp.

For those that aren't familiar, gc.cpp is a 36,000 line file which seems to contain the entire garbage collector and gcpriv.h is a 4,000 line header which seems to correspond to gc.cpp.

So, what would be the best way to split gc.cpp into its components.

We could split by function: allocator/ mark p

[2015-03-06 22:27] brianrob commented on #408
FYI - @Maoni0

[2015-03-07 04:03] tannergooding opened #410 "Exception filters have different behavior when invoked via reflection and the filter throws an exception"
This is ported over from Roslyn Issue #[1114](https://github.com/dotnet/roslyn/issues/1114).

When invoking a method with an exception filter where the conditional expression for the filter throws an exception, the thrown exception should be swallowed and the filter treated as if the conditional expression returned false.

However, when the method is invoked via reflection, the exception thrown by

[2015-03-07 04:51] ellismg commented on #154
Thanks @glen-84 for pointing out the issue in the wiki and for working with me to validate everything.

[2015-03-08 09:42] dhusemann commented on #170
Would Cake help in this?? https://github.com/cake-build/cake

[2015-03-08 14:36] biqas opened #412 "Binary layout schemas and transformations on IL-Level"
Hi,

created a Issue on the Roslyn project, but is seems to be appropriate here.

https://github.com/dotnet/roslyn/issues/526

[2015-03-08 17:48] lucasmeijer commented on #408
fwiw, imo it would be very beneficial to the understanding of newcomers to the code to split up gc.cpp into different seperately digestible parts. It's a complicated beast, and a 1mb+ cpp file is really not helping :).    @ala53 is not the only one who has run into this problem.

[2015-03-08 19:34] richlander commented on #408
@lucasmeijer, @ala53  suggested a few different approaches. Do any of those resonate with you, or you'll wait and see as the conversation progresses?

[2015-03-08 20:05] lucasmeijer commented on #408
@richlander, I don't have a good enough overview yet to have an opinion on how to best split it up.  I mostly added my comment because https://github.com/dotnet/coreclr/pull/403 was closed with the reason "we wont do PR's that just move stuff around".  this code could definitely use some moving around :).   how to do it in a way that conceptually makes sense, and does not regress on performance is

[2015-03-09 05:22] MattWhilden commented on #405
Is there something specific you're looking for our trying to do? There's lots of things written about Threadpool on msdn and channel9.

Source here:
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/ThreadPool.cs

[2015-03-09 18:03] MattWhilden commented on #401
It seems like the discussion for this has been moved to #408. I'm closing this one out. Let me know if this is in error.

[2015-03-09 18:03] #401 closed

[2015-03-09 19:16] Maoni0 commented on #408
Hi @ala53, I really appreciate your interest in the GC, but we would prefer not to take these kinds of source file refactoring changes. We’ve had the current structure since CLR started so it is familiar and efficient for those who have worked on it the most. From the guidelines:

__please do give priority to the current style of the project or file you're changing__

Also splitting up code into m

[2015-03-09 20:18] hbarrington commented on #408
@Maoni0 not to beat a dead horse, but is there any kind of internal effort at Microsoft to break this up? I understand merge conflicts come increase if lots of outside developers are reorganizing code, but it is incredibly hard to read. I'd be surprised if internal teams actually *preferred* this one-file structure.

[2015-03-09 21:16] Eyas commented on #408
@Maoni0 also, this is not necessarily a task item or work item, nor is it an active pending change (say, a PR), but rather a place to brainstorm about what should happen to GC code.

The arguments for closing that I see here are arguments against accepting a PR right now, not arguments against having this discussion, which would be actionable at a future time.

Would you be able to provide an argu

[2015-03-09 22:12] ala53 commented on #408
@Maoni0

This discussion was my way of doing so: I wanted to discuss possible ways to clean up gc.cpp. This actually stemmed from me trying to understand how garbage collectors work but the organization provides a high barrier to entry and isn't very easy to understand.

I have no problem with you wanting to avoid merge conflicts and such, but I (as well as some others) think that splitting the fu

[2015-03-09 22:36] janhenke commented on #194
In C++11 there is a standard library function for this: `std::thread::hardwareconcurrency()` http://en.cppreference.com/w/cpp/thread/thread/hardware_concurrency
Would that be sufficient?

[2015-03-09 22:47] karelz commented on #408
Apologies for closing the issue. As you know we are new to open source, so things are a bit bumpy and we are learning as we go. We didn't realize right away that issues are used also for design-style discussions ... I am reopening the issue for the purpose of continued discussion.

[2015-03-09 22:58] karelz commented on #408
@Eyas discussion is not harmful. Currently we do not have plans to split up the GC code (and we do not even have plans for the plans). Top need for GC work is currently x-plat (see e.g. #138) - any help there would be very appreciated.

[2015-03-09 23:44] MattGal opened #420 "Need to ensure Path.GetTempPath() / other APIs work as expected on cross-plat coreclr fwk"
See this thread:

https://github.com/aspnet/HttpAbstractions/issues/168

... basically the expectation is that Path.GetTempPath() may fail on Unix or MacOS systems when switching to the cross-plat coreclr implementation.  From reading the current implementation, it still depends on the API in Kernel32.

[2015-03-10 00:37] stephentoub commented on #420
@MattGal, have you seen a problem at run time, or is this just based on code inspection?  P/Invokes to kernel32.dll in mscorlib get redirected by the runtime to its PAL layer, so a call to GetTempPath on Unix doesn't actually try to load kernel32.dll, but instead uses the native implementation from libcoreclr.  Today I believe it only goes to /tmp/, but it could certainly be extended to first chec

[2015-03-10 01:59] kangaroo commented on #194
My concern is its documented as: "If the value is not well defined or not computable, returns ​0​."  Do we want to rely on every C++ implementation on every arch doing the right thing over a few extra lines of os specific code?

[2015-03-10 02:14] zgxnet opened #422 "[Discussion]Performance of clr"
It seems that CLR is very slow for some simple scenarios, more than 10x slower than its C++ counterpart. Using disassembly I found that there are some important cases where CLR is not optimized.
The following are my test cases (both in x64 release mode):
C#:
[code]
C++:
[code]
For C# code, each inner loop takes more than 400ms. While for C++, each inner loop takes less than 40ms.

I dig into the a

[2015-03-10 02:49] ala53 commented on #422
In the C++ body, something seems very wrong. There's a conditional jump without ever evaluating for the condition. It should be
[code]

[2015-03-10 02:55] zgxnet commented on #422
@ala53 It is not wrong. dec does the job. And you can try it yourself.

[2015-03-10 03:08] ala53 commented on #422
@zgxnet Maybe I am wrong - I know only enough assembler to understand the basics.

Here's the `counter = counter * 2 + 3` line
[code]

In the inner loop in human readable terms:

 - Load the [long] value from memory into rax
 - Load the [integer] "2" into edx
 - Convert [integer] edx's value into a [long] and put it into rdx
 - Multiply our rax by rdx
 - Load the [integer] "3" into edx
 - Convert

[2015-03-10 03:12] ala53 commented on #422
At the beginning of each iteration (the `` line):

[code]

 - We zero out ecx (why is that needed?)
 - then zero out rcx in an unoptimized way (xoring causes the cpu to change to a virtual register, negating the overhead of actually *zeroing* the register. See (here)[http://stackoverflow.com/questions/16419960/x86-comparison-instruction-that-uses-xor-instead-of-subtraction])
 - We then zero out so

[2015-03-10 03:17] zgxnet commented on #422
@ala53 You can just use the release mode, in which you will not see the unnecessary instructions.

[2015-03-10 03:18] ala53 commented on #422
Then at the end of each iteration, we need to do bookkeeping:

[code]
- We load the counter from memory (despite the fact that we can *guarantee* that it will not be touched from outside the loop)
- Load the [integer] "1" into edx
- Convert the [integer] edx into a [long] in rdx
- Add one to rcx (our counter variable)
- Store rcx back into memory
- Load the 200,000,000 as an [integer] into eax
- C

[2015-03-10 03:21] ala53 commented on #422
@zgxnet That was release mode. http://i.imgur.com/ouqcjac.png

I have no idea why we are getting different code but this was .Net 4.5.3 and not the CoreCLR - my performace woes might be a bug that has been fixed already but the optimization is still broken somewhere.

[2015-03-10 03:22] zgxnet commented on #422
@ala53 You should start the exe outside vs, and then attach to it.

[2015-03-10 03:28] ala53 commented on #422
@zgxnet Strange. I still get the same jitted code even when I launch outside of VS and attach (in release mode, of course).

[2015-03-10 03:39] zgxnet commented on #422
@ala53 CoreCLR uses ryujit, which does not have much performance diferrence. Anyhow, CLR seems poor in code generation, worse than jvm in many cases.

[2015-03-10 05:46] MattWhilden commented on #422
Adding some folks from our codegen team. Either to redirect or comment themselves. @BruceForstall @CarolEidt

[2015-03-10 05:53] shahid-pk commented on #408
@karelz  this is encouraging and constructive we all want the gc to be cross platform first then other things but this discussion could help the community to know why the structure of the gc is what it is and why it is staying that way. We understand the current priority is cross platform first.

[2015-03-10 07:02] mikedn commented on #422
@ala53 The assembly code that you have posted is surely generated with optimizations disabled. I'm not sure how you ended up with it in a Release build that's run outside VS but I've never seen that kind of code in an optimized build. Make sure to uncheck "suppress JIT optimization on module load" in VS debugger general options, even if you run outside the debugger you can still get unoptimized co

[2015-03-10 07:36] zgxnet commented on #422
@mikedn I think such conservation is really harmful, losing more than its gain. We should not take care of such poor written code at the cost of performance, which is crucial for a language's success. In my experience, even java does a better job in field load/store. And this makes java faster in many cases.
Field access is so frequent such that we cannot move it to a local variable before use.

[2015-03-10 08:46] karelz commented on #408
@shahid-pk Makes sense. Let me try to answer your questions to my best knowledge (and some guess work):
Why it is this way? ... Partly historical reasons (it is this way since the start). Partly because devs working on it didn't feel the urge to refactor it. Partly because splitting of gc.cpp is non-trivial and risky and because it does not bring too big value (ramp up in the code base can be gain

[2015-03-10 09:11] mikedn commented on #422
Yeah, I'm not very happy with this either. And not only due to performance but also because this increases the chances that poorly written code works "by accident" rather than "by design", at least on x86/x64. The fact that the memory model of CLR isn't well documented and the JIT compiler appears to be event stricter than the thinly documented memory model doesn't help either.

Not really, loads

[2015-03-10 09:24] janhenke commented on #194
How about trying the standard library function first? If it returns 0 we can still resort to more platform specific methods. On the other hand it is a standards definition, what you quoted is basically the worst case guarantee any implementer has to provide. So far that value has always been correct with the common standard library implementations (libstdc++/libc++).

I would go ahead and author t

[2015-03-10 13:30] Eyas commented on #408
@karelz your points are valid and I expected as much.

To provide a perspective on why continuing the conversation is useful, I think it is illuminating to look over at what the folks over at CoreFX are doing with their GitHub issues. This might be an interesting place to get towards. Especially, see how issues are tagged with different priority levels, one of which is `'0 - Backlog'` (idea "good

[2015-03-10 13:33] Eyas commented on #408
Onto the specifics here, I do agree that reorganizing and refactoring is a formatting change in this case.

[2015-03-10 13:49] d-kr commented on #408
In #401 @cnblogs-dudu  referenced a post explaining that the GC was machine-generated from LISP. Since `gc.cpp` is not a real source code (just intermediate code), but the lisp code is, should it be more useful to publish the lisp source and the transpiler (Source-to-source compiler) for LISP -> CPP?

[2015-03-10 14:20] hbarrington commented on #408
@Eyas :+1:

[2015-03-10 15:42] karelz commented on #408
@d-kr The LISP conversion might have happened before v1, just once (most likely). Current gc.cpp is "the source". There is no additional magic we use.

[2015-03-10 15:44] karelz commented on #408
@Eyas Thanks for understanding.
The tagging is interesting idea and I bet that @richlander @terrajobst will make it happen here once it settles in corefx project.

[2015-03-10 17:05] #204 closed

[2015-03-10 17:58] brianrob commented on #422
@zgxnet, looking at the generated code in your original post, it actually looks like the main difference I see is due to optimization.  The C++ generated code doesn't actually touch the counter variable, and simply loops, while the C# code does actually modify the counter.  The C++ compiler has optimized this away because the variable counter doesn't actually get used other than inside the loop, a

[2015-03-10 18:17] ala53 commented on #422
@mikedn Hmm. I think I see my problem. I moved the loop into its own routine so I could hook before it started. Unfortunately, the debugger disabled optimization here and then compiled the loop method. Good to know for the future - I didn't know VS disabled optimization the second it begins to observe.

Now, I get this, but there's still room for optimization
[code]
What's really weird is that we'

[2015-03-10 18:26] gabikliot commented on #405
The things on msdn and channel9 are about full CLR thread pool, not the one in coreclr. I mainly wonder if there are any plans to do any changes in the **coreclr thread pool**? For example:
1) Make it more configurable: Allow to control in more details how the pool grows and shrinks.
2) Controlling the thread pool that is used by other framework libraries. For example, async socket calls are using

[2015-03-10 18:41] ala53 commented on #408
@karelz That makes sense. It's an issue of cost-benefit. Reorganizing the GC may cause a bunch of subtle bugs and wouldn't help the people who work on it a lot. Like @Eyas, I vote the discussion be left open so that (a) people won't post more issues of "WHY IS GC ONE HUGE FILE?!?!?!!," as the reasoning is documented here and (b) so people can document little things they find that could be factored

[2015-03-10 18:44] ala53 commented on #422
Also, I'm probably driving someone on the code gen team insane by nitpicking their choice of x86 instructions without having a PhD. in the field.
_Sorry about that :/_

[2015-03-10 18:45] CarolEidt commented on #422
I am seeing slightly different code generation here than @ala53 posted above, though not significantly (and I am working with a slightly different version).  In any case, register ecx is actually the same register as rcx, though the xor should specify rcx to zero the full 64 bits.  In my version the xor is specifying the 64-bit register (rcx).
Regarding the loads and stores, the defacto CLR memory

[2015-03-10 18:57] ala53 commented on #422
@CarolEidt I think it might just be a bug in 4.5.3's code gen.

[code]

Even when it is set to 20 billion, the xor only deals with low 32 bits and the outer loop also doesn't reset the counter.

[2015-03-10 19:23] CarolEidt commented on #422
My colleague, @BruceForstall informs me that this is expected behavior - writing a 32-bit register zeros the upper bits, and the 32-bit version is one byte shorter.

[2015-03-10 19:33] ala53 commented on #422
@CarolEidt Correct me if I'm wrong, but in a situation like the below, wouldn't a 64 bit xor be needed? Zeroing out the upper bits won't reset it to zero in this case (I think).
[code]

[2015-03-10 20:08] CarolEidt commented on #422
@ala53 Xor-ing a value with itself yields zero.  The side-effect of clearing the upper bits is what gives you the full 64-bit zero.

[2015-03-10 21:13] kangaroo commented on #194
Sure -- I'll handle this for OSX.

[2015-03-10 22:07] MattWhilden commented on #405
I don't know of any planned work in this space. The CoreCLR threadpool has historically only needed to support scenarios for Silverlight and Windows Phone apps.

@ericeil is a good contact to discuss further.

[2015-03-10 23:09] ala53 commented on #422
@CarolEidt I know. What I'm talking about is this:

Lets say the value in a register is `0xFFFFFFFFFFFFFFFF`. If you xor the upper bits `0xFFFFFFFFFFFFFFFF | 0xFFFFFFFF00000000`, you would get `0x00000000FFFFFFFF` (unsigned 4,294,967,296), not 0. Is the xor doing something behind the scenes to zero out the other half?

[2015-03-10 23:29] mikedn commented on #422
Yes but that's not specific to xor. This is described in the Intel arch manual:

[2015-03-10 23:56] CarolEidt commented on #422
@ala53 - the lower bits are zero'd because xoring a register with itself produces zero.  Your example is two different values.

[2015-03-11 01:15] zgxnet commented on #422
I really wonder why there is such a bad defacto memory model that field load/write cannot be optimized. There are so many cases that we read/write from object fields, and in some cases we have to do this. This means C# can never be as fast as C++. Another case is C++/clr. When we choose supporting clr in C++ projects, the behavior changes, and the performance degenerates significantly.

Do you hav

[2015-03-11 02:23] ala53 commented on #422
@zgxnet Actually, the (Oracle) JVM is anything but conservative. The reason the JVM is a faster in that specific use case is because it makes speculative optimizations. It does guesswork based on heuristics to optimize away things such as loads and stores but if a prediction doesn't pan out, it has to spend a lot of time doing optimization bailouts. It's a lot like javascript compilers in that way

[2015-03-11 03:24] zgxnet commented on #422
@ala53 The key problem is not just static members, but every field. For general optimization, you do not have to consider multithreading. If you do want to consider it, please add volatile. In fact, why C++ can do it but C# cannot? And JVM does not rely on heuristic to optimize field access, it just uses similar way as C++.

[2015-03-11 05:57] kangaroo commented on #194
So the implementation is simple enough, but it does touch on a placement problem.

@sergiy-k Should we introduce a PAL_GetLogicalCpuCountFromOS so we can have the platform specific #if's there, or are we ok pulling those deps and headers into the VM?

Basically we need

[code]

Likely optimized by caching the result in a static :)

[2015-03-11 06:43] ala53 commented on #422
@zgxnet My apologies, I'm not really a java developer. I didn't know that Java had `volatile` and just assumed it makes speculative optimizations when it _thinks_ that the field is safe enough.

C# does have `volatile` but I have no idea what it is used for. Also, there's now 14? years of backwards compatibility to deal with and the changing the CLR would break a few of them. Sure, it wouldn't be

[2015-03-11 07:26] ellismg commented on #375
@richlander Do you want to take a crack at this with the lawyers to figure out what, if any, of these concerns can be addressed?

[2015-03-11 07:36] janhenke commented on #194
I also think it would be the better solution to move that into the PAL (the Windows code should be there as well).

[2015-03-11 07:38] mikedn commented on #422
This "every field" makes me think you're overstating a bit the importance the memory model here. It's not like if you change the memory model all C# code will get 10x performance. There's a lot of code that will see much smaller performance improvements, if any. There are a lot of conditions that need to be fulfilled by the code to see such large perf improvments:
* The code must be inside a loop.

[2015-03-11 07:51] mikedn commented on #422
Well, it's used to force load/stores to occur and do so in a particular order. As I mentioned before, CLR's memory model doesn't actually treat all field access as volatile.

It "just works" until it doesn't, the loop in the following code will never terminate despite the strong memory model of CLR:

[code]
Granted, it's unlikely to see such an empty loop in real world code and the optimization th

[2015-03-11 09:57] janvorli commented on #194
@kangaroo The OSX / Linux code needs to be in PAL. We cannot include any platform specific headers in any of the coreclr itself, including the VM.
@janhenke The windows code cannot be in PAL since there is no PAL on windows.

[2015-03-11 12:12] zpodlovics commented on #422
On the counter example after moving the global counter variable to a local variable (just before the Stopwatch s = new Stopwatch(); line) Mono (3.12 x86_64) LLVM AOT was able to eliminated not just the inner loop body, but the whole inner loop. The inner loop usually executed after warmup in ~0.0001 ms.

On the multi-threaded example the done variable will be cached in CPU register, changing it fr

[2015-03-11 14:56] mirhagk opened #430 "Consider reference counter as alternative garbage collector"
Tracing garbage collection is great for throughput and C# has a pretty well tuned garbage collector (even if it's a little out of date w.r.t. academic papers). But there are scenarios where throughput does not matter as much as consistent predictable performance, or scenarios that use a lot of memory and can't afford to pay the price of a tracing collector in either pausing or memory consumption.

[2015-03-11 16:39] CarolEidt commented on #422
As far as I know there is no formal definition for the CLR memory model, though this blog post from some years ago describes the de facto model pretty accurately, I believe: http://joeduffyblog.com/2007/11/10/clr-20-memory-model/. A couple of additional points:

First, the JIT is somewhat more conservative than Joe describes in his post.  That is, I don't think it will eliminate stores to "non-loc

[2015-03-11 16:55] mmitche opened #431 "Standalone test build broken"
The test build is broken when building standalone.

[2015-03-11 17:55] kangaroo commented on #194
PR https://github.com/dotnet/coreclr/pull/432

[2015-03-11 18:29] brianrob commented on #26
@fr0stbyte, this doc is now available at https://github.com/dotnet/coreclr/blob/master/Documentation/garbage-collection.md.  It has been there since we starting adding Book of the Runtime docs, but I just noticed that I hadn't responded back to this one.

[2015-03-11 18:29] #26 closed

[2015-03-11 18:57] fr0stbyte commented on #26
@brianrob thanks -- did noticed the document going up

[2015-03-11 19:04] gowrikumar commented on #60
@borgdylan, @jkotas
May I know the status for this and how could I contribute towards bringing up on the Linux 32-bit.

[2015-03-11 19:21] cmckinsey commented on #422
One additional point that hasn't been touched on, the C++ compiler above also unrolled the loop and folded the math leaving half as many iterations as the C# version which makes a big difference.

The C# RyuJIT misses applying these optimizations:

- unroll counted loops (this is the truly big win in this case)
- down-count loops (not always a win, but in this case saves one cycle per iteration)
-

[2015-03-11 21:07] mikedn commented on #422
Hmm, right, that gives almost 2x perf improvement. Turns out that VC++ is quite conservative with unrolling because this specific loop can be unrolled more than 2 times without any increase in code size. The C++ version takes around 30ms on my machine and the following C# version takes only 12ms:

[code]

[2015-03-11 21:28] borgdylan commented on #60
You may fork my code. We do need direction from the coreclr team on important decisions however.

[2015-03-11 23:35] Maoni0 commented on #430
@mirhagk, thank you for opening this very interesting issue :-) I think you'd be pleased to know that I have actually already been thinking about a ref counting GC :-) so indeed this is within our interest. As you pointed out, obviously this would be a very big change and I don't have a plan yet (still in the thinking stage) but I will keep you updated when I have something to share.

Our backgrou

[2015-03-11 23:52] Maoni0 commented on #387
If it's indeed to nursery objects, let's say it points to a gen0 object and when the next gen0 GC happens it's no longer pinned, then yes the cost completely doesn't exist.

The part I can't be confident about is if the *majority* falls into this case; and when it doesn't fall into this case how long the object will be pinned. Someone from the JIT team can comment better. @BruceForstall ?

[2015-03-11 23:58] Maoni0 commented on #203
Would be great to port !VerifyHeap as well - it's an extremely commonly used command.

[2015-03-12 14:22] janhenke commented on #194
For Linux I am still looking for the correct system call to get the number of logical cores/hardware threads. If anybody knows more in that regards... :)

[2015-03-12 14:26] janvorli commented on #194
Would this be helpful?
http://www.gnu.org/software/libc/manual/html_node/Processor-Resources.html

[2015-03-12 14:31] janhenke commented on #194
Thanks, but I am trying to find some documentation to skip libc and make a direct syscall to the kernel to get the number of cores, similar to the OS X above.

[2015-03-12 14:56] janvorli commented on #194
Why don't you want to use the lib function? Is there anything wrong with it?

[2015-03-12 15:00] mirhagk commented on #430
Yes of course, I'm not going to pretend I'm anywhere near an expert on garbage collection, but I am aware of the Immix algorithm, which supposedly gets space efficiency, fast collection, and good mutator performance. It claims to be 7-25% faster than semi-space, mark-sweep and mark-compact, and also claims to be 5% faster than an already highly tuned garbage collector.

I don't know if Immix has r

[2015-03-12 15:29] cnblogs-dudu commented on #194
@janhenke
Hope this would be helpful.
[Programmatically find the number of cores on a machine](http://stackoverflow.com/questions/150355/programmatically-find-the-number-of-cores-on-a-machine)

[2015-03-12 15:58] tannergooding commented on #410
*ping*
Issue has not been looked at yet.

[2015-03-12 16:55] janhenke commented on #194
@janvorli I am not sure how much of platforms libraries are available. At first I thought `std::thread::hardware_concurrency()` would work, but then I noticed coreclr is compiled with no standard includes. Thus I assumed it would be best to avoid standard libraries and implement it ourselves. If that is not the case and we can call any glibc function on Linux, indeed it makes sense to use the docu

[2015-03-12 17:07] kangaroo commented on #194
Its not clear to me from the docs if _SC_NPROCESSORS_ONLN is physical cores, or logical cores.  If its logical in Linux and OS X, I'm happy to unify the implementations.

[2015-03-12 17:12] janvorli commented on #194
@janhenke The rule is simple. In coreclr, you cannot use any platform specific stuff and everything needs to be built on top of PAL (on Windows, it is different since there is no PAL - the PAL emulates the minimal needes subset of windows APIs and adds other things that we need on non-Windows systems). In the PAL, you can use anything available on the platform, but you should stay away from STL, b

[2015-03-12 17:21] kangaroo commented on #194
Squashed and pushed.  Once merged, we should be able to close this out.

[2015-03-12 17:39] janhenke commented on #194
@janvorli Thanks for that explanation, that clarifies it for me.

@kangaroo Thanks for the effort & change. Looks good to me!

[2015-03-12 17:50] Joe4evr commented on #430
I believe I recently read/heard something about the GC being designed quite standalone on purpose, to make it easy to substitute it with a different one as long as it adheres to the contract of the runtime... or that might've been regarding the JIT. Not 100% sure about it now.

[2015-03-12 19:50] janvorli commented on #194
Completed by PR #432

[2015-03-12 19:50] #194 closed

[2015-03-12 20:49] jkotas commented on #430
@Joe4evr The GC is not tightly coupled with the framework/runtime. https://github.com/dotnet/coreclr/tree/master/src/gc/sample is an examples that shows how to use the GC without the rest of CoreCLR. We are interested in changes to make this example better.

[2015-03-12 21:02] janvorli commented on #192
Update: After #363 and #435, we now have everything except of the hardware exceptions implemented.

[2015-03-12 23:13] #422 closed

[2015-03-13 04:15] richlander commented on #430
@jkotas That's good. I was thinking of the same sample when I read the comment from @Joe4evr. That said, I read his comment differently, which wasn't that he wanted to use the GC in a different runtime, but use a different GC with CoreCLR. Basically "alt-gc".

[2015-03-13 04:16] richlander commented on #377
@migueldeicaza likely has an opinion on this. I believe that Mono and some parts of Xamarin uses the framework bundle approach.

[2015-03-13 06:14] Joe4evr commented on #430
@richlander Pretty much, except I have like 0 knowledge of C++ myself, I was just mentioning a point for discussion.

[2015-03-13 09:58] jkotas commented on #430
The "alt-gc" direction is possible, but not as easy.

The GC features that the CoreCLR runtime depends on (for full functionality) are pretty rich. It includes features that are not always found in experimental GC implementations out there such as interior pointers or pinning. It is non-trivial to build alternative implementation of the rich advanced feature set.

Integrating a new GC was actually

[2015-03-13 22:23] japj commented on #106
So, just checking if I understand it correctly.

This would mean modifying src\mscorlib\model.xml to add Condition="FEATURE_LEGACYSURFACE" to the Marshall Read/Writexxxx Members that have a System.Object argument?
Is that all or is there more involved here?

And is there a way to test the correctness of this change on Windows? Or do I need to setup a Linux box to verify this?

[2015-03-13 22:31] jkotas commented on #106
Yes, it is all that is required for the Marshal Read/Write methods.

Running "build.cmd unixmscorlib" on Windows, and verifying using ildasm that the methods are not in Unix mscorlib.dll anymore should be sufficient.

[2015-03-13 23:17] japj commented on #106
It seems I have been hit with a missing DIA SDK issue, so I cannot even compile the project correctly atm.

It unfortunately seems I unstalled VS2012 at some point after installing VS2013 and a repair of VS2013/Update4 did not bring back the missing DIA SDK files so I can not continue due to a compile error with missing dia2.h.

[2015-03-14 05:16] kangaroo commented on #44
Is this an issue?  If someone wants to do this, and push it to the docker registry, fantastic.  I'm not sure how this is an issue for the repo tho?

[2015-03-14 05:19] kangaroo commented on #25
Issue ping.  Is there a concrete action here?

[2015-03-14 05:20] kangaroo commented on #34
@alexrp Is this still an issue?  Its been over a month.  Can we close this out?

[2015-03-14 05:21] kangaroo commented on #52
Ping @richlander -- the PR has been closed.  Can we also close out the issue please?

[2015-03-14 05:21] kangaroo commented on #55
@jkotas Is there an action item here?  This issue is aging -- what are the next steps?

[2015-03-14 05:24] kangaroo commented on #60
I think we've pretty severely diverged from the original issue.  If the focus of the goal is a 32-bit Linux port, which is not in the immediate interest of the project owners to my knowledge, this might be better served in a PR for code reviews, rather than living as an issue?

[2015-03-14 05:24] kangaroo commented on #70
@richlander ping -- not sure who owns this, but its aging.

[2015-03-14 05:25] kangaroo commented on #72
@jkotas ping on the PR and the issue -- what do we need to move forward on this?

[2015-03-14 05:26] kangaroo commented on #76
Is this still an issue?  While better documentation and guides are always a stretch goal, I think the current documentation is sufficient for the current use cases.  Can we close this out?

[2015-03-14 05:27] kangaroo commented on #101
I think the ship has pretty much sailed on WIN* == BUILD*.  The PAL is designed to emulate the WIN* needed bits to support the CoreCLR.

Is there a remaining issue or action item here?

[2015-03-14 05:28] kangaroo commented on #132
I think some significant strides have been made here not just on linux, but also OSX.  Can we close this out?

[2015-03-14 05:28] kangaroo commented on #148
Unhandled exception printing was implemented.  Can we close this out?

[2015-03-14 06:59] alexrp commented on #34
There is certainly a bug in any case. The issue is that for a load-acquire, the barrier must come after the load. Conversely, for a load-store, the barrier must come before the store. The interpreter gets this the wrong way around for `stobj`/`ldobj` and some other instructions I forgot (but it's easy enough to spot if you look for `BarrierIfVolatile`).

There is no bug with regards to atomicity.

[2015-03-14 07:02] kangaroo commented on #34
@alexrp I agree, but it seems the interp is not really maintained to the point of following the spec.

@jkotas Are we going to take further action here, or just close this out with the fact that the interp is more meant for bring-up rather than full functional correctness?

[2015-03-14 07:11] alexrp commented on #34
If you do close this, please at the very least put a reasonably visible comment in the interpreter making it clear that it isn't spec-compliant and is only meant for bring-up. It's not really obvious that that's the case.

[2015-03-14 07:26] kangaroo commented on #34
@alexrp Agreed -- a comment makes sense if thats the final stance.

[2015-03-14 08:06] jkotas commented on #72
The PR is assigned to @ericstj to handle it. @ericstj do you have a plan to move forward on this?

[2015-03-14 08:28] jkotas commented on #55
The issue is assigned to @cmckinsey I expect that @cmckinsey or somebody on his team will look into it once it gets to the top of their priority list, if nobody beats them to it.

[2015-03-14 08:39] mathstuf commented on #101
Untangling the VS bits from the platform would be useful at least. Ninja is *much* faster at running builds… I don't for see non-MSVC support not being lots of other work too, but maybe because Linux works without it, Windows should as well?

[2015-03-14 08:55] japj commented on #113
I just also hit this issue and was strugging to figure out what was wrong.

Would it be enough to add a check for VisualStudioVersion being set and bail with an instruction from build.cmd?(vcvarsall.bat sets VisualStudioVersion at the very end)

[2015-03-14 09:00] jkotas commented on #25
A number of issues in this repo track hard problems with unclear solutions. This is one of them. Our intent is to keep them open to facilitate discussion about solutions. I have created "hard problem" label to tag them.

cc @richlander

[2015-03-14 09:09] jkotas commented on #113
Yes.

[2015-03-14 09:09] jkotas commented on #113
Yes.

[2015-03-14 09:13] japj opened #442 "Regression failure: AboveStackLimit"
Running all the tests on the current master tree resulted in a failure:

<pre>
BEGIN EXECUTION
"C:\GitHub\coreclr\tests\..\binaries\tests\Windows_NT.x64.debug\\Tests\Core_Root\corerun.exe" "AboveStackLimit.exe"
**** MessageBox invoked, title 'CoreRun.exe - Assert Failure (PID 30900, Thread 30904/78b8)        ' ****
  Assertion failed 'initReg == REG_EAX' in 'Test:Main():int' (IL size 48301)

c:\gi

[2015-03-14 09:16] japj commented on #442
This is on a Windows8.1 Pro machine, AMD Athlon X4 760K, 32Gb memory.
Using Visual Studio 2013 Premium Update 4

[2015-03-14 13:10] japj commented on #106
I got a bit further, however some functions still end up in the unixmscorlib and I don't really know where to solve that.

The BclRewriter\mscorlib.implClosure.xml for these entries shows:

    <Member Status="ImplClosure" VO="internal" Name="ReadInt64(System.Object,System.Int32)" />
    <Member Status="ImplClosure" VO="internal" Name="WriteInt16(System.Object,System.Int32,System.Int16)" />
    <M

[2015-03-14 14:58] stephentoub opened #444 "Versioning and loading libraries"
As discussed in #441, we are currently brittle with regards to our usage of dlopen, which requires that we provide the name of a library that includes version information.  We need to figure out how we want to handle this, for the specific case discussed in #441, for DllImports in general, and for anywhere else we may rely on loading arbitrary libraries.

[2015-03-14 15:33] Tragetaschen commented on #444
FWIW, that's already a common grief for users of aspnet/KestrelHttpServer on Linux, so it would be great if this becomes a general solution that is available for all packages outside.

Usually, you use something like `pkg-config` to learn about the installed library version when building from source and calling the C-linker.

Mono uses `<dllmap/>` in global and application specific `config` files

[2015-03-14 16:54] akoeplinger commented on #444
As @Tragetaschen said, this is a common problem and Mono's solution to this is dllmap as described [here](http://www.mono-project.com/docs/advanced/pinvoke/#library-names).

While browsing the net, I found that Julia also has an interesting approach: they [provide an api](https://github.com/JuliaLang/julia/blob/6856f9db32de2d8f547455319c9cee2e842db1c3/src/ccall.cpp#L5-L86) that reads the output of

[2015-03-14 17:12] kangaroo commented on #444
The Julia approach seems particularly nice, I've never liked having to ship dllmaps, they're a pain and confusing for users.

[2015-03-14 20:03] #52 closed

[2015-03-14 20:16] gregoryyoung opened #445 "Profiling API"
Is there any timeframe on a profiling API? Are there any public design docs available at this point?

Greg

[2015-03-15 02:17] jkotas commented on #106
Thanks for doing the due-diligence to verify that the issue is actually fixed! Here is how to get to the bottom of this problem:

Run "ildasm.exe mscorlib.dll /out:mscorlib.il" and then search for where these methods are referenced. ildasm.exe is part of Windows SDK - it should be on your path in VS Developer Command Prompt.

It looks like some of the references are caused by overload resolution p

[2015-03-15 04:16] jkotas commented on #445
[ICorProfiler](https://msdn.microsoft.com/en-us/library/ms230818.aspx) profiling APIs are available in CoreCLR (on Windows, on Unix - not yet). They work same as in the full .NET Framework. The main difference is that the environment variables to setup the profiler have CoreClr_ prefix to avoid colliding with the full .NET Framework (ie CORECLR_ENABLE_PROFILING, CORECLR_PROFILER_PATH for CoreCLR v

[2015-03-15 05:00] jkotas commented on #442
@japj Thank you for noticing it!

@mmitche It is failing in the CI as well, but it is not highlighted in red - it is easy to miss. Would it be possible to show the CI result in red if there are any test failures?

@LLITCHEV This regression was likely introduced by one of your recent changes. Could you please take a look ASAP?

[2015-03-15 09:58] mikedn opened #446 "RyuJIT can't seem to make up its mind about sizeof(bool)"
When bools are produced their sizeof is 4 but when bools are consumed the JIT compiler seems to think that sizeof is 1 and zero expands the bools.

[code]

Code generated by RyuJIT:
[code]

[2015-03-15 10:20] mikedn opened #447 "RyuJIT attempts to optimize integer constant multiply and fails"
See comment in the generated assembly code.

[code]

Code generated by RyuJIT:
[code]

[2015-03-15 13:24] jkotas commented on #447
@cmckinsey Could somebody on your team please take a look?

[2015-03-15 13:24] jkotas commented on #446
@cmckinsey Could somebody on your team please take a look?

[2015-03-15 16:20] mikedn opened #450 "RyuJIT fails to eliminate "isinst" introduced null checks that are redundant"
IL's `isinst` instruction generates an implicit null check that isn't eliminated like explicit null checks are.

This is specific to type checks involving sealed types. For non sealed types a helper function is used and it's debatable if it's worth doing something about the null check that the helper function performs.

[code]
Loop code:
[code]

[2015-03-15 17:03] japj commented on #106
It seems there was a WriteInt16(Object, Int32, Char) call I missed and the Read/WriteInt64(Object) were due to Read/WriteIntPtr(Object)

[2015-03-15 17:56] japj commented on #442
Jenkins thinks build 219 was the first with this issue at
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr_windows_debug/219/
the related commit is https://github.com/dotnet/coreclr/commit/676045c22be1eb8edda157fad496deeba2f79fe4

[2015-03-15 18:11] LLITCHEV commented on #442
Thank you very much for noticing this, Jeroen.
Could you, please tell me the test that fails? You can drop me the source at my public Microsoft e-mail. Thank you so much, again!

[2015-03-15 18:24] japj commented on #442
It might be a little difficult to see in the console output I pasted but it is the AboveStackLimit testcase that is failing.

Sourcecode is at https://github.com/dotnet/coreclr/blob/master/tests/src/Regressions/common/AboveStackLimit.cs

[2015-03-15 18:26] LLITCHEV commented on #442
Thanks much again!

[2015-03-15 19:13] jkotas opened #452 "Mac: Managed exception unwinding through CallDescrWorker"
Repro:

[code]

Crashing at:
[code]

[2015-03-15 19:15] jkotas commented on #452
This was fixed by @janvorli in #438 for Linux, but the fix does not work for Mac.

@kangaroo Are you interested in taking a look at this one?

[2015-03-15 19:19] jkotas opened #454 "Bringup xunit on Linux"

[2015-03-15 19:20] jkotas commented on #454
I am working through issues to make xunit run on Linux CoreCLR

[2015-03-15 19:29] janhenke opened #455 "FreeBSD Port Team: Volunteers needed"
Following the discussion on the chat, I am looking for volunteers to start a FreeBSD port team.

The purpose is to have a group of people working together on making coreclr working well on FreeBSD. This includes having more people with FreeBSD experience for reviewing patches and keeping an eye on PRs.

This issue is intended to discuss this idea and as a means to get into contact with each other.

[2015-03-15 19:31] akoeplinger opened #456 "Move wiki to GitHub Pages"
Currently there is the [coreclr-wiki repo](https://github.com/dotnet/coreclr-wiki) that is manually synced with the internal wiki in this repo. This seems overly complex for little gain as the internal wiki is pretty limited.

I propose moving the wiki to GitHub Pages, like the Orleans team (https://github.com/dotnet/orleans/tree/gh-pages -> http://dotnet.github.io/orleans/) and Mono (https://gith

[2015-03-15 19:42] jkotas commented on #456
@richlander ?

[2015-03-15 20:30] #106 closed

[2015-03-15 20:46] jkotas commented on #113
Fixed by #443

[2015-03-15 20:46] #113 closed

[2015-03-15 22:21] xied75 commented on #455
My experience with FreeBSD is making VM template for CloudStack, if this can qualify I would like to join the team and picking up this brilliant OS on the way. :)

[2015-03-15 22:37] japj opened #457 "Linker warnings in cordbdi"
It seems cordbdi\platformspecific.cpp actually #includes EventRedirectionPipeline.cpp which is also in the CMakeLists.txt.

As a result there are linker warnings about second definition ignored

[2015-03-15 22:46] japj opened #458 "Return type bool missing for inline IsAppXNgen()"
https://github.com/dotnet/coreclr/blob/master/src/inc/appxutil.h#L42 has a missing (bool) return type

Intellisense states it is assuming 'int'

[2015-03-15 23:01] sawilde commented on #445
Do you know why *_PROFILER_PATH doesn't come in 32 and 64 bit versions - it limits this feature as the processes being profiled could be a combination of both but you can only register one.

[2015-03-15 23:31] japj opened #461 "ci.cmd has incorrect TestHost path?"
It seems ci,cmd points to a TestHost 1.0.1 path, while the source tree actually contains a newer tests\src\packages\Microsoft.DotNet.TestHost.1.0.2-prerelease

I am wondering, is ci.cmd still used?

[2015-03-16 00:05] MattWhilden commented on #455
it's likely that you're already aware of this fork but if not it's worth checking out: https://github.com/ajensenwaud/coreclr

[2015-03-16 00:09] MattWhilden commented on #455
Ugh. Was too fast on the comment button. Meant to attempt to summon @ajensenwaud to the thread.

[2015-03-16 00:50] tannergooding opened #462 "tests\buildtest.cmd fails if a new test is added in correspondence to any changes made in src\mscorlib"
**Issue**
tests\buildtest.cmd (and build.cmd) fails if a new test is added in correspondence to any changes made in src\mscorlib.

The buildtest.cmd picks up mscorlib (and related assemblies, such as System.Runtime.Extensions) from the portable reference assemblies path by default (%ProgramFiles(x86)%\Reference Assemblies\Microsoft\Framework\.NETPortable\v4.5\Profile\Profile7\mscorlib.dll on my ma

[2015-03-16 00:58] tannergooding commented on #462
Should clarify that tests\buildtest.cmd (and build.cmd) should attempt to use the local binaries from src\mscorlib (binaries\product\$(BuildOS).$(Platform).$(Configuration)) by default.

[2015-03-16 01:51] richlander commented on #456
I think it's a good idea. I'm happy to move to the approach that the Orleans team is using, and put our existing wiki in an orphan gh-pages branch in the coreclr repo.

The lack of a PR mechanism is a major issue, IMO.

That all said, we should decide as a group, for coreclr, corefx and roslyn. Best if we all do the same thing.

@terrajobst, @jaredpar, @ellismg ??

[2015-03-16 01:57] richlander commented on #455
To provide some more context ... to make this project awesome, we'd want a core group of folks that felt ownership and accountability (in a good way) to make the project happen. In turn, the .NET Core team would be more compelled to invest in CI infrastructure for FreeBSD as a first class citizen.

I like the idea of "port team". Some of very best people the CLR team has ever had were on the "X64

[2015-03-16 02:01] akoeplinger commented on #456
Here's another approach from the ASP.NET team: https://github.com/aspnet/Docs.

[2015-03-16 02:12] kangaroo commented on #455
While I don't have the time to contribute significant resources to this, given the familiarities with OS X, I'm happy to support with code review, direction and suggestions.  Feel free to @kangaroo me on issues.

[2015-03-16 02:14] kangaroo commented on #452
@jkotas Sure -- give this one to me.

[2015-03-16 02:31] WalkingCat commented on #430
@jkotas @Maoni0  then do you think its possible to port Azul C4 to CoreCLR as AltGC if the mechanism is supported ? MS has a partnership with Azul on Java for Azure stuff AFAIK.
http://www.azulsystems.com/technology/c4-garbage-collector

[2015-03-16 02:41] kangaroo commented on #430
@WalkingCat C4 requires kernel patches for paging notifications, no?

[2015-03-16 02:43] zgxnet commented on #450
CLR seems not optimized in many ways. I also wish the CLR team can pay attentions to the optimization. I know that JIT has some time limit preventing complex optimization. How about open sourcing .net native?

[2015-03-16 02:50] #458 closed

[2015-03-16 03:54] jkotas commented on #462
@AlexGhiondea what should be the developer workflow in this case?

[2015-03-16 03:56] jkotas commented on #461
@mmitche  ?

[2015-03-16 04:02] WalkingCat commented on #430
so what ? Azul has already done that work on Linux, and MS owns Windows kernel, isn't it plausible ?

[2015-03-16 04:05] kangaroo commented on #430
@WalkingCat So nothing -- sorry, didn't mean that to be a negative, more of a confirmation.  The Azul GC is very interesting, and its certainly plausible, I just wanted to ensure that everyone was aware of the scope of the question.

[2015-03-16 04:20] jkotas commented on #445
32-bit vs. 64-bit profiler path: It is a good suggestion. Could you please open a separate issue for it?

[2015-03-16 04:30] richlander commented on #456
@akoeplinger That's more for conceptual docs, than a wiki. We are working with the aspnet team on that project. Not surprisingly, we're building the bottom part (metadata reading) and they are building the RTD integration.

We'll be looking at making .NET conceptual docs available through that same system.

[2015-03-16 04:32] richlander opened #463 "Enable building mscorlib on Linux and Mac OS X"
Right now, mscorlib can only be built on Windows.

Note the mscorlib instructions used here: http://praeclarum.org/post/110552954728/building-and-running-nets-coreclr-on-os-x.

[2015-03-16 09:54] #457 closed

[2015-03-16 15:10] mmitche commented on #442
@jkotas There's no way to directly highlight the console output log, but you'll notice that the test failure is directly called out on the build page

[2015-03-16 15:11] mmitche commented on #461
We don't actually use this any longer.  Will remove.

[2015-03-16 15:13] mmitche commented on #461
Closed with PR #464

[2015-03-16 15:13] #461 closed

[2015-03-16 16:46] weshaggard commented on #76
Yes see the sample in the corefxlab repo https://github.com/dotnet/corefxlab/wiki/.NET-Core-Console

[2015-03-16 16:46] #76 closed

[2015-03-16 16:55] ericstj commented on #72
I had an open question on the PR.  I just clarified the question.

[2015-03-16 17:31] AlexGhiondea commented on #462
This should work.

@ramarag since you are more familiar with the buildtest.cmd script -- do we not pick up the assemblies from the binary output folder?

[2015-03-16 18:09] AlexGhiondea commented on #70
@alex999 submitted PR #81 to fix this. Unfortunately we were not able to accept it.

[2015-03-16 18:09] #70 closed

[2015-03-16 18:18] stephentoub opened #467 "GetCurrentThreadId no longer stable across forks"
The recent change to GetCurrentThreadId in support of debugging appears to have broken usage of fork, as there are many places the runtime currently expects a stable thread ID.  GetCurrentThreadId should be fork-friendly.

[2015-03-16 18:33] FWest98 commented on #70
@AlexGhiondea I don't really see the problem with the PR. It seems all possible problems are resolved by creating a fallback. Just that it "doesn't meet the required level" isn't really explaining to me why it can't be accepted.

[2015-03-16 18:47] #202 closed

[2015-03-16 18:51] ellismg commented on #456
For what it's worth.  I really like how easy it is to edit the wiki.  My concern about moving to something like GitHub pages would be how easy it is to edit existing pages and add new ones.  Do I actually have to break out my editor and local clone of the repository or can I do everything from within the GitHub website?

I understand the desire to have some sort of PR flow for larger scale edits.

[2015-03-16 19:01] akoeplinger commented on #456
You can do everything from the website as well (though the online editor is a bit different).

One of the major limitations of the integrated wiki is that you can't have subfolders, everything is in the root folder which makes it cluttered.

[2015-03-16 19:25] ramarag commented on #462
The tests are built against contracts, the same way https://github.com/dotnet/corefx builds test
The clean way to write the test is to expose the functionality via a contract and build the tests against them

The alternative is a hacky way of compiling the test against mscorlib like the test in https://github.com/dotnet/coreclr/tree/master/tests/src/managed/Compilation
and then execute it with "%C

[2015-03-16 20:13] stephentoub commented on #467
Based on some offline discussions, we'll simply say that fork'ing from managed code isn't supported and ensure that any usage in native code in the runtime itself is thoroughly reviewed to ensure it's fork-safe.

[2015-03-16 20:13] #467 closed

[2015-03-16 20:55] AlexGhiondea opened #471 "Enable running CoreFx tests against CoreCLR binaries on Win7"

[2015-03-16 22:51] ghuntley commented on #455
Long time FreeBSD user. I'd be keen to help out from an administrative/marketing/documentation role where needed as my C++ foo is weak and this is a good chance as any to get better :-)

[2015-03-16 22:59] ghuntley commented on #455
Summoning @josteink , @Aesthetikx , @ajensenwaud and @kangaroo who the lads behind https://github.com/ajensenwaud/coreclr

[2015-03-16 23:02] janvorli commented on #387
Implemented by #465

[2015-03-16 23:02] #387 closed

[2015-03-16 23:32] brianrob commented on #72
Closing this issue, as there is now a PR for this at #129.

[2015-03-17 00:06] jkotas commented on #387
The fix essentially implemented partially-conservative GC. Yes, the pinning will have non-zero cost. I expect it to be within noise because of it should be rare.

[2015-03-17 01:01] tannergooding commented on #410
@jkotas Could you see if someone can route/assign this as appropriate?

[2015-03-17 01:04] richlander commented on #456
@ellismg The editor would look like this: https://github.com/dotnet/coreclr/edit/master/Documentation/clr-code-guide.md.

It isn't just the lack of PRs for "larger scale edits", it's that the community cannot make any edits at all (via PRs).

The other part is that our wiki is a narrowly defined slice of our documentation. Most of our docs (when we finally open source them) will not be in the wiki

[2015-03-17 01:07] ellismg commented on #456
Thanks Rich!  That editing experience seems workable.  As long as I can continue to write Markdown in my browser, I'm happy.

[2015-03-17 01:09] richlander commented on #456
I wonder what @terrajobst thinks.

[2015-03-17 02:01] jkotas commented on #410
@gkhanna79 Could you please take a look when you get a chance?

[2015-03-17 04:17] kangaroo commented on #452
Notes to myself for when I next pick this up.

The PAL_SEHException is thrown from the IL_Throw and unwinds successfully to the handler in RaiseTheExceptionInternalOnly, however once it rethrows and we end up in StartUnwindingNativeFrames, the unwind machinery does not detect the handler in CallDescrWorkerReflectionWrapper.  Going to need to step through the unwinder to figure out exactly why.

[2015-03-17 04:40] kangaroo commented on #452
[code]

Looks like what we're outputting isn't generating unwind through CallDescrWorkerInternal at all.

[2015-03-17 04:44] richlander commented on #430
@WalkingCat I think @kangaroo was suggesting that the scope of taking on a GC project that required updates to the Windows kernel might be a bit far reaching. I suspect we'd have to come up with a strong business driver to get the kernel team to do the work, as opposed to being the first alt-GC to try out a new GC extensibility point.

I also suspect that @Maoni0 will only invest in an alt-GC mech

[2015-03-17 05:28] richlander commented on #471
@martinwoodward is helping us get Win7 machines in Azure.

[2015-03-17 08:20] KOLANICH opened #474 "Viva64 has checked coreclr with their static analyser"
http://www.viva64.com/en/b/0310/
http://habrahabr.ru/company/pvs-studio/blog/253280/

P.S. I am not affiliated with viva but just saw their article and have not found an issue here.

[2015-03-17 09:10] proydakov opened #475 "Build mac os x x64 error"
evgenys-iMac:coreclr proydakov$ uname -a
Darwin evgenys-iMac.local 14.1.0 Darwin Kernel Version 14.1.0: Thu Feb 26 19:26:47 PST 2015; root:xnu-2782.10.73~1/RELEASE_X86_64 x86_64
evgenys-iMac:coreclr proydakov$ ./build.sh
Commencing CoreCLR Repo build
Setting up directories for build
Checking pre-requisites...
Commencing build of native components for mac.x64.debug
Invoking cmake with arguments: "/

[2015-03-17 09:54] janvorli commented on #475
@proydakov, Could you please try to add this to the root CMakeLists.txt:
`message("Detected processor: ${CMAKE_SYSTEM_PROCESSOR}")`
right before the
`message(FATAL_ERROR "error: Detected non x86_64 target processor. Not supported!")`
and then run the build again?
It will print what it has found as the system processor.

[2015-03-17 09:58] proydakov commented on #475
evgenys-iMac:coreclr proydakov$ ./build.sh
Commencing CoreCLR Repo build
Setting up directories for build
Checking pre-requisites...
Commencing build of native components for mac.x64.debug
Invoking cmake with arguments: "/Users/proydakov/repository/coreclr" DEBUG
CMake Warning at src/ToolBox/SOS/lldbplugin/CMakeLists.txt:26 (message):
  Cannot find lldb-3.5 or lldb-3.6.  Try installing lldb-3.6-de

[2015-03-17 10:09] proydakov commented on #475
I detect problem. On mac need install cmake 3.0.1

evgenys-iMac:resources proydakov$  /Applications/CMake.app/Contents/bin/cmake --version
cmake version 3.0.1

I use 2 cmake. As the main 2.8.12.2

evgenys-iMac:coreclr proydakov$ cmake --version
cmake version 2.8.12.2

Need edit cmake_minimum_required for mac os x in root CMakeLists.txt

# Require at least version 2.8.12 of CMake
cmake_minimum_requ

[2015-03-17 10:10] janvorli commented on #475
@proydakov Thank you for testing it and figuring it out. I was just about to ask you about your version of the cmake.

[2015-03-17 10:47] #475 closed

[2015-03-17 14:05] janvorli commented on #387
I've forgotten about one more place which needs to be modified to handle the context pointer being NULL - the `ExceptionTracker::UpdateNonvolatileRegisters`. I'm going to fix it.
@kangaroo FYI

[2015-03-17 15:01] calebnelton opened #477 "If and Else code the same in threadsuspend.cpp"
In http://github.com/dotnet/coreclr/blob/master/src/vm/threadsuspend.cpp, when checking for HasLockInCurrentDomain() is true, the if and else sections contain the exact same code.

    void Thread::SetRudeAbortEndTimeFromEEPolicy()
    {
        LIMITED_METHOD_CONTRACT;
        DWORD timeout;
        if (HasLockInCurrentDomain())
        {
           timeout = GetEEPolicy()->GetTimeout(OPR_ThreadR

[2015-03-17 15:06] janvorli commented on #452
@kangaroo The strange thing that another test that also uses the StartUnwindingNativeFrames passes just fine. But setting breakpoint at the beginning of the StartUnwindingNativeFrames even in that case and displaying call stack in the lldb shows the frame as
`frame #0: 0x0000000101ea717d libcoreclr.dylib SinglecastDelegateInvokeStub_End + 1 at unixasmhelpers.S:964`
I wonder if the problem could be

[2015-03-17 15:15] calebnelton opened #478 "If and Else code the same in CodeGen::ins_Copy of jit/instr.cpp"
In http://github.com/dotnet/coreclr/blob/master/src/jit/instr.cpp#L3422 when checking the value of dstType the exact same code is in the If and Else block

    /*****************************************************************************
     *
     *  Get the machine dependent instruction for performing a reg-reg copy for dstType
     *
     *  Parameters
     *      dstType   - destination type

[2015-03-17 15:27] mikedn commented on #478
The code is actually correct but perhaps a comment should have been added to explain it. In theory the `else` should use `INS_movapd` but both `movaps` and `movapd` do the same thing. `movaps` is preferred because it's one byte shorter.

[2015-03-17 15:35] calebnelton opened #479 "Identical expressions to the left and right of the || operator"
This is in http://github.com/dotnet/coreclr/blob/master/src/jit/lsra.cpp

    void  LinearScan::buildRefPositionsForNode(GenTree *tree, ....)
    {
      ....
        // A special case for the GT_CLS_VAR update case, or the GT_CLS_VAR
        // or GT_IND floating point conversion case, where it must produce both
        // a value (of the type of the node) and an address (of TYP_PTR)
        // T

[2015-03-17 15:36] calebnelton commented on #478
Would it be appropriate to submit a pull request that contains a comment containing this information?

[2015-03-17 15:40] richlander commented on #455
These PRs are relevant to this discussion:

https://github.com/dotnet/coreclr/pull/453
https://github.com/dotnet/coreclr/pull/470

Nice to see that they have been merged.

[2015-03-17 16:00] jkotas commented on #477
Fixed by #476

[2015-03-17 16:00] #477 closed

[2015-03-17 16:02] mikedn commented on #478
I don't know what the team thinks but it seems like a reasonable request to me. Note that `ins_Load` contains a similar comment:

[code]

[2015-03-17 16:02] jkotas commented on #474
@cmckinsey  Could you please go over the ones in the JIT? I went over the ones outside JIT.

[2015-03-17 16:14] richlander opened #480 "Make it easy for mortals to generate packages.config for an app"
@ellismg includes a pre-build packages.config in his very nice [Linux Instructions](https://github.com/dotnet/coreclr/wiki/Linux-instructions).

How do mere mortals generate such files?

[2015-03-17 16:18] stephentoub opened #481 "Consider temporarily suppressing support for named sync primitives in the PAL"
The PAL today supports named mutexes, events, semaphores, etc., all of which are surfaced via CoreFX types in System.Threading.  However, names in the PAL are currently implemented process-wide, rather than session- or machine-wide as on Windows.  If we ship like this, it'll be very easy for applications to take a dependency (on purpose or accidentally) on this behavior, such that changing it coul

[2015-03-17 17:50] richlander commented on #456
Was thinking about this. I now have a complementary, but slightly different proposal.

Here are the characteristics that I find valuable (some of which are overlapping):

- Docs and source available in the same repo.
- Docs and source viewable at the same time in the current branch.
- All of our docs together
- Viewable in a nice format
- Editable via git workflow or a browser

Integrated wiki sup

[2015-03-17 18:02] akoeplinger commented on #456
:+1:, was thinking about this as well, sounds like a good compromise.

I don't think this is really necessary when the wiki isn't used for conceptual docs (as you said you'll be using the readthedocs system like aspnet) but primarily for content that is interesting to developers/contributors like coding guidelines and build instructions.

Facebook's React website hosts their actual consumer-facing

[2015-03-17 18:06] jaredpar commented on #456
CC @DustinCampbell, @kuhlenh from the Roslyn side.

[2015-03-17 18:06] richlander commented on #456
@akoeplinger Good point on the gh.io site. We should wait until we have some more polished docs to publish on such a website. Once we have installers for .NET Core, I think we'll have a reason to create the site.

I'll see if I can get feedback from the relevant folks.

Tangentially related PR: #483.

[2015-03-17 21:56] janvorli commented on #452
Hmm, it doesn't like that was the culprit. I've added `.balign 16` before the `StartUnwindingNativeFrames` just to separate it from the previous method. After that, the bt shows the StartUnwindingNativeFrames, but the issue persists.

[2015-03-17 22:00] mmitche commented on #431
Resolved #433

[2015-03-17 22:00] #431 closed

[2015-03-17 22:11] LLITCHEV commented on #442
Addressed by https://github.com/dotnet/coreclr/pull/484

[2015-03-17 22:45] kangaroo commented on #452
CIE and FDE after Apples linker is done.

[code]

[code]

[2015-03-17 23:08] AndreyAkinshin opened #487 "How to print JIT statistic?"
There is the `Compiler::compShutdown()` method in `coreclr\src\jit\compiler.cpp`. If some constants are defined (e.g. `DEBUG`, `DISPLAY_SIZES`, `COUNT_LOOPS`, and so on), useful JIT statistic can be printed. For example,

[code]

How I can activate this feature?

[2015-03-17 23:16] BruceForstall commented on #487
It varies. First, make sure they are compiled in (e.g., under #ifdef DEBUG, and you are running a debug build). Some are not undef #ifdef DEBUG. For non-debug build, or those not under #ifdef DEBUG, you need to change jit.h to redefine COUNT_LOOPS or MEASURE_INLINING, or one of those, and rebuild.

For COUNT_LOOPS, and many of them, it will always print when the process exits. For some, you might

[2015-03-17 23:17] mmitche opened #488 "Undefined symbols in Mac Release build"
Undefined symbols for architecture x86_64:
  "int ValueNumStore::CoerceTypRefToT<int>(ValueNumStore::Chunk*, unsigned int)", referenced from:
      RangeCheck::MergeEdgeAssertions(GenTree*, unsigned long, Range*) in libClrJit.a(rangecheck.cpp.o)
      RangeCheck::GetLimitMax(Limit&, int*) in libClrJit.a(rangecheck.cpp.o)
      RangeCheck::ComputeRange(BasicBlock*, GenTree*, GenTree*, SimplerHashTa

[2015-03-17 23:23] mmitche opened #489 "Allow for passing of additional CMAKE or msbuild args to build.cmd"
To allow for easier building of custom versions of the code during development.

[2015-03-17 23:26] cmckinsey commented on #487
You can change the CMakeLists.txt to have something like

add_definitions(-DCOUNT_LOOPS)

or edit the jit.h directly.

Matt Mitchell has opened #489 to add support to the build system to allow overriding defines on the build line.

[2015-03-17 23:30] cmckinsey commented on #479
Assigned to Carol. Agreed there is probably an oversight here but not immediately clear what other gt oper should be checked for.

[2015-03-17 23:32] cmckinsey commented on #478
Hi Caleb, as mikedn points out both instructions have the same effect. And yes it's appropriate to submit a PR to add a comment for this.

[2015-03-17 23:39] CarolEidt commented on #479
I believe (as noted in the comment) that this code is no longer needed, as GT_CLS_VAR is now rationalized properly to avoid the two-value definition problem.  I will look into removing this altogether.

[2015-03-17 23:59] kangaroo commented on #452
Finally found some time, so I built libunwind in debug mode.  Output log is https://gist.github.com/kangaroo/20df0df59a49a4057cf1

I'll try to parse through it tonight or tomorrow, but its pretty clearly unwinding to the bottom of stack without finding the handler.

[2015-03-18 01:21] kangaroo commented on #452
Alright, so the issue turns out to be pretty simple.  Near as I can tell Apple assumes that hand written assembly will follow its compact unwind encoding rules, which are very strict.  Our cfi directives don't match their expectation for an rbp based frame, so it expects frameless rsp based frame and inspects the stack for the return address (which will obviously be wrong).

In theory -no_compact_

[2015-03-18 01:29] kangaroo commented on #452
Here is a _horrible_ hack that does what I mentioned above:

[code]

[2015-03-18 03:35] jkotas commented on #488
Fixed by #491

[2015-03-18 03:35] #488 closed

[2015-03-18 03:35] LLITCHEV commented on #442
Merged fix in master.

[2015-03-18 03:35] #442 closed

[2015-03-18 05:45] landonf commented on #452
Unwind data that's incompatible with compact_unwind is  -- in theory -- supported; what's *supposed* to happen is that:

1) The assembler emits only DWARF eh_frame data, and
2) When linking the final image, the linker generates a UNWIND_*_MODE_DWARF compact_unwind entry; that entry provides the DWARF FDE offset.

However, the fact that *no* compact unwind data is being emitted at all (for CallDesc

[2015-03-18 05:52] kangaroo commented on #452
@landonf That was a red herring.  Lots of the tooling gets confused because there are overlapping symbols.  If I remember right from earlier today, it is generating compact unwind, but it doesn't match the assumptions for an RBP based frame, which then falls back to an RSP based frame, and assumes that $ra is on the stack (UNWIND_X86_64_MODE_STACK_IMMD).

[2015-03-18 05:56] kangaroo commented on #452
Yeah, see:

https://gist.github.com/kangaroo/14669757d9e2aef1c9fc

It looks like its the linker conversion from DWARF->Compact Unwind that's going pear shaped.

[2015-03-18 06:11] landonf commented on #452
@kangaroo If the toolchain is generating compact unwind data (valid or not), the DWARF data shouldn't be emitted at all. However, there's still an FDE for _CallDescrWorkerInternal, which implies that LLVM is aware that compact unwind is incompatible, but the linker is failing to emit a UNWIND_X86_64_MODE_DWARF entry.

__eh_frame:

    0x00002fa0: FDE
            length: 0x00000034
       CIE_point

[2015-03-18 06:14] kangaroo commented on #452
@landonf Yeah, near as I can tell thats basically what I'm seeing.  The object file does not have any compact unwind for _CallDescrWorkerInternal, but the linker outputs an entry of UNWIND_X86_64_MODE_STACK_IMMD for it in the dylib.

I'll double check in the morning tho to make sure that jives with my recollection from debugging earlier today.

[2015-03-18 06:37] WalkingCat commented on #253
@akoeplinger actually the AltJit mechanism is easy to understand, what's interesting/unclear here is what MSILCJIT/LLILCJIT itself is. any progress ? @richlander

[2015-03-18 07:09] landonf commented on #452
I'm very suspicious of LLVM's `DarwinX86AsmBackend::generateCompactUnwindEncodingImpl()` -- it supports a very short list of CFI directives (`.cfi_def_cfa_register`, `.cfi_def_cfa_offset`, and `.cfi_offset`), and if it hits an unknown directive, it appears to emit *no* Compact Unwind record.

If that's the case, then it'd result in the behavior we're seeing here, with the unwinder picking up whate

[2015-03-18 08:24] AndreyAkinshin commented on #487
@BruceForstall,

I have rebuilt CoreCLR in Debug mode with `COUNT_LOOPS` and `MEASURE_INLINING`, but I don't have such output. Maybe I should do something in addition or run my program special way for showing the JIT statistic output?

Where I can read more about these variables?

@BruceForstall, @cmckinsey, Can you provide some full instruction example for printing JIT statistic? I think, such ex

[2015-03-18 08:38] mikedn commented on #487
It seems to me that there is some conflicting information. COUNT_LOOPS cannot be specified on the compiler command line because jit.h contains `#define COUNT_LOOPS 0`. That means that the only way to achieve this is to modify jit.h, modifying CMakeLists.txt won't help.

[2015-03-18 09:38] AndreyAkinshin commented on #487
@mikedn, thanks! Now I did it! Indeed, I can't print JIT statistics with help of cmake, only `jit.h` editing helps me.

[2015-03-18 09:46] josteink commented on #455
I mostly tried to help out in @ajensenwaud's repo as a sort of "challenge accepted" short-term project.

As I don't have any up-to-date FreeBSD production-systems, I doubt I'm a good candidate for a longer term FreeBSD "port team". I do agree about the name though. It has a nice ring to it. Go for it!

That said, I appreciate being summoned and namedropped in `dotnet/coreclr`. That's almost going

[2015-03-18 10:09] ajensenwaud commented on #455
Hi all

Thanks Jostein, appreciate your help so far!

I am very keen to still assist with the porting and can also assist with test infrastructure, as required. How many are in for this?

Anders

[2015-03-18 13:15] qbit commented on #455
Maybe we should make a wiki with status of each port, next steps and hurdles? OpenBSD is stuck until libunwind is ready (unless coreclr people can confirm that isn't a hard dep?).

[2015-03-18 13:32] janvorli commented on #455
You can start porting without the libunwind. It is required for exception handling and GC. So as long as an application doesn't throw an exception or initiate a GC, everything should work without the libunwind.
That's the way we were bringing up coreclr on Linux, the exception and GC support came quite recently.

[2015-03-18 13:34] qbit commented on #455
:+1: - I will keep hacking away then!

[2015-03-18 14:17] janhenke commented on #455
Hi folks,

I did not answer earlier as I want to know how big the feedback is. So far I am happy to see quite some people eager to join this project.

One question we should answer though is whether we want separate *BSD teams (one for FreeBSD, one for OpenBSD, one for NetBSD) or one big BSD Port Team.
My experience is limited to FreeBSD so far, which by my understanding is also the most often use

[2015-03-18 16:19] janvorli commented on #192
The hardware exception handling on Linux went in as #490.

[2015-03-18 17:43] BruceForstall commented on #487
Regarding:

I couldn't find any documentation about this on GitHub... yet.

Very short explanation: check out clrconfigvalues.h. Most of those can be used by setting COMPLUS_var=foo for some "var" mentioned in the file, and "foo" being either a string or integer, depending on the variable. E.g., COMPLUS_JitDump=* is very useful for debugging the JIT.

[2015-03-18 20:25] kangaroo commented on #452
So here's a patch for discussion, not sure if we like the approach:

https://gist.github.com/kangaroo/8c0164bf35283b998f5b

Ideally, I'd like the compact unwind to be at the end of every method, but this moves the various write barriers around, and causes the offsets to change.

I'm not terribly happy with it, but don't have a much better idea right now.

@jkotas thoughts?

[2015-03-18 20:55] jkotas commented on #452
NESTED_END should imply unwind, LEAF_END should imply no-unwind - it is how the Windows versions of the macros work.

I think it should be sufficient to just change NESTED_END macro to produce the DWARF entry on Mac. No need to add the extra argument and change every use.

It looks ok to me otherwise. We can try it to see whether it works well.

Alternatives I can think of:
- Limit the assembly co

[2015-03-18 21:10] kangaroo commented on #452
@jkotas Thanks for the clarification.  I've submitted a PR https://github.com/dotnet/coreclr/pull/495

[2015-03-18 21:17] janvorli commented on #192
@kangaroo Would you be willing to implement the hardware exceptions handling on OSX? There already seems to be some code in the PAL for that purpose for OSX, but I have no idea about its state and usability.

[2015-03-18 21:21] landonf commented on #452
For the assembly functions that /are/ represented correctly via compact unwind, I'm not sure there's any reasonable guarantee regarding how the linker will handle a duplicate unwind table entry (one DWARF, one compact unwind).

I'd worry about LLVM failing to emit DWARF if compact unwind succeeds, and the linker coalescing the entries such that the manufactured DWARF entry takes precedence.

Unles

[2015-03-18 21:29] kangaroo commented on #452
@landonf I havn't boiled down a bug for the LLVM assembler team, or the OS X linker team -- so if you want to do that, it'd be awesome.

I'm pretty sure that all the NESTED ones will generate cfi that is invalid with compact unwind, but I can double check.

[2015-03-18 21:33] kangaroo commented on #192
@janvorli Sure, I took a look at it before, and it doesn't look too hard.  You can give this to me.

[2015-03-18 21:34] kangaroo commented on #192
@janvorli Do you have any test cases aside from the regular NRE/FPE?

[2015-03-18 21:38] janvorli commented on #192
@kangaroo My primary test case was this code:
[code]

[2015-03-18 22:41] japj opened #497 "Get MSBuild to run on coreclr"
I know it is probably still a fair bit away from succeeding, but this is to get a discussion started on what is needed to run MSBuild on coreclr (assuming that is the path for 'selfhosting' a build in a crossplatform way).

I started with building MSBuild (from the very recent git repository) on an Azure VS2015 CTP machine (in order to get binaries build). I copied these binaries over to my local

[2015-03-18 23:16] kangaroo commented on #192
PR: https://github.com/dotnet/coreclr/pull/498

As mentioned, it can be improved, but I wanted to get baseline support in to match Linux first.

[2015-03-18 23:56] mikem8361 opened #501 "sos cleanup: create new dac pointer table interfaces"
Getting the dac global pointer table address and copying it needs to be moved to an interface on the ICLRDataTarget passed to the dac create function. The file based mechanism used now needs to go away eventually.

[2015-03-19 00:00] mikem8361 opened #502 "sos cleanup: the printf support needs some cleanup."
The current PAL printf support used by the sos module doesn't support all the windbg format chars or does so incompletely (i.e. %p always takes a 64 bit argument on windbg).  The %S (wchar string) will assert if there is an invalid Unicode char and under windbg it ignores them.

Some of the other special format chars not supported:

%p
 ULONG64
 Pointer in an address space
 The value of the pointe

[2015-03-19 00:04] mikem8361 opened #503 "sos cleanup: enable security descriptor related entries in the dac global pointer table"
A couple of the security descriptor classes are ifdef'ed out of the dac table and use be enabled.

There is also some code in ClrDataAccess::GetAppDomainData (request.cpp line 2259) ifdef'ed out for the security descriptor that needs to be enabled.

[2015-03-19 00:07] mikem8361 opened #504 "sos cleanup: get the full thread context in GetThreadContextById"
The DebugClient::GetThreadContextById only gets the PC, SP and FP values and eventually needs to get all the register values.

[2015-03-19 00:10] mikem8361 opened #505 "The sos DumpStackObjects can fault and terminate lldb"
The DAC code in DacValidateMethodTable assumes that null references/invalid address access is catch by the try/catch.  This will need to be implemented explicitly by throwing a cpp exception for hardware exceptions.  This can be based on the code for throw hardware exceptions as managed exceptions.

[2015-03-19 00:13] mikem8361 opened #506 "Enable the DumpLog, Name2EE and Help sos commands."

[2015-03-19 01:14] linquize commented on #192
+1

[2015-03-19 02:17] kangaroo commented on #452
@jkotas This is merged now, can you close it out please?

[2015-03-19 02:19] kangaroo commented on #377
.dylib please.  .framework's are intended to be shared, and my understanding is coreclr is meant to be app local.

[2015-03-19 02:22] jkotas commented on #452
Fixed by #495

[2015-03-19 02:22] #452 closed

[2015-03-19 02:26] kangaroo commented on #177
I think we're done with this now @jkotas ?

[2015-03-19 02:26] kangaroo commented on #463
Dupe of #170 ?

[2015-03-19 02:53] jkotas commented on #177
Agree.

[2015-03-19 02:53] #177 closed

[2015-03-19 04:18] kangaroo opened #510 "Fix unwinding out of Main on OSX"
See PR https://github.com/dotnet/coreclr/pull/509 for some background.

The PR itself isn't correct, since unw_step will return 0 in two cases:

1. When it unwinds all the way past main().
2. When it unwinds to a managed frame, since it doesn't know what to do.

The PR as is, will break #2, so we need to come up with a plan to differentiate #1 and #2, so that we can bail out and dump the unhanded

[2015-03-19 04:31] kangaroo commented on #510
Created a PR which does my suggestion, but open to discussion on alternatives.

[2015-03-19 04:35] ghuntley commented on #455
Alright, have created an Azure virtual machine (Basic_A2 - 2 cores, 3.5GB memory) running FreeBSD 10.1-RELEASE which @josteink (and others) can call home for the foreseeable future whilst this issue is open.

Post a public ssh-key here or email me (ghuntley@ghuntley.com) and I will create you an account on ```portteam.cloudapp.net``` that has sudo access.

[2015-03-19 05:00] kangaroo opened #512 "ExpandHeap GC test crashes in GcInfoDecoder::GetStackSlot"
Frame & Backtrace:

[code]

[2015-03-19 05:37] ellismg commented on #497
This is definitely something we'd want to do.  The first thing would be to get MSBuild building against the contracts from .NET Core.  This would let us quickly determine what surface area (like Environment.CommandLine) is not currently present on .NET Core and we could start looking into either adding it back or figure out how MSBuild could work around the issue (for this specific example, a quic

[2015-03-19 06:27] ellismg commented on #170
A bit of an update.  Today we open sourced MSBuild, so I think the direction we'll want to take this is to continue to us MSBuild for the managed components in the tree and work towards getting MSBuild cross platform.  I am guessing at first we'll want to run it on top of Mono but as CoreCLR comes online, we would definitely want to be able to run it on top of CoreCLR.

The other major issue would

[2015-03-19 06:27] #463 closed

[2015-03-19 07:52] josteink commented on #455
I'm pretty busy these days, so I'definitely m not making any promises.

Anyway, I appreciate @ghuntley's initiative, and to show that, here's an SSH-key which means that in *theory* I can contribute should I ever get the time:

    ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDMaGl5KG5P6fogg5B5tY9K26X2rx0d7MZg7x28TYxICZGK1aHCODylNy3WfnBFvQ5hRsrf0kCT2u36JUmgJzXTBx6Vc3AchrEOMJLRl3KvJfsbpANrymkW666sDgQW6Pyq

[2015-03-19 08:38] josteink commented on #455
From what I can tell, coreclr is pretty well abstracted and most (everything?) platform-specific goes through the Platform Abstraction Layer (PAL). If that builds cleanly, the build as a whole goes quite a bit further without too much trouble.

The PAL seems focused on underlying implementations rather than platform (see [context.cpp](https://github.com/dotnet/coreclr/blob/master/src/pal/src/arch/

[2015-03-19 09:24] janhenke commented on #455
Thanks @ghuntley for the sponsoring of a porting machine. My SSH pub key is
[code]

@josteink the major difference that came to my mind is the focus of OpenBSD on security. I read they introduced their own special APIs to make software more secure and less vulnerable to security related bugs. Admittedly though I do not know any details and just read that.

If it works from a compatibility side, it

[2015-03-19 09:31] josteink commented on #455
Fair enough. We'll stay on 3.5 unless it causes issues.

Seconding this. How about just "DotnetBSD"? What I'm not sure about is do we need central support for the DotNet Foundation or Microsoft to do this?

Absolutely positively agreed.

[2015-03-19 10:06] janvorli opened #513 "Personality routines for Unix asm stubs are incorrect"
The personality routines used in the Unix asm stubs like UmThunkStub are incorrect. The windows personality routines are specified there and the Unix ones have completely different signatures.
Some of them are probably even useless on Unix.
We need to asses all of them and create Unix versions of those that need to be kept and remove the others.

[2015-03-19 14:53] qbit commented on #455
Thanks @ghuntley !

    ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDNLvc26CLuM48MI0V6jQQVYZ5f3nMMPcX1iQPjfnHf9Wp9qlHaRUKYyveh4qcrfpVObvHfHbFZwyNQ+Ri7xfs0AFJLNiATKd50ditWT9FZ//xiGBuhpn2UwiYYTuCywkVuXbEdZXQesq9BrHhNn8ifmhPseKoMGOEil+eJGvxXnR3thiWGwuNSZ4D24brbVz3Hm/Fv9Gnbe3flui4jf73OxCyAT82NZ2FzbKCms5Q2QptwoAoDVTqgOar4lWX+vsZvs08EJ/HIRGTeHF/Yk9j8azJFHYxm6ao4eeQ9fHg5vXpsc/NX0VDm4ncfeuP/yVkxo7ZQC8yW+SkMlnj0

[2015-03-19 15:26] richlander commented on #455
My morning now, so time to reply.

I'd be happy to setup a coreclr-freebsd (or some similar name) repo as a fork of coreclr within the dotnet org and give the port team commit rights to it. To my mind, that provide the following:

- Unfettered development process (you control merging PRs).
- High discoverability of the repo (good to get more people involved).
- It's easy to setup the CLA and CI pr

[2015-03-19 15:41] jkotas commented on #455
I do not think we need a fork for the FreeBSD port. I expect that the changes for the FreeBSD port are going to non-controversial, and they can be submitted to master as they are made.

[2015-03-19 15:44] kangaroo commented on #455
I agree with @jkotas -- I expect the FreeBSD port will be far less invasive than the OS X one was.

[2015-03-19 17:08] richlander commented on #455
What do you think about @janhenke?

[2015-03-19 20:17] janhenke commented on #455
My idea was a bit different. I thought about having a Port Team Organization and repo primarily to directly work in it. So I would no longer have my private janhenke/coreclr tree, but there would some dotnetbsdteam/coreclr, where I can commit code to and open feature branches. In that way someone else in the team can work together with me on a feature without needing PRs for every commit.

PRs wou

[2015-03-19 20:26] kangaroo commented on #455
I'm pretty strongly against this direction, as I can see it spiraling out of control quickly.  Having a separate tree per os?  Per platform?

Is there a compelling reason for the primary maintainer to not just have it on their personal fork, and accept PRs themselves and push to coreclr as needed?

[2015-03-19 20:34] janhenke commented on #455
More centralization and overview what is being done. I do agree that it seems a matter of which kind of work flow we want to establish with this team.

If the majority does not like the idea, it is fine too. As I said I just want us to agree one common procedure to organize the work flow and also somehow make it possible to create a team where we can recognize each other and issues that affect us

[2015-03-19 20:46] kangaroo commented on #455
I'm not sure why we're focusing on centralization outside the canonical repo.  MS has made it clear they'd be happy to upstream the patches, so lets just centralize here like for all other OSs.

In terms of having people recognize the issues, that seems like an easy candidate for a label?

[2015-03-19 21:20] xied75 commented on #455
Dear all,

Here is my ssh key:

[code]
Please somebody kindly advise what shall I need to do/read to prepare for this project: e.g. read about FreeBSD, LLVM, Clang, or the source code, etc.

Thanks all.

[2015-03-19 21:51] cmckinsey commented on #450
@mikedn Thanks for the test case. RyuJIT has an assertion propagation phase to eliminate null-checks. In the case when an isinst can be inlined to an equality comparison of the objects vtable with its runtime type handle (this is done in importer.cpp), it is internally represented as a QMARK (think ?: operator in C). The QMARK operator holds the null-comparison as well as the type-test comparison.

[2015-03-19 22:29] mikem8361 commented on #505
Fixed in merge #500

[2015-03-19 22:29] #505 closed

[2015-03-19 22:33] mikem8361 commented on #203
All the commands except for Name2EE, BPMD and VerifyHeap were implemented by merge #500. See issue #506

[2015-03-19 22:33] #203 closed

[2015-03-19 22:34] mikem8361 commented on #506
Also BPMD and VerifyHeap

[2015-03-20 01:00] MattWhilden commented on #30
Anyone know what state this is in?

[2015-03-20 01:02] MattWhilden commented on #44
This doesn't seem actionable from our side. I'm going to close this out. Let me know if it's in error.

If someone gets around to dockerizing this and has issues that they need help with from our end. Let us know.

[2015-03-20 01:02] #44 closed

[2015-03-20 01:05] MattWhilden commented on #60
It looks like people have enough info to get started. We're happy to pull fixes to support this into master but, as noted, this thread has become quite large.

Feel free to open smaller issues when they come up.

If you feel as thought I've closed this hastily, please let me know.

[2015-03-20 01:05] #60 closed

[2015-03-20 01:06] MattWhilden commented on #132
As a cleanup task I'm going to speculatively close this out. If that's in error please let me know.

[2015-03-20 01:06] #132 closed

[2015-03-20 01:07] MattWhilden commented on #148
As a cleanup task I'm going to speculatively close this out. If that's in error please let me know.

[2015-03-20 01:07] #148 closed

[2015-03-20 01:09] MattWhilden commented on #171
As a cleanup task I'm going to speculatively close this out. @cheers00, if that's in error please let me know.

[2015-03-20 01:09] #171 closed

[2015-03-20 01:14] MattWhilden commented on #181
@zgxnet, the codebase is very old and guidelines were not strictly enforced over that period. In general our guideline is, "Keep it consistent within a file."

However, that doesn't mean "do whatever you want". I'm sure if a new file was started with a completely wacky set of standards then we'd ask for it to conform a bit better to other things in the code base.

It may be worthwhile to clarify t

[2015-03-20 01:19] MattWhilden commented on #497
:+1:

[2015-03-20 04:20] ajensenwaud commented on #455
Great idea with the VM on Azure!

Here is my ssh key:

ssh-dss
AAAAB3NzaC1kc3MAAACBAI0brhrRR9wMD9xm62O7MkQBpX2ASl0lGue4L+y2KFptZmfoioQt
ZjPoBgjhKaG64uPH6V3MLzHGJn2iiSHHWxyA+2WHK1K3rQt6mEiIiU4N3PmI140wKJpuoyoCnKwScTGC
P7VYT5nJH5yKTz/nRNmS1llFkfaSfSxEXhgT0MYHAAAAFQDG6uDfY9dUBFYiPPLtV/7yCG4+owAAAIEA
iYVmRHXgBE6jiQ7GogQ/3ZqdoSu6bufyIN1kG7p9xEgFHeH8V+wPczb/RmS47X39qNraI3RcZ+zIaSrF
s1M9uyhA1MIYGQ4P3kXS+

[2015-03-20 04:23] ajensenwaud commented on #455
On Fri, Mar 20, 2015 at 7:46 AM, Geoff Norton <notifications@github.com>
wrote:

Agree, but unless all of us get commit access to coreclr, we are not going
to be able to consolidate our patches before submitting them to upstream?

For sake of separation, I suggest building out github.com/dotnetbsd  unless
we can all work out of the coreclr repo.

[2015-03-20 04:25] kangaroo commented on #455
Patches can be consolidated by anyone and everyone, thats kind of the point of git.  See my work with @mikem8361 for reference.  He's leading the LLDB efforts, and when I find issues with his PRs into dotnet/coreclr I submit a PR from kangaroo/coreclr -> mikem8361/coreclr.  He integrates, and the PR reflects that.

[2015-03-20 04:41] LLITCHEV commented on #366
This is merged in master.

[2015-03-20 04:41] #366 closed

[2015-03-20 07:43] josteink commented on #455
My gut-reaction was similar to @ajensenwaud and @janhenke, in that I thought having a common workspace/repo/organization (but probably just repo) would be the best way to collaborate on this.

But with that said, I do have some experience with forked repos, and it it does come with some risks and costs, as mentioned by @jkotas and @kangaroo. A very basic example would be that 1. You need to work o

[2015-03-20 08:35] janhenke commented on #455
IMHO PRs for ongoing development work are just too complicated. Real cooperation in development means I can commit straight away. A PR should only be used to merge the finished feature into the main tree.

I definitely see the point that any fork needs regular updates to stay in sync with the main tree. But that can be done rather easily or even by a bot.

I do think we should have something to ma

[2015-03-20 11:38] janvorli commented on #513
All of them except of debugger related FuncEvalHijackPersonalityRoutine and ExceptionHijackPersonalityRoutine fixed by #518

[2015-03-20 12:01] mjsabby commented on #366
Great! Any reason why we shouldn't switch this for Windows as well?

I've wanted EBP frame walking for continuous profiling scenarios. Not to mention it'd be nice to have the ability to use unix-based profiling tools on Windows and not have to teach them our x64 unwind.

[2015-03-20 12:23] akoeplinger commented on #455
I agree with @janhenke that it'll be easier to have a separate repo for the BSD work where everyone in the port team can commit than to coordinate PRs between a bunch of people.
That said, if @kangaroo and @jankotas are right and the port will be straight-forward it may not be worth creating it under the dotnet org and hooking up the cla bot etc.

So why not start simple and just give everyone acc

[2015-03-20 12:29] jkotas commented on #350
Fixed by #485

[2015-03-20 12:29] #350 closed

[2015-03-20 13:25] janvorli commented on #192
Completed now that #498 went in

[2015-03-20 13:25] #192 closed

[2015-03-20 15:54] jkotas commented on #366
It is trade-off between simplicity of diagnostic tools (frame chains make stackwalking simple) and code quality (frame chain register is another register for compilers to play with if it is not reserved for the frame chain). For better or worse, Windows x64 choose to weight code quality side.

It does not help to change the defaults in the JIT only. All code has to follow the same convention for f

[2015-03-20 16:32] #510 closed

[2015-03-20 16:38] LLITCHEV commented on #366
Jan is right.
In general on Windows the Jit is really aggressive to use as much as possible registers for scheduling locals, temps and parameters. The RBP is scheduled as a frame register only if needs to be. Otherwise it is used as a general purpose register (GPR.) My experiments in the past (on different platforms and runtimes) showed about 4% CQ benefit if RBP is used as a GPR. Experiments has

[2015-03-20 17:55] mjsabby commented on #366
Oh I understand and agree with the code-quality argument. I'm noting that there are some scenarios that actually benefit from RBP being used -- e.g. a sampling profiler running 24x7 in your datacenter.

@jkotas yup, but I imagine for a lot of scenarios, one would care about coreclr.dll (which one could compile with no fpo) and the managed code frames, I understand that things will fall apart on ot

[2015-03-20 18:35] mikedn commented on #450
Yes, the QMARK uses GT_EQ 0 as condition and it is expanded during morphing to GT_JTRUE + condition, everything seemed fine when I looked at this initially. Turns out that the type of the 0 Icon is wrong, it's TYP_I_IMPL and should be TYP_REF, see [importer.cpp:8181](https://github.com/dotnet/coreclr/blob/master/src/jit/importer.cpp#L8181). 0 and null have different VNs and assertion propagation f

[2015-03-20 20:58] janhenke opened #523 "Replace Win32 API types with standard types"
Currently all the internal API uses Win32 API types like DWORD.

Refactoring the code to use C/C++ standard types would have several benefits.
* Lowering the threshold for non-Windows developers to participate in the development
* Make the code more standard conformant.
* Code easier to read (e.g. <cstdint> int32_t -> 32bit integer)

In general the currently used types are very alien for every Uni

[2015-03-20 22:40] cmckinsey commented on #450
Yes, I had come to the similar conclusion and was in fact testing that change for a PR. The value-numbering phase does not treat nullptr and 0 as the same value number and therefore the assertion propagation does not consider the assertion in BB02 to eliminate the test in BB04.

Sorry to hear it doesn't get your original case however, I do see lots of good assembly diffs in some of our internal cu

[2015-03-20 22:46] cmckinsey commented on #447
Today RyuJIT only handles shift/add expansions for multiplies with certain constant values (see morph line 9668). The formation of LEA is missing in codegenxarch.cpp line 1862. This was something we didn't get to before our recent push to ship .NET 4.6. We should be able to get a short term improvement for the basic cases. Eventually we'll probably won't to come back and do something more sophisti

[2015-03-20 22:51] cmckinsey commented on #446
Thanks. Agreed the JIT should be consistent about when it does extensions. For native code, Microsoft code-generators follow a producer extension model. So for this case the callee must guarantee a fully-extended return value even for small types. This means the caller can then assume this and optimize accordingly.

For managed code, I'm pretty sure we want to use the same convention. However for

[2015-03-20 23:46] cmckinsey commented on #34
@alexrp thanks. Yes you're correct. This code is not used in production however and I don't believe there would be any issue on an Intel based architecture due to the strongly ordered memory architecture. ARM could have a problem however.

We should still fix the bug so let's leave this active.

[2015-03-21 00:59] jkotas commented on #523
This was discussed on gitter no so long ago ...

CoreCLR codebase has a Win32 bias. PAL was designed to make it work as is. Wholesale replacement of Win32 types with stdint.h types would remove some of the Win32 bias, but I doubt that it would move the needle enough to make a difference.

I would love to see portability cleanup - like adopting stdint.h types - to be done for the parts of the tree

[2015-03-21 01:06] jkotas commented on #512
I will take a look at this one

[2015-03-21 08:57] janhenke commented on #523
Thanks @jkotas for that explanation. Sounds like a good plan to me.

I also see this more as a long term goal as I am aware we are not going to change code just for the sake of removing the Win32 types. But it should stand as one of the things to do when someone is doing a code cleanup anyway.

Maybe you or somebody else from Microsoft can create a Wiki page, which lists the different parts of the

[2015-03-21 18:45] mikedn commented on #450
My original case looks like the below example. I replaced the `as` with a plain null check because `as` isn't itself the problem here, it just takes the blame because it inserts the null check.

[code]

It's probably obvious what's different, the `o` variable is now in a SSA cycle. I looked a bit more at the assertion propagation code but I have no idea how data flow analysis is supposed to work w

[2015-03-21 19:05] cmckinsey commented on #446
Made the change locally and confirmed the code is optimized as expected:

G_M34988_IG01:
       56                   push     rsi
       4883EC20             sub      rsp, 32

G_M34988_IG02:
       33C9                 xor      ecx, ecx
       E8FCFBFFFF           call     BoolSize:DynamicBool(int):bool
       8BF0                 mov      esi, eax
       E8EDFBFFFF           call     BoolSize:Sta

[2015-03-21 19:23] cmckinsey commented on #450
In general union will not work correctly for this problem because we need assertion properties that hold true for all paths, not just any paths.

The x86 JIT gets this case because its assertion propagation is based on lexical equality for which o != null on both paths is identical and survives intersection through the loop header join. As you point out here they have different value-numbers in th

[2015-03-22 15:47] linquize commented on #497
https://github.com/Microsoft/msbuild just opens the source

[2015-03-22 16:40] david-mitchell opened #536 "Memory requirements for building coreclr are unclear"
Building coreclr on Linux appears to require more than 512MB of RAM to be installed (which rules out a number of lightweight VMs that developers might use when getting started). Presently, this is not documented, and the error message when the system runs out of RAM is unhelpful.

## Background

I attempted to build coreclr according to https://github.com/dotnet/coreclr/wiki/Linux-instructions

Si

[2015-03-22 17:58] #285 closed

[2015-03-22 19:02] josteink commented on #455
Ok. So as far as I can tell, we all agree this should be doable, but we're  just not in agreement about how things should be done.

That disagreement is clearly affecting momentum, and not in a good way. This thread went from lively to dead in about a week.

As far as I can tell, we seem to have two camps:

* One which wants to do their stuff as they see fit and ust submit PRs directly to coreclr

[2015-03-22 19:19] janhenke commented on #455
@josteink I am with you.

@ghuntley What is the current status of the porter box you kindly offered. Are the keys posted here setup to access it?

[2015-03-22 20:35] josteink commented on #455
@ghuntley Have you used our github names as user-names? I can't authenticate.

[2015-03-22 21:27] ajensenwaud commented on #455
On Mon, Mar 23, 2015 at 6:02 AM, Jostein Kjønigsen <notifications@github.com

Regardless of the approach, I am good to go. :) Even if we just fork the
HEAD from dotnet/coreclr into our own branches and hand around individual
patches, I am happy to go. Let's get the porting started!

[2015-03-23 17:39] mikem8361 commented on #506
Merge #531 implemented most of these commands.

[2015-03-23 21:07] josteink commented on #455
While we're waiting for @ghuntley...

I do currently have some monthly Azure credit I'm not using for anything, but I didn't find any pre-prepped FreeBSD images available, so I couldn't get anything up there.

Digital Ocean however *does* have some and they have a decent referral program: If you sign up with [this link](https://www.digitalocean.com/?refcode=4a1e84258709) you'll get a $10 credit wh

[2015-03-23 21:19] ghuntley commented on #455
.... indeed.

Accounts have been created for the following users:

@janhenke, @josteink, @ajensenwaud & @qbit

```ssh username@portteam.cloudapp.net``

No password, key auth only. All users have the ability to ```su -``` as they belong to ```wheel``.

[2015-03-23 21:34] josteink commented on #455
Nice. Never mind my suggestion then. We've got some proper iron now :)

Thanks @ghuntley!

[2015-03-23 21:51] qbit commented on #455
can you post the fingerprints for the server?

[2015-03-23 22:18] tannergooding opened #541 "No documentation for building PAL"
### Issue
Their doesn't appear to be much, if any, documentation on the PAL. Further, it is not immediately apparent that the full PAL library is not built and tested when you execute `build.cmd`.

### Suggested Fix
Provide more documentation on modifying, building, and testing PAL.

[2015-03-23 22:50] ghuntley commented on #455
Yep, for sure - should have done that in the original post.

@qbit:

    portteam.cloudapp.net (104.209.35.155) ED25519 key fingerprint
    is 76:84:42:88:49:ee:e5:48:c6:2c:02:c9:fd:9b:8d:da.

@janhenke has been provided the username/password to the Azure Management Portal of this machine and can reboot/shutdown/provision autonomously as needed.

[2015-03-23 23:58] stas-sultanov opened #542 "String to implement IReadOnlyList<char> instead of IEnumerable<char>"
I would like to suggest to make class String to implement IReadOnlyList{char} instead of IEnumerable{char}.

Possibly interface should be implemented explicitly because of the Length property, which is extern and hardcoded in JIT. On the other hand Length could be deprecated and Count should be used instead.

[2015-03-24 06:12] bendono opened #545 "Update Windows debugging instructions"
The [Windows debugging instructions](https://github.com/dotnet/coreclr/wiki/Windows-instructions) appear to be out date with the current implementation.

From the instructions, steps 2, 6, and 8 are no longer valid.

Perhaps this is a regression, but CoreCLR.sln is now found in binaries\intermediates\Windows_NT.x64.debug.

Due to (2), the Command path will no longer resolve.
Further, $(Platform) i

[2015-03-24 06:59] josteink commented on #455
If we're otherwise ready to go, I think (for those of use wanting it) setup a seperate collaberative repo to work with.

@richlander: Can you take care of this?

This repo can then also include a wiki where we share useful stuff, like build/development dependencies, how to cleanly resolve those, etc.

Since @ajensenwaud & me looked at this last time, I can see some new dependencies have been intro

[2015-03-24 07:37] janhenke opened #547 "CMake does not find libunwind.h in /usr/local/include"
I have a problem with CMake not finding the libunwind header files in /usr/local/include.

In src/pal/src/configure.cmake:22 there is this line:
`check_include_files(libunwind.h HAVE_LIBUNWIND_H)`

Digging through several mailing list postings confirmed; CMake is supposed to look in /usr/local/include too, but apparently it does not. I am not seeing the reason here. Maybe someone else has an idea

[2015-03-24 09:42] janvorli commented on #547
@janhenke It seems you can fix it easily by setting the CMAKE_REQUIRED_INCLUDES variable to /usr/local/include before running the check_include_files.
See below:
http://www.cmake.org/cmake/help/v3.0/module/CheckIncludeFile.html?highlight=cmake_required_includes

[2015-03-24 10:05] janhenke commented on #547
Thanks @janvorli, but it does not change anything. That is the reason I do not understand this behaviour. It should work this way, but it does not. :(

[2015-03-24 10:57] kangaroo commented on #547
@janhenke check the CMake output and error logs.  Its likely something else going on.

[2015-03-24 11:05] kangaroo commented on #541
@tannergooding Can you expand on your expectation?  The PAL isn't meant to be built or tested on windows.  Its the "Platform Abstraction Layer" which implements the pieces of WinAPI that Linux/MacOSX need.

[2015-03-24 11:42] janhenke commented on #547
@kangaroo Sadly not as helpful as I was hoping. CMakeError.log:
[code]
It tries to compile the simple source with default include paths, which should include /usr/local/include, but I even set that explicitly with the CMAKE_REQUIRED_INCLUDES parameter. But no way.

[2015-03-24 11:48] janvorli commented on #547
What version of the CMake are you using? It seems that the minimum required version 2.8.12 doesn't support the CMAKE_REQUIRED_INCLUDES variable. If that's what you're using, could you please try to use a higher version, like 3.0.0 or newer? It may also solve the issue without the need to add the variable (just guessing)

[2015-03-24 11:50] janhenke commented on #547
FreeBSD ships CMake 3.1.3, so that is unfortunately not the problem.

[2015-03-24 12:37] janvorli commented on #547
@janhenke Could you show me please where you have added setting of the CMAKE_REQUIRED_INCLUDES? Was it in the src/pal/src/configure.cmake? Or somewhere else?
Maybe we should add
[code]
to the src/pal/src/CMakeLists.txt before it includes the configure.cmake. It should be under an if() for the BSD. It will be needed for the build on BSD anyways.

[2015-03-24 12:42] janhenke commented on #547
In src/pal/src/configure.cmake:
[code]

But I think we should look in /usr/local/include on all platforms anyway! Even on Linux it is perfectly valid to have libunwind or other dependencies installed under /usr/local instead of /usr.

[2015-03-24 12:56] janvorli commented on #547
The way you set it doesn't seem correct. You have put them all in a single string. I believe they should be a list.
Also, are you sure that the if  is correct there?
As a first step, I would try to use this unconditionally:
[code]
and see if it fixed the issue.

[2015-03-24 13:06] janhenke commented on #547
No change, also the log output did not change to reflect the change. No extra include directory added to the test compile. This is exactly the reason I do not understand why it does not work.

[2015-03-24 13:22] janvorli commented on #547
You can try to modify the check_include_file_macro and put some diagnostic message(...) in there to see e.g. what it set the CHECK_INCLUDE_FILE_C_INCLUDE_DIRS to, etc.
The macro is defined in the CheckIncludeFile.cmake in the Modules folder. On my Ubuntu, it is in /usr/share/cmake-2.8/Modules/, so I guess your path will be similar, just reflecting the different version.

[2015-03-24 14:21] janhenke commented on #547
At last some progress:
[code]

With this added to src/pal/src/configure.cmake:
[code]

But how do I fix the missing stack_t type now. Bootstrapping can be tiresome.

[2015-03-24 14:49] janvorli commented on #547
@janhenke There was a similar issue on CentOS (see #300). Please take a look if it gives you some hints on how to fix it.

[2015-03-24 16:29] tannergooding commented on #541
@kangaroo My expectation is that you should be able to modify, build, and test PAL in order to extend the CoreCLR on existing platforms (Windows, Linux, MacOS) or to support new platforms.

I am working on dotnet/corefx#1151, which will extend the CoreCLR to support an extended mathematics library and provide support for single-precision implementations of methods in the existing math library.

Th

[2015-03-24 16:44] janhenke commented on #455
A short update. I spoke with @richlander on Gitter. FreeBSD will be added to the CI infrastructure once we manage to successfully build coreclr (it does not have to work perfectly, just build cleanly).
I started looking into the next steps for that. See also issue #547.

That should be extra motivation for use to get things going. Come guys, we can make this compile on FreeBSD.

[2015-03-24 18:20] janhenke commented on #547
An update after digging through some of the system header files. It seems that stack_t needs __XSI_VISIBLE to be defined to non-zero. __XSI_VISIBLE is defined in <sys/cdefs.h>. It appears that strict C11 mode (`#elif defined(_C11_SOURCE)      /* Localism to specify strict C11 env. */` deactivates the several POSIX features including stack_t.

Right now I am a bit undecided how the best way to addr

[2015-03-24 18:29] janhenke commented on #547
Follow up, it seems FreeBSD (like Darwin) does not work with _DEFAULT_SOURCE and _POSIX_C_SOURCE. I am getting past that problem now.

[2015-03-24 18:36] russellhadley opened #549 "Extend testing harness to enable A/B comparisons for codegen changes"
Be able to drive the XUnit harness to produce baseline/diff output for codegen changes.  This will also be used to validate any development using the alternate jit vs fall back jit.  Changes should be maintained in coreclr tree.

Requirements:
- Cross platform friendly script
- Allow for asm diff and IR diff
- Provide features for building a validation script for alt vs fall back jit baselines (en

[2015-03-24 20:43] janvorli commented on #541
@tannergooding PAL is really not expected to be used on Windows. Why would you need PAL on Windows to achieve your goal?
Coreclr uses Windows APIs and other library functions, like printf and many others. When running on Windows, the needed headers are directly included and appropriate libraries are linked in. On non Windows systems, no platform specific headers are included in the coreclr and stu

[2015-03-24 20:45] jkotas commented on #549
I assume that it is not going to require changes in xunit. It is just a wrapper script around existing xunit-based tests. Correct?

I think @BruceForstall is a good person to review this. He built the code-diffs for RyuJIT.

[2015-03-24 20:48] #547 closed

[2015-03-24 21:21] JoshVarty opened #552 "Collectible Assemblies and the CLR"
Hi there,

I would like to start the conversation about collectible assemblies and the CLR. For reference the user voice for this issue is available [here](http://visualstudio.uservoice.com/forums/121579-visual-studio/suggestions/6120992-support-for-collectible-assemblies). My understanding is that this is currently possible with Mono, but not the CLR.

With the new Roslyn compiler and projects li

[2015-03-24 21:43] cmckinsey commented on #450
The fix for non-loop case is fixed with PR #548. I'm going to close this issue because I don't believe we're going to handle the cyclic case anytime soon as it requires some significant extensions to the current algorithm. @mikedn if you feel this still should be on the table for someone else to grab please open another issue for that case. Thanks again.

[2015-03-24 21:43] #450 closed

[2015-03-24 21:47] tannergooding commented on #541
@janvorli The changes to PAL wouldn't be for Windows, it would be to support Linux/MacOS. My understanding is that any new changes, when possible should also be made to support Linux/MacOS.

The new math functions already exist through the references to `<math.h>`. So the Windows implementation should be fine. However, without making the PAL modifications (and subsequently being able to build and

[2015-03-24 22:44] mikedn commented on #450
Thanks for the fix!

Note that the cycle issue isn't really specific to cycles. It occurs any time 2 versions of the same variable have to be merged, this include some simple if/else situations. That said, the amount of work required to fix this case seems disproportionate so I'm not going to bother with it, at least for now.

[2015-03-24 22:48] mikedn commented on #446
Seems like a good compromise. When I created this I thought it's just an oversight in "transforming" the x86 JIT in RyuJIT (x86 doesn't have this issue), I didn't realize that JIT64 doesn't expand the bools like x86 does.

[2015-03-24 22:53] mikedn commented on #447
In case the LEA code isn't added in time for release I'd say that the optimization should be disabled (LEA_AVAILABLE = 0), otherwise it ends up being a de-optimization due to the use of both `imul` and `shl`.

I'd love to fix this myself but it will likely take a while to sort out the CLA with my employer so I can't promise anything unfortunately.

[2015-03-25 00:27] kangaroo commented on #541
@tannergooding To add, built and test an addition such as you suggested, you need to do it on Linux or Mac

[2015-03-25 00:38] cmckinsey commented on #446
I'm looking at the test and perf impact of this change now. More soon.

[2015-03-25 01:13] cmckinsey commented on #450
Yes agreed, should have been more specific.

[2015-03-25 01:15] cmckinsey commented on #447
No problem. I have another dev testing this change. I can't assign this to him until he gets a github account (Brian: hint, hint).

[2015-03-25 02:04] ygc369 opened #555 "An effective way to compress Large Object Heap"
I think I've found an effective way to compress LOH:
If CLR always alloc every large object at the beginning of a RAM page(usually 4KB per page)，then the large object heap(LOH) can be compressed without much cost: CLR can compress LOH by modifying RAM page table and TLB instead of copying data. If so, small fragmentation maybe still exist (less then a memory page size per fragment), but there woul

[2015-03-25 02:10] ygc369 commented on #430
@Maoni0 Are you an employee of Microsoft? Please consider this idea: https://github.com/dotnet/coreclr/issues/555

[2015-03-25 02:11] jkotas commented on #555
cc @Maoni0

[2015-03-25 02:28] jkotas commented on #552
Thank you for starting the conversation.

We have been mulling over this feature request for a while.[System.Runtime.Loader.AssemblyLoadContext](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Runtime/Loader/AssemblyLoadContext.cs) - .NET Core replacement for AppDomain.AssemblyResolve event - was designed with collectability in mind. Our tentative plan has been to expose it b

[2015-03-25 02:37] jkotas commented on #536
I have added note about the minimum RAM required to the wiki. Thanks.

[2015-03-25 02:37] #536 closed

[2015-03-25 03:03] jkotas commented on #512
Fixed by #527

[2015-03-25 03:03] #512 closed

[2015-03-25 03:26] ygc369 commented on #430
@Maoni0
In Apple's LLVM, the compiler can know when to free memory and add free operations automatically, can .NET compiler do the same thing? Even though the .NET compiler can't identify all garbage objects without reference count in compile time, it can at least identify some of them in many cases. For example:
void example(int n)
{
    int[] a=new int[n];
    return;
    /* if the compiler is s

[2015-03-25 04:05] mirhagk commented on #430
@ygc369 The issue with doing this is that freeing memory like this causes fragmentation. One of the big speed benefits of garbage collection is it's ability to reclaim large chunks of memory at once, and use bump pointer allocation, rather than a free list. Doing this manual reclamation would probably actually cause worse performance, especially in the case where there isn't a lot of pressure.

A

[2015-03-25 04:52] kangaroo commented on #555
To clairfy, by 'modify RAM page table', your idea here is that if the CLR could determine a page was 'free' in LOH, we could modify the PTE to point to a new physical page?

[2015-03-25 05:32] Maoni0 commented on #555
Thanks for your interest in the GC, @ygc369. The feature you are talking about is called VA remapping or swapping - it's something that needs to be implemented in the VMM. It's something we talked to the OS guys about a few years ago. We don't have it yet.

[2015-03-25 05:52] ygc369 commented on #430
@mirhagk What you said is a great idea! To alloc temp objects on the stack will lower the pressure of GC. The only limit is that objects allocated on the stack can't be too large and can't be referenced by the heap or static variables. Microsoft should consider this idea. @Maoni0

[2015-03-25 06:01] ygc369 commented on #555
@Maoni0 This is a great feature, not only GC, many other operations which need copy large amount of memory can also benefit from it. I think you should talk to the OS guys about it again.It will obviously improve the performance of many programs without modifying the source code.

[2015-03-25 09:59] janhenke commented on #455
Once #556 gets merged, configuration should work on FreeBSD. So we can now focus on the compiler errors (which start directly with the first file pal.h). Let us do this! We can make it! :+1:

[2015-03-25 10:18] josteink commented on #455
Me, @kangaroo  and @ajensenwaud did already resolve most of the compiler-errors in PAL.

I'm trying to find the "correct" way to get a proper version of LLDB compiled for a clean FreeBSD system so that this can get documented (and replicated for a CI-environment).

@janhenke If you already got this handled, would you mind documenting it, and then I can *verify* the documentation by trying to apply

[2015-03-25 10:23] janhenke commented on #455
LLDB is also still an open point for me. I did try to compile it at some point, but in the end skipped that. For the moment it is also not the most important thing, as LLDB is only needed for the SOS LLDB-plugin. The config script outputs just a warning.

I suggest we first try to fix the PAL and get it compiling successfully. Then we can start looking into the finer details of LLDB and the remain

[2015-03-25 10:45] josteink commented on #455
Just checked and you're right: For now LLDB is just a warning, not a build-breaker so I'll leave that be until later.

As for PAL-fixes, unless you beat me to it, I'll try to see if I can't get (some of) those patches applied to the current coreclr master-branch and see if we can't get any further.

[2015-03-25 12:41] zgxnet commented on #555
I like the idea very much. Yes, LOH is likely to have fragments, and memory for large objects should be allocated directly, rather than have a managed heap for it. It is much better to do the address mapping in OS level than copy and move.

[2015-03-25 15:09] emaste commented on #455
I work on LLDB for FreeBSD; the upstream source should build out of the box but will help sort out issues if not. Is there a specific version you need?

[2015-03-25 15:26] janhenke commented on #455
CoreCLR currently uses Clang/LLVM 3.5. If you could add LLDB 3.5 to pkg that would be a big help for us.

[2015-03-25 15:29] josteink commented on #455
The SOS plugin says either 3.5 or 3.6 will do. I'm looking at the instructions provided [here](https://wiki.freebsd.org/lldb) and that seem simple enough. Only concern I have is that those seem to build from the got master branch and not a specific version, but I can probably get around that.

A PKG source would occlude be even better.

[2015-03-25 15:33] janhenke commented on #455
I would like to see it included in pkg for the CI instances setup eventually. Building it on our porter box would certainly work, but for the wider audience I think that is too complicated.

We have to come to a point where we can simply install all build dependencies on a fresh FreeBSD installation by `pkg install bash cmake git libunwind llvm35 lldb35`

[2015-03-25 16:43] MattWhilden commented on #487
Hey @AndreyAkinshin, this seems to have been resolved-ish. Is there any more follow up here?

[2015-03-25 16:47] mmitche opened #559 ""binaries" directory should be renamed to match corefx "bin""
For cross project consistency

[2015-03-25 16:58] mmitche opened #560 "Match OS names with corefx"
OS names should match corefx.  In addition, we should restrict parameters based on the allowable OSs.

Reference: https://github.com/dotnet/corefx/issues/1243

[2015-03-25 17:08] richlander commented on #560
These should also be documented somewhere. build -? works well to provide that info on OS X, but is much more opaque on Windows.

[2015-03-25 17:42] josteink commented on #455
I've submitted a few PRs for some small issues. One is accepted, the next one is [here](https://github.com/dotnet/coreclr/pull/558).

If that one gets approved, the build will explode in a million new and exciting compiler errors related to registers. The next big job then will be mapping up all the BSD-registers properly to their proper FreeBSD counter-parts.

Once that is done, the build is almo

[2015-03-25 18:11] janhenke commented on #455
:+1:
Happy to this progress!

[2015-03-25 19:21] tannergooding commented on #541
@kangaroo I seem to have had some kind of issue with my Linux build environment. Rebuilding from a clean install of Ubuntu 14.04 (plus the dependencies) appears to have fixed it.

[2015-03-25 19:21] #541 closed

[2015-03-25 19:28] TimLovellSmith opened #565 "Functions to port to managed code"
Was reading the Book of the Runtime and noted:

"We have ported some parts of the CLR that were heavily reliant on FCalls to managed code in the past (such as Reflection and some Encoding & String operations), and we want to continue this momentum. We may port our number formatting & String comparison code to managed in the future."

I think you need an issue here to track discussion of what are g

[2015-03-25 19:37] sergiy-k opened #566 "Access violation in GC stack root scanning after re-throwing an exception"
On Linux we get a crash in ExceptionTracker if GC is invoked from a ‘catch’ handler after a catching an exception that has been re-thrown from another catch. @janvorli, you might be interested to check whether ExceptionTracker has some invalid state. To reproduce the problem you can just execute the following code a loop until it catches the problem.
[code]
Here is the relevant part of the call st

[2015-03-25 20:29] ellismg commented on #479
Fixed with #563

[2015-03-25 20:29] CarolEidt commented on #479
My commit comment references the wrong issue number.  It should have been this one.

[2015-03-25 20:29] #479 closed

[2015-03-25 20:34] TimLovellSmith opened #568 "Comment - what is FEATURE_BASICFREEZE all about?"
There's the #ifdefs looking for it, but I didn't see a #define for it. I guessed but wrongly that I would find the explanation of what it does or who uses it in gc.h or gcpriv.h. Does it need to be maintained?

[2015-03-25 21:37] ajensenwaud commented on #455
On Thu, Mar 26, 2015 at 4:42 AM, Jostein Kjønigsen <notifications@github.com

We didn't get PAL ported in its entirety, but we definitely made good
progress. I will start walking through PAL now, starting with the build
scripts.

Cheers

Anders

[2015-03-26 00:24] mbrenn opened #571 "Old links in Developer-Guide to Documentation"
The following page includes some links link to an index.md.

https://github.com/dotnet/coreclr/wiki/Developer-Guide

The index.md is not existing anymore. I can create a patch, if recommended

[2015-03-26 02:30] AndreyAkinshin commented on #487
No, thank you.

[2015-03-26 02:30] #487 closed

[2015-03-26 07:56] josteink commented on #455
Another two PAL patches going in:

https://github.com/dotnet/coreclr/pull/573
https://github.com/dotnet/coreclr/pull/573

This should leave us the runlocale-thing (which I don't remember the resolution for. clang35?), and the MC/BSD-register entries.

[2015-03-26 08:27] josteink commented on #455
After giving it a go, I must admit it feels nice being able to submit FreeBSD-patches, and having the Windows and Linux CI-builds go at the same time.

I've once accidentally broken the Linux-build, and having it happen on every small commit, rather than on one big giga-commit with "all" our patches makes it much easier to fix up. Basically working on the main repo makes me feel much more confiden

[2015-03-26 15:51] mmitche commented on #560
Casing should also be the same

[2015-03-26 16:20] jkotas commented on #571
Thanks for noticing it. It would be awesome if you create a patch with the fix.

cc @richlander

[2015-03-26 16:37] jkotas commented on #568
This feature allowed freezing string literals and other simple objects in native images. More details are in https://msdn.microsoft.com/en-us/library/system.runtime.compilerservices.stringfreezingattribute.aspx

It was deprecated for full framework and CoreCLR, but it is used in other runtimes that share the same GC. It needs to be maintained under src\gc\... only.

cc @Maoni0

[2015-03-26 16:44] jkotas commented on #568
@TimLovellSmith Could you please submit a PR that with explanation comment, if you see a good place for it?

[2015-03-26 16:56] TimLovellSmith commented on #568
Which way should understand this: are those other runtimes 'forks' of coreclr, or are they taking a 'dependency' on coreclr code where they occasionally snap to coreclr code?

Is this kind of dependency one of the reasons why things like reorganizing gc.cpp is being frowned on by some folks? (referring to https://github.com/dotnet/coreclr/issues/408 )

[2015-03-26 17:02] jkotas commented on #568
The other runtimes snap copy of the GC sources regularly.

[2015-03-26 17:09] jkotas commented on #565
The simple answer is all of them.

We have most of the managed ports done internally for .NET Native. Open sourcing them is not a priority for the team at the moment, but do plan to get to it (no timeline yet).

cc @weshaggard @migueldeicaza

[2015-03-26 18:53] sergiy-k commented on #566
I hit one more issue/access violation while running the Rethrow() tests in the loop.  This time GC got invoked while the code was in the first handler (i.e. the one that has “throw;”).  The call stack looks different:

* thread #1: tid = 3765, 0x00007ffff637039a libcoreclr.so`EECodeInfo::GetFunctionEntry(this=0x00007fffffff8ef8) + 42 at jitinterface.cpp:14094, name = 'corerun', stop reason = inval

[2015-03-26 21:12] josteink commented on #455
All my PRs so far are accepted and good, which leaves us the tricky job getting PAL's context.cpp right.

I'm short on time, but last time around @kangaroo was really helpful, and tried to come up with something working. That's available in his repo here in the freebsd-branch:

https://github.com/kangaroo/coreclr/tree/freebsd

Definitely worth looking into for those who have time.

[2015-03-26 21:40] TimLovellSmith commented on #565
OK, so basically you are not looking for any contributions to address this.

[2015-03-26 21:50] weshaggard commented on #565
@TimLovellSmith thanks for your interest but most (if not all) of that work is already done as part of our .NET Native effort. Later once our plans around .NET Native become clearer we will open up that source code.

[2015-03-26 21:59] #565 closed

[2015-03-26 23:03] pharring commented on #542
@stas-sultanov Thanks for the suggestion. Can you give an example of where this would be useful?

[2015-03-27 00:24] tannergooding commented on #462
@AlexGhiondea, @ramarag, Has there been any update here?

[2015-03-27 00:30] kangaroo commented on #566
@sergiy-k Helpful tip   Wrap big call stacks or code in ``` to much better readability.

[2015-03-27 00:43] sergiy-k commented on #566
@kangaroo Thank you for the tip! I'll give it a try for sure!

[2015-03-27 03:09] richlander commented on #571
Yup. I have been moving files around and knew that there would be orphan links, but didn't want to take the time to find them all. Please do help us fix any bad links you find.

[2015-03-27 14:17] josteink commented on #455
Another observation. The build output seems to hint that we're in a scenario were ASSIGN_REG is not getting defined:

    [  0%] Building CXX object src/pal/src/CMakeFiles/CoreClrPal.dir/arch/i386/context.cpp.o
    /home/josteink/build/coreclr/src/pal/src/arch/i386/context.cpp:316:9: error: use of undeclared identifier 'Rbp'
	    ASSIGN_ALL_REGS
	    ^
    /home/josteink/build/coreclr/src/pal/src/

[2015-03-27 14:27] kangaroo commented on #455
@josteink Check the cmake output to see why BSD_REGS_T isn't being set?

[2015-03-27 15:06] stas-sultanov commented on #542
Sure. Here is an example from one of my projects:
A ConvertEx class which provides a set of methods to convert data from base-n string to byte array and vice-versa. This class has a lot of methods like:
[code]
for this methods i'd like to use single method that checks arguments
[code]
But unfortunately it is not possible because byte[] and string has only one common interface ```IEnumerable<T>```.

[2015-03-27 15:23] markrendle opened #583 "`build.sh` fails on my Manjaro system"
I have lldb-3.6 installed from the Arch /extra repository, but when I try to run `build.sh` I get the following output:

[code]

Here's my `/usr/lib/llvm-3.6` directory listing:

[code]

The command is a symbolic link: `/usr/bin/lldb-3.6 -> ../lib/llvm-3.6/bin/lldb`

I tried mucking about with `src/ToolBox/SOS/lldbplugin/CMakeLists.txt` to see if I could help it find the files, but I don't really

[2015-03-27 15:27] cmckinsey commented on #447
PR #578 fixed this issue by replacing the imul 3 with an lea which should be faster.

[2015-03-27 15:27] #447 closed

[2015-03-27 15:47] sergiy-k commented on #583
@mikem8361 Could you please take a look and see if you have any suggestions on how to fix this?

[2015-03-27 15:57] pharring commented on #542
A non-generic overload of CheckArguments would solve this, of course.

[2015-03-27 16:23] josteink commented on #455
Now that would be too easy, now wouldn't it? Sent a PR to get it fixed. :)

https://github.com/dotnet/coreclr/pull/584

[2015-03-27 16:45] stas-sultanov commented on #542
of course it would, and that it is the way it is made now. :) but it dose not looks like a good design.

maybe example is not good enough, however i strongly believe that this small change would made coreclr more versatile.

[2015-03-27 17:32] mikem8361 commented on #583
@markrendle It looks like llvm/lldb 3.6 is installed correctly (and exactly like my machine).  The only advice I can give you is to try a "clean" build (you probably already have done this).  It will remove any cached cmake values just in case.

[2015-03-27 18:41] mikem8361 commented on #583
I just noticed on my Ubuntu distro that the library is here:

-- LLDB: /usr/lib/x86_64-linux-gnu/liblldb-3.6.so
-- LLDB_H: /usr/lib/llvm-3.6/include

[2015-03-27 18:51] markrendle commented on #583
@mikem8361 Aha! I just ln'd `liblldb.so` to `liblldb-3.6.so` in `/usr/lib` and everything is working.

Thanks for the help :)

[2015-03-27 18:51] #583 closed

[2015-03-27 19:27] AndreyAkinshin opened #588 "How to get GC logs?"
GC has some useful lines for logging. Examples:

`coreclr\src\gc\gc.cpp`

[code]

`coreclr\src\gc\handletable.cpp`

[code]

What the best way to get the debug GC logs?

[2015-03-27 21:39] brianrob commented on #588
To capture LOG() statements, you'll need a debug build.  Then, you can use the following environment variables control logging:

Enable:
set COMPLUS_LogEnable=1

Control verbosity:  (Look at inc\log.h for log levels).
set COMPLUS_LOGLEVEL=6

Decide where to send the logs:  (See utilcode\log.cpp InitLogging() for options)
For example:
set COMPLUS_LogToFile=1
set COMPLUS_LogFile=out.txt

You can als

[2015-03-28 05:06] AndreyAkinshin commented on #588
@brianrob, thanks!

[2015-03-28 05:06] #588 closed

[2015-03-28 08:05] mikedn opened #592 "Fix for #450 accidentally reverted"
The fix for #450 that was made in 96f473c37e7ea46c96811cbc690dfeb40bf4beb6 has been accidentally reverted in 68562e7bd43ef8789e5674b053f5021192f3b70d.

@cmckinsey I left a note on 68562e7bd43ef8789e5674b053f5021192f3b70d but I'm not sure you'll see it (I've left the note after the PR was already merged) so I created this issue. It seems that I can't reopen the existing one.

[2015-03-28 10:55] josteink commented on #455
Ok. So I've gotten most, but not all of the BSD-registers fixed.

Unfortunately I'll be "off" for the Easter and wont be around to hack on this material. Anyone else feel like taking over for now to keep the momentum up? @janhenke ? @ajensenwaud ?

The registers remaining weren't around last time we tried to get this thing ported, [basically just the FPREGs](https://github.com/dotnet/coreclr/blob/

[2015-03-28 18:41] cmckinsey commented on #592
Thanks. Fixed with PR #593

[2015-03-28 18:41] #592 closed

[2015-03-29 15:38] josteink opened #594 "Coreclr has missing FPREG entries causing the build to fail on FreeBSD"
I'm creating a separate issue/bug for this, because I'd like it to get some scrutiny.

I did hack a little bit at this myself, but I literally have zero experience doing direct FPU-programming. While I've fixed the related compiler-warnings and errors, I can in no way guarantee that the following code is correct:

[code]

(From https://github.com/josteink/coreclr/commit/3dab47d18a16742ce618cea8d99

[2015-03-29 15:40] josteink commented on #455
Created seperate issue to discuss FPREGs, with some preliminary code.

https://github.com/dotnet/coreclr/issues/594

[2015-03-29 20:36] SamuelEnglard commented on #542
Just a quick point but unless I'm wrong array's don't implement `IReadOnlyList<T>` so you'd still have to use the `Enumerable.Count()`. Do access the length/count of both an array and string in an efficient manner we'd have to `Enumerable.Count()` smarter. It already looks for types that implement `ICollection` or `ICollection<T>` and uses the `Count` property instead of looping. If we add a short

[2015-03-29 21:33] ajensenwaud commented on #455
Well done, Jostein.

I will have a look at the FPREGs now, I don't know yet how we can tackle
them.

For other *BSDs I will spin up VMs up now to see how well it compiles on
NetBSD and OpenBSD (amd64). I will see if I can find some time to test it
on Darwin as well.

Cheers

Anders

On Sat, Mar 28, 2015 at 9:56 PM, Jostein Kjønigsen <notifications@github.com

[2015-03-29 21:44] stas-sultanov commented on #542
Arrays do implement `IReadOnlyList<T>`, please take a look at comments of [Array](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Array.cs) class.
Or try to compile followin code:
[code]
the Enumerable class that implemnt Count method is not included in corelclr.

[2015-03-29 22:08] JohanLarsson commented on #542
[Not much perf diff between .Count() and .Length for an array](http://referencesource.microsoft.com/#System.Core/System/Linq/Enumerable.cs,1191)

[2015-03-29 22:09] SamuelEnglard commented on #542
Ah yes, I had looked before posting but missed that comment. My bad. So then yes I'm all for making string implement `IReadOnlyList<T>`. Sorry about that

[2015-03-30 06:27] josteink commented on #455
Sounds great!

When you first have VMs up and running, I would love it if you could also verify my preliminary work on fpregs other places than freebsd.

Would be neat if we didn't have to do this messy register-work more than once :)

[2015-03-30 11:55] stas-sultanov commented on #542
indeed, but once again:

[2015-03-30 13:00] VladimirGnenniy commented on #542
I believe that this would be nice improvement of the architecture of the .net classes.

[2015-03-30 16:08] cmckinsey commented on #474
Change #591 fixes the set of important issues.

[2015-03-30 16:08] #474 closed

[2015-03-30 16:09] cmckinsey commented on #478
Folded the then/else and added short comment in #591.

[2015-03-30 16:09] #478 closed

[2015-03-30 16:53] janvorli commented on #566
Fixed by PR #595

[2015-03-30 16:53] #566 closed

[2015-03-30 19:25] janvorli opened #598 "Fix remaining switch related warnings in jitter"
There is a group of warnings disabled by the -Wno-switch compiler option in the jitter. These warnings are due to switch commands on enum that don't handle all possible values of the enum (either by using the default case or explicitly having case statement for each enum value).
To get to the warning free state, we need to fix these.
To get the warnings reported during build, the following line ne

[2015-03-30 23:00] richlander commented on #571
Fixed.

[2015-03-30 23:00] #571 closed

[2015-03-31 02:39] david-mitchell commented on #170
Now that the "xplat" branch of has been published, I've been trying to get msbuild to run on mono in order to build mscorlib on Linux.

The first issue that I encountered is that the project file attempts to download NuGet but fails to run it because the [DownloadFile](https://github.com/dotnet/coreclr/blob/82440897d45e16d706e80dc96918d362339d0d95/dir.targets#L4-22) task doesn't know to change the

[2015-03-31 10:52] MattWhilden commented on #497
@japj Would you mind closing this out and opening it up over in https://github.com/Microsoft/msbuild. If this effort ends up needing more surface area for the framework, those can be opened in https://github.com/dotnet/corefx.

Would love to see this happen!

[2015-03-31 11:00] MattWhilden commented on #270
@elfring Did you get a chance to take a stab at this?

Also, would you mind if this title was changed to something like "C++ identifiers under src\gc need cleanup for portability"? We can open other issues to track work in other components as they are identified.

[2015-03-31 11:04] MattWhilden commented on #288
@ellismg How'd it go? What's the word? Did you crack it? etc etc.

[2015-03-31 11:06] MattWhilden commented on #291
Hey @sandkum are we going to blast this attribute? Seems like an easy enough fix. If you're jammed, it's always nice to have a few super easy tasks tagged as "up for grabs" to point people to who want to get started.