[2015-03-31 11:10] MattWhilden commented on #344
Hey @atrauzzi. Thanks for your interest in the project. Someone mentioned this exact thing over at http://www.gitter.im/dotnet/coreclr. While interesting, there's currently no plans to support an asm.js version.

[2015-03-31 11:14] MattWhilden opened #601 "*_PROFILER_PATH should come in 32 and 64 bit flavors"
As per @sawilde over on #445:
Do you know why *_PROFILER_PATH doesn't come in 32 and 64 bit versions - it limits this feature as the processes being profiled could be a combination of both but you can only register one.

[2015-03-31 11:15] MattWhilden commented on #445
I've opened #601 to track the suggestion by @sawilde.

@gregoryyoung do you have enough information or are there other specific's you'd like?

[2015-03-31 12:45] elfring commented on #270
@MattWhilden: No.

Which safer name pattern do you prefer here?
How do you think about to make [your include guards](https://en.wikipedia.org/wiki/Include_guard#Difficulties "Consistency for include guards") not only standard-compliant but also really unique by appending [a kind of UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier "universally unique identifier")?

[2015-03-31 18:24] AndreyAkinshin opened #602 "Error during restoring packages on Ubuntu"
I'm trying to install coreclr on Ubuntu 14.04 (https://github.com/dotnet/coreclr/wiki/Linux-instructions)

The command

[code]
prints:
[code]

Also I haven't found the dotnet-corefx feed on myget. What should I do for restoring packages?

[2015-03-31 18:29] akoeplinger commented on #602
@AndreyAkinshin are you running the latest Mono 3.12? This is a common issue on earlier versions where the CA root certificates aren't imported in Mono's trust store automatically (you need to run `mozroots --import --sync`).

[2015-03-31 18:32] AndreyAkinshin commented on #602
@akoeplinger,

Yes.

It helps, thanks! Can you update the wiki?

[2015-03-31 18:35] akoeplinger commented on #602
@AndreyAkinshin It should work automatically on Mono 3.12, presuming you've installed from the mono-project.com packages (there's an install hook in those packages that runs the new [cert-sync](http://www.mono-project.com/docs/about-mono/releases/3.12.0/#cert-sync) tool, mozroots shouldn't be required anymore). Did you maybe compile Mono from source?

[2015-03-31 18:37] AndreyAkinshin commented on #602
Yes.

[2015-03-31 18:42] akoeplinger commented on #602
That explains it then ;) You should be able to run `sudo cert-sync /etc/ssl/certs/ca-certificates.crt` in that case to get the same effect.

[2015-03-31 21:07] JeremyKuhne commented on #170
I wonder if we could just start using forward slash in our project files? Afaik the only place it matters in Windows is for UNC paths (e.g. \\server\share) and drive rooted paths (e.g. C:\Foo). Neither of which should be used in a project file.

[2015-03-31 21:16] david-mitchell commented on #170
@JeremyKuhne that approach could work with handwritten msbuild projects (like dir.targets), but I imagine it would be a terrible experience if we needed to extend it to anything in msbuild.csproj: anyone using Visual Studio to edit the project would have to constantly fight their tooling.

[2015-03-31 21:20] JeremyKuhne commented on #170
@david-mitchell wouldn't you always have to deal with VS paths being incorrect?

[2015-03-31 21:26] david-mitchell commented on #170
Yes. My point (which was poorly articulated) is that changing the path style works well for portions of the project that are handwritten and only depend on other handwritten portions of the project.

However, if there are handwritten portions of the project that depend on VS-generated project files, then the approach would not work well.

At this point, I should probably just change the paths nece

[2015-03-31 21:31] #560 closed

[2015-03-31 21:41] JeremyKuhne commented on #170
Ah, I see. Could you use Path.GetFullPath directly for such scenarios? Or do we need a function that doesn't resolve the path (e.g. works with relative paths)?

[2015-03-31 21:56] david-mitchell commented on #170
Path.GetFullPath will not convert `\` to `/` on Unix systems because `\` is a valid (although arguably ridiculous) file name character.

[2015-03-31 22:23] JeremyKuhne commented on #170
Sorry, new to Unix. :) `\` being valid makes generalization really hard. :/

How about just doing a simple char replace? `$(Foo.Replace('\', '/'))`

I'm not necessarily opposed to getting a method added. The trick here is not to take a dependency on the open source MSBuild, and as such we should probably add said method to the .NET build tools dll. (I'm still for adding/exposing this method to MSB

[2015-03-31 22:29] david-mitchell commented on #170
@JeremyKuhne Replace sounds like a "good enough for now" plan. I should have some time to play with it and submit a PR this evening (Pacific Time) if no one else gets to it first.

[2015-03-31 22:33] akoeplinger commented on #170
If you're just concerned about bootstrapping/downloading NuGet, it may be easier to just shell out to curl like msbuild does in the xplat branch: https://github.com/Microsoft/msbuild/blob/6a8d6e20bcfee1e0f1114dfd3a8459d1c3ff87a3/dir.targets#L54

[2015-03-31 22:40] JeremyKuhne commented on #170
@david-mitchell here is one approach:

[code]

[2015-03-31 23:50] ikopylov opened #603 "Casting to a variant generic interface is much slower than to non-variant"
In the CoreFx issue (https://github.com/dotnet/corefx/issues/1182) was the idea to do explicit check whether `IReadOnlyCollection<T>` interface is supported. But it was rejected due to the slow casting to a variant generic interface. According to my tests it is ~20 times slower than casting to non-variant.

Source code of the test: [CastToInterfaceTest.cs](https://gist.github.com/ikopylov/4387c517

[2015-03-31 23:56] ikopylov commented on #603
Some thoughts.

If I understand all correctly, the code of casting is here:
https://github.com/dotnet/coreclr/blob/b4bd51a485b0afedbcd168eba148ca6d17eff218/src/vm/methodtable.cpp#L1585

I see two possible optimizations:

1. Add a fast check whether the generic variant interface implemented with the same set of generic arguments (full equivalence).
This check can be done easily by comparing MethodT

[2015-04-01 00:29] MattWhilden commented on #602
I've added a "NOTE" in the wiki. Let me know if you think that'll keep others from falling into this cleverly laid trap. :smile:

[2015-04-01 00:45] akoeplinger commented on #602
@MattWhilden thanks :) Can we change the first part of the sentence to "This assumes you **installed Mono** from..." and link to the [specifc comment](https://github.com/dotnet/coreclr/issues/602#issuecomment-88203778) with the solution?

[2015-04-01 01:14] MattWhilden commented on #602
Done. Let me know if anything else needs fixing up.

[2015-04-01 02:39] MattWhilden commented on #270
I don't really have a strong preference. Perhaps @jkotas or @Maoni0 do.

[2015-04-01 03:11] jkotas commented on #270
Appending GUIDs makes the code look ugly and it is not really solving much. The remaining 99.9% of names can still collide. I do not think it is something we want to do.

Tweaking the number of underscores to make the guards more compliant with these guidelines is fine with me. Alternatively, changing them to #pragma once is ok too - though it is non-standard, but all current compilers support it.

[2015-04-01 04:54] david-mitchell commented on #170
@JeremyKuhne `AltDirectorySeparator` returns `/` on mono under Linux, so it cannot be used in this instance. However, I have found a similar, workable solution (see the recent pull request).

[2015-04-01 05:54] elfring commented on #270
Standard-compliant identifiers do not need to win a beauty competition, do they?

[2015-04-01 06:44] #602 closed

[2015-04-01 14:58] mmitche commented on #559
Fixed at #597

[2015-04-01 14:58] #559 closed

[2015-04-01 17:58] phillipkent commented on #455
Hello @janhenke and others...

A number of developers here at http://www.interoute.com in London are interested in FreeBSD and your .NET port project.

Our company would like to help out by offering free use of virtual machines in our cloud platform, Interoute VDC [http://cloudstore.interoute.com/main/WhatInterouteVDC].

We have a FreeBSD template already installed, and you can upload other templa

[2015-04-01 19:02] japj commented on #497
I submitted https://github.com/Microsoft/msbuild/issues/58

[2015-04-01 19:02] #497 closed

[2015-04-01 19:22] janvorli opened #609 "Analyze wrong condition in importer.cpp around line 10492"
There is a condition that is very likely wrong. The precedence indicated by the indentation (which seems to be logically correct) doesn't match the real precedence, which is now emphasized by the parens around the fist && term.
[code]
But the asm diffs testing has shown significant differences in the codegen for the fix, so it needs to be further investigated by someone from the jitter team.

[2015-04-01 19:24] janvorli opened #610 "Analyze wrong condition in importer.cpp around line 6089"
There is a condition that is very likely wrong. The precedence indicated by the indentation (which seems to be logically correct) doesn't match the real precedence, which is now emphasized by the parens around the fist && term.
[code]
 But the asm diffs testing show no difference for the fix, so it needs to be further investigated by someone from the jitter team.

[2015-04-01 20:27] janvorli opened #611 "SString::FormatMessage using nonportable va_list handling"
The `SString::FormatMessage` uses a nonportable `va_list` handling. It creates an array of `WCHAR*`, fills it in with the parameters and then casts the array pointer to `va_list*`.
This doesn't work on clang and needs to be fixed.

[2015-04-01 21:34] noahfalk commented on #601
Hi @sawilde
I certainly agree, 32 and 64 bit versions are more useful. Interestingly we made a similar change for the full CLR not long ago and Jan just integrated it.
https://github.com/dotnet/coreclr/pull/607
That change only modified the environment variables for full CLR and you probably want to make a similar change to CoreCLR. We’d probably get to porting it eventually, but also happy to rev

[2015-04-01 22:04] omariom commented on #555
:+1:

[2015-04-01 22:06] omariom commented on #603
wow. That's a big difference.
@ikopylov you could build CLR yourself and perf test your changes.

[2015-04-01 23:01] ajensenwaud commented on #455
OK, I have been working on setting up a NetBSD VM -- more work is required
on my part to adjust the build scripts to NetBSD first as NetBSD/amd64 is
not picked up by build.sh. Will let you know once I have progressed with
this.

On Mon, Mar 30, 2015 at 5:27 PM, Jostein Kjønigsen <notifications@github.com

[2015-04-02 02:40] Maoni0 commented on #270
I agree with Jan - either #pragma once or getting rid of the double underscore is fine.

[2015-04-02 10:17] josteink commented on #455
@phillipkent Thanks for the offer. Right now @ghuntley has our back covered as far as FreeBSD-instances go. We've also been offered Azure resources from @MattWhilden at Microsoft.

OpenBSD and NetBSD is currently not able to run on Azure, so if you could host VMs for those instances, that might be useful.

@ajensenwaud : Once "done" with your machines, do you think it would be possible to have the

[2015-04-02 10:22] josteink commented on #455
Out of curiousity, I decided to cheat on the FPU registers, and just commented out the lines involving the remaing two (XMM etc). Basically just tosee what the next hurdle in the build is.

Disappointingly so, I discovered that just like the FPU registers, other parts of coreclr is progressing faster than we're able to port it. PAL's [context2.S](https://github.com/dotnet/coreclr/blob/master/src/p

[2015-04-02 11:05] phillipkent commented on #455
@josteink Great. I will create a user account, and my colleague @xied75 is looking into running OpenBSD and NetBSD VMs on our platform.

[2015-04-02 15:14] benpye commented on #333
This is a bit further than the scope of .NET Core, and maybe should be aimed at CoreFX or some other place. Would their be any consideration for providing UTF-8 marshalling on Windows also as despite Windows itself not using UTF-8, many third party libraries still do.

[2015-04-02 16:35] jkotas commented on #333
@benpye Our strategy is to switch away from runtime magic for the interop marshaling. You can get the idea from [.NET Native and MCG](http://blogs.msdn.com/b/dotnet/archive/2014/06/13/net-native-deep-dive-debugging-into-interop-code.aspx) blog post written by @yizhang82. Once we get there, it will be become much easier to support new kinds of marshalling, like UTF8 marshalling that you are asking

[2015-04-02 19:05] josteink opened #615 "PAL's context2.S causes build to fail on FreeBSD"
This file did not cause issues back in February when the first attempts to port coreclr to FreeBSD was made. Since then only a few commits have been made.

These commits seems to have introduced platform-specific use of macros, which may or may not be the cause of the errors observed.

Error from the build can be seen below:
[code]

[2015-04-02 19:08] josteink commented on #455
I made a separate issue for the assembly failing the build. I think itmakes sense to allow discussion on a per bug basis, and it probably makes iyt easier to track if we're getting anywhere and at what speed.

Assembly issue: https://github.com/dotnet/coreclr/issues/615

[2015-04-02 19:57] janvorli commented on #615
My change mostly just converted the file to the intel asm language syntax and added wrapper macros around the function name so that it generates proper name based on the target platform.
The wrappers don't seem to be related to the issues. It seems to complain about the numeric local labels syntax and also about the DWORD PTR (but it is happy with BYTE PTR).
I wonder if it is possible that the cma

[2015-04-02 20:01] cmckinsey commented on #55
Alexandr, thanks for the post regarding the performance observation about generics. I think there are two issues here: the first is to explain the current behavior you're observing in this program and the second is whether we can do anything to fix it.

Let me start with trying to explain the behavior. The issue arises because of sharing of the same JITTED code for generic methods on behalf of dif

[2015-04-02 20:45] MattWhilden commented on #455
Highly recommend breaking these into separate issues. Smaller increments helps two ways:
1) We can better understand the work that's outstanding.
2) It's easier to point to the work already done and get the warm and fuzzy feels.

Joking aside, it's really nice internally to MS to be able to easily articulate the work that y'all have undertaken. #everyonehasaboss #yallareawesome

[2015-04-02 20:57] josteink commented on #615
The logs gots their formatting ruined when pasted to Github. It's not the DWORD it fails at, it failed ath the first pipe when trying to bitwise OR things together. You can see this if you inspect the column-number too.

You're still right about it complaining about number-formats though. I didn't think about that when submitting this!

Checking out "make -n" yielded some (to me) unsatisfactory re

[2015-04-02 21:23] josteink commented on #615
Are you sure "make -n" is the right command? After running a regular configure and build, this is the output I'm getting:
[code]

[2015-04-02 21:35] janvorli commented on #615
I've tried something more specific on my Ubuntu. In the src/pal/src folder, I've issued this:
[code]
And the output was:
[code]

[2015-04-02 22:59] jkotas commented on #615
For the last one, try whether either of these will help - both of these are changes towards the classic Intel syntax:
- change 0x100000 constant at the top of the file to 100000h
- change | (pipe) to OR

[2015-04-03 01:48] kangaroo commented on #615
You can also use make VERBOSE=1, but it certainly does look like some other assembler is being used.

[2015-04-03 08:58] janhenke opened #623 "Result of static code analysis with cppcheck"
I ran a static code analysis with cppcheck on the complete CoreCLR code base. The result can be seen here: http://jenkins.taujhe.de/job/CoreCLR%20Debug/cppcheckResult

In total cppcheck reported 5009 lines of code with different severity. If possible all reported lines should be checked and if necessary fixed.

This issue should be used to track progress and discuss general questions.

[2015-04-03 09:06] janvorli commented on #623
@janhenke I've tried to take a look at one of the reported issues and it seems I don't have rights to do so. I got this message:

No valid permission
The current user must have the WORKSPACE permission for the job.

[2015-04-03 09:16] janvorli commented on #623
@janhenke It seems that there is quite a number of "toomanyconfigs" issue, which says:
Too many #ifdef configurations - cppcheck only checks 12 of 75 configurations. Use --force to check all configurations.
It seems it would be nice to add the suggested --force parameter to get the full report.

[2015-04-03 09:37] josteink commented on #615
@janvorli It may be worth noting that I don't try to build PAL directly, but rather try to build it indirectly by building entire coreclr.

As far as I can tell src/pal/src doesn't have any makefile or CMakeFiles-folder. Thus the output from make -n -B ... doesn't seem consistent with the rest of the build as a whole:

[code]

There's a few obvious things to notice here:

* the make command doesn'

[2015-04-03 10:12] janhenke commented on #623
@janvorli I set that permission flag for the anonymous user on the project. Please check again if you can access the details.

For the latter I also added the `--force` flag. Before I trigger a new run though I want to be sure we do not have to change any other configuration, as cppcheck needs around 35 hours to go though the complete code (with force probably significantly longer).

[2015-04-03 10:28] josteink commented on #615
Using clang3.5 fixes this issue. The error is not detecting it on FreeBSD.

I will prepare a pull-request for this and that should be the end of this issue.

[2015-04-03 10:43] josteink opened #625 "Ptrace flags not defined correctly for FreeBSD"
The build will fail on FreeBSD when ptrace is invoked, because of incorrect constants/enum-values are used:

[code]

The correct values (taken from [manual configuration in earlier port](https://github.com/ajensenwaud/coreclr/blob/master/src/pal/src/config.h.freebsd#L438-L450)) should be:

[code]

[2015-04-03 11:11] josteink opened #626 "Missing implementation in exception/seh.cpp breaks build on FreeBSD"
Currently the build breaks with the following errors on FreeBSD:

[code]

There's also a failed attempt to resolve libunwind.h, even though no complaints are made during configuration.

[2015-04-03 11:49] kangaroo commented on #626
For the seh.cpp changes, you can likely safely add FreeBSD to the __LINUX__ block.

[2015-04-03 11:59] josteink commented on #626
Libunwind is installed and I think detected during configuration. I'll use your VERIFY trick to see what include folders are passed along to clang.

[2015-04-03 12:06] josteink commented on #455
I agree with @MattWhilden and have created new issues ongoing as I've made further progress.

@janhenke This issue seems to have managed to summon a team of sorts, and gotten ourselves bootstrapped. And as such this issue has achieved its mission, right? I think it's time to close it at this point. Agreed?

[2015-04-03 12:31] janhenke commented on #455
@josteink For the initial mission I agree. Before it is closed though, I want to remark for any potential future reader that this is by no means a closed group. Any volunteer is welcome to continue making CoreCLR run smoothly on FreeBSD as well as the other BSDs.

[2015-04-03 12:49] kangaroo commented on #626
I think you mean VERBOSE? :)

[2015-04-03 13:03] josteink commented on #626
I'm on vacation and doing all this work on a Nexus 7 (no really!), so I will have to blame autocorrect ;)

[2015-04-03 13:10] josteink opened #629 "FreeBSD port-team need dedicated VMs"
Currently we have:

* portteam.cloudapp.net (A2 FreeBSD azure instance)

We also need:

* portteam-eu.cloudapp.net (A2 FreeBSD azure instance, west-europe. Lower latency for EU developers)
* portteam-lldb.cloudapp.net (Temporary A3 FreeBSD azure instance, west-europe. **NO PORTING!** LLDB setup research only).

These instances are being set up by @ghuntley.

Additionally it would be nice to have O

[2015-04-03 13:45] stephentoub opened #630 "WaitForMultipleObjectsEx in PAL doesn't verify no duplicate named objects"
WaitForMultipleObjectsEx is documented to fail if the same object is provided multiple times, and a System.Runtime test is verifying this behavior with named objects as the .NET WaitHandle equivalent function provides the same guarantee, but the PAL implementation doesn't do this verification.

[2015-04-03 13:50] stephentoub opened #631 "Some managed tests failing with "terminate called without an active exception" message"
@janvorli is investigating; it seems as though exceptions on secondary threads aren't getting caught and dumped by the runtime.  This currently happens with the System.Numerics.Vectors.Tests project.

[2015-04-03 13:52] stephentoub opened #632 "“(BYTE*)mbi.BaseAddress + mbi.RegionSize > regionStart” assertion in dynamic tests"
@janvorli is investigating.  The System.Dynamic.Runtime.Tests are failing with an assertion in clrhost_nodependencies.cpp: “(BYTE*)mbi.BaseAddress + mbi.RegionSize > regionStart”.

[2015-04-03 13:54] stephentoub opened #633 "Exception handling bug exposed with System.Xml.RW.WrappedReader.Tests.dll"
@janvorli is investigating; it's difficult to create an isolated repro, but some tests are failing in System.Xml.RW.WrappedReader.Tests.dll (and a few other similar XML reader writer test projects) due to what appears to be nested catch blocks not catching exceptions they should be catching.

[2015-04-03 16:32] MattWhilden commented on #633
I presume this is for xplat... or is it omnipresent?

[2015-04-03 16:34] stephentoub commented on #633
Sorry, yes, on Unix.

[2015-04-03 16:55] MattWhilden commented on #455
Yep. I'll try to keep things tagged appropriately so that new folks can know where to help out. Great start!

[2015-04-03 16:55] #455 closed

[2015-04-03 17:03] stephentoub commented on #632
(This is on Linux.)

[2015-04-03 17:05] stephentoub opened #635 "Environment.GetEnvironmentVariable doesn't respect changes made with setenv"
Whereas getenv will return a value previously set with setenv, Environment.GetEnvironmentVariable does not, instead pulling from a cached palEnvironment in the PAL layer.  As such, if a process P/Invokes to setenv to change the value of an environment variable, a subsequent call to Environment.GetEnvironmentVariable will not see the change (it will see a change made with Environment.SetEnvironment

[2015-04-03 18:03] cheers00 opened #636 "jitOverview.doc"
Wondering if there is any plan to opensource jitOverview.doc on github.

At jit\compiler.cpp, the following comment refers to jitOverview.doc but I can not find it.

[code]

[2015-04-03 18:10] MattWhilden commented on #174
Just coming by to bump old issues. Checking back to see if this is resolved by now.

[2015-04-03 20:09] janvorli commented on #615
LGTM, it is great to see this mystery resolved.

[2015-04-03 20:11] janvorli commented on #623
@janhenke Great, I can access the details now.

[2015-04-03 20:29] janhenke commented on #623
In the mean time a new build is running. It should take at least 24 hours more, then we should have the results with the `--force` set.

[2015-04-03 21:39] MattWhilden commented on #636
@richlander @terrajobst Any ideas?

[2015-04-03 21:41] MattWhilden commented on #601
@noahfalk I'm adding you as the "assignee" so that if someone picks this up they'll know who to bother about PRs and questions. Let me know if this is in error.

[2015-04-03 22:59] kangaroo commented on #626
Its ok, I'm on vacation and not doing work :+1:

[2015-04-03 23:03] kangaroo commented on #633
@stephentoub I'm going to hijack this issue slightly.  You've filed a few on tests failing for xplat.  I apologize if this is covered somewhere else, but are their build/run instructions for xplat xunit tests yet?  I've got a day of travel on Monday, and would like to check the current state for OS X on my flight

[2015-04-03 23:06] kangaroo commented on #615
@janvorli I think you meant to LGTM on the PR (https://github.com/dotnet/coreclr/pull/624) not the issue?

[2015-04-03 23:24] MattWhilden commented on #633
@jkotas May also be able to hook you up with xplat test run instructions.

[2015-04-03 23:37] stephentoub commented on #633
@kangaroo, thanks!  We'd welcome any assistance here.  I've been very focused on first getting things going on Linux, and haven't spent much time working through the tests on Mac yet, so any assistance there would be very welcome.  I'm confident there will be issues to fix ;)

Unfortunately the testing process on Linux and Mac are still rudimentary, in large part due to still only building the man

[2015-04-04 00:51] ajensenwaud commented on #629
If anyone can provide even just a VM, i am happy to set up netbsd and OpenBSD infrastructure up. I have vms running on my own laptop atm, but permanent VMs in the cloud would be immensely helpful. Even a small instance. Thank you, Anders.

[2015-04-04 04:44] MattWhilden commented on #344
There doesn't seem to be much community interest here (unlike say the BSD port efforts) so I'm going to close it out for now. If a group of people get together and want to undertake this, feel free to open a new issue to rally around.

[2015-04-04 04:44] #344 closed

[2015-04-04 04:49] MattWhilden commented on #315
@pgavlin I'll presume you don't have the bandwidth to close down on this. I'll mark it as open for the community so feel free to dump any other thoughts in here.

[2015-04-04 04:55] MattWhilden commented on #301
@sergiy-k @gregg-miskelly This issue is marked as up-for-grabs so it would be nice to have a bit more detail about how someone from the community would get started. Some things to consider including:
* Where does RoMetadata source live?
* A rough estimate about how difficult an undertaking this is? (trivial, easy, medium, hard)
* Which non Windows platforms?

[2015-04-04 05:03] MattWhilden commented on #159
It's not really my area but I presume the ASPNET folks will announce things when they finish getting all the pieces together. However, it will be similar to the wins you'd get for .NET applications if you applied the NGEN technology.

[2015-04-04 05:16] MattWhilden commented on #295
@agocke It seems like a few things have been suggested. Any comments? Can we make headway or close this issue out?

[2015-04-04 05:39] #615 closed

[2015-04-04 05:45] #625 closed

[2015-04-04 05:51] MattWhilden commented on #445
Alright, I'm closing this down. Let me know if that was in error.

[2015-04-04 06:04] MattWhilden commented on #568
@TimLovellSmith It looks like this question has been answered so I'll close this out. Let me know if this is in error.

[2015-04-04 06:04] #568 closed

[2015-04-04 06:26] Djuffin opened #638 "RtlRestoreContext doesn't restore registers EFlags and RAX"
On Linux RtlRestoreContext (implemented via setcontext()) doesn't restore registers EFlags and RAX (and maybe something else).
It makes us use an undocumented behavior in signal handler for SIGTRAP.
We probably need to re-implement it in assembly.

[2015-04-04 07:47] jkotas commented on #295
It was not fixed yet - it should stay open.

[2015-04-04 10:21] alexandrnikitin commented on #55
@cmckinsey Thank you for the great explanation!!

[2015-04-04 12:38] kangaroo commented on #633
Thanks @stephentoub -- thats not too bad.  I'll sync up and see where things are before my flight.

[2015-04-04 15:48] josteink opened #639 "PAL: seh-unwind.cpp causes build to fail on FreeBSD"
seh-unwind.cpp uses direct register-access. The result is that the build fails with the following errors on FreeBSD (excerpt):

[code]

Should it use the abstractions defined in context.cpp instead?

[2015-04-04 22:54] reduz opened #641 "C++ Interop Documentation Request"
Would it be possible to document how C++ interop happens? From embedding into a C++ Application, to calling to C++ from .net, and calling .net functions from C++. I'm not finding any docs on how to do this.

[2015-04-05 01:31] kangaroo commented on #639
What type does unw_context expose on FreeBSD?  Is it an mcontext like Linux?  If so we can probably macro this away.

[2015-04-05 01:48] eatdrinksleepcode opened #642 "Migration story for running untrusted code in CoreCLR without AppDomains"
Searching the internet returns various references to AppDomains not being supported in CoreCLR, and various explanations as to why that is. Many of these explanations make sense: AppDomains are "heavy", they attempt to provide many levels of isolation with a single mechanism, they are not "pay for play", etc.

However, even if their implementation was less than ideal, AppDomains served a number of

[2015-04-05 05:01] ellismg commented on #642
Are you unable to run the third party code in another process (which would run with a restricted set of permissions)?

I believe the general guidance for folks that are running untrusted code is to use the OS provided primitives like processes for sandboxing purposes.

[2015-04-05 12:02] hmemcpy opened #644 "Make Profiling doc available on BOTR"
http://devdiv/sites/CLR/ProfilingAPI/Shared%20Documents/ImplementingProfilability.doc

Thanks!

[2015-04-05 18:56] MattWhilden commented on #644
@hmemcpy Thanks for letting us know your interested. It helps us prioritize getting these doc into a cleaned up state and put out on github.

@richlander will probably be able to comment better about the state of that effort overall and @noahfalk could potentially field specific questions in the mean time.

[2015-04-05 19:04] MattWhilden commented on #642
I think this brings up a great point about our current lack of guidance to the giant ball or scenarios (see #295 for a similar issue). @ellismg is correct in that we'd greatly prefer to be out of the security business but providing guidance or new mechanisms is certainly in our wheelhouse.

@eatdrinksleepcode it's most helpful for us to bite these off in smaller bits. It helps us figure out which

[2015-04-05 19:08] MattWhilden commented on #641
I noticed that @jakesays and @pdelvo had some reasonable suggestion in the gitter chat just after you posted this issue. Did you take a look?

As noted, calling C++ from C# is super easy via DllImport and hosting CoreCLR uses the sameish APIs as hosting big CLR.. examples are under src\coreclr\hosts.

[2015-04-05 19:25] MattWhilden commented on #181
@zgxnet I've updated the page at https://github.com/dotnet/corefx/wiki/Coding-style.

[2015-04-05 19:26] stas-sultanov opened #645 "IEnumerator<T> should not inherit IDisposable"
I would like to suggest to make interface `IEnumerator<T>` to not implement `IDisposable`.

i've looked in [Sources](http://referencesource.microsoft.com/#mscorlib/system/collections/generic/ienumerator.cs,893e8cdebffde2da,references) and found that almost all types in .NET that implements `IEnumerator<T>` has no unmanaged resources to dispose. Actually there are some implementations of `IDisposab

[2015-04-05 19:28] hmemcpy commented on #644
Thank you, really appreciate it!

[2015-04-05 19:50] MattWhilden commented on #645
Thanks for your interest in the project.

However, removing this interface is a breaking change. Consider the code below. Removing IDisposable will cause the compiler to kick out this error:
Error	1	'ConsoleApplication5.IFoo' does not contain a definition for 'Dispose' and no extension method 'Dispose' accepting a first argument of type 'ConsoleApplication5.IFoo' could be found (are you missing a

[2015-04-05 19:53] Maxwe11 commented on #645
What benefits it will bring? Perf issue of calling empty `Dispose` could be resolved (or maybe it's already resolved :smile:) on JIT level.

Take a look closer e.g. in FileSystem API

[2015-04-05 21:52] mburbea commented on #645
While you don't see a need there are plenty of usecases.
[code]

Doing this is a useful pattern as it allows you to tie lifecycle to iteration.

[2015-04-05 23:54] linquize commented on #181
But it is for C# only, not for C++

[2015-04-06 00:05] MattWhilden commented on #181
My intent was to have my above guidance for C++ fall into the "General Guidance" I've clarified that a bit better now.

Thoughts?

[2015-04-06 00:32] jakesays commented on #642
There are other features of appdomains that are not related to security. I have a scenario where I need to customize at runtime *.exe.config before it is referenced. The only way to accomplish this is to start up a new appdomain that uses the customized configuration file.

The biggest non-security use, though, is being able to unload assemblies. I understand this can be done with child processes,

[2015-04-06 00:39] davidfowl commented on #642
@jakesays What scenario is that exactly? Assume you never had app domains to begin with, can you list out the things you need to do? I agree that unloadable assemblies is important and the AssemblyLoadContext will be the way to accomplish this in the future.

[2015-04-06 00:50] jakesays commented on #642
@davidfowl ah I wasn't aware of AssemblyLoadContext. Excellent. The other scenario is the one I described regarding customizing .exe.config files at runtime. I 'boostrap' my application by generating a custom .config file, then spool up a new appdomain that runs the app. There's a property that lets me point to the config file to use.

[2015-04-06 01:30] eatdrinksleepcode commented on #642
@ellismg

Where would I go to find this guidance? Where can I find a thorough analysis of the various related scenarios, example implementations, etc?

I probably can, but there are a number of reasons why that would be a less desirable solution:

* Getting error information from the external process if something goes wrong will be more difficult than from an AppDomain.
* Starting up an external p

[2015-04-06 01:31] eatdrinksleepcode commented on #642
@MattWhilden I have updated the title of the issue

[2015-04-06 02:58] davidfowl commented on #642
That's not a scenario though. The API's for hosting the CLR don't even talk about a configuration file. It's all code based in core clr AFAIK (somebody will correct me if I'm wrong). So the question is, what is the scenario?

[2015-04-06 05:01] MattWhilden commented on #642
@jakesays Let's take "customizing .exe.config files at runtime" into a separate issue. As @davidfowl suggests, we'd love to know what your goal was when jumping through all these hoops. That'll help us generate a solution that fits within the vision for CoreCLR going forward.

[2015-04-06 05:37] jakesays commented on #642
@davidfowl Well, in the context of a story to migrate away from appdomains, one of the features appdimains offers is the ability to name a custom configuration file. See AppDomainSetup.ConfigurationFile. So yeah, it is a scenario that needs to be addressed.

@MattWhilden the goal was simple: customize the configuration file at runtime, based on parameters pulled from a central configuration servic

[2015-04-06 05:44] davidfowl commented on #642
Given that there's no System.Configuration, is the scenario here would be to let you provide configuration files per isolate (whatever an isolate/unit is in your application)? What were you setting in these files? App settings? Binding redirects (don't exist anymore)?

The reason the scenario matters is because coreclr may not even have what you're trying to setup, or it might be accomplished in a

[2015-04-06 05:47] phillipkent commented on #629
@ajensenwaud Hello Anders, in a couple of days I will set up a new account where you can create and manage VMs as you need them. If you contact me via email we can work this out in details. Thx Phillip.

[2015-04-06 05:53] MattWhilden commented on #642
@jakesays Again, let's move this to another Issue. This Issue is currently purposed for tracking information about untrusted code and I'd hate for all this to get lost along the way.

[2015-04-06 05:55] jakesays commented on #642
Ok. I'll open a new issue. Should it be associated with CoreCLR or CoreFX?

[2015-04-06 06:55] MattWhilden commented on #642
CoreCLR is fine. Thanks!

[2015-04-06 07:32] mmdriley commented on #645
In addition to the great points raised above, iterator blocks (C# functions that use "yield return" and return IEnumerator<T>) rely on IEnumerator<T>.Dispose() to invoke any code in the finally {} block that wraps the most recent "yield return".

See v5 of the C# spec, §10.14.4.3.

[2015-04-06 15:35] stas-sultanov commented on #645
well yeah, it explains much. my bad.

however i believe that in case of `yield` enumerator it could be much better solution to generate a class that explicitly inherits from `IDisposable` and does all the stuff described in the spec.

If we will take a look at [CharEnumerator](http://referencesource.microsoft.com/#mscorlib/system/charenumerator.cs,0969ce79660adf73,references), [IdentityReferenceEn

[2015-04-06 15:41] cmckinsey commented on #636
That document in its current form is quite out of date and would probably be just as misleading as helpful. We have been working on a replacement/update of that document specifically to share here on github. Its in review right now for accuracy and should be available soon.

[2015-04-06 15:42] manish opened #648 "Allow EventHandler with multiple generic parameters - EventHandler<TEventArgs1,TEventArgs2,...>"
Many mscorlib types allow multiple generic parameters like [Tuple](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Tuple.cs#L26-L51)

where I can create `Tuple<int>` or `Tuple<Type, string>` or `Tuple<string, Type>` which saves me from creating types just to hold these variables when I am going to use this data only a few times

Right now we only have an option of using eithe

[2015-04-06 15:54] #55 closed

[2015-04-06 18:47] MattWhilden commented on #645
We've certainly made cuts such that code that used to run on Full Framework doesn't work on CoreCLR (see appdomains etc). However, we still want most code to be able to run "out of the box". This mean that changes like this will not be merged.

If someone wishes to start a fork with a less cautious approach, then there'd be a huge number of things they could go tackle. :-)

[2015-04-06 18:47] #645 closed

[2015-04-06 19:20] mikem8361 opened #650 "Finish dbgshim implementation for Linux, etc."
Currently it is a very minimum hack that always assumes the process has a coreclr module and that LD_LIBRARY_PATH will load the DBI module. Most of the public APIs can be implemented closer to the windows version by doing a PAL version of EnumProcessModules and GetModuleFileNameEx.

[2015-04-06 22:12] OtherCrashOverride commented on #641
Calling into C from C# is easy with DllImport.  Calling into C++, however, is nontrivial.  The two main obstacles are 1)Name mangling differs across compilers and 2) VTable may differ across compilers.

There is a tool to assist with doing it: https://github.com/mono/CppSharp

[2015-04-06 22:17] reduz commented on #641
can I just pass a pointer to a function manually? I'm not interested in C#
loading C or C++ code but the opposite, and not interested into C# reading
C++ symbols. Is there API for this?

On Mon, Apr 6, 2015 at 7:12 PM, OtherCrashOverride <notifications@github.com

[2015-04-06 22:19] reduz commented on #641
To clarify, I just need a single binary, no DLLs, and no C# entry point,
but C++ calling random C# functions.

On Mon, Apr 6, 2015 at 7:16 PM, Juan Linietsky <reduzio@gmail.com> wrote:

[2015-04-06 23:38] #601 closed

[2015-04-07 02:26] sharwell opened #652 "[Proposal] Change the default behavior for StackOverflowException"
I would like to propose an unspecified modification to the CLR which allows code to be executed in a manner where a `StackOverflowException` will not cause the process to terminate. To get the discussion started, here are some possibilities for alternative behavior:

1. Terminate the current thread.
2. Terminate the current `AppDomain`.
3. Provide an attribute like `HandleProcessCorruptedStateExce

[2015-04-07 03:07] stephentoub commented on #454
@jkotas, we can close this now, right?

[2015-04-07 03:12] #454 closed

[2015-04-07 05:53] mikedn commented on #648
What's stopping you from using `Action<T1, T2, ...>` instead of `EventHandler<T1, T2, ...>`?

[2015-04-07 06:33] josteink commented on #626
As for libunwind, it is installed, but for some reason /usr/local/include does not get invoked:

[code]

There's no `-I` for `/usr/include` nor `/usr/local/include` (where libunwind.h) resides, despite it getting detected at configure-time.

[2015-04-07 06:36] kangaroo commented on #626
@josteink /usr/local/include isn't usually included by default.  You can use the LLDB_INCLUDE_DIR env var to force the LLDB pass to look there.

[2015-04-07 06:39] janhenke commented on #626
I think we fixed the `/usr/local/include` for PAL only so far. It seems we have to take a look at the `CMakeLists.txt` for this part too.

[2015-04-07 07:30] josteink commented on #626
@janhenke Right. But the file failing is `./src/pal/src/exception/seh-unwind.cpp`. Isn't that part of PAL? Am I overlooking something stupid?

@kangaroo Is there any specific reason for not by default *always* including `/usr/local/include`? What harm could it do?

If possible, wouldn't it be better to include this folder in CMake at the top-level, rather than in specific submodules?

[2015-04-07 07:46] stas-sultanov commented on #648
I believe that this would break the Event Handler pattern.

The problem with more arguments is the following:
what name they should take? of course it is possible to give names like Item1, Item2, ItemN but they are meaningless.

I believe that the following code would do just what you expect:
`public event EventHandler<Tuple<Type, int>> Changed;`

[2015-04-07 07:53] kangaroo commented on #626
@josteink Its just "the way things are".  Traditionally /usr/lib || /usr/include was "system-safe" and "usr/local" was "your playground."  In my (shallow and frequently out of date) experience, its not included because it fucks up ports, unless explicily needed and dead.

Looking at the configure.make you referenced, I'm going to go out on a limb and guess your lldb is in /usr/include/lldb-somethi

[2015-04-07 08:01] josteink commented on #626
Again: Excuse me if I'm missing something obvious, but I'm not working with LLDB here. I'm trying to get `seh-unwind.cpp` to compile.

For that to compile `libunwind.h` needs to be resolved. And that file is present in `/usr/local/include/`, which from what I [cmake is being told to include](https://github.com/dotnet/coreclr/blob/master/src/pal/src/configure.cmake#L10), which I expected to be pass

[2015-04-07 08:03] mikedn commented on #648
You're breaking it anyway if you add `EventHandler` types with more than one `T`. The whole point of the EventHandler/EventArgs dance is that it avoids all kind of problems like too many parameters, parameter name issues, impossibility of adding more parameters without breaking existing code and requiring `out` parameters for cancel style events.

[2015-04-07 09:30] janvorli commented on #626
@josteink

Yes, that true. We have fixed the libunwind.h for its presence checking only before, now we need to add the /usr/local/include for the FreeBSD to the set of include folders for PAL build,
I recommend adding it to the src/pal/src/CMakeLists.txt conditionaly for the FreeBSD (use the include_directories command)

[2015-04-07 09:36] josteink commented on #626
@janvorli Already done. See https://github.com/dotnet/coreclr/pull/655 :)

[2015-04-07 09:38] janvorli commented on #626
@josteink Ah, I am sorry for missing that. I've just got back from my Easter vacation and I am catching up with my emails.

[2015-04-07 11:01] phillipkent commented on #629
Hello @ajensenwaud. The project account is up and running so please get in touch when you are ready to launch VMs.

[2015-04-07 11:58] Djuffin opened #657 "Make sure that EE/debugger allocates executable memory only when it's needed for patches"
Right now all the memory allocated by EE/debugger via DebuggerHeap is executable. Given that on Linux we have only one real heap, it leads to a situation when random pages of data heap marked as executable. We need to localize places where EE/debugger allocated executable patches and make sure   that everything else is allocated in non-executable memory.

[2015-04-07 12:32] stas-sultanov commented on #648
Following solution does not break the pattern
`public event EventHandler<Tuple<Type, int>> Changed;`

[2015-04-07 12:54] mikedn commented on #648
Well, I was specifically referring to the initial proposal. Adding EventHandler types with multiple `T`s breaks the pattern and if you don't care about the pattern you can simply use whatever delegate type you want, including `Action`.

The `Tuple` suggestion is debatable. Tuples are horrible for typical usage because their properties have meaningless names. And it's not clear why `EventHandler<T>

[2015-04-07 13:04] stephentoub commented on #648
Sounds like the docs should be updated.  The constraint was removed in .NET 4.5 so as to broaden allowed usage, in particular to help with avoiding allocations for cases where an event is raised frequently and the wrapper EventArgs instance is pure overhead.

[2015-04-07 14:52] sharwell commented on #648
Following up on what @stephentoub said, the primary place I see it used is [`Progress<T>.ProgressChanged`](https://msdn.microsoft.com/en-us/library/hh137516.aspx).

[2015-04-07 15:14] Nassiel opened #658 "Improper casing causes lldb-3.7 to not be found. Error: "Cannot find lldb-3.5 or lldb-3.6""
If I execute lldb -v I have the version 3.7.

I tried to modify the CMakeList and I add to the find_library function lldb-3.7 but even with it, the system still repeat the same error.

¿Any idea?

[2015-04-07 16:39] MattWhilden commented on #181
Closing for now. Let me know if there's something you'd like modified.

[2015-04-07 16:54] MattWhilden commented on #652
tldr: We get this request a lot but we do not believe that it is a recoverable scenario. Further, making it "easy" to do the wrong thing seemed more harmful than tearing down from a dangerous situation.

While undergoing a stack overflow, your process is a hairs width from doing all sorts of Really, Really bad things(tm). For instance, causing any more stack to be consumed can start scribbling ove

[2015-04-07 17:24] ajensenwaud commented on #629
Thank you, I am off on Easter break, will get in touch when I am back on Thursday. Cheers!

Anders Jensen-Waud

[2015-04-07 17:49] zer0n opened #659 "C++/CLI"
I'm not sure whether this is the appropriate repo to ask this question. If not, please advise the correct one.

I want to do .NET development in Linux. I haven't been able to do it yet due to lack of important features in Mono. One of them is C++/CLI. I wonder whether and/or when this will be available soon.

[2015-04-07 17:56] rkeithhill commented on #385
So on Windows does this mean we need Roslyn i.e. VS 2015 to compile CoreClr?  I have only VS 2013 with no Roslyn integration and I'm getting this error as well.

[2015-04-07 18:23] sharwell commented on #652
This is a rather bad argument. One of the CLR's greatest features is the way it uses processor exceptions for things like dynamic reallocation of the evaluation stack and omitting `NullReferenceException` checks.

This is the wrong question. The better question is whether or not developers are out there who could write objects that are designed for these scenarios. While individual programming lan

[2015-04-07 18:55] josteink commented on #639
`uc_mcontext` is exposed as `__mcontext` from FreeBSD's `x86/context.h`. This seems to be the exact same context as found in [context.cpp's MCREGs](https://github.com/dotnet/coreclr/blob/master/src/pal/src/arch/i386/context.cpp#L114-L133) for FreeBSD.

That is, for FreeBSD `unwContext->uc_mcontext` (but not `unwContext`) matches the type used for MCREG-mapping in `context.cpp`. From what I can tel

[2015-04-07 20:33] MattWhilden commented on #652
Okay I think we've made progress toward agreement. I was perhaps thrown off by the use of the word "default". It seems obvious to me that changing the out of the box experience isn't ideal. However, if we want to have a mode that is "I'm a developer who promises to think about these things in a serious way to my serious application," that's probably fine. If can agree to that then you can achieve

[2015-04-07 20:36] janvorli commented on #639
@josteink We should definitely reuse the abstraction in `context.cpp`. It looks like moving the macros to the `context.h` would be the way to go, the `context.h` is already being included from the `seh-unwind.cpp`.
When I have recently added the libunwind support to the seh-unwind.cpp, I have not realized we have these macros covering the same context. That's how we have ended up having it "hardco

[2015-04-07 20:42] janvorli commented on #639
@josteink I can do the refactoring if you want.

[2015-04-07 20:42] sharwell commented on #652
Except I can't do that from within a third-party extension to another application :frowning:

[2015-04-07 21:14] OtherCrashOverride commented on #652
The solution to this is to change your code/algorithm from recursive to iterative.  This gives you complete control over conditions of when and what happens when you exhaust your limits.

[2015-04-07 21:15] MattWhilden commented on #652
As a library developer you cannot protect your consumers from using you improperly. If the high level of stack use in your library is overly problematic, it's likely that you'll need to do the work to re-implement things iteratively. Unfortunately, there's no magic here.

We've spent a great deal of effort over the years trying to make it possible for teams to be resilient these kinds of failures

[2015-04-07 22:20] terrajobst commented on #72
@ericstj is the implementation actually in `mscorlib`, i.e. in the runtime package or does it live in CoreFX? It it lives in CoreFX we should move the issue/PR there.

[2015-04-07 22:27] terrajobst commented on #349
@jaredpar What are your thoughts on this?

[2015-04-07 22:36] terrajobst commented on #542
@KrzysztofCwalina How do you think about this? It seems that `String` would eventually support `Span<char>`, would this additional interface make sense in general?

[2015-04-07 22:41] terrajobst commented on #648
I don't think we'd do that. The point of `EventArgs<T>` is to encode the conventional signature of events, which is to take exactly arguments and returning void. For arbitrary signatures, you'd use `Action<...>`.

Hence, I'm closing this.

[2015-04-07 22:41] #648 closed

[2015-04-07 22:51] ericstj commented on #72
Yeah, it's in mscorlib.  System.IO is still entirely in mscorlib for coreclr.  We might move stuff like this up to the a partial façade once we can support it, but at the moment it is still in mscorlib.

[2015-04-08 00:06] brianrob commented on #72
Closing as #129 has been merged.

[2015-04-08 00:06] #72 closed

[2015-04-08 01:24] GuardRex opened #661 "Improving NullReferenceException: Reporting what was null?"
Not sure where to post this ... let me know if this should go to dotnet/roslyn

Following a comment made by [Joel Kauffman](https://www.linkedin.com/pub/joel-kauffman/10/390/100) @ifranto on [.NET Rocks!](http://dotnetrocks.com/default.aspx?showNum=1122) today, is it possible for NullReferenceException to report more detail on the source of the exception? I think everyone has had a few "object ref

[2015-04-08 01:29] akoeplinger commented on #661
There's already an issue for this: https://github.com/dotnet/coreclr/issues/25

[2015-04-08 01:54] #661 closed

[2015-04-08 05:08] josteink commented on #639
@janvorli Thanks! That would definitely be appreciated.

[2015-04-08 05:11] josteink commented on #626
With those PRs merged, I'm closing this issue and consider it resolved. Thanks!

[2015-04-08 05:11] #626 closed

[2015-04-08 10:16] janvorli commented on #631
I've looked more into the issue. The problem is different from what it seemed from the first look. The real issue is that `HandleHardwareException` doesn't actually throw an exception, but it calls directly the `DispatchManagedException`. In case the exception propagation crosses managed to native boundary, the exception dispatching code uses `throw;` to unwind the native frames. But in this parti

[2015-04-08 10:35] janvorli commented on #633
Fixed by #660

[2015-04-08 10:35] #633 closed

[2015-04-08 10:37] janvorli commented on #176
Implemented by #543

[2015-04-08 10:37] #176 closed

[2015-04-08 13:17] paya-cz opened #665 "ConditionalWeakTable memory leak"
I reviewed the source code for ConditionalWeakTable, particularly [Remove](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Runtime/CompilerServices/ConditionalWeakTable.cs#L161) method and [Resize](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Runtime/CompilerServices/ConditionalWeakTable.cs#L483).

The "Resize" method used for internal data structure

[2015-04-08 16:35] MattWhilden commented on #30
I spoke to some follks around here about this and this is obviously still on the roadmap. Marking it as up-for-grabs because we believe that anyone with some gumption and VS2015 could get this put together. When things settle down internally, we'll pick this up if it's not corrected.

[2015-04-08 16:36] #181 closed

[2015-04-08 16:41] MattWhilden commented on #377
so it seems like .dylib is the way to go. I presume the current answer to "how is this packaged today?" is "it isn't"?

If that's the case we should just re-purpose this issue to track that work.

[2015-04-08 17:09] ellismg commented on #377
It is already a dylib

[2015-04-08 17:09] #377 closed

[2015-04-08 17:33] josteink opened #667 "PAL: symbol timezone redefined in time.cpp on FreeBSD"
This breaks the build. Output from `VERBOSE=1 ./build.sh`:

[code]

Not sure what the best strategy here is... Renaming the symbol in `time.cpp`? To me, it seems like it's only used internally in `time.cpp` a very few places:

[code]

[2015-04-08 17:34] MattWhilden commented on #659
@zer0n I can't predict what the long game is but our current focus is C# and VB scenarios for cross plat. Modifying title in case someone else would like to chime in.

@richlander may have some other thoughts but he's on vacation til next week.

[2015-04-08 17:43] MattWhilden commented on #665
Thanks for the report.

@AlexGhiondea can you get this routed appropriately?

[2015-04-08 17:43] janvorli commented on #667
@josteink The timezone is a global variable defined in the standard `time.h`, so we cannot rename it. See below:
`http://man7.org/linux/man-pages/man3/tzset.3.html`
Looking at the code in the `time.cpp`, I can see that the variable usage is under the `HAVE_TIMEZONE_VAR` ifdef.
That means that the code that detects the presence of the variable to generate the config is not correct and probably dete

[2015-04-08 17:45] josteink commented on #667
That seems reasonable. I'll dig into that general direction and see if I can find a clean fix.

[2015-04-08 20:57] paya-cz commented on #665
Furthermore, because of how **DependentHandle** works, the **ConditionalWeakTable** unfortunately can't automatically reclaim the space once a *primary target* gets collected, because there is simply no *event* to hook up to get notified. I guess it would be nice to have a new public method on **ConditionalWeakTable** called *Reclaim* that would allow the user code to instruct the weak table to sh

[2015-04-08 22:59] MattWhilden commented on #658
Can you post what your changes are? You may also be able to get help in the chat at http://gitter.im/dotnet/coreclr

[2015-04-09 00:24] janvorli commented on #631
Fixed by #663

[2015-04-09 00:24] #631 closed

[2015-04-09 00:29] pgavlin commented on #658
I think I've hit the same issue--there is a casing problem in lldbplugin/CMakeLists.txt--the patch below should fix it. @MattWhilden I'll submit a PR for this momentarily.

[code]

[2015-04-09 00:33] pgavlin commented on #658
PR #671

[2015-04-09 00:42] janvorli commented on #638
Fixed by #668

[2015-04-09 00:42] #638 closed

[2015-04-09 03:09] MattWhilden commented on #641
Hey @reduz. How'd it go?

It seems like coreclr should have support for all the features you need. Perhaps you're better served getting help via stackoverflow or from some folks in the gitter channel?

[2015-04-09 03:15] reduz commented on #641
haven't really found much on stackoverflow or gitter.. I'm interested in
using C# as an extension language for a C++ game engine, in this case C++
does the heavy load and calls a few C# functions. I'm not interested in a
C# entry point andI can't use DllImport.

I am unable to find any information on how to do this. I don't mind doing
low level coding or writing VM code myself.  I just can't find

[2015-04-09 03:19] reduz commented on #641
Doesn't Microsoft have some sort of internal documentation for the VM,
bytecode or this kind of interoperability? Is it possible to open it too?

On Thu, Apr 9, 2015 at 12:15 AM, Juan Linietsky <reduzio@gmail.com> wrote:

[2015-04-09 03:55] noahfalk commented on #641
I'm not an interop expert, but you can convert between function pointers and delegates using:
Marshal.GetDelegateForFunctionPointer()
Marshal.GetFunctionPointerForDelegate()
https://github.com/dotnet/coreclr/blob/cbf46fb0b6a0b209ed1caf4a680910b383e68cba/src/mscorlib/src/System/Runtime/InteropServices/Marshal.cs

You would still need an initial mechanism to invoke the first C# function, presumably

[2015-04-09 05:09] ellismg opened #673 "Document how to build SOS Plugin on OSX"
On Linux this happenes automatically if you apt-get the correct packages.  What's the right way to do it on OSX?

/cc @pgavlin who I believe has multiple ways of doing this.

[2015-04-09 05:33] kangaroo commented on #673
Its a pain currently.  You need to manually get a checkout of the headers, and point LLDB_INCLUDE_DIR there.  LLDB_LIB_DIR gets pointed to the private LLDB.framework in Xcode.

I'm not particularly happy about the current status, but not entirely sure yet what should be done to improve it either.

[2015-04-09 05:38] ellismg commented on #673
Thanks!  At a minimum I would like to go through the painful process on our CI machines so we check the plugin with PRs and produce it in our builds.

Would it be reasonable to provide something like a homebrew recipe which actually fetched the headers and built the LLDB components you needed and then have that be an optional thing you could brew install before building?

[2015-04-09 05:53] #639 closed

[2015-04-09 06:25] jakesays commented on #641
If you study [coreconsole.cpp](https://github.com/dotnet/coreclr/blob/master/src/coreclr/hosts/coreconsole/coreconsole.cpp) you'll see exactly how to load the clr and then execute managed code.

Also see [this article](http://www.fancy-development.net/hosting-net-core-clr-in-your-own-process)
And [this project](https://github.com/fancyDevelopment/Fancy.CoreClrHost)

[2015-04-09 06:30] ellismg commented on #667
Long term, I wonder if this code is needed anymore.  It looks like it might only be used by the tests.  I wonder if we can just remove it from the PAL.  I don't believe that managed code should need this anymore (we parse the TZInfo files directly now).

[2015-04-09 06:31] ellismg commented on #635
@jkotas Do you know what the history behind this decision was?

[2015-04-09 08:39] janvorli commented on #667
You are right, nothing else than the tests are using it, let's erradicate it.

[2015-04-09 12:37] jkotas commented on #635
From looking at the code, I suspect that the cached environment was attempt to fix thread safety or consistency problems between Environment.GetEnvironmentVariables and Environment.SetEnvironmentVariable.

The enumeration of the environment starts by reading the (environ)[http://linux.die.net/man/5/environ] global variable, without any locks. Consider what may happen if somebody calls setenv while

[2015-04-09 12:49] jkotas commented on #635
Some flavors of libc documentation explicitly mention this problem. From  http://pubs.opengroup.org/onlinepubs/009695399/functions/setenv.html :

Conforming multi-threaded applications shall not use the environ variable to access or modify any environment variable while any other thread is concurrently modifying any environment variable. A call to any function dependent on any environment variable

[2015-04-09 13:49] jkotas commented on #635
IMHO, it may be best to deal with all this by throwing PlatformNotSupportedException from Environment.SetEnvironment on Unix.

[2015-04-09 17:13] kangaroo commented on #673
If we're willing to take a dependency on homebrew, we can use the lldb their llvm package already provides:

[code]

With that we should be able to do:

[code]

[2015-04-09 17:34] ellismg commented on #635
I don't believe that's a viable path forward.  DNX runtime code already does this (perhaps that could be removed in favor of some other communication mechanism).

How bad would it be to just surround read and write with a mutex?  Obviously this could be racy in the case where the CLR and some third party native library are partying on the environment block at the same time, but I worry if we go do

[2015-04-09 18:45] josteink commented on #667
Ok. So it seems like you guys have a firm grasp of this issue and no further action is needed on my part then?

[2015-04-09 18:47] janvorli commented on #667
@josteink Right, I'll remove the stuff and send a PR soon.

[2015-04-09 19:55] janvorli commented on #667
@josteink @ellismg  I've just found that there are two more places using the `timezone` variable.
1) FILEAdjustFileTimeForTimezone
2) DosDateTimeToFileTime

Fortunately, both of those can be removed too thanks to the same fact that they are used only by tests.

[2015-04-09 20:00] richlander commented on #659
There is no plan to support C++/CLI with .NET Core. It requires features in the CLR, the C++ compiler and the C-Runtime. It also adds a significant cost to the porting cost to port the entire .NET Core feature set to a new chip. While C++/CLI is indeed useful, it's cost profile is prohibitive. We have a lot to do still to  provide excellent support for regular IL on Linux and OS X. That's where we

[2015-04-09 20:02] richlander commented on #644
Here: https://github.com/dotnet/coreclr/blob/master/Documentation/profilability.md

[2015-04-09 20:02] #644 closed

[2015-04-09 23:12] cheers00 opened #677 "Setting verbose to true"
How to set verbose to true in debugging mode?

I am following the steps mentioned at https://github.com/dotnet/coreclr/wiki/Debugging-instructions
 and I want to set verbose to true across the solution. I tried -v option but it's not working.

[code]

[2015-04-09 23:44] cheers00 commented on #677
I added -v option after couple of debugging sessions. The following steps resolved the issue.

Close visual studio.
Build coreclr from command line (build.cmd clean)
open coreclr solution in visual studio and set command argument with -v option
F5

[2015-04-09 23:44] #677 closed

[2015-04-10 00:04] janvorli opened #678 "Implement string resources for coreclr on OSX"
We should be using native OSX support for string resources (file format / APIs). Here is a link to the relevant OSX doc:
https://developer.apple.com/library/mac/documentation/Cocoa/Conceptual/LoadingResources/Strings/Strings.html.

To generate the OSX string resource files it should be easy to clone the `src/dlls/mscorrc/rctopo.awk` script to generate the properly formatted files.

[2015-04-10 03:44] kangaroo commented on #678
@janvorli Do you have a testcase / acceptance criteria to validate against handy?

[2015-04-10 04:27] zer0n commented on #659
Understood. I didn't know that it was that much work. I thought that it was simply opening and cleaning up the .NET on Windows stack.

[2015-04-10 04:53] kangaroo commented on #659
@richlander If MS is ok with someone else taking it on, are you guys willing to document and/or open source some of the required bits to the compiler and runtime, or is that off the table?

[2015-04-10 04:59] MattWhilden commented on #652
@sharwell Is any of that helpful/useful? Just discouraging? :-)

I'm somewhat at a loss for other good ideas. For what it's worth it spawned a bunch of hallway conversations... If you'd like, I can tag it as hard problem. Thoughts?

[2015-04-10 05:39] kangaroo commented on #652
For what my $0.02 are worth, I would suggest only offering a configurable change to the API through the hosting API.  That is to say, if someone wants to break the contract in their use case, they need to explicitly opt-in from the native side, and own the fallout from that.

Not that it resolves the 'hard problem' aspect, but I think it reaches a nice middle ground where people that are willing t

[2015-04-10 05:57] mikedn commented on #659
@kangaroo I suspect that the CLR parts that are needed are already present in the coreclr repository but under `#ifdefs`.

Anyway, the real problem is the C++ compiler, not the runtime. The mixed mode images produced by VC++ will contain native code that targets Windows. So you'll need to either convince them to open source the VC++ compiler so it can ported to other platforms or convince the clan

[2015-04-10 06:05] kangaroo commented on #659
@mikedn I fully understand the scope and problem of the question :)  It was more a clarification and optics push, rather than a "I want this".

[2015-04-10 06:11] mikedn commented on #659
I know, I know, I was just trying to clarify your clarification for other readers who perhaps don't see clear enough :)

[2015-04-10 06:15] zer0n commented on #659
Thanks guys for the multi-level clarification :).

[2015-04-10 06:16] kangaroo commented on #659
@mikedn Thanks for clarifying my clarification or the clarification... or something :+1:

[2015-04-10 06:54] josteink commented on #667
I can confirm this was fixed by https://github.com/dotnet/coreclr/pull/675

 Thanks for the help. @janvorli ! Closing this one :)

[2015-04-10 06:54] #667 closed

[2015-04-10 08:57] josteink opened #679 "PAL: safecrt_output_l.c contains assertion which errors/fails on FreeBSD"
This causes the build to break.

Output from build:

[code]

The following test-program confirms the error with the following rather obvious results:

[code]

This is part of a more [intricate ifdef-section](https://github.com/dotnet/coreclr/blob/master/src/pal/src/safecrt/safecrt_output_l.c#L127-L137) of `safecrt_output_l.c`:

[code]

From what I can tell, the correct code-path for FreeBSD would

[2015-04-10 09:42] jkotas commented on #635
Frameworks implemented by us need to be secure and reliable - no crashes on races, no potential use after free bugs, no memory leaks, ... . I do not think that secure and reliable implementation of process environment updates is possible on standard Unix. Wrapping our calls with a lock does not help because there are guaranteed to be other calls from random libraries not protected by this lock.

I

[2015-04-10 10:54] davidfowl commented on #552
+1! :smile: Would love this for razor compilation and other things

[2015-04-10 11:25] stas-sultanov opened #680 "Change constructors of Dictionary<TKey, TValue> class"
I wold like to suggest  to replace following constructors of `Dictionary<TKey, TValue>` class
`public Dictionary(IDictionary<TKey,TValue> dictionary)`
`public Dictionary(IDictionary<TKey,TValue> dictionary, IEqualityComparer<TKey> comparer)`

with following
`public Dictionary(IEnumerable<KeyValuePair<TKey, TValue>> collection)`
`public Dictionary(IEnumerable<KeyValuePair<TKey, TValue>> collection,

[2015-04-10 12:10] Therzok commented on #680
I wouldn't go as far as replacing them. This can cause performance issues for some applications which use those constructors.

Wouldn't a more valid proposal be to add additional constructors from IReadOnlyCollection<KeyValuePair<TKey, TValue>> and IEnumerable variant?

[2015-04-10 12:34] stas-sultanov commented on #680
I believe that it is possible to make those constructors to work as fast as current one
take a look on implementation of `public List(IEnumerable<T> collection)` constructor

[2015-04-10 12:48] iamthemovie commented on #680
I agree with @Therzok, adding another set of constructors would surely be a better idea?

In the .NET framework ConcurrentDictionary has the constructors you're suggesting as well.

[2015-04-10 12:51] Therzok commented on #680
Well, if it checks for IDictionary/IReadOnlyDictionary/ICollection<KeyValuePair<TKey, TValue>> internally before enumerating, I'm totally okay with that.

Thanks @stas-sultanov forgot that List did that internally.

[2015-04-10 14:05] janvorli opened #681 "Implement PAL test for the PAL_GetResourceString"
The simplistic form would be to try to get bunch of hand picked resource string and see if they match what we expect.
A better way would be to let the test build parse the windows resource files again, this time building a plain text file with the ids and strings. Then the test would read this file at the runtime item by item and call the `PAL_GetResourceString` for each id and check that the resu

[2015-04-10 14:05] janvorli commented on #678
The simplest test case that I've used was just having a DllImport marked method with a nonexistent dll file and try to call it.
It should dump the exception with message:
Unable to load DLL '%1': %2
Where the %1 is replaced by the dll file name and the %2 with a stringified HR code.

The test looked like this:
[code]
Now that you've asked your question, I think it would be nice to implement a PAL

[2015-04-10 14:12] janvorli commented on #678
I also have an idea about how to nicely reuse the existing `rctopo.awk` script so that the part parsing the windows rc files can be reused for Linux, OSX and the PAL test.
We can replace the piece that writes the output by a call to a user defined function and rename the file to say `processrc.awk`. Then we would create a new `rctopo.awk` that would  define that function and `@include` the `proces

[2015-04-10 14:13] janvorli commented on #678
I will do this refactoring unless someone wants to do that as part of this work item.

[2015-04-10 14:14] MattWhilden commented on #680
@ellismg Who from your side can take a look?

[2015-04-10 15:36] stas-sultanov opened #682 "Standardize code style with ReSharper."
For now it's clear to see that sources of the coreclr does not always follow the one code style.
And i believe that there is a problem to ensure that new commits does follow the style.
Thus I would like to suggest the following:

* Setup code style with ReSharper 9.1
* Export settings and share it with everyone
* Make code cleanup of the current coreclr code
* Do make code cleanup of the any new c

[2015-04-10 15:57] janvorli commented on #678
I've posted a PR #683 with the refactoring.

[2015-04-10 16:11] #682 closed

[2015-04-10 18:21] MattWhilden commented on #652
Typically our stance is "we don't light up features we don't intend to fully support." This generally entails thinking about things like: how likely are we to take patches to work around issues exposed by this feature? Will this feature incur maintenance costs because of it's interaction with current/as yet envisioned features? etc etc.

@kangaroo I believe that the hosting APIs already have enoug

[2015-04-10 18:57] jakesays commented on #552
I'd love to work on this!

[2015-04-10 19:00] ellismg commented on #680
Thanks for the suggestion, we should track this in the CoreFX repo  I have written up a speclet there and marked the issue as Ready for API review.  Please provide feedback over there, and I'll close this up.

[2015-04-10 19:00] #680 closed

[2015-04-10 19:06] MattWhilden commented on #552
Start with the "easy" constructor changes and feel free to ask questions about the rest. :-)

[2015-04-10 20:39] reduz commented on #641
thanks for the answers, will give it a try soon to see if/how it works

On Thu, Apr 9, 2015 at 3:26 AM, Jake Helfert <notifications@github.com>
wrote:

[2015-04-10 21:10] sharwell commented on #652
It's a bit more complicated than that. Much of the overhead can be avoided, but it would be nice to avoid *all* of the overhead and just let the guard page exception handler take care of the problem if and only if it becomes one.

A good solution for me would be changing the default policy for `EClrFailure.FAIL_StackOverflow` to be `EPolicyAction.eRudeAbortThread`.

[2015-04-11 00:46] ellismg commented on #673
Thanks, @kangaroo.  I gave this a shot and while it built, it seems there are problems at runtime with this approach.  Trying to start the DAC was failing, and it looked like the problem was when it was trying to call LLDB methods via DebugClient, we were getting back invalid data.  I assume this is due to a mismatch between the LLDB I was using (from XCode) and the one I was building against (Hom

[2015-04-11 01:11] ajensenwaud commented on #629
Hi Phillip

I am back from my break now. I am getting in touch via email now to proceed
with the setup.

Cheers

Anders

On Tue, Apr 7, 2015 at 9:02 PM, Phillip Kent <notifications@github.com>
wrote:

[2015-04-11 03:03] kangaroo commented on #673
@ellismg I'm not surprised that apple's lldb didn't work with the plugin built against home-brew.  If we're going to go the 'brew' route, you should use that lldb which should be in /usr/local/opt/llvm/bin/lldb iirc.

[2015-04-11 09:34] josteink commented on #629
@ghuntley: Any news on the EU and LLDB instances?

[2015-04-11 10:14] josteink commented on #594
With that PR merged, we have 10 out of 11 registers worked out. Only 1 left to go. I've given it a try, but I don't really feel like I'm making any headway.

Anyone else care to have a look at this? @ajensenwaud ? @kangaroo ? @janhenke ?

[2015-04-11 11:55] janhenke commented on #594
I will try to take a look later. No promise on a solution though.

[2015-04-11 18:56] nathanaeljones commented on #659
Given the current (poor) stability level of C++/CLI on windows, what is there to lose by open-sourcing it so the community can help with maintenance?

[2015-04-12 06:46] vindicatorr opened #689 "Modify build.sh to have correct usage statement regarding AMD64/x64 BuildArch"
"x64" -> "amd64"
Otherwise, build fails at 100% with "no rule to make target 'x64'"

./build.sh
  Usage()
...
\- Line 6: "    echo "BuildArch can be: x64""
\+ Line 6: "    echo "BuildArch can be: amd64""
...

[2015-04-12 11:36] linquize commented on #689
On Windows, it is called x64.
But on Linux, it is called amd64.

[2015-04-12 11:42] vindicatorr commented on #689
I don't know the rationale between the two conventions, but I did specify it was in the "build.sh" file.

[2015-04-12 16:38] richlander commented on #659
@nathanaeljones - I suspect that @mikedn's point on this is the one to pay attention to. The VC++ team would need to open source either all or part of the VC++ compiler. I don't believe that's on their roadmap right now. They are focussed on other projects. I don't think we'll be able to convince them otherwise.

[2015-04-12 17:07] nathanaeljones commented on #659
I understand that. But in reality, failing to do so is dooming C++/CLI. It doesn't even support talking to C# classes that use generics in certain ways; the level of utility is quite low. There should be an honest discussion about its future.

[2015-04-12 23:36] n8ohu commented on #659
Perhaps, but given the general reluctance of people outside of the Mono Project/Xamarin to even consider using any CLR based language to begin with, there may not be enough justification for the effort expended at this time. I'm using C# for my Linux and Mac OS projects because the development team I'm working with to do this work is using .NET for their Windows based applications and my code will

[2015-04-13 04:11] MattWhilden commented on #689
We have "AMD64" and "x64" strings all over stuff inside the company... Mostly just accidental with no real hard rules. Am I to understand the convention for unix is "amd64"?

@pgavlin, care to comment?

[2015-04-13 05:42] ellismg commented on #658
@Nassiel Now that #671 has been merged, are things working for you?

[2015-04-13 08:16] janvorli commented on #679
@josteink Let me take a look.

[2015-04-13 08:22] josteink commented on #679
For the time being I've short-circutted the checks and enforced a FreeBSD-specific value.

Basically this commit: https://github.com/josteink/coreclr/commit/5881603d08ef384e45db86dcd5a7f4ab35ee0582

To me though, that doesn't look like a proper solution, or at least not one I'm happy pushing upstream until I've had it verified by others.

[2015-04-13 09:27] panost opened #693 "CultureAwareComparer and CompareOptions"
Change [CultureAwareComparer's](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/StringComparer.cs#L137) "bool _ignoreCase" field to an "CompareOptions _options" with a ctor that initialize it. The ctor with the boolean can stay and just call the above ctor with "ignoreCase? CompareOptions.IgnoreCase :  CompareOptions.None"

This change will have two benefts

1. Performance: e

[2015-04-13 14:28] janvorli commented on #679
I've taken a look and I can see that PAL doesn't support printing long double values when the long double is different from double. Although there is an internal `FL_LONGDOUBLE` flag that the code uses when the  `LONGDOUBLE_IS_DOUBLE` is zero, that flag is never set, because it doesn't detect `L` prefix for the floating point format specifiers to indicate a long double parameter.
I guess that's du

[2015-04-13 19:06] kangaroo commented on #689
@MattWhilden There is no convention on unix.  You'll see x86_64, amd64, and probably some other variants as well.

[2015-04-13 19:40] MattWhilden commented on #689
Thanks for the reply @kangaroo.

Given that, do we just say, "Our convention for this project is x86/x64/ARM etc" or is it better for our scripts to unify some of the various names?

[2015-04-13 19:42] MattWhilden commented on #658
@ellismg I'll optimistically close this bug for now.

@Nassiel I'm happy to reopen it if you continue to have issues.

[2015-04-13 19:42] #658 closed

[2015-04-13 20:42] MattWhilden commented on #693
@panost I know it's super confusing but I'm pretty sure this request is better served over in the CoreFX side of the house. They have all the machinery for API review/additions/modification etc.

Maybe @terrajobst has a better sense for where to have this issue looked at/discussed.

[2015-04-13 21:28] jaredpar commented on #349
My preference is to remain `sealed` for pretty much the reasons that @ellismg laid out.  Additionally the problem is not limited to Roslyn:

- F# + C++ would need to change.
- Every non-Microsoft language that supports obsolete would need to change (lots of them).
- No one is going to update the native compilers and they remain very much in use.  Making this change would let code compile fine for

[2015-04-13 22:36] vindicatorr commented on #689
I'll give my vote for whatever convention is most common in linux at the most basic level (kernel|compiler).
eg.
gcc (-march): https://gcc.gnu.org/onlinedocs/gcc-4.9.2/gcc/Submodel-Options.html#Submodel-Options
I think that would be the architectures i386, x86_64, ARM, AArch64.

vs
kernel (arch): https://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/tree/arch/x86/configs?id=refs/tags/v4.

[2015-04-13 22:49] ellismg commented on #349
Thanks @jaredpar.

[2015-04-13 22:49] #349 closed

[2015-04-13 23:39] felipepaixao commented on #420
Same issue

[2015-04-13 23:55] stephentoub commented on #420
@felipepaixao, can you on the issue you're seeing? How is it failing?

[2015-04-14 00:08] felipepaixao commented on #420
Hi, @stephentoub
I'm having an issue when my application, which is hosted in a Linux vm, tries to access the default temporary location.
Here's the detailed exception error:

[2015-04-14 00:25] stephentoub commented on #420
Thanks. This is using the ASP.NET BufferingHelper, which is a wrapper around Path.GetTempPath(), but only as a fallback:
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Http.Core/BufferingHelper.cs
What's the value of the "ASPNET_TEMP" environment variable it's checking first? Are you sure it's falling back to GetTempPath?

[2015-04-14 00:57] felipepaixao commented on #420
Hey!
Here's the detailed error:

    Microsoft.AspNet.Http.Core.BufferingHelper.EnableRewind (Microsoft.AspNet.Http.HttpRequest request, Int32 bufferThreshold) [0x00000] in <filename unknown>
    Microsoft.AspNet.Http.Core.FormFeature+<ReadFormAsync>d__12.MoveNext () [0x00000] in <filename unknown>
    --- End of stack trace from previous location where exception was thrown ---
    System.Runtime.

[2015-04-14 00:58] WalkingCat commented on #253
alright, to answer my own question, MSILCJIT or LLILCJIT is an LLVM based JIT for .NET https://github.com/dotnet/llilc

[2015-04-14 01:09] MattWhilden commented on #689
I'll follow up with folks here and see what the consensus is. I don't know how much will actually change or if we'll just document the current state with potential followup but I'll let you know.

[2015-04-14 01:18] vindicatorr commented on #689
I think I'm needing to reiterate the OP is about a failed build due to the incorrect parameter used per "help" usage output.

"./build.sh" says to use "x64", but the build will fail at the very end.
The parameter needs to be "amd64" in order for the build to succeed.

[2015-04-14 01:23] MattWhilden commented on #689
*facepalm* that's an even easier fix for now. Goes to show how easy it is to get distracted. That fix seems easy enough.

[2015-04-14 06:11] josteink opened #698 "Resource-generation fails on FreeBSD, with almost all resources getting msgid "80000000""
When the build comes to the point where resources are to be generated, the build fails with the following errors (repeated to excess):

[code]

Excerpt from `mscorrc.debug.po` as generated by the build:

[code]

Not all message-ids are resolved to this value though. We have 68 different entries:

[code]

Those values can be found here:

[code]

@janvorli: You wanted to take a look at this?

Someth

[2015-04-14 08:05] panost commented on #693
I didn't check CoreFX because StringComparer doesn't belong there. That of course was a wrong assumption since StringComparer isn't there but CultureAwareComparer is !!

...and not only that [is implemented](https://github.com/dotnet/corefx/blob/master/src/System.Globalization.Extensions/src/System/Globalization/Extensions.cs) almost as I described in my first post, with only one ctor accepting Co

[2015-04-14 08:52] janvorli commented on #698
@josteink The issue is in the evaluation of the resource value expressions. Here is the piece of code in the awk script that does that:
[code]
So it calls shell with command
[code]
where the `expression` is the resource id expression. It looks like it doesn't understand the hexadecimal prefix. The only weird thing are the values larger than 0x80000000. According to your list, these seem to be eval

[2015-04-14 09:15] josteink commented on #698
Done and done:

[code]

To me that looks right, but my current-user is running zsh as shell:

Which leaves me the question: How does awk decide which shell to branch out to?

Iirc FreeBSD's default shell is tcsh and that reaps the following results:

[code]

From what I can tell, this output is not sent to stdout, but stderr, which may explain why we end up with a default 0x80000000.  Using bash h

[2015-04-14 09:22] janvorli commented on #698
Ok, it could be that, but then I don't understand why some values evaluate correctly. Could you please do one more experiment - modify the `src/dlls/mscorrc/processrc.awk` by commenting out the following lines (putting `#` at the beginning)?
[code]
Then run the build and dump the first bunch of lines from the `mscorrc.debug.po` or maybe post the whole `mscorrc.debug.po` somewhere so that I can tak

[2015-04-14 11:48] stephentoub commented on #420
@felipepaixao, thanks.  I was curious though about the configuration of your machine.  A few questions:
1. What distro of Linux are you running on?
2. Are you running on Mono or on CoreCLR?
3. Do you have a /tmp directory on your machine?
4. What's the value of the ASPNET_TEMP environment variable? Try "printenv ASPNET_TEMP" from the terminal.
5. If you set the ASPNET_TEMP environment variable to

[2015-04-14 12:10] josteink commented on #698
Commenting out those lines seems to fix the issue, and brings the build further on to a new error:

[code]

We can verify the .po-file too, and see that the IDs are now handled properly:

[code]

The full file can be [found here](http://invalid.ed.ntnu.no/~jostein/mscorrc.txt) if you're still interested.

[2015-04-14 13:15] janvorli commented on #698
Hmm, then the issue is not in the shell. Based on the full .po file from you, all the resource ids are evaluated correctly in shell, but the formatting performed by the following line in the awk script doesn't work:
[code]
But that is really strange since when the resource id is defined as a decimal value (e.g. value 10001 which is 0x2711), the `sprintf` works correctly, according to your very fir

[2015-04-14 14:17] josteink commented on #698
Good news: Running the build with that one type-coercion yields a good result too!

Yay!

If you don't mind, can you provide the PR and commit? I'm still trying to get the threading-fix cleaned up besides 20 other tasks at work :)

As for the `ld` issue I didn't intend to mix it up with this issue, just making a note of the fact that the build had moved on. I'm not fully on top of it *yet*, but I'

[2015-04-14 14:19] janvorli commented on #698
@josteink - Sure, I'll do that.

[2015-04-14 14:28] josteink commented on #698
Sounds great!

The good news is that with this (and apart from a few unresolved issues), we now have coreclr for FreeBSD actually past compilation and well into the linking-phase.

I can tell there's still enough challenges ahead, but I think we're making pretty good headway. Thanks for the help for so!

[2015-04-14 15:38] tarekgh commented on #693
@panost you can get the culture aware comparer with CompareOptions from using System.Globalization.Extensions. so you can do something like CompareInfo.GetStringComparer(CompareOptions)
you may look at the code here https://github.com/dotnet/corefx/blob/master/src/System.Globalization.Extensions/src/System/Globalization/Extensions.cs
we have to expose this functionality from System.Globalization.E

[2015-04-14 16:14] panost commented on #693
@tarekgh My last suggestion was to avoid two CultureAwareComparer classes, by merging them in one in System.Runtime. But my main concern is addressed, so yes, you can close this issue.

[2015-04-14 17:06] tarekgh commented on #693
Thanks @panost

[2015-04-14 17:06] #693 closed

[2015-04-14 17:53] janhenke commented on #594
I did not come any further on this issue yet, if anybody else has an idea, be my guest. FPU/SSE/AVX state handling is also something new for me.

[2015-04-14 20:16] jkotas commented on #679
I do not have the history for this one. Based on the name, this define was likely meant to support Office for Mac - MBU likely stands for Macintosh Business Unit.

Agree.

[2015-04-15 00:24] felipepaixao commented on #420
Hi, @stephentoub
Thanks for your reply.
I Will check everything and I will give you a feedback.
And thanks again for your attention and for your advices.

[2015-04-15 00:27] stephentoub commented on #420
Excellent, thanks.

[2015-04-15 06:23] nathanaeljones commented on #375
In addition to removing clause (b), it might be good to clarify the purpose of the patent grant in a license file, perhaps by some explanatory text, such as:

Talking to a few other users, it's clear that this is *NOT* well communicated. They assumed [that open-source definition (particularly criteria 6, 8, 9, and 10)](http://opensource.org/osd-annotated) applied to the software as a whole, and no

[2015-04-15 07:56] MattWhilden commented on #698
I am straight up ecstatic at this news! Nice work!

[2015-04-15 10:35] josteink commented on #679
Just a few questions:

* Should we keep the definition local to the file, or should it be promoted to `configure.cmake`?
* Who makes it happen? Do you want me to prepare a PR for this, or do you want to handle it yourself?

Apart from that, it all sounds good to me.

[2015-04-15 11:05] davidfowl commented on #420
I can chime in here. We added ASPNET_TEMP because IIS usually runs without a user profile under a service account. In those cases without carefully choosing a temp path, it ends up in a bizzare folder (system32 something). When we run in IIS, Helios (the IIS native module) sets ASPNET_TEMP to something appropriate.

When running self hosted however, the intent was to fall back to the regular temp

[2015-04-15 11:05] davidfowl commented on #420
@stephentoub This is also likely a mono stacktrace as nobody has built core clr dnx besides @ellismg and I :smile:

[2015-04-15 11:12] stephentoub commented on #420
Thanks, David. Regarding Mono, that's what I was assuming, but, well, we all know what happens when people assume :smile: Hence the questions.

[2015-04-15 13:34] janvorli commented on #679
@josteink I will do it. It seems to me that putting it to the configure.cmake is the right thing to do.

[2015-04-15 14:51] #689 closed

[2015-04-15 16:19] bobahml opened #708 "HelloWorld sample Linux x64: dlopen failed to open the libcoreclr.so"
Ubuntu 14.04 x64
I perform all the steps described in the instructions:
https://github.com/dotnet/coreclr/wiki/Linux-instructions

Each step of this instruction has been successfully completed.
But when I try to run test sample
./corerun HelloWorld.exe linux
dlopen failed to open the libcoreclr.so with error libcoreclrpal.so: cannot open shared object file: No such file or directory

PS:
When I ru

[2015-04-15 17:21] mikem8361 opened #709 "Fix or document the requirement for LD_LIBRARY_PATH to be set to the runtime path"
After the change to move PAL to a separate module (libcoreclrpal.so) is causing the following problem. A workaround for now is to set the LD_LIBRARY_PATH environment variable to the runtime binaries (where corerun/lib* are). The reason we didn’t hit this problem is because LD_LIBRARY_PATH is required to use the lldb sos plugin and debugger binaries.

We need to look at removing the environment var

[2015-04-15 17:22] mikem8361 commented on #708
My latest change to move the PAL to a separate module (libcoreclrpal.so) is causing this problem. A workaround for now is to set the LD_LIBRARY_PATH environment variable to the runtime binaries (where corerun/lib* are). The reason we didn’t hit this problem is because LD_LIBRARY_PATH is required to use the lldb sos plugin and debugger binaries.  I created issue #709 to address this.

Example:

“ex

[2015-04-15 17:37] janvorli commented on #709
@mikem8361, the libcoreclrpal.so should be in the same folder as the libcoreclr.so. Then there won't be any problem, I believe.

[2015-04-15 17:43] mikem8361 commented on #709
Yes, libcoreclrpal.so is the same directory as libcoreclr.so and you would expect it to be found by the Linux loader, but that doesn’t seem to be the case.  If I remove my LD_LIBRARY_PATH, corerun fails like the issue says.  It looks like from the dlopen man page that only the path is searched and not the directory the loading module is in:

The function dlopen() loads the dynamic library file nam

[2015-04-15 17:51] bobahml commented on #708
Thank you! It works.

[2015-04-15 17:51] #708 closed

[2015-04-15 17:53] janvorli commented on #709
I am sorry, I have realized that I am wrong and deleted the message. Obviously, it has reached you before that.
This is unfortunate, since we want all shared libs to be in the same folder together, but not necessarily together with the corerun. The corerun has a command line option to specify where the shared libs are stored.
I actually wonder if setting the LD_LIBRARY_PATH in the corerun to conta

[2015-04-15 20:34] mikem8361 commented on #709
The variable has to be set before the process is started.  I think I tried this for the debugger modules and it didn’t work.

o   If,  at  the  time that the program was started, the environment variable LD_LIBRARY_PATH was defined to contain a colon-separated list of directories, then these are
           searched.  (As a security measure this variable is ignored for set-user-ID and set-group-ID

[2015-04-15 21:20] pgavlin opened #711 "[RC2] CoreCLR has various issues on systems with SELinux enabled"
Commit [57f1e08](https://github.com/dotnet/coreclr/commit/57f1e08d204dc9af74e3e56375c79e23cf476703) added some code to support managed debugging that attempts to elevate the permissions on a heap-allocated page from RW to RWX. SELinux's execheap module rejects the call, causing the debugger to assert and the runtime to eventually segfault.

SELinux log message (from `/var/log/audit/audit.log`):

[

[2015-04-15 21:24] pgavlin commented on #711
@ellismg @stephentoub @janvorli @Djuffin @mikem8361 FYI.

I am not sure what happens when running a release build, but I suspect that things will appear to work until the debugger support attempts to emit code into an allocation and execute the result.

[2015-04-15 21:27] pgavlin commented on #711
It's worth noting that Fedora and RHEL both ship with SELinux enabled by default.

[2015-04-15 21:55] janvorli commented on #709
@mikem8361, I was thinking about it a bit more and I think that we can overcome the issue by preloading the libcoreclrpal.so before the libcoreclr.so is loaded in the corerun. I think that when the libcoreclrpal.so is already loaded in the process, the libcoreclr.so will pick it.

[2015-04-15 21:56] Djuffin commented on #711
I'll look into the way JIT allocates executable memory and will try to do the same for debugger heap.

[2015-04-15 21:59] mikem8361 commented on #709
I’ll try that and if it works use that to fix this issue.

From: Jan Vorlicek [mailto:notifications@github.com]
Sent: Wednesday, April 15, 2015 2:56 PM
To: dotnet/coreclr
Cc: Mike McLaughlin
Subject: Re: [coreclr] Fix or document the requirement for LD_LIBRARY_PATH to be set to the runtime path (#709)

@mikem8361<https://github.com/mikem8361>, I was thinking about it a bit more and I think that we

[2015-04-15 22:02] pgavlin commented on #711
The JIT emits code into a `LoaderHeap` that has been created with `fMakeExecutable` set to `TRUE`, so all of its pages are mapped in with the correct protections. You'll probably need to ensure that the debugger allocates its memory similarly.

[2015-04-15 22:04] pgavlin commented on #711
The relevant `LoaderHeap` (actually `UnlockedLoaderHeap`) constructor is here: https://github.com/dotnet/coreclr/blob/master/src/utilcode/loaderheap.cpp#L901-L954

Part of the relevant code in the VM is here (I think):https://github.com/dotnet/coreclr/blob/master/src/vm/loaderallocator.cpp#L996-L1008

[2015-04-15 22:14] pgavlin commented on #711
FWIW, I've verified that a release build of CoreCLR runs successfully despite the `VirtualProtect` failure. I have not tried managed debugging.

[2015-04-16 00:28] janvorli commented on #679
Fixed by #715

[2015-04-16 00:28] #679 closed

[2015-04-16 00:29] ellismg commented on #709
We will need to make the same fixes to DNX.

[2015-04-16 08:15] josteink commented on #679
Just confirming that PR #715 fixes this error. I must say: That seems like quite a bit more work than I thought would be required to resolve this one

Thanks for the effort and thanks for the help! :)

[2015-04-16 08:29] janvorli opened #717 "Fix mapping of integer overflow in division to managed exception"
Linux linux integer overflow during division to the same signal code as division by zero in some cases, the `si_signo` is `SIGFPE` and the `si_code` is `FPE_INTDIV` and so we generate division by zero exception instead of integer overflow.
It seems that we will need to check the failing instruction code, find the divisor value and check if it is zero. Based on that we would either return `EXCEPTIO

[2015-04-16 08:30] janvorli commented on #632
This assert is no longer happening, so I am closing this as no repro. There was another issue in the tests caused by a tailcail via helper, I have fixed that in #703 and #716.
I have verified that now 3022 tests in this suite complete ok, 147 are skipped and 2 fail due to the #717

[2015-04-16 08:30] #632 closed

[2015-04-16 08:36] janvorli commented on #717
We actually do the same thing for OSX here:
https://github.com/dotnet/coreclr/blob/master/src/pal/src/exception/machexception.cpp#L647
So we should be able to reuse the IsDivByZeroAnIntegerOverflow function.

[2015-04-16 09:12] janvorli commented on #717
The code we had is not complete. It doesn't handle memory operands. We need to add support for those since two tests in System.Dynamic.Runtime.Tests are failing due to division overflow reported as division by zero for memory operands.

[2015-04-16 11:07] mikedn commented on #717
What happens if the contents of the memory operand is modified by another thread after the exception is thrown? Would IsDivByZeroAnIntegerOverflow check lead to the wrong exception being thrown?

[2015-04-16 11:20] janvorli commented on #717
You are right, it would (if we extended the current verification to the memory operands).
But there seems to be no other way to find out whether a division by zero or integer overflow happened.
Another bad issue could happen in case the memory of the target operand got unmapped from the address space by another thread before we had a chance to check.
I am still investigating if there is an alterna

[2015-04-16 11:26] janvorli commented on #717
Btw, Windows do the same thing as I was originally suggesting - decode the instruction, find the address of the operand and read its value. So it seems that unless we want to perform the check before every division, we don't have other option.

[2015-04-16 12:42] mikedn commented on #717
It looks like the x86 JIT [forces](https://github.com/dotnet/coreclr/blob/master/src/jit/codegenlegacy.cpp#L8081) the divisor into a register if it's not a local, I wonder if that's just a coincidence or it was done on purpose. RyuJIT doesn't do it but I supposed it could be modified to do it. Though I'm not sure if it's worth the trouble, this situation should be rare.

[2015-04-16 18:23] #709 closed

[2015-04-16 19:19] janvorli opened #720 "Fix all or most of the remaining warnings in CoreCLR on Linux"
There are some remaining disabled warning categories in the CoreCLR.
Ideally, it would be great to get warning free, but for some of the warnings it can be difficult.
Here is an overview of all the remaining disabled warnings with some description added, followed by a simple difficulty classification:
### -Wno-unused-private-field

There are private fields in classes that are not being used. There

[2015-04-16 21:01] biqas commented on #412
Suggestion is to support binary layout in IL.

There is already a project from Microsoft where concepts can be taken from:
https://microsoft.github.io/bond/manual/bond_cpp.html#about

So for example to have the ability to describe the desired binary representation of a class.
(This is not from bond project)

[code]

could be expressed like that

[code]

So there could be also some new kind of "new

[2015-04-16 22:05] janvorli commented on #301
I have started working on it.

[2015-04-16 23:01] jkotas opened #728 "Undo workaround that moved PAL to separate module"
Change #704 is supposed to be a short term workaround to help debugger. This issue tracks undoing it.

[2015-04-16 23:02] jkotas commented on #728
#724 should be rolled back as part of this change

[2015-04-16 23:03] jkotas commented on #728
https://github.com/dotnet/corefx/pull/1413 should be rolled back as part of this change

[2015-04-16 23:04] jkotas commented on #728
#719 should be rolled back as part of this change

[2015-04-17 01:18] jkotas commented on #728
https://github.com/aspnet/dnx/issues/1663 should be rolled back as part of this change

[2015-04-17 02:34] kangaroo commented on #728
What is the exact problem (and proposed solution) with the debugger module(s) right now?  Basically, why are we temporarily taking on this technical debt?

[2015-04-17 02:56] jkotas commented on #728
@mikem8361 Could you please share the plan you have for this?

I have not realized that the workaround will spread to this many places...

[2015-04-17 03:09] mikem8361 commented on #728
@jkotas, @kangaroo - Here are a few emails (most recent first) that address this issue:

1.	Short term (for initially getting debugging working end-to-end and for Build)
a.	Change the debugger module builds to share one PAL and share the PAL in the CoreClr module.  I’ll make the dbi/dac/sos/dbgshim changes and Prem will make the VS changes.
b.	The hardware exception interaction between CoreClr and

[2015-04-17 03:23] kangaroo commented on #728
Is there a particular reason we need multiple PALs?  If everything is loaded in the same process space, can't we link the PAL into coreclr and export the required functions from there?

I'll take a crack at some of your questions:

1. Signals are per process.  They can be delivered process wide, or thread specific -- but they are registered on a process basis.
2. mach_port_t's are a bit weird, but

[2015-04-17 03:33] noahfalk commented on #728
@mikem8361
I was chatting with Gregg today and there were signs that managers may be backing away from the demo goal. Perhaps you should chat with him to see if the short term workaround is even necessary any more?

@kangaroo
The reason for multiple PALs is for versioning independence. The DAC dll which is loaded is tightly bound to the CoreCLR version in the debuggee, and may be completely differ

[2015-04-17 04:13] kangaroo commented on #728
@noahfalk If there is process isolation between the debugee and debugger I'm not sure I understand the thread specific or signal registration issues, since those are inherently process specific anyways?

[2015-04-17 05:47] noahfalk commented on #728
@kangaroo
The signal registration issue comes up because both DAC and CoreCLR expect to be able to handle access violations from within their own code. You can ignore that DAC is used for debugging, and treat it merely as some other module that sometimes exists in the same process as coreclr.  On Linux the only way I am aware of for threads to handle their own access violations is by registering a

[2015-04-17 05:52] kangaroo commented on #728
@noahfalk So, if thats really the big problem it just seems like we need an infrastructure to have 'vectored' signal handlers when a debugger is attached so that DAC gets a 'first chance' at exceptions?

This seems like a much simpler problem to solve than 500 PALs in 200 modules with different API/ABIs.

[2015-04-17 06:11] noahfalk commented on #728
@kangaroo
We need some arrangement that gives DAC a chance to get exceptions, but I'm not sure how that eliminates the need for dac, dbi, dbgshim, VS... to have access to PAL functionality as well. It sounds like you have an alternate solution in mind but I'm not sure I understand what it is?

[2015-04-17 06:12] janvorli commented on #720
`-Wno-dangling-else` fixed by #723

[2015-04-17 06:39] kangaroo commented on #728
@noahfalk I don't think I have a clear understanding yet of all the requirements of dac, obi, dbgshim, VS, etc.  You're listing a lot of modules that clearly have interdependencies, and I don't fully grok them.

My point so far from what I do grok is -- if the problem is a PAL boundary in process between DAC and PAL, we can design a clean API to let DAC opt-in and opt-out (on load/unload with so c

[2015-04-17 07:01] josteink commented on #698
I can confirm that the merged PR has fixed this issue. Thanks!

[2015-04-17 07:01] #698 closed

[2015-04-17 07:20] josteink commented on #594
Anyone else willing to take a cursory look at this one?

@edmaste : You're already involved with FreeBSD and the LLVM-projects. Any chance you could contribute here, or find other suitable candidates?

Any help is appreciated. This is literally the last compilation bug to get coreclr into the linking-phase on FreeBSD.

[2015-04-17 07:26] josteink commented on #594
Anyone else willing to take a cursory look at this one?

@emaste : You're already involved with FreeBSD and the LLVM-projects. Any chance you could contribute here, or find other suitable candidates?

Any help is appreciated. This is literally the last compilation bug to get coreclr into the linking-phase on FreeBSD.

[2015-04-17 07:48] noahfalk commented on #728
@kangaroo
Sure thing, hopefully this additional context helps. We anticipate the end-to-end Visual Studio remote debugging scenario probably uses 4 processes across two machines:
1) Visual Studio process (devenv.exe) running on the developer machine displays the UI and takes input from the developer. Internally VS has an interface boundary between the UI and the backend debug engines, and they wil

[2015-04-17 08:16] ajensenwaud commented on #594
I already had a look over the last week but am not familiar enough with FPREG to fix it.

Anders Jensen-Waud

[2015-04-17 12:22] stephentoub opened #731 "mscorlib's MAX_PATH / MAX_DIRECTORY_PATH are Win32 values"
Path.MAX_PATH and Path.MAX_DIRECTORY_PATH are used to set buffer sizes and make decisions about whether paths are valid.  But they're hardcoded to Win32 values.  On Unix, they should pull the relevant values from pathconf.

[2015-04-17 12:31] jdh30 opened #732 "Simplified GC"
My personal feeling is that a lot of GC and PL-implementation research is tainted by the JVM. Therefore, I think the ability to run tests on Core CLR would be extremely valuable. Consequently, I would like to propose the idea of a simple GC drop-in for Core CLR that provides minimal features in the simplest possible way and can serve as a foundation for anyone interested to start working on garbag

[2015-04-17 12:54] emaste commented on #594
Which one is still missing? I'll try to take a look but haven't set up a build environment for this so can't easily check the remaining error.

[2015-04-17 12:57] josteink commented on #594
This is the part where we're literally missing one line of code:

https://github.com/dotnet/coreclr/blob/master/src/pal/src/include/pal/context.h#L128-L144

[2015-04-17 13:54] richlander commented on #732
/cc @Maoni0

[2015-04-17 14:20] emaste commented on #594
I think you want sv_fp[index].fp_acc

[2015-04-17 14:32] josteink commented on #594
That seems to build! That's *awesome*! Thanks for the help!

I'll prepare a PR to close this issue now :)

[2015-04-17 14:39] ygc369 opened #735 "Please allow class contain memory of other class or fixed size array"
Thus, total object number can be less, and GC pressure can be lower, even accessing class fields can be faster because they can be directly located by accessing memory only once, not twice or more.
Look at the following picture which show memory layout.
![image](https://cloud.githubusercontent.com/assets/11640479/7203556/fa5b064e-e54d-11e4-89c2-ccf3869daf18.png)
The class or array included in othe

[2015-04-17 14:57] janvorli commented on #594
LGTM, it is great to see to have the compilation issues behind us :-)

[2015-04-17 15:17] josteink commented on #594
@janvorli  Did you mean to comment on PR? :)

[2015-04-17 15:20] janvorli commented on #594
@josteink I am sorry, I keep mixing PRs with issues.

[2015-04-17 16:34] #594 closed

[2015-04-17 18:50] Maoni0 commented on #732
The topic of replacing the GC implementation in CoreCLR with a different one was touched on in issue #430. That's a long thread so I'll copy the relevant comment from @jkotas here:

The "alt-gc" direction is possible, but not as easy.

The GC features that the CoreCLR runtime depends on (for full functionality) are pretty rich. It includes features that are not always found in experimental GC impl

[2015-04-17 21:55] jdh30 commented on #732
Pinning would be a no-op with a non-moving collector. I didn't know .NET supported interior pointers so I don't know what a simple solution would look like but I guess a range tree?

Do you have a link to that project report? I cannot find it...

[2015-04-17 21:58] Maoni0 commented on #732
Sorry, I didn't notice that the link was not copied - here it is: http://wscg.zcu.cz/Rotor/NET_2004/papers/c37.pdf.

[2015-04-17 22:59] jkotas commented on #735
This is a bag of C# language feature requests. Similar feature requests have actually been topic of recent C# language design discussion - check https://github.com/dotnet/roslyn/labels/Design%20Notes, e.g. https://github.com/dotnet/roslyn/issues/126 is exactly one of your ideas.

I suggest that you look at the ongoing design discussions on C# language design, and open new feature requests for the

[2015-04-17 22:59] #735 closed

[2015-04-18 02:59] ygc369 commented on #735
@jkotas
Thank you for your reply, I'm sorry for not looking at  the ongoing design discussions on C# language design, but I think this issue shouldn't be closed. Though some of my ideas have been topic, others are not, such as using an existing class as struct. Please add my requests to design discussions on C# language design except those already tracked.
The picture above has someting wrong, ple

[2015-04-18 03:10] kangaroo commented on #735
@ygc369 Hi! So @jkotas isn't suggesting your issue shouldn't be addressed.  He's (rightfully) pointing out its filed in the wrong place.  This repository is for the _runtime_ which already supports the type of features you want.  You are asking for language extensions, so they should likely be filed in the roslyn repository and tracked by that team.

This doesn't say the issue or ideas aren't good

[2015-04-18 06:22] ajensenwaud commented on #629
Guys, I now have an OpenBSD machine running on Interoute VDC; it is working
very well.

The setup is quite beefy (12 vcpus and 32 GB RAM) -- let me know if you are
keen to help with setting up the build environment.

On Sat, Apr 11, 2015 at 7:34 PM, Jostein Kjønigsen <notifications@github.com

[2015-04-18 08:23] janvorli commented on #717
Fixed by #737

[2015-04-18 08:23] #717 closed

[2015-04-18 09:24] janhenke commented on #629
How about adding the account with the SSH keys from the Volunteers needed issue?

[2015-04-18 09:27] ajensenwaud commented on #629
Good idea, will do.

Anders Jensen-Waud

[2015-04-18 10:08] josteink commented on #629
@qbit Any chance of you helping out here?

This task here definitely seems to be the one which fits your interests and capabilities the most so far.

[2015-04-18 10:10] josteink commented on #629
@ghuntley: Still around? No news on the instances in over two weeks time means I'm seriously reconsidering accepting the offer from Matt (.NET foundation) at this point.

[2015-04-18 10:41] ajensenwaud commented on #629
Jostein we can set one up on Interoute where our OpenBSD is also running. Let me know what specific configuration we need and I will set it up (tonight).

Anders Jensen-Waud

[2015-04-18 10:54] josteink commented on #629
A 4 core 4 GB instance in Europe for regular work, plus a separate and temporary 4 core 4 gb instance for lldb research will be plenty.

[2015-04-18 12:49] qbit commented on #629
@josteink which task is this? Build machines?

There is some work going on to get llvm in a more up-to-date state. Apparently ours is a clobbering of older-than-3.5 and 3.5.

[2015-04-18 12:55] josteink commented on #629
@qbit yeah. setting up openbsd build-machines. And potentially verifying if we are making headway there as well.

[2015-04-18 12:59] qbit commented on #629
Ok, looks like the machine exists.  Is it running -current or a release? Running release will make things much much harder as most of the changes to the ports system that we will need are going to be in -current.

[2015-04-18 14:21] phillipkent commented on #629
@josteink Hi all, Interoute VDC has zones in EU/USA/Asia regions and you are welcome to set up VMs in each region. I have explained to @ajensenwaud how to do this. We also have a nice feature (which you maybe don't need for this particular project) of integrated private VPN networking between zones (based on high-bandwidth private fibre network operated by Interoute, not Internet overlays). Keep i

[2015-04-18 20:59] josteink opened #739 "coreclr fails final linking on FreeBSD due to PIC-errors"
Attempting to build coreclr gets the build to almost 100%, where it fails with the following error:

[code]

As I'm reading this `libcordbee_wks` is not built with PIC enabled, but as far as I'm reading the [CMakeLists.txt for wks](https://github.com/dotnet/coreclr/blob/master/src/debug/ee/wks/CMakeLists.txt), it should be:

[code]

Any advice is appreciated.

[2015-04-18 21:45] stephentoub commented on #420
There doesn't actually appear to be a CoreCLR problem here, and with https://github.com/dotnet/coreclr/commit/43e28513e1dd446d8536c54a5b05cde56d38d191 we now also check TMPDIR prior to just returning /tmp/, so I'm closing this. If an issue is discovered here subsequently, we can reopen or open a new issue.

[2015-04-18 21:45] #420 closed

[2015-04-18 22:38] ajensenwaud commented on #629
Jostein could you please send me your public ssh key. I have a FreeBSD 10.1 instance running in HK ready for us.

Anders Jensen-Waud

[2015-04-19 08:03] josteink commented on #629
@ajensenwaud

Note: I was asking for a **EU** instance because I was a bit annoyed by the latency of the US instance ghuntley setup on Azure. In that regard I'm not sure HK is going to be any better.

Anyway, if you already got an instance running, here's on SSH key and I can see how it works out:

[code]

Worst case scenario, is it much work to create a new instance in EU or move this one?

[2015-04-19 08:41] ajensenwaud commented on #629
Let's try. Otherwise I can quickly set up another one in EU.

Anders Jensen-Waud
+61 427 948 715

[2015-04-19 09:14] josteink commented on #629
@ajensenwaud It seems like your replies by mail get cut off a little and I can't find details on the instance. What DNS name do I connect to? Is the user josteink as here on github?

[2015-04-19 10:14] janvorli commented on #739
This is not caused by the missing `-fPIC` option, although the error message suggests that. The file where the issue occurs is an assembler file and the `-fPIC` option is for C/C++ compiler.
The most likely reason is that the `dbghelpers.S` refers to a symbol that is not defined anywhere. This kind of a problem tends to exhibit this way for assembler code.
From the error I guess the `FuncEvalHijac

[2015-04-19 10:52] ajensenwaud commented on #455
Hi Jan,

I am getting a hard error when trying to compile on OpenBSD because
libunwind is not available (and not available from the ports tree either).

Commencing CoreCLR Repo build
Setting up directories for build
Checking pre-requisites...
Commencing build of native components for OpenBSD.x64.Debug
Invoking cmake with arguments: "/home/aj/coreclr" DEBUG
which: clang++-3.5: Command not found.
CM

[2015-04-19 10:56] ajensenwaud commented on #455
@qbit, I have set up an account for your on our new OpenBSD instance in
Hong Kong:

IP: 103.232.35.201 (port 2201)
User: qbit

With the SSH key above.

Others -- please let me know if you would like access as well.

cheers

Anders

On Fri, Mar 20, 2015 at 1:54 AM, Aaron Bieber <notifications@github.com>
wrote:

[2015-04-19 10:57] janhenke commented on #455
I think the first step for OpenBSD is to have Clang 3.5 (or 3.6) and libunwind. libunwind is necessary for the exception handling afaik (stack unwinding to find the exception handler).

How is the current status of LLVM/Clang on OpenBSD?

[2015-04-19 11:07] janvorli commented on #739
It seems that it is being built for FreeBSD, but it looks to me that the problem could be that the  FuncEvalHijackWorker  is not defined as extern "C" and so the assembler code doesn't see it since it is mangled.
You can try to dump the funceval.cpp.o using `objdump -t funceval.cpp.o` and see if it is that case. The .o file should be in your build folder in the following subfolder:
`/src/debug/ee/

[2015-04-19 11:21] ajensenwaud commented on #455
LLVM/Clang can be installed as a binary package or from the Ports
collection.

On Sun, Apr 19, 2015 at 8:58 PM, Jan Henke <notifications@github.com> wrote:

[2015-04-19 11:24] janhenke commented on #455
Which versions? CoreCLR currently compiles with 3.5. Is lldb available too? If yes we would need lldb 3.6.

[2015-04-19 11:28] ajensenwaud commented on #455
$ clang -v
clang version 3.5 (trunk)
Target: amd64-unknown-openbsd5.6
Thread model: posix

lldb is not in ports, but I will see if it builds manually.

On Sun, Apr 19, 2015 at 9:24 PM, Jan Henke <notifications@github.com> wrote:

[2015-04-19 13:04] josteink commented on #455
Looks like openbsd work is progressing nicely. Which is good news indeed.

But I think it would be better if you created a separate issue for this, like "openbsd build-machine must be configured" or something similar.

Sounds OK?

[2015-04-19 15:01] josteink commented on #629
@ajensenwaud I still don't know what the name or IP of the HK machine is.

[2015-04-19 15:03] richlander commented on #720
@janvorli Curious, is this up-for-grabs or should someone (like you) self-assign?

[2015-04-19 15:42] josteink commented on #739
Hey Jan! Thanks for help. I checked into it and I get the *exact* same result here, so I'm guessing it has to be something different.

[code]
Any other "obvious" theories or common issues worth looking into?

[2015-04-19 16:20] kangaroo commented on #739
@josteink objdump the archive file (libcordbee_wks) and see if the symbol is present there.

[2015-04-19 16:42] josteink commented on #739
@kangaroo That gives me some *interesting* results:

[code]

The symbol seems to have one definition matching (exactly) the one from `funceval.cpp.o`, but two undefined ones. I'm going to venture a guess that this is not how things are supposed to be :)

[2015-04-19 18:52] janhenke opened #740 "Bump Clang version to 3.6?"
I want to discuss switch to Clang 3.6 for compiling CoreCLR. We are already using LLDB from the LLVM 3.6 release. It would be more consistent to use Clang from the same release.

For the Ubuntu 14.04 machines I created a PPA, which brings the LLVM 3.6 release from Ubuntu 15.04 to Ubuntu 14.04. It is available here: https://launchpad.net/~jhe/+archive/ubuntu/llvm-toolchain

[2015-04-19 19:19] ajensenwaud commented on #629
It is on the way, I am setting it up in London as we speak so you don't get any network latency issues. Please give me a few hours!!

[2015-04-20 01:18] ajensenwaud commented on #629
Hi Jostein,

Can you please use:

Host: freebsd-london.zbsd.org
User: josteink
Use your ssh key above to log on.

It has 12 cores and 32 GB of RAM, running in the Interoute London DC. I had
to install from the Interoute FreeBSD 10.0 base image and upgraded it to
10.1 overnight.

Thanks to Interoute for sponsoring this instance!

Others -- please let me know if you would like access.

On Sun, Apr 1

[2015-04-20 05:29] janhenke commented on #629
Hi @ajensenwaud I would also be interested in access to that machine if possible.

Key is the same as here: https://github.com/dotnet/coreclr/issues/455#issuecomment-83439951

Thanks to Interroute for the sponsoring of the BSD porting effort!

[2015-04-20 05:40] ajensenwaud commented on #629
Hi Jan, I have set up you as well -- your username is
janhenke@freebsd-london.zbsd.org.

Cheers

Anders

On Mon, Apr 20, 2015 at 3:29 PM, Jan Henke <notifications@github.com> wrote:

[2015-04-20 05:56] janhenke commented on #629
Thanks!

[2015-04-20 05:57] josteink commented on #629
@ajensenwaud I don't think the key was added correctly, because I'm getting asked for password.

Is the permissions on the `.ssh`-folder and `authorized_keys`-file set correctly?

[2015-04-20 06:06] ajensenwaud commented on #629
Jostein -- send me an email on Anders at jensenwaud dot com and we will sort it out.

Anders Jensen-Waud
+61 427 948 715

[2015-04-20 06:08] josteink commented on #629
Thanks. Will do.

[2015-04-20 09:51] ygc369 opened #741 "Reference counter can work together with Mark-Compact GC"
In the topic "https://github.com/dotnet/coreclr/issues/430#issuecomment-85859392", someone mentioned reference counter as alternative garbage collector, but I think reference counter and Mark-Compact GC can work together. C# and other dotnet language should allow programmers to alloc some objects managed by RC(reference counter), for example, use keyword "rc_new" to alloc them. Even if an object i

[2015-04-20 11:23] #333 closed

[2015-04-20 13:34] jkotas commented on #741
cc @Maoni0

Thanks for the suggestion. [Garbage Collection Handbook](http://gchandbook.org) lists hundreds of interesting memory management ideas, a few of them pretty similar to this one, with links to detailed papers written on them. The hard part is to make these ideas to work well-enough to be beneficial.

@ygc369 Are you interested in doing the experiment to prove that this particular idea is

[2015-04-20 14:02] jkotas commented on #740
We will likely raise the min bar at some point in future, but it is going to be a while.

We would like to support range of recent OS and compiler versions, to lower bar for adoption. Also, we require that the official build is done by officially released build of compilers.

LLDB 3.6 on Linux is outlier. We had to switch to it for SOS extension because of LLDB 3.5 on Linux is pretty broken (known

[2015-04-20 14:33] janhenke commented on #740
Okay. As an alternative I will look into changing the build.sh file to accept an optional version parameter, so the used version can be specified. Would that work for you? It could be handy to test newer version easily without bumping the default.

[2015-04-20 14:54] jkotas commented on #740
Sounds good to me.

[2015-04-20 18:03] libengu opened #743 "Create a plan to write runtest in Python"
Investigate what is currently missing and available in cross-platform story with regard to testing purpose. Create a plan to write runtest and its supporting facilities in Python so that finally it could reach real cross-platform usage. We can use Windows as proof-of-concept first. This plan should also satisfy different JITs testing needs. A related issue is in https://github.com/dotnet/coreclr/i

[2015-04-20 18:30] briansull commented on #598
I am investigating this issue

[2015-04-20 18:45] richlander opened #744 "How to train your dragon!"
As you know, the .NET Team, as a broad group, is new to open source. We're doing some things right and other things less so. We might as well just get this out in the open and detail the specific things that  could/would/should go better. It's an issue!

Certain contributors (*cough* @kangaroo) have been doing an excellent job pointing out various things that MS folks need to change for .NET Core

[2015-04-20 18:46] josteink commented on #740
I'm also for having clang-version easily selected with a parameter.

I know the FreeBSD-build isn't up and going yet, but if all it takes to *test* it is tweaking a parameter, I can quickly provide feedback if a potential clang-upgrade in the future will be causing troubles in FreeBSD-land or not.

[2015-04-20 20:13] jkotas commented on #227
https://github.com/dotnet/coreclr/pull/742 made crossgen build on Windows.

[2015-04-20 20:25] Maoni0 commented on #741
Yeah, feel free to experiment.

It's very common that RCed objects are not immediately freed when their ref count gets to 0 - getting rid of cycles is one reason as you pointed out; another common reason being ref counts are often only kept from heap objects to heap objects (heap RCs) and not from stack to heap objects because it's a very frequent operation that stack would hold/let go references

[2015-04-20 21:24] Petermarcu commented on #744
@richlander Should we open a similar issue on other core repos?

[2015-04-20 21:43] richlander commented on #744
@Petermarcu That's a fine idea. There are some repo-specific challenges that would make more sense in that context. Also, people primarily contributing to the other repos are free to join this conversation, too.

What I said must be all perfect, since we haven't heard anything back yet. _Awesome!_

[2015-04-20 21:47] Petermarcu commented on #744
I just created another one in dotnet/corefx pointing back to this one. https://github.com/dotnet/corefx/issues/1445

[2015-04-20 22:18] sergiy-k opened #747 "Port CoreConsole runner to Unix"
This is need to in order to be able to run Roslyn cross-platform.
The Windows version of CoreConsole can be found here: src\coreclr\hosts\coreconsole

[2015-04-20 22:42] bjjzqd opened #748 "Heap Allocations/Large Pages"
I am curious how the gc increases the size of the managed memory when allocating new objects. Can you describe how the allocator determines the size to increase a heap segment by? In the documentation it states typical allocations are 8k - are allocations in any way biased towards this size?

I am interested in experimenting with larger allocation sizes and even using the OS's support for large pa

[2015-04-20 23:32] mikem8361 commented on #503
Fixed with merge #697

[2015-04-20 23:32] #503 closed

[2015-04-20 23:52] mikem8361 opened #749 "Address the PAL side-by-side issues"
Since we now use the PAL in various separate modules (various VS modules, dbgshim, dbi, dac, sos and coreclr), these PAL instances need to work together when it comes to global resources like threads and signals. See issue #728 for more detail descriptions of the problem and various solutions. We are temporarily a separate shared PAL module.

The following work needs to be done:
1) Threads - Deal

[2015-04-20 23:56] noahfalk commented on #728
@kangaroo
Just wanted to check if this info was helpful and if you still had questions/feedback on the current approach? Thanks!

[2015-04-21 00:10] mikem8361 opened #751 "Remove the requiring a call to PAL_InitializeCoreCLR to use the hosting APIs on Linux"
To work around some current issues using the hosting API, PAL_InitializeCoreCLR needs to be called instead of PAL_Initialize before any coreclr hosting API's are called (CorHost2::Start, CorHost2::CreateDelegate, etc.) PAL_InitializeCoreCLR does everything PAL_Initialize does, but the PAL (whether shared or statically linked) needs to know the coreclr path to properly initialize.

[2015-04-21 01:06] ellismg commented on #744
FWIW, I don't think a general catchall issue is the right approach here.  I would much prefer that we take the guidance you outlined and add it to a contributing guide, ideally shared across all of the dotnet foundation projects.

For instances where we aren't doing the right thing, let's open specific issues about the problem and address them.  Trying to slam a chat-room into GitHub issues seems

[2015-04-21 01:33] ygc369 commented on #741
@Maoni0
What you said is just what I want to add. Heap RC is enough, no need for stack RC if CLR only check RC after local variables are released. Keeping track of RC will let CLR know which part of allocated memory can be reused before GC happens, so GC would not have to happen frequently.
There are other benefits of RC, for example, "copy on write(COW)".tech need it. If I can get the RC of an ob

[2015-04-21 01:35] Maoni0 commented on #748
The doc says allocation *quantum* is typical 8k:

"The Allocation quantum is the size of memory that the allocator allocates each time it needs more memory, in order to perform object allocations within an allocation context. The allocation is typically 8k and the average size of managed objects are around 35 bytes, enabling a single allocation quantum to be used for many object allocations."

is

[2015-04-21 01:58] ajensenwaud commented on #629
Hi all,

We have shifted the London instance to the Frankfurt data centre.
Jostein/Jan, please connect to freebsd-frankfurt.zbsd.org going forward
instead of freebsd-london.

Apologies for the outage.

If anyone else from the port team would like access, please le me know.

Anders

On Mon, Apr 20, 2015 at 4:09 PM, Jostein Kjønigsen <notifications@github.com

[2015-04-21 02:06] bjjzqd commented on #748
Yes, I want to experiment with increasing the allocation quantum, or at least understand how the allocation quantum is decided.

[2015-04-21 02:27] richlander commented on #744
@ellismg Good feedback. We have been discussing some of these issues in the CoreCLR room. The problem with a chat room is that it's not great for making a statement (with formatting!) for folks to see (for more than 5 mins until it scrolls out of view). So far, we don't seem to be drowning in the chat response here.

I agree that this is great to include in the contributing guide for all the proje

[2015-04-21 02:40] ygc369 commented on #741
@Maoni0
(Add Note: objects managed by RC can't be weak referenced, otherwise reusing their memory will cause problems.)
I have an idea for optimization of RC, that is grouping objects which need RC.
All objects in a group share the reference count of the group leader object, and CLR only keep track of the RC of the group leader object. When the rc of the group leader object is zero, all memory of

[2015-04-21 05:06] josteink commented on #629
That works for me :+1:

[2015-04-21 06:21] ajensenwaud commented on #629
Did your new account work?

Anders Jensen-Waud

[2015-04-21 06:24] ellismg opened #755 "Pull corefx specific APIs out of libcoreclrpal when reasonable."
We should adopt the precident that @bartonjs has set with fdc9a0419c55acafa8cd087964e70e0ed87460e1 and take the corefx specific APIs out of the PAL and into standalone native libraries for the cases where we were just using the PAL as a nice place to dump some native code.

/cc @stephentoub @jkotas

[2015-04-21 06:25] josteink commented on #629
No problem.

Emacs and clang installed, and build getting to that same almost but not quite 100%.

Like I said: looking good. :)

[2015-04-21 06:42] Maoni0 commented on #748
This is explained in the doc:

"Efficient cache usage: The allocator allocates memory in allocation quantum units, not on an object-by-object basis. It zeroes out that much memory to warm up the CPU cache because there will be objects immediately allocated in that memory. The allocation quantum is usually 8k."

Obviously the number could be larger if you are asking for an object that's larger than

[2015-04-21 07:26] kangaroo commented on #728
@noahfalk Sorry, I'm traveling right now and haven't had time to fully go through this yet.  Its certainly a non-blocker, but it is on my todo list.

[2015-04-21 09:39] janhenke commented on #629
Looks good here too.

[2015-04-21 09:41] janhenke commented on #629
Hmm suddenly my shell is gone. I did not change anything, was just cloning my repository with git. Is there a kind of hang on the machine?

[2015-04-21 09:57] josteink commented on #629
Yeah. Machine seems completely frozen for me as well now.

Emacs wont update/respond, in a open shell, I cant get "top" to load, and opening a new shell inside screen fails too.

It seems pretty hosed :)

[2015-04-21 10:04] xied75 commented on #629
Hi guys,

If it's the frankfurt VM we are talking about, it seems there are some attack going on from China. :)

I'll see how we block it from the VDC level.

[2015-04-21 10:42] ajensenwaud commented on #629
Hi all,

I can't login either from the ESX web console either -- I can login in, but
login cannot hand off to tcsh and stalls.

This issue was the reason we migrated from the London DC to Frankfurt.

I will try and reboot the instance now and see if that helps.

On Tue, Apr 21, 2015 at 8:05 PM, Dong Xie <notifications@github.com> wrote:

[2015-04-21 10:53] ajensenwaud commented on #629
ZFS had some extremely low vm kmem and arc size preinstalled by the FreeBSD
template. I have removed the low memory limits so ZFS allocates as much as
possible (the VM has 32 GB RAM so there should be plenty). I assume this is
what could have caused the kernel to hang. Let me know if the issue still
persists.

On Tue, Apr 21, 2015 at 8:42 PM, Anders Jensen-Waud <anders@jensenwaud.com>
wrote:

[2015-04-21 12:02] khellang commented on #744
This :100: times. There are still way too much going on in email threads.

See https://github.com/NuGet/NuGetGallery/issues/2400#issuecomment-91590177 as an example:

[2015-04-21 12:11] ygc369 opened #756 "Please make weak reference a language feature instead of class"
Current weak reference is class, when we use it, we must alloc slots from short or long weak reference table. Thus we can't use too many weak references. But I think this is not necessary. When GC happens, CLR can update strong references of living objects after compaction, why not update weak references of freed objects to be null at the same time? So weak reference can be a language feature inst

[2015-04-21 13:00] ygc369 opened #757 "Can "Math.DivRem" do division operation only once?"
Currently it does division twice, but most CPUs support to get the two values by doing division only once.

[2015-04-21 13:16] kangaroo commented on #756
@ygc369 Language features like this should be made against the roslyn repo.  There may be some runtime support needed here, but that work would coincide with a language spec update.

[2015-04-21 13:17] kangaroo commented on #744
If people think 'email is faster than github' then they really should tune their github notification settings to get emails :)

[2015-04-21 13:26] ygc369 opened #758 "Please provide a way to let the derived class have different static memory from base class"
Currently all derived classes share the same static memory with base class. But sometimes, we need difference static memory.
For example:
class A
{
static int a;
unique int b; // for example, use keyword "unique" to specify that if a class inherit from class A, then its static field "b" does not share the same memory with class A's field "b".
};
class B:A{};
B.a=0;B.b=10;
A.a=1;A.b=2; //now B.a=A.

[2015-04-21 14:32] jkotas commented on #756
System.Runtime.InteropServices.GCHandle is unsafe low-level weak reference type that avoids the problem with extra allocation that you are pointing out.

The feature request to create a first class syntax for it should go into Roslyn repo as @kangaroo pointed out. There is actually a very similar one already - focused on event handlers: https://github.com/dotnet/roslyn/issues/101

[2015-04-21 14:32] #756 closed

[2015-04-21 14:36] jkotas commented on #758
Again, language feature requests should go to the Roslyn repo.

There is also a lot of ambiguity in your proposal - I do not see how the compiler/runtime can figure out the right copy of the static to use in cases when the field is accessed outside context.

[2015-04-21 14:36] #758 closed

[2015-04-21 14:37] jkotas commented on #757
Math.DivRem is not in the .NET Core public surface, but I agree that it would be nice for the code generators to recognize the pattern and perform the division just one.

cc @CarolEidt @cmckinsey

[2015-04-21 15:05] stephentoub commented on #757
cc: @KrzysztofCwalina, as IIRC, Krzysztof bumped up against this as a measurable cost when doing some recent fomatting/parsing experimentation.

[2015-04-21 15:51] aggieben opened #760 "'Type' does not contain a definition for 'IsEnum'"
In building a project I'm converting to CoreCLR, I ran across this error:

What's odd to me about this is that everything I can find online indicates that `Type` should be available, and the `IsEnum` property [should be available](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Type.cs#L1086).  Fowler's [reverse package search](http://packagesearch.azurewebsites.net/?q=Type)

[2015-04-21 15:52] CarolEidt commented on #757
This would not be a very difficult pattern to recognize: a div and a rem with incoming value numbers that match, though it doesn't "fit" with any existing (or other common) optimization patterns.  The thing that would be challenging would be to deal with the resulting IR node that would produce two values in registers.  Although that would not be all that difficult, it would require more pervasive

[2015-04-21 15:57] stephentoub commented on #760
@aggieben, you probably want .GetTypeInfo().IsEnum (GetTypeInfo is an extension method from the System.Reflection namespace).  A bunch of Type's surface area was moved to TypeInfo, including IsEnum I believe.  Regarding dotPeek, I've not tried it, but if I had to guess it's not paying attention to the [assembly: TypeForwardedTo(typeof(Type))] attribute in System.Runtime.dll, which is forwarding to

[2015-04-21 15:57] tannergooding commented on #757
:+1:

In short term, couldn't `Math.DivRem` be treated as a special-case (intrinsic)? I wouldn't think that this optimization wouldn't really require many changes.

Long term though, adding an optimization pattern to recognize `/` and `%` with matching value members would be great.

[2015-04-21 16:03] CarolEidt commented on #757
@tannergooding - you would think that it would be simpler, but actually it requires the messiest part of the work (handling the node in the IR that produces two values), while only relieving the JIT of what is probably the more straightforward part of the implementation.  It might actually be easier on x86 (32 bit) where we already have to deal with longs that occupy multiple registers.

[2015-04-21 16:10] mmitche opened #761 "Add cppcheck and sloccount static analysis for coreclr"
Add cppcheck and sloccount runs and scripting for coreclr.

[2015-04-21 16:13] mmitche commented on #761
Also add scripting for this so that it can easily be run locally;

cppcheck --enable=all -j 5 --xml --xml-version=2 --force src/** 2>
cppcheck.xml sloccount --wide --details src/** > sloccount.sc

[2015-04-21 16:13] mmitche commented on #761
/cc @janhenke

[2015-04-21 16:38] stephentoub opened #762 "System.Linq.Expressions.Tests.dll tests on OSX fail with EXC_BAD_ACCESS"
Running the System.Linq.Expressions tests from corefx:
[code]
crashes will the following stop reason and stack trace:
[code]

[2015-04-21 16:40] stephentoub opened #763 "System.Numerics.Vectors.Tests.dll tests on OSX fail with SIGABRT"
Running the System.Numerics.Vectors tests from corefx:
[code]
crashes will the following stop reason and stack trace:
[code]

[2015-04-21 16:53] AdamSpeight2008 opened #764 "PCL+System.Type allow usage of operators (`==` & `!=`)"
If the type `System.Type` supported the operators `=` and `<>`. We then could use the `Select Case` to do a matching over types.

For example [Portable\SymbolDisplay\ObjectDisplay\FormatPrimative](https://github.com/dotnet/roslyn/blob/master/src/Compilers/VisualBasic/Portable/SymbolDisplay/ObjectDisplay.vb#L37) rewritten to use it.

[code]

If I try to use as it as the way I described this is foll

[2015-04-21 18:08] Maxwe11 commented on #764
For now `TypeCode` could be used but it limited with predefined set of types

[2015-04-21 18:11] n8ohu commented on #744
@kangaroo: Agreed, since github provides the tools that can make this work, it's up to the folks in Redmond (or wherever) to learn to use them to the fullest extent possible.

[2015-04-21 18:23] #609 closed

[2015-04-21 18:23] #610 closed

[2015-04-21 18:45] AdamSpeight2008 commented on #764
@Maxwe11 The pattern I described above does work, just not for PCL.

[2015-04-21 19:37] aggieben commented on #760
Thanks!

[2015-04-21 19:37] #760 closed

[2015-04-21 20:35] noahfalk commented on #728
no rush at all, just wanted to ensure you saw it. Happy travels ; )

[2015-04-21 22:18] stephentoub opened #767 "System.Collections.Tests.dll on OSX fail with EXC_BAD_ACCESS"
Running the System.Collections.Tests from corefx:
[code]
crashes intermittently on OSX.  I was able to get it to do so once while being debugged... here's the stack trace:
[code]
It was easier to repro without the debugger attached, and core dumps had a similar but not identical stack:
[code]

[2015-04-21 23:13] ajensenwaud commented on #629
How's the Frankfurt VM running now after the adjustments?

Anders Jensen-Waud
+61 427 948 715

[2015-04-22 01:50] sergiy-k opened #770 "Segmentation fault in GC code on Linux while running an exception test"
On Linux we get a crash in GC when the following code is executed in a loop:

[code]

Here is the call stack:

[code]

[2015-04-22 04:06] M-Zuber commented on #744
Re the comments on github vs email - would a dedicated app (desktop or Web) for github issues change anything?

[2015-04-22 04:29] richlander commented on #744
@M-Zuber All depends what the app did! Certainly, I don't really appreciate the level of email that GitHub generates. I have a rule in outlook setup to alert me to "@richlander" references in email so that I can stay on top of questions or requests for me to do something.

I'd want to know the following (not necessarily in the same view) for a set of repos:

- Issues / PRs that @ me.
- Issues / PR

[2015-04-22 04:53] richlander commented on #744
This, I believe, is a great case study to focus on: #770. Three main good points:

- Clear statement of problem (what looks like) before any investigation was done. "It's broken and we have no idea why!"
- Important artifacts are shared.
- Excellent use of markdown, making the issue pleasant to look at.

Any other thoughts? Is my analysis correct?

/cc @sergiy-k, @kangaroo

[2015-04-22 05:02] sharwell commented on #744
For external contributors, it's a good idea to attempt to reproduce the issue before requesting more information (alternatively worded "don't assume the user provided too little, until you *know* they provided too little). In the case of #770, this issue was created by someone who appears more closely related to the project, so I would make a suggestion that they add a brief note at the top indica

[2015-04-22 05:58] janhenke commented on #629
Log in works again, but the disk is completely full.

[2015-04-22 07:03] josteink commented on #739
Hey @ajensenwaud & @janhenke .

Any of you think you can take a look at this issue? The next few weeks I'll be overly busy IRL and wont have time to do any hacking on this project, and right now this seems to be the only left which blocks
further progress.

[2015-04-22 07:37] MattWhilden commented on #764
Ugh. Understandably frustrating. Unfortunately, I think think this is more properly titled "Add operator overloads for == and != to Type in PCL" but I may have misunderstood the issue. If that's the case, it may not actually be fixable... but I'm not the expert!

@weshaggard @davkean @dsplaisted What's the right path forward here? Presumably we can't change the surface area for PCL?

[2015-04-22 08:07] ygc369 opened #772 "Please trigger an event after GC every time."
Sometimes we want to do someting after GC, but we don't know when GC finish.

[2015-04-22 08:23] xied75 commented on #629
Please add a new DATA disk and extend the ZFS partitions. We probably need to rebuild the template with bigger root.

Best,

Dong

[2015-04-22 09:02] Maoni0 commented on #772
Various options available - depending on what you are doing. Let us know if none of these work for you.

[ICorProfilerCallback2::GarbageCollectionFinished](https://msdn.microsoft.com/en-us/library/ms230271(v=vs.110).aspx)
[GC End ETW](https://msdn.microsoft.com/en-us/library/ff356162(v=vs.110).aspx#gcend_v1_event)
[GC.RegisterForFullGCNotification](https://msdn.microsoft.com/en-us/library/system.g

[2015-04-22 09:16] janhenke commented on #739
I am also constrained on time right now, but I will try to take a look at this one too.

[2015-04-22 09:38] kangaroo commented on #744
@richlander I think #770 is definitely going in the right direction.  Its clear, concise and with the right amount of detail, at least for me.  What @sharwell said is right tho, is it 'up for grabs' or is @sergiy-k working on it.  I think 1 more piece of detail is needed:

' I'm working on this right now '

or

' I'm not working on this right now, so if someone wants to pick it up let me know '

T

[2015-04-22 14:30] janvorli commented on #744
I have thought that the "up for grabs" tag is the marker to indicate whether the creator of the issue wants someone else to look into that. I understand the unassigned state as "I want to assign it to someone specific, but I have not figured out to whom yet". Say that we have a bug in the jitter and I am trying to figure out who on the jitter team should take a look.

[2015-04-22 14:59] kangaroo commented on #744
@janvorli If you can't figured out who to assign it to yet, isn't it inherently up-for-grabs for the community?  I mean you can always remove the label and assign it in the future if/when you figure out where you want to assign it.

Thoughts?

[2015-04-22 15:26] stephentoub commented on #744
Time will tell whether it's a good scheme or not, but the current approach employed by the corefx repo is outlined at https://github.com/dotnet/corefx/wiki/Issue-Guide.  In short, the goal is that every issue is assigned to someone from Microsoft, but that really just means that person is responsible for keeping an eye on the issue, making sure it's not lost, etc.  If that person is actually worki

[2015-04-22 15:30] mmitche commented on #761
First run is currently running http://dotnet-ci.cloudapp.net/job/dotnet_coreclr_cppcheck/1/console

[2015-04-22 15:48] #748 closed

[2015-04-22 16:11] davkean commented on #764
(Remember, PCL just reflects the underlying platforms, so if something is missing from PCL it's because it's from one of the platforms)

@nguerrera did some investigation around this, and we weren't happy with the semantics of the equality operations. Nick can provide more details.

[2015-04-22 16:26] kangaroo commented on #744
@stephentoub I don't think it should be strictly required that all the projects follow the exact same rule-set.  While in an ideal world that would be nice, it may not turn out to be practical.

[2015-04-22 16:30] stephentoub commented on #744
@kangaroo, totally agree, was just sharing the approach as a reference point.

[2015-04-22 16:30] kangaroo commented on #744
:+1:

[2015-04-22 17:03] mmitche commented on #761
PR for script to run this #775

[2015-04-22 17:46] mmitche opened #777 "Regression: System.Reflection.Metadata.Tests.MetadataReaderTests.CanReadFromSameMemoryMappedPEReaderInParallel"
From: http://dotnet-ci.cloudapp.net/view/All/job/dotnet_corefx_outerloop/491/testReport/junit/System.Reflection.Metadata.Tests/MetadataReaderTests/CanReadFromSameMemoryMappedPEReaderInParallel/

MESSAGE:
System.AggregateException : One or more errors occurred. ---- System.BadImageFormatException : Invalid COR20 header signature. ---- System.BadImageFormatException : Invalid COR20 header signature.

[2015-04-22 17:49] stephentoub commented on #777
Dup of https://github.com/dotnet/corefx/issues/1050

[2015-04-22 17:50] libengu opened #778 "Investigate Inline test case failures"
39 inlining optimization test cases were added in CoreCLR repo in https://github.com/dotnet/coreclr/pull/776. 1 of them has issue if run with LLILC. Investigate the cause. The test case is Inline_Vars.

[2015-04-22 17:55] mmitche commented on #777
Closed as dupe.

[2015-04-22 17:55] #777 closed

[2015-04-22 17:55] libengu commented on #778
This issue is supposed to be in LLILC repo. Close the issue here.

[2015-04-22 17:55] #778 closed

[2015-04-22 18:09] nvivo opened #779 "Expose a 64-bit monotonic timer"
.NET currently exposes Environment.TickCount which is 32 bit.

Would be nice if a 64-bit monotonic timer was provided based either on `GetTickCount64` or something else, so we can avoid different dependencies on windows and mono.

[2015-04-22 18:21] mikem8361 commented on #501
Currently implementing this issue in branch: https://github.com/mikem8361/coreclr/tree/dactablefile. The new interface (ICorDebugDataTarget4) needed to be a variation of ICorDebugDataTarget instead of ICLRDataTarget. This issue needed to be fixed now because we have managed code running in the target and in the debugger process and the "0_dacTable" file with no pid conflicted.

[2015-04-22 18:31] adityamandaleeka commented on #747
While looking at the difference between CoreRun and CoreConsole, I realized that a lot of code can be shared between the two. I will send a PR soon that will add the directories `unixcoreconsole` and `unixcoreruncommon` as peers to the existing `unixcorerun` under src/coreclr/hosts.

- `unixcoreconsole` will contain the new Unix version of CoreConsole.
- `unixcoreruncommon` will contain code that

[2015-04-22 18:35] stephentoub commented on #747
I'm curious, do we actually need two different runners?  Or if the primary difference is that unixcoreconsole will automatically try to load a .dll of the same name, could we just add that behavior into corerun somehow?

[2015-04-22 18:50] adityamandaleeka commented on #747
It's possible, but we'd have to change how the arguments work. Today, `./corerun HelloWorld foo` will run HelloWorld and pass `foo` as an argument, but if we were to make CoreRun work like CoreConsole, it would try to execute corerun.dll and pass `HelloWorld` and `foo` as arguments to it.

We'd have to disambiguate between the two cases with some extra information (perhaps an argument that tells i

[2015-04-22 18:53] stephentoub commented on #747
Another option would be to say that "corerun" is a reserved name; if you invoke with "corerun", then it does the corerun behavior, and with any other name it does the CoreConsole behavior.

I don't know, but having two different runners that are otherwise identical seems a bit unfortunate.  Any other opinions?  @janvorli? @kangaroo? @jkotas?

[2015-04-22 19:13] jkotas commented on #747
I would prefer to have multiple different runners.

The runner is not that much code. I do not see a problem with having multiple copies. Consider - if we went with the unified runner - are we going to also unify it with the dnx runner (it is also very similar...)?

Lesson from the past - we had one unified runner in the Silverlight days and it was non-maintainable disaster.

[2015-04-22 20:11] akoeplinger commented on #747
I'm in favor of unifying the two, they are so similar that it's just confusing IMO. Making corerun a reserved name as @stephentoub suggested seems fine to me.

[2015-04-22 20:31] janvorli commented on #747
I'd prefer to have multiple runners, provided they build from a common source.

[2015-04-22 20:47] sergiy-k commented on #747
I agree with @janvorli and @jkotas especially given that the core code will be shared between the two.

[2015-04-22 21:12] ellismg commented on #744
I think the goal here is that we blur the lines between Microsoft folks and External folks.  Perhaps we should stop thinking in terms of "internal" and "external" contributors, with respect to the contribution guide and just have that be the place we list best practices.  Then we shift the problem from: "This Microsoft person isn't behaving the right way." to "A contributor isn't following the gui

[2015-04-22 21:36] richlander commented on #744
I agree that blurring the lines between MS and community folks is a very good goal. I'm very happy to update the contributor guide along those lines.

This was an experiment. I was expecting a few more "DO"/"DON'T" suggestions than I've seen added. This is partially because I stole a bunch of the ones that various folks had already raised on specific issue/pr threads.

For me, success was simply a

[2015-04-22 23:43] jkotas commented on #779
Take a look at System.Diagnostics.Stopwatch.

If there are things you would like to see improved in Stopwatch, https://github.com/dotnet/corefx/ is the right repo for that. The code for System.Diagnostics.Stopwatch should show up in the corefx repo soon.

[2015-04-22 23:45] nvivo commented on #779
I'm aware of stopwatch.  But those are different things. TickCount is implemented in coreclr repo.

[2015-04-23 00:05] nvivo commented on #779
Just for clarification:

Most people implement a call to GetTickCount64 because it's faster than QueryPerformaceCounter and high precision is not required.

It seems Threading.Timer uses another yet implementation different from QueryPerformanceCounter on newer Windows versions.

The point is that the only fast monotonic counter exposed is TickCount that is 32 bit and there is no reason to not exp

[2015-04-23 04:48] mikem8361 commented on #501
Until all the issues can be worked out, temporarily fix that the current dac file code doesn't work when multiple processes are running managed code.  PR #789.

[2015-04-23 08:32] MattWhilden commented on #744
I've been tagging things here rather haphazardly in my free minutes "while code compiles". If we can develop a reasonable set of meta information that helps everyone know what's up, I'm super happy to review and retag to that reality.

[2015-04-23 09:52] kangaroo commented on #744
@ellismg Touches on a point I've raised a few times.  Please, please please do not have 'internal/external' contributor blurred lines.  If the bar for commit is code review, 2 developer sign off, etc.  Do that for every PR.  This is not happening today fwiw.

[2015-04-23 10:19] ajensenwaud commented on #629
the base template it came out of only had 10 GB (that was using the default
FreeBSD 10.0 install). I am rebuilding a new VM manually now and will
revert once it is set up.

On Wed, Apr 22, 2015 at 6:24 PM, Dong Xie <notifications@github.com> wrote:

[2015-04-23 10:20] #740 closed

[2015-04-23 11:08] ajensenwaud commented on #629
Hi jostein / Jan, Can you please try logging in again -- I have rebuilt the
instance with a 100GB drive and more memory.

On Thu, Apr 23, 2015 at 8:19 PM, Anders Jensen-Waud <anders@jensenwaud.com>
wrote:

[2015-04-23 11:12] josteink commented on #629
Next time (if) you (need to) rebuild it, you should consider not changing the host-keys.

Other than that, it works fine now, with insane amounts of memory available :)

[2015-04-23 11:26] janhenke commented on #629
Thanks, seems to work nicely.

[2015-04-23 16:21] janvorli commented on #739
@josteink The `objdump` result you are getting is actually ok. The lib is a collection of multiple `.o` files and only one of them implements the `FuncEvalHijackWorker` while the other two just refer to it. One of them is the `dbghelpers.S.o`.
I get the same result on my Ubuntu.
Now I think I know what causes this issue. In the `src/dlls/mscoree/coreclr/CMakeLists.txt`, there is this piece of code

[2015-04-23 16:37] janhenke commented on #739
Thanks @janvorli for the hint. That seems to fix it. We got a new linker problem though
[code]
What is libdl? Is it being build by coreclr or do we miss a dependency?

[2015-04-23 16:48] janhenke commented on #739
Found it out. libdl provides dlopen on Linux and OS X. On FreeBSD it does not exists. dlopen is implemented in libc.

\o/ I got a complete build here. Let me prepare a PR. :)

[2015-04-23 17:11] Djuffin opened #792 "Make sure dbgshim can attach to processes with more than 1000 modules."
https://github.com/dotnet/coreclr/blob/master/src/dlls/dbgshim/dbgshim.cpp#L583

[2015-04-23 17:24] #739 closed

[2015-04-23 19:29] josteink opened #793 "FreeBSD needs CI-build"
With FreeBSD now having a working build (yay!), we need to setup an official CI-build so we can avoid breaking it in the future.

@richlander You said you could help make this happen. Do you need anything from the FreeBSD port-team to get this going?

[2015-04-23 20:32] richlander commented on #744
@kangaroo I'm not sure that's against was @ellismg said. I interpreted what @ellismg said as being very aligned with what you are saying. I all depends what one means by "blurred". I take that as one unified set of guidance that everyone follows, not two distinct sets.

[2015-04-23 20:44] ellismg commented on #744
In CoreFx (and I think this has bleed into the other repositories) we were given guidance that two Microsoft folks needed to sign off on every change.  I think we've been good about following that, with the following caveats:

1. We have always taken the guidance to mean that for changes authored by Microsoft folks, the author counts as one code reviewer.  So changes authored by Microsoft folks us

[2015-04-23 20:45] richlander commented on #793
@janhenke was asking the same thing in the gitter. @mmitche is looking into it. There is no stock image for FreeBSD in the Azure gallery, so it will require a little work on our side.

Hurrah!! Congrats, FreeBSD Port Team. Nice job. I guess, however, that this is just the first milestone.

[2015-04-23 21:58] kangaroo commented on #744
@richlander @ellismg

This is a perfect example of what I meant.  You cannot inherently self code-review.  If the bar to commit is 2 reviews, make it 2 reviews across the board.

This should be a long term goal to go away imo.

Rules are made to be broken?  Please define trivial so that its clear to everyone.

Again, its not about falling down, its about clear and consistent guidelines and contrib

[2015-04-23 22:11] ellismg commented on #744
We are working towards that.  Depending on the project, we'll what "success" looks like will ultimately be different.  Roslyn doesn't do any development out of TFS anymore, AFAIK.  CoreFX still has a bunch of code we are working to open source and changes which impact both the closed and open source components are often done out of TFS so we can validate everything atomically.  Or there are change

[2015-04-24 01:00] ajensenwaud commented on #793
Hi all,

In the interim I have set up a Jenkins CI server in our build environment. You can access it here:

http://freebsd-frankfurt.zbsd.org/jenkins/

This should do for now -- happy to help out on the .NET CoreCLR side if you need help setting up a FreeBSD Azure instance with Jenkins, etc. I can set it up very quickly.

If anyone

[2015-04-24 02:30] jkotas commented on #200
@cwensley has run into this when trying to P/Invoke method with struct CGRect argument on Mac.

[2015-04-24 02:34] jkotas commented on #200
@cwensley has run into this when trying to P/Invoke method with struct CGRect argument on Mac.

[2015-04-24 04:29] koobs commented on #793
:+1:

[2015-04-24 04:47] ghuntley commented on #793
:+1: @josteink and to the entire port team!

@richlander there is indeed a stock image available in the Azure Gallery (MSFT Open Technologies hosts it) that works perfectly. ```portteam.cloudapp.net``` is running it.

https://vmdepot.msopentech.com/List/Index?search=tag:freebsd

Unfortunately NetBSD and OpenBSD however do not currently work on Azure.

[2015-04-24 05:05] janvorli commented on #770
Fixed by #794

[2015-04-24 05:05] #770 closed

[2015-04-24 05:08] janvorli commented on #767
This is almost for sure the same issue as #794

[2015-04-24 06:36] richlander commented on #793
The HN visibility is unexpected: https://news.ycombinator.com/item?id=9431368.

For the sake of history, here is the original "FreeBSD Port Team: Volunteers needed" issue #455.

You can see all of the FreeBSD merged/closed issues and PRs here (although naturally some are still open):

PRs: https://github.com/dotnet/coreclr/pulls?q=label%3AFreeBSD+is%3Aclosed+is%3Apr
Issues: https://github.com/dotn

[2015-04-24 07:26] josteink opened #797 "FreeBSD port team needs to document LLDB-setup"
We should either have a documented (version-controlled?) script/gist which can be used (and re-used) to get the correct LLDB-version built and installed, or we need to get an official package for this which can be installed like any of our other dependencies.

While we can rely on external wikis and end-user copy-pasting, I would rather have something more closely tied to this project for increase

[2015-04-24 07:34] janhenke commented on #797
I would prefer to go for the latest release version, which is 3.6. Since LLDB is still a relatively young project, new releases should add more fixes.
We can also already build with LLVM/CLang 3.6 on FreeBSD. My PR for that landed already in main, just run `./build.sh clang3.6` and it will pick 3.6 instead of 3.5 for building.

[2015-04-24 07:54] ghuntley commented on #629
@josteink yep still around, have been awol due to moving house. Congratulations on getting the build working. ```portteam-lldb.cloudapp.net``` and ```portteam-eu.cloudapp.net``` have been running for the week, all SSH keys are installed. I see many more servers have been setup on Interoute - shall we call that home and eventually retire the ```portteam*``` series of servers? No rush.

[2015-04-24 08:02] ajensenwaud commented on #629
I would say that Interoute is a good home for us as we do not have any
restrictions on specific OS'es as long as it runs on VMware (= OpenBSD and
NetBSD can run there as well). In addition, the Interoute infrastructure
has worked really well for us for FreeBSD as well. I am keen to continue
admin and support this for the FreeBSD Port Team in addition to porting the
code itself.

On Fri, Apr 24, 20

[2015-04-24 09:12] josteink commented on #797
@ajensenwaud Have you tried building coreclr with your locally built LLDB? Does it try to build the SOS-plugin, or is further work needed to look into that?

[2015-04-24 09:14] josteink commented on #629
@ghuntley Oh? really? I guess I never checked, but expected you to announce when they were up. You know what they say about assumptions and mothers and such :)

That said, I think I agree with @ajensenwaud. Currently the Interroute machines have served us well, and they leave us room for testing on other BSDs should the time come for that to be
interesting.

If you don't mind, I still think having

[2015-04-24 09:48] kangaroo commented on #744
No malice assumed here, just stating that I think some effort invested in consistency is well placed.

[2015-04-24 12:40] stephentoub commented on #767
I just sync'd, rebuilt, and have been unable to repro since your fix, so I'll close this out. Thanks!

[2015-04-24 12:40] #767 closed

[2015-04-24 13:41] qbit commented on #455
Thanks @ajensenwaud ! I seem to be unable to access said machine.

[2015-04-24 13:52] blackdwarf commented on #793
Very cool, very cool, this *is* some really good work. :+1:

[2015-04-24 14:38] bucaran commented on #793
This is amazing :cry:

Good job!

[2015-04-24 14:40] brunolauze commented on #793
What is the difference between coreclr and mono? Does coreclr directly from Microsoft is poised to be outperforming mono (which is now built with the same coreclr or almost)

[2015-04-24 14:57] jgowdy commented on #793
Well done everyone, this is a huge milestone.

[2015-04-24 14:58] richlander commented on #793
@brunolauze CoreCLR is Microsoft's implementation of .NET, for use in its commercial products, like ASP.NET 5. These products are open source, but we approach them as commercial products as we always have (e.g. support, reliability). What's new is the open source community engagement (like responding to your comment :wink:).

We're not working on "outperforming Mono" as a goal. We have various goa

[2015-04-24 15:11] richlander opened #799 "Need Build instructions for FreeBSD"
We have instructions for Windows, Linux and OS X. We now need to add FreeBSD now that it is building. #793. Very nice.

Instructions will go here:
https://github.com/dotnet/coreclr/blob/master/README.md#get-coreclr
https://github.com/dotnet/coreclr/blob/master/Documentation/README.md#build-coreclr-from-source

Probably should be called freebsd-instructions.md to match the other instructions.

[2015-04-24 15:12] janhenke commented on #799
I am already working on this.

[2015-04-24 15:24] mmitche commented on #793
@ghuntley Thanks, found it...creating it now.  After I get it working i'll hook it up to the main CI.  ETA is end of day.

[2015-04-24 15:51] josteink commented on #799
@janhenke I'm glad to see someone keeping the momentum, especially now that we're getting "famous". Great effort so far! :)

I'll get back to the project when I have fewer projects at home that needs completion!

[2015-04-24 16:48] OtherCrashOverride commented on #744
The communication issue I feel needs more attention is status updates.  When your boss asks "How is the project going?" what do you tell him/her?

Where is the roadmap? Where are the milestones? How long till release? The CI says the code compiles, but does it actually work? GitHub "issues" is a very poor way to communicate status.  There probably needs to be a real bug tracker and project WWW sit

[2015-04-24 17:08] janhenke opened #801 "CoreCLR freezes with no output on FreeBSD"
Now that we have a successful build, the runtime issues start. Testing our binaries on FreeBSD shows that we are not yet able to really run an application.

Running any assembly currently results in the corerun process simply freezing. It creates one line of empty output and does nothing more. CPU usage remains 0% and the process ignores SIGINT. You need to SIGKILL it to stop it.

We have to inves

[2015-04-24 17:10] janhenke commented on #801
/cc @josteink @akoeplinger

[2015-04-24 17:11] mmitche commented on #793
I have a working build.  I am working on the rest of the pieces (joining the Jenkins master automatically for instance).

Btw, I saw a single failure in the pal tests.  I *think* it's the same as the one seen OSX during the bring-up.  Known?

[2015-04-24 18:02] korczis commented on #793
Nice work gentleman!

:+1:

[2015-04-24 18:08] janvorli commented on #793
@mmitche What is this failure?

[2015-04-24 18:10] mmitche commented on #793
On FreeBSD: FAILED: threading/WaitForSingleObject/WFSOExSemaphoreTest/paltest_waitforsingleobject_wfsoexsemaphoretest. Exit code: 1

[2015-04-24 18:11] brunolauze commented on #793
@richlander thanks for the great summary!

[2015-04-24 18:16] richlander commented on #793
NP, @brunolauze. I see you are from PQ. I was in Montreal a couple weeks ago.

[2015-04-24 18:56] josteink commented on #793
@mmitche Nor really "known" per se. We were just happy to have a build which finally went to 100% and yielded a proper build-output.

We've yet to investigate what works and not when executing .net-code via corerun. We still got some way to go :)

[2015-04-24 19:09] brunolauze commented on #793
@richlander Mtl is great, I am in Quebec City. I was trying to understand the coreclr api to be able to realize a core clr c++ lib like the tentative for mono https://github.com/brunolauze/MonoNative . What do you think?

[2015-04-24 19:10] #799 closed

[2015-04-24 19:33] richlander commented on #793
@brunolauze A good issue. We shouldn't continue the conversation on this issue. Either file a separate issue or start a conversation on gitter: https://gitter.im/dotnet/coreclr. Both is probably best.

[2015-04-24 19:45] richlander commented on #793
FYI: The official CoreCLR on FreeBSD build instructions have now been posted: https://github.com/dotnet/coreclr/blob/master/Documentation/README.md#build-coreclr-from-source. Was PR #800, by @janhenke.

[2015-04-24 20:07] tracker1 opened #803 "Solaris/OpenIndiana/SmartOS Support"
Just curious, given the support given towards FreeBSD in addition to Linux how difficult it would be to getting CoreCLR working with Solaris and derivatives?

[2015-04-24 20:15] mmitche commented on #793
@ghuntley Really close here.  One issue though...for some reason Azure isn't setting the hostname on the target vm (even though it's set up to do so).  Have you seen this?

[2015-04-24 20:18] jgowdy commented on #793
What's the situation with the FreeBSD build and the PTHREAD_PROCESS_SHARED support described at the top of shmemory.cpp?  Is the workaround sufficient, or was better support added in newer versions of FreeBSD?  Is there a performance issue there?  https://github.com/dotnet/coreclr/blob/cbf46fb0b6a0b209ed1caf4a680910b383e68cba/src/pal/src/shmemory/shmemory.cpp

[2015-04-24 20:19] janhenke commented on #793
If you want to set it manually, the hostname is defined in `/etc/rc.conf`

[2015-04-24 20:21] ghuntley commented on #793
@mmitche yep that happened for me too just set it manually.

Jump in Gitter and we will rosetta you the way through the sysadmin differences.

[2015-04-24 20:22] mmitche commented on #793
yeah, I can do that.  However we typically have changes on the machines that require us to cycle all vm's to a new image fairly frequently.  So I have the system set up to launch Jenkins at startup.  It needs to be able to know the hostname to get the Jenkins jnlp url though.

[2015-04-24 20:35] richlander commented on #803
Hi @tracker1. Thanks for the interest in the project.

You can look at the closed PRs for FreeBSD to see what the "FreeBSD Port Team" had to do get to this point. I'm sure that the port team members would be happy to comment as well.

https://github.com/dotnet/coreclr/pulls?q=is%3Apr+is%3Aclosed+label%3AFreeBSD

We're happy for other folks to bring up other OSes. The model that we used for FreeBSD

[2015-04-24 20:42] josteink commented on #793
@jgowdy I would have to say we're still at "untested grounds". We have a build completing without a failure-code. We have in no way said we have a production-ready build at this point.

As for you question, It seems that things have improved since the time of `shmemory.cpp`'s writing:

[code]

Beyond that I don't think I'm qualified to provide an answer. Maybe someone else on the team has deeper i

[2015-04-24 20:44] josteink commented on #793
@mmitche I may be asking stupid questions, but have you checked your image against the manual procedure's outlined in this [Azure blog-post](http://azure.microsoft.com/blog/2014/05/22/running-freebsd-in-azure/) here?

It might contain leads which will help you get a good image for de/re-provisioning.

[2015-04-24 20:48] mmitche commented on #793
yep.  Everything appears to be working except for the automatic azure hostname setting.

[2015-04-24 21:14] mmitche commented on #793
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr_freebsd_debug/1/console
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr_freebsd_release/1/console

[2015-04-24 21:49] janvorli commented on #801
There are two things you can try now.
1) Run PAL test suite to see if there are any failing tests.
2) Enable PAL tracing logs by setting the following env variables in the shell before launching the corerun:
[code]
This should give us some idea on how far it got before the hang.

[2015-04-24 22:33] mmitche commented on #793
It's alive!  The build time is pretty hefty right now compared to Linux (1 hour vs. 15 minutes or so).  Do you guys have any idea why?

Btw, right now the jobs pass but I'm going to hold off until Monday to integrate them into the PR/CI workflow so they don't block progress if something goes wrong.

[2015-04-24 22:35] janvorli commented on #793
@mmitche My guess would be that the FreeBSD VM or the OS itself uses just one processor core.

[2015-04-24 22:44] kangaroo commented on #801
@janvorli I had already asked him to run with PAL_DBG_CHANNELS and evidently there was no output.  I think the next step (since it also hangs in gdb due to the sigprocmask) is to run with a dtrace entry probe.

[2015-04-24 22:44] mmitche commented on #793
it's detecting 4 processors...hm

[2015-04-24 22:53] ajensenwaud commented on #793
How much memory is allocated to the instance? On our Interoute instance build takes less than 10 mins.

Anders Jensen-Waud
+61 427 948 715

[2015-04-24 23:01] ghuntley commented on #803
Thanks to @phillipkent from PortLane who has comped vmware based infrastructure for the developers it is totally possible to spin up environments for Solaris/OpenIndiana/SmartOS. The real crux/pain is the CICD infrastructure which is azure based.  /cc @mmitche anyway around this hurdle?

See issue #629

[2015-04-24 23:07] ghuntley commented on #629
@josteink I'll keep mine up/running then as backup and the team can primarly use Interroute which due to being VMware based is perfect fit for NetBSD/OpenBSD + there has been some enquiries about  Solaris derivatives in the future.

@ajensenwaud can you please create an account for @kangaroo  / Geoff Norton.

    ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC+/V9QIR/V81lACsLDh6NLcPZl/kAoV2ZWD2Re9rYlJSy8k

[2015-04-24 23:08] mmitche commented on #793
@ajensenwaud It looks like it was a result of two builds hitting the machine at the same time.  On the Linux machines this is okay, but on BSD it doesn't work as well.  I can bump it down to one concurrent job though.

Machines have 4 procs and 14 gb ram.

[2015-04-24 23:51] ajensenwaud commented on #793
Ok we have a considerably larger build machine, which may play a role as well. :) 12 cpus and 64 GB RAM...

Anders Jensen-Waud
+61 427 948 715

[2015-04-25 00:12] kangaroo commented on #801
I had some time to run the PAL test suite:

[code]

Didn't have time to build up the managed bits before bed.  I'll check out the hang from the airport tomorrow.

[2015-04-25 00:15] ajensenwaud commented on #629
Sure, will do!

Anders Jensen-Waud

[2015-04-25 00:31] ajensenwaud commented on #629
@kangaroo has now been added to freebsd-frankfurt.zbsd.org with username
``kangaroo'' and the above SSH key. Geoff, can you please let me know if
this works?

On Sat, Apr 25, 2015 at 9:08 AM, Geoffrey Huntley <notifications@github.com>
wrote:

[2015-04-25 00:55] richlander commented on #801
Thanks for looking into that @kangaroo. Appreciated.

[2015-04-25 05:18] atrauzzi opened #808 "Create an Ubuntu PPA & DEB packages"
Would love to be able to keep up with what's going on in the official .NET FOSS space.  In order to do that though, it would be helpful to have a channel I can get software installed and updated through.

The DEBs should integrate nicely with the system, and not use `/opt` like some packages do.

[2015-04-25 06:26] ajensenwaud commented on #455
Hi Aaron, not sure what the issue was -- can you please try again, this
time just on port 22? I added an A record for the host so you can access it
via freebsd-hk.zbsd.org (yes, we have to change that to something more
descriptive, but it will take you to the OpenBSD machine).

On Fri, Apr 24, 2015 at 11:42 PM, Aaron Bieber <notifications@github.com>
wrote:

[2015-04-25 06:34] ajensenwaud opened #810 "CoreCLR needs NetBSD build infrastructure"
We need to set up a new build environment with the latest NetBSD 6.1.5 stable. I am currently setting this up on Interoute in Frankfurt -- will follow up in this issue once it is done.

[2015-04-25 06:37] ajensenwaud commented on #797
No, not yet. Do we need to link it against LLDB? I can certainly try so, but am unsure where that is done.

LLDB is happy to debug the corerun executable, so it seems to work.

[2015-04-25 07:12] janhenke commented on #797
The SOS plugin for LLDB needs the LLDB header/library to link against. Can you install your installation to `/usr/local/`?

[2015-04-25 07:39] ajensenwaud commented on #797
Sure, give me a few secs.

[2015-04-25 07:41] kangaroo commented on #801
Here's the PAL trace: https://gist.github.com/kangaroo/2d1e1640a781eb499cf1

[2015-04-25 08:24] josteink commented on #803
@tracker1 Basically porting something like .NET isn't going to be easy, and you're bound to hit at least one issue you wont be able to solve yourself. If you're the only guy working on your port, that will be it. That's the death-sentence. You're done.

I would take @richlander's advice and try to get a team/group going. You can try to create an issue, like @janhenke did and gather interested part

[2015-04-25 08:32] ajensenwaud commented on #803
I am currently setting up an OpenIndiana instance on Interoute where we can do a couple of initial tests. I am not a Solaris expert so might not be able to support the port effort, but I will do my best.

[2015-04-25 08:50] josteink commented on #793
@mmitche That's odd. Building something like coreclr is fairly IO-intensive. I did some basic IO-testing on our Interroute VMs vs our more limited Azure VMs.

Although there's probably a million errors in the measuremeant technique scientifically speaking, the difference is night and day:

[code]

What causes this massive difference in disk-IO, I don't know. It might be available memory available

[2015-04-25 11:41] josteink commented on #797
@ajensenwaud After getting LLDB installed proper, the build no longer complains about missing LLDB.

I'm pretty sure we'll get the SOS LLDB debugging extensions as well from the build now. That might come in handy further down the road as we try to debug this thing :)

[2015-04-25 11:44] Marqin commented on #641
@jakesays code you have posted make use of "windows.h". Do you know any sources that **works** on Linux and OS X?

[2015-04-25 11:46] josteink commented on #797
Actually. That *breaks* the build. Seems to be a problem with the SOS debugger:

[code]

Looks like we still have some work to do.

[2015-04-25 12:29] ajensenwaud commented on #797
I just fixed the above build error in https://github.com/dotnet/coreclr/pull/812 -- build now works with lldbplugin.

[2015-04-25 13:10] josteink commented on #797
Great stuff. Now we should get back to the main issue: Getting the LLDB-setup documented.

Did you save your (exact) steps in a script, so they can be reused by other potential collaberators, or even for CI-purposes?

[2015-04-25 15:25] akoeplinger commented on #641
@Marqin try [unixcorerun](https://github.com/dotnet/coreclr/blob/82413deb0c7055da784c934101a2e1eed3bfb8ca/src/coreclr/hosts/unixcorerun/corerun.cpp).

[2015-04-25 15:26] josteink commented on #629
I think this one has been achieved and can be considered done by now.

Other bsds can have their own issues where their progress is tracked individually.

Sounds OK? Any objections?

[2015-04-25 17:53] mikem8361 opened #814 "Cleanup PAL CTRL-C signal and console support"
The signal thread created for SIGINT/CTRL-C, etc. isn't used by the managed runtime. When they do implement a event/callback, it will be in the corefx "pal".

 C:\ssd\coreclr\src\mscorlib\src\Microsoft\Win32\Win32Native.cs(1353):        internal static extern bool SetConsoleCtrlHandler(ConsoleCtrlHandlerRoutine handler, bool addOrRemove);
  C:\ssd\coreclr\src\mscorlib\src\System\Console.cs(1553):

[2015-04-25 18:01] janvorli commented on #762
Fixed by #813

[2015-04-25 18:01] #762 closed

[2015-04-25 18:01] janvorli commented on #763
Fixed by #813

[2015-04-25 18:01] #763 closed

[2015-04-25 18:09] Marqin commented on #641
@akoeplinger I tried, but it only can run whole assembly. I just want to call few selected C# functions.

[2015-04-25 18:29] mikem8361 commented on #814
jkotas says:
I agree that it is fine to remove these signal handlers from PAL in its current form.

I do not think it is ok to register the signal handler in corefx. The signal handlers are very constrained environment. It is not safe to run arbitrary code in them - in particular, it is not ok to run managed code in them. Many articles out there mention it - e.g. check our own http://blogs.msdn.co

[2015-04-25 18:38] akoeplinger commented on #641
@Marqin I meant you should take that file as an example of how to load the CLR. You need to adapt it to your own needs ;)

[2015-04-25 19:29] mikem8361 commented on #749
Sharing signals has been implemented in #807.

[2015-04-25 19:32] mikem8361 commented on #749
Hardware exceptions have been dealt with in #771

[2015-04-25 19:37] josteink commented on #808
Lots of projects, FOSS or not, has nightly builds published for testers to consume.

Before establishing a PPA specificly for Ubuntu, I think it would make sense to have a nightly build with all the artifacts for all the builds for all the architecture. Then someone can reuse that to build a PPA.

Opinions?

[2015-04-25 20:45] ajensenwaud commented on #797
I did not write a script but can very quickly document it. Let me write it up today.

Anders Jensen-Waud

[2015-04-25 20:46] richlander opened #816 "Update build + run instructions to use the new package feed and versions"
These instructions are now wrong: https://github.com/dotnet/coreclr/blob/master/Documentation/get-dotnetcore-windows-nuget.md

The new feed: https://www.myget.org/F/dotnet-core

New versions are displayed here: https://www.myget.org/gallery/dotnet-core

[2015-04-25 21:11] akoeplinger commented on #808
The Jenkins CI already does that, e.g. here for Linux: http://dotnet-ci.cloudapp.net/job/dotnet_coreclr_linux_release/lastSuccessfulBuild/artifact/

[2015-04-25 21:23] janvorli commented on #641
@Marqin take a look at src\dlls\mscoree\unixinterface.cpp how the ExecuteAssembly is implemented. At line 207, you can see that we create a delegate to a function to execute and then call it. You can do the same for the functions you want to call.
To use it in your C++ game engine, somewhere in your engine initialization, you will need to do all the steps that we do in the ExecuteAssembly upto the

[2015-04-25 21:50] davidfowl opened #818 "Expand Assembly information in exception messages to include more metadata"
Here's an example of a TypeLoadException:

[code]

It would great if it said what package it came from (via some well know AssemblyMetadata attribute) etc. We put the package version in the AssemblyInformational version but that information is lost in exception messages.

/cc @jkotas

[2015-04-25 23:36] mikem8361 opened #820 "Remove the LD_LIBRARY_PATH requirement for sos plugin"
I think the LD_LIBRARY_PATH requirement can be removed by using the directory the libcoreclr.so module is assuming libsos.so is in the same directory. I also think we can do something similar in sos when loading the dac and dbi modules.

[2015-04-26 01:17] atrauzzi commented on #808
So it's important that we not confuse the build with building for debian-based distributions.  I'm not 100% fluent in the process, but one build for all distributions is probably not going to end in something people enjoy using.

[2015-04-26 01:52] MattWhilden commented on #818
/cc @noahfalk

[2015-04-26 03:44] jkotas commented on #818
Maybe we should make the assembly identification for error messages customizable via System.Runtime.Loader.AssemblyLoadContext.

[2015-04-26 03:45] milizhang commented on #810
A few challenges I have got so far.

- The clang provided in official binary package does not have libc++.
  - So you have to compile your own
- libunwind does not have support for NetBSD
  - It has to be ported to NetBSD before anything can even start.
  - (I have got it to compile by doing dirty hacks. But I am sure it would not actually work as it is.)
- Also some works need to be done in CoreC

[2015-04-26 04:49] josteink commented on #808
@akoeplinger isn't that from ongoing CI builds? A nightly build should be nightly, and only from code merged and committed to master. Just double-checking.

[2015-04-26 04:51] josteink commented on #808
@atrauzzi agreed. Being Ubuntu-specific is an anti-pattern in the linux-world right now, but it would certainly make things simpler.

[2015-04-26 04:57] janvorli commented on #810
@milizhang We do not use the clang's libc++ on Linux. Although we build using clang, it by default targets the libstdc++ library that's native to the system. So I guess it would be similar for the NetBSD.

[2015-04-26 05:09] janvorli commented on #810
@milizhang Regarding the libunwind, I've bumped into the following:
http://ftp.fr.netbsd.org/pub/NetBSD/NetBSD-current/src/sys/lib/libunwind/
I have not looked into it, but the server path suggests it would be a libunwind for the NetBSD.
But there is another option, although it would require postponing the build a bit. The LLVM project also contains a libunwind in its libc++.abi compiler support l

[2015-04-26 05:23] janvorli commented on #810
Ah, the http://ftp.fr.netbsd.org/pub/NetBSD/NetBSD-current/src/sys/lib/libunwind/ seems to actually be the one from the LLVM that's not separable yet.

[2015-04-26 05:31] milizhang commented on #810
NetBSD does have some unwind functions if I'm correct. Are the functions in pal_unwind.h all we need?

[2015-04-26 05:35] weshaggard commented on #816
@richlander what is this new feed for? Who do we expect to actually use it?

[2015-04-26 05:39] milizhang commented on #810
For clang, the problem is that the clang supplied in binary package uses libc++ by default. If we want to use libstdc++ we need to specify -stdlib=libstdc++.

[2015-04-26 05:40] janvorli commented on #810
No, we also need the low level unwind functions, like the unw_set_reg, unw_get_reg, unw_getcontext etc.

[2015-04-26 05:41] janvorli commented on #810
Regarding the clang, then it makes sense to use the libc++ if the clang is using it by default.

[2015-04-26 05:51] milizhang commented on #810
The weird part is that they supplied a clang++ which is configured to use libc++ by default, but they did not supply libc++.

[code]

[2015-04-26 05:53] milizhang commented on #810
This is currently what they have:

[code]

[2015-04-26 05:56] janvorli commented on #810
Yes, this is the standard high level unwind. We need the low level stuff, which is in the libunwind.

[2015-04-26 06:14] milizhang commented on #810
Then unfortunately even the LLVM's unwind does not have it. The only choice would be the libunwind8.

[2015-04-26 06:20] janvorli commented on #810
I meant llvm libunwind, not the llvm unwind. That one has the low level stuff, but we would have to wait until it is made a separate library. The llvm unwind is build on top of the llvm libunwind.

[2015-04-26 08:01] milizhang commented on #810
OK I see it. It is here now: https://llvm.org/svn/llvm-project/libunwind/

Looks like it is already separated from libcxxabi, maybe it will be released as a separate project in 3.7.

[2015-04-26 08:06] RussellHaley commented on #801
I eagerly await your fix.

[2015-04-26 09:01] DickvdBrink opened #821 "Remove usage of hash_map/hash_set"
I changed my buildscripts to generatie VS2015 project files (to fix issue #30) but I found some issues when compiling.
Adding the `_SILENCE_STDEXT_HASH_DEPRECATION_WARNINGS` Will probably fix my warming (haven't tried it yet) but I just wanted to let you guys know.

Usage:
[util.h](https://github.com/dotnet/coreclr/blob/838807429a0828a839958e3b7d392d65886c8f2e/src/ToolBox/SOS/Strike/util.h#L2860)

[2015-04-26 09:01] josteink commented on #801
@janhenke Would you consider posting the compiled exe and depending DLLs/so-files for others to test as well?

I don't have a Windows machine availble to build my own mscoree/mscorwks and I suspect that applies to thers who may be able to help too.

[2015-04-26 09:21] janhenke commented on #801
That exe was not meant to be distributed. For everyone please follow the freebsd instructions linked from the README.md in the project root. It contains instructions to download and compile a HelloWorld example.

[2015-04-26 09:30] DickvdBrink commented on #821
Btw, this is something I'm willing to fix (if that is oke with you guys)

[2015-04-26 09:54] josteink commented on #801
I'm able to attach using LLDB, but it seems I do have a lot to learn about it.

[code]

I thought if I disabled stdio, I should be able to command the debugger even while the program is ruunning (or in our case) acting up?

[2015-04-26 11:17] akoeplinger commented on #808
@josteink it builds each commit on master, PR builds are a separate job.

[2015-04-26 11:36] josteink commented on #801
@kangaroo I'm not sure if its a coincidence or not, but I see your PAL traces hangs after two things have happened:

1. Lots of shared-memory operations going in.
2. PAL creating a thread.

Regarding shared memory, pthreads and FreeBSD, there was a [comment on the CI-issue ](https://github.com/dotnet/coreclr/issues/793#issuecomment-96052462), also asking if there had been any changes on this front

[2015-04-26 12:39] DickvdBrink commented on #385
Same here, I was able to build it using another system with VS 2015 though (with lots of hacks)

[2015-04-26 13:39] jkotas commented on #801
The original shmemory.cpp was created in 2001 and this comment was included in the initial version of the file. It was written in the context of state of the art FreeBSD at that time.

[2015-04-26 13:51] jkotas commented on #821
It would be great if you can fix it. Thank you!

[2015-04-26 15:13] richlander commented on #816
I am putting together binary distribution instructions for the product/repo. The instructions offered on the repo will have a bias to myget, since it is much closer to the latest version of the code. NuGet.org instructions will also be offered.

In terms of "who", I expect everyone who wants to use our product on OS X and Linux to use these instructions, unless they'd prefer to use the ASP.NET tea

[2015-04-26 17:09] josteink commented on #801
@jkotas Thanks for the input. I guess that leaves that issue dead for now, which is good.

Using some n00bed up LLDB-attempts, I managed to reproduce about the same things @kangaroo did in his PAL trace-logs:

[code]

Looking at that stack-trace, we have something to go by, including line-numbers in [thread.cpp](https://github.com/dotnet/coreclr/blob/master/src/pal/src/thread/thread.cpp#L706).

Th

[2015-04-26 17:46] josteink commented on #801
Looking up the code at the address of the thread being started, I got a bit further, but just barely:

[code]

This is the [WorkedThread method found in synchmanager.cpp](https://github.com/dotnet/coreclr/blob/master/src/pal/src/synchmgr/synchmanager.cpp#L1885), but from what I can tell, the thread haven't really been started yet, so I doubt that its contents is of too much interest...

[2015-04-26 18:04] janvorli commented on #801
Could you also print backtrace of all threads? Using "bt all" command in the lldb. At that point, there should be just one thread, but I'd like to rule out an issue that by some weird way we end up creating many threads.

[2015-04-26 18:08] josteink commented on #801
Yup. One thread only:

[code]

[2015-04-26 18:29] n8ohu commented on #808
At this point, we need to be sure we have viable builds for Linux, both 32 bit and 64 bit, before we get too concerned about distribution specific repository structures. We also need to consider where to draw the line; I don't expect someone to maintain a repository that is readily compatible with CentOS 5.x (which is what I run on my Desktop system) because older distribution versions may not hav

[2015-04-26 18:52] richlander commented on #808
@josteink can you elaborate on that, for a newb? Just want to understand better.

[2015-04-26 19:04] n8ohu commented on #808
@richlander In a relatively simple way, there are layers when it comes to distributions of Linux; that is, some distributions are based in part on others that are referred to as the upstream (much like how forks of a github project relate to the original). Ubuntu is based in part on an upstream distribution called Debian, in this case. So what is being said is that supporting Ubuntu before the ups

[2015-04-26 19:16] richlander commented on #808
@n8ohu That's what I was looking for. Best to put on your shoes after your pants.

[2015-04-26 19:50] josteink commented on #808
@richlander Just referring to how many people who package software say they support "Linux", when all you can download from their website are Ubuntu-targetted debs.

As for creating deb's, RPM's and what not from source, I've heard that trying to solve that problem can give you grey hairs faster than solving multi-threaded race-conditions on live production systems.

In those discussions I've alwa

[2015-04-26 20:37] jkotas commented on #801
As an experiment - you can try passing in NULL into pthread_create. One of the possible reasons for crash like this one is that there is something wrong with the attributes used to create the thread - if it works, we just need to find out which attribute is source of the crash.

[2015-04-26 21:46] DickvdBrink opened #824 "Fix warnings reported by VS 2015"
Fix warnings reported by VS 2015 - blocks #30

In total there are currently 2085 warnings but some of them are reported multiple times on the same location so it is not that bad :)

We can also disable them but that might not be wise (at least not for all of them :))

Could not find a msdn link for this one
Warning	C4463	overflow; assigning 1 to bit-field that can only hold values from -1 to 0

[m

[2015-04-26 23:45] #821 closed

[2015-04-26 23:48] ghuntley commented on #803
@ajensenwaud solaris (and or aix or hpux) sysadmin is something I can aide with when/if needed.

[2015-04-27 00:47] ajensenwaud commented on #797
I have put up a simple build and install script for LLDB here: https://github.com/ajensenwaud/freebsd-dotnet-misc/blob/master/install-lldb.sh

We could include this as part of the build+install documentation for FreeBSD -- please let me know and I will write it up.

[2015-04-27 00:52] janvorli opened #828 "One thread inducing a GC of a thread handling exception leads to crash"
The problem happens when the thread handling an exception was unwinding native frames segments when the other thread has started a GC. The thread handling the exception has completed unwinding the native frames, entered the ProcessCLRException and waits in GCX_COOP to enter cooperative mode while the other thread is in the cooperative mode.
At this point, the exception tracker of the thread handli

[2015-04-27 01:59] atrauzzi commented on #808
It might be worth talking to @directhex on this as well.  He worked on the mono packages.  Very knowledgable.

[2015-04-27 03:38] davidfowl commented on #816
Bleeding edge man! We can play with fixes on myget (pushing every commit would be great!)

[2015-04-27 04:00] ghuntley commented on #816
* MyGet.org for bleeding edge/every build to make lives better for the devs.
* Nuget.org for ```-pre``` style CTP releases to general community when and where needed.
* NuGet.org for ```stable``` releases.

[2015-04-27 04:24] taylorjonl commented on #797
What are the memory requirements for this?  I tried running it on a 2gb VM and it ran OOM.  I will update you when I try doing this again but I only have a laptop and it has limited RAM.

[2015-04-27 04:37] taylorjonl commented on #797
I increased the VM to 4gb of RAM and it completed successfully, so we may want to figure out exactly how much RAM is needed and include it any any documentation.

[2015-04-27 05:26] taylorjonl commented on #797
In the end I had to increase the VM to 8gb of RAM and >40gb of disk, not sure which made it work but that is where I ended.

[2015-04-27 05:52] josteink commented on #797
If those are the LLBB requirements, getting it pre-compiled as a package really will make it *much* more accessible. No word from @emaste yet though.

[2015-04-27 05:54] josteink commented on #797
@ajensenwaud Thanks for the script. Great stuff. In the absence of an official LLDB-package, I think that should be linked to in the FreeBSD build-instructions, and submitted as a PR to dotnet/master.

That would in my eyes be more than good enough to close this issue.

[2015-04-27 06:10] josteink commented on #801
That's fantastic @kangaroo.

I can confirm this fixes the initial threading issue. I still have problems running `HelloWorld.exe`, but now it gets way past syncmanager, and we have lots of threads playing around by the time we break it in the debugger.

This issue can now be consider closed.

[2015-04-27 07:22] mgravell opened #832 "Add: BitConverter.SingleToInt32Bits and Int32BitsToSingle"
To match the existing `DoubleToInt64Bits` and `Int64BitsToDouble`. This is important for binary serialization tools to get hold of the underlying value without requiring unsafe themselves, which may not be accepted.

Example usage: IO / sockets tools, raw protocol tools, network libraries, serialization tools.

## Existing 64-bit API

    public static long BitConverter.DoubleToInt64Bits(double va

[2015-04-27 13:48] wizardbeard commented on #793
Congratulations!!!  This is exciting news!  FreeBSD is my favorite OS and .NET/C# is my favorite development tooling.  This makes me rather happy.

[2015-04-27 14:23] sharwell opened #834 "Endianness comments in BitConverter.DoubleToInt32Bits and Int32BitsToDouble are irrelevant"
Similar to the comments highlighted in #833, the `BitConverter.DoubleToInt32Bits` and `Int32BitsToDouble` methods contain endianness comments which are almost certainly irrelevant.

* The .NET Framework doesn't support, and is unlikely to ever support, any architecture which uses a different endianness for its internal representation of integers and floating-point numbers.
* The current implementa

[2015-04-27 14:50] kangaroo commented on #801
@josteink Yes, there are issues with exceptions and unwinding.  I didn't bother looking into them yet.  You might want to try linking libunwind into unixcorerun as well and seeing if that helps.

[2015-04-27 15:14] jkotas commented on #834
I agree that this comment it bogus and should be removed.

[2015-04-27 15:24] mgravell commented on #834
I'm happy to remove those comments and assertions - no skin off my nose either way - but: this is my first coreclr PR: what is the usual process in the case of such a question / decision?

[2015-04-27 15:45] josteink commented on #801
@kangaroo That didn't seem to help. In the debugger it seemed to stop at the same places.

That said I've noticed startup is *slow*. Too slow (I think) for something like **core**clr on this beefy hardware.

Using @janvorli's trace-tricks, I got the following log. It's LONG so I've uploaded it as a separate file: http://invalid.ed.ntnu.no/~jostein/pallog.txt

What I notice is that there's a millio

[2015-04-27 15:56] sharwell commented on #834
@mgravell I understand why you implemented your pull request the way you did, and believe it makes sense. This issue is meant to formalize the request to alter the original definitions so you can more comfortably remove them from yours as well. :smile:

[2015-04-27 15:59] janvorli commented on #801
@josteink

The COMPlusxxx messages mean that we were checking a config value from an environment variable.
COMPlus is a historical name for .NET.

[2015-04-27 16:12] janvorli commented on #801
I can see that there was this change made for FreeBSD:
[code]
I wonder if the issue is that the libc.so is not the actual shared library, but a LD script pointing to the real one, e.g. libc.so.6. That would cause the problem and that's the reason why Linux uses the LIBC_SO that contains the real name.
On Ubuntu, the libc.so file contains this:
[code]

[2015-04-27 17:44] josteink commented on #801
@janvorli Bingo!

[code]

I'll just try replacing the PAL-code with `libc.so.7` and see what happens :)

[2015-04-27 18:09] ericnewton76 commented on #772
Could you possibly elaborate why you'd need to know when GC has finished?

[2015-04-27 18:16] janvorli commented on #828
Fixed by #829

[2015-04-27 18:16] #828 closed

[2015-04-27 20:09] milizhang opened #841 "PAL_GetResourceString not working under Linux"
### Issue

Currently under Linux, when unixcorerun get an uncatched exception, it would print out a message like below:

[code]

Instead of the human-readable messages, it prints out some hex values instead.
### Analysis

After some tracing I found that the error message is translated by PAL_GetResourceString, which eventually calls dgettext(3) to get the proper message.
However, setlocale(3) is n