[2018-05-01 16:12] JoeStead commented on #17850
Thought I'd give 2.1 a go too. Downloaded the 2.1 preview, built a standalone app for Centos, which just printed hello world and threw an exception. Used (still on Ubuntu 16.04) lldb-3.9 to load the dump, and load the plugin from the 2.1 install, exactly the same issue.

[2018-05-01 16:16] bobuva commented on #17741
@noahfalk I've made some progress, but I'm continuing to get an invalid program exception thrown when I try using my IL injection method to pass function parameters to my (injected) managed method. I've written it up [here](https://social.msdn.microsoft.com/Forums/en-US/3161143d-8ab0-48fa-a41f-a3ada20bbfc1/create-and-populate-array-with-function-arguments-in-il?forum=clr) and I was wondering if yo

[2018-05-01 17:18] RussKeldorph commented on #17679
Fixed by #17844

[2018-05-01 17:18] #17679 closed

[2018-05-01 17:20] RussKeldorph commented on #17774
@karelz Do we know enough to say where this bug should be tracked?  Do we know if it might require a 2.1 fix?

[2018-05-01 17:30] briansull commented on #17841
Fixed with PR #17845

[2018-05-01 17:30] #17841 closed

[2018-05-01 17:33] plioi commented on #13277
I'm using named pipes. It was a little tricky to get going, but now I can essentially throw DTOs back and forth between the two process using json for serialization.

This is for a test framework. The VS "Test Explorer" adapter is the parent process. The test execution goes on in a child process.

Shared Infrastructure: https://github.com/fixie/fixie/blob/master/src/Fixie/Execution/Listeners/PipeS

[2018-05-01 17:42] mikem8361 commented on #17850
I think the problem might be creating the dump on Centos but using the Ubuntu runtime/DAC to load it even though it should be the same runtime unless it is a slight different build. It does look like you are using 2.0.3 on both Centos and Ubuntu.  I'll try creating a dump on Centos and loading it on my Ubuntu 14.04 machine to see what might be the problem.

Another problem you will run into is usi

[2018-05-01 17:55] gregg-miskelly commented on #17825
This issue was moved to OmniSharp/omnisharp-vscode#2240

[2018-05-01 17:56] gregg-miskelly commented on #17825
I moved the issue for now. Please close this one.

[2018-05-01 19:13] #17825 closed

[2018-05-01 19:16] #17755 closed

[2018-05-01 20:55] noahfalk commented on #17741
For this general class of issue there are a few things you can try:
1) Write an example of conceptually what the instrumented code would look like in C#, then carefully compare the compiler output to what you generated using ildasm.
2) Try to write your instrumented version of the assembly to disk and then use peverify. The profiler APIs don't give you a good way to do this directly, but you might

[2018-05-01 21:01] RussKeldorph commented on #17632
@kouvel Could this test be sensitive to timing or just unreliable in general?  It seems to be failing occasionally, but we can't repro, leading us to suspect this is not a codegen bug.  The fact that it hits JIT "stress mode" testing could just be statistics.

Moving it out of 2.1 and changing to test bug.  Please correct if you disagree with this assessment.

[2018-05-01 21:51] bobuva commented on #17741
Thanks @noahfalk . Makes sense. I should try emitting with one of those other options and compare. I haven't built the CoreCLR yet but this is a good time to start that too.

My AddNewLocal method, by the way, has ELEMENT_TYPE_SZARRAY and a mdTypeRef token for it that I defined since it was not already in the TypeRef table, hard-coded for now since that's the only local I'm currently adding.

[2018-05-01 22:09] erozenfeld commented on #17632
Note that the last failure above wasn't a stress mode failure. It was in minopts mode where many jit optimizations are disabled. That makes it unlikely to be a codegen bug.

[2018-05-01 22:26] #17702 closed

[2018-05-01 22:26] #17609 closed

[2018-05-01 22:47] #17777 closed

[2018-05-01 22:48] briansull commented on #17777
The Fix for #17793 will suffice for now.

[2018-05-01 23:17] jkotas commented on #17669
This is .NET Framework issue. It won't happen in .NET Core that this repo is about. The right channels to report .NET Framework issues are VS Developer Community Portal or Product Support (links are at https://github.com/dotnet/corefx#how-to-engage-contribute-and-provide-feedback).

There is nothing special you have to do to live together with a mixed DLL in the same process. The issue is unlikely

[2018-05-01 23:48] #17758 closed

[2018-05-02 00:39] echesakovMSFT opened #17858 "[Linux][arm] CoreFx test System.Transactions.Local.Tests hangs and more"
CoreFx test `System.Transactions.Local.Tests` hangs during `System.Transactions.Tests.AsyncTransactionScopeTests.VerifyBYOTAsyncTSNestedAsync` on Ubuntu/arm with both Checked and Release coreclr
(as an example, https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_corefx_baseline_tst_prtest/1/consoleText)

[code]
What is interesting - if you keep at least one

[2018-05-02 00:42] echesakovMSFT commented on #17754
I have opened an issue specific for `System.Transactions.Local.Tests` (#17858) since we have increased timeout and enabled back other tests from this issue in dotnet/corefx#29420 and #17836.

The issue with `System.Text.RegularExpressions.Tests` need to be resolved in corefx repo.

[2018-05-02 00:42] #17754 closed

[2018-05-02 01:05] AndyAyersMS commented on #1784
Did some prototyping on top of the changes above to get the delegate to be promotable. Lots of things to sort through on the way:
* Updated the object allocation phase so it can run before morph; required understanding escape behavior of `GT_FIELD` (which is only partially correct in my branch) and hacking `fgMorphIntoHelperCall` to provide a variant that can run before morph.
* Likewise the IR ch

[2018-05-02 14:11] sdmaclea opened #17861 "[Arm64] JitStressRegs=0x200 GitHub_17777 asserts"
JIT/Regression/JitBlue/GitHub_17777/GitHub_17777/GitHub_17777.sh
jitStressRegs=0x200

[code]

@briansull @CarolEidt Assert is in lsra

[2018-05-02 14:25] Donpedro13 commented on #17669
Thanks for taking a look at this.

I was under the assumption that .NET Core shares quite a bit of Windows-specific code with the "regular" .NET framework. Functions relevant to this crash are present in this code base as well, and judging by the assembly (code), they seem to share the same implementation. I'm happy to report this at the Developer Community portal if I'm mistaken.

We are using pl

[2018-05-02 14:35] jkotas commented on #17669
Some of code related to stack probing is in the repo, but it is not compiled into .NET Core. E.g. the call from  `CLRVectoredExceptionHandler` to `DontCallDirectlyForceStackOverflow` is not in .NET Core binaries because of it is under `FEATURE_STACK_PROBE` ifdef that is never defined in .NET Core. We have been cleaning up these unused bits to avoid confusion, but we did not get to this one yet.

[2018-05-02 15:20] BruceForstall opened #17862 "corefx test failures: assertion failed in System.Buffers.TlsOverPerCoreLockedStacksArrayPool`1.Return"
Several corefx tests are failing with:
[code]

also:
[code]

also:
[code]

there are more, all architecture, all platform.

(btw, the interleaved output in the Windows x64 run is really annoying...)

Example jobs:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_corefx_baseline_prtest/356/consoleText
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jits

[2018-05-02 15:31] stephentoub commented on #17862
There are no line numbers, but I expect it's due to this change that just got merged:
https://github.com/dotnet/coreclr/commit/d8f028d7a47e6e2872d733346509e3be1e64ceb4#diff-6ae774662dc637ecc68fd009d821ec8fR15
That assert should not be there, or it should be changed from `bufferSize > 0` to `bufferSize >= 0`, as a bufferSize of 0 is valid.

[2018-05-02 17:00] danwalmsley commented on #17774
[Repro.zip](https://github.com/dotnet/coreclr/files/1968223/Repro.zip)
Ok sorry for the delay here is a repro of the issue.

Extract the zip file.

Install dotnet 2.1 preview 2

cd into AvalonStudio.Languages.Xaml directory.

run `dotnet publish -f netcoreapp2.0 -r win7-x64`

you will get the error,

uninstall the preview and go back to version 2 sdk.

run the publish command again, it will work.

[2018-05-02 17:04] karelz commented on #17774
This issue was moved to dotnet/sdk#2207

[2018-05-02 17:04] #17774 closed

[2018-05-02 17:44] BruceForstall commented on #17861
@CarolEidt Currently, the CI runs JitStressRegs with 1, 2, 3, 4, 8, 0x10, 0x80, 0x1000, for CoreCLR Pri-1 tests and CoreFX tests, and for R2R tests, and CoreCLR Pri-1 tests in conjunction with JitStress=2. Are there other combinations that should be run, such as JitStressRegs=0x200?

[2018-05-02 17:46] divega opened #17864 "System.ExecutionEngineException when IIS application recycle"
_From @Tasteful on April 4, 2018 16:9_

We are running EFCore 2.0.1 (also tested with 2.0.2) inside Full .Net IIS Application. Tested with Framework version 4.6.1 and 4.7.1 with the same problem.

When saving the `web.config` to restart the site (also on rebuild the solution) the `System.ExecutionEngineException` is thrown and a Just-In-Time debugger popup asks to debug the process. After the site

[2018-05-02 17:46] divega commented on #17864
@Tasteful could you share the project privately? E.g. on email so that we can diagnose the issue?

Also, in case this is an issue with the conventions using too much memory, could you try with our nightly builds of EF Core 2.1? We have fixed a few bugs around that area.

[2018-05-02 17:46] divega commented on #17864
_From @Tasteful on April 5, 2018 7:31_

@divega I have invited you to an one-drive folder that contains the running code and both a mini and full memory dump.

I actually think it is some special conditions that depend on some other program or hardware problem but have no clue how to find the responsible part.

I have tried the following parts and can only get the exception on my computer, using 1

[2018-05-02 17:46] divega commented on #17864
@AndriySvyryd I believe when we originally triaged this, you had a couple of ideas of what could cause it (running out of memory?).

Unless you think you can help, it might be better to move this to CoreCLR or CoreFx, as it is unlikely that the root cause for this type of exception is something EF Core is doing.

You can ask @Tasteful to share the repro with you.

[2018-05-02 17:46] divega commented on #17864
_From @Tasteful on April 12, 2018 8:3_

@AndriySvyryd if you send me your email I can share the onedrive folder with you, you have my mail in the profile.

[2018-05-02 17:46] divega commented on #17864
@Tasteful Sorry for the long wait. I discussed this with @AndriySvyryd and we actually don't have a good clue of what can cause this. This type of exception usually happens when something goes wrong at a very low level. E.g. when invalid IL is executed.

Since in EF Core is pretty high level and we don't do our own IL code generation, the root cause of the issue must be somewhere else. E.g. in the

[2018-05-02 17:49] BruceForstall commented on #17823
https://github.com/dotnet/coreclr/compare/master...briansull:byref-fix

[2018-05-02 18:02] CarolEidt commented on #17861
@BruceForstall - The JitStressRegs values that were left out of regular testing were, at least at one time, known to have some implementation issues (i.e. the reason that they didn't run clean was due at least in part to some problems with the way the stress mode was implemented). I don't have specific recollection for why 0x200 was left out, so I'm going to look into this case to see if it's fund

[2018-05-02 18:34] #17862 closed

[2018-05-02 19:05] echesakovMSFT commented on #17858
**Update**: As suggested by @RussKeldorph I have tried to disable CPU scaling and force all cores to run at max performance. That seems explaining difference in running times with and without `stress` in background.

[2018-05-02 21:16] RussKeldorph commented on #17864
@jkotas @stephentoub @danmosemsft Any suggestions where to start with this?  Is this most likely memory corruption by the app itself?

[2018-05-02 21:34] andrewLarsson commented on #13277
I am working on a project that would benefit from AssemblyLoadContext isolation. We are using Assembly.LoadFrom and giving it the path to a .dll that has all of its dependencies in its same directory. Everything works great up until the point we try to use an assembly that references a different version of Newtonsoft.Json. Looking at the loaded modules at runtime, Newtonsoft.Json version 10 is alr

[2018-05-02 21:35] jkotas commented on #17864
This is .NET Framework issue. It is best to report .NET Framework issues through .NET Framework support channels (https://github.com/dotnet/corefx#how-to-engage-contribute-and-provide-feedback).

In addition to ExecutionEngineException, there are also reports of `System.IO.FileNotFoundException: Could not load file or assembly System.ValueTuple` at similar callstack (e.g. https://stackoverflow.com

[2018-05-02 21:40] jeffschwMSFT commented on #13277
@andrewLarsson unfortunately you are hitting a known limitation of loadfrom where additional dependencies are not found.  This is an area we are aware is lacking and exploring.  In the meantime are you able to use AssemblyResolveEvent to find the missing dependency?

[2018-05-02 22:00] sdmaclea commented on #17861
@CarolEidt For linux-arm64, I have been running most of the jitStressRegs combinations.  The only one which was obviously broken was 0x800.  Some may be worthless, because they fail to expose any issues...

[2018-05-02 22:03] andrewLarsson commented on #13277
@jeffschwMSFT I tried what you suggested but it ends up throwing the same exception.

[code]

I can put a breakpoint in my event and see that it gets called, but Assembly.LoadFrom fails with:

[code]

[2018-05-02 22:40] mikem8361 commented on #17850
I found a simple workaround for now: copy /usr/share/dotnet/shared/Microsoft.NETCore.App/2.0.3/libcoreclr.so to the directory containing the core dump which I assume is the current directory.  That seems to fix the problem.  I'll continue to investigate an actual fix.

[2018-05-02 22:54] mikem8361 commented on #17850
The libcoreclr.so needs to be in the same directory as the host ("dotnet" or "corerun") used to run the .NET Core program used to create the dump. When you load a core dump lldb needs the host program as part of the --core command line.

`lldb-3.9 --core coredumpfile dotnet`

[2018-05-02 23:41] jeffschwMSFT commented on #13277
@andrewLarsson you will need to first setup an AssemblyLoadContext in order to load the same assembly with different versions. Once you have an assemblyloadcontext created, and set the resolve event for that assembly, you can a LoadAssemblyFromPath on the assembly that has a Newtonsoft.Json dependency of a different version.  The future work we are doing will hopefully avoid the need for the addit

[2018-05-02 23:47] adamsitnik commented on #11607
what do you mean by unsupported? Even if I set `COMPlus_JitAlignLoops` env var it is not going to work?

[2018-05-03 00:00] briansull commented on #17823
I could not make a test case the currently has a problem, because we are fairly cautious  when folding constants into array LEA instructions.  That could change in the future, so we should fix this to prevent problems in the future when we do more address folding operations.

[2018-05-03 00:08] AndyAyersMS commented on #11607
IIRC setting the env var will do something, but is not guaranteed to do what you'd expect.

[2018-05-03 07:47] z1c0 opened #17869 "[Profiler API] Injecting types into mscorlib during ModuleLoadFinished"
On the desktop / "full" CLR, I encountered following problem:

Using the profiler API `IMetaDataEmit2::DefineTypeDef` during the `ModuleLoadFinished` callback seems to cause problems resulting in later `TypeLoadExceptions`.

I found this forum conversation dealing with that exact problem:

https://social.msdn.microsoft.com/Forums/sqlserver/en-US/9917e6c3-9453-485e-bae3-3f0992bc0694/typeloadexcepti

[2018-05-03 09:51] shanshan0309 opened #17870 "CoreCLR failed to run test "baseservices.exceptions.XUnitWrapper" crashed"
CoreCLR failed to run test "baseservices.exceptions.XUnitWrapper" crashed on Windows with VS2017 Update2. This issue is caused by master branch revision [0d96346](https://github.com/dotnet/coreclr/commit/0d963469bb16a734d07c1760f392cf325b17d0e4). Could you please help take a look at this? Thank you!

**You can repro this issue as the steps below:**
1. git clone https://github.com/dotnet/coreclr D:

[2018-05-03 10:37] MichalStrehovsky commented on #17772
This is reflection. The exception is coming from:

[code]

At some point before this point of execution is reached, reflection should probably find out that the containing type is still not fully built.

Moving to the future milestone since this is the same behavior as desktop.

[2018-05-03 10:38] JoeStead commented on #17850
I've not been able to use the workaround you've suggested, just so I'm not misunderstanding the steps:

Use lldb-3.9 (with the 2.0.3 SDK)
Use the version of the plugin you included above
Copy the `libcoreclr.so` to the same directory as the coredump file
Load the plugin included above
set the clr path?

I'm getting a little confused with the latter steps I think, and it's definitely my fault, this

[2018-05-03 13:36] Rohansi opened #17871 "Show unmanaged stack frames in exception stack trace"
Is it possible to list unmanaged stack frames with the transitions in exceptions, similar to how VS displays the call stack when mixed mode debugging is being used? In our application there are lots of transitions between C# and C++ and with the current behavior the stack traces sent to our logs get cut off at the most recent transition.

It doesn't have to specifically be shown with `ToString` or

[2018-05-03 15:49] AndyAyersMS commented on #17828
@omariom are you suggesting that we allocate the `stackalloc` storage up front in the prolog?

We started doing some up-front allocation in #14623, but the size limit is currently 32. I can see being more aggressive and allowing larger sizes in the case where the `stackalloc` is more or less the first thing that happens in the method. It starts to become increasingly risky when large fixed-sized c

[2018-05-03 16:26] AndyAyersMS commented on #1784
Fixed some issues enabling this by default for crossgen of corelib. Note I don't see any stack allocation conversions in corelib (Egor's notes indicated he was seeing some). Not sure why just yet, either I've introduced a bug or the patterns we use to find are no longer there.

We will not see conversions when crossgenning in R2R mode because the newobj in R2R is more abstract and if we converted

[2018-05-03 16:42] AndyAyersMS commented on #1784
Also (note to self) jit-diffs must be run in two steps in two repos as this change modifies the jit interface but does not yet modify the GUID -- so running a stock baseline jit will trigger a guard CFG fault on Windows. Had me puzzled there for a while.

Running jit-diffs (once I got past that puzzle) shows the main impact is from removing null checks from delegate invokes. Not sure this is corre

[2018-05-03 17:59] omariom commented on #17828
Yes, the idea is that when JIT sees unconditional fixed size stackalloc it could generate code as if it was for a local buffer.

[2018-05-03 18:09] AndyAyersMS commented on #1784
Scratch that, it's not a nullcheck, just folding an address mode. Current jit late delegate expansion causes it to miss a folding opportunity.

Somewhere along the line we lose the magic disassembly display. Current lowering for `Invoke` is a bit odd -- we still claim it is a direct call but have an indirect `gtControlExpr`. So likely it can use the method handle from the direct call to get the te

[2018-05-03 18:13] RussKeldorph commented on #17869
@dotnet/dotnet-diag

[2018-05-03 18:14] RussKeldorph commented on #17870
@dotnet/dotnet-diag @sywhang

[2018-05-03 18:15] RussKeldorph commented on #17871
@dotnet/dotnet-diag

[2018-05-03 18:26] mikedn commented on #17838
Apparently this is due to `Compiler::gtFoldExprCompare` and/or `GenTree::Compare`. The later returns `true ` for those 2 indirs and then the relop gets folded:
https://github.com/dotnet/coreclr/blob/0a842c03c1d60a5c57b7c60d09a657e6a66e4c95/src/jit/gentree.cpp#L12814-12820

Not clear what exactly is wrong:
* Should `Compare` check `GTF_IND_VOLATILE`?
* Should `gtFoldExprCompare` check `GTF_ORDER_SI

[2018-05-03 18:30] AndyAyersMS commented on #1784
Magic disassembly relies on the method handle, which lives in a union with the call target address. So we'd need a separate (perhaps debug only) field to tunnel this through. Not worth the trouble right now.

One other note -- you might have wondered why we don't tail call the delegate in any of the examples above.  The VM won't let the jit make tail calls from `Main` so that the debugging experie

[2018-05-03 20:03] andrewLarsson commented on #13277
@jeffschwMSFT Oh, I see now. I misunderstood how the AssemblyLoadContext worked. I finally found the [documentation](https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/assemblyloadcontext.md) and now it makes sense. I implemented my own AssemblyLoadContext and it provides me exactly the level of "isolation" I need. Thank you!

[2018-05-03 20:29] AndyAyersMS commented on #17670
Was curious if the prototype stack allocation code (see #1784) could unblock this, but not quite.

What the `dup` does here is block the part of devirtualization that asks for an unboxing stub. That is, in `Pattern` we devirtualize the interface call, but then don't realize what we have is a boxed entry point. And we don't think to ask, as the "this" is a temp copy of the boxed reference and not t

[2018-05-03 21:55] sdmaclea commented on #16377
OK I finally got back to this.

Argument table looks like this.
[code]

I was surprised to see the struct constructor takes a this and a template class argument.  Which moves the rest argument and the `7` into the stack

[2018-05-03 22:01] noahfalk commented on #17871
There isn't any functionality built into the runtime to do this and I'm not aware of any libraries offhand that that bundle all this up to make it easy (if you do find one I'd love to know). You could build something to do it but I'd guess its going to take some non-trivial time to do so.  There would be a few elements to it:
1) Decoding native stack frames - The native stack trace APIs are all OS

[2018-05-03 22:33] #3396 closed

[2018-05-03 22:45] AndyAyersMS commented on #3903
Agreed; closing.

[2018-05-03 22:45] #3903 closed

[2018-05-03 22:50] fir3pho3nixx commented on #14263
@jeffschwMSFT

Are you are achieving harmony between full fat frameworks and dotnet core?

What are the changes you are considering across the issues? Do we have a common standard?

[2018-05-03 23:14] AndyAyersMS commented on #5120
cc @jashook

[2018-05-03 23:30] AndyAyersMS commented on #5674
Would be nice to know if this still repros.

[2018-05-03 23:33] AndyAyersMS commented on #5996
@redknightlois if this is still relevant let us know. The inlining block you hit was removed in #8038.

[2018-05-03 23:40] sdmaclea commented on #5674
I have not seen this particular failure on Linux-arm64, but I haven't ever tried setting
[code]

Looks like GCStressOnDirectCalls doesn't exist in the code anymore

[2018-05-03 23:44] AndyAyersMS commented on #5674
it is a runtime config setting. It triggers new behavior in gcover.cpp.

[2018-05-03 23:56] morganbr commented on #5303
Sounds good. Closing against dotnet/corert#4659.

[2018-05-03 23:56] #5303 closed

[2018-05-04 00:06] AndyAyersMS commented on #6066
Would be good to know if this still repros.

[2018-05-04 00:10] morganbr commented on #17828
Omitting the stack security checks is a tough call... It's true that the Span is safe code, but the BCL still has a lot of unsafe code based on Span. Given how dangerous stack buffer overflows are, it would be good to have evidence of a major performance win before removing the guards.

[2018-05-04 00:25] sdmaclea commented on #16377
My comment above was inaccurate.  I was looking at the destination of the GT_PUTARG_STK, not the source which is what is triggering the assert.

So in the failing case
[code]

V03 is
[code]

[code]

[2018-05-04 00:30] sdmaclea commented on #16377
@CarolEidt help
It seems either:

- V03 should be marked `lvOnFrame = 1`, `lvAddrExposed = 1`, `lvDoNotEnregister = 1`
- `genPutArgStk()` should handle putting a promoted struct
- `LCL_VAR_ADDR` should become `GT_FIELD_LIST` when the struct is promoted.

[2018-05-04 00:34] sdmaclea commented on #16377
@CarolEidt Attaching jitdump
[jitdump.zip](https://github.com/dotnet/coreclr/files/1973041/jitdump.zip)

[2018-05-04 01:54] briansull commented on #16377
The JIT isn't seeing the uses of V08 and V09 properly here.
The defs for each of these are assigning x19 for both V08 and V09
The use looks like it only sees the address taken struct V03, which feeds into the PUTARG_STK.
But it is address taken then V08/V09  should not be fully promoted into registers

[2018-05-04 01:59] briansull commented on #16377
The callsite afterfgMorphTree:

[code]

[2018-05-04 05:01] mikedn commented on #6591
@AndyAyersMS AFAIR coredistools appears only after building/running the tests. Not sure what's the problem with this anyway, there are other files that appear in product directories that aren't really part of the product (e.g. SuperPMI files)

[2018-05-04 08:41] DanielRabasco opened #17880 "UDP changes?"
I'm using a tracking system called Optitrack and connecting it via UDP protocol (using  .NET) with Unity.
 I've changed the Unity runtime scripting version from .NET 3.5 to .NET 4.6 (experimental) and when I run my scene, the fps start to decrease increasingly. With .NET  3.5 it doesn't happens.

Thanks for the help.

[2018-05-04 14:49] jkotas commented on #17880
Unity does not use .NET Core runtime. You should ask this question in Unity support forums.

[2018-05-04 14:49] #17880 closed

[2018-05-04 14:51] DanielRabasco commented on #17880
Ok, thank you very much

El vie., 4 may. 2018 16:50, Jan Kotas <notifications@github.com> escribió:

[2018-05-04 15:25] AndyAyersMS commented on #11121
Have a new cut at this buried in the commit stream in [master...AndyAyersMS:NonNullPlusStackAlloc](https://github.com/dotnet/coreclr/compare/master...AndyAyersMS:NonNullPlusStackAlloc). Reduces the code for `X` above to just `ret`.

[2018-05-04 15:37] redknightlois commented on #5996
Haven't hit this for a long time. This issue is indeed obsolete by now.

[2018-05-04 15:37] #5996 closed

[2018-05-04 15:57] AndyAyersMS commented on #14472
Though I like this proposal I'm still not quite sure how to handle the case where there are multiple uses and the uses have different demands on the box tree. Say for some uses are type tests (and so just want the type handle) and some others are feeding an unboxed entry point (and so just want a local copy of the payload) and some others feed a null test.

Say we refcount and there are N uses. Un

[2018-05-04 16:03] AndyAyersMS commented on #6591
coredistools is now placed into the test overlay via an explicit restore step (via tests\setup-stress-dependencies.cmd). It doesn't go into the product directories at all.

So I am going to close this as the issue seems to be fixed.

[2018-05-04 16:03] #6591 closed

[2018-05-04 16:07] AndyAyersMS commented on #6737
See my long and rambling series of notes over in #1784 for some context. There is quite a bit of up front work needed to support this, even in very simple / obvious cases.

[2018-05-04 16:12] AndyAyersMS commented on #6735
Not sure exactly what sorts of patterns you have in mind here, @DemiMarie. If anything, the frontend of the jit is too pattern sensitive.

But perhaps you are thinking of pattern based target specific optimizations (classically: peephole optimizations)?

Some examples would be helpful.

[2018-05-04 16:16] AndyAyersMS commented on #6736
The jit scales a lot of things back for large methods, and it's not clear if simply upping the limits is an effective approach -- often times algorithms need to be rethought.

See #5996.

[2018-05-04 16:24] jeffschwMSFT commented on #14263
@fir3pho3nixx right now we are gathering scenarios, so issues like these are very helpful.  We are app, host and library authors in mind as we explore existing and new scenarios.

[2018-05-04 16:28] AndyAyersMS commented on #6942
@BruceForstall is this still relevant?

[2018-05-04 16:29] kbaladurin opened #17882 "[Linux][armel] hfa tests fail"
The following tests are fail on Linux/armel:
[code]
Fail occurs due to assert in codegen:
[code]

Seems like the problem occurs after https://github.com/dotnet/coreclr/pull/17072

And it isn't reproduced on Linux/arm .

[2018-05-04 16:30] kbaladurin commented on #17882
@jkotas PTAL
cc @alpencolt

[2018-05-04 16:34] alpencolt commented on #17882
cc @dotnet/arm32-contrib

[2018-05-04 16:36] #17735 closed

[2018-05-04 17:14] BruceForstall commented on #6942
@AndyAyersMS no, this is done. I should open an issue to track adding coredistools for more architectures, though.

[2018-05-04 17:14] #6942 closed

[2018-05-04 17:28] AndyAyersMS commented on #7363
Probably don't want to do this for Tier0 code, as we rely on the prestub to count invocations and trigger Tier1 rejitting.

[2018-05-04 17:49] AndyAyersMS commented on #7455
While this is an interesting idea, it is probably not viable.

When reading the inlinee the jit will directly substitute argument trees from the caller into the callee. So the callee IR is already tailored to a particular call site and can't easily be reused at another call site. And important decisions are made in this context-sensitive callee importation  -- for instance the viability of callee

[2018-05-04 18:10] mikedn commented on #7455
IMO it would be much better to simply recognize some trivial and common cases - (e.g. `ldarg;ldfld;ret` - a typical property getter). That wouldn't need any complex caching, it would be just some sort of inlining fast path.

As is now, inlining such simple methods is very costly - initialize the inlinee compiler, scan IL for basic blocks, import the IL and then finally link the imported nodes into

[2018-05-04 18:13] AndyAyersMS commented on #7457
See #13305 for some attempt at doing this.

[2018-05-04 19:29] BruceForstall opened #17884 "Need coredistools for arm32/arm64"
The coredistools package needs arm32/arm64 builds to enable superpmi assembly diffs on these platforms. Currently, only Windows/Linux x86/x64 binaries are in the package.

(Note that it it not needed for these platforms for GC stress, which is the other major user of the coredistools package.)

[2018-05-04 19:37] BruceForstall commented on #17882
This means the JIT isn't reserving the "reserved register" for some reason. Look at `Compiler::compRsvdRegCheck()` and see why it is returning `false`

[2018-05-04 19:42] AndyAyersMS commented on #8243
Wonder if this is unblocked by #15597 and/or #16411?

[2018-05-04 20:10] BruceForstall commented on #17858
@stephentoub @danmosemsft Is there a corefx dev who can investigate this? It seems like possibly a threading/locking issue in the test (or product).

[2018-05-04 20:12] danmosemsft commented on #17858
What is the evidence it is a deadlock rather than just slow? I do not see that above.

[2018-05-04 20:42] AndyAyersMS commented on #9219
Closing per comment above.

[2018-05-04 20:42] #9219 closed

[2018-05-04 20:45] AndyAyersMS commented on #9225
Done in #142878.

[2018-05-04 20:45] #9225 closed

[2018-05-04 20:45] mikem8361 commented on #17850
I investigated the problem some more and it is a lldb problem than a plugin/SOS.  The lldb APIs that SOS uses to initialize the DAC do not work unless the actual "libcoreclr.so" file matching the one in core dump can be loaded from lldb. Hence requiring libcoreclr.so to be in the directory where the "host" is which is the way lldb finds and loads the module/symbol info for all the modules in the c

[2018-05-04 20:46] AndyAyersMS commented on #9226
Done via #12933.

[2018-05-04 20:46] #9226 closed

[2018-05-04 20:53] davmason commented on #17869
@z1c0 Using IMetaDataEmit in ModuleLoadFinished shouldn't cause an issue. We have tests that do that. Once you define your type, what do you do with it that causes the crash? Are you injecting IL to call it's methods?

Have you tried running the profiler on windows and linux, or just on linux? I am curious to know if it just crashes on linux, or if it crashes on windows too.

Also, for coreclr Sys

[2018-05-04 20:56] AndyAyersMS commented on #9659
Fixed via #15858.

[2018-05-04 20:56] #9659 closed

[2018-05-04 21:01] BruceForstall commented on #17858
We see the System.Transactions.Local.Tests test "hang" for a long period of time (meaning, it never finishes). When it passes, it takes less than a second.

[2018-05-04 21:06] danmosemsft commented on #17858
Gotcha. Per https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md, owners are @jimcarley, @qizhanMS, @dmetzgar.

Could you help them get a dumpfile/symbols to start?

[2018-05-04 21:15] briansull commented on #17823
Fixed with #17866

[2018-05-04 21:15] #17823 closed

[2018-05-04 21:18] sdmaclea commented on #16377
Arm64 is the only platform with `FEATURE_MULTIREG_STRUCT_PROMOTE` enabled.  This modifies code in `lvaCanPromoteStructVar()` and `lvaShouldPromoteStructVar()`.

I am tempted to just disable it.  We could just mark do not enregister in these cases.

[2018-05-04 21:24] sdmaclea commented on #16377
@briansull Looks like you enabled struct promotion on arm64 in b324afc3e317.  Do you think we just need to handle this special case?

[2018-05-04 21:33] echesakovMSFT commented on #17858
I have attached gdb backtraces and decoded top managed code frames: [17858.txt](https://github.com/dotnet/coreclr/files/1975958/17858.txt)

[2018-05-04 21:40] danmosemsft commented on #17858
Is it possible to get full managed stacks, eg `clrstack -all -a -f` in SOS?

[2018-05-04 21:55] CarolEidt commented on #16377
The latter is how this should be handled. I'm currently working on making some unifying changes to `fgMorphArgs()`, and discovered that this isn't being done on arm64. I didn't realize, though, that it wasn't marking the lclVar as `lvDoNotEnregister`, which it should do if it's leaving it in the `GT_OBJ` form.

[2018-05-04 22:13] qizhanMS commented on #17858
In the gdb trace, there is no System.Transaction function in the call stacks. It looks like either test didn't get started, or already finished.

[2018-05-04 22:19] BruceForstall commented on #17858
Unfortunately, no. We can't run SOS on these Ubuntu/arm boxes because it requires LLDB, and we haven't been able to get LLDB to run.

The GDBJIT tool (built into CLR) might help, and we should try to enable it.

That may be because we don't have managed code on the stacks. @echesakovMSFT did print out the top frame. Possibly System.Transactions is below that top frame.

[2018-05-04 22:25] glenn-slayden opened #17886 "'Buffer.Memmove' allow managed code path for compatible overlap cases"
(*This issue was originally mentioned [here](https://github.com/dotnet/coreclr/pull/9786#issuecomment-386747193)*)

Commit c6372c5bfebd61470ea5d111f224d035b1d2ebdf changed how overlap between the source and destination is detected in `Buffer.Memmove`:

https://github.com/dotnet/coreclr/blob/ea9bee5ac2f96a1ea6b202dc4094b8d418d9209c/src/mscorlib/src/System/Buffer.cs#L262

...became...

https://githu

[2018-05-04 22:38] AndyAyersMS commented on #11293
Can we link to some examples where this would improve CQ or TP?

[2018-05-04 22:46] noahfalk commented on #4331
With recent PRs (https://github.com/dotnet/coreclr/pull/17840, https://github.com/dotnet/sdk/pull/2201) you also the have the ability to specify tiered compilation as a runtimeconfig.json property or an msbuild project property. Using this functionality will require you to be on very recent builds whereas the environment variable has been around for a while.

[2018-05-04 22:51] briansull commented on #16377
I believe that most of the cases for FEATURE_MULTIREG_STRUCT_PROMOTE are working.

[2018-05-04 23:00] AndyAyersMS commented on #11606
See also #991

[2018-05-04 23:40] RussKeldorph commented on #17886
@jkotas @vkvenkat @fiigii

[2018-05-04 23:49] jkotas commented on #17886
The current implementation does not use uniform copy direction.

How would you propose to revisit this?

[2018-05-05 05:56] glenn-slayden commented on #17886
Ok, I did not discern that from the C# implementation body. If that's truly the case for the managed code path in `Buffer.Memmove` then sorry for the trouble and feel free to close this issue.

[2018-05-05 12:27] #17886 closed

[2018-05-05 13:12] fir3pho3nixx commented on #14263
@jeffschwMSFT great news. thanks.

[2018-05-06 00:41] bbowyersmyth commented on #14320
To help give some data to this item I've run a couple of tests on the existing code.

Test code here https://gist.github.com/bbowyersmyth/0523d23a9fb1ff2e2589cc74e92d2a35 100 character string.

Method |      Mean |     Error |    StdDev |
------------------------------- |----------:|----------:|----------:|
CompareEarlyExitBothCached |  15.98 ns | 0.0077 ns | 0.0064 ns |
CompareEarlyExitRightCache

[2018-05-06 02:10] Rohansi commented on #17871
It's like that but we don't have exceptions going through. So if an exception was thrown and caught in `InnerManaged` the runtime-generated stack trace wouldn't show frames below `InnerManaged` because it seems to stop as soon as it hits some native code.

Stitching the exceptions together without listing unmanaged frames, while showing a transition, would be perfect in my opinion. There's enough

[2018-05-06 08:32] stakx commented on #5368
@JeWaVe: It's instructive to also look at the default value of your `ts` parameter using reflection: According to `ParameterInfo.DefaultValue`, it will be `null` (as recorded in metadata), not `default(TimeSpan)` (as in C# source code).

I can think of two ways to improve reflection:

1. Allow `ParameterBuilder.SetConstant(default(TValueType))`. This gets reflection closer to the high-level langua

[2018-05-06 08:42] stakx opened #17893 "Reflection.Emit: ParameterBuilder.SetConstant throws ArgumentException for nullable enum parameters"
Say we want to emit the following type declaration using Reflection.Emit:

[code]

The following program fails with an `ArgumentException`:

[code]

[code]

If the value of `parameterType` is changed from `typeof(AttributeTargets?)` to `typeof(AttributeTargets)`, the error does not occur. Given

[2018-05-06 08:48] stakx commented on #17893
The cause of this bug is in this method: https://github.com/dotnet/coreclr/blob/0ba6924dbc8477e4ecfbb8fd7793c2788bd48cd9/src/mscorlib/src/System/Reflection/Emit/TypeBuilder.cs#L291

And it could be fixed as follows:

[code]

May I submit a PR for this?

[2018-05-06 16:39] jkotas commented on #17893
cc @AtsushiKan

[2018-05-06 18:25] omariom commented on #17828
Found that Roslyn [has already fixed]

[2018-05-06 18:27] #17828 closed

[2018-05-06 21:57] kasper3 commented on #4409
@davzucky, the AUR package for dotnet-sdk is available at https://www.archlinux.org/packages/community/any/dotnet-sdk/ (with latest SDK for .NET Core 2.0).

[2018-05-06 22:06] kasper3 commented on #17684
http://apt.llvm.org/ is also updated with fixed labels: v6 is now under "stable" branch and `apt install liblldb-6.0-dev` installs LLDB.h and other API headers (tested on artful).

[2018-05-07 02:33] shanshan0309 commented on #17870
@sywhang, Thank you. CoreCLR passed with the latest mater revision.

[2018-05-07 02:38] danmosemsft opened #17895 "Converge corelib - Threading types"
We have reached the point that 60% of CoreCLR corelib code is shareable. We believe we can reasonably take this further, perhaps to 80% however much of the remaining reconciliation will take domain knowledge because the merges are not trivial.

The work here is to unify implementations. In some cases this will take care. In some happy cases the CoreRT code may just be a frozen old copy of the Core

[2018-05-07 02:42] danmosemsft opened #17896 "Unify remaining diverged globalization types in corelib"
We have reached the point that 60% of CoreCLR corelib code is shareable. We believe we can reasonably take this further, perhaps to 80% however much of the remaining reconciliation will take domain knowledge because the merges are not trivial.  See #9474

From a diff of `corert\src\system.private.corelib\src` and `coreclr\src\mscorlib\src` these are files related to globalizations whose implementa

[2018-05-07 02:43] danmosemsft opened #17897 "Unify remaining diverged collections types in corelib"
We have reached the point that 60% of CoreCLR corelib code is shareable. We believe we can reasonably take this further, perhaps to 80% however much of the remaining reconciliation will take domain knowledge because the merges are not trivial.  See #9474

From a diff of `corert\src\system.private.corelib\src` and `coreclr\src\mscorlib\src` these are files related to collections whose implementatio

[2018-05-07 02:44] danmosemsft opened #17898 "Unify remaining diverged diagnostics types in corelib"
We have reached the point that 60% of CoreCLR corelib code is shareable. We believe we can reasonably take this further, perhaps to 80% however much of the remaining reconciliation will take domain knowledge because the merges are not trivial. See #9474

From a diff of `corert\src\system.private.corelib\src` and `coreclr\src\mscorlib\src` these are files related to diagnostics whose implementation

[2018-05-07 02:46] danmosemsft opened #17899 "Unify remaining diverged microsoft\win32 types in corelib"
We have reached the point that 60% of CoreCLR corelib code is shareable. We believe we can reasonably take this further, perhaps to 80% however much of the remaining reconciliation will take domain knowledge because the merges are not trivial.   See #9474

From a diff of `corert\src\system.private.corelib\src` and `coreclr\src\mscorlib\src` these are files whose implementations are yet to be unifi

[2018-05-07 02:46] danmosemsft commented on #17899
@maryamariyan this is a reasonable one to start with

[2018-05-07 02:48] danmosemsft opened #17900 "Unify remaining diverged reflection types in corelib"
We have reached the point that 60% of CoreCLR corelib code is shareable. We believe we can reasonably take this further, perhaps to 80% however much of the remaining reconciliation will take domain knowledge because the merges are not trivial.   See #9474

From a diff of `corert\src\system.private.corelib\src` and `coreclr\src\mscorlib\src` these are files whose implementations are yet to be unifi

[2018-05-07 02:49] danmosemsft opened #17901 "Unify remaining diverged resource loader types in corelib"
We have reached the point that 60% of CoreCLR corelib code is shareable. We believe we can reasonably take this further, perhaps to 80% however much of the remaining reconciliation will take domain knowledge because the merges are not trivial.   See #9474

From a diff of `corert\src\system.private.corelib\src` and `coreclr\src\mscorlib\src` these are files whose implementations are yet to be unifi

[2018-05-07 02:49] danmosemsft opened #17902 "Unify remaining diverged IO types in corelib"
We have reached the point that 60% of CoreCLR corelib code is shareable. We believe we can reasonably take this further, perhaps to 80% however much of the remaining reconciliation will take domain knowledge because the merges are not trivial.   See #9474

From a diff of `corert\src\system.private.corelib\src` and `coreclr\src\mscorlib\src` these are files whose implementations are yet to be unifi

[2018-05-07 02:51] danmosemsft opened #17903 "Unify remaining diverged interopservices/compilerservices types in corelib"
We have reached the point that 60% of CoreCLR corelib code is shareable. We believe we can reasonably take this further, perhaps to 80% however much of the remaining reconciliation will take domain knowledge because the merges are not trivial.   See #9474

From a diff of `corert\src\system.private.corelib\src` and `coreclr\src\mscorlib\src` these are files whose implementations are yet to be unifi

[2018-05-07 02:55] danmosemsft opened #17904 "Unify remaining diverged misc types in corelib"
We have reached the point that 60% of CoreCLR corelib code is shareable. We believe we can reasonably take this further, perhaps to 80% however much of the remaining reconciliation will take domain knowledge because the merges are not trivial.   See #9474

From a diff of `corert\src\system.private.corelib\src` and `coreclr\src\mscorlib\src` these are files whose implementations are yet to be unifi

[2018-05-07 02:58] danmosemsft opened #17905 "Rename coreclr\src\mscorlib directory to coreclr\src\System.Private.CoreLib"
See #9474. This will reduce confusion: as the work continues to unify more and more code in the two corelibs, it makes sense for the directory name to reflect this. Also, it reflects the rename we did from mscorlib for 1.0.

@maryamariyan you'll just need to do this and find everything that breaks. (Not just in the repo - eg., the mirror)

[2018-05-07 04:07] SonnevilleJ opened #17906 "NumberFormatInfo.CurrentInfo.CurrencySymbol does not detect machine regionalization settings"
# Overview
When running on a US MacBook Pro, `NumberFormatInfo.CurrentInfo.CurrencySymbol` does not detect machine regionalization settings and returns `¤` instead of `$` even though the regionalization settings clearly indicate `$` should be used. This appears to be [hardcoded here](https://github.com/dotnet/coreclr/blob/eb6430a72fa0fd6c5ee79b7b2209f7c51559f0c1/src/mscorlib/shared/System/Globaliz

[2018-05-07 04:31] jkotas commented on #17899
These are also duplicated under https://github.com/dotnet/corefx/tree/master/src/Microsoft.Win32.Registry/src

[2018-05-07 10:07] noahfalk commented on #17871
Exception stack traces only contain the frames that the exception unwound through. It sounds like you want to throw/catch exceptions within InnerManaged that contain frames from OuterManaged even though control flow never unwinds back to OuterManaged? If you use System.Diagnostics.StackTrace you can get a stack trace that should include all managed code frames on the thread, but it would be up to

[2018-05-07 12:27] Tornhoof opened #17907 "Tiny CodeQuality issue in string.AsSpan"
I noticed in .NET Core 2.1.0-rtm-26502-02 that the following code
[code]
has a tiny code quality issue for the ``CodeQualityString``, it has a couple of unused
``mov  rdx,rcx`` and ``mov     rcx,rdx``  at the end.
(Those do not appear to be Benchmark.Net artifacts, they show up with longer methods too).

I think I've seen this before, but couldn't find anything, if this is a duplicate, please clos

[2018-05-07 13:00] stephentoub commented on #17906
What is your LANG environment variable set to?

[2018-05-07 15:14] SonnevilleJ commented on #17906
[code]

[2018-05-07 15:25] stephentoub commented on #17906
Try doing:
[code]

[2018-05-07 15:30] AndyAyersMS commented on #17907
Looks like the same issue noted at the end of the comment stream for #9066.

[2018-05-07 15:55] SonnevilleJ commented on #17906
Thanks, Stephen, that worked.

[2018-05-07 15:55] #17906 closed

[2018-05-07 16:00] AndyAyersMS commented on #17907
We're currently building up an inventory of all the open codegen issues and it seems like this problem of register shuffling likely deserves an anchor issue of its own, as it has appeared in several places.

So I'm going to leave this issue open for now. When we get further along in our issue review (hopefully just later this week), we will revisit.

[2018-05-07 16:07] mikedn commented on #17907
Seems similar to #15782 as well.

[2018-05-07 17:04] maryamariyan opened #17909 "Remove ConcurrentStack from System.Private.CoreLib"
This issue is opened to track removing ConcurrentStack from System.Private.CoreLib

Referring to [comment](https://github.com/dotnet/coreclr/pull/17800#issuecomment-385092192) _From @stephentoub on Apr 27, 2018, 1:57 PM PDT_:

Related to issue: https://github.com/dotnet/coreclr/issues/17751

cc: @stephentoub @danmosemsft @jkotas

[2018-05-07 19:28] AndyAyersMS commented on #13329
Yeah, probably not actionable. So am going to close.

[2018-05-07 19:28] #13329 closed

[2018-05-07 20:02] dcu-sharepoint commented on #13542
el2iot2

thanks, your PropertyGroup xml code did it for me. I'm getting into docker and it showed me how to move on to the next phase and use the latest preview code from the insiders code.

Thanks again for sharing, awesome.

[2018-05-07 20:56] brianrob commented on #15127
Not needed.

[2018-05-07 20:56] #15127 closed

[2018-05-07 20:57] brianrob commented on #15128
Not needed.

[2018-05-07 20:57] #15128 closed

[2018-05-07 23:08] AndyAyersMS commented on #17907
And similar to issues in #14592.

[2018-05-07 23:13] AndyAyersMS commented on #14672
This may have been fixed by #17780.

@briansull can you take a look?

[2018-05-07 23:14] AndyAyersMS commented on #14568
This may have been fixed by #17845.

@briansull can you take a look?

[2018-05-07 23:47] briansull commented on #14672
Fixed with  #17793

[2018-05-07 23:59] briansull commented on #14568
Fixed with #17845

[2018-05-07 23:59] #14568 closed

[2018-05-08 00:05] #14672 closed

[2018-05-08 04:50] per-samuelsson commented on #13277
@andrewLarsson

You still "only" support to load custom assemblies where all dependencies are in the same folder, right? Like a published app. And not supporting dependencies to be found in, and loaded from, packages?

We've been working on a solution for quite some time now, trying to achieve proper dependency resolving of the same sort done any standard application out-of-the-box, but for assemb

[2018-05-08 10:42] ShutterQuick commented on #15693
@brianrob I'm seeing the same issue on Yocto 2.4 on x86-64.

dotnet --info output:
[code]

lttng-ust version: 2.10.1 (but I've also had the issue under 2.9)

I'm really not sure how to debug this issue, but if anyone here has some pointers for things I can try, that'd be awsome.

Is there any way to work around this without removing lttng-ust? Any variable I can set to disable tracing maybe?

Stac

[2018-05-08 12:14] kbaladurin commented on #17882
@BruceForstall thank you for suggestion!

This problem occurs during emitting access to floating-point argument that located on stack. In this case `Compiler::compRsvdRegCheck()` returns false:
[code]
It occurs because following conditions are false in  our case:
[code]
`Compiler::compRsvdRegCheck()` returns false because we doesn't need additional register to store offset if we'll use FP-based on

[2018-05-08 14:05] forki commented on #14263
here is one that blocks us complety: https://github.com/davkean/maket/pull/2

[2018-05-08 14:27] NinoFloris commented on #14263
This is especially a big problem with `FSharp.Core` on .Net Core as it's basically a required dep. It's "the BCL" for F# and everyone needs it.

First of FSharp.Core follows BCL versioning rules a.k.a no breakage and stay BC.

Of course at some point newer versions of FSharp.Core are released. Some authors start pushing packages with newer FSharp.Core versions referenced in the assemblies and othe

[2018-05-08 14:47] jkotas commented on #14263
I am not sure what you mean by this. The BCL has the same behavior. E.g. if one of your dependencies references say .NET Core 2.1 and you override NuGet to tell it to run on .NET Core 2.0 anyway, you will get the same exception.

The basic `loadedversion >= assemblyversion` check is there for a reason. If we removed this explicit check, folks would get much harder to diagnose type load or missing

[2018-05-08 14:52] forki commented on #14263
That check is hurting so much right now. And it's not symmetrical which is
really weird.

Jan Kotas <notifications@github.com> schrieb am Di., 8. Mai 2018, 16:47:

[2018-05-08 15:07] NinoFloris commented on #14263
@jkotas
Was meant as to how it's shipped, `BCL treatment` would have been better worded as `netstandard treatment` something to shield all package authors from underlying implementation versions.

A tooling mechanism to always burn in the 'reference implementation version' for the package/TFM (like netstandard) to allow all those assemblies to flow with your project version as a whole.

It's mostl

[2018-05-08 15:44] jkotas commented on #14263
I agree that this is clearly broken. Installation of a new SDK should not be changing dependencies of your build output.

Is there a issue in SDK or FSharp repos tracking this?

[2018-05-08 16:00] NinoFloris commented on #14263
I think not but @KevinRansom would definitely know more.

[2018-05-08 16:00] sdmaclea commented on #17223
It has been decided that arm64 will not be officially released with the 2.1 release.

The release will be at least deferred until 2.2.

Closing for 2.1

[2018-05-08 16:00] #17223 closed

[2018-05-08 16:02] sdmaclea commented on #17348
#17330 had no code which needs to be ported to arm64

[2018-05-08 16:02] #17348 closed

[2018-05-08 16:03] sdmaclea commented on #17179
Duplicate of #17414

[2018-05-08 16:03] #17179 closed

[2018-05-08 16:19] Tasteful commented on #17864
I have updated to Windows 10 (build 1803) and after this the exception is not been thrown. Feel free to close the issue.

[2018-05-08 18:02] sandreenko commented on #17585
So now we understand what is happening in this issue, #17920 adds IL test that doesn't require stress mode to hit this. C# example is [here](https://gist.github.com/sandreenko/965ded10af88dc9bfedef19158303063).

To hit this issue we need:

1. An interface call `foo()` that creates Dispatch Stub;
2. call `foo()` with `this == null`, to cause AV in the dispatch stub;
3. tail call `foo()`, to create

[2018-05-08 18:17] jkotas commented on #17585
Have you considered changing this https://github.com/dotnet/coreclr/blob/master/src/jit/morph.cpp#L8050 to `#if defined(_TARGET_X86_) || defined(_ARM_)` ? I should only produce diff around slow VSD tailcalls that are very rare.

[2018-05-08 19:01] sandreenko commented on #17585
on jit side we can:
1. disable optimized VSD for tail calls;
2. do not do tailcall optimization if it is not an explicit IL prefix, if it is - disable VSD.
3. add an explicit null check before each VSD taillcall;

I will collect diffs for the third option.

[2018-05-08 19:07] andrewLarsson commented on #13277
@per-samuelsson Yes, my `AssemblyLoaderContext` only supports dependencies in the same folder. I add
```<CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>```
to the `PropertyGroup` in the project file to make sure all the dependencies get copied over. I had found some information on how the `DependencyModel` works for inspecting/parsing `.deps.json` files, but I didn't go too far with

[2018-05-08 19:12] sandreenko commented on #17585
That part is only for `elif defined(_TARGET_XARCH_) && !defined(LEGACY_BACKEND)`, for arm this logic is https://github.com/dotnet/coreclr/blob/6f0bb947138c6f75a1721fef7f6c54d4b01282dc/src/jit/morph.cpp#L7794-L7800

[2018-05-08 19:28] erozenfeld commented on #17462
@danmosemsft Looks like this issue can be closed since the proposed transformation is not legal?

[2018-05-08 21:16] AndyAyersMS commented on #8288
Some of the consequences of this show up in #9068 / #15491 -- overly large or entirely unnecessary stack frames.

[2018-05-08 21:35] vellozzi opened #17924 "Following build/test instructions doesn't build any tests"
I'm trying to build coreclr release/2.1 on Amazon Linux 2017.03 and can't get the tests to build.  (I have the same issue on Ubuntu)
Here are the instructions I'm following:
https://github.com/dotnet/coreclr/blob/release/2.1/Documentation/building/linux-instructions.md
https://github.com/dotnet/coreclr/blob/release/2.1/Documentation/building/unix-test-instructions.md

Here's my script:
[code]

Thi

[2018-05-09 00:03] AndyAyersMS commented on #15783
Dusted off my prototype. Not sure if it's worth the trouble or not just yet. The base version doesn't fire much on corelib or framework via jit-diffs. On the other hand that only shows R2R codegen and in R2R inlining and devirtualization is curtailed.

Sure would be nice to have a PMI or SPMI way of looking at change impacts in Core.

The more ambitious change to always spill if the return value i

[2018-05-09 00:08] AndyAyersMS commented on #15783
Anyways, here's a concrete example:
[code]
So if we view `Choose` as a factory method and we happen to inline/simplify it down to just one `new` we can enable (late) devirtualization of the calls.

And just a reminder ~ "late" here means devirt is enabled at a call site in the caller after a callee is inlined and we have learned new facts from the callee's return value. We currently devirtualize b

[2018-05-09 02:07] AndyAyersMS commented on #15783
On the other hand, it is one fewer temp ... let me tally up the "temp" savings somehow.

[2018-05-09 03:30] #17905 closed

[2018-05-09 07:08] per-samuelsson commented on #13277
I think that was a wise choice, and mainly b/c that sample is pretty naive and would not really work. I have worked my way up from something similar and learned the hard way how tricky this thing really is to get right. 😎 😓

Thanks for sharing! Our needs are unfortunately a bit more complex, so even extending it like you suggest would not be sufficient for us. What we aim at is a shared app host,

[2018-05-09 09:32] Donpedro13 commented on #17669
Thanks Jan, I've opened a separate .NET [problem report](https://developercommunity.visualstudio.com/content/problem/249048/there-is-something-fishy-going-on-with-clrvectored.html) on the Developer Community Portal. Based on your input, I'm closing this issue.

[2018-05-09 09:32] #17669 closed

[2018-05-09 12:58] tmds opened #17929 "Unexpected coredumps"
I notice my system was creating coredumps for .NET Core processes.

Repro:
[code]
Running this will cause a coredump (`abort` called).
[code]
I didn't expect this program to generate a coredump.

[2018-05-09 14:27] 4creators commented on #17924
The Linux test build was broken for short time and was fixed by #17725 PR but the fix was applied only to master branch.

@jashook @BruceForstall Should I port the fix to 2.1 branch as well?

[2018-05-09 14:50] sdmaclea commented on #17598
This also fails on linux-arm64 but failure rate is probably lower.

Last night failed on
`gcStress=0x4 baseservices/threading/generics/WaitCallback/thread01/thread01.sh`
[code]

[2018-05-09 14:54] 4creators commented on #17924
In case #17725 would be ported to 2.1 it would be helpful to port #17785 as well

[2018-05-09 15:16] Petermarcu opened #17931 "Using Alpine docker image from system w/ SELinux execheap enforcement triggers segfault"
@petejohanson commented on [Sun May 06 2018](https://github.com/dotnet/core/issues/1503)

# Alpine docker image segfault when run from a host system w/ SELinux execheap enforcement

From my Fedora laptop, attempting to use the `microsoft/dotnet:2.1-sdk-alpine` docker image, as soon as the 'dotnet' tool is invoked, it immediately segfaults within the container, and the "SELinux Alert Browser" notes

[2018-05-09 15:16] Petermarcu commented on #17931
I moved this issue to coreclr so it can be tracked.

[2018-05-09 15:17] Petermarcu commented on #17931
We should discuss whether this is needed for 2.1.

[2018-05-09 15:26] Petermarcu opened #17932 "Possible Performance Regression from 2.0.7 to 2.1-RC1 on Windows Server 2016 w/ Hyper-V Role"
@Mike-EEE commented on [Wed May 09 2018](https://github.com/dotnet/core/issues/1524)

Hello .NET Core Team and Community,

I have a very interesting performance issue for you here.  I have produced some code that demonstrates a regressing difference in performance when switching from the .NET Core 2.0.x runtime to 2.1-RC1 on my Windows Server 2016 machine that I am using as a Hyper-V server.  Plea

[2018-05-09 15:27] Petermarcu commented on #17932
Moving this here to start the investigation. @valenis @jaredpar @livarcocc . I dont know if this is going to end up being a runtime, compiler, or SDK issue.

[2018-05-09 15:31] janvorli commented on #17931
I am trying to figure it out right now.

[2018-05-09 15:53] jashook commented on #17924
@RussKeldorph

[2018-05-09 15:57] vellozzi commented on #17924
Thanks for the update.  Please do port those PRs to the 2.1 branch.

[2018-05-09 16:13] AndyAyersMS commented on #11606
Yes, that's basically what it means. Logic for determining which loops to unroll is in [optUnrollLoops()](https://github.com/dotnet/coreclr/blob/dd089b270c5d4833e615f2a926ea0a82d070e5de/src/jit/optimizer.cpp#L3513). Current heuristic is that the loop bounds test must be a SIMD element count.

An example where unrolling kicks in: [SeekUnroll.cs](https://github.com/dotnet/coreclr/blob/master/tests/s

[2018-05-09 16:30] janvorli commented on #17931
So, after some testing, I am quite confident that it is specific to Alpine (or I should say MUSL based Linux) container running on SELinux enabled host. Debian stretch container on the same host doesn't have this issue. And standalone Alpine Linux installation doesn't have this issue either.
The RWX mapping of the heap seems to be specific to MUSL under the docker. The Debian Stretch (even in the

[2018-05-09 16:49] kasper3 commented on #17468
Thanks @janvorli. It looks good to me, but if possible, I think it would be nice to request @rofl0r for the pull request review to get some holistic feedback. 😎

A bit off-topic, should we try to merge Android rootfs script into the same one to easily keep the implementation for all arm platforms in sync?

[2018-05-09 17:20] sdmaclea opened #17933 "[Arm64/Linux] SDK fails to build hello world"
@richlander @dotnet/arm64-contrib @Petermarcu

As noted in various places the 2.1 arm64-linux SDK is failing during the build of Hello World with either an assertion or a segmentation fault

[2018-05-09 17:26] sdmaclea commented on #17933
I started trying to debug this. I used 2.1.300-rtm-008820 linux-x64 build and used the buildbootstrap script to make a debug build.

Debug build is very slow.  I am thinking a checked build would be better.  The buildbootstrap should be able to be modified to do that (@janvorli ).  I'll probably eventually take a look at that.

[2018-05-09 17:59] erozenfeld commented on #17191
@BruceForstall @jashook Should this be closed since we are planning on doing #17490 soon?

[2018-05-09 18:31] erozenfeld commented on #16961
@RussKeldorph Should we close this since we are planning on doing #17490 soon?

[2018-05-09 18:43] RussKeldorph commented on #16961
@erozenfeld Sure.

[2018-05-09 18:43] #16961 closed

[2018-05-09 18:44] #17191 closed

[2018-05-09 19:01] sdmaclea commented on #17933
The failures all seem to occur shortly after compiling
[code]

The errors take one of these forms
[code]
[code]
[code]
[code]
[code]
[code]

[2018-05-09 19:07] kasper3 commented on #17933
@tmat, that CS8113 one looks like coming from https://github.com/dotnet/roslyn/blob/d187f90ffe71303f43de22736ab36172c1396736/src/Compilers/Core/Portable/Emit/EmitOptions.cs#L304-L309

[2018-05-09 19:08] Mike-EEE commented on #17932
LOL... @Petermarcu we have shared agreement with this. 😆   Thank you for getting this to the right area... to start, at least. 👍

Also, a quick note that when I had posted this this morning, I was not able to reproduce exactly on my Surface Pro, but later I was indeed able to see the divergence while copying from my VM.  Unfortunately I do not know the exact reproduction but I will track it down f

[2018-05-09 19:15] stephentoub commented on #17932
Sorry if I'm being dense, but I've read the description several times now and I'm still not clear on... what exactly do you see regressing?

[2018-05-09 20:08] sdmaclea commented on #17933
[code]

[2018-05-09 20:16] #17794 closed

[2018-05-09 20:35] tmat commented on #17933
This seems like there is a bad argument passed to the compiler -- the value of PdbChecksumAlgorithm should be something like `SHA256`, not a path to a PDB:

[code]

[2018-05-09 20:59] sdmaclea commented on #17933
Here's the IL for reference.  It looks like generated code is correct.  I need to look at gcInfo though
[code]

[2018-05-09 20:59] mikem8361 commented on #17929
Yes, the runtime is behaving exactly as designed. An unhandled managed exception will call abort() generating a core dump if enabled.

[2018-05-09 21:00] mikem8361 commented on #17929
Maybe this issue is more about an specific part of .NET Core (i.e. ASP.NET) and maybe it needs a try/catch somewhere.

[2018-05-09 21:30] tmds commented on #17929
I'll create an issue in the appropriate repo.

I understand the rationale, still the behavior came as a surprise. I think it's worth mentioning this explicitly in the docs.

How does Windows behave in this case? Is there some event logged? Coredump created? Is there a way to control this?

[2018-05-09 21:42] joperezr commented on #17931
@janvorli does that mean that we won't fix this for 2.1?

[2018-05-09 21:43] mikem8361 commented on #17929
Whether a core dump is generated is dependent on your Linux configuration. Usually you have to explicitly add something like this to /etc/sysctl.conf

kernel.core_uses_pid = 1
kernel.core_pattern = /tmp/core-%e-%s-%u-%g-%p-%t
fs.suid_dumpable = 2

run “sudo sysctl -p” and then in the shell the app is run in run “ulimit -c unlimited”.

Once Linux is configurated to generate dumps any program or app

[2018-05-09 22:06] AndyAyersMS opened #17935 "JIT: have inlining heuristics look for cases where inlining might enable devirtualization"
When a caller argument is an exact type and feeds a virtual or interface call in the callee, we might want to inline more aggressively.

A toy example of this can be found in [this BenchmarkDotNet sample](https://github.com/dotnet/BenchmarkDotNet/blob/master/samples/BenchmarkDotNet.Samples/JIT/Jit_InterfaceMethod.cs). Here `Run`, if inlined, would allow the interface calls to devirtualize.

`Run`

[2018-05-09 22:17] tmds commented on #17929
I need to check if Fedora generates coredumps by default or if this is something I configured (and forgot about). I'll do a clean install in a VM somewhere next week.

[2018-05-09 22:18] RussKeldorph commented on #17858
@qizhanMS Are you looking into this?  Any update?

@echesakov Now that you have lldb working, can you try `clrstack -all -a -f` per @danmosemsft?

[2018-05-09 22:49] janvorli commented on #17931
@joperezr I think we should fix it. I have a simple PR pending for the fix. Tested on an affected system.

[2018-05-09 22:51] echesakovMSFT commented on #17858
@RussKeldorph  Sure
@qizhanMS @danmosemsft Please find attached [clrstack -all -a -f.txt](https://github.com/dotnet/coreclr/files/1989762/clrstack-all-a-f.txt)

[2018-05-09 23:06] sdmaclea commented on #17933
The heap is corrupt.  The corruption is in the `<PdbChecksumAlgorithm>k__BackingField`
After the SIGSEGV
[code]

[2018-05-09 23:11] sdmaclea commented on #17933
The heap is also corrupt in the `MARKED_BIT` assertion case

After the assert (w/ export COMPlus_HeapVerify=1) and GCStress logging enabled (w/ GCStress=0)
[code]

[2018-05-09 23:38] sdmaclea commented on #17933
Based on the debugging so far.
+ I believe this is not a GC issue
+ The issue is likely with the code that is initializing `<PdbChecksumAlgorithm>k__BackingField`.  Probably
`Internal.Cryptography.HashProviderDispenser.CreateHashProvider(System.String))`
+ Looking at `Internal.Cryptography.HashProviderDispenser.CreateHashProvider(System.String))` the call stack doesn't make sense.  How does `Creat

[2018-05-09 23:42] sdmaclea commented on #17933
Reading history of #17920, this is probably not that case...

[2018-05-09 23:50] sdmaclea commented on #17933
Ok I didn't realize unix had different source.

We are in the process of throwing an exception...
[code]

[2018-05-10 00:00] ArtBlnd commented on #11606
I meant can I have that should be unrolled and shouldn't be unrolled?
this will may help me to contribute on this.

also, is that SIMD check does with LPFLG_DONT_UNROLL flag which is on optimizer.cpp:3636
[code]

Thanks :>

[2018-05-10 00:49] AndyAyersMS commented on #11606
Broadly speaking most loops should be unrollable. After all, it is a fairly mechanical operation.

In practice there are cases where the JIT can't properly represent the results of unrolling, and those loops are flagged by various critiera, eg:
* `LPFLG_DONT_UNROLL` -- bail if loop was created by loop cloning or has an unclonable statement
* `LPFLG_DO_WHILE`  -- loop must be bottom tested
* `LPFLG

[2018-05-10 00:58] ArtBlnd commented on #11606
Thanks :> Its helped a lot. I will try to fix it.

[2018-05-10 01:27] AndyAyersMS commented on #17935
Took a look at this and was reminded that the jit's early modelling of prospective inlinees is quite crude.

In a case like this we have A -> B ->C, and we're trying to decide if inlining B into A will allow us to devirtualize the call from B to C.

So we need to know:
* Is the call from B to C a virtual call? We can easily see if it has a CALLVIRT opcode, but that's not sufficient
   * So we'll n

[2018-05-10 01:50] leculver opened #17943 "Reliability - Watson crash in AssemblySpec::Bind"
We have a failure during EEStartup, tracked by this internal Watson bucket:
https://watson/Failure?FailureSearchText=4a3aff04-3ef6-bbbe-2ae8-2cffa0b278c3

This accounts for 91.6% of reported external failures in coreclr.dll:

    0 coreclr!AssemblySpec::Bind  0x0000000000000183    coreassemblyspec.cpp
    1 coreclr!AppDomain::BindAssemblySpec  0x0000000000000126    appdomain.cpp
    2 coreclr!PEFi

[2018-05-10 06:41] Mike-EEE commented on #17932
Hi @stephentoub sorry for the confusion.  I will try my best to break it down here.

- I am running the code [found in this repository](https://github.com/Mike-EEE/BenchmarkDotNet.InProcess/tree/TheWeird_03) on .NET Core 2.0.7 and seeing [these results](https://github.com/Mike-EEE/BenchmarkDotNet.InProcess/blob/TheWeird_03/README.md). (~19us)
- I am then taking that same code without modification

[2018-05-10 07:05] mikedn commented on #17932
On my machine I get identical results:
[code]

[code]
Also, it's not clear how your results are actually different. You have a delta of 1.53us between 2.0 and 2.1 and the 2.0 result has error = 1.584us. And the benchmark includes allocations so its result needs to be taken with a grain of salt anyway.

[2018-05-10 07:38] mikedn commented on #17932
Nope, it's the current Win10 insider preview.

Well, in 5 runs I got one result that was more than 1us away from the rest:
[code]
I think you're looking too much into this. A real difference may exist but it's too small and the numbers are too noisy to tell. And if you drag in different hardware, OS versions and even virtual machines then you'll soon end up nowhere. You may as well try to count th

[2018-05-10 07:55] mikedn commented on #17932
What Surface Pro? Surface Pro 4 uses Skylake CPUs but your results indicate that you're using a Haswell CPU. I'll try to run the benchmark on my Surface later today.

[2018-05-10 07:56] Mike-EEE commented on #17932
Here you go @mikedn.  Try running [the code found in this branch](https://github.com/Mike-EEE/BenchmarkDotNet.InProcess/tree/TheWeird_03b) on your machine.  Please make sure the `BenchmarkDotNet.Artifacts` folder is deleted on the first run.  You should experience the deviance here between the first run and second (and subsequent) runs.  I was able to reproduce this on my Surface Pro, at least.  T

[2018-05-10 08:02] Mike-EEE commented on #17932
Ah @mikedn all the results you have seen to date with the exception of the one I just posted have been on my Windows Server 2016 that acts as a Hyper-V server.  I just now posted my very first Surface Pro _3_ results.

Additionally I would like to note that I also have a development VM based on Windows 10 that runs on that Windows Server and it gets a completely different set of results altogether

[2018-05-10 08:28] mikedn commented on #17932
The folder issue seems to be completely unrelated to the .NET Core 2.0 vs. 2.1 issue. I tried this myself and I don't see any difference between results with the folder deleted. But I don't think it's completely impossible for some small differences to exists. As far as I can tell BenchmarkDotNet creates that folder and a file in it before running the tests so there's probably a very small chance

[2018-05-10 08:46] Mike-EEE commented on #17932
I am super appreciative of you taking the time to help me through this, @mikedn.  I assure you my sanity has been challenged numerous times by this issue. 😆

I agree.  That is why I stated: "Now this could indeed be a bug in BDN, so I am using this as an example of the consistent deviation that is experienced here for now (although I believe this is a symptom of the greater issue at large)."

Boo,

[2018-05-10 08:59] Mike-EEE commented on #17932
Ah bummer, I cannot edit the original message, but here are the five examples I provide:

---

In the list below, I provide a link to the example branch, followed by the results of the first run and then the second run, each denoted by their resulting bounds, if that makes sense.  Please note that the "second run" is also consistent with further subsequent runs as well.

- [Example 1](https://gith

[2018-05-10 09:07] PhoebeHui opened #17944 "CoreCLR failures when build permissive- + msvc on windows"
Hi,
We found 3 failures when build CoreCLR with permissive- by msvc on windows, could you help take a look?

You can repro this issue as the steps below:
1.	git clone https://github.com/dotnet/coreclr D:\CoreCLR\src
2.	Open VS2017 x86 command prompt and browse to D:\CoreCLR\src
3.	Set  _CL_=/wd5043 /permissive-
4.	build x86 release -Rebuild -- /clp:ShowCommandLine
5.	build-test.cmd x86 release --

[2018-05-10 09:52] mikedn commented on #17932
Until I get to my Surface I ran the benchmark on an older CPU/OS and got a slightly larger difference between 2.0 and 2.1, larger enough that it may matter:
[code]
5 repeated runs persistently show a 3us difference.

The same difference can be reproduced without LINQ's `ToArray`:
[code]
Turns out that there is a small difference in the code generated by the JIT between 2.0 and 2.1:
[code]
I don't

[2018-05-10 11:08] Mike-EEE commented on #17932
I'm getting a public dress down over my old equipment that I clearly need to upgrade. 🤣

Awesome, thank you for your additional findings, @mikedn.  Again, it means a lot for you to take this time and add some sanity back to my world here.

Yes, to be sure I have 3 different machines that do not run the same code with the same results using the same code.  However, each machine does manage to find

[2018-05-10 12:38] zeus82 opened #17946 "ResourceReader Cannot Read Resource File"
We are in the process of migrating an application from the .NET Framework to .NET Core 2, but it looks like the ResourceReader cannot process a valid resx file.

When I create the ResourceReader I get

[code]

Here is a [gist](https://gist.github.com/zeus82/e45838a029f58784ebe2e118b11f21cf) to the contents of the resx file.

[2018-05-10 13:00] Mike-EEE commented on #17932
Alright @mikedn I have got something for you, but it is dependent on how I have understood your comments above.  I have managed to create a [repo for the repro here](https://github.com/Mike-EEE/BenchmarkDotNet.InProcess/tree/TheWeird_05a).  Please note that this is strictly a 2.0 -> 2.1 recompile and `BenchmarkDotNet.Artifacts` has nothing to do with this.

This was run on my Surface Pro 3 and thi

[2018-05-10 13:35] danmosemsft commented on #17946
That should certainly work. Could you share a code snippet?

[2018-05-10 13:37] zeus82 commented on #17946
Here's how I'm using it:

[code]

[2018-05-10 13:51] mikedn commented on #17932
The readme in your repro seems to indicate that the 2.1 result is actually obtained on 2.0, both results have the line `[Host] : .NET Core 2.0.7 (CoreCLR 4.6.26328.01, CoreFX 4.6.26403.03), 64bit RyuJIT` in them.

[2018-05-10 15:34] mikedn commented on #17932
Hrm, I played a bit with this on my Haswell desktop and it does look like there's something fishy going on but I don't know exactly what. The issues seems to be that the benchmark numbers are impacted by the presence of attributes on your `Array` class.

With 2.1 and `[Config(typeof(Config))]` I get ~24us. If I add back the `Description` attribute (or any other attribute it seems) then the time dr

[2018-05-10 15:49] jeffschwMSFT commented on #17943
The underlying issue is that an attached profiler is injecting mscorlib references to System.Private.CoreLib which do not resolve and lead to the crash.  The best course forward is to understand why these profilers are not .NET Core aware.

[2018-05-10 16:25] Mike-EEE commented on #17932
Glad someone can finally share my pain here. 😆

Right.  I like your theory.  Now that we have some verified traction here I would also like to note that I have seen the exact same thing occur with local (readonly) references used within the benchmark class.  That is, commenting out unused references would also cause these discrepancies.  It's a specific type of  reference, too.  They have to be re

[2018-05-10 17:00] daxian-dbw commented on #10590
Sorry to leave a comment on this closed issue. I ran into this on Windows, the `ilasm.exe` I use is of version `'4.7.2558.0'` (`Microsoft (R) .NET Framework IL Assembler version 4.7.2558.0`). Is it possible that the fix doesn't make to that version of `ilasm.exe`?

[2018-05-10 17:05] daxian-dbw commented on #10590
To be more specific, `ilasm.exe` spits the warning `"Reference to undeclared extern assembly 'mscorlib'. Attempting autodetect"` at a reference to `System.Enum`, and the generated ref assembly has a reference to `mscorlib.dll`.
[code]

[2018-05-10 17:13] ericstj commented on #10590
Yeah, I think this issue is only addressing the ILasm built from coreclr.  I'm guessing you are using the desktop ILAsm that comes from `C:\Windows\Microsoft.NET\Framework\v4.0.30319\ilasm.exe`?  Tagged this as netfx-port-consider so that folks can look at backporting the fix to desktop.

[2018-05-10 17:15] daxian-dbw commented on #10590
@ericstj Thanks for the quick reply! Yes, I'm using the desktop ILAsm that comes with the full .NET framework. That explains. Thanks!

[2018-05-10 18:16] gbalykov opened #17950 "Build error: PE file is already strong-name signed"
Hello.

Next errors happen during build of current master:
[code]

This happens for both Linux x64 and Linux armel cross builds:
[code]

Specifically, errors happen during execution of the next part of build:

`
Running: msbuild.sh /nologo /verbosity:minimal /clp:Summary  /l:BinClashLogger,Tools/Microsoft.DotNet.Build.Tasks.dll;LogFile=binclash.log  build.proj /p:__BuildType=Release /p:__BuildArch

[2018-05-10 18:39] joperezr commented on #17931
Reopening the issue to track the port to 2.1 branch

[2018-05-10 18:43] CarolEidt commented on #16377
Fixed with #17911

[2018-05-10 18:43] #16377 closed

[2018-05-10 18:47] jkotas commented on #17946
`ResourceReader` is for reading `.resources` files. `.resources` files are binary compiled files.

`ResourceReader` is not for reading `.resx` files. `.resx` files are xml source files. You need to use `GenerateResource` build task to compile `.resx` file into `.resources` files. Typically, you do not need to call this build task explicitly - it gets called implicitly by just having the `.resx` fi

[2018-05-10 19:52] saucecontrol opened #17951 "[RyuJIT] Avx.ConvertToSingle intrinsic not recognized"
I'm doing some work with the new X86 intrinsics support, and it seems like some of the intrinsics might not be recognized by RyuJIT yet.  Is there some documentation for what's fully implemented vs what's missing?

In this sample program, `Avx.SetAllVector256` works but then the program crashes on `Avx.ConvertToSingle`

[code]

I've just built the current master from coreclr to enable RyuJIT debug

[2018-05-10 19:57] JustArchi opened #17952 "CoreCLR doesn't start if path includes a semicolon (on Windows)"
Steps to reproduce:

1. `dotnet publish -c Release -r win-x64 -o out` (any app)
2. Manually rename `out` directory to `out;` or any other with a semicolon
3. Run `YourApp.exe`

Result:

[code]

Thank you in advance.

[code]

[2018-05-10 20:26] mikedn commented on #17951
Looks like there's a bug in the importer code, because the return type of `ConvertToSingle` is scalar it fails to set "baseType" and then asserts.

[2018-05-10 20:49] mikedn commented on #17951
Actually the importer code is fine, the intrinsic flags for `Avx.ConvertToSingle` were incorrect.

[2018-05-10 20:57] saucecontrol commented on #17951
Man, you're fast.  I can confirm patch is working over here.

[2018-05-10 20:58] mikedn commented on #17951
Eh, trivial fix. Thanks for confirming the fix!

[2018-05-10 21:01] rconde01 opened #17955 "Platforms document says RHEL 6 is supported, but there appears to be no way to install it"
See:

https://github.com/dotnet/core/blob/master/release-notes/2.0/2.0-supported-os.md

RHEL 6 was added just a few days ago, however all documentation I can find only shows instructions for installing on RHEL 7. How can I install on RHEL 6?

[2018-05-10 21:14] gdkchan opened #17957 "[RyuJIT] Sse2.Extract with sign-extension not working properly"
I was trying the new X86 intrinsics and noticed that when casting a signed type extracted from a vector to a larger signed type, the value is not sign-extended, it is zero-extended.

The following program demonstrates the issue:
[code]

On debug mode, the output is:
[code]

On release, it is:
[code]

The expected output is:
[code]

dotnet version: `2.1.300-rc1-008673`.
Sorry if it was already repo

[2018-05-10 21:43] #15491 closed

[2018-05-10 22:27] sdmaclea opened #17958 "[Arm64] System.Linq.Expressions.Tests.ArrayBoundsTests.SingleNegativeBoundErrorMessage regression"
This test case was passing near 2.1 fork.
[code]

@dotnet/arm64-contrib @VSadov @OmarTawfik  FYI

[2018-05-10 22:36] jkotas commented on #17950
This error likely means that `-rebuild` is not actually rebuilding everything, we end up with a mix of stale and rebuilt binaries, that causes this error.

If you flip `/verbosity:minimal` to `/verbosity:diag`, you should be able to figure out from the log what went wrong.

[2018-05-10 22:37] fiigii commented on #17957
Thanks for capturing this issue.

Looks like this problem is caused by the zero-extension semantics of `pextrw` instruction, which extracts 16-bit data and puts it into a 32-bit GP register with zeroed 31th-16th bits.

@CarolEidt @mikedn shall we change the APIs of extracting small integers to only return unsigned scalar types?

[2018-05-10 22:39] danmosemsft commented on #17952
[code]

because NormalizeAppPaths splits on ;
`               int nextPos = values.IndexOf(Path.PathSeparator, pos);`

because `TRUSTED_PLATFORM_ASSEMBLIES` contained a set of semi colon separated paths including the app's binary path. This setup information comes from the host. It is impossible for AppDomain to know that the semicolon is part of the path. The host should either agree on some esca

[2018-05-10 22:39] #17952 closed

[2018-05-10 22:39] danmosemsft commented on #17952
Issue moved to [dotnet/core-setup #4141](https://github.com/dotnet/core-setup/issues/4141) via [**ZenHub**](https://www.zenhub.com/)

[2018-05-10 22:46] danmosemsft commented on #17950
dupe of https://github.com/dotnet/corefx/issues/29495

[2018-05-10 23:40] ArtBlnd commented on #11606
I think we have to start with a very simple cases
here is most general case that should be unrolled.

[code]
the loop backedge-count is constant. also there is **realistic** banefits on it.

here is current JIT generated assemblies here.
[code]

loop didn't removed. also **DIDN'T** unrolled
current progress in.

[2018-05-10 23:42] CarolEidt commented on #17957
IMO, the API should closely reflect the target hardware, so it would seem we should change the API to only return unsigned types. However, I could be convinced otherwise.

[2018-05-11 00:05] sdmaclea commented on #16377
@CarolEidt Thanks passes in my latest run.

[2018-05-11 00:31] ArtBlnd opened #17959 "LoopCloneContext::EvaluateConditions need to evaluate for const init, limit condition."
current EvaluateConditions should evaluate const-init, const-limit for not cloning very natural loops
this is **actually** statically known as true. (always taken)

this makes loop to clone, causes not to unroll general natural loops
[code]
I don't this this loop really needs to be cloned. (or maybe implement something for evaluate loop count?)

[2018-05-11 00:32] ArtBlnd commented on #17959
Note this is related to loop unrolling optimization issue
https://github.com/dotnet/coreclr/issues/11606#

[2018-05-11 00:44] danmosemsft commented on #17929
Seems we can close this @tmds?

[2018-05-11 03:53] benaadams opened #17963 "Jit can generate pointless movs"
e.g.
[code]
Example

The Checksum routine [Magma.Common/Checksum.cs](https://github.com/ProjectMagma/Magma/blob/4daec54a0719e187540a9a981f94cbe2b0ca69cf/src/Magma.Common/Checksum.cs#L11-L93)

[code]
Generates asm with 3 pointless movs
[code]

[2018-05-11 04:06] mikedn commented on #17963
Those aren't exactly pointless, they're zero extending casts from int to long. But yes, they're not necessary due to the fact that the loads that produced the values already zeroed out the upper 32 bits.

I have a PR in progress that's supposed to deal with some similar cases but I'm not sure it will have any effect here, the `Unsafe.Add` that's between the def and the use might cause problems. I'

[2018-05-11 04:14] ArtBlnd commented on #17959
@AndyAyersMS

[2018-05-11 04:41] #17951 closed

[2018-05-11 04:51] mikedn commented on #17957
Hmm, the fact that the API supplies an overload taking `Vector128<short>` is a convenience since neither the instruction nor the C intrinsic care about the sign. Thus we could drop the `short` overload and call it a day, those who need it can resort to `StaticCast`.

But I'm not sure that zero extending is the real problem. Can't speak for @gdkchan but to me it looks like this:
* The `PEXTRW` docu

[2018-05-11 05:14] mikedn commented on #17959
Hmm, you really picked a funny example to start with. This is one of those where loop cloning kicks in and clones the loop but then other optimizations remove the redundant range check and you're left with 2 identical loop versions.

The limit of the loop is const and the array length is also const but the later might be problematic to figure out at the point where loop cloning runs, before SSA/VN

[2018-05-11 05:25] mikedn commented on #17959
In fact loop cloning + unrolling could be a pretty interesting optimization when the array length is not known (e.g. function parameter). Code like
[code]
could generate something like
[code]
[code]

[2018-05-11 05:31] fiigii commented on #17957
Good point, this makes sense.

[2018-05-11 05:35] ArtBlnd commented on #17959
@mikedn

Yes, but first. we have to evaluate **constant backedge taken count** for loop
there is nothing logically implemented codes for evaluate **constant backedge taken count**  such as SCEV(Scalar Evolution)

[2018-05-11 05:50] mikedn commented on #17959
Yes, of course. You have no way of knowing that the array length is >= 4.

[2018-05-11 05:51] ArtBlnd commented on #17959
I mean, this code will failed if the array length is less than 4 whatever its optimized or not.
so its unsafe array access.

[2018-05-11 05:54] mikedn commented on #17959
It is unsafe in the sense that it may throw an `IndexOutOfRangeException`. That's not quite the same as reading garbage values from memory past the end of the array or crashing with an access violation or corrupting memory (in the case of a loop that stores to the array).

[2018-05-11 06:01] ArtBlnd commented on #17959
I understood, Thanks for explaining. (I didn't know that because I moved here from LLVM)
Is that same for non-optimized code?

[2018-05-11 06:40] tmds commented on #17929
@danmosemsft I don't think it's desirable to have coredumps by default, so I want to check the behavior on Fedora. I think we should also cover this in official docs (if it isn't already). For ASP.NET Core behavior, I've created a separate issue.

[2018-05-11 06:43] mikedn commented on #17959
Yes. The only flexibility around array range checks is some reordering (hoisting checks out of loops) and that only in special circumstances, when [CompliationRelaxation](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.compilationrelaxationsattribute?view=netframework-4.7.1) attributes is used. The JIT does not use that today.

Other than that eliminating range checks r

[2018-05-11 06:44] ArtBlnd commented on #17959
Okay thanks, I will take close to fix it. :>

[2018-05-11 06:53] ArtBlnd commented on #17959
[code]

Okay.... so now I understood that is really need but um
what you excepted is this right?

[2018-05-11 07:09] ArtBlnd commented on #17959
[code]

This seems more reasonable code generations.

[2018-05-11 07:18] mikedn commented on #17959
In the specific case of loop cloning you know that the loop version that has range checks won't be normally executed, people just don't pass a 2 element array when a 4 element array is expected. And even if they do, this results in throwing an exception and that's far more costly than the loop code. In short - rarely run code + transform that increases code size = not useful.

And if we ignore loo

[2018-05-11 07:32] mikedn commented on #17959
I don't think this has anything to do with noexcept. The main difference between C/C++ and C# here is the presence of range checks.

As mentioned previously, you could try to unroll the cloned loop that does not contain range checks while leaving the one with range checks alone.

Another option is to look at loops that do not use arrays but pointers (unsafe code). That would be more similar to C/C

[2018-05-11 07:36] ArtBlnd commented on #17959
Just don't mind :> I was just joking.
I meant just wanted to tell jit to not this loop will not throws any exceptions as attribute.

Just never mind. also okay, I will try it with pointers :>

[2018-05-11 07:40] mikedn commented on #17959
That is - use unsafe code :)
[code]

[2018-05-11 08:40] JeWaVe commented on #5368
@stakx Option 2 looks perfectly reasonable to me. Glad to see this issue will be solved :)

[2018-05-11 09:11] gfoidl commented on #17963
Aside from the codegen-issue: current CPUs (at least the Intel ones) will "optimize" these `mov`s away?!

[2018-05-11 10:36] mikedn commented on #17963
AFAIK Intel CPUs optimize register to register moves only if the source and destination are different. So unfortunately in this case these moves may end up wasting a cycle.

[2018-05-11 10:47] mikedn commented on #17963
#12676 should take care of the moves if the casts are done early, something like:
[code]
Otherwise it gets complicated and at the moment I don't know what needs to be done to fix this.

[2018-05-11 10:49] gfoidl commented on #17963
When I read [Intel® 64 and IA-32 Architectures Optimization Reference Manual -- Section 3.5.1.12 Zero-Latency MOV Instructions](https://software.intel.com/sites/default/files/managed/9e/bc/64-ia-32-architectures-optimization-manual.pdf#G4.1213167) correct, so here the `mov` _can_ be eliminated. It doesn't state if it is definitely eliminated.

Anyway it would be better to avoid these `mov`s in the

[2018-05-11 12:03] mikedn commented on #17963
Since the JIT has a habit to generate useless moves for various reasons it would be useful to get some numbers. Measuring some simple assembly code:

[code]

On my Haswell I get

Case | Time
------|-----
No moves | ~700ms
Case 1 | ~1000ms
Case 2 | ~1300ms

So extra moves aren't without consequences and a single `mov ecx, ecx` move is more costly than 2 moves via a separate register.

[2018-05-11 13:11] gdkchan commented on #17957
IMO, the best solutions are:

- Implementing the sbyte/short overloads of Extract as helper methods similar to other methods (like the Set*Vector128 methods), so this particular method could be implemented as:
[code]
- Removing the sbyte/short overloads, since they map to the same instructions as their unsigned counterparts, we could just use the unsigned overload instead (by using a StaticCast).

[2018-05-11 13:32] gbalykov commented on #17950
Simplier way to reproduce this. Two next `msbuild` commands are invoked in the same order during build.

The difference is only in `/t:Rebuild`, which is passed to both `msbuild` commands in the second case.

1. Both commands are successful:

[code]

2. First command works, second one fails:

[code]

Log with `/verbosity:diag`:

[code]

[2018-05-11 15:53] rconde01 commented on #17955
I need to clean up this question...it's not specific enough and a bit misleading...so closing.

[2018-05-11 15:53] #17955 closed

[2018-05-11 16:02] fiigii commented on #17957
I am not sure if it is worth to have these “official” helpers with managed implementation. Users can write them easily. Meanwhile, this solution would complicate JIT implementation because an intrinsic method can be true intrinsic or managed helper on different overloads, so we have to check the return type to reject expanding the short/ushort versions and always to expand the int version in the J

[2018-05-11 16:12] sdmaclea commented on #17933
If I set ZapDisable=1 ReadyToRun=0 DumpJittedMethods=1, HeapVerify=1 and GCStress=F the heap corruption is found closer to the root cause and before the assert/segfault...

Heap corruption of an EmitOptions object occurs near its construction.
[code]

Likely the JIT generated bad code for one of the EmitOptions methods.

[2018-05-11 16:17] AndyAyersMS commented on #17959
@ArtBlnd I think you're starting to get a sense of why optimizations in the jit frequently pose challenges you may not see when coming from a C/C++ centric optimizer. Exceptions are a fundamental part of the .Net ecosystem and need careful and constant consideration.

There's also this cruel irony: many different operations can cause exceptions, so there is a high density of potential exception si

[2018-05-11 16:56] mikedn commented on #17932
Another more likely to be true guess is that this is caused by code alignment issues. I can reproduce the unexpected speed-up by simply adding an empty for loop before the actual loop (yeah, the JIT does not eliminate empty for loops :grin:):
[code]
Does adding/removing a class attribute can have the same effect? Yes, it can. If some code is looking for attributes the attribute constructor needs t

[2018-05-11 16:57] AtsushiKan commented on #17893
Seems worth a PR. BTW, `Nullable.GetUnderlyingType()` will do both the "is this a `Nullable<T>` and if so, what's the `T`" check.

[2018-05-11 16:59] jashook commented on #17924
Will handle porting these to 2.1.

[2018-05-11 17:28] Mike-EEE commented on #17932
I cannot begin to share my appreciation for your efforts here @mikedn!  Thank you so much for being able to put some much needed context/explanation around this for me.  As I have mentioned, I have been able to see the quirkiness as well from adding new code, whether it is a new reference assignment and/or instantiation, or even simply a nested class.  Each one of these will produce a different ty

[2018-05-11 18:12] AndyAyersMS commented on #17932
This alignment issue is probably a "feature" on most modern CPUs. It will show up in cases where performance depends critically on one small loop. So it's less of a problem for realistic applications where there are many key loops and/or the loops do more work per iteration.

We have a few issues open on this already (#11607, #16873) and other examples of the annoying impact of not having alignmen

[2018-05-11 18:27] Mike-EEE commented on #17932
Ah!  That is a new feature in 2.1 RC1, right?  Are you saying that the existing features might be able to work some magic here?  Or perhaps future additional features too this feature?

Also, this is sounding like a x64-specific bug (or "feature" 😆) if I am reading the tea leaves here correctly.  Will switching to x86 offer a work around until this is addressed?

The issue in my world is that perf

[2018-05-11 18:35] RussKeldorph commented on #17858
@qizhanMS @danmosemsft Any ideas based on `clrstack` output?  We can set you up with the repro machine if you could investigate.

[2018-05-11 18:37] sandreenko opened #17966 "[arm64/RyuJit] NYI("Initialize floating-point register to zero");"
It was found in our internal test runs, I have added an IL test for this issue: tests/src/JIT/Regression/JitBlue/DevDiv_605447/DevDiv_605447.il (#17759)

To repro crossgen this test with altjit_arm64 or on arm64 itself.

Once it fixed delete change `tests/arm64/Tests.lst` to enable the test.

[2018-05-11 18:41] sandreenko opened #17967 "[arm64/RyuJit] assert(!"We should never encounter a reference to a lclVar that has a zero refCnt.");"
It was found in our internal test runs, I have added an IL test for this issue: tests/src/JIT/Regression/JitBlue/DevDiv_590771/DevDiv_590771.il  (#17759)

To repro crossgen this test with altjit_arm64 or on arm64 itself.

Once it fixed delete change `tests/arm64/Tests.lst` to enable the test.

[2018-05-11 18:43] sandreenko opened #17968 "[arm64/RyuJit] assert(!"Shouldn't see an integer typed GT_MOD node in ARM64");"
It was found in our internal test runs, I have added an IL test for this issue: tests/src/JIT/Regression/JitBlue/DevDiv_590772/DevDiv_590772.il  (#17759)
To repro crossgen this test with altjit_arm64 or on arm64 itself.
Once it fixed delete change tests/arm64/Tests.lst to enable the test.

[2018-05-11 18:48] stephentoub commented on #17858
@RussKeldorph, do you see hangs still if you add `-parallel none` to the xunit command line? Or if invoking with msbuild, `/p:XunitOptions="-parallel none"`?  My hypothesis is that this is a test issue, that xunit's SynchronizationContext is limiting the number of threads used to run tests, and these tests are doing blocking calls (e.g. Task.Result/.Wait/.WaitAll/etc) waiting for async operations

[2018-05-11 18:56] echesakovMSFT commented on #17858
@stephentoub It did hang even before with `-parallel none`

[2018-05-11 19:03] Mike-EEE commented on #17932
Bummer.  This is no good, then.  It's great to know why this is happening, though (or at least, a theory).

Ah, I am going to reach back in time here and say that I have seen this outside of microbenchmark scenarios.  For instance, for our [ExtendedXmlSerializer benchmarks](https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/test/ExtendedXmlSerializer.Tests.Performance/Benchmarks.cs), we

[2018-05-11 19:50] CarolEidt opened #17969 "Don't eliminate a cpblk when offsets are different"
When the JIT encounters a cpblk between two different offsets of the same local, if both fields are not recognizable to the JIT (i.e. the `FieldSeqNode` returned by `IsLocalAddrExpr()` and/or the `gtFieldSeq` field of a `GT_LCL_FLD` is `FieldSeqStore::NotAField()`) it will incorrectly optimize away the cpblk.

[2018-05-11 19:52] CarolEidt commented on #17969
@adityamandaleeka I've tracked down the root cause, I have a smaller repro that fails with coreclr, and I'm currently working on a fix.

[2018-05-11 19:52] danmosemsft commented on #17858
Great that lldb is working!

To eliminate @stephentoub 's suggestion, it might be worth adding `.ConfigureAwait(false)` onto all awaits - I 16 hits to the regex `await (?!(.*ConfigureAwait))` from https://github.com/dotnet/corefx/issues/29483. Also to try running just this one single test, either by adding `/p:xunitoptions="-method System.Transactions.Tests.AsyncTransactionScopeTests.VerifyBYOTAsy

[2018-05-11 20:06] adityamandaleeka commented on #17969
Thanks @CarolEidt!

[2018-05-11 20:39] SteveL-MSFT commented on #10379
@danmosemsft COREHOST_TRACE=1 is fine for seeing traces when the exe is starting, but is there another env var I can use to have it save the runtime traces to a logfile.  In the case of PSCore6, I need to get more details of why a module isn't finding appropriate assemblies and this is after PSCore6 itself successfully started up

[2018-05-11 20:58] danmosemsft commented on #10379
@SteveL-MSFT it is hard coded to stderr/stodout. You could redirect those, or propose a change to write directly to a file. Please open an issue in the dotnet/core-setup repo for that.
https://github.com/dotnet/core-setup/blob/master/src/corehost/common/trace.cpp#L44
https://github.com/dotnet/core-setup/blob/24ba120b0ca1ba60a24a79b7dc95866cd3e9f799/src/corehost/common/pal.h#L132

[2018-05-11 21:17] stephentoub commented on #17858
Hmm, ok, thanks.  Could you try with #29665?  If `-parallel none` didn't fix it, #29665 shouldn't either, but I just want to make sure before folks go chasing other things.

[2018-05-11 21:26] echesakovMSFT commented on #17858
Once dotnet/corefx#29665 got merged I will enable the test assembly in https://github.com/dotnet/coreclr/blob/d31fdcaa70cc6b9a969a4e2158eb545aee9c624b/tests/arm/corefx_linux_test_exclusions.txt#L15

[2018-05-11 21:36] RussKeldorph commented on #7078
theme:barriers

[2018-05-11 22:19] jashook commented on #17924
Fixed with #17965

[2018-05-11 22:19] #17924 closed

[2018-05-11 22:44] #17858 closed

[2018-05-12 02:39] glenn-slayden commented on #2373
Is there any effect from (or relevance to) applying `[MethodImpl(MethodImplOptions.AggressiveInlining)]` to the P/Invoke declaration *itself*, and/or did you examine this? Such an application *is* semantically accepted by the attribution system.

[2018-05-12 03:16] glenn-slayden commented on #17886
@jkotas  Because you say "the current implementation does not use uniform copy direction," I just wanted to make sure you properly understood what's at issue in here in #17886.

Your remark, while possible, surprised me, so I checked the `HAS_CUSTOM_BLOCKS` (x64) code path in [buffer.cs](https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/src/System/Buffer.cs), and found that,

[2018-05-12 03:27] jkotas commented on #17886
Right, the redundant copying is the problem.

I do not mind fixing this - it is just not a simple tweak of the condition:
- The fix should have zero effect on the existing non-overlapping cases.
- The fix should ideally make all overlapping cases faster. The old code that made half of the overlapping cases fast was potential performance trap.

[2018-05-12 04:00] jkotas commented on #17904
I doubt that there any in this issue where this would work.

The relatively easy ones in this issue that I see are: `*Exception.cs`, `CurrentSystemTimeZone.Cache.cs`, `SerializationInfo.cs`, `Array.cs` (the runtime-specific parts were separated from non-runtime parts in CoreRT repo to some degree), `Buffer.cs`, `GC*.cs`.

Also, I found it useful to work on the horrible diffs incrementally. Once yo

[2018-05-12 04:37] jkotas commented on #17901
@maryamariyan RsourceSet.cs in this list should be easy. It was done once already, but rolled back because of the CoreRT implementation was buggy (see #11328 and https://github.com/dotnet/corefx/issues/19210)

[2018-05-12 06:10] glenn-slayden commented on #17886
Curious what you mean by "performance trap." Wouldn't making half the cases better always be preferable to keeping them all worse?

[2018-05-12 07:26] jkotas commented on #17886
I think one would expect that copying from higher address to lower address has about the same performance as copying from lower address to higher address. If one is significantly faster than other, it is a performance cliff that tends to take people by surprise.

It is sometimes better to have consistently worse performance than to have uneven performance. This case may not be the best example, bu

[2018-05-12 07:54] ArtBlnd commented on #17959
Thanks @AndyAyersMS. it's such pleasure to help me out :>

[2018-05-12 08:28] kasper3 commented on #17909
Since [PinnableBufferCache](https://github.com/dotnet/coreclr/blob/14de6935792bd56eb11a87c211a4e04b1b29e019/src/System.Private.CoreLib/src/System/PinnableBufferCache.cs) is using `lock`s in most places around the usage of `ConcurrentStack<object> m_FreeList`, except when it does `TryPop` (in one place and without `lock` in another) and usage of `Push`, could we use `List<object>` to mimic LIFO or

[2018-05-12 10:40] kasper3 commented on #3089
I believe this and some other arm64 issues from 2016 can be closed https://github.com/dotnet/coreclr/issues?page=4&q=is%3Aissue+is%3Aopen+label%3Aarch-arm64

[2018-05-12 11:32] kasper3 commented on #9265
@seanshpark, @parjong, if all tests are passing since August 2017, what is remaining? Although everyone is talking about support disappearing, Cannonical will support 32-bit until 2023 via Ubuntu 18: https://itsfoss.com/ubuntu-32-bit-support-drop/. CentOS still has community driven 32 bit. It may take 10-15 years before it is absolutely gone from all the mainstream traditional hosting servers (som

[2018-05-12 14:29] jkotas commented on #17909
PinnableBufferCache is a custom object pool. It suspect it is avoiding locks on the common Alloc/Free path for scalability.

It was used in number of places in corefx as well, and we simply got rid of it there. See https://github.com/dotnet/corefx/issues/15761. Similar concerns as discussed in the corefx issue apply here as well. The problem is basically how to simplify or eliminate PinnableBuffer

[2018-05-12 14:41] glenn-slayden commented on #17886
Ok. Since you mentioned that you are willing to improve this code, at some point I will try to post a more detailed proposal for your consideration here in this thread.

In addition to your two points, I think the code should give some consideration to the input alignment characteristics. A starting point for the set of possible alignment cases is the cross-product of all the following. This repre

[2018-05-12 15:00] jkotas commented on #17886
The managed implementation is used only up to certain relatively small size to save the transition overhead. The C runtime implementation is used for larger sizes for which it becomes a lot more important to pay attention to things like alignment differences that you have mentioned. The assumption is that the C runtime implementation has handling for all these special cases so that we do not have

[2018-05-12 15:36] kasper3 commented on #17909
Ok, so instead we should focus on usages of PinnableBufferCache instead of attempting to overhaul it and try to use (shared) array pool?

[2018-05-12 19:43] mikedn commented on #17932
It might. Deleting the folder might involve different code paths that result in different/additional methods being JIT compiled. This will affect the alignment of methods that are being benchmarked.

And likely newer CPU generations such as Skylake.

You'd need to buy many laptops having whatever CPUs you care about. That's probably not feasible. Even for a large company it would be rather difficu

[2018-05-12 20:37] Mike-EEE commented on #17932
Cool... thanks for your help here, @mikedn.

OK good to know.  FWIW, after I posted my last message I recalled that I have an Azure instance with a Xeon processor sitting around.  I logged into it and was able to run my examples on it to reproduce this issue easily on both 2.1 x86 and x64.

The killer thing about this problem is that it is very subtle if you are not paying attention to it (like yo

[2018-05-12 20:45] kasper3 opened #17976 "Suggestion: run linters and formatters on PRs"
GitHub has a new section in PR that shows checks:

![image](https://user-images.githubusercontent.com/33230602/39961331-6950b8fc-563c-11e8-98af-f44fb5adecfb.png)

In CoreCLR and CoreFX, in lieu of `Windows_NT x64 Formatting` CI job, this [Checks feature](https://help.github.com/articles/about-status-checks/#checks) can run:

* C# code formatter (https://github.com/dotnet/codeformatter)
* Clang-for

[2018-05-13 09:12] serdam55 opened #17979 "Cannot start dotnet app"
I'm not an expert of NetCore and I'm not able to fix this issue. So I developed an application using NetCore 2.0, and I'm trying to run this on ubuntu machine.

I installed all the dependencies for NetCore on Ubuntu, and then I tried to run my app (is a dll) using this command: dotnet BotScrap.dll

I get this error:

`Error: An assembly specified in the application dependencies manifest (BotScrap.

[2018-05-13 10:10] kasper3 commented on #17909
Reading @adamsitnik's blog http://adamsitnik.com/Array-Pool/, it seems like we should probably use ArrayPool<T>.Create in this situation for performance? With ArrayPool<T>.Shared.Rent, implementation looks like this: https://github.com/kasper3/coreclr/commit/fc12eedb7934b9bfda812444b2e7024db17344a3. There seems to be no other reference of `PinnableBufferCache` in coreclr and corert.

[2018-05-13 10:12] CreateAndInject opened #17980 "What's data stored in method handle?"
[code]

I know, the lower bits is the order number of a method, but I don't know which position is the first bit.

What's the meaning of all the bits?

[2018-05-13 10:33] ArtBlnd commented on #17959
Thanks. um can I ask you that where can I get helped to get used on coreclr's code.
I am new on here. so just want to know basic techs for debugs.

for example.
in LLVM, we can just use dump method to display BasicBlock's IR nodes.
for another, I can insert IR nodes by IRBuilder class.

I am new, yes. but I don't see any docs like doxygen over here.
thats why I need some helps to used on.
it will

[2018-05-13 11:04] kasper3 commented on #17979
If documentation/googling doesn't help, you can try asking such usage questions at https://stackoverflow.com/questions/tagged/.net-core and share some reproducible steps or a sample project (if not the actual project). There is also a chat channel https://gitter.im/dotnet/cli for QA/help.

That error message suggests that your package is not restored properly, run `dotnet restore` in project direc

[2018-05-13 12:56] serdam55 commented on #17979
hi @kasper3  so I guess should I use publish command first? How can I do that?

[2018-05-13 13:10] #17979 closed

[2018-05-13 13:15] stephentoub commented on #17909
@kasper3, no, PinnableBufferCache isn't used here to cache arrays, it's used here to cache OverlappedData instances.  The "Buffer" nomenclature is based on the type's original use case, but it's really just a PinnableObjectCache, for use with objects that are expected to be pinned.

Taking a step back here, the goal here isn't exactly to remove ConcurrentStack from CoreLib.  If PinnableBufferCache

[2018-05-13 14:55] svick commented on #17980
This is really not something you should be reading from your code, at least assuming that code is meant for more than satisfying your curiosity. It's internal runtime data and the runtime does not give you any guarantee whatsoever about what's contained in it.

That being said, as far as I can tell, `MethodHandle.Value` is a pointer to the native `MethodDesc` type. If you want to look at that type

[2018-05-13 15:28] #17969 closed

[2018-05-13 15:44] CreateAndInject commented on #17980
so, if there are 17K methods, how can I get the order number of a method?
use 0x7fff as mask?
or there are not enough data?some data is lost?

[2018-05-13 16:02] Makeman-Makeloft opened #17981 "Strange performance fluctuations with static fields access"
I have tested performance of some methods on both .NET Framework and .NET Core CLRs and got strange results... Looks that methods which use static fields works significantly slower on .NET Core CLR.

Consider following benchmarks and results on different CLRs
[code]
.NET Framework 4.7.1
[code]
.NET Core 2.0.7
[code]
.NET Core 2.1.0-rc1
[code]
I don't know what cause this deviations, maybe [the tes

[2018-05-13 16:03] svick commented on #17980
@CreateAndInject Look at the gist I linked from my previous comment. It contains the code that you would need for that.

[2018-05-13 16:58] #17585 closed

[2018-05-13 17:08] AndyAyersMS commented on #17932
If you see or suspect you see this happening in programs that are not microbenchmarky, then we'd appreciate hearing more.

There are many microarchitectural issues that can show themselves when the overall performance you're measuring depends critically on one loop or a few branches, or the speed of one or two memory loads. These exhibit similar behavior patterns -- multiple "stable" values for me

[2018-05-13 17:11] gfoidl commented on #17981
Looking at the dasm the JIT generated reveals:

****net471 -- win-x64****

[code]

****netcoreapp2.1 -- win-x64****

[code]

So on .NET Core 2.1 rc1 more code is generated. See https://github.com/dotnet/coreclr/issues/1193 for background on that.

You can avoid this, by forcing the static fields to be initialized by adding a (empty) static constructor.
[code]

Thus changing the class in IL from
[c

[2018-05-13 19:56] jkotas commented on #17980
`MethodInfo.MetadataToken` property will give you the metadata token that you are looking for without any hacks.

Please do not add dependencies on runtime internal implementation details. It is very fragile, non-portable and likely wrong.

[2018-05-13 19:56] #17980 closed

[2018-05-13 20:59] Mike-EEE commented on #17932
I feel your pain @AndyAyersMS.  As I mentioned, it seems that I have put in over 100 hours now into this issue myself in all its baffling and most-irritating various forms.  I cannot get over how I simply cannot let this thing go without a fight. 😆   As for seeing this in programs that do not involve microbenchmarks, I am not sure what that would look like.  The only reason I am able to see the di

[2018-05-13 23:06] gfoidl commented on #17981
According to the IL-specs there's no need to. Search for _beforefieldinit_ for further info.

------

BTW: you have to use multi-targeting to bench this.

[2018-05-13 23:12] Makeman-Makeloft commented on #17981
And a most sad think...

Looks that the trick with empty static constructor doesn't work with generic static classes.
See details below.

What is mean? It is mean that performance critical constructions like
`EqualityComparer<T>.Default.Equals(a, b);`
works much slower then possible...

[code]
[code]

[2018-05-14 01:04] ArtBlnd opened #17983 "Odd code generation with fixed keyword"
there is strange code generation when its using fixed as `fixed (int* pArr = arr)` not `fixed (int* pArr = &arr[0])`

Here is example.
[code]

[code]

and here is useless copy and checks
[code]
its testing that `rcx` is null.
but if its null this will just emit **access violation** over here. not even needs to check its over range.

as you can see. range check processes here, on `G_M46070_IG02`, `

[2018-05-14 01:05] ArtBlnd commented on #17983
@mikedn

[2018-05-14 01:16] ArtBlnd commented on #17983
By the way, this is full source code.

[code]

[2018-05-14 01:51] ArtBlnd commented on #17983
WIP FIXING. DO NOT COMMENT THIS NOW.

[2018-05-14 01:51] #17983 closed

[2018-05-14 05:14] danmosemsft commented on #17976
I am not sure the Roslyn code formatter is in a working state...at least it wasn't when I tried it a while back.

That aside, I am not sure this is worth doing. Yes PRs should follow formatting guidelines. And I will comment on them and generally expect them to be addressed. But I would not want someone to be forced to reset a PR because of an extra space. It seems more productive for someone to j

[2018-05-14 07:45] tmds commented on #17929
On Fedora, coredumps are enabled by default. The OS also automatically removes old coredumps to save disk space.

It's important we improve the docs so devs know .NET Core behaves in case of unhandled exceptions.

[2018-05-14 07:54] stakx opened #17986 "Reflection.Emit: Assertion failure in SignatureHelper.AddOneArgTypeHelper. Missing argument validation in public API?"
I've come across a failing `Debug.Assert` in System.Reflection.Emit, using an up-to-date debug build of System.Private.CoreLib. It's probably a fairly benign case, but since I don't know how much value you place on fixing something like this, I thought I'd report it. Suggestions on how to fix it at the end of this post.

We're talking about the second `Debug.Assert` here: https://github.com/dotnet

[2018-05-14 07:55] z1c0 commented on #17869
I could reproduce the crash on Linux only.
The core dump didn't show a specific call involving one of the injected types but the application crashed when loading an additional assembly (one I did not inject types into).

[2018-05-14 08:32] janvorli commented on #17979
Thank you @kasper3 for providing help!

[2018-05-14 14:36] jkotas commented on #17976
Even when it was in a working state, it required a lot of manual intervention for corelib.

[2018-05-14 17:50] #17751 closed

[2018-05-14 18:31] sandreenko commented on #6675
I have added a check that if we have a prefix tail call then we have to do fast or slow tail call.
It showed that there are many tests that just ignored `tail.` opcode if they were not able to do a fast tail call:
JIT\jit64\mcc\interop\mcc_i06\mcc_i06.cmd
JIT\jit64\mcc\interop\mcc_i16\mcc_i16.cmd
JIT\jit64\mcc\interop\mcc_i36\mcc_i36.cmd
JIT\jit64\mcc\interop\mcc_i56\mcc_i56.cmd
JIT\jit64\mcc\inte

[2018-05-14 19:20] sdmaclea commented on #17933
Found the bad code in
[code]

When generating the call
[code]

[code]
is copied to the wrong stack position.
[code]
Should be `str     x10, [sp,#48] // [V32 OutArgs+0x30]`

[2018-05-14 19:20] echesakovMSFT commented on #17756
@BruceForstall @CarolEidt I saw this issue recently in https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_corefx_minopts_tst_prtest/10/consoleText

[2018-05-14 19:32] echesakovMSFT commented on #17851
I was trying to localize a root cause for this issue by running with `HeapVerify=1` `GCStressLog=1` under lldb+sos. It seems that when HeapVerification fails it always happens with an object at the beginning of Gen-2 heap:

[code]

[2018-05-14 19:34] echesakovMSFT commented on #17851
@dotnet/jit-contrib @janvorli @Maoni0 PTAL
Do you have any suggestions where to proceed from here?

[2018-05-14 19:35] OmarTawfik commented on #17958
@sdmaclea do you know who owns that part on coreclr? the test is passing on corefx master, so I'm assuming it is a recent change in coreclr.

[2018-05-14 19:44] danmosemsft commented on #9805
Another option might be to recognize an environment variable analogous to the host's COREHOST_TRACE. When this is set, we write to console at places that historically have caused initialization failures. We can add more progressively as needed. The perf cost in the normal case would hopefully be low - a bunch of boolean checks and some code size. The goal simply being to help customers unblock the

[2018-05-14 19:58] janvorli commented on #17851
Now the question is if the MethodTable 000809A0 was a valid one and it has become invalid due to some memory corruption or if the address is wrong due to something overwriting the address B2600000. I would set a breakpoint e.g. to the GCToEEInterface::GcScanRoots and see if the object is valid at that point. If it is, I would set a write watchpoint at its address (watch *(int*)the_object_address)

[2018-05-14 20:05] sdmaclea commented on #17958
I don't happen to know who owns it.

@jit-contrib @jkotas Does anyone know who would own this code?

[2018-05-14 20:11] Maoni0 commented on #17851
note that the fact verify_heap is complaining at the beginning of a GC is saying that the address was valid during the last GC and it got corrupted between the exit of the last GC and the beginning of this GC.

[2018-05-14 20:30] jkotas commented on #17958
It is not unclear to me what you mean by "this code".

If the test is passing everywhere else, I expect that it is going to be JIT regression.

cc @adityamandaleeka

[2018-05-14 20:40] echesakovMSFT commented on #17851
@janvorli Thank you. I'll try that

[2018-05-14 20:43] echesakovMSFT commented on #17851
@Maoni0 Yes, you right. It also can be seen from StressLog dump just before the `gc_heap::verify_heap` failed

[code]

[2018-05-14 21:15] bobuva commented on #17741
@noahfalk Thanks very much for the direction you've provided me with this problem. I'm going to try saving an assembly from the ModuleLoadFinished profiler handler after rewriting a function from that handler, and then running it against ILVerify once I've got that building. One problem: there's no easy way to write out an assembly using an API from within a profiler event handler that I can see.

[2018-05-14 21:17] CarolEidt commented on #1636
This is really a distinct issue from #1133. In that issue, what's at issue is that:
- First, the inliner creates copies for all struct parameters, and
- Second, value numbering is not fully enabled for structs, so the copies do not get eliminated.

Addressing this issue requires a different kind of analysis, to determine that the struct being passed is not modified, and is not read after the call

[2018-05-14 21:32] jkotas commented on #17981
You should be also able to avoid this by using tiered compilation. https://blogs.msdn.microsoft.com/dotnet/2018/05/07/announcing-net-core-2-1-rc-1/ has details on how to turn it - we expect that it is going to be on by default in future versions of the runtime.

[2018-05-14 21:36] briansull commented on #17958
THe old message, "Array dimensions exceeded supported range."  originates here:

`dlls\mscorrc\mscorrc.rc:1418:    IDS_EE_ARRAY_DIMENSIONS_EXCEEDED        "Array dimensions exceeded supported range."`

likely thrown here:

`vm\jithelpers.cpp:3152:        EX_THROW(EEMessageException, (kOverflowException, IDS_EE_ARRAY_DIMENSIONS_EXCEEDED));`

[code]

[2018-05-14 21:39] janvorli commented on #17851
@echesakovMSFT I can see I've forgotten to escape the watch command, it should be:
```watch *(int*)the_object_address```

[2018-05-14 21:47] AtsushiKan commented on #17986
I ran that code on NETFX (retail) and it seems to work - is the only issue the false assert? Or do we end up corrupting something downstream once we ignore the assert.

If user code can trigger an assert, that's a bug and we should fix it. It sounds like the assert is incorrectly written here.

[2018-05-14 21:53] AtsushiKan commented on #17986
Actually, I don't understand why it's even a problem to have custom modifiers for open-typed parameters...

[2018-05-14 21:55] CarolEidt commented on #3144
A repro, in particular one that reflects an actual real-world scenario, would be useful in prioritizing this.

[2018-05-14 21:58] bobuva commented on #17741
Guess I had a brain fart -- there's IMetaDataAssemblyEmit. I guess I have to emit everything all over again, instead of just changing one method.

[2018-05-14 21:58] echesakovMSFT commented on #17851
I was not sure if this is a related problem or not but when I was running the same tests with `HeapVerify=3` I hit this assert
[code]

Further investigation shows
[code]

[2018-05-14 22:02] stakx commented on #17986
Agreed, that makes sense.

That's the main reason why I've decided to raise this issue although it seems fairly benign in this particular case. Ive repeatedly stumbled upon code that separates out generics when dealing with signatures, as if generics and custom modifiers aren't allowed to go together. I'm not knowledgeable enough at this point to understand why that is.

Since the assertion in que

[2018-05-14 22:07] AtsushiKan commented on #17986
I don't know of any reason why generics and custom modifiers shouldn't combine. I do a deeper dive to see why that assert is there but right now, it looks really bogus.

[2018-05-14 22:36] Makeman-Makeloft commented on #17981
@gfoidl @jkotas
Guys, I need your help! :)

I have researched of performance some custom extensions and got very strange and different results on .NET Framework 4.7.1 and .NET Core 2.1...

1. `typeof(T) vs. TypeOf<T>`

Implementation

[code]

Benchmarks

[code]

Results on .NET Framework 4.7.1
[code]
WOW! Amazing results!
Is it real? Looks that using of custom `TypeOf<T>` is much better then nativ

[2018-05-14 22:37] CarolEidt commented on #2003
Looking at the dump, it appears that this is actually an optimization issue (not a struct issue). After value numbering, we have the following for the assignment to the `MyByte` array:
[code]
where `$c5` is the value number for the constant `123` but it seems that assertion propagation fails to replace `LCL_VAR   ubyte  V04` with the constant.

[2018-05-14 22:43] echesakovMSFT commented on #17851
I suspect that the MethodTable value `000809A0` I saw before in lldb was `g_gc_pFreeObjectMethodTable` set by `CObjectHeader::SetFree` and for some reason sos VerifyHeap keeps complaining about such objects on the heap.

I also think that there were a different reason for gc_heap::verify_heap failure

[2018-05-14 23:08] echesakovMSFT opened #17992 "[Linux/arm] baseservices/compilerservices/FixedAddressValueType failure"
*baseservices/compilerservices/FixedAddressValueType/FixedAddressValueType/FixedAddressValueType.sh* failed in the following test runs
[Ubuntu arm Cross Checked r2r_jitminopts Build and Test](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_r2r_jitminopts_tst_prtest/4/consoleText) and [Ubuntu arm Cross Checked r2r_jitstressregs4 Build and Test](https://ci

[2018-05-14 23:26] CarolEidt commented on #4766
In addition to the failure to eliminate struct copies as noted in #1133, this suffers from the following additional issue:
- V07 is promoted, but is address-taken because it is passed to `BigInteger:.ctor` by reference.
- This in turn means that copies involving v07 will be done field-by-field.
Perhaps we can avoid promoting structs that are passed by reference (e.g. to a constructor).

[2018-05-15 00:07] CarolEidt commented on #5556
@omariom - The code generated for this has improved, as now the bounds check is eliminated, and it appears that the loop body is the same for most targets except for x86, where it is impacted by the restriction of not promoting incoming arguments with more than a single field.

[2018-05-15 00:35] CarolEidt commented on #9019
As all of the structs in this method are now being promoted, it no longer suffers from the lack of struct copy elimination. That issue remains (e.g. #1133), but I'm closing this as #9455 addressed this specific case.

[2018-05-15 00:35] #9019 closed

[2018-05-15 01:41] ArtBlnd commented on #11606
Current progress in for partial loop unrolling.

[code]

to
[code]

does vectorizing processes after loop optimizing?
Thanks :>

[2018-05-15 04:12] mikedn commented on #11606
The JIT does not do autovectorization.

[2018-05-15 05:40] ArtBlnd commented on #11606
Thanks @mikedn is there any auto-vectorization plan exists?

[2018-05-15 05:41] mikedn commented on #2003
There are 2 things that block this optimization. One is `optVNConstantPropCurStmt` checking for `GTF_DONT_CSE` on the lclvar node. The other is `optVNConstantPropOnTree` failure to handle small types.

The later seems easy to fix but I'm not sure what's up with the former - I did not check why `GTF_DONT_CSE` was set on that node and it's not readily obvious why constant propagation is blocked in t

[2018-05-15 05:53] mikedn commented on #11606
None that I've heard of.

[2018-05-15 05:55] mikedn commented on #2003
`GTF_DONT_CSE` seems to be set here: https://github.com/dotnet/coreclr/blob/ba110d51de1994dd5f1a38e224b442dd1609d24f/src/jit/morph.cpp#L11249-l11251

[2018-05-15 08:50] janvorli commented on #6675
@sandreenko we support tail calls with helpers only on Windows x86, x64 and ARM at the moment.
I have created a design for a new way of handling tailcalls with helpers that we plan to use for Windows ARM64 and all targets on Unix two years ago (https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/tailcalls-with-helpers.md). But it was not implemented yet due to higher priority i

[2018-05-15 10:09] gfoidl commented on #17981
When bothered about performance it is almost always good to [view the JIT-dumps](https://github.com/dotnet/coreclr/blob/master/Documentation/building/viewing-jit-dumps.md), as this will show you the generated code (dasm) and see what the CPU has to do :wink:

For .NET Full (net471, et. al) this won't work, so you can view in VS the dissambly. First set the correct debug-options:
![grafik](https://

[2018-05-15 10:48] mikedn commented on #17944
Would it make sense to always compile using `-permissive`?

[2018-05-15 11:07] adamsitnik commented on #17932
I created an issue for that https://github.com/dotnet/BenchmarkDotNet/issues/756

@AndyAyersMS is there any way to enforce the alignment today?

[2018-05-15 11:18] AmeetShinde opened #17999 "dotnet sdk support on RHEL 6.x"
It seems that dotnet core runtime is supported on RHEL 6.x with version 2.0.3 (with preview marker) but not the dotnet core SDK. We can certainly build the binaries for RHEL 6.x from other platforms but we also have requirement to run the test suite with dotnet test command on RHEL 6.x platform. For this, we need dotnet driver to be invoked on this platform. So how can we make dotnet tooling work

[2018-05-15 11:32] mikedn commented on #17932
There is `JitAlignLoops` but that only does 16 byte alignment. That may be useful in some cases but it seems that there the problem is different and would require 32 byte alignment.

[2018-05-15 11:39] mikedn commented on #17932
It would still worth a try. 16 byte alignment would imply that the loop head will be either at the start of a 32 bytes chunk or right in the middle, it will never be near the end like it seems to happen in this case.

[2018-05-15 13:28] mikedn commented on #17932
Are you still using the in-process toolchain? It might not work in this case.

[2018-05-15 13:31] Mike-EEE commented on #17932
Ah!  Good point.  I will try this now and report back here.

Also, what about using x86... would that impact this switch?  I was thinking about trying this as well.

[2018-05-15 13:39] mikedn commented on #17932
x86 is equally affected by code alignment. But due to differences in code size you may get lucky and not observe the issue, at least in this particular benchmark.

[2018-05-15 14:15] jkotas commented on #17981
This optimization is tracked by https://github.com/dotnet/coreclr/issues/5329

If you would like to future proof the design of your library, my suggestion would be to keep the code simple - use `typeof(...)` directly, do not cache the result, do not add dummy static constructor. This will give you the best performance on .NET Core as it evolves.

If you would like your library to have best possibl

[2018-05-15 14:39] adamsitnik commented on #17981
BenchmarkDotNet prevents from this by wrapping the methods internally with delegates, so you don't need to do that.

Also, to get the disassembly with BenchmarkDotNet you just need to use [DisassemblyDiagnoser](http://adamsitnik.com/Disassembly-Diagnoser/)

So your csproj file should be:

[code]

and the type with benchmarks:

[code]

[2018-05-15 14:42] CarolEidt commented on #2003
@mikedn - thanks for tracking that down! That's presumably one of the vestiges of the IR changes I made to represent struct assignments with `GT_ASG` instead of `GT_COPYBLK` et al, while trying *not* to *yet* change the code being generated.

[2018-05-15 14:43] jkotas commented on #17999
Related https://github.com/dotnet/core/issues/1260

cc @Petermarcu

[2018-05-15 14:49] omariom commented on #5556
@CarolEidt

[2018-05-15 14:49] #5556 closed

[2018-05-15 15:00] #17999 closed

[2018-05-15 15:36] Makeman-Makeloft commented on #17981
@NMSAzulX

I use default build settings of latest VS Community 2017 v15.7.1. If you describe how to apply a modified compilation flag I can try to do it.

@jkotas

Yes, I understood that currently I should use specific versions of libs for each CLR to achieve best possible performance of my code.
However I want to note that this information related not only with `typeof(T)`. This is about performa

[2018-05-15 15:39] AtsushiKan commented on #17986
This assert's been around since 2010 (can't find history before that) but I can't see any reason for it. I can add custom modifiers and it works fine. I'd say delete the assert.

[2018-05-15 15:58] Mike-EEE commented on #17932
DING DING DING!!! [WE HAVE A WINNER](https://github.com/dotnet/BenchmarkDotNet/issues/756#issuecomment-389215356)!!! I cannot tell you how happy I am to finally figure this out, or at least get me to a place where I can be a little more confident about the results here and **get me unblocked to start writing code again**. 😆

FWIW @mikedn I didn't even have to bother with x86.  The problem is how I

[2018-05-15 16:00] jkotas commented on #17981
Note that the .NET Framework 4.7 uses the .NET Core pattern for handling static constructors too in some cases, depending on the compatibility quirks.

[2018-05-15 16:29] sdmaclea opened #18001 "[Arm64] Tailcall regression"
Tailcode opcode should be treated as a hint to the JIT.  When it is not supported it should not assert.

The following tests have recently regressed
[code]
They now fire an assertion
[code]

This was probably introduced as a diagnostic by @sandreenko as mentioned in here
https://github.com/dotnet/coreclr/issues/6675#issuecomment-388917599

@janvorli @dotnet/arm64-contrib

[2018-05-15 16:43] jkotas commented on #18001
I think we should delete the fail fast and ignore this same as we ignore it on Unix.

[2018-05-15 16:45] sdmaclea commented on #18001
This is failing on linux-arm64, so it is no longer being ignored.

[2018-05-15 16:59] sandreenko commented on #18001
So do we want to return the old behavior and just ignore `tail.` when we can't do fast tail call?

[2018-05-15 17:50] dagood opened #18004 "Publish master branch symbols to symweb and MSDL endpoints"
Right now the official builds of `master` only publish to the MSDL/public endpoint, but both are required.

Tasks exist in the symbol publish leg that target each endpoint, but only one is enabled right now by `PB_PublishType`.

Docs on how to do this correctly aren't currently available, tracked by https://github.com/dotnet/core-eng/issues/3382.

[2018-05-15 17:55] benaadams opened #18005 "ReadOnlySpan.CopyTo is surprisingly (relatively) expensive and doesn't inline"
Its mostly a wrapper on BufferMemmove with some checks
[code]
![image](https://user-images.githubusercontent.com/1142958/40074205-f446ed1a-5870-11e8-8b2a-61b37db700c8.png)

First occurrence in `System.Private.CoreLib.dasm`
[code]
Second occurrence in `System.Private.CoreLib.dasm`
[code]

[2018-05-15 18:07] mikem8361 commented on #18004
Changed DotNet-CoreClr-PipeBuild-Master to also publish to symweb.

[2018-05-15 18:07] #18004 closed

[2018-05-15 19:39] benaadams commented on #18005
Could add a `if (typeof(T) == typeof(byte))` path and call the non-generic version?

Might be the generic version has inlined into `CopyTo` and the non-generic version is the one that shows in the trace, with the generic adding to `CopyTo`? (As there is only one `Memmove` entry)

The Span type is `<byte>` in this instance.

[2018-05-15 22:39] #17986 closed

[2018-05-16 00:19] morganbr opened #18013 "Support mixed-mode assemblies on Windows"
This issue will track progress toward supporting loading and running mixed-mode assemblies on CoreCLR. The main goal is to provide support for WPF and other existing C++/CLI code on .NET Core. Some of the work will be dependent on updates to the MSVC compiler.

Steps include:
- [x] Documenting how mixed-mode assemblies work in general
- [x] Proposing a .NET Core design
- [x] Loading mixed-mode ass

[2018-05-16 01:04] redknightlois commented on #5025
Released on preview. Should we close?

[2018-05-16 01:08] redknightlois commented on #13388
Shouldnt this be closed?

[2018-05-16 01:33] kouvel commented on #13388
Yes some spinning cases remain but they are covered by other issues

[2018-05-16 01:33] #13388 closed

[2018-05-16 02:02] #18001 closed

[2018-05-16 12:57] EgorBo opened #18017 "Avx.HorizontalAdd produces incorrect result sometimes"
I have the following C++ code:
[code]
the result of `_mm256_hadd_ps` is:
[code]
but when I do it in C# using System.Runtime.Intrinsics.X86 I get different values:
[code]

C# version:
[code]
I am not an expert in SIMD so probably I am missing something?

System.Runtime.Intrinsics.Experimental: 4.5.0-rc1
dotnet --version: 2.1.300-preview2-008530

[2018-05-16 13:48] EgorBo commented on #18017
@mikedn
I did it in Visual Studio so I could see the values during debug in both native and managed code
but let's assume I used
[code]

[2018-05-16 14:08] gfoidl commented on #18017
How do you test?
Hopefully not with `==` for floats / doubles. Use `Math.Abs(actual - expected) < allowedTolerance`, due to the nature of the represenation of floats in the IEEE floating-point standard.

[2018-05-16 14:36] tannergooding commented on #18017
@gfoidl, this isn't one of the cases where that should matter. IEEE compliant floating-point arithmetic is deterministic, if nothing else.

If the resulting bits are not exactly matching, then there is a difference somewhere. Given the simplicity of the code, it could be one of:
* Conversion from int to float
* The instructions emitted
* The ToString function used to display the result

[2018-05-16 14:39] mikedn commented on #18017
Seems to work fine in VS debugger:
![image](https://user-images.githubusercontent.com/9973420/40123957-13e0159c-5930-11e8-9488-d7df63affab0.png)

[2018-05-16 14:44] tannergooding commented on #18017
Yeah, I also get the correct output on both Debug and Release mode:
[code]

[2018-05-16 14:47] tannergooding commented on #18017
@EgorBo, could you provide some more details about your hardware and the disassembly that is generated by your program?

[2018-05-16 14:49] EgorBo commented on #18017
@tannergooding sure, I'll attach a more detailed repro

[2018-05-16 14:50] tannergooding commented on #18017
In Release mode, I get:
[code]

In Debug mode, I get:
[code]

[2018-05-16 15:07] EgorBo commented on #18017
Here is the repro: https://gist.github.com/EgorBo/f8c626faa7f4d2f95f7e2a97dbdbbc82
for me it starts to reproduce after `i = 11592` (67181440.00 != 67181430.00)

Intel Core i7 8700K
Windows 10
Release x64
System.Runtime.Intrinsics.Experimental: 4.5.0-rc1 (from nuget)
2.1.300-preview2-008530

[2018-05-16 15:25] Korporal opened #18019 "Proposal - Incorporate deadlock detection into the CLR."
Given that the lockkeyword simply "wraps" a critical section and critical sections are confined to a single process it strikes me as possible - in principle - for the CLR to be able to perform a kind of deadlock detection.

It could do this when any thread attempts to acquire a lockby examining if the calling thread currently owns any other locks and then for each of those examine if any of these

[2018-05-16 15:41] gevorgter opened #18020 "Socket exception when running .NET app from shared drive."
Recent (May 14, 2018)  Windows update has resurfaced the problem when .NET app, that is started from shared drive, can not do any network operation. Error says "invalid argument was supplied" when trying to use WebClient or web services.

Not sure how to work around it since all articles are from 2012 and they do not apply anymore.

[2018-05-16 15:59] EgorBo commented on #18017
ah, it makes sense now, thank you! I think I can close it

[2018-05-16 15:59] #18017 closed

[2018-05-16 16:01] tannergooding commented on #18017
For reference, an equivalent sum should look like:
[code]

[2018-05-16 16:33] AndyAyersMS commented on #18005
The inliner almost thinks inining `CopyTo` is worthwhile on its own. Perhaps I should revisit making it a bit more aggressive when there is a span typed argument or return value.
[code]

The runtime lookups are likely there for the case where we have `Span<ref-type>` and the `CopyTo`  is implicitly invoking the array constructor. We can't yet optimize away the array type checks in that constructor

[2018-05-16 16:41] EgorBo commented on #18017
Well, at least it works for doubles for the given range.
Sorry for the trouble and thank you for the equivalent

[2018-05-16 16:47] tannergooding commented on #18017
Right. `double` has an approx. range of `15-17` significant digits while `float` only has an approx. range of `6-9` significant digits. So you should get much more accurate results, even when operations are re-ordered, with `double` (but at the cost of slower computation).

[2018-05-16 17:30] mikedn commented on #18005
Hmm? It seems to me they're there because of the Memmove call.

[2018-05-16 17:52] sdmaclea commented on #13090
Closing in favor of #17563

[2018-05-16 17:53] GrabYourPitchforks opened #18022 "Suboptimal codegen when comparing sbyte values"
I have the following two repro methods along with their x64 codegen using the latest RyuJIT.

[code]

[code]

[code]

[code]

The _Foo_ method checks to see if the high bit is clear, and the _Bar_ method checks to see if the byte has input pattern `10xxxxxx`. These are both common operations when performing UTF-8 text processing. In the examples above, the _Bar_ method has suboptimal codegen. I wo

[2018-05-16 18:00] chuckries opened #18023 "[Alpine] 2.1 rc1 dotnet --info shows rid as apline.3.6-x64 even though the runtime package has changed to linux-musl-x64"
bash-4.3# dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   2.1.300-rc1-008673
 Commit:    f5e3ddbe73

Runtime Environment:
 OS Name:     alpine
 OS Version:  3.6
 OS Platform: Linux
 RID:         **alpine.3.6-x64**
 Base Path:   /usr/share/dotnet/sdk/2.1.300-rc1-008673/

Host (useful for support):
  Version: 2.1.0-rc1
  Commit:  eb9bc92051

.NET Core SDKs installed:
  2.1.300-

[2018-05-16 18:01] chuckries commented on #18023
@leecow I'm not sure who to point this out to, is this coreclr or cli?

[2018-05-16 18:15] AndyAyersMS commented on #18005
Ah -- I take it you're referring to the lookup in uninlined prejitted version, which is there for the `Span<ref-type>` instantiation. If we inline this method than that part goes away.

[2018-05-16 18:20] RussKeldorph commented on #18019
@dotnet/dotnet-diag

[2018-05-16 18:29] chuckries commented on #18023
moved this to cli who moved it to core-setup.

[2018-05-16 18:29] #18023 closed

[2018-05-16 18:51] benaadams commented on #18005
There are quite a few struct wrapper hoops in the code I'm looking at that produces the example traces, however everything is a struct other than the byte array; so hopefully it shouldn't be blocked by shared generics.

If of interest, specifically the app is [PlatformBenchmarks](https://github.com/aspnet/KestrelHttpServer/tree/dev/benchmarkapps/PlatformBenchmarks) and the [lines that initiate the

[2018-05-16 18:52] AndyAyersMS commented on #18005
Actually the runtime lookup is not quite the case I thought -- here we see the array construction and not just its declared type. But even in that case we are limited because arrays are one of the types where the jit only has approximate type handles at jit time, and even the object's method table does not describe its full type

We construct the array like follows:
[code]
and then type test it la

[2018-05-16 20:25] jkotas commented on #18005
This is not true for arrays. It used to be true a long time ago, but it is not the case anymore.

[2018-05-16 20:38] sdmaclea commented on #11881
Please assign this to me.  I plan to start working on this next.

[2018-05-16 20:50] sdmaclea opened #18026 "[Arm64/Linux] Stabilize 2.2 SDK"
#17933 will be fixed by #17991

Using a variant of the patch in #17991, I was able to bootstrap build a linux-arm64 cli/sdk based on 2.1.300-rtm-008820.  To check stability, I tried to use it to build coreclr natively.

[code]

It is not clear to me why ZapDisable=1 is needed.  This could be due to a bug in the buildbootstrap script, my bootstrap build process, or in the usage of init-tools.sh wit

[2018-05-16 21:15] kouvel commented on #18026
CC @tarekgh

Not sure if `Task.FinishContinuations` can run concurrently, it looks like there is no check for the sentinel object in `RunContinuations`:
https://github.com/dotnet/coreclr/blob/f17770dd0318aa80fcd2a70288f097f2e05ba3bd/src/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs#L3241-L3242

Maybe that is covered in some other way using state changes, etc.

[2018-05-16 21:27] AndyAyersMS commented on #18005
So is this bit of code in `canInlineTypeCheckWithObjectVTable` now out of date?

https://github.com/dotnet/coreclr/blob/f17770dd0318aa80fcd2a70288f097f2e05ba3bd/src/vm/jitinterface.cpp#L3769-L3773

[2018-05-16 21:30] stephentoub commented on #18026
Right.  It should never be the case that FinishContinuations is called multiple times on the same task; only the code that transitions the task to completed invokes that.

[2018-05-16 22:09] noahfalk commented on #18019
Hi @Korporal ! Thanks for the feedback. What you suggest seems plausible to build at first glance (though maybe not easy), and we've already got some debug APIs which allow a similar analysis for debuggers:
https://docs.microsoft.com/en-us/dotnet/framework/unmanaged-api/debugging/icordebugthread4-getblockingobjects-method
https://docs.microsoft.com/en-us/dotnet/framework/unmanaged-api/debugging/ic

[2018-05-16 22:40] jkotas commented on #18005
Just guessing: These force inlined wrappers tend to cause the IR size to explode. The JIT has hardcoded limits on the IR size after which stops inlining. You may be hitting one of these.

[2018-05-16 22:40] jkotas commented on #18005
I think so.

[2018-05-16 22:41] Korporal commented on #18019
@noahfalk - Yes there are other primitives and initially I was considering scenarios involving only the `lock `keyword (Monitor locks).

[2018-05-16 22:42] jkotas commented on #18005
I think it may be possible for `canInlineTypeCheckWithObjectVTable` to just always return `true` in CoreCLR. I do not see a good reason why it would ever need to return false in CoreCLR.

[2018-05-16 23:47] karelz commented on #18020
Is it problem on .NET Framework? Which version?
Do you have a minimal repro?

[2018-05-16 23:52] ArtBlnd commented on #11606
Can I ask you something? @mikedn

Is IR simpify processes before the loop optimizations? such as this.
[code]

to
[code]

[2018-05-17 05:55] danmosemsft commented on #18019
I wonder what overhead this would cause. Taking  an uncontrnded lock should  be very fast and this would add  some book keeping to that path.

[2018-05-17 06:50] AndyAyersMS commented on #18022
@mikedn don't know if you looked yet -- from the dump it looks like morph is the culprit:
[code]
I tried following the rather tortuous logic in `fgMorphCast` to see where morph be going off the rails, but got lost in there and haven't found my way out.

[2018-05-17 07:12] mikedn commented on #18022
Yes, there's morph code that attempts to get rid of some cast via `optNarrowTree`. I've yet to understand how exactly `optNarrowTree` is supposed to work though, parameter names like `srct` and `dstt` do not help... I'd guess it's mostly intended to deal with `LONG` -> `INT` narrowing and fails for small int types.

Lowering is also involved in this, the fact that we end up generating `cmp cl,80h`

[2018-05-17 07:53] mikedn commented on #18022
And
[code]
could be
[code]
that is one byte shorter. Another one for lowering, it's kind of amazing how many such optimizations are possible around compares. `OptimizeConstCompare` already does quite a bit but there are still various things that are missing.

[2018-05-17 09:10] rossdempster opened #18030 "Possible Bug: Complete lock-up in ASP.NET Core startup due to StubHelpers?"
Hi all,

This is potentially a difficult issue to track down. I have been developing with ASP.NET Core for a few months now and (very) rarely the application locks-up completely during start up. I am currently running version 2.1.101 but don't recall which version I was running when I first encountered this issue. The time between manifestations is measured in weeks. I assume this is some kind of

[2018-05-17 10:12] janvorli commented on #18030
@rossdempster are you sure that in the case you've posted here the stack trace wasn't changing when you resumed the execution and then interrupted it again?

[2018-05-17 12:03] svick commented on #18019
Would it be possible to make this also work for `async` deadlocks? I suspect that many people are switching from blocking `lock`s to async locks using e.g. `SemaphoreSlim`. Even though there is no thread being blocked, you can still get a deadlock.

I understand that not having a thread associated with a synchronization primitive makes this harder, but I also think it might be useful.

An example:

[2018-05-17 12:44] kbaladurin commented on #17882
Maybe should condition be `lvaDoneFrameLayout == FINAL_FRAME_LAYOUT && actualOffset <= ldrEncodeLimit || opts.MinOpts()`?

[2018-05-17 13:27] Korporal commented on #18019
@svick - That's a good test case you outline there! I don't think that the fact it's running `async `has any bearing though and the same algorithm would work, after all even in that `async `code we still have a thread trying to acquire a `lock `(it's just a worker thread or perhaps IO completion thread - I think).

[2018-05-17 13:34] svick commented on #18019
@Korporal You still have a thread, but the issue is that that thread is not the owner of the lock.

For example, the four acquire attempts in my example (in the form of `WaitAsync()`) could happen on four different threads. Or they could all happen on a single thread. And in both cases, you would still get deadlock.

[2018-05-17 13:39] Korporal commented on #18019
@svick - I'm not familiar with this `async `usage for these locks it looks rather interesting, I guess you're correct in that all that matters (for deadlock analysis) is the data about what currently held locks and current pending requests to acquire locks.

[2018-05-17 17:41] AndyAyersMS commented on #18005
Some exploratory changes here to try and eliminate or streamline the type test: [master...AndyAyersMS:Fix18005](https://github.com/dotnet/coreclr/compare/master...AndyAyersMS:Fix18005).

Did not have much luck bypassing the `canInline` check; suspect we need to do something else in the type compare optimization to make it work, at least for arrays.

Also from running small diffs there was no impac

[2018-05-17 17:50] AndyAyersMS opened #18033 "JIT: examine need for canInlineTypeCheckWithObjectVTable"
When the jit is optimizing type equality and inequality tests, it may run into the following case:
[code]
This can usually be optimized into a comparison of the object's method table pointer versus a known method table address. But historically that has not always been a valid optimization. So the jit calls `canInlineTypeCheckWithObjectVTable` to identify the cases where the optimization is valid.

[2018-05-17 20:01] #13090 closed

[2018-05-17 20:10] sdmaclea opened #18034 "[Arm64] System.Reflection.Emit.Tests.TypeBuilderIsGenericTypeDefinition.IsGenericTypeDefinition_GenericType_ReturnsTrue [FAIL]"
This is a recent regression on tip.
[code]

[2018-05-17 20:11] sdmaclea commented on #18034
@AtsushiKan FYI

[2018-05-17 20:11] mikedn commented on #18019
To be clear - I wasn't expecting exact implementation details, I was just wondering if something like this is possible without the cooperation of synchronization primitives. Maybe I do not understand how such an API might look like. Something like `DeadlockDetection.NotifyBeginWait(object)` and `DeadlockDetection.NotifyEndWait(object)`?

[2018-05-17 22:12] Tornhoof opened #18037 "Extra stloc and ldloc in switch statement compared to if statement"
I noticed an extra stloc and ldloc in the following switch statement compared to the equivalent if statement (this is just a shortened version of a longer and nested statement).
The il and disassembly looks pretty much the same except for the ``stloc.0`` and ``ldloc.0`` in the switch version, which adds an extra ``mov`` to a register and then compares the register against the value, instead of doi

[2018-05-17 22:14] stakx commented on #18034
Yes, it indeed looks like I might have caused this. 😱 (Seems my local corefx setup is still not set up right, I should've been able to catch this in time.) This should be resolved by #18036. I'm sorry for the trouble, I'll be more careful next time around.

[2018-05-18 00:39] AndyAyersMS opened #18039 "JIT: assert when jitting Sse2.MoveScalar(Vector128<long>)"
[code]
Running this on a CHECK build:
[code]

[2018-05-18 03:06] benaadams commented on #14017
So `ThreadPoolWorkQueue.EnsureThreadRequested` periodically shows up in my traces as one of the hottest functions (for own time)

I originally believed it to be contention on the CAS of `numOutstandingThreadRequests`; as it has multiple points to be over called.

Looking at the ratio of calls between `EnsureThreadRequested` and `MarkThreadRequestSatisfied` which use the same variable; they are fai

[2018-05-18 04:33] helloguo commented on #18039
@fiigii I will take a look.

[2018-05-18 05:30] kouvel commented on #17170
@sdmaclea:

I think you are right, the 64 KB buffer was not enough. Based on the response from the Bugzilla bug above, I think 4 pages worth of gap should be more than enough. @sdmaclea, could you please try the test below (slightly modified from above to fix some issues, changed 64 KB buffer to 256 KB) and see if it works? If it works I'll go ahead and change the test back to what it was before a

[2018-05-18 06:37] mikedn opened #18040 "Broken conv.ovf.i8.un decomposition"
IL sample:
[code]
IR post decomposition:
[code]
x86 generated code:
[code]
ARM32 generated code:
[code]
There seem to be 2 distinct issues:
* This is a zero extending cast from U4 to I8. Neither `movsx` nor `uxtb` make sense in this context. Sign extending from I1 to I4 is the job of the load.
* For the same cast node x86 and ARM32 emit different instructions, one sign extends and the other zero e

[2018-05-18 07:00] mikedn commented on #18040
The unnecessary cast node that generates `movzx`/`utxb` is the result of #12802. Looks like it's really needed and can't be removed. We'll just need to make sure ARM32 codegen handles it correctly.

[2018-05-18 08:11] AndyAyersMS commented on #18039
I tried @fiigii's suggestion and found I also had to set the `numArgs` to -1 as arity of `SSE2_MoveScalar` varies. After that I didn't get any asserts. But I haven't checked that the right code is generated.

[2018-05-18 08:19] AndyAyersMS opened #18041 "JIT: assert when jitting Sse2.ConvertToInt32WithTruncation"
[code]
Running this with a CHECKED build hits an assert:
[code]

[2018-05-18 08:29] shanshan0309 opened #18042 "CoreCLR failed when build with MSVC on Windows"
Hello,

I tried to build CoreCLR on Windows with VS2017 Update2. It failed to build due to the error CS2001: Source file 'D:\CoreCLR\src\bin\obj\Windows_NT.x86.Release\System.Private.CoreLib\..\eventing\DotNETRuntimeEventSource.cs' could not be found. This issue is caused by master branch revision [0fbd0f5](https://github.com/dotnet/coreclr/commit/0fbd0f535e566bcde591701adc2de51ee0f020af). Could y

[2018-05-18 08:40] AndyAyersMS opened #18043 "JIT: assert in test with call to Array<T>.IndexOf with Vector type"
[code]
If you compile and run with CHECKED jit you hit the following assert:
[code]

[2018-05-18 10:57] devKlausS opened #18044 ".net core application running in docker get OOMKilled if swapping is disabled"
We are running .NET Core applications inside docker containers on a kubernetes cluster. Docker containers get OOMKilled because GC is not executed.

To test this we created a test program which allocates arrays in a loop. These arrays should get deleted by the GC. The program is executed in a docker container with 100Mb memory limit. Kubernetes is not involved in the tests.

When running the test

[2018-05-18 11:12] devKlausS commented on #18044
# output of the test tool
[code]
# Output of docker inspect
[code]

[2018-05-18 13:58] jkotas commented on #18042
cc @brianrob

[2018-05-18 14:55] janvorli commented on #18044
@devKlausS thank you very much for the detailed analysis and repro details! I will look into it.

[2018-05-18 15:08] janvorli commented on #18044
@devKlausS can you please tell me what Linux distro is the one you are using? I have tried to repro it on my Ubuntu 16.04 and the behavior is different. My container doesn't get OOM killed, but somehow hangs instead. I cannot stop it or kill it (the docker stop / kill commands just run for a while and then terminate with no message, but the container keeps running).
I've tried
[code]
And this is t

[2018-05-18 15:47] stakx commented on #18034
@sdmaclea - #18036 has been merged, so this regression should be resolved. Can you confirm this?

[2018-05-18 15:49] AndyAyersMS commented on #18043
This may have something to do with the importer box optimizations -- we have a boxed Vector<T> where the object to box is an array lookup -- all feeding a null check, and the jit optimizes away the check. But the tree to initialize the box payload has side effects, and so part of it must be retained.

The exception minifier treats this as a non-struct case and so we end up with an unconsumed GT_OB

[2018-05-18 15:53] 4creators commented on #18041
@AndyAyersMS Pls assign it to me - I am going to fix it.

[2018-05-18 15:54] MichalStrehovsky commented on #18033
It might be nice to keep the check, but have this always return true on CoreCLR.

CoreRT has things like "frozen objects" (where an object instance can be preallocated in the PE image instead of on the GC heap - so e.g. we never have to allocate string literals on the GC heap) - for those, the method table pointer can point to things that can't be compared using simple method table equality (metho

[2018-05-18 16:03] 4creators commented on #18043
IMO it hits general problem of correctly abstracting `Vector<T>` which on one hand should be treated as special register for register operations and when it is in memory as a `struct`.

@tannergooding Is the Vector ABI implementation handling such cases correctly?

[2018-05-18 16:11] AndyAyersMS commented on #18041
I sent you an invite to be added as a collaborator. Once you accept I believe I can assign this to you.

[2018-05-18 16:16] tannergooding commented on #18043
`System.Numerics.Vector<T>` is handled completely separately from `System.Runtime.Intrinsics.Vector128<T>`, `S.R.I.Vector64<T>`, and `S.R.I.Vector256<T>`.

The only special ABI handling the latter have, right now, is that they are appropriately packed when they are a member of a struct.

I agree, however, that ultimately they should be handled as structs anywhere that they are not specially handle

[2018-05-18 16:18] gevorgter commented on #18020
Hello, here is the minimal repro.
Works fine when run on a C drive. Once moved to mapped drive on a network i get
"An exception occurred during WebClient request....Error creating the WebProxy specified in the system.net/defaultProxy' configuration section..... An invalid argument was supplied".

In order to reproduce problem you must have the most recent update from Microsoft.
The project was com

[2018-05-18 16:28] helloguo commented on #18039
@AndyAyersMS Do you plan to put a PR?

[2018-05-18 16:29] 4creators opened #18045 "Intel Hardware Intrinsics test framework design deficiences"
A while ago we have had a long discussion about the scope of testing which should be done during Intel Hardware Intrinsics development (for details see https://github.com/dotnet/coreclr/pull/15771).

There were two proposals put forward:
1. Test as little as possible concentrating on a check if expected assembly instruction is emitted;
2. Test for wider range of values including known problematic

[2018-05-18 16:30] karelz commented on #18020
Did you check your app and machine configs? Is the value in "system.net/defaultProxy" valid or invalid? What if you remove it from the configs?
Are you able to reproduce it on clean OS install with your HelloWorld style app above? (e.g. on a new VM)

[2018-05-18 16:41] AndyAyersMS commented on #18039
Here's the changes I have. I can get around to finishing this but it may take a while. So I'd appreciate it if you could finish this off by adding test cases and verifying the jit generates the right code:
[code]

[2018-05-18 16:47] tannergooding commented on #18045
I don't agree.

#17957 is a case where the exposed API did not correctly expose the semantics of the underlying hardware instruction. The API needs to be fixed and tests would likely not have caught this as it requires a particular coding convention to hit in the first place (you need to have the JIT sign extend the result, without the code being optimized away).

#18043 is not related to hardware

[2018-05-18 16:47] fiigii commented on #18039
Yes, thanks for reminding.

[2018-05-18 16:47] gevorgter commented on #18020
App.config is clean for this Repro except line with "....supportedRuntime version="v4.0"...."

I have checked machine.config for Proxy settings. All clean. I do not have clean install of windows (do not have VM) but every single machine out of 6 in my little office started to have a problem once i updated it with latest windows update . So i can rule out my laptop having problem.  Also those machi

[2018-05-18 16:51] fiigii commented on #18045
I agree with @tannergooding that the above issues not related to the test framework or test values.

[2018-05-18 16:52] tannergooding commented on #18045
NOTE: That isn't to say that we shouldn't add additional regression tests for the cases that we are hitting and that we shouldn't do additional reviews of the API surfaces to ensure that other APIs won't hit similar issues.

[2018-05-18 17:00] 4creators commented on #18041
@AndyAyersMS Thnx I have accepted invite 😄

[2018-05-18 17:33] danmosemsft commented on #17603
@jorive why are there no results showing up after April for these tests?

https://benchview/trendline?build_selector=latest&count=2000&aggregate=arithmeticMean&filterTail=one&filterVal=100&interval=INTERVAL_MIN_MAX&rtids=%5B957%5D&archids=%5B23%5D&mpids=%5B1292%5D&cfgids=%5B2706%5D&testids=%5B60303,60301,60302,60300,60319,60317,60318,60316%5D&jobgroup=CoreFX&jobtype=rolling&branchId=42&

[2018-05-18 17:34] dmpriso commented on #18044
@janvorli I'm working together with Klaus on this issue.
We were testing on several machines with Ubuntu 16.04 and Ubuntu 18.04.
Did you turn off swap using swapoff -a?

It seems like your OOM killer is disabled actually. Kernel cgroup documentation states that malloc call will hang if OOM killer is disabled. It is however not disabled by default, and I only know how to disable it for a single con

[2018-05-18 17:47] sdmaclea commented on #9533
I am closing this

The port is basically complete.
This has not been updated in a while.  It was superseded by a issue tracking attempt to ready linux-arm64 for release 2.1, which also has closed.
The build is mostly stable
The gcStress is typically clean
CoreFX has been run and it mostly passes

[2018-05-18 17:47] #9533 closed

[2018-05-18 17:49] sdmaclea commented on #17396
I haven't seen the interrmittent failure in a few weeks.  Work to stabilize release 2.1 for arm64 may have fixed this.  I am going to close this.  Will reopen if I see the failure again.

[2018-05-18 17:49] #17396 closed

[2018-05-18 17:58] sdmaclea commented on #17069
Fixed by #17764

[2018-05-18 17:58] #17069 closed

[2018-05-18 18:00] GrabYourPitchforks commented on #18022
As lower priority, there's also opportunity for improvement for 16-bit comparisons, as below.

[code]

[code]

(The `movzx` is unnecessary, as the following instruction could just read `cmp ex, 2000h`. Or are 16-bit comparisons inefficient compared to 32-bit comparisons?)

[2018-05-18 18:07] brianrob commented on #18042
It looks like this failure occurs because -Rebuild causes /t:rebuild to be passed to every invocation of msbuild.  This results in any msbuild command that operates on build.proj attempting to do a compile of System.Private.CoreLib.  I would have expected  ```build x86 release -Rebuild windowsmscorlib``` to cause multiple builds of System.Private.CoreLib just because there are multiple calls to ms

[2018-05-18 18:11] #17933 closed

[2018-05-18 18:14] tannergooding commented on #18041
@4creators, can you please fix up the existing testcase as part of this? It is currently calling `ConvertToInt32` instead of `ConvertToInt32WithTruncation`

[2018-05-18 18:33] hpbieker commented on #18044
This is similar to what I observed in #16906. Docker does not respect the memory limit, so the GC is triggered too late. If swap is enabled it does not matter if the memory limit is violated, as the excess memory is just swapped out.

[2018-05-18 18:42] BruceForstall opened #18048 "[arm64/Windows] Build using public SDK"
Arm64/Windows is currently built in the CI (and locally) using a private Microsoft SDK. With Windows 10 SDK 10.0.17134.0 (shipped with VS 2017 15.7.1), I believe all required arm64 files are public. Also, Visual Studio has (since 15.4?) public arm64 Windows compilers. And recent cmake versions supposedly support these new tools.

Thus, we should change the build infrastructure, including CI and of

[2018-05-18 18:48] helloguo commented on #18039
@AndyAyersMS Sure, I will add the fix.

[2018-05-18 18:53] dmpriso commented on #18044
@janvorli I'd like to add that to us the root cause seems to be that the memory limit, albeit implemented by @rahku in #10064 is not read correctly by cgroups.cpp

@hpbieker we didn't find your issue actually although we were searching a lot :)

[2018-05-18 19:00] sdmaclea commented on #18034
Fixed via #18036 thanks

[2018-05-18 19:00] #18034 closed

[2018-05-18 19:04] mikedn commented on #18022
Yep, 16 bit instructions can be problematic - they require a special byte prefix (66h) that makes the instruction larger and can slow down instruction decoding, at least on Intel CPUs.

Though it looks like this particular example can be converted to something else:
[code]

[2018-05-18 19:07] jorive commented on #17603
@danmosemsft You missed a selecting a configuration. I just sent you the updated link.

[2018-05-18 19:29] jkotas commented on #18042
The `rebuild` option was added as part of the grand dev workflow unification. As far as I know, it never worked well. I never use it myself. I would not mind deleting it to avoid confusion and maintenance burden.

cc @markwilkie

[2018-05-18 19:39] janvorli commented on #18044
@dmpriso Ah, that is likely the reason for the hang. I've completely forgotten about that behavior, but remembered now that you've mentioned that.

[2018-05-18 19:53] janvorli commented on #18044
Great, I've enabled the oom killer and disabled the swap and now I can repro it.

[2018-05-18 20:00] #18043 closed

[2018-05-18 20:18] sdmaclea commented on #17170
@kouvel Latest test passes with "success"

[2018-05-18 20:50] brianrob commented on #18042
Thanks @jkotas.

@markwilkie, do you have any concerns with this?  If not, I will remove -Rebuild.

[2018-05-18 20:50] brianrob commented on #18042
@shanshan0309, just to confirm, if you don't use -Rebuild, do things work OK?

[2018-05-18 20:53] echesakovMSFT commented on #17851
Some update on the issue. I left running the test assembly during last night **and** also removed `COMPlus_JITMinOpts=1` (but left `COMPlus_VerifyHeap=1`) to see if the failure happens in normal mode. I caught Segfault in `gc_heap::verify_heap` but in different place

[code]

The object (`0xaaac2010`) where `gc_heap::verify_heap` fails is a Dictionary
[code]
and the failure happened during Validat

[2018-05-18 21:09] janvorli commented on #17851
This is definitely wrong and could be causing intermittent failures since the _SP variant of the barrier is missing the dmb (data memory barrier) instruction necessary for proper multi-processor behavior.

[2018-05-18 21:12] janvorli commented on #17851
See this, it is likely the issue with getting the processor count:

https://github.com/seanmonstar/num_cpus/issues/34

[2018-05-18 21:36] ArtBlnd commented on #11606
Can I ask what does `ASG` gt node? there is no comments on `gtlist.h`

[2018-05-18 21:58] mikedn commented on #11606
Heh, you can ask but that's a tough question. The JIT team may have a different opinion but my personal opinion is that `ASG` does many things - complicates things, slow down the JIT, stands in the way and in general being obnoxious.

Basically it models an `a = b` assignment. Except that there's no need for it since you could model that by something like `store(a, load(b))`. And in fact the JIT d

[2018-05-18 22:04] AndyAyersMS commented on #18033
Makes sense.

[2018-05-18 22:09] CarolEidt opened #18052 "[Arm64] jitStressRegs=3 failures"
The following tests fail with jitStressRegs=3 when run on x64/windows, using the arm64 altjit:

CoreMangLib\cti\system\mathf\MathFSign\MathFSign.cmd
JIT\Generics\Locals\static_assignment_class01\static_assignment_class01.cmd
JIT\Generics\Constraints\convert_static01\convert_static01.cmd
JIT\IL_Conformance\Old\Conformance_Base\add_ovf_u2\add_ovf_u2.cmd
JIT\jit64\opt\regress\vswhidbey\481244\foo_opt

[2018-05-18 22:32] havotto opened #18054 ".NET Core console app hangs"
I have a simple ASP.NET Core app with a background service. This background service perform batch data loading. On my dev machine I log these executed SQL commands to the console with EF Core, this is a lot of output.
Sometimes in the middle of a batch load the app hangs. Web server is not responding.
OS: Windows 10 Enterprise
.NET Core version 2.1 preview2

I took  dump of the app when it hung. H

[2018-05-18 22:45] karelz commented on #18020
I cannot reproduce the problem. Here are my steps, can you please try them?
1. Create Console App (.NET Framework), targetting .NET Framework 4.6.
[code]
2. Copy it to a share on another machine
3. Run the EXE from the share (Debug build)
**Result (as expected):** File `D:\Temp\out.htm` is created.

.NET Framework version:
[code]

[2018-05-18 23:01] janvorli commented on #18044
While I can repro the issue, in my case, the limit is read correctly from the cgroups files and the path is also correct:

(gdb) p mem_limit_filename
$3 = 0x699600 "/sys/fs/cgroup/memory/memory.limit_in_bytes"

(gdb)  p physical_memory_limit
$11 = 104857600

So the fact that in your case, it was trying to use a wrong path most likely means that on your host, the `/proc/self/mountinfo` returns the

[2018-05-18 23:02] gevorgter commented on #18020
I did. It does not work. Same exception.
Do you mind running "winver" in command line.  Updated computer says Version 1803.
Just want to make sure you have an updated windows. A bit latter i will do the test at home (I have a desktop computer) to see if can reproduce the problem there (Totally different environment from the office).

thanks.

[2018-05-18 23:06] sandreenko opened #18056 "[RyuJit/STRESS_BB_PROFILE] flowgraph.cpp noway_assert(blockPred->bbTraversalStamp == curTraversalStamp) fails"

[2018-05-19 00:01] karelz commented on #18020
I have older winver (1709). Can you run the filver above? That usually corresponds to specific .NET version.
@AlexGhiondea where to move potential .NET Framework breaking change bugs?

[2018-05-19 00:17] sdmaclea commented on #18052
Looks like the failures are issues while running the code.  So these are not arm64 issues, but rather x64 issues while running x64_altjit.  Perhaps related to the config options in test/x64_arm64_altjit.cmd ?

@BruceForstall

[2018-05-19 00:30] 4creators commented on #18041
@tannergooding Fixed all problems in #18058

[2018-05-19 00:46] CarolEidt commented on #18052
I have just realized that I failed to run these with `COMPlus_SIMD16ByteOnly`. Now none of them are failing either in master or in my branch. Let me rebase and see if I can reproduce the failures that are showing up in PR #16517

[2018-05-19 00:48] kouvel commented on #17170
Ok great, thanks!

[2018-05-19 00:48] sdmaclea commented on #18052
@CarolEidt   COMPlus_SIMD16ByteOnly should be on by default in altjit arm64 jobs

[2018-05-19 01:14] gevorgter commented on #18020
1. Sorry, i do not have filever on my computer and the only download i found is XP SP2 support tool which would not install due to my windows being win 10. If you know where i can get filever i would download it and let you know the info.

2. 1709 version is pre-update version. You must install latest update from Microsoft to reproduce problem. Without it everything worked fine (program run from s

[2018-05-19 01:14] CarolEidt commented on #18052
Right, but when I ran the tests in my local copy of my branch and master, I forgot - and naturally the jobs failed in both.

[2018-05-19 07:42] dmpriso commented on #18044
**This is on dotnet_mem_allocator** as per your instructions
[code]

**This is on ubuntu:latest** where we debugged cgroups.cpp

[code]

Our cgroup_test tool also fails with the .NET core image:
[code]

cgroup_test just consists of cgroup.cpp with a simple main function:
[code]

Regarding the native allocations done by the runtime: Isn't code allocating unmanaged memory supposed to call ```GC.AddM

[2018-05-19 13:47] CarolEidt commented on #18052
They were apparently spurious failures. Closing this.

[2018-05-19 13:47] #18052 closed

[2018-05-19 14:39] ArtBlnd commented on #11606
feels like phi node. thanks

[2018-05-19 15:15] jkotas commented on #18054
This thread is waiting for the GC to finish. You need to find the threads that are doing GC and see what they are stuck on.

We had a known issue that manifested this way: https://github.com/dotnet/coreclr/issues/17716 . It is fixed in 2.1-rc (https://blogs.msdn.microsoft.com/dotnet/2018/05/07/announcing-net-core-2-1-rc-1/). However, it is not possible to tell with certainty from this stack trace

[2018-05-19 17:20] mikedn commented on #11606
Hmm, not really. A PHI is a "function" that produces a value but ASG is more like an "operation". A better analogy is the `mov` instruction that exists in various assembly languages, including x86/64 and ARM.

[2018-05-20 10:10] ArtBlnd commented on #11606
there is no ASG node on LLVM, I just understood in my way. so nevermind :>

[2018-05-21 05:40] mikedn commented on #18040
It's needed but at the same time using a cast node is a workaround. It would make more sense to use `BITCAST` or `NOP` (if it would work in LIR). It's really not a cast, it's there only to prevent consumers from seeing a small int type and do fancy things with it.

Anyway, fixing ARM cast codegen will do for now.

[2018-05-21 09:13] shanshan0309 commented on #18042
Thanks Brian for looking into this issue. It works well when I don't use -Rebuild.

[2018-05-21 12:57] mateusrodrigues opened #18067 "On porting .NET Core to FreeBSD"
Hello,

I'm working on a [project](https://wiki.freebsd.org/SummerOfCode2018Projects/PortingPowerShellPorting) with Google Summer of Code and FreeBSD to port the .NET Core runtime and SDK, as well as PowerShell, over to the FreeBSD platform. Right now, I'm gathering information on how to build and put together the tooling and runtime, since the components are pretty scattered around in different r

[2018-05-21 13:02] stephentoub commented on #18067
cc: @janvorli, @wfurt

Related:
https://github.com/dotnet/corefx/issues/1626
https://github.com/dotnet/corefx/issues/2046
https://github.com/dotnet/corefx/issues/24255
https://github.com/dotnet/corefx/issues/24259
https://github.com/dotnet/corefx/issues/24386
https://github.com/dotnet/corefx/issues/24538

[2018-05-21 13:17] voinokin commented on #17963
MOV r32, r32 is not exactly no-op in 64-bit mode - it zeroes upper 32 bits of registers

[2018-05-21 13:38] voinokin opened #18068 "Excess MOVAPS on some non-VEX encoded SSE HW intrinsics having the same 1st and 2nd operand"
Codegen for some HW intrinsics on pre-AVX CPU provides codegen which is obviously too verbose:
Here is sample code:

                Vector128<ulong> vU64 = Sse2.ConvertScalarToVector128UInt64(1UL);
                vU64 = Sse2.UnpackHigh(vU64, vU64);
                Console.WriteLine(vU64);

Here is asm code generated on my i5-750 (Nehalem uarch):

000007FE650F5D20  mov         rsi,rcx
000007FE650

[2018-05-21 13:58] 4creators commented on #18068
@tannergooding @mikedn @fiigii  Issue seems similar to #16803. Any ideas what is the reason it still is appearing in non-VEX codegen?

[2018-05-21 14:10] 4creators commented on #18068
@voinokin What are the optimization settings for C# compiler?

[2018-05-21 14:14] voinokin commented on #18068
The optimizations are turned on, this is for 'Release' build. 'C# latest minor version (latest)' is also set, which resolves to C# 7.3.

![image](https://user-images.githubusercontent.com/39488876/40312011-44a645c8-5d1a-11e8-845b-e026b5bdabea.png)

[2018-05-21 14:28] janvorli commented on #18067
@mateusrodrigues that sounds like an exciting project! I'll be happy to support you in your effort. I've brought up support for Alpine Linux in all of our repos end to end and also fixed several build issues on the FreeBSD native side in the past.

@wfurt has recently done some work on fixing various managed components to work on FreeBSD properly.

The .so files you get on Windows are smaller beca

[2018-05-21 14:36] tannergooding commented on #18068
Yes. Most of these instructions involve three registers (dest, op1, and op2). Since the non-VEX encoding only allows you to pass in two registers, we have to generally mark op2 as delay free and insert a `movaps dest, op1` when `dest != op1`.

This looks like another case where the register allocator is not taking into account that op1 and op2 are both the same and is the last use.

I had held off

[2018-05-21 14:36] mikedn commented on #18068
I don't think that issue was ever fixed completely. This is a special case - the 2 operands are identical so they can be swapped as if the instruction is commutative. AFAIK there's no code to handle this particular case.

[2018-05-21 14:55] mateusrodrigues commented on #18067
@janvorli Awesome, thanks for your answer. As I'm working on a somewhat tight schedule, the main idea here is to have enough of the .NET Core SDK ported so that I can build PowerShell Core for FreeBSD. I'm still a little in the dark as to how much of the SDK should be ported, so I'm starting with the minimal: runtime first, then SDK tooling. But, after this project is completed, I do plan to work

[2018-05-21 15:29] janvorli commented on #18067
@mateusrodrigues in that case, the bootstrap CLI creation as I've mentioned above should give you the fastest way to get PowerShell working.

[2018-05-21 15:31] voinokin opened #18069 "Sub-optimal codegen when using Sse.StaticCast<TFrom,TTo>() with non-VEX encoded HW intrinsics"
Below is the source code (basically this is an example of partial vector update code trimmed down for repro):

            // Setup constants
            Vector128<ushort> valuesIncrement = Sse2.SetAllVector128((ushort)0x0001U); // <== no. 1
            Vector128<ushort> opCookie = Sse.StaticCast<ulong, ushort>( //<== no. 2
                Sse2.SetVector128(
                    0x0001_0002_0003_00

[2018-05-21 15:47] RCAlfonso opened #18070 "System.Net.NetworkInformation.Ping - Reports TTL of 128 when ran on linux"
System.Net.NetworkInformation.Ping - Reports TTL of 128 when ran on linux but reports correctly when same code is ran in windows.

Environment: Centos 7
.Net Core version : 2.0.6
Build: 74b1c7038...

[2018-05-21 16:55] mikedn commented on #18068
With a fix in place the generated code looks as expected:
[code]

[2018-05-21 16:57] mikedn commented on #18069
I played a bit with it and it seems that the issue is not related to `StaticCast`, I removed it during import and the generated code still has issues. This is more likely a variant of #18068, possibly exacerbated by the fact that blend has 3 operands and the last one is required to be in `xmm0`.

[2018-05-21 17:09] wfurt commented on #18067
Did you look at the instructions here: https://github.com/dotnet/corefx/wiki/Building-.NET-Core--2.x-on-FreeBSD @mateusrodrigues ? CoreCLR and CoreFX no longer builds for me but that should be easy to fix. With that working we were able to pass most of the tests as well as run simple SDK functions.

As of 2.1 I was also able to run Linux SDK on FreeBSD 11 under Linux emulation.
I think that opens

[2018-05-21 17:25] #18070 closed

[2018-05-21 17:45] SusLes opened #18071 "coreclr.lib"
Copying from Dotnet: https://github.com/Microsoft/dotnet/issues/753

daoqiang commented 9 hours ago • edited
I want to add coreclr to my project. I must introduce it in a static way. What should I do?
There can be no dynamic reference，thank you

[2018-05-21 18:01] jkotas commented on #18071
@daoqiang We do not have full static linking as documented and supported option today. We will be happy to take contributions towards fixing that.

cc @jeffschwMSFT This is one variant of the bundling scenario.

[2018-05-21 18:06] CarolEidt commented on #18068
The changes in RMW handling are in #16517 - it is just waiting for a code review from @dotnet/jit-contrib. It would be much better to wait until that's in before trying to fix this and then have to re-engineer the fix in the changed code.

[2018-05-21 18:07] jkotas commented on #9080
This is fixed (verified that https://www.nuget.org/packages/Microsoft.NETCore.App/2.1.0-rc1 has MIT license).

[2018-05-21 18:07] #9080 closed

[2018-05-21 18:07] CarolEidt commented on #18068
@mikedn - I've assigned this to myself so that I don't lose track of it - but feel free to poach it.

[2018-05-21 18:16] jeffschwMSFT commented on #18071
@SusLes can you provide a bit more detail.  What sort of application do you want to add a static reference?  (native, .NET Core, .NET Framework, etc.)  What sort of reference do you have in mind?  (.NET Core library, etc.)

[2018-05-21 18:33] mikedn commented on #18068
Maybe I will... once #16517 is in :grin:

[2018-05-21 18:34] wfurt commented on #6650
The ELF 0 comes from attempt to execute Linux binaries.
That can be fixed by running `# kldload linux64`.
That however is not sufficient to get Linux SDK working on FreeBSD.

Current  2.x and master builds don't do this any more so I'm going to close this issue.

[2018-05-21 18:34] #6650 closed

[2018-05-21 18:35] voinokin commented on #18069
@mikedn  Thanks for the explanation regarding `xmm0` and `PBLENDVB` - I missed that in insn description.
Below is another piece of code I have to check whether it's smth with `StaticCast<,>()` or not:

[code]
I've got the following asm code after `GetKeyPart()` has been JITted, note the `MOVAPS` when vector with zeroes is being typecasted (marked with arrow).

[code]

Is it related to `StaticCast`

[2018-05-21 18:36] wfurt commented on #15674
cc: @mateusrodrigues This may be good to investigate.

[2018-05-21 18:42] rickbrew commented on #18013
Paint.NET author here ... you've got my attention :D I have 50 KLOCs of C++/CLI code ... let me know if you need a guinea pig :)

[2018-05-21 19:02] janvorli commented on #18067
@mateusrodrigues, @eerhardt has discovered today few discrepancies in the doc and the script options. First, the script help describes an option `-config`, which doesn't exist anymore (the config is just passed in as -release or -debug or -checked now). Second, the doc has an example where the -rid option argument doesn't contain the architecture (x64), but it should have it. So for FreeBSD, the R

[2018-05-21 19:03] mikedn commented on #18069
Yep, it looks like. With it removed during IL import I get:
[code]

[code]

[2018-05-21 19:08] kouvel commented on #14017
`EnsureThreadRequested` is called for each queued work item so typically it would be called more frequently than `MarkThreadRequestSatisfied`. If the call counts are similar between those, it must be bursty work where the queue frequently reaches zero or short lengths. I'm seeing that in bursty cases most of the time taken in `EnsureThreadRequested` is in under `RequestWorkerThread`, this is expec

[2018-05-21 19:12] kasper3 commented on #15674
@RussellHaley, thanks for pushing forward the FreeBSD port. 👍

I was running into similar kinds of issues while attempting https://github.com/dotnet/corefx/issues/24386.

Two things that might interest you: https://github.com/dotnet/source-build/blob/dev/release/2.1/Documentation/boostrap-new-os.md and https://github.com/dotnet/arcade (arcade is the new repo that will consolidate all these similar

[2018-05-21 19:15] kasper3 commented on #18067
Also related https://github.com/dotnet/coreclr/issues/15674.

[2018-05-21 20:30] brianrob commented on #18042
Thanks @shanshan0309 for confirming.  I will work on a PR to remove -Rebuild.

[2018-05-21 21:09] benaadams commented on #14017
As a specific example, in the techempower tests:

For plaintext (the ultra high-throughput test) `EnsureThreadRequested` doesn't show up as significant.

For the other tests, which behave more in a ping-pong, request->response->request->response scenario it starts showing up as a factor; these I think are more bursty, which fits your explanation.

Equally ASP.NET Core does very well on plaintext;

[2018-05-21 21:53] SusLes commented on #18071
@jeffschwMSFT I just copied this over here from Dotnet Issues.  The original poster is @daoqiang.

[2018-05-21 21:55] mateusrodrigues commented on #18067
@wfurt Yes, I followed those, although not on the current master branches, I used the 2.1.0 RC1 release. It doesn't build as well, still have to investigate further as to why. But I'll try again later with your PR #18072.

@janvorli It took me a while but I was able to figure that one out 😄 I've been documenting the commands I'm running and, if it hasn't been done yet, I can submit some PRs correc

[2018-05-21 22:35] eerhardt commented on #18067
@mateusrodrigues - I put up https://github.com/dotnet/source-build/pull/568 to fix the incorrect places I found in the bootstrap documentation. Please feel free to submit more as you find them :)

[2018-05-21 22:58] dotnet-mc-bot opened #18076 "Build failure: Link"
Opened on behalf of @RussKeldorph

Warnings: 6
Status Message: failed

Build : Master - 20180518.01 (Product Build)
Failing configurations:
- Linux
  - PortableCrossBuild-Checked-arm
  - PortableCrossBuild-Debug-arm64
  - PortableCrossBuild-Release-arm64
  - PortableCrossBuild-Release-arm
  - PortableCrossBuild-Debug-arm
  - Debug-x64
  - Release-x64
  - Checked-x64
  - PortableCrossBuild-Checked-

[2018-05-21 23:10] RussKeldorph commented on #18037
@dotnet/jit-contrib

[2018-05-21 23:28] brianrob commented on #18076
This should be resolved as of #18074.

[2018-05-21 23:28] #18076 closed

[2018-05-22 01:17] daoqiang commented on #18071
@jeffschwMSFT .net core

[2018-05-22 02:42] tannergooding opened #18081 "Implement the HWIntrinsics for FMA"

[2018-05-22 02:43] tannergooding commented on #18081
FYI. @CarolEidt, @fiigii

I've opened this and self assigned. I have the work completed and am just waiting for https://github.com/dotnet/corefx/commit/502b7973e9705e33f1d8dc3cdedea29a596eb192 to flow back into coreclr/master.

[2018-05-22 05:30] ArtBlnd commented on #11606
How can I check is there any range-checks on block? should I iterate all of GenTrees?

[2018-05-22 05:33] ArtBlnd commented on #11606
I think it might late a lot... there was major issues with range-checks. sorry :<

[2018-05-22 07:39] mikedn commented on #11606
Hmm, there's a BasicBlock flag that indicates that a block contains range checks - `BBF_HAS_IDX_LEN`. However, I'm not sure how reliable it is and it is also set when a block contains array length references. So yes, you'd need to visit all nodes to figure out if there are range-checks or not. But it really depends on why do you need to know if range checks are present. They're not the only nodes

[2018-05-22 07:55] mikedn commented on #11606
Have you done any measurements to evaluate the impact of loop unrolling on current hardware? Loop unrolling is fortunately an optimization that can be implemented manually, without any compiler support. This means that you can measure the potential improvement provided by unrolling without writing any JIT code.
It may turn out that trivial loop unrolling such as
[code]
is not very effective. It ma

[2018-05-22 08:31] wfurt commented on #18067
CoreCLR should build again. CoreFX build issue is tracked by #29841.
I updated instructions with (experimental) notes, how to produce managed parts on FreeBSD.
That should open possibility for source-build.

BTW targeting Linux may give you 'hello world'. But you cannot get working product on FreeBSD.
I'd be happy to explain why, if it is not clear.

[2018-05-22 08:48] havotto commented on #18054
I have created a document of all the stacks: [Stacks](https://docs.google.com/document/d/1V4tB06iVuYMDcnD2lUgapgu-31aDy60BetMFUoEBcOA/edit)
Thread 17, 18, 19, 20  seem to be the GC threads.

[2018-05-22 08:54] havotto commented on #18054
I have to mention that the same app with the same .NET version is running in a Linux container without any issues so far.

[2018-05-22 09:52] andriysavin opened #18083 ".Net Core 2.1 with Azure KeyVault: 'System.ExecutionEngineException' occurred in Unknown Module"
I'm migrating a project to .Net Core 2.1/ASP.NET Core 2.1 RC1. All works nicely on a local windows 10 machine, but fails to start when deployed to Azure AppService (WebApp). After long investigation I was able to catch this error using remote debugging, and it looks like this:

![image](https://user-images.githubusercontent.com/12996633/40354520-b34ce0d4-5dbc-11e8-9d9b-8e0f70abc9cd.png)

`"An unha

[2018-05-22 10:09] ArtBlnd commented on #11606
Yes, and I've read all of intel optimization manual like a 3 times with a year.

I mean not a real instruction weight. on IL instruction. checking is that effective with partial unrolling is quite hard.

[2018-05-22 11:59] voinokin opened #18084 "Basic block moved out of the loop flow after JIT optimization"
Sometimes JITter moves basic block away from the loop, giving two extra `JMP` insns for no reason.
Is likely related to rearrangement of the basic blocks within the loop.
The issue does not appear when the generic type argument is `ushort`, or the line with `while` is commented out in the source code below (effectively leaving no loop).

Source code:

[code]

Asm code I've got with `AggressiveInli

[2018-05-22 14:06] mikedn commented on #18084
Nice example. The main reason why block layout is messed up is the `throw`. Initially the flow graph looks like
[code]
And then the JIT decides that it's preferable to jump to a throw basic block instead of falling into it:
[code]
That's usually correct but here it has the unfortunate effect of dragging the loop bottom in front of other blocks that belong in the loop:
[code]

[2018-05-22 14:11] knownasilya commented on #12217
What version was this released for?

[2018-05-22 14:22] knownasilya commented on #12217
I'm using 1.1.4 and tried doing the copy to `/usr/local/share/dotnet/shared/Microsoft.NETCore.App/1.1.4` but that didn't help.

[2018-05-22 15:03] mateusrodrigues commented on #18067
@wfurt Yes! CoreCLR and CoreFX are now building on FreeBSD!
So, by 'targeting Linux' you mean building the stack over on Linux and using them on FreeBSD on top of the Linux compat layer?

[2018-05-22 15:03] knownasilya commented on #12217
Hum, maybe my issue is a bit different. I don't actually get a segfault, see my minidump https://gist.github.com/knownasilya/7249b7eae0f52a1559756905862794d7

Basically it crashes dotnet cli with no real errors and not triggering a `try/catch`. I'm doing a POST with HttpClient to `carto.com` on a HighSierra machine with LibreSSL 2.2.7

[2018-05-22 15:32] bartonjs commented on #12217
Somehow we cross-talked between OpenSSL (libcrypto.1.0.0.dylib) and LibreSSL (libcrypto.35.dylib):

[code]

That's not something we should have done.

@knownasilya What do you get for `curl --version`?

[code]

(My example is from Ubuntu 16.04, so yours should definitely not match mine)

[2018-05-22 15:38] knownasilya commented on #12217
[code]

[2018-05-22 16:18] knownasilya commented on #12217
[code]

[2018-05-22 16:27] maryamariyan commented on #17904
@jkotas I looked at `CurrentSystemTimeZone.Cache.cs` and noticed it is a partial class. While looking more closely at its log and history, I noticed that somebody must have already moved the common implementation into a shared file called `CurrentSystemTimzeZone.cs` and left the remaining in the `*.Cache.cs` file.

[2018-05-22 16:28] wfurt commented on #18067
yes. using build constructs like "-os=Linux" or copying .dll assembly from Linux version.
It may work for many, but there are parts where source code is selected based on OS (OSGroup).
That impacts for example process management and networking - as BSD does not have same /proc as Linux and for many parts one needs to use sysctl() or other functions.

It also impacts test runs. Using -SkipTests is

[2018-05-22 16:32] jkotas commented on #17904
The cache implementation had to be split because of we did not have the public Hashtable in CoreLib. Now that the public Hashtable is in CoreLib, you can undo the split.

[2018-05-22 16:35] bartonjs commented on #12217
@knownasilya Yay, sanity has been attained.  The fix is in package version 4.3.3.

[2018-05-22 16:40] knownasilya commented on #12217
@bartonjs how would I update that?

[2018-05-22 16:41] karelz commented on #18020
Why doesn't the XP SP2 tools pack install on Win10? Did you try XP compat mode?

[2018-05-22 16:52] gevorgter commented on #18020
XP compat worked (did not think of that). Without it setup gave me an error "it can only be installed on Windows XP. So result is
filever -v c:\Windows\Microsoft.NET\Framework\v4.0.30319\clr.dll
--a-- W32i   DLL ENU      4.7.3101.0 shp  7,247,992 05-15-2018 clr.dll

[2018-05-22 18:13] AlexGhiondea commented on #18020
For .NET Framework breaking changes you can file an issue here: https://github.com/microsoft/dotnet/issues

[2018-05-22 19:14] karelz commented on #18020
@gevorgter can you please check the same output line I did? See https://github.com/dotnet/coreclr/issues/18020#issuecomment-390351510

[2018-05-22 19:18] karelz commented on #18020
This issue was moved to Microsoft/dotnet#755

[2018-05-22 19:18] #18020 closed

[2018-05-22 19:54] brianrob commented on #18042
@jkotas, it looks like -Rebuild is consumed by run.exe and not directly by build.cmd/sh.  I can remove it from the usage info for the scripts, and from docs, but that obviously won't affect run.exe.  Do you think it's worth catching uses of -Rebuild and failing the build with a message that -Rebuild isn't supported?  I doubt that we want to remove -Rebuild from run.exe for all repos.

[2018-05-22 20:08] jkotas commented on #18042
Sounds reasonable to me.

[2018-05-22 20:54] mateusrodrigues commented on #18067
@wfurt The plan for this project is to port the .NET Core SDK over to FreeBSD so that I can build and utilize PowerShell Core on the platform. So yes, a production-ready product would be ideal and is my ultimate goal, specially since we're doing this in order to push the bits over to the ports tree and to the `pkg` infrastructure -- I should also say that, while I'm at it, having .NET Core availab

[2018-05-22 21:02] BruceForstall commented on #17490
Fixed by #18064

[2018-05-22 21:02] #17490 closed

[2018-05-22 21:35] xanatos commented on #2426
For structs, adding a MarshalAs that can change the size of the marshaled type could change a struct from blittable to non-blittable, making marshaling much slower on 64 bit linux (and similar LP systems).

[2018-05-22 21:37] danmosemsft opened #18088 "Add -Wthread-safety to CoreCLR build"
This found a real issue for us at least on BSD with Clang3.9 and may be more useful as headers are updated. It has no effect on the generated binaries so probably reasonable for us to enable for CoreCLR.

See https://github.com/dotnet/corefx/pull/29850
https://clang.llvm.org/docs/ThreadSafetyAnalysis.html

@janvorli

[2018-05-22 21:45] RussKeldorph commented on #18084
@dotnet/jit-contrib

[2018-05-22 22:21] BruceForstall commented on #18048
Related: https://blogs.windows.com/buildingapps/2018/05/08/visual-studio-support-for-windows-10-on-arm-development/

[2018-05-22 22:44] BruceForstall opened #18091 "Unexplained ref count sorting for ARM only"
The following code in Compiler::WtdRefCntCmp() (and also in the currently-unused Compiler::RefCntCmp) is only for non-ARM targets. This seems strange and unexplained. Should the `#ifndef` be removed to make it all platform? This causes exactly one diff in ARM altjit asm diffs over the frameworks, a case with a huge function where a float variable ends up on the stack instead of in registers, causi

[2018-05-22 22:44] BruceForstall commented on #18091
cc @dotnet/jit-contrib

[2018-05-23 00:38] daoqiang commented on #18071
@jeffschwMSFT Well, I need to create a single executable file.and I don't want to leak more of the dependency library I use.

[2018-05-23 02:13] #18042 closed

[2018-05-23 03:13] echesakovMSFT commented on #17851
Since my last change #18053 didn't help to fix this issue I continued working on this and I think I found an explanation what happens during the crash.

When I use `COMPlus_JITMinOpts=1` together with `COMPlus_VerifyHeap=1` I usually get something like this
[code]

As far as I understand what `gc_heap::verify_heap` does the failure was due to the missing card on card_table for an array (located in

[2018-05-23 05:45] echesakovMSFT commented on #17851
@janvorli Should this also be enabled for ARM?

https://github.com/dotnet/coreclr/blob/9c5e3d5d86901bd6bc0bd2d56e81cc0edec7eb13/src/vm/gcenv.ee.cpp#L882-L893

[2018-05-23 06:02] daoqiang commented on #18071
@ArtBlnd Good plan, I do the same now, but I think all dependencies can be used as static dependency library.

[2018-05-23 06:10] shanshan0309 commented on #18042
Thank you @brianrob and @jkotas!

[2018-05-23 09:02] janvorli commented on #17851
@echesakovMSFT no, the code you've mentioned is really ARM64 specific. ARM64 has a special optimized way of getting the barrier limits in the asm helpers. See #12334 for details.

[2018-05-23 09:29] DevWithLin opened #18094 "Support byte-code-Injection in coreclr?"
Is coreclr similar to java instrument(byte-code manipulation)?

The Instrumentation API offers a hook into the JVM runtime which allows Java agents to access more advanced features of the JVM.

so ,Is coreclr like that?

[2018-05-23 10:36] amshekar opened #18095 "Calling an VB.Net String-functions (like Left(string),Right(string),Space(string),Trim(string)) in a .NET Core project throwing Runtime exceptions"
Calling an VB.Net String-functions (like Left(string),Right(string),Space(string),Trim(string)) in a .NET Core project throwing Runtime exceptions
General
We have a .Net core 2.0 webapi project and want to call a old vb.net method. The method have some string functions like Left,right,space and trim . We added the DLL as a reference . But in runtime we are getting method not found exception.

like

[2018-05-23 11:00] mattwarren commented on #18094
It's similar, but not quite the same, for instance AFAIK in Java you can do the byte-code manipulation using Java code, but in .NET you have to use C/C++.

You can find some more information in the [Profiling doc](https://github.com/dotnet/coreclr/blob/master/Documentation/botr/profiling.md) and a [Profiling API Sample for CoreCLR](https://github.com/Microsoft/clr-samples/tree/master/ProfilingAPI/