[2018-03-27 00:38] BruceForstall commented on #16963
cc @janvorli

Looks like the original investigator for #13651 is no longer active, so maybe we need to take this on.

[2018-03-27 00:39] BruceForstall commented on #13651
@dotnet/arm32-contrib Is anyone actively working on this now, or does anyone have plans to work on it?

[2018-03-27 00:44] BruceForstall opened #17241 "[arm32/Ubuntu] Enable GCStress CI jobs"

[2018-03-27 00:50] noahfalk commented on #15720
@mikem8361 - are you aware of this? It wasn't clear who owns resolving it (if anyone?)

[2018-03-27 00:52] mikem8361 commented on #15720
This is the first time I seen this.

[2018-03-27 00:59] noahfalk commented on #12074
Actually closing : )

[2018-03-27 00:59] #12074 closed

[2018-03-27 01:08] weshaggard commented on #15720
This error is caused by a failed build that isn't failing it doesn't have anything to do with SOS.NETCore.dll

[2018-03-27 01:20] AndyAyersMS opened #17242 "_il_relarray3 fails deterministically on x86 for gcStress=0xC, minopts=1"
Split off from #17027. Likely bad GC info.

Fails with

[code]

Stack is:

[code]

Note to repro locally, after building the test overlay, you need to run `tests\setup-stress-dependencies.cmd /arch x86 /outputdir <path to overlay>` to get the coredistools install needed for gc stress.

Will fill in more details shortly.

[2018-03-27 01:21] AndyAyersMS commented on #17027
JIT_Methodical.refany__il_relarray3__il_relarray3 fails deterministically for x86, gcstress 0xC, minopts. Have split this into its own issue #17242.

[2018-03-27 01:33] Maoni0 opened #17243 "clean up the code in GetRestrictedPhysicalMemoryLimit and related code paths"
In GetRestrictedPhysicalMemoryLimit we used to GetProcAddress on a lot of APIs which we don't need anymore; there was some cleanup done but not complete (still calling GetProcAddress on K32GetProcessMemoryInfo) and there are things like "GCIsProcessInJob = &(::IsProcessInJob);" instead of calling the API. We should get rid of these and just simply call the APIs.

[2018-03-27 01:49] noahfalk commented on #15720
Thanks! I'm going to unassign Mike then.

[2018-03-27 01:53] Maoni0 commented on #14561
@KKhurin and I chatted about this - since he's expressed the desire of changing the behavior of this API this is going to require some API design work (+ the implementation to allow the changed behavior) so I am pushing this to post 2.1.

[2018-03-27 01:55] Maoni0 commented on #15796
#17177

[2018-03-27 03:29] alpencolt commented on #13651
@BruceForstall we will prepare commit soon
cc @kbaladurin

[2018-03-27 04:56] #17205 closed

[2018-03-27 05:52] noahfalk commented on #15857
@lt72 above claimed to close this. Actually doing so now : )

[2018-03-27 05:52] #15857 closed

[2018-03-27 06:54] noahfalk commented on #17124
@WebDancer69 - OK makes sense. Do you know roughly how much startup performance you are losing by not NGENing vs how much you are losing by not running multicore JIT? I'm guessing you have a version of your software without the hardening tool applied that you have used to make comparisons.

In the meantime I'm chatting a bit with some folks here at Microsoft to make sure I've got the right folks o

[2018-03-27 07:09] #17028 closed

[2018-03-27 08:32] noahfalk commented on #16274
I think there was (and may still be?) some confusion about what property of the runtime you are asking us to guarantee. I originally misunderstood which lead to me pulling in Maoni. My current understanding is this is property you are hoping for: "the reference reported in the objectRefIds[x] of the ICorProfilerCallback::ObjectReferences call is the reference that is stored in array index X of the

[2018-03-27 09:30] noahfalk commented on #3894
I only mentioned it as context for why others cared in the past and then the priority diminished, I didn't intend it to be a solution to the current issue.

I meant using IL instrumentation to inject modified code into one of the already existing framework assemblies. Effectively anything we can write in C# into the framework source, your profiler can also write at runtime via IL instrumentation,

[2018-03-27 09:37] Ninds commented on #16833
How is it possible when this makes it into the daily snapshot of the SDK. I have just tried 2.1.300-preview3-008414 and it doesn't seem to be in there.

[2018-03-27 09:49] noahfalk commented on #17124
@WebDancer69 - Poking around, it looks like BypassNGenAttribute already works per-method for NGEN?
https://github.com/dotnet/coreclr/blob/master/src/zap/zapimage.cpp#L2046

Did you have a particular test case that suggested it didn't work? If not maybe give that a try and then lets see where things stand?

[2018-03-27 10:30] janvorli commented on #16833
@Ninds I've just checked the commit hash of the libcoreclr.so in the 2.1.300-preview3-008414. It was build from about 19 days old state of coreclr while my fix came in 14 days ago.
[code]
If you open the link reported by that command and then click on  the "commits" link, you'll see which commits are part of the specific libcoreclr.so. The most recent commit is on the top of the list.

[2018-03-27 14:20] #17173 closed

[2018-03-27 14:48] jzielnik commented on #17125
[ConsoleApp4.zip](https://github.com/dotnet/coreclr/files/1852436/ConsoleApp4.zip)

Attaching minimal example (newly created project). When I open attached solution in VS, I can see in Dependencies>SDK>Microsoft.NETCore.App a list of assemblies and nuget packages, for example "Microsoft.NETCore.DotNetHostPolicy (2.0.0)" and "Microsoft.CSharp.dll". How can I get full paths to those assemblies?

[2018-03-27 14:48] mmitche opened #17249 "Official Linux x64 Release build failing"
2018-03-27T10:22:49.6159434Z [ 95%] Building CXX object src/debug/daccess/CMakeFiles/daccess.dir/inspect.cpp.o
2018-03-27T10:22:50.1415236Z error: no profile data available for file "stacklevelsetter.cpp" [-Werror,-Wprofile-instr-unprofiled]
2018-03-27T10:22:50.1489667Z 1 error generated.
2018-03-27T10:22:50.1525881Z make[2]: *** [src/jit/standalone/CMakeFiles/clrjit.dir/__/stacklevelsetter.cpp.o]

[2018-03-27 15:10] tdinucci commented on #9215
FYI, it looks like @zaytsev-victor did this and the issue can be closed - https://github.com/dotnet/corefx/pull/25528

[2018-03-27 15:35] mmitche commented on #15720
I submitted an issue but haven't heard anything on it.

[2018-03-27 15:40] karelz commented on #9215
@tdinucci thanks for catching that!

[2018-03-27 15:40] #9215 closed

[2018-03-27 15:46] GrabYourPitchforks opened #17253 "Introduce concept of "test" mode for apps"
We should consider introducing a _test_ or _verification_ mode for app execution. This would be a special execution mode that can be toggled independently of debug / release, and the Framework could perform more rigorous correctness checks that it otherwise wouldn't perform when the application is running in normal mode.

One example that came up on an internal email thread is that `ArrayPool.Retu

[2018-03-27 15:54] pakrym commented on #17253
I think JIT should be aware of this mode so there is no check at runtime, verification code gets eliminated during jitting.

Another issue is that a lot of checks might slow down things quite a bit so it would be nice to enable/disable them on per assembly/feature basis.

[2018-03-27 15:56] daoqiang opened #17254 "about c++ native call .netcore through coreclr"
I want to set by coreclr using c++ to call.Netcore program, but the existing project I must use the /md option to compile, (vs2017) (conflict /clr options and /md options) so I can only through the c++ project into coreclr source code to make the call, how should I hand it in, there is no ready-made examples of use, thank you you

[2018-03-27 16:20] tannergooding opened #17256 "Constructing a `Vector4` from 4 constant floats is very inefficient"
Code that is in the form of: `var value = new Vector4(1, 2, 3, 4)` currently generates very inefficient code.

Today, this produces something similar to:
[code]

The JIT should recognize this type of code and instead optimize it to be a single read:
[code]

category:cq
theme:vector-codegen
skill-level:intermediate
cost:medium

[2018-03-27 16:21] tannergooding commented on #17256
CC. @CarolEidt, @eerhardt

[2018-03-27 16:23] mikedn commented on #17256
Eh, I guess I need to look into emitting those 16 bytes data sections a bit more, this issue keeps coming up one way or another :)

[2018-03-27 16:42] tannergooding opened #17257 "Accessing a field of a Vector4 causes later codegen to be inefficient if inlined"
As a simple example, look at:
[code]

This is currently producing:
[code]

Manually inlining this code to be:
[code]

Produces the much more efficient code:
[code]

We should recognize when the accessed value is 16-bytes and just do a block-copy (as was done with the manually inlined code).

It may also be beneficial to recognize that `[rsp+20H]` contains the "last use" of `value` and that we can

[2018-03-27 16:42] tannergooding commented on #17257
FYI. @CarolEidt, @eerhardt

[2018-03-27 17:01] GrabYourPitchforks commented on #17253
JIT should definitely be made aware of this, but I don't think it would help that much to be honest. Framework code is pre-JITted, and we can't know until runtime what the operating state is. If the check is a simple read of a known memory address, I think that's probably as fast as we're going to get. And presumably these checks wouldn't occur in perf-critical code paths anyway.

[2018-03-27 17:07] CarolEidt commented on #17257
This is related to work item 7 in https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/first-class-structs.md, and also to #11407, though this is a bit different because it deals with a SIMD type, for which `fgMorphCombineSIMDFieldAssignments()` is supposed to merge these kinds of copies - though it may behave differently for a copy to an argument.

[2018-03-27 17:17] AndyAyersMS commented on #17242
The method with the problem is `JitTest.Test.TestRef` which has fully interruptible GC reporting. GCStress has broken in at offset C8 which is near the end of the method and there are no tracked GC refs live at this point.
[code]
GC info looks reasonable:
[code]
Looks like `scanArgRegTableI` needs to walk the pointer table until it gets to an offset past the current offset which in this case means

[2018-03-27 17:23] RussKeldorph commented on #17249
@weshaggard This is a symptom of stale/wrong opt data.  Is this related to your change?

@valenis @adiaaida

[2018-03-27 17:27] weshaggard commented on #17249
This is in the release/2.1 branch and doesn't look related to my changes. It is possible that the PGO data is out of sync, the data was updated with https://github.com/dotnet/coreclr/pull/16500. @valenis @adiaaida is the training data coming from release/2.1 coreclr builds?

[2018-03-27 17:28] chsienki opened #17259 "CLRStack -i in SOS causes SegmentationFault on LLDB / Linux"
ClrStack -i is causing a segmentation fault in SOS on Linux

 ### Repro Steps:

**Environment:**
Ubuntu 14.04
LLDB 3.8.1
CLR 2.1.0-preview3-26324-03

**lldb steps:**
target create _pathtoclr_/corerun
settings append target.run-args _netcoreexe_
plugin load _pathtoclr_/libsosplugin.so

_Step or continue until libcoreclr.so is loaded_

sos ClrStack -i

### Expected Output:
Dumping managed stack and

[2018-03-27 17:35] sdmaclea commented on #16359
@debayang #17246 did not fix this issue

[2018-03-27 17:36] sdmaclea commented on #15389
@BruceForstall For Linux, this looks like it was fixed by #17246

[2018-03-27 17:40] RussKeldorph commented on #15414
Please reopen if this is seen again now that we are on VS2017.

[2018-03-27 17:40] #15414 closed

[2018-03-27 17:42] CarolEidt opened #17261 "ConvertToDouble_r fails with jitstressregs4"
Test is JIT\HardwareIntrinsics\X86\Sse2\ConvertToDouble_r\ConvertToDouble_r.exe
It gets the following assert:
[code]
I believe it's yet another case of using `INS_movsd` when it should be `INS_movsdsse2`.

[2018-03-27 17:43] adiaaida commented on #17249
I'm on top of this. This is a symptom of PGO data collection being broken on Linux. See https://github.com/dotnet/cli/issues/8819.

[2018-03-27 17:45] RussKeldorph commented on #17249
@adiaaida As an aside, why is -Wprofile-instr-unprofiled on in the build?  We can't afford to have these build breaks either on PRs or in the official build.  A build with the warning enabled should be outerloop.

[2018-03-27 17:48] BruceForstall commented on #15389
If https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_windows_nt_jitstress2_jitstressregs2_flow/ succeeds, we can close this.

[2018-03-27 17:51] adiaaida commented on #17249
@RussKeldorph It seems like that is the default. I can update the pgosupport.cmake to turn that warning off.

[2018-03-27 17:57] adiaaida commented on #17249
@RussKeldorph #17262.

[2018-03-27 17:57] RussKeldorph commented on #17249
@adiaaida I think you should disable it by default but have a switch to enable it that works similar to `ignorewarnings` in `build.sh`.  Then create outerloop jobs do build with that switch so we can easily tell if we are hitting this.

[2018-03-27 18:15] BruceForstall commented on #15309
@janvorli fyi. These are still failing as last mentioned above. Since it's GCStress=0x3, I presume there's a VM issue here.

[2018-03-27 18:17] mikem8361 commented on #17259
This may be that the libsosplugin.so is built for lldb 3.9 for .NET Core 2.1 and we are stilling testing against 3.8.1.

[2018-03-27 19:31] jeffschwMSFT commented on #17254
It sounds like you are interested in hosting the CLR so that you can call .NET from C++?  If that is the case there are a few examples on how to use our hosting API: in http://yizhang82.me/hosting-coreclr and https://github.com/dotnet/coreclr/tree/master/src/coreclr/hosts.  You can then use coreclr_create_delegate  to create a delegate in .NET code.

[2018-03-27 20:10] Maoni0 commented on #15796
#17177 is merged now...so I will close this.

[2018-03-27 20:10] #15796 closed

[2018-03-27 20:11] dmitriyse opened #17270 "Allow to inline methods with delegate invocation (at least methods marked with AggressiveInlining)"
Method with delegate invocation problem:

[code]

https://sharplab.io/#v2:C4LghgzgtgPgAgBgARwIwG4CwAoRLUB0ASgK4B2wAllAKYEDCA9lAA6UA2NATgMrcBulAMY0IWbDjgBmFACYk9JAG8cSNUhZdK/MMBpIAsgE8ewLiSHAA2gF0kAfQhIAvEjI0A7oZNmL11Dbi6kiq6tIoACyGABQAlMqhwWoA9MkKJFxcNBTsRkjAABaUTrSFjAAmSMVujMBVZOyU7pUg0YlJjlYINgQAKlxGAJJk/IwA1jRxQeoAvjhzErgyEL6W3qbmljgq2MHhaPIAguLtVgY0ZeWDrOzR55fXLOwA8ixUjGQQBIcA5j9ZEAg2how0aZCaP

[2018-03-27 20:27] MichaelSimons commented on #12972
@janvorli - I am seeing a more severe variant of this with the new ARM SDK builds.

## Steps to reproduce
1.  Using Docker on a Windows 10 machine running in Linux container mode or a macOS.
2.  Build the following Dockerfile - `docker build -t dotnet-arm-sdk .`

[code]

## Results:
[code]

You can also reproduce this on Linux when using qemu but the setup is more complex.

[2018-03-27 20:32] dmitriyse opened #17272 "Allow to inline MethodGroup/Lamda directly passed as an argument"
This is an example where inlining logically possible, but currently not supported by JIT:
[code]
https://sharplab.io/#v2:C4LghgzgtgPgAgBgARwIwG4CwAoRLUB0ASgK4B2wAllAKYEDCA9lAA6UA2NATgMrcBulAMY0IWbDjgBmFACYk9JAG8cOJOpQy4AFiQBJMu0pkaAFVHAAFAEplagJD2A9E6SmAFpQhJawd4wATJAh/EnYgskZgJCEwdnYkMDIATz9jAHM1DWyXJABRfm5UzzJ0mKSkACMaJGMjEwCs7PUAEUYAdUo/AHESMC4A0wB3YRpLAAUuY2AACRp4xmtxZo0m5pc2zp6+geHRyxsAXgA+JT

[2018-03-27 20:49] CarolEidt commented on #17261
Fixed with #17110

[2018-03-27 20:49] #17261 closed

[2018-03-27 21:04] benaadams opened #17273 "EqualityComparer<T>.Default.Equals doesn't devirtualize in a shared generic"
It potentially could since it resolves to calls on `object`.

However more pressing is regression in dictionary for object types https://github.com/dotnet/corefx/issues/28511

/cc @AndyAyersMS @danmosemsft @ianhays

[2018-03-27 21:10] BruceForstall commented on #16964
I don't see this in the current master branch.

[2018-03-27 21:10] #16964 closed

[2018-03-27 21:20] #16804 closed

[2018-03-27 21:27] BruceForstall commented on #17043
I suppose fundamentally that every bit of native code that you run must be compiled with "-mfpu=vfpv3-d16". If you download anything built by Microsoft (which appears to be true with /root/dotnet/shared/Microsoft.NETCore.App/2.1.0-preview2-26314-02/libcoreclr.so), then that won't be true.

I would expect that if you followed the instructions to build CoreCLR from scratch, and properly set (and ver

[2018-03-27 21:37] AndyAyersMS commented on #17273
I don't believe the jit can devirtualize in this case in general.

For ref type `T`, `EqualityComparer<T>.Default` can either be a `GenericEqualityComparer<T>` or an `ObjectEqualityComparer<T>`.

In the typical case where the caller of `Default` is itself generic in `T ` (that is, shared code) both comparer types are always possible at runtime.

If `T` is exactly known or we can inline `EqualityCo

[2018-03-27 21:38] CarolEidt commented on #17225
There are many things that native compilers do that the JIT doesn't. We need to justify this kind of work with actual scenarios.

[2018-03-27 21:43] vScottLouvau commented on #15506
I'm definitely interested in the string operations (IndexOf, Equals, Compare, GetHashCode) and also String.Split (or, better, an overload of split which didn't make new strings).

There's no CLR method today, but I also do array search (both equality and range queries) with SIMD instructions with huge performance gains. It'd be nice to have something like "BitVector Array.IndexOfAll(Operator op, T

[2018-03-27 21:44] benaadams commented on #17273
Hmm... that makes it more complicated and means I can't do a simple fallback to `object.Equals` as it may be `IEquatable<T>.Equals(T)` and a different method?

[2018-03-27 21:45] sywhang commented on #14037
Should be fixed with #16875.

[2018-03-27 21:45] #14037 closed

[2018-03-27 21:45] sywhang commented on #16735
This should be now fixed with #16875

[2018-03-27 21:45] #16735 closed

[2018-03-27 21:52] tannergooding commented on #17225
@CarolEidt, this is basically the same as: https://github.com/dotnet/coreclr/issues/17256

I can come up with a bunch of scenarios showing the bad codegen here and actual numbers if it's needed.

[2018-03-27 21:56] davmason commented on #15589
This test is no longer failing, but two new ones are. I haven't had time to investigate yet, I will do that after the two other issues

System.IO.Tests.FileStream_Dispose.FinalizeFlushesWriteBuffer
[code]

System.Dynamic.Tests.InvokeMemberBindingTests.OperationOnTwoObjectsDifferentTypesOfSameName
[code]

[2018-03-27 21:58] AndyAyersMS commented on #17270
@dmitriyse thanks -- would still love to see an example where allowing this sort of inlining has a signfiicant performance impact. Right now the costs are likely dominated by the delegate invokes, whether or not `TryInvoke` is inlined.

[2018-03-27 22:03] AndyAyersMS commented on #17272
This is similar to #11189 and we lack compelling examples.

[2018-03-27 22:06] colgreen commented on #15506
Pretty sure that has already been achieved as part of the work around Span<T> and Memory<T>, and the associated work to use/consume those classes in the wider .NET framework. I think you can find these changes in the dotnet core 2.1 preview release(s).

[2018-03-27 22:54] davmason commented on #13983
@Maoni0 @kouvel I'm looking in to this now, it seems like the easiest way to do this would be to add a YieldProcessor method to the GCToEEInterface, then call YieldProcessorNormalized from within the EE. There would be some overhead, but it seems ok when the whole point is waiting.

To switch in standalone GC without adding an interface method, we would have to duplicate all of the YieldProcessorN

[2018-03-27 22:55] benaadams commented on #17273
I think best can do is going back to caching in a local for object types 😢

Will treat it as a resolution to the regression rather than something more general

[2018-03-27 22:57] Maoni0 commented on #13983
yes please add a method on the interface for this.

[2018-03-27 22:58] kouvel commented on #13983
The initialization is done in the finalizer thread at the beginning. If you want to avoid the overhead it may be possible to have an interface call to get the resulting values from initialization somehow and just clone the Yield functions.

[2018-03-27 23:08] kouvel commented on #13983
Also FYI:
- If longer fixed-iteration spin loops were previously tuned for pre-Skylake processors, they would currently be spinning for longer on Skylake processors
- YieldProcessorNormalized() normalizes the delay per pause iteration to something close to that on Skylake processors, so switching to that would increase the spinning duration on pre-Skylake processors.
- It may be necessary to retun

[2018-03-27 23:10] Maoni0 commented on #13983
this Yield function?

[code]
and you are suggesting the interface just returns g_yieldsPerNormalizedYield (and GC's yield function would just loop g_yieldsPerNormalizedYield times)?

[2018-03-27 23:13] kouvel commented on #13983
Yea that's what I was thinking. If there are spin loops with exponential back-off and if you want to use it there's another variant of YieldProcessorNormalized() for that which takes another piece of initialization data.

[2018-03-27 23:25] mikem8361 commented on #16482
Not needed for 2.1.

[2018-03-27 23:29] RussKeldorph commented on #17249
Fixed by 17271

[2018-03-27 23:29] #17249 closed

[2018-03-27 23:56] AndyAyersMS opened #17278 "HardwareIntrinsics_X86_Avx_ConvertToVector_ro fails deterministically under gcstress"
In particular gcstress=0xC jitstress=2.

Failure is that ESI is marked as a live GC ref when it is trashed by a block copy.

JIT.HardwareIntrinsics.X86.SimpleUnaryOpTest__DataTable`2[[System.Double, System.Private.CoreLib],[System.Single, System.Private.CoreLib]]..ctor(Single[], Double[], Int32)

[code]
GC info is:
[code]

[2018-03-27 23:57] AndyAyersMS commented on #17027
jit\HardwareIntrinsics\X86\Avx\ConvertToVector_ro fails deterministically for x86, gcstress, jitstress=2. Haves split this into its own issue #17278.

[2018-03-28 00:14] AndyAyersMS commented on #17278
Seems at first glance like `CodeGen::genCodeForCpBlkRepMovs` needs to update gc state of RSI/RDI. But not sure this is the issue.

[2018-03-28 00:18] #14594 closed

[2018-03-28 00:20] fiigii commented on #17225
The literals of `float`/`double` have to be read from memory, but integers can be encoded in the instructions. So, `SetVector128/256` should have different codegen heuristics from `Vector4`.

[2018-03-28 00:21] fiigii commented on #17278
Is this a managed code bug (incorrect unsafe code) or runtime bug?

[2018-03-28 00:38] benaadams commented on #17273
As aside (future) could generic lookups in loops be hoisted outside of loops?

[2018-03-28 00:58] BruceForstall commented on #16965
I kicked off some CI runs after the latest changes:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_checked_ubuntu_r2r_flow/
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_r2r_jitminopts_flow/
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_r2r_jitstress1_flow/
https://ci.dot.net/job/dotnet_cor

[2018-03-28 01:07] AndyAyersMS commented on #17273
Yes, that is part of getting the jit changes correct.

I'd like to make it so that if you call `Default` in a loop, and don't cache and the jit doesn't devirtualize / inline, it can can hoist the runtime handle lookup and the call to `Default` out of the loop and effectively re-introduce caching. That fixes things so if you use the new value-optimal pattern you come out mostly ok with refs too.

T

[2018-03-28 01:08] Maoni0 commented on #17118
fixed by [#17277](https://github.com/dotnet/coreclr/pull/17277)

[2018-03-28 01:08] #17118 closed

[2018-03-28 01:32] AndyAyersMS commented on #17278
I believe it's a jit bug.

@RussKeldorph can you see if anybody familiar with x86 codegen/ gc encoding can pick this one up? I'm happy to work on it if you can't...

[2018-03-28 01:38] AndyAyersMS commented on #17278
Suspect most of the other x86 HW intrinsic test gc stress failures may be caused by this too, so perhaps also try and verify these tests pass if/when there is a fix:
[code]

[2018-03-28 02:09] debayang commented on #16359
@sdmaclea My mistake.  I overlooked the Assertion . It had passed only for the Release binaries.

[2018-03-28 02:49] daoqiang commented on #17254
Wow, this is very useful information for me，A little bit inadequate is that in the yizhang82`s blog, the source code connection of the example seems to be a mistake.
Now I can only create a function pointer through the c++ code, and then.Netcore creates the corresponding delegate to call it? Can't you call class directly through an object - oriented way
Thank you

[2018-03-28 02:49] tannergooding commented on #17225
Right, so for `float`/`double`, it should be more efficient to do a single read, when all four values are constant.

Could you elaborate?

None of integer SIMD load instructions that I can find (`movd`, `movq`, `movdqa`, `movdqu`, etc) support immediates. So at best, you will be emitting a `mov reg, imm64`, `pinsrq xmm, reg, imm` per 8-bytes (on new hardware, with more complex code involving shift

[2018-03-28 02:50] AndyAyersMS commented on #17278
Think while going into the `rep movs` that `esi` is a valid byref, after the `rep movsb` it points off the end of the array into free space, and so can't be reported as a gc ref anymore.

Not sure what part of the jit is responsible for fixing this just yet.

[2018-03-28 04:40] jamespettigrew commented on #15693
I'm still encountering this with the latest daily master build (2.1.0-preview3-26327-03). I'm packaging .NET Core with a Yocto build and Yocto refuses to build after detecting the dependency if I don't include lttng-ust.

For reference, the version of lttng being pulled in is '2.9.1'.

[2018-03-28 05:18] fiigii commented on #17225
Yes, I meant the codegen of "evaluating the integer constants" rather than the SIMD instruction 😄

Yes, we have to store each constant vector in a memory slot. If a program has many distinct constant vectors, it would spend much memory. There is tread-off...

[2018-03-28 05:27] mikedn commented on #17225
I doubt there can be so many distinct constant vectors in a program that it would matter. The real problem is that each method is getting its own data section and thus its own constants. And even inside the same data section constants are not deduplicated so that the same constant is emitted multiple times. Also add the lack of proper packing into the mix and things start to look a bit risky.

All

[2018-03-28 05:30] tannergooding commented on #17225
I'm not so sure on this part. It looks like it generally takes more bytes to do the insert/shift code than it does to store the raw bytes and read from memory.

[code]

[code]

So, even with "perfect" deduping of float constants (which we don't have), we still only have a code savings of ~2-bytes.

[2018-03-28 05:35] mikedn commented on #17225
Hmm, right, `SetVector` tends to generate so much code that either way things aren't that great in terms of size. The concerns about data size would be more relevant to `SetAll`, that one generates much less code and yet native compilers tends to also use memory constants for that as well. But then native compilers have the luxury of deduplicating constants...

[2018-03-28 05:40] mikedn commented on #17278
But it should point right after the end of the array, isn't that valid?

[2018-03-28 06:02] mikedn commented on #17256
Funny thing that this needs 16 bytes of data section anyway, to store the 4 FP constants. And then generates ~75 bytes of extra code...

[2018-03-28 06:05] ufcpp commented on #17256
related to https://github.com/dotnet/csharplang/issues/688 ?

[2018-03-28 06:08] dmitriyse commented on #17272
Yes, this issue is not about "lock".
[code]
And also not about double call. Double call just simplifies to see inlining in the x86 ASM code.

[2018-03-28 06:20] dmitriyse commented on #17270
I am working on prototype of "C# coroutines" where each virtual/non virtual call gives performance degradation, unfortunately work state is far from benchmarks.
But in Task based EventLoop implementation I was forced to maually inline this method (~ 5 times):
[code]

This gives me performance speed up from 23 Mops/sec to 30 Mops/sec. (On one Core)

In a "C# coroutines" prototype I am targeting at

[2018-03-28 07:05] mikedn commented on #17256
Yes. Except this one is actually doable. The csharplang suggestion, well, not so much...

[2018-03-28 07:19] mikedn commented on #17270
That sounds a bit far fetched. What does an "operation" is supposed to consist of? With current CPUs it probably needs to consist of less than 100 instructions to reach such a speed. Even 100 is extremely optimistic...

[2018-03-28 07:29] dmitriyse commented on #17270
Motivations and some benchmarks can be found here:
https://github.com/dotnet/corefxlab/issues/2168
https://github.com/dotnet/corefx/issues/28025

[2018-03-28 07:39] sergign60 commented on #13000
@dotnet/arm32-contrib

codegencommon.cpp: NYI("Model kill set for CORINFO_HELP_ASSIGN_BYREF on target arch");
codegencommon.cpp: NYI("Model kill set for CORINFO_HELP_PROF_FCN_ENTER on target arch");
codegencommon.cpp: NYI("Model kill set for CORINFO_HELP_PROF_FCN_LEAVE on target arch");
codegencommon.cpp: NYI("Model kill set for CORINFO_HELP_PROF_FCN_TAILCALL on target arch");

[2018-03-28 08:26] Sunny-pu commented on #12522
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180328.02/workItem/baseservices.exceptions.XUnitWrapper/analysis/xunit/baseservices_exceptions._regressions_Dev11_147911_test147911_test147911_~2F_regressions_Dev11_147911_test147911_test147911_cmd

[2018-03-28 08:32] dotnet-mc-bot opened #17289 "Test failure: Interop_ClassicCOM._ClassicCOMUnitTest_ClassicCOMUnitTest_/_ClassicCOMUnitTest_ClassicCOMUnitTest_cmd"
Opened on behalf of @Sunny-pu

The test `Interop_ClassicCOM._ClassicCOMUnitTest_ClassicCOMUnitTest_/_ClassicCOMUnitTest_ClassicCOMUnitTest_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\fda998a8-ab9b-439b-8ec6-2188dda472a3\Work\73956709-d7b4-456c-bcca-bdbe2ab8b862\Unzip\Reports\Interop.ClassicCOM\ClassicCOMUnitTest\ClassicCOMUnitTest.output.txt
    Raw outp

[2018-03-28 08:54] dotnet-mc-bot opened #17290 "Test failure: tracing_tracevalidation._jittingstarted_JittingStarted_JittingStarted_/_jittingstarted_JittingStarted_JittingStarted_cmd"
Opened on behalf of @Sunny-pu

The test `tracing_tracevalidation._jittingstarted_JittingStarted_JittingStarted_/_jittingstarted_JittingStarted_JittingStarted_cmd` has failed.

    Unhandled Exception: System.Exception: Values for 'matchingEventCount' are not equal! Left='0' Right='1'\r
       at Tracing.Tests.Common.Assert.Equal[T](String name, T left, T right)\r
       at Tracing.Tests.TraceValid

[2018-03-28 10:45] pkruk2 commented on #3894
I think yes. If I understand correctly, you are suggesting injecting code into existing assembly like mscorlib or System.Runtime (one that will be always loaded/initialized by runtime). The injected code would add hook for Resolving event.

This way, when the other injected code calls method from my assembly, the Resolving hook will run and will help finding my assembly.

This is indeed more work,

[2018-03-28 11:18] RussKeldorph commented on #17278
@BruceForstall Can you take a look?

[2018-03-28 11:31] RussKeldorph commented on #12388
I assume this isn't going to block 2.1 unless we find something really low-hanging.

[2018-03-28 11:32] RussKeldorph commented on #5851
@ahsonkhan Is there more work on this issue for 2.1?

[2018-03-28 11:37] RussKeldorph commented on #16503
I'm incline to call this a test bug.  I believe OOM killer is a known problem.

@jkotas @janvorli feel free to fix triage if you disagree.

[2018-03-28 11:43] RussKeldorph commented on #16513
Getting late for 2.1, and we should be unblocked with the x86 work, so moving out.  If it becomes ready, we may consider for 2.1.

[2018-03-28 11:46] RussKeldorph commented on #16840
@wtgodbe Are you saying you went through your list and don't see anything that isn't already uniquely named, so we should be good to just fix the test list file name?

[2018-03-28 11:47] RussKeldorph commented on #15847
I assume this isn't going to block 2.1.  If we need it for a 2.1 investigation, we can fix it at any time.

[2018-03-28 12:07] RussKeldorph commented on #16610
@CarolEidt 2.1?

[2018-03-28 12:12] RussKeldorph commented on #11284
Does anyone know what problem this causes?  ARM hardware should already handle 2- and 4-byte misaligned integer loads and stores.  There are some odd cases with weird types of memory (normally not user-mode) and specialized instructions like LDM/STM, but the common cases "just work."  Unless someone has a real-world repro case where this is going to cause a problem, I'm inclined to push this out o

[2018-03-28 12:21] sdmaclea commented on #15389
Passed

[2018-03-28 12:35] mikedn commented on #11284
There are a few uses of Read/WriteUnaligned in the framework but all seem to use integers so if I understand correctly they should already work fine. For example: https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Marvin.cs
There are also a few uses that involve `Vector<T>` but they're under `if (Vector.IsHardwareAccelerated)` so they won't run on ARM32 currently.

[2018-03-28 13:33] RussKeldorph commented on #15892
Todo: Figure out if there is a way to fix this or if it's a fundamental limitation of NuGet.

[2018-03-28 13:43] daoqiang commented on #17254
Can you give me a more complete example? In the official example, I only saw the code of c++, the code of.Netcore is not, I can't see how it is invoked, the code that your blog contains can't run on window, thank you.

[2018-03-28 14:03] adiaaida commented on #12388
We didn't see these regressions on larger assemblies, only the smaller ones, and if I'm remembering correctly, it looked like it was mostly additional crossgen overhead (rather than jit time), since forwarding assemblies were affected by the same amount.

[2018-03-28 14:16] daoqiang commented on #17254
https://github.com/dotnet/docs/blob/master/docs/core/tutorials/netcore-hosting.md
Is this a description document to call.Netcore by loading coreclr.dll by c++? If I follow this document, I can use coreclr to generate coreclr.lib in my project, just as the steps described in the document

[2018-03-28 14:28] AndyAyersMS commented on #17278
Hmm, good point. Need to debug some more.

[2018-03-28 14:48] sdmaclea commented on #17175
@janvorli : @debayang looked into this.  He was finding the issue was in the PAL pow() emulation library.  The pow(-0.0, -1.0) returns the wrong answer.

I took a look at the settings in cross/arm64/tryrun.cmake and found `set(HAVE_COMPATIBLE_POW_EXITCODE  1 ...)`

This does not match what I see in `grep _EXITCODE ./bin/obj/Linux.arm64.Checked/CMakeCache.txt` when building on target.

I will creat

[2018-03-28 14:48] RussKeldorph commented on #15886
@CarolEidt Can you take a look?

[2018-03-28 14:49] sdmaclea commented on #17175
Someone can take the arm64 label off this

[2018-03-28 14:53] RussKeldorph commented on #17278
@BruceForstall nevermind.  @AndyAyersMS Assigning to you while you're still looking.  If you get stuck, perhaps @CarolEidt can help.

[2018-03-28 14:55] jeffschwMSFT commented on #17254
Great, sounds like you are all set.  There are a handful of open source tools we are exploring to help make this scenario more seamless (cppsharp, swig, etc.).  I am going to close this question for now, but please feel free to reach out if you have more questions.

[2018-03-28 14:55] #17254 closed

[2018-03-28 14:58] CarolEidt commented on #16610
@AndyAyersMS - I made some adjustments to the ordering that I thought ought to be better. It's a net win according to jit-diff, but shows just one regression- in ludcmp, even though jitting it results in a net improvement, with the loop you identify above not being split. There's more spill and more moves, but fewer split edges (21 instead of 43), and many fewer split backedges. Dumping disasm and

[2018-03-28 15:04] DomZZ commented on #17156
@jkotas, thanks for your help, I can easily fix that on my own code, but what if a nuget package or another thrid assembly is using AppDomain.CurrentDomain.BaseDirectory internally ?

I don't know, if it is related but I've reach another annoying issue, loaded assembly is built against full .net framework 4.6.2 and is using NInject and I get this error :
`             Message :
               Coul

[2018-03-28 15:09] tannergooding commented on #17175
For reference, the test is validating section `9.2.1 Special Values` of the IEEE spec:

This IEEE compliant behavior also matches the behavior documented in `Annex F (normative) IEC 60559 floating-point arithmetic` of the C Language Specification (see `F.10.4.4 The pow functions`):

for y an odd integer < 0.

[2018-03-28 15:19] RussKeldorph commented on #17290
@brianrob

[2018-03-28 15:20] tannergooding commented on #17256
Could you please comment, on the language issue, why you believe this is not doable.

At least from the initial IL tests, using `Data declarations` to emit structured constants worked as intended, on multiple platforms. So, outside of language design issues (such as what to do for cross-assembly constant declarations), it should be doable (and is actually doable in IL today).

[2018-03-28 15:20] RussKeldorph commented on #17289
@jeffschwMSFT I suspect this test needs to be disabled for Nano Server.

[2018-03-28 15:51] RussKeldorph commented on #15364
@ahsonkhan Can this up-for-grab issue be moved to Future?

[2018-03-28 15:52] RussKeldorph commented on #13544
@danmosemsft Is this still destined for 2.1?

[2018-03-28 15:58] RussKeldorph commented on #15183
@vitek-karas Do you expect 2.1 System.Private.CoreLib to pass BinSkim, which I expect requires no write-execute sections in the image?  If not, could you move this to Future?

@jeffschwMSFT

[2018-03-28 16:00] danmosemsft commented on #13544
Nope.

[2018-03-28 16:20] brianrob commented on #15693
@jamespettigrew thanks for the information.  Are you able to get a process dump of the hang?  I've never been able to reproduce this.

[2018-03-28 16:47] BruceForstall commented on #16965
These show about 50 errors, but the JIT stress jobs timed out.

[2018-03-28 17:03] BruceForstall commented on #15389
Thanks.

[2018-03-28 17:03] #15389 closed

[2018-03-28 17:09] maririos commented on #16840
@wtgodbe do we have an ETA of when this is going to get fixed?

[2018-03-28 17:13] brianrob commented on #17290
Unable to get a repro machine for this until #16840 is fixed.

[2018-03-28 17:17] MattGal commented on #16840
I chatted with @RussKeldorph , I think Will's fix is _probably_ sufficient and we have an easy way to check (which I will assist with) once the fix is in.

[2018-03-28 17:31] luqunl commented on #17289
@RussKeldorph , Yes , it should. let me find a way to disable it under nano.

[2018-03-28 17:34] RussKeldorph commented on #1712
Future per @sergiy-k

[2018-03-28 17:35] bencz opened #17294 "PowerPC and AIX support"
After some research, I checked that the .net core has no supported for PowerPC or AIX ... Are there plans to implement support for the Power architecture and the AIX operating system?

[2018-03-28 17:38] wtgodbe commented on #16840
@RussKeldorph Yes, as far as I can tell everything except the test list file name is already uniquely identified, so my fix should be sufficient. The only thing I can think of that would break that is if two jobs in the same build had the exact sime RID (OS-Arch), which should never happen anyways.

[2018-03-28 17:39] sdmaclea opened #17295 "palsuite/file_io/ReadFile/test2 fails on platforms with 64k Pages"
src/pal/tests/palsuite/file_io/ReadFile/test2/ReadFile.cpp

Has PAGESIZE hard coded to 4096.  It fails on platfoms with 64K pages, because when it write protects the second "4K" page it will write protect the whole 64K page.

@janvorli

[2018-03-28 17:47] sandreenko commented on #16996
Failed tests for each run are different, so it is possible that it will be fixed with #13651.
However, [the last job](https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_release_ubuntu_tst_prtest/) failed with timeout and I will investigate that.

[2018-03-28 18:10] wtgodbe commented on #13798
I think this one is less critical for ZBB, It hasn't been affecting builds. We can probably get away with pushing this to future, and maybe get it in for one of the later previews.

[2018-03-28 18:14] ahsonkhan opened #17296 "Consider adding reflection support for Span<T>"
From https://github.com/dotnet/coreclr/issues/5851#issuecomment-337356969

- [x] It is not possible to do it via existing reflection methods. We should have test to verify that e.g. `typeof(SpanExtensions).GetMethod("AsReadOnlySpan", new Type[] { typeof(string) }).Invoke(null, new object[] { "Hello" });` fails gracefully.
- [ ] We may want to look into adding new reflection APIs that allow calling

[2018-03-28 18:16] janvorli commented on #16438
@perlun I've spent some more time on this. It turns out that we try to handle the EEFileLoadException. During the exception handling, we need to load another assembly to get a managed type of a catch clause to see if it matches our exception. And obviously, due to the fact that we are still out of handles, we fail. And a failure in this code path is fatal, we cannot do anything to handle or propag

[2018-03-28 18:18] jkotas commented on #17156
I agree that AppDomain.CurrentDomain.BaseDirectory starts to fall apart when files are spread over multiple directories. This is not really specific to AppDomains - this problem exists with single AppDomain too. One way to make these work is to dump everything into a single directory...

It can load them, but they will work only if they avoid features that are not in .NET Core.

[2018-03-28 18:18] janvorli commented on #16965
The remaining errors were fixed by #17292

[2018-03-28 18:18] #16965 closed

[2018-03-28 18:18] ahsonkhan commented on #15364
Yes. This perf optimization is not critical for 2.1. Thanks.

[2018-03-28 18:42] janvorli commented on #17294
The largest amount of work is always in adding support for a new architecture to the JIT. We have JIT for arm, arm64, x86 and x64 architectures. There are currently no plans on adding new architectures support, but nothing prevents the community from starting such an effort.

[2018-03-28 18:59] sergiy-k commented on #15330
Hi @leculver, the CoreCLR link does not seem to work any longer. Could you please double check whether this issue still shows up in Watson reports for CoreCLR and update the link? Thank you!

[2018-03-28 19:03] kasper3 commented on #17254
There is also a Rust binding https://github.com/gsfraley/dotrust.

[2018-03-28 19:09] sdmaclea commented on #17167
This is probably a different symptom of the GC hole in #17169

[2018-03-28 19:10] kasper3 commented on #17294
@janvorli, based on your experience, when aarch and aarch64 support were added, is there any rough checklist to support more architectures like ppc64le, mips64 etc. and generally RISC? There is also https://github.com/NETMF/netmf-interpreter by Microsoft, which has similar spectrum of support, perhaps convergence with that project will yield broader reach for CoreCLR. Not sure how feasible is the

[2018-03-28 19:52] #16840 closed

[2018-03-28 20:17] BruceForstall commented on #17241
@janvorli I've started working on this, and my first attempts to run GCStress=4 show very early failures.

Do you know if anyone has tried Linux arm32 GCStress before? Do you think it should "just work", or are there known issues that need to be addressed first?

E.g.,
[code]
under gdb:
[code]

I haven't gotten any farther, e.g., trying to run under LLDB + SOS, or getting JitDump with GC info dump

[2018-03-28 20:24] AtsushiKan commented on #17296
https://github.com/dotnet/corefx/issues/14021

is the bug you’re looking for.

[2018-03-28 20:38] janvorli commented on #17294
@kasper3 coreclr contains an interpreter too (disabled by default), but it hasn't been turned on or tested for a very long time. I just remember someone made coreclr compile without errors when the FEATURE_INTERPRETER is enabled and there were some attempts to use it by someone from the community.

As for new architectures, a coarse checklist (in an arbitrary order) would be :
* ASM helpers
* Thun

[2018-03-28 20:45] benaadams commented on #15796
@Maoni0 not sure it completely resolves this?

e.g. If you ran on in 32 bit mode on a 64 core machine the amount memory the array pool is willing to store is higher than that available to the process? (Though it may be practically solved with #17177 and https://github.com/dotnet/coreclr/pull/17078?)

(use case: unrefined way of keeping densely packed microservices or websites memory under control

[2018-03-28 20:53] RussKeldorph commented on #11284
RyuJIT doesn't use LDM/STM or LDRD/STRD at all or at least in situations where they could fault due to misalignment, so I'm pushing this out.  I'm keeping it open because I think it may deserve a deeper analysis of whether there are any interesting cases to handle here--either for performance or correctness.

[2018-03-28 21:04] Maoni0 commented on #15796
sorry, I should have clarified - #17078 is implied - you have to trim. #17177 just makes that trimming also work for 32-bit apps that runs on machines with more physical memory than what a 32-bit process can address.

[2018-03-28 21:50] janvorli commented on #17241
I don't know if anyone has tried Linux arm32 GCStress before. I would guess that the answer is "no".
As for LLDB, I couldn't make it work on my Raspbian for some reason yet. It can load and run processes, but setting breakpoints doesn't work and while I can break into the running process, it doesn't show any stack trace, the "target modules list" shows nothing, etc.

[2018-03-28 22:06] BruceForstall opened #17305 "[ARM32] Non-Windows UPDATE_GC_SHADOW is unimplemented"
In src\vm\arm\asmhelpers.asm:
[code]

[2018-03-28 22:33] lags commented on #17043
I have clean coreclr build with <code>./clear.sh -all</code> and follow the instruction for build from scratch.

I have edit <code>add_compile_options(-mfpu=vfpv3)</code> in <code>add_compile_options(-mfpu=vfpv3-d16)</code>
into file: <code>compileoptions.cmake</code>.

I have run: <code>./build.sh arm debug verbose cross -rebuild</code>

Now the error is:
<pre>
[  3%] Building ASM object src/pal/

[2018-03-28 22:52] AndyAyersMS commented on #17278
Ok, now think this is a test issue. Broke in at the `rep movsb` and have
[code]
Seems like the fix is that `LargestVectorSize`, which specifies the copy length, needs to be 16 here.

[2018-03-28 22:56] fiigii commented on #17278
@tannergooding looks like we need to fix the test template.

[2018-03-28 23:32] sdmaclea commented on #17210
This is a side effect of running tests with corerun instead of dotnet.  https://github.com/dotnet/coreclr/issues/17174

This can be closed

[2018-03-28 23:34] #17210 closed

[2018-03-29 00:02] AndyAyersMS commented on #17278
I cannot determine how (or if) the Convert tests get auto-generated so somebody else will have to figure this part out.

It would be nice for each auto-generated bit of syntax to link back to the bits of input syntax that lead to their generation (say via a comment or two, with repo-relative paths and such).

[2018-03-29 00:13] sandreenko commented on #16996
The timeout was an infrastructure problem that doesn't not repro.

I ran [a job ](https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_release_ubuntu_tst_prtest/3)with 20 reruns, all tests passed after 8 reruns.

So I think we should wait until #13651 is fixed and then check this issue again.

[2018-03-29 00:18] BruceForstall commented on #16996
I'm ok temporarily bumping the max rerun count to 20, as the entire rerun infrastructure is hopefully temporary. If it would make jobs pass successfully, that would be good.

[2018-03-29 00:29] fiigii commented on #17278
@AndyAyersMS let me give it a try to fix the tests.

[2018-03-29 00:34] AndyAyersMS commented on #17278
Thanks. There may be other tests with this same kind of pattern, so you might need to fix more than one.

[2018-03-29 00:40] CarolEidt commented on #15886
This dies while executing `System.AppDomain:SetupDomain()`, and doesn't appear to hit any of the GC stress handling code, AFAICT (I set breakpoints on `OnGcCoverageInterrupt()` as well as `IsGcMarker()` and neither were hit. I tried setting breakpoints on general exception handling code, but may not have the right method.
It dies without the usual GC stress assert, and a relatively random sampling

[2018-03-29 00:47] sdmaclea commented on #16491
I have duplicated the instability in corefx tests.  These tests all have a similar issue to the SDK.

[code]
Closing in favor of #17178

[2018-03-29 00:47] #16491 closed

[2018-03-29 00:48] tannergooding commented on #17278
I would guess they aren't auto-generated. All generated tests have a comment at the top describing how they are generated and where to look.

[2018-03-29 00:52] sdmaclea commented on #17174
Also causes all the InvariantModeTests mentioned in #17210 to fail

[2018-03-29 01:03] AndyAyersMS commented on #17278
This particular file claims to be auto generated, hence my confusion.
https://github.com/dotnet/coreclr/blob/757cb82a5800fd043713d7ee40feba1dd2c89793/tests/src/JIT/HardwareIntrinsics/X86/Avx/ConvertToVector256Double.Single.cs#L5-L10

For files that were generated, instead of "generated from a template" it would be nice to say which one, and perhaps which line(s) of the huge csx file were also invo

[2018-03-29 01:31] sdmaclea commented on #17169
#17168 & #17167 are likely GC holes too

[2018-03-29 01:34] sdmaclea commented on #17007
Fixed by #17131

[2018-03-29 01:34] #17007 closed

[2018-03-29 01:45] sdmaclea commented on #15381
@BruceForstall Should this be closed.  While there are gcStress failures, this Isse does not seem particularly useful

[2018-03-29 01:46] maryamariyan opened #17310 "MEF tests failed on redhat 69 for possible runtime issue"
MEF tests failed on redhat 69 for possible runtime issue

Details:
[code]

Below showing a bit of dump from Thread 1 and Thread 9:

[code]

[code]

cc: @danmosemsft @jkotas

[2018-03-29 01:48] #14104 closed

[2018-03-29 01:49] sdmaclea commented on #11659
These haven't failed for several months

[2018-03-29 01:49] #11659 closed

[2018-03-29 01:51] sdmaclea commented on #10982
@debayng Tested SOS on 64K platform and found it to be working

[2018-03-29 01:51] #10982 closed

[2018-03-29 01:54] sdmaclea commented on #17210
`export CORECLR_GLOBAL_INVARIANT=1` causes tests to pass when running with `corerun`

[2018-03-29 01:58] BruceForstall commented on #15381
I'd still like to track failures in the GCStress=3 job. It seems like this is as good a place as any.

The last run: https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_windows_nt_gcstress0x3_tst/40/artifact/bin/tests/Windows_NT.arm64.Checked/Smarty.run.0/Smarty.0.fail.smrt/*view*/

The last failures:
[code]

I haven't investigated these at all, so perhaps there

[2018-03-29 02:13] jkotas commented on #17310
Likely GC hole.

[2018-03-29 02:58] AndyAyersMS commented on #17027
Can't get waitanyex5 to fail for me locally.

 I can get CoreMangLib_cti.system_reflection_emit_DynMethodJumpStubTests to fail about one in every 10 runs or so. Usually with an AV though sometimes with a GC mode contract failure.

A number of the multithreaded tests seem to be getting random AVs under stress and I suspect it's from the race condition mentioned here:
https://github.com/dotnet/corec

[2018-03-29 03:02] daoqiang opened #17312 "On static references"
I compiled the coreclr in static state and added it to my c++ project, but failed, some functions could not be found, and I couldn't use coreclr.lib correctly.

[2018-03-29 04:06] sdmaclea commented on #17170
The stack overflow occurs during the
`System.Threading.Threads.Tests.ThreadTests.ConstructorTest` test case.

All other test cases pass.

[2018-03-29 05:49] sdmaclea commented on #17170
On my `linux-arm64` and my `linux-amd64` Ubuntu 16.04 boxes.

`ulimit -a` returns `stack size              (kbytes, -s) 8192`

This test tries to allocate 16MB on the stack.  Legitimately causing a stack overflow.

This looks like a test bug to me.  It is also not clear why this is not failing on `linux-x64`

[2018-03-29 05:53] sdmaclea commented on #17170
@kouvel I assert this is a corefx test bug

[2018-03-29 08:01] DomZZ commented on #17156
Unfortunatly, I need to load the same assemblies in different versions then the same directory is not an option for me, it seems I am in a corner now and have to switch back to Full .Net Framework.
It was our 1st try to switch some code to .Net Core, but I think we didn't choose the right code to port since it used a lot of abandonned technologies.

I will have a look on how .Net Core evolve in th

[2018-03-29 08:09] AndyAyersMS commented on #17027
Instead of avoiding races that lead to spurious AVs, we might also be able to tolerate them, by enabling this code more broadly:
https://github.com/dotnet/coreclr/blob/1265ced3ee70de32246055a3915410583d338b67/src/vm/excep.cpp#L6946-L6966

[2018-03-29 08:11] ww898 commented on #16274
@noahfalk @Maoni0 I think we are speaking about a bit different things. I'm speaking about the order in outgoing references in `ICorProfilerCallback::ObjectReferences`. `GetArrayObjectInfo` tell me the size of each dimensions. But I can't use it in `ObjectReferences` because pointer to `null` objects aren't reported. For example: I can get only 1234 references from `ObjectReferences` for array wit

[2018-03-29 08:17] kouvel commented on #17170
I suspect pthread_create is not failing when 16 MB of stack size is requested and it only allocates 8 MB. On linux-x64 it seems to actually allocate the requested stack size despite the configured value, and this:

https://linux.die.net/man/3/pthread_create

Seems to suggest that the configured value is intended to be the default stack size and not the max, I could be missing something.

@sdmaclea

[2018-03-29 08:26] kouvel commented on #17170
I suspect pthread_create is not failing when 16 MB of stack size is requested and it only allocates 8 MB. On linux-x64 it seems to actually allocate the requested stack size despite the configured value, and this:

https://linux.die.net/man/3/pthread_create

Seems to suggest that the configured value is intended to be the default stack size and not the max, I could be missing something.

@sdmaclea

[2018-03-29 08:43] #17013 closed

[2018-03-29 09:19] sdmaclea commented on #17170
I'll try your test.

Also note, while debuigging this I changed the request to 7MB from 16MB and the test passed.

[2018-03-29 09:34] sdmaclea commented on #17170
Your program as written reports
`Actual stack size: 16777216` by default on linux-arm64
Even with a hard limit `ulimit -Hs 8192` reports the same.

[2018-03-29 09:50] janvorli commented on #15381
I've just checked - all of these failures are timeouts - the tests took more than 10 minutes to run. Exactly the same set of tests fails due to the same reason on ARM. I have ran the _dbglcs2.cmd on ARM yesterday and it actually completed after a long time.

[2018-03-29 09:56] sdmaclea commented on #15381
@janvorli I see a few sporadic/intermittent gcStress failures on test like
[code]

I have tried to pin them down, but haven't been able to.

[2018-03-29 09:57] sdmaclea commented on #15381
Any advice on how to find the GC hole?

[2018-03-29 09:59] sdmaclea commented on #15381
[code]

[2018-03-29 10:25] sdmaclea commented on #17170
[code]

If I do an allocation in the stack, like is done in this test case, I see a SEGV in the debugger.  (At least with the hard limit)

[2018-03-29 10:28] kouvel commented on #17170
I guess it only commits the necessary pages, I should have figured. I'll fix.

Interesting. I'm not sure what we can do about that from the product side. Any ideas? I'll go ahead and fix the test to use at most 2 MB for 32-bit platforms, that should be safe.

[2018-03-29 10:29] kouvel commented on #17170
Actually that still seems odd, I guess it would skip the guard page and happens to work. It's not typical stack usage anyway, I'll make sure to go through the guard page.

[2018-03-29 10:30] sdmaclea commented on #17170
This is a 16GB 64 bit platform

[2018-03-29 10:32] kouvel commented on #17170
I just mean 2 GB should be a safe test for 32-bit and 64-bit

[2018-03-29 10:41] janvorli commented on #15381
I can see this one happening on ARM in the lab tests too, but in a different test: JIT\Performance\CodeQuality\BenchmarksGame\regex-redux\regex-redux-1\regex-redux-1.cmd

I wasn't able to repro it locally yet. The culprit should be visible from the callstack if we can get it. But it seems strange. The CrstExecuteManRangeLock is taken in a single place - in ExecutionManager::Init(). That one is cal

[2018-03-29 10:43] sdmaclea commented on #17170
It might just be that because this is a 64K page platform arm64 platform, the 16M-64K does not leave enough space for stack address randomization

In gdb, I can see the stack from
[code]
[code]

[2018-03-29 10:46] janvorli commented on #15381
The best tool is the stress log. You'll need lldb with libsosplugin to dump and analyze the stress log since it is stored in an in-memory buffer.
This enables stress log with the largest buffer possible: `COMPlus_StressLog=1 COMPlus_LogLevel=7 COMPlus_LogFacility=80103 COMPlus_StressLogSize=2000000 COMPlus_TotalStressLogSize=40000000`
I'd also disabled concurrent GC and server GC - `CORECLR_CONCUR

[2018-03-29 11:02] janvorli commented on #15381
The libsosplugin then provides the following commands:
* HistInit- you run it once, it parses the stress log
* HistObj, HistObjFind, HistRoot -  see https://docs.microsoft.com/en-us/dotnet/framework/tools/sos-dll-sos-debugging-extension for description.

Please note that the history is limited by the size of the stresslog buffer, so it may happen that the evidence for the issue is gone from it.

[2018-03-29 11:29] janvorli commented on #15381
Let me give you a quick example. You hit a spot when you get an assert indicating that an object address is incorrect. E.g. the method table check fails. You run sos HistObjFind on that object address and you get roots that were pointing to that object in the past. Then you run sos HistRoot command for each of the root addresses the sos HistObjFind has dumped. That will show the history of object

[2018-03-29 12:16] sergign60 commented on #16503
@RussKeldorph I guess that the problem with this test is fixed by adding additional coreclr option ```MaxHeapSize```. With this option coreclr allocator'll issue "OutOfMemory" exception when this size is exceeded.

[2018-03-29 14:48] mattwarren commented on #17294
@kasper3 I wrote a post about the interpreter that you might find useful, see [The .NET IL Interpreter](http://mattwarren.org/2017/03/30/The-.NET-IL-Interpreter/).

But as @janvorli mentioned, work was done to make it easier to enable (so you can ignore that part of the post) see #11188 and #11252

[2018-03-29 15:23] sdmaclea commented on #15381
@janvorli Glad I asked.  Last time SOS wasn't working so I was wading through GC log files manually.  Very tedious.  Hopefully this will be better.

[2018-03-29 15:41] kasper3 commented on #17294
@janvorli, @mattwar, thanks, didn't knew about interpreter feature. For the basic interpreter to work in an antoconfig manner, we could probably integrate coreclr interpreter with the qemu assembly transpilation component https://github.com/qemu/qemu/tree/47d3b60858d90ac8a0cc3a72af7f95c96781125a/target, in order to run some code on non-supported architectures (slow version). Gradually, the full su

[2018-03-29 15:52] janvorli commented on #17170
Linux maps only a small portion of the stack space in the beginning and adds mapping more as necessary. But it keeps the virtual range reserved based on the ulimit for the primary thread and based on pthread internal limit or the limit asked for during pthread creation. So going over that limit should result in sigsegv.
There are some more subtle details though. This mechanism expects that the sta

[2018-03-29 16:17] sdmaclea opened #17320 "[Arm64] PInvokeCalli not working?"

[2018-03-29 16:22] hjc4869 opened #17321 ".NET Core 2.1 preview SIGBUS (linux-arm on arm64 OS)"
Steps to reproduce:
1. dotnet new console (on x86_64 PC)
2. dotnet publish -c Release -f netcoreapp2.1 -r linux-arm
3. Copy bin/Release/netcoreapp2.1/linux-arm to an ARM64 Linux device (e.g. Raspberry pi 3 or later with arm64 Debian OS installed)
4. On ARM64 device, run `dpkg --add-architecture armhf`, `apt update`, and install .NET Core armhf dependencies
5. Run published program
[code]

.NET Cor

[2018-03-29 16:26] tobyash86 commented on #17125
Based on the first comment in this thread I assume you want to resolve those assembly paths by analyzing the project which has those references defined.

I have exactly the same problem. There is a similar question #13778 and coreclr team suggests using shared\Microsoft.NETCore.App\ directory in dotnet installation folder, but locating it is not that simple as it can be deployed anywhere on the HD

[2018-03-29 16:57] AndyAyersMS commented on #17027
Broadening the tolerance scheme seems to fix the frequent AV issue. But in multithreaded tests I see the following around 2% of the time:
[code]

I think this might be a different symptom of the same race. Am going to see retrying `OnGcCoverageInterrupt` helps here.

Also there seem to be some instruction stream updates where we don't call `FlushInstructionCache` afterwards, or do call it but perh

[2018-03-29 17:41] janvorli commented on #13651
@alpencolt, @kbaladurin do you think you'd be able to get it done and send out a PR by tomorrow? If not, can you please give us some ETA?
Thank you.

[2018-03-29 17:54] kouvel commented on #17170
I guess something would need to ensure that stack is allocated in continuous fashion. For a local array it is similar to direct addressing so it could potentially skip the guard page and read/write other threads' stacks. The compiler may do something for functions with larger stacks (though it doesn't seem to be happening here). alloca may do something as well. In any case I guess it is inherently

[2018-03-29 17:56] richlander commented on #17321
Hi! Cool scenario. First, how did you install Debian ARM64 on the device? I have done via https://wiki.debian.org/RaspberryPi3. Is that what you did or you have better instructions?

[2018-03-29 18:06] janvorli commented on #15309
All of the tests in the list above are timeouts. I've ran some of them locally and they eventually completed successfully, although not in the 10 min limit. I am in a process of verifying that it is the case for all of them.
In another run that @BruceForstall has pointed me to, the https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_gcstress0x3_tst/40/,

[2018-03-29 18:17] janvorli commented on #17170
The JIT inserts stack probes for all functions with frame larger than memory page. However, about a week ago or so, the stack probing was reverted back to a way where the SP doesn't move as the probe continues (https://github.com/dotnet/coreclr/pull/17112). It was causing issues on Windows. But it needs to go back for Unix.

[2018-03-29 18:28] kouvel commented on #17170
I see, makes sense

[2018-03-29 19:10] RussKeldorph commented on #16148
Ah, good point.  Every R2R test failed on that ubuntu16.04 run, but they don't appear to still be failing, so whatever was wrong appears to have been fixed.  We can just close this and it will be re-opened if it fails again.  Sorry for not noticing that.

[2018-03-29 20:24] kouvel commented on #17170
The main issue here seems to be that pthread_create allocates less stack space than requested without failing. Filed issue https://sourceware.org/bugzilla/show_bug.cgi?id=23018, not sure if that's the right place but let's see. @sdmaclea it would be great if you could provide any info requested there (probably I guess they will ask for glibc version).

[2018-03-29 20:42] Maoni0 opened #17324 "provide an option to skip initializing large objects in GC"
sometimes it may be desirable to not have GC to clear memory when it hands an object out. I am using this issue to track providing such an option for large objects in GC which is pretty simple - if GCHeap::Alloc is called with this intention indicated in the flag GC will not clear the memory. there's also a part in the higher level component that will need to expose such a flag and pass it down to

[2018-03-29 20:45] Maoni0 opened #17325 "provide an option to the user to skip initializing large objects"
sometimes it may be desirable to not have GC to clear memory when it hands an object out. this issue is to track providing such an option to users. the GC part is tracked via #17324.

[2018-03-29 20:46] ghuntley commented on #17294
I would love see a power on Linux bringup. AIX isn't worth the engineering cycles tho - see my thread on twitter. https://twitter.com/GeoffreyHuntley/status/979453657472053248?s=19

[2018-03-29 20:47] Maoni0 commented on #7747
I am going to close this issue as there are already more detailed ones.

[corefx #25841](https://github.com/dotnet/corefx/issues/25841) tracks the BCL portion.
#17324 and #17325 are to track skipping initialization for large objects.

and I will be checking in the new GC API for providing memory info to BCL.

[2018-03-29 20:59] #16786 closed

[2018-03-29 21:06] noahfalk commented on #16274
I'd suggest if we want to make improvements, lets make improvements that will solve these type loading problems. It sounds like there are potentially two issues that forcing you to use ObjectReferences:
a) Some references (ie LoaderAllocator) have no corresponding field in metadata, and thus don't show up in the type field layouts at all.
b) You are having difficulty from unloaded types - I'd be c

[2018-03-29 21:09] janvorli commented on #15309
I was able to repro the Crst level violation issue on arm Windows machine under the debugger, so I can investigate it.

[2018-03-29 22:04] MichalStrehovsky commented on #5501
I can't get a repro of this and since this has been like this for 3 releases and the previous analysis doesn't seem to point to anything serious, punting.

[2018-03-29 22:07] Maoni0 commented on #13983
I am pushing this to post 2.1 as we need to concentrate on getting LocalGC to work and this is not essential to have for 2.1 ZBB.

[2018-03-30 00:47] sdmaclea opened #17337 "[Arm64] IsIPInMarkedJitHelper -- Help"
@janvorli I need help understnding the intent of IsIPInMarkedJitHelper

Based on review of comments, it seems this is used to mark a subset of JIT helpers as being in managed code

For `arm64` it currently includes
[code]

Shouldn't it also include
[code]

I am assuming the stubs are not needed, because they are generated by the JIT and treated as managed code.  It would be really nice to understa

[2018-03-30 00:58] RussKeldorph commented on #17337
@jkotas

[2018-03-30 01:47] sdmaclea commented on #17337
Assuming my retry assumption above is correct.

`JIT_MemSet` and `JIT_MemCpy` are modifying their input arguments, so if they are retried, random corruption could occur.

`JIT_Stelem_*` looks like it only destroys input arguments while throwing.  Still would need to fix this.

`JIT_*Barrier*` code also modifies input registers, and would need rework to allow retry.

[2018-03-30 02:01] AndyAyersMS commented on #17337
I think the aim of `IsIPInMarkedJitHelper` is to identify ranges of native code in jit helpers where there are implicit null checks, so AVs in these ranges end up reported as managed null reference exceptions originating in the calling frame (which should be managed code).

The `stelem` helpers look like they do explicit null checks. The byref write barrier is probably never supposed to AV.

[2018-03-30 02:02] jkotas commented on #17337
IsIPInMarkedJitHelper is used to mark ranges of assembly code helper where we expect null references to occur and be handled.

When IsIPInMarkedJitHelper returns true, we do not retry execution of the helper. We just move the IP and SP to the callsite of the helper for the purpose of exception handling. We do not ever resume execution at the callsite.

[2018-03-30 02:44] RussKeldorph commented on #17325
Sorry @Maoni0.  My mistake.

[2018-03-30 02:59] sdmaclea commented on #17337
Thanks

[2018-03-30 02:59] #17337 closed

[2018-03-30 03:05] daoqiang commented on #17312
Hello, my project requires that I need to quote coreclr in a static way，So I tried to generate coreclr.lib.Then I use the example of coreclr.dll in the document to introduce the corresponding header file, and the difference is that I have referenced coreclr.lib instead of coreclr.dll，But all the functions that are used can't be found.
Because of the source of coreclr, I'm sure it can be done, but

[2018-03-30 03:12] kouvel commented on #15309
I'll take a look

[2018-03-30 03:18] hjc4869 commented on #17321
@richlander Yes, that's the easiest way.
I've also reproduced this bug on some other boards that came with an official ARM64 image:
- BananaPi M64
- ESPRESSObin
- Firefly RK3399
When running an AArch64 Debian OS, the bug can be reproduced on all of these boards.

I have also tried an armhf Debian userland on AArch64 kernel (in lxc container), and the runtime crashed in the same way. However, it wo

[2018-03-30 03:18] ygc369 commented on #17324
@Maoni0
Why does GC have to clear memory? I think that GC needn't clear memory for both large and small objects.
Memory shouldn't be cleared until it is reallocated, should it?
So not clearing memory should be default behavior for GC, then why there should be an option for it?

[2018-03-30 08:48] kbaladurin commented on #13651
@janvorli I've created PR based on @jkotas suggestion: https://github.com/dotnet/coreclr/pull/17342

[2018-03-30 12:05] 316181444 opened #17343 "[Question] How to print all task status and stack?"
I need there information for found some impossible issue (i guess) like like "Task.Run(() => {Console.WriteLine(xxx)})" never execution.

Thanks a lot

[2018-03-30 12:06] 316181444 commented on #17343
My program is running on Ubuntu 14.04. on the problem happened only way just restart my program....

[2018-03-30 14:06] jkotas commented on #17343
cc @stephentoub @noahfalk

[2018-03-30 14:18] 316181444 commented on #17343
Please help me . This issue happens after my program runs for 12 hours. and my program have many log. i not sure why in my “task.run” code block print log function not execution on the issue happening . i maybe need all task run status and stacks.
Thanks a lot.

[2018-03-30 16:01] maryamariyan opened #17345 "About 30% performance regression in SpinLock"
Here are the graphs showing timings from Aug to now for these two tests.

<img width="1155" alt="screen shot 2018-03-30 at 9 08 29 am" src="https://user-images.githubusercontent.com/5897654/38144632-6ff9deb8-33fa-11e8-8b1f-d9634e453b46.png">

<img width="1155" alt="screen shot 2018-03-30 at 9 08 04 am" src="https://user-images.githubusercontent.com/5897654/38144636-752eccfe-33fa-11e8-97af-7fcfc4d8

[2018-03-30 16:19] AndyAyersMS commented on #17345
Note depending on the test this may be expected, either from deliberate changes and/or the impact of the test harness setting up an affinity mask that leads to increased spinning (see eg #16615 / #16801 / #16807).

[2018-03-30 16:33] RussKeldorph commented on #17345
I believe @kouvel was the intended mention.

[2018-03-30 18:19] kouvel commented on #17345
There were changes to the spinning path in 03bf95c8db9003a5925ca9383dca722a4c651e27 but it looks like these tests don't go through those paths (they only test the fast path of entering an unlocked SpinLock and exiting). The timing roughly corresponds with the change above though, I'll take a closer look.

[2018-03-30 18:36] #17278 closed

[2018-03-30 18:45] sdmaclea opened #17348 "[Arm64] Port of GCStress failure reductions in #17330"
If and when #17330 merges.  Arm64 needs the same.

[2018-03-30 20:09] RussKeldorph commented on #16751
This seems like an infrastructure problem since corefx seems to run on RH6.9 fine (with our runtime).  Will try to address post-ZBB

[2018-03-30 20:14] sdmaclea opened #17349 "[Arm64/Linux] Crosscomponent"
@janvorli  I have been wotking on adding support for crosscomponent when cross building from x64 for arm64.

The issue I am having is that when building for crosscomponent, it assumes I have to be crosscompiling.

My workaround is to populate the cross/x64 directory, so I can "cross" compile with `ROOTFS_DIR="/"`

Any better suggestions.

[2018-03-30 20:30] RussKeldorph commented on #16438
@jkotas Should we move this to Future, close it, or something else?  I assume pre-loading the necessary assemblies prior to handle exhaustion isn't an option.

[2018-03-30 20:46] RussKeldorph commented on #15309
Changing to test bug (GCStress infra specifically) based on preliminary investigation by @kouvel.

[2018-03-30 21:13] perlun commented on #16438
Thanks for the investigation @janvorli. Could we at least log something to `/var/log/system.log` (on macOS), the event log (on Windows) etc? So that people debugging these issues have at least a _tiny_ bit of detail to help them on the way. Is it feasible, or incredibly hard?

[2018-03-30 21:18] kouvel commented on #15309
At least for the last issue it doesn't look like there is a threat for deadlock, I'm taking a closer look though. It looks like @janvorli figured out the rest of the issues.

[2018-03-30 21:21] jkotas commented on #16438
I agree that we should at least print something, like we do for any other fatal errors. @janvorli Do you happen to know why we do not print anything?

[2018-03-30 21:31] janvorli commented on #16438
That code path has no catch in it, so the exception just escapes and the user gets this message:
terminating with uncaught exception of type EEFileLoadException*
abort() called.
As you can see from the stack trace below, it escapes from the call to ExceptionTracker::ProcessOSExceptionNotification.

[code]

[2018-03-30 21:54] RoySalisbury opened #17355 ".NET Core app slow launching (ARM)"
First things first.  I know its "preview" and I know performance usually gets better in the actual release.  However, is it just me, or is starting a .NET Core app (2.0 or 2.1-preview1) take longer than it should?

My app takes around 30 seconds (with the CPU at 150% according to TOP) before it really even starts.  I know this because the very first thing I have in "main" is a Console.WriteLine.

[2018-03-30 21:56] nategraf commented on #16508
This was fixed. It turned out to be that the Nuget rep had changed  for the edge packages

[2018-03-30 21:56] #16508 closed

[2018-03-30 22:14] davmason commented on #15589
This issue is no longer reproing. I found a finalizer issue running the tests that I'll open a new issue for

[2018-03-30 22:14] #15589 closed

[2018-03-30 22:16] davmason opened #17356 "[local gc] Critical Finalizers are not properly identified"
https://github.com/dotnet/coreclr/blob/22ce24ec7f1ea042c56a6531489def81c6fd7b02/src/gc/env/gcenv.object.h#L104-L107

We always return false for HasCriticalFinalizer when under local gc.

[2018-03-30 22:31] ahsonkhan commented on #5851
There is no other work for 2.1.

There are two items left from the original list, but both are marked as future. They can be tracked separately (and outside of 2.1):
- Marshaler support (as with arrays) #14460
- Reflection #17296

Closing this issue!

[2018-03-30 22:47] janvorli commented on #17349
@sdmaclea You just need to make sure that the `CROSSCOMPILE` is unset (not just set to 0 since the src/pal/tools/gen-buildsys-clang.sh uses the "-n" test to determine whether the cross compile is on or off) in the build.sh in the `build_cross_arch_component` for the case of x64 crosscomponents targeting arm64. The following seems to work:

[code]

[2018-03-30 23:10] davmason opened #17361 "[local gc] GetLoaderAllocatorObjectForGC always returns null"
https://github.com/dotnet/coreclr/blob/22ce24ec7f1ea042c56a6531489def81c6fd7b02/src/gc/env/gcenv.object.h#L125-L129

Collectible assemblies won't function without this

[2018-03-30 23:31] sdmaclea commented on #17349
Thanks that works

[2018-03-30 23:31] #17349 closed

[2018-03-30 23:36] Petermarcu opened #17362 "Segmentation fault (core dumped) on docker with microsoft/aspnetcore:2.0"
@Jarlotee commented on [Fri Mar 30 2018](https://github.com/dotnet/core/issues/1397)

# Issue Title

Segmentation fault (core dumped) on docker with microsoft/aspnetcore:2.0

# General

I have an application that creates two new background threads to process messages from RabbitMQ using the following method.

[Example](https://gist.github.com/Jarlotee/84dc75ba905a0a96d6aafd54b10ee278)

Upon starti

[2018-03-31 01:16] jkotas commented on #16438
Would it make sense to convert this to managed exception somewhere between `ExceptionTracker::ProcessManagedCallFrame` and `DispatchManagedException`, so that you get nicer managed exception report for this?

[2018-03-31 01:23] AndyAyersMS opened #17366 "Consider adding aggressive inlining to the string to readonly span conversion"
Some background over in dotnet/corefx#27496.

Jit-diff testing seems to indicate it is generally a size win. Should be a perf win in general too. Note R2R blocks widespread inlining of this outside of corelib, so jit-diffs doesn't give a full picture.
[code]
Good diff example:
[code]
Regression cases seem to be largely emergence of register shuffle chains like those seen in #11390, eg in `FullMatc

[2018-03-31 01:30] kasper3 commented on #17362
Would be nice to get self contained steps to repro. For example a docker with RabbitMQ, Erlang cookie etc. setup, unless there is something very obvious going wrong in [RegisterProvider](https://github.com/dotnet/coreclr/blob/fadd4ae67860bed49d1eeb2822ee2d1a876649ab/src/vm/eventpipeconfiguration.cpp#L149).

@Jarlotee, is it reproducible on 2.1 image as well `docker run -it microsoft/aspnetcore:2.1

[2018-03-31 01:36] ahsonkhan commented on #17296
Done in https://github.com/dotnet/corefx/pull/28674

[2018-03-31 02:34] sandreenko commented on #16996
Release tests with fix from #17342 also fails with:
[code]

This is clang 3.9 problem that we track in #16995.

[2018-03-31 02:56] stephentoub commented on #17355
How are you running the app?

[2018-03-31 03:07] RussKeldorph commented on #13651
Hopefully fixed by #17342.

[2018-03-31 03:07] #13651 closed

[2018-03-31 03:39] hjc4869 commented on #17355
AFAIK, crossgen does not support ARM properly, so everything would be JIT compiled.

It is a lot faster on a more recent ARM core, though. (Cortex-A72@2GHz only takes 0.5s to run Hello World)

[2018-03-31 03:44] RoySalisbury commented on #17355
@stephentoub  - Tried 2 ways..

dotnet ./Project.dll
and (after marking the file for execute)
./Project

Both take the same time.  But the 2nd way is the normal one.

[2018-03-31 03:46] stephentoub commented on #17355
Ok, thanks, just wanted to make sure it wasn't `dotnet run`, which could end up including all of the C# compilation time.

[2018-03-31 03:48] RoySalisbury commented on #17355
@hjc4869 - So, how can we get it pre-jit compiled.   Switching to a different processor is not an option.  We have a lot invested in the Pi for a product we are creating.

Hopefully this is just something that "is in the works".

[2018-03-31 04:24] echesakovMSFT commented on #16827
Resolved with #17360

[2018-03-31 04:24] #16827 closed

[2018-03-31 04:47] stephentoub commented on #17366
Post-ZBB.

[2018-03-31 04:50] jkotas commented on #17366
Yes, this is odd perf shard. We have all array conversions marked as ForceInline. The string conversions should be on par with them. Submitted #17368.

[2018-03-31 05:09] davmason commented on #17361
@Maoni0 I think we'll have to add an interface call for this. When GetLoaderAllocatorObjectForGC is called on a MethodDesc, it has to call in to the Module it was loaded from to get the Allocator. The code path is not straightforward and we can't just grab it from some offset.

[2018-03-31 05:54] davmason commented on #17361
Actually, I started to poke at this and we build with FEATURE_REDHAWK defined in clrgc.dll, which disables COLLECTIBLE_CLASS, which is what all the collectible stuff is behind. So even if we do this feature collectible assemblies won't work.

[2018-03-31 06:06] kouvel commented on #15309
I have a smaller repro, working on a fix. It doesn't look like the issue affects release builds.

[2018-03-31 06:07] hjc4869 commented on #17355
https://github.com/dotnet/core-setup/issues/3314
Maybe this will be included in the next preview.

[2018-03-31 06:41] davmason commented on #17356
Fixed in #17369

[2018-03-31 06:41] #17356 closed

[2018-03-31 07:30] #17366 closed

[2018-03-31 08:44] #17289 closed

[2018-03-31 09:28] coderfox opened #17373 "AES with PKCS7 not supported on macOS"
With the following code:

[code]

If I comment `aes.Padding = PaddingMode.None;` (i.e. use PKCS7 padding), the program will throw:

[code]

But if I uncomment the line, the program works.

Besides, I have validated the input file with python, and it successfully decrypts.

I am using dotnet-sdk `2.1.103` on macOS `10.13.1 (17B48)`.

File `http` in `base64` is:

[code]

[2018-03-31 09:55] coderfox commented on #17373
OK, I found actually the source is padded with `ISO10126`. Sorry for disturbing, but I think the exception message is quite misunderstanding, an exception with message `ciphertext padding mismatch` may be better.

[2018-03-31 14:33] jkotas commented on #17373
This issue was moved to dotnet/corefx#28682

[2018-03-31 14:33] #17373 closed

[2018-03-31 17:32] RoySalisbury commented on #17355
Thats good.  Reading through most of the other referenced threads as well, it looks like the base CLR will get cross compile work, but the base ASP.NET Core libraries won't (for dependency reasons).

But seeing as how 80% (I made that number up) of an ASP.NET Core app is base CLR assemblies, that should still provide a good speed increase.

[2018-03-31 19:58] kouvel commented on #15309
I have put up PR https://github.com/dotnet/coreclr/pull/17376 to fix the regex-redux-1 issue. @janvorli, which of the tests are timing out, and should they be disabled under GCStress?

[2018-04-01 11:26] #17170 closed

[2018-04-01 18:30] kouvel commented on #17345
I have confirmed that 03bf95c8db9003a5925ca9383dca722a4c651e27 did not cause the issue. I thought that the 10-ms YieldProcessor() measurement might be affecting it, but it looks like not, by the time these two tests run it has long passed the 10 ms of startup.

These below are coreclr changes that went into the first build that regressed. Does anything else look suspect?

[code]

Aside from that,

[2018-04-01 18:37] kouvel commented on #17345
Also of course, I'm not sure if xunit-perf does any warmup (essential for microbenchmarks) but from the test authoring I don't see any warmup. I don't see how xunit-perf could do warmup on its own, as what is required for warmup would not always be known by the harness (xunit-perf). These tests need a warmup.

[2018-04-01 18:47] kouvel commented on #17098
Closing due to lack of further information

[2018-04-01 18:47] #17098 closed

[2018-04-01 19:08] kouvel commented on #17345
Moving to future. Unless someone sees a different source of the problem, it's reasonable to classify this as not-very-important.

[2018-04-01 19:16] kouvel commented on #17345
Moved to area-Meta, please reactivate and change the area label if you can show that there is a change that caused the regression and there is reason for concern. Until then, it's not even worth spending any more time on this.

[2018-04-01 19:16] #17345 closed

[2018-04-01 20:02] kasper3 commented on #17321
The function name in source code is [`FireEtwRuntimeInformationStart`](https://github.com/dotnet/coreclr/blob/246409db8/src/vm/eventtrace.cpp#L5013), but https://github.com/dotnet/coreclr/blob/246409db8/src/scripts/genLttngProvider.py rewrites it as `FireEtXplatRuntimeInformationStart` on Unix.

@jkotas, @janvorli, is lower to higher bitness cross-arch runtime supported for other architectures (AM

[2018-04-01 20:24] danmosemsft commented on #17345
@adamsitnik and @brianrob for comments on observations above.

If these tests are not useful, we should fix them. What do you recommend?

[2018-04-01 21:09] AndyAyersMS commented on #17345
@kouvel would strongly encourage you to collaborate with the perf harness folks to make any necessary improvements.

The guidance is for test authors to increase the inner iteration count until each iteration takes some reasonable amount of time. Would suggest at least a few milliseconds if not more (currently 0.007 ms, so maybe increase the inner iteration count by 1000x).

Xunit-perf will increa

[2018-04-01 22:41] kouvel commented on #17345
Sorry I misspoke when I said the tests take 1-10 us including outer and inner iterations. They take 1-10 us per outer iteration. Increasing the inner iteration count will work fine and it would be the easiest change to make, but if I was to create perf benchmarks I would not use this.

Regarding the regression, yes I'm sure there is a reason for it. I'm not sure however whether the reason (whateve

[2018-04-02 05:49] danmosemsft commented on #17321
@brianrob

[2018-04-02 10:58] kouvel commented on #17345
I tried using Microsoft.NetCore.App packages close to the base/changed versions and different coreclr package versions around that time and I'm seeing the opposite, where the base is running in ~20 us for both tests and the changed side is running in ~10 us. I tried syncing corefx back to the commits but it failed to build. I'm not able to repro the issue.

[2018-04-02 13:38] Jarlotee commented on #17362
Here is an example rabbit setup:
`docker run -d -p 15672:15672 -p 5672:5672 --name local-rabbit --hostname local-rabbit rabbitmq:3-management`

@kasper3 after poking around some more I found a work around.

There seems to be a race condition happening while the 2nd background task is started.

Adding a `Thread.Sleep(Timeout.Infinity)` to the main application thread prevented the SegFault, this is

[2018-04-02 14:31] AtsushiKan commented on #17296
@ahsonkhan - Any ideas on what an api that allows this would even look like? You can't box Spans, you can't use them as arguments to a generic instantiation, you can't take refs to them (I think) - I'm drawing a blank here.

[2018-04-02 15:06] GSPP opened #17378 "Make decimal API more complete (number of decimal digits, equality, negative zero)"
1. It is currently not possible to query the number of decimal digits in a decimal value. Note, that decimal can store trailing zeroes. 1m != 1.0m != 1.00m. There are methods to find out but they are nasty (https://stackoverflow.com/questions/13477689/find-number-of-decimal-places-in-decimal-value-regardless-of-culture). A fundamental type such as decimal should make this easier. `GetBits` causes

[2018-04-02 15:26] okodron opened #17379 "Add support of standard streams redirection in dbgshim"
Currently it's impossible to redirect input/output streams of the process created with `CreateProcessForLaunch()`. Such feature can be useful for debugger implementation for Unix.
However PAL version of `CreateProcessW` supports stream redirection.
I propose to extend the API of the `dbgshim` library with something like this:
[code]
Also a special portable API for `HANDLE` reading and writing will

[2018-04-02 15:28] jkotas commented on #17296
This is not Span-specific problem. This is about introducing new reflection APIs that are both fast (do not allocate) and full fidelity (give you full control over byrefs). We have several issues on this topic.

We would need to extend TypedReference, and introduce a new type that can hold array of TypedReferences. It may look something like this:

[code]

Use:

[code]

This does not compile today

[2018-04-02 15:34] AtsushiKan commented on #17296
Thanks - that's the info I was looking for.

[2018-04-02 15:56] RussKeldorph commented on #17379
@dotnet/dotnet-diag

[2018-04-02 15:57] RussKeldorph commented on #17378
@danmosemsft

[2018-04-02 16:04] RussKeldorph commented on #17362
@brianrob Triage based on `EventPipe` in callstack.  Apologies if wrong.

[2018-04-02 16:15] RussKeldorph commented on #17355
The biggest impact should be the ahead-of-time compile ("crossgen") of System.Private.Corelib.dll, which should be coming in the next 2.1 preview, along with crossgen of the corefx assemblies.  Crossgen of other components, such as aspnetcore can be tracked via aspnet/Universe#554 for example.

There could still be other runtime-related startup issues that aren't addressed by crossgen, but I'd lik

[2018-04-02 16:15] #17355 closed

[2018-04-02 16:46] danmosemsft commented on #17378
@tannergooding any thoughts?

[2018-04-02 16:47] danmosemsft commented on #17378
Since this includes API requests. moving to corefx.

[2018-04-02 16:47] danmosemsft commented on #17378
Issue moved to [dotnet/corefx #28716](https://github.com/dotnet/corefx/issues/28716) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-02 16:47] #17378 closed

[2018-04-02 16:57] sdmaclea commented on #17192
@tarekgh We took a look at this.  @debayang found that `GB18030Encoding.LoadManagedCodePage()` was incorrectly assuming `mapUnicodeTo4BytesFlags[]` was zero initialized.

I took a look.  The memory comes from `GetNativeMemory()` which calls `System.Runtime.InteropServices.Marshal.AllocHGlobal()`.
`System.Runtime.InteropServices.Marshal.AllocHGlobal()` is documented at least by Xamarin as not zero

[2018-04-02 17:01] brianrob commented on #17321
@jkotas, @janvorli  can you confirm that using arm32 bits on arm64 is supported?  If so, do you know how I can get access to an arm64 machine to repro this?

[2018-04-02 17:21] RussKeldorph commented on #16751
It looks like there is an incompatibility between the version of xUnit we are using and the framework assemblies being loaded.  I don't know much more than that, including why it only fails on RH6.9.

[2018-04-02 17:26] tarekgh commented on #17192
Looks we fixed a similar issue before in some other place but we missed this one.

https://source.dot.net/#System.Text.Encoding.CodePages/System/Text/SBCSCodePageEncoding.cs,95

will close this issue here and will re-activate the corefx one and will fix it. thanks for your investigation.

[2018-04-02 17:26] #17192 closed

[2018-04-02 17:34] briansull commented on #17242
Is this a LIiux x86 or an Windows x86 issue?

[2018-04-02 17:36] CarolEidt commented on #17242
This is a Windows x86 issue. It fails on 2.0 as well, so is not new to 2.1.

[2018-04-02 17:40] brianrob commented on #17362
@jarlotee, from the stack trace above it looks like you're running 2.0.5.  We've had a number of fixes in this area during 2.1 for these types of crashes.  I'm not able to reproduce this with simple apps on 2.1.0-preview1-final and the latest master CLI drop.  Can you retry the scenario with a recent 2.1 drop and see if it still repros for you?

[2018-04-02 17:48] maririos commented on #16840
@RussKeldorph I went and tried the Repro tool on a random CoreClr official build test failure and was able to get a RedHat6.9 machine with the right bits :) . Thank you so much for fixing this

[2018-04-02 17:49] RussKeldorph commented on #16840
@maririos Yeah, it worked for me too.  Credit goes to @MattGal and @wtgodbe.

[2018-04-02 17:51] maririos commented on #16840
Awesome! Thanks everyone!

[2018-04-02 18:56] sebastienros commented on #17098
Sorry, I was almost sure I had answered your comment, `chmod 777 /mnt` fixes the issue.

[2018-04-02 19:39] kouvel commented on #17098
Great, thanks! The fix has been checked in for 2.1.

[2018-04-02 19:52] Maoni0 commented on #17361
yes we need an interface call to actually get the object if the methodtable indicates it's Collectible.

clrgc.dll should not be built with FEATURE_REDHAWK for coreclr...

[2018-04-02 20:24] briansull commented on #17071
This issue will be fixed ASAP via a Servicing update for 4.7.2

This Servicing fix will most likely be available towards the end of May 2018.

[2018-04-02 21:09] danmosemsft commented on #17310
@dotnet/dnceng can you please help query the pass history for this test library?

Unfortunately if I construct the URL below, it does not include the chicklet history panel that individual tests have, so I cannot do this.
https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180402.05/workItem/System.ComponentModel.Composition.Test

[2018-04-02 21:15] noahfalk commented on #17379
@mikem8361 - PTAL

[2018-04-02 21:30] MattGal commented on #17310
@jkotas  looking this up now.

[2018-04-02 21:37] MattGal commented on #17310
@jkotas -

- The database contains 399 runs for this test on RedHat 6.9 in official runs since December (excluded PRs because they may contain problems and cause noise).
- Only three failures are logged ever out of these 399 (i.e. failing 1 / 133 runs)
    - on 3/5 and 3/7, they failed with 139 (SIGABRT) which can be a memory panic.
    - On 3/28, it failed with 134 (seg fault), but has passed doz

[2018-04-02 22:02] brianrob commented on #17321
I got a repro of this.  It looks like this is due to https://github.com/dotnet/coreclr/pull/14706.

Here's the stack:

[code]

There are two issues here.

1. The IsEnabled tracing checks are always returning true.  This means that when tracing is off, we still do extra work.  This looks to be caused by https://github.com/dotnet/coreclr/blame/master/src/scripts/genLttngProvider.py#L715.
2. When we

[2018-04-02 22:08] danmosemsft commented on #17310
Thanks @MattGal . https://github.com/dotnet/core-eng/issues/2643 should help us answer this ourselves in future.

[2018-04-02 22:56] sdmaclea commented on #17075
Arm32 would use a load exclusive, store exclusive sequence similar to Arm64 base implementation.

[2018-04-02 23:27] noahfalk commented on #17343
As a start you should be able to get stacks by attaching either:
VSCode - https://docs.microsoft.com/en-us/dotnet/core/tutorials/with-visual-studio-code#debug
lldb -  https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md

You could also run your project with VS remotely connected to a Linux machine but I don't think attach is supported yet so this may not b

[2018-04-02 23:49] richlander commented on #17321
I repro'd the basic issue on my machine ...

[code]

@brianrob -- I have a machine you can use on our network.

[2018-04-03 00:14] brianrob commented on #17321
Thanks @richlander.  Can you send me access information for your machine via e-mail?  I have a couple of repros of this now but they look slightly different - I'm guessing due to possible inlining differences.  I'd like to debug and see if they are all the same root cause.

[2018-04-03 00:57] AndyAyersMS opened #17387 "JitStress STRESS_OPT_BOOLS_GC transformation questionable on xarch in face of GC Stress"
Under JitStress, `optOptimizeBoolsGcStress` may transform `x == null` into `(x | x) == 0` or `(x & x) == 0` for gc-typed `x`. However the casting out of GC is done in a way that can lead to a hole in GC, as the xarch code generator will implement `t = x | x; t == 0` as `t = x; t |= x; t == 0`, and since `t` is typed non-gc a GC interrupt between the first two instructions can relocate `x` and so c

[2018-04-03 01:37] AndyAyersMS opened #17389 "AVX2_ro fails with jitstress=2"
Forked from #17027 / #17330.

x64 checked build. AVX2_ro fails to validate with jitstress=2. The `BlendVariable<Byte>` are the ones failing.
[code]

cc @dotnet/jit-contrib @RussKeldorph @fiigii

[2018-04-03 01:53] fiigii commented on #17389
I will look into it tonight, I guess it is also a test template issue.

[2018-04-03 02:25] AndyAyersMS commented on #17389
I kind of doubt that -- it doesn't fail w/o jit stress.

Jit stress can do all sorts of interesting things to the IR.

[2018-04-03 02:43] richlander commented on #17321
Sent.

[2018-04-03 04:35] jkotas commented on #17310
I suspect that this is another manifestation of https://github.com/dotnet/corefx/pull/28692 .

- System.ComponentModel.Composition.Tests enumerate files
- Unix specific crash
- The crash only happened in March after the regression fixed by #28692 was introduced (not crashes in December/January/early February)

[2018-04-03 04:37] jkotas commented on #17310
Please reopen if we see this again.

[2018-04-03 04:37] #17310 closed

[2018-04-03 04:40] jkotas commented on #17361
Tracked by #14701

[2018-04-03 05:03] fiigii commented on #17389
@AndyAyersMS I cannot reproduce this failure on my local machine...

[2018-04-03 06:02] AndyAyersMS commented on #17389
It is failing for me and also pretty readily in CI, eg [here](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_gcstress0xc_jitstress2_prtest/25/).

If you can't repro then I'll do some debugging tomorrow.

[2018-04-03 06:10] kasper3 commented on #17362
@Jarlotee, thanks, like @brianrob mentioned, could you try reproducing on 2.1 image `docker run -it microsoft/aspnetcore:2.1.0-preview1`?

[2018-04-03 06:35] nzain commented on #13369
We're using dotnet core 2.0 with great success on an embedded device (cortex A7, but not raspberry) running a self-compiled linux (using buildroot, not debian!). The device is running a minimalistic Asp.Net REST webservice to enable a high-level communication to complex sensors connected to the device. This was a perfect choice, since ...

- we can reuse existing C# libraries from our related Wind

[2018-04-03 07:11] mikedn commented on #17075
Yes, but it seems that ARM32 has different instructions for this - `LDREX`/`STREX` instead of `LDAXR`/`STLXR`. Also, these instructions are only available starting with ARMv7 and only on some profiles: http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.dht0008a/CJHBGBBJ.html. The lack of any acquire/release semantics mention in the documentation probably means that DMB is needed as well.

[2018-04-03 07:16] fiigii commented on #17389
Thank you so much for the help. I am in a business traveling these two days, so I may not be able to do debugging. But if you have any problem or progress, please let me now.

[2018-04-03 07:18] mikedn commented on #17387
Hmm, I don't follow
* The GC can't turn a null reference into a non-null reference
* The GC can't turn a non-null reference into a null reference, except in the very special case of weak references and as far as I can tell their implementation is unlikely to cause problems in this case

So how would changing `ESI` but not `ECX` would affect the result of the comparison?

[2018-04-03 07:34] AndyAyersMS commented on #17387
I should update the example. There's a 50/50 chance jit stress will use `and` instead of `or` for this, and in the `and` case it can produce a different result.

But I haven't proved this is what leads to the jit stress failure yet, and it does seem like a stretch, as if most of these null checks guard throws, so if we get the sense wrong, we should see unexpected exceptions, not
[code]
In the cas

[2018-04-03 07:47] mikedn commented on #17387
Hmm, `and` will never work in this case, with or without GC updating references.

Could it be that the result of `OR` is somehow reported as a GC reference?

[2018-04-03 09:26] 316181444 commented on #17343
@noahfalk Thanks for you replay
VSCode remote debug on Linux cannot display "Tasks"
lldb(sosplugin) - only print all threads not "Tasks"

I am not sure why "a Task never start" deadlock? exception? and use threads list cannot be thinking these problems.

[2018-04-03 10:23] janvorli commented on #17321
We have never tried running 32 bit arm stuff on 64 bit Linux arm platform. But we should make it work, especially if that worked in 2.0 already.

[2018-04-03 11:56] mikedn commented on #17387
Well, it works in the specific case of `x & x` but in the general case `&` only works for 0/1 values and `optOptimizeBools` accounts for that: https://github.com/dotnet/coreclr/blob/55f162d21d396a7741a91f00568d48a2f3fab603/src/jit/optimizer.cpp#L9149-L9154

So `optOptimizeBoolsGcStress`'s random use of `AND` seems pointless, such IR cannot be normally generated (unless imported from invalid IL).

[2018-04-03 12:02] shakeri opened #17393 "DateTime.Now is wrong when i change Ubuntu server Time"
When i change Date and Time on Ubuntu server with this command:
`sudo date --set "25 Apr 2018 16:00:00"`
And run this code:
`Console.WriteLine(DateTime.Now);`
here are its output!
`4/3/2018 15:00:30`
While the current server time is 4/3/2018 16:00:55
My `app.csproj` file

[code]

[2018-04-03 12:38] janvorli commented on #16503
@sergign60 that makes sense to me.

[2018-04-03 14:39] sdmaclea commented on #17075
@mikedn  dmb is definitely needed with ldrex/strex.

ARMv7 really introduced multiprocessor coherent ARM.  So I would believe ldrex/strex were part of that.  It would be reasonable to assume that if we are on a multiprocessor OS, then ldrex, strex and dmb must be present.

I would guess all realistic .NET Core targets have these instructions.  We can certainly pick up capabilities from the OS like

[2018-04-03 15:13] brianrob commented on #17321
Thanks @janvorli.  I'm going to debug the unaligned access today.

[2018-04-03 15:16] AndyAyersMS commented on #17387
The test I'm looking at --- baseservices\threading\waithandle\waitall\waitallex3 -- still fails with this bit of stress disabled.

So pushing this back out to future.

[2018-04-03 15:16] CarolEidt commented on #17389
This fails on my AVX2 system, but not the one with just AVX.

@AndyAyersMS if you have not already started working on this, let me know and I can take a look at it.

[2018-04-03 15:25] AndyAyersMS commented on #17389
@CarolEidt it's all yours.

[2018-04-03 16:04] kbaladurin opened #17394 "[x86/Linux] Abort during CLR shutdown"
In some cases abort occurs during CLR shutdown. With some probability, It can be reproduced using following sample:
[code]
`upcalltest.c`:
[code]
Result:
[code]

Abort is called due to unhandled exception that is thrown here (`vm/dllimportcallback.cpp:1027`):
[code]

Is It valid situation? On arm and x86_64 this problem isn't reproduced (or reproduced much more rarely) with this sample.

Thank you

[2018-04-03 16:06] kbaladurin commented on #17394
@janvorli @jkotas PTAL

[2018-04-03 16:11] nerai opened #17395 "Difference in code and documentation of BlockingCollection.BoundedCapacity"
[.NET framework reference source of `BlockingCollection.BoundedCapacity`](https://referencesource.microsoft.com/#System/sys/system/collections/concurrent/BlockingCollection.cs,72) says:

However, if no capacity is supplied in the ctor, it is called:

    Initialize(collection, NON_BOUNDED, collection.Count);

with

    private const int NON_BOUNDED = -1;

So the BoundedCapacity of an unbounded ins

[2018-04-03 17:08] RussKeldorph commented on #17393
@danmosemsft

[2018-04-03 17:09] danmosemsft commented on #17393
@tarekgh. I assume this is not a daylight savings thing.

[2018-04-03 17:11] RussKeldorph commented on #17394
I assume we wouldn't spend time on this in 2.1 unless we have a repro on something other than x86/Linux

[2018-04-03 17:27] tarekgh commented on #17393
@shakeri

after changing the date on the server, and when issuing the date command in the terminal, do you still the date update there? I just wanted to double check if there is no anything else reset the date back.
Also, when running DateTime.Now, was this done in a newly launched process or it was a running process which existed when you changed the date on the server?

[2018-04-03 17:55] tarekgh commented on #17393
Just to mention, on Ubuntu, we call clock_gettime https://linux.die.net/man/2/clock_gettime which give us the system time. and the doc is saying the following:

[code]

Which means it should return the right time value even when the admin adjusts the date/time. so, I think the server itself didn't really adjust the date/time as requested by the ```date --set``` command.

[2018-04-03 17:57] danmosemsft commented on #17395
Issue moved to [dotnet/corefx #28782](https://github.com/dotnet/corefx/issues/28782) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-03 17:57] #17395 closed

[2018-04-03 18:02] tarekgh commented on #17393
@danmosemsft

I don't think this has anything to do with the time zones.

[2018-04-03 18:02] sdmaclea opened #17396 "[Arm64/Linux] Spurious failures to load libicu* symbols"
Over the last few month when running regressions there have been sporadic failures to load symbols from
libicuuc and/or libicui18n

[code]

Incidence rate is fairly low.  Last nights regressions ran 305K coreclr tests (30 configs) on master and another 305K tests on release_2.1.  There were two failures last night.

@janvorli @jkotas I am wondering if there is a race condition loading these librar

[2018-04-03 18:25] janvorli commented on #17396
@tarekgh is it possible that there is a race calling the GlobalizationNative_LoadICU and invoking icu functions?

[2018-04-03 19:47] kouvel commented on #17345
@AndyAyersMS:

Opened issue https://github.com/Microsoft/xunit-performance/issues/266 with some of my suggestions

[2018-04-03 20:09] danmosemsft commented on #17345
I thought that our long term plan was to move to Benchmark.NET - @adamsitnik do you know how concrete those plans are?

[2018-04-03 20:45] ciplogic commented on #4331
I wrote a half-toy compiler and I've noticed that most of the time the hard hitting optimizations can be done fairly ok on the same infrastructure and very few things can be done in the higher tier optimizer.

What I mean is this: if a function is hit many times, the parameters as:
-  **increase inline instruction count**
- use a more **"advanced" register allocator** (LLVM-like backtracking color

[2018-04-03 20:54] tarekgh commented on #17396
I don't think this a race condition. The managed initialization is coming from a static property

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Globalization/GlobalizationMode.cs#L9

which should be atomic from the runtime.

[2018-04-03 22:06] BruceForstall commented on #13000
Now that #17365 has been merged, I don't think there's much value in keeping this issue. Separate issues can be created for individual cases, if necessary.

[2018-04-03 22:06] #13000 closed

[2018-04-03 22:14] BruceForstall commented on #15309
We do have the concept of a "long running" GC test: pass "longgc" to runtest.cmd or "--long-gc" to runtest.sh, and tests are tagged with
[code]
in the .csproj/.ilproj file

However, this doesn't work for Windows arm/arm64; we'd need to define a new tag, e.g., GCSTRESS_LONG for the tests.lst files.

Also, it looks like on Windows it only bumps the per-test timeout to 20 minutes, which wouldn't be s

[2018-04-03 22:30] sdmaclea commented on #17396
`dlopen` & `dlsym`  are both marked thread safe.  So agreed race is probably not the issue.

Some of the Ubuntu packages have been updated since I upgraded.  I'll run upgrade and watch this.

[2018-04-03 22:34] noahfalk commented on #17343
No unfortunately the task specific debugging tools aren't as well supported in VSCode. Even in VS the task window only shows tasks that had some activity (scheduled, started running) after the debugger attached so its not great for post-mortem style investigation.

I was instead suggesting that if logging was insufficient you could view the underlying thread stacks, and if necessary you can inspec

[2018-04-03 22:38] BruceForstall commented on #17020
With https://github.com/dotnet/coreclr/pull/17090 merged, what are the next steps? Can you run the corefx tests manually, and simply? What is left to do to add corefx testing to the CI?

[2018-04-03 22:38] BruceForstall opened #17397 "[arm32/Ubuntu] Enable corefx testing in CI"
The corefx testing flavors need to be enabled for arm32/Ubuntu jobs:
[code]

Related (arguably duplicate): https://github.com/dotnet/coreclr/issues/17020

[2018-04-03 22:49] AndyAyersMS opened #17398 "x86 jitstress / gcstress failure with methods that do not return"
Finally think I have gotten to the root cause of the raft of failures seen in [x86 jitstress=2 gcstress=0xC zapdisable=1 runs](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_gcstress0xc_zapdisable_jitstress2_prtest/15/) discussed over in #17330. The case I have been looking at is baseservices\threading\waithandle\waitall\waitallex3 -- the other waitall te

[2018-04-03 23:09] sdmaclea commented on #17020
@BruceForstall

Personally my next steps are to triage and fix broken tests.  I would like to fix as many as possible before Release_2.1 permanently locks down for arm64 changes.

I am running corefx tests locally.  It is not too bad.

@debayang's instruction in https://github.com/dotnet/coreclr/pull/17090#issue-176407389 are pretty close.

I think the arguments have changed during the review.  (D

[2018-04-03 23:56] brianrob commented on #17321
Update:  I have a fix for the unaligned access - it is caused by an unaligned double store here: https://github.com/dotnet/coreclr/blob/master/src/scripts/genLttngProvider.py#L735.  I've also written a fix to re-enable use of the environment variable for all cases instead of in just some cases.  The environment variable was still required to capture a trace - we were just heading in the direction

[2018-04-04 00:30] sandreenko commented on #16995
I have checked that with clang 5.0 these tests pass without errors.

[2018-04-04 00:46] janvorli commented on #17396
It is also pretty weird that that symbols reported are in the middle of the list - so it seems like it was able to get a few of them before it failed. It would be interesting to print the `dlerror()` in the error message too.
@sdmaclea if you repro this issue in the future, would you be able to test it with that addition?
The error is printed here: https://github.com/dotnet/coreclr/blob/master/src

[2018-04-04 00:47] janvorli commented on #17394
@RussKeldorph I agree.

[2018-04-04 00:48] sdmaclea commented on #17396
Are you OK with a permanent change to print the output of `dlerror()`

[2018-04-04 00:51] janvorli commented on #17396
Yes. This is a diagnostic output, so the more info we can print the better.

[2018-04-04 01:04] sandreenko commented on #16996
I ran `JIT/Regression/CLR-x86-JIT/V1-M12-Beta2/b49809/b49809/b49809.sh` 200 times with clang 5.0 and there was no `Infinite recursion during resource lookup within System.Private.CoreLib.  This may be a bug in System.Private.CoreLib, or potentially in certain extensibility points such as assembly resolve events or CultureInfo names.  Resource name: Arg_NullReferenceException` that we saw in [this

[2018-04-04 01:13] sdmaclea opened #17403 "[Arm64] New corefx failures -- TaskConstructorCore: non-zero m_stateFlags"
Looks like these tests regressed
[code]
[code]

[2018-04-04 01:15] sdmaclea commented on #17403
Also
[code]

[2018-04-04 01:15] sdmaclea commented on #17403
Also
[code]

[2018-04-04 01:16] sdmaclea commented on #17403
Also
[code]

[2018-04-04 01:17] sdmaclea commented on #17403
Also
[code]

[2018-04-04 01:17] sdmaclea commented on #17403
[code]

[2018-04-04 01:18] sdmaclea commented on #17403
[code]

[2018-04-04 02:49] AndyAyersMS opened #17404 "jit x86: possible issue with preserved register set for CORINFO_HELP_INIT_PINVOKE_FRAME"
The [x86 jitstress1 gcstress0xC failure](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_gcstress0xc_jitstress1_prtest/28/) in baseservices_threading._commitstackonlyasneeded_DefaultStackCommit seems to be a problem with `CORINFO_HELP_INIT_PINVOKE_FRAME` claiming to kill gc refs in `EDX` when it doesn't.

Problematic method is `<>c:<RunTest>b__9_3(ref):thi

[2018-04-04 02:50] AndyAyersMS commented on #17398
cc @RussKeldorph @dotnet/jit-contrib

[2018-04-04 02:56] stephentoub commented on #17403
@sdmaclea, the code for Task is in coreclr, and this is a failed assert at:
https://github.com/dotnet/coreclr/blob/e505009f4331a527f0bc25c162e421490eeff8df/src/mscorlib/src/System/Threading/Tasks/Task.cs#L573
This looks to me like a JIT or runtime issue.  The Task ctor is invoked here:
https://github.com/dotnet/coreclr/blob/e505009f4331a527f0bc25c162e421490eeff8df/src/mscorlib/src/System/Threading

[2018-04-04 03:01] stephentoub commented on #17403
Ah, actually, I take that back.  It's a faulty assert.

There was a valid change made in corefx, and it's resulting in this line:
https://github.com/dotnet/coreclr/blob/e505009f4331a527f0bc25c162e421490eeff8df/src/mscorlib/src/System/Threading/Tasks/Task.cs#L547
correctly storing a `null` into `CapturedContext`.  Its setter is then seeing a null and setting a flag into m_stateFlags:
https://github

[2018-04-04 04:06] BruceForstall commented on #17404
It seems to me that the default for `Compiler::compNoGCHelperCallKillSet` (used only in the emitter) should probably be to call `Compiler::compHelperCallKillSet` instead of using `RBM_CALLEE_TRASH_NOGC` but I haven't convinced myself of that yet. I've slowly been trying to eliminate `RBM_CALLEE_TRASH_NOGC` because I think it's so confusing, and sometimes wrong.

[2018-04-04 06:44] kbaladurin commented on #17394
@janvorli does it mean that application should stop all its background threads before shutdown to avoid situation when managed callback is called after window for allowed managed callback closes?

[2018-04-04 08:10] jkotas commented on #17394
It used to be the case with shutdown finalization, and it was really hard for any even slightly more complex application to get right. The more complex applications dealt with this by exiting the process themselves, not giving the runtime change to shutdown gracefully.

I think we should look into whether the "runtime stopped" check is really needed for anything given that we have disabled shutdow

[2018-04-04 08:40] janvorli commented on #17394
@jkotas I can see that the CanRunManagedCode can return FALSE for multiple different reasons, the shutdown finalization being only one of them. E.g. when the g_fForbidEnterEE is set. Do you think we can ignore that one?

[2018-04-04 08:50] Tornhoof opened #17406 "Performance of Span-based Integer Formatting in .NET Core 2.1"
I'm currently playing around with the new Span-based formatting capabilities in .NET Core 2.1.
They are really fast (in most cases).

Anyway, I noticed that the integer formatting of UTF8Json is quite a bit faster than the current implementation in:
https://github.com/dotnet/coreclr/blob/872095a758a3a6191a9798c94a98e8d1e16b2254/src/mscorlib/shared/System/Number.Formatting.cs#L1062-L1126

@neuecc h

[2018-04-04 10:35] benaadams commented on #17343
What type of app? For ASP.NET Core apps you can use https://github.com/benaadams/Ben.BlockingDetector and it will output the stack traces for things blocking in the ThreadPool (which can cause Task.Run to wait indefinately due to ThreadPool stravation)

[2018-04-04 11:15] stephentoub commented on #17406
Related to https://github.com/dotnet/coreclr/issues/15364. cc: @ahsonkhan

[2018-04-04 12:59] mikedn commented on #17398
Hrm, this looks pretty ugly.

GC stress kicks off a GC in the prestub. The VM walks the stack for GC and reports that the EIP for this frame is 07150237. When enumerating GC roots, it reports ESI as live. But when in the callee, ESI is not in fact live and contains the scalar value 0x80. So the reporting triggers an assert for an invalid objref.

Presumably this does not happen when the throw help

[2018-04-04 13:25] mdisg commented on #16675
@RussKeldorph does this mean it is fixed with the release of 2.1 or what has to be done to use RyuJIT?

[2018-04-04 13:38] mikedn commented on #16675
RyuJIT is used by default in 2.1 (both release and the current preview) so you don't need to do anything.

[2018-04-04 13:43] mdisg commented on #16675
@mikedn thanks for the quick response. I will test it when i continue my work on that project in which the issue came up

[2018-04-04 14:02] sdmaclea opened #17410 "[Arm64/Linux] System.IO.FileSystem.Tests slower than expected"
x64 run of System.IO.FileSystem.Tests takes ~44s w/ release & crossgen runtime.
arm64 is taking 1800s w/ checked & non-crossgen binaries (with random environment variables set).

Performance gap is too big.  Recreate timing measurements with matching setup.  Triage the performance differences.

The following testcases are consuming all the runtime.

[code]

[2018-04-04 14:02] sdmaclea commented on #17410
@dotnet/arm64-contrib FYI

[2018-04-04 14:09] sdmaclea opened #17411 "[Arm64/Linux] System.Xml.RW.XmlConvert.Tests much slower than expected"
System.Xml.RW.XmlConvert.Tests is much slower than expected on arm64 (when measured with an arbitrary setup checked, non-crossgened corerun w/ random environment variables, vs x64 release, crossgen, dotnet)

Remeasure w/ better matched setup and triage the performance issues.

The following are the longest running tests.
[code]

These 18 case represent most of the rest of the test time.  They shou

[2018-04-04 14:55] jkotas commented on #17394
I think the plan we should be is that you can always run managed code once the runtime is initialized, do not block it during shutdown.

`CanRunManagedCode` has a lot of checks in it. It is not clear why some of them are there, but none of them looks critical to me.

I think we may want to change `CanRunManagedCode` to return true and see what happens.

[2018-04-04 15:07] sdmaclea commented on #17410
Release crossgened build is 30x faster than Checked non-crossgened ... for the slow `CopyFileWithData_MemberData` testcases.  Checked crossgened is is only 30-40% faster.

`TimesIncludeMillisecondPart_Linux` is effectively unchanged.  The 4 test cases now consume 50% of the total runtime.

[2018-04-04 15:12] danmosemsft commented on #17410
`TimesIncludeMillisecondPart` can be outer loop for sure

[2018-04-04 15:25] okodron commented on #17379
If you don't mind, I can create a PR with such feature.

[2018-04-04 15:26] sdmaclea commented on #17411
Using release crossgen closes the unexplained performance gap

[2018-04-04 15:26] #17411 closed

[2018-04-04 15:34] gfoidl commented on #17406
Because it is a different repo.

[2018-04-04 16:24] AndyAyersMS commented on #17398
There is some logic I don't fully understand in codegenlinear to emit 'int3' padding after BBJ_THROW blocks that tends to place the padding between the throw blocks that move to the end of the method for x86.

https://github.com/dotnet/coreclr/blob/d1f49cc4b26d28fdb1c4f3bf147668e13b8995eb/src/jit/codegenlinear.cpp#L587-L606

For example:

[code]
But seemingly, BB stress messes with that logic.

My

[2018-04-04 16:28] danmosemsft commented on #17410
@Anipik can you please make TimesIncludeMillisecondPart_Linux outerloop.

[2018-04-04 17:01] sdmaclea opened #17414 "CoreFX tests on checked CoreCLR slow"
Triage of these indicated there was likely expensive `_DEBUG_` or assertion code slowing down common code paths when running CoreFX tests w/ CoreCLR checked binaries.

https://github.com/dotnet/coreclr/issues/17410
https://github.com/dotnet/coreclr/issues/17411
https://github.com/dotnet/coreclr/issues/17413

CoreCLR should regularly run CoreFX tests w/ CoreCLR checked binaries., so this should be

[2018-04-04 17:11] tarekgh opened #17415 "memory reported by lldb does not match memory reported by `top`"
@mabead commented on [Wed Apr 04 2018](https://github.com/dotnet/corefx/issues/28810)

We have memory issue with a .net core 2.0.5 service that runs in a linux container. The service consumes too much memory. After some struggling, I was able to create a memory dump using the following commands:

[code]
Where `1` is the PID of the process that consumes too much memory. I also executed the `top` an

[2018-04-04 17:14] stephentoub commented on #17410
I put up a PR.  GitHub's online editor makes this quick and easy, at least for small changes like this.

[2018-04-04 17:14] briansull commented on #17404
Your analysis sounds correct to me.

[2018-04-04 17:43] RussKeldorph commented on #16996
@janvorli It appears that #15074 or something related hits `Release` builds as well.  Do you think that tips the balance and we should go ahead and move to a newer Clang?  Can you suggest which version we should use?

[2018-04-04 17:43] RussKeldorph commented on #16996
@Petermarcu @ianhays

[2018-04-04 17:56] mikem8361 commented on #17379
Sorry for the delay; I just got back from vacation. The reason CreateProcessForLaunch doesn't support redirection handles it because "handles" are Windows concepts and are not portable across all our platforms. On Linux, the PAL can create fake handles to emulate various Windows APIs but these handles do not work across different "instances" of the PAL.  In other words, libdbgshim.so has a differe

[2018-04-04 18:13] janvorli commented on #15309
* baseservices\threading\interlocked\compareexchange\CompareExchangeTClass\CompareExchangeTClass.cm (**took 16211 secs to complete**)
* baseservices\threading\interlocked\compareexchange\CompareExchangeTClass_1\CompareExchangeTClass_1.cmd (**took 20893 secs to complete**)

[2018-04-04 18:13] okodron commented on #17379
@mikem8361, thank you!
Indeed there are some inconveniences with handles from static PAL instances linked with each dynamic library. But stream handles are not supposed to migrate somewhere out of the debugger and the libdbgshim linked with it.
Actually I have already some WIP code. So, maybe you can have a look at it, I'll appreciate your comments and advices.

[2018-04-04 18:14] danmosemsft commented on #17410
I didn't know about the editor!

[2018-04-04 18:17] AndyAyersMS commented on #17404
Pointed fix is something like:
[code]
but you may want to look into something more comprehensive.

[2018-04-04 18:40] tarekgh commented on #17393
I have tried that on my Ubuntu client VM and is working fine:

[code]

I had to turn the networking off on the machine to ensure the date will not reset by the network.

Could you please try to turn off the network connection on your server and then repeat the commands as I did and let me know what you will get.

[2018-04-04 18:42] kouvel commented on #17345
Thanks @adamsitnik, does that include the suggestions I posted in https://github.com/Microsoft/xunit-performance/issues/266 as well? I'll have to read up on BDN, sounds interesting.

[2018-04-04 18:52] BruceForstall commented on #17404
We should do pointed fix for now.

[2018-04-04 19:05] mikem8361 commented on #17379
There are more than just inconveniences. It will not work because the debugger and libdbgshim don't use the same static PAL. libdbgshim.so doesn't export the PAL functions needed to create a handle, etc.

[2018-04-04 19:08] ateoi opened #17419 "Incorrect exception stack trace on release builds"
I am getting different exception stack traces for debug and release builds for the tests
`ThrowStatementDoesNotResetExceptionStackLineSameMethod` and `ThrowStatementDoesNotResetExceptionStackLineOtherMethod` from https://github.com/ateoi/corefx/blob/5c7dd13f09e1d6550589238d3e8dd9babc621469/src/System.Runtime/tests/System/ExceptionTests.cs. On debug builds, I get the expected exception stack traces

[2018-04-04 19:12] AndyAyersMS commented on #17398
Linking this to #17027 for cross-ref purposes, since I'm close to closing that out as the issues there have been parcelled out...

[2018-04-04 19:14] #17403 closed

[2018-04-04 19:15] stephentoub commented on #17410
:-)

[2018-04-04 19:24] AndyAyersMS commented on #17404
Ok, I'll put what I have up as a PR.

[2018-04-04 19:29] danmosemsft commented on #17419
@mikem8361 could you please take a look?

I am not sure how important it is to fix this for 2.1: it is only 1-off, but when analyzing a failure output (eg from the event log) an accurate line number is a key piece of information.

[2018-04-04 19:35] BruceForstall opened #17423 "[arm32] corefx Microsoft.Win32.Registry.Tests failure in CI"
All arm32 corefx test jobs are failing Microsoft.Win32.Registry.Tests with:
[code]

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_baseline_tst/8/consoleText

[2018-04-04 19:43] kouvel commented on #15309
Maybe at some point it would make sense to have a different variant of tests that are useful to run under GC stress, which wouldn't take as long. I guess that most of these are not intended to run with GC stress. Should I go ahead and disable them under GC stress?

[2018-04-04 20:12] mikem8361 commented on #17419
I'll try to look at the Linux .NET Core repro, there isn't I can do about NETFX (desktop) unless I'm misunderstanding something. Obviously we are using portable PDBs on Linux, but on the desktop are they Windows or Portable PDBs (later versions of the destkop do support portable PDB).

[2018-04-04 20:26] AndyAyersMS opened #17425 "JIT: review implementation of compNoGCHelperCallKillSet"
See notes in #17404 / #17421 -- we should look more broadly at how this method is implemented to see if it is overstating GC kills for other helpers.

[2018-04-04 20:55] ahsonkhan commented on #17406
@Tornhoof, can you also add Utf8Formatter as part of your comparison? I would be curious to see the results (which would show if the performance improvement from #15364 will close the gap).
https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/Buffers/Text/Utf8Formatter/Utf8Formatter.Integer.cs

[2018-04-04 21:35] ateoi commented on #17419
Windows PDBs

[2018-04-04 21:44] #17321 closed

[2018-04-04 21:59] janvorli commented on #15309
Yes, it would be great.

[2018-04-04 23:06] CarolEidt opened #17427 "Issues with HW Intrinsics test templates"
The test templates currently produce misleading output when a test fails. The `ValidateResult` method sets the `Succeeded` field to `false` when it encounters an error, and all subsequent calls to `ValidateResult` will report failure. `ValidateResult` should use a local success flag to check the results, and then check that before reporting failure and setting the `Succeeded` field to `false`.
I e

[2018-04-04 23:07] CarolEidt commented on #17427
@tannergooding @fiigii - this isn't critical but it would make tracking down failures a bit easier if this were addressed.

[2018-04-04 23:37] 4creators commented on #17427
@CarolEidt It applies to all template based tests as they rely on single, common Succeeded bool field

[2018-04-04 23:50] AndyAyersMS opened #17428 "x86 gcstress 0xC zapdisable heapverify1 failures"
Forking from #17330.

JIT_Methodical._ELEMENT_TYPE_IU__il_dbgu_fld
JIT_Methodical._ELEMENT_TYPE_IU__il_relu_fld

Example runs with failures: [14](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_gcstress0xc_zapdisable_heapverify1_prtest/14/), [15](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_gcstress0xc_zapdisabl

[2018-04-04 23:51] AndyAyersMS commented on #17428
Linking back to master issue #17027.

[2018-04-04 23:52] AndyAyersMS commented on #17027
I think the various failures here have been fully parceled out to other issues so I'm closing this.

[2018-04-05 00:12] CarolEidt commented on #17389
This is an issue with saving & restoring the upper halves of the ymm registers. In this case, two `TYP_SIMD32` operands of a SIMD intrinsics appear in the execution order before a call, even though they aren't used until after the call. They are both last uses.
The last use bits are used when building the `RefPosition`s to check whether a variable is live across a call. However, they should be che

[2018-04-05 00:54] #17404 closed

[2018-04-05 01:53] AndyAyersMS commented on #17398
Here is a repro that does not require any stress; it fails on x86 checked when compiled with jit optimizations enabled:
[code]
the problematic stretch of code is at the end:
[code]
with the following error:
[code]

[2018-04-05 06:52] Tornhoof commented on #17406
Yeah, I added code to call it, but yeah that one is fast.
[code]
|                            Method |     Mean |     Error |    StdDev |  Gen 0 | Allocated |
|---------------------------------- |---------:|----------:|----------:|-------:|----------:|
|                           CoreCLR | 88.05 ns | 0.2815 ns | 0.2495 ns | 0.0091 |      48 B |
|                          Utf8Json | 46.33 ns | 0.16

[2018-04-05 11:27] sergign60 commented on #16503
@RussKeldorph How can I do this tests not applicable for Linux? I didn't find any hints in *csprojs files. Thanks in advance.

[2018-04-05 11:33] mikedn commented on #17398
It looks like at least in your (great!) repro this is exactly due to

It seems odd that x86 doesn't use the same technique. Though this results in `rcx` and `rdi` being reported as live when they're really aren't. That seems to be correct but a bit more conservative.

[2018-04-05 11:35] ankgupta067 commented on #11498
@jkotas
how do we specify entry in runtimeconfig.json something like this, cant find an article hence posting here
"runtimeOptions": {
    "Microsoft.NETCore.DotNetHostPolicy.SetAppPaths" : true,
    "tfm": "netcoreapp2.0",
    "framework": {
      "name": "Microsoft.NETCore.App",
      "version": "2.0.0"
    },
    "configProperties": {
      "System.GC.Server": true
    }
  }

[2018-04-05 11:44] RussKeldorph commented on #16503
@sergign60 If the test is failing but reall ought to pass, you add it to: https://github.com/dotnet/coreclr/blob/master/tests/testsFailingOutsideWindows.txt

If the test is fundamentally incompatible with Unix, add it to:
https://github.com/dotnet/coreclr/blob/master/tests/testsUnsupportedOutsideWindows.txt

Sounds like the "Unsupported" is more appropriate here.  It's difficult to disable for Lin

[2018-04-05 12:55] daoqiang commented on #17312
hi？

[2018-04-05 13:08] mikedn commented on #17312
Why are you sure it can be done? The MS .NET runtime has always been a dll throughout its various incarnations (.NET Framework, Silverlight, .NET Core). The JIT was statically linked to coreclr.dll in Silverlight and early .NET Core versions but that's not longer the case.

Which functions to be precise?

[2018-04-05 14:31] adamsitnik commented on #17345
@kouvel yes, it does. I have just replied in in Microsoft/xunit-performance#266

btw I am soon going to give a Modern BCL talk about BenchmarkDotNet and I will try to show all it;s features

[2018-04-05 16:00] Petermarcu opened #17434 "Freeing up memory from ArrayPools"
@okarlsson commented on [Thu Apr 05 2018](https://github.com/dotnet/core/issues/1409)

Hey Guys!

I'm running a .NET Core application in a docker container that runs in a EC2 instance on AWS.

I have a function for resizing profile images before they get uploaded and I'm using a third party library called ImageSharp for this. The library uses ArrayPools when handling the images and my memory usage

[2018-04-05 16:52] RussKeldorph commented on #17434
@jkotas @maoni0 Related to #16389, etc.?

[2018-04-05 16:55] RussKeldorph commented on #17423
@danmosemsft Wanna take this to corefx?  It looks like a test issue.

[2018-04-05 17:00] #17423 closed

[2018-04-05 17:00] danmosemsft commented on #17423
Issue moved to [dotnet/corefx #28856](https://github.com/dotnet/corefx/issues/28856) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-05 17:26] briansull commented on #17398
Yes, the reporting of register liveness for fully interruptible regions is incorrect.  What should be reported is the registers that are alive before the call was made, not what is live at the return address. (i.e after the call)

[2018-04-05 17:35] kouvel commented on #17345
Sounds very interesting, looking forward to the talk.

[2018-04-05 17:56] #17027 closed

[2018-04-05 18:14] ahsonkhan commented on #17406
As part of the fix for https://github.com/dotnet/coreclr/issues/15364, @stephentoub has been making the "CoreCLR" versions faster so the performance for that should approach System.Buffers.Text.Utf8Formatter.

For example, see https://github.com/dotnet/coreclr/pull/17432

[2018-04-05 18:57] Maoni0 commented on #16389
yes, all these should be dups of https://github.com/dotnet/corefx/issues/25841. GC just provides an API to indicate what memory situation we are in; it's really up to the pool implementation to decide on trimming.

[2018-04-05 19:49] redknightlois opened #17435 "Codegen issue with SSE2.Store interactions"
We found this issue on some of our code and managed to create a synthetic repro. The error happens because Sse2.Store does not invalidate the values already at the registers.

This method should return (3,6) but on release mode it returns (3,3).
[code]
On debug the behavior is correct because it is forced to get it from the memory location. We tested on 2.1.0-preview3-26404-01

cc @fiigii @tannerg

[2018-04-05 20:06] fiigii commented on #17435
Thank you for opening this issue. It looks like a general issue that JIT does not detect the "unsafe" memory write. Could you try to replace `Sse2.Store` by `Unsafe.Write` to see if it has this issue also?

cc @CarolEidt @AndyAyersMS

[2018-04-05 20:07] mikedn commented on #17435
It's more likely that it's because the part about adding special handling in VN and other places for intrinsic load/stores was never done...

[2018-04-05 20:20] pierslawson opened #17438 "Framework-Dependent Deployment not loading assemblies on linux-arm"
I'm trying to use .Net Core 2.1 Preview 1 on a Raspberry Pi so publishing with -r linux-arm. I've followed the [omnisharp guidelines for remote debugging](https://github.com/OmniSharp/omnisharp-vscode/wiki/Remote-Debugging-On-Linux-Arm) and can successfully step into code using the
Framework-Dependent Deployment approach if I have a simple console application. Brilliant!

However, if I add a refer

[2018-04-05 20:28] redknightlois commented on #17435
I tend to agree with @mikedn because ```Unsafe.Write``` works flawlessly.

[2018-04-05 20:37] karelz commented on #17435
FYI: @redknightlois ZBB is finished :) ... if you think this is important for 2.1, please work with area owners & experts - @CarolEidt @AndyAyersMS etc.

[2018-04-05 22:47] briansull commented on #17435
I have the following repro case that I am trying to compile:

[code]

[2018-04-05 22:50] briansull commented on #17435
using:

[code]

[2018-04-05 22:52] briansull commented on #17435
@redknightlois @fiigi @dotnet/jit-contrib
 Please advice on how to successfully build a stand alone repro for this Sse2 issue?

[2018-04-05 23:40] AndyAyersMS commented on #17435
This compiles for me with your program text -- note for this you need to have built the test overlay. You can probably do something similar with reference assemblies....
[code]
and it repros the bug:
[code]

[2018-04-06 00:14] AndyAyersMS commented on #17428
We don't have a lot of history here to go on but the tests passed at [9](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_gcstress0xc_zapdisable_heapverify1_prtest/14/) and have failed since, though many of the follow on runs were for PRs.

So it might be something introduced after d104270f8412381b5eb7715a775c3999f28b740c is contributing to this. But hard t

[2018-04-06 00:41] briansull commented on #17435
THe SIMD store intrinsic treats the target as an SSA use rather than a def:

[code]

[2018-04-06 01:02] nbilling opened #17446 "OpenVirtualProcess segfaults because PAL not initialized in CLRCreateInstance"
OpenVirtualProcess segfaults because PAL not initialized in CLRCreateInstance. This blocks minidump debugging scenario on Linux.

[2018-04-06 01:26] jp2masa opened #17448 "Custom AssemblyLoadContext fails to load runtime assemblies"
I'm working on an application which needs to load all .NET Core runtime assemblies, and I'm using a custom `AssemblyLoadContext` implementation, but I'm having a problem: `netstandard.dll` fails to load, `LoadFromAssemblyPath` throws a `BadImageFormatException`. This works on the default `AssemblyLoadContext.Default` though. I read the docs about `AssemblyLoadContext`, and it looks like custom imp

[2018-04-06 01:47] BruceForstall commented on #17428
This should be the rolling run: https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_gcstress0xc_zapdisable_heapverify1/

Looks like the March 25 run passed.

[2018-04-06 01:49] echesakovMSFT opened #17449 "[Linux ARM] compareexchangefloat.exe intermittently fails with crossgen-d S.P.C.dll"
Ubuntu Checked arm **compareexchangefloat.exe** failed 74/100 times when running using crossgen-d S.P.C.dll  and clang5.0 compiled coreclr.

The failure could be either of those two:
[code]
[code]
It does NOT fail when S.P.C.dll is IL (at least I couldn't make it failing).
Also not reproducible under GDB even with crossgen-d S.P.C.dll.

I suspect that we have some race condition that manifest itse

[2018-04-06 02:25] mikedn commented on #17435
@briansull That's correct, there's no actual target. There are 2 operands - the value and the store address - and they're both uses.

The problem is that nothing in the JIT knows that this node will actually store to memory. The net result is that a[0] & co. get CSEd because VN doesn't realize that the memory changed in between occurrences.

Such HW intrinsic node will need special handling, simil

[2018-04-06 02:52] jkotas commented on #17448
How did you get the `netstandard.dll` that you are getting the `BadImageFormatException` on? What does the error message in `BadImageFormatException` say? It may be easiest if you can share a small standalone repro of the problem.

This error likely means that you are trying to load netstandard.dll reference assembly for execution; or that you are trying to load platform-specific assembly on wrong

[2018-04-06 02:53] jkotas commented on #17446
cc @mikem8361

[2018-04-06 09:52] janvorli commented on #17446
Will be fixed by #17444 once it gets in.

[2018-04-06 09:54] janvorli commented on #17449
If you cannot repro it under GDB, try to enable ASLR in the GDB. GDB disables it by default.
You can enable ASLR using the following GDB command:
`set disable-randomization off`

[2018-04-06 12:56] kasper3 commented on #16989
Update on missing LLDB.h. That was slipped to the upcoming Ubuntu LTS 18.04, where llvm-6 toolchain is default in Ubuntu's official package repository. I reported the issue at https://bugs.launchpad.net/ubuntu/+source/llvm-toolchain-6.0/+bug/1761009, and the fix was made yesterday that I've tested with mantianer's PPA and confirmed that `release/2.1` and `master` branches are building successfully

[2018-04-06 13:48] janvorli commented on #16989
@kasper3 that's awesome, thank you so much for taking care of this!

[2018-04-06 13:56] RussKeldorph commented on #14291
@eerhardt @weshaggard I've been thinking about this and have some concerns.  The concept of using the state of the build machine to determine the build output is generally a terrible idea.  It runs counter to the goals of a reproducible build.

Also, this proposal seems to ignore the fact that, at least for coreclr, we have tool limitations that force us to use cross-builds in some scenarios (neve

[2018-04-06 14:14] jp2masa commented on #17448
I'm loading the runtime version of `netstandard.dll` for `win-x86`, and it only seems to fail when doing it from a unit test. In the test settings, x86 is set as the default architecture, and I tried to set the `Platform` to `x86` in the unit test project.
This is the message in the `BadImageFormatException`:

[2018-04-06 14:26] Tornhoof commented on #17406
While I didn't see much difference with coreclr build 2.1.0-preview3-26406-03, I think we can close this as #15364 is the main bug.

[2018-04-06 14:26] #17406 closed

[2018-04-06 14:56] Tornhoof commented on #15364
Maybe for reference between CoreCLR and Utf8Formatter, especially DateTime could use a bit of love with formatting option 'o'.

[code]
|                   Method |      Mean |     Error |    StdDev |  Gen 0 | Allocated |
|------------------------- |----------:|----------:|----------:|-------:|----------:|
|       &#39;DateTime CoreCLR&#39; | 301.38 ns | 0.1300 ns | 0.1085 ns | 0.0224 |      96 B |

[2018-04-06 15:33] stephentoub commented on #15364
I'm surprised by your results. https://github.com/dotnet/coreclr/pull/17092 effectively did bring the Utf8Formatter implementation over to DateTime.

[2018-04-06 15:55] tarekgh commented on #17393
@shakeri I am closing this issue as it doesn't repro for us. but feel free to reply back and we'll be happy to help and reopen the issue as needed. Thanks for reporting the issue.

[2018-04-06 15:57] Tornhoof commented on #15364
It's ``UtcNow`` vs ``Now``. If I change the benchmark to ``UtcNow`` it is:
[code]
|                   Method |     Mean |     Error |    StdDev |  Gen 0 | Allocated |
|------------------------- |---------:|----------:|----------:|-------:|----------:|
|       &#39;DateTime CoreCLR&#39; | 93.86 ns | 0.0276 ns | 0.0245 ns | 0.0209 |      88 B |
| &#39;DateTime Utf8Formatter&#39; | 65.58 ns | 0.1712

[2018-04-06 16:04] stephentoub commented on #15364
Still surprised.  The code is basically the same, even for time zone stuff:
https://github.com/dotnet/coreclr/blob/721343dc84247d54ee5f3365b97b06090dfa8ade/src/mscorlib/shared/System/Globalization/DateTimeFormat.cs#L1128
vs
https://github.com/dotnet/corefx/blob/f5d31619f821e7b4a0bcf7f648fe1dc2e4e2f09f/src/System.Memory/src/System/Buffers/Text/Utf8Formatter/Utf8Formatter.Date.O.cs#L18

[2018-04-06 16:18] fwanggg opened #17459 "[linux64]typedef redefinition with different types __int64 uint64_t"
I am a profiler writer and trying to port a windows coreclr profiler to linux.
I noticed that coreclr team uses pal*.h to help porting coreclr to linux. So i am using those headers too to help deal with all the HANDLE/DWORD etc. windows-related defs.  One interesting fact is that PAL team has made windows.h pointing to palrt.h which means i don't even need to change `#include   <windows.h>` which

[2018-04-06 16:27] echesakovMSFT commented on #17449
@janvorli Thank you! With ASLR enable I could reproduce the issue under GDB - got this backtrace
[code]

@dotnet/arm32-contrib Has anyone managed to run lldb/sos under Ubuntu arm?

[2018-04-06 16:30] RussKeldorph commented on #14291
/cc @janvorli

[2018-04-06 16:33] janvorli commented on #17449
@echesakovMSFT I've been trying many different versions of LLDB in the past and recently and I was never able to make it work. It is getting better though - before, it was even not able to launch a process. Now it can, but no breakpoints get hit and if you hit say sigsegv, you cannot see the call stack since the unwinding seems completely broken.
I've tried that in the past on Ubuntu, Raspbian and

[2018-04-06 16:34] AndyAyersMS commented on #17428
FWIW running these with heapverify=3 (which enables shadow heap checking for missing write barriers) fails immediately. Don't know yet if this heapverify feature is robust since we don't seem to enable it very often. I will debug this failure and see where it leads.

[2018-04-06 16:35] janvorli commented on #17449
I am currently trying to build lldb 5.0 from sources directly on my RPI3 to see if the recent version could possibly work. The nightly repo of LLVM debian packages doesn't have packages for armhf for the recent versions.

[2018-04-06 16:39] sdmaclea commented on #17449
For arm64 we had to build lldb from source.  We assumed it was because we were using a  64k page non-standard Ubuntu image.

@debayang Worked out the kinks for me...

[2018-04-06 16:41] echesakovMSFT commented on #17449
@janvorli It is even worse for me - I couldn't even run any process under LLDB on Ubuntu arm 14.04. I have tried different versions and always hit the same issue with `error: process launch failed: Lost debug server connection`. I had luck only once when I run `lldb-server g` and connected to it from `lldb`

[2018-04-06 16:43] janvorli commented on #17449
@echesakovMSFT yes, that's what I was seeing everywhere in the past. That's why I've said it got better recently (by recently I mean in the latest raspian based on debian 9)

[2018-04-06 16:50] janvorli commented on #14291
At least for Unix coreclr, "-Portable=false" just determines the RID of the packages. It expects that the RID of the build OS is the target RID, since the build is not portable to other OS versions (well, I'm not sure how that translates to Windows compatibility).

[2018-04-06 16:54] janvorli commented on #14291
So passing the RID as a parameter would not make sense on Unix, it would kind of contradict the fact that the build may have dependencies or even code paths specific to the distro it was built on.

[2018-04-06 16:58] janvorli commented on #17449
@sdmaclea that gives me some hope that the build on RPI 3 won't be a lost effort. The build over there is crazy slow, at the moment, its been running for about 24 hours and it is in 70%. I have to run make single threaded, otherwise the machine gets somehow overloaded or what - the ssh connections don't drop, but the consoles stop responding to input or producing any output completely.

[2018-04-06 17:03] sdmaclea commented on #17449
@debayang Disabled several things.  Build on arm64 only took minutes with 48 threads.

[code]

[2018-04-06 17:11] janvorli commented on #17459
@fwanggg when we build against PAL, all standard headers inclusion is disabled using a clang compiler option `-nostdinc` and we have dummy versions of the headers that coreclr includes that all redirect to palrt.h, as you have noticed. You are hitting the issue because the platform headers get mixed with the windows "emulation" headers we have.
Compiling against our PAL would make sense provided t

[2018-04-06 17:12] jkotas commented on #17449
I got a small fan for my RPI to fix the overheating. You can find many different kinds on Amazon or eBay. Works like a charm.

[2018-04-06 17:15] janvorli commented on #17449
@jkotas Yeah, I have a drawer full of various fans and heat spreaders. I should have tried to attach some of those.

[2018-04-06 17:31] fwanggg commented on #17459
@janvorli very very cool. great suggestions.
**"it would not make sense to use the PAL if your profiler needs just a couple of Windows APIs"**
guess i have to evaluate first.

[2018-04-06 17:42] sandreenko commented on #16995
[The last run](https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_debug_ubuntu_tst_prtest/3/consoleText) shows that the problem still exists.

[2018-04-06 17:43] nbilling commented on #17446
Additionally, with the PAL initialized there is a problem with dbgshim passing a handle to the dac module it created in its PAL to mscordbi, who sees it as an invalid handle.

[2018-04-06 17:50] sandreenko commented on #16996
Before the docker update we had:
[code]
[Now ](https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_release_ubuntu_tst_prtest/6/consoleText)we have:
[code]
and we now need 4 rerun to get clear run, but we still need them.

I am starting to investigate these failures one-by-one.

[2018-04-06 17:55] BruceForstall commented on #9581
@sdmaclea A couple questions: (1) do you regularly run arm64/Linux GCStress? (2) do you run over the pri-1 CoreCLR tests? (3) is it clean for 2.1?

[2018-04-06 18:00] dagood commented on #16995
Sorry for the close, didn't realize https://github.com/dotnet/dotnet-buildtools-prereqs-docker/pull/42 was linked up to close on merge. I'm not familiar with what has to be done to uptake the new image, or if you've already done that and the last run is a new problem.

[2018-04-06 18:27] sandreenko commented on #16995
It is ok, it is how I linked them.

We expected that the new clang will solve our problem with "infinite recursion", but it did not (or not completely), however with newer clang we see less failures, so we will stay on clang 5.0 and investigate the current set of failures.

[2018-04-06 19:24] sdmaclea commented on #9581
@BruceForstall

I am running 30 configs for master and release_2.1 each night.  These include
[code]

Yes except.
I disable all test disabled in `coreclr/tests/issues.targets`
I don't run a few tests which take longer to run (could be gcStress issues`
[code]

I run tests with known failures separately
[code]

Given the exception above.  It is generally clean.   There are spurious failures..  About

[2018-04-06 19:42] dasetser opened #17460 "MemoryStream is not [Serializable]"
MemoryStream is not marked with the SerializableAttribute and fails to be deserialized. Without this attribute we're unable to create a WCF client to communicate with existing services that return MemoryStreams.

This was reported in  dotnet/wcf#2307.

[2018-04-06 19:48] ahsonkhan commented on #15364
Can you also share your csproj and the output of `dotnet --info` you used to compile/run? Maybe, the version is out-dated.

If there is still a performance difference, yes, please file a new issue.

[2018-04-06 19:52] stephentoub commented on #15364
And maybe briefly modify the benchmark code to do `Console.WriteLine(typeof(object).Assembly.Location)` just to confirm it is in fact loading the expect corelib.

[2018-04-06 19:55] Tornhoof commented on #15364
Assembly Location: ``C:\Program Files\dotnet\shared\Microsoft.NETCore.App\2.1.0-preview3-26406-03\System.Private.CoreLib.dll``
I tried it with multiple runtime versions and sdks too (from the last few days), the specific output of dotnet --info:
[code]

I'll open a different bug for this.

[2018-04-06 19:56] briansull commented on #17435
I believe that we have to expandthe Store operation into an Assignment like this:

[code]

[2018-04-06 20:05] BruceForstall commented on #9581
Excellent info; thanks! Glad to see it looks to be in good shape. (fyi, I was interested because I'm trying to bring up Linux arm32 GCStress -- apparently nobody's run it yet -- and wanted to know if a similar platform already works.)

[2018-04-06 20:08] Tornhoof opened #17461 "Performance differences between DateTime.TryFormat for UTC vs. local time in CoreCLR and Utf8Formatter"
DateTime.TryFormat has completely different runtime performance characteristics when using UTC timezone vs. local timezone (CEST).
For some reason using ``DateTime.Now.TryFormat(span, out pos, "O", CultureInfo.InvariantCulture);`` is 3 times slower than  ``DateTime.UtcNow.TryFormat(span, out pos, "O", CultureInfo.InvariantCulture);``
This is reproducable with multiple different sdks/runtime versio

[2018-04-06 20:10] ahsonkhan commented on #15364
If all else fails, maybe wait for a newer build after this gets merged - https://github.com/dotnet/corefx/pull/28873 (also, maybe this one a shot 2.1.0-preview3-26406-06).

[2018-04-06 20:12] eerhardt commented on #14291
I would be 100% fine with getting rid of the "portable" build option all together on Windows.  And building on windows ONLY spits out `win-arch` RID assets.

I understand the different between "portable" and "non-portable" builds on Unix.  I don't understand the difference between those two options on Windows.  Are there any actual changes to the binaries on Windows?  If there aren't, it feels lik

[2018-04-06 20:13] sdmaclea commented on #9581
@BruceForstall I thought Samsung was running gcStress when they were actively working on arm32 for tizen.

[2018-04-06 20:14] stephentoub commented on #17461
A couple things from looking at the code:
- You're calling Utf8Formatter.TryFormat without passing a format.  It'll end up using the default, which is 'G', not 'O', and 'G' doesn't do anything with time zone.
- You're using DateTimeValueLocal in the Utf8FormatterDateTimeUTC test rather than using DateTimeValueUTC.

[2018-04-06 20:17] stephentoub commented on #15364
See my comment at https://github.com/dotnet/coreclr/issues/17461#issuecomment-379364797... the code is comparing apples to oranges.

[2018-04-06 20:31] stephentoub commented on #15364
Also, why are the coreclr tests calling ToString and the Utf8Formatter tests aren't, and why are the coreclr tests doing stackalloc and the Utf8Formatter aren't?  That's just extra overhead on the coreclr test, further making the comparison invalid.  Fixing those issues, I get this:
[code]

[2018-04-06 20:33] stephentoub commented on #17461
Beyond that, the coreclr test code is doing both heap and stack allocation and that the Utf8Formatter code isn't doing.  Fixing that yields for me:
[code]
That's close enough that I don't think there's more that needs to be done on "o" and "r" formatting around porting from Utf8Formatter to DateTime{Offset}.TryFormat.

Thanks for raising the issue, though.

[2018-04-06 20:33] #17461 closed

[2018-04-06 20:38] janvorli commented on #14291
I was not involved in the portable windows build introduction, but looking at the PR that has created it (https://github.com/dotnet/coreclr/pull/10365), there is no binary change. It only influences the RID. And looking at that option for corefx, it also seems it doesn't do anything for Windows.

[2018-04-06 20:38] BruceForstall commented on #9581
@sdmaclea Well, janvorli and I just fixed a fundamental Linux/arm32 GCStress infrastructure bug that prevented GCStress from working in that environment, so it doesn't seem like they did.

[2018-04-06 20:41] sdmaclea commented on #9581
I guess even if they did it probably would have been with legacy jit.

[2018-04-06 20:50] mikedn commented on #17435
Ideally yes but unfortunately there are different kinds of store intrinsics and there are problems representing them using normal indirs. There were long discussions about intrinsic load/store representation (e.g. in #15991) but I don't know where it all landed. It looks like at some point a decision was taken to use GT_HWINTRINSIC for load/stores as well but I don't remember when or where that ha

[2018-04-06 20:53] weshaggard commented on #14291
I think it is fine to ignore but i suspect for consistency between windows and linux build scripts we may still need to accept it.

[2018-04-06 21:05] fwanggg commented on #17459
@janvorli if set -nostdinc, do i still need to set PAL_STDCPP_COMPAT?
I read your comment " The purpose of the PAL_STDCPP_COMPAT is to exclude usage of PAL functions that would otherwise conflict with functions defined in the Unix platform headers." from https://github.com/dotnet/coreclr/issues/15934

It sounds to me that if i -nostdinc, then no Unix platform headers shall be included, so there wi

[2018-04-06 21:20] danmosemsft opened #17462 "Consider codegen improvement for (a + b)/2"
This diff (in a hot path binary search) seemed to give an improvement (albeit so small probably not worth loss in clarity)
[code]
Of course ideally the JIT would take care of whatever the best codegen is. @AndyAyersMS suggested I open an issue here.

https://github.com/dotnet/corefx/pull/28739#discussion_r179547811
https://sharplab.io/#v2:EYLgHgbALANALiAhgZwLYB8ACBmABJgJlwGFcBvAWAChdb88BLAOzlwHkAn

[2018-04-06 21:26] CarolEidt commented on #16619
A simple example illustrating the excessive copies can be seen with the test case introduced in PR #17418 - tests/src/JIT/Regression/JitBlue/DevDiv_590358/DevDiv_590358.cs

[2018-04-06 21:41] mikedn commented on #17462
Just use `(i + iMax) >> 1` and call it a day :smile:

Note that this particular way of computing the midpoint is problematic due to integer overflow. I suppose this doesn't matter in that particular regex code...

[2018-04-06 22:06] briansull commented on #17435
It would be pretty messy to add a new kind of Assignment node to the JIT.

Is is possible to change the signatures for these methods to use ref semantics?

` public static unsafe void Store(sbyte* address, Vector128<sbyte> source) => Store(address, source);`
to
` public static unsafe void Store(ref sbyte address, Vector128<sbyte> source) => Store(address, source);`

[2018-04-06 22:13] CarolEidt commented on #17435
@briansull - how would that help? It would seem that whatever IL you generate for those could be generated as easily for the pointer version. What am I missing?

[2018-04-06 22:16] briansull commented on #17435
I have worked up something that fixes the issue that we have here, but I am not confident that it is the correct approach.  In my fix any LclVar that is used as a SIMD operand to a load or a store is marked as 'lvIsSIMDMemortAddr' and then it is excluded from SSA.  This isn't exactly correct since these address are not actually changing but we are missing the Indirection node that should be associ

[2018-04-06 22:39] CarolEidt commented on #17435
The issue of ref vs. pointer parameters was discussed in some detail in the API discussions, so I would propose that we not reopen that discussion until we've had some feedback from the preview.

I assume you are just talking about the indirection operand, not the source operand in a store.

However, I don't think that will really fix the broader issue, because you could have a load or store whose

[2018-04-06 23:53] AndyAyersMS commented on #17428
Suspect the heapverify=3 failure is likely some bit of broken infrastructure around the shadow heap. So won't pursue that further.

Got a repro machine from CI and can't repro the failures above on that machine either. Nor on some of my other test machines.

[2018-04-07 00:02] sandreenko commented on #16995
Example of a good run:
[code]

a bad run:
[code]

another bad example:
[code]

[2018-04-07 00:04] sandreenko commented on #16995
It is debug min_opts with huge GC gen0(to avoid GC caused problems).

[2018-04-07 00:09] stephentoub commented on #17461
No problem :)

[2018-04-07 00:15] erozenfeld commented on #17398
I tried a fix that modifies the x86 verison of EECodeManager::EnumGcRefs (the one under #ifndef USE_GC_INFO_DECODER) to do the curOffs adjustment for callee saves that are not on active stack frame (similar to what's already done for stack vars). That fixed the repro case @AndyAyersMS provided above but waitallex3 still failed with

[code]
but at a different point. GC happened when WaitAllEx:Creat

[2018-04-07 00:18] jainaashish opened #17465 "Directory.EnumerateDirectories doesn't return directory list on rhel7.2"
I've created a simple application to demonstrate the issue where `Directory.EnumerateDirectories` api doesn't return the list of child directories on rhel 7.2, although it works fine on Windows or Ubuntu.

Sample Project - https://github.com/jainaashish/CoreClrIssue/tree/master/EnumerateDirectoriesIssue/EnumerateDirectoriesIssue

[2018-04-07 00:32] tannergooding commented on #17435
I believe we had decided to use `GT_HWIntrinsic` because there was a number of different states/other requirements that would not be representable by the current `GT_IND` nodes.

That is, we have the contract to emit a particular instruction, plus various modes such as:
* Scalar Load/Stores
* Vector Load/Stores
* Partial or Masked Load/Stores
* Temporal Load/Stores
* etc

IIRC, there was some conc

[2018-04-07 00:33] mikem8361 commented on #16482
PR #17463.

[2018-04-07 00:33] #16482 closed

[2018-04-07 00:38] AndyAyersMS commented on #17398
No, I haven't seen this kind of failure.

[2018-04-07 01:41] morganbr commented on #17460
Do you have a sense of why somebody would want to serialize a Stream? It doesn't actually stream anything if they do that, so serializing a MemoryStream is mostly just an expensive way to pass a byte array.

[2018-04-07 02:06] danmosemsft commented on #17462
Would it be considered an invalid transformation if it avoided integer overflow?

[2018-04-07 02:14] danmosemsft commented on #17465
@jeremykuhne @anipik

[2018-04-07 03:05] RussKeldorph commented on #17438
@dotnet/dotnet-diag If this appears to work as intended from a debugging point of view, perhaps it should go to dotnet/cli.

/cc @livarcocc

[2018-04-07 06:41] mikedn commented on #17462
Indeed, this might work in the C/C++ wild west, where integer overflow tends to come together with undefined behavior. However, C# is different in this regard and mandates a certain behavior:

I'm not familiar with this fancy way of computing the midpoint but a quick test shows that it does produce a different result than `(a + b) / 2`:
[code]
prints
[code]
Apparently it's equivalent to the safe v

[2018-04-07 08:07] shakeri commented on #17393
@tarekgh
I have tried that on my Ubuntu client VM but it does not work again
[code]

[2018-04-07 12:02] lindexi commented on #17044
I cant run it in my arm32 for the same.

[2018-04-07 17:55] JensNordenbro commented on #9370
ok @janvorli ; I tried using the references you provided but it did not go well for me :)

I guess with all the activity going on regarding arm32 lately hopefully somebody more well versed in these kind of adventures will pick it up.

[2018-04-07 18:14] JensNordenbro opened #17468 "Running dotnet core on Alpine for ARM32"
Due to its small footprint (OS image size), Alpine is suited for embedded scenarios on ARM32.

Things leading to this:
- Today dotnet core is Community Supported on ARM32.
- Today dotnet core 2.1 is running on Alpine for x86.
- It is possible to run docker on an embedded system (for example [ResinOS](https://resinos.io/)) and in order to do this efficiently a small container image is needed, hence

[2018-04-07 20:07] ltrzesniewski opened #17469 "The "no." opcode prefix is not implemented"
ECMA-335 specifies the `no.` opcode prefix as the following (III.2.2):

when it is executed. The byte that follows the instruction code indicates which checks can
optionally be skipped.

In short, it allows for automatic type checks, range checks or null checks to be skipped, which would be useful for optimizing hot code paths.

The current implementation throws `InvalidProgramException` whenever

[2018-04-07 23:42] mleenhardt commented on #4382
I wanted to bump this ask whether anything had changed on this topic? Specifically, is there any way to get GC stats from within the process? My environment is .NET Core running on Linux.

I'm aware of `GC.CollectionCount` which does provide some info. I was however interested in collecting metrics on the amount of time and percentage of total CPU time spent in the GC. These seem to be  really imp

[2018-04-08 00:30] stephentoub opened #17470 "Tearing a ValueTask can result in breaking type safety"
ValueTask currently uses Unsafe.As to cast to a Task or an IValueTaskSource based on whether a bit is set elsewhere in the instance.  But a torn read/write with a ValueTask stored in a field could result in seeing the wrong polarity of that bit for the actual object read, which could result in violating type safety.  While this use of Unsafe.As is good for perf, we should undo it and do a normal t

[2018-04-08 04:32] kouvel commented on #17470
@tarekgh

[2018-04-08 05:27] sandreenko commented on #16995
cc @janvorli , @dotnet/jit-contrib
Have you seen smth like
[code]
before?

[2018-04-08 15:14] mikedn commented on #17398
Did you adjust `curOffs` ONLY when reporting registers? The current code handles both registers and pushed args and it looks like the adjustment must not be applied to pushed args, otherwise the same reference will be reported twice.

[2018-04-08 19:29] AndyAyersMS opened #17473 "JIT: simple benchmark highlights some CQ issues"
Here are some simple methods where codegen could be improved. Original from aspnet/Signalr#1900.

[code]
current codegen below
[code]
This last methods codegen would ideally be:
[code]

[2018-04-08 23:35] benaadams commented on #16198
As a follow up... if the class was sealed would that make a difference? (as the interface site couldn't be reimplemented)

[2018-04-09 02:26] noahfalk opened #17475 "[Tiered Compilation] MusicStore Windows x86 steady state performance doesn't have the win we see on x64"
On Windows X64 MusicStore we typically see a 20% improvement from TC in the perf lab but x86 shows very little improvement. The difference is unexpected and likely a bug.

[2018-04-09 06:43] tianvan opened #17478 "updated to 2.1 preview,DateTime.Now is not correct"
![tim 20180409144223](https://user-images.githubusercontent.com/10600430/38483091-4cfa57be-3c04-11e8-8c41-b2947e5c2f64.png)

[2018-04-09 06:46] mikedn commented on #17473
First `InMethod` produces the following code for me:
[code]
I wonder if there are differences between the C# compiler we are using.

For first `NormalMethod` your suggested use of `[rdx]` & co. is incorrect, these structs are not passed by ref, implicit or not. So the ideal code would be something like:
[code]
The question is what the code should be for accessing Value rather than HasValue. Shift

[2018-04-09 07:56] mikedn commented on #17075
So if I understand the ARM documentation correctly the generated code should look something like:
[code]

[2018-04-09 14:32] sdmaclea commented on #17414
@debayang Ran a profile.  The major slow down in checked vs. release exists in x64 and arm64.

The checked profile of System.IO.Tests.File_Copy_str_str.CopyFileWithData_MemberData showed
[code]

Object validation is creating the most significant overhead.

Hacking the checked build to disable USE_CHECKED_OBJECTREFS improves performance in checked 5x.  Further disabling SanityCheck() would also hel

[2018-04-09 14:37] sdmaclea commented on #17414
The question now is what if anything to do.

Options:
- Only run  USE_CHECKED_OBJECTREFS and SanityCheck() under HeapVerify
- Create a new option to disable USE_CHECKED_OBJECTREFS and SanityCheck() for better estimate of pefrormance
- Split HeapVerify into several flags.   Enable USE_CHECKED_OBJECTREFS and SanityCheck() by default, enable extended checking with another flag, disable both on zero

[2018-04-09 14:57] jkotas commented on #17414
What are the most frequent callers of the object validation?

[2018-04-09 15:50] sdmaclea commented on #17396
From last night
[code]

[2018-04-09 15:51] BruceForstall commented on #16995
FWIW, I found that GDB apparently has an extension mechanism for JITs to pass on information about dynamically generated code, e.g., unwind info. Maybe we should consider trying this sometime, to make our stackwalks work. https://sourceware.org/gdb/onlinedocs/gdb/JIT-Interface.html#JIT-Interface. Apparently they used to just depend on frame pointer chaining, but that was changed.

[2018-04-09 15:55] sdmaclea commented on #16995
@BruceForstall The code should mostly be present in coreclr.  I have seen it working, but recently I have not been able to get it to work.  #16515

[2018-04-09 16:11] tarekgh commented on #17396
@sdmaclea can we repro this with this build?

[2018-04-09 16:16] brianrob commented on #4382
@lmeenhardt, using perf and/or LTTng is a reasonable way to go about this, especially if you want very detailed information.  This has been done before by others as well.  There are APIs to get the collection count as well as the amount of memory that has been allocated on the current thread, but if you want data per-GC then LTTng is likely your best bet.  Note that if you don't care about collect

[2018-04-09 16:18] sdmaclea commented on #17396
The failures are spurious.  I am unable to reproduce standalone.  So I need a full run to catch one of these.  And then they only occur every few nights.  I'll watch the nightly runs to see if we can get a failure w/ the `dlerror()` message.

Thanks for merging the extra debug info.

[2018-04-09 16:37] sdmaclea opened #17480 "[Arm64/Linux] tracevalidation tests failing in gcStress=0x2"
The following three tests have failed in gcStress=0x2 every night for the last 6 nights (passed 4/3 failed 4/4 to present)
[code]

Last passed on `f5cb31cdf5`  first noted failure `4942bb10b3`

Typical failure looks like
[code]
@BrianRob

[2018-04-09 16:42] CarolEidt opened #17481 "LSRA: Improve spill and partial spill for ymm registers"
Currently the register allocator will blindly save & restore a large vector that's live in a ymm register across a call (the upper half of the callee-save registers are not saved across a call for `FEATURE_PARTIAL_SIMD_CALLEE_SAVE`). It will then save & restore again across the next call, even if the register hasn't been modified.
Also, the determination of live largeVectors is made prior to the f

[2018-04-09 16:53] tannergooding commented on #17469
I would think that, at the very least, we should ignore the opcode (other than the "correctness/verifiability" checks) rather than throwing `InvalidProgramException`.

I do think that supporting the opcode would be beneficial though, as it is basically a built-in way of doing certain JIT hints (https://github.com/dotnet/corefx/issues/26188).

[2018-04-09 16:54] tannergooding commented on #17469
NOTE: Ignoring the prefix is allowed by the spec:

when it is executed. The byte that follows the instruction code indicates which checks can
optionally be skipped. This instruction is not verifiable.

any type checks normally performed as part of the execution of the subsequent instruction.
InvalidCastException can optionally still be thrown if the check would fail.

checks normally performed as

[2018-04-09 16:56] sharwell commented on #17469
This would also be a completely valid implementation of the instructions. Unlike the `tail.` prefix, the `no.` prefix specifies optional behavior.

[2018-04-09 17:11] dasetser commented on #17460
I agree it's just an expensive way to pass a byte array. On the original issue I suggested if they own the WCF service using a MemoryStream they should change it to use a Stream to use a Streamed transfer mode instead, which would make a lot more sense.

The problem is if someone needs to create a client to communicate with a service they don't own they don't have the choice to fix the issue and d

[2018-04-09 17:28] tarekgh commented on #17393
@shakeri looks what you did here is different than the original post which was changing the day of the month but there you are changing only the time.

It would be quicker if you can tell me what version of Ubuntu client you have used? and what is your time zone settings in that VM? Also, I assume you have turned the networking off on that VM before trying the commands, right?

from your last repo

[2018-04-09 17:29] sdmaclea commented on #17178
The first case above, System.IO.FileSystem.Tests is usually passing.  The test takes a long time in checked mode as discussed in #17414

[2018-04-09 17:40] BruceForstall commented on #16515
@kbaladurin Is there any reason why we don't have all the `FEATURE_GDBJIT` defines enabled for all Linux, or non-Windows, builds?

I've been using gdb on Linux/arm32 because I can't get lldb to work. Getting correct stack walking through managed frames would be great.

When you say `FEATURE_GDBJIT_FRAME` is "hard coded", is that because it expects a very specific frame setup form to be generated b

[2018-04-09 17:45] sdmaclea commented on #17178
I spent some time debugging System.Threading.Tasks.Dataflow.Tests.  Running each test case separately using the xunit `-method` option led to all tests passing.

By using the xunit `-parallel none -showprogress` I was able to determine which testcase was failing and or hanging in a particular run.  Ran the test 50 times, the failures were quite distributed.

[code]

Tried to use lldb w/ SOS to ide

[2018-04-09 17:51] sdmaclea commented on #17178
Running the System.Threading.Channel.Tests >50 times.
There were frequent test passes. ~30% of the test suite passed completely.

The failures were all in the `System.Threading.Channels.Tests.BoundedChannelTests` subset.

[code]

This looks like a promising place to continue investigation.  I will continue to look at the Channel tests to see if I can determine the root cause.

@kouvel @stephentoub

[2018-04-09 18:12] CarolEidt commented on #12867
This was fixed by #15596

[2018-04-09 18:12] #12867 closed

[2018-04-09 18:14] debayang commented on #17414
Below callers of the Object::ValidateInner() function with the checked binary.

<pre><code>
- [17.06%] Object::ValidateInner
   - instance void [System.IO.FileSystem.Tests] System.IO.Tests.File_Copy_str_str::CopyFileWithData_MemberData(char[],bool)
	 - 17.02% void [xunit.assert] Xunit.Assert::Equal(!!0,!!0,class [System.Runtime]System.Collections.Generic.IEqualityComparer`1<!!0>)
		- instance bool

[2018-04-09 18:17] debayang commented on #17414
@sdmaclea

Another option may be to skip the ValidateObject through a flag.
https://github.com/dotnet/coreclr/blob/master/src/vm/vars.hpp#L312-L313

[2018-04-09 18:24] sandreenko commented on #16995
(gdb) p/x $r0
$1 = 0x159c223d

[2018-04-09 18:28] tarekgh commented on #17178
I think if we can catch the exception inside the test (e,g, SingleProducerConsumer_ConcurrentReadWrite_Success) and dump the exact stack that may help to give some clue what could be the problem.

[2018-04-09 18:38] jkotas commented on #17414
How should I read this? I shows `System.Array::GetValue` as the caller, but with very small cost `0.02% Object::ValidateInner`.

[2018-04-09 18:46] brianrob commented on #17480
@sdmaclea thanks for reporting this.  I'll investigate.

[2018-04-09 19:05] debayang commented on #17414
@jkotas  Sorry for the confusion.  I have expanded the call trace.
Each of the callers eventually calls one of the Objectref overloaded operators which  internally calls ValidateInner().
So if we sum up the individual costs it sums up to ~17% in this case.

<pre> <code>
- instance void [System.IO.FileSystem.Tests] System.IO.Tests.File_Copy_str_str::CopyFileWithData_MemberData(char[],bool)

[2018-04-09 19:18] jkotas commented on #17414
Is it 17% of total time? That does not sound too bad...

[2018-04-09 19:25] ltrzesniewski commented on #17469
Yes, it's optional, and ignoring it would be the very least in order to satisfy the spec.

But I'd like to see it fully supported. I'm not familiar with the JIT implementation so I'm speculating here, but I'd guess that optionally *removing* existing checks shouldn't be too hard to implement.

[2018-04-09 19:29] erozenfeld commented on #17398
I don't see why. Can you explain?

[2018-04-09 19:30] sdmaclea commented on #17178
There are some stack traces in the logs.  Sorry I neglected to report them.

I gathered the log and gathered the exception stack traces.  I also noticed I missed one testcase failure in
`System.Threading.Channels.Tests.AsyncMultiReaderUnboundedChannelTests.ManyProducerConsumer_ConcurrentReadWrite_Success(numReaders: 10, numWriters: 1)`

Here are the timestamped exceptions extracted from the Saturd

[2018-04-09 19:36] debayang commented on #17414
Its 17% in ValidateInner self overhead. Including Children it ~40%.
Below child calls of ValidateInner().

<pre><code>
Children      Self  Command  Shared Object  Symbol
-   39.75%    17.06%  corerun  libcoreclr.so  [.] Object::ValidateInner
   - 22.69% Object::ValidateInner
      - 11.14% MethodTable::Validate
         + 6.72% MethodTable::SanityCheck
           0.96% WKS::GCHeap::GetGcCount

[2018-04-09 19:46] mikedn commented on #17398
What I tried was to use `curOffs - 1` for inactive functions here: https://github.com/dotnet/coreclr/blob/a788a72d5ac56ceb8285d14c87f9ccddc229be34/src/vm/eetwain.cpp#L4439

Callee saved registers were reported correctly (well, it seemed so) but `waitallex3` still failed, though in a different place than you show in your previous post. For me it failed in `FillStringChecked` due to an object refere

[2018-04-09 19:54] erozenfeld commented on #17398
I did something similar. I replicated this logic:
https://github.com/dotnet/coreclr/blob/a788a72d5ac56ceb8285d14c87f9ccddc229be34/src/vm/eetwain.cpp#L4793-L4809
to set curOffs on this line: https://github.com/dotnet/coreclr/blob/a788a72d5ac56ceb8285d14c87f9ccddc229be34/src/vm/eetwain.cpp#L4439

[2018-04-09 19:55] jkotas commented on #17414
I think we should look at this as a performance issue in the methods that are showing up in these profiles.

- Optimize the implementation of the reflection methods that are showing on these profiles, like `IsSubclassOf`. They make a lot of managed/native trips. This will make them both faster in general, and reduce the object validation overhead in them.

- Selectively suppress some of the object

[2018-04-09 19:57] mikedn commented on #17398
Yep, I did the same thing (except the `willContinueExecution` else which I suspect that it is not necessary). See my updated post, I pressed enter too early and you may have read an incomplete version of it.

[2018-04-09 20:01] erozenfeld commented on #17398
Yes,, I read an incomplete version. The explanation makes sense. Thanks!

[2018-04-09 20:03] fiigii commented on #17435
Sorry for the delay to reply. **I think the current best approach is to improve `GT_HWIntrinsic`'s load/store semantics even through that requires much effort.** We have discussed expanding Load/Store intrinsics to Ind/StoreInd in many places like https://github.com/dotnet/coreclr/pull/15991. However, `GT_IND/GT_STOREIND` nodes have no room to encode the modes of load/store intrinsics, and we will

[2018-04-09 20:16] CarolEidt commented on #17435
@fiigii - please do not work on a fix without having a discussion first about the requirements and the approach to take. This is a design issue, not simply a bug fix.

As I stated before, I would like to see a specification of the requirements *before* we even begin to talk about a solution. I still haven't seen that.

I still believe (without having seen evidence to the contrary, nor actually imp

[2018-04-09 20:16] stephentoub commented on #17178
If you're able to reproduce at will, I expect it would be instructive to output the type  of the object passed in here:
https://github.com/dotnet/coreclr/blob/a788a72d5ac56ceb8285d14c87f9ccddc229be34/src/mscorlib/src/System/Threading/Tasks/Task.cs#L3249
By construction we assume it's one of five things:
- `IAsyncStateMachineBox` (including things implementing it)
- `Action`
- `TaskContinuation` (i

[2018-04-09 20:33] mikedn commented on #14557
It's interesting to note that currently interlocked nodes fail to contain address modes:
[code]
Probably a side-effect of their special nature...

[2018-04-09 20:49] sdmaclea commented on #17178
For what its worth.  I tried running the System.Threading.Channels.Tests with `taskset 0x400` forcing it to run on cpu 11.  10 consecutive runs passed w/o failure.

[code]

Interesting two of the runs were substantially faster.

Also note above there is more than exactly one type of assertion bactrace.

I'll try to get the object type.

[2018-04-09 22:29] sdmaclea commented on #17178
Continued experiment above for 45 more runs before cancelling.  Total of 55 consecutive runs of System.Threading.Channels.Tests passed when `taskset` to run on a single cpu.  No unhandled exceptions.

[2018-04-09 22:42] BruceForstall commented on #4332
@kphillisjr Can this issue be closed? We have good arm32 and arm64 support now.

[2018-04-09 23:03] brianrob commented on #17480
@sdmaclea are you able to reproduce this?  I tried this with both the tip of master and ```4942bb10b3```, but I'm not able to reproduce the failure.  All of the tests pass on both of these with COMPlus_GCStress=0x2 on arm64 Ubuntu 16.04.

[2018-04-09 23:15] noahfalk opened #17484 "Provide guidance/tooling/support for profiling on ARM"
@raffaeler filed https://github.com/dotnet/cli/issues/8873 previously. It was closed there but it seems like a valid request that needed to find a new home so re-opening it here.

Please provide a way to measure performance of a NetCore app on ARM platform running Linux.
The best resource I am aware of is Sasha Goldshtein blog: http://blogs.microsoft.co.il/sasha/2017/02/27/profiling-a-net-core-app

[2018-04-09 23:15] noahfalk commented on #17484
@brianrob @valenis @vancem

[2018-04-09 23:15] noahfalk commented on #17484
cc @livarcocc

[2018-04-09 23:26] noahfalk opened #17486 "Make it easy to acquire all SOS binaries needed for debugging"
Tracking a request originally made here: https://github.com/dotnet/cli/issues/8872

Depending on the OS, debugger and runtime a developer needs different versions of the sos binaries (sos, libsos, libsosplugin). We are working to make it easier to acquire these binaries and filed this work item to track the work. I imagine a few things may need to happen (sub-divide this issue if needed, but retai

[2018-04-09 23:33] sdmaclea commented on #17178
@stephentoub After adding logging,  the first two reported exceptions, the
[code]
[code]
[code]

[code]

[2018-04-09 23:40] natemcmaster opened #17487 "arm32v7: ASP.NET Core applications die with segmentation fault on macOS Docker"
I'm trying to verify ASP.NET Core 2.1 works on arm32v7 using Docker 18.03-ce on macOS. ASP.NET Core applications can successfully be launched, but dies on the first HTTP requests with this error:
[code]

**Repro**
1. Create a dockerfile with the contents below and run `docker build . -t test-img`
2. Start a container with `docker run --rm -it -p 5000:80 test-img` and open a browser to http://local

[2018-04-09 23:46] brianrob commented on #17484
@noahfalk, thanks for bringing this over from the CLI repo.

@raffaeler, for the most part, you should be able to use the existing methods to measure performance on ARM running Linux.  We have a document on how to collect and analyze traces here: https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/linux-performance-tracing.md

You can also use the link provided above to Sasha'

[2018-04-09 23:46] noahfalk opened #17488 "Provide the ability to step into .Net Core Framework source using Visual Studio"
This issue tracks @raffaeler's request from https://github.com/dotnet/cli/issues/8872.

Likely this is the culmination of all our symbol publishing work tracked here:

- [x] Produce and upload symbols for Windows #10873
- [x] Produce and upload symbols for macOS #10872
- [x] Produce and upload symbols for Linux #10868

However, if there is anything additional that needs to be done to achieve sourc

[2018-04-10 01:24] sdmaclea commented on #17178
Running `System.Threading.Tasks.Tests` 50 times.
+ Passed 42 times.
+ `System.Threading.Tasks.Tests.TaskContinueWithTests.RunContinueWithStressTestsNoState` Failed 1 time with similar exception to above
[code]
+ `System.Threading.Tasks.Tests.TaskContinueWithTests.RunContinueWithStressTestsNoState` 2x hung
+ `System.Threading.Tasks.Tests.TaskContinueWithTests.RunContinueWithStressTestsNoState` 2x a

[2018-04-10 01:25] BruceForstall commented on #4204
I'm going to close this issue, assuming we won't support ARM chips without VFP for the foreseeable future.

[2018-04-10 01:25] #4204 closed

[2018-04-10 01:26] AndyAyersMS commented on #17473
I typically use the csc from the repo, which reports as 2.6.0.62316 (fbe99784), and compiles /o+ /debug:pdbonly (and here /langversion:latest to unblock `in`).

[2018-04-10 01:30] BruceForstall opened #17490 "Remove JIT LEGACY_BACKEND code"
Remove the obsolete JIT `LEGACY_BACKEND` code.

This was only ever supported for x86 and arm32. The x86 `LEGACY_BACKEND` path has not been built for tested for several months. For arm32, `LEGACY_BACKEND` is currently still built and can be tested, but RyuJIT/arm32 (the non-`LEGACY_BACKEND` code) has been the default for many months.

Also, delete the legacy backend support in netci.groovy, in the

[2018-04-10 02:35] danmosemsft commented on #17486
@janvorli

[2018-04-10 03:28] echesakovMSFT commented on #16963
I am trying to debug some random `SIGSEGV` issues we have when we are using R2R `S.P.C` on Ubuntu arm. This is blocking us from switching to R2R `S.P.C` (#17375) on Ubuntu arm CIs and all the tests must be run with IL `S.P.C.` now instead.

As an example, **JIT/Directed/intrinsic/pow/pow2_cs_r** is failing with high probability (but not always) when I use Checked R2R `S.P.C` for testing:

[code]
H

[2018-04-10 04:46] mikedn commented on #17473
Right, I'm using the csc that's installed by Visual Studio at `C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\15.0\Bin\Roslyn\csc.exe` and that one is 2.7. I tried the one from the repo but I get 2.8. I downloaded 2.6 from NuGet and the IL is indeed very different:
[code]

[2018-04-10 07:30] mikedn commented on #17473
Hmm? The IL code size improved from 2.6 to 2.7. Basically they started treating `Nullable<T>` as readonly and elided unnecessary copies.

[2018-04-10 09:39] shanshan0309 opened #17493 "CoreCLR failed to run test "baseservices.exceptions.XUnitWrapper" crashed"
CoreCLR failed to run test "baseservices.exceptions.XUnitWrapper" crashed on Windows with VS2017 Update2. This issue is caused by master branch revision [e7c7551](https://github.com/dotnet/coreclr/commit/e7c755118a97ed9cfb1b24a3c1e82007793fc227). Could you please help take a look at this? Thank you!

**You can repro this issue as the steps below:**

1. git clone https://github.com/dotnet/coreclr D

[2018-04-10 12:00] shakeri commented on #17393
@tarekgh
Thanks for reply.

`Ubuntu 16.04 LTS
`

[code]

No, i dont turned the networking off.

[2018-04-10 14:02] sdmaclea commented on #17396
Last nights run had two fails.
[code]
[code]

[2018-04-10 14:04] sdmaclea commented on #17396
Since it is so rare, I wonder if a simple retry would help.

[2018-04-10 14:23] adiaaida opened #17494 "[Perf] CreateStore task failing in scenario benchmark testing"
I've tested this a few times locally, and I can consistently repro it. When the MusicStore/AllReady CreateStore task runs in our perf harness infrastructure, we get the following error:

[code]

When I use the dotnet.exe downloaded by the tooling (with all environment variables set up correctly), but outside the harness, I get the same failure. However, when I manually download the exact same SDK

[2018-04-10 14:25] adiaaida commented on #17494
@adamsitnik @noahfalk @jorive Do any of you have any idea why this might be happening. It doesn't appear to be an environment issue. And the dotnet we install works with other benchmarks, just not with AspNet-GenerateStore.ps1.

[2018-04-10 14:41] pierslawson commented on #17438
Yes, by directly I meant from a command prompt on the Raspberry Pi a ran the cli from a local directory containing the code (I actually have the code residing on the RPi and shared using Samba with the Windows machine which is doing the compiling.

I have recreated this issue in the dotnet/cli#9039.

The inability to debug the published version I have already raised within OmniSharp/omnisharp-vsco

[2018-04-10 14:41] #17438 closed

[2018-04-10 15:02] RussKeldorph commented on #17468
@Petermarcu @richlander @janvorli

[2018-04-10 15:08] RussKeldorph commented on #17487
@Petermarcu @richlander @janvorli Updated QEMU needed?

[2018-04-10 15:11] RussKeldorph commented on #17493
@sywhang

[2018-04-10 15:36] janvorli commented on #17468
See my comment https://github.com/dotnet/coreclr/issues/9370#issuecomment-364912259
We want to support ARM32 Alpine, but in order to do that, we need a way to cross build for Alpine arm on x64. The cross build mechanisms that we have in our build now works only for debian based distros and uses qemu-debootstrap. That would not work for Alpine.
In the comment above, I've identified a potential way

[2018-04-10 15:38] Ninds commented on #16833
I have just tested this fix against 2.1.300-preview3-008443 and the bug doesn't seem to be there anymore.

Thanks !
N

[2018-04-10 15:39] tarekgh commented on #17393
please try to turn the networking off when you try that. the reason is, Ubuntu rest the time again according to the networking connections (the servers you connected )

[2018-04-10 15:43] RussKeldorph commented on #17434
Assuming Future.

[2018-04-10 15:44] RussKeldorph commented on #17448
@jeffschwMSFT

[2018-04-10 15:46] tarekgh commented on #17396
didn't the change of getting the error code used in this build? the error code may give some clue why this is happening?

Maybe, but we still need to understand why this is happening.

[2018-04-10 15:47] RussKeldorph commented on #17460
@danmosemsft

[2018-04-10 15:50] sdmaclea commented on #17396
@tarekgh Above the string returned by dlerror() is after the "Error: " i.e "/usr/lib/aarch64-linux-gnu/libicui18n.so.55: undefined symbol: udat_close"

Should we trigger a core dump?

[2018-04-10 16:05] kasper3 commented on #17486
Coming from https://github.com/aspnet/DotNetTools/issues/428, can SOS be also published as an official dotnet-cli tool?

@mikem8361, can you explain a bit what kind of version issues did you notice? With current state of CoreCLR master, libsos builds with LLB 3.[4-9], 4.0, 5.0 and the latest 6.0 and works with any one of them available at runtime. Perhaps things have improved in package managers f

[2018-04-10 16:10] janvorli commented on #17486
@kasper3 Until lldb 3.9, the plugin built for previous versions was crashing in new versions. It seems that the interface has either stabilized or just not changed since.

[2018-04-10 16:12] BredPet opened #17495 "[x86] RyuJIT jitting crash"
I try to compile some sample by ILC(CoreRT) compiler for ARM in cross mode. In debug mode there is no problem, but in release with -O3 there is an issue in dllimport.
Backtrace:
[code]
asm:
[code]
it's strange bug, if I allocate LoadLibErrorTracker by "new" instead just on stack, issue is disappeared.
In other working places esp value like 0xffffbc30, aligned 8.
In this case: 0xffffbc44

C# code i

[2018-04-10 16:14] tarekgh commented on #17396
@sdmaclea somehow I was expecting error number :-) so I didn't notice this.

searching the Web, looks the problem could be there is unstable ICU package installed on the system. here is one example https://forum.manjaro.org/t/icu-update-from-arch-breaks-various-apps-dependencies/22836. I don't know though why in our case this can happen? do you know what list of other apps/packages we install in o

[2018-04-10 16:15] kasper3 commented on #17486
@janvorli, would it help if we abstract out the methods in a shim like openssl shim in corefx?

[2018-04-10 16:17] sywhang commented on #17493
@shanshan0309 Thanks for reporting. This test had some dependencies that had to be met, so I took it out on https://github.com/dotnet/coreclr/pull/17482. If you update your branch to the latest master, it should be fixed already.

[2018-04-10 16:29] luqunl commented on #17150
Yes, Currently We rely on LoadLibrary to find the file in windows. We have seems couple complains about this and maybe it is time to fix this.

[2018-04-10 16:31] mikedn commented on #17495
You mean aligned 16, `movaps` expects that.

Most likely. AFAIR the native x86 Linux compiler(s) expect the stack to be 16 bytes aligned these days and some VM code likely fails to maintain alignment.

[2018-04-10 16:36] sdmaclea commented on #17396
@tarekgh It is possible the OS on my machines is contaminated with unstable versions.  When I get a chance I will try a clean install.

[2018-04-10 16:52] jkotas commented on #17495
This looks like a calling convention mismatch (stdcall vs. cdecl) in CoreRT.

From cursory review, the fix may look like something like this: https://github.com/jkotas/corert/tree/callconv (I have not tested this).

[2018-04-10 16:53] jkotas commented on #17495
This issue was moved to dotnet/corert#5672

[2018-04-10 16:53] #17495 closed

[2018-04-10 16:53] jkotas commented on #17495
This looks like CoreRT specific, not CoreCLR bug.

[2018-04-10 17:15] antonfirsov commented on #17434
@Petermarcu also make sure to use the [latest (beta-3)](https://www.nuget.org/packages/SixLabors.ImageSharp/1.0.0-beta0003) version of ImageSharp!

Based on your stack trace, you are using an earlier version, where the memory management is immature and sub-optimal!

[2018-04-10 17:17] RussKeldorph commented on #17478
@danmosemsft

[2018-04-10 17:48] echesakovMSFT commented on #16963
@jkotas Thanks for your answer, I tried to compile/run with your fix - still failing. Is any logging I can enable to detect what causes this race condition?

[2018-04-10 18:07] kasper3 commented on #17150
Wouldn't a simple probe fix this particular issue like @stephentoub mentioned:

https://github.com/dotnet/coreclr/blob/52a816d3011f4d03b80b5940dc036b40d701f52d/src/utilcode/longfilepathwrappers.cpp#L66

[code]

and the "larger group of work" can continue later? Are there any side effects using such an approach?

[2018-04-10 18:10] tarekgh commented on #17178
CC @AlexGhiondea

[2018-04-10 18:17] adamsitnik commented on #17494
I have no idea, but I will try to repro it.

[2018-04-10 18:40] echesakovMSFT commented on #16963
@jkotas I just went to see what `DBG_FlushInstructionCache` compiles to on Ubuntu arm:
[code]
and then replaced `MemoryBarrier` in your fix with `__asm__ __volatile__("dsb")` so `DBG_FlushInstructionCache` compiles to
[code]
 and the issue is not reproducible after that.

[2018-04-10 18:47] adamsitnik commented on #17494
@adiaaida I tried to reproduce the problem, but it works fine on my machine.

[code]

0. Does it fail every time? Or should I try  to run it few times?
1. Could you try to modify `AspNet-GenerateStore.ps1` and run the `dotnet store` with different log verbosity level to get more info about this error? for example: `--verbosity diagnostic`? Warning: the output is going to be huge.
2. Could you try

[2018-04-10 19:10] luqunl commented on #17150
@kasper3 , in my mind, this LoadLibraryExW code path is a very common. Previous I was thinking that this change should only affect Pinvoke.
I would change the following code
https://github.com/dotnet/coreclr/blob/430331c011a0460670e2743ab08caa36f914f52d/src/vm/dllimport.cpp#L6181

BTW, you may also need to deal with ".exe" extension.

[2018-04-10 19:15] janvorli commented on #16963
@echesakovMSFT can you please try if changing the "dsb" to "dsb ish" still works? I believe it should work and it should be better perf wise. The "dsb" as you can see in your generated code is equivalent to "dsb sy". The "ish" means inner shareable domain and "sy" means system. On all reasonable OS-es, all the processor cores are in an inner shareable domain.

[2018-04-10 19:24] mderoy opened #17499 "GCSample project file seems to be broken"
I was hoping to build the GCSample project and play around with it, but the solution doesn't seem to build...maybe due to some bitrot. After some project changes I see compile errors in windows apis and I'm not sure how to fix that.
Repro: open the GCSample.vcxproj with vs2015 or vs2017....try to build...see failures.

[2018-04-10 19:34] mikedn commented on #17499
GCSample is built as part of the main CoreCLR build, via CMake. Once you build coreclr you should be able to open the .sln file from coreclr\bin\obj\Windows_NT.x64.Checked\src\gc\sample

The GCSample.vcxproj that is in the sample source directory is a leftover from early days.

[2018-04-10 20:06] jkotas commented on #16963
Interesting, I would have expected `dsb` to be done by the `__builtin___clear_cache` helper that this calls. What does the disassembly for the helper at `0xb6505670` look like?

[2018-04-10 20:45] echesakovMSFT commented on #16963
Just realized that after I changed to `__asm__ __volatile__("dsb")` I was running with IL S.P.C.dl - that is why it didn't fail. When I switched back to R2R S.P.C.dll the problem still exists even with `dsb sy`.
I am sorry for misleading.

@jkotas The aforementioned helper does this
[code]
which at  `0xb6505678` goes to
[code]
which I believe calls corresponding syscall.

[2018-04-10 20:47] sdmaclea commented on #17178
My current working hypothesis is this is a ThreadPool issue.  i.e.  task being executed twice.

[2018-04-10 20:48] tarekgh commented on #17178
CC @kouvel for ThreadPool.

[2018-04-10 21:02] echesakovMSFT commented on #16963
Interesting that when I add `printf` to log `DBG_FlushInstructionCache` (and also remove `MemoryBarrier`) it *magically* starts passing the test.

For some reason I also consistently get message `PASSED` before last `DBG_FlushInstructionCache` call which is probably due to stream buffering.

[code]

[2018-04-10 21:38] noahfalk commented on #17494
FWIW, the entire usage of AspNet-GenerateStore.ps1 was a workaround for earlier CLI's that didn't have proper store integration built in. Presumably that is no longer an issue and no customer would run a script like this when they ran their own ASP.NET app. It might be more efficient to drop the powershell script and modify the test to use the supported steps real customers use.

[2018-04-10 22:48] jashook opened #17503 "build-test.sh no longer builds tests"
Looks like there was a recent regression that causes build-test.sh to not build the tests. It will unfortunately return a successful value for the test build making it look like the script completed successfully.

/cc @dotnet/jit-contrib

[2018-04-10 22:49] jashook commented on #17503
Will look at this most likely in a few weeks. If there is someone who wants to poach it from me please feel free.

[2018-04-10 22:55] CarolEidt commented on #17435
I had a discussion with @briansull and @tannergooding and I believe this is the best way forward:
- Make a new member of `genTreeOps` called something like `GT_HW_ADDR_MODE`. These would be instances of `GenTreeAddrMode`, which carries a base, an optional index, and a scale and offset, and is currently used only for `GT_LEA`.
- Any special characteristics of the addressing mode (non-temporal, alig

[2018-04-10 23:51] luqunl commented on #17150
You can call an exported function from an exe  through DllImport in CoreCLR, see
`        [DllImport("VsGraphicsDesktopEngine.exe", CallingConvention = CallingConvention.StdCall)]
        public static extern void Save();`

[2018-04-11 00:09] echesakovMSFT commented on #16963
After more debugging I can confirm that the failure always happen after `DBG_FlushInstructionCache(lpBaseAddress=0xb52eeff8,dwSize=20)` which is indeed as @jkotas said called from `DynamicHelpers::CreateHelper`
[code]

`lpBaseAddress` points to the helper we have already seen earlier
[code]
which is callee of the following
[code]

Now, as far as I understand from reading http://infocenter.arm.com/

[2018-04-11 03:18] sdmaclea commented on #17178
I drafted a changed to ThreadPool in #17508.  Running `System.Threading.Channels.Tests` w/ #17508 on linux-arm64 fixed all the Exceptions (sentinel related).  The hangs remain.

Running `System.Threading.Tasks.Tests` w/ #17508 on linux-arm64 now.

[2018-04-11 03:34] sdmaclea commented on #17178
#17508 also fixed all the exceptions previously seen running `System.Threading.Tasks.Tests` on `linux-arm64`.  The hangs also remain in this suite.

[2018-04-11 03:35] #17475 closed

[2018-04-11 04:43] shakeri commented on #17393
@tarekgh
I did these steps, but it still shows the time back one hour.
In the `Python `code it work correctly:
[code]
But not in `.NET Core`:
[code]
I think it's an bug.

[2018-04-11 08:50] 316181444 commented on #17343
Thanks a lot. I was Found bug is "Socket.SendAsync" never timeout. Thanks

[2018-04-11 09:01] startewho commented on #17499
There is a confuse where i read the code `gcsample.cpp`
when we set the object size like this:
[code]
it include the size of ObjHeader(8bites or 16bites)
,and when we
[code]
we just begin at the result of address ,shoud the code like this :

[code]
or there is some mistake in my thought.