[2018-09-17 20:54] #18831 closed

[2018-09-17 21:10] luqunl commented on #20001
@filipnavara, Could you give more info about how to repro this? I couldn't repro with the following code
` `
var c = new ManagementClass("Win32_BIOS");
System.Management.ManagementObjectCollection wmiNetAdapters = c.GetInstances();
 Console.WriteLine("Net adapters:" + wmiNetAdapters.Count);
``

[2018-09-17 21:16] filipnavara commented on #20001
I'll try to reduce the problem to simple app and post it. On my machine it was enough to just execute the single line and have the program run long enough that the `InitializeGuts` thread got executed. I used CoreFX and CoreCLR debug builds from today's morning built on my machine. There's a tiny chance that it may be something in my build setup that caused it, but it was easily reproducible withi

[2018-09-17 21:17] filipnavara commented on #20001
Oh, one thing that could be relevant is that I executed the application as "win-x86" runtime, ie. 32-bits.

[2018-09-17 21:29] luqunl commented on #20001
Let me try to use x86 and give update later

[2018-09-17 21:38] pieter-venter commented on #18705
I have tested this on the same Ubuntu 1804 machine. The repo above went from 14730 ms to 514 ms, on par with Windows.

[2018-09-17 21:48] janvorli commented on #20015
@sinisaz can you please try to run it couple of times and see if the call stack in GDB is always the same or similar? It might be caused by #18486.

[2018-09-17 22:58] jkotas commented on #20016
EnC added methods are hidden to the rest of the system today.

There are many ways that it manifest itself. For example, EnC added methods are not accessible via reflection for this same reason.

[2018-09-18 00:15] luqunl commented on #20001
still no luck, @filipnavara, Do you know the value for strManaged during assert? if yes, it will help a lot to repro this.

[2018-09-18 00:31] ArtBlnd commented on #19931
For unknown reason. I've recompiled Checked build for a many times. It just fixed. :<

[2018-09-18 00:31] #19931 closed

[2018-09-18 01:19] filipnavara commented on #20001
Thanks for taking the time! I will try to make a repro tomorrow and modify my runtime to print out more information.

[2018-09-18 02:51] liuhaoyang commented on #15375
I'm very interested in EventPipe. Where can I see the latest developments in EventPipe API?

[2018-09-18 05:55] dotnet-mc-bot opened #20022 "Test failure: CoreMangLib_cti._system_reflection_emit_opcodes_OpCodesConv_Ovf_U8_Un_OpCodesConv_Ovf_U8_Un_/_system_reflection_emit_opcodes_OpCodesConv_Ovf_U8_Un_OpCodesConv_Ovf_U8_Un_cmd"
Opened on behalf of @AriNuer

The test `CoreMangLib_cti._system_reflection_emit_opcodes_OpCodesConv_Ovf_U8_Un_OpCodesConv_Ovf_U8_Un_/_system_reflection_emit_opcodes_OpCodesConv_Ovf_U8_Un_OpCodesConv_Ovf_U8_Un_cmd` has failed.

    Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Console, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'

[2018-09-18 06:30] dotnet-mc-bot opened #20023 "Test failure: baseservices_exceptions._WindowsEventLog_WindowsEventLog_WindowsEventLog_/_WindowsEventLog_WindowsEventLog_WindowsEventLog_cmd"
Opened on behalf of @AriNuer

The test `baseservices_exceptions._WindowsEventLog_WindowsEventLog_WindowsEventLog_/_WindowsEventLog_WindowsEventLog_WindowsEventLog_cmd` has failed.

    Return code:      1
    Raw output file:      C:\\dotnetbuild\\work\\b7d12e91-0006-4f48-b585-0493803d0d4c\\Work\\aa0660f8-4813-42c7-9fc4-5e77874c0980\\Unzip\\Reports\\baseservices.exceptions\\WindowsEventLog\\Window

[2018-09-18 06:46] dotnet-mc-bot opened #20024 "Test failure: JIT_Regression._VS_ia64_JIT_M00_b80373_b80373_b80373_/_VS_ia64_JIT_M00_b80373_b80373_b80373_cmd"
Opened on behalf of @AriNuer

The test `JIT_Regression._VS_ia64_JIT_M00_b80373_b80373_b80373_/_VS_ia64_JIT_M00_b80373_b80373_b80373_cmd` has failed.

/home/helixbot/dotnetbuild/work/ef6c56df-33f8-4d96-9e4a-9f2c755c979e/Work/561bb0cd-25a6-4fa7-b028-e4f924aa2b6d/Unzip/VS-ia64-JIT/M00/b80373/b80373/b80373.sh: line 244: 25538 Segmentation fault      (core dumped) $_DebuggerFullPath \"$CORE_ROOT/coreru

[2018-09-18 08:37] geoffkizer commented on #19936
Yes, a pinned heap definitely helps for buffer scenarios. We have a bunch of these for things like SocketsHttpHandler and SslStream.

[2018-09-18 09:12] deinok opened #20026 "BitConverter.IsLittleEndian as a constant"
Seems like the static readonly field IsLittleEndian can be changed to `public const bool IsLittleEndian`

[2018-09-18 10:45] glatzert commented on #11681
The updates still do not Show up in our local WSUS - is there any Roadmap to this?

[2018-09-18 12:29] mikedn commented on #20026
That would prevent you from writing AnyCPU libraries that use `IsLittleEndian` because the value of the constant will be baked into your library at compile time.

Besides, there's little need for this to be a constant. The JIT already treats it as such.

[2018-09-18 13:07] filipnavara commented on #20001
[core.zip](https://github.com/dotnet/coreclr/files/2392746/core.zip)

This is the simplest repro I was able to produce. Curiously it doesn't crash when run from inside Visual Studio. However if it is built once and then run using `dotnet core.dll` from command line with the 32-bit `dotnet` SDK it produces the crash above.

[2018-09-18 13:08] sinisaz commented on #20015
@janvorli Thanks for the answer. I ran the project on three more raspbian overnight. It seems to me all have the same issue. these are the results:
pi@Unit9:/ga/linux-arm/publish $ sudo gdb ./FieldUnitDotNetCore -c core
GNU gdb (Raspbian 7.12-6) 7.12.0.20161007-git
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This i

[2018-09-18 13:13] sinisaz commented on #20015
BTW, I'm using the latest version of dotnet core : 2.2.100-preview1-009349

[2018-09-18 13:14] janvorli commented on #20015
@sinisaz I just got a report of the same issue from someone else, including a very simple repro. I've verified that it happens even with the latest version of coreclr from the master branch. I am looking into it.

[2018-09-18 13:29] filipnavara commented on #20001
Interestingly the initialization in the `System.Management` assembly is improperly guarded:

https://github.com/dotnet/corefx/blob/a0e4d78a74b241289dcf0c4c1c6fa026e394a150/src/System.Management/src/System/Management/ManagementScope.cs#L946-L969

If the `!MTAHelper.IsNoContextMTA()` branch is taken then two successive calls can start the initialization in a separate thread at the same time.

[2018-09-18 14:21] deinok commented on #20026
@mikedn, ouch i totally missed this.
Closing this

[2018-09-18 14:21] #20026 closed

[2018-09-18 15:16] bbc2 commented on #19908
Yes, Windows PDBs trigger the same error.  First bytes of the one Visual Studio generated for my sample C# application:

[code]

Using a different ISymUnmanagedReader implementation sounds interesting but I don't know how to ensure it's used instead of the shipped one (I'm not so familiar with Visual Studio and NuGet packages).  Also, since it's a DLL, I suppose it would need to be shipped along w

[2018-09-18 17:37] BruceForstall commented on #20024
This test fails in coreclr Ubuntu R2R x64 testing as well:

https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/x64_checked_ubuntu_r2r_flow/

(currently obscured by infrastructure "out of disk space" errors)

It seems it started failing at https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/x64_checked_ubuntu_r2r_flow/2621/, with one of these two changes:

https://github.com/do

[2018-09-18 17:42] mikem8361 commented on #20024
It can’t be 19911 unless the tests are debugging something. That change only affects messaging between the runtime and the debugger.

[2018-09-18 17:44] BruceForstall opened #20029 "[Linux/arm64] test b80373 fails"
Fails in many arm64 Ubuntu jobs. e.g.,

https://ci.dot.net/job/dotnet_coreclr/job/dev_unix_test_workflow/job/jitstress/job/arm64_cross_checked_ubuntu16.04_jitstress1_flow_prtest/14/

[code]

Related: https://github.com/dotnet/coreclr/issues/20024

Test is disabled in issues.targets.

[2018-09-18 17:50] mmitche opened #20031 "JitStress tests core dumping and filling up hard drives"
In this diff, there is a commit that causes the hard drive to fill up with core dumps (under /tmp/coredumps)

https://github.com/dotnet/coreclr/compare/1f5c48d10e97fb94aaf66efbfa1e989752a4ee02...fb4b1f70a47455b392231f97ab446f487c87521a

This should be fixed as it causes mass havoc for other runs.  As a workaround in the meantime, it would be good to disable dumping for these configurations or clea

[2018-09-18 17:58] jcouv opened #20032 "Roslyn async-streams tests fail on Core"
I'm working on async-streams for C# 8.0. Part of the feature is async-iterator methods, which allow both `yield` statements and `await` expressions to be used. Under the cover, we generate a state machine like for regular async methods, but also make use of `ManualResetValueTaskSourceLogic` and `IValueTaskSource`.

The problem is that all our tests for this feature work on the desktop runtime, but

[2018-09-18 18:04] echesakovMSFT commented on #20024
19933 changes only NuGet packages building step for Linux/arm

[2018-09-18 18:04] BruceForstall commented on #20031
Is this not done already? Do core dumps accumulate forever on a machine?

[2018-09-18 18:47] 4creators opened #20034 "Support HW Intrinsics in crossgen under control of ISA options"
Some applications using HW intrinsics could be short running tasks (i.e. image format conversion/resizing) which are launched by other applications on demand. In such scenarios it is beneficial to use R2R or native assembly to have faster startup time. Unfortunately time critical path will not be crossgened currently due to exclusion of methods containing HW intrinsics from compilation.

Crossgen

[2018-09-18 18:47] 4creators commented on #20034
cc @CarolEidt @jkotas @AndyAyersMS @tannergooding @fiigii @eerhardt

[2018-09-18 18:53] 4creators commented on #20031
My proposal would be to use clean volumes which are created specifically for single test run and all sources, build artifacts, tests, tests results, build tools, core dumps are downloaded or generated only on this volume. After run volume is unmounted and all data destroyed.

Best of the worlds would to use every time clean VHD with preinstalled system and tools and dump after each use.

[2018-09-18 19:11] 4creators commented on #20024
These are failures from my recent Ubuntu jobs:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_ubuntu_jitincompletehwintrinsic_tst_prtest/248/
JIT_Regression._VS_ia64_JIT_M00_b80373_b80373_b80373_._VS_ia64_JIT_M00_b80373_b80373_b80373_sh [FAIL]

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_ubuntu_jitx86hwintrinsicnosimd_flow_prtest/

[2018-09-18 19:42] jzabroski commented on #15375
Just follow Brian Robbins github activity feed: https://github.com/brianrob
- @brianrob

On Mon, Sep 17, 2018 at 10:52 PM Lemon <notifications@github.com> wrote:

[2018-09-18 19:58] RussKeldorph commented on #20031
On a quick scan #19702 stood out.  @jkotas?  I'm not saying it's a bad change, just wondering if it explains what changed.  If we can't stem the flow of dumps immediately, we could consider reverting temporarily.

Does anyone know offhand why dumps are placed in /tmp/coredumps?  I don't immediately see it in coreclr, so I'm wondering if it's coming from something else.

 @mmitche Is dumpling still

[2018-09-18 20:20] jkotas commented on #20031
I believe that we have been calling `abort()` that generates core dump both before and after the change on Unix. Feel free to rollback the change if you believe that it helps.

Another difference between good run and bad above run is that good run had no failures (ie no coredumps generated in any case) and bad run had failures (ie coredumps generated). It is quite possible that the problem is caus

[2018-09-18 20:28] mmitche commented on #20031
@RussKeldorph I don't think dumpling is a thing right now.  @4creators Given the number of dumps, it's kind of likely that the VM would have run out of space no matter what.  Today the dumps are going into /tmp, which is on a drive with not too much space (though it's generally clean).  It ran out of disk space in the middle of the run and would have no matter whether the machine was newly created

[2018-09-18 20:36] jkotas commented on #20031
Every single corefx test is failing with assert in this run. It means that it will generate 100s coredumps per run.

[2018-09-18 20:55] jkotas commented on #20034
There are other classes of methods that are not precompiled today and that are more common than methods with hardware intrinsics. For example, PInvokes are not crossgened today.

If you want this to make a difference for startup, those more common cases need to be dealt with first.

[2018-09-18 21:00] RussKeldorph commented on #20031
`'!"GetMultiRegCount called with non-multireg node"'`

@CarolEidt Can you look into fixing the assertion in case it's faster to do that than limit the damage from every test dumping core?

[2018-09-18 21:12] CarolEidt commented on #20031
I'll look at fixing the assert.

[2018-09-18 21:50] 4creators commented on #20023
Test is failing intermittently in Windiws x86 jitstress:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_jitx86hwintrinsicnoavx_prtest/319/

[2018-09-18 21:52] CarolEidt commented on #20034
I think this would require a non-trivial amount of design and implementation, and would need to be justified by some compelling use cases, with measurements of how we would expect the throughput to be positively impacted. While such switches are useful and common in static compilers, those are scenarios where a JIT doesn't usually exist.

Such a design would have to be carefully thought through fr

[2018-09-18 22:46] luqunl commented on #20001
From quick look, it seems you are right that two thread may initialize it at the same time. @pjanotti should know more about this.

Even with your code, I can't repro(bad luck for me).  Here is my steps
1. copy SDK from https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-win-x86.zip
2. unzip your core.zip into my local folder and add a RID into project file
3. dotnet build

[2018-09-18 22:54] filipnavara commented on #20001
I think it must be some sort of race condition in the initialization that triggers it. It's a bit difficult to debug when it doesn't happen under a debugger. I'll try to come up with a better reproducible way to trigger it.

[2018-09-19 02:43] chingchenms opened #20039 "Endless loop in UnwindManagedExceptionPass1 on ARM64"
The exception is because the native dll has some dependence not there, and triggers a type initiation exception,
This is a bug in this UnwindManagedExceptionPass1, it never exit, using lldb has clear proved it, I hope someone can fix it .

(lldb) bt
* thread #1, name = 'dotnet', stop reason = signal SIGSTOP
  * frame #0: 0x0000007fa5f3f7ec libcoreclr.so`_ULaarch64_access_reg + 40
    frame #1: 0x0

[2018-09-19 02:44] ReubenBond opened #20040 "Incorrect behavior when TieredCompilation is enabled"
Some Orleans users have hit an issue when running on .NET Core 2.1 with TieredCompilation enabled. After investigation, I believe the issue is a JIT bug related to TieredCompilation.

Repro gist: https://gist.github.com/ReubenBond/b5bdf98423d5279a8e9ae63a5e6e8f0a

In the repro, the line `return buff[offset];` will return `buff[0]` when TieredCompilation is enabled and `buff[1]` (correct) when Tier

[2018-09-19 02:56] sergeybykov commented on #20040
With issues like this it seems dangerous to me that `TieredCompilation` is enabled by default. If it wasn't and had to be explicitly enabled, our users (and us) would have an easier time finding the root cause. What baffled us here was that a trivial "default" project created with VS wouldn't work while another one with the same application code worked just fine.

[2018-09-19 03:54] BruceForstall commented on #20040
@kouvel @noahfalk @dotnet/jit-contrib

@sergeybykov Tiered compilation is not enabled by default for 2.1, only for 2.2 and the master branch, specifically to help flush out issues like this that we haven't encountered in internal testing.

[2018-09-19 03:58] BruceForstall commented on #19983
Yes, looks the same.

Another case:
https://ci.dot.net/job/dotnet_coreclr/job/dev_unix_test_workflow/job/jitstress/job/arm64_cross_checked_ubuntu16.04_jitstress2_tst_prtest/3/consoleFull

[2018-09-19 04:09] jkotas commented on #20032
The test hang here: https://github.com/xunit/xunit/blob/9d10262a3694bb099ddd783d735aba2a7aac759d/src/xunit.execution/Sdk/Frameworks/Runners/TestInvoker.cs#L268

XUnit's [`AsyncTestSyncContext::operationCount`](https://github.com/xunit/xunit/blob/9d10262a3694bb099ddd783d735aba2a7aac759d/src/xunit.execution/Sdk/AsyncTestSyncContext.cs#L16
) is 1. It means there was OperationStarted called without ma

[2018-09-19 04:11] jkotas commented on #20032
If it helps, here is where the async operation is started:

[code]

[2018-09-19 04:18] onionhammer commented on #20040
Yeah I think this is the perfect way to catch these issues before this goes into production

[2018-09-19 04:18] AndyAyersMS commented on #20040
This is actually a minopts bug...

We produce
[code]

[2018-09-19 04:36] jcouv commented on #20032
That is super helpful. Jared and I had traced to the xunit's `TestInvoker`, but hadn't managed to figure what it was waiting for.
I indeed do not generate any call to `SetResult` on the `AsyncVoidMethodBuilder` that is created in the state machine. That's because nobody is waiting for that result. I didn't realize that would have a negative impact.
I'll go ahead and close the issue. I'll revisit t

[2018-09-19 04:36] #20032 closed

[2018-09-19 04:51] AndyAyersMS commented on #20040
Seems like a missing spill check in the importer... if we go to load a local and it is address exposed we need to spill any calls. We do this for stores but not loads.

Prospective fix is to call `impSpillSideEffects` in `impLoadVar` for any address-exposed local.

[2018-09-19 06:28] AndyAyersMS commented on #20040
On second thought this is possibly an issue with `GT_INDEX_ADDR` (which only exists in minopts) is not evaluating the array operand before the index operand. Would explain why this fairly simple construct regressed only recently.

[2018-09-19 07:12] AndyAyersMS commented on #20040
Odd though that the source code insists index then addr is the right order.

[2018-09-19 07:33] mikedn commented on #20040
Insists in what way? It wouldn't be the first time when ordering is found to be buggy. Unfortunately ordering is "broken" by design in RyuJIT.

[2018-09-19 08:18] mikedn commented on #20040
I see, `GenTreeIndexAddr` sets `GTF_REVERSE_OPS` for apparently no reason. Hmm, seems like an obvious oversight.

[2018-09-19 08:52] AndyAyersMS commented on #20040
And then `fgSetTreeSeqHelper` double-checks that `GTF_REVERSE_OPS` is set.

Anyways undoing both those fixes the bug and doesn't cause any pri1 failures and modest minopts diffs (1147 out of ~192K methods). Will PR this fix and the test case in the morning...

[2018-09-19 09:04] ReubenBond commented on #20040
Thank you for root-causing this so quickly. The title does not accurately describe the issue, so please feel free to change it as you see fit.

[2018-09-19 09:04] mikedn commented on #20040
Yes, and that code should disappear. `GenTreeIndexAddr` is a normal binary op and it shouldn't have any special handling. `GenTreeVisitor` already lacks this special handling. (FWIW I'm looking into replacing `fgSetTreeSeqHelper` with `GenTreeVisitor` so that's why I'm interested in this case :)

[2018-09-19 10:30] #19954 closed

[2018-09-19 11:39] 4creators commented on #20034
Agree, multiversioning is a very complex problem which requires complex design work. However, simpler design in a first step, where a particular ISAs could be activated for `crossgen`, provides very good solution for multiple scenarios. It could be for instance a deployment scenario where installed application is crossgened during installation (similar to how `ngen` works) or which selects assembl

[2018-09-19 13:13] alpencolt opened #20041 "[Question] ARMEnabled knob"
CoreCLR has `ARMEnabled` knob. Is it related to ARM CPU or to [Azure Resource Manager(ARM)](https://docs.microsoft.com/en-us/dynamics365/unified-operations/dev-itpro/deployment/arm-onboarding)

cc @jkotas

[2018-09-19 14:14] jkotas commented on #20041
It has nothing to do with Azure Resource Manager.

It stands for [AppDomain Resource Monitoring](https://www.bing.com/search?q=AppDomain+Resource+Monitoring). It is not really useful in CoreCLR since it does not support appdomains.

[2018-09-19 14:51] sinisaz commented on #20015
Thank @janvorli ,
Hi @vivmishra, when can I expect this fix to be released?

[2018-09-19 14:59] janvorli commented on #20039
@chingchenms would you be able to provide a simple repro code that I can use to debug the issue? It looks like there may be a problem with the native unwinder library not unwinding some native frame correctly.

[2018-09-19 15:04] #20041 closed

[2018-09-19 15:11] alpencolt commented on #20041
Thank you!
cc @gbalykov @BredPet

[2018-09-19 15:44] sergeybykov commented on #20040
@BruceForstall Sorry, I probably confused it with 2.2. It was surprising that two people in our community ran into this independently with Hello World kind of apps.

What do you recommend with should do at this point. We are holding a release (Orleans 2.1.0) until we sort this issue out. Should we just document that there's a known issue with tiered compilation, and it should be turned off until t

[2018-09-19 16:14] kouvel commented on #20040
@sergeybykov, which version of .NET Core is Orleans 2.1.0 targeting? I don't fully understand why this issue should block a release.

In .NET Core 2.1 tiered compilation is disabled by default, so if that's being targeted then some guidance may suffice, we can look into servicing 2.1 with a fix but it's not likely to happen.

.NET Core 2.2 is in preview mode and has not released yet, preview 2 rel

[2018-09-19 16:51] AndyAyersMS commented on #20040
Minopts (minimal optimization) is the fast-jitting mode that is used in tier0. It is also supposed to be the high-reliability jitting mode.

As for a workaround: the bug requires that the call and is immediately followed by indexing into the array. So if you can introduce an extra statement between the call and the array index it should avoid this issue, eg:
[code]
This also should be completely a

[2018-09-19 17:03] CarolEidt opened #20046 "[Arm64] Handling of implicit ByRef args is incorrect"
See PR #19223.
This impacts the `TestEchoThreeDoubleStructManagedNoVararg` and `TestEchoFourDoubleStructManagedNoVararg` test cases in tests/src/JIT/Directed/arglist/vararg.

[2018-09-19 17:15] RussKeldorph commented on #20040
Would this also repro when running under the debugger in VS regardless of the `TieredCompilation` setting?  @sergeybykov mentioned that

so I'm wondering if the `debuggable` code that VS requests by default (similar to `minopts`) is adding to the confusion about when this is likely to repro.  If it is limited to debugging scenarios in 2.1 as long as tiering isn't explicitly enabled, then perhaps @

[2018-09-19 18:16] onionhammer commented on #20040
I dont think this should hold up the release -- the same exact issue occurs in the stable version of Orleans already

[2018-09-19 19:28] tarekgh commented on #19912
I am not aware of any API support this scenario. you may create your custom type doing that.

CC @stephentoub just in case he knows any API doing that.

[2018-09-19 19:31] sergeybykov commented on #20040
@AndyAyersMS Thank you for the workaround. I think the problem is that we'd have to put in every piece of code every code path where this bug can manifest. I don't see how we can cover all such possibilities reliably. It seems to me we should still tell our users to disable `TieredCompilation` for now. Do you agree?

Later, when this issue is fixed, we can try to reenable `TieredCompilation` and r

[2018-09-19 19:42] AndyAyersMS commented on #20040
I understand the workaround may be impractical -- I looked over the sources but couldn't tell if the pattern was pervasive or just happened in a few places. The bug requires that exact sequence so I was hopeful it might be something that could be worked around easily.

Telling your users to not enable (2.1) or to disable (2.2, 3.0) tiered compilation for now seems prudent. We should have this fixe

[2018-09-19 20:16] RussKeldorph commented on #20022
Seems to be a one-off.

[2018-09-19 20:16] #20022 closed

[2018-09-19 20:36] stephentoub commented on #19912
There's nothing built into .NET, but you could easily build your own, e.g. (untested)
[code]

[2018-09-19 20:55] fiigii opened #20057 "Remove generic Intel hardware intrinsic and explode them on all the supported types"
According to the latest API review meeting, we determined that hardware intrinsic should explicitly be exploded on all the supported types (e.g., `Vector256<int>`, `Vector128<long>`, `Vector128<short>`, `Vector256<float>`, etc). This also makes it clear when/if support for new types (e.g., Half) are added in the future that they aren't supported in the older ISAs. But we may be able to have generi

[2018-09-19 20:58] tarekgh commented on #19912
@MatthewLymer I am closing this issue but feel free to reply back with any more follow up questions.

[2018-09-19 20:58] #19912 closed

[2018-09-19 21:17] tannergooding commented on #20057
CC. @terrajobst

[2018-09-19 21:43] EamonNerbonne opened #20060 "PLinq .Distinct() almost-deadlocks even under very light load"
The combination of `Task.Run` (or otherwise scheduling on a thread-pool e.g. via asp.net core controller) and PLinq `.Distinct()` causes thread pool starvation even under lightly loaded circumstances.  Many factors can contribute, but a simple and real-world case is simply when two requests happen to occur approximately simultaneously.

Once the threadpool is thus starved, if additional load comes

[2018-09-19 22:33] mattwarren commented on #19906
@4creators @Maoni0 my bad, I mis-understood what ZGC was. Thanks for the info, I guess I need to go away and do some reading :grin:

[2018-09-19 23:14] fiigii opened #20062 "Intel hardware intrinsic API change"
According to the second hw intrinsic API review meeting https://github.com/dotnet/apireviews/tree/master/2018/Hardware-Intrinsics-Intel, we need to change some intrinsic APIs and their implementation
1. Redesign SSE4.2 STTNI intrinsic
    - issue https://github.com/dotnet/corefx/issues/30373
    - PR https://github.com/dotnet/coreclr/pull/19958
2. 64-bit only intrinsics
    - issue https://github.

[2018-09-19 23:29] CarolEidt opened #20063 "[X64/Ubuntu] jitstressregs8 failure in StructABI test"
There are also 8 failures in the corefx tests with jitstressregs8:
[code]
When this bug is fixed, these should be check, and if they still fail, new issue(s) should be opened.

[2018-09-19 23:37] sandreenko commented on #19924
It can be relevant #dotnet/standard/issues/7. Don't know how it is connected with arm64.

[2018-09-19 23:37] #19710 closed

[2018-09-19 23:40] ZainRizvi commented on #14177
If this issue is fixed (as per the above comment from @AndyAyersMS) are you okay with closing it?

[2018-09-19 23:43] jkotas commented on #19924
The build is referencing .NET Core 1.0 version of xunit.console that has local public duplicate of MarshalByRefObject: https://github.com/xunit/xunit/blob/master/src/xunit.console/Sinks/MarshalByRefObject.cs

The fix should be to update the build to reference .NET Core 2.0 version of xunit.console that have it removed.

[2018-09-19 23:46] jkotas commented on #19924
https://github.com/dotnet/coreclr/blob/master/tests/src/Common/external/external.depproj#L10

[2018-09-19 23:53] BruceForstall commented on #19924
Is there a 2.1 version?

@sbomer

[2018-09-20 00:00] jkotas commented on #19924
xunit.console builds for netcoreapp2.0 only: https://github.com/xunit/xunit/blob/master/src/xunit.console/xunit.console.csproj#L7

netcoreapp2.0 should work fine. I do not think you need netcoreapp2.1.

[2018-09-20 00:50] echesakovMSFT opened #20066 "E_FAIL while crossgen a method with awaitable"
I am seeing many errors during crossgen of libraries in Core_Root that all looks like these
[code]
Crossgen ignores them and at the end says that native image generated successfully.

It seems that all failure occur at the exactly same place in coreclr https://github.com/dotnet/coreclr/blob/4b9a9d71b06fbce71c7d000e8b2ed3623976b30c/src/vm/ceeload.cpp#L5870

I could reproduce the issue on Windows an

[2018-09-20 02:00] jkotas commented on #20066
Yes, this looks like a bug
cc @fadimounir

[2018-09-20 04:58] sandreenko commented on #19413
Fixed by @mikedn #19621.

[2018-09-20 07:41] hahn-kev commented on #18323
I've been having this issue also. I may have just worked around it, but I can't be sure.

Our project is for dotnet core 2.1.0 running on Azure, the webapp starting blowing up in random places during a database call. I have some dumps from insights if anyone wants them.

We were deploying from TeamCity using a custom script, the TeamCity server was running dotnet cli 2.1.401, I deployed from my ma

[2018-09-20 08:00] Wraith2 commented on #20057
Are api reviews still recorded or noted somewhere?

[2018-09-20 08:03] fiigii commented on #20057
@Wraith2 https://github.com/dotnet/apireviews/tree/master/2018/Hardware-Intrinsics-Intel

[2018-09-20 08:51] ygc369 commented on #16931
@jkotas

Yes, I want this kind of caching GC handle, does the CLR team have any plan to provide it?

[2018-09-20 09:13] gornialberto commented on #10605
@metanoic I fully agree with you.  And this would help the porting of IoT Edge as well (https://github.com/Azure/iotedge/issues/12)

We should have an IoT Platform in our hands for less than 10$ !

[2018-09-20 10:36] EamonNerbonne commented on #20060
A much shorter example of the same problem without the realism would be something like this:

[code]

You'd expect that to run quickly, but it doesn't.

[2018-09-20 12:33] #14177 closed

[2018-09-20 12:50] MatthewLymer commented on #19912
Awesome, thanks for your help guys!

[2018-09-20 13:29] ygc369 opened #20074 "Question: Would Project Snowflake be merged into next version of CLR/C#?"
Project Snowflake: http://www.microsoft.com/en-us/research/publication/project-snowflake-non-blocking-safe-manual-memory-management-net/

[2018-09-20 14:04] jkotas commented on #16931
We are researching how to make GC work better with caching. We do not have a firm plan yet.
cc @Maoni0 @davmason

[2018-09-20 14:06] jkotas commented on #20060
cc @stephentoub

[2018-09-20 14:13] jkotas commented on #20074
We do not have plan to merge project Snowflake into mainline .NET Core. We have done analysis of the performance benefits on real world workloads. The benefits were not enough to justify the cost and complexity of the programming model.

BTW: One of the workload that showed the most promising improvements turned out to be hitting a GC bug. Once the bug got fixed, the promising improvements disappe

[2018-09-20 14:13] #20074 closed

[2018-09-20 14:18] 4creators opened #20075 "New type of CI failures: 'py' is not recognized as an internal or external command, operable program or batch file."
CI is showing new problems:

https://ci2.dot.net/job/dotnet_coreclr/job/perf/job/master/job/perf_perflab_Windows_NT_x64_full_opt_ryujit_smoketest_prtest/4759/

[code]

[2018-09-20 15:04] RussKeldorph commented on #20075
@adiaaida Are you working on this?

[2018-09-20 15:17] xaviersolau opened #20076 "[x64/CentOS7] createdump failing with message: terminate called after throwing an instance of 'PAL_SEHException'"
Environment:
[code]
I am trying to create a memory dump of a live .Net Core process. Unfortunately createdump itself crashs:

[code]
The crash is not dependent of the createdump option (same crash with -n and -h)

This issue is hard to reproduce since it doesn't occur on all .Net core applications. It may be related to the fact that I am using GRPC since when I remove the use of it from my code it

[2018-09-20 15:18] xaviersolau commented on #20076
I guess this may be related to the issue https://github.com/dotnet/diagnostics/issues/61

[2018-09-20 15:45] jkotas commented on #20076
cc @mikem8361

[2018-09-20 15:54] #19413 closed

[2018-09-20 16:18] adiaaida commented on #20075
@RussKeldorph Yes, sorry. The image that we created for the new perf machines didn't actually install python3 on it. I'm working on getting the image fixed and also updating the script to use the full path to the python3 install (#20059)

[2018-09-20 16:29] jkotas commented on #8002
This was done a long time ago.

[2018-09-20 16:29] #8002 closed

[2018-09-20 16:36] adiaaida commented on #20075
@RussKeldorph We may want to just revert my change until this is fixed. See #20058

[2018-09-20 16:38] mikem8361 commented on #20076
Thanks for the details.  I'll try to get this fixed soon.

Is there anything you could send me that repros the problem?

[2018-09-20 16:58] adiaaida commented on #20075
@RussKeldorph I have reverted the offending change. Once the image is correct and I can make sure the rest of the smoketest logic works correctly on it, we'll be able to move forward.

[2018-09-20 17:00] RussKeldorph commented on #20075
@adiaaida Thanks.

[2018-09-20 17:00] fadimounir commented on #20066
Yes looks like a bug in the encoding logic. I'll work on a fix (probably after 2~3 weeks since i'll be on a short vacation)

[2018-09-20 17:21] EamonNerbonne commented on #20060
Somewhat similar: https://github.com/dotnet/coreclr/issues/10292

[2018-09-20 17:41] tannergooding opened #20077 "Cleanup the managed DoubleToNum implementation after build-tools update"
As per the comments in https://github.com/dotnet/coreclr/pull/19999, we should update the managed `DoubleToNum` implementation to directly use `fixed-sized` buffers and also update the `DiyFp` class to no longer use properties, and to just directly expose the fields (since it is an internal type).

[2018-09-20 18:57] sandreenko commented on #18986
It stopped failing after #19359 (Change CoreLib native image to be R2R by default on all platforms)  was reverted by #19501.

Link #19502.

[2018-09-20 19:56] vancem commented on #19632
I have confirmed looking at a PerfView trace that we do in fact load two DLLs twice

Microsoft.SqlServer.Management.Sdk.Sfc.dll
Microsoft.SqlServer.ConnectionInfo.dll

You can see this by instrumenting your resolver

 * microsoft.sqltools.hosting!AssemblyLoader.Load

The rules for AssemblyLoadContexts are such that if the same assembly is loaded in different contexts will look like a differnet typ

[2018-09-20 19:58] sandreenko commented on #18986
Ok, it is another issue with struct promotion of `Low64`
[code]

The difference between this isse and #18988 is that in this issue the tree has an assignment:
[code]
that we corrupt with "Replacing the field in promoted struct with local var V46":
[code]
we should check in `fgMorphStructField` that types match.
cc @mikedn

[2018-09-20 20:42] #18910 closed

[2018-09-20 20:56] sandreenko commented on #18986
There are no overlapping fields in this example.

Why should not we? Structs with explicit layout are allocated on stack, so it should guarantee the layout of the fields. Could we have a ReadWrite or WriteRead conflict in this case?

[2018-09-20 21:05] mikedn commented on #18986
The Low64 property you are showing comes from this struct:

[code]

[2018-09-20 21:46] xaviersolau commented on #20076
Well in fact, I have a fix. I will make a pull request tomorrow...

[2018-09-20 21:56] mikem8361 commented on #20076
I was just working on fix too.

[2018-09-20 21:58] mikem8361 commented on #20076
I changed GetLocalSig to return E_FAIL instead of S_FALSE.  The upstream callers of all the functions that call this function handle actual failure better or the same.

[2018-09-20 22:02] #20040 closed

[2018-09-20 22:05] briansull commented on #18986
It is not a correctness issue, but I believe it is used to simplfy our implementatiion.
Rather that trying to determined if any overlapping occurs with a given struct's explicit layout
instead we just return false when wes ee the struct has an explict layout.

[2018-09-20 22:44] sandreenko commented on #18986
Yes, but there are two structs: `Decimal` and `DecCalc`, `DecCalc` has `StructLayout(LayoutKind.Explicit)]` and overlapping fields. I do not think that it makes `DecCalc` a struct with overlapping fields, does it?

and `Decimal` fields are declared as:
[code]
so they do not overlap.

[2018-09-20 23:18] BruceForstall commented on #19615
Done

[2018-09-20 23:18] #19615 closed

[2018-09-20 23:48] sandreenko commented on #18986
It looks too conservative, I think even VM can't give us this information, because we always can load a library  that adds new struct casts when we have already compiled other methods using struct promotions.

[2018-09-20 23:55] stephentoub commented on #20060
PLINQ achieves parallelism by partitioning the work and processing those partitions on multiple queued work items, defaulting to using Environment.ProcessorCount workers. In many situations, these workers can effectively run independently, e.g. if you just have a Where and a Select, the data can be partitioned and handed off to each worker, and each worker can run independently, with the only addi

[2018-09-20 23:58] AndyAyersMS commented on #18986
We generally don't need to worry about casts that aren't visible in the current method.

Implicit by-ref struct args, by-value struct args, and local structs are initially presumed to have unaliased fields. So we just need to look for evidence to the contrary within the method.

Evidence would be overlapping fields, addresses escaping, wider than field accesses, and casts of a byref for the struct

[2018-09-21 00:08] glenn-slayden opened #20086 "cpblk corruption with LOH block containing refs causes CLR fatal exit"
The **cpblk** instruction works fine for moving blocks which contain managed references, ***but only if the blocks are in generation 0***.  For objects in generation 2, a.k.a. the Large Object Heap (LOH), the CLR consistently fails and exits with a severe error (such as **FatalExecutionEngineError**), usually after a short delay which is consistent with the GC discovering corrupted object referenc

[2018-09-21 00:56] CarolEidt commented on #18986
I believe that @AndyAyersMS is correct in his assessment. Before `Unsafe.As` such casts were not achievable from C# (I don't think), so no surprise that this issue didn't arise previously.

[2018-09-21 01:22] sillyousu commented on #20076
will there be any chance to ship the fix with `dotnet core 2.2`?

[2018-09-21 01:33] #19906 closed

[2018-09-21 02:15] jkotas commented on #20086
Correct.

In the current GC implementation, the most critical part that cpblk is missing are card updates. The card updates are only done for references from older generation to younger generations. Thus you are most likely going to hit crash with missing cards when the references are pointing to Gen0.

Agree.

[2018-09-21 04:29] mikem8361 commented on #20076
Fixed in PR https://github.com/dotnet/coreclr/pull/20084

[2018-09-21 04:30] mikem8361 commented on #20076
I'll try to get it into 2.2 also.

[2018-09-21 04:45] sjb-sjb opened #20087 "Bug: RunContinuationsAsynchronously does not run continuations asynchronously - more cases"
It [has been reported](https://support.microsoft.com/en-ca/help/3118695/runcontinuationsasynchronously-does-not-run-continuations-asynchronous) that RunContinuationsAsynchronously does not run continuations asynchronously when Task.WhenAll, Task.WhenAny, or TaskExtensions.Unwrap are used to create the continuations.

The below shows that RunContinuationsAsynchronously also does not run continuatio

[2018-09-21 05:37] BruceForstall opened #20088 "[Linux/arm64] Assertion failed 'featureSIMD'"
With `COMPlus_FeatureSIMD=0`

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_jitnosimd_tst/2/consoleFull

[code]

[2018-09-21 05:41] BruceForstall opened #20089 "[Linux/arm64] TieredCompilation k-nucleotide-9 failure: Assert "About to FailFast""
With:

[code]

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_jitstress1_tiered_tst/2/consoleFull

[code]

[2018-09-21 05:43] sjb-sjb commented on #20087
Closing this issue as it appears to have the same cause as discussed in https://github.com/dotnet/corefx/issues/29664.
Namely, passing TaskContinuationOptions.RunContinuationsAsynchronously into the constructor instead of TaskCreationOptions.RunContinuationsAsynchronously.

You can see the bug in my test code above.

Would suggest that the signature of the constructor be changed to prevent this ki

[2018-09-21 05:43] #20087 closed

[2018-09-21 05:43] BruceForstall commented on #20089
Also seen with JitStress=2:

[code]

[2018-09-21 05:43] BruceForstall commented on #20089
@AndyAyersMS @kouvel This test failure looks specific to JitStress + tiering.

[2018-09-21 07:32] xaviersolau commented on #20076
yes I did the same on my side!

[2018-09-21 08:14] EamonNerbonne commented on #20060
Yeah, this answer is kind of what I expected; it's a design issue that isn't easy to overcome.  Thanks for the detailed answers!

Some ideas:

 - Querying the number of "really available" threadpool threads (= min + available - max) is fairly cheap (on the order of 20ns) and could possibly be cheaper if the api changes.  We're considering that as a mitigation: if it's below procCount, use a serial

[2018-09-21 11:12] benaadams commented on #20060
With the default OS thread stack sizes 10000 threads requires 80 GB of RAM on Ubuntu and 10GB of RAM on Windows (10000 x 8MB and 1000 x 1MB respectively)

[2018-09-21 13:08] svick commented on #20060
@stephentoub While I understand that PLINQ wasn't designed to work well in this kind of situation, it was also designed to look as a "magically make my code faster" button, so I think it should avoid such pathological behavior, at least with default settings.

While I don't understand the implementation of PLINQ very well, here are some ideas on how to improve this:

* As has been mentioned by @Ea

[2018-09-21 13:29] Megasware128 commented on #18846
@jeffschwMSFT I have the same issue when using AutoMapper. What is the status of this problem?

[2018-09-21 15:13] mshgh commented on #17468
@janvorli just curious has the target been discussed? Any chance for this to make it into 2.2? ;) Or at least the 3.0 mentioned above as "likely very reasonable target"?

[2018-09-21 15:55] stephentoub commented on #20060
It's not just about memory consumption.  Oversubscription, especially that degree of oversubscription, often leads to significant slowdowns in real workloads.  Caches get thrashed.  A disproportionate period of time gets spent on thread swapping.  Paging often increases significantly.  Plus the work being done by the workload often incurs its own issues, e.g. it becomes much more likely for thread

[2018-09-21 17:57] dagood opened #20092 "Native build fails on OSX when libintl is present"
Building on a Mac with `libintl` installed causes the build to fail:

[code]

@janvorli investigated:

As more repos are moving to build on the `dnceng` Azure DevOps instance using the machine pools that are set up there, dependencies are being added. ASP.NET Core needs `libintl` installed on Mac agents to build, so we can't just remove it. (Discussion: https://github.com/dotnet/core-eng/issues/42

[2018-09-21 18:45] Maoni0 commented on #16931
there are multiple ways to do things before and after a GC. you can do this via profiling

[ICorProfilerCallback2::GarbageCollectionStarted](https://docs.microsoft.com/en-us/dotnet/framework/unmanaged-api/profiling/icorprofilercallback2-garbagecollectionstarted-method)
[ICorProfilerCallback2::GarbageCollectionFinished](https://docs.microsoft.com/en-us/dotnet/framework/unmanaged-api/profiling/icorp

[2018-09-21 18:55] dagood commented on #20092
I tried this out in source-build with a patch on release/2.1, and got CoreCLR to compile on the Mac agent pool with `libintl`:

https://github.com/dotnet/coreclr/blob/cb730c5c1ec06547505590d7047c00108ac6783f/src/pal/src/configure.cmake#L40

[code]

[2018-09-21 19:36] janvorli commented on #20092
I think that disabling the libintl.h on OSX is the right thing to do. It was actually never intended to be used on OSX, the initial idea was that on OSX, we would use native ways of localization if possible. Btw, the localization support is present since 1.0, but we have never added the actual localized messages to the native runtime, so it is just sitting there.
@dagood, would you mind creating a

[2018-09-21 20:38] shueybubbles commented on #19632
ok between this post and some tips from Leila I think I found the offending code in the Sql Hosting code.
Thanx all.

[2018-09-21 20:38] #19632 closed

[2018-09-21 20:43] dagood commented on #20092
Sounds good, that direction makes sense to me. Is it ok if I submit it to `master` and you (or someone else) could port it to `release/2.1`/`2.2`? I'm not too familiar with the merging policy on the release branches right now.

[2018-09-21 20:59] #19682 closed

[2018-09-21 21:20] jeffschwMSFT commented on #18846
@livarcocc is there an issue tracking our potential work on aligning publish and bin?

[2018-09-21 22:44] Maoni0 commented on #16931
yeah, that was intentional because a GC can happen while you are doing things in managed code. so doing things "before a GC" doesn't mean a whole lot in managed code because another GC (or GCs) could happen while those things are happening.

[2018-09-21 23:39] glenn-slayden commented on #20086
@jkotas  Referring your [comment](https://github.com/dotnet/corefx/issues/5474#issuecomment-172378582) in a related conversation, it remains unclear to me whether the `stobj` instruction is GC-savvy or not. In other words, is the following generic function sanctioned for any/all `T`, value-types and reference handles alike?

[code]
Unlike `cpblk`, the `stobj` instruction _does_ indeed require a ty

[2018-09-21 23:53] jkotas commented on #20086
Yes, `stobj` is doing the proper GC tracking.

[2018-09-22 00:03] glenn-slayden commented on #20086
@jkotas Fantastic, thanks!

[2018-09-22 00:38] AaronRobinsonMSFT commented on #14884
I am inclined to accept this, but I would hope the generated MSBuild project files use the appropriate `Item` tags. @4creators can you confirm the tags the generated project files uses for these header files?

[2018-09-22 00:49] glenn-slayden commented on #20086
@jkotas Indeed, with `stobj` I'm seeing what I believe are the GC notification calls:

[code]

Beautiful amd64 generation, by the way. Never ceases to amaze me.

[2018-09-22 01:18] dstj commented on #13292
@janvorli mentioned a fix in 2.0.2, but as of 2.1.402, I can confirm that setting `<ServerGarbageCollection>false</ServerGarbageCollection>` can still have a huge impact on memory consumption.

Here's a graph from my dotnet core app (dotnet core + Angular) running on a Heroku Dyno. It's limited to 512MB and I constantly hit the limit before setting `ServerGarbageCollection` to `false`. It has no v

[2018-09-22 02:30] glenn-slayden commented on #20086
I also see that the x64 JIT is smart enough to **not** emit the GC notification calls for the generic instantiation of `!T` when it knows that `!T` is a value-type that does not contain any references.

That's great, of course, but it gets even more amazing when it somehow also correctly identifies as vacuous--and therefore eliminates--an explicitly-coded IL branch that depends on the *runtime val

[2018-09-22 10:01] 4creators commented on #14884
@AaronRobinsonMSFT

CMake by default classifies C++ files based on their extension and it means that all header files (`.h`, `.hpp`, `.inl`) are `Header Files` and are not passed to the compiler. Depending on which file types are passed to CMake C++ project additional filters for those file types are added to vcxproj. Existing examples are below:

### clrgc and clrjit projects with headers
![clrgc

[2018-09-22 11:45] DamianMehers opened #20102 "Tizen differing behavior with variable vs array element of sbyte"
Using the latest public bits (VS2017 15.8.5, VS Tools for Tizen 1.5.0.0,  Wearable (Preview) package 0.0.38), testing on a real Galaxy Watch (SM-R800, Tizen Version 4.0.0.0, Software version R800XXU1BRH3)), when I run this code:

[code]

I get:

[code]

When I use the same code on **Windows using .NET Core, I get 255 in both cases**.  It seems like a bug ... but not sure whether it is compile time

[2018-09-22 12:54] 4creators commented on #19797
### Proposal to make command line arguments accepted by `crossgen` executable more unix and user friendly

Motivation behind proposal is simplification of option names and alignment with unix naming conventions.

### Current command line
[code]

### Proposed changes

- Dropped `/` character as it indicates path separator on unixes.
- Introduced short and long options versions differentiated by `-`

[2018-09-22 12:55] 4creators commented on #19797
cc @Petermarcu @jkotas @zamont

[2018-09-22 16:28] pentp commented on #13544
Number parsing/formatting should be unified after #20080 is mirrored to CoreRT.

[2018-09-22 18:02] odhanson commented on #19735
@luqunl any estimate to when this might be incorporated into 2.1 ? We hade a workaround using our own  custom marshaller for BSTR but now we have found out that the custom marshaller doesn't work for structures that contain BSTR strings. So having this change incorporated will solve us a lot of time

[2018-09-22 19:03] gdkchan commented on #19888
I also had a similar problem with the following code:
[code]
After inline, the index value is constant, however the jump table fallback is still called. This is the assembly produced for `Test`:
[code]
The values are constant (0, 0x10 etc), but it still produces the call.

Trying to workaround the issue I wrote another version using a switch case that use the constant values directly instead of re

[2018-09-22 20:05] 4creators commented on #19888
All new work on HW intrinsics is in master branch what means that it is not available in 2.2 preview2 and will not be available in 2.2 RTM

### HW Intrinsic with immediate operand expansion

The method below cannot be handled correctly by Jit even with current not accepted solution from #19898.

[code]
The first problem is that Jit needs to recognize `index` variable as a `const` to be able to tri

[2018-09-22 20:13] 4creators opened #20106 "Reevaluate HW intrinsic immediate const parameters after method containing HW intrinsics is inlined"
The problem was described in https://github.com/dotnet/coreclr/issues/19888#issuecomment-423769762 and results from code quality question asked by @gdkchan https://github.com/dotnet/coreclr/issues/19888#issuecomment-423766095.

The code taken from OP illustrating problem is as follows:

[code]

Method `VectorInsertSingle` is inlined into method `Test` what should result in folding index into `cons

[2018-09-22 20:36] fiigii commented on #20106
I do not think `const parameters` can solve this problem.
We have decided that imm-intrinsic can accept statically non-const arguments, which leverages compiler optimization to provide optimal perf rather than reject user code at the very front end.

[2018-09-22 20:50] 4creators commented on #20106
This is not the problem which this issue describes. The problem is to avoid this implementation behavior.

[2018-09-22 20:57] fiigii commented on #19888
@gdkchan Thanks for reporting the codegen issue. The problem is different from this issue but also detected in https://github.com/dotnet/coreclr/issues/17108.

@CarolEidt @AndyAyersMS @mikedn @tannergooding
Currently, all the codegen issues of imm-intrinsic are from two aspects:
1. the importer does not fold some constant expressions, like `GT_CAST`
2. the const arguments flow from the function pa

[2018-09-22 21:31] 4creators commented on #19888
IMO we should reevaluate several problems:

1. We have mismatch between semantic requirements of imm intrinsics and C#/VB/F# semantics which will be impacting all future development of any intrinsic with immediate operands.

2. Current implementation despite providing ability to generate code for non const immediate parameters is undesired and avoided by users in other words it **solves problem fo

[2018-09-22 22:17] mikedn commented on #19888
Basically what you want is to expand on import and then attempt to expand again during lowering, hoping that non-const parameters have become const. Not expanding on import at all is not an option, you really don't want to keep a bunch of call nodes if you can avoid it. Allways expanding on import and falling back to call in lowering is not an option as well, at least not a trivial one. So you rea

[2018-09-22 22:41] gdkchan commented on #20106
Thanks for opening this issue.
Heres another example that is pretty much what I use on my project today:
[code]
I can get the expected results (minus other codegen issues I already noted on that issue) with this:
[code]
I rely on the JIT to do the right thing here, producing the best code possible if SSE 4.1 is supported (the whole method should translate to single instruction), and if it's not th

[2018-09-23 04:26] #5519 closed

[2018-09-23 09:06] pellet commented on #19578
I tried this version and it didn't work for me: `2.2.100-preview2-009404/Roslyn/Microsoft.CSharp.Core.targets(52,5): error MSB6006: "csc.dll" exited with code 139.` Preview 3 wouldn't get as far and broke on an unrelated parsing error.

[2018-09-23 10:52] 4creators commented on #2322
@jkotas @tannergooding

Seems that the proposal is already implemented and remaining issue are tracked in csharplang repo. IMO this should be closed.

[2018-09-23 15:34] AaronRobinsonMSFT commented on #20102
seems like a JIT issue.

cc @AndyAyersMS

[2018-09-23 15:41] AaronRobinsonMSFT commented on #14884
@4creators What is shown in the Solution explorer isn't actually relevant in this case - at least from a build perspective. That is handled by the `.filters` file and is orthogonal to what is defined in the generated `.vcxproj` file. Can you open the `.vcxproj` and ensure all header files are included using the `ClInclude` tag (e.g. `<ClInclude Include="pch.h" />`)? Thanks.

[2018-09-23 15:55] jkotas commented on #2322
Agree

[2018-09-23 15:55] #2322 closed

[2018-09-23 17:31] AndyAyersMS commented on #20102
cc @RussKeldorph

[2018-09-24 04:56] DrDao opened #20110 "Concurrentqueue Performance Issues"
I used some of the concurrentqueue to save the request, and when I measured it, I found that TPS dropped from 17000 to 3000.

When the test cycle was added to 50000, the Concurrentqueue had taken 1 points.

In applications where high throughput is required, concurrentqueue cannot be used at all.

![tim 20180924125445](https://user-images.githubusercontent.com/11530204/45938119-49c1ce00-bff9-11e8-9

[2018-09-24 04:57] Mr-Daomi commented on #20110
Performance is similar to single write

![tim 20180924125702](https://user-images.githubusercontent.com/11530204/45938130-6f4ed780-bff9-11e8-8e96-aa7dfee86272.jpg)
![tim 20180924125712](https://user-images.githubusercontent.com/11530204/45938131-6f4ed780-bff9-11e8-967c-48a9b530d389.jpg)

[2018-09-24 05:42] gauravagarwal28 commented on #19578
@pellet Can you provide more details about your platform so that I can know if we have the same issue or not?

P.S. I am not working on this anymore but would like to keep track of the issue for the future.

[2018-09-24 09:48] MarcoRossignoli commented on #20110
I think you should test with some kind of "lock" on `Queue<int>` to compare...i mean if you want to use "concurrent" structure i think you'are in concurrent environment so you need to syncronize access to "non thread safe" `Queue<T>` https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.queue-1?view=netcore-2.1#thread-safety.
Another advice...you should do test "isolated"(but mayb

[2018-09-24 11:08] DrDao commented on #20110
The issues has been transferred to Corefx.

https://github.com/dotnet/corefx/issues

[2018-09-24 11:39] dobrinsky commented on #14482
I am also getting this error after upgraded to core 2.1.4 and I do not understand from dotnet/corefx#19928
 what to do to make my app start.

@ibocon , can you please help us by telling how you managed to get over this error?

[2018-09-24 11:43] dobrinsky commented on #14482
I want to emphasize that even if I create a new project with dotnet core and Angular, after I

[code]

I get this error and I am not able to start my app

[2018-09-24 11:47] jkotas commented on #14482
If you are not able to start your app, you may be hitting a different issue.

This issue was about System.IO.FileNotFoundException messages showing in a debug panel. However, the application run well without stopping or malfunctioning.

[2018-09-24 11:51] dobrinsky commented on #14482
I am getting this with both my old projects after migrating to angular 6 and if I create a new one.

![image](https://user-images.githubusercontent.com/21820290/45950562-ff484d80-c008-11e8-9556-e9e7b9935e07.png)

This is a blank project. I will upload it to github and share the repository.

It can't be reflection since I do not use it for now in this new project.

In StackTrace property of the exc

[2018-09-24 11:58] dobrinsky commented on #14482
I wrote about my old project on stackoverflow at:

https://stackoverflow.com/questions/52440735/system-io-filenotfoundexception-could-not-load-the-specified-file-file-name

The new project repository can be found at

https://github.com/dobrinsky/Marksal-open.git

I am stuck at this point for a week almost and it is becoming really hard to understand why I am getting this error. Any help would be s

[2018-09-24 12:50] jespersh commented on #14482
@dobrinsky many different exceptions are expected and noncrashing. This is one of them. See https://docs.microsoft.com/en-us/aspnet/core/fundamentals/error-handling?view=aspnetcore-2.1 to capture startup errors. Also notice the "Server exception handling" section

[2018-09-24 16:09] #20110 closed

[2018-09-24 18:18] #1197 closed

[2018-09-24 18:18] jkotas commented on #1197
Fixed a long time ago

[2018-09-24 18:21] AndyAyersMS opened #20112 "JIT: audit places where minopts and debug codegen diverge"
Historically we haven't gotten the same amount of usage (especially on 3rd party code) for minopts that we have on debug codegen. With the advent of tiering this is going to change.

We should proactively check the code base to see if there are any other cases like `GT_INDEX_ADDR` (see #20040) where the IR shapes or IR transformations differ between minopts and debug.

There are a few known areas

[2018-09-24 19:29] kouvel commented on #12609
Closing based on #17807, please reopen if there are other things that should be covered by this issue

[2018-09-24 19:29] #12609 closed

[2018-09-24 19:44] kouvel commented on #18973
Closing based on https://github.com/dotnet/coreclr/pull/19691

[2018-09-24 19:44] #18973 closed

[2018-09-24 19:45] kouvel commented on #18971
@kouvel

[2018-09-24 20:12] kouvel commented on #12609
Adding a method-level opt-out is covered by https://github.com/dotnet/corefx/issues/32235

[2018-09-24 21:18] BruceForstall commented on #12782
We still use the "old mechanism" for running corefx jobs for all non-PR triggered corefx test jobs. Those clone the live corefx repo, build it, and run tests. We have that (now, as of a few days ago) for all architectures, and many JIT stress modes.

Thus, if the CoreMangLib directory is a subset of the full corefx repo, I don't think we'll lose any coverage because we have our existing pri-1 core

[2018-09-24 21:40] jkotas commented on #20102
cc @alpencolt

[2018-09-24 21:40] stephentoub commented on #19938
What is "reasonable"?  There's no value we could pick that wouldn't break some valid use case.  I understand your concerns, and I don't believe we should do anything here.

[2018-09-24 21:59] luqunl commented on #19735
@odhanson , the product part is done and the testing part should be finished in one or two weeks

[2018-09-24 22:36] MattGal opened #20114 "Transport feed URLs getting slightly munged, breaking CoreCLR release/2.2 build"
@dotnet-mc-bot commented on [Mon Sep 24 2018](https://github.com/dotnet/core-eng/issues/4226)

There were a set of failures during this build. Here is a summary of these:
* https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=2055537
  - **Agent:** DDVSOWINAGE100
  - **Error log:** C:\Program Files\dotnet\sdk\2.1.201\NuGet.targets(0,0): error : Unable to load the serv

[2018-09-24 22:38] MattGal commented on #20114
@GrabYourPitchforks I think this was caused by your changes to support feature/utf8string.  Basically, when the test builds happen they're looking for one container name (in the above example coreclr-release-2-2-20180924-02) when in reality some hyphens have been removed in the actual value.

It looks like while ParentContainerName was indeed originally just "ContainerName", it must have been gett

[2018-09-24 22:49] MattGal commented on #20114
I think I know what to look for at least;  While my previous suggested fix should unblock you either way, I bet there's someone changing '.' and '/' into empty char instead of -, like the PB_SanitizedContainerName thing does.

[2018-09-24 23:48] baal2000 commented on #19938
@stephentoub
@karelz

   We could've just been extremely unlucky, but this is the second time (see the [first](https://github.com/dotnet/corefx/issues/10040) instance) we have run into the problem in our production system due to `CancellationTokenSource.WaitForCallbackToComplete` logic causing the deadlock within the dotnet own code.
  If the expectation is that no-one should be employing synchron

[2018-09-24 23:51] #20015 closed

[2018-09-24 23:54] baal2000 commented on #19938
@stephentoub

After some more research on the subject, the proposal in https://github.com/dotnet/corefx/issues/14903 should be able to address the issue in the future. Right?

[2018-09-25 00:05] stephentoub commented on #19938
Yes, that's already been implemented. If you don't want to wait for the callback to compete, you can call Unregister instead of or before Dispose.

[2018-09-25 00:18] baal2000 commented on #19938
@stephentoub
Closing the issue due to dotnet/corefx#14903. Thank you.

[2018-09-25 00:18] #19938 closed

[2018-09-25 01:11] GrabYourPitchforks commented on #20114
I'll update the .ps1 file and see how it goes.

[2018-09-25 07:51] ZhiqiangTao opened #20122 "How to dump a .net core 2.0 console application in Linux Docker's container?"
I have an .net core 2.0 console application running in a Linux docker's container, some keys env as below:

1.docker base image:**FROM microsoft/dotnet:2.0-runtime**
2.Linux version:centos 7.2

Now, I want to investigate some problems, so I need to dump **in the docker inside**
Note: the .net core application in the docker container is running all the time, and **not crash**

[2018-09-25 10:10] alpencolt commented on #20102
@DamianMehers thank you for information.
@jkotas I think there was similar bug some time ago. Tizen 4 has CoreCLR 2.0 version with additional patches. Fix for this may be missed.

[2018-09-25 10:35] alpencolt commented on #20102
Looks the same #16675

[2018-09-25 11:16] mikedn commented on #20102
FWIW I can't reproduce the problem using ARM32 altjit in the current master, the generated code looks correct. I don't have ARM/Tizen hardware to actually test.

[2018-09-25 12:04] ZhiqiangTao opened #20123 "Fail to attach to the process when using lldb in Linux docker container!"
repro as below:
0. I have a simple console application as below:
![image](https://user-images.githubusercontent.com/16182251/46012596-54b15700-c0fc-11e8-875f-90d3b6f44186.png)
and a container is running.

1. docker exec -it 《container id above》 /bin/bash
print dotnet sdk version:
![image](https://user-images.githubusercontent.com/16182251/46012394-adccbb00-c0fb-11e8-8d14-c2c0de2f8082.png)

2. inst

[2018-09-25 12:08] ZhiqiangTao commented on #20123
what's wrong with it? Do I miss some important config?

[2018-09-25 12:40] alpencolt commented on #20102
@mikedn current master doesn't have legacy JIT code as far as I know.

Issue reproduce on code pre 2.1 release in regular Linux/ARM: RuyJIT works well, legacy prints:
[code]

[2018-09-25 12:57] janvorli commented on #20123
@ZhiqiangTao you need to run the `docker exex` as privileged (add `--privileged` option to the command line), otherwise it is not possible to use any kind of debugging (please note this is not specific to .NET core, but it is a general docker limitation).

[2018-09-25 17:11] AaronRobinsonMSFT commented on #14884
Can we close this now?

[2018-09-25 17:43] BruceForstall commented on #19971
Fixed. https://github.com/dotnet/coreclr/pull/20107

[2018-09-25 17:43] #19971 closed

[2018-09-25 17:43] BruceForstall commented on #19965
Fixed. https://github.com/dotnet/coreclr/pull/20107

[2018-09-25 17:43] #19965 closed

[2018-09-25 17:56] mikedn commented on #19705
It looks to me that the native test code is wrong:

[code]

[2018-09-25 18:01] 4creators commented on #14884
@AaronRobinsonMSFT Not yet. There are several projects which are waiting for conversion. I am doing it step by step.

[2018-09-25 19:38] lostmsu opened #20128 "Allow disabling strong name validation for an assembly per-process"
.NET Framework allowed to skip strong name validation via a user-wide setting for the development purposes. It poses known security issue, as not only the program, that is being developed will skip validation for a specific assembly/public key pair, but also all of the installed software run by the same user.

This feature request proposes to let processes control their own validation, so that in

[2018-09-25 20:51] GrabYourPitchforks commented on #20114
I found one more build definition where the .ps1 file was duplicated. Updated it and we'll see how it goes.

[2018-09-25 21:34] jkoritzinsky commented on #4875
Fixed by #17928.

[2018-09-25 21:34] #4875 closed

[2018-09-25 21:40] chabiss opened #20131 "New implementation for ICLRRuntimeHost::ExecuteInDefaultAppDomain for .NetCore 3.0"
XAML Visual Diagnostics and Edit-N-Continue need a mechanism for bootstrapping Microsoft.VisualStudio.DesignTools.WpfTap.dll into a running application for Visual Diagnostics to work

Here is how I think the injection may work in .NET Core 3.0:

1.	Find coreclr.dll instance that you like. It can be as simple as calling GetModuleHandle(“coreclr.dll”). Having multiple coreclr instances in the one pr

[2018-09-26 00:50] jkotas commented on #20128
This feature does not make sense for .NET Core. .NET Core does not ever do strong name validation.

Also, strongnames should not be used for security. All strong name documentation has warnings about it e.g. see https://docs.microsoft.com/en-us/dotnet/framework/app-domains/strong-named-assemblies.

[2018-09-26 00:50] #20128 closed

[2018-09-26 01:38] #20102 closed

[2018-09-26 01:39] GrabYourPitchforks commented on #20114
Builds are now succeeding (see https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2061522). Closing issue. Ping me if things go sideways again.

[2018-09-26 02:07] ZhiqiangTao commented on #20123
@janvorli
It's seems still not work:
![image](https://user-images.githubusercontent.com/16182251/46053060-ead49400-c173-11e8-8d5d-9a7fcdf435a7.png)

[2018-09-26 03:58] KodrAus commented on #19997
I've been curious about what's _actually in_ a p/invoke call, so started spelunking around [`dllimport.cpp`](https://github.com/dotnet/coreclr/blob/master/src/vm/dllimport.cpp#L4823-L5096). It looks like the `[UnmanagedFunctionPointer]` and `[DllImport]` approaches emit roughly the same code at runtime; they both end up wrapping the unmanged call up in some `IL_STUB_PInvoke`? Is there a bit more o

[2018-09-26 06:17] jkotas commented on #19997
The actual low-level details of what happens for managed->native transition are described in https://github.com/dotnet/coreclr/blob/master/Documentation/botr/clr-abi.md#per-frame-pinvoke-initialization

The "big picture" that this fits into is described in:

https://github.com/dotnet/coreclr/blob/master/Documentation/botr/intro-to-clr.md#the-concept-of-managed-code
https://github.com/dotnet/corecl

[2018-09-26 06:27] KodrAus commented on #19997
Thanks! That's exactly what I was after.

[2018-09-26 08:58] pellet commented on #19578
@gauravagarwal28 sure it's ubuntu 16 arm64.  I've switched to using mono for the time being.

[2018-09-26 15:07] MattGal commented on #20114
Very close, the values are now only off by one hyphen (the test build is still swapping the / in release/2.2 for a '-', while the real build for an empty char.

**What the test build is trying to load:**
https://dotnetbuildoutput.blob.core.windows.net/coreclr-release-22-20180926-02/DotNet-CoreClr-Master-1832/Release/pkg/index.json

**Actual:**
https://dotnetbuildoutput.blob.core.windows.net/corecl

[2018-09-26 15:47] stephentoub commented on #19758
This issue was moved to dotnet/corefx#32485

[2018-09-26 15:47] #19758 closed

[2018-09-26 17:11] RussKeldorph opened #20138 "CoreFX: System.Security.Cryptography.Pkcs.Tests.SignerInfoTests.SignerInfo_AddUnsignedAttribute_Adds failing"
[code]

[2018-09-26 17:30] echesakovMSFT opened #20140 "Ubuntu arm Pri1 tst jobs time out during "rm""
For example, https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_checked_ubuntu_tst/161/consoleText

[code]

Last successful test run was [Build #133 (Aug 24, 2018 3:10:57 AM) ](https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_checked_ubuntu_tst/133/)

[2018-09-26 17:31] echesakovMSFT commented on #20140
@dotnet/jit-contrib

[2018-09-26 17:40] RussKeldorph commented on #20138
This is hitting https://github.com/dotnet/coreclr/pull/20121

[2018-09-26 17:51] jashook commented on #20140
Upon initial investigation this timeout happens while building the test wrappers.

[2018-09-26 18:27] stephentoub commented on #19839
Thanks for reporting this.  This is a real problem.  More specifically, the issue I'm most concerned about isn't exactly what you highlighted, but a follow-on ramification of it: it's possible now that CancellationTokenRegistration.Dispose might return and after it returns the associated registration could still be invoked.  That's really bad, because the whole point of that Dispose guarantee (tha

[2018-09-26 18:52] jkotas commented on #20138
This is expected failure caused by outdated snapshot of CoreFX tests. Disable the test in https://github.com/dotnet/coreclr/blob/master/tests/CoreFX/CoreFX.issues.json to make it go away.

[2018-09-26 18:52] #20138 closed

[2018-09-26 19:46] GrabYourPitchforks commented on #20114
@MattGal Should I just special-case the "release/" prefix? It seems weird that some of our branches (feature/utf8string) expect the slash to be converted to a hyphen, and some branches (release/2.2) expect it to be removed entirely. Since our transforms don't follow a common convention special-casing might be the best option.

[2018-09-26 19:52] MattGal commented on #20114
@GrabYourPitchforks Anything using the master branch pipebuild here is using the same convention to modify ContainerName (I originally made this change specifically for this type of problem).  You're welcome to pick any convention you like as long as it's consistent; I'll provide my opinion and let you know if you fixed it, but the decision needs to be done by whoever owns the CoreCLR build on the

[2018-09-26 21:08] Eilon commented on #20066
Looks like we're seeing this on ASP.NET Core builds as well on Linux MUSL (but possibly elsewhere as well). Causing thousands of errors. It seems our build currently ignores these errors, so this doesn't appear to be blocking at this time.

[2018-09-26 22:05] sandreenko opened #20149 "Regressions in windows arm/arm64 hardware intrinsics tests."
There are 6 tests that regressed last week.
The last green job was [Sep 19](https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_checked_windows_nt_innerloop_tst_prtest/1619/).

Then it was failing because of infrastructure problems and now it fails with 6 failed tests.

Failing tests:
[code]

They all fail with:
[code]

[Example](https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_

[2018-09-26 22:06] sandreenko commented on #20149
cc @dotnet/jit-contrib.

[2018-09-26 22:08] 4creators commented on #20149
@sandreenko Looking into it.

[2018-09-26 22:10] benaadams opened #20150 "Non-finalizing TaskExceptionHolder type?"
If a `Task` is `await`ed (e.g. `ITaskAwaiter`) and faults the exception will always be surfaced so the exception could be stored in a `TaskExceptionHolder` type that doesn't have a finalizer?

/cc @stephentoub

[2018-09-26 22:16] juliusfriedman commented on #20150
I like the idea, in the interim I believe we could also choose to call SuppressFinalize in the catch block which would provide almost the same result in the short term.

[2018-09-26 22:34] 4creators commented on #20149
Regression was caused by  PR `Fix inconsistent Intel hardware intrinsic APIs` #19949 cc @fiigii @tannergooding

The reason for it is that the above tests were removed while they still remained on exclusion lists what leads to errors. There is an issue which tracks this behavior of Windows arm/arm64 infrastructure: #19882.

[2018-09-26 22:36] 4creators commented on #20149
@fiigii @tannergooding Do you intend to keep the above tests disabled or some of them could be reenabled? I am working on fix for this issue.

[2018-09-26 22:38] fiigii commented on #20149
I disabled them in that PR. Do we need more work for arm/arm64?

[2018-09-26 22:39] fiigii commented on #20149
Oh, I see, thanks.

[2018-09-26 22:40] 4creators commented on #20149
@fiigii Do you think that we can reenable `SumAbsoluteDifferences` and `MultiplyHorizontalAdd` or do you plan to change these APIs?

[2018-09-26 22:44] fiigii commented on #20149
I will write new test cases (template-based) for them. But CI is still stuck, and we need the API change flow back from CoreFX.

[2018-09-26 22:45] 4creators commented on #20149
OK than I will drop them from Test.lst what will fix CI. You would need to add back new tests to the list to keep CI clean when they are implemented.

[2018-09-26 22:47] fiigii commented on #20149
@4creators Thank you so much for the help!

[2018-09-26 22:55] 4creators commented on #20149
@sandreenko Fix for the issue is in #20151

[2018-09-26 22:57] markwilkie commented on #20114
@GrabYourPitchforks - Curious why you felt the need to email "heavy hitters"....  If we as a team are not handling this right in some way, we'd certainly like to improve.  Thoughts?

[2018-09-26 22:59] sandreenko commented on #20149
Thank you @4creators!

[2018-09-26 23:07] benaadams commented on #20150
Obv in the grand scheme of throwing exceptions; it might not be a huge factor

[2018-09-26 23:47] #20149 closed

[2018-09-26 23:55] stephentoub commented on #20150
How do you propose to make that happen in a way that doesn't negatively impact success cases? i.e. without adding interlockeds or increasing the task size?

[2018-09-27 00:10] benaadams commented on #20150
Move the finalizable part to a derived class of `TaskExceptionHolder`?

Not sure how to detect if it has an awaited continuation here though (to switch the type created based on it)

https://github.com/dotnet/coreclr/blob/28a8d423efc79c1cb2b23fa21747c5f7c5f7a057/src/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs#L1847

Don't think that would work for Tasks that complete synchronously ei

[2018-09-27 00:12] stephentoub commented on #20150
Sure, but how do you know when to use the derived type instead?  The awaiter would somehow need to communicate to the Task that it's being awaited.  Where does that information get stored in a way that doesn't negatively impact success cases?  And how does that information get stored in a thread-safe way that doesn't negatively impact success cases?

[2018-09-27 07:39] andrey-kosteley opened #20154 "Method Type.IsAssignableFrom(Type c) call NullReferenceException, when property UnderlyingSystemType = null"
Kind time of day.
Sorry for my English.

Environment:
I have a custom type - "MyType", the heir from the type "Type".
The "UnderlyingSystemType" property of my class is overridden and returns "null".
There is a variable of type "MyType", let's call it "myType_Variable".
And there is a variable of any type, let's call it "anyType_Variable"

A task:
Perform the method - Type.IsAssignableFrom(Type c)

[2018-09-27 09:54] davidfowl opened #20155 "Don't allocate the AwaitTaskContinuation when scheduling continuations via the IAsyncStateMachineBox"
Today when we're about to schedule the async state machine continuation (because it can't be inlined), we allocate an extra object that we then queue to the thread pool here https://github.com/dotnet/coreclr/blob/030a3ea9b8dbeae89c90d34441d4d9a1cf4a7de6/src/System.Private.CoreLib/src/System/Threading/Tasks/TaskContinuation.cs#L790

We can avoid this completely by making `IAsyncStateMachineBox` and

[2018-09-27 11:59] ayende opened #20156 "GC does not clean up memory allocated in same method"
This only happens in debug builds, when using release builds, the code below works properly.
During debug build, even though we have cleared the reference to `b`, the GC still maintains that it is tracked.
In fact, if we break into this using WinDBG, we can see that there _is_ such a root holding the value, but I can't figure out where it is coming from.

I'm aware of the release / debug GC behavi

[2018-09-27 12:42] dotnetjt commented on #19622
Any updates on this one?

[2018-09-27 12:54] stephentoub commented on #20155
Good idea. I'll take a look.

[2018-09-27 13:07] kaby76 commented on #17576
Now that I have Campy starting to actually work, I'm beginning a slow, painful process of porting System.Private.CoreLib to a GPU context (https://github.com/dotnet/coreclr/issues/17576 https://github.com/dotnet/coreclr/issues/11869 https://github.com/dotnet/roslyn/issues/14495 https://github.com/dotnet/roslyn/issues/7621 etc etc etc). C# lock () {} statements all have to be redone into non-blocki

[2018-09-27 13:46] jkotas commented on #20154
cc @steveharter

[2018-09-27 15:17] MichalStrehovsky commented on #16775
Repro for when this is problematic:

[code]

The `callvirt` case currently works and we do not want to pass an instantiation argument there because the vtable already has an instantiating stub. The `call` case breaks because the line in question decides we don't need an instantiating stub.

[2018-09-27 15:43] jkotas commented on #20156
This is same issue as:

https://github.com/dotnet/coreclr/issues/15207
https://github.com/dotnet/coreclr/issues/5826#issuecomment-226574611

The JIT can produce temporary local variables. These temporary local variables are outside your control and they may result into the reference lifetime getting extended. The likelihood of this happening is much higher with optimizations off. This issue can ha

[2018-09-27 17:15] stephentoub commented on #20150
Ah, you're suggesting that the answer to my questions of "where does that information get stored / how does that information get stored in a thread-safe way" is that the Task would look at its continuations list to see if there's a known await continuation object there, and if there is, treat that as meaning that the exception will definitely be observed and it could allocate the non-finalizable h

[2018-09-27 17:26] janvorli opened #20161 "Enable support for FixedAddressValueTypeAttribute in collectible classes"
This attribute is currently not supported on members of collectible classes. To make it work, we need to figure out a way to pin these static members in a way that would not prevent unloading.

[2018-09-27 17:30] mikem8361 commented on #20122
You can debug live/attach to your app from another shell running the same docker container or just run your app in the background.  lldb/SOS can be used to attach to the process and get the state of the managed threads/stacks: [doc](https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md#debugging-coreclr-on-linux).

You can also use the "createdump" utility

[2018-09-27 17:33] #20060 closed

[2018-09-27 17:54] janvorli opened #20162 "Ensure that [NativeCallable] works with collectible classes"
While it currently seemingly works fine,  the related UMEntryThunk leaks on unload. It can potentially result in crash later if the same MethodDesc address got reused.

[2018-09-27 18:09] janvorli opened #20164 "Enable COM interop support for collectible classes"
It is currently not possible to expose collectible classes via COM. It needs to be investigated to figure out what needs to be done to enable this feature and then fixed.

[2018-09-27 18:26] janvorli opened #20165 "Remove the need for blocking full GC after unloading of AssemblyLoadContext."
Currently full GC is forced to be blocking after an AssemblyLoadContext was unloaded. (the check is made in the GCToEEInterface::ForceFullGCToBeBlocking() -  the `m_pDelayedUnloadListOfLoaderAllocators != 0`).
We want to remove this limitation. It is likely that it is not needed at all and it is there for historical reasons, but we need to be sure it is really that case first.

[2018-09-27 18:33] janvorli opened #20166 "Add features to help diagnose unloading issues"
There are many things that can prevent successful unload of AssemblyLoadContext, like threads running in the context, GC handles holding references to objects of types loaded into the context, other external references to objects of types loaded into the context etc. It is inherently non-trivial to debug such issues and so we need to figure out what we can do to help diagnose such issues. This can

[2018-09-27 18:37] ayende commented on #20156
A slightly adjusted version is here:
https://gist.github.com/ayende/3788b7cebc63c1cdd7ab614186e6ca78

This simulates the original issue we had, a long running loop that holds state and clears it.
But the value wasn't cleared and so the value we held in memory over what we expected.
That led to us holding an entire object graph.

It doesn't reproduce in release, but I'm worried if something like th

[2018-09-27 18:58] #19839 closed

[2018-09-27 22:05] janvorli commented on #20156
A separate method would fix that reliably only if it is marked as non-inlineable.

[2018-09-27 22:08] sywhang commented on #19622
@dotnetjt I've identified the root cause - it has to do with ```ProfileArgIterator::ProfileArgIterator``` not respecting the calling convention difference between Windows/Unix systems. I am currently a little blocked with other work items in the GC space, but the fix for this will definitely make it into 3.0 preview.

[2018-09-27 22:14] janvorli opened #20168 "Enable regular test runs of CoreCLR tests in unloadable AssemblyLoadContext"
To make sure that new changes don't break the unloadability support, we need to enable regular (e.g. nightly) test runs where all pri-1 CoreCLR tests are executed inside of an unloadable AssemblyLoadContext. We will also need to have an exclusion list since some tests are not compatible with the unloadability (they e.g. start threads with infinite loops).

[2018-09-27 22:17] janvorli opened #20169 "Enhance GC ReliabilityFramework to use unloadable AssemblyLoadContext"
The GC reliability framework can run selected GC tests in various environments, including AppDomains on the desktop. To enhance our testing story for the unloadability, add support for running the tests in an unloadable AssemblyLoadContext as an option too.

[2018-09-27 22:28] janvorli opened #20171 "Verify correctness of caching and instantiation location of generics using collectible types"
The caching and instantiation location of generics using collectible types was designed for the purpose of collectible types in the past. There are concerns that in the world of multiple, possibly transient AssemblyLoadContexts, the existing design may not be ideal. We need to investigate that.

[2018-09-28 00:13] #20155 closed

[2018-09-28 00:28] davidfowl commented on #20155
Next time 😄. I'll be looking for more opportunities 😄

[2018-09-28 00:44] echesakovMSFT opened #20174 "The native project files are missing in Native/src/Interop/DllImportAttribute/ExeFile"
#19948 introduced regression in building Pri1 tests on Linux/arm64 [Build #175 (Sep 26, 2018 9:46:14 AM) ](https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_checked_ubuntu16.04/175)

The following command `build-test.sh checked arm64 cross priority1` fails building Interop/DllImportAttribute/FileExtensionProbe with
[code]

I believe this is not arm64 specific issue - this would fail

[2018-09-28 01:43] jkotas commented on #7829
Re-opening to track corefx test update

[2018-09-28 11:09] weliwita opened #20176 "Help passing multibyte unicode characters as string parameters to clr methods."
I'm trying to find the root cause of the issue I created in this repo(https://github.com/agracio/edge-js/issues/50).
I was trying to repro the issue with following steps.

1. Copied and ran the sample https://github.com/dotnet/samples/tree/master/core/hosting successfully.
2. Added the following method to my core app.
[code]

3. Calling the Run method from native code.
[code]
4. I got `A¥` for the

[2018-09-28 12:15] jkotas opened #20177 "Loading IJW assemblies as collectible"
Verify that it works or explicitly disable

[2018-09-28 12:16] jkotas opened #20178 "Loading R2R assemblies as collectible"
Verify that it works or explicitly disable

[2018-09-28 12:28] jkotas opened #20179 "Stacktrace formatting needs to be aware of collectible types"
The cache in https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.StackTrace/src/System/Diagnostics/StackTraceSymbols.CoreCLR.cs assumes that assembly metadata are not ever unloaded. It is not the case for collectible assemblies.

[2018-09-28 14:52] jsheetzati commented on #18323
We are also seeing this issue very intermittently like once a month, but when it happens our entire app service is dead in the water until we restart it.

[2018-09-28 17:04] luqunl opened #20182 "Add x-plat PInvoke BSTR Marshaling testcase"
PR: https://github.com/dotnet/coreclr/pull/19766

[2018-09-28 18:18] steveharter commented on #20154
This does appear to be a problem with coreclr. The netfx\.NET Framework version works with `null` and the code looks like:
[code]

In coreclr, no check for `null` is present:
[code]

[2018-09-28 19:30] briansull opened #20185 "Change VNUnpackExc to always write an exception set to pvnx"
The current implemerntation make ther user write:
[code]

Instead of having to pre-initialize `vnpTreeExc `to `VNPForEmptyExcSet()`
we can just have VNPUnpackExc writethis value instead.

[2018-09-28 23:31] jkoritzinsky commented on #7829
Test update is merged in so I believe we can close this.

[2018-09-28 23:31] #7829 closed

[2018-09-28 23:42] GrabYourPitchforks opened #20195 "We should obsolete the String.Copy method"
The `String.Copy` static method takes an input string instance and duplicates it, creating a new reference and copying the original contents into the new object. The method is contracted [per MSDN](https://docs.microsoft.com/en-us/dotnet/api/system.string.copy) to return a new object. (Contrast this with `String.Clone`, which returns the original instance.)

The only real use case for this is to c

[2018-09-29 00:49] jkotas commented on #20195
This is API proposal type of issue. Should this rather live in CoreFX?

[2018-09-29 00:52] ZhiqiangTao commented on #20122
thanks a lot

[2018-09-29 00:52] #20122 closed

[2018-09-29 01:31] benaadams commented on #20195
`string.Create<TState>(int length, TState state, SpanAction<char, TState> action)` formalizes the mutate newly allocated zero'd string prior to use pattern; while introducing safety via the Span and ensuring its not used prior to mutation.

For passing to native code which may mutate the string; shouldn't one of the `Marshal.StringToXxx` methods (+ free) be used instead for a defensive copy?

Does

[2018-09-29 03:34] ZhiqiangTao opened #20197 "A strange phenomena has occured when I using lldb-3.6 in docker container!"
Repro Step:
1. build a base docker images:
`
FROM microsoft/dotnet:2.0-sdk

RUN cd usr/share \
 && mkdir fonts \
 && cd fonts \
 && mkdir chinese \
 && cd ..

COPY msyh.ttf /usr/share/fonts/chinese
RUN chmod -R 755 /usr/share/fonts/chinese

RUN apt-get update && apt-get install -y fontconfig
RUN fc-cache
RUN fc-list

RUN apt-get install -y libgdiplus
RUN ln -s /usr/lib/libgdiplus.so /usr/lib/gdipl

[2018-09-29 07:37] ZhiqiangTao commented on #20197
my docker info is :
![image](https://user-images.githubusercontent.com/16182251/46242621-98a6a380-c3fd-11e8-9a10-72627bed8266.png)

[2018-09-29 13:05] benaadams commented on #20150
Yes; also when its only a single await continuation (common path); rather than list.

Never thought of doing that. Now you are just giving me ideas... 😉

Could additionally check the Action's Target and Method; though that's probably going to be slow...

The upside I see is if there is a whole chain of awaits then their will be a cascade of exceptions being thrown, caught and new ones thrown; so i

[2018-09-29 13:10] stephentoub commented on #20150
Correct

[2018-09-29 13:18] benaadams commented on #20150
meh :)

[2018-09-29 13:18] #20150 closed

[2018-09-29 19:40] davidfowl opened #20200 "Formalize the IStateMachineBoxAwareAwaiter pattern so that custom IValueTaskSource implementations can be allocation free"
This change https://github.com/dotnet/coreclr/commit/03ead514a3aa414b26246a4160d0593811fd1044 made it so that Task can resume state machine execution in an allocation free way. If we combine this change with https://github.com/dotnet/corefx/issues/32485 then we can expose a public version of IStateMachineBoxAwareAwaiter so that IValueTaskSource implementations can avoid the QUWI allocation.

cc @s

[2018-09-29 20:53] stephentoub commented on #20200
I'm reading between the lines, but presumably you mean if the IValueTaskSource wants to force the continuation to be asynchronous (since IValueTaskSource can already be allocation-free for the most common case of synchronous completion).

What would `IStateMachineBoxAwareAwaiter` look like?  How would it integrate with the rest of the system?  How would the IValueTaskSource implementation get ahol

[2018-10-01 04:58] weliwita commented on #20176
I found the answer here http://yizhang82.me/hosting-coreclr. But I would like to have a little more detailed explanation(docs) on how the default marshaling applied cross-platform.

[2018-10-01 08:27] weliwita commented on #20176
Adding [MarshalAs(UnmanagedType.LPUTF8Str)] to the managed method argument resolved initial issue. But still, I'm not able to pass a structure with UTF8 strings.

[code]
[code]

The CLR side.
[code]
[code]

Please suggest proper attributes or point me to some documentation where the marshaling behavior is defined.

[2018-10-01 11:10] nim commented on #10717
I have this problem in source line
var str = new FileStream(fullPath, FileMode.OpenOrCreate, fa, FileShare.ReadWrite, 1024);

.Net 4.6.1

[2018-10-01 14:49] stephentoub commented on #20200
Thanks.

My primary concerns here are that it a) exposes the inner workings of how async state machines are implemented, and b) exposes a non-trivial amount of complexity.  (a) is the bigger worry, as it can limit our ability to innovate in how this is implemented in the future; after all, up until .NET Core 2.1, none of that IAsyncStateMachineBox stuff even existed, with it overhauling how it was

[2018-10-01 16:48] luqunl commented on #20174
Fixed with https://github.com/dotnet/coreclr/pull/20192

[2018-10-01 16:48] #20174 closed

[2018-10-01 17:08] kvochko commented on #18375
We have gained about 15% launch time improvement after we merged app DLLs into one using ILMerge. We think the boost is due to eliminated indirect calls and more opportunitites for inlining. Would it be reasonable to expect the same kind of performance improvement with version bubbles?

[2018-10-01 17:15] jkotas commented on #18375
I think so.

[2018-10-01 17:16] davidfowl commented on #20200
That would be great in general and could improve more than just the await scenario. On that same thought process, can't we do something pretty evilish here? We could say that if the state object passed into `QueueUserWorkItem` or `UnsafeQueueUserWorkItem` is an  `IThreadPoolWorkItem` then delegate to QueueCustomWorkItem instead? That would avoid exposing any of the interfaces you're worried about

[2018-10-01 17:18] stephentoub commented on #20200
I'm not following.  Can you clarify?  If you have an IThreadPoolWorkItem, why would you pass it as the state object rather than just calling UnsafeQueueCustomWorkItem?  And in doing so ignore the delegate that's provided?

[2018-10-01 17:30] stephentoub commented on #20200
I think I'm missing something.  Are you talking about a situation where we publicly expose `IThreadPoolWorkItem` but not `UnsafeQueueCustomWorkItem(IThreadPoolWorkItem)`?

[2018-10-01 18:37] GrabYourPitchforks commented on #20195
Moved to https://github.com/dotnet/corefx/issues/32563.

[2018-10-01 18:37] #20195 closed

[2018-10-01 18:39] GrabYourPitchforks commented on #20114
@markwilkie Matt was OOF and recommended offline that I email the wider team since you'd all be more responsive.

[2018-10-01 19:56] kouvel commented on #20200
cc @tarekgh

[2018-10-01 20:57] MattGal commented on #20114
I believe this issue can be closed now btw, my most recent change seems to both satisfy prod con (https://mc.dot.net/#/netcore/22/latest ) and Levi's one-off build requirements.

[2018-10-01 21:50] mikem8361 opened #20205 "LTTng-UST: Error (-17) while registering tracepoint probe. Duplicate registration of tracepoint probes having the same name is not allowed."
Linux only. The above error happens when two different versions of the PAL are loaded/initialized causing two different versions of libcoreclrtraceptprovider.so to be loaded and register the same name.  It has happened when the managed code in SOS is hosted on a different version that the target. It has happened with the "createdump" utility.

In the debugger/sos process, the first PAL is in the D

[2018-10-01 21:58] briansull commented on #19651
This is fixed in the next Desktop CLR 4.8

[2018-10-01 21:58] #19651 closed

[2018-10-02 00:04] echesakovMSFT opened #20208 "[Linux/arm64] System.Collections.Tests Generic.Dictionary.DictionaryConcurrentAccessDetectionTests Failure"
**COMPlus_JitStress=2 COMPlus_TieredCompilation=1**

[code]

[2018-10-02 00:14] echesakovMSFT opened #20209 "[Linux/arm64] System.Collections.Immutable.Tests.ImmutableArrayTest.GetEnumeratorInvalid Failure"
**JitStress=2 TieredCompilation=0**

[code]

[2018-10-02 00:40] echesakovMSFT opened #20211 "[Linux/arm64] System.Numerics.Tests.GenericVectorTests.SquareRootSByte Failure"
**JitStress=2**

[code]

[2018-10-02 01:06] echesakovMSFT opened #20212 "[Linux/arm64] System.Security.Cryptography.Algorithms.Tests.AesCcmTests Failure"
[code]

[2018-10-02 01:43] echesakovMSFT opened #20215 "[Linux/arm64] System.Threading.Tests.InterlockedTests.MemoryBarrierProcessWide Failure"
[code]

This took me a while to reproduce - but I got at least five exact failures.

[2018-10-02 04:31] noahfalk commented on #18137
@bobuva - just wanted to mention https://github.com/dotnet/coreclr/issues/3894#issuecomment-421094674 here in case you hadn't seen it. If the startup hook would solve the issue for you equally well you might decide you'd prefer to use that vs. invest here.

[2018-10-02 04:44] noahfalk opened #20217 "Profiling: Make better docs about what metadata APIs are legal to call in which situations"
The profiler has pretty poor documentation in this area. What little that exists on David Broman's blog or MSDN is typically either overly loose  (we give the profiler writer the entire IMetadatEmit API and somehow expect them to know which modifications will work?) or overly restrictive (we say do all edits during ModuleLoadFinished, but some of them actually work later too)

We likely need to bu

[2018-10-02 04:58] noahfalk commented on #20217
There is some documentation describing that last category (d) here:
https://docs.microsoft.com/en-us/dotnet/framework/unmanaged-api/profiling/icorprofilerinfo7-applymetadata-method

[2018-10-02 07:18] UniverseHan commented on #19873
@mikem8361 I wanna try this. Could I ?

[2018-10-02 09:22] improbablejan opened #20220 "System.TypeLoadException thrown by the Runtime when using structs and generics"
The following snippet of code, when compiled and run as a standalone program, will compile just fine but throw a runtime exception:
[code]

Exception thrown:
`Unhandled Exception: System.TypeLoadException: Could not load type 'A' from assembly 'dotnet, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'.`

I have tested this with the newest public release of .NET Core I could find - `2.2.100-pr

[2018-10-02 09:41] noahfalk commented on #12609
It might be worth mentioning that the AggresiveOptimization happens to align right now with a method level opt-out for tiering, but developers shouldn't assume it will always mean that in the future. For example if we added a new faster Tier2 and the only way to reach it was to first profile Tier1 then we'd probably want AggressiveOptimization methods to move Tier1 -> Tier2 when possible.

[2018-10-02 10:30] hez2010 commented on #19578
The problem still exists on 2.1.402 and 2.2.100-preview3-009423.
But the problem doesn't exist on sdk 3.0.100-alpha1-009630 (host: 3.0.0-preview1-26928-03).

[2018-10-02 10:36] wernerplumot commented on #14482
I have the same problem.
File not found error: "Microsoft.AspNetCore.Mvc.Versioning.ApiExplorer.resources"
Even if I do not use the freaking dll. No solution found.

▶ | $exception | {System.IO.FileNotFoundException: Could not load the specified file. File name: 'Microsoft.AspNetCore.Mvc.Versioning.ApiExplorer.resources'    at System.Runtime.Loader.AssemblyLoadContext.ResolveUsingEvent(AssemblyNam

[2018-10-02 10:49] poizan42 commented on #20220
Your declaration is infinitely recursive. If every instance of struct A should contain B<A> which contains C<A> which contains A, then the struct would have to be infinitely big, that is obviously not possible.

You could question whether Roslyn should detect this and fail with CS0523, but note that it can only do so if all the types are declared in the same assembly.

[2018-10-02 11:37] improbablejan commented on #20220
`C` is a class, which breaks the infinite recursion. A more minimal example (apologies) which highlights the problem better and makes it more clear that there is no infinite recursion going on is this:
[code]

[2018-10-02 12:16] MichalStrehovsky commented on #20220
The second example is #7957, but it's possible the first one is related too.

[2018-10-02 12:28] improbable-nickkrempel commented on #7957
Suggest changing the title from "Unused generic type parameter ..." to "Self-referencing generic type parameter ...", as it's not related to whether the type parameter is used or unused - see @verelpode's example above, and also https://github.com/dotnet/coreclr/issues/20220, which now seems to be a duplicate of this.

[2018-10-02 12:29] improbablejan commented on #20220
Thanks @MichalStrehovsky

That does look like the same issue. I feel like the title in https://github.com/dotnet/coreclr/issues/7957 is a bit too narrow. https://github.com/dotnet/coreclr/issues/7957#issuecomment-411838562 describes a similar example to my original. The issue seems to be a cyclic recursion in type parameters of structs causing issues even if there is no cyclic reference in the str

[2018-10-02 12:41] opeca commented on #13542
Guys, I tried it, really, I wanted to use NET Core because of cross-platform possibility, but I fed up., This chaos with the references, cannot even revive the simple application on another windows machine for hours.

Thank you, anyway...

[2018-10-02 13:15] jkotas commented on #20215
This is most likely caused by `FlushProcessWriteBuffers` in PAL not being reliable. We may want to try to fix this by implementing https://github.com/dotnet/coreclr/issues/1563.

[2018-10-02 13:47] stephentoub commented on #20200
Ah, I understand, thanks for clarifying.  You're talking about using a sentinel action delegate, and then when it comes time to doing the invocation, comparing that sentinel and ignoring it and just invoking the work item state object.  As an internal implementation detail (ThreadPoolWorkItemDefaultAction would be internal to corelib), we could certainly look at doing that.  It would probably come

[2018-10-02 15:05] tylerohlsen opened #20222 "Optimizations when Environment.ProcessorCount > 1 in Kubernetes environment"
I've noticed that our pods on a Kubernetes/Docker cluster with millicpu allocations all report Environment.ProcessorCount = 1.

Does the .Net Core CLR have any optimizations when Environment.ProcessorCount > 1 that we are missing out on or is anything is disabled or degraded when Environment.ProcessorCount = 1?

[2018-10-02 15:18] benaadams commented on #20222
Threadpool min thread count and GC heaps (in server mode) are based on processor count. This may be desirable for GC as it will also use less memory (depending if the pod with a millicpu allocation also has lower assigned memory).

Threadpool min levels can increased with [`ThreadPool.SetMinThreads(Int32, Int32)`](https://docs.microsoft.com/en-us/dotnet/api/system.threading.threadpool.setminthread

[2018-10-02 15:27] janvorli opened #20223 "Verify that thread statics on collectible types work in DAC"
When regular statics support for collectible types was added in the past, the debugger support was difficult to get right. Perform necessary testing to make sure the thread statics work correctly in DAC with the recently made changes that added support for thread statics for collectible types.

[2018-10-02 15:31] echesakovMSFT opened #20224 "[Linux/arm64] System.Drawing.Drawing2D.Tests.LinearGradientBrushTests Failure"
[code]
In order to reproduce the issue **libgdiplus** library must be installed. Otherwise, the failing test methods are skipped.

[2018-10-02 15:46] dotnet-mc-bot opened #20225 "IBCMerge is 32-bit-only and can OOM, failing builds"
Opened on behalf of @MattGal

Warnings: 1
Status Message: failed

Build : 3.0 - 20181002.01 (Product Build)
Failing configurations:
- Windows
  - uapaot-arm
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/30/source/official~2Fcorefx~2Fmaster~2F/type/build~2Fproduct~2F/build/20181002.01/workItem/Orchestration/analysis/external/Link)

[2018-10-02 15:54] bobuva commented on #18137
@noahfalk I had heard about this -- thank you, yes it is probably a better way to go although the timing may be tricky. Thanks!

[2018-10-02 16:42] SergeyKanzhelev commented on #18323
What's the version of Application Insights extension is installed on web app with the repro? I'm pretty sure we fixed one of those year or two ago.

[2018-10-02 17:37] echesakovMSFT opened #20226 "[Linux/arm64] System.Buffers.ArrayPool.Tests.CollectionTests.PollingEventFire Failures"
CI failures in varieties of JitStress modes and also in TieredCompilation. For example, https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_ubuntu16.04_corefx_jitstress1_tst_prtest/1/consoleText
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_ubuntu16.04_corefx_jitstress2_tst_prtest/1/consoleText
https://ci.dot.net/job/dotne

[2018-10-02 18:35] danmosemsft commented on #19735
Reactivating for 2.2 port. (When buddy tested)

[2018-10-02 18:41] danmosemsft commented on #19698
Reactivating for 2.2 consideration.

[2018-10-02 18:42] danmosemsft commented on #19698
cc @tommcdon 	?

# Shiproom template
## Description
There is a race condition in the portable PDB metadata provider cache that leaked providers and caused crashes in the diagnostic StackTrace API.
To fix the race, detect the cause where the provider wasn't being disposed and dispose it.
## Customer Impact
Without this fix, the StackTrace API can crash.
## Regression?
No.
## Risk
Low.

[2018-10-02 18:43] stephentoub commented on #19754
The IO pool fires a different event, the IOThreadCreate event outlined at https://docs.microsoft.com/en-us/dotnet/framework/performance/thread-pool-etw-events#io.  It doesn't include a reason of "starvation" or not, but the only reason the IO pool injects additional threads is either due to being under the initial target limit (whatever the min defaulted to or was set to by SetMinThreads) or to st

[2018-10-02 18:50] jkotas commented on #552
The remaining work is tracked by https://github.com/dotnet/coreclr/projects/9

[2018-10-02 18:50] #552 closed

[2018-10-02 19:15] jsheetzati commented on #18323
Usually this error occurs deep down inside of EF Core somewhere after running a while. However, today, it happened during app startup from the looks of the trace. for The `SiteName` property on our `CeaOptions` class is a simple get/set. Restarting the App Service fixed the error.

**Environment Notes:**
- AspNetCore 2.1.2
- App Insights extension **not installed** for app service

**Exception:**

[2018-10-02 19:57] tommcdon commented on #19698
@danmosemsft The Shiproom template LGTM.   Yes we agree that this race condition should be fixed in 2.2.

[2018-10-02 20:10] MartinJohns commented on #552
@joktas Can't get keep this issue open until the feature is completed? It's much easier to be subscribed to one "overall" issue than several small individual issues in a project board.

[2018-10-02 20:17] tylerohlsen commented on #20222
FYI to anyone that stumbles across this.  Environment.ProcessorCount will equal the integer upper limit of resources you give a pod.

So this spec will report Environment.ProcessorCount = 4
[code]

And this spec will report Environment.ProcessorCount = 2
[code]

[2018-10-02 20:38] jkotas commented on #552
It is in the nightly builds and it should be generally working. The remaining work is a lot of extra testing and bug fixes.

If you were waiting for this feature, it is time to start giving us feedback - please give it a try and open issues on any problems you are running into.

[2018-10-02 20:51] kouvel opened #20229 "Add tests for MethodImplOptions.AggressiveOptimization"
- Depends on https://github.com/dotnet/coreclr/pull/20009
- Add test that verifies that the attribute causes the method to be jitted only once at tier 1
  - See https://github.com/dotnet/coreclr/pull/20009#discussion_r221808280
- Add perf test from issue (https://github.com/dotnet/coreclr/issues/19751) to performance repo

[2018-10-02 21:08] jashook commented on #19814
This has taken a bit to get to as it was no longer my highest priority work item. However, https://github.com/dotnet/coreclr/pull/20227 addresses a few of these problems.

@janvorli sequential test runs should be supported once it is merged again. In addition @4creators comment about escaped strings should be addressed. I have also updated my previous comment with the changes to show outstanding w

[2018-10-02 21:32] BruceForstall opened #20232 "[Linux/arm32/arm64] GitHub_19361 fails with timeout in debug test run"
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/arm64_cross_debug_ubuntu16.04_flow/

This is the only pri-1 test that fails in a debug run.

[code]

[2018-10-02 21:36] abock opened #20234 "macOS: Unable to read Apple keychain secrets from published osx.10.12-x64 binary after upgrading from netcoreapp2.0 to netcoreapp2.1 (native code gen problem?)"
This is a bit of a convoluted issue, but I ultimately believe this might be a bug/regression around the native code generation for published `osx-x64` apps when retargeting an existing app from `netcoreapp2.0` to `netcoreapp2.1`.

A full test case is available here:

* https://github.com/abock/dnc-macos-keychain-binary-acl-bug

## Detailed Description of Issue

Over the last year, with my app targ

[2018-10-02 21:39] sandyarmstrong commented on #20234
I can reproduce this with .NET Core SDK 2.1.301 as well (after editing `global.json` in the sample provided).

[2018-10-02 22:03] BruceForstall opened #20236 "[Linux/arm64] Common job failure: msbuild MSB4166 error"
This seems to be a common, non-repeatable, job failure reason for the Linux arm64 jobs (maybe others as well?)
[code]

This seems to mostly occur during the Docker build of the tests.

E.g.,
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_checked_ubuntu16.04_innerloop/43/consoleFull

[2018-10-02 23:21] danmosemsft commented on #18705
@peppy @pieter-venter @smoogipoo we are considering porting this into 2.2, which will release later this year. Is it acceptable for you to upgrade to that to receive the fix?

[2018-10-03 02:04] peppy commented on #18705
At our end we are tracking the latest releases so are eager to see this love as soon as possible!

In fact we are even willing to use nightly builds for this fix, but unfortunately they do not play well with Rider currently.

[2018-10-03 03:56] davidfowl commented on #19754
Nice! I still think we should add the event to the IO thread pool.  Then the tooling doesn’t need to do  too much to figure out the exact patterns here.

We also need an item for thread pool queue length/depth. I filed another issue for that

[2018-10-03 05:52] erik-forsmyr-stratsys commented on #18323
@chrarnoldus we did the same and inactivated the extension. Havent seen the error in a week or so.

[2018-10-03 05:59] FizzBuzz791 commented on #13662
@AtsushiKan any pointers on this?

Is this issue actually meant to be for the [dotnet/corefx](https://github.com/dotnet/corefx) repo? Seems like it might be, based on the PR above.

[2018-10-03 07:15] davidfowl commented on #20200
@stephentoub right. Agreed on the perf hit (I'd be surprised if it mattered but we should measure)

[2018-10-03 11:36] pieter-venter commented on #18705
2.2 would be great. We also move to the latest release as soon as possible.

With your guidance, I'd also be open to building a 2.1 release from source and applying the patch locally. My understanding is this fix requires rebuilding the SDK, not just coreclr.

[2018-10-03 14:40] tylerohlsen commented on #20222
Is @benaadams list exhaustive of the main optimizations?
Is there a recommendation for ensuring ProcessorCount is > 1 in heavy load environments?

[2018-10-03 15:11] stephentoub commented on #20222
No, there are lots of things that pay attention to Environment.ProcessorCount, or to the equivalent in the runtime's native code.  For example, various types create their data structures / layouts with input from ProcessorCount in order to try to minimize contention, e.g. Timer, ConcurrentDictionary.  Other types create object pools sized with input from processor count, e.g. HttpClient, SqlClient

[2018-10-03 15:16] benaadams commented on #20222
Only if you have ProcessorCount > 1 😄

For example spinning on a lock with one processor isn't good; because what is holding the lock will not make progress because the CPU is being used checking the lock, so its better that it goes straight to sleep releasing the CPU to whatever has the lock.

Whereas if you actually have more than one processor, it can optimistically spin a little in case its a

[2018-10-03 15:49] devKlausS commented on #18044
I tested with release 2.1.5 but unfortunately the issue still exists. I created new docker images based on 2.1.5 SDK and performed the tests like described above. Both test images get OOMKilled

### ServerGC=false alloc/free .NET CORE 2.1.5
    docker run -ti -m 100M schaefferlinkbit/dotnet_mem_allocator:1.0.5993_215_client_GC /alloc_mb=20
![image](https://user-images.githubusercontent.com/1367557

[2018-10-03 16:32] #18521 closed

[2018-10-03 16:39] kriskalish opened #20244 "Async Code Leaks in 2.1 Runtime, but Not 2.0 Runtime"
I have encountered an issue a specific instance of my code leaks when the .NET Core runtime is upgraded from 2.0 to 2.1. While the original code is too complex to post, I was able to reproduce the issue with a distilled example.

[code]

I can see how it would leak, if `MockWork` is compiled into a state machine with a property representing `bytes`, then the fact that `Main` holds a reference to a

[2018-10-03 16:51] stephentoub commented on #20244
It's expected.

In all versions before .NET Core 2.0, the Task object and the boxed state machine were completely separate, with the state machine boxed object referencing the Task, but not vice versa.  So, if you held onto the Task, you weren't keeping the state machine object alive, and if everything else dropped its references to the state machine object, it would be GC'd.  That would generally

[2018-10-03 17:13] Daniel-Svensson commented on #17684
Any current plan to update clang version? I have some new code which seems to crash clang 3.9.1 but works in newer releases.

[2018-10-03 17:49] janvorli commented on #17684
You can also use clang 4.0, 5.0 or 6.0 for building coreclr if you want. For official builds, we use clang 3.9.1 on x64 since we didn't hit any issues with it. We did hit some issues on ARM in 3.9.1 (incorrectly compiled synchronization intrinsics in non-optimized builds), and so we use clang 5.0.2 for arm builds.

[2018-10-03 18:47] echesakovMSFT opened #20246 "[Linux/arm64] System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests.SerializeHugeObjectGraphs Timeout"
`System.Runtime.Serialization.Formatters.Tests.BinaryFormatterTests.SerializeHugeObjectGraphs` takes more than 20 minutes

[code]

[2018-10-03 20:37] CarolEidt commented on #19034
Currently, IP1 is always being reserved, see https://github.com/dotnet/coreclr/issues/18190 (`REG_OPT_RSVD` is defined to be `REG_IP1` on arm64).

[2018-10-03 20:40] kriskalish commented on #20244
Thanks @stephentoub, your response gives me the background necessary to understand the issue and it makes a sense to me.

This is not a big issue for me because I can rework my code to drop references to the Task objects as they complete (I'm actually processing them in chunks). In reality I was only using the Task objects as a convenient way to grab the results from all completed Tasks. However,

[2018-10-03 20:59] CarolEidt commented on #19034
IP0 is used as `REG_INDIRECT_CALL_TARGET_REG` and `REG_FASTTAILCALL_TARGET`, however it only appears to be used for the latter, and is reserved during register allocation in that context.
For the former, there is code in `CodeGen::genCallInstruction()` (codegenarmarch.cpp) that is #ifdef'd out that uses it for a call target address.

[2018-10-03 21:02] CarolEidt commented on #19034
@sdmaclea - I believe that you were the one that indicated that IP0/IP1 are reserved in the ABI for linking stubs. I don't see anywhere that they are used for that purpose by the JIT, and any call stub would already be modeled as killing those registers. Is there something I'm missing, or can I close this issue?

[2018-10-03 22:49] craigpopham commented on #18323
I'm experiencing this issue on Azure App Service, with Core 2.0, and version 2.6.5 of the app insights extension. A restart resolves it.

Link to stack trace: https://gist.github.com/craigpopham/0b656cb0afbcc4f1a3c420d5421192a0
I have a debug snapshot for this stacktrace from the AI Snapshot debugger I can share privately if that's useful.

[2018-10-03 23:09] iskiselev commented on #18137
Should it be possible for profiler to specify assembly simple name? It will allow profiler to store in same directory different assemblies versions. If yes, we may want to have next method signature:
[code]
How should it work if there is already assembly path for assembly registered? Initially I thought that replca it with new one will be best option - profiler probably knows beter and can even ov

[2018-10-03 23:31] erozenfeld opened #20253 "JIT: Support object stack allocation"
This issue will track work on supporting object stack allocation in the jit. See #20251 for the document describing the work.

The initial goal is to be able to remove heap allocation in a simple example like this:

[code]

and then in a similar example where the class has gc fields.

Proposed  initial steps are:
- [ ] add getHeapClassSize jit interface method and its implementations
- [ ] add cla

[2018-10-04 13:39] sinisaz commented on #20015
Hi @janvorli , using the nightly build which includes #20116 and #20117, I run my project, but still get the same error:
pi@Unit4:/ga/linux-arm/publish $ sudo gdb ./FieldUnitDotNetCore -c core
GNU gdb (Raspbian 7.12-6) 7.12.0.20161007-git
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are fr

[2018-10-04 13:42] sinisaz commented on #20015
BTW, my dotnet version is: 3.0.100-alpha1-009630

[2018-10-04 13:51] sinisaz commented on #20015
This is also the output of running under gdb debugger:
Thread 6 "FieldUnitDotNet" received signal SIG34, Real-time event 34.
[Switching to Thread 0x6f9c9450 (LWP 11056)]
0x766b1e94 in JIT_MonExit_Portable () from /ga/linux-arm/publish/libcoreclr.so
(gdb) where
#0  0x766b1e94 in JIT_MonExit_Portable () from /ga/linux-arm/publish/libcoreclr.so
#1  0x71ba192e in ?? ()
Backtrace stopped: previous fram

[2018-10-04 16:06] janvorli commented on #20015
@sinisaz are you sure you are using the latest nightly build of the runtime and not just the latest nightly build of the SDK? These things can be different - the latest SDK can still be targeting and using older runtime.
To verify that, could you please run
[code]
and copy and paste the result here?

[2018-10-04 16:11] echesakovMSFT opened #20260 "[Linux/arm64] Assert failures during PMI System.Private.CoreLib"
[code]
The assert above fixed by #20285

[code]

[code]
The two assertions above fixed by #20306
[code]

**Steps to reproduce:**
1. Set these environement variables
[code]
2. Run PMI DriveAll (needs https://github.com/dotnet/jitutils)
`$CORE_ROOT/corerun pmi.dll DRIVEALL $CORE_ROOT/System.Private.CoreLib.dll`

[2018-10-04 16:16] sinisaz commented on #20015
@janvorli thanks for the quick answer. This is the result:
@(#)Version 4.6.26628.05 @BuiltBy: root-220e191eb7a3 @Branch: release/2.1-MSRC @SrcCode: https://github.com/dotnet/coreclr/tree/c6e7fbc5516842945b9b375f7724438dece10627

[2018-10-04 16:35] marler8997 opened #20261 "Infinite Loop in DBG_printf_gcc and DBG_printf_c99"
In `DBG_printf_gcc` and `DBG_printf_c99` there is an infinite recursive loop that occurs if the thread calling it is not a PAL thread.  They both call `InternalGetCurrentThread` which in turn will create the thread data structures if it's not already a PAL thread, which in turn can print more debug, which will then call `InternalGetCurrentThread` again which in turn will print more debug and so on

[2018-10-04 16:35] dseefeld opened #20262 "ildasm/ilasm fail to re-build the base System assembly (System.Private.CoreLib, System.Runtime or netstandard)"
Repro steps:
[code]

Expected result:
- new dll builds without errors.

Actual result:
[code]

[2018-10-04 16:39] jkotas commented on #20262
The problem is here: https://github.com/dotnet/coreclr/blob/master/src/ilasm/asmman.cpp#L251

The fix should be to:
- Add all known possible system module names to the above
    and/or
- Produce `.mscorlib` directive in ildasm when the assembly being disassembled is system module.

[2018-10-04 17:14] janvorli commented on #20015
Thank you, that means it is as I've suspected. The runtime version is release/2.1-MSRC with last commit from June 28, so it cannot have the fix. You need to update your .csproj to target the latest runtime by changing the TargetFramework:
[code]

You will also need to create a NuGet.Config file e.g. next to your .csproj containing the following stuff since the 3.0 packages are available on myget o

[2018-10-04 17:40] sinisaz commented on #20015
Thanks @janvorli , now I have this resault:
pi@Unit4:/ $ strings /ga/linux-arm/publish/libcoreclr.so | grep "@(#)"
@(#)Version 4.6.26927.03 @BuiltBy: root-9f97e44efa12 @Branch: master @SrcCode: https://github.com/dotnet/coreclr/tree/0bc8c62cfb7514b91b4ebd5f073835391e0502a3

I still get an error when run the project using the gdb debugger. not sure it is the same as previous or not!

Thread 11 "Fie

[2018-10-04 17:41] erozenfeld commented on #20253
We'll have to allocate space for ObjHeader before the stack-allocated object unless we can prove that it won't be needed for synchronization or hash code storage.

[2018-10-04 17:44] janvorli commented on #20015
The break on SIG34 is expected. We use this signal for internal purposes. You need to disable this signal in GDB:
[code]

[2018-10-04 17:52] jkotas commented on #20253
I think using sychronization, etc. should prohibit stack allocation, for the initial iteration at least. Otherwise, you would also need to helper call to clear these objects from the synchronization tables and teach the synchronization tables to allow references to objects that do not live on the GC heap.

[2018-10-04 17:54] mikedn commented on #20253
How would stack allocated object fields would be accessed? Would existing FIELD/IND nodes be replaced with LCL_FLD/LCL_VAR nodes? Are writer barriers still needed if the object is allocated on stack?

[2018-10-04 17:56] RussKeldorph commented on #20262
@jkotas Is there something intrinsic about a "system" module that ildasm can recognize, or would we have to hard code the list of known possible names there as well?

[2018-10-04 17:56] Suchiman commented on #20253
What would be the point of trying to synchronize on a stackallocated object? If it's considered for stack allocation then it means it doesn't escape which means no other thread can attempt to synchronize on it so any attempts to do so should be a no-op. The hash code could be derived from it's stack address as the object won't move until its deallocated.

[2018-10-04 18:00] erozenfeld commented on #20253
We'll need to detect calls to RuntimeHelpers.GetHashCode on the stackallocated object. They will be problematic if we don't allocate ObjHeader before the object.

[2018-10-04 18:00] RussKeldorph commented on #20261
@janvorli

[2018-10-04 18:01] erozenfeld commented on #20253
Stack allocated object will be treated like a struct and its fields may be promoted. No write barriers are needed if we are assigning to a field of a stack-allocated object.

[2018-10-04 18:04] erozenfeld commented on #20253
We will have cases where we are assigning to a field of an object that may live on the stack or on the heap (e.g., at joins or when passing a stack allocated object to another method). We'll have to detect these cases and use checked write barriers.

[2018-10-04 18:05] danmosemsft commented on #18705
@pieter-venter 	the 2.1 change would be https://github.com/dotnet/coreclr/pull/20239 - this isn't currently approved for 2.1 but you could build it.

[2018-10-04 18:10] erozenfeld commented on #20253
I suppose calls to RuntimeHelpers.GetHashCode will look like calls to native code so we will consider the object escaping and won't stack-allocate, so we don't need ObjHeader for that.

[2018-10-04 18:15] sinisaz commented on #20015
@janvorli Thank you so much.

[2018-10-04 18:31] danmosemsft commented on #19698
Shiproom Okayed this for 2.2, but deferred for 2.1.

[2018-10-04 18:32] #19698 closed

[2018-10-04 18:36] jkoritzinsky commented on #7793
I can replicate this on Win10/x64 with a `zh-CN` locale setting.

[2018-10-04 18:41] danmosemsft commented on #18705
You would presumably first build CoreCLR from the root, for your target platform. Once that is done @mikem8361 	is the best person to say which binaries you need to patch.

[2018-10-04 19:06] mikem8361 commented on #18705
You need all the coreclr binaries to make sure everything matches, but it should only affect libcoreclr.dylib libcoredaccore.dylib and libcoredbi.dylib.

[2018-10-04 19:09] jkotas commented on #20262
Mark it with `.mscorlib` if the assembly has no references. It is what Roslyn does: https://github.com/dotnet/roslyn/blob/fab7134296816fc80019c60b0f5bef7400cf23ea/src/Compilers/Core/Portable/ReferenceManager/CommonReferenceManager.Binding.cs#L938

[2018-10-04 19:56] sgf commented on #18339
[json-benchmark (java&.net)](https://github.com/ngs-doo/json-benchmark)
Java‘s DSL-JSON is so fast ...

The benchmark almost include the fastest .net json library,like jil,net json....
There was hardly any .NET JSON library can be higher.

when could be CLR can be faster more than JVM?

[2018-10-04 20:42] briansull commented on #18989
I could not repro this issue using my Desktop Windows system using the AltJit:

C:\fxkit\coreclr\bin\tests\Windows_NT.x64.Checked\JIT\Methodical\MDArray\DataTypes\float_cs_ro>set comp
COMPLUS_AltJit=*
COMPLUS_AltJitName=protononjit.dll
COMPLUS_JitStress=2
COMPLUS_JitStressRegs=4
COMPLUS_TieredCompilation=0

C:\fxkit\coreclr\bin\tests\Windows_NT.x64.Checked\JIT\Methodical\MDArray\DataTypes\float_cs

[2018-10-04 21:06] janvorli commented on #20261
@marler8997 thank you for reporting this. It seems we can fix it easily by not calling `InternalGetCurrentThread()` in the `DBG_printf_xxx` functions and passing NULL to `InternalEnterCriticalSection` and `InternalLeaveCriticalSection` instead. That would make these functions, resp the `ObtainCurrentThreadId` that these functions call, obtain the current thread id using platform calls (syscall or

[2018-10-04 21:32] CarolEidt commented on #18989
@briansull - I have encountered a number of places where an issue doesn't repro with the AltJit. Some of those I've addressed by adding HFA support to the altjit, but there are other cases where the differences in VM behavior cause differences in the IL we see, or the responses to VM queries.
You'll need to determine whether the bug still exists on actual hardware.

[2018-10-04 23:11] echesakovMSFT opened #20269 "[Linux/arm64] Assert failures during PMI System.Reflection.Metadata"
[code]

**Steps to reproduce:**
1. Set these environement variables
[code]
2. Run PMI DriveAll (needs https://github.com/dotnet/jitutils)
`$CORE_ROOT/corerun pmi.dll DRIVEALL $CORE_ROOT/System.Reflection.Metadata.dll`

[2018-10-05 00:03] echesakovMSFT commented on #20260
The simplest program that would case the first assertion on Linux/arm64 is
[code]

[code]

[2018-10-05 00:47] davidfowl opened #20273 "Clear the ExecutionContext on Task after it executes"
There's a scenario where you're caching data lazily that is computed asynchronously. Here's an example https://gist.github.com/davidfowl/94d1b7d60ad544289b5f60df4c8a6520. We have this global cache that stores asynchronously computed values, as a result it stores the `Task` itself in the cache so that multiple callers get the same value. As a result, the ExecutionContext is stored in the cache fore

[2018-10-05 00:59] sandreenko commented on #19924
I think I have seen this issue again recently, will check, maybe it was not fully fixed.

[2018-10-05 01:07] benaadams commented on #20273
Good catch; we use `Task<T>` often as an async version of `Lazy<T>` so the EC will be cached generally forever

[2018-10-05 03:14] olgierdd commented on #19578
Here is mine testcase:
The template "Console Application" was created successfully.

Processing post-creation actions...
Running 'dotnet restore' on myApp/myApp.csproj...
  Restoring packages for /home/rock64/dev/myApp/myApp.csproj...
  Generating MSBuild file /home/rock64/dev/myApp/obj/myApp.csproj.nuget.g.props.
  Generating MSBuild file /home/rock64/dev/myApp/obj/myApp.csproj.nuget.g.targets.

[2018-10-05 03:36] olgierdd commented on #19578
I installed preview version of dotnet:
rock64@rock64:~/dev/myApp2$ dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   2.2.100-preview3-009423
 Commit:    559795b616

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  18.04
 OS Platform: Linux
 RID:         ubuntu.18.04-arm64
 Base Path:   /home/rock64/dotnet/sdk/2.2.100-preview3-009423/

Host (useful for support):
  Version

[2018-10-05 04:04] roozbehid-ic opened #20279 "different behavior in dllimport in netcoreapp2.0 vs netstandard2.0 in Linux"
I've found some strange behavior when targeting netstandard2.0 and cost me at least 10 hours to find easy/strange fix.

foo.c:

    #include <stdio.h>
    void foo(void)
    {
      puts("Hello, I'm a shared library");
    }

run following commands in your bash

     gcc -c -fpic foo.c
     gcc -shared -o libfoo.so foo.o

test.csproj

      <Project Sdk="Microsoft.NET.Sdk">

        <PropertyGroup

[2018-10-05 09:33] janvorli commented on #19578
@olgierdd as for the package restoration issue, the arm64 2.2 packages for the runtime you are using are not on nuget yet. You need to add `NuGet.Config` file with the following contents next to your .csproj:
[code]
The same is tru in case you'd like to try the 3.0 SDK nightly builds.

[2018-10-05 10:51] #16775 closed

[2018-10-05 13:57] shahid-pk commented on #18339
@sgf that benchmark is not using .net core though. It might still be slower. But just pointing out.

[2018-10-05 15:22] MichalStrehovsky opened #20281 "Wrong check for default interface implementation at type load time"
Attempting to run crossgen on this results in a TypeLoadException because the runtime thinks we don't implement `IFoo<object>.Frob` when in fact we do. Next we'll likely hit #16355, but that's tracked separately.

[code]

[2018-10-05 16:30] tylerohlsen commented on #20222
I don't think it's that straightforward in a containerized environment.  The physical machine in one of our environments has 16 cores available.  But that is utilized across multiple pods and virtualized by docker.  The number of processors available to each pod?  That depends on how many pods I stuff onto that machine.  And even then, each pod is allowed burst beyond their requested and cpu alloc

[2018-10-05 16:42] jkotas opened #20282 "[TieredCompilation] Performance regression due to extra indirections (non-virtual case)"
Repro: https://gist.github.com/jkotas/56b1bdf1cdc98ab5b6d92974ff01b322

Results on current master Windows x64:

`COMPlus_TieredCompilation=1`: 20969ms
`COMPlus_TieredCompilation=0`: 11156ms

cc @kouvel @noahfalk

[2018-10-05 17:43] AndyAyersMS commented on #20260
I'll take a look at this first one since it is in the undo box logic I added.

[2018-10-05 19:26] AndyAyersMS opened #20284 "PMI assert in system.private.corelib"
PMI now asserts when processing system.private.corelib on x64 checked:
[code]
possibly from #19420

cc @fiigii @dotnet/jit-contrib

[2018-10-05 19:50] erozenfeld commented on #20260
@dotnet/jit-contrib

[2018-10-05 20:17] jkoritzinsky commented on #4195
We do not support interop of explicit layout structs passed by value on x64 Unix.

@janvorli is there plans to support this? Do you know/remember the reason why this was initially omitted?

[2018-10-05 20:43] RussKeldorph commented on #20234
@bartonjs Any thoughts?

Maybe I'm missing something, but it seems like there are more differences than codegen when moving between `netcoreapp2.0` and `netcoreapp2.1`.

[2018-10-05 20:58] fiigii commented on #20284
@AndyAyersMS  #19420 added new overload APIs for these intrinsic. The JIT implementations and test cases are in https://github.com/dotnet/coreclr/pull/20210

[2018-10-05 21:14] bartonjs commented on #20234
@RussKeldorph Not really.  It looks like it's code from https://github.com/xamarin/mirepoix/tree/e0bc787a18e744d1e9d5f7cfd921d6709f17891c/src/Xamarin.Security.Keychain, which seems to be very limited BCL + P/Invoke, so not depending on anything in our crypto platform.

[2018-10-05 21:40] janvorli commented on #4195
@jkoritzinsky there was no plan yet to support those. Supporting them would require making the struct classification algorithm more complex. The SystemV Amd64 ABI says that a structure cannot be passed in registers and it has to be passed in memory (on stack) if it is a non-POD structure, a union or if it contains unaligned fields. So we would need to analyze the explicit layout to check if fields

[2018-10-05 21:48] morganbr opened #20287 "Support single-file distribution"
This issue tracks progress on the .NET Core 3.0 single-file distribution feature. Right now, we're in early design discussions, so the first deliverable will be a design proposal. This will be focused on the mechanisms for putting everything into a single file and being able to run (but not complementary features like tree-shaking, which will be tracked separately). The design should account for:

[2018-10-05 21:50] bigredhdl commented on #19578
I concur with @hez2010 .  I still have the issue with 2.2.100-preview3-009423, but not 3.0.100-alpha1-009640

[2018-10-05 21:58] jkoritzinsky commented on #4195
Thanks for the insight!

[2018-10-05 22:44] jkotas commented on #20234
@abock What makes you believe this?

I would think that this has to with the native binary that gets created for self-contained apps. We create this binary by renaming https://github.com/dotnet/core-setup/tree/master/src/corehost/cli/apphost template to the name of the self-contained app.

The Apple crypto stack seem to think that the 2.1 native binary and the 2.0 native binary are two unrelated a

[2018-10-05 23:30] AndyAyersMS commented on #20284
Are you saying this is an expected failure until we've merged #20210?

If so: in the (not too distant) future we may be adding PMI runs to the CI, so we'll have to stage changes like this differently.

[2018-10-05 23:39] fiigii commented on #20284
Yes, it probably is expected (but I am not very familiar with PMI tests). In the current master, `Avx2:BlendVariable` has APIs on some types but temporarily no JIT implementation.

Recently, we are changing some APIs of hardware intrinsic https://github.com/dotnet/coreclr/issues/20062. Once the work gets done, we won't have this kind of failures.

[2018-10-06 00:07] #18986 closed

[2018-10-06 01:37] swaroop-sridhar commented on #930
Closing this issue, the matter is tracked by dotnet/corefx#32015.

[2018-10-06 01:37] #930 closed

[2018-10-06 01:38] swaroop-sridhar commented on #444
Closing this issue, the matter is tracked by dotnet/corefx#32015.

[2018-10-06 01:38] #444 closed

[2018-10-06 11:33] pakrym commented on #19295
Fixed in https://github.com/dotnet/corefx/pull/32360

[2018-10-06 15:41] UniverseHan commented on #20092
Hi @dagood I faced same issue during build coreclr on my MacOS laptop. But it fixed after pull master.

I was struggling with it. But I was not able to find what causes build failure.

How did you know libintl was problem to build this? Could you explain detail for me?

[2018-10-06 17:38] olgierdd commented on #19578
I confirm dotnet core 3.0.100-alpha1-009640 works on ROCK64 ARM64. Good job.
rock64@rock64:~/dev$ dotnet new console -o myApp6
rock64@rock64:~/dev/myApp6$ dotnet run
Hello World!
rock64@rock64:~/dev/myApp6$ dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-alpha1-009640
 Commit:    0e75592c43

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  18.04
 OS Platform: L

[2018-10-07 01:11] stephentoub commented on #20244
I measured the perf impact, and it's negligible.  Given that, while this is a relatively rare use case, it still seems like the potential for leaks here outweighs the small debugging benefits the non-clearing could provide, so I'm making the fix.

[2018-10-07 09:40] flxliu opened #20295 "SemaphoreSlim deadlock in case dispose is called too early"
My code uses BlockingCollection, in case I dispose the BlockingCollection while some other threads are still waiting on GetConsumingEnumerable(CancellationToken), it may have deadlock.

The reason is that BlockingCollection holds a SemaphoreSlim, its m_lockObj is set to null in Dispose method, the Monitor.Exit(m_lockObj) in SemaphoreSlim.Wait(int millisecondsTimeout, CancellationToken cancellation

[2018-10-07 11:19] stephentoub opened #20296 "_tracecontrol_tracecontrol_sh test failed in CI on arm"
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_no_tiered_compilation_innerloop_tst_prtest/1798/consoleText
[code]

[2018-10-08 05:51] Sunny-pu commented on #19649
failed again: https://mc.dot.net/#/product/netcore/30/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20181008.01/workItem/baseservices.threading.XUnitWrapper/analysis/xunit/baseservices_threading._interlocked_add_InterlockedAddInt_2_InterlockedAddInt_2_~2F_interlocked_add_InterlockedAddInt_2_InterlockedAddInt_2_cmd

[2018-10-08 05:59] dotnet-mc-bot opened #20299 "Test failure: tracing_tracecontrol._tracecontrol_tracecontrol_/_tracecontrol_tracecontrol_cmd"
Opened on behalf of @Sunny-pu

The test `tracing_tracecontrol._tracecontrol_tracecontrol_/_tracecontrol_tracecontrol_cmd` has failed.

    Unhandled Exception: System.Exception: Values for 'traceFiles.Length == 1' are not equal! Left='0' Right='1'
       at Tracing.Tests.Common.Assert.Equal[T](String name, T left, T right)
       at Tracing.Tests.TraceControlTest.Main(String[] args)
    /Users/dot

[2018-10-08 06:36] dobrinsky commented on #14482
Hello everyone,

As @jkotas has pointed, this exception is handled. It occurs, but it is for sure not your problem. It is a false-positive. I also thought it was this, but it was not.

In my case, I upgraded from Angular 5 to Angular 6 and there were errors in the typescript code that were not shown anywhere:

For some reason, Angular didn't told anything about some compilation errors. Visual Stud

[2018-10-08 11:45] mattwarren commented on #20287
Out of interest, how does this initiative compare to CoreRT? They seem like *similar* efforts?

Is it related to '*possibly native user code*', i.e. it this will still allow code to be JIT-compiled, not *just* AOT?

Also, I assume that the runtime components ('*Native code (runtime, host, native portions of the framework..*') will be the ones from the CoreCLR repo?

[2018-10-08 15:40] jkotas commented on #20234
This issue was moved to dotnet/core-setup#4649

[2018-10-08 15:40] #20234 closed

[2018-10-08 16:38] #16653 closed

[2018-10-08 17:07] brianrob commented on #20299
This test seems to have passed on re-run.  Before fixing anything here, I'd like to see more than one failure to understand if there is a pattern.

[2018-10-08 17:45] fiigii commented on #20284
@AndyAyersMS #20210 is merged, could you please try again?

[2018-10-08 17:57] jkoritzinsky commented on #4195
cc: @luqunl

[2018-10-08 21:00] BruceForstall opened #20307 "Ubuntu arm32 build warnings in package restore"
E.g., https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_checked_ubuntu_innerloop_prtest/6078/

[code]

[2018-10-08 21:16] RussKeldorph commented on #20225
According to @briansull, these are less likely legitimately running out address space/memory, and more likely corrupted/invalid input resulting in garbage allocation sizes.  The fix might be anything from better input validation (with better error messages) to preventing the invalid input in the first place.  Is there a consistent repro to investigate?

@adiaaida Since `IBCMerge` isn't part of the

[2018-10-08 21:17] AndyAyersMS commented on #20284
Trying... it now.

I am currently hitting an assert in crossgen now. Let me see if this repros with a clean build...
[code]

[2018-10-08 21:21] adiaaida commented on #20225
There is an IBCMerge VSTS repo. Perhaps we should track it in VSTS?

[2018-10-08 21:32] BruceForstall commented on #20236
e.g.,
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_checked_ubuntu16.04/489/consoleFull#-182808793679494335-f7bd-47d0-8771-8661e00c2db2

[2018-10-08 21:58] morganbr commented on #20287
You're asking great questions, but since this is still early in design, I don't have great answers yet.

There would likely be somewhat similar outcomes (a single file), but the design may have different performance characteristics or features that do/don't work. For example, a possible design could be to essentially concatenate all of the files in a .NET Core self-contained application into a sin

[2018-10-08 22:07] AndyAyersMS commented on #20284
Looks like the above was a transient issue.

And PMI is ow working on corelib again,.

[2018-10-08 22:07] #20284 closed

[2018-10-08 22:08] fiigii commented on #20284
Thanks!

[2018-10-08 22:37] AndyAyersMS commented on #9908
Here are some up-to-date status on devirtualization failures and successes, via PMI over the framework assembly set:
![image](https://user-images.githubusercontent.com/10121823/46636739-18272780-cb0e-11e8-82a2-9ded12894683.png)

Numbers look a bit better than I remember and are better than the original measurements above -- 18% of virtual sites and 5% of interface sites are devirtualized.

Main ca

[2018-10-08 22:58] simonz130 opened #20312 "Building coreclr failes on laying out ETW event logging interfaces"
I'm trying to build coreclr repo on Windows 10, version 1709 (OS Build 16299.665)
This consistently fails (both when I do it in elevated CMD and regular) with the following output:
[code]

Any ideas what's going on?

[2018-10-09 00:05] BruceForstall commented on #20024
@mikedn This failure is due to your #19621 (determined by binary search, not debugging)

Sample command line to repro:
[code]

Note that the test is a Pri-1 test, that has been disabled by #20095

[2018-10-09 00:18] vancem opened #20313 "Improve the scalability of EventPipe when there are many threads"
Currently EventPipe works by stopping each thread in the system periodically (e.g. 1 msec), and taking a stack.

Unfortunately, real services can easily have 100s or even 1000s of threads.   If we take a stack on each thread every msec that is 100K events or 1M events/sec.     This is problematic from an overhead perspective as well as a file size perspective.

ETW works by taking a sample per CPU

[2018-10-09 00:33] echesakovMSFT opened #20314 "[Linux/arm64] Infinite loop during IL_Rethrow"
The following program (Release)
[code]
will stuck in a loop during `IL_Rethrow` https://github.com/dotnet/coreclr/blob/913428d5915a9729c9405f57a75e7f912f9d29a5/src/vm/exceptionhandling.cpp#L4659-L4704

[code]

**Environment:**
[code]

[2018-10-09 00:33] echesakovMSFT commented on #20314
StressLog.txt
[code]

[2018-10-09 03:46] #9872 closed

[2018-10-09 05:09] janvorli commented on #20314
@echesakovMSFT that means that the libunwind cannot unwind the native frame #20` `libc.so.6`__libc_start_main` for some reason. It is either a C++ compiler bug or the libunwind bug. It should be relatively easy to check what's libunwind doing since its source is part of coreclr repo. I can look into that.

[2018-10-09 05:48] mikedn commented on #20024
Thanks, I'll take a look. It could be that there's something wrong with my change as the test does take the address of method parameters.

[2018-10-09 10:42] ayende commented on #20287
A single file distribution in this manner, even if has slightly slower startup time, can be invaluable for ease of deployment. I would much rather have the ability to have the full power than be forced to give up some of that.

Some scenarios that are of interest to us. How would this work in terms of cross platform?
I assume we'll have a separate "file" per platform?

With regards to native code,

[2018-10-09 12:09] tmds commented on #18044
Based on what @janvorli said, it is expected this test program still runs out of memory: the rate of allocation is high compared to the provisioned memory / poll interval.
Containers should be provisioned with extra memory to account for this (until a low memory notification mechanism is implemented).

Do your production applications run OOM with 2.1.5?

[2018-10-09 13:05] TheBlueSky commented on #20287
@ayende, I'm quoting from @morganbr [comment](https://github.com/dotnet/coreclr/issues/20287#issuecomment-427992736):

The current cross-platform story for self-contained applications is creating a deployment package per platform that you'd like to target, because you ship the application with the runtime, which is a platform-specific.

[2018-10-09 14:40] pieter-venter commented on #18705
@mikem8361 Thanks for the info. I'm running Ubuntu. I've checked out tags/v.2.1.5 in coreclr repo (that is the version I have installed) and applied the changes in your pull request and rebuilt it. I replaced the equivalent .so files in `usr/share/dotnet/shared/Microsoft.NETCore.App/2.1.5`  you mentioned above (I think the dylib files are for Mac?) and tried the issue reproduction but it was still

[2018-10-09 14:56] obayit opened #20317 "Unhandled exception issue in mvc"
0xC0000005: Access violation reading location 0x0000000000000008 is thrown at this [line](https://github.com/dotnet/coreclr/blob/master/src/vm/amd64/JitHelpers_Fast.asm#L601).

To reproduce:
follow this [issue](https://github.com/aspnet/Mvc/issues/8572).

[2018-10-09 15:19] mikedn commented on #20024
Test is broken on 64 bit, it manages to write 64 bit to a 32 bit stack location and corrupts saved frame pointer:
[code]
Generated code:
[code]
Before my change the variable wasn't marked address exposed and the optimizer removed the dead store:
[code]
I guess we'll just fix the test. Unless someone has serious backward compatibility concerns about the change in undefined behavior of such code :)

[2018-10-09 16:13] dotnet-mc-bot opened #20319 "Consider extending timeout for MacOS build"
Opened on behalf of @MattGal

As seen on this build, network connectivity can be very slow on the OSX machines, leading to timeouts.  Upping the current 60 minute mac build limit to 90 will give it a good chance of finishing.

Warnings: 3
Status Message: failed

Build : 3.0 - 20181009.04 (Product Build)
Failing configurations:
- OSX
  - PortableBuild-Release-x64
[Mission Control Build Info](https:

[2018-10-09 16:18] mikem8361 commented on #18705
You should copy all the binaries built in the `coreclr/bin/Product/Linux.x64.Release` dir to `/usr/share/dotnet/shared/Microsoft.NETCore.App/2.1.5`.

The fixed has made it in the "release/2.2" coreclr branch so if you checkout that out, do a "clean" build (git clean -xdf) and do the above copy, it should work.

[2018-10-09 16:28] AndyAyersMS commented on #9908
A couple of other bits of data: devirtualization works much better for call sites in inlinees than in the root method. Not too surprising.

Note devirtualization and inlining are interleaved...so a devirtualization often leads to an inline where we know the exact type of `this` or types of arguments, which leads to further devirtualization, which leads to further inlines... For root methods we're

[2018-10-09 16:57] #20063 closed

[2018-10-09 17:44] #20244 closed

[2018-10-09 17:44] #20273 closed

[2018-10-09 17:56] adiaaida opened #20320 "Coreclr build failure after #20286"
We are getting the following error in the coreclr builds on the perf runs after #20286 was checked in.

`C:\j\w\perf_perflab_---22877dc9\Tools\tests.targets(132,112): error MSB4066: The attribute "DestinationName" in element <SupplementalTestData> is unrecognized. [C:\j\w\perf_perflab_---22877dc9\tests\src\baseservices\compilerservices\RuntimeWrappedException\RuntimeWrappedException.csproj]`

[2018-10-09 17:56] adiaaida commented on #20320
@ViktorHofer Let me know if you need a perfsnake machine to repro this on. I am wondering if there is something wrong with how the machines are configured, given this passed the smoketests.

[2018-10-09 18:05] CarolEidt opened #20322 "StackTracePreserveTests test fails"
This test: baseservices\exceptions\StackTracePreserve\StackTracePreserveTests\StackTracePreserveTests.cmd

When run with `COMPlus_TieredCompilation=0` on Windows x64.

This passed with https://github.com/dotnet/coreclr/commit/8e880c667e999aa7d9da8d7ea30c2db92e419ba0
in this test run: https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_no_tiered_compil

[2018-10-09 18:08] CarolEidt commented on #20322
@ViktorHofer

[2018-10-09 18:13] CarolEidt commented on #20322
This test is also failing on Ubuntu x64, and appears to have started failing at about the same time, so presumably also due to the build tools update.

[2018-10-09 18:29] erozenfeld commented on #9908
@dotnet/jit-contrib

[2018-10-09 18:33] echesakovMSFT opened #20323 "[arm64] JIT always uses fp based frame"
For the following code

[code]
JIT generates (COMPlus_TieredCompilation=0)
[code]
@dotnet/jit-contrib

[2018-10-09 18:37] #20211 closed

[2018-10-09 18:41] AndyAyersMS commented on #20323
Is this windows or linux? IIRC, on Linux we rely on frame chains for unwinding via external tools and generally won't omit the FP. On windows we have OS supported unwind descriptors so can omit the frame pointer.

By the way it sure would be nice if the disasm indicated the target arch and ABI -- maybe that bit is not filled in for arm64 ... so we end up with a fragment:
[code]

[2018-10-09 18:53] echesakovMSFT commented on #20323
This was on Linux

[2018-10-09 18:57] stephentoub opened #20324 "File I/O tests failing due to lack of disk space in CI on macOS"
https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_osx10.12_innerloop_prtest/7568/consoleText

Five I/O tests failed due to lack of space:
[code]
e.g.
[code]

[2018-10-09 19:08] echesakovMSFT commented on #20323
Same on Linux/arm32
[code]
So probably this behavior is expected on Linux/non-x64

[2018-10-09 19:13] echesakovMSFT commented on #20323
I will fix this

[2018-10-09 19:31] fiigii commented on #20320
I also see this build failure with VS2015.

[2018-10-09 19:44] #20323 closed

[2018-10-09 19:45] stephentoub commented on #20296
Failed again here:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_checked_ubuntu_innerloop_tst_prtest/4653/
[code]

[2018-10-09 20:17] simonz130 commented on #20312
Apparently, the problem was that Windows SDK installation on my machine didn't have all the components installed. I had to re-install Windows SDK and it started to work.

[2018-10-09 20:17] #20312 closed

[2018-10-09 20:47] BruceForstall opened #20328 "[Linux/arm32] Pri-1 test runs are all failing"
It appears that all Linux arm32 test runs in the CI are failing.

E.g., look at the Ubuntu jobs in the ARM view: https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/

The basic Checked job is: https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_checked_ubuntu_flow/

The issue seems to be xunit running out of memory while running tests, e.g. many of these:
[code]

also:
[code]

[2018-10-09 20:47] BruceForstall commented on #20328
@dotnet/arm32-contrib

[2018-10-09 20:51] BruceForstall opened #20329 "[Linux/arm32] building test wrappers takes a long time"
The "Creating test wrappers..." step of a runtest.py run takes about 1.25 hours on these machines (for Pri-1 runs):
[code]
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_checked_ubuntu_tst/173/consoleFull

Is this expected? That seems very long.

[2018-10-09 20:51] BruceForstall commented on #20329
@jashook

[2018-10-09 21:10] BruceForstall commented on #10111
@briansull Should this be fixed now? If so, can you submit a PR that removes
[code]
from issues.targets?

(and close this issue)

[2018-10-09 21:35] danmosemsft opened #20330 "Cleanup /**/ style comments in C#"
There are still about 50 comments like
[code]
in System.Private.Corelib. These should all be converted to XML format (or removed, if they are not worth keeping) to be consistent with our other C# code.

[2018-10-09 21:38] echesakovMSFT commented on #20140
Duplicate of #20328

[2018-10-09 21:38] #20140 closed

[2018-10-09 23:40] BruceForstall commented on #20322
This also fails in the Ubuntu arm64 tests

[2018-10-09 23:57] sdmaclea commented on #20131
@jkotas @vitek-karas I started looking at this.  When looking at implementing

[code]

I need to get the `MethodDesc` for the `<Assembly>.<pwzTypeName>.<pwzMethodName>`.  I started wading through the vm code, but it is not immediately obvious.  I will continue to look at the code, but hints would be appreciated.

I will also need to check the Method signature.  Some of the checking done on the ass

[2018-10-10 00:03] jkotas commented on #20131
Take a look what the original implementation for `!FEATURE_CORECLR` was: https://github.com/dotnet/coreclr/blob/cb3773542726fda1267e81596bd37654f418cff4/src/vm/corhost.cpp . It should be pretty close to what it needs to do - I am not sure why was it ifdefed out in the first place.

[2018-10-10 00:48] janvorli commented on #20314
So the issue is that the `__libc_start_main` is missing unwind info and it has non-trivial frame that cannot be unwound without that. It starts with
[code]
I've found that the recent glibc versions actually have patch to fix that:
https://sourceware.org/git/?p=glibc.git;a=commit;h=ca3a382ea3aa9c9ccb57060afae47c7f702727ac
This change is in glibc 2.27 and newer.

The Ubuntu16.04 where you were runni

[2018-10-10 00:59] RoySalisbury commented on #18486
Looks like this DID make it into 2.1.5

2018-08-28 - [9663131aec] Fix a PAL spin lock issue (#19606)

[2018-10-10 02:04] sandreenko opened #20339 "`gtDispTree` shows wrong names for SIMD registers."
For example in this case `d16` should be `v16`.
[code]
The issue is that `coreclr\src\jit\registerarm64.h` defines `pointer__size` names for simd registers.

Only `const char* emitter::emitRegName(regNumber reg, emitAttr size, bool varName)` knows how to show them right.

Found during #18895.

[2018-10-10 02:48] benaadams opened #20340 "ReadOnlySpan stackalloc arrays initializer issue"
[code]
outputs `All fine`
[code]
outputs `Error, targetIndex:0 length: 1`

[2018-10-10 05:43] benaadams commented on #20340
Looks like it might have core dumped on OSX and Linux for a similar pattern

[2018-10-10 06:38] kpreisser commented on #20015
Hi,
we are also experiencing this issue when running our application on .NET Core 2.1.5 on Raspbian (published for linux-arm). While #18486 (which also caused a crash on Raspbian) has been included in 2.1.5, I can see that the fix for this issue is scheduled for 2.1.6.

As this issue still blocks us from moving from .NET Core 2.0 to 2.1, can you give us a hint when 2.1.6 will be released (since 2.

[2018-10-10 08:03] ViktorHofer commented on #20320
That was already fixed with a buildtools update which came in 10h ago.

[2018-10-10 09:42] benaadams commented on #20340
Yes relatated, the pre-version of https://github.com/dotnet/corefx/pull/32734/commits/d9571bf8594fee0e3e8191a637c45ed62dc2027d segfaults on OSX and Linux arm

[2018-10-10 13:09] adamsitnik commented on #9908
@AndyAyersMS are there any ETW events for devirtualization similar to the ones we have for inlining?

I am asking because I recently wrote an [ETWProfiler](https://adamsitnik.com/EtW-Profiler/) for BenchmarkDotNet which allows to profile the benchmarks and calculate some metrics based on the captured ETW event. If there is any interesting info in the trace file related  to devirtualization  I coul

[2018-10-10 13:57] leppie commented on #18323
@tonygomez  Thanks! We had a nullable column in SQL and was non-nullable in model that triggered the cascade. The first error is report correctly, and pointed us to the culprit.

[2018-10-10 16:19] MattGal commented on #20319
Issue moved to [dotnet/core-eng #4359](https://github.com/dotnet/core-eng/issues/4359) via [**ZenHub**](https://www.zenhub.com/)

[2018-10-10 16:19] #20319 closed

[2018-10-10 16:29] #20057 closed

[2018-10-10 17:01] AndyAyersMS commented on #9908
No, there aren't any ETW events.

I probably should add something to the inline tree but haven't done that yet either.

[2018-10-10 17:07] mattwarren commented on #20287
@morganbr I appreciate you taking to time to provide such a detailed answer

I'll be interested to see where the design goes, this is a really interesting initiative

[2018-10-10 18:08] briansull commented on #8648
Fixed with #20129

[2018-10-10 18:08] #8648 closed

[2018-10-10 18:08] AndyAyersMS commented on #20340
I'll take a look.

[2018-10-10 18:21] AndyAyersMS commented on #20340
This looks like an IL issue -- the IL simply says to set all the values to zero.
[code]
contrast with the working version where one element is set nonzero:
[code]
cc @jaredpar

[2018-10-10 18:37] Cryowatt opened #23011 "MemoryFailPoint doesn't work in a docker container"
I've run into an issue where `MemoryFailPoint` is unable to track memory usage correctly in a docker container. I've created a repo containing a reproduction of the issue [here](https://github.com/Cryowatt/MemoryHole).

The expected behavior is the `MemoryFailPoint` should be able to throw a catchable `InsufficientMemoryException` before the application is OOMKilled by docker. However, the actual

[2018-10-10 19:35] sdmaclea commented on #18026
@richlander We briefly discussed this last week when I was in Redmond.  This was the issue which is making the arm64 CLI unstable on multicore targets.  When I set the thread affinity so that it ran only on one core, the CLI seemed reasonably stable.

[2018-10-10 19:47] jaredpar commented on #20340
Looks like a duplicate of https://github.com/dotnet/roslyn/issues/29092

[2018-10-10 19:52] danfma commented on #659
Sorry, man! I just saw this today! Did you find a way to do that?

[2018-10-10 20:47] sdmaclea commented on #20131
@AaronRobinsonMSFT FYI

[2018-10-10 21:02] janvorli commented on #20314
Fixed by #20345

[2018-10-10 21:03] #20314 closed

[2018-10-10 21:28] adiaaida opened #20352 "[Perf][Release/2.1] Investigate Perf benchmark failures on Ubuntu 16.04"
The following perf benchmarks are failing in Release/2.1 Ubuntu 16.04:

[code]

[code]

[code]

[code]

[code]

[code]

[code]
[code]

[code]

[2018-10-10 21:35] adiaaida opened #20353 "[Perf][Release/2.1][Release/2.2] Investigate Perf Scenario benchmark failures"
The scenario benchmarks are failing in release/2.1 and release/2.2. See: https://ci2.dot.net/job/dotnet_coreclr/job/perf/job/release_2.2/job/perf_scenarios_Windows_NT_x64_full_opt_ryujit/14/console

Looking at the logs in the build artifacts, JitBench is failing with the following error:

[code]

[2018-10-10 21:38] adiaaida opened #20354 "[Perf][release/2.2] Unable to restore PerfHarness.csproj on Ubuntu16.04"
The release/2.2 Ubuntu 16.04 legs are failing with the following issue:

[code]

[2018-10-10 22:33] adiaaida commented on #20354
@billwert @brianrob @RussKeldorph

[2018-10-10 22:34] adiaaida opened #20355 "[Perf] Server failed to authenticate the request when trying to upload to benchview"
We are seeing the following error when trying to upload to benchview:

[code]

[2018-10-10 22:34] adiaaida commented on #20355
@jorive

[2018-10-10 22:35] adiaaida commented on #20353
@billwert @brianrob @RussKeldorph

[2018-10-10 22:35] adiaaida commented on #20352
@billwert @brianrob @RussKeldorph

[2018-10-10 22:36] briansull commented on #10111
I verified that these tests now pass on Arm64 hardware

[2018-10-10 22:37] briansull commented on #10111
Test has been Enabled with #20347

[2018-10-10 22:37] #10111 closed

[2018-10-10 22:41] briansull commented on #18989
This test is passing on Arm64 hardware:

[code]

[2018-10-10 22:41] #18989 closed

[2018-10-10 22:54] BruceForstall commented on #18989
@briansull Please submit a PR to remove this from issues.targets:
[code]

[2018-10-10 22:59] sdmaclea commented on #19034
Sorry I saw this while I was in class last week.  I'll take a look.

[2018-10-10 23:14] AndyAyersMS commented on #20340
I would not expect this to lead to core dumps though, just a lack of non-zero values. Let me look into that part.

[2018-10-10 23:18] briansull commented on #19464
I ran this on a current checked build 10/09/2018 ten tim,es and it alwasy passed:

COMPLUS_GCStress=C
COMPLUS_TieredCompilation=0

f:\coreclr\bin\tests\Windows_NT.arm64.Checked\JIT\Regression\CLR-x86-JIT\v2.1\DDB\b163200\b163200>%CORE_RUN% b163200.exe

f:\coreclr\bin\tests\Windows_NT.arm64.Checked\JIT\Regression\CLR-x86-JIT\v2.1\DDB\b163200\b163200>echo %ERRORLEVEL%
100

[2018-10-10 23:28] benaadams commented on #20340
May have been coincidence.

The other active path when core dumping was running methods as part of the init if that makes a difference:
[code]

[2018-10-10 23:34] sdmaclea commented on #19034
I think your survey seems to be sufficient to close this.  There is a NYI which would also use IP1/REG_OPT_RSVD, but seems it is covered as mentioned above.  Thanks @CarolEidt

[2018-10-10 23:54] CarolEidt commented on #19034
@sdmaclea - Thanks!
I'll close.

[2018-10-10 23:54] #19034 closed

[2018-10-11 00:42] BruceForstall opened #20358 "[Linux] JIT.Regression/CLR-x86-JIT/v2.1/b152292"
All JitStress=2 Linux/arm64 runs are failing in b152292.

E.g.,
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_jitstress2_tst/14/consoleFull
[code]

[2018-10-11 06:06] jkotas commented on #19444
@CarolEidt Real world customer ASP.NET scenarios are hitting this bug -  https://github.com/aspnet/Mvc/issues/8572 has the details. Could you please back-port the fix to 2.2 (or even 2.1 if it meets the bar)?

cc @austindrenski

[2018-10-11 06:32] obayit commented on #20317
Duplicate of this [issue](https://github.com/dotnet/coreclr/issues/19444).

[2018-10-11 06:32] #20317 closed

[2018-10-11 13:41] jkotas commented on #20299
@brianrob I see this failing on a lot of PRs. Take a look at #20157 to see the most recent instance.

[2018-10-11 15:02] stephentoub opened #20369 "Investigate potential Timer latency issues on macOS"
See details in https://github.com/dotnet/corefx/pull/32729#issuecomment-428789737 and the `Timer_ManyDifferentSerialSingleDueTimes_AllFireWithinAllowedRange` test in corefx (https://github.com/dotnet/corefx/blob/61d06d8b7ba8e16d22714a6a173d61efb6289fd5/src/System.Threading.Timer/tests/TimerFiringTests.cs#L252).

[2018-10-11 15:22] brianrob commented on #20299
Thanks for pointing this out @jkotas. I will take a look today.

[2018-10-11 15:51] BruceForstall commented on #20296
Seems to fail relatively regularly for Ubuntu arm:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_checked_ubuntu_innerloop_flow_prtest/

E.g.,
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_checked_ubuntu_innerloop_tst_prtest/4723/consoleFull
[code]

[2018-10-11 16:10] janvorli commented on #20369
I wonder if it could be related to #10209

[2018-10-11 16:43] stephentoub commented on #20369
Thanks, @janvorli.  Certainly seems likely.

[2018-10-11 17:57] noahfalk opened #20372 "Add Runtime Performance Counters"
Historically .NET supported emiting [certain default performance counter data]((https://docs.microsoft.com/en-us/dotnet/framework/debug-trace-profile/performance-counters) into the Windows Performance Counter system. On non-windows systems there is no such facility, but in its place we now have [EventCounter](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.tracing.eventcounter?view=

[2018-10-11 17:58] noahfalk commented on #20372
cc @brianrob @vancem @dotnet/dotnet-diag

[2018-10-11 18:18] benaadams opened #20373 "src\vm\interoputil.cpp Line: 2862, GetNativeVariantForObject_Float_Success(obj: 3.14) [FAIL]"
Running corefx against checked coreclr fails on Windows_NT x64 Checked Build and Test (Jit - CoreFx TieredCompilation=0) (seen in https://github.com/dotnet/coreclr/pull/19436#issuecomment-428962920)
[code]

[2018-10-11 18:32] noahfalk commented on #18658
This likely goes together with #18659 so that process A can register itself to receive an event stream sent by process B.

[2018-10-11 18:37] luqunl commented on #20182
Closed

[2018-10-11 18:37] #20182 closed

[2018-10-11 18:40] luqunl commented on #20001
I will close this issue first. if you have a repro, please reactive this issue.

[2018-10-11 18:40] #20001 closed

[2018-10-11 18:43] brianrob commented on #20299
From a review of the failures, this looks like a timing issue related to how often the control mechanism polls.  I'm going to disable this test and then do some offline stress testing to see if I can harden the test up enough to re-enable it.  Disabling the test is tracked by #20374.

[2018-10-11 18:43] #20328 closed

[2018-10-11 18:43] #13498 closed

[2018-10-11 18:44] brianrob commented on #20296
Duplicate of #20299.

[2018-10-11 18:44] #20296 closed

[2018-10-11 18:52] noahfalk commented on #15375
@brianrob - what sort of control did you have in mind? My understanding is that EventListener is capable of controlling all the events and levels of any EventSource. Presumably what can't be controlled is asking EventPipe to stream the data somewhere else, such as to a file. Is that the type of control you were thinking of?

[2018-10-11 18:57] brianrob commented on #15375
@noahfalk, yes, that's right.  If you're using EventListener then you're good to go, but if you want to stream or send it to a file, there's no nice way to do that.  There are only private APIs in System.Private.CoreLib.

[2018-10-11 19:33] JorgeAndd commented on #20330
Could I work on this one?
Can you show me any example of the correct format for the comments?

[2018-10-11 20:58] jorive commented on #20354
@brianrob It might a case that was not ported from master after a lot of refactoring on package versions and moving xunit to a newer/released version.

[2018-10-11 21:51] vancem commented on #20372
I believe it is pretty fair to say that most of our .NET Framework counters are not very useful.   Thus we should only add the ones we feel are known to be valuable (we can add others later)

Also a number of our counters are better conceptually as events.   Thing that happen rarely are typically better done as events (many of the GC performance counters fall into this category, as do exceptions …

[2018-10-11 22:46] CarolEidt opened #20379 "JIT needs to handle all IsSupported hardware intrinsics"
All `IsSupported` intrinsics should be handled such that the appropriate path can be eliminated in the JIT.

[2018-10-11 23:08] noahfalk commented on #20372
Looking a little closer at how EventCounter is implemented I agree, it would be nice to reuse more of that than I was initially thinking and surfacing just the managed API query for the raw number isn't hard. I'll update my task list at the top. I see you are also proposing that EventCounter effectively adds a pull-model allowing metrics to be updated just in time in response to an event. I like t

[2018-10-12 00:51] morganbr commented on #20287
I have a few questions for folks who'd like to use single-file. Your answers will help us narrow our options:

1. What kind of app would you be likely to use it with? (e.g. WPF on Windows? ASP.NET in a Linux Docker container? Something else?)
2. Does your app include (non-.NET) C++/native code?
3. Would your app load plugins or other external dlls that you didn't originally include in your app bui

[2018-10-12 03:30] CodingDinosaur opened #20388 "Cultures aliased by ICU cannot be used for resource localization on non-Windows environments"
When building or running under .NET Core on a Unix-based environment, certain cultures cannot be utilized for resource localization, such as getting localized strings. This impacts both the build process (e.g., identifying and processing resource files) and the lookup of resources at runtime. These cultures can be used as expected when building or running under Windows.

The affected cultures are

[2018-10-12 04:57] yyjdelete commented on #17071
@AndyAyersMS Will #15706 also be backport to netcoreapp1.x if it's still in LTS?

[2018-10-12 05:11] marler8997 commented on #20261
Fixed with https://github.com/dotnet/coreclr/pull/20267

[2018-10-12 05:11] #20261 closed

[2018-10-12 06:00] AndyAyersMS commented on #17071
@yyjdelete do you think you are running into this issue on 1.x ? If so, more details would be helpful.

[2018-10-12 06:38] devKlausS commented on #18044
@janvorli thank you for your support
@tmds we have to perform more load tests

[2018-10-12 07:26] dotnet-mc-bot opened #20389 "Test failure: JIT_HardwareIntrinsics._X86_General_VectorUnused_r_VectorUnused_r_/_X86_General_VectorUnused_r_VectorUnused_r_cmd"
Opened on behalf of @Sunny-pu

The test `JIT_HardwareIntrinsics._X86_General_VectorUnused_r_VectorUnused_r_/_X86_General_VectorUnused_r_VectorUnused_r_cmd` has failed.

    Unhandled Exception: System.PlatformNotSupportedException: Operation is not supported on this platform.
       at System.Runtime.Intrinsics.X86.Avx2.Add(Vector256`1 left, Vector256`1 right)
       at IntelHardwareIntrinsicTest.

[2018-10-12 08:19] yyjdelete commented on #17071
@AndyAyersMS
Still failed to make an independent reproduce without DotNetty.
https://gist.github.com/yyjdelete/210da6dfb09a0d588b567e5deada6847
Run with `dotnet run -c Release -f netcoreapp1.1` or `netcoreapp1.0`, and see data mismatch and AccessViolationException finally.

It not happen on other frameworks, and the workaround in https://github.com/dotnet/coreclr/issues/17071#issuecomment-37475939

[2018-10-12 08:48] sillyousu commented on #20076
@mikem8361

any news about 2.2 backport?

[2018-10-12 10:49] tpetrina commented on #20287
1. Console/UI app on all platforms.
2. Maybe as a third party component.
3. Possibly yes.
4. Yes, especially if there is a simple ClickOnce-like system.
5. Some initial slowdown can be tolerated. Can point 3 help with that?
6. Depends on assets. Hello world should have size on the order of MB.
7. Doesn't matter if it is just production.
8. Like whitelisting reflection stuff? Yes.

[2018-10-12 11:03] TheBlueSky commented on #20287
@morganbr, do you think that these questions are better asked to a broader audience; i.e., broader that people who know about this GitHub issue?

[2018-10-12 13:29] xoofx commented on #1685
Hey, bumping this old issue... running into a situation where we have quite some code in Unity that is actually passing delegate with generics to native and calling it back. As we can directly use Mono API for that, we are able to call this callback even if they have generics...
But in case we would like to use .NET CoreCLR, we would not be able to do this easily in a standard way using regular pi

[2018-10-12 13:32] masonwheeler commented on #1685
@xoofx So Mono supports it, or it doesn't exactly but you're haxxoring up a workaround?

[2018-10-12 13:36] xoofx commented on #1685
Yeah, mono p/invoke does not support it (actually I never tried, but I don't think), but as we are using the mono VM api from C++, we can call any C# code we want.

[2018-10-12 13:38] xoofx commented on #1685
Think of it as a manual reverse pinvoke where we are writing in C++ what would have to do an auto-generated reverse pinvoke callback

[2018-10-12 13:39] masonwheeler commented on #1685
Gah! That is something probably best *not* thought about! :stuck_out_tongue:

[2018-10-12 13:42] xoofx commented on #1685
Yeah, that's why. I would like that we move out of this kind of hacks, but in order to do that, we should have a support from the regular VM. One way to solve this on our side would be to have a Roslyn compiler plugin to rewrite the code internally to non generic version... but I would prefer a standard support for this rather than having an ugly workaround like this.

[2018-10-12 14:36] benaadams commented on #20287
Looking at compressing it; or using a compressed file system in the file?

[2018-10-12 15:17] jkotas commented on #1685
For blittable types, it is "just work" support for existing interop (not a small amount, but doable in principle). For non-blittable types, there is a lot of ambiguity in how it should even work.

Does your case have blittable types only, or does it have arbitrary types?

[2018-10-12 15:22] xoofx commented on #1685
Blittable would be fine (we may not have fully this setup today, but we would have anyway)

[2018-10-12 15:24] masonwheeler commented on #1685
My original request was about generic delegate types, but I did have in mind using only blittable types as the arguments to the generic functions.

[2018-10-12 15:40] sdmaclea commented on #20379
I don't remember this being broken.  Is this a recent regression?  Is it just that the code is not being properly eliminated?

[2018-10-12 15:43] sdmaclea commented on #18175
@CarolEidt
This was primarily due to lack of a public documented method to determine the set of supported arm64 features in the Windows OS.

[2018-10-12 16:47] AndyAyersMS commented on #17071
Thanks. Are there any open issues in DotNetty for this bug?

It looks like just a few methods in DotNetty are impacted. Since there is a simple, low-cost, targeted workaround, would you be willing to consider a PR to add the workaround to the DotNetty sources?

[2018-10-12 17:15] CarolEidt commented on #20379
I'm not sure whether it's recent, but it doesn't seem to handle it as an intrinsic at all, so it winds up calling the IL method. I observed this with both the altjit and on arm64/windows but haven't tried it on native Linux.

[2018-10-12 17:37] fiigii commented on #20389
I will fix this.

[2018-10-12 18:21] erozenfeld opened #20392 "Failure to load XUnitWrapper assemblies in arm/arm64 jobs"
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_checked_ubuntu_innerloop_tst_prtest/4742/consoleText

[code]

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_ubuntu_no_tiered_compilation_innerloop_tst_prtest/1933/consoleText

[code]

https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_checked_ubuntu16.04_innerloop_tst_prtest/233/cons

[2018-10-12 19:50] #19217 closed

[2018-10-12 19:51] #18690 closed

[2018-10-12 20:15] AndyAyersMS commented on #9908
PR to added some info to the inline tree: #20395

[2018-10-12 20:21] dseefeld opened #20397 "ildasm unable to output to filename with path over 260 chars"
When running ildasm with files with long paths, ildasm fails when the -out parameter specifies a file path length > 260 with the error:
Unable to open '<filename>' for output.

[2018-10-12 21:07] BruceForstall commented on #20392
Looks like its not a consistent failure. Also:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_checked_ubuntu16.04_innerloop_tst_prtest/251/consoleFull
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_checked_ubuntu16.04_innerloop_tst_prtest/266/consoleFull

[2018-10-12 21:29] adiaaida commented on #20355
Updated the SAS token for these jobs. They appear to be running now.

[2018-10-12 21:29] #20355 closed

[2018-10-12 21:51] #18705 closed

[2018-10-12 22:03] mikem8361 opened #20401 "MacOS launch bug when spaces in module names"
The libdbgshim.dylib launch/attach helper had a bug with module names with spaces in them.  The Excel (Oded Hanson) ran into this because ship the .NET Core in a sub-directory with a space in the path.

This causes launch (or attach) with VS (VSCode or VS for Mac) to hang.

[2018-10-12 22:22] mikem8361 commented on #20076
I have sent a request to our ship room for 2.2.

[2018-10-12 22:34] jkotas commented on #1685
BTW: For callbacks, the solution may be `NativeCallbableAttribute` -  https://github.com/dotnet/coreclr/pull/1566 . Enabling that for generic blitable types should be much easier. `NativeCallbableAttribute` is not really usable from C# directly today, but that's going to change with https://github.com/dotnet/csharplang/blob/master/proposals/intrinsics.md

[2018-10-12 22:53] echesakovMSFT opened #20405 "run-corefx-tests.py no longer works in CI"
Due to the change https://github.com/dotnet/corefx/commit/66392f577c7852092f668876822b6385bcafbd44 run-corefx-tests.py should be adjusted accordingly

An example of the failure (https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_ubuntu_corefx_jitstressregs0x10/731)
[code]

/cc @dotnet/jit-contrib

[2018-10-12 22:56] morganbr commented on #20287
@tpetrina, thanks! Point 3 covers a couple of design angles:
1. Tree shaking doesn't go well with loading plugins that the tree shaker hasn't seen since it could eliminate code the plugin relies on.
2. CoreRT doesn't currently have a way to load plugins
Point 5 is more about whether we'd optimize for size or startup time (and how much)
Point 8, yes I was mostly thinking about reflection stuff

@Th

[2018-10-12 22:59] echesakovMSFT commented on #20392
Also:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_osx10.12_innerloop_tst_prtest/6209/
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_checked_ubuntu_innerloop_tst_prtest/4766

[2018-10-12 23:22] BruceForstall commented on #20405
@weshaggard Looks like corefx testing in coreclr is broken.

cc @jkotas

[2018-10-12 23:38] weshaggard commented on #20405
@BruceForstall Can you point me at the correct CI script that is building corefx and I'll to the translation for  the current commands.

FYI: This is part of the cross repro fragility that I'd like to eliminate.

[2018-10-13 00:13] RussKeldorph commented on #20405
@weshaggard https://github.com/dotnet/coreclr/blob/master/tests/scripts/run-corefx-tests.py

FYI the "newer" CoreFX CI jobs that @josalem is working on, e.g. https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_release_windows_nt_corefx_innerloop_prtest/ don't rely on the build and are therefore presumably still working.  We just haven't ported all of our platforms to it yet, so the Python scr

[2018-10-13 01:29] AndyAyersMS commented on #20392
Also:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_osx10.12_innerloop_flow_prtest/8510/
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_checked_ubuntu_innerloop_tst_prtest/4779/

[2018-10-13 01:31] AndyAyersMS commented on #9908
Now merged, so the jit is tracking this information internally at least:
[code]

[2018-10-13 01:34] AndyAyersMS commented on #19671
#16266 proposes allowing generic specialization over ref types. So perhaps we can close this as a dup?

[2018-10-13 06:10] yyjdelete commented on #17071
@AndyAyersMS
Not post the issue to DotNetty right now, and DotNetty v0.6.0 prefer to use the safe version by default as an workaroud.

Maybe will to an PR to DotNetty when I'm free. It's a bit hard to find whether there is another impacted method.

Still two question for https://github.com/dotnet/coreclr/issues/17071#issuecomment-375365206
1. Is the issue only happen with pointer and not for `ref`

[2018-10-13 09:39] voinokin commented on #19671
In my case it's possible to supply other type arguments - not only feature impl. switches.
Current issue can be considered dup if #16266 will cover the case I just described.

Example follows, where `TIterator` / `TIteratorState1` / `TIteratorState2` are unrelated to `TSortRecordReversedPlacement` and `TTryStoreNonTemporal`:
[code]

[2018-10-13 09:55] sillyousu commented on #20076
@mikem8361 thanks.

[2018-10-13 11:18] Suchiman commented on #20287
@morganbr several seconds of startup time when using compression? I find that hard to believe when considering that [UPX](https://upx.github.io/) claims decompression speeds of

[2018-10-13 18:17] tarekgh commented on #20388
Thanks @CodingDinosaur for reporting the issue and listing the details. this is very helpful. we'll take a look.

[2018-10-13 18:44] tarekgh commented on #20388
@cdmihai it is wrong to have msbuild depends on only the list returned from CultureInfo.GetCultures. this was ok before Windows 10 and Linux but now it is not valid approach.

https://github.com/Microsoft/msbuild/blob/e70a3159d64f9ed6ec3b60253ef863fa883a99b1/src/Shared/AssemblyUtilities.cs#L105

for example, in Windows 10, if you try to create any culture which Windows doesn't have data for, the o

[2018-10-14 05:42] ayende commented on #20287
@morganbr, for me the answers are:

1) Service (console app running Kestrel, basically). Running as Windows Service / Linux Daemon or in docker.
2) Yes
3) Yes, typically managed assemblies using `AssemblyContext.LoadFrom`. These are provided by the end user.
4) Yes, that is expected. In fact, we already bundle the entire framework anyway, so no change from that perspective.
5) As a service, we don

[2018-10-14 05:43] ayende commented on #20287
About compression, take into account the fact that in nearly all cases, the actual delivery mechanism is already compressed.
For example, nuget packages.
Users are also pretty well versed in unzipping things, so that isn't much of an issue.
I think you can do compression on the side.

[2018-10-14 18:35] mikedn commented on #19412
Assignment to array elements produces somewhat strange trees:
[code]
The LHS of the assignment isn't an IND node, it's a COMMA. The actual IND node is hidden behind the comma. To get rid of ASG we'll need to make it so that the COMMA tree produces the address (as a byref) and then ASG + IND can be easily changed to a STOREIND.

We should probably ensure that the ASG LHS is always a "location" node

[2018-10-14 22:09] digital-synapse commented on #10605
+1

[2018-10-15 12:20] sherlock1982 opened #20413 ".NET Core crash on ARM (RaspberryPi 3) inside INJECT_ACTIVATION_SIGNAL handler"
Hello!
I'm getting random crashes inside .NET Core on ARM (RaspberryPi 3).
I have dumps but don't know how to reproduce it yet.
Does anyone knows what it can be?

.NET Core 2.1.5

[code]

[2018-10-15 14:06] dagood commented on #20092
In this case, it was just looking at this error message:

[code]

and spotting `libintl` in `_libintl_bindtextdomain`. @janvorli knew the rest.

Something that might be throwing you off is that the build doesn't immediately stop when it hits an error: you have to scroll back to find the original error with the useful message.

Also, in case it wasn't clear, the reason pulling fixed the issue is th

[2018-10-15 14:11] aviviadi opened #20414 "SIGSEGV/SIGABRT on heap corruption possibly by CLR"
Crash reproduced on dotnet 2.1.4 / sdk 2.1.402, Ubuntu 16.04 64Bit (doesn't reproduced on Windows).

Attached a solution reproducing fatal heap corruption very quickly on dotnet runtime 2.1.4 (happened also in 2.1.5 with more test iterations) : [ReproCrash](https://github.com/aviviadi/ReproCrash)

We've checked we do not exceed read/write from allocated memory regions.

Also attached repeated fail

[2018-10-15 14:19] ayende commented on #20414
Some note on this.
What this repro code is doing is basically running a JSON parser (we wrote our own, for speed) in parallel.
This code runs perfectly when running on a single thread or when processing a small amount of text.
When dealing with roughly 2MB of JSON and about 20 concurrent threads, we start seeing really crazy exceptions.
They range from invariants being broken to `SIGSEGV` and `SIG

[2018-10-15 14:30] janvorli commented on #20413
This is already fixed and the fix will be part of 2.1.6 release.

[2018-10-15 15:01] #20413 closed

[2018-10-15 15:39] Graveen commented on #10605
Agree. Actually i'm stuck with Mono :)

[2018-10-15 15:54] weshaggard commented on #20405
OK I'll submit a PR this morning to update the command lines.

[2018-10-15 16:28] BruceForstall opened #20416 "Update run-pmi-diffs.py to adjust for code review comments"
There were lots of good suggestions in the code review for https://github.com/dotnet/coreclr/pull/20366 that need to be implemented. (The change was merged without incorporating these in the interest of expediency, to get out of the dev/unix_test_workflow branch.)

[2018-10-15 18:27] tarekgh commented on #20388
I am not sure I understand the breaking scenario here. The scenario you are describing can occur today. for example build some project with some culture introduced in Windows 10 and then run on down-level platform don't have this culture.

[2018-10-15 18:52] 0xd4d opened #20421 "Much worse debugging experience with Attach + Tier0 methods"
If you attach to a .NET Core 3.0 application (Release build), and try to debug a tier0 method, you can't see any locals or args. The jitter only reports that they're available in the prolog, so a debugger can't read them. That makes debugging optimized release builds much more difficult than it used to be.

Note that this is not a problem with tier1 methods. They work as before, locals and args ar

[2018-10-15 19:30] #20389 closed

[2018-10-15 20:40] cdmihai commented on #20388
True, but that's the class of valid locales introduced in different windows versions. The new breaking scenario is for the class of always invalid locales, that were never meant to be locales, and users expect msbuild to not treat them as locales.

[2018-10-15 20:44] MattGal opened #20424 "Misc build failures in 'prodcon/coreclr/release/2.1/' - '20181014.01'"
@dotnet-mc-bot commented on [Sat Oct 13 2018](https://github.com/dotnet/core-eng/issues/4389)

There were a set of failures during this build. Here is a summary of these:
* https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=2115874
  - **Agent:** DDVSOLINUXAGE005
  - **Error log:** ERROR: Could not restore build tools correctly....

@jcagme, @markwilkie

---

@ChadN

[2018-10-15 21:18] morganbr commented on #20287
Thanks, @ayende! You're right that I should have called out debuggability. I think there are only a few minor ways debugging could be affected:
1. It might not be possible to use Edit and Continue on a single-file (due to needing a way to rebuild and reload the original assembly)
2. The single-file build might produce a PDB or some other files that are required for debugging beyond those that came

[2018-10-15 21:38] CarolEidt opened #20426 "[Arm64] Add test template support for Arm64 HW intrinsics"
We should leverage the work done for x86/x64 (https://github.com/dotnet/coreclr/tree/master/tests/src/JIT/HardwareIntrinsics/X86/Shared).

[2018-10-15 21:51] CarolEidt opened #20427 "[Arm64] Implement Experimental Arm64 HW Intrinsics for 3.0"
This tracking issue is intended to host the discussion (and resolution) of the minimal subset to enable for 3.0, as well as estimating and prioritizing the remaining "nice to have" items.

The following APIs have been approved. Some are (partially?) implemented, but certainly the tests are incomplete:
https://github.com/dotnet/corefx/issues/26220 API Proposal : Arm64 or Generic Intrinsics Crc32
ht

[2018-10-15 21:51] BruceForstall commented on #20421
@AndyAyersMS @kouvel @noahfalk

[2018-10-15 23:16] cdmihai commented on #20388
Personally I agree that msbuild should not care and just do what the OS does, but I fear there are actual customers who depend on this behaviour, and changing this might break them. But this is just gut feeling based on the fact that the msbuild repo itself is doing it, and I don't have actual data on it. Alternatively we can only enable it in .net core msbuild, and then customers will have to opt

[2018-10-15 23:54] CarolEidt commented on #19412
There are some COMMA patterns that aren't well handled by CSE, and in my (somewhat dated) experience of change the block stores to assignments, I ran into some of those. When we transform these array element assignments we'll have to ensure that we preserve CSE's ability to reason about them.

[2018-10-16 01:28] AndyAyersMS commented on #20421
@0xd4d thank you. I can confirm your report. This looks like an issue in the jit.

At tier0 the jit only emits minimal ranges for the locals:
[code]
while at tier1 there are full ranges:
[code]
Do you happen to know if this also happens in the 2.2 preview? If not, I can check.

It could be caused by some of the recent changes I made to how we handle locals in minopts. Will look deeper.

[2018-10-16 01:36] 0xd4d commented on #20421
Yes, seems to work with 2.2.0-preview3-27002-02

tier0:

[code]

tier1:

[code]

[2018-10-16 08:28] improbablejan commented on #20220
I poked around the codebase, and believe the issue is the following:
When `A` gets type loaded, we need to calculate the size and alignment requirements of the struct, which involves calculating the alignment requirements and size of non-static fields. Because `B<A>` is a value type, this forces type loading `B<A>`, and is in general unavoidable. In order to type load a generic type, the classload

[2018-10-16 13:03] aviviadi commented on #20414
A seperate branch to a specific previous commit was added, where it fails more often in 2.1.5 (in 2.1.4 every 2-3 runs, on 2.1.5 every 7-8 runs) : [FailingBoth2.1.4And5](https://github.com/aviviadi/ReproCrash/tree/FailingBoth2.1.4And5)

[2018-10-16 13:48] stephentoub opened #20434 "Additional work in dumpasync command"
In https://github.com/dotnet/coreclr/pull/18160 and https://github.com/dotnet/coreclr/pull/18213 for 3.0 we added a basic `dumpasync` command to SOS.  Before we actually ship it, we should try to augment it in a few ways:
1. Remove the dependency on interpreting the C# state machine's _state field.  We can use the Task's IsCompleted for the same purpose.
2. Add support for following continuation c

[2018-10-16 14:08] gbalykov opened #20435 "[Question] Lazy image relocations"
We would like to implement lazy image relocations, as was mentioned in #12957, specifically https://github.com/dotnet/coreclr/issues/12957#issuecomment-317056951.

The idea would be to setup additional SIGSEGV signal handler outside of PAL, which will check if address corresponds to native image and if corresponding page hasn't been relocated already. If these checks succeed, then relocations woul

[2018-10-16 15:28] jeffschwMSFT opened #20437 "Port fix to Windows x86 watson dump"
On Windows X86, the fatal error infrastructure will capture the wrong context, which leads to dumps providing incorrect error location leading to a lot of wasted time.

Port fix for 110171 x86 VM failfasts lead to extremely confusing and misleading Watson dumps

[2018-10-16 15:41] AndyAyersMS commented on #20421
So the basic issue is that `CodeGen::siBeginBlock` never "opens" scopes for the locals at minopts (Tier0) because it expects to be tracking them with liveness, and we no longer track any locals in minopts.

What I had expected was that the locals would now be reported for debug the same way that we report untracked locals. So need to dig a bit further.

[2018-10-16 16:04] jkotas commented on #20435
I have commented on this in https://github.com/dotnet/coreclr/issues/12957#issuecomment-317063900.

Also, the effectiveness of schemes like this is limited by data density. If you reference one small thing in the page (e.g. 10 or 20 bytes), the whole 4k page becomes private page. I think that loading types on demand at runtime would give you more significant savings in private pages since you woul

[2018-10-16 16:43] perjumarcel opened #20439 "(sbyte) cast gives a wrong value for optimized code"
The problem can be reproduced with the following code sample, having NUnit 3 installed.
[code]

- The project should be a **class library** because in a **console application** it's not reproducible.
- Should have the optimization enabled, i.e. the following setting in the csproj file:

[code]

The test **passes** when **Optimize is false**, but it **fails** when **Optimize is true** (`b2.ToString

[2018-10-16 16:45] tarekgh commented on #20388
The only  breaking scenario I can think of is when we allow creating resources with a culture not returned by CultureInfo.GetCultures and then move this resources to other machine which cannot understand the used culture. This scenario can happen today anyway. do you have any breaking scenario you can think of?

Microsoft/msbuild#1454 is specific to custom cultures. I would suggest updating it to

[2018-10-16 16:48] AndyAyersMS commented on #20439
cc @dotnet/jit-contrib

[2018-10-16 16:53] gbalykov commented on #20435
Our estimations show that this could save approximately 1.2 Mb of Private_Dirty memory per each Xamarin application, if system libraries are compiled in FNV. These pages were only referenced to apply relocations, and in lazy mode these pages won't be referenced at all.

For some scenarios we would like to achieve better startup time, and currently FNV for system libraries gives us the best startup

[2018-10-16 17:33] jkotas commented on #20435
What is the `Private_Dirty` memory you see for FNV vs. R2R?

[2018-10-16 17:55] mikedn commented on #20439
It would be good to know what .NET kind/version you are using.

The fact that you can reproduce in a class library and not a console application might mean that you're using .NET Framework and not .NET Core. In .NET Framework console apps default to 32 bit so they use the legacy JIT32, not RyuJIT. 64 bit .NET Framework apps use RyuJIT but it's typically an older version than the one used by .NET C

[2018-10-16 21:24] davidwrighton opened #20449 "[Arm64] Reflection invoking a method with HFA and non-HFA arguments works incorrectly"
When using reflection to invoke a method with HFA and non-HFA arguments the runtime will pass incorrect values for the non-hfa arguments.

For instance, a function with the following signature will not pass its arguments correctly.

int TestMethod(HFAStruct hfaStruct, IntStruct intStruct)

[2018-10-16 21:29] mikem8361 commented on #20434
Maybe this could be done in the [diagnostics](https://github.com/dotnet/diagnostics.git) repo.

[2018-10-16 21:31] stephentoub commented on #20434
Is that the official home now for the SOS source?  Is the code in coreclr being deleted then?  Or mirrored?  Or some such thing?

[2018-10-16 21:42] mikem8361 commented on #20434
Eventually it will be the official home for SOS and it will be deleted from coreclr, but I still have a few hoops and other things to go through to ship this SOS “out of band”.  That is why I said “maybe”.  I don’t have a definite time frame for the switch over. Probably not 2.2. On the positive side, it is easier to develop and testing is more through in the diagnostic repo.

[2018-10-16 21:42] AndyAyersMS commented on #9908
Some further improvements over in #20447.

[2018-10-16 22:37] echesakovMSFT commented on #20224
The following would fail on arm64 (both Windows and Linux) due to the same reason

[code]

[2018-10-16 22:40] echesakovMSFT commented on #20224
Seems that RuntimeMethodHandle::InvokeMethod forwards only first half of `MyPoint p1`

[code]

[2018-10-16 22:41] echesakovMSFT commented on #20224
It can be seen here that correct arguments array was passed to `RuntimeMethodHandle::InvokeMethod`
[code]

[2018-10-16 22:44] echesakovMSFT commented on #20224
But callee `Runner.Run` finds only MyPoint.X in `x1`
[code]

[2018-10-16 22:46] MichalStrehovsky opened #20452 "[Default interfaces] Implement two pass algorithm for variant dispatch"
Variant interface dispatch should be a two pass algorithm - first we should try to find an exact implementation, and only after that try to do inexact match.

[2018-10-16 22:51] echesakovMSFT commented on #20224
Worth mentioning that this reproduces only if a structure with a float field (float fields) passed to the callee

[2018-10-16 22:52] echesakovMSFT commented on #20224
Remove os-linux - since it reproduces on Windows as well.

[2018-10-16 23:41] #20405 closed

[2018-10-17 00:01] anurse opened #20454 "EventPipe config file isn't read from AppBase"
It looks like the EventPipe config file (added in https://github.com/dotnet/coreclr/pull/20238) is expected to be in the same directory as `dotnet.exe` rather than the same directory as the managed app.

To reproduce this problem

1. Clone https://github.com/aspnet/AspLabs
1. Check out branch `anurse/dotnet-collect-eventpipe`
1. Launch a .NET process that emits events to `Microsoft-Windows-DotNETR

[2018-10-17 00:10] BruceForstall commented on #19248
Duplicate of #19218

[2018-10-17 00:10] #19248 closed

[2018-10-17 00:19] #8084 closed

[2018-10-17 02:19] shimingsg opened #20456 "can't found GCSimulator.sh in x64_release_ubuntu_gcsimulator_tst"
MESSAGE:
../GCSimulator/GCSimulator.sh: 28: ../GCSimulator/GCSimulator.sh: source: not found\n../GCSimulator/GCSimulator.sh: 174: ../GCSimulator/GCSimulator.sh: shopt: not found\nKilled\n/n/nReturn code: 1/nRaw output file: /mnt/j/workspace/dotnet_coreclr/master/x64_release_ubuntu_gcsimulator_tst/bin/tests/Linux.x64.Release/GC/Scenarios/Reports/GC.Scenarios/GCSimulator/GCSimulator_45/GCSimulator_4

[2018-10-17 02:30] shimingsg commented on #20389
2 tests are failing in job https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_release_osx10.12_standalone_gc_tst/276/

JIT_HardwareIntrinsics._X86_General_VectorUnused_r_VectorUnused_r_._X86_General_VectorUnused_r_VectorUnused_r_sh
JIT_HardwareIntrinsics._X86_General_VectorUnused_ro_VectorUnused_ro_._X86_General_VectorUnused_ro_VectorUnused_ro_sh

tracking this job if still failling in next

[2018-10-17 03:14] shimingsg opened #20457 "build error MSB3073 in x64_release_centos7.1_r2r_tst"
failed job: https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_release_centos7.1_r2r_tst/2381/

failure log:
/mnt/resource/j/workspace/dotnet_coreclr/master/x64_release_centos7.1_r2r_tst/tests/tests.targets(74,5): error MSB3073: The command "/mnt/resource/j/workspace/dotnet_coreclr/master/x64_release_centos7.1_r2r_tst/bin/tests/Linux.x64.Release/Tests/Core_Root/corerun /mnt/resource/j/worksp

[2018-10-17 03:39] #20449 closed

[2018-10-17 05:59] fiigii commented on #20389
@shimingsg This issue was fixed at 10/15, but your failure happened at 10/14. Could you please rerun these tests?

[2018-10-17 07:52] shimingsg commented on #19299
test failed in job https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_r2r_gcstress15/97/

[2018-10-17 08:02] shimingsg opened #20460 "Lots of GCStress failures in x64_checked_windows_nt_r2r_gcstress15"
the failing job: https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_r2r_gcstress15/97/

- baseservices_threading._generics_threadstart_GThread22_GThread22_._generics_threadstart_GThread22_GThread22_cmd
- baseservices_threading._generics_threadstart_GThread23_GThread23_._generics_threadstart_GThread23_GThread23_cmd
- CoreMangLib_cti._system_reflection

[2018-10-17 08:23] shimingsg opened #20461 "Assertion failed 'emitInstCodeSz(id) >= csz' in CI job x64_checked_windows_nt_jitsse2only"
the failing job: https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_jitsse2only/547/

failed tests:

- JIT_HardwareIntrinsics._X86_Pclmulqdq_Pclmulqdq_ro_Pclmulqdq_ro_._X86_Pclmulqdq_Pclmulqdq_ro_Pclmulqdq_ro_cmd
- JIT_HardwareIntrinsics._X86_Pclmulqdq_Pclmulqdq_r_Pclmulqdq_r_._X86_Pclmulqdq_Pclmulqdq_r_Pclmulqdq_r_cmd
- JIT_HardwareIntrinsics._X86_A

[2018-10-17 08:53] shimingsg opened #20462 "servermodel test failed in CI job x64_checked_windows_nt_heapverify1"
the failing job: https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_heapverify1/99/

failed tests:

- StackTracePreserveTests( not sure if it should be disabled, refer to https://github.com/dotnet/coreclr/pull/20337)
- servermodel

To run the test:

        Expected: True
        Actual:   False
        Stack Trace:
          D:\j\workspace\x64_check