[2016-12-06 22:20] mikedn opened #8481 "ArraySortHelper is not exactly efficient when Comparison<T> is used"
In my experience sorting an array (or list) of objects using something like `Sort((x, y) => x.Age.CompareTo(y.Age)` is quite common these days. Building a custom comparer object is usually a waste of time and as we'll see it is also less efficient than using `Comparison<T>`.

But `ArraySortHelper` is based on `IComparer<T>` rather than `Comparison<T>`. So:
* one way or another you'll pay the cost

[2016-12-06 23:23] gkhanna79 commented on #8480
RANDMMAP sounds like ASLR for Linux (when I read articles like https://copperhead.co/blog/2015/06/11/android-pax). I agree that we should fix the PAL to support it as opposed to disabling it.

[2016-12-06 23:23] gkhanna79 commented on #8480
CC @kouvel

[2016-12-06 23:26] janvorli commented on #8480
Here are some links on GRSEC / PAX:
https://wiki.debian.org/grsecurity
https://wiki.archlinux.org/index.php/grsecurity
http://man.he.net/man1/paxctl

[2016-12-06 23:58] seanshpark opened #8487 "[x86/Linux] paltest_pal_sxs_test1 PAL test fails"
Current PAL test for x86/Linux gets one test fail.
[code]
I get this log with the test program,
[code]

[2016-12-07 00:00] seanshpark commented on #8487
cc @parjong , @lucenticus

[2016-12-07 00:38] janvorli commented on #8487
I am not sure if it is related, but the code in ThrowExceptionFromContextInternal for x86 is using "push ebp" instead of "push_nonvol_reg ebp", so it is missing the .cfi annotation provided by that macro. I am also not sure if the cdecl calling convention of the ThrowExceptionFromContextInternal and ThrowExceptionHelper isn't possibly messing things up. Can you run the test under GDB, set breakpoi

[2016-12-07 00:38] bartonjs commented on #2460
Submitted API proposal as https://github.com/dotnet/corefx/issues/14255

[2016-12-07 00:53] tarekgh commented on #2460
Closing this one as we already tracking this on corefx now.

[2016-12-07 00:53] #2460 closed

[2016-12-07 01:57] seanshpark commented on #8487
@janvorli , sure you know deep inside! thanks, I'll follow your guide.

[2016-12-07 02:16] seanshpark commented on #8487
This is the first caught on DllTest2
[code]
and then, on the second one on the DllTest1
[code]

[2016-12-07 03:00] kaneboy commented on #8322
Will RyuJIT be the default x86 JIT in .NET Framework 4.7? Or there is no such plan on .NET desktop side? Thanks!

[2016-12-07 03:19] racuca opened #8493 "Exception on Richtextbox while typing korean fonts with Italic style."
I created a simple WPF project like editor has a Richtextbox.

Environment :
1. Korean font or Korean Windows
2. Set Richtextbox font to korean font 'Gulim' for example.

When I just type any text, It works fine.
But when I type with Italic style a little fast like stress test, It throws exception.
My project .net version is 3.5 but 4.0, 4.5, and 4.6.1 all versions have also same exceptions.
this

[2016-12-07 03:23] racuca commented on #8493
I added Error Message details on Windows 7.

Description:
  Stopped working

Problem signature:
  Problem Event Name:	CLR20r3
  Problem Signature 01:	richtextboxeditortest.exe
  Problem Signature 02:	1.0.0.0
  Problem Signature 03:	5832ded4
  Problem Signature 04:	WindowsBase
  Problem Signature 05:	3.0.0.0
  Problem Signature 06:	4ca2e281
  Problem Signature 07:	e4
  Problem Signature 08:	1b
  Pr

[2016-12-07 04:25] hseok-oh opened #8495 "Linux cross build: cmake variable setting"
Many CMake variables are set in `<projectDir>/CMakeLists.txt`.
Windows and Linux have different result.

For example, when host is x86 and target is ARM,

In Windows, CMakeList.txt set as
CLR_CMAKE_PLATFORM_ARCH_I386: 1
CLR_CMAKE_HOST_ARCH: x86
CLR_CMAKE_TARGET_ARCH: arm
CLR_CMAKE_TARGET_ARCH_ARM: 1

But in Linux,
CLR_CMAKE_PLATFORM_ARCH_ARM: 1
CLR_CMAKE_HOST_ARCH: arm
CLR_CMAKE_TARGET_ARCH: arm
C

[2016-12-07 05:30] YongseopKim opened #8496 "Enable RyuJIT Backend for ARM32"
We( @YongseopKim; @chunseoklee ; @hseok-oh ; @hqueue ) are going to work for enabling RyuJIT backend for arm32.

Any information that we should know? (like that somebodies are working some feature of RyuJIT on arm32)

[2016-12-07 06:29] seanshpark commented on #8487
While step through the codes with gdb,
In the second call from dlltest1, `CatchHardwareExceptionHolder::IsEnabled()` was returning false at [seh.cpp:292](https://github.com/dotnet/coreclr/blob/master/src/pal/src/exception/seh.cpp#L292) in function `SEHProcessException()`.
[code]
It was that `pThread` value was different for dlltest1(0x80519e0) and dlltest2(0x80566c8) but SEHProcessException() acce

[2016-12-07 08:29] jkotas commented on #8496
cc @dotnet/jit-contrib

[2016-12-07 10:15] janvorli commented on #8487
@seanshpark you are not doing anything wrong. Let me think about what can we wrong.

[2016-12-07 10:29] janvorli commented on #8487
@seanshpark can you please set breakpoints at the following three methods?
`CatchHardwareExceptionHolder::IsEnabled`
`CatchHardwareExceptionHolder::CatchHardwareExceptionHolder`
`CatchHardwareExceptionHolder::~CatchHardwareExceptionHolder`

Then run the test, when you hit the breakpoint step over the pThread assignment and dump the `pThread` value. The `CatchHardwareExceptionHolder::CatchHardwareE

[2016-12-07 13:21] stephentoub commented on #3206
I'll take a look at porting the corert lock-free reads support back to CoreCLR...

[2016-12-07 13:59] hqueue opened #8501 "RyuJIT/ARM32: Working on "NYI: ARM TreeNodeInfoInit""
This issue is a part of #8496.

Start working on Lowering::TreeNodeInfoInit in lowerarm.cpp to enable Ryujit for ARM32

I will post a initial PR for this right after this issue.

BTW The original NYI message contains typo "TreeNodInfoInit" which should be "TreeNodeInfoInit".

[2016-12-07 14:19] hqueue commented on #8501
cc @dotnet/jit-contrib

[2016-12-07 18:18] RussKeldorph commented on #8457
@George1205 since you are using the .NET Framework, you may want to report this via [Connect](http://connect.microsoft.com).  It's relevant to .NET Core, however, so I'll leave it open here.

[2016-12-07 18:44] mikedn commented on #6915
When I originally posted this issue to Connect I was thinking that it could help with enumerators and small loops, where the relative cost of calling `MoveNext`/`Current` through an interface is significant. See #8481 for an example that doesn't involve enumerators and has more complex code. The issue is about sort calling a delegate via an interface method but then it turned out that doing exactl

[2016-12-07 19:03] AndyAyersMS commented on #8459
@janvorli I'd be willing to give this a try, but would need some guidance.

[2016-12-07 19:27] CarolEidt opened #8506 "RyuJIT x86: Determine why results differ in GitHub_8220 test"
In the test added for the fix to #8220, (tests/src/JIT/Regression/JitBlue/GitHub_8220/GitHub_8220.cs) with PR #8482 , the test is checking for margin of error of approximately 1 unit in the last place. The original test was checking for equality, but on RyuJIT x86 (without intrinsics enabled at this point), I was seeing results that were off by 1 ULP. We should determine why that is the case, as t

[2016-12-07 19:28] #8220 closed

[2016-12-07 19:34] sivarv commented on #8356
PR https://github.com/dotnet/coreclr/pull/8488 fixes this issue.

[2016-12-07 19:34] #8356 closed

[2016-12-07 20:16] mikedn commented on #8506
This isn't x86 specific, there are difference even when running the test on x64 with and without SIMD enabled (via `COMPLUS_FeatureSIMD`):

[2016-12-07 20:40] janvorli commented on #8459
@AndyAyersMS sure. I believe that for AMD64, ARM and ARM64 we need to replace the personality routine on TheUMEntryPrestub and UMThunkStub in all the .asm files listed below with a new personality routine that behaves like the UnhandledExceptionHandlerUnix on Unix, it means it calls the DefaultCatchHandler and fails fast after that.
Here are the files where it needs to be replaced:
 * src\vm\arm\a

[2016-12-07 20:45] mikedn commented on #8506
Ho-hum, this isn't JIT related, it's an issue in `Vector3.Normalize` implementation:
[code]
When hardware accelerated it does `value / length` and the division operator is
[code]
Of course, `x * (1.0f / y)` is not the same as `x / y`.

[2016-12-07 20:50] gitblit commented on #4087
I experience this result running `dotnet new` on Fedora 25 using the 1.1.0 release.

Here is the [console output](https://github.com/dotnet/coreclr/files/637711/console.txt), if that helps.

[2016-12-07 21:05] RussKeldorph commented on #8322
@kaneboy No such plan at this point.

[2016-12-07 21:13] #8481 closed

[2016-12-07 21:28] pgavlin commented on #7963
@CarolEidt: can you explain this a bit more completely? There should no longer be a dependency between the order in which a node consumes its operands and the order in which a node's operands execute. As long as LSRA and code generation are consistent w.r.t. the order in which a node consumes its operands things should work out fine.

[2016-12-07 21:29] CarolEidt commented on #8506
@mikedn - Thanks for tracking that down! I feel rather foolish now, because as I was tracking down the bug in #8220, I noticed that, but realized that couldn't be the issue for that bug, because it was using `Vector3 operator /` in both cases. However, when I found the real bug, I failed to go back and file an issue on that one.

[2016-12-07 21:32] pgavlin commented on #7695
This was fixed with #7739.

[2016-12-07 21:32] #7695 closed

[2016-12-07 21:41] CarolEidt commented on #8506
@sivarv @mikedn I've filed https://github.com/dotnet/corefx/issues/14286 to track this, and will close this issue. Thanks again @mikedn

[2016-12-07 23:18] seanshpark commented on #8487
@janvorli , above two `pThread` values are from the `CatchHardwareExceptionHolder::CatchHardwareExceptionHolder` of DllTest2 and DllTest1 and they are different. But in `CatchHardwareExceptionHolder::IsEnabled`, `pThread` is that of DllTest2 which is `0x80566c8`. So in DllTest1, `m_hardwareExceptionHolderCount` is zero so `IsEnabled` is false.
I'll try with AMD64 and see how that works.

[2016-12-07 23:24] janvorli commented on #8487
@seanshpark I have already tried with AMD64 yesterday, that's how I came up with the advice on how to debug it. If you record the sequence of calls to the three functions together with the pThread in each of it until it reaches the crash and paste it here, I should be able to tell where is the culprit.

[2016-12-07 23:39] danmosemsft commented on #6128
@BrennanConroy I'm going to close this as we can't make progress without that info. Please reactivate if you have it!

[2016-12-07 23:39] #6128 closed

[2016-12-07 23:40] CarolEidt commented on #7963
@pgavlin I finally took another look at this. As you point out, there should not be a dependency here. However, the code that checks this (that doesn't assert, only prints a warning with JitDump is set) in `genCheckConsumeNode()` is assuming that the correlation still exists between execution (producing) order and consuming order. In the past, this has helped identify bugs in the code generator wh

[2016-12-07 23:41] danmosemsft commented on #5687
I am going to close this since it's not really tracking work -- this test hasn't failed since, the workaround works, and the CI machines will get updated inevitably in due course. Do reopen if I misunderstand

[2016-12-07 23:41] #5687 closed

[2016-12-07 23:41] pgavlin commented on #7963
Is last use information calculated based on the order in which the lclVar nodes appear in the function?

[2016-12-07 23:42] CarolEidt commented on #7963
Yes, that's how liveness computes it. So that will need to change before we eliminate `setLastUses`.

[2016-12-07 23:45] CarolEidt commented on #7963
Note that the reason `setLastUses` exists is precisely because there have been issues in the past with the sequencing of lclVar uses. So this is just more of same.

[2016-12-07 23:45] seanshpark commented on #8487
@janvorli , thank you. this is the log.
[code]

Compared to AMD64, for DllTest1, after checking that of DllTest2's `pThread` in `CatchHardwareExceptionHolder::IsEnabled` it checks again with that DllTest1, where x86 returns to somewhere wrong place, seems stack is corrupt.

I'm running with change `push ebp` with `push_nonvol_reg ebp`, with some addition to the macro;
[code]
(is 4 correct?)

I loo

[2016-12-07 23:54] sivarv commented on #8286
@pgavlin - I couldn't repro this when included your recent PR https://github.com/dotnet/coreclr/pull/8484
Prior to your PR, I could repro this failure.  Can you please confirm whether you can repro this failure against latest coreclr?

[2016-12-08 00:03] janvorli commented on #8487
@seanshpark one more thing. Can you repeat the same experiment, but also dump the current thread using gdb at each point you print the pThread? Just to see if the pThread and Linux thread match (in the sense that we would always get the same pair of pThread value and Linux thread id.
From your log, I suspect that the InternalGetCurrentThread doesn't work correctly.

[2016-12-08 00:05] seanshpark commented on #8487
@janvorli , thank you, right on it :)

[2016-12-08 00:13] seanshpark commented on #8487
[code]

[2016-12-08 00:15] pgavlin commented on #8286
I can still repro this as of 64c2ad17351ac5bc0bb042216bfcbf1c5136d7cf and dotnet/corefx@0d623b5b5e110a336eb743b6d9066f336a5177b4.

[2016-12-08 00:16] pgavlin commented on #8286
(that commit in CoreCLR does include the changes from the PR you referenced)

[2016-12-08 00:17] janvorli commented on #8487
@seanshpark I am sorry, I can see I was not clear. I didn't mean dumping the members of the pThread, but getting the current Linux thread id using the gdb. You can e.g. run "info threads" - the current one is marked in the list.

[2016-12-08 00:32] seanshpark commented on #8487
not a problem :)
[code]

[2016-12-08 00:37] seanshpark commented on #8487
for AMD64, in `sigsegv_handler()`, after calling `common_signal_handler()` it continues with  `g_previous_sigsegv.sa_sigaction(code, siginfo, context);` while x86 fails.

this is call stack difference, for AMD64,
[code]
and for x86
[code]

[2016-12-08 01:12] hqueue commented on #8501
This issue is a part of #8496.

[2016-12-08 01:21] #8369 closed

[2016-12-08 01:25] janvorli commented on #8487
@seanshpark could you please dump the stack trace at each call to CatchHardwareExceptionHolder::IsEnabled call? Here is the strange thing. The test is running in a single thread, but since there are two PALs (one in each DLL), when code is running in a context of one dll, it has different pThread than when it is running in context of another dll. We use pthread_setspecific to store the pThread in

[2016-12-08 01:41] janvorli commented on #8459
So here are the details for x86. Here, the exception personality routine of our interest is stored in FrameHandlerExRecord that's created by the thunk code, which in turn is generated by UMEntryThunk::CompileUMThunkWorker. You can see that it sets the exception handler to FastNExportExceptHandler. So for CoreCLR (FEATURE_CORECLR) , this handler body should be modified to call the DefaultCatchHandl

[2016-12-08 02:58] jkotas opened #8516 "Span: Add tests to verify type loader checks for ref-like types"
- Span cannot be boxed
- Span cannot be used as argument of generic instantiations
- Span cannot be used as type of static fields or non-value type instance fields

[2016-12-08 03:06] jkotas opened #8517 "Span: VM side of GC reporting for `Span<T>`"
Fix the following places on the VM side to do proper GC reporting for `Span<T>`:
- ReportPointersFromValueType

[2016-12-08 03:28] jkotas opened #8518 "Span: Verify that Span<T> locals and fields are displayed correctly by the debugger"

[2016-12-08 03:37] seanshpark commented on #8487
Hope this is the one...
[code]
Where `libpaltest_pal_sxs_test1_dll2.so CatchHardwareExceptionHolder::IsEnabled()` called from `libpaltest_pal_sxs_test1_dll1.so` is same as AMD64.

[2016-12-08 05:21] seanshpark commented on #8487
it seems stack corrupts when ending(returning from) `common_signal_handler` function.
[code]

[2016-12-08 05:21] seanshpark commented on #8487
Calling convention problem, maybe ?

[2016-12-08 05:36] seanshpark commented on #8487
Removing `PALAPI` from `RtlRestoreContext()` in pal.h seems to fix this. @parjong , could you look in this function?

[2016-12-08 06:24] hqueue opened #8519 "RyuJIT/ARM32: Working on "NYI_ARM: ARM Lowering for cast""
Start implementing void Lowering::LowerCast(GenTree* tree) in lowerarm.cpp

I will post a initial PR soon.

This is a part of #8496.

[2016-12-08 06:54] saxenark opened #8521 "C# exceptions and rethrow"
In the program below, I expected to have the line "throw new Exception("A")" also reported when I dump the exception object in Main. Unfortunately, this information is being lost even though I am doing a rethrow using throw;. Two questions:

a) Why is this behavior when throw; is supposed to preserve call stack?
b) What is the recommended way to handle this across different versions of C# and .NET

[2016-12-08 07:35] parjong commented on #8487
@seanshpark The current implementation of ``RtlCaptureContext`` has a bug that corrupts the stack.
 - ``RtlCaptureContext`` has a STDCALL calling convention, and it jumps to ``CONTEXT_CaptureContext``.
 - Unfortunately, the calling convention of ``CONTEXT_CaptureContext`` is CDECL.

[2016-12-08 07:54] seanshpark commented on #8188
As there will be lots of unit test fix PRs, I think it is better not to add anymore PR items related with execution fixes... :)

[2016-12-08 07:58] mikedn commented on #8521
Well, `throw;` (`rethrow` in IL) is supposed to preserve the original call stack but it also adds itself to the call stack. But in your `g()` method `throw` and `rethrow` are in the same method. The line number information is recorded per stack frame and there's only one stack frame for a method. So `rethrow` practically overwrites the line number information that `throw` generates.

I'm not aware

[2016-12-08 12:10] lucenticus commented on #8188
@seanshpark I've tried to run native 32bit build for CoreFX (using `schroot`) and found that `init-tools.sh` script downloads 64bit dotnet package only (https://github.com/dotnet/corefx/blob/master/init-tools.sh#L80). The same behavior has `init-tools.sh` from CoreCLR. It seems that we have to enable x86 support for https://github.com/dotnet/cli project  in case we need native build (without cross

[2016-12-08 13:56] janvrany opened #8525 "PROPOSAL: Reintroduce ICorRuntimeHost::DefaultDomain()-sort-of API on Windows"
The aim of this proposal is to add (actually, reintroduce) a new COM API to retrieve a reference to a COM interface `_AppDomain` (IID {05F696DC-2B29-3663-AD8B-C4389CF2A713}). for a default domain. Alternatively, the API method could take an appdomain ID as a parameter and return `_AppDomain` for it.
Similar API is in full Microsoft  .NET Framework - [ICorRuntimeHost::GetDefaultDomain][1].

Rationa

[2016-12-08 14:11] janvorli commented on #8188
@lucenticus enabling support for x86 Linux at this level should be the last step of the bringup, after everything works. It doesn't make sense to do it until you have fully functional coreclr. It is very preliminary to do it now. You can do native part of CoreFX build without it. You just need to run src/Native/build-native.sh instead of the root build.sh

[2016-12-08 14:43] janvrany commented on #8525
As a quick and dirty experiment, I hacked in new API function, [GetCLRDefaultDomain()][1], copying implementation of ICorRuntimeHost::GetDefaultDomain() (which is #ifdef'd out in CoreCLR). It somehow works, but returned object does not implement `_AppDomain` interface (but implements `_Object` interface).

Presumably something's missing (or is #ifdef'd out) in code creating CCW for real AppDomain.

[2016-12-08 15:16] lucenticus commented on #8188
@janvorli Thanks a lot for suggestion! I'll use src/Native/build-native.sh script for that.

[2016-12-08 16:02] gkhanna79 commented on #8469
@JeremyKuhne Do you have an update on this as this is blocking Core-Setup from picking up new CoreFX and CoreCLR packages?

[2016-12-08 17:02] RussKeldorph commented on #8496
Awesome!  It should be much easier to do it now that x86 paved the 32-bit path.  I'm not aware of anyone else working on RyuJIT/ARM32.  dotnet/jit-contrib have certainly talked about it a great deal, so expect feedback and feel free to ask questions.

[2016-12-08 17:35] JeremyKuhne commented on #8469
@gkhanna79 I'm working on it now. I'll provide more info later today if I don't have a solution finished.

[2016-12-08 17:54] danmosemsft commented on #8521
Does `ExceptionDispatchInfo` help - example https://github.com/dotnet/corefx/pull/14249

[2016-12-08 17:58] danmosemsft commented on #8493
Hello @racuca .. these repos are for .NET Core, which does not contain WPF.

For support on the Desktop framework here are the options:

- Ask the community: https://social.msdn.microsoft.com/Forums/vstudio/en-US/home is an excellent place to engage with an active community of experts. If something you are working on is behaving unexpectedly, this is good place to find answers. http://stackoverflo

[2016-12-08 17:58] #8493 closed

[2016-12-08 17:59] danmosemsft commented on #8478
Issue moved to [dotnet/corefx #14319](https://github.com/dotnet/corefx/issues/14319) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-08 17:59] #8478 closed

[2016-12-08 18:02] mikedn commented on #8521
Hmm, looks like it could help, it doesn't produce the exact same stack trace that a "proper" rethrow would produce but at least it contains both locations:
[code]
generates
[code]

[2016-12-08 18:15] danmosemsft commented on #8177
Per [issues guidance](https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/IssuesFeedbackEngagement.md)

[2016-12-08 18:15] danmosemsft commented on #8177
Issue moved to [dotnet/corefx #14320](https://github.com/dotnet/corefx/issues/14320) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-08 18:15] #8177 closed

[2016-12-08 18:41] danmosemsft commented on #8034
Per [issues guidance](https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/IssuesFeedbackEngagement.md)

[2016-12-08 18:41] #8034 closed

[2016-12-08 18:41] danmosemsft commented on #8034
Issue moved to [dotnet/corefx #14323](https://github.com/dotnet/corefx/issues/14323) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-08 18:41] danmosemsft commented on #6692
Per [issues guidance](https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/IssuesFeedbackEngagement.md)

[2016-12-08 18:41] #6692 closed

[2016-12-08 18:41] danmosemsft commented on #6692
Issue moved to [dotnet/corefx #14324](https://github.com/dotnet/corefx/issues/14324) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-08 18:42] danmosemsft commented on #6759
Per [issues guidance](https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/IssuesFeedbackEngagement.md)

[2016-12-08 18:42] danmosemsft commented on #6759
Issue moved to [dotnet/corefx #14325](https://github.com/dotnet/corefx/issues/14325) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-08 18:42] #6759 closed

[2016-12-08 18:54] danmosemsft commented on #8525
@jkotas

[2016-12-08 18:58] danmosemsft commented on #4506
I see no use for this issue. fixed by https://github.com/dotnet/corefx/pull/13747

[2016-12-08 18:58] danmosemsft commented on #4506
Oh, it was clsoed already. My bad

[2016-12-08 19:11] pgavlin commented on #7147
@JosephTremoulet: do you think this will make 1.2?

[2016-12-08 19:12] pgavlin commented on #4590
@JosephTremoulet: do you think this will make 1.2?

[2016-12-08 20:40] jaredcnance opened #8533 "External files not found when running in Docker container"
Trying to run a python program from a dotnet app in Docker. This works fine if I run the program outside Docker and on OSX (`dotnet version` > `1.0.0-preview2-1-003155`).

Here is my Dockerfile:

[code]

If I try to start python from the app, I get:

[code]

Now if I just check to see if the files exist:

[code]

If I run bash in the container (`docker run -it --entrypoint=bash <image-id>`) I can

[2016-12-08 20:47] benaadams opened #8534 "RyuJit: Functions with stackalloc won't inline"
Functions using `stackalloc` will fail to inline with reason `unknown opcode`

Discovered this as part of this PR https://github.com/davidfowl/Channels/pull/145 (should have probably raised it then)

Example function that will fail to inline even with aggressive inlinining
[code]

Changed function that will inline successfully without aggressive inlinining
[code]

[2016-12-08 20:48] benaadams commented on #5719
@jkotas @mikedn I think I found what the performance issue was; have raised issue https://github.com/dotnet/coreclr/issues/8534

[2016-12-08 20:54] benaadams commented on #8534
@BruceForstall @jamesqo was this fixed by https://github.com/dotnet/coreclr/issues/6261 ?

[2016-12-08 20:57] natemcmaster opened #8535 "Add more detail to crossgen warning"
The warning issued here: https://github.com/dotnet/coreclr/blob/32f0f9721afb584b4a14d69135bea7ddc129f755/src/tools/crossgen/crossgen.cpp#L424
doesn't give enough context to actually figure out what is going wrong.

My scenario:

I'm attempting to build the optimized package cache for ASP.NET Core docker images, using the crossgen from runtime.debian.8-x64.Microsoft.NETCore.Runtime.CoreCLR/1.0.2. W

[2016-12-08 21:11] JeremyKuhne commented on #8469
#8531 should fix this.

[2016-12-08 21:11] #8469 closed

[2016-12-08 21:18] janvorli opened #8536 "Incrementality of build broken when dummy version.cpp is generated by the build.sh"
I have just discovered that when I build CoreCLR on FreeBSD or Raspian and then after the build completes I run ./build.sh again, the version.cpp is regenerated and so the file is rebuilt many times for all components that include it and those components are relinked.
It doesn't happen on my Ubuntu 14.04 though.

[2016-12-08 21:25] benaadams commented on #8534
Also may have changed the code path for https://github.com/dotnet/coreclr/pull/6141 from `stackalloc` to `uint` for similar reasons as discovered in benchmarking by @jamesqo (additionally may have been additional localloc issues referenced above)

[2016-12-08 21:30] janvorli commented on #8536
It actually looks like that this happens when the version.cpp is generated by the build.sh script with "No version information produced" in it. When it is generated by the managed generator and it contains the real version info, the incremental build is correct.

[2016-12-08 21:42] AndyAyersMS commented on #8534
There are challenges inlining methods with `stackalloc`, primarily because there is no `unstackalloc`. Inlining such methods can convert cases that do not overflow the stack into cases that do.

C/C++compilers have similar limitations inlining methods with `alloca`.

We could consider supporting this for aggressive inline methods, perhaps.

[2016-12-08 21:52] jkotas commented on #8525
We have a simple hosting APIs for CoreCLR: https://github.com/dotnet/coreclr/blob/32f0f9721afb584b4a14d69135bea7ddc129f755/src/coreclr/hosts/inc/coreclrhost.h. Any reason you cannot just use those? Alternatively, you can have a small .exe that bootstraps the runtime, and registers objects that you need via callbacks.

The _AppDomain and similar interface were introduced to workaround COM versionin

[2016-12-08 22:09] benaadams commented on #8534
What about for fixed sized `stackalloc`s vs variable sized ones? Maybe with a threashold?

Are quite a lot of fixed sized allocs (also variable ones) [coreclr](https://github.com/search?utf8=%E2%9C%93&q=stackalloc++repo%3Adotnet%2Fcoreclr++path%3A%2Fsrc&type=Code&ref=searchresults); [corefx](https://github.com/search?utf8=%E2%9C%93&q=stackalloc++repo%3Adotnet%2Fcorefx++path%3A%2Fsrc&type=Code&ref=

[2016-12-08 22:18] benaadams commented on #8534
Ahh... so the SP will advance, but there is no way to bring it back? So scoping with SP can only be controlled via function call; rather than say in an `if`/`while` block etc

So it could get quite messy if a `stackalloc` function was inlined into the top of a while loop for example?

[2016-12-08 22:18] natemcmaster commented on #8535
FWIW I finally figured out that the reason for the failure was that crossgen on windows expects `/Platform_Assemblies_Path path1;path2` and on Linux expects `/Platform_Assemblies_Path path1:path2`. Semicolon vs colon. The help text on Linux shows semicolon.

[2016-12-08 22:21] AndyAyersMS commented on #8534
Yes, the problematic cases are ones where the call site is in a loop. Even if the `stackalloc` is fixed size we won't know the number of loop iterations during inlining and so would not be able to bound the potential stack growth.

The jit could potentially convert small fixed-sized stackallocs into new locals, that might enable inlining the small fixed sized cases.

[2016-12-08 22:26] mellinoe opened #8538 "Explore allowing acommand-line parameter to control CORE_LIBRARIES in corerun"
We are currently in the process of revamping the build system used in corefx. One of the changes we are interested in making to our testing process is having two segregated folders: one for the runtime and framework binaries, and then a separate one (or set) containing individual test assemblies. We'd like to avoid having to copy everything into multiple folders like we are doing today, because it

[2016-12-08 22:35] benaadams commented on #8534
Could loop + stackalloc block inline; but without loop its fine?

[2016-12-08 22:36] danmosemsft commented on #6111
This will be exposed in the upcoming .NET Core release, next year
https://github.com/dotnet/corefx/blob/master/src/System.Runtime/ref/System.Runtime.cs

[2016-12-08 22:36] #6111 closed

[2016-12-08 22:37] benaadams commented on #8534
Could loop + stackalloc block inline; but without loop its fine?

Though I suppose eventually it will hit a loop when all the inlines collapse/fold-in :/

e.g. caller of caller of caller has a loop

[2016-12-08 22:47] danmosemsft commented on #542
API request -- moving to CoreFX

[2016-12-08 22:47] danmosemsft commented on #542
Issue moved to [dotnet/corefx #14336](https://github.com/dotnet/corefx/issues/14336) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-08 22:47] #542 closed

[2016-12-08 22:48] danmosemsft commented on #1826
API request - moving to CoreFX .

[2016-12-08 22:49] danmosemsft commented on #1165
API request - moving to CoreFX.

[2016-12-08 22:49] danmosemsft commented on #1165
Issue moved to [dotnet/corefx #14338](https://github.com/dotnet/corefx/issues/14338) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-08 22:49] #1165 closed

[2016-12-08 22:54] danmosemsft commented on #6123
This is in Corefx now and going to be in the next version of .NET Core

[2016-12-08 22:54] #6123 closed

[2016-12-08 22:55] danmosemsft commented on #5739
https://github.com/dotnet/coreclr/issues/7607 related

[2016-12-08 22:55] danmosemsft commented on #5094
This is now in Corefx

[2016-12-08 22:55] #5094 closed

[2016-12-08 23:00] AndyAyersMS commented on #8534
Maybe for small allocations, yes.

The interesting cases for perf likely involve amortizing the cost of small fixed-sized stackallocs in loops, like the example you gave above: davidfowl/Channels#145. If the inlinee does a variable or large stackalloc it presumably will touch most of the storage and so the stackalloc overhead is probably not as significant.

I'd like to see the jit convert small f

[2016-12-08 23:04] benaadams commented on #8534
@AndyAyersMS could you raise an issue for that? I have no idea how to phrase it, get the concept across 😄

[2016-12-08 23:13] AndyAyersMS opened #8542 "JIT: consider optimizing small fixed-sized stackalloc"
In some cases small fixed-sized `stackalloc`s could be turned into regular local vars, which (if this transformation could be anticipated) would unblock inlining. See related discussion in #8534.

@benaadams feel free to add pointers to examples you've found.

[2016-12-08 23:14] AndyAyersMS commented on #8534
Sure, #8542.

[2016-12-08 23:24] janvrany commented on #8525
@jkotas Thanks!

Let me first try to better explain what is the use case. It is **NOT** about implementing an application and calling specific .NET code from it, code which is known beforehand. What I want to implement is kind of FFI (except that it calls to CoreCLR, not plain C, more or less).
If I may draw a parallel with Python: say one wants to use `libxml2` from Python. One way is to create p

[2016-12-09 01:09] seanshpark opened #8548 "[x86/Linux] Implement TheUMEntryPrestub"
As described in https://github.com/dotnet/coreclr/pull/8275#pullrequestreview-10007509 , I'll start `TheUMEntryPrestub` implementation for x86.

In frames.h, there is some comments about this function.
[code]

[2016-12-09 01:09] hseok-oh opened #8549 "[ARM32/Linux] CoreCLR building issues for ARM32 on Linux"
We have some issues for ARM 32bit cross building on Linux. Especially, we need to clear some of these tasks to enable core-setup for ARM32. (dotnet/core-setup#725)

Packages build
- [x] Update CoreCLR to generate nuget packages of CoreCLR (PR: #8421)
- [x] Enable CoreCLR Pipeline build support for Linux for Arm32 and publish packages (issue https://github.com/dotnet/coreclr/issues/8639)
- [x] Buil

[2016-12-09 01:09] seanshpark commented on #8548
cc @parjong

[2016-12-09 01:13] hseok-oh commented on #8549
cc @chunseoklee @jyoungyun @idkiller
@gkhanna79 @janvorli

[2016-12-09 01:19] sivarv opened #8550 "[RyuJIT x64][SIMD][JitStress=2] newly added SIMD test GitHub_8220.exe fails on Linux with an assertion"
Test:
`JIT.Regression.JitBlue.GitHub_8220.GitHub_8220.GitHub_8220`

Assert:
`Thread: 43165 [0xa89d]): Assertion failed 'varDsc->lvSize() == 16' in 'Test.Program:testEquals(struct):int' (IL size 127) File: /mnt/j/workspace/dotnet_coreclr/master/checked_ubuntu_prtest/src/jit/lower.cpp Line: 240`

This failure I have uncovered while doing stress testing for an LSRA fix.

[2016-12-09 01:22] saxenark commented on #8521
I think I finally found the issue documented very clearly in [MSDN](https://msdn.microsoft.com/en-us/library/system.exception.stacktrace(v=vs.110).aspx)

The common language runtime (CLR) updates the stack trace whenever an exception is thrown in application code (by using the throw keyword). If the exception was rethrown in a method that is different than the method where it was originally thrown

[2016-12-09 02:32] gkhanna79 commented on #8549
How does this relate, tracking wise, to https://github.com/dotnet/core-setup/issues/725?

[2016-12-09 02:35] gkhanna79 commented on #8188
@seanshpark I just did a build of CoreCLR master on Linux Mint 18 (Ubuntu 16.04 based) as `build.sh x86` and the generated binaries are all 64bit instead of x86 (`readelf -h ./libcoreclr.so` shows it to be ELF64). Is there a different way you have enabled the build?

[2016-12-09 05:30] AlexRadch opened #8553 "Why Span<T> does not implement interfaces IList<T> and so on like Array<T>"
Why `Span<T>` does not implement interfaces `IList<T>` and so on like `Array<T>` ?

[2016-12-09 05:30] AlexRadch commented on #8553
I should ask such question here or in corefx repository?

[2016-12-09 06:00] seanshpark commented on #8188
@gkhanna79 , I use like this,
[code]

[2016-12-09 06:04] seanshpark commented on #8188
And for a successful build you need to apply `parjong:fix/x86_eh_macros` (#8381) path and disable `SOS` as some PRs are not merged yet. I use like this.
[code]

[2016-12-09 06:17] sjsinju opened #8554 "[ARM32/Linux] Performance issue when FEATURE_STUBS_AS_IL is enabled"
Currently, when I run an application in an ARM environment, I have created a Native Image of all the DLLs used by Crossgen for performance reasons.
Therefore, most methods do not need JIT Compile at runtime.

The application I have tested uses a lot of Secure Delegate Stub in character.
However, I found that JIT Compile is executed whenever 'Domain NeutralISt ubClass :: IL_STUB_SecureDelegate_Invo

[2016-12-09 06:26] mikedn commented on #8553
Probably you should start by reading the design doc: https://github.com/dotnet/corefxlab/blob/master/docs/specs/span.md

There are also a bunch of existing discussions about spans, issues 5851, 8054, 5860 are just a few pointers.

[2016-12-09 07:10] AlexRadch commented on #8553
Cool

[2016-12-09 07:10] #8553 closed

[2016-12-09 08:12] xoofx opened #8558 "Cleanup dirs.proj, *.nativeproj"
Hi here,
This is just a question to understand how the build is organized.
The documentation says that CMake is used for building, but I'm intrigued by `dirs.proj` and `*.nativeproj` files and their usage. It seems that they duplicate a part of what existing CMakeLists.txt contains.
What are they used for?

[2016-12-09 09:43] George1205 commented on #8457
I've added the issue on Connect as well, but I wasn't able to attach the zip file: https://connect.microsoft.com/VisualStudio/feedback/details/3115697/huge-performance-difference-with-prefer-32-bit

[2016-12-09 12:16] janvorli commented on #8554
@jkotas does it sound like a bug or is there a reason why we need to jit the secure delegate stubs every time?

[2016-12-09 12:32] ravenwish1990 commented on #4409
Any updates? My interest is in VSCode-mssql, which needs this system to support Arch before even thinking about the idea of supporting Arch themselves...

[2016-12-09 12:43] janvorli commented on #4409
CC: @gkhanna79

[2016-12-09 13:37] jkotas commented on #8554
Yes, it looks like a bug. There should be a hashtable to cache these so that they are not recompiled multiple times.

[2016-12-09 13:58] jkotas commented on #8558
They are part of the legacy build system that we are not using anymore. They can be deleted (except from under the JIT directory where they are still used).

[2016-12-09 14:13] jkotas commented on #8558
We can keep this issue open to track cleaning these up.

[2016-12-09 15:17] #8533 closed

[2016-12-09 16:07] gkhanna79 commented on #4409
CC @kouvel

[2016-12-09 16:42] gkhanna79 commented on #8525
I believe you will need to have a basic entrypoint delegate that will details of the method (say, name, assembly etc) to be invoked and this delegate implementation will use Reflection to get access to the method and return a function pointer to it back to the native caller.

[2016-12-09 16:43] gkhanna79 commented on #8535
@JohnChen0 Can you PTAL?

[2016-12-09 16:53] nicolasr75 opened #8565 "Detecting the user or the system closing .NET Core console application"
Is there any way to detect whether a user or the system closes a console application? I support Ctrl-C for closing by a user but since the system provides the ability to simply close the console window I can not clean up my application which is important since it performs regular tasks that should be terminated cleanly. The same goes for system shutdown.

I tried

`System.Runtime.Loader.AssemblyLo

[2016-12-09 18:04] #3206 closed

[2016-12-09 19:30] #8287 closed

[2016-12-09 19:45] JohnChen0 commented on #8535
Fixed CrossGen help text with PR #8566.

[2016-12-09 19:45] #8535 closed

[2016-12-09 23:00] AndyAyersMS commented on #8542
I did a quick prototype of this, converting any fixed sized stackalloc of 32 bytes or less, and the only hits in our normal set of code size assemblies (which includes corefx and roslyn) were in some interop stubs in the core library. The diffs look good and the jit changes are small and likely low risk but I'd like to have a bit more motivation before pushing further.

@benaadams if there's an ea

[2016-12-09 23:29] spender-sandbox commented on #8480
Also https://pax.grsecurity.net/docs/ ;)

-Brad

[2016-12-10 00:12] stephentoub opened #8577 "Investigate improving ConditionalWeakTable.Remove"
CoreRT's ConditionalWeakTable implementation was ported back to CoreCLR.  Whereas CoreCLR's Remove method would actually free the handle immediately, as the CoreRT design supports lock-free reads, the new Remove just sets the hashcode to -1, such that subsequent searches won't find it, but the handle won't be freed until the container is finalized.  We should be able to be more aggressive about it

[2016-12-10 00:36] benaadams commented on #8542
For motivation, I imagine with Span<T> working as an "array" over `stackalloc`ed items it will become more widespread. [Pipelines, Formatting and Encoding](https://github.com/dotnet/corefxlab/search?l=C%23&q=stackalloc&type=Code&utf8=%E2%9C%93) use it in corefxlab; however some of them are variable and others are large.

[FormatInt64](https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microso

[2016-12-10 00:45] benaadams commented on #8542
Two examples I'm definitely aware of  where stackalloc have been avoided due to performance are

https://github.com/dotnet/corefxlab/blob/master/src/System.IO.Pipelines/ReadableBuffer.cs#L95-L103

and

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Char.cs#L932-L936

[2016-12-10 01:36] am11 commented on #1224
It seems like this diff https://github.com/dotnet/coreclr/commit/ffc7372713170e09a9f80d4cd8d6bb238378a34b#diff-9f8fe187f0860c5a69db2d91a5edc001 cleaned up 70 out of 72 instances of `FEATURE_LEGACYSURFACE` in `model.xml`. The remaining two are: `System.IO.SearchOption` and `System.IO.SeekOrigin`.

[2016-12-10 03:38] jamesqo commented on #6759
@danmosemsft Thanks for pointing me to the issues guidance. I will keep this in mind when raising future issues.

[2016-12-10 05:00] roterdam commented on #8457
@mikedn why can't the 64-bit jit keep the values in the registers?

[2016-12-10 07:52] mikedn commented on #8457
There's a limit to the number of local variables the JIT tracks during data flow analysis - 512. Variables are sorted by their reference count and those that exceed the limit aren't tracked and end up on the stack.

That said, JIT32 has a lower limit - 128. So it's possible that the limit isn't itself a problem, the large number of local variables is. The IL code for this method has 20 variables b

[2016-12-10 07:53] janvorli commented on #8536
Fixed by #8547

[2016-12-10 07:53] #8536 closed

[2016-12-10 08:31] #8577 closed

[2016-12-10 11:43] #8436 closed

[2016-12-10 12:02] George1205 commented on #8457
I've rerun some tests with just a single round (12). I wanted to have as little code as possible, to hopefully avoid the effect mentioned by Mike about the local variables.

(I've increased the number of iterations, "count", 30 times.)

The results are ("useLegacyJit" is not in config):

1. With "Prefer 32-bit" off, the speed is 855 MB/s (19.6 for all rounds). The private readonly tables are stati

[2016-12-10 13:11] benaadams commented on #8542
Simple app for plaintext testing is
[code]
Though I don't think it will hit any stackallocs

[2016-12-10 13:22] benaadams commented on #8542
Also need from corefx
`Windows_NT.AnyCPU.Release/System.Private.Uri`

[2016-12-11 01:50] swgillespie commented on #5741
Fixed by #8359

[2016-12-11 01:50] #5741 closed

[2016-12-11 08:09] mikedn commented on #8457
It would seem that in .NET Framework you still end up with quite a few variables, this can be seen in the function prolog:
[code]
CoreCLR doesn't do this so I can't investigate what's going on, the current .NET Framework release is quite a bit behind CoreCLR.

BTW, the original code does better in .NET Core than in .NET Framework - 50 MB/sec vs. 35 MB/sec.

It's also interesting to see the functio

[2016-12-11 08:43] mikedn commented on #8457
Tried with `unsafe`. .NET Framework x64 still can't catch up JIT32, only 64 MB/sec. CoreCLR x64 does better - 93 MB/sec. Both still generate "funny" code like:
[code]

[2016-12-11 10:38] #4617 closed

[2016-12-11 16:04] tugberkugurlu commented on #2688
A few other places like https://github.com/Microsoft/vsts-agent/issues/215 suggests that `AssemblyLoadContext.Default.Unloading` is where one would hook into `SIGTERM` but it doesn't seem to be working for me.

[2016-12-11 16:04] tugberkugurlu commented on #7394
Same here: https://github.com/dotnet/coreclr/issues/2688#issuecomment-266290169

[2016-12-11 16:09] m-jepson commented on #7394
I haven't been able to get this event to fire either. It is possible on Linux though, but only if you run the process in the background and then kill it using "kill <pid>". If you run it and then press CTRL-C, it won't fire either.

[2016-12-11 21:42] cydhaselton commented on #1097
Update:
I've forked coreclr and created a feature-android branch for all Android-specific changes needed to run coreclr.  Currently run issues are being discussed and worked on [here](https://github.com/cydhaselton/coreclr/issues/1) and help troubleshooting is welcome.

[2016-12-11 21:58] javarch commented on #1097
Ich werde ab  09.12.2016 nicht im B�ro sein. Ich kehre zur�ck am
12.12.2016.
Ich werde Ihre Nachricht nach meiner R�ckkehr beantworten.

Die R�ckmeldung bezieht sich auf ein Mail mit folgendem Thema:
Re: [dotnet/coreclr] Build CoreCLR for Android (#1097)

____________________________________________________________________________________________
Gesendet (c) GRZ/RACON Linz 2016 Agent 'Abwesenheit

[2016-12-12 01:14] hseok-oh commented on #8549
@gkhanna79 I also think not all of tasks in this issue are related to dotnet/core-setup#725.

And we may generate package file for Linux ARM32 by task 1 (Update CoreCLR to generate nuget packages of CoreCLR). But we need additional tasks to generate more complete package. (such as `libcoreclrtraceptprovider.so` , `crossgen` and `*.ni.dll`)

[2016-12-12 01:38] sjsinju commented on #8554
@janvorli @jkotas  Thanks for your comments. I will analyze codes.
But I have an question.
In the above table, not only SecureDelegate but also other stubs except PInvoke can be called at least once (although a small number).

Do you think there are bugs in the SecureDelegate Stub as well as others? or is it just a SecureDelegate  Stub bug?

[2016-12-12 03:34] Artoria2e5 opened #8586 "Allow easy disabling of Werror in source code releases"
While `-Werror` is a great thing for engineering and especially for CI testing, it gives users unnecessary problems as compilers may add new warnings in new releases. Therefore, putting `-Werror` in a non-development versions for users to compile is usually a short-sighted move.

From what I can see now, CoreCLR's `-Werror` is especially troublesome for "cutting edge" distros like Arch Linux (#831

[2016-12-12 04:16] BroncoTc commented on #8586
+1

[2016-12-12 06:20] parjong opened #8590 "[x86/Linux] 16-byte stack alignment violation in JIT code"
I currently attempt to run the following simple code on x86/Linux port:
[code]
As I working on x86/Linux port with https://github.com/parjong/coreclr/commit/1af98dca5a34aa29d0cd0b760a2b174eb50342c5 (which disables necessary exception handling macros), I expect to see some errors such as 'uncaught exception'.

Unfortunately, the current x86/Linux port ends up with segmentation fault as follows:
[co

[2016-12-12 06:20] parjong commented on #8590
\CC @seanshpark

[2016-12-12 06:24] parjong commented on #8590
Here is stack trace when segmentation fault occurs:
[code]
``movaps`` instruction requires 16-byte alignment, but the memory operand does not satisfy this requirement.

[2016-12-12 06:33] parjong commented on #8590
It seems that the issues is inside JITted code. While digging this issue, I found that 16-byte alignment is broken at the following frame:
[code]
(As I run this code with PR #8587, ``CallDescrWorkerInternal`` satisfies 16-byte stack alignment requirement)

[2016-12-12 07:09] parjong commented on #8590
@dotnet/jit-contrib @janvorli @jkotas IMHO, there will be two approaches to resolve this issue
 - Fix JIT (as in #8587), or
 - Fix Clang options (as in #8591).
Could you let me know which approach will be better to resolve this issue?

[2016-12-12 08:43] sjsinju commented on #8554
@janvorli  @jkotas
I requested for PR related to this issue( #8592 ).
It's just like the implementation of GetMulticastInvoke(), which uses an already created stub.

[2016-12-12 13:07] janvorli opened #8595 "Design portable handling of tail calls with helpers"
Currently we don't handle non-trivial cases of tail calls on Unix due to non-portable and complex way it is implemented. The goal of this work item is to design a portable way of handling these cases so that it can be used uniformly over all our jitted and AOT (ahead of time) platforms.

[2016-12-12 13:10] #8595 closed

[2016-12-12 16:05] janvorli commented on #7394
@kouvel, @adityamandaleeka, @stephentoub - it seems that the intent of #2688,  #5205 and #4309 was to enable an app to hook to an event that gets invoked when the app receives the SIGTERM, but it doesn't seem to work. I had hard time figuring out from the lengthy discussions in those issues / PRs where we have finally landed. Does one of you know if the current behavior is a bug or if we have just

[2016-12-12 16:30] Librazy commented on #8045
Similar problem on Arch Linux AUR package : https://aur.archlinux.org/packages/dotnet-cli/

[2016-12-12 16:32] adiaaida commented on #7693
Should we disable this test for now for x86 so that we can get the GCStress job clean?

[2016-12-12 17:04] janvorli commented on #8045
@Librazy this was already fixed several days ago by #8470.

[2016-12-12 17:04] #8045 closed

[2016-12-12 17:44] jkotas commented on #8590
Fixing the JIT would be the right thing to do.

The underlying platform libraries do assume the 16-byte alignment and it is not feasible to recompile them with different compiler flag. If we kept the JITed code or the runtime code on the 4-byte alignment plan, there needs to be some kind of alignment thunks on transitions to platform code. It is pretty non-trivial to get them built and they make e

[2016-12-12 18:03] jkotas commented on #8554
The problem is specific to the SecureDelegate Stub.

[2016-12-12 18:22] stevedesmond-ca commented on #8549
I had previously noticed that libcoreclrtraceptprovider.so is explicitly ignored/removed from the things to build for non-Windows ARM...was this based on a previous assumption/requirement that is no longer true? I'm happy to pick that one up if no one else has.

As for the crossgen pieces, [here](https://github.com/stevedesmond-ca/dotnet-arm/blob/master/build) is how I was doing it, quick and dirt

[2016-12-12 18:33] kouvel commented on #7394
Our expectation was that SIGTERM should raise the Unloading event, so this sounds like a bug. I'm not sure about Ctrl+C / SIGINT, it also seems like a graceful shutdown case so I guess it should also raise the event. I'll take a look at both of these.

[2016-12-12 18:42] gkhanna79 commented on #8549
@hseok-oh I would suggest we have a single issue to track all open items for Linux Arm32 E2E bringup so that it serves as a reference of the current status. Can you please reference these as "CoreCLR Arm32 issues" from https://github.com/dotnet/core-setup/issues/725 and use this issue as a central issue for all CoreCLR for Linux Arm32 issues?

[2016-12-12 18:44] schaabs opened #8597 "SIGABRT_libcoreclr.so!CorUnix::CPalObjectBase::ReleaseReference"
**The notes  included in this bug refer tot the dump [20161130-11_0045.zip](https://dumpling.azurewebsites.net/api/dumplings/archived/e20c293d4fe257d61362e54bbacfb6e2bbde0285).  A full list of all the dumps collected for this issue in the past 90 days can be found at [SIGABRT_libcoreclr.so!CorUnix::CPalObjectBase::ReleaseReference](https://dumpling.azurewebsites.net/?FAILURE_HASH=SIGABRT_libcorecl

[2016-12-12 18:48] gkhanna79 commented on #8549
@stevedesmond-ca The repo builds clean with libcoreclrtraceptprovider.so for 16.04. However, it does not build clean for Ubuntu 14.04 and, hence, being excluded.

Yes, and it is blocker for automation to use that approach. Hence, we need to have a x86 hosted crossgen that generate Arm32 code so that it just runs in the natural expected manner.

[2016-12-12 18:49] gkhanna79 commented on #8597
@kouvel PTAL.

FYI - @janvorli

[2016-12-12 18:49] janvorli commented on #7394
As for the SIGINT, it is handled in corefx in pal_console.cpp. It is supposed to call a callback registered using SystemNative_RegisterForCtrl.

[2016-12-12 18:54] swgillespie commented on #7693
That's fine with me - I haven't gotten around to this investigation yet.

[2016-12-12 19:37] RussKeldorph commented on #6713
@jkotas Could you weigh in on this?  Is this a problem we would solve, and would we solve it in any of the proposed ways?

[2016-12-12 20:04] jkotas commented on #6713
This is same theme as https://github.com/dotnet/corefx/issues/1514.

The proposals to add APIs for performance reasons should include data about the benefits.

`Enum.ToString()` is relatively slow reflection based API. It is not as slow as before thanks to @benaadams improvements. Avoiding boxing may shave some cost from it, but it is unlikely to do a miracle because of short term boxing is relati

[2016-12-12 20:27] mikedn opened #8599 "[RyuJIT] TreeNodeInfoInitCmp incorrectly drops a required cast"
Example:
[code]
The cast to byte is dropped by this [code](https://github.com/dotnet/coreclr/blob/master/src/jit/lowerxarch.cpp#L3626) and we get this:
[code]
Presumably the intention of that code is to generate a byte sized compare but this doesn't happen if the constant doesn't fit in a byte.

[2016-12-12 20:28] mikedn commented on #8599
This is likely a very rare case, I only found this because I'm trying to somehow refector `TreeNodeInfoInitCmp`, it's quite convoluted. In a week or so I should have a PR that includes a fix for this but maybe having a separate fix would be better since this also affects .NET Framework?

cc @RussKeldorph

[2016-12-12 21:04] RussKeldorph commented on #8599
Thanks @mikedn!  Do you want me to assign this to you, or are you thinking the separate fix should come from someone else?

@dotnet/jit-contrib

[2016-12-12 21:12] mikedn commented on #8599
IMO since I'm already looking into this there's no point wasting someone else's time on this. I asked just in case the team prefers to fix this because it affects .NET Framework.

[2016-12-12 21:31] RussKeldorph commented on #8599
@mikedn Sold.  It definitely makes sense to make a separate fix before refactoring in case it helps porting, but its your call.

@russellhadley

[2016-12-12 21:36] #8286 closed

[2016-12-12 21:56] galvesribeiro opened #8602 "After RC2 update everything breaks"
After all the updates made to VS2017 Today including new tooling for .Net Core 2 problems start to happen:

1. Create a new console App by either `dotnet new` or File -> New -> Console App (Dotnet Core). While building with `dotnet build` it work just fine but if you try to build from VS you have this issue:
[code]

2. Multitargeting stopped to work. If you set `<TargetFrameworks>net462;netcoreapp

[2016-12-12 23:33] dougkpowers commented on #7394
I would prefer that a SIGINT _NOT_ call Unloading event handler because I would like the two signals (SIGINT and SIGTERM) be distinguishable.  SIGINT currently fires the Console.CancelKeyPress, and because the SIGINT is only applicable in a foreground/console application, this behavior seems sufficient.

If I wanted to take different actions on each event, I could choose to do that by having diffe

[2016-12-12 23:59] janvorli commented on #7394
@dougkpowers I also believe that's the expected behavior.

[2016-12-13 00:45] #8487 closed

[2016-12-13 00:46] seanshpark commented on #8548
#8589 merged

[2016-12-13 00:46] #8548 closed

[2016-12-13 00:50] BruceForstall commented on #8590
So Linux/x86 assumes 16 byte stack alignment, compared to Windows/x86 only requiring 4 byte stack alignment?

In the JIT, you can change `STACK_ALIGN` and friends in target.h (under some appropriate `#ifdef`), which will get you most of the way, though presumably there's some carefully coded prolog/epilog code that will need to change, such as in `Compiler::lvaAlignFrame()`.

[2016-12-13 00:52] BruceForstall commented on #8599
btw,

Please! And thank you!

[2016-12-13 01:24] hseok-oh commented on #8549
@gkhanna79 I updated dotnet/core-setup#725 and this issue. I agree with you.

[2016-12-13 01:55] gregg-miskelly opened #8606 "Debugger launch has a race condition making breakpoints in startup code are unreliable"
1. Create a new process suspended
2. Use RegisterForRuntimeStartup to find out about the new process
3. When RegisterForRuntimeStartup fires the handler, call DebugActiveProcess and return

Expected:
Debugger should successfully finish the hookup before any managed code runs

Actual:
There is a race where sometimes managed code runs before the hookup finishes. CORDebuggerAttached gets set from cor

[2016-12-13 02:08] sjsinju commented on #8554
@jkotas
Thank you for your support.
Using this PR(#8592), I can see the following results for the same application.
[code]

[2016-12-13 03:34] ellismg commented on #8602
@nguerrera Who's a good person to take a look at this tooling issue?

[2016-12-13 04:10] nguerrera commented on #8602
Let's use dotnet/sdk#482 for this. That's the right repo. Some folks on my team appear to be on it already.

[2016-12-13 04:10] #8602 closed

[2016-12-13 05:15] parjong commented on #8590
@jkotas @BruceForstall Thanks you for comment. I'll try that approach.

[2016-12-13 06:54] seanshpark opened #8612 "[x86/Linux] Implement UmThunkStub"
As next step of #8548, need to implement `UmThunkStub` as currently it's just `int 3`
I'll use `CharMinValue.exe` program from CoreFX unit test as `UmThunkStub` is called while running.

[2016-12-13 07:14] hqueue commented on #8549
I also agree that this issue handle all CoreCLR related issues for Arm32 bringup.

@gkhanna79 what does "E2E" in "Arm32 E2E bringu" stand for?

[2016-12-13 08:20] tmds commented on #8474
Can I get some advice how to debug this further?

[2016-12-13 08:55] tugberkugurlu commented on #7394
Pressing CTRL + C once from docker-compose didn't fire either Console.CancelKeyPress or AssemblyLoadContext.Unloading for me. I will double check.

Also, is there any timeouts defined for these hooks?

Tugberk
Sent from my iPhone - excuse the terseness and typos

On 12 Dec 2016, at 23:33, Doug Powers <notifications@github.com<mailto:notifications@github.com>> wrote:

SIGINT currently fires the Con

[2016-12-13 09:36] janvorli commented on #8590
@BruceForstall this is from wikipedia on x86 calling conventions (description is for cdecl):

[2016-12-13 09:42] hseok-oh commented on #8495
These cmake variables are same when it build CoreCLR. These variable in windows are changed when it build cross-architecture native component. To build cross-architecture component, we need additional implement in `build.sh` and `gen-buildsys-clang.sh`.

[2016-12-13 10:03] janvorli commented on #8474
@mikem8361, can you please give some advice here?

[2016-12-13 11:11] hqueue opened #8616 "RyuJIT/ARM32: Working on "NYI_ARM: ARM IsContainableImmed""
Start implementing Lowering::IsContainableImmed in lowerarm.cpp

I will post a initial PR soon.

This is a part of #8496.

[2016-12-13 12:21] gpiercey opened #8618 "Update coreclr build configurations for Fedora 24 and 25"
With Fedora 23 EOL on Dec 20, 2016 the coreclr build configurations should be updated to support source builds on Fedora 24 and 25.

release/1.1.0:
- seems to partially have Fedora 24 but from a quick inspection it may not be complete.
- needs a build configuration for Fedora 25
- build & test status in README.md should include Fedora 24 and 25 instead of 23.

release/1.0.0:
- needs build configur

[2016-12-13 17:26] mikem8361 commented on #8474
I don't know what is going on.  I need more details on how to setup a repro (I've never setup Docker) and what flavor of Linux is running in Docker.

[2016-12-13 17:38] gkhanna79 commented on #8549
@hqueue E2E stands for End-to-End.

[2016-12-13 18:43] kouvel commented on #7394
It looks like SIGTERM is raising the Unloading event on Linux but not on OSX, this is a bug.

SIGINT is raising the Unloading event on both, but CoreFX only starts listening for the signal when a callback is registered with the CancelKeyPress event, so if nothing is registered, the Unloading event is not raised and the app terminates. It should be raising the Unloading event in any case, something

[2016-12-13 18:43] kouvel opened #8622 "AppDomain.DomainUnloading event is not raised on graceful shutdown"
AssemblyLoadContext.Unloading is raised, but AppDomain.DomainUnloading is not.

[2016-12-13 18:45] kouvel commented on #7394
AppDomain.DomainUnloading, which was added recently for ns2.0, is not raised at all, issue #8622

[2016-12-13 18:46] janvorli commented on #7394
@kouvel - can you check the Windows behavior w.r.t. the SIGINT / SIGQUIT handling and the Unloading event? It would be good to keep both Windows and Unix on the same plan.

[2016-12-13 18:47] tmds commented on #8474
I have tried this with on Fedora using a Ubuntu based Docker container. There it was working fine.
Then I took the same image and I put it on OpenShift Online and then the app successfully hit a breakpoint but then threw SEHException on continue.
I can write up the steps necessary to reproduce the issue (in the next day(s)). I don't mind doing some of the debugging. If you want to reproduce the is

[2016-12-13 18:50] litichevskiydv commented on #7728
Everything has worked fine for more than 3 weeks, I'm going to close the issue.

[2016-12-13 18:50] #7728 closed

[2016-12-13 18:57] kouvel commented on #7394
On Windows, when a handler is registered for CancelKeyPress, Ctrl+C & Ctrl+Break both raise the Unloading event (treated as graceful shutdown). When no handler is registered, the Unloading event is not raised (treated as abrupt shutdown). Should we be consistent and treat them both as either graceful or abrupt shutdown? I feel that registering for CancelKeyPress shouldn't change the shutdown behav

[2016-12-13 19:24] AndyAyersMS commented on #8542
Haven't tried this on asp.net yet, but I did run the change through the desktop SPMI collection (database of roughly 2M methods we use to validate aspects of desktop codegen). No hits for this outside of IL stubs and a handful of stackalloc-specific test cases.

However the size savings from stubs alone might make this worth doing....

[2016-12-13 19:39] #8599 closed

[2016-12-13 20:19] mikem8361 commented on #8474
I’ve seen something similar (different kinds of exceptions, but they happen when continuing from a BP) on other platforms like Bash For Windows and Amazon EC2. My guess (because I haven’t found the problem yet) is that the platform isn’t sending the single-stepping signal properly or there is some interaction with the way breakpoints work in .NET Core and the platform. Or it could be related to #4

[2016-12-13 22:05] kouvel commented on #8622
Actually, it looks like this event is not raised for the default app domain.

[2016-12-13 22:05] #8622 closed

[2016-12-13 22:14] kouvel commented on #7394
In .NET desktop:
- Normal app exit (return from Main or Environment.Exit):
  - AppDomain.DomainUnloading is not raised for the default app domain, I suppose that is the expected behavior and should be the same for Core as well
  - AppDomain.ProcessExit is raised (Core raises this as well)
- Ctrl+C and Ctrl+Break
  - AppDomain.DomainUnloading is not raised
  - AppDomain.ProcessExit is also not rais

[2016-12-13 22:15] kouvel commented on #7394
CC @gkhanna79

[2016-12-13 22:21] parjong opened #8625 "[x86/Linux] Reenable stack protector"
The current implementation of ``unwindLazyStack`` failed to recognize the following stack protection code (inserted by clang):
[code]
``unwindLazyStack`` raises the following assert failure at ``mov    %gs:0x14,%ecx``:
[code]

[2016-12-13 22:27] parjong commented on #8625
As a workaround, #8609 turns off stack protection.

[2016-12-13 23:38] sivarv opened #8626 "[RyuJIT][SIMD][Amd64] Adding OSSCI test leg for testing SIMD intrinsics in SSE2 only mode"
RyuJIT supports the following instruction sets for SIMD codegen

SSE2
SSE3_4 and
AVX2.

Most machines are likely to be SSE3_4 or AVX2.  We need to ensure that we continue to test SIMD functionality in SSE2 only mode.  A way to ensure is to run all of CoreCLR SIMD (both JIT and CoreFX) tests with on am64 machine.

COMPlus_EnableAVX=0
COMPlus_EnableSSE3_4=0

Adding a OSSCI test leg will ensure that

[2016-12-14 02:47] seanshpark commented on #8612
Initial WIP code , #8627

[2016-12-14 05:34] seanshpark commented on #8612
CC @parjong, @janvorli , @jkotas

added `ECX` to save register (bafbd62)
[code]
Result is slightly different

[code]
with registers
[code]

[2016-12-14 06:43] parjong opened #8631 "[x86/Linux] Support exception handling"
#8613 allows us to run "Hello, World" example in x86/Linux, but currently x86/Linux port is unable to handle any exceptions.

[2016-12-14 07:00] parjong commented on #8631
\CC @seanshpark

[2016-12-14 07:56] mikedn commented on #8626
Has the team considered dropping support for SSE2 and going with SSE3/4 only? SSE2 only processors are ancient.

[2016-12-14 08:17] xoofx opened #8634 "JIT: AOT compilation for RyuJIT?"
Hi,
This is a general question about RyuJIT and the current careful maintained balance between throughput and generated code efficiency.

In the case of CoreRT, when using RyuJIT as a backend, where the JIT throughput is bit less important (still but...) it makes sense to unleash the compiler and let it optimize as much as it can...

I'm not sure that there is today an AOT mode for RyuJIT, but sup

[2016-12-14 08:31] AlexRadch opened #8635 "Documentation proposal: How to debug new corelib API"
I am creating new API methods in CoreLib and I need to debug them. See https://github.com/dotnet/coreclr/pull/8615

I read this excellent documentation https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md but I have issue with step `7. Set Command Arguments=<managed app you wish to run> (e.g. HelloWorld.exe)`.

I need instructions how to create such  small

[2016-12-14 08:54] mikedn commented on #8634
Not really. While the JIT has been used for AOT via NGEN for a long time it doesn't do anything special in this regard.

Well, what optimizations do you hope to see? There are zillions of things that a compiler could do but not everything is truly useful.

Anyway, one obvious thing that the JIT could do is to increase various limits it has (the number of tracked local variables, the number of trac

[2016-12-14 09:41] xoofx commented on #8634
I don't know enough of all the internals of compilers or RyuJIT to expect anything ultra specific...  that's why I'm asking experts here 😅

In the past I did run a [micro-benchmark between RyuJIT and .NET Native](http://xoofx.com/blog/2014/06/15/micro-benchmarking-net-native-and-ryujit/) but figures there are today likely irrelevant (for both...)

Typically this kind of improvements if they are ju

[2016-12-14 10:07] mattwarren commented on #6798
The CLR currently has the ability to do this, see [ReJIT: A How-To Guide](https://blogs.msdn.microsoft.com/davbr/2011/10/12/rejit-a-how-to-guide/), although AFAIK it's only currently utilised by the [Profiling API](https://msdn.microsoft.com/en-us/library/bb384493(v=vs.110).aspx), not by the run-time itself.

[2016-12-14 16:58] tmds commented on #8474
@mikem8361 see https://github.com/tmds/repro-sehexception. If you want to start by reproducing the issue, you can skip the Docker part and use the image I put on dockerhub. You should be able to trigger this from Windows.

[2016-12-14 17:36] am11 commented on #4840
One of the modern, cross-language test frameworks option worth exploring is [Criterion](https://github.com/Snaipe/Criterion), a unit test framework for C, C++ and other language runtimes (that support FFI or P/Invoke).

It is one among a [very few open](https://en.wikipedia.org/wiki/List_of_unit_testing_frameworks#C) C testing frameworks available, that support [theory-based](http://criterion.read

[2016-12-14 17:48] AndyAyersMS commented on #8542
Jit source changes [here](https://github.com/AndyAyersMS/coreclr/tree/OptLocalloc) for future reference.

[2016-12-14 18:50] gkhanna79 opened #8639 "Enable PipeLine build support for Linux Arm32"
@kouvel Please assign this to Caio. We should enable this for Ubuntu 14.04 and 16.04.

CC @wtgodbe

FYI @hqueue

[2016-12-14 18:52] mikedn commented on #8634
There are a lot of optimizations that are missing. Just a few examples:
* Various loop optimizations (fusion, fission, interchange, unswitching etc.)
* Various expression transformations, RyuJIT does a few transforms but many are missing. Just a simple example I happen to know about (I once reported it against VC++): `x / 3 > 1` is `x > 5` but the JIT doesn't know this.
* Range optimizations. If t

[2016-12-14 19:21] #7963 closed

[2016-12-14 20:50] pgavlin commented on #8634
cc @russellhadley @cmckinsey @RussKeldorph @dotnet/jit-contrib

[2016-12-14 22:46] covard commented on #6536
@HZH1907 @binlufluxx I still get the same error. I am on macOS Sierra though.

[2016-12-14 23:13] seanshpark commented on #8188
x86/Linux is now builds with repo itself and executes simple `Hello World` program.
you can test with building like this, (with Ubuntu 16.04 x64)
[code]

There are several big issues to solve,  such as EH and reverse P/Invoke, and now concentrating on those.

[2016-12-14 23:18] janvorli commented on #8188
@seanshpark it seems the skipnuget parameter is not needed, I was able to successfully build it without it. I didn't have to specify the clang3.8 either, the 3.6 was working just fine.

[2016-12-14 23:23] gkhanna79 commented on #8188
This is excellent progress! :)

[2016-12-14 23:57] seanshpark commented on #8188
thanks for the comment !

[2016-12-15 01:43] seanshpark commented on #8612
I've updated the patch, 20e93bb but crash (Segmentation fault.) still exist.
With `export COMPlus_JitDisasm=*` I traced that it is inside `DomainNeutralILStubClass:IL_STUB_ReversePInvoke(int,int)`.
This function is a stub and seems to be generated, but cannot find from where.
[code]

[2016-12-15 01:48] parjong opened #8643 "Introduce a base class for REGDISPLAY"
While bring up x86/Linux, I found that the current definition of ``REGDISPLAY`` has several duplicated code  (especially code related with ``WIN64EXCEPTIONS``).

It would be better to introduce a base class to remove such code duplication.

[2016-12-15 04:33] seanshpark commented on #8612
In the entry of `DomainNeutralILStubClass:IL_STUB_ReversePInvoke`,
[code]
`eax` seems it should be `UMEntryThunk*` before calling inside `UMThunkStub`

[2016-12-15 05:39] hqueue commented on #8634
I'm also interested in exploiting RyuJIT in this way especially for devices with small memory and weak computation power, e.g. ARM devices.

[2016-12-15 05:48] seanshpark commented on #8612
with above fix, it stops with assert in `MarshalNative::GCHandleInternalCheckDomain`
[code]
middle of stack when thrown
[code]

[2016-12-15 05:49] gkhanna79 opened #8647 "Enable x86 hosted build of cross components for Linux Arm32"
We need to build them, similar to what is done for Windows. This will enable us to generate NI images (or perform R2R compilation) on x86/x64 machines.

CC @kouvel @hseok-oh

[2016-12-15 05:50] gkhanna79 commented on #8647
CC @janvorli

[2016-12-15 06:01] hseok-oh commented on #8647
We need
1. fix build script to build x86-host/arm-target crossgen (#8646)
2. success x86-host/arm-target crossgen build
3. generate correct NI image

[2016-12-15 06:46] mikedn opened #8648 "[RyuJIT] Expression a % 0 sometimes generates incorrect code."
The following example:
[code]
generates
[code]
Of course, this doesn't generate a `DivideByZeroException` exception as it should.

This is partially caused by a recent change I did that transforms `x % c` into `x - (x / c) * c` if c is not a power of 2. 0 is not a power of 2 but the transform should not be done when c is 0. ARM64 appears to do the same transform unconditionally so probably it is a

[2016-12-15 07:15] parjong commented on #8342
This is a part of #8631.

[2016-12-15 07:15] #8342 closed

[2016-12-15 08:42] seanshpark commented on #8612
@janvorli , commit 0e96c21 fails with throw in above `GCHandleInternalCheckDomain()`. Could you help again to find where the problem could be?

[2016-12-15 09:12] janvrany commented on #8525
@gkhanna79
Thanks. I'm not sure how to get a "function pointer" to a method from C# code. Could you elaborate a bit? Pointer to documentation would be just perfect.

[2016-12-15 10:55] janvorli commented on #8612
It could possibly be due to the callee saved registers not being saved in the UMThunkStub, as I have found in the review of the whole change. Let's see if it gets fixed after fixing that.

[2016-12-15 11:22] xoofx commented on #8634
It seems from LLVM 3.0 they departed from linear scan to a global live range splitting approach ([blog post](http://blog.llvm.org/2011/09/greedy-register-allocation-in-llvm-30.html) and [pdf presentation](http://llvm.org/devmtg/2011-11/Olesen_RegisterAllocation.pdf)) with sometimes 10%+ performance benefits.

But incidentally, it seems that Microsoft Research has been working on a [Hierachical Gra

[2016-12-15 15:37] #8328 closed

[2016-12-15 17:53] kouvel commented on #8639
@cakine

[2016-12-15 18:52] gkhanna79 commented on #8525
See https://msdn.microsoft.com/en-us/library/system.runtime.interopservices.marshal.getfunctionpointerfordelegate(v=vs.110).aspx.

[2016-12-15 18:55] sivarv commented on #8626
.Netcore Amd64 minbar is SSE2 and for that reason support for SSE2 is warranted.  Besides, SSE2 is also used on those machines which supports SSE3 but not SSE4.

[2016-12-15 20:24] xoofx opened #8654 "How ARG_SLOT containing Object* are protected?"
While digging into how managed Object reference are protected in C++ against the GC, I have one question regarding ARG_SLOT when used for calling managed from native (like explained in the [mscorlib documentation](https://github.com/dotnet/coreclr/blob/8d3936bff7ae46a5a964b15b5f0bc3eb8d4e32db/Documentation/botr/mscorlib.md#calling-into-managed-code-from-native)).

I cannot find where ARG_SLOT cont

[2016-12-15 21:20] xoofx commented on #8654
Han ok, I think I got it... as long as they are not used after the call to managed site, it is not an issue to let them not protected.

[2016-12-15 21:20] #8654 closed

[2016-12-15 21:24] JohnChen0 commented on #8066
Both PR #8098 and #8099 have been merged.

[2016-12-15 21:24] #8066 closed

[2016-12-15 21:27] JohnChen0 commented on #2266
Fixed with PR #8078 (current release), #8099 (release 1.1.0), and #8098 (release 1.0.*)

[2016-12-15 21:27] #2266 closed

[2016-12-15 21:31] mikem8361 commented on #8474
If you don't mind doing a little debugging yourself, could you attach lldb or gdb to the coreclr/debuggee process after you hit the BP but before you continue from the it.  I think that would narrow it down some if I had a stack trace of the SEH exception. On lldb you may want to execute "breakpoint set -E C++".

[2016-12-15 21:32] mikem8361 commented on #8474
Setting up docker/openshift etc. looks like kind of a complicated process since I never done anything with docker before.

[2016-12-15 21:36] mikem8361 commented on #8474
Is openshift is RedHat Linux running in docker? Is the docker container running on Ubuntu?

[2016-12-15 22:50] tmds commented on #8474
OpenShift is running Red Hat Enterprise Linux (RHEL) and the docker container is using a Ubuntu based image.
I will make a stracktrace of the SEHException on Monday. We can continue debugging then. If you want me to set specific breakpoints, let me know.

[2016-12-15 22:53] ramarag commented on #4105
The race condition here occurs inside the [CultureInfo.get_Parent](https://github.com/dotnet/coreclr/blob/b638af3a4dd52fa7b1ea1958164136c72096c25c/src/mscorlib/src/System/Globalization/CultureInfo.cs#L909) method called from [ResourceFallbackManager.GetEnumerator](https://github.com/dotnet/coreclr/blob/b638af3a4dd52fa7b1ea1958164136c72096c25c/src/mscorlib/src/System/Resources/ResourceFallbackManag

[2016-12-15 23:43] seanshpark commented on #8612
commit e2765f4 result is like this;
[code]

where `coreclr/src/vm/marshalnative.cpp:819` is
[code]

I'll be looking inside between `UMThunkStub` and `GCHandleInternalCheckDomain`

[2016-12-16 00:27] TechnikEmpire opened #8658 "Estimated time before this leaves pre-alpha?"
I've just flushed a full days wages down the toilet trying to make something as simple as domain name resolution perform consistently on all officially supported platforms. By "consistently" I mean trying to not have the runtime explode, leaving only a 1 liner obituary in syslog. Not to sound too critical, I understand good coding is hard and things take time.

I'm just wondering if an official ti

[2016-12-16 02:56] seanshpark commented on #8612
Call sequence of above jitted address are (got from searching machine code and patterns)
[code]
Problem occurs in accessing `OBJECTHANDLE handle`, which comes from `IL_STUB_ReversePInvoke` method. (referenced dllimportcallback.h)

[code]
where from `gcenv.base.h`
[code]

What I couldn't find is `m_pObjectHandle  + 4` value ...

[2016-12-16 07:12] benaadams commented on #1166
Just did some [dispatch testing](https://github.com/benaadams/PerfTesting/tree/master/src/DispatchTesting)
[code]
Is cheaper to implement interfaces than virtual methods. For the sealed case; which has no effect, you'll be going direct; for common cases (if few) use an `as` cast `ManualInterface...`; but will take a hit on the non-common types `RuntimeInterface...` rather than taking a hit on ever

[2016-12-16 08:26] mikedn commented on #1166
Hmm, what exactly does that mean?

[2016-12-16 09:36] xoofx commented on #552
Will collectible assemblies be part of the 1.2... or it is more reasonable it will not?

[2016-12-16 11:36] radischevo commented on #4105
@ramarag, thank you providing the fix. I don't feel I could dig that deep :)

[2016-12-16 11:48] janvorli commented on #8612
@seanshpark your comments on the code have a little mistake. The `mov      ecx, gword ptr [ecx]` doesn't get the m_pObjectHandle address, but the value of the `void* unused` from the OBJECTHANDLE__ struct. It points to the managed delegate object. So the `mov      ecx, gword ptr [ecx+4]` that fails is accessing the delegate target object ("this" of the function the delegate is attached to). See cl

[2016-12-16 12:25] agoretsky opened #8660 "Memory Leak after upgrading to .NET Core 1.1 on Linux"
Hi there!
After upgrading our project to .NET Core 1.1 we have faced with memory leak problem on Linux. I can't reproduce it on Windows, so I can't profile it :(
I found code which causes this problem and published it here: https://github.com/agoretsky/memory_leak
To reproduce you will need provide .p12 certificate file path and password in Main method.

Steps to reproduce problem:
1) Take this re

[2016-12-16 12:44] bitcrazed commented on #8658
Have you filled a repro and bug on the issue you found? Would be interesting to see what's going on.

[2016-12-16 13:02] benaadams commented on #1166
@mikedn heh, sorry that could mean anything 😸

I don't mean from the compiler's perspective; not from a library authors point of view; not from a maintenance perspective, not from code duplication etc...

What I meant was `as` casts are way faster than I thought, and virtual dispatch costs can't currently be elided with `sealed`. Was a comment on measurements rather than a suggestion of design or

[2016-12-16 13:06] TechnikEmpire commented on #8658
@bitcrazed I found many existing bugs speaking to all the brick walls I was smashing into yesterday. I'll have to dig them up again. That's also part of the problem, it's prohibitively difficult trying to determine which line of code is actually causing the problem when the runtime just calls it quits giving no information. Yes I know I could do proper debugging of the runtime, but again I think t

[2016-12-16 13:18] TechnikEmpire commented on #8658
Off the top of my head, this entire namespace is a minefield on Ubuntu Server 16.04 x64:

https://docs.microsoft.com/en-us/dotnet/core/api/system.net.networkinformation

[2016-12-16 13:25] benaadams commented on #8660
/cc @CIPop @bartonjs

[2016-12-16 13:27] JonHanna opened #8661 "Failures in TextWriter and StreamWriter to handle null inputs to WriteLineAsync"
If null is passed to `TextWriter.WriteLineAsync(char[])` it will produce no effect. By analogy to the non-async method it should write a newline as if `TextWriter.WriteLineAsync()` had been called.

If null is passed to `StreamWriter.WriteLineAsync(string)` it will throw an `ArgumentNullException`. Likewise it should behave as if `StreamWriter.WriteLine()` had been called.

[2016-12-16 13:36] mikedn commented on #1166
Well, my impression from your code is that this means that if you know the actual type it's faster to cast to the actual type and call than calling through the interface. That said, in your test the cast seems to be hoisted out of the loop so that doesn't say a lot.

Funny thing is that casting can truly be faster (when list is `List<int>`):
[code]
Without the cast the above code is 2x slower. Tha

[2016-12-16 14:12] janvorli commented on #8660
@agoretsky which memory column are you referring to?  If it is VIRT, it is likely ok and there is no leak. If it was RES, it would be a problem. The virtual memory used by the application doesn't reflect the physical memory usage. We allocate upto 2GB of virtual memory range on x64 as a range in which we then map physical memory as needed. The virtual memory address space is private to each proces

[2016-12-16 14:29] agoretsky commented on #8660
@janvorli RES

[2016-12-16 14:30] janvorli commented on #8660
@agoretsky ok, I'll take a look.

[2016-12-16 15:02] benaadams commented on #1166
Yar you are right, hoisted casts (also timing was divided by 256 so seemed better). Non-inlining the casts:
[code]
So the runtime cast from interface is faster than manual; unless you can do it outside a loop. Monomorphic interface is close to virtual call. Sealed still does nothing. `As` cast isn't great anymore (unless hoisted). Generic constraints looking good.

[2016-12-16 15:38] mikedn commented on #1166
Side note: `sealed` on classes does something - it affects code generation for `as`. Outside loops `list as SealedType` is usually preferable as it is basically just a method table pointer compare. Inside loops it's still a compare but that cannot be hoisted, `list as NonSealedType` is a call and can be hoisted.

[2016-12-16 15:50] runxc1 commented on #552
That would be very nice if this made it into 2.0

[2016-12-16 16:00] janvorli commented on #8660
@agoretsky I have tried to run your app locally and I am not seeing that memory consumption:
[code]
I am getting exactly the same values for 1.1.0 and 1.0.1. I have verified that I am really running the 1.1.0 bits by attaching lldb to the process and running "target modules list" command. The excerpt from the output confirms I am:
`[ 11] 669633CA-4B45-8254-3E88-5C612C2D2612-21A6D2F0

[2016-12-16 16:31] ayende commented on #8658
@TechnikEmpire Yet your message contains exactly zero information that anyone can use to diagnose and help.

I can tell you that I personally have been able to successfully use the Dns class on Ubuntu 16 and Ubuntu 16 on ARM 32 bits.

There is no way that anyone can help unless you provide actual actionable information. If the issues are already here, point them out and comment on them to indicate

[2016-12-16 16:41] janvorli commented on #8658
@TechnikEmpire I would love to know about issues where we would segfault. I am not aware of any such problem with the current version, so if there are some, I want to look into them and fix them right away. Also, could you please point me to where this came from?

[2016-12-16 16:44] litian2025 opened #8663 "Optimize SIMDIntrinsicAbs in RyuJIT utilize SSSE3 and AVX2 Abs intrinsics"
Currently in CoreCLR RyuJIT, SIMDIntrinsicAbs is implemented as bitwise-And operation with a mask, on system that supports SSSE3 and or AVX2, the SIMD Abs intrinsic implementation can be optimized to utilize those intrinsics directly:

![image](https://cloud.githubusercontent.com/assets/14881219/21270173/556de244-c36a-11e6-90da-3107a06552d1.png)

[2016-12-16 16:46] litian2025 commented on #8663
@sivarv PTAL

[2016-12-16 17:07] TechnikEmpire commented on #8658
@ayende Commenting when you have 0 ability to impact the situation at hand is probably even more useless. I already mentioned in a previous comment that I'll take time out of my day to dig up the tickets and reference them as soon as possible. On that note, talking to people without reading what they say is truly completely useless as it produces an entirely fruitless one-sided dialog.

[2016-12-16 17:07] TechnikEmpire commented on #8658
@janvorli I will look up them asap. Thanks for inquiring.

[2016-12-16 17:30] TechnikEmpire commented on #8658
@janvorli @bitcrazed Is there a business contact where I can send these concerns? This way I can be assured I'll get in touch with professionals who won't respond to real world business concerns with emojis and condescending rants just for the sake of showing the world their inner adult baby. Thanks. Closing ticket as I lost interest when the white knights who forget they had open bug tickets 24 d

[2016-12-16 17:30] #8658 closed

[2016-12-16 18:19] janvorli commented on #8658
@TechnikEmpire I am sorry, but I really don't understand what you are referring to. Could you please be more specific? Are you saying that I have opened a bug w.r.t. a segfault on a supported platform recently?

[2016-12-16 18:31] #4105 closed

[2016-12-16 18:36] mikedn commented on #8648
This appears to be a bug in VN or CSE and the multiplication/division by 0 are just the triggers, there may be others. To reproduce this one needs
* an expression `E`
* `S`, a subexpression of `E` (without side effects)
* `X`, another subexpression of `E` that has an exception side effect
* `VN(S) = VN(E)`

CSE now replaces `E` with `S` because they have the same VN. `E` has an exception side effe

[2016-12-16 19:06] gkhanna79 commented on #4105
@ramarag do we need to fix this for Desktop as well?

[2016-12-16 19:58] sivarv commented on #8663
Note that bitwise-And with a mask is done in case of float/double vectors.
Abs() intrinsic is currently not accelerated for vector<long>, vector<int>, vector<short> and vector<sbyte>

The following Suplemental SSE3 (SSSE3) instructions could be used to accelerate Abs() intrinsic for Vector<int>, Vector<short> and Vector(sbyte) when SSE3_4 or AVX instruction set is available.

pabsd
pabsw
pabssb

C

[2016-12-16 20:18] TechnikEmpire commented on #8658
@janvorli No, I was referring to the condescending twit who isn't a Microsoft employee. The MS employees in this thread were helpful, yourself included. I tagged you both asking for a business contact, a place more appropriate for me to bring my concerns.

[2016-12-16 20:38] ramarag commented on #4105
@gkhanna79 yes we have corresponding connect bug for desktop.

[2016-12-16 20:45] swaroop-sridhar opened #8665 "GCStress: Handle two-register returns AfterCallProtect"
While performing GCStress after calls, we currently have only one flavor of `INTERRUPT_INSTR_PROTECT_RET` to protect a GCPointer return.
This case is handled by DoGCStress() here:
https://github.com/dotnet/coreclr/blob/master/src/vm/gccover.cpp#L1742

This code protects only one return register if it (conservatively treats all GC-returns as by-refs).
However, this doesn't handle two-reg returns in

[2016-12-16 21:37] CarolEidt commented on #8663
@sivarv you need to escape the "<" when writing generic type names. I think you were listing the integral Vector types, e.g. `Vector<int>`

[2016-12-16 21:42] agoretsky commented on #8660
@janvorli,
After your last message, I already was not at work and I've tried to repro it on my Mac:
I've created docker container on my Mac with provided example and I was not able to reproduce it, then I decided to repeat my work env where I've seen this problem, so I installed ubuntu using virtual box and tried to reproduce problem and I was not able to see it again..
Ok, I have checked out our

[2016-12-16 21:55] janvorli commented on #8660
@agoretsky I have your new  lines of code and I can repro the same exception - but with both 1.0.1 and 1.1.0. I've again attached lldb to verify that I am really running with 1.0.1 runtime.

[2016-12-16 21:55] janvorli commented on #8660
I am running it on a physical machine with Ubuntu 14.04

[2016-12-16 23:01] bartonjs commented on #8660
My first thought was that we might have dropped a TLS version from being supported in 1.1, but that doesn't seem to be the case (and if you're seeing it on 1.0.1, Jan, would be even less likely).

Do we know what host:port is being talked to when the remote side drops the connection?  `openssl s_client` is a pretty good way to test on Unix systems (and with `-debug` gives pretty good indications o

[2016-12-17 00:10] #8506 closed

[2016-12-17 01:11] JohnChen0 opened #8669 "Enable PInvoke Analyzer"
We should enable PInvoke Analyzer to verify DllImport from System.Private.CoreLib.dll. This will prevent issues such as the one addressed by PR #8666.

[2016-12-17 07:03] agoretsky commented on #8660
I was at ubuntu 16.04.1 LTS and I pushed dockerfile which I also used to repro it

[2016-12-17 07:08] agoretsky commented on #8660
Now on ubuntu with net 1.1 I am seeing only "Connecting" at logs and growing memory, with 1.0.1 I am getting "Connected" after "Connecting" and everything is ok. I can send you my test apple certificate file and password if you email me: agoretsky15@gmail.com

[2016-12-17 12:17] Tragetaschen opened #8671 "`dotnet` running in a BitBake devshell hangs"
I'm trying to compile coreclr within a Yocto Bitbake environment and when I run `build.sh` within a `devshell`, the script hangs at the `Restoring BuildTools version 1.0.27-prerelease-01008-01...` step (after compiling most of it) and this means the `Tools/dotnetcli/dotnet restore` call hangs.

When I run the downloaded `dotnet` executable within the devshell without arguments it works, but anythi

[2016-12-17 22:22] AndyAyersMS commented on #549
Think we can close this now. The [dotnet/jitutils](https://github.com/dotnet/jitutils) tool suite seems to be working well for jit developers.

[2016-12-17 22:22] #549 closed

[2016-12-18 00:35] benaadams commented on #6746
Don't know is this is a thing anymore; been a while...

[2016-12-18 00:35] #6746 closed

[2016-12-18 09:10] mikedn commented on #7270
This issue and the associated code comments do not appear to be useful. There are only 3 instances of `relop icon, x` in the entire framework and they're all of the form `eq/ne 0, 0`. I'm not sure why they aren't folded (they're produced by `default(T) != null` when `T` is a reference type) but swapping doesn't help anyway.

I'd say that we should simply remove the comments from the code (and try

[2016-12-18 15:04] mmitche commented on #6746
It's not.  Close.

Sent from my iPhone

On Dec 17, 2016, at 5:35 PM, Ben Adams <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #6746<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fdotnet%2Fcoreclr%2Fissues%2F6746&data=02%7C01%7Cmmitche%40microsoft.com%7C8317ed57c6fe4e3281b708d426ddca51%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C6361761814

[2016-12-18 17:49] mikedn commented on #5371
This has nothing to do with readonly, constructors calling other methods, reflection and whatnot.

If you look at the code generated for something like
[code]
you'll see something like this
[code]
The array field ended up in a register so the JIT doesn't care that the field is readonly or not. As far as it is concerned the field isn't changed inside the loop so it can load it only once, before the

[2016-12-19 01:55] #8495 closed

[2016-12-19 02:32] #8238 closed

[2016-12-19 11:41] seanshpark commented on #8612
Closing this issue as #8627 is merged and open a new issue to continue solve segment fault problem.

[2016-12-19 11:41] #8612 closed

[2016-12-19 11:48] benaadams commented on #5371
@mikedn interesting; your first example is for a regular non-readonly array? So it should either be eliminating the range check or confirming the array is the same anyway?

[2016-12-19 12:05] omariom commented on #5371
According to not very well specified .net memory model JIT could do that even without explicit/implicit local copies.

[2016-12-19 12:12] mikedn commented on #5371
@benaadams I'm not quite sure what your question is. What's for sure is that in the example `p.a` may be `readonly` or not, the same code is generated. `readonly` would be useful in cases where the loop contains code that might modify the array field and the JIT can't figure it out.

[2016-12-19 12:23] hqueue opened #8679 "RyuJIT/ARM32: Working on "NYI_ARM: ARM Lowering for ROL and ROR""
PR #8678

With above PR, only simple cases have been tested, and we will check the correctness with unit tests later.

This is a part of #8496.

[2016-12-19 12:56] mikedn commented on #5371
I took a quick look at the IR dump for that example and I think the JIT shot itself in the foot.

At the start of the analysis `p.a.Length` and `p.a[i]` considered the same in some contexts (CSE) and different in other contexts (range check optimization). That's normal, CSE of a load is allowed by the memory model. But you can't eliminate a range check if another thread may change the array from u

[2016-12-19 13:13] benaadams commented on #5371
It seems the either the range check should be eliminated as its a gc safe object that's not changing length; regardless of whether the instance variable is changed; *or* it should reacquire the array on each loop - but its doing neither. (I'd prefer the former 😉 )

[2016-12-19 13:28] mikedn commented on #5371
Well, you can't safely eliminate the range check if the instance variable changes. The only way to do this is to copy the instance variable to a local variable and only use the local variable within the loop. The JIT does make this copy but then fails to eliminate the range check due to another problem (described above).

[2016-12-19 14:52] tmds commented on #8474
@mikem8361
This is what I tried
[code]

stacktrace looks like this, but no SEHException... perhaps working with two debuggers alters the behavior.

[code]

When I attach lldb before clrdbg, clrdbg no longer hits my breakpoint, it hangs while attaching.

[2016-12-19 16:02] janvorli commented on #8660
@agoretsky, @bartonjs - I can confirm that I can repro the problem. With the cert and password I have received from @agoretsky, the app compiled targetting 1.1.0 leaks and targetting 1.1.0 does not.

In both cases though, the output of the app is the same, I am not seeing any exceptions. But I think that could be caused by the fact that my Linux native box has 24GB of RAM. @agoretsky how much RAM

[2016-12-19 16:42] JosephTremoulet commented on #5371
Absolutely, yes, it should.  What makes this tricky with the current set-up is that the knowledge you're referring to is embedded in the value numbers (specifically the divergence between the liberal ones and the conservative ones), but value numbering runs before CSE and doesn't leave behind enough dependence information to quickly tell which conservative value numbers could be refined (and to wh

[2016-12-19 16:59] mikedn commented on #5371
But what would happen if CSE simply copies the liberal value number from the definition? Could that break something else? As is now it looks weird that we end up with IR where the def and use of a lcl var have different liberal VNs:
def:
[code]
use:
[code]
Sure, simply changing the VN of the use won't propagate up the tree but maybe it can be special cased for GT_ARR_BOUNDS_CHECK?

[2016-12-19 18:08] agoretsky commented on #8660
@janvorli, there was 2GB for Ubuntu VM

[2016-12-19 18:33] JosephTremoulet commented on #5371
In general there could be multiple defs, and CSE isn't computing which reach each use.  But single def is likely the common case and could be special-cased...

I think it would be sound... some possible gotchas:
 - I'd worry a little about losing the congruence between a rewritten use and another tree with the same conservative value number, but you'd hope that two trees with the same conservative

[2016-12-19 21:22] alikalfaoglu commented on #8565
Try using IApplicationLifetime..
Process shuts down before stopping event executes sometimes but I guess it is fixed in 1.0.3

http://shazwazza.com/post/aspnet-core-application-shutdown-events/

[2016-12-19 21:26] nicolasr75 commented on #8565
This seems to be an ASP.NET Core feature. Are you sure this can be used in a .NET Core console application?

[2016-12-19 22:02] benaadams commented on #5371
It [effects larger loops](https://gist.github.com/benaadams/11123e9785481e07d8ca483bef798689#gistcomment-1790230)

 Loop size                           |    16 |   4000
-----------------------------|------------|-----------|
ForLoopArray                     |13.4183 ns  | 2.4165 us
ForLoopOneBoundsCheck | 13.4226 ns |	1.7440 us

Framework code normally takes a local copy of the array before workin

[2016-12-19 22:21] mikedn commented on #5371
Somehow I doubt that a micro-benchmark is "someone's important code" :smile:. Besides, `foreach` works fine and it is the most common way to iterate over an array.

[2016-12-20 01:01] AndyAyersMS opened #8683 "Two tests failing locally for windows x64 checked"
I am seeing two tests fail with windows x64 checked builds. This is @8395eb5 (which is my change, but seemingly unrelated). Not sure why we don't see these failing in the lab.
[code]
Typical failure is:
[code]

[2016-12-20 01:54] parjong commented on #8643
It would be better to rename Esp as SP in x86 REGDISPLAY to make it more easy to maintain.

[2016-12-20 02:03] AndyAyersMS commented on #8683
This does not repro on a different local machine. The failing machine is newer so tried disabling AVX and SSE3_4 codegen but it did not change things any. Am going to do a clean rebuild on the "bad" machine next.

[2016-12-20 02:15] hseok-oh opened #8684 "[ARM32/Linux] libcoreclrtraceptprovider.so build"
If we enable building `libcoreclrtraceptprovider.so` by setting `FEATURE_EVENT_TRACE` to 1 (https://github.com/dotnet/coreclr/pull/8421#discussion_r91406080), the build fail with these error messages

[code]

We can reproduce this error message by using clang version >= 3.6 and ubuntu 14.04. In other words, we can avoid this fail by using clang < 3.5 or upper version of ubuntu 14.04. (ex. 16.04).

[2016-12-20 02:22] hseok-oh opened #8685 "[ARM32/Linux] cross-architecture component build configuration warning"
Warning when I try cross-architecture component build configuration only for ARM32/Linux.
[code]

[2016-12-20 02:24] hseok-oh commented on #8685
IMHO, need to check project dependency and modify cross component list for linux.

[2016-12-20 02:51] AndyAyersMS commented on #8683
Does not repro after a clean rebuild, so will close this...

[2016-12-20 04:19] hseok-oh commented on #8549
@gkhanna79 is there need any more preparation for pipelining CoreCLR for ARM32 on Linux?

[2016-12-20 09:31] #8625 closed

[2016-12-20 10:16] seanshpark opened #8689 "Q) Where is "IL_STUB_ReversePInvoke" from?"
I'm in the middle of somewhere fixing Reverse P/Invoke Segment fault problem in x86/Linux.
While tracing in assembly codes, I see
[code]
method but could not find where it came from. Other JITted codes could be found.
Anyone know where this method is emiited?

[2016-12-20 10:57] janvorli commented on #8660
Based on the stack traces from the memleax and some additional debugging, I believe that the leaked allocations stem from PemReadBioX509Crl.
I have also found that when I set a breakpoint at CryptoNative_PemReadBioX509Crl and when it is hit, step out to the caller, the allocated native memory grows by about 900MB.
@bartonjs do you have any idea why it would eat so much memory? Does it call some ma

[2016-12-20 14:15] kars93 opened #8691 "[x64/Linux] running dotnet as linux daemon fails"
Excecuting dotnet run /home/tinder/dashboard/Dashboard.Presentation.dll works perfectly fine.

When this dll is made into a service and the service is running it returns a http 500 error, but there are no errors in the service log (journalctl -u tinder-dashboard -b)

[code]

( Linux version: Ubuntu Xenial (16.04 LTS) (GNU/Linux 4.5.7-std-3 x86_64 ) )

[2016-12-20 14:24] MathiasMagnus commented on #659
_Disclaimer: apologies if some .NET-related terminology is misused here; I am primarily a C++ developer and the .NET train has not yet hit me hard, since I cannot really meld my own stuff into the .NET world in a portable manner._

One remark/question: it has occurred on multiple occasions that people writing C++ tools argued that name mangling in the C++ world is less than friendly (or portable a

[2016-12-20 15:40] bartonjs commented on #8660
@janvorli Nope.  Unless the CRL was simply that big.  We would have preceded the call with `CryptoNative_DecodeX509Crl` (length is the second argument) if it was a new download; otherwise we'd call `CryptoNative_BioNewFile` with the path of the file to read as the first argument (to see its on-disk (Base64/PEM) size).

Is the CRL object leaking? Or something else?

`pcrl->references` should be 1 w

[2016-12-20 15:55] jkotas commented on #8689
The IL for this method is emitted by CreateNDirectStubWorker

[2016-12-20 16:18] janvorli commented on #8660
@bartonjs what I can see is that just executing the CryptoNative_PemReadBioX509Crl enlarges the consumed native memory by 900MB. I mean, right before the call the memory consumption is 900MB less than right after the call. Then the CryptoNative_X509CrlDestroy gets called, which doesn't change anything on the consumption side and then CryptoNative_X509StoreDestory gets called and it also doesn't ch

[2016-12-20 17:11] janvorli commented on #8691
@davidfowl  do you have some insight into running a dotnet ASP app as a service on Linux and what are the pitfalls here?

[2016-12-20 17:19] janvorli commented on #8684
@hseok-oh if I remember it correctly, there were some problems with pre-3.5 clang, that's why the 3.5 is the minimal supported version.

[2016-12-20 17:57] redknightlois commented on #7447
Also relevant: http://aakinshin.net/en/blog/dotnet/perfex-min/

[2016-12-20 18:18] gkhanna79 commented on #8549
@hseok-oh there are no changes required from you for that :) I will get the changes done in our infra.

[2016-12-20 18:45] mikedn commented on #7447
I know. The prototype I have does generate CMOV in the `MinTernary` method but it doesn't yet work in the `Ternary` method because the result is assigned to an array rather than a local variable.

[2016-12-20 18:52] russellhadley commented on #7447
@mikedn For your prototype did you just try and re-enable they qmark support?  (not expand them early into flow)

[2016-12-20 19:18] mikedn commented on #7447
@russellhadley Nope, I'm generating `GT_SELCC` nodes during `GT_JTRUE` lowering. `GT_SELCC` is a new operator I've added to represent CMOV. It's a binary operator that expects the condition flags to be set appropriately.

[2016-12-20 20:53] kouvel commented on #2144
`AppDomain.UnhandledException` was added with dotnet/corefx#11275

[2016-12-20 20:53] #2144 closed

[2016-12-20 20:59] MarkPflug opened #8694 "System.Exception.StackTrace virtual property is not used in base ToString impl."
I'm reporting this issue with the expectation that it cannot be fixed, but I'd like someone to consider it anyway.

The Exception.StackTrace property is virtual, so it appears that a derived Exception can provide a custom stack trace implementation. We would like to do this in our application when we get an exception out of a script engine, which would otherwise provide no stack info for the scrip

[2016-12-20 21:23] russellhadley commented on #7447
@mikedn Does it take 2 full trees to be evaluated or is it restricted to taking lclVars?

[2016-12-20 22:02] mikedn commented on #7447
@russellhadley  lclVars and constants. It recognizes:
[code]
It should be possible to handle more patterns but there are all kinds of issues:

* In the first case lclX could also be an indir if we know that the address is not `null`. CMOV faults even if the condition is false.
* In the second example lclX could be an indir but we have to ensure that both indirs have the same address. I suppose it

[2016-12-20 22:20] redknightlois commented on #7447
Thinking about it, given that CMOV is complicated to catch everything, why not tackle only the 'easy' cases (when there is certainty to have performance improvements) and provide also an intrisic version in case you need in any of the `dubious` cases.

[2016-12-20 22:42] seanshpark commented on #8689
@jkotas , Thank you!

[2016-12-20 22:48] janvorli commented on #8660
I have tried another memory allocation profiler tool to see where the allocations come from.  This time it was the heaptrack tool (http://milianw.de/blog/heaptrack-a-heap-memory-profiler-for-linux). It generates somehow more detailed output with summaries on memory allocation. I have left it running for the duration of the first request in the batch. Here is an excerpt from the report. The full re

[2016-12-20 22:52] #8689 closed

[2016-12-21 01:25] AndyAyersMS commented on #4093
Here's another instance with a crash dump... note this is from an unmerged PR so it might be something I did. But it might not be since earlier versions of this that are very similar did not hit this problem.

https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_ubuntu_flow_prtest/1183/

[2016-12-21 05:17] lakartoza commented on #4657
Hey guys, Noob contributor here.

I had a similar situation where I had the error

It didn't work even after installing the `Nuget package Microsoft.NETCore.App 1.0.1` but when I changed the version to `Nuget package Microsoft.NETCore.App 1.0.0` it started right up and launched localhost:5000 etc etc

[2016-12-21 08:45] alikalfaoglu commented on #8565
Sorry, my mistake, missed the ".NET Core Console only" part of your question. Isn't closing console window directly same as killing the process since console windows do not have message loops? Maybe, you may create an Kestrel server instance without injecting MVC and manage your requirements (the way I suggested above) through startup class..

[2016-12-21 10:21] janvorli commented on #8660
@bartonjs so I have just tested the app with version 1.0.1 running under lldb and I have found something I haven't expected. On 1.0.1 it doesn't call the CryptoNative_PemReadBioX509Crl at all! I have set a breakpoint to CryptoNative_PemReadBioX509Crl, I can see it being resolved correctly, but it is never hit.
It is called on 1.1.0 only. And all the huge memory allocation stems from that call.

[2016-12-21 12:33] hadibrais opened #8700 "On the immutability of System.String"
This is not exactly a bug report or a feature proposal, but I think that this is the most appropriate place to discuss the issue.

I was wondering about the reason behind making the primitive `System.String` type immutable. By searching in the Internet,  I found [this](http://stackoverflow.com/questions/2365272/why-net-string-is-immutable) and [this](http://stackoverflow.com/questions/93091/why-ca

[2016-12-21 12:39] mikedn commented on #8700
I don't understand the difference. Strings are immutable because immutability has many benefits.

[2016-12-21 12:47] hadibrais commented on #8700
Why not making `System.String` mutable and introduce another type `ImmutableString` rather than making `System.String` immutable and providing `System.Text.StringBuilder` which represents a mutable string (both length and contents). The benefits of immutable strings may quality it to be a standard type but not a CLI primitive type.

[2016-12-21 12:58] mikedn commented on #8700
Because it's likely more common to need an immutable string rather than a mutable one. Would you want to pass a mutable string to `File.Open`? Or `Console.WriteLine`? Or to any other of the zillions of APIs that require strings as input? I doubt that.

It seems to me that it is exactly the opposite. An immutable string is simpler and thus more likely to be treated as a primitive type. Much like ar

[2016-12-21 13:01] benaadams commented on #8700
`string` is a reference type array where its elements are readonly.

As the elements are readonly you can return the same string reference for things (e.g. error messages, enum names, field names for serialization etc). If it was read/write then you need to copy the string before passing it to things as they may change it; so that would be extra overhead and allocations.

Strictly speaking you can

[2016-12-21 13:18] hadibrais commented on #8700
Indeed. But this can justify a standard immutable string type, not a primitive one. Arguably, some integral primitive types are much less common than others, yet there are primitive.

Yes. This is my proposed answer to the question.

You are mentioning some of the benefits of immutable strings which do not answer the question as I explained earlier.

[2016-12-21 13:41] mikedn commented on #8700
What do you mean by primitive? I don't really understand your logic. There's no way for those less commonly used integral types not to be primitives. And as far as `Type.IsPrimitive` is concerned strings aren't primitives.

I don't think this is anymore an answer than the others. It appears to me that you're asking a question, expect a very specific answer and reject any answers that don't match y

[2016-12-21 14:00] benaadams commented on #8700
A string is a pointer to a block of memory which likely has other objects allocated on either side. You cannot resize it in place and keep the same pointer because there is no room at that location. To get round this you'd need to use an extra level of indirection and a more complicated data structure - which would end up being a bit like StringBuilder.

Therefore use `string` for immutable string

[2016-12-21 14:02] hadibrais commented on #8700
ECMA-335 I.8.2.2

I'm not rejecting any of the reasons you have given (sorry, if this is the impression I've given). You could be right. I'm just expressing my opinion that most of these reasons do not justify the decision.

[2016-12-21 14:20] mikedn commented on #8700
Well, built-in and primitive are not exactly the same thing. And while ECMA spec doesn't say what is a primitive type all the cases where it uses this term involve numeric types. At the end of the day this classification is rather pointless. `Vector<T>` is neither built-in nor primitive yet it receives special runtime support.

I don't know. The fact that immutability makes strings thread safe is

[2016-12-21 14:46] benaadams commented on #8700
As outlined above, you can't increase a block of memory's size without moving it; you can decrease it with wastage. So with string being a simple block of memory; there aren't many length retaining operations you'd likely do on it. (Upper and lower casing would be two examples).

It would be made mutable as a set of chained blocks/linked list; but that's a much more complicated data structure and

[2016-12-21 15:08] kars93 commented on #8691
My humble apologies, there was something wrong with permission rights, required folders in the same directory such as /www and /views were not accessible enough. Closing this now.

[2016-12-21 15:08] #8691 closed

[2016-12-21 15:26] varocarbas commented on #3204
This proposal has been discussed, analysed, rejected and closed in other two CoreFX issues ([last and most relevant one](https://github.com/dotnet/corefx/issues/13834)). That's why keeping this issue open makes no sense.

[2016-12-21 15:26] #3204 closed

[2016-12-21 15:39] bartonjs commented on #8660
https://github.com/dotnet/corefx/commits/master/src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/CertificateAssetDownloader.cs hasn't changed since 1.0.0; so... something else changed.

The effective flow:
* If chain.RevocationMode == NoCheck, return.
* Calculate the path where the applicable CRL would be
* If a file exists at that path
  * Call CryptoNative_Pem

[2016-12-21 15:46] janvorli commented on #8660
@bartonjs - I have kept repeating the tests for 1.0.1 and 1.1.0 many times, each time deleting the obj and bin folders, modifying the project to refer to the specific version, doing dotnet restore and dotnet build. The behavior is always the same.

I don't have the ~/.dotnet/corefx/cryptography/x509/crls, but I have ~/.dotnet/corefx/cryptography/crls.  In there, I have three files, the newest one

[2016-12-21 15:59] jkotas commented on #6758
Fixed for .NET Standard 2.0 by https://github.com/dotnet/corefx/issues/12162

See https://github.com/dotnet/core/blob/master/roadmap.md for ship dates.

[2016-12-21 15:59] #6758 closed

[2016-12-21 16:12] hadibrais commented on #8700
I agree. A mutable string is a complicated type that is not suitable as a primitive/built-in type. This is aligned with my proposed answer as well. I think it boils down to the semantic consistency of built-in types I was talking about. I believe that this reason is the only genuine reason that should be mentioned to justify the immutability of strings, rather than enumerating the benefits of immu

[2016-12-21 16:13] redknightlois commented on #5025
This is another example where allowing the JIT to issue a hardware prefetch instruction would be very useful. 30% of the performance of my method throughput goes down the drain because given the size of the 'left out' code the hw prefetcher is not able to pickup the pattern properly.

![image](https://cloud.githubusercontent.com/assets/1045411/21396287/75197410-c77e-11e6-905e-38e556aaf0a8.png)

Th

[2016-12-21 17:24] mikedn commented on #8700
You're insisting that there's such a thing as a genuine reason when in fact it's more likely that there are many reasons. And you're doing that despite having told you that string wasn't always immutable. And Java's string having a very different implementation but also being immutable.

Array's are mutable but I wouldn't call them complicated. The .NET 1.x string was actually more complicated tha

[2016-12-21 17:48] mikedn commented on #7447
@russellhadley My experimental branch is here: https://github.com/mikedn/coreclr/commits/if-convert2

[2016-12-21 17:56] mikedn commented on #7447
@redknightlois I'm not sure how an intrinsic would help. Once it works for local variables it's up to you to ensure that the code has the right pattern to make use of CMOV. Or create a method like `T Select<T>(bool condition, T trueValue, T falseValue) => condition ? trueValue : falseValue;`. The moment you write `Select(c, a[i], b[i])` you accept that both `a[i]` and `b[i]` will be evaluated.

[2016-12-21 18:16] matekm opened #8702 "Remove src/mscorlib/ref/mscorlib.cs?"
Hi,

during the review of the #8174 pull request I was told that 'src/mscorlib/ref/mscorlib.cs' file is not used. So, this issue is just about asking if it's fine to remove that file? If yes, I can raise a pull request that removes it.

[2016-12-21 18:29] bartonjs commented on #8660
Using gdb (so I could set fork-follow-mode child while using `dotnet run`... also `commands` is nice.)

Scenario:
I have a program that builds an X509Chain in Online mode.  It disposes the certs after the chain is built, so I have an "I'm done" marker (an `X509_free` call that doesn't come from `X509_STORE_free`)

Setup (approximate):
[code]

* Every time it gets into X509_CRL_free we'll print (cr

[2016-12-21 18:46] gkhanna79 commented on #7345
@piotrpMSFT @livarcocc What are the next steps here?

[2016-12-21 18:53] gkhanna79 commented on #8694
CC @rahku

[2016-12-21 18:54] jkotas commented on #8702
Duplicate of https://github.com/dotnet/coreclr/issues/7607

[2016-12-21 18:54] #8702 closed

[2016-12-21 19:05] gkhanna79 commented on #8643
CC @rahku

[2016-12-21 19:05] gkhanna79 commented on #8635
CC @AlexGhiondea

[2016-12-21 19:06] gkhanna79 commented on #8635
CC @joperezr

[2016-12-21 19:07] gkhanna79 commented on #8631
CC @janvorli @kouvel

[2016-12-21 19:07] gkhanna79 commented on #8631
CC @rahku

[2016-12-21 19:07] janvorli commented on #8660
@bartonjs for a simple test case, the allocation tracking tool memleax would likely find the leaks with their call stacks easily. Could you please provide me with the source of your testing app so that I can give it a try? At the same time, I can try to pass it the large 100MB crl I have found in ~/.dotnet/corefx/cryptography/crls and see if the memory allocation would correspond to what I am seei

[2016-12-21 19:09] gkhanna79 commented on #8618
@leecow PTAL

[2016-12-21 19:14] gkhanna79 commented on #8565
CC @AlexGhiondea

[2016-12-21 19:16] gkhanna79 commented on #8554
Can this be closed?

[2016-12-21 19:19] #8554 closed

[2016-12-21 19:22] gkhanna79 commented on #8525
@janvrany Were you able to make progress?

[2016-12-21 19:24] gkhanna79 commented on #8521
@saxenark Can this be closed?

[2016-12-21 19:51] tmds commented on #8474
@mikem8361 tried reproducing this on a rhel 7.3 with openshift 3.3 running locally... the problem did not occur

[2016-12-21 22:56] bartonjs commented on #8660
@janvorli [System.Security.Cryptography.X509Certificates' Internal.Cryptography.Pal.OpenSslX509ChainProcessor.BuildChain](https://github.com/dotnet/corefx/blob/master/src/System.Security.Cryptography.X509Certificates/src/Internal/Cryptography/Pal.Unix/OpenSslX509ChainProcessor.cs#L116)

If that doesn't get called at all on 1.0 that would be "the reason" (if this is using System.Net.Http, then [Sys

[2016-12-21 23:25] sivarv opened #8705 "RyuJIT SIMD: Accelerate Abs intrinsic in all cases"
In the following cases to compute Abs, there is no direct instruction.
[code]

JIT can compute Abs(v) in the above cases using conditional select as follows
[code]

[2016-12-21 23:36] AlexGhiondea commented on #8635
@joperezr as you work on the new build system, please keep this in mind!

[2016-12-21 23:37] AlexGhiondea commented on #8565
@nicolasr75 have you considered using https://msdn.microsoft.com/en-us/library/system.appdomain.processexit(v=vs.110).aspx?

[2016-12-22 00:25] nicolasr75 commented on #8565
@AlexGhiondea yes I considered that but according to
https://blogs.msdn.microsoft.com/dotnet/2016/02/10/porting-to-net-core/
AppDomains aren't part of .NET Core. The blog post recommends using AssemblyLoadContext but that doesn't seem to work.

[2016-12-22 01:29] saxenark commented on #8521
Yes, please close this. Thanks.

[2016-12-22 01:29] #8521 closed

[2016-12-22 01:34] #8663 closed

[2016-12-22 03:41] Drawaes commented on #8542
Try an example of asp.net with sslstream?

https://github.com/dotnet/corefx/blob/ec2a6190efa743ab600317f44d757433e44e859b/src/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs

[2016-12-22 03:51] Drawaes commented on #8542
Forget that the stack allocations will be too big for 32 bytes

[2016-12-22 04:37] gitblit commented on #8618
F25 support would be really nice.  Currently it fails to `dotnet new` & `dotnet restore` projects.  I captured the detailed console output `COREHOST_TRACE=1` and linked to it in [this issue](https://github.com/dotnet/coreclr/issues/4087#issuecomment-265569369), if that helps.

[2016-12-22 05:41] AlexGhiondea commented on #8565
@nicolasr75 we have brought back quite a few APIs. You can check http://apisof.net for a recent list of API availability.

With the recent set of APIs we have brought back,`ProcessExit` exists on `AppDomain`.

Can you try that?

[2016-12-22 05:52] AlexGhiondea commented on #8661
@JonHanna I think consistency in the way APIs work is good to have!

What do you think about the breaking change aspect? What scenarios do you think might be broken if we fix this?

[2016-12-22 10:15] JonHanna commented on #8661
The second case of the two mentioned is probably pretty safe in this regard in that it's relatively unlikely for someone to depend on an ANE being thrown. And if they are they're perhaps going to be broken if they move between using this version to the version in corefx as it throws NRE in that case, dotnet/corefx#14563 being different to this issue in that regard. It's not impossible, but it's pr

[2016-12-22 10:58] nicolasr75 commented on #8565
Is this available in .NET Core 1.1?
https://apisof.net/catalog/System.AppDomain
says System.Runtime.Extensions, Version=4.2.0.0 is needed.
Nuget gets me 4.3.0.0 but I can't find it in namespace System.

[2016-12-22 11:48] seanshpark opened #8708 "[x86/Linux] Reverse P/Invoke Segment fault"
As described in #8612, with CoreFX `CharMinMax.exe` program, I'm trying to find the reason for the segment fault in `HndGetHandleTableADIndex` function. I've traced all the JITted methods after `UmThunkStub`.

[code]
As one can see in the parameter is that `handle=0xbfffda6c` and `hTable=0x1c`. `hTable` is wrong and  `handle` is also wrong value. For my case, should be `0xb63310d0`, when its creat

[2016-12-22 13:04] matekm commented on #8558
it's up for grabs and it looks like nice task for a guy that want to contribute something on a spare time.  Can I take it?

[2016-12-22 13:29] rvhuang commented on #8700
With immutability, it will be much easier to use string in collection types that need to check the equality among the elements (for example, HashSet(T) and Dictionary(TKey, TValue)) because it ensures that the values **before** and **after** the element is added are exactly same.

[2016-12-22 15:04] janvorli commented on #8660
@bartonjs I have found the 1.0.1 version doesn't call the `CryptoNative_PemReadBioX509Crl` because the `revocationMode` is equal to `X509RevocationMode.NoCheck`. I can see the object `X509Chain` on the stack, the revocation mode comes from the `X509ChainPolicy` referenced by its `_chainPolicy` member:
[code]

[2016-12-22 15:10] janvorli commented on #8660
I've forgotten to add that it calls the `OpenSslX509ChainProcessor.BuildChain`, it checks the `revocationMode` parameter and since it is `X509RevocationMode.NoCheck`, it sets `lookupCrl` to `false`

[2016-12-22 15:18] janvorli commented on #8660
When running on 1.1.0, the `revocationMode` is `X509RevocationMode.Online` instead. Any idea why it would be different between 1.0.1 and 1.1.0?

[2016-12-22 15:21] bartonjs commented on #8660
The default has always been Online; so whomever requested the chain build used to set NoCheck, and now is doing something different.  So... now we go to whomever built the X509Chain... or, at least, whomever called Build on it.

[2016-12-22 17:44] jkotas commented on #8558
@matekm It is yours. Thank you!

[2016-12-22 18:26] AlexGhiondea commented on #8565
@nicolasr75 it is not in .NET Core 1.1... It is in .NET Core 1.2 though.

[2016-12-22 19:26] #2366 closed

[2016-12-22 22:24] nicolasr75 commented on #8565
Ok, I will set up a project with the .NET Core dev feed on a test PC after Christmas.

[2016-12-23 02:51] jkotas commented on #8700
String is the immutable string type, and StringBuilder is the mutable string type. The design of these existing entrenched types is not going to change because it would be a major breaking change.

http://github.com/dotnet/corefxlab is where we are experimenting with new different string types: There is prototype of UTF8 strings, or faster parsing and formatting APIs. Take a look at corefxlab if y

[2016-12-23 02:51] #8700 closed

[2016-12-23 05:27] seanshpark commented on #8708
I am not sure about the x86 ABI but x86 sends all arguments to the stack but current `TheUMEntryPrestub` and `UMThunkStub` assumes first and second in `ECX` and `EDX`.
So with the `UMThunkMarshInfo__m_cbActualArgSize` value, we should set `ECX` and `EDX` and then reset of the parameters according to the size.
And I don't we don't need to preserve `ECX` and `EDX` in `TheUMEntryPrestub` also.

[2016-12-23 09:15] janvorli commented on #8708
@seanshpark you are of course right, I have not realized that only the jitted code uses the fastcall calling convention on Linux, but the native code does not.
In the future, it might make sense to switch the runtime native code to use fastcall by default, but for now, let's fix the helpers.

[2016-12-23 10:35] matekm commented on #8558
cool, thanks @jkotas !

I noted that there are few directories that are empty, for example 'src\zap\wks' or 'src\utilcode\dac' (it contain only CMakeLists.txt). Should this be removed too?

One more question, what about *.settings.targets files? Leave them or remove them?

[2016-12-23 11:09] seanshpark commented on #8708
@janvori, thank you :)

[2016-12-23 12:01] janvorli commented on #8660
I have investigated the call stacks leading to the `OpenSslX509ChainProcessor.BuildChain` and while there is just one path in 1.0.1, in 1.1.0, there are two.

In the first path common to both, the revocation mode stems from SslStream.AuthenticateAsClientAsync that is called directly by the  @agoretsky;s app with the `checkCertificateRevocation` argument set to `false`. The part of the call stack t

[2016-12-23 13:27] jkotas commented on #8558
CMakeLists files should stay - they are used by the live build. Also, everything under src\jit should stay as I have said above.

They can be removed. As well as other similar files references by the projects being removed, for example src/vm/vm.settings or src/vm/vm.targets.

[2016-12-23 13:52] mikedn commented on #8558
And probably .props files too.

[2016-12-23 13:53] janvorli commented on #8660
@bartonjs I have tried your testing app. The certificates that came from both the servers used by the app are fine, they didn't cause a significant memory consumption.
But the certificate that I have received from @agoretsky is the one that causes the trouble. The generated .crl for this certificate is the one that is larger than 100MB and when I run your app on the cert, it consumes about 1GB of

[2016-12-23 14:54] agoretsky commented on #8660
@janvorli, yes, you can share it via private email with anybody who may help

[2016-12-23 18:44] nicolasr75 commented on #8565
@AlexGhiondea
Unfortunately I don't know how to correctly set it up.
I downloaded and installed .NET Core Runtime from here:

https://github.com/dotnet/core-setup/blob/master/README.md

Trying to run _dotnet new_ I was asked to install .NET SDK and was pointed to
https://www.microsoft.com/net/core#windowscmd

_Programs and features_ now shows two things installed
.NET Core 1.1.0 - SDK 1.0.0 Previe

[2016-12-23 19:20] choikwa opened #8717 "Using custom master build fails"
I've tried following both https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/UsingYourBuild.md and https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/UsingCoreRun.md to no avail. The CI also appears to be inaccessible at https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/OfficalAndDailyBuilds.md.

I am having difficulty making custom build work

[2016-12-23 22:00] janvorli commented on #8717
Can you please describe what is the problem you are hitting?

[2016-12-23 22:14] choikwa commented on #8717
`dotnet restore` using the supplied project.json file from first link fails. Issues include missing dependencies on System.Linq for Win81-x64.

2nd link, corerun (i assume one that is build at bin?), fails due to TypeLoadException when trying to load System.IO.TextWriter.

I used to be able to just robocopy entire bin\Product\<prod> into publish folder as described in https://github.com/dotnet/cor

[2016-12-23 23:56] mskvortsov opened #8718 "eeGetCPString returns nullptr on Linux/ARM32"
This is ARM specific. Is not an issue for x86_64.
#8715 is a fix for a bug caused by this issue.

[2016-12-24 00:13] choikwa commented on #8717
I will try uninstalling .NetCore and just use CoreRun method with pointing to CoreCLR directory... It seems overwriting system packages method does run into compat issues.

[2016-12-24 00:58] choikwa commented on #8717
Now getting below error
[code]

[2016-12-24 01:32] choikwa commented on #8717
Ok, so after I run runtest.cmd once, and point CORE_ROOT to coreclr\bin\tests\Windows_NT.x64.Debug\Tests\Core_Root, it seems to work.

In order to build/update newer CoreCLR binary, I did
`robocopy /e bin\Product\Windows_NT.x64.Debug %CORE_ROOT%`
and it appears to have updated the binary.

[2016-12-24 01:32] #8717 closed

[2016-12-24 10:23] Ponant commented on #1203
@zhenlan is NewtonSoft faster than DataContractSerializer/DataContractJsonSerializer as of .Net Core?

[2016-12-24 23:17] Clockwork-Muse commented on #7841
Instructions have been updated, and they work.  HOWEVER, if the directory doesn't exist the corefx build system proceeds with grabbing the "default" runtime, meaning it can be difficult to recognize that you didn't actually run against a live CLR.  Don't know if we should make it throw an error in that case...

[2016-12-26 07:12] hseok-oh commented on #8685
After merging #8687, I get build error in my x64 linux
[code]

We need x86 cross compilation to build cross-architecture component in x64 environment, because it needs system library header files for 32bit linux.

[2016-12-26 07:18] tmds opened #8721 "Pinvoke support for versioned symbols"
## Rationale

Symbol versioning is a mechanism that allows multiple versions of a symbol to exist in an ELF file.
When you link with such a library, your binary will reference a specific version of the symbol.

It would be great if pinvoke can support calling such libraries.

## Api
This requires an additional argument to be specified in the DllImportAttribute that specifies the version. This coul

[2016-12-26 07:55] jkotas commented on #8721
cc @yizhang82

[2016-12-26 11:19] #7687 closed

[2016-12-26 13:42] mskvortsov opened #8726 "[RyuJIT/ARM32] A question about LSRA RegPair"
[lsra.cpp:3442](https://github.com/dotnet/coreclr/blob/94502643d53d5ded7542d9ed883a45be06fdf6e7/src/jit/lsra.cpp#L3442) has the assertion:
[code]
Is that a NYI or a by design assertion?

This is a part of #8496.

[2016-12-26 17:03] mskvortsov commented on #8496
@hqueue I'm working on `CodeGen::genSetRegToCond` right now.
And I've put my head into the `!isRegPairType(tree->TypeGet())` issue already.

(BTW, broadly speaking, there are still quite a few overlapping areas in the bring up process, so at this stage we probably should not try too hard not to repeat each other's efforts).

[2016-12-26 19:27] #8558 closed

[2016-12-26 22:10] hdesouky commented on #7902
did you found a solution for this?

[2016-12-27 04:47] hqueue commented on #8496
@mskvortsov Cool. For` !isRegPairType(tree->TypeGet())` and `assignedInterval != nullptr` , I think they are all related to types which requires two registers , e.g. long and double type in all phases including LSRA.
BTW I will look into other assertions.

[2016-12-27 05:49] jaredpar commented on #5463
Any updates on this?  Trying to do some work in this area and can't find a lot of documentation on it.

[2016-12-27 07:45] hqueue commented on #8496
Summarize current status with PR #8710 and #8724 (cited from #8724)

# Status
Test result from 139 tests from `JIT/CodeGenBringUpTests`  with `COMPlus_JitDisasm=BringUpTest:* COMPlus_AltJit=BringUpTest:*`

## with PR #8710
[code]
All 78 failures are `Assert failure` as follows.
- 54 of 'NYI: float argument' (gone)
- 7 of 'NYI: genSetRegToCond'
- 6 of 'NYI: Lowering of long register argument'
- 4 o

[2016-12-27 09:24] xoofx opened #8730 "myget dotnet-corefxlab not accessible?"
trying to build the managed tests and keep getting this error:

[code]
When trying to access the url https://dotnet.myget.org/F/dotnet-corefxlab/api/v3/index.json I'm getting a login page but not the json registry.

Any clues?

[2016-12-27 09:28] xoofx commented on #8730
ok, it seems that also https://dotnet.myget.org/F/dotnet-buildtools/api/v3/index.json is not accessible either... so can't build corefx as well... maybe a temporary problem...

[2016-12-27 09:40] maartenba commented on #8730
Temporary problem - MyGet is working on it

[2016-12-27 09:55] maartenba commented on #8730
Should be resolved now.

[2016-12-27 10:24] #8730 closed

[2016-12-27 11:42] mskvortsov commented on #8496
@hqueue #8731 (on top of your FP work) makes 6 more tests passed.

[2016-12-27 12:55] hqueue commented on #8496
@mskvortsov Cool! Now I'm not working on assertions right now, I think you can continue as you wish :)

[2016-12-27 13:05] treziac commented on #7902
No, it still doesn't work and isn't fixed with new csproj in 2017 RC, making without it for the moment

[2016-12-27 17:24] xoofx commented on #7841
Is `BUILDTOOLS_OVERRIDE_RUNTIME` still used for building corefx with a local coreclr build? Not able to get it running and I don't see this variable used apart from a sh script, so this might not work on Windows then?

[2016-12-27 20:06] xoofx commented on #7841
nevermind, `BUILDTOOLS_OVERRIDE_RUNTIME` seems to be working.

[2016-12-27 21:11] tmds commented on #8721
To be able to use a 'symver' library I implemented this on top of 1.1: https://github.com/tmds/coreclr/commit/eb2ac5a51b4ca3e9f4040f176dd4d68cf3d5f074. This is using the 'version in EntryPoint' API since that only required changes to the native parts.

I can start a PR on top of master after the holidays.

[2016-12-27 21:16] danmosemsft opened #8732 ".NET Core web app fails to run from a path containing a question mark"
## Problem

Using `?` in path leads to exception from [URLString.cs](https://github.com/dotnet/coreclr/blob/345e201f027eb35a7a01e1714afe36b831b6f1e3/src/mscorlib/src/System/Security/Util/URLString.cs#L1202)

## Solution
Note: The shipping System.IO path handling code has the set of illegal characters done correctly.

System\Security\Util\URLString.cs is internal left-over from CAS security model.

[2016-12-27 22:22] choikwa opened #8733 "Gazillion warnings from enabling building tests on Win8.1 x64 Debug"
I don't know why it's looking for windows 10 headers for win8.1 build.

[2016-12-27 23:49] edward-a opened #8735 "Question: Boxing on stack for function calls"
I am aware of similar proposal https://github.com/dotnet/coreclr/issues/1784. But what i am asking is a bit different. I am wondering if it's a good idea to allocate boxed value on stack in case boxing is done for a function argument. And move that box to heap later only if that box gets referenced from an object from heap. I think it would be a significant optimization for function calls with obj

[2016-12-28 00:53] choikwa opened #8736 "AVX2 flag unset on Win8.1 x64"
...by commit 4f0753d to src/vm/codeman.cpp:1226

[2016-12-28 00:55] choikwa commented on #8736
Verified by inserting code

`printf("test AVX2 %i\n", opts.jitFlags->IsSet(JitFlags::JIT_FLAG_USE_AVX2));`

at importer.cpp:6611

Before: test AVX2 0
After: test AVX2 1

[2016-12-28 02:02] pentp commented on #7774
Is there a reason that pinned locals must be untracked? Deducing liveness info from unpinning code would  remove the `try/finally` blocks, (synthesized) unpinning code and initialization code.

[2016-12-28 03:38] jkotas commented on #8736
cc @JohnChen0

[2016-12-28 07:42] mikedn commented on #8735
That "move to heap when referenced by an object from heap" involves compiler thinking. And this type of thinking is actually more complicated than traditional escape analysis as "move to heap" needs to happen at most once for a given object.

[2016-12-28 15:20] mikedn commented on #8726
cc @CarolEidt @sivarv

[2016-12-28 16:43] mskvortsov commented on #8726
I see these words in `target.h`:
[code]
So the answer to my question is "the assertion is by design". I'll look further how multireg calls are implemented for x86.

(And sorry for closing and reopening the issue, that was accidentally).

[2016-12-28 18:36] qmfrederik opened #8742 "Marshal.StructureToPtr returning inconsistent results"
I'm seeing `Marshal.StructureToPtr` returning different values between `net461` and `netcoreapp1.0`. Furthermore, running the same code on `netcoreapp1.0` multiple times results in different outcomes.

The struct is declared as follows:

[code]

When initializing a new value of `ConstTestStruct` as follows:

[code]

my expectation is that `Marshal.StructuretoPtr` will serialize the struct as `0x78

[2016-12-28 19:39] CarolEidt commented on #8726
@mskvortsov - yes, it is by design. If we are encountering register pairs with the RyuJIT backend, it probably means that some operation is not being properly handled (either a call that should be handled as a multireg return, or a node that should have been decomposed).

[2016-12-28 20:21] sivarv commented on #8726
x86 RyuJIT doesn't use regpair to represent TYP_LONG.  A call node returning a long type value is considered a multi-reg call node and is GT_RETURN of long type value.  Arm32 RyuJIT needs to be implemented on the same lines.  Here are some PRs that you might want to have a look at to get an idea of the code paths that needs to be enabled for Arm32 RyuJIT

Disable RegPair for x86
https://github.com

[2016-12-28 22:18] mskvortsov commented on #8726
@CarolEidt Thank you!
@sivarv Now I see there are tons of useful info I can take from the past x86 bring up discussions here. Thanks for the links!

[2016-12-28 22:18] #8726 closed

[2016-12-28 23:01] danmosemsft commented on #4651
@jkotas what are these older CoreCLR workloads? Is this no longer the case now we have given up on project K mirroring?

[2016-12-29 01:02] #7216 closed

[2016-12-29 01:10] AndyAyersMS commented on #7774
The immediate reason that pinned locals are untracked is that the GC info reporting requires it to be this way. See for instance [here](https://github.com/dotnet/coreclr/blob/ffeef85a626d7344fd3e2031f749c356db0628d3/src/inc/gcinfo.h#L22-L29) or [here](https://github.com/dotnet/coreclr/blob/32f0f9721afb584b4a14d69135bea7ddc129f755/src/vm/eetwain.cpp#L4533-L4589) where the flag indicating that a GC

[2016-12-29 01:27] jkotas commented on #4651
Yes, number of these unused types can be deleted now. It is step 2 mentioned in https://github.com/dotnet/coreclr/issues/972.

https://github.com/dotnet/coreclr/issues/8732 or https://github.com/dotnet/corefx/issues/12678 overlaps with this as well.

[2016-12-29 02:13] jamesqo commented on #4651
@jkotas I will grab this issue.

[2016-12-29 03:06] pentp commented on #7774
After looking through code using `this_OFFSET_FLAG` it looks like `this` and `byref` can't be set at the same time. If the flags were instead treated as a 2-bit enum (`0`, `byref`, `this`, `pinned`) it would be possible to encode pinned & tracked locals? It would also allow encoding `this` for untracked locals.

[2016-12-29 04:20] jamesqo commented on #4651
@jkotas, I am thinking of deleting more than just the System.IO files-- I would like to delete the old files in other namespaces you mentioned above, such as System.Security. Can all files that are duplicated between here and corefx (besides the ones in the `corefx/` folder) be deleted? If not, how can I tell which ones are safe to delete?

[2016-12-29 05:21] jkotas commented on #4651
I do not think there is simple rule how to identify parts that can be deleted without breaking stuff. I would do this in two steps.

First step:

Compare corelib before and after BCLRewriter build step, and physically remove methods and types that BCL rewriter removes. It should be very mechanical (though tedious) change. There may be some outliers where BCL rewriter deletes internal constants and

[2016-12-29 05:50] jkotas commented on #8742
The padding bytes in structs are not guaranteed to be zero initialized. E.g. https://github.com/dotnet/coreclr/issues/1305#issuecomment-125914809 is earlier discussion on the same topic.

[2016-12-29 07:57] qmfrederik commented on #1305
I'm joining this issue because I've been directed here by @jkotas from #8742

As I understand it, there's a difference between RyuJIT and legacy JIT where the legacy JIT initializes padding in structs with zero, whereas RyuJIT does not.

If this is correct, I believe this change has the potential to open up security bugs in applications that will migrate to RyuJIT.

Consider (low level) networking

[2016-12-29 08:11] jkotas commented on #1305
There are cases where the gaps are left uninitialized with old JIT on full .NET Framework as well. It are just lucky that you are not running into them. RyuJIT and .NET Core has better optimizations and thus the cases where the gaps are left uninitialized are more frequent.

[2016-12-29 08:16] hseok-oh opened #8746 "[ARM32-softfp] Rootfs for cross-build"
We cannot get correct root file system for arm-softfp cross build now using `cross/build-rootfs.sh`.
It is related to LLDB package. `build-rootfs.sh` uses debian jessie (unstable) to generate root file system for arm-softfp. But jessie unstable repository for arm-softfp doesn't contain lldb-3.6-dev or lldb-3.8-dev now.

One solution is use lldb-3.7-dev that is Jessie unstable repository only have.

[2016-12-29 08:16] ayende commented on #1305
@qmfrederik It does initialize the fields to null, no?
It is just the padding that isn't set, and how would you even see that, if you are accessing just the data through the struct?

[2016-12-29 08:30] qmfrederik commented on #1305
@ayende If you serialize the struct to a byte array via Marshal.StructureToPtr for example, and use the result in networking code - then _everyone_ can see it. See the Google in my previous comment, it shows up some code that may hit this behavior.

@jkotas I wad thinking avout the optimizations. Is it really more performant to zero out struct's memory one field at a time as opposed to the entire

[2016-12-29 08:32] mikedn commented on #1305
Do you have a specific security bug in mind apart from the potential information disclosure issue that has already been mentioned?

The moment you use things like `Marshal.StructureToPtr` the whole "managed" aspect is thrown out of the window.

[2016-12-29 09:11] ayende commented on #1305
@qmfrederik Given that strings and arrays don't typically live on the stack, I would be very surprised if you'll get any real leakage from such a scenario. And if you are passing raw structures around via the network, you are already doing several things wrong and making assumptions about the security of the communication.

[2016-12-29 09:12] mikedn commented on #1305
The JIT already does too much zero initialization as it is. I don't see why it should do even more zero initialization just to handle a corner case. With the exception of the weird case of explicit field layout normal, verifiable code can't access the padding bytes.

StructureToPtr is not a serialization tool, it is an interop marshaling tool. If you are using StructureToPtr for anything other tha

[2016-12-29 09:22] qmfrederik commented on #1305
@mikedn

Is potential information disclosure not important enough?

But doesn't [8.9.7 Value type definition in ECMA 335](https://www.ecma-international.org/publications/files/ECMA-ST/Ecma-335_big.pdf) state it should?
I also have a hard time seeing how code which takes the size of a struct and initializes the entire memory block to zero would be slower than code which inspects a struct, loops ove

[2016-12-29 09:28] mikedn commented on #8742
For completeness here's the IL generated by the C# compiler and the asm code generated by RyuJIT:
[code]
[code]
The JIT figured out that both struct fields are assigned values and ignored `initobj` and `.locals init`.

[2016-12-29 09:42] mskvortsov opened #8748 "[RyuJIT/x86] redundant spill/fill of a long returned from a call"
The x86 code being generated for `CnsLng1.exe` has inefficiency:
[code]

[2016-12-29 10:27] mikedn commented on #1305
Important or not the question was if there's another potential security issue that hasn't yet been spotted.

The specification rarely discusses the issue of padding and it's not clear if operations such as "initialize instances to zero" include padding or not. At the end of the day we could very well blame other parts of the runtime:
* why does boxing (your example code does boxing) copy the paddi

[2016-12-29 11:00] qmfrederik commented on #1305
@mikedn Thanks for the feedback!

To your points:

I have not; the security-related impact I'm referring to is parts of memory on the stack being unintentionally disclosed.

Interestingly, I have not observed this behavior when using the generic version of `Marshal.StructureToPtr` (so when removing the boxing from the code). I'm not sure whether that's just a coincidence or not.

OK, thanks for th

[2016-12-29 11:02] qmfrederik commented on #8742
@mikedn Thanks, that clarifies a lot. Just for my information, would there be a huge performance penalty if the second 4 bytes were initialized with `0x0000009a` instead of just the first byte with `0x9a`? Or, when running on 64-bit, wouldn't it be faster to initialize all 8 bytes at once?

[2016-12-29 11:30] mikedn commented on #1305
The lack of zero initialization of padding bytes is the result of a compiler optimization and optimizations aren't guaranteed to be always performed. Or they are performed and combined with other optimizations and then you get different results. For example, if initialization and boxing happen in the same method it's possible that the compiler eliminates the intermediary stack variable and directl

[2016-12-29 11:46] qmfrederik commented on #1305
@mikedn Thanks for the very detailed answer.

Reading the answer, there seem to be a lot of factors in the equation, which make that in most development scenarios, you'll never see this happening. You're only likely to detect this in release mode, and even only then if you're very lucky.

Plus, consensus seems to be that the spec, at best, is not very clear about what is supposed to happen.

I did

[2016-12-29 11:53] mikedn commented on #8742
If you could actually store 0x0000009a instead of 0x9a then it would fine from a performance point of view. However, I'm not sure if it is feasible to do this because this kind of store widening is only valid if the object has just been initialized. This can also be problematic when dealing with float fields or dealing with 8 byte alignment on 32 bit platforms.

Likely. Or at least the code would

[2016-12-29 11:59] mskvortsov commented on #8748
CC @CarolEidt @sivarv

JIT issues aside, I wonder why is there a difference at the bytecode level between `CnsLng1.exe` I took from the CI release [artifacts](https://ci.dot.net/job/dotnet_coreclr/job/master/job/release_windows_nt_bld/lastSuccessfulBuild/artifact/bin/tests/) and the one I built locally with Roslyn?

CI version:
<pre>
  .method public hidebysig static int32  Main() cil managed
  {

[2016-12-29 12:14] mikedn commented on #1305
That's unfortunate. I don't think one needs to be familiar with inner JIT workings to realize that using something from the `Marshal` class for purposes other than interop marshaling might not be a great option. But yes, it can be convenient and people tend to like that.

That said, StructureToPtr isn't the only way to get at those uninitialized padding bytes. There's unsafe code, explicit struct

[2016-12-29 12:20] qmfrederik commented on #8742
I like where this is going, improving performance _and_ initializing the padding with zeros ;-)

[2016-12-29 12:25] mikedn commented on #8748
It seems that the CI uses the pre-Roslyn C# compiler.

[2016-12-29 12:27] qmfrederik commented on #1305
Well, in a lot of binary file layouts/network protocols you'll find entire data blocks or at least headers defined as C structs.

Take the [TCP packet header](https://en.wikipedia.org/wiki/Transmission_Control_Protocol). If I have a byte stream that I know contains a TCP header, I could define the TCP Header as a struct in C# and use `Marshal`/unsafe/... as an easy way to convert the byte stream i

[2016-12-29 12:43] mskvortsov commented on #8748
@mikedn I see. My thought was CI builds are deliberately tuned to generate non-optimized code to benchmark the JIT perf in a sense.

And I see the JIT still generates that redundant transfer to memory even with optimized Roslyn code at the input. Seems that `lvaPromoteLongVars` lowers long nodes into loads/stores to a newly created `lclVar`s and they survive till the codegen not being optimized ou

[2016-12-29 12:57] mikedn commented on #8748
Some tests are compiled multiple times with different optimization options (see test projects that have d/do/r/ro suffixes) but this is not the case with codegen bring up tests, they have optimization enabled. You can check the presence of the following assembly attribute in the test exe:
[code]
Unoptimized exes usually have something like
[code]

`DecomposeLongs::DecomposeCall` forces the result

[2016-12-29 13:12] mikedn commented on #1305
Not really (and apart from manually writing the individual fields there aren't many alternatives - there are serialization frameworks for this but sometimes they're overkill) but you have to be careful. If you have padding you can widen the fields or add new fields to make that padding "explicit". `byte` field followed by an `int`? Make it `int`. `short` field followed by an `int`? Make it `int` o

[2016-12-29 13:30] ayende commented on #1305
@qmfrederik in any such case, you'll _always_ have very explicit control over padding.

[2016-12-29 13:33] qmfrederik commented on #1305
@ayende - Not sure I follow. I would prefer to just use something like `[StructLayout(Pack = 4)]` if I know that's the convention, rather than having to use the options @mikedn summarized.

But if I do that, I hit the issue described in this bug.

@mikedn  - Yup, I kind of think that summarizes it - if you have structs that are externally visible and you want to make sure the padding is zero, your

[2016-12-29 13:38] mskvortsov commented on #8748
Yes, I usually check for the `( 01 00 02 00 00 00 00 00 )` flag presence in `ildasm` output to make sure JIT will work in the opt mode. I meant a bytecode itself could be deliberately made poorly optimized to e.g. check how JIT (running in opt mode) performs on such a contexts.

After I looked through a number the past reviews, I'm almost sure the issue is a well known one. As a matter of fact, Si

[2016-12-29 13:51] ayende commented on #1305
I do a _lot_ of work with structs, and we always use `Explicit` and `[FieldOffset]` to control exactly where everything is going to be.

[2016-12-29 13:52] ayende commented on #1305
@qmfrederik Note that this call will do it:
[code]

[2016-12-29 13:54] mikedn commented on #8748
Hmm, I suppose the issue is something like this:
[code]
The long addition operation will get decomposed into 2 separate `GT_ADD` nodes and both these nodes need to "use" the call node. Not only that it isn't possible for a node to be used by more than one node but it's not clear how you could specify which half of the long each of the `GT_ADD` nodes use.

[2016-12-29 14:16] qmfrederik commented on #1305
@ayende Cool, thanks!

Just to be sure: with `Explicit` and `[FieldOffset]`, you can still have implicit padding in your struct, like in this example:

[code]

So the last three bytes of this struct could still contain random values from the stack. So I'd need to either widen `Number2` to an `int` or add a `byte` and a `short` to manually pad the struct. (Not something an IL weaver couldn't do).

[2016-12-29 14:35] mskvortsov commented on #8748
@mikedn I don't quite get this. What is the sense of "use" here? Could you elaborate, please?

[2016-12-29 14:57] mikedn commented on #8748
It is not possible to have IR like (in linear form, I'm not going to draw trees...):
[code]
Every time a node needs to be used in more than one place a local var needs to be introduced so the IR looks like:
[code]

[2016-12-29 15:05] cocotr opened #8749 "crossgen issue"

[2016-12-29 16:28] jkotas commented on #1305
C/C++ has the same problem with unitialized padding and this is exactly what you would do to solve in C/C++.

[2016-12-29 16:43] jkotas commented on #1305
Adding zero memory API that is guaranteed to not be optimized away sounds fine to me.

[2016-12-29 18:32] sirgru commented on #1784
To the question about use cases: There are certainly widely spread use cases where avoiding these small allocations can be very useful.
Let's say I am doing game development in C# in Unity. In methods that run many times per second, it is very important to avoid allocations. These small garbage allocations would accumulate quickly and cause GC collection to run at some undetermined time during gam

[2016-12-29 18:59] ayende commented on #1305
@qmfrederik If you want to have no padding, `StructLayout` have a `Size` property.
Note that if you want a cleared struct, you can do PtrToStrucutre from known zero buffer.

@jkotas As I understand it, the C# compiler will never optimize a pinvoke call, so I don't think it would be needed.

[2016-12-29 20:23] danmosemsft commented on #4651
Another link. https://github.com/dotnet/corefx/issues/5540

[2016-12-30 01:41] jkotas commented on #8749
@cocotr Could you please add description of the issue?

[2016-12-30 02:51] jamesqo commented on #4651
Great, thanks to both of you for the advice/related issue.

[2016-12-30 03:54] jamesqo commented on #4651
@jkotas I used [Mono.Cecil](http://www.mono-project.com/docs/tools+libraries/libraries/Mono.Cecil/faq/) to print out a list of all types not in the rewritten assembly; see [here](https://gist.github.com/jamesqo/719d955e4e1edd78a426df1123a3c8b0#file-program-cs). I will be removing the types in that list.

[2016-12-30 04:26] jkotas commented on #4651
Some of the types in your list do not look right, e.g. ValueTuple* or ConfigurableArrayPool should stay. Do you have latest builds of both .dlls?

[2016-12-30 05:09] benaadams opened #8752 "[Deadlock] Stream uses same Semaphore for Async Read & Write"
A pending Read can cause a Write to deadlock and vice versa: see https://github.com/dotnet/corefx/issues/14698#issuecomment-269730422

[2016-12-30 07:20] mskvortsov commented on #8748
Thanks, it's more clear now.

However I probably should not try to get deeper. I stumbled upon the issue while working on #8496 and checking how `long` nodes are implemented for x86.

[2016-12-30 14:49] jamesqo commented on #4651
@jkotas I rebased to lastest master and re-ran the program ([updated the gist](https://gist.github.com/jamesqo/719d955e4e1edd78a426df1123a3c8b0/revisions)). `ValueTuple` and `ConfigurableArrayPool` have disappeared.

[2016-12-30 16:23] jkotas commented on #8752
There may be stream implementations that depend on single lock being used for both for correctness. Fixing this may get rid of the deadlock for some streams, but introduce races for other streams.

[2016-12-30 16:45] sirgru opened #8756 "Custom Allocator to improve cache locality"
**Problem**:
Improving cache locality is an important concern in high-performance scenarios, such as game development and systems programming. With managed code running on small, weak devices these days, performance considerations are again important.
While managed memory is a great relief in C#, this does not mean there is no need to improve the way memory is handled - with regards to a few thing

[2016-12-30 20:45] jkotas commented on #8756
cc @Maoni0

[2016-12-30 23:42] nathanaeljones opened #8758 "Bring back Assembly Neutral Interfaces"
We were very close to achieving loose coupling in .NET via [Assembly Neutral Interfaces](http://davidfowl.com/assembly-neutral-interfaces/)... then victory was snatched from our grasp with [its removal in 2015](https://github.com/aspnet/dnx/pull/1206). I know this would also [need to be added to .NET Full](https://github.com/aspnet/dnx/issues/2003), but it is a very worthwhile feature.

Diamond de

[2016-12-31 02:01] nathanaeljones commented on #375
As I understand, the runtime clause was intended to increase, not decrease, the scope - however, those were not the legal words used, and without context - does not parse that way.

Interpreted strictly, this patent non-assertion promise only applies to usage of source code acquired from the coreclr and corefx repositories, and combined with the .NET Runtime restriction, seems unlikely to be inter

[2016-12-31 03:22] nathanaeljones commented on #1784
There are a lot of 'params' methods in the hot path. String.Trim(), for example, is often used. It does not allocate unless it actually changes the string, yet must heap allocate an array of chars.

APIs involving mutable structs (C# doesn't have immutable ones) are incredibly error prone. There's no clarity into what copy of a struct is being mutated by what method. structs are therefore eschewed

[2016-12-31 09:58] mikedn opened #8760 "ECMA/JIT/Roslyn switch value inconsistency"
IL `switch` description from the ECMA spec doesn't clearly state what type the switch value is expected to have:
[code]
Note that it says "unsigned integer", not "unsigned int32". Contrast this with the `ldelem` description that states:
[code]

Now, RyuJIT64 happily accepts any integer type (importer code has `assertImp(genActualTypeIsIntOrI(op1->TypeGet()));`) and if the type is not already `TYP_

[2016-12-31 15:54] jkotas commented on #8758
The ANI prototype had performance characteristics. It would be performance disaster if it gets used broadly in the form that it was implemented.

@davidwrighton and @jaredpar are looking into how to do it properly.

[2016-12-31 16:02] jkotas opened #8761 "Optimize statics JIT helpers on x64 and arm64"
The statics JIT helpers on x64 and arm64 are missing optimization for the single domain case.

https://github.com/dotnet/coreclr/search?utf8=%E2%9C%93&q=JIT_GetSharedNonGCStaticBase_SingleAppDomain and friends.

[2016-12-31 17:58] paradissimon opened #8762 "DirectoryInfo.CreationTimeUtc is broken under Unix"
It seems the concept of a file or directory creation time does not exists on Unix. On Linux/Ubuntu 16.04.1 LTS with .Net Core 1.1, the *CreationTimeUtc* property returns *DateTime.MinValue* for both files and directories. This creates a different behavior between Windows and Linux. Code work correctly on Windows but not Linux.

One must use *LastWriteTimeUtc* instead.

[2016-12-31 21:22] jkotas commented on #4856
Duplicate of https://github.com/dotnet/coreclr/issues/295

[2016-12-31 21:22] #4856 closed

[2016-12-31 21:26] jkotas commented on #295
I have pushed my old prototype of standalone fully managed IL verifier to https://github.com/dotnet/corert/tree/ILVerify

cc @OmarTawfik

[2016-12-31 22:03] davidfowl commented on #8758
That's the first I'm hearing about this and it makes me very happy 😊

[2016-12-31 23:34] damianh commented on #8758
@jkotas Is there an issue to track this or anything to share (even thoughts) at this point?

I, for one, look forward to killing `LibLog`.

[2017-01-01 02:13] jamesqo opened #8763 "Dependencies on unmaintained implementations of types in corelib"
**Problem:** Currently, there are certain types that have files both in coreclr and corefx. The corefx version is usually the actively maintained version, while the coreclr one is poorly formatted and unmaintained. Examples: [`ArrayList`](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Collections/ArrayList.cs), [`Directory`](https://github.com/dotnet/coreclr/blob/master/src/

[2017-01-01 02:18] jamesqo commented on #972
@karelz I might grab it after https://github.com/dotnet/coreclr/issues/4651 is fixed, however doing this before then would create merge conflicts/increase the work to do. Maybe this should be marked as 'blocked'.

[2017-01-01 23:33] jamesqo commented on #8763
I ran into more cases besides Directory/File, so generalizing this issue to include all such types.

[2017-01-02 07:00] hqueue opened #8770 "[ARM32/softfp] Using armel instead of arm-softfp for ARM32 with softfp ABI"
In CoreCLF and CoreFX, we use `arm-softfp` to indicate ARM32 with softfp ABI.

We are using following commands to build ARM32 softfp now.
[code]
However arm-softfp is not a common name and it is weired to use `arm-softfp` in rid.
For example,  rid is `ubuntu.14.04-arm`  for ARM32 (hardfp) now and  `debian.8-arm-softfp` might be a candidate rid for arm-softfp, but it's very weired to have another `

[2017-01-02 07:12] hseok-oh commented on #8770
LGTM

[2017-01-02 10:50] mikedn commented on #8462
With the current JIT abilities that pretty much means that the opt can be done when the shift count is constant since we have no other way to know that it is non-zero. But if it's constant then it's preferable to replace code like `(x << 20) == 0` with `(x & 4095) != 0`. In this case a `test` instruction will be used and that avoids the need for a temporary register to evaluate the shift.

It's no

[2017-01-02 12:00] mikedn commented on #8462
Here's an occurrence from System.Text.RegularExpressions:
[code]
becomes
[code]

Looks like a nice improvement but there are only 3 occurences of this pattern in the entire FX jit-diff. Doesn't seem to be worth the added cost of recognizing this pattern.

[2017-01-02 12:41] ciplogic opened #8772 "Add relevant CHA inside Roslyn and RyuJIT"
RyuJIT could handle it more seriously the sealed contract and devirtualize and inline more aggresively.

[Issue in Roslyn repository](https://github.com/dotnet/roslyn/issues/16187)

[2017-01-02 13:45] benaadams commented on #8772
Related https://github.com/dotnet/coreclr/issues/1166

[2017-01-02 14:33] stephentoub commented on #8762
Thanks for the report, but creation time as a concept doesn't exist in Linux, though it does on both Windows and macOS ("birth time").  Since .NET exposes this creation time property, though, to implement it on Linux we really only have two options: return a default value or throw an exception.  And in this case we chose to return a default value.

[2017-01-02 14:33] #8762 closed

[2017-01-02 14:36] stephentoub commented on #8752
Right.  For example, this would cause problems with a variety of streams that rely on this to protect their internal buffering state (e.g. FileStream created with useAsync=false).  While it's arguable whether such streams should have had this behavior when the Begin/End methods were introduced in the first place, changing it now would lead to potentially significant problems.

This should be handl

[2017-01-02 14:36] #8752 closed

[2017-01-02 20:00] andrius-k commented on #7535
Yes, those are just informational messages from debugger stating that we will not be able to step into dot net core libraries. This behavior is just fine because usually we don't have to debug .net libraries. But is there any way to disable these messages? Because there are quite a few of them and they are very annoying.

[2017-01-02 20:59] yizhang82 commented on #8721
@tmds,thanks for submitting the proposal. Have you considered how your proposal would interact with name mangling (https://en.wikipedia.org/wiki/Name_mangling) - those names might include @, such as _foo@8?

[2017-01-02 22:08] tmds commented on #8721
Support for calling such functions can only be done by adding additional fields to the DllImport attribute (e.g. Version field).
[code]

[2017-01-02 22:49] janvorli commented on #8721
@tmds thank you, that's a very useful suggestion.

[2017-01-02 23:48] RossNordby opened #8775 "AccessViolationException on implicit conversion of explicit layout unions when optimizations enabled"
Calling Test in the following causes an AccessViolationException when optimizations are enabled.
[code]

[2017-01-02 23:55] janvorli commented on #8775
@RossNordby what OS / architecture have you tested it on?

[2017-01-03 00:08] RossNordby commented on #8775
Woops, forgot to mention- Windows 10, x64. Doesn't seem to happen under x86.

[2017-01-03 00:13] yizhang82 commented on #8721
@tmds There are existing code that specify EntryPoint with a mangled name:
[code]
OR
[code]
Such code would either stop functioning or have an additional binding failure (and fallback to dlsym).
I'm leading towards not having the complexity / ambiguity of parsing the '@' in the entry point. Using Version seems to be a better approach.

I'm also wondering whether symbol versioning is a common pract

[2017-01-03 00:16] janvorli commented on #8721
@yizhang82 for example glibc uses it extensively to ensure that apps linked to old version of glibc will work against the latest glibc version just fine.

[2017-01-03 00:53] #8708 closed

[2017-01-03 01:06] jkotas commented on #8721
How do you deal with versioned symbols in C/C++ - if I want to call a particular symbol version in C/C++, how do I do it?

Overloading of the name string or DllImport attribute for this does not seem to be a good idea.

[2017-01-03 01:19] jamesqo commented on #8772
One place this would really help is `StringBuilder.ToString()`.

[2017-01-03 01:26] jamesqo opened #8776 "Improve parameter names of Array.Copy"
`Array.Copy` accepts the following parameter names: `sourceArray`, `sourceIndex`, `destinationArray`, `destinationIndex`, `length`. However, the parameter names in the exceptions do not match up: https://github.com/dotnet/coreclr/blob/master/src/classlibnative/bcltype/arraynative.cpp#L1024-L1054 They should be changed to match the names in C#.

Blocked on https://github.com/dotnet/corefx/pull/1479

[2017-01-03 05:28] seanshpark opened #8779 "[x86/Linux] Implement ResolveWorkerChainLookupAsmStub"
`ResolveWorkerChainLookupAsmStub` needs implementation for x86/Linux.

To test this function, I've found one case but don't know why `ResolveWorkerChainLookupAsmStub` is called. Maybe later I could know.
[code]

If `ResolveWorkerChainLookupAsmStub` passes with no problem (don't know it'll work perfectly yet) execution should go to `DispatchManagedException` in excepx86.cpp. Currently it'll stop wi

[2017-01-03 05:29] seanshpark commented on #8779
CC @parjong

[2017-01-03 08:36] mikedn commented on #8775
Can't reproduce with the current CoreCLR version. In the desktop .NET Framework this crashes RyuJIT in:
[code]
The crash seems to be caused by indexing `m_chunks` by `0x0000000003ffffff`, that's `NoVN >> 6` so this was probably fixed by #7958.

cc @JosephTremoulet @pgavlin

[2017-01-03 09:25] janvorli commented on #8721
@jkotas, in C++, if you want to get the symbol address explicitly, e.g. when you load the shared library using dlopen, you call the dlvsym (`void *dlvsym(void *handle, char *symbol, char *version)`) function to get the versioned symbol.
If you try to use just `dlsym`, you'd get the oldest version of the symbol that's present in the shared library (or maybe the first one that was in the linked scri

[2017-01-03 11:22] mikedn commented on #8760
That's not quite true, the verifier rejects non-INT types:

[code]
This makes the sign extension of the switch value even more questionable.

[2017-01-03 13:36] seanshpark commented on #8685
@hseok-oh , can you add a comment about your build host environment and target platform/architecture?

[2017-01-03 13:53] j33zy opened #8782 "Perfcollect problem inside docker using configuration from linux-performance-tracing.md"
Linux kernel version: 4.4.0-57-generic
Docker version: 1.12.5, build 7392c3b
OS: Ubuntu 16.04.1 LTS

Problem description:
Cannot collect performance data using tutorial located in https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/linux-performance-tracing.md
Command perfollect is failing in different ways

**Reproduction:**
Using example Dockerfile from: https://raw.githubus

[2017-01-03 15:02] redknightlois commented on #8756
Related:
https://github.com/dotnet/coreclr/issues/1236
https://github.com/dotnet/coreclr/issues/4365
https://github.com/dotnet/coreclr/issues/1235

[2017-01-03 16:42] abergmeier-dsfishlabs commented on #641
For us to ever consider coreclr, it really needs to provide some way to interact with C++ properly. Similar to something like [pybind11](https://github.com/pybind/pybind11) for Python.
Especially ownership handling needs to be supported properly (way beyond COM).

[2017-01-03 17:14] yizhang82 commented on #8721
Searching for dlvsym in github gives me 0 hits. And searching for __asm__ .symver gives me 20000+ hits and a quick cursory look of the C/C++ code seems to be fork of some glibc header or some test code (of foo/bar) over and over. It doesn't seem to be a common enough case that warrants special support in the runtime, but I'll be happy to be proven wrong :)
@janvorli Is glibc using dlvsym internall

[2017-01-03 17:21] jkotas commented on #8721
I agree that with @yizhang82 that building it into the runtime does not sound right. If somebody needs this, I think that the best way to make this work is to do it manually or via auto-generated C#. https://github.com/dotnet/roslyn/issues/11475 should make it pretty straightforward and performant.

[2017-01-03 17:50] janvorli commented on #8721
@yizhang82 you never load glibc using dlopen, it is always being linked to at the compile time. The `__asm__(.symver)` stuff is in the header files of the glibc functions, so there is no interaction with that from the library user point of view.

[2017-01-03 17:52] janvorli commented on #641
CC: @yizhang82

[2017-01-03 18:04] AndyAyersMS commented on #8772
Just to clarify: RyuJit proper doesn't have enough context to do CHA.

However, the runtime can do analyses like these on the jit's behalf, since the runtime implements the "type system" and so understands how classes and method overrides and such interrelate. And if you look at the code for [getCallInfo](https://github.com/dotnet/coreclr/blob/master/src/vm/jitinterface.cpp#L5189-L5339) in the run

[2017-01-03 20:49] mellinoe commented on #6574
Here's another instance:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_ubuntu_flow_prtest/1438/consoleText

[2017-01-03 21:09] tmds commented on #8721
@jkotas @yizhang82 Let me clarify a bit

How it works in the native world:
Step 1:
The symbol versions allow to mark the version of a library that introduces a function. When the function changes in a non-backwards compatible way, the library author will mark the function with a new version identifier. He can decide to keep supporting the old version. This symbol version information is stored in t

[2017-01-03 21:19] xoofx commented on #552
For folks following this feature, I have been working to bring back this feature with the PR #8677 on coreclr and the PR [14763 on corefx](https://github.com/dotnet/corefx/pull/14763). The current status is that it seems that the implementation is working well so far but requires a bit more stress tests to verify that we have something rock solid.

[2017-01-03 21:57] gregg-miskelly commented on #4657
@lakartoza if you are still interested in troubleshooting this -- when you were using 1.0.1, did the app start correctly?

[2017-01-03 22:04] AlexGhiondea commented on #8565
@nicolasr75 I think you are using .NET 1.1. If you want to use the newer APIs you need to update the version of `System.Runtime.Extensions' to a newer one (i.e. 4.4.0-beta-24903-02) that we publish on the dotnet.myget.org feed.

[2017-01-03 22:04] czifro opened #8790 "DllImport not finding dylib on Mac"
I was recommended by @yizhang82 to start here (originated [here](https://github.com/dotnet/core/issues/181)). I am working on a thesis project in F# that is a network protocol for ftp (which is broken up into two projects, a lib and test). I am currently trying to optimize the file write through P/Invoke on the lib project. The P/Invoke adds flags to the `open` call. Most of the code is snippets f

[2017-01-03 22:22] JohnChen0 commented on #8736
Resolved with PR #8788.

[2017-01-03 22:22] #8736 closed

[2017-01-03 22:58] jnm2 commented on #8565
Talk about a throwback. Cut my teeth on .NET 1.1 way back in 2003.

[2017-01-03 23:05] #7846 closed

[2017-01-03 23:05] cocotr commented on #8749
When I am trying to crossgen on Windows or Linux I am always getting similar error:

Error: Could not load file or assembly 'System.Runtime, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified. (Exception from HRESULT: 0x80070002)
Error compiling ConsoleApp5.dll: Could not find or load a specific file. (Exception from HRESULT: 0x80131621)
E

[2017-01-03 23:45] cocotr opened #8792 "crossgen error"
When I am trying to crossgen on Windows or Linux I am always getting similar error:

Error: Could not load file or assembly 'System.Runtime, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified. (Exception from HRESULT: 0x80070002)
Error compiling ConsoleApp5.dll: Could not find or load a specific file. (Exception from HRESULT: 0x80131621)
E

[2017-01-04 00:04] AlexGhiondea commented on #8565
I meant .NET Core 1.1 :).

[2017-01-04 00:27] janvorli commented on #8749
Can you also share the full command line you have used to invoke crossgen on your assembly?

[2017-01-04 00:42] jkotas commented on #8792
Duplicate of https://github.com/dotnet/coreclr/issues/8749

[2017-01-04 00:42] #8792 closed

[2017-01-04 00:44] #7952 closed

[2017-01-04 00:55] hseok-oh commented on #8685
@seanshpark host: x64 ubuntu 14.04 / target: arm(hardfp) linux.
But cross-architecture component will run in host linux machine.

[2017-01-04 01:23] mconnew opened #8794 "Unable to specify interface type to GetCustomAttributes"
On the full framework, WCF looks for any attributes declared on a type where the attribute type derives from IServiceBehavior. This works on the full framework, but on .Net Core an `ArgumentException` is thrown with the message "Type passed in must be derived from System.Attribute or System.Attribute itself." Here is a simple repro which runs to completion on the full framework but throws on .Net

[2017-01-04 01:27] JonHanna commented on #8661
Obsoleted in coreclr by the removal of these classes.

[2017-01-04 01:27] #8661 closed

[2017-01-04 01:32] MichaCo opened #8795 "System.Buffers' Nuget targets netstandard only; causing issues"
I'm using the System.Buffers package in one of my class libraries.
The library is targeting netstandard AND NET4.5.

For NET4.5, I have to add...

    "net45": {
      "frameworkAssemblies": {
        "System.Runtime": "4.0.0.0"
      }
    }

...to project.json to make it work, otherwise I'm getting compiler errors

Now, when I do so and consume that ClassLibrary as a Nuget from a Full Framework

[2017-01-04 04:09] parjong opened #8797 "WideCharToMultiByte failure while printing debug messages"
While x86/Linux bringup, I encountered the following assert failure (with COMPlus_JitDump='*'):
[code]

[2017-01-04 04:43] vvdimov commented on #8660
Suggestion for a short term workaround are more than welcome..

[2017-01-04 05:03] AlexGhiondea commented on #4651
@jamesqo BCL Rewriter will dump out a file containing the implementation closure based on the roots in model.xml. You can probably use that file to figure out exactly what can be removed.

[2017-01-04 05:12] jamesqo commented on #4651
@AlexGhiondea Which file is it?

[2017-01-04 08:16] mikedn commented on #7566
Why would you limit signed compare to just `<` and `>=`? The other 2 require the overflow flag and that is updated by all interesting instructions - ADD, SUB, INC, DEC, AND, OR XOR and NEG. Only multi-bit shifts do not update OF but as seen elsewhere shifts have their own problems and solutions.

[2017-01-04 13:14] DigitalRasta commented on #8782
I've installed this lib on host and inside docker: https://launchpad.net/~lttng/+archive/ubuntu/ppa/
And after these errors disappeared:
modprobe: ERROR: ../libkmod/libkmod.c:556 kmod_search_moddep() could not open moddep file '/lib/modules/4.4.0-57-generic/modules.dep.bin'
Error: Unable to load module lttng-tracer
Error: Unable to remove module lttng-tracer

But still I'm getting errors with TERM

[2017-01-04 17:08] janvorli commented on #8795
CC: @richlander

[2017-01-04 17:26] davidfowl commented on #8795
@MichaCo The answer is very complicated, suffice to say that it'll be fixed once we move back to msbuild. Here's the issue https://github.com/dotnet/cli/issues/164

[2017-01-04 17:27] agocke commented on #295
@jkotas Nice! Since we run PEVerify thousands of times in the Roslyn tests I think it would be a good test of this to run both versions of peverify during our tests and confirm that they produce the same results.

I'll try and mock up that change when I get a chance.

[2017-01-04 18:10] janvorli opened #8801 "Incorrect implementation of unsigned_abs for Unix in jit.h"
The `unsigned_abs` function in jit.h is implemented using `labs` function. However labs has 32 bit argument / result, while the unsigned_abs expects it to be 64 bit.
The correct function to use for FEATURE_PAL is `llabs`.

[2017-01-04 19:05] bartonjs commented on #8660
@agoretsky In your example, if you pass the client certs in AuthenticateAsClientAsync instead of using the LocalCertificateCallback (so make the callback null), does that work around your problem?

The callback version has to build the chain to present it to you, and that builds it with revocation checked.  (The memory leak is still seemingly there, and bad, but maybe you can avoid the code)

[2017-01-04 19:41] pgavlin commented on #7894
cc @russellhadley

[2017-01-04 19:58] sivarv commented on #8462
@mikedn - I came to the same conclusion that making this opt will not have such a great benefit based on the number of asm diffs.   This is a low priority opt to be done.

[2017-01-04 21:31] gkhanna79 commented on #6470
@gokarnm Any update here?

[2017-01-04 21:32] gkhanna79 commented on #7043
@christianhuening @matthid Can this be closed?

[2017-01-04 22:10] #8779 closed

[2017-01-04 22:35] vvdimov commented on #8660
Changed:
[code]
To:
`stream = new SslStream(client.GetStream(), false, ValidateRemoteCertificate, null);`

Result is still same: Main process exited, code=killed, status=9/KILL

[2017-01-04 22:56] gkhanna79 commented on #5769
Change are in place to rely on having reverse forwarders in the OS image.

[2017-01-04 22:56] #5769 closed

[2017-01-04 22:57] gkhanna79 commented on #919
@rahku This is now supported for NC2.0, right?

[2017-01-04 22:59] jkotas commented on #295
@agocke Sync with @OmarTawfik. He is planning to look into this as well.

The prototype is incomplete. It needs work to be a viable for Roslyn tests.

[2017-01-04 22:59] gkhanna79 commented on #5853
Platform Agnostic Linux Binaries are now available from DailyBuilds section of https://github.com/dotnet/core-setup/blob/master/README.md.

[2017-01-04 23:22] rahku commented on #919
AppDomain.GetAssemblies is now supported in NC2.0. Is that what you are looking for?

[2017-01-04 23:36] #8705 closed

[2017-01-04 23:51] gokarnm commented on #6470
Yes, the [fix](https://github.com/dotnet/coreclr/pull/6335) works correctly. Closing this issue.

[2017-01-04 23:51] #6470 closed

[2017-01-04 23:56] gkhanna79 commented on #7046
@rahku PTAL

[2017-01-05 01:05] sivarv commented on #8760
CC @dotnet/jit-contrib

[2017-01-05 01:38] janvorli commented on #8801
Fixed by #8805

[2017-01-05 01:38] #8801 closed

[2017-01-05 01:56] morganbr commented on #8772
.NET Native does this currently (at compile time). It's been shown to save some size on disk in native images and can also help the inliner. It hasn't been tested for meaningful performance improvements, but somebody interested in this could test sealed vs in-devirtualizable methods out on .NET Native.

[2017-01-05 02:02] bartonjs commented on #8660
Okay, I don't think there's a "leak", just... an unfortunate interaction of Apple's big CRL and `malloc`/`free`.

Taking my sample program and replacing main with

[code]

does not appreciably change the final RES result from it running only once.  The 900MB RES value is because `free` seems to never return partially allocated pages to the OS.  The oodles of CRL entries created lots of partial pag

[2017-01-05 03:34] seanshpark opened #8812 "[x86/Linux] jitNativeCode code difference"
While looking inside `ActionInvoke.exe` in unit tests, as it's currently fails to pass
[code]

IL shows `ActionInvoke:ActionFunction(int):this` as
[code]
and then after native code is dropped with `jitNativeCode` returns, when I dump the code, there is something different.

[code]

`System.Object:GetType():ref:this` is changed to `<ObjectNative::GetClass(int, int, Object*)>`

Do anyone know about

[2017-01-05 03:35] seanshpark commented on #8812
I've done with these steps

1) set environment
[code]
2) run gdb
[code]
3) set breakpoint and go
[code]
this sill break at IL dump debug code after it dumps
4) add break after `jitNativeCode`
[code]
and then disassemble `*methodCodePtr`  address about 40 lines with something like
[code]

[2017-01-05 03:35] seanshpark commented on #8812
CC @parjong

[2017-01-05 03:37] seanshpark commented on #8812
Maybe `System.Object:GetType():ref:this` is `ObjectNative::GetClass(int, int, Object*)` ?

[2017-01-05 04:06] #8797 closed

[2017-01-05 04:32] seanshpark commented on #8812
While tracing the codes, I think something is wrong with the MethodTable of the Object.

[2017-01-05 04:32] #8812 closed

[2017-01-05 05:35] dopare opened #8815 "[Question] How to get coreclr version from application"
I have a sample [application](https://github.com/dopare/dotnet-core-nightly) based on latest project system and `coreclr` and it uses `Environment.Version`.
Turns out that `Environment.Version` is [hardcoded](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Environment.cs#L582).
How can my application fetch `coreclr` version?
Thank you

[2017-01-05 07:14] christianhuening commented on #7043
@gkhanna79 Well my stuff is working now, so this may be closed. However I'd be glad to have better documentation for the reflection stuff once it's considerably stable.

[2017-01-05 08:08] yizhang82 commented on #8790
Hi czifro,
I couldn't repro your issue. This is what I'm seeing using CLI Preview 4:

Starting test execution, please wait...
Failed   MUDT.Test.MemoryMappedFileUnitTest.Speed Test Non Network File Transfer With No Integrity
Error Message:
 System.NullReferenceException : Object reference not set to an instance of an object.
Stack Trace:

Total tests: 1. Passed: 0. Failed: 1. Skipped: 0.
   at MUD

[2017-01-05 08:25] tmds commented on #8721
@jkotas @yizhang82 @janvorli can one of you be the api-review 'owner' of this issue?
CC @karelz

The PR (https://github.com/dotnet/coreclr/pull/8773) has a working implementation of the 'version in EntryPoint' API. Based on the discussion so far, I can change this to a DllImportAttribute.Version field API.

[2017-01-05 09:48] yaakov-h opened #8816 "Documentation contains broken link to CODE_OWNERS.txt"
The documentation page '[Contribution Workflow](https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/contributing-workflow.md)' contains a broken link to [`https://github.com/dotnet/coreclr/blob/CODE_OWNERS.TXT`](https://github.com/dotnet/coreclr/blob/CODE_OWNERS.TXT).

The correct link should be [`https://github.com/dotnet/coreclr/blob/master/CODE_OWNERS.TXT`](https://github.c

[2017-01-05 09:54] matthid commented on #7043
@gkhanna79 I'd say the bug is still there. I'm closing this as it is non-trivial to reproduce on the current version (preview4) without converting all projects. `dotnet migrate` won't work as F# is not supported so it is a lot of work....

I will re-open a new issue when I can reproduce again.

[2017-01-05 10:14] seanshpark opened #8817 "[x86/Linux] Action<Object> Invoke fail with Object"
`ActionInvoke` unit test fails inside `ActionFunction` when `obj.GetType()` is called.

Made a simple program and this also fails when `obj.GetType()` is executed.
[code]

Callstack
[code]

[2017-01-05 13:06] janvorli commented on #8817
@seanshpark Can you verify that the  ObjectNative::GetClass uses the right calling convention? This looks strange, like some historical thing.  I believe it should be defined as `__fastcall` unconditionally here, since the jitter generates the same x86 code as for windows now. As it is now, it would pass the first parameter in EAX, the second in ECX and the third in EDX.
[code]

[2017-01-05 16:52] #8816 closed

[2017-01-05 18:02] benaadams opened #8819 "[Question] Can Virtual Stub Dispatch be inlined?"
Investigation of [dispatch costs](https://github.com/benaadams/PerfTesting/tree/master/src/TypeCache)

There are 3 states for an interface callsite
[code]
For a monomorphic interface call it always goes via a stub to do dispatch; which is roughly the same cost as 2 chained direct non-inlined virtual calls:
[code]
Which is in line with the [BoTR Virtual Stub Dispatch](https://github.com/dotnet/core

[2017-01-05 18:31] mikedn commented on #7255
@CarolEidt Any plans/timeline for this? Perhaps I could help with the implementation.

[2017-01-05 18:59] benaadams commented on #1166
Raised issue for this for interface dispatch https://github.com/dotnet/coreclr/issues/8819

[2017-01-05 19:07] CarolEidt commented on #7255
@mikedn Thanks for asking! I've actually started working on this, albeit somewhat indirectly. The plan is to separate the `TreeNodeInfoInit` functionality into 1) determining which nodes are "contained", and thereby which nodes need registers, and 2) constraining the required registers. These could eventually be done in a single pre-post traversal, but I would probably start by leaving 1) in the c

[2017-01-05 19:24] mikedn commented on #7255
I was thinking that the "make contained" part could be moved from TreeNodeInfoInitX to LowerX and with register requirements setup moving to buildRefPositions TreeNodeInfoInit would simply disappear. As for representation of containment I wonder if we can't just pull contained nodes out of the linear order. Nodes having null gtNext/gtPrev would be considered contained and be reachable only through

[2017-01-05 19:26] yizhang82 commented on #8721
@tmds Based on the discussion above, at this point I don't see a strong reason for us to consider this proposal. Perhaps we should keep the proposal open and see if there are broader interest. In the future, the more likely scenario is probably to support it as part of a broader proposal that supports both library redirection and symbol redirection, and probably not in the runtime.

[2017-01-05 19:33] pgavlin commented on #7255
cc @russellhadley @sivarv

We've discussed this on and off internally. This certainly has the nice effect of more clearly representing when a contained node executes (i.e. as part of its containing node). There are a few issues with contained nodes--especially the fact that inputs to the contained nodes become inputs to the containing node--but AFAICT we already handle these issues, so they may no

[2017-01-05 19:39] mikedn commented on #7255
Hmm, right. At least they don't end up in the operand list of the container as in Phoenix :smile:.

[2017-01-05 20:34] czifro commented on #8790
@yizhang82, I did not catch this until now. The unit test is simulating a perfect file transfer by copying a file from one place on disk to another. Since it is a test it assumes the file exists. [This line](https://github.com/czifro-tech/mudt/blob/master/fsharp/test/MemoryMappedFileUnitTest.fs#L47) and the other two strings will need to be set to paths of existing files. The reason that an except

[2017-01-05 21:18] AndyAyersMS commented on #1166
As noted above the jit is generating code based on the IL it sees, which is
[code]
When the jit imports the IL it asks the runtime to resolve the call target for a `callvirt` with class `Base` and method `GetValue`. Since neither the class or the method is sealed, the runtime tells the jit to make a normal virtual call.

A local type propagation algorithm could determine that the actual type suppl

[2017-01-05 21:58] sandreenko opened #8824 "[RyuJIT/x86/Checked] ngen dump assert"
On the last build when I try to execute `coreclr\bin\tests\Windows_NT.x86.Checked\Tests\Core_Root>crossgen.exe System.Private.CoreLib.dll  with complus_ngendump=* `
I see:
[code]
x64 works fine. Looks like it is a fresh problem.

[2017-01-05 22:02] piotrpMSFT commented on #8790
@nguerrera should be able to answer the general question of how native binaries should be included by a proj file. @enricosada for any fsharp-specific caveats.

[2017-01-05 22:05] tmds commented on #8721
@yizhang82 based on your and @jkotas comments, it seems that you were not familiar with symver. @janvorli was, his first comment being

I had a look on my system what libraries are using symver: keyutils, libsepol, nss, krb5, fuse, openssl, elfutils, uuid, zlib, glibc, ...
These are all major libraries.

Linux provides two functions for finding the address of a symbol: dlsym and dlvsym. The runtim

[2017-01-05 22:10] jkotas commented on #8721
@migueldeicaza What do you think about overloading DllImport EntryPoint to contain symver version?

[2017-01-05 23:07] yizhang82 commented on #8721
@tmds This is a very good data point. Thank you.

[2017-01-05 23:28] seanshpark commented on #8817
I'm not sure how to verify so I'll show you the dump codes. Please help me if possible.
[code]

as ObjectNative::GetClass is `FCIMPL1(Object*, ObjectNative::GetClass, Object* pThis)`
and I could see these in fcall.h
[code]
pThis maybe first stack value?

When I continue and stops at SIGSEGV, EDX(or ECX) seems to be the Object* value.
[code]
and this $2 doesn't seem to be a valid MethodTable*.

[2017-01-05 23:44] seanshpark commented on #8817
I think this is the code of the above `Test()`. It seems ECX is the `obj`
[code]

[2017-01-05 23:58] gafter commented on #1712
Ping. Just a reminder that the front ends [need this to produce correct code](https://github.com/dotnet/roslyn/issues/3711), and would be happy to work with you at your earliest convenience to get this addressed.

[2017-01-05 23:58] czifro commented on #8790
I modified the test to allow user input to specify the input file and an output file for easier reproducibility. I noticed though that the prompts do not appear until after the input is entered, test runner may be at fault for that. I do recommend fetching latest commit.

[2017-01-05 23:59] gkhanna79 commented on #1712
@rahku Can you please look into this and determine the next steps?

[2017-01-06 00:25] janvorli commented on #8817
I believe I was right. Looking at the code of ObjectNative::GetClass, it passes the value it got in ECX from its callee to the OBJECTREF::OBJECTREF. But the calling convention of the jitter is that it passes the third argument via stack.
Can you please try to change the F_CALL_CONV definition to be always __fastcall and try if it fixes the issue? I believe it will fix it.

[2017-01-06 00:40] seanshpark commented on #8817
With this change, (is this the one you are thinking of?)
[code]
If fails in strange place
[code]

[2017-01-06 00:54] janvorli commented on #8817
Ah, actually, you'll also need to use the same definitions of FCDECL0 etc that are used on Windows. Can you please give it a try?

[2017-01-06 01:02] janvorli commented on #8817
And the same is actually needed for the block of FCIMPL0 defines futher in the file

[2017-01-06 01:04] janvorli commented on #8817
And HCIMP0 etc even futher

[2017-01-06 01:11] janvorli commented on #8817
Hmm I've tried that and there are some build issues. So it seems we should go back to the original code. In fact, @jkotas has just explained to me why was it made different for GNUC. In the past, long time before coreclr, we were using GCC. And GCC doesn't support the __fastcall keyword. So this __attribute__((stdcall, regparm(3))) together with the macros that swap the order of function arguments

[2017-01-06 01:15] janvorli commented on #8817
Looking at your disassembly again, so Object* really comes in the ECX and the function expects it there, as can be seen from the disassembly:
[code]

[2017-01-06 01:17] seanshpark commented on #8817
I've tried it with change `__GNUC__` to `__GNUC__xx` in the fcall.h and a little change in `FCSigCheck` for the build issues you mentioned. But unluckly the result was the same.
I'll go on from the `Test()` method and see where it alters the `Object` value.

[2017-01-06 05:07] seanshpark commented on #8817
I've changed to `Test()` to have Object like this to see the obj value.
[code]
and while tracing in assembly codes, `CILJit::compileMethod` drops a sub looking like this for `actionDelegate.Invoke(obj);` call
[code]

Here, parameters are changed to something like this
[code]
where MethodDesc* dump is,
[code]

After it jumps at `0xb24b959a:  call   *%eax` to `0xb24b9080` , related information looks

[2017-01-06 07:03] seanshpark commented on #8817
Just tried this and passes my simple test program and also for Positive for `ActionInvoke.exe` but fails in Negative. I think negative is cause of exception is currently undo development.
[code]

Changes
[code]

[2017-01-06 08:31] tmds commented on #6283
@adityamandaleeka is there a bug report at bugzilla.redhat.com for this issue?

[2017-01-06 09:42] draganjovanovic1 commented on #7535
I have made a test for both C# and F#. C# debugging works for my code as expected. The problem is with F#, it won't load symbols even my pdb file is present. I have even tried specifying "symbolPath" in launch.json but no effect.

A repo with the example is here https://github.com/draganjovanovic1/vs-code-debug-test

### C#

Loaded '/usr/local/share/dotnet/shared/Microsoft.NETCore.App/1.1.0/System

[2017-01-06 10:06] janvorli commented on #8817
I have looked into it a bit and it is actually a bit more complex. The rule for the generic context (hidden arg) position is as follows:
* If the actual function has 0 arguments (including this), the hiddenArg goes to ECX (the first argument register)
* If the actual function has 1 argument (including this), the hiddenArg goes to EDX (the second argument register)
* otherwise it is the last stack

[2017-01-06 10:07] janvorli commented on #8817
Actually, it would be better to use NUM_ARGUMENT_REGISTERS instead of the hardcoded 2 here.

[2017-01-06 10:13] janvorli commented on #8817
@jkotas this is not described in the https://github.com/dotnet/coreclr/blob/master/Documentation/botr/clr-abi.md, I have found it by looking at the code that generates the instantiating stub with the FEATURE_STUBS_AS_IL not defined. So I'd like to update the document, but I wanted to check with you that I am not missing some detail.

[2017-01-06 11:53] mikedn commented on #8824
Likely broken by #8207. `identifyCandidates` is supposed to initialize `resolutionCandidateVars` but it doesn't do so if `lvaCount` is 0. When `dumpConvertedVarSet` tries to enumerate it the set sometimes happen to have set bits (0xFFFFFFFF usually) but there are no lclvars so the assert fires. As far as I can tell there may be other code (`buildIntervals` at least) that uses the set even if `lvaC

[2017-01-06 13:20] maartenmensink commented on #4332
I have been trying to get the coreclr build prerequisites installed on raspberry pi 3 following https://github.com/dotnet/coreclr/blob/master/Documentation/building/cross-building.md but i hit a issues when trying to install `sudo apt-get install binutils-aarch64-linux-gnu`

i get the following error `E: Unable to locate package binutils-aarch64-linux-gnu` after some googling i am unable to find i

[2017-01-06 14:49] nicolasr75 commented on #8565
@AlexGhiondea Sorry to bother you again but I still cannot get this to run. My current project.json is like this:

	{
	  "name:": "ConsoleTest",
	  "version": "1.0.0-*",
	  "buildOptions": {
		"debugType": "portable",
		"emitEntryPoint": true
	  },
	  "dependencies": {},
	  "frameworks": {
		"netcoreapp1.2": {
		  "dependencies": {
			"Microsoft.NETCore.App": {
			  "type": "platform",
			  "versi

[2017-01-06 14:55] GeorchW opened #8828 "Struct getters are generating unneccessary instructions on x64"
Hi folks,

I hope I'm writing this in the right area. I was comparing the JIT outputs of properties vs. fields, to see whether I should avoid auto-properties in high-performance code. Now, I've managed to create an example where the exact same data embedded in a struct creates different output than just using a primitive type. To be exact, it looks like the entire struct is copied once more than n

[2017-01-06 15:18] janvorli commented on #4332
@maartenmensink - you are running 32 bit linux on the Pi3 (see the armv7l, 64 bit would be armv8) . The aarch64 should be used only in the case you were running 64 bit Linux. The fact that the processor is 64 bit doesn't mean the OS needs to be 64 bit and the Raspian and other distros recommended at the raspberry site are all 32 bit ones.

[2017-01-06 15:27] jkotas commented on #8817
I agree that it would be nice to update to update the document. I think you got it right.

This convention for the location of the instantiating arg on x86 is specially crafted to make `StubLinkerCPU::EmitInstantiatingMethodStub` tailcall stub in all cases, different from other platforms.

[2017-01-06 15:29] mikedn commented on #8828
Yep, accessing a field via a property naturally results in a temporary copy and the JIT can't always eliminate that. See #1161 as well.

[2017-01-06 17:21] adiaaida commented on #8824
Confirmed that @CarolEidt introduced this.

[2017-01-06 17:55] adityamandaleeka commented on #6222
Do we now understand why this was occurring and what fixed it? If so, I guess this issue can be closed.

[2017-01-06 18:01] adityamandaleeka commented on #6283
@tmds Yes, the bug number for the report I opened is 1374548.

[2017-01-06 19:10] gokarnm commented on #7812
@gkhanna79 , any updates on this?

[2017-01-06 19:22] CarolEidt commented on #8824
Yes, sorry - I noticed this working on another change, and put a fix in with that change, but as that's not yet ready I will make this change separately.

[2017-01-06 20:04] dagood commented on #6574
Another instance:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_ubuntu_tst_prtest/1418/testReport/junit/GC.Scenarios.DoublinkList/doublinkgen/doublinkgen/

[2017-01-06 20:18] czifro commented on #8790
I just wanted to add that I tried moving the dylibs to `/usr/include` since the lib used [here](https://github.com/dotnet/corefx/blob/79d44f202e4b6d000ca6c6885a24549a55db38f1/src/System.Console/src/Interop/Interop.manual.Unix.cs) is located there. That did not work though.

@nguerrera @enricosada I changed the way tests are executed. to run the test in question do `dotnet run -- 3.2`.

[2017-01-06 20:35] swgillespie commented on #6574
And another: https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_ubuntu_flow_prtest/1543/

[2017-01-06 21:30] sivarv opened #8837 "RyuJIT in-lining policy: factor in the benefit of eliminating an address exposed obj-ref local"
Consider the following methods and call chain from BinaryTrees benchmark.

[code]

Legacy inlining policy inlines bottomUpTree() in Main() but considers not profitable to in-line ChildTreeNodes().  As a result, Main() methods ends up with an addr exposed local, which is updated by ChildTreeNode() using a writebarrier since it cannot reason about its out-param.  Further the addr-exposed local is po

[2017-01-06 22:18] AtsushiKan commented on #8794
It looks like the desktop has a mismatch in behavior between

    MemberInfo.GetCustomAttributes(attributeType, inherit)  (accepts interface on desktop)

  and

    CustomAttributeExtensions.GetCustomAttributes(this memberInfo, attributeType, inherit) (does NOT accept interface on desktop.)

That was probably an oversight since CustomAttributeExtensions was supposed to emulate the MemberInfo versi

[2017-01-06 23:47] adiaaida opened #8838 "RyuJIT/x86: Investigate SeekUnroll Failure"
In release x86 builds, we seem to have a silent bad codegen in SeekUnroll:

To repro:

build x86 release
<coreclr_root>bin\tests\Windows_NT.x86.Release\JIT\Performance\CodeQuality\SIMD\SeekUnroll\SeekUnroll\SeekUnroll.cmd

[code]