[2017-04-23 02:08] fujiy commented on #10890
@tannergooding have you installed VS2015 in that computer?

[2017-04-23 05:04] jnm2 commented on #10890
I have the exact same problem running the build from the VS2017 prompt on a brand new Windows install without VS2015 that I did on a machine with VS2015.

[2017-04-23 08:36] benaadams commented on #11156
Removes the `try` and EC switching, inline all that can be and is a little faster again but no where near the 10 fold difference by doing a completion check

[2017-04-23 09:53] NikkyAI commented on #11005
http://nikky.moe/alpacka/trace.log.txt
crash is at the bottom

[2017-04-23 10:57] juergenpf opened #11159 "Doesn't build with clang/llvm 4.0"
Using the clang/llvm 4.0 toolchain I'm getting build errors from pal.h, complaining about defining builtin functions _rotl, _rotr etc.

[2017-04-23 14:25] benaadams commented on #11156
Dropping the EC switching; and try finally as it was suggested that might be the main cost https://github.com/dotnet/roslyn/issues/10449#issuecomment-212026114 and inlining everything for one section (`AsyncTaskMethodBuilder`1:Start(byref):this` doesn't want to inline even with aggressive)

It seems the main cost is memory traffic?
[code]
[code]

[code]

[2017-04-23 14:29] benaadams commented on #11156
C# for above
[code]

[2017-04-23 14:39] benaadams commented on #11156
Adding a manual split with an inner function brings it more or less on par with the sync version (10-fold increase)
[code]

[2017-04-23 14:40] benaadams commented on #11156
With the following asm
[code]

[2017-04-23 14:59] benaadams commented on #11156
Statemachine captures
![](https://aoa.blob.core.windows.net/aspnet/statemachine.png)

[2017-04-23 17:34] davidfowl commented on #11005
In both cases it looks like the host picked the right folder from the output:

[code]

So it may not be a host problem.

[2017-04-23 18:33] davidfowl commented on #11005
Are you sure libgit2 works on centos?

[2017-04-23 19:59] benaadams commented on #11156
il for pre-start
[code]
and asm
[code]

[2017-04-23 20:35] #11106 closed

[2017-04-23 21:31] mattnischan opened #11162 "TypeBuilder.CreateTypeInfo() throws COMException instead of a more descriptive managed exception"
With the following code:

[code]

The last line correctly throws, in that the runtime doesn't support a ByRef field. However, it throws a `System.Runtime.InteropServices.COMException`. As far as I can see, there aren't any try/catch blocks around the QCalls into the CLR, so this exception is actually bubbling up through the invoke.

Seems like we should be returning some kind of better named and/o

[2017-04-23 21:37] mattnischan commented on #11162
Whoops, meant for the corefx repo.

[2017-04-23 21:37] #11162 closed

[2017-04-23 21:40] mattnischan commented on #11162
https://github.com/dotnet/corefx/issues/18790

[2017-04-23 23:21] seanshpark commented on #11122
Thank you for the explanation. 192K also fails and 384K also but didn't check the number that was working. We'll check the cousin in the outter loop.

[2017-04-23 23:29] parjong commented on #11069
\CC @hqueue @hseok-oh @jyoungyun

[2017-04-24 00:18] fanoI commented on #2426
I do not think that C# should add all "no sense" types of C / C++ long that is 32 or 64 bit "at random", long long (how a thing could be more "long" than "long"), if not we will need soon "native char" (UTF-8 or UTF-16 based on the platform?).

Why this mess cannot solved using marshalling attributes? Without adding types that make no sense in the clean C# type system?

[2017-04-24 01:43] OtherCrashOverride commented on #2426
There is nothing "random" about it.  It is a real world issue faced by real developers.

An attribute can not solve the issue anymore than it could solve the issue for IntPtr.  Its need is exactly the same as IntPtr.  Windows is the only platform where an IntPtr can not be used to express "native long".

[2017-04-24 02:13] parjong commented on #11122
@JonHanna It turns out that the corresponding outerloop test also fails with the same reason (stack overflow) if debug binary is used. This issue does not happen for checked binary.

Is it possible to add some trait that allows us to exclude this test for debug build? We could not use checked binary as checked binary is not stable yet.

[2017-04-24 04:56] seanshpark commented on #11122
I've also tested and the results are
- Debug CoreCLR + CompileDeepTree_NoStackOverflow : Pass
- Checked CoreCLR + CompileDeepTree_NoStackOverflow : Pass
- Debug CoreCLR + CompileDeepTree_NoStackOverflowFast : Fail
- Checked CoreCLR + CompileDeepTree_NoStackOverflowFast : Pass

[2017-04-24 07:21] sjsinju opened #11168 "[RyuJIT/ARM32] Storing the struct in ARM32 and ARM64/x64 are represented differently"
In this test code
[code]
' st2 = st1; ' are represented differently in rationalization phase.
On ARM32,
[code]
[code]

On X64/ARM64
[code]
[code]
They are represented by storeObj and storeBlk, respectively.

[x64_dump.txt](https://github.com/dotnet/coreclr/files/950673/x64_dump.txt)
[arm_dump.txt](https://github.com/dotnet/coreclr/files/950674/arm_dump.txt)

[2017-04-24 08:54] janvorli commented on #11154
This is a known problem due to a bug in the Linux kernel related to transparent huge pages. There is nothing wrong with the JIT itself. The Linux kernel guys have looked into it and fixed the issue. The issue https://github.com/dotnet/corefx/issues/9416 have some details.
The workaround is to disable transparent huge pages. @adityamandaleeka can you please share how to disable the transparent huge

[2017-04-24 09:05] JonHanna commented on #11122
If the outerloop test is failing, I'm rather worried that it might be an actual bug in `TryEnsureSufficientExecutionStack` or that it isn't sensitive enough an we can expect other uses of it to have a similar problem. Though @seanshpark found differently to you, which is curious in itself.

We could of course wrap it in `#if !DEBUG`, but someone else may know of a trait that's applicable.

[2017-04-24 09:43] wateret commented on #11101
@janvorli I further looked into `eetwain.cpp` and I found part that looks strange. [Here](https://github.com/dotnet/coreclr/blob/1e33123db8781f5d779ca992ef8f4b672a7d4533/src/vm/eetwain.cpp#L566-L629) is the code that is only for non-WIN64EXCEPTION since #8913. Without that code we have value of `hasInnerFilter` and `hadInnerFilter` always false.

cc: @jkotas

[2017-04-24 10:27] parjong commented on #11122
@JonHanna Could you let me know why this test uses ``128kB`` as a limit?  As @janvorli mentioned in https://github.com/dotnet/coreclr/issues/11122#issuecomment-296169837, ``TryEnsureSufficientExecutionStack`` returns true if the remaining stack size is 64kB for 32-bit architecture instead of 128kB.

[2017-04-24 11:15] danwalmsley opened #11170 "Locating Native DLL (PInvoke) behaves differently on Win7 and Win10"
When I run my application on (netcoreapp2.0) windows 10 everything works fine, as soon as I move to windows 7, the exact same files (publish win7-x64) I get a dll not found exception.

Seems that the way it looks for dlls is different depending on the OS?

I have binaries that can be used to test available here:
https://ci.appveyor.com/api/projects/danwalmsley/AvalonStudio/artifacts/artifacts/zip/

[2017-04-24 11:20] NikkyAI commented on #11005
actually i am not sure.. there is libgit2 packages for centos, and libgit2 boasts being 100% cross platform
https://libgit2.github.com/  https://pkgs.org/download/libgit2
also they list their compatability to be with any Linux on amd64 https://github.com/libgit2/libgit2sharp.nativebinaries#libgit2sharpnativebinaries

[2017-04-24 11:29] danwalmsley commented on #11170
This looks like it might actually be:
https://github.com/mono/SkiaSharp/issues/264

[2017-04-24 12:00] janvorli commented on #11101
@wateret since we don't have those shadow slots on x86 Linux, we would need to use a different mechanism to lookup the same information. It seems that ExceptionTracker chain could be able to provide us with what we need, since for each nested exception, it stores its SP among other details.
However, there was recently a similar issue in the CoreRT project and the pending change to fix that is to s

[2017-04-24 12:48] directhex opened #11171 "Please add Debian 9 (testing) to build matrix"
Debian recently broke its OpenSSL ABI, and as a result, Debian 8 binaries which use OpenSSL don't work on Debian 9. See https://anonscm.debian.org/viewvc/pkg-openssl/openssl/trunk/debian/changelog?revision=747&view=markup

As a result, it's not possible to run .NET Core builds on Debian Testing/Unstable right now, as they depend on `libssl.so.1.0.0` and Debian only contains `libssl.so.1.0.2`

[2017-04-24 12:50] masonwheeler commented on #10997
@cydhaselton That helped.  But after doing that, I got the script to execute correctly, and it said to execute a series of commands. (Why the script didn't execute them itself, as that's kind of the entire point of having a script, is beyond me!)  Doing so led to further errors:

[code]

Any idea what this means?

[2017-04-24 13:00] hqueue commented on #11069
Yes, it's related to emulator.

At first, we try to filter out tests which are unstable in emulation environment, but it seems to be  totally random regardless test suites.

One of candidate solution, which is not neat, could be re-trying `runtest.sh` inside CI with same overlay once more when test fails at the first try. I think we can reduce failure frequency of emulator greatly, although it's n

[2017-04-24 13:06] cydhaselton commented on #10997
@masonwheeler None of the cross-build scripts run automatically; the Android cross-build just happens to print the ./build.sh params.

Regarding the errors, comment out https://github.com/cydhaselton/coreclr/blob/android-nuget-pkg/compileoptions.cmake#L27 as a workaround

[2017-04-24 13:16] masonwheeler commented on #10997
@cydhaselton Well that went better, but I still got the error above:

    use of undeclared identifier 'u_strncpy'; did you mean 'strncpy'?

[2017-04-24 13:27] masonwheeler commented on #10997
(Obviously the suggestion is wrong.  I'm not a big C developer but even I know `strncpy` is hugely problematic.)

[2017-04-24 14:12] ViktorHofer commented on #10920
ping @ramarag

[2017-04-24 14:18] mmayr-at opened #11173 "Profiling API and IL code verification"
With the profiling API one can rewrite IL code with the `ICorProfilerInfo::SetILFunctionBody` method at runtime. I am using this to dynamically generate IL code to instrument methods of certain types including types in `mscorlib`. I'm looking now for a way to verify the dynamically generated IL code.

I know that [PEVerify](https://msdn.microsoft.com/en-us/library/62bwd2yd(v=vs.110).aspx) can be u

[2017-04-24 14:25] Tragetaschen opened #11174 "Support building with FEATURE_EVENT_TRACE=0"
#10406 and #10961 introduced event tracing for ARM with the option (as far as I understand) to not compile it in.

Right now, the NuGet packaging fails with `cmakeargs -DFEATURE_EVENT_TRACE=0`, because it [still expects the generated `libcoreclrtraceptprovider.so`](https://github.com/dotnet/coreclr/blob/master/src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/runtime.Linux.Microsoft.NETCore.Runtime.Cor

[2017-04-24 14:54] jabbera commented on #10088
Looks good! Thanks!

[2017-04-24 14:59] jabbera commented on #10088
This is still an issue. The installer is saying 1.0.3 though:

![image](https://cloud.githubusercontent.com/assets/301208/25343470/2421e874-28dd-11e7-8c6d-891311347515.png)

[2017-04-24 15:22] tannergooding commented on #10890
@fujiy, I valided on machines with the following configurations:
* VS2012 + VS2013 + VS2015 + VS2017
* VS2013 + VS2015 + VS2017
* VS2015 + VS2017
* VS2017

[2017-04-24 15:29] sdmaclea opened #11175 "[Arm32/Unix] 64K page size is not supported"
During review of support for 64K pages for Arm64, I realized there is one configuration where it is possible to run arm32 with 64K pages.

[code]

I believe that some code will need to be modified if CoreCLR wants to support this configuration.

Otherwise this may just want to be documented as an unsupported configuration.

[2017-04-24 15:37] sdmaclea commented on #11175
@jkotas @BruceForstall FYI.  I will not be working on this.

[2017-04-24 15:47] tmds commented on #10690
For memory, it seems everything is implemented to use the cgroup limits. This is handled in the gc code, GlobalMemoryStatusEx is not cgroup aware.

[2017-04-24 15:47] vancem commented on #11156
I wanted to comment on the original question (about the try-finally in AsyncMethodBuilder inhibiting inlineing).   (I realize there is this other issue with quick checks that seems to be much bigger (but also roughly unrelated),   My comment only applies if after resolving that we still care about the question of inlining AsyncMethodBuilder.

While solving it by allowing the JIT to inline things w

[2017-04-24 15:48] #11128 closed

[2017-04-24 15:58] BenjiZombie commented on #803
Is there any updates on this, especially porting to SmartOS native zones? What are the stopers? I'd like to help.

[2017-04-24 16:22] tarekgh commented on #11119
@billwert do you agree keeping the current behavior in coreclr or you still think we have to apply desktop behavior?

[2017-04-24 16:36] benaadams commented on #11156
ValueTask's custom builder uses AMB to achieve the correct EC semantics; which then the C# compiler builds its tasklike statemachine with; when again the finally is irrelevant.

Issue would arise if the statemachine was manually built (rather than via compiler so MoveNext didn't always catch) and AMB was used to achieve some behvaiour. However, you'd have to be violating the async contract - where

[2017-04-24 16:43] sdmaclea opened #11177 "[GC] static analysis tools tend to complain when you mix new [] and delete. Fix it."
@jkotas @Maoni0 Per discussion in #10981.

This will probably be at least partially be addressed as part of #10800

[2017-04-24 16:48] benaadams commented on #11156
Actually the [Threadpool handling of EC](https://github.com/dotnet/coreclr/pull/11100) should always guard against that

[2017-04-24 16:52] bording commented on #11005
FYI this isn't a CoreCLR problem. The current versions of the .so files shipped in the `LibGit2Sharp.NativeBinaries` package are built against Ubuntu 12.04, so that's why they don't work on CentOS.

Once LibGit2Sharp officially supports .NET Core, my plan is to ship more binaries in the package.

[2017-04-24 16:56] gbalykov commented on #11076
@jkotas,

To clarify out concerns, here is the place in source code, where caller is required to call via slot for compact entry points.

At the end of MethodDesc::TryGetMultiCallableAddrOfCode function:

[code]

It is said in documentation (in the Book of the Runtime, Method Descriptor chapter), that raw speed difference between compact entry points and entry points implemented using StubPrecode

[2017-04-24 16:59] davidfowl commented on #11005
Thanks for the confirmation!

[2017-04-24 17:00] gkhanna79 commented on #10088
@rakeshsinghranchi @vivmishra I believe this is fixed for 1.0.5, right?

[2017-04-24 17:06] rakeshsinghranchi commented on #10088
Yes, UAC issue does not repro for 1.1.2 or 1.0.5. Testing was done against daily build from https://github.com/dotnet/core-setup .

[2017-04-24 17:07] gkhanna79 commented on #7043
Glad to know you got it resolved :)

[2017-04-24 17:08] NikkyAI commented on #11005
guess that means this is resolved.. should be closeed i guess ?

[2017-04-24 17:08] #11005 closed

[2017-04-24 17:09] jkotas commented on #11076
The simplest microbenchmark to measure it is:

[code]

The measure it with and without `HAS_COMPACT_ENTRYPOINTS`.

[2017-04-24 17:13] gkhanna79 commented on #10088
Thanks for the confirmation @rakeshsinghranchi.

@jabbera do you have a repro of the crash with 1.0.4 that you can share?

[2017-04-24 17:15] jnm2 commented on #10890
@tannergooding This is frustrating. I'm loathe to install VS2015 on my new builds of Windows, so I have to remote to the machine that has it in order to build coreclr. What can we do to facilitate a fix to allow building from the VS2017 prompt?

[2017-04-24 17:19] gkhanna79 commented on #10890
@tannergooding Didn't you confirm that repo built clean from within VS 2017 prompt?

[2017-04-24 17:21] gbalykov commented on #11076
@jkotas,

Thank you very much!

[2017-04-24 17:22] tannergooding commented on #10890
@jnm2, that's the thing. I can successfully build on VS2017 standalone (Community, Professional, or Enterprise) without any issues (both from clean machines and from existing machines with other VS instances). So I am unsure what is blocking your machine from doing the same.

The only difference I've seen in the logs is that your path is somehow resolving to have `\/` instead of just `/` ( you hav

[2017-04-24 17:27] jnm2 commented on #10890
@tannergooding Running the failing command gives the original error. Running the command you corrected gives:

[code]

Guess I'll post a diagnostic log next.

[2017-04-24 17:31] jnm2 commented on #10890
@tannergooding Adding `/v:diag` to either command has no effect on the output. <code>C:\Users\jmusser\Source\Repos\coreclr\Tools\msbuild.cmd **/v:diag** /nologo /verbosity:minimal /clp:Summary /maxcpucount /nodeReuse:false /l:BinClashLogger,Tools\net46\Microsoft.DotNet.Build.Tasks.dll;LogFile=binclash.log C:\Users\jmusser\Source\Repos\coreclr\build.proj /p:__BuildType=Debug /p:__BuildArch=x64 /p:_

[2017-04-24 17:31] tannergooding commented on #10890
@jnm2, are you running commands from the repository root (looks like `C:\Users\jmusser\Source\Repos\coreclr` in your case)?

I'm actually wondering if this is a similar issue to `https://github.com/dotnet/corefx/pull/18700`, commands would fail if the repository root was not your working directory.

[2017-04-24 17:31] jnm2 commented on #10890
@tannergooding Um duh, didn't spot the other arg.

[2017-04-24 17:32] mikeharder commented on #11154
Thanks, we will disable transparent huge pages by adding "transparent_hugepage=never" to the kernel command line.

https://access.redhat.com/solutions/46111

[2017-04-24 17:32] jnm2 commented on #10890
@tannergooding I have been, but for that command I cd'd to \Tools. I'll try from the root.

[2017-04-24 17:33] jnm2 commented on #10890
@tannergooding I have been, but for that command I cd'd to \Tools. I'll try from the root.

Ah, the corrected command succeeded from the root.

[2017-04-24 17:35] jnm2 commented on #10890
@tannergooding Both commands succeed when the working directory is the repo root. However, I have never run `/build.cmd` itself except from the repo root. https://github.com/dotnet/corefx/pull/18700 looks likely.

[2017-04-24 17:36] tannergooding commented on #10890
Awesome.

@gkhanna79, It looks like there are two parts to a fix here:
1. CoreCLR needs a fix similar to https://github.com/dotnet/corefx/pull/18700 so that users can build from any working directory
2. Whatever parses the `config.json` should probably attempt to fully resolve the path and do so with regards to the repository root (this would result in full paths being passed in everywhere)

[2017-04-24 17:40] MattGal commented on #11142
You're correct, the Jenkins VMs have twice as much memory.  I'm surprised that 7 GB is not enough, though.

Helix uses:
Standard_D2_v2 (7 GB RAM)
Jenkins uses:
Standard_D3_v2 (14 GB RAM)
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-general  (for reference)

[2017-04-24 17:41] jabbera commented on #10088
Still happening on just a dotnet new. I have a dump file if you want to provide and email address I can share it.

00000025`470fe460 00007ff9`bec90993 KERNELBASE!RaiseException+0x68
00000025`470fe540 00007ff9`bebec60e coreclr!WinMDInternalImportRO::Release+0x9ad83
00000025`470fe590 00007ff9`f8ea83b4 coreclr!TheUMEntryPrestub+0x3e
00000025`470fe600 00007ff9`f8ea6468 winhttp!HTTP_USER_REQUEST::_Indi

[2017-04-24 17:49] gkhanna79 commented on #10088
What is the version of Windows?

[2017-04-24 17:52] jabbera commented on #10088
Windows 10 1607

[2017-04-24 17:54] gkhanna79 commented on #10088
@ramarag PTAL

[2017-04-24 18:06] josteink commented on #803
@BenjiZombie I think the main thing lacking is a concentrated effort, and preferably a team effort.

While getting CoreCLR building probably won't be too hard (it's mostly native stuff and thus no circular dependencies).

Where you're bound to hit a few tough learning-curves is with getting CoreFX built for your platform of choice. Since .NET Core transitioned over to being self-bootstrapped, gett

[2017-04-24 18:25] swgillespie opened #11179 "CoreRun assert when given unexpected paths"
[code]

[2017-04-24 18:31] benaadams commented on #11156
Actually the [Threadpool handling of EC](https://github.com/dotnet/coreclr/pull/11100) should always guard against that.

Also user code is always wrapped by a compiler generated statemachine [via an `await`](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCore.Server.Kestrel.Core/Internal/Http/FrameOfT.cs#L102-L104).

[2017-04-24 18:38] ramarag commented on #10088
@jabbera please provide the full repro steps. meanwhile can you share the crash dump on a file share ?

[2017-04-24 18:40] fujiy commented on #10890
Now I can build CoreFX.

I'm not sure why, since I always built from the repository directory. Is VS Developer CMD changing the working directory?

[2017-04-24 18:49] jnm2 commented on #10890
@fujiy I think because dotnet/corefx#18700 was merged four days ago?

[2017-04-24 18:52] fujiy commented on #10890
Yes, as @tannergooding said, we need a similar fix for CoreClr.

What doesn't make sense yet is that I was building from repository directory, It seems that VS 2017 Developer CMD is changing the working directory

[2017-04-24 18:54] jabbera commented on #10088
@ramarag The repro is
'
set DOTNET_CLI_TELEMETRY_OPTOUT=0
dotnet new
'
This crashes about every other time with the callstack above. Dump here: https://drive.google.com/file/d/0B9KmYWNS7tQ2ei0yT0ZnYkMzWWs/view?usp=sharing

[2017-04-24 18:58] fujiy commented on #10890
I'm doing some tests and will try to send a fix

[2017-04-24 19:04] #11137 closed

[2017-04-24 19:21] sdmaclea opened #11181 "[Arm64] BACK_TO_BACK_JUMP_ALLOCATE_SIZE == 12 Assertion firing"
Affects

Interop.NativeCallable.NativeCallableTest.NativeCallableTest.sh
JIT.Methodical.dynamic_methods.bug_445388.bug_445388.sh
JIT.Performance.CodeQuality.Serialization.Deserialize.Deserialize.sh
JIT.Performance.CodeQuality.Serialization.Serialize.Serialize.sh

corerun NativeCallableTest.exe
[code]

[2017-04-24 19:21] sdmaclea commented on #11181
@briansull Looks related to #9160

[2017-04-24 19:48] sdmaclea opened #11184 "[Arm64] JIT.Generics.Coverage.chaos56200037cs_o.chaos56200037cs_o.sh Segfault"
Intermittent? SegFault when running chaos56200037cs_o

[2017-04-24 19:49] sdmaclea commented on #11184
This had been passing fairly regularly on tip.  My most recent run showed a segmentation fault.

cc @dotnet/arm64-contrib

[2017-04-24 19:58] sandreenko commented on #11142
The test needs 3GB of RAM. And 2.7GB are consumed by LSRA.
I think it should become better when #7255 will be done.

[2017-04-24 20:45] sdmaclea commented on #11141
Here is the ngendump from Microsoft.VisualBasic.CompilerServices.Utils:CopyArray.
[Microsoft.VisualBasic.ngen.dump.zip](https://github.com/dotnet/coreclr/files/953077/Microsoft.VisualBasic.ngen.dump.zip)

I am not an expert, but the register allocation looks wide open.  When running in the debugger the failing node appeared to be asking for X8 which appears wide open.

@pgavlin @CarolEidt PTAL sin

[2017-04-24 21:09] swgillespie commented on #11179
This only repros for me on checked builds.

[2017-04-24 21:28] #11105 closed

[2017-04-24 22:14] parjong commented on #11174
@Tragetaschen You may skip nuget packaging via skipnuget option if nuget packages are not necessary.

[2017-04-24 22:23] danmosemsft commented on #11119
@billwert and I talked at length offline: I believe we are comfortable with leaving this as-is given it was sufficiently broken for us to write an MDA and document the pitfall. Before I close though @stephentoub do you have any reservations?

[2017-04-24 22:27] danmosemsft commented on #10646
@gkhanna79 I think it might be better if one of your devs took a look given we rarely venture into the VM side..

[2017-04-24 22:28] danmosemsft commented on #9215
@mattwarren assigned. ..!

[2017-04-24 23:00] CarolEidt commented on #11141
I'm looking into this. Just from looking at the dump, I see an issue with the following node:
[code]
Its parent (consuming) node wants the result in x3. This node (the multiply) requires an internal register that is distinct from its target. This is indicated by setting the `isInternalRegDelayFree` field on the `gtLsraInfo`. However, this is not working correctly because it has allocated x3 to the

[2017-04-24 23:40] janvorli commented on #10918
@gkhanna79 I am working on a fix.

[2017-04-24 23:44] AndyAyersMS opened #11189 "JIT: consider inlining synchronized methods"
Synchronized methods aren't inlined currently, even with the aggressive inlining attribute. This may end up causing performance surprises.

[2017-04-24 23:50] CarolEidt commented on #11141
@sdmaclea can you help me figure out how to repro this? I've never crossgen'd anything other than System.Private.CoreLib and I'm not sure that I am 1) using the correct Microsoft.VisualBasic.dll or 2) getting the dependencies right.
It's failing with:
[code]

[2017-04-25 00:00] swgillespie commented on #4093
cc @sergiy-k @Maoni0

I took a look at this in-depth today and I can consistently reproduce the test failure by using a debugger to set up this sequence of events:

1. A GC occurs (in this case, the test calls `GC.Collect()`
2. GC calls `GCToEEInterface::EnableFinalization`, waking up the finalizer thread
3. Finalizer thread begins running finalizers asynchronously
4. At the same time, main thread

[2017-04-25 00:09] parjong commented on #11101
@wateret Is [this code](https://github.com/dotnet/coreclr/blob/1e33123db8781f5d779ca992ef8f4b672a7d4533/src/vm/eetwain.cpp#L5008-L5016) related with what you need? As I underatnd, there are no inner filters in funclet-based EH (aka WIN64EXCEPTIONS in EE). All the filters are extracted as a separated funclet.

[2017-04-25 00:09] AndyAyersMS commented on #10047
Assert will no longer fire in this case, but we might want to revisit this down the road.

So moving to future and keeping it open.

[2017-04-25 00:14] seanshpark commented on #11122
Sorry for the wrong report. I'v retested with debug version from latest master and both fails.
- Debug CoreCLR + CompileDeepTree_NoStackOverflow : Fail
- Debug CoreCLR + CompileDeepTree_NoStackOverflowFast : Fail

[2017-04-25 00:17] sandreenko commented on #11142
Actually there is a bad memory allocations in lsra that is easy to fix.

[2017-04-25 00:23] JonHanna commented on #11122
Well the idea of the "fast" one is to have a small stack so that it quickly risks stack overflow, but TryEnsureSufficientExecutionStack saves the day and it doesn't happen. Clearly not the actual result. The "slow" one does the same thing with a more normal stack. If only the fast failed I might give it up as overly artificial, but the slow is triggering conditions that were causing users problems

[2017-04-25 00:26] parjong commented on #11122
@JonHanna https://github.com/dotnet/coreclr/issues/9265#issuecomment-280521257 provides a brief step-by-step build instruction (you first need to create a root filesystem via running build-rootfs.sh under cross with x86 option).

[2017-04-25 00:28] JosephTremoulet commented on #11090
This is an instance of #5164, which was fixed in coreclr master in #5394 (and ported to coreclr release/1.0.0 in #5422).  It is available in desktop starting with 4.7.

[2017-04-25 01:05] kouvel commented on #10918
Thanks @janvorli, I'm afraid I won't be able to take a look at this any time soon.

[2017-04-25 01:18] jkotas commented on #4093
You won't be really testing much if you add sleep. If WaitForPendingFinalizers just returns without waiting for anything, the tests hardened by the extra sleep will pass.

I think you may want to call WaitForPendingFinalizers finalizers twice to make it robust. It should ensure that the finalizer went through the whole finalization queue at least once. Or maybe even better - change the implementat

[2017-04-25 01:30] Maoni0 commented on #4093
the root problem here really is just the last GC.Collect added more things to the FQ. so the test can just call this whole sequence (Collect/Wait/Collect) in a  loop and check to see if we make progress (since it knows exactly how many objects it expect to be finalized) in each iteration; if we do then do another iteration. Otherwise we know we have a real issue. For this particular test calling i

[2017-04-25 01:45] swgillespie commented on #4093
I noticed some tests already take some measures against this race:
* https://github.com/dotnet/coreclr/blob/master/tests/src/GC/Scenarios/LeakWheel/leakwheel.cs#L149
* https://github.com/dotnet/coreclr/blob/master/tests/src/GC/Scenarios/DoublinkList/dlstack.cs#L79
* https://github.com/dotnet/coreclr/blob/master/tests/src/GC/Scenarios/DoublinkList/dlcollect.cs#L71

Tomorrow I will convert tests usi

[2017-04-25 02:08] wateret commented on #11101
@parjong I think so. That may be part of my fix. I'm also investigating on lifetime tables.

[2017-04-25 02:49] jnm2 commented on #10442
Is this something that https://github.com/terrajobst/platform-compat should warn about? /cc @karelz

[2017-04-25 02:53] jnm2 commented on #6408
I see this is labeled as a 2.0 bug and the deadline is getting closer. Is it still possible for me to submit a PR to fix this?

[2017-04-25 04:26] parjong commented on #11101
@wateret https://github.com/dotnet/coreclr/blob/master/Documentation/botr/clr-abi.md#filter-gc-semantics seems to be related with this issue (I guess that you already know).

[2017-04-25 05:18] mikedn commented on #11189
Synchronized as in `[MethodImpl(MethodImplOptions.Synchronized)]`? I'd be surprised if those cause performance surprises, I haven't seen one in ages.

[2017-04-25 05:40] #5631 closed

[2017-04-25 05:49] danmosemsft commented on #10443
@botaberg are you on track for this one? 2.0 should come beofre 2.1 work.

[2017-04-25 05:50] danmosemsft commented on #10442
@jnm2 yes and it does

@yizhang82 do you plan to assign to a developer so we can get this done for zbb...?

[2017-04-25 06:27] yizhang82 commented on #10443
@botaberg is going to back tomorrow. We should be able to get it in this week.

[2017-04-25 06:31] #11181 closed

[2017-04-25 06:48] yizhang82 commented on #10442
I'm still not yet convinced this should be done for netstandard 2.0. Especially that Mono doesn't support it today (throw PNSE).

Implement this on top of CoreCLR is easy (since AsAny marshaling is there, though we do need to add tests and I'm not sure if we have them anywhere yet). However supporting this in .NET native would require additional ~2 week of work, and not to mention that it generate

[2017-04-25 06:56] danmosemsft commented on #10442
@yizhang82 I have no such data. We only know of System.Drawing and that 0.3% of netfxcompat lab (whatever that data comes from) use some of them eg https://apisof.net/catalog/System.Runtime.InteropServices.Marshal.ReadInt16(Object,Int32)

[2017-04-25 07:01] BruceForstall commented on #11141
Is this a recent regression?

Note that I recently changed arm64/arm32 to use isInternalRegDelayFree for overflow multiply, whereas previously it allocated 2 temps and used whichever was not the target register, if any. See https://github.com/dotnet/coreclr/pull/11025.

[2017-04-25 07:34] benaadams commented on #10991
I can't recreate this anymore using later build; may have been transitory

[2017-04-25 07:34] #10991 closed

[2017-04-25 07:40] tmds commented on #9208
ping @janvorli @jkotas @gkhanna79 @ellismg @Petermarcu @ericstj
I am not sure why this is pushed out of the 2.0 milestone. The new RIDs added to the graph become part of the public API at 2.0. So it seems worth solving this for 2.0?

[2017-04-25 07:44] sjsinju commented on #11168
In rationalize.cpp
[code]

[2017-04-25 07:49] wateret commented on #11101
With #11195 we can handle untracked variables but I think we still need to handle the tracked ones.
It seems like GCInfoEncoder handles them with `GCInfo::gcMarkFilterVarsPinned()`.

[2017-04-25 07:51] seanshpark opened #11199 "UnmanagedMemoryStream on 32bit Linux"
In UnmanagedMemoryStream, besides of Initialize , `Position` can be set to `Int32_MaxValue`.
[code]
[corefx:UmsWrite.cs#L115](https://github.com/dotnet/corefx/blob/master/src/System.IO.UnmanagedMemoryStream/tests/UmsWrite.cs#L115)

In Linux, user allocated memory address can be up to 0xBFFFFFFF while Win32 0x7FFFFFFF (as far as I know). So, wrap around check in `Position` can happen with normal ca

[2017-04-25 07:55] sjsinju commented on #11168
[code]

In case of JIT32_GCENCODER, the function is not supported.

[2017-04-25 07:55] #11168 closed

[2017-04-25 08:09] seanshpark commented on #11199
@jkotas , could you please give some advice on how to solve this issue?

[2017-04-25 08:13] parjong opened #11200 "[ARM/Linux] System.Runtime.CompilerServices.Unsafe.Tests failures (System.DataMisalignedException)"
Unaligned access on double and struct seems to throw ``System.DataMisalignedException``:
[code]

[2017-04-25 08:14] mikedn commented on #11199
By default 32 bit Windows reserves 2GB for user mode but it is possible to configure it (and the application) to reserve 3GB for user mode. Also, 32 bit processes running on 64 bit Windows can get up to 4GB of user mode address space.

If the test passes on Windows it's because we're lucky or because the .NET Core host process isn't large address aware.

[2017-04-25 08:17] seanshpark commented on #11199
@mikedn , thank you. I've found this; https://msdn.microsoft.com/en-us/library/windows/desktop/aa366912(v=vs.85).aspx . I think it's `Windows with 4GT`

[2017-04-25 08:18] parjong commented on #11200
Here is the jit disasm of ``WriteUnaligned_ByRef_Struct``:
[code]

[2017-04-25 08:21] parjong commented on #11200
\CC @hqueue @hseok-oh @sjsinju @jyoungyun @lemmaa

[2017-04-25 08:28] mikedn commented on #11199
Yes, Windows with 4GT also known as 3GB from the old boot.ini option. See also [memory limits](https://msdn.microsoft.com/en-us/library/windows/desktop/aa366778(v=vs.85).aspx#memory_limits) where it states that 32 bit apps running on 64 bit Windows can get 4GB of user address space if the  IMAGE_FILE_LARGE_ADDRESS_AWARE flag is set in the executable header.

[2017-04-25 08:40] ossaltu commented on #2317
Yes, clean rebuild seems to be working

[2017-04-25 09:41] janvorli commented on #11101
@wateret I also think that we will need to do something similar to `GCInfo::gcMarkFilterVarsPinned()`.

[2017-04-25 10:28] reader-man opened #11201 ".Net decimal vs SQL Server decimal"
Hi,
Thanks for the great .Net Core product/Tech.

SQL Server decimal size is very good for huge scientific numbers:
[](https://docs.microsoft.com/en-us/sql/t-sql/data-types/decimal-and-numeric-transact-sql)
it reaches 38 precision.

, but .Net/.Net Core does not match it:
[](https://msdn.microsoft.com/en-us/library/364x0z75.aspx)
it stops at 28 precision.

So, instead of going to non normal steps

[2017-04-25 11:02] krytarowski commented on #803
Porting .NET to platforms without LLDB is questionable. No easy way to debug build failures in managed code runtime.

I might try to port Illumos style core(5) files to LLDB to workaround it.. and then on other system like NetBSD we could read it. But first things first, I still have TODO tasks on my native platform (NetBSD) in this debugger.

[2017-04-25 12:25] sdmaclea commented on #11141
@BruceForstall Yes this is a recent regression.  In the last week or so.

[2017-04-25 12:55] stephentoub commented on #11119
Sounds good to leave it as-is.

[2017-04-25 12:55] #11119 closed

[2017-04-25 13:35] gkhanna79 commented on #9208
So far, this has been a discussion but is there any concrete plan around the work to be done? If so, can you please point to the PRs?

I am not aware of any changes happening for RID fallback graph for this.

[2017-04-25 15:05] CarolEidt commented on #11141
@sdmaclea @dotnet/jit-contrib - I would like to work on this, but can't figure out how to repro it. Could someone clue me in?

[2017-04-25 15:09] tmds commented on #9208
@gkhanna79 We need a definite answer whether non-glibc based linux distros should move from linux-x64 to their own linux-x64-\<clib>-rids. If so, the plan is to move them.

[2017-04-25 15:45] jkotas commented on #11199
Right, this is problem on both Windows and Unix. It relatively rare to hit it on Windows because of it requires the large address space to be enabled and memory to be allocated at high address.

The implementation and tests should be fixed to be compatible with 4GB address space on 32-bit platforms. It should be pretty straightforward.

[2017-04-25 15:47] BruceForstall commented on #11141
@CarolEidt One way: on Windows, build x64, then set:
[code]
then run:
[code]
(with appropriate paths and current directory)

[2017-04-25 16:58] gkhanna79 commented on #9208
Can you elaborate on what it means "move" them? Is it about updating the RID fallback graph to reflect so?

[2017-04-25 17:04] CarolEidt commented on #11141
@BruceForstall - Thanks! (Double thanks, as I believe you're the one that enabled the protononjit!)

[2017-04-25 17:05] sdmaclea commented on #11141
@CarolEidt Sorry  I was not in my office when I replied the first time and could not remember the syntax.  Bruce's answer is probably best for you

I ran
[code]

[2017-04-25 18:29] #3710 closed

[2017-04-25 18:47] dleeapho commented on #10873
Infra work tracked in:
https://github.com/dotnet/core-eng/issues/702
https://github.com/dotnet/core-eng/issues/701
https://github.com/dotnet/core-eng/issues/700
https://github.com/dotnet/core-eng/issues/699
https://github.com/dotnet/core-eng/issues/698

[2017-04-25 18:47] dleeapho commented on #10872
Infra work tracked in:
https://github.com/dotnet/core-eng/issues/702
https://github.com/dotnet/core-eng/issues/701
https://github.com/dotnet/core-eng/issues/700
https://github.com/dotnet/core-eng/issues/699
https://github.com/dotnet/core-eng/issues/698

[2017-04-25 18:48] dleeapho commented on #10868
Infra work tracked in:
https://github.com/dotnet/core-eng/issues/702
https://github.com/dotnet/core-eng/issues/701
https://github.com/dotnet/core-eng/issues/700
https://github.com/dotnet/core-eng/issues/699
https://github.com/dotnet/core-eng/issues/698

[2017-04-25 18:52] kouvel commented on #6408
I'm planning on fixing it soon for 2.0.

[2017-04-25 19:40] AndyAyersMS commented on #9692
Some perf results from the low-tech #11192:

* Fasta (~6%): moved return block out of loop in `SelectRandom`
* TreeSort (~5%): compacted loop body in `Insert` somewhat

There is also what looks like a win in some of the Linq `Where` tests. Hard to be 100% sure based on diffs since #11192 is moving blocks that I don't expect it to move -- likely a limitation of using `BBF_BACKWARDS_JUMP` as a crude

[2017-04-25 20:31] RussKeldorph commented on #11088
[code]
Looks like due to #9789.

[2017-04-25 20:45] tmds commented on #9208
Exactly.

[2017-04-25 21:04] tarekgh commented on #11114
@ViktorHofer if you are not looking at this one, I can help look at it tomorrow. please let me know

[2017-04-25 21:12] jkotas opened #11211 "Combining byrefs and unmanaged pointers prevents inlining"
Repro:

[code]

[2017-04-25 21:14] jkotas commented on #11211
Original discussion: https://github.com/dotnet/corefxlab/issues/1479#issuecomment-297158779

The problem is that the inliner fails with `'fgInline' result 'failed this call site' reason 'return type mismatch'`

[2017-04-25 21:18] bbowyersmyth commented on #9692
No idea how advanced LSDs are but is it still able to optimize if the body is not in the loop?

[2017-04-25 21:21] tarekgh commented on #10646
To mention:

[code]

Doesn't throw on the desktop. so we need to decide if we need to be compatible here or not.

[code]
does throw the following exception (with no stack trace) as I see it in VS:

[code]

[2017-04-25 21:24] BruceForstall commented on #9521
One thing I dislike about the current style LIR dumps is I find myself constantly searching backwards for operands. I like how the proposed dumps reduce that as much as possible. It seems like the proposed style would make it much easier to understand an entire range of LIR.

[2017-04-25 21:25] jkotas commented on #10646
Both of these are bugs in desktop. We do not want to be compatible with the bug in neither of these two cases.

[2017-04-25 21:31] rartemev commented on #10094
Fixed

[2017-04-25 21:31] #10094 closed

[2017-04-25 21:37] tarekgh commented on #10646
I can see copying from object[] to int*[] shouldn't be allowed. but why Copying int*[] to object[] shouldn't be allowed?

[2017-04-25 21:40] jkotas commented on #10646
`int*` and `object` are not castable, convertible or boxable in either direction.

[2017-04-25 21:47] ViktorHofer commented on #11114
I will take a look at it tomorrow and will let you know if I need some help. Thanks!

[2017-04-25 21:52] tarekgh commented on #10646
Thanks, I didn't know we cannot cast int* to object. thanks for clarification. Why we don't allow copying `int*[]` to `IntPtr[]` while we can cast `int*` to `IntPtr`?

[2017-04-25 21:59] Petermarcu commented on #10442
Lets get the easy work done before ZBB for coreclr. We can figure out what to do about .NET Native later.

[2017-04-25 22:00] jkotas commented on #10646
BTW: You can try this today that's pretty bad:

[code]

No good reason. There are other cases that are disallowed in Array.Copy for no good reason. The one  discussed in https://github.com/dotnet/corefx/issues/13816 is around enums:

[code]

[2017-04-25 22:09] AndyAyersMS commented on #11211
Think we can fix this easily enough in the jit, we have the right type info, but we lose track of it when we see that we can directly substitute the arg expression into the inlinee, and the caller IL has converted the managed pointer to an integer:
[code]

[2017-04-25 22:10] karelz commented on #10442
If there are known incompatibilities (e.g. with Mono), please document them here: https://github.com/dotnet/corefx/wiki/ApiCompat

[2017-04-25 22:22] jkotas commented on #11211
I do not think that fixing this bug should be taking advantage how the pointer was created in the minimal repo. The original Span bug was more like this - the pointer came from unknown source:

[code]

[2017-04-25 22:29] AndyAyersMS commented on #11211
The fix doesn't need to see how the pointer was created. It needs to ensure that we use the callee's type when we refer to the argument value, not the caller's type.

Usually even this doesn't matter, but if the argument value also happens to be the return value, we get tripped up and reject the inline.

[2017-04-25 22:29] rartemev commented on #9880
FIxed

[2017-04-25 22:29] #9880 closed

[2017-04-25 22:53] ramarag commented on #10920
This is a host issue, the logic which returns this value is actually at
https://github.com/dotnet/coreclr/blob/cdff8b0babe5d82737058ccdae8b14d8ae90160d/src/mscorlib/src/System/AppContext/AppContext.cs#L38

[2017-04-25 22:53] ramarag commented on #10920
Issue moved to [dotnet/core-setup #2176](https://github.com/dotnet/core-setup/issues/2176) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-25 22:58] sdmaclea commented on #10769
@dotnet/arm64-contrib @dotnet/jit-contrib

- There are a few cases where ldp/stp are not emitted due to emitIns_R_S & emitIns_S_R not supporting ldp/stp.  Should the new functions to add this support be called emitIns_R_R_S &  & emitIns_S_R_R ?
- In general the there is only one attr when emitting ldp/stp.  What is the current/intended behavior?
    1. second operand has same attr as first
    2.

[2017-04-25 22:59] vancem commented on #11156
@geoffkizer  - this is the threadpool issue mentioned today.

[2017-04-25 23:13] sdmaclea commented on #10769
Partially addressed by #11217

[2017-04-25 23:15] russellhadley commented on #9521
I like how it reduces the whitespace, but it's hard for me to match producers up with there consumers(could be I'm just less good at reading the tree levels), additionally I'd like to see a example where the statements are reordered as could happen for optimization - what happens were the execution order is heavily changed from a more natural tree order?

[2017-04-25 23:27] briansull commented on #10769
All good questions.

The sizes have to be the same., but the GC types can be different.
We would like to be able to support the loading of different GC types.

There is an emitter issue that is blocking the use of ldp/stp for stack locals,
we use the last register field to hold the extra register need for a large stack offset.

[2017-04-25 23:32] yizhang82 commented on #10442
In principle I agree we should be compatible with desktop. However having a low usage and the fact Mono has the same behavior as CoreCLR today is probably good indication that this is a rather low priority API. Having said that, I don't mind getting this API into CoreCLR assuming that we are OK with accumulating more debt into .NET native and Mono down the road. I'll get it in this week.

[2017-04-25 23:41] janvorli commented on #10007
It actually doesn't have this problem if we use alpine:edge image instead of alpine 3.4. The musl in the edge contains the required exports.
However, it also brings in clang 4.0 and it turns out we cannot build with clang 4.0. There are multiple errors reported in #11159.

[2017-04-26 00:38] CarolEidt commented on #11141
I believe that I understand the problem, and am working on a fix. The issue is that the `RefTypeFixedReg` `RefPosition` for the r3 target on the multiply is only set at the use, not the def. This means that, when the `RefPosition` with the `isInternalRegDelayFree` property is looking at the next time the register has a fixed reference, it thinks it is free at the time the multiply is defined. This

[2017-04-26 00:55] AndyAyersMS commented on #11189
@cmckinsey may want to add in some examples he's seen...

[2017-04-26 02:12] seanshpark commented on #11199
@jkotas , thank you. thank you for the comment. I'll get to this when I figure out how to solve. If anyone gets it before me, it's fine.

[2017-04-26 04:04] sdmaclea commented on #10769
Partially addressed by #11219

[2017-04-26 04:20] BruceForstall commented on #11189
I don't think we can do it on x86, due to synchronized methods being reported in GC info. Non-x86 we need to inject try/finally or try/fault; doing that on an inlined function seems tricky. We don't inline any function with EH currently, do we?

[2017-04-26 05:15] gkhanna79 commented on #11199
CC @danmosemsft

[2017-04-26 05:17] gkhanna79 commented on #11179
It is probably asserting for the right reasons. Is the issue to track failing it on release builds and you are not seeing that?

CC @ramarag

[2017-04-26 05:18] gkhanna79 commented on #11174
CC @brianrob

[2017-04-26 05:19] gkhanna79 commented on #11173
CC @RussKeldorph

[2017-04-26 05:20] gkhanna79 commented on #11171
@ellismg @janvorli @bartonjs What are your thoughts?

CC @Petermarcu

[2017-04-26 05:20] gkhanna79 commented on #11170
Based upon your response above, does it mean the issue can be closed?

[2017-04-26 05:21] gkhanna79 commented on #11159
CC @janvorli

[2017-04-26 05:22] gkhanna79 commented on #11156
CC @kouvel

[2017-04-26 05:23] gkhanna79 commented on #11122
Issue moved to [dotnet/corefx #18966](https://github.com/dotnet/corefx/issues/18966) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-26 05:23] #11122 closed

[2017-04-26 05:24] gkhanna79 commented on #11123
CC @seanshpark @RussKeldorph

[2017-04-26 05:25] gkhanna79 commented on #11154
Did the issue get addressed after disabling huge pages @mikeharder ?

[2017-04-26 05:26] gkhanna79 commented on #11048
Closing the issue here - please move it to ASP.NET repo.

[2017-04-26 05:26] #11048 closed

[2017-04-26 05:28] mmayr-at commented on #11173
To clarify things I made a sample, please see attached [mscorlib_instrumented.zip](https://github.com/dotnet/coreclr/files/957292/mscorlib_instrumented.zip). Assume I would like to count the number of invocations for all `ToString()` methods.  The profiler emits a new class `InvocationCounter` into mscorlib and rewrites the IL code of every `ToString` method to call the `InvocationCounter.IncCount

[2017-04-26 05:38] swgillespie commented on #11179
It was working for me on debug and release builds. Though, for whatever reason, this isn't reproing anymore for me, so perhaps it was some weird miscompile.

[2017-04-26 05:38] #11179 closed

[2017-04-26 08:44] janvorli commented on #11159
@juergenpf there are actually more issues than those two builtins. Clang 4.0 also complains about some clobber annotations in inline asm code, SSIZE_T_MIN constant, _mul128 argument types and few comparisons of pointers as > 0.

[2017-04-26 08:44] janvorli commented on #11159
I almost have these issues fixed.

[2017-04-26 09:15] wateret opened #11223 "[x86/Linux] JIT.Methodical.Boxing.seh._relfilter fail (GCStress=3)"
With GCStress=3 JIT.Methodical.Boxing.seh._relfilter fails on x86/Linux.

[code]

This is almost same issue with #11101(_dbgfilter) which was resolved  by #11195 (not reporting untracked from filter). However this time the most variables are encoded as tracked so we need to handle untracked.

As we discussed in #11101, We may need something like `GCInfo::gcMarkFilterVarsPinned()`.

[2017-04-26 09:17] wateret commented on #11101
I think we can close as #11195 landed.
We can keep track of the other issue(about tracked variables) at #11223.

[2017-04-26 09:17] #11101 closed

[2017-04-26 09:23] mattwarren commented on #9215
@danmosemsft thanks, I didn't actually have to _accept_ contributor rights, I just got an email saying 'Subscribed to dotnet/coreclr notifications'? (maybe because I'm already part of the DotNetFoundation?). Either way, I soon turned off that fire-hose, wow, I'm not sure how anyone can deal with **all** the notifications that the CoreCLR outputs ;-)

@AtsushiKan

Are you saying I can send a PR tha

[2017-04-26 09:36] wateret commented on #11223
@janvorli Here's my first attempt to do `gcMarkFilterVarsPinned()` on x86/Linux.
https://github.com/wateret/coreclr/commit/dc2ec633820e5d992c44e2ea5a2c597245049bab

It basically uses the same `gcMarkFilterVarsPinned()` of non-JIT32_GCENCODER. All I had to do more was to reorder the generated varDscPtrs by lifetime splitting(in vpdBegOfs order). However the problem was pinned_OFFSET_FLAG is only fo

[2017-04-26 10:37] janvorli commented on #11223
@wateret it is great that we can reuse the code almost as-is.

I am not sure I understand this. You say the problem "was", but I don't see any changes in the code that would do anything about it.

And could you also explain why you had to reorder the  generated varDscPtrs by lifetime splitting? It is because for the x86 gc info they have to be ordered by the vpdBegOfs?
You could modify the gcInser

[2017-04-26 11:00] gregkalapos opened #11225 "coreclr.dll versioning and the .version file."
Tldr:
What is the best and easiest in-process way to figure out the version of the CoreCLR on which an application runs? (e.g. for a monitoring tool)

More details on this:
Pre 1.1 the coreclr.dll version somewhat revealed the CoreCLR version (e.g. for 1.0.1 it’s 1.0.24410.1, for 1.03 it’s 1.0.24709.1, etc.). But this was not consistence in the 1.1 Release, since in 1.1.0 it’s 4.6.24628.01, for 1.

[2017-04-26 11:08] AtsushiKan commented on #9215
Yes - this is normal practice since the tests and runtimes are in separate repos.

So the typical process is -

1. PR the fix for CoreLib in the CoreCLR repo and get it merged.
2. Wait a day or two for the CoreFX repo to update to the fixed CoreCLR bits.
3. Then in the CoreFx repo, PR whatever tests you want to add for the fix.

For this particular bug, I think #3 is pretty optional (but you're we

[2017-04-26 11:52] tmds commented on #9208
@mellinoe removed the alpine RIDs from the graph: https://github.com/dotnet/corefx/pull/18948
There are no more non-glibc based linux distros that inherit linux-x64 (android inherits any).
The issue can be fixed post 2.0.

[2017-04-26 13:30] ChuckBryan commented on #10717
I am having the same issue, similar stack. Back in March, we changed from "Any CPU" to "x64" and we didn't experience the Fatal Exception. Yesterday, we switched to "x86" and the problem came back. I switched from running IIS Express to running the Exe and haven't had the problem. If you need any additional crash dumps, I most likely could produce one.

[2017-04-26 13:48] janvorli commented on #10918
Fixed by #11213

[2017-04-26 13:48] #10918 closed

[2017-04-26 14:38] jkotas commented on #10717
This is crash in full .NET Framework. I have opened .NET Framework on it (DevDiv TFS bug 425084). It will be fixed one in future .NET Framework updates.

The crash is triggered by turned on ETW GC memory tracing. To workaround it, you can try turning off ETW GC memory tracing.

[2017-04-26 14:38] #10717 closed

[2017-04-26 14:41] adam8797 commented on #10717
@jkotas Thanks for your help with this.

Any documentation on how to turn off ETW GC memory tracing in VS 2017?

[2017-04-26 15:48] russellhadley commented on #9521
I've been staring at this some more and it's making more sense to me with the examples above.  How well this will work in practice seems to be gated on how likely trees are to stay together.  In the example above, if no nodes adjacent in execution order would that require 2 times the lines given the "***" lines to glue the trees together?  And I'm still trying to figure out how multiple intermingl

[2017-04-26 15:48] RussKeldorph commented on #11173
You might want to check out other issues with the area-ILVerification label.  In particular, #295 has a link to @jkotas' prototype verifier.  Unfortunately, I can't provide much guidance beyond that, though @jkotas may be able to.

[2017-04-26 15:53] danmosemsft commented on #11199
Clearing milestone so @ianhays can triage this.

[2017-04-26 16:01] danmosemsft commented on #6252
@wtgodbe @gkhanna79 I do not see this as a 2.0 issue as we have got by for a year now.

[2017-04-26 16:11] RussKeldorph commented on #11069
@hqueue These failures have gone on far too long.  Assuming you can't fix the emulator or its environment (whereever the root problem lies), until there is an alternative solution in CI, retrying is probably our best option.  Could you (or someone you delegate) please add a hack to runtest.sh to recognize this situation and retry an individual test up to three times?  We can use #6298 to track thi

[2017-04-26 16:14] RussKeldorph commented on #6298
Per #11069, I unfortunately recommend adding retry logic to runtest.sh.  It should be enabled for ARM32 only, and I would prefer that a test only be retried if its output matches a very specific pattern, e.g. `qemu: uncaught target signal 11 (Segmentation fault) - core dumped` that is unique to this failure.  In no case should a single test be retried more than three times.  Please also add clear

[2017-04-26 16:19] RussKeldorph commented on #11069
Assuming dup of #6298

[2017-04-26 16:19] #11069 closed

[2017-04-26 16:21] RussKeldorph commented on #11123
Assuming dup of #6298

[2017-04-26 16:25] mikedn commented on #9521
The same thing can be said about assembly, sometime you need to look for a register's definition. Yet the JIT's whole purpose in life is to produce assembly and IMO it would make sense that the IR dump looks like assembly and not like syntax trees that a compiler front end might produce. And while trees may sometimes make it simpler to locate a definition they also add a lot of noise due to tree l

[2017-04-26 16:36] gregg-miskelly commented on #10717
@adam8797 you can try this:

1. Open Tools->Options
2. Type in 'Diagnostics Tools' in the search bar
3. Uncheck 'Enable Diagnostics Tools while debugging'

[2017-04-26 16:39] kouvel commented on #5927
The issue here is that in the test code, the amount of time for which the lock is taken is dependent on the system clock resolution, due to the use of DateTime.UtcNow to measure a duration of 1 ms. When the resolution is set to 1 ms, that loop will wait for approximately 1 ms and the lock is held for a short duration, which means it keeps threads spinning for the lock, hence higher CPU usage. When

[2017-04-26 16:39] #5927 closed

[2017-04-26 16:46] mikeharder commented on #11154
@gkhanna79: We haven't seen this issue since disabling huge pages.   However, we only hit it once every few days with huge pages enabled, so we need more data to be certain.  Closing issue for now, and will re-open if we see this again.

[2017-04-26 16:46] #11154 closed

[2017-04-26 17:09] gkhanna79 commented on #5138
The issue is present in 1.0 and 1.1 and given that we have not seen any instances (besides the test) running into this, moving this out to 2.1.0.

[2017-04-26 17:10] gkhanna79 commented on #9414
@jkotas @MichalStrehovsky Is this present on Desktop as well? Is there any reason this needs to be fixed for 2.0?

[2017-04-26 17:18] gkhanna79 commented on #6707
@fadimounir Can you help with this?

[2017-04-26 17:21] jkotas commented on #9414
It is regression from desktop. @MichalStrehovsky said above: "The below code works on desktop CLR, but throws an ArrayTypeMismatchException on CoreCLR."

I believe that the compat breaks from desktop are high on the list for 2.0.

[2017-04-26 17:29] gkhanna79 opened #11228 "[netcoreapp2.0] `AssemblyLoadContext.GetLoadContext` crashes when pass in a dynamic assembly"
@daxian-dbw commented on [Wed Apr 26 2017](https://github.com/dotnet/corefx/issues/18989)

`AssemblyLoadContext.GetLoadContext` crashes the running program when a dynamic assembly is passed in as an argument.

**Repro**
[code]

**Expected behavior**
The default load context should be returned by `AssemblyLoadContext.GetLoadContext`

**Actual behavior**
[code]
I think this bug is related to #18877

[2017-04-26 17:31] ViktorHofer commented on #11114
SystemNative::GenericFailFast in "src\classlibnative\bcltype\system.cpp" needs to print the exception message with callstack to stderr and if passed the inner exception. I will talk with @jkotas about it.

[2017-04-26 17:34] gkhanna79 commented on #4299
What are the next steps on this @lt72 @mikem8361 ?

[2017-04-26 17:35] gkhanna79 commented on #5318
@ellismg Is this still on for 2.0?

[2017-04-26 17:39] jkotas commented on #11114
I think it should be done in  `EEPolicy::HandleFatalError` so that all sources of failfasts get logged. For example, we want to make sure that there is error message printed for fail fast caused by this program:

[code]

[2017-04-26 17:42] gkhanna79 commented on #7861
@RussKeldorph Is this required for 2.0? If not, can you move it to appropriate milestone?

[2017-04-26 17:42] gkhanna79 commented on #6784
@dagood Should this move to Future if not actionable for 2.0?

[2017-04-26 17:45] gkhanna79 commented on #5176
@janvorli @ellismg What are the next steps on this?

[2017-04-26 17:53] kouvel commented on #9414
I'm able to repro the on desktop as well, when optimizations are turned off (Debug build)

[2017-04-26 18:17] jkotas commented on #9414
This is regression introduce by #4519. This change incorrectly remove the else statement here: https://github.com/dotnet/coreclr/commit/97b4ff0b438261ba11b357008630076054a6f25d#diff-edc46b80f57431489a82311948a8234dL6424

It is causing us to ignore the read-only prefix essentially.

I assume that you have tried it on desktop build that included the above change.

[2017-04-26 18:24] gkhanna79 commented on #9414
@fadimounir Can you help with this?

[2017-04-26 18:28] mikem8361 commented on #4299
Some in the CI lab admin (like Matt) needs to install LLDB 3.9 on the lab machines.

[2017-04-26 18:38] kouvel commented on #9414
Thanks @jkotas, adding the 'else' back in seems to solve the problem. I can post a PR but I'm not very familiar with this code, I'll add you folks on it.

[2017-04-26 18:43] gkhanna79 commented on #4299
Is this must fix for 2.0? If not, please move it out.

[2017-04-26 18:44] ianhays commented on #11199
Don't we just want to increase the min value that the wraparound check considers to be invalid i.e. from Int32.MaxValue to uint.MaxValue?

Unless we have some way of detecting the real max address to use instead?

[2017-04-26 18:45] gkhanna79 commented on #11225
@dagood Can help with this question.

[2017-04-26 18:49] tarekgh commented on #10646
@gkhanna79 I have tried to take a look and it is better to get someone from the type system team to look at it. here is what I am seeing for example when copying int*[]  to Object[]:

'ArrayNative::ArrayCopy' will call 'ArrayNative::CanAssignArrayTypeNoGC' which will call 'TypeHandle::CanCastToNoGC' to check if can cast int* to object. int* has type descriptor which will make  'TypeHandle::CanCast

[2017-04-26 18:54] yizhang82 commented on #10225
@parjong Do you have latest numbers on x86 linux reverse pinvoke performance? How bad is it? I'm trying to determine whether it is blocking .NET Core 2.0.
/cc @jkotas

[2017-04-26 19:04] RussKeldorph commented on #11088
This should be fixed in the release/2.0.0 branch.  No plan to keep JIT32 working in master.

[2017-04-26 19:04] #11088 closed

[2017-04-26 19:12] karelz commented on #10868
Let's use only 1 label to avoid double-counting and clarify responsibility - Infrastructure area per guidance from @lt72

[2017-04-26 19:13] karelz commented on #10872
Let's use only 1 label to avoid double-counting and clarify responsibility - Infrastructure area per guidance from @lt72

[2017-04-26 19:13] karelz commented on #10873
Let's use only 1 label to avoid double-counting and clarify responsibility - Infrastructure area per guidance from @lt72

[2017-04-26 19:14] karelz commented on #4299
Let's use only 1 label to avoid double-counting and clarify responsibility - Infrastructure area per guidance from @lt72

[2017-04-26 19:15] karelz commented on #10709
Not blocking ZBB perf @lt72 guidance

[2017-04-26 19:16] karelz commented on #10661
Approved for Post-ZBB, still in 2.0.

[2017-04-26 19:21] brianrob commented on #6427
This has been fixed in master and release/1.1.0, so closing.

[2017-04-26 19:21] #6427 closed

[2017-04-26 19:30] #10595 closed

[2017-04-26 19:40] pgavlin commented on #9521
I agree with @mikedn. I'd much rather we explore alternatives that do not fundamentally change the way LIR is displayed, especially in ways that belie IR semantics. For example, I'd be interested in looking into an option to write dumps as HTML and use anchors and links to make it possible to navigate between defs and uses.

[2017-04-26 19:52] aslicerh opened #11232 "Restore default Unix file permissions to 777, allow the user to override."
The changes made in dotnet/coreclr#7995 will be a big pain point for many unix users (and, potentially, cross-platform builders) moving forward, though I can understand the reason behind it.

Perhaps a more amiable solution would be to keep the default permissions at 777 and allow the user to override that default with an environment variable (or maybe even just the current umask setting)?

[2017-04-26 20:04] #11211 closed

[2017-04-26 20:17] RussKeldorph commented on #11090
@JosephTremoulet Thanks.  Closing since long-fixed in .NET Core.

[2017-04-26 20:17] #11090 closed

[2017-04-26 20:28] yizhang82 commented on #9287
Test only. Not blocking 2.0

[2017-04-26 20:43] CarolEidt commented on #9521
This is fundamentally a subjective issue, but from my subjective perspective, the new dumps are much easier to follow than the existing ones. The LIR change negatively impacted my productivity in a significant way - now, part of that is simply due to changing what I was used to. However, after spending a lot of time looking at these dumps, I still find them more difficult to read.
To respond to a

[2017-04-26 20:48] AtsushiKan commented on #8158
That was unblocked by https://github.com/dotnet/coreclr/commit/1de6fe60fd616b4c25f64f8d1c6f17a1e45915d1

Assigning back to @pgavlin since he was offering to look at the intermittent issue.

[2017-04-26 20:53] jkotas commented on #11232
Could you please share more details on why you think it will be a big pain point for many unix users? All other Unix tools use it as a default - why should .NET be different?

[2017-04-26 21:08] pgavlin commented on #9521
The LIR design as originally proposed used almost exactly the dumps that are in use today. As far as I remember the only change has been to reduce extra whitespace between nodes (thanks @BruceForstall :) ).

I might agree if we did not have an HIR with very similar dumps in which edges indicated both dataflow and ordering.

This is true. However, this is solvable without introducing edges to indic

[2017-04-26 21:28] sbomer commented on #5082
Fixed with https://github.com/dotnet/coreclr/pull/11178

[2017-04-26 21:28] #5082 closed

[2017-04-26 21:29] pgavlin opened #11236 "Add code to verify that operations on short/long bitsets operate on the correct epoch."
See the discussion in https://github.com/dotnet/coreclr/pull/11233 for more details.

These bitsets currently have no checks to ensure that the epoch in which a bitset was created matches the epoch in which it is being used. Depending on the actual representation and the operation, mismatching epochs can have a variety of harmful effects as they can cause out-of-bounds reads or writes.

@BruceFors

[2017-04-26 21:50] #4093 closed

[2017-04-26 21:52] pgavlin commented on #10826
I have confirmed that this was indeed another case of #7958.

@RussKeldorph do you think we should backport that fix?

[2017-04-26 21:57] benaadams commented on #9393
Api for explicit method is approved, so closing

[2017-04-26 21:57] #9393 closed

[2017-04-26 21:58] #8423 closed

[2017-04-26 22:00] #7525 closed

[2017-04-26 22:05] sdmaclea opened #11241 "[Arm64 JIT] Support mismatched GC attr in ldp/stp"
Currently when we emit ldp/stp we only get to provide one attr

This prevents usage of ldp/stp in a number of cases

We want to support mismatched GC attr for ldp/stp.

@dotnet/arm64-contrib @dotnet/jit-contrib

[2017-04-26 22:14] parjong commented on #10225
@yizhang82 Actually, I have no concrete number on R/Pinvoke performance. Is there any benchmark?

[2017-04-26 22:15] karelz commented on #8158
@pgavlin are you actively looking at it now or will be shortly? (just checking)

[2017-04-26 22:26] seanshpark commented on #11122
@gkhanna79 , Thank you :)

[2017-04-26 22:26] sdmaclea commented on #11241
emitIns_R_R_R_I() needs a way to pass multiple attributes.  This form can probably just be overloaded with a second attribute between the registers.

```struct instrDesc``` needs a mechanism to set and get ```id->idGCref()``` for the second reg

Looks like there are a lot of ```#if defined(_TARGET_ARM64_)``` in ```struct instrDesc```, so the interface can probably just be extended for ```_TARGET_A

[2017-04-26 22:37] pgavlin commented on #8158
@RussKeldorph are we still seeing this?

[2017-04-26 22:38] gkhanna79 commented on #11123
I am seeing this in my PR - https://github.com/dotnet/coreclr/pull/11238. Details at https://ci.dot.net/job/dotnet_coreclr/job/master/job/armel_cross_release_tizen_prtest/1716/consoleFull#-440344204b7730ef-150b-4be7-a00f-82ba6c50792b.

[2017-04-26 22:43] RussKeldorph commented on #10826
@januszn Thanks for reporting this!  We have confirmed that this will be fixed in [.NET Core 2.0](https://github.com/dotnet/core/blob/master/roadmap.md) and a future update to the .NET Framework.  If you don't have an acceptable workaround and need an update to .NET Core 1.x you can respond on this thread and I'll see what we can do.  If you need an update to one or more releases of the .NET Frame

[2017-04-26 22:43] #10826 closed

[2017-04-26 22:46] briansull commented on #11241
You could add an additional optional parameter at the end:

` emitAttr    reg2attr /* = EA_UNKNOWN */`

Any other kind of change would require the addition of a new variant with a different name:
Perhaps like this:

`emitIns_RP_RP_R_I()`

[2017-04-26 22:59] RussKeldorph commented on #8158
@pgavlin I think we are not.  We can reopen if we see it again.

[2017-04-26 22:59] #8158 closed

[2017-04-26 23:08] #6408 closed

[2017-04-26 23:10] sdmaclea opened #11246 "VM #define Sleep macros break GC"
In various places, the VM introduces ```#define Sleep(a) Dont_Use_Sleep(a)```.  These are troublesome for the GC which has to introduce a workaround.

Per @jkotas  "this hack made sense for full .NET Framework. It is not really valuable for CoreCLR. I would rather delete all the code to #define Sleep to prevent people from using it."

My tip has these #define for Sleep in headers...

[code]

[2017-04-26 23:53] #10792 closed

[2017-04-26 23:59] gkhanna79 opened #11248 "Working towards 2.0.0 release"
@hqueue @jyoungyun @hseok-oh

I wanted to share some additional data with you all since we forked for release/2.0.0.

We are working towards getting all bugs, identified to be fixed for .NET Core 2.0 Preview2 and RTM release, by 5/10 for CoreCLR, CoreFX and Core-Setup repos. Please plan to get your fixes in the respective master branches by 5/10 EOD PST.

After 5/10, master branch contents will be

[2017-04-27 00:59] sdmaclea commented on #11241
OK.  I think I'll prototype this using the optional parameter at the end.

[2017-04-27 01:02] jnm2 commented on #6408
@ayende Hey, remember this conversation?

[2017-04-27 01:42] #9414 closed

[2017-04-27 03:40] seanshpark commented on #11123
cc @hseok-oh @hqueue

[2017-04-27 03:49] wateret commented on #11223
@janvorli Thank you for your response, and I'm sorry that I was not clear.

I should have written "is", not "was". I am still thinking about how to handle this issue.

In gcinfo.h there is this comment and constant definitions. It says the second bit is used as "this" for tracked which implies "pinned" are not allowed for tracked.

[code]

the COMPlus_GCDump shows:

**Current master** (causes doub

[2017-04-27 04:03] wateret commented on #11223
@janvorli

x86 GCInfo tracked variables are encoded with unsigned delta from the previous entry. That implies the tracked entries must be ordered by `vpdBegOfs`, non-decreasing. Here's [relevant code](https://github.com/dotnet/coreclr/blob/4d1df6367de8df74a4d1fb3fe079e181c511d76b/src/jit/gcencode.cpp#L2224). If `begOffs < lastOffset`, we get an assert failure.

Good point. Thank you!
I thought abo

[2017-04-27 04:50] #10890 closed

[2017-04-27 06:17] tijoytom commented on #9287
@hughbe wrote this test in corefx , but i was decided to move it coreclr, guess it never happened.
https://github.com/dotnet/corefx/pull/17804

[2017-04-27 06:29] yizhang82 commented on #9287
@tijoytom Yep. I remember the reason was that coreclr has better native test support.
@hughbe Are you planning to give this another try?

[2017-04-27 06:34] yizhang82 commented on #6707
Unhandled Exception: System.BadImageFormatException: An attempt was made to load a program with an incorrect format. (Exception from HRESULT: 0x8007000B (COR_E_BADIMAGEFORMAT))
   at Framework.M.G3_C1084.T[T0,W](W inst, String exp)
   at Framework.ConstrainedCallsTest() in D:\GitHub\coreclr\tests\src\Loader\classloader\TypeGeneratorTests\TypeGeneratorTest612\Generated612.il:line 1654
   at Framewo

[2017-04-27 06:34] yizhang82 commented on #6707
The exception is here:

[code]

[2017-04-27 06:34] hughbe commented on #9287
Yeah I was, unfortunately my internet at home (I live in cambodia) is too slow to restore nuget packages. Never got round to doing this in a cafe or at work. Will get something out soon!

[2017-04-27 06:38] yizhang82 commented on #9287
@hughbe Awesome. Really appreciate your help making the product better!
@ericstj Do you have suggestions on how to increase the nuget restore timeout?

[2017-04-27 06:54] blumu commented on #11090
Note: The CLR bug is fixed only in .NET Core and .NET Framework 4.7 (released just 20 days ago). Unfortunately .NET Framework 4.7 is available only for Windows 10 Creators Update at the moment. So for most people the best workaround so far is to build in debug mode or in 32 bit (target either x86 or select `Prefer 32 bits` option in the F# project properties).

[2017-04-27 07:44] tmds commented on #11232
@aslicerh @jkotas I've split this issue into two specific cases:
- https://github.com/dotnet/cli/issues/6437
- https://github.com/dotnet/cli/issues/6438

Can we close this issue in favor of those?

cc @omajid

[2017-04-27 08:04] ayende commented on #6408
@jnm2 Context?

[2017-04-27 08:35] hqueue commented on #6298
I think retry logic can be implemented in two ways.
- (1) Update `runtest.sh` with a new option to retry failed tests when `qemu` related error observed and ARM32 CI make use of the option.
- (2) Use existing `runtest.sh`, and `arm32_ci_test.sh` implements all retry logic.

(1) may be preferred over (2) in general (right?)

What do you think of it ?

[2017-04-27 11:13] gbalykov commented on #11076
@jkotas,

Micro-benchmark showed next results:
- Cortex-A7 softfp:
      before: 12.81s (user time)
      after: 10.488s (user time)
- Cortex-A15 softfp:
      before: 5.3s (user time)
      after: 4.68s (user time)

[2017-04-27 12:15] #11232 closed

[2017-04-27 12:40] hughbe commented on #9287
The restore timeout for dotnet restore can't be customised unfortunately. I've got decently internet but it varies minute per minute so I can actually download the packages of there was no timeout. No biggie though

[2017-04-27 13:08] jnm2 commented on #6408
https://ayende.com/blog/174850/how-timers-works-in-the-clr comments.

[2017-04-27 13:23] ondrejtomcik opened #11256 "Marshal.SizeOf<T>() not working on linux"
I have a problem with `Marshal.SizeOf<T>()` in linux. When I run .net core 1.1 application on windows, it's working properly. When I run it on linux, I always receive exception:

`Unhandled Exception: System.ArgumentException: Type 'ListenContext' cannot be marshaled as an unmanaged structure; no meaningful size or offset can be computed.`

Here is the ListenContext
[code]
FindCallback
[code]

I c

[2017-04-27 13:28] aslicerh commented on #11232
The reason the issue is not addressed by NuGet/Home#4424 is because there will be packages built from before whatever PR fixes that is implemented and these pre-existing packages will not have any defined permissions and instead will receive the defaults. The same will (most likely) always be true for cross-platform packages built on Windows for unix-y platforms.

The reason that this could be a p

[2017-04-27 13:29] axelbodo commented on #2688
With AssemblyLoadContext.Default.Unloading literally you are enabled to place a shutdown hook, so imo it is a question in what state the runtime is in that point. A related queston which I not found here: When I call IApplicationLifeTime.StoppApplication in other place than the Unloading event (e.g. ina controller handler), after the unloading executes, the Kestler will throw an ObjectDisposedExce

[2017-04-27 13:59] gregkalapos commented on #295
@jkotas @agocke
My team (outside Microsoft) has the same problem.
The prototype implementation is very promising! Thanks for that!
I noticed that around exceptions there is nothing implemented, so the tool gives up very quickly on a ‘real-world’ assembly. I started to implement some missing features. What is the current state of this tool? Does Microsoft have an internal version, or is the prototy

[2017-04-27 14:06] jkotas commented on #11256
There is no COM interop on Unix, and so the IClientWrapper interface cannot be marshalled on Unix.

[2017-04-27 14:08] ayende commented on #6408
Looks good

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Thu, Apr 27, 2017 at 4:09 PM, Joseph Musser <notifications@github.com>
wrote:

[2017-04-27 14:29] jkotas commented on #295
The GitHub branch has the latest version.

PEVerify tool from .NET Framework. They would love to have something better that works cross-plat, is open source, etc. We just did not find time to make it happen.

PRs are welcomed! I have merged master to the ILVerify branch to make it current.

The tool is not in master because there was no traction on it. If there is interest in the standalone IL Ver

[2017-04-27 14:43] dagood commented on #11225
There's a proposal to be able to do this easily here: https://github.com/dotnet/corefx/issues/16629. Until then, I don't think there's a way that works in all cases.

A workaround @eerhardt suggested last time this came up is to check the folder name of the running shared framework like CLI does, but that doesn't work for standalone apps: https://github.com/dotnet/cli/blob/51dc988fa21cd28ea3e4077b

[2017-04-27 15:02] kouvel commented on #2688
Finalizers don't run on shutdown in .NET Core, so if the finalizer calls `Dispose` and the object is held in a static field or is otherwise reachable, `Dispose` won't be called on shutdown. See dotnet/corefx#5205 for more details.

If you have unmanaged resources that need to be cleaned up on graceful shutdown, the `Unloading` event can be handled to do so. Since other code may run during or after

[2017-04-27 15:09] RussKeldorph commented on #6298
I'm less concerned about how it's implemented and more concerned about the requirements.  I strongly prefer retrying at the lowest level possible (e.g. individual test cases) rather than retrying all the tests if only one fails spuriously.  I assumed that meant going with your option (1), but I suppose you could achieve the same goal in other ways.  I think if a single invocation of `runtest.sh` i

[2017-04-27 15:13] janvorli commented on #11232
@aslicerh the issue description seems a bit misleading to me. The #7995 has changed the default attributes for general file creation, while your concerns, if I understand them correctly, are rather related to the package restoration. That seems like an orthogonal thing to me.
If that's the case, I don't see how the #7995 would cause troubles. If an app writes out a file that it expects to be execu

[2017-04-27 15:44] eerhardt commented on #11225
What exactly is it you want?  Just some sort of version that will uniquely tell you if you are on a different runtime?  Does the version need to match/correspond to any of our "marketing" versions (i.e. .NET Core 1.0, 1.1, 2.0)?  Is it explicitly "coreclr" that you are looking for?

We have an API: https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.runtimeinformation.framew

[2017-04-27 15:48] aslicerh commented on #11232
Well, the 'Issue' is more of a suggestion, but I didn't see anything with or about, for example, an [Enhancement] tag.

The reason this applies to packaging is because, at the least, the zip extraction for packages is going to use OpenHandle. So it isn't quite orthogonal, just more of a consequence not directly in this project. If you need an example of the existing discussion about this, you can

[2017-04-27 16:02] rolfbjarne commented on #2426
Maybe something more generic can be implemented, which would work for other type variations as well:

[code]

And at runtime the JIT calls `ConditionalFieldTypeAttribute.GetFieldType ()` and replaces the type of the `value` field with the returned type.

[2017-04-27 16:08] janvorli commented on #11232
@aslicerh thank you for all the details.

[2017-04-27 16:17] ondrejtomcik commented on #11256
Hello @jkotas, thanks for an answer.
I am wrapping IoTivity c libraries. This is exact use-case:

[code]

[2017-04-27 16:37] yizhang82 commented on #11256
@ondrejtomcik It appears that OCCallbackData is only asking for a opaque void * for the context - and you want to put arbitrary managed data structure on it. The best way is perhaps to allocate a GCHandle and point to your class instead. This way you don't need to marshal anything and can put any data you want in the data structure.

[2017-04-27 16:40] yizhang82 commented on #6838
Addressed by https://github.com/dotnet/coreclr/pull/11096

[2017-04-27 16:40] #6838 closed

[2017-04-27 17:46] #10097 closed

[2017-04-27 18:05] gkhanna79 commented on #11228
I am looking into this.

[2017-04-27 18:26] fanoI commented on #2426
Could not be done simply in this way:

[code]
on Windwows32 / Windows64 'a' will be the same thing of System.Int32 or Linux it will be System.Int64!
While I find nint / nuint of limitate usage as a proper type in C# itself (but I hope to see used in low level code seeing people use nint as the "i" variable of a for will make me puke!) I find nlong useful only on Native Interop, a nlong type will c

[2017-04-27 18:29] janvorli commented on #11159
Fixed by #11226

[2017-04-27 18:29] #11159 closed

[2017-04-27 18:59] #11113 closed

[2017-04-27 19:08] gkhanna79 commented on #10382
@janvorli Can you PTAL?

[2017-04-27 19:11] sandreenko opened #11263 "Delete old version of bitset::ClearD."
Replace it with the new version, that doesn't allocate new buffer when it is possible or with MakeEmpty(#11233).

[2017-04-27 19:17] gkhanna79 commented on #10209
CC @janvorli

[2017-04-27 19:19] gkhanna79 commented on #9699
@joshfree @ahsonkhan Is this still on for .NET Core 2.0?

[2017-04-27 19:22] gkhanna79 commented on #10646
CC @janvorli

[2017-04-27 19:22] ahsonkhan commented on #9699
No, this can wait till 2.1.

[2017-04-27 19:24] gkhanna79 commented on #5310
@russellhadley @swaroop-sridhar Is this still on for 2.0?

[2017-04-27 19:29] gkhanna79 commented on #10693
CC @mikem8361 who is working to validate the changes against Debugger/Profiler tests. We cannot merge this until that is complete.

CC @lt72 @janvorli

[2017-04-27 19:29] gkhanna79 commented on #4241
Is this for 2.0 @swaroop-sridhar @russellhadley @RussKeldorph ?

[2017-04-27 19:33] RussKeldorph commented on #4241
@gkhanna79 We aren't blocked by this.  Up to you whether you want to fix it.  I assume HeapVerify=7 was valuable at some point, but I don't know if its value exceeds the cost to maintain it.

[2017-04-27 19:46] gkhanna79 commented on #4241
I am moving it out to future since we have shipped multiple releases without it.

[2017-04-27 19:50] russellhadley commented on #5310
I think no.  @RussKeldorph do you agree?  Swaroop is focused on the Linker for 2.0.

[2017-04-27 19:55] RussKeldorph commented on #5310
This one is terrible, but we don't have cycles to fix the fundamental problem in GCStress.  Best we can do is try to work around it in the test runner.  I've discussed doing so with @pgavlin.

Would love to see this fixed someday, but it's not blocking 2.0.

[2017-04-27 20:09] danwalmsley commented on #11170
yes, iv tested now with the fix!

[2017-04-27 20:09] #11170 closed

[2017-04-27 20:25] ayende opened #11265 "Race condition when multiple tasks concurrently start awaiting on a task just at it complete"
The following code starts a potentially expensive operation. That operation is cached, but because it can take a while, we want to cache the result, and if additional clients need the same operation, they can join the wait on the already started load.

The code below reproduce a hang on my machine, where out of five clients that started to listen to such a task, 4 of them are hanging.

The output

[2017-04-27 20:44] lt72 commented on #10693
@mikem8361 FYI. MIke has been lookign at the changes and he is trying to run the debugger tests against this change. We are currently experiencing some issues but Mike may have more info later this week or early next week.

[2017-04-27 20:48] gkhanna79 commented on #5310
Should I move this to Future?

[2017-04-27 20:50] jkotas commented on #10646
https://github.com/dotnet/coreclr/issues/10646

[2017-04-27 20:52] sdmaclea commented on #10769
@briansull I assume the large stack offset issue is not impossible to solve.  I'll plan on looking at emitIns_R_S & emitIns_S_R next week, I will use the names emitIns_R_R_S & emitIns_S_R_R.  Unless you have a preference.  I might have to special case the large stack offset case (prevent ldp/stp or claim an additional temporary).

[2017-04-27 20:52] swaroop-sridhar commented on #5310
Yes, I think so; I've moved it to future -- we can bring it to 2.1 if it blocks more testing, and fits in schedule.

[2017-04-27 21:01] stephentoub commented on #11265
Are you sure it's a race in the implementation of Task and not just that `await` uses synchronous continuations by default?  If multiple synchronous continuations are hooked up to the same task that's not yet completed, then when it completes it's going to invoke those continuations synchronously as part of its completion, and if there are multiple of them, they'll get serialized... if the first o

[2017-04-27 21:09] benaadams commented on #11265
They all continue to count up
[code]

[2017-04-27 21:11] ayende commented on #11265
@stephentoub Looks like you are correct. This looks like the underlying reason.
At least, adding this value resolve the issue in my small test. I'll test it to see if this happens the same way in my largest scope project.

I don't _think_ that I have anything there that is running for a long time without waiting for it.

[2017-04-27 21:39] jkotas opened #11270 "GC hole in System.Runtime.CompilerServices.ConditionalWeakTable+Enumerator"
Repro: Run CoreFX System.Runtime tests against Windows CoreCLR x64 Debug build

Result:

`Assert failure(PID 37252 [0x00009184], Thread: 15516 [0x3c9c]): !CREATE_CHECK_STRING(!"Detected use of a corrupted OBJECTREF. Possible GC hole.")`

At this callstack:

[code]

[2017-04-27 22:36] gkhanna79 commented on #11228
Reopening until test is re-enabled in CoreFX.

[2017-04-27 22:37] gkhanna79 commented on #11228
Actually, re-enabling will be tracked by https://github.com/dotnet/coreclr/issues/11228.

[2017-04-27 22:37] #11228 closed

[2017-04-27 22:39] #10646 closed

[2017-04-27 22:47] RussKeldorph opened #11273 "Assert failure(PID 5480 [0x00001568], Thread: 10988 [0x2aec]): Assertion failed 'handlerGetsXcptnObj(compiler->compCurBB->bbCatchTyp)'"
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_minopts/156/

[code]

[2017-04-27 22:49] ellismg commented on #5318
It's not required for 2.0.  Once Wes's buildtools work lands I want to make some small changes to init-tools.sh so I'll do this then, but if it misses 2.0, that's fine.

[2017-04-27 22:49] gkhanna79 commented on #5853
@janvorli Should this be closed?

[2017-04-27 22:56] CarolEidt opened #11274 "Improve handling of fixed register requirements"
When a node has a delayed-use register (either due to an RMW def or due to an internalRegDelayFree), if its result has a fixed-use, we can't propagate the register constraint to the def, because there's no associated fixed-reference on the `RegRecord` to ensure that it will not be used by the delay-free register.
So, in those cases we leave the `registerAssignment` unchanged on the def, although t

[2017-04-27 23:13] janvorli commented on #5853
After the investigations and various experiments, it turned out that static linking is not feasible from various points of view and that a better approach to achieve portability over Linux distros is to change linking of some dependencies from build time to run time and to enable bundling of local copies of shared libraries. This has proven to work well, so I am closing this issue.

[2017-04-27 23:13] #5853 closed

[2017-04-27 23:40] jashook opened #11276 "[x86][Jit32] Math*.cmd failing"
Effected Tests:

<pre>
\CoreMangLib\cti\system\mathf\MathFCos\MathFCos.cmd
\CoreMangLib\cti\system\mathf\MathFSin\MathFSin.cmd
</pre>

Example Output:

<pre>
BEGIN EXECUTION
         "D:\core\temp\coreclr\tests\..\bin\tests\Windows_NT.x86.Checked\Tests\Core_Root\corerun.exe" MathFCos.exe
        Beginning test case Testing System.MathF.Cos(System.Single)... at 4/27/2017 3:27:52 PM
        Random s

[2017-04-28 00:01] janvorli commented on #5761
I think that having GCStress mode C support is not urgent and we got all the coverage from Linux builds where the GC related stuff is the same as on OSX. So I'd suggest moving it to future.

[2017-04-28 00:03] adityamandaleeka commented on #5761
@janvorli Yup, I agree. I meant to move it earlier, but was busy with other work. Moved it now.

[2017-04-28 00:08] janvorli commented on #11171
@directhex I've fixed the problem in https://github.com/dotnet/corefx/issues/19070

[2017-04-28 00:18] danwalmsley opened #11279 "COM Interop not working on Linux builds"
I noticed this.. and got the exception...

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/RtType.cs#L4885

Will this be implemented in netcore 2.0?

current windows builds this works fine.

[2017-04-28 01:06] #11142 closed

[2017-04-28 02:06] ramarag commented on #10088
@jabbera can you share the cli you are using ? also can you try out the latest cli from https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-dev-win-x64.latest.zip

From what i see, we are shutting down coreclr, when we unexpectedly get a callback due to IO completion from windows

[2017-04-28 02:12] jkotas opened #11282 "AF: bRes && "Failed to SetThreadContext in RedirectThreadAtHandledJITCase - aborting redirect.""
Repro:

1. Save the following as test.cs:
[code]
2. `csc /noconfig /nostdlib /r:System.Private.CoreLib.dll  /o+ test.cs`
3. `corerun test.exe` on Windows x64 Debug CoreCLR Build

Result (takes a few minutes):

[code]

[2017-04-28 02:14] jkotas commented on #11282
Running into this reliably while trying to trace down #11270

[2017-04-28 03:04] danmosemsft commented on #11201
Hi @reader-man could you share a bit about what you use decimal for that needs that precision?

[2017-04-28 03:13] hqueue opened #11284 "[RyuJIT/ARM32] GTF_IND_UNALIGNED support"
It is reported that there is no support for `GTF_IND_UNALIGNED` yet in ryujit/arm32 at https://github.com/dotnet/coreclr/pull/11224#issuecomment-297797614.

[2017-04-28 04:28] hqueue opened #11286 "[RyuJIT/ARM32] Refine LSRA to support double register allocation"
LSRA of ryujit/arm32 make use of old ARM32 implementation to allocate double register by exploiting existing single-float RegRecord.
There is a discussion and suggestions to improve current implementation  at https://github.com/dotnet/coreclr/pull/10972.

After bring up LSRA for ryujit/arm32, it would be worthwhile to enhance current implementation.

[2017-04-28 06:16] noahfalk opened #11288 "ICorProfilerInfo6::EnumNgenModuleMethodsInliningThisMethod may fail to report inlining sites in some cases"
If ICorProfilerInfo6::EnumNgenModuleMethodsInliningThisMethod is called when:
a) The inlinersModuleId refers to a module compiled via NGen (not R2R, specifically NGEN only)
b) The inlineeModuleId refers to a module that has only loaded to a load level < DELIVER_EVENTS

Then it will fail to report methods which did in fact inline the target method. It will also not set incompleteData = TRUE, so the

[2017-04-28 06:19] danmosemsft commented on #3078
@ericstj ping for above q

[2017-04-28 06:20] danmosemsft commented on #6503
@DrewScoggins ?

[2017-04-28 06:21] danmosemsft commented on #8974
MOving it out.

[2017-04-28 06:22] danmosemsft commented on #10052
@DrewScoggins ?

[2017-04-28 06:23] danmosemsft commented on #9314
@valenis @DrewScoggins @wtgodbe is still still in the 2.0 plans? If not please move to Fture.

[2017-04-28 06:50] yizhang82 commented on #11279
@danwalmsley Sorry. COM interop is not supported on linux (hopefully shouldn't be surprising). Typically people who asks for these are porting their existing COM code to linux or working with CoreCLR COM-based API (such as ICorDebug). Is that what you are doing?

[2017-04-28 06:55] danwalmsley commented on #11279
Im trying to integrate the dotnet core debugger, ICorDebug
Surely it must be possible to use this api on Linux?

[2017-04-28 07:01] yizhang82 commented on #11279
@danwalmsley You can use C/C++ to do v-table calls on ICorDebug. If you have more questions, @noahfalk can point you to the right direction.

[2017-04-28 07:09] danwalmsley commented on #11279
@yizhang82 thanks for the pointer 😀
Is the a plan to bring com Interop even in a limited form?

Mono already supports this I believe.

[2017-04-28 07:09] danwalmsley commented on #11279
@kekekeks

[2017-04-28 07:10] yizhang82 commented on #10944
I don't think we support C++/CLI on CoreCLR.

[2017-04-28 07:10] mmayr-at commented on #11173
@RussKeldorph
Many thanks for the linked issue! My team, especially @gregkalapos, had a look at the ILVerify prototype and it looks very promising. I will close this issue and continue the discussion on #295.

[2017-04-28 07:10] #11173 closed

[2017-04-28 07:17] parjong commented on #11200
@BruceForstall Could you please reopen this issue? #11224 resolves two double-related failures, but struct-related cases still fails:
[code]

[2017-04-28 07:18] yizhang82 commented on #11279
@danwalmsley We don't have concrete plans yet. If we see strong feedback from community there is a good chance we might bring it back in CoreCLR, or introduce code generator that can spits out wrapper code. Supporting it in CoreCLR is not trivial as we need to properly #ifdef out the Windows-specific part (such as activation, apartments, etc) and only support the "core" COM part (ref counting, QI,

[2017-04-28 08:22] danwalmsley commented on #11279
@yizhang82 the code I am using to interface with ICorDebug compiles and runs on mono successfully (I think), do you think I could somehow compile that assembly on mono and include somehow monos com support, then call the mono assembly from netcore2.0?

[2017-04-28 08:26] gregkalapos commented on #11225
The proposed ‘RuntimeVersions‘ in #16629 is actually what I’d need.

So, to describe a scenario: let’s say we implement a monitoring tool, which is used by big organizations with strict policies installed versions, etc. There are people responsible for operation, who may not be C# coders. For a distributed .NET Core system running on 50 machines when a new update comes out we want to report on whi

[2017-04-28 08:26] #11225 closed

[2017-04-28 09:19] kekekeks commented on #11279
If I remember correctly, Mono has support for COM, but not ActiveX or OLE, so one can consume anything that's based on IUnknown/IDispatch mostly without issues. It does, however, have issues with implementing COM interfaces, ref-counting is somewhat broken and CCWs passed to native code get garbage collected while still having references. Performance isn't that great, unfortunately.

The feature i

[2017-04-28 14:09] jkotas commented on #11282
This is Windows OS bug in Windows Creators Update (aka Windows 10 RS2).

[2017-04-28 14:53] gkhanna79 commented on #3078
I believe this can be closed since now we only have s.p.c.dll in the nuget package.

[2017-04-28 14:56] Rcomian opened #11292 "Does reflection loading use the compatibility shim? (if not, can it)"
I'm trying to load a .NET Framework assembly into my .NET Core project through a call to `System.Reflection.Assembly.LoadFrom(path)`.

I can add a reference to the assembly and use the classes inside that assembly fine. Adding the file via a reference uses the compatibility shim and works fine.

Through reflection, however, I get the following error:

[code]

I don't think there's any legitimate r

[2017-04-28 14:59] gkhanna79 commented on #10944
Correct - C++/CLI is not supported on .NET Core.

[2017-04-28 15:02] gkhanna79 commented on #11248
@hqueue @hseok-oh @jyoungyun Please let me know if you have any questions around this.

[2017-04-28 15:41] #6707 closed

[2017-04-28 15:56] DrewScoggins commented on #10052
I looked at both files in the Span directory, and neither of them have GetTypeInfo commented out.  So I am closing this issue as it is no longer relevant.

[2017-04-28 15:56] #10052 closed

[2017-04-28 16:17] danmosemsft commented on #10868
@dleeapho there are 3 of these symbol tasks -- do you expect to get them done for ZBB on 5/10? Want to make sure this isn't falling between teams.

@weshaggard @markwilkie @Chrisboh

[2017-04-28 16:17] danmosemsft commented on #10868
Also what if naything needs doing here for preview1.

[2017-04-28 16:19] danmosemsft commented on #10809
@dagood is this on track for 5/10 ZBB?
@dleeapho @markwilkie @Chrisboh @weshaggard

[2017-04-28 16:20] danmosemsft commented on #9903
@parjong @MichaelSimons who owns the next action here? Is this on track to be closed by 5/10 ZBB ?

@weshaggard @markwilkie @Chrisboh

[2017-04-28 16:22] danmosemsft commented on #9884
@chcosta can you pleas give an update? On track for 5/10 ZBB?
@weshaggard @Chrisboh @markwilkie

[2017-04-28 16:23] danmosemsft commented on #9689
@gkhanna79 is this on track for ZBB? are you doing the work yourself or should it be assigned to someone else?
@weshaggard @Chrisboh @markwilkie

[2017-04-28 16:24] danmosemsft commented on #5834
@ericstj is this on track for ZBB or is it fixed or something else? Are you the right owner?
@weshaggard

[2017-04-28 16:25] #3078 closed

[2017-04-28 16:25] danmosemsft commented on #3078
@ericstj closed as above

[2017-04-28 16:28] chcosta commented on #9884
/cc @ericstj as an FYI as well

The timeline is currently tight, bringing up official builds revealed a lot of gaps and pushed the schedule out.  I'll feel better about this after core-setup official builds are back up, but there are a lot of moving pieces.  I'll sync with @Petermarcu to see if there are resources available.  Otherwise, I'll, unfortunately, be able to give you a better estimate ar

[2017-04-28 16:34] dagood commented on #10809
Yes, I'm creating a PR on `master` today. I'll be working on porting it to `release/2.0.0` after that.

The PR is the same concept as this one in CoreFX: https://github.com/dotnet/corefx/pull/18350 "Add separate symbol publish (index/archive) build leg". (I also will be porting that to CoreFX/release/2.0.0.)

[2017-04-28 16:40] danmosemsft commented on #9884
Thanks @chcosta !
@gkhanna79

[2017-04-28 17:10] russellhadley opened #11293 "RyuJIT: Add unreachable code removal pass"
Perform full pass of unreachable code removal after (global) assert/const prop.

[2017-04-28 17:12] kouvel commented on #10673
Not able to repro this after many runs. The issue is probably not even related to this test. Closing for now.

[2017-04-28 17:12] #10673 closed

[2017-04-28 17:31] #10088 closed

[2017-04-28 17:54] dleeapho commented on #10868
This is tracking infra work that is set to be done post ZBB (5/8-5/26). @lt72 is aware of the timeline.

@lt72, correct me if I'm wrong but none of this is in scope for preview1.

[2017-04-28 17:57] #11241 closed

[2017-04-28 18:17] mikedn commented on #11282
Yay, I thought that there's something wrong with my local builds cause I keep seeing this lately.

[2017-04-28 18:21] ericstj commented on #5834
This should be owned by @gkhanna79.

In 1.0 the CoreCLR package didn't mark all of its runtime packages as stable, nor did it trim the unstable ones out.  The result was that folks could get unstable bits by referencing a stable package and restoring for a particular runtime.  It also meant that we had to publish those unstable bits on NuGet.org when folks weren't necessarily ready to do that.

Wh

[2017-04-28 18:24] ericstj commented on #3078
FWIW the coreclr package is still containing both the NI and IL for System.Private.CoreLib.  Gaurdrails is no longer an issue but both files may be included for other reasons.  It'd probably be a good idea for folks working on the CLR to review all the content they are contributing to shared-framework / Core.App package and confirm that its all there and has a good reason for being there.

[2017-04-28 18:29] gkhanna79 commented on #3078
With https://github.com/dotnet/coreclr/pull/11040, only a single SPC.dll is in the package - and it is either the IL assembly or NI renamed to SPC.dll.

[2017-04-28 18:44] lt72 commented on #10868
you are correct: none of this is in scope for preview 1.

[2017-04-28 18:50] karelz commented on #10868
Just want to clarify Preview1 and ZBB are independent dates. Preview1 work happens in rel/2.0.0 branch. ZBB is for master and last integration from master to rel/2.0.0 branch.

Infra work is fine to be post-ZBB, just send me and Dan list of things you want to move there. Thanks!

[2017-04-28 18:50] DrewScoggins commented on #6503
I have this [PR](https://github.com/dotnet/coreclr/pull/11297) open to add these instructions.

[2017-04-28 18:50] danmosemsft commented on #5674
needs to be area- something. Tizen I guess

[2017-04-28 18:52] danmosemsft opened #11298 "Improve error message when x86/64 bit dlls are inadvertently used together"
@KathleenDollard commented on [Tue Apr 25 2017](https://github.com/dotnet/corefx/issues/18931)

The current message is bad image format. This doesn't encourage the developer to check for mismatched targets.

Additional text can resolve this problem.

---

@karelz commented on [Tue Apr 25 2017](https://github.com/dotnet/corefx/issues/18931#issuecomment-297207743)

I think it belongs into CoreCLR re

[2017-04-28 21:06] yizhang82 commented on #11279
@danwalmsley You can't run the mono assembly using CoreCLR because that means you are running on CoreCLR and you still don't have COM interop feature. You need to run CoreCLR and mono in the same process, and they have to communicate with well-defined ABI, such as C. It's doable, but you need to write your own glue code, and you can't pass objects around (since a Mono object is not a CoreCLR objec

[2017-04-28 21:25] mikem8361 commented on #8474
@tmds Does this issue still repro?

[2017-04-28 21:32] gkhanna79 commented on #5834
Yes, in 2.0 (as we have done for 1.1.0 as well), we stabilize all our packages. However, we will choose to publish (to nuget) only certain packages and exclude some (e.g. Arm32 and Arm64).

I don't believe this issue exists anymore and thus, I think we can close this.

@weshaggard Any concerns with this?

[2017-04-28 21:48] jkotas opened #11299 "Reflection on enums creates instances of open generic types"
From https://codeblog.jonskeet.uk/2017/04/26/surprise-creating-an-instance-of-an-open-generic-type/

[code]

[2017-04-28 21:49] gkhanna79 commented on #7103
@jaredpar Is this for 2.0? If not, can you please move this out?

[2017-04-28 21:49] jkotas commented on #11299
cc @AtsushiKan

[2017-04-28 21:49] gkhanna79 commented on #5721
@lt72 Is this on track for ZBB on 5/10?

[2017-04-28 21:50] gkhanna79 commented on #4299
@mmitche Are you working on this?

[2017-04-28 21:57] lt72 commented on #4299
@mmitche: the reason why we need this is because building against 3.9 would fix many issues the current SOS plugin has. This would debugging through SOS a much more pleasant experience.

[2017-04-28 21:59] mmitche commented on #4299
@gkhanna79 Not the exact moment.  Can you file a work item noting which runs need this change?

[2017-04-28 22:00] lt72 commented on #5721
We are not doing any MCJ work in 2.0. Moving to 2.1.

[2017-04-28 22:02] MichaelSimons commented on #9903
@parjong, @hseok-oh, @gkhanna79 - Is the remaining work to get a "trusted" x86 ubuntu image?  If so, I would like to see the product team define the Dockerfile.  I will take ownership of ensuring it gets built and pushed to microsoft/dotnet-buildtools-prereqs.

cc @dleeapho

[2017-04-28 22:05] weshaggard commented on #5834
I think we should publish all the packages we produce and stabilize to nuget.org, otherwise there will be dangling dependencies which we want to avoid.

[2017-04-28 22:10] mattwarren commented on #11299
Would this issue ever be 'up-for-grabs'?

If so I'd be happy to attempt it, I've recently looked at the reflection code for #9215.

[2017-04-28 22:10] gkhanna79 commented on #5834
We can chat about this offline. For now, I think we can close this issue since it is addressed (i.e. there will not be stable->unstable references).

[2017-04-28 22:10] #5834 closed

[2017-04-28 22:18] jkotas commented on #11299
@mattwarren It's yours. Thanks!

[2017-04-28 23:01] briansull opened #11301 "Building CoreCLR using VS 2017 fails."
**Update:  I had the incorrect version of CMake installed**

CMake 3.72 is required and below I had CMake 3.5.2 (installed via Azure Artifacts)

***************************************************

Start a new "Developer Command Prompt for VS 2017"
 type "build.cmd"

build.cmd
Starting Build at 15:51:39.64
BUILD: Commencing CoreCLR Repo build
BUILD: Checking prerequisites
BUILD: Using environment:

[2017-04-28 23:06] benaadams commented on #11301
You have to install latest CMake https://cmake.org/download/

[2017-04-28 23:08] gkhanna79 commented on #4299
@lt72 can share the details.

[2017-04-28 23:13] briansull commented on #11301
I have this version of cmake in my path:

cmake --version
cmake version 3.5.2

CMake suite maintained and supported by Kitware (kitware.com/cmake).

[2017-04-28 23:17] wtgodbe commented on #10734
Assigning you @pgavlin since you are working on https://github.com/dotnet/coreclr/pull/11262

[2017-04-28 23:23] mikem8361 commented on #4299
What details do you need?  The “liblldb-3.9-dev” (ubuntu/Debian) package needs to be on any machine we build coreclr on. What makes this complicated is all the non-ubuntu/Debian platforms.  I think FreeBSD might have a yum package for 3.9.

[2017-04-28 23:28] briansull opened #11302 "Build.cmd should check the version ID of cmake before proceeding"
If you have installed a older version of cmake you get a poor user experience.
(see #11301 )

The CLR Azure Lab currently contains CMake 3.5.2 which can be selected as an "Artifact" available for installing.  This version does not work with coreclr build.cmd

[2017-04-28 23:29] briansull commented on #11301
I opened a new issue to add a version check on cmake to build.cmd

[2017-04-28 23:29] #11301 closed

[2017-04-28 23:30] benaadams commented on #11301
I have:
[code]

I previously had this problem until I updated CMake; it didn't understand VS2017

[2017-04-29 00:49] briansull opened #11305 "Error "Class not registered" when building inject_debug_resources.vcxproj"
57>CustomBuild:
         coreclr
         Microsoft (R) C/C++ Optimizing Compiler Version 19.10.25019 for x64
         Copyright (C) Microsoft Corporation.  All rights reserved.

         daccess.cpp
         Microsoft (R) CLR External Data Access Data Table Generator Version 0.3
         Copyright (C) Microsoft Corp.  All rights reserved.

         BUILDMSG: System.Runtime.InteropServices.COMExce

[2017-04-29 01:44] briansull commented on #11305
It looks like the following "Important" instruction is responsible for this error:

[code]

[2017-04-29 01:48] briansull commented on #11305
In order for that command to be successful it must be run in a 32-bit command window and not the default 64-bit command window.

Use the following to start a 32-bit command window:

[2017-04-29 03:10] parjong commented on #9903
@damnosemsft #10728 resolved checked build PAL test failures.

[2017-04-29 07:07] karelz commented on #7263
Do we still need this issue in CoreCLR, or is it tracked by something in CLI?

[2017-04-29 07:07] karelz commented on #7263
cc @gkhanna79

[2017-04-29 07:09] karelz commented on #7592
I'll be brave and say that this is not worth the effort. And close it. Feel free to push back if you think otherwise.

[2017-04-29 07:15] karelz commented on #8223
It looks like there is nothing actionable for CoreCLR here to track. Closing.
Feel free to reopen/speak up if I missed something. Thanks!

[2017-04-29 07:15] #8223 closed

[2017-04-29 07:19] karelz commented on #11156
Long thread :( - @benaadams is it tracking only ThreadPool issue or are there more thing here?
Anything critical for 2.0? (i.e. not a regression against .NET Core 1.x and Desktop) Thanks for help ;-)

[2017-04-29 07:21] karelz commented on #10848
Is it 2.0 or Future work item?

cc @gkhanna79

[2017-04-29 07:24] karelz commented on #11265
Looks like it is resolved as problem in test code. I'll close the issue.
Feel free to reopen if you find more evidence there is CoreCLR bug.

[2017-04-29 07:24] #11265 closed

[2017-04-29 12:23] benaadams commented on #11156
Is more AsyncMethodBuilder than ThreadPool.

Don't think any regression or critical for 2.0

[2017-04-29 14:00] kouvel opened #11306 "Port fix for mutex, event, and semaphore creation from CoreRT"
Port dotnet/corert@78fae17f5434839a8720603973ff53f27e27f916 to CoreCLR

Fix the following tests that were disabled under UWP:
https://github.com/dotnet/corefx/blob/master/src/System.Threading/tests/MutexTests.cs#L142-L201

[2017-04-29 14:02] kouvel commented on #11306
Issue is reported here: http://stackoverflow.com/questions/36591765/mutex-creation-hangs-while-using-impersonation

[2017-04-29 14:19] mattwarren commented on #11299
Thanks, I just want to check, is fix is to make 'GetValue(null)' through an exception or something else.

[2017-04-29 14:23] jkotas commented on #11299
I think it may be better to return value of the underlying type.

[2017-04-29 14:25] sdmaclea commented on #5674
@danmosemsft JIT is probably generatinig incorrect GCInfo, so should be area JIT

[2017-04-29 14:51] gkhanna79 commented on #10848
Are the measurements done with System.private.corelib.dll crossgened (since, by default, it is not)?

CC @hqueue @hseok-oh

[2017-04-29 14:56] gkhanna79 commented on #7263
This is by design since all packages are expected to evolve on their own. The highlevel version is always of M.N.App and is what should be used as a reference point.

It is possible that M.N.App can increment without increment the version of all constituent packages, so having all package versions to be the same is not always possible.

[2017-04-29 14:57] gkhanna79 commented on #11156
CC @kouvel @alexperovich

[2017-04-29 16:03] karelz commented on #11156
Thanks @benaadams! @kouvel @alexperovich feel free to move it to Reflection if you think it's appropriate ...

[2017-04-29 16:31] dotnet-mc-bot opened #11308 "Test failure: JIT_opt._Tailcall_TailcallVerifyWithPrefix_TailcallVerifyWithPrefix_/_Tailcall_TailcallVerifyWithPrefix_TailcallVerifyWithPrefix_cmd"
Opened on behalf of @gkhanna79

The test `JIT_opt._Tailcall_TailcallVerifyWithPrefix_TailcallVerifyWithPrefix_/_Tailcall_TailcallVerifyWithPrefix_TailcallVerifyWithPrefix_cmd` has failed.

    Unhandled Exception: System.InvalidProgramException: Common Language Runtime detected an invalid program.\r
       at TailcallVerify.Condition1.Caller1()\r
       at TailcallVerify.Condition1.Test1()\r

[2017-04-29 16:32] gkhanna79 commented on #11308
@RussKeldorph Can you please triage this for 2.0.0?

[2017-04-29 16:44] karelz commented on #7263
Should we close it then? Or is it tracking anything useful? @leecow?

IMO if we plan to take any action, we should take it in 2.0, or just close it as By Design.

[2017-04-29 16:52] yizhang82 commented on #10442
Fixed by https://github.com/dotnet/coreclr/pull/11251

[2017-04-29 16:52] #10442 closed

[2017-04-29 17:06] leecow commented on #7263
Details are being worked out in https://github.com/dotnet/designs-review/issues

[2017-04-29 22:04] DrewScoggins commented on #6503
Just merged the PR, closing this issue.

[2017-04-29 22:04] #6503 closed

[2017-04-30 07:30] OtherCrashOverride commented on #2426
The attribute would need to apply to structures in addition to p/invoke signatures.  The proposal would need to be tested in real-world scenarios, but its better than nothing.

[2017-04-30 13:01] NinoFloris commented on #7253
I'd like this very much, especially for high performance scenario's that have no other way than to depend on reflection (like interpreters)

[2017-04-30 21:08] cydhaselton commented on #10997
Could you post more of the output around that error? It's difficult to determine what's wrong based on one line.

[2017-04-30 22:05] danmosemsft opened #11311 "Cleanup public members on AssemblyLoadContext"
These are exposed in CoreFX on AppDomain (eg GetLoadedAssemblies is called by Appdomain.GetAssemblies). We should move them to AppDomain in CoreCLR, to make API diffs stop showing them up as unexposed API

[code]

[2017-04-30 22:31] masonwheeler commented on #10997
@cydhaselton As I said, I'm still getting one of the errors from the big output posted above.  Search up the page for `u_strncpy`.

[2017-05-01 00:13] jkotas commented on #11311
There are number of other public unexposed types and members that we are using for handshake between CoreCLR and CoreFX. What makes the ones on AssemblyLoadContext special?

[2017-05-01 03:44] dotnet-mc-bot opened #11313 "Test failure: Interop_MarshalAPI._ReadWrite_ReadWriteObject_ReadWriteObject_/_ReadWrite_ReadWriteObject_ReadWriteObject_cmd"
Opened on behalf of @gkhanna79

The test `Interop_MarshalAPI._ReadWrite_ReadWriteObject_ReadWriteObject_/_ReadWrite_ReadWriteObject_ReadWriteObject_cmd` has failed.

    Unhandled Exception: CoreFXTestLibrary.AssertTestException: Assert.Fail: Expected 'System.ArgumentNullException' to be thrown, however 'System.PlatformNotSupportedException' was thrown. \r
       at CoreFXTestLibrary.Assert.Handle

[2017-05-01 03:45] gkhanna79 commented on #11313
@yizhang82 PTAL

[2017-05-01 03:55] gkhanna79 commented on #11299
@jkotas Is this for 2.0?

[2017-05-01 03:56] jkotas commented on #11299
I do not think that this is must have for 2.0.

[2017-05-01 03:59] gkhanna79 commented on #11292
Assembly Loader for .NET Core is something that we have kept intentionally simple and policy free. This is by design. LoadFrom is intended to explicitly load in the default context as well.

Which compat shim are you referring to and which .NEt Framework assembly is performing this load?

[2017-05-01 04:00] gkhanna79 commented on #11288
@lt72 @noahfalk Please triage if this is for 2.0 and if not, move it to appropriate milestone.

[2017-05-01 04:44] yizhang82 commented on #11313
@gkhanna79 Could this be that tests are running against an older version of CoreCLR?

[2017-05-01 05:29] gkhanna79 commented on #11313
I don't think so.. these are daily builds of coreclr with test runs i n helix.

Something makes you think that runtime is old?

Thanks,
Gaurav
________________________________
From: "Yi Zhang (CLR)" <notifications@github.com>
Sent: Apr 30, 2017 9:44 PM
To: dotnet/coreclr
Cc: Gaurav Khanna (CLR); Mention
Subject: Re: [dotnet/coreclr] Test failure: Interop_MarshalAPI._ReadWrite_ReadWriteObject_ReadW

[2017-05-01 07:08] yizhang82 commented on #11313
PNSE getting thrown means that this test is getting run without new implementation of those APIs. This test is added in the same commit with the new API implementation in this PR https://github.com/dotnet/coreclr/pull/11251. I'm also pretty sure I've tested it locally on Windows x64, and the CI is passing when I merge it.

I just checked the latest CI page and Windows test is passing (I couldn't f

[2017-05-01 08:08] Rcomian commented on #11292
I'm talking about the compat shim that lets you reference a .net Framework 4.6.2 assembly from a .net core 2.0 assembly and use it.

There's no configuration needed, you just reference the assembly and it works (provided it doesn't use any features outside of .net core 2.0). It seems to work really well.

That's only one way of loading an assembly, however. The other way is to use `LoadFrom`. it a

[2017-05-01 14:44] gkhanna79 commented on #11313
@wtgodbe PR from @yizhang82 was merged two days ago and yet today's build (https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170501.01/workItem/Interop.MarshalAPI.XUnitWrapper) shows this failure. The test run is supposed to happen against the CoreCLR we just built as part of the build, so these failures should not happen.

Ca

[2017-05-01 14:47] #11141 closed

[2017-05-01 14:49] gkhanna79 commented on #11292
I am not sure what this is - @weshaggard @jkotas Do you know what this is about? Is @Rcomian referring to some runtime facade assembly that is what his app gets built against?

Yes, that is correct and is what I mentioned above as well.

@Rcomian Can you please share repro for this?

[2017-05-01 14:55] dagood commented on #10809
This is now merged into `master`. (Not in `release/2.0.0` yet.)

[2017-05-01 15:44] mmitche commented on #4299
Okay, hm...that's a lot.  @gkhanna79 Have the portable build docker images been updated with this yet?  Do we care about updating images that may not be used after the switch to portable.

I'm going to need help on this, this week is very booked for me.

[2017-05-01 16:49] weshaggard commented on #11292
Yes the only compat shims I'm aware of are the runtime facades which type-forward all the types to where they live. I would expect reflection to work just fine with those, I suspect the issue is more with LoadFrom and not the shims.

[2017-05-01 17:01] gkhanna79 commented on #11292
Which assembly are you referencing and where is it calling LoadFrom? Can you please share a repro?

[2017-05-01 17:02] RussKeldorph commented on #11308
@wtgodbe We expected this to be disabled via `issues.targets`.  Is there something else that must be used for Helix?

@rartemev FYI.

[2017-05-01 17:18] mikem8361 commented on #4299
I’m willing to help, but I know very little about our CI lab setup.

[2017-05-01 17:18] sdmaclea opened #11318 "[Arm64] Infinite recursion while looking for resource"
While testing 0310a1e, found five failures with the same failure mechanism.

[code]

[code]

[2017-05-01 17:20] sdmaclea commented on #11318
@jkotas Can you mention someone who might know what caused this.

[2017-05-01 17:21] #10733 closed

[2017-05-01 17:21] pgavlin commented on #10734
Closed by #11262.

[2017-05-01 17:21] #10734 closed

[2017-05-01 17:22] gkhanna79 commented on #4299
Why is this required for 2.0 at this point in time given that pretty much the entire release we didnt make this change? Is there a correctness issue with not making this change? If not, then please move it out of 2.0.

[2017-05-01 17:22] Daniel-Svensson commented on #10642
@janvorli I tried the approach and it seems to work fine after some minor tweaking.
I now have mostly unified code for x64 and 32bit (with and without x86 asm).

Not directly.
It should be possible to implement at least most of them them quite efficently for bot ARM64 and AMR32.

* BitScanReverse
    * BitScanForward is defined in PAL but did not find reverse.
   It shoud be possible to use __buil

[2017-05-01 17:22] mmitche commented on #4299
@mikem8361 It isn't too hard, just time consuming.  But I need to know from @gkhanna79 what the status of the docker images is, since that is where most/all of our linux building is moving to for 2.0.  So some of our existing images may be unused after a while.  Are we building this stuff in official right now?  Is liblldb 3.9 on the docker images?

[2017-05-01 17:26] jkotas commented on #11318
These tests run with `COMPlus_JitStressRegs=0x200`. It looks like a bug in the JIT that repros in this mode.

[2017-05-01 17:28] mikem8361 commented on #4299
It is about correctness.  The lldb we are building the plugin against (3.5 or 3.6) has various problems running SOS commands (i.e. gcroot causes a SIGSEGV in lldb).  We have beening putting off this for the last 3 or 4 releases.  Lldb 3.9 also fixes a SOS problem running against a core dump which was fixed in an internal lldb version (and source repo), but now is fixed in the official release.

Do

[2017-05-01 17:29] #11270 closed

[2017-05-01 17:34] kouvel commented on #11306
Can't use this solution for .NET Core as it breaks the access control APIs, will file separate issue for bug

[2017-05-01 17:35] sdmaclea commented on #11318
cc @dotnet/jit-contrib

[2017-05-01 17:36] kouvel opened #11319 "Mutex creation hangs when there are insufficient permissions to create a mutex"
http://stackoverflow.com/questions/36591765/mutex-creation-hangs-while-using-impersonation

[2017-05-01 17:47] wtgodbe commented on #11308
I think the issue is that https://github.com/dotnet/coreclr/blob/master/tests/issues.targets#L187 is missing a leading '\'. That line should disable that test in all cases, but in Helix it's still running on Windows x64 - it's disabled on non-windows because of https://github.com/dotnet/coreclr/blob/master/tests/issues.targets#L1346. The fix would be to remove the 2 other references to this test i

[2017-05-01 17:50] sdmaclea commented on #11318
For reference, this issue did not exist in this version: 8291db8.

[2017-05-01 17:52] wtgodbe commented on #11313
Looks like we hadn't merged an auto-update PR in 3 days: https://github.com/dotnet/coreclr/pull/11303. This means we are running against an old version of CoreCLR, since the tests are built against packages, and the packages we're downloading are from before Yi's change. I just merged https://github.com/dotnet/coreclr/pull/11309, so we should now be building against the latest packages - I expect

[2017-05-01 17:52] wtgodbe commented on #11313
I've queued https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build/explorer?_a=summary&buildId=714502 to confirm.

[2017-05-01 17:53] SolderedMushroom commented on #11298
This must be the worst exception message in the framework. It read like an error for loading an unsupported graphical image format. The name of the exception itself sucks too, but I imagine it's too late to do anything about that.

[2017-05-01 18:00] RussKeldorph commented on #5674
I assume the x86 issue was fixed so this is ARM64-specific.

[2017-05-01 18:04] RussKeldorph commented on #11308
@wtgodbe Good catch on the typo.  Thanks.  I plan to fix this by reenabling the test case, but it's good to know what went wrong here.

[2017-05-01 18:38] lt72 opened #11321 "Consider extending Linux Code dump format to include code sections"
We need a way to pull core dumps off of machines and debug them standalone (without having to collect end-user binaries).
Linux core dumps should be debuggable no matter what machine there were generated on.
It is acceptable to use a symbol server for symbols, but OS and VM code of interest should may be included  in the dump itself, thus reducing the number and type of artifacts that a dev need t

[2017-05-01 18:40] jkotas commented on #10915
Fixed by #11269

[2017-05-01 18:40] #10915 closed

[2017-05-01 18:53] JensNordenbro commented on #7034
@sjsinju, how do you generate .ni images?

[2017-05-01 19:03] gkhanna79 commented on #4299
I am surprised this is being brought up after over a year if this is a correctness issue.

It will be good to understand why.

Either ways, @lt72 @mikem8361 Please work with @mmitche to get the right thing in place before 5/10.

[2017-05-01 19:10] mikem8361 commented on #4299
It seems like there was never enough time and even though I pretty have said there are problems with 3.6, it seems to be blown off as not that important.

[2017-05-01 19:31] #11273 closed

[2017-05-01 19:31] mmitche commented on #4299
@gkhanna79 Okay.....  We will also need @MichaelSimons help with the official docker containers.  That is where the first work should go.

@MichaelSimons What will it take to get the new lib into the official docker images?

[2017-05-01 20:03] RussKeldorph commented on #11089
@jorive If this started failing at the same time as Roslyn, it is likely the same as #11088, but I can't repro this now, with or without the fix for #11088 included.  I'll follow up with @adiaaida to see if she can help me with the repro, but closing this for now.

[2017-05-01 20:03] #11089 closed

[2017-05-01 20:06] wtgodbe commented on #11313
This test is now passing - https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170501.02/workItem/Interop.MarshalAPI.XUnitWrapper

[2017-05-01 20:06] #11313 closed

[2017-05-01 20:07] yizhang82 commented on #11313
@wtgodbe Thanks. How do we prevent this from happening again?

[2017-05-01 20:11] wtgodbe commented on #11313
This isn't the first time something like this has happened - often when a new API is added, along with a test case or two, the tests fail in Helix for the first day or so until we take a dependency update PR with the new bits (by definition, such a test would always fail the first time, since a VSO test build will pick up the packages from the previous product build, or older). The way around this

[2017-05-01 20:23] yizhang82 commented on #11313
It sounds like we should be building test on the same "version" that the package builds. Otherwise we'll keep getting those noises. Probably not too bad - but it adds up.

[2017-05-01 20:32] sdmaclea opened #11324 "[Arm64/Unix] Fails to load System.Private.Corelib.ni.dll"
Tests are taking 3x as long to run.  This is apparently due to a failure to load S.P.C.ni.dll

[2017-05-01 20:32] sdmaclea commented on #11324
@gkhanna79 Is this due to #11040?

[2017-05-01 20:38] gkhanna79 commented on #11324
@sdmaclea It is possible since that PR accounts for cross-targeting crossgen to be present. Can you check if https://github.com/dotnet/coreclr/pull/11040/files#diff-1708de55e5220e56e33f7ddb0f465f9cR695 is set to TRUE for Linux Arm64, does it address the problem?

[2017-05-01 20:42] kouvel commented on #11306
Can call DuplicateHandle to get the necessary access rights

[2017-05-01 20:42] kouvel commented on #11319
#11306

[2017-05-01 20:42] #11319 closed

[2017-05-01 20:53] RyanTaite commented on #113
Hello, I'm not sure if this is the right place to ask, but  I'm still running into issues regarding this.
I'm running Windows 7 Professional, using Visual Studio 2017.

I'm also on a HP Machine and my Platform environment variable was set to "BPC" and setting it using `set Platform=` didn't resolve the "deps.json doesn't exist" error as it was still trying to find it in the BPC folder rather than

[2017-05-01 21:03] sdmaclea commented on #11324
I will look at it tomorrow.  My machines are currently all tied up (due to the long run time caused by this problem).

[2017-05-01 21:04] MichaelSimons commented on #4299
@mmitche, the workflow for this would be:

1.  Update the appropriate Dockerfiles [here](https://devdiv.visualstudio.com/DevDiv/_git/DotNetCore?path=%2Fdockerfiles&version=GBmaster&_a=contents)
1.  Build Dockerfiles locally and verify the product builds as expected.
1.  Push the changes.
1.  I will kickoff a tool that will build the Docker images and push them to microsoft/dotnet-buildtools-prereq

[2017-05-01 21:06] mmitche commented on #4299
@mikem8361 Can you start on @MichaelSimons process above? Also please provide feedback for any issues you come across.  I'll start planning on how/when to roll out changes to CI machines (which will largely start using these docker containers soon anyway).

[2017-05-01 21:31] sdmaclea commented on #11324
@parjong @BruceForstall Do you know if the System.Private.Corelib native image used to load on unix  arm32 and/or x86 ?  Does this issue also affect those platforms?

[2017-05-01 21:36] BruceForstall commented on #11324
I'll leave this for @parjong ; I haven't done enough actual running of code on Unix.

[2017-05-01 21:44] gkhanna79 commented on #11324
I believe it does (https://github.com/dotnet/coreclr/blob/master/build.sh#L432) since they also do not support cross-targeting crossgen.

[2017-05-01 22:00] sdmaclea commented on #11324
Ok so the issue is that I have been running crossgen on the target to create S.P.C.ni.dll.  This allowed my tests to run faster.

The new code does not attempt to load S.P.C.ni.dll at all.  And does not attempt to load S.P.C.dll as ni on Unix unless target is amd64.

If fExplicitBindToNativeImage is set to true, and the NI is absent in S.P.C.dll, will it fall back and try to load as IL?

[2017-05-01 22:13] BruceForstall commented on #7034
You can see that we have opened quite a few issues related to JIT throughput by checking the "JitThroughput" tag, e.g.: https://github.com/dotnet/coreclr/issues?utf8=%E2%9C%93&q=is%3Aopen%20is%3Aissue%20label%3AJitThroughput. There has been quite a lot of thought given to how we can improve this, though we haven't implemented very many improvements yet.

[2017-05-01 22:21] gkhanna79 commented on #11324
Assuming there are no alignment issues for mmap that you were discussing with me last week.

[2017-05-02 01:17] VSadov commented on #7103
Looking at this right now. We should fix this in 2.0 unless it is really hard to do.

[2017-05-02 01:26] parjong commented on #11324
For x86, we do not attempt to crossgen S.P.C.dll, yet.
For ARM, we have been crossgened it.

[2017-05-02 05:56] jyoungyun commented on #11248
@gkhanna79 In fact, I would like to enable CI for tizen if tizen runtime nupkgs starts to upload to dotnet-core myget normally. The Tizen CI of CoreCLR and CoreFX are not able to generate tizen runtime pkg at present due to lack of tizen runtime nupkg on dotnet-core myget and Core-setup is not enabled tizen CI yet due to the same reason. If possible, try to incorporate all of this before May 10, b

[2017-05-02 10:49] Rcomian commented on #11292
I'm going to close this, the issue is *not* what I thought it might be.

I was trying to call `Assembly.LoadFrom` to load an assembly that had already been loaded. That was the cause of the error. If you haven't already referenced the assembly, you can `Assembly.LoadFrom` a .NET Framework assembly just fine.

[2017-05-02 10:49] #11292 closed

[2017-05-02 11:27] cydhaselton commented on #10997
@masonwheeler: Next time please post pastebin link if possible.
#11325 up for review; branch cydhaselton:android-icu-fix if you want to incorporate changes now instead of waiting for PR to merge

[2017-05-02 12:44] fubar-coder opened #11330 "Non-nullable reference types support"
Maybe it's the ideal time to add non-nullable reference types when the CLR already needs to be changed for #10504?

This would allow dotnet/csharplang#36 to avoid the creation of `if (ReferenceEquals(x, null)) throw ...` code which would penalize the usage of non-nullable references.

[2017-05-02 14:13] SamuelEnglard commented on #11330
While this would be great from a forward compat perspective [dotnet/csharplang#36 ](https://github.com/dotnet/csharplang/issues/36) would still need to work downlevel so it wouldn't remove the need for that.

[2017-05-02 14:27] fubar-coder commented on #11330
When implemented/supported in/by the CLR:

* Pro: The CLR could make the `null` check. This has the advantage that it will only be done when really needed (e.g. when passing a "may-be-null" to a "not-null" reference variable).
* Pro: This additional check code goes away over time, because more and more assemblies will be using non-nullable reference types
* Cons: Work must be done in the CLR (but

[2017-05-02 14:45] mikedn commented on #11330
And how does CLR know it's really needed or not?

[2017-05-02 14:55] AtsushiKan commented on #11299
That same article sites two other ways to do this so if this loophole really needs to be closed, it needs to be done at the lower level than the specific apis - i.e. at the point where the runtime tries to instantiate the value with an open type as its umm.. "pMethodTable" - substituting the raw type might have other ripple effects.

I'm not sure if this loophole needs to be closed, though. We don

[2017-05-02 14:58] RussKeldorph commented on #11276
Precision difference.

[2017-05-02 14:58] #11276 closed

[2017-05-02 15:18] SamuelEnglard commented on #11330
@fubar-coder So now I can only use this feature if I target CLR vNext? I'd rather have the slow down (which honestly on a modern CPU is nothing) than need a newer CLR on a machine.

[2017-05-02 15:20] #11308 closed

[2017-05-02 15:55] litian2025 commented on #10386
@tannergooding @RussKeldorph @fiigii @jarodrig we will take a look at it and report back.

[2017-05-02 15:56] MichaelSimons commented on #4299
cc @dleeapho as he is tracking toolset related issues.

[2017-05-02 16:23] ruben-ayrapetyan opened #11332 "[ Memory consumption ] PC-relative addresses instead of relocations in code section on ARM32"
Hello.

We propose to reduce consumption of memory, which currently occurs due to applying relocations to code section of ngen-ed images.

To achieve this, we propose to replace `movw+movt` relocations with `movw+movt+add pc` instruction sequence. In the second case, the `movw+movt` encodes offset, which is relative to instruction position, so applying relocations becomes unnecessary.

We plan to

[2017-05-02 16:24] ruben-ayrapetyan commented on #11332
@jkotas, Please take a look.

[2017-05-02 16:28] ruben-ayrapetyan commented on #11332
For now, we implemented prototype for the changes.
We plan to open pull request with complete patch this week.

[2017-05-02 16:32] jkotas commented on #11332
I think it make sense for Linux ARM32 native images. I do not think it makes sense for Windows ARM32. The relocations are handled by the OS kernel on Windows ARM32 that makes them cheap.

cc @BruceForstall

[2017-05-02 16:38] mikedn commented on #10386
@litian2025 It's not clear what Chakra does and why but there's nothing like this in JIT.

[2017-05-02 16:43] fubar-coder commented on #11330
@SamuelEnglard We already need a new CLR for #10504. So why not doing non-nullable reference types the right way?

[2017-05-02 16:44] fubar-coder commented on #11330
@mikedn It should be specified in the assembly meta data if the type is a non-nullable reference type.

[2017-05-02 16:47] ViktorHofer commented on #11114
I'm looking into this right now. I will stick with just printing out the error message to stderr for now.

@gkhanna79 Any idea how to get the StackTrace at that point of execution?

[2017-05-02 16:49] SamuelEnglard commented on #11330
@fubar-coder because we have no idea when #10504 will land. CLR changes are extremely slow moving and hard to get through. While I'm not against the idea of the CLR having the ability to be aware of non-nullable ref types C#'s feature should not be tied to it. That feature is already going to take long enough as it is.

[2017-05-02 16:49] sdmaclea commented on #11318
I ran a git bisect.  c983bb86 #11040 was the first version which had this issue.  This disabled loading the S.P.C as a NI.

[2017-05-02 16:51] fubar-coder commented on #11330
@SamuelEnglard The proposed feature is already there when you use ReSharper. IOW: You don't have an advantage when you already use R#. And when we use the "fake" non-nullable-ref types, then we're in a situation similar to Java with its generics and its type erasure (which was AFAIK considered as a possible implementation), but the F# guys pushed for the "real thing".

[2017-05-02 16:58] mikedn commented on #11330
If the CLR can avoid the null check in the given circumstances what stops the C# compiler from doing the same thing?

Non-nullability is largely a language thing because it's the language that's supposed to stop you to pass a null where you should not. The runtime cannot do that, except by throwing exceptions and that doesn't solve anything.

[2017-05-02 17:01] SamuelEnglard commented on #11330
@fubar-coder I'm going to "step back" here since I fully admit my issues here are less how would this work/is this a good idea for CLR and more SHOULD the CLR do this. That's a debate that can best happen after I think.

[2017-05-02 17:08] fubar-coder commented on #11330
@mikedn It's about the guarantees given by the CLR. When your function wants a non-nullable ref type, then you shouldn't be able to get null. Especially in combination with code from older compilers **only** the CLR is able to provide this guarantees, not the compiler.

[2017-05-02 17:19] ruben-ayrapetyan commented on #11332
@jkotas, thank you.

[2017-05-02 18:10] ericstj commented on #1731
I just noticed this bug here in the coreclr repo.

As @poizan42 mentioned, the code to which this issue is referring was part of DNX, not coreclr.  This code now lives in NuGet.  If you still see the issue you should file an issue in https://github.com/nuget/home.

[2017-05-02 18:10] #1731 closed

[2017-05-02 18:10] fiigii commented on #10386
ChakraCore does this in peephole optimization with the rules:
[code]
When the peephole optimizer encounters an `inc` or `dec`, it checks one or two of the previous/later instructions to determine if substitute `inc`/`dec` with `add/sub`.

RyuJIT does not have peephole optimization, but I think that we can implement this in code generator by checking previous/later instructions through `gtPrev`/`gt

[2017-05-02 18:24] lt72 commented on #8474
@tmds: please re-open if you can still repro the issue.

[2017-05-02 18:24] #8474 closed

[2017-05-02 18:27] gkhanna79 commented on #11308
This is still failing in Helix - @wtgodbe @RussKeldorph Do you know why?

[2017-05-02 18:27] dotnet-mc-bot opened #11334 "Test failure: baseservices_threading._waithandle_waitany_waitanyex2a_waitanyex2a_/_waithandle_waitany_waitanyex2a_waitanyex2a_cmd"
Opened on behalf of @gkhanna79

The test `baseservices_threading._waithandle_waitany_waitanyex2a_waitanyex2a_/_waithandle_waitany_waitanyex2a_waitanyex2a_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\435a72f7-9385-45d8-838e-4b8a570b81d1\Work\1a5b7cfc-80cd-439a-a33b-6dd0f7dede7c\Unzip\Reports\baseservices.threading\waithandle\waitany\waitanyex2a\waitanyex2a

[2017-05-02 18:28] gkhanna79 commented on #11334
@kouvel Can you PTAL as this just came in Helix today?

CC @wtgodbe

[2017-05-02 18:28] mikedn commented on #10386
Yes, a saw that comment but it's not clear where did those rules come from. For example, one variant is JCC followed by INC/DEC, what's that for? And the Chakra peep seems to be targeted solely at Atoms...

Yes, that should work for INC/DEC followed by JCC. It won't work the other way around because JCC followed by INC/DEC implies different basic blocks.

[2017-05-02 18:29] wtgodbe commented on #11308
@gkhanna79 the fix was only merged 3 hours ago, while the most recent test run was 8 hours ago.

[2017-05-02 19:04] CarolEidt commented on #6364
The original title of this issue was "Support for reg optional def of an untracked local that occurs on rhs of an assignment when its use is marked as reg-optional and wasn't allocated a reg". However, in the case where an untracked local doesn't require a register, it should simply be marked as contained and never allocated a register.

[2017-05-02 20:04] wtgodbe commented on #7040
This was indeed an issue with the script, and was fixed by https://github.com/dotnet/coreclr/pull/7509.

[2017-05-02 20:04] #7040 closed

[2017-05-02 20:14] benaadams opened #11338 "Way to increase x64 GC aggressiveness? (as per x86)"
So I want to use x64 (including x64 server GC); but I'd like to turn up its recycle aggressiveness a little.

For example if I run the same server app as x64 it will hover around 1GB; whereas as x86 it will hover around 175MB (private working set). Actual active managed memory in both will be similar and an order of magnitude lower than x86.

Having 1GB ambient use isn't greatly a problem as am ru

[2017-05-02 20:14] wtgodbe commented on #7841
@danmosemsft is this doc now up-to-date with https://github.com/dotnet/coreclr/commit/e50207b834d9946027828f8c3b3467e29ac2efb1 ?

[2017-05-02 20:15] CarolEidt opened #11339 "[RyuJIT][CQ] LSRA: Investigate separating cross-block lclVars from intra-block lclVars"
Much of LSRA work involves dealing with sets of vars that are live at block boundaries.
We could improve efficiency by ensuring that those sets are dense, and using a smaller set.
We would only need a larger set for the liveness set that's used during traversals.
This could be beneficial if 1) there are a large number of vars that are only live within a single block, and 2) the cost of the extra s

[2017-05-02 20:22] ericstj commented on #9884
I picked this up since it was needed to fix https://github.com/dotnet/core-setup/issues/1960

[2017-05-02 20:25] gkhanna79 commented on #1444
@ww898 Can you please elaborate on the scenario, given uponhttps://github.com/dotnet/coreclr/issues/1444#issuecomment-152256610?

[2017-05-02 20:29] benaadams commented on #11338
Should I file api request upstream in corefx?

[2017-05-02 20:34] #9944 closed

[2017-05-02 20:35] kouvel commented on #11306
Better yet, include MAXIMUM_ALLOWED in the requested permissions

[2017-05-02 20:42] sdmaclea commented on #11324
Fallback was broken on arm64.  I think the #11341 fix will work on all platforms.

[2017-05-02 20:49] kouvel commented on #10514
#11334: also affects waitanyex2a

[2017-05-02 20:49] kouvel commented on #11334
Duplicate of #10514

[2017-05-02 20:49] #11334 closed

[2017-05-02 20:55] danmosemsft commented on #7841
I think the instructions work -- I'm not sure whether "if the directory doesn't exist the corefx build system proceeds with grabbing the "default" runtime, " is still an issue since it's churned since then.. I suggest we close and see whether anyone still has issues.

[2017-05-02 20:55] #7841 closed

[2017-05-02 20:56] danmosemsft commented on #10443
Fixed by https://github.com/dotnet/coreclr/pull/11234

[2017-05-02 20:56] #10443 closed

[2017-05-02 21:04] VSadov opened #11343 "[RyuJIT] Accessing Length on a `null` string does not throw NullReferenceException"
The following throws in Debug and does not throw in Release.
Should throw regardless of optimizations.

[code]

Tried on Desktop 32/64 bit and on netcoreapp1.1 with same results - NRE in debug, no exceptions in release.

The IL looks like the following

[code]

Note - the `callvirt` is still there and should throw when invoked on a null.

[2017-05-02 21:04] CarolEidt opened #11344 "[LSRA][RyuJIT] Spill single-def vars at def, if ref count is lower than use(s) being spilled"
This is related to #7665

[2017-05-02 22:00] jkotas commented on #11292
https://github.com/dotnet/coreclr/issues/9879 should have fixed this problem. Have you run on CoreCLR with this fix?

[2017-05-02 22:12] Rcomian commented on #11292
@jkotas, I haven't, but I shall try as soon as I can, it might make life a lot easier.

[2017-05-02 22:48] dagood commented on #6784
The fix for https://github.com/dotnet/coreclr/issues/6716 (https://github.com/dotnet/coreclr/pull/6791) made this silent error stop happening. I also don't see it in recent CI logs. Closing as resolved.

[2017-05-02 22:48] #6784 closed

[2017-05-02 22:51] mikem8361 opened #11348 "The SOS gc commands don't work on the createdump utility dumps"
The default createdump option to create a dump "with heaps" doesn't have all the heap memory on Linux so the various SOS gc commands like gcroot fail.

The fix is in the /proc/$pid/maps parsing to add all the unnamed heap sections.  Currently these are not being added for "with heaps".

[2017-05-02 22:52] fiigii commented on #10386
@mikedn Yes, this ChakraCore peep only works for Atom. According to _Intel® 64 and IA-32 Architectures
Optimization Reference Manual 14.2.2.9_

a result, a branch instruction depending on an INC or a DEC instruction incurs a 1 cycle penalty. Note that this penalty only applies to branches that are directly dependent on the INC or DEC instruction.

compute branch conditions instead of INC/DEC instr

[2017-05-02 23:01] CarolEidt opened #11349 "[RyuJIT][LSRA] Take register encoding sizes into account"
Consider preferring smaller encoding sizes for high ref count, and larger encoding sizes for small ref count.
(This issue was migrated from the desktop bug tracking system.)

[2017-05-02 23:01] Maoni0 commented on #11338
You don't need to file a request right now as this may not be an API - it could be a config if it's per process. Let's first discuss it a bit and iron out what kind of options might be best to provide to users.

This is something that I've been thinking about as job objects didn't work as well as I had expected as IIS/asp.net handles job objects in a weird way (originally I did this for Azure folk

[2017-05-02 23:16] wtgodbe opened #11352 "Helix tests should run against packages from current build"
Today, a Helix test run will run against packages from the most recent auto-update PR (i.e. not from the current build). They should instead run against packages from the current build, which should be restored from Azure.

[2017-05-02 23:17] wtgodbe commented on #11352
CC @gkhanna79

[2017-05-02 23:19] briansull commented on #10386
So we can close this issue as optimizing for the ancient P4 architectural is not current necessary

Pentium 4 was a line of single-core central processing units (CPUs) for desktops, laptops and entry-level servers introduced by Intel on November 20, 2000

[2017-05-02 23:19] wtgodbe commented on #11352
Another solution would be to wait until the publish step finishes, then in the test build step, do a global find/replace in the repo to replace old package versions with the new version - this would circumvent the problem of needing an up-to-date project.lock.json file, but would make the builds slower

[2017-05-02 23:20] wtgodbe commented on #11352
Note also that this solution will be a stopgap until we can build tests on Linux, at which time we won't need to build tests against packages anymore.

[2017-05-02 23:25] wtgodbe commented on #11352
Actually, even better could be to only do the find/replace in build_against_packages_dependencies\project.lock.json - I could create an msbuild file that $(CoreClrPackageVersion) with 2.0.0-preview2-(officialbuildid). That way we could still restore from Azure blobs, and wouldn't need to wait for the publish step to finish (so the builds wouln't be any longer).

[2017-05-02 23:29] CarolEidt opened #11353 "[RyuJIT][LSRA] Evaluate jit-time impact of recording preferences at each kill"
In `LinearScan::buildKillPositionsForNode` the preferences for all interfering lclVar intervals are updated to avoid those registers. There may be a more efficient way to achieve this.
(This issue was migrated from the desktop bug tracking system.)

[2017-05-02 23:29] benaadams commented on #11338
Works for me

Not necessarily; but should free memory to OS (when free) if its gone passed it to try and bring it back down. Think OOMs are bad as they are exceptions no one expects and no one handles.

What would be easier? Can always be refined.

I like the fixed value; as I know what the process does and how much memory it uses to do that. However could see others scaling up the machine/VM and

[2017-05-02 23:38] fiigii commented on #10386
[Correction]
@briansull Sorry, I checked the manual again. Nehalem also has partial register access stall on flag registers. It was totally resolved by Sandy Bridge.

[2017-05-02 23:39] #9884 closed

[2017-05-02 23:39] benaadams commented on #11338
Something like?
[code]
[code]

[2017-05-02 23:51] briansull commented on #10386
In any case the impacted CPU's are all fairly old processors:

Nehalem was replaced with the Sandy Bridge microarchitecture, released in January 2011.

[2017-05-03 00:12] CarolEidt opened #11356 "[RyuJIT][LSRA] Improve heuristics for allocating incoming parameters."
See the `JBTodo-CQ` comment in `LinearScan::allocateRegisters()`.

[2017-05-03 00:21] CarolEidt opened #11357 "[RyuJIT][LSRA] Consider using a different selection order for tree temps than for vars"
The legacy JIT uses a different selection order. This may be useful for caller-save registers, as it would be less likely for lclVars and tree temps to conflict.
There is an associated TODO-CQ in the function header for `LinearScan::tryAllocateFreeReg()`.
(This issue was migrated from the desktop bug tracking system.)

[2017-05-03 00:27] tannergooding commented on #10386
@briansull, that is barely older (less than a month) than Windows 7 SP1 which still has some 48% of the market share (and which still has extended supported until Jan 14, 2020).

[2017-05-03 01:11] briansull commented on #10386
And Yes, it is totally supported, with an occasional 2 cycle stall when an inc or dec instruction is encountered.

[2017-05-03 01:58] VSadov commented on #7103
The bug appears to be fixed by the switch to the newly re-added API for comparing assembly names.
(https://github.com/dotnet/corefx/commit/501c2632493796ba50b43ec06d2e930cd556fc23)

Adding a test:
https://github.com/dotnet/corefx/pull/19265

[2017-05-03 05:29] danmosemsft commented on #11199
Putting in 2.0 for now as test is failing.

[2017-05-03 05:33] danmosemsft commented on #11171
@janvorli do you think we should enable automation on Debian 9 to see whether there are any other bugs?

I see it's not released yet.

[2017-05-03 05:34] danmosemsft commented on #11123
Set to 2.0 for now, please adjust as needed.

[2017-05-03 06:09] #7103 closed

[2017-05-03 08:08] gregkalapos commented on #295
@jkotas Great, thanks! With @mmayr-at we already sent pull requests.

What would be the best way to discuss further questions?

I already have two points:
- What about testing? Imo the easiest way would be to simply prepare dlls (both valid and invalid) and let run ilverify with them and assert to the expected errors (or success if there is no error).

- One problem we currently have is that in ht

[2017-05-03 10:01] RussKeldorph commented on #11123
Still assuming dup of #6298

[2017-05-03 10:01] #11123 closed

[2017-05-03 13:24] gbalykov opened #11363 "[Memory consumption] Relative addresses instead of relocations in MethodDesc section on ARM32"
Hello.

We propose to reduce consumption of memory, which currently occurs due to applying relocations to MethodDesc section of ngen-ed images.

To achieve this, we propose to replace absolute pointers, which require relocations, with relative pointers. Relative pointers store offsets, which do not require relocations in case pointer is not cross-module (i.e. intra-module). In case pointer is cros

[2017-05-03 13:31] gkhanna79 commented on #11199
@jkotas Is the right fix to mark the host with LARGEADDRESSAWARE?

[2017-05-03 14:13] janvorli commented on #11171
@danmosemsft it seems to me it would make sense.

[2017-05-03 14:36] scott-xu commented on #10843
It's not been fixed in .net framework 4.7 😞

[2017-05-03 14:51] jkotas commented on #11199
This bug only repos on 32-bit Unix or on 32-bit Windows in LARGEADDRESSAWARE process.

Marking the dotnet host LARGEADDRESSAWARE is not going to fix this bug. Quite the opposite - it will make this bug repro even on Windows with the dotnet host. Marking the dotnet host LARGEADDRESSAWARE maybe still a good idea but it is orthogonal to this issue.

[2017-05-03 14:53] jkotas commented on #10843
cc @tarekgh

[2017-05-03 14:59] sdmaclea commented on #11018
@jashook @jkotas Can you assign this to me.

[2017-05-03 15:05] RussKeldorph commented on #11343
@dotnet/jit-contrib

[2017-05-03 15:10] sdmaclea commented on #9581
@briansull Do you the threading fails could be a symptom of #9711 ARM64/ARM32 - Generate memory barrier instructions for the GTF_IND_VOLATILE or GTF_FLD_VOLATILE flags?  Any other ideas.

[2017-05-03 16:01] tarekgh commented on #10843
we are tracking to fix this in 4.7.1

[2017-05-03 16:35] jkotas commented on #295
Issues in CoreRT repo. I have created https://github.com/dotnet/corert/labels/area-ILVerification, and also added you as collaborator to the CoreRT repo so that the issues in this area can be assigned to you.

Yes, tests would be useful. I think the sources for the tests should be under ILVerify\tests as .il files, and they should get compiled as binaries. (BTW: ilasm has /ERROR option that suppre

[2017-05-03 16:59] gbalykov commented on #11363
There are two cases for pointers in MethodDesc section, which require allocations: pointers which are accessed from jit code and pointers which are not.

On ARM next fields from MethodDesc section are relocated:
[code]

From them, only the next ones are accessed from jit code:
[code]

None of these fields are currently declared as RelativePointers.

@jkotas, could you, please, advise, which of the

[2017-05-03 17:03] BruceForstall commented on #11363
@janvorli

[2017-05-03 17:03] dmh2000 opened #11365 "simple C# program prints incorrect value on some Windows 7 systems"
using System;

    /*
     summary: on some Windows 7 systems,
              this program prints the wrong value it is configured as an 'x86' build in visual studio
              On all systems tested it prints the correct value if it is configured as an 'x64' build in visual studio OR
              if it is run using the Visual Studio debugger

              built using Visual Studio 2015 with up

[2017-05-03 17:08] sdmaclea commented on #10769
There are pull request open for most of the remaining issues

[2017-05-03 17:41] MichalStrehovsky commented on #295
A good place to take the inspiration from would be \src\ILCompiler.TypeSystem\tests in the CoreRT repo: that's where we keep the type system tests. The type system tests have similar characteristics - each test loads an assembly we built from IL as part of the repo build and does stuff with it.

[2017-05-03 17:46] sdmaclea commented on #11018
@jkotas Looks like FEATURE_MANUALLY_MANAGED_CARD_BUNDLES might be required too?

[2017-05-03 18:42] sdmaclea commented on #11324
Fixed by #11341

[2017-05-03 18:42] #11324 closed

[2017-05-03 18:48] jkotas commented on #11018
Right, it is optimization on top of `FEATURE_USE_SOFTWARE_WRITE_WATCH_FOR_GC_HEAP`.

cc @adityamandaleeka

[2017-05-03 19:24] #10809 closed

[2017-05-03 20:07] ianhays commented on #11199
@jkotas am I oversimplifying the issue in my assumed solution above?

[2017-05-03 20:32] danmosemsft commented on #11365
code gen?

[2017-05-03 21:29] litian2025 commented on #10386
@mikedn for chakra code peep optimization JCC followed by INC/DEC is in case of backward branch operation like a loop

[2017-05-03 21:39] RussKeldorph commented on #11365
@rhadley since this appears to be .NET instead of .NET Core.

@dotnet/jit-contrib Does this ring a bell?

[2017-05-03 21:41] RussKeldorph commented on #11365
@russellhadley  I mean...ugh.

Sounds like something JIT32-specific.

[2017-05-03 21:45] jkotas commented on #11199
@ianhays I believe that removing the offending BIT64-specific wraparound check would be more consistent with the rest of the implementation . It does not seem to be protecting against anything interesting. For example, Seek lets you go as much as you want beyond end of the stream without any 32-bit wraparound check and the rest of the implementation deals with the situation fine.

However, there s

[2017-05-03 21:50] tannergooding commented on #10386
@briansull, I would think we would want to optimize this scenario as the actual optimization seems fairly trivial and it hits a fair bit of code (most `for` loops are an `inc` or a `dec` followed by a conditional jump)

[2017-05-03 21:57] ianhays commented on #11199
[! BIT64-specific, yes?](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/IO/UnmanagedMemoryStream.cs#L305)

Ah yeah, [it converts the value to an int64 before checking that it is less than or equal to int64.maxvalue](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/IO/UnmanagedMemoryStream.cs#L339), which it must always be.

[2017-05-03 22:07] jkotas commented on #11199
Right.

[2017-05-03 22:11] mikedn commented on #10386
@litian2025 I'm not familiar with Chakra's IR but it looks very much like linear IR so it's not clear how being next in linear order has anything to do with loops. It looks more like it is detecting an INC that is outside of the loop.

[2017-05-03 22:30] VSadov opened #11371 "Runtime should recognize IsByRefLike attribute and treat the types that have it as ref-like"
The runtime already has some special treatment for ref-like types:

https://github.com/dotnet/coreclr/search?utf8=%E2%9C%93&q=IsByRefLike&type=

It makes sense that in addition to the hardcoded ref-like types, the types decorated with IsByRefLike are also treated in the same way.

==

This is related to:
https://github.com/dotnet/coreclr/pull/11369
Also discussed in:
https://github.com/dotnet/core

[2017-05-03 22:30] VSadov commented on #11371
CC: @jkotas

[2017-05-03 22:47] sdmaclea opened #11373 "[Arm64/Unix] Add support for FEATURE_MANUALLY_MANAGED_CARD_BUNDLES"
This is an optimization on FEATURE_USE_SOFTWARE_WRITE_WATCH_FOR_GC_HEAP (Noted in #11018)

[2017-05-03 22:49] sdmaclea opened #11374 "[Arm64] Optimize JIT_WriteBarriers*"
They appear to be on the critical path to writing object references to the heap.

AMD64 went to significant length to optimize these functions.

[2017-05-03 23:40] safern commented on #10297
@JeremyKuhne should we mark this as netfx-port-consider? As this behavior is different than desktop's behavior which returns true on this cases.

[2017-05-04 00:07] litian2025 commented on #10386
@mikedn maybe an example can help here:

LabelA:
    some compare instruction
    JCC
    Any instructions
    INC/DEC
    JMP LabelA

the purpose of the code is to catch pattern like this between JCC and INC/DEC

[2017-05-04 00:11] NTaylorMullen opened #11378 "StackFrame.GetFileLineNumber() works in netcoreapp1.1 but not netcoreapp2.0"
In netcoreapp1.1 it returns the correct line, in netcoreapp2.0 it returns 0.

Code to show the error (in the repro app included at the end):
[code]

Repro app:
[StackTraceIssue.zip](https://github.com/dotnet/coreclr/files/974972/StackTraceIssue.zip)

Try running the app with both TFMs to see the difference.

/cc @Eilon @DamianEdwards

[2017-05-04 00:18] mikem8361 commented on #11348
PR #11368 fixes this.

[2017-05-04 00:18] #11348 closed

[2017-05-04 00:21] russellhadley commented on #11365
@briansull is taking a look at the repro.

[2017-05-04 01:18] noahfalk commented on #11288
I have created a partial fix for this issue here:
https://github.com/noahfalk/coreclr/commit/0e398987e9e8a19325b162d239986dcd065f2e39

I don't have any immediate plans to continue with the fix as the NGEN->IL image inlining scenario appears to be quite uncommon, but if we get user feedback showing this needs to be higher priority or someone else wants to continue the work the partial fix should be

[2017-05-04 01:54] jkotas commented on #11363
All of them in your list. However, the fields in your list are relatively rare and so the benefit of such change is likely going to be relatively small. We have done a pass before to convert all fields that matter (and where it was easy to do) to use relative pointers.

The vtable slots in MethodTable are by far the most pointer heavy structure. If you want to move the needle on how many absolute

[2017-05-04 01:59] Maoni0 commented on #11338
We could support both configs (for the usage, you should only specify one of them). For the percentage, it could be either the percentage at startup or dynamically adjusted as the process runs. Of course the former would be easier. The latter is less deterministic - if other processes on the machine happen to take up more memory then you might be surprised.

Re throwing OOM or not - from GC's POV,

[2017-05-04 04:44] morganbr opened #11381 "Incorrect metadata on SOS.NETCore.dll"
SOS.NETCore.dll has incorrect assembly attributes and file metadata. This causes the .NET Native compiler to think it's not a framework assembly as well as looking wrong. The incorrect attributes I spotted are:
[code]
It also is missing this attribute, which would fix the .NET Native problem:
[code]

The file metadata has File description "System.Private.CoreLib"

[2017-05-04 05:22] gkhanna79 commented on #11248
Can you make Tizen CI to use Tizen's myget feed to get the CI going?

Are you trying to ensure that you get the same build number as us so that whatever build number is for the Tizen package referenced in the Microsoft.NETCore.App Identity package (which we produce), you can use the same build number at to produce runtime.* packages at your end? If so, the answer to that depends upon your response

[2017-05-04 05:24] DamianEdwards commented on #11378
This is impacting ASP.NET Core in that our developer exception page (the page shown to developers in the browser when an exception is thrown in their application) no longer contains the line number in their own code where the exception occurred. As you can imagine this makes finding the line of code that's throwing (especially with async stacks) much harder.

[2017-05-04 05:28] Petermarcu commented on #11378
@brianrob can  you take a look?

[2017-05-04 05:30] mikedn commented on #10386
Thanks for the example. That doesn't look like typical codegen for a loop, most of the time compilers turn `while` loops into `do while` loops so the JCC is at the bottom. In any case, the peep doesn't actually detect that a backward JMP follows so it will transform more INC/DEC instructions than necessary.

Well, it's a peep, it does what it can.

[2017-05-04 05:37] gkhanna79 commented on #11114
See DoReportForUnhandledException on how to compute the string version of the stacktrace.

[2017-05-04 05:48] mikedn commented on #10386
When running on old processors.

Not really. Most `for` loops count up and the JIT can't transform them into count down loops that may produce a `dec` followed by a `jcc`. Your very own example is  count up loop. Let's see it again, this time with optimizations enabled:
[code]
The flags used by `jl` are produced by `cmp`, not by `inc`. All native compilers produce similar code (unless they decide

[2017-05-04 06:01] hqueue commented on #6298
I also agree with this idea.

I had similar idea in mind. Minor problems related to this approach is that (1) it may take more time to setup test environment if we invoke `runtest.sh` again with only failed test  and (2) there will be multiple results of of `runtest.sh` and a result of the last execution of `runtest.sh` will show at the end of CI.

If this doesn't matter, then I also think this 2n

[2017-05-04 08:21] sergign60 opened #11383 "[X86 Profiling] Call of FireEtwMethodLoadVerbose_V1 from ETW::MethodLog::SendHelperEvent with NULL parameters causes segfault on X86 in memcpy"
The following call (src/vm/eventtrace.cpp)
[code]
causes segmentation fault in ```memcpy``` because str is NULL
bin/obj/Linux.x86.Debug/Generated/eventprovider/lttng/eventprovhelpers.cpp
[code]
The simple changes NULL to  W16_NULLSTRING in SendHelperEvent fix this problem
Just now I can't check this problem on the other platforms. My question is are NULL arguments in SendHelperEvent correct?

[2017-05-04 08:21] sergign60 commented on #11383
CC: @Dmitri-Botcharnikov

[2017-05-04 09:14] sergign60 commented on #11383
The another proposed way is
[code]

[2017-05-04 11:45] janvorli commented on #5176
@ellismg @gkhanna79 after some additional investigations, my suggestion is to switch only this problematic PAL test to use /var/tmp for the target file and make sure it cleans up after itself. That should address the concern of growing amount of uncleaned garbage in the /var/tmp folder, since the garbage would stay there only if the test crashed.

[2017-05-04 11:50] sergign60 commented on #11383
https://github.com/dotnet/coreclr/pull/11385

[2017-05-04 13:09] ruben-ayrapetyan commented on #11363
@jkotas,
Recently we estimated statistics of relocated items in ngen-ed images for Fragile mode (on set of images, which are ngen-ed in Tizen by default). The following table contains the data per image virtual section type.
The proposed changes completely remove relocations in the SECTION_MethodDesc on ARM32, so with the changes no relocations are applied to the 238 pages of SECTION_MethodDesc.

[2017-05-04 13:11] ruben-ayrapetyan commented on #11363
@jkotas,

Thanks for the advice! We will check the MethodTable structure also.

[2017-05-04 15:04] alpencolt opened #11386 "Apps on Tizen cannot work without native images"
Native images by documentation contain machine code, so if we will remove them JIT compiler should takes code from dll's. But when I try to do it on Tizen-ARM32 Xamarin applications crash (simple apps like "Hello World" works well). `System.Private.CoreLib.ni.dll` is necessary for applications. Is it normal behavior or there is bug?
The reason why I do so is that I need to run application using Ry

[2017-05-04 15:12] ViktorHofer commented on #11114
Perfect, thanks!

[2017-05-04 15:17] gkhanna79 commented on #10920
@danmosemsft Should this be moved to @ViktorHofer?

[2017-05-04 15:19] pgavlin commented on #11344
Should this be "if the weight of the def is lower than the weight the use"?

[2017-05-04 15:26] BruceForstall commented on #11386
You should be able to use COMPlus_ZapDisable=1 to prevent using any .ni.dll native image.

[2017-05-04 15:44] alpencolt commented on #11386
Yes, it helps. Thank you.
But does this behavior OK?
Is there the way to tell crossgen which compiler use? Or I have to modify source code.

[2017-05-04 15:54] BruceForstall commented on #11386
Do you mean: is it OK for apps to fail without having System.Private.CoreLib.ni.dll? The answer should be no.

crossgen automatically loads clrjit.dll (on Windows, for example). You might be able to set:
[code]
to get it to load `myjit.dll`. Normally, I use something like:
[code]
to use the "altjit" mechanism.

[2017-05-04 16:00] danmosemsft commented on #9484
@parjong @wateret with only a few days remaining, would it make sense to set an owner on this issue?

[2017-05-04 16:18] danmosemsft opened #11389 "cleanup BCLDebug"
Is this the debug tracing mechanism we want corelib code to use long term? CoreRT uses Debug.xx exclusively, CoreCLR corelib uses Debug.xx in most cases but BCLDebug.xx in some. They need to be reconciled.

BCLDebug has some other features: categories, verbosity, registry configuration.

[2017-05-04 16:23] AndyAyersMS opened #11390 "Jit: simplify chain of gc - nogc - gc casts from span ctor"
If a fixed pointer is used to construct a span we can see extra register shuffles as a value is cast in and out of GC.

[code]

See notes and source code in dotnet/corefxlab#1479.

[2017-05-04 16:27] mikedn commented on #11390
That code is really funny and it would be nice to see it fix. But then register to register moves are cheap so perhaps this isn't super important?

[2017-05-04 16:37] jkotas commented on #11389
No. It should be deleted.

[2017-05-04 16:39] jkotas commented on #11386
Related to https://github.com/dotnet/coreclr/pull/11341

cc @gkhanna79

[2017-05-04 16:46] sdmaclea commented on #9534
I think the most obvious issue is the use of R12 which was IP for ARM32.  Instead of R16 which is IP0 on arm64.

Unless there is an objection I would like to replace most to the hard coded usages of R12 with IP0.  I will also look for opportunity to use IP1.

[code]
cc @dotnet/arm64-contrib

[2017-05-04 17:04] gkhanna79 commented on #11386
@alpencolt Assuming you are able to generate NI image of `System.Private.CoreLib.dll `as part of the CoreCLR repo build, it will be named as `System.Private.CoreLib.dll` when placed in the binary output folder, while the original IL will be in the `IL` subfolder.

If you were passing the path to `System.Private.CoreLib.ni.dll` in your host, you will now need to pass the path to `System.Private.Cor

[2017-05-04 17:20] danmosemsft commented on #11389
Do you want everything to just use Debug.Log, etc? With no filtering, disabling, ..? Or you want to recreate something like BCLDebug?

I don't know whether any of the existing uses would fire so much that Debug.Log would be spammy.

[2017-05-04 17:21] AndyAyersMS commented on #11390
Agree it may not be super important, but if the IL pattern for pinning really has changed recently it might bump up the priority some, and if the various `Unsafe` methods get popular, it might bump it up some more.

[2017-05-04 17:27] danwalmsley opened #11391 "netcoreapp2.0 cannot reference netstandard2.0 in VS2017 preview"
If I build from command line it works.

But from latest vs2017 preview I get:
...project.... targets '.NETStandard,Version=v2.0'. It cannot be referenced by a project that targets '.NETCoreApp,Version=v2.0'.

Is the a workaround for now?

[2017-05-04 17:33] mikem8361 commented on #11378
If you are using portable PDB's then the reason is issue #19319. If on Windows and Windows PDB's then I'll need to investigate a little (mainly to see if microsoft.diasymreader.native.amd64.dll is exists).

[2017-05-04 17:54] yizhang82 commented on #11256
@ondrejtomcik Given that this is a known limitation (COM interop not supported in Linux) and your code doesn't really need it, I'm closing this issue for now. Let us know if you still have issues and feel free to re-open it. Thanks!

[2017-05-04 17:54] #11256 closed

[2017-05-04 17:57] lt72 commented on #11378
Mike is referring to issue [19319](https://github.com/dotnet/corefx/issues/19319) in CoreFX repo.

[2017-05-04 18:10] jkotas commented on #11389
There are a very few classes where BCLDebug.Log is used, and I do not think anybody used that logging for anything in like last 10 years. I think it is fine just to delete it.

Or if you see a good reason to keep it (I do not) - change it to per-class Log method that is `[Condition("DEBUG")]` and does nothing, that the developer can instrument with printf in debug build.

CoreLib is no different f

[2017-05-04 18:24] mikem8361 commented on #11381
@morganbr msbuild is complaining about the dot "." in the above AssemblyMetadata attribute.

C:\ssd\coreclr2\src\ToolBox\SOS\NETCore\SOS.NETCore.csproj(39,62): error MSB4025: The project file could not be loaded. Name cannot begin with the '.' character, hexadecimal value 0x2E. Line 39,
position 62.

[2017-05-04 18:28] mikem8361 commented on #11381
Never mind.  I was using the wrong msbuild AssemblyInfoLines syntax to add this attribute.

[2017-05-04 18:33] CarolEidt commented on #11344
@pgavlin - Yes, thanks.

[2017-05-04 18:46] watashiSHUN commented on #11391
when you say you can build it on the command line, you mean you are using `dotnet cli`? ( in my case running `dotnet run`  with version `2.0.0-preview2-005905` on this project is successful)

But I also got a similar error while trying to build `.NetStandard2.0` in VS2017, please see this [stackoverflow question](http://stackoverflow.com/questions/43771446/netframework4-6-1-reference-a-classlib-ta

[2017-05-04 18:56] mikem8361 commented on #11381
It looks like the other attributes have already been fixed in 2.0. PR #11395 adds the AssemblyMetadata attribute.

[2017-05-04 18:58] CarolEidt opened #11396 "[RyuJIT][LSRA] Improve efficiency of VarToRegMaps"
For large methods, where the efficiency is of most concern, it may be more efficient to keep a map from registers (which are likely to be densely populated) to variables rather than the reverse, as is currently done. This may impact efficiency in other areas, so requires investigation.

[2017-05-04 19:05] CarolEidt commented on #11396
See the TODO-throughput comments in `LinearScan::getTempRegForResolution()` and `LinearScan::resolveEdge()`.

[2017-05-04 20:20] janvorli commented on #5176
Fixed by #11393

[2017-05-04 20:20] #5176 closed

[2017-05-04 20:21] sdmaclea commented on #11374
@dotnet/arm64-contrib

The AMD64 optimization involves using a large set of WriteBarrier code instantiations.  The JIT_WriteBarrier function is memcpy from one of many variants of the function based on what does or does not need to be executed at the moment.  After memcpy, the code is patched to include the current value of key GC variables as constants to avoid memory reads.  Whenever these value

[2017-05-04 20:26] mjsabby opened #11402 "Notifying Windows of stack frames for kernel stackwalk is enabled only after verbose etw event logging is enabled"
The runtime does not notify the OS via RtlAddGrowableFunctionTable about the jitted code stack frames until we have at least turned on the verbose events for methods.

The current workaround we use is to turn on verbose events and then turn them off. This fixes it for the duration of the process since a static variable controls this.

The fix I would prefer is to completely remove this and always

[2017-05-04 20:26] mjsabby commented on #11402
@vancem

[2017-05-04 20:48] vancem opened #11404 "Deal with Shutdown issues for EventSource on CoreCLR"
The CLR has a general problem with callbacks from managed code on shutdown.   The issue is that when the CLR shuts down it tears down EE structures needed to run managed code but it does NOT necessarily call the destructors of managed objects.

This is a problem if you have a native callback (that can happen at any time) because that native code could call that callaback during shutdown when it is

[2017-05-04 21:02] vancem commented on #11402
This has been fixed with PR #11257.

Please open a bug in (https://devdiv.visualstudio.com/DevDiv/_workitems) and assign it to @brianrob  to have it ported to desktop.    You should use the NET vNext release and the 'NET 4.7.1' the target.  (you can use [bug 428951](https://devdiv.visualstudio.com/DevDiv/_workitems?id=428951&_a=edit) as a template).

 Bug 428951 Make EventSource Activity Tracking

[2017-05-04 21:02] #11402 closed

[2017-05-04 21:04] briansull commented on #11374
Sounds like a good approach to me.

[2017-05-04 21:17] briansull commented on #11365
I ran this using Windows 7 and Visual Studio 2015 SP3
with target release/x86 and the program produced the expected result.

Product version of the clrjit.dll is 4.6.1076.0

Perhaps there was some software , an obfuscator or profiler plugin that causes the problem on "some" of the customers Windows 7 systems.

[2017-05-04 21:17] #11365 closed

[2017-05-04 21:17] mikem8361 commented on #11378
Fixed PR #19364

[2017-05-04 21:17] #11378 closed

[2017-05-04 21:22] BruceForstall commented on #11374
ARM32 uses a set of macros to implement the barriers, which creates a bunch of labels, it appears, to give the address/offset of code to be updated with specific GC ranges. Presumably you could follow that model.

[2017-05-04 21:26] russellhadley commented on #11365
@briansull how does the posted il compare with what you produced?

[2017-05-04 21:48] briansull commented on #11365
Looks pretty much the same.  In their case they seem to have posted the Debug IL rather than the Release IL.

[2017-05-04 22:01] #11199 closed

[2017-05-04 22:04] sdmaclea commented on #11374
@BruceForstall Thanks.  Looks like the arm32 handles the mode switching like amd64.  For each of three types of barriers, it supports 4 modes  : single/multiple processor & pre/post grow of gen0 heap.  The code looks like it is still loading GC ranges from the globals.  So there may be an optimization opportunity if it is actually faster.

amd64 is supporting 8 modes : pre/post gen0 grow, server/d

[2017-05-04 22:05] CarolEidt opened #11407 "[RyuJIT] Fully enregister structs that fit into a single register when profitable"
When a struct is small enough to fit into a register, and is only accessed in its entirety (e.g. to initialize or pass as an argument), it should be fully enregistered. Below is a simple test case that was provided with a bug filed against the desktop version. It should generate simply `xor eax; ret` on x86 and x64, but instead generates many unnecessary copies. It is addressed by full enregistrat

[2017-05-04 22:08] dmh2000 commented on #11365
We don't have an obfuscator or any plugins installed on the build system.
Plain vs2015 .Yes The build was a debug build.  However there is a lot of
our corporate IT things on the win7 systems. Maybe something there. But
using x64 fixes it for us.

On Thu, May 4, 2017, 14:17 Brian Sullivan <notifications@github.com> wrote:

[2017-05-04 22:17] BruceForstall commented on #11374
You're talking about things like `g_lowest_address`, etc.? These offset of these in the WriteBarriers appears to be stored in a table, and then vm\arm\stubs.cpp, UpdateGCWriteBarriers() is called to patch them when these values change. (The table is created in a `.clrwb` section in the clr image; see asmhelper.asm/S)

[2017-05-04 22:20] mikem8361 commented on #11381
Fixed with PR #11395

[2017-05-04 22:20] #11381 closed

[2017-05-04 22:28] BruceForstall opened #11408 "[RyuJIT] TailcallStress needs to check more conditions"
When `COMPlus_TailcallStress=1` is set, the JIT converts as many call/ret pairs as possible into tail call, which it treats as `tail.` prefixed "explicit" tail calls. It does not in this case run the legality checks that are run when checking to determine if implicit tailcall optimization can be done, specifically the code under `FEATURE_TAILCALL_OPT` in fgMorphCall() that rejects a potential tail

[2017-05-04 22:36] leppie commented on #11408
A tail call will implicitly discard the stack, so I am not sure how this can be a viable candidate.

PS: Also this is just a tail call, not a tail call optimization. This will in fact run slower than a normal direct call in the current JIT. TCO is an ambiguous term that should not be used.

[2017-05-04 22:50] sdmaclea commented on #11374
@BruceForstall Thanks.  I see and understand the code now.  I am still surprised that neither arm32 nor amd64 has to make the pages writeable (like what might be done in PEImageLayout::ApplyBaseRelocations()).  Are we able to get away with writeable executable pages because we are a VM and the client code can not see the machine executable pages?

[2017-05-04 22:54] BruceForstall commented on #11408
@leppie yes, the JIT bug is that in this particular stress mode, the JIT does not do enough legality checking, therefore makes an illegal tail call.

[2017-05-04 23:01] BruceForstall commented on #11408
(Internal note: this came from VSO#278840)

[2017-05-04 23:05] BruceForstall commented on #11374
@sdmaclea We don't do a good job keeping pages Executable but not Writeable; we should do better.

[2017-05-05 00:05] briansull commented on #11374
These are stubs that are written into RWX memory that we allocate in process.
It is the same as with JITted code, the code gets written into memory and executed.
We don't go back and remove the Write permissions on the page, though we have talked about doing that.

[2017-05-05 02:45] ahsonkhan commented on #11390
The extra register shuffles appears when constructing a span out of an array as well (maybe caused by the stopwatch).

[code]

            Span<int> span = new Span<int>(a);
00007FFCC6E82645  lea         rcx,[rbx+10h]
00007FFCC6E82649  mov         rbx,rcx
00007FFCC6E8264C  mov         rcx,rbx
00007FFCC6E8264F  mov         rbx,rcx
00007FFCC6E82652  mov         ebp,2710h

[2017-05-05 03:56] BruceForstall commented on #11408
If/when fixed, enable the test added with #11410

[2017-05-05 07:35] mikedn commented on #11330
It's still not very clear why the VM has to do this rather than the C# compiler. There may be a good reason for this if you're willing to end up with a `NullReferenceException` rather than some custom exception (e.g. `ArgumentNullException`).

The thing is that the runtime (well, the JIT actually) can produce null checks that are slightly cheaper than `if (x == null) throw...`.

Considering a meth

[2017-05-05 10:12] benaadams commented on #11338
Might be a use for both usecases? e.g. a scenario with a specific hard stop might be something with a security focus; opening an unknown zip file and purposefully dying if it hits a zip bomb rather than absorbing all available memory.

[2017-05-05 11:50] fubar-coder commented on #11330
That's exactly my point. I want cheap null checks (or none at all). When the CLR knows - in your example - that `edx` can never be null, because the callers variable is a non-nullable reference type, then the check can be removed too.

If the C# compiler must generate those, then those will become expensive, because they must be done inside `foo`.

Regarding the exception thrown when trying to pas

[2017-05-05 12:09] mikedn commented on #11330
Yes, the JIT is already capable of generating and eliminating null checks in some cases so it seems that this could build upon existing infrastructure.

Yes, and the JIT has no way to eliminate those because it doesn't know what code will call `foo` since it doesn't do inter-procedural analysis.

Sounds like a good plan and perhaps can extended to other cases beyond method calls. For example, assi

[2017-05-05 12:58] ViRb3 opened #11417 "Failed to initialize CoreCLR, HRESULT: 0x80131500; Kali Linux Rolling 2016"
.NET Core version: 1.1
Target platform:  Kali Linux Rolling 2016, x64
Project built for platform: debian.8-x64
Error: Failed to initialize CoreCLR, HRESULT: 0x80131500

Also tried with a dummy console app from `dotnet new console`, yet the same problem.

[2017-05-05 14:14] danwalmsley commented on #11279
@yizhang82 we never heard anything from @noahfalk, I would be interested to see more information on vtable calling.

[2017-05-05 14:24] #11343 closed

[2017-05-05 15:13] brianrob commented on #11383
Fixed via #11385.

[2017-05-05 15:13] #11383 closed

[2017-05-05 15:58] RussKeldorph commented on #11365
@dmh2000 I'm afraid we'll need more clues about how to reproduce this before we can help.  Perhaps you can find some key difference between the systems where this repros and those where it doesn't.  Also, note that since this is a problem with the .NET Framework and not .NET Core (as far as we can tell), this should be reported either via the Visual Studio IDE's feedback link or at http://connect.

[2017-05-05 16:32] dmh2000 commented on #11365
I'll see if I can find something

On Fri, May 5, 2017, 08:58 Russ Keldorph <notifications@github.com> wrote:

[2017-05-05 16:56] jkotas commented on #11330
- Cheap null checks can be achieved using ldvirtftn (on .NET Framework / .NET Core at least, not sure about Mono). This pattern has been used in some boutique language compiler. I do not remember the language name, but I do remember we got a bug when we have regressed it by accident.

[code]

- The JIT can in theory take advantage of the non-null variable or argument annotations to eliminate some

[2017-05-05 18:23] DrewScoggins commented on #7987
This was resolved by https://github.com/dotnet/coreclr/pull/7988

[2017-05-05 18:23] #7987 closed

[2017-05-05 18:24] gkhanna79 commented on #4299
Is this on track for 5/10 @mikem8361 @lt72 ?

[2017-05-05 18:25] DrewScoggins commented on #8027
This was fixed by moving to the new perf runner about 2 months ago, this PR https://github.com/dotnet/coreclr/pull/9947

[2017-05-05 18:25] #8027 closed

[2017-05-05 18:26] DrewScoggins commented on #9314
We can push this out to future.  We still have this test running in the perf lab and we have setup runs that execute all of our performance tests per PR to check for correctness so we do not need this for 2.0

[2017-05-05 18:26] #9314 closed

[2017-05-05 18:28] DrewScoggins commented on #10356
We decided to fix this be adding a lean run option to the collection tooling that does not use anything, but the stopwatch to measure elapsed time.  This should remove all of the tool overhead. https://github.com/dotnet/coreclr/pull/11347

[2017-05-05 18:28] #10356 closed

[2017-05-05 18:29] gkhanna79 commented on #10873
@dleeapho Is the tracking upto date?

[2017-05-05 18:38] DrewScoggins commented on #9220
This was merged in the above PR.

[2017-05-05 18:38] #9220 closed

[2017-05-05 18:40] gkhanna79 commented on #10693
@lt72 @mikem8361 @ruben-ayrapetyan Few things about this:

1) We need to get status of debugger signoff on this change. @lt72 @mikem8361 Where are we with it?
2) This is a key feature change and would need to be vetted by shiproom, assuming (1) above is complete.

@ruben-ayrapetyan If this does not make 2.0 release but comes in a future release (e.g. say 2.1), will that work for you? If not, then

[2017-05-05 18:41] gkhanna79 commented on #11282
@jkotas Should we close this since we have a plan ahead with the OS folks?

[2017-05-05 18:42] gkhanna79 commented on #7234
@lt72 who is working on this? Given that there has not been any progress on this, I dont believe this would be blocking for 2.0. Should this be moved out?

[2017-05-05 18:42] mikedn commented on #11365
Antivirus? Someone reported a somewhat similar problem (involves array initialization) via Gitter: https://gitter.im/dotnet/coreclr?at=58ff3f68cfec91927272486c

[2017-05-05 18:43] jkotas commented on #11282
The OS fix should come via Windows update in several months.

[2017-05-05 18:43] #11282 closed

[2017-05-05 18:43] gkhanna79 commented on #10382
@kouvel @jkotas Will fix for https://github.com/dotnet/coreclr/issues/8480 address this as well?

[2017-05-05 18:46] gkhanna79 commented on #10780
@RussKeldorph Is this on track for 2.0?

[2017-05-05 18:46] gkhanna79 commented on #10148
@lt72 @mikem8361 @noahfalk Is this on track for 2.0?

[2017-05-05 18:48] mikem8361 commented on #10693
I finally got our debuggertests repo working on .NETCore 2.0 and now trying to verify ruben’s changes.

[2017-05-05 18:49] CarolEidt opened #11424 "[RyuJIT][LSRA] Consider pre-allocating high-frequency lclVars"
This would require the use of a different data structure for the `RegRecord`, at least for the non-MinOpts case, as the current data structure only tracks the register contents for the `Location` currently being allocated or written-back.
Consideration would need to be given to JIT throughput, possibly using an alternate representation or approach for MinOpts.

[2017-05-05 18:54] sdmaclea commented on #11374
@BruceForstall arm32 JIT_CHECKEDWRITEBARRIER_MP & JIT_BYREFWRITEBARRIER mp are doing dmb even in case str is not to heap.  I believe this is unnecessary and costly.

[2017-05-05 19:00] ruben-ayrapetyan commented on #10693
@gkhanna79,
Yes, release 2.1 is fine for these changes.

[2017-05-05 19:09] kouvel commented on #10382
The fix for #8480 does not address this. #8480 refers to making CoreCLR work under security features that prevent mapping to a particular address, while this bug I believe refers to not trying to map native images to a particular address.

[2017-05-05 19:16] gkhanna79 commented on #10693
Thanks for the confirmation @ruben-ayrapetyan - I have moved this issue to 2.1.

[2017-05-05 19:24] gkhanna79 commented on #10382
Does this not amount to the same thing (i.e. map to random address in both cases)?

[2017-05-05 19:33] danmosemsft commented on #11389
OK. Easy up for grabs change.

[2017-05-05 19:34] ruben-ayrapetyan commented on #10693
@gkhanna79, Thank you.

[2017-05-05 19:41] kouvel commented on #10382
In my opinion, no, but it depends on how you want to look at it. The issues raise problems that may be considered related in areas impacted (security, native images, etc.), but they are distinct problems the root cause of which are not related.

[2017-05-05 19:44] RussKeldorph commented on #10780
@gkhanna79 I do not expect to block 2.0 for it if that's what you mean.  We are still trying to determine if we can create a fix that will meet the risk/reward bar.

[2017-05-05 19:47] gkhanna79 commented on #10780
Should this be moved to 2.1 then?

[2017-05-05 19:54] RussKeldorph commented on #10780
Not until we either determine it cannot affect x86 and x64 or we determine we can't come up with an acceptable fix.

[2017-05-05 20:18] dleeapho commented on #10873
@gkhanna79 yes, they are slated for S118 (5/8-5/26).

[2017-05-05 20:37] briansull commented on #11365
Jeff Cyr @JeffCyr Apr 25 06:35
I just confirmed that the issue was caused by Cylance... wow. Always blame the antivirus first!

[2017-05-05 20:44] karelz commented on #10873
@dleeapho does it affect the product code? If it is infra which can light up post-ZBB (5/10), we could mark it as Post-ZBB ...

cc @danmosemsft @Petermarcu

[2017-05-05 21:06] sdmaclea commented on #11374
+@Maoni0 @swgillespie

Has anyone given any thought to using the pointer tag bits for identifying whether a pointer is in gc heap & gen 0 heap.

It looks like it has been supported in the Linux kernel  for a while.  https://www.kernel.org/doc/Documentation/arm64/tagged-pointers.txt .  Is it also supported in Windows Kernel?

[code]

If we used the tag bits the heap check could be
[code]

The ephem

[2017-05-05 21:14] lt72 commented on #7234
I am fine with that, but Russ & Russell should chime in since they own the execution of this work item.

[2017-05-05 21:15] lt72 commented on #4299
At risk, we will know better by Monday EOD.

[2017-05-05 21:17] lt72 commented on #10873
This is infra and should be marked as post-ZBB, unless @dleeapho has a reason not to.

[2017-05-05 22:28] ondrejtomcik commented on #11256
Hello @yizhang82, thanks for the reply. I was on holiday. You're right, it was not necessary to put whole data structure there. I am now using GCHandle and callback is called properly. But I have two more question please. 1) Should I call GCHandle.Alloc with pinned option? 2) Callback is called but I cannot figure out why some of the expected data are not there. Code:

[code]
SetResourceCallback i

[2017-05-05 22:33] swgillespie commented on #11374
I imagine that such a scheme would require a read barrier in order to mask off the tagged bits, or at least the JIT would need to mask them off before dereferencing it. Depending on the platform, though, that may not be all that expensive: [this paper (2004)](http://dl.acm.org.offcampus.lib.washington.edu/citation.cfm?id=1029891) measured the overhead of a masking read barrier and found it to be a

[2017-05-05 22:44] sdmaclea commented on #11374
@swgillespie I am not sure I understand why a read barrier would be necessary.

To make sure we are on the same page...

For aarch64, the MMU has a feature called Top Byte Ignore.  It is designed to allow the top 8 bits of a Virtual Address to be used for any purpose software deems necessary.  So the pointer should be usable as is for almost every purpose.  The feature is enabled by default in Lin

[2017-05-05 22:55] swgillespie commented on #11374
Ah, I see! In that case, you're right - thanks for the clarification.

[2017-05-05 22:57] #4534 closed

[2017-05-05 23:01] JeffCyr commented on #11365
This sure looks like the same Cylance issue, we isolated the problem to cylance overwriting the first index of the first declared array initializer to 0xE0.

[2017-05-05 23:36] noahfalk commented on #11279
Apologies I missed the callout earlier. I think the request for direction was more around how can you interop with an API built on vtables vs. anything specific about the semantics of using ICorDebug? @yizhang82 is the expert when it comes to interop techniques, but the two options that I know of to use native vtables from C# would be:

1) Create a flat C wrapper, then use C# to p/invoke to the C

[2017-05-06 00:27] yizhang82 commented on #11256
@ondrejtomcik

Pinning is unnecessary since you are only accessing the target from managed code and that is always safe to do. It is only needed if you need to pass the address of the target itself into native and therefore need to prevent it from moving. GCHandle value itself would never move since it is a unmanaged pointer to internal GC handle data structure that GC knows about, and is not real

[2017-05-06 06:33] mikem8361 commented on #10693
This has been verified against the debugger tests and the tests succeed.

[2017-05-06 13:13] ruben-ayrapetyan commented on #10693
@mikem8361, thank you very much for verification.

[2017-05-06 13:22] jkotas commented on #10693
@mikem8361 Just making sure ... have you run the debugger tests on Linux?

[2017-05-06 16:15] GSPP commented on #6055
I understand. Maybe we can make rooting explicit in the API by adding some options ctor that takes a bool of flags. Or, it could be a property on the object `bool KeepInstanceAlive`. That way we as users can adopt a new self-documenting pattern `new Timer(..., keepInstanceAlive: true)`.

[2017-05-06 16:22] mikem8361 commented on #10693
Yes.

[2017-05-06 16:56] stephentoub opened #11432 "Crash in System.Globalization on CentOS"
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_release/37/
[code]

[2017-05-06 16:57] stephentoub commented on #11432
cc: @tarekgh

[2017-05-06 18:50] pixellos opened #11434 "MethodBuilder's Equals method is not working as expected"
Hi,

I've spotted that some of `System.Reflection.Emit` members are not working as expected, eg. Equals check on `MethodBuilder` works different than `FieldBuilder` or `PropertyBuilder` (Methods names, signatures are compared, afaik `FieldBuilder` and `PropertyBuilder` are not overriding `Object.Equals` ). `MethodBuilder.Equals` returns true even when those builders are different.

There is some f

[2017-05-06 22:56] jkotas commented on #11432
The reverse PInvoke callback should catch exceptions before returning to unmanaged code.

[2017-05-07 12:57] stephentoub opened #11438 "crossgen crashes / core dumps in most corefx Unix CI legs"
In pretty much all of the legs, I see errors like this (though the legs still pass):
[code]
Is this expected?  Even if a failure is expected, seems like there should be a better failure mode than a bus error.

e.g.
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_rhel7.2_debug/38/consoleText
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_

[2017-05-07 22:00] ondrejtomcik commented on #11256
Hi @yizhang82 , thank you for the explanation and the idea how to test it. Marshaling is a new area for me. Therefore thanks!
But, if I may have one more question :) One pointer which should not be null is in c# always null. So I compared offsets and yes, that's the problem, but I cannot find a solution how to properly define those objects in c#.

[code]
This I defined as
[code]

But problem is th

[2017-05-08 01:02] SergeyTeplyakov opened #11440 "Variable lifetime issue with x64 JIT"
OS: Win10 (but most likely OS agnostic).
.NET: .NET 4.5+, coreclr
Release builds only.

Issue: JIT and GC are working together to track lifetime for local variables in release mode. If the local (or argument) is no longer used inside the method an object can become reachable for garbage collection (assuming that this was the last reference). This optimization is only available in release mode.

Co

[2017-05-08 03:03] ViktorHofer commented on #10920
So the reason why the test is behaving differently is because xunit trims the trailing slash here: https://github.com/xunit/xunit/blob/914e97d57e388b5c8c2bf5c4381b5c232ed64b5a/src/xunit.runner.utility/AppDomain/AppDomainManager_AppDomain.cs#L40 (thanks @akoeplinger for the link)

I notified the owners but they are not willing to change it. NUnit had the same issue and they did change it (https://g

[2017-05-08 03:14] KarenHuang2016 opened #11442 "Failed to run "git clean -xdf" due to error Filename too long"
When we try to clean coreclr source repository. it failed due to error "Filename too long". We must delete the file manually. Could you please help to take a look at this? Thanks!

1. We've cloned coreclr to D:\CoreCLR\src and built it successfully before.
2. cd D:\coreclr\src
3. git reset --hard
HEAD is now at bae3ded Reenable MapViewOfFile PAL test1 (#11393)
4. git clean -xdf
Removing Tools/
Rem

[2017-05-08 04:02] ViktorHofer commented on #10920
Found it. DirectorySeperator gets removed here: https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/AppDomainSetup.cs#L170

@danmosemsft @stephentoub Any idea why the DirectorySeperator char gets removed here?

[2017-05-08 04:07] danmosemsft commented on #11442
@weshaggard it appears we have exceeded max path when cloned almost at the root..! Where are the "notsupported.cs" files generated from? Perhaps those can be shorter.

`d:\CoreCLR\src\packages/runtime.ubuntu.16.10-x64.Microsoft.Private.CoreFx.NETCoreApp/4.4.0-preview2-25303-04/sources/bin/obj/AnyOS.AnyCPU.Release/System.Runtime.InteropServices.WindowsRuntime/netcoreapp/System.Runtime.InteropServic

[2017-05-08 04:09] danmosemsft commented on #11391
@terrajobst is it expected to work in this version?

[2017-05-08 04:12] danmosemsft commented on #11434
How does behavior compare to desktop framework?

[2017-05-08 04:13] ViktorHofer commented on #10920
@jkotas Where does `AppDomain.Setup` get called and does args[8] (basepath) contain a slash at the end? https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/AppDomain.cs#L966

[2017-05-08 06:26] jyoungyun commented on #11248
@gkhanna79 Sure. As you know, coreclr does not have other pkgs dependency. But corefx does. So I can fix the Tizen CI of corefx to use Tizen myget feed by using `/p:OverridePackageSource=https://tizen.myget.org/F/dotnet-core/api/v3/index.json` option. But this patch will be unnecessary after I upload tizen runtime nupkgs to dotnet-core myget. Do you want to add a temporary patch? And could you sha

[2017-05-08 06:36] jyoungyun commented on #10780
@hseok-oh is analyzing this issue. Related PR is https://github.com/dotnet/coreclr/pull/11198.

[2017-05-08 10:17] sergign60 commented on #10857
@rartemev
many thanks Roman for your help!

[2017-05-08 10:45] pixellos commented on #11434
@danmosemsft it works similarly at desktop framework.

[2017-05-08 14:03] dleeapho commented on #10873
The infra will not affect product code. Agree post-ZBB.

[2017-05-08 15:41] tarekgh commented on #11432
I'll take a look

[2017-05-08 15:58] AtsushiKan commented on #11434
I don't think overriding Equals() on Builder objects is useful, especially when it's done in such a scattershot manner as the CLR apparently did.

We shouldn't change the ones that exist now (introduces compat risk without actual business benefit) but I'm not seeing an actionable ask for change here.

[2017-05-08 15:58] #11434 closed

[2017-05-08 16:13] tarekgh commented on #11432
CC @ellismg

[2017-05-08 16:30] sdmaclea commented on #11373
Fixed by #11375

[2017-05-08 16:30] #11373 closed

[2017-05-08 16:35] sdmaclea commented on #11018
This is fixed for 4k pages by #11375 (merged).
For 64K pages #11413 is also required.

[2017-05-08 16:46] sdmaclea commented on #9370
@qmfrederik @janvorli Can this be closed?

[2017-05-08 16:48] jkotas commented on #10920
It is called from the unmanaged side of the runtime: https://github.com/dotnet/coreclr/blob/69d43a0f8cfe095336b286e7bb892fe49c702e30/src/vm/appdomain.cpp#L4726

The key/value pairs are passed in by the CoreCLR host. So with the default shipping dotnet host, it is what gets computed in https://github.com/dotnet/core-setup/blob/2f3a31f0e475dc2fb91012fcaa0c082f6e74fe8a/src/corehost/cli/hostpolicy.cpp

[2017-05-08 16:48] sdmaclea commented on #6675
@janvorli Is this still an open issue?

[2017-05-08 16:55] sdmaclea commented on #3092
@briansull @kyulee1 @jashook Is this still an open issue?

[2017-05-08 17:02] ryanerdmann commented on #11338
I have a scenario right now that would definitely benefit from having a fixed target value set, ideally without OOMs if the process went over the limit.

I have a process running on a server that's pretty densely packed.  Like Ben mentioned above, I know what this process does and how much memory it needs, and would like to indicate a target memory limit that I know will keep it in a good state (a

[2017-05-08 17:20] benaadams commented on #11338
Perhaps a pattern like threadpool? With min (grow happily to this) and max (OOM at this); aggressive in-between?

[2017-05-08 17:26] pgavlin opened #11446 "systemvbringup.structinregs failing on x86 under GCStress=0xc"
see e.g. https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_gcstress0xc/25/testReport/JIT_Methodical/_structs_systemvbringup_structinregs_structinregs_/_structs_systemvbringup_structinregs_structinregs_cmd/

From the JIT dump, it looks like this is an issue related to struct promotion: V10, which is a struct that contains a struct that contains a GC ref, is p