[2015-02-03 19:30] vongillern opened #25 "NullReferenceException - Completely devoid of details"
I don't know if this necessarily the right place for this, but the payoff is big enough to warrant a possible failed attempt.

NullReferenceExceptions are the most common exceptions your average developer is going to encounter, and yet the only information that is included in the exception is the message that *something* was null and if you may or may not get a line number in the stacktrace.

Take

[2015-02-03 19:42] fr0stbyte opened #26 "[Missing?] documentation"
At https://github.com/dotnet/coreclr/blob/master/src/gc/gc.cpp#L10 it is mentioned some documentation living at ../../doc/BookOfTheRuntime/GC/GCDesign.doc

Is it possible to make that documentation available, or at least the BookOfTheRuntime ?

Thanks

[2015-02-03 19:59] dpen2000 opened #28 "PATENTS.TXT refers to wrong repo"
As brought up in #27, PATENTS.TXT refers to the corefx repo, not the coreclr repo. A MS employee will need to fix this.

[2015-02-03 20:07] gkhanna79 commented on #26
Thanks fr0stbyte. We are working on getting the documentation up for various key pieces of the runtime.
@brianrob - FYI

[2015-02-03 20:08] troydai opened #29 "DirectoryInfo.Exists returns incorrect results when it is cast from FileSystemInfo"
When test the same directory, `DirectoryInfo` and `Directory.Exist(...)` gives different answers. The bug is repo on `System.IO.FileSystem 4.0.0-beta-22530`.

The issue can't be reproduced on CLR.

Repo code:
[code]

[2015-02-03 20:20] davidfowl commented on #29
Seems like this is in the wrong place

[2015-02-03 20:21] davidfowl opened #30 "Support VS 2015 as well?"
Installation of VS 2013 is a pre-requisite to build this repository.

I don't want to have both installed on my machine. Does it rely on anything specifically in VS 2013?

[2015-02-03 20:23] stephentoub commented on #29
@troydai, thanks for the issue, but this should be closed and instead opened on the CoreFX repo:
https://github.com/dotnet/corefx

[2015-02-03 20:23] troydai commented on #29
Yeah, i just closed the issue over there. :) I'll reopen that one.

[2015-02-03 20:25] troydai commented on #29
Open at corefx: https://github.com/dotnet/corefx/issues/616

[2015-02-03 20:25] #29 closed

[2015-02-03 20:28] stephentoub commented on #29
Thanks

[2015-02-03 20:37] duaneking opened #31 "System.Security.Cryptography.X509Certificates Namespace missing from this repro and the need to validate its security?"
Earlier in the year I was digging deep into the .Net x509certificate2 and x509certificate objects (I was building a full blown CA from scratch) and noticed that both the certificate classes serialize the private key to disk by default due to the verifiable use of Persist-Key options in the constructors of the x509certificate2 and x509certificate classes using a default option set for CspProviderFl

[2015-02-03 21:05] xplicit opened #33 "Can't built on Ubuntu 14.04"
ubuntu 14.04 64bit

    cmake --version
    cmake version 2.8.12.2

    ./build.sh

    Executing make
    Linking CXX static library libCoreClrPal.a
    Error running link command: No such file or directory
    make[2]: *** [src/pal/src/libCoreClrPal.a] Error 2
    make[1]: *** [src/pal/src/CMakeFiles/CoreClrPal.dir/all] Error 2
    make: *** [all] Error 2
    Failed to build coreclr components.

[2015-02-03 21:08] AlexGhiondea commented on #33
@mmitche - could you take a look?

[2015-02-03 21:11] alexrp opened #34 "Interpreter: volatile ldobj appears to have incorrect semantics?"
Going by Ecma 335 III.4.13, it is my understanding that a sequence like

    volatile.
    ldobj MyType

should produce a volatile load. While one could argue that it's a store (the spec says "copy the value stored at address `src` to the stack"), interpreting it as a load seems more appropriate if one considers that the spec also says "if `typeTok` is not a generic parameter and either a referenc

[2015-02-03 21:13] xplicit commented on #31
@duaneking maybe you are looking for this?

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Security/Cryptography/X509Certificates/X509Certificate.cs

and this (reference source for .NET)

https://github.com/Microsoft/referencesource/blob/master/mscorlib/system/security/cryptography/x509certificates/x509certificate.cs

[2015-02-03 21:17] SirCmpwn commented on #33
I am able to reproduce this on Arch Linux. The last few lines of the build are:

    Building ASM object src/vm/wks/CMakeFiles/cee_wks.dir/__/amd64/theprestubamd64.S.o
    clang: warning: argument unused during compilation: '-nostdinc++'
    clang: warning: argument unused during compilation: '-nostdinc++'
    [ 20%] Building ASM object src/vm/wks/CMakeFiles/cee_wks.dir/__/amd64/virtualcallstubamd

[2015-02-03 21:21] lukehoban commented on #33
I ran into the same problem, running `build.sh VERBOSE=1` showed that the problem was with `CMAKE_AR` not being set correctly.

[code]

I was able to work around this by patching `binaries/CMake/CMakeFiles/2.8.12.2/CMakeCXXCompiler.cmake` to set CMAKE_AR to `/usr/bin/llvm-ar`, but not sure what the correct fix is for this.

[2015-02-03 21:27] gkhanna79 commented on #33
Hi xplicit and SirCmpwn,

Thank you for reporting this issue. We will look into this as we continue to bring up our Linux implementation that will have full fidelity build and validation support, including having identified such platform version specific issues and addressing them.

Currently, we are building the product and infrastructure against a specific Ubuntu build where we have not run into

[2015-02-03 21:28] lukehoban commented on #33
@gkhanna79 - Which Ubuntu build are you testing on currently?

[2015-02-03 21:28] gkhanna79 commented on #30
Hi David,

Bringing VS 2015 support is of the top items on our list. Stayed tuned.

[2015-02-03 21:30] SirCmpwn commented on #33
I was able to fix this problem properly. I shall submit a pull request shortly.

[2015-02-03 21:31] LouisStAmour commented on #33
Good to see a potential fix. My suggestion would have been: does it work if `ar` is on your `PATH`?

[2015-02-03 21:32] SirCmpwn commented on #33
No, both `ar` and `llvm-ar` are in my `PATH` to no avail.

[2015-02-03 21:34] davidfowl commented on #30
:sparkles:

[2015-02-03 21:40] xplicit commented on #33
@lukehoban thanks for pointing that out, I've workarounded it by installing cmake 3.1.1 from ppa on my ubuntu 14.04

   apt-add-repository ppa:george-edison55/cmake-3.x trusty main -y
   apt-get update -qq
   apt-get install cmake

[2015-02-03 21:41] SirCmpwn commented on #33
For what it's worth, I'm running cmake 3.1.1 here.

[2015-02-03 21:42] xplicit commented on #33
@gkhanna79 which ubuntu version do you use?

[2015-02-03 21:43] janvorli commented on #33
We used to have the problem with the llvm-ar not being found by the cmake at the beginning, but it was mitigated by adding the -D_CMAKE_TOOLCHAIN_SUFFIX=-3.5 option to the cmake command line.
The problem was that there was no llvm-ar, but only llvm-ar-3.5 installed after we've installed LLVM package on the Ubuntu 14.04 that we use for our development.
Btw, are you using the gen-buildsys-clang.sh t

[2015-02-03 21:45] shiftkey opened #37 "Missing projects in AllTestProjects.sln"
Opening `.\tests\src\AllTestProjects.sln` in VS2013 indicates a couple of `csproj` files are missing:

There's source code at these locations, so I guess something got lost in the transition. I gather these use a similar csproj setup as other test projects - if there's nothing fancy about them it should be easy to include...

[2015-02-03 21:46] xyziemba commented on #33
@SirCmpwn What llvm version and clang version are getting picked up when you build? I can repro this with llvm/clang 3.4, but it appears resolved in 3.5.

@janvorli @gkhanna79 @jkotas What llvm/clang version(s) are supported?

[2015-02-03 21:47] SirCmpwn commented on #33
sircmpwn@makase ~> clang --version
    clang version 3.5.1 (tags/RELEASE_351/final)
    Target: x86_64-unknown-linux-gnu
    Thread model: posix
    sircmpwn@makase ~> llvm-ar --version
    LLVM (http://llvm.org/):
      LLVM version 3.5.1
      Optimized build.
      Built Jan 14 2015 (03:18:15).
      Default target: x86_64-unknown-linux-gnu
      Host CPU: core-avx2
    sircmpwn@makase ~> cmake

[2015-02-03 21:49] janvorli commented on #33
@xyziemba LLVM / clang 3.5 are currently the only supported one

[2015-02-03 21:59] peteraritchie commented on #25
It's kind of tricky because not all variable names are available when the exception is thrown.  In your example it could be that only _orderService is available by name because it's a member variable (it seems).  If items and customers are locals; they're names won't be known when the exception is thrown (unless the PDB is there--but if you have that you can debug it).  I can't say for sure, but o

[2015-02-03 22:01] jkotas commented on #31
System.Security.Cryptography.* is going to be published as a set of separate libraries in http://github.com/dotnet/corefx

[2015-02-03 22:01] #31 closed

[2015-02-03 22:19] ramarag commented on #37
Thanks shiftkey for reporting the issue
The project files were not added in my previous commit. I have them now in https://github.com/dotnet/coreclr/pull/38

[2015-02-03 22:45] vongillern commented on #25
Agreed. I'm not sure it'd be "easy", but well worth the effort. If the name was not available, including its type in the error message would make it unambiguous 95% of the time. (i.e. NullReferenceException - expression of type 'SuperOrderService' evaluated to null).

My guess though,  is that if the PDB is available, it would know the character ranges of the null expression. If i turn on "break o

[2015-02-03 22:55] YingP99 commented on #31
It's a working in progress. We need to port other security related libraries first before porting the X509Certificate; such as various hashing algorithms etc.

[2015-02-03 22:58] shiftkey commented on #37
@ramarag :+1:

[2015-02-03 23:00] #37 closed

[2015-02-03 23:19] #33 closed

[2015-02-03 23:26] svick commented on #25
@vongillern I think you can easily make that even better by including the name of the invoked method. Something like (mostly copying the existing message):

This shouldn't be that hard to do, since the `callvirt` instruction that causes the vast majority of NREs knows which method it was.

[2015-02-03 23:36] xplicit commented on #33
Just FYI. I was able to compile without errors before the patch using this commands on fresh Ubuntu 14.04, but there were not binaries in Product directory.

    sudo apt-get install git cmake clang-3.5 make llvm-3.5 gcc
    git clone https://github.com/dotnet/coreclr
    cd coreclr
    ./build.sh

[2015-02-03 23:40] SirCmpwn commented on #33
I encountered the same issue and went searching for them. I found corerun at `./binaries/CMake/src/coreclr/hosts/unixcorerun/corerun`, but running it with a simple example gave:

    sircmpwn@makase ~/s/coreclr master> cat test.cs
    class Program
    {
        static void Main()
        {
            System.Console.WriteLine("Hello world!");
        }
    }
    sircmpwn@makase ~/s/coreclr master

[2015-02-03 23:48] svick opened #39 "Two versions of mscorlib.txt?"
There seem to be two different versions of mscorlib.txt in the repo: [src/mscorlib/mscorlib.txt](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/mscorlib.txt) and [src/mscorlib/src/mscorlib.txt](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/mscorlib.txt).

Is there any reason for that?

[2015-02-03 23:49] xplicit opened #40 "Empty Product directory after the build"
after running `./build.sh` on Ubuntu 14.04

I've got the mesage

    ...
    Repo successfully built.
    Product binaries are available at /home/user/coreclr/binaries/Product/amd64/debug

but this directory is empty

[2015-02-03 23:58] AlexGhiondea commented on #39
The one outside the src folder is not needed. I will clean that up.

[2015-02-04 00:05] peteraritchie commented on #25
@svick that can be problematic too because the IL is really a representation of something like this:

    var list = items.ToList();
    var customerId = customer.CustomerId;
    _orderService.CreateOrder(list, customerId);

And that's *if* the compiler(s) decided to put the retrieval of the  param values next to the method call.

I expect there'd be a bit of work to associate those variables to a

[2015-02-04 00:18] svick commented on #25
@peteraritchie Yeah, I understand that associating `callvirt` with a variable may not be easy, but that's not what I'm talking about. What I meant is that the message would contain the type (as @vongillern suggested) and method that caused the NRE.

So, in the example, the message wouldn't tell you that `_orderService` is `null`, but it would tell you that the NRE happened when calling `SuperOrder

[2015-02-04 00:29] Alexx999 commented on #25
I believe that NPE can be debugged in quite straightforward manner using crashdumps and WinDBG right now.
Adding some extra data is not that common for low-level exceptions, and NPEs are not the worst case (my personal favorite is "FileNotFoundException" when some assembly fails to resolve some dependency - you'll newer know *which* one actually failed).
Plus, it will surely hurt performance - exc

[2015-02-04 00:57] jgowdy opened #43 "stropts.h file not found"
Are the library dependencies of the CoreCLR Linux build documented somewhere?  I'm getting this when I try to build on CentOS 6.6

[  1%] Building CXX object src/pal/src/CMakeFiles/CoreClrPal.dir/init/pal.cpp.o
/home/dev/coreclr/src/pal/src/init/pal.cpp:63:10: fatal error: 'stropts.h' file not found
#include <stropts.h>
         ^
1 error generated.
make[2]: *** [src/pal/src/CMakeFiles/CoreClrPal.

[2015-02-04 00:59] andredublin opened #44 "Dockerize coreclr"
This might not be the place to put this issue but how about adding a docker image of coreclr?

[2015-02-04 00:59] jgowdy commented on #43
Fixed the issue with:

touch /usr/include/stropts.h

Is that something we want to fix in the build process though?

[2015-02-04 01:07] svick commented on #25
I don't think that anything that involves crashdumps or WinDBG can be called straightforward. Especially if you consider that NRE is an exception that I think beginners often encounter.

I hope that you are wrong about this. NRE pretty much always indicates a bug and catching it just hides that bug.

[2015-02-04 01:31] ellismg commented on #43
Presently we only build on and test a very specific configuration for Linux, which is Ubuntu 14.04.  We plan to include support for building on other distributions and versions at a later date, but right now we're focused on one specific version as we bring the stack up.

I think we'd rather wait on addressing these issues until we get to a point where we have validation in our CI system so we kno

[2015-02-04 01:46] mj1856 opened #45 "Deprecate DateTime.Now"
I would like to propose that [`DateTime.Now`](https://github.com/dotnet/coreclr/blob/ef1e2ab328087c61a6878c1e84f4fc5d710aebce/src/mscorlib/src/System/DateTime.cs#L904-L920) be deprecated.  This is most developer's first introduction to working with time, and is also a root cause of bugs related to daylight saving time and time zones.

Developers should get in the habit of thinking globally, rather

[2015-02-04 01:48] ellismg commented on #40
Since support for Linux is still coming online, we haven't taken the time to actually produce a single directory which contains all the build components you would need to run an application.

The most interesting artifacts are just under the CMake folder right now:

`/CMake/src/coreclr/hosts/unixcorerun/corerun` (The native application which hosts CoreCLR.)
`/CMake/src/dlls/mscoree/coreclr/libcore

[2015-02-04 01:50] mj1856 commented on #45
The obsolete message would be something like:

[2015-02-04 01:55] stimms commented on #25
I certainly agree with @svick on this. One of the primary goals of .net should be to be as productive of an environment as possible. We should attempt to minimize the scenarios in which a developer needs to attach a debugger or examine a crash dunno as they trend to be very time consuming operations.

With hundreds of thousands of developers encountering NPEs it doesn't take long for the time savi

[2015-02-04 02:05] alex opened #47 "gc.cpp references a file not in the repo"
Specifically it mentions `../../doc/BookOfTheRuntime/GC/GCDesign.doc`, which is not a file I see anywhere in the repo.

[2015-02-04 02:08] akoeplinger commented on #47
See https://github.com/dotnet/coreclr/issues/26

[2015-02-04 02:09] alex commented on #47
Oops, yeah, this is a dupe.

[2015-02-04 02:09] #47 closed

[2015-02-04 02:22] actboy168 opened #49 "Can't built, it turns out 'warning C4819'"
[code]

[2015-02-04 02:49] mmdriley commented on #49
src\vm\generics.h has [a § symbol at line 29](https://github.com/dotnet/coreclr/blob/cbf46fb0b6a0b209ed1caf4a680910b383e68cba/src/vm/generics.h#L29). In the file it's encoded as 0xA7, which is valid in [CP1251](https://msdn.microsoft.com/en-US/goglobal/cc305144) but is a lead byte in [CP936](https://msdn.microsoft.com/en-US/goglobal/cc305153).

[2015-02-04 02:50] telekenetix commented on #45
You should probably just make the PR and if they approve the idea, then it will be even simpler to get into the pipe. :)

[2015-02-04 02:52] ellismg commented on #49
Thanks @mmdriley.  Looking over the files, it seems we unfortunately use CP1252 all over the place in our native files.  The managed ones look like they are pretty good about using UTF-8 either with or without a byte order marker.

I'll do a pass and try to clean this up and see if this fixes @actboy168's issue.

[2015-02-04 02:53] gaochundong commented on #45
Great Idea~~

[2015-02-04 03:02] davidfowl commented on #45
Why is this in coreclr and not corefx?

[2015-02-04 03:03] davidfowl commented on #44
@andredublin what would you do with it?

[2015-02-04 03:20] jkotas commented on #25
Consider voting for http://visualstudio.uservoice.com/forums/121579-visual-studio/suggestions/2371587-better-nullpointerexception-error-message

[2015-02-04 03:23] andredublin commented on #44
@davidfowl not sure yet, but maybe package it as a dockerized runtime container that can be used to compile code against might be one use case.

[2015-02-04 03:24] peteraritchie commented on #25
I'm not saying don't do it or that there's no value to it, just that it's not going to be that easy. As soon as you provide * some * detail, you have to provide detail in all circumstances or there will be lots of bugs logged

[2015-02-04 03:54] Alexx999 commented on #25
@svick well, I probably just got used to it. Anyway, I surely agree that exception messages are often bad.

[2015-02-04 03:58] Alexx999 commented on #45
@mj1856 and what if I want to get current time in user's time zone? Calculate time using UtcNow and timezone offset?
The real problem is that DateTime.Now is the *most obvious* way of working with time. Probably it should've been named the other way - Now returning UTC time and LocalNow returning local time, but now it's probably too late for that.

[2015-02-04 04:00] ellismg commented on #28
Thanks.  The fix for this has been committed.

[2015-02-04 04:00] #28 closed

[2015-02-04 04:33] mj1856 commented on #45
@davidfowl System.DateTime is in mscorlib.

@Alexx999 You should use `DateTimeOffset.Now` for that, and ideally never convert it to a `DateTime.

[2015-02-04 04:48] mj1856 commented on #45
@davidfowl - or by "this" did you mean the objects themselves?  I'd be all for migrating `DateTime`, `DateTimeOffset`, `TimeZoneInfo` and perhaps `TimeSpan` over to corefx - if that is possible.

[2015-02-04 04:58] ellismg commented on #45
The factoring here is a little confusing.  In .NET Core we want to decouple the idea of the contract which exposes a type and the runtime assembly that implements that contract.  So the API surface area exposed by .NET Core lives in the corefx repository.  It happens that much of the implementation also lives there, but for some types, like System.DateTime, the implementation lives with the runtim

[2015-02-04 04:58] #45 closed

[2015-02-04 05:11] mj1856 commented on #45
@ellismg - thanks for the clarification.

[2015-02-04 06:02] shiftkey opened #51 "Create the up-for-grabs label"
It's mentioned in the [README](https://github.com/dotnet/coreclr/blob/master/README.md#how-to-engage-contribute-and-provide-feedback) but doesn't exist in the labels list

![screen shot 2015-02-04 at 5 01 57 pm](https://cloud.githubusercontent.com/assets/359239/6035862/9263d27e-ac8f-11e4-9b85-80b36b796607.png)

[2015-02-04 06:09] ellismg commented on #49
@actboy168 can you grab [ellismg:clean-unicode-characters](https://github.com/ellismg/coreclr/tree/clean-unicode-characters) and see if that fixes your problem?  I'm having a bit of trouble getting my local machine in a state where I can reproduce your issue, so I can't verify it myself.

[2015-02-04 06:12] ellismg commented on #51
Done.

[2015-02-04 06:12] #51 closed

[2015-02-04 06:34] mburbea opened #52 "ByteComparer optimization is actually a perf slowdown"
`EqualityComparer<byte>.Default` is specialized to use a `ByteComparer`. This primarily exists so that `Array<byte>.IndexOf` can use a specialized version of IndexOf optimized for bytes. The actual implementation is done in `Buffer.ByteIndexOf` which takes a `byte*` instead of an array.
see here:
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Collections/Generic/EqualityComp

[2015-02-04 06:42] ellismg commented on #49
@actboy168 Nevermind, I was finally able to reproduce the issue locally, so I can verify my fix.

[2015-02-04 07:15] shahid-pk opened #54 "A non harmful warning while compiling on Linux"
I get this warning while compiling on Ubuntu 14.04 , clang and llvm 3.5 . I started compiling with ./build.sh
and i get this warning repeatedly
**unknown warning option '-Wno-incompatible-ms-struct'; did you mean '-Wno-incompatible-pointer-types'? [-Wunknown-warning-option]**

Although this does not seem to do any harm, but i think should be fixed.

[2015-02-04 07:29] anydream commented on #49
@ellismg
'clean-unicode-characters' branch solved code page problems, but new error occurs:

       “D:\proj\coreclr-u\binaries\CMake\install.vcxproj”(rebuild target) (1) ->

       “D:\proj\coreclr-u\binaries\CMake\ALL_BUILD.vcxproj”(default target) (2:2) ->

       “D:\proj\coreclr-u\binaries\CMake\src\vm\wks\cee_wks.vcxproj”(default target)
 (4:3
       ) ->
       (PreBuildEvent target) ->

[2015-02-04 07:35] yaakov-h commented on #25
I agree with this. I've sometimes had to resort to checking the IL offset of the exception location and compare it with a disassembled assembly just to figure out exactly which reference was null.

The more information about an error, the better.

[2015-02-04 07:40] ellismg commented on #49
@anydream Thanks for the heads up.  Can you share out the entire AsmConstants.tmp file either in a gist or e-mail it to me (my e-mail address is in my profile).

What is your system locale set to?  I had mine set to Chinese (Simplified) and I wasn't hitting this, but it's possible that my settings weren't influencing powershell which runs the script that generates this file.

[2015-02-04 07:41] mikedn commented on #34
But what is the issue here? That code you link to is not enabled in CoreCLR and AFAIK it's not enabled in the desktop version either.

[2015-02-04 07:50] alexandrnikitin opened #55 "Performance drawback of type derived from generic"
Following the [stackoverflow question](http://stackoverflow.com/questions/27176159/performance-type-derived-from-generic).

I've encountered with one performance problem.
Let's talk code. I simplified the code as much as I could to reproduce the issue.
Suppose we have a generic class. It has an empty list inside and does something with `T` in constructor. It has `Run` method that calls an `IEnumer

[2015-02-04 07:53] anydream commented on #49
Yes, my locale is Chinese (Simplified) CP936, the generated file AsmConstants.tmp was e-mail to you.

[2015-02-04 07:59] jkotas commented on #34
The interpreter is not a production quality code - it is not enabled in shipping bits. It is only meant to be used for initial bring up of new platforms, until the JIT starts working. If you would like to play with it or fix bugs in it, it can be enabled in src\inc\switches.h.

[2015-02-04 07:59] anydream commented on #49
Aha, I know why occurs this error...
Because my console width is set to 80 characters..
![default](https://cloud.githubusercontent.com/assets/3724537/6036862/dacf53a2-ac86-11e4-8d9c-79ebbe658755.png)

[2015-02-04 08:06] sergiy-k commented on #54
Thanks  @shahid-pk. I have noticed these warnings earlier today too. This is a recent regression and we should definitely fix them. The product code should build without warnings.

[2015-02-04 08:14] ellismg commented on #49
@anydream Intersesting.  My console is also set to 80 characters, but I'm not seeing an issue.  I think something might have changed between powershell versions to make the default host have a larger width for it's internal buffer.

What version of Windows are you running?  7?

[2015-02-04 08:21] jkotas commented on #55
@cmckinsey - we also have TFS bug from the original report on Microsoft Connect

[2015-02-04 08:22] shahid-pk commented on #33
@SirCmpwn

I went a little further i copied, corerun , libcoreclr.so , libmscordaccore.so to a directery than compiled test.cs to test.exe using mcs and issued this
**./corerun -c ./ test.exe**
I got this error
**ExecuteAssembly failed - status: 0x80004005**

[2015-02-04 08:23] anydream commented on #49
I am now using Windows 7 Ultimate SP1.
Change the console width was resolved that problem and now I have successfully built CoreCLR :)
Perhaps that is because of the different locale strategies of cmd.exe?

[2015-02-04 08:24] alexandrnikitin commented on #55
@jkotas What's the status of the bug? Could you share some insights?

[2015-02-04 08:24] ellismg commented on #49
Not sure.  I'm glad you're unblocked for now.  I'm going to spin up a Windows 7 VM locally and figure out how to repro the issue and then squash the bug.  Thanks very much for your help here, I really appreciate it!

[2015-02-04 08:25] OtherCrashOverride commented on #49
I am also seeing the issue with AsmConstants.tmp.  It occurs for me on Windows 7.

[2015-02-04 08:32] anydream commented on #49
Correction: set up console default 'buffer width' value can solve that problem

[2015-02-04 08:44] jkotas commented on #55
We did not have a chance to look into the bug.

The heuristic mentioned is implemented in MethodTableBuilder::AllocAndInitMethodDescs: https://github.com/dotnet/coreclr/blob/master/src/vm/methodtablebuilder.cpp#L7260

The problem is that the number of generic dictionary slots guessed by MethodTableBuilder::AllocAndInitMethodDescs is less than what the JIT eventually asks for, and forces the JIT to

[2015-02-04 08:53] OtherCrashOverride commented on #49
I set a console width of 132; however, I encounter other error(s) attempting to build.

Abridged output:
      (PreBuildEvent target) ->
        coreclr-master/binaries/CMake/src/vm/wks/AsmConstants.tmp(193): fatal error C1017:
       invalid integer constant expression [coreclr-master\binaries\CMake\src\vm\wks\cee_w
      ks.vcxproj]
        C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V120\

[2015-02-04 08:55] ellismg commented on #49
@OtherCrashOverride Can you please share out a gist of the generated AsmConstants.tmp file?

[2015-02-04 08:58] anydream commented on #49
@OtherCrashOverride I set console 'buffer width' to 300 then it works

[2015-02-04 09:03] OtherCrashOverride commented on #49
https://gist.github.com/OtherCrashOverride/1b3c1c2011a8143873af

[2015-02-04 09:05] OtherCrashOverride commented on #49
Trying again with a console width of 300.

[2015-02-04 09:07] anydream commented on #49
@OtherCrashOverride at line 192 of your code, the maximum character length is 131....so you need larger width value

[2015-02-04 09:36] ellismg commented on #49
I believe that [ellismg:fix-h2inc-line-wrapping](https://github.com/ellismg/coreclr/tree/fix-h2inc-line-wrapping) addresses this issue, independent of what your console settings are.  This was a problem with Windows 7 regardless of locale (I could reproduce the hard wrapping behavior on an en-US Windows 7 VM).

I verified that that the generated file is not wrapped, but I haven't completed a build

[2015-02-04 09:36] actboy168 commented on #49
@ellismg
Yes, It's fixed.
Thanks very much for your help.

[2015-02-04 09:37] OtherCrashOverride commented on #49
Confirmed that changing the console width to 300 allows the build to succeed.

Very impressive terminals at Microsoft ;)

[2015-02-04 09:38] shahid-pk commented on #54
@sergiy-k
I know the repository is not ready yet for linux but i want to play. I got into a problem after compiling this when try to run a trivial .exe with it compiled using mono compiler i get this error.
**ExecuteAssembly failed - status: 0x80004005**
can you point me where the problem may be.?

[2015-02-04 09:43] OtherCrashOverride commented on #49
Testing patch.

[2015-02-04 10:00] ellismg commented on #54
@shahid-pk You'll need do a bunch of legwork in order to get this to work (and unfortunately I'm not certain that someone outside of Microsoft can put all the pieces together right now, since I haven't tried to chase down all the dependencies to make sure we have build able projects in GitHub for them).

At a very high level, you need to do the following:

1. Copy corerun and libcoreclr.so into a

[2015-02-04 10:08] shahid-pk commented on #54
@ellismg  Thanks a lot you gave me plenty to play with. It was very helpful.

[2015-02-04 10:19] OtherCrashOverride commented on #49
Build with patch in a 80x25 console succeeded.

[2015-02-04 10:20] ellismg commented on #49
@OtherCrashOverride Thanks!

[2015-02-04 10:21] ellismg opened #57 "Build on Windows 7 is broken because of h2inc.ps1"
As discussed in #49, On Windows 7, if your console is configured with a width less than ~140 columns, h2inc.ps1 will generate invalid files, which breaks the build.

[2015-02-04 10:22] anydream commented on #49
@ellismg Yes it works :+1:

[2015-02-04 10:48] mumusan opened #59 "Opening via Visual Studio"
Hi guys, thanks for great work. But I cannot find solution to open virtual machine using Visual Studio. What are you using as IDE?

[2015-02-04 10:51] akoeplinger commented on #25
+1, anything that can be done to add more details to this exception should be investigated.

@jkotas Thanks for the link, but that UserVoice is already 4 years old and has gotten a bunch of votes without an official statement from the team. Did you investigate a solution already? Did you run into problems or other concerns?  Would love to learn more details :)

[2015-02-04 10:53] akoeplinger commented on #59
Please check out https://github.com/dotnet/coreclr/wiki/Developer-Guide for an introduction to the build system and how to generate Visual Studio solutions.

[2015-02-04 11:00] mumusan commented on #59
Thanks!

[2015-02-04 11:00] #59 closed

[2015-02-04 11:48] borgdylan opened #60 "Linux: Cpu Platforms"
I realize that currently only Linux on 64 bit is supported. Will Linux on 32 bit x86 and on ARM be supported as well?

[2015-02-04 12:21] Janiels commented on #49
That patch fixes the issue for me as well.

[2015-02-04 12:34] Nassiel opened #61 "Windows: AsmConstants.tmp(118): fatal error C1012: unmatched parenthesis : missing ')'"
While compiling I receive the next error:

  mscorlib -> T:\CoreCLR\binaries\intermediates\amd64\Debug\mscorlib.dll
  Try to compile package from 'Microsoft.DotNet.CoreCLR.nuspec'.
  File not found: '..\clretwrc.dll'.

T:\CoreCLR\build.proj(60,5): error MSB3073: The command "T:\CoreCLR\\binaries\to
ols\NuGet.exe pack "T:\CoreCLR\\binaries\Product\x64\debug\.nuget\Microsoft.Dot
Net.CoreCLR.nuspec"

[2015-02-04 13:33] sharique commented on #60
I don't think supporting 32-bit is worth effort, as you won't find new 32-bit hardware. I guess ARM should be in roadmap.
I think Mono framework already support ARM.

[2015-02-04 13:39] borgdylan commented on #60
Mono also supports 32-bit linux. Running 32 bit linux on new hardware gives memory savings plus its required if developing for certain Intel IoT boards.

[2015-02-04 15:09] jgowdy commented on #43
That makes sense.  Is there somewhere that we've documented what the current specific configuration is?  I saw in another issue something about only supporting Clang 3.5.  I would suggest a section of the readme.md specifying what the supported platform for Linux build is presently, because plenty of people are going to try to build it on Linux (hopefully) and if they're trying on some distro othe

[2015-02-04 15:17] jkotas commented on #25
The project management team looks at top uservoice requests regularly and works on getting them addressed. It does not matter that the UserVoice is 4 years old - it just means that it did not gather enough votes to be in the top list yet.

For example, UserVoice votes were one of the reasons for adding SIMD support to CLR - http://visualstudio.uservoice.com/forums/121579-visual-studio/suggestions/

[2015-02-04 15:20] #57 closed

[2015-02-04 15:28] jgowdy commented on #43
"Once the engineering support (e.g. build and validation) is functionally complete, we will share the details on how to build and test the product on Linux."

I see like many people I'm jumping the gun here based on the above language, but I'd recommend throwing something out there because most of the curious people like myself are going to likely try to build it anyway and discover the requiremen

[2015-02-04 15:31] jgowdy commented on #43
I was able to successfully build with a fresh install of minimal Ubuntu Server 14.04, stock cmake 2.8.12.2, and Clang 3.5.  Just putting that much information should be sufficient for most people.

[2015-02-04 15:40] peteraritchie commented on #25
@jkotas is there someone on the team(s) that have looked at anything like this comment on this thread?  Having some detail on what has been researched so far in terms of what would need to change in the code would give the community something to hit the ground running with for a potential PR.

[2015-02-04 15:46] jakesays opened #65 "CoreCLR won't run on win7 after build"
I get "The program can't start because api-ms-win-core-winrt-string-l1-1-0.dll is missing from your computer. Try reinstalling the program to fix this problem." after building.

Environment: Win 7 64bit, Vs 2013.

Build according to directions - build completes fine. Run CoreConsole.exe and get the above message.

[2015-02-04 15:52] vongillern commented on #25
+1 @peteraritchie, a comment from the team would be helpful. I spent a little time looking at it and the project is obviously so massive, I had a hard time knowing where I could even start.

[2015-02-04 16:07] #49 closed

[2015-02-04 16:11] gkhanna79 commented on #65
@KrzysztofCwalina can you please take a look? Looks like the apiset dependency is not installed as part of CoreConsole.

[2015-02-04 17:01] jkotas commented on #25
@CarolEidt would you like to comment on this?

[2015-02-04 17:14] Nassiel commented on #61
T:/CoreCLR/binaries/CMake/src/vm/wks/AsmConstants.tmp(118): fatal error C1012: unmatched parenthesis : missing ')' [T:\CoreCLR\binaries\CMake\src\vm\wks\cee_wks.vcxproj]

Here is the core problem, at line 118 this is what is always generating:
(118) #if defined(_DEBUG) && !defined(DACCESS_COMPILE) && (defined(_TARGET_X86_) || d
(119) efined(_TARGET_AMD64_))

CMake is splitting a single line in two

[2015-02-04 17:22] ErikEJ commented on #61
Maybe this https://github.com/dotnet/coreclr/issues/57 ?

[2015-02-04 17:26] Alexx999 opened #68 "Windows: Build fails with "Cannot create a package that has no dependencies nor content.""
When building inside folder that contains dots (for me its "Work\\.NET") Nuget pack command fails with error "Cannot create a package that has no dependencies nor content."

[2015-02-04 17:28] FWest98 opened #70 "Parsing string to enum with digit as first char takes a very long time"
From https://github.com/dotnet/corefx/issues/594

When parsing strings to enums with TryParse, in some cases this takes way longer than in all the other cases. After a bit of research I found that all the strings with a digit as first char are slower. This is due to the attempt to parse the string to the underlying type (https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Enum.cs

[2015-02-04 17:46] peteraritchie commented on #25
@vongillern Right, it may be easy for the person on the CLR team that has spent the most time in that code; but that doesn't mean that person has the time to perform the change. (if that were the case, this may have been done already).  For the community to do it, however acceptable that is to do, is likely not a quick task.

[2015-02-04 18:27] AlexGhiondea commented on #39
This was merged in with PR #46.

[2015-02-04 18:27] #39 closed

[2015-02-04 18:54] #68 closed

[2015-02-04 19:13] ramarag commented on #65
Yes the apiset are not installed as part of product build. If you run <repo_root>tests\runtest.cmd, it will populate a folder with all the apisets needed and framework implementations used by the tests

[2015-02-04 19:18] Knagis opened #72 "Reuse StringBuilder in StreamReader.ReadLine()"
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/IO/StreamReader.cs#L715

A new `StringBuilder` is created for each line. Instead a single instance could be cached in the `StreamReader` itself, reducing the number of object allocations and increasing performance.

[2015-02-04 19:26] CarolEidt commented on #25
@jkotas although I could imagine that the JIT could participate in a solution (through improved debug/unwind info if there are imprecisions), the main work would lie in getting System.Environment.GetStackTrace to report column numbers (which I think would give the desired granularity).  @vongillern - System.Environment.GetStackTrace is in clr\src\mscorlib\src\System\Exception.cs.  That might be a

[2015-02-04 19:31] AlexGhiondea commented on #72
Thanks for reporting this.

Adding a cache for this might indeed speed up the code. Do you have any benchmarks to show how big this improvement would be?

[2015-02-04 19:34] damageboy opened #73 "Building with build.cmd on Windows 8.1 fails for MSCorLib"
I'm not sure why, but when I build on a Windows 8.1 machine, the coreclr build for the native part finishes without any problems, but when it continues into the mscorlib part, I get the following error:

[code]

I have VS 2015 CTP 5 installed on this machine, but this is a build triggered from the VS 2013 x64 command prompt...

[2015-02-04 19:42] brianrob commented on #72
If you want to write a quick benchmark for this, take a look at http://blogs.msdn.com/b/vancem/archive/2009/02/06/measureit-update-tool-for-doing-microbenchmarks.aspx.  MeasureIt makes writing benchmarks very simple and solves a large number of the issues that crop up around them.

As an FYI, we'll have some official guidance on using MeasureIt soon.

[2015-02-04 19:45] n8ohu commented on #60
Indeed; none of my current Linux machines run a 64 bit version of Linux, primarily because I utilize numerous applications that would require complex workarounds to run on 64 bit.

[2015-02-04 19:49] Alexx999 commented on #73
I had this issue too - the problem is that you try to build from VS command prompt. It's solved by simply running from normal console

[2015-02-04 19:49] Knagis commented on #72
Very quick test - reading 10MB (~147k lines) text file - the reuse of `StringBuilder` gains ~30-40ms on my machine.

The source - CommonMark.NET parser. This optimization (custom `ReadLine()` by using only `Read()` calls) gets me from ~280ms to ~240ms for the whole process (read/parse/write) - a very significant improvement.

[2015-02-04 19:52] KOLANICH opened #74 "Integrate BouncyCastle into CLR Core and CoreFX"
[BouncyCastle](http://www.bouncycastle.org/csharp/) is a free crypto library which implements a lot of functionality missing in System.Security.Cryptography. But it was designed in that way that they don't use System.Security.Cryptography at all and a lot of crypto primitives are reimplemented there and designed not in the best and optimal way. Also its API is not very convenient.
It is bad becaus

[2015-02-04 20:01] sergiy-k commented on #60
Yes, right now we support 64bit only. There is still a lot of work ahead before we can say that it is ready. Once it is functional we can consider other platforms as well. But for now 64bit is our main focus.

[2015-02-04 20:05] damageboy commented on #73
Thanks!, works now!

[2015-02-04 20:06] Nassiel commented on #61
But in theory that bug is solved, because I download it after he upload the bug, and well it could be of course but why is happening again? If it's the same (to my have all the sense)

Despite, thanks Erik :+1:

[2015-02-04 20:06] #73 closed

[2015-02-04 20:12] Alexx999 opened #76 "Publish a guide how to create app that is able to run on coreclr"
Because it is not that trivial, especially if you want to use Visual Studio and replace mscorlib to know about missing methods like Console.ReadKey.
Also, it does not support apps compiled with AnyCPU - that's not obvious at all.

Plus there is no System.dll - is this OK? For example MeasureIt tool you mention in #72 depends on it, so it can't be run yet.

[2015-02-04 20:31] peteraritchie commented on #25
:+1:

[2015-02-04 20:38] Nassiel opened #77 "Linux: error: unknown token in expression"
SO: Centos 7 - kernel 3.10.0-123.20
Cmake 3.1.1
Clang 3.4.2
gcc 4.8.2
g++ 4.8.2

This is the error that throws me while compiling the coreclr:
/tmp/jithelpers_fastwritebarriers-ca1b4c.s:464:21: error: unknown token in expression
        movabs rax, 0F0F0F0F0F0F0F0F0h

Could be related with:
fatal error: 'stropts.h' file not found

Linux doesn't support STREAMS almost never. POSIX recommends this c

[2015-02-04 20:45] shahid-pk commented on #77
you need to have clang and llvm 3.5

[2015-02-04 20:52] Alexx999 opened #78 "Add some tests for mscorlib"
As for now there is no tests for mscorlib - that pretty much says it.

[2015-02-04 20:53] azhmur opened #79 "Effective Interlocked.* inlining by JIT"
x86_64 has 'lock' instruction prefix allowing System.Interlocked methods to be implemented as nearly one CPU instruction. Actually C-compiliers do it for a long time. (just checked MSVC, and it does).
But JIT generated code (.Net framework 4.5.1 from WSUS) seems not so good. Interlocked.Exchange is one instruction, but Add, CompareExchange and others generated as a calls.

PS Haven't checked RyuJI

[2015-02-04 20:55] Alexx999 commented on #70
Okay, it seems I've got working fix, but without tests it's quite hard to check if it's correct. I've opened issue #78 to address this.

[2015-02-04 20:56] FWest98 commented on #70
What exactly did you change to fix this? Can you post the new implementation here while we're waiting for the tests?

[2015-02-04 21:00] Knagis commented on #72
Results from MeasureIt (since I realised my code uses the builder much more often for multiple purposes). I ran the tool on .NET 4.5.2. The StreamReader code was taken from this repository.

        timer10.Measure("StreamReader.Bad", 1, delegate
        {
            using (var reader = new System.IO.Bad.StreamReader(path))
                while (reader.ReadLine() != null) { }
        });

[2015-02-04 21:08] Piot commented on #40
Please let me know if there is anything I can help out with!

Trying to run a hello world now results in:

`dlopen failed to open the libcoreclr.so with error /home/peter/test/libcoreclr.so: undefined symbol: CHAIN_SUCCESS_COUNTER`

[2015-02-04 21:12] Alexx999 commented on #70
I want to run a few tests to be sure it works fine at some edge cases, and then I'll probably open a pull request - if it won't be accepted then at least we'll get some feedback on this

[2015-02-04 21:13] mikedn commented on #25
The column number can be obtained by passing the exception object to the stack trace class, that's trivial. But there's no useful column number that you can get from a PDB, the sequence points generated by the C# (and likely any other) compiler usually track entire statements. One would need to first make the compiler emit sequence points for sub-expressions and that's problematic partly because t

[2015-02-04 21:50] mikedn commented on #79
All .NET JIT compilers I know generate `lock add` and `lock cmpxchg` rather than calls. The only exception I know are 64 bit interlocked operations on x86. Is that what you're talking about? Or do you have some sample code that shows this issue?

[2015-02-04 21:51] mikedn commented on #78
I think that the tests you're looking for are in the corefx repository, see this for example: https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System/Enum.cs

[2015-02-04 21:51] janvorli commented on #40
This is strange, the libcoreclr.so should load fine. I've seen people from the community reporting that in the GIT forums - they get ExecuteAssembly failed - status: 0x80004005, which means that the libcoreclr.so was loaded successfully. The CHAIN_SUCCESS_COUNTER resides in the src\vm\amd64\virtualcallstubamd64.S, so I wonder if it is possible that these files are not being assembled / added to th

[2015-02-04 22:10] AlexGhiondea commented on #78
We are still working on the test infrastructure for mscorlib.

Our plan is to have the majority of tests defined in the CoreFx repo (factored based on contracts).

I am working on setting up the right infrastructure to easily allow changes to mscorlib to be tested.

We are going to have mscorlib tests in the CoreCLR repo as well -- a very simple one is here https://github.com/dotnet/coreclr/blob/m

[2015-02-04 22:12] Alexx999 commented on #78
Oh, I haven't updated my repo a while - missed that one. Still, I don't see any straightforward way to run that tests right now...

[2015-02-04 22:14] AlexGhiondea commented on #78
Yes, there is currently no good way to do that.

We are working on it.

[2015-02-04 22:25] ellismg commented on #61
I would try to delete the binaries directory (so the AsmConstants.tmp file is recreated), make sure you have the fix in your local tree and try again.  If it's still any issue let me know.

[2015-02-04 22:31] jkotas commented on #25
Correct, the JIT and PDB do not have enough precision in debug info today to reliably identify the source of NullReferenceException. For example, the following C# statement:

            foo(a.ToString(), b.ToString(), c.ToString());

has just one sequence point, and so it is not possible to identify from just the NullReferenceException location and debug info which one of a, b or c was null. If y

[2015-02-04 22:35] directhex commented on #40
FWIW, I am *not* seeing the issue reported by @Piot  - maybe it should be split out as a distinct issue from this one?

[2015-02-04 22:39] OtherCrashOverride commented on #60
32bit support is a must.  Even though hardware may be 64bit, I don't see a lot of on host deployments.  I think the main use case is virtual machines where light weight deployment is preferred to a full and heavy IIS/ASP.Net Windows server install.

My intended use case is 32bit x86 virtual machines and 32bit ARM SoC devices (IoT).  For 'heavy' deployments, I already have Mono.  I am thrilled at t

[2015-02-04 22:48] OtherCrashOverride commented on #60
I should also point out that the 'deal breaker' comes down to remote debugging support with Visual Studio.  Without this feature, .Net Core is useless to me regardless of 32/64 bit operation.

[2015-02-04 22:58] brianrob commented on #72
@Knagis, it looks like the source file link didn't take me to the right place.  Can you check on this?

Considering the simplicity of the change, feel free to code it up, and submit a pull request and we can review it from there.  Thanks.

[2015-02-04 23:10] EmJayGee commented on #25
Wouldn't this feature overall be better cast as a language/compiler feature
rather than of the runtime?  The end goal is easily mapping back to the
source; debug info is designed to assist that but if we want things like
the identifier/expression text, wouldn't this best be handled by the
compiler?

I'm assuming that this kind of information being available only in debug
builds with symbols availa

[2015-02-04 23:17] peteraritchie commented on #25
@EmJayGee Starting to sound a lot like contracts, or the very least code weaving.  I think if were approached form the compiler-side it may never get done.  Keep in mind there's 2-3 compilers in play for any piece of code: C#/VB, JIT 32-bit, and JIT 64-bit.

[2015-02-04 23:35] sergiy-k commented on #40
@Piot I’m curious whether you are building a debug or release version of CoreClr?

[2015-02-05 00:50] duaneking commented on #31
@xplicit No these do not include everything.  Or even the X509Certificate2 object; you pointed to the older one.

@jkotas The source for it is available online easily already why not just add it to the repro? We can already see due to sites that host the reference source that the private keys are stored in a crypto context even if that was not the plan of the developer using the object, for exampl

[2015-02-05 01:52] Alexx999 opened #83 "Add non-throwing methods to Convert class"
Convert class is the only method to convert boxed values to needed integer type. However, it throws exceptions, so it is too hard to implement behavior that matches simple explicit cast between integer types.
As a solution - add TryXXX methods to Convert class.

Additionally, it would be nice to have option to make Convert behave like explicit cast.
For example, this is valid:
[code]
But this is n

[2015-02-05 02:05] ArkQA commented on #77
3.5 works for me. (Out of curiosity, are you using package repos? I thought gcc/g++ was 4.9+ already)

[2015-02-05 02:44] cmckinsey commented on #34
Alexrp, we are still interested in understanding if there is a potential bug there? Is the bug concerned with the atomicity of the load operation or the memory order aspects? Thanks.

[2015-02-05 02:49] cmckinsey commented on #79
One additional comment, I believe a helper call is generated by the JIT for interlocked operations on object references since a write-barrier is required. If this isn't the case let us know.

[2015-02-05 03:01] maxinfet commented on #76
This would be really useful

[2015-02-05 03:41] sergiy-k commented on #40
Binplacing of native CoreCLR binaries on Linux has been enabled today. So the Product folder should no longer be empty. But we still need to publish instruction describing how to build managed framework libraries and applications for Linux before you can actually start playing with it.

[2015-02-05 03:59] sergiy-k commented on #60
We are working on debugging tools too. We have started bringing up CoreCLR on Linux only recently so there is still a lot of rough edges and missing pieces. Please bear with us. :)

[2015-02-05 04:27] donaldcao commented on #65
After run runtest.cmd, still missing API-MS-WIN-APPMODEL-RUNTIME-L1-1-0.DLL API-MS-WIN-SHCORE-SCALING-L1-1-1.DLL DCOMP.DLL and IESHIMS.DLL, others copied to the output folder.

[2015-02-05 04:51] damageboy opened #84 "Update the build documentation with common pitfalls"
It would be nice for the documentation/wiki to include to following comments/requirements (which I found to be true... :smile:  )

* When building in windows, the system locale SHOULD be set to English:
<br/>Mine was set to another language and it generated warnings that were treated as errors
![image](https://cloud.githubusercontent.com/assets/125730/6055188/0d9ce336-ad03-11e4-9f32-7eceb6ad9ca2.p

[2015-02-05 06:45] azhmur commented on #79
Sorry guys, its was my misunderstanding. We were doing tests under VS debugger (Release/Any CPU, x64 host, Prefer 32-bit disabled). It seems VS debugger disables inlining in JIT for a purpose of better line positioning (despite assembly attributes). If i run same code without debugger initially and attach it after JIT made his job i can see completely different code from one by simple F5 run.

htt

[2015-02-05 06:45] #79 closed

[2015-02-05 06:47] OtherCrashOverride commented on #25
Exceptions should be exceptional.  If you think something may be null, you should check that condition in code to ensure proper operation.  I think this is more an issue of coding practice than a feature for the runtime.  The Common Language Runtime is, as the name implies, common among many languages so it would likely require strategies for what makes sense for each language to produce a more us

[2015-02-05 06:50] mikedn commented on #79
The debugger disables all JIT optimizations, not only inlining.  See Tools\Options\Debugging\General\Suppress JIT optimization on module load.

[2015-02-05 06:55] robertsundstrom commented on #74
@KOLANICH This seems to be a framework question. Could you repost and elaborate in the dotnet/corefx repository? Please.

[2015-02-05 07:07] olivierlacan opened #85 "Updated CI badge"
Hey folks,

Along with some good folks at http://shields.io/ I've developed the Shields badge standard that's now used across many open source repositories like this one. We've recently overhauled the design of our badges for consistency. It appears that you've cached the older version of these badges at http://dotnet-i.cloudapp.net/job/dotnet_coreclr_linux_debug/badge/icon

That's actually unnece

[2015-02-05 07:14] azhmur commented on #79
Thank you for clarification!

[2015-02-05 08:09] Nassiel commented on #77
Yes all package repos, but I'll build from the latest instead of repos. Despite of that, I think that it's an error force to use the latest version of each component.

[2015-02-05 08:38] Nassiel commented on #61
Well, I feel like a noob... but now it runs smoothly. Thanks to all!

[2015-02-05 08:44] jkotas commented on #61
Very likely dup of #57

[2015-02-05 08:44] #61 closed

[2015-02-05 08:46] ErikEJ opened #87 "How does this repo relate to the full desktop .NET?"
Will for example perf improvements also be included in future desktop FW versions?

[2015-02-05 09:06] jkotas commented on #87
Whether/when changes made in this repo are going to be included in future desktop versions is on case by case basis. The desktop has to maintain very high compatibility guarantees. Changes with low compat risk are likely going to be included after some bake time. Changes with high compat risk are not going to be included by default - we will ask for such changes to be made under FEATURE_CORECLR if

[2015-02-05 09:07] #87 closed

[2015-02-05 09:08] gkhanna79 commented on #87
The Desktop CLR and CoreCLR are built from the same codebase. In principle, any contributions made to this repo will be mirrored back to the Desktop CLR branch as well. However, since Desktop CLR has a high degree of compatibility onus on it, any such change will have a closer scrutiny. Also, when they figure out in a public release of the Desktop CLR will depend upon its release schedule.

[2015-02-05 09:10] gkhanna79 commented on #65
@KrzysztofCwalina Do you have any thoughts on how to package the dependencies for the Console example?

[2015-02-05 09:14] MitchK opened #88 "Code Review & CLA"
We are developing two open source GitHub tools that focus on pull request code review and content license agreements for GitHub contributions.

 * https://github.com/reviewninja/review.ninja (http://review.ninja)
 * https://github.com/cla-assistant/cla-assistant (http://cla-assistant.io)

Keep up your great work with CoreCLR :+1:

Cheers,
Mitch

[2015-02-05 09:14] gkhanna79 commented on #73
The invariant of requiring a clean command prompt for doing the build is documented in the Development Guide - https://github.com/dotnet/coreclr/wiki/Developer-Guide

[2015-02-05 09:15] gkhanna79 commented on #84
The requirement of clean command prompt is described in the Development Guide - https://github.com/dotnet/coreclr/wiki/Developer-Guide.

Can you please share the warnings you got when building in non-English locale?

[2015-02-05 11:49] akoeplinger commented on #85
The CI is a standard Jenkins with the [Embeddable Build Status](https://github.com/jenkinsci/embeddable-build-status-plugin) plugin: http://dotnet-ci.cloudapp.net/job/dotnet_coreclr_linux_debug/badge/

I think the badges need to be updated there (which would of course also benefit all the other user's of the plugin :)

[2015-02-05 12:08] KOLANICH commented on #74
System.Security is not a part of CoreFX

[2015-02-05 12:19] cnblogs-dudu commented on #77
I build CoreCLR on Linux CentOS 6.5 and experience following errors:
[code]

[2015-02-05 12:22] shahid-pk commented on #77
@cnblogs-dudu
the only supported compiler currently is clang 3.5 , and i think somehow your build was compiling it using gcc.

[2015-02-05 12:29] ErikEJ commented on #74
No yet! http://blogs.msdn.com/b/dotnet/archive/2015/01/28/net-core-open-source-update.aspx

[2015-02-05 12:46] dkreuter opened #90 "ASSERT("string") and method call on null in src/pal/src/init/sxs.cpp"
There are multiple occurrences of ASSERT wrongly used as logging function in src/pal/src/init/sxs.cpp. String pointers are always non-null, thus the assertions never fail.

     44: ASSERT("PAL function called on a thread unknown to this PAL\n");
    180: ASSERT("PAL_Reenter called on a thread unknown to this PAL\n");
    207: ASSERT("PAL_Reenter called on a thread unknown to this PAL\n");
    242

[2015-02-05 13:35] cnblogs-dudu commented on #77
@shahid-pk
thanks. `yum install clang` on CentOS, the latest version of clang is 3.4.2. Maybe this is reason. I will try Ubuntu.

[2015-02-05 13:48] janvorli commented on #90
I understand it looks strange, but ASSERT in the PAL is not checking any condition, but unconditionally asserting and printing the parameter message. See src\pal\src\include\pal\dbgmsg.h@368.
To assert on a condition, there are _ASSERT, _ASSERTE and _ASSERT_MSG macros.

[2015-02-05 14:00] dkreuter commented on #90
Oh, o_O, okay. That's unconventional. This definition is local to the PAL I guess. In other parts of the code-base ASSERT and _ASSERTE are the same:

    src/debug/di/rspriv.h:  #define ASSERT(x) _ASSERTE(x)
    src/debug/ee/debugger.h:#define ASSERT(x) _ASSERTE(x)
    src/gc/sample/gcenv.h:  #define ASSERT(_expr) assert(_expr)
    src/vm/hash.h:          #define ASSERT _ASSERTE
    src/palrt/shlw

[2015-02-05 15:11] janvorli commented on #90
Regarding the sxs.cpp, it is a developer's error to call the function on a wrong thread. As such, it should be caught during debugging and fixed. Or maybe the PAL data structures got into an inconsistent state due to a bug in the PAL. Even if we returned an error status here, there would be no reasonable way for the developer to recover from that - other than reporting an error or asserting. Tryin

[2015-02-05 15:13] dkreuter commented on #90
I see. Thanks for the explanation.

[2015-02-05 15:13] #90 closed

[2015-02-05 15:30] cnblogs-dudu commented on #77
Manually install clang 3.5 on Ubuntu and build successfully!
* `apt-get install cmake`
* `wget http://llvm.org/releases/3.5.0/clang+llvm-3.5.0-x86_64-linux-gnu-ubuntu-14.04.tar.xz`
* `tar xvf clang+llvm-3.5.0-x86_64-linux-gnu-ubuntu-14.04.tar.xz`
* `cd clang+llvm-3.5.0-x86_64-linux-gnu`
* `cp -R * /usr`
* `sh build.sh`

[2015-02-05 15:35] jar349 opened #91 "Does not compile on Linux Mint 17.1"
I attempted to build coreclr on Linux Mint 17.1, on a normal Intel x86_64 (i7-3740QM).

The command I invoked was: `$ ./build.sh amd64 release`

cmake: 2.8.12.2
clang: 3.4
llvm: 3.4

Here is the part of the build log that had an error:

[code]

And then at the end of the build log:

[code]

[2015-02-05 15:39] akoeplinger commented on #91
Clang 3.5 is required, see https://github.com/dotnet/coreclr/issues/77

[2015-02-05 15:43] jar349 commented on #91
I apologize for the duplicate github issue.  I tried searching for a wiki page with linux build instructions, but couldn't find one.  Is there one?  If not, I recommend adding one -- it can include the dependencies.

[2015-02-05 15:49] Nassiel commented on #77
I'm trying in different sites, one of them is still compiling llvm with clang for 5 hours, the other is compiled and the default compiler established to clang cc and c++ in order to make them default to CMake.

Despite of that, the first try gives that:
error: unknown type name 'char16_t' typedef chat16_t wchar_t;

[2015-02-05 15:53] akoeplinger commented on #91
I don't think there are instructions for linux yet, it's all very early :smile:

[2015-02-05 15:56] jar349 commented on #91
Confirmed that installing clang-3.5 and llvm-3.5 fixes the issue.  Closing.

[2015-02-05 15:56] #91 closed

[2015-02-05 16:08] #74 closed

[2015-02-05 16:27] linquize opened #92 "AnyCPU 32-bit preferred exe not running by Windows x64 runtime"
AnyCPU 32-bit preferred exe not running by Windows x64 runtime.

This is just 32-bit preferred, not required.
So if 32-bit is not available, run the exe in 64-bit mode.

However, 02084af832c2900cf6eac2a168c41f261409be97 does not run the exe in 64-bit mode, it fails to run.
Failed to load: path_to_XXX.exe
Error code: 193

[2015-02-05 16:31] Alexx999 commented on #92
I believe that for me AnyCPU fails even when built without "Prefer 32bit" flag - so probably that's problem in general

[2015-02-05 16:34] linquize commented on #92
AnyCPU without 32-bit flag seems OK to me. I untick the prefer 32-bit checkbox.

[2015-02-05 17:20] KrzysztofCwalina commented on #65
It would be great if the CoreCLR build system dropped all the Win7 dependencies to some folder so that people can for now manually just copy the files. Long term, we need a better packaging story and nuget-msbuild integration. I am in some discussions about this this week, but I think it's going to take some time before we have an answer that does not involve committing hundreds of binaries to the

[2015-02-05 18:52] Alexx999 commented on #92
Indeed, it works fine. Probably I was doing something else wrong too while seeking for combination of options that will work with CoreClr

[2015-02-05 19:33] jakesays commented on #65
@gkhanna79 @KrzysztofCwalina Is there documentation available that describes these dependencies? They seem to be 8.x related, and it would be nice to target win7 specifically. I'd be willing to work on this if you can provide guidance.

[2015-02-05 20:08] Piot commented on #40
@sergiy-k Linux binaries are now placed correctly (e.g. binaries/Product/amd64/debug), tested ef73ad8

[2015-02-05 20:13] Piot commented on #40
@sergiy-k I used the debug version, is there a way to build mscorlib and run a hello_world.exe?

[2015-02-05 20:18] copumpkin opened #94 "Use a more conventional CMake build"
I love that you're using standard tools, but was a little surprised at how you were using cmake in the linux build.

As far as I can tell, the usual practice is to make a build directory, then call cmake on the source directory from that build directory, and then call make to actually build the code. Is there a reason CoreCLR doesn't do that? If I try, I get a "not implemented" error (I can paste

[2015-02-05 20:22] Piot commented on #40
@sergiy-k @directhex I would suggest an official chat room for dotnet/coreclr, but please join https://gitter.im/Piot/coreclr for now.

[2015-02-05 21:21] ellismg commented on #40
I will be publishing directions on how to run hello world later tonight or tomorrow.

[2015-02-05 21:28] Piot opened #95 "Linux: corerun can not find libcoreclr.so (undefined symbol CHAIN_SUCCESS_COUNTER)"
[code]
...which builds `amd64` `debug` by default:

[code]

It produces the same error, even if a valid executable is placed instead of `fake_file.txt`.

The files `libcoreclr.so` and `libmscordaccore.so`are present in the same directory, and should be found by dlopen?

distro: Ubuntu 14.10
clang: 3.5.0-4ubuntu2
gcc: 4.9.1
cmake: 2.8.12.2

[2015-02-05 21:30] shahid-pk commented on #40
@ellismg
great waiting.

[2015-02-05 21:36] shahid-pk commented on #95
just run this...
**./corerun fate_file.txt**
you should get this error
**ExecuteAssembly failed - status: 0x80004005**

[2015-02-05 21:37] Piot commented on #40
I suggest closing this issue, the files are placed correctly now.
The `CHAIN_SUCCESS_COUNTER` problem is reported as #95.

[2015-02-05 21:40] janvorli commented on #95
The dlopen error indicates the libcoreclr.so was not built correctly. The symbol is defined in one of the assembler files and should be defined. I need to figure out what's going on here.
@Piot - did you have a chance to try what I've suggested to you in #40 ?

[2015-02-05 21:41] Piot commented on #95
@janvorli I'm testing it now

[2015-02-05 21:41] shahid-pk commented on #95
I can not reproduce this even by using your method. For me the libcoreclr.so does load.
**./corerun -c . fate_file.txt**
gives me this again which is fine because we do not have mscorlib.dll on unix/linux
**ExecuteAssembly failed - status: 0x80004005**

[2015-02-05 21:45] #40 closed

[2015-02-05 21:59] Piot commented on #95
[code]
...

No visible warnings or errors.

[code]

[code]

[2015-02-05 22:06] Kuzirashi commented on #95
Same here:
[code]
Ubuntu 14.10.

[2015-02-05 22:27] ellismg commented on #94
I assume you mean doing this instead of running build.sh?

You should be able to do what you want.  Assuming your build directory is in ~/builds/linux-debug-build and the repository is checked out to ~/git/coreclr:

[code]

I just tried the above and it works.  Maybe I am misunderstanding what you are asking for, since I'm very much a CMake newbie.

[2015-02-05 22:39] ellismg commented on #84
@damageboy forcing the system locale to be English should no longer be required (I fixed some issues around this the day we opened sourced).  Please make sure you're building from tip.  If you still find issues, please file bugs about the build not working (and note what locale you are in).  We don't want to force folks to change their system locale.

[2015-02-06 00:17] ellismg commented on #88
Thanks for the heads up.  For what it's worth, we already have our own workflows for both code reviews and CLAs.

[2015-02-06 00:17] #88 closed

[2015-02-06 00:19] pgavlin commented on #43
Fixed by #82.

[2015-02-06 00:19] #43 closed

[2015-02-06 00:28] poizan42 opened #98 "Missing mscordacwks and mscordbi?"
The clrdbg solution refers to mscordacwks.vcxproj and mscordbi.vcxproj but they seem to be missing.

[2015-02-06 00:34] AlexGhiondea commented on #98
@rahku can you take a look?

[2015-02-06 00:40] rahku commented on #98
which clrdbg solution are you referring to? I don't see any by that name

[2015-02-06 00:42] poizan42 commented on #98
This one: https://github.com/dotnet/coreclr/blob/master/src/debug/clrdbg.sln

[2015-02-06 00:48] rahku commented on #98
the solution & proj files that are checked into source tree do not build ...these are old files which were used for source browsing in VS before we moved to cmake based build system. These should get deleted soon maybe in next cleanup.

[2015-02-06 00:48] #98 closed

[2015-02-06 00:51] rahku commented on #98
only refer to solution files that are generated by cmake for now...ignore the ones checked into source tree.

[2015-02-06 01:02] poizan42 opened #99 "Tautological compare warnings?"
These warnings looks like they could be bugs

	In file included from /home/poizan/coreclr/src/pal/src/file/filetime.cpp:77:
	/home/poizan/coreclr/src/pal/../inc/safemath.h:739:24: warning: comparison of
		  unsigned expression >= 0 is always true [-Wtautological-compare]
					if(lhs >= 0) //first case
[code]

[2015-02-06 01:06] poizan42 commented on #99
Hmm it's just because ClrSafeInt is instantiated with an unsigned type. They should probably be silenced though - would it be a good idea to simply silence them right at the implementation in safemath.h? Maybe creating a macro for that purporse.

[2015-02-06 01:25] janvorli commented on #99
@poizan42 I am curious, are you using a newer version of clang than 3.5? With 3.5, I am not getting these warnings.

[2015-02-06 01:39] poizan42 commented on #99
Interesting. No I'm using 3.2:

    clang --version
    Debian clang version 3.2-11 (tags/RELEASE_32/final) (based on LLVM 3.2)
    Target: x86_64-pc-linux-gnu
    Thread model: posix

[2015-02-06 01:42] janvorli commented on #99
We only support clang 3.5 at the moment.

[2015-02-06 02:21] mathstuf commented on #94
@copumpkin That error comes from it not detecting that your system is [64-bit](https://github.com/dotnet/coreclr/blob/master/CMakeLists.txt#L319).

[2015-02-06 02:27] mathstuf opened #101 "CMake WIN32 usage"
As stated in #69, `WIN32` is currently used all over the place to mean a couple things:

  - the generator is multi-configuration;
  - the host platform is Windows;
  - the generator is Visual Studio; and
  - the compiler is MSVC.

Counter examples: Xcode is also multi-config, Ninja works on Windows, cross-compiling exists, and Clang works on Windows. The proper way to do these are:

  - check `CM

[2015-02-06 03:07] poizan42 commented on #99
Hmm seems the behaviour in clang was changed in http://llvm.org/bugs/show_bug.cgi?id=8682, it is not produced when I try with 3.5 myself either.

Is it documented anywhere that clang 3.5 is required? (There is also some issues with a few of the pal c_runtime tests because clang 3.2 does not support unicode string literals in C files but only C++)

[2015-02-06 03:24] cnblogs-dudu opened #102 "mac os x build error: CMake Error at CMakeLists.txt: Not Implemented"
build output:
[code]
CMakeLists.txt:317:
[code]

[2015-02-06 03:33] #84 closed

[2015-02-06 03:35] binsys opened #103 "[Win][Build] tread C4819 as error,can't build on on-CP1252 windows."
tread C4819 as error,can't build on on-CP1252 windows,LIKE CP936(zh-CHS).

CMakeLists.txt
add_compile_options(/WX) # treat warnings as errors

need add "/wd4819" on add_compile_options.

[2015-02-06 03:38] ellismg commented on #101
At the current time, we don't have any plans to support cross compilation of the native components of the run time on Windows, which is why we didn't take the time to break this up.  For us, the target and the host need to be same system and we don't have and current plans to use something other than msvc on Windows.

This doesn't mean that someone isn't welcome to submit a PR that will enable thi

[2015-02-06 03:40] ellismg commented on #102
This is "by design" for now.  We don't currently support build on OS X (and if you could get it to build, we haven't done whatever work might be needed to run on OS X).

This is something we plan to add longer term, but for right now we are focused on Windows and Linux.

[2015-02-06 03:41] ellismg commented on #103
What file are you seeing this on?  What commit is your HEAD pointing at?  I thought that I fixed all these issues a few days ago.

We should be working to fix the source files, not disabling this warning.

[2015-02-06 03:45] jkotas commented on #102
In the meantime, we will definitely take any pull request that work towards enabling the Mac port.

[2015-02-06 04:18] mathstuf commented on #101
I think adding emphasis to "target" was probably putting too much. As the project is still getting on its own two feet on non-Windows at all, cross-compile is certainly way down the list. It was just another thing which I saw `WIN32` being used for (I think). The more serious bit is the Visual Studio conflation as, personally, Ninja is just about the only way to do builds on Windows any more unles

[2015-02-06 05:16] copumpkin commented on #94
Hi, thanks for the responses. I can't get you more details right now but will do so tomorrow, sorry!

[2015-02-06 06:46] cnblogs-dudu commented on #102
Add the following code in CMakeLists.txt, the 'Not Implemented' error is gone.
[code]

Then there are some other errors, but build can be going on.
[code]

While building is in progress, the MacBook's fan starts to rattle and OS X stops to responding(freeze). so have to force shutdown the MacBook.

[2015-02-06 08:35] panost commented on #72
I don't think that timer benchs should be used in such cases (ie different object allocations algorithms). The state of the memory after the two cases are finished are vastly different.

Including in the timer results, a full GC collection might bring more accurate results, but still how can you compare a case that needed 300MB of heap memory to complete vs a case that needed only 1MB.

Anyway in

[2015-02-06 10:34] Knagis commented on #72
@brianrob - I meant to show the text file I was using for the benchmark, not the modified source code (since I only changed the one method).

@panost - looking at how `StringBuilderCache` is used it seems that the cached instance is never held longer than the time of a single framework method call.

The `StreamReader` case is different since the instance would he held for much longer (the lifetime

[2015-02-06 10:35] cnblogs-dudu commented on #102
Change `make install #-j `nproc` $__UnprocessedBuildArgs` to `make install -j `sysctl -n hw.ncpu` $__UnprocessedBuildArgs` fix OS X stops to responding(freeze) issue.

[2015-02-06 11:24] zgxnet opened #106 "Some exports of mscoree.dll missing"
Some methods in Marshal, such as ReadByte, ReadInt16, ReadInt32, needs some export functions from mscoree, e.g.
[DllImport(Win32Native.SHIM, EntryPoint="ND_RU1")]
public static extern byte ReadByte([MarshalAs(UnmanagedType.AsAny), In] Object ptr, int ofs)
However, such ND_ functions cannot found.
Does such function only support windows? I think linux/Mac also need them

[2015-02-06 11:52] jkotas commented on #106
These methods (Marshal.Read/Write methods with Object argument ) are not part of the refactored .NET Core System.Runtime.InteropServices contract. They are not going to be available on Linux/Mac.

They should be marked with Condition="FEATURE_LEGACYSURFACE" in src\mcorlib\model.txt. It will get them physically excluded from mscorlib.dll on Linux/Mac. src\mcorlib\model.txt is used during mscorlib b

[2015-02-06 11:55] jkotas commented on #72
You should be able to checkout the StringBuilder from the StringBuilderCache for just the duration of the ReadLine method.

[2015-02-06 12:00] zgxnet commented on #106
I think the ND_ functions are just simple memory read/write. Why not support them on linux?
It is just a few lines of code

[2015-02-06 12:23] jkotas commented on #106
We spent a lot of time on cleaning up and layering the .NET Core profiles to make it a lean foundation of .NET for future. .NET Core profile has many rarely used methods with questionable behavior removed.

The problem with Marshal Read/Write methods with Object argument is that they are very slow because of they need to marshal the Object argument. The marshalling of the Object argument has other

[2015-02-06 12:55] zgxnet commented on #106
It seems that System.Drawing uses a lot of those functions. It will be great if coreclr can run winforms and wpf, and we can build .net core into desktop apps.

[2015-02-06 13:13] linquize commented on #92
On Linux x64, a 32-bit preferred exe can run successfully.

[2015-02-06 14:03] OtherCrashOverride commented on #95
I also get this behavior on Ubuntu 14.10 64bit

The symbol is indeed undefined as shown by readelf command.

 readelf -s libcoreclr.so
...
 28625: 0000000000000000     0 NOTYPE  GLOBAL DEFAULT  UND CHAIN_SUCCESS_COUNTER

[2015-02-06 14:17] janvorli commented on #95
@Piot @OtherCrashOverride @Kuzirashi Maybe there is a problem with the fact that the `CHAIN_SUCCESS_COUNTER` is defined in the assembler source this way:
`CHAIN_SUCCESS_COUNTER = g_dispatch_cache_chain_success_counter`
And later on, it is accessed using `PREPARE_EXTERNAL_VAR CHAIN_SUCCESS_COUNTER, rsi`
Which adds the `@GOTPCREL` suffix to the symbol.
Could one of you try to replace the line 13 in

[2015-02-06 14:28] OtherCrashOverride commented on #95
I am trying the change in coreclr/src/vm/amd64/virtualcallstubamd64.S (note the different path)

[2015-02-06 14:29] janvorli commented on #95
@OtherCrashOverride I am sorry for the wrong path, the one you are using is the right one.

[2015-02-06 14:33] OtherCrashOverride commented on #95
That appears to correct it: for this test I now get the expected
ExecuteAssembly failed - status: 0x80004005

readelf shows no CHAIN_SUCCESS_COUNTER symbol preset
(note: not a clean build was not done in the interest of time)

[2015-02-06 14:36] janvorli commented on #95
Great! Thanks a lot for testing it. I will check in the fix in a minute.

[2015-02-06 14:43] Nassiel commented on #77
Ok, now clang 3.5.1, cmake 3.1.1, I tried in 4 different centos and each one receives a different error but the most advanced is this, so I imagine that is question of configuration:

Scannin dependecies of target mdhotdata_full
src/init//pal.cpp:63:10: fatal error: 'stropts.h' file not found
Linking CXX static library libmdhotdata_full.a
Build  target mdhotdata_full
make: *** [all] Error 2

[2015-02-06 15:00] janvorli commented on #95
@OtherCrashOverride Fix is in as #109

[2015-02-06 15:00] #95 closed

[2015-02-06 15:33] shahid-pk commented on #54
Fixed in #107

[2015-02-06 15:35] #54 closed

[2015-02-06 16:01] brianrob commented on #72
Thanks for clarifying @Knagis .

@jkotas, I'm a bit concerned about the potential memory cost of using StringBuilderCache because it creates a per-thread cache which is never freed.  This can grow especially in server cases where the number of threads in the ThreadPool is large and the ThreadPool doesn't need to shrink.  My preference would be to use a single instance which is lazily constructed i

[2015-02-06 16:14] Knagis commented on #72
I vote for a `StringBuilder` created within `StreamReader`. The cost of a single additional allocation will be completely insignificant (taking into account that the underlying operation is reading stream of some sort which is rather expensive - as opposed to formatting a `TimeSpan`). But it will also give consistent performance improvement always (not only when the line lengths are below 360).

[2015-02-06 16:30] sgzwiz opened #110 "error MSB3073"
00:13:40.380     4>C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V120\Microsoft.CppCommon.targets(122,5): error MSB3073: 命令“setlocal\r [F:\coreclr-master\binaries\CMake\src\vm\wks\cee_wks.vcxproj]
C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V120\Microsoft.CppCommon.targets(122,5): error MSB3073: C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe -NoProfile -ExecutionPolicy Bypass

[2015-02-06 16:32] mikedn commented on #72
I don't think caching a `StringBuilder` in `StreamReader` is a good idea. The builder will end up having the same lifetime as the reader and that may very well be a long lifetime. Remember that a reader can read data from sources other than files. For example you can read data from a `NetworkStream` and data may arrive occasionally throughout a long period of time.

Framework classes should strive

[2015-02-06 16:47] AdamSpeight2008 opened #111 "(Discussion) Lightweight Boxing?"
The current box used in IL / .net is more akin to a **Shipping Container**.(20x )
If was possible to have a less costly and lightweight form of box. (1x .. 3x)

What would be needed?

[2015-02-06 16:47] sgzwiz commented on #110
Sorry. I was wrong.

[2015-02-06 17:01] jkotas commented on #72
@brianrob I do not have a strong opinion on whether to use a stringbuildercache here. I was just pointing out that it should be reasonable to use stringbuildercache here if we wanted to.

I share your concern about caching a string builder per thread. I do not think it is too big a deal in mscorlib because of mscorlib is large library, and StringBuilderCache is used by many codepaths - the cost of

[2015-02-06 17:02] panost commented on #72
The StringBuilderCache most probably will be allocated, whether you use it or not, since It's already be used by many mscorlib methods.

[2015-02-06 17:09] Alexx999 commented on #111
I don't think this is really possible - basically, what boxing does - it allocates memory on managed heap (as opposed to thread stack where structs live) and copies struct value to there. So, you must pay for allocation, copying and garbage collection (just like you would if you use object instead of struct).

Probably it is possible to make some optimization here, but I highly doubt it will be 10

[2015-02-06 17:14] mikedn commented on #111
It is possible to convert certain heap allocations to stack allocations but the analysis required to do so it's pretty expensive for a JIT compiler. It's more likely to see this optimization in an AOT compiler, such as .NET Native.

[2015-02-06 17:14] Alexx999 commented on #110
@sgzwiz  that's OK, but you probably should close this issue so no-one has to review it.

[2015-02-06 17:15] #110 closed

[2015-02-06 17:22] sgzwiz opened #113 "Add check that build.cmd is executing from a regular command prompt"
“f:\coreclr-master\build.proj”(rebuild 目标) (1) ->
                   (_CheckForInvalidConfigurationAndPlatform 目标) ->
                     C:\Program Files (x86)\MSBuild\12.0\bin\Microsoft.Common.CurrentVersion.targets(615,5): error : The OutputPath property is not set for project 'build.proj'.  Please check to make sure that you have specified a valid combination of Configuration and Platform for

[2015-02-06 17:27] sergiy-k commented on #77
@Nassiel The issue with 'stropts.h' has been fixed by #82.

[2015-02-06 17:35] xyziemba commented on #102
@cnblogs-dudu You can also use `getconf` which works on both Mac and Linux. I've made that change in #100.

[2015-02-06 17:36] weshaggard commented on #113
@sgzwiz can you give some more details of what you did to get into this state? What command line did you run and from what environment?

[2015-02-06 17:41] sgzwiz commented on #113
生成启动时间为 2015/2/7 1:10:38。
开始生成时的环境:
ALLUSERSPROFILE = C:\ProgramData
APPDATA = C:\Users\Windows User\AppData\Roaming
ChocolateyInstall = C:\ProgramData\chocolatey
CommandPromptType = Native
CommonProgramFiles = C:\Program Files (x86)\Common Files
CommonProgramFiles(x86) = C:\Program Files (x86)\Common Files
CommonProgramW6432 = C:\Program Files\Common Files
COMMPath = C:\Program Files\Lenovo\Commu

[2015-02-06 18:43] Piot opened #114 "Linux: corerun f != NULL assert"
[code]

Get the same error even if a valid executable is used instead of `fake_file.txt`.

commit: a67cc0a
clang: 3.5.0-4ubuntu2
cmake: 2.8.12.2
distro: ubuntu 14.10

[2015-02-06 18:53] shahid-pk commented on #114
@Piot  you are compiling from the up to date tip ?

[2015-02-06 18:59] Alexx999 commented on #111
I think that Java has this optimization is JIT - instead of having "classes" and "structs" they have JIT that is able to convert allocations to stack.

As of AOT - actually performance tests show that now it has worse performance compared to JIT. And, it theory, JIT has wider set of optimizations since it is able to see whole set of libraries loaded and make optimizations with knowledge of inner w

[2015-02-06 19:05] brianrob commented on #72
@Knagis, I agree with you that a StringBuilder cached per StreamReader, and lazily initialized in the ReadLine method is a good way to go.

@mikedn, I suspect that the cost of caching one StringBuilder won't clear the noise floor, especially if the StringBuilder is cleared before ReadLine returns.  This ensures that the accumulated strings are dumped and subsequently collected.  If you look at the

[2015-02-06 19:16] sergiy-k commented on #114
@Piot Could you please run it under debugger (gdb or lldb) and see what the call stack is? Thank you.

[2015-02-06 19:30] kangaroo commented on #102
This, and everything else needed for initial mac builds and support is in https://github.com/dotnet/coreclr/pull/105

[2015-02-06 19:39] mikedn commented on #111
Presumably you're referring to .NET Native, not AOT in general. I'm not sure what has to do with anything, it was just an example in case some readers don't know what AOT is. Not to mention that it's a preview.

It's the other way around. The AOT compiler sees all libraries and can do whole program optimization. The JIT compiler couldn't care less about all libraries, it has time and space constra

[2015-02-06 19:41] Piot commented on #114
[code]

[2015-02-06 19:42] Piot commented on #114
Still present in c4eb037

[2015-02-06 20:12] janvorli commented on #114
It looks like the PAL_InitializeCoreCLR failed at some point before calling LOADInitCoreCLRModules(), but still returned success.
I suspect this code:
[code]
If the PAL_Initialize failed and GetLastError returned ERROR_SUCCESS, then this can happen.
I will look into that.

[2015-02-06 20:29] Alexx999 commented on #111
Actually, both NGEN and .NET Native has worse run-time performance compared to JIT.

When AOT is working there is now way it can know real context. For example, you have app that calls int.ToString() in tight loop. You say - "inline it!"? Nope, it can't do that, because mscorlib may get some patch that will change behavior of int.ToString() and your app will not get that change because code is inl

[2015-02-06 21:22] mikedn commented on #111
But that's exactly what .NET Native does, it takes all your code and the BCL code and produces a single executable. And that's exactly why I used it as an example to begin with, because due to the way it works is in a much better position to perform escape analysis. Is it too much to ask to do some basic research before posting?

[2015-02-06 21:23] AlexGhiondea commented on #113
Are you running from a regular command prompt (not a developer command prompt)? Are you invoking the build.cmd script to build?

[2015-02-06 21:59] Alexx999 commented on #111
OK, I admit it - I didn't have a chance to research how .NET Native works (since it is only for WinRT apps now), but the point was that it don't optimize well (at least not yet).

Also, this is off-topic anyway since .NET Native is not part of this repo - it only contains JIT.

So, this discussion probably should go forward into direction of making boxing faster with JIT.

[2015-02-06 22:58] ellismg commented on #85
@mmitche Do we need to do anything here or should this just be handled once Jenkins takes a fix upstream?

[2015-02-06 23:37] mmitche commented on #85
Once the plugin takes a fix upstream (and I install the update), we should get the new version.

[2015-02-07 00:04] cheers00 opened #116 "opening coreclr in visual studio 2013"
Can I see the code in VS 2013? I couldn't find solution or project file.

Thanks

[2015-02-07 00:13] akoeplinger commented on #116
See https://github.com/dotnet/coreclr/wiki/Developer-Guide for an intro to the build system and how to generate VS solution files.

[2015-02-07 00:14] ellismg commented on #54
@shahid-pk FWIW, I have published a walk through on how to [build and run Hello World](https://github.com/dotnet/coreclr/wiki/Building-and-Running-CoreCLR-on-Linux)

[2015-02-07 00:17] ellismg commented on #40
@Piot FYIm I published some directions on how to run build and run Hello World [on the wiki](https://github.com/dotnet/coreclr/wiki/Building-and-Running-CoreCLR-on-Linux)

[2015-02-07 00:17] shahid-pk commented on #54
@ellismg
great thanks.trying now.

[2015-02-07 00:27] janvorli commented on #40
@ellismg Matt, looking at the instructions - we don't need the nasm, we were just considering it at one point, but then dropped the idea.

[2015-02-07 00:30] ellismg commented on #40
@janvorli Good to know!  I will update the docs.

[2015-02-07 01:20] OtherCrashOverride commented on #111
Perhaps someone should present the scenario where the overhead of boxing is a significant issue.  The introductions of generics in .Net 2 removed the need to box/unbox in many cases.  So it may be possible to solve any remaining issues by introducing new generic overloads to corelib and corefx libraries.

An example of this is Object.Equals(object other).  IEquatable<T>.Equals(T other) avoid the b

[2015-02-07 01:32] AdamSpeight2008 commented on #111
Roslyn

[2015-02-07 01:57] OtherCrashOverride commented on #111
Without more information its difficult to determine if this is a runtime issue or a Roslyn issue.  It may simply be that Roslyn has not yet been optimized to avoid boxing.  Maybe they simply need to change some structs (ValueType) to classes (Object) if the primary use of the construct is as an object.  This would avoid unnecessary boxing/unboxing.  It may also be that Roslyn depends on core API c

[2015-02-07 02:10] zgxnet commented on #106
I think it is reasonable to remove these obsolete methods in coreclr. But I really hope that all the references can be removed in other parts of .net. In this way, .net core can run all the standard libraries.

[2015-02-07 03:16] #102 closed

[2015-02-07 04:04] wjk opened #120 "OS X clang unused argument warning"
When I build CoreCLR on OS X 10.10 following the merge of #117, I get the following warning for every code file compiled:

    clang: warning: argument unused during compilation: '-nostdinc++'

Any chance this could be removed? (It would probably be a good idea to only do this on OS X, as this flag probably has meaning to Linux compilers.)

[2015-02-07 04:09] wjk opened #121 "DBG_CheckStackAlignment not built"
I ran into a build issue when compiling CoreCLR on OS X 10.10. Specifically, [`DBG_CheckStackAlignment`](https://github.com/dotnet/coreclr/blob/master/src/pal/src/arch/i386/context.S#L5) is not present in the emitted object file, thus causing linker errors. This can be corrected by removing the `#if`/`#endif` from the file. Thanks!

[2015-02-07 04:56] sgzwiz commented on #113
@AlexGhiondea
I am running from  a developer command prompt and I am invoking the build.cmd script to build.
Building CoreRun is ok. When building MScorlib, the above error appears.

[2015-02-07 05:22] AlexGhiondea commented on #113
It might not be clear in the docs here (https://github.com/dotnet/coreclr/wiki/Developer-Guide), but you need to run build.cmd from a regular command prompt.

Can you give that a try?

[2015-02-07 05:46] sgzwiz commented on #113
@AlexGhiondea
Thank you very much.  I run build.cmd from a regular command prompt, All repo successfully built.

[2015-02-07 06:11] kangaroo opened #122 "[OSX] PAL_printf_arg_remover clobbering upper 32-bits"
Its friday night and I'm tired, so I'm going to file this to document it.

k-nucleotide.cs from the language shootout is currently causing a fault on OSX.  The stack trace is as follows:

[code]

The reason is in CoreVsnprintf the call to PAL_printf_arg_remover is clobbering the upper 32-bits of ap.
Commenting out line 151 works around the issue, but obviously isn't a proper fix.

PAL_printf_arg_r

[2015-02-07 06:19] kangaroo commented on #122
Some more information about the store for my memory:

https://gist.github.com/kangaroo/3e794734726bd65a942f

[2015-02-07 06:38] kangaroo commented on #120
I'll fix this shortly, just running a palsuite for another issue currently.

[2015-02-07 06:42] kangaroo commented on #120
Can you try https://github.com/kangaroo/coreclr/tree/issue-120

It fixes it for me.

[2015-02-07 06:42] cnblogs-dudu opened #123 "[OSX]building fails: symbol(s) not found for architecture x86_64"
Fail when build following the merge of #117 :
[code]
full error log: https://gist.github.com/cnblogs-dudu/b314a28943bb365c4077
But building `git clone -b osx --single-branch https://github.com/kangaroo/coreclr.git` is ok.

[2015-02-07 07:03] kangaroo commented on #122
Fixed by https://gist.github.com/kangaroo/bd1f95684518b0f70ad5

I need to double check the ABI docs in the morning to ensure this is the correct behavior.

[2015-02-07 07:25] cnblogs-dudu commented on #123
Remove `binaries` directory can fix it.

[2015-02-07 07:32] cnblogs-dudu commented on #121
I build successfully in debug mode on OS X 10.10. Same issue when build in release mode.

[2015-02-07 07:33] #123 closed

[2015-02-07 07:53] mikedn commented on #111
This isn't really about boxing. The actual problem is allocation and the only optimization you can do is not specific to boxing, any heap allocation can be converted to stack allocation in certain cases. And there's no need for a scenario, anyone with enough .NET experience knows that heap allocations in applications with large GC heaps have a significant cost.

I assume you never looked at the Ro

[2015-02-07 08:03] cnblogs-dudu commented on #120
@kangaroo
It fixes it for me too.

[2015-02-07 08:24] cnblogs-dudu commented on #122
Maybe `long double`
[osx-10.9-opensource/gssd-62/gssd_util.c](https://github.com/nneonneo/osx-10.9-opensource/blob/master/gssd-62/gssd_util.c)
[On Mac OS X in C++ on a 64-bit CPU, is there a type that is 64 bits?](http://stackoverflow.com/questions/2383520/on-mac-os-x-in-c-on-a-64-bit-cpu-is-there-a-type-that-is-64-bits)

[2015-02-07 09:03] OtherCrashOverride commented on #111
If this is not about boxing and is about Roslyn benefiting from stack allocations, then perhaps this issue should be raised there instead.  The runtime already provides a solution for this they could incorporate:
https://msdn.microsoft.com/en-us/library/cx9s2sy4.aspx
"The stackalloc keyword is used in an unsafe code context to allocate a block of memory on the stack. "

The runtime itself serves m

[2015-02-07 09:19] delow12 commented on #114
Unsure if this is related (same steps, only using filename "aaa") : https://github.com/dotnet/coreclr/pull/127

[2015-02-07 09:51] mikedn commented on #111
That isn't a solution by no means. It's only useful in very limited circumstances and it's a bigger contortion than what Roslyn does anyway.

A properly implemented compiler optimization doesn't have visible side-effects.

Why would it need to be reimplemented? Are you actually familiar with what's being discussed here or are you just making wild speculations?

How so? Most objects that are intere

[2015-02-07 09:53] cnblogs-dudu opened #128 "[OSX]corerun fails: terminating with uncaught exception of type PAL_SEHException"
* build the merge of #117
* copy mscorlib.dll to binaries/Product/amd64/debug
* download  [CoreConsole.exe](https://github.com/dotnet/corefxlab/tree/master/demos/CoreClrConsoleApplications/HelloWorld/NotYetPackages/CoreCLR) to binaries/Product/amd64/debug
[code]
* ./corerun CoreConsole.exe
[code]

[2015-02-07 09:58] #128 closed

[2015-02-07 10:12] cnblogs-dudu commented on #128
Sorry. CoreConsole.exe is not a sample console app.
I write a hello world console app and get it run.
[code]
[code]

[2015-02-07 10:39] jkotas commented on #113
We should add a check to build.cmd to fail with a nice error message

[2015-02-07 10:41] borgdylan commented on #60
@jkotas is this marked as up-for-grabs as you will accept PRs for it? In that case I might try to infer a linux 32bit port from the 64bit port.

[2015-02-07 10:41] jkotas commented on #120
Fixed by #125

[2015-02-07 10:41] #120 closed

[2015-02-07 10:48] OtherCrashOverride commented on #111
The element of the discussion that I am not familiar with is Roslyn; however, this is a common language runtime (CLR) discussion area where first boxing optimization was asked for and now stack object allocation is being asked for.

For those like myself that use the CLR for things other than Roslyn, the question becomes: how do your Roslyn specific requests affect us?  Anything affecting object p

[2015-02-07 10:49] jkotas commented on #60
Yes. I have just added a note about it to https://github.com/dotnet/coreclr/wiki/Contribution-guidelines

We are most likely going to accept any good changes to bring CoreCLR to new platforms and operating systems.

[2015-02-07 11:00] jkotas commented on #60
We prefer to get smaller incremental PR for this kind of work, e.g. make the PAL build, port all .asm files, etc.

[2015-02-07 11:33] Knagis commented on #72
I created the pull request with this change. The interesting find was that use of `StringBuilderCache` turned out to be even slower than no caching at all.

[2015-02-07 11:46] borgdylan commented on #60
Would there be a recommended order of tasks i.e the steps to do a port. Since I have invested in 32 bit Linux (with Physical Address Extension) I would like to try to do the coreclr port to it if i have what it takes.

[2015-02-07 11:56] mikedn commented on #111
No. Boxing optimization is that was asked for. And I explained why boxing is potentially slow and what can be done about that. As far as I'm concerned I didn't ask anything, I even said that this optimization is potentially problematic for a JIT compiler.

Why do you keep dragging Roslyn into this? Simply because Adam Speight used it as an example? It's just an example, it's not the only .NET appl

[2015-02-07 12:36] reeze opened #131 "Build error on Ubuntu 14 X86_64"
[code]

[code]

[2015-02-07 12:45] borgdylan commented on #60
@jkotas I tried to enable the 32bit build on linux but I am getting many C++ compiler errors. Can anyone guide me on how to proceed? My cmakelists changes are here https://github.com/borgdylan/coreclr/commit/75c5769a8a7496d38644a02a909c3270ad03f148

[2015-02-07 12:53] shahid-pk commented on #131
you need llvm and clang 3.5

[2015-02-07 12:56] OtherCrashOverride commented on #111
Because I am trying to understand the segment where this is a real world problem.

I do have quite a bit of experience with boxing, stack allocations, and the pitfalls of garbage collection because they are all issues game developers solved many years ago.  So its a bit of a mystery that the knowledge never propagated outside that domain.  It doesn't require any modifications to the runtime.  It j

[2015-02-07 13:01] reeze commented on #131
@shahid-pk Thank you I will try 3.5.

[2015-02-07 13:05] OtherCrashOverride commented on #111
Did you know ...
The use of a "for" loop in place of a "for each" can have an impact on garbage generation and boxing?

[2015-02-07 13:24] Sebazzz commented on #111
Wouldn't it be possible to use a similiar approach as Java when it comes to boxing? For example, Java caches a certain range of (-256 - 256 I believe) `Integer` instances. It is not a real solution to the problem when it comes to user defined types, but when using `Boolean`, `Int32`, `Int64`, `Int16` and similar integral types (including enum) would benefit from it.

[2015-02-07 14:00] mikedn commented on #111
What's so mysterious about it? Games have different allocations patterns. A lot of allocations probably happen when a "level" is loaded. Some per frame allocations can be avoided by object pooling. The GC heap is less likely to reach into the gigabyte range and if it does it's more like due to texture/geometry/sound data and that kind of data has a smaller impact on GC. As for updating coding prac

[2015-02-07 14:27] mburbea commented on #111
WPF was another place I saw a lot of developers do something like declare a boolconst class with boxed true and false.
How's about a pool of boxes for the common built in types? So rather then allocating a new boxed int every time it just pulls one out of the pool?

[2015-02-07 14:31] Sebazzz commented on #111
I wouldn't worry to much about that. We have full/partial trust and security sandboxing to prevent that from happening. Also, the solution would possibly more be suited to implement at CLR level than at the BCL level.

[2015-02-07 15:11] Piot commented on #40
Thanks a lot @ellismg!

[2015-02-07 15:20] xplicit opened #132 "Add checks for required packages/versions in build script"
Most of the issues on linux for now are related to improper packages/versions installations on the build target machine. Some of them are very difficult to diagnose and understand what is needed to resolve the error. Please add package/version checks in cmake files to be sure that all required packages (like clang-3.5) are installed and the compilation/execution errors does not relate to wrong ver

[2015-02-07 15:30] xplicit opened #133 "Execute corerun std::out_of_range error"
Ubuntu 64bit. Trying to run corerun throws an exception

    touch t.txt
    ./corerun t.txt

    terminate called after throwing an instance of 'std::out_of_range'
      what():  basic_string::compare: __pos (which is 18446744073709551614) > this->size() (which is 5)
    Aborted

[2015-02-07 15:30] AdamSpeight2008 commented on #111
Firstly this wasn't a proposal but a discussion *(hence the `(Discussion)` in the title)*, Yes the projects maybe **Open Source** but doesn't necessary guarantee you automatically get access to all of the previous discussions (design meetings notes, API review notes etc etc) that happened prior being opened sourced.

**Avoid boxing** seems to be the mantra for "performance code".
When it seems to

[2015-02-07 16:06] Alexx999 commented on #111
@AdamSpeight2008 I believe that additional heap won't help because we already have this idea implemented in generational GC

[2015-02-07 16:47] Piot opened #135 "[osx] [linux] corerun ExecuteAssembly failed - status: 0x80004005"
[code]

Same error even if a valid executable assembly is referenced.

osx: 10.10.2
clang: 600.0.56
cmake: 3.1.1

[2015-02-07 17:02] shahid-pk commented on #135
@Piot
Currently this is the most you can get on UNIX based systems. You will have to hack a bit to actually run an assembly.If you are interested the wiki has an article.
[Here in the wiki](https://github.com/dotnet/coreclr/wiki/Building-and-Running-CoreCLR-on-Linux)

[2015-02-07 17:15] #92 closed

[2015-02-07 17:22] jkotas commented on #133
Fixed by #119

[2015-02-07 17:22] #133 closed

[2015-02-07 17:23] jkotas commented on #131
Will be addressed by #132

[2015-02-07 17:23] #131 closed

[2015-02-07 17:24] #116 closed

[2015-02-07 17:26] jkotas commented on #99
Should be addressed by #132

[2015-02-07 17:26] #99 closed

[2015-02-07 17:32] jkotas commented on #83
Could you please reopen the issue in the CoreFx repo?

From https://github.com/dotnet/coreclr/wiki/Contribution-guidelines

This means that issues regarding new APIs should move to the CoreFx repo where it would go through the normal API review process.

[2015-02-07 17:32] #83 closed

[2015-02-07 17:38] jkotas commented on #113
Add check that build.cmd is executing from a regular command prompt

[2015-02-07 17:55] OtherCrashOverride commented on #111
That pretty much sums up this discussion.  Nobody is putting forth any test cases or profiling data to show that this is actually a problem worth solving.  We are depending on psychic profiling and hear-say.

There are tons of kids out there than can teach you how to get every last drop of perf out of the CLR.  The same issues mentioned here were magnified 1000X on the Xbox 360.  So "games are dif

[2015-02-07 18:08] OtherCrashOverride commented on #111
Its also worth pointing that regardless of runtime or language there is always a difference between code written for clarity and maintenance and that written for performance.  Its unrealistic to expect a runtime that serves different languages with different paradigms to be an "all knowing panacea of optimization".  It worth considering that the types of optimizations proposed are ironically bette

[2015-02-07 18:15] jkotas commented on #60
The initial work to port to a new target is about fixing the compile errors. Check the changes in #117 - majority of them are just dealing with compile errors. It is normal that there is a lot of them when you run build for the first them. Once you start understanding and fixing them, you will discover that there are recurring patterns and so it is not that bad after all.

[2015-02-07 18:22] mikedn commented on #111
OK, I take it that you think that everyone here, including the Roslyn team, are fools who don't know how to write efficient code and only the kids out there know that. That indeed sums it up.

By saying that you effectively admit that you have no clue about what the discussion is about, and that includes CLR inner workings.

I have no idea why you are trying so hard to dismiss an idea that's not e

[2015-02-07 18:31] OtherCrashOverride commented on #111
Because the .Net team has already been here almost a decade ago.

As I did not attend the "Linus Torvalds Finishing School of Social Etiquette", I will bow out of this discussion so as not to further disrupt it.

[2015-02-07 18:34] Alexx999 commented on #111
I agree with @OtherCrashOverride - in game development GC is your worst enemy.
It becomes more obvious when you have really high memory pressure due to having hundreds of megabytes of textures and artwork that you can't unload (because it's all on screen right now) and every allocation may trigger full GC. And don't forget that you only have 16ms for doing EVERYTHING including all calculations and

[2015-02-07 18:53] kangaroo commented on #121
Could you please do the following for the failing build

cd binaries/CMake
make VERBOSE=1

[2015-02-07 19:34] borgdylan commented on #60
One of the repeating erros is "error: 'operator new' takes type size_t ('unsigned int') as first parameter
    void *operator new(size_t size)". The compiler does not say why taking in size_t is bad here.

[2015-02-07 20:06] wjk commented on #121
[Here’s the `make VERBOSE=1` output.](https://gist.github.com/wjk/a1f0e712e88c1ee81bab)

[2015-02-07 21:39] kangaroo commented on #121
I don't see any linker errors?  Are you building a release build?

[2015-02-07 23:16] poizan42 opened #139 "Fix writeable string warnings"
Building with clang yields a lot of warnings where string literals are used for non-constant strings:

	In file included from /home/poizan/coreclr/src/gc/gcsvr.cpp:22:
	/home/poizan/coreclr/src/gc/gc.cpp:240:39: warning: ISO C++11 does not allow conversion from string literal to 'char *' [-Wwritable-strings]
			ngc.DisplayAndUpdate(logFile, "NGC ", &g_LastGCStatistics.ngc, cntNGC, g_LastGCStatisti

[2015-02-08 00:18] kangaroo opened #141 "stackwalk.cpp assumes locals are 16-byte aligned"
The implementation of moveOWord currently uses movdqa on all platforms, meaning that src and target both need to be 16 byte aligned.  Currently the only caller is atomicMoveCacheEntry, which is called from  StackwalkCache::Insert.

StackwalkCache::Insert is called like so:
[code]

As such a stack pointer is passed directly down to the helper.  On OS X at least, this pointer is only guaranteed 8 by

[2015-02-08 00:29] sergiy-k commented on #60
@borgdylan If you would like to do this work I can certainly help you with that and guide you through the process. If yes, then let’s split the work into smaller work items. I can open a separate ‘up-for-grabs’ issue for each of them. For example, I were to do this work I would stage it in the following way:

1. Add support for 32bit build in CMake files for Linux
2. Make PAL compile in x86 mode o

[2015-02-08 00:33] sergiy-k commented on #60
@borgdylan Could you post full description of the error you are seeing so I could see file name and line number where it is coming from? It also would be helpful if you could show output of 'make VERBOSE=1' for that file in order to understand which defines are enabled during compilation.

[2015-02-08 00:37] poizan42 opened #143 "abs overload for 64-bit ints missing when building with clang 3.5 (?)"
When building with clang I get the following warning and variations thereof:
[code]

This seems a bit weird as jitpch.h does in fact include cstdlib. But it also includes stdlib.h before that, so maybe the clang version of cstdlib fails to take this possibility into account.

clang version:
[code]

[2015-02-08 01:07] wjk commented on #121
Sorry about that, kangaroo, I forgot that `tee` by default only captures standard output. The actual linker error is this:

[code]

Yes, I am doing a release build.

[2015-02-08 01:51] ellismg commented on #139
What version of clang?

[2015-02-08 01:56] ellismg commented on #135
At a minimum, you need to get a copy of mscorlib.dll (and likely also System.Console.dll) in order to do anything useful.  The ones compiled for Unix may very well work or there might be some work that needs to be done both here and in CoreFx to get things to work (e.g. System.Console.dll parses terminfo files, I'm not sure if they are present in the same place on Mac).

PR's are welcome to get mo

[2015-02-08 02:33] cnblogs-dudu opened #145 "[OSX]release build fails: libcee_wks.a(jithelpers_slow.S.o) has no symbols"
Build commad: `./build.sh amd64 release clean`
Error output:
[code]

[2015-02-08 02:37] cnblogs-dudu commented on #121
@wjk
Remove `binaries` directory can fix it. see #123

[2015-02-08 02:41] poizan42 commented on #139
[code]

[2015-02-08 05:09] sergiy-k commented on #141
@kangaroo The declaration of the StackwalCacheEntry class already has DECLSPEC_ALIGN(STACKWALK_CACHE_ENTRY_ALIGN_BOUNDARY) which is defined in pal.h. Maybe it does not work with llvm on OS X if you are hitting this problem at runtime?

[2015-02-08 05:52] linquize opened #147 "Environment.CurrentDirectory,OSVersion,ProcessorCount does not work on Linux"
Environment.CurrentDirectory, OSVersion, ProcessorCount work on Windows, but do not work on Linux.

[2015-02-08 05:59] linquize opened #148 "Improve unix corerun debug messages"
It would be nice to add more debug messages in unix corerun and add something like --verbose option.
e.g, the program quit silently or just print 0x80004005 when an error occurred.
Also, when an unhandled exception is thrown, the exception is not printed to standard error.
We do not know the cause of error.

[2015-02-08 06:33] cnblogs-dudu commented on #148
Print 0x80004005 because mscorlib.dll is absent.
Same silently quit problem:
[code]

[2015-02-08 10:12] cnblogs-dudu commented on #145
duplcate with #121

[2015-02-08 10:13] #145 closed

[2015-02-08 10:20] cnblogs-dudu commented on #121
Replacing `#if defined(_DEBUG)` with `#if defined(__APPLE__)` in src/pal/src/arch/i386/context.S can fix it.

[2015-02-08 10:28] linquize commented on #148
Also, when an unhandled exception is thrown, the exception is not printed to standard error.

[2015-02-08 13:22] borgdylan commented on #60
OK.I would like to try doing the port.

[2015-02-08 13:30] poizan42 commented on #139
Btw. it's interesting that the clang used by jenkins (3.7?) does not report these warnings. But warnings or not; we shouldn't store string literals in non-const strings.

[2015-02-08 13:50] borgdylan commented on #60
One of the erros is:

[code]

In my opinion the error is just stating what is in a header file but not why it is wrong.

[2015-02-08 13:54] borgdylan commented on #60
The defines are:
[code]
Could some error arise as WIN32 is also being defined?

[2015-02-08 14:45] borgdylan commented on #60
What should the value of PAL_CS_NATIVE_DATA_SIZE be on 32 bit Linux? And why is it 96 on 64bit Linux instead of 64?

[2015-02-08 15:18] jkotas commented on #147
Environment.CurrentDirectory and other methods are not in the .NET Core contracts. It is expected that they do not work. They were moved to other places. E.g. System.IO.Directory.GetCurrentDirectory().

@weshaggard @AlexGhiondea I would be useful to get the sources for .NET Core contracts published in fxcore repo so that it is clear what the supported .NET Core public surface looks like. It does n

[2015-02-08 17:13] glen-84 opened #154 "Unable to compile HelloWorld.cs on Ubuntu after following instructions"
I followed the instructions [here](https://github.com/dotnet/coreclr/wiki/Building-and-Running-CoreCLR-on-Linux) but the 2nd-to-last step (mcs) fails with:

    glen@ubuntu:~/coreclr-demo/runtime$ mcs /nostdlib /noconfig /r:../packages/System.Console.4.0.0-beta-22512/lib/contract/System.Console.dll /r:../packages/System.Runtime.4.0.20-beta-22512/lib/contract/System.Runtime.dll HelloWorld.cs
    er

[2015-02-08 17:38] shahid-pk commented on #154
where is your packages directory located ?

[2015-02-08 17:55] kangaroo commented on #121
Thats not the correct fix, I accidentally merged a debug config.h.osx.  I'll submit a PR shortly.

[2015-02-08 18:01] kangaroo commented on #121
Fixed in https://github.com/dotnet/coreclr/pull/155

[2015-02-08 18:06] kangaroo commented on #141
I was definitely hitting this at runtime, but I see the decl on the entry now, and it seems to be pulling in the right thing from pal.h

I'll do some additional digging into why this is happening.

[2015-02-08 18:20] kangaroo commented on #154
The instructions seem wrong.  Add -r:/path/to/coreclr/mscorlib.dll

/nostdlib removes all imports.

[2015-02-08 18:20] kangaroo commented on #154
cc @ellismg

[2015-02-08 18:24] kangaroo commented on #148
There are some undocumented (at least as far as I could find) environment variables which will give you various log information:

For the execution engine try:
export COMPlus_LogEnable=1
export COMPlus_LogToConsole=1

Adjust COMPlus_LogLevel as needed.

For the PAL (which is probably where you are failing) you can use:

export PAL_DBG_CHANNELS="+all.all"

See src/pal/src/include/pal/dbgmsg.h for m

[2015-02-08 18:36] poizan42 commented on #76
Here is what I did to build a project in visual studio, I don't know if that is the best way but feel free to use as basis for a guide.

First create a normal C# (or your .net language of choice) project. The open the project file in a text editor and edit the following:

In the Debug|AnyCPU and Release|AnyCPU sections add `<NoStdLib>true</NoStdLib>`.

Remove all the `<Reference>`'s and replace th

[2015-02-08 19:02] #139 closed

[2015-02-08 19:22] sergiy-k commented on #141
By the way, things like stack walking and exception handling have not been yet implemented for Unix platforms. We are currently working on them.

[2015-02-08 19:27] jkotas commented on #141
The alignment is really only required on x86 because of the lock-free implementation.

For x64, it should be fine to get rid of the alignment and moveOWord assembly implementation. It is not required because of atomicMoveCacheEntry takes a lock.

[2015-02-08 20:06] glen-84 commented on #154
@shahid-pk

    glen@ubuntu:~/coreclr-demo$ ls -lsh
    total 8,0K
    4,0K drwxrwxr-x 19 glen glen 4,0K Feb  8 18:37 packages
    4,0K drwxrwxr-x  2 glen glen 4,0K Feb  8 18:38 runtime

[2015-02-08 20:08] glen-84 commented on #154
@kangaroo

    glen@ubuntu:~/coreclr-demo/runtime$ sudo mcs /nostdlib /noconfig /r:mscorlib.dll /r:../packages/System.Console.4.0.0-beta-22512/lib/contract/System.Console.dll /r:../packages/System.Runtime.4.0.20-beta-22512/lib/contract/System.Runtime.dll HelloWorld.cs
    error CS0009: Metadata file `/home/glen/coreclr-demo/runtime/../packages/System.Runtime.4.0.20-beta-22512/lib/contract/System.R

[2015-02-08 20:11] Alexx999 commented on #76
@poizan42 well, that's what I've done before opening this issue. However, that's not straightforward, so it would be nice to have such guide in docs.
And yeah, System.dll should be probably replaced by CoreFx. Too bad it misses some features.

PS: You can add NoStdLib before Debug/Release sections just once.

[2015-02-08 20:30] jkotas opened #156 "Clean up config.h to be generated at build time"
#155

[2015-02-08 20:30] shahid-pk commented on #154
delete every ../ after every  /r:
you have deleted only one.

[2015-02-08 20:41] glen-84 commented on #154
@shahid-pk The packages folder is in the parent folder (coreclr-demo).

The paths are correct, but there's something wrong with the metadata.

[2015-02-08 20:49] poizan42 commented on #113
Couldn't we clear the environment instead?

[2015-02-08 20:57] shahid-pk commented on #154
ok i got it you are using System.Console.dll from packages but you should use the one you compiled .... not the one from packages.

[2015-02-08 21:03] davidfowl commented on #154
Instead of using mcs to manually compile, you should consider using kpm build. You'll be able to compile against the same packages and you'll get a DLL as output that you can use to run with corerun

[2015-02-08 21:06] glen-84 commented on #154
@shahid-pk

    glen@ubuntu:~/coreclr-demo/runtime$ sudo mcs /nostdlib /noconfig /r:mscorlib.dll /r:System.Console.dll /r:../packages/System.Runtime.4.0.20-beta-22512/lib/contract/System.Runtime.dll HelloWorld.cs
    error CS0009: Metadata file `/home/glen/coreclr-demo/runtime/../packages/System.Runtime.4.0.20-beta-22512/lib/contract/System.Runtime.dll' does not contain valid metadata
    Compilat

[2015-02-08 21:12] shahid-pk commented on #154
because /r:System.Runtime.dll make mcs compile against mono's System.Runtime.dll. And in that version of the assembly their are things that .net core does not have that is why that error i guess.
you should try kpm build as @davidfowl  suggested.

[2015-02-08 21:22] poizan42 commented on #143
Actually the standard lib cstdlib is never included. Here is the relevant part from running the clang preprocessor:

[code]

The pal cstdlib file just contains and include of palrt.h, but that only provides an `int abs(int)` from pal.h

[2015-02-08 22:39] glen-84 commented on #154
I think I'll just wait for the documentation to be fixed. I have no idea what the project.json file should look like, etc.

Thanks.

[2015-02-08 22:58] Nassiel commented on #77
Finally works perfect, Thanks to all!

[2015-02-08 22:58] #77 closed

[2015-02-08 23:39] Nassiel opened #157 "API-MS-WIN-CORE-WINRT-STRING-L1-1-0.DLL missing"
Hi again,

After compiling everything, I tried to execute test but it fails. When I try to execute directly CoreConsole.exe I receive an error about this Api dll of the Kernel:
The program can't start because
API-MS-WIN-CORE-WINRT-STRING-L1-1-0.DLL is missing from your computer.
Try reinstalling the program to fix the problem.

Of course, reinstalling is not the solution. I think that he's calling

[2015-02-08 23:50] akoeplinger commented on #157
See https://github.com/dotnet/coreclr/issues/65

[2015-02-09 00:06] Nassiel commented on #65
I tried with Dependency walker and the only dependencies are against MSVCR120.dll and Kernel32.dll. Tomorrow I'l try with a more powerful tool detect why is searching for an api which actually is not referenced as a dependency.

Also MSVCR120.dll should link against the right dll core, not against windows 8.x api (WINRT)

[2015-02-09 01:40] Alexx999 commented on #65
This libs are documented here: https://msdn.microsoft.com/en-us/library/windows/desktop/hh802935%28v=vs.85%29.aspx
And it's stated that they are not available for Win7 and lower

[2015-02-09 01:44] kangaroo commented on #141
Here's the issue:

basalt:Work plasma$ clang++ -std=c++11 test.cpp -o t
test.cpp:3:12: warning: attribute 'align' is ignored, place it after "struct" to apply attribute to type declaration [-Wignored-attributes]
__declspec(align(0x10))
           ^
1 warning generated.

It wasn't immediately obvious because we set -Wno-ignored-attributes by default, suppressing this message.

[2015-02-09 02:21] kangaroo opened #158 "[OSX] Clean up mach port interaction with lldb"
Currently the mach ports don't play nice with lldb.  A breakpoint in libcoreclr.dylib will raise an identity exception, and is flagged as handled in IsHandledException, due to this check:

[code]

Does anyone know the history behind this?  It makes debugging the coreclr itself painful.  What specific regions in the shared object need to be handled by the machinery?  Is there a plan for debugging c

[2015-02-09 02:23] kangaroo commented on #158
For the sake of others notes, changing the referenced return true; to return false; is not sufficient to appease lldb.  Considering coreclr only registers a thread port, and lldb supposedly registers a task port, you would think it would work.

The first breakpoint hit will succeed, but any subsequent step, or next will hang lldb and the target.  I haven't dug into that piece of this yet.

[2015-02-09 02:29] Plasma opened #159 "Ahead of time JIT "warm up" for .NET web apps"
Hey team,

I'd like to propose a CLR runtime feature that allows me to tell my application to "warm up" and "pre jit" as much as possible so that the first IIS web request to reach my .NET website does not incur this penalty.

There are various tools to try and "warm up" a .NET site at this time (IIS Warm Up module, App Pool mode to AlwaysRunning, etc) but none of these directly address the compil

[2015-02-09 02:31] jkotas commented on #65
We are going to have package that emulates the apisets on Win7. This package is used by the tests today. Until we sort the CoreCLR packaging for Win7, you can workaround it by copying the api-ms-*.dll from under test directory next to coreclr.dll.

These apiset .dlls are forwarding the APIs to the Win7 implementation .dlls. They do not contain any actual code.

[2015-02-09 02:43] jkotas commented on #159
We are going to have crossgen tool that allows the .dlls to be precompiled. The tool is not part of the cmake build yet, but the sources are there already at https://github.com/dotnet/coreclr/tree/master/src/tools/crossgen . It is also available in the CoreCLR that is bundled with ASP.NET vNext.

The crossgen tool is similar to NGen from desktop CoreCLR. It does not have the limitations of NGen, a

[2015-02-09 03:03] davidfowl commented on #159
Yep. We're also working on an end to end story to enable this for deployment `kpm bundle --native` that will integrate something like this (we have this today but it's not well tested). We're also looking at a way to do this during package restore (stay tuned).

[2015-02-09 03:47] jkotas commented on #158
We used to do the following to debug under gdb back in the Silverlight days:

export PAL_MachExceptionMode=2   This disables PAL handling of breakpoint exceptions, allowing GDB to use them transparently.  Otherwise GDB will appear to hang after continuing from a breakpoint. This means you will not be able to do managed debugging of the process (VS / MDbg) since this relies on the CLR being able to

[2015-02-09 04:40] kangaroo commented on #158
@jkotas Thanks for the pointer, that at the least seems to work much better with LLDB, so I've submitted https://github.com/dotnet/coreclr/pull/160 until we can consider a managed debugger.

Once merged we can likely close this out until a managed debugger exists.

[2015-02-09 05:44] kangaroo opened #161 "Failing sscanf tests"
I haven't spent any real time investigating this yet, brain dump follows.

Several sscanf tests are currently broken on mac and linux:

[code]

On OSX 3, 9 and 10 are broken.  It appears that 9, 10 are passing on Linux just based on luck of where the pointer is:

[code]

It seems the 3 cases share a similar base cause of entering the case to parse an array width, which seems at a quick glance like

[2015-02-09 05:53] cnblogs-dudu commented on #148
@kangaroo
Thansk. `export PAL_DBG_CHANNELS="+all.all"` works.

[2015-02-09 07:55] cnblogs-dudu commented on #148
`export PAL_DBG_CHANNELS="+PAL.TRACE:-FILE.ERROR"` has less noise.

[2015-02-09 08:52] cnblogs-dudu opened #164 "[OSX]corerun CoreClrHelloWorld fails in stackwalktypes.h"
Follow [Building and Running CoreCLR on Linux](https://github.com/dotnet/coreclr/wiki/Building-and-Running-CoreCLR-on-Linux):
* build CoreClrHelloWorld on Mac OS X
* Transfer CoreClrHelloWorld to Linux Ubuntu
* copy "corerun, libcoreclr.so, mscorlib.dll" on Linux into CoreClrHelloWorld

![screen shot 2015-02-09 at 16 22 58](https://cloud.githubusercontent.com/assets/3196961/6102866/064d622c-b078-1

[2015-02-09 09:08] ellismg commented on #164
My hunch is that the code in System.Console.dll which reads terminfo files doesn't work correctly on OSX.  If you're up for it, look at ConsolePal.Unix.cs in the CoreFX repository, to see what we are trying to do.  You might also try setting COMPlus_DumpJittedMethods=1 in your environment to get a better idea of where this is crashing.  I expect the runtime is trying to throw an exception, which c

[2015-02-09 09:29] cnblogs-dudu commented on #164
@ellismg
"COMPlus_DumpJittedMethods=1" logs: https://gist.github.com/cnblogs-dudu/ace5d9039716860f6a8c

[2015-02-09 09:29] janvorli commented on #141
I don't get this warning on Linux (even with the ignored-attributes warnings enabled). It looks like a bug in the Apple's clang, the __declspec is supposed to be placed in front of the struct declaration. It looks as if that version of clang just converts it to __attribute__ without considering that.

[2015-02-09 09:30] janvorli commented on #141
I don't get this warning on Linux (even with the ignored-attributes warnings enabled). It looks like a bug in the Apple's clang, the \_\_declspec is supposed to be placed in front of the struct declaration. It looks as if that version of clang just converts it to \_\_attribute\_\_ without considering that.

[2015-02-09 09:30] chenjd opened #165 "OS X build error:CMake Error at CMakeLists.txt:error: Detected non x86_64 target processor. Not supported!(CMAKE_SYSTEM_PROCESSOR is i386)"
when i tried to build corlclr on OS X, i got the error:
[code]
CMakeLists.txt:307
[code]
the reason maybe the CMAKE_SYSTEM_PROCESSOR isnot x86_64,and then i figour out that the CMAKE_SYSTEM_PROCESSOR  is always i386 on OS X!!
i change  CMakeLists.txt:307 to:
[code]
and the output is
[code]

[2015-02-09 09:40] Nassiel commented on #157
.

[2015-02-09 09:40] #157 closed

[2015-02-09 09:43] janvorli commented on #148
@linquize Exception handling and stack walking is not implemented yet. I am working on it.

[2015-02-09 09:43] borgdylan commented on #60
More errors spotted:
* There are cases where the PAL defines structs that are also defined in other files. Should the second version not be defined if the PAL version is defined?
* There cases of errors due to missing WIN32 defines such as LPMEMORYSTATUSEX. Is there a header in the PAL which should be included that has these defines?

[2015-02-09 09:52] Nassiel commented on #65
I see that in newapis.h/cpp you only evaluates if it's windows 7 or upper but this methods are not able in Win7, you're going to include more validations and a api redirection there?

[2015-02-09 11:13] cnblogs-dudu commented on #165
Update Clang.
[code]
[code]

[2015-02-09 11:50] Nassiel commented on #65
I try to copy the api-ms and now, it's ok doesn't launch a dynamic link exception but actually every test, all of them launch a -1 error. corerun.exe never launch the .net exe application.

I theory I don't need any dll from the coreFx to run the coreCLR test, don't? Despite of that I try to build a extremely basic app (console hello world) and I added the System.Console.dll from the coreFx and th

[2015-02-09 14:51] cnblogs-dudu commented on #164
The 'SPOffset >= pUnwindInfo->RSPOffsetFromUnwindInfo' failture is produced with `mcs HelloWorld.cs` command. This is not really problem.
When compiled with the following command:
[code]
There is following exception:
[code]

[2015-02-09 15:53] zgxnet commented on #106
An important use case of core clr is to publish portable desktop .net apps. And winforms and wpf are also required. So it is very important for core clr to support all the common assemblies.

[2015-02-09 18:43] stephentoub opened #168 "mscorlib.csproj should be buildable on its own"
It appears that right now the only way to build mscorlib is to do a full build with build.cmd.  It would be very useful if either the build script supported an option to just build mscorlib and/or if mscorlib.csproj could be built on its own, ideally from within VS.

[2015-02-09 19:30] weshaggard opened #169 "Add Contract Reference Asssemblies to the repo"
We need to enabling building our contract reference assemblies in the CoreFX repo. They are be needed for a number of reasons:

1) We need to build them to put them in our nuget packages.
2) We need them to produce our facades for our nuget packages.
3) People would like to see a reference for what is supported (see https://github.com/dotnet/coreclr/issues/147 as example) and for what we will be b

[2015-02-09 19:34] weshaggard commented on #169
Sorry opened in the wrong repo. I've opened this on CoreFX which is where I was intending to do it. https://github.com/dotnet/corefx/issues/701

[2015-02-09 19:34] #169 closed

[2015-02-09 19:35] weshaggard commented on #147
@linquize @jkotas Yes getting the contract source into the CoreFX repo is on our list I've created a issue https://github.com/dotnet/corefx/issues/701 tracking that work. However I think we can close this one.

[2015-02-09 19:35] #147 closed

[2015-02-09 19:36] shahid-pk opened #170 "Support building mscorlib on UNIX systems."
Right now their is no way to build mscorlib on UNIX based systems.We should explore the options that we have to support building mscorlib on UNIX and adopt the best one.

**some constraints**
* We will need mono's C# compiler at least in the best case, but if we go with creating visual studio projects using cmake we will have to use mono's xbuild too.
* cmake does not support C#. Although it can c

[2015-02-09 19:50] cheers00 opened #171 "Debugging CoreCLR"
Followed the steps to build solution and debug at https://github.com/dotnet/coreclr/wiki/Developer-Guide and I set my HelloWorld.exe (complete path) as command parameter. When I try to debug, I get the following errors saying Cannot find or open PDB files. Where do I find them?

[code]

[2015-02-09 19:50] sergiy-k commented on #143
@poizan42  Interesting… I don’t see this warning. I guess this is due to a difference in toolchain version. In any case, we should fix. I will add an overload unless, of course, you’d like to add it yourself and submit a pull request. :)

Regarding inclusion of standard libraries. When building on Linux, only PAL is allowed to include header files from standard libraries. All other components of C

[2015-02-09 19:58] sergiy-k commented on #161
@kangaroo  Thank you very much for reporting the issue. We have never seen this before (these tests used to pass all the time on Linux). I guess, like you said, this was just based on luck. I will take a look.

[2015-02-09 20:05] kangaroo commented on #161
@sergiy-k They do pass, mostly because the overconsumption of the va_list happens to return a writeable pointer on linux.  So its kind of a false pass :)

[2015-02-09 20:14] janvorli commented on #114
@Piot I have checked in a fix for the PAL_Initialize yesterday as #140, could you please try again? The corerun should exit in a clean way now.

[2015-02-09 20:19] Alexx999 commented on #171
That's perfectly fine, and that's not an errors, but warnings - you don't have PDBs for Windows libraries.
If you absolutely want to get rid of those - you need to enable symbol server (beware: it's *slow*)
http://support.microsoft.com/kb/319037
It describes .NET Debugger, but for VC++ it's all the same.

[2015-02-09 20:25] Alexx999 commented on #170
hmmm, I believe it will be best to use some kind of self-hosted process - you can build mscorlib using Roslyn running on CoreClr :smile:
Anyway, that's what should be done, because it will allow to use new C# features inside mscorlib (and not only those supported by Mono's compiler).
And if I remember it right - mono has some difficulties during build too (with similar reasons)

[2015-02-09 20:30] sergiy-k commented on #60
@borgdylan  Could you please explain why you think PAL_CS_NATIVE_DATA_SIZE should be 64 instead of 96 on 64bit Linux (sizeof(PAL_CRITICAL_SECTION_NATIVE_DATA) returns 96)? You can check the value for 32bit Linux in the same way.

LPMEMORYSTATUSEX is defined in pal.h but it’s currently under “#if defined(_AMD64_)” that’s why you these errors.

Could you please provide examples of the structs that a

[2015-02-09 20:49] shahid-pk commented on #170
@Alexx999
I think while building mscorlib you simply do not reference any assembly. so their is no dependency because i do not see mscorlib referencing anything from other managed assemblies i may be wrong. The problem mono guys were facing was some assemblies in the BCL that cross reference each other (i can not recall those assemblies).It was problem during build because one of them needed to be

[2015-02-09 20:56] cheers00 commented on #171
Thanks. I can build the solution without any problem but during debug, I get the following error messages.

[code]

[2015-02-09 21:10] Piot commented on #114
@janvorli The fix worked. Now I get the #135 instead.

[2015-02-09 21:26] ellismg commented on #154
@glen-84, your invocation of msc prints the following:

[code]

The System.Runtime.dll does not contain valid metadata error is a problem.  Can you tell me what version of msc you have and how you installed it?

@kangaroo Not referencing mscorlib.dll is by design.  You need to compile against the .NET Core Surface area (System.Runtime.dll and System.Console.dll).  Building against mscorlib.dll is

[2015-02-09 21:43] AlexGhiondea commented on #113
Clearing out the environment might have side-effects. I will look into this -- at the very least we should check for a regular command prompt.

On a similar note, I submitted #173 to fix the OutputPath not set error.

[2015-02-09 21:48] Piot opened #174 "[linux] corerun HelloWorld.exe 0x8007001f when connected using ssh"
When executing `corerun` with `HelloWorld.exe` over ssh it fails. However running from the same directory on the local console it works (however it shows the windows logo).

Can it have something to do with terminfo parsing?

### Local Console
[code]

### Over ssh
[code]
[code]

[2015-02-09 21:50] Piot commented on #135
The mscorlib.dll was not built correctly, so the issue is not valid.

[2015-02-09 21:50] #135 closed

[2015-02-09 22:01] kangaroo commented on #174
I have run it over vagrant ssh without issue.  Can you:

export COMPlus_DumpJittedMethods=1

It would be interesting to see how far that gets.

[2015-02-09 22:03] janvorli commented on #114
Great, thanks for checking.

[2015-02-09 22:03] #114 closed

[2015-02-09 22:16] janvorli commented on #174
I think it failed during PAL_Initialize. The error code means ERROR_GEN_FAILURE and these are errors that I have added there yesterday when something that cannot be expressed by an existing error code happens. Enabling debug channels will most likely show the culprit. You can use e.g. this:
export PAL_DBG_CHANNELS=+all.all:-VIRTUAL.TRACE

[2015-02-09 22:18] Piot commented on #174
[code]

[2015-02-09 22:20] Piot commented on #174
@kangaroo `export COMPlus_DumpJittedMethods=1` didn't show any extra information. But good to know in the future.

[2015-02-09 22:31] janvorli commented on #174
There were no methods jitted yet, hence no extra information showed with the COMPlus_DumpJittedMethods set.
The issue is that the codepage initialization has failed. Based on the debug dump, I believe the `setlocale( LC_CTYPE, "" )` returned `NULL`.
Looking at the man page of the `setlocale`, it says:

       be modified is set according to the environment variables.  The
       details are implem

[2015-02-09 23:11] Alexx999 commented on #170
@shahid-pk actually no, they too have C# compiler written in C#, so you can't compile Mono without having Mono

[2015-02-09 23:15] Alexx999 commented on #171
You can probably just ignore Intellisense errors if it compiles and works
fine since it quite often makes false errors in large solutions
On Feb 9, 2015 10:57 PM, "cheers00" <notifications@github.com> wrote:

[2015-02-09 23:50] shahid-pk commented on #170
@Alexx999
 yes their c# compiler is written in c# and they require c# to compile their compiler not mono.
 again because mono's csharp compiler or mcs does not require any managed assembly it only requires a c# compiler.
To solve this problem they use monolite a precompiled c# compiler(which gets download when you build mono locally and you do not have mono/mcs) for compiling mcs during the build

[2015-02-10 01:01] janvorli opened #176 "Implement string resources for coreclr on Linux"
# String resources for coreclr on Linux
## Introduction
The native coreclr library uses Win32 resources for storing various error messages so that they can be internationalized. To read the resources, it uses standard win32 APIs to load satellite resource dlls and to read string resources from them.
As for Linux, we don’t have an implementation of Win32 resources reading PAL and so we need to impl

[2015-02-10 02:24] akoeplinger commented on #170
@shahid-pk

monolite isn't unmanaged at all, it's just a small managed version of mcs+class libs (System.dll, System.Xml.dll, etc.) that contains only the stuff necessary to compile mcs on the newly-built Mono runtime.

OnTopic: I just got the mscorlib project building on Mono with xbuild by commenting out a few things, I'll take a look tomorrow what can be upstreamed. I agree that xbuild has some

[2015-02-10 02:53] waneck commented on #111
I'm not sure I understand why escape analysis would be too complex. Tagging each function argument regarding escaping can be enough to be able to cheaply determine what arguments can be allocated on the stack.
Things do get trickier when dealing with virtual functions, and I don't know how much CoreCLR handle virtual function calls' optimizations, but if all else fails, escape analysis may only wo

[2015-02-10 03:40] kangaroo opened #177 "Implement stack unwinding and exceptions for Linux"
@janvorli I know you're working on this, but I'd like to request that this work be done on a feature branch in the public if possible.  Its the next major feature needed for me to bring OS X up to snuff, and I'd rather not duplicate effort.

Thoughts?

[2015-02-10 03:58] shahid-pk commented on #170
@akoeplinger
thanks for the correction about monolite.And great to hear that you got xbuild to compile mscorlib. waiting for your pr.

[2015-02-10 04:06] chenjd commented on #165
@cnblogs-dudu
i dont think so.
yesterday, i changed the CMakeLists.txt
[code]
, so that when ```CLR_CMAKE_PLATFORM_UNIX``` was true, the given expression was ```CMAKE_SYSTEM_PROCESSOR STREQUAL x86_64 OR CMAKE_OSX_ARCHITECTURES STREQUAL x86_64``` as:
[code]
and it worked successfully.

today i update my clang to test whether the clang-verison is matter.
i update my xcode to 6.1 and clang is```Apple

[2015-02-10 04:09] kangaroo commented on #165
@chenjd Can you please run `which cmake` and `cmake --version` and give me the output?

[2015-02-10 04:10] kangaroo commented on #170
Relying on mono is not a good strategy.  We should bootstrap off a binary available BCL including the contract base to have Roslyn work, and self-host.

[2015-02-10 04:18] chenjd commented on #165
@kangaroo
ok
[code]
[code]

[2015-02-10 04:20] kangaroo commented on #165
Your cmake is very old.  For reference I used the following:

`basalt:System.Net plasma$ cmake --version
cmake version 3.1.1`

Are you using homebrew?

[2015-02-10 04:20] ellismg commented on #170
@akoeplinger I would be interested in understanding what you do for the BclRewriter step.  Do you run the tool on Mono, if so, does the PDB generation work (I would assume not as IIRC, it will use the COM APIs to write PDBs).

Not running that tool will be problematic long term as it could cause us to not remove FCall and QCalls that the runtime will expect to be missing and I'm not sure we want t

[2015-02-10 04:22] ellismg commented on #103
@binsys Are you still hitting this?  I believe this has been fixed and I'm going to close the issue if I don't hear back from you with information about what file you hit this on what commit your HEAD points at.

[2015-02-10 04:22] #158 closed

[2015-02-10 04:26] kangaroo commented on #164
The stack pointer offset is a real problem, but I'm not going to work on it until we reach an agreement on https://github.com/dotnet/coreclr/issues/177

For the IL_STUB_PInvoke issue using the contract assemblies, the issue is in corefx.  System.Console currently uses open64 to parse terminfo's which doesn't exist on OSX.

[2015-02-10 04:27] ellismg commented on #164
@stephentoub FYI, for the Console issue.

[2015-02-10 04:29] kangaroo commented on #164
Console issue filed @ https://github.com/dotnet/corefx/issues/715

[2015-02-10 04:32] kangaroo commented on #164
@cnblogs-dudu If you really want to make it work you can build System.Console with my patch in https://github.com/dotnet/corefx/issues/715  Alternately I posted binaries here*:

https://www.dropbox.com/s/samo85xvn8c2gnw/coreclr-bcl-osx.zip?dl=0

*NOTE: I was too lazy to patch the corlib for this build so you need to ln -s libcoreclr.dylib libcoreclr.so

[2015-02-10 04:52] chenjd commented on #165
@kangaroo  thanks!
it worked.
but the [Building and Running CoreCLR on Linux](https://github.com/dotnet/coreclr/wiki/Building-and-Running-CoreCLR-on-Linux) said ```This gives us the 3.5 version of the llvm toolchain and version 2.8.12.2 of cmake.```  so i misunderstood.

[2015-02-10 05:08] jpobst opened #178 "Cannot use build.cmd from a path that contains a space"
I could not using "build.cmd clean" from a path that contained a space.

[code]
(I was using C:\Users\Jonathan\Documents\Visual Studio 2013\Projects\coreclr.)

When moved to a path that does not contain a space, the project builds.

[2015-02-10 05:26] binsys commented on #103
Sorry ,my source code tree is out of date,you are right.

[2015-02-10 05:26] #103 closed

[2015-02-10 05:30] #168 closed

[2015-02-10 05:35] cnblogs-dudu commented on #164
@kangaroo Thanks. Got it. I will try it.

[2015-02-10 05:40] kangaroo commented on #165
@chenjd Building and Running CoreCLR on Linux != Mac OS X :)

[2015-02-10 05:42] kangaroo commented on #178
@jpobst Spaces in paths are the root of all evil.

[2015-02-10 05:47] sergiy-k commented on #177
@kangaroo  That’s actually our ultimate goal - to do as much work in the public as possible  especially if this work is related to the cross-platform stuff. We do want everyone to be able to monitor the progress and provide comments, suggestions and contributions. So in the next few weeks you should see more and more work happing on GitHub. In addition, in the nearest future we will be opening ne

[2015-02-10 05:50] weshaggard commented on #76
Have you guys looked into the [demo](https://github.com/dotnet/corefxlab/blob/master/demos/CoreClrConsoleApplications/HelloWorld/HelloWorld.cs) we posted on the [announcement blog post](http://blogs.msdn.com/b/dotnet/archive/2015/02/03/coreclr-is-now-open-source.aspx). I think that is the best we have right now but I know that @KrzysztofCwalina is working on some better console app support for Cor

[2015-02-10 05:50] kangaroo commented on #177
@sergiy-k If this is your goal, why is this issue closed?  I actually _want_ to work on stuff, but you're basically saying:

1. We'll be better in the future
2. We've looked at it
3. Please document

The issue isn't fixed.  Does stack unwinding exist on linux? No.  The fact that its 'hard to do in the public repo' doesn't mean it doesn't suck.  I wan't to contribute and you're throwing up barriers

[2015-02-10 05:51] jpobst commented on #178
@kangaroo Someday we'll figure out this new Windows 95 feature!

[2015-02-10 05:52] chenjd commented on #165
@kangaroo
i know~  (´ ▽｀)

[2015-02-10 05:52] #165 closed

[2015-02-10 05:57] kangaroo commented on #178
@jpobst I will rue the day

[2015-02-10 06:02] sergiy-k commented on #177
@kangaroo I’m really sorry about that. I have not realized that I closed the issue. I certainly did not want to do that. It was an operator error. :) I was just about to assign the issue to @janvorli when I saw your reply. I’m reopening the issues. Once again, I’m sorry about confusion.

[2015-02-10 06:10] OtherCrashOverride commented on #170
I too am interested to know the long term strategy for bootstrapping the runtime on platforms where a managed runtime does not already exist.  In addition to depending on mono or requiring a set of pre-compiled binaries (like monolite), there is also another option: a native compiler such as csc in Rotor.  The idea being that its 'just-enough-compiler' to build the runtime to a state where a produ

[2015-02-10 06:23] kangaroo commented on #177
@sergiy-k Thank you for the clarification, but this is case and point why to be effective this needs to be developed in the open.  Take a small snippet from libunwind.h in OS X:

/*
 * traditional libuwind "remote" API
 *   NOT IMPLEMENTED on Mac OS X
 *
 * extern int               unw_init_remote(unw_cursor_t*, unw_addr_space_t, thread_t*);
 * extern unw_accessors_t   unw_get_accessors(unw_addr_s

[2015-02-10 06:26] kangaroo commented on #170
@OtherCrashOverride To be honest, supporting a native compiler than can build any current and future codebase is nuts.  Its much better to bootstrap from a managed base.  Someone just needs to step up and not have it be 'get-monolite-latest', and have it be 'get-bootstrap-version-i-need'.  In this day and age, given BCL size, we're talking megabytes of S3 storage+transfer over years.  MS could eve

[2015-02-10 06:30] kangaroo commented on #170
@OtherCrashOverride To be clear, the 'hack build scripts' problem is solved by someone stepping up to pay for hosting.  If microsoft steps up, I'll commit to personally mirroring in the case that they go out of business.

[2015-02-10 06:33] sergiy-k commented on #177
@kangaroo :) Thank you! :) The issue you have just pointed out is exactly the reason why I asked you about your opinion about libunwind.

[2015-02-10 06:33] kangaroo commented on #177
@sergiy-k Great!  Where's the feature branch so I can port it, debug it, and support it on OS X? :)

[2015-02-10 06:34] sergiy-k commented on #177
@kangaroo ... and I almost hit the "Close and comment" button instead of "Comment" again!

[2015-02-10 06:36] kangaroo commented on #177
@sergiy-k Here's my point, if it wasn't abundantly clear.  People want to contribute.  Even branches which are 'hard'.  You guys need to figure them out, otherwise you're going to lose contributors.  No one wants to work on something already in progress, and no one wants to chase features that get dropped from a black hole (ref; android).  Let us help.

[2015-02-10 06:38] richlander commented on #177
Hi @kangaroo. I'll provide a bit of context, which might help.

We made the decision to focus almost entirely on getting the code out. We definitely wanted it to build and have some initial tests, but that was the only bit of icing on top of just getting the code open. It meant that we hadn't really developed a plan on how to collaborate with the community. You'd think that we would have learned f

[2015-02-10 06:42] sergiy-k commented on #177
@janvorli, may I please ask you to create a feature branch and check in your code in there. Thank you!

[2015-02-10 06:45] kangaroo commented on #177
@richlander Appreciate the comment.

To start things off, I'm not new to the CLR or contributing.  I get the problems, I've been there @novell.  I really want to help out here.  That said:

I appreciate the focus on getting the code out.  It's awesome.  I'm also sympathetic to new teams coming up to speed.  I also don't blame @sergiy-k at all.

All that said, given your statement, why is such a fu

[2015-02-10 06:49] OtherCrashOverride commented on #170
We call that a 'least desirable solution' and I completely agree that it is.  Its only presented so that future generations reading this will know that it was considered and why it (most likely) was not chosen.

We should also consider the approach that C/C++ uses.  Since LLVM is ubiquitous, we could simply support 'cross compiling' the entirety of the runtime native and managed code.

[2015-02-10 07:12] richlander commented on #177
Thanks @kangaroo. Yes, we will defer to open.

See @sergiy-k request for another dev, @janvorli to move to a feature branch. That's goodness. We'll get more code in feature branches.

I think I need to order a t-shirt for @sergiy-k!

[2015-02-10 07:15] kangaroo commented on #177
@richlander Oprah moment.  Shirts for everyone!

[2015-02-10 07:16] richlander commented on #177
@kangaroo - this could happen!

[2015-02-10 07:18] kangaroo commented on #177
@richlander Let it rain!

[2015-02-10 07:44] mikedn commented on #111
Well, complex is probably not the best term. Most compiler optimizations have a certain degree of complexity. The problem with escape analysis is that it should be interprocedural and that's a bit too much to ask from a JIT compiler. It requires more time because multiple methods have to be analyzed to compile just one and it may also require more memory because you probably want to store the summ

[2015-02-10 08:00] ellismg commented on #170
@akoeplinger BTW, I re-read my message just now and it seemed like it came across as a bit of a downer.  I'm really excited that you're putting in the effort to getting mscorlib.dll building on Linux with mcs and xbuild and I'm excited to see what can be pulled upstream.  Do let me know if you need any help or if you have a set of changes you want me to look at.  I think in the short term we're wi

[2015-02-10 08:05] kangaroo commented on #170
@ellismg NO NO NO!  Relying on mono long-term is going to cause multitudes of pain.  We should solve the 'moonlite' problem they solved sooner than later.  It all boils down to emitting enough of the bcl to let roslyn run and bootstrap the rest.

We've already started deps discussions on gettext, now on mono, where does it end?

There is no benefit using mcs over a bootstrapped roslyn.  Can MS rea

[2015-02-10 08:06] cnblogs-dudu commented on #164
@kangaroo Great! It works. Compile HelloWorld.cs with your binaries and corerun with your previous mscorlib.dll successfully.
[code]

[2015-02-10 08:15] kangaroo commented on #164
Colors are broken tho.  Happy to review PRs.

[2015-02-10 08:16] kangaroo commented on #164
Can we close this issue now?  The root of the stack unwinding is covered in https://github.com/dotnet/coreclr/issues/177 which I will for into an OS X task once available.

[2015-02-10 08:18] kangaroo commented on #122
cc @sergiy-k I havn't dug more, but this might be a sub-cause of https://github.com/dotnet/coreclr/issues/161 so I'm going to tag you and shelve this until you submit a PR for https://github.com/dotnet/coreclr/issues/161

[2015-02-10 08:19] ellismg commented on #170
@kangaroo I'm sorry if it sounded like I was proposing that we run on Mono long term.  For what you're proposing, are you thinking Roslyn on Mono or Roslyn on CoreCLR?  Long term, we'd like to get to Roslyn on CoreCLR (and at that point I think it would be very reasonable for us to provide binaries for bootstrapping), but I think there's a bunch of work to between here and there and if we're able

[2015-02-10 08:20] #164 closed

[2015-02-10 08:28] kangaroo commented on #170
@ellismg Roslyn on CoreCLR.  Relying on an external project for longterm viability just won't work.  Sure there is a bunch of work, but its not a mountain.  Likely a pile.  The sooner decision to tackle the pile is build strategy.  msbuild has advantages due to it already having projects, but triple-depending the boot his on 'clr that can build corlib to run roslyn _AND_ some msbuild variant' seem

[2015-02-10 08:40] ellismg commented on #170
@kangaroo Okay. Roslyn on CoreCLR the long term direction we are moving in.  On the framework side, @stephentoub and I are working on bringing up all the necessary libraries that Roslyn needs.  We are doing as much of that work in the open (on CoreFx and here) as possible.  For some dependencies we haven't yet open sourced the code and we are working hard to get it out there so we can continue to

[2015-02-10 08:44] kangaroo commented on #170
@ellismg build brings in serious fragility of what "Mono" decides to do.  Practically these days they are a business selling services on iOS and Android, and don't care about the peripherals.  If we want to rely on msbuild I see two options:

1: Open source msbuild
2: Fork build and maintain/improve it internally as a hosted build tool

Both of these suck and seem like a ton of work, that said I a

[2015-02-10 08:49] glen-84 commented on #154
@ellismg

Mono C# compiler version 3.12.0.0

I'm pretty sure that I followed your instructions for the installation.

[2015-02-10 08:54] borgdylan commented on #60
I did not know that it was the size of PAL_CRITICAL_SECTION_NATIVE_DATA, If you tell me the header it is defined in, I will compute its size with sizeof.

Should I add "|| defined(X86)" to pal.h conditional compiles?

Some of teh structs that get defined twice are dispatcher related. I will respond later with actual struct names.

I will check for TARGET_AMD64. In the main cmake file  I should be

[2015-02-10 08:56] ellismg commented on #170
@kangaroo Completely agree on all points. So you understand my aim, I'm trying to get some story for folks that don't have access to Windows and want to play around with the managed portions of the runtime that isn't fetch mscorlib from @ellismg's docker image or @kangaroo's dropbox.

I'm looking for the path of least resistance to get to that state today that minimizes throw away work.  To the ex

[2015-02-10 09:00] poizan42 commented on #143
@sergiy-k Do I understand it correctly that palrt.h should declare the signature itself and not include the system's cstdlib?

[2015-02-10 09:10] ellismg commented on #154
Thanks!  That matches the version I have.

Can you ```sha1sum``` the System.Runtime.dll contract (/home/glen/coreclr-demo/packages/System.Runtime.4.0.20-beta-22512/lib/contract/System.Runtime.dll)

I get the following:

```31bae453bc467516b448498c8aef330df86ac11a  System.Runtime.dll```

I ran these instructions on multiple machines so I'm pretty sure they are correct.  If you get a different sha1s

[2015-02-10 09:23] borgdylan commented on #60
Repeated defines include RUNTIME_FUNCTION_INDIRECT,_RUNTIME_FUNCTION,_RUNTIME_FUNCTION

[2015-02-10 09:29] glen-84 commented on #154
0fa1e6ec31117775b8f883e2b4ff934a97c98077  /home/glen/coreclr-demo/packages/System.Runtime.4.0.20-beta-22512/lib/contract/System.Runtime.dll

I did as you said and now the hash is the same. :-|

However, when I run it ...

    glen@ubuntu:~/coreclr-demo/runtime$ ./corerun HelloWorld.exe linux
    {0x7f1b6d985780-0x7f1b6c3e04e0} ASSERT [MISC   ] at /home/glen/git/coreclr/src/pal/src/misc/fmtmessage.

[2015-02-10 09:37] borgdylan commented on #60
So PAL_CRITICAL_SECTION_NATIVE_DATA is 76 bytes on 32 bit Linux as per the following code:
[code]

[2015-02-10 09:51] cnblogs-dudu commented on #174
`export LC_ALL=en_US.UTF-8` can fix it.
`export LC_ALL=zh_CN.UTF-8` can reproduce it.

[2015-02-10 09:55] OtherCrashOverride commented on #170
I would also like to request that consideration be given that what ever solution is implemented that it support **offline** bootstrapping.  I should be able to bring up any arbitrary platform without having to also monitor who its talking to and whether they can be trusted. I need a complete network-less method where all component and checksums are known in advance and will never change due to 3rd

[2015-02-10 10:13] Alexx999 commented on #170
Well, offline bootstrap can work like:
1. You have any platform that has working CoreClr
2. You set the defines that you need and build mscorlib for new platform
I'm not sure if it's really possible to make it fully offline and without second system. Imagine yourself on system without C/C++ compiler - what you gonna do?

[2015-02-10 10:17] cnblogs-dudu commented on #154
@glen-84 Same exception "Unable to continue due to missing library"  in #164 . Try following:
[code]

[2015-02-10 10:46] cnblogs-dudu commented on #154
There are two mscorlib.dll. One is for mcs. Another is for corerun. When `./corerun HelloWorld.exe linux`, the mscorlib.dll in runtime directory should come from binaries\intermediates\amd64\Debug\mscorlib.dll that produce by `build.cmd unixmscorlib`.

[2015-02-10 10:49] OtherCrashOverride commented on #170
The dream scenario is "git clone coreclr" brings in everything required to build it for the platforms it supports, and I can freeze that in time and build it forever.  If I am Sony, for example, and hackers have breached the network so the entirety of internet access has been been cut corporate wide, I should still be able to build coreclr.  (The reality has more to do with the lessons learned fro

[2015-02-10 11:04] borgdylan commented on #60
Conflict in printf variants:
The PAL defines many printf variants using char * notation
While another file "printfcpp.hpp" defines them using LPSTR notation

The compiler is saying that the two definitions are not matching up?
We all know that on UNIX LPSTR becomes char * and LPCSTR becomes const char *. Should the code in printfcpp.hpp have its types change or should the PAL  define LPSTR and PLC

[2015-02-10 11:21] OtherCrashOverride commented on #170
As for the msbuild/xbuild/cmake debate. Maybe we don't need any of them?  The goal is building the mscorlib/corefx libraries which is a subset of features required from a full universal build tool.  It may be easier to have a custom data driven tool written in C# (since Rosyln is a already dependency, a working clr is too).  Nobody likes the 'yet-another-tool' answer, but a task specific tool woul

[2015-02-10 11:46] zgxnet opened #181 "Clarify style guidance for c++ code"
It seems that there are quite a lot of naming conventions in C++ code. E.g. getClassModule, SetCodeHeader, heap_segment_reserved. Why not use a single naming style?

[2015-02-10 13:03] glen-84 commented on #154
@cnblogs-dudu

The mscorlib.dll in my runtime folder *is* from the output of that command.

[2015-02-10 13:18] borgdylan commented on #60
New operator:
i am also seeing errors related to newing up arrays using the nothrow variable (says teh function for the new operator was not found). It seems like the new.hpp file in PAL is not being effective. I can confirm that it is being compiled.

[2015-02-10 13:30] marek-safar opened #182 "Guid TryParse mixes flags and current position"
File https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Guid.cs#L645 has

``if (!StringToLong(guidString, ref currentPos, startPos /*flags*/, out templ, ref result))``

which works due to various error checks but seems to be wrong because startPos is used instead of flags. starPos is in this case always constant of 20 which don't match any of existing flags. I think the calls sh

[2015-02-10 13:48] linquize commented on #178
Talking about Windows 95, coreclr still leaves some little code that specifically handle Win 9X.

[2015-02-10 14:09] jkotas commented on #60
You should remove this ifdef. MEMORYSTATUSEX and related functions should be on for all platforms.

These should be ifdefed out for x86 in the PAL. You should be picking up the definitions from src\inc\corcompile.h.

[2015-02-10 14:09] jkotas commented on #60
You should remove this ifdef. MEMORYSTATUSEX and related functions should be on for all platforms.

These should be ifdefed out for x86 in the PAL. You should be picking up the definitions from src\inc\corcompile.h.

[2015-02-10 14:27] borgdylan commented on #60
@jkotas will fix and push to my fork

[2015-02-10 14:42] utaal commented on #176
I've compiled coreclr on OSX (support was recently merged in https://github.com/dotnet/coreclr/commit/bb38f10ec8efea85a85b57669b161a2cd0beb1dd) and I'm encountering the following assert failure (on a binary compiled with mono):

    Assert failure (unable to format)
    /Users/utaal/Src/coreclr/src/utilcode/ccomprc.cpp
    false && "UNIXTODO: Implement string loading from resources"
    **** Messa

[2015-02-10 15:09] borgdylan commented on #60
I may have found a solution to problems like;
[code]

[2015-02-10 16:12] cnblogs-dudu commented on #164
@kangaroo If fix this issue - [dotnet/corefx#723](https://github.com/dotnet/corefx/issues/723), color will emerge.

[2015-02-10 18:26] janvorli commented on #176
@utaal Yes, that's correct.

[2015-02-10 19:06] janvorli commented on #143
@poizan42 Yes, that's correct. Anything running on top of PAL should never include any platform specific headers.

[2015-02-10 19:27] janvorli commented on #60
I believe the issue with size_t in the new is that we define size_t as
typedef unsigned long size_t;
but in 32 bit mode, it needs to be defined as
typedef unsigned int size_t;

There will be other data types like this in the pal\_mstypes.h (e.g. SIZE_T, SSIZE_T, ptrdiff_t, ...)

[2015-02-10 19:47] borgdylan commented on #60
Thanks, I did not know that the PAL overrode basic types like size_t.

[2015-02-10 20:34] borgdylan commented on #60
Fixing the definition killed all the errors pertaining to new. Should the definition of _DiSPATCHER_CONTEXT be ifdefed out on X86 to allow the conflicting one in clrnt.h to be used?

[2015-02-10 23:02] janvorli commented on #177
@kangaroo I am sorry for not being much responsive these days, I am fighting some kind of nasty virus or bacteria. I'll create the feature branch for this work so that you can work on the Mac stuff in parallel with me. I'll migrate the work I have done till now from TFS to GIT in this branch and let you know once it is ready.
My current work has two parts, as @sergiy-k has already mentioned. The w

[2015-02-10 23:05] kangaroo commented on #177
@janvorli Sounds great.  Hope you feel better soon!  lib unwind from apple should be able to work for the native unwinding -- I agree.

[2015-02-10 23:47] akoeplinger commented on #170
@ellismg

Yep, I skip it currently as it seemed to "work" without it and the BclRewriter isn't open source (at least I couldn't find it?) so I can't hack on it.

Here's my branch with some workarounds to get it to compile with Mono's xbuild: https://github.com/akoeplinger/coreclr/commits/mono-xbuild

Unfortunately it relies on some recent bug fixes to work at all so the Mono 3.12 release doesn't c

[2015-02-11 00:29] AlexGhiondea commented on #170
@akoeplinger We have to run BCLRewriter because if we don't there is going to be a mismatch between the methods (FCALLs, QCALLs) present in mscorlib and the ones that are present in coreclr.dll.

It will work for most cases but once you call a managed method which FCALLs/QCALLs into a runtime method which is not available in CoreCLR you are going to get a crash.

We are considering a couple of opt

[2015-02-11 00:38] sergiy-k commented on #143
@poizan42 I would put the declaration into pal.h next to abs(int) under “#if defined(BIT64)”.
Thank you!

[2015-02-11 01:57] poizan42 commented on #143
So I should declare something like this?
[code]

Though the C++ standard seems a bit unclear on this, clang refuses to compile it with a declaration has a different language linkage error. Maybe we could define both with C++ linkage if building as C++. But do I understand correctly that PAL only declares the signature and we just hope that it's somewhere inside libc when linking? Is that even guar

[2015-02-11 02:24] poizan42 commented on #143
Wait - LONG is (32bit) int and not 64bit.

[2015-02-11 03:09] sergiy-k commented on #143
@poizan42 Yes, correct. It should be __int64 instead of LONG.

[2015-02-11 04:47] sergiy-k commented on #60
@borgdylan Yes, correct.

[2015-02-11 04:58] sergiy-k opened #192 "Implement managed exception handling on Linux and Mac"
We need to implement throwing and catching exceptions in managed code for Linux and Mac platforms. This work depends on implementation of stack unwinding (https://github.com/dotnet/coreclr/issues/177) on these platforms.

@janvorli Could you please provide design proposal and name of a feature branch when you are ready to start working on this issue? Thank you.

[2015-02-11 04:59] sergiy-k opened #193 "Implement thread suspension on Linux and Mac platform"
CoreCLR needs to be able to suspend threads in a managed application in order to run GC. Currently CoreCLR PAL implements threads suspension using signals on Linux. We need to enable and test implementation of thread suspension for Mac. In addition, we need to implement functionality for getting and setting context of a given thread in the current process.

[2015-02-11 05:01] sergiy-k opened #194 "Implement GetLogicalCpuCountFromOS in Vm for Linux"
Currently we have an empty stub in coreclr/src/vm/util.cpp that just return 0.
We need to provide proper implementation for Linux and Mac.

[2015-02-11 05:02] sergiy-k opened #195 "Implement GetThreadTimes in PAL"
Currently we have an empty stub in coreclr/src/pal/src/thread/thread.cpp.
We need to provide proper implementation for Linux and add a test under coreclr/src/pal/tests/palsuite.

[2015-02-11 05:03] sergiy-k opened #196 "Implement GetFileSizeEx in PAL"
Currently we have an empty stub in coreclr/src/pal/src/file/file.cpp.
We need to provide proper implementation for Linux and Mac and add a test under coreclr/src/pal/tests/palsuite.

[2015-02-11 05:04] sergiy-k opened #197 "Implement QueryThreadCycleTime in PAL"
Currently we have an empty stub in coreclr/src/pal/src/misc/time.cpp.
We need to provide proper implementation for Linux and Mac and add a test under coreclr/src/pal/tests/palsuite.

[2015-02-11 05:05] sergiy-k opened #198 "Implement FlushProcessWriteBuffers in PAL"
Currently we have an empty stub in coreclr/src/pal/src/thread/process.cpp.

This function is called by GC as part of synchronization process between GC and managed threads. We need to provide proper implementation for Linux and Mac and add a test under coreclr/src/pal/tests/palsuite.

[2015-02-11 05:06] sergiy-k opened #199 "Port assembly code for JIT_MemSet and JIT_MemCpy to Linux and Mac"
These VM functions are needed to unblock implementation of System.IO.FileSystem.dll.
Windows implementation of these assembly routines is located in coreclr\src\vm\amd64\crthelpers.asm. We need to create a corresponding file for Linux (i.e. vm/amd64/crthelpers.S – please note that the extension must be uppercase ‘S’) and implement it these functions in this file.

[2015-02-11 05:12] sergiy-k opened #200 "Implement calling convention for structs passing in JIT for Linux and Mac"
@llitchev Could you please provide a bit more details here about the current state of the work and name of a feature branch once you move the code that your are currently working on to GitHub? Thank you.

[2015-02-11 05:14] sergiy-k opened #201 "Implement calling convention for structs passing in runtime (VM) code for Linux and Mac"
CoreCLR Runtime should support System V calling convention for passing a struct as an argument. Please see “UNIXTODO” in coreclr\src\vm\callingconvention.h.
Note: this work depends on “Implement calling convention for structs passing in JIT for Linux and Mac” (https://github.com/dotnet/coreclr/issues/200).

[2015-02-11 05:15] kangaroo commented on #193
@sergiy-k There is already code for suspending and resuming Mac threads in the pal, see:

CThreadSuspensionInfo::THREADHandleSuspendNative(CPalThread *pthrTarget)

Is there some reason this isn't sufficient?

[2015-02-11 05:15] kangaroo commented on #194
sysctlbyname with machdep.cpu.core_count is probably what we want on osx.

[2015-02-11 05:16] sergiy-k opened #202 "Implement a plugin for loading CoreCLR debugger extensions into LLDB"
We need to be able to debug managed code in CoreCLR that is running on Linux and Mac. For this purpose we need to implement a (command) plugin for LLDB that will allow loading CoreCLR debugger extensions (SOS) into LLDB.

This plugin should implement a debugger interface/transport that will allow SOS extensions to access LLDB’s APIs in order to examine debugee’s state.

@mikem8361 Could you please

[2015-02-11 05:19] kangaroo commented on #196
It seems that CorUnix::InternalGetFileSize already does the correct thing here on platforms with SIZEOF_OFF_T > 4, it just needs to be wired up and tested.

[2015-02-11 05:20] sergiy-k opened #203 "Port CoreCLR SOS debugger extension from Windows to Linux and Mac"
We currently have a number of debugger commands implemented in the SOS debugger extension on Windows which can be used to debug managed applications and examine their state in WinDbg. We need to port them to Linux and Mac and integrate them with LLDB. Note: this work depends on “Implement a plugin for loading CoreCLR debugger extensions into LLDB” (https://github.com/dotnet/coreclr/issues/202).

H

[2015-02-11 05:23] kangaroo commented on #197
clock_gettime with CLOCK_THREAD_CPUTIME_ID will give time in nanosecs on linux.

For OS X we want to get THREAD_BASIC_INFO from the thread port and look at user_time.seconds, user_time.microseconds, system_time.seconds and system_time.microseconds

[2015-02-11 05:57] kangaroo commented on #199
Hi @sergiy-k I had some time tonight so I went ahead and did this:

https://github.com/kangaroo/coreclr/commit/fcb8c1f3629e54efe8ed812892e732b335137705

I haven't done extensive testing yet to ensure I didn't fat finger anything.

[2015-02-11 06:16] shanselman opened #204 "Bash - Better to use #!/usr/bin/env bash"
Bash - Would it be better to #!/usr/bin/env bash...more portable? http://stackoverflow.com/a/16365367/6380

[2015-02-11 06:22] sergiy-k commented on #193
@kangaroo You are right – the code is there. But, honestly, I don’t know if it still works because this code has some age (I’m sure you have noticed it yourself that there is a lot stuff in PAL that needs to cleaned up) so I want to test it first. Luckily I got a Mac machine yesterday that I could you use for testing. :) That’s why I opened this work item. Besides, there are a few PAL tests for th

[2015-02-11 06:25] jkotas commented on #60
Yes.

If you have a set of clean good changes, we would be certainly interested in PR. We prefer smaller incremental PRs for this kind of work.

[2015-02-11 06:28] sergiy-k commented on #199
@kangaroo Wow! That was quick! Thank you! I will review it the morning when I can actually pay attention to details :) and test it. Unless, of course, @janvorli gets to it first :)

[2015-02-11 06:39] jkotas commented on #193
The existing PAL thread suspension code never worked reliably. It was not used for Silverlight - Silverlight used slower thread suspension technique via explicit GC probes. This issue is about designing and implementing a scheme that works reliably on Linux and Mac - without the overhead of explicit GC probes.

The current PAL code is a pretty complex emulation of  SuspendThread/ResumeThread/GetTh

[2015-02-11 08:20] ala53 opened #206 "GC eventually deadlocks? entire program with large self referential data set"
In simple terms: I think I broke the garbage collector

This project here - https://github.com/ala53/clr_gc_deadlock/ - builds an index of the English dictionary along with building links to each word for further processing. Unfortunately, single or multithreaded, console or wpf, the GC ends up eating more and more of the CPU time the more we begin building links to the definition to the point tha

[2015-02-11 08:46] OtherCrashOverride commented on #206
Sounds to me like you are simply out of memory.  The lock up you are seeing is probably the OS trying to swap memory to and from disk.

[2015-02-11 09:19] OtherCrashOverride commented on #170
Currently "DllImport" and "Internal" calls are all over the place in the codebase.  Maybe they should all be gathered together and refactored into a formal platform interface.  Then a static constructor could instantiate the appropriate interface to use at runtime.  This would make mscorlib.dll universal across all platforms and also eliminate the 'fixup'.  I currently use this method with mono an

[2015-02-11 09:59] janvorli commented on #199
I guess we'll have the short vs long jumps on Mac issue here.
[code]
Here the `jae` must be short so that the nop formed by the previous .byte "eats" both the `cmp` and `jae` and also make the mset80 aligned on 16 bytes.
Preserving the alignment at other loops is also important for the performance and there are many short jumps in this code.
Here is a disassembly of the windows version so that you

[2015-02-11 10:03] mikedn commented on #206
This piece of code is very likely wrong:

[code]

I don't know how you estimated "a billion or so references" but when the program gets stuck the memory usage is around 300 megabytes. You can't possible store a billion references in 300 megabytes, you need 4 or 8 gigabytes just for the references.

[2015-02-11 10:29] poizan42 opened #208 "Rebuild of Development nuget package fails"
Steps to reproduce:
1. Run build.cmd
2. Delete .nuget\Microsoft.DotNet.CoreCLR.Development.1.0.0-prerelease.nupkg from the output folder
3. Run build.cmd again

MScorlib fails with the following error:
[code]

This is because the BuildNuGetPackages target expects to run before the MovePDB target in build.proj.

Wouldn't it make sense to make BuildNuGetPackages always run after MovePDB and change t

[2015-02-11 10:44] Plasma commented on #159
Great news thank you. Are there any benchmarks available showing off Thai feature or incidental results internally?

[2015-02-11 11:10] poizan42 commented on #176
What about assemblies that are not part of the framework? They are going to have resources baked into them as embedded win32 resources anyways.

[2015-02-11 11:19] poizan42 opened #209 "(Documentation) Add WKS, SVR and CEE to glossary"
I couldn't figure out what these are acronyms/abbreviations for. WKS and SVR seems to be different GCs? Workstation and Server GCs?

[2015-02-11 11:29] poizan42 opened #210 "We shouldn't hardcode "NETFX 4.5.1 Tools" in path to ResGen"
src/mscorlib/GenerateSplitStringResources.targets has the path to ResGen given as "$(FrameworkSDKDir)bin\NETFX 4.5.1 Tools\ResGen.exe". The recommendation from [here](https://connect.microsoft.com/VisualStudio/feedback/details/811986/-frameworksdkdir-value-in-vs-macros-post-build-event-references-invalid-path) is to use $(SDK40ToolsPath)ResGen.exe, but @AlexGhiondea mentioned that it might not wor

[2015-02-11 11:48] mikedn commented on #209
Yep, WKS = Workstation and SVR = Server. Back in the days of .NET 1.x there were 2 different runtime dlls - mscorwks.dll and mscorsvr.dll. Now there's only one dll which contains both GCs. Well, it's the same GC but configured differently.

I would guess that CEE = Common Execution Engine.

[2015-02-11 11:56] poizan42 commented on #209
So mscordacwks = Microsoft Common Object Runtime Data Access Component for Workstation? Though that name seems to have become increasingly inaccurate over the lifetime of .NET.

[2015-02-11 12:10] rafabertholdo commented on #25
In my opinion, null.something should return null instead of raising an exception.
http://visualstudio.uservoice.com/forums/121579-visual-studio/suggestions/5728581-add-and-assembly-attribute-for-the-compiler-to-byp

Fortunately, C# 6.0 brings an operator to make it happen, but I think the code will be dirty. This should be a compiler attribute.

[2015-02-11 12:18] mikedn commented on #209
Yes, that's what mscordacwks means.

The wks suffix is kind of redundant now. You probably noticed that there's a cee_wks project but no cee_svr project. The cee_wks project includes both WKS and SVR GC, see gceesvr.cpp and gceewks.cpp. Both files include the GC code but gceesvr.cpp defines SERVER_GC=1

[2015-02-11 13:48] poizan42 commented on #143
Actually as pointed out by @jkotas labs takes a LONG, so we are actually completely missing an llabs implementation. But should we just add its signature and expect it to be in libc? It might be implemented as a macro or inline function and not even exist in the system's libc.

[2015-02-11 14:39] jkotas commented on #199
I am wondering whether it is a good idea to have a full copy of the assembly implementation for non-Windows platforms. It does not need to be bug-for-bug compatible with Windows. Also, the Windows assembly code is pretty old - it may not have the best possible performance for current processors anyway because of there are performance tweaks required in it for every new generation of hardware. (BTW

[2015-02-11 14:53] janvorli commented on #199
@jkotas That makes sense to me. I also prefer using assembler code only if it is inevitable. Maybe we could even do without this thin assembler wrapper and use a C wrapper if we can prevent inlining of the memcpy in it using a compiler attribute.

[2015-02-11 15:32] stephentoub commented on #206
In addition to the issue @mikedn calls out in the code, the "Task.Delay(100)" as written is nop.  It's creating a Task that will complete after ~100ms, but that Task is then just being dropped on the floor.  You either need to await it, or .Wait it, or something similar.

[2015-02-11 15:59] #206 closed

[2015-02-11 16:22] kangaroo commented on #193
@jkotas I'd be curious what unreliability you guys had for the MAC PAL.  I've done an (albeit quick) once over of the code, and it looks functionally correct for a non-cooperative suspend/resume.

[2015-02-11 18:37] AlexGhiondea commented on #210
I looked into this and the change from $(FrameworkSDKDir)bin\NETFX 4.5.1 Tools to $(SDK40ToolsPath)ResGen.exe should be safe.

We set the ResCommand property internally so changing this should not be an issue.

@poizan42 do you want to take this?

[2015-02-11 18:51] kangaroo commented on #199
PR submitted @ https://github.com/dotnet/coreclr/pull/211

[2015-02-11 19:29] Piot commented on #174
It is related to the `Set locale environment variables on startup` checkbox in Mac OS X.

If checked (not working):
[code]

If unchecked (working):

[code]

![locale_environment](https://cloud.githubusercontent.com/assets/544158/6154424/e7d29af0-b22b-11e4-9001-49964e9331fb.png)

[2015-02-11 19:50] jkotas commented on #193
The current implementation of PAL thread suspension requires a lot of code to be aware of it. It is impossible to ensure and review that all of that code is right. IIRC, the thread suspension was a stress bug factory in Silverlight days and that is why we switched to explicit GC probes as backstop.

I believe that the right design of the thread suspension has to have minimal dependencies, e.g. any

[2015-02-11 19:53] #210 closed

[2015-02-11 20:52] peteraritchie commented on #25
@rafabertholdo Wouldn't that just defer a null exception to higher-up?  That seems like it would make the root cause of a null reference exception even harder to find.

[2015-02-11 21:16] richlander opened #214 "Clarify Visual Studio 2015 support"
Please add Visual Studio 2015 support here: https://github.com/dotnet/coreclr/wiki/Developer-Guide

This should be CTP-specific, with links to the actual download location.

[2015-02-11 22:16] poizan42 commented on #143
Uhm, if I declare llabs with __int64 then clang gives me this warning:
[code]

It dosn't complain if I declare it with long long instead.

[2015-02-11 22:36] poizan42 opened #216 "build.sh should handle paths with spaces"

[2015-02-11 22:52] poizan42 commented on #143
So what about this? Don't know if llabs should be 64-bit only?

[2015-02-11 23:48] ellismg commented on #214
I don't think that we support VS 2015 yet, because of some stuff around the DIA libraries.  Is this a dupe of #30?

[2015-02-11 23:53] ellismg commented on #208
/cc @mmitche

[2015-02-11 23:56] mmitche commented on #208
@poizan42 Weird, I saw this earlier today but then couldn't reproduce it.  I'll give it another try.  Thanks for the report.

[2015-02-11 23:56] sergiy-k commented on #143
@poizan42 I agree, it needs to be ‘long long’. I don’t think that it should to be 64bit only. Thank you!

[2015-02-12 00:04] mmitche opened #218 "Build output and cmake paths should contain configuration, os, and flavor info"
To avoid rebuild and sharing issues in coreclr, the paths we use for intermediate cmake directories as well as the product dirs should contain more information.

[2015-02-12 00:05] #85 closed

[2015-02-12 02:46] #143 closed

[2015-02-12 03:36] kangaroo commented on #199
PR merged, can someone close this out please?

[2015-02-12 03:38] stephentoub commented on #199
Thanks, Geoff.  Fixed with #211.

[2015-02-12 03:38] #199 closed

[2015-02-12 03:44] kangaroo commented on #193
@jkotas That presents an interesting design challenge on mac and linux.  Any thread suspended in user land could be holding any lock, so I see a few obvious options:

1> Make all code that relies on suspending someone else lock and allocator free.  Basically treat it as if it were operating in a signal handler.
2> Annotate all unsafe regions in some way, and restart threads that are not at a safe

[2015-02-12 03:47] kangaroo commented on #174
@janvorli Should we just fall back to the C locale in this case?

[2015-02-12 03:54] kangaroo commented on #174
On OS X we probably want to probe CFLocale in the GetUserDefaultLCID rather than rely on the environment variable as well.

[2015-02-12 04:28] LLITCHEV commented on #200
My fork for this work is LLITCHEV/creclr. The branch is SystemVStructs. Working on transferring the changes from my TF repository and populating the branch.

[2015-02-12 04:34] jkotas commented on #193
Agree. 1 is the right approach.

[2015-02-12 04:36] kangaroo opened #222 "[osx] Clean up compiler warnings in the PAL"
There is a large usage of deprecated API in the PAL (specifically in locale) right now that need cleaning up and modernizing.

[2015-02-12 04:43] kangaroo commented on #222
I've started some of this work here:

https://github.com/kangaroo/coreclr/tree/warning-clean

Cleaning up the usage of CFGregorianData and deprecated CFURL functions are the biggest remaining pieces.

[2015-02-12 04:45] kangaroo commented on #222
PR for part 1 here:

https://github.com/dotnet/coreclr/pull/223

Can someone add up-for-grabs for the CFGregorianData and CFURL pieces?

[2015-02-12 06:16] richlander commented on #214
OK. That clarifies it. I'll close this.

[2015-02-12 06:16] #214 closed

[2015-02-12 06:46] sergiy-k commented on #222
Hi @kangaroo, I think we can remove pretty much most of that stuff from PAL. Globalization should be removed for sure (System.Globalization.dll no longer calls into libcoreclr so there is no dependency on PAL). As far as I remember, the only thing we need to do in PAL is to convert strings (WideCharToMultiByte and MuliByteToWideChar) and I think that's it (but I need to look at the code to double

[2015-02-12 07:05] AlexGhiondea opened #225 "Disable the 'trim_trailing_whitespace' setting from .editorconfig"

[2015-02-12 07:05] richlander commented on #209
Resolved: https://github.com/dotnet/coreclr#learn-about-coreclr

[2015-02-12 07:05] #209 closed

[2015-02-12 07:12] jkotas opened #227 "Enable build of the crossgen.exe tool"

[2015-02-12 07:14] jkotas commented on #227
Needed for #159

[2015-02-12 09:56] ellismg commented on #222
Yes.  We should rip most of the stuff out of locale.cop.  I will do a pass tomorrow.  The plan is to not call into the VM for this stuff anymore.

[2015-02-12 10:13] janvorli commented on #174
@kangaroo I can see that at other place, in the locale.cpp we are using `querylocale` if the platform provides that instead of the `setlocale`.
[code]
It seems that OSX has `querylocale`. Could you please try if using this in the unicode.cpp would work on OSX?

[2015-02-12 11:30] linquize commented on #194
Part of #147?

[2015-02-12 12:12] combinatorylogic opened #232 "OS X build on a case-sensitive fs"
[code]

[2015-02-12 13:51] janvorli commented on #232
The correct fix is to rename the file instead. The extension has to stay upper case. The reason is that `make` treats that differently from the lower case .s. The files with upper case .S extension are passed through C preprocessor first, while the ones with lower case .s are not.

[2015-02-12 15:16] combinatorylogic commented on #232
Oops. Sorry. It makes sense. The file must be renamed then.

[2015-02-12 15:43] kangaroo commented on #174
@janvorli We're already using that on OS X:

basalt:src plasma$ grep -r HAVE_XLOCALE config.h.osx
#define HAVE_XLOCALE 1

[2015-02-12 16:10] kangaroo commented on #174
It might be worthwhile to spend some time looking at Apple's implementation:

http://www.opensource.apple.com/source/Libc/Libc-1044.1.2/locale/FreeBSD/

[2015-02-12 16:15] kangaroo commented on #232
PR here: https://github.com/dotnet/coreclr/pull/239

[2015-02-12 16:24] jkotas opened #240 "src\pal\src\arch\i386\context.S missing license header"

[2015-02-12 16:24] jkotas commented on #240
@kangaroo Could you please fix this since you have added the file?

[2015-02-12 16:37] kangaroo commented on #240
Fixed in kangaroo/master 874d582 which already has a pending PR for another minor issue here:

https://github.com/dotnet/coreclr/pull/239

I can split them out if its a big deal, but they're both pretty minor changes.

[2015-02-12 16:56] #178 closed

[2015-02-12 16:56] janvorli commented on #174
@kangaroo I meant using it in the `BOOL CODEPAGEInit( void )`. The code there uses the `setlocale` only and that's where I believe the initialization fails:
[code]

[2015-02-12 16:57] janvorli commented on #174
As for looking at the Apple's implementation, I will need to get approval for that first. We are not allowed to look at any open source stuff without that.

[2015-02-12 17:01] kangaroo commented on #174
@janvorli Understood on the approval.  For your reference their libc is  APSL 2 licensed.

w.r.t CODEPAGEInit we currently:

#define HAVE_COREFOUNDATION 1

so we don't fall into that code path.

[2015-02-12 17:13] jkotas commented on #240
Fixed via #239

[2015-02-12 17:13] #240 closed

[2015-02-12 17:15] janvorli commented on #174
@kangaroo I see, that's strange then. From Piot's log posted here before, I can see this:
`PAL_Initialize.263: Unable to initialize the locks or the codepage.`
This message is produced here:
[code]
And if the `HAVE_COREFOUNDATION` was really set, then the method would never return`FALSE` even if the lock initialization failed.

[2015-02-12 17:33] #216 closed

[2015-02-12 18:02] sergiy-k commented on #193
Agree. As a matter of fact, some of the runtime is already trying to that. For example, in threadsuspend.cpp in VM:

// We can not allocate memory after we suspend a thread.
// Otherwise, we may deadlock the process, because the thread we just suspended
// might hold locks we would need to acquire while allocating.
ThreadStore::AllocateOSContext();

In addition, existing PAL code tries to detect a

[2015-02-12 18:31] poizan42 commented on #208
Closing as it should be fixed now

[2015-02-12 18:31] #208 closed

[2015-02-12 18:56] kangaroo commented on #174
@janvorli The original bug is tagged [linux], perhaps the log form @Piot is from there?  also see:

'''
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
'''

I think this issue is conflating two different sub-issues.

[2015-02-12 19:35] #225 closed

[2015-02-12 20:02] shahid-pk opened #243 "[Linux] build.sh fails to remove the binaries/../../debug directory"
I think the recent changes to build.sh and setup-compiler-clang.sh are responsible for this.
Testing Ubuntu 14.04.1 clang 3.5 , llvm 3.5

   Commencing CoreCLR Repo build
Doing a clean build
rm: cannot remove ‘/home/shahid/AspVnext/dotnet/coreclr/binaries/intermediates/amd64/debug’: Is a directory
Checking pre-requisites...
Please install clang before running this script

[2015-02-12 20:20] janvorli commented on #174
@kangaroo Ah, I am sorry, I was confused by the fact that @piot was talking about the Mac OSX settings dialog.

[2015-02-12 20:43] poizan42 commented on #243
Well, that error has been there from day 1: https://github.com/poizan42/coreclr/blob/ef1e2ab328087c61a6878c1e84f4fc5d710aebce/build.sh#L44

[2015-02-12 20:49] shahid-pk commented on #243
That was not their for  me before ... i build it daily

[2015-02-12 20:49] shahid-pk commented on #243
and what about the clang error ?

[2015-02-12 20:51] shahid-pk commented on #243
yes #245  fixes one of the issue. The other one is pending

[2015-02-12 20:53] poizan42 commented on #204
I don't think the script uses any bashisms, so it should be changed to /bin/sh instead (posix actually doesn't make any guarantees on the path of either, so it's technically impossible to write a portable script...)

[2015-02-12 20:55] poizan42 commented on #243
@shahid-pk The clang check is unchanged. What is the output of `which clang` ?

[2015-02-12 20:56] shahid-pk commented on #204
but this is one of the best practices and one of the others is to avoid paths with spaces in them altogether so you do not have to hack scripts to deal with them.

[2015-02-12 21:10] shahid-pk commented on #243
for me its not **which clang** for me it is **which clang-3.5** and that is exactly the problem here i think.Because i think the code looks for clang although on Ubuntu its given name is clang-3.5 if you install it from official sources.

i am not shore which commit break this but it used to look for this scenario too.

[2015-02-12 21:23] akoeplinger commented on #243
The clang check didn't work for me even several days ago, so I don't think it's related to the recent changes to build.sh. Looking at the build.sh history it always did `which clang` so I think this never worked correctly with the `clang-3.5` from Ubuntu repos.

[2015-02-12 21:29] shahid-pk commented on #243
probably a regular expression is needed  a simple one.

[2015-02-12 21:31] poizan42 commented on #243
So are we going to look for every possible future version of clang that isn't named clang?

[2015-02-12 21:34] akoeplinger commented on #243
I think something similar is already done for llvm in https://github.com/dotnet/coreclr/blob/master/src/pal/tools/gen-buildsys-clang.sh#L29-L33

[2015-02-12 21:35] shahid-pk commented on #243
well then its solved

[2015-02-12 21:39] poizan42 commented on #243
I wouldn't call that "solved". It works specifically for llvm-3.5. It breaks for llvm-3.6, llvm-3.7 and every future version. We could enumerate every executeable starting with clang- and llvm- in the path, but that doesn't feel like the right way to do this. This problem must have been solved by other projects using clang.

[2015-02-12 21:43] Piot commented on #174
Yes, sorry for the confusion @kangaroo and @janvorli. I was using ssh from OS X to Ubuntu and was running the corerun on Ubuntu.

[2015-02-12 21:45] shahid-pk commented on #243
It would be something like this **llvm-[0-9].[0-9]** , a regular expression can do it.But it is just that i can not recall bash's regular expressions syntax.

[2015-02-12 21:53] janvorli opened #247 "Ensure that the libcoreclr.so exports only the necessary functions."
Currently the libcoreclr.so exports everything. We want to limit that to only the functions that really need to be visible, that means the ExecuteAssembly entry point, CoreDllMain, few functions needed by the Alt Jitters and then all functions that are PInvoked by the managed framework.
It looks like the ideal way is to use a .version file passed to the linker.

[2015-02-12 22:10] shahid-pk commented on #243
But actually we do not need to check for every possible version because clang-3.5 is supporten linux and just clang on OSX

[2015-02-12 23:48] poizan42 opened #250 "More robust searching for clang and llvm"
Currently we can only find clang if it's on the path with the name "clang", and we only attempt to locate the llvm-3.5 tools (even if the version of clang is based on a newer llvm version).

It seems that the only way to locate clang is to look for a clang-\d+\.\d+ somewhere on the path. Given a clang we also need to figure out which llvm it is based on to get the correct version of the llvm tools

[2015-02-12 23:49] poizan42 commented on #243
I have created a separate issue for the clang problem: #250

[2015-02-13 00:23] shahid-pk commented on #250
i think every version of compiler can simply be not supported on such high scale projects,so their is no point probing for every version of compiler. I think it would be better to follow the same approach which is used for locating llvm.

[2015-02-13 00:35] benpye commented on #196
I believe this should now be closed as #244 implements this.

[2015-02-13 00:41] poizan42 commented on #250
It makes sense to require a minimum version of a compiler, but valid code should keep working in newer versions. It seems highly unlikely that a compiler update will break working code unless it's somehow wrong in the first place, and should be fixed anyways.

[2015-02-13 00:42] shahid-pk commented on #250
review my pr ?

[2015-02-13 00:52] #196 closed

[2015-02-13 01:37] akoeplinger opened #253 "Add info about MSILC JIT to docs"
In https://github.com/dotnet/coreclr/pull/249 the MSILC JIT was enabled, which from the comments in runtest.cmd is an "alternative JIT for testing".

I'm curious what this is, can we get a bit more info added to the docs?

[2015-02-13 02:14] yaakov-h commented on #25
Propagating null instead of erroring out (non-explicitly) is a bad idea, IMO. The collective experience of almost every single Objective-C developer stands against that behaviour.

[2015-02-13 04:22] kangaroo commented on #121
@sergiy-k Can you please close this out?

[2015-02-13 05:06] kangaroo commented on #156
Took a stab at moving all this to CMake. There are some warts on the CMakeLists.txt, but I took an initial goal of getting compatibility with the unpublished configure output.  We can remove defines and clean things up as we clean up the PAL.

There were also some typos and inconsistencies between the configure.in and config.h's that are checked in (guessing the configure.in drifted).  I made what

[2015-02-13 08:25] KindDragon commented on #200
Reference to branch https://github.com/LLITCHEV/coreclr/tree/SystemVStructs

[2015-02-13 10:16] poizan42 commented on #250
@janvorli and other msft'ers what are your take on this? Should we attempt to use the newest available clang version, or prefer 3.5 if it's installed? Maybe prefer whatever "clang" points to if it's there first, and otherwise prefer the newest version, or prefer 3.5? Or just refuse to build with anything but 3.5?

Personally I think we should prioritize it something like this:
1. Check if CXX or C

[2015-02-13 10:24] janvorli commented on #250
@poizan42 I think that we should start with the @shahid-pk's change and later do what you've suggested. The reason for starting with the simple way is that the way the version is reported by clang and other llvm tools is inconsistent, so it will be tricky to implement the detection reliably.

[2015-02-13 14:45] janvorli commented on #177
@kangaroo I have created a feature branch off the dotnet/coreclr, named unix_issue177 to continue working on the stack unwinding in public. I will soon move a set of changes there so that you can help me to make changes necessary to use the existing libunwind on Mac.
FYI, the changes that I have together with the #259 allowed me to dump a correct managed code stacktrace using the `System.Environme

[2015-02-13 16:19] richlander commented on #177
Yeahh! @kangaroo, this should make you happy. More of these will be coming.

What do you think of our branch naming pattern?

[2015-02-13 16:40] kangaroo commented on #177
Very happy @richlander :)

As for branch naming, tying things to issues is always ok, but descriptive names help so people don't have to refer back to issues.  Something like:

'linux-stack-unwinding' is pretty obvious :)

[2015-02-13 18:29] sergiy-k commented on #161
Hi @kangaroo, I have fixed these sscanf issues in https://github.com/dotnet/coreclr/pull/258.
Unfortunately, these three tests that you mentioned did not crash when I ran them on Mac (debug and release) so I stepped through them under debugger to make sure the code does the right thing. Luckily, two of the sscanf tests (9 and 11) were crashing on a release build on Linux so that gave me a good sta

[2015-02-13 18:47] #243 closed

[2015-02-13 19:23] heinzo opened #263 "#ifdef checks to WRITE_0_BYTES_HANGS_TTY ignores 0 value being set to it"
in https://github.com/dotnet/coreclr/blob/master/src/pal/src/file/file.cpp, the '#ifdef WRITE_0_BYTES_HANGS_TTY' check ignores the value of 0 being set to the macro.

Either we modify the check to say '#if defined(WRITE_0_BYTES_HANGS_TTY) && (WRITE_0_BYTES_HANGS_TTY != 0)', or we undefing WRITE_0_BYTES_HANG_TTY in config.h.linux and config.h.osx

[2015-02-13 20:09] kangaroo commented on #161
@sergiy-k Ok, I'll check the tests on my mac where they were failing shortly to confirm the status.

[2015-02-13 20:46] kangaroo commented on #161
LGTM

Finished running PAL tests.

PAL Test Results:
  Passed: 820
  Failed: 0

[2015-02-13 20:46] #161 closed

[2015-02-13 23:29] russellhadley commented on #253
Yes,  the CLR has functionality to allow for an “alternate jit” that can be loaded for method JITing while still falling back to the base JIT if needed.  This is a useful tool for JIT testing and debugging as you can probably imagine.  You’re right, it looks like we need additions to the docs here.   The common ‘alt’ scenario is that the current RyuJIT is built as a dll  that includes a developers

[2015-02-13 23:30] richlander commented on #177
@kangaroo - we can do that, too. We talked about that. Maybe we'll try the next one that way.

We've got the "linux" part, so we're part way there.

[2015-02-13 23:33] janvorli commented on #177
@richlander Actually, I've named it unix_ because it will be for Mac too.

[2015-02-13 23:34] akoeplinger commented on #253
Great, I suspected something like that, thanks for the explanation!

[2015-02-14 00:02] richlander commented on #177
@janvorli Good point! It's all good.

[2015-02-14 01:19] khellang commented on #177
Just an FYI: Wit git in general, it's pretty common to use "group tokens" in branch names and separate them with `/`, like `feature/unix-stack-unwinding` (this is clearly a feature branch), `bug/177`, `issue/177`, `release/1.0` etc. By having some conventions like these, it makes it much easier to keep track of branches :smile:

See [this SO answer](http://stackoverflow.com/a/6065944/682105) for s

[2015-02-14 02:48] sergiy-k commented on #161
@kangaroo Thank you!

[2015-02-14 05:31] kangaroo commented on #232
PR merged -- can someone close this out?

[2015-02-14 05:33] kangaroo commented on #222
With the locale stuff ripped out there are two remaining tasks on this issue:

'''
/Users/plasma/Work/dotnet/ports/osx/src/pal/src/misc/version.cpp:69:24: warning: 'CFURLCreateDataAndPropertiesFromResource' is deprecated: first deprecated in OS X 10.9 - For resource data, use the CFReadStream API. For file resource properties, use
      CFURLCopyResourcePropertiesForKeys. [-Wdeprecated-declaration

[2015-02-14 05:59] #232 closed

[2015-02-14 07:30] elfring opened #270 "reserved identifier violation"
I would like to point out that identifiers like "[```__CAPARSER_H__```](https://github.com/dotnet/coreclr/blob/ef1e2ab328087c61a6878c1e84f4fc5d710aebce/src/inc/caparser.h#L15)" and "[```__GC_H```](https://github.com/dotnet/coreclr/blob/ef1e2ab328087c61a6878c1e84f4fc5d710aebce/src/gc/gc.h#L15)" [do not fit](https://www.securecoding.cert.org/confluence/display/cplusplus/DCL32-CPP.+Do+not+declare+or+

[2015-02-14 07:47] jkotas commented on #270
Majority of the CoreCLR code is compiled against PAL headers that isolate from system C++ headers, and so the identifiers cannot collide by design.

It would nice to clean this up for parts of the tree that are likely to evolve into reusable components - GC is one that we know about so far.

@elfring  We will be happy to accept PR that cleans up the header guards in files under src\gc. Thanks!

[2015-02-14 07:53] elfring commented on #270
Should the affected source files be treated in a way so that they should be independent from a specific implementation of a C++ compiler?

[2015-02-14 08:28] ellismg commented on #222
I'll take a look at these.  Thanks @kangaroo.

[2015-02-14 09:01] sergiy-k commented on #122
@kangaroo I have assigned this issue to myself.
I thought you have already closed https://github.com/dotnet/coreclr/issues/161 since you have tested my change and the corresponding PR (https://github.com/dotnet/coreclr/pull/258) has been already merged.