[2015-10-06 13:29] steveharter commented on #1571
With the ICU fix the build is now passing. Closing issue

[2015-10-06 13:29] #1571 closed

[2015-10-06 13:46] redknightlois commented on #1619
@GSPP that particular case is being discussed @ https://github.com/dotnet/corefx/issues/2209

[2015-10-06 14:46] jasonwilliams200OK commented on #1633
@ellismg, thanks for catching it. I actually installed it (using `pkg install icu`) but forgot to update the guide. I have updated the guide https://gist.github.com/jasonwilliams200OK/6efa7907e66275df2d24 and mentioned in the change log for Revision 7 (comment under the guide). Revision 8 was also a separate missing bit. :)

---

Regarding CoreCLR, I am in the middle of creating a similar guide: h

[2015-10-06 15:03] mmitche commented on #1633
That is kind of bizarre.  Same version of clang too.  Have you looked at the source?  Is it obvious that errno is defined someplace?

[2015-10-06 15:51] jasonwilliams200OK commented on #1633
I think the issue is with: https://github.com/dotnet/coreclr/blob/a723811/src/pal/inc/pal.h#L6127-L6137. Seems like `PAL_STDCPP_COMPAT` check is failing and it tries to redefine `errno`.
But why it is not happening on dotnet-ci :question:  :confused:

[2015-10-06 17:24] masonwheeler opened #1685 "Marshal should be able to handle generic types"
I bet this was a big hassle back when generics were introduced, but now, it seems a bit ridiculous that Marshal can't handle generic types.

[It's been considered good practice for years now](https://lostechies.com/jimmybogard/2008/03/26/stop-creating-custom-delegate-types/) to use `Func<>` and `Action<>` declarations rather than declaring named custom delegate types, but `Marshal.GetDelegateForFu

[2015-10-06 17:25] gafter commented on #1615
@gregg-miskelly You were the strongest push-back on using a timestamp of 0 for deterministic builds. Do you want to comment here?

[2015-10-06 17:35] jakesays commented on #1685
comment.

[2015-10-06 17:37] cheers00 opened #1686 "clr-beta vs coreclr-beta vs desktop-clr"
I am trying to understand differences between ```clr, coreclr``` and ```desktop-clr```.
```coreclr``` is now open sourced and I understand the versions but how ```clr beta-versions``` and ```desktop CLR 4.56``` differ?

[code]

[2015-10-06 18:12] jaredpar commented on #1615
Using a timestamp of 0 has proved problematic in the past.  There are many tools which rely on timestamp being a non-zero value.  In order to use 0 I think we'd need to have a very compelling use case.

[2015-10-06 18:28] akoeplinger commented on #1615
@jaredpar can you elaborate a bit more on "many tools"? Are those internal Microsoft tools or 3rd party ones? Since this is supposed to be an offset from the epoch I'd be very curious how 0 breaks those tools :smile:

[2015-10-06 21:25] ellismg commented on #1686
/cc @davidfowl

The "beta" for desktop here refers to DNX itself being in beta, not the underlying OS runtime.  When using the "CLR" runtime, DNX uses whatever .NET 4.5 runtime is on your machine.

[2015-10-06 22:31] VSadov opened #1691 "Inlining in shared generic code leaves unused parts of dictionary lookups around"
[code]

The body of test() is:

[code]

If I make GetLength an instance method, the strange store disappears and stack frame is smaller.

[code]

It seems unnatural that I can improve CQ by making static methods into instance methods in scenario like this, but it is very tempting when the pattern is on a hot path.

[2015-10-06 23:13] cheers00 commented on #1686
Got it. Thank you.

[2015-10-06 23:13] #1686 closed

[2015-10-07 00:22] CarolEidt commented on #1678
@mikedn - Yes, it's the case that the scalars can have non-zero upper bits because we never use operators that read them. I'm not sure what you mean by combining SIMDIntrinsicInit and SIMDIntrinsicGetItem. Are you suggesting that the JIT could pattern match sequences of intrinsics? That might be effective, and worth considering in general. Another option would be for the JIT to always just assume

[2015-10-07 03:01] ellismg commented on #1652
Have we engaged with the MSBuild folks?

[2015-10-07 04:47] mmitche commented on #1652
@ellismg Yes.  They didn't know what was going on.  I actually remember seeing this all the way back in the MIdori days.  My thoughts are that we should check in nuget.exe like Roslyn does and remove the initial code task factory.  What do you think?

[2015-10-07 07:02] mikedn commented on #1678
Yes. To be more precise I'm thinking this should happen before codegen so only a single shuffle node reaches codegen. I suppose it's possible to do this on the fly in genSIMDIntrinsicGetItem by checking if its result is used by a SIMDIntrinsicInit node but I'm not sure if the temporary result of get item won't ever need a separate register which will end up being unused if the optimization is done

[2015-10-07 10:38] kouvel opened #1698 "Native library loading does not try "lib" prefix when trying specific search paths"
NDirect::LoadLibraryModule tries several specific search paths before trying to load the library directly using the system default search paths. These include the directory of the assembly with the DllImport attribute, and native search paths provided by the host. When trying these specific search paths, an absolute path is sent to PAL's LoadLibrary, and for absolute paths prefixing is not attempt

[2015-10-07 10:38] kouvel commented on #1698
@adityamandaleeka, you had mentioned this before, are you already looking at it?

[2015-10-07 13:20] nguyenm100 commented on #1476
Got it working on RHEL 7.1 via (beta7 coreclr)

sudo yum -y install libunwind gettext libcurl-devel openssl-devel zlib unzip
curl -sSL https://raw.githubusercontent.com/aspnet/Home/dev/dnvminstall.sh | DNX_BRANCH=dev sh && source ~/.dnx/dnvm/dnvm.sh
dnvm upgrade -r coreclr

[2015-10-07 13:20] #1476 closed

[2015-10-07 16:00] muratg opened #1700 "[Beta 8 blocker] CoreCLR on Mac crashes hard when there's a hardware exception"
The program pasted below will crash hard when attempting to access “test.Length”. The catch block will not execute. The exit code is consistently 6.

Simple repro:

[code]

System:
[code]

cc @joshfree @janvorli @sergiy-k @Eilon

[2015-10-07 16:31] reduz commented on #1097
Any news regarding Android support?

[2015-10-07 16:32] reduz commented on #952
Any news on Android support?

[2015-10-07 17:19] mellinoe commented on #1700
I also hit this consistently in some testing yesterday. Even doing something as simple as:

[code]
would crash the process (no error message whatsoever). In some of my real tests which had more complicated exceptions/flow, I was getting similar crashes, with an "Abort trap: 6" message (seems to be what you mentioned above).

I had assumed it was in some way related to the recent exception handling

[2015-10-07 17:32] muratg commented on #1700
BTW, this is OS X only.  On Linux this is fine.

[2015-10-07 17:58] joshfree opened #1703 "Add regression test for Mac hardware exception case"
Tracking bug to add a regression test to inner loop for https://github.com/dotnet/coreclr/issues/1700

[2015-10-07 18:20] jasonwilliams200OK commented on #1633
Update (on CoreFX again):

Reverted the latest package branch workaround (https://github.com/dotnet/coreclr/issues/1633#issuecomment-143603601) in Revision 10, since 2015-Q4 default branch for FreeBSD packages is available. https://gist.github.com/jasonwilliams200OK/6efa7907e66275df2d24. Which means running `pkg install mono` on fresh FreeBSD 10.2 installation will yield `mono -V` == v4.0.3.20 wit

[2015-10-07 18:26] JosephTremoulet opened #1707 "Divergent exception handling between coreclr and desktop CLR"
Running [this test](https://gist.github.com/JosephTremoulet/9aaea4bbff83a3cbfc8d#file-test-cs) produces [different output](https://gist.github.com/JosephTremoulet/9aaea4bbff83a3cbfc8d#file-output-txt) with CoreCLR vs Desktop CLR (for me).  AFAIK they should behave the same.  The most exotic thing the test does is abort execution of a finally by propagating a new exception out of it.
This was using

[2015-10-07 18:38] mellinoe commented on #1700
I'm still seeing this issue, and I just pulled down commit b2d00c37749 and re-built.

[2015-10-07 18:41] janvorli commented on #1700
That commit is not the fix itself. The fix is #1699 and the #1701 is a missing file that belongs to the fix.

[2015-10-07 18:48] mellinoe commented on #1700
I see, but those PR's were already merged in prior to b2d00c3, right? I just built from HEAD of dotnet/coreclr master and the issue is still repro'ing for me. Unless I misunderstood what you meant. Should this be fixed in master now?

[2015-10-07 18:52] janvorli commented on #1700
@mellinoe Yes, it should be fixed in master. Let me try to build your test - I have a similar one that passes ok and was crashing before.

[2015-10-07 18:57] mikem8361 commented on #1700
@mellinoe, I just ran your test and it seem to work now:

./corerun NullException.exe
NullReferenceException incoming?
test.Length threw: System.NullReferenceException: Object reference not set to an instance of an object.
   at Test.Program.Main(String[] args)

Unhandled Exception: System.NullReferenceException: Object reference not set to an instance of an object.
   at Test.Program.Main(String[

[2015-10-07 18:59] janvorli commented on #1700
@mellinoe The same here.

[2015-10-07 19:05] mellinoe commented on #1700
Okay great, thanks for double checking. I'll try cleaning out my whole test directory to make sure nothing else was impacting this.

[2015-10-07 19:10] stephentoub opened #1708 "Non-inlined ctor significantly slower on Linux than on Windows"
Here is my repro:
[code]
There are three different tests here:
1. Invoking a non-inlineable method (set the #if to false)
2. Constructing an object with a non-inlineable ctor (set the #if to true)
3. Constructing an object with an inlinineable ctor (set the #if to true and comment out the MyObject ctor)

(1) and (3) both perform ~equivalently for me on both my Linux VM and my Windows host.

But (2

[2015-10-07 19:14] stephentoub commented on #1708
(As a 4th case, changing the ctor to remove the NoInlining attribute and add a call to Nop() to its body is also ~equivalent for me on both Linux and Windows.)

[2015-10-07 19:24] janvorli commented on #1707
@JosephTremoulet I've tried your test on Linux and it has printed the same result as you've got on the desktop CLR (error code 0).So it seems to be a problem with Windows CoreCLR only.

[2015-10-07 19:30] janvorli commented on #1707
I've tried it on the current Windows CoreCLR and got the correct output too.
So I wonder what went wrong in your testing. It looks from the test result that all the tests have failed. Have you built your test against the CoreCLR targetting pack? Do you have all the correct platform assemblies in the same folder where you executed corerun.exe?

[2015-10-07 19:37] jkotas commented on #1708
@kouvel This looks like same problem as the inefficient allocation helpers that you are working on.

cc @sergiy-k

[2015-10-07 19:39] KevinRansom opened #1709 "RefEmit for coreclr can not persist assemblies to disk, and refemit debugging is not supported by coreclr"
Hi,

I am afraid to say that I really need three features to be added to refemit on coreclr.  I understand that they may be considered not desirable, however I need them or their absence is going to limit what we can do with FSI and TypeProviders on Coreclr.  F# supports generative type providers, these use metadata discovered at compile time from db, schemas, web services, reflection e.t.c. to ge

[2015-10-07 19:44] JosephTremoulet commented on #1707
No.  I guess my ad-hoc tests to-date have all been "close enough", so I didn't realize I needed that.

Likewise.

Thanks for the help, sorry for the distraction.  I'll follow the [posted steps](https://github.com/dotnet/coreclr/blob/master/Documentation/building/windows-instructions.md) and that should fix my issue.

[2015-10-07 19:44] #1707 closed

[2015-10-07 22:03] gafter opened #1712 "Combine of covarince/contravariance delegates"
The delegate combine operator does not properly account for delegate variance.

See https://github.com/dotnet/roslyn/issues/3711 for details.

[2015-10-07 22:05] mellinoe commented on #1700
Hm, after re-building everything, I get a different error:

[code]

[2015-10-07 22:06] gafter commented on #1712
The managed language design team requests that this be addressed for the next VS product release.

[2015-10-07 22:14] gafter commented on #1673
To be clear here, the C# and VB teams are not requesting anything from coreclr.

[2015-10-07 22:14] mellinoe opened #1713 "[Linux] Unable to catch TargetInvocationException"
I have a test program which I'm using to print out a bunch of information about some types that I am implementing. It basically enumerates all of the properties and methods on an object, invokes them, and prints all of the results out (recursively). If an exception is encountered, I just catch it and print out the exception message, and continue on with the rest of the properties.

I just build th

[2015-10-07 22:14] mellinoe commented on #1713
/cc: @janvorli

[2015-10-07 22:23] janvorli commented on #1713
Thanks @mellinoe, I'll look into that.

[2015-10-07 22:35] janvorli commented on #1700
@mellinoe Could you please run the test under lldb and paste here the stack when the issue happens?
If you are not familiar with lldb, you can just prepend "lldb -- " before the corerun command and when it hits the issue in the debugger, use "bt" command to get the stack trace.

[2015-10-07 23:05] mellinoe commented on #1700
Here's all the output from the run:

[code]

[2015-10-08 01:12] RossNordby opened #1714 "Vector min/max do not handle NaNs consistently"
Logically irrelevant code changes can influence the result of Min and Max when NaN values are involved.

For example:
[code]
returns the expected (NaN, NaN, NaN, NaN) while this:
[code]
returns (0,0,0,0).

Disassembly for the first case:
[code]
versus the second:
[code]
It appears that maxps input parameter order is generated without regard for the NaN corner case, so the register fill order defin

[2015-10-08 05:06] mikedn commented on #1714
You have to thank Intel for that:

This practically makes MAXPS & co. useless when NaNs are involved. And of course, the alternative is slower.

[2015-10-08 05:29] jasonwilliams200OK commented on #1091
@mmitche, with the VM recipe for CoreCLR (https://gist.github.com/jasonwilliams200OK/06db121ec534821fe541), I am able to successfully build locally on FreeBSD 10.2 by applying @saper's [patch](https://github.com/saper/coreclr/commit/9deed7c6b8b85de418362c258b59d5d6fa56046f):

[code]

I wonder how it is building on CI, if CI is running FreeBSD 10.[0-2] and mono 4.0.3? Because locally without applyi

[2015-10-08 05:44] mmitche commented on #1091
We build with skipmscorlib, so mono would not be involved.

Sent from my Windows Phone
________________________________
From: Peter Jas<mailto:notifications@github.com>
Sent: ‎10/‎7/‎2015 10:30 PM
To: dotnet/coreclr<mailto:coreclr@noreply.github.com>
Cc: Matt Mitchell<mailto:mmitche@microsoft.com>
Subject: Re: [coreclr] palinternal.h breaks "errno": src/pal/src/include/pal/thread.hpp:498:13: error

[2015-10-08 05:50] jasonwilliams200OK commented on #1091
You are right! I missed that one and will try with `skipmscorlib`.
Nonetheless the code patch is still required to compile the code. :)

[2015-10-08 05:52] mmitche commented on #1091
I'll try and find out why its working in CI tomorrow.

Sent from my Windows Phone
________________________________
From: Peter Jas<mailto:notifications@github.com>
Sent: ‎10/‎7/‎2015 10:51 PM
To: dotnet/coreclr<mailto:coreclr@noreply.github.com>
Cc: Matt Mitchell<mailto:mmitche@microsoft.com>
Subject: Re: [coreclr] palinternal.h breaks "errno": src/pal/src/include/pal/thread.hpp:498:13: error: use

[2015-10-08 05:53] jasonwilliams200OK commented on #1091
Thanks! I have updated the guide for both with and without `skipmscorlib`.

[2015-10-08 06:20] josteink commented on #1091
What? Isn't this thing submitted and fixed already? I thought this issue was dead months ago.

I may have forgotten some context, but are there any portability issues with the proposed fix on Linux or OSX? Is there any technical reason this patch is not proposed as a PR already?

[2015-10-08 07:23] saper commented on #1091
The problem `<typeinfo>` has not been duly fixed, I just figured out this one-line fix works around the problem. To me this is an indication of more serious problems with PAL architecture, as indicated in the bug description in https://github.com/dotnet/coreclr/issues/1091.

As this is definitely out of scope for casual drive-by-development I am okay to work on this but not under the present contr

[2015-10-08 07:46] josteink commented on #1091
You are absolutely right that the proposed patch is a workaround to a problem which we ideally shouldn't be having. I do agree about that. But something being a workaround does not exclude it being a valid option worthy of consideration.

While I agree there seems to be some structural issues with the PAL-layer, I must honestly question the viability of a PAL redesign at this point.

Microsoft has

[2015-10-08 07:50] saper commented on #1091
All agreed. I think that this workaround is acceptable as it shouldn't break anything else that is not already broken. I think I haven't made myself clear: I do not agree to the terms laid out by the default CLA.

[2015-10-08 07:50] jasonwilliams200OK commented on #1091
Regarding the CLA signing requirement (clicking a button basically that you will not claim money for your work), for a small change like this won't be required. There is some kind of threshold for CLA signing.

[2015-10-08 07:56] josteink commented on #1091
Unless you patch exceeds a certain size, you will not be required to sign the CLA.

You can see this in the PR list:

https://github.com/dotnet/coreclr/pulls?q=is%3Aopen+is%3Apr+label%3Acla-not-required

[2015-10-08 08:44] janvorli commented on #1091
I've just tried to remove the `#include <typeinfo>` and it builds ok on both Linux and OSX, so it looks like some kind of historical dependency that is not needed anymore. Is it needed on FreeBSD? If not, we can just remove it.

[2015-10-08 08:46] josteink commented on #1091
Unless I remember incorrectly, I think `#include <typeinfo>` is needed for `errno`.

[2015-10-08 08:49] saper commented on #1091
On Thu, 8 Oct 2015, Jostein Kjønigsen wrote:

That could be needed for RTTI (are we using it?), but otherwise I think
PAL already knows what to include to get errno (<errno.h> in case of FreeBSD).

[2015-10-08 08:55] josteink commented on #1091
Fair enough. That's much more targeted and does sound better. I'll take your word for it :)

[2015-10-08 09:00] saper commented on #1091
I'd just try deleting `<typeinfo>` as @janvorli suggests but I have currently no access to my CoreCLR copy to test. #1085 did introduce some compatibility with C++11 but I don't see any rtti-related stuff there either.

But it's definitely worth checking with @fieryorc ("we are using C++11") and the "debugger team" to find out how things work there (or any other external PAL consumers).

[2015-10-08 09:04] janvorli commented on #1091
We include errno.h few lines below the `typeinfo` in the seh.cpp and we don't use RTTI in PAL.
In fact, not even the errno.h is needed anymore in the seh.cpp. PAL has a lot of history behind it and I think that some code was removed long ago that needed this stuff but the includes were just left in.

[2015-10-08 10:33] janvorli commented on #1700
I was able to repro the issue. When I run corerun without sudo, it happens for me too. I was testing it under lldb and I run that always with sudo, so I haven't noticed that.
I am looking into it.

[2015-10-08 11:59] janvorli commented on #1700
In my case, the issue was that the managed exe was owned by root and not by me, so that was causing the issue. chown to myself fixed the problem.
But it obviously uncovered an issue in the new exception handling - we are missing a high level exception trap in the ExecuteAssembly and so the native exception leaks. I have put the handler back and now it displays correctly the exception:

`Unhandled

[2015-10-08 13:06] mikedn commented on #1691
It looks like lvaGenericsContextUsed is set when the call to GetLength is imported because GetLength is static and it needs the generic context argument (even if it doesn't use it). After inlining the compiler figures out that the whole generic context thing isn't needed and discards the code but it doesn't reset lvaGenericsContextUsed. In the end genFnProlog uses lvaGenericsContextUsed and forces

[2015-10-08 13:56] janvorli commented on #1700
The fix is in as #1715

[2015-10-08 14:25] mviorno opened #1716 "[Linux] [CoreClr] String.StartsWith works incorrectly if source string begins with '\0'"
The following test is failed when run with linux coreclr runtime (result values evaluated to true):
bool result = "\u0000bug".StartsWith("test");
Assert.AreEqual(false, result);

Same code works fine with the mono runtime.

Environment:

uname -a
Linux debianDNX 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt11-1+deb8u3 (2015-08-04) x86_64 GNU/Linux

dnvm list

Active Version              Runtime Arch Ope

[2015-10-08 15:13] mviorno opened #1717 "[Linux] [CoreClr] Inconsistent behavior of Encoding.GetEncoding method"
I use the following code to obtain utf-32BE encoding (utf-32 big endian):

[code]

Unfortunately, when running under linux with coreclr runtime, this code returns utf-8 encoding instance, instead of utf-32BE. But under windows with any runtime and under linux when running with mono runtime, this code return correct utf-32BE encoding instance.

Same problem reproduces with the code below:

[code]

[2015-10-08 15:19] stephentoub commented on #1717
The implementation for this just got checked in yesterday:
https://github.com/dotnet/coreclr/pull/1645

Does your test include that change?

[2015-10-08 15:30] Scrib3r commented on #1716
This test is failed on coreclr-darwin 1.0.0-rc1-15838 too. But it has passed on previous version.
![screen shot 2015-10-08 at 18 25 42](https://cloud.githubusercontent.com/assets/890805/10371002/05e9bb52-6dea-11e5-995e-183cb0ddc2b5.png)

[2015-10-08 15:44] mviorno commented on #1717
We use recent packages from the following feed:

[code]

There is a piece of text from project.json.lock file generated after running dnu restore command:

[code]

Looks like "System.Text.Encoding.CodePages/4.0.1-beta-23406" depends on "System.Text.Encoding": "4.0.10" instead of "System.Text.Encoding/4.0.11-beta-23406". Is this correct?

[2015-10-08 16:07] ellismg commented on #1716
Would be due to the ICU work.  Should be easy enough to fix when I am back from vacation on Tuesday.  In general ICU can handle embedded nulls if you always pass lengths to the APIs, we must not be doing that in some places.

[2015-10-08 16:29] RossNordby commented on #1714
That default behavior is actually what I was hoping for. If the second operand is always used in the presence of a NaN, NaNs can be elegantly replaced by specifying some non-NaN filter value in the second operand.

[2015-10-08 16:52] mviorno commented on #1716
Thank you! Looking forward for fixed build.

[2015-10-08 16:55] mikedn commented on #1714
The problem is that other instruction sets might have a different behavior. For example ARM Neon's [VMAX](http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.dui0489c/CJAJIIGG.html) seems to return NaN if any input is NaN (and it happens so that this is also the behavior of `Math.Max`).

That said, I suppose it makes sense for the JIT to respect the argument order. At least it would be con

[2015-10-08 17:17] joshfree commented on #1700
Closing the Beta8 bug since @janvorli 's fix is in the 23408.00 release build (published last night to the aspnetbeta8 test feed)

[2015-10-08 17:17] #1700 closed

[2015-10-08 17:21] mellinoe commented on #1700
I'm not sure I follow. The fix in #1715 was just checked in an hour or so ago. I also haven't had a chance to verify that my issue is fixed, either.

[2015-10-08 17:42] mellinoe commented on #1700
Unfortunately, I'm still hitting an issue, although not the exact same one. I will file another issue.

[2015-10-08 18:26] joshfree commented on #1700
To clarify, the two fixes https://github.com/dotnet/coreclr/pull/1699 and https://github.com/dotnet/coreclr/pull/1701 were pulled into the 1.0.0-beta8 release branch on VSO and verified by ASP.NET as to unblock Kestrel on Mac.  Other bugs should be filed separately for 1.0.0-rc1.

[2015-10-08 18:38] mellinoe commented on #1713
@janvorli
Some additional information: I found that if I explicitly catch Exception, rather than TargetInvocationException (or add another catch block after it, in my case), then I am able to at least continue with the program.

I am still seeing some weird behaviour, though. In my catch (Exception) block, I am trying to print a few things out (just to know that I actually caught the exception), b

[2015-10-08 20:19] joshfree commented on #1652
@weshaggard can you follow up with msbuild?

[2015-10-08 20:31] mmitche commented on #1652
@joshfree I contacted them a while back about this.  They have not heard of such a failure.  In addition, it probably doesn't help us to even have a fix right now (except for future releases) since we wouldn't get the fix in stock VS 2015 MSBuild.

[2015-10-08 21:35] stephentoub commented on #1716
Yeah, looks like it's the -1 we're passing here:
https://github.com/dotnet/coreclr/blob/master/src/corefx/System.Globalization.Native/collation.cpp#L131
(and the corresponding one in EndsWith).

[2015-10-09 00:37] janvorli commented on #1676
Fixed by #1726

[2015-10-09 00:37] #1676 closed

[2015-10-09 05:22] roterdam opened #1728 "Differences between full CLR and CoreCLR"
Other than missing things from CoreFX which are in progress, what are some differences in CoreCLR vs. CLR?
- Same GC?
- Same JIT?
- C++/CLI support missing?

[2015-10-09 05:26] roterdam opened #1729 "Will DLLs compiled against Profile7 automatically load in my CoreCLR host?"
If I make a custom CoreCLR host, will Profile7 magically work? Or is there some other other profile?

[2015-10-09 05:30] weshaggard commented on #1729
There is nothing magic about Profile7. We used that for our corefx libraries primarily to ensure we had a portable profile that we knew we could support on CoreCLR. Things compiled against it will work assuming you deploy the matching implementation assemblies that are used.

[2015-10-09 05:36] roterdam commented on #1729
Thanks. So if I compile my dll as profile7 and my exe as profile7 using VS 2015 it'll load on CoreCLR? Don't I need to reference the CoreFX? Or are you saying no one doesn't need to, eventually all of Profile7 CoreFX will be there.

[2015-10-09 06:17] rstat1 commented on #1728
As far as I am aware the CLR in this repo is identical to the CLR in full .NET and the only differences are in the available API set in corefx.

[2015-10-09 06:28] roterdam commented on #1728
I would think so too, but seems like there is at least C++/CLI that is missing. I should try loading one to confirm it to be honest.

[2015-10-09 06:35] rstat1 commented on #1728
Well ok..yea that's missing too. But is C++/CLI really a feature directly part of the CLR, instead of just a language implemented on top of it?

I admittedly know very little about C++/CLI so feel free to correct me on that if I'm wrong..

[2015-10-09 06:41] poizan42 commented on #886
Wouldn't the correct thing be to just get rid of MAX_PATH on unix platforms? Call the api and see whether it succeeds seems to be the only correct way - don't let the clr impose additional contraints.

[2015-10-09 06:47] roterdam commented on #1728
I know very little as well and I would agree that is _should_ be the same. Maybe C++/CLI has some implications on the runtime like how native code may be loaded, etc. It is quite possible that it underneath the covers adds PInvoke calls so who knows.

[2015-10-09 06:51] roterdam commented on #1728
https://github.com/dotnet/coreclr/issues/659

[2015-10-09 06:58] poizan42 opened #1731 "Building from medium-long path fails in package restore"
[code]

Running the command manually:

[code]

[2015-10-09 08:09] mellinoe commented on #1729
In short, yes. That will work. Profile 7 does not include some basic things like System.Console, however, so you'd have a hard time making anything very useful that way.

To expand: all of the current contracts we have in CoreFX are built on top of past contracts. Profile 7 is a small set of such past contracts. Right now, profile 7 is a heavy subset of what we have in corefx, meaning we have a LO

[2015-10-09 08:28] poizan42 commented on #1731
This can be fixed by lifting the path length restriction on semaphores (dotnet/corefx#3740) or by changing how the semaphore name is generated from the filename (aspnet/dnx#2943)

[2015-10-09 09:14] mviorno opened #1732 "[Linux] [CoreClr] SecureString, an exception during instantiation"
During execution of the following code

[code]

got an exception:

[code]

The runtime is looking for OLE automation on my linux machine, have no chance ^)

Environment:

[code]

[code]

[2015-10-09 09:49] mviorno opened #1734 "[Linux] [CoreClr] Inconsistent results during value formatting"
I have several tests, passed ok under windows and under linux with mono runtime, but same tests failed with the linux coreclr runtime:

##### test
[code]

result
[code]

##### test
[code]

result
[code]

##### test
[code]

result
[code]

##### test
[code]

result
[code]

##### test
[code]

result
[code]

##### test
[code]

result
[code]

##### test
[code]

result
[code]

### Environment

[code]

[

[2015-10-09 12:22] stephentoub commented on #1732
SecureString is being removed from coreclr/corefx.  As a result the existing package for it does not contain a Linux implementation.

cc: @weshaggard

[2015-10-09 12:23] stephentoub commented on #1734
cc: @tarekgh, @steveharter

[2015-10-09 12:23] stephentoub commented on #1717
cc: @weshaggard, @eerhardt

[2015-10-09 13:03] mviorno commented on #1732
Ok, thanks for information.

[2015-10-09 13:03] #1732 closed

[2015-10-09 14:09] eerhardt commented on #1717
Assert.AreEqual("utf-32BE", encoding.WebName);

This was fixed with https://github.com/dotnet/coreclr/pull/1645.  I don't think the latest CoreCLR build as propagated out to https://www.myget.org/F/aspnetvnext/ yet, has it?  I think the best thing to do would be to test it out with the latest CoreCLR and see if it is fixed.  (it should be fixed, utf-32BE is a supported encoding on CoreCLR on Linux

[2015-10-09 14:11] steveharter commented on #1734
For Linux and MacOX this is expected as we are returning raw locale data from the underlying framework which is ICU (International Components for Unicode) which is then then used by coreclr to format numbers, dates, etc. That raw data is different than Windows (and mono). ICU obtains its values from CLDR (Common Locale Data Repository).

There are also differences in that data between releases of

[2015-10-09 15:20] tarekgh commented on #1734
cc @eerhardt

I believe the tests need to be fixed as we can expect different data across platforms. @eerhardt may help with this issue I think.

[2015-10-09 16:22] eerhardt commented on #1734
We also use ICU/CLDR to get the short and long date patterns for a culture.

For LongDatePattern, we use the "full" and "long" date format, with the "full" format being the default.  For "ru-RU", [you can see the full format](https://github.com/unicode-cldr/cldr-dates-modern/blob/master/main/ru/ca-gregorian.json#L311) is `EEEE, d MMMM y 'г'.` which corresponds to the actual result you are seeing.

[2015-10-09 17:50] akoeplinger commented on #1734
@eerhardt FWIW as a native German speaker, having `9.3.2015` as the short date pattern is very weird, `09.03.2015` is definitely the correct one (i.e. the `short` date format in CLDR, this also matches what a German Windows does).

Maybe it'd be better to default to the `short` CLDR format for ShortDatePattern?

[2015-10-09 18:18] tarekgh commented on #1734
I think we are seeing similar issue with Serbian cultures too #3616. I am wondering why ICU is not picking the CLDR data?

[2015-10-09 18:29] eerhardt commented on #1734
The `short` date format in CLDR for the `de` culture is `dd.MM.yy`, which means it would output `09.03.15`, which still wouldn't match Windows `09.03.2015` according to the test above.
Using the `short` format would mean that for `en-US`, the pattern would be `M/d/yy`, which would output `9/3/15`, which also doesn't match Windows behavior (or my expected behavior either).

But I agree that using t

[2015-10-09 18:41] rstat1 commented on #1728
Well I guess that explains it...

[2015-10-09 18:41] akoeplinger commented on #1734
@eerhardt you're right, I misread the `yy` (so in fact `medium` would be correct for German here to match Windows :sob: though you could argue that `09.03.15` is indeed an acceptable short date).

To be honest, using the `short` pattern seems like the most "correct" approach to me, at least it then matches with what CLDR defines as short.

[2015-10-09 18:50] eerhardt opened #1736 "DateTimeFormat.ShortDatePattern should use CLDR 'short' format on Linux"
See the discussion on #1734.

The DateTimeFormat.ShortDatePattern is currently defaulting to using CLDR's 'yMd' skeleton.  However, this value doesn't produce the best format for all cultures, ex. "de-DE". LongDatePattern uses CLDR's 'full' format. To be symmetrical, the ShortDatePattern should be using CLDR's 'short' format.

If this format isn't correct for specific cultures, we would need to wo

[2015-10-09 18:50] eerhardt commented on #1734
Logged #1736 for this specific issue.

[2015-10-09 18:51] roterdam commented on #1729
Ok, so is there a list of how to target a profile? I would like to use System.Console :)

[2015-10-09 20:16] mviorno commented on #1734
Could you consider my tests from compatibility/consistence point of view? When we (users) develop a software using aspvnext, we expected to get most similar results (better the same results) running against different OS and different runtimes. Both, NET framework and runtime are abstraction layers intended to leverage differences in underlying OS, libraries, hardware etc. That's why it would be gr

[2015-10-09 20:28] eerhardt commented on #1734
See @ellismg's comment on https://github.com/dotnet/corefx/issues/3698.

Windows' locale data deviates from ICU/CLDR's in some cases. There are some cases where Windows uses the CLDR data and they match. But there are cases where it doesn't - for example if the Windows team felt it was "wrong", or if there are geopolitical issues, or if there would be compatibility concerns with earlier versions o

[2015-10-10 05:22] mellinoe commented on #1734
And what about the other way around; match CoreCLR on Windows with CoreCLR on other platforms, rather than with the full CLR on Windows? Not saying it's a good option or even feasible, just curious if it was considered. Is ICU/CLDR available for use on Windows?

[2015-10-11 11:22] mikedn commented on #914
In case anyone cares I stumbled upon a funny workaround:

[code]
[code]

Who'd have thought that more complex C# code will produce better assembly code? :smile:

[2015-10-11 11:53] Rohansi opened #1740 "Custom AssemblyLoadContext not used when loading dependencies"
When loading an assembly that has additional dependencies in a custom AssemblyLoadContext, the dependencies will be loaded by the TPA binder if they can be found in the same directory as the managed executable.

I can replicate this with CoreRun from coreclr@66b24ad114f991cd882387f1a3bb280c7cd6877f. I  also tested this with dnx (CoreClr-x64-1.0.0-rc1-15838) but I couldn't replicate it there, but i

[2015-10-11 12:21] GSPP opened #1741 "Optimize shifts better"
Let's look at the following code performing some shifts:

        [MethodImpl(MethodImplOptions.NoInlining)]
        static void Shift()
        {
            var x = Havoc(0x1234);
            var y = Havoc(0x1235);

            Sink(x << y);
            Sink(x << (y & 0x1F));
            Sink(x << (y & 0x1));
        }
        [MethodImpl(MethodImplOptions.NoInlining)]
        static int Havoc(i

[2015-10-11 13:13] Janiels commented on #1741
Do you have any benchmarks showing the gain of eliminating the moves?
The CPU can perform them via simple register renames and optimizing them away is probably just a code size optimization.

[2015-10-11 13:18] mikedn commented on #1741
Some additions/corrections:

[code]

The main problem in all this of code is really `and ecx, 1Fh`. It's useless because `shl` masks the shift count anyway.

[2015-10-11 13:28] mikedn commented on #1741
Here's the same code compiled with a patched JIT:

[code]
Unless I'm missing something this is as good as it gets.

[2015-10-11 13:42] mikedn commented on #1741
Actually I'm missing something. `shlx` could be used instead of the lousy `shl` which requires the shift count to be placed in `cl`. It also avoids the need for a lot of moves due to its 3 operand form. :smile:

[2015-10-11 19:05] gafter opened #1742 "Coreclr crashes on valid code"
See https://github.com/dotnet/roslyn/issues/5870

This is preventing the integration of a PR to compensate for [bugs in double.Parse](https://github.com/dotnet/coreclr/issues/1316) in the Roslyn compilers: https://github.com/dotnet/roslyn/pull/5379

[2015-10-11 22:06] GSPP commented on #1741
@mikedn awesome analysis. I think this is suspicious:

       8BF8                 mov      edi, eax
       8BCF                 mov      ecx, edi

After these two instructions the value 0x1234 is now in three registers at the same time. How can that be necessary?! I think two are required.

       8BDE                 mov      ebx, esi
       D3E3                 shl      ebx, cl
       8BCB

[2015-10-12 04:24] cheers00 opened #1743 "How to debug coreclr beta builds?"
@ellismg @davidfowl

I am seeing significant low performance wiith ```coreclr x64 beta7``` when compared to ```.net 4.5 \ .net 4.6``` for one of our console applications. Want to debug myself and wondering where to get symbols for ```coreclr-beta```.

```dnu publish --include-symbols``` copies  only my app pdb file,

Or how to use my coreclr and corefx builds to build my console app?

Thanks

[2015-10-12 04:44] mikedn commented on #1741
@GSPP The various moves are necessary because many registers have dedicated uses: `eax` is used to return values from functions, `ecx` is used to pass the first function argument, `esi`, `edi` and `ebx` are preserved across calls and the rest aren't, shift instructions require the shift count to be in `ecx` (`cl` represents the first 8 bits of `ecx`). With all these constraints in place there's li

[2015-10-12 08:35] GSPP commented on #1741
OK, asking a C compiler was a smart idea. x86 is more complicated than I knew. I did not know some of those rules.

* For fun here is GCC: https://goo.gl/N1VOab (Seems like a worse job than VC).
* LLVM seems to twist the calling convention so that the shift result ends up in a convenient register (edi): https://goo.gl/66bkib

I hope my Havoc function was successful in hiding the undefined behavior

[2015-10-12 08:57] mikedn commented on #1741
Not really, that compiler targets Linux and Linux uses a different calling convention. Function arguments are passed in edi, esi, edx, ecx while Windows uses ecx, edx, r8, r9.

[2015-10-12 08:59] GSPP commented on #1741
Understood.

[2015-10-12 14:03] eerhardt commented on #1734
[ICU is available for use on Windows](http://site.icu-project.org/download/56#TOC-ICU4C-Download) for both 32 and 64 bit.

I'm not sure if @ellismg considered using ICU on Windows for CoreCLR, but I don't think the approach would be correct. It would create a new dependency on Windows, and some would consider the dependency needless, since culture data already exists on Windows.
Also, using the "d

[2015-10-12 14:24] #1091 closed

[2015-10-12 15:57] tarekgh commented on #1734
Right, we need to have the culture data consistent with the OS to avoid undesirable behaviors. also as mentioned we don't have to add more dependency when running on Windows.

in general I expect moving forward the data on Windows and data on ICU will converge and the differences will be very little.

[2015-10-12 16:37] mellinoe commented on #1734
That sounds good to me. I was just sort of playing "Devil's advocate", because the most obvious way to align behavior would just be to use the same library, and we hadn't mentioned that. It would also probably have bad implications for debugging Universal apps, or other Windows-only things, which would be using the Windows culture data.

[2015-10-12 16:59] jasonwilliams200OK commented on #1743
On which platform?
See https://github.com/dotnet/coreclr/tree/master/Documentation/building.
If you are using Unix-like OS, then apply https://github.com/dotnet/coreclr/pull/1601 before following the instructions. You may also find some info in this guide useful: https://gist.github.com/jasonwilliams200OK/06db121ec534821fe541.

[2015-10-12 17:13] cheers00 commented on #1743
Windows platform. Thanks for the pointers.

[2015-10-12 17:18] jasonwilliams200OK commented on #1743
[code]

[2015-10-12 17:26] nguerrera commented on #1367
There's a good discussion about Assembly.Location in dotnet/corefx#2221. Closing this since we should discuss API changes on corefx.

[2015-10-12 17:26] #1367 closed

[2015-10-12 18:14] ellismg commented on #1743
I am surprised we are not publishing symbols for our official releases to the Microsoft Symbol Server.  @weshaggard is this expected?

[2015-10-12 18:21] jasonwilliams200OK commented on #1743
@cheers00, one more thing; if you don't wana build it yourself, you can download the build artifacts from CI server (which includes all exes, dlls and PDBs): http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/debug_windows_nt/lastSuccessfulBuild/artifact/

[2015-10-12 18:59] ShawnSteele commented on #1734
Not a lot to add, but you might want to look at http://blogs.msdn.com/b/shawnste/archive/2015/08/28/locale-culture-data-churn.aspx
Tests like these are perhaps interesting for a point in time, however the results aren't great for applications to take a dependency on.  This kind of information shifts over time (and, as noted here, between platforms and versions of platforms)

[2015-10-12 20:21] cheers00 commented on #1743
@jasonwilliams200OK Thanks.

My custom build did work but it is too slow. In the document it says that crossgen won't work until the Issue #227 is resolved. My next step was to try corefx debug dlls but now, I will try to get bits from your link.

Thanks

[2015-10-12 20:47] kouvel commented on #1708
Partially fixed by dotnet/coreclr#1746. Here are my numbers in iterations per second, where each iteration consists of 10,000 calls:
- Allocation and non-inlined constructor (Windows): 10047
- Allocation and non-inlined constructor (Linux): 1277 (baseline), 4442 (fixed)

Leaving the issue open since there is still a considerable gap.

[2015-10-12 20:55] gkhanna79 opened #1748 "Add build-time check for LTTng presence"
Please check for presence of LTTng at build time and if missing, error out in the build with pointer to the wiki link describing the steps need to be taken to install it.

[2015-10-12 21:07] kouvel commented on #1708
The inlining itself doesn't seem to make any difference for me, just the allocation part. Case 3 above is also performing similarly to above.

[2015-10-12 22:19] ramarag opened #1750 "Enable ETW::CodeSymbolLog::EmitCodeSymbols for XPlat"
I have disabled ETW::CodeSymbolLog::EmitCodeSymbols, as it uses windows specific functions.
This was introduced as part of
https://github.com/dotnet/coreclr/commit/39b1ec64c8a771c736dda297c1a4f601b052767d

@sergiy-k : This work was done by kshama pawar, can you route this issue accordingly

[2015-10-12 22:54] gkhanna79 commented on #1742
@janvorli i am assigning this to you since the related issue (5870) is being looked into by you.

[2015-10-13 00:01] kichalla opened #1752 "Exception when using Normalize method in Linux"
When I execute the following piece of code (as part of a Dnx console app) in my linux machine, I get the following error...any ideas?

[code]

Exception
[code]

My dnx project dependencies:
[code]

@haok

[2015-10-13 05:27] #1748 closed

[2015-10-13 12:21] GSPP opened #1754 "Use a more dependable policy for thread pool thread injection"
Reopening [this ticket](https://github.com/dotnet/corefx/issues/2329) here per the suggestion of ericeil.

As of .NET 4.5 the thread pool injects one thread per 0.5sec if it thinks more threads are required. This is a problem if the number of required threads suddenly increases. Example: A corporate ASP.NET website is idle at night. In the morning at 8AM 1000 people log on and start working. If th

[2015-10-13 12:22] GSPP commented on #1754
@stephentoub @ericeil pinging you.

[2015-10-13 13:25] janvorli commented on #1713
@mellinoe could you please close this issue if it already works ok for you?

[2015-10-13 13:26] janvorli commented on #1682
Fixed by #1749

[2015-10-13 13:26] #1682 closed

[2015-10-13 14:58] janvorli commented on #1602
Fixed by #1738

[2015-10-13 14:58] #1602 closed

[2015-10-13 15:55] weshaggard commented on #1743
Yes my expectation is that these builds should have symbols on the Microsoft public symbol server. @noahfalk would know more about how that works.

[2015-10-13 17:03] kichalla commented on #1752
cc @dougbu @davidfowl

[2015-10-13 17:18] kichalla commented on #1752
cc @anurse

[2015-10-13 17:37] dougbu commented on #1752
FYI this is likely a DNX issue that @anurse has just fixed. Will close once we're able to confirm the problem goes away with the latest DNX bits.

[2015-10-13 17:41] benaadams commented on #1611
There are a lot of applications: real-time systems, game servers, microservices, embedded systems, etc... where pre-allocated arrays will be the general collection choice; ```System.Numerics.Vectors``` will be the preferred "always include" library and even allocating memory after startup is strenuously avoided.

With the introduction of SIMD, coreclr and x-plat there are now a whole new class of

[2015-10-13 18:03] mj1856 opened #1757 "DateTime.ParseExact can't roundtrip 'r' or 'u' formats"
Consider:

[code]

One would expect the resulting value to have `DateTimeKind.Utc`.  The input is unambiguously GMT, and the `DateTimeStyles.RoundtripKind` flag was passed.

Indeed, if you use `DateTimeParse` instead, it gives the correct result.
[code]

`DateTimeOffset` doesn't have this issue either, with either the `Parse` or `ParseExact` methods.

There's a very specific comment [here in the s

[2015-10-13 18:41] jakesays commented on #1611
@benaadams you couldn't be more wrong on many levels. While Linq is not a 'coreclr' feature, it certainly is a core feature of the .net platform. You need to start looking at things from a practical use perspective (in other words, from how the platform is actually being used) and not from a purely technical standpoint. The use cases you site (real time systems, game servers, embedded systems, etc

[2015-10-13 19:50] weshaggard commented on #1611
Thanks for all the discussion on this issue but there isn't anything actionable here at this point so I'm closing the issue.

[2015-10-13 19:50] #1611 closed

[2015-10-13 19:56] jakesays commented on #1611
I'm not exactly sure what you mean by nothing actionable. Are you saying "hey thanks for the discussion, but it ain't going to happen?"

Or are you saying "It's not actionable because I didn't understand the issue?"

[2015-10-13 20:02] benaadams commented on #1611
@jakesays my point was you just need to add a line to your project.json or add a nuget package, if its not already pre-added; which isn't very hard. If its baked into the runtime, you cannot take it out; as well as forcing to be in lock-step with the runtime releases as pointed out previously.

[2015-10-13 20:08] jakesays commented on #1611
@benaadams we're not talking about thousands of lines of oft changing code here. The collection API is very stable, and again, you're optimizing for very rare use-cases. I would rather see the very small fraction of users use a build tailored for their environment than saddle the majority with additional maintenance/configuration burden. Maintaining configuration files is actually a lot of work in

[2015-10-13 20:09] LLITCHEV opened #1760 "Perf work around System V classification implementation."
Measure and analyze the overhead of calling System V classification eeGetSystemVAmd64PassStructInRegisterDescriptor function and whether caching (in the VM or in the Jit) is required.

[2015-10-13 20:21] ellismg commented on #1734
For folks like @mviorno that need consistent data across platforms, it seems like the correct long term direction is for someone to spend time investing in the following:

1. The ability to build a version of System.Globalization.Native that statically links against ICU.
2. The ability to use System.Globalization.Native on Windows, instead of Win32.

I don't think there are technical reasons preve

[2015-10-13 20:21] #1734 closed

[2015-10-13 20:23] weshaggard commented on #1611
@jakesays I'm saying it is isn't actionable because we don't intend to merge the standalone System.Collections.Generic library into mscorlib which is what appears to be the main ask here.

[2015-10-13 20:56] weshaggard commented on #1757
cc @tarekgh @ellismg

[2015-10-13 21:31] tarekgh commented on #1757
@mj1856 Note that any fixes here will eventually go to the desktop and the compatibility will still hold. we may consider fixing this in the desktop by having a quirk so we mitigate the app compat. from reading, we have to be careful touching the parsing code too because the regression risk in this area is really high. so this will need to be tested if we really need to fix.

[2015-10-14 10:26] bartdesmet opened #1764 "DynamicILGenerator does not support BeginFaultBlock and BeginExceptFilterBlock"
When emitting an Expression.TryFault to a dynamic method via the LambdaExpression.Compile method, this barfs with a NotSupportedException from BeginFaultBlock. It's unclear why this limitation exists; the code doesn't have a comment as to why it's not supported either.

This limitation makes this expression node type fairly useless especially when one can't emit to a MethodBuilder for an assembly

[2015-10-14 18:44] chris-downs opened #1765 "linux-instructions missing ssl dependencies for corefx portion"
I followed /Documentation/building/linux-instructions.md on Ubuntu 15.04 and failed while running corefx/build.sh due to these missing dependencies:

libcurl4-openssl-dev
libssl-dev

This occurred while performing the steps in the "Build the Framework Native Components" section.

It might be helpful to add those to the apt-get prerequisites at the top of the page. The build was successful after I

[2015-10-14 18:54] adityamandaleeka commented on #1641
Having looked at this, it appears that `GCProfileWalkHeapWorker` has enough implicit dependencies on `PROFILING_SUPPORTED` that it makes sense to wait to enable this until the work to turn on `PROFILING_SUPPORTED` is complete.

Selectively enabling some things that are currently under `PROFILING_SUPPORTED` will require carefully untangling several functions and global state variables, and will com

[2015-10-14 21:47] jazzdelightsme opened #1767 "Expose ICustomMarshaler"
The ICustomMarshaler machinery exists in mscorlib, but the actual interface has been marked internal. Let's make it public so that people can use it.

[2015-10-14 22:29] jasonwilliams200OK commented on #1765
Just wondering, will only adding `curl` to the list of `apt-get` suffice?

[2015-10-15 03:17] chris-downs commented on #1765
It doesn't look like curl provides either of those, they're more related to openssl. However, libcurl4-openssl-dev provides libssl-dev if you want to reduce the number of dependencies listed.

[2015-10-15 04:22] anurse opened #1771 "CoreConsole fails in cmd when run via PATH search"
CoreConsole appears to use `argv[0]` to determine it's location, which causes problems when a CoreConsole-based app is on the `PATH` and is run from `cmd`.

Repro steps:

1. Create a simple C# app (just something that prints hello world will work, or use an existing test app)
2. Compile it against a CoreCLR mscorlib and assemble a CoreConsole-based app so that you have a single-folder standalone a

[2015-10-15 05:04] jasonwilliams200OK commented on #1765
Seems like this is already addressed by this pending PR: https://github.com/dotnet/coreclr/pull/1601/.

[2015-10-15 05:05] anurse commented on #1771
It appears [`_get_wpgmptr`](https://msdn.microsoft.com/en-us/library/z2zbk054.aspx) might be a little simpler to use since it doesn't require allocating a buffer, so we can just replace the existing use of `argv[0]` with that.

[2015-10-15 13:18] NickCraver commented on #1475
@leecow did this make it into October? If so, what was the KB#? It's not standing out to me on the list: http://blogs.msdn.com/b/winsdk/archive/2015/10/14/windows-hotfixes-for-october-2015.aspx

[2015-10-15 14:21] #1771 closed

[2015-10-15 16:08] janvorli opened #1774 "unix coreconsole fails in when run via PATH search"
CoreConsole uses argv[0] to determine it's location, which causes problems when a coreconsole-based app is on the PATH and is run from shell.

Repro steps:

Create a simple C# app (just something that prints hello world will work, or use an existing test app)
Compile it assemble a coreconsole-based app so that you have a single-folder standalone application
Put that folder on the PATH environment

[2015-10-15 16:29] janvorli commented on #1774
It looks like on Linuxes, we can get the full path by calling readlink function with "/proc/self/exe" and on FreeBSD readlink function with "/proc/curproc/file".
For OSX, there seems to be proc_pidpath function that can get a path for a pid.

[2015-10-15 16:33] stephentoub commented on #1774
Yeah, that's what we do in System.Diagnostics.Process in corefx on Linux and OS X:
https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/Process.Linux.cs#L184
and
https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.Process/src/System/Diagnostics/Process.OSX.cs#L180

[2015-10-15 18:01] JeremyKuhne opened #1776 "Runtime needs to support long paths on Windows without extended syntax"
The Windows APIs are used as the abstraction for the PAL. Need to set up wrappers so that we can shim in the extended path syntax where necessary.

[2015-10-15 23:24] drbo commented on #1034
Just because mscorelib is near CoreCLR does not mean that the two need to be in the same relative location every time.  Also, mscorelib is mostly verifiable managed code.

[2015-10-15 23:35] drbo commented on #555
Also I would suggest filing feature requests with the Linux and *BSD kernel teams.

[2015-10-15 23:39] drbo commented on #1709
F# probably needs this feature more than C# or VB.NET ever will.  I hope that it is implemented.

[2015-10-15 23:55] drbo commented on #1519
I believe that this is still undefined behavior per the C++ standard, and that GCC and Clang will consider this code as having undefined behavior.  GCC can be given the flag `-fno-delete-null-pointer-checks` but Clang cannot, so this code must be fixed, as must all the other undefined behaviors in <a>http://www.viva64.com/en/b/0310/#ID0E5BJM</a>.

[2015-10-16 00:55] mikem8361 opened #1782 "Unhandled managed exceptions don't generate core dump"
Core dumps are not generated currently because "exit()" (via ExitProcess) is used to terminate the process instead of "abort()" (TerminateProcess) in the HandleFatalError path.

[2015-10-16 01:59] ygc369 commented on #555
@drbo
Does Windows OS have this feature already?

[2015-10-16 02:12] ygc369 opened #1784 "CLR/JIT should optimize "alloc temporary small object" to "alloc on stack" automatically"
If a small object's reference is never stored in heap or static variables, (only stored in local variables), it is temporary, the CLR or JIT should alloc it on stack and free it in time. Thus, GC pressure would be lower. This feature is just like escape analysis technique in JVM.
I've suggested this in Roslyn forum(https://github.com/dotnet/roslyn/issues/2104), but they said I should suggest here.

[2015-10-16 02:34] ygc369 commented on #772
any progress?

[2015-10-16 02:43] ygc369 commented on #741
This feature is too complex, I give up.

[2015-10-16 02:43] #741 closed

[2015-10-16 03:37] cmckinsey commented on #1784
Thanks, this is something the team is aware of and discussed. A specific example in a real-world workload that you can share would help us prioritize this request. We already have synthetic examples.

[2015-10-16 07:19] zpodlovics commented on #1784
You may be also interested with the following proposal and prototype implementation project: Stackalloc for reference types with Roslyn and CoreCLR [1] [2]

It introduce a generalized stackalloc with a transient variable modififer to solve the problem.
[code]

[1] http://xoofx.com/blog/2015/10/08/stackalloc-for-class-with-roslyn-and-coreclr/
[2] https://github.com/xoofx/StackAllocForClass

[2015-10-16 09:00] mikedn commented on #1784
@cmckinsey

This might be a chicken and egg situation. If the optimization doesn't exist people will try to twist the code to avoid allocations (see for example [params support for IEnumerable<T>](https://github.com/dotnet/roslyn/issues/36)) and as a result there will be fewer optimization opportunities. On the other hand if the optimization exists then perhaps people will concentrate more on actu

[2015-10-16 10:09] ayende commented on #772
This is how you can do this:

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/Common/PinnableBufferCache.cs#L481

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Fri, Oct 16, 2015 at 5:34 AM, ygc369 <notifications@github.com> wrote:

[2015-10-16 18:21] masonwheeler commented on #1698
This should be closed as As Designed.  See my comments on #1780 for the rationale. (TLDR: doing this or anything like it opens up a DLL Injection security hole.)

What needs to be done instead is to expand upon (or possibly replace) `DllImport` with some mechanism that lets the coder explicitly specify the correct import names for multiple platforms, whereas `DllImport` currently only supports a s

[2015-10-16 18:31] OtherCrashOverride commented on #1784
You will need the same constraints that ValueTypes have so you may as well use a struct instead of a class.  For example, you can not have class finalizers.  The only difference I see is that the compiler is calling a ctor for you instead of having to call MyStruct.Initialize(); yourself.

[2015-10-16 21:34] mikem8361 commented on #1201
@mholo65 did this fix your problem?  I would like to close this issue.

[2015-10-16 21:38] mikem8361 opened #1787 "Implement out of context unwinding for OSX"
The DAC needs out of context/process stack unwinding for the special method helper frame.  This is implemented for Linux distributions that has the libunwind-ptrace support and not for OSX.

For OSX (and probably for the other Linux distributions), we need to implement a mach-o format reader  to get the stack unwind info. This is will take from 5-8 days.

[2015-10-17 00:21] cmckinsey commented on #1784
@mikedn I don't disagree, but we need some way to help assess priority as we have other opportunities were we can also improve code-quality and this would help to prioritize. We have prototyped this kind of transformation in other experimental systems. Because of the challenges in the compiler automatically finding legal opportunities, which is even more challenging in JIT environments, my experie

[2015-10-17 00:50] gkhanna79 commented on #1787
@noahfalk @cshung

[2015-10-17 00:52] gkhanna79 commented on #1782
@cshung - We should see how this can be aligned with WER work that is done in EEPolicy::LogFatalError

[2015-10-17 06:23] mholo65 commented on #1201
Yes original issue is fixed, or at least unable to reproduce with new API. You may close this issue. Thanks for your help!

[2015-10-17 08:02] StevenLiekens opened #1791 "Overload String.ToCharArray for existing arrays"
There is no overload of `String.ToCharArray()` that copies characters to an existing array. I believe there should be.

[code]

[2015-10-17 08:08] davidfowl commented on #1774
It would be great if we could fix this ASAP :smile:

[2015-10-17 08:14] mikedn commented on #1791
Such a method already exists, it's called [CopyTo](https://msdn.microsoft.com/en-us/library/system.string.copyto(v=vs.110).aspx).

[2015-10-17 08:14] StevenLiekens commented on #1791
Oops. My Bad. :)

[2015-10-17 08:14] #1791 closed

[2015-10-17 14:25] ygc369 opened #1792 "Please provide two features to realize "copy-on-write""
If some "half-immutable" objects can copy on write, a lot of memory would be saved.
To realize this, two features are needed.
(1)  I need to get the reference count (rc) of an object to decide whether to copy. If rc is one, there's no need to copy, modifying the object directly is safe. If rc is more than one, we have to copy the object first, and then modify the new object. (all above is what "ha

[2015-10-17 16:05] svick commented on #1792
Do you have any ideas about how this could be implemented efficiently? I can't think of anything better than performing a garbage collection every time you call `RC.get()`, which I think would eliminate any performance gains from making your objects "half-immutable" instead of fully immutable.

Have you considered a design similar to immutable collections instead? There, objects are mutable at fir

[2015-10-17 16:57] jkotas commented on #1787
cc @smosier you may be interested in this

[2015-10-17 18:10] #1201 closed

[2015-10-18 00:44] ygc369 commented on #1792
@svick
There's no need to perform GC every time "RC.get()" called. A hidden field "reference_count" should be put into this kind of class, and JIT/CLR should maintain it automatically.
There's another usage of reference count. If a class with rc has finalizer, then the finalizer should be called immediately and automatically when rc becomes zero. Thus, GC would be accelerated.

[2015-10-18 02:12] OtherCrashOverride commented on #1792
This will not work as there is currently not a way to decrement the reference count when a variable simply goes out of scope rather than being assigned null.
[code]

[2015-10-18 08:59] ygc369 commented on #1792
@OtherCrashOverride
JIT/CLR should know when a variable goes out of scope, so the reference count can be updated. This feature need CLR's help.

[2015-10-18 13:18] OtherCrashOverride commented on #1792
Scope is a compiler/language concept.  The compiler must insert calls to an object's dtor when it sees a variable go out of scope.  This does not happen in C#.  Instead, the GC tracks objects "liveness" during collections in a non-deterministic way.  Only after a GC cycle will a reference count be known.

To make this work with C#, CoreCLR, Roslyn and the C# language will need to be modified. A re

[2015-10-18 20:49] sergiy-k opened #1794 "Verify that EH registration for non-clr threads works on OSX"
We need to verify that threads that have not been created by CoreCLR PAL can handle hardware exception on OSX.

[2015-10-18 20:55] sergiy-k opened #1795 "Removing suspend/resume (and the associated PAL cleanup)"
SuspendThread and ResumeThread are no longer used by CoreCLR on Unix platforms. We should remove all related functionality from PAL.

[2015-10-18 21:00] mikedn commented on #1792
This looks like a race condition. What stops another thread from incrementing the ref count after you determined that the ref count is 1?

What exactly is the meaning of `this = new test();`?

Apparently you're suggesting that `this` should be passed by ref instead of by value. Leaving aside the inherent issues associated with making such a change in an established runtime and language, what makes

[2015-10-18 21:01] sergiy-k opened #1796 "Improve performance of the UTF8ToUnicode and UnicodeToUTF8 functions in PAL"

[2015-10-19 01:24] ygc369 commented on #1792
@mikedn
The Compiler and CLR shouldn't allow objects with rc accessed by multi-threads.
A new grammar should be created to obviously pass "this" by ref instead of by value.
for example:
c..add(1); //use ".." instead of "." to announce that the reference of c may be changed after this call.

[2015-10-19 05:15] gkhanna79 commented on #1774
I am working on a fix - tested on Mac and need to test on Ubuntu.

[2015-10-19 06:44] ygc369 commented on #555
Is this feature very hard to realize?

[2015-10-19 06:47] ayende commented on #1792
That means a huge number of changes.
Or, you can have your own RC system, and rely on using() for them.

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Mon, Oct 19, 2015 at 4:24 AM, ygc369 <notifications@github.com> wrote:

[2015-10-19 07:15] davidfowl commented on #1774
:+1:

[2015-10-19 10:13] GSPP commented on #1619
I just ran a benchmark on HMACSHA512 and was surprised to discover that rotations consume a significant part of the time:

![sha512](https://cloud.githubusercontent.com/assets/12032350/10575048/31c2a1da-765a-11e5-855b-954076ac57a6.PNG)

Source code here: http://referencesource.microsoft.com/#mscorlib/system/security/cryptography/sha512managed.cs,6

The rotations should map to machine instructions

[2015-10-19 10:18] GSPP opened #1798 "Ensure inlining in cryptographic functions"
As discussed in [this comment](https://github.com/dotnet/coreclr/issues/1619#issuecomment-149174357) the inliner currently does not inline some performance critical code in the SHA512 algorithm. I'll reproduce the picture here:

![sha512](https://cloud.githubusercontent.com/assets/12032350/10575178/24419696-765b-11e5-9c7d-0dad6ca8ca0f.PNG)

RotateRight seems like a clear inlining candidate. The `s

[2015-10-19 10:52] svick commented on #1792
@ygc369 I thought being thread-safe is one of the major advantages of immutable types.

[2015-10-19 13:17] JonHanna commented on #1764
This is documented at https://msdn.microsoft.com/en-us/library/system.reflection.emit.ilgenerator.beginfaultblock%28v=vs.110%29.aspx but it would certainly be useful to improve upon, and I agree it isn't clear why this limitation is here, on first glance at least.

[2015-10-19 13:42] JonHanna commented on #1764
The same thing is true of `BeginExceptFilterBlock()`.

[2015-10-19 14:38] mikedn commented on #1792
This raises more questions than it answers. How can it be implemented? Is this feature still useful/usable/efficient after such a constraint is applied?

Part of the problem is that you're trying to use reference counting for something that it wasn't really designed for. In typical reference counting implementations the reference count is irrelevant except when it drops to 0. Nobody cares if the r

[2015-10-19 14:48] CarolEidt commented on #1619
@GSPP - The JIT inlining heuristics are indeed rather conservative. @AndyAyersMS is looking into improving them; perhaps this would be an interesting case to look at. @erozenfeld - I think you might already be looking at this case, but it would be good to make sure that you catch this one in your implementation.

[2015-10-19 16:46] mikem8361 commented on #751
All the is left to finish this issue is to remove PAL_InitializeCoreCLR from the exported functions.

[2015-10-19 17:39] Matt-Esch commented on #1787
I came across this issue while looking for a solution to out of context unwinding on OSX for producing flame graphs. I came to the conclusion I would have to implement a mach-o based address space object and pass it to libunwind.

However this work has already been done for lldb on OSX so you might be able to adapt this to your needs:
https://github.com/llvm-mirror/libunwind/blob/master/src/libunw

[2015-10-19 17:59] mikem8361 commented on #1787
Thanks. I’m currently looking into the llvm libunwind.

[2015-10-19 18:22] GSPP commented on #1798
Since the JIT team seems to be interested in improving inlining decisions I thought I post an idea here.

As far as I'm aware the current JIT has a rather simple inlining heuristic. There is a size limit for the number of IL bytes. The limit is fixed. It should be variable. Start with the current limit of 32 bytes.

Increase the limit in the following cases:

* Callee has no control flow
* Callee

[2015-10-19 19:05] AndyAyersMS commented on #1798
Thanks for your ideas. We agree that there is room for improvement in inlining, and are preparing to start working on it in earnest.

I have a lot of thoughts on the overall approach to inlining that I will write up in longer form. Hope to have it out soon.

[2015-10-19 19:34] GSPP commented on #1798
@AndyAyersMS I just read your "LLILC at Six Months" post an I'm a huge fan of this kind of transparency. If you, or the JIT team in general, were to write a few lines from time to time about what's going on that would be very much appreciated!

[2015-10-19 20:09] jaredpar opened #1799 "CoreCLR should not handle SIGTERM"
Consider these two lines:

- https://github.com/dotnet/coreclr/blame/bc146608854d1db9cdbcc0b08029a87754e12b49/src/pal/src/thread/threadsusp.cpp#L1319
- https://github.com/dotnet/coreclr/blob/bc146608854d1db9cdbcc0b08029a87754e12b49/src/pal/src/thread/threadsusp.cpp#L1561

This means at least a portion of our threads will no longer respond to SIGTERM.  Which in turns means CoreCLR processes will no

[2015-10-19 21:16] KirillOsenkov opened #1801 "Fix typos in comments: recrusively, subtrack"
Search https://github.com/dotnet/coreclr source code for: 'recrusively', 'subtrack'.

These should be replaced by 'recursively', 'subtract'.

Thanks to Matt Martell for reporting these.

[2015-10-20 13:39] eriohl opened #1807 "Security-Transparent Code?"
I'm aware that CAS is pretty much dropped but what about [security transparent code](https://msdn.microsoft.com/en-us/library/dd233102(v=vs.110).aspx)? The attributes are all there (SecurityTransparent, SecurityCritical etc.) but CoreCLR doesn't seem to actually care about them. Is this something that is suppose to work in CoreCLR (now or in future)?

[2015-10-20 17:31] mellinoe commented on #1713
Sorry for the delay. I wasn't able to repro this again, so it must have been an issue with the test program I was using. After refreshing my builds, I wasn't able to get back to the state I was in where this was happening. Closing this out now.

[2015-10-20 17:31] #1713 closed

[2015-10-20 17:49] janvorli commented on #1742
@gafter I assume this issus can be closed now, right?

[2015-10-20 18:24] chcosta opened #1810 "Improve build reliability"
Our internal (VSO) CoreCLR builds fail intermittently (1 - 2 times a week) due to network issues.  We should look to add some retry logic to improve reliability and prevent the weekly build breaks we are seeing in our official builds.

Here is one example failure...
2015-10-20T17:41:22.355Z: Successfully installed 'Microsoft.Build.Mono.Debug 14.1.0.0-prerelease'.
2015-10-20T17:41:24.449Z:   Restor

[2015-10-20 18:24] chcosta commented on #1810
cc @joshfree

[2015-10-20 19:48] mikem8361 commented on #1782
@cshung, @gkhanna79 PR #1811 fixes this issue.

[2015-10-20 19:53] gafter commented on #1742
I don't think so. The root cause was a missing assembly, but the CLR reacted by simply crashing instead of diagnosing the problem.

[2015-10-20 21:00] janvorli commented on #1742
@gafter Oh, I've thought you've tested it with the latest CoreCLR. That problem should be fixed already. Would you be able to give it a try by removing the assembly locally and checking that it reports an exception instead? Or tell me how I can quickly test that myself?

[2015-10-20 21:20] mikem8361 commented on #1799
PR #1811 fixes this issue.

[2015-10-20 21:20] #1799 closed

[2015-10-20 21:21] mikem8361 commented on #1782
#1811 fixes this issue.

[2015-10-20 21:21] #1782 closed

[2015-10-20 22:07] adityamandaleeka opened #1814 "Add information about DllImport probing to BOTR"
This was brought up in #1780 by @OtherCrashOverride

We should add some documentation about the locations and names we attempt on each platform when probing for modules (and in what order) to the Book of the Runtime. This will be useful information for both coreclr developers and library developers.

[2015-10-20 22:18] mmitche commented on #1652
@AndyGerlicher I am seeing this more, and I am noticing a potential pattern:  When the TEMP dir has a very large amount of files (30k+), the frequency of this bug appears to increase.

[2015-10-20 23:07] gafter commented on #1742
@agocke Can you please help here?

[2015-10-20 23:11] agocke commented on #1742
Yes, the version in our CI produces an exception and message.

[2015-10-20 23:11] #1742 closed

[2015-10-20 23:43] gkhanna79 commented on #385
@tarekgh Can you please take a  look?

[2015-10-21 01:31] tarekgh commented on #385
I think this is a typo in the targets files and meant to be /reference and not /test. anyway will try to repro it and fix it.

[2015-10-21 04:36] weshaggard commented on #385
No the /test option is an option that is needed for the old native csc.exe compiler while building mscorlib.

The root issue here is that we don't have any good way to detect if we are compiling with Roslyn or not. The best I think we can do is to offer a workaround of setting "UseRosylnCompiler=true" for cases were the compiler is known to be Roslyn (i.e. VS 2015 or Roslyn extensions). I think a

[2015-10-21 04:37] weshaggard commented on #385
cc @AlexGhiondea it also looks like we are not settng the module name to CommonLanguageRuntimeLibrary when compiling with Roslyn. We should consider doing that.

[2015-10-21 04:40] weshaggard commented on #1810
cc @dagood something to consider along with your package feed work.

[2015-10-21 15:17] janvorli opened #1823 "Memory leak in the CorUnix::InternalCreateProcess"
This function leaks the lpFileName, it seems we will need to revert back to using an array on stack, since the function calls execve that never exits with the lpFileName as a parameter.

[2015-10-21 15:33] tzwlai commented on #471
We added this already.

CC @ellismg

[2015-10-21 15:33] #471 closed

[2015-10-21 16:02] tarekgh commented on #385
assigned the issue to @AlexGhiondea  as he has more context. also I couldn't get the issue repro even compiling with VS2013

[2015-10-21 17:03] redknightlois opened #1825 "BufferedStream should have a leaveOpen constructor"
Currently the BufferedStream class doesnt have such a constructor, while there are many others that are intended to be chained like GZipStream do have it.

[2015-10-21 17:17] joshfree commented on #1810
@dagood similarly package publishing to myget needs to be validated and break the release build when packages fail to publish.

[2015-10-21 17:30] gafter commented on #1712
@LLITCHEV: Can you please suggest who I should tag to get some commitment on this?

[2015-10-21 17:38] pgavlin commented on #711
Bumping this. I've noticed that on recent Fedora releases (FC22 at least) this causes extremely high CPU usage due to the audit failures triggering `setroubleshootd`.

[2015-10-21 17:41] pgavlin commented on #711
(Oh, and I should not that the extremely high CPU usage is something that triggers on all builds, not just debug builds)

[2015-10-21 18:02] LLITCHEV commented on #1712
@jkotas Jan, could you please help Neal with the right people to talk to. I assume that this will require changes in the VM. Not so much in the Jit, but maybe yes?

[2015-10-21 18:32] Snesha opened #1826 "Add String.Trim overloads that take a single char and string separator"
Complement String.Split additions for single char and string separator (https://github.com/dotnet/corefx/issues/1513).

Proposed new APIs
public string[] Trim(char);
public string[] Trim(string);

CC @ellismg - any others? Or will these cover the complement?

[2015-10-21 19:02] jkotas commented on #1712
cc @gkhanna79 This is type system issue.

I do not think that it is a simple bug fix. We would need a new overload of Combine method that takes the type of the combined delegate as an argument.

Consider this case - there is no way for the existing Combine method to figure out that the result type should be `Func<IFace, object>`:

[code]

[2015-10-21 19:28] gafter commented on #1712
The C# compiler team will be happy to use whatever API you need to add.

[2015-10-21 20:01] #1823 closed

[2015-10-21 20:15] dagood commented on #1810
@weshaggard Yeah, I think it would make sense to introduce at least some simple retries while modifying restore code. I'll track that.

@joshfree Definitely, I'm working towards that now. (I saw your note in the other thread too, just didn't get a chance to respond until now.) The issue right now is that the build has no knowledge of its packages being published: they're picked up by a run on VSO

[2015-10-21 20:47] LLITCHEV commented on #200
Implementation PRed.
Implementation of System V ABI struct passing. #1806

[2015-10-21 20:47] #200 closed

[2015-10-21 23:49] adityamandaleeka commented on #1647
This has been fixed with https://github.com/dotnet/coreclr/commit/38787b0d6802eb6138b9ea1653d6fa8ed8063a42

[2015-10-21 23:49] #1647 closed

[2015-10-21 23:51] adityamandaleeka commented on #1698
This problem was fixed (and discussed further) in #1780. Closing this issue.

[2015-10-21 23:51] #1698 closed

[2015-10-22 02:05] erozenfeld commented on #1619
@redknightlois I created a PR for this: #1830.

The speed-up on a simple benchmark with 4 rotations in a tight loop was 2.8.

Rotations were found and optimized in the following methods in mscorlib:
 System.Security.Cryptography.SHA256Managed::RotateRight
 System.Security.Cryptography.SHA384Managed::RotateRight
 System.Security.Cryptography.SHA512Managed::RotateRight
 System.Security.Cryptography.

[2015-10-22 02:24] stephentoub opened #1831 "NullReferenceException on Linux with nullable unboxing"
Here's a minimal repro:
[code]
On Windows this runs without error.  On Linux this throws a NullReferenceException.

This is a very simplified version of code failing in some of the corefx System.Linq.Expressions tests.

cc: @LLITCHEV, @janvorli, @bartdesmet, @VSadov

[2015-10-22 03:48] stephentoub opened #1835 "Argument corruption with doubles, boxing, and reflection"
Here's a repro:
[code]
On Windows this prints out "2, 3" as you'd expect.  On Linux it prints out "2, 6.91499746298174E-310".

This is also a very simplified repro of some new System.Linq.Expressions tests that are failing in corefx.

cc: @LLITCHEV, @janvorli, @bartdesmet, @VSadov

[2015-10-22 07:12] gkhanna79 commented on #1321
Environment.FailFast should result in Core dump generation. Is that not happening?

[2015-10-22 12:49] davidfowl opened #1836 "corerun prints nothing when there's a managed exception at the entrypoint (on OSX)"
[code]

Try that, and it will noop. This was on OSX, I'm not sure what happens on windows.

I assume coreconsole has the same behavior.

/cc @jkotas @gkhanna79 @janvorli

[2015-10-22 13:01] stephentoub opened #1837 "LTTng warnings in corefx CI runs"
We're seeing a ton of warnings now like this in our corefx CI runs and it's actually breaking some of our tests:

libust[14499/14499]: Warning: HOME environment variable not set. Disabling LTTng-UST per-user tracing. (in setup_local_apps() at lttng-ust-comm.c:305)

What can be done to silence it? This is an issue for more than just our tests: apps shouldn't have to see such a warning message (and

[2015-10-22 13:41] stephentoub commented on #1836
FYI, on Linux I see this:
[code]

[2015-10-22 13:47] stephentoub commented on #1321
I get core dumps both for unhandled exceptions that crash the app and for Environment.FailFast, though the defaults on my system mean I need to use something like ```ulimit -c unlimited``` or else they won't be generated.

I assume @ayende though is asking for the ability to generate a dump without crashing the proces, ala "Create dump file" with Task Manager on Windows.

[2015-10-22 14:06] stephentoub commented on #1837
(Note that if I go to the script console for one of our CI machines and execute ```println System.getenv("HOME")```, it does come back as ```null```.)

[2015-10-22 14:53] janvorli commented on #1835
I'll look into it. Thanks for the tiny repro, Steve.

[2015-10-22 14:57] mmitche opened #1838 "Remove usage of CodeTaskFactory"
We need to remove the usage of CodeTaskFactory if possible.  This should be replaced with a download of nuget.exe in the initial build script if possible.  The inline C# code used to download nuget is the source of many failed builds
/cc @weshaggard @gkhanna79

[2015-10-22 15:05] VSadov commented on #1831
Nullables are special. Boxing nullable default value results in  null. And the other way - unboxing  null results in a nullable default.
Unboxing to nullable should never throw NRE

[2015-10-22 15:10] VSadov commented on #1831
Also check the unbox opcode.
It is trickier than unbox.any. Where nullable unbox.any on null needs to just push a default nub value, unbox needs to conjure up a nub variable holding a default value and push a reference to that.

[2015-10-22 15:10] gkhanna79 commented on #1837
cc @ramarag

[2015-10-22 15:14] gkhanna79 commented on #1837
Here is an example of similar issues others have faced - http://tracker.ceph.com/issues/13470

@brianrob - is this due to PAL initialization of the LTTng SO?

[2015-10-22 15:43] brianrob commented on #1837
I am looking into this.

@stephentoub, are you seeing this on all flavors of Linux that we run in the CI or just a particular flavor?

[2015-10-22 15:44] stephentoub commented on #1837
Thanks, Brian.  We only run our corefx tests on Ubuntu 14.04 as part of PRs right now, so that's the only place I've noticed it.

[2015-10-22 15:46] stephentoub commented on #1837
For reference, here's an example log, with the warning appearing 243 times:
http://dotnet-ci.cloudapp.net/job/dotnet_corefx_linux_debug_tst_prtest/3741/console

[2015-10-22 15:48] brianrob commented on #1837
Ok, thanks.  Let me do some more research on this.  It appears to be debug logging that should be off by default unless the package is compiled with debug flags.  It's possible that the package was compiled with debug flags - I'm going to try and find out.

[2015-10-22 16:16] mmitche commented on #1837
I wonder if the lack of HOME might be related to the fact that these are non-interactive sessions on Linux.  For instance if I log on to that machine, it has a HOME env var.

[2015-10-22 18:30] jkotas commented on #159
https://github.com/aspnet/ have added support for crossgen a while ago.

[2015-10-22 18:30] #159 closed

[2015-10-22 18:43] JeremyKuhne opened #1842 "StringBuilder should pin during P/Invoking when it has only one chunk"
As it stands right now, getting a string out of a P/Invoke with StringBuilder requires 4 allocations:
1. Create a new SB with the needed capacity and it does a new char[capacity] {1}
2. On the way to native a new native buffer is created {2} and data is copied if marked as [In]
3. On the way back from native it will call ReplaceBufferInternal, allocating a new char[capacity] {3} and copy the conte

[2015-10-22 18:43] JeremyKuhne commented on #1842
@stephentoub, @vancem

[2015-10-22 18:46] sergiy-k commented on #1836
@davidfowl, I have just tried your repro code on the latest build of coreclr on OSX and I see the same output that @stephentoub got on Linux (i.e. the correct one). What is the sync point of the libcoreclr that you are using? A few days ago there was large change that was incorrectly merged and removed the top level exception handler. It has been fixed already.

[2015-10-22 18:47] stephentoub commented on #1842
Such pinning could certainly help when marshaing with Unicode (at least to eliminate (2) and (3) in your list).  When marshaling with Ansi, there are still improvements that could be made, e.g. (3) in your list could be replaced by a copy/encode into the original buffer in the SB if it'll fit.

[2015-10-22 18:51] stephentoub commented on #1831
I should note that the codeI provided only repros when compiled with /o+.  If compiled instead with /o-, it doesn't repro.  Here's the IL generated for F() with optimizations:
[code]
and without:
[code]

[2015-10-22 18:52] JeremyKuhne opened #1843 "StringBuilder should allow copying directly into other StringBuilders"
If you're juggling more than one buffer/builder there isn't an optimal way to move data between them.

Append/Insert/Replace and the constructor should be able to take another StringBuilder to avoid unnecessary allocation of strings/char arrays.

One concrete example is normalizing paths on Windows- it is a potentially two stage process of GetFullPathName and GetLongPathName. Many times the input

[2015-10-22 18:52] JeremyKuhne commented on #1843
@vancem, @stephentoub

[2015-10-22 19:03] JeremyKuhne opened #1844 "StringBuilder should allow direct comparison with Strings."
Equals(string), StartsWith(string), SubStringEquals(string) would allow optimizing usage as a buffer.

Most important is checking for equality with a string to allow a quick check to avoid allocating another string that you already have. This is common when calling native methods to process an input string. (GetFullPathName on Windows is one example.)

[2015-10-22 19:10] JeremyKuhne commented on #1842
Note that marshalling is done with ILWSTRBufferMarshaller and ILCSTRBufferMarshaller.

https://github.com/dotnet/coreclr/blob/bc146608854d1db9cdbcc0b08029a87754e12b49/src/vm/ilmarshalers.cpp#L511

[2015-10-22 19:15] JeremyKuhne opened #1845 "Consider using a buffer cache with P/Invoke"
When allocating native buffers for P/Invoke we should consider pulling from a cache.

In the scenario of calling I/O related methods many thousands of calls can be made in quick succession which currently can cause a ton of native alloc/free calls.

[2015-10-22 19:16] JeremyKuhne commented on #1845
@stephentoub, @vancem

[2015-10-22 19:20] JeremyKuhne opened #1846 "Use HeapAlloc instead of LocalAlloc on Windows"
LocalAlloc is depreciated
https://msdn.microsoft.com/en-us/library/windows/desktop/aa366723(v=vs.85).aspx

If we're not using the LMEM_MOVEABLE flag it appears that the overhead isn't too great, but it still does have some. We should consider flipping to Heap\* from Local*.

[2015-10-22 19:22] JeremyKuhne commented on #1846
@vancem, @jkotas, @stephentoub

[2015-10-22 19:33] davidfowl commented on #1836
Ok then I have an old crusty build.

[2015-10-22 19:55] jkotas commented on #1846
LocalAlloc is used in ~2 places, neither of them is on a hot path. This issue is nice-to-have code cleanup - it won't make visible difference.

[2015-10-22 20:20] stephentoub commented on #1846
@jkotas, doesn't the public Marshal.AllocHGlobal (along with the corresponding StringTo methods) use LocalAlloc?  I'm not sure it would have a measurable impact, but AllocHGlobal is used in many places.

[2015-10-22 20:34] IanFoote opened #1847 "Setting up CoreCLR and CoreFX on Ubuntu 14.04"
I'm trying to get CoreCLR and CoreFX up and running on an Ubuntu 14.04 machine.

Everything seems to have built correctly, but when I try to run a program with it, I get the following error:

These are the steps I used to set everything up:

1) Set up toolchain:

[code]

2) Set up repos:

[code]

3) Install Mono:

[code]

4) Build CoreCLR:

[code]

5) Set up directory for runtime and copy files

[

[2015-10-22 20:42] #1836 closed

[2015-10-22 20:47] rambocoder commented on #1847
Try ``./corerun HelloWorld.exe linux``

[2015-10-22 20:59] jkotas commented on #1846
You are right - it is used by AllocHGlobal.

[2015-10-22 21:01] #456 closed

[2015-10-22 21:28] anurse commented on #1836
What build is this? I'm still seeing it using the runtime in the NuGet package `Microsoft.NETCore.Runtime 1.0.1-beta-23420`

Program.cs:

[code]

Output:
[code]

The exit code is 6 and nothing is written...

[2015-10-22 21:30] anurse commented on #1836
Looks like maybe it hasn't made the NuGet feed? The latest build from dotnet-ci exhibits the **correct** behavior:

[code]

[2015-10-22 21:39] IanFoote commented on #1847
I tried that... no change whatsoever.

On Thu, Oct 22, 2015 at 1:48 PM, rambocoder <notifications@github.com>
wrote:

[2015-10-22 22:04] janvorli commented on #1847
You are missing System.Globalization.Native.so in the folder where you have managed assemblies, libcoreclr.so, etc.

[2015-10-22 22:15] mellinoe commented on #1838
Can we just require that NuGet.exe be on your PATH, or on your machine in some well-known location that we probe? We already require a lot of other things be installed without trying to download them, so I'm wondering if there's something about NuGet.exe that makes it special other than the fact that it's a standalone executable (and therefore easily downloadable).

How will you build using msbuil

[2015-10-22 22:17] mmitche commented on #1838
msbuild could do that, or we could invoke it in build.cmd/sh beforehand.

[2015-10-22 22:20] IanFoote commented on #1847
Thank you.  I am now seeing the "Hello, Linux..." output as expected, although the demo application is still crashing with the following error:

./corerun HelloWorld.exe linux
Hello, Linux...

Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e' or one of its dependencies. The system c

[2015-10-22 22:37] #1619 closed

[2015-10-22 23:00] akoeplinger commented on #1838
Downloading nuget.exe in build.cmd sounds like a good approach to me, it's already done in [build.sh](https://github.com/dotnet/coreclr/blob/429bb1cecd6208b6334c73eae7e48442951d2c5d/build.sh#L128)

[2015-10-22 23:05] brianrob commented on #1837
It looks like the issue is that the Ubuntu package for LTTng-UST is compiled with debug logging always on.  This message just happens to be shown because there is no HOME environment variable.

I'm going to follow-up on this with the LTTng maintainers, but in the meantime, we can unblock ourselves by setting the LTTNG_HOME environment variable.  I've already done with with guidance from @mmitche,

[2015-10-23 00:09] iskiselev opened #1853 "Delegate for Generic Interface methods"
For instance method in .Net is possible to create delegate that will capture this or where this will be passed as first argument.
Second option doesn't work if instance method is generic method from interface. Here is a test case:
[code]

Here is a test case that demonstrate that it is working for any other method:
[code]

[2015-10-23 00:42] ellismg commented on #1838
@mmitche Are you sure about the nuget.exe download being the problematic task?  When I was looking at some of the failed builds, it seemed like there was also an inline task in the official build targets that used C# code to set some environment variables (this was in the C++ Code Analysis targets).  Or maybe we are hitting this in both places?

[2015-10-23 00:44] ellismg commented on #1838
For example, the failure here does not seem to be related to NuGet.exe downloading: http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/debug_windows_nt_prtest/332/consoleFull#111985390379494335-f7bd-47d0-8771-8661e00c2db2

[2015-10-23 01:05] ellismg commented on #1826
I would not do Trim(string) (it's not clear to me what the semantics are) and do TrimEnd(char) and TrimStart(char) instead.  It feels like all three methods could use a common core.

[2015-10-23 02:08] ygc369 opened #1855 "In some cases, the generation of living objects after GC should not be increased"
1. Sometimes we may want to call GC.collect() to collect garbage at once but do not want to increase generation of living objects after GC. A new parameter should be added to GC.collect() to indicate whether to increase generation of living objects after GC.

2. If living objects after GC are only referenced by local variables on stack, their generation should not be increased too. Because they ar

[2015-10-23 03:25] ygc369 opened #1856 "there seems to be a way to accelerate GC of objects with finalizer"
When GC of generation 1 or 2 finishes, all garbage objects with finalizer should be moved to heap zone of generation 0. Thus, these objects would be collected next generation 0 GC after their finalizers are called.

[2015-10-23 03:40] ygc369 commented on #1855
If living objects after normal GC(not manually caused) are only referenced by local variables on stack, their generation should not be increased too.

[2015-10-23 03:49] ayende commented on #1855
It would also be nice to get some information about the result of the GC
run (how much was freed, etc).

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Fri, Oct 23, 2015 at 6:40 AM, ygc369 <notifications@github.com> wrote:

[2015-10-23 08:06] ellismg commented on #1847
Sadly that document is pretty out of date (it uses our old packages which which were not cross platform, have not been updated in a while, etc).  I am going to try to update it to take into account the new packages, but it will probably not happen for a few days.

[2015-10-23 08:15] mihailik opened #1859 "Consider removing dead code / SynchronizedList"
This class right in the heart of mscorlib that looks like either a nostalgic piece of flotsam or a backdoor:

[System/Collections/Generic/List.cs line 1050](https://github.com/dotnet/coreclr/blob/bc146608854d1db9cdbcc0b08029a87754e12b49/src/mscorlib/src/System/Collections/Generic/List.cs#L1050)

It has **no legitimate use** across coreclr (note it's internal and not exposed as a public API):
* [se

[2015-10-23 12:51] alexandrnikitin opened #1860 "Possible null pointer access"
I'm reviewing the GC code and encountered the following code in [gc.cpp][gc.cpp] on line 34464:

[code]

If `MULTIPLE_HEAPS` isn't defined then `hpt` is null. But we access it a few lines latter.

  [gc.cpp]: https://raw.githubusercontent.com/dotnet/coreclr/master/src/gc/gc.cpp

[2015-10-23 14:27] janvorli commented on #1860
See #1519

[2015-10-23 14:39] alexandrnikitin commented on #1860
Ok, closed. Here's more detailed explanation:
If we don't define `MULTIPLE_HEAPS` we define `PER_HEAP` as static
[code]
And in `gc_heap` class `dynamic_data_table` becomes static:
[code]
Taking into account that we inline the `dynamic_data_of` method:
[code]
everything works...
:see_no_evil:

Guys, how do you work on that codebase?????

[2015-10-23 14:39] #1860 closed

[2015-10-23 14:41] alexandrnikitin commented on #1519
@drbo Take a look at my explanation in https://github.com/dotnet/coreclr/issues/1860#issuecomment-150593473

[2015-10-23 14:42] mburbea commented on #1853
This is a known issue with the CLR.
http://stackoverflow.com/questions/7136615/open-delegate-for-generic-interface-method
There is a connect article but it seems to fail when I click it.
Currently, you cannot bind an open delegate to generic virtual method.
However, the runtime does indeed support doing a `calli` to a generic virtual method so it's curious as to why it doesn't work.
Here is an unv

[2015-10-23 17:05] mmitche commented on #1838
@ellismg Hmm, that could could be it too.  It's a little unclear.  I'm not sure whether a target simply being included causes the compilation, or whether it needs to be run. We don't hit this in CoreFx though, which is an interesting datapoint.

[2015-10-23 19:41] jasonwilliams200OK commented on #1633
Pingback:

The coreclr issue turned out to be https://github.com/dotnet/coreclr/issues/1091, which was later fixed by https://github.com/dotnet/coreclr/pull/1739.
Now CoreCLR builds on FreeBSD with these steps: https://gist.github.com/jasonwilliams200OK/06db121ec534821fe541.

Note that if you are on Mac and have Parallels installed, then installing FreeBSD VM from ISO is really a piece of cake! :)

[2015-10-23 20:18] rigdern commented on #1519
Closing based on @alexandrnikitin's explanation in #1860.

[2015-10-23 20:18] #1519 closed

[2015-10-23 23:14] janvorli commented on #623
@janhenke - it has been a long time since you've tried to run the cppcheck with all the combinations of defines enabled. Last I've heard, it was running for about a month and still progressing.
So I'd like to check with you to see what we should do with this github issue.

[2015-10-24 02:17] weshaggard commented on #1838
In either case I would still like to get the downloading of nuget of our msbuild project files in into build.cmd/build.sh.

[2015-10-24 05:48] mikedn commented on #1741
@cmckinsey This should probably be tagged codegen + optimization as the rest of similar issues.

[2015-10-24 06:35] janhenke commented on #623
The second run sadly crashed before completion, after running for about 4 weeks. I still think such a static code analysis is useful, but it needs to run on something, where it finishes in much shorter time.

I talked about this on gitter, but must have forgotten to post here as well.

So we just have the results of the first run at this point.

[2015-10-24 06:52] cmckinsey commented on #1741
As Mike points out most of the register moves are required due to ABI parameter passing conventions, hard requirements around shift index, and callee-save registers for lifetimes live across calls.

But it does look like there is 1 move in the original that could be eliminated, we might consider generated SHLX (AVX2-only which we don't do much of today) on AVX2 machines, and eliminate the unnecess

[2015-10-24 09:06] mikedn commented on #1741
I'm don't see the extra register move when I use CoreCLR.

@GSPP Is that assembly code generated by .NET 4.6 instead of CoreCLR? You should use CoreCLR for such experiments because it may have changes that aren't yet present in the desktop version. #1163 and its associated fix might be related to that extra move.

[2015-10-24 10:49] GSPP commented on #1741
@mikedn yes, this was not CodeCLR. I don't recall whether it was 4.5 or 4.6 because I have both available in VMs for testing. I did not realize there were meaningful differences but now I do.

[2015-10-24 17:03] Muchiachio opened #1863 "Missing Type.GetTypeCode"
Will the `Type.GetTypeCode()` be supported in core clr?
I can't find it neither in `Type` nor in `TypeInfo` declarations.

[2015-10-24 23:03] gkhanna79 commented on #1351
Is the issue resolved post the merges above?

[2015-10-25 03:07] weshaggard commented on #1863
cc @pallavit @nguerrera

[2015-10-25 07:44] mikedn commented on #1741
@cmckinsey I think I have a fix for the unnecessary bitwise and. It needs a bit more testing which is time consuming, if you're interested let me know and I'll try to finish it and send a PR.

[2015-10-25 12:05] GSPP commented on #1792
Reference counts can become "stuck" in case of cycles. This is the reason we need GC actually.

Ref counting could work *most* of the time, though, and be used to avoid a lot of GC work. A GC is needed from time to time to delete dead cycles.

I think the CLR team should spend their time elsewhere.

[2015-10-25 12:12] GSPP commented on #1784
Did the team look at the work the Hotspot JVM team did with Escape Analysis? They have production experience in a very similar setting and should be able to answer many open questions.

You should be able to run benchmarks on the JVM with Escape Analysis turned on and off. They have a command line switch. The performance differential should carry over to the CLR.

Prime use cases would be enumerat

[2015-10-25 14:25] GSPP opened #1865 "Optimizations for the XorShift algorithm"
I have the need to generate quality random numbers at a very high rate. The XorShift algorithm is fantastic to do that (in fact it should be default in the BCL. It is both faster *and* higher quality.). Now while optimizing the code I found a few potential improvements for the JIT and I thought I'd share them.

Here's the complete executable repro and I'll explain below:

[code]

It prints in VS15

[2015-10-25 15:12] jasonwilliams200OK commented on #1810
For me, on FreeBSD, this is usually fixed by running ` mozroots --import --machine --sync` and invoking build script as `TZ=UTC MONO_THREADS_PER_CPU=50 ./build.sh`

---

@ellismg, @davidfowl  I am getting a similar error on FreeBSD. When running `./build.sh`, it builds coreclr and chokes on `dnu restore` on building mscorlib. Following are the simplified steps to repro:

[code]

Error:

  Restorin

[2015-10-25 17:14] mikedn commented on #1784
The situation is a bit more complicated than that. Java doesn't have value types and as such it needs allocation optimizations more than .NET needs. Also, it's interesting that the "Escape Analysis for Java" paper shows that for some benchmarks the percentage of objects allocated on the stack can exceed 70% but the execution time improvement is no more than 23%. And as far as I can tell that also

[2015-10-25 17:58] GSPP commented on #1784
The Java remarks are entirely true.

<hr>

Regarding LINQ, here's an idea: If the callee is known to allocate a small, bounded amount of memory (this is generally the case for enumerator allocating methods) and if no such pointer escapes according to some simple data flow tracing (also the case here) then change the base pointer for heap allocations to the stack temporarily. Like this:

1. Set all

[2015-10-25 18:22] mikedn commented on #1865
That's a rather well known limitation of .NET / JIT. Not sure which exactly, apparently the [memory model](http://joeduffyblog.com/2007/11/10/clr-20-memory-model/) allows the elimination of stores to the same location but the JIT has never done this to my knowledge so perhaps the documented memory model isn't accurate. This happens even in trivial cases:

[code]
generates

[code]
In general, if yo

[2015-10-25 18:53] mikedn commented on #1784
It can't allocate everything on the stack, some allocations may escape and the callee won't always know which ones. You really need to distinct allocation contexts - "GC allocation context" and "return allocation context". The return context is normally the same as the GC context but the caller may replace it when possible. The callee always uses the return context to allocate the returned object.

[2015-10-25 21:26] mikedn commented on #1865
The odd block layout and the use of `xchg` appear to be specific to the desktop version, CoreCLR doesn't generate that kind of code. The code generated by CoreCLR contains one useless `mov`:
[code]

[2015-10-25 21:41] GSPP commented on #1784
OK, all true. I really should not specify any particular (naive) escape analysis scheme but I think it's possible to devise some rather simple scheme that kills a lot of allocations and enables developers to be more productive because they can use more helper objects.

I think a key point is that inlining does *not* have to occur in order to infer information about the behavior of methods. Often,

[2015-10-26 04:48] ellismg commented on #1810
FWIW, the easiest way to make this more reliable is to not build mscorlib.dll in VSO when running cross-plat.  There are switches to build.sh to skip mscorlib builds.  The internal TFS builds should build all the managed code (including mscorlib) for the targets platforms.

The next best thing is to get mono out of the build path, so we don't have to deal with workarounds like `MONO_THREADS_PER_CP

[2015-10-26 05:08] ellismg commented on #1807
I believe the story here is that CoreClr no longer enforces any of these attributes.  IIRC, Shortly before open-sourcing @jkotas removed the code that did the stackwalking to enforce this stuff.

I can't recall if the long term plan was to continue to keep mscorlib.dll attributed correctly (which would imply we should open source our internal tools that validate these attributes) or just remove th

[2015-10-26 05:09] ellismg commented on #1801
Fixed with #1808

[2015-10-26 05:09] #1801 closed

[2015-10-26 05:11] ellismg commented on #1765
Should be fixed by #1601

[2015-10-26 05:11] #1765 closed

[2015-10-26 05:15] mikedn commented on #1784
Yes, in general inlining doesn't need to occur. It's just the "return new object" case that benefits from inlining.

[2015-10-26 05:19] jkotas commented on #1807
The enforcement of security transparency was disabled by default by: https://github.com/dotnet/coreclr/commit/725d6a91fffdf4603c8a9c74e15cbc83ebf0e3d6

We do plan to keep the enforcement code in CoreCLR (disabled by default) - in case somebody wants to experiment with it, in case it is needed in future, etc. We do not plan to maintain the annotations in CoreFX because of it is expensive to do, and

[2015-10-26 05:36] jasonwilliams200OK commented on #1810
@ellismg, I can confirm that `/root/coreclr/packages/dnx-mono.1.0.0-beta5-12101/bin/dnu` exists and it gets restored everytime. That directory has 20 items in total (including dnu and dnx)
The error I am getting "not found", which is not very self-explanatory. If we try to execute `dnu` without mono prefix (the last command in my [steps to repro](https://github.com/dotnet/coreclr/issues/1810#issue

[2015-10-26 05:58] ellismg commented on #1810
@jasonwilliams200OK dnu is a shell script.  I think the problem is that the old version does not do the /usr/bin/env bash thing and instead the shell script just has `#!/bin/bash`.

Can you edit your local copy to have the correct shebang for your platform and see if that helps?  If so, we should just move to a newer dnx stack that has the fix you guys made.

[2015-10-26 09:58] ellismg commented on #1810
Even if dnu starts to work, you'll probably fail a little later.  We are going to restore a CoreCLR based runtime to run BclRewriter on and that's going to be a Ubuntu version.  You'll need to build all the native code (for CoreFX and CoreCLR) copy it into a directory and then set BUILDTOOLS_OVERRIDE_RUNTIME to point at that directory.  Look at how toolruntime.targets in buildtools works.

Let me

[2015-10-26 11:42] eriohl commented on #1807
Ok. That pretty clear then. Thank you.

[2015-10-26 11:42] #1807 closed

[2015-10-26 16:41] anurse commented on #1752
This should be fixed now. I'm not sure why I was assigned a bug on the dotnet/coreclr repo, but I'm going to close it and it can be re-opened if it's still reproing.

[2015-10-26 16:41] #1752 closed

[2015-10-26 17:27] dougbu commented on #1752
My fault I guess @anurse. I should have closed this bug when I realized the issue was in DNX and not Core CLR or Core Fx.

Separately I've confirmed the problem no longer reproduces.

[2015-10-26 20:53] Arithmomaniac opened #1870 "Have T[] "implement"

[2015-10-26 20:55] #1870 closed

[2015-10-26 21:28] redknightlois commented on #1619
@erozenfeld I have been trying to some benchmarks with this optimization using a custom built CoreCLR (process is definitely not as streamlined and foolproof as I should have expected) but I am not able to see it happen at the disassembly window of Visual Studio. Any idea when it is going to be accesible on an unstable release of CoreCLR or DesktopCLR to try it out?

[2015-10-26 21:40] JunTaoLuo opened #1871 "[RC1 blocker] DiagnosticDescriptor contructor creating instances with emtpy or default properies on coreclr on Linux/Darwin"
With the newest coreclr build 23426 The `DiagnosticDescriptor` constructor at https://github.com/dotnet/roslyn/blob/a4e375b95953e471660e9686a46893c97db70b0e/src/Compilers/Core/Portable/Diagnostic/DiagnosticDescriptor.cs. The properties of the instance created are null or deafult values.

see https://github.com/dotnet/roslyn/issues/6326 for repro example.

[2015-10-26 21:40] JunTaoLuo commented on #1871
cc @muratg @pakrym

[2015-10-26 21:44] muratg commented on #1871
@joshfree Can you please triage?

Thanks,
Murat

[2015-10-26 21:47] pakrym commented on #1871
Repro. On coreclr 23426 first `Console.WriteLine` doesn't output anything.

`program.cs`

[code]

`project.json`

[code]

[2015-10-26 22:21] ddobrev opened #1872 "SuppressUnmanagedCodeSecurityAttribute cannot be applied to structures"
The documentation says that using SuppressUnmanagedCodeSecurity on a class applies it to all contained methods. The same should work for a structure and its methods.

[2015-10-26 22:39] erozenfeld commented on #1619
@redknightlois You can ask the jit to dump the disassembly for a method N.Test.Foo by setting
set COMPLUS_JitDisasm=N.Test::Foo
and then running the app via corerun.exe (e.g., corerun.exe test.exe)
If you don't see the expected ror or rol instructions please share a repro.

[2015-10-26 23:39] AArnott opened #1874 "Consider targeting NaCL as a supported platform of CoreCLR"
It seems that if CoreCLR ran on the [Google Native Client](https://en.wikipedia.org/wiki/Google_Native_Client), we could run CoreCLR code in Chrome, and (eventually) Electron apps, and potentially any other Chromium host.

Is there any interest? Has any investigation been done already?

[2015-10-26 23:45] AArnott commented on #1874
Rumor has it that [mono has already been compiled for NaCL](https://atomio.slack.com/archives/electron/p1445903043001888).

[2015-10-26 23:49] erozenfeld commented on #1619
@redknightlois setting COMPLUS_JitDisasm will only work with a Debug build of CoreCLR.

[2015-10-27 03:18] stephentoub commented on #1831
Fixed by https://github.com/dotnet/coreclr/pull/1862

[2015-10-27 03:18] #1831 closed

[2015-10-27 06:08] bartdesmet opened #1877 "Expose IsSzArray on System.Type for public use"
Expression compilers can benefit from this to differentiate between vectors and multi-dimensional arrays of rank 0. See https://github.com/dotnet/corefx/issues/4161 for a concrete example.

[2015-10-27 16:46] VSadov commented on #1877
This is indeed is a strange omission. The only way to distinguish vectors and arrays is IsSzArray and that one is not public.
I see no reason for hiding this. The distinction between vectors and arrays is well defined and documented.

[2015-10-27 16:46] VSadov commented on #1877
CC @terrajobst

[2015-10-27 16:50] mmitche commented on #1351
Yes.

[2015-10-27 16:50] #1351 closed

[2015-10-27 17:05] Snesha commented on #1826
TrimEnd(char) and TrimStart(char) are the new assignments.

[2015-10-27 17:56] redknightlois commented on #1619
Ok, after a bit of work I was able to look over this. From my tests only only a single instance catches the optimization.

It works:
[code]
It doesn't work:
[code]

None of the cases on Main catches the optimization either.

Repro: https://gist.github.com/redknightlois/e7b9934b6cd2af2aca96

[2015-10-27 18:24] jasonwilliams200OK commented on #1810
@ellismg, you are right we are still getting dnu beta5, should it be upgraded to latest beta8?
Changing the shebang fixed that issue. As you suspected, I am getting other errors like:

(snip from `/root/coreclr/MSCorLib_Debug.log`)
[code]

Also, I tried many times and everytime I execute command, it fails on fetching different packages.

When you said:

Does it mean I need to add the folder contai

[2015-10-27 18:46] VSadov commented on #1619
Don't you need to use unsigned to make it a rotation?

[2015-10-27 18:48] chcosta commented on #1810
per @ellismg suggestion, adding "skipmscorlib" has allowed our builds to bypass the mono dependency and circumvent this flakey piece of the build.  This is probably not an ideal solution for everyone, but is adequate for my needs.

[2015-10-27 18:56] redknightlois commented on #1619
@VSadov to be numerically consistent, yes; but at the assembly level (and it makes sense) there is no difference afaik (in fact that property is used in hash functions no matter if signed or not). In effect signed and unsigned should be equivalent for most practical purposes.

I am more worried about the examples in the Main method though, because it is not clear why they are not catched either.

[2015-10-27 18:57] GSPP commented on #1619
Signed right shift treats the sign bit specially. `int.MinValue >> 31` is `-1`. So `10000...` became `11111...`. This would be invalid to optimize.

`a` should not be caught but `b` should be.

[2015-10-27 19:03] redknightlois commented on #1619
@GSPP makes sense, they are not entirely equivalent because the special treatment on the shift side (not on the ror side). That only keeps why the Main() operations with ulong are not optimized thought.

[2015-10-27 19:11] jasonwilliams200OK commented on #1810
@chcosta, I agree. The point being, CI build for CoreCLR also skips the mscorlib. The full workaround is to build the mscorlib for linux/osx or freebsd on windows machine and rest of native binaries on target. But at some point we should also assure that mscorlib is build-able on target and hook it with CI so the feature don't broken / forgotten in any environment. :)

[2015-10-27 20:00] ellismg commented on #1810
My general feeling is that we will not be putting anything into CI that requires us to run managed code on top of Mono.  When we can run all of our tools on top of CoreCLR we can look into have CI build managed code on the target platforms.  Until then, my general observation (something that the Roslyn folks have also seen) is that Mono introduces enough flakiness that we don't want to have it on

[2015-10-27 20:18] jasonwilliams200OK commented on #1810
@ellismg, sorry I was testing it without setting `MONO_THREADS_PER_CPU` set in Parallels (as I was running bare mono commands for building mscorlib and not `./build.sh` which sets it to 2000).

Now that I have set it, it succeeds pulling the packages but fails with `BclRewriter`:

[code]

Can you please assist what exact steps to take to override using `BUILDTOOLS_OVERRIDE_RUNTIME`?

[2015-10-27 20:48] erozenfeld commented on #1619
@redknightlois As others pointed out only shifts on unsigned may be used for a rotation pattern.
The reason Main() operations with ulong aren't optimized is because the optimization is currently not enabled when fields (static or instance) are involved in the expression. If this is important for your scenarios I can look into enabling it.
@GSPP Good point about ^. That should be easy to add.
Yes,

[2015-10-27 20:50] ellismg commented on #1810
@jasonwilliams200OK You should collect all the native binaries produced by the CoreCLR and CoreFX build processes and put them in `BUILDTOOLS_OVERRIDE_RUNTIME` this includes corerun + all the .so files generated by both sets of native builds.

[2015-10-27 21:25] stephentoub commented on #1835
Fixed by https://github.com/dotnet/coreclr/pull/1849

[2015-10-27 21:25] #1835 closed

[2015-10-27 22:41] tzwlai commented on #937
Closing this since it has been addressed.

CC @kouvel

[2015-10-27 22:41] #937 closed

[2015-10-27 22:51] richlander commented on #948
There is a separate effort on this now. We can close this issue.

[2015-10-27 22:51] #948 closed

[2015-10-27 22:52] richlander commented on #948
Closed. Thanks.

________________________________
From: tzwlai <notifications@github.com>
Sent: Tuesday, October 27, 2015 3:43:01 PM
To: dotnet/coreclr
Cc: Richard Lander
Subject: Re: [coreclr] Creating Official .NET Core Docs (#948)

Assigned #948<https://na01.safelinks.protection.outlook.com/?url=https%3a%2f%2fgithub.com%2fdotnet%2fcoreclr%2fissues%2f948&data=01%7c01%7crlander%40microsoft.com%7c

[2015-10-27 23:27] weshaggard commented on #1877
@AtsushiKan is there any reason we should or could not expose this?

[2015-10-28 00:22] weshaggard commented on #891
Thanks @sblackler for the workaround. Given there has been no further activity on this issue I'm assuming folks are unblocked or no longer hitting this so I'm closing.

[2015-10-28 00:22] #891 closed

[2015-10-28 00:37] redknightlois commented on #1619
@erozenfeld Not in my very specific scenario, but it is a bit misleading that optimization is not applied when accessing fields directly but on the other hand is able to optimize this:

[code]

More misleading though is that it is able to optimize this:

[code]

But not this:

[code]

From what it's worth, if you are able to push this onto the DesktopCLR too earlier without applying the extra fiel

[2015-10-28 00:54] janvorli commented on #623
@janhenke Thanks for the info.

[2015-10-28 01:00] Marqin opened #1881 "SOLVED"

[2015-10-28 01:12] Marqin commented on #1881
Also, strange thing now happened - `coreclr_create_delegate` changed some unrelated variable ( pointer to libcoreclr.so ) in memory, by itself.

[2015-10-28 01:13] Marqin commented on #1881
Also, when I initialize deleate with `NULL` it doesn't fiddle with this variable ( but it fails ).

[2015-10-28 07:21] GSPP commented on #1619
Couldn't the rotate matching be moved after a compiler pass that optimizes duplicate memory reads? Such a pass surely does exist already.

[2015-10-28 13:49] #1881 closed

[2015-10-28 14:50] AtsushiKan commented on #1877
Definitely, we should expose it. I found myself quite annoyed at its omission just last week.

[2015-10-28 15:15] davkean commented on #1877
I like @AtsushiKan suggestion of IsVector.

[2015-10-28 15:42] JohnChen0 opened #1884 "Crossgen unable to compile mscorlib.dll on Linux due to assert in JIT"
After creating a debug build on Linux, running "./crossgen mscorlib.dll" in bin/Product/Linux.x64.Debug directory results in the following assert failure:

Assert failure(PID 41883 [0x0000a39b], Thread: 41883 [0xa39b]): Assertion failed 'callerArgNum < comp->info.compArgsCount' in 'System.Array:BinarySearch(ref,int,int,struct,ref):int' (IL size 119)

    File: /home/john/coreclr/src/jit/lower.cpp

[2015-10-28 16:32] gkhanna79 commented on #1712
@JohnChen0 Can you please look into this for RC2?

[2015-10-28 17:01] ericstj commented on #989
So that error indicates that restore failed for some reason, since you aren't getting any reference assemblies.  The source of the failure might be in the package manager output window or error list.  Regardless this issue does not belong in the CoreCLR repo so I am closing it out.

If you are still having issues with restore please open an issue in http://github.com/aspnet/dnx.

[2015-10-28 17:01] #989 closed

[2015-10-28 17:06] neyromant commented on #1863
I have same question.
For example, I want write this code in coreclr (Check type is primitive):
[code]

[2015-10-28 17:08] janvorli opened #1885 "Some managed exceptions caught in CoreCLR native code are reported as unhandled."
Managed exceptions that are supposed to be caught in native code in CoreCLR, like exceptions while initializing a type, when performing FuncEval by the debugger and others are reported as unhandled.
The issue is that the EX_TRY macro is missing the exception holder and so the first pass of exception unwinding doesn't see them.

[2015-10-28 17:09] janvorli commented on #1885
Fixed by #1878

[2015-10-28 17:09] #1885 closed

[2015-10-28 17:28] kitplummer commented on #1652
I'm seeing the same issue - only from CI (GoCD in my case).  If I run the same command from PowerShell directly it works.  I've also noticed that the 'temp' file it's looking for doesn't exist...the AppData\local\TEMP directory doesn't exist either.

[2015-10-28 18:05] #1003 closed

[2015-10-28 18:11] davidfowl commented on #1032
@damianh Can you open this on Corefx

[2015-10-28 18:11] #1032 closed

[2015-10-28 18:38] karelz commented on #959
Do you have a way to repro it? Do you have a crash dump?
Who uses the SafeHandle? Is it System.IO.Pipes or the test itself?

[2015-10-28 18:47] ellismg commented on #755
This is done.

[2015-10-28 18:47] #755 closed

[2015-10-28 18:50] joshfree commented on #933
@JeremyKuhne can you move this to /dotnet/corefx please

[2015-10-28 18:51] joshfree commented on #892
@pallavit can you move this to /dotnet/corefx please

[2015-10-28 18:53] joshfree commented on #832
@terrajobst could you move this proposal to /dotnet/corefx instead of having it in coreclr

[2015-10-28 18:54] joshfree commented on #764
@nguerrera can you follow up please?

[2015-10-28 18:58] mmitche commented on #1652
@kitplummer The machines now clean %TEMP% every few hours if idle, so that's likely the reason you're seeing an empty TEMP.  Those files should get deleted at the end of an msbuild invocation anyway.  Anyways, I'm trying to track down an instance of this in the wild, so let me know if you see an instance in your PR as soon as possible.

[2015-10-28 19:08] kitplummer commented on #1652
@mmitche - I didn't even have the \Temp subdirectory.  Creating it manually got me to the next error...where msbuild can't find some RSP files.

[code]

[2015-10-28 19:21] mmitche commented on #1652
Can you take that machine offline?  That is not where the temp dir should be at all.  Should be under users.  I wonder whether the user profile got corrupted.

Sent from my Windows Phone
________________________________
From: Kit Plummer<mailto:notifications@github.com>
Sent: ‎10/‎28/‎2015 12:08 PM
To: dotnet/coreclr<mailto:coreclr@noreply.github.com>
Cc: Matt Mitchell<mailto:mmitche@microsoft.com

[2015-10-28 19:41] yizhang82 commented on #1297
I like @OtherCrashOverride suggestion of support marshalling nullable<T>. We didn't support Nullable<T> marshalling before because it is a generic struct, and therefore there shouldn't be any compact burden here (but we would have to double check that). This implementation would have to be done in ILMarshalers.cpp/.h, mlinfo.cpp/.h. But given that we have different interop implementations in CoreC

[2015-10-28 19:42] kitplummer commented on #1652
I can, and have restarted the machine a couple of times.  I'd wondered about the profile too...as it was something that I've messed with a lil bit, in order to run PS stuff earlier in my CI process.  But, I think I've cleared all of that out.  Sorry to have hijacked your issue...but figured since I was seeing the same thing figured I'd chime in.  I'm open to troubleshooting on my side if that help

[2015-10-28 19:52] tzwlai commented on #1078
Closing this issue since it looks like it has been adequately addressed and there hasn't been any activity in a while.  Please feel free to reopen if anyone feels differently.

[2015-10-28 19:52] #1078 closed

[2015-10-28 20:07] tzwlai commented on #1113
Closing this issue since it looks like the problem has been addressed by #1136 and there's not been any activity in a while.  Please feel free to reopen if anyone feels differently.

[2015-10-28 20:07] #1113 closed

[2015-10-28 20:31] mmitche commented on #1652
Errr. okay.  What machine was that?  What do you mean by "earlier in the CI process"?

[2015-10-28 20:35] cmckinsey commented on #1884
@LLITCHEV PTAL.

[2015-10-28 20:39] kitplummer commented on #1652
This is a Windows 2012 Server R2 machine, with Visual Studio 2015 Community Edition installed on it.  I'm using GoCD and so there's the agent installed and running as a service.

Before the msbuild command gets called, I have a step that downloads a source code zip file, and extracts it.  Those tasks are executed through PowerShell, which requires some tweaking of the local profile.

Part of my is

[2015-10-28 21:10] mmitche commented on #1652
Oh oh. okay.  This is not something attached to the main CI.  Okay.  I'm not familiar with GoCD unfortunately.

[2015-10-28 21:10] kouvel commented on #1011
There are instructions now for running CoreCLR tests outside Windows: https://github.com/dotnet/coreclr/blob/master/Documentation/building/unix-test-instructions.md

The test build currently still requires Windows.

[2015-10-28 21:14] MattWhilden commented on #1011
Do we know what the set of Issues is that tracks doing test builds on Unix platforms. Presumably msbuild being available etc etc. They'll certainly be issues from other repros but might be useful to collect any we know about as FYI and then close this issue down.

[2015-10-28 21:26] #1774 closed

[2015-10-28 21:50] karelz commented on #1267
Looks answered

[2015-10-28 21:50] #1267 closed

[2015-10-28 21:54] CIPop commented on #1093
The System.Net.Sockets port has been completed: https://github.com/dotnet/corefx/issues/896.

[2015-10-28 21:54] #1093 closed

[2015-10-28 21:59] sergiy-k commented on #201
https://github.com/dotnet/coreclr/pull/1806

[2015-10-28 21:59] #201 closed

[2015-10-28 22:43] akoeplinger commented on #1652
@kitplummer I think you're hitting the same issue as https://github.com/Microsoft/msbuild/issues/185, the problem seems to be GoCD running the service as SYSTEM which causes all sorts of problems.

[2015-10-28 22:49] kitplummer commented on #1652
@akoeplinger - Thanks a ton!!!  @mmitche was close - it is the Temp\ subdirectory that is the issue.  If I just set ENV vars for TEMP and TMP - to something sane, my msbuild run works.

[2015-10-28 23:01] janvorli commented on #174
There is no code dealing with codepages in PAL anymore, so I am closing the issue.

[2015-10-28 23:01] #174 closed

[2015-10-29 06:19] agocke opened #1889 "Crossgen fails to compile many different assemblies when run with -ReadyToRun"
I've tried with every Roslyn assembly and some of the small dependencies like System.Collections.Immutable.dll.

The error message is always `Error: file "<assembly>.dll" or one of its dependencies was not found.`

[2015-10-29 06:36] jkotas commented on #1889
@JohnChen0 Could you please take a look?

cc @gkhanna79

[2015-10-29 06:38] davidfowl opened #1890 "Make crossgen.exe walk the closure and emit .ni.dlls for everything in a folder"
Can we make crossgen smarter and just have it walk the closure and do what ngen did? It would make it much more efficient and easier on us than having to call it per assembly ourselves.

[2015-10-29 07:25] ellismg commented on #1826
We have some internal folks looking into this.  Thanks guys!

[2015-10-29 07:27] ellismg commented on #1810
@chcosta has addressed the internal causes of this (e.g. trying to build mscorlib.dll on Mono) so I'm going to close this up.  @jasonwilliams200OK If you have problems with the tool runtime stuff on freebsd, please feel free to open up another issue so we can continue to discuss.

[2015-10-29 07:27] #1810 closed

[2015-10-29 08:35] masonwheeler commented on #1297
@yizhang82 I opened [an issue about marshalling generics](https://github.com/dotnet/coreclr/issues/1685) a while back.  IMO it may have made sense to not support them, from a difficulty-of-implementation perspective, back when generics first came out, but today it makes no sense at all and ought to be regarded as a bug to be fixed.

[2015-10-29 15:57] tzwlai commented on #1172
Closing this issue since it looks like the problem has been resolved and there's not been any activity in a while. Please feel free to reopen if anyone feels differently.

[2015-10-29 15:57] #1172 closed

[2015-10-29 16:18] tzwlai commented on #1198
Closing this issue since it looks like the problem has been resolved and there's not been any activity in a while. Please feel free to reopen if anyone feels differently.

[2015-10-29 16:18] #1198 closed

[2015-10-29 17:18] yizhang82 commented on #1389
@zabulus Thanks for your suggestion. Actually that's how we implemented it internally - each type knows the field -> field offset/marshaller mapping which we call field marshaller internally, and that's only created once and then cached on the type itself. The only additional overhead is the lookup (type to type layout information to field marshaller), if you call the version that uses IntPtr inst

[2015-10-29 17:24] tzwlai commented on #1402
Closing this issue per the previous comment.  Please feel free to reopen if needed.

[2015-10-29 17:24] #1402 closed

[2015-10-29 17:25] ericstj commented on #1444
Which packages is this talking about?  We already have unique packages per architecture and OS.

What is the scenario for debug/release?

/cc @chcosta

[2015-10-29 17:29] yizhang82 commented on #1297
@masonwheeler Thanks for bringing this up. Let's discuss it in that issue.

[2015-10-29 17:32] ericstj commented on #1444
http://myget.org/gallery/dotnet-core contains
[code]

[2015-10-29 17:32] ericstj commented on #1444
Also /cc @dagood since Debug/Release would have additional publishing implications.

[2015-10-29 17:37] yizhang82 commented on #1685
@masonwheeler Thanks for bringing this up. At that point not supporting generics is mostly a decision to scope the work, until WinRT came along and we had to support generic interfaces and delegates in WinRT. I tend to agree that the limitations seems rather artificial (and in some cases, inconsistent), and as you've pointed out not supporting Func/Action case seems particularly inconvenient (I mu

[2015-10-29 17:40] yizhang82 commented on #1845
@JeremyKuhne  Can you explain your scenario a bit more? I would imagine that in intensive I/O related methods you probably want to avoid allocation/deallocation as much as possible, whether they are cached/pooled or not.

[2015-10-29 17:48] tzwlai commented on #1502
Closing this issue since it looks like the problem has been resolved.  Please feel free to reopen if needed.

[2015-10-29 17:48] #1502 closed

[2015-10-29 17:49] masonwheeler commented on #1685
@yizhang82 What is CoreCLR using right now?  I sort of have the vague impression that it's using MCG but not everything is in place yet, but I could be wrong there...

[2015-10-29 17:53] tzwlai commented on #1454
Closing this since it looks like the problem has been resolved.  Please feel free to reopen if needed.

[2015-10-29 17:53] #1454 closed

[2015-10-29 17:56] tzwlai commented on #1535
Closing this issue since it looks like the problem has been resolved already.  Please feel free to reopen if needed.

[2015-10-29 17:56] #1535 closed

[2015-10-29 18:02] weshaggard commented on #1510
@weitzhandler I assume you got past this problem so I'm closing. If that isn't the case please provide some further information.

[2015-10-29 18:02] #1510 closed

[2015-10-29 18:03] nguerrera commented on #926
Closing this because the API is intentionally excluded..

I can answer the follow-up question more easily now that more of the infrastructure is on GitHub. The ref/ folders in corefx have the source for the reference assemblies. For System.Reflection, see here:  https://github.com/dotnet/corefx/blob/master/src/System.Reflection/ref/System.Reflection.cs

[2015-10-29 18:03] #926 closed

[2015-10-29 18:09] mmitche commented on #1480
Yep, though it's currently broken.  I think that's a different issue though

[2015-10-29 18:09] #1480 closed

[2015-10-29 18:27] mellinoe commented on #926
For the runtime facade assembly, i.e. the one with all of the type forwards into mscorlib which you deploy at runtime, we have an internal build process that automatically generates them. It is very similar to the process we use to build the partial facade assemblies in corefx (see System.Runtime.csproj for example). We run a tool called GenFacades which fills in a partial assembly with type forwa

[2015-10-29 18:30] mellinoe commented on #1874
Perhaps we can consider targeting WebAssembly as a forward-looking goal? It would get us more reach than just Chromium browsers, but I have no idea what the timeline is like for it to become usable/stable. Perhaps we could have an experimental branch as it becomes more stable.

[2015-10-29 18:32] Priya91 commented on #1374
This should now be fixed with [StackString] (https://github.com/dotnet/coreclr/blob/master/src/pal/src/include/pal/stackstring.hpp)

[2015-10-29 18:33] #1374 closed

[2015-10-29 18:34] dagood commented on #1444
Thanks, I'm also wondering if this would mean we could combine http://myget.org/gallery/dotnet-core and http://myget.org/gallery/dotnet-core-rel. Currently their packages come out of different branches but are otherwise identical: naming them by their branch would let us keep them on the same feed. (I'm still not sure if it would be a net positive to keep them on the same feed, but it would be goo

[2015-10-29 18:37] ericstj commented on #1444
@ww898 can correct me, but I think Debug/Release here is more about the flavor of the build itself (not "release" vs "dev" branch).  Debug bits are more useful for native components due to the heavy optimization done by c++ compiler in release bits.

[2015-10-29 18:39] tzwlai commented on #1419
Closing this since it looks like the problem has been resolved.  Please feel free to reopen if that's not the case.

[2015-10-29 18:39] #1419 closed

[2015-10-29 18:57] JeremyKuhne commented on #1845
@yizhang82 Avoiding if possible is the first priority, yes. What I'm looking at is getting a string out of Windows- take `GetFullPathName()` for example. It is pretty typical that you don't know exactly what size string you're going to get back. Many will tell you if you have an insufficient buffer and give you the correct size (some will just tell you "not enough"). With the ones that will give y

[2015-10-29 18:57] yizhang82 commented on #1685
@masonwheeler CoreCLR's interop implementation is entirely in the runtime itself - COM interop (RCW/CCW), pinvoke, data marshalling, etc. The most interesting files are in runtimecallablewrapper.cpp (RCW), comcallablewrapper.cpp (CCW), mlinfo.cpp (signature parsing), ilmarshaler.cpp (marshaling code), dllimport.cpp (interop stubs), dllimportcallback.cpp (reverse pinvoke).

[2015-10-29 19:22] yizhang82 commented on #1845
@JeremyKuhne Thanks for opening the StringBuilder pinning issue. Looks like supporting pinning StringBuilder (or another type like MutableString/StringBuffer) would solve majority of your problems with strings. We can take the discussion of pinning StringBuilder over there.
As for allocation/deallocation, in our marshalling implementation we do use stack allocation (more specifically, localloc ins

[2015-10-29 20:47] #1139 closed

[2015-10-29 20:49] mburbea commented on #1877
Yes, I'd like this too. In the past, I've had to write code to check if the type name had a [*] indicating that it was md array of size 1.

[2015-10-29 21:04] JohnChen0 commented on #1889
The cause of the error is missing mscorlib, which needs to be present in the same directory as crossgen itself. The error message should be more clear about what file is not found.

[2015-10-29 21:29] tparnell8 opened #1895 "Environment.Exit Core Framework"
I noticed that Core 5.0 does not contain an Environment.Exit how do you exit console apps with a status/error code

[2015-10-29 21:36] #1895 closed

[2015-10-29 21:36] tparnell8 commented on #1895
I realized this wasn't the right place

[2015-10-29 22:58] LLITCHEV commented on #1884
This is a System V struct passing tail call issue. Testing a fix.

[2015-10-29 23:02] RussKeldorph commented on #1440
Test hygiene.  Would really like to clean this up.

[2015-10-30 11:20] jasonwilliams200OK commented on #1810
@ellismg, sure. I have tried BUTILDTOOLS_OVERRIDE_RUNTIME, but it is failing. It was a busy week, I will try to gather steps to repro and if something unusual crop up will open another issue.
Thanks for your suggestions and improving the overall build experience!  :+1:

[2015-10-30 15:48] richlander commented on #1264
I never posted the link to the roadmap doc I put together: https://github.com/dotnet/core/blob/master/roadmap.md.

Major take away is that we're working towards and RC for November and then an RTM version in the first quarter of next year.

The big thing that we need to improve on is our API backlog. We need to add many APIs. So far, those have been added in a "just in time" fashion. We come upon

[2015-10-30 15:53] benpye commented on #1264
What's the story with other architectures, notably, x86 and ARM32 are on
the roadmap but are these Windows only for RC1 and RTM? As much as I'd love
to drive the ARM32 effort further I wonder where this ultimately fits in.

On Fri, 30 Oct 2015, 15:49 Rich Lander <notifications@github.com> wrote:

[2015-10-30 16:00] davidfowl commented on #1649
Can you open this ok AspNet/home

[2015-10-30 16:17] tzwlai commented on #1649
Closing this since it should be on aspnet/Home instead.

[2015-10-30 16:17] #1649 closed

[2015-10-30 16:47] miguellira commented on #1649
My bad. I've seen plenty of issues logged in aspnet/home asked to be moved to a specific repo, since the exception only occurred while running on the coreclr and not Mono I figured I'd save a step. From now on I'll be sure to log things in aspnet/home first.

[2015-10-30 18:04] tzwlai commented on #995
Closing this since it's now tracked by #816.

[2015-10-30 18:04] #995 closed

[2015-10-30 20:12] jashook opened #1902 "Jit fails to build under VS 2015 RC1"
Use of static operator new is no longer supported.

This is being used inside alloc.h to assert if anyone uses new or delete.

[2015-10-30 20:13] jashook commented on #1902
Have a fix, about to submit a PR.

[2015-10-30 20:14] joshfree commented on #1871
This should be fixed in the -beta-23430 packages on http://myget.org/gallery/dotnet-core-rel.  @JunTaoLuo @LLITCHEV can you verify?

[2015-10-30 20:28] bryanar commented on #1902
Just an FYI: Just came here to see if this was being talked about, https://connect.microsoft.com/VisualStudio/feedback/details/1401729/operator-delete-source-compatibility-break

[2015-10-30 20:39] jashook commented on #1902
That is correct, it is the same issue.

[2015-10-30 20:51] JunTaoLuo commented on #1871
@pakrym is working on verification in https://github.com/aspnet/dnx/issues/3104

[2015-10-30 22:57] jashook commented on #1902
Checked in.

[2015-10-30 22:57] #1902 closed

[2015-10-30 23:01] jashook opened #1913 "JIT alloc.h missing functionality to warn against using new and delete."
Overloading the new and delete operator in alloc.h was removed to fix the build. See: 347ab205ca8a48ef445101b7a2e1499a9f59c596.

However, there should be some type of way to warn against using new or delete.

[2015-10-31 18:43] GSPP opened #1919 "Fix Random seeding"
There is a notorious problem with the `Random` class: Seeding it properly is not obvious and the default seed is time-dependent. This means that:

     while (true) new Random().Next().Dump();

Prints the same number most of the time. `new Random` uses `Environment.TickCount` which is decidedly not random.

The usage rules for `new Random()` are not obvious. Newbies misuse it all the time.

`new R

[2015-11-01 06:09] benaadams commented on #1279
@mikedn I'm not seeing this (re `localsinit`); even declaring the `stackalloc`'d variable results in a `localsinit` being emitted?
[code]
[code]

[2015-11-01 06:36] benaadams commented on #1279
Correction: `localsinit` being dropped does happen but there are some extra caveats; trying to narrow down

[2015-11-01 07:03] benaadams commented on #1279
Haven't quite narrowed it down; but if you call a method it needs to be first param; and some sorts of work triggers it; possibly `for loop` even with the index being not local.

Pattern that seems to work:

1..function that declares via statckalloc and does no other work other than
2. returning result of another function that takes the stackalloc as first param

Can pass though needed vars from f

[2015-11-02 16:46] JohnChen0 commented on #1035
Fixed with commit ef310df.

[2015-11-02 16:46] #1035 closed

[2015-11-02 17:06] JohnChen0 opened #1923 "Assert during resource loading prevents crossgen from running on Linux"
In the current 1.0.0-rc1 build, while using crossgen to compile mscorlib.dll on Linux, an assert failure occurs with debug build, while a segmentation fault occurs with release build. This prevents crossgen from completing successfully.

This has been fixed in master branch with commit 0bc6af1. This commit needs to be merged into rc1 branch.

[2015-11-02 18:10] joshfree commented on #1884
@JohnChen0 can you verify the fix and close out this bug?  (I take it from https://github.com/dotnet/coreclr/issues/1923 that verification has already happened - can you confirm?)

[2015-11-02 18:23] kouvel commented on #1011
I'm not aware of any blocking issues, I think it's just a matter of doing it. We would just have to pull in msbuild and Roslyn, it would be nice to get this done at some point.

[2015-11-02 20:53] kouvel commented on #1011
Apparently, there are were some stability issues that CI builds were running into, when running msbuild under mono. I understand that work is already being done there to enable full builds that don't require Windows. Closing this issue for now.

[2015-11-02 20:53] #1011 closed

[2015-11-02 22:39] JohnChen0 commented on #1884
Verified that the issue is fixed.

[2015-11-02 22:57] kouvel commented on #1740
I'm taking a look at the TPA binder issue. In the meantime as a workaround, you can move Program.exe into the runtime folder. That would remove program\ from being an app path, and it has to use the custom load context to load assemblies from there.

[2015-11-03 15:52] Marqin commented on #641
@janvorli , coreclr_initialize stopped working on Linux ( on OS X it's ok ) in last-moths builds. Does anything changed? Here's stack trace from Linux:
http://pastebin.com/raw.php?i=AyigRNXC
The same code works OK on OS X.
Both tried with coreclr 1.0.0-rc1-16048.

[2015-11-03 16:23] joshfree commented on #1872
@morganbr PTAL

[2015-11-03 16:32] joshfree commented on #1825
@redknightlois I moved this issue to the corefx repo.

[2015-11-03 16:32] #1825 closed

[2015-11-03 16:32] joshfree commented on #1224
@AlexGhiondea PTAL

[2015-11-03 18:36] janvorli commented on #641
@Marqin The coreclr_initialize is used in the corerun / coreconsole and so it is executed in all of our tests and any time we launch anything managed on Linux. There was no change in this function as far as I know, so I wonder what is causing the problem for you.
From your stack, it is hard to guess what was going on. It looks like an unhandled exception happened somewhere in managed code down the

[2015-11-03 18:39] joshfree opened #1934 "[RC2] enable crossgen of mscorlib.dll on Linux and Mac"
Update the xplat builds to produce official mscorlib.ni.dll binaries for Linux and mac

/cc @chcosta @gkhanna79

[2015-11-03 18:40] janvorli opened #1935 "CorHost2::_CreateAppDomain misses unhandled managed exception trap"
To correctly process unhandled managed exceptions happening in CorHost2::_CreateAppDomain call chain, we need to add INSTALL_UNHANDLED_MANAGED_EXCEPTION_TRAP like we did in CorHost2::ExecuteAssembly.

[2015-11-03 19:26] janvorli commented on #1935
Actually, the _CreateAppDomain has contract NOTHROW and so all exceptions are caught by the END_EXTERNAL_ENTRYPOINT. So there is no need for a change here.

[2015-11-03 19:26] #1935 closed

[2015-11-03 19:26] LLITCHEV opened #1937 "Fix a problem in System V struct classification for structs with holes"
There is a bug in classifying the register passing structs where field
layout leaves holes in the struct layout.

[2015-11-03 19:33] janvorli commented on #641
@Marqin Now looking at the code, I believe no exceptions should go unhandled down the CorHost2::_CreateAppDomain callchain. But there was a bug related to that that I've fixed last week, so I wonder if it is possible that you have a version of coreclr before that fix.
The fix was merged in as commit 7a08037ba5c7d5858485985dcb1d4750c77d31a0.
Could you please check if the latest CoreCLR fixes the is

[2015-11-03 19:41] Marqin commented on #641
Ok, now there's no exception on Linux,`coreclr_initialize` just returns `0x80131500` error code. On OS X it's all ok.

[2015-11-03 19:50] Marqin commented on #641
Ok, I run it with **debug** wersion of libcoreclr.so and that's what I get: http://pastebin.com/raw.php?i=USsnUBRe

[2015-11-03 19:52] janvorli commented on #641
Ok, that mostl likely means a mismatch betweem libcoreclr.so and mscorlib.dll. Either they are one release and the other debug or they are not from the same build.

[2015-11-03 19:56] Marqin commented on #641
Ah, thanks. Now I in error message I see again that CLRException::GetThrowable that was in stack strace: http://pastebin.com/raw.php?i=crMpXz1v

[2015-11-03 20:02] janvorli commented on #641
Ok, so you are missing the System.Globalization.Native.so. It is built as part of the coreclr build.

[2015-11-03 20:11] Marqin commented on #641
I have `System.Globalization.Native.so`. Tested with both release and debug, and still geting this error. Here is full stack trace from lldb: http://pastebin.com/raw.php?i=QG0hQqcD

[2015-11-03 20:23] JohnChen0 commented on #1923
Fixed with commit f9fd9cf.

[2015-11-03 20:23] #1923 closed

[2015-11-03 20:33] janvorli commented on #641
Interesting. So far the missing System.Globalization.Native.so was the only case where I've seen this assert. Can you please select the frame 4 and print the pException object (using p *pException)?

[2015-11-03 20:35] Marqin commented on #641
(lldb) f 4
    frame #4: 0x00007ffff5fbc9e8 libcoreclr.so`CLRException::GetThrowableFromException(pException=0x00000000006bdfb0) + 248 at clrex.cpp:728
    (lldb) p *pException
    (Exception) $0 = {
      m_innerException = 0x0000000000000000
    }

[2015-11-03 20:42] janvorli commented on #641
Hmm, GDB shows the actual exception type when I print it like this. LLDB obviously doesn't. My guess is that the actual type of the pException is EEMessageException. Could you please also try this?:
p *(EEMessageException*)pException

[2015-11-03 20:43] janvorli commented on #641
Sorry, the markdown has screwed it, I meant:
` p *(EEMessageException*)pException`

[2015-11-03 20:48] Marqin commented on #641
Hmm, is says that it cannot find "System.Globalization.Native". But I have in the same folder as libcoreclr.so and all .dlls. And I also copied it inside dir with my executable, and in dir with my managed code. And it didn't helped.

[2015-11-03 20:52] janvorli commented on #641
Hmm, I wonder what could be preventing the linker from seeing it.
@adityamandaleeka do you have any idea why the DllImport would not see the System.Globalization.Native.so?

[2015-11-03 20:53] LLITCHEV commented on #1871
Verified fixed by @pakrym.

[2015-11-03 20:53] #1871 closed

[2015-11-03 20:53] Marqin commented on #641
marqin@nibbler [09:52:30] [~/csharp/simpleCoreCLRHost] [master *]
    -> % ls $SCCH_COREPATH | egrep "(mscorlib|libcoreclr\.so|Globalization\.Native)"
    libcoreclr.so
    mscorlib.dll
    System.Globalization.Native.so
    marqin@nibbler [09:52:34] [~/csharp/simpleCoreCLRHost] [master *]
    -> % ls . | grep Native
    System.Globalization.Native.so

So it prevents on Linux, and on OS X works. T

[2015-11-03 21:07] Marqin commented on #641
@janvorli, @adityamandaleeka, I found something regarding System.Globalization.Native.so/System.Globalization.Native.dylib.
When I try to link it to some code in OS X, it just passes.
On Linux I get [long list of undefined references](http://pastebin.com/raw.php?i=ZB1C5Ukz).

Is it because I have libicuuc.so.55 and not libicuuc.so.52?

[2015-11-03 21:11] saper commented on #641
You can check what is needed with `ldd name-of.so` . You should have
a matching version of the ICU for things to work, yes.

[2015-11-03 21:34] Marqin commented on #641
Ehh, and ICU download page is giving me 500 error.
So I rebuild by myself System.Globalization.Native.so to use ICU 55 and now I'm getting 0x80070057.

Also, cmake didn't set -std=c++11 flag, which cause to fail build, until I modified makefile by hand, should I report is as bug, right?

[2015-11-03 21:51] Marqin commented on #641
Ok, it was my bug. Now, after building `System.Globalization.Native.so` with ICU 55 support everything works OK :+1:

I'm going to fill bug about that c++11 flag, and that ICU 52 dependency is not documented on DNX page.

[2015-11-03 21:58] Marqin opened #1941 "ICU 52 requirement not documented"
I've installed DNX SDK and some parts of coreCLR were not working for me. It was because my distro (Arch Linux) have ICU 55, and coreCLR from this site is build for ICU 52 ( so I had to rebuild coreCLR, or put ICU 52 in linker path ).

There should be mention about ICU 52 on DNX SDK instruction for Linux.

[2015-11-03 22:12] janvorli commented on #641
The c++11 flag is actually being set if you use the build.sh or the src/pal/tools/gen-buildsys-clang.sh. Using cmake with no parameters is not a supported scenario.

[2015-11-03 22:14] janvorli commented on #641
The c++11 flag is set using this:
src\pal\tools\clang-compiler-override.txt
But there is more than the c++11 flag set there, see the end of the src/pal/tools/gen-buildsys-clang.sh too where the cmake is invoked.

[2015-11-03 22:24] Marqin commented on #641
Thanks for clarification. So I just repored that ICU should be documented.

[2015-11-03 22:56] janvorli opened #1943 "Incorrect handling of managed exceptions caught in native code in some cases."
During the exception handling pass 1 on Unix, we only find one holder for each frame. But for the case where there are multiple scopes embedded in each other, each of them having their own exception holder, this is not correct and we need to call filters for all holders on such frame, starting from the inner-most one.
In addition, there is one usage of the EX_CATCH_CPP_ONLY in the src/vm/threads.c

[2015-11-03 23:57] morganbr commented on #1872
@ddobrev, could you please tell us more about your intended usage for SuppressUnmanagedCodeSecurity on a struct? In case it helps, you don't need that attribute at all with CoreCLR -- it's effectively always turned on.

[2015-11-04 00:01] blackdwarf commented on #1941
In PR.

[2015-11-04 00:04] joshfree commented on #711
moving this SELinux bug up from rtm to rc2. /cc @tzwlai

[2015-11-04 00:15] ddobrev commented on #1872
I need to support .NET 4.0 too which means CoreCLR cannot help me. I used it in the most standard way possible - I have structures with many P/Invoke declarations within and I am forced to apply the attribute to each one, and to also remember to apply it to each newly added P/Invoke. If this worked, I would've been able to apply the attribute to the structure itself and forget about it.

[2015-11-04 00:23] mikem8361 opened #1950 "Fix sos clrstack unwinding for the special HelperMethodFrame"
The sos clrstack command sometimes hangs or stops unwind when it hits the special HelperMethodFrame when dumping managed stacks.  This requires an out of context stack unwinder in the DAC to fix this problem and there isn't one available for OSx and the one available for Linux doesn't work on all distributions so it has been disabled. The fix I propose is to use the lldb unwinding abi via the data

[2015-11-04 00:38] ramarag opened #1951 "Enable conditional event filtering for LTTng"
This will allow for  IsEnabled check for every Event.
Measure if there is any perf degradation if  COMPlus_EnableEventLog is on by default
Measure the Perf Degradation when EventSource is used
       1. See if splitting framework Evenstource Events having their own lttng event will help perf?

[2015-11-04 00:48] kouvel commented on #1187
You would have to use a custom `AssemblyLoadContext` to control assembly loading. See https://github.com/dotnet/corefx/tree/master/src/System.Runtime.Loader/tests for examples on how to use it. You can use the `LoadFromAssemblyName` method on an instance of the custom load context and in the overridden `Load` method, determine the path from which to load the assembly.

[2015-11-04 00:53] janvorli opened #1952 "Add regression test for unhandled exceptions in secondary thread"
There was an issue #1922 that was fixed,  but we need to add regression test for that.

[2015-11-04 00:54] ramarag opened #1953 "Enable build time generation of Eventing Logic in coreclr"
Right now the eventing functionality for coreclr on both windows and Linux depend on Generated Files which are checked into the repo. These files should be removed from the repo and  must be generated and consumed at build time

[2015-11-04 01:35] joshfree commented on #1709
updating the milestone to Future since it's my understanding that this issue is off track for 1.0.0.  We'll need to revisit this for 1.1

[2015-11-04 03:56] mikem8361 commented on #1950
PR #1946 has resolved this issue

[2015-11-04 03:56] #1950 closed

[2015-11-04 07:56] joshfree commented on #1303
@nguerrera please take a look

[2015-11-04 08:02] joshfree commented on #1767
closing this out as a duplicate of https://github.com/dotnet/corefx/issues/1346

[2015-11-04 08:02] #1767 closed

[2015-11-04 08:31] joshfree commented on #1558
@ramarag PTAL

[2015-11-04 08:56] zhenlan commented on #1203
Hi @qx-will, I am from Serialization team. As @akoeplinger pointed out, SerializableAttribute is not supported on .NET Core, neither the binary serializer.

There are 3 built-in serializers on .NET Core: DataContractSerializer, DataContractJsonSerializer and XmlSerializer. You can also choose 3rd party serializers such as JSON.NET.

[2015-11-04 13:08] davidfowl commented on #1558
This was a Roslyn bug that has since been fixed

[2015-11-04 16:29] gkhanna79 opened #1954 "Expose Assembly.Load(byte[], byte[]) and Assembly.LoadFile(string path)"
For details, please see https://github.com/dotnet/corefx/issues/4027. We will use this issue to track the work going into the runtime.

[2015-11-04 16:38] hugoarias opened #1955 "Could not load file or assembly 'dnx.clr.managed' or one of its dependencies clr 1.0.0-rc1-16048"
Hey,
I'm trying to run web app with the latest clr package;

    {
        "projects": [ "src", "test" ],
        "sdk": {
            "version": "1.0.0-rc1-16048",
            "runtime": "coreclr",
            "architecture": "x86"
        }
    }

    Active Version           Runtime Architecture Location
    ------ -------           ------- ------------ --------
       1.0.0-beta4       clr

[2015-11-04 16:39] kostrse commented on #1784
@cmckinsey Here's a practical example where escape analysis could be really helpful.

Let's have a look at this snippet in F# code:
[code]

From functional programming standpoint this is a very primitive construction which utilizes a tuple for dealing with two local variables in one expression. For an F# developer those are just cheap local variables, presumably allocated on stack.

[code]

But wh

[2015-11-04 17:19] davidfowl commented on #1955
If you updated from beta7 and are using IIS please read this blog post  http://blogs.msdn.com/b/webdev/archive/2015/10/15/announcing-availability-of-asp-net-5-beta8.aspx. You nee to make *ALOT* of changes to make older projects work.

[2015-11-04 17:19] #1955 closed

[2015-11-04 19:45] AndyAyersMS opened #1957 "Need some way for the jit to reliably identify methods across runs"
The `methodHash` provided to the jit via the jit interface is supposed to provide this, but it's not unique. Neither are names or tokens.

Ideally this method ID would be independent of jit behavior (eg LLILC and RyuJit would see the same IDs even if they make different demands via the jit interface).

I'd be willing to settle for something that works only in crossgen to start with.

Without somet

[2015-11-04 21:08] cheers00 commented on #1743
@sbomer @tzwlai @noahfalk @weshaggard
wondering if there is any update. I still don't see any symbols on public symbol server.

Thanks

[2015-11-04 22:03] janvorli commented on #1943
Fixed by #1945

[2015-11-04 22:03] #1943 closed

[2015-11-04 22:48] nguerrera commented on #1303
@LockTar I took a quick look and can confirm no repro with Update 4 and successful repro with Update 5. There were no CLR or .NET Framework bits affected by this move from U4 to U5, so this is a Visual Studio issue.

Please note that this repository is the .NET Core runtime (http://dotnet.github.io/core/) which is a different product from .NET Framework 4.x and Visual Studio.

For Visual Studio su

[2015-11-04 22:48] #1303 closed

[2015-11-04 23:56] joshfree commented on #1937
this was fixed / merged in rc1 last night https://github.com/dotnet/coreclr/pull/1938.

[2015-11-05 02:37] Priya91 opened #1962 "Running corefx tests on debug coreclr bits fails with invalid assertion."
Discovering: System.Runtime.InteropServices.RuntimeInformation.Tests

Assert failure(PID 41229 [0x0000a10d], Thread: 41229 [0xa10d]): Assertion failed 'lvRefCnt' in 'System.Threading.EventWaitHandle:.ctor(bool,int,ref):this' (IL size 178)

    File: /home/matell/git-release/coreclr/src/jit/compiler.hpp Line: 1799
    Image: /home/lasekar/Documents/linuxlibs/bin/com/corerun

**** MessageBox invoked

[2015-11-05 04:14] LLITCHEV commented on #1937
It appears fixed and PR-ed into RC1.

[2015-11-05 04:14] #1937 closed

[2015-11-05 06:21] morganbr commented on #1798
@GSPP, if you're interested in better cryptography performance, I'd also suggest trying SHA512Cng, which uses a more performant native implementation. (Of course, JIT optimizations could be interesting as well for other code, but I'm not the right person to look into that).

[2015-11-05 14:48] mviorno opened #1964 "[CoreClr] Unable to compile project for portable configuration (since 1.0.0-rc1-16048)"
After upgrading runtime to 1.0.0-rc1-16048 and nuget packages I'm unable to compile my project for "dotnet" confirutation. I've got following errors:

[code]

My project.json contains "dotnet" framework section:

[code]

[code]

Is there something wrong with "dotnet" or should we change it to something else?

[2015-11-05 17:16] AndyAyersMS opened #1966 "Something is causing the LocallocLarge test to run slowly"
Some recent change (CI, coreclr, corefx, possibly LLILC) seems to have slowed down the LocallocLarge test in JIT\CodeGenBringUpTests to the point where it either hits the per-test timeout or causes the overall test run to timeout. This is currently impacting the LLILC and LLVM CI runs.

This test is intended as a stress test for the jit's handling of localloc/chkstk but it also ends up being somew

[2015-11-05 17:35] AndyAyersMS commented on #1966
Looks like this may be a debug-build only issue. I got identical times for the 131 and 137 archived release builds. Trying debug now.

[2015-11-05 18:53] joshfree commented on #1950
reactivating issue until a fix is made in the /release/1.0.0-rc1 branch.

[2015-11-05 19:11] janvorli opened #1969 "Jitter test b68872 fails due to exception thrown in exception filter."
This test throws an exception from an exception filter and the exception handler code asserts because m_uCatchToCallPC is 0, and we pass that as the handler PC to CallHandler.
Here are some details on the test:

This runs the code at TRY1 with filter at FILTER_1 and handler at HANDLER_1:
[code]

The TRY_1 throws System.Exception unconditionally:
[code]
That means that in the first pass of the exce

[2015-11-05 19:44] adityamandaleeka commented on #1969
As part of the effort to get CI test runs up, #1928 includes adding b68872 to the disabled test list. This is just a reminder to remove that test from the list when this is fixed.

[2015-11-05 21:09] pgavlin opened #1973 "Assertion in `MethodTable::AssignClassifiedEightByteTypes`"
The SysV classifier asserts when classifying `Nested4` below:

`
unsafe struct InlineArray5
{
	public fixed byte Array[9];
}

struct Nested4
{
	public InlineArray5 Field1;
	public ushort Field2;
}
`

The assertion is:
[code]

[2015-11-05 21:22] AndyAyersMS commented on #1973
@pgavlin How are you finding these cases?

Are we doing any sort of systematic ABI testing? If not, we really should be.

[2015-11-05 21:25] pgavlin commented on #1973
I am finding these through ad-hoc testing. The tests in #1972 are an example.

I agree that we should find some way to do systematic ABI testing; any suggestions are welcome.

[2015-11-05 21:31] pgavlin opened #1974 "C# fixed arrays not classified properly for the SysV AMD64 CC"
C# fixed arrays are represented in metadata as nested types of a fixed size with a single field of the fixed array element type. For example, this definition:

[code]

results in this IL:

[code]

The CoreCLR type system in turn represents this faithfully as a struct of size 16 with a single `float` field. Unfortunately, this causes the SysV classifier to drop the last 8 bytes of the struct: the c

[2015-11-05 21:37] pgavlin commented on #1974
@LLITCHEV, @AndyAyersMS, @jkotas, @CarolEidt PTAL.

@jkotas, @CarolEidt: One specific question I have here regards ECMA-335 II.10.7: are the leftover bytes intended to be of any particular type (i.e. should they in fact be treated as if each byte was a field of type `byte`, which would change the classification)? If so, we'll need to be able to properly distinguish C# fixed buffers from other simi

[2015-11-05 21:42] AndyAyersMS commented on #1973
Here's one [example](https://www.st.cs.uni-saarland.de/publications/details/lindig-aadebug-2005) with a recent-looking [repo](https://github.com/lindig/quest) we might consider. There is probably something more recent we can leverage.

[2015-11-05 21:50] pgavlin commented on #1974
One potential issue with the proposed approach is that it does not address holes at the beginning of a struct, e.g.:

[code]

Perhaps such bytes should be classified as INTEGER as a rule (in which case it would be kind of nice to be consistent and classify all leftover bytes in eightbytes that do not contain fields as INTEGER, contrary to the original proposal).

[2015-11-05 22:12] LLITCHEV opened #1977 "Fix a bug in frame pointer chaining codegen for frames with localloc."
Fix a bug in frame pointer chaining codegen (prolog code generation) for frames with localloc for AMD64 and System V AMD64.

[2015-11-05 22:16] LLITCHEV commented on #1974
Per decision sometime ago explicit layout structs are always passed on stack.

[2015-11-05 22:17] jkotas commented on #1974
Right. It is the same what we do for HFAs on ARM/ARM64.

[2015-11-05 22:29] pgavlin commented on #1974
I don't think that this is a very user-friendly solution: how are developers intended to represent C unions in managed code? Just using the widest type for the field?

[2015-11-05 22:31] pgavlin commented on #1974
(note that in the case of managed code calling other managed code the aforementioned stack-only solution is fine. AFAIK, the example above is only representable in managed code (I know of no way to achieve the same effect in C/C++), so it's not as compelling in the context of P/Invokes)

[2015-11-06 00:25] LLITCHEV commented on #1977
Just to clarify. The issue happens only on frames that have localloc or very largs local var count. It works for the rest. It potentially affects debuggers and profilers that use frame chaining to unwind the stack. In the VM for GC and exception handling we use the PData/XData stype unwind info for jitted frames and that works correctly.

[2015-11-06 06:37] LLITCHEV commented on #1962
@Priya91 Priya, could you please retest this? I suspect this is a packaging issue. I just pulled and rebuilt the coreclr and corefx (had to revert the commit # c60913a91853a2c6b9f9ac46e81ca91aac775e8d per ellismg and stephentoub suggestion - it turns out theSystem.Console.dll that is posted in Nuget right now is not compatible with this changes and trying to use it thrown MissingEntryPointExceptio

[2015-11-06 07:54] voloda commented on #926
@nguerrera @mellinoe Thanks guys. So the file above is the source code for the runtime facade, correct?

[2015-11-06 08:20] kouvel commented on #1708
Almost all of the remaining difference is in GetThread. There isn't an easy fix for this, so we are currently not planning on addressing this. We can take another look if we see this to be a significant issue in user scenarios.

[2015-11-06 08:20] #1708 closed

[2015-11-06 17:00] stephentoub commented on #1708
Does this mean https://github.com/dotnet/corefx/issues/3588 and https://github.com/dotnet/corefx/issues/3590 should also be closed?

[2015-11-06 18:37] kouvel commented on #1708
Ah yes they're all the same issue, I have closed the others now as well.

[2015-11-06 19:22] whoisj commented on #1844
:+1:

[2015-11-06 19:44] leppie commented on #1844
Nitpicking (not really for optimization, but for usage):

I agree, but an implicit cast operator from `StringBuilder` to `string` would solve all the problems.

The implicit cast is safe, no loss.

As a bonus a an explicit cast could be added for the reverse, ensuring the string is copied and mutable.

[2015-11-06 20:10] whoisj commented on #1844
It would require an allocation and a copy, which I believe we're attempting to avoid here.

[2015-11-06 20:18] whoisj commented on #1844
@JeremyKuhne in the case of `SubStringEquals(string)` would it not be better to provide an overloaded `Equals` method?

* `bool StringBuilder.Equals(String value)`
* `bool StringBuilder.Equals(StringComparision compare, String value)`
* `bool StringBuilder.Equals(StringComparision compare, String value, int start, int length)`

[2015-11-06 20:54] adityamandaleeka commented on #1058
Reopening... we discussed this further in #1959 and it's worth looking into using the standard snprintf and removing support for VS2013 and older.

[2015-11-06 22:45] JeremyKuhne commented on #1844
@whoisj Yes, I'm trying to avoid allocations here. :)

It feels a little awkward to me to have `Equals` have so many conditionals. I'm ok with it, however, given `ToString()` is already doing this in StringBuilder. To align better with existing methods I'd reorder the arguments: `Equals(String value, int startIndex, int length, StringComparison comparisonType)`.

In case it comes up, I'd also like

[2015-11-06 22:49] whoisj commented on #1844
@JeremyKuhne but then we can't have awesome C-like code which confuses via

[code]

[2015-11-07 04:06] jkotas opened #1986 "Set affinity for server GC threads"
Body of `set_thread_affinity_mask_for_heap` is ifdefed out for CoreCLR. @Maoni0 thinks that it is important to fix this.

[2015-11-07 20:50] stephentoub opened #1991 "EventSource generates an out-of-band error when using WriteEvent(int, byte[])"
When defining an event source with an event like:
[code]
EventSource reports an out-of-band error of the form:
[code]
It appears this is due to the WriteEvent(int, byte[]) overload writing out two EventData elements, one for the array length, and one for the array pointer, which is a mismatch from the event signature that just takes the array.

cc: @vancem, @brianrob

[2015-11-07 21:23] gkhanna79 commented on #1977
@tzwlai - Can you please confirm if this affects debugger on Mac/Linux?

[2015-11-07 22:24] NickCraver commented on #1475
@CarolEidt @BruceForstall @jkotas Pinging again. These are critical bugs in the base framework - we *have* to have faith in the JIT and that's evaporating very quickly since all of the combined issues in .Net 4.6. We're hitting this issue at Stack Overflow randomly on builds and we're seeing reports of it from users of our various libraries. Can we please get some status information here?

[2015-11-08 02:00] LLITCHEV commented on #1977
I have talked to Mike on Friday. This will affect the non SOS debugger on Linux/Mac. The SOS debugger (as the GC unwinding and EH) is using the PDatas/XData unwind info for managed frames and that behaves correctly. The GDB/LLDB bt command is affected by this since it doesn't use the PData/XData (Windows) unwind debug info. @tzwlai please correct me if I am wrong.

[2015-11-08 05:26] jkotas commented on #1475
@NickCraver This fix is included in .NET 4.6.1 RC. From [.NET Framework 4.6.1 list of changes](https://github.com/Microsoft/dotnet/blob/master/docs/releases/net461/dotnet461-changes.md):

Fixed access violation caused by incorrect spill reload of putarg_reg(this) [134106]

.NET 4.6.1 RC has go-live license, so you can install it in production. It has fixes for all known RyuJIT compat issues. Pleas

[2015-11-08 05:27] jkotas commented on #1475
More details about .NET 4.6.1 RC are in [this blog post](http://blogs.msdn.com/b/dotnet/archive/2015/10/29/announcing-net-framework-4-6-1-rc.aspx).

[2015-11-08 08:24] krwq opened #1992 "Proposition: Stack bending"
Currently standard call (simplified: no params) looks more or less like this in the assembly code:

Subroutine/Function:
[code]

Function call:
[code]

Currently by default we support stack of only 1MB size and there is no way of dynamically controlling the size.

My proposition is to allow local dynamic stack growing (without need to create a new thread).
How would that work - simplest example (+

[2015-11-08 17:24] GSPP commented on #1798
@morganbr thanks, but I'm using `HMACSHA512` which chooses `SHA512Managed` automatically. Maybe the PInvoke costs would dominate the native code improvements. Or, it's just a bad choice in the Framework?! Who knows. I'm stuck for now.

[2015-11-08 17:32] benaadams commented on #1986
From botr [Garbage Collection Design](https://github.com/dotnet/coreclr/blob/master/Documentation/botr/garbage-collection.md)

Could be a bug; rather than just perf?

[2015-11-08 18:40] jkotas commented on #1986
This issue is about thread affinity of server GC threads that affects performance only.

The botr paragraph you have quoted talks about thread affinity of allocation quantums that is unrelated concept.

[2015-11-08 18:44] benaadams commented on #1986
Ah, makes sense then

[2015-11-08 20:23] gafter opened #1993 "JIT does not eliminate local variables"
This is moved from https://github.com/dotnet/roslyn/issues/6542

Commenting out the first two lines of this for loop and uncommenting the third results in a 42% speedup:

    int count = 0;
    for (uint i = 0; i < 1000000000; ++i) {
    	var isMultipleOf16 = i % 16 == 0;
    	count += isMultipleOf16 ? 1 : 0;
    	//count += i % 16 == 0 ? 1 : 0;
    }

Behind the timing is vastly different assembl

[2015-11-08 21:52] mikedn commented on #1993
The title is a bit misleading as the local variable is actually eliminated, there's no memory load/store anywhere in the generated code.

Related to #914 as the problem is really the `ceq`/`brtrue` sequence and not local variable elimination. Also related to #1307 as both versions generate a less than ideal `bool` to 0/1 conversion. Also related to #1207 because both versions generate 2 useless in

[2015-11-09 02:32] pgavlin opened #1995 "Assertion in `fgArgInfo::RemorphRegArg` when running CoreFX tests with a debug CoreCLR"
[code]

I believe that the assertion is due to the following situation:
- A struct S with SysV classification (INTEGER, SSE) is passed by value to a call before another argument with SysV classification INTEGER
    - `fgArgInfo.numRegs` is 2 for the argument, since it takes one integer and one SSE register
- During `fgMorph`, the struct argument is morphed from an ldobj into a copyblk to a tempora

[2015-11-09 02:40] pgavlin commented on #1995
Compiling and running the following program on a debug JIT will demonstrate the issue:

[code]

[2015-11-09 03:20] stephentoub opened #1996 "SIMD not enabled on Unix?"
Am I misunderstanding how the JIT is compiled, or does this code effectively mean that we're not enabling FEATURE_SIMD on Unix?
https://github.com/dotnet/coreclr/blob/master/src/jit/CMakeLists.txt#L9-L13
[code]
If it's not being enabled, can we fix that?

cc: @CarolEidt, @mellinoe

[2015-11-09 03:28] pgavlin commented on #1995
AFAICT, this does not cause SBCG on release builds; just an assert on debug builds.

[2015-11-09 11:44] rhatdan commented on #711
Does turning on the allow_execheap  help the problem?

setsebool -P allow_execheap 1

[2015-11-09 14:14] CharlesWoodhill opened #1997 "Supported Classes"
Hi all,
Ive some questions i wasnt able to figure out.
1. if u develop (for example: c#) u "compile" against coreclr?
          so 1 compile is enuf to get an app that supports all supported platforms win/osx/linux?
          or do u still have to compile for every platform?
2. what classes/assemblies, or better say parts of .Net framework, are currently supported?

tnx in advance :)

[2015-11-09 15:31] pgavlin commented on #1995
@LLITCHEV FYI.

[2015-11-09 16:17] RussKeldorph commented on #1996
Subset of #983.

[2015-11-09 16:17] #1996 closed

[2015-11-09 16:25] LLITCHEV commented on #1995
Does this happen without the changes in PR 1981? The if condition above looks fine. I ran few corefx and coreclr tests over the weekend and they all passed with no problems.

[2015-11-09 16:56] pgavlin commented on #983
Is there any particular reason that SIMD isn't enabled on Linux yet? AFAIK it shouldn't affect the CC-related code unless we want to project Vector<T> to `__m128`/`__m256` (for SSE/AVX, respectively). Note that the projection to `__m256` may require some invasive changes, as these values are passed in up to four vector registers and require proper handling of the SSEUP classification.

[2015-11-09 17:00] CarolEidt commented on #983
I don't know if Lubo has done any more detailed analysis on this, but even apart from projecting these types, we may run into unexpected issues where we have inadvertently made assumptions about how these are passed. I don't think it would be too hard to try enabling it, and then we would have a better idea about whether there are any issues, and can then estimate the cost of addressing them.

[2015-11-09 17:04] pgavlin commented on #1995
Yes, this happens without the changes in #1981.

[2015-11-09 17:08] stephentoub commented on #983
(For reference, it'd be great to get this fixed by RC2 so that code using the corefx System.Numerics.Vectors.dll library isn't negatively affected.  Thanks!)

[2015-11-09 19:00] LLITCHEV commented on #1962
Seems to work fine with the latest corefx bits.

[2015-11-09 19:00] #1962 closed

[2015-11-09 21:53] pgavlin commented on #1995
It very well may be, but can you please explain why? If it is correct, it at least deserves a comment, as it appears quite counter-intuitive.

[2015-11-09 22:20] morganbr commented on #1798
@GSPP, if you'd like to experiment with it, you can change the default hash algorithm with code like this:
[code]

[2015-11-10 09:20] krwq opened #2003 "JIT - slow generated code on Release for iterating simple array of struct"
Byte array iteration code:
[code]
Struct iteration code
[code]

Generated code (byte array):
[code]

Generated code for struct - (expecting similar generated code - this is the simplest optimization you can think of here, I even provided struct size and readonly to make it easier)
[code]
This is more than 30% slower and this is just a simplest case.

[2015-11-10 09:42] mikedn commented on #2003
This is 32 bit code, it's not generated by RyuJIT.

For `byte[]` RyuJIT generates:

[code]

For `MyByte[]` RyuJIT generates:

[code]

The 2 versions have very similar codegen but even so the `MyByte` version is still some ~10% slower, probably due to the additional `mov r8d, 123`.

That makes no difference. So does the use of `unchcked`.

[2015-11-10 17:17] mmitche opened #2004 "Build of mscorlib taking a long time on clean systems"
On a clean system with no nuget cache, building mscorlib takes an excessive amount of time (> 10 mins).  Any ideas why?

/cc @stephentoub @ellismg @pgavlin

[2015-11-10 17:37] adityamandaleeka commented on #1795
Closing this issue as complete.

[2015-11-10 17:37] #1795 closed

[2015-11-10 17:45] ygoe opened #2005 "Make PEVerify output useful"
I'm generating or manipulating assemblies at the IL level with Mono Cecil. This can lead to all sorts of errors and I use PEVerify to find them. But when the full output of PEVerify is just "The method does not exist." (or whatever the text is in English) then it's not helpful at all. No token number, no affected type, no nothing. Where should I even start to look for the problem? What does the de

[2015-11-10 17:46] pgavlin commented on #2004
Last time I checked most of that time was being spent in dnu (on both Windows & Linux).

[2015-11-10 18:22] jkotas commented on #1187
Assembly.Load(AssemblyLoadContext.GetAssemblyName(@"..."))

Actual: throws "Assembly.Load with a Codebase is not supported on Windows Phone" exception
Expected: work fine

[2015-11-10 19:19] mikedn commented on #1865
I discovered accidentally that CoreCLR too generates that block layout for other loops:

[code]
generates
[code]

[2015-11-10 21:31] gkhanna79 opened #2007 "Enable Resgen to be .NET Core API surface compliant"
Resgen, today, emits code that assumes Desktop API surface. For .NET Core based applications, it needs to be compliant with .NET Core API surface.

[2015-11-11 05:49] leppie commented on #2005
Can you dump the IL as a gist? (also doing a ildasm/ilasm cycle might give more info about the error)

[2015-11-11 07:10] LockTar commented on #1303
I created a bug report. Thanks.

[2015-11-11 12:02] mgravell commented on #1235
Have you seen the corefxlab stuff? In particular `System.Buffers`; this is all just speculative ideas, of course, not actual production stuff: https://github.com/dotnet/corefxlab/tree/master/src/System.Buffers

[2015-11-11 14:28] psmolinsky opened #2014 "CultureInfo without user overrides"
How to get a `CultureInfo` without user overrides, please? In full .NET Framework there is [constructor with such parameter](https://msdn.microsoft.com/en-us/library/7h898a16.aspx) or [GetCultureInfo method](https://msdn.microsoft.com/en-us/library/yck8b540.aspx).

[2015-11-11 22:05] weltkante opened #2021 "Deadlock due to RunContinuationsAsynchronously not being respected by Task.WhenAll"
I'm seeing a TaskCompletionSource created with RunContinuationsAsynchronously deadlocking because when I call SetResult a waiting callback is executed synchronously - the very situation this flag is supposed to prevent, as far as I understand it. The callback which gets executed synchronously is not waiting for the TCS directly, but for a Task.WhenAll and the TCS task is part of that WhenAll condi

[2015-11-11 22:24] stephentoub commented on #2021
Yes, unfortunately this is a bug, specific to Task.WhenAll/WhenAny.  It was fixed for .NET 4.6.1.  @AlfredoMS, @weshaggard, when can we expect that fix to show up in the coreclr repo?

[2015-11-11 22:41] AlfredoMS commented on #2021
@stephentoub unfortunately this was discovered too late for 4.6.1 but it will be in the next update. But it will be on coreclr before that.

[2015-11-11 22:52] #1187 closed

[2015-11-11 22:52] #1740 closed

[2015-11-11 23:16] pgavlin opened #2022 "Windows x86 Release build failing in DacTableGen"
e.g. http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/x86_release_windows_nt_prtest/13/console

/cc @mmitche

[2015-11-11 23:19] mmitche commented on #2022
/cc @adiaaida

[2015-11-12 00:03] adiaaida commented on #2022
/cc @jkotas Looks like it can't find g_hrFatalError in x86 release build of coreclr.

[2015-11-12 01:55] jkotas commented on #2022
I am not able to reproduce this on my machine - perhaps the CI is using a different version of the compiler than I got.

However, I have submitted a PR that should fix it: https://github.com/dotnet/coreclr/pull/2025 . Is there a way how to make the CI to run x86 ret built on it?

[2015-11-12 02:08] mmitche commented on #2022
'@dotnet-bot test x86 windows release' should work.

Sent from my Windows Phone
________________________________
From: Jan Kotas<mailto:notifications@github.com>
Sent: ‎11/‎11/‎2015 5:55 PM
To: dotnet/coreclr<mailto:coreclr@noreply.github.com>
Cc: Matt Mitchell<mailto:mmitche@microsoft.com>
Subject: Re: [coreclr] Windows x86 Release build failing in DacTableGen (#2022)

I am not able to reproduce

[2015-11-12 03:24] erozenfeld commented on #1619
@redknightlois @GSPP I implemented some improvements for rotation matching based on your feedback: it will now work when instance fields, static fields, or ref params are involved. It will also work when ^ is used instead of |.
Pull request is here: #2027

[2015-11-12 07:22] benaadams commented on #983
This will directly effects the performance of the [AspNet Kestrel](https://github.com/aspnet/KestrelHttpServer) server on Linux when using coreclr which heavily makes use of System.Numerics.Vectors e.g. [MemoryPoolIterator](https://github.com/aspnet/KestrelHttpServer/blob/52f4fa91e3f68c5f8a2e726432d85806024fd834/src/Microsoft.AspNet.Server.Kestrel/Infrastructure/MemoryPoolIterator2.cs#L246) for re

[2015-11-12 13:59] angelsix opened #2029 "RandomNumberGenerator on DNX 5.0"
Is there a plan in the RC to have the RandomNumberGenerator available in DNX50. Right now its only in 451.

[2015-11-12 14:34] jkotas commented on #2022
Fixed by https://github.com/dotnet/coreclr/pull/2025 + https://github.com/dotnet/coreclr/pull/2028

[2015-11-12 14:34] #2022 closed

[2015-11-12 16:35] AlfredoMS commented on #2021
Fix merged in https://github.com/dotnet/coreclr/pull/2026

[2015-11-12 16:35] #2021 closed

[2015-11-12 17:31] AndyAyersMS commented on #1923
@JohnChen0 did you try crossgen on all the framework assemblies with RC1? I am seeing failures.

[2015-11-12 21:54] JohnChen0 commented on #1923
@AndyAyersMS I have run crossgen on a large number of framework assemblies without seeing any issues. Could you please provide more details of the failures?

[2015-11-12 23:18] mikem8361 opened #2035 "Stepping RIP relative OSX breakpoint patches still have problems"
In the rare case of stepping a breakpoint patch containing a RIP relative instruction on OSX, the mach exception code doesn't dispatch the exception to the VM/debugger code because the IP can be anywhere and part of the various IsHandledException conditions.

One fix is to mark the pal thread when the EE debugger code sets the single-step flag (unmark it when the EE unsets the trace flag) and alwa

[2015-11-12 23:26] cshung opened #2036 "For unhandled exceptions, CLR should also write inner exception information to event log"

[2015-11-12 23:29] stephentoub opened #2037 "UTF8ToUnicode doesn't employ fallback replacement on Unix"
Small repro:
[code]
On Windows, this prints out:
[code]
On Linux, however, it prints out:
[code]
This appears to be due to UTF8ToUnicode (which is used as part of MultiByteToWideChar, which is used as part of StringObject::NewString, which is used in attribute parsing) not falling back to 0xFFFD for each invalid code unit, which MultiByteToWideChar on Windows does.

cc: @jkotas, @janvorli, @ellism

[2015-11-12 23:36] mikem8361 opened #2038 "Make the global CPalThread list lock-less"
So in the OSX exception notification thread can look up the pal thread object without deadlocking the rest of the system.

[2015-11-12 23:49] eerhardt commented on #1717
I tested this with 1.0.0-rc2-16128 coreclr.

[code]

prints out:

[code]

However, it doesn't look like this change made rc1, when I use 1.0.0-rc1-15838, I get the output:

[code]

Closing as this is now fixed in the latest code.

[2015-11-12 23:49] #1717 closed

[2015-11-13 01:02] ellismg opened #2040 "JIT/Regression/CLR-x86-JIT/V1-M12-Beta2/b68872/b68872/b68872.sh failed in CI"
[code]

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/release_ubuntu_tst_prtest/94/console

[2015-11-13 01:02] ellismg commented on #2040
/cc @LLITCHEV @janvorli

[2015-11-13 01:05] LLITCHEV commented on #2040
/cc @adityamandaleeka
Yes... This is a known test failure. I believe there is an open issue for this test already. Aditya/Jan?

[2015-11-13 05:48] brianrob commented on #1977
FYI, this will affect performance tracing on Linux and Mac.

[2015-11-13 05:49] brianrob commented on #1991
cc: @davmason

[2015-11-13 07:56] BruceForstall commented on #1977
@brianrob: is this because performance tracing on Linux/Mac x64 uses RBP chains exclusively (and not the Windows AMD64 unwind codes that we still emit) for stack traces?

[2015-11-13 08:26] janvorli commented on #2040
I have fixed the issue here: https://github.com/dotnet/coreclr/pull/2031 and it was in the list of disabled tests before. So I wonder how is it possible that you see it failing.

[2015-11-13 14:27] janvorli commented on #2037
@wtgodbe is working on replacing the UTF8ToUnicode by a port from the managed version that we have in mscorlib. The issue should get fixed by that.

[2015-11-13 17:39] benpye commented on #1192
Going through to check build status once again. The new dep on liblttng brings in a library liburcu which is broken on ARM in Trusty with clang. We require version 0.7.15 or later with the commit https://github.com/urcu/userspace-rcu/commit/7a3e2ed26a6be1deac2cfde1d062526497d4ae9f for it to build else Clang will error.

[2015-11-13 18:27] masonwheeler commented on #1192
So Ubuntu is shipping an outdated library that won't build?  That's a bit odd...

[2015-11-13 18:31] brianrob commented on #1977
@BruceForstall, that's correct.  Linux does not know anything about Windows AMD64 unwind info.

[2015-11-13 18:36] janvorli commented on #1977
@brianrob if it would be possible to plug in our own stack walker, then we might be able to use the copy of the windows unwinder in CoreCLR that we have there to be able to unwind stack for exception handling and GC purposes.

[2015-11-13 19:04] kangaroo commented on #1192
The ubuntu urcu header won't build with newer clang.  It builds just fine with gcc and older clangs.

[2015-11-13 19:48] JohnChen0 opened #2044 "Buffer overrun in crossgen can cause crashes"
There is a buffer overrun in the SetMscorlibPath function used by crossgen. This can cause crossgen to crash if /Platform_Assemblies_Paths option is specified, and the directory containing mscorlib happens to have a length of 8n+2.

[2015-11-14 01:30] benpye commented on #1192
Clang 3.5 is too new however? I suppose 16.04 will be okay by the time that releases but that is some time in the future.

[2015-11-14 11:55] dg9ngf commented on #2005
You can download the assembly files here:

https://drive.google.com/file/d/0B8CN0ghdY1SdaGdrZXlESVE3Y2s/view?usp=sharing

I haven't made especially good experience with ildasm+ilasm, Most of the time something is missing that is not represented with IL so the result is incomplete and doesn't work.

[2015-11-14 18:38] NickCraver commented on #1863
We'd like to see this added as well. We're currently doing custom implementations in Dapper we'd rather avoid.

[2015-11-14 18:51] drbo commented on #652
Is it possible to change the behavior while managed code is executing from the current Unix hosting API?  If so, it might be possible for managed code to P/Invoke the CLR's own hosting API.

Note: This could be Undefined Behavior &ndash; please let me know if it is.

[2015-11-15 13:18] stephentoub opened #2051 "String.StartsWith/EndsWith/IndexOf/LastIndexOf ignoring null characters on Unix"
For example, this:

[code]

prints out true.

[2015-11-15 16:11] branciat commented on #1863
i saw that It's added in the rc2 on myget aspnetcidev repository, i use for target coreclr.

[2015-11-15 18:42] rstarkov opened #2053 "InvalidProgramException occurs for a simple assembly (RyuJIT only)"
The following IL program, when assembled and run, throws an InvalidProgramException when RyuJIT is used. Disabling RyuJIT makes the problem go away. The program passes v4.6 of peverify.

The instruction at the after_try label seems to be crucial. Moving that instruction (along with the label) to after the finally block makes the problem go away.

    .assembly extern mscorlib
    {
        .public

[2015-11-15 19:08] Timwi commented on #2053
Interesting find. I managed to reproduce this with an actual C# program which compiles to IL that is fairly equivalent to yours. However, the exception only triggers on a 64-bit system and with the “Prefer 32-bit” option disabled (so that the process runs as 64-bit). Here is the C# code:

    public static class Program
    {
        public static void Main()
        {
            try

[2015-11-15 20:23] cmckinsey opened #2054 "OSX build fails with latest CMAKE 3.4 release"
Trying the mac build for the first time. Install directions say to use:

brew install cmake

picked up the latest version 3.4 which appears to not work. The build.make file corresponding to this .S file that was generated does not have $(ASM_INCLUDE) in the production for assembling the file.

/Users/cmckinsey/dev/coreclr/src/vm/amd64/calldescrworkeramd64.S:7:10: fatal error: 'unixasmmacros.inc' f

[2015-11-15 20:43] caesay commented on #2053
I can confirm that the code Timwi posted crashes on my system:
OS: Win 10 x64 / .Net: 4.6
Tried with and without the vs hosting process (no change). Running the program compiled for 32bit has no issues as suggested. If I run compiled for 64bit, it crashes - but only if "Optimize Code" is left un-checked.

[2015-11-16 08:26] LLITCHEV opened #2058 "Fix couple of problems reported by valgrind"
In valuenum.h the assert below should be reversed. pVal could be nullptr.
            bool result = SimplerHashTable<fromType, keyfuncs, ValueNum,
                                     DefaultSimplerHashBehavior>::Lookup(k, pVal);
            assert(*pVal != RecursiveVN || !result);

In lower.cpp scale and offset are not initialized (the scale value is undefined if the SCALED_ADDR_MODE is not defin

[2015-11-16 15:09] lstratman opened #2059 "coreclr_create_delegate corrupts memory under x86, but not x64"
I have a [project](https://github.com/medicomp/edge) that serves as a bridge between Node.js and .NET and have recently updated it to support CoreCLR; it is native code that is bootstrapping CoreCLR and then calling coreclr_create_delegate to get pointers to various CLR methods that serve as an interop layer.  Everything works great when the project is compiled as an x64 binary and I use an x64 ve

[2015-11-16 15:13] lstratman commented on #2059
Also, I have tested this using the latest stable (1.0.0-beta8) and unstable (1.0.0-rc2-16177) builds.

[2015-11-16 19:19] brianrob commented on #1977
@janvorli, unfortunately, there is no extension point in perf for this.  There actually aren't really any extension points to my knowledge.  It's something that we could consider building, but we'd likely need to engage the maintainers early - I'm not sure if there are others that would want this as well.

[2015-11-16 21:01] cmckinsey commented on #2003
@krwq Thanks for the report. And @mikedn thanks for the analysis. There is definitely room for improvement. While this test case is just a synthetic example, it is actually representative of many CPU intensive inner loops that we care about.

I believe most of these are things the team is aware of. If I can summarize:

- Hoist invariant array-length loads out of loop
- Hoist the bounds-check out o

[2015-11-16 21:01] rstarkov commented on #2053
The code is produced by serializing a graph representing a method's IL. I'm going to see if the code you linked to hints at what work-around we should employ, but if you have a specific suggestion that would be very helpful.

It's true that my example has a lot of dead code, but the program I started with didn't. I suspect @Timwi could construct an example where the code isn't dead, but it sounds

[2015-11-16 21:21] cmckinsey commented on #1993
Thanks for the report Neil. In general I'd like the JIT to be less sensitive to minor code-shape/structure issues such as whether or not a single-def/single-use named variable is used rather than embedded in the consuming tree. While users can work-around this in limited fashion, in the presence of inlining this becomes impossible. This transformation proves crucial in other MS compilers that have

[2015-11-16 21:38] mikedn commented on #1993
@cmckinsey

No need, if the div/mod PR is merged this particular issue is solved because the and/test -> test transform is done in `LowerCmp`.

[2015-11-16 22:02] BruceForstall commented on #1977
This is a discussion of the problem and proposal for a fix.

The problem is that the JIT for non-Windows, x64, in functions with localloc, uses the RBP register as a frame pointer, but does not point RBP and the saved version of the caller's RBP. Thus, the "RBP frame chain" is broken, which confuses non-Windows x64 tools such as LLDB/GDB which depend on accurate RBP chains. In functions without lo

[2015-11-16 22:02] BruceForstall commented on #1977
@janvorli @jkotas @LLITCHEV Comments?

[2015-11-17 00:33] BruceForstall commented on #2053
This is caused by a case where the "finally" is the very last thing in the function or handler. Normally, there is code after that, such as a return. But in this case, the call-to-finally occurs last, and branches backwards to a block that then has a return from the catch. The workaround is to make sure there is at least some code after the try/finally.

I am testing a fix.

[2015-11-17 01:47] cshung commented on #2036
It looks like the changes for writing inner exception information to event log is already there.

[2015-11-17 01:47] #2036 closed

[2015-11-17 06:29] ellismg commented on #2054
The build requires mono and mono is flaky when trying to build mscorlib.dll so we don't run it in CI.  I've had luck using a local build of mono and doing work arounds like setting `MONO_THREADS_PER_CPU` to a large number (I usually do 2000).

I have not tried to build mscorlib on OSX in the past few days, but it should work.  What error are you getting?

[2015-11-17 06:30] ellismg commented on #2040
Possible that there was just a race around files getting updated and so when the test ran it was using a newer version of the exclusions file but a runtime without the fix.  Closing for now.

[2015-11-17 06:30] #2040 closed

[2015-11-17 06:31] ellismg commented on #2029
/cc @davidfowl

[2015-11-17 07:15] LLITCHEV commented on #1977
Thanks for writing this Bruce! It is very useful.
Couple of things that come to mind:
1. IMHO burning a register is a bad thing in terms of CQ. I'd personally try to avoid this.
2. The last paragraph states that using the RBP in funclets to point to the parent's frame is not a problem. As I recall talking to @janvorli and @JosephTremoulet there was a desire to change this. It prevents the debugger

[2015-11-17 08:14] ViciousPotato opened #2072 "CodeGenBringUpTests/Rotate.cs forgets third constructor parameter"
Line 291
https://github.com/dotnet/coreclr/blob/master/tests/src/JIT/CodeGenBringUpTests/Rotate.cs#L291

Obviously Test constructor takes third parameter. Error jenkins log from last *successful* run:

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/debug_windows_nt/219/consoleFull

@erozenfeld

[2015-11-17 09:27] cmckinsey commented on #2054
I see this error:

Commencing build of mscorlib components for OSX.x64.Debug
  mscorlib -> /Users/cmckinsey/dev/coreclr/bin/obj/OSX.x64.Debug/mscorlib.dll
  Error: FindPackagesById: runtime.linux.System.Net.NameResolution
    Too many open files
  Error: FindPackagesById: runtime.linux.System.Net.NameResolution
    Too many open files
  Error: FindPackagesById: runtime.linux.System.Net.NameResolut

[2015-11-17 15:35] RussKeldorph commented on #938
Not likely to make progress on this in the foreseeable future.  Better to close for now.

[2015-11-17 15:35] #938 closed

[2015-11-17 16:30] mmitche commented on #2072
@jaredpar @ViciousPotato It looks like it knew the test build failed, but didn't exit:

%_buildprefix% %_msbuildexe% "%__ProjectFilesDir%\build.proj" %__MSBCleanBuildArgs% /nologo /maxcpucount /verbosity:minimal /nodeReuse:false %_buildParameters% /fileloggerparameters:Verbosity=diagnostic;LogFile="%__TestManagedBuildLog%";Append %* %_buildpostfix%
IF ERRORLEVEL 1 echo Test build failed. Refer to

[2015-11-17 16:33] jaredpar commented on #2072
@mmitche yep.  This line seems to be the culprit

https://github.com/dotnet/coreclr/blob/master/tests/buildtest.cmd#L169

[2015-11-17 17:13] pgavlin commented on #1995
Closed by #2009.

[2015-11-17 17:13] #1995 closed

[2015-11-17 17:28] LLITCHEV opened #2075 "Implement proper interop to PInvoke for structs contataining an object ref"
Currently on Windows the CLR uses a VARIANT type to pass the object ref to the native PInvoke.
For non Windows systems it throws a TypeInitializationException.

After discussing with interop team a work is underway to either throw UnsupportedException or to properly marshal the obj ref.

[2015-11-17 17:31] LLITCHEV opened #2076 "Fix the disabled tests in the System V struct passing tests when Issue #2075 is resolved"
Once the issue #2075 is resolved enable the commented out tests in System V bringul tests in JIT/Methodical/structs and make them test the right thing.

[2015-11-17 18:56] bartonjs opened #2080 "Linux: Unicode input on the command line doesn't always read correctly"
[code]
Extended-ASCII characters (e.g. 'ü') seem to survive this, but larger characters get behavior I have trouble predicting:

[code]

Two major things of note:
1) Inputs with index 1 and 2 changed answers between subsequent runs
2) The input `en.日本語.com` was given 4 different times, and got 4 different answers.

Linux retail CoreCLR built from b13c844
CoreFX binaries: ProductVersion 4.6.23512.0

[2015-11-17 19:22] #2072 closed

[2015-11-17 19:43] tarekgh commented on #2014
@psmolinsky could you tell abut the scenario you need this for? usually the apps should work with whatever user chose but I am curious to know your scenario that don't need the user overrides.

[2015-11-17 22:50] stephentoub opened #2083 "Seg fault in ICU on Ubuntu 15.10 with IC 55"
It's possible something is set up incorrectly in my environment, but I just tried setting up an Ubuntu 15.10 VM (including rebuilding coreclr and the corefx native binaries), which has ICU v55.  A very simple program:
[code]
ends up crashing 90% of the time, in the following place:
[code]
I can't get this to repro at all while running under gdb or lldb, but it repros almost all the time when just

[2015-11-17 23:21] janvorli commented on #2059
I'll take a look, thanks @lstratman for reporting the problem.

[2015-11-17 23:24] janvorli commented on #2054
@cmckinsey The "too many files" is something that @gkhanna79 was looking into few weeks ago and the fix was to raise the allowed number of open files. I am not sure what was the exact way to do that for OSX, @gkhanna79 can you please comment on it here?

[2015-11-17 23:33] janvorli commented on #1969
Fixed by #2031

[2015-11-17 23:33] #1969 closed

[2015-11-17 23:49] BruceForstall commented on #1977
I believe you're suggesting "burning" a register in the funclets only (but not the main function) to hold the "frame pointer", instead of using RBP to access locals. It needs to be a callee-saved register (if the funclet has a call); it's easiest just to designate one in advance. It might be hard to plumb through the JIT which "frame pointer register" is being used at a particular point.

[2015-11-17 23:52] LLITCHEV commented on #2076
@joshfree This tracks enabling the tests after the issue #2075 is resolved. These two go hand in hand. If this issue is to be resolved by RC2 so should be issue #2075.

[2015-11-18 00:13] #2053 closed

[2015-11-18 02:39] kevin-coder opened #2085 "Build runtime will fail"
Environment:
Windows 8.1, Visual Studio 2015, CMake 3.4.0-rc2. Latest version of code.
Reproduce steps:
1. Enter into the coreclr folder.
2. Type build clean, after a few minutes, it will be fail. See build log for details in attachment.

[MScorlib_Windows_NT__x64__Debug.TXT](https://github.com/dotnet/coreclr/files/37454/MScorlib_Windows_NT__x64__Debug.TXT)

[2015-11-18 02:56] ellismg commented on #2054
Try `ulimit -n 2048` to update the number of allowed open files.  You can see the current limits with `ulimit -a`.

[2015-11-18 04:54] schotime opened #2086 "Internal Constructor for MemberInfo"
Just wondering why this is so?
It means I can't create a DynamicMember (like PropertyInfo but not known at compile time) that inherits from MemberInfo. I can currently do this.