[2017-03-28 19:34] adityamandaleeka commented on #3939
Opened #10531 for the 544701 time-out

[2017-03-28 19:46] adityamandaleeka commented on #10531
I just looked at this test and it just allocates byte arrays in a loop, starting at 41938869 bytes and incrementing the number of bytes all the way to 41943020. Looking at those logs, it really does appear to be a normal time-out (nothing nefarious is going on) and we simply don't get a chance to get all the way to the end of the loop.

@jkotas @Maoni0 I'm not sure what the context of this test is

[2017-03-28 19:49] #3939 closed

[2017-03-28 19:55] BruceForstall commented on #10423
Super interesting. I wish I had time to dig in to this!

Seems weird that some functions show up twice in the list (e.g., GenTree::OperKind, GenTree::OperIsBinary).

cc @pgavlin

[2017-03-28 19:59] pgavlin commented on #10423
@mikedn I would love to see what the counts are with inlining enabled, too. Which build flavor did you use for this? I assume you just used the VS profiler?

[2017-03-28 20:09] JosephTremoulet commented on #10481
That's what I'd expect too

Yeah, that comment is a bit troubling.  I can't figure what the issue would be (partially-but-not-exactly-overlapping copies have memmove-vs-memcpy issues, but dropping the copy on the floor wouldn't make it more correct...), will try to poke around a bit before sending out PR.

[2017-03-28 20:58] adityamandaleeka commented on #10520
I believe the code paths involved in loading your dylib should just be using `dlopen`. Information about how `dlopen` probes for libraries on macOS is at [this man page](https://developer.apple.com/legacy/library/documentation/Darwin/Reference/ManPages/man3/dlopen.3.html).

If that doesn't help, please provide a minimal sample and we can help you figure out what's going wrong.

[2017-03-28 21:03] #10358 closed

[2017-03-28 21:27] kouvel commented on #8518
Dupe of dotnet/corefx#14376

[2017-03-28 21:27] #8518 closed

[2017-03-28 22:01] mikedn commented on #10423
Probably a red herring generated by `/OPT:ICF`. Have to disable that and re-run profiling but it takes a while so it will happen tomorrow.

Those are correct, we have static and non static member functions with the same name.

Yep, I'll try that. And sampling too.

x64 release (which uses `/O1` so it doesn't inline very aggressively anyway) + `/Ob0` + `/PROFILE`. As mentioned, I'll need to add `/O

[2017-03-28 22:13] pgavlin commented on #10423
If you have access to a Linux or OS X machine, you might try passing the `-fno-inline` flag and using `callgrind` to get counts. `callgrind` generates vastly less data and should not take more than ~10 minutes for `crossgen S.P.CoreLib` (e.g. my 1.4GHz Core i5 MacBook Air takes about 10 minutes while my much more powerful Linux workstation takes little enough time that I haven't bothered measuring

[2017-03-28 22:22] mikedn commented on #10423
If I had enough free disk space I'd install Linux but I don't have that space so I'll make do with what I have :)

I'm not sure how `callgrind` could generate less data. Either when you used it you didn't try `-fno-inline` so there were far fewer calls to count or it doesn't collect other useful information like stack traces. Knowing the call count is nice but if you don't know who called what it'

[2017-03-28 22:30] Maoni0 commented on #10531
did this test just get added to the CI run? has this timeout always been there?

[2017-03-28 22:33] pgavlin commented on #10423
I have not used it with `-fno-inline`. I am not sure if it captures whole stacks, but it does capture caller/callee data. A normal run of `crossgen S.P.C` on OS X generates about 7 MB of data. FWIW, the output format is [publicly documented](http://valgrind.org/docs/manual/cl-format.html).

[2017-03-28 22:44] mikedn commented on #10423
Well, with inlining enabled VS instrumentation profiling completes in ~6 minutes and generates 25 GB of data. Guess which function comes out on top :smile:

![image](https://cloud.githubusercontent.com/assets/9973420/24430790/14f8aafc-1421-11e7-97ee-bbf8c4eb2651.png)

[2017-03-28 22:54] BruceForstall commented on #10423
Nice. First thing I noticed: NumSucc() is called more than GetSucc(), which seems very weird. I see a few cases in importer and LSRA that use:

[code]
and should instead use:
[code]

[2017-03-28 22:55] adityamandaleeka commented on #10531
I don't know how far back it goes, but in the last ~150 jobs for Windows x64 Debug it has occurred 5 times. I don't think we have CI logs further back than that, but we know it has occurred even before then since @janvorli also reported it 21 days ago: https://github.com/dotnet/coreclr/issues/3939#issuecomment-284711299

[2017-03-28 23:05] jkotas commented on #3541
We need to mask the attribute here: https://github.com/dotnet/coreclr/blob/master/src/vm/baseassemblyspec.cpp#L271

@fadimounir We need to fix this for 2.0. It is blocking F# on .NET Core. If you are not able to get to it, somebody else in Gaurav's team should be able to take care of it. Thanks.

[2017-03-28 23:23] Maoni0 commented on #10531
The worry is if this is a new issue - assuming we had not reduced the time out value, if this timeout didn't happen before but started to happen at some point that would point to a perf problem (it is a debug build but this doesn't use much other than the GC). Would it be possible to run it with a dbg build that's from a while back (eg a 1.0 build)?

[2017-03-28 23:23] adityamandaleeka commented on #10531
I'm running a little experiment in CI to see (a) how long this test is taking in CI in general and (b) whether it has regressed at all compared to 2 months ago.

Locally it runs in about 6 seconds on my (fairly powerful) machine. The default timeout in CI appears to be 10 minutes, so the test is running at least 100x slower on CI when these failures occur. I wonder if the excessive WriteLines have

[2017-03-28 23:24] adityamandaleeka commented on #10531
@Maoni0 Nice, we posted at about the same time 😄. I was worried about the same thing, which is why I'm running the experiment. I'll report back with results.

[2017-03-28 23:58] tarekgh commented on #10390
I have tested with Double.MaxValue/2 and got interesting results which confirm the plan. I run the test with same loop mention above.

Linux without any changes it took 13,200 ms
Windows it took 6200 ms
Linux with the corert implementation it took 3900 ms
Linux with using ecvt_r 1100 ms

It is clear using ecvt_r is the best and corert implementation was much better than Windows in such case

[2017-03-29 00:04] rahku commented on #9045
There are two instances in corelib where HandleProcessCorruptedStateExceptions attribute is used
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/ExecutionContext.cs#L150
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/ExecutionContext.cs#L201

I believe there might be other scenarios where people might use this attribute on desktop li

[2017-03-29 00:16] BruceForstall commented on #9706
@seanshpark I think it's important to understand why IL_STUB_UnboxingStub is appearing on Linux/x86 but (apparently) not on Windows/x86, for this test case. Can you determine this, by seeing how the JitDump output (or disasm output) differs between the two?

@janvorli Do you know the answer?

[2017-03-29 00:35] janvorli commented on #9706
@BruceForstall the reason is that we have switched Linux x86 to using IL stubs while on Windows x86, we generate the stubs in machine code. It is controlled by the FEATURE_STUBS_AS_IL.

[2017-03-29 00:45] parjong commented on #9706
@BruceForstall As I understand, ``FEATURE_STUBS_AS_IL`` is enabled for Linux regardless of architecture as ``libunwind`` (which is used for stack unwinding) failed to unwind manually emitted stubs properly.

FYI, #9752 enables ``FEATURE_ARRAYSTUB_AS_IL`` for x86/Linux.

[2017-03-29 00:55] jkotas commented on #9045
It is left over from the hardening against corrupted state exceptions that was never done completely.

I still think we should fail fast whenever process corrupting exception reaches managed code, and not do any processing or handling of them in .NET Core. In particular, any processing of dirty AVs is security liability. It is best to fail fast for them right away.

[2017-03-29 00:59] JosephTremoulet commented on #10481
The comment was added (with the check) in #7967 (technically in #8057 which #7967 got folded into) -- there's an explanation there:

Since clearly we need to generate the copy in this case, the assertion in liveness needs to accomodate this pattern (haven't checked yet whether that assertion it already takes field/offset into account, but just modifying morph lets the code above compile w/o assert

[2017-03-29 01:35] ramarag commented on #9014
@ole1986  i have a suspicion that this is a PAL issue, is it possible for you to Provide a repro environment/ full steps

[2017-03-29 01:41] seanshpark commented on #9706
I'm sorry but I think it's hard for me to setup Windows x86 right now. And @janvorli and @parjong comments should be an answer.

[2017-03-29 01:42] adityamandaleeka commented on #10531
Unfortunately, the regression part of the experiment wasn't successful because of some other changes that have occurred in the past few weeks (the CI is passing in arguments that the test scripts didn't know about before, which is causing failures). That will require a little more work to get working.

However, I did find that the test is generally taking a long time in CI. Here's how long it took

[2017-03-29 01:45] parjong commented on #9706
It seems that #10538 also resolves this. @seanshpark Could you please check again?

[2017-03-29 02:03] jkotas commented on #10528
Why is this tracked in CoreCLR repo?

[2017-03-29 02:30] adityamandaleeka commented on #10531
Yup, as suspected, all the `Console.Write` calls are slowing things down in CI (the test infrastructure writes the output to a file too). I removed most of the console writing and ran 4 more times, with the following durations:

[code]

On a related note, I also noticed that the chaos65204782cs tests in JIT/Generics have timed out a few times as well. Those tests also write a ton of stuff to the c

[2017-03-29 02:37] #6930 closed

[2017-03-29 02:41] imcarolwang opened #10543 "Debug command !dso does not work in server GC mode for .net core app"
In .net core app, add following runtimeconfig, !dso doesn't work; without the config !dso just work.

[2017-03-29 02:54] hughbe commented on #10487
I can't reproduce this anymore. Seems like something non deterministic

[2017-03-29 02:54] #10487 closed

[2017-03-29 03:26] hqueue opened #10545 "Default out filename of crossgen is confusing"
I made a helloworld.dll example as follows. Default extension of helloword application is `dll`.

[code]

Make native image from helloworld.dll using crossgen.
[code]

# Expected Result
Expected out filename is `helloworld.ni.dll`, since input filename is `helloworld.dll`.

# Actual Result
Actual out filename is `helloworld.ni.exe`

It was quite confusing that input filename and output filename ha

[2017-03-29 03:39] #10523 closed

[2017-03-29 03:48] Maoni0 commented on #10531
great!

it seems odd that there's so much variation (~1.5 mins to ~5mins). I presume the time is measured by running this test on one thread in the test infra and with no other tests running at the same time?

[2017-03-29 03:50] seanshpark commented on #9706
@parjong, it's merged to master and the test now passes.

[2017-03-29 03:51] BruceForstall commented on #9706
@janvorli Makes sense. Don't we have `FEATURE_STUBS_AS_IL` enabled for Windows x64? Wouldn't we hit this issue on x64 then?

[2017-03-29 03:53] BruceForstall commented on #9706
Oh, guess it doesn't matter :-)

[2017-03-29 03:55] seanshpark commented on #9706
Thank you @BruceForstall :)

[2017-03-29 04:26] swgillespie commented on #10543
@imcarolwang Can you provide some more details? What version of the CLI are you using? What operating system? What sort of "don't work" - is the output wrong or does it crash?

[2017-03-29 04:51] alexanderuv commented on #10520
@adityamandaleeka I looked at the documentation (thanks for that) but I couldn't make it work. According to the documentation, it will look in the current directory or an absolute path. I have tried both but none work. Please find the sample here: https://github.com/alexanderuv/LLVMWrap

[2017-03-29 05:08] ole1986 commented on #9014
I can give it another try.
Do you recommend copying the /opt/dotnet or would a "mount --bind" be an option?!

[2017-03-29 05:20] hqueue commented on #10545
It seems that extension is determined at
https://github.com/dotnet/coreclr/blob/master/src/zap/zapper.cpp#L1587

And for non-dll file, it appends `ni.exe` to module name.

[2017-03-29 05:26] hqueue commented on #5853
/cc: @jyoungyun @hseok-oh @chunseoklee

[2017-03-29 05:38] karelz commented on #10528
I thought cURL bundling happens in CoreCLR -- @janvorli? If I am wrong, feel free to move it.

[2017-03-29 06:18] armartinez commented on #10279
Is there a workaround for Visual Studio Mac ?

[2017-03-29 06:52] imcarolwang commented on #10543
I have repro app built on Win10 with the latest version of .net core SDK installed.
Operating system: tried on Windows10, Windows2012 R2, issue repro on both OS.

**The Details:**

A helloworld app would repro, it's created via "dotnet new console --framework netcoreapp2.0", add   RuntimeIdentifiers node to the **Helloworld.csproj**, like below:
[code]
**program.cs**:
[code]
dotnet build and run,

[2017-03-29 07:08] ipinak commented on #10524
I haven't faced any issue, it's for provisioning planning reasons.

[2017-03-29 07:18] swgillespie commented on #10543
@imcarolwang Thank you, that's very helpful! Can you also post the output of `lmDvmCoreCLR` when run in windbg with coreclr loaded? I'm going to try and reproduce this independent of the CLI tomorrow and that should retrieve the commit hash.

[2017-03-29 07:28] imcarolwang commented on #10543
0:000> lmDvmCoreCLR

[2017-03-29 07:57] janvorli commented on #10528
No, it will happen in corefx repo. I am sorry for not noticing before this issue was in coreclr. Moving to corefx.

[2017-03-29 07:57] #10528 closed

[2017-03-29 07:57] janvorli commented on #10528
Issue moved to [dotnet/corefx #17647](https://github.com/dotnet/corefx/issues/17647) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-29 08:06] PhoebeHui opened #10549 "CoreCLR test JIT\Regression\CLR-x86-JIT\V1.2-M01\b08046\b08046\b08046.cmd fails in release"
CoreCLR test ‘JIT.Regression.XUnitWrapper’ is failed, we encountered this issue for more than 6 times on VS2017 RTW compiler on Windows, sometimes it can’t repro, could someone help have a look?
It will be great if someone make it more reliable.

Repro steps:
1. Get CoreCLR source: ‘git clone https://github.com/dotnet/coreclr D:\CoreCLR\src’
2. Execute ‘build x86 release -Rebuild -- /clp:ShowComma

[2017-03-29 09:06] hseok-oh commented on #10247
In Windows, similar result.

System.Private.CoreLib.dll
[code]

And assert failure: Add1.ni.dll
[code]

[2017-03-29 09:26] karelz commented on #10528
Ah, I didn't realize this stuff happens in CoreFX. Sorry for that Jan & Jan!

[2017-03-29 11:39] mazong1123 commented on #5989
In [number.cpp](https://github.com/dotnet/coreclr/blob/master/src/classlibnative/bcltype/number.cpp#L564), if the most significant 3 hex number is greater than or equal to `0x7FF` , we'll hit the overflow exception:

[code]

In fact, the Double.MaxValue is `0x7FFEFFFFFFFFFFFE` , which definitely enters into this trap. More over, try to convert any double number starts with `0x7FF` will hit this ex

[2017-03-29 13:16] sdmaclea commented on #10454
Fixed by #10534

[2017-03-29 13:16] #10454 closed

[2017-03-29 13:48] sdmaclea commented on #10500
I am not running into issues with this at the moment.  Since this is the current intended design, closing the issue.

[2017-03-29 13:48] #10500 closed

[2017-03-29 13:49] sdmaclea commented on #10359
@erozenfeld When you get a chance PTAL

[2017-03-29 13:51] sdmaclea opened #10555 "[Arm64] GCStress fail dev11_95728"
Loader/classloader/regressions/dev11_95728/dev11_95728/dev11_95728.sh

Starting to debug this failure.  @jashook Please assign this to me.

[2017-03-29 15:01] lt72 opened #10556 "CLR support for selective tracing"
See https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/397155 for details.

[2017-03-29 15:16] gkhanna79 commented on #9045
@jkotas Are you suggesting FX usage of catching such exceptions should issue FailFast or are you suggesting the runtime should just failfast (like we do when there is an AV in the runtime)?

[2017-03-29 15:34] spottedmahn opened #10557 "error CS0103: The name 'InnerExceptionCount' does not exist in the current context System.Exception {System.AggregateException}"
I'm seeing this error when debugging an ASP.Net CORE app that is making some EF Core calls.

![image](https://cloud.githubusercontent.com/assets/14079228/24463061/ad4d8cbc-1473-11e7-85a1-cee8c291f35c.png)

[2017-03-29 16:12] jkotas commented on #9045
I am suggesting that we should fail fast, just like when there is an AV in the runtime.

There is no usage of this in corefx. There are two places in CoreLib where this is used that are left over from incomplete hardening of the framework for the corrupting exceptions.

[2017-03-29 16:15] gkhanna79 commented on #9045
Isn't that breaking with respect to the Desktop?

[2017-03-29 16:36] mikedn commented on #10422
One thing I noticed while looking around is that `SimplerHashTable` allocates memory via `IAllocator` and as such each allocation results in a virtual call. That wouldn't have happened with STL-like data structures.

[2017-03-29 16:46] JosephTremoulet opened #10560 "Update optimization flags/levels in jit interface"
With AOT scenarios now including ngen and crossgen and ready-to-run, desktop and coreclr and corert, and with work in flight on IBC and tiered jitting, it's a good time to take another look at the flags used to control which optimizations the jit performs, and try to get a set in place that will give us the right interface going forward to evolve our codegen/policies in the different scenarios.

[2017-03-29 16:47] JosephTremoulet commented on #10560
The current setup works like so:

 - When the EE asks the JIT to compile a method, it passes `CorJitFlag`s, which include independently-settable:
   - `CORJIT_FLAG_SPEED_OPT`
   - `CORJIT_FLAG_SIZE_OPT`
   - `CORJIT_FLAG_MIN_OPT` "disable optimization"
   - `CORJIT_FLAG_DEBUG_CODE` "no code mangling"
 - The JIT translates these to `JitFlag`s; the mapping is 1:1
 - The JIT then translates these int

[2017-03-29 16:54] JosephTremoulet commented on #10560
Pulling from the list of flags today and some of the [discussion](https://github.com/dotnet/coreclr/pull/10478#issuecomment-290131924) around tiered jitting, we know that the following are some of the goals that we may have for code to be compiled:

 - Make sure stepping through code in the debugger will work well (we have this today in the "debuggable code" flag)
 - Make sure the jit is using the

[2017-03-29 17:02] JosephTremoulet commented on #10560
If the above list is sufficient, it seems to me like it could be represented with eight distinct states:

 1: Use straightforward lowering that is bulletproof and facilitates stepping through in the debugger
 2: Optimize for high throughput
 3 - 8: The six combinations of:
    - Optimization "level" (default / high-CQ)
    - Size/speed sensitivity (size-sensitive / blend / size-insensitive)

[2017-03-29 17:05] BruceForstall commented on #10422
It seems like a virtual call is unlikely to make any (real) difference. I imagine the big issues would be whether excessive memory allocation is occurring, if reallocs happen, locality, etc.

[2017-03-29 17:12] BruceForstall commented on #10560
Another design goal is generally simplicity: reduce the number of combinations that must be tested.

nit: "debuggable" is more than just "facilitates stepping through in the debugger", it also includes accurate variable value access (extend variable lifetimes, make sure debugger knows where the variables live). We also should improve debuggability in the presence of optimization to support live-si

[2017-03-29 17:16] jkotas commented on #9045
Yes, it is difference from desktop.

Handling of corrupted state exceptions is set of low-level desktop features that tried to make it possible to write managed code for what would be best written in plain C. We have abandoned this direction and not included features from this set in .NET Core whenever we had opportunity to do so. Constrained Execution Regions (CERs) or stack overflow handling are

[2017-03-29 17:26] #10508 closed

[2017-03-29 17:26] mikem8361 commented on #10279
@gregg-miskelly Is there a workaround for VS for Mac?

[2017-03-29 17:34] rahku opened #10561 "System.NotSupportedException : Assembly.Load with a Codebase is not supported."
Either Assembly.GetName() should not set Codabase property or LoadFromAssemblyName should ignore CodeBase property in AssemblyName

[2017-03-29 17:37] jkotas commented on #10247
This option only works for fragile native images (ie CoreLib only by default).

The fix should be to also check `pNativeHeader->Signature == CORCOMPILE_SIGNATURE` around here: https://github.com/dotnet/coreclr/blob/3c61ffd676603bb14d4e815e1e249f816d4cbc74/src/ildasm/dasm.cpp#L7366

And fail gracefully instead of crashing if this condition is false.

[2017-03-29 17:39] JosephTremoulet commented on #10560
Good point; sometimes we'll want to change what optimizations we run to improve debuggability (item 1 in my list above), but sometimes we'll want the same optimizations but also to generate debug info as well as we can, so ISTM there should also be a "generate debug info" flag in the interface that's orthogonal to the optimization flags.

[2017-03-29 17:39] swgillespie commented on #10543
cc @mikem8361 - I have a repro and it's probably my fault, I'm looking into it this morning.

[2017-03-29 17:49] mikedn commented on #10422
This is just something I noticed while looking at various profiler traces. I have something like 3 billion retired instructions in `ntdll!LdrpValidateUserCallTarget` and some of the calls come from `SimplerHashTable`.

[2017-03-29 17:55] BruceForstall commented on #10549
Related to #4849?

[2017-03-29 17:59] pgavlin commented on #10022
@jkotas done.

[2017-03-29 18:02] mikedn commented on #10560
Small observation - there's stuff going in lowering that is certainly not required but is done without regard to minopts, magic division for example. It behaved like this before I moved the code around and I always wondered why it doesn't bail out in minopts mode.

[2017-03-29 18:05] BruceForstall commented on #10495
I assume the gap is due to the stack alignment requirement, and the JIT allocating locals top-down, with alignment added at the bottom. What does the code look like for /o?

There's nothing here talking about the RyuJIT/ARM32 back-end, so this isn't related to #8496, right?

[2017-03-29 18:08] BruceForstall commented on #10422
Yeah, I guess `/guard:cf` makes indirect targets more costly.

[2017-03-29 18:23] jashook opened #10563 "runtest.cmd arm64 GenerateLayout will copy x64 packages"
This is manifesting itself by restoring mscorlib.ni.dll, which is not in the arm64 packages but an old x64 package.

[2017-03-29 18:23] jashook commented on #10563
/cc @rahku @RussKeldorph

[2017-03-29 18:24] MacFriis commented on #10279
Until a fix for the VS for Mac is up and running, I use VS for Mac, as editor, and compiler (for checking code) then I run my project locally using the command line "dotnet run", at least I can test my code, before uploading to server, debug... not so much

[2017-03-29 18:28] alpencolt commented on #10495
OK, I see. But is it correct that stack guard is stored such way? We can lose overflow in some cases.
`loc0` is mapped to register in `/o` version, I think that the answer why there is no gap.
Here is the prologue for `/o` version:
[code]

About RyuJIT/ARM32 you right, it's more about `lclvars` module. I've almost implemented `stackalloc` for ARM32 but have the same gap.

[2017-03-29 18:33] gregg-miskelly commented on #10279
I don't have precise steps, but you can work around this by downloading https://vsdebugger.azureedge.net/coreclr-debug-1-9-0/coreclr-debug-osx.10.11-x64.zip, and replacing the version of vsdbg that VS for Mac is using with that version.

@DavidKarlas do you have better instructions?

[2017-03-29 18:38] JosephTremoulet commented on #10481
The assertion in liveness was removed in #7967/#8057.  So, since
 - removing partially-overlapping assignments isn't correct, and
 - I don't have a concrete reason to think helpers couldn't cope with exact self-assignments, and
 - the jit can't generally guarantee that it avoids self-assignments (without injecting run-time pointer equality tests)

I'm going to go ahead and submit a PR that removes

[2017-03-29 18:51] #9879 closed

[2017-03-29 18:54] suqram commented on #10279
This fixed it for me, in Visual Studio for Mac:

1. Download https://dotnet.myget.org/F/dotnet-core/api/v2/package/runtime.osx.10.10-x64.Microsoft.NETCore.Runtime.CoreCLR/1.1.2-servicing-25123-01
2. Open the resulting file as a zip, and copy out runtimes/osx.10.10-x64/native/libdbgshim.dylib
3. Navigate to /Applications/Visual Studio.app/Contents/Resources/lib/monodevelop/AddIns/DotNetCore.Debugge

[2017-03-29 19:05] MacFriis commented on #10279
@suqram  You just saved my day and night! Thx.

[2017-03-29 19:23] adityamandaleeka commented on #10531
No, I just let the CI operate normally (since we wanted to know how long it's taking in general), so other tests _are_ running in parallel. Since the timing of things can affect exactly what else is running at the same time as this test, the execution times have a large variance.

[2017-03-29 19:54] BruceForstall commented on #9648
Fixed by #9679

[2017-03-29 19:54] #9648 closed

[2017-03-29 20:01] BruceForstall commented on #9265
@parjong How's it look now?

Should we create a Linux/x86 GitHub project (https://github.com/dotnet/coreclr/projects)? It's a relatively new GitHub feature -- not sure how useful it really is.

[2017-03-29 20:06] lt72 commented on #445
Mostly just untested, David is working on completing testing already.

[2017-03-29 20:11] BruceForstall commented on #8616
@hqueue Is this issue still active? Or can you close it because #8617 fixed it?

[2017-03-29 20:13] BruceForstall commented on #8519
Fixed with #8520

[2017-03-29 20:13] #8519 closed

[2017-03-29 20:18] BruceForstall commented on #8094
@gkhanna79 Is this Windows or Linux? What tests fail? RyuJIT or legacy JIT?

[2017-03-29 20:19] gkhanna79 commented on #8094
Windows and using the JIT that is in the repo.

[2017-03-29 20:23] #6550 closed

[2017-03-29 20:24] lt72 commented on #6549
Please re-open if you need to.

[2017-03-29 20:24] #6549 closed

[2017-03-29 20:24] lt72 commented on #6550
Please re-open if you need to.

[2017-03-29 20:28] lt72 commented on #7541
@mikem8361: please close this issue if you think this may have been fixed by your latest changes RE: debugger attach.

[2017-03-29 20:30] BruceForstall commented on #10495
We don't have to catch all buffer overflows; consider if there are multiple buffers: we only have a single cookie. We just need to catch any that might corrupt the return address.

So this issue can be closed?

[2017-03-29 20:30] lt72 commented on #7653
Please re-open the issue if you would like to submit a PR for it.

[2017-03-29 20:30] #7653 closed

[2017-03-29 20:38] lt72 commented on #7902
Assigning to Gregg for proper tracking.

[2017-03-29 20:40] lt72 commented on #1098
Closing this since it seems interest has vanished.

[2017-03-29 20:40] #1098 closed

[2017-03-29 20:42] alpencolt commented on #10495
OK, thank you. Yes, it can be closed.

[2017-03-29 20:42] #10495 closed

[2017-03-29 20:45] #502 closed

[2017-03-29 20:45] #504 closed

[2017-03-29 20:47] lt72 commented on #1641
Plans around profiling on Linux have changed drastically, so this issue is not relevant any longer.

[2017-03-29 20:47] #1641 closed

[2017-03-29 20:51] EltonAlvess commented on #10279
@suqram it worked well!

Thanks

[2017-03-29 20:56] ole1986 commented on #9014
@ramarag

I am using my custom jailkit config containing the required libraries (executable = /opt/dotnet/dotnet can be ignored) which includes the extendedshell section

[code]

Then I am running the command (assuming a user already exist)
`jk_init -j /home/dotnet1 dotnet`

followed by a custom script doing the following:

[code]

followed by (from outside the jail)
`jk_chrootlaunch -j /home/dotn

[2017-03-29 20:56] erozenfeld commented on #10359
The code in `optCreateAssertion` doesn't handle `const ref null` correctly in this tree:

[code]

I would fix the code like this:
[code]

[2017-03-29 21:08] quoctruong opened #10568 "Enumerate loaded runtimes from C++"
Hi,

I'm writing a C++ application that tries to get the `ICLRRuntimeInfo` from a .NET Core process through the following code:
[code]

However, the pEnumUnknown returned does not contain any value (this code works if the process is full .NET). Is this not supported?

Ultimately, I'm trying to get the `ICLRRuntimeInfo` so I can get a `ICorDebug` object by calling `GetInterface` on the `ICLRRuntime

[2017-03-29 21:12] #10279 closed

[2017-03-29 21:12] #7541 closed

[2017-03-29 21:14] #10481 closed

[2017-03-29 21:38] gregg-miskelly commented on #7902
@treziac did you get a chance to try in RTW yet?

[2017-03-29 21:44] orthros opened #10570 "[Question] Summary Tags and Intellisense"
Greetings Devs,

This is hopefully a straightforward question surrounding Intellisense.

I see for some classes like [EventSourceException](https://github.com/dotnet/coreclr/blob/68f72dd2587c3365a9fe74d1991f93612c3bc62a/src/mscorlib/src/System/Diagnostics/Eventing/EventSourceException.cs#L33-L36), the class and its members follow the standard `<summary>`  tag while others like [DateTime](https://g

[2017-03-29 22:36] swilliams-a3digital commented on #10279
fix it for me!

[2017-03-29 22:42] tarekgh commented on #10290
@gkhanna79 why you think this is v2.0? we shipped like that before and even this is the behavior on the full framework. I am moving it to the future if you don't have any objection.

[2017-03-29 22:45] jkotas commented on #10570
@karelz Do you happen to know the answer to this? I remember it has been asked before - it would be nice to capture the answer in the corefx docs.

[2017-03-29 23:40] parjong commented on #9265
Here is the result from 2401b6ed082 ([full log](https://github.com/dotnet/coreclr/files/880629/coreclrtests.log.txt)):
[code]

#10538 resolves this failure, but is not merged in 2401b6ed082 :
 - Loader/classloader/generics/Instantiation/Recursion/genrecur/genrecur.sh

#10188 addresses the following two failures :
 - JIT/Methodical/eh/nested/nonlocalexit/throwinfinallyrecursive_20_d/throwinfinallyr

[2017-03-29 23:45] parjong commented on #9265
Here is the result from 1c2ee08a4bc:
[code]

As expected, ``Loader.classloader.generics.Instantiation.Recursion.genrecur.genrecur`` failure is gone:
[code]

[2017-03-29 23:54] noahfalk commented on #10560
Is there any scenario in which we don't want debug info? I assume that nearly every scenario we have is of the form "I want to perform 0 or more optimizations that might degrade the debugging experience, but aside from forced losses in optimization, give me the best debugging experience that remains possible"

I'd guess that a flag for 'generate debug info' will always be true, in which case we co

[2017-03-29 23:58] jkotas commented on #10022
The stackwalker seems to be getting stuck in infinite loop. Looks like a recent regression, likely from Linux x86 stackwalking changes.

[2017-03-30 00:01] noahfalk commented on #7426
@msjabby - I've lost context on this one, would you mind adding an update here if this is still an active issue for you?

[2017-03-30 00:04] seanshpark commented on #9706
Re-opening this issue to let me check as @parjong commented at https://github.com/dotnet/coreclr/pull/10550#issuecomment-290261279

[2017-03-30 00:08] jkotas commented on #10560
The flag for `generate debug info` exists already (`CORJIT_FLAG_DEBUG_INFO`, and it is always set by the VM for the reasons that @noahfalk mentioned.

[2017-03-30 00:17] JosephTremoulet commented on #10560
Interesting... I was mainly assuming we'd want this because we added it already, and (IIUC) both cl and csc make generation of PDBs (which can be quite large, especially with optimized code) optional.  But if we don't think it's worth it for e.g. footprint-constrained deployments, or carry-over from .Net Native (what does it do in this regard?), then "we could save some complexity/test time by eli

[2017-03-30 00:26] JosephTremoulet commented on #10560
I'm also wondering if we should have a dimension for signalling tiered jitting vs single-shot jitting vs "build lab" (by which I mean AOT compilation with some sort of opt-in for more throughput-intensive optimizations)... it's entirely conceivable, for example, that the 2nd round of tiered jitting would want to be a bit more aggressive than single-shot jitting is, or that some AOT scenarios want

[2017-03-30 00:27] adityamandaleeka commented on #10531
As a final experiment, I ran this through CI 4 more times without any other tests running and it took between 4 and 6 seconds in every case. I'm going to go ahead and check in a change to this test that reduces the number of Console.Write*s as I did above, so we shouldn't be hitting this timeout anymore under normal circumstances.

The fact that writing stuff to stdout when tests are running in pa

[2017-03-30 00:43] Maoni0 commented on #10531
sounds great, thanks!

[2017-03-30 00:46] jkotas commented on #10560
We had knobs for controlling whether or not to generate debug info in .NET Framework 1.0. It made things like attaching a debugger to existing process or dump debugging work poorly. We turned it on by default in .NET Framework 2.0, together with some work to minimize the debuginfo over head, so that these things just work. The key value prop of .NET is that things work pretty well by default (and

[2017-03-30 01:17] karelz commented on #10570
Dupe of https://github.com/dotnet/corefx/issues/230 - I'll ping that thread where we are.

How to update docs is planned for new contributor guide: https://github.com/dotnet/corefx/issues/17534#issuecomment-289318071, just no time to get to it :(

[2017-03-30 01:17] #10570 closed

[2017-03-30 01:46] gkhanna79 commented on #6843
@kouvel Can you PTAL?

[2017-03-30 01:50] gkhanna79 commented on #3022
@rahku Can you PTAL at this?

[2017-03-30 01:56] hqueue commented on #8616
@BruceForstall Sure,, I will close this.

[2017-03-30 01:56] #8616 closed

[2017-03-30 01:56] gkhanna79 commented on #7994
Fixing this can be done by including the required files when building the RID split version of M.N.App. @weshaggard Do you still want uCRT binaries to go in their own package, like the apiset one, and be a dependency of CoreCLR package?

[2017-03-30 02:05] seanshpark commented on #10012
@BruceForstall , yes, I'm working on this and WIP PR is #10034. Argument is setup with "mov [esp+n], REG".

Current status is `helloworld` works but there are about 800 failures with priority 1 unit test (about 11,000 test cases?), so didn't sent any review request. #10333 and #10373 are two items while I was working and now it is OK. I'm thinking to close them when it's merged.
Now I'm working on

[2017-03-30 02:13] parjong commented on #10012
\CC @wateret

[2017-03-30 02:19] gkhanna79 commented on #10379
There is no such artifact for .NET Core. Set COREHOST_TRACE=1 to get the probe location details.

[2017-03-30 02:19] jkotas commented on #10022
The problem is that Frame linked list has cycle. m_Next is pointing to the frame itself.

It is caused by bad codegen for the `Func()` method in the test. The problem is that the part of the inlined PInvoke prolog gets included in the loop. When the loop executes second time, we get the Frame* cycle as the PInvoke prolog gets executed second time:

[code]

[2017-03-30 02:20] gkhanna79 commented on #10448
CC @danmosemsft

[2017-03-30 02:20] gkhanna79 commented on #10449
@danmosemsft

[2017-03-30 02:21] gkhanna79 commented on #10452
@JohnGorter Can this be closed?

[2017-03-30 02:26] gkhanna79 commented on #10474
CC @RussKeldorph

[2017-03-30 02:27] gkhanna79 commented on #10504
@yizhang82 Is this for .NET Core 2.0?

[2017-03-30 02:27] gkhanna79 commented on #10520
CC @yizhang82

[2017-03-30 02:30] gkhanna79 commented on #10557
@gregg-miskelly PTAL and route it.

[2017-03-30 02:31] gkhanna79 commented on #10464
@RussKeldorph Is this for codegen tests or for CoreCLR overall?

[2017-03-30 02:32] gkhanna79 commented on #10568
These interfaces are not supported for .NET Core.

[2017-03-30 02:37] #10531 closed

[2017-03-30 03:06] hqueue commented on #10247
@jkotas Is there specific reason that this option is only avaialble for `FragileNonVersionable` ?
Can we implement `-native` feature for crossgen with `ReadyToRun` native image ?

[2017-03-30 03:07] jkotas commented on #10247
The information dumped by the `-native` option is present in the fragile images only.

[2017-03-30 03:08] hqueue commented on #10247
Got it. Thanks :)

[2017-03-30 03:09] AndyAyersMS commented on #6095
For CoreCLR, we can probably repurpose some of the bits in in either `m_bflags2` or in `m_wFlags` that deal with CAS. If so, that gives us at least 4 bits to use, which are currently
 - `enum_flag2_CASDemandsOnly`
 - `enum_flag2_HostProtectionLinkCheckOnly`
 - `mdcIntercepted`
 - `mdcRequiresLinktimeCheck`

[2017-03-30 03:10] gregg-miskelly commented on #10557
This is a dupe of https://github.com/OmniSharp/omnisharp-vscode/issues/1006

[2017-03-30 03:10] #10557 closed

[2017-03-30 03:21] quoctruong commented on #10568
@gkhanna79, thanks for the response. Is there any way I can get the `ICorDebug` object for CoreCLR? Or is there any equivalent debugging interface?

[2017-03-30 03:47] gkhanna79 commented on #10568
I don't believe so. @noahfalk do you know know?

Thanks,
Gaurav

-------- Original message --------
From: Quoc Truong <notifications@github.com>
Date: 3/29/17 8:21 PM (GMT-08:00)
To: dotnet/coreclr <coreclr@noreply.github.com>
Cc: "Gaurav Khanna (CLR)" <Gaurav.Khanna@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [dotnet/coreclr] Enumerate loaded runtimes from C++ (#10568)

@gkh

[2017-03-30 04:09] gkhanna79 commented on #6273
Yes, I CCed you @sdmaclea incase there needs to be similar work that needs to be done for Arm64 Linux and if so, do file appropriate issues for it.

[2017-03-30 06:21] yizhang82 commented on #10504
No. It's not part of .NET Core 2.0 work. I don't think we have a shipping date yet. Right now we are in early design/prototype phase.

[2017-03-30 06:52] noahfalk commented on #10568
@mikem8361

Mike added some startup APIs for coreclr debugging a while back:
https://github.com/dotnet/coreclr/pull/2507/commits/178d90989a6b95981c5a094bb418fa4d59918634

I that API surface is still current and the ongoing work has been to fix some bugs. Mike would know the most up-to-date info.

[2017-03-30 08:20] ragmani commented on #10139
It was successful to print "Hello World" after #10378 #10383 #10547.

[2017-03-30 09:47] PhoebeHui commented on #10549
Is there a way only disable this test on Windows?

[2017-03-30 11:55] internetbird commented on #6382
@gkhanna79  Yes. It can be closed. Thanks.

[2017-03-30 11:55] #6382 closed

[2017-03-30 11:59] ayuckhulk commented on #10033
@janvorli  I think we can close this issue.

[2017-03-30 12:00] #10033 closed

[2017-03-30 12:48] mazong1123 commented on #9805
This error is for Unix only. How about add a `reason` parameter to `coreclr_initialize` function, and update this parameter if any failure occurs inside this function? Then we are able to provide better error messages with useful debug info.  For instance:

["PAL initialization failed"](https://github.com/dotnet/coreclr/blob/master/src/zap/zapper.cpp#L1587)
["Failed to initialize runtime"](https:/

[2017-03-30 15:12] redknightlois commented on #9477
We pass around lots of structs and have to do it by ref when it is just for reading. If also knowing that there is no assignment to it's fields JIT can promote it to by-ref would be a huge win.

[2017-03-30 15:34] sdmaclea commented on #10464
@gkhanna79 This issue was opened in response to a comment I made to @RussKeldorph that I was surprised that some of the tests marked unsupportedOutsideWindows were passing on amd64 and arm64.  Also that some of the amd64 unexpected failures (*nix) also seemed to be passing, but it wasn't clear whether they were on the list due to being interrmittent failures, stress failures, hard failures....

I

[2017-03-30 15:54] sdmaclea commented on #10464
Also note, the arm64 runs only include tests present in priority1 test builds.  There are a significant number of tests listed in tests/tests*OutsideWindows.txt which are not included in pr1, but I have not found them.  They may be MS internal only or obsolete....

[2017-03-30 15:59] tarekgh commented on #10390
It looks using ecvt_r produce slight different behavior. I am seeing some tests (mostly serialization tests) failed because of the behavior difference. here is some example:

[code]

@jkotas @dcwuser I think this is acceptable difference as the results still look right to me. now we need to decide is we go ahead with such difference for the sake of the performance? or should we use coreRT implemen

[2017-03-30 16:00] tarekgh commented on #10390
I forgot to mention I am seeing other couple of failures which I'll try to investigate

[2017-03-30 16:30] tannergooding commented on #10390
@tarekgh, this should be fine, provided we are still IEEE compliant (it looks like we are).

The string conversion rules are essentially (these are defined in `5.12 Details of conversion between floating-point data and external character sequences`):
* A string with 15 significant digits converted to the binary64 format (double) and then converted back should exactly match.
* A double converted to

[2017-03-30 16:33] tarekgh commented on #10390
thanks @tannergooding for the feedback.

[2017-03-30 16:45] RussKeldorph commented on #10464
@gkhanna79 The issue is not specific to codegen, and it appear's that there are non-codegen tests in @sdmaclea's list.

[2017-03-30 17:11] #10543 closed

[2017-03-30 17:13] swgillespie commented on #10543
@imcarolwang Thanks a ton for the report! It's fixed now on master. I'm not sure what the shipping cadence of the CLI is but it should be in the .NET Core SDK pretty soon.

[2017-03-30 17:20] pgavlin commented on #10022
Thanks for investigating this @jkotas. The fix should be pretty straightforward: instead of always inserting the PInvoke prolog into the first basic block, we should create a new preceding BB iff the first BB has predecessors beyond the method prolog.

@BruceForstall @briansull @dotnet/jit-contrib: do you know of any other code that we unconditionally insert into the first BB that is logically par

[2017-03-30 17:23] RussKeldorph commented on #10549
@PhoebeHui This test used to be disabled on all platforms, but I confirm it isn't now.  I haven't yet found the change that reenabled it, but I suspect that was a mistake.

[2017-03-30 17:25] BruceForstall commented on #10022
We have `fgEnsureFirstBBisScratch()` to do stuff like this.

[2017-03-30 17:26] pgavlin commented on #10022
Perfect. Thanks Bruce!

[2017-03-30 17:33] sdmaclea opened #10585 "Test using Random() should be seeded"
There are many tests using unseeded Random number generators.  When failures happen it is difficult to debug/repro.

[code]

Many tests are using seeded random number generators using code in tests/src/Common/CoreCLRTestLibrary/TestFramework.cs.

It would be nice to use simialr code in place of all tests using Random() without a seed.

[2017-03-30 17:35] sdmaclea commented on #10585
@Jkotas Please mention correct people

[2017-03-30 17:40] bobu opened #10586 "MSIL differences between .NET Framework and .NET Core"
Is there any documentation, or articles, that show any differences between the MSIL generated for the .NET Framework vs. .NET Core. Since they are presumably using the same CLI spec (https://www.ecma-international.org/publications/standards/Ecma-335.htm), there should be no differences. But I want to ask the question to see what is known on the subject.

[2017-03-30 17:40] jaestevan commented on #3977
I created the simplest "hello world" .NET core app in Windows 10 following the Pi readme and published with the very last 2.0.0 beta version as win10-x64 (that works fine in Windows 10 desktop), win10-arm and win8-arm. ARM versions don't work in Windows 10 (as expected) but don't work in Raspberry Pi 3 with Windows 10 IoT either.

Reading the readme instructions I guessed the win8-arm version woul

[2017-03-30 17:49] weshaggard commented on #7994
I don't think I ever wanted them to be in their own package. We should see if the C++ team already provides them as a package and if so then we can use that but if not then I would be hesitant for us to package them by themselves and instead would prefer we package them directly in the CoreCLR package or the M.N.App package.

[2017-03-30 17:52] paultechguy commented on #3977
Yea, I've searched to the end of the internet and not found a good, reliable, set of instructions on how to build and install the **latest** core runtime.  :-(  Wouldn't it just be awesome to have an MS build for ARM and just install the package?

[2017-03-30 18:06] jaestevan commented on #3977
I'm pretty sure we will have it when ARM support is published. But so far for the beta version I would be happy with a quick&dirty workaround :)

[2017-03-30 18:10] Gonkers commented on #3977
@jaestevan @paultechguy  I recently saw [this](https://timdows.com/projects/asp-net-core-2-0-0-beta-on-a-raspberry-pi-3/) mentioned on the dotnet community stand-up that may help you. Disclaimer: I have not tried it yet.

[2017-03-30 18:10] Petermarcu commented on #7994
Why not just have them delivered with coreclr? That sounds simplest.

[2017-03-30 18:12] ANahr commented on #10390
If there is a chance to get identical output across all platforms I'd vote to have identical output even if it comes at a modest price in performance.

[2017-03-30 18:18] jaestevan commented on #3977
Then is Ubuntu in the Pi the only way to run the project? I was guessing it can be ran in Windows 10 IoT too.

[2017-03-30 18:20] Petermarcu commented on #3977
@jaestevan take a look here: https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md

[2017-03-30 18:23] Petermarcu commented on #3977
I'm curious what you hit on Win10 IoT? You shouldn't need to install any core runtime. The instruction put the runtime with your application.

[2017-03-30 18:25] tannergooding commented on #10390
I think getting identical output could be part of future work here. Provided we are at least IEEE compliant, we are 'good enough' to resolve the bug and unblock the customer.

There are plenty of places in the floating-point APIs where we are not consistent across various platforms right now, and there are several bugs tracking us investigating whether or not making them use the same underlying im

[2017-03-30 18:26] darxis commented on #3977
In case it would help anyone, I'm posting my instruction notes on how to install the dotnet tool.

1. Clone coreclr repo
2. Compile coreclr
    1. Install everything from https://github.com/dotnet/coreclr/blob/master/Documentation/building/windows-instructions.md
    2. build.cmd arm release skiptests skipbuildpackages
3. Clone corefx repo
4. Compile corefx
    1. build-native.cmd -release -buildA

[2017-03-30 18:30] rosascarlos commented on #10279
@suqram Excellent!
Work for me!
Thanks

[2017-03-30 18:31] Gonkers commented on #3977
Sorry @jaestevan I should have been more clear. I meant to point out the screen shots of how/were you can update the framework version. To see if that would help you get it running. That was my biggest hang up for a while, figuring out building for the correct version of the framework.

[2017-03-30 18:37] jkotas commented on #10585
cc @dotnet/jit-contrib

[2017-03-30 18:41] jaestevan commented on #3977
@Petermarcu by following this instructions I got a CLR error: _Failed to initialize CoreCLR, HRESULT: 0X80131534_

@darxis I will try to build it myself when I have time, thanks.

[2017-03-30 18:51] Petermarcu commented on #3977
@jaestevan , I'll give it another try, hadn't done it on Win10 IoT in a few weeks. You shouldn't have to build the full stack but its always an option.

[2017-03-30 18:57] #10359 closed

[2017-03-30 19:13] dcwuser commented on #10390
I agree that for default formatting it's not *too* bad that we don't get identical output, but the way I would expect serialization/deserialization to work is to use the "R" (for roundtrip) format string, which should guarantee that absolutely identical FP values are produced after a serialization/deserialization cycle, which can be tested for with == without any allowance for epsilons. If we are

[2017-03-30 19:22] agocke opened #10590 "ilasm cannot compile against different corlib names"
For instance, compiling the following il:

[code]

Results in the following warning:

[code]

And System.Object is retargeted to mscorlib and an mscorlib ref is added to the output assembly.

[2017-03-30 19:22] agocke commented on #10590
cc @gkhanna79 @jkotas

[2017-03-30 19:28] gkhanna79 commented on #10586
@jaredpar Do you want to chime in?

[2017-03-30 19:29] gkhanna79 commented on #10590
CC @RussKeldorph

[2017-03-30 19:41] RussKeldorph commented on #10590
How urgent is fixing this?  What is it blocking?

[2017-03-30 19:48] jaredpar commented on #10586
There is no difference.  The compiler itself doesn't even understand the concept of Net Framework vs. Net Core.  That is all handled at the MSBuild / NuGet level.  Once it gets down to the compiler layer it's just a set of references that we treat like any other.

[2017-03-30 19:49] tarekgh commented on #10390
I'll look more on the failed tests. I am also noticing that our parse code not able to parse Double.MinValue string produced with cvrt_r. it produce ```-1.797693134862316E+308``` while it can parse the value produced from other implementation which is ```-1.7976931348623157E+308```

[2017-03-30 19:52] agocke commented on #10590
This will probably block us running a significant amount of Roslyn unit tests on CoreCLR.

[2017-03-30 19:57] bobu commented on #10586
@jaredpar That's great to hear. So are there any differences that you know of that occur in MSBuild?

[2017-03-30 19:59] jaestevan commented on #3977
@Petermarcu Thanks Peter, let me know how it works. I can send you the details I followed if that helps.

[2017-03-30 20:19] sdmaclea commented on #9898
@dotnet/jit-contrib I am waiting for further comment/direction for the Microsoft.CodeAnalysis.VisualBasic.dll failure mentioned in the comments https://github.com/dotnet/coreclr/issues/9898#issuecomment-286909274 & https://github.com/dotnet/coreclr/issues/9898#issuecomment-286924609 above.

@janvorli Perhaps you might have an opinion.  Is this assert valid for arm64?

[2017-03-30 20:31] robvdveer commented on #10279
Excellent, copying the libdbgshim file as instructed by @suqram did the trick.

[2017-03-30 20:32] jkotas commented on #10590
The fix should be to add another case for netstandard here: https://github.com/dotnet/coreclr/blob/52a816d3011f4d03b80b5940dc036b40d701f52d/src/ilasm/assembler.cpp#L279

[2017-03-30 20:47] #10549 closed

[2017-03-30 21:01] mikedn commented on #10423
Well, this should be a complete run with `/Ob0` and `/OPT:NOICF`:

![image](https://cloud.githubusercontent.com/assets/9973420/24525794/675c97c0-15a4-11e7-8e44-737b7e50d8bc.png)

I'm not sure how accurate those call counts are because the absolute values seem to vary from run to run. But the relative order is pretty much unchanged.

The complete list of functions can be found [here](https://1drv.m

[2017-03-30 21:03] agocke commented on #10590
It would be nice to support arbitrary corlib names. Roslyn currently uses the heuristic that an assembly with no references = the corlib. Is there a reason this couldn't be used by ilasm as well?

[2017-03-30 21:17] jaredpar commented on #10586
What kind of differences are you concerned with here?  Are you referring to differences when MSBuild runs on CoreCLR s. desktop?

[2017-03-30 21:20] #10377 closed

[2017-03-30 21:24] agocke commented on #10590
@RussKeldorph I unblocked us by using the mscorlib ref and that seems to be working OK. So I'll let you know if this becomes blocking again.

[2017-03-30 21:28] mellinoe commented on #10590
This affects System.Runtime.CompilerServices.Unsafe, as well. For what it's worth, referencing "System.Runtime" is accepted by ilasm, and that's what we are doing for the time being.

https://github.com/dotnet/corefx/blob/master/src/System.Runtime.CompilerServices.Unsafe/src/include/netstandard/coreassembly.h#L10

@ericstj

[2017-03-30 21:54] janvorli commented on #9898
@sdmaclea I am sorry, JIT internals are out of my area of knowledge.

[2017-03-30 21:56] jkotas commented on #10590
ilasm takes just the IL text file as input, it does not take the ref assemblies as inputs. Thus, it cannot tell which assembly does not have any references.

[2017-03-30 21:59] bobu commented on #10586
Just looking at Windows first, I would want to know if MSBuild changes any of the byte-code from what was expected in .NET Framework. I seriously doubt that there is anything in MSBuild that would do that, but I'm not sure.

[2017-03-30 21:59] pgavlin commented on #9898
`;  V10 arg10        [V10,T58] (  6,   2.2)     ref  ->  registers` simply means that `V10` has been allocated to different registers throughout the body of the method. It is difficult to do much diagnosis here without a JIT dump--can you collect one and stick it into a gist?

[2017-03-30 22:02] pgavlin commented on #10022
CLosed by #10587.

[2017-03-30 22:02] #10022 closed

[2017-03-30 22:07] janvorli commented on #9805
I think that such high level messages would not help in any of the cases people hit from time to time. If we wanted to generate helpful error messages, we would need to do that deep in the bowels of the coreclr runtime and PAL at all places we generate an error, because that's the only place where we really know why the specific error actually happened. The amount of code exercised during the init

[2017-03-30 22:07] BruceForstall commented on #10423
What's good is that most, or even all, of the top functions here are very cheap, and almost certainly inlined.

You could imagine doing a little better. E.g., maybe OperIsBlk() is so hot that it should become a "kind" instead of 6 comparisons.

Maybe varTypeIsSIMD() should be implemented like varTypeIsIntegral(), using varTypeClassification[], instead of a `switch` statement.

genRegMask has this

[2017-03-30 22:33] jaredpar commented on #10586
It doesn't.  They don't directly control the emitted byte code, instead deferring to the compiler.

[2017-03-30 22:40] #10347 closed

[2017-03-30 22:44] bobu commented on #10586
Thanks Jared. I'll close this issue.

[2017-03-30 22:44] #10586 closed

[2017-03-30 23:05] mletterle opened #10595 "ILAsm: Incorrectly uses assembly alias rather than assembly name to determine BaseAsmRef"
# Issue

In determining the base library assembly ref used for fundamental types such as `System.Object`, `System.String`, etc; the assembler incorrectly tries to determine if `System.Runtime` is referenced by looking at Assembly aliases, rather than Assembly names.

# Repo

Consider the following assembly definition:

[code]

When processed by ilasm it will not detect the fact that `System.Runtim

[2017-03-30 23:39] alexperovich commented on #9746
I think #10292 may be the cause of this

[2017-03-30 23:39] mletterle commented on #10595
#10590 May be related, frankly the whole "BaseAsmRef" concept seems like a bad idea, but this issue is to simply address current behavior.

[2017-03-30 23:53] fadimounir commented on #3541
@gkhanna79, can someone on your team take a look at this issue?

[2017-03-30 23:57] gkhanna79 commented on #3541
@kouvel can take a look.

[2017-03-31 00:15] mletterle opened #10597 "IL Tools: Installing with dotnetcore"
After installing `dotnetcore` via the instructions at https://www.microsoft.com/net/core there is no way to install the il tools. The default `dotnet nuget` command has no `install` command.

After using `apt-get install nuget` to get the stand-alone nuget-cli, I am able to `nuget install Microsoft.NETCore.ILAsm`, which doesn't appear to pull down any binaries.

Using `nuget install runtime.ubuntu

[2017-03-31 00:45] alexperovich commented on #1221
Actually closing

[2017-03-31 00:45] #1221 closed

[2017-03-31 00:46] karelz commented on #10597
@RussKeldorph @russellhadley who knows about packaging ilasm? (I was surprised to see we ship it on NuGet)

[2017-03-31 01:00] RussKeldorph commented on #10597
The goal of #5214 was just to do the bare minimum required to separate these tools from the coreclr package but still make them available.  To answer the question: there is no recommended way to use them at this point.  Obviously, we should make sure they are marked executable, so that's an easy bug.  I'm not sure if or how they should be integrated into the dotnet/CLI experience, but my first gue

[2017-03-31 01:05] adityamandaleeka commented on #10520
@alexanderuv I tried out your sample and I believe the reason it's not able to load libLLVM.dylib is that libLLVM.dylib is also referencing libLTO.dylib, which isn't found.

[2017-03-31 01:17] seanshpark opened #10599 "[x86/Linux] Stackwalking with fixed out arguments"
While working on enabling `FEATURE_FIXED_OUT_ARGS` #10034, I've now encountered this assert failure in stack walking.

[code]

Failure line is in `unsigned scanArgRegTableI()`
[code]

Where my simple test code is
[code]

Callstack:
[code]

[2017-03-31 01:19] sdmaclea commented on #9898
Here is the NGEN dump for Microsoft.CodeAnalysis.VisualBasic.Binder:CompleteAggregateClauseBinding
[ngendump.zip](https://github.com/dotnet/coreclr/files/884224/ngendump.zip)

This is the code which triggers this assert.
[code]

[2017-03-31 01:22] sdmaclea commented on #9898
@pgavlin I uploaded the NGEN dump as a zip.  Let me know if you really prefer a gist, and I'll figure it out.

My working assumption is that the assertion is wrong and doesn't handle the case where a parameter is not stored in a single register.

[2017-03-31 01:39] adityamandaleeka commented on #10520
This load failure isn't a CoreCLR bug, but it would be great if we could provide a good way for users to be able to diagnose this type of failure without having to debug or use external tools. The error message you saw (`The specified module could not be found.`) obviously wasn't very helpful.

[2017-03-31 01:48] alexanderuv commented on #10520
Great! Thanks for the help!
It would definitely be nice to have a more helpful error message. I guess I would have to debug CoreCLR to find that message right?

[2017-03-31 01:52] adityamandaleeka commented on #10520
Today you either have to monitor file system access by the program, or have a debug build of CoreCLR with `WARN` messages being printed in order to see what's going on (or of course attach a debugger).

[2017-03-31 02:42] PhoebeHui commented on #10549
Thanks for all of you to fix this issue!

[2017-03-31 02:42] PhoebeHui commented on #10549
Thanks all of you to fix this issue!

[2017-03-31 04:36] karelz opened #10600 "Add Linux runtime-events tracing info"
Let's take technical stable info from @goldshtn's [blog post](http://blogs.microsoft.co.il/sasha/2017/03/30/tracing-runtime-events-in-net-core-on-linux/) and add it to CoreCLR docs.
Keep link to the blog post as credits of course.

Where?
Either enhance [Linux Performance Tracing](https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/linux-performance-tracing.md) docs, or create

[2017-03-31 04:43] karelz commented on #10600
For context, @goldshtn agreed: https://twitter.com/goldshtn/status/847662168807849987

I suggest to create how-to similar to [Linux performance tracing](https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/linux-performance-tracing.md) doc. Setup/prep, collect, analyze + gotchas and maybe a little bit of intro what can be achieved with that.
Thoughts?

Motivation: I think it is

[2017-03-31 04:48] karelz commented on #10600
For big-picture context, I plan to link these docs (and blog posts) from master CoreFX/CoreCLR contributor documentation as laid out here: https://github.com/dotnet/corefx/issues/17534

[2017-03-31 04:51] karelz commented on #10600
Idea:
Would it make sense to add a sample output with explanation? Something like the tweet picture? https://twitter.com/goldshtn/status/847426411820269574

[2017-03-31 04:56] seanshpark commented on #10599
@janvorli , could you please give some direction to solve this issue?

[2017-03-31 04:59] jyoungyun commented on #5853
@gkhanna79 Do you have a plan to remove all dynamic link in coreclr including glibc, libunwind and the other all library? This decision, however, makes the binary size large. Should I be able to make a choice?

[2017-03-31 05:29] karelz commented on #10600
@brianrob how far are you with the we-need-stacks story? 1.5 year ago we were discussing changes in perf (which were rejected AFAIK), or option to revive CLRStack ... @goldshtn is interested in the topic ;-)

[2017-03-31 05:32] mikedn commented on #10423
It's actually the opposite, there are `OperIsX` functions that use "kind" and maybe they should use comparisons instead. `OperIsBlk` is compiled to:
[code]
Compare to `OperIsCompare` that uses `GTK_RELOP` (taken from a build with inlining enabled to be more realistic):
[code]
I suppose it's better in x86 builds where the `lea` may be folded into `test`'s memory operand. Anyway, it's a memory load

[2017-03-31 06:09] BruceForstall commented on #10423
Interesting about `OperIs*`. I guess the key is the compared range must be continuous, and probably many of the OperIs comparisons are.

[2017-03-31 06:27] seanshpark commented on #10599
I think I might have to enable this in emitxarch.cpp
[code]

[2017-03-31 06:57] mikedn commented on #10423
Native compilers optimize non-continuous ranges as well but the generated code is larger and I'm not sure if it's better or worse than a memory load:
[code]
VC++ 2017 generates:
[code]
Might be worth a micro-benchmark to see how it compares with the memory load based version.

[2017-03-31 07:06] hseok-oh opened #10603 "Ubuntu x64 test failure"
CoreCLR Ubuntu x64 test fail after merging #10410
CI failure: https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_ubuntu_flow

[code]

The strange thing is that #10410 seems to touch only x86 environment but it affected x64 tests. Is there another reason of test failure?

[2017-03-31 07:36] #9273 closed

[2017-03-31 07:43] wateret commented on #10599
If there is no FIXED_OUT_ARGS support for X86 GCInfo, we may need to introduce something for that. e.g.) outarg size in Header, something instead of push/pop entries in ArgReg table

[2017-03-31 08:03] janvorli commented on #5853
@jyoungyun no, that's not the plan. Definitely not for glibc, glibcxx or ICU. We may statically link libunwind.  The current plan to enable portable dotnet core is to enable people to add local copies of shared libraries that would otherwise have to be installed on the target distro if they want to. Again, glibc and glibcc should never be included, since it could cause a lot of trouble (e.g. dotne

[2017-03-31 09:13] olegsavelos opened #10605 "Arm6 Raspberry PI Zero - PI 1"
Is there any effort in place to bring support for the ARM6 platform?
I think the PI Zero is perfect platform for lots of different IOT projects and it would be quite a shame if there is no support for it.

[2017-03-31 09:34] jhallam3 commented on #10279
@suqram Excellent!
Work for me!
Thanks

[2017-03-31 09:48] kinliang commented on #10279
Works for me too!

thanks!

[2017-03-31 10:05] ole1986 commented on #9014
Attached file is the output of strace64 when running `strace64 /opt/dotnet/dotnet -v`

[dotnet-strace.txt](https://github.com/dotnet/coreclr/files/885218/dotnet-strace.txt)

[2017-03-31 10:10] jyoungyun commented on #5853
@janvorli Thanks for the friendly explanation. I understood glibc or any other libraries as an atempt to static link. But I'm glad you did not do all the library. I know about the portable dotnet core, and I know that in this case the difference in the library version of the host env. can cause problems. Howerver, static link can cause another problem as you said. I know that coreclr already has a

[2017-03-31 10:17] janvorli commented on #5853
@jyoungyun the ICU is not statically linked to coreclr (or to the System.Globalization.Native.so, to be precise). It is dynamically linked and a recent change in coreclr even removed the need to have it installed at all. It is now optional. If it is not installed, then a simple managed version of globalization supporting just en-US is used. That allows users to not to install ICU in case the apps

[2017-03-31 10:26] ole1986 commented on #9014
Oh, finally I fixed this issue:

While using jailkit I copied all the required files and also `mount --bind /proc <destination>`
But dotnet needs to have `mount --bind /dev <destination>` as well.

I think this issue can now be closed

[2017-03-31 10:43] janvorli commented on #10599
@seanshpark could you please jitdump the Main method so that I can see the code when looking at the unwinder? Since it looks like the GC info is generated in the emitStackPop / emitStackPush functions and with this change, we are not using push to store arguments, we would most likely need to add GC info in the new code.
Actually, what if we changed the way we prepare the arguments like I've sugge

[2017-03-31 11:06] janvorli commented on #10520
I think I have suggested a long time ago to change the error message to "The specified module **or one of its dependencies** could not be found." That way it would hint the user to verify that the reported .dylib / .so has all the dependencies it needs. On Linux, "ldd -r" is the best way. On OSX, the "otool -L" command should work.
@alexanderuv would it have helped you to pinpoint the issue if the

[2017-03-31 11:12] janvorli commented on #10605
No, there is no such effort. Probably the biggest problem that would need to be solved is that JIT doesn't support ARM6 Thumb instruction encoding.

[2017-03-31 11:37] treziac commented on #7902
Yes, it seems to work properly, thanks!

[2017-03-31 12:05] mazong1123 commented on #10545
Is there anybody working on this? If not, I'm willing to take this one.

But what's the expected behavior actually? Should we generate .exe instead of .dll at the beginning, or append the extension according to the file name instead of checking IsDll() ?

[2017-03-31 12:07] sateeshmachineni opened #10607 "How to Navigate through source"
It would be helpfull,if there was documentation on how to navigate through this source

[2017-03-31 12:57] mletterle commented on #10590
FWIW, if you alias `netstandard` as `mscorlib` it will do what you what:

[code]

after ilasming, ildasm's to:

[code]

It's fairly unintuitive, and can actually cause problems if you alias mscorlib to something else (or System.Runtime as it turns out, see #10595), but I believe this is what the original BaseAsmRef method is meant to do in general. Continuously adding new "BaseAsmRef" names seems.

[2017-03-31 14:28] githubBrandon commented on #10279
@mikem8361 what does this mean?

[2017-03-31 14:30] mletterle opened #10608 "ILAsm: Unable to create debugging information when only referencing System.Runtime"
# Issue

When attempting to insert `DebuggableAttributes`, ilasm only considers `mscorlib` it does not consider `System.Runtime`. If the assembly only contains `System.Runtime` ilasm crashes with a assertion error.

# Repo

Consider the following il:

[code]

Attempting to ilasm this and using, for example, the "debug=impl" option results in an Assert failure.

# Desired Result

ilasm should prope

[2017-03-31 14:55] JosephTremoulet commented on #10560
Per discussion in #10580, we'll adopt the goal of consolidating the discretionary policy decision-making on the JIT side of the interface, which means that the interface is really about communicating context to the jit.

To that end, #10580 will add flags to identify tier 0 and tier 1 compilation requests (and distinguish them from single-shot compilation requests).

Currently, the VM sets the MIN

[2017-03-31 14:59] sdmaclea opened #10612 "[Arm64/Unix] CLREX unrecognized by Valgrind 3.12"
There was a defect against valgrind.  [Bug 359838](https://bugs.kde.org/show_bug.cgi?id=359838) - arm64: Unhandled instruction 0xD5033F5F (clrex).  This defect is cited as being fixed in the release notes for 3.12.  http://valgrind.org/docs/manual/dist.news.html.

CoreCLR always hits the defect even in release 3.12.

[code]

[2017-03-31 15:12] sdmaclea commented on #10612
@janvorli FYI

[2017-03-31 15:29] mikedn commented on #10423
In sampling traces it's even more - 2%:
![image](https://cloud.githubusercontent.com/assets/9973420/24557333/fcceb176-163f-11e7-8362-ea9358d1abe7.png)

[2017-03-31 16:28] RussKeldorph commented on #10603
This is hitting Unix across the board and appears to have regressed 18-20 hours ago.  Still looking.

/cc @JosephTremoulet

[2017-03-31 16:35] quoctruong commented on #10568
It seems I can get access to most of the debugging API by loading some functions from dbgshim.dll. @mikem8361, is this the recommended way for writing a debugger?

[2017-03-31 16:44] JosephTremoulet commented on #10603
Could this be one of our "make an overlay by grabbing recent bits from coreclr + corefx, throwing them together, and hoping for the best" issues?

[2017-03-31 16:53] RussKeldorph commented on #10603
https://ci.dot.net/job/dotnet_coreclr/job/master/job/release_ubuntu_tst/1245/ seems to be the build where this started.  @mmitche, any way your "CROSS" change caused this?  If not, then @JosephTremoulet yes, I suspect some change from outside coreclr took us down.

[2017-03-31 16:53] RussKeldorph commented on #10603
@dotnet/jit-contrib

[2017-03-31 16:53] mikem8361 commented on #10279
A nuget file is a zip file. Rename to .zip and run unzip on it.

[2017-03-31 17:03] mmitche commented on #10603
@RussKeldorph Nope, that is a completely separate job.

[2017-03-31 17:03] sdmaclea commented on #10603
@RussKeldorph FWIW I was able to build and test 07fa3a32 on [Arm64/Unix] with no new regressions This is the same as https://ci.dot.net/job/dotnet_coreclr/job/master/job/release_ubuntu_tst/1250/ .  Of course I used the tests from the matching x64_checked_windows_nt_pri1_bld.

[2017-03-31 17:09] AndyAyersMS commented on #10603
Likely suspect is dotnet/corefx#17704.... we have not taken in the CoreFX update for this yet so the version info is potentially askew for our strange cross-build setup.

[2017-03-31 17:09] mikem8361 commented on #10568
Dbgshim now provides some new launch/attach APIs that work across all platforms:

CreateProcessForLaunch
ResumeProcess
CloseResumeHandle
RegisterForRuntimeStartup
UnregisterForRuntimeStartup

For launch:

1) CreateProcessForLaunch(commandLine, TRUE, environment, currentDirectory, &processId, &resumeHandle);
2) RegisterForRuntimeStartup(processId, CallbackFunction, parameter, &unregisterToken);
3)

[2017-03-31 17:15] Petermarcu commented on #3977
I tried it again yesterday and everything worked really well.

[code]

`dotnet restore`
`dotnet publish -r win10-arm`

Then I copy bin\Debug\netcoreapp2.0\win10-arm\publish\* to the Pi and execute `.\Helloworld.exe`

I have one guess as to what is happening. Can you run `dotnet --version` to make sure you are on a 2.0.0 SDK and make sure you have the latest one? What I do for the pre-release SDK's

[2017-03-31 17:17] AndyAyersMS commented on #10603
Or more likely suspect dotnet/corefx#17407 which changed parts of Span.

[2017-03-31 17:37] AlexGhiondea commented on #5989
@mazong1123 thanks for drilling into this!

@jkotas @joshfree do you guys have any context on this? I assume we can come up with other ways to check for overflow if we believe that is the right solution.

[2017-03-31 17:47] jkotas commented on #5989
Floating point  ToString() values do not roundtrip. If you need value that roundtrips, you have to use the "R" formatting string. `Convert.ChangeType(Double.MaxValue.ToString("R"), typeof(Double));` works fine. It is how it has been in the framework since forever. I do not know why it was done that way - I agree that it is not a very intuitive design.

[2017-03-31 17:49] ahsonkhan commented on #10603
This PR should resolve some issues: https://github.com/dotnet/coreclr/pull/10544
Waiting for the corefx package.

[2017-03-31 17:50] jkotas commented on #5989
cc @tarekgh since he has been working on similar issues recently

[2017-03-31 18:11] tarekgh commented on #10390
it looks we cannot use evct_r because this will break the round tripping. Double.MinValue is one example of that. evct_r produce string which we cannot parse it back. I doubt we need to touch the parsing code now.

considering that I suggest to use the corert implementation across all Linux distros. this will give us better performance but will not get us to Windows performance. in other word, it

[2017-03-31 18:25] quoctruong commented on #10568
@mikem8361, thank you. This is super helpful!

[2017-03-31 18:37] kouvel opened #10616 "Apps can reach the sync table limit before a GC occurs"
A scenario:
- App uses server GC
- Machine has lots of RAM
- App creates many objects that are used for fine-grained locks, and ends up taking many sync table slots
- Before a GC occurs to free some of the unreferenced lock objects and sync table slots, the sync table can fill up to max and the app would start seeing OOM exceptions

[2017-03-31 19:13] mletterle opened #10618 "ILAsm: Certain fundamental types may have their assembly references changed"
# Issue

Ilasm has a set of types that it considers "fundamental types" that should only exist in one "BaseAsmRef", if those types are (deliberiately) made to point outside of what ilasm decides is the BaseAsmRef it will update those references regardless of what has been specified.

The current "fundamental types" are:

* `System.Enum`
* `System.Object`
* `System.String`
* `System.ValueType`

[2017-03-31 19:18] mletterle commented on #10590
The issue with `System.Object` being retargeted from `netstandard` -> `mscorlib` is because of #10618

[2017-03-31 19:56] MichalStrehovsky commented on #10618
If you throw `.mscorlib` into your source file, it serves as an escape hatch for this behavior.

[2017-03-31 20:02] mattwarren commented on #10607
This might help you out ['A Hitchhikers Guide to the CoreCLR Source Code'](http://mattwarren.org/2017/03/23/Hitchhikers-Guide-to-the-CoreCLR-Source-Code/) (Disclaimer: I wrote it)

[2017-03-31 20:03] mletterle commented on #10618
oh... this is good to know!

Hmm... almost rather it was opt-in as opposed to opt-out, but interesting.

[2017-03-31 20:18] mletterle commented on #10618
There are a couple of places in the code where `m_fIsMscorlib` being true might have unintended effects, I'm thinking specifically of the debugging options.... in `AsmMan::EmitDebuggableAttribute` if you use `.mscorlib` and your version number just *happens* to start with a 1 you can't use "debug=impl", though maybe that logic is no longer valid?

[2017-03-31 20:21] sandreenko opened #10620 "coreclr doesn't enforce the delegate transparency rule for some IL sequences."
importer.cpp : impImportBlockCode has code to enforce  the delegate transparency rule:

[code]

and GetMethod2() was added in PR #4999 as workaround for tests JIT/Methodical/delegate/_simpleoddpower_il_d/_simpleoddpower_il_d.sh
JIT/Methodical/delegate/_simpleoddpower_il_d/_simpleoddpower_il_r.sh
where such IL sequence exists:
[code]

call returns TI_ERROR type for pointers, because
`verMakeTypeInf

[2017-03-31 20:24] kouvel commented on #5930
#9279 seems to have fixed a chunk of this. The rest is just a result of iterating other threads' queues, which probably can't be helped with the current design.

[2017-03-31 20:24] #5930 closed

[2017-03-31 20:33] pgavlin opened #10621 "RyuJIT/x86: assert failure when precompiling System.Security.AccessControl.dll"
To repro:
1. Download the [System.Security.AccessControl.dll package](https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Security.AccessControl/4.4.0-preview1-25131-02)
2. `crossgen runtimes/win/lib/netcoreapp2.0/System.Security.AccessControl.dll`

You should see the following assert:
[code]

This assert does not fire if `COMPlus_JitMinOpts` is set to `1`.

@AndyAyersMS can you take a

[2017-03-31 20:38] pgavlin opened #10622 "RyuJIT/x86: assertion in LSRA when precompiling System.{Data.Common,Security.Cryptography.Xml}.dll under JitStress=1 and JitStressRegs=8"
Repro steps:
1. Download the latest version of the appropriate package (i.e. one of [System.Data.Common](https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Data.Common/4.4.0-beta-24913-02) or [System.Security.Cryptography.Xml](https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Security.Cryptography.Xml/4.4.0-preview1-25131-02)).
2. set COMPlus_JitStress=1
3. set COMPlus_Jit

[2017-03-31 20:51] sdmaclea opened #10623 "[Arm64] Implement CPYBLK unrolling"
See TODO-ARM64-CQ in Lowering::LowerBlockStore

[2017-03-31 20:52] sdmaclea opened #10624 "[Arm64] Implement InitBlk unrolling"
See TODO-ARM64-CQ in Lowering::LowerBlockStore

[2017-03-31 21:17] yizhang82 commented on #10520
I don't think the runtime should add OS specific diagnose support for dll loading. How about adding a fwlink that points to a doc that shows the tips/techniques/tools to diagnose such issues? The tools mentioned here (procmon, windbg+loader snap, ldd, otool) is a good start pointing. We can easily append that in the error message.

[2017-03-31 21:48] russellhadley opened #10630 "Allow local vars live across EH to be enregistered."
Allow local vars that cross EH to reside in registers for the normal flow or with in the exceptional flow.  Vars should only have to be on the stack during the register kill across the EH edge.

[2017-03-31 21:57] AndyAyersMS commented on #10621
Sure.

[2017-03-31 23:17] AndyAyersMS commented on #10621
In `System.Security.AccessControl.Privilege:ToggleState(bool):this` there is a nested try-finally with an empty try:
[code]
when we remove the empty try we need to go and update the nesting level stored in the GT_END_LFIN statements of any enclosed try finally.

[2017-03-31 23:34] jkotas commented on #10620
This should be deleted. We should not be enforcing any security transparency rules in CoreCLR anymore.

[2017-03-31 23:41] AndyAyersMS commented on #10621
Odd that we use this field when exiting the finally to figure out which slot to clear, but call `fgGetNestingLevel` to determine which slot to set when calling the finally.

Updating is certainly doable but it requires walking all the statements in the handler region. Might be more efficient to just rederive the nesting from the handler table by calling `fgGetNestingLevel` in both cases.

[2017-03-31 23:43] sandreenko commented on #10620
isDelegateCreationAllowed  was deleted.

[2017-03-31 23:43] #10620 closed

[2017-04-01 00:07] ramarag commented on #9014
thanks @ole1986 for figuring this out

[2017-04-01 00:07] #9014 closed

[2017-04-01 00:08] jashook opened #10635 "CheckProjects is fragile to running with cross targets."
CheckProjects assumes the tests were built in a CoreCLR repo. For cross targets such as Arm32, Arm64 this may not be correct causing the test to fail.

Note this bug is mostly just to add an issue tag to disable the test on Arm64.

[2017-04-01 00:08] jashook commented on #10635
/cc @AndyAyersMS

[2017-04-01 00:09] jashook opened #10636 "[Arm64] Unable to load the native dll for ForeignThreadException"
Expected Output

<pre>
BEGIN EXECUTION
 "C:\Users\DDJOIN\Downloads\CoreCLR-Pri1Testing\Tests\Core_Root\\corerun.exe" ForeignThreadExceptions.exe
Failed to catch an exception! System.DllNotFoundException: Unable to load DLL 'ForeignThreadExceptionsNative': The specified module could not be found. (Exception from HRESULT: 0x8007007E)
   at ForeignThreadExceptionsTest.InvokeCallback(MyCallback callba

[2017-04-01 00:28] AndyAyersMS commented on #10635
It really doesn't need to be run for every platform, so I'm fine if it gets excluded here and there.

Alternatively we can rework it so that if the test projects can't be found it will return a success exit code.

[2017-04-01 01:01] BruceForstall commented on #8496
@YongseopKim @chunseoklee @hseok-oh @hqueue @mskvortsov @sjsinju

I have a general question: for RyuJIT/ARM32, how can I tell what is being worked on, and who is working on what?

A simple query of [GitHub issues](https://github.com/dotnet/coreclr/issues?utf8=%E2%9C%93&q=is%3Aopen%20is%3Aissue%20label%3Aarch-arm32%20label%3Aarea-CodeGen) shows just a few RyuJIT/ARM32 issues.

There is a RyuJIT/ARM

[2017-04-01 01:02] AndyAyersMS commented on #10621
Also, the non-empty try has to have multiple leaves or an uncloneable finally. The assertion check in `genCodeForTreeNode` is not as strong as it should be (it should check against maximum nesting, not against EH table entry count).

[2017-04-01 01:02] BruceForstall commented on #8496
Also, @alpencolt

[2017-04-01 02:49] alexanderuv commented on #10520
@janvorli I think that would be much more helpful than what it says right now. Also that is not platform specific so if that's as far as one can go, it would be fine

[2017-04-01 06:04] #10621 closed

[2017-04-01 11:24] Daniel-Svensson opened #10642 "Improve System.Decimal performance for x64 platform"
The current implementation on forwards call to windows implementation of "decimal"
(VarDecAdd, VarDecSub, VarDecMul) or to the port of these functions found under palrt (as far as I understand the code).

These methods are written optimised for 32bit platforms and by using 64bit instructions it is possible to significantly improve performance.

I have written a small proof of concept to illustrate

[2017-04-01 13:01] stephentoub commented on #5930
There are various things we could explore doing here if this becomes a real issue, e.g.
- Limit the number of other threads' queues each thread is able to search.  This would result in decreased searching costs at the expense of some work items potentially not getting stolen.  The problem today is that, in the worst case, the search across the pool is O(N^2): if N threads run out of work, each of

[2017-04-01 13:08] mklement0 opened #10643 "Change Encoding.Default to UTF-8 *without BOM* for Unix interoperability"
This is a follow-up from [here](https://github.com/dotnet/standard/issues/260#issuecomment-290149417).

* `Encoding.Default` in the full framework on Windows reports the legacy "ANSI" code page (encoding).

* Core doesn't support these legacy pages (by default) so its `Encoding.Default` must return an encoding that makes sense in a cross-platform world.

* Currently, `Encoding.UTF8` is returned, w

[2017-04-01 13:31] bryanross commented on #10279
@suqram Work for me as well - thank you.

[2017-04-01 13:44] RexLKW commented on #10279
@suqram Thanks so much! It works!

[2017-04-01 15:13] robbpriestley commented on #10279
Is this issue fixed in production now, or is it still in workaround? I noticed a new C# Extension and installed it yesterday. Does that contain the fix?

[2017-04-01 15:38] kouvel commented on #5930
In this worst case example, I was seeing about 9% time taken in TryDequeue, most of which was in walking other threads' queues, which are all empty. If I remember correctly, before I was seeing about 30-50% time spent there. I was also thinking of a couple of things if we continue to see this being an issue:
- To help cases where most of the work items are not local, could keep a total count of th

[2017-04-01 15:50] kouvel commented on #5930
Maybe if threads are available for work, a new work item could go into the global queue to avoid having those threads search the local queues, or having some limit on how many items go into the local queue before they start going into the global queue. It would be good to create a comprehensive perf suite that uses the thread pool in all sorts of ways to measure throughput/latency to see the effec

[2017-04-01 15:55] benaadams commented on #5930
This could greatly increase the contention on multi-core and NUMA

[2017-04-01 16:00] benaadams commented on #5930
May want to also entertain NUMA queues, when nodes exist; rather than a single global queue - with stealing between the NUMA queues.

Likely would need to affinitize the threadpool threads to a node and queue to local NUMA queue; with the VM releasing a correct node affinitized thread based on node reporting rather than a general demand for threads by the pool. So wouldn't be a simple change.

Cur

[2017-04-01 16:31] kouvel commented on #5930
Depends on the scenario, if one thread is generating a lot more work than others, it won't be able to handle all of its own work, moving some to the global queue could help out

[2017-04-01 16:55] iSazonov commented on #10643
@mklement0 Maintainers want the [format ](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md)

[2017-04-01 17:12] svick commented on #10643
@iSazonov Changing this would not affect the shape of the API, only behavior. So I don't think following the API review process makes sense.

[2017-04-01 18:23] wizzard0 opened #10644 "Null (allocate-only) GC proposal"
Proposal: create a No-op GC, selectable at application start (via app manifest and/or via command line option).

Rationale is about the same as for the [Epsilon GC](http://openjdk.java.net/jeps/8174901):

- Performance testing, to be able to separate GC-induced performance variations
- Functional testing, e.g. to quickly detect allocation rate spikes in applications that are supposed to run with l

[2017-04-01 18:36] karelz commented on #10600
Just a quick update: I had a chat with @brianrob earlier this week. There is some development happening in the space that we are not ready to disclose yet (it might not work out, more partners involved, etc.) - it has a potential to simplify the overall tracing story on Linux (incl. stacks).
It might be best to wait for a few weeks / couple of months for the story to crystallize and then make the

[2017-04-01 18:43] goldshtn commented on #10600
In the meantime, it looks like LTTNG 2.10 is going to have stacks support. I'm not 100% clear on whether this will work for userspace events, though. Here's the patch: https://lists.lttng.org/pipermail/lttng-dev/2017-March/026985.html

[2017-04-01 19:05] #9288 closed

[2017-04-01 19:09] #9935 closed

[2017-04-01 19:17] davidfowl commented on #10644
`TryStartNoGCRegion` might be good enough for this? https://msdn.microsoft.com/en-us/library/system.gc.trystartnogcregion(v=vs.110).aspx

/cc @Maoni0

[2017-04-01 19:19] yizhang82 commented on #8742
Note that Marshal.StructureToPtr doesn't zero init the buffer as well - it simply copies the entire structure (if it is blittable) or copy field-by-field (if requires marshaling).

[2017-04-01 19:19] #8742 closed

[2017-04-01 19:29] adamsitnik commented on #10644
as soon as this is implemented I add the support to BenchmarkDotNet for it ;)

[2017-04-01 19:32] yizhang82 commented on #7231
@TautvydasZilys Thanks for reporting this issue! As discussed offline (last year), this is an interesting case where a WinRT object implements multiple WinRT delegate interfaces. Typically there is 1:1 relationship between .NET objects and WinRT objects, but this is a case where the same WinRT object has multiple .NET object identity. In practice this would only happen if you managed to get WRL C+

[2017-04-01 19:32] #7231 closed

[2017-04-01 19:41] yizhang82 commented on #9093
@danmosemsft Not a bug. @jakobbotsch is correct. CharSet only affects how CLR marshals the struct to native - the managed side of the struct is still using UTF-16 char. By having a offset(0) and offset(1) char fields, they effectively overlap with each other by 1 byte and that is not very good.
@alexwiese Please feel free to let us know if you still have more questions.

[2017-04-01 19:41] #9093 closed

[2017-04-01 19:42] yizhang82 commented on #7793
@tijoytom Can you get this fixed?

[2017-04-01 19:57] yizhang82 commented on #6531
@tannergooding Thanks for your suggestion. Unfortunately allowing ComInterface.Native changes many fundamental assumptions in COM interop implementation in the system:
1. Every COM interop interface derives from IUnknown
2. Every COM object lifetime is controlled by ref-counts
3. Every RCW wrapper's identity corresponds to a IUnknown of the underlying native object
Supporting ComInterface.Native w

[2017-04-01 21:02] jkotas commented on #10644
This type of cutting edge GC improvements is exactly what we are hoping to enable with the [local GC project](https://github.com/dotnet/coreclr/projects/3).

[2017-04-01 21:03] wizzard0 commented on #10644
@davidfowl TryStartNoGCRegion was a great start, but it only gets you 256 MB of heap for small objects + 256 mb LOH max

[2017-04-02 00:40] Maoni0 commented on #10644
I believe having the API that allows you to specify a NoGC region is a much better choice for the majority of our customers than having a totally separate GC that does no GC because you have the flexibility to revert back to doing normal GCs when you need to.

You can certainly allocate more than that if you use Server GC for SOH. For LOH you can already allocate more than 256mb even with Workstat

[2017-04-02 00:55] MichalStrehovsky opened #10646 "Array.Copy doesn't handle pointer-objref conversions"
This should probably throw a `ArrayTypeMismatchException` like e.g. the `IntPtr[]` and `int*[]` case does, but it does something horrible instead:

[code]

Neither of these `Array.Copy` should succeed.

[2017-04-02 03:26] mazong1123 commented on #9530
Does this issue still exist? I just ran the test specified but only got following message:

[code]

[2017-04-02 04:50] jkotas opened #10647 "Debug.Assert failure should terminate the program unconditionally"
Repro:

[code]

dotnet restore
dotnet run

Actual result: "Hello World!"
Expected result: Program is terminate with assert message

[2017-04-02 04:54] jkotas commented on #10647
The problem is that the `Debug.Assert` throws a regular catchable exception today. Instead, it needs to fail fast. There is old [TODO](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Diagnostics/Debug.Windows.cs#L19) pointing to https://github.com/dotnet/corefx/issues/3708 that was never fixed and postponed to future instead.

[2017-04-02 04:58] jkotas commented on #10647
This is import to fix for v2.0.

We may be hitting assertion failures in our debug build tests runs today, but we never notice them because of they get caught as exception.

cc @danmosemsft @gkhanna79

[2017-04-02 07:08] danmosemsft commented on #10647
We want literally `Environment.FailFast` ? Will that produce equally good debug experience?

[2017-04-02 08:54] wizzard0 commented on #10644
@Maoni0 Thanks for the detailed explanation! I will repeat my TryStartNoGCRegion/GCSegmentSize experiments and post the results/repro here, maybe i've missed something obvious :)

I agree having it runtime-configurable is definitely more flexible, too.

And, while we're on that -- are there any plans on further improvements in the latency land? I would gladly trade 20% of mutator performance for l

[2017-04-02 10:21] jkotas commented on #10647
We should keep the `Debugger.Break()` when debugger is attached: https://github.com/dotnet/coreclr/blob/f355c5789d5d7cd6ea10bee326c66f04641cfc90/src/mscorlib/src/System/Diagnostics/Debug.Windows.cs#L15

[2017-04-02 18:24] sergign60 commented on #9166
Now I get the another set of failed tests, but the reason is not this profiling callbacks implementation.

For example,

coreclr/Tests/JIT/Regression/VS-ia64-JIT/V1.2-M01/b10827/b10827

fails (segmentation fault) with

COMPlus_JitELTHookEnabled=1
COMPlus_GCStress=0xC
COMPlus_TailcallStress=1

both with the profiler's callback calls and when I commented their calls.

[2017-04-02 19:19] tarekgh commented on #10390
I have merged the changes of using teh corert similar implementation and I'll keep this issue open to look at more optimization in the near future. thanks all for your feedback.

[2017-04-02 19:25] karelz commented on #10390
@tarekgh given that this is blocking one of the customer end-to-end problems. I wonder if we should just close this one as 'fixed' and file a new issue tracking further improvements, linking some top ideas from here ... the discussion here also quite long anyway ... thoughts?

[2017-04-02 19:25] karelz commented on #10390
Also the title is now probably wrong ... 7x is likely misleading at this moment ...

[2017-04-02 19:26] tarekgh commented on #10390
ok, I'll log a new issue later today

[2017-04-02 20:00] tmds commented on #10390
@tarekgh is it a bug in the parsing code some of the strings produced by evct_r can't be parsed? Or is this expected?

[2017-04-02 20:08] tarekgh commented on #10390
It is not a parsing bug. what is happening is evct_r is rounding some numbers which cause the problem in the boundary cases. for example when using Double.MinValue, evct_r will produce "-1.797693134862316E+308" while without evct_r we produce "-1.7976931348623157E+308". -1.797693134862316E+308 is considered less than Double.MinValue and making the parsing throw overflow exception. As I mentioned b

[2017-04-02 21:06] tarekgh opened #10651 "Perf: double.ToString() 3x slower in some cases on Linux"
We have enhanced the performance of  Double.ToString when running on Linux. we used to be 7x slower on Linux than on Windows but now we are around 3x slower in some cases.this issue is tracking looking at Double.ToString performance to optimize more when running on Linux.

Note that, the current Double.ToString performance is slightly better than Windows in some cases (like when using Double.MaxVa

[2017-04-02 21:07] tarekgh commented on #10390
logged #10651 tracking the remaining work need to be done here and closing this issue per @karelz suggestion.

[2017-04-02 21:07] #10390 closed

[2017-04-02 21:33] karelz commented on #10390
Thanks!

[2017-04-02 21:35] karelz commented on #10651
@tarekgh just to clarify: Are we tracking improvements on Linux (title says that) or on Windows (first paragraph says that). Or both?

[2017-04-02 21:41] tarekgh commented on #10651
we are tracking to fix the perf on Linux as the title mention. thanks for the catch, I had typo in the first paragraph and I have fixed it.

[2017-04-02 22:59] jarodrig commented on #10386
We should not avoid emitting inc/dec anymore: check out VC++ default codegen and you will see we use it liberally there.

-Juan (Intel)

[2017-04-02 23:25] seanshpark commented on #10599
This is a small program that shows the problem.
[code]

What I assume suspicous is the difference in with and without `FEATURE_FIXED_OUT_ARGS`.

This is the one with the feature
[code]

and this is the one without the feature, current master (but may not be the latest)
[code]

As I could see is that `push ptr  3` number is different and there is no `kill args  1`.

[2017-04-02 23:26] seanshpark commented on #10599
Rigt before the assert shows
[code]

[2017-04-02 23:28] jarodrig commented on #10386
..and you should see that in the case where VC++ can detect the consumer of a flag generated by a partial flag writer, it should be emitting add/sub instructions -- the point is that you should not see blanket substitution of inc/dec by add/sub everywhere.

-Juan (Intel)

[2017-04-03 00:09] seanshpark commented on #10599
Actually current master has `FEATURE_FIXED_OUT_ARGS` OFF so there is no issue about it. But may be related as @parjong descrbied in https://github.com/dotnet/coreclr/issues/9265#issuecomment-290259083 .  I'm trying to enable the feature and this issue showed up. I couldn't find a single clue and then found one thing in GC info by help of @wateret and that was `kill args  1` in gc dump.

[2017-04-03 01:12] hseok-oh commented on #10603
resolved

[2017-04-03 01:12] #10603 closed

[2017-04-03 02:06] danmosemsft commented on #10642
@janvorli @mellinoe

[2017-04-03 02:10] ufcpp commented on #10448
How about `ValueTuple<...>`?
I expect `ValueTupele`s are blittable if its all type arguments are blittable. However, They are not so because their `LayoutKind` is `Auto`.

[2017-04-03 02:16] danmosemsft commented on #9631
Not really actionable and not seen since.

[2017-04-03 02:16] #9631 closed

[2017-04-03 03:00] Matticusau commented on #8200
Just a point as I came across with my repo. In my case I am building my website from a subdirectory of the repo. The **global.json must exist in the root of the repo**, not the site to be built.

[2017-04-03 04:49] jyoungyun commented on #5853
@janvorli Thank you. I understood that you removed the dependency on the fixed icu version at build time and if we use `System.Globalization.Native.so` in an environment without icu, you give a chance to use the pre-built library, which provides only en-US. In fact, Tizen uses a different version of icu than ubuntu, so a fixed version check at the time of build was causing issues. However, recent

[2017-04-03 05:13] hqueue commented on #8496
@BruceForstall I also agree with your suggestions :)

However for the Ryuji/ARM32 project https://github.com/dotnet/coreclr/projects/4, I've already knew the existence from Jan., but I'don't have any permission to use it. Do you know who made this ? It would be convenient if we can use the project too, in addition to the link to this meta-issue which is used to track the status of ryujit/arm32 ove

[2017-04-03 05:38] brianrob commented on #10600
@goldshtn, thanks for sharing.  I read through Mathieu's patch and it looks like userspace events are covered - there is a user-space call-stack context.  From the RFC: "Add kernel and user callstack contexts".  This would be a great addition!

[2017-04-03 05:54] goldshtn commented on #10600
@brianrob Yes, but are you sure the stack events would be collectable without the LTTng kernel modules? Or do we currently require LTTng kernel modules in any case? (I am not very familiar with LTTng internals...)

[2017-04-03 05:56] goldshtn commented on #10600
In the meantime, you might also find my [second post](http://blogs.microsoft.co.il/sasha/2017/04/02/tracing-net-core-on-linux-with-usdt-and-bcc/) useful, where I show some of the things that would be possible if we had stack trace support for LTTng right now. Perhaps we could use something similar to [my patch](https://gist.github.com/goldshtn/eae953dfccd2eb4b4d43d4c326b62fb5) that embeds both USD

[2017-04-03 06:06] hseok-oh opened #10654 "[RyuJIT] [ARM32] [ReadyToRun] New assertion when invoking method"
smilar issue: #10347

When running NI file which is generated by ReadyToRun using Ryujit/ARM32, assertion fails as #10347

Environment: checked build  (@99adda23317d943eb2644ffd87798e0e264d426b)
[code]
Test program
[code]

JIT code
[code]

[2017-04-03 06:06] hseok-oh commented on #10654
This assertion is based on dirty of r12. We must avoid to allocate register r12 as bx's target register.
[code]

[2017-04-03 07:35] sjsinju commented on #8496
Current status of ran as CodeGenBringUpTests
[code]

## Run test with ryujit and legacyjit
[code]

## NYI assertion hit frequencies

[code]

## Number of methods falling back to legacy JIT
[code]

## Number of methods compiled with the RyuJIT backend
[code]

[2017-04-03 09:42] sjsinju opened #10657 "[RyuJIT/ARM32] Implement NYI related with GT_OBJ and GT_STORE_OBJ"
In the comment, (https://github.com/dotnet/coreclr/issues/8496#issuecomment-291069270)
We can check 3 NYIs related GT_OBJ and GT_STORE_OBJ like below as results of run tests CodeGenBringUpTests.
[code]

[2017-04-03 10:07] alpencolt opened #10658 "[ARM32] SpanBench is failing"
Execution of  Span test on ARM32 Linux cause unhandled exception on both backends:
[code]

Checked on:
[code]

[2017-04-03 10:42] LokeSonne commented on #10279
@robbpriestley Sure seems like it. This is in the changelog for the extension in vs code:
What's New in 1.8.1
Fixes debugging on macOS Sierra 10.12.4.

(and it's working)
Brilliant!

[2017-04-03 11:05] joristt commented on #10279
I did precisely what @suqram suggested, but now I get a popup when I try to run my application:

I don't get the "Unable to attach to CoreCLR" message in my Application Output window anymore, so that's fixed.

[2017-04-03 11:08] jhallam3 opened #10659 "Visual Studio for Mac - Unit Tests"
Hi,

Having tried the Unit Tests in Visual Studio for Mac Preview, they next run..

Is this something that should work ?

Thanks

[2017-04-03 13:43] ruben-ayrapetyan commented on #10380
@jkotas,

Thank you very much for your comments.

We clarified the measurements.

Also, need to add some comments about them:
 - the measurements were performed with assemblies precompiled in ReadyToRun format, which currently isn't default in Tizen. When Fragile format of assemblies is used, distribution of memory consumptions looks quite differently.
- the measurements show "Private" memory usag

[2017-04-03 14:14] janvorli commented on #10599
@seanshpark it does not do that. What I am suggesting is different. Let me explain what I mean by example:
First, the current way with FEATURE_FIXED_OUT_ARGS for a call of a hypothetical function with four int args
[code]
And now the same code modified as I have suggested, still with FEATURE_FIXED_OUT_ARGS:
[code]
As you can see, the esp at the caller will be the same. Does it make sense?

[2017-04-03 14:49] gregg-miskelly commented on #10279
@joristt if you have the 1.8.1 extension installed and you are still running into an issue, your issue isn't related to this issue. Please open a new issue, this issue is long enough :).

[2017-04-03 15:27] BruceForstall commented on #9591
@VSadov Any comments on this?

[2017-04-03 15:37] robvdveer commented on #10279
I was working on aspnet core when this issue started, and with VS preview it used to start a new Browser with a new debug session. Am i looking for the wrong setting now?

[2017-04-03 15:40] ruben-ayrapetyan commented on #10380
@jkotas, thank you for the information!

[2017-04-03 15:50] joristt commented on #10279
@gregg-miskelly Yeah you're right, sorry :). You said

and I interpreted that as: replace only the vsdbg Unix executable. Tried copying everything from that zip to the VS Adapter directory 1 minute after commenting here and that fixed the problem.

[2017-04-03 16:05] gregg-miskelly commented on #10279
@robvdveer by 'VS Preview' you mean 'VS For Mac Preview' correct? If so - VS For Mac hasn't shipped an update vsdbg package containing the fix yet (at least to my knowledge), so you are very likely at the right place. There are two work arounds posted above, but I will give you the latest version of it --

* Download https://vsdebugger.azureedge.net/coreclr-debug-1-9-1/coreclr-debug-osx.10.11-x64.

[2017-04-03 16:13] sdmaclea commented on #9535
@dotnet/arm64-contrib Windows Arm64 CI has been broken for over 2 weeks (#10326).  Most of the issues appear to be manually picking tests and corefx libraries.  This should be automated.

FWIW I have managed to automate this process in my internal CI for merge commits.  It is pretty straight forward and obvious

1. Use correct corefx version using dependencies.prop.  Build cross native and managed

[2017-04-03 16:13] BruceForstall opened #10660 "[RyuJIT/ARM32] Reduce arm32/arm64 code duplication"
As new code is implemented for RyuJIT/ARM32, it is mostly implemented by copying from lsraarm64.cpp to lsraarm.cpp and codegenarm64.cpp to codegenarm.cpp, and modifying a few lines to make it work for ARM32. This is creating a huge amount of almost-identical code between the two platforms. This is undesirable.

Given that ARM32 and ARM64 are so similar in so many ways, I suggest we change from thi

[2017-04-03 16:27] robvdveer commented on #10279
Thanks @gregg-miskelly for such a quick response!

[2017-04-03 16:34] sdmaclea commented on #10660
@BruceForstall

- The current separation allows relative certainty that a code change could not have affected the other platform.  Until both platforms are stable and CI is accessible it may be to early to do this merge.  Arm64 CI has been broken for two weeks.  That would mean no arm32 change could have been merged over the same period.  Over the last few month arm32 has seen similar outages.
- I

[2017-04-03 17:22] lt72 opened #10661 "Enable Debugger Test run for x86 architecture"

[2017-04-03 17:30] mrward commented on #10659
@jhallam3 - Visual Studio for Mac problems should be reported either using Help - Report a Problem, or by opening a bug on https://bugzilla.xamarin.com, rather than here.

[2017-04-03 17:58] alpencolt commented on #10660
Looking to `codegenlegacy.cpp` and `morph.cpp` I think 2nd option is better. It is quite difficult to understand and support such code, especially when you new in project. `#ifdef` is good for checking features.
But any way, an imperfect solution is generally better than not having any solution at all.

Understanding of common and different things in both architectures same may help make the right

[2017-04-03 18:00] gkhanna79 commented on #7994
@wtgodbe As discussed, I am assigned this to you. Fixing this involves two stages:

1) Package the UCRT binaries into the CoreCLR nuget package. During the build, use `UniversalCRTSDKDir` environment variable to get the base location to find the binaries for the architecture in question. We will **not** be doing this for Arm64 since the problem is not applicable there. Also, we should package the

[2017-04-03 18:11] jashook commented on #9535
@sdmaclea for historical reasons the arm64 Windows CI relies on a frozen set of test binaries. Now that we are past that stage, and corefx is fairly stable we can remove that dependency. The work to do so is not much and I have begun doing it while updating the test drop.

[2017-04-03 18:13] kouvel opened #10665 "Add test for InternalsVisibleTo / DebuggableAttribute"
Add test for PR #10664

[2017-04-03 18:19] danmosemsft commented on #4238
@gkhanna79 is this required for 2.0?

[2017-04-03 18:23] danmosemsft commented on #9668
@tarekgh is this necesasry for 2.0?

[2017-04-03 18:23] gkhanna79 commented on #4238
It is not blocking.

[2017-04-03 18:25] janvorli commented on #4238
I believe this was fixed in #9982 and #10045. @BruceForstall are you aware of anything else that needs to be done here?

[2017-04-03 18:25] benaadams commented on #9668
Its a bigger change than I tried to do so probably needs the code coverage increased first?

[2017-04-03 18:30] BruceForstall commented on #4238
No, I think this is fixed now.

[2017-04-03 18:30] #4238 closed

[2017-04-03 18:35] tarekgh commented on #9668
@danmosemsft I moved it to the future. it is not really required for v2.0

[2017-04-03 18:38] BruceForstall commented on #8496
I created a new GitHub "Team" for ARM32 work: @dotnet/arm32-contrib . If you are working on RyuJIT/ARM32, please go to https://github.com/orgs/dotnet/teams/arm32-contrib and request to be added to this team.

This should make it easier to know who is currently working on this project, or who is interested in this project, so a single tag of @dotnet/arm32-contrib will reach all such people.

[2017-04-03 18:45] noahfalk commented on #9166
@dotnet/jit-contrib

You said it failed when you 'commented their calls', is that the same as having the test fail without any of your changes being present?

[2017-04-03 18:52] danmosemsft commented on #6730
@ghost does not exist, this seems resolved so I'll close. If not please reopen

[2017-04-03 18:52] #6730 closed

[2017-04-03 19:05] sdmaclea commented on #9530
The test is skipped because it is in the tests/testsUnsupportedOutsideWindows.txt file.  In order to run you will probably need to run manually, remove from the above list, or use --runFailingTestsOnly flag on runtest.sh.  Be careful though at least one of the GC unsupported tests will consume all memory and in my case have often forced a complete reboot.  I would recommend limiting the tests to a

[2017-04-03 19:16] benaadams opened #10666 "[RyuJIT/x64] Generates excessive mov ops"
[code]
Will generate
[code]

[2017-04-03 19:16] janvorli commented on #10642
@Daniel-Svensson thank you for looking into this! The numbers from your experiments look really great.

As for your questions:

It would first have to be tested if these changes would improve desktop. Since on desktop, we are calling into OLEAUT32, it is possible that the code in there was already optimized for 64 bits.
@jkotas, I guess that if the perf gains are similar on Windows, we would want

[2017-04-03 19:16] janvorli commented on #10642
I also have a question - will the intrinsics used in your changes work for Unix ARM64?

[2017-04-03 19:23] benaadams commented on #10666
Changing it to
[code]
Generates
[code]

[2017-04-03 19:34] danmosemsft commented on #9668
Thanks!

[2017-04-03 19:35] janvorli commented on #8082
@hseok-oh is this issue still happening?

[2017-04-03 19:47] olegsavelos commented on #10605
So what should i expect ? Is there is any chance there will be commitment from the community or MS to bring Arm6 support or the only way is Mono ?

[2017-04-03 20:10] AndyAyersMS commented on #10031
Simple example: we'd like the span ctor and indexer to inline into `X<T>.C`, when `T` is a ref type.
[code]
When `T` is a value type `X<T>` is not shared and we can inline the span methods. Eg for `X<int>`:
[code]
But when `T` is a ref type `X<T>` is shared and the inlines are blocked, eg for `X<string>`
[code]

[2017-04-03 20:21] noahfalk commented on #6095
To the best of knowledge we aren't using the transparency bits either? One thing to be wary of, Profiler IL instrumentation and Edit and Continue both provide ways to alter the IL for a method after it was jitted and jit it again. We'll need to take care that cached computed properties of the IL aren't being inappropriately applied to new IL versions. ENC disables all the JIT optimizations and the

[2017-04-03 21:16] Maoni0 commented on #10644
@wizzard0 latency is something we always try to improve. Obviously there are many different scenarios and we have to prioritize our work. If you would like to tell me more details on the product you are working on, I'd be happy to understand the specific scenarios you care about to see what we could do to help. Feel free to email me with some description if you like.

[2017-04-03 21:37] RussKeldorph commented on #10597
Let's see where dotnet/cli#6223 goes.

[2017-04-03 21:50] RussKeldorph commented on #10666
@dotnet/jit-contrib

[2017-04-03 22:01] benaadams commented on #10666
[code]
Generates
[code]

[2017-04-03 22:07] danmosemsft opened #10673 "baseservices_threading._threadstatic_ThreadStatic03_ThreadStatic03_._threadstatic_ThreadStatic03_ThreadStatic03 failed in CI"
https://github.com/dotnet/coreclr/pull/10667

[code]

[2017-04-03 22:27] seanshpark commented on #10599
@janvorli , thank you for the example. Result is same but ESP changes while setting the arguments. @parjong, what do you think about this?

[2017-04-03 22:29] russellhadley commented on #10666
Also:
- Missed byte extract (and operation).  Should be a byte comparison operation on cl.
- Also potentially if-convert to to remove all branches.

[2017-04-03 22:35] danmosemsft opened #10675 "Add Fedora 25 to coreclr CI"
@wtgodbe

[2017-04-03 22:40] wtgodbe commented on #10675
I don't think we currently have a docker image for Fedora 25, just 23 & 24 - when we run tests for Fedora 25 in Helix, we're using Portable Linux bits. @MattGal can confirm. If that's the case, I can add a Fedora 24 job to CI, but I believe all that would entail is switching all instances of fedora23 to fedora24 in netci.groovy, which would be easiest to do in your current PR https://github.com/do

[2017-04-03 22:50] benaadams opened #10677 "'msbuild.exe' is not recognized as an internal or external command"
In x64 Native Tools Command prompt for VS 2017

Fails when trying to build tests (so bin is created fine)

Tail end of build
[code]

[2017-04-03 22:51] benaadams commented on #10677
No test logs referred to are written

[2017-04-03 22:53] benaadams commented on #10677
If building from regular cmd prompt it fails at start with
[code]

[2017-04-03 23:06] benaadams commented on #10677
May be issues by old branch leaving cruft

[2017-04-03 23:06] #10677 closed

[2017-04-03 23:13] parjong commented on #10599
I'm nor sure, but it seems that this approach does not work for thread interrupt. One of reasons that we start to enable ``FEATURE_FIXED_OUT_ARGS`` is to make ``esp`` stable inside interruptible region. If we could guarantee thread interrupt safety with the above approach, it implies that we could achieve the same effect without ``FEATURE_FIXED_OUT_ARGS`` as I understand.

[2017-04-03 23:18] BruceForstall opened #10680 "runtest.sh failure on Mac OSX 10.12.4"
When I run tests\runtest.sh, I see:
[code]
This is in the following code:
[code]
@sdmaclea You added this code in https://github.com/dotnet/coreclr/pull/9907. Any suggested fix? (I'm not a Unix/Mac shell script guru by any means...)

(Does the CI see this? If not, why not?)

cc @wtgodbe

[2017-04-03 23:35] #3541 closed

[2017-04-03 23:42] janvorli commented on #10599
I am not sure why would the instability of esp during argument pushing cause a trouble with thread interruption. I think the managed unwinder would be able to unwind from any point in a method and GC info should be also valid at any point in a fully interruptible method.
Please correct me if I am wrong.
For me, the main reasons for using FEATURE_FIXED_OUT_ARGS was the stable caller ESP and the abi

[2017-04-03 23:53] BruceForstall commented on #10660
@sdmaclea You are correct that doing this merge increases the testing burden. I am ok with that. The alternative is building up a backlog of "cleanup" merging work that is less likely to happen, and is hard to get right.

Having a flaky CI system is quite unfortunate. Hopefully that will improve; there are resources on it.

I left out a slightly selfish reason for wanting to merge, which is the cu

[2017-04-04 00:15] #10647 closed

[2017-04-04 00:25] parjong commented on #10599
@janvorli I totally agree with you that the above approach will work for stack unwinding. My concern is stack alignment. Stack alignment may be broken if there is a ``esp`` change inside interruptible region.

[2017-04-04 00:38] yizhang82 opened #10684 "Bring back TlbImp related attributes"
We should consider bring back some attributes used by TlbImp into .NET Core 2.0. These attributes are:

[code]

In most cases, the attributes are placed by TlbImp into the image directly (using Ref/Emit) and usually CLR won't bother loading them anyway. However, there are other cases such as manually disassembled C# code from TlbImp output, and .NET native (that are more sensitive to missing types

[2017-04-04 00:58] knilecrack commented on #10279
@gregg-miskelly  well played. Thanks

[2017-04-04 01:16] mountgellert commented on #9040
@danmosemsft hi, this causes repeatedly performance issues, is there a reason this was removed from 2.0.0 milestone?

[2017-04-04 01:23] danmosemsft commented on #9040
@mountgellert thanks for asking, just lack of time for 2.0, and it's not a regression. I'd certainly like it fixed though and master is still a 2.0 branch. Do you want to offer a PR?

[2017-04-04 01:24] #10659 closed

[2017-04-04 01:43] hseok-oh commented on #8082
@janvorli Yes. It seems ARM32 ReadyToRun (based on legacyJIT) issue.

[2017-04-04 01:48] parjong commented on #9706
@seanshpark Why don't you close this?

[2017-04-04 01:51] VSadov commented on #9591
I think C# spec just tries to explain that `checked` only has effect on types that can overflow - i.e. integral vs. floating point types or some random type with undefined range and user-defined operators.

"Integral" is probably slightly misused here, but integer arithmetic is clearly applicable to pointers and pointers have a range of permitted values, so add/sub operations can be checked.

[cod

[2017-04-04 02:09] parjong commented on #10025
Close as this issue disappears.

[2017-04-04 02:09] #10025 closed

[2017-04-04 02:11] parjong commented on #9272
Close as this issue disappears.

[2017-04-04 02:11] #9272 closed

[2017-04-04 03:15] jkotas commented on #9668
If you are not going to fix this for 2.0, you should just resolve it as won't fix. It is pretty non-realistic that we will change it if 2.0 ships with this behavior.

[2017-04-04 03:17] jkotas commented on #9668
I have just written a comment here that was meant for a different issue. It is deleted now. Sorry for the noise.

[2017-04-04 03:48] jkotas commented on #10642
Desktop is calling the implementation of these methods in oleaut32. I doubt that fixing a oleaut32 perf problem by duplicating its implementation would fly for desktop. It would most likely turn into suggestion to Windows to fix the perf problem in oleaut32.

Ideally, we would have fully managed implementations on these methods in C# in .NET Core. There is C# implementation of these methods in Cor

[2017-04-04 04:18] hqueue commented on #10660
@BruceForstall   I agree that there are bunch of common code between arm32 and arm64 and I understand that it's inefficient to review new arm32 implementation in current code structure.
However I also agree with @sdmaclea and @alpencolt.

I think the purpose of this refactoring should be "to ease implementing and reviewing arm32 port" and we should make decision considering all the concerns.

If w

[2017-04-04 04:58] mikedn commented on #10666
@russellhadley Are you referring to `cmp ecx, 9`? It could be `cmp cl, 9` but it has the same size so it's not clear why that would be useful. And on x86 this may actually be a problem because it excludes `esi`, `edi` and `ebp` registers from being used in such cases.

[2017-04-04 05:16] jkoritzinsky opened #10687 "PInvoke with Reference Return throws MarshalDirectiveException"
Using the files below:

Native (C):
[code]

Managed (C#)
[code]

Now that ref returns are supported in C#7, I had expected that the marshaler would have marshaled the return value back as a reference, just as the marshaler marshals a reference to a pointer for the method parameters.

I am willing to help contribute this feature if the CoreCLR team would be interested.

@jkotas

[2017-04-04 05:31] BruceForstall commented on #10660
I think it will be much easier to develop arm32 with sharing / refactoring of arm64 in mind. If we continue developing as today, we will end up with essentially duplicate copies of everything and merging them later will be very difficult. So, I think we must merge them now and establish a sharing framework now, A judgement call will always need to be made between (1) sharing a function entirely, (

[2017-04-04 05:51] jkotas commented on #10687
cc @yizhang82

This looks like another case that may be best handled by the marshalling code generators.

[2017-04-04 07:07] rahku commented on #8732
The issue reported in this bug i.e. path containing ? causes failure no longer exists. As part of this issue now I only intend to track removal of file URLString.cs

[2017-04-04 08:13] janvorli commented on #10673
The exit code means a buffer overrun.

[2017-04-04 08:22] tmds opened #10690 "ProcessorCount when running with docker cpuset"
When running in Docker on Linux, Environment.Processor returns the number of available logical processors in the host system. It doesn't take into account the limitations that were set on the container.

Dockerfile:
[code]
src/Program.cs:
[code]
src/app.csproj:
[code]

Executing:
[code]

The latter call should return 1.

Mono was fixed for this issue, see bug report: https://bugzilla.xamarin.com/s

[2017-04-04 08:40] janvorli commented on #10599
@parjong I am not sure how the stack alignment would get broken. When we interrupt a thread to bring it to a safe point for a GC, debugger or profiler, it is done by sending it a signal. In the signal handler, the esp is always aligned properly, the kernel cannot rely on the correct alignment in the user code. Then for fully interruptible functions, we wait in the signal handler for the GC complet

[2017-04-04 08:52] parjong commented on #10599
16-byte alignment is required by GCC (not by Kernel).  If so, it is possible that the signal handler does not guarantee 16-byte alignment.

[2017-04-04 09:53] tmds commented on #10690
@janvorli does the runtime check the available memory? If so, how does it do that? Maybe some change is needed there too.

[2017-04-04 10:49] wateret commented on #10599
@janvorli @parjong What about putting argument info in *the lifetime table* instead of the push/kill sequence? As I observed from arm32/Linux(`FEATURE_FIXED_OUT_ARGS` on), it does something like that.

[2017-04-04 10:52] janvorli commented on #10599
@parjong no, it is not possible. That would mean that a signal handler would crash if by a chance the code that was interrupted by the signal had misaligned stack, which can easily happen in any code produced by GCC or clang for x86. Linux has to be resilient to that.

[2017-04-04 10:53] janvorli commented on #10599
@wateret I am not sure I understand what you mean. Could you please explain your idea in more detail?

[2017-04-04 11:37] wateret commented on #10599
@janvorli For example, say we have this code

[code]

Here's GCInfo for `Main`. (master without this patch)

[code]

Four arguments(arg2,3,4,6) are passed via stack. What I meant was removing all push/kill entries from *arg reg table*. And add below entries to *variable lifetime table*.

[code]

[2017-04-04 12:08] janvorli commented on #10642
Ah ok, I've not realized we already have a managed implementation in CoreRT. So I agree with @jkotas that we should focus on improving the managed implementation.
@Daniel-Svensson using your measurements would be a good estimate on how far we could possibly get.

[2017-04-04 12:12] janvorli commented on #10690
@tmds yes, it does. See the GlobalMemoryStatusEx in PAL. I am just in a process of adding swap file info to that.

[2017-04-04 12:43] alpencolt commented on #10660
@BruceForstall, let's look to `CodeGen::genCodeForArrOffset()`. This methods for ARM and ARM64 almost the same except few line code where we call emitter. It's better to use `#ifdef` statements than create callback there. But what about others? I want to estimate how many such cases are there. Also good to know how many methods are different more than few line of emitting. I guess no one wants to

[2017-04-04 13:06] ruben-ayrapetyan opened #10693 "[ Memory consumption ] Use flat layout for IL-only assemblies"
Hello.

We propose to reduce consumption of memory, which is used for "IL-only" (without native code) assembly images.

Currently, "IL-only" assemblies are being mapped to memory by using map per section.

First, the assemblies are tried to be mapped using `MAPMapPEFile`.

If the try is successful, then assembly is directly mapped to memory, and is registered through `MappedImageLayout`. This is g

[2017-04-04 13:29] jerboaa commented on #10690
FYI:
JDK bug for CPU limits in Docker: https://bugs.openjdk.java.net/browse/JDK-8146115
JDK bug for memory limits in Docker: https://bugs.openjdk.java.net/browse/JDK-8170888

[2017-04-04 13:29] tmds commented on #10690
@janvorli Similar problem for memory, kernel APIs are not aware of the container. jdk9 has an experimental option, from https://bugs.openjdk.java.net/browse/JDK-8170888

[2017-04-04 13:36] stephentoub commented on #10690
This is the wrong answer, though.  The number of processors the OS will allow a process to use at any one time / what it's affinitized to is different from the number of processors in the environment / on the machine.  On Windows you can affinitize a process to only a subset of cores, but we still return from Environment.ProcessorCount the number of cores available to the OS and not just the ones

[2017-04-04 13:45] tmds commented on #10690
I agree it's not perfect. It's a pragmatic solution mono and jdk have adopted to report an appropriate number of cpus in docker containers.

[2017-04-04 14:33] sdmaclea commented on #10680
@BruceForstall "declare -A " creates a hash map in bash version 4.  I am not sure why this went through CI, but at one point I thought the mac osx 10.12 leg was disabled.  Bash version 3 did not support hash map.

I will try to prepare a patch to fix this, but unfortunately I do not have an older bash to test against.

[2017-04-04 14:38] tmds commented on #10690
Adding an alternative. Like the memory, cpu's can also be read from the cgroup filesystem.
[code]

[2017-04-04 14:59] rionmonster opened #10694 "Seemingly Arbitrary Random Objects in Test APIs"
When looking into another existing issue, I came across the following seemingly unused instances of a `Random` class similar to the the following instance:

[code]

After a cursory look, it appeared a few times specifically within the Test APIs (`tests/src/baseservices/compilerservices/dynamicobjectproperties/testapis.cs`) section, but may be found in other places:

  - [C:\dev\coreclr\tests\src\b

[2017-04-04 15:03] sdmaclea commented on #10680
I think --crossgen option is rarely used.  Perhaps it is only used when running r2r legs.

[2017-04-04 15:05] stephentoub commented on #10694
If the local is completely unused, it could be deleted.

[2017-04-04 15:14] mountgellert commented on #9040
I have the from-to above, but will do a PR too.

[2017-04-04 15:51] #7994 closed

[2017-04-04 15:54] ruben-ayrapetyan commented on #10693
We plan to open pull request for this change in two days.

[2017-04-04 17:44] pgavlin commented on #5063
Ideally we would use `jit-diff` for this with one flavor as the baseline JIT and one as the diff JIT. Because [`jit-diff` is undergoing some changes at the moment](https://github.com/dotnet/jitutils/pull/103) I intend to wait on this for now.

[2017-04-04 17:53] wtgodbe commented on #9146
https://github.com/dotnet/coreclr/pull/10541 resolves

[2017-04-04 17:53] #9146 closed

[2017-04-04 18:28] ruben-ayrapetyan opened #10701 "CoreCLR contracts check on Unix"
Hello.

Current `compileoptions.cmake` (https://github.com/dotnet/coreclr/blob/master/compileoptions.cmake) defines `DISABLE_CONTRACTS` for Unix platforms:
[code]

Seems like the define means that CoreCLR contract checks are disabled on Linux by default, and so all `PRECONDITION`/`POSTCONDITION`-like checks are also disabled on the platform by default.

Please, clarify, are there any supported way

[2017-04-04 18:34] jhudsoncedaron commented on #919
I've ran into the same darn issue. The method GetLoadedAssemblies() on AssemblyLoader would *work* but I'm not allowed to call it.

[2017-04-04 18:43] polarapfel opened #10703 "CLR performance Linux versus Windows"
Hi there,

Running version 1.0.1, creating a new console application using the default template, I noticed that the CLR takes up to two seconds on Linux to initialize before executing the "Hello World" binary from the default template. On Windows (same machine spec), the execution is instant.

Is this a known issue?

thanks,

Tobias W.

[2017-04-04 19:06] benaadams commented on #10703
What if you build first?
[code]

[2017-04-04 19:16] redknightlois opened #10705 "Eliminate EncodingForwarder performance impact"
The cost introduced by the ```EncodingForwarder``` in cases when you dont even need it is way too punishing for applications that have to deal with lots of strings and encoding. In our measurements the cost of Encoding has a non-negligible cost (to the point that if not solved we will eventually will roll our own).

This is an example of the cost:
![utf8](https://cloud.githubusercontent.com/assets

[2017-04-04 19:58] RussKeldorph commented on #10308
Closing as duplicate of #8891.

[2017-04-04 19:58] #10308 closed

[2017-04-04 19:59] RussKeldorph commented on #10181
@MattGal Did anything come of your investigation?

[2017-04-04 20:09] MattGal commented on #10181
Apologies for not updating, I did not get to this before I had to leave for vacation.   As I noted before, it looks like (from https://github.com/dotnet/buildtools/blob/0e059aeb88f91ac633e5853c68ee6fb362ced87d/src/Run/Executor.cs#L30 ) that this should already be working the way we want.

Even if we fix this however, build.cmd will not work as it makes lots of assumptions about its path; why not s

[2017-04-04 20:20] polarapfel commented on #10703
Yes. Still takes two seconds to initialize the CLR before the binary executes. Both the release and the debug binaries compiled with dotnet run instantly on the latest Mono runtime on the same Ubuntu system.

[2017-04-04 20:21] AlexGhiondea commented on #9107
This seems to be working now.

[2017-04-04 20:21] #9107 closed

[2017-04-04 20:21] MattGal commented on #10181
@RussKeldorph after investigating, I was correct;  the problem as described has already been fixed, which is why it looks like it should already be past the error listed.

Run.exe just runs what it finds in config.json, and when it hits stuff like this:
https://github.com/dotnet/coreclr/blob/master/config.json#L43
... it doesn't know what to do, since the path to the logging task given has no way

[2017-04-04 20:23] BruceForstall commented on #10660
@alpencolt One example is your `GT_LCLHEAP` implementation (https://github.com/dotnet/coreclr/pull/10609). The code is very similar between arm32 and arm64. Ideally, this would have already been in a common place, then your change would be easily code reviewed just by looking at the newly added `#ifdefs`, for instance.

[2017-04-04 20:28] BruceForstall opened #10707 "runtest.sh failure resolving CoreDisTools on Mac OS X 10.12.4"
When I run runtest.sh, I see this error:
[code]
(the test run continues nonetheless)

[2017-04-04 20:28] BruceForstall commented on #10707
@swaroop-sridhar ideas? who should own this?

[2017-04-04 21:02] sdmaclea commented on #10555
Fixed by #10614

[2017-04-04 21:02] #10555 closed

[2017-04-04 21:07] stephentoub opened #10708 "Seg fault in libclrjit.so!LinearScan::tryAllocateFreeReg"
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_centos7.1_debug_prtest/8/consoleText
[code]

[2017-04-04 21:07] stephentoub commented on #10708
@adityamandaleeka, does this look like the same kernel issue you were previously tracking?

[2017-04-04 21:18] shahid-pk commented on #10703
@polarapfel you said you are running against mono. But mono uses its diferent runtime (aka clr) than the one build from this repo.

[2017-04-04 21:28] lt72 opened #10709 "Enable and verify SOS dump debugging tests"
Enabling testing for dump debugging, and verify they are passing.

[2017-04-04 21:29] adityamandaleeka commented on #10708
Yes, it appears to be the same. The si_code is 0x2 and it's reading a valid region of memory.

FWIW, THP is not disabled on those machines.

[2017-04-04 21:39] polarapfel commented on #10703
@shahid-pk I ran against both for comparison.

On the same Ubuntu system, a binary compiled with dotnet (both release and debug) have different execution times on the dotnet CLR Windows versus Linux. The binary on Windows starts executing instantly after invoking the CLR. The binary on Linux has to wait around 2 seconds for the CLR to initialize (I know because I put a Console.Write with the syste

[2017-04-04 21:41] christianscheuer opened #10710 "SIGABRT in libcoreclr code in reverse P/Invoke on OSX"
Hi CoreCLR team

I'm trying to figure out what's going on in the following scenario. This error happens intermittently, where a OS created thread which calls back through reverse P/Invoke to a static delegate makes the process crash before it gets to my managed code.
I don't know if it is a GC or multithreading related problem, or what's going on.

Is it possible to get debug symbols for libcorecl

[2017-04-04 21:45] adityamandaleeka commented on #10694
@rionmonster Can this issue be closed now?

[2017-04-04 21:47] rionmonster commented on #10694
@adityam Done :)

[2017-04-04 21:47] #10694 closed

[2017-04-04 21:49] janvorli commented on #10703
@polarapfel It seems it is specific to the `dotnet run`. If I run hello world using just dotnet with path to the target dll, it takes about 100 ms to complete:
[code]
However, running it via the dotnet tool using `dotnet run` command, I can reproduce the time you were getting:
 time ../dotnet run -c Release
Hello World!

real    0m2.329s
user    0m2.228s
sys     0m0.260s

[2017-04-04 21:56] polarapfel commented on #10703
Yeah, that's right. Curious. Why is that? What happens when the "run" command is invoked within the CLR?

And also, why does the "run" command behave so differently on Windows (fast/instant) versus Linux (slow init)?

[2017-04-04 21:59] janvorli commented on #10703
@polarapfel let me move this issue to cli repo since it is clearly a problem of the cli.

[2017-04-04 21:59] #10703 closed

[2017-04-04 21:59] janvorli commented on #10703
Issue moved to [dotnet/cli #6241](https://github.com/dotnet/cli/issues/6241) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-04 22:08] AndyAyersMS commented on #10031
The indexer (`get_Item`) can be inlined into a shared caller if `Unsafe.Add` is recognized by the jit as an intrinsic. I have [an implementation of this](https://github.com/AndyAyersMS/coreclr/tree/SharedSpanIntrinsics) working.

Even so, many other span methods instantiated over ref types will still fail to inline, and enabling these would require more methods to be handled as intrinsics, so that

[2017-04-04 22:18] RussKeldorph commented on #10181
@mattgal Ok.  I just wanted to know whether the problem was with Run.exe or was something each repo needs to address.  Thanks.

@wtgodbe We've worked around this problem in the code formatting tool where this was initially encountered, so I don't see an urgent need to fix this, but it might be nice someday.

[2017-04-04 22:33] #5825 closed

[2017-04-04 22:33] #9526 closed

[2017-04-04 22:38] ahsonkhan commented on #9633
@JosephTremoulet, any updates on this issue?

[2017-04-04 22:39] ahsonkhan commented on #8516
@kouvel, any updates on this issue?

[2017-04-04 22:41] ahsonkhan commented on #10051
@JosephTremoulet, any updates on this issue?

[2017-04-04 22:42] ahsonkhan commented on #10050
@JosephTremoulet, any updates on this issue?

[2017-04-04 22:42] ahsonkhan commented on #10049
@JosephTremoulet, any updates on this issue?

[2017-04-04 22:49] ahsonkhan commented on #10052
@DrewScoggins, any updates on this issue?

[2017-04-04 22:51] hadibrais opened #10712 "corerun issue when loaded from PATH on Linux"
`corerun` works correctly when the current directory is the same as the one in which it resides or when an explicit full path is specified. However, when loaded from PATH, an error is emitted. This is similar to #3190 and can be easily fixed in the same way. In fact, this issue was pointed out there but was only fixed for `ildasm`.

[2017-04-04 22:57] ahsonkhan opened #10713 "Register spilling issue when using AsSpan and Slice causing slow performance"
[code]
**Runtime:**
AsSpan().Slice() - 1094 ms (approximately 30% slower)
SliceAsSpan() - 827 ms

                span = array.AsSpan().Slice(halfLength, 10);
00007FFCB39B24F9  lea         rax,[rbp+10h]
00007FFCB39B24FD  mov         qword ptr [rsp+30h],rax
00007FFCB39B2502  mov         eax,dword ptr [rbp+8]
00007FFCB39B2505  mov         rdx,qword ptr [rsp+30h]
00007FFCB39B250A  cmp         edi,eax

[2017-04-04 22:57] ahsonkhan commented on #10713
cc @russellhadley, @JosephTremoulet

[2017-04-04 23:11] stefan-schweiger opened #10714 "Incorrect and unexpected optimizer behavior for Interlocked.Exchange with short value"
**NOTE:** _Most likely this does not just affect Interlocked.Exchange, but it's easy to reproduce this way._

When turning on the optimization for the following code you get different (and also **wrong**) output values than from building the application without turning on the optimizer.

[code]

Without using optimization the output is as expected:
[code]

But when you turn on optimization (e.g. w

[2017-04-04 23:20] litian2025 commented on #10386
Yes, I agree with what Juan's points above, beside VC++, in Chakra, here is what we do it, first check if there's partial flag dependency, then make the changes only when necessary: https://github.com/Microsoft/ChakraCore/blob/master/lib/Backend/Peeps.cpp#L160_#L172

[2017-04-04 23:20] swaroop-sridhar commented on #10707
This non-fatal error shows up on Linux and Mac.
I think the correct thing to do is to fix #7861

[2017-04-04 23:34] janvorli commented on #10712
@hadibrais the change #3190 modified code that's shared between ildasm and corerun, so it should have fixed corerun too.

[2017-04-04 23:42] ahsonkhan commented on #10658
@alpencolt, is this issue reproducible still?

[2017-04-04 23:43] ahsonkhan opened #10716 "Re-enable disabled spanbench tests"
Some spanbench tests were disabled in https://github.com/dotnet/coreclr/pull/10617

Re-enable when ready.

[2017-04-04 23:53] adam8797 opened #10717 "EF 6.1.3 Crashing IIS Express with FatalExecutionEngineError in ASP.Net Core MVC"
I (and a few other users) have been experiencing a problem when using EF 6.1.3 and IIS Express. For some reason, sites will crash very inconsistently. Some times, it works, other times it does not.

For the sake of not being redundant, I'll link to a StackOverflow question I put up on the subject, where I go into more detail. Other users are commenting that they have the exact same problem.

https

[2017-04-04 23:56] janvorli commented on #10710
@christianscheuer you can try to generate the debug symbols yourself if you build the coreclr from the same commit in coreclr as the libcoreclr.dylib that you are using.
You can find the commit hash this way:
[code]
Then you just run "git checkout 7261cf7f5e6abd89add023dbcf5c1bc9ccac67b6" (changing the commit number to what you got) in your local coreclr enlistment, then run `./build.sh Release` a

[2017-04-05 00:25] JosephTremoulet commented on #10050
Just that the idea came up in offline discussion that if we have the IndexOutOfBoundsException be raised by something that can be recognized by the JIT as an intrinsic (perhaps a direct call to the associated CORINFO helper func?), then recognizing the pattern of such a call in a block that is conditionally called based on an unsigned compare would be something the JIT could do with reasonable com

[2017-04-05 00:30] JosephTremoulet commented on #10049
Per my previous notes, I spent some time working on running things in this order:

  1. address-taken analysis
  2. implicit by-ref rewrite
  3. struct promotion

It ran into issues where we lost some optimization capability because we do field-sensitive address-taken analysis, which depends on running struct promotion first for the address-taken analysis' bookkeeping.  So I've switched and am wor

[2017-04-05 00:36] JosephTremoulet commented on #10051
Not yet; still need to track down what that context/dictionary lookup sequence is loading and whether we can assume it is immutable to know if this is possible.  Assuming it is, doing a full-blown control dependence analysis for tracking phi gating predicates is likely out-of-scope for a while, but we might be able to get some mileage out of recognizing cases where the flow graph has a simple sing

[2017-04-05 01:50] AndyAyersMS commented on #10258
We currently can't propagate exactness from `newarr`, so there's not much we can do here until that is addressed.

Seems like an easy enough thing to fix though, since array allocation is idiomatic.

[2017-04-05 01:52] hseok-oh commented on #9903
@parjong @seanshpark @wateret @YongseopKim
I'm trying to enable PAL test in CI now. Debug build passed pal tests, but checked build failed and release build showed timeout.

Checked (1 fail): https://ci.dot.net/job/dotnet_coreclr/job/master/job/x86_checked_ubuntu_prtest/4/
Release (timeout): https://ci.dot.net/job/dotnet_coreclr/job/master/job/x86_release_ubuntu_prtest/10/

FWIW, I have a plan to

[2017-04-05 02:10] parjong commented on #9903
@hseok-oh I'll take a look.

[2017-04-05 03:40] kouvel commented on #8516
I had tested the C# versions of these tests and all is good, just need to convert them to IL tests

[2017-04-05 04:25] hseok-oh opened #10722 "[RyuJIT/ARM32] Implement struct argument passing"
In the comment, (#8496 (comment))
[code]

And when we use ryujit for BringUpTest only, we can find 2 NYIs related with fgMorphMultiregStructArgs

- JIT/CodeGenBringUpTests/struct16args:Main
- JIT/CodeGenBringUpTests/StructFldAddr:Main

[2017-04-05 04:27] christianscheuer commented on #10710
@janvorli thank you for the instructions. Will get back when I have more info.

[2017-04-05 04:28] #8732 closed

[2017-04-05 05:47] mikedn commented on #10714
As far as I can tell this affects `Interlocked.Add` and `Interlocked.Exchange`. Do you have other examples?

[2017-04-05 06:31] jkotas commented on #10031
I think we should go even one level up and treat the indexer as intrinsic. It expect that it will be needed to enable bounds check elimination.

It is not interesting for the current usage in Pipelines and kestrel. It is likely to become interesting in future once there is more code written against Span.

[2017-04-05 07:21] jkotas commented on #10705
Sounds like we should revert the change that introduced it.

cc @tarekgh @jamesqo

[2017-04-05 07:25] jkotas commented on #10693
Nice - thank you for identifying this issue!

[2017-04-05 08:29] mskvortsov commented on #10722
`fgMorphMultiregStructArgs` gets called by `fgMorphArgs` at [morph.cpp:4373](https://github.com/dotnet/coreclr/blob/a5fef2172ad19d4c58e67c9e5bee10d247cd8929/src/jit/morph.cpp#L4366-L4375):
[code]
For the ARM case, `hasMultiregStructArgs` gets set on at [morph.cpp:3767](https://github.com/dotnet/coreclr/blob/a5fef2172ad19d4c58e67c9e5bee10d247cd8929/src/jit/morph.cpp#L3762-L3769):
[code]
Does an ans

[2017-04-05 08:41] alpencolt commented on #8496
@BruceForstall wrote:

It shows 404 error, is it OK?

[2017-04-05 08:52] stefan-schweiger commented on #10714
I don't have any other examples, it was just my best guess that this would probably also affect other methods with similar signatures or internals.

[2017-04-05 09:22] akhilanair94 commented on #10279
@gregg-miskelly saved the day!!!!

[2017-04-05 10:33] alpencolt commented on #10660
I'm agree with you. The code of legacy backend also quite similar, but when I look to `codegenlegacy.cpp` it isn't easy to understand what code will be generated for each platform. In case of using callback readability will no be increased dramatically but code from other platforms will not disturb to read.

[2017-04-05 11:16] alpencolt commented on #10658
Can not reproduce on the latest master.

[2017-04-05 11:16] #10658 closed

[2017-04-05 12:43] hadibrais commented on #10712
The ildasm issue was [fixed](https://github.com/dotnet/coreclr/pull/3191/files) by using `GetEntrypointExecutableAbsolutePath` when `GetAbsolutePath` fails. `GetEntrypointExecutableAbsolutePath` is indeed shared but [corerun](https://github.com/dotnet/coreclr/blob/master/src/coreclr/hosts/unixcorerun/corerun.cpp#L130) doesn't use it when `GetAbsolutePath` fails. That's why the issue still occurs i

[2017-04-05 12:59] janvorli commented on #10712
@hadibrais ah, thank you for the info, I've missed the fact that the fix for ildasm also included the non-shared part.

[2017-04-05 13:02] ruben-ayrapetyan commented on #10701
cc: @lemmaa @egavrin

[2017-04-05 13:08] ragmani commented on #10139
The readytorun's TCs all passed after #10602

[2017-04-05 13:08] #10139 closed

[2017-04-05 13:15] hadibrais commented on #10712
@janvorli I can fix it and submit a pull request if you like.

[2017-04-05 13:22] mskvortsov opened #10729 "[RyuJIT/ARM32] Abort on FailFast"
PR #10609 uncovered (or introduced?) several failures across the full testsuite run:
[code]
The test cases are:
[code]

[2017-04-05 13:22] mskvortsov commented on #10729
@alpencolt Could you take a look?

[2017-04-05 14:03] sdmaclea commented on #10115
@jashook This failure appears intermittent.  I am seing it again on the tip.  It should be reopened

[2017-04-05 14:17] janvorli commented on #10712
@hadibrais that would be great! I actually wonder now why the fix for ildasm changed the GetEntrypointExecutableAbsolutePath implementation instead of just using the same sequence of calls like the coreconsole does - GetEntrypointExecutableAbsolutePath followed by the call to GetAbsolutePath - without any change to  GetEntrypointExecutableAbsolutePath. From what I can see, it should work.
Anyways,

[2017-04-05 14:20] russellhadley commented on #10031
@JosephTremoulet has been looking at the bounds check angle in #10050. (and I recently moved it to 2.1 because struct issues have been more pressing)

[2017-04-05 14:21] AndyAyersMS commented on #10050
If we convert the indexer into an intrinsic (as Jan suggests over in #10031) we can simply generate whatever extra annotations/canonical format the jit needs. Not sure if there are any other bounds-check cases that are as significant so perhaps this is all the special casing we need.

[2017-04-05 14:37] AndyAyersMS opened #10731 "JIT: consider doing some type opts earlier"
The jit should now be able to optimize many of the common type specialization checks during importation.  Since the jit can also do some rudimentary branch opts during importation, early type specialization check optimization would allow the jit to skip importing chunks of IL guarded by type checks that are known to fail.

For example consider any non-intrinsic vector method, eg [`Vector<T>:op_Mul

[2017-04-05 15:00] mazong1123 commented on #9530
In [method.cpp:5049](https://github.com/dotnet/coreclr/blob/master/src/vm/method.cpp#L5049) , there is a weird code:

[code]
The `ordinal` is a number (Actually, it is `1` in mcc_i07.exe test). `(LPCSTR)(size_t)((UINT16)ordinal)` results a pointer to an invalid address `0x1` , which apparently causes a segmentation fault when accessing the value of `ordinal` later.

I don't know how Windows handle

[2017-04-05 15:14] #10106 closed

[2017-04-05 15:15] alpencolt commented on #10729
I will check. It can reproduce only on release build.

[2017-04-05 15:20] ericstj commented on #9884
Ping.  I just noticed this again when working on https://github.com/dotnet/corefx/issues/14595

[2017-04-05 15:22] AndyAyersMS commented on #10258
Have added type capture from `newarr`, at least a simple variant, where we are recognizing the helper call that creates the array. Would be nice to generalize this but we don't have ways of expressing type exactness or non-null-ness on the evaluation stack. Something to consider for the future.

Am now looking to augment the optimization done in morph on `obj.GetType() == ... ` to try and use info

[2017-04-05 15:26] gkhanna79 commented on #9884
@chcosta Are you planning to undo https://github.com/dotnet/core-setup/blob/7d42a3bd8cced9517e24a3b35ce380959ded8720/build_projects/shared-build-targets-utils/Utils/Crossgen.cs#L54 and related changes?

[2017-04-05 15:32] redknightlois commented on #10731
We abuse inlining + constrained non-ref types a lots. Would give us a huge boost!!

[2017-04-05 15:38] AndyAyersMS opened #10732 "JIT: consolidate type tracking mechanisms"
We now have several complementary systems in the importer for tracking types: the evaluation stack, local variable class tracking, and the tree node extraction tracking (`gtGetClassHandle`).

These are interdependent and vary in their capabilities:
* The evaluation stack can't track exactness or non-nullness, two properties that are useful and can be ususally be deduced when the stack entry is cre

[2017-04-05 15:41] redknightlois commented on #10666
if-convert issue: https://github.com/dotnet/coreclr/issues/7447

[2017-04-05 15:47] tarekgh commented on #10705
@redknightlois just to double check, from your scenario measurement it show EncodingForward costing around 7%. is that true?

[2017-04-05 15:50] janvorli commented on #9530
@mazong1123 this is correct based on the GetProcAddress spec on MSDN:

The function or variable name, or the function's ordinal value. **If this parameter is an ordinal value, it must be in the low-order word; the high-order word must be zero.**

[2017-04-05 15:52] janvorli commented on #9530
Looking at GetProcAddress implementation for Unix, it does not support lookup by ordinals, since, well, there are no ordinals in the Unix shared library world. So this test is incompatible with Unix.

[2017-04-05 15:54] janvorli commented on #9530
See here:
https://github.com/dotnet/coreclr/blob/master/src/pal/src/loader/module.cpp#L299-L307

[2017-04-05 16:03] sdmaclea commented on #9530
@janvorli since ordinals are not supported, and the cited assert is imprecise, it seems we should do something to stop going down this wrong code path.  I would recommend and an assert and/or #ifdef be added near the GetProcAddress() call site https://github.com/dotnet/coreclr/blob/master/src/vm/method.cpp#L5049

[2017-04-05 16:11] redknightlois commented on #10705
@tarekgh Actually is more because there are 2 calls for GetBytes and also because ```GetMaxBytesCount``` will also call ```EncoderReplacementFallback.get_MaxCharCount```. I would estimate that the unneeded virtual calls are costing around 15%. This is a star-hot like method for us, even 1% improvement have ripple effects all over the place.

Keep in mind that these methods are usually used on smal

[2017-04-05 16:14] chcosta commented on #9884
Yes, but it wasn't high on my priority list because there was a workaround in place.  I'll look into fixing this in the next couple of days.  Thanks for bringing this back to my attention.

[2017-04-05 16:31] janvorli commented on #10599
@wateret I have spent some time learning more on how the GC info and unwinding works for x86.
And after that, I agree with you that to support proper GC reporting of the arguments with FEATURE_FIXED_OUT_ARGS, we would need to do exactly this if we stick with storing the arguments using `mov [esp+offset], xxx`.
I am not sure how difficult it would be to modify JIT to generate such GC info. But mayb

[2017-04-05 16:31] JosephTremoulet commented on #10050
Sure, if we want to make the indexer an intrinsic anyway, that would simplify this.  One notable non-indexer API with bounds checking is Slice, but I'd guess that indexing is more frequently what's happening in the sort of inner loops where removing a bounds check can really be critical.

[2017-04-05 16:35] JosephTremoulet commented on #10258
We have non-null propagation in assertion prop, should it be able to clean things up or there's a reason we need to propagate non-nullness earlier and/or that assertion prop shouldn't be able to handle the analysis needed here?

[2017-04-05 16:37] JosephTremoulet commented on #10258
Also, is it easy to get cases where the array referent type is sealed?

[2017-04-05 16:45] BruceForstall commented on #8496
@alpencolt Not sure why you got that. Try again sometime?

[2017-04-05 16:46] ericstj commented on #9884
Just a heads up, I'm moving crossgen into the packages so that code that @gkhanna79 pointed out might get deleted.

[2017-04-05 16:53] russellhadley commented on #10666
@mikedn If we make it a byte comparison we can remove the 'and' instruction since the upper bits are not included in the operation.  Should save an instruction.  It would require doing the add operations on bytes with add as well.  But since we have the zero extension anyway there's no particular upside to the 3 operand lea vs the 2 operand add.

[2017-04-05 16:56] alpencolt commented on #8496
Tried many times, @mskvortsov  also don't have access. It looks only Members have access.

[2017-04-05 16:59] pgavlin commented on #10666
@russellhadley we can't drop the `and`: its masking off the upper 28 bits, not the upper 24 bits.

[2017-04-05 17:01] russellhadley commented on #10666
In the source its a '0xf'  Am I missing something?

[2017-04-05 17:08] gkhanna79 commented on #9884
Why are we moving crossgen into CoreCLR package @ericstj?

[2017-04-05 17:09] russellhadley commented on #10666
Sorry @pgavlin explained that I should get my glasses checked.  (or head examined)  28 bits, not 24.

[2017-04-05 17:14] RussKeldorph opened #10733 "[RyuJIT/x86] Remove JIT32 support from build and packaging"
Do not do this until Preview is branched.

[2017-04-05 17:16] RussKeldorph opened #10734 "Remove JIT32 infra from build pipeline"
- [ ] Wait for #10733 to be fixed and closed.
- [ ] Stop invoking build.cmd with buildjit32 switch.
- [ ] Stop cloning JIT32 repo.
- [ ] Anything else necessary to clean up.

[2017-04-05 17:18] ericstj commented on #9884
You misunderstand.  please read the issue: https://github.com/dotnet/corefx/issues/14595

[2017-04-05 17:27] janvorli commented on #9530
@sdmaclea I would not assert, but just ifdef out the whole if block with check for the ordinal for FEATURE_PAL or keep it in and return NULL for FEATURE_PAL from inside of the `if`.
@jkotas do you have any opinion on it?

[2017-04-05 17:48] AndyAyersMS commented on #10258
I wasn't sure morph would nicely handle a comma injection needed for an upstream null check, but it looks like can.

Array of final-ref-type may be somewhat frequent given `string[]`. It is something we can look for generally (eg at the tail end of `gtGetClassHandle`) if we don't have an exact type. It would require a few more calls back into the VM: getClassAttribs to check for arrayness, getChil

[2017-04-05 17:58] gbalykov opened #10735 "[Question] 1:1 mapping between MethodDescs and entry points"
Hello.

As said in "Method Descriptor" chapter of "The Book of the Runtime", there are multiple places in the runtime that depend on 1:1 mapping between MethodDescs and entry points. This leads to requirement that slot and entry point must exist for all methods.

Could someone explain where are these places and why exactly is 1:1 mapping needed?

@Dmitri-Botcharnikov @ruben-ayrapetyan

[2017-04-05 18:23] russellhadley commented on #10051
After discussion with @JosephTremoulet swapping this for the span bounds check work in #10050.

[2017-04-05 18:25] sdmaclea commented on #10636
@jashook FYI #9876 just enabled this recently.  It is probably just the wrong dll in your overlay.

[2017-04-05 18:31] ellismg commented on #10675
We don't use docker images here.  The mapping of OS Names to azure images is here: https://github.com/dotnet/dotnet-ci/blob/master/jobs/generation/Utilities.groovy#L126

[2017-04-05 18:32] sdmaclea opened #10737 "[arm64] CQ Fix lowering of GT_LEA to only require single instruction"
See comments in CodeGen::genLeaInstruction

Also see similar issue in emitter::emitInsLoadStoreOp

[2017-04-05 18:46] tarekgh commented on #10705
OK, I am going to revert the whole EncodingForward changes.

[2017-04-05 19:09] Daniel-Svensson commented on #10642
Just some quick replies, I will try to get some time this weekend to address most of the other comments

## Coreclr and managed implementations

@janvorli @jkotas

Regarding focusing on the managed version:
Being able to use the full with of 64bit instructions, that is 64bit multiply with 128bit results and
division of 128bit by 64 bit was key to the performance improvements.
That allowed most of

[2017-04-05 19:37] wtgodbe commented on #10675
https://github.com/dotnet/coreclr/pull/10739 - as mentioned, we can only do Fedora 24, not 25.

[2017-04-05 19:43] ruben-ayrapetyan commented on #10701
`CONTRACT_ASSERT` uses `PAL_TRY_NAKED`, which is defined in `palclr.h` header, and the header's code is conditionally enabled under `! defined (FEATURE_PAL)`. The `FEATURE_PAL` macro is defined under `CLR_CMAKE_PLATFORM_UNIX` CMake condition.

So, seems that the `PAL_TRY_NAKED` is not available on Unix-like platforms.
This maybe one of reasons why the contract checks are disabled.

Another reason

[2017-04-05 19:45] redknightlois commented on #10705
I would mark a few of the virtual that could use it like GetMaxByteCount with AggressiveInlining because when devirtualized you can get good inlining opportunities for methods whose call prolog and epilog outweigh actual work instructions. @AndyAyersMS will devirtualized methods honor Aggressive inlining?

[2017-04-05 19:58] tarekgh commented on #10705
@redknightlois what you mean by "it"? are you suggesting to keep the EncodingForward and just mark the callers with AggressiveInlining? or you mean something else?

[2017-04-05 20:10] redknightlois commented on #10705
The forwarder unless it can be devirtualized won't honor the aggressive inlining. You should try though. I was referring to the actual user facing methods (where appropriately)

[2017-04-05 20:13] AndyAyersMS commented on #10705
Devirtualization can lead to inlining but it depends on the exact patterns in the code. Roughly, when type information propagates within a method or into inlined callees, we're more likely to devirtualize and then inline. When type information passes from inlined callees back to callers we can devirtualize but not inline.

Internally, this is whether the jit devirtualizes 'early' during importatio

[2017-04-05 20:27] janvorli commented on #10701
We have decided to not to enable the runtime contract checking on Unix at the beginning of the porting to Unix. There were several reasons for that (I may not remember all of them):
* Enabling them would be a non-trivial amount of work. I've tried to enable them at the beginning, but backed out soon. As you've mentioned, some code couldn't be compiled by clang and I think there were even some more

[2017-04-05 20:34] tarekgh commented on #10705
Talked offline with @AndyAyersMS and it looks would not be solid to depend now on the Devirtualization because this will depend on the code patterns.

I'll go ahead and submit the PR to revert the encoding forwarder to get rid of the extra cost mentioned in this issue. And then we can look at other places we can enhance the perf if possible later.

does this sound good?

[2017-04-05 20:45] BruceForstall commented on #10722
Also related: https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/multi-reg-call-nodes.md

I presume you will need to implement appropriate changes for fgMorphMultiregStructArgs() for arm32. I don't know what those changes are.

It is certainly true that fgMorphArgs() is daunting. We've had hopes of cleaning it up drastically, but that hasn't happened yet, obviously.

The inter

[2017-04-05 20:58] AndyAyersMS commented on #10258
Implemented [a prototype](https://github.com/AndyAyersMS/coreclr/tree/OptimizeSpanCtorTypeTest). This allows the jit to remove the Span ctor type check for `string[]` even if the array constructor is not seen.

The change has 3 parts:
* obtain class handles for array contructors
* sharpen exactness for final non-variant-non-array, and array-of final non-variant-non-array
* use info in morph's type

[2017-04-05 21:02] redknightlois commented on #10705
Yeah.

[2017-04-05 21:06] AndyAyersMS commented on #10705
Can we get a perf test case out of this?

[2017-04-05 21:14] sdmaclea commented on #10623
@jashook  Please assign this to me.

[2017-04-05 21:22] redknightlois commented on #10705
Sure, what do you need? Code is pretty low level I can isolate the code and send it. Would that work?

[2017-04-05 21:24] tarekgh commented on #10705
@AndyAyersMS we have a perf tests for Encoding in

https://github.com/dotnet/corefx/blob/master/src/System.Text.Encoding/tests/Performance/Perf.Encoding.cs

If there is specific scenario used by @redknightlois we can add extra test case there. or @redknightlois can submit PR for it there.

[2017-04-05 21:31] AndyAyersMS commented on #10705
Did we see a perf impact when the EncodingForwarder was added? Or did that happen before we had perf tests?

[2017-04-05 21:38] hadibrais commented on #10712
@janvorli I would add also that GetEntrypointExecutableAbsolutePath is sufficient to get an absolute path. There seems to be no need of following that with GetAbsolutePath.

[2017-04-05 21:44] tarekgh commented on #10705
Unfortunately it looks we started collecting the perf data from last month and EncodingForwarder work done during July 2016. after we revert EncodingForwarder we can look at the new data and notice the differences

[2017-04-05 21:48] janvorli commented on #10712
Yes, in its current form it is true. It was not that case before the fix in ilasm was done. So it seems we should just use the GetEntrypointExecutableAbsolutePath without adding the GetAbsolutePath after or before it.
I would then suggest modifying the fallback case in the GetEntrypointExecutableAbsolutePath to call GetAbsolutePath on symlinkEntrypointExecutable instead of entrypointExecutable.ass

[2017-04-05 21:53] hadibrais commented on #10712
Why don't we just call GetAbsolutePath on symlinkEntrypointExecutable for all the cases?

[2017-04-05 21:55] janvorli commented on #10712
I don't think that it works on FreeBSD, OSX and NetBSD. The BSD's don't have proc file system mapped by default and OSX doesn't have it at all, so links like /proc/self/exe etc don't exist.

[2017-04-05 22:01] petrsorfa commented on #3906
Hi, could I potentially help out here? I have a strong background in Debugging as I used to maintain the Unixware debugger and was involved in the DWARF standard.

[2017-04-05 22:07] mikem8361 commented on #3906
Thanks for the offer, but this issue has already been done.  It involved supporting the new PortablePDB format symbol file for managed assemblies in the runtimes unhandled exception stack trace (and SOS).

[2017-04-05 22:10] hadibrais commented on #10712
How about this:

[code]

Then in corerun and coreconsole, GetEntrypointExecutableAbsolutePath can be called to get the path to the host binary without calling GetAbsolutePath.

[2017-04-05 22:16] janvorli commented on #10712
@hadibrais looks good

[2017-04-05 22:37] #10675 closed

[2017-04-05 22:47] redknightlois commented on #10705
There is a subtle difference between the perf scenarios you have and the ones we have :)

https://github.com/dotnet/corefx/blob/master/src/System.Text.Encoding/tests/Performance/Perf.Encoding.cs#L16
Change that line to:
[code]
In that way you are covering both scenarios. Even if you had the perf data, the problem would be hidden in the noise. That new version will highlight the issue and avoid a r

[2017-04-05 22:49] tarekgh commented on #10705
thanks I'll do that

[2017-04-05 22:55] redknightlois commented on #10705
OK, I figured out why I am seeing this now and wasnt there before. The actual change was able to enter into the 1.1 release and we recently upgraded to it. Any chance for a servicing release fixing the regression?

[2017-04-05 23:16] tarekgh commented on #10705
I have opened the PR for adding the short strings to our perf test https://github.com/dotnet/corefx/pull/17974

@gkhanna79 @danmosemsft could you help with @redknightlois question

```Any chance for a servicing release fixing the regression?```

@redknightlois, is there a way when I merge the fix you can build and try it locally to ensure the regression is gone and there is no other reasons causin

[2017-04-05 23:25] rartemev commented on #9757
It seems issue has been fixed in #9782.

[2017-04-05 23:28] #10714 closed

[2017-04-05 23:30] jkotas commented on #10735
One methoddesc can have multiple entrypoints. We need to be able to map each of them back to the matching MethodDesc.

The key method for entrypoint -> MethodDesc mapping is `MethodTable::GetMethodDescForSlotAddress`.

The key method for MethodDesc -> current entrypoint mapping is `MethodDesc::GetMethodEntryPoint`.

[2017-04-05 23:44] redknightlois commented on #10705
@tarekgh Can you do a release build of a 1.1 and send it to me? You can ask @AndyAyersMS  for my contact information.

[2017-04-05 23:56] danmosemsft commented on #10705
@leecow do we have a written bar for backports to 1.1 ?

[2017-04-06 00:06] gkhanna79 opened #10751 "Add support for Optional Packages for UWP"

[2017-04-06 00:08] RussKeldorph commented on #9757
No, this simply increased the limit to an arbitrary number.  Ideally, we would remove this arbitrary limit and simply defer to any length limits on the local system.  I think that the argument processing only ever looks at the first three characters of an option, so there seems to be little reason to keep a large buffer in this case, though I could be missing something.

[2017-04-06 00:23] Petermarcu opened #10753 "Allow IL Only mode"
We should enable something similar to COMPlus_ZapDisable that makes the whole system treat an NI image as if it were IL. This means not throwing a BadImageFormatException when the file is R2R and dealing with whatever other things would need to fallback to just treating the image as IL.

This would enable our community to try and piece things together from different systems especially places where

[2017-04-06 00:28] AndyAyersMS commented on #10047
Ok, finally can repro.... not sure this has anything to do with my changes but will investigate.

[2017-04-06 00:31] jkotas commented on #10701
I do not have much to add.

The implementation of the contract checks depends on very subtle C++ language features that differ from compiler to compiler. It should be possible to make it compile with clang, but it won't be a trivial change.

[2017-04-06 01:01] tarekgh commented on #10705
@redknightlois I'll try to build a private version for you tomorrow.

[2017-04-06 01:05] hseok-oh commented on #10722
@BruceForstall @mskvortsov Exactly. I've seen this complex code for ARM32 legacy when I tried to find bug in ARM32 hfa and code generation for calling struct constructor. Thanks for sharing documents.

[2017-04-06 02:00] #10314 closed

[2017-04-06 03:21] jkotas commented on #9530
I would ifdef it out for `FEATURE_PAL`.

[2017-04-06 04:17] goldshtn commented on #10600
@brianrob Mathieu confirmed on Twitter that this LTTNG patch would not support user space events.

[2017-04-06 04:49] brianrob commented on #10600
@goldshtn, thanks for confirming this.  Good to know.  I appreciate your dedication to the tracing space.

With respect to adding USDT markers, I think this is interesting, but before we do so, there's some work happening internally that we're not quite ready to discuss yet.  Once we are, I think this will fit in nicely.  I'll include you in the discussion once it's here on GitHub.

[2017-04-06 04:53] goldshtn commented on #10600
@brianrob Thanks - do you have any rough timeline on when this should become public? I ask because .NET Core is not in preview anymore (for quite a while now). I have clients who are concerned about the fidelity of tracing they can achieve on Linux compared to Windows.

[2017-04-06 05:06] mazong1123 commented on #9530
Do we still need https://github.com/dotnet/coreclr/blob/master/src/pal/src/loader/module.cpp#L299-L307 if we idef the ordinal check for `FEATURE_PAL` ? Those line of code could never be reached in Unix because https://github.com/dotnet/coreclr/blob/master/src/pal/src/loader/module.cpp#L285 will raise the segmentation fault.

[2017-04-06 07:13] hqueue commented on #8496
@alpencolt @mskvortsov I think you have to ask @Dmitri-Botcharnikov and join .NET foundation organization, to see above link. It seems taht @Dmitri-Botcharnikov is already involved :)

[2017-04-06 07:55] Dmitri-Botcharnikov commented on #8496
@hqueue : do you mean that I have rights to add them to .NET foundation?

[2017-04-06 08:16] janvorli commented on #9530
@mazong1123 PAL is used by other libraries than libcoreclr, e.g. by libmscorddac or libjit. So it is better to keep the assert in to catch possible future issues. But as you've pointed out, it should be moved before the line 285.

[2017-04-06 10:15] mskvortsov opened #10762 "[RyuJIT/ARM32] Assert failure on "Instruction cannot be encoded""
[code]
[code]
[code]

[2017-04-06 10:17] mskvortsov commented on #10762
@sjsinju Could you please take a look?

[2017-04-06 10:33] mskvortsov opened #10763 "[RyuJIT/ARM32] Out-of-order nodes consuming"
More than 50 tests are failing. E.g. `JIT/Directed/perffix/primitivevt/mixed2_cs_do/mixed2_cs_do.exe`:
[code]

[2017-04-06 10:34] mskvortsov commented on #10763
I will look into this.
cc @dotnet/arm32-contrib

[2017-04-06 10:52] karelz commented on #10597
Should we close this issue as dupe of the one linked? IMO there's no point to have 2 tracking issues.
We can ask on the CLI issue to reopen this one if they reject it ... thoughts?

[2017-04-06 12:31] sergign60 opened #10765 "[AMD64 Unix ELT] Some CoreCLR tests fail with COMPlus_JitELTHookEnabled=1 without actual generating profiler ELT callback bodies and calls (PR #7719)"
The current version of CoreCLR gives the following failures on the CoreCLR test suite with the environment variables:
[code]
The result is
[code]

The failed tests are
[code]

The used versions of
coreclr - f9d0333d8955c11a2e8f495f0a12d6384fb95541 [Local GC] Fix a bad merge (#10748)
corefx - 9326e9146ac44ba54c0e6168ae27d091c62bc21f Remove CSEE code from Microsoft.CSharp (#17979)
test binaries - Ar

[2017-04-06 12:32] sergign60 commented on #10765
CC: @janvorli @Dmitri-Botcharnikov @kvochko

[2017-04-06 12:32] sergign60 commented on #10765
https://github.com/dotnet/coreclr/issues/9166

[2017-04-06 13:44] dfarrNTST opened #10766 "NETStandard Class Library - How to build/deploy a class library with all dependencies included?"
Sorry if this is the wrong repo to put this in...let me know and we'll move it.

We have plugin applications that we allow developers to write modules/plugin Class Libraries and drop them into certain folders for our host applications to load.  In .NET Framework this worked very well because after doing a Build on a class library project, all DLL's (including NuGet package references) were put int

[2017-04-06 14:11] brianrob commented on #10600
I expect this to become public in the next 1-2 months.

[2017-04-06 15:14] sdmaclea commented on #10612
clrex is coming from the use of the gcc __sync builtins

[2017-04-06 15:15] lemmaa commented on #8496
@BruceForstall, Would you please add @alpencolt and @mskvortsov to @dotnet/samsung team?
cc: @richlander

[2017-04-06 15:20] danwalmsley opened #10767 "dbgshm doesnt allow creation in a seperate console"
Hi,

   I am implementing a debugger for .net core, but also written on .net core 2.0 and I am finding it not possible to call CreateProcess on the debug shim, and create a separate console for the application to run inside.

I think that it could be this line:
https://github.com/dotnet/coreclr/blob/master/src/dlls/dbgshim/dbgshim.cpp#L92

CREATE_NEW_CONSOLE
0x00000010

We would need to extend the

[2017-04-06 15:29] sdmaclea commented on #10612
The valgrind from debian sid (unstable) has the clrex fix (valgrind_3.12.0-1.1_arm64.deb).  The valgrind 3.12 in debian stretch (tested above) is currently a pre-released valgrind 3.12 version which does not include the fix above.

[2017-04-06 15:29] #10612 closed

[2017-04-06 15:52] mazong1123 commented on #9530
It's not enough to just ifdef out the ordinal check here.
[dllimport.cpp:6397-6417](https://github.com/dotnet/coreclr/blob/master/src/vm/dllimport.cpp#L6397-L6417) will throw `kEntryPointNotFoundException` because [dllimport.cpp:6377](https://github.com/dotnet/coreclr/blob/master/src/vm/dllimport.cpp#L6377) return a NULL pointer.

Even if we ifdef out [dllimport.cpp:6397-6417](https://github.com/d

[2017-04-06 15:57] AndyAyersMS commented on #10047
Issue is that with UNIX ABI, for methods returning `SIMD16` types, `compRetType` and `compRetNativeType` differ. The check in the importer compares `compRetType` to callee return type, while the check in morph uses `compRetNativeType`. If the importer check passes (which gates enabling tail call at given call site) the morph check will fail.

[2017-04-06 16:13] jkotas commented on #9530
This is the right behavior on Unix. The ordinal imports do not exist on Unix.

[2017-04-06 16:30] AndyAyersMS commented on #10047
If we think the assert adds value, then we can fix it by using `compRetType` for the caller in both places, or by trying to find the appropriate callee native return type. The latter seems more in keeping with the spirit of the assert since we seem to be trying to double-check ABI compatibility.

And if we want to find the appropriate ABI type on the callee side we'll need to duplicate/refactor th

[2017-04-06 17:07] danmosemsft commented on #10766
Issue moved to [dotnet/cli #6261](https://github.com/dotnet/cli/issues/6261) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-06 17:07] #10766 closed

[2017-04-06 17:07] danmosemsft commented on #10766
You want the CLI repo, good luck!

[2017-04-06 17:08] sdmaclea commented on #9517
@janvorli I have periodically been hitting this issue.  I am interested in fixing this if you want to assign this to me.  I think your notes are sufficient for me to make substantial progress.  I would suggest the GC clean-up and refactoring be done in a separate/follow-on issue.  Initial goal one arm64 binary that runs on 4K& 64K pages (and untested 16K page support)

[2017-04-06 17:11] #10705 closed

[2017-04-06 17:12] janvorli commented on #9517
@sdmaclea that would be great. I am working on other issues for the 2.0.0 release now, so it would be a welcome help.

[2017-04-06 17:20] AndyAyersMS commented on #10047
@BruceForstall any thoughts on where we should go here? Options are:
* remove assert
* re-express in terms of logical types (stop looking at `compRetNativeType`)
* re-express in terms of ABI types (map callee's type to ABI type, likely entails some refactoring)

[2017-04-06 17:35] sdmaclea opened #10769 "[Arm64] CQ use load/store pair instructions"
There are a number of places where use of ldp/stp is suggested to improve CQ.

[2017-04-06 17:47] CharliePoole commented on #9045
As you can see in nunit/dotnet-test-nunit#115, users tend to expect their test runners to be able to report such errors. :smile:

In days of yore, NUnit even reported stack overflow exceptions. I recall having written code to display a stack trace at the point of failure, eliminating duplicates so it would be readable. I can't remember if we lost the ability to do that with .NET 2 or .NET 4, but u

[2017-04-06 18:22] dcarl1 commented on #10717
Yep, seeing this as well. Super annoying. It seems to be related to IIS Express - is there a git for that?

[2017-04-06 18:26] #5135 closed

[2017-04-06 18:49] mellinoe opened #10770 "The "build info" string included in libcoreclr.so contains invalid data"
We embed some build information in libcoreclr.so (and other binaries, I think), including the version, the commit hash, and the name of the build machine (presumably). It looks like at least some of our build machines are not able to run the `hostname` command, which leads to this incorrect output:

[code]

The important information (commit hash) seems to be fine, at least.

[2017-04-06 19:54] AndyAyersMS commented on #10050
Ok, I am going to work up some intrinsics for the Span and ReadOnlySpan indexers. Once it is a bit further along, I'll circle back and we can figure out the right expansion for the bounds check.

[2017-04-06 19:58] #10643 closed

[2017-04-06 20:10] #10076 closed

[2017-04-06 20:45] sdmaclea commented on #9517
CORINFO_PAGE_SIZE was removed as part of #10273

[2017-04-06 21:03] sdmaclea opened #10774 "[Arm64/Unix] Crossgen Assertion failed 'ldftnToken == targetMethod->gtFptrVal.gtLdftnResolvedToken'"
When running crossgen on all *.dll in overlay, ~50% are failing now with a new assertion.  For instance crossgen of System.Net.WebClient.dll
[code]

Here is the exhaustive list of failing libraries.
[code]

[2017-04-06 21:10] sdmaclea commented on #10774
This appears related to the recent commit #10663 @sandreenko @dotnet/jit-contrib

[2017-04-06 21:19] sdmaclea commented on #10774
I only tested on [Arm64/Unix] hence the title.  This may affect other targets and platforms since crossgen does not seem be run regularly in CI

[2017-04-06 21:31] tarekgh commented on #10705
@redknightlois I have built a private runtime binaries and shared it here.
https://1drv.ms/u/s!AhP2SwMuINnCjLN-REk08dErlSfKIA

These are built based on v1.1 as you have requested. please let's know what you get when you measure your scenario perf. Thanks.

[2017-04-06 21:34] sandreenko commented on #10774
It was fixed yesterday #10738.

[2017-04-06 21:35] BruceForstall commented on #10047
It feels to me we should just use the precise `compRetType` in both places.

[2017-04-06 21:40] #10763 closed

[2017-04-06 21:49] RussKeldorph commented on #2305
@ranma42 Sorry your response fell through the cracks.  byacc seems like a reasonable choice.  If you're still interested, I can check on the license (if any).  The most important thing is to get the source into a state where anyone can compile asmparse.y with public tools.  After that, we may want to figure out how to integrate the tools with the build and delete the generated prebuilt/asmparse.cp

[2017-04-06 21:51] sdmaclea commented on #10774
@sandreenko Thanks.  I confirmed it is fixed on the tip.

[2017-04-06 21:51] #10774 closed

[2017-04-06 21:53] sdmaclea commented on #9898
@pgavlin When you get a chance PTAL

[2017-04-06 21:53] pgavlin commented on #9898
Ah, yes--thanks for the reminder.

[2017-04-06 21:54] jashook commented on #10108
I have verified this passes on master.

[2017-04-06 21:55] jashook commented on #10108
When the arm64 ci is back online I will pr to start running it in automation.

[2017-04-06 22:10] sdmaclea commented on #10624
@jashook Please assign this to me

[2017-04-06 22:12] jashook commented on #10624
cc @CarolEidt

[2017-04-06 22:13] RussKeldorph commented on #9422
Feel free to re-open if there is further discussion necessary or changes based on this topic.

[2017-04-06 22:20] RussKeldorph commented on #7564
@ayende Did you happen to run the experiment suggested by @mikedn?

[2017-04-06 22:22] BruceForstall commented on #9422
@RussKeldorph As I stated in #9191 I think the merged code put the phase in the wrong place. Closing this issue will obviously not fix that.

[2017-04-06 22:36] RussKeldorph commented on #9422
Ok, I was under the impression that this had been resolved offline.  If you and @AndyAyersMS agree that after inlining is still a better place for it, we can leave it open with a new title.

[2017-04-06 22:49] pgavlin commented on #9898
@sdmaclea: it does seem that the assert that is firing is out-of-date w.r.t. the meaning of `lvRegister`. I think that changing the assertion as follows should be sufficient:

[code]

[2017-04-06 22:49] eerhardt opened #10780 "NullReferenceException during 'dotnet build' on ubuntu arm32"
It appears there is a JIT bug on ubuntu arm machines. While trying to get a .NET Core SDK that runs on my Raspberry Pi, I encountered an error:

[code]

Looking into that code, there was no way a NullReferenceException was coming from that method.

Using Console.WriteLines, I traced it down to [this exact line that was failing](https://github.com/dotnet/sdk/blob/09c2a6bd8e2c0ec1524361d3a560a1ef961

[2017-04-06 22:54] RussKeldorph commented on #10780
@BruceForstall @dotnet/samsung

/cc @dotnet/jit-contrib

[2017-04-06 22:55] eerhardt commented on #10780
I forgot to attach the ILDASM of the method in question.

[LockFileLookup.Debug.txt](https://github.com/dotnet/coreclr/files/904117/LockFileLookup.Debug.txt)
[LockFileLookup.Release.txt](https://github.com/dotnet/coreclr/files/904116/LockFileLookup.Release.txt)

[2017-04-06 23:47] #6018 closed

[2017-04-06 23:51] pgavlin commented on #4717
We already do this.

[2017-04-06 23:51] #4717 closed

[2017-04-07 00:03] alexperovich commented on #7892
@AlexGhiondea it looks like the test was re-enabled. Can we close this?

[2017-04-07 00:24] mazong1123 commented on #9530
@jkotas All right. I'll let the exception thrown as it should be.

[2017-04-07 00:24] alexperovich commented on #8348
It appears that this is actually a bug with the test. The test measured a wait time of 8 seconds, rather than the expected 5. This was measured with a real time clock however, and that could very well have been changed by 3 seconds during the test. I will switch the test to use a monotonic clock.

[2017-04-07 00:50] AndyAyersMS opened #10785 "Implement Span indexers as intrinsics"
Create jit intrinsics for `Span<T>.get_Item` and `ReadOnlySpan<T>.get_Item`.

Verify that indexers used in loops can have bounds checks hoisted, or identify what else needs to be done to make this possible.

See #10031 and #10050 for some discussion.

Preliminary and somewhat rough version [here](https://github.com/AndyAyersMS/coreclr/tree/SpanIndexerIntrinsic).

[2017-04-07 00:59] petrsorfa commented on #3906
Thanks for the update. Let me know I can help out anywhere (even outside of Debug specific stuff).

[2017-04-07 01:32] sdmaclea commented on #9898
@pgavlin LGTM.  I will test and create a PR unless you want to.

[2017-04-07 02:06] jkotas commented on #10643
@tarekgh Do we need a test for this?

[2017-04-07 02:07] sjsinju commented on #10762
@mskvortsov OK. Let me check.

[2017-04-07 03:12] iSazonov commented on #10643
Thanks for the quick fix!

[2017-04-07 03:49] jyoungyun commented on #10780
I'm trying to test dotnet cli in Raspberry PI3. But `dotnet build` occurs the same error in PI3 board. When I added ArgumentNullException in LockFileLookup.cs file, this issue seems to be resolved. But I'm not sure if my changes are right or not. In my case, this issue occurs debug build.

https://github.com/dotnet/sdk/issues/1094

[2017-04-07 06:25] jkotas commented on #9045
@CharliePoole Thank you for the feedback.

I think it would be reasonable to keep the legacyCorruptedStateExceptionsPolicy config switch that disables the fail fast on corrupting exceptions and let them propagate as regular exceptions. Do you think it would be sufficient?

Or do you believe that the fine grained corrupted exception handling is really needed?

[2017-04-07 06:51] #6843 closed

[2017-04-07 07:21] CharliePoole commented on #9045
I'd say the configuration setting is probably enough. The attribute requires the user to know which test is causing the problem and that can't be reported unless we catch the exception.

[2017-04-07 09:06] txdv opened #10790 "UdpClient Send overload methods not having an offset"
[I was looking at the API of UdpClient](https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/System/Net/Sockets/UDPClient.cs#L904-L928) and I wondered, why is it that there is no offset for the byte buffer provided?

It just provides the offset as the 0 default to the underlying Socket SendTo call:
[code]
Shouldn't the API be typed like Send(byte[] buffer, int offset, int count)

[2017-04-07 09:52] jyoungyun commented on #10780
The NuGet.Config in https://github.com/eerhardt/ArmJITBug should be added `<add key="cli-deps" value="https://dotnet.myget.org/F/cli-deps/api/v3/index.json" />` source to restore NuGet.ProjectModel. :)

[2017-04-07 09:53] hqueue commented on #10780
@jyoungyun Thanks! :) I was facing same problem.

[2017-04-07 10:43] MissaouiChedy opened #10792 "AssemblyLoadContext.LoadFromAssemblyPath does not set the file name when throwing FileNotFoundException"
The ` Assembly AssemblyLoadContext.LoadFromAssemblyPath(string path)` instance method throws a `FileNotFoundException` when it can not find the supplied `path`.

However, the `Filename` property in the thrown exception is `null` and it would be better if it was populated with the path of the file not found.

[2017-04-07 11:19] sjsinju commented on #10762
@mskvortsov I checked the result same case of you. and I've fixed with #10789.

[2017-04-07 11:40] ruben-ayrapetyan commented on #10693
@jkotas,
Please, suggest, how is it better to implement tests for changes like these.
What is the recommended way in such cases?

Is it a good idea to implement a separate unit test for this, or is it better to simply add a local assertion, like `if image is for IL-only assembly without writeable sections, then layout is "flat"` in code of PE loader?

[2017-04-07 11:41] mskvortsov commented on #10762
@sjsinju The test still fails with that fix applied:
[code]
And other tests mentioned in the issue description are failing too...

[2017-04-07 12:02] mskvortsov opened #10793 "[RyuJIT/ARM32] Assert failure on missing reservation of tmp reg"
[code]
[code]
Test cases:
[code]
cc @dotnet/arm32-contrib

[2017-04-07 13:22] hqueue commented on #10780
After some investigation, I found that some hoisted copy generated in preheader of loop contains invalid values which is used to load loop invariant variable. I've used the example @eerhardt shared and the loop is https://github.com/eerhardt/ArmJITBug/blob/master/Program.cs#L30.

However I have to go out and will start debugging again next week if this issue is still live next week.

[2017-04-07 13:38] janvorli commented on #7807
Fixed by #10700. @ramarag, is seems you can enable the checks that were disabled in #7945 for xplat now.

[2017-04-07 13:38] #7807 closed

[2017-04-07 13:54] tmds commented on #10690
@janvorli @stephentoub looking at the code, I see the clr is already aware of process affinity. I wonder if it is properly implemented for non-Windows? I see some `#ifndef FEATURE_PAL`.

For memory, I'm wondering if there is already a knob that allows to limit it. I haven't found one in the clr-configuration-knobs.

[2017-04-07 13:58] janvorli commented on #10690
@tmds Are you referring to the GC code? If that's the case, it is only for Windows and I am working on adding support for Unix at that place right now.

[2017-04-07 14:00] tmds opened #10796 "NUMA support on non-Windows platforms"
Is there support for NUMA on non-Windows platforms?

[2017-04-07 14:08] janvorli commented on #10796
@tmds not yet. As I've mentioned in another issue, I am working on adding that support for GC right now.

[2017-04-07 14:14] tmds commented on #10690
In the gc code. I saw it here too in util.cpp: https://github.com/dotnet/coreclr/blob/d8e91d3febea933dce2bb2e0825ffcea1c76480d/src/utilcode/util.cpp#L1284
Not sure what version win32threadpool.cpp (used on Linux too?) is calling.

[2017-04-07 14:17] janvorli commented on #10690
@tmds UNIX == FEATURE_PAL, so we are using the code you have referred to.

[2017-04-07 14:18] ruben-ayrapetyan commented on #10693
I looked to the question from another view point. As interfaces still allow requirement of "Mapped" layout for IL-only assemblies, the assertion will not be valid.

So, maybe we need a performance-like test that just checks that memory consumption doesn't increase back after some change. Is it worthwhile do add such a test?

[2017-04-07 14:23] tmds commented on #10796
Great. I wonder, does this make allocations numa aware? And will the ThreadPool be numa aware too?

[2017-04-07 14:27] jkotas commented on #10693
Agree. The performance test would be most appropriate since this is essentially a performance fix.

@valenis Do we have a good place to add working set performance tests on Linux?

[2017-04-07 14:31] tmds commented on #10690
I don't think it takes into account process affinity.

[2017-04-07 14:32] #10735 closed

[2017-04-07 14:33] jkotas commented on #10767
cc @mikem8361

[2017-04-07 14:35] janvorli commented on #10690
@tmds that's what I meant - you have pointed to the call to GetSystemInfo which doesn't take affinity into account.

[2017-04-07 14:35] jkotas commented on #10790
@txdv You should ask this question in corefx repo since the relevant code lives there.

[2017-04-07 14:36] tmds commented on #10690
:+1:

[2017-04-07 14:45] eerhardt commented on #10780
Thanks for letting me know.  I've pushed a change to fix it.

[2017-04-07 15:04] eerhardt commented on #10780
Doing a little more narrowing down the line causing the issue:

[code]

Outputs:

[code]

### Potential Workaround
Also, as pointed out in @jyoungyun's PR https://github.com/dotnet/sdk/pull/1095, a potential workaround here is to add a `throw` statement into the code.  Adding a fake `if` check and a `throw` causes the problem not to repro:

[code]

[2017-04-07 15:33] #9530 closed

[2017-04-07 15:53] sergign60 commented on #9166
@dotnet/jit-contrib Yes, please look at issue #10765

[2017-04-07 15:58] sergign60 commented on #10765
CC: @noahfalk

[2017-04-07 16:00] tannergooding commented on #10449
After giving some more thought, this one would actually change behavior on some things since `Auto` is aware of the surrounding fields with relation to the struct, rather than just the fields in the struct itself.

For example, take the `DateTimeOffset` struct:
[code]

and take an example struct such as:
[code]

`StructLayout=Auto` woudl have `sizeof(S) == 16` and the struct is rearranged to be:
[

[2017-04-07 16:02] tannergooding commented on #10448
@ufcpp, while useful. I'm not sure if removing it from `ValueTuple` is possible.

In the case of `DateTime`, it only contains a single field (a `long`), so it will always have the same layout.

With `ValueTuple`, there are a multitude of fields, so `ValueTuple<short, long, short, int>` would be `24` bytes for Sequential Layout and `16` bytes for `Auto` layout. On top of that, `ValueTuple` suffers

[2017-04-07 16:08] tarekgh commented on #10643
@jkotas I'll add a test as soon as we get the new coreclr in corefx

[2017-04-07 16:29] sdmaclea opened #10800 "[Arm64/Unix] valgrind memcheck"
Initial valgrind testing did not look clean.  Rerun and review logs.  Fix errors.

[2017-04-07 16:51] mmaguigan opened #10802 "Exception.GetStackTrace throws AccessViolationException"
In the last couple of days, the following code has been throwing an AccessViolationException:

[code]

The exception is generated when debugging from within Visual Studio. This is the stack trace of the actual exception.
[code]

The source was ```System.Private.CoreLib```, the message was ```Attempted to read or write protected memory. This is often an indication that other memory is corrupt.``` H

[2017-04-07 17:07] ranma42 commented on #2305
I am still interested and I have gathered some more data and questions :)
I tried to generate the parser using several tools:
 - `btyacc` can generate an `asmparse.cpp` that compiles without any other intervention on the grammar or to the other files (as shown in https://github.com/ranma42/coreclr/commit/3dcf6dfd4e18eafbbf0419ee2154ac5427595cbd).
 - `byacc` can generate a parser that compiles if p

[2017-04-07 17:30] sdmaclea commented on #9517
Plan looks like this

- reproduce  @janvorli work with GC still using 4096 bytes page with hard coded page_size.
- verify hello world runs with page size hard coded
- Run full default regression on 64K PS arm64 platform see if hard coded solution is functionally complete.  Fix issues....
- GC Stress might be a good idea here too?
- Replace hard coded with dynamic page size determination.  Should I

[2017-04-07 17:41] jkotas commented on #9517
Number of places use page size as a convenient 4k constant. They should not be switched to dynamic page size. Determining what should be switched and what should stay at 4k is probably the hardest part of this work.

Ideally, the dynamic OS page size would be used by default, without ifdefs. Yes, it will be an extra instruction here and there, but that's fine. I do not think there should be any pe

[2017-04-07 17:44] sandreenko opened #10803 "optimize delegate constructor in R2R for a virtual fp."
ReadyToRun has this optimization for a non-virtual function pointers only for now.
CoreRT supports a common case, moreover it supports all R2R scenarios (for now optimization is done only for GT_FTN_ADDR oper) where constant lookup is used.

It would be nice to support fgOptimizeDelegateConstructor for all R2R and delete `if (IsTargetAbi(CORINFO_CORERT_ABI)) `condition there.

[2017-04-07 17:45] sandreenko commented on #10803
@jkotas We discussed to create this issue, but I don't know who could be mentioned here.

[2017-04-07 18:08] gkhanna79 commented on #9045
Do you mean propagated as regular CSE, which is what happens in Desktop. Right @jkotas ?

[2017-04-07 18:10] redknightlois commented on #10705
Regression is fixed in v1.1

![utf8](https://cloud.githubusercontent.com/assets/1045411/24813445/62adf92a-1ba4-11e7-835b-57395856fcc0.png)

[2017-04-07 18:22] tarekgh commented on #10705
@leecow could you please advice if we can get this fix in 1.1?

[2017-04-07 18:23] #9757 closed

[2017-04-07 18:29] jkotas commented on #9045
I meant to propagate them as regular exceptions (.NET Framework v2 behavior).

[2017-04-07 18:40] mikem8361 commented on #10767
I was trying to abstract CreateProcess to only the options that are supported across all platforms. Creating a new console on Linux and OS X would be difficult to support.  I realize now it should be exposed for Windows but ignored on the other platforms.

It would have to be implemented as CreateProcess2 with the flags exposed. unless you are suggesting that we always create a new console on Wind

[2017-04-07 19:01] sdmaclea commented on #10624
@briansull I want to use a C7.2.32 DUP (general)

I do not see a unit test matching this.

To generate 'dup V0.16B, X1', it looks like this would be the form.

[code]

But it seems weird because the immediate is ignored.

[2017-04-07 19:20] danwalmsley commented on #10767
@mikem8361 hey, I think would be nice to have a CreateProcess2 and just ignore those flags on Mac / Linux.

[2017-04-07 19:25] tannergooding commented on #10386
@RussKeldorph, do you know if CoreCLR has the appropriate logic to detect the partial flag dependency (and uses add/sub in those cases)? If so, I'm fine with closing the bug; otherwise, we should probably keep it open to track adding such logic.

[2017-04-07 19:42] sdmaclea commented on #10624
@briansull I decided against using dup for now, so you can ignore my question.

[2017-04-07 19:45] briansull commented on #10624
It is quite possible that some instruction variants still need a small change to be correct and usable.

[2017-04-07 19:49] briansull commented on #10624
My manual has DUP listed as  "C7.3.32 DUP (general)"

// imm5<4:size+1> is IGNORED

[2017-04-07 19:51] leecow commented on #10705
Check-in deadline for the next 1.1 update is Monday. Please submit fix for review.

[2017-04-07 19:54] #9898 closed

[2017-04-07 20:00] sdmaclea commented on #10624
For the form I suggested "dup V0.16B, X1", Q=1, imm5=xxxx1.  So does

[code]

Look right to you?

[2017-04-07 20:05] #10716 closed

[2017-04-07 20:33] briansull commented on #10624
Yes the imm5 value is used to encode the OPT_16B and the encoding needs to be:

**16B when imm5 = xxxx1, Q = 1**

The comment in the ARM manual about the immediate being ignored
 I means that the xxxx value (which can vary is size is ignored)
It is used for the other format of the DUP instruction when you pass a second Vector register.

For our purposes you must pass an immediate of zero when pass

[2017-04-07 20:43] JosephTremoulet commented on #10051
It turns out the indirection in question is one that we generate when the JIT calls `embedGenericHandle`, and that returns a `CORINFO_GENERICHANDLE_RESULT` whose `CORINFO_LOOKUP` is a runtime lookup whose `CORINFO_RUNTIME_LOOKUP` has its `testForNull` flag set.

The comment for `testForNull` at its definition is `If set, test for null and branch to helper if null`, and at its use in the jit is
[co

[2017-04-07 20:47] jkotas commented on #10051
This is the correct assumption to make. The indirection is lazily initialized. If it is non-null, you have the good value. If it is null, the helper will initialize so that it is non-null next time.

[2017-04-07 20:50] dagood opened #10809 "Reenable symweb indexing in coreclr/master"
In https://github.com/dotnet/coreclr/pull/10807 I disabled symweb indexing in the master branch builds. Once we get a better handle on infra issues, we need to enable it again.

[2017-04-07 22:37] tarekgh commented on #10705
@leecow I have submitted the PR https://github.com/dotnet/coreclr/pull/10805 and sent email to the ship room so I'll wait to merge this change till having the ship room approval.

[2017-04-07 23:10] alexperovich commented on #9528
The code for MemoryMappedFile is actually in dotnet/corefx. I will move this issue.

[2017-04-07 23:10] alexperovich commented on #9528
Issue moved to [dotnet/corefx #18095](https://github.com/dotnet/corefx/issues/18095) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-07 23:10] #9528 closed

[2017-04-07 23:56] BruceForstall commented on #10047
Do you have an example where that is true?

[2017-04-08 00:45] AndyAyersMS commented on #10047
Sure. Looks like if the return type gets passed back by reference then callee's type has already been updated.
[code]

[2017-04-08 01:28] treenew commented on #919
@BalassaMarton Yes!

How get  the all loaded dynamically?
Where get the assembly with code ```AssemblyLoadContext.Default.LoadFromAssemblyPath(path)```

[2017-04-08 03:13] AndyAyersMS commented on #10785
Preliminary version now passing the standard jit tests (though doubtful that Span gets tested very heavily there). Changes include a benchmark with 7 indexer variations. Bounds checks for the intrinsic expansions are not being removed yet.

Current plan for bounds check elimination is to mark length access with a special flag, and then use this to try and play the role of GenTreeArrayLength during

[2017-04-08 05:52] danmosemsft commented on #10802
@mmaguigan does this reproduce in a standalone app?

[2017-04-08 05:56] danmosemsft commented on #10379
@raffaeler I think thisi s resolved, if not please reopen?

[2017-04-08 05:56] #10379 closed

[2017-04-08 05:58] danmosemsft commented on #9872
If anyone wants to take this, it will likely need care. Any removing of defines or renaming identifiers can cause bugs. Comment changes are hard to get wrong of course. It would make sense to be pragmatic about any changes and make them in small commits testing as going along (unless just comments)

[2017-04-08 05:58] danmosemsft commented on #9875
@janvorli

[2017-04-08 06:00] danmosemsft commented on #8735
I'm going to close this as it seems discussion finished.

[2017-04-08 06:00] #8735 closed

[2017-04-08 06:01] danmosemsft commented on #9055
@markrendle did you get a chance to try @gkhanna79 's suggestion?

[2017-04-08 06:04] danmosemsft commented on #6392
We don't use apisets in 2.0. I am going to close this given no more discussoin/reports.

[2017-04-08 06:04] #6392 closed