[2016-06-18 12:28] nietras commented on #5851
For `corefx` one might use the solution shown here: https://github.com/AndreyAkinshin/BlittableStructs/blob/master/BlittableStructs/BlittableHelper.cs

It is probably pretty slow (haven't benchmarked it) on first call, but should then be fast perhaps even inlineable. The helper is also discussed in a blog post: http://aakinshin.net/en/blog/dotnet/blittable/

[2016-06-18 14:39] gkhanna79 commented on #5060
I have tried to load the binaries from your zip archive you shared. Here is the change I made to ALCClient (which I shared above):

`var assembly = AssemblyLoadContext.Default.LoadFromAssemblyPath(@"C:\Github\CoreCLR5060\ExtCoreNew\src\ExtCoreNew\bin\Debug\netcoreapp1.0\ExtCoreNew.LibA.dll");`

and this is the output I get:

`Hello World - from ExtCoreNew.LibA, Version=1.0.0.0, Culture=neutral, Pu

[2016-06-18 15:42] DmitrySikorsky commented on #5060
Ok, thank you, I will wait for the new release to check this.

[2016-06-18 15:42] #5060 closed

[2016-06-19 00:03] jasonwilliams200OK opened #5872 "Alpine Linux PAL test suite -> 12 failures"
Full report: https://gist.github.com/jasonwilliams200OK/b7872e0f45f2f74830dd95729bfad40b

[code]

[2016-06-19 00:13] jasonwilliams200OK commented on #917
Thanks to @Barthalion for porting LLDB to Alpine Linux: https://pkgs.alpinelinux.org/packages?name=lldb. :tada: :star:

Now CoreCLR master builds on Alpine with lldbplugin (without missing anything).

Running the PAL suites revealed 12 failures: https://github.com/dotnet/coreclr/issues/5872.

Will run the managed test suite once PAL suite failures are sorted out.

[2016-06-19 13:03] jasonwilliams200OK commented on #5872
@jkotas, @janvorli, did some research and was pointed out by #musl folks over IRC that the first two sscanf failures are due to the corner case bug in [g]libc, where musl libc conforms with C99+POSIX standard, glibc bug was discovered late and won't get fixed due to the compatibility issues:

https://sourceware.org/bugzilla/show_bug.cgi?id=1765
https://sourceware.org/bugzilla/show_bug.cgi?id=12701

[2016-06-19 16:14] jkotas commented on #5872
It should be ok to remove the tests for these two corner cases - it does not look like we depend on them anywhere.

[2016-06-19 16:42] jkotas commented on #5870
These unsafe behaviors are not guaranteed to be the same accross runtimes. My description applies to CLR/CoreCLR.

GC does not care about the exact types, e.g. if type of local object reference variable is not compatible with what is actually stored in it, the GC will still track it fine. The lowest level constructs (load/store fields, call non-virtual non-generic method) work ok too - of course,

[2016-06-19 17:17] benpye commented on #917
:thumbsup: for getting this working!

[2016-06-19 17:30] benpye commented on #5844
I recall hitting this before, I thought I contributed a fix in some PR but perhaps it didn't get merged. If you check https://github.com/dotnet/coreclr/blob/master/src/pal/inc/pal.h#L204 you can see that the `UNALIGNED` keyword will only be defined on a certain set of compilers. ARM requires aligned access I believe for 2 or 4 byte reads (on a 2 or 4 byte boundry respectively). I believe on ARM yo

[2016-06-19 18:24] jasonwilliams200OK commented on #5872
Thanks @jkotas. #5873 presents the fix.

Regarding VirtualAlloc, Alpine Linux' musl based CRT has the same memory protection as iOS, Windows Phone etc. that a process can either generate the code or execute it but not the both. In order to circumvent the protection at test-time, we need to [PaX](https://en.wikipedia.org/wiki/PaX) mask or patch the kernel memory pages:

Syntax: (install paxctl firs

[2016-06-19 18:25] jasonwilliams200OK commented on #5872
With the PaX matter sorted out, we are left with one failure in PAL suite:

[code]

Probing further on the named mutex yielded:

[code]

[2016-06-19 18:34] jkotas commented on #5872
Any process that hosts CoreCLR would need this, e.g. dotnet host (https://github.com/schellap/core-setup/tree/master/src/corehost) would need this too.

[2016-06-19 22:03] MI3Guy commented on #5860
This would be great because it would allow for a lot that is currently impossible (without resorting to pointers). Especially when related to closures.

[2016-06-19 22:15] jasonwilliams200OK commented on #5872
@jkotas, noted, thanks!
Is `paltest_namedmutex_test1` disabled on other linux such as CentOS?
I didn't find it running in CI logs of CentOS: http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/debug_centos7.1_prtest/2509/consoleFull

[2016-06-19 22:25] #5828 closed

[2016-06-19 22:49] jasonwilliams200OK commented on #5456
I am seeing similar behavior with this test on Alpine Linux (x86_64): https://github.com/dotnet/coreclr/issues/5872#issuecomment-227012425.

[2016-06-20 05:47] jyoungyun commented on #5456
@leemgs The `paltest_namedmutex_test1` occured EDEADLK (Resource deadlock avoided)
[code]

[2016-06-20 05:57] davzucky commented on #5853
@gkhanna79 anbd @janvorli
I started the implementation on CoreFx which was checked in over the week end. The implementation of the CoreClr is on work in progress on my side as I had some problem with the ICU library that I solved last week. I hope to send the push request in the coming week.
After that we will need to add library as incremental. You can refer as well to that issue about the same t

[2016-06-20 06:00] ygc369 commented on #1856
Nobody is interested in this?

[2016-06-20 06:02] ygc369 commented on #1855
Nobody is interested in this?

[2016-06-20 06:10] ygc369 commented on #555
Nobody is interested in this?

[2016-06-20 08:36] wateret opened #5877 "[ARM/Linux/softfp] pre-spilling register arguments"
Register arguments(r0 to r3) are always pre-spilled with arm-softfp build. I am wondering if it is okay to do so. For example, I created a function like:

[code]

And the disasm of arm and arm-softfp are:

arm-softfp

[code]

arm(hardfp)

[code]

And if I'd represent the stack memory as a table,

[code]

In softfp, `sp-0x4` where r3 is saved is also used as arg0 so it looks a little strange to me.

[2016-06-20 08:36] wateret commented on #5877
cc: @papaslavik @janvorli

[2016-06-20 09:57] janvorli commented on #5838
Fixed by #5840

[2016-06-20 09:57] #5838 closed

[2016-06-20 10:02] janvorli opened #5878 "Refactor GCToEEInterface::CreateBackgroundThread"
Refactor the GCToOSInterface::CreateBackgroundThread, bgc_thread_stub and bgc_thread_function to return fully initialized thread. See the discussion in #5840 for more details.

[2016-06-20 11:20] kouvel commented on #5872
I have seen intermittent failures of `paltest_namedmutex_test1` on CentOS before in the CI, so it must be running. The PAL test runner doesn't output the name of every test that is run.

This looks like a different issue from the failure on ARM. Based on the line numbers, this is the scenario:
- Parent process creates a named mutex
- Child process opens the mutex
- Child process locks the mutex
-

[2016-06-20 11:42] kouvel commented on #5456
Thanks for looking into this. I don't understand why PTHREAD_PRIO_INHERIT should fix the deadlock, although it makes sense to use inherited priority. Even considering priorities, shouldn't a timed wait still time out?

I believe EDEADLK should only occur for non-recursive mutexes when a thread that already owns the lock tries to lock the mutex a second time. This pthread mutex should be set up as

[2016-06-20 13:07] davzucky commented on #5853
Licensing question, findICU.cmake is not part of the basic cmake support to find library, however they are a few available on github which could be quite nice to add in the project. What is the policy to use some of file like ?

- https://github.com/julp/FindICU.cmake
- https://github.com/facebook/hhvm/blob/master/CMake/FindICU.cmake

Or could as well start to build our own version. Any comment ?

[2016-06-20 16:08] RussKeldorph opened #5880 "Loader\classloader\regressions\523654 fails intermittently"
There is a race among 10 threads to update A::i.  I suspect that the fix is to use Interlocked.Increment(ref i) instead of [++i](https://github.com/dotnet/coreclr/blob/79ae4d44b7dc71f098ab97e712f8af7c493e720f/tests/src/Loader/classloader/regressions/523654/test532654_b.cs#L49).

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x64_checked_osx_minopts_tst/75/testReport/Loader.classlo

[2016-06-20 16:48] stephentoub opened #5881 "EventSource passing wrong byte[] data to listener"
Repro:
[code]
This should print out ```Data: 1, 2, 3, 4, 5```.  Instead it prints out ```Data: 1, 1, 1, 1, 1```.

This repros for me on both the .NET Framework and .NET Core.

cc: @davmason, @vancem

[2016-06-20 17:03] kvochko commented on #5855
CC @mikem8361

[2016-06-20 17:20] davmason commented on #5881
Thanks, Stephen. I fixed this for 4.6.2, and I could have sworn that I fixed it in coreclr but apparently not.

[2016-06-20 17:33] ericstj opened #5883 "Update prerelease label and bump package versions"
CoreCLR needs to update pre-release label to beta and increment the 3rd portion of all package versions.

[2016-06-20 17:41] mikedn commented on #4173
Should this be closed now that #5380 has been merged?

[2016-06-20 17:42] mikedn commented on #5699
@RussKeldorph Tags?

[2016-06-20 17:46] RussKeldorph commented on #5699
@mikedn Missed it.  Thanks for the heads up.

[2016-06-20 17:57] KrzysztofCwalina commented on #5857
Actually, I just realized Set needs to take ReadOnlySpan. Updated above.

[2016-06-20 17:58] sejongoh commented on #4173
Yep. Thanks.

[2016-06-20 17:58] #4173 closed

[2016-06-20 18:09] Maoni0 commented on #408
We do appreciate your interest in our GC. Our goal is to enable people who work on this code the most to be efficient and to find ways to make a larger group of people efficient working on the code base over time. We’re going to wait to make GC codebase usability changes until after other people start contributing to it and have specific feedback based on making multiple changes. This way we have

[2016-06-20 18:24] vancem commented on #555
I don't want to comment directly on the merits of pursuing this proposal, but I will mention that on a 64 bit machine, fragmentation is not as problematic as you might assume.    The GC does not touch freed memory and since every object on the large object heap is > 85K (thus 42 pages), most of the pages simply drop out of the working set and don't 'hurt' real memory consumption (only address spac

[2016-06-20 18:31] adamsitnik commented on #5857
@KrzysztofCwalina just FYI: I have started working on that, will implement TryCopyTo first

[2016-06-20 18:38] vancem commented on #1856
It is very hard to see whether this change would have interesting positive effect on performance.   It might, but it might not.   Generally speaking we expect finalizable objects to always be a small fraction of the total, and thus any change to improve them is likely to have a very small effect.

Ideas for improvements are considerably more valuable if they have (ideally real world) data that arg

[2016-06-20 18:42] schaabs commented on #5515
System.Reflection.Emit tests have been excluded from test runs at the assembly level.

[2016-06-20 18:42] #5515 closed

[2016-06-20 18:43] KrzysztofCwalina commented on #5857
@adamsitnik, Thanks!

[2016-06-20 18:50] mikem8361 commented on #5855
I don't know for sure but it could be that the unwinder (libunwind8 but I'm not sure what unwinder is used for ARM) can't handle your ProfileEnterNaked function.  I don't know any of the unwinder details for ARM sorry.

[2016-06-20 18:57] mikem8361 commented on #5809
I'm not sure why clrstack -a doesn't print local names. Probably historical reasons lost over time.

The best way to get locals is the implement the ifdef'ed FEATURE_PAL sections in GetNamedLocalVariable in util.cpp with calls to the portable pdb reader.  I really haven't studied the details of this code.

[2016-06-20 19:34] #5881 closed

[2016-06-20 19:41] jasonwilliams200OK commented on #5872
Thank you very much @kouvel, for giving me the rundown! I am not aware of deep internals of multithreading on Alpine, however, I can dig deep and try to spot the issue (bydebugging the test case etc.). @jyoungyun on #5456 mentioned that setting `PTHREAD_PRIO_INHERIT` fixed the issue for her on ARM device. I searched that on the internet in Alpine Linux context  and found this recent pull request b

[2016-06-20 19:57] gkhanna79 commented on #5883
The following needs to happen:

- [ ] Update closed build to publish 1.0.3-beta arm package
- [ ] Update open build to reference beta and increment 3rd portion of package versions. @ericstj did initial update [here](https://github.com/dotnet/coreclr/commit/4d0f26aeeae7fbbd3ede20bc89f9acd6e7a7eac6#diff-db6c934e3fc9f3fef2ac8eda683192e5).
- [ ] Update bot to account for the changes for preReleaseNumb

[2016-06-20 20:02] wtgodbe commented on #5883
Is this just a change in the name of these packages? If so, the pipeline shouldn't be affected.

[2016-06-20 20:08] gkhanna79 commented on #5883
Yes, it will be just a change in the name of the packages.

[2016-06-20 20:29] wtgodbe commented on #5883
Then I don't believe this will break anything in the pipeline. @dagood might see something I'm missing in the publishing step, though.

[2016-06-20 20:35] gkhanna79 commented on #5883
@ericstj Will you (or someone) be updating the packages, published from closed build, to be updated to use "beta" prerelease moniker?

[2016-06-20 20:39] gkhanna79 commented on #5883
I ask because when that happens, @dagood would need to update the preReleaseVersion update bot in sync with it and also update https://github.com/dotnet/coreclr/blob/master/dir.props#L155 to reflect the "beta".

[2016-06-20 20:40] swgillespie commented on #4802
This has not reproed in quite a long time. Closing this as fixed for now, will reopen if it appears again.

[2016-06-20 20:40] #4802 closed

[2016-06-20 20:42] dagood commented on #5883
@wtgodbe I don't know if it will break things, but there is the `Release` variable in the pipeline definition, currently `rc4`. At the very least, that would mislabel things, so might as well update it when the time comes.

@gkhanna79 That *should* be automatic, since the `rc4`/`beta` bit of that is part of https://github.com/dotnet/versions/blob/master/build-info/dotnet/projectk-tfs/release/1.0.0

[2016-06-20 20:43] ericstj commented on #5883
Already done.

[2016-06-20 20:49] gkhanna79 commented on #5883
@ericstj Was the change to "beta" done today? I ask because I dont see, as an example, beta package for APISets at https://dotnet.myget.org/gallery/dotnet-core.

[2016-06-20 20:50] gkhanna79 commented on #5883
Thanks @dagood. In that case, I will mark item (3) above as done.

[2016-06-20 20:54] dagood commented on #5883
It looks like CoreCLR hasn't had a successful build since the change: https://devdiv.visualstudio.com/DevDiv/Net%20CoreFX/_build?definitionId=1832&_a=completed. I'll take a look.

[2016-06-20 20:55] gkhanna79 commented on #5883
What about APISet package? I dont see beta version of the same as well.

[2016-06-20 20:55] wtgodbe commented on #5883
@dagood the official builds have been failing because the Mac machines we usually run jobs on have been offline since Saturday, so the failures could be unrelated.

[2016-06-20 20:58] gkhanna79 commented on #5883
@wtgodbe What is this used for?

[2016-06-20 20:58] dagood commented on #5883
@wtgodbe Ah, yeah, the build pipeline's just failing to queue the builds, so I'd say it's that.

[2016-06-20 21:02] wtgodbe commented on #5883
@gkhanna79 we use that variable as part of a unique identifier for each orchestrated build - something like 'coreclr-rc4-20160620-01'. That name gets assigned to the azure blob where the packages get published to, then the job that sends those packages to myget/VSTS knows it can find those packages in a blob with that name. It doesn't affect the name of the actual packages themselves. But, for con

[2016-06-20 21:02] gkhanna79 commented on #5883
Sounds good @wtgodbe

[2016-06-20 21:47] sergiy-k commented on #5880
@wtgodbe, could you please take a look?

[2016-06-20 21:50] wtgodbe commented on #5880
Can do.

[2016-06-20 22:23] wtgodbe commented on #5880
Your suggestion seems to have down the trick @RussKeldorph - https://github.com/dotnet/coreclr/pull/5889

[2016-06-20 22:54] jaredpar commented on #5851
The ability to convert from say `Span<int>` to `Span<byte>` proved really useful in Midori.  It's something I'd love to preserve with CLR as well.

The language already has this exact concept in the spec under the guise: `unmanaged type`.  Essentially a struct that transitively contains no reference types.  The compiler is already making this check for other scenarios.  Why not expose it as a real

[2016-06-20 23:47] #5880 closed

[2016-06-21 00:07] benaadams commented on #5851
Could even have a safe convert where it checks `(length * sizeof(T1)) % sizeof(T2) == 0` (might want also an unsafe convert where it doesn't - as may be pre-checking and re-slicing).

You can already have explicit layout overlapping arrays; but the length property gets confused as its  based on the instantiation type (which makes sense); but the span approach could have the appropriate length for

[2016-06-21 00:12] KrzysztofCwalina commented on #5851
@nblumhardt, the operations you listed could be extension methods over ROS<char>, couldn't they?

[2016-06-21 00:44] nblumhardt commented on #5851
@KrzysztofCwalina yes, though the ergonomics of extension methods are still second-rate because of the need to add a `using` statement before they're discoverable.

Tooling helps, and is improving, but at present it's still easier to find members on a type than it is to find extensions. The prevalence of "remove unused usings" as an automated refactoring means `using System;` is not reliably prese

[2016-06-21 01:22] ygc369 commented on #555
@vancem
This proposal is not only for fragmentation problem, it can also collect garbage large objects earlier.
The cost of compressing LOH with traditional way is too much, so we can't do it frequently. But if we can compress LOH with the way I mentioned, the cost would be less. Thus we can collect garbage large objects in time.

[2016-06-21 01:46] adityamandaleeka commented on #3837
@piotrpMSFT Can this issue be closed?

[2016-06-21 06:26] Maoni0 commented on #555
Not compacting LOH does not mean we do not collect garbage on LOH. We just don't compact (unless you specifically tell us to). We can collect LOH as often as we need if we think it's productive.

As I mentioned above, we already talked to the OS group a few years ago about doing this and the OS has yet to implement the VA remapping feature. I will talk to them again but feel free to bring this up

[2016-06-21 06:57] myungjoo commented on #1012
CC: @leemgs This seems to be related with the unexplained issue that depends on the LOCALE environment variables (not working if the locale is ko_KR.UTF8).

[2016-06-21 07:10] FransBouma commented on #408
@Maoni0 That's all well and good, and sorry if I sound harsh, but your arguments sound like you keep it this way as a bit of a filter on who will work on it. If the code is incomprehensible to a person who isn't familiar with the inner workings (but other than that a skilled engineer) it can be a serious hurdle to work on the codebase. If the code is easy to understand for such a person, more peop

[2016-06-21 07:16] ygc369 commented on #555
@Maoni0
Thank you for commenting on this.
It seems that GC on LOH only happens during GC of Generation 2, so it may not happen often.
Even though the garbage objects on LOH are Generation 0, they would not be collected until next GC of Generation 2.

[2016-06-21 07:39] jyoungyun commented on #5456
I think I found the reason why paltest_namedmutex_test1 was hang. It is related to glibc. After applying below code, paltest_namedmutex_test1 is working well. Of course my simple code is also passed. (https://sourceware.org/bugzilla/show_bug.cgi?id=20263)

[code]
I will update the patch soon but it takes a long time to be applied our reference targets. So I think this test should be changed to tes

[2016-06-21 14:31] gkhanna79 commented on #4070
@JohnChen0 Since these tests have been removed, do you want to close the issue?

[2016-06-21 14:43] gkhanna79 commented on #5853
CC @jkotas

[2016-06-21 15:19] #4070 closed

[2016-06-21 15:43] kvochko commented on #5855
It seems that libunwind can't unwind `ProfileEnter`: in the first call to `PAL_VirtualUnwind`, the context supplied to this call points inside that function. Further debugging in libunwind shows that the `EXIDX_CANT_UNWIND` bit for the function's index table entry is raised, and that's where unwinding stops.

BTW, It would be nice if, upon failure to unwind a frame, instead of going into an infini

[2016-06-21 15:46] #5883 closed

[2016-06-21 15:47] gkhanna79 commented on #5883
The PR is merged. @wtgodbe can you please update the mast branch pipeline definition to specify beta as the release?

[2016-06-21 16:35] piotrpMSFT commented on #3837
I have no issue with closing it. @luisgarciaalanis seems to be unblocked.

[2016-06-21 16:54] jkotas commented on #5853
I have run https://github.com/julp/FindICU.cmake through the approval process. It is ok to use it. Could you please add it in a separate PR that will:

- Add FindICU.cmake file
- Add license to THIRD-PARTY-NOTICES

[2016-06-21 17:36] ilexp commented on #5851
I've been (somewhat) following development of the [C# Slicing issue](https://github.com/dotnet/roslyn/issues/120), but I'm having trouble understanding how exactly these two issues are related. A few questions to clear things up:

1. Is this the CLR-part of the actual array slicing feature in C#, or considered something entirely different?
2. As far as I followed slicing, a core feature of an arra

[2016-06-21 18:02] jaredpar commented on #5851
@ilexp it's a bit confusing because the ability to have efficient slices requires both runtime and language work.

1. Yes.  The CLR portion is making the necessary runtime changes to properly handle the "ref" field used in `Span<T>`.
2. No.  Having `Span<T> == T[]` is not a goal of this particular approach.  This approach is solving a slightly different problem: uniform representation for contiguo

[2016-06-21 18:10] #2714 closed

[2016-06-21 18:23] jaredpar commented on #5860
The design I think makes the most sense here is to:

1. Add `ref` fields to the language
2. Generalize the notion of `ref types` to include both `ref` locals, parameters and types which have ref fields.

The generalized notion of `ref types` is more applicable here because they actually have a number of restrictions, not just stack only:

- Stack only: heap doesn't allow interior pointers (ref fie

[2016-06-21 18:53] omariom commented on #5860
Will it allow to create `Span<T>` fields?

[2016-06-21 19:48] jaredpar commented on #5860
@omariom yes in the cases where the containing type is a `struct` itself.  It's not possible to create `ref type` fields in a `class` type.

There are some mitigation for `Span<T>` to allow it to be stored as fields of a `class` type.  That would be specific to `Span<T>` though and not a general purpose feature for all `ref types`.

[2016-06-21 21:19] jkotas commented on #5878
cc @swgillespie GC interface refactoring

[2016-06-21 21:19] jkotas commented on #5741
cc @swgillespie GC interface refactoring

[2016-06-21 21:45] janvorli commented on #5878
Oops, I meant GCToEEInterface, not GCToOSInterface.

[2016-06-21 22:07] mikem8361 commented on #5869
Are you asking that the coreclr windows builds produce and package the long name based on the version above instead of "mscordaccore.dll"?  So this issue is just about adding an install step to copy the dac dll to the long name format because  "mscordaccore.dll" still needs to exists for dbi and sos to load.

[2016-06-21 22:23] schaabs opened #5906 "SIGABRT_System.ExecutionEngineException_System.Diagnostics.Tracing.Tests.dll!BasicEventSourceTests.EventTestHarness+<>c__DisplayClass0_0.<RunTests>b__0"
**The notes in this dump refer to the ubuntu 14.04 core dump available at: http://dotnetrp.azurewebsites.net/dumpling/download/1443**

    LAST_EXCEPTION:
    Exception object: 00007fc52bfff1e0
    Exception type:   System.ExecutionEngineException
    Message:          <none>
    InnerException:   <none>
    StackTrace (generated):
    <none>
    StackTraceString: <none>
    HResult: 80131506

[2016-06-21 22:25] schaabs commented on #5812
We have another recent repro of this issue in our RTM 1.0.0 test pass.  It is a RHEL 7.1 core dump available here: http://dotnetrp.azurewebsites.net/dumpling/download/1446

[2016-06-21 22:40] dagood commented on #5869
I don't think we need to package the long-name DAC and SOS in library packages, since the use case is cross-architecture debugging. It would make some sense to have the new files in the symbol package, but I doubt MyGet has special treatment for long-name DAC so I don't think we need to do that.

The end result that I know we need is for the long-name files to be in the bin directory as a sibling

[2016-06-21 22:43] gkhanna79 commented on #5869
I think we should only have one DAC next to coreclr.dll - and @tzwlai mentioned that for non-cross arch scenarios as well, we should  use the long name.

[2016-06-21 22:44] gkhanna79 commented on #5869
BTW, fixing this would also involve updating the Arm32 coreclr package (in closed build) to contain the long name DAC.

[2016-06-21 22:52] mikem8361 commented on #5869
Too change dbi and sos to load the long dac may be messy because the version built into the name. I’m not sure if it is available as defined to the coreclr build.

Would we do this for the xplat builds too?

[2016-06-21 23:07] dagood commented on #5869
@gkhanna79 Hmm, that's not what I took away from the thread. I can see how that would work in the symbol server case, though: if the debugger simply looks for the short-name before checking for a long-name, we could skip the short-name altogether. But It sounds like this makes the "normal" loading case more difficult, and I don't know if other tools might depend on the short-name. /cc @leculver

@

[2016-06-21 23:15] morganbr commented on #5714
clrjit.dll is almost certainly not WACK compliant, so if an app ended up with it, it probably couldn't get through the Store.

[2016-06-21 23:30] DerpMcDerp commented on #5851
Has unifying `T[*]` and `Span<T>` been considered and if so what are the negative trade-offs associated with that?

[2016-06-21 23:40] KrzysztofCwalina commented on #5851
I assume by T[*] you mean arrays? If yes, than unifying Span<T> and T[] would make T[] slower, i.e. additional indirection when accessing array items in cases where the compiler cannot optimize the indirection out. In addition, arrays would become one word/pointer larger

[2016-06-21 23:43] jkotas commented on #5851
... and the unified Span would be slow and expensive too.

[2016-06-21 23:50] jaredpar commented on #5851
Depends on which design.  The design where `Span<T>` is a class will have the behavior you outlined.  In the version where it is a `struct` the perf should be equivalent.  The downside of course is tearing issues.

[2016-06-22 00:29] DerpMcDerp commented on #5851
My question was poorly worded. What I meant was that the `Span<T>` proposal seems to be along the lines of:

1. slicing into array/strings
2. `reinterpret_cast`ing structs as arrays e.g. `struct Point3d { int x, y, x; }; int[] arr = Span.Reinterpret<int[]>(ref some_Point3d);`

But what is also desired by people is the ability to reinterpret single/multidimesional arrays as a single/multidimensiona

[2016-06-22 00:33] parjong opened #5910 "[ARM/Linux] Build failure - out-of-line definition of 'CreateDictionaryLookupHelper' does not match any declaration in 'DynamicHelpers'"
I encountered the following error while cross-building ARM CoreCLR:
[code]

[2016-06-22 00:35] gkhanna79 commented on #5869
We don't want to carry two DAC binaries in the package that differ only in the name. Why would this make normal loading case difficult? Isnt SOS able to load either @mikem8361 ?

[2016-06-22 00:37] parjong commented on #5910
It seems that b9f5ae88cc49836c8d31f07db7800707165cdb06 changes the declaration of `CreateDictionaryLookupHelper`, but does not update its implementation for ARM (which is in src/vm/arm/stubs.cpp)

[2016-06-22 00:46] adityamandaleeka commented on #5906
It looks like the stack above isn't really the interesting one. The interesting one is below. Based on what it shows, it looks like this is another OOM issue. We try to allocate an array of marks in `grow_mark_stack` and that allocation fails, so we call `EEPOLICY_HANDLE_FATAL_ERROR`.

Based on the dump, it looks like the GC heap size is 6.5 GB. Unfortunately, DumpHeap fails because the data struc

[2016-06-22 00:58] leculver commented on #5869
@gkhanna79 @dagood: Can we tap the breaks on this conversation for now?  There's clearly some confusion, and I'd like to talk to Davis on the phone (tomorrow) to clear up that confusion.

Please consider the following a summary of that discussion, but I'll answer in more depth on the phone instead of text so we can be 100% sure there's no more ambiguity.

1.  We need to continue to produce and pac

[2016-06-22 01:06] adityamandaleeka commented on #5910
Looks like this is being fixed with https://github.com/dotnet/coreclr/pull/5909

[2016-06-22 01:15] gkhanna79 commented on #5869
I am fine with the approach - this is status quo. How is this expected to work for cross-targeting platforms (Arm64 or Arm32)?

[2016-06-22 01:23] leculver commented on #5869
(Are we even building a cross architecture dac for coreclr right now or is this a question for the future?)

If we are building a cross-architecture long name dac then this just becomes another long name dac in the folder we put on a build share.  Points 1-4 above is exactly the same.  We ship the short name mscordaccore.dll from the package, we index all long-named dacs on the public symbol sever

[2016-06-22 02:11] swgillespie commented on #5906
@adityamandaleeka This is unfortunately a known issue - I created a TFS issue tracking it a few months ago so perhaps we might want to create an issue on GitHub too.

[2016-06-22 02:57] adityamandaleeka commented on #5906
Thanks @swgillespie. To be clear, the known issue you mentioned is the fact that we give up and abort in the GC code when the allocation fails, right?

I guess that leaves the question of what's eating up all the memory. I've been running the stress mix from the zip file @schaabs linked above, and it pretty quickly had almost 2 gigs in its resident set. I probed the heap a few times and it looks l

[2016-06-22 03:20] Maoni0 commented on #408
I personally find that when you have the source and can build and run it, you are in an excellent position of understanding the code. What I did, with the GC code or anything else where I had these available, was just to build it, run it with a small test program and step into the code. I outlined the code flow in the [GC BotR chapter](https://github.com/dotnet/coreclr/blob/master/Documentation/bo

[2016-06-22 03:29] davmason commented on #5906
EventDispatchers are created for each EventSource/EventListener pairing, so if we have tons of them around then that means that there are tons of EventSources and EventListeners being kept around.

I don't know about how the EventSource tests are being run in the stress harness, but taking a brief look at our tests it looks like we never call Dispose() on the listeners we create. So, assuming the

[2016-06-22 04:02] parjong commented on #5910
@adityamandaleeka It seems that #5909 also fixes this issue. I'll close this issue when #5909 is merged

[2016-06-22 04:06] davmason commented on #5906
I made github/corefx#9591 to dispose EventListeners in the EventSource tests. It's probably the cause of this, and even if it's not it's good practice to have the tests do the right thing.

[2016-06-22 04:36] adityamandaleeka commented on #5910
Fixed in #5909

[2016-06-22 04:36] #5910 closed

[2016-06-22 05:32] myungjoo commented on #5855
//
// EXTERN_C void ProfileEnterNaked(FunctionIDOrClientID functionIDOrClientID);
//
NESTED_ENTRY ProfileEnterNaked, _TEXT, NoHandler
    PROLOG_PUSH "{r0-r7, r11, lr}"
    bl      C_FUNC(ProfileEnter)
    EPILOG_POP "{r0-r7, r11, pc}"
NESTED_END ProfileEnterNaked, _TEXT
[code]

[2016-06-22 05:42] myungjoo commented on #5855
Anyway, I'm being curious why you are storing `r0-r7, r11` in this `ProfileEnterNaked`. What's the purpose? It looks like PUSH {r7, lr} is enough in this context (which allows you to do `PROLOG_STACK_SAVE r7`).

[2016-06-22 12:10] krk opened #5917 "ExecutionEngineException in GCHandle.Free"
GCHandle.Free throws ExecutionEngineException. It should either succeed or throw an InvalidOperationException.

Problem can be reproduced with CoreRun and .NET 4.6.1:

---------------------------
CoreRun.exe - Assert Failure (PID 5996, Thread 6204/0x183c)
---------------------------
"Attempt to access destroyed handle." && *(_UNCHECKED_OBJECTREF *)handle != DEBUG_DestroyedHandleValue

CORECLR! Val

[2016-06-22 13:26] sam-baravy opened #5918 "[ARM/Linux] Assert Failure ("Unrecognized ETW root kind") when using CoreCLRProfiler"
Corerun crashes when I try to use CoreCLRProfiler (https://github.com/david-mitchell/CoreCLRProfiler.git) on arm-softfp:

Steps to reproduce:

1. Clone CoreCLR to Ubuntu 14.04.4 LTS

2. Install dependencies:
`$ sudo apt-get install cmake llvm-3.6 clang-3.6 lldb-3.6 lldb-3.6-dev libunwind8 libunwind8-dev gettext libicu-dev liblttng-ust-dev libcurl4-openssl-dev libssl-dev uuid-dev`
`$ sudo apt-get i

[2016-06-22 13:33] sam-baravy commented on #5918
@Dmitri-Botcharnikov

[2016-06-22 14:26] ericstj commented on #5714
Right, which is why this needs to be fixed...

[2016-06-22 14:54] kvochko commented on #5855
@myungjoo Thanks for the comments! Unfortunately, specifying the FP location doesn't help: libunwind still can't locate an exception table entry for `ProfileEnter`, even though readelf shows that the entry exists:
[code]
Code for `ProfileEnterNaked`:
[code]

[2016-06-22 16:05] lucenticus opened #5920 "[SOS][Linux] Getting source line by native offset doesn't work"
I'm trying to enable printing source lines in sos commands like `clrstack`, `ip2md` etc. using portable pdb reader. At this moment [GetLineByOffset](https://github.com/dotnet/coreclr/blob/master/src/ToolBox/SOS/Strike/util.cpp#L5859) contains code with `#ifndef FEATURE_PAL` directives. It seems that we can get information using `SymbolReader`, but I have some difficulties with calculation of `IlOf

[2016-06-22 16:24] tzwlai opened #5922 "Remove CoreCLR's dependency on the diasymreader.dll installed as part of the full .NET Framework on Desktop"
We have discovered that CoreCLR relies on the diasymreader.dll installed as part of the full .NET Framework on Desktop in order to resolve traditional PDBs and print source line numbers in Exception.ToString() (and likely System.Diagnostics.StackTrace as well).  We should be able to use Microsoft.DiaSymReader.Native to have our own copy of diasymreader.dll.

[2016-06-22 17:10] swgillespie commented on #5906
Yep, that one. The way the code is structured today, we're unfortunately kind of screwed if we can't expand the mark stack here. If this allocation fails, we can't continue traversing the heap (or if we do, we run the risk of overrunning the mark stack buffer), so we'd have to bail on the GC, but we can't do that either because we're OOM and need to free up memory immediately.

[2016-06-22 17:17] briansull commented on #5877
The argument register prespill for Arm32 should really only occur for:
Vararg methods or if the incoming argument is a struct.
It shouldn't happen for typical calls.

[2016-06-22 18:00] mikedn commented on #4593
Corrected test paths:
[code]

[2016-06-22 18:08] swgillespie commented on #5917
Full stack trace:

[code]

[2016-06-22 18:30] gkhanna79 commented on #5869
We build Arm64 which will be cross-target scenario.

Why dont we do that? Are we expected to have two DACs - one which is native to the target architecture and the other that is cross-targetting for managed debuggers?

[2016-06-22 19:16] ccurrens opened #5927 "High CPU in Monitor.Enter when the system clock interval is set to a low value on Windows"
Affects: CoreCLR and Full .NET Framework desktop

It appears that the smaller the system timer resolution, the more CPU is spent spinning when trying to acquire a contended lock via `Monitor*.Enter` methods. In multiple traces, I've seen absurdly high amounts of CPU being used by `AwareLock::Contention`[1]. It also looks like as the number of processors increase, the overall performance decreases

[2016-06-22 19:18] leculver commented on #5869
Sorry I don't think I was clear enough there let me try to reword that, using an amd64 build as an example:

1.  mscordaccore.dll generated by the build gets copied to **mscordaccore_amd64_amd64_version.dll**.
2.  We produce a _different_, cross-architecture capable dac.  This is compiled as amd64 architecture (to run on amd64 machines), but all the #defines are __ARM64__.  This specially compiled

[2016-06-22 19:22] abrodersen commented on #4409
@davzucky I have reached the same point as you. I built the native components from `coreclr` and `corefx` on Arch Linux and used them to replace the native libs in a downloaded copy of the Dotnet CLI. I am able to run `dotnet --info` successfully. However, more complicated commands like `dotnet restore` result in a segmentation fault. Have you made any progress?

[2016-06-22 19:29] janvorli commented on #4409
@abrodersen would you be able to run the command under gdb or lldb and copy here the call stack when the segfault happens?
You would do:
` gdb --args /full/path/to/dotnet restore`
When it hits the SIGSEGV, you would use `bt` command in the gdb to dump the call stack.
With lldb, you'd run
`lldb -- /full/path/to/dotnet restore`
When it hits the SIGSEGV, you would use `bt` command in the lldb to dump

[2016-06-22 19:33] janvorli commented on #5748
Closing as won't fix since the issue was elsewhere.

[2016-06-22 19:33] #5748 closed

[2016-06-22 19:58] kvochko commented on #5855
So the problem is that libunwind loads the exception table for `liblldb.so` instead of libcoreclr. I can see the `PAL_VirtualUnwindOutOfProc` function in `seh-unwind.cpp`, but it doesn't appear to be used anywhere.

[2016-06-22 19:59] kouvel opened #5928 "Threadpool: High CPU usage in spin-wait for work items"
High CPU usage in ThreadpoolMgr::UnfairSemaphore::Wait when the thread pool receives work items in bursts and the work item queue becomes empty between bursts. Repro:

[code]

I believe the spinning allows threads that recently completed work to be used again, to avoid a context switch, and to allow old threads to remain idle and be considered for termination. This doesn't seem to work very well w

[2016-06-22 20:02] #1207 closed

[2016-06-22 20:09] #5357 closed

[2016-06-22 20:18] gkhanna79 commented on #5869
We have already done this work and currently using cross-target DAC for debugging on Arm64. In your example above, I get the two are different since you are comparing output from AMD64 and ARM64 builds.

My question was for Arm64 build specifically - per what you say above, should the default name of the DAC binary be mscordaccore_<host_arch>_<target_arch>.dll for all architectures? If so, will th

[2016-06-22 20:31] leculver commented on #5869
@noahfalk:  You might want to field that last question.  I don't know how the public debugging APIs use or request the cross-arch dac (or does that work at all?).

As far as I know (with corrections from Noah) we need the short named dac for the amd64_amd64 case (that is, the "normal" dac) for ICorDebug/DBI.  For cross architecture, we do not use a short named dac at all (again, as far as I know).

[2016-06-22 20:33] mikem8361 commented on #5869
Currently sos and dbi load the dac with the name “mscordaccore.dll” in the directory coreclr.dll was loaded in the target process. On windows sos uses the instance loaded by windbg. Historically it looks like dbi has always loaded mscordaccore.dll on coreclr and mscordacwks.dll on desktop.

[2016-06-22 20:36] rahku commented on #4950
fixed in #5891

[2016-06-22 20:36] #4950 closed

[2016-06-22 20:41] bricelam commented on #5714
Confirmed. It fails WACK.

    API SystemFunction036 in advapi32.dll is not supported for this application type. clrjit.dll calls this API.
    API DebugBreak in kernel32.dll is not supported for this application type. clrjit.dll calls this API.
    API HeapValidate in kernel32.dll is not supported for this application type. clrjit.dll calls this API.
    API LoadLibraryExW in kernel32.dll is not

[2016-06-22 20:43] bricelam commented on #5714
My `project.json` is pretty simple too.
[code]

[2016-06-22 20:51] rowanmiller commented on #5714
I see this is triaged for 1.1.0, but doesn't this mean that anyone who uses the 5.2.0 version of the UWP meta package won't be able to publish their app? This prevents using Entity Framework Core because we require 5.2.0.

[2016-06-22 21:32] natemcmaster commented on #5714
This is more than just an EF issue though, right? Isn't Microsoft.NetCore.UniversalWindowsPlatform v5.2.0 RTM-ing on Monday?

[2016-06-22 21:40] kouvel opened #5930 "Threadpool: High CPU usage in work stealing queue"
High CPU usage in `ThreadPoolWorkQueue.Dequeue` and `ThreadPoolWorkQueue+WorkStealingQueue.TrySteal`. This is more noticeable when the minimum worker thread count is set to a high number, and fast-running work is queued. Perhaps more threads than required are awakened, and once the queued work is depleted by some threads, the remaining awakened threads spin for more work. Perhaps there is also too

[2016-06-22 21:42] rahku commented on #4650
Following is the list of tests that pass without R2R and fail when test assemblies are crossgen'd
RelativePath=JIT\jit64\hfa\main\testA\hfa_sd2A_d\hfa_sd2A_d.cmd
RelativePath=JIT\jit64\hfa\main\testA\hfa_sd2A_r\hfa_sd2A_r.cmd
RelativePath=JIT\jit64\hfa\main\testA\hfa_sf2A_d\hfa_sf2A_d.cmd
RelativePath=JIT\jit64\hfa\main\testA\hfa_sf2A_r\hfa_sf2A_r.cmd
RelativePath=JIT\jit64\hfa\main\testB\hfa_sd2B

[2016-06-22 22:05] weshaggard commented on #5714
We are shipping a stable 5.2.0 UWP meta-package on Monday, however it currently will not be the default for any new projects and users would need to explicitly reference it only if they need to depend on a newer netstandard based package. I don't expect much usage of this meta-package.

As for this particular issue there is a workaround by adding the following to your dependencies section in your

[2016-06-22 22:43] benaadams commented on #5930
Was seeing this in https://github.com/dotnet/coreclr/pull/5156#issuecomment-220880511

[2016-06-22 22:52] mikem8361 commented on #5920
This code is using the windbg symbol interfaces to read the regular managed pdb on windows.  I don’t know the equivalent portable PDB apis for GetSymbolEntryByToken/GetSymbolEntryInformation. Thomas Matousek would know but I can’t find his github id. The windbg api reference (see below) probably has more info on what symInfo.Offset is in this case.

g_ExtSymbols->GetLineByOffset() on xplat can onl

[2016-06-22 23:12] adityamandaleeka commented on #5906
I've been running this locally with the change @davmason made to dispose EventListeners in the EventSource tests, and it looks like the leak has been fixed. I'll let it run a bit longer to confirm, then close this issue.

[2016-06-23 00:11] noahfalk commented on #5869
I think Mike covered it : ) To zoom in on that one aspect where sos uses the dac that windbg loaded, windbg is capable of loading both short and long named versions under different circumstances. It can do this both from having DAC provided explicitly by a developer or by looking up the appropriate DAC from the symbol path, which usually winds up pulling from Microsoft symbol server.

[2016-06-23 00:15] mikem8361 commented on #5855
Yes, PAL_VirtualUnwindOutOfProc isn’t currently used. It was left there as place holder I guess if we go back to doing out of context unwinds in the DAC for the managed debugger. When running under lldb in SOS we use lldb’s unwinder for the target process via a dac callback interface.

I’m not sure what it means that libunwind loads liblldb.so’s exception table. I didn’t really see in the original

[2016-06-23 00:15] MattWhilden commented on #5927
@ericeil

[2016-06-23 01:39] jasonwilliams200OK commented on #5872
@kouvel, replied to you on gist (in case GitHub hasn't sent notification for gist comment).

[2016-06-23 01:48] myungjoo commented on #5855
@kvochko I appears that you need another set of assembly directives to make your function available for the exception table. The current code is for common function, not for exception handler.

[2016-06-23 03:33] jkotas commented on #5917
GCHandle is "unsafe" type. You have to free it exactly once. This assert says that you have freed the same handle twice. It is bug in ConcurrentWeakDictionary code, not a bug in GCHandle.

[2016-06-23 03:41] jkotas commented on #5918
Looks like the ifdef @ gc.h:230 is wrong. It should be:

`#if defined(GC_PROFILING) || defined(FEATURE_EVENT_TRACE)`

[2016-06-23 03:53] benaadams commented on #5930
May also be cache line thrashing on the queues from false sharing as there is no padding on the SpinLock https://github.com/dotnet/coreclr/pull/5938 or the queue entries

[2016-06-23 04:27] benaadams commented on #5930
May also be cache line thrashing on the queues from false sharing as there is no padding on the SpinLock https://github.com/dotnet/coreclr/pull/5938 or the queue entries https://github.com/dotnet/coreclr/pull/5943

[2016-06-23 04:53] tmat commented on #5920
@tmat Tagging myself

[2016-06-23 04:56] tmat commented on #5920
Can WinDbg call managed code to read the information?

[2016-06-23 06:14] kouvel commented on #5456
Oh great, thank you! I'll send out a PR to disable the test for the time being.

[2016-06-23 06:57] papaslavik commented on #5877
By the advice of @BruceForstall we followed the varargs logic. And actually the arguments were meant to be prespilled but just for the floating point arguments. So it seems like we need an additional check of whether the args we're dealing with are floats or not.

[2016-06-23 07:16] krk commented on #5917
The problem here is type of the exception. When you double free a GCHandle, it throws an InvalidOperationException with the message "Handle is not initialized.".

[code]

Why does it throw an ExecutionEngineException in the repro project instead of an InvalidOperationException?

[2016-06-23 07:22] kvochko commented on #5855
@mikem8361 Thanks! Does this mean that we shouldn't even be on the code path that leads to the call to PAL_VirtualUnwind, since that's where libunwind is used directly? If so, could you give any pointers as to where the execution goes down the wrong path?

[2016-06-23 07:31] jkotas commented on #5917
The double free of `GCHandle` has unspecified behavior. It can throw any exception, it can crash with failfast, or it can succeed and silently corrupt that state of the process - the crash will happen later in unrelated spot.

If you would like to have deterministic exceptions to be thrown for incorrect use, switch to `WeakReference`. `WeakReference` is "safe" wrapper over of the GCHandle. It is g

[2016-06-23 09:01] lucenticus commented on #5920
@tmat, I'm not sure that I understand your question correctly. We are using libsosplugin + lldb and reading portable PDB on Linux. We call managed code from System.Diagnostics.Debug.SymbolReader.dll https://github.com/dotnet/corefx/pull/9281 to read lines and IL offsets. See also PR https://github.com/dotnet/coreclr/pull/5688/.
Do I understand correctly that for xplat `symInfo.Offset` is an IL off

[2016-06-23 09:13] jyoungyun opened #5947 "[ARM][Linux] Enable checking unit test in ARM CI"
Now ARM emulator cross build checks are automatic on a per PR basis. But it does not check the unit test yet because it takes a lot of time. And the internal loop jobs have a timeout of 2 hours and it is not editable. So I will pick some unit tests for ARM CI under the name of tests/testsRunningInsideARM.txt.  And ARM CI uses it with --testDirFile option in runtest.sh.

I will update the patch soo

[2016-06-23 10:30] wateret opened #5949 "[ARM/Linux] Unit test fail `_il_reltypeEqualOp`"
`JIT.Methodical.casts.ilseq._il_reltypeEqualOp._il_reltypeEqualOp` fails on ARM/Linux.

[code]

[2016-06-23 11:07] wateret commented on #5949
It successfully runs on arm but the return value is wrong. So I found out what makes the difference.
Actually it is all about type casting `double` to `ulong`. After instruction `conv.u8`, the value of stack top differs by architecture.

The location of the instruction is here:
https://github.com/dotnet/coreclr/blob/master/tests/src/JIT/Methodical/casts/ilseq/typeEqualOp.il#L570

I wrote some C# c

[2016-06-23 11:13] #4674 closed

[2016-06-23 11:20] myungjoo commented on #5631
It look like the current commit of CoreCLR has this issue fixed.
I'll verify if it's completely gone and close this afterwards.

[2016-06-23 11:33] wateret commented on #5949
The above workaround patch forces the test pass but doesn't seem correct.

[2016-06-23 14:57] dagood commented on #5869
@mikem8361 By the way, we'll need a long-name SOS as well. I didn't mention it in the issue description, but I think it makes sense to do that along with making the long-name DAC because it's the same situation. I can create another issue for that if it doesn't seem like that to you, though.

[2016-06-23 15:51] sam-baravy commented on #5918
Jan,
thank you for the patch, it works for me, i.e. profiler runs flawlessly on arm-softfp.
Should I proceed with such a trivial PR?

[2016-06-23 15:58] jkotas commented on #5918
Yes, submit PR for it please. Thanks!

[2016-06-23 16:09] jinujoseph opened #5951 "Shift F5 , While debugging a core Unit test project causes dotnet.exe to crash"
**Repro steps**
- Create a core class Library
- Add below in your project.json file

[code]

- Add below to your class1.cs
[code]
- Run the Unit test and make sure every thing works .
- Put a breakpoint in your first test , then do a debug test on that.
- When the breakpoint hits , Press SHIFT F5

I get this
![image](https://cloud.githubusercontent.com/assets/12449387/16310544/ce2c4690-3921-11e6-8

[2016-06-23 16:10] jinujoseph commented on #5951
@gkhanna79

[2016-06-23 16:17] gkhanna79 commented on #5951
I think @brthor or @piotrpMSFT are the right folks to help look into this.

[2016-06-23 16:23] #5855 closed

[2016-06-23 16:28] kyulee1 opened #5953 "ARM64: Consistency check failed: AV in clr at this callstack"
AV in a corefx test, System.Net.Sockets.Tests

[code]

[2016-06-23 16:28] kyulee1 opened #5954 "ARM64: Assertion failed 'fieldSeq != FieldSeqStore::NotAField()'"
Assertion in a corefx test, System.Security.Cryptography.Pkcs.Tests
[code]

[2016-06-23 16:28] kyulee1 opened #5955 "ARM64: Assertion failed 'isValidGeneralDatasize(size)'"
System.Net.Http.Unit.Tests. Test run crashed due to this.
[code]

[2016-06-23 16:38] tmat commented on #5920
@lucenticus I see, so you already have the IL offset from the Portable PDB and have a problem translating it to native offset.

[2016-06-23 16:42] adiaaida opened #5956 "RyuJIT x86: NYI: "Helper with TYP_LONG return type""
Add support for morphing nodes with TYP_LONG return types into helper calls. The issue is actually likely to be in lower, as we end up attempting to decompose the args to the morphed call multiple times, which leads us to assert that we are decomposing a node with an unknown GT_OPER (a GT_LONG node).

coreclr\src\jit\morph: line 95

[2016-06-23 16:48] adiaaida opened #5957 "RyuJIT x86: NYI: "Hi and Lo cannot be reordered""
File: coreclr\src\jit\lower.cpp: 1901

When we push the args of a call, we push the hi part of the arg first, then the lo part. In doing this, we perform any hi arithmetic before the lo. If an arg is a long add or sub, we cannot reorder the operations. The lo operation needs to be performed first, saved, then the hi can be performed and pushed, followed by the lo.

[2016-06-23 16:51] tmat commented on #5920
So if I understand this well, symInfo.Offset should be RVA of the first instruction of a given method? If so then that information needs to be calculated from the PE image. The method body RVA is in MethodDef table. That RVA points to a start of the method body header. Method body format is either "tiny" or "fat" - that's determined by the first byte of the header. If the lowest 2 bits are 0b10 it

[2016-06-23 17:17] mikem8361 commented on #5869
I don’t need another issue for SOS. I’ll use this issue to do both.

[2016-06-23 17:35] #5796 closed

[2016-06-23 18:29] ilexp commented on #5851
From a performance-oriented perspective, I'd be against any solution that would make `T[]` slower. That just seems like it isn't worth it. However, if there is a (struct-based) approach without negative performance implications, why explore that direction in a prototype?

As far as tearing issues go, can you explain in a few words what's behind that? If these issues only occur in certain cases, is

[2016-06-23 18:40] jaredpar commented on #5851
@ilexp

Imagine for a second that `Span<T>` was defined roughly as the following:

[code]

This is a multi-word struct hence assignment of `Span<T>` is not guaranteed to be atomic.  This means that when a field of `Span<T>` is assigned on one thread, it's possible to view only part of the assignment on another thread.  For instance the other thread may see the change in `DataPointer` but not `Leng

[2016-06-23 19:08] rahku opened #5965 "ARM64 R2R: Assertion failed '!"Incompatible types for gtNewTempAssign"' in 'VectorTest:F2(float):struct'"
Repro
1. set RunCrossGen=1
2. JIT\SIMD\VectorReturn_ro\VectorReturn_ro.cmd -coreroot r:\coreclrdbg

BEGIN EXECUTION
" r:\coreclrdbg\crossgen.exe" /Platform_Assemblies_Paths r:\coreclrdbg;r:\ VectorReturn_ro.exe
Microsoft (R) CoreCLR Native Image Generator - Version 4.5.22220.0
Copyright (c) Microsoft Corporation.  All rights reserved.

               [000235] --CXG+-------             *  call r2r_

[2016-06-23 19:10] rahku opened #5967 "ARM64 R2R: Assertion failed 'varDsc->lvOnFrame'"
Repro
1. set RunCrossGen=1
2. JIT\jit64\hfa\main\testA\hfa_sd2A_d\hfa_sd2A_d.cmd -coreroot r:\coreclrdbg

Assert failure(PID 6444 [0x0000192c], Thread: 2528 [0x09e0]): Assertion failed 'varDsc->lvOnFrame' in 'DomainBoundILStubClass:IL_STUB_PInvoke(float,double,float,double,float,double,float,double,float,double,float,double,float,struct):double' (IL size 160)

    File: f:\coreclrgit\coreclr\src\j

[2016-06-23 19:13] rahku commented on #5967
Current copy of coreclrtests.zip has a bug in JIT\jit64\hfa\main\testA\hfa_sd2A_d\hfa_sd2A_d.cmd file.
Due to which it will throw FileNotFoundException at the time of crossgen. To fix this replace following in file JIT\jit64\hfa\main\testA\hfa_sd2A_d\hfa_sd2A_d.cmd
/Platform_Assemblies_Paths %CORE_ROOT%;%~dp0
with
/Platform_Assemblies_Paths %CORE_ROOT%;%cd%

[2016-06-23 19:21] rahku commented on #5967
This is affecting following 12 tests:
JIT\jit64\hfa\main\testA\hfa_sd2A_d\hfa_sd2A_d.cmd
JIT\jit64\hfa\main\testA\hfa_sd2A_r\hfa_sd2A_r.cmd
JIT\jit64\hfa\main\testA\hfa_sf2A_d\hfa_sf2A_d.cmd
JIT\jit64\hfa\main\testA\hfa_sf2A_r\hfa_sf2A_r.cmd
JIT\jit64\hfa\main\testB\hfa_sd2B_d\hfa_sd2B_d.cmd
JIT\jit64\hfa\main\testB\hfa_sd2B_r\hfa_sd2B_r.cmd
JIT\jit64\hfa\main\testB\hfa_sf2B_d\hfa_sf2B_d.cmd
JIT\j

[2016-06-23 19:21] rahku commented on #5967
These test pass without R2R.

[2016-06-23 19:21] rahku commented on #5965
Test passes without R2R

[2016-06-23 19:25] rahku commented on #4650
The tests were failing due to filenotfound during crossgen. This was fixed in PR #5935. After this test infra issue fix below are the results:
first 12 test fail due to JIT assert during test execution - issue #5967
next 8 pass
last one fails due to jit assert during crossgen - issue #5965

[2016-06-23 19:32] #4181 closed

[2016-06-23 19:41] ghost opened #5969 "Displace build dependency on perl, python etc. by shell or javascript"
We can pretty much do all this stuff in native scripts (ps1 & sh) or fancy JavaScript (node.js, which is installed as part of VS2015, and easily script-able to obtain the local exe from their dist https://nodejs.org/dist/latest/ or https://nodejs.org/en/download/package-manager/):

[code]

This will remove the dependency on all other kinds of language runtimes to be installed on dev / build machin

[2016-06-23 19:53] gkhanna79 commented on #5837
Test added in CoreFX via https://github.com/dotnet/corefx/pull/9639

[2016-06-23 19:53] #5837 closed

[2016-06-23 20:18] #5918 closed

[2016-06-23 21:25] altrive opened #5974 "Fix System.Random algorithm bug"
System.Random class algorithm bug is reported about 5 years ago at Connect site.
and bugfix is postponed by concerning existing app compatibility issue.
<https://connect.microsoft.com/VisualStudio/feedback/details/634761/system-random-serious-bug>

Current MSDN document explicitly stated at *"Notes to Callers"* sections

<https://msdn.microsoft.com/en-us/library/system.random(v=vs.110).aspx>

This

[2016-06-23 21:26] chlowell opened #5975 "Security transparency in Docker containers"
I understand the security transparency model was disabled in CoreCLR (#1807). However, when using MEF in a Docker container, I'm seeing this:

[code]

This occurs only in the container (works as expected on Windows and Linux), and only when composing types outside the entry assembly:
[code]

A full repro is available at https://github.com/chlowell/container-security-transparency

[2016-06-23 21:54] mikem8361 opened #5976 "definitionsconsistencycheck.cmake creates "cmake.definitions" in the repo root"
We don't normally create files in the root or src part of the repo, but some bin/obj somewhere.  It looks like scripts/check-definitions.py uses this file.

[2016-06-23 22:20] livarcocc commented on #5951
@BillHiebert @vijayrkn Can you guys tell @jinujoseph how to get more detailed logs from the machine. So that we can see what dotnet is trying to do.

[2016-06-23 22:36] vijayrkn commented on #5951
you can set DOTNET_TEST_TRACE=1 and this should show all the messaging between adapter and dotnet.exe process.

[2016-06-23 22:38] livarcocc commented on #5951
@vijayrkn I am trying to determine if this is a crash of the adapter or of the muxer that is running the test runner.

If it is the adapter, then I need to go look into it. If it is the muxer, then @schellap needs to take a look.

[2016-06-23 22:39] jinujoseph commented on #5951
Logs says ..
------ Run test started ------
Running tests in 'C:\ProjectK\UnitTest1\src\UnitTest1\project.json' ["C:\Program Files\dotnet\dotnet.exe" test "C:\ProjectK\UnitTest1\src\UnitTest1\project.json" --output "C:\ProjectK\UnitTest1\src\UnitTest1\bin\Debug\netcoreapp1.0" --port 49858 --parentProcessId 3108 --no-build]
The active Test Run was aborted because the execution process exited unexpe

[2016-06-23 22:42] vijayrkn commented on #5951
adapter crash won't say "dotnet has stopped working". Can we look at the eventvwr.exe to see if it has more info on the crash?

[2016-06-23 22:43] livarcocc commented on #5951
so, this was the muxer. What are you guys doing when you say stop debugging? @schellap Can you take a look at this?

[2016-06-23 22:47] RussKeldorph commented on #5686
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/checked_ubuntu_tst_prtest/2850/testReport/junit/Loader.classloader.explicitlayout.objrefandnonobjrefoverlap/case14/case14/

[2016-06-23 22:49] jinujoseph commented on #5951
i see this in the eventviewer

Faulting application name: dotnet.exe, version: 1.0.1.4500, time stamp: 0x576218d2
Faulting module name: KERNELBASE.dll, version: 10.0.10240.16766, time stamp: 0x56e8d499
Exception code: 0xe0434352
Fault offset: 0x000000000002a1c8
Faulting process id: 0x15b0
Faulting application start time: 0x01d1cda144191a95
Faulting application path: C:\Program Files\dotnet\dotnet.

[2016-06-23 22:55] vijayrkn commented on #5951
we call this method from Microsoft.VisualStudio.TestPlatform.ObjectModel.Adapter.IFrameworkHandle to start the process with Debugger attached.
`        int LaunchProcessWithDebuggerAttached(string filePath, string workingDirectory, string arguments, IDictionary<string, string> environmentVariables);`
I would assume stopping the debugger stops/aborts this process.

[2016-06-23 22:59] livarcocc commented on #5951
So, here is my take then: I believe that the process is not being aborted, but the adapter is being aborted. Now, the runner is trying to send test results on a channel that is now closed and it crashes. Can you guys double check that you are killing the runner process when you stop debugging?

[2016-06-23 23:22] vijayrkn commented on #5951
couldn't it be -
1. VS test adapter launches the runner with debugger attached.
2. dotnet.exe connects to the runner to get the results.
3. When debugger is stopped, runner process is aborted.
4. Because the dotnet.exe was connected to the runner to get the results, when runner stops dotnet.exe crashes.

why do you think the VStest adapter is aborted first?

[2016-06-23 23:33] kyulee1 commented on #5967
This is dup of https://github.com/dotnet/coreclr/issues/5639

[2016-06-23 23:33] #5967 closed

[2016-06-23 23:48] briansull commented on #5639
Repro Steps found here:
ARM64 R2R: Assertion failed 'varDsc->lvOnFrame' #5967

[2016-06-24 00:30] myungjoo commented on #5976
I'll move the location to bin/obj/OS.arch.type/.

[2016-06-24 00:52] adityamandaleeka commented on #5906
Closing this issue since the leak seems to have been fixed.

[2016-06-24 00:52] #5906 closed

[2016-06-24 02:04] myungjoo commented on #5969
Why do we need to replace python scripts with javascripts? (Perl is not "required" for build anyway although there are perl scripts in the source repository as utilities) What's the benefit of it?

Anyway, adding more degrees of out-of-repo dependencies (being required/able to download ever-changing packages to build) makes it more unstable to build for isolated build servers, usually for embedded

[2016-06-24 02:08] chunseoklee opened #5982 "Cannot execute binary when corerun dir has dll that has a entry point."
Environment : arm32/linux
Assume that B.exe outputs "B" and A.exe outputs "A".
I simplify the log :
[code]
It seems that corerun loads all the dll and exe in current directory and execute A.exe since it has a entry point.
Is it the expected behavior or a bug ?

[2016-06-24 02:18] #5696 closed

[2016-06-24 02:38] myungjoo commented on #5321
The corresponding unit test cases test whether we do have FastTailCall optimization, not the correctness of function calls.

Thus, we need
- to skip the corresponding cases if FastTailCall is not enabled for CoreCLR build (detect at test time or build time of test cases?)
and
- to implement/adapt FastTailCall for ARM later.

Anyway, I'm CC'ing those who seem to be interested in tail calls:
CC: @ch

[2016-06-24 02:40] kyulee1 commented on #5965
This is also dup of https://github.com/dotnet/coreclr/issues/5642

[2016-06-24 02:40] #5965 closed

[2016-06-24 03:22] jkotas commented on #5833
Brian stopped by to explain this to me. The JIT depends on the increment in the byref-writebarrier only. The comments should be updated to clarify it.

[2016-06-24 04:47] mikedn commented on #5698
Also, codegen sometimes generates INC/DEC instead of ADD/SUB and INC/DEC do not set the carry flag. `GTF_SET_FLAGS` should probably be repurposed to mean "set carry flag" while the existing `GTF_ZSF_SET` keeps its meaning.

[2016-06-24 05:32] #5809 closed

[2016-06-24 06:28] wateret commented on #5949
It turns out that test `JIT/Regression/CLR-x86-JIT/V1-M10/b08107` has almost same issue.
The only difference is: cast `double` to `long`.

[2016-06-24 07:08] myungjoo commented on #5982
This is #5631

The name of class with an entry point of A.exe is the same with that of B.exe, isn'it?

[2016-06-24 07:43] chunseoklee commented on #5982
@myungjoo On my arm/linux, the names of classes with entrypoint are not the same(My/Cmain). Still output "A" as in example above.

[2016-06-24 08:35] jasonwilliams200OK commented on #5969
This is exactly the opposite of what I am proposing here! Try reading again..

[2016-06-24 09:40] parjong commented on #5969
I think that @myungjoo concerns the use of ``npm``, which definitely inreases the degree of out-of-repo dependencies.

Anyway, I agreed with @myungjoo. IMHO, it will take too much cost to rewrite all the scripts in JavaScript, compared with its benefit, and thus the use of python (which is already in use) would be better.

[2016-06-24 09:56] krk commented on #5917
Thank you for the explanation of GCHandle's safety.

[2016-06-24 09:56] #5917 closed

[2016-06-24 09:59] chunseoklee commented on #5783
closed by cannot reproduce

[2016-06-24 09:59] #5783 closed

[2016-06-24 10:13] jasonwilliams200OK commented on #5969
@parjong,

Care to elaborate *all*? There are only few (9?) python files at the moment in coreclr repo, which can be written in native shell (which is the *F I R S T* preference in my proposal). Besides I can write it without incurring any cost on you, so don't you worry about it. ;)

While native shell which is :heart:++, JavaScript is the second option in this proposal

What npm issue are you re

[2016-06-24 12:08] mdmoura opened #5989 "Convert.ChangeType throws excpetion when converting Double.MaxValue"
The following code:

        var converted = Convert.ChangeType(Double.MaxValue.ToString(), typeof(Double));

Results in the exception:

       Value was either too large or too small for a Double.

I suppose this is a bug, correct?

[2016-06-24 12:51] #4737 closed

[2016-06-24 13:14] lucenticus commented on #5920
I need to convert Native offset to IL Offset. I've tried to use just `MethodOffs` without `symInfo.Offset` and it works. Thanks!

[2016-06-24 13:17] parjong commented on #5969
@jasonwilliams20OK Oh, that is great. I don't care underlaying script language if it doesn't require any external dependencies from network. My concern was that the build script written in JS will depends on some remote resources (which is common in JS).

[2016-06-24 16:21] jkotas commented on #5974
I think we should fix this for CoreCLR. The fix should be made with `FEATURE_CORECLR` ifdef.

Also, the same fix should be made in corefx clone of the `Random` class that is used by CoreRT currently. (No ifdef needed there.)

[2016-06-24 16:45] schellap commented on #5951
Here is the stack:

Contains `dotnet_7ffd76160000!Microsoft.DotNet.Tools.Test.ReportingChannel.ReadMessages`

[code]

[2016-06-24 16:51] schellap commented on #5951
Dump here: \\WNVM22143\TheDump

[2016-06-24 17:12] RussKeldorph commented on #4171
Assigned to @mikedn.

[2016-06-24 17:19] kyulee1 commented on #5954
I have a try fix -- https://github.com/dotnet/coreclr/compare/master...kyulee1:valseq?expand=1
which avoids such assertion earlier.
Anyhow will leave this to @briansull as it is.

[2016-06-24 18:15] mikedn commented on #4593
It looks like there's nothing to do about `GTF_REVERSE_OPS` if temporaries are introduced like in #5884. Temporaries can be loaded in any order and the `GTF_REVERSE_OPS` does not need to be propagated to the new lo/hi nodes.

[2016-06-24 18:21] rahku commented on #4650
Closing as we have issues open for respective bugs

[2016-06-24 18:21] #4650 closed

[2016-06-24 18:57] kouvel commented on #5872
Thanks @jasonwilliams200OK, that worked well. It looks like in these cases:
- process A has the mutex locked
- process B waits on the mutex
- process A exits cleanly or abruptly (with kill for instance) without releasing the lock

Then process B's wait is being released with ENOTRECOVERABLE instead of EOWNERDEAD. The former is a terminal situation so it wouldn't work. I'll see if I can write a tes

[2016-06-24 19:01] jasonwilliams200OK commented on #5872
Thanks for looking into it @kouvel! Yesterday i captured the strace log for IRC conversation: https://gist.github.com/jasonwilliams200OK/eaa719ab096bba3e7b6d4bc29c5c8213 (forgot to post here)

[2016-06-24 19:29] mikedn opened #5994 "RyuJIT x86: Assertion failed 'stmtExpr->OperGet() == GT_COMMA || stack.Height() == dstCount'"
When compiling the following program the JIT asserts:
[code]
The assignment to `z` is removed and the result of `checked(y - x)` goes unused. Because of this a `GT_LONG` node is left behind and LSRA doesn't know what to do with it:
[code]

[2016-06-24 19:33] redknightlois opened #5995 "RyuJIT is not eliminating known constant typed branches (dead code)"
For some reason this code is not being optimized:

[code]

As you can see in the assembler, it should have evicted the whole thing when generating the code for this method. What it is strange is that TTableType is known at the caller site to be a constant already.

[code]

And do the call with something like this instead:

[code]

So the question remains, could it be the way I am defining the 'dir

[2016-06-24 19:38] kouvel commented on #5872
The log says the futex wait in process B was released successfully, but I didn't find anything about the mutex state changing at the time process A exits or at the time process B is resumed from the wait.

[2016-06-24 19:50] redknightlois opened #5996 "Force RyuJIT to optimize the code even if heuristics says it is too big."
From what I am seeing, when methods are too big the JIT optimization method will not happen (no inlining, no dead code removal, no dead code optimization).

There are cases where we dont care how much time it will take to optimize it (it will save the cost of optimizing **billion times** over the lifetime of the method). There should be a way to signal the JIT that heuristic should not apply (if i

[2016-06-24 19:51] mikedn commented on #5995
Given that the method is not inlined and those "directives" are classes rather than structs there's no (reasonable) way to optimize this. This trick requires structs to work the way you want it to work.

[2016-06-24 19:55] richfelker commented on #5872
ENOTRECOVERABLE should only happen if, after process A exits, another thread takes the mutex (getting EOWNERDEAD) and unlocks it without calling pthread_mutex_consistent on it. Perhaps there's a bug in the test where this is happening or a bug in musl causing it. I'll check to see if there are any obvious bugs on our side (musl).

[2016-06-24 19:58] mikedn commented on #5996
How big is "too big"? What exactly is big about the method (code, number of variables)? Give some practical examples. Even non JIT compilers sometimes tone down optimizations for large functions otherwise the compilation time would be prohibitively slow in some cases.

[2016-06-24 19:58] kouvel commented on #5872
In this test, process B is the only other thread/process waiting on the mutex at the time process A exits, and it seems to be getting ENOTRECOVERABLE right away. I'm working on making a small repro for this, will post it here once I have it.

[2016-06-24 19:59] richfelker commented on #5872
If it looks like a bug on our side and you have a small (plain C) test case to reproduce it, that would be great and I can probably find and fix the issue right away.

[2016-06-24 20:03] #5640 closed

[2016-06-24 20:03] redknightlois commented on #5995
I'll try that with structs in a few hours and see if it works.

[2016-06-24 20:08] redknightlois commented on #5996
Forgot to add the code. I am at the phone right now, but look at the LZ4_compress_generic code from the link at issue of the dead code elimination you just responded.

[2016-06-24 20:58] briansull commented on #5996
The following defines control when the JIT decides to stop optimizing and drop to MIN_OPS mode:

        // optimize maximally and/or favor speed over size?

#define DEFAULT_MIN_OPTS_CODE_SIZE    60000
#define DEFAULT_MIN_OPTS_INSTR_COUNT  20000
#define DEFAULT_MIN_OPTS_BB_COUNT      2000
#define DEFAULT_MIN_OPTS_LV_NUM_COUNT  2000
#define DEFAULT_MIN_OPTS_LV_REF_COUNT  8000

The CodeSize value is

[2016-06-24 20:59] briansull commented on #5996
Looking at the source code for LZ4_compress_generic code it seems unlikely that you would hit any of these limits with that code.

[2016-06-24 21:24] redknightlois commented on #5996
@briansull then there is something else preventing even aggressive inlining. I will probably have to dig further to understand the reason. I will keep you posted of anything I can gather. If you can point me into any doc that explain how to dump the jit states would be great.

[2016-06-24 21:33] GSPP commented on #5974
Maybe we can change to a new algorithm for CoreClr. The current algorithm is really bad on many fronts. XorShift (possibly strengthened as XorShift+) is faster, has better random numbers and a smaller state size.

[2016-06-24 21:34] CarolEidt commented on #5996
You can set COMPlus_JitDump to the method name, and then search the dump output for "OPTIONS: opts.MinOpts() ==". It will tell you what it set it to, and there should be some indication just above it as to why.

[2016-06-24 21:35] AndyAyersMS commented on #5996
Also, there are a number of reasons why methods with AggressiveInlining might not get inlined. If you can drop a checked clrjit.dll into your dotnet install, you can set COMPlus_JitPrintInlinedMethods to get a log of inlining decisions with failure reasons (this is less voluminous than a full jit dump).

[2016-06-24 21:36] CarolEidt commented on #5996
Oh, yes - thanks @AndyAyersMS - I forgot to mention that you need a checked (or debug) jit to get the dump.

[2016-06-24 21:42] CarolEidt commented on #5996
I'm not terribly crazy about removing all the limits. However, I am guessing that you might be running into this in a method that has lots of checks against generic parameter types. IMO, that should be a well-supported practice for generic programming, and it would be nice not to penalize such code (at least in the struct case, which as @mikedn pointed out is the one that has optimization potentia

[2016-06-24 21:43] mikedn commented on #5996
For example `LZ4_getPositionOnHash` isn't inlined due to "No inlining for THROW within a non-void conditional". And that happens because the code lacks an "else".

[2016-06-24 21:46] RussKeldorph commented on #5969
At one point, the high level plan was to use a few native scripts (one per shell--cmd, bash, ...) which did the minimum work to bootstrap .NET CLI and use that for everything else.  Obviously, we're not there yet, and Python became a semi-official stand-in, though even then we don't have as much discipline as we probably should.

I think unifying the way we run tests between Windows and Unix is mo

[2016-06-24 21:56] mikem8361 commented on #1482
I think this suggestion would no longer is viable because instead of just leaking pipe files in the tmp directory switch to shared memory/semaphores would mean that a coreclr process could leak both a named shared memory and named semaphore file artifact. On OS X, there isn't a way to clean inspect or clean the leaked semaphore artifacts. Rebooting is the only option.

[2016-06-24 21:58] mikedn commented on #5996
Actually adding the `else` doesn't solve the issue, the `throw` needs to be removed and then it inlines just fine (assuming that structs are used for directives).

[2016-06-24 22:06] #5955 closed

[2016-06-24 22:12] AndyAyersMS commented on #5996
Yep, there's a jit limitation about inlining conditional throws in methods that return values. Not sure how hard this limitation would be to remove.

For now you can work around it by removing the throw, calling a helper method to do the throw, or returning the result via an out param and changing the method return type to void. Calling a helper is probably the way to go.

[2016-06-24 22:35] omariom commented on #5996
I encountered   "No inlining for THROW within a non-void conditional" once.
It prevents inlining short methods. But [when `throw` is wrapped in another inlined  method ]([url](https://github.com/dotnet/corefxlab/blob/master/src/System.Slices/System/Span.cs#L188))everything is fine.  So the limitation doesn't look fundamental.

[2016-06-24 23:23] pgavlin opened #5999 "Compiler::gtUpdateSideEffects is incorrect."
https://github.com/dotnet/coreclr/blob/master/src/jit/gentree.cpp#L7114

The intent of this function is to update the side effects for a tree after one of its children has been rewritten. Unfortunately, it is broken in two significant ways:
- It does not take into account side-effects from the siblings of the rewritten tree
- It does not take into account side-effects from the parent node itself

[2016-06-25 00:05] redknightlois commented on #5996
Confirming the throw and class are preventing optimization here. At least in this case the problem isnt the heuristic, though I believe that if the limits exist, we should be able to have the ability to disable them.

[2016-06-25 00:06] redknightlois commented on #5995
The struct trick did it. Probably this should be documented properly :)

[2016-06-25 13:58] GSPP opened #6001 "Exception handling causes significant slowdown"
Here's a micro benchmark to test the performance effect of an exception handler. The handler is never executed, it's just there.

        static void Main()
        {
            var outerIterationCount = 100 * 1000;
            var innerIterationCount = 10000; //use a high value so that the handler is entered rarely

            {
                var sw = Stopwatch.StartNew();
                Han

[2016-06-25 14:04] GSPP commented on #6001
Here's a variant that demonstrates a different issue. `innerIterationCountLocal` is not enregistered and loaded for each inner loop iteration. This is a code gen quality issue:

        static void Handler1_Variant2(int outerIterationCount, int innerIterationCount)
        {
            unchecked
            {
                uint result = 0;
                for (int iOuter = 0; iOuter < outerIter

[2016-06-25 16:17] pgavlin commented on #6001
cc @BruceForstall @cmckinsey

[2016-06-25 16:17] pgavlin commented on #6001
(and of course @dotnet/jit-contrib)

[2016-06-25 16:22] pgavlin commented on #5999
cc @dotnet/jit-contrib

The larger issue at hand here is whether or not it is even possible to recompute the side-effect flags for a particular node. in other words, given an arbitrary IR node and a set of side-effect flags, can we compute which flags are set due that node (not its children)?

[2016-06-25 16:57] mikedn commented on #5999
I don't think there's any such functionality right now. Side effect flags are set all other the place in the importer and in morpher. One would need to collect all the set flags logic from those places and put it in a reusable function. Trouble is, those places that set the flags now have more information available and not all of it is preserved.

For example, `STIND` is imported as `GT_ASG` with

[2016-06-25 17:37] pgavlin commented on #5999
I agree.

Yes, exactly. A moderately straightforward solution might be to add a second field on non-leaf nodes to track the side effects that a node contributes directly, then replace direct writes to `gtFlags` with an accessor that appropriately updates both the "node" and "tree" flags. The node flags could then be used when recomputing (and checking) the tree flags.

[2016-06-25 18:07] mikedn commented on #5999
Yes, but that increases the size of tree nodes. Unfortunately there aren't many alternatives.

I wonder how often are side effects queried, maybe tree side effects could be computed only when needed and the gtFlags would simply store the node's own side effects.

[2016-06-25 19:08] cmckinsey commented on #6001
@GSPP

This is a known issue and we have a work-item on our TFS side for it. I will say it's "by-design" right now in that it is intentional although we would like to improve the design in the future. The current implementation was chosen to be easy to get correct and stay reliable. I believe this was inherited from the x86 JIT approach to handling register allocation in the presence of EH. JIT64,

[2016-06-25 19:15] cmckinsey commented on #5995
When the type is instantiated based on non value-types, shared code is generated which is not possible to specialize for the particular type. Hence you saw the code that was required to do runtime type checking to determine which branch to execute. However when the type was a value-type, the runtime creates specialized generic methods for the type. The JIT in morph has an optimization to fold away

[2016-06-25 19:15] #5995 closed

[2016-06-25 19:38] pgavlin commented on #5999
After considering the side effect flags themselves, it looks like the only two flags that we could at least derive `GTF_CALL` and `GTF_ASG` can be from `gtOper` (certainly the latter, which is rooted at `GT_ASG` and block operation nodes). If we could find three spare bits in `gtFlags`--say, for example, the bits used by `GTF_REDINDEX_CHECK`, `GTF_ZSF_SET`, and `GTF_SET_FLAGS/GTF_IND_NONFAULTING`-

[2016-06-25 20:28] GSPP commented on #6001
Thank you for that enlightening explanation.

I just tried it with `finally` and found the same issue. This is logical. Does this mean that whatever is inside of a `try` (or `using`) is potentially really slow? This would be important to know as an optimization guideline. So far I only found "people on the web" claiming that unused EH is "zero-cost". It's important to know that at least right now

[2016-06-26 01:25] pgavlin commented on #5999
After further thought, I think that the cleanest thing to do is move the four debug-only flags--`GTF_MORPHED`, `GTF_NODE_SMALL`, GTF_NODE_LARGE`, and `GTFD_VAR_CSE_REF` into a new field (and a new namespace) that is only available in debug builds. The three bits freed up by the first three flags can then be used for the node side effect flags.

[2016-06-26 03:42] mikedn commented on #5999
Sounds great.

`GTF_ZSF_SET` and `GTF_SET_FLAGS` are currently used only by the legacy backend but one of them may be needed for decomposition. And the other one might be needed to avoid compare instructions when the necessary CPU flags are already available from a previous instruction.

[2016-06-26 11:06] MI3Guy commented on #5860
I think it would be far better to allow ref types as generic types. It would require a constraint to be added that would restrict its usage. This would be much more useful than banning them from generics.

[2016-06-26 11:34] mikedn opened #6004 "RyuJIT x86: GT_STORE_LCL_VAR decomposition is broken"
I don't have a test case for this but the existing code is obviously wrong:
[code]

`tree` is actually `loStore` so this code basically takes the `hiRhs` node and moves it between `loStore` and `hiStore`. This fails whenever `hiRhs` is not a leaf. I suspect that this sometimes works due to the use of `fgNewStmtFromTree`, this function re-sequences the `hiRhs` tree and practically pulls it out from

[2016-06-26 12:27] ilexp commented on #5851
@jaredpar Ah, that's evil. Hypothetically, are there ways to make the assignment of `Span<T>` an atomic operation? Does the CLR have an atomic-assign instruction, or a way to JIT certain assignments in a way that they are essentially atomic?

[2016-06-26 12:49] mikedn commented on #5851
CLR more or less offers whatever the hardware offers and the hardware doesn't offer a lot when the data exceeds the machine word size (8 bytes in the case of x64). x64 has `cmpxchg16b` which may be useful here but it may also turn out to be quite expensive.

And it's not only the assignment itself that is a problem. When you're calling a member of a struct you're passing the address of the struct

[2016-06-26 13:14] omariom commented on #5851
@jaredpar @jkotas

So the language has it, [as well as the runtime](https://github.com/dotnet/coreclr/blob/master/src/vm/methodtable.h#L1890).
Let's just unleash the beast to the public! )

[2016-06-27 01:51] jasonwilliams200OK commented on #5872
Update: Void Linux has two variants; glibc and musl-libc. After getting lttng-ust package (https://github.com/voidlinux/void-packages/issues/4377), I installed musl x86_64, and ran the PAL tests. It yields ditto results:

[code]

[2016-06-27 02:54] jyoungyun commented on #5872
@kouvel

process B waits on the mutex
process A exits cleanly or abruptly (with kill for instance) without releasing the lock

Do you talk about MutualExclusionTests of namedmutex pal tests?
In MutualExclusion Tests, child process locks the shared mutex and parent process attempt to lock with zero, a specific timed out. The tc is failed in case of 'WaitForSingleObject(m, g_expectedTimeoutMilliseco

[2016-06-27 04:56] kouvel commented on #5872
@richfelker, here is a test case:

[code]

On Ubuntu x64 I'm seeing the expected output:
[code]

On Alpine Linux x64, I'm seeing the following:
[code]

This indicates that pthread_mutex_timedlock is returning ENOTRECOVERABLE without first returning EOWNERDEAD with lock ownership. It seems to work fine cross-thread, but not working cross-process.

[2016-06-27 05:22] kouvel commented on #5872
@jyoungyun:

Both of the attempts to lock the mutex in the parent process should fail with timeout because the child process owns the lock:
[code]

If the above is working as expected, then it should follow this path to completion:
[code]

`UninitializeChild(...)` should release both of the childEvents, and allow the parent process to continue.

[2016-06-27 07:34] jyoungyun commented on #5872
@kouvel Thank you for comments. And what you said is the same with what I mean. :) In Raspberry pi  target, the first check of below codes is passed normally but the second line occurs daedlock.
[code]
Is Alphine Linux x64 passed upper code normally?

[2016-06-27 08:59] kouvel commented on #5872
Ah ok, yea that test was passing on Alpine Linux, seems like a different issue from the one you saw.

[2016-06-27 09:41] mattwarren opened #6008 "Unable to #define MEASURE_GCINFO"
It appears that when you add `#define MEASURE_GCINFO` to the source, the code no longer compiles?

This is because some of the code within `#ifdef MEASURE_GCINFO` guard clauses is invalid. To make it compile, I had to make this change in [gcinfoencoder.h](https://github.com/dotnet/coreclr/blob/master/src/inc/gcinfoencoder.h#L95-L138)
[code]

plus this one in [gcinfoencoder.cpp](https://github.com/

[2016-06-27 10:13] mattwarren commented on #6008
And (possible) related, but if I also `#define VERIFY_GCINFO`, I get the following error:

[code]

[2016-06-27 15:01] Dmitri-Botcharnikov opened #6011 "[Linux] Add support for GDB JIT interface to display source lines on break"
The recent versions of both GDB and LLDB support [JIT compilation interface](https://sourceware.org/gdb/onlinedocs/gdb/JIT-Interface.html). In essence it's an in memory representation of object file with corresponding debugging information. When such information contains source line mapping to jitted code address, the debugger displays the source on breakpoint hit instead of disassembled instructi

[2016-06-27 15:01] Dmitri-Botcharnikov commented on #6011
cc @lucenticus @chunseoklee @seanshpark

[2016-06-27 16:05] GSPP opened #6012 "Add an overload: CancellationTokenSource.CreateLinkedTokenSource(CancellationToken)"
We need an overload with a single linked `CancellationToken`. Logically, it makes to have this.

Example scenario (which I just experienced): We want a token that becomes signaled if an externally passed in token becomes signaled or a timeout expires.

There is a `params` overload but that allocates an array. It would be nice to have the case with one token built-in. (Maybe also add a case for 3 t

[2016-06-27 16:22] kyulee1 commented on #5642
This is basically a multi-reg return case with HFA type (two floats for this case), which is not yet implemented. The current implementation handles as if two floats are fit into one integer register (long) at importer, and later on we got type mismatch assertion like this -- struct vs. long. We should handle this struct type as it is using two registers, s0/s1.

So reassign it to Brian.

[2016-06-27 16:22] pgavlin opened #6013 "Remove `GTF_DEBUG_MORPHED`."
This debug-only GenTree flag is of questionable utility. See #6002 for more discussion.

[2016-06-27 16:55] CarolEidt commented on #5999
These are not node-specific. They indicate that the tree _contains_ a call or asg, not (just) that the node itself might be such a thing.

[2016-06-27 16:56] redknightlois opened #6014 "RyuJIT: Methods that store to arguments can't be inlined"
EDIT: Modified after figuring out the reason.

The following code wont be inlined because the arguments are modified inside the method body:
[code]

However this code which clone the arguments is inlined without questions:

[code]

[2016-06-27 17:04] mikedn commented on #6014
I haven't checked but I doubt this has anything to do with pointers. The first version is not inlined because the method modifies its arguments.

[2016-06-27 17:08] redknightlois commented on #6014
I'll check in a minute and let you know. However in that case, it should still be eligible for inlining as the pointers are passed by value. There is nothing that prevents the JIT to realize that.

[2016-06-27 17:09] cmckinsey commented on #6014
There is a limitation in the inlined mechanics when parameters are written in the method body. It's on the list of things to fix. I'm certain there is a TFS work-item tracking this, not sure about Github. @AndyAyersMS

[2016-06-27 17:14] redknightlois commented on #6014
Confirmed, using pointers copies works. :)

Now I know why and can make changes in the code to account for that

[2016-06-27 17:22] AndyAyersMS commented on #6014
Inlining is currently blocked by STARG in the callee. In principle, it should be easy to remove this restriction, since the jit will inline calles with LDARGA, which should present similar issues.

@JosephTremoulet looked into fixing this, and (IIRC) ran into some complications.

We don't have a GitHub issue open for this, so @redknightlois feel free to create one.

[2016-06-27 17:28] redknightlois commented on #6014
@AndyAyersMS Should we just edit this one?

[2016-06-27 17:30] JosephTremoulet commented on #6014
I didn't get very far into my investigation before getting pulled off to other things.  My first naive attempt to test the hypothesis by copying some code from the ldarga-handling paths to starg-handling paths fixed a unit test but had errors compiling pretty much anything else; for all I know the issues were trivial.

[2016-06-27 17:31] AndyAyersMS commented on #6014
Sure. Updated title....

[2016-06-27 17:35] AndyAyersMS commented on #6014
Oops, didn't mean to overwrite your update -- forgot to hit save and when I did I saw you'd already updated.

[2016-06-27 17:36] redknightlois commented on #6014
@AndyAyersMS Yours is better :)

[2016-06-27 18:00] pgavlin commented on #5999
Yes. What I meant was that whether or not the node itself contributes to this flag can be derived from the node's operator--the flag itself would still take into account the node's child trees.

[2016-06-27 18:08] CarolEidt commented on #5999
@pgavlin - got it, thanks.

[2016-06-27 18:18] pgavlin commented on #5714
The necessary changes to the JIT packages have been checked in. Can we close this issue, or is it tracking additional work?

[2016-06-27 18:21] cmckinsey commented on #6001
@GSPP

I'm not sure how to define "potentially really slow", it really depends on the workload. I wouldn't suggest wrapping your critical compute-bound inner loops in TRY/FINALLY, rather nest them into an outer method. But for most cases I would typically tend to think of it as a small overhead that we'll chip away at in the JIT. Generally people say our EH-model is "zero cost" compared to older d

[2016-06-27 18:58] janvorli opened #6016 "CoreCLR runtime doesn't work on Linux kernel 4.6.x"
We get SIGSEGV in the GC when trying to allocate managed objects.

[2016-06-27 19:45] briansull commented on #5071
This issue is fixed after Rahul changes in PR #5978

[2016-06-27 19:47] GSPP commented on #6001
Makes sense. Thank you! These information tidbits are really valuable.

[2016-06-27 20:05] richfelker commented on #5872
Fixed upstream in musl: https://git.musl-libc.org/cgit/musl/commit/?id=384d103d94dba0472a587861f67d7ed6e8955f86

[2016-06-27 20:10] kouvel commented on #5872
Great, thanks @richfelker

[2016-06-27 20:46] Barthalion commented on #5872
@jasonwilliams200OK FYI, @ncopa cherry-picked this fix to Alpine Edge so test should pass with up-to-date packages.

[2016-06-27 21:25] abrodersen commented on #4409
@janvorli I was able to get a bit further and I have useful information for you now. I build `coreclr` and `corefx` native components on Arch Linux. I used the `v1.0.0` tags on both repositories. (I had to cherry pick dotnet/coreclr#5304) I downloaded the 1.0.0 release of the CLI for Fedora 23.

I copied the following libraries into the CLI:
* System.Globalization.Native.so
* System.IO.Compression

[2016-06-27 21:30] pgavlin opened #6018 "Add tests that exercise the changes in #6017."
The best option that I can think of (aside from comma removal, which originally repro'd the issues that change fixes) is to try and trigger CSE of SIMD trees.

[2016-06-27 21:31] janvorli commented on #4409
@abrodersen The signal 34 should not cause break in in the gdb. But I have seen similar thing happen during my testing of a problem that happens on Linux kernel 4.2.6.
So I wonder if it could be the same - can you tell me what your Linux kernel version is?

[2016-06-27 21:42] abrodersen commented on #4409
I just so happen to be running that exact kernel.
[code]

Arch did just push out 4.6.3, should I update to that and try again?

[2016-06-27 21:48] janvorli commented on #4409
You can try that. I still have no clear idea what's wrong with that kernel version or what range of kernel versions have problems. I have created issue #6016 to track it.

[2016-06-27 21:50] abrodersen commented on #4409
Ok so aparently it's just gdb being paranoid. I disabled gdb breaking on SIG34 and I reran the debug session. This time, it got to the actual segfault:

[code]

[2016-06-27 21:52] janvorli commented on #4409
Given the Linux kernel version, I bet the segfault will be at a different place each time, most of the time at place where sigsegv cannot happen.
To confirm it is the same issue as the one we are looking into, can you please try to prefix the dotnet command with `COMPlus_INTERNAL_ThreadSuspendInjection=0` and see if it fixes the problem for you?
So, e.g. `COMPlus_INTERNAL_ThreadSuspendInjection=0

[2016-06-27 21:55] abrodersen commented on #4409
Setting that environment variable indeed fixed the problem. So it's an issue with newer Linux kernels then?

[2016-06-27 21:57] janvorli commented on #4409
Looks like that's the case.

[2016-06-27 22:02] janvorli commented on #6016
It looks like the problem is caused by the thread suspend injection on Unix. Disabling it by setting COMPlus_INTERNAL_ThreadSuspendInjection environment variable to 0 makes the issue go away.

[2016-06-27 22:03] abrodersen commented on #4409
Interesting. I'll try install Arch's LTS kernel and see what happens.

[2016-06-27 22:08] janvorli commented on #4409
Thanks a lot, that would be helpful.

[2016-06-27 22:19] briansull commented on #5639
Fixed with PR  #5993

[2016-06-27 22:19] #5639 closed

[2016-06-27 22:20] adiaaida commented on #4168
Closing this issue. There is still an issue with calls that come in from morph, but #5956 has been opened to track that issue.

[2016-06-27 22:20] #4168 closed

[2016-06-27 22:31] jasonwilliams200OK commented on #5872
Thanks a lot for the fix in musl-libc @richfelker and @ncopa for quickly providing the patch in edge/main ! :tada: :+1: :star: :fireworks:

I think @kouvel's workaround would also be useful if someone is building with older version of musl-libc (but we should probably discourage / warn the dev to update to musl-1.1.14-r11+)?

@Barthalion, @kouvel, I have updated musl to musl-1.1.14-r11 by uncommen

[2016-06-27 22:31] #5872 closed

[2016-06-27 22:51] swgillespie opened #6020 "Run long GC tests in a cgroup on Linux"
OOM testing without restricting the memory of corerun has proven to be pretty unstable and results in lots of run-ins with the OOM killer. We should be able to run our long GC tests in a cgroup so that we can get more deterministic behavior from the tests when running on Linux.

The OSX tests work fine as they are and Windows does not overcommit like Linux does, so this should only be necessary on

[2016-06-27 22:58] swgillespie commented on #4708
Triaged this issue again - this doesn't appear to be a product issue, just an issue with the test. Since the test has been disabled for GCStress, I'm fine leaving it that way.

[2016-06-27 22:58] #4708 closed

[2016-06-27 23:09] jasonwilliams200OK commented on #4409
As of this moment, Arch, Gentoo, Alpine and Void Linices can build CoreCLR+CoreFxNative. Would be nice to enable us to build the entire runtime from scratch to shoot and contribute with packaging system scripts; emerge, apkbuild, xbps etc. like we have for Debian alone atm: https://github.com/dotnet/core-setup/tree/master/packaging/deb.

[2016-06-27 23:33] janvorli commented on #6016
I have also tried to install older versions of the kernel to see when exactly the issue started to happen. The 4.6.0 was the first version with this problem.

[2016-06-27 23:53] rahku commented on #5615
Marshalling hints for Arm64Context in mdbg were incorrect. nested type Arm64FloatingPointRegisters inside Arm64Context should be maked as struct and not class. Also there isn't a need to do explicit layout of fields for Arm64Context. Making above changes fixes this error.

[2016-06-27 23:53] #5615 closed

[2016-06-27 23:56] weshaggard commented on #5714
Fixed by #5959

[2016-06-27 23:56] #5714 closed

[2016-06-28 00:14] jasonwilliams200OK commented on #917
With #5872 closed, these are the final steps to build CoreCLR on Alpine Linux: https://gist.github.com/jasonwilliams200OK/7d6f5594d3bf697a27c9c1036d349fce and running the PAL tests. Note that CoreFX native also builds on Alpine. Now the verification (running full managed assemblies tests suite) and packaging parts are remaining.

While ISO is 87MB with still lots of auxiliary stuff bundled in, the

[2016-06-28 00:56] BruceForstall opened #6022 "test build has a zillion build warnings"
Most (16352 in a default x64 debug build) are of the form:

[code]

[2016-06-28 02:10] jkotas commented on #917
@jasonwilliams200OK v1.0-RTM is out the door. It would be for the update that comes next.

@joshfree @Petermarcu How can we get started on adding Alpine Linux to the list of the officially supported distros?

[2016-06-28 02:37] briansull commented on #5642
I am testing a fix for this

[2016-06-28 03:14] Thaina opened #6023 "Are there any zip for binary of basic x64 linux?"
I try to use dotnet sdk in AWS Lambda by download binary zip at [dotnet/cli](/dotnet/cli#installers-and-binaries)

And it error on libunwind8 which I think it missing on lambda machine

AWS lambda machine can run any linux x64 binary. But it can put file only in specific folder and cannot download anything with yum, cannot even sudo, so it must use pure binary file with all library was packed in t

[2016-06-28 04:03] redknightlois opened #6024 "RyuJIT: Allow developers to provide Branch Prediction Information"
The ```__builtin_expect``` function provided by GCC comes to my mind here. While I would root for a great profile based collection system, this could be very helpful as an stopgap into that direction.

http://stackoverflow.com/questions/7346929/why-do-we-use-builtin-expect-when-a-straightforward-way-is-to-use-if-else

[2016-06-28 04:17] myungjoo commented on #6024
@lemmaa @seanshpark  @parjong @chunseoklee We might need to consider this option (something like "likely" and "unlikely" macros in Linux kernel) for ARM optimisation.

[2016-06-28 04:20] myungjoo commented on #6023
Can't you simply put those libunwind*.so files that fit with your system appended into your "zip" file and make it ld-loaded at runtime?

[2016-06-28 04:32] eByte23 commented on #1502
For this to work you must use the link --force command other wise it still fails.

[code]

[2016-06-28 04:50] myungjoo commented on #6016
Is this SIGSEGV directly related with any specific system-call or kernel-userspace ABIs?

If we have a short and simple example code to reenact the bug, we might be able to let the linux kernel fix the issue if this is a regression in the kernel, not a bug of coreclr.

[2016-06-28 04:56] Thaina commented on #6023
@myungjoo I'm not sure which folder dotnet will look for missing lib. Could I just to put all missing lib at the same folder as dotnet?

[2016-06-28 05:34] myungjoo commented on #6023
That wouldn't look beautiful, but that would work.
If that doesn't work, use LD_LIBRARY_PATH

[2016-06-28 05:49] Thaina commented on #6023
@myungjoo Thanks a lot

And could you please guide me how can I get all .so that dotnet depend on easily?

Most of my life I use windows so I'm not familiar with linux much

[2016-06-28 05:57] myungjoo commented on #6023
If libunwind is the only missing component you only need to extract .so files from the build of libunwind based on libraries you already use for your system. If you do not know what's missing, you need tedious work identifying what's missing.

[2016-06-28 06:04] jasonwilliams200OK commented on #917
@jkotas, yup but the distros packaging systems can still get v1.0 at any point. For example, lldb38 was released couple of months back but aports (Alpine packaging sys) got it 9 days ago. :)

[2016-06-28 07:44] #5976 closed

[2016-06-28 08:11] pantonis opened #6026 "Console App with Dependency Injection"
Hello. Where can I find an example of a .net core console app that uses Dependency Injection.
Cannot find anything online.

[2016-06-28 09:15] janvorli commented on #6016
I have just found the culprit - it is a bug in coreclr that didn't show up on older kernels. The issue is that when we translate unix context to the windows style context in CONTEXTFromNativeContext / CONTEXTToNativeContext on AMD64, we also translate the "CS" - code segment - register. But the macro to access the register in the unix context for AMD64 is defined as follows:
`#define MCREG_SegCs(m

[2016-06-28 09:15] janvorli commented on #6016
FYI: @adityamandaleeka

[2016-06-28 11:48] lucenticus commented on #6011
I'm working with @Dmitri-Botcharnikov on this feature (displaying of managed source code in lldb+sosplugin on breakpoints) and trying to read portable PDB for correct mapping from native offsets to source lines. It seems that we need to read symbols inside debuggee process for correct DWARF generation. I'm not sure that approach which we used in https://github.com/dotnet/coreclr/issues/4798 is app

[2016-06-28 11:55] redknightlois commented on #6024
@myungjoo afaik the Linux kernel "likely" and "unlikely" is actually ```__builtin_expect( !!(x), 1``` and ```__builtin_expect( !!(x), 0``` respectively.

The idea that I had in mind is providing something like this:

[code]

In that way, if the JIT version do understand it, it can (after inlining) reorder the blocks and put the unlikely branch at the end of the method (very away from the critical

[2016-06-28 11:58] mikedn commented on #6024
Related issue: #2725

[2016-06-28 12:33] redknightlois opened #6028 "RyuJIT: Throw block optimization does not hit on methods that only throw in their body."
I noticed that blocks that have a throw statement are moved outside of the critical path. However, after further inspection it seems like the rearranging of the blocks is done without further analysis outside of the call site (which makes sense btw).

The problem is that the optimization is defeated by a pretty well known pattern used along the way in lots of software (even CoreFX).

[code]

I ten

[2016-06-28 13:18] JakeGinnivan opened #6029 "StackTrace only has one frame?"
I am trying to get a stack trace for https://github.com/TestStack/TestStack.BDDfy

Am using this code:

[code]

The StackTrace only contains one frame, is there a way to get the complete stack trace?

[2016-06-28 13:23] mikedn commented on #6028
Yes, currently the JIT doesn't know that a method like `ThrowException` always throws therefore it cannot mark the caller block as cold. And it's true that normally this needs WPO but it's not impossible for the JIT to look at `ThrowException` and figure out what happens. In fact, the JIT already analyzes `ThrowException` for inline purposes and it's surprising that it didn't inline it in your exa

[2016-06-28 14:38] mikedn commented on #6028
So this is an extension of #1270. The JIT should not inline `ThrowException` and it should know that `ThrowException` does not return and mark the caller block as cold.

[2016-06-28 14:42] janvorli commented on #6016
A small correction - the FS and GS are still zero on the newer kernel, but the topmost 16 bits that are marked as padding in a linux header are not. It can be seen from the values I've dumped above, I just  said by mistake that the issue was in clearing the FS and GS. Obviously, the new kernel uses those 16 bits for something.

[2016-06-28 15:19] lucenticus commented on #6011
I successfully load `SymbolReader` to debuggee process by using `coreclr_create_delegate` in `src/coreclr/hosts/unixcoreruncommon/coreruncommon.cpp`, but I have no idea how to get mapping from native to IL offsets inside debuggee process.

[2016-06-28 16:06] briansull commented on #6028
@AndyAyersMS
I am very surprised that the RyuJit is inlining a method that unconditionally throws.
I dont believe that this was the ace in older versions of the Jit.

[2016-06-28 16:17] mikedn commented on #6028
The current JIT32 and JIT64 also inline such methods so this is not RyuJIT specific.

[2016-06-28 16:26] mikem8361 commented on #6011
/cc @jkotas

I'm not sure if this is a good idea in general. This approach does change/affect the debuggee process quite a bit and we usually try not to alter the debuggee state. All of the services that SOS and the managed debuggers you need are available from the DAC interfaces but only out of context in another process. From what I understand from the JIT'ed code links above, the JIT would have

[2016-06-28 17:41] jkotas commented on #6011
I agree that lldb/gdb jit interface would have too much overhead and/or it would be too invasive. It is not something that can be enabled by default, enabling it optionally under switch may be ok. Either way, it is still a lot of work.

gdb has alternative mechanism  for this: https://sourceware.org/gdb/current/onlinedocs/gdb/Custom-Debug-Info.html#Custom-Debug-Info It has problems too: it is gdb

[2016-06-28 18:41] briansull commented on #6028
OK well then it is a good area to improve on.
When we consider such a method for inlining we should:
1: Decline to inline it
2: Mark the block that  contains the call as RarelyRun

[2016-06-28 18:41] briansull commented on #1270
When we consider such a method for inlining we should:
 1: Decline to inline it
 2: Mark the block that contains the call as RarelyRun

[2016-06-28 18:57] mikedn commented on #1270
@briansull I experimented with this when reporting the issue and rejecting inlining seemed easy enough. I suppose marking the block as RarelyRun should be trivial but that's not enough to get best CQ. The BB kind should also be changed to something that works like `BBJ_THROW`, otherwise you end up with unnecessary registers spills/moves.

[2016-06-28 19:28] adityamandaleeka commented on #6016
I was looking through the changes in the 4.6 kernel and noticed [this commit](https://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/commit/?id=ba33ea811e1ff6726abb7f8f96df38c2d7b50304) which replaced the padding field in the sigcontext with a union of padding and SS.

[2016-06-28 19:44] janvorli commented on #6016
Fixed by #6027

[2016-06-28 19:44] #6016 closed

[2016-06-28 20:04] adiaaida opened #6034 "Reformat JIT code"
This will have several steps:

1) Massage the code to prepare it for a full clang-format run.
2) Build scripts for dev use to run clang-format for checkins.
3) Run clang-format over all jit code.

[2016-06-28 21:48] 6bee commented on #919
Since DependencyContext is contained in Microsoft.Extensions.DependencyModel 1.0.0 it seams possible to target only .NETFramework 4.5.1 and .NETStandard 1.6. How can I do if I want to target .NET Core or Universal Windows Platform?

[2016-06-28 22:42] briansull commented on #3134
Fixed with PR #6036

[2016-06-28 23:19] adityamandaleeka commented on #6029
I believe this is the expected behavior. The StackTrace you create in the catch block will only include the frames between the point where the exception is thrown and where you catch it. It's built up frame-by-frame as exception dispatch occurs.

[2016-06-28 23:20] adityamandaleeka commented on #6029
@noahfalk

[2016-06-28 23:28] adityamandaleeka commented on #6026
Hi @pantonis, this area is intended for posting issues with the runtime. Perhaps you could try asking this question on the .NET Gitter or Slack? You can find links to them on the main page of the repo: https://github.com/dotnet/coreclr#chat-room

[2016-06-28 23:29] noahfalk commented on #6029
Environment.StackTrace will give you a full stack trace to the root, albeit as a string, not as an object model.

https://github.com/dotnet/corefx/issues/1797 has some discussion about implementing other stacktrace functionality that might be of interest to you.

[2016-06-28 23:44] pgavlin commented on #6024
cc @dotnet/jit-contrib

[2016-06-29 01:03] CarolEidt commented on #6024
I like the idea, and using `Expect` aligns with existing practice, but to me it messes with the readability of the code. Instead of writing `if (Expect(cond, true)` it would be nicer IMO to write `if (ExpectTrue(cond))` or even `if (PredictTrue(cond))`, since (to me) that makes it clearer that a prediction is what's desired. Of course, one would then have the `ExpectFalse` or `PredictFalse`.

[2016-06-29 01:19] swaroop-sridhar commented on #5760
Ubuntu.16.04 packages are now pushed

[2016-06-29 02:30] wateret commented on #5321
Probably this is same issue with #4617

[2016-06-29 05:01] RussKeldorph commented on #6022
#5784 related

[2016-06-29 06:22] pantonis commented on #6026
thanks

[2016-06-29 06:22] #6026 closed

[2016-06-29 08:52] RussKeldorph commented on #5063
#5286 is evidence that just doing mscorlib may not be sufficient.  That difference between release/checked is due to invalid IL, so perhaps not the *most* compelling examples, but we should certainly consider larger scope if the cost isn't prohibitive.

[2016-06-29 09:45] jyoungyun opened #6051 "[ARM/Linux] Regression in unittest JIT/jit64/hfa/main/testE/hfa_nf0E_d/hfa_nf0E_d.sh"
Running 'JIT/jit64/hfa/main/testE/hfa_nf0E_d/hfa_nf0E_d.exe' shows the following assert failure in arm-softfp:

[code]

[2016-06-29 09:46] jyoungyun commented on #6051
/cc @parjong @myungjoo @wateret

[2016-06-29 11:13] janvorli commented on #6051
@rahku It looks like it could be caused by your change #5978

[2016-06-29 12:07] redknightlois commented on #6024
@CarolEidt I was using the existing practice to show the idea. Another alternative is ```if (Likely(cond))``` and ```if (Unlikely(cond))``` that has the plus of denoting how likely and unlikely that condition is bound to happen.

[2016-06-29 12:26] wateret commented on #6051
It does not happen with debug test case. (Windows_NT.x64.Debug instead of Windows_NT.x64.Release)
This might be something about arm optimizer related to softfp.

[2016-06-29 13:31] MendelMonteiro opened #6052 "Configure the number of threads used by ServerGC"
It would be great to be able to limit the number of foreground/background GC threads that are used for ServerGC.

By using one thread per core the whole machine is dedicated to performing the GC which can negatively impact other processes that run on the machine at the same time.  This is exacerbated by the fact that the GC threads run at High Priority.

With modern server machines that have 20+ c

[2016-06-29 13:41] kyulee1 commented on #5949
With the regard ECMA spec, this is the unspecified case.
[code]

[2016-06-29 14:38] lemmaa commented on #6011
FYI: https://github.com/v8/v8/wiki/GDB-JIT-Interface#known-limitations
Nevertheless, it is worth a try before we get the better solution. :)

[2016-06-29 15:25] gkhanna79 commented on #3080
Fixed by https://github.com/dotnet/coreclr/pull/6000

[2016-06-29 15:27] RussKeldorph commented on #6024
I think the biggest problem with this construct is its ability to become stale rapidly.  There are certainly less problematic use cases, like error handling functions, whose likelihood is easy to validate via code inspection and can be abstracted behind wrapper methods, but other cases become very sensitive to level of programmer discipline to properly maintain accurate information, lest seemingly

[2016-06-29 15:33] GSPP opened #6055 "System.Threading.Timer roots itself inconsistently"
I just found this on Stack Overflow: [C# Timers and Garbage Collection](http://stackoverflow.com/questions/37681583/c-sharp-timers-and-garbage-collection) and I thought I'd report it here as a public service.

It seems that a `System.Threading.Timer` only sometimes roots itself.

I propose:
1. Make `System.Threading.Timer` always root itself. A timer logically is an independent agent generating ev

[2016-06-29 15:37] gkhanna79 opened #6056 "Enable Arm64 build in build pipeline"
With https://github.com/dotnet/coreclr/issues/6000, we now generate Arm64 nuget packages for Windows. We should, now, build it in the pipeline.

@wtgodbe Can you PTAL? This should be similar to the x64 build definitions you have. For now please *do not* enable signing and publishing of the artifacts - just build.

[2016-06-29 15:37] gkhanna79 commented on #6056
CC @weshaggard

[2016-06-29 16:51] swgillespie commented on #6052
cc @Maoni0 @sergiy-k

[2016-06-29 17:12] wtgodbe commented on #6056
Do you expect us to ever want to sign binaries for an Arm64 build? If not, I can add logic to sign.builds to only sign binaries if the architecture is not Arm64, and we can reuse the same build definition that we use for x64. If not, I'll probably have to create another build definition (like the one we have for x86).

[2016-06-29 17:17] weshaggard commented on #6056
We will likely want to sign them at some point but I think it is better to disable them in the sign.builds file for now as opposed to creating new build definitions.

[2016-06-29 17:22] kyulee1 opened #6057 "ARM64 GCStress: Assert failure: !pThread->HasPendingGCStressInstructionUpdate()"
[code]
baseservices\exceptions\generics\try-finally03\try-finally03.cmd
baseservices\threading\generics\Monitor\EnterExit11\EnterExit11.cmd
baseservices\threading\generics\Monitor\EnterExit13\EnterExit13.cmd
baseservices\threading\generics\threadstart\GThread12\GThread12.cmd
baseservices\threading\generics\TimerCallback\thread01\thread01.cmd
baseservices\threading\generics\TimerCallback\thread10\t

[2016-06-29 17:22] kyulee1 opened #6058 "ARM64 GCStress: Assert failure: SanityCheck()"
[code]
baseservices\exceptions\regressions\V1\SEH\VJ\NestedEx1\NestedEx1.cmd
baseservices\exceptions\regressions\v4.0\640474\test640474\test640474.cmd
baseservices\exceptions\StackTracePreserve\StackTracePreserveTests\StackTracePreserveTests.cmd
baseservices\exceptions\unittests\Baadbaad\Baadbaad.cmd
baseservices\exceptions\unittests\BaseClass\BaseClass.cmd
baseservices\exceptions\unittests\ThrowI

[2016-06-29 17:22] kyulee1 opened #6059 "ARM64 GCStress: Assert failure: !CREATE_CHECK_STRING(!"Detected use of a corrupted OBJECTREF. Possible GC hole.")"
[code]
baseservices\exceptions\regressions\V1\SEH\VJ\NestedEx2\NestedEx2.cmd
baseservices\exceptions\unittests\CollidedUnwind\CollidedUnwind.cmd
baseservices\exceptions\unittests\GoryManagedPresent\GoryManagedPresent.cmd
baseservices\exceptions\unittests\GoryNativePast\GoryNativePast.cmd
baseservices\exceptions\unittests\Pending\Pending.cmd
baseservices\exceptions\unittests\RecursiveThrowNew\Recur

[2016-06-29 17:23] kyulee1 opened #6060 "ARM64 GCStress: Test Failed"
CoreMangLib\cti\system\array\ArrayGetEnumerator\ArrayGetEnumerator.cmd
CoreMangLib\cti\system\collections\generic\dictionary\DictionaryICollectionCopyTo\DictionaryICollectionCopyTo.cmd
CoreMangLib\cti\system\collections\generic\dictionary\DictionaryICollectionCopyTo2\DictionaryICollectionCopyTo2.cmd
CoreMangLib\cti\system\collections\generic\dictionaryenumerator\DictEnumIDictEnumget_Key\DictEnumID

[2016-06-29 17:23] kyulee1 opened #6061 "ARM64 GCStress: AV in clr at this callstack"
[code]
Interop\NativeCallable\NativeCallableTest\NativeCallableTest.cmd
JIT\Methodical\Arrays\lcs\_speed_dbglcsmixed\_speed_dbglcsmixed.cmd

[2016-06-29 17:23] kyulee1 opened #6062 "ARM64 GCStress: Assert failure: !IsNull()"
[code]
This happens under COMPlus_GcStress=0x3 or 0xC
Interop\SimpleStruct\SimpleStruct\SimpleStruct.cmd
Interop\RefCharArray\RefCharArrayTest\RefCharArrayTest.cmd

This happens under COMPlus_GcStress=0xC
JIT\jit64\opt\cse\VolatileTest_op_xor\VolatileTest_op_xor.cmd

[2016-06-29 17:23] kyulee1 opened #6063 "ARM64 GCStress: Assert failure: SyncTableEntry::GetSyncTableEntry()[sbIndex].m_Object == obj"
[code]
JIT\jit64\gc\misc\struct6_2\struct6_2.cmd
JIT\jit64\gc\misc\test3\test3.cmd

[2016-06-29 17:23] kyulee1 opened #6064 "ARM64 GCStress: Assert failure: EHCount > 0"
[code]

This happens under COMPlus_GcStress=0x3 or 0xC
JIT\jit64\opt\cse\hugeexpr1\hugeexpr1.cmd
JIT\jit64\opt\cse\hugeSimpleExpr1\hugeSimpleExpr1.cmd
JIT\jit64\opt\cse\HugeArray1\HugeArray1.cmd

JIT\jit64\opt\cse\HugeField1.HugeField1 (GcStress=0x3)

JIT\Regression\VS-ia64-JIT\V2.0-Beta2\b311420\b311420\b311420.cmd (GcStress=0xC)

[2016-06-29 17:23] kyulee1 opened #6065 "ARM64 GCStress: Timeout"
These should be disabled for automation. But keep this list for tracking purpose.
This is under `COMPlus_GcStress=0x3` which took longer than 1 hour.
JIT\Performance\CodeQuality\V8\DeltaBlue\DeltaBlue\DeltaBlue
baseservices\threading\regressions\269336\objmonhelper\objmonhelper
JIT\Methodical\Arrays\lcs_dbglcsvalbox_dbglcsvalbox
JIT\Methodical\Arrays\lcs_rellcsvalbox_rellcsvalbox
JIT\Methodical\Ar

[2016-06-29 17:23] kyulee1 opened #6066 "ARM64 GCStress: Assert failure: m_alignpad == 0"
[code]

JIT\Methodical\fp\exgen\10w5d_cs_d\10w5d_cs_d.cmd
JIT\Methodical\fp\exgen\10w5d_cs_r\10w5d_cs_r.cmd

[2016-06-29 17:23] kyulee1 opened #6067 "ARM64 GCStress: Assert failure: obj->GetGCSafeMethodTable ()->HasFinalizer ()"
[code]

JIT\Methodical\MDArray\basics\jaggedarr_cs_ro\jaggedarr_cs_ro.cmd
JIT\Methodical\MDArray\basics\structarr_cs_do\structarr_cs_do.cmd
JIT\Methodical\MDArray\InnerProd\doublearr_cs_do\doublearr_cs_do.cmd

[2016-06-29 17:24] kyulee1 opened #6068 "ARM64 GCStress: Failure Summary"
This is summary of all failures under `set COMPlus_GCStress=0x3`
- [ ] Test Failed #6060
- [x] Assert failure: !IsNull() #6062
- [x] Assert failure: EHCount > 0 #6064
- [x] Assert failure: ExceptionTracker::HasFrameBeenUnwoundByAnyActiveException(&m_crawl) #6122
- [x] Assert failure: pSpinLock->holding_thread == (Thread*)-1 #6143
- [ ] Timeout #6065

This is summary of all failures under `set COMP

[2016-06-29 17:55] wtgodbe commented on #6056
@jhendrixMSFT what's the best way to apply this condition to sign.builds (only sign non-arm64 binaries)?

[2016-06-29 18:00] mikem8361 commented on #5832
Still need to do the TFS side for ARM.

[2016-06-29 18:06] jhendrixMSFT commented on #6056
You should condition the FilesToSign item groups and targets GetFilesToSignItems and CleanUpMarkerFiles to be executed when BuildArch != arm64.

[2016-06-29 18:18] rahku commented on #6051
@janvorli I don't think my changes should have any impact on ARM. For ARM it should go through the same codepath as earlier. Is that not true?

[2016-06-29 18:59] janvorli commented on #6051
@rahku Ah, I am sorry, I can see it now, you are right. There was no change for ARM.

[2016-06-29 19:52] wtgodbe commented on #6056
I just queued an orchestrated build that should build arm64 Windows alongside x64. I'll update once the build completes.

[2016-06-29 20:04] wtgodbe commented on #6056
@gkhanna79 @weshaggard @jhendrixMSFT it looks like arm64 Windows builds require a toolset_dir to be passed in via the command line - do any of you guys have an example of what this looks like? Without it, the arm64 build fails.

[2016-06-29 20:05] abrodersen commented on #5006
I've put together an AUR package that I think works. Arch users, please help me test it: https://aur.archlinux.org/packages/dotnet-cli/

[2016-06-29 20:05] abrodersen commented on #4409
I've put together an AUR package that I think works. Arch users, please help me test it: https://aur.archlinux.org/packages/dotnet-cli/

[2016-06-29 20:10] vindicatorr commented on #5006
Just took a quick look at the PKGBUILD and I'm wondering "mscorlib" getting built and all of the managed corefx files.

[2016-06-29 20:11] wtgodbe commented on #6056
I see in netci.groovy we do "build.cmd /toolset_dir C:\\ats2' - can we assume the same thing will work on our build machines?

[2016-06-29 20:14] abrodersen commented on #5006
Right now, all the binaries are simply downloaded from Microsoft's Fedora tarball. It then builds all the native libraries locally and replaces them in the package. I don't know how else to get around the "bootstrap problem"

[2016-06-29 20:14] jhendrixMSFT commented on #6056
@wtgodbe Seems unlikely as this directory doesn't exist on the build machines.  What is it supposed to contain?

[2016-06-29 20:18] wtgodbe commented on #6056
I don't actually know, the documentation in build.cmd is very vague for it.

"arm64 builds currently use private toolset which has not been released yet"

"A toolset directory is required for the Arm64 Windows build. Use the toolset_dir argument."

@rahku do you know more about this?

[2016-06-29 20:32] wtgodbe commented on #6056
@jashook do you know anything about the 'toolset_dir' arg for arm64 windows builds? What is the directory supposed to contain? Where does it come from?

[2016-06-29 20:37] rahku commented on #6056
I have sent you link on how to do arm64 builds. build.cmd takes an extra param(toolset_dir) to set the environment for arm64 builds as neither VS nor cmake currently support arm64

[2016-06-29 20:39] jashook commented on #6056
Correct, at the moment a subset of the CI machines have this toolset directory installed and is referenced in our ci script accordingly.

[2016-06-29 20:40] wtgodbe commented on #6056
@jashook how can we go about getting this directory installed on our VSO build machines?

[2016-06-29 20:41] wtgodbe commented on #6056
Scratch that, the instructions Rahul sent me have instructions. I'll go test them out.

[2016-06-29 20:44] vindicatorr commented on #5006
Successfully installed and ran dotnet new, restore, run.
Any other testing you're interested in?

[2016-06-29 20:52] abrodersen commented on #5006
Nope not really. I just wanted to be sure I had all the dependencies correct. Turns out I was missing `lldb`.

[2016-06-29 21:02] vindicatorr commented on #5006
Oh, I probably wasn't your target audience since I had been trying to build all of the core stuff by scratch so I already had all of the deps.

[2016-06-29 21:26] wtgodbe commented on #6056
I've emailed the DDIT guys about getting the Arm64 toolset dir put into the base image for our Windows build machines. Once it's there, we should be able to build Arm64 as part of the pipeline.

[2016-06-29 22:13] niemyjski commented on #2317
+1

[2016-06-29 23:55] bigolewannabe commented on #4409
AUR package looks good to me. Console app and web app were successfully generated and ran. Haven't had much time to do more than that.

[2016-06-30 01:05] chunseoklee opened #6074 "EH table missmatch on ARM32"
Env : arm32/linux

Some coreclr unit tests do not pass since it does not find Exception handler. This occurs only if the executable is compiled with release mode. See the following code.
[code]
The jit code for above example looks like :
[code]
In this example, AV happens on IL 000020(actually inside AA:test function). But when looking for its handler, its controlPc is set to IL 000022, not IL0000

[2016-06-30 01:07] chunseoklee commented on #6074
cc @jkotas @janvorli

[2016-06-30 02:27] Petermarcu commented on #917
Is the key blocker right now the RID for Alpine?

[2016-06-30 02:38] Petermarcu commented on #917
In other words, an entry here... https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtime.json

@jasonwilliams200OK you said please unblock you on core-setup. Is the RID issue whats blocking you?

[2016-06-30 02:46] ericstj commented on #917
Folks can ammend the RID graph in their own package to try things out  any package with a runtime.json will get merged into the graph.  We shouldn't be defining a RID compatibility relationship in the central MS.NETCore.Platforms until we have a chance to assess the compatibility of the distro with others/versions.  That's ok to do in prerelease so long as we test it out and vet it before shipping

[2016-06-30 03:06] ericstj commented on #917
Read through this a bit more and here are the two options I see:
1. Build new packages that add Alpine to NETCore1.0.  These can be done entirely on the side as I suggested above.
2. Add alpine to master for CoreFx/CoreCLR.  These wouldn't be using 1.0 RTM bits but could be added by modifying the existing packages.  We'd probably do this anyway if we expect to make it an officially supported distr

[2016-06-30 04:46] redknightlois commented on #6024
@RussKeldorph wholeheartly agree with you, but this is choosing between giving the developer the power to get higher quality code; which is easy to build (and probably can be done in a few weeks by one of your guys) and could have a huge impact, even if some devs occasionally forget they have a loaded gun and shoot themselves in the foot. On the other hand, we have a very hard problem which can ta

[2016-06-30 05:09] IamTonyZHOU commented on #1191
good feature

[2016-06-30 06:30] jkotas commented on #6074
The JIT inserts extra no-op after the call on amd64. Looks like that this piece of logic is missing for arm. I would look into how it gets inserted on amd64 and replicate the same on arm.

cc @BruceForstall

[2016-06-30 06:59] MihaMarkic commented on #917
Supporting mentioned OSes would be really great. Thumbs up.

[2016-06-30 07:16] chunseoklee commented on #6011
@Dmitri-Botcharnikov I have one question. LLDB supports jit interface ? I cannot find any reference which describes such feature of LLDB.
If LLDB does not support jit interface, we need to execute gdb client ?

[2016-06-30 07:42] Dmitri-Botcharnikov commented on #6011
@chunseoklee LLDB supports this feature, you can reproduce an example http://llvm.org/docs/DebuggingJITedCode.html with LLDB 3.8 at least on Linux/x64

[2016-06-30 07:46] chunseoklee commented on #6011
@Dmitri-Botcharnikov  http://reviews.llvm.org/rL202956 this patch is what I look for.
Thank you.

[2016-06-30 07:55] myungjoo commented on #6074
I do not remember exactly; thus I cannot sure if this is the case that i've found with @leemgs. However, there had been similar issues caused by LOCALE information. Yes, that looks extremely weird, but the behavior of coreclr RELEASE (not debug) changed erratic based on LOCALE. (e.g., where $ export shows no LOCALE (LC) related info vs where $ export shows something like "ko.kr_UTF-8")

Would you

[2016-06-30 08:08] chunseoklee commented on #6074
@myungjoo Here is my target setting.
[code]

[2016-06-30 08:39] jasonwilliams200OK commented on #917
@Petermarcu, @ericstj,

RID is something which is required whenever we try to build anything beyond CoreCLR / CoreFX: i.e. muxer (core-setup), or else the build script assumes platform to be Ubuntu. That is why i mentioned RID.

To build CoreCLR on any operating system which Microsoft will care about in future or not, what steps need to be taken to build the entire .NET Core? Here is my understand

[2016-06-30 09:08] jkotas commented on #917
I do not think that replicating all nuances of platform-specific native code packaging is a path to success. I think we need to have an option to distribute and acquire the native parts via the platform-specific package manager:
- `System.*.Native.so` would be acquired via apt-get
- The managed code in platform-specific corefx nuget package would be good accross all Linux distros as long as you go

[2016-06-30 11:56] jasonwilliams200OK commented on #917
Meaning the recommended way for platform package manager is give the experience like: `tce-install netcore` to get .NET Core package on TinyCore which would include version-specific:

* Everything CoreCLR
* All System.Native.*.so from CoreFX
* Version of muxer thingy: dotnet executable + MSBuild + NuGet + csc + vbc + fsc

The rest of the NuGet packages will be fetched by `corerun nuget.exe install

[2016-06-30 14:18] ericstj commented on #917
Those would all come from NuGet since (or be downloaded in a SDK zip) they are IL & not platform specific.

You could actually just use dotnet publish.  If Alipine linux RID parents to linux RID it'll just 'exclude' all the native bits that aren't built in packages.  This is what's already happening to build out the shared framework in core-setup.  @piotrpMSFT I wonder if we could publish a shared

[2016-06-30 17:14] BruceForstall commented on #6074
@chunseoklee The patch you refer to was not applied: it was proposed, but a better solution was implemented. See the discussion in https://github.com/dotnet/coreclr/pull/4503. I don't believe the JIT needs to implement the additional NOP insertion on ARM32 due to the reasons stated in that PR conversation.

[2016-06-30 18:42] libratian commented on #4409
Many thanks, works like a charm as long as I dont' use VsCode.
I know that this error does also effect other non-arch persons:
https://github.com/Microsoft/vscode/issues/4244
Log:
`Error while Installing .NET Core Debugger:
Starting 'dotnet --info'
.NET Command Line Tools (1.0.0-preview2-003121)

Product Information:
 Version:            1.0.0-preview2-003121
 Commit SHA-1 hash:  1e9d529bc5

Runti

[2016-06-30 19:24] #5920 closed

[2016-06-30 20:16] swaroop-sridhar commented on #5012
This failure is by design, test is fixed.

[2016-06-30 20:16] #5012 closed

[2016-06-30 20:17] swaroop-sridhar commented on #4943
This failure is now fixed.
 _opt_relexplicit2 test passes
thdtreegrowingobj failure is by design under gcstress

[2016-06-30 20:17] #4943 closed

[2016-06-30 20:38] abrodersen commented on #4409
@libratian Yes this is expected. We need to add the `arch` RID to the list of recognized RIDs in the CLI. I'm not sure where that code lives.

[2016-06-30 20:47] swaroop-sridhar commented on #5669
This issue seems to have been fixed, no longer repros.

[2016-06-30 20:47] #5669 closed

[2016-06-30 21:39] kyulee1 commented on #6057
This seems to be related to race issue in gcstress harness -- https://github.com/dotnet/coreclr/issues/5310

[2016-06-30 22:26] thomasnunity3d commented on #4799
I've run into this as well, and Read<T> is also missing from the CoreFX version of UnmanagedMemoryAccessor.  Curious as to why, as the underlying SafeBuffer.Read<T> does appear to exist.

[2016-06-30 22:32] Maoni0 commented on #6052
Yes, allowing to specify the # of heaps was something I was already considering. BTW, background GC threads do not run at high priority, only Server GC threads.

You could limit this yourself today by affinitizing your process with fewer processors (eg, you have 20+ core but you affinitize your process to only half of those cores). Of course that also means other threads in the process are also li

[2016-07-01 00:00] ericstj commented on #917
Here's an example of what that the lineup would look like to merge in native Alpine packages out of band: https://gist.github.com/ericstj/c9d79fdc37362377507bc5b03ab795f5

This can be in any package, so long as it's referenced by the app the bits will get merged in.  I think this is important for the standalone scenario, but not necessarily the shared/CLI bring up as I mentioned above.

If we want

[2016-07-01 00:13] JakeGinnivan commented on #6029
Is there any way to turn that string into a proper stack trace?

Would be good to have proper stack trace functionality as it is one of the main things holding back porting features to dotnet core.

[2016-07-01 00:13] #6029 closed

[2016-07-01 00:46] schellap commented on #917
This is to unblock you, in the short-term. The end goal is to produce a `.dotnet_stage0` (this is downloaded into the repo root by the build scripts in cli and core-setup) that will be used to build the CLI and Core-Setup repos.

First step after coreclr and corefx would be to build the muxer with the native compiler toolchain and CMake: Look for `-G 'Unix Makefiles'` here: http://dotnet-ci.clouda

[2016-07-01 01:12] chunseoklee commented on #6074
@janvorli please, check this approach. [https://github.com/chunseoklee/coreclr/commit/ed9aa2af1fca44074e1574cb05bbe0c44eab03e8] This patch is based on previous discussion, which is not merged. I am not certain this patch is valid. I already have tested on arm target and works fine.

[2016-07-01 01:44] hseok-oh commented on #6074
@chunseoklee `ControlPcIsUnwound` came from `frameContext->ContextFlags & CONTEXT_EXCEPTION_ACTIVE`, and  `ContextRecord->ContextFlags` came from `frameContext->ContextFlags`. So
`pDispatcherContext->ControlPcIsUnwound
 || (pDispatcherContext->ContextRecord->ContextFlags & CONTEXT_UNWOUND_TO_CALL`
always become true.

This problem  could be solve setting correct value to `ControlPcISUnwound`. This

[2016-07-01 03:05] jasonwilliams200OK commented on #917
@ericstj, @schellap,

The information is quite helpful. I will make .dotent_stage0 for Alpine and then for Void soon. Thanks!

Thanks for highlighting this @ericeil. By the analogy, AmigaOS won't inherit Unix whenever PowerPC architecture support will arrive to CoreCLR: https://www.power.org/ :)

[2016-07-01 04:58] mikedn commented on #5994
It looks like `GT_LONG` will have to be special cased a bit here and there:
* normally `GT_LONG` is contained but if it's the last node in the statement then it cannot be contained since it has no parent
* codegen has to ignore `GT_LONG` when it's not contained (it already does so when it is contained)
* `TreeNodeInfo::srcCount` needs to be 2 when no contained to satisfy the LSRA assert (or the as

[2016-07-01 05:02] hseok-oh opened #6085 "Stack unwinding for exception handling"
Environment: Linux, ARM

Some unit tests failed because of exception handling. These unit tests have similar feature.

For example,

[code]
exception occurs in `Method1()`, and exception handler is in caller method, `Main()`.

by using gdb,

[code]

I think `ControlPcIsUnwound` have to set 1 in 2nd break for correct exception handling.

[2016-07-01 05:28] hqueue commented on #6085
There is a similar issue #6074.

[2016-07-01 06:03] myungjoo commented on #6085
This is a regression. This was successful until around mid May.

[2016-07-01 06:07] chunseoklee commented on #6074
patch updated. IMHO, the patch looks OK.

[2016-07-01 06:11] myungjoo commented on #5844
Here we go: @hqueue

[2016-07-01 06:14] fujihara opened #6087 "String IndexOf method return different results on mac an windows"
IndexOf method of string class is returning different results on macOs and Windows.

This issue started after .NET Core release update.

[code]

On Windows machine it always print:
`OK`

On Mac it prints:
`BAD`

I fixed my code passing a char to IndexOf instead string:
`if (str.IndexOf('\n') >= 0)`

But would be better if both platform to work consistently.

Thanks

PS: I had posted this issue on

[2016-07-01 06:25] noahfalk commented on #6029
If you mean is there an API where the string goes in and System.Diagnostics.StackTrace comes out, no afraid not. If you want a System.Diagnostics.StackTrace instance then dotnet/corefx#1797 is probably the one to watch (or contribute to : )

There is a general effort underway to add more of the API surface that is in .Net 4.6 but not in .Net Core (https://blogs.msdn.microsoft.com/dotnet/2016/05/27

[2016-07-01 08:41] #6074 closed

[2016-07-01 10:09] hseok-oh commented on #6085
fixed by 597e160

[2016-07-01 10:09] #6085 closed

[2016-07-01 12:39] MendelMonteiro commented on #6052
For the affinity workaround the affinity would have to be set when launching the process, I'm assuming the runtime doesn't detect changes to the affinity mask?

[2016-07-01 13:39] scottdorman commented on #2317
This really isn't "for convenience usage reason only", but rather a compatibility issue. Yes, the ToShortxxxString() and ToLongxxxString() methods have a corresponding ToString() method. That's not the issue. The issue is that by removing these methods, you break the upgrade scenario for a lot of projects simply by not having those calls. (By the way, they seem to have been present in earlier vers

[2016-07-01 14:46] adrien-constant commented on #2317
Agreed, should be available, mostly for compatibility. Using this fix meanwhile :

[code]

[2016-07-01 18:12] mikedn commented on #5994
@RussKeldorph I'll try to fix this so you can assign to me

[2016-07-01 19:33] #5047 closed

[2016-07-01 21:00] jasonwilliams200OK commented on #6087
Related: https://github.com/dotnet/corefx/issues/9202

[2016-07-01 21:03] AndyAyersMS opened #6095 "JitInterface: distinguish among various classes of noinline"
CORINFO_FLG_DONT_INLINE covers a number of possibilities:
* the method was marked NoInline by the user
* the code generator has determined it is incapable of inlining the method
* the code generator has determined that the method is not a profitable inline

Looking forward, it would be good to distinguish among these since future code generators may have different inline capabilities and different

[2016-07-01 21:03] swaroop-sridhar commented on #5760
Centos7 packages are also pushed to dotnet-core feed

[2016-07-01 21:03] #5760 closed

[2016-07-01 23:44] BruceForstall opened #6097 "RyuJIT x86: assertion !"Illegal TYP_LONG node in Lowering.""
This may be related to #5956.

I see this assert for the following tests:

JIT\Methodical\fp\exgen\10w5d_cs_do\10w5d_cs_do.cmd
JIT\Methodical\fp\exgen\10w250d_cs_do\10w250d_cs_do.cmd
JIT\Directed\perffix\primitivevt\mixed1_cs_ro\mixed1_cs_ro.cmd
JIT\Methodical\fp\exgen\10w250d_cs_ro\10w250d_cs_ro.cmd
JIT\Methodical\fp\exgen\10w5d_cs_ro\10w5d_cs_ro.cmd
JIT\Directed\perffix\primitivevt\mixed1_cs_do\

[2016-07-01 23:58] choikwa commented on #6014
Is a viable fix for this creating temp copies for pass-by-value arguments and letting subsequent opt passes take care of redundant copies?

[2016-07-02 00:21] AndyAyersMS commented on #6014
More or less, yes.

There are already many other cases that require a temp. See `fgInlinePrependStatements` and  `impInlineFetchLocal` for some analysis.

LDARGA is the most similar opcode, so support for STARG should parallel that...

[2016-07-02 00:24] choikwa commented on #1270
@mikedn, speaking of Register save/restore, does CoreCLR have support for leaf methods? If it's a todo, this could fall under it (noReturn or alwaysThrows attribute means reg save/restore could be elided and ThrowArgumentOutOfRangeException() block becomes an exit).

[2016-07-02 02:32] swaroop-sridhar commented on #6063
This is the same as https://github.com/dotnet/coreclr/issues/5674

[2016-07-02 02:33] #6063 closed

[2016-07-02 03:24] Maoni0 commented on #6052
You need to affinitize before CLR is loaded (ie, before GC's initialization is called), for most people this means setting the affinity mask when launching, like you said. GC does not detect affinity mask changes.

[2016-07-02 04:06] mikedn commented on #1270
@choikwa I'm not sure what you mean by "support for leaf methods" and how such support relates to this issue. Usually a "leaf method" is a method that does not call other methods, not a method that does not return.

[2016-07-02 04:43] choikwa commented on #1270
Nevermind, what I was thinking of would apply to unmanaged code. Certain leaf methods can be scanned by caller to skip save/restoring if it can determine that callee won't use them.

[2016-07-02 06:51] choikwa commented on #6014
More trivial example:

        [MethodImpl(MethodImplOptions.AggressiveInlining)]
        private static int inlineMe(int a, int b, int c)
        {
            a = 1;
            return a + b + c;
        }
        public static void Main(string[] args)
        {
            int a = 0;
            int b = 1;
            int c = 2;

            int res = inlineMe(a, b, c);
            Console.Writ

[2016-07-02 07:47] benaadams commented on #5930
Resolved by https://github.com/dotnet/coreclr/pull/5943 ?

[2016-07-02 09:14] mikedn commented on #5699
Turns out that JIT32 solves this by adjusting `esp` before throwing:

[code]
This adjustment is performed by a piece of code that exists in the legacy version of `genCodeForBBlist` but not in the RyuJIT version.

And of course, this is not specific to `long`, same problem happens if you use only `int` expressions:
[code]
But this example generates bad code without generating an assert. So `long` a

[2016-07-02 12:41] mikedn commented on #5699
Yeah, for `long` the stack level of the throw block is correctly determined during morphing but morph doesn't know that the throw block will be jumped to when only half of the argument has been pushed onto the stack.

So, we actually have two rather different issues:
* Codegen doesn't adjust the stack pointer when needed and this may silently lead to an incomplete exception call stack and who know

[2016-07-02 14:07] stephentoub commented on #6087
Looks like https://github.com/dotnet/corefx/issues/4587

[2016-07-02 16:02] libratian commented on #4409
@abrodersen Hmm, a hacky solution may be the following:
https://github.com/dotnet/coreclr/blob/master/build.sh#L32
There you could directly set the `__DistroRid` to something which is supported like `ubuntu.14.04-x64`.
I tried to integrate this in your aur-package, but unfortunately I am new to this patchfiles etc, sorry.

[2016-07-02 22:44] omariom commented on #1165
@KrzysztofCwalina
Now that .NET Core 1.0 is out  can we change the milestone of the issue from Future to Present? )

[2016-07-03 06:50] Maoni0 commented on #6052
#6104

[2016-07-03 10:06] jasonwilliams200OK commented on #6068
Should there be separate labels for Windows-ARM64 and Unix-ARM64 as the implementations of .S and .ASM are different in src/vm. Besides, all these issues were tested on Windows ARM64 I presume and Unix ARM might not have these (but perhaps different issues)? Similarly when there is x86-64 issue, the OS name is called out in the issue and label doesn't explicitly specify the architecture.

[2016-07-03 18:47] hughbe opened #6107 "Error running build.cmd due to missing Visual Studio (Update 3)"
I have Visual Studio Community Update 3 installed on my PC, and just tried to run build.cmd (build skiptests), and got the following error.

"Visual Studio 2015 (Community is free) is a prerequisite to build this repository"

The docs seem to suggest that Update 3 is supported, but perhaps the build script hasn't been updated yet?

[2016-07-03 19:08] hughbe commented on #6107
Removing this line in build.cmd seems to fix the error (but obviously causes errors down the line)

[2016-07-03 19:18] #6107 closed

[2016-07-04 04:59] jfrijters commented on #5851
Instead of the hardcoded list hack, having an attribute for this is long overdue.

[2016-07-04 05:02] jfrijters commented on #5508
+1 It is a shame to have such a powerful feature and not expose it.

[2016-07-04 06:04] mkborg commented on #6107
@hughbe see https://github.com/dotnet/coreclr/issues/4301#issuecomment-210381609

[2016-07-04 08:00] jasonwilliams200OK commented on #6022
I think the fix is to add:

[code]

in project.json dependency of each test project.

Similar issue in CoreFX: https://github.com/dotnet/corefx/issues/9464 (happens only in few test projects where `test-runtime` is missing in project.json)

[2016-07-04 08:38] papaslavik opened #6110 "[ARM/Linux] Error using System.Private.CoreLib.ni.dll"
Currently you can successfully crossgen System.Private.CoreLib.dll for ARM.
But trying to use System.Private.CoreLib.ni.dll leads to an initialization error.

It appears that the problem is in the wrong mmap call arguments.

[2016-07-04 08:45] papaslavik commented on #6110
@jkotas @sergiy-k

[2016-07-04 08:45] papaslavik commented on #6110
/cc @brucehoult @Dmitri-Botcharnikov

[2016-07-04 11:25] NickCraver commented on #5155
@mgravell is looking at this now that we've gotten some time - pinging him to report back on the IL changes.

[2016-07-04 11:53] scottdorman opened #6111 "Decimal does not contain a definition for 'Round'"
When trying to port an existing application that uses Decimal.Round, you get the following error (or a variation of it):

The method exists in the source, https://github.com/dotnet/coreclr/blob/release/1.0.0/src/mscorlib/src/System/Decimal.cs#L764 but they aren't exposed for some reason.

This appears to be similar to #2317 and is something that would fall under the notion of API convergence.

[2016-07-05 01:02] josh-endries opened #6115 "FreeBSD ports port"
Is there any work underway to create a [FreeBSD ports system](https://www.freebsd.org/ports/) port (and/or package) of CoreCLR/.NET? I haven't found much online, only that it's allegedly possible to build CoreCLR on FreeBSD (I haven't succeeded in that yet), but nothing about a port. The [runtime page](https://www.microsoft.com/net/download#core) doesn't list FreeBSD. This would virtually eliminat

[2016-07-05 01:19] fzzzt opened #6116 "Incorrect FreeBSD requirements/unable to build coreclr"
Since there's no port/pkg/runtime download I could find I decided to try building it. Following along with coreclr/Documentation/building/freebsd-instructions.md, I didn't get very far:
[code]
Python should be added to the list in the documentation.
[code]
I really hope the runtime doesn't require Python. That would be unfortunate (and weird, or at least unexpected). Google seems to think that fst

[2016-07-05 03:07] atsushieno opened #6118 "System.IO: cannot read file named "\" on Linux"
On non-Windows platforms, backslash is a valid file name that can exist. When we try to read such a file using coreclr's System.IO API, it fails to open it. In my console dump below, you'd find that Unix cat works so as mono System.IO implementation.

[code]

There would be several scenarios that this corner-case-looking issue could be generally problematic e.g. when implementing some sort of file

[2016-07-05 07:06] papaslavik commented on #6110
merged

[2016-07-05 07:06] #6110 closed

[2016-07-05 09:49] akoeplinger commented on #6116
I'm pretty sure the coreclr build needs at least clang 3.5. The build docs for FreeBSD even mention to install clang-3.7 so maybe you could try with that one?

[2016-07-05 10:44] omariom opened #6121 "Question: .NET memory model and lightweight barrier for writes"
@stephentoub @jkotas

.NET `.volatile` writes don't  prevent any writes from floating above them - that's the semantics of store-release. So in the following scenario..
[code]
those 2 writes can be reordered.

@JPWatson suggested putting a dummy volatile read from the just written location to form a single barrier that doesn't pass reads/writes below itself nor allows writes to float above it.
[co

[2016-07-05 13:02] jkotas commented on #6121
Related https://github.com/dotnet/coreclr/issues/2555

[2016-07-05 14:14] omariom commented on #6121
It all started [here](https://github.com/AdaptiveConsulting/Aeron.NET/pull/43)
[code]
The idea is to try to not use heavyweight MemoryBarrier between first write to `length` and normal writes of data, relying only on ECMA CLI.

[2016-07-05 14:49] papaslavik commented on #5877
It's seems the pre-spilling also leads to more store and loads associated to the arg local vars.

[2016-07-05 14:54] fzzzt commented on #6116
You're right, building with the correct version worked. For some reason putting llvm37 in the path first didn't make my shell use the new one, even after a rehash. build.sh worked after a reboot, but didn't create libcoreclrpal.so. Both corerun and libcoreclr.so were created. Building corefx didn't work:

# ./build.sh native
[ ... ]
[  6%] Linking CXX shared library System.IO.Compression.Native.so

[2016-07-05 14:54] #6116 closed

[2016-07-05 14:59] omariom commented on #6121
I can't check what the code is generated for ARM.
This is how it looks on .NET CLR 4.6.1 x64.
[code]
[code]
Everything seems ok. `b = 2;` after `a = 1;` and x86 doesn't reorder writes.

But will it be the same on other CPUs? For example, if we read to a local var
[code]
JIT removes the volatile read completely.
[code]
 And it is not clear if JIT did it because it realized it can remove the dummy r

[2016-07-05 15:00] kyulee1 commented on #6068
I agree having separate for each OS and/or each architecture to make issues clearer.
I think the current convention here is somewhat historical. We started from Windows-x64, which does not have specific label. For non-Windows (e.g, Linux/OS X), or non-x64 (e.g, arm/arm64/x86) we have different label for them.

[2016-07-05 15:16] papaslavik commented on #5877
Or, actually not. That's not directly related to the prespill as I checked right now.

[2016-07-05 15:32] jkotas commented on #6121
The JIT does not do any reordering over volatile ops today - https://github.com/dotnet/coreclr/blob/master/src/jit/importer.cpp#L11296

[2016-07-05 16:25] KrzysztofCwalina commented on #1165
@terrajobst, @weshaggard, are you guys going to triage "future" issues?

[2016-07-05 17:13] kyulee1 opened #6122 "ARM64 GCStress:Assert failure: ExceptionTracker::HasFrameBeenUnwoundByAnyActiveException(&m_crawl)"
[code]

This happens under `COMPlus_GcStress=0x3`
JIT\jit64\opt\cse\HugeField2.HugeField2

[2016-07-05 17:14] tarekgh commented on #2317
we are currently evaluating the compat work across the board. so most likely we'll bring all missing APIs back.

https://github.com/dotnet/corefx/issues/9643#issuecomment-230459531

[2016-07-05 17:19] kyulee1 commented on #6060
The following occurs under `COMPlus_GcStress=0x3`.
baseservices\threading\mutex\openexisting\openmutexpos4\openmutexpos4.cmd

[2016-07-05 17:33] stephentoub commented on #6118
The issue here is that you're building against mscorlib.dll rather than against the contracts, and as a result you're using the System.IO implementation that's in mscorlib, which is really only for mscorlib itself; the System.IO.FileSystem.dll implementation in corefx provides the full cross-platform support here.  For 1.0, you need to build against the contracts to pick up the right functionality

[2016-07-05 17:33] mikedn commented on #6121
Unless it happens to be [buggy](https://github.com/dotnet/coreclr/issues/2286) :)

[2016-07-05 17:39] ryanbrandenburg opened #6123 "AssemblyName.CultureName not settable"
AssemblyName.CultureName is currently not set-able although the setter appears to exist in [the code](https://github.com/dotnet/coreclr/blob/release/1.0.0/src/mscorlib/src/System/Reflection/AssemblyName.cs#L96) and other similar properties appear to be set-able. Because of this anyone who wants to use the AssemblyName to look for a culture-specific assembly (as we do in aspnet/Localization#257 to

[2016-07-05 17:39] omariom commented on #6121
@mikedn That's not counted :)

@jkotas

So we can rely on that dummy volatile read to a local var to be a barrier for following writes? In the future and across different CPUs because this is how ECMA CLI rules must be understood?

[2016-07-05 17:49] tarekgh commented on #6123
https://github.com/dotnet/corefx/issues/9643#issuecomment-230459531

[2016-07-05 18:44] jkotas commented on #6121
I think so.

[2016-07-05 18:48] scottdorman commented on #2317
(I added the emphasis.)

Please don't just simply bring back all of the missing APIs. The direction .NET Core is taking of removing APIs (that are unused, little used or redundant) and trimming the API surface is the right direction overall.

The real problems here are:

* The APIs which have been removed doesn't seem to be documented anywhere, which leads to the confusion of "Why isn't `DateTime.

[2016-07-05 18:53] tarekgh commented on #2317
CC @danmosemsft

[2016-07-05 19:04] jkotas commented on #6115
cc @josteink @ajensenwaud

[2016-07-05 19:09] josteink commented on #6115
As I'm not on the FreeBSD development team (and I don't think @awaudjensen is either), I cannot really provide any more definitive answer than "I don't think so".

@emaste (responsible for the LLVM/LLDB for FreeBSD) has assisted in this project before and is probably much more likely to be able to help in this matter, both in getting an answer, and in getting things moving, if they need to be.

[2016-07-05 19:51] josteink commented on #6115
@fzzzt you say you have tried building yourself, but that you failed. Did you follow [the instructions outlined here](https://github.com/dotnet/coreclr/blob/master/Documentation/building/freebsd-instructions.md)?

If not, please try that first.

If you did, feel free to raise an issue where the documentation don't seem to match what you're experiencing.

[2016-07-05 20:53] josteink commented on #6115
My third and absolutely final comment for the day (as someone who didn't really have much to say...):

Back to the root of your question: Is there an effort to create a FreeBSD "ports" package for this?

As I understand it, a FreeBSD "ports" package actually represent a fork of the software in question. Ports' screen is not GNU Screen. It's FreeBSD's fork of GNU Screen with the patches required to

[2016-07-05 21:12] sivarv opened #6126 "[LSRA][RyuJIT] support non-lcl var tree nodes as reg optional operands"
The following PR added support for to treat spilled lcl vars as contained memory operands for codegen purpose on xarch.

This work item is about extending that support to arbitrary tree nodes i.e spilled tree temps.

e.g.

add  rax, rbx
spill rax
...
...
reload rax
mul rdx, rax

Post this work item, the following code will get generated

add rax, rbx
spill rax to stack (say spill tmp1)
..
...
mul

[2016-07-05 21:20] sivarv opened #6127 "[LSRA][RyuJIT] Address the implementation limitation of honoring a reg optional operand even if marked copyreg or movereg"
Phase 1 implementation has the limitation that if a ref position is marked as copyreg or movereg, then it is always allocated register even if marked as reg optional.  This issue tracks allowing a ref type use position to be treated as reg optional and not mark it as movereg or copyreg if it is beneficial to do so.

[2016-07-05 21:24] BrennanConroy opened #6128 "csc hung when compiling a project on macOS"
https://gist.github.com/BrennanConroy/33b3462798c3eca3b9915290e565a772

I have the process running currently if anyone has suggestions for things to look at.

[2016-07-05 21:26] sivarv opened #6129 "[LSRA stress] Add JitCI stress leg for new LSRA stress mode 0x1000"
This new stress mode doesn't even attempt to allocate a reg to reg-optional ref positions and meant to exercise and verify that lsra/codegen code paths correctly handle contained Lcl Var nodes.

COMPlus_JitStressRegs=0x1000

LSRA_REG_OPTIONAL_NO_ALLOC = 0x1000

[2016-07-05 21:47] #5994 closed

[2016-07-05 22:07] fzzzt commented on #6115
I did try to build it, and failed, and tried and failed, and gave up. It's not currently possible to build it on FreeBSD, period. One actually needs to build part of it on Windows currently, so a port just isn't possible at this time. I did point out in another issue that the dependencies weren't complete, before I moved on to other work.

Disclaimer: I'm not a FreeBSD port maintainer, just a Free

[2016-07-05 23:09] sivarv opened #6131 "[RyuJIT] Add support for rematerialization"

[2016-07-06 01:16] benaadams commented on #5930
There are also high costs in the native "thread start"/reuse

High thread count native costs high in ThreadpoolMgr::WorkerThreadStart
4 Cores
![](https://aoa.blob.core.windows.net/aspnet/threadpoolnative.png)

8 HT Cores (4 Cores)
![](https://aoa.blob.core.windows.net/aspnet/threadpoolnative-3.png)

[2016-07-06 01:19] benaadams opened #6132 "High threadpool count burns cpu in native WorkerThreadStart"
From https://github.com/dotnet/coreclr/pull/5943#issuecomment-230427235

High thread count native costs high in ThreadpoolMgr::WorkerThreadStart
4 Cores
![](https://aoa.blob.core.windows.net/aspnet/threadpoolnative.png)

8 HT Cores (4 Cores)
![](https://aoa.blob.core.windows.net/aspnet/threadpoolnative-3.png)

[2016-07-06 06:12] JijoBose commented on #3520
I'm not able to update **Microsoft.NETCore.UniversalWindowsPlatforms** nuget package to 5.1.0,
Here's the error I receive.

`Restoring packages for 'App3'.
Restoring packages for D:\project\Github\App3\App3\project.json...

Microsoft.NETCore.Portable.Compatibility 1.0.0 provides a compile-time reference assembly for mscorlib on UAP,Version=v10.0, but there is no run-time assembly compatible with w

[2016-07-06 06:22] josteink commented on #6115
@ajensenwaud the interroute VMs we set up for initial development are not currently responding to incoming connections, so I cannot verify this issue. Can you have a look at that?

[2016-07-06 06:43] atsushieno commented on #6118
Ohh, alright. Yes that should be the right path that I had to try. The current state of implementation should be already fine. Thanks.

[2016-07-06 06:43] #6118 closed

[2016-07-06 08:38] jamesqo opened #6136 "Consider using stackalloc for string.Split"
Right now, `string.Split` allocates a new int array for both the [`char`](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/String.cs#L1060) and [`string`](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/String.cs#L1116-L1117) versions. We might want to consider using `stackalloc` here instead for strings of lengths under a certain threshold.

Alternativel

[2016-07-06 09:07] josteink commented on #6115
@fzzzt Thanks for all the technical details on the ports system. I'm not entirely up to speed on all its inner workings behind the `cd /usr/ports/* ; make # it so` so that's appreciated, but apart from that I've been a happy ports users in the past. I know the basics :)

If what you say is technically accurate, making a ports package for CoreCLR sounds fairly simple. At least given that everything

[2016-07-06 11:35] kvochko opened #6138 "[ARM/softfp] ProfileLeave profiler hook overwrites a float return value."
When enabling profiling on ARM/softfp, the generated JIT code for the call to ProfileLeave overwrites the function's floating-point return value with an argument to ProfileLeave. Here is an example to illustrate. The following function:
[code]
gets jitted into the following:
[code]

@papaslavik @Dmitri-Botcharnikov @sam-baravy @seanshpark @janvorli

[2016-07-06 11:39] kvochko commented on #6138
A similar function that returns an int saves the return value into r2, and restores it to r0 after the call:
[code]

[2016-07-06 14:46] Serginio1 opened #6140 "Interpreting dynamic expressions failed"
I'm sorry the error was in the pre-release version

[2016-07-06 15:55] kyulee1 opened #6143 "ARM64 GCStress:Assert failure: pSpinLock->holding_thread == (Thread*)-1"
[code]

This happens under `COMPlus_GcStress=0x3`.

JIT\Regression\CLR-x86-JIT\V1.1-M1-Beta1\b143840\b143840\b143840.cmd
baseservices\exceptions\regressions\V1\SEH\VJ\ExternalException\ExternalException.cmd

[2016-07-06 16:18] benaadams opened #6144 "What is JIT_MonEnterWorker_InlineGetThread (high cpu burn)"
Is it `lock()` or `Montior.Enter` statements?

I'm seeing a high percentage of cpu used in it, which is front-end bound and has bad speculation; when running Kestrel plaintext benchmarks

![](https://aoa.blob.core.windows.net/aspnet/kesstrel-monenter-1.png)

![](https://aoa.blob.core.windows.net/aspnet/kesstrel-monenter-2.png)

Which relate to lines https://github.com/dotnet/coreclr/blob/master/sr

[2016-07-06 16:50] #5456 closed

[2016-07-06 17:02] swgillespie commented on #6140
@Serginio1 Can you provide some more details? Does your error still reproduce in the RTM release?

[2016-07-06 17:02] mikedn commented on #5698
Simple test case:
[code]
Prints 0 which is obviously wrong.

[2016-07-06 17:05] russellhadley commented on #3716
@kyulee1 @ramarag This is complete right?

[2016-07-06 17:07] kyulee1 commented on #3716
Yep. I think so.

[2016-07-06 17:07] #3716 closed

[2016-07-06 17:09] kyulee1 commented on #5071
Fixed via #5978

[2016-07-06 17:09] #5071 closed

[2016-07-06 17:11] kyulee1 commented on #5642
Fixed via #6035

[2016-07-06 17:11] #5642 closed

[2016-07-06 17:21] kyulee1 commented on #3973
This test was deleted via 4d3b8acd161bcd5890be78af5130526575264ccc as security transparency tests.

[2016-07-06 17:21] #3973 closed

[2016-07-06 17:29] kyulee1 commented on #3092
I think it's already implemented/merged as of today.
I also think we could emit mostly one instruction (4 byte) that loads constant from Jit read-only data (8 byte). It's arguable depending on cache-misses, but when the same constant is repeated (like GC cookie check), loading constant from memory could be better.

[2016-07-06 17:32] choikwa commented on #3169
LICH should be setting value number on sub-expr [x1 * y1 + x2 * y2] regardless of sum being on lhs and determine that sub-expr to be loop-invariant and hoist it.

[2016-07-06 17:55] mikedn commented on #3169
Except that VN can't do that because there's no `x1 * y1 + x2 * y2` sub-expression to begin with.

[2016-07-06 17:56] mikedn commented on #5698
@RussKeldorph Anyone working on this? I'll give it a try using `GT_ADD_LO`/`GT_SUB_LO` to see what the team thinks. To me it seems easier and safer than using `GTF_SET_FLAGS`.

[2016-07-06 18:10] RussKeldorph commented on #5698
@mikedn I don't think so.  Take it.
@adiaaida @BruceForstall @CarolEidt FYI

[2016-07-06 18:17] choikwa commented on #3169
Ok I see why you made it the issue. Even still, it should have caught `x1 * y1` and `x2 * y2` sub-exprs since they don't involve induction var `sum`.

[2016-07-06 18:22] mikedn commented on #3169
It does that already, it's the addition that isn't hoisted.

[2016-07-06 18:27] choikwa commented on #3169
:( It appears that I can't read asm. @mikedn, is shuffling expr to isolate induction vars a possible remedy?

[2016-07-06 18:42] mikedn commented on #3169
Something like that. Usually terms are grouped together depending on where their SSA definitions are in the loop tree. Unlike "isolate induction vars" this also takes care of nested loops.

[2016-07-06 19:13] briansull commented on #3092
No I don't believe that I checked this in yet.
I will submit a PR this week, with my changes for this.

[2016-07-06 20:00] GSPP opened #6155 "Cancelled Task.Delay not scalable"
I have a scenario where a lot of timeout tasks (`Task.Delay`) are started. They are almost always cancelled before completion. The workload looks like this in a hot loop:

[code]

Unfortunately, this code does not scale beyond 2 CPU cores:

[code]

This is a profile of the 8 core case. I don't see anything particularly suspicious:

![image](https://cloud.githubusercontent.com/assets/12032350/16632

[2016-07-06 20:34] stephentoub commented on #6155
Thanks, though I'm not sure this is really about Task.Delay.  A Delay task just wraps a Timer, and your RunIteration function is essentially just creating a Timer and then immediately destroying it, e.g. as if you replaced by the body of RunIteration with:
[code]
While the overall throughput of that snippet will differ (since the Task-based code is doing more work), I assume this hits a similar bo

[2016-07-06 21:00] #4479 closed

[2016-07-06 21:09] livarcocc commented on #5951
@vijayrkn You are right. It was one or the other. But from @schellap's stack above, it is clearly dotnet-test. I will fix it.

[2016-07-06 21:12] livarcocc commented on #5951
Actually, I will close this one and move it to the CLI (https://github.com/dotnet/cli/issues/3800).

[2016-07-06 21:12] #5951 closed

[2016-07-06 21:41] GSPP commented on #6155
Yes, this hits the same bottleneck:

[code]

In the age of async IO we need to rely more on timers than before. Async IO on Windows does not support intrinsic timeouts. This means that any async socket-based API will need to resort to creating it's own timers.

Maybe this is a good time to revisit the global lock design. As a cheap band-aid lock striping comes to mind. Create N queues backed by N

[2016-07-06 21:49] stephentoub commented on #6155
cc: @ericeil, @kouvel

[2016-07-06 21:58] GSPP commented on #6155
As a related issue there is an efficiency problem when many timers exist. The algorithm that expires due timers is linear in the number of existing timers (not expiring timers).

It takes about 1e6 timers to drive one CPU core to 100%. Not sure how important that scenario is to you. It's not important to me, I was just curious.

[code]

The potential fix would be to use a sorted data structure.

S

[2016-07-07 00:02] CarolEidt commented on #5698
@mikedn - I agree that adding `GT_ADD_LO / GT_SUB_LO` seems like a cleaner solution. I'm not sure whether that might change when/if we add the optimization to reuse flags, but one could always change this if it was then felt to be duplicative.

[2016-07-07 03:21] ayende opened #6160 "Hard crash & AccessViolationException on gc_heap::mark_object_simple"
Sometimes, when running our tests, we get the following error:

`Unhandled exception at 0x00007FFF65DC86BA (coreclr.dll) in dotnet.exe: 0xC0000005: Access violation reading location 0xFFFFFFFFFFFFFFFF.`

We write code that handles unmanaged memory, so it might be what we are doing, but this only happens occasionally, and only ever during test startup (before we actually get to actually start runni

[2016-07-07 05:20] hqueue commented on #6138
cc: @wateret @papaslavik @hseok-oh @leemgs @myungjoo

[2016-07-07 06:07] jkotas commented on #6144
It can be either. `lock()` is translated to `Monitor.Enter` calls.

[2016-07-07 06:08] jkotas commented on #6144
Related to https://github.com/dotnet/coreclr/issues/5927

cc @kouvel

[2016-07-07 06:11] #6121 closed

[2016-07-07 06:13] jkotas commented on #6160
cc @swgillespie

[2016-07-07 06:26] jkotas commented on #5719
Could you please attach a small repro the demonstrates the problem that this issue is about?

[2016-07-07 06:42] jkotas commented on #6111
Yes, this method should be coming back.

cc @danmosemsft

[2016-07-07 06:46] jkotas commented on #6128
The first step to analyze crashes like this one is to get symbols - to make stacktraces to contain meaningful method names.

@mikem8361 Do we have instructions somewhere how to download coreclr symbol files on macOS?

[2016-07-07 06:49] leemgs commented on #3805
@prajwal,  Could you check the lldb issue?

[2016-07-07 07:47] papaslavik commented on #6138
LGTM

[2016-07-07 08:01] hultqvist opened #6162 "32 bit Linux"
I can't find 32 bit Linux support mentioned in the roadmap.

Are there any plans?

[2016-07-07 09:00] jkotas commented on #1192
The ARM progress has been more recently tracked in https://github.com/dotnet/coreclr/issues/3977

[2016-07-07 09:00] #1192 closed

[2016-07-07 09:14] mattwarren commented on #6008
Is there any interest in this, does it even need to be fixed?

If not, I'm happy to close it. The the errors only happen when you explicitly add `#define MEASURE_GCINFO` to the source.

[2016-07-07 09:17] jkotas commented on #6162
It is in roadmap, but it does not have date attached to it yet. From project goals at https://github.com/dotnet/core/blob/master/roadmap.md:
- There are high-quality ports for Linux, macOS and Windows
- There are high-quality ports for X64, X86, ARM32, and ARM64

In the meantime, we would be happy to take PRs towards making it work.

[2016-07-07 09:17] jkotas commented on #6162
cc @sergiy-k @adityamandaleeka

[2016-07-07 09:20] jkotas commented on #6162
https://github.com/dotnet/coreclr/issues/1264 has some earlier discussion about it.

[2016-07-07 09:25] josteink commented on #6115
I've issued some small patches to make building `coreclr` on FreeBSD simpler, but from what I can building `corefx` still has issues.

These issues seems mostly related to `corefx` having `dotnet cli` as a build-dependency, and it not being built for FreeBSD ([issue here](https://github.com/dotnet/cli/issues/3720)),

Until that issue is solved, a FreeBSD ports package cannot be created.

[2016-07-07 09:48] Dmitri-Botcharnikov commented on #6138
LGTM

[2016-07-07 10:00] mkborg commented on #3977
My recent tests have many failures:
[code]
Is it my local issue or actual regression?

@jyoungyun What is your current test results?

[2016-07-07 10:13] jyoungyun commented on #3977
@mkborg My result is almost same with you. Raspberry pi failed over 400 tests. #6051 It is the related issue.

[2016-07-07 10:38] josteink commented on #6115
Following [this corefx issue](https://github.com/dotnet/corefx/issues/1626) about building managed components, it seems @jasonwilliams200OK has found a way to build corefx on FreeBSD, and @sec has found some additional dependencies which needs to be resolved.

So it seems it can be done, at least.

From what I can tell, the build process is certainly not as smooth as it should be, and all those th

[2016-07-07 11:02] omariom commented on #5413
I realized that Reflection is considered `unsafe` and is allowed to do everything.

[2016-07-07 11:31] mikedn commented on #4180
Wasn't this fixed by #6101?

[2016-07-07 11:33] mikedn commented on #4178
Wasn't this fixed by #6101?

[2016-07-07 12:15] kvochko commented on #6138
There's a few question regarding this.
1. Why is r0 saved to r2, which is a volatile register, according to the ABI?
2. For doubles, shouldn't both r0 and r1 be saved?
3. On AMD64 ProfileLeave (and ProfileEnter for that matter) callbacks take 2 arguments: profiler handle and caller's SP, but on ARM it takes just one. Is there a reason for that?

[2016-07-07 12:16] ayende commented on #6160
Okay, I managed to take a crash dump for this, same stack trace.
You can get it here: https://drive.google.com/file/d/0B-GYDT6Flp-sa1g1amNMakdqb0E/view?usp=sharing

[2016-07-07 15:31] fzzzt commented on #6115
Thanks for continuing to look into this. I eventually got the coreclr piece to build (though lots of tests failed as it was going, but maybe that's expected), my notes are in [this](https://github.com/dotnet/coreclr/issues/6116) issue, but corefx didn't get very far:
[code]
I gave up at this point. I didn't want to go on a hacking expedition in corefx, and the instructions currently say you need t

[2016-07-07 15:45] jkotas commented on #6160
This looks like classic managed heap corruption caused by unsafe or unmanaged code.

To root cause these, it is best to start with `VerifyHeap` - it will often give you hints where the corruption happened.

[code]

Let's see what the last good object is (VerifyHeap scans the heap from low addresses to high addresses). Last good object is often what got corrupted:

[code]

[code]

The byte[40] arra

[2016-07-07 15:50] jkotas commented on #6160
Also interesting is that the next object after the corrupted array was likely error message: "...ed or invalid length has been given.". It may be useful to look for a place where this error message is used for the first time - the corruption likely happened nearby. Hopefully, this should give you enough clues where to look.

[2016-07-07 15:55] #5698 closed

[2016-07-07 16:48] ayende commented on #6160
Thanks, we'll look at that

[2016-07-07 17:03] BruceForstall commented on #4178
Yep.

[2016-07-07 17:03] #4178 closed

[2016-07-07 17:03] BruceForstall commented on #4180
Yep.

[2016-07-07 17:03] #4180 closed

[2016-07-07 17:22] omariom commented on #6121
@jkotas
Would be nice to have simple tests that validate JIT against the model described in ECMA spec.
How similar conditions are usually tested by the team?

[2016-07-07 18:04] omariom commented on #5851
It is already decided that `Span` is on stack thing because of torn writes issues.
But do torn writes completely forbid  non atomic structs - like slices or `delegate as struct` - to be located on heap? What if the field is `readonly`?
[code]

[2016-07-07 18:08] omariom commented on #5851
Wrote and then realized `this` can be assigned to a visible location right in the `ctor`.
Or `ctors` can be inlined and their code can be reordered with the publication of the object ref :disappointed:

[2016-07-07 18:09] jkotas commented on #6121
cc @dotnet/jit-contrib

There are number of tests that are validating this in the repo (look for `volatile` under tests\src\JIT). If you believe that there is anything particular missing, we would be happy to take PR with improvements.

Fully validating it is hard problem. It would need to prove that no combination of different optimizations violates the invariants ... https://en.wikipedia.org/wik

[2016-07-07 18:28] gkhanna79 opened #6165 "Integrate Debugger Test run within CI and Pipeline infrastructure"
Currently, debugger tests run against a day old CoreCLR/CoreFX for their validation, in their own repo. We should look into integrating it closer to the product to identify regressions and status sooner.

CC @sergiy-k

[2016-07-07 18:29] gkhanna79 opened #6166 "Integrate Profiler Test run within CI and Pipeline infrastructure"
We should look into integrating it closer to the product to identify regressions and status sooner.

CC @sergiy-k

[2016-07-07 18:33] gkhanna79 opened #6168 "Integrate Arm64 MDbg changes into mainline"
Tracking issue to integrate @ramarag changes for MDbg for Arm64 back into main codebase to align with consolidation of mdbg for various scenarios.

Per discussion with @tzwlai, this can be done by end of July.

[2016-07-07 18:35] gkhanna79 opened #6169 "Integrate Interop Repo testing with CI and Pipeline infrastruture"
Interop repo contains tests that should be run as part of CoreCLR CI and pipeline testing infrastructure to ensure we have all the required coverage for the feature without relying on closed (ToF) testing.

[2016-07-07 19:45] wtgodbe commented on #6056
This is now complete - check out the package feed/azure portal to see arm64 packages being published, and look at the latest coreclr master orchestrated build (which succeeded) - Build 20160707-04.

[2016-07-07 19:45] #6056 closed

[2016-07-07 20:00] josteink commented on #6115
FYI: The ENODATA thing is a regression introduced by some recent code-changes. I've prepared a PR to fix it. Hopefully we can get this sorted out.

[2016-07-07 20:04] jasonwilliams200OK commented on #6115
@fzzzt, I normally love to get involved in any kind of port project or build system stuff as there is always cool stuff to learn there.. FreeBSD got us quite far and the last couple of blockers are highlighted here: https://github.com/dotnet/corefx/issues/1626. Very few assemblies were left which needed work on CoreFX native side and it wasn't the build blocker as we were just getting `PlatformNot

[2016-07-07 20:21] gkhanna79 commented on #6056
@wtgodbe To confirm, we are not signing and only publishing to Azure blob and not any public feed, right? And this is only enabled for master branch, correct?

[2016-07-07 20:26] wtgodbe commented on #6056
We are not signing, and the Master branch is the only one currently enabled - however, if a Release branch build were kicked off, it would also build arm64. I think if we wanted not to build arm64 for Release, we'd need a separate pipelines.json file for the Release definition. As for the feed, the publish step is still set up to publish packages to https://dotnet.myget.org/F/dotnet-core/api/v2/pa

[2016-07-07 20:33] pgavlin commented on #6121
(@ericeil can point out any flaws in my understanding and/or logic :smile:)

[2016-07-07 20:50] CarolEidt commented on #6121
@pgavlin - I don't believe that you need condition 3 to ensure that the volatile read is not moved above the volatile write. The first paragraph of I.12.6.4 in the spec ensures that:

[2016-07-07 20:50] ewinnington opened #6171 "ExecutionEngineException in System.Private.CoreLib.ni.dll after System.Runtime.Loader.AssemblyLoadContext.Default.Resolving called"
I'm trying to load a DLL from a byte stream dynamically in .net core rtm.
Tested on Windows 10, VS 2015 Community, version 1.0.0-preview2-003121

I have a DLL containing this single object.

        //compiled into core-minimal-dynamic.dll
                namespace eric.coreminimal.dynamic
                {
                    public class DemoDynamicClass
                    {

[2016-07-07 20:51] pgavlin commented on #6121
Ah, perfect! I couldn't find that language under I.12.6.7, which covers volatile read and write semantics specifically. Thanks!

[2016-07-07 21:26] pgavlin opened #6172 "RyuJIT drops unused volatile reads."
If the following program is compiled with optimizations enabled (e.g. the `/o+` flag is provided on the `csc` command line), RyuJIT will drop the volatile read of `a`:

[code]

The IL as reported by a JIT dump is:

[code]

The generated assembly is:

[code]

From the dump, it appears that the importer drops the volatile `ldsfld` on the floor when it imports the `pop` instruction. This is not corre

[2016-07-07 21:26] pgavlin commented on #6121
@omariom: @RussKeldorph pointed out that I managed to skim over the assembly dump you posted. That assembly (which I've reproduced locally) indicates that there is a bug in the JIT that is causing us to drop the volatile read, as ECMA specifically disallows removing or coalescing volatile operations. I've opened #6172 to track.

[2016-07-07 21:31] omariom commented on #6121
@CarolEidt

 Does it mean a volatile write can't be reordered with a following volatile read **from a different location**?

[2016-07-07 21:35] omariom commented on #6121
@pgavlin wow! I thought that was legal.

[2016-07-07 21:35] #3080 closed

[2016-07-07 21:38] rahku commented on #3727
we have support for this

[2016-07-07 21:38] #3727 closed

[2016-07-07 21:38] omariom commented on #6172
It doesn't happen if the result of volatile read is put in an observable location.

[2016-07-07 21:50] jasonwilliams200OK commented on #6115
Applied patches from dotnet/corefx#9899 and dotnet/corefx#9903 on a fresh clone and ran:

[code]

successfully builds CoreFX native on FreeBSD 10.3.

[2016-07-07 21:55] gkhanna79 opened #6174 "Enable Interop Test repo build for Arm64"

[2016-07-07 22:04] CarolEidt commented on #6121
@omariom - yes, the way I would read that section is that it would be illegal to reorder _any_ volatile operations relative to one another, even if they involve different locations. Though, to be fair, it is often been observed that the section in question is not as rigorous as it could be.

[2016-07-07 22:41] benaadams commented on #6172
If it happens in stack space, did it really happen? (Understand the motivation is for a barrier)

[2016-07-07 23:08] rahku commented on #6062
This is GCInfo bug in method System.Diagnostics.StackTrace.ToString(int)

register x0 is marked to be live from 0x3cc to 0x3e0
 Below is the codegen for those offsets from 0x3c8 to 0x3e0

00007ffb`c99e0058 aa1303e0 mov         x0,x19

00007ffb`c99e005c f9400269 ldr         x9,[x19]

00007ffb`c99e0060 f9402d29 ldr         x9,[x9,#0x58]

00007ffb`c99e0064 f9400529 ldr         x9,[x9,#8]

00007ffb`c9

[2016-07-07 23:09] rahku commented on #6062
System.Diagnostics.StackTrace.ToString(int) is present in System.Private.CoreLib.ni.dll

[2016-07-07 23:26] tijoytom commented on #5517
Fixed by https://github.com/dotnet/coreclr/pull/6175

[2016-07-07 23:26] rahku commented on #6062
test JIT\jit64\opt\cse\VolatileTest_op_xor\VolatileTest_op_xor.cmd appears to be hanging for me under gcstress

[2016-07-07 23:27] rahku commented on #6062
Interop\SimpleStruct\SimpleStruct\SimpleStruct.cmd
Interop\RefCharArray\RefCharArrayTest\RefCharArrayTest.cmd

both fail due to same issue above

[2016-07-07 23:50] kyulee1 commented on #6062
I think `blr x9` is a virtual call to `System.Reflection.MethodBase.GetParameters` which returns an object. So we have gc reg birth from the return value after the call. So `x0` is just alive continuously across the call site. I think the issue is something else.

[2016-07-08 00:27] leemgs commented on #3977
Adding @chunseoklee, Could you synchronize  a similar issue between @jyoungyun's comment and @mkborkg's test result (e.g. Failed 394)?

/CC: @parjong

[2016-07-08 00:35] chunseoklee commented on #3977
Regressions mentioned above are cased by 597e160 commit(PR #6088 ), which change the behavior of exception handler.
This PR #6117 resolves unit test regressions by 597e160 commit.

[2016-07-08 00:37] rahku commented on #6062
I don't think currently jit reports return register to be live just after call instruction. If that were the case then it should be doing this for all call which return an object. I don't find jit doing that. For example System.Diagnostics.StackTrace.ToString(int) returns an object but the caller does not report x0 to be live just call instruction.

[2016-07-08 01:24] wateret commented on #6051
Simplified the TC and found the case. The error occurs on line 28.
[code]

Other `Identity_HFA_*()` functions does not emit an error.  It turns out that `Compiler::argOrReturnTypeForStruct` returns TYP_INT for struct HFA01 while returns TYP_STRUCT on arm-hardfp and it is processed later by HFA. However HFA is off for softfp so maybe we need to check if the actual return type is TYPE_INT or TYPE_FL

[2016-07-08 01:27] hseok-oh opened #6178 "Regression in unittest JIT/Methodical/MDArray/basics/stringarr_cs_ro"
environment: Linux/ARM
CoreCLR Debug build & Unittest release build

running 'JIT/Methodical/MDArray/basics/stringarr_cs_ro'

[code]

using GDB

[code]

Try block: 804 <=  pc < 880
pc: 880

I think this failure is related to exception handling with helper function. In the JIT-compiled code, it calls helper function 'CORINFO_HELP_RNGCHKFAIL' for array bound exception check.

[2016-07-08 01:31] wateret commented on #6051
Attaching the gentree for soft/hardfp.

Gentrees for first statement(calling Identity_HFA01) are the same. Second one differs in terms of the types.

arm-hardfp
[code]

arm-softfp
[code]

[2016-07-08 01:38] parjong opened #6179 "[ARM/Linux] Regression in Unittest - Exception.ToString() failed"
Running unittest using Release build CoreCLR from aab8856ce03 and Release build TC incurs many TC failures with the following message:
[code]

I observed that 85 TC shows the similar failure (when I running 905 tests).

Is there any change that may be related with this?

[2016-07-08 01:54] hseok-oh commented on #6178
Code generated by JIT compiler

[code]

src/vm/exceptionhandling.cpp#L1438-L1449
[code]

I think this code don't handle exception checked by CoreCLR helper function.

[2016-07-08 01:54] BruceForstall opened #6180 "RyuJIT x86 assertion: 'isPhiDefn || type != TYP_STRUCT'"
Fails in:

JIT\jit64\hfa\main\testA\hfa_sd2A_d\hfa_sd2A_d.cmd
JIT\jit64\hfa\main\testA\hfa_sd2A_r\hfa_sd2A_r.cmd
JIT\jit64\hfa\main\testA\hfa_sf2A_d\hfa_sf2A_d.cmd
JIT\jit64\hfa\main\testA\hfa_sf2A_r\hfa_sf2A_r.cmd
JIT\jit64\hfa\main\testB\hfa_sd2B_d\hfa_sd2B_d.cmd
JIT\jit64\hfa\main\testB\hfa_sd2B_r\hfa_sd2B_r.cmd
JIT\jit64\hfa\main\testB\hfa_sf2B_d\hfa_sf2B_d.cmd
JIT\jit64\hfa\main\testB\hfa_sf2

[2016-07-08 01:59] leemgs opened #6181 "Abbreviation: What does it mean?"
As we all know, there are a lot of abbreviations as terminology in ./coreclr/src/ folder.
Where we can find the the original meaning of the abbreviations?

While browsing the source codes of coreclr to enable .NET Core on Linux: ARM,
I often wonder about the meaning of the abbreviations. If there are not a related documentation,
I would like to create "TERMINOLOGY" file in ../coreclr/ folder. How

[2016-07-08 02:06] parjong commented on #6179
It seems that  aab8856  causes this issue. When I reverted aab8856, the above error does not happen. @CarolEidt could you please take a look?

\CC @jyoungyun @lemmaa @wateret @chunseoklee

[2016-07-08 02:15] jyoungyun commented on #6179
When I checked the aab8856ce0365ede77bb8ca8c208538a72185a54 patch, almost tc failed with below errors.
[code]
@CarolEidt Did the issue what I mentioned in #6021 pass in your side?

[2016-07-08 02:24] jyoungyun commented on #3977
It's my results in Raspberry Pi2.
commit no. c9287008
I hope that many issues pass when @chunseoklee 's patch is merged.
[code]

[2016-07-08 02:26] parjong commented on #3977
On my site, CoreCLR (c29547fc155) with PR #6117 shows the following result (I used Release CoreCLR / Release TC):
[code]

[2016-07-08 04:19] wateret commented on #6179
I tested it with debug-build-coreclr for both debug and release TC, and passed.

[2016-07-08 04:40] lemmaa commented on #6181
Anyway, we already have a https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/glossary.md . How about update this one?

[2016-07-08 05:52] leemgs commented on #6181
Thanks. I will send a PR after writing the original meaning of the other abbreviations.

[2016-07-08 05:57] leemgs commented on #3977
@parjong  Thank you for sharing the unit-test result. BTW, Could you keep the content of  `# CoreCLR Bin` Dir  to know the evaluation environment of the experimental device?

[2016-07-08 06:55] gkhanna79 commented on #6171
This is dup of https://github.com/dotnet/coreclr/issues/5837 which has been fixed. Please see the issue for workarounds.

[2016-07-08 07:08] parjong commented on #3977
@leemgs Unfortunately, CoreCLR Bin Dir line is not available for ``runtest.sh`` with ``--coerOverlayDir`` (which I use for testing). Instead, I usually kept the information in seprate place.

For the above result, I used CoreCLR with -O1 Release mode c29547fc155 with PR #6117, and TC with Release mode from 387d9fc0a.

[2016-07-08 07:54] sec opened #6184 "Wrong symlinkEntrypointExecutable define for FreeBSD"
This is defiend in - src/coreclr/hosts/unixcoreruncommon/coreruncommon.cpp
To get current process under FreeBSD, when using procfs, this should point to:
/proc/curproc/file

[2016-07-08 08:03] parjong commented on #6178
CoreCLR with Release build (on Release TC) also failed to execute those unittests:
[code]

[2016-07-08 08:47] chunseoklee opened #6185 "[arm32] throw exception does not set CONTEXT_UNWOUND_TO_CALL flag"
#6117 PR need more discussion.

One strange thing I found is that when we throw exception in csharp source as in `coreclr/tests/src/baseservices/exceptions/generics/try-finally-struct01.cs`, `frameContext->ContextFlags` is set to neither `CONTEXT_EXCEPTION_ACTIVE` nor `CONTEXT_UNWOUND_TO_CALL` at the beginning of  `UnwindManagedExceptionPass1`. In this situation, PC is out of range of proper EH ta

[2016-07-08 08:55] ewinnington commented on #6171
Thanks for the answer. I'll look into implementing the second solution:
_Create a custom AssemblyLoadContext and override its Load method to resolve the assembly._

Is there anywhere an example of a custom AssemblyLoadContext ?

[2016-07-08 09:47] janvorli commented on #6185
`CONTEXT_UNWOUND_TO_CALL` is set by the managed code unwinder when we unwind (on Windows, it is also cleared by the unwinder when we unwind to a trap frame, but that doesn't apply to Unix).
`CONTEXT_EXCEPTION_ACTIVE` is set only when we unwind to the frame where a hardware exception occured. That means that the PC is at the failing instruction and should not be augmented.
The fact that `frameConte

[2016-07-08 10:05] Meai1 commented on #3544
Hi, I have a problem. The offroad debugging instructions work but only if I compile the dotnet app on linux. Both .net core versions (linx+windows) are identical, shouldn't it be possible to build on windows and still have it attach/debug fine on linux?

Here is the error I'm getting:
![capture](https://cloud.githubusercontent.com/assets/1112157/16684204/1d87ef8a-4504-11e6-99d1-d496074a8cd0.PNG)

[2016-07-08 11:31] magol opened #6186 "Make ToFileTime understand DateTime.MinValue"
[DateTime.ToFileTime](https://msdn.microsoft.com/en-us/library/system.datetime.tofiletime(v=vs.110).aspx)
---------------------------
When you want to denote an unknown date in .NET, you normally use `DateTime.MinValue` or `default(DateTime)`.
The equality for a FileTime is `0` (See [WIN32_FILE_ATTRIBUTE_DATA structure](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365739(v=vs.85).asp

[2016-07-08 13:49] janvorli commented on #6008
@jkotas do you think this define might be useful in the future and so it is worth fixing or should we just remove it?

[2016-07-08 14:24] janvorli commented on #6178
It is likely related to #6185

[2016-07-08 14:26] chunseoklee commented on #6185
@janvorli Thank you for kind description.
Then, only one of two enums should be set in each unwind step ? It means that my PR is ridiculous and that it is sufficient to check only one of two flags. Am I right?

[2016-07-08 14:31] janvorli commented on #6185
@chunseoklee right, if you make the change I've suggested (and provided I am not mistaken), then the  change in your PR should not be needed.

[2016-07-08 14:35] chunseoklee commented on #6185
@janvorli Thank you for help.
I will update PR as you suggested.

[2016-07-08 15:04] jkotas commented on #6008
I think it may be potentially useful. @swaroop-sridhar is about to work on tweaks for gcinfo encoding and may find it useful.

[2016-07-08 15:54] gkhanna79 commented on #6184
CC @janvorli

[2016-07-08 15:55] gkhanna79 commented on #6171
Our [tests](https://github.com/dotnet/corefx/tree/master/src/System.Runtime.Loader/tests) have examples of using custom Load Context.

[2016-07-08 16:14] natemcmaster opened #6187 "AssemblyLoadContext: allow customizing key used lookup cached assemblies"
When AssemblyLoadContext triggers an assembly load, it first checks for cached assemblies already loaded. If I'm not mistaken, the key used for the cache is "Name+Version+Culture+PublicKey".

It would be useful to add additional assembly characteristics to the key (i.e. AssemblyInformationalVersion or AssemblyFileVersion).

Scenario: patch version upgrades to assemblies often carry the same name a

[2016-07-08 16:14] natemcmaster commented on #6187
cc @gkhanna79

[2016-07-08 17:25] janvorli commented on #6184
We should not be using procfs on FreeBSD, since it is not turned on by default. We should rather follow the NetBSD way and use the sysctl with KERN_PROC_PATHNAME.
NetBSD build falls back to procfs if the KERN_PROC_PATHNAME is not defined, but I don't know if that's necessary for FreeBSD too.

[2016-07-08 19:23] jamesqo opened #6191 "Adding a skipcsc option to the build script to run crossgen of mscorlib, but not compilation of C# => IL"
Right now it's impossible with the build script to get a good look at the outputted disassembly for mscorlib, mainly since this means you have to do a debug build of the runtime (e.g. so it'll understand environment variables like `COMPlus_NgenDisasm`) and a release build of mscorlib (so the IL won't be littered with `nop` instructions and the like). It would be nice if we could add a `skipcsc` op

[2016-07-08 19:30] jkotas commented on #6191
The right way to do this is to copy debug clrjit.dll into release directory.

[2016-07-08 19:46] jamesqo commented on #6191
Ah OK then, I hadn't thought of it the other way around. Never mind :smile:

[2016-07-08 19:46] #6191 closed

[2016-07-08 20:00] josteink commented on #6115
OK. Right now it seems the main blockers for having a 100% native FreeBSD ports package to happen is:

* Dotnet CLI is currently not built for FreeBSD (and cannot be built for FreeBSD?)
* CoreFX depends on Dotnet CLI to run build of managed components. There may also be other issues we'll discover once that dependency is fixed.

This definitely seems achievable, but right now the FreeBSD porting t

[2016-07-08 20:10] jasonwilliams200OK commented on #6115
@josteink, the current approach is described in this thread: https://github.com/dotnet/coreclr/issues/917#issuecomment-229637510. This is not straight-forward to build stage0 `dotnet` (aka muxer) on any OS (Unix-y or even otherwise), but it is possible.

I will spend some time and make it build for Alpine Linux (aports packaging system). If I get succeeded, I will try to do the same for FreeBSD po

[2016-07-08 21:28] BruceForstall commented on #5866
@sejongoh @mikedn @adiaaida @CarolEidt I'm planning to refactor x86 long decomposition code into its own file and class, per this issue request. Seems like a very good idea. It will cause nasty manual merge issues for anyone working on this code, however.

[2016-07-08 21:30] adiaaida commented on #5866
Thanks for the heads up.

[2016-07-08 21:44] natemcmaster commented on #6187
Btw, this could help us enable ASP.NET/EF Core tools on .NET Standard class library projects and improve how they work for .NET Core apps.

cc @NTaylorMullen @prafullbhosale

[2016-07-08 22:23] wtgodbe opened #6196 "CoreMangLib/cti/system/globalization/regioninfo/RegionInfoCurrentRegion test fails on Debian"
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x64_release_debian8.4_pri1_tst/51/testReport/CoreMangLib.cti.system.globalization.regioninfo/RegionInfoCurrentRegion/RegionInfoCurrentRegion/

The test fails with the following:

ERROR!!!-002: Unexpect exception:System.ArgumentException: There is no region associated with the Invariant Culture (Culture ID: 0x7F). Parameter name: name

[2016-07-08 22:29] ellismg commented on #5975
I looked into this a little bit.

The problem is not specific to docker, but rather a difference between when the app is running from build the output directory (i.e. via dotnet run) vs when it's running from the published folder (i.e. dotnet publish followed by dotnet <path-to-repro-dll-in-published-folder>.

The difference in these cases is that in the published case, the MEF implementation asse

[2016-07-09 04:09] jkotas commented on #6187
`AssemblyLoadContext` is used to resolve assembly references. The assembly reference (ie key for `AssemblyLoadContext`) is specified as exactly `Name+Version+Culture+PublicKey` in the [ECMA 335](https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/dotnet-standards.md) spec. The entire .NET ecosystem depends on this, it is not something that can be realistically changed.

Could

[2016-07-09 04:58] jkotas commented on #5975
These transparency checks should be wrapped with `if (Security::IsTransparencyEnforcementEnabled())` so that it does not run in CoreCLR.

[2016-07-09 11:56] leemgs commented on #5844
This comment is to Update my experience about 3,800 failures in case of the unit test with O3.  First of all, I am sorry for late comment because of the long vacation. Recently, I have got a strange phenomenon about this issue between real target device and our own linux/arm emulator. We cannot execute some unit tests on real target device (e.g., raspberry Pi2 board , ARM Chromebook ) However, we

[2016-07-09 16:35] ayende commented on #6160
Thanks, we can confirm that this is very likely something that we are doing (still investigating what exactly is causing it), thanks for pointing us in the right direction.

[2016-07-09 17:47] ayende commented on #6160
Hm...
Still probably our fault, but I would love to have your input on that.
We removed the code that we suspect cause this, and then stress tested it, it finally died in:
[code]

At this point, VerifyHeap / DumpHeap are not going to produce good output, because it is in plan phase.

Any suggestions as to how to approach it?

If this helps, the dump file for that is:
https://drive.google.com/file/

[2016-07-09 18:15] svick opened #6203 "Incorrect CultureInfo for RegionInfo"
When `RegionInfo` is created from a region name (without specifying culture, e.g. `new RegionInfo("SE")` for Sweden) on .Net Core, a culture is selected "randomly" (the first matching culture is selected) from available cultures for that region, instead of selecting the "primary" culture of that region, as is done on .Net Framework.

This can be seen from [this program](https://gist.github.com/svi

[2016-07-09 22:49] jkotas commented on #5844
These failures may be also caused by a Linux-arm specific bug in `FEATURE_64BIT_ALIGNMENT` -  just something to add to your list of potential culprits.

[2016-07-09 22:51] stephentoub opened #6206 "Environment.set_ExitCode doesn't change process' exit code"
set_ExitCode is supposed to enable changing the exit code of an app with a void-returning Main method, but on CoreCLR setting it doesn't propagate accordingly, e.g. set it to 42, and the process' exit code is still 0.

[2016-07-10 02:59] jasonwilliams200OK commented on #917
@schellap, after building the [muxer on alpine](https://github.com/dotnet/core-setup/pull/205#issuecomment-231561935), I:

* downloaded and extracted the `dotnet-ubuntu-x64.latest.tar.gz` in `core-setup/.dotnet_stage0` directory
* overwrote all the .a, .so files in `.dotnet_stage0/Linux/shared/Microsoft.NETCore.App/1.0.0` directory with corefx/bin, coreclr/bin and $HOME/muxer-build (except for cor

[2016-07-10 03:05] schellap commented on #917
If you see the ubuntu bits here, there would be an `$dotnet_root/sdk/` folder built in the CLI repo: https://dotnetcli.blob.core.windows.net/dotnet/Sdk/rel-1.0.0/dotnet-dev-ubuntu-x64.latest.tar.gz

[2016-07-10 12:43] jkotas commented on #6160
[code]

`00020202`00030202` is the same byte pattern in the target address of the crash as in the earlier dump. It suggest that the problem is still there. If you poke at the dump a bit, you can find similar byte array that seems to be written to beyond the end, like in the previous dump:

[code]

[2016-07-10 12:46] jkotas commented on #6160
What was the code that you have removed?

[2016-07-10 13:17] danmosemsft commented on #2317
@scottdorman

Broadly, the criteria we're right now using for growing .NET Core API parity include: is it available to Xamarin mobile apps at the base class layer (and if implemented - we implement). That certainly includes many types and members that already have alternatives, or are problematic in one way or another, but it's important to us that we make it easy for existing code to work on .NET

[2016-07-10 15:25] stephentoub opened #6209 "Environment.StackTrace includes unnecessary internal calls"
With the move of Environment to corefx, StackTrace now goes through up to two additional call sites (Environment.StackTrace in corefx => EnvironmentAugments.StackTrace in coreclr => Environment.StackTrace in coreclr).  We should fix up the implementation to avoid this.

(Original comment from @jkotas: https://github.com/dotnet/coreclr/pull/6205#discussion_r70182553)

[2016-07-10 15:47] ayende commented on #6160
It is an optimized version of LZ4.
The relevant commits doing the revert are:
https://github.com/ayende/ravendb/commit/22518f150b3c8ada2d68bf9599b0643c9d99a766
https://github.com/ayende/ravendb/commit/c1af384e295c95a3b030e4aa71c8bf4e7fb798d5

But I think that this issue still exists, before the revert, this would reproduce in about 10 runs of our tests.
Without this, it would reproduce in one in 8