[2017-07-22 16:00] sdmaclea commented on #5928
IOCP is not directly available on Linux, but perhaps PAL could provide reasonable emulation @janvorli Is this already implemented, planned or feasible.

[2017-07-22 16:23] AndyAyersMS commented on #12949
Incomplete fix attempt: https://github.com/AndyAyersMS/coreclr/tree/FixDeadBox. Copy is now walled off in second statement, but still not clear how to extract just the "source" side effects on the copy.

[2017-07-22 18:27] mikedn commented on #12983
Well, TYP_BOOL is complicated, kind of redundant and debatably broken at the same time.

It turns out that any GT_IND node can have TYP_BOOL, not only those created by fgMorphRecognizeBoxNullable. Such nodes are created from bool field loads. Obviously, there is 0 guarantee that bool fields do contain only 0 and 1 so any optimization that relies on this is broken. How much broken remains to be see

[2017-07-22 20:28] mikedn commented on #9179
It is possible to have `optAssertionProp_Cast` check for `OAK_NO_THROW` assertions, they imply that the index is positive and thus a signed cast can be turned into an unsigned cast. That means that instead of `movsxd` instruction we end up generating a shorter and 0 latency `mov` instruction. Saves about 7K in jit-diff fx and a tiny loop I tested with becomes 50% faster.

Unfortunately this fails

[2017-07-22 23:50] roterdam commented on #12207
This is an interesting bug, I would have imagined pointer size reads/writer aligned are always atomic (at least on x86). Why does the Microsoft C++ compiler do a memset here as an "optimization"? Wouldn't it be slower?

Also this makes me think a whole ton of C++ code would be broken out there because it doesn't feel like an esoteric thing to do, but seems like it's rare enough. Any ideas on why t

[2017-07-23 00:07] swgillespie commented on #12207
The C++ standard does not guarantee this; this is why `std::atomic` exists.

"Because it can" is one answer. Since the standard does not guarantee atomicity of writes, it would be perfectly legal to transform a loop into a memset in this manner. Memset tends to be highly optimized and, if the loop is long enough, the overhead of the call will be dwarfed by the performance of memset.

`MSVC`, `clan

[2017-07-23 00:27] #12935 closed

[2017-07-23 04:59] jkotas commented on #12982
cc @sdmaclea

[2017-07-23 07:54] mikedn commented on #12207
Eh, some would argue that the standard doesn't guarantee that to allow implementation on a broad range of hardware, not to excuse "anything goes" goes behavior in compilers. Whatever, it is what it is.

I'm more concerned with the performance of the fix. As far as I can tell the modified code is used by `Array.Clear` so its performance is quite relevant. The code generated (by VC++ at least) when

[2017-07-23 09:39] hseok-oh commented on #11783
When #12951 is merged, it generate assertion on legacy JIT windows arm32:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_checked_windows_nt/23

I'll investigate it on linux/arm32, and if I fail to find reason, it's better to make new PR to not affect legacy JIT.

Assertion message
[code]

<details><summary>Failure tests </summary>

[code]

</details>

[2017-07-23 12:29] cydhaselton commented on #12982
@jkotas @sdmaclea I have a PR in for this issue, made after submitting it #12986

[2017-07-23 12:56] liorss18 opened #12987 "Server background GC does not compact at >50% generation 2 fragmentation"
We have a service application running in IIS on Windows Server 2012, .NET 4.6.1, x64, 8 logical processors, 48GB RAM, pagefile disabled, server concurrent GC. Over the course of multiple days, its generation 2 size grows from ~5GB to ~13GB and more, up to a point where Windows kills the process because of the "low virtual memory" notification. During this period, there are approximately 200 gen 2

[2017-07-23 14:32] sturlath commented on #3338
@stephentoub your urls not working. This works https://github.com/dotnet/apireviews/tree/master/2015/07-14-securestring

[2017-07-23 14:37] sturlath commented on #3338
https://github.com/dotnet/apireviews/tree/master/2015/08-11-process-and-securestring

[2017-07-23 16:35] adamrodger opened #12988 "Constructor Using Dynamic Type Not Visible When Using InternalsVisibleTo"
I have a class in `ClassLibrary1` like this:
[code]
And then in `OtherLibrary` I have a test:
[code]

**Expected Result**: Running the test passes and "Success!" is written to the console
**Actual Result**:
[code]

If I change the constructor to take an explicitly typed object (e.g. pass a string directly) then the test passes. If I make the constructor public then the test also passes. It's only

[2017-07-23 17:06] AndyAyersMS commented on #12949
Added some tweaks to the fix attempt. It can now get through corelib without blowing up, though the preservation of source side effects for struct copies is ad-hoc and ugly.

511 methods impacted, overall net around zero size, but some big regressions. One such case is generic ObjectEqualityComparer IndexOf on value types. Here the IL contains the following (where CSC looks like it already clones

[2017-07-23 17:41] AndyAyersMS commented on #12949
Ah,  it seems loop cloning can't spot array indices in the `&a[i]` case. So the current jit doesn't spot that by cloning it could remove the range check (probably a good thing...). But now the preserved side effects from the box create something like `a[i]` as well, which loop cloning spots and decides to optimize.

We don't need an explicit load from the source of the box, we just need a null che

[2017-07-23 19:00] jkotas commented on #12988
This issue was moved to dotnet/corefx#22536

[2017-07-23 19:00] #12988 closed

[2017-07-23 19:12] mikedn commented on #12949
To be clear, this bug exists in both JIT32 and RuyJIT that ships with .NET Framework 4.7. You just need to use `== null` instead of `!= null`. The GT_GT -> GT_NE just enables this broken transform to also run for `!= null`.

[2017-07-23 19:27] cydhaselton opened #12989 "Android nuget package build broken in runtime.Linux.Microsoft.NETCore.Runtime.CoreCLR.props"
The Android conditional set up to exclude `libsosplugin.so` and `createdump` from being included in packages is broken; the following code no longer works:

[code]
[link](https://github.com/cydhaselton/coreclr/blob/master/src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/runtime.Linux.Microsoft.NETCore.Runtime.CoreCLR.props#L11)

Replacing the line with the following conditionals allows the build to fi

[2017-07-24 02:00] jyoungyun opened #12990 "[RyuJIT/ARM32] Assertion failed 'size >= sizeof(int)'"
# Description
Assertion:
[code]

# Failed case
[code]

[2017-07-24 02:00] jyoungyun commented on #12990
@BruceForstall Please assign to me.

[2017-07-24 04:37] hseok-oh commented on #11783
I've success to reproduce same failure on my linux/arm environment, and I found why this failure occured. I'll make new PR soon.

[2017-07-24 06:27] wateret opened #12992 "[RyuJIT/armel] Assert Failure `genIsValidDoubleReg(regRec->regNum)`"
Failed Tests
- JIT/Methodical/fp/exgen/10w5d_cs_do/10w5d_cs_do.exe
- JIT/Methodical/fp/exgen/10w5d_cs_ro/10w5d_cs_ro.exe
- JIT/Regression/CLR-x86-JIT/V1-M12-Beta2/b59782/b59782/b59782.exe

Backtrace (10w5d_cs_do.exe)

[code]

[2017-07-24 07:00] YongseopKim opened #12993 "[RyuJIT/ARM32] CoreMangLib.system.delegate.VSD.OpenDelegate.OpenDelegate failed"
[code]

/cc @dotnet/arm32-contrib

[2017-07-24 07:01] YongseopKim commented on #12993
[code]

on x64
[code]

on arm32
[code]

[2017-07-24 07:08] YongseopKim commented on #12993
[code]

[code]

[code]

[2017-07-24 07:37] wateret opened #12994 "[RyuJIT/armel] Assert Failure `farthestRefPhysRegRecord != nullptr`"
[code]

Failed Tests

- JIT/Methodical/NaN/r8NaNrem_cs_do/r8NaNrem_cs_do.exe
- JIT/Methodical/NaN/r8NaNrem_cs_ro/r8NaNrem_cs_ro.exe
- JIT/Methodical/divrem/div/overlddiv_cs_do/overlddiv_cs_do.exe
- JIT/Methodical/divrem/div/overlddiv_cs_ro/overlddiv_cs_ro.exe
- JIT/Methodical/divrem/rem/i4rem_cs_do/i4rem_cs_do.exe
- JIT/Methodical/divrem/rem/i4rem_cs_ro/i4rem_cs_ro.exe
- JIT/Methodical/divrem/rem/

[2017-07-24 07:52] YongseopKim commented on #12993
I'm investigating whehter the jitted code is right.

[code]

jitdump of `RunDynamicInvoke`
[code]

[2017-07-24 07:58] YongseopKim commented on #12993
I don't know why r2 is set

[code]

[2017-07-24 09:59] jyoungyun commented on #12990
This is a call stack.
[code]

After adding below codes:
[code]

New assertion generated:
[code]

I think this assertion is not related to code changes.

Original gen tree:
[code]
But after some logic is executed:
[code]
After doing lsra, t2499 has a t6841 as a child instead of t5197. And t6841 is GT_RELOAD node.
GT_RELOAD means that it is reloaded to a different register.
[code]
And here is code g

[2017-07-24 10:12] janvorli commented on #5928
We don't have IOCP implemented in PAL and there are no plans to add it. As for feasibility to implement that on Linux, I don't have a clear idea on that. But it looks like it depends on Windows ThreadPool that isn't implemented in PAL either, so it seems it would be a pretty complex change.

[2017-07-24 10:36] danwalmsley commented on #12739
@steveharter Ok I don't know why the error message changed, i rebuilt from scratch and the error went back to original one. I have attached a new log file, and linked a youtube video so you can see what is happening.

youtube shows me using the console in vscode to invoke the app, and it working.
then me using terminal, and it not working.

[avalonstudio.txt](https://github.com/dotnet/coreclr/file

[2017-07-24 12:10] kouvel commented on #5928
On Linux since the PAL has control over the wait queue, for this purpose it could be tweaked to offer a LIFO semaphore. IOCP is just a handy way of implementing that on Windows.

[2017-07-24 13:37] alpencolt opened #12997 "[RyuJIT/ARM32] Numerous "InvalidProgramException while compiling method ..." while using crossgen"
There about 23000 messages while compiling `System.Private.CoreLib.dll` using `crossgen` whin `libprotoji.so`.
For compiling I use `ReadyToRun`  and `FragileNonVersionable` modes:
[code]

Compiled `*.ni.dll` has smaller size (8122368 vs 13660160 legacy JIT).

cc @dotnet/arm32-contrib

[2017-07-24 13:38] alpencolt commented on #12997
@BruceForstall could you assign this issue to me?

[2017-07-24 14:22] alpencolt opened #13000 "[RyuJIT/ARM32] Full list of NYI_ARM"
There is list of `NYI_ARM`. Some of them are obsolete and can be removed, another ones are optimizations and can be implemented in future.
Almost all of this list aren't covered by testsuit. So please let me know if some of this `NYI` are already assigned or can be removed. Information about which ones are optimizations and not important for us now is also will be useful.

**Structs:**
- `./jit/co

[2017-07-24 14:38] AndyAyersMS commented on #12949
I suspected JIT32 and older RyuJits had the same bug. Thanks for pointing out an example. Would be interesting to know if JIT64 has it too (not as likely) and how far back it goes.

[2017-07-24 14:50] AndyAyersMS commented on #12949
Looks like JIT64 is ok. The bug is there in JIT32 in v2.0.

[2017-07-24 14:50] mikedn commented on #12949
JIT64 works fine. It does the transform and keeps the relevant side effects. For `return (a.k == null);` it generates:
[code]

Hmm, all my machines already have .NET 4.7 so I don't know about other 4.x versions. But I tried with the .NET 2.0 x86 runtime and the bug is there too. It's probably safe to say that the bug exists since this optimization was introduced.

[2017-07-24 14:58] mikedn commented on #12949
It's kind of funny that if a `struct` is used instead of `int` JIT64 keeps a copy of `a.k` to a temporary. Loading a single byte from `a.k` would have been enough to preserve the side effect.

[2017-07-24 15:06] AndyAyersMS commented on #12949
My prototype just tries to read the first byte, though it would be somewhat less hacky to just copy the struct into a temporary.

I had hoped to use `GT_NULLCHECK` but it has limitations.

[2017-07-24 16:04] BruceForstall commented on #12971
cc @dotnet/arm32-contrib

[2017-07-24 16:14] #12904 closed

[2017-07-24 16:17] #12958 closed

[2017-07-24 17:17] #8093 closed

[2017-07-24 17:40] AndyAyersMS opened #13006 "Consider creating a ranged version of CORINFO_HELP_ASSIGN_BYREF"
We often see numerous back to back calls to this helper that could be trivially turned into one call with a count. For instance:
[code]
Each call does a series of range checks, a write, a card table update, and src/dest pointer updates, so there is a lot of overhead here that could be reduced via ranged version.

[2017-07-24 17:42] mikem8361 commented on #12851
There are still problems loading a libsosplugin.so built for lldb 3.6 (like in our official builds) but loading it under lldb 3.9.  I still have a work item to get our official (portable) builds to build against 3.9.  It should make for 2.1.

[2017-07-24 19:47] sdmaclea commented on #6476
#13007 is the fix I drafted for this.

[2017-07-24 20:24] Bhaal22 opened #13008 "TimeZoneId not consistent across operating systems"
- 2.0.0-preview2-006497

This fragment works perfectly on Windows operating Systems
[code]

And fail on my linux operating system:

[code]

To Fix it:
[code]

And of course, this version fails on windows.
It looks like we cannot really have portable code accross operating systems for the TimeZoneIds

[2017-07-24 20:31] mar10m3n3z35 commented on #917
I am in the process of containerizing my services however I observed that the Microsoft’s official docker image which is based on Debian do not pass the Claire Vulnerability Scan (https://security-tracker.debian.org/tracker/), please let me know when version of dotnet based on Alpine will be released, or if there is a preview version that I can use.

[2017-07-24 21:06] omajid opened #13009 "coreclr fails to build with glibc 2.26"
I cant build coreclr with a very recent version of glibc:

    builddir/build/BUILD/dotnet-sdk-2.0.0-preview2-006497/src/coreclr/src/pal/src/include/pal/context.h(162,66): error G6247A3BF: no member named 'padding' in '_libc_fpstate' [/builddir/build/BUILD/dotnet-sdk-2.0.0-preview2-006497/targets/repository.proj]
          return reinterpret_cast<_fpx_sw_bytes *>(&FPREG_Fpstate(uc)->padding[12]);

[2017-07-24 21:24] steveharter commented on #12739
From the log, it looks like a previous version of dotnet was installed as it is finding the dotnet executable version 1.0.1 instead of 2.0 preview version. Although I'm not aware of any problems with this (as it should be in "muxer" mode and just forward to the 2.0 preview location) can you please try to replace the dotnet executable with the 2.0 version? At least we can rule that out and then go

[2017-07-24 21:49] janvorli commented on #13009
@omajid thank you for pointing it out. What distro has such a glibc? I'd like to fix it.

[2017-07-24 22:20] #3837 closed

[2017-07-24 22:20] janvorli commented on #3837
Issue moved to [dotnet/cli #7246](https://github.com/dotnet/cli/issues/7246) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-24 22:27] janvorli commented on #12912
@4creators I believe the ARM64 toolchain for Windows is not public yet.

[2017-07-24 22:31] omajid commented on #13009
No problem! I was doing this build today on current Fedora rawhide - basically the in-development version of Fedora that will become Fedora 27. [This page](https://fedoraproject.org/wiki/Releases/Rawhide#Using_Rawhide) has some steps on how to install Rawhide.

[2017-07-24 22:38] janvorli commented on #12765
Fixed by #12815

[2017-07-24 22:38] #12765 closed

[2017-07-24 22:39] #12740 closed

[2017-07-24 22:40] #12739 closed

[2017-07-24 22:40] janvorli commented on #12739
Issue moved to [dotnet/cli #7247](https://github.com/dotnet/cli/issues/7247) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-24 22:40] BruceForstall commented on #11846
I verified these all pass now.

[2017-07-24 22:40] #11846 closed

[2017-07-24 22:41] #12648 closed

[2017-07-24 22:42] #12645 closed

[2017-07-24 22:42] janvorli commented on #12645
Issue moved to [dotnet/cli #7248](https://github.com/dotnet/cli/issues/7248) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-24 22:44] BruceForstall commented on #12906
@jashook Can this issue also be closed (after you verify all the test cases pass), with #12943?

[2017-07-24 22:51] janvorli commented on #12446
Issue moved to [dotnet/cli #7249](https://github.com/dotnet/cli/issues/7249) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-24 22:51] #12446 closed

[2017-07-24 23:04] janvorli commented on #12035
@Priya91 ping :-)

[2017-07-24 23:11] #5509 closed

[2017-07-24 23:27] tarekgh commented on #13008
Duplicate of https://github.com/dotnet/corefx/issues/2538

We are tracking this in the future work.

[2017-07-24 23:27] #13008 closed

[2017-07-24 23:55] Priya91 commented on #12035
@janvorli I don't own this anymore, but sequential is not supposed to pass /m option. If that doesn't happen then it's a bug. cc @maririos

[2017-07-25 00:51] Maoni0 commented on #12207
Yep, when we were discussing this internally perf was a concern. Opening an issue to track the perf is a good idea so this doesn't get lost. I'll open one.

[2017-07-25 01:01] pgavlin commented on #7290
@CarolEidt I think this has been resolved, no?

[2017-07-25 01:05] CarolEidt commented on #7290
Ah yes - I'd forgotten that I'd even filed an issue on this. Fixed with #12857

[2017-07-25 01:05] #7290 closed

[2017-07-25 01:07] Maoni0 opened #13015 "optimizing the memory set loop with size requirements the right way"
When you have this code:

` for (size_t i = 0; i < nPtrs; i++)
        *memPtr++ = 0;`

even though you need memPtr to be cleared as pointers, the compiler can replace this with a memset which will set by bytes. So when you read this memory you can read a partially cleared pointer value which obviously will cause problems. We had to declare memPtr [to be volatile](https://github.com/dotnet/coreclr

[2017-07-25 05:55] noahfalk opened #13019 "Tiered jitting: startup perf regression when tiered jitting is enabled"
While testing #12193 (which is about to be checked in) I discovered I wasn't getting the expected perf win when tiered jitting was enabled. I tracked the issue to a regression I caused while optimizing the Prestub for the non-tiered jitting case.

The default PrepareCodeConfig isn't querying the TieredJittingManager for the jit flags on default code versions. This results in all methods jitting th

[2017-07-25 06:07] mjsabby commented on #12764
Also commenting here for completeness: We should stick to the SourceLink specification (https://github.com/dotnet/core/blob/master/Documentation/diagnostics/source_link.md) regardless of what tool we end up using to stamp the pdb.

Specifically injecting something like the following into the PDB (got this from the source link spec):

{
    "documents": {
        "C:\\src\\CodeFormatter\\*": "https

[2017-07-25 06:30] Jiayili1 opened #13020 "Core Tests: All work items have fireball on ubuntu.1610.amd64"
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170725.01

Core Tests: All work items have fireball on ubuntu.1610.amd64

[2017-07-25 06:45] Jiayili1 commented on #13020
This issue is also repro on Ready-To-Run Tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fr2r~2Fcli~2F/build/20170725.01

[2017-07-25 07:13] davmason opened #13021 "Ready2Run images are still loaded when COR_PRF_DISABLE_ALL_NGEN_IMAGES is set"
From the profiler's point of view, it does not know about the differences between R2R and NGEN. There is a profiler flag to set `COR_PRF_DISABLE_ALL_NGEN_IMAGES`, to ensure that no pre-generated code is loaded.

However, this flag does not prevent the loading of R2R images. This is an issue for the profiler because pre-generated code cannot be instrumented, such as enter/leave callbacks, does not

[2017-07-25 08:15] wateret commented on #12994
Last few RefPositions before crash:

[code]

`RefPosition #4099`'s register candidates are (r0, r1).

[code]

And both candidates are not chosen by this `if` statement.

[code]

[2017-07-25 09:11] Bhaal22 commented on #13008
Thank you @tarekgh

[2017-07-25 11:18] wateret commented on #12994
[code]

I guess the argument registers must be fixed. So maybe this part should be like:

[code]

[2017-07-25 12:47] benaadams opened #13024 "Vector.Narrow/Widen (s)byte intrinsic doesn't codegen; (also coreclr/corefx mismatch)"
Using code as follows
[code]
VS Disassemblly shows
[code]

Trying to build coreclr to get a good repo and proper jit output check (and make sure am use right version of Jit); though having some issues with build 😢

Ideally I wanted to use `Vector<Byte> Narrow(Vector<UInt16> low, Vector<UInt16> high)`; but that didn't seem to trigger it so switched to `short`->`sbyte` as while the corefx overloads

[2017-07-25 13:12] benaadams opened #13025 "Fresh clone == build error: `NU1003: PackageTargetFallback and AssetTargetFallback cannot be used together.`"
**error NU1003: PackageTargetFallback and AssetTargetFallback cannot be used together.
Remove PackageTargetFallback(deprecated) references from the project environment.**

[code]
Referenced directory `C:\GitHub\coreclr\bin\Logs` created but completely empty

[2017-07-25 13:48] JosephTremoulet commented on #9179
I wonder if it would be worth having an operator like `GT_ASSUME` to feed info to assertion prop (and that would get removed by rationalize or something); then loop cloning could leave an assume in place of the removed bounds check.

[2017-07-25 14:02] mikedn commented on #9179
We could probably have loop cloning preserve the range check and set GTF_ARR_BOUND_INBND so it is removed at a later time. But that may mean that assertion prop will do more work because it encounters more range checks.

I'll have to check if there other assertion kinds that can be used for this, loop cloning conditions should generate some.

There's also the question if loop cloning should be don

[2017-07-25 14:42] mikedn commented on #9179
I'm dumb, in the common case there will be no loop cloning conditions. There are probably only two ways to get this trick to work after loop cloning:
* keep the range checks (or replace them with something like GT_ASSUME)
* have RangeCheck do the cast conversion from signed to unsigned - probably too expensive to be worth it

[2017-07-25 15:21] RussKeldorph commented on #12826
@janvorli This doesn't feel like codegen.  Was that a mis-label?  VM or TypeSystem maybe?

[2017-07-25 15:22] vancem commented on #12015
This fix has been merged in PR #12022, we can close the issue.

[2017-07-25 15:22] #12015 closed

[2017-07-25 15:29] Petermarcu commented on #917
@janvorli has been working on getting everything building again. @janvorli can you give folks watching this issue an update?

[2017-07-25 15:33] RussKeldorph commented on #12641
@dotnet/coreclr-contrib @dotnet/corefx-contrib If this is interesting and codegen needs to implement part or all of it, feel free to add `area-Codegen` back.

@dotnet/jit-contrib

[2017-07-25 15:41] #12950 closed

[2017-07-25 15:42] RussKeldorph commented on #12480
@russellhadley Have you looked into this or the original issue (Microsoft/visualfsharp#2224)?

@dsyme If I'm reading the discussion in Microsoft/visualfsharp#2224 correctly, the title of this issue should be "RyuJIT/x64 ..." as that is what you should get when `useLegacyJit` is disabled on Win10.  JIT64 is the name of the JIT you get when `useLegacyJit` is enabled.  FYI.

[2017-07-25 15:46] janvorli commented on #917
I have made a small change that fixes native part of CoreCLR build on Alpine Linux. There was no change needed for CoreFX native stuff. I am not expecting to have any issues with Core-Setup native parts either.
I will send out a PR for the CoreCLR fixes later today.

Also, here is a Dockerfile that I am using to build Alpine docker container with all stuff necessary to build CoreCLR, CoreFX and Co

[2017-07-25 15:46] RussKeldorph commented on #12233
@weshaggard @wtgodbe What's the ETA on a fixed csc?

@dotnet/jit-contrib

[2017-07-25 16:08] mjsabby commented on #12610
@noahfalk I think we're good on this, we do use the APIs you mentioned and I'll update it. Conceptually things should work for our profilers but have to make code changes.

[2017-07-25 16:22] janvorli commented on #12826
@RussKeldorph I am sorry, that was a mis-labeling.

[2017-07-25 16:39] benaadams commented on #13025
Think is buildtools, have filed issue https://github.com/dotnet/buildtools/issues/1617

[2017-07-25 16:53] weshaggard commented on #12233
Updating the csc compiler is on @chcosta's plate.

[2017-07-25 17:56] #12886 closed

[2017-07-25 18:22] russellhadley commented on #13024
Thanks for the heads up.  @JosephTremoulet for visibility.

[2017-07-25 19:51] mar10m3n3z35 commented on #917
Thanks @janvorli

I tried using your docker file however when I tried to run my application in it it gave me an error

**container_linux.go:247: starting container process caused "exec: \"dotnet\": executable file not found in $PATH"**

# Install .NET Core
ENV DOTNET_VERSION 2.0.0-preview2-25407-01
ENV DOTNET_DOWNLOAD_URL https://dotnetcli.blob.core.windows.net/dotnet/Runtime/$DOTNET_VERSION/dotne

[2017-07-25 19:55] janvorli commented on #917
@mar10m3n3z35 I am sorry, I was probably not clear. This Docker file creates environment for building native parts of coreclr / corefx / core-setup repos, not for running dotnet tools. There is no version of dotnet core tarball that can work on Alpine (due to its usage of MUSL library) yet. Fixing the build is just the first step towards that.

[2017-07-25 21:12] 4creators commented on #12859
I am interested in grabbing this issue. The only problem is that I have not seen Corl Eidt's PLDI'16 workshop and to write docs I would need some notes or slides.

[2017-07-25 21:13] 4creators commented on #12859
/cc @janvorli @RussKeldorph

[2017-07-25 21:24] CarolEidt commented on #12859
@4creators - that would be great! When this issue was opened, I had planned to update the slides and translate them to md, and clean them up, but that's a bit of work so I hadn't gotten started on it. I will find and post either the slides or an md version by EOD tomorrow. Then you can go through them and see what works & what doesn't and what needs cleaning up, and I'll try to respond quickly to

[2017-07-25 21:24] CarolEidt commented on #12859
P.S. I think it will actually be good for someone not as intimately familiar with the JIT to do this, because you'll be a better judge of what isn't clear.

[2017-07-25 21:34] 4creators commented on #12859
Thank for fast response, I will be waiting for slides and notes :)

[2017-07-25 23:34] redknightlois opened #13037 "Proposal: Static call to the OS GetCurrentThreadId"
I needed the Thread ID to implement some thread aware object pooling mechanism in a very high-traffic and tight hot-spot and was looking to use the Thread ID with a similar implementation to the OS GetCurrentThreadId (and inlined if possible).

[code]

However, accessing that would either require me to p/Invoke (I don't have to tell how horrible that code is for a high-traffic tight hot-spot) or u

[2017-07-25 23:52] jashook commented on #12906
Confirmed these no longer repro.

[2017-07-25 23:52] #12906 closed

[2017-07-26 00:01] benaadams commented on #13024
Vectorization test https://github.com/aspnet/KestrelHttpServer/pull/1968, specific [Vectorized line](https://github.com/benaadams/KestrelHttpServer/blob/fbe142c781348c417d439ae8a441a6d1a3de1264/test/Microsoft.AspNetCore.Server.Kestrel.Performance/StringToAsciiBytesBenchmark.cs#L115-L118)

Issue
[code]

EncodingAsciiGetBytes = Encoding.ASCII.GetBytes
KestrelAsciiCharsToBytes = Hand written narrow
K

[2017-07-26 00:47] BruceForstall commented on #12660
@hqueue @parjong @sjsinju Does this bug only happen for LEGACY_BACKEND, or does it (still) happen for RyuJIT as well?

[2017-07-26 02:13] rartemev opened #13046 "Remove Roslyn workaround when we get fixed compiler"
Remove the following lines https://github.com/dotnet/coreclr/blob/master/tests/src/dir.targets#L53-L56
as soon as we get Roslyn with fixed issue https://github.com/dotnet/roslyn/issues/20343

[2017-07-26 06:40] #12626 closed

[2017-07-26 06:40] #12601 closed

[2017-07-26 06:52] dotnet-mc-bot opened #13048 "Test failure: JIT_Directed._pinvoke_tail_tail_/_pinvoke_tail_tail_cmd"
Opened on behalf of @Jiayili1

The test `JIT_Directed._pinvoke_tail_tail_/_pinvoke_tail_tail_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\3149f6cd-d217-4f59-b062-5ab5811edeb5\Work\c99d960e-07ec-4250-9c74-e95bb720aaef\Unzip\Reports\JIT.Directed\pinvoke\tail\tail.output.txt
    Raw output:
    BEGIN EXECUTION\r
     "C:\dotnetbuild\work\3149f6cd-d217-4f59-b

[2017-07-26 06:57] raffaeler commented on #12764
@mjsabby I still can't understand if there is any way to get it work with the current bits.
I am trying with gitlink with no luck, but if you tell me that it works with sourcelink or any other way, it is fine for me.
Please note that I would need to make it work with both (or alternatively) native and managed code.

Thank you

[2017-07-26 06:58] Jiayili1 commented on #13048
This test also failed on Ready-To-Run tests, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fr2r~2Fcli~2F/build/20170725.03/workItem/JIT.Directed.XUnitWrapper/analysis/xunit/JIT_Directed._pinvoke_tail_tail_~2F_pinvoke_tail_tail_cmd

[2017-07-26 07:04] sjsinju opened #13049 "[RyuJIT/ARM32] Assertion failed 'this->OperIsBinary()'"
in Pr0 test
[code]

Failed tests
[code]

[2017-07-26 07:06] sjsinju commented on #13049
@BruceForstall  Please assign this to me.

[2017-07-26 08:52] #11783 closed

[2017-07-26 09:16] chunseoklee opened #13051 "Exception thru PInvoke"
I am testing the following code.
[code]
libupcall.so is based on the following C source code
[code]
dotnet run exits with unhandled exception as follows.
[code]
here is corefile bt.
[code]
Is this normal behavior that catch block on Main function not catch exception ?

[2017-07-26 09:32] janvorli commented on #13051
Exception crossing managed to native boundary (like in your case when a callback is called from native code and it throws an exception) are intentionally not supported on dotnet core. You'll need to catch all exceptions in your callbacks that you call from native code.

[2017-07-26 09:44] janvorli commented on #13051
One of the reasons is that we don't really know how to propagate exception through the native code that called the managed callback since we have no idea what kind of code was it. It could have been C code, C++ code, ASM code or in fact any other language code.  If we just skipped those frames and it was e.g. C++, we would not be calling destructors of stack objects, thus possibly leaking memory o

[2017-07-26 10:03] chunseoklee commented on #13051
Thank you very much.

[2017-07-26 10:03] #13051 closed

[2017-07-26 10:35] ayende commented on #13037
In other places we are caching the thread id in a thread static var, but that has its own issues.

[2017-07-26 10:54] jkotas commented on #13037
There is `Environment.CurrentManagedThreadId` that does almost what you want. It is a bit slower than what it needs to be because of it is coupled with managed thread id, but pretty close.

This method is not used anywhere. It would be nice to delete it.

[2017-07-26 10:58] jkotas commented on #13037
What would you propose the method to return exactly on Windows and Unix? There are multiple different options on each OS... .

[2017-07-26 11:29] benaadams commented on #13024
Same with `Vector.Widen(Vector<sbyte>, out Vector<short>, out Vector<short>)`

[code]

[2017-07-26 11:36] mikedn commented on #13024
TYP_CHAR is really TYP_USHORT. In general, there should be no difference in the JIT's handling of char and ushort.

[2017-07-26 11:45] benaadams commented on #13024
Just highlighting there is no (s)byte sized item in `IMD_INTRINSIC("Narrow"`

[2017-07-26 11:50] 4creators commented on #12912
@janvorli  My assumption was that it could be the reason. Would it be possible to change usage info in build.cmd to indicate that this is not officially supported scenario and build will fail until tools are realeased? I can make PR with proposed wording.

[2017-07-26 13:01] ygc369 commented on #12426
@Maoni0
Please consider this idea: https://github.com/dotnet/coreclr/issues/555
Have the OS group replied you?

[2017-07-26 13:28] #12391 closed

[2017-07-26 14:13] redknightlois commented on #13037
Unless the id can be bigger I would go with Long as the return type. I don't know if there is any OS out there that uses an ID bigger than 64bits.

[2017-07-26 14:52] sdmaclea opened #13053 "[Arm64 Windows] Use portable MP optimized new/alloc"
#12333 "[Arm64 / Windows] Use portable MP optimized new/alloc" did not include Windows due to a Contract violation.  Debug contract violation and enable for Windows

category:cq
theme:helpers
skill-level:intermediate
cost:small

[2017-07-26 14:57] benaadams commented on #13024
[Widen use](https://github.com/benaadams/KestrelHttpServer/blob/a7cd870286badf70e1876feee45f312daba69a23/test/Microsoft.AspNetCore.Server.Kestrel.Performance/AsciiBytesToStringBenchmark.cs#L164) can't use it in mainstream code as performance is quite bad https://github.com/aspnet/KestrelHttpServer/pull/1968#issuecomment-318077796

[code]

[2017-07-26 16:08] benaadams commented on #13024
Shame as (s)byte<->char/short/ushort is my main use case 😢

[2017-07-26 16:26] RussKeldorph commented on #12480
@dotnet/jit-contrib

[2017-07-26 16:57] #12907 closed

[2017-07-26 17:00] alpencolt opened #13056 "[RyuJIT/ARM32] Assertion failed 'genIsValidDoubleReg(reg->regNum)' in updateAssignedInterval()"
Not the same as #12992.
Occurred in `LinearScan::updateAssignedInterval()`. Code to reproduce (based on `System.Math:Clamp(double,double,double):double`):
[code]

cc @dotnet/arm32-contrib

[2017-07-26 17:03] alpencolt opened #13057 "[RyuJIT/ARM32] Assertion failed 'reg1 != reg2'"
Occurred when I tried to compile `System.Private.CoreLib.dll` by `crossgen`.

[code]

cc @dotnet/arm32-contrib

[2017-07-26 17:08] weshaggard commented on #11828
Fixed with https://github.com/dotnet/coreclr/pull/12526

[2017-07-26 17:08] #11828 closed

[2017-07-26 17:25] alpencolt commented on #12997
I've used incorrect arguments for `crossgen`. Proper way to compile code with RyuJIT is:
[code]
Option `/JITPath` doesn't allow to use RyuJIT since there is check in `coreclr/src/jit/compiler.cpp:5719`:
[code]

Knobs `COMPlus_AltJit=* COMPlus_AltJitNgen=*` are mandatory.
@BruceForstall is it possible to add more detailed error message for this case (or maybe change logic)?

2 new assertion found f

[2017-07-26 17:40] alpencolt commented on #13057
Could you assign this issue to me? I will look on it.

[2017-07-26 17:46] redknightlois commented on #13037
Linux TID is 32 bits (pid_t) and so is Windows. I would just sign extend it to be on the "safe" side. Given that 64 bits is big enough by current and probably medium term architectures pointers standards... In the worst case you can just return the pointer to the Thread descriptor (which would work anyways as a UniqueId anyways).

In the worst case, instead of ```ThreadId``` we can go for ```Threa

[2017-07-26 18:03] BruceForstall commented on #12997
I'm sure something is possible; I've had problems with this as well. I assume what's happening is the JIT returns CORJIT_SKIPPED, and the VM doesn't expect that, or have a fallback, so throws an "execution engine exception". I'm not sure what mechanisms the VM has for showing that. Maybe just throwing up an assert dialog in `_DEBUG` builds.

[2017-07-26 18:11] ayende commented on #13037
On the mac, that is 64 bits, though. See: http://elliotth.blogspot.co.il/2012/04/gettid-on-mac-os.html

[2017-07-26 18:19] alpencolt commented on #12997
Not pretty solution but we can set `COMPlus_AltJit=* COMPlus_AltJitNgen=*` (or simulate like they were set in environment) if `/JITPath /.../libprotojit.so` was passed (off course we have to check if these variables were set buy user first).
So in this case we can use RyuJIT just buy calling `./crossgen /JITPath /.../libprotojit.so ...` and constrain list of compiled methods by using knobs `COMPlu

[2017-07-26 19:01] mj1856 commented on #13008
@Bhaal22 - as a workaround, consider my [https://github.com/mj1856/TimeZoneConverter](https://github.com/mj1856/TimeZoneConverter) library.  It's tiny, and will handle the conversions for you.  Thanks.

[2017-07-26 19:13] helloguo opened #13059 "[RyuJIT-AMD64] Miss addressing mode optimization"
C# source:

[code]

JIT dump for  `*(Block16*)(pTarget + length - 16) = *(Block16*)(pSource + length - 16);`:

[code]

Two `LEA `insts can be optimized away so the code looks like

[code]

@JosephTremoulet could you provide any input about how to optimize it?

[2017-07-26 19:26] mikedn commented on #13059
Usually such LEAs are the result of forward substitution and that's not trivial to add. But these ones appear to be caused by limitations in lowering/codegen code that may be more easy to fix. See `Lowering::ContainCheckIndir` for example, for TYP_STRUCT it bails out early and thus the address mode is not contained.

[2017-07-26 20:06] BruceForstall commented on #13059
cc @dotnet/jit-contrib

[2017-07-26 22:24] CarolEidt commented on #13059
This is probably something that needs to be handled in the handling of block stores. The containment analysis is interwoven into the `Lowering::TreeNodeInfoInitBlockStore()` code, and soon to be moved to the `Lowering::LowerBlockStore()` method. But I think that's where this case needs to be handled. Depending on how many loads & stores are required (this is the unrolled block copy case), one may

[2017-07-26 22:48] BruceForstall commented on #12495
Dup of #12660

[2017-07-26 22:48] #12495 closed

[2017-07-27 01:18] sjsinju commented on #13049
Fixed with #13050

[2017-07-27 01:18] #13049 closed

[2017-07-27 02:05] YongseopKim commented on #12993
I've found a different point between x64's one and arm32's one.

[code]

[code]

the `flags`es values are different. I think this `flags` should be 0 which means that this resolving won't be handled as below flag.
[code]

[2017-07-27 04:55] ygc369 commented on #12426
@Maoni0
Have you posted any issues about longer term solutions, such as scoped allocations? I haven't found any.
Does these solutions only focus on large object allocation? I think the scenario that a lot of small objects are temporarily allocated is worth considering too.

[2017-07-27 06:54] CarolEidt commented on #12859
I have a pull request #13079 for a markdown translation of the slides and notes - I haven't added any of the diagrams yet.

[2017-07-27 08:11] jkotas commented on #13037
I do not think there is fast way to get TID on Linux (correct me if I am wrong). `gettid` is a syscall.

[2017-07-27 08:38] ygc369 opened #13081 "Proposal: GC should provide APIs to prevent temp objects from promoting their generation"
I hope to have the following APIs:
GC.SetNewObjectsAlwaysGen0() - on current thread, after this is called, all newly allocated objects will always stay in Generation0, even if GC happens, till GC.UnsetNewObjectsAlwaysGen0 is called.
GC.UnsetNewObjectsAlwaysGen0() - on current thread, revert back to normal behavior where living objects promote their generations after GC.
The use case of these APIs

[2017-07-27 08:59] benaadams commented on #13081
Does [`GC.TryStartNoGCRegion()`](https://msdn.microsoft.com/en-us/library/system.gc.trystartnogcregion(v=vs.110).aspx) -> `EndNoGCRegion()` do what you want?

@mattwarren did a write up about it [Preventing .NET Garbage Collections with the TryStartNoGCRegion API](http://mattwarren.org/2016/08/16/Preventing-dotNET-Garbage-Collections-with-the-TryStartNoGCRegion-API/)

[2017-07-27 09:18] ygc369 commented on #13081
@benaadams
Not the same. I don't want to forbid GC, and I only want to keep temp objects in generation0 even if GC happens. Once I finish my work with them, they can be collected next Gen0 GC.

[2017-07-27 10:24] alpencolt commented on #12997
I've rechecked only `COMPlus_AltJitNgen=*` is mandatory for using RyuJIT. `COMPlus_AltJit=*` and `/JITPath libprotojit.so` has no effect for `crossgen`.

[2017-07-27 10:42] clrjunkie commented on #13081
@ygc369 Can you please post a short code sample to illustrate the use-case? I ask because I assume such Api call has the potential to incur more collections since by holding on to Gen0 objects one would effectively reduce the Gen0 memory threshold for initiating future GC's, if the "locked objects" are accounted for, and I'm curious to see a case where such trade off might make sense.

[2017-07-27 12:05] cydhaselton commented on #12989
Copying @gkhanna79

[2017-07-27 12:15] ygc369 commented on #13081
@clrjunkie
These APIs should be used carefully and the new behavior should not last for a long time. It should be very unlikely that GC happens just between GC.SetNewObjectsAlwaysGen0() and GC.UnsetNewObjectsAlwaysGen0(). But I want to use these APIs just in case.
The use-case is quite common, many algorithms need temp allocated buffers to store mid-results. But these algorithms are usually comple

[2017-07-27 13:25] mskvortsov commented on #12971
Top 20 code size regressions in JIT/Performance/CodeQuality methods by difference in byte count:
[code]
Full dataset is at [cq-codesize-by-diff.txt](https://gist.github.com/mskvortsov/1d8d5f08ec8da4fe180172fc6f10c180/raw/a1946d8b069973723327bb56228ce192101a7cdb/cq-codesize-by-diff.txt) (entries with a difference of less than 16 bytes are filtered out).

Top 20 code size regressions in JIT/Performa

[2017-07-27 13:40] mskvortsov commented on #12971
Top 50 regressions in System.Private.CoreLib.dll methods by byte count:
[code]
Here is the full data: [spc-codesize-by-diff.txt](https://gist.github.com/mskvortsov/1d8d5f08ec8da4fe180172fc6f10c180/raw/a1946d8b069973723327bb56228ce192101a7cdb/spc-codesize-by-diff.txt) and [spc-codesize-by-percentage.txt](https://gist.github.com/mskvortsov/1d8d5f08ec8da4fe180172fc6f10c180/raw/a1946d8b069973723327bb5

[2017-07-27 15:04] Tragetaschen commented on #11682
I've just seen it again building the `v2.0.0-preview2` tag. It's while building a different file, though:
[code]

[2017-07-27 16:04] mskvortsov commented on #12971
Just for reference, here is full disasm output from crossgen'ing SPC.dll:
[System.Private.CoreLib.old.disasm.gz](https://gist.github.com/mskvortsov/ae5bdca8083fe8e3300f3fbed467badb/raw/1b3885369b195954fc9d07bf5909f65128f05ce1/System.Private.CoreLib.old.disasm.gz)
[System.Private.CoreLib.new.disasm.gz](https://gist.github.com/mskvortsov/ae5bdca8083fe8e3300f3fbed467badb/raw/1b3885369b195954fc9d07bf5

[2017-07-27 17:52] maximburyak opened #13083 "Lock convoy on TimerQueueTimer"
Hi,
Here: https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/Timer.cs#L555 you lock on a static field. Under a certain load of timers, you can get a very annoying lock convoy. It's not that easy to reproduce, but it happes.
There's a bigger chance to reproduce especially under big amount of thread pool threads, so there are a lot of these stacks:

System.Threading.Time

[2017-07-27 18:08] BruceForstall opened #13084 "[ARM32] Consider setting BBF_FINALLY_TARGET immediately before codegen"
The `BBF_FINALLY_TARGET` bit is set/used on ARM32 only.

Currently, we set the `BBF_FINALLY_TARGET` flag on blocks during import of LEAVE opcodes, and we maintain it through the compiler, including through various flow graph optimizations, until codegen, where it is used to insert NOPs to create appropriate EH unwinding behavior due to our "movw lr, continuation; movt lr, continuation; b finally"

[2017-07-27 18:15] kouvel opened #13085 "[ThreadPool] Reduce min worker thread count and improve heuristics to compensate"
- Starting at proc count, allow hill climbing to reduce the worker thread count to lower than the proc count. This is useful in ASP.NET for instance, where thread pool work is only one set of parallel work and using too many threads can slow down other components also doing parallel work outside the thread pool and slow down the overall throughput.
- Investigate and fix potential issues and perf o

[2017-07-27 18:34] hanabi1224 opened #13086 "Random exceptions with System.Net.Http.WinHttpHandler"
It randomly(at very low chance) throws 'An item with the same key has already been added.' when SendAsync being called, and same issue never happen after removing  WinHttpHandler
Package version: 4.3.1
.Net version: 4.6.2
OS: Azure guest OS 5-*
Http version: 2.0

[2017-07-27 18:43] 4creators commented on #12859
How can we communicate? Via code review or via PR and review to your [coreclr/RyuJITTutorial](https://github.com/CarolEidt/coreclr/tree/RyuJITTutorial) branch. I have cloned it and started working on it.

[2017-07-27 19:02] CarolEidt commented on #12859
I think that probably the best way is for me to merge my PR, and then you can submit PR's with updates, and we can continue to communicate questions on this issue. If we need to set up a chat, we can do that as well as the need arises.

[2017-07-27 19:24] jkotas commented on #13086
This issue was moved to dotnet/corefx#22697

[2017-07-27 19:24] #13086 closed

[2017-07-27 19:47] davmason commented on #13021
Fixed in #13043

[2017-07-27 19:47] #13021 closed

[2017-07-27 19:48] noamyogev84 commented on #12805
I'm new here, and i'd love to start contributing to this repo.
I'd like to start with this issue, can i be assigned?

[2017-07-27 20:06] kouvel commented on #13083
It's possible, but usually there is another problem that leads to this. See my response here: https://github.com/dotnet/coreclr/issues/12410. Are you sure it's not any of those issues?

Lock convoy issues in the monitor are covered here: https://github.com/dotnet/coreclr/issues/11979

[2017-07-27 20:15] kouvel commented on #8290
Could look at Span.Fill as well

[2017-07-27 20:18] mikedn commented on #12972
Looks like this happens in CI too: https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_debug_ubuntu16.04_prtest/4680/

[2017-07-27 21:25] maximburyak commented on #13083
Hi, thanks for the prompt response!
Similiarly to the referenced issue, the reason is a big amount of timers. We've set a high value to minThreadCount in thread pull(300 for each type) in order to allow ourselves to deal with big bursts of work, due to thread pool's slow response to load. I hope that you guys will consider changing that implementation.

[2017-07-27 21:26] BruceForstall commented on #12937
This issue isn't useful anymore.

[2017-07-27 21:26] #12937 closed

[2017-07-27 21:53] sdmaclea commented on #12337
Major holes were fixed by #12437

[2017-07-27 21:53] #12337 closed

[2017-07-27 22:08] sdmaclea opened #13090 "[ThreadPool] WorkStealingQueue volatile ops. need to be optimized"
`volatile` operations are heavy weight as they prevent C# reordering and register caching.

`LocalPush()` fast path hits 7 volatile ops
`CanSteal` hits 2 volatile operations.
`TrySteal` hits 12 volatile ops
`LocalPop()` hits 14 volatile operations.

Consider using a struct/union to allow appropriate subset of these to be written simultaneously.

[code]

Consider non-volatile caches of the volatile

[2017-07-27 22:10] sdmaclea commented on #13090
@kouvel I was reviewing my other PR and I noticed how bad this was.  With the other patch, this should not be a problem for plaintext, but it looks like there is significant opportunity for ARM/ARM64 here.  Possibly even for x64 and x86.

[2017-07-27 22:13] BruceForstall opened #13092 "Enable HFA support in VM for arm32/arm64 altjit"
The arm32/arm64 JITs call ICorJitInfo::getHFAType() to inquire about HFA types. When an arm32 altjit is run on x86, or an arm64 altjit is run on x64, the answer is incorrect, as the VM has been built without FEATURE_HFA defined, such that ICorJitInfo::getHFAType() always returns CORINFO_TYPE_UNDEF. This means that the altjit cannot be used to reproduce issues involving HFA types. Also, asm diffs i

[2017-07-27 22:17] BruceForstall commented on #13092
Note that there's no reason, with this change, we couldn't build Linux/x86-host, Linux/arm32-target JIT, as well as the Windows version. (Similar, though unrelated, there's no reason we couldn't build Linux/x64-host, Windows/x64-target altjit, to test the different ABI using that flavor of cross compilation.)

[2017-07-27 22:17] BruceForstall commented on #13092
cc @dotnet/jit-contrib @dotnet/arm32-contrib @dotnet/arm64-contrib

[2017-07-27 22:20] BruceForstall commented on #12911
(from Eugene)

The test fails with this assert:
[code]
The call stack is:
[code]

Here are the created/reused/release messages:
[code]
So, the last release is unmatched.

Here is what I see at the end of the JitDump:
[code]

[2017-07-27 22:24] kouvel commented on #13090
Reusing ConcurrentQueue for the WorkStealingQueue seems to make sense at a high level, should evaluate

[2017-07-27 22:25] stephentoub commented on #13090
Work-stealing queues are by design LIFO from the perspective of the owning thread. Changing it to be FIFO could be quite bad for certain workloads.

[2017-07-27 22:30] sdmaclea commented on #13090
So perhaps liberally stealing ConcurrentQueue<> design ideas.  @stephentoub Is the queue always LIFO.  i.e. are the thefts LIFO, but locally thread FIFO?

[2017-07-27 22:39] briansull opened #13093 "Remove the 4-byte alignment requirement for the JIT allocator: ArenaAllocator::allocateMemory"
[code]

It is unnecessary to assert that we have a four byte aligned request, since we immediately roundUp to a pointer sized request size.

[2017-07-27 22:39] briansull commented on #13093
@pgavlin FYI

[2017-07-27 22:41] pgavlin commented on #13093
Thanks @briansull.

I think it's actually `Compiler::Alloc` and its pair, `ArrayAlloc` that need to do the alignment, as they may be called from functions besides these operators.

cc @dotnet/jit-contrib

[2017-07-27 23:00] stephentoub commented on #13090
The owning thread always accesses it's own end of the WSQ, so it's LIFO. Every other thread only accesses the other end, so they're FIFO. The theory is that the owning thread ends up popping the most recent work that's hot in it's cache, and other threads steal cold work. Plus, as long as there are at least 2 items in the queue, there's no explicit synchronization between the owner accessing its W

[2017-07-27 23:26] RussKeldorph commented on #12893
This appears to be specific to RyuJIT.  Legacy_backend generates

[code]

Moving out of UWP6.0.

[2017-07-27 23:26] RussKeldorph commented on #12893
@dotnet/jit-contrib

[2017-07-28 00:23] dpodder commented on #12805
Welcome @noamyogev84, thank you for stepping forward and offering to work on this issue! I'm assigning it to you now. Feel free to reach out if you have any questions about the bug, or the process to get the fix PR merged.

[2017-07-28 00:25] terrajobst commented on #12805
I should add that I added @noamyogev84 as a read-only contributor on this repo which will allow us to actually assign the issue. However, first @noamyogev84 has to accept the email invite.

[2017-07-28 00:27] dpodder commented on #12805
Thanks @terrajobst, I was just about to reach out to you about the permissions issue. :smile:

[2017-07-28 00:32] mikem8361 commented on #12880
The Microsoft symbol server only contains the .NET Core symbols/binaries for Windows. There are no Linux/OS X symbols/binaries on this symbol server.  As far as I know, none of the xplat debuggers (lldb, gdb, VSCode) support any kind of symbol server anyway.

[2017-07-28 02:34] stephentoub opened #13097 "15% perf delta between array access and span access"
Repro:
[code]
On my machine, the span version is ~15% slower than the array version.  In contrast, if I change the body of the tests to something like:
[code]
the difference ends up being much smaller, typically < 1%, and sometimes the span version is even faster.

[2017-07-28 02:44] Maoni0 commented on #12987
Weird, I did not get a notification in email for this issue at all - I just noticed it when I was browsing the issues... apologies for the delay.

Background GC does not compact so it doesn't call decide_on_compacting. But your process should not go down because when the memory load is high we will do a compacting gen2. If you actually observed the process gets OOM even though your live data is mu

[2017-07-28 02:48] Maoni0 commented on #13015
this is actually not GC code so removing the tag. however I dunno who on the runtime team to assign it to :)

[2017-07-28 04:57] mazong1123 commented on #12266
@raffaeler Are you able to find coreclr_shutdown_2 in latest build? It should be shipped with .NET Core 2.0 preview.

[2017-07-28 05:59] mikedn commented on #13097
On my machine the difference is even higher - ~23%. But it's not readily obvious from the generated code what the reason is:
[code]
The range check is not eliminated in either version (because the loop counts down). Loop alignment has no effect. The span version has an extra `mov` in the middle but it should not have a significant impact on performance.

[2017-07-28 06:13] mikedn commented on #13097
Note that you get slightly better codegen if you change your code like this:
[code]
In this case both the span and array have the same (good) speed.

I'm inclined to say that this has nothing to do with span, it's just a general case of inability to generate better code.

[2017-07-28 06:22] noamyogev84 commented on #12805
Thanks so much @dpodder @terrajobst.

[2017-07-28 06:25] chunseoklee opened #13099 "lldb cant unwind CallSignalHandlerWrapper on arm"
lldb on rpi2(ubuntu1604) cant unwind `CallSignalHandlerWrapper`.

[code]
Regarding https://github.com/dotnet/coreclr/pull/9650, arm/signalhandlerwrapper.S should be patched like:
[code]

[2017-07-28 06:25] chunseoklee commented on #13099
@janvorli PTAL

[2017-07-28 07:20] PhoebeHui commented on #12799
More similar issue found:

In revision https://github.com/dotnet/coreclr/commit/6636cf82ba78f77c4beec4f27769725b675e6858
The following function is added:
 static  void QCALLTYPE AssemblyNative::GetForwardedType(QCall::AssemblyHandle pAssembly, mdToken mdtExternalType, QCall::ObjectHandleOnStack retType);

It should be:
static  void QCALLTYPE GetForwardedType(QCall::AssemblyHandle pAssembly, mdToke

[2017-07-28 08:01] janvorli commented on #12805
@noamyogev84 I've just assigned this issue to you.

[2017-07-28 08:07] YongseopKim commented on #12993
Before entering `VSD_ResolveWorker`, runtime enters `SinglecastDelegateInvokeStub`.

[code]

Now each jitted(maybe) code is different on legacy/ryujit arm32.

[code]
[code]

I'm assuming the jitted method is `Delegate_TC_Int:IL_STUB_SecureDelegate_Invoke` == `Delegate_TC_Int:Invoke` by below log.

[code]

[code]

I'm investigating code where makes this jitted code.

[2017-07-28 09:22] janvorli commented on #13099
@chunseoklee thank you! Can you please create a PR for that? The change looks good.

[2017-07-28 09:31] mskvortsov commented on #12971
Method `System.Globalization.CultureData:.ctor():this`, Legacy (on the left) emits 56 bytes, Ryu emits 100 bytes:
[code]
IR contains a row of the following fragments, all exactly the same except lea offset:
[code]
I guess a solution, considering linearity of the LIR, would be to pull all the identical CNS_INTs into a new lclvar.

[2017-07-28 10:10] janvorli commented on #13015
@Maoni0 ah, sorry for the mis-labeling.

[2017-07-28 10:58] mskvortsov commented on #12971
Here is a vivid example of inefficient long/struct handling, it is quite common across the regression list:
[code]
Legacy vs. Ryu:
[code]

[2017-07-28 12:13] janvorli commented on #13015
@Maoni0 I just took a quick look at that. Actually, the volatile is misplaced in the current implementation, it makes the pointer itself being volatile instead of the data it points to.
So if the following line
[code]
is replaced by
[code]
then clang generates much better code.
The code before the change looked like this:
[code]
and after the change like this:
[code]

[2017-07-28 12:18] mikedn commented on #13015
Note that in my perf test I used volatile correctly and still got a 2x slowdown compared to memset. I tested in VC++ and the generated code was similar to your fixed code but without unrolling.

[2017-07-28 12:31] janvorli commented on #13015
@mikedn have you also measured the perf of the code as it is now in the repo with the misplaced volatile?

[2017-07-28 12:41] mikedn commented on #13015
@janvorli Nope. I didn't measure the perf of the actual code, I just wrote the loop in a console app and played with it to see how well it works compared to using `memset` and `rep movsq`.

[2017-07-28 12:54] alpencolt commented on #13057
Minimal test to reproduce:
[code]

[2017-07-28 14:59] stephentoub commented on #13097
Thanks, @mikedn.

Hmm, I'm not quite understanding.  If it's just a general case of an inability to generate better code, wouldn't that also apply to the array case (in the original example)?  My concern here is that we're trying to get to a place where span can be substituted for array without fear of regression, but if cases like this can result in 20% differences, that makes it much more diffic

[2017-07-28 15:42] mikedn commented on #13097
Well, the obvious problems exists in both the array and span code - the range check is there, the signed index cast (movsxd) is there, one or more unnecessary register moves are there. The code generated would ideally look like below but the JIT can't produce that in either version:
[code]
Anyway, I have to check what's up with the extra `mov`. But I wouldn't be surprised if the span version is si

[2017-07-28 16:17] RussKeldorph commented on #12073
This doesn't appear to repro.  Could be a one-time random failure, in which case there's nothing to do.  Feel free to reopen if you see it again.

[2017-07-28 16:17] #12073 closed

[2017-07-28 18:45] Maoni0 commented on #13015
@janvorli thanks for looking into this! will you be checking this change in? also CC @dpodder.

It seems like we should just write a small routine that calls rep movsq...

[2017-07-28 19:41] dpodder commented on #13015
D'oh... thanks @janvorli for finding this. I just checked on Windows (with VS 2017) and we get a similar benefit by moving the volatile to the right spot.

Before-
[code]

After-
[code]

The extra mov would definitely hurt if this were called on a particularly large list, or from an otherwise hot code path. I agree with @Maoni0 though, if we really want this to be perf-optimized we'll likely want

[2017-07-28 20:23] mikedn commented on #13097
OK, I moved the "benchmark" to C++/ASM so I can play with the code a bit. It's the `mov` that causes the slowdown. Sort of.

Any instruction, even a `nop`, has a similar effect. You can add a `nop` somewhere in the array version of a loop and you get the same slowdown. So it's not the instruction itself but something else. Maybe code size but the following experiment indicates that's probably not

[2017-07-28 20:25] xiangfan-ms commented on #12799
@AtsushiKan

[2017-07-28 20:29] AtsushiKan commented on #12799
This is a static method - what difference does it make whether it's global or a member of a class?

[2017-07-28 20:36] xiangfan-ms commented on #12799
The issue is the extra qualification:

struct S {
	static void S::f1();
	void S::f2();
};

'S::' is not allowed on a member function no matter whether it is static or not.

[2017-07-28 20:42] mikedn commented on #13097
Now where does that `mov` come from and what does `Span` to do with it?

The relevant IR looks like:
[code]
In the array case we start with `GT_INDEX` . It gets expanded by morph and in the process `i - 1` is cloned because it has a low cost.
In the span case `get_Item` is expanded during import and `i - 1` is stored in a temporary rather than being cloned.

After this CSE comes in and finds `i -

[2017-07-28 20:49] noahfalk commented on #13019
Fixed in #13098

[2017-07-28 20:49] #13019 closed

[2017-07-28 23:34] CarolEidt commented on #12859
@4creators - I've added diagrams and merged my PR. Feel free to submit PR's with updates and/or ask questions that you think need clarification.

[2017-07-29 02:00] mazong1123 opened #13106 "double.ToString("R") not working for certain number on x64"
Extract this issue from https://github.com/dotnet/coreclr/issues/10651#issuecomment-315667429

Generally speaking, `double.ToString("R")` tries to:

1. Convert the double to string in 15 digits precision.
2. Convert the string back to double and compare to the original double. If they are the same, we return the converted string whose precision is 15.
3. Otherwise, convert the double to string in

[2017-07-29 06:00] tannergooding commented on #13106
For the bug: `0.84551240822557` is `3FEB0E7009B61CDF` and `0.84551240822557006` is `3FEB0E7009B61CE0`, so the delta for their bit representations is 1.

So, it would seem that there is an off-by-one error somewhere in `NumberToDouble`.

I would think we should find this off-by-one error before taking any other course of action.

[2017-07-29 08:11] tannergooding commented on #13106
It looks like we are taking the incorrect path here: https://github.com/dotnet/coreclr/blob/master/src/classlibnative/bcltype/number.cpp#L534.

Rounding to even in this scenario causes us to generate the incorrect value.

In any case, It's late and I'm not going to finish processing exactly what it is doing wrong tonight.

[2017-07-29 16:46] tannergooding commented on #13106
Okay, the rounding logic is correct, so the error must be earlier on...

`val` is `0xD873804DB0E6FC00`, this is the mantissa (0xB0E7009B61CDF) + the guard bit.

The logic for 'round to even' is, do nothing if the guard bit is 0 or if the guard bit is 1 and the LSB of the mantissa is 0. In this case, both the guard bit and the LSB of the mantissa are 1, so it rounds up setting `val` to `0xD873804DB

[2017-07-29 17:14] tannergooding commented on #13106
Ok. Implementation looks and behaves correctly, as best as I can tell.

After going through the IEEE spec again, it comes down to these two rules:

For double-precision, the first rule is essentially: 'a double converted to a string with at least 17 digits and back must match'
The second rule is essentially: `a string with 15 or less digits converted to a double and back to a string with the same

[2017-07-29 17:19] tannergooding commented on #10651
I investigated the 'R' case and validated that the math for converting from string to double is correct.

I also left a comment (see https://github.com/dotnet/coreclr/issues/13106#issuecomment-318844961) indicating that we are not meeting the IEEE round tripping requirements which states that double->string->double is only required to match when done with at least 17 digits.

[2017-07-29 17:27] tannergooding commented on #13106
IMO, it is worth doing one of the following:
1. Taking the breaking change and adding a quirk on .NET Framework if possible
-or-
2. Adding a new standard numeric format string for IEEE Compliant round-tripping (which always uses 17 digits)

[2017-07-29 18:28] tarekgh commented on #13106
I believe for net core we can go ahead and take the breaking change there without any quirks. for the desktop, if we need to apply the fix there we have to introduce it with a quirk.

CC @AlexGhiondea

[2017-07-29 18:35] tarekgh commented on #10651
@tannergooding we have another issue tracking the parsing part https://github.com/dotnet/coreclr/issues/1316 as it looks we have other issues than just using 17 significant digits. Roslyn already introduced a new parsing implementation which conforms to IEEE which we can consider porting it to net core.

[2017-07-30 00:06] mazong1123 commented on #13106
@tannergooding are you starting fixing this? If not, I can help working for this issue when the option decided.

[2017-07-30 01:17] tannergooding commented on #13106
@mazong1123, not yet. I was going to wait for a couple more people (those tagged already) to chime in first (with regards to back-compat concerns).

[2017-07-30 13:14] paya-cz opened #13112 "Server GC and NoGCRegion"
I created a simple .NET Framework 4.6.2 console app, with gcServer enabled=true and gcConcurrent enabled=true in app.config. I run on a 4-core i7 3630QM with hyperthreading. The app is straightforward:

[code]

The no-GC region is started successfully. When the app is sleeping, the CPU usage goes to 100% on all my cores except one. I assume the GC threads are causing this. Doesn't seem right.

[2017-07-30 13:45] mazong1123 commented on #11452
@karelz  Anyone working on this? I'd like to sweep out these kind of old bugs :)

[2017-07-30 14:23] tannergooding commented on #11452
This would also end up impacting NaN comparisons.

[2017-07-30 15:13] benaadams commented on #13112
/cc @Maoni0

[2017-07-30 17:22] Daniel-Svensson commented on #10642
# New Measurements for C# Benchmark

I've managed to add the decimal implementation from CoreRT as well as compiling a custom coreclr build
where my code was added to the bclnative library.

Below follows measurements for
 * Custom CoreCLR build (x64 crossgen)
 * CoreCLR 2.0.0-preview2-006497 (x64)
 * .Net 4.7 (x64)
 * .Net 4.7 (x86)

The benchmarks beeing run are;

* **Mul 96by96**
     a = new d

[2017-07-30 18:00] tarekgh commented on #13106
As I mentioned we can apply the fix in .Net Core without any quirks. if we want to apply this fix from now, we need to ensure there is no perf regression when using "R' options.

[2017-07-30 19:23] pentp commented on #10642
Using only two constants for performance testing isn't sufficient - the CPU branch predictor will skip large parts of the code.

The current CoreRT implementation is a straightforward port from oleaut32 optimised for correctness and can definitely be improved. It [allocates memory](https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/Decimal.DecCalc.cs#L1952) on every

[2017-07-30 21:57] karelz commented on #11452
It's yours if you want it :) @mazong1123
We do not have CoreCLR issues cleaned up the same way as CoreFX. Something for me to focus on in next few months ;)

[2017-07-30 22:09] Daniel-Svensson commented on #10642
@pentp thanks for the tip about optimizing managed implementation, ive updated must of the implementation to remove allocations (but I did not find all) and updated results for .net 47

As for it being only constants, that is because the intention was to see if performance from the more rigorous c++ becnhmarks can translate all the way to C# code.
It should be fairly straight forward to add new te

[2017-07-31 02:25] parjong opened #13115 "[x86/Linux] Assertion failed '(tgtBlock->bbTgtStkDepth * sizeof(int) == (genStackLevel - curNestedAlignment)) || isFramePointerUsed()'"
The following assert failure is detected while running FX ``System.Runtime.Serialization.Xml.Tests`` test:
[code]

The following FX tests also hit the same assert failure:
 - System.Runtime.Serialization.Xml.ReflectionOnly.Tests
 - System.Runtime.Serialization.Json.ReflectionOnly.Tests
 - System.Runtime.Serialization.Json.Tests

[2017-07-31 02:26] sjsinju commented on #12873
If the type of the 18 Register that would be defined on current interval is TYP_DOUBLE, unassigning the interval of 19 Register is also needed.
[code]

[code]

https://github.com/dotnet/coreclr/blob/master/src/jit/lsra.cpp#L5668

[2017-07-31 02:26] sjsinju commented on #12873
In LinearScan::tryAllocateFreeReg()
If the currentInterval has TYP_DOUBLE register, there are some cases to consider.

The register already allocated before is an float register.
: Another half interval of register should be unassigned too.
The register to unassign was not set. (another half interval was set only.)
: Another half interval of register should be unassigned only.
When the score is ca

[2017-07-31 02:27] sjsinju commented on #12873
There seems an additional case that the register is unassigned in LinearScan::allocateBusyReg(). (Spill)

[2017-07-31 02:39] Maoni0 commented on #13112
@paya-cz would you mind checking if you are seeing the same callstacks as in what was reported in [#6809](https://github.com/dotnet/coreclr/issues/6809)?

[2017-07-31 02:49] mazong1123 commented on #11452
@tannergooding How many special cases of value types can fall into this category? I mean that they have different bit representation but we consider they are the "same" (e.g, +0.0 and - 0.0). I'm asking because I see we already specialized NaN in `Double.cs` so we may should specialize all these cases here instead of modify `ValueTypeHelper::CanCompareBits`: https://github.com/dotnet/coreclr/blob/

[2017-07-31 04:44] mazong1123 commented on #11452
I found `GetHashCode` has specialized `+0.0` and `-0.0` : https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Double.cs#L238

I don't know how the `==` operator works against `double` in CSharp, seems like we can simply use `==` operator to opt out the 0 in `double.Equals` either, if the performance is greater than or equal to use bit operations.

[2017-07-31 06:06] parjong opened #13117 "[ARM64/Linux] Implement UMEntryThunkCode::Poison"
#12731 introduces ``UMEntryThunkCode::Poison`` for all the architecture (x86, x64, arm, arm64), but arm64 variant does not have a proper implementation.

We need to implement it properly.

[2017-07-31 07:08] hqueue opened #13118 "[RyuJIT/ARM32] Assertion failed 'nextPhysRegPosition->nodeLocation == refLocation && candidateBit != candidates'"
With `COMPlus_AltJit=*` option, following assertion is observed in Checked build of recent coreclr (e1eb1d56e40)

[code]

Failed tests:
[code]

[2017-07-31 07:09] hqueue commented on #13118
@BruceForstall Please assign this issue to me. Thanks.

/cc: @dotnet/arm32-contrib

[2017-07-31 07:35] hqueue commented on #12660
@BruceForstall I've just ran `readytorun\tests\genericsload\callgenericctor\callgenericctor.cmd` with recent coreclr(13e39297001).

- With LEGACY_BACKEND: FAILED with same assertion.
- With `COMPlus_AltJit=*` : FAILED with same assertion.
- With `COMPlus_AltJit=* COMPlus_AltJitNgen=*` :  PASSED

Therefore it seems that it only happens when R2R uses LEGACY_BACKEND.

[2017-07-31 07:38] hseok-oh commented on #12993
System.Delegate:DynamicInvoke -> System.Reflection.UnsafeInvoke -> System.Reflection.UnsafeInvokeInternal -> RuntimeMethodHandle.InvokeMethod

[2017-07-31 08:00] hseok-oh commented on #12993
in RuntimeMethodHandle::InvokeMethod

legacy
[code]

ryujit
[code]

[2017-07-31 08:00] parjong opened #13120 "System.Threading.Performance.Tests assert failure"
x86/Linux CLR hits the following assert failure while running ``System.Threading.Performance.Tests``:
[code]

Interestingly, x64/Linux CLR also hits the same assert failure (I used Debug build).
[code]

[2017-07-31 08:04] parjong commented on #13120
@jkotas @janvorli Is there any way to figure out which locks are held by a thread?
[code]

[2017-07-31 08:36] janvorli commented on #10642
@Daniel-Svensson by "decimal.cpp from coreRT" you meant "decimal.cs from coreRT", right?

[2017-07-31 08:47] YongseopKim commented on #12993
https://github.com/dotnet/coreclr/pull/6500 is related to this issue. I think emitting code for setting r4 is needed.

[2017-07-31 09:18] janvorli commented on #13120
@parjong I have searched our sources and there is m_pTrackSync in the Thread object that exists f the TRACK_SYNC is defined and it tracks when thread enters and leaves sync blocks. See the Dbg_TrackSyncStack for the implementation - it seems to write into the stresslog and also into a stack stored in the Dbg_TrackSyncStack::m_Stack.
However, we've never tried to compile with TRACK_SYNC defined on

[2017-07-31 09:39] hseok-oh commented on #12993
legacy jit 에서는 codegen 에서 register allocation 과 codegen 이 같이 일어나기 때문에 codgen 에서 r4 register 를 assign 하는 동작을 해도 문제가 없으나, ryujit 은 lowering, lsra, codegen 이 분리되어 있기 때문에 같은 방식을 사용할 수 없음.

https://github.sec.samsung.net/dotnet/arm32_dotnet/issues/82

이 예제에서는 call 의 argument 로 lowering 이전에 이미 r4 가 gentree 상에 이미 만들어져 있음. (lsra 과정에서 special register 로 지정됨) 이와 마찬가지 방식으로 처리해야 할 것으로 보임.

`GTF_CALL_M_SECURE_

[2017-07-31 09:40] parjong commented on #13120
Unfortunately, it turns out that CLR build fails when TRACK_SYNC is defined.

[2017-07-31 09:41] hseok-oh commented on #12993
[code]

[2017-07-31 09:55] hseok-oh opened #13121 "[RyuJIT/ARM32] JIT/jit64/regress/vsw/373472/test failed"
[code]

cc/ @dotnet/arm32-contrib

Please assign this to me.

[2017-07-31 10:21] paya-cz commented on #13112
@Maoni0 Since I've never needed this before, how do I get callstacks like #6809 of GC threads?

[2017-07-31 10:22] hseok-oh commented on #13121
Close this because it seems test environment problem.

[2017-07-31 10:22] #13121 closed

[2017-07-31 10:33] mattwarren commented on #4365
It *seems* like you may be able to achieve this if/when the work being done in the Snowflake project arrives in CoreCLR, see [Project Snowflake: Non-blocking safe manual memory management in .NET
July 26, 2017](https://www.microsoft.com/en-us/research/publication/project-snowflake-non-blocking-safe-manual-memory-management-net/) for more info.

The code sample below is from the paper, if shows the

[2017-07-31 10:37] mattwarren commented on #1235
It *seems* like you may be able to achieve (some of) this if/when the work being done in the Snowflake project arrives in CoreCLR, see [Project Snowflake: Non-blocking safe manual memory management in .NET
July 26, 2017](https://www.microsoft.com/en-us/research/publication/project-snowflake-non-blocking-safe-manual-memory-management-net/) for more info.

The code sample below is from the paper, if

[2017-07-31 11:42] Daniel-Svensson commented on #10642
Thanks for spotting that @janvorli, i've edited the comment

[2017-07-31 13:54] 0xd4d commented on #13112
@paya-cz You can use windbg, let it run, Ctrl+Pause and then `~*k`.

.NET Framework 4.7 (x86):
[code]

[2017-07-31 14:04] dagood commented on #12764
@raffaeler The talk about SourceLink and GitLink is about what we can add to future builds to make the debugging process better. I'm not aware of anything that will help you set source breakpoints in your current 2.0.0-preview1 build.

[2017-07-31 14:34] redknightlois commented on #12877
@AndyAyersMS Wouldn't restricting the optimization to struct/primitive types be an acceptable tradeoff here?

[2017-07-31 15:02] redknightlois opened #13124 "Calls to Interlocked.CompareExchange<T> prevents inlining"
This is the smaller code that showcase the issue. This code is working very hard to avoid cache issues but still have to pay for the call because it refuses to inline in CoreCLR 1.1 and CoreCLR 2.0 (1w old build).

I may be missing something, but dont see any reason why it shouldn't inline.

[code]

[2017-07-31 15:19] mikedn commented on #13124
Inlining isn't blocked by CompareExchange but by runtime dictionary lookup that's needed in the generic code.

[2017-07-31 15:39] redknightlois commented on #13124
I would have never expect a dictionary lookup underlying ```Interlocked.CompareExchange``` when T is class  and therefore known to be 8 bytes on 64 bits (or 4 bytes when 32bits architecture).

[2017-07-31 16:09] BruceForstall commented on #13117
@dotnet/arm64-contrib

[2017-07-31 16:11] sdmaclea commented on #13117
@BruceForstall please assign to me

[2017-07-31 16:12] #13115 closed

[2017-07-31 16:20] tannergooding commented on #11452
@mazong1123, for Single/Double It should just be -0.0/0.0 and all representations of NaN.

However, I am also not familiar with the checks that `ValueType.Equals` is doing to determine whether bit comparison is allowed. If there are other cases, like Single/Double, that are impacted (such as user-defined structs), then the fix needs to be one way, but if it only impacts types where the user never

[2017-07-31 17:08] AndyAyersMS commented on #12877
Yes, looking at value classes here makes sense, since the box is the expensive bit.

My prototyping was at the `isinst` stage, which probably is too narrow a view. Likely even if we can prove the `isinst` will succeed we might not be able to clean up the rest (and as you can see from #13016 cleaning up from an unnecessary `box` was not trivial).

[2017-07-31 17:22] paya-cz commented on #13112
@0xd4d Thank you, that's exactly what I was looking for.

@Maoni0 Here is the log for .NET 4.6.2 (x86) Release. Honestly, I can't tell a thing from it. All I see is the threads are in WaitForXXXObject method, which I assume should block them instead of using 100% of CPU? I have no idea what NtWaitForWorkViaWorkerFactory does though.

[code]

[2017-07-31 17:56] mikedn commented on #13124
It is exactly when `T` is a class that you do get runtime lookups, that's how shared generic code works. But yes, the JIT could probably try a bit harder in the specific case of `Interlocked.CompareExchange<T>`. Probably it could make it look like a call to `Interlocked.CompareExchange(ref object, object object)` so runtime lookup is not required.

For example, if you change your code to not be ge

[2017-07-31 18:17] #12660 closed

[2017-07-31 18:19] tannergooding commented on #8104
https://github.com/dotnet/designs/issues/13

[2017-07-31 18:20] tannergooding commented on #12090
https://github.com/dotnet/designs/issues/13

[2017-07-31 18:20] tannergooding commented on #11948
https://github.com/dotnet/designs/issues/13

[2017-07-31 18:21] tannergooding commented on #12135
https://github.com/dotnet/designs/issues/13

[2017-07-31 18:22] tannergooding commented on #9373
This could be resolved with support for https://github.com/dotnet/designs/issues/13

[2017-07-31 18:22] tannergooding commented on #6661
Possibly: https://github.com/dotnet/designs/issues/13

[2017-07-31 18:29] tannergooding commented on #5195
I created a proposal on the CoreFX side here: https://github.com/dotnet/corefx/issues/22790

[2017-07-31 18:51] AndyAyersMS commented on #13124
The inlines done are:
[code]
You often can't inline from one shared generic class into another, so `Program<T>` and `CacheAwareElement<T>` are the culprits blocking the inline of `TryClaim`. The jit cannot foresee that if it did this inline and then the second-level inline of `CompareExchange`, the runtime lookups would not be required or would go unused.

Making the inner class non-generic or ins

[2017-07-31 20:01] #12949 closed

[2017-07-31 20:17] yizhang82 commented on #12592
Linker dev confirmed this is a incremental linker bug and is working on getting the fix included in future updates of VS 2017.

[2017-07-31 20:35] nategraf commented on #12863
The solution above is what I have landed on after some discussion with others. The key points that may or may not need further discussion (as I see them) are:
- If the positioning of this test as part of runtest.proj, but outside XUnit's purview is appropriate
- If the use of Python including checking in a small module is appropriate
- If it should also verify that PGO was NOT used when it should

[2017-07-31 20:44] mikedn commented on #13124
Tried, same result.

[2017-07-31 20:49] raffaeler commented on #12764
Thank you @dagood. So basically when you want to debug, you clone the repo locally, then rebuild and than point your runtime to these binaries?
Or do you think that I can tweak the pdbs to force pointing to github (or a local clone)?

[2017-07-31 20:50] Maoni0 commented on #13112
@paya-cz  all stacks say it's waiting so it should consume no CPU. This just says something else on your machine that's consuming CPU. TaskMgr shows you which process is consuming CPU.

[2017-07-31 21:00] AndyAyersMS opened #13129 "Investigate extra methods jitted when running simple app on Linux"
Running a simple hello world console app under 2.0 shows that more methods are jitted on Linux than on Windows. While this may be caused by ABI or platform-dependent assembly differences, it is worth understanding more deeply.

To repro, install 2.0, build the default console app, drop in a compatible checked clrjit, then run (via `dotnet exec`) with COMPlus_DumpJittedMethods=1.
[code]

[2017-07-31 21:06] paya-cz commented on #13112
@Maoni0 The process that's consuming my CPU is the one that I have given the source code for, and the WinDBG output belongs to it. I can see in TaskMgr that it's the same process. Check out this screenshot, the  Visual Studio Diagnostics Tool confirms this.

![gcbugpic](https://user-images.githubusercontent.com/10402560/28798487-ebe17f32-7644-11e7-97cf-733f4c63c7aa.png)

[2017-07-31 21:09] benaadams commented on #13112
Is this only when running in Debug with VS attached? (vs running from command line without debugger)

Might be bad interaction?

[2017-07-31 21:11] paya-cz commented on #13112
@benaadams This happens in Debug and Release modes, running inside and outside of VS.

[2017-07-31 21:22] Maoni0 commented on #13112
what does VS show for what stacks are using CPU?

[2017-07-31 21:24] dagood commented on #12764
I haven't debugged CoreCLR myself, but building your own CoreCLR does sound like the most straightforward way to get PDBs pointing at your sources.

I believe MyGet repoints PDBs for their symbol package sources support, meaning it's possible, but I'm not familiar with tooling to do that.

[2017-07-31 21:34] paya-cz commented on #13112
@Maoni0 See the attached screenshot.

![gcbugpic2](https://user-images.githubusercontent.com/10402560/28799355-882bd628-7648-11e7-8bd7-35f1e7a4fd79.png)

[2017-07-31 21:39] raffaeler commented on #12764
@jkotas do you have any suggestion? What is your strategy? TIA

[2017-07-31 21:39] paya-cz commented on #13112
By the way, during profiling, the entire system freezes, I can't even move my mouse. I did a redo now and diagnostics tool crashed.

[2017-07-31 21:44] Maoni0 commented on #13112
Can you set up the symbol path correctly so we can interpret these callstacks?

[2017-07-31 21:44] #12910 closed

[2017-07-31 21:47] benaadams commented on #13112
As a complete aside; check your event log in Application and System and make sure you have nothing horrible in it. I was experiencing that behavior when my disk was dying (though I didn't realize it) - probably isn't the case.

[2017-07-31 21:51] paya-cz commented on #13112
@Maoni0 The callstack with symbols:

![gcbugpic3](https://user-images.githubusercontent.com/10402560/28799989-0b10b0b6-764b-11e7-9b5b-f07c90f240bf.png)

[2017-07-31 21:56] paya-cz commented on #13112
One more screenshot with callstack and symbols, hopefully a bit more helpful.

![gcbugpic4](https://user-images.githubusercontent.com/10402560/28800158-c2dcf7e0-764b-11e7-9fac-99fc182d9102.png)

[2017-07-31 22:33] adityamandaleeka commented on #13112
@paya-cz Can you hover over one of those rows, and click on the little glyph that appears, and then select "Call Tree" from the "Current View" dropdown in the tab that appears? Hopefully that will give a clearer picture of where the time in GC is being spent.

The screenshot you pasted isn't showing a callstack, but rather just hot functions sorted by inclusive samples, so it's just showing all th

[2017-07-31 22:34] redknightlois commented on #13124
No luck either.

[2017-07-31 22:41] paya-cz commented on #13112
@adityamandaleeka I have never really used these tools since I never had a reason/opportunity to. Feel free to tell me what data you need me to supply, I will do my best.

![gcbug1](https://user-images.githubusercontent.com/10402560/28801425-c719767a-7651-11e7-98c3-d486a19430cd.png)
![gcbug2](https://user-images.githubusercontent.com/10402560/28801426-c722c84c-7651-11e7-8953-66a8c12a7b2e.png)
![gc

[2017-07-31 22:50] Maoni0 commented on #13112
hold on...I can repro this. I am looking. this didn't show up in my nogcregion testing (which were run with both Workstation and Server GC) which do allocate.

[2017-07-31 22:52] adityamandaleeka commented on #13112
Thanks @paya-cz for sending the call tree view. @Maoni0 Cool, glad we have a repro.

[2017-07-31 23:11] Maoni0 commented on #13112
@paya-cz yes, I see the bug - I need to reset the gc_start_event which normally gets reset when you actually do a GC. the difference is in my tests I always allocate stuff inbetween start/end nogc region, and inbetween the next start/end. if you try to allocate stuff inbetween start and end instead of sleep. can you allocate at all?

[2017-07-31 23:21] paya-cz commented on #13112
@Maoni0 How much stuff do I need to allocate? The following code still exhibits the same problem. I guess I just need to trigger at least a single garbage collection after the start nogc region? If I call `GC.Collect();` right after the TryStartNoGCRegion, the CPU problem goes away but I guess it also exits the no-gc region at the same time.

[code]

[2017-07-31 23:29] Maoni0 commented on #13112
could you try to allocate say this much:

[code]
that's about 20mb - I was mainly interested in whether you can allocate at all 'cause it seems to have such an extreme impact that I thought perhaps you couldn't allocate at all during the nogc region 'cause you simply doesn't get any CPU to run. do you see "allocated" printed immediately?

[2017-07-31 23:42] paya-cz commented on #13112
@Maoni0 Yes I can allocate and the "allocated" gets printed immediately. The code has no effect on the CPU usage - still the same bug.

I didn't have any CPU during the profiling, so the computer froze. When I run outside of profiler, I can use my computer just fine. Surprisingly, one logical CPU is under lower stress than the others, maybe thread CPU affinity? I don't know. Also, my CPU can run u

[2017-07-31 23:53] Maoni0 commented on #13112
could you please clarify something? when you said "This happens in Debug and Release modes, running inside and outside of VS.", by "outside of VS" did you mean you are running outside of VS but still using VS to profile it? If you run the exe standalone (as in, just run it, no profiling), it sounds like you can allocate just fine - can you tell me how much CPU usage you are seeing in that case for

[2017-08-01 00:19] mazong1123 commented on #13106
@tannergooding are you working on this? If not, I'd like to send a PR to see if it would break anything.

[2017-08-01 00:27] paya-cz commented on #13112
@Maoni0 By "outside of VS" I meant that I went to explorer, navigated to release directory, and launched the .exe manually. I didn't attach any process to the .exe, no debugger, no profiler, nothing. Under these circumstances, it behaves exactly the same as in all other cases - 100 % CPU usage, even when I am using the allocation code you provided me.

[2017-08-01 00:31] tarekgh commented on #13106
@mazong1123 go ahead and submit the PR. please try to measure the perf with your changes to know always formating with 17 significant digits can change the perf.

[2017-08-01 00:43] Maoni0 commented on #13112
The allocation code is not supposed to fix anything - it's merely to see whether you get CPU to do anything useful at all.

So even though you see 100% CPU usage in all cases (inside/outside VS, with or without profiling), you can use your computer fine if you don't have profiling on but the computer freezes if you do have profiling on?

[2017-08-01 00:43] parjong commented on #13120
I got another assert failure after setting ``TRACK_SYNC``.

Here is the output:
[code]

Stress Log (obtained via ```dumplog``) shows that there are actually two LeaveSync events:
[code]

@janvorli Could you give me any hint on this issue? FYI, here is related information:
[code]

``TryEnterExit`` is implemented as follows:
[code]

[2017-08-01 00:46] paya-cz opened #13135 "NoGC Region crashes the app without throwing an exception"
I have a simple app below. When I run it in debug or release mode, inside or outside of VS, even without a debugger/profiler attached, it always crashes. It doesn't throw any exception. The crash happens on the `TryStartNoGCRegion` line. I use workstation GC, x86. When I use server GC, the same issue as #13112 happens. .NET Framework 4.6.2.

[code]

[2017-08-01 00:46] paya-cz commented on #13112
@Maoni0 Yes, exactly. I think the profiler freezes the computer because many of the profiled calls are in kernel. Also, found another bug, please check out #13135. Might be related.

[2017-08-01 00:51] swgillespie commented on #13135
cc @Maoni0

Can you provide a stack trace for this crash, like you did for the other bug, if you don't mind?

[2017-08-01 00:55] paya-cz commented on #13135
@swgillespie Sure here. Not entirely sure what are all these other threads, as I'm running workstation GC.

[code]

[2017-08-01 00:58] swgillespie commented on #13135
Thank you! I ran your repro on my machine with .NET 4.7.1 and it didn't crash. That callstack doesn't look like any issue that I'm aware of, though.

[2017-08-01 01:00] paya-cz commented on #13135
@swgillespie I run it under .NET 4.7 and it still crashes.

[2017-08-01 01:01] Maoni0 commented on #13135
@swgillespie I fixed this in 4.7.1. @paya-cz unfortunately that doesn't help you right now....I think 4.7.1 is releasing soon. would you be ok waiting to get it?

[2017-08-01 01:02] paya-cz commented on #13135
@Maoni0 Sure. When is the ETA? I guess the older .NETs aren't getting a fix, right?

[2017-08-01 01:06] Maoni0 commented on #13112
Yeah, I'm guessing ETW is going kind of crazy (I think that's what VS uses by default to get CPU samples) 'cause it needs to get callstacks so often.

[2017-08-01 01:09] Maoni0 commented on #13135
let me ask our release folks.

[2017-08-01 01:21] hseok-oh commented on #12627
In my environment, the result is
[code]

@BruceForstall Please assign this to me.

[2017-08-01 01:24] AndyAyersMS opened #13136 "JIT: extract logic for cleaning up boxes from gtFoldExprSpecial into utility"
#13016 introduced more complex logic in `gtExprFoldSpecial` to deal with safely removing a box and its upstream allocation and copy.

This logic is potentially useful anywhere that the jit determines that a box is now dead, so it really should be made into a utility. For instance if/when the jit can spot the pattern seen in #12877 we'd want to fully remove the box. The utility can report success/f

[2017-08-01 01:56] jkotas commented on #12764
When I want to debug, I checkout the sources that match the build:  https://github.com/dotnet/coreclr/issues/12764#issuecomment-315631416 . No rebuilding required.

[2017-08-01 02:01] paya-cz opened #13139 "NoGC region improvements"
First of all, let me begin by saying that I do not have knowledge of low level implementation details of GC, so not sure how doable these ideas are going to be.

The `TryStartNoGCRegion` function requires me to provide an exact number of bytes, and that number should be at most [the size of ephemeral segment](https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/fundamentals#ephemera

[2017-08-01 02:05] swgillespie commented on #12170
Fixed by #12458.

[2017-08-01 02:05] #12170 closed

[2017-08-01 02:11] swgillespie commented on #13139
cc @Maoni0

[2017-08-01 02:12] swgillespie commented on #13139
These are from bugs, not intended behavior 😅 (see https://github.com/dotnet/coreclr/issues/6809, the author of that blog post created that issue and it was fixed).

[2017-08-01 02:14] mazong1123 commented on #11452
I found `IsNaN` is actually doing bit comparison : https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Double.cs#L75
So I think we can use bit comparison for zeros if its performance is greater than using `==`. Anyway, I'll measure it.

I think who defined the structs should be responsible for handling its own special cases - Like `IsNaN` for double/single we did here.

[2017-08-01 02:24] YongseopKim commented on #12993
I can't apply the way on #6500 for setting r4 to code of codegen in RyuJIT. I'm going to do it from morph phase to codegen.

[2017-08-01 02:26] tannergooding commented on #11452
@mazong1123, yes, `IsNaN` checks against all `NaN` values simultaneously with a single compare.

I would, however, continue just comparing `== 0.0` for zero. The underlying instructions of the CPU (at least for Intel) know how to handle the comparisons according to IEEE rules (`0.0 == -0.0`).

[2017-08-01 02:34] tannergooding commented on #11452
So the code today is broken for:
[code]

and presumably also for:
[code]

Both of these, should be fixed by special handling double.

I was calling out a scenario such as the following:
[code]

I am hoping that a bit comparison is not done for this scenario, but I don't know enough about the checks being done to know that for certain (it would probably depend on what triggers `IsTightlyPacked`, si

[2017-08-01 02:56] Maoni0 commented on #13139
@paya-cz thank you very much for your suggestions. As @swgillespie pointed out, that particular issue you mentioned was fixed (in both core and desktop 4.7.1). However there're a lot of interesting things that you brought up - first of all, this scenario you are describing where you have the luxury to exit a pause sensitive region to do some cleanup at will is pretty unusual - none of the other pe

[2017-08-01 07:02] parjong commented on #13120
It seems that FX test itself is invalid. This issue does not appear when https://github.com/dotnet/corefx/pull/22815 is applied.

[2017-08-01 10:48] paya-cz commented on #13139
@Maoni0 Your email is at microsoft.com?

I have also [read your article](https://blogs.msdn.microsoft.com/maoni/2017/04/02/no-gcs-for-your-allocations/) where you mentioned `gcSegmentSize` for app.config. It doesn't seem this feature is well-documented. Since when is this feature available?

[2017-08-01 14:08] stephentoub commented on #13097
Thanks for the detailed look, @mikedn!

Here's another example where there appears to be an extra `mov` in the span version (this is again based on a snippet of code from BigInteger):
[code]
The inner loop for the array version has:
[code]
while the inner loop for the span version has:
[code]
There's also an extra mov in the span outer loop.

[2017-08-01 15:16] AndyAyersMS commented on #13097
There's always going to be at least one extra load somewhere in span case for these kinds of examples. Span args are passed implicitly by reference, so given a pointer to a span, you need two indirections to access the elements of a span, while given a pointer to an array, you only need one indirection to access the elements of an array.

The hope is that the jit will recognize that that the field

[2017-08-01 15:53] #12919 closed

[2017-08-01 16:28] wind-rider opened #13146 "Support for ASP.Net core functionality in UWP project"
I would like to host an ASP.Net core server in a UWP project, more specifically - I would like to host a REST service in a Background App on Windows IoT Core.

This would give 2 benefits:

- allows hardware to be disclosed as a REST service
- allows a website or REST service to be managed by the operating system on Windows IoT core (so that you can start / stop it like any other app)

I'm not sure

[2017-08-01 17:43] jashook commented on #12917
Passes when run manually

[2017-08-01 17:43] #12917 closed

[2017-08-01 17:54] Maoni0 commented on #13139
yes that's where my email is at.

gcSegmentSize was not an officially supported thing as we didn't think this is something users should be using lightly. hosting is officially supported on desktop.

[2017-08-01 17:55] alpencolt commented on #13057
RyuJIT tries to generate for returning struct in `foo(int d)` following code:
[code]
The assertion occurs on emitting `000118  mov     r0, r0`. We can remove check from `emitarm.cpp`:
[code]
But I'm not sure that  it's correct way.
This `mov` comes from `LEA(b+0)` instruction:
[code]
`LEA(b+0)` can be replaced with simple `mov`. But this transformation performs only on emitting after register allo

[2017-08-01 18:10] JosephTremoulet commented on #13097
Right, due to the implicit-by-ref nature of the calling convention, we see `dst` as a byref to a span, and avoid hoisting those loads out of the loop for fear that `dst[b++]` could be overwriting parts of the span itself (that the byref parameter `dst` is a pointer to).

It's true that callers passing implicit-by-ref parameters are required to make an isolated copy for the callee to see and pass a

[2017-08-01 18:27] AndyAyersMS commented on #13097
Interesting. So `src` has two appearances and that warrants promotion? Or do you really see 3 appearances for `src` (two length field references and a pointer reference) and 2 for `dst` (length and pointer?).

Wonder if we should just be more aggressive with span and not worry as much about the downside?

[2017-08-01 18:37] JosephTremoulet commented on #13097
We see 3 `src` appearances and 2 `dst` appearances.

It's a good question... would be nice to have a sizable corpus of code using spans to evaluate such a change against.

[2017-08-01 18:38] stephentoub commented on #13097
Working on it :smile:
https://github.com/dotnet/corefx/issues?q=is%3Aissue+is%3Aopen+span+label%3Aapi-approved

[2017-08-01 18:39] BruceForstall commented on #13057
It looks like you could replace the assert with:
[code]
to generate no code, but it's not clear that's the right thing to do; the assert is probably there for a reason.

I guess the storeind expects a LEA, but maybe it also accepts a simple LCL_VAR, in which case LEA(b+0) should just disappear?

[2017-08-01 20:01] natemcmaster commented on #2159
This was added to public API surface in .NET Standard 2.0.

[2017-08-01 20:01] #2159 closed

[2017-08-01 20:15] #12911 closed

[2017-08-01 20:19] #13117 closed

[2017-08-01 20:39] JosephTremoulet opened #13150 "JIT: mulshift optimization should happen in Lower"
Currently we have code that rewrites multiplication by constants into shift/lea sequences split between Morph and CodeGen.  Ideally it would live in Lower so that CodeGen isn't performing optimizations (which complicates its contract), the target-specific optimization is handled by the back-end, and pre-Lower optimizations see the simpler multiplication tree.

See discussion here: https://github.c

[2017-08-01 21:33] dduerner-ycwang commented on #13139
It seems like it might be kind of cool if could do something like this inside program

[code]

or something like this

[code]

or something like this

[code]

[2017-08-01 21:50] paya-cz commented on #13139
@dduerner-ycwang After some googling, it seems it's already possible to get the segment size, but requires reflection into private fields:

[code]

[2017-08-01 22:56] helloguo commented on #13024
@benaadams do you build coreclr successfully? I tried `Narrow(Vector<UInt16>, Vector<UInt16>)` by using the default conversion tests `VectorConvertUInt16And8(Vector<UInt16> A1, Vector<UInt16> A2)` https://github.com/dotnet/coreclr/blob/master/tests/src/JIT/SIMD/VectorConvert.cs#L403, it seems work well. Here is the jitdump with debug build

[code]

[2017-08-01 23:38] parjong commented on #13120
Closed via https://github.com/dotnet/corefx/pull/22815.

[2017-08-01 23:38] #13120 closed

[2017-08-02 00:25] davmason opened #13153 "The profiler cannot disable ConcurrentGC because the GC Caches configuration information from EEConfig"
In `ProfilingAPIUtility::LoadProfiler` we call `g_pConfig->SetGCconcurrent(0);` to disable concurrent GC if the profiler is subscribed to any GC events.

Currently the configuration is cached and since the profiler initializes after the GC, this value is never read by the GC, so concurrent GC is left enabled. This causes the profiler to behave unexpectedly - such as not being able to iterate throu

[2017-08-02 00:28] swgillespie commented on #13153
Thanks David! cc @Maoni0 . The problem is that we are caching configuration on startup that a profiler may invalidate.

I figure that we can either not cache select configuration values, ones that we know have the potential to change underneath us (e.g. concurrent GC), or provider the profiler with a hook to invalidate our config cache. The latter sounds kludgy so I think I'm inclined towards the

[2017-08-02 00:45] Maoni0 commented on #13153
That's weird - AFAIK the profiler was using TemporaryDisableConcurrentGC/TemporaryEnableConcurrentGC to temporarily disable/enable concurrent GC as needed. It should never change the default one which is only read at startup (and it's always been this way). But we do check temp_disable_concurrent_p every time we need to decide whether we can do concurrent GC and this is modified by the 2 APIs. Has

[2017-08-02 00:54] davmason commented on #13153
There are two different code paths - on profiler attach it runs as you described, where it calls TemporaryDisableConcurrentGC, but when a profiler is loaded at startup it calls SetGCConcurrent.

This hasn't changed in CoreCLR at any point - I assume it's been that way for a long time in desktop too.

[2017-08-02 00:59] Maoni0 commented on #13153
@davmason Ahh I see. you are referring to the startup path. @swgillespie since it's at startup, can't we just include that decision when this config is returned to the GC side? This must've happened between EE configs changing iGCconcurrent and GC reading it 'cause GC has never read iGCconcurrent except during init.

[2017-08-02 01:39] hseok-oh opened #13156 "[RyuJIT/ARM32] CoreMangLib/cti/system/convert/ConvertToString failed"
Failed on release build (success on checked build)

tests
[code]

[code]

These tests seem similar failure
[code]

<details><summary> Failure messages </summary>

[code]
</details>

cc/ @dotnet/arm32-contrib

[2017-08-02 03:56] hseok-oh commented on #13156
Please assign this to me.

[2017-08-02 06:08] PrashanthIBM commented on #12707
Hi @jkotas @yizhang82

Cant we do static loading of dlls in linux and keep them alive until the parent process which loaded the dll is alive ?

The scenario which we are facing is that Application is agnostic of the unmanaged dlls and the application can talk to only the managed database provider and internally in the managed database provider, the dependent unmanaged dll is being loaded using the

[2017-08-02 08:15] myroot opened #13160 "[ARM32] Different HashCode on the same virtual method"
I get different hashcode on the same action that assigend from same virtual method

    class Program
    {
        public virtual void VirtualMethod() { }

        public void NonVirtualMethod() { }

        static void Main(string[] args)
        {
            Program p = new Program();
            Action d1 = p.VirtualMethod;
            Action d2 = p.VirtualMethod;

            Action d3 = p.N

[2017-08-02 08:17] dotnet-mc-bot opened #13161 "Test: readytorun_tests._mainv1_mainv1_/_mainv1_mainv1_cmd failed with "Xunit.Sdk.TrueException""
Opened on behalf of @Jiayili1

The test `readytorun_tests._mainv1_mainv1_/_mainv1_mainv1_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\9e2667b6-f13d-45fe-9cc5-938f2fa53cfa\Work\d5bc8dd2-fdaa-400c-a28b-a01a9cb648ad\Unzip\Reports\readytorun.tests\mainv1\mainv1.output.txt
    Raw output:
    BEGIN EXECUTION\r
            1 file(s) copied.\r
    Microsoft (R)

[2017-08-02 08:22] dotnet-mc-bot opened #13162 "Test failure: baseservices_threading._waithandle_waitany_waitanyex2a_waitanyex2a_/_waithandle_waitany_waitanyex2a_waitanyex2a_cmd"
Opened on behalf of @Jiayili1

The test `baseservices_threading._waithandle_waitany_waitanyex2a_waitanyex2a_/_waithandle_waitany_waitanyex2a_waitanyex2a_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\0011496c-9d7e-4071-8ceb-9d51b0481780\Work\bc006da1-73c4-4aed-9f35-27466f9cd936\Unzip\Reports\baseservices.threading\waithandle\waitany\waitanyex2a\waitanyex2a.

[2017-08-02 09:41] jkotas commented on #13146
This belongs to ASP.NET repos. https://github.com/aspnet/Home/issues/1531 is duplicate of this issue.

cc @davidfowl @DamianEdwards

[2017-08-02 09:41] #13146 closed

[2017-08-02 10:27] clrjunkie commented on #2555
@jkotas Is it true that in .NET FW/Core all assignments to shared variables within a given thread are guaranteed to be visible to all other threads who entered the *Running State* after the assignment took place?

For example, would these two programs produce consistent results when run on a multi-core.

Example 1:

[code]

Example 2:

[code]

If so, is that guarantee (with respect to these partic

[2017-08-02 10:39] Antaris opened #13165 "TypeLoadException only when running using `dotnet run`, apps works fine from published artifacts"
I'm getting a `TypeLoadException` for one of my types defined in an assembly that is referenced transitively. My solution setup is as follows:

[code]

My `Fx.Security` library references one of my packages from an internal NuGet feed, `Fx.Messaging.Abstractions`, which contains my type `MessageBuilder`.
`Fx.Messaging.Abstractions` targets `netstandard2.0` like all other projects.

My unit test pr

[2017-08-02 10:45] wind-rider commented on #13146
@jkotas I don't think that https://github.com/aspnet/Home/issues/1531 is a 1:1 duplicate. My question was broader - to allow an ASP.Net Core webserver to be hosted in UWP apps. The Windows IoT Core usecase is an example of what you could do with that.

Other usecases could be to temporarily run a website when running an UWP app, e.g. to upload photos from a phone to use in that app.

[2017-08-02 12:04] YongseopKim commented on #12993
The key is adding code to set r4 for `DomainBoundILStubClass:IL_STUB_SecureDelegate_Invoke(ref):int:this`. I'll PR.

[2017-08-02 15:43] alpencolt commented on #13056
Could you assign this issue to me?

[2017-08-02 16:48] matthid opened #13168 "assembly-redirects in netcoreapp1.1 application"
See the F# repro in https://github.com/Microsoft/visualfsharp/issues/3408. I asked in gitter chat if there is a workaround to tell the runtime to load the correct assembly. @0x53A [found a similar way to make C# fail](https://github.com/Microsoft/visualfsharp/issues/3408#issuecomment-319527058). Now I have several questions and follow ups:

- ~~[1] Apparently binding redirections are still a thing

[2017-08-02 17:23] matthid commented on #13168
Apparently binding redirects are no longer supported.
[3] and [4] still remain. In Particular I'd like to know if there is another way than doing it programmatically via `AssemblyLoadContext.Default.Resolving`...

[2017-08-02 17:24] jkotas commented on #2555
All classic .NET synchronization functions (ManualResetEvent, ...) have implicit memory barrier, so you second example can be simplified to this, and still work fine:

[code]

You first example is about whether creating a new thread has an implicit memory barrier. I think that it is reasonable to expect that it has: It has it in current implementation and I do not think it is ever going to change.

[2017-08-02 17:25] matthid commented on #13168
Related https://github.com/dotnet/sdk/issues/384

[2017-08-02 17:41] clrjunkie commented on #2555
Does that mean that in the *current* CLR implementation I can remove the lock in the first example also?

[2017-08-02 17:43] jkotas commented on #2555
I think so.

[2017-08-02 17:49] clrjunkie commented on #2555
Thanks @jkotas! highly appreciate a ping in case you gain any new insight about this.

[2017-08-02 18:01] joshfree opened #13170 "Tizen armrel crossbuild failure"
https://ci.dot.net/job/dotnet_coreclr/job/release_uwp6.0/job/armel_cross_release_tizen_prtest/36/
[code]

[2017-08-02 19:00] AndyAyersMS commented on #12877
With #13169 my prototype gets the example above and also can now clean up after the box. However, aside from the example  above, I'm not seeing any cases so far where a value type box feeds an isinst or castclass.

It's possible I am missing out on cases that could be optimized because the ability of the jit to reason about types is still somewhat limited (see for instance #10732). For example whe

[2017-08-02 19:07] AndyAyersMS commented on #12877
Prototype is on [this fork](https://github.com/AndyAyersMS/coreclr/tree/OptTypeCastsWithCleanup), for future reference. Output on the case above is
[code]

[2017-08-02 19:31] pentp commented on #12877
I suspect the relative rarity of this pattern is caused in part by people actively avoiding it because they know it allocates.

[2017-08-02 19:36] roji commented on #12877
@pentp first, I'm not sure we know much about the relative rarity of this pattern, and any case I would highly doubt people are aware of this boxing allocation - it is extremely unlikely to me that someone would assume that an `is` check allocates.

@AndyAyersMS I ran into this issue while doing memory profiling on my project, where a generic function needed some specialized logic. Of course I hav

[2017-08-02 19:58] pentp commented on #12877
I have avoided this pattern for many years and I didn't assume - I checked the x86 asm after I saw a `box` in IL.

[2017-08-02 20:16] BruceForstall commented on #13170
@dotnet/arm32-contrib

[2017-08-02 20:43] BruceForstall commented on #11286
Since this isn't required to ship RyuJIT/arm32, I'm removing it from the RyuJIT/ARM32 project.

[2017-08-02 20:48] BruceForstall commented on #6680
Removing this from RyuJIT/ARM32 project, as it doesn't block shipping RyuJIT/ARM32.

[2017-08-02 20:49] BruceForstall commented on #6680
@RussKeldorph Do you want to keep this issue open, because you (or someone) will fix the tests eventually? Or should we close it with the assumption that any pass through the "testsUnsupportedOnARM32.txt" (and similar files) will rediscover the problem?

[2017-08-02 20:53] BruceForstall commented on #11844
These still repro, although `JIT\Regression\VS-ia64-JIT\V1.2-M02\b14364\b14364\b14364.cmd` is now #11836

[2017-08-02 20:56] BruceForstall commented on #11843
No longer repros

[2017-08-02 20:56] #11843 closed

[2017-08-02 20:58] BruceForstall commented on #11646
Since this isn't required to ship RyuJIT/ARM32, I'm removing it from the RyuJIT/ARM32 project.

[2017-08-02 21:28] ChadNedzlek opened #13173 "Stop building Ubuntu 16.10 on all branches"

[2017-08-02 22:18] BruceForstall commented on #11835
No longer repros

[2017-08-02 22:18] #11835 closed

[2017-08-02 22:19] BruceForstall commented on #11844
@dotnet/arm32-contrib

[2017-08-02 22:26] BruceForstall commented on #11836
These still fail, although some of the tests above now report Assertion `node->IsLIR()` (#11844)

[2017-08-02 22:26] BruceForstall commented on #11836
@dotnet/arm32-contrib

[2017-08-02 22:39] BruceForstall commented on #10300
@hseok-oh Does this still reproduce? I don't see any failure on Windows ARM32, and the shown stack trace doesn't seem to exist in the code anymore.

[2017-08-02 22:43] BruceForstall commented on #13000
The current list is:

[code]

[2017-08-02 22:46] #13136 closed

[2017-08-03 00:09] CarolEidt opened #13183 "[RyuJIT] Unify handling of nodes that produce multiple registers"
Nodes that produce multiple registers require special handling. There should be a unified mechanism for manipulating the register and spill info on these nodes. The nodes are:
- `GenTreeMultiRegOp` (`_TARGET_ARM_`)
- `GenTreePutArgSplit` (`_TARGET_ARM_`)
- `GenTreeCall` (`FEATURE_MULTIREG_RET`)

See the declarations of the following methods on these nodes:
- `ClearOtherRegs()`
- `ClearOtherRegFlag

[2017-08-03 00:26] hqueue opened #13184 "[RyuJIT/ARM32] Incorrect result from readytorun/tests/generics/generics.sh"
With `COMPlus_AltJit=* COMPlus_AltJitNget=*` option, following test fails on Rpi3 when running coreclr(bdf219c364e) and corefx(dd38e6f3db5).

[code]

/cc: @dotnet/arm32-contrib  @ragmani

[2017-08-03 00:52] hseok-oh commented on #13184
It seems same issue with #13156

[2017-08-03 00:54] hqueue commented on #13156
@hseok-oh Can you please look into #13184 also ? Can it be a related issue ?

[2017-08-03 00:54] hqueue commented on #13184
I just ask you to look into this issue from #13156 :)

[2017-08-03 02:25] AndyAyersMS opened #13187 "JIT: consider optimizing box followed by GetType"
Might not be a perf win, but it shows up in exception paths so could help reduce overall code size and jit time.

For instance, inspired by similar code in`System.ValueTuple`:
[code]
the codegen for `CompareTo` is:
[code]
Also a bit puzzling why we load both `x` and `y` from this before doing any compare, seems like we should defer loading `y`. I suppose that's just how promotion works; all the fi

[2017-08-03 03:05] mazong1123 commented on #11655
Seems like it's on purpose to separate the Windows and Linux expected results.
https://github.com/dotnet/coreclr/blob/master/tests/src/CoreMangLib/cti/system/byte/bytetostring3.cs#L92

I can't find useful commit info for the design. I'll remove the condition and to see if anything would break on Linux.

[2017-08-03 03:11] hqueue commented on #12627
@hseok-oh Does #13142 fixes this issue and can we close this issue?

[2017-08-03 04:20] roji commented on #12877
The problem here is that unlike most other boxing scenarios where the need for boxing is intuitive to the programmer, this one is completely unexpected and needless (which is why this issue exists). I would expect the number of programmers which regularly review IL/asm to be quite low.

[2017-08-03 05:20] hseok-oh commented on #12627
@hqueue I think so
@mskvortsov Please close this issue.

[2017-08-03 05:23] jyoungyun commented on #13170
These assertion occurs intermittently because our test ci runs on qemu instead of real target. It is related to qemu so it will continue to occur unless we use a real target. We plan to modify the code to retry if the test ci fails.

[2017-08-03 06:45] hqueue commented on #11844
@BruceForstall I think there might be a environment issue regarding these tests.
In my environment, above  tests are passed or skipped without failure.

I ran `runtest.sh` using `COMPlus_AltJit=*" and used coreclr tests built for x86, because there are 32-bit and 64-bit issues when tests are built for x64.

[code]
I've tested coreclr built for both Checked and Debug and shows same behavior.

[code

[2017-08-03 07:02] kentcb opened #13192 "Cannot build for x86"
I've been trying to follow #9265 wherein @parjong provides some instructions on building for x86. I'm using an Ubuntu 16.04 docker image as a base. Once all my dependencies were installed, the build failed as follows:

[code]
I checked, and indeed the _/home/coreclr/Tools/dotnetcli/shared/Microsoft.NETCore.App/2.0.0-preview1-001913-00/libunwind.so_ file does not exist (though the _libcoreclr.so_ f

[2017-08-03 07:04] mmayr-at commented on #13021
I just ran into this issue with the latest .NET Core 2.0.0 Preview. I tried an ASP.NET Core application and was not able to instrument code into the `Micrsoft.AspNetCore.Http.Abstractions.dll` assembly. Then I found out that a this was a r2r image.

I see that this is planned for Milestone 2.1.0, but I would like to see this included in the 2.0.0 release. Otherwise we must use a workaround and set

[2017-08-03 07:45] parjong commented on #13192
You first need to install libunwind8 (or libunwind8-dev) that ``dotnet`` SDK for x64/Linux requires.

[2017-08-03 08:04] kentcb commented on #13192
Thanks @parjong - that certainly gets me further (I wonder if the build script should warn when `libunwind` isn't installed...)

Now I get this output:
[code]
The contents of _CMakeOutput.log_ doesn't appear to contain anything of interest:
[code]
But _CMakeError.log_ seems to provide some indications:
[code]

[2017-08-03 08:17] parjong commented on #13192
Did you create a cross rootfs? You may create a rootfs using the following command:
[code]

As I remember, you first need to install debootstrap and qemu-user-static.

[2017-08-03 08:32] kentcb commented on #13192
No I had not (didn't realise that was a required step). I've just done that and it completed with these warnings:
[code]
Now when I try and build, it seems to fail in the same way:
[code]

[2017-08-03 08:54] parjong commented on #13192
It seems that ``build-rootfs.sh`` failed to install required packages (as chroot failed).

What is in ``/home/coreclr/cross/rootfs/x86/debootstrap/debootstrap.log``?

[2017-08-03 08:58] kentcb commented on #13192
[code]
Not really understanding why `root` would be denied permission to do _anything_. There is no `sudo` on this image, which I assume is expected.

[2017-08-03 09:02] rmbq opened #13193 "[RyuJIT] wrong sum result with /optimize on x64"
I made a small project to test this issue, you can find it [here](https://drive.google.com/open?id=0By7oA_lL6epnMVZrRUV5SUpPVkE). small extract is this but issue can't be triggered with this method alone.
[code]
In MainWindows.xaml.cs line 57 index value should be 14 but i get 18. disassembly can be found [here](https://pastebin.com/PvSmHkBQ).

I'm bad at assembly but i made these tries:
`index +=

[2017-08-03 09:27] BredPet opened #13194 "ARM32 switch jump table generation [Legacy Jit + CoreRT]"
genTableSwitch generates wrong Switch jump table on arm32 in Legacy Jit when we compile something with CoreRT. If we have more than 3 or 4 cases, it generates jump table, but values of table are like this:
[code]
I think it's due to while we emit table by emitBBTableDataGenBeg, we pass absolute addressing mode there. But when we compile with CoreRT, exe has PIC flag. Or maybe allocMem from CoreRT

[2017-08-03 09:27] BredPet commented on #13194
@sergign60
@MichalStrehovsky
@jkotas
please take a look

[2017-08-03 09:31] parjong commented on #13192
Are you running tools inside docker container? If so, you may need to specify --privileged option when you create a container. Or, you may create a rootfs in your host OS (not docker) and then use it inside a container.

[2017-08-03 09:36] kentcb commented on #13192
Yes, this is all inside a docker container. Hmm, my host is Windows, so I'm guessing `--privileged` is my best option. I'm not very proficient with docker yet, so I will likely just start again tomorrow with a privileged container (I took notes, so I know what steps to take).

Thanks for the help @parjong - I'll definitely report back tomorrow!

[2017-08-03 10:16] Antaris commented on #13165
Additionally, I've completely cleared my packages caches, and confirmed that I am running .NET Core 2.0.0-preview2-006497

[2017-08-03 10:23] Antaris commented on #13165
Closing this out, as I had some stray build artifacts caused by simply coping the Web sample project from my `Fx.Messaging` solution to my `Fx.Security` solution. Nothing to see hear.

[2017-08-03 10:23] #13165 closed

[2017-08-03 11:00] jkotas commented on #13194
cc @sandreenko

For legacy JIT, it maybe easiest to disable the switch table generation for CoreRT ABI on Unix in `CodeGen::genTableSwitch` and always use the (slower) inlined cmp+conditiona jump sequence. This should get you unblocked in CoreRT bring up.

Then focus on fixing this for the RyuJIT backend.

Is it what C/C++ compilers do for similar code on Unix ARM?

[2017-08-03 11:45] BredPet commented on #13194
In the end, I did so already ;-) but without taking into account the CoreRT ABI. Ok, I'll add ABI and Unix condition and create PR later.
// clang uses tbb and relative addresses on Unix arm32 in such cases
Thanks

[2017-08-03 11:45] #13194 closed

[2017-08-03 12:17] BredPet opened #13195 "arm32 virtual stub generation [Legacy Jit + CoreRT]"
In genCodeForCall function in Legacy GTF_CALL_M_VIRTSTUB_REL_INDIRECT case generated some code for jumping to RhpInitialDynamicInterfaceDispatch in CoreRT. It eventually descends into the RhpUniversalTransition function, then to RhpCidResolve. In asm windows implementation UniversalTransition.asm for arm32 it assumes that the CellDispatchInfo structure in the r12 register. But there it is exact no

[2017-08-03 12:17] BredPet commented on #13195
@sergign60
@jkotas
@MichalStrehovsky
please take a look

[2017-08-03 14:46] AndyAyersMS commented on #12480
I'll take a look.

[2017-08-03 15:06] #12993 closed

[2017-08-03 15:09] BruceForstall commented on #11844
Interesting. Maybe these are Windows-only failures for some reason.

[2017-08-03 15:16] #13118 closed

[2017-08-03 15:17] BruceForstall commented on #13193
@dotnet/jit-contrib

[2017-08-03 15:28] pgavlin commented on #13193
This is a dup of https://github.com/dotnet/coreclr/issues/11574. @russellhadley @briansull, I know this came up recently--can you provide details on which .NET Framework releases have the fix?

[2017-08-03 16:20] AndyAyersMS commented on #12480
Repros on desktop with 4.7.2101.1. Succeeds with legacy jit.

When jitting `Program:parseFixTo_BigStruct(ref):ref` RyuJit hits this internal limitation:
[code]
with varNum 32857 and offset 256.

The program keeps a lot of values on the evaluation stack across branches, at one point the jit needs 332 temps, and indeed maxstack for the method is 338. So likely the underlying issue is simply the larg

[2017-08-03 16:46] bruce31 opened #13199 "dotnet publish for standalone console app generating wrong filename on OSX"
[code]
for a console app CIBuild.RunTests.csproj generated an 'exec' file named CIBuild.RunTests.RunTests which did not work with the CIBuild.RunTests.dll created at the same time.
[code]

[2017-08-03 17:10] bruce31 commented on #13199
Quick repo steps
[code]

[2017-08-03 17:24] jashook opened #13200 "[Arm32][Legacy Backend][GCStress 0x3] GCStress 0x3 Failures Generic Output"
Test Failures:

`lifetime1.cmd_3806`
`objmonhelper.cmd_5924`
`tailcall.cmd_5522`

Example Output:

[code]

[code]

[code]

[2017-08-03 17:30] jashook commented on #13200
/cc @BruceForstall @RussKeldorph @pgavlin

[2017-08-03 17:32] jashook opened #13201 "[Arm32][Legacy Backend][GCStress 0xC] Unhandled Exception: System.ArgumentException: String contains invalid Unicode code points."
Test Failures:

[code]

Example Output:

[code]

[2017-08-03 17:41] jashook opened #13202 "[Arm32][Legacy Backend][GCStress 0xC] Assert failure !"About to FailFast..."
Test Failures:

[code]

Example Output:

[code]

[2017-08-03 17:56] JosephTremoulet commented on #12480
Maybe when the number of stack slots coming into a join is above some threshold, we could dummy up a struct and pass the slots as fields of a single struct temp, rather than individual temps?  So that in the 100s of live values across 100s of blocks case, rather than 10,000 temps we'd have 100s of temps that are structs with 100s of fields.  It would keep our lclVar table smaller, and possibly pes

[2017-08-03 18:21] jashook opened #13203 "[Arm32][Legacy Backend][GCStress 0xC] GCStress C Generic Failures"
Test Failures:

[code]

Example Output:

[code]
[code]

[code]

[code]

[code]

[code]

[2017-08-03 18:26] jashook opened #13204 "[Arm32][Legacy Backend][GCStress 0xC] AV and Consistency Check"
Test Failures:

[code]

[code]

[code]

[code]

[2017-08-03 18:27] jashook opened #13205 "[Arm32][Legacy Backend][GCStress 0xC] Assert failure IS_ALIGNED( pObjRef, sizeof( Object* ) )"
Test Failures:

[code]

Example Output:

[code]

[2017-08-03 18:27] jashook opened #13206 "[Arm32][Legacy Backend][GCStress 0xC] Unhandled Exception: Unhandled Exception: Unhandled Exception: Unhandled Exception:Unhandled Exception:"
Test Failures:

[code]

Example Output:

[code]

[2017-08-03 18:28] jashook opened #13207 "[Arm32][Legacy Backend][GCStress 0xC] Assert failure(PID 7144 [0x00001be8], Thread: 14820 [0x39e4]): (m_pStartFrame != NULL) || (m_flags & POPFRAMES) || (m_pRealStartFrame == m_pThread->GetFrame()) || (bRedirectedPinvoke)"
Test Failures:

[code]

Example Output:

[code]

[2017-08-03 18:52] AndyAyersMS commented on #12480
My possibly-fix-in-the-jit example is a bit off, though I don't think it alters anything fundamental. There is some attempt in the importer to reuse temps across "spill cliques" that I need to understand better...

[2017-08-03 19:46] briansull commented on #13193
We haven't yet shipped a HotFix for this issue on the Desktop.
It will be include in the next HotFix roll up for Windows 10.

It is fixed in CoreCLR  by #11574.

[2017-08-03 20:05] stephentoub opened #13209 "~20% regression in ManagedCrc32 switching from array to span"
This code comes from:
https://github.com/dotnet/corefx/blob/master/src/System.IO.Compression/src/System/IO/Compression/Crc32Helper.cs
I've just copied it here to have a "simple" repro.  The span version is identical to the array version, other than the signature and the first two lines that set the offset and count.  On my machine, the span version runs ~20% slower.
[code]
cc: @JosephTremoulet, @A

[2017-08-03 20:16] fiigii opened #13210 "[RyuJIT] Integer Promotion Elimination on GT_CAST"
According to VTune characterization, [TryGetAsciiString](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Kestrel.Core/Internal/Infrastructure/StringUtilities.cs#L8) is one of the hot functions in the TechEmpower-Plaintext scenario.

This function reads ASCII characters (byte) and converts them to `char`.
[code]
The statement ` *(output) = (char)*(signedInput);` will be compiled to IL:
[co

[2017-08-03 20:30] mikedn commented on #13210
I'm already working on this in #12676

[2017-08-03 20:37] wtgodbe opened #13212 "Add linux-arm64 to official builds"
This is needed for validation now that we support the linux-arm64 RID.

[2017-08-03 20:37] davmason commented on #13021
@mmayr-at It is unfortunately too late for 2.0, it has already locked down.

For what it's worth, this fix means that when a profiler is attached and requests that NGEN images are not loaded, it is the same impact as setting COMPLUS_ReadyToRun=0. You don't gain anything with this fix, other than not having to set the extra environment variable.

[2017-08-03 20:56] AndyAyersMS commented on #12480
Relevant C# example:
[code]
with disassembly below. Note the large number of temps and the register shuffling it facilitates.
[code]

[2017-08-03 21:12] fiigii commented on #13210
@mikedn Thank you for letting me know.

[2017-08-03 21:24] iskiselev commented on #4441
I believe #1712 is root cause for this restriction.

[2017-08-03 22:03] BruceForstall commented on #13210
cc @russellhadley @JosephTremoulet

[2017-08-03 22:27] BruceForstall opened #13213 "[Arm32][Legacy Backend][JitStress=2] corefx test failure in System.Xml.XPath.XDocument.Tests.dll, more"
Test failures in:
[code]

These exhibit failures for COMPlus_JitStress=2. The failures are all like:

[code]

A different number of tests, and a different set of individual tests, fails each time. Without JitStress, the tests pass.

If run under xunit with the `-maxthreads 1` argument, then the tests pass even with JitStress=2. This indicates possibly some kind of race condition where JitStress is

[2017-08-03 23:12] fiigii commented on #12090
Intel hardware intrinsic API proposal has been opened at dotnet/corefx#22940

[2017-08-03 23:12] fiigii commented on #6906
Intel hardware intrinsic API proposal has been opened at dotnet/corefx#22940

[2017-08-03 23:18] mellinoe commented on #6906
@RossNordby @Ziflin @redknightlois @nietras We would very much like to hear everyone's feedback on the proposal and design linked right above -- it was influenced in part by the feedback we have received here and in other similar issues.

[2017-08-04 00:20] BruceForstall commented on #13213
This appears to be a tailcall stress problem (either a problem with the stress mode, or a tailcall bug in the compiler). Setting:
[code]
along with
[code]
allows the tests to pass.

[2017-08-04 00:21] BruceForstall commented on #13213
There is a similar failure with System.Xml.XPath.XDocument.Tests.dll only, with JitStress=1, that is also resolved by setting
[code]

[2017-08-04 00:28] BruceForstall commented on #13213
Simply setting
[code]
causes System.Xml.XPath.XDocument.Tests.dll to fail, but not System.Xml.XPath.XmlDocument.Tests.dll.

[2017-08-04 01:31] lemmaa commented on #12421
@alpencolt , Can you make a chance to apply the patch, https://github.com/mono/mono/pull/3549/files, and share the results here?

[2017-08-04 01:58] kentcb commented on #13192
OK, so I started from scratch using a `--privileged` container and I seem to have wound up in a similar place. My build output is:
[code]
Contents of _CMakeOutput.log_:
[code]
Contents of _CMakeError.log_:
[code]

[2017-08-04 02:37] netroby opened #13220 "dotnet restore timeout, would you please provide CDN accelerate for china?"
[code]

I came from china. I try to develop and run dotnet app code.

But i have trouble to get restore work.

Would you please add CDN accelerate for china?

[2017-08-04 03:09] parjong commented on #13192
Did you succeed in building rootfs? Could you check the files inside ``cross/rootfs/x86/``?

[2017-08-04 04:28] jkotas commented on #13195
In (CoreCLR ARM ABI)[https://github.com/dotnet/coreclr/blob/master/Documentation/botr/clr-abi.md#hidden-parameters], the "stub indirection cell" is passed in `r4` and `r12` is used for the call target. The interface callsite looks like this:

[code]

In CoreRT (.NET Native for UWP on ARM), the "stub indirection cell" is passed in `r12` and `lr` is used for the call target. The interface callsite l

[2017-08-04 05:46] kentcb commented on #13192
@parjong About 30 mins before you replied, I gave up on doing this in Docker and switched to VirtualBox. I got a lot further this time, but the build eventually failed with:
[code]
My VM HDD ran out of space! So I'm gonna start again, and report back again later 😫

[2017-08-04 06:03] mmayr-at commented on #13021
This is bad news for us, but thanks for that information. I know that the workaround is quite easy, but we have to deploy it to production/testing environments and have to consider it in everyday development tasks.

[2017-08-04 06:24] hseok-oh opened #13223 "[ARM32] Bus error & CI release build test failure"
`Tizen armel Cross Release Build` and `Ubuntu arm Cross Release Build` fail on CI after merging #13186 .
And bus error on my environment: Raspberry pi 3 (Ubuntu 16.04).

cc/ @briansull

https://ci.dot.net/job/dotnet_coreclr/job/master/job/armel_cross_release_tizen/1357/
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_release_ubuntu/2432/
https://ci.dot.net/job/dotnet_coreclr/job/mas

[2017-08-04 08:23] kentcb commented on #13192
Yep, it worked! 🎉

Thanks a bunch for the help @parjong - didn't stand a chance without you.

For anyone following in my footsteps, the steps I took were:

IN VIRTUALBOX RUNNING UBUNTU 16.04:
* install VirtualBox tools (optional but recommended)
* `sudo apt-get install git`
* `git clone https://github.com/dotnet/coreclr`
* `sudo apt-get install debootstrap`
* `sudo apt-get install qemu-user-static

[2017-08-04 08:23] #13192 closed

[2017-08-04 08:28] janvorli commented on #13220
@netroby what is your Linux distro? We have seen a similar problem on Fedora 24 in the past and it was caused by a non up to date NSS library. `dnf upgrade nss` fixed the problem. So if you have Fedora 24 too, you might try this.

[2017-08-04 09:25] alpencolt commented on #12421
@lemmaa I will try after closing current issues. Do you have any considerations where `flush_icache()` may occur?

[2017-08-04 09:46] gregolsky opened #13224 "Access GC settings at runtime"
We would like to access runtime GC settings programmatically. The only one we could find was the `ServerGarbageCollection` setting which is accessible through:
https://github.com/dotnet/coreclr/blob/release/2.0.0/src/mscorlib/src/System/Runtime/GcSettings.cs

Can we somehow obtain the value of `ConcurrentGarbageCollection` and `RetainVMGarbageCollection` settings at runtime?

[2017-08-04 09:50] hqueue opened #13225 "[RyuJIT/ARM32] Segmentation fault due to regression from recent commit"
After merging #13145, several tests fail with Segmentation fault.

This is due to incorrect condition in a helper at https://github.com/dotnet/coreclr/pull/13145/files#diff-93fb9832a03a9783e2a415b581fcb45cR5894 .

At least following 8 tests are failed.
[code]

[2017-08-04 09:51] hqueue commented on #13225
@sjsinju Thank you for notifying me this.  I think you are looking into this helper while updating #13100 too. Can you please fix this along together with #13100 ?

/cc: @dotnet/arm32-contrib

[2017-08-04 10:30] jkotas commented on #13021
@davmason We should include this fix in the first 2.0 servicing update (2.0.1).

[2017-08-04 11:37] ppekrol opened #13226 "Cannot access fields/properties using dynamic from nested classes/structs"
Hi,

I've created `netcoreapp2.0` with following code:

[code]

It works properly when changing back to `netcoreapp1.1` but on `2.0` I'm getting:

[code]

It looks like a bug or I'm doing something wrong?

`dotnet --info` yields:
[code]

[2017-08-04 12:13] ygc369 commented on #13220
@netroby
支持。

[2017-08-04 13:51] Ziflin commented on #6906
Thanks @tannergooding , @fiigii, @mellinoe! The proposal is looking really good! Thanks for all the work on it!

[2017-08-04 14:12] benaadams commented on #13025
Had to edit `coreclr\packages\microsoft.dotnet.buildtools\2.0.0-prerelease-01812-02\lib\tool-runtime\project.csproj` to update versions and remove two lines

e.g.
[code]

[2017-08-04 15:57] jkotas commented on #13226
This is duplicate of https://github.com/dotnet/corefx/issues/21689

cc @VSadov

[2017-08-04 15:57] #13226 closed

[2017-08-04 15:57] benaadams commented on #13024
@helloguo when I run it against checked I get the following

[code]

Repo project is https://github.com/benaadams/PerfTesting/tree/master/src/VectorWiden

[2017-08-04 16:13] sbomer opened #13230 "GetAssemblyName throws BadImageFormatException on some crossgen'd dlls"
I see this failure mode in the following cases:

- Windows, on a linux-x64 or osx-64 crossgen'd dll
- Linux, on an osx-64 crossgen'd dll.
- macOS, on a linux-x64 crossgen'd dll.

Specifically, I've been hitting the failure on the System.Private.CoreLib.dll included in nuget packages like `runtime.linux-x64.microsoft.netcore.app`, under the path `2.0.0-preview2-25407-01/runtimes/linux-x64/native/Sy

[2017-08-04 18:13] jashook commented on #13207
/cc @dotnet/arm32-contrib

[2017-08-04 18:13] jashook commented on #13206
/cc @dotnet/arm32-contrib @pgavlin @BruceForstall

[2017-08-04 18:14] jashook commented on #13205
/cc @dotnet/arm32-contrib @pgavlin @BruceForstall

[2017-08-04 18:14] jashook commented on #13204
/cc @dotnet/arm32-contrib @pgavlin @BruceForstall

[2017-08-04 18:14] jashook commented on #13203
/cc @dotnet/arm32-contrib @BruceForstall @pgavlin

[2017-08-04 18:15] jashook commented on #13202
/cc @dotnet/arm32-contrib @pgavlin @BruceForstall

[2017-08-04 18:15] jashook commented on #13201
/cc @dotnet/arm32-contrib @pgavlin @BruceForstall

[2017-08-04 18:27] BruceForstall opened #13231 "[Arm32][Legacy Backend][JitStress=2] assert in corefx System.Collections.Tests.dll"
[code]

### How to build:
[code]

### How to run:
[code]

### Example command line
[code]

[2017-08-04 19:02] joshfree opened #13235 "Regression / Test failing CI JIT_Methodical._tailcall_v4_hijacking_hijacking_._tailcall_v4_hijacking_hijacking_cmd"
https://github.com/dotnet/coreclr/pull/13189

`D:\j\workspace\debug_windows---0fe1a1b1\bin\tests\Windows_NT.x64.Debug\TestWrappers\JIT.Methodical\JIT.Methodical.XUnitWrapper.cs(130587): error : JIT_Methodical._tailcall_v4_hijacking_hijacking_._tailcall_v4_hijacking_hijacking_cmd [FAIL] [D:\j\workspace\debug_windows---0fe1a1b1\tests\runtest.proj]`

https://ci.dot.net/job/dotnet_coreclr/job/release_

[2017-08-04 19:19] Maoni0 commented on #13224
you can know whether concurrent is enabled by checking for GCLatencyMode - if it's GCLatencyMode.Batch it means it's not enabled. This is exposed because you can change it at runtime.

can you please tell me what you would do with something like RetainVM?

[2017-08-04 19:22] gregolsky commented on #13224
I just need to print it out on startup of the app for informational
purposes.

pt., 4.08.2017, 21:19 użytkownik Maoni Stephens <notifications@github.com>
napisał:

[2017-08-04 20:12] Maoni0 commented on #13224
Ahh, then I view this more like a general "how do we expose settings from the runtime" than a GC specific thing. @KrzysztofCwalina do you have an opinion for exposing runtime settings from APIs? settings can be RW or RO.

[2017-08-04 20:39] #12627 closed

[2017-08-04 21:25] BruceForstall commented on #13231
Doesn't reproduce on x86.

[2017-08-04 21:25] BruceForstall commented on #13231
Note, this test fails with
[code]

[2017-08-04 21:29] BruceForstall commented on #13231
Stack trace:
[code]

[2017-08-04 21:40] BruceForstall commented on #13231
Failure in `Compiler::impLookupToTree()` here:
[code]
data:
[code]
The assert in `LegalPolicy::SetFailure()` is:
[code]
Apparently we already decided to fail with `CALLSITE_TOO_MANY_LOCALS`, but we kept going and found another way to fail. Should the assert be:
[code]
?

@AndyAyersMS PTAL

[2017-08-04 21:52] #12315 closed

[2017-08-04 22:05] adiaaida opened #13237 "Investigate Throughtput regression in Microsoft.CodeAnalysis"
Benchview link: https://benchview/compare?jobid=48095&resulttypeid=956&archid=4&testid=63143&configid=2706&machinepoolid=1292&comparejobids=[48074]&

b5c3e56065f640774d75f30acd548d3478874dcb appears to have caused a 4% regression in throughput of crossgening Microsoft.CodeAnalysis. We see this regression in both x64 and x86 Windows.

[2017-08-04 22:14] brianrob opened #13238 "EventPipe: Remove Duplicate Buffer Copies in EventSource"
There is currently an extra buffer copy in the EventSource log path that we should remove.

This is the set of copies that occur:

1. The strongly typed data is converted to "ETW" format, which is a list of pointers serialized argument blobs.
2. In EventPipeEventProvider.EventWriteTransferWrapper, this data gets copied into a new buffer that is allocated on the managed heap and pinned.  (See https

[2017-08-05 02:00] #13223 closed

[2017-08-05 04:15] netroby commented on #13220
I am using archlinux x64, so the nss may be very new.

[code]

The VSCode provided cdn for china.It's amazing fast.

[2017-08-05 04:39] HFadeel commented on #13135
@Maoni0 Any updates about 4.7.1 ?

[2017-08-05 10:53] vermorel commented on #11948
FYI, CNTK (deep learning at Microsoft) will be adding `binary16` to their framework. See their [August 2017 roadmap](https://github.com/Microsoft/CNTK/issues/2194). It would also complement their .NET plans.

[2017-08-05 13:22] danmosemsft commented on #11948
@ericsj for comment above about CNTK

[2017-08-06 17:54] ryukinix commented on #9265
Awesome. This may be released with 2.0.0 .NET Core?

[2017-08-06 19:31] sergiusens commented on #8844
Hi, I want to add my two cents.

If seccomp is enabled, where the behavior today is a `SIGKILL` there is no easy way to handle the behaviour of a denial.

[2017-08-07 01:17] YongseopKim commented on #12992
@BruceForstall please assign this to me.

[2017-08-07 01:51] YongseopKim commented on #12992
It may be solved by https://github.com/dotnet/coreclr/pull/13100. After https://github.com/dotnet/coreclr/pull/13100 is merged, I'll investigate it.

[2017-08-07 06:30] sjsinju commented on #13225
@hqueue OK. It would be fixed with https://github.com/dotnet/coreclr/pull/13100

[2017-08-07 09:37] myarichuk opened #13247 "Repeated http requests get stuck and cause client-side timeout"
Repeated http calls get stuck and timeout after one or two requests when executed in a 4.6.1 project that references a netstandard 2.0 project.
On my end, I've reproduced it here --> https://github.com/myarichuk/TestWebRequestGettingStuck
(the steps to reproduce are in the readme)
It reproduces each run reliably.

It looks like a bug.

[2017-08-07 10:01] jbednarik1 commented on #5551
The Same thing is happening on LXD. Should I report it as a different issue?
`root@brnpreQA:~# lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.2 LTS
Release:        16.04
Codename:       xenial`

`root@brnpreQA:~# lxc version
2.12`

[2017-08-07 13:57] jkotas commented on #13247
This issue was moved to dotnet/corefx#23012

[2017-08-07 13:57] #13247 closed

[2017-08-07 16:25] #11655 closed

[2017-08-07 17:28] mmayr-at commented on #13021
@jkotas This is definitely better than waiting for the 2.1.0 release, thx.

[2017-08-07 18:16] RussKeldorph commented on #13235
Does not repro.  Will investigate if timeouts continue to happen.

[2017-08-07 19:04] AndyAyersMS opened #13253 "JIT: Add too many locals check to lvaGrabTemps"
If checking for too many locals is a good idea in `lvaGrabTemp`, then it is also a good idea in `lvaGrabTemps`. Implement the check and handle the necessary upstream fail fasts.

Or else, decide both of these are bad ideas, and get rid of the checks all together.

[2017-08-07 19:04] AndyAyersMS commented on #13231
The inliner expects the inline attempt to fail fast after the first failure notification, with the exception of the too many locals case called out above. The assert is telling us this fail fast didn't happen and the jit continued on past the point of failure and then hit a second failure condition.

So there is a missing check somewhere in the importer, after an attempt to allocate locals, that s

[2017-08-07 19:05] kouvel opened #13254 "Miscellaneous ReaderWriterLockSlim issues"
- In the TryEnter* functions the conditions checked before the spin loop need to be done inside the spin loop to account for reentrancy due to message pumping during a wait (including Sleep and WaitOne), during which the RW lock state may change.
  - Exception cases should be rechecked upon timeout in case of a state change
- An exception from GetThreadRWCount(dontAllocate: false) was not being ac

[2017-08-07 21:14] JosephTremoulet commented on #13209
Here's the asm for the array version:

<details><summary>array asm</summary>

[code]

</details>

and the span version:

<details><summary>span asm</summary>

[code]

</details>

Happy to have another set of eyes on it, but all I notice that looks like it would slow the span version down is extra stack traffic (note all the spills and fills around places where it uses `r14`).

That extra stack tra

[2017-08-07 21:27] gafter commented on #10390
Also, from the IEEE spec 5.12.2:

There are many numbers for which `double.Parse` produces the incorrect result; see https://github.com/dotnet/coreclr/issues/1316

[2017-08-07 21:51] sebaFlame opened #13256 "GC FinalizeWeakReference issue"
[code]

This is on a self-compiled version of the CoreCLR using LLVM 3.8.1 running on Linux x64. The issue was also present using LLVM 3.7.1. If it matters in any way, I do use WeakReferences in the managed code.
[code]

[2017-08-07 22:16] AndyAyersMS commented on #13231
@sandreenko set a breakpoint at the place where this inline hits the first failure notification and look up the stack to what is being imported; that should pinpoint where the missing fail fast check should go.

Let me know if you have questions.

[2017-08-07 22:20] sandreenko commented on #13231
I was able to repro it on my amd64 machine with:
[code]

result:
[code]

[2017-08-07 22:21] swgillespie commented on #13256
Thanks for the report!

What exactly is the problem here? Is there a crash or deadlock, or some other issue?

[2017-08-07 22:23] sebaFlame commented on #13256
Stop reason = signal SIGSEGV: invalid address (fault address: 0x2ecae4b60)
issue causes a SIGSEGV and program crashes.

[2017-08-07 22:26] swgillespie commented on #13256
Ah, I see, GitHub cut that off - thanks!

Can you provide any details of how you can reproduce this crash?

[2017-08-07 22:40] sebaFlame commented on #13256
Not really. I'm using alot of async code. When the load gets too high this happens. I tried to recreate it on 3 different systems (2 of which are using a self-compiled CoreCLR) and failed to do so. I'm currently looking into using a debian docker image on the production server.

[2017-08-07 22:47] swgillespie commented on #13256
Ah, I see. Would you be willing to provide a core dump of your application the next time this occurs so that we can take a look? Also, does this crash occur when running under docker specifically?

[2017-08-07 22:50] sebaFlame commented on #13256
I did generate some core dumps. I managed to open these with gdb, but not with lldb (not 3.7 or 3.8). I deleted them afterwards. Once I get Docker running, I'll report back here.

[2017-08-07 22:50] swgillespie commented on #13256
Awesome, thank you!

[2017-08-07 23:04] danmosemsft commented on #12354
@Alois-xx do you still plan to give this a shot?

/cc @safern

[2017-08-08 00:42] briansull commented on #13237
With this change we create a better more accurate crossgen native image (when IBC data is present)

I tried `crossgen /verbose` both without (baseline) and with this change and found that 58 additional methods are compiling into the native image.  That represents 1.6% of the total methods compiled.
Since we are compiling 1.6% more methods it is expected that the toptal time taken would increase.

[2017-08-08 00:52] briansull commented on #13237
Additional methods that I see getting compiled are:

Compiling method Microsoft.CodeAnalysis.Syntax.InternalSyntax.GreenNodeExtensions.ToGreenList
Compiling method Microsoft.CodeAnalysis.Syntax.SyntaxListBuilderExtensions.ToSeparatedList
Compiling method Microsoft.CodeAnalysis.Diagnostics.DiagnosticAnalysisContextHelpers.VerifyAction
Compiling method Microsoft.CodeAnalysis.Diagnostics.DiagnosticAn

[2017-08-08 02:47] stephentoub commented on #13209
Hmm, you're right.

I'm not sure.  For now I'm going to close this until I get more info, since it sounds like the known issue is already tracked by #11824 and the asm here looks like what you'd expect.

Thanks for taking a look.

[2017-08-08 02:47] #13209 closed

[2017-08-08 03:43] jkotas commented on #13199
Thanks for reporting the bug. This is duplicate of https://github.com/dotnet/sdk/issues/1396 that is fixed in latest builds.

[2017-08-08 03:43] #13199 closed

[2017-08-08 04:37] #12994 closed

[2017-08-08 11:08] yb101 opened #13267 "Linux .Net Core calling 32bit .so library file issue"
I'm using .Net Core in Linux and able to invoke the functions of my .so library file (64bit). But it will fail if I call the 32bit .so library. The error is simply saying the function can't be found. We would like to know if it's by design. Or if there is a way to call 32bit .so library from Linux .Net Core program? Please kindly advise. @yizhang82 Thanks.

Yuan Bin

[2017-08-08 11:14] reddyBell commented on #6115
Has any progress been done with this ? Is there a FreeBSD port available ?

[2017-08-08 11:15] Thaina commented on #5303
For such times we was thinking about webassembly approach as compilation target for C# or IL so we need to build a compiler for translation. But I have seen some small size VM was built to run VM itself in the webassembly

So is it possible that we could build the coreCLR / coreRT itself into VM on webassembly and just throw pure IL into that VM?

[2017-08-08 11:47] gulshan commented on #5303
https://github.com/aspnet/Blazor-Hackathonhttps://github.com/aspnet/Blazor-Hackathon seems relevant.

[2017-08-08 18:19] nategraf commented on #12863
Still need one more PR to enable the tests in CI

[2017-08-08 18:21] zezba9000 commented on #5303
Blazor-Hackathon uses DotNetAnywhere (DNA) which is an interpreted .NET runtime. Bridge.NET which compiles to JS probably gets better performance. We need CoreRT to function like Unity's IL2CPP so we can target any C/C++ compiler and thus any platform/environment with minimal work.

[2017-08-08 18:47] nategraf commented on #13238
Searching the source code I find [this](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Diagnostics/Eventing/EventPipeEventProvider.cs#L85) to be the only place where EventPipeInternal::WriteEvent is called. Similarly EventPipe::WriteEvent (the cpp side) appears to only be called from EventPipeInternal::WriteEvent

Does that mean I can safely change the expected format of `pD

[2017-08-08 18:59] yatli commented on #13267
I think this is by design. You cannot call a 32bit native binary in a 64bit process with P/Invoke on Windows, either.

[2017-08-08 19:11] sandreenko opened #13272 "Revisit the strategy for fail fasts from compInlineResult->NoteFatal."
We do not have handlers for compDonotInline after some functions, that do "NoteFatal". For example after lvaGrabTemp. It creates problem, if we do NoteFatal for the second time, it blows the assert that compilation should be already interrupted.
There are two obvious solutions:
1) delete the assert and allow to continue execution with several "NoteFatal" before a handler;
2) do fail-fast check aft

[2017-08-08 21:10] danmosemsft commented on #13020
16.10 is removed now. As for R2R, this is also no repro now.

[2017-08-08 21:10] #13020 closed

[2017-08-08 21:12] danmosemsft commented on #12898
Closing, and it's clearly a test issue

[2017-08-08 22:14] borrrden commented on #13267
The runtime itself is actually a native process, and being a native process it can only load libraries that match its architecture.  .NET Core for Linux only supports 64-bit (and community supports ARM) as far as I know so the libraries it loads must also be 64-bit.  You need a 32-bit runtime if you are going to load 32-bit libraries.

[2017-08-08 22:18] sdmaclea commented on #6476
@benaadams

Yes.  #13274 is my simplistic answer for this.  I strated with something like you r gist above, but evolved to this as it was lighter weight.  If we were willing to count queued items, we could do better.

[2017-08-08 22:56] pentp commented on #10642
Because I like (fast) managed code I made some basic optimisations to the CoreCLR decimal code (no significant changes in algorithm structure) and measured using a weighted [random distribution of decimals](https://gist.github.com/pentp/260d9641ce4490c94f708d64e7fbd7c8) that might better represent real world use (gist is sorted for better overview). A total of 440^2=~190K combinations were tested

[2017-08-08 23:00] plioi opened #13277 "Using AssemblyLoadContext for isolation, respecting transitive dependencies"
I'm porting a test framework to .NET Core, so I need to avoid relying on AppDomains for netcoreapp test assemblies. I've attempted to use a custom AssemblyLoadContext to accomplish the same thing, but it's not clear how to have a custom AssemblyLoadContext that can successfully load dependencies like nuget packages now that such assemblies don't literally appear in a project's build output folder.

[2017-08-08 23:35] brianrob commented on #13238
EventPipeInternal::WriteEvent is only called from the one place that you reference above.  That's the managed --> native call from EventSource into the EventPipe.  That's where we want to reduce buffer copies.

EventPipeInternal::WriteEvent is not the only caller of WriteEvent, but might be the only "searchable" caller if you search in GitHub.  It is also called from code that is generated during

[2017-08-09 00:09] jkotas commented on #10642
Yes, we would love to have these optimizations in CoreRT repo. Thank you for doing the work!

[2017-08-09 00:13] jkotas commented on #10642
https://github.com/dotnet/corefx/issues/17147 is about 128bit integer support in general. Not sure whether we need a separate issue for just DIV/MUL support at this point.

[2017-08-09 00:42] pentp commented on #10642
The `Int128` proposal is interesting. However I feel like it should be built on top of some new intrinsics in `Math` (somewhat similar to the proposal of moving `Vector<T>` implementation to use new platform specific intrinsics underneath).
Using `Int128` directly for `Decimal` (or `BigInteger`) math requires working against all the extra abstractions to get to the basic operations (similar proble

[2017-08-09 01:28] sandreenko commented on #13213
I was not able to repro any of this on x86 with legacynonjit.

[2017-08-09 01:44] Thaina commented on #5303
@zezba9000 Isn't dotnet core written in C++? If so can we just emscripten it?

[2017-08-09 01:56] pgavlin opened #13280 "LclVars and throughput"
I'm filing this issue to capture some of the various issues that have popped up recently as I've been experimenting with LclVars and their relationship to JIT throughput. This issue is going to assume basic familiarity with the RyuJIT IR and its terminology as described in [the overview](https://github.com/dotnet/coreclr/blob/master/Documentation/botr/ryujit-overview.md).

# Basics
The fundamental

[2017-08-09 01:58] pgavlin commented on #13280
cc @AndyAyersMS @CarolEidt @dotnet/jit-contrib

[2017-08-09 02:29] wateret opened #13281 "[RyuJIT/arm32] Regression : Assertion failed 'temp != nullptr'"
After #13023 merged, hundreds of unit tests fail with assert failure.

[code]

[2017-08-09 02:49] wateret commented on #13281
Looks like this part is problematic. I even added `XXX` comment for that, I didn't check it again.
Sorry it was my bad. I'll fix shortly.

https://github.com/dotnet/coreclr/pull/13023/files#diff-a87ccc7fd5fd1ecbaef690551f34f0feR1555
https://github.com/dotnet/coreclr/pull/13023/files#diff-04ea18d1ee0bf7efd98adb6840a48369R4015

[2017-08-09 02:56] gregg-miskelly opened #13282 "dbgshim.dll!RegisterForRuntimeStartup can incorrectly fail with E_ACCESSDENIED on Windows"
RegisterForRuntimeStartup is requesting TOKEN_READ access when it should request TOKEN_QUERY access.

Here is the line of code with the bug: https://github.com/dotnet/coreclr/blob/32f0f9721afb584b4a14d69135bea7ddc129f755/src/utilcode/securityutil.cpp#L339

This prevents RegisterForRuntimeStartup from working correctly with Azure Service Fabric local simulator processes.

[2017-08-09 03:07] lt72 commented on #13282
Are the local simulatot processes an internal testing or a production scenario?

[2017-08-09 03:22] zezba9000 commented on #5303
@Thaina No because the JIT has to made to support each platform target, x86, x64, ARM, MIPS, SPARK, RISC-V, WASM, etc. If you compile .NET IL directly to "C98" for example you could target almost any platform out there with little work (its why Unity3D made IL2CPP). I would guess the GC would be the part needing tweaks to get it working on some platforms. In fact with a GC designed for low memory

[2017-08-09 09:38] Drawaes commented on #12426
What ever happened to escape analysis? Wouldn't that solve the very short lived issue? And allocations in general? As for @benaadams requirement to have high density microservices that keep the memory use low, I would say for most people containers with restricted resources solve that problem :)

[2017-08-09 14:56] gregg-miskelly commented on #13282
That depends on your definition of 'production' -- this is how customers develop Azure Service Fabric applications on their dev box's. The problem might also exist with in-the-cloud debugging, but I am not sure if such a feature exists for Service Fabric.

[2017-08-09 15:13] CarolEidt commented on #13280
Thanks for writing this up! Overall, I agree with your thoughts and direction.

- We could consider reusing lclVars that are created because we need a multi-use value, but whose lifetime is limited to a small region. This would effectively increase the number of trackable lclVars, at the cost of ensuring that we handle these in a way that leverages the fact that each use has a single def (in LSRA,

[2017-08-09 16:09] pgavlin commented on #13280
I actually recently experimented with reusing the array and index LclVars created during `GT_INDEX` expansion. This turns out to be a net loss exactly because of some unfortunate preferencing behavior in LSRA. The pattern of the intervals for the shared reused LclVars is a set of block-local (usually, though I think "copy prop" can change this), always non-overlapping lifetimes, but LSRA effective

[2017-08-09 16:10] AndyAyersMS commented on #13280
I think I asked Brian this before, and forgot what he said, but it's not clear to me what the obligations are in the current jit when a tree is deemed unnecessary and is disposed. Certainly there are places that carefully go and decrement ref counts, but I'm sure this step gets missed in places and sometimes it is only conditionally needed.

In past compilers I've worked on there was a checkable d

[2017-08-09 16:26] CarolEidt commented on #13280
Yes, that's why this is an outstanding issue (and not yet already done).

Once I've eliminated the separate `TreeNodeInfoInit` pass and have eliminated `gtLsraInfo`, I plan to work on building `RefPosition`s on-the-fly for tree temps. From there it is (conceptually, at least) a short step to also incrementally building them for lclVars that aren't live across blocks. This would effectively split t

[2017-08-09 16:52] pgavlin commented on #13280
Aside from ref count maintenance, we may want to correct side-effect flags for ancestor nodes when removing an HIR tree, but that is the only other obligation of which I am aware. Currently the ref-count maintenance and side-effect propagation are handled in separate walks if either is performed (which is not always the case). LIR is only obligated to perform ref-count maintenance, and attempts to

[2017-08-09 17:19] RussKeldorph commented on #12898
@danmosemsft This test is still failing in master.  Instead of closing, could we perhaps convert to a Test Bug and move to another milestone?

[2017-08-09 17:24] RussKeldorph commented on #13048
This test relies on user32 APIs (CreatePopupMenu, DestroyMenu, etc.) that are apparently not available on Nano, so the test should be changed or marked invalid for that platform.

[2017-08-09 17:26] kvochko opened #13292 "Reduce CoreCLR memory footprint"
We are currently working on minimizing memory footprint of CoreCLR. Our common scenario is a mobile Xamarin.Forms application for Tizen, test cases can be found [here](https://developer.tizen.org/development/tizen-.net-preview/samples). One of the areas we are looking at is the garbage collector. We have tried several things and found that, for example, setting [g_bLowMemoryFromHost](https://githu

[2017-08-09 17:31] RussKeldorph commented on #12449
Does not repro consistently.  Assuming dup of #6283.

[2017-08-09 17:31] #12449 closed

[2017-08-09 17:57] ruben-ayrapetyan commented on #13292
Related issue: #10380

[2017-08-09 18:03] Tragetaschen opened #13293 "Missing marshalling capability with a struct containing an array?"
Today, I have finally found the reason, why my DBus implementation works with Mono, but doesn't with .NET Core:
[code]
Here's a quick copy of the code from [here](https://github.com/Tragetaschen/DbusCore/blob/3e0d30ca8e29605d85cd6eddfb771db9d36684aa/src/Dbus/Connection.Receive.cs#L9)
[code]

When calling `recvmsg`, Mono is fine with marshalling the `control` member of `msghdr`. For .NET Core (1.1

[2017-08-09 18:11] CarolEidt commented on #13280
Yes, in fact what I was doing when I experimented with this previously is that for tree temps no intervals are built at all. For the not-live-across-blocks lclVars, one would presumably reset its preferencing info when starting a new block.

[2017-08-09 18:18] tannergooding commented on #13293
@Tragetaschen, could you try explicitly marking `control` with `[MarshalAs(UnmanagedType.LPArray)]`?

The default marshalling for arrays is described here: https://docs.microsoft.com/en-us/dotnet/framework/interop/default-marshaling-for-arrays

You will note that under the `Arrays within Structures` subsection that `By default, these embedded array fields are marshaled as a SAFEARRAY.`

When marsh

[2017-08-09 18:36] jashook opened #13295 "Predecessor List does not always maintain sorted order."
This repros more deterministically with JitStress = 2; however, it is not necessary. The original assert came from JIT/Directed/cmov/Bool_Xor_Op_cs_do.exe.

To Repro:

Add the following assert to the end of Compiler::fgAddRefPred.

[code]

[2017-08-09 18:36] jashook commented on #13295
/cc @dotnet/jit-contrib

[2017-08-09 19:38] Alois-xx commented on #12354
Sure there is already a PR pending.
https://github.com/dotnet/coreclr/pull/12593
So far it should be ok except that I could not add the thread names to GC threads. I think I would need to add some include directory to the GC project but I was not yet able to decipher how the build system works. It is a pretty complex mixture of generated files and text processing as far as I can tell.

[2017-08-09 19:49] briansull commented on #13280
The LclVar counts are there mainly for the Legacy JIT backend.  In the Legacy JIT they are used to sort the LclVar and decided which locals are to be tracked and which ones are untracked.  Also the coloring register allocator allocates the LclVars with the highest weight first.  There is an assert that fires if you ever decrement  a count below zero as that is obviously indicates that some kind of

[2017-08-09 20:17] BruceForstall commented on #13295
We should add that assert to the code.

[2017-08-09 20:55] #13231 closed

[2017-08-09 22:09] helloguo commented on #13024
@benaadams My guess is that JIT complains about the type of 2nd and 3rd parameters as they are ref in this line of code `Vector.Widen(vector, out Unsafe.AsRef<Vector<short>>(output), out Unsafe.AsRef<Vector<short>>(output + Vector<short>.Count));`.

I'm not sure if we can set the parameters as ref by just looking at API proposal https://github.com/dotnet/corefx/issues/15957. @mellinoe can we use t

[2017-08-09 22:09] kouvel commented on #13162
Duplicate of #10514, this is not specific to UWP

[2017-08-09 22:22] mellinoe commented on #13024
As far as I understand, there is no real difference between `ref` and `out` past the C# level in this case. The usage pattern is a bit obscure (taking a pointer with an offset, getting a managed ref out of it, and passing it as an out parameter), but it is valid and should be functionally the same as any other `out` parameter. This is assuming the `Unsafe` usage is done carefully (e.g. there's act

[2017-08-09 23:57] benaadams commented on #13024
So in example changing
[code]
to
[code]
Seems to work and generates for the vector block
[code]

[2017-08-10 00:31] RussKeldorph commented on #12522
I believe this test isn't valid for Windows/ARM.  From [MSDN](https://msdn.microsoft.com/en-us/library/dn736986.aspx):

Most ARM hardware does not support IEEE floating-point exceptions. On processor variants that do have hardware floating-point exceptions, the Windows kernel silently catches the exceptions and implicitly disables them in the FPSCR register. This ensures normalized behavior across

[2017-08-10 01:38] yb101 commented on #13267
Does anyone know if there is a plan to roll out 32bit .Net Core runtime in Linux?

[2017-08-10 01:53] borrrden commented on #13267
Looks like on the [roadmap](https://github.com/dotnet/core/blob/master/roadmap.md) It is listed as a "goal" to have a high quality x86 port.

[2017-08-10 03:02] hseok-oh commented on #13156
Example
[code]

Checked build result
[code]

Simplify `When JIT compiling `System.Globalization.DateTimeFormat.FormatCustomized(DateTime dateTime, String format, DateTimeFormatInfo dtfi, TimeSpan offset)` and called methods to print year only.

[code]

Example run result
[code]

[2017-08-10 03:09] hseok-oh commented on #13156
When JIT compiling `System.Globalization.DateTimeFormat.FormatCustomized(DateTime dateTime, String format, DateTimeFormatInfo dtfi, TimeSpan offset)`,

Resolving edge on LSRA resolving phase
[code]

BB28, BB29
[code]

Generated code for inserted node
[code]

Other node(s) using V09
[code]

`IN0045` and `IN0056` uses `strh` to store V09 because type of node 800 and 801 is char.
But `IN005e` uses `l

[2017-08-10 03:51] Maoni0 commented on #13292
@kvochko thanks for the data. I have the following observations:

1) All your non-Hello World scenarios showed at best 2% improvement for peak private dirty memory. The Helloworld one showed 8% improvement. Since the changes only affect when GC runs, it means this Helloworld scenario actually triggered at least one GC. I presume this is a UI Helloworld in Xamarin.Forms.

2) Almost all your scenari

[2017-08-10 03:53] Maoni0 commented on #13135
Sorry...I didn't get a notification about this (github notifications seem very unreliable lately) so I just saw it - so the answer I got was ".NET 4.7.1 will be released with Windows 10 Fall Creators Update".

[2017-08-10 04:27] #13281 closed

[2017-08-10 08:11] hqueue opened #13311 "[RyuJIT/ARM32] Unhandled Exception: System.ArgumentException: The output byte buffer is too small to contain the encoded data, encoding 'US-ASCII' fallback 'System.Text.EncoderReplacementFallback'"
With `COMPlus_AltJit=*`, following exception is observed from `Release` build of CoreCLR.

[code]

Related tests:
[code]

[2017-08-10 08:15] hqueue commented on #13311
@BruceForstall Please assign this to me.

[2017-08-10 08:47] Tragetaschen commented on #13293
With this declaration:
[code]
the exception is the same.

[2017-08-10 11:34] wateret opened #13312 "[RyuJIT/armel] HFA tests fail"
With #13284, most regressions caused by #13023 were fixed. But still there is HFA test regression.

All of these run successfully, but the fails with Unexpected Results. (wrong result value)

- JIT/jit64/hfa/main/testB/hfa_sf2B_d/hfa_sf2B_d.exe
- JIT/jit64/hfa/main/testB/hfa_sf0B_r/hfa_sf0B_r.exe
- JIT/jit64/hfa/main/testB/hfa_sf2B_r/hfa_sf2B_r.exe
- JIT/jit64/hfa/main/testG/hfa_sd0G_r/hfa_sd0G_r.

[2017-08-10 11:35] wateret commented on #13312
Result of `JIT/jit64/hfa/main/testA/hfa_sd0A_r/hfa_sd0A_r.exe`

[code]

[2017-08-10 11:45] wateret commented on #13312
This is the first part of JitDump gets different. (TC: `JIT/jit64/hfa/main/testA/hfa_sd0A_r/hfa_sd0A_r.exe`)

Before #13023 merged
[code]

After #13023 merged
[code]
This is the part that putting argument for a call to `public static bool CheckResult(string testName, double actual, double expected)`, and the argument must be third one since it is the only one that goes to the stack.
It seems like

[2017-08-10 12:05] vertexpipeline opened #13313 "MD5\SHA256 hash troubles"
After hashing via MD5, SHA256 returns wrong results.
Example:
[code]
The example returns results after 15 seconds average, but why SHA256 returns result after ~ 0.5 sec.
There is a correct hash:
[code]
Thanks.

[2017-08-10 13:03] stephentoub commented on #13313
You're not resetting the stream back to the beginning, so the first hash hashes the file, and the next ones have no data to hash.

[2017-08-10 13:14] kvochko commented on #13292
@Maoni0 while it is true that the 2% improvement is relatively small, we are continuing to tune the garbage collector for our scenario, and it's possible that there will be other changes like these. Right now we would just like to know in what form these changes can be submitted to the mainline when improvements are good enough.

[2017-08-10 13:48] vertexpipeline commented on #13313
oh, thanks. It's works. I don't know, why i didn't it...

[2017-08-10 13:48] #13313 closed

[2017-08-10 16:03] RussKeldorph commented on #13204
Per @pgavlin, this doesn't repro with same assertion.  Closing since it doesn't block the release.

[2017-08-10 16:03] #13204 closed

[2017-08-10 18:54] sergign60 commented on #13195
@jkotas @MichalStrehovsky I need your help

the first call of ```RhpInitialDynamicInterfaceDispatch```  comes from the function
[code]
The appropriate fragment of code is
[code]
but I don't see a code to set ```r12``` value that should be used further:
[code]
I have tracked the place where the r12 value is set before this. It is the following chain of calls
[code]
[code]
[code]
[code]
[code]
I gue

[2017-08-10 19:06] MichalStrehovsky commented on #13195
The dispatch cell contents [is different for ARM](https://github.com/dotnet/corert/blob/f92632f4411aa5ce6e7083143ad24e963b565030/src/ILCompiler.Compiler/src/Compiler/DependencyAnalysis/InterfaceDispatchCellNode.cs#L75). We might need the same for ARMEL.

[2017-08-10 19:24] jkotas commented on #13195
Yes. In addition to that, you will also need to fix the JIT to follow the CoreRT convention that passes the indirection cell in r12. The above code fragment needs to be like:

[code]

Look for VirtualStubParamInfo in RyuJIT. R4 needs to be R12 for CoreRT ABI.

[2017-08-10 20:28] brianrob commented on #12863
@nategraf, thanks for making these changes.  Does your latest PR affect official builds and CI or just CI?

[2017-08-10 20:40] Maoni0 commented on #13224
Apparently @KrzysztofCwalina has been having issues with GH notifications as well so he didn't see this - I just emailed him about it.

[2017-08-10 20:45] nategraf commented on #12863
Just the CI

[2017-08-10 20:46] brianrob commented on #12863
Ok, great.  Do you know what needs to be done for the official build or is this the next avenue of investigation?

[2017-08-10 20:51] nategraf commented on #12863
That's the next avenue of investigation. I wanted to make sure these changes don't break anything once they are merged. I'm currently looking at a case where it's causing some friction.

[2017-08-10 20:52] brianrob commented on #12863
Ok, good deal.  Thanks.

[2017-08-10 20:59] KrzysztofCwalina commented on #13224
I would simply open an API addition proposal with all the members you think we should add. You can put all the members in either GCSettings or RuntimeInformation, or any other type and we can have a discussion whats the best place for them at the API review.

@terrajobst, could you point us to the doc describing the API addition process?

[2017-08-10 21:19] nategraf opened #13317 "Whitespace in build.cmd arguments can cause build failure"
The command:
```build.cmd release x64␣enforcepgo -priority=1```
build correctly, but
```build.cmd release x64␣␣enforcepgo -priority=1``` (Two spaces between x64 and enforcepgo)
will fail with the [1] as it's output.

This was first on this [Jenkins build](https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_release_windows_nt_pri1_prtest/9637/)

[1]
[code]

Connected: 13275

[2017-08-10 21:25] KrzysztofCwalina commented on #13224
the API additions/design process is at: https://aka.ms/apireview

[2017-08-10 21:36] jkotas commented on #13317
Looks like bug in the run tool https://github.com/dotnet/corefx/issues/15184

[2017-08-10 22:16] nategraf commented on #13317
It is an issue in build.cmd Jose and Daniel helped me track it down, and #13320 is a fix

[2017-08-10 22:58] BruceForstall commented on #9265
@parjong @seanshpark and others: I haven't seen any Linux/x86 activity lately. Are people still working on this or using this? Should I still try to find time to review https://github.com/dotnet/coreclr/pull/10034 (Enable FEATURE_FIXED_OUT_ARGS), for example?

[2017-08-10 23:59] parjong commented on #9265
Yes, we are using x86/Linux CLR, but we are currently not working on #10034.

We have tested CLR daily, and there have been no failed tests except tests related with #10340 (for Debug/Checked/Release) from May.

We also have tested FX, and x86/Linux and x64/Linux are almost same (except some CompilerService tests related with #10340) for 2.0.0 branch, but we recently have some more failures on x86

[2017-08-11 02:26] hqueue opened #13326 "[RyuJIT/ARM32] Can't run corefx tests with COMPlus_AltJit"
When running corefx tests with `COMPlus_AltJit` to test `ryujit/arm32`, test can't start as follows on Rpi3.

[code]

Without `COMPlus_AltJit`, it works well.
[code]

Does any body know how to run corefx tests with `COMPlus_AltJit` option ?
Note: I've used `corerun` instead of `dotnet` which is supposed to be used for corefx tests as default.

[2017-08-11 02:27] hqueue commented on #13326
/cc: @BruceForstall Please take a look.  Is it possible to run corefx tests with AltJit ?

[2017-08-11 04:23] Maoni0 commented on #13292
This is how I envision how the changes would be reflected - we have a few different levels where you can use to say how much you care about each aspect - memory footprint, throughput or latency. Level 1 through 4 look like the following:

| level        | optimization goals | latency characteristics |
| ------------- |:-------------:|:-----|
| 1 | memory footprint |pauses can be long and more freq

[2017-08-11 04:27] imacks commented on #917
In the meantime, is it possible to build on alpine with glibc? alpine-pkg-glibc

[2017-08-11 05:14] BruceForstall commented on #13326
I haven't ever tried running corefx tests with altjit. Have you tried debugging to see where the failure is? I presume protojit.dll (or libprotojit.so?) exists in the same location as the regular clrjit?

A somewhat unsatisfying option is to (temporarily) change clrjit to be RyuJIT, by changing that build to not define `LEGACY_BACKEND`. You wouldn't get any NYI fallback if you do that.

[2017-08-11 05:22] benaadams opened #13329 "Jit: Long method Jit time for ImmutableList.Enumerator.Dispose"
[code]

Corefx issue https://github.com/dotnet/corefx/issues/23125
MsBuild issue https://github.com/Microsoft/msbuild/issues/2419

/cc @davkean

[2017-08-11 05:22] benaadams commented on #13329
Method for reference

https://github.com/dotnet/corefx/blob/1fe52f7ff4e29462f75da9ae1c35d9789ad13709/src/System.Collections.Immutable/src/System/Collections/Immutable/ImmutableList_1.Enumerator.cs#L150-L162

[2017-08-11 05:28] hqueue commented on #13326
I tried to debug it with `gdb` but got no meaningful clue untiil now.

Yes. There is  `libprotojit.so` and I have ran coreclr tests with same coreoverlay using altjit option

I also think about this option but as the  last choice.

[2017-08-11 05:43] hqueue commented on #13326
@BruceForstall Found a reason. It seems that recent regression in ryujit/arm32 caused the failure.

I'm going to close this after the regression is fixed.

[2017-08-11 06:38] Jiayili1 commented on #6283
failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fr2r~2Fcli~2F/build/20170811.01/workItem/JIT.jit64.XUnitWrapper/analysis/xunit/JIT_jit64._opt_cse_HugeArray1_HugeArray1_~2F_opt_cse_HugeArray1_HugeArray1_cmd

[2017-08-11 06:39] dotnet-mc-bot opened #13331 "Test failure: Regressions_coreclr._0198_CompEx_CompEx_/_0198_CompEx_CompEx_cmd"
Opened on behalf of @Jiayili1

The test `Regressions_coreclr._0198_CompEx_CompEx_/_0198_CompEx_CompEx_cmd` has failed.

Error compiling CompEx.org: Out Of Memory\r
    Error: compilation failed for "CompEx.org" (0x8007000e)\r

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\2c50c34d-bd3f-42bc-ab0a-b4e984fe2d49\Work\a3ca9241-ec7f-4006-895a-6f8bb86326a0\Unzip\Reports\Regression

[2017-08-11 06:57] tmds commented on #6283
This issue was fixed as part of rhel 7.4.

[2017-08-11 09:46] qmfrederik commented on #917
@imacks I think that coreclr master should compile on Alpine, since #13052 got merged a while ago.

[2017-08-11 10:08] sergign60 commented on #13195
@MichalStrehovsky thanks!

[2017-08-11 12:32] sergign60 commented on #13195
https://github.com/dotnet/coreclr/pull/13335

[2017-08-11 15:13] omajid commented on #12035
The thing that bothers me is that `sequential` doesnt do *anything*. It would be simplest to remove it.

[2017-08-11 16:00] AntonLapounov commented on #12522
@Jiayili1 @tijoytom Could we disable this test for ARM?

[2017-08-11 17:05] gbalykov opened #13339 "[Memory consumption] Reduce memory consumption of filenames in CFileMappingImmutableData and CFileProcessLocalData"
Hello.

We would like to reduce memory consumption of `CPalObjectBase` by reducing size of `CFileMappingImmutableData::szFileName` and `CFileProcessLocalData::unix_filename`, which are fixed to `MAXPATHLEN` (about 4 kilobytes - almost always, highly excessive).

One way to do this is to allocate` CFileMappingImmutableData::szFileName` and `CFileProcessLocalData::unix_filename` separately from `CFi

[2017-08-11 17:46] gbalykov commented on #13339
Shared memory allocator was removed in #12815. As no synchronization is now performed in allocator, could CSharedMemoryObjectManager be transformed to simply CObjectManager? Shared features of it do complicate implementation and seem redundant.

Also, are the next features being used: FEATURE_IPCMAN, BBSweep, ProfilingAPIAttachDetach? Or they could be deleted too?

[2017-08-11 18:47] diamondes3 opened #13340 "System.Diagnostics.Process.GetProcesses and System.Diagnostics.ProcessModule"
I'm creating a program that needs to get a list of currently executing processes in memory and take action to kill a given process, if it's a different instance of the same (currently executing program) that has become hung for some reason; where I have a criteria based on start time to declare a given process as being hung.  This logic is being developed on a windows machine using "dotnet" core,

[2017-08-11 18:50] fiigii opened #13341 "[RyuJIT] Unnecessary register moves from Unsafe.AsRef<T>"
According to VTune characterization, [ParseHeaders](https://github.com/aspnet/KestrelHttpServer/blob/659fa967a1900653f7a82f02624c7c7995a3b786/src/Kestrel.Core/Internal/Http/HttpParser.cs#L189) is one of the hot functions in TechEmpower-Plaintext scenario.

`ParseHeaders` invokes inlined [`DangerousGetPinnableReference`](https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/Span

[2017-08-11 18:51] fiigii commented on #13341
cc @russellhadley @RussKeldorph

[2017-08-11 19:12] AndyAyersMS commented on #13341
Looks similar to #11390 (see dotnet/corefxlab#1479 for some detailed notes). If so, it is fallout from how pinning is described in the IL.

[2017-08-11 20:06] fiigii commented on #13341
@AndyAyersMS  I think it is different. Here is the JIT dump.
During importing `UnSafe.AsRef<T>`, three variables (V50, V51, and V52) are introduced at ASG, and the IR is one-to-one maping to the source code.
[code]
Then these three variables and assignments are retained all through codegen:
[code]

[2017-08-11 21:39] yizhang82 opened #13344 "Undo workaround for https://github.com/dotnet/coreclr/issues/12592"
Once https://github.com/dotnet/coreclr/issues/12592 is fixed, Undo the following:
[code]

[2017-08-11 21:40] benaadams commented on #13340
Maybe add to: https://github.com/dotnet/core-setup/issues/2007

[2017-08-11 21:41] jashook opened #13345 "fgRemovePred will attempt to remove Preds that do not exist."
The current behavior is to not insert the newPred.

[2017-08-11 21:41] fadimounir commented on #12592
cc @fadimounir

[2017-08-11 21:41] jashook commented on #13345
/cc @dotnet/jit-contrib

[2017-08-11 21:44] yizhang82 commented on #12592
I'm going to close this for now - we are not going to track this in github. We'll follow up with linker dev offline.

[2017-08-11 21:44] #12592 closed

[2017-08-11 22:00] diamondes3 commented on #13340
That'd be fine. It's a bit of an add on to #2007 if you try to solve the
module issue.

If you solve the issue in #2007, I think that would suffice for what I'm
describing, unless you find there is some logic issue within the code that
is exposing the attributes of the modules.

On Fri, Aug 11, 2017 at 16:40 Ben Adams <notifications@github.com> wrote:

[2017-08-11 22:06] AndyAyersMS commented on #13341
There is still an initial long->byref assignment which may block subsequent simplification.

[Unsafe.AsRef<T>](https://github.com/dotnet/corefx/blob/master/src/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.il#L262-L272) shouldn't need the ldarg / stloc / ldloc workaround anymore.  The jit issue should have been fixed by #11218 (let me know if not).

Removing thi

[2017-08-11 22:07] swgillespie commented on #13256
cc @Maoni0

[2017-08-11 22:10] #13317 closed

[2017-08-11 22:15] jkotas commented on #13341
It still needs it when running on .NET Framework. The build is shared between all runtimes right now. To remove the workaround, we should add netcoreapp-specific build and remove the workaround in that build only.

[2017-08-11 22:35] jkotas opened #13348 "[ARM64] Assertion failed '(attr != EA_1BYTE) || !(tree->gtFlags & GTF_IND_UNALIGNED)'"
crossgen of S.P.CoreLib is failing with:

Assertion failed '(attr != EA_1BYTE) || !(tree->gtFlags & GTF_IND_UNALIGNED)' in 'System.Runtime.CompilerServices.Unsafe:ReadUnaligned(byref):ubyte' (IL size 10)

[2017-08-11 22:50] jashook commented on #13348
Bin Searching for the bad pr.

[2017-08-11 22:52] jashook commented on #13348
/cc @dotnet/jit-contrib

[2017-08-11 22:56] jkotas commented on #13348
It is likely #13278. It added a few more calls of ReadUnaligned in CoreLib.

[2017-08-11 23:41] BruceForstall commented on #13345
@jashook There is no `fgRemovePred`.

[2017-08-12 02:20] jashook commented on #13345
Sorry, as your know from the code review the function is fgReplacePred.

[2017-08-12 04:21] jashook commented on #13348
It is #13278 that caused it.

[2017-08-12 16:56] TheLastRar commented on #9265
Are there any plans to start doing x86/Linux daily builds?

[2017-08-12 17:14] AndyAyersMS commented on #12480
Did a bit of instrumentation and prospecting on how often this is and how many temps might be saved. Don't have the full data yet, but when crossgenning corelib, the jit allocates 10849 stack merge temps and my analysis says it only needed to allocate 6217.

So far all the examples where we see nontrivial depths at merges are similar to the above.

Am going to figure out what fraction of all (impo

[2017-08-12 17:41] cydhaselton commented on #12982
Closed by #13055

[2017-08-12 17:41] #12982 closed

[2017-08-12 20:28] DragonSA commented on #6115
No, unfortunately little progress has been made.  It has proven very difficult to bootstrap the build process (even with building msbuild for mono).

[2017-08-12 21:24] cydhaselton commented on #12989
Polite ping to @gkhanna79 for input

[2017-08-13 19:55] Thealexbarney opened #13357 "Math.Sin produces different results on CoreCLR and Full CLR"
Based on my testing, Math.Sin in CoreCLR commonly produces slightly different results than the sin functions in the Full CLR, and the GCC and MSVC C++ libraries do.

Here's a simple example:

[code]

Results:
`dotnet run -f net47`:

`bfed418e90175c7e`
`bfe958efe48e6dd7`

`dotnet run -f netcoreapp1.0`:

`bfed418e90175c7e`
`bfe958efe48e6dd6`

The results are the same with .NET Core 2.0.

It's only o

[2017-08-13 21:17] jkotas commented on #13357
Similar issue discussed in https://github.com/dotnet/coreclr/issues/12737

[2017-08-13 21:27] jkotas opened #13358 "Different code generated by checked vs. release RyuJIT for Guid.op_Inequality"
Repro:

1. Build Windows x64 checked, inspect the code for `Guid.op_Inequality`. You should see:

[code]

2. Build Windows x64 release, copy release clrjit.dll over to your checked build, inspect the code for `Guid.op_Inequality`. You should see less efficient code - the arguments are spilled to stack:

[code]

Expected: Both checked and release RyuJIT generate same efficient code.

[2017-08-14 02:00] benaadams commented on #13358
Is this more widespread?

[2017-08-14 05:24] mikedn commented on #13280
Wouldn't it be possible to reduce the number of lclvars used by GT_INDEX's expansion by making GT_ARR_BOUNDS_CHECK return the index it checks? This way the original index would be used only once and no new lclvar would be needed for it. This would also slightly simplify the IR by avoiding the need for a GT_COMMA node. Granted, it's not a trivial change...

[2017-08-14 08:45] janvorli commented on #13220
@netroby would you be able to try if you have the same problem with Ubuntu (14.04, 16.04 or 16.10) on a machine connected to the same network? I'd like to figure out if the problem is archlinux specific or not.

[2017-08-14 09:40] janvorli commented on #5551
@jbednarik1 actually, I was thinking about your issue after we've met and I've realized in your case, it might be a different issue that was fixed for 2.0.0. But I am not sure if you've said you were hitting it with 2.0.0 or with previous versions.

[2017-08-14 10:27] hqueue opened #13363 "[RyuJIT/ARM32] Regression in multireg operators in ARM32"
After #13190, there are some regressions observed in `Release` build of coreclr in RyuJIT/ARM32 with `COMPlus_AltJit=*`.

Regressions are observed from following tests.

[code]

Above tests are passed with `Checked` build of coreclr in RyuJIT/ARM32.

[2017-08-14 10:47] netroby commented on #13220
Have no ubuntu in hand.

[2017-08-14 11:23] #10514 closed

[2017-08-14 15:02] janvorli commented on #13220
Ok, let me try it locally on an archlinux x64 in a VM.

[2017-08-14 15:07] kvochko commented on #13292
@Maoni0 Thanks! I've measured private dirty memory used only by the managed heap, and it seems that the 1156Kb gain in HelloWorld is coming from elsewhere.

Here are the latest memory gains for all apps (peak private dirty for GC only), with the following changes relative to the master:
* `g_bLowMemoryFromHost` set to 1,
* `fragmentation_burden_limit` set to 0.15 for gen1 and gen2,
* a fixed small

[2017-08-14 15:12] AndyAyersMS commented on #13358
cc @dotnet/jit-contrib

Likely there is some side-effect in jit sources under DEBUG that shouldn't be under DEBUG. These kinds of errors are probably not common. More likely then not they lead to easily observable problems.

However, we really should be checking to ensure that debug, checked and release builds of the jit produce the exact same output. Doing this in volume requires automation, and

[2017-08-14 15:34] mikedn commented on #1741
After #11594 the generated code is:
[code]

An unnecessary `and y, 31` still exists. CSE picked up some of them and the lowering transform added in 11594 can't get rid of them because it sees `x << lcl` rather than `x << (y & 31)`.

[2017-08-14 16:13] nategraf commented on #12863
This check is working in the CI builds. In the logs for "Windows_NT x64 Release Priority 1 Build and Test" you can find

[code]

[2017-08-14 17:04] BruceForstall commented on #13358
@AndyAyersMS @dotnet/jit-contrib We used to have internal automation to check for chk/ret differences. It should be possible to do this with SuperPMI (e.g., with the internal desktop collection, do SuperPMI asm diffs passing CHK and RET JIT from same sources; it will tell you functions that differ, then you might need to hook up the late disassembler to see the actual code)

[2017-08-14 17:30] swgillespie opened #13367 "Address non-standard printf formatting in GC's dprintf"
The `dprintf` logging mechanism in the GC uses some non-standard formatting sequences that may not work as expected with a non-windows CRT. We should settle on standard formatting sequences so that we can use this mechanism on non-Windows platforms.

The standalone GC build currently builds with `-Wno-format` in order to silence the warnings raised about these non-standard formatting sequences.

c

[2017-08-14 17:51] AndyAyersMS commented on #13358
I'll take a look.

[2017-08-14 18:54] danmosemsft commented on #12354
@Alois-xx if you believe there are more GC threads to name that you did not handle in https://github.com/dotnet/coreclr/pull/12593 then check with @swgillespie

[2017-08-14 19:29] AndyAyersMS commented on #13358
Something like this might also make a good PGO/non-PGO validation test....

[2017-08-14 19:42] richlander opened #13369 ".NET Core Runtime ARM32 builds now available"
# .NET Core Runtime ARM32 builds now available

The .NET Core team is now producing ARM32 builds for .NET Core Runtime 2.0+, for both Linux and Windows. These builds are great for using on Raspberry Pi. The builds are not yet supported by Microsoft and have preview status. Please give us feedback.

Docker ARM32 images are also available at [microsoft/dotnet](https://hub.docker.com/r/microsoft/dotn

[2017-08-14 19:59] AndyAyersMS commented on #13358
I added some per-phase instrumentation to dump out number of blocks, statements, trees, and locals after each phase. Running over corelib, diffing CHK vs REL, and listing just the first phase that diverges gives the following:
[code]
Somewhat unexpectedly, `GUID.op_Inequality` is not listed. Not sure why just yet.

[2017-08-14 20:18] sergign60 commented on #13195
@MichalStrehovsky @jkotas
Just now the simplest test fails because the value of ```interfacePointerValue``` in the first call of ```InterfaceDispatchCell::GetDispatchCellInfo``` is incorrect
[code]
[code]
As I understand ```m_pCache``` is initialized by wrong value. Unfortunately I cannot find where this initialization occurs. Could you help me with this? Thanks in advance

[2017-08-14 20:42] jkotas commented on #13195
It is pre-initialized in the compiler. here: https://github.com/dotnet/corert/blob/master/src/ILCompiler.Compiler/src/Compiler/DependencyAnalysis/InterfaceDispatchCellNode.cs#L92

I guess that `IMAGE_REL_BASED_RELPTR32` relocs are not handled in the objectwriter for ARM correctly.

[2017-08-14 20:44] AndyAyersMS commented on #13358
@briansull reminded me that this behavior could also come from uninitialized values. The diversity of phases where CHK and REL diverge lends credence to that hypothesis.  That could also explain why I don't see the guid method in my list

Will start tracking these down, one by one...

[2017-08-14 21:02] Maoni0 commented on #13292
@kvochko, thanks for the data. @swgillespie will be working with you on this. We need to do the following:

1. Set different sets of tuning parameters according to latency levels - things like  g_bLowMemoryFromHost might be removed completely on core as there's no hosting;

2. Run a lot more tests with more data collected so we understand the perf characteristics better - unfortunately on Linux it

[2017-08-14 21:05] benaadams commented on #11338
Could this make use of the changes for containers? (For a max mem config) https://github.com/dotnet/coreclr/pull/10064

[2017-08-14 21:16] swgillespie commented on #13367
All warnings that I can see have to do with the `%Ix` specifier, e.g.

[code]

[code]

[code]

[2017-08-14 21:23] MichalStrehovsky commented on #13195
Other thing to point out is that the managed portion of the object writer currently maps this reloc to `IMAGE_REL_BASED_REL32` to work around the lack of native ObjectWriter's understanding of it(https://github.com/dotnet/corert/blob/bc60b0667fe6cac44f591752ce0070342106fda9/src/ILCompiler.Compiler/src/Compiler/DependencyAnalysis/ObjectWriter.cs#L199).

[2017-08-14 22:00] BruceForstall commented on #13369
cc @dotnet/arm32-contrib @dotnet/jit-contrib

[2017-08-14 22:16] #13363 closed

[2017-08-15 01:08] AndyAyersMS commented on #13358
The first diff comes from `fgRetypeImplicitByRefArgs()` and was introduced in #10453.

Here `lvKeepType` is a stress-only field so setting it under `DEBUG` is reasonable, but the other two fields need to be set consistently in all build modes.

It might explain Jan’s diffs. It would give better codegen in CHK, but would not lead to buggy codegen in REL.

[code]
Will see what happens to my diff set

[2017-08-15 01:49] JosephTremoulet commented on #13358
Yikes! Yes, the intent was definitely to clear `lvAddrExposed` and `lvDoNotEnregister` in all builds.

[2017-08-15 02:03] AndyAyersMS commented on #13358
My screening build doesn't see any diffs in corelib with this fixed. Will send out a PR and see what happens on desktop.

[2017-08-15 05:42] #13358 closed

[2017-08-15 07:34] Jiayili1 commented on #13162
since #10514 is closed, so reopen this issue, it is repro, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fr2r~2Fcli~2F/build/20170815.01/workItem/baseservices.threading.XUnitWrapper/analysis/xunit/baseservices_threading._waithandle_waitany_waitanyex2_waitanyex2_~2F_waithandle_waitany_waitanyex2_waitanyex2_cmd

[2017-08-15 09:04] ruben-ayrapetyan commented on #13292
CC @lemmaa @egavrin

[2017-08-15 10:17] kouvel commented on #13162
I'm not seeing any failure info on that run. It's showing zero passed, failed, and skipped for some reason. @Jiayili1, if you happen to be able to see the test output, could you please post it? I'm going to close the other issue meanwhile, as I had added output in the test for debugging this issue and it is not really actionable until I can see the output.

[2017-08-15 10:20] kouvel commented on #13162
Oh I thought you had reopened #10514. I'm just keeping all of the issues regarding this closed until I can get some test output from a failure. Hopefully with that I'll be able to figure out what's going on.

[2017-08-15 10:20] #13162 closed

[2017-08-15 13:39] sergign60 commented on #13195
@MichalStrehovsky @jkotas thanks!

[2017-08-15 14:55] AndyAyersMS commented on #13348
Anyone planning on fixing this?

[2017-08-15 15:28] redknightlois commented on #3439
Another case for power of 2 constants.

[code]
 This code generates:
[code]

However you can actually rewrite that (knowing that the constant is power of 2) into:

[code]

Which will output:
[code]
That is half the bytes.

[2017-08-15 15:38] jashook commented on #13348
Yes, looking into it this morning.

[2017-08-15 16:00] mikedn commented on #3439
That's unrelated to the original issue, there's no `idiv` in this case.

[2017-08-15 18:43] redknightlois opened #13380 "[JIT] Codegen for combined mod/div with power of 2 constants."
Power of 2 constants with divide and modulus missing optimization.

[code]
 This code generates:
[code]

However you can actually rewrite that (knowing that the constant is power of 2) into:

[code]

Which will output:
[code]
That is half the bytes.

[2017-08-15 18:45] redknightlois commented on #3439
Yes I should have created a new one instead. While it is the same combination (using division and modulus over the same parameters), this one is using constants the other is not. Created https://github.com/dotnet/coreclr/issues/13380

[2017-08-15 19:03] omariom commented on #13380
what if you change `overflowSize` to `ulong`?

[2017-08-15 19:32] mikedn commented on #13380
That should generate code that's similar to the code generated by the "fixed" example without requiring `PageSizeShift` and `PageSizeMask`.

Some clarifications:

Signed division by power of 2 generates code like:
[code]
Signed modulo power of 2 generates code like:
[code]
In case anyone wonders why the generated code doesn't reduce to a single shift/and - that's due to the way truncation is done.

[2017-08-15 19:39] mohamedmansour commented on #11012
I am having same issue on Windows dotnetcore2.

`System.IO.FileLoadException: 'Could not load file or assembly 'System.ComponentModel.Primitives, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)'`

When doing the following:

[code]
My csproj is the following:
[c

[2017-08-15 19:43] mohamedmansour opened #13381 "Setting a BaseIntermediateOutputPath and Output gives `Could not load file or assembly 'System.ComponentModel.Primitives, `"
The error I am having is this uncaught exception:

`System.IO.FileLoadException: 'Could not load file or assembly 'System.ComponentModel.Primitives, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)'`

In Program.cs
[code]

My csproj is the following:
[code]

Whe

[2017-08-15 19:50] redknightlois commented on #13380
Closing confirmed that using unsigned long will recognize it and generate the proper code.

[2017-08-15 19:50] #13380 closed

[2017-08-15 20:23] helloguo opened #13383 "CPUGroupInfo class on Linux when Hyper-Threading is on"
For the machine with two sockets and 26 physical cores per socket, Class `CPUGroupInfo ` assumes Processors/Numa Node/CPU Group/Number are like this when Hyper-Threading is on:

[code]

The data structure `m_CPUGroupInfoArray `  is initialized based on the above assumption. Some functions using data structure `m_CPUGroupInfoArray `  such as `GetGroupForProcessor(), CalculateCurrentProcessorNumber(

[2017-08-15 20:25] helloguo commented on #13383
/cc @janvorli @Maoni0

[2017-08-15 21:07] gkhanna79 commented on #12989
@weshaggard @wtgodbe PTAL.

[2017-08-15 21:07] gkhanna79 commented on #12989
CC @janvorli as well.

[2017-08-15 21:08] gkhanna79 commented on #13277
@kouvel should chime in on this.

[2017-08-15 21:22] janvorli commented on #13383
@helloguo could you please dump me the  /sys/devices/system/node/node0/cpumap and  /sys/devices/system/node/node1/cpumap on that machine?

[2017-08-15 21:22] danmosemsft opened #13385 "Corelib.csproj base address is not accepted by VS"
The 64 bit build passes
`/baseaddress:0x180000000 `
which is accepted
`.imagebase 0x0000000180000000`

but VS warns on project load `Load of property 'BaseAddress' failed`	 (and only accepts 32 bit vals in the properties). Building in VS gives the command line result.

Probably a VS bug but logging to track.

[2017-08-15 21:24] danmosemsft opened #13387 "Lots of warnings about shared files when opening corelib csproj in VS"
Eg

`The file 'C:\git\coreclr\src\mscorlib\shared\Interop\Unix\System.Globalization.Native\Interop.ResultCode.cs' could not be added to the project.  Cannot add a link to the file C:\git\coreclr\src\mscorlib\shared\Interop\Unix\System.Globalization.Native\Interop.ResultCode.cs. This file is within the project directory tree.	`

Not sure why yet -- this makes it impossible to see any actual warning

[2017-08-15 21:42] helloguo commented on #13383
![capturemap](https://user-images.githubusercontent.com/18431130/29337907-fd8782fc-81c7-11e7-9192-64e379b5cc9a.PNG)

[2017-08-15 22:01] helloguo opened #13388 "Spin wait tuning"
Spin-Wait can have a significant cost on power and performance if not done properly. The `PAUSE `instruction on Skylake changed from previous generations such as Haswell and Broadwell, from reference "Intel® 64 and IA-32 Architectures Optimization Reference Manual" section 8.4.7, "The latency of PAUSE instruction in prior generation microarchitecture is about 10 cycles, whereas on Skylake microarc

[2017-08-15 22:03] helloguo commented on #13388
/cc @jkotas

[2017-08-15 22:06] jkotas commented on #13388
cc @vancem

[2017-08-15 22:21] janvorli commented on #13383
We are currently using the processor number that Linux assigns to each core. As you can see, the cpumap matches the structure we generate. Node 0 contains processors 0..25 and 52..77 and we assign them to group 0 with numbers 0..51. Similar to node 1 - it contains processors 26..51 and 78..103 and we assign them to group 1 with numbers 0..51.
I actually wonder why would the m_CPUGroupInfoArray be

[2017-08-15 22:37] helloguo commented on #13383
For example,  `CPUGroupInfo::GetGroupForProcessor(WORD processor_number, WORD* group_number, WORD* group_processor_number)`. https://github.com/dotnet/coreclr/blob/master/src/utilcode/util.cpp#L1121. when the processor_number 26 is passed in, group_number should be 1 and group_processor_number should be 0. However, based on the current implementation, group_number returns 0 and group_processor_num

[2017-08-15 22:53] vancem commented on #13388
cc @kouvel

[2017-08-15 23:57] #12863 closed

[2017-08-16 00:02] benaadams commented on #13388
Might have a major effect on Thread.SpinWait(iterations)

For example in ManualResetEventSlim looping on `i`
[code]
https://github.com/dotnet/coreclr/blob/5944aa55a541b144349a5c0ba0aecccfde9b5646/src/mscorlib/src/System/Threading/ManualResetEventSlim.cs#L572-L587

which calls

https://github.com/dotnet/coreclr/blob/5944aa55a541b144349a5c0ba0aecccfde9b5646/src/vm/comsynchronizable.cpp#L1628-L1657