[2018-02-07 20:39] briansull commented on #16122
Well setting COMPLUS_UseLegacyJit=1 also corrects the bad behavior, so it probably not caused by Roslyn.
I will continue to investigate this issue.

[2018-02-07 20:56] xoofx commented on #16254
Intuitively, I would say unlikely. For #16210 the problem is that we are taking the address of a single field (while fixed on `this` is working) but here this is just a plain cast from/to Vector4/Quaternion, looks more related to SIMD. Same code without SIMD structs (with plain struct) should just work.

[2018-02-07 21:07] benaadams commented on #16210
It would probably impact the "Fixed Sized Buffers" proposal? https://github.com/dotnet/csharplang/blob/master/proposals/fixed-sized-buffers.md
[code]

[2018-02-07 21:11] xoofx commented on #16210
good catch and likely 😞

[2018-02-07 21:11] tannergooding commented on #16210
I think it impacts fixed sized buffers in general, including the existing ones. The existing fixed sized buffers reference a single element in an explicitly sized struct and then access it like an array.

[2018-02-07 21:39] Maoni0 commented on #16061
@sywhang could you please take a look?

[2018-02-07 22:05] VSadov commented on #16122
What I see is

Roslyn:
[code]

Legacy csc

[code]

[2018-02-07 22:23] VSadov commented on #16122
If I add `finally`, the code loops forever regardless what compiler I use.

Try:

[code]

[2018-02-07 22:44] AndyAyersMS commented on #15943
Should this be in 2.1 (not 2.0.x) ?

[2018-02-07 23:14] CarolEidt commented on #15943
Yes, I believe so.

[2018-02-07 23:33] sdmaclea commented on #14017
@benaadams @kouvel
One other approach I imagined was using the global queue to trigger cross thread polls.  I have not had time to prototype it.  It is something I will look at when I get back to optimizing plaintext.

[2018-02-07 23:35] AndyAyersMS commented on #13345
@jashook based on the comments in #13322 this surfaced in a jit stress test failure. Do you recall the details? If so, can you add the information here?

[2018-02-07 23:38] benaadams opened #16266 "[Jit] Proposal: Non-shared generics"
Proposal
[code]

If you had for example https://github.com/aspnet/KestrelHttpServer/pull/2290
[code]
and you marked it with this `MethodImplOptions` it would elide all the type checks for `class`es/`interface`s as it does for `struct`s meaning it would turn into a branchless function.

Still performance issues with it being an interface generic method `IFeatureCollection.Get<TFeature>()`; but bett

[2018-02-07 23:41] Drawaes commented on #16266
Same with things like

[code]

[2018-02-08 00:06] BruceForstall commented on #12971
We are shipping RyuJIT/arm32 for 2.1, but haven't done any more CQ/throughput work than is shown here, and that's been a while. We should do at least some investigations.

[2018-02-08 00:18] AndyAyersMS commented on #13295
If you add the above and enable the slow checks it fires during x64 crossgen:
[code]
I'll fill in some more details as to why this happens in a bit.

[2018-02-08 00:49] #16195 closed

[2018-02-08 01:55] tannergooding opened #16270 "Implement the HWIntrinsics for SSE4.2"
category:reach
theme:intrinsics
skill-level:intermediate
cost:medium

[2018-02-08 01:55] tannergooding commented on #16270
FYI. @CarolEidt, @fiigii

I've opened this and self assigned as part of https://github.com/dotnet/coreclr/issues/15908 and https://github.com/dotnet/coreclr/issues/16216

[2018-02-08 02:56] fiigii commented on #16270
@tannergooding Thanks for the work. After finish https://github.com/dotnet/coreclr/pull/16183, I plan to implement a few of SSE4.1 intrinsics as well (e.g., certain AVX helper-intrinsics need `Sse41.Insert` ).

[2018-02-08 03:04] tannergooding commented on #16270
@fiigii, sounds good to me.

We should probably sync up in the near future and decide how to split SSE4.1 between us.

[2018-02-08 03:04] AndyAyersMS commented on #13295
Some things that need fixing (there may be more):
*  `fgReplacePred` does not re-sort the flow list if the pred order is messed up during replacement. It can also be called before preds are computed (eg qmark expansion in morph) so needs an early bail out.
* When new blocks are created and inserted out of `bbNum` order, renumbering the blocks can invalidate the pred list ordering. Suppose BB10 fal

[2018-02-08 03:09] fiigii commented on #16270
Agree, we can discuss it after https://github.com/dotnet/coreclr/pull/16249 merged.

[2018-02-08 04:20] BruceForstall opened #16272 "fgValueNumberIntrinsic() assert 'unreached' in corefx System.Runtime.Extensions.Tests"
Ubuntu x64 checked corefx_baseline test job:

[code]

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_ubuntu_corefx_baseline_prtest/198

[2018-02-08 04:21] BruceForstall commented on #16272
@briansull @dotnet/jit-contrib

[2018-02-08 06:54] #15648 closed

[2018-02-08 08:44] ww898 opened #16274 "Some questions about profiler API"
1. Our profiler excavates static variable values during the GC finished event and everything works perfectly till the GC where the first collectible assembly was silently unloaded. And we get crash after that. Now we disabled static variables for collectible assemblies. How to detect the moment during GC after that I can understand that the module was collected?

2. Our profiler gathers field name

[2018-02-08 09:36] dotnet-mc-bot opened #16275 "Test failure: baseservices_threading._coverage_Nullref_CS_TimerNullRefEx_CS_TimerNullRefEx_/_coverage_Nullref_CS_TimerNullRefEx_CS_TimerNullRefEx_cmd"
Opened on behalf of @Sunny-pu

The test `baseservices_threading._coverage_Nullref_CS_TimerNullRefEx_CS_TimerNullRefEx_/_coverage_Nullref_CS_TimerNullRefEx_CS_TimerNullRefEx_cmd` has failed.

Error: Could not load file or assembly 'System.Threading.Timer, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified.
     (Exception from HRESULT: 0x80

[2018-02-08 09:37] Sunny-pu commented on #16275
Failed tests:
baseservices_threading._generics_Monitor_TryEnter01_TryEnter01_
baseservices_threading._generics_TimerCallback_tighttimercallback_tighttimercallback
baseservices_threading._regressions_13662_13662_a_13662_a_
baseservices_threading._coverage_Nullref_CS_TimerNullRefEx_CS_TimerNullRefEx_

https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunct

[2018-02-08 09:39] alpencolt commented on #12971
We've measured launch time on Tizen/armel platform for `crossgen` compiled applications. There is no regression for simple apps. I will share more detailed info soon.
But we haven't measured throughput and  Code Quality.

[2018-02-08 10:10] kbaladurin commented on #16208
@RussKeldorph thank you for response! I found out that stack smashing occurs due to segmentation fault in application's native thread that hasn't alternate signal stack. I tried to handle such case in coreclr: https://github.com/dotnet/coreclr/pull/16276

[2018-02-08 12:08] kkokosa opened #16277 "Proposal: TryForSufficientStack method to support stackalloc usage"
Due to changes in C# 7.2 and Span, more and more `stackalloc `usages may become popular like:

`Span<byte> span = stackalloc byte[1000];`

However, this call will end up with unrecoverable `StackOverflowException `if there is not enough stack space left. We can do nothing in such situation which makes this approach not useful at some point. It is now just completely unreliable to guess what `stack

[2018-02-08 12:25] jkotas commented on #16277
This issue was moved to dotnet/corefx#26954

[2018-02-08 12:25] #16277 closed

[2018-02-08 12:27] jkotas commented on #16277
Moved API proposal to CoreFX (https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md).

[2018-02-08 17:03] RussKeldorph commented on #16208
@kbaladurin Thanks a lot!

[2018-02-08 17:06] tannergooding commented on #16236
@fiigii, I've moved this into the Hardware Intrinsics project and assigned it to you, since you are actively workin on it.

[2018-02-08 17:08] tannergooding commented on #16088
Moved to the HWIntrinsics project.

[2018-02-08 17:09] tannergooding commented on #15641
Moved to the HWIntrinsics project.

[2018-02-08 17:20] tannergooding opened #16280 "Debugger does not correctly handle bytes without a backing field."
**NOTE:** Relevant bits copied from https://github.com/dotnet/coreclr/issues/15694
**Related Bugs:** https://github.com/dotnet/coreclr/issues/10148

Any byte which is not explicitly covered by a field is not visible to the debugger. This includes padding bytes, additional bytes allocated by an explicitly sized struct, etc.

**Ex 1:**
[code]

The three implicit padding bytes are always 0 in the deb

[2018-02-08 17:21] tannergooding commented on #15694
FYI. @It72, @chsienki. I have created https://github.com/dotnet/coreclr/issues/16280 to track the debugger issue.

This issue was originally just tracking adding the relevant `DebuggerTypeProxy` and `DebuggerDisplay` attributes to the `Vector64<T>`, `Vector128<T>`, and `Vector256<T>` types.

[2018-02-08 17:21] #15694 closed

[2018-02-08 18:11] sdmaclea opened #16282 "Improve FEATURE_PARTIAL_SIMD_CALLEE_SAVE"
FEATURE_PARTIAL_SIMD_CALLEE_SAVE is used to enable saving and restoring the high bits of certain registers which the platform ABI does not require the caller to preserve.

The current implementation inserts a save and restore of the high bits for every call.

This solution is naive.  It restores every register immediately regardless :
+ whether it will ever be used in the function
+ whether it wil

[2018-02-08 18:14] AndyAyersMS commented on #14103
Box temp like reuse can't help here because (with recent CSCs at least) the eval stack does not empty between the struct newobjs. So importer can't easily tell if an existing temp is free.

[2018-02-08 18:22] CarolEidt commented on #16282
Thanks for submitting this issue. I don't believe that it will actually restore a register that is never used again (the lclVar in it wouldn't be live at that point), but you are certainly correct that 1) it doesn't determine whether it will simply need to be saved again, and 2) it doesn't evaluate the cost.
I confess that I haven't thought about it deeply, but I think these need a different model

[2018-02-08 18:59] fiigii commented on #16236
@tannergooding Thank you!

[2018-02-08 19:12] sdmaclea commented on #12120
https://docs.microsoft.com/en-us/cpp/cpp/stdcall

https://docs.microsoft.com/en-us/cpp/cpp/vectorcall

For ARM64 the standard calling convention (ARM64 AAPCS64) passes vectors in registers as Short Vectors or HVA.

A brief glance at the Vector ABI for ARM64 (VPCS) doc looks like it is similar to the ARM64 AAPCS64 except it changes Callee/Caller register save responsibilities to eliminate some of t

[2018-02-08 19:17] sdmaclea commented on #14371
Reopening because `Vector64<T>` & `Vector128<T>` will be treated as `Short Vectors` and therefore Structs containing them will be able to be treated as `HVA`

[2018-02-08 19:40] CarolEidt commented on #16270
From a logistical perspective, I propose that we leave this in the "To Do" column of https://github.com/dotnet/coreclr/projects/7, and then add sub-issues for the pieces that you plan to work on, assign them accordingly, link them here, and we can put those in the "In Progress" column. I think that will help keep track of who's working on what.

[2018-02-08 19:43] #16254 closed

[2018-02-08 19:48] sdmaclea commented on #12120
Looks like attribute `aarch64_vector_pcs` is not recognized by gcc 6.3.0.  Tested using latest Arm64 gcc on Compliler Explorer https://godbolt.org/

[2018-02-08 20:33] sdmaclea commented on #16080
It would be good to have a reflection test covering Vector64<T>, Vector128<T>, Vector256<T>, and structures containing several of these.  `tests/src/Regressions/coreclr/GitHub_7685/test7685.cs` might be a good starting point for a draft.

[2018-02-08 20:47] sdmaclea commented on #15641
`FEATURE_SIMD` should be split into `FEATURE_SIMD` and `FEATURE_VECTOR_T_SIMD`.

[2018-02-08 20:50] tannergooding commented on #15641
I was thinking `FEATURE_SIMD_REGISTER` (which we might just want outside a feature flag at this point) and `FEATURE_SIMD_INTRINSIC` (which we might also be able to get rid of, if we eventually switch these to be powered by HWIntrinsics instead).

In either case, its probably worth a more in depth discussion before someone goes and does this work.

[2018-02-08 21:10] joshfree commented on #16202
This is still failing in the rolling runs https://mc.dot.net/#/product/netcore/master/source/official~2Fcorefx~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20180208.06/workItem/System.Collections.Immutable.Tests/analysis/xunit/System.Collections.Immutable.Tests.ImmutableListTest~2FIndexOf

[2018-02-08 21:27] CarolEidt commented on #15641
On further consideration, I think it would be best to have:

- `FEATURE_SIMD` imply (only) support for vector register types.
- `FEATURE_SIMD_HW` (or something) imply support for HW intrinsics that utilize vector register types.
- `FEATURE_SIMD_ABSTRACT` (or ...) imply support for the target-independent vector types.

We could easily have static asserts that we don't have the 2nd or 3rd without th

[2018-02-08 21:38] tannergooding commented on #15641
@CarolEidt, so:

* `FEATURE_SIMD` would cover `TYP_SIMD*` and supporting code
* `FEATURE_SIMD_HW` would cover `System.Runtime.Intrinsics`
  * Would this only be SIMD hardware intrinsics or all hardware intrinsics (things like CRC32 fall into the latter category, but not the first)
* `FEATURE_SIMD_ABSTRACT` would cover `System.Numerics.Vector*`

Is that about right?

[2018-02-08 21:47] CarolEidt commented on #15641
@tannergooding - yes, that's what I was thinking.
I would think that `FEATURE_SIMD_HW` would cover only SIMD hardware intrinsics. I think we still need `FEATURE_HW_INTRINSICS`. So, `FEATURE_SIMD_HW` would depend on both `FEATURE_SIMD` and `FEATURE_HW_INTRINSICS`.

It makes for more `FEATURE` tags, but I think it would be clearer what each implies.

[2018-02-08 21:51] noahfalk opened #16285 "CI Reliability: Alpine linux leg fails in Jenkins"
Probably intermittent infrastructure issue:

https://ci3.dot.net/job/dotnet_coreclr/job/master/job/alpine-TGroup_netcoreapp+CGroup_Debug+AGroup_x64+TestOuter_false_prtest/1896/

[2018-02-08 21:51] noahfalk commented on #16285
@mmitche

[2018-02-08 21:53] AndyAyersMS commented on #16202
Ok, I'll investigate.

[2018-02-08 22:09] tannergooding commented on #15641
I think the premise is generally good, but I worry about `FEATURE_SIMD_HW` and `FEATURE_HW_INTRINSICS`, as they are basically a circular dependency. That is, due to the way the `IsSupported` flags are setup and ISAs are exposed, we couldn't have one without the other for most cases.

[2018-02-08 22:15] sdmaclea commented on #15641
Not clear why.

I think @CarolEidt proposed names are unclear.  How about?

`FEATURE_SIMD_ABSTRACT` -> `FEATURE_SIMD_NUMERICS`
`FEATURE_SIMD_HW` -> `FEATURE_SIMD_HW_INTRINSICS`

[2018-02-08 22:16] CarolEidt commented on #15641
The only thing (and it probably doesn't matter) is ISA families that have no SIMD (e.g. popcnt and lzcnt). I wouldn't expect `FEATURE_SIMD_HW` to require `FEATURE_HW_INTRINSICS`; only those ISAs that require it.

[2018-02-08 22:17] CarolEidt commented on #15641
Sounds fine to me

[2018-02-08 22:21] tannergooding commented on #15641
At least for x86/x64 (updated comment above to clarify that), we only have a couple of ISAs (such as `Lzcnt` and `Popcnt`) which expose just non SIMD intrinsics. The others (such as SSE) expose a mix of both SIMD (such as addps or sqrtss) and non-SIMD instructions (such as prefetch or sfence).

Ok, so your suggesting `FEATURE_SIMD_HW_INTRINSICS` would cover the SIMD hardware intrinsics (any that t

[2018-02-08 22:26] CarolEidt commented on #15641
Right - though I'm not adamant about the need to separate them, given that it's only those two, and it's unlikely we'd support those and not others.

[2018-02-08 22:26] tannergooding opened #16286 "AddRex*Prefix needs to handle the `prefetch` instructions"
The `prefetch` instructions are SSE instructions but use the actual REX prefix rather than the VEX prefix.

The various `emitter::AddRex*Prefix` methods need to be updated to account for this.

[2018-02-08 22:28] tannergooding commented on #15641
I think ARM may be better suited to take advantage of this, given their ISA split/design, if we wanted to do it this way. @sdmaclea, could you confirm?

[2018-02-08 22:40] sdmaclea commented on #15641
I would expect SIMD to be typically in separate classes from scalar operations.  Although I do know why extra feature flags would be an advantage.

Personally the only reason for the `FEATURE_SIMD_NUMERICS` flag would be because eventually we want to disable and implement the operations in C# using HW intrinsics.  So it would just be a discipline to keep unrelated code separate.

I don't see a rea

[2018-02-08 22:43] #15670 closed

[2018-02-08 23:00] aaronba commented on #8999
Any update on ETA for MDbg being ported to .NET Core 2.x

[2018-02-08 23:13] briansull commented on #16272
Assertion failed: /src/jit/valuenum.cpp Line: 7235

Missing case for new Instrinsic:

[code]

[2018-02-08 23:33] AndyAyersMS commented on #16202
Looks like this started failing with c4943e0  (#15910) which we reverted at #16218.

Trying to check if rolling runs have seen the reversion yet....

[2018-02-08 23:40] AndyAyersMS commented on #16202
I don't believe they have seen it yet. Let's wait and see if the next CoreCLR update to CoreFX fixes this.

[2018-02-08 23:43] BruceForstall commented on #16272
fyi, also fails on Windows:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_corefx_baseline_prtest/249/consoleText

[2018-02-08 23:51] lt72 commented on #8999
Not yet, still debating what SDK support to implement for diagnostics for .Net Core, but no decision in sight or timeline I can offer for discussion.

[2018-02-09 00:05] RussKeldorph commented on #15021
I can repro this now.  I briefly looked in the debugger and I think the first error is an `LCMapStringEx` failure, which seems like a plausible place for a difference between Win8 and Win10, so putting in `System.Globalization.`  @tarekgh Could you take a look?

[2018-02-09 00:10] AndyAyersMS commented on #16202
Fixed if I drop in the latest jit... so it should correct itself once CoreCLR bits propagate.

[2018-02-09 00:15] AndyAyersMS commented on #14103
Thought about it some more. We might be able to "free up" a struct temp when it gets popped from the stack as the pop entails a copy.

Implemented this and the rest of the caching logic and it knocks the stack usage below 1MB. We still create one non-reused stack temp per call as there's no way currently to describe where the copy that gets passed as a call argument lives.

This temp re-use helps

[2018-02-09 00:39] briansull commented on #16272
@tannergooding I am assigning this issue to you
You can check in the fix that I suggested.
If CoreFC testing used a checked JIT you woudl have seen this failure when adding the new tests.

As it is now (using a retail JIT) it probably thows an noway_assert and then we fall back to running the test with optimization disabled and that mesans that we ignore the Intrinsic optimizations.

[2018-02-09 01:04] tarekgh commented on #15021
I can repro it too. will take a closer look

[2018-02-09 01:46] tannergooding commented on #16272
Thanks. I should have a PR up shortly.

[2018-02-09 02:07] tannergooding commented on #16272
PR is up here: https://github.com/dotnet/coreclr/pull/16288, still validating that everything passes locally. Sorry for the trouble.

[2018-02-09 02:27] sandreenko opened #16289 "debug/di/breakpoint.cpp generates warning C4800."
The warning is 'BOOL': forcing value to bool 'true' or 'false' (performance warning).
Because all warnings are threated as errors it fails build.
[Example](https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_checked_windows_nt_innerloop_flow_prtest/143/console).
Started to hit after #15819.

The full error report:
[code]

[2018-02-09 02:28] sandreenko commented on #16289
@davmason could you please fix this? I can trigger arm jobs on your PR if you are not in @dotnet/arm64-contrib .

[2018-02-09 03:08] sandreenko opened #16290 "[x86][RyuJit][JitStress=1]JIT_HardwareIntrinsics._X86 fails"
4 Hardware intrinsics tests started to fail after https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_jitstress1/406/ with:
`Assertion failed 'genActualType(lclTyp) == genActualType(op1->gtType) || genActualType(lclTyp) == TYP_I_IMPL && op1->IsVarAddr() || (genActualType(lclTyp) == TYP_I_IMPL && (op1->gtType == TYP_BYREF || op1->gtType == TYP_REF)) || (genActu

[2018-02-09 03:09] sandreenko commented on #16290
cc @tannergooding @fiigii @dotnet/jit-contrib

[2018-02-09 03:12] tannergooding commented on #16290
This is already tracked by https://github.com/dotnet/coreclr/issues/16236

@fiigii is currently working on a fix.

[2018-02-09 03:32] sandreenko commented on #16290
Thanks, closed as duplicate.

[2018-02-09 03:32] #16290 closed

[2018-02-09 04:38] tarekgh commented on #15021
@bass3l could you please go to the folder that has the dotnet.exe (usually at C:\Program Files\dotnet) and then right clicks on the file dotnet.exe, then click on the compatibility tab and tell me what settings you have there?

[2018-02-09 05:28] davmason commented on #16289
@sandreenko I'm happy to fix any issues, but I have to admit I'm a little confused by this. There are tons of places that we check a BOOL in an if statement in the source, do you have any idea what is different about this one?

[2018-02-09 06:06] noahfalk commented on #16289
I'd be curious from a slightly different angle... these changes were built in numerous configurations including ARM64 when they went through PR earlier and the PR did not fail. Certainly lets fix it, but @sandreenko can you clarify exactly what your repro build process is? If there are simple things we can do to make sure dev and PR builds are aligned then its less hassle for everyone.

FWIW the r

[2018-02-09 06:18] sandreenko commented on #16289
The bad statement is this:
`pEvent->BreakpointData.isIL = m_offsetIsIl; `

where you convert BOOL(int) to bool.

[2018-02-09 06:19] sandreenko commented on #16289
In other parts of the code we are using (and it was used there before):
`pEvent->BreakpointData.isIL = m_offsetIsIl? true : false;`

[2018-02-09 06:22] sandreenko commented on #16289
@noahfalk I do not see windows arm64 job in the PR #15819.

[2018-02-09 06:24] davmason commented on #16289
Oops, I was looking at the code before my change, where line 210 is an if statement. Thanks for point out my goof. I'll open a PR soon

[2018-02-09 06:50] sandreenko commented on #16289
@dotnet-bot test Windows_NT arm64 Cross Checked Innerloop Build and Test

[2018-02-09 07:26] GrabYourPitchforks commented on #14122
I came up with a _very rough_ prototype of this implementation as part of learning how the JIT worked. See https://github.com/GrabYourPitchforks/coreclr/commit/2f80e64b1c30162e3f6f18c0afd15296a45a5614. It works in the limited test cases I've tried. Hopefully somebody can run with it and see it through to production.

[2018-02-09 07:30] dotnet-mc-bot opened #16293 "Test failure: JIT_Regression._VS_ia64_JIT_V1_2_M02_b28158_b28158_b28158_/_VS_ia64_JIT_V1_2_M02_b28158_b28158_b28158_cmd"
Opened on behalf of @Sunny-pu

The test `JIT_Regression._VS_ia64_JIT_V1_2_M02_b28158_b28158_b28158_/_VS_ia64_JIT_V1_2_M02_b28158_b28158_b28158_cmd` has failed.

[code]
        Stack Trace:

           at JIT_Regression._VS_ia64_JIT_V1_2_M02_b28158_b28158_b28158_._VS_ia64_JIT_V1_2_M02_b28158_b28158_b28158_cmd()
Build : Master - 20180208.05 (Core Tests)
Failing configurations:
- windows.10.arm64-arm

[2018-02-09 07:31] Sunny-pu commented on #16293
Failed tests:

JIT_Regression._CLR_x86_JIT_V1_M09_b16294_b16294_b16294_
JIT_Regression._CLR_x86_JIT_V1_M12_Beta2_b35366_b35366_b35366_
JIT_Regression._CLR_x86_JIT_V1_M12_Beta2_b84916_b84916_b84916_
JIT_Regression._CLR_x86_JIT_V2_0_Beta2_b425314_b425314_b425314_
JIT_Regression._VS_ia64_JIT_V1_2_M02_b28158_b28158_b28158_

[2018-02-09 07:44] 4creators opened #16294 "OSX CI builds are failing during linking of libmscordbi.dylib with missing symbol _IID_ICorDebugFunction4 linker error"
Yesterday OSX CI builds started to fail with subproject build error:

[code]
It affects several PRs including #16237, #16288, #16223 and others

Examples:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_osx10.12_innerloop_prtest/621/
https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_osx10.12_innerloop_prtest/617/
https://ci.dot.net/job/dotnet_coreclr/job/master/job

[2018-02-09 08:30] davmason commented on #16289
Fixed in #16291

[2018-02-09 10:07] kbaladurin opened #16295 "Possible UAF during application termination"
Following example triggers uaf in coreclr (with asan):
[code]

Asan report:
[code]
Seems like it occurs because exiting thread calls destructor of the static variable `memAllocHist` (`jit/compiler.cpp:289`) and after other thread tries to use it while exiting one is doing some other work:
[code]
If asan option `detect_leaks=0` is specified this problem doesn't occur because threads are killed earl

[2018-02-09 10:08] kbaladurin commented on #16295
cc @Dmitri-Botcharnikov @alpencolt

[2018-02-09 10:09] kbaladurin commented on #16295
@janvorli @jkotas

[2018-02-09 10:22] noahfalk commented on #16289
Agreed, I was looking at the **_ubuntu_** arm64 leg
I hadn't chased through your link earlier so I wasn't aware you were referring specifically to a **_windows_** arm64 build when you mentioned arm64.

Are you aware of any reason that we'd run windows arm64 after checkin is complete but not run it during the PR itself? Hardware limitations?

Thanks!

[2018-02-09 10:32] fiigii opened #16296 "[RyuJIT] Update the emitter for VEX-encoded SSE4.1/4.2 instructions with containment"
Detected this issue from https://github.com/dotnet/coreclr/pull/16287.

With VEX-encdoing, certain SSE4.1/SSE4.2 instructions (`vpcmpeqq`) have incorrect encoding on `INS reg, reg, mem` form.
For example, `vpcmpeqq ymm7, ymm6, ymmword ptr[rax] (ECS:6, ACS:5)` is compiled to
[code]
but the correct encoding should be
[code]
The opcode of `vpcmpeqq` (66 0F 38 **2**9) seems accidently changed.

Subset

[2018-02-09 11:00] bass3l commented on #15021
Sorry I can't, I've installed a fresh copy of windows to resolve the issue and it has been a while. Maybe @jmderuty can help

[2018-02-09 11:53] JensNordenbro commented on #9370
Hi @janvorli, is there a Alpine ARM32 available somewhere? (I have seen your name on all Apline work)

[2018-02-09 14:03] #14186 closed

[2018-02-09 15:24] #15908 closed

[2018-02-09 16:20] BruceForstall commented on #16289
We only run PR testing on Windows arm64 machines (including ARM and ARM64 testing) for people on the `arm64Users` whitelist in netci.groovy, due to security issues. Ideally we could do arm/arm64 builds (but not testing) on all PRs, since the arm64 tools are now public, but haven't done the work to make that happen.

[2018-02-09 16:28] #16229 closed

[2018-02-09 16:44] RussKeldorph commented on #15021
If it helps, my version info:
[code]
I can repro it by adding the following registry value:
[code]
Stack at first clr exception:
[code]
@dotnet/dotnet-diag @nategraf @brianrob Due to possible diag and/or tracing connections.

[2018-02-09 16:54] brianrob commented on #15021
@tarekgh it looks like this is failing on the call to ToUpperInvariant: https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Diagnostics/Tracing/EventSource.cs#L350

[2018-02-09 17:01] RussKeldorph commented on #16295
@dotnet/jit-contrib

[2018-02-09 17:05] tannergooding commented on #16296
@fiigii, could you provide a bit more context here? The encoding handling looks to be identical to some already supported code paths.

[2018-02-09 17:05] tarekgh commented on #15021
@RussKeldorph @brianrob I know exactly what the problem is, but I want to confirm this problem occur only when setting the compatability mode on the exe (which is dotnet). this is why I was hoping @bass3l or @jmderuty can confirm.

The underlying problem is coming from Windows, I'll talk to them and will try to find if there is a reasonable workaround from the framework side.

[2018-02-09 17:08] jkotas commented on #16295
That would just introduce intermittent deadlocks if one the killed threads happens to hold lock needed by exiting thread.

The fix for this should be to not do cleanup of the Histogram class during shutdown.

[2018-02-09 17:10] kasper3 commented on #14012
Thanks @stephentoub and prioritizing it. Redirected from https://github.com/dotnet/corefx/issues/26987.

[2018-02-09 17:11] mikedn commented on #16295
Does this happen when using a checked/debug build? Release builds should not have that code enabled.

[2018-02-09 17:15] RussKeldorph commented on #16294
@davmason @noahfalk Can you check if this is due to #15819?

@dotnet/dotnet-diag

[2018-02-09 17:24] AndyAyersMS commented on #16210
Cautiously optimistic that there might be a simple fix here. Morph is already doing this sort of analysis; it looks like it just overlooks one case.

[2018-02-09 17:33] dagood opened #16298 "macOS dotnet restore SIGILL (exit code 132) after crossgen in CoreCLR official build"
Broken build: https://devdiv.visualstudio.com/DevDiv/_build?buildId=1363918:

[code]

Based on other issues about SIGILL I assume this has to do with crossgen, but I don't know for sure.

This appears to be flakiness, and isn't blocking the builds. .NET CLI tools version is 2.0.0. I wasn't able to find any more relevant info in the logs the build saved.

Moved from https://github.com/dotnet/core-e

[2018-02-09 17:39] sdmaclea opened #16299 "[Arm64] Create Bootstrap Command Line Build Tools for Preview 2.1"
@janvorli was able to help me build a bootstrap command line tool `dotnet` for Arm64 based on the 2.0 release.  Unfortunately this was unstable.

Now that 2.1 release is approaching, I would like to build a new bootstrap tool chain based on the 2.1 AMD64 preview release.

To make this simple I need

1. AMD64 Ubuntu 2.1 preview CLI & SDK toolchain.  Is there a 2.1 CLI/SDK actively being built?  Are

[2018-02-09 17:46] jkotas commented on #16294
The offending change reverted in #16300

[2018-02-09 17:46] #16294 closed

[2018-02-09 17:47] brianrob commented on #15021
Thanks @tarekgh!

[2018-02-09 17:51] #16158 closed

[2018-02-09 17:54] jkotas commented on #16299
Yes. Daily builds are at https://github.com/dotnet/cli

There should be no patches required. https://github.com/dotnet/source-build/ is the right place to discuss this.

[2018-02-09 18:01] fiigii commented on #16296
The code `vpcmpeqq ymm6, ymm6, ymmword ptr[rax] (ECS:6, ACS:5)` si compiled to `C4 E2 7D 39 30` that is actually `vpcmpeqq ymm6, ymm0, ymmword ptr[rax] (ECS:6, ACS:5)`. I will look into it soon.

[2018-02-09 18:12] jmderuty commented on #15021
Hello,
The issue was originally reported by one of our players as a patcher issue. After investigation, we found out that (for whatever reason) he had enabled Win8 compatibility mode in the compatibility tab of the patcher executable properties window (self contained netcore2 application)

I hadn't tested with dotnet.exe prior to your request, only with a self contained helloworld application, and

[2018-02-09 18:16] tarekgh commented on #15021
thanks @jmderuty for confirming

[2018-02-09 18:22] tannergooding commented on #16296
Looks like this is because 4 byte SSE4/AVX instructions are generally special cased so they don't currently call `insEncodeReg3456` for `reg2` in all the required places.

[2018-02-09 18:24] tannergooding commented on #16296
It works for the existing code paths since they are reliant on `IsDstDstSrc` and `IsDstSrcSrc` to handle it.

[2018-02-09 18:52] AndyAyersMS commented on #16210
Overlooks maybe *two* cases....

[2018-02-09 18:54] dsyme commented on #12480
@AndyAyersMS We've only had the one user report of this error.  However I would hope to see it fixed in some way, or some specific size limitation documented.

Would it be possible to at least give a  better error message in the exception, e.g. giving the name of the method and some hint to the user about what size limitation has been hit? i.e. then the user can reduce the size of initialization c

[2018-02-09 19:16] briansull commented on #16065
Resolved with PR# 16248

[2018-02-09 19:16] #16065 closed

[2018-02-09 19:27] briansull commented on #16122
I have a fix available

[2018-02-09 19:30] fiigii commented on #16296
I rebased top-on the latest master. Now, the problem becomes to that `vpcmpeqq ymm7, ymm6, ymmword ptr[rax] (ECS:6, ACS:5)` is compiled to
[code]
but the correct encoding should be
[code]
The opcode of `vpcmpeqq` (66 0F 38 **2**9) seems accidently changed...

[2018-02-09 20:14] TimLovellSmith opened #16307 "ExecutionContext.SuppressFlow() suppression state does not flow"
Hi,
I have been wrestling with behavior of ExecutionContext.SuppressFlow() when combined with await/async. I have slowly come to believe the current behavior (in .net version I'm using at least) is flawed. Here is the problem.

Because ExecutionContext does not come for free, and saving/restoring it has measurable overheads,
I think it is a good idea for me to suppress the ExecutionContext flow in

[2018-02-09 20:32] jkotas commented on #14012
We should add a test to corefx (if there is not one already).

[2018-02-09 20:32] stephentoub commented on #14012
I'll do so.

[2018-02-09 20:46] tannergooding commented on #16296
@fiigii, is this only happening in the _ro run for you?

[2018-02-09 21:06] fiigii commented on #16296
@tannergooding Yes! Did you get this also?

[2018-02-09 21:24] noahfalk commented on #16289
@BruceForstall - ok, thanks for the info : )

[2018-02-09 21:31] tannergooding commented on #16296
@fiigii, yes and I see the problem.

Most of the instruction formats special case the 4 byte instructions before calling `emitOutput` (ex: https://github.com/dotnet/coreclr/blob/master/src/jit/emitxarch.cpp#L12161).

I had also fixed most of these up for the `emitOutputAM` case (https://github.com/dotnet/coreclr/blob/master/src/jit/emitxarch.cpp#L12030).

However, there are a couple places (https:

[2018-02-09 21:40] RussKeldorph commented on #16298
@dagood Do you have more than a single example of this, or are you just opening this to track in case we see it again?

[2018-02-09 21:45] dagood commented on #16298
Opening to track, or in case it's a known issue. Closing this because it's not really actionable would make sense to me.

[2018-02-09 21:47] RussKeldorph commented on #16307
@kouvel @stephentoub

[2018-02-09 21:50] RussKeldorph commented on #16275
@kouvel  This apparently didn't repro on the next run.

[2018-02-09 22:25] AndyAyersMS commented on #12480
The jit struggles with IL when there is a lot of state on the stack across non-trivial control flow.

It manages the cross-block state by generating what amounts to a series of stloc/ldloc operations at the respective block boundaries. This generation happens early in the jit before it can do any real analysis. So the conversion is inefficient and can at times produce a lot of locals (~30,000 in t

[2018-02-09 22:55] gafter opened #16312 "Release configuration + 64-bit + aggressive inlining + generic parameter = incorrect behavior"
@branko-d commented on [Fri Aug 04 2017](https://github.com/dotnet/roslyn/issues/21323)

**Version Used**:

Reproduced under Microsoft Visual Studio Professional 2017 Version 15.2 (26430.16), NET Framework 4.7.

**Steps to Reproduce**:

Please see the attached Console Application project: [BugAggressiveInlining.zip](https://github.com/dotnet/roslyn/files/1200210/BugAggressiveInlining.zip).

The bu

[2018-02-09 22:59] #14400 closed

[2018-02-09 23:09] fiigii commented on #16296
Thank you so much for the information. I will try to fix it after https://github.com/dotnet/coreclr/pull/16287 merged and enable `Avx2.CompareEqual.(U)Int64` again.

[2018-02-09 23:12] #16272 closed

[2018-02-10 00:40] IllidanS4 opened #16315 "Method to forward variadic arguments to varargs methods"
I propose this method in the *System.Runtime.CompilerServices.RuntimeHelpers* class:

[code]

This would call the specified method (which must be variadic), passing along the *remaining* arguments from the *ArgIterator* to the variadic parameter, and the variadic arguments from the method as normal parameters. If the number of variadic arguments passed to *ForwardArguments* is larger than the numb

[2018-02-10 00:54] adamsitnik commented on #16105
@brianrob @vancem

I created two PRs https://github.com/Microsoft/perfview/pull/560 and https://github.com/dotnet/coreclr/pull/16316

I did not extend the TypeCode enum. Please let me know if you would like me to start the process of extending the TypeCode enum (API change approval + PRs to corefx and coreclr)

[2018-02-10 00:57] AndyAyersMS commented on #16312
@branko-d can you get us the version info for the jit:
[code]
I can't repro this either, yet. Tried desktop with clrjit version 4.7.2600 and current CoreCLR master.

[2018-02-10 01:05] adamsitnik commented on #11725
In #16107 I took the opportunity and with V3 of Event Pipe file added all the things that were available in PAL.

What was added:

- Process id
- Pointer size / OS arch (x64 vs x86)
- CPU frequency
- Number of processors
- Expected CPU sampling rate.

What is missing:

- Process name
- OS version
- Machine name
- UTC offset (Time Zone).

What was already there:
- Session Start time (all times shou

[2018-02-10 01:07] vancem commented on #16105
@adamsitnik   Please add a comment to src\mscorlib\shared\System\TypeCode.cs claiming this enum value (you don't have to add the value just put it in as a comment) and indicate we did not add it for real simply because we don't care enough to go through the API review.

[2018-02-10 01:12] vancem commented on #11725
I could live without UTC offset or even OS version and Machine name, but I would like ProcessName unless it is really problematic, and it seems like MachineName is also handy.     Why are those hard?

I think it would also be pretty handy to have Runtime Version number (we have needed this and often did not have it with ETW).    That should also be easy (since it is a burned in constant.

[2018-02-10 01:17] adamsitnik commented on #16105
@vancem good idea! Done

[2018-02-10 01:24] vancem commented on #11725
I just thought of something else that is pretty useful: the command line arguments to the process (if available).

[2018-02-10 01:26] AndyAyersMS commented on #12480
FYI this repros in Core with `dotnet new console -lang F#` too.

The stack trace associated with the error message identifies the problematic method:
[code]

[2018-02-10 01:26] adamsitnik commented on #11725
I was supposed to add `pointer size` only but decided to also add everything that was available in PAL. I just don't know if they are hard to implement or not (I lack the knowledge to tell).

[2018-02-10 01:42] jkotas commented on #16315
ArgIterator and varargs are not part of .NET Core. This suggestion is not applicable for .NET Core unless these are added back.

Also, this mechanism technically exists today: The IL `jmp` instruction should be doing exactly this kind of forward. However, it is very rarely used instruction and the implementation may have bugs or not be supported on some runtimes.

[2018-02-10 01:50] IllidanS4 commented on #16315
I see, that's unfortunate; I hope it will be reintroduced at some point in the future. Is there maybe something like this repo for .NET Framework where I can redirect this suggestion?

I've suggested `jmp` in the original Roslyn issue, but there've been some issues about its verifiability and portability, considering jumping between virtual and non-virtual methods.

[2018-02-10 02:05] jkotas commented on #16315
Then the right way to deal with this would be to fix these issues. It does not make sense to introduce a new redundant API to achieve the same.

[2018-02-10 02:06] jkotas commented on #16315
The links for .NET Framework feedback are at https://github.com/dotnet/corefx/#how-to-engage-contribute-and-provide-feedback

[2018-02-10 02:21] dsyme commented on #12480
Cc @cartermp. The user will work out that something is too big in that method. At least the will know its a size thing..

[2018-02-10 02:32] AndyAyersMS commented on #14103
Seems like in cases where we can re-use a struct temp, we need to be able to anticipate if that use of the temp was going to end up being promoted or not. If it will be promoted then a unique temp seems best, or at least a temp that is only re-used for other promotable instances (one might consider keeping a second temp that is used for all the address-exposed uses). For minopts/fast jitting where

[2018-02-10 02:55] AndyAyersMS commented on #12480
@jkotas any reason why we can't unblock x64 in `void ThrowExceptionForJit(HRESULT res)` so that jit internal errors get reported as such?

[2018-02-10 03:01] AndyAyersMS commented on #12480
Seems to work well enough:
[code]

[2018-02-10 03:02] jkotas commented on #12480
I do not see a problem with it. It looks like JIT64 compat quirk.

[2018-02-10 03:26] brianrob commented on #11725
OS version will be difficult for Linux - we could potentially get kernel version, but beyond that how you detect the version is distro specific.  If it is easy to get kernel version I think that could be useful.

Command line args are worth looking at, but I don't believe that they are currently available anywhere but Windows.  I think the PAL isn't able to get them from process state because they

[2018-02-10 03:58] #16286 closed

[2018-02-10 05:24] danmosemsft commented on #11725
Kernel version is something like `uname -srv`...the uname API reforms the same value. It would take some parsing to get a number, and you may want the build date anyway.

[2018-02-10 07:35] branko-d commented on #16312
@AndyAyersMS I can't reproduce it anymore either. In the meantime, I have reinstalled VS (15.5.4), installed .NET Framework 4.7.1 (for reasons unrelated to this bug), updated Windows several times etc... looks like whatever was causing it is gone now.

For what it's worth, here is the info you asked:

`File version 4.7.2633.0`

[2018-02-10 11:10] #16244 closed

[2018-02-10 11:26] jkotas commented on #16289
@davmason Could you please resubmit the fix for this? It was reverted together with the other change to fix the build break.

[2018-02-10 17:26] AndyAyersMS commented on #12480
We now will produce a slightly better error message when we hit jit internal limitations (#16320). So I'm going to move this issue out to future.

[2018-02-10 17:30] AndyAyersMS commented on #14672
We now produce a somewhat clearer error message when the jit hits an internal limitation (see #16230). So hopefully anyone who hits this realizes that there is something overly complex about their method and can find workarounds.

Moving this issue to future as we should still look into ways to reduce the number of cases where the jit runs into internal limitations.

[2018-02-10 17:34] AndyAyersMS commented on #16202
Looks like the bits have finally propagated and the test is once again passing.

[2018-02-10 17:34] #16202 closed

[2018-02-10 17:42] 4creators opened #16322 "[RyuJIT] var_types JITtype2varType(CorInfoType type) returns wrong type for TYP_ULONG"
`var_types JITtype2varType(CorInfoType type)` in:

https://github.com/dotnet/coreclr/blob/a1c3279a88f780029e09df458c0032f329789340/src/jit/ee_il_dll.hpp#L149

converts `TYP_ULONG` to `TYP_LONG` due to wrong entry in ` varTypeMap`

[2018-02-10 18:24] AndyAyersMS commented on #16322
I believe this is intentional -- IL stack types do not distinguish between signed and unsigned values. The same thing happens for INT/UINT and the code below asserts this is the desired mapping:
[code]

Can you describe the problem you ran into in the first place?

[2018-02-10 19:17] 4creators commented on #16322
Hardware intrinsics are implemented with table based import and code generation where `var_type` is used to drive importing of `GT_HWIntrinsic` and later instruction selection during code generation. As a result for cases where `TYP_UINT` or `TYP_ULONG` is expected we get `TYP_INT` or `TYP_LONG`. In majority of cases this is not causing errors, however, in some situation where code path has to dif

[2018-02-10 19:33] davmason commented on #16289
@jkotas @sandreenko I included the fix in #16303, and I see it in master at https://github.com/dotnet/coreclr/blob/master/src/debug/di/breakpoint.cpp#L210

I looked through the arm64 windows build job, and the last 4 builds are passing. The ones that failed last night don't seem related to my change.

If there's something still broken can you point it out to me?

[2018-02-10 20:48] sandreenko commented on #16289
If arm64 job is green then good, the issue is closed.

Thank you.

[2018-02-10 20:48] #16289 closed

[2018-02-10 22:54] mikedn commented on #16322
I don't see how that would be better, it's not like JIT's IR is stack based nor is the mapping performed by the function entirely similar to the one used by the IL stack. `JITtype2TreeType` or `JITtype2NodeType` might work, the mapping performed by this function is specific to `GenTree` node types (`gtType`), these rarely use `TYP_UINT` and `TYP_ULONG`.

Presumably this problem has something to do

[2018-02-10 23:58] 4creators commented on #16322
Agree and I am working on this, but perhaps it would be helpful if `JITtype2varType` would have an expanded documentation pointing out it's specific behavior.

[2018-02-11 00:01] 4creators commented on #16322
Both are much better than my proposal, however, my preference is `JITtype2NodeType` 😄

[2018-02-11 02:38] tannergooding commented on #16296
@fiigii, I've assigned to you since you indicated you wanted to try and fix it.

Let me know if you're focused on other things and I can take a look instead.

[2018-02-11 02:39] tannergooding commented on #16216
This should be done. There is still a remaining issue but that is being tracked seperately: https://github.com/dotnet/coreclr/issues/16296

[2018-02-11 02:39] #16216 closed

[2018-02-11 07:39] dotnet-mc-bot opened #16326 "Test failure: GC_API._GC_Collect_Forced_1_Collect_Forced_1_/_GC_Collect_Forced_1_Collect_Forced_1_cmd"
Opened on behalf of @Sunny-pu

The test `GC_API._GC_Collect_Forced_1_Collect_Forced_1_/_GC_Collect_Forced_1_Collect_Forced_1_cmd` has failed.

    Unhandled Exception: System.MissingMethodException: Method not found: 'System.ReadOnlySpan`1<Char> System.MemoryExtensions.AsReadOnlySpan(System.String)'.
       at System.IO.Enumeration.FileSystemEnumerableFactory.NormalizeInputs(String& directory, Str

[2018-02-11 08:12] mikedn commented on #16322
Maybe, but I'm inclined to say that it's the RyuJIT documentation that should explain how types are used. There are some intricacies beyond the fact that this function maps uint to int and ulong to long.

[2018-02-11 19:03] 4creators opened #16329 "Use exact conversion from CorInfoType to var_types in Hardware Intrinsics implementation"
RyuJIT uses specific type conversion function `var_types JITtype2varType(CorInfoType type)` which translates `CorInfoType` enumeration members into `var_types` enumeration members which are used throughout compilation process. The conversion is not `one to one` as some types are coalesced into single type i.e. `CORINFO_TYPE_ULONG` and `CORINFO_TYPE_LONG` are converted into `TYP_LONG`. Array used f

[2018-02-11 19:06] 4creators opened #16330 "[RyuJIT] Merge code paths for SSE and SSE2 scalar comparison intrinsics code generation."
Several scalar comparison instructions are implemented identically and it is possible to merge code paths used by them.

[2018-02-11 20:27] benaadams opened #16331 "[CI Failure] Assert failed Linux System.Globalization.CompareInfo.IndexOfCore"
When running coreclr against corefx baseline `Ubuntu x64 Checked corefx_baseline`

Guess one of these asserts:

https://github.com/dotnet/coreclr/blob/78cd08538b59e8c2cff032f39a919b00eb552d74/src/mscorlib/src/System/Globalization/CompareInfo.Unix.cs#L176-L180

[code]
https://github.com/dotnet/coreclr/pull/15419#issuecomment-364615218

/cc @krwq, @tarekgh

[2018-02-11 21:28] tannergooding commented on #16330
Assigned to @4creators as per discussion here: https://github.com/dotnet/coreclr/pull/16237/files#r167443615

[2018-02-11 22:19] tannergooding opened #16333 "Refactor the x86 instruction metadata"
There are a number of TODO-XArch bugs today (mostly in `emitxarch.h`) that suggest we update the instruction metadata to carry additional information. However, there are some limitations with the current implementation that may hinder these workitems from being resolved.

I believe the two primary limitations in the existing setup are:
* A specific ordering of definitions is required
  * This limi

[2018-02-11 22:19] tannergooding commented on #16333
FYI. @CarolEidt

[2018-02-11 22:24] tannergooding commented on #16333
I believe the first issue (the current implementation requires definitions to be particularly ordered) is more trivial to resolve (and I think I have such a refactoring complete locally, at the very least all the tests are passing).

It looks like we currently require the entries to be defined in the following order:
* INST5
* INST4
* INST3
* INST2
* INST1
* INST0

It looks like this was done in o

[2018-02-11 22:37] tannergooding commented on #16333
The second issue (flags and other metadata are on a per instruction, rather than a per encoding basis) is more complicated.

I believe we would need to update the metadata to define an instruction (id + name). Each instruction would then have multiple encodings. Each encoding would then define the following data:
* ISA
* Base Encoding (the actual bytes for the encoding)
* CPU Flags Read
  * A gene

[2018-02-11 22:41] jashook commented on #15719
It looks to me like after https://github.com/dotnet/coreclr/pull/14892 our builds in release/2.0.0 are using vs 2017 if both vs 2015 and vs 2017 are installed on the machine. #16332 will force vs 2015 for the arm builds. I think it is worth understanding why we are now building with vs 2017 in the branch now.

[2018-02-12 00:57] #16224 closed

[2018-02-12 04:20] TheBlackCentipede opened #16336 "Dereferencing fixed byte array pointer into decimal crash the CLR with stack overflow error"
Decimal type is essentially a struct of 4 int as shown here: https://referencesource.microsoft.com/#mscorlib/system/decimal.cs,145

I've specified byte array to allocate 16 bytes and then call Random.NextBytes on the buffer and then de-reference that byte array as Decimal, this causes the CoreCLR and Microsoft CLR to crash without exception being thrown or any console output being shown as to why

[2018-02-12 05:07] danmosemsft commented on #16336
What version are you using? does this repro for you with latest master? I tried and it does not repro for me, with /o+ or not. I assume tihs is Windows.

Assuming it reproes on latest master, can you get the CLR stack?

[2018-02-12 05:08] danmosemsft commented on #16336
I also tried on 4.7.1 with no repro.

[2018-02-12 05:23] TheBlackCentipede commented on #16336
Unhandled exception at 0x00007FF865E95ACC (coreclr.dll) in dotnet.exe: Stack cookie instrumentation code detected a stack-based buffer overrun.

[2018-02-12 05:23] danmosemsft commented on #16336
I see it now. Writing random values to these fields is not supported. Is there some reason you are doing this?

[2018-02-12 05:28] TheBlackCentipede commented on #16336
How exactly is it not supported? That isn't a valid reasoning as to why a struct can't support those, struct should support de-referencing from pointer and decimal is a struct. As for why I'm doing it, it's a for fun snippet I've created on a whim that is processed by Modix bot on C# Discord Server which causes the bot to crash.

[2018-02-12 05:31] TheBlackCentipede commented on #16336
Regardless of the feature around struct, it's a bug with CLR that needed to be addressed otherwise just about anyone can crash the CLR.

[2018-02-12 05:38] benaadams commented on #16336
Values in the private fields of `decimal` can't be random and [have some rules](https://github.com/dotnet/coreclr/blob/ce060415550334e598ee2efbc4beed0f07ede3f9/src/mscorlib/src/System/Decimal.cs#L126-L136) as to what they can be:

// Decimal value. The lo, mid, and hi fields contain the 96-bit integer
// part of the Decimal. Bits 0-15 (the lower word) of the flags field are
// unused and must be z

[2018-02-12 05:43] TheBlackCentipede commented on #16336
Having unused flag fields being required to be zero isn't a good presumption to have when dealing with P/Invoke and unsafe programming, as for the CLR, how would this particular bug be addressed in the CLR? It currently enables just about anyone to crash the CLR.

[2018-02-12 05:47] benaadams commented on #16336
At a guess its the `.ToString()` from `Console.WriteLine(decimalVal);` that's crashing, not the dereferencing and assignment.

[2018-02-12 05:48] TheBlackCentipede commented on #16336
Alright, so CoreCLR doesn't do any bound check on it which led to stack overflow.

[2018-02-12 05:56] danmosemsft commented on #16326
@ahsonkhan any idea what combination of (?) mismatched bits could give tihs? I suppose this is current CLR with tests running on "most recnelty ingested CoreFX"

cc @JeremyKuhne

[2018-02-12 07:12] TheBlackCentipede commented on #16336
And I don't think I want to try and fix this, so I hope at the very least that CoreCLR team would address the crashing issue.

[2018-02-12 07:40] mikedn commented on #16336
Anyone who uses unsafe code or P/Invoke can crash the CLR in various ways. Using unsafe to bypass the decimal constructor and produce an object with broken invariants is just one creative way of doing it.

That said, stack buffer overruns are usually bad and should be avoided so it's probably worth investigating and fixing this. Whatever the fix may be, it may very well involve throwing `InvalidOp

[2018-02-12 07:43] TheBlackCentipede commented on #16336
Did you reproduce it on Windows?

[2018-02-12 07:47] mikedn commented on #16336
On Windows, yes, I can reproduce this. It crashes in the native formatting code.

On the current CoreCLR build it displays very large numbers (such as `0.0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000045447662082747980989522234092`).

It's likely that the new ma

[2018-02-12 09:22] kbaladurin commented on #16295
@jkotas thank you for suggestion! In this case Histogram's objects are statically allocated so they are cleaned up implicitly. Shouldn't we allocate them statically? Also It's possible that there are other places with such potential problems (for example, problem with dlopen). Is there some common way to fix them?
@mikedn yes, this problem is happen only when using a checked or debug build.

[2018-02-12 09:45] janvorli commented on #6792
@agonzalezm the CentOS/RHEL 6 version is currently available as a preview runtime. There is no SDK yet, so you need to build your app on another Linux and target `rhel.6-x64` RID.
There is no need to change glibc, this version of the runtime is build on CentOS 6, targeting the glibc that's present there. The only thing you need to build from sources and install on the target box is the CURL librar

[2018-02-12 10:17] MichalStrehovsky commented on #15865
Couldn't get enough traction to change this, so we're going to live with this.

[2018-02-12 10:17] #15865 closed

[2018-02-12 10:50] kbaladurin opened #16338 "[UNIX] common_signal_handler calls non-async-signal-safe functions"
`common_signal_handler` calls [non-async-signal-safe](http://man7.org/linux/man-pages/man7/signal-safety.7.html) functions, for example `posix_memalign` and `free` are used to allocate and deallocate exception records. If the signal occurs in these function (for example due to heap corruption) heap will be in inconsistent state when we call them in signal handler.

For example if segmentation faul

[2018-02-12 12:44] janvorli commented on #9370
@JensNordenbro no, there is actually only amd64 version available. To enable other target architectures, we would need to enable cross build for Alpine first, generating official builds on ARM32 would take ages due to the ARM32 performance. At the moment, we only support cross building for Debian based targets using the qemu-debootstrap. I have taken a quick look in the past to how we can do a cro

[2018-02-12 14:58] janvorli commented on #16338
@kbaladurin the infinite loop is not due to calls to the non-safe functions. Any code that would trigger SIGSEGV from the SIGSEGV handler would have the same effect. But you are right that we should not be calling non-async-signal-safe functions in the code path above so we should fix that.

[2018-02-12 15:55] tannergooding commented on #16246
Closing this. The related PR was merged.

[2018-02-12 15:55] #16246 closed

[2018-02-12 16:18] evil-shrike commented on #10441
Hi, is there any news on `SignalAndWait` implementation on Linux?
Is it a correct workaround to replace `SignalAndWait (toSignal, toWait, Timeout, false)` with
[code]
?

[2018-02-12 17:06] MichalStrehovsky commented on #15861
This is rather difficult to test. CoreLib is not roundtrippable through ILDASM/ILASM (`error : Invalid Get method of property 'FirstChar'`) so I can't really add a new default interface method to, say, `ICollection<T>`, and test it.

We should have a look at this when we pick up a version of Roslyn that supports default interface methods.

[2018-02-12 17:16] #16210 closed

[2018-02-12 17:33] tannergooding commented on #16333
Also FYI. @fiigii

This might be required (or at the very least make future work easier) if/when AVX-512 comes into play.

[2018-02-12 17:50] tarekgh commented on #15021
Closing this issue per the discussion here. net core is not supported with Windows compatibility mode. users should not try to set the compatibility mode on dotnet.exe.

[2018-02-12 17:50] #15021 closed

[2018-02-12 18:32] CarolEidt commented on #16333
@tannergooding - How would you see this as different from #14523?

Two general comments:
- The encoding of instructions takes a non-trivial percentage of JIT time, so we not only want to ensure that we don't regress throughput, but really need to have a goal of improving it with a refactor.
- We don't want all the code generation for XARCH to have to worry about whether it is generating SSE or AVX

[2018-02-12 18:38] tannergooding commented on #16333
I missed that there was an existing issue for this, GitHub search didn't turn it up with the terms I used.

The existing logic for that will likely change with any significant refactoring we do to better handle VEX prefixes, so we should be able to ensure that the new mechanism handles this case as well.

[2018-02-12 18:38] tannergooding commented on #16333
Going to close this as a dupe of #14523 and migrate my comments over, where relevant.

[2018-02-12 18:38] #16333 closed

[2018-02-12 18:39] tannergooding commented on #14523
I missed that there was an existing issue for this and opened https://github.com/dotnet/coreclr/issues/16333 over the weekend. I've copied the relevant bits below.

[2018-02-12 18:39] tannergooding commented on #14523
I believe the two primary limitations in the existing setup are:

A specific ordering of definitions is required
This limits the ability to easily refactor or re-order the existing data
The current definitions assume all encodings of an instruction share the same "properties"
Some encodings belong to different ISAs
Some encodings support different architectures (32-bit vs 64-bit)
Some encodings re

[2018-02-12 18:40] tannergooding commented on #14523
I believe the first issue (the current implementation requires definitions to be particularly ordered) is more trivial to resolve (and I think I have such a refactoring complete locally, at the very least all the tests are passing).

It looks like we currently require the entries to be defined in the following order:
* INST5
* INST4
* INST3
* INST2
* INST1
* INST0

It looks like this was done in o

[2018-02-12 18:40] tannergooding commented on #14523
The second issue (flags and other metadata are on a per instruction, rather than a per encoding basis) is more complicated.

I believe we would need to update the metadata to define an instruction (id + name). Each instruction would then have multiple encodings. Each encoding would then define the following data:
* ISA
* Base Encoding (the actual bytes for the encoding)
* CPU Flags Read
  * A gene

[2018-02-12 18:42] fiigii commented on #16333
One of my concern is that the refectoring may break legacy backbend build, we always need to consider desktop-CLR very carefully...

[2018-02-12 18:46] tannergooding commented on #16333
@BruceForstall commented (see https://github.com/dotnet/coreclr/pull/15804#issuecomment-358109723) that the LEGACY_BACKEND code could be removed at some point in the future, at which point that will no longer be a concern.

[2018-02-12 18:58] vancem commented on #11725
We should do the easy ones.    I would have expected the command line args to be easy because Environment.CommandLine already exists, so we had to plumb it through somehow.

ProcessName is very useful because without it is seriously hard to determine by just looking at a trace what it is a trace of.   (That is also why Command Line Args are useful).

[2018-02-12 19:03] fiigii opened #16342 "[RyuJIT] Update the table-driven framework to unify throwing PNSE from `r64` instructions on 32-bit platform"
Discussed at https://github.com/dotnet/coreclr/pull/16237#discussion_r166411833

I will submit a PR to fix this issue.

cc @CarolEidt @tannergooding @4creators

[2018-02-12 19:07] fiigii opened #16343 "[RyuJIT] Add a new range-check IR for certain x86 imm-intrinsics"
Discussed at https://github.com/dotnet/coreclr/pull/16183#discussion_r167050453

I will involve this change in https://github.com/dotnet/coreclr/pull/16183

cc @CarolEidt @tannergooding

[2018-02-12 19:28] AndyAyersMS commented on #16312
It's quite likely that this is something we fixed, but it would be nice to be sure. I'm going to leave this open for a bit longer in case we can repro the issue.

[2018-02-12 19:30] #16197 closed

[2018-02-12 19:58] kouvel commented on #10441
I'm planning on adding this for 2.1. Yes the above is a close equivalent to what SignalAndWait would do.

[2018-02-12 20:49] AndyAyersMS commented on #12438
It looks like in CoreCLR the first range lookup is actually no longer needed. In desktop this lookup feeds secure delegate creation. That use has been removed in Core, but the lookup remains.

So maybe we can get half of this perf back very cheaply.
[code]

[2018-02-12 21:08] AndyAyersMS commented on #15392
Fixed via #15801 and #16184.

[2018-02-12 21:08] #15392 closed

[2018-02-12 21:27] AndyAyersMS commented on #5181
@RussKeldorph @BruceForstall this issue seems stale, can one of you take a look and update?

[2018-02-12 23:01] AndyAyersMS commented on #16126
I'll start working on this.

[2018-02-12 23:28] AArnott commented on #1191
We had VS crashes because of this bug. More details are available here:
[Bug 554942](https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workitems/edit/549229): [Watson] crash32: STACK_OVERFLOW_c00000fd_Microsoft.VisualStudio.Utilities.dll!Microsoft.VisualStudio.Settings.FileTraceLogger+_InternalLogAsync_d__37.MoveNext

[2018-02-12 23:30] GrabYourPitchforks commented on #1191
A recent prerelease build of Visual Studio ran into this bug, which caused the team a bit of wasted time. We should consider prioritizing this work item now that we know it's hittable in real-world scenarios. Stephen expressed some concern that we don't want to regress perf by introducing this check, but neither of us believes it'll be measurable in practice.

[2018-02-12 23:39] tannergooding opened #16348 "Update the `EmitterUnitTests` to support an alternative disassembler"
Currently the emitter has a set of unit tests (`genAmd64EmitterUnitTests` and `genArm64EmitterUnitTests`) which can be used for validating that the emitted byte code is correct for various scenarios.

However, this does not currently work in CoreCLR itself due to a dependency on the closed source `msvcdis` disassembler.

Given the number of new instructions being supported and the number of genera

[2018-02-12 23:40] tannergooding commented on #16348
@BruceForstall suggested that it might be possible to hook up the the `CoreDisTools` disassembly for this purpose (see https://github.com/dotnet/coreclr/pull/14572#issuecomment-337728416).

[2018-02-12 23:40] tannergooding commented on #16348
CC. @CarolEidt, @fiigii, @sdmaclea

[2018-02-12 23:40] tannergooding commented on #16348
This would also be beneficial for any refactoring that come out of https://github.com/dotnet/coreclr/issues/14523

[2018-02-12 23:41] BruceForstall commented on #15284
Added.

[2018-02-12 23:41] #15284 closed

[2018-02-12 23:47] BruceForstall opened #16349 "[RyuJIT/arm32] Implement initblk unrolling"
From `Lowering::LowerBlockStore()`:
[code]

It we decide it never should be implemented, the NYI and TODOs should be removed.

[2018-02-13 00:00] BruceForstall commented on #16348
Note that SuperPMI already can use coredistools, and might provide a model: https://github.com/dotnet/coreclr/pull/13442.

Would be nice to hook up JitLateDisasm to coredistools, also.

[2018-02-13 00:29] BruceForstall commented on #9711
Fixed by #16181

[2018-02-13 00:29] #9711 closed

[2018-02-13 00:30] BruceForstall commented on #11284
@BredPet Are you looking at this?

[2018-02-13 00:31] BruceForstall commented on #13828
Waiting until https://github.com/dotnet/coreclr/pull/16039 is resolved before reviewing this again.

[2018-02-13 02:13] BruceForstall opened #16350 "HW intrinsics and SuperPMI"
How should the hardware intrinsics work with SuperPMI collection and replay?

Currently, when I run, for example, JIT\HardwareIntrinsics\X86\Avx2\Avx2_ro, the test passes.

When I set some variables to collect SuperPMI on this test:
[code]

and run, I get a crash: JIT_ThrowPlatformNotSupportedException, from the stack:
[code]

Is there some JIT-EE API not being implemented properly by the SuperPMI

[2018-02-13 02:13] BruceForstall commented on #16350
@CarolEidt @fiigii @tannergooding @sdmaclea

[2018-02-13 02:29] fiigii commented on #16350
I introduced 3 JIT-EE interfaces for HW intrinsics in https://github.com/dotnet/coreclr/pull/15244 and https://github.com/dotnet/coreclr/pull/15340
- getTypeForPrimitiveNumericClass
- getClassNameFromMetadata
- getTypeInstantiationArgument

But I am not familiar with SuperPMI, so I just followed other API's SPMI code. Do they make this problem?

Additionally, the JIT-helper `ThrowPlatformNotSuppor

[2018-02-13 02:54] #16296 closed

[2018-02-13 04:08] #15650 closed

[2018-02-13 04:17] jkotas commented on #16295
Either not allocate them statically; or make the destructor empty.

Yes, we run into other places here and there with similar problems. For example, https://github.com/dotnet/coreclr/issues/13779 . The common way to fix them is to not try to cleanup during shutdown.

[2018-02-13 07:19] #15864 closed

[2018-02-13 08:26] BredPet commented on #11284
@BruceForstall
@Buyduck is currently working on this.

[2018-02-13 09:14] MichalStrehovsky commented on #15838
This has been consistently green since 1/20 (the "failed again" comment above looks like infra issue in a different test). I'm going to assume this was fixed in #15925 - the test does exercise code paths that were affected by the fix.

[2018-02-13 09:14] #15838 closed

[2018-02-13 09:45] alpencolt commented on #13828
There is remaning issues as I understand.
@BruceForstall could you assign this issue to me? I will take a look little bit later.

[2018-02-13 13:36] MichalStrehovsky opened #16354 "[Default interfaces] VerifyVirtualMethodsImplemented wrong for generic interfaces"
Type `Fooer` declares it implements ``IFoo`1<class [System.Runtime]System.ValueType>``, but it doesn't. We still load the type just fine, violating type safety in the process, because the logic that checks for default interface method implementation is bogus and succeeds if we implement any instantiation of that generic interface.

[code]

[2018-02-13 13:41] MichalStrehovsky commented on #16354
The problem is that in `MethodTableBuilder::VerifyVirtualMethodsImplemented` the `pMD` becomes `IFoo[T]::Frob` (we lose the instantiation information of the implemented interface) and then `HasDefaultInterfaceImplementation` likely has another bug to paper over this bug.

[code]

[2018-02-13 13:50] MichalStrehovsky opened #16355 "[Default interfaces] FindDefaultInterfaceImplementation instantiates interfaces over bogus types"
The logic in `MethodTable::FindDefaultInterfaceImplementation` around this code:

https://github.com/dotnet/coreclr/blob/24680bd7883a1f8424766c5196b96b803dfb796d/src/vm/methodtable.cpp#L7171-L7184

Uses the instantiation of the `IBar` interface in `pCurMT` (that is not generic) to load ``IFoo`1``. This should likely use a different strategy to iterate the methodimpls.

[code]

[2018-02-13 14:14] kbaladurin commented on #16295
@jkotas thank you! What is better: to change `Histogram` class (make destructor empty or add additional parameter that will control `m_counts` deallocation) or to create separate class, for example, `HistogramStatic`? Seems like now all Histogram's objects are allocated statically.

[2018-02-13 14:34] mikedn commented on #16295
Making the destructor empty would be easy but I suspect that then analysis tools might start screaming that the process is leaking memory.

Since the histogram bucket count seems to be pretty low (between 10 and 20 I'd say) you can get rid of dynamic allocation. Just change `m_sizeTable` to an array of reasonable size and call it a day, it's debug code after all.

[2018-02-13 15:31] vitek-karas opened #16356 "Build fails with weird errors if git is not on path"
Running the build.cmd script (on Windows) from VS development environment without having git on path fails the build in a really weird way which is hard to figure out.
If this happens the error reported is:
[code]
Looking into this the _version.h has a line like this:
[code]
If the build really needs git (which in this case it could put some <unknown> string instead into the version), then it shou

[2018-02-13 16:35] kbaladurin commented on #16295
Thank you for suggestion!

[2018-02-13 16:45] sdmaclea commented on #15293
Closing per @BruceForstall comment

[2018-02-13 16:45] #15293 closed

[2018-02-13 17:01] sdmaclea opened #16357 "[Arm64/Linux] JITStress1/2 fails JIT/HardwareIntrinsics/X86/Sse*"
[code]
[code]

[2018-02-13 17:01] sdmaclea commented on #16357
@CarolEidt @tannergooding @BruceForstall FYI

[2018-02-13 17:04] tannergooding commented on #16357
This is a dupe of https://github.com/dotnet/coreclr/issues/16236.

@fiigii is currently working on a fix.

[2018-02-13 17:05] sdmaclea opened #16358 "[Arm64/Linux] JitStrss1 fail devdiv_180411"
JIT/Regression/JitBlue/devdiv_180411/devdiv_180411/devdiv_180411.sh

[code]

[2018-02-13 17:06] tannergooding commented on #16236
@fiigii, has there been any progress here? There have been a few duplicate bugs logged against this now.

[2018-02-13 17:07] sdmaclea commented on #16358
This is likely the same issue
JIT/Regression/JitBlue/DevDiv_370233/DevDiv_370233/DevDiv_370233.sh
[code]

[2018-02-13 17:07] sdmaclea commented on #16358
@dotnet/arm64-contrib @jit-contrib FYI

[2018-02-13 17:16] fiigii commented on #16236
@tannergooding I was working on https://github.com/dotnet/coreclr/pull/16183 yesterday. I will look into this one today (it looks like urgent also), sorry to the delay.

[2018-02-13 17:19] sdmaclea opened #16359 "[Arm64/Linux] JitStressRegs=0x200 staticFieldExpr1_ro_loop lsra failure"
With JitStressRegs=0x200

JIT/jit64/opt/cse/staticFieldExpr1_ro_loop/staticFieldExpr1_ro_loop.sh

[code]

[2018-02-13 17:21] sdmaclea commented on #16359
This is likely the same issue

With JitStressRegs=0x200

JIT/jit64/opt/rngchk/RngchkStress2_o/RngchkStress2_o.sh

[code]

[2018-02-13 17:22] sdmaclea commented on #16359
@CarolEidt @dotnet/jit-contrib FYI

[2018-02-13 17:29] AndyAyersMS opened #16360 "JIT: add current phase tracking for asserts and dumps"
We should add a `BeginPhase` that sets some state in the compiler instance to track the currently active phase, and then rework the whole phase structure to automatically follow a begin - do - end pattern.

This would allow us to do a couple of useful things:
* Add the currently active phase name to assert messages. This would make triaging asserts a bit easier.
* Also we can tell if we're in the

[2018-02-13 17:44] mikedn commented on #16360
An example where the lack of consistent dumping is a problem today is CopyProp. It appears after VN in dumps and there's no IR dump in-between. You're left starring at the rather convoluted VN build dump trying to figure out what VN a given node has.

[2018-02-13 18:34] AndyAyersMS commented on #16126
Because we produce a unified environment for all the CoreCLR tests, all the projects involved have to agree on which version of a package we'll use, both for building and running. We have complex web of dependencies here which makes updating all this challenging (at least for us jit developers). I know previous attempts have all hit roadblocks.

I'm not sure if it is worth the trouble to keep indi

[2018-02-13 19:03] sdmaclea commented on #16357
@tannergooding I will leave open, because #16236 fails to mention the affected tests. It is also unlikely the fix will be tested on ARM64.

[2018-02-13 19:17] danmosemsft commented on #16336
We don't believe this to be a bug. None of the public constructors or factories can create a malformed Decimal structure that behaves in the way described here. It appears that the only way to get into this situation is to use bit-blitting to overwrite the private fields of the struct and to break its invariants. As mentioned earlier, this is not a supported scenario, and manipulating private fiel

[2018-02-13 19:19] sdmaclea opened #16362 "[AMD64/Ubuntu] ./build-test.sh failed to complete"
`./build-test.sh -priority=1 Checked`

I attempted to build tests on my Skylake desktop.
+ Build was very slow,
    + in early build the initial msbuild process was consuming 3 cpu's and a lot of physical memory.  It was spawning processes to build each individual test
    + Later in the build process it was consuming enough physical memory that it was swapping.
+ The build failed to complete over

[2018-02-13 19:50] TheBlackCentipede commented on #16336
Well, the point being that there are programs that allows any user to submit C# snippet and run them to print the output as a chat bot, website that utilize programming language as a game, and so forth. I could wait for the next Dotnet Core considering the note about ValueStringBuilder above and see if that fixed the issue for now.

[2018-02-13 20:00] #16336 closed

[2018-02-13 20:04] benaadams commented on #16336
It does require `unsafe` and you can easily blow up the runtime using `unsafe`; so you may want to disallow the `unsafe` keyword and the `Unsafe` class?

Also you can easily cause a stack overflow by just recursively calling functions
[code]
[code]

[2018-02-13 20:05] GrabYourPitchforks commented on #16336
What happens if you submit a C# snippet that includes `Environment.FailFast(...);` or `Process.Start(...);`?

[2018-02-13 20:05] 4creators commented on #16362
I can repro the same problem for Windows priority 1 builds as well. After consuming all memory test build hangs. MSBuild nodes grow memory usage never releasing unneeded excess. Seems to be related to uncontrolled MSBuild cache buildup.

[2018-02-13 20:07] 4creators commented on #16362
@sdmaclea Perhaps the title can be changed to indicate that problem exists on multiple architectures for priority 1 test builds.

[2018-02-13 20:14] TheBlackCentipede commented on #16336
It would filter out based on Namespace/References and as for Modix, it is basically using a docker container that basically create and dispose container for each snippet, so when running the code above, it would basically kill the CLR and error wouldn't be printed at all.

At the very least, I was expecting that the basic types for integers and floating point integers in C# to be safe when using i

[2018-02-13 20:25] GrabYourPitchforks commented on #16336
You're correct in that bit blitting of fundamental numeric types is "safe". But decimal is not a fundamental primitive numeric type. The primitive numeric types are the integral types, bool, float, and double.

[2018-02-13 20:26] benaadams commented on #16336
If you use `unsafe` nothing is particularly safe; e.g. try
[code]

[2018-02-13 20:30] TheBlackCentipede commented on #16336
@benaadams I know, anyway, the point is randomizing a fixed buffer of decimal size and de-referencing that buffer as decimal type itself shouldn't crash the CLR.

[2018-02-13 20:42] AndyAyersMS opened #16363 "JIT: consider optimizing this unsigned check and compare idiom"
In the following, the second chain of compares can be optimized to a single compare:
[code]
Once `x` is known to be non-negative we can check for `y` in `[0....x]` using a single unsigned compare. This is similar to what we do for array bounds checks (where the array length is known to be non-negative).

See a bit of discussion about this in dotnet/corefx#27007 (may be hidden under "outdated").

[2018-02-13 20:53] danmosemsft commented on #16356
@wtgodbe maybe this was the issue you were hitting..

[2018-02-13 21:38] mikedn commented on #16363
This seems a bit too exotic, even C/C++ compilers fail to perform this transform. The JIT can't even handle the classic `c1 <= x && x <= c2` so this is far, far away.

[2018-02-13 22:19] AndyAyersMS commented on #16363
Perhaps. But we often see different frequencies of idiomatic patterns than in C/C++.

I suppose I should scan through CoreCLR/CoreFx and see how many unsigned casts there are in compares. I understand why people want to hand optimize this sort of thing but would sure prefer if they didn't have to.

[2018-02-13 23:05] CarolEidt commented on #16350
The hardware intrinsics should work much the same as SIMD does for SuperPMI - that is, it should record (and then replay) the calls that the JIT makes to determine the ISA, as well as getting the type info that @fiigii mentions. It's not immediately apparent what might be missing.

[2018-02-13 23:13] ahsonkhan commented on #16331
Also happening in other places - see https://github.com/dotnet/coreclr/pull/16223#issuecomment-365438032

[2018-02-13 23:34] BruceForstall commented on #16236
Is this what is causing the following failures in JitStress2 (for example):

JIT_HardwareIntrinsics._X86_Sse41_Sse41_ro_Sse41_ro_._X86_Sse41_Sse41_ro_Sse41_ro_cmd
JIT_HardwareIntrinsics._X86_Sse42_Sse42_ro_Sse42_ro_._X86_Sse42_Sse42_ro_Sse42_ro_cmd
JIT_HardwareIntrinsics._X86_Avx_Avx_ro_Avx_ro_._X86_Avx_Avx_ro_Avx_ro_cmd
JIT_HardwareIntrinsics._X86_Sse2_Sse2_ro_Sse2_ro_._X86_Sse2_Sse2_ro_Sse2_ro_c

[2018-02-13 23:36] fiigii commented on #16236
@BruceForstall this will be fixed by https://github.com/dotnet/coreclr/pull/16365, but another failure appears...

[2018-02-13 23:39] bobuva opened #16366 "Chaining profilers"
In years past, I've spoken with various people at Microsoft who were interested in running multiple profilers  (that use the .NET Profiler API) on the same machine. Has any consideration been given to this for the now open-source profiler here in coreclr?

[2018-02-13 23:46] AndyAyersMS commented on #16362
Experience is not great on windows either.... this is on a machine with 16GB

![image](https://user-images.githubusercontent.com/10121823/36180375-0184b55e-10d5-11e8-8dba-7f7b40536356.png)

[2018-02-14 00:06] sdmaclea opened #16368 "[Arm64/Linux] Release 2.1 -- System.TypeLoadException: Virtual Non-Abstract Interface Method"
On the Release 2.1  branch e259e0acec, I see the following assert.

[code]
Affects the following tests
[code]

[2018-02-14 00:06] AndyAyersMS commented on #16362
Heap snapshot of the 11176 instance above (which looked like the master MSBuild process):
![image](https://user-images.githubusercontent.com/10121823/36181016-a5f796ea-10d7-11e8-9221-d889c174ebd0.png)

[2018-02-14 00:07] bobuva opened #16369 "Permanent cross-platform sdk for profilers"
The [ProfilingAPI sample](https://github.com/Microsoft/clr-samples/tree/master/ProfilingAPI) has a [documentation note](https://github.com/Microsoft/clr-samples/tree/master/ProfilingAPI#native-sdk-for-consuming-the-profiler-apis) that states that building that sample using headers from the CoreCLR source is a temporary solution, awaiting a more permanent sdk.

Do you have any more information on w

[2018-02-14 00:07] sdmaclea commented on #16368
@jkotas My guess this is a crossplatform problem.

[2018-02-14 00:10] AndyAyersMS commented on #16362
@RussKeldorph you said you were interested in MSBuild perf for tests....

[2018-02-14 00:45] BruceForstall opened #16370 "GCStress failure: JIT\HardwareIntrinsics\X86\Sse\Sse_r"
Failure with `COMPlus_GCStress=4` with x86 Checked with JIT\HardwareIntrinsics\X86\Sse\Sse_r:

[code]

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_gcstress0xc/73/#showFailuresLink
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_gcstress0xc/67/#showFailuresLink

[2018-02-14 00:45] BruceForstall commented on #16370
@CarolEidt @fiigii @tannergooding

[2018-02-14 00:51] fiigii commented on #16370
Thanks, I will look into this failure.

[2018-02-14 00:52] pprice opened #16371 "Run time quits with 0x80000003 (STATUS_BREAKPOINT) when assigning float*[,] value in debug configuration builds"
dotnet version: 2.1.4

[code]

Will produce:

`dotnet.exe has exited with code -2147483645 (0x80000003).`

Native callstack:

[code]

Notes:
 - Does **not** fail on .NET Framework 4.6.1 runtime
 - This will only reproduce on **Debug** configuration builds, not Release.
 - This seems to happen to any 2D array of pointers (I tried `byte*`, `float*` and `long*`).
 - Looks like `ILCodeStream::EmitSTIN

[2018-02-14 01:13] BruceForstall opened #16374 "GCStress failures: tracing\tracevalidation tests"
x86 checked with `COMPlus_GCStress=4`, two test failures:

tracing\tracevalidation\inducedgc\inducedgc
tracing\tracevalidation\jittingstarted\JittingStarted

The output:

[code]

[code]

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_gcstress0xc/67/#showFailuresLink

at least inducegc also fails for x64:

https://ci.dot.net/job/dotnet_coreclr/job/master/j

[2018-02-14 01:14] BruceForstall commented on #16374
cc @nategraf

[2018-02-14 01:17] fiigii commented on #16370
I tried on my local machine, this can be fixed by https://github.com/dotnet/coreclr/pull/16365

[2018-02-14 01:33] BruceForstall opened #16375 "GCStress failure: test147911_cmd"
x86 checked `GCStress=C` failure:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_gcstress0xc/67/testReport/junit/baseservices_exceptions/_regressions_Dev11_147911_test147911_test147911_/_regressions_Dev11_147911_test147911_test147911_cmd/

Related to #12522?

(Also see #15883)

[2018-02-14 01:33] BruceForstall commented on #16375
@janvorli since you are assigned #12522, I'm assigning this to you as well.

[2018-02-14 01:37] BruceForstall opened #16376 "GCStress failure: Loader\classloader\DefaultInterfaceMethods\sharedgenerics\sharedgenerics_r"
x86 checked `GCStress=4` failure in Loader\classloader\DefaultInterfaceMethods\sharedgenerics\sharedgenerics_r:

[code]

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_gcstress0xc/67/testReport/junit/Loader_classloader/_DefaultInterfaceMethods_sharedgenerics_sharedgenerics_r_sharedgenerics_r_/_DefaultInterfaceMethods_sharedgenerics_sharedgenerics_r_shared

[2018-02-14 01:51] brianrob commented on #16374
The contract violation is interesting - I will investigate.  The induced GC test likely just shouldn't run on GCStress.  Do I need do both steps 1 and 2 to disable the tests or just one?  Also, we will need a way to disable the tests on Linux - these need to run on all platforms.

[2018-02-14 01:55] ahsonkhan opened #16377 "Test failure in CI: Assertion failed in System.Tests.ValueTupleTests:LongTuplesWithNull()"
See https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_arm64_altjit_checked_windows_nt_corefx_baseline_prtest/25/consoleFull#62222254079fe3b83-f408-404c-b9e7-9207d232e5fc from https://github.com/dotnet/coreclr/pull/16223
[code]

cc @stephentoub, @jcouv, @tarekgh

[2018-02-14 02:02] BruceForstall commented on #16374
Looks like these new tests have never been added to the arm/arm64 tests.lst files (so they are not running for arm or arm64 Windows), so step 2 isn't necessary. (If you wish to add them for those platforms, that's another story.)

It looks like the `inducegc` test is failing in Ubuntu GCStress:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_ubuntu_gcstress0xc_tst/6

[2018-02-14 02:07] brianrob commented on #16374
Ok, thanks.  Just confirming - if I set them as GCStress incompatible, then they are disabled for all configurations right?  If the limitation is just that you can't control per OS, then I that should be fine for these tests.

[2018-02-14 02:46] BruceForstall commented on #16374
I think what you're asking is if you add
[code]
to the csproj file, are you good?

I'm not sure: presumably the generated `<test>.sh` wrapper script will include appropriate logic to skip them for GCStress modes; you should check that.

So maybe it's only Windows arm/arm64 that are oddballs for GCStress disabling.

[2018-02-14 03:32] tannergooding commented on #16348
I think I've discovered most of the things that need to be done.

Looks like we need to:
* Add a new altjit (or update an existing one) to specify `-DLATE_DISASM=1`
  * What is the recommendation here?
* Update `src\jit\disasm` to filter out the `msvcdis` specific methods (behind something like `-DUSE_MSVCDIS`)
* Update `src\jit\disasm` to reimplement `DisAssembler::DisasmBuffer` for CoreDisTools

[2018-02-14 04:34] brianrob commented on #16374
Yes, that's what I'm asking.  I will try it.

[2018-02-14 06:37] BruceForstall commented on #16348
Yes, we need `USE_COREDISTOOLS` and `USE_MSVCDIS` to distinguish those components. I think msvcdis supports a bunch of callbacks to get textual names for things that is not supported by coredistools. None of those are really required (I think) but do make the output easier to read. Maybe similar for labels.

On desktop, we built non-Release JITs with LATE_DISASM support enabled, but if you wanted

[2018-02-14 06:46] caoxuwen commented on #16371
can verify - countless productive hours were lost on this tracing this bug

[2018-02-14 07:08] BruceForstall commented on #16348
btw, @swaroop-sridhar might be able to help with the details of coredistools

[2018-02-14 07:20] jkotas commented on #16368
This is test for default interfaces feature. This feature and the matching tests should disabled in the release/2.1 branch.

@MichalStrehovsky Any know issues with this?

[2018-02-14 07:21] jkotas commented on #16376
cc @MichalStrehovsky

[2018-02-14 07:24] MichalStrehovsky commented on #16368
These got disabled when the feature got turned off in #15994. Is there another exclusion list besides `issues.targets` and `testsFailingOutsideWindows.txt` where we need to disable these?

[2018-02-14 07:28] MichalStrehovsky commented on #16376
Moving to Future; this feature is not shipping in 2.1.0.

Cc @sergiy-k

[2018-02-14 09:15] fiigii commented on #16370
This failure is not related to https://github.com/dotnet/coreclr/pull/16365. We need another fix.

[2018-02-14 09:40] tannergooding commented on #16348
In my opinion, yes.

The same could be said for most unit tests. Once you get the code right, it generally remains correct until the related production code is touched again.

Today, there isn't a "good" story for testing the JIT in general. That is, we don't have any kind of real native unit tests (outside of the PAL tests). Instead, we rely on a bunch of managed code being compiled down to the r

[2018-02-14 10:16] #16371 closed

[2018-02-14 10:17] MichalStrehovsky commented on #16371
Thanks for the detailed diagnosis! I submitted a fix for this. In the meantime, you could work around this issue by using an array of `IntPtr` of `UIntPtr`.

[2018-02-14 10:19] davmason commented on #13153
Fixed in #16314

[2018-02-14 10:19] #13153 closed

[2018-02-14 11:16] 4creators commented on #16362
This confirms my suspicion that MSBuild cache buildup is main reason for excessive memory usage:

`Microsoft.Build!Microsoft.Build.BackEnd.ConfigCache` uses 83.9% or 1 323 107 000 (bytes?) of memory at the stage when @AndyAyersMS took heap snapshot.

Simple workaround could be to run whole top level project in stages and restart after each stage is finished.

Full solution may require introducing

[2018-02-14 11:54] 4creators commented on #16348
In general I agree with @tannergooding that using native unit tests harness for the whole JIT (or just emitter) would allow for much faster and reliable tested development cycles.

[2018-02-14 14:23] benaadams opened #16385 "Vector4 operator /(Vector4 value1, float value2) is not implemented as intrinsic"
Its marked as an intrinsic in the source but doesn't get converted to efficient asm

[2018-02-14 14:34] benaadams commented on #16385
Workaround https://github.com/dotnet/corefx/pull/27122

[2018-02-14 14:37] sdmaclea commented on #16368
Found using my CI system.  I had missed their addition into testsFailingOutsideWindows

Closing as these failures are expected.

[2018-02-14 14:37] #16368 closed

[2018-02-14 15:04] sdmaclea commented on #16362
If it really is a cache, then it could contain weak references to its data.

[2018-02-14 15:05] sdmaclea commented on #16362
Should I leave this open for the workaround as @4creators proposed

[2018-02-14 15:41] jkotas commented on #15522
The side-effects of `RuntimeHelpers.PrepareMethod` are frequently used for custom implementations of background JIT. There are many articles out there about that:

https://stackoverflow.com/questions/26590809/disadvantages-of-runtimehelpers-preparemethod-in-a-windows-service
https://stackoverflow.com/questions/13435641/questions-about-pre-jit-ing-using-runtimehelpers-preparemethod

The JIT target

[2018-02-14 16:16] sergign60 opened #16387 "What information can be candidates for pitching (dropping)?"
We're trying to use Code Pitching feature (dropping unused jitted code) (https://github.com/dotnet/coreclr/pull/10496) for mobile devices.  I've found also that ```EHInfo``` and ```GCInfo``` could be pitched also at the same time. Could you give us some hints, what information (meta) for method could be pitched with code? Thanks in advance
CC:@noahfalk  @jkotas @janvorli @Dmitri-Botcharnikov @alpe

[2018-02-14 16:20] kbaladurin commented on #16295
Also there is similar problem in EventPipe:
[code]

Seems like during `EventPipe::Shutdown` another thread calls `EventPipe::Enabled` after `s_pConfig` was deleted but before it will become `NULL`:
[code]
`EventPipe::Shutdown`:
[code]

Maybe we should use lock in `EventPipe::Enabled` and `EventPipe::Shutdown`.

cc @brianrob

[2018-02-14 16:24] jkotas commented on #16295
@kbaladurin It may be best to open separate issue on the event pipe one.

[2018-02-14 16:25] kbaladurin commented on #16295
@jkotas ok, thank you!

[2018-02-14 16:30] kbaladurin opened #16388 "UAF in EventPipe::Enabled during shutdown"
Following example triggers uaf in `EventPipe::Enabled` (with asan):
[code]
Asan report:
[code]
Seems like during `EventPipe::Shutdown` another thread calls `EventPipe::Enabled` after `s_pConfig` was deleted but before it will become `NULL`:
[code]
`EventPipe::Shutdown:`
[code]
Maybe we should use lock in `EventPipe::Enabled` and `EventPipe::Shutdown`.

@jkotas @janvorli @brianrob

[2018-02-14 16:37] 4creators commented on #16362
I would leave it open to track external problem https://github.com/Microsoft/msbuild/issues/2993

[2018-02-14 17:38] stephenschwan opened #16389 "System.OutOfMemoryException: at System.Buffers.TlsOverPerCoreLockedStacksArrayPool`1.Rent"
Unfortunately I was unable to get a dump of the process before the app service was restarted, but we have never encountered this before.  No rhyme or reason - there was no memory pressure on the servers (web app - s3).  I have attached the stack trace - though i don't think it will provide much.

Though the bigger question is, if this happens again, what should I trace or collect such that we have

[2018-02-14 17:39] #15150 closed

[2018-02-14 18:05] BruceForstall commented on #16376
Please mark the tests as GcStressIncompatible so they don't continue to fail in the CI.

[2018-02-14 18:36] tannergooding commented on #16370
@BruceForstall, what is the behavior of the `GCStress=4` mode?

Some of these tests aren't accessing anything outside of a pinned struct in `this` and are actually indicating that the computed result for the given inputs is accurate. For example, I modified one of the failing tests to also print out the expected result values (and their binary representation):
[code]

The one where it doesn't line

[2018-02-14 18:42] BruceForstall commented on #16370
`GCStress=4` performs a GC at every JIT-generated instruction. If the GC info is incorrect, the GC might move an object, but not update a JIT-generated address or register, so the value might change out from under you.

[2018-02-14 18:54] #16331 closed

[2018-02-14 18:55] tannergooding commented on #16370
What is the best way to diagnose these types of issues?

For the `LclVar`, `LclFld`, and `Fld` scenarios, it seems like the error is somewhere in [ValidateResult](https://github.com/dotnet/coreclr/blob/master/tests/src/JIT/HardwareIntrinsics/X86/Sse/AddScalar.Single.cs#L287). At least given that, by that point, all three arrays have been created and have the expected values when printed.

For the

[2018-02-14 19:06] MichalStrehovsky commented on #16376
We'll need to undo #16391 when this is fixed.

[2018-02-14 19:18] brianrob commented on #16374
To confirm, if I specify ```<GCStressIncompatible>true</GCStressIncompatible>``` then the script files will bail early if COMPlus_GCStress is set.

The induced GC tests should be disabled for GCStress since it counts GCs.  The JittingStarted test doesn't fail on x64 which is the build that I have around so I'm doing an x86 build and will report back.

[2018-02-14 19:24] janvorli commented on #16336
This is actually a dup of #3623 where the same issue happens when modifying the fields of a decimal via reflection. The decimal formatting code is not resilient to invalid data. See the #3623 for details. The conclusion was that it would be nice to make sure there is no buffer overflow in this case.

[2018-02-14 19:26] ro-jo commented on #9193
@yizhang82 So hopefully UnmanagedType.LPStr is UTF-8 on both Linux and Windows, can you clarify please?
I am writing common native hosting code for both Windows and Linux, the same code compiles on both -  it won't be possible to use multilingual char arrays otherwise.

[2018-02-14 19:47] BruceForstall commented on #16370
Sometimes the best way is to read very carefully through the JitDump to ensure that the GC info is correct for each instruction generated. E.g., pay attention to lines like these:
[code]

Sometimes you can use CLR logging with GCinfo dumping, but that can give overwhelming information. E.g.,
[code]

[2018-02-14 20:11] #16295 closed

[2018-02-14 20:24] BruceForstall commented on #16350
Well, with a current sync and build, I don't see this problem anymore. Maybe something got fixed.

[2018-02-14 20:24] #16350 closed

[2018-02-14 20:45] janvorli commented on #15540
Fixed by #15563

[2018-02-14 20:45] #15540 closed

[2018-02-14 21:00] AndyAyersMS commented on #11653
Am going to move this out of 2.1 as we can live with the current behavior a while longer.

[2018-02-14 21:00] AndyAyersMS commented on #11656
Am going to move this out of 2.1 as we can live with the current behavior a while longer.

[2018-02-14 21:01] AndyAyersMS commented on #11657
@adamsitnik if you ever get around to looking at long-term stability of BDN, here are some more cases to consider.

Am going to move this out of 2.1 as we can live with the current behavior a while longer.

[2018-02-14 21:34] AndyAyersMS commented on #12388
Thought I had some notes on this but it turns out they were for something else (music store jit time).

I can't see data going back very far and we don't measure all these assemblies anymore, but here's a recent picture of Win32.Registry crossgen TP on Linux:
![image](https://user-images.githubusercontent.com/10121823/36228870-433901ca-118a-11e8-99e5-c81588b71ddd.png)

Baseline (1.1) perf was abou

[2018-02-14 21:54] mikedn commented on #15671
@dotnet/jit-contrib I ran into another range check elimination bug and I thought that I should ask first: do you treat these as security issues? Should they be reported via `secure@microsoft.com`?

[2018-02-14 22:06] briansull commented on #15671
Mike you can report it to our team.
briansul@microsoft.com and Russ.Keldorph@microsoft.com

Thanks

[2018-02-14 22:15] yizhang82 commented on #9193
@ro-jo LPStr is UTF-8 in linux but in windows it still needs to be "ANSI" (a misnomer). Changing it to UTF-8 in Windows is a breaking change for everybody else. You probably should use LPUTF8Str.
/cc @luqunl @jeffschwMSFT

[2018-02-14 22:31] BruceForstall commented on #16358
@sdmaclea fixed by https://github.com/dotnet/coreclr/pull/16367.

[2018-02-14 22:37] BruceForstall commented on #5181
@jkotas @sandreenko AFAIK, R2R is fully enabled for arm/arm64. Is that true? If so, we can close this issue.

[2018-02-14 22:41] sandreenko commented on #5181
@BruceForstall r2r tests for arm are running in ci, the issues are tracked by #15552.
However, I do not know about "R2R Generics support".

[2018-02-14 23:03] jkotas commented on #5181
Fixed by #5480 for ARM64 and #13733 for ARM.

[2018-02-14 23:03] #5181 closed

[2018-02-15 06:19] #15522 closed

[2018-02-15 06:24] kbaladurin commented on #16208
Fixed in https://github.com/dotnet/coreclr/pull/16276

[2018-02-15 06:24] #16208 closed

[2018-02-15 10:32] LazerFX opened #16397 "F5 Debug issue: An assembly specified in the application dependencies manifest was not found"
I have spent a few days trying to figure out why F5 debugging doesn't work.  I believe I have an idea, however I don't know how to fix it, hence posting here for assistance.

I have a .NET Core 2.0 application that has a UI project, a Service project and several DLL projects.  The UI project has been created by doing a `dotnet new aurelia`.  I'm using ReSharper, so have added the `JetBrains.Annota

[2018-02-15 10:38] janvorli commented on #15243
Will get fixed by a fix to #8844

[2018-02-15 10:56] janvorli commented on #15074
There is nothing we can do about it since it is a compiler bug and LLVM said they will not backfix it in 3.9.1. So we can only recommend people to build with clang 4.0 for arm32. Our official builds are fine since they are release builds and this issue happens only for debug builds. Even checked builds are ok.

[2018-02-15 10:56] #15074 closed

[2018-02-15 11:38] LazerFX commented on #16397
As an update, so far this is affecting:

- JetBrains.Annotations.dll
- NJSonSchema.dll
- Newtonsoft.Json.dll
- NSwag.Annotations.dll
- NSwag.AspNetCore.dll
- NSwag.AssemblyLoader.dll
- NSwag.Core.dll
- NSwag.SwaggerGeneration.dll
- NSwag.SwaggerGeneration.AspNetCore.dll
- NSwag.SwaggerGeneration.WebApi.dll

So far, the common theme I'm referencing is these are all debug- and compile-time DLLs, not

[2018-02-15 12:04] tmds commented on #15522
Thank you for implementing @jkotas!

[2018-02-15 14:44] victorsample opened #16399 "Process.Start fails to execute properly"
Using Visual Studio 2017 Community
Process.Start (<name>,<command_line)
fails to execute properly.
Trying to start Postgresql utility "psql" with command line "-U aobadmin aobdb <C:\\Temp\\backupdb.sql" does not execute properly.
Putting the execution in a ".bat" file and building the command line in the bat file does work.
Apparently the form of the "psql" command is causing a problem.

[2018-02-15 16:15] benaadams commented on #16385
@eerhardt @CarolEidt @mikedn @tannergooding with https://github.com/dotnet/corefx/pull/27122 merged are we worried about this? (i.e. should it be closed?)

[2018-02-15 17:28] dotnet-mc-bot opened #16400 "error: no profile data available for file "stacklevelsetter.cpp""
Opened on behalf of @jcagme

Warnings: 5
Status Message: failed

Build : Master - 20180215.01 (Product Build)
Failing configurations:
- Linux
  - Release-x64
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/build~2Fproduct~2F/build/20180215.01/workItem/Orchestration/analysis/external/Link)

[2018-02-15 18:03] sandreenko commented on #16400
@jcagme I can't find any details about this error, does it affect only centos build?
"stacklevelsetter.cpp" was added yesterday, but it was included in necessary cmake files. Was something missed?

[2018-02-15 18:05] jkotas commented on #16399
This issue was moved to dotnet/corefx#27165

[2018-02-15 18:05] #16399 closed

[2018-02-15 18:06] jkotas commented on #16397
This issue was moved to dotnet/cli#8622

[2018-02-15 18:06] #16397 closed

[2018-02-15 18:11] jkotalik opened #16401 "Unhandled exception from DllImportCallback.cpp::TheUMEntryPrestubWorker when doing native interop after hostfxr_main returns"
Hi, I am currently running into an Unhandled exception from the coreclr when doing native/managed interop. Here are the steps I am preforming.

1. From a native module, I load hostfxr.dll and call hostfxr_main.
2. Managed code has callbacks into native via DllImport, as well as callbacks from native into managed via function assignment.
3. Interop occurs and then managed code exits, causing hostfx

[2018-02-15 18:15] jcagme commented on #16400
@sandreenko thanks for looking at this. The reason you cannot look at details about this failure is because this happened on our private internal build. @RussKeldorph could you please look at this?

[2018-02-15 18:20] sandreenko commented on #16400
As I have found in #13655 the issue will go away in 24 hours.

[2018-02-15 18:31] sdmaclea opened #16402 "[Arm64/Ubuntu] Crossgen of Microsoft.CodeAnalysis.CSharp.dll fails"
Spending 93% of time in `HashMap::Rehash()`

[2018-02-15 19:42] fiigii commented on #16343
I will get some progress on this work at next week (2/20).

[2018-02-15 21:19] lt72 commented on #16193
@davmason: Assigning to David for execution on 2.1 first.

[2018-02-15 22:47] sdmaclea commented on #16402
Primary Issue
+ Many AssemblySpecs with the same key are being inserted into a HashMap.
+ These were treated as different because, `BaseAssemblySpec::CompareEx()` call to `AreSameBinderInstance()` returned false if both binder instances were null.  Which they were.

Secondary issues
+ Assembly spec key does not include binder context.  The could cause non-uniform HashMap distribution.
`HashMap::Re

[2018-02-15 23:12] AndyAyersMS commented on #11318
It's been a while -- do we think this is still an active issue? Can anyone repro this with latest bits?

[2018-02-15 23:14] #16236 closed

[2018-02-15 23:14] redknightlois commented on #15506
@fiigii Just to let you know that we have put the ```PREFETCH``` instruction to the test already ;)

![image](https://user-images.githubusercontent.com/1045411/36285883-16efdd2a-128c-11e8-9637-b108270298db.png)

Interestingly enough, it appears we are running as fast as we can.

![image](https://user-images.githubusercontent.com/1045411/36286038-ad4c051e-128c-11e8-9037-bcc8da5e994b.png)

Unless of

[2018-02-15 23:24] fiigii commented on #15506
@redknightlois Thank you so much for the data. I will implement AVX/SSE4.1 TestZ as soon as possible (probably after next week).

[2018-02-15 23:33] tannergooding commented on #5025
This is being implemented as part of the Hardware Intrinsics work.

`Sse.Prefetch0`, `Sse.Prefetch1`, `Sse.Prefetch2`, and `Sse.PrefetchNonTemporal` will all be available when the feature ships.

[2018-02-15 23:33] tannergooding commented on #15506
@redknightlois, was this using the `Sse.Prefetch` instruction?

[2018-02-15 23:37] noahfalk commented on #16387
I'd expect with some work you should be able to get rid of everything you find in the CodeHeader: the jitted code, EHInfo, GCInfo, and DebugInfo.

LCG doesn't currently delete EHInfo, GCInfo, or DebugInfo and the comments in the code don't give any rationale why not. Its possible this was just an optimization the original authors didn't get time to implement or maybe there are thornier technical p

[2018-02-15 23:38] tannergooding commented on #5025
@sdmaclea might be able to comment as to whether or not ARM will be exposing similar APIs.

There might still be a remaining work item to expose a general-purpose API that wraps the various platform-specific hardware intrinsics.

If such an API were to be exposed it, at a minimum, would need to specify that the call may do nothing (which is already what the x86 Prefetch instructions specify) and t

[2018-02-16 00:24] redknightlois commented on #15506
@tannergooding yes a mixture of prefetches to L3 from DRAM and per loop prefetching 256 bytes ahead.

[2018-02-16 01:01] sandreenko opened #16411 "[RyuJit] delete code that tracks stackLevel in morph."
It became unnecessary after adding StackLevelSetter phase #15597.

It is still used by legacy_backend, so this issue is postponed until legacy_backend is deleted.

category:implementation
theme:jit-coding-style
skill-level:intermediate
cost:small

[2018-02-16 01:53] RussKeldorph commented on #16400
Reactivate if it doesn't go away on its own.

[2018-02-16 01:53] #16400 closed

[2018-02-16 03:02] BruceForstall commented on #16122
This bug is occurring due to an unfortunate interaction between a workaround for an ancient bug, and code generated by the current C# and RyuJIT compilers.

When the VM goes to raise a Thread Abort, it checks to make sure that a thread is in a "good" place to do so. It doesn't want to raise a Thread Abort if the thread is currently executing a "finally" (or "fault") exception handling clause. So,

[2018-02-16 03:39] BruceForstall commented on #16122
Note the legacy Jit (JIT64) passes both the old C# and Roslyn C# tests because it optimized away the NOP. So it kind-of passes by accident.

Also note that while the C# compilers now (and for a long time) have used the new lock generation pattern, the old Monitor.Enter API exists, and in fact the documentation for it gives many examples of the bad pattern that could lead to a lock leak in the asyn

[2018-02-16 04:35] VSadov commented on #16122
One thing worth mentioning - C# compiler is still technically capable to emit pre-4.0 lock pattern.
See: https://github.com/dotnet/roslyn/blob/47280ccb9e7f781210cae5ce29694ac3411582c8/src/Compilers/CSharp/Portable/Lowering/LocalRewriter/LocalRewriter_LockStatement.cs#L135

That would happen when compiling against runtime that does not have the required `Monitor.Enter` API with the `lockTaken` para

[2018-02-16 09:18] jkotas commented on #16387
LCG does delete EHInfo and GCInfo.

[2018-02-16 09:51] ahsonkhan commented on #16400
The build is still failing (consistently).

[code]

Hopefully the issue will be resolved soon.
cc @adiaaida

[2018-02-16 09:56] noahfalk commented on #16387
Sorry, I misspoke. I should have said LCG doesn't delete those things at the same time it deletes the code, and the comments don't say why the delete is being delayed, only that it is:

https://github.com/dotnet/coreclr/blob/master/src/vm/codeman.cpp#L3169

        FreeCodeMemory(pHeap, codeStart);

        // We are leaking GCInfo and EHInfo. They will be freed once the dynamic method is destroye

[2018-02-16 09:58] sergign60 commented on #16387
@noahfalk @jkotas Thanks!

[2018-02-16 11:10] Buyduck commented on #11318
@AndyAyersMS Yes, it's still active, but we found out reason: https://github.com/dotnet/coreclr/issues/15074
So addressed to that issue, current issue, probably, could be closed too.

[2018-02-16 13:34] janvorli commented on #13560
I am working on the implementation.

[2018-02-16 15:53] adiaaida commented on #16400
We generated new profile data around 12:12am this morning. As soon as #16339 is checked in, this should resolve itself.

[2018-02-16 17:20] sdmaclea commented on #16358
Confirmed this is fixed

[2018-02-16 17:20] #16358 closed

[2018-02-16 17:21] #15156 closed

[2018-02-16 17:47] weshaggard commented on #16400
That change was merged so I queued another CoreCLR build https://devdiv.visualstudio.com/DevDiv/Net%20CoreFX/_build/index?definitionId=1832&_a=completed which should succeed. If not I will reactive this issue.

[2018-02-16 18:16] AndyAyersMS commented on #16312
Looks like this repros on 4.7.2055.0 and is fixed at 4.7.2538.0. Still looking into which change lead to the fix.

[2018-02-16 19:48] tannergooding opened #16421 "Fix some misleading names/groups in the JIT"
There are a number of names in the JIT that are listed as `SSE4` but which actually just control whether the instruction or phase supports the 4-byte instruction encoding.

These names should be cleaned up to more accurately represent their purpose.

This includes `SetUseSSE4`, `FIRST_SSE4_INSTRUCTION`, `LAST_SSE4_INSTRUCTION`, and `canUseSSE4`, but there may be others.

[2018-02-16 19:48] tannergooding commented on #16421
FYI. @CarolEidt

[2018-02-16 20:45] davmason commented on #11514
#16020
#16120

[2018-02-16 20:45] #11514 closed

[2018-02-16 21:45] AndyAyersMS commented on #11318
@sdmaclea thoughts? Could this just be a "please use a newer version of clang" thing?

[2018-02-16 23:40] AndyAyersMS commented on #16377
This is a jit assert...

cc @dotnet/arm64-contrib

[2018-02-16 23:42] AndyAyersMS commented on #16322
@4creators is this something we can close now? Sounds like you're going in a different direction.

[2018-02-16 23:46] AndyAyersMS commented on #16329
@4creators is this something we can close now? Sounds like you're going in a different direction.

[2018-02-17 00:05] #12009 closed

[2018-02-17 00:10] tannergooding opened #16424 "Implement the SSE3 and SSSE3 Hardware intrinsics"

[2018-02-17 00:10] tannergooding commented on #16424
Tracking the required implementation and self-assigning.

[2018-02-17 00:11] tannergooding commented on #16424
FYI. @CarolEidt, @fiigii

[2018-02-17 00:11] tannergooding commented on #16424
Implementation is here: https://github.com/dotnet/coreclr/pull/16425

[2018-02-17 02:36] tomspilman opened #16427 "Possible bug in ValueType.GetHashCode() for fields smaller than 4 bytes"
I found the results of `GetHashCode()` odd for a struct i was testing:

 https://dotnetfiddle.net/BTgRga

The reason i get these results seem to be coming from this line:

 https://github.com/dotnet/coreclr/blob/master/src/vm/comutilnative.cpp#L2129

It does `(INT32)(fieldSize / sizeof(INT32))` when `fieldSize` is less than 4 is 0 which results in no hash contribution for the field.

While this is

[2018-02-17 08:42] danmosemsft commented on #16427
Same in FastGetValueTypeHashCodeHelper

[2018-02-17 08:45] tomspilman commented on #16427
@danmosemsft - Yes in the case of a struct that is tightly packed and is less than 4 bytes in size....
  `FastGetValueTypeHashCodeHelper` would return 0.

[2018-02-17 14:04] steveharter commented on #16401
@jkotalik do you expect any sort of exception when closing the process?

Also I am still concerned that we are compiling hostfxr.dll and hostpolicy.dll with /EHa instead of /EHsc. This is still unresolved from previous discussions. Based on this I believe native exception or managed exceptions (which get converted to native) can't be caught from your native module.

[2018-02-17 16:15] #16402 closed

[2018-02-17 16:29] pharring commented on #2478
I have a repro of this on desktop CLR, both x86 and x64 (clrjit.dll 4.7.2633.0)
Compile the following file with `csc /optimize+` and run it.
It will print "Finalizing a non-constructed object?!"

[code]

@AndyAyersMS investigated and asked me to file the repro here.
He said:

[code]

When optimizing we evaluate the constructor arguments in the space in between. If one of those argument evaluations

[2018-02-17 17:10] AArnott commented on #13490
I just hit this myself while getting VS MEF tests running on netcoreapp2.0 as it caused tests to fail that passed on netcoreapp1.0.
I can workaround it now that this and the linked issue documents that this is by design and suggests the workaround. But thought I'd +1 that this was a small stumbling block, and unexpected since no other runtime seems to have this behavior.

[2018-02-17 17:40] lt72 commented on #10148
Moving to future and marking as tracking-external-issue, as this issue should be solved through #16280.

[2018-02-17 17:41] lt72 commented on #16280
Moving to future and marking as tracking-external-issue, as this issue should be solved through #16280.

[2018-02-17 20:24] AndyAyersMS commented on #16312
Generated code for `QuickSort` is slightly different between 4.7.2055.0 and 4.7.2538, with the former feeding the first recursive call with an updated `left_i`.

Still haven't found the exact change that fixed this issue. While it would be nice to pin that, down it requires either a flash of intuition or more time than I can spend bisecting. So am going to close this one out.

[2018-02-17 20:24] #16312 closed

[2018-02-17 21:57] AndyAyersMS commented on #2478
Took a fresh look. With a fix similar to the ones considered above I get:
[code]

[2018-02-18 01:10] benaadams commented on #10293
String version removed in https://github.com/dotnet/coreclr/pull/16434 and `ReadOnlySpan<char>` version used instead which removes the double `IsAscii` test in preference for the `CompareInfo.CompareOrdinalIgnoreCase` ascii fast-path

[2018-02-18 06:14] perlun opened #16438 "libc++abi.dylib: terminating with uncaught exception of type EEFileLoadException"
Hi,

I'm seeing occasional crashes like this, when running a simple .NET Core 2.0 app using the [MyCouch](https://www.nuget.org/packages/MyCouch/)  NuGet package for inserting data into CouchDB (a NoSQL database). As can be seen in the stack trace for thread 9, the last coreclr-related line is this:

I debugged this a bit and the failure is caused by this code:

[code]

The number of rows here is

[2018-02-18 16:57] AndyAyersMS commented on #2478
[Source for](https://github.com/Microsoft/perfview/blob/master/src/TraceEvent/Parsers/ApplicationServerTraceEventParser.cs#L6547) the method with the largest regression.

The code size growth seems to come largely from the static struct access in each call -- the static value is now fetched before the allocation and then spilled to a temp.

That observation leads to a perhaps amusing (or alarming)

[2018-02-18 17:28] #15037 closed

[2018-02-19 00:38] benaadams opened #16441 "Suggestion: NUMA aware ThreadPool"
May need affinitized threadpool threads?

Also preference for stealing from NUMA node first before stealing from another NUMA node.

Would it need a global queue per node? Should it still have a cross NUMA node global queue?

[2018-02-19 00:47] Drawaes commented on #16441
To add to this, I think there could be a huge difference in perf. Already you allocate memory in your numa node (if running the GC in numa aware which is default I believe). So if you are work stealing doesn't it make sense to try to get data locality. Not just cache locality but actual DIMMS which can have a 20-30% impact for reading through.

There is a function that was added

https://github.co

[2018-02-19 00:55] Drawaes commented on #16441
So the search code might look something like

Search my local queue
Search my numa global queue
Search other numa global queues
Worksteal from my numa node threads
Worksteal from all the rest of the node threads

Of course tuning and testing would need to be done to check if/howmuch it helps.

[2018-02-19 03:38] redknightlois commented on #15506
We are still not there yet, but @zpodlovics comment on thread: https://github.com/dotnet/coreclr/issues/916#issuecomment-366562117 is also true for us. I mentioned @fiigii out-of-band that we are looking into that particularly in the mid-term but makes sense to make it explicit here too.

[2018-02-19 05:25] omariom commented on #16441
When we publish a work item to the thread pool how do we know if the memory the item is going to touch is of the same node as the TP thread which is going to execute it?

[2018-02-19 09:57] sergign60 commented on #15309
@BruceForstall I see in comments ```LEGACYJIT_GCSTRESS_FAIL```. Could you tell, does it mean that CoreCLR on windows-arm uses LEGACY JIT?
CC: @dotnet/arm32-contrib

[2018-02-19 10:40] janvorli commented on #16441
cc: @kouvel

[2018-02-19 10:48] Drawaes commented on #16441
@omarion You can't be sure (not without a big perf hit) that all the data is local. However like what you hope is that by keeping tasks as close to the physical location they were created that on average you will get better locality.

If you had to be "certain" then what's the point of the local/global queues in the first place?

As with all things you are relying on the law of large numbers to gi

[2018-02-19 11:11] benaadams commented on #16441
Was thinking, when queuing work from the ThreadPool to the ThreadPool it should add it to the NUMA node queue (or local thread queue depending on options); so there would be a tendency to prefer the node's data (if the queuing thread generated data that was then used)

For dedicated thread queuing to ThreadPool, not sure. Also are questions of fairness that having NUMA queues vs single global queu

[2018-02-19 11:52] janvorli commented on #15119
I got back to check how we can prevent this issue, but it is strange - the failing code is executed only if the init_count is set to 0 in the `Initialize` function in pal.cpp. So multiple calls to PAL_Initialize are protected and if coreclr_shutdown is called, which leads to PAL_Shutdown call, the current process is shut down.
@TheLastRar what was the sequence of actions that lead to the assert yo

[2018-02-19 12:13] janvorli commented on #15934
@nbilling I am sorry for not responding earlier. The purpose of the PAL_STDCPP_COMPAT is to exclude usage of PAL functions that would otherwise conflict with functions defined in the Unix platform headers.
Looking at the _wcstoui64, it is a Windows specific function, so it should not be under that ifdef in pal.h and it should be moved after the line. https://github.com/dotnet/coreclr/blob/84efbc8e

[2018-02-19 12:15] svick commented on #16441
Assuming NUMA-aware `TheadPool` makes sense, should the NUMA-queue be exposed as an API, similar to what https://github.com/dotnet/corefx/issues/12442 does for the local queue? If yes, would it make sense to postpone https://github.com/dotnet/corefx/issues/12442 so that it's not included in .Net Core 2.1 and reconsider how the API should look like with NUMA support?

The situation that I think sho

[2018-02-19 12:34] benaadams commented on #16441
`preferLocal` in  dotnet/corefx#12442  was chosen for its vagueness :)

[2018-02-19 13:32] TheLastRar commented on #15119
The code that calls coreclr_initialize and coreclr_shutdown (along with any calls to managed code) is contained within a library/plugin. (the program using my plugin does not use coreclr directly)

The issue occurs when a program unloads and then reloads the plugin.

[2018-02-19 15:25] jkotas opened #16442 "AssemblyLoadContext.Default.Unloading not triggered when using Windows Containers"
_From @MichaelSimons on January 9, 2018 22:38_

@benjaminpetit commented on [Thu Jan 04 2018](https://github.com/dotnet/dotnet-docker/issues/354)

In order to shutdown properly, our app needs to be notified.

Using the Linux container we rely on `AssemblyLoadContext.Default.Unloading`, and works fine. But it seems that this event is not triggered and our app is killed almost instantaneously.

Prog

[2018-02-19 15:25] jkotas commented on #16442
_From @karelz on January 10, 2018 0:21_

Is it a problem of just a specific Linux container? Or how else should I understand the comment above "Works fine using Linux containers".

[2018-02-19 15:25] jkotas commented on #16442
@karelz Looking at the issue title, this is about Windows containers.

The Unloading event is delivered during graceful shutdown only. It is not delivered when the process is terminated ungracefully.

Linux containers receive SIGTERM signal when they are stopped. We treat SIGTERM signal as graceful shutdown and deliver the unloading event. https://github.com/dotnet/coreclr/issues/7394 has more con

[2018-02-19 15:25] jkotas commented on #16442
_From @benjaminpetit on January 11, 2018 17:10_

Any workaround that we could implement ourself to get notified when the container should stop?

We really can't use Windows container until we have a solution for this.

[2018-02-19 15:25] jkotas commented on #16442
_From @karelz on January 11, 2018 17:54_

The question is how a native (C/C++) application on Windows would get the notification. Once you know that, you can PInvoke into the same OS APIs and we could implement it in CoreCLR as well.

[`docker stop` documentation](https://docs.docker.com/engine/reference/commandline/stop/) does not say what it does on Windows. I have found only some hints [here](h

[2018-02-19 15:25] jkotas commented on #16442
https://gist.github.com/darrenstahlmsft/fbb80c265dcfd1b327aabcc0f3554e56 shows how to handle shutdown notification in Windows containers.

[2018-02-19 15:29] jkotas commented on #16442
The fix should be similar to #4309. Use SetConsoleCtrlHandler instead of Linux signal handlers.

We should understand backward compatibility issues that fixing this on Windows may introduce.

[2018-02-19 17:28] antonfirsov opened #16443 "`Vector2.Equals()` returning incorrect result, when nested + optimization disabled"
### Symptom
On my machine `Vector2.Equals(Vector2 other)` returns false negatives when the following conditions are met:
- `Vector2` is nested into another struct on the stack
- Optimization is disabled (eg: a Debug build)
- Running on RyuJIT runtime, having `Vector.IsHardwareAccelerated == true`

I do not experience this issue with `Vector3` or `Vector4`.

### System configuration
- CPU: Intel® C

[2018-02-19 17:36] BruceForstall commented on #15309
No, CoreCLR on Windows ARM32 uses RyuJIT now. The `LEGACY_BACKEND` path (aka legacy jit) was used by default until December. And the CI can still test it using the "armlb" jobs. But we will remove it eventually, hopefully soon.

[2018-02-19 17:41] BruceForstall commented on #15309
For Windows, tests that are incompatible with GCStress can be marked `GCSTRESS_EXCLUDE` in the Categories list for a test in tests\arm\tests.lst. Tests that are currently failing can be marked `GCSTRESS_FAIL` (with an associated GitHub issue tracking the failure).

These failures are most likely VM issues, or test issues, not JIT issues.

[2018-02-19 17:59] mikedn commented on #16443
Hrm, it looks like the JIT uses `movups` to load `Vector2` values from local variables and thus ends up with 8 bytes of data and 8 bytes of garbage:
[code]

[2018-02-19 23:51] jamesqo commented on #7369
@danmosemsft I probably won't have the time since I've been pretty busy lately. You can mark this 'up for grabs' so other contributors can take it up if they're interested.

[2018-02-19 23:57] danmosemsft commented on #7369
@jamesqo that's fine, just wanted to give you first dibs. Let me know if there's other kinds of work you're interested in and I can keep my eyes open. Eg., we are working on [regex perf ](https://github.com/dotnet/corefx/issues/27124) right now.

[2018-02-20 02:08] #16443 closed

[2018-02-20 02:27] sdmaclea opened #16446 "[Arm64] CompareExchange/Exchange `Object`/`IntPtr` needs to mark card tables et. al."
The following interlocked methods are not updating GC card tables when writing objects/pointers
[code]

It is not clear to me why this is not a problem for other platforms.

To get this to work, I think we need a helper like JIT_WriteBarrier which does not write, but only updates the GC card tables and associated structures.We also may need to make the write to marking GC tables non-interruptible.

[2018-02-20 03:24] mikedn commented on #16446
`IntPtr` overloads have nothing to do with GC, `IntPtr` is basically an integer. `Object` overloads should already call native functions such as https://github.com/dotnet/coreclr/blob/e3562c9bcc92ec04eec97cf1a945e7ea6d5234d2/src/vm/comutilnative.cpp#L1810
These do have write barriers.

[2018-02-20 03:51] sdmaclea commented on #16446
Thanks @mikedn
So
`
        97FFE334          bl      System.Threading.Interlocked:CompareExchange(byref,ref,ref):ref
`

Is actually a call to `COMInterlocked::CompareExchangeObject` because of
[code]

[2018-02-20 03:52] #16446 closed

[2018-02-20 05:29] danmosemsft commented on #14037
@sywhang were you planning to do this one also? It seems this would be very useful to some folks.

[2018-02-20 05:29] danmosemsft commented on #14037
@lakeman

This sholud be fixed in 2.1

[2018-02-20 06:02] danmosemsft commented on #14867
Now dumps just
[code]

[2018-02-20 06:05] danmosemsft commented on #14867
@sywhang the output now has excess newlines as you see above. Are you planning to fix that? I see you put up https://github.com/dotnet/coreclr/pull/16265 but canceled it.

[2018-02-20 06:06] danmosemsft commented on #15203
Using the code below I get just
[code]
Problems
1) FailFast appears twice.
2) Exception and inner exception are not shown.

[code]
@sywhang I tihnk this one is important to fix as this can be critical diagnostic informatoin. Do you have time to pick this one up?

[2018-02-20 13:26] alpencolt opened #16449 "[ARM/Linux] Thread.Name behavior"
I'm trying to set `Thread.Name` before thread is being started. But it doesn't work this way, I can change `Name` only from created thread. Please look to sample:
[code]

Is this code correct or there is bug? Used commit:
[code]
cc @dotnet/arm32-contrib

[2018-02-20 15:25] stephentoub opened #16450 "Span tooltip displays error while debugging"
![image](https://user-images.githubusercontent.com/2642209/36432450-3bc24814-1628-11e8-9c31-87c722c61582.png)

cc: @ahsonkhan

[2018-02-20 15:29] brianrob commented on #16388
@kbaladurin thanks for reporting this.  We do not want to use a lock in EventPipe::Enabled as that would have a significant performance impact on the entire process even with tracing off, and we want the cost of Enabled checks to be very small.

This is probably worth fixing as part of #11559 since the boolean that gets checked today will be replaced with a different check to see if the provider/k

[2018-02-20 16:45] RussKeldorph commented on #16366
@noahfalk

[2018-02-20 16:46] RussKeldorph commented on #16369
@noahfalk

[2018-02-20 16:52] RussKeldorph commented on #16438
@kouvel Please change area- label if Threading isn't correct.

[2018-02-20 17:04] redknightlois commented on #15506
@fiigii With the prefetch instruction we should provide a way to know the stride and that the JIT would convert that value straight into a constant when using it.

[code]
Source: https://www.intel.com/content/dam/www/public/us/en/documents/manuals/64-ia-32-architectures-optimization-manual.pdf

[2018-02-20 17:24] tannergooding commented on #15506
@redknightlois, I think it might be generally useful to expose access to CPUID (via hardware intrinsics) so that users can make queries about the system directly and so we don't need to worry about exposing an API for each bit added in the future (C/C++ commonly provide a CPUID intrinsic themselves).

[2018-02-20 18:22] lt72 opened #16453 "Create release/uwp6.1 branch from release/uwp6.0"
New branch should be created from release/uwp6.0 HEAD

[2018-02-20 18:48] RussKeldorph commented on #16453
[Done](https://github.com/dotnet/coreclr/tree/release/uwp6.1)

[2018-02-20 18:48] #16453 closed

[2018-02-20 18:49] ionuttamas commented on #16427
@tomspilman the same issue is by replacing `char `with `byte`.

[2018-02-20 18:59] lt72 commented on #16449
@kouvel PTAL

[2018-02-20 19:01] lt72 commented on #16369
@bobuva: we have not scheduled yet creating a proper SDK for the Debugging and Profiling API. We are considering this work for the release after 2.1 (likely sometimes at the end of 2018), but there is not committed work item yet.

[2018-02-20 19:06] lt72 commented on #16366
@bobuva: yes, we have considered the issue, but we do not believe we will proceed to design/implementation any time soon. Although this is definitely on our TODO list, we did not have many concrete requests on this subject yet.

[2018-02-20 19:24] sandreenko opened #16454 "[RyuJit/R2R/MinOpts] JIT\Regression\JitBlue\GitHub_12949\GitHub_12949_8: Consistency check failed"
[Ci example for amd64](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_r2r_jitminopts/), [ci example for arm32 ](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_r2r_jitminopts_tst_prtest/7/).

Part of #15552.

Test output:
[code]

[2018-02-20 19:24] sandreenko commented on #16454
cc @dotnet/jit-contrib

[2018-02-20 19:36] mikedn commented on #16210
@AndyAyersMS Maybe three cases?
[code]
generates
[code]
Should we fix this as well?

[2018-02-20 19:58] kouvel commented on #16449
I'm suspecting that the thread instance the name is set on is not the same as the thread instance returned by CurrentThread, which should not be the case, would you be able to verify if that's the issue? It seems to be working on x64 Windows/Linux, for now I have added similar tests that were missing in CoreFX and put it on the CI to see if it fails anywhere.

[2018-02-20 20:35] redknightlois commented on #15506
@tannergooding While I agree, there is a performance angle why certain ```constants``` would be pretty useful to continue being constants for performance purposes.

[2018-02-20 20:35] #16338 closed

[2018-02-20 20:35] AndyAyersMS commented on #16210
Seems like perhaps we should.

The trouble arises here as we don't realize the indir can read beyond the field:
[code]
Trying to catch this via lookahead from `GT_IND` seems somewhat clunky, but perhaps it will work out ok.

But it seems like we perhaps should extend the AXC stack to include offset and width (both of which can be unknown) and stop relying so much on lookahead for this and other ca

[2018-02-20 20:35] jeffschwMSFT commented on #15331
The volume of this issue is so low that requesting additional heap dumps has not yielded an actionable heap dump (only prior to RS3 - which is missing key details).  This looks 100% related to a desktop profiler injecting mscorlib references to System.Private.CoreLib which is not supported.

[2018-02-20 20:35] #15331 closed

[2018-02-20 20:39] mikedn commented on #16210
Yep, I'm trying to do just that.

[2018-02-20 21:12] sywhang commented on #14867
@danmosemsft I noticed some issues with this, along with ```Contract.Assume()```. I'm currently working on a fix. Thanks for the heads up.

[2018-02-20 21:20] sywhang commented on #15203
Hey @danmosemsft,
I can probably start tackling this along with the fix I'm working on for the issue you brought up in #14867.

[2018-02-20 21:21] bobuva commented on #16366
@lt72 Thanks for the reply. Although you haven't seen many requests, there are in fact products on the market that use the profiler API. Attempting to have another profiler api-based tool reside side-by-side with one of them is currently impossible. I would be interested in continuing to speak to whomever is keeping an eye on that item.

[2018-02-20 21:22] bobuva commented on #16369
Great, thanks for the reply!

[2018-02-20 21:22] #16369 closed

[2018-02-20 21:28] danmosemsft commented on #15203
Thanks @sywhang . I would like to try hard to get these into 2.1 because it makes the product more supportable (and self supportable). Please let me know if it looks like you won't be able to get them in. Appreciate it.

[2018-02-20 21:39] danmosemsft commented on #14867
Thanks @sywhang .

[2018-02-20 21:52] lt72 commented on #16366
That would me either myself or @noahfalk

[2018-02-20 22:03] noahfalk opened #16456 "Potential stress failure when using multi-core JIT"
This is to track the issue reported here: https://github.com/dotnet/roslyn/issues/23846

Given that all the relevant history remains in 23846 I plan to use that one for discussion and this bug is primarily for tracking purposes.

[2018-02-20 22:28] janvorli commented on #13560
Moving to future as it is much lower priority than other 2.1 stuff.

[2018-02-20 22:47] sywhang commented on #16061
I'm having a hard time repro'ing this issue locally (even with using the same seed values)... I'll open up a fake PR to get the CI to run and use the repro tool to investigate further.

[2018-02-20 23:27] kouvel commented on #16438
From the info here it looks like thread 9, where the exception occurred, failed to load an assembly. This would typically result in a FileNotFoundException or similar. There doesn't seem to be any obvious relevance to the code above. @perlun, I suspect on thread 9, whatever those managed frames are, that there is no catch block that would otherwise catch the managed exception. If you have a repro

[2018-02-20 23:34] fiigii opened #16458 "Implement SSE4.1 hardware intrinsics"
I will implement all the SSE4.1 intrinsics.

This is a subset of https://github.com/dotnet/coreclr/issues/16270.

cc @CarolEidt @tannergooding

[2018-02-21 00:17] danmosemsft opened #16460 "Mixed mode attach does not work"
@mikem8361 is investigating.

[2018-02-21 01:36] tannergooding commented on #16270
@fiigii, @CarolEidt, @eerhardt, @RussKeldorph  we should set up some time to discuss the API shape for the SSE42 intrinsics.

They currently take a `ResultsFlag` parameter, but the flags are a result written by the instruction rather than an input to them.

However, I'm also not sure we want to be returning an enum that represents the current flag state, as that makes the instructions unnecessaril

[2018-02-21 01:40] tannergooding commented on #16458
@fiigii, could you providing some insight on why it was chosen to "explode" the Round instruction for Sse4.2, rather than allow direct input of the rounding control?

It seems like we are unnecessarily taking away some of the power of these intrinsics (and don't have a prior art for this, since it isn't done in C/C++)

[2018-02-21 01:44] Petermarcu opened #16462 "dotnet core application aborts without exceptions"
@pavlexander commented on [Wed Feb 14 2018](https://github.com/dotnet/core/issues/1268)

# Issue Title

.net core 2 console application stops execution and quits without providing any kind of exception messages, except short notice "**Aborted**"

# General

The issue is only reproducible on Linux, but not Windows.

System:

- Linux: **Debian 9, x64 bits**
- dotnet --version: **2.1.3**
- compiled o

[2018-02-21 01:53] Petermarcu opened #16463 "How to deal with Stack Overflow exception error? (in Linux)"
@roozbehid-ic commented on [Tue Feb 06 2018](https://github.com/dotnet/core/issues/1257)

I have a very large project consisting of C++ projects and C# projects.
They build and run fine on Windows 10, using .Net Core 2.0 and Visual Studio 15.5.6.
Running them on Linux (GCC 5.4.0) also works fine for few minutes then I get Stack overflow exception.

I tried to debug it with GDB and VSDBG (Managed p

[2018-02-21 02:27] fiigii commented on #16458
Do you mean Round instruction for **Sse4.1**? I thought `round` just has a few of combination imm-inputs, which is a good opportunity to provide more readable and stable (no jump-table-fallback/out-range-exception to surprise users).
SSE/SSE2 compare and SSE4.1/AVX ceiling/floor also adopt this design.

[2018-02-21 02:36] fiigii commented on #16270
I do not think the `ResultsFlag` is a result. We just use this flag to select the results that we want.
C++ fixes these flags in the function names, and the current .NET Core intrinsics take it as a parameter to avoid exploding APIs.

[2018-02-21 02:38] tannergooding commented on #16458
`Ceiling` and `Floor` are just helper intrinsics for a very specific `round` encoding.

Right, but we are currently missing half the cases. There is a "Current" and 4 explicit rounding modes (all 5 of these are covered), but also a bit which controls how certain inputs are handled and whether or not an exception is thrown for the "imprecise" rounding case.

![image](https://user-images.githubuserc

[2018-02-21 02:43] tannergooding commented on #16270
C++ fixes these flags in the function names, and the current .NET Core intrinsics take it as a parameter to avoid exploding APIs.

That is very non-obvious. It also includes flags that are always reset by the instructions which leads to other confusion as well.

[2018-02-21 03:20] fiigii commented on #16458
Oh, we do not have combinations of `_MM_FROUND_RAISE_EXC`!
Intel intrinsic guide does not explicitly mentions it. What do you think of that?  Shall we expose `_MM_FROUND_RAISE_EXC` as well?

[2018-02-21 03:36] sdmaclea opened #16465 "[Arm64/Unix] Release 2.1 regression"
591459f3 caused the following tests to regress on the release/2.1 branch

[code]

Representative errors:
[code]
[code]
[code]

[2018-02-21 03:36] sdmaclea commented on #16465
@eerhardt @tannergooding @jkotas @CarolEidt FYI.  This is probably not Arm64 only.

[2018-02-21 08:51] tomspilman commented on #16427
Yes it occurs with any type less than 4 bytes.

[2018-02-21 10:07] RickZeeland opened #16469 "Versioning multiple projects"
Can anyone tell me if it is possible to use the old trick with one _versioninfo.cs_ file linked to multiple projects in .NET Core and .NET Standard.
If not possible, it would be nice if this feature was added, this would save us a lot of work in a solution with hundreds of projects.
See article here for an explanation: [https://www.codeproject.com/Articles/18302/How-to-Keep-Your-Sanity-and-Multipl

[2018-02-21 10:31] alpencolt commented on #16449
`Main()` function is incorrect. Sorry my mistake.

[2018-02-21 10:31] #16449 closed

[2018-02-21 12:30] Joe4evr commented on #16469
Your link isn't linking right.

But for that, it's better to use a `Common.props` file:
[code]
Then in your .csproj, add `<Import Project="..\..\Common.props" />` right after the `<Project>` element opener.

[2018-02-21 12:37] RickZeeland commented on #16469
Thanks a lot for your speedy reply, gonna give it a try !
Here is the link again: [CodeProject](https://www.codeproject.com/Articles/18302/How-to-Keep-Your-Sanity-and-Multiple-Projects-Vers)

[2018-02-21 13:47] sergign60 commented on #15309
@BruceForstall
CC: @dotnet/arm32-contrib
I've found that on arm platforms only two following tests fail from https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_gcstress0x3_tst_prtest/5/artifact/bin/tests/Windows_NT.arm.Checked/Smarty.run.0/Smarty.0.fail.smrt/*view*/

``` objmonhelper``` and ``` smalloom```. They hang for vaguely long time.

[2018-02-21 13:57] airbreather opened #16470 "InvalidProgramException in Release configuration when initializing a type using values derived from struct element of ReadOnlySpan<T>"
I came across this when writing a Ramer-Douglas-Peucker line simplification method, and tests started failing only when run in a Release configuration.  I managed to get a pretty small repro for it.

# Program.cs
[code]

# App.csproj
[code]

# Details
This occurs both when running from within Visual Studio, and when running `dotnet run -c Release` from within the folder that contains the two files

[2018-02-21 15:14] sdmaclea opened #16471 "[Arm64/Ubuntu] GCStress = 0x4/0x8/0xC/0xF Regression"
I am seeing ~10K new GCStress failures on a231c3a.  Problem did not exist on 5d023ebe

Looking at the logs, I would guess this was introduced by #16384

I would guess this is not Arm64 or Ubuntu specific.

@jkotas @janvorli @mlabiuk
@dotnet/jit-contrib @dotnet/arm64-contrib

[2018-02-21 15:38] mlabiuk commented on #16471
Could you provide logs and how to reproduce test? Link to CI build?

[2018-02-21 16:12] danmosemsft commented on #16470
@ahsonkhan

[2018-02-21 16:26] sdmaclea commented on #16471
This is my the log from
`JIT/CodeGenBringUpTests/Add1/Add1.sh`
[code]

You should be able to reproduce locally by setting one of:
`export COMPlus_GCStress=F`
`export COMPlus_GCStress=C`
`export COMPlus_GCStress=8`
`export COMPlus_GCStress=4`

The assertion above typically indicates that the GC either:
+ Moved an object without finding and updating all the references to the object
+ Deleted an obje

[2018-02-21 16:30] 4creators commented on #16458
IMO we should expose all of them

[2018-02-21 16:36] sdmaclea commented on #16471
You should be able to trigger an x64 gcstress=0xc CI run with something like
`@dotnet-bot test Ubuntu x64 Checked gcstress0xc`

[2018-02-21 16:41] janvorli commented on #15542
@iSazonov I have finally got time to look into this issue. I am sorry it took so long. So here are my notes.
I have used the following code for testing:
[code]
* I can repro the issue on OSX - the code above can do only about 100 iterations.
* PowerShell uses .NET Core 2.0.x runtime. That runtime version doesn't have the  COMPlus_DefaultStackSize override implemented.
* On OSX, I have built the de

[2018-02-21 16:43] AndyAyersMS commented on #16470
Thanks for the report. This causes an exception within the jit. Doesn't seem to repro in master. but does in dotnet preview1-25915-01, so seems like something we've fixed fairly recently.

We'll take a deeper look. cc @dotnet/jit-contrib
[code]

[2018-02-21 17:00] mikedn opened #16472 "fgMarkAddressExposedLocals issue with wider indirs"
If the address of a struct field is taken and used by an indir node that is wider than the field then `fgMarkAddressExposedLocals` marks only the field as being address taken, it should probably mark the entire struct variable.

[code]
generates
[code]

Extracted from https://github.com/dotnet/coreclr/issues/16210#issuecomment-367093493.

It's worth noting that this does not happen if pointers are

[2018-02-21 17:07] mikedn commented on #16472
As mentioned in https://github.com/dotnet/coreclr/issues/16210#issuecomment-367110476 it may better to make `fgMarkAddressExposedLocals` track the indir width and offset instead of (or in addition to) the current vague `AXC_IndWide`/`AXC_AddrWide` values.

The main problem in getting this to work right (and less complex than it currently is) seems to be assignments and blk/obj nodes. It is possibl

[2018-02-21 18:14] AndyAyersMS commented on #16470
The 2.0 check jit hits this assert when looking at node 26 in `impNormStructVal`:
[code]
Suspect this means the 2.0 handling of `ReadOnlySpan<struct>` indexer is broken and the jit should be modelling this access via `GT_OBJ`.

`Span` can be used as a workaround.

In recent 2.1 and master the `ReadOnlySpan` indexer returns a ref and we don't see this problem.

[2018-02-21 18:27] BruceForstall commented on #16376
@MichalStrehovsky Looks like GCStress is also failing (now?) with the `_d` version:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_gcstress0xc/74/#showFailuresLink

[code]

Can you also please disable this one?

[2018-02-21 18:27] sdmaclea commented on #15389
Reproduced on Arm64 Ubuntu with one additional failure
[code]

[2018-02-21 18:28] BruceForstall commented on #16374
@brianrob I'm still seeing this fail:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_gcstress0xc/74/#showFailuresLink

[2018-02-21 18:49] lt72 commented on #16366
We are not participating directly, but it will be a pleasure to stop by and chat! I'll send you my contact so you can ping me directly when the time comes and we can agree on details then.

[2018-02-21 18:53] fiigii commented on #16270
Probably, we can just follow the C++ intrinsic design that fixes the flags in function names, which significantly simplifies the JIT implementation (especially fallback).

[2018-02-21 18:53] lt72 commented on #12110
@davmason: did you get a chance to dig more into this?

[2018-02-21 19:31] BruceForstall commented on #16357
@sdmaclea #16236 is closed; can you verify if this still fails on arm64?

[2018-02-21 19:33] bobuva commented on #16366
Thanks!

[2018-02-21 19:36] benaadams opened #16474 "Vector.Narrow performance"
I was trying to work out why I wasn't getting the performance expected from `Vector.Narrow`
[code]
Generates
[code]
Is this correct (performance wise)?

/cc @mikedn @CarolEidt

[2018-02-21 19:45] benaadams commented on #16474
What I'm comparing the performance to does 128 bytes at a time as; so maybe its just close
[code]

[2018-02-21 19:48] sdmaclea commented on #16357
Verified fixed

[2018-02-21 19:48] #16357 closed

[2018-02-21 20:08] sdmaclea commented on #15389
I see similar failures in JitStressRegs=3 & JitStressRegs=4

[2018-02-21 20:11] eerhardt commented on #16465
Hmmm, those changes shouldn't be in `release/2.1` at all yet....

@dagood - any thoughts?

[2018-02-21 20:15] eerhardt commented on #16465
@sdmaclea - are you seeing this on your machine?  Have you been switching between `master` and `release/2.1`?  If so, ensure you `git clean -xdf` between switching branches.

[2018-02-21 20:17] sdmaclea commented on #16465
Yes. I'll try clean build

[2018-02-21 20:22] dagood commented on #16465
That update commit went from CoreFX `4.5.0-preview1-26213-02` to `4.5.0-preview1-26218-04`, which was built by prodcon from `release/2.1`. CoreFX master has been building as `preview2` for a while. I agree a clean build is a good idea.

[2018-02-21 20:23] sdmaclea opened #16476 "[Arm64/Ubuntu] JitStressRegs=0x800 mostly fails"
When setting `JitStressRegs=0x800` `LSRA_SPILL_ALWAYS`, there are about 9K fails.

@CarolEidt Is this a JitStressRegs mode that should work?

[2018-02-21 20:25] AndyAyersMS commented on #16470
@ahsonkhan this is a jit issue in 2.0.x. We should move it to area-CodeGen.

[2018-02-21 20:26] CarolEidt commented on #16476
No, I'm afraid to say that this mode has never fully worked. There is work to be done to ensure that it doesn't spill in places that it cannot. There should already have been an issue opened for this (it's an issue on all targets).

[2018-02-21 20:28] CarolEidt commented on #16476
Thanks for opening an issue, BTW

[2018-02-21 20:40] iSazonov commented on #15542
@janvorli Many thanks! I already prepare a PR https://github.com/PowerShell/PowerShell/pull/5927 to set stack size by Thread overload. My main concern is that I got a report that it doesn't work on MacOs as I mentioned above. Can you confirm that the Thread overload really works on MacOS?

[2018-02-21 20:42] janvorli commented on #15542
@iSazonov it should work, but let me verify that it is really the case.

[2018-02-21 20:50] MattGal opened #16477 "Configure official CoreCLR builds to pass on VS 2017 only build agents"
In order to provide SourceLink information in their PDBs and to unify the way we build the official product, we need to get the Windows part of official CoreCLR build to be usable on VS 2017 only.

Given this is already the case in CI, I expect almost all of this work to be in changing the steps of the VSTS build definitions, but more could fall out.  @jashook  will likely handle this, so I've pre

[2018-02-21 20:54] sdmaclea commented on #16465
A clean build did not resolve it.

[2018-02-21 21:02] janvorli commented on #15542
@iSazonov verified - I've just built powershell with a change similar to your PR, only much simpler - just passing 0x800000 to the thread constructor at the two places where you were passing in the value from the config and running the recurse function reached about 2800 iterations.

[2018-02-21 21:47] AndyAyersMS commented on #16470
@RussKeldorph @danmosemsft do you think we'd take a 2.0 servicing fix for this? If so, I can push this further.

The problem does not happen in 2.1.

[2018-02-21 22:53] dagood commented on #16465
The only reason I can think of you would get changes from `master` in your restored CoreFX packages is if package restore failed to fetch the `4.5.0-preview1-26218-04` version and NuGet autoresolved to the next highest, which would be a `preview2` version. I'd think NuGet would warn or error about this... could you check your logs to make sure?

[2018-02-21 23:11] RussKeldorph commented on #16469
I believe this question is more appropriate in another repo; perhaps [dotnet/cli](https://github.com/dotnet/cli).  Please open an issue there if this question isn't sufficiently answered.  Thanks!

[2018-02-21 23:11] #16469 closed

[2018-02-21 23:15] Maoni0 commented on #16471
@RussKeldorph, could someone from your team take a look at these GCStress failures from jit tests?

[2018-02-21 23:17] RussKeldorph commented on #16463
@janvorli @jkotas

[2018-02-21 23:25] RussKeldorph commented on #16462
Low confidence on `area-TypeSystem` but gotta start somewhere.

[2018-02-21 23:32] #15780 closed

[2018-02-21 23:35] jnm2 commented on #15780
I can't believe this is really happening! 🎉

[2018-02-21 23:36] sdmaclea opened #16480 "[Arm64/Ubuntu] Crossgen ignores `/MissingDependenciesOK` and fails for missing dependency"
Looks like `/MissingDependenciesOK` is ignored sometimes.  I have not triaged any further.

[code]
[code]

@dotnet/jit-contrib @dotnet/arm64-contrib

[2018-02-21 23:45] janvorli commented on #16463
@roozbehid-ic, you could try to use lldb with the SOS plugin. You'd need lldb version 3.9 for that.
* Start lldb with your app
* Set a breakpoint at coreclr_execute_assembly
* Run it
* When the breakpoint is hit, load the SOS plugin using the following lldb command: `plugin load libsosplugin.so`. You may need to add full path to the libsosplugin.so. The file is part of the dotnet core runtime stuf

[2018-02-22 00:13] BruceForstall commented on #16471
@Maoni0 It's almost certainly a regression due to VM change #16384, not a JIT change, according to @sdmaclea 's investigation. Someone could verify that.

[2018-02-22 00:14] RussKeldorph commented on #16389
@benaadams Is your comment on dotnet/corefx#27185 implying you have a way to consistently reproduce this?

[2018-02-22 00:15] dagood opened #16482 "Publish symbols using Microsoft.SymbolUploader.Build.Task package"
The `Microsoft.SymbolUploader.Build.Task` package on the BuildTools feed is the new way to index and publish symbols to the symbol server. It should be used instead of the current combination of BuildTools' `GetAllSymbolFilesToPublish` and the VSTS symbol publish build step.

Example implementation in Core-Setup: https://github.com/dotnet/core-setup/pull/3465

[2018-02-22 00:28] benaadams commented on #16389
No, a way to not use the `ArrayPool` for `HttpResponseStreamWriter` which it where the call stack is throwing
[code]

More specifically outlined in the use case of this api request https://github.com/dotnet/corefx/issues/27268

The [`HttpResponseStreamWriter`](https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.WebUtilities/HttpResponseStreamWriter.cs) holds onto the array

[2018-02-22 00:36] RussKeldorph commented on #16389
Ok thanks for the clarification.

[2018-02-22 00:40] janvorli commented on #16471
Ah, I can see there is a bug that I've missed during the PR. The signalContextRecord is left uninitialized, no wonder it causes the crashes. @mlabiuk I'm going to send out a PR with a fix.

[2018-02-22 00:42] janvorli commented on #16471
Oh, I was just seeing things. It seems actually correct. Sorry for the false alarm.

[2018-02-22 00:47] janvorli commented on #16471
So there actually is a bug, but more subtle. I'll create a PR with a fix.

[2018-02-22 00:54] richlander commented on #13471
It looks like most/all of these came via commits from Samsung, which means they came in under the .NET Foundation CLA. Samsung signed a corporate-level CLA with the .NET Foundation.

So, yes, we can assume that these are MIT. It would be good if someone added the same license headers for these files that we use with other files.

[2018-02-22 01:02] brianrob commented on #16374
Yup, I'm still working on these.  Will report back with a PR hopefully soon.

[2018-02-22 01:04] danmosemsft commented on #13471
@sam-baravy seems you added these, would you mind adding the usual 3 line license header same as our other files?

[2018-02-22 01:04] BruceForstall opened #16486 "[Linux/arm32] Assertion failed 'genActualType(op1->TypeGet()) == genActualType(op2->TypeGet())...'"
[code]

Fails for Linux ARM32 run for:
[code]

Doesn't fail for Windows ARM32.

[2018-02-22 01:15] BruceForstall opened #16487 "[Linux/arm32] Test failures: _il_dbgsizeof.sh, _il_relsizeof.sh"
[code]

This test checks that the following are all equal to 4:
[code]

One (or more) of these is not returning 4.

Possibly an issue where the wrong mscorlib is getting used during the test run? (Which was a run done by hand.)

Linux/arm32 only.

[2018-02-22 01:19] BruceForstall opened #16488 "[Linux/arm32] eventpipesmoke test failure"
[code]

In a Linux/arm32 by-hand test run.

[2018-02-22 01:26] RussKeldorph commented on #16470
@AndyAyersMS I assume we would not service 2.0 for a `ReadOnlySpan`-specific issue.

@Petermarcu in case I'm wrong.

[2018-02-22 01:27] sdmaclea commented on #16471
FWIW I did run gcStress0xc on  `a231c3a~1` and it was working well.

[2018-02-22 01:27] BruceForstall opened #16489 "[Linux/arm32] Test failure: DevDiv_278523.sh"
[code]

In hand-run Linux/arm32 test run.

This test compares `sizeof [mscorlib]System.IntPtr` against 8; perhaps it gets it wrong, as in #16487.

[2018-02-22 01:30] BruceForstall opened #16490 "[Linux/arm32] Test failure: ptrarray.sh"
[code]

From a hand-run of Linux/arm32 tests.

[2018-02-22 01:33] BruceForstall commented on #16490
Note that is passes for Windows arm32 (when run by hand; it is not in the tests/arm/tests.lst file).

[2018-02-22 01:37] #16450 closed

[2018-02-22 01:46] BruceForstall commented on #16490
It looks like it is switching on ELEMENT_TYPE_PTR (15), but that should be handled:
[code]

[2018-02-22 01:48] janvorli commented on #16462
I am looking into it

[2018-02-22 01:52] sdmaclea commented on #16465
OK I looked at the logs there was a git checkout error which was silently being ignored.  When it build corefx, it was building from the wrong branch.

Sorry for the false alarm.

[2018-02-22 01:52] #16465 closed

[2018-02-22 01:58] janvorli commented on #16462
@pavlexander I've tried to repro it with dotnet sdk 2.1.4. See the testing app source here: https://gist.github.com/janvorli/84afb34ed3fa955f1e992db18cb34a0a
You didn't say what the OrderType was, I assumed it was an enum.

It has been running for at least a couple of minutes without any crash.

[2018-02-22 02:07] AndyAyersMS commented on #16454
The issue is that field offsets in R2R mode are subject to change when the code is loaded. So in `fgMorphField` we can't rely on zero field offset to suppress null checks when forming a field address in a `GT_ADDR` context, as the field may not be at offset zero at runtime.

[2018-02-22 02:12] AndyAyersMS commented on #16454
Relevant dump (R2R, minopts)
[code]
In jit mode where the jit sees the true offset, it adds a null check to 005.

[2018-02-22 02:17] sdmaclea opened #16491 "[Arm64/Ubuntu] Arm64 Bootstrap CLI is unstable"
I build a Arm64 Bootstrap CLI `dotnet-sdk-2.1.300-preview2-008171-linux-arm64` using https://github.com/dotnet/source-build/pull/332

The dotnet command sometimes fails,

For instance:

[code]
If I run `dotnet restore` multiple times it occasionally fails. Out of about 30 runs, I saw:
+ 2 hangs
+ 5 exceptions which looked like GC holes

Similar issues exist with `dotnet build`

I am hoping the han

[2018-02-22 02:17] #16299 closed

[2018-02-22 02:38] AndyAyersMS commented on #16454
Guessing this wasn't caught earlier because even if the jit does not null check here the field offset is likely to be small so any dereference in jitted code still falls within the zero page and causes an AV. I assume R2R codegen is tossed if it turns out fields have large enough offsets that this behavior can't be relied upon.

PR up shortly.

[2018-02-22 03:59] fiigii opened #16493 "[RyuJIT] SSE2 movd has incorrect JITDump"
[code]
The encoding is correct, but JITDump should be `vmovd    xmm1, eax`.

This disasm is compiled from
[code]

@4creators PTAL

[2018-02-22 04:00] fiigii commented on #16493
cc @CarolEidt @tannergooding

[2018-02-22 05:10] iSazonov commented on #15542
@janvorli Many thanks for your help!

[2018-02-22 05:10] #15542 closed

[2018-02-22 05:59] #16374 closed

[2018-02-22 06:12] Petermarcu commented on #16470
I'd just get it in 2.1.

[2018-02-22 06:42] #16424 closed

[2018-02-22 06:55] tannergooding opened #16497 "Ensure all relevant containment paths are handled for the HWIntrinsics"
Currently we are only handling the containment cases for SimpleSIMD/SIMDScalar binary nodes and for the immediate operand in ternary nodes.

However, there are several additional node types for which containment may be relevant.

We should update the `ContainCheckHWIntrinsic` method to appropriately use `unreached` to ensure we are handling all node types as expected (they should either be explici

[2018-02-22 06:56] tannergooding commented on #16497
FYI. @CarolEidt, @fiigii

[2018-02-22 07:55] TheLastRar commented on #15119
Is that enough information for you to reproduce the issue?

[2018-02-22 10:06] airbreather commented on #16470
The code in `master` that corresponds to the prospective fix is [here](https://github.com/dotnet/coreclr/blob/c36b282a16237423d8c8a3c6f3abc13b52c36c68/src/jit/importer.cpp#L3784-L3811) (and it looks [the same](https://github.com/dotnet/coreclr/blob/5203d261af94536eca619b811f8c181654c63cad/src/jit/importer.cpp#L3788-L3813) in `release/2.1`).  If I'm reading it correctly, it looks like the codegen i

[2018-02-22 10:09] ahsonkhan commented on #16470
Are you able to use "fast" Span on netcoreapp2.0? I thought you only get fast span on 2.1 only (and slow/potable span on 2.0).

[2018-02-22 10:15] airbreather commented on #16470
It would seem so.  In the `System.Memory` package, version `4.4.0-preview2-25405-01` in my NuGet package cache, there's a folder at `runtimes/win/lib/netcoreapp2.0` that has `System.Memory.dll` which has type-forwarders to `System.Private.CoreLib.ReadOnlySpan<T>` and its not-readonly counterpart.

[2018-02-22 10:19] janvorli commented on #15119
@TheLastRar
As for the plugin - so if I understand you correctly, your app loads a plugin (a shared library) using dlopen that in turn loads libcoreclr.so using dlopen. Then it calls coreclr_initialize, executes some managed assembly, after that you execute coreclr_shutdown and unload the plugin?

And do you really call the coreclr_shutdown? It would be strange if you did, since it would cause the

[2018-02-22 10:24] alpencolt opened #16502 "[Question] CoreCLR low memory footprint configuration"
We are applying CoreCLR for devices with low RAM and interesting to reduce application's memory consumption. But as you understand such kind of optimizations decrease overall performance usually.

So there is idea to make CoreCLR configuration which enable some JIT optimization (like JIT pitching) or disable (like inlining), which also enable some runtime optimizations which decrease memory consum

[2018-02-22 10:48] maximusjunior commented on #6792
@janvorli I've tried to build coreclr on Centos 6 (branch "release/2.1") following [these instructions](https://github.com/dotnet/core/blob/master/Documentation/build-and-install-rhel6-prerequisites.md) but no luck. Latest error I got and can't resolve is "Cannot find LLDB.h Try installing lldb-3.9-dev...".
Library llvm-dev installed, but there is no LLDB.h file nor lldb* in repos...

Highly appre

[2018-02-22 10:59] pavlexander commented on #16462
Hi,

You are right. No issues on my PC as well, with a given code above... Maybe it's the combination of given class + some other code in the library that's causing the issue.. We have had a discussion with developer of the library - I have got a feeling that the order of statics initialization may be the culprit.

I have uploaded the modified version of a library here: https://github.com/pavlexan

[2018-02-22 11:07] janvorli commented on #6792
@maximusjunior the doc is about preparing a runtime environment for running dotnet core on RHEL / CentOS 6, not for building it. For building, it is more involved. You need to build clang + lldb 3.9 yourself.
Fortunately, we have a Dockerfile that I can share and you can either use to build the stuff in docker container or just to make the steps from the Dockerfile manually on your Centos 6 machin

[2018-02-22 12:14] sergign60 opened #16503 "[x64 arm32] the test smalloom terminated with signal SIGKILL"
the test ```coreclr/tests/src/GC/Coverage/smalloom```
used platforms
Linux signatov 4.4.0-112-generic #135-Ubuntu SMP Fri Jan 19 11:48:36 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
Linux localhost 3.10.65 #1-Tizen SMP PREEMPT Fri Feb 2 22:29:33 UTC 2018 armv7l GNU/Linux

% ./corerun smalloom.exe
[1]    8137 killed     ./corerun smalloom.exe

% gdb -q --args ./corerun smalloom.exe
Reading symbols from

[2018-02-22 12:15] sergign60 commented on #16503
@dotnet/arm32-contrib

[2018-02-22 12:16] sergign60 commented on #15309
https://github.com/dotnet/coreclr/issues/16503

[2018-02-22 12:16] sergign60 commented on #16503
https://github.com/dotnet/coreclr/issues/15309

[2018-02-22 12:25] janvorli commented on #16462
@pavlexander I still cannot repro your issue. The difference from your steps is that I use the latest dotnet core sdk (2.1.4) and build the stuff directly on Linux instead of building it on Windows and then transferring to Linux.

[2018-02-22 13:15] TheLastRar commented on #15119
A test case for plugin reloading is located here https://github.com/TheLastRar/CLR-DEV9/blob/master/CLR_EMBED_TEST/main.cpp

Which calls this function in the plugin https://github.com/TheLastRar/CLR-DEV9/blob/master/CLR_DEV9_LINUX/PSE.cpp#L57

Which calls LoadCoreCLR located here https://github.com/TheLastRar/CLR-DEV9/blob/master/CLR_DEV9_LINUX/PSE.cpp#L289

And then calls CloseCoreCLR https://git

[2018-02-22 13:16] pavlexander commented on #16462
@janvorli My Windows machine already had 2.1.4 version installed so all previous publishes were done with the latest version. However, just now I did an upgrade, from 2.1.3 to 2.1.4 on Linux.
And then I transferred solution files to Linux  and did the publishing there just as you did. Although, the command was a bit different:
`dotnet publish -c release -r debian-x64 -f netcoreapp2.0`

After that,

[2018-02-22 13:36] janvorli commented on #15119
@TheLastRar ah, right, I've forgotten that the `PAL_Shutdown` that is called from the coreclr_shutdown implementation doesn't terminate the current process.
Then it is clear why it fails in a bad manner. The PAL_Shutdown clears the init_count, so the PAL_Initialize thinks it is the first time initialization. I'll fix it to make sure that calls to coreclr_initialize after coreclr_shutdown was calle

[2018-02-22 13:42] janvorli opened #16504 "Calls to coreclr_initialize after the coreclr_shutdown was called should fail gracefully"
A the moment, we crash with an assert, since the `coreclr_shutdown` ends up calling `PALCommonCleanup` that sets the `init_count` to zero. The following call to coreclr_initialize then thinks that the runtime was not initialized yet and tries to initialize it. But some data structures still hold stuff from before the `coreclr_shutdown` call.

Since we don't support reinitialization of PAL or corec

[2018-02-22 13:42] janvorli commented on #15119
I've created issue #16504 to track the issue.

[2018-02-22 13:50] janvorli commented on #16462
Could you please run it under a debugger (gdb or lldb)?

To run it under gdb:
[code]

To run it under lldb:
[code]

In both debuggers, then use the `r` command to run the app
If it succeeds, use the `quit` command to exit the debugger again.
If it hits the abort, run the `bt` command in the debugger and get me the output.

[2018-02-22 14:08] pavlexander commented on #16462
No abortions while debuggers are attached

and

Tried running more than 10 times each..

[2018-02-22 14:15] pavlexander commented on #16462
wait. update is coming

[2018-02-22 14:17] pavlexander commented on #16462
after following an advice [here](https://stackoverflow.com/questions/4628521/segfault-only-when-not-using-debugger) I was able to produce an error:

(gdb) set disable-randomization off
(gdb) r
Starting program: /usr/bin/dotnet /srv/scripts/testCrash/TestCrash.dll
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
[New Thread 0x7

[2018-02-22 14:23] janvorli commented on #16462
Ok, this means there was a null reference somewhere in the managed code for some reason. Could you please use the `c` command in the debugger to continue execution again until the abort happens?

We could also see where in the managed code the null ref happened if you'd be able to use lldb version 3.9. For lldb, there is a plugin that can dump stack trace with managed functions and we could also i

[2018-02-22 14:26] pavlexander commented on #16462
Here is the `c` ontinuation:

and `bt` once again:

[2018-02-22 14:29] pavlexander commented on #16462
will lldb version 3.8.1 do?

[2018-02-22 14:32] janvorli commented on #16462
Actually, I've realized that you need lldb 3.6 since this is still coreclr runtime 2.0.x.
But you could use the 3.8.1, but I would have to share a different version of libsosplugin.so with you.
I have to run now, but I'll be back later today and I can share more details.

[2018-02-22 14:47] pavlexander commented on #16462
Alright. lets do that.
Although, i can't find a way to disable ASLR for lldb. Therefore the issue is still not reproducible there.

[2018-02-22 15:06] ViktorHofer commented on #16502
That might also affect the shared ArrayPool as it caches various types up to a limit of X

[2018-02-22 15:38] jkotas commented on #16502
We do have various build config switches that lets you configure this. Are you asking whether we can have one build switch that sets multiple of other build switches?

The ArrayPool needs to be integrated with the GC so that it does not leak memory: https://github.com/dotnet/corefx/issues/25841 or https://github.com/dotnet/coreclr/issues/7747. The GC has configurable policies on what to optimize f

[2018-02-22 16:00] benaadams commented on #8534
@AndyAyersMS since no initlocals is a thing now (applied to coreclr and some of corefx) and coming as a method `SkipLocalsInitAttribute` in C#7.3 https://github.com/dotnet/roslyn/pull/24723; is it worth considering expanding the fixed sized stackalloc threshold when no zeroing will occur? (e.g. no `.locals init`)

[2018-02-22 16:06] alpencolt commented on #16502
@jkotas I'm asking about possibility to add more optimization which decrease memory consumption to upstream. It's not interesting for server applications (as I guess main target for Microsoft) but fit well for  smartphones.
And because it's "target specific" optimizations I propose to add one build switch for this configuration.

[2018-02-22 16:20] ahsonkhan commented on #16470
Ah yes, the latest packages fall back to slow span. I didn't realize you were talking about the older versions.

        - Pretty sure this is not much different from changing `TargetFramework` to `net471`, since `netcoreapp2.0` would have to use the "slow span" from that package.

I agree that we don't need the servicing fix in 2.0, since this issue doesn't exist on the latest packages for netcor

[2018-02-22 16:20] #16470 closed

[2018-02-22 16:23] AndyAyersMS commented on #8534
No init locals helps normal stackalloc roughly equally as well as a stackalloc converted to a fixed buffer.

My reluctance to push the value higher (see notes in #14623) was twofold -- not many cases in the 32...512 range, and for larger sizes the jit starts using the larger encoding for most on-frame accesses.

There are things the jit could do to address the need for large offsets. It could rear

[2018-02-22 16:35] jkotas commented on #16502
Majority of these can be just configurable policies. They do not need to be runtime build-time switches. For example, you can choose between server GC and workstation GC for netcoreapp today. Different templates have different defaults for these switches. Console apps default to workstation GC and ASP.NET default to server GC. Similarly, the template for Tizen apps can have different defaults.

Th

[2018-02-22 17:02] nategraf commented on #16488
If all of the expected events are in the file, then we can lower the threshold for what the size we expect it. I don't have any ARM32 hardware at the moment. Would it be too much trouble to generate a .netperf file form this test and and send it to us? If you supply a filename for the first argument it will save the file as that name (rather than to tmp and deleting it)

[2018-02-22 17:09] alpencolt commented on #16502
Right, build-time switches aren't needed for things like GC. But what if want to remove relocation of `*.ni.dll` files on loading. It will decrease launching time and allows to share libraries between processes on Linux, but it decrease overall performance since all code will be PIC. Or for example we can change structure of some tables with meta-data.
Will be it build time time or runtime options

[2018-02-22 17:27] lt72 opened #16506 "Implement enumerating native code methods to complete tiered JIT diagnostics story"
Assuming that ICorDebugFunction.GetNativeCode return the native code for the most recent JIT of the function in rejit scenarios here is what wouldn’t work without EnumerateNativeCode:

* When decoding an exception stack trace from CorDebugExceptionObjectStackFrame, we wouldn’t be able to find the IL offset for a frame if the frame is from the initial version of the method and the method has been r

[2018-02-22 17:47] tannergooding commented on #8534
@AndyAyersMS, it would seem like it might be possible to change `stackalloc` for inlined methods to also be able to unalloc

That is, instead of inlining the stack allocations into the parent method's stack, you would move the stack pointer such that the code generated would be:
* stackalloc
* inlined code
* unalloc

I could think of a few places where this might be undesirable, but there are also

[2018-02-22 18:04] 4creators commented on #16493
@fiigii My understanding of the problem is that code emission is correct but disassembler produced incorrect printout. Could you confirm?

[2018-02-22 18:04] jkotas commented on #16502
These can be command line option for crossgen. Also, for PIC code - I think we would likely want to make it the default.

[2018-02-22 18:06] benaadams commented on #8534
I'm seeing a jump in what's considered a good cut off for stackalloc due the reduced cost from the use of illink init locals removal: e.g. https://github.com/dotnet/corefx/pull/27204/files

Though that method probably isn't a good example of one to inline 😄

[2018-02-22 18:12] tannergooding commented on #16493
@fiigii, I think the JIT dissasembly (in general) is pretty poor and there are a few other cases like this.

It is probably worthwhile to fix it up as part of https://github.com/dotnet/coreclr/issues/16348

[2018-02-22 18:21] lt72 commented on #12612
One more issue to deal with, hopefully in 2.1 timeframe: #16506

[2018-02-22 18:31] benaadams commented on #8534
For non init locals I assume? Else you pull in a bunch of zeroing code as well

[2018-02-22 18:58] tannergooding commented on #8534
Yeah, that would probably be better 😄

[2018-02-22 19:03] CarolEidt commented on #16493
I think this is a slightly different issue. One is to support an alternate disassembler, and the other issue is to use an alternate disassembler for jitdumps & jitdisasm. Related, yes, but should be explicitly included in #16348 if that's what we intend.

[2018-02-22 19:17] sdmaclea commented on #16491
This is the most common spurious exception
[code]
I have also seen this one
[code]

[2018-02-22 19:19] tannergooding commented on #16493
I meant that we should just cleanup the jitdumps/jitdisasm output text, not to use an alternate disassembler. Today, we are just manually printing text according to what we expect it should be (rather than disassembling the bytes that we emitted). There are a few issues with the text that we emit (such as the above, and potentially it being in a non-standard format) and I was saying that fixing th

[2018-02-22 19:34] janvorli commented on #16463
@roozbehid-ic, I am sorry, I've forgotten to mention that you need to use lldb 3.6 for .NET core 2.0, the lldb 3.9 is needed for .NET core 2.1

[2018-02-22 19:35] AndyAyersMS commented on #8534
Undoing stackalloc has always been something of a pipe dream -- I don't know of any native compilers that do it either.

Aside from getting the mechanical aspects right, the undo point creates a barrier to code motion that can be hard for the compiler to model and reason about (similar to what happens with pinning). And there is an EH aspect to consider too... we'd likely need to induce a try/fina

[2018-02-22 19:41] benaadams commented on #8534
At which point its probably getting ugly for an inline candidate?

[2018-02-22 19:47] fiigii commented on #16493
@4creators Yes.

Agree, we may need to consider in https://github.com/dotnet/coreclr/issues/14523, but this issue is easy to fix,

[2018-02-22 19:52] janvorli commented on #16462
It seems I've found an equivalent for LLDB: `settings set target.disable-aslr false`

If you want to use lldb 3.8.1, you can get the libsosplugin.so from my onedrive here: https://1drv.ms/u/s!AkLV4wRkyHYhw3yHmI30w9vf_QA_. You can put it anywhere on your linux box and just specify the full path when loading it.

Then after you hit the SIGSEGV when running under lldb, enter the following lldb comman

[2018-02-22 20:06] AndyAyersMS commented on #8534
Yes. When EH gets involved the jit becomes very conservative (as you've seen firsthand with the async cases).

[2018-02-22 20:14] janvorli commented on #13651
@lemmaa are you planning to make a PR for the fix you've suggested (augmented as per @jkotas's comment)?

[2018-02-22 21:00] MichalStrehovsky commented on #16376
Done - #16507. Sorry for the trouble.

[2018-02-22 21:53] nategraf opened #16508 "Size on disk benchmark is reporting 0 size for ASP.NET scenarios"
Restore for projects such as MVC and razor fail with `Unable to find package Microsoft.VisualStudio.Web.CodeGeneration.Tools with version (>= 2.1.0-preview2-30106)`

[2018-02-22 21:57] BruceForstall commented on #16487
Need to use a 32-bit test build. Using cross-build Windows_NT.arm.Checked worked.

[2018-02-22 21:57] #16487 closed

[2018-02-22 21:58] BruceForstall commented on #16489
Works with a Windows_NT.arm.Checked test build (requires a 32-bit build).

[2018-02-22 21:58] #16489 closed

[2018-02-22 22:01] fiigii opened #16509 "Change file names of template-driven HW intrinsic tests"
Currently, the template-driven tests have file names with the pattern "Intrinsic.Base.cs". However, certain AVX/AVX2/FMA intrinsic can operate over `Vector128<T>` and `Vector256<T>` both.
So the test files should be changed to "Intrinsic.Vector128/256\<Base\>.cs".

I will make this change after https://github.com/dotnet/coreclr/pull/16183 merged.

cc @tannergooding @CarolEidt

[2018-02-22 22:01] Petermarcu opened #16510 "dotnet core 2.1.4 bug with large dictionaries of <string, double?>. "Aborted, core dumped""
@errantmind commented on [Thu Feb 22 2018](https://github.com/dotnet/core/issues/1277)

### Description
On Ubuntu 16.04 LTS, in a 'command line' app, creating a large dictionary of type <string, double?> crashes the application but creating the same dictionary a type of <string, double> does not.  This bug only affects Linux and does not appear when running the same code on Windows.

In our app we

[2018-02-22 22:02] BruceForstall commented on #16486
Work with no assert with a Windows_NT.arm.Checked test build (32-bit, versus x64 test build that was used to originally show the failure).

[2018-02-22 22:02] #16486 closed

[2018-02-22 22:12] tannergooding commented on #16509
To be more precise, it is currently `Intrinsic.RetBaseType`.

Changing it to `Intrinsic.RetVectorType_RetBaseType` (or something similar) sounds good to me.

Do we know if there are any intrinsics where they need to differentiate based on parameter types as well? (It would be good to support that scenario as well, if it needs it).

[2018-02-22 22:18] fiigii commented on #16509
Did not see. If there is, they are very minority. We can specially treat them.

[2018-02-22 22:33] BruceForstall commented on #15552
@sandreenko Can you either (1) update this issue with the current status, if there are still many failures, or (2) close this issue and open individual issues for the remaining failures, if there are not too many?

Option (2) is preferable.

[2018-02-22 22:43] sandreenko commented on #15552
@BruceForstall Yes, I am planning to do it today or tomorrow.

[2018-02-22 23:10] echesakovMSFT opened #16513 "[Linux/arm32 R2R] Cross-Bitness Support for CrossGen"
Currently, when build  Linux/arm coreclr on Linux/x64 dev machine the following two sets of user environments must be installed:
1. x64/arm compiler for native build;
2. x64/x84 for cross-components used for crossgen/AOT to improve performance.

**Purpose:** Adapting crossgen and coreclr to be able to generate 32-bit ReadyToRun images on a 64-bit host without requiring to install x64/x84 Linux env

[2018-02-22 23:32] BruceForstall commented on #16490
Passes after rebuild of coreclr and rerun using Windows_NT.arm.Checked built tests.

[2018-02-22 23:32] #16490 closed

[2018-02-23 00:41] sdmaclea opened #16515 "[Arm64] GDBJIT rarely works?"
I added the following patch to enable GDBJIT.  I saw it work **once** where I could see a backtrace through JIT code and disas knew the size of functions.  I have been unable to figure out why it worked and why it no longer works.

[code]
@janvorli

[2018-02-23 00:49] janvorli commented on #16515
I have actually never tried to use it. Have you set the CORECLR_GDBJIT env variable to the list of modules you want the gdbjit to know about?

Btw the FEATURE_GDBJIT_LANGID_CS is intended to be used only with patched lldb, see https://github.com/dotnet/coreclr/pull/13720#issuecomment-326999766.

@kbaladurin could you please advice @sdmaclea on how to successfuly use the GDBJIT feature?

[2018-02-23 02:08] sdmaclea opened #16519 "[Arm64/Ubuntu] ZapDisable fails"
The following tests fail in the zapdisable test configuration.  `ZapDisable=1` `ReadyToRun=0`
[code]

@dotnet/arm64-contrib @dotnet/jit-contrib

The readytorun failures might be expected.

[2018-02-23 04:58] fiigii opened #16523 "Build errors with VS2015"
[code]

These build errors were from https://github.com/dotnet/coreclr/pull/15915.

cc @jkotas @gbalykov

[2018-02-23 05:03] fiigii commented on #16523
This will be fixed by https://github.com/dotnet/coreclr/pull/16522.

[2018-02-23 05:03] #16523 closed

[2018-02-23 07:07] jkotas commented on #4575
Fixed by #14398

[2018-02-23 07:07] #4575 closed

[2018-02-23 09:54] mikedn commented on #16493
It would have been useful if someone actually investigated the issue instead of going down the path of blaming the JIT disassembler (which BTW is a misnomer since it's not a real disassembler nor does it need to be one).

`movd` disasm dump did have some issues in the past, I fixed that a long time ago in #8315. If it still doesn't work it's likely because the emitter is feed incorrect data. Proba

[2018-02-23 10:52] pavlexander commented on #16462
@janvorli the file in one-drive seems to be unavailable.

[2018-02-23 11:26] pavlexander commented on #16462
ah, wait, the underscore was not in the link.. update will come soon.

[2018-02-23 11:54] janvorli commented on #16462
Hmm, I wonder if the file got somehow corrupted during the download or something. I am using that version of the plugin myself with lldb 3.8.1.
Can you please try to run `ldd libsosplugin.so` on that plugin and get me the output?

[2018-02-23 11:58] janvorli commented on #16462
I've tar-ed the file to make sure possible corruptions are detected: https://1drv.ms/u/s!AkLV4wRkyHYhxACXkvJpum0L4iG6
Just get it to your Linux box and untar it there.

[2018-02-23 12:03] pavlexander commented on #16462
un-tared. same issue.

`ldd libsosplugin.so`

[2018-02-23 12:04] airbreather commented on #16470
So before I give the rest of my reply... 😅 I just realized I was using a slightly newer `System.Memory` package version (`4.4.0-preview2-25405-01`) than the latest on [NuGet.org](https://www.nuget.org/packages/System.Memory) at the time of writing (`4.4.0-preview1-25305-02`), thinking that the old version that I'd been copy-pasting around in my .csproj files was actually the version I'm "supposed"

[2018-02-23 12:33] loop-evgeny opened #16526 ""Failed to start stack walk: 8000ffff" error from ClrStack when reading a core dump file"
I created a dump of a .NET Core process on Linux, but cannot get any stack traces from the dump. ClrStack and EEStack both work when attached to the live process, just not when reading the dump. This happens both with the default "minidump with heap" and with a full dump.

Running .NET Core 2.0.5 on Ubuntu 16.04 (x64), kernel 4.4.0-1052.

[code]
(clrstack and eestack work here)

Then:
[code]

Thre

[2018-02-23 12:43] janvorli commented on #16462
Ah, you need to install the liblldb package.

[2018-02-23 12:45] pavlexander commented on #16462
I tried doing that :) there seems to be no liblldb package available in repo.

[2018-02-23 12:46] pavlexander commented on #16462
ah, wait..

apt-cache search liblldb*
liblldpctl-dev - implementation of IEEE 802.1ab (LLDP) - development files
liblldb-3.8 - Next generation, high-performance debugger, library
liblldb-3.8-dbg - Next generation, high-performance debugger, debugging libraries
liblldb-3.8-dev - Next generation, high-performance debugger - Header files
lldb-3.8-dev - transitional dummy package to liblldb-3.8-dev
li

[2018-02-23 12:47] janvorli commented on #16462
As you have probably already guessed liblldb-3.8 is the one to install.

[2018-02-23 12:50] pavlexander commented on #16462
that's weird. I already have the library installed

apt-get install liblldb-3.8
Reading package lists... Done
Building dependency tree
Reading state information... Done
liblldb-3.8 is already the newest version (1:3.8.1-24).
0 upgraded, 0 newly installed, 0 to remove and 4 not upgraded.

[2018-02-23 12:55] janvorli commented on #16462
Ah, it seems that debian 9 has changed the soname of the library. Now the name is liblldb-3.8.so.1. I will need to build a new plugin on that debian for you.

[2018-02-23 13:00] janvorli commented on #16462
I'm working on it.

[2018-02-23 13:01] pavlexander commented on #16462
Thanks, I appreciate that. Just drop a message when we can continue.

[2018-02-23 13:02] svick commented on #16510
I can't reproduce this on .Net Core 2.0.5 (using .Net Core SDK 2.1.4) on Ubuntu 16.04. What I tried:

[code]

And also:

[code]

Can you provide a full example that reproduces the issue (including Program.cs, .csproj and how you run the project)?

[2018-02-23 13:23] janvorli commented on #16462
Ok, here is the new plugin. https://1drv.ms/u/s!AkLV4wRkyHYhxACXkvJpum0L4iG6

[2018-02-23 13:25] janvorli commented on #16462
Please try to run `ldd libsosplugin.so` on it first to make sure it has now correct dependencies.

[2018-02-23 13:26] MichalStrehovsky opened #16527 "Constant expression evaluation for offset calculations"
[code]

This should be possible to evaluate to a constant because the result is known at compile time. RyuJIT currently generates:

[code]

[2018-02-23 13:34] janvorli commented on #16471
I've merged the fix in. It took more than 24 hours to run the CI gcstress0xc job.

[2018-02-23 13:34] mikedn commented on #16527
Funny, just yesterday I was looking at a piece of JIT code that, if done right, could do something like this. Thanks for the example!

[2018-02-23 13:35] #16471 closed

[2018-02-23 13:35] pavlexander commented on #16462
Sure! Here is the whole stack of commands:

`ldd libsosplugin.so`

`lldb -- dotnet /srv/scripts/testCrash/TestCrash.dll`

run

plugin load

stack-trace?

It's interesting that I got to see my local path on windows machine in the trace. Had to change the user to "secretuser" for confidentiality reasons.

[2018-02-23 13:47] janvorli commented on #16462
Thank you! Ok, this looks like the code has detected a stack overflow would happen if the function was allowed to execute. The disass at the failure site that you've posted shows the typical stack space probing loop at the beginning of a function. The function needs 0x1d3c0 bytes of stack space for its locals, but there is apparently less space available.
However, from the stack trace, I can see t

[2018-02-23 14:17] pavlexander commented on #16462
Sure,

Here are the details:

`p/x $rax`

`ulimit -a`

[2018-02-23 14:20] pavlexander commented on #16462
Hm, stack size is 8192 kb which is 8mb which you mentioned.. Looks okay to me..

[2018-02-23 14:47] janvorli commented on #16462
It represents a negative value ‭-118784‬ (-0x1d000). The loop keeps subtracing 0x1000 from the initial 0 and uses it as an offset to the current stack pointer. The stack grows towards the smaller addresses.

As for the stack size, that's strange. One more thing that we can take a look at. In another console, run `ps -e | grep dotnet`. It will dump two processes, one for the lldb and one for just t

[2018-02-23 15:02] janvorli commented on #16462
As just one more sanity check, could you please print the rsp at the failure point? Just to make sure it matches what the clrstack has shown:
`p/x $rsp`

[2018-02-23 15:03] janvorli commented on #16462
Btw, I have to leave for a couple of hours now.

[2018-02-23 15:09] CarolEidt opened #16528 "Remove handling of GTF_REVERSE_OPS in LSRA"
There is some checking and handling of `GTF_REVERSE_OPS` in the various LSRA methods. This flag is cleared in the rationalizer, and verified clear in `CheckLIR`, so this handling is unnecessary.

category:implementation
theme:register-allocator
skill-level:intermediate
cost:small

[2018-02-23 15:50] pavlexander commented on #16462
Alright. I have rerun application:

`(lldb) r`

`(lldb) plugin load /srv/scripts/testCrash/plugin/libsosplugin.so`
`(lldb) clrstack -f`

`(lldb) p/x $rsp`

`(lldb) p/x $rax`

`ps -e | grep dotnet`

Presumably real `dotnet`:

Presumably `lldb dotnet`:

[2018-02-23 16:51] #16454 closed

[2018-02-23 18:16] BruceForstall commented on #16519
I wonder if these are recent regressions, or Linux specfic (I assume you tested Linux); the last CI runs have been clean, but it's only run once a week: https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_windows_nt_zapdisable_flow/

[2018-02-23 19:07] AndyAyersMS opened #16530 "JIT: review cases where we have zero field offsets"
We need to review places in the jit that make decisions based on zero field offsets to make sure the logic is correct for R2R, given that in some cases, those offsets can be changed when the prejitted code is loaded.

See notes in #16492 / #16454.

In particular we should examine `fgIsBigOffset` and its callers. But there may be more places that need scrutiny.

Putting this in 2.1 for now.

[2018-02-23 19:35] janvorli commented on #16462
If you look at the stack of the second dump (which is the one we are interested in), you'll see it really is only 128kB long:
`7fff58318000-7fff58339000 rw-p 00000000 00:00 0 [stack]`
0x7fff58339000 - 0x7fff58318000 = 0x21000 which is 128kB

Actually, the stack in the first dump is also of the same size.

However, and that's interesting, the stacks of secondary threads (I'm just guessing those all

[2018-02-23 19:55] AndyAyersMS commented on #11450
@RussKeldorph seems like we're unlikely to get to this for 2.1. I'm going to move it to future; if you disagree feel free to move it back.

[2018-02-23 19:57] AndyAyersMS commented on #11646
@BruceForstall seems like this should be moved to Future...?

[2018-02-23 19:58] AndyAyersMS commented on #11717
@jashook is this still an issue? Does it need to be addressed for 2.1?

[2018-02-23 20:01] AndyAyersMS commented on #12448
Going to close this as it is hard to imagine it is still current.

[2018-02-23 20:01] #12448 closed

[2018-02-23 21:30] sdmaclea commented on #16519
I do not know, it was the first time I had run that job in a long time.

[2018-02-23 21:43] BruceForstall commented on #11646
Yes. Done.

[2018-02-23 22:04] brianrob commented on #15122
Closing this issue as the bulk of the work is done, and the only remaining work is #15494.

[2018-02-23 22:04] #15122 closed

[2018-02-23 22:05] brianrob commented on #11725
@adamsitnik is this something that you can finish up?  Thanks.

[2018-02-23 22:11] adamsitnik commented on #11725
@brianrob Currently not. I am working on the serializers/real-world web app benchmarks. Btw could you review #16316?

[2018-02-23 22:38] sdmaclea commented on #16519
@BruceForstall
I just reran these on master tip to gather logs.
I did not see the `baseservices/exceptions/regressions/V1/SEH/VJ/NestedEx1/NestedEx1.sh`

The `mainv1/mainv2` failures are crossgen failures.
[code]

I use crossgen in my workflow all the time so I am certain it generally works.  I regularly crossgen S.P.C.dll and every dll from corefx.

In the past, I had seen the if S.P.C.dll was cr

[2018-02-23 22:40] sdmaclea commented on #16519
[code]

Also note the crossgen errors are ignored...

[2018-02-23 22:41] sdmaclea commented on #16519
FWIW I see the same thing in `master` and `release 2.1` branch tips

[2018-02-23 23:24] BruceForstall commented on #16519
AFAIK, mainv1 and mainv2 are the only R2R tests in the "normal" test run.

Related:

Looks like we have lots of arm64 R2R jobs defined in the CI, but they've never run: https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/

Looks like the Windows "baseline" arm64 R2R test has basically never passed, with about 3 failures now:
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/jo

[2018-02-24 00:01] AndyAyersMS commented on #8534
Looks like
[code]
is somewhat popular in corefx formatting, so maybe 64 is now interesting.

[2018-02-24 00:01] sdmaclea opened #16536 "Reliability Stress Framework and #9509"
https://github.com/dotnet/coreclr/blob/master/tests/src/GC/Stress/stress_run_readme.txt#L7

The reliability stress framework assumes it is only interested in AVs.

#9509 was introduced to prevent AVs and turn them into asserts.  These asserts typically means GC related issue caused a segfault.  This made debugging gcStress failures easier, but may have negatively impacted coverage.

@Maoni0 @swgil

[2018-02-24 00:07] sdmaclea commented on #16061
I just saw this issue on [Arm64/Ubuntu] when run with
[code]

[2018-02-24 00:20] sdmaclea opened #16537 "[Arm64/Ubuntu] gcServer=1 NoGC test fails"
`corerun NoGC.exe` with
[code]

I saw

[code]

Test ends with a Segmentation Fault.

[2018-02-24 00:20] sywhang commented on #16061
@sdmaclea  Thank you. I'll try that.

[2018-02-24 00:23] sdmaclea commented on #16537
`corerun NoGC.exe` with
[code]

I see `We did GCs in no gc mode!!!` When tryin gto protect 45GBs!!!

[code]
Command exited with non-zero status 1

[2018-02-24 00:27] sdmaclea commented on #16536
Sounds like I just misread your intent.

[2018-02-24 00:27] #16536 closed

[2018-02-24 01:45] sdmaclea opened #16539 "RunningIlasmRoundTrip tries to run ILDASM on a shell script"
When setting `RunningIlasmRoundTrip=1`, 481 tests fails trying to run ildasm on a shell script.
[code]

List of failures

[code]

[2018-02-24 01:46] sdmaclea commented on #16539
@jkotas FYI

[2018-02-24 01:52] sdmaclea opened #16540 "[Arm64/Ubuntu] ver_fg_13.exe IL Round Trip error"
`JIT/jit64/verif/sniff/fg/ver_fg_13/ver_fg_13.sh`

with `RunningIlasmRoundTrip=1`

[code]

[2018-02-24 01:54] sdmaclea commented on #16540
Similar issue exists with `JIT/opt/Inline/regression/badcallee/badcallee/badcallee.sh`
[code]

[2018-02-24 01:55] sdmaclea commented on #16540
Seems like ILRT should be disabled for these tests...

[2018-02-24 02:15] sdmaclea opened #16541 "[Arm64] Crossgen of ConsoleMandel.exe fails"
[code]

Test was disable in CI by #16538

[2018-02-24 02:18] sdmaclea opened #16542 "[Arm64] Crossgen of `VectorReturn_r` & `VectorReturn_ro` fails"
[code]

Test were disabled for r2r in #16538

[2018-02-24 02:49] fiigii opened #16543 "[RyuJIT] Update emitter to support SSE2 SIMD shift instructions"
SSE2 SIMD shift instructions have special encoding that left and right shift shares same opcode (distinguished by the `Reg/Opcode` field). Now, `emitter::emitOutputRI` deals with these instructions, but it should be improved.
1. these shift instructions should be addressed by `emitIns_R_R_I` as well, which leverages VEX.NDS (non-destructive source) encoding.
2. `emitOutputRI` cannot work with `psr

[2018-02-24 04:54] sdmaclea opened #16544 "[Arm64] Enable CLR implemented write watch on ARM64 on Windows."
See  #16516

Might be partially dependent on  #13592

[2018-02-24 05:44] dudzcom commented on #14462
Running into this issue for high frequency trading application.  Rewriting significant parts of the application to work around, however the solution is imperfect.  Would love to see a solution.

[2018-02-24 05:47] #15924 closed

[2018-02-24 05:48] benaadams commented on #14462
@dudzcom resolved by https://github.com/dotnet/coreclr/pull/14527 ? (Core v 2.1)

[2018-02-24 05:51] mikedn commented on #16543
Hmm, why do you need that?

[2018-02-24 05:56] tannergooding commented on #16543
I think this is just a casting problem, but I am waiting to here back from @fiigii.

See https://github.com/dotnet/coreclr/pull/16183#discussion_r170408497 for more details

[2018-02-24 06:19] danmosemsft commented on #14867
@sywhang I guess you can close this now? That only leaves the important one, #15203.

[2018-02-24 06:51] morganbr commented on #1341
Now that the HashCode type has been merged, we should consider making it available via ValueType.GetHashCode. It should have much higher quality hashes.

[2018-02-24 08:44] jkotas opened #16545 "Default hashcode for struct with double or float field is wrong"
Repro:

[code]

[2018-02-24 08:49] mikedn commented on #16545
The default `GetHashCode` implementation for structs should have been `throw new NotSupportedException("Tomato!");` :grin:

[2018-02-24 08:54] jkotas commented on #16545
https://github.com/dotnet/coreclr/pull/13164 missed this case.

[2018-02-24 09:32] maximusjunior commented on #6792
@janvorli thanks a lot! It works!

[2018-02-24 13:28] pavlexander commented on #16462
Yes, in my case I don't get to see the first part of the exception. Only the short notice "Aborted".

As for the second part - no. The app is not run from a docker container. The sdk is installed on a raw hardware. To be more precise, the machine has a name - "Vorke V1 Plus" therefore all of the specs could be derived from it, if needed. Normally it comes with Windows preinstalled, but I installed

[2018-02-24 13:40] janvorli commented on #16462
This is really strange. I don't understand how come the primary stack is smaller than the secondary thread stacks. It is upside down.

Could you please try to run
`ulimit -S -a`
`ulimit -H -a`

So that we can see the soft and hard limits separately?

[2018-02-24 13:41] janvorli commented on #16462
And one more question - which shell are you using? Bash?

[2018-02-24 13:50] pavlexander commented on #16462
Sure

`ulimit -S -a`

`ulimit -H -a`

Yes, Bash. I am connecting through SSH, remotely.

[2018-02-24 14:42] stephentoub opened #16547 "Unable to build coreclr"
I'm sync'd to the latest in master. I did a `git clean -xdf` and `build -release -skiptests`, and I get these build errors:
[code]

[2018-02-24 14:49] janvorli commented on #16462
Hmm, I have just looked at a memory map of a process on my box and found that the initial mapping of only 128kB of stack is there too.
So the problem is that on your box, for some reason the memory mapped for the stack is not automatically expanded when the code accesses stack past the existing mapping and generates SIGSEGV instead. The thing is that internally, the SIGSEGV is generated for such c

[2018-02-24 14:51] benaadams commented on #16547
I have to build twice for some reason; errors first time, works second (assuming its not got worse)

[2018-02-24 14:53] pavlexander commented on #16462
`cat /proc/meminfo`

[2018-02-24 14:57] stephentoub commented on #16547
No luck 😦 Thanks to incremental build, it just fails more quickly the second time ;)

[2018-02-24 14:58] stephentoub commented on #16547
I'm guessing the VS2017 preview I'm using introduced new warnings, which are then being treated as errors.

[2018-02-24 18:47] #16547 closed

[2018-02-24 22:32] pavlexander commented on #16462
Could that be some kind of hardware limitation? i.e. something that is related to how Linux is communicating to the hardware? I was wondering if, for example, a BIOS update or some kind of driver update would be able to resolve the issue.

If that's in fact something global (i.e. unabling to allocate more than 128kb of memory to the main thread, then, would that be something easily noticeable in o

[2018-02-24 23:27] AndreyAkinshin commented on #11657
@AndyAyersMS, @adamsitnik, I guess the upcoming ["Histograms and multimodal distribution detection"](https://github.com/dotnet/BenchmarkDotNet/pull/647) BDN feature can be useful for such kind of investigations.

[2018-02-25 02:40] #10441 closed

[2018-02-25 15:55] tannergooding commented on #16509
@fiigii, I think the simplest way to deal with this will be to add a new field to the Inputs that specifies the file name.

That is, each entry is currently `(string templateFileName, string[] templateData)`. We could change that to `(string templateFileName, string generatedFileName, string[] templateData)`.

We can use the existing logic for `string.IsNullOrEmpty(generatedFileName)`.

[2018-02-25 15:56] tannergooding commented on #16509
That will cover generation for the 99% and the customization, if required, for the minority cases that result in conflicts.

[2018-02-25 17:31] tannergooding commented on #16458
As per an offline discussion, @fiigii and I will be coordinating on the SSE41 intrinsics to get them done quicker.

The simplest intrinsics are implemented and up here: https://github.com/dotnet/coreclr/pull/16558

Still todo are:
* ConvertToVector128Int16
* ConvertToVector128Int32
* ConvertToVector128Int64
* Extract
* Insert
* MinHorizontal
* MultipleSumAbsoluteDifferences
* MultiplyLow
* PackUns