[2017-11-03 14:12] jkotas commented on #14391
The fix was ported to 1.0.x. It will show up in next 1.0.x servicing release.

[2017-11-03 14:12] #14391 closed

[2017-11-03 15:05] jkotas commented on #14843
The above enums do not follow guidelines for Flags enums https://docs.microsoft.com/en-us/dotnet/api/system.flagsattribute?view=netcore-2.0 : "Define enumeration constants in powers of two, that is, 1, 2, 4, 8, and so on".

[2017-11-03 16:04] tannergooding opened #14846 "`double.IsNaN` and `float.IsNaN` should be updated to be intrinsic"
Both of these methods should be updated to be intrinsic and generate a single instruction on platforms that support it.

On x86 architectures, they should be generating `ucomisd` and `ucomiss`, respectively.

category:cq
theme:basic-cq
skill-level:intermediate
cost:medium

[2017-11-03 16:08] tannergooding commented on #14846
As per the discussion here: https://github.com/dotnet/coreclr/pull/13781

@mikedn pointed out:

[code]

[2017-11-03 16:08] tannergooding commented on #14846
MSVC, GCC, Clang all end up generating code similar to:
The codegen for `IsNaN` could be simplified down to something similar to the following:
[code]

[2017-11-03 16:29] Petermarcu commented on #917
@MichaelSimons I think we have a build you can pull into a container now.

[2017-11-03 16:29] mikedn commented on #14846
Rather than turning `IsNan` into an intrinsic we should look into improving the codegen for `x != x`. That may be simpler than adding an intrinsic.

[2017-11-03 17:39] CarolEidt commented on #5166
This was fixed with #8588

[2017-11-03 17:39] #5166 closed

[2017-11-03 19:25] wizofaus commented on #14843
"Guidelines", sure, but it's not an actual language error to define a flags enum as above, and there are definitely potential use cases - e.g. to make it clear that not all bit combinations are permitted or meaningful.
If it were required that you stick to powers of two the ToString() algorithm as is could be greatly simplified.

[2017-11-03 21:18] BruceForstall opened #14856 "[RyuJIT/arm32][GCStress=C] Failures in GCStress run"
ARM GCStress=C test run in CI:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_gcstress0xc_prtest/2/consoleText

6995 failures, 6731 with `!CREATE_CHECK_STRING(!"Detected use of a corrupted OBJECTREF. Possible GC hole.")` assert. Many others with `SanityCheck()` or `HasPerInstInfo()` assert.

All assert failures:
[code]

Small sample of test failure

[2017-11-03 21:37] swgillespie commented on #11510
this has been fixed.

[2017-11-03 21:37] #11510 closed

[2017-11-03 22:10] krwq commented on #14810
You should be able to disable those with
[code]

once the above PR is merged (name may change as part of the feedback)

[2017-11-03 22:40] BruceForstall opened #14860 "[RyuJIT/arm32][JITMinOpts=1] Test runtime failures"
The following tests fail with `COMPlus_JITMinOpts=1` on Windows arm32.

[code]

CI job:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_minopts_prtest/7/consoleText

Results:
[code]

It also looks like
[code]
fails, because it hangs. It also hangs without `COMPlus_JITMinOpts=1`.

[2017-11-03 22:46] BruceForstall opened #14862 "[RyuJIT/arm32][JitStress=1] Test runtime failures"
Windows arm32 test runtime failures with `COMPlus_JitStress=1`

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_jitstress1_prtest/8/consoleText

Tests:
[code]

[2017-11-04 00:06] janvorli commented on #2484
@fiigii is working on that: https://github.com/dotnet/coreclr/pull/14725

[2017-11-04 05:40] kouvel commented on #14239
@ruben-ayrapetyan, if you're able to repro this consistently, could you please get a stack trace and also check the value of MaxWorking at the time of failure (assuming it's 0). How many cores does the machine have?

[2017-11-04 05:48] kouvel commented on #14239
Also what's the value of ThreadpoolMgr::MinLimitTotalWorkerThreads? The only way I can see this happening is if MinLimitTotalWorkerThreads is set to 0 through Thread.SetMinThreads, which probably shouldn't be allowed anyway but I don't see any calls to it in the IL. Wondering if some binaries may be out of sync, could you also put a breakpoint in ThreadpoolMgr::SetMinThreads to make sure that is n

[2017-11-04 08:00] mikedn commented on #14770
Yeah, a quick attempt at removing redundant `if (x < y)` had pretty much the expected result - a few hundred bytes of improvements and a few hundreds bytes of regressions. Regressions occur because the assertion table fills up and some range checks are no longer eliminated.

[code]
The `TryExpandShortFileName` improvement come from this line:
[code]
`inputBuffer` is a `StringBuffer` and its indexe

[2017-11-04 18:11] #14543 closed

[2017-11-04 18:52] 4creators commented on #12970
Fixed with #14578.

[2017-11-04 18:52] #12970 closed

[2017-11-04 19:09] jcdickinson opened #14866 "[Jit x86] Checked Constraint Doesn't Participate in Dead Code Elimination"
[Live Demo](https://sharplab.io/#v2:EYLgtghgzgLgpgJwDQxNMSAmIDUAfAAQAYACAgRgG4BYAKGLPIDoAlAVwDsYBLMOJgMIB7MAAduAG0QBlRADduAYzhQatOgQDMJWAjaKYJaSQDedEhZLnLohNzkR4JNty4kA+oogSJq6xdt7RzhnV0N3Bwk2ODVLK1o4gG0AWTgYAAshTABJMQkAClSMrNzRCQB5UR4hDigmADkhbI4JV1cAcwBKAF1/Mm0KADZQtwAVFRh8ztM+uIcEHRIAXhIOOAB3IynYuMs65ta11O3ZywIAdh0mA9c4Y86diwBfPr6UtMycvMKPkrzK6q1JgAQXa7QQKig9jgNw4HR6fS0I0MsLucCmMwSuwspws8xIkWWH

[2017-11-04 20:19] mikedn commented on #14866
Building instructions are here https://github.com/dotnet/coreclr/blob/master/Documentation/building/windows-instructions.md (I assume you use Windows because you're asking about .sln). Once a build is completed the .sln file can be found in bin\obj\Windows_NT.x64.Checked (adjust path according to build architecture and type).

[2017-11-04 20:33] mikedn commented on #14866
This doesn't appear to be related to morphing, there are multiple trees involved and `fgMorphTree` only works on a given tree. This appears to be a problem in the constant folding performed by value numbering. Or lack of it to be precise:
[code]
It does know that the operands are 0 and 1 and thus the result is 1 and no exception can be thrown. But it doesn't do anything useful with that informatio

[2017-11-05 09:12] jkotas opened #14867 "Failed Debug.Assert prints the stacktrace twice to the console"
Repro: Run the following as debug build:

[code]

Result:

[code]

Problems:

- Stacktrace is printed twice
- `System.Diagnostics.Debug.Assert` should not be included in the stacktrace
- Title should say `Assertion failed` instead of `FailFast`

[2017-11-05 10:38] jkotas commented on #14867
Also, make sure that contract failures like `Contract.Assume(false);` produce a good error message as well.

[2017-11-05 12:53] omariom opened #14869 "[Question] Span enumerator"
@jkotas @KrzysztofCwalina @jaredpar @VSadov

Are there plans for Span enumerator?
It could be a ref-like type implementing enumerable pattern.

[2017-11-05 12:59] stephentoub commented on #14869
https://github.com/dotnet/corefx/issues/24854#issuecomment-339383091

[2017-11-05 15:36] #14869 closed

[2017-11-05 15:50] Alecu100 opened #14870 "[Question] Checked/free mismatch with native image exception"
So I tried to setup my own coreCLR project locally to debug it and understand it better.

I could not understand if the instructions in the readme and documentation section of the repository is up to date.

So I tried something similar. I created a .net core application in Visual Studio 2017. And I added a reference to the CoreCLR I just built like this in the project:

    <PackageReference Inclu

[2017-11-05 18:13] janvorli commented on #14757
The `__declspec(selectany)` is not the only thing preventing compiling coreclr using clang5.0. There is a couple of other issues. I've tried to build it with all `__declspec(selectany)` removed and there is one more problem in src/ToolBox/superpmi/superpmi-shared/methodcontext.cpp:302. The function in there calls the constructor explicitly, but clang 5.0 doesn't like the syntax. And in fact, the c

[2017-11-05 21:32] am11 commented on #14757
Thanks for this info Jan, I am also trying to make sure when next release of Alpine (3.7) is out with LLVM 5, we don’t miss any patch for coreclr and corert.

The llvm patch you mentioned above is being applied to the ongoing llvm5 port in aports repo. Would you remove __declspec(selectany) from coreclr repo or was it an offline experiment? If it is the former, we can stop adding more patches to l

[2017-11-05 22:22] janvorli commented on #14757
@am11 it was just an experiment to see what else is possibly broken. I've also tried to replace it with the [[selectany]] attribute that I think would work even with the unpatched llvm 5.0, but that attribute needs to be used in a little different context (in front of a variable name instead of the whole declaration) and so I cannot just change the existing `#define SELECTANY` to use it.
The inter

[2017-11-05 22:32] BruceForstall commented on #14757
@janvorli
[code]

It seems like that's not necessary, or correct. Perhaps in the past it was, before all the PAL EH macros went in, for example.

@sandreenko Any ideas? Want to fix it?

[2017-11-05 22:43] BruceForstall commented on #13604
With a current Windows arm32 Checked build and pri-1 test run, I see the following failures:
[code]

11135 tests pass.

All failures look like this:
[code]

They are not timeouts.

[2017-11-05 23:33] Rattenkrieg commented on #14806
@swgillespie

I don't think my failures somehow related to your recent contribuiton since I've branched from f5b7f8ba68688382e57999e33ae39f46ddadd47a (13 Sep)

If I surround everything in `src/gc/env/gcenv.object.h` with conditional define to be able to include it multiple times and then include it in, say `src/gc/stringdeduptable.cpp` I get errors such as following:

<details>
  <summary>Full lis

[2017-11-06 02:11] shravan2x commented on #14738
@Suchiman I think your issue is unrelated, you should consider filing a separate issue.

@janvorli Thanks for explaining, that makes a lot of sense. So if only 20G of heap space is reserved, how does .NET Core handle applications that use 20GB+?

[2017-11-06 02:54] sjsinju commented on #13653
@hqueue Yes it was resolved. Thank you.

[2017-11-06 02:54] #13653 closed

[2017-11-06 02:59] sjsinju commented on #13952
@jashook It has resolved and the tests mainv1/2 was reopened in #13933. If there are not any problems, you can close this issue.

[2017-11-06 05:33] YongseopKim commented on #14665
@BruceForstall Sorry for delaying. I've started something different work. Anyone can take this instead of me.

[2017-11-06 07:40] sandreenko commented on #14757
Yes, I will clean the part with explicitly constructors in the spmi code.

[2017-11-06 07:53] cscer commented on #13969
@AndyAyersMS

sorry for the late reply.

The complete project can reproduce the issue, but the complete project is very large.

I tried to write a project to reproduce the issue, but did not succeed.

I think there are still a number of bugs in netcore or there are differences with the full framework, and vs2017 is not stable enough.

I've stopped migrating this project to Netstandard and reused n

[2017-11-06 12:35] stilettk opened #14876 "List<T>: Improve InsertRange performance of lazy IEnumerable"
### Description
Currently when passing `IEnumerable` to `InsertRange` the following algorithm is used:

- If `IEnumerable` is inserted to the end of a list (`index == _size`), it enumerates it and appends elements to the end of underlying array.
- If `IEnumerable` is inserted in the middle of list (`index < _size`), it simply enumerates it and calls `Insert` for each element.

The second approach

[2017-11-06 13:20] MaximRouiller commented on #917
![It's happening!](https://i.imgur.com/sDpuY8i.gif)

AWESOME!

[2017-11-06 13:38] jkotas commented on #10046
Related to https://github.com/dotnet/corefx/issues/23954. We can use the corefx issue to discuss whether customization of collection growth policies makes sense.

[2017-11-06 13:38] #10046 closed

[2017-11-06 13:42] jkotas commented on #10046
BTW: The process for proposing new APIs is described here: https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/adding-api-guidelines.md

[2017-11-06 13:45] jkotas commented on #14517
Agree.

[2017-11-06 13:45] #14517 closed

[2017-11-06 13:49] #14508 closed

[2017-11-06 14:04] jkotas commented on #14257
This is fixed in .NET Core. Ports to .NET Framework are tracked in MS internal bug database.

[2017-11-06 14:04] #14257 closed

[2017-11-06 14:58] 4creators opened #14878 "[Crossgen] Support multithreaded crossgen compilation"
Currently crossgen runs compilation as a single threaded task. It would significantly improve performance of several crossgen dependent scenarios if crossgen native component compilation could be run as a multi threaded task.

[2017-11-06 16:04] CarolEidt commented on #14372
Fixed with #14851.

[2017-11-06 16:04] #14372 closed

[2017-11-06 17:45] 4creators opened #14884 "[Infrastructure] Add header files to native Visual Studio coreclr projects"
Currently CMake is used according to standard pattern where only `.cpp` file are included into targets with library or executable. However, this pattern breaks some usability of CMake created Visual Studio projects since they do not include header files by default and it is necessary to search for them in VS project dependencies directory containing several hundred files or scroll to top of code f

[2017-11-06 17:45] 4creators commented on #14884
cc @weshaggard @janvorli

[2017-11-06 17:58] benaadams commented on #14878
Would need either opt-out or opt-in; as causes problems when analyzing the Jit output/decisions (e.g. the Jit will concurrently compile methods at runtime if parallel operations are using different paths and the informational output will get intermingled)

[2017-11-06 18:04] JosephTremoulet commented on #14770
We got better about optimizing the bounds checks from the span indexer by making it an intrinsic, but we didn't do anything about the bounds checks in `Slice` or this one in the ctor.  We could consider adding `void System.Runtime.CompilerServices.BoundsCheck(int index, int length)` or somesuch, that does the compare and conditional throw, marking it `[Intrinsic]` and importing it directly to `GT_

[2017-11-06 19:21] adiaaida commented on #14581
Pgo has been reenabled.

[2017-11-06 19:25] #14581 closed

[2017-11-06 20:04] steveharter opened #14886 "Support PGO instrumented build"
From https://github.com/dotnet/core-setup/issues/3213

_From @dpodder on September 14, 2017 5:57_

We're trying to remove a hacky workaround in CoreCLR for producing a runnable, instrumented runtime for PGO training on Windows (the hack is copying pgort140.dll side-by-side with coreclr.dll). Normally, pgort is supposed to be loaded from PATH. However, if we create a CLI drop that includes an instr

[2017-11-06 20:06] steveharter commented on #14886
From @janvorli https://github.com/dotnet/core-setup/pull/3230:

@steveharter I've actually spent some time this morning thinking about possible solutions that would not lower the security and fix the problem. And it seems that we can do that with the help of delay loading. We would enable delay loading for the pgo dll when building coreclr.dll with PGO enabled. We would then override the delay loa

[2017-11-06 20:56] #11389 closed

[2017-11-06 22:00] PaulHigin opened #14889 "PowerShell hangs on exit because finalizer is not called using dotNet CLR 2.0.4"
I don't know if this is related to Issue #14763, but it looks like this recent version of the CLR is not calling finalizers.  This is causing PowerShell to hang in some cases (https://github.com/PowerShell/PowerShell/issues/5205).

Repro:
[code]
Set a breakpoint on ~TestC1() and it never gets called.

[2017-11-06 22:07] CarolEidt commented on #14665
I am unable to reproduce this in the arm altjit on Windows. When/if we are able to repro this, it would be good to get a sense of why not.

[2017-11-06 22:28] #9032 closed

[2017-11-06 22:31] BruceForstall commented on #14665
It appears in a few recent Windows ARM native tests (run on 11/3):

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_jitstressregs1_prtest/5/
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_jitstressregs4_prtest/6/
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windo

[2017-11-06 22:47] AndyAyersMS opened #14890 "JIT: consider optimizing constructor pattern for struct creation"
Currently if you newobj a struct via a constructor call the jit assumes the struct's old value may be read during the construction of the new value. So the pattern emitted is:
[code]

When the final destination is register promoted all this tends to get cleaned up, but when the final destination can't be register promoted the code the jit produces can be surprisingly large and slow.

For instance,

[2017-11-06 22:56] daxian-dbw commented on #14889
A clarification: the original powershell issue https://github.com/PowerShell/PowerShell/issues/5205 was reported with powershell-beta.8 package which targets .NET Core runtime 2.0.0, so this issue is not specific to 2.0.4 servicing packages.

[2017-11-06 23:06] jkotas commented on #14889
This is behavior is by design in .NET Core. .NET Core does not have finalization on shutdown because of it is impossible to do it reliably. It has been like that since .NET Core 1.0.

https://github.com/dotnet/corefx/issues/5205 has details.

[2017-11-06 23:06] #14889 closed

[2017-11-06 23:09] PaulHigin commented on #14889
Regarding repro, debuggerAttached is set to "true" after debugger attach.  System.Diagnostics.Debugger.IsAttached will work too.

[2017-11-06 23:16] PaulHigin commented on #14889
@jkotas I didn't read the entire 5205 issue.  When you say running finalizer threads on shutdown is not reliable on dotnet Core, do you mean it is less reliable than what was implemented in the FullCLR?  Or that it can never be completely reliable?  I don't mind that it is never fully reliable because it works well enough and PowerShell has been working fine for years with the FullCLR finalizer on

[2017-11-06 23:49] jkotas commented on #14889
It can never be completely reliable. It is not reliable even in the full CLR. It is frequent source of the shutdown hangs and crashes there. If you check Windows telemetry about hangs and crashes during powershell shutdown, I expect that you will find good number of them caused by this issue.

If there are specific actions you need to execute during shutdown, the recommendation is to register them

[2017-11-06 23:55] PaulHigin commented on #14889
Ok.  I think we can use AppDomain.DomainUnload.Unload event to do clean up.  Thanks.

[2017-11-07 00:38] #11263 closed

[2017-11-07 02:00] jkotas commented on #14878
A pretty important property of a compiler is that it needs to produce repeatable (ideally byte-to-byte identical) results. This is not trivial to achieve with multithreaded compilers.

The crossgen compiler driver is not designed to be multi-threaded in pretty fundamental ways.

The most realistic way how to achieve this is to teach CoreRT compiler to produce images for CoreCLR. It was designed to

[2017-11-07 02:24] jkotas commented on #14870
I would recommend to use https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/UsingYourBuild.md#update-coreclr-from-raw-binary-output . This is what I have been doing personally for testing or debugging, and it is easiest way to use private coreclr build in an app.

This error means that the debug build of CoreCLR.dll is used together with release build of System.Private.CoreLib.dl

[2017-11-07 02:29] jkotas commented on #14870
We try to keep the instructions up to date. If you find some that are outdates, please create an issue or even better submit PR to correct it. Thank you!

[2017-11-07 03:18] sdmaclea commented on #14607
`emit_R_S()` & `emit_S_R()` definitely use `IP1` (reserved register) when the frame size exceeds the range of the immediate encoding within the the LD/ST immediate forms.

These are not reserved via LSRA.

[2017-11-07 06:09] #14626 closed

[2017-11-07 07:16] tannergooding opened #14895 "[Question] Why are we getting the number of cores, rather than the number of logical processors?"
In our build script, we are calling `wmic cpu get NumberOfCores`: https://github.com/dotnet/coreclr/blob/5a01d8a39576f0d07441e4d123a90138f4ae0735/build.cmd#L323

This seems like the wrong thing to be grabbing as it fails to return the proper number of cores for a machine with SMT (simultaneous multi-threading) support (machine will be under-utilized).

It will also report an incorrect number of co

[2017-11-07 15:05] #14074 closed

[2017-11-07 17:38] fbuyvolkot commented on #14763
Hi @sywhang

Can you please tell how to specify a specific runtime to be used by a process?
After installing 2.0.4 runtime, coreclr.dll still loads from C:\Program Files\dotnet\shared\Microsoft.NETCore.App\2.0.0

Thanks

[2017-11-07 18:27] 4creators commented on #14895
The code for optimizing native build has to tackle `entanglement` of MSBuild and CL parallelizm control to get any significant performance and memory usage improvements.  By `entanglement` I understand that it is difficult to control native solution build parallelism in any other way than by `/maxcpucount:x` MSBuild command line parameter. In currently used solution this was `disentangled` by usin

[2017-11-07 18:35] BruceForstall commented on #14810
Fixed with https://github.com/dotnet/coreclr/pull/14873

[2017-11-07 18:35] #14810 closed

[2017-11-07 18:38] BruceForstall commented on #9711
@jashook I assume you are not actively working on this, in which case I suggest un-assigning yourself as owner.

[2017-11-07 18:41] #8255 closed

[2017-11-07 19:09] brianrob commented on #14327
Yes, I expect us to map each EventSource event to an individual tracepoint once this is possible.  Yes, you're right this requires an updated LTTng, but it's something that we can require on a release boundary.

I think an overview of what uses ETW_TRACING_CATEGORY_ENABLED is good - specifically the types of uses so that we can try to come up with a good pattern on how to replace them.

[2017-11-07 20:07] mikedn commented on #14100
What exactly is this about? ARM32 doesn't have a direct equivalent of CSET/SETcc, it needs a sequence of instructions (either using IT or conditional branches).

[2017-11-07 20:10] sandreenko commented on #14783
Can be repro with `complus_jitstressmodenames=STRESS_LEGACY_INLINE`, this mode just increases inlining limits, so the issue can be hit without stress mode.

The problem is that for such set of inlinings andtail call optimizations:
[code]

if `call2` has several 'BBJ_RETURN blocks ', in this case we create asg from call3 result to lvaInlineeReturnSpillTemp  when tailCall doesn't expect anything bet

[2017-11-07 20:12] sdmaclea commented on #14100
If you look at #14101, you can see ARM64 code duplication is eliminated using the pseudo instruction `inst_SET`.  ARM32 doesn't have the function, so code is more complicated.

[2017-11-07 20:13] sdmaclea commented on #14100
The duplication may have been separately eliminated by your rework of relops

[2017-11-07 20:20] mikedn commented on #14100
OK, so if I understand correctly this is just about moving duplicated code from `genSetRegToCond` and `genCodeForSetcc` to `inst_SET`. I can take care of this.

[2017-11-07 20:24] AndyAyersMS commented on #14103
Thanks to #14890, the jit allocates two structs on the stack for each initialization (I wanted to verify that temp growth here is only linear, thankfully it is...).

So the ~33,000 initializer tuples create ~66,000 structs on the stack, each 16 bytes. These require around 1,056,000 bytes of stack frame and puts this method over the 1MB default size limit and hence causes stack overflow.

The best

[2017-11-07 21:08] AndyAyersMS commented on #14103
One more thing occurred to me -- I'll note it here on the off chance that it is helpful. The jit is very conservative about optimizing class constructors, since it knows they will only run once. So moving the initialization to a helper method at least allows the jit to think about optimizing.

Unfortunately the method is large enough that the jit decides not to optimize and we end up with more or

[2017-11-07 21:30] CarolEidt commented on #14665
What should have been obvious to me is that this is asserting in a method that is an intrinsic on x86/x64, so when running these tests with the altjit they are not compiled.
I was able to repro the failure with `COMPlus_FeatureSIMD=0`

[2017-11-07 22:19] sywhang commented on #14763
Hi @fbuyvolkot ,

You could try adding the ```<RuntimeFrameworkVersion></RuntimeFrameworkVersion>``` tag to your .csproj file, and specify the runtime version to ```2.0.4-servicing-24831-01``` or whichever runtime version you've installed.

An alternative hack is to just replace the coreclr.dll in the 2.0.0 directory although I wouldn't recommend doing that.

[2017-11-07 22:56] swgillespie commented on #11519
Triage:

I'm not really sure what `WRITE_BARRIER_CHECK` even does and it does not appear that it's used very often. If a runtime dev wants to use it, they don't have to use a standalone GC.

That said, enabling this feature will require a breaking change to the EE/GC interface.

[2017-11-07 22:58] swgillespie commented on #11517
Triage:

I don't believe that this feature can be tested with CoreCLR - as far as I am aware it is a .NET Framework-only feature. Even if it were to be implemented for 2.1, I can't think of any way to ensure that it works.

[2017-11-07 22:59] swgillespie commented on #11516
Triage:

This issue is blocked on #10403. It is not desirable to stabilize the current semantics of `STRESS_HEAP` by exposing implementation details on the EE/GC interface.

[2017-11-07 23:00] swgillespie commented on #11515
Triage:

This is an important feature for 2.1, if only to prevent issues like https://github.com/dotnet/coreclr/pull/14777 and https://github.com/dotnet/coreclr/pull/14747 from occuring (though obviously the ideal shipping configuration is for profiling to work with a standalone GC).

[2017-11-07 23:01] swgillespie commented on #11514
Triage:

This is critical to finish for 2.1. I am in the process of coming up with a strategy for this that I hope to begin putting into motion at the start of next week.

[2017-11-07 23:05] swgillespie commented on #11511
Triage:

This issue does not require changes to the GC/EE interface but is desirable for performance on very high-scale machines. @janvorli 's changeset is still an excellent starting point.

Ultimately, as Jan's changeset indicates, NUMA and CPU group awareness should be implemented in `GCToOSInterface`.

[2017-11-07 23:06] swgillespie commented on #8358
This has been addressed and can be closed.

[2017-11-07 23:06] #8358 closed

[2017-11-07 23:11] lt72 commented on #14490
@mikem8361 to investigate

[2017-11-07 23:12] swgillespie commented on #11518
Tracking remaining issues:

* [Local GC Issue Query](https://github.com/dotnet/coreclr/issues?utf8=%E2%9C%93&q=%5BLocal%20GC%5D%20in%3Atitle%20is%3Aissue%20is%3Aopen)
* [Local GC PR Query](https://github.com/dotnet/coreclr/pulls?q=%5BLocal+GC%5D+in%3Atitle+is%3Apr)
* [Local GC 2.1.0 Issue Query](https://github.com/dotnet/coreclr/issues?utf8=%E2%9C%93&q=%5BLocal%20GC%5D%20in%3Atitle%20is%3Aissue%20

[2017-11-07 23:16] swgillespie opened #14909 "[Local GC] GCToOSInterface TODO: GetLargestOnDieCacheSize"
Implementations need to be:
* [POSIX](https://github.com/dotnet/coreclr/blob/master/src/gc/unix/gcenv.unix.cpp#L399-L403)
* [Windows](https://github.com/dotnet/coreclr/blob/master/src/gc/windows/gcenv.windows.cpp#L378-L388)

The largest on die cache size influences the size of gen0 and thus this is a performance feature.

[2017-11-07 23:18] swgillespie opened #14910 "[Local GC] GCToOSInterface TODO: GetLogicalCpuCount"
Implementations need to be:
* [Windows](https://github.com/dotnet/coreclr/blob/master/src/gc/windows/gcenv.windows.cpp#L231-L236)

The number of logical CPUs influences the size of Gen 0.

[2017-11-07 23:21] swgillespie commented on #8362
closed in favor of newer issues.

[2017-11-07 23:21] #8362 closed

[2017-11-07 23:21] lt72 commented on #12610
@davmason: this should be complete, but for the tests... ?

[2017-11-07 23:22] lt72 commented on #12110
@davmason: PTAL

[2017-11-07 23:23] swgillespie commented on #11518
Project is also updated: https://github.com/dotnet/coreclr/projects/3

[2017-11-07 23:27] lt72 commented on #12009
@mikem8361: PTAL

[2017-11-07 23:33] #11475 closed

[2017-11-07 23:42] lt72 commented on #7360
We will re-open when .Net Core on ARM64 is a committed deliverable.

[2017-11-07 23:44] lt72 commented on #6469
@mikem8361: please verify that the debugging instructions for linux are at the desired quality level and add the link to the symbols page.

[2017-11-07 23:48] lt72 commented on #6166
Completed.

[2017-11-07 23:48] lt72 commented on #6165
Completed.

[2017-11-07 23:48] #6165 closed

[2017-11-07 23:50] lt72 commented on #5659
This should be fixed, please re-open if you find out it is still causing troubles.

[2017-11-07 23:50] #5659 closed

[2017-11-07 23:51] lt72 commented on #5147
This is likely an issue in the assert.

[2017-11-07 23:56] lt72 commented on #3165
@gregg-miskelly: this issue did not see any action fora long time and size on disk is not a concern for 2.1. Do you still need this change or should we close it?

[2017-11-07 23:58] rartemev commented on #13592
Why don't we inline WriteBarriers into jitted code and using runtime helper instead? I believe it would be the best optimization.

[2017-11-08 00:00] lt72 commented on #445
It seems we need to create a dedicated documentation page in CoreCLR repo.

[2017-11-08 00:02] sdmaclea commented on #13592
These are the runtime helpers that need to be optimized

[2017-11-08 00:13] CarolEidt commented on #14665
This assert is happening in `gtSetEvalOrder()` which is being called after a statement is remorphed following constant propagation. It calls `gtWalkOp()` 3 times, with different arguments, which marks inner nodes with `GTF_ADDRMODE_NO_CSE` and modifies its arguments. It has a function header that ends with:
[code]
Which doesn't inspire confidence, especially since it is an old-style C comment, so

[2017-11-08 00:14] jkotas commented on #13592
@rartemev It may make sense for higher tiers of the JIT eventually. It does not make sense for the default optimization level because of it would lead to significant code bloat.

In additional to the code bloat factor, we are getting the following benefits from using the central helper:
- The central helper can be patched to adjust for changing GC heap geometry. Inlined write barriers would requir

[2017-11-08 00:14] lt72 commented on #7426
Please re-open if this is still a concern.

[2017-11-08 00:14] #7426 closed

[2017-11-08 00:15] lt72 commented on #7703
Please let us know if this is still a concern and what the time frame is that you care about.

[2017-11-08 00:15] lt72 commented on #7704
Please let us know if this is still a concern and what the time frame is that you care about.

[2017-11-08 00:15] lt72 commented on #7705
Please let us know if this is still a concern and what the time frame is that you care about.

[2017-11-08 00:28] gregg-miskelly commented on #3165
I opened the bug for the CLR's benefit. So do what you want with it.

[2017-11-08 00:30] mikem8361 commented on #14490
@ashishnegi: Is there anyway you could attach the core dump? I would need it to debug why clrstack isn't working.

[2017-11-08 00:31] #3165 closed

[2017-11-08 00:31] #3223 closed

[2017-11-08 00:33] swgillespie commented on #14806
Ah! I think what you'll want to do is put `StringObject` into `gcenv.object.h` like you're doing but also include just `gcenv.h` in `stringdeduptable.h`. It's pretty unfortunate that the header hygiene isn't that good in this area, but I think that this should solve the immediate problem.

A version of `gcenv.h` is provided by both the VM and the GC. When building standalone, `gcenv.h` includes `g

[2017-11-08 00:33] BruceForstall commented on #14665
😄 I wrote that comment in January 2012 -- so obviously _I_ don't like this function!

Did you see why arm32 is different from x86?

[2017-11-08 00:36] CarolEidt commented on #14665
I haven't gone down that path yet, but I believe the issue is that `genCreateAddrMode()` does different things for ARM.

[2017-11-08 01:00] CarolEidt commented on #14665
It is indeed the fact that on x86, `genCreateAddrMode()` behaves differently. Specifically, it folds the adds into its virtual address mode. It doesn't do this on ARM because not all addressing modes are supported.
I think there are two ways to fix this:
1. Disable the morphing of LSH(ADD(x,2),2) into ADD(LSH(x,2),8) (the `GT_LSH` case in `fgMorphSmpOpOptional`), or
2. Try to fix `gtWalkOp()`.

I'

[2017-11-08 01:45] swgillespie opened #14915 "[Local GC] Unhandled exception in standalone GC causes a deadlock"
When not running standalone, an unhandled exception in the GC is caught by the vectored exception handler [here](https://github.com/dotnet/coreclr/blob/master/src/vm/excep.cpp#L7802) which ultimately causes an assert failure, e.g. (seen here with an AV inserted into `WKS::GCHeap::Promote`):

[code]

When running standalone, for whatever reason, this vectored exception handler is not invoked and in

[2017-11-08 01:47] swgillespie commented on #14915
Marking this as 2.1 as this is really annoying for developers (*this* developer, at least...).

[2017-11-08 01:58] swgillespie commented on #14915
Ultimately it looks like we'll only assert/ExecutionEngineException if the faulting IP lies within `coreclr.dll`:
https://github.com/dotnet/coreclr/blob/master/src/vm/excep.cpp#L7901

@jkotas @janvorli @RussKeldorph I'm wondering, is there a protocol for dealing with unhandled exceptions in modules external to the CLR itself but still part of the runtime, like in a standalone JIT?

[2017-11-08 02:35] BruceForstall opened #14916 "[RyuJIT/arm32] Test and automate testing of arm32 crossgen of all framework assemblies"
Currently, crossgen of System.Private.CoreLib.dll is done using the legacy arm32 JIT.

We need to test crossgen using RyuJIT/arm32:

1. Crossgen System.Private.CoreLib.dll and run all test flavors with this.
2. Crossgen all framework assemblies: (a) check for asserts, (b) run tests this way.

build.cmd contains an old "altjitcrossgen" argument that we used for (1), probably for RyuJIT/x86 testing

[2017-11-08 02:35] BruceForstall commented on #14916
@dotnet/arm32-contrib

[2017-11-08 02:52] BruceForstall commented on #14856
Note that GCStress=C for RyuJIT/arm32 is actually testing the System.Private.CoreLib.ni.dll generated by crossgen.exe using the legacy arm32 back-end. There are already a number of issues opened to cover that case:

https://github.com/dotnet/coreclr/issues?utf8=%E2%9C%93&q=is%3Aopen%20is%3Aissue%20label%3Aarch-arm32%20label%3Agcstress%20label%3A%22legacy%20backend%22

[2017-11-08 03:08] BruceForstall opened #14917 "[RyuJIT/arm32] Add protojit build to cross components build"
We need to be able to use `COMPlus_AltJitNgen=*` when running x86-hosted arm-targeted crossgen of System.Private.CoreLib.dll (and others), so we need a proper JIT to be built and dropped to the bin\Product\Windows_NT.arm.debug\x86 directory (for example), next to crossgen.exe as with clrjit.dll.

[2017-11-08 06:23] MaitreDede opened #14923 "DllImport on raspbian stretch failing"
Hi,
I am trying to run an application on raspbian stretch (latest current version).
I have a simple program that tries to load `libbrcmEGL.so` :
[code]

The library is `ln -s /opt/vc/lib/libbrcmEGL.so`

[code]

Result is :
[code]

I have native apps that uses `libbrcmEGL` and works fine, but my app does not.

How can I diagnose the problem ?

Thanks.

[2017-11-08 07:26] jkotas commented on #14915
There is no protocol today. Standalone JIT has been responsible for its own internal exception handling.

[2017-11-08 08:23] Alecu100 commented on #14870
Hello,

Thanks for replying! Will look into this as soon as I get home. Maybe I will even do a post on my blog about setting up and running a custom CoreCLR.

[2017-11-08 08:23] #14870 closed

[2017-11-08 10:58] benaadams commented on #14890
Language-wise; C# for example, forces complete initialization of all fields in the .ctor

I assume the object initialization pattern would be a wrinkle
[code]
And require zero init + assignment; rather than just assignment? (Though shouldn't block operating directly on destination)

[2017-11-08 12:57] ygc369 commented on #14890
@AndyAyersMS
I think C# should allow to use C-style struct constructor to tell the compiler explicitly to initialize a struct just in place.
For example:
[code]

[2017-11-08 13:11] benaadams commented on #14890
@ygc369 you'd need to file that in the https://github.com/dotnet/csharplang repository as its language syntax rather than runtime

[2017-11-08 13:21] benaadams commented on #14890
@ygc369 you'd need to file that in the https://github.com/dotnet/csharplang repository as its language syntax rather than runtime

For same effect can currently do
[code]
The issue I was seeing with object initialization is
[code]
Doesn't need to fully initialize all the fields; so if it was a struct of 20 fields, can init 5 for example. However its probably faster to zero init all off them contig

[2017-11-08 16:03] AndyAyersMS commented on #14890
Didn't mean to imply that the zero init is never necessary, just that frequently the subsequent code overwrites all the zeros and so (modulo some assumptions about GC safe points) those zero init stores are dead.

For zero init there is also the question of whether you can zero field by field or some kind of whole struct block init, and whether or not you should zero any padding voids.

[2017-11-08 16:10] benaadams commented on #14890
Was just highlighting maybe a useful corner case example.

I'd love to see this optimization as its a pretty common pattern when using a struct .ctor (with params)

[2017-11-08 16:17] eerhardt opened #14926 "Debugging a stackalloc line takes multiple F10s"
I’ve been debugging some code that looks like:

[code]

When debugging, it is taking multiple “F10”s in the debugger to get over the stackalloc lines.  I’ve noticed that it grows as the more memory is alloc’d.  But even in the small case (alloc’ing 1 element), it still takes roughly 5 times of hitting “F10” to get past the line.

I’m using:
- .Net Core 2.1.0-preview1-25907-02
- Microsoft Visual St

[2017-11-08 16:32] tarekgh opened #14927 "Allow enabling Globalization invarinat mode using environment variable"
Currently, we support enabling the globalization invariant mode through app config switch. we need to have a way to enable this globally to use it in the Alpine docker image. The way we are going to support that is by allowing enabling the mode through a global environment variable.

The way this will work is:

- if the application declared the app config switch ```System.Globalization.Invariant``

[2017-11-08 16:48] #3482 closed

[2017-11-08 16:48] #14441 closed

[2017-11-08 16:53] chrisbrook83 commented on #14763
Hi @sywhang

I'm trying to test out the `servicing` release too, from here:
https://github.com/dotnet/core-setup/blob/release/2.0.0/README.md#officially-released-builds

When I set up the project with the appropriate RuntimeFrameworkVersion, it no longer builds with the familiar error:
```The type 'Object' is defined in an assembly that is not referenced. You must add a reference to assembly 'nets

[2017-11-08 17:02] jkotas opened #14930 "IsSupported needs to return false for not-yet-implemented intrinsics"
Repro:

[code]

Actual result: Invalid program exception
Expected result: succeeds

It is very hard for folks to experiment with this otherwise. And we would have to do this before shipping .NET Core 2.1 for non-yet-implemented intrinsics anyway.

[2017-11-08 17:12] RussellHaley commented on #11305
ping!
I see now there is an "Important" tag already (the shame!), perhaps someone can add the class ID error so that when it occurs the user has reference in the instructions?

 ** Note: if you receive the following error, you have failed to register the class noted above:
[code]
**

[2017-11-08 17:33] jkotas commented on #14923
You can use `ldd -r` to find out why the .dll is not loading.

More context https://github.com/dotnet/coreclr/issues/10520#issuecomment-290684429

We should add more actionable error message here. This is frequently hit problem / frequently asked question.

cc @russellhadley

[2017-11-08 17:52] Petermarcu commented on #14927
Its still important that the application setting wins over the environment and a proper error is displayed if an application author explicitly said they do or don't want invariant mode. In the case that nothing was specified (which is the default case) then the environment should be able to select the default.

[2017-11-08 17:57] Petermarcu opened #14932 "Add support for ARMv6"
@ivpadim commented on [Tue Nov 07 2017](https://github.com/dotnet/core/issues/1066)

# Include support for ARMv6

This was mentioned a while ago (issue [667](https://github.com/dotnet/core/issues/667)).
Is there a plan to support ARMv6?
The only option right now is to install mono which works ok.

[2017-11-08 20:04] MaitreDede commented on #14923
Hi,
I have found why it does not load : the lib tries to map a symbol that does not exists.
The anwser that gave me the solution is [here](https://stackoverflow.com/a/14623998/1199210).

I have made a simple C program to help me find the right libraries I need, and I found that I have to load `libbrcmGLESv2`before `libbrcmEGL`, so I don't get the error.

[2017-11-08 20:09] MaitreDede commented on #10520
Hi, I think that if you can get the error message, you can add it.
For example, I had [a problem](https://github.com/dotnet/coreclr/issues/14923) loading a library on linux, and it would have saved me lots of time if I had the error message why the library failed. I wrote a small native program to call myself `dlopen`/`dlerror` to figure out why the lib was not loading...

[2017-11-08 20:10] Rattenkrieg commented on #14806
@swgillespie that worked with minor remark - `gcenv.h` have to be included in .cpp files rather than .h
Thank you!

[2017-11-08 20:10] #14806 closed

[2017-11-08 20:33] rartemev commented on #13213
Fixed in #14347

[2017-11-08 20:33] #13213 closed

[2017-11-08 20:35] GetCodeTrack commented on #14763
hi @sywhang ,

I finally found the time to test CodeTrack again with 2.0.4-servicing-25831-01.
Just running dotnet.exe is loading 2.0.0 as before and setting<RuntimeFrameworkVersion></RuntimeFrameworkVersion> in the csproj file gives me build errors.

The good news though: if I replace the coreclr.dll in the 2.0.0 (like you told us not to :-)), the profiler works fine.

So I guess the fix is good,

[2017-11-08 23:36] sandreenko commented on #13826
The same problem happens with `compStressCompile` that is called from `m_inlineStrategy = new (this, CMK_Inlining) InlineStrategy(this);` and uses for example `compiler->verbose` that is not initialized at this moment.

[2017-11-09 00:13] noahfalk opened #14947 "Tiered Jitting: Fix IL to native mapping for ETW"
ETW emits a Native->IL mapping data for each jitted version and doing code review I can see that it probably isn't emitting the correct mapping.

https://github.com/dotnet/coreclr/blob/master/src/vm/eventtrace.cpp#L6667

The signature of this method uses a MethodDesc and a ReJITID, neither of which is a strong enough identifier to isolate which version of tiered jitting code is being refered to. W

[2017-11-09 00:14] sdmaclea commented on #14332
My tip is approaching 90% pass rate on SIMD tests.  All of my current changes are uploaded.

[2017-11-09 00:38] vancem commented on #11305
Note that the root cause for this is that there is a tool called DacTableGen in the microsoft.dotnet.buildtools.coreclr package  which uses a COM object to open symbols, and is using an old version of this library (msdia120.dll).   This was current in VS2015 but VS2017 has moved on to msdia140.dll (which has a different COM GUID.

The fundamental problem is that DacTableGen should bundle and insta

[2017-11-09 00:42] sywhang commented on #14763
@GetCodeTrack @chrisbrook83

Sorry about that -- I repro'd your issues and found a quick workaround -- you can rename the directory ```C:\Program Files\dotnet\shared\Microsoft.NETCore.App\2.0.4-servicing-24831-01``` to simply ```C:\Program Files\dotnet\shared\Microsoft.NETCore.App\2.0.4``` (and please also remove the ```<RuntimeFrameworkVersion>``` tag in your .csproj file too!)
Then it should be

[2017-11-09 00:58] shaggygi commented on #14932
Referencing https://github.com/dotnet/coreclr/issues/10605

[2017-11-09 01:05] jkotas commented on #14932
Duplicate of #10605

[2017-11-09 01:05] #14932 closed

[2017-11-09 02:29] GCCFeli opened #14950 "Build CoreCLR for iOS"
Is there any plan to get an iOS build?

[2017-11-09 03:35] ivpadim commented on #10605
I agree you should include support for ARMV6. I want to run dotnet core in the Pi Zero right now I'm stuck with mono.

[2017-11-09 06:45] adamtuliper commented on #8565
On version 2.0.2, I don't get the ctrl-c pressed message, does this fail for anyone else?

[2017-11-09 06:47] Sunny-pu commented on #12472
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171109.01/workItem/CoreMangLib.system.XUnitWrapper

[2017-11-09 07:33] hqueue opened #14955 "[RyuJIT/armel] Assertion failed 'argValue->TypeGet() == TYP_STRUCT'"
`JIT/Methodical/tailcall/_il_dbgtest_3b/` fails in `armel` with RyuJIT.

In Checked, following tests failed with an assertion as follows.
[code]

In Release, the test fails with segmentation fault as follows.
[code]

[2017-11-09 07:34] hqueue commented on #14955
@hseok-oh Is this a known issue?  or related to other tail call issues?

/cc: @dotnet/arm32-contrib

[2017-11-09 08:10] xflytang opened #14956 "The behavior of the "await stream.WriteAsync or await stream.ReadAsync" function is inconsistent for "async void" between donetcore1.0 and donetcore2.0"
**Why the results differ between 1.0 and 2.0?**
test code:
[code]

[2017-11-09 09:19] damageboy opened #14957 "[JIT] ref return indexing into array runs more slowly than non-ref return"
Basically trying to test the diffrence between:

Code is [here](https://github.com/damageboy/refslowness)

Plain vanilla indexing into array:
[code]

And a ref version of the same thing:
[code]

# Non ref:
BenchmarkDotNet=v0.10.10, OS=Windows 10 Redstone 3 [1709, Fall Creators Update] (10.0.16299.19)
Processor=Intel Core i7-7700HQ CPU 2.80GHz (Kaby Lake), ProcessorCount=8
Frequency=2742186 Hz, Res

[2017-11-09 09:21] xflytang commented on #14956
![dotnet-process](https://user-images.githubusercontent.com/30112636/32597672-509e4834-c572-11e7-97ed-32541f538ba8.PNG)

[2017-11-09 10:06] ctemple commented on #2502
i think i got same question
code like this
catch exception on windows/.net 4.0,this is good
but crash on windows/dotnetcore 2.0,this is not good
need this feature to handle golang dll defer recover() functions

        [DllImport("kernel32.dll")]
        static extern void GetCurrentDirectory(int length, string dir);

        static void foo()
        {
            GetCurrentDirectory(256, null);

[2017-11-09 12:09] mikedn commented on #14956
You seem to assume that async I/O operations always complete asynchronously and thus the completion code (Sleep and WriteLine) always run on a different thread than the thread that initiated the async I/O operation.

Async I/O purpose in life is to avoid blocking an existing thread for long periods of time, not to force the completion to run on a separate thread. If you want use appropriate means,

[2017-11-09 12:12] mikedn commented on #14957
I ran your code on a current CoreCLR build and the code generated for the test loop is identical:
[code]

[2017-11-09 12:30] damageboy commented on #14957
I just tried to recreate the results again and it doesn't happen anymore after getting the same results for 30 minutes of runs....
I'll try to recreate again....

[2017-11-09 12:43] damageboy commented on #14957
I went back to the same version, on the same machine and cannot re-create this right.
I feel stupid, but it actually happened in a repeatable way.

i guess my lesson here is to not submit these sort of issues before I have a disassembly that shows the issue...

I'm extremely sorry for wasting your time @mikedn

[2017-11-09 12:43] #14957 closed

[2017-11-09 12:49] mikedn commented on #14957
Yeah, unfortunately benchmarking can produce weird results sometimes. When possible, always consult the generated assembly code. And even if the code is identical it's still possible to get surprises (e.g. identical code but with different alignment can produce different results).

No problem.

[2017-11-09 13:01] hqueue commented on #14862
I've ran above tests on Raspberry pi with RyuJIT `COMPlus_JitStress=1`.

## 1.  Checked build

### 3 tests are skipped.
[code]

- Exclude with `testsFailingOutsideWindows.txt`
  GC/Features/BackgroundGC/foregroundgc/foregroundgc.sh
  GC/Regressions/dev10bugs/536168/536168/536168.sh

- Exclude with `testsUnsupportedOutsideWindows.txt`
  managed/Compilation/Compilation/Compilation.sh

### 11 tests a

[2017-11-09 13:25] hqueue opened #14960 "[RyuJIT/ARM32][JitStress=1] JIT/CodeGenBringUpTests/DivConst/DivConst.sh"
From #14862, following test is failed with a incorrect result.

[code]

From the test code, following test is failed.
[code]

After looking into Jitdump, it seems that there seems to be a wrong stack manipulation regarding `ref` `long` parameter.

Without `JitStress=1`,
[code]

With `JitStress=1`,
[code]

/cc: @dotnet/arm32-contrib

[2017-11-09 13:28] hqueue commented on #14960
I will take a look at this.

[2017-11-09 13:34] xflytang commented on #14956
My question is **"Why the results differ between 1.0 and 2.0?"**
Thread.Sleep is only to show the order of output

[2017-11-09 13:55] stephentoub commented on #14956
Because it's much more likely that socket operations in .NET Core 2.0 will complete synchronously.

[2017-11-09 13:55] mikedn commented on #14956
Well, if you want to know the exact change that caused this then try this PR: https://github.com/dotnet/corefx/pull/3710

As the description in that PR states, the 1.0 `NetworkStream` did not override `ReadAsync`/`WriteAsync` and this the default implementation provided by `Stream` was used. The default implementation emulates async I/O by executing sync I/O in the thread pool. Async I/O operation

[2017-11-09 13:55] #14956 closed

[2017-11-09 14:00] xflytang commented on #14956
@mikedn thanks

[2017-11-09 14:14] jkotas commented on #14950
iOS is no-JIT environment. All code has to be precompiled or interpreted. We do not have plans to make CoreCLR in no-JIT environments in foreseeable future. It would be a very large and expensive project. CoreCLR depends on JIT and ability to generate code dynamically at runtime pretty heavily.

https://github.com/dotnet/corert would be a better starting point for iOS .NET Core port. It has been s

[2017-11-09 16:02] cbranch-bhg commented on #14763
I tried copying 2.0.4 servicing to 2.0.4 directory and can confirm this appears to fix the issue. It seems like a temporary workaround however a more permanent one would be nice.

[2017-11-09 17:24] #13267 closed

[2017-11-09 17:30] tarekgh commented on #14927
@Petermarcu I was thinking in a scenario if the app set the switch in the app with invalid value and in same time the environment variable is defined. in general, I agree with what you said the app settings should be superior to the environment variable.

[2017-11-09 17:31] Petermarcu commented on #14927
Sounds good. If the setting in the app is invalid, are you just going to treat it as unset? Error?

[2017-11-09 17:41] jkotas commented on #14923
Let's use #10520 to track improving the error message here.

[2017-11-09 17:41] #14923 closed

[2017-11-09 17:44] tarekgh commented on #14927
That what I wanted to think more about it and that is why I  mentioned "More details will be added for how the environment variable is going to play with the app switch" in the issue description.

I am inclining to not treat this as an error because I believe we didn't use to do that before for other switches. And instead will ignore this switch and have the environment variable win. The apps run

[2017-11-09 17:58] jkotas commented on #12672
https://github.com/dotnet/core-setup/issues/3279 tracks the specific issue of missing libproc.

https://github.com/dotnet/coreclr/issues/10520 tracks improving general diagnostic errors for native .dll loading errors.

[2017-11-09 17:58] #12672 closed

[2017-11-09 18:42] BruceForstall commented on #14856
Running pri-1 Windows Arm32 tests locally (not in CI) with GCStress=C and a RyuJIT/arm32 crossgen'ed System.Private.CoreLib.dll, I see 93 failures and 11053 passes. The failures are:
[code]

[2017-11-09 19:35] #10710 closed

[2017-11-09 21:01] jkotas commented on #9953
I do not see anything actionable left here.

[2017-11-09 21:01] #9953 closed

[2017-11-09 21:02] adiaaida commented on #14886
We attempted to use the delay loading workaround, and have discovered that it will not work for pgort140. We will stick with the workaround that Daniel developed (copying pgort140.dll alongside coreclr.dll/clrjit.dll).

[2017-11-09 21:02] #14886 closed

[2017-11-09 21:36] jkotas opened #14968 "Imperative native Dll import API"
The managed code often wants to have a strong control where to load native dlls from. For example, our own code in System.Drawing.Common: https://github.com/dotnet/corefx/blob/master/src/System.Drawing.Common/src/System/Drawing/GdiplusNative.Unix.cs#L22 . The discussion in https://github.com/dotnet/coreclr/issues/930 has more example of similar use cases.

We should consider adding imperative nati

[2017-11-09 21:40] jkotas commented on #14968
cc @russellhadley

[2017-11-09 23:25] emanuelbalea commented on #13489
Anyone know which package to try this out with for docker? Tried the 2.0.3 service release but that still has the issue unless I have to manually specify the ServerGarbageCollection flag (which I did not try).

[2017-11-09 23:54] AndyAyersMS commented on #14245
Doesn't seem to repro in current master, and does look a lot like #12950. I think the fix for that has made it into a 2.0 servicing release; I am double-checking which one...

[2017-11-10 01:06] CalArabshahi opened #14972 "Cannot load Japanese Satellite Assembly"
My product targets .NETStandard 2.0 and .NET Framework 4.5.2.

A satellite-assembly test running on an English-US Windows laptop changes the thread.CurrentUICulture and thread.CurrentCulture to ja-JP and throws an exception. This test cases succeeds in .NET Framework but fails in .NET Core 2.0. The exception is

This issue is similar to #12668 .

I debugged it to

        internal RuntimeAssembly

[2017-11-10 02:12] CalArabshahi commented on #14972
NUnit or Microsoft.NET.Test.Sdk does not display entire message. I wrote a console app to capture the message

[code]

[2017-11-10 02:16] CalArabshahi commented on #14972
Duplicate of #14033

[2017-11-10 02:16] #14972 closed

[2017-11-10 06:20] tmds commented on #13489
@emanuelbalea I will have a look. How are you testing this?

[2017-11-10 06:58] emanuelbalea commented on #13489
I was using the nightly docker image and testing on aws ec2 container service with an existing microservice and running siege against it to simulate real load. If there's anything I'm missing I'll be happy to try it

[2017-11-10 07:49] tmds commented on #13489
I think memory wise things are ok. The gc should pick up the docker limit and containers shouldn't run out of memory. @emanuelbalea are you running OOM?
ProcessorCount wise things are not ok. Environment.ProcessorCount is not returning the limited cpu count.
There seem to be two implementations of ProcessorCount:
- the one in coreclr which is respecting the limits: https://github.com/dotnet/corecl

[2017-11-10 09:04] emanuelbalea commented on #13489
@tmds yes was just using more and more ram till the host filed up and ultimately crashed. Sounds like there was no GC being done.

Has the usage of 'COMPlus_gcServer' changed? We used to have to set it to 0 for it to actually turn on gc before.

[2017-11-10 10:10] tmds commented on #14968
@jkotas linking some related issues:
https://github.com/dotnet/corefx/issues/16123
https://github.com/dotnet/coreclr/issues/8721

[2017-11-10 10:13] tmds commented on #13489
Has the usage of 'COMPlus_gcServer' changed? We used to have to set it to 0 for it to actually turn on gc before.

From what I see the docker limits are properly parsed. I guess also for gc they are not used in all places. I don't know how to debug this further myself.

[2017-11-10 18:21] AndyAyersMS commented on #14245
Looks like it is slated for 2.0.3, which should be out soon.

[2017-11-10 19:49] BruceForstall opened #14977 "Tests.lst files need to be regenerated"
The ARM and ARM64 tests.lst files need to be regenerated.

Namely:
[code]

With https://github.com/dotnet/coreclr/pull/13994, the BenchmarkGame tests were disabled from running on ARM and ARM64 because they were all renamed. We need to get these re-added to the tests.lst files with the correct names, so they will be run.

[2017-11-10 21:02] rartemev commented on #14860
Cannot reproduce failures.

[code]
`GC\Regressions\dev10bugs\536168\536168\536168.cmd` fails because of enormous size of used memory (5 TB) and it allocates it concurrently with GC work, so I think such failure is logical on machines with small amount of memory.

`C:\Users\rartemev\Desktop\tests\Core_Root` is Checked arm32 build.

[2017-11-10 21:38] stephentoub opened #14980 "SemaphoreSlim.Wait() spins before checking current count"
This was introduced in:
https://github.com/dotnet/coreclr/commit/03bf95c8db9003a5925ca9383dca722a4c651e27#diff-e0962c2ab4c9e7938e811430bcaeae81R357
We should be checking if the count is 0 before spinning at all.

cc: @kouvel, @benaadams

[2017-11-10 21:49] saper commented on #1091
Fast forward to 2017, I am getting this trying to build f1939c90aed599c107b44ef26b5db5b417860ed4 on FreeBSD 10.3:

[code]

[2017-11-10 21:50] rartemev commented on #14955
Could you please clarify what environment has been used to get such failure? I mean Windows or Linux because it is not clear from the description.

[2017-11-10 21:51] jkotas commented on #1091
cc @wfurt

[2017-11-10 21:57] BruceForstall commented on #13604
The reason these tests failed for me is I was using a not-up-to-date tests.lst file; see https://github.com/dotnet/coreclr/issues/14977.

When running all the existing BenchmarksGame tests, the following fail:
[code]

[2017-11-10 22:04] BruceForstall commented on #14860
Can we mark 536168 in such a way that it doesn't run on arm32, if memory is an issue?

E.g., it is already marked `<GCStressIncompatible>true</GCStressIncompatible>`.

@swgillespie ?

[2017-11-10 22:06] swgillespie commented on #14860
@BruceForstall you can add it to https://github.com/dotnet/coreclr/blob/master/tests/testsUnsupportedOnARM32.txt , seems to be what people do when this occurs

[2017-11-10 22:33] sywhang commented on #14763
Hey @cbranch-bhg ,

I'm not an expert on how the dotnet CLI interacts with the runtime or how it loads the proper runtime. You might want to file an issue / question in the dotnet cli repo here: https://github.com/dotnet/cli to ask for more permanent fix or getarounds for that.

Since the original issue seems unreproduceable, and the issue regarding coreclr has already been fixed in a previous iss

[2017-11-10 22:33] #14763 closed

[2017-11-10 23:59] BruceForstall commented on #14955
armel == ARM_SOFTFP, and only exists on Linux. We do have armelnonjit.dll, as a cross-compiler altjit, even on Windows.

[2017-11-11 00:12] brianrob opened #14985 "Events With Zero Parameters are Not Emitted on LTTng"
[code]

[2017-11-11 00:51] nategraf commented on #14985
Would this look correct?
[code]
If so #14987 should fix it

[2017-11-11 01:04] BruceForstall commented on #13604
It looks like these tests only fail because they have code that looks for their input data in the source directory, assuming `CORE_ROOT` is set and there is a standard dotnet/coreclr build tree, but doesn't check the current directory, where it actually gets copied, into the test binary tree! Since my trees didn't match the expected trees, it crashed. It also didn't help that it threw an exception

[2017-11-11 01:04] BruceForstall commented on #13604
Since it doesn't appear there are any known test failures in the baseline run, I will close this.

[2017-11-11 01:04] #13604 closed

[2017-11-11 01:12] BruceForstall opened #14989 "BenchmarksGame tests fail if not run from dotnet/coreclr build directory"
The following tests:
[code]

use some code in `harness-helpers.cs` to find the data file they want to run with. It has a fragile, strong dependence on the precise dotnet/coreclr repro build. If you move the tests w.r.t. the CORE_ROOT, they will fail.

Worse, they fail by throwing an exception that the file is not found, but nobody catches the exception, so it just appears the app crashes.

So:
1.

[2017-11-11 03:35] sdmaclea commented on #14332
I currently have >90% of tests passing.

I have spent the last two days trying to fix asserts in `fgMorphMultiregStructArg()` on the following pattern which is causing 75% of the remaining failures.

[code]

I am not sure if I need to
+ force the `SIMD      simd16 float init` into a `LCL_VAR`  (or how to do it)
+ Add support for enregistered SIMD types in `fgMorphMultiregStructArg()` or how to do

[2017-11-11 07:18] tmds opened #14991 ".NET Core 2.0.3 runs OOM in docker"
As reported by @emanuelbalea here: https://github.com/dotnet/coreclr/issues/13489#issuecomment-343416765

[2017-11-11 07:21] tmds commented on #13489
I'm closing this in favor of two more specific issues:
- https://github.com/dotnet/corefx/issues/25193
- https://github.com/dotnet/coreclr/issues/14991

[2017-11-11 07:21] #13489 closed

[2017-11-11 21:32] #11906 closed

[2017-11-11 23:55] jkotas commented on #14968
Related proposal: https://github.com/dotnet/corefx/issues/17135

[2017-11-12 02:01] benaadams commented on #2430
Closing as very out of date;, though don't know current situation

[2017-11-12 02:02] #2430 closed

[2017-11-12 07:54] HppZ commented on #12850
where can I get coreclr.dll? which folder?

[2017-11-12 10:34] aarcarons opened #14993 "[ARM] SIGSEGV when enabling tracing on a Raspberry Pi"
Hi,

I have a simple .NET Core application which I want to execute on Raspberry Pi. I'm noticing strange behaviours when using the ```HttpClient``` class, so I followed this [guide](http://blogs.microsoft.co.il/sasha/2017/03/30/tracing-runtime-events-in-net-core-on-linux/) to enable tracing events and collect them using LTTng with the purpose of filing an issue with detailed info.

The problem I'm

[2017-11-12 13:31] sillyousu opened #14994 "How to diagnostic hanging Task"
revisit #13764 .  @mikem8361 fix code dump generation bug on Centos (#13887).
But I still don't how to diagnostic Task hanging bug.

scenario:
I use Task as lightweight thread to handle user request:
[code]

consider the follow buggy situation:
[code]
Is there a way to know
1) what Tasks are alive right now?
2) what status for each Task is?
3) for task blocking, what is it waiting for?
and if yes

[2017-11-12 13:36] sillyousu commented on #14994
[code]

![task_pannel](https://user-images.githubusercontent.com/1446131/32699465-4499b704-c7f1-11e7-8238-4e36c2ca6d72.png)

I can see something with with VS. But not enough to know what `BlockForDeadlock` is waiting for.

[2017-11-12 13:54] sillyousu commented on #14994
Is it possible include Task info in [minidump ](https://github.com/dotnet/coreclr/blob/master/Documentation/botr/xplat-minidump-generation.md) ?
eg, Task id, status, blocking reason

[2017-11-12 14:53] jkotas opened #14995 "Mix of long and short-lived dynamic methods leads to bad code heap fragmentation"
Repro:

[code]

Actual result (Windows x64):
[code]

Expected result:  Average working set per long-lived method is <10kB

[2017-11-12 16:11] jkotas opened #14996 "System.OutOfMemoryException: Insufficient memory within specified address space range to continue the execution of the program."
Repro:

[code]

Result on Windows x64: System.OutOfMemoryException: Insufficient memory within specified address space range to continue the execution of the program.

[2017-11-12 16:12] jkotas commented on #14996
Related: #9883

[2017-11-12 16:20] jkotas commented on #14996
It is the https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/jump-stubs.md#precode case of jump stubs.

[2017-11-12 17:14] Const-me opened #14997 "ARM Linux, .NET Core 2.0.4 crashes on shutdown"
It happens after the control leaves my Program.Main method.

I’ve tried running my app with gdb, here’s the output:

[code]

Apparently, the previous fix doesn’t work: https://github.com/dotnet/coreclr/issues/13689

[2017-11-12 19:54] mikem8361 commented on #12850
"coreclr.dll" is usually part of your shared runtime installation which on Windows is something like "C:\Program Files\dotnet\shared\Microsoft.NETCore.App\2.0.0\coreclr.dll" along with all the other runtime assemblies and modules.  This includes SOS ("sos.dll").

[2017-11-12 20:03] jkotas commented on #14997
cc @brianrob

[2017-11-12 20:04] jkotas commented on #14993
cc @brianrob

[2017-11-12 20:06] jkotas commented on #14991
cc @swgillespie

[2017-11-12 22:10] FSou1 opened #15001 "AppDomain::CacheStringsForDAC missing implementation"
I've just found that an implementation of the method `AppDomain::CacheStringsForDAC` is [missing](https://github.com/dotnet/coreclr/blob/56ec8cb6dcbb0e7a844f2f3e37b646bb57a737db/src/vm/appdomain.cpp#L6425-L6439) and wasn't pretty sure if it's ok.

Would you mind to let me know any explanation about the current state of this method?

[2017-11-12 23:21] jkotas commented on #15001
It used to have code specific to .NET Framework assembly loader
https://github.com/dotnet/coreclr/blob/ef1e2ab328087c61a6878c1e84f4fc5d710aebce/src/vm/appdomain.cpp#L8054. It is not needed in .NET Core. It can be deleted, as well as the unused fields that it used to refer to (`m_applicationBase`, `m_privateBinPaths` and `m_configFile`). Are you interested in submitting PR?

[2017-11-12 23:46] HppZ commented on #12850
how to debug UWP dump (debug mode, release mode)? I read some Andrew's blogs, but situations are always different.

[2017-11-13 02:58] migueldeicaza commented on #14968
Ouch the code for loading GDI+ looks obscene, and I bet the resulting code is not very pleasant.

My vote of course is for .NET to adopt the existing dllmap file that Mono uses, which would remove that ugly code.

[2017-11-13 06:01] richlander commented on #13564
Have you been able to move forward with this issue?

[2017-11-13 06:12] #14980 closed

[2017-11-13 06:44] hqueue commented on #8496
@dotnet/arm32-contrib I'm just curious when are we going to enable RyuJIT as a default compiler for ARM32 ?
It seems that there are several failures in ARM32 in stress mode tests and sometimes there is regressions now.
It seems that all RyuJIT/ARM32 issues are set to milestone `2.1.0`, and I'm just curious about a goal all you have in mind. Please share you thought have in mind :)

[2017-11-13 08:28] FSou1 commented on #15001
The entire method and properties could be safely deleted? I'm defenetly interesting in submitting such kind of PR :)

[2017-11-13 10:20] philippweidhas opened #15004 "How to integrate CoreClr Binaries manually in a Linux System"
Hallo .Net Core Community,

im looking for a way to integrate my selfbuild Binaries of coreclr and corefx in an UbuntuSystem. I build the binaries for x86 to get .Net Core running on a x86 Ubuntu System. Now i need a guide where and how to place the binaries in this UbuntuSystem. Can someone give me a instruction or a link to an guide wich i was not able to find.

Greetings
Philipp

[2017-11-13 11:20] vitalik322 commented on #11318
Sometimes got segmentation fault on ARM32 with Release version too (with AboveStackLimit.cs from standard CoreCLR tests), seems, like same problem:
[code]

[2017-11-13 13:28] wilsonge opened #15005 "Error compiling on MacOSX with latest XCode"
[code]

I've substituted __ROOT_GIT_REPO__ for the root path to my git clone of this repo. Building from current master (which at time of submission of this issue was commit cbcdbd25e74ff9d963eafa202dd63504ca537f7e )

[2017-11-13 13:31] jabbera commented on #13564
Not really. I’m still waiting on an answer to what my best course of action is. In the post above I’ve come up with two ideas only one of which is within my power to implement. I’m waiting for someone to tell me I can make the method virtual (thereby removing the sealed added by the compiler) and I won’t break backwards compatibility.

[2017-11-13 13:53] wilsonge commented on #15005
So for a horrible hackjob solution i pulled in https://github.com/tensorflow/tensorflow/issues/13220#issuecomment-331579775 and hacked up XCode

[2017-11-13 13:53] jkotas commented on #15004
cc @janvorli

[2017-11-13 14:39] FSou1 commented on #15001
Ok, i'm going to be the responsible of this PR

[2017-11-13 15:28] brianrob commented on #14997
@Const-me, it looks like the fix for #13689 is not in 2.0.4.  I suspect you are hitting the same issue.  Can you see if the latest master branch build fixes this for you?  I can see about getting this pulled into a 2.0 servicing release.

[2017-11-13 15:28] janvorli commented on #14991
@emanuelbalea, I was wondering if you have really tried to use the runtime 2.0.3. SDK (CLI) 2.0.3 is a completely unrelated thing that still contains runtime 2.0.0. Could you please share where did you get the coreclr stuff you were using from?

[2017-11-13 16:06] tmds commented on #14991
@janvorli , @emanuelbalea said he was using the latest docker nightly (https://github.com/dotnet/coreclr/issues/13489#issuecomment-343390478).
And indeed, this one does use the 2.0.0 runtime:
[code]
@emanuelbalea is this the image tag you are using? I'm not sure if there is an image that has a patched runtime. Perhaps you can try one of the 2.1 tags? Or create an image yourself.

[2017-11-13 16:26] jaredpar commented on #13564
Making the method virtual is the best approach here.

[2017-11-13 16:43] jabbera commented on #13564
Thanks. I’m good then.

[2017-11-13 16:43] #13564 closed

[2017-11-13 17:34] BruceForstall commented on #8496
We've recently been talking about this internally. The answer is "soon". The remaining work is: (1) there are a couple remaining asserts, (2) there are some tests that fail in various stress and non-stress modes -- presumably some because of bad codegen, (3) there are some GC stress issues, (4) we haven't measured throughput or investigated generated code quality compared to legacy backend.

Proba

[2017-11-13 17:48] PaulHigin commented on #14889
@jkotas
I experimented with this and AppDomain.DomainUnload event is not called with my version of DotNet Core CLR (2.0.4).  Am I missing something?

The AppDomain.ProcessExit event *is* called but that doesn't help me because process exit will not occur until all threads exit and I am using this to clean up threads.

[2017-11-13 17:59] jkotas commented on #14889
Sorry. I forgot that the DomainUnload event is not delivered for default domain (always the case for .NET Core).

Can you mark your threads as background threads so that they do not block process exit?

[2017-11-13 18:01] mikedn commented on #14280
Fixed in #14281

[2017-11-13 18:01] #14280 closed

[2017-11-13 18:03] PaulHigin commented on #14889
@jkotas  We don't want these to be background threads.  I'll go with plan B and not rely on CLR events.

[2017-11-13 18:27] AndyAyersMS commented on #14989
IIRC we need the exception here to ensure failures get properly reported when running under xunit-perf.

Since that testing mode does not invoke `Main` I suppose we could put a try-catch in Main to keep the exception from escaping in the EXE case.

For the "find input files issue" we have been waiting for the Netstandard 1.5 update to allow us to query where in the file system the exe resides sinc

[2017-11-13 18:28] AndyAyersMS commented on #14926
I'll take a look.

[2017-11-13 18:40] BruceForstall commented on #14989
When is that expected to happen? And why not Netstandard 2.0?

[2017-11-13 18:41] BruceForstall commented on #14989
BTW, none of the BenchmarkGame tests are running on arm32/arm64 in official runs due to https://github.com/dotnet/coreclr/issues/14977.

[2017-11-13 18:53] brianrob commented on #14985
@nategraf, yup that's exactly what it should look like.  Thanks.

[2017-11-13 19:00] AndyAyersMS commented on #14989
Update is tracked by #14124. Not sure when or who is on tap for this.

Historically we would backport the benchmark fixes to the 1.1 release branch, so the aim was to keep the dependency to no higher than netstandard 1.6. Not sure if we care that much about 1.1 backports now, so perhaps netstandard 2.0 would be fine.

[2017-11-13 19:04] AndyAyersMS commented on #14926
Think the issue may be on the debugger side. The jit's IL to native map looks reasonable:

[code]
and when debugging we seem to get hung up in the code that is zeroing the stackalloc:
[code]
Maybe the fact that RSP is moving and temporarily unaligned in this code stretch is causing issues?

When I debug this under VS2017 (preview 4 27109.1) and go to "view disassembly" I get some assert popups:

!

[2017-11-13 20:02] emanuelbalea commented on #14991
@janvorli and @tmds you are right the docker image might not be 2.0.3... Sorry about that I got confused by the numbering scheme, thought it was back in line with the clr version. I will post the tag number as soon as I get to work and I will try the 2.1 and if that fails create my own image. Thanks for all the help and will update in a couple of hours.

[2017-11-13 20:30] brianrob commented on #14993
@aarcarons, would you be able to try another test application on your device and see if it fails in the same way?  I have a native test application at https://github.com/brianrob/tests/tree/master/native/lttng_test that should help as a first step to determining whether or not this is specific to tracepoints in the runtime or to LTTng.

[2017-11-13 21:20] BruceForstall commented on #8496
Note: with https://github.com/dotnet/coreclr/pull/14921, the CI will now use RyuJIT/arm32 to crossgen System.Private.CoreLib.dll in "arm" jobs ("armlb" jobs will continue to use legacy backend for everything).

[2017-11-13 21:28] aarcarons commented on #14993
Your test application works fine. The output I get is:
[code]
Take into account that, as I mentioned in the first post, I have the LTTng library compiled from the source in version 2.8.8.

[2017-11-13 21:57] Const-me commented on #14997
Thanks for the info. I will try tomorrow and let you know whether it works.

[2017-11-13 22:00] BruceForstall commented on #14665
These asserts are now showing up with the normal (non-stress) run for:
[code]

[2017-11-13 22:23] brianrob commented on #14993
Thanks @aarcarons.  One more thing to have you try - is it possible for you to build and install LTTng 2.4.0 and then try running your app again?  It looks like that is the version of the LTTng headers that we use to do official builds, so that would help to rule out an LTTng compat issue between the headers and the UST libraries.

[2017-11-13 23:24] emanuelbalea commented on #14991
Update. The nightly docker images are on 2.0.0 even the preview ones. Made myself a  new images based on those an will update in a few hours.

[2017-11-13 23:27] BruceForstall commented on #14665
These VectorConvert tests are now disabled (with https://github.com/dotnet/coreclr/pull/15013).

Please re-enable them (and verify they don't assert) before closing this bug.

[2017-11-13 23:40] BruceForstall commented on #14917
Fixed with https://github.com/dotnet/coreclr/pull/14921

[2017-11-13 23:40] #14917 closed

[2017-11-14 00:09] janvorli commented on #15004
@philippweidhas I would recommend looking at how the .deb packages for Ubuntu x64 are formed and use locations based on that.
See e.g. the https://dotnetcli.blob.core.windows.net/dotnet/Runtime/master/dotnet-runtime-latest-ubuntu.14.04-x64.deb. I've extracted the md5sums file from it for you which shows the structure quite nicely:
https://gist.github.com/janvorli/ea618cf23d6a305b4d3f7a5542742248

[2017-11-14 00:23] BruceForstall opened #15016 "[ARM64] Failing Debug tests"
The following tests are failing on ARM64 in Debug runs (Windows_NT arm64 Cross Debug Innerloop Build).

[code]

[2017-11-14 03:27] jkotas commented on #15005
I have upgraded to latest XCode today - Version 9.1 (9B55). It does not repro for me. Maybe Apple has fixed it already?

[2017-11-14 04:16] emanuelbalea commented on #14991
Using the latest nightly of 2.0.4 it works as expected inside custom docker image and ec2 container service in my dev environment. @tmds feel free to close this. Thanks for help :)

[2017-11-14 06:40] Const-me commented on #14997
@brianrob Yep, I can confirm it's fixed in 2.1.0-preview1-25912-02

[2017-11-14 06:52] kasper3 commented on #917
From https://github.com/dotnet/dotnet-docker-nightly/pull/480

Where can we track the *concrete* remaining work preferably in the form of checklist?

Bit of a retrospective ..
As an avid developer looking to find answer for "what's the status of dotnet core on Alpine linux" in open-dotnet world, I was nothing but lost: Looking at the amount of cross-linking happened on GitHub due to Alpine Linux i

[2017-11-14 07:39] tmds commented on #14991
@emanuelbalea no problem. It was a good verification to see the OOM with the 2.0.0 runtime and 2.0.4 no longer going OOM.

[2017-11-14 07:40] JimsC opened #15019 "嵌入coreclr的一些问题"
我想做一个东西，想把coreclr嵌入到我自己的应用程序中，然后运行一些c#代码，我想像lua那样可以绑定一些c/c++的方法让c#来调用，但是好像没有相关的资料
我在网上查到的资料都是c#通过dllimport来载入动态链接库的方式来调用c/c++的方法，但是我嵌入coreclr后不想再调用动态链接库的方法，而是调用嵌入了coreclr的应用程序本身的一些方法
我想知道是否能够目前coreclr是否能实现？谢谢了！

[2017-11-14 08:28] sillyousu commented on #445
@lt72

would you like to point me to a minimal Linux x64 profiler, or point me to your test program (for Linux x64)?

is this [profiler](https://github.com/Microsoft/clr-samples/tree/master/ProfilingAPI/ReJITEnterLeaveHooks ) still compatible with latest dotnet core CLR?

[2017-11-14 09:08] sillyousu commented on #445
We have [this profiler](https://github.com/Microsoft/clr-samples/tree/master/ProfilingAPI/ReJITEnterLeaveHooks) with dotnet daily build 2.1.0-preview1-25907-02, recevied the following random segment fault:

[code]

[code]

[code]

[2017-11-14 09:10] sillyousu commented on #445
and cc @noahfalk . Maybe you can give me some suggestion.

[2017-11-14 09:12] sillyousu commented on #445
Received segfault with `dotnet run --no-build`.
But run thousands of rounds with ` dotnet bin/Debug/netcoreapp2.1/Foooo.dll` without a problem.

[2017-11-14 09:36] huoyaoyuan commented on #15019
请在国际GitHub项目上使用英文。
Please use English in international GitHub project.
##### Translation in brief:
I want to host coreclr in my application, run some C# code, and call C++ methods from C#.
I searched and found documents about using `DllImport` to call into dynamic libraries, but I want to call into my host application, not another dll file.
Can I do this using coreclr now?

[2017-11-14 09:58] JimsC commented on #15019
So embarrassed!

let me use my poor English and google translate try explain the issue

I want to  embed coreclr into my own application, and then run some c # code, and invoke c/c++ code from c#, some  language, like lua, can bind some c/c++ method , then lua code can invoke c/c++ code, but it seems like that c# cannot do that.

I found the information on the Internet , dllmport can make c# code

[2017-11-14 10:06] wilsonge commented on #15005
Just did the upgrade. It didn't change the file `/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/include/c++/v1/__threading_support` (the last modification to that file was the one I made yesterday based on the hacked up tensorflow approach) and I still have the same error if I revert that change.

[2017-11-14 11:10] janvorli commented on #917
@kasper3 right, I am sorry for not tracking the work in an easily discoverable way. I have just created https://github.com/dotnet/core/issues/1076 to fix that. Please let me know if you'd like to see more detail added there.

[2017-11-14 12:17] hqueue commented on #8496
Glad to here this :)

Thank you again for reporting issues by enabling a lot of test with various stress combination.

There is an live issue #12971 to evaluate performance. But we neither have looked into throughput seriously yet.

Looks good and feasible for near future. And we also think supporting GC without bug is a never-ending task in managed environments with GC, even in mature JVM.

Thank

[2017-11-14 12:30] jkotas commented on #14927
If we expect this to be pretty much always set on Alpine Linux, why not make it the default on Alpine (and use the env variable to override the default)?

[2017-11-14 13:48] bass3l opened #15021 "getting HRESULT: 0x80131534 on Windows 8.1 when using dotnet"
Hello,

I'm facing the following error whenever I use dotnet cli:
`Failed To Initialize CoreCLR, HRESULT: 0x80131534`

I know that `HRESULT: 0x80131534` is `TypeInitializationException`

I have the following re-installed like a thousand times:
* .NET Framework 4.7.1 DevPack and Runtimes.
* .NET Core 2.0.2 SDK
* .NET Core 2.0.0 Runtime

on Windows 8.1 Enterprise

Please advise

[2017-11-14 14:01] janvorli commented on #15005
I have also upgraded to the latest XCode and MacOS and I cannot repro the issue - everything builds just fine. @wilsonge would you be willing to generate preprocessed file for the ForeignThreadExceptionsNative.cpp and share it e.g. via gist? It seems that you might have something additional on your include paths that I or @jkotas don't have and that's causing the trouble. The preprocessed file wou

[2017-11-14 16:54] tarekgh commented on #14927
This will require detecting the OS/image during the runtime and force the behavior. if we are going to have environment variable anyway, why we don't just use that and set it by default to our Alpin image. I think this would be cleaner and easy to control moving forward.

[2017-11-14 17:27] jkotas commented on #14927
No. Alpine is a special beast that we are producing a special build for. That special build can have the different default baked in.

Because of it will work in *our* Alpine images only. It will not work for other folks Alpine images. It is a poor out-of-box experience. I hate "make it work" environment variables that has to be always set.

[2017-11-14 17:49] tarekgh commented on #14927
@jkotas I am preparing the support for the environment variable. I'll send a PR today. then I'll look at defaulting Alpine to the Invariant mode by default.

@Petermarcu what you think about what @jkotas suggested?

[2017-11-14 17:49] BruceForstall commented on #15016
These tests have now been disabled for arm64 runs.

A more general solution for handling long running arm64 tests should be implemented. E.g., there is a "longgc" option to RunTest.cmd to force running long-running GC tests. Perhaps a general "long running" tests tag should be added, to include these (and others?) as well.

Does "long-running" only need to be disabled on debug, or checked as well?

[2017-11-14 18:04] BruceForstall commented on #14124
@DrewScoggins Do you know when this might happen? #9281 bit me recently (see #14989)

[2017-11-14 19:02] DrewScoggins commented on #14124
@jorive as well here. I believe that we made the decision to have all performance tests run on the lowest netstandard version that is possible. This was to ensure that the binaries are as portable as possible. If a particular set of tests need to be updated to a newer version of netstandard, submit the PR and we can merge it. There is nothing technical blocking that from happening.

[2017-11-14 19:30] jorive commented on #14124
@BruceForstall Yes, you should be able to move the benchmarks to any netstandard you need. Our only suggestion is to keep it on the lowest possible netstandard if possible. This is to allow us to run the benchmark on release1.1 as a baseline.
Additionally, port the changes to the release1.1 and release2.0 branches.

[2017-11-14 20:06] FSou1 commented on #15001
I've noticed that `m_applicationBase`, `m_privateBinPaths` and `m_configFile` used within next methods:

https://github.com/dotnet/coreclr/blob/27a25bd37fa1fe6201c27709b1884e1b328f8beb/src/debug/daccess/request.cpp#L2629
https://github.com/dotnet/coreclr/blob/27a25bd37fa1fe6201c27709b1884e1b328f8beb/src/debug/daccess/request.cpp#L2673
https://github.com/dotnet/coreclr/blob/27a25bd37fa1fe6201c27709

[2017-11-14 21:50] jkotas commented on #15001
Right.

You can just make the method return `E_FAIL` with a comment that it is not supported on CoreCLR.

[2017-11-14 21:57] CarolEidt opened #15027 "[x64] System.NullReferenceException in _opt_relrotarg_valref"
This test:
JIT\Methodical\explicit\rotate\_opt_relrotarg_valref\_opt_relrotarg_valref.cmd
fails with this error:
[code]
on both x64/ux and x64/windows with either `COMPlus_JitStress=1` or `COMPlus_JitStress=2`

[2017-11-14 21:59] #14665 closed

[2017-11-14 22:12] sandreenko commented on #15027
It is a duplicate of #14455.

[2017-11-14 22:12] #15027 closed

[2017-11-14 22:19] CarolEidt commented on #15027
Oops - should have seen that - especially since I opened that one. Thanks!

[2017-11-14 22:39] #14065 closed

[2017-11-14 23:05] 4creators commented on #15005
@wilsonge
In case of macOS build errors described in issue #14279 I have had problem when upgrading to Xcode v9.0 when first Xcode 9.0 command line tools were installed. This messed up my headers and besides reproducible compile errors there were errors specific to broken headers. They were fixed by AFAIR by reinstall of new version of Xcode. Perhaps this is similar situation.

[2017-11-14 23:11] 4creators commented on #14968
@migueldeicaza @jkotas
It seems that https://github.com/dotnet/corefx/issues/17135 and Mono dllmap approach are to some extent complementary and could solve some native dll loading problems.

[2017-11-14 23:40] #14174 closed

[2017-11-15 00:06] Petermarcu commented on #14927
Our general instructions are that libicu is required and that people that want to run without libicu should specify that in their application. For applications that say they don't need libicu, they will work just fine without installing it. The conversation right now is more about what we put in our default containers for Alpine because it is more size focused distro. What we're saying is that for

[2017-11-15 01:04] RussKeldorph commented on #15019
Does [Marshal.GetDelegateForFunctionPointer](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.marshal.getdelegateforfunctionpointer?view=netcore-2.0#System_Runtime_InteropServices_Marshal_GetDelegateForFunctionPointer_System_IntPtr_System_Type_) do what you want?

[2017-11-15 02:30] #15001 closed

[2017-11-15 02:41] JimsC commented on #15019
yes , it is a way to achieve my purpose.

last day I think a another way

I can make a simple application, but most code in dynamic link library, I didn't do it , I will try it later, I think it will be success, if not, I will try the Marshal.GetDelegateForFunctionPointer

thank you!

这个方法能达到我的目的
在昨天提出这个issue后，我想到了另一种方法，我可以做一个简单的应用程序，但是大部分的实现都放在动态链接库里面，这样就可以用dllimport，之前我对动态链接库有一些误会（比如我以为对一个动态链接库的

[2017-11-15 02:48] noahfalk opened #15033 "Null reference in JITCompilationFinished"
@sillyousu reported a crash in the profiler in thread #445 - I am creating a new issue for that discussion here.

My suggestion to investigate this is either to manually map the disassembly to source, or to build your own coreclr with symbols so the debugger will do it for you. The function where it failed is fairly small so if you are familiar with disassembly it shouldn't be too bad:
https://git

[2017-11-15 02:49] noahfalk commented on #445
@sillyousu - I opened a separate issue so we avoid enlarging this already very meandering thread.

[2017-11-15 07:40] BruceForstall opened #15035 "[RyuJIT][arm32][arm64] Assertion failed '(code & 0xFF00) == 0xC000'"
Failures with:
[code]

Both x86 and x64:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_arm64_altjit_checked_windows_nt_jitsse2only_prtest/5/consoleText
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_arm_altjit_checked_windows_nt_jitsse2only_prtest/8/consoleText

(these are altjit jobs, but the failure is with the x86 and x64 "fallback" compilers)

E

[2017-11-15 07:40] BruceForstall commented on #15035
@fiigii @CarolEidt

[2017-11-15 07:43] fiigii commented on #15035
@BruceForstall I will look into this failure, thank you.

[2017-11-15 08:04] BruceForstall opened #15036 "[RyuJIT/arm64][JitStress=1] Assertion failed 'interval->physReg != REG_NA && interval->physReg != REG_STK'"
With x64_arm64_altjit:

[code]

failure:

[code]

Test:
[code]

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_arm64_altjit_checked_windows_nt_jitstress1_prtest/12/consoleText

Also, JitStress=2.

[2017-11-15 08:04] BruceForstall commented on #15036
@dotnet/arm64-contrib @CarolEidt

[2017-11-15 08:11] BruceForstall opened #15037 "[RyuJIT/arm64][JitStressRegs=0x80] Assertion failed 'regRecord->assignedInterval == nullptr'"
x64_arm64_altjit, with `COMPlus_JitStressRegs=0x80`:

[code]

Failure:

[code]

Test:
[code]

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_arm64_altjit_checked_windows_nt_jitstressregs0x80_prtest/5/consoleText

The same test also fails with a different assert with different stress modes: https://github.com/dotnet/coreclr/issues/15036

[2017-11-15 08:12] BruceForstall commented on #15037
@dotnet/arm64-contrib @CarolEidt

[2017-11-15 14:10] aarcarons commented on #14993
Ok @brianrob. I built and installed the version 2.4.0 for both ```lttng-ust``` and ```lttng-tools``` packages. Now my "Hello world" app is not segfaulting. The curious thing is that when I check with ```lttng view``` what was written to the trace, it shows an error message saying the session doesn't exist. The file that records the traces is not even created.

This behaviour is also reproduced wit

[2017-11-15 16:03] RussKeldorph commented on #14950
Please re-open if not sufficiently answered.

[2017-11-15 16:03] #14950 closed

[2017-11-15 16:23] dmitriyse commented on #9265
Most of linux distributives dropping x86 support. Please consider to support x32 ABI runtime (only for linux hosts).  See https://en.wikipedia.org/wiki/X32_ABI. Ubuntu 16.04 already supports it. (apt install libc6-x32)

[2017-11-15 16:26] sillyousu commented on #15033
Thank you for your suggestion. I will do more investigation in next few day.

2017-11-15 10:48 GMT+08:00 Noah Falk <notifications@github.com>:

--
苏沛

[2017-11-15 17:20] tarekgh commented on #14927
@MichaelSimons This is merged now. Please try it and let me know if you have any issue with it or any question.

@richlander do you want to update the Invariant Mode document to reflect the environment variable support too? I have updated this issue description to reflect how we behave. let me know if you have any question.

[2017-11-15 17:20] #14927 closed

[2017-11-15 17:25] MichaelSimons commented on #14927
@tarekgh  - FYI, the changes need to flow to Core-Setup before they will be picked up by our Docker images.

[2017-11-15 18:07] ryukinix commented on #9265
This is quite true, unfortunately most of the distributions (like Arch
Linux) is indeed dropping x86 support. Debian probably will continue
supporting that, but I'm not so sure about the others.
--
As lembranças não são só do passado. Podem ser de agora e até de
amanhã.
— Serial Experiments Lain
Manoel Vilela,
Discente em Engenharia da Computação,
Universidade Federal do Ceará.

On Wed, Nov 15, 20

[2017-11-15 18:35] AndyAyersMS commented on #14245
2.0.3 is [now available](https://github.com/dotnet/core/blob/master/release-notes/2.0/2.0.3.md). Please let us know if this doesn't fix the issue.

[2017-11-15 18:52] #14783 closed

[2017-11-15 21:30] nategraf commented on #14985
With #14987 merged. This issue is fixed

[2017-11-15 21:30] #14985 closed

[2017-11-15 21:32] #15035 closed

[2017-11-15 21:40] doctorhilarius commented on #13542
I get these errors no matter what I do w/AspNetCore 2.0.3.

I had to roll back to 2.0.0.

[2017-11-15 21:58] danmosemsft commented on #12668
Fix released https://github.com/dotnet/corefx/releases/tag/v2.0.3

[2017-11-15 22:00] danmosemsft commented on #14033
Fix released https://github.com/dotnet/corefx/releases/tag/v2.0.3

[2017-11-15 22:34] RussKeldorph commented on #14585
@AndyAyersMS @dotnet/jit-contrib

[2017-11-15 22:37] RussKeldorph commented on #14444
Please re-open if not resolved.

[2017-11-15 22:37] #14444 closed

[2017-11-15 22:50] RossNordby commented on #14245
Looks like 2.0.3 fixed it; thanks!

[2017-11-15 22:50] #14245 closed

[2017-11-16 00:42] ctrl-brk commented on #13542
Having similar issue after upgrading to 2.0.3 and publish to IIS. Was working in 2.0.0
[code]

[2017-11-16 01:28] RussKeldorph commented on #15021
I created new Win8.1 Enterprise machine, installed updates, installed .NET Core 2.0.2 SDK (including 2.0.0 Runtime), and installed 4.7.1.  From command prompt: mkdir foo; cd foo; dotnet new; dotnet run.  I got "Hello, World!" as expected.  Is there something more to your repro?

@weshaggard should this be opened in the dotnet/cli repo instead?

[2017-11-16 01:31] RussKeldorph commented on #14784
Can this be closed since it doesn't repro in .NET Core?

[2017-11-16 01:37] RussKeldorph commented on #14077
This issue doesn't appear related to dotnet/coreclr.  Did you open it in the wrong repo?

[2017-11-16 01:37] #14077 closed

[2017-11-16 01:55] RussKeldorph commented on #12388
@adiaaida Were these regressions ever understood?

[2017-11-16 05:26] BruceForstall commented on #14960
@hqueue Have you made any progress with a fix?

[2017-11-16 06:38] ygc369 commented on #14890
@AndyAyersMS
Very happy to see this optimization, structs should be initialized just in place, no copying needed.
When would it be done?

[2017-11-16 08:47] sandreenko opened #15056 "jit\gtstructs.h Line: 56 assert(found)"
There are 3 regressions with jitstress=2 after #14945:
[code]
[Ci run.](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_jitstress2_prtest/64/#showFailuresLink)

[2017-11-16 08:47] sandreenko commented on #15056
cc @dotnet/jit-contrib

[2017-11-16 09:30] tmds commented on #14991
@janvorli I'm trying to verify docker containers won't crash due to OOM conditions.
I'm doing this as follows:
Program.cs
[code]
oom.csproj
[code]
Dockerfile
[code]

[code]

This process gets killed due to out of memory, as shown in dmesg:
[code]

Shouldn't it throw `OutOfMemoryException` instead?

[2017-11-16 09:33] davidni opened #15057 "MemoryStream.CopyToAsync calls destination.Write / WriteAsync with count=0 when there's nothing to copy"
`MemoryStream` provides a specialized implementation of `CopyToAsync` that avoids extra allocations and buffer copies by writing the entire buffer in one go. Makes sense.

When there are no bytes to copy in the source stream, however, it should bail out early and do nothing. That would be the consistent thing to do to match the behavior of the base implementation `Stream.CopyToAsync` (`Stream.Copy

[2017-11-16 09:38] tmds commented on #14991
The full dmesg - on kill -:
[code]

[2017-11-16 12:28] janvorli commented on #14344
@RussKeldorph I am sorry, it went completely out of my radar. Looking into it now.

[2017-11-16 14:42] MichalStrehovsky opened #15059 "Rethink the Microsoft.NETCore.ILAsm NuGet package"
It's really unfortunate that to consume ilasm.exe from the Microsoft.NETCore.ILAsm NuGet package, we need to download 24 MB of garbage* that is Microsoft.NETCore.Runtime.CoreCLR because ILAsm depends on `MetaDataGetDispenser` API exported from coreclr.dll. We should explore static linking or a different factoring of the nugets.

\* If the only thing you need is a working ilasm.exe and don't care a

[2017-11-16 15:01] MichalStrehovsky commented on #15059
Motivated by dotnet/buildtools#1806

[2017-11-16 16:47] cr41g1w commented on #13542
@ctrl-brk  I find that simply creating a new dotnetcore 2.0 mvc project in VS 2017 and then publishing to Azure results in this error when you try to run the app in Azure.  Quite annoying as I did nothing but follow wizards.  I did not find a solution yet, even after adding Microsoft.AspNetCore.Antiforgery via NuGet and republishing the project.

[2017-11-16 16:56] doctorhilarius commented on #13542
I figured out the issue--I needed to install aspnetcore web hosting 2.0.3.

dotnet restore installs aspnetcore 2.0.3, and we aren't doing standalone deployments, so the higher version couldn't find the libraries it needed.

[2017-11-16 16:58] ctrl-brk commented on #13542
@cr41g1w OMG. I should've think about it. Thank you.

[2017-11-16 17:36] RussKeldorph commented on #14344
@janvorli No problem. :)  Thanks for volunteering to look.

[2017-11-16 17:57] AndyAyersMS commented on #14890
Hard to say for sure when we might get to this. I am hoping maybe we can address some subset of cases relatively soon. The general solution likely requires [first-class structs](https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/first-class-structs.md) and new code to perform liveness on entire structs.

The challenge is that to ensure correct semantics we need to show that fo

[2017-11-16 18:15] #14784 closed

[2017-11-16 18:18] BruceForstall commented on #14989
Going to close this since #14124 covers it

[2017-11-16 18:18] #14989 closed

[2017-11-16 18:30] swgillespie commented on #14991
@tmds The GC will generally only throw an `OutOfMemoryException` if native allocations fail. This is troublesome on Linux because of VM overcommit; while it doesn't affect committing heap segments, the GC does occasionally use `operator new` to resize some of its own data structures (and `operator new` is used pervasively throughout the rest of the runtime), and those allocations often fail on Win

[2017-11-16 18:38] #14455 closed

[2017-11-16 18:51] tmds commented on #14991
@swgillespie thank you, that is very interesting to know. Do you know a test I can use to validate the runtime is taking into account the docker memory limit?

[2017-11-16 19:12] aarcarons commented on #14993
@brianrob I did the test with LTTng v2.4.4 and the behaviour is the same than with v2.8.8. Native test program works fine. The "Hello world" app segfaults with the same stacktrace.

[2017-11-16 19:16] brianrob commented on #14993
Thanks @aarcarons for doing all of this testing.  I appreciate it.  Let me see what I can do to repro and debug this.  This may take a bit of time - I need to acquire some hardware first.

[2017-11-16 19:20] sandreenko commented on #7679
Can we disable this test before a fix?

[2017-11-16 20:08] stephentoub opened #15061 "StringBuilder.Append(char) doesn't respect maxCapacity"
Repro:
[code]
This should throw an exception due to having a maxCapacity of 5 but having a string of length 8 appended, but it successfully outputs `12345678`.

Changing it to use `Append(string)` instead of `Append(char)`:
[code]
results in an exception as expected:
[code]

This repros on both .NET Framework and .NET Core.  It seems like either:
a) `Append(char)` should have a check added for max

[2017-11-16 20:18] swgillespie commented on #14991
I'm not sure how tracing in containers works (@brianrob would know) but if you can collect a trace and then view it with PerfView (https://github.com/Microsoft/perfview), you should see the GC aggressively compacting the heap as it approaches the Docker memory limit. You could also use a debugger and set a breakpoint on `gc_heap::get_memory_info` to see if the GC is returning the memory limits imp

[2017-11-16 21:06] brianrob commented on #14991
@tmds, LTTng-UST should work inside of a container with the default seccomp profile so you should be able to collect a trace of the GC behavior.

Probably the easiest thing to do is to follow the instructions at https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/linux-performance-tracing.md#collecting-in-a-docker-container, which should make it possible to use the standard no

[2017-11-16 21:56] rartemev commented on #14860
Since both finalizertest & ldc_add_ovf_u4 have passed I close this issue.

[2017-11-16 21:57] chsienki opened #15062 "PAL_VirtualUnwindOutOfProc isn't implemented for non x64 platforms"
On platforms other than x64 _PAL_VirtualUnwindOutOfProc(...)_ is stubbed out to return FALSE  ([remote-unwind.cpp#L1081](https://github.com/dotnet/coreclr/blob/88527bb6bdec8662a5cef5efcadb22c7fcabae50/src/pal/src/exception/remote-unwind.cpp#L1081)).

The current implementation falls back to using DataTarget4->VirtualUnwind on platforms where the PAL method is not implemented, but this will not wor

[2017-11-16 21:57] chsienki commented on #15062
cc @mikem8361. I don't have permission to assign this to you.

[2017-11-16 22:03] mikem8361 commented on #15062
I assigned to myself.

From: Chris Sienkiewicz [mailto:notifications@github.com]
Sent: Thursday, November 16, 2017 1:58 PM
To: dotnet/coreclr <coreclr@noreply.github.com>
Cc: Mike McLaughlin <mikem@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/coreclr] PAL_VirtualUnwindOutOfProc isn't implemented for non x64 platforms (#15062)

cc @mikem8361<https://na01.safelinks.prote

[2017-11-16 22:26] vancem commented on #15061
This is a known issue.

The tradeoff at the time was between increased implementation complexity and inefficiency, vs loosing compatibility in a corner case (that you WANT an exception thrown) that has no known real world value.

We opted to ignore the problem (Frankly I wanted to deprecate maxCapacity), until such time as we could demonstrate some customer value (a scenario where a user would rea

[2017-11-16 22:30] stephentoub commented on #15061
@vancem, I agree with you that there's little-to-no value in maxCapacity. Do we care then if other StringBuilder.Append overloads start ignoring it as well? e.g. I noticed this while changing methods like StringBuilder.Append(int) to avoid the ToString() calls, and wondering whether I need to add the associated checks for maxCapacity.

[2017-11-16 22:34] vancem commented on #15061
I would have to do some research to be sure, but I believe originally we uniformly ignored maxCapacity (or at least kept it out of all hot paths).   I suspect happened however is that someone logged a bug (much like this one), and we 'fixed' it for the case of that bug, and we ended up being non-uniform.   (sigh...).

That is why ideally we would have a real deprecation story...

[2017-11-16 22:37] stephentoub commented on #15061
Alternatively, is there any reason we don't just do the max computations when constructing / growing the StringBuilder?  We already have to check that we're not walking off the end of the current chunk, so if we just ensured we never allow the chunks to go beyond the max capacity, all such checks would be kept off hot paths.

[2017-11-16 22:38] TheLastRar commented on #12266
I'm writing a plugin which uses coreclr to call into a managed assembly.

I'm having an issue when the program that uses my plugin tries to exit it hangs, even when I call coreclr_shutdown in my plugin and I believe this issue is related.

Is there a workaround I could use?
I suspect (but can't confirm) there is a stray thread left running which stops the program from closing fully.

[2017-11-16 22:41] jkotas commented on #12266
Could you please attach debugger and find our where does it hang?

[2017-11-16 22:48] vancem commented on #15061
I think you will find that because we support 'insert' things get trickier to do efficiently.  Given that insert is not a prime scenario you could probably make everything work reasonably well as you point out, but the overarching question is: why create complexity for no value?   If there WAS value, doing something like that may make sense, but really we have yet to come up with ANY real-world re

[2017-11-16 22:51] stephentoub commented on #15061
From my perspective, the complexity is already there, more so because we only partially support it, making it confusing while reading through the code what's a bug, what's not, and when modifying the code, what's necessary, what's not.

[2017-11-16 22:52] stephentoub commented on #15061
So to get concrete:
I want to modify StringBuilder.Append(int) and other such methods.  In doing so I won't always pick up the maxCapacity check that's currently in Append(string).  Do I need to add in such checks explicitly?

[2017-11-16 23:03] vancem commented on #15061
I would say no, don't do the checks.     Like I said, until we have SOME indication that there is value in maxCapacity, we should not bother. If we get to the point where we care, we can do it then.

(As I recall we finessed this by saying that you were not REQUIRED to throw MaxCapacity, you were just Allowed to (which we chose not to do).    thus pretty much anything between doing nothing and bei

[2017-11-16 23:24] stephentoub commented on #15061
Okey dokey.

[2017-11-16 23:24] #15061 closed

[2017-11-16 23:34] BruceForstall commented on #15005
It looks like this is happening in the CI:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_osx10.12_prtest/9113/consoleFull#1326600353a82fefab-f698-416f-8fca-58544c94cd4e

[2017-11-16 23:45] BruceForstall commented on #15056
This fails on x64 with both jitstress=1 and jitstress=2:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_jitstress2_prtest/63/
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_jitstress1_prtest/37/

[2017-11-16 23:55] jkotas commented on #15005
@dotnet/dncenghot Was there any update installed on the MacOS CI machines today that would explain this build break?

[2017-11-17 00:00] janvorli commented on #15005
Strangely, the clang version is the same as the one on my local Mac (AppleClang 9.0.0.9000038) where things work. I was assuming the xcode installation is a self-contained thing with no opt-out or opt-in parts, so that's really strange.
But at least we can now repro it ourselves.

[2017-11-17 00:14] karajas commented on #15005
Filed issue https://github.com/dotnet/core-eng/issues/2129

[2017-11-17 00:53] karajas commented on #15005
On the build machines, running clang --version returns Apple LLVM version 8.0.0 (clang-800.0.42.1)

[2017-11-17 01:43] karajas commented on #15005
Some of the machines were force updated to clang 9. Started the process to revert these back to the original clang (8.1.0)

[2017-11-17 02:48] #15056 closed

[2017-11-17 03:32] alexzaytsev-newsroomly commented on #13542
@doctorhilarius what do you mean by `I figured out the issue--I needed to install aspnetcore web hosting 2.0.3.` I have this error in docker?

[2017-11-17 04:33] #15019 closed

[2017-11-17 05:41] kouvel opened #15072 "Tests seem to time out before the default timeout expires"
According to:
https://github.com/dotnet/coreclr/blob/master/tests/src/Common/Coreclr.TestWrapper/CoreclrTestWrapperLib.cs#L99
The default timeout should be 10 minutes. It doesn't look like the following tests override that default timeout, and yet they seem to be timing out in less than or around one minute in the CI. From under tests/src/baseservices/threading/generics/Monitor:

EnterExit14 and w

[2017-11-17 08:53] sillyousu commented on #14994
It seems no fix coming in near feature.

CC @stephentoub , could you give me some suggestions or point me to somewhere else?
I can see you make significant contribution to [Task library](https://github.com/dotnet/coreclr/commits/master/src/mscorlib/src/System/Threading/Tasks)

[2017-11-17 09:07] kinosang commented on #13542
with dotnet 2.0.3, I got the error after I deployed the app onto Azure Web Service. Adding `<PublishWithAspNetCoreTargetManifest>false</PublishWithAspNetCoreTargetManifest>` into the project file is dirty but useful, it can work as a charm.

[2017-11-17 09:09] kinosang commented on #13542
I found aspnet/Home#2254.

[2017-11-17 09:11] TheLastRar commented on #12266
[code]

the effected line is;
pthread_mutex_lock( &m_mutex );

m_mutex is is a pthread_mutex_t

[2017-11-17 09:51] unicomp21 opened #15073 "Add support for detecting page faults within asyn/await coroutines"
Something similar to structured exception handling which can bubble up along the async/await exception handling chain.  Possible use case:

Task taskHasPageFaulted = Task.RunInPageFaultScheduler(MyCoroutine);

Task nextPageFaultedCoroutine = await Task.WaitAny(arrayOfAboveCoroutines);
// run a coroutine which is ready

The dream setup would be using UMS (User Mode Scheduler) from .Net Core.  UMS n

[2017-11-17 11:11] hqueue commented on #14960
@BruceForstall I found some differences in morphing phases and in decompoing TYP_LONG.
Didn't dig more by now. I will share my analysis.

## Difference during morphing
[PASSED] Without JitStress , TYP_LONG is not decomposed.
[code]
During morphing, `[000355]` is "address exposed(AX)".

[FAILED] With JitStress=1, TYP_LONG is decomposed.
[code]
During morphing, `[000611]` and `[000612]` inserted and

[2017-11-17 12:05] Buyduck opened #15074 "[ARM32] CompareExchange working wrong in debug build with clang3.9"
With next C# code:
[code]

While cross building debug version CoreCLR for ARM32 with clang3.9 got next result:
[code]
And, while building with clang4.0 - everything is ok:
[code]

With Release version everything is ok. Seems, like in pal.h __sync_val_compare_and_swap() for some reason working wrong:
[code]
@alpencolt

[2017-11-17 12:08] cr41g1w commented on #13542
The issue seems to be with using dotnet at the command line to create the project.

I originally created a dotnet core mvc project at the command line, then opened it in VS 2017 and published it to Azure.  This did not run in Azure.

I just tried again but this time I used the VS 2017 wizard to create the project and published it to Azure.  This project runs perfectly fine in Azure.

I will see if

[2017-11-17 12:46] alpencolt commented on #15074
@dotnet/arm32-contrib please take a look.

[2017-11-17 13:30] benaadams commented on #15073
You can cooperatively give up execution in a Task with  `await Task.Yield();` the default scheduler should happily handle 100k+ items; however you might want to look at implementing a custom [`System.Threading.Tasks.TaskScheduler`](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.taskscheduler?view=netframework-4.7.1)

e.g. you could create one with its own threads (rather than t

[2017-11-17 13:33] benaadams commented on #15073
Some info on custom task schedulers:
* [StaTaskScheduler](https://blogs.msdn.microsoft.com/pfxteam/2010/04/07/parallelextensionsextras-tour-5-stataskscheduler/)
* [ConcurrentExclusiveInterleave](https://blogs.msdn.microsoft.com/pfxteam/2010/04/08/parallelextensionsextras-tour-6-concurrentexclusiveinterleave/)
* [Additional TaskSchedulers](https://blogs.msdn.microsoft.com/pfxteam/2010/04/09/paralle

[2017-11-17 14:07] Mcafee123 commented on #13542
Hi, same problem here:

Error:
  An assembly specified in the application dependencies manifest (src.deps.json) was not found:
    package: 'Microsoft.AspNetCore.Antiforgery', version: '2.0.1'
    path: 'lib/netstandard2.0/Microsoft.AspNetCore.Antiforgery.dll'

switched from
<PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.**3**" />
to
<PackageReference Include="Microsoft.AspNetCo

[2017-11-17 14:07] riscie commented on #13542
@alexzaytsev-newsroomly He most likely means this: https://aka.ms/dotnetcore-2-windowshosting

[2017-11-17 14:07] Mcafee123 commented on #13542
sorry...

`<PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.**3**" />`
to
`<PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.**0**" />`

[2017-11-17 14:52] jkotas commented on #12266
Is LinuxPipeThread code that you have written? I do not think we have anything like that in CoreCLR.

[2017-11-17 15:05] TheLastRar commented on #12266
It's code contained by the program that is using my plugin (it's not my code nor is it from CoreCLR).

The code in question is here https://github.com/PCSX2/pcsx2/blob/1.4.x/pcsx2/Linux/LnxConsolePipe.cpp

[2017-11-17 15:22] jkotas commented on #12266
It does not look like a problem with CoreCLR or related to this issue from what you have shared so far. You need to debug the LinuxPipeThread code and figure our what it is waiting for.

[2017-11-17 15:33] cr41g1w commented on #13542
After a lot more messing about, it seems this dotnetcore 2.0 is very very buggy when you try to deploy to Azure.  If you create a dotnet core 1.1 project in VS it will deploy and run perfectly.  No matter how you create a 2.0 project, most of the time it will fail to run at all on Azure.

[2017-11-17 16:29] #14017 closed

[2017-11-17 16:40] stephentoub commented on #14994
Fix for what?

You can use sos to examine the heap.  All of the information you're looking for is available there, in both live debugging and against a dump.  When you find the Task object you're interested in, you can see its id, its status, etc., as they're just fields on the Task object.  For async methods, you can find the state machine object and know exactly where it is by looking at its sta

[2017-11-17 16:53] TheLastRar commented on #12266
You have to excuse me, I'm not particularly well versed in debugging multithreaded programs.

The thread that is blocking is a stderr redirect thread (PCSX2 replaces stdout/stderr with pipes)
these threads should exit when the std redirect pipes are closed.
The hang is presumable caused by a leftover handle on stderr/stdout

Figuring this out forced me to learn how to better debug multi-threaded a

[2017-11-17 18:01] jkotas opened #15076 "Optimize Span.Copy and Span.TryCopyTo"
From https://github.com/dotnet/coreclr/pull/15069#discussion_r151746531 :

ReadOnlySpan.TryCopyTo is ~9.9%, but the Buffer.Memmove it's using for the actual copy is ~3.9%, so there's 6% in there that going to something other than the actual copy (the trace shows ~2.6% in the ReadOnlySpan.TryCopyTo body and ~3.4% in the Span.CopyTo body that TryCopyTo calls). If we're looking to optimize for such p

[2017-11-17 18:03] jkotas commented on #15076
cc @ahsonkhan @KrzysztofCwalina

[2017-11-17 18:04] mattwarren commented on #14994
Or if you want a slight more automated way, take a look at **CLRMD**, for example [ClrMD Part 8 – Spelunking inside the .NET Thread Pool](http://labs.criteo.com/2017/11/clrmd-part-8-spelunking-inside-the-net-thread-pool/)

[2017-11-17 18:38] masonwheeler commented on #652
One of the worst things about `StackOverflowException` being unrecoverable is that it seems to make it also un-debuggable.  If you get one of these in the Visual Studio debugger, it will inform you that you raised a SOE, but it doesn't provide a stack trace.  Can we please at the very least fix whatever's causing *that?*

[2017-11-17 18:42] sillyousu commented on #14994
I missed the [debugging-instructions](https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md) .
I will look into **lldb** and **sos**. Thank you.

I will look into this tool too. Thank you.

[2017-11-17 19:16] #14994 closed

[2017-11-17 19:17] tannergooding commented on #652
![image](https://user-images.githubusercontent.com/10487869/32964520-5f7701c2-cb88-11e7-9281-8fc202b96775.png)

I've provided the picture above as a simple example.

The exception will be caught by a debugger and viewing either the Parallel Stacks or the Call Stack window will display the appropriate information.

However, the first place people may check (`$exception.StackTrace`) lists the stack

[2017-11-17 20:02] omariom commented on #15073
Quoting MSDN:

When a thread encounters a hard page fault it enters wait state. It theoretically means that at least I/O part of the thread pool already handles page faults in a way.

[2017-11-17 21:01] AndyAyersMS opened #15077 "JIT: codegen bug when propagating cast through long shift"
In the following:
[code]
When jitting `G`, during morph, the jit will propagate the long->int cast down through the left shift incorrectly. Cast propagation of this kind through shifts needs to be careful when the shift amount is 32 bits or more.

[2017-11-17 21:06] outbackdingo opened #15078 "mscorlib.dll missing / cross-build arm64 / Debian"
[mscorlib.txt](https://github.com/dotnet/coreclr/files/1483840/mscorlib.txt)
the following guide states

https://github.com/dotnet/coreclr/blob/master/Documentation/building/cross-building.md

Build mscorlib on Ubuntu

The following instructions assume you are on a Linux machine such as Ubuntu 14.04 x86 64bit.

To build mscorlib for Linux, run the following command:

    lgs@ubuntu ~/git/coreclr/

[2017-11-17 21:28] AndyAyersMS commented on #15077
Can simplify a bit:
[code]
still repros the issue.
[code]

[2017-11-17 22:09] TheLastRar commented on #12266
Update:

As I mentioned earlier the code in LinuxPipeThread replaces stdout/stderr with pipes
It then starts up threads that continuously reads from that pipe until it reads eof.

During destruction, the read file descriptor is closed and waits for the read threads to exit (which they quickly do as it reaches eof of the pipe)

However, CoreCLR create an extra set of file descriptors for the stdout

[2017-11-17 23:14] jashook commented on #15005
I have reproed this on Sierra. I have a feeling it may not repro in High Sierra.

[2017-11-17 23:36] karajas commented on #15005
These seem to be on the latest (9.0.0) Would we like to update CI macOS machines to High Sierra?

[2017-11-17 23:43] BruceForstall commented on #14862
`25param1b_il_d.exe` is failing because a GS cookie check is trashing the argument registers before a JMP call, due to `JitStress: STRESS_UNSAFE_BUFFER_CHECKS`

[code]

[2017-11-18 00:23] davmason commented on #14947
Fixed with #15038

[2017-11-18 00:23] #14947 closed

[2017-11-18 01:11] BruceForstall commented on #14862
After #15087 (and ignoring 536168 and foregroundgc), the following are failing:
[code]

[2017-11-18 01:33] weshaggard commented on #15021
@bass3l can you provide a little more repro steps? Can you give us the output of `dotnet --version`? I sometimes see this when there is a mix-match between architectures as well so make sure you are running x86 or x64 according to your OS.

[2017-11-18 02:09] BruceForstall commented on #14960
Ok, I took a look. It turns out to be a very simple fix. All the crazy morphing you're seeing is a particular stress mode where we convert many LCL_VAR to BLK types. There is some ARM-specific alignment code that was getting the offset wrong for ADDR nodes.

Thanks for the investigation!

Fix is in #15088

[2017-11-18 02:10] BruceForstall commented on #14862
After #15088 as well, the following are still failing:
[code]

[2017-11-18 02:11] ahsonkhan opened #15089 "Re-enable temporarily disabled tests that call ReadOnlySpan indexer"
Re-enable the tests disabled in https://github.com/dotnet/coreclr/pull/14727 after the change to ReadOnlySpan indexer propagates to corefx.

[2017-11-18 03:14] danmosemsft commented on #2502
@jkotas is HandleProcessCorruptedStateExceptions likely to be supported on coreclr?

[2017-11-18 06:22] jkotas commented on #2502
Handling dirty access violations is not going to be supported. It is significant security risk as @morganbr described, and it is impossible to do cross-platform reliably.

@ctemple Could you please share more details on how you would like to use this for `golang dll defer recover()` functions?

[2017-11-18 06:24] jkotas commented on #15078
This is documentation bug. All references to mscorlib.dll should be replace with System.Private.CoreLib.dll.

[2017-11-18 07:48] outbackdingo commented on #15078
So where has mscorlib.ddll gone o??? i have an app tha says cant find
mscorlib.dll in linux arm64

On Sat, Nov 18, 2017 at 7:25 AM, Jan Kotas <notifications@github.com> wrote:

[2017-11-18 07:51] jkotas commented on #15078
mscorlib is built in github.com/dotnet/corefx repo.

[2017-11-18 09:02] #15005 closed

[2017-11-18 09:04] ayende commented on #652
In many cases, this is actually not working.
It is common for this exception to actually kill the debugger.

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Fri, Nov 17, 2017 at 9:17 PM, Tanner Gooding <notifications@github.com>
wrote:

[2017-11-18 09:05] ayende commented on #2502
@jkotas The problem for me is memory mapped system.
If I get an error there (for example a network file mmap with network lost) I would really like to not have the entire cluster crash.

[2017-11-18 14:55] kouvel opened #15095 "Clean up Monitor code"
Examples:
- See comments in https://github.com/dotnet/coreclr/pull/14216
- Refactor EnterObjMonitorHelper and EnterObjMonitorHelperSpin to simplify them
- Move AwareLock-relevant logic into member functions of AwareLock
- Consider adding a ThinLock helper class that handles thin lock case conditions and transitions to AwareLock

[2017-11-18 15:10] #15078 closed

[2017-11-18 15:11] #15057 closed

[2017-11-18 15:23] jkotas opened #15096 "Unix Build and Test failing in CI frequently"
The error is:
[code]

The problem is that we copy the CoreFX build straight from CoreFX jobs, but the CoreFX job for CentOS is not running anymore and we get stale build (on some CI machines at least).

[2017-11-18 15:23] jkotas commented on #15096
@jashook What should be done about this?

[2017-11-18 15:59] wilsonge commented on #15005
Thanks guys - apologies I'm at a conference so didn't reply. But I can confirm this fixed the issue I had :)

[2017-11-18 16:05] jkotas commented on #2502
The memory mapped files are interesting case. We may want to have register of memory mapped regions, and if there is a fault in managed code while accessing the registered memory region, convert it to exception and not fail fast. It works reliably only if you have a strong control over code accessing the memory mapped file. If you take the pointer and pass it to PInvoke (like in the above example)

[2017-11-18 16:32] ayende commented on #2502
I do have such strong control over this. And that would be wonderful for our purposes, yes.
That would mean that I wouldn't have to protect all my methods, but just the memory regions in question.

[2017-11-18 16:36] jkotas commented on #2502
@morganbr What do you think about the memory mapped file case?

[2017-11-18 16:38] jkotas commented on #15096
It seems to be affecting all Unix builds. E.g. Ubuntu leg in https://github.com/dotnet/coreclr/pull/15091 failed with this error.

[2017-11-18 17:03] #6906 closed

[2017-11-18 17:13] jkotas commented on #13591
This issue was moved to dotnet/corefx#25334

[2017-11-18 17:13] #13591 closed

[2017-11-18 18:48] bass3l commented on #15021
@weshaggard all `dotnet` commands gave me the same error `HRESULT: 0x80131534` and I'm sure I was using the correct architecture for my OS which is x64. I'm sorry I can't reproduce the issue on my machine anymore, I wasted lots of time on it so I had to roll a fresh copy of windows and it's working fine now.

[2017-11-18 19:16] cod7alex commented on #14742
Hi guys, what change to test will be convenient? Just check that it does not throw now?

[2017-11-18 19:58] jkotas commented on #14742
Yes. Emit a trivial dynamic method that returns byref and call it.

[2017-11-18 20:32] jefffhaynes commented on #5790
I'm sure this is the wrong place but I've used TlbImp to generate an assembly for spellcheck.idl.  I removed the unsupported TypeLibType as you noted and the rest compiles fine.  However, when I instantiate the resulting SpellCheckerFactory class I get an ExecutionEngineException with no additional information.

[2017-11-18 23:00] RussKeldorph commented on #15072
@kouvel Can you be more specific about what you're seeing?  In almost all cases you linked, the test results indicate the test timed out at 10 min.  For example, at https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_arm_altjit_checked_windows_nt_jitstress2_jitstressregs2_prtest/9/testReport/baseservices_threading/_generics_Monitor_EnterExit14_EnterExit14_/_generics_Monitor_Ente

[2017-11-18 23:20] RussKeldorph commented on #15096
@jkotas @rartemev created build-test.sh, which should make Unix package restore more similar to Windows.  At the time that script was created, msbuild was too slow, but recent tools updates have made performance acceptable on Linux (we hope).  @jashook is working to get it deployed in CI, which involves getting rid of the "flow" jobs for x64 and building everything on Unix.  I believe that's the f

[2017-11-18 23:29] kouvel commented on #15072
Ah ok, I misinterpreted the following:

[code]

And thought the timeout was for the test. It looks like the 10 minute timeout is for all tests and it just happens to be timing out during this test.

[code]

It took 4 minutes after xunit was started to start discovering the first set of tests. I guess we may need to increase the timeout when running on these arm machines.

[code]

[2017-11-19 00:21] kouvel opened #15098 "Intermittent failure in waitone2 test on arm indicating that ObjectDisposedException is not thrown"
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_arm_altjit_checked_windows_nt_jitstress2_jitstressregs0x1000_prtest/8/consoleFull

[code]

[2017-11-19 00:21] kouvel commented on #15072
Filed https://github.com/dotnet/coreclr/issues/15098 for the waitone2 failure

[2017-11-19 01:33] jkotas commented on #15096
I agree that getting rid of the "flow" jobs is goodness. Do you believe that it is going to get done in a few days?

If not, can we patch the existing flow jobs to make the CI green? It is not good to have failing jobs in CI for extended time. Something have changed in the CI setup very recently that they started failing frequently - when you look at 10 most recent active PRs, all 10 of them are r

[2017-11-19 01:58] jashook commented on #15096
Looking into this.

[2017-11-19 02:12] jashook commented on #15096
We should be able to move to a dependency restore system closer to what we already use in build pipeline and in build-test fairly quickly. I think that should be a relatively fast change to unblock us.

[2017-11-19 02:13] jashook commented on #15096
Starting on a change.

[2017-11-19 02:26] jkotas commented on #15096
@jashook Thank you!

[2017-11-19 03:06] sirinath commented on #4331
@AndyAyersMS Maybe you can introduce the needed changes in LLVM also than work around its limitations.

[2017-11-19 12:05] benaadams commented on #4331
Does [Multicore JIT](https://blogs.msdn.microsoft.com/dotnet/2012/10/18/an-easy-solution-for-improving-app-launch-performance/) and its Profile Optimization work with coreclr?

[2017-11-19 14:32] RussKeldorph commented on #15096
@jkotas I misinterpreted your description.  I thought you were referring to the long term issue of fragility in the way CoreFx is consumed on Unix that caused occasional periods of spurious failures that worked themselves out once the repos both moved past the break.  If you are describing a problem that is not going to go away on its own, that may require a different immediate action, though I do

[2017-11-19 20:34] jashook commented on #15096
Prototyping a change which uses build-test to create the coreoverlay directory in dev/unix_test_workflow.

[2017-11-19 22:16] mikedn opened #15108 "[RyuJIT] Improve SSA construction throughput"
I have various pending work that improves `SsaBuilder` & co. memory usage and performance, maybe it's good to have an issue to track all that.

It looks like with the changes I have now (some already merged) the memory usage of SsaBuilder can be halved (perhaps even more) and there's also a drop in instruction retired of 0.5-1% (total instructions retired, can't measure just instructions retired d

[2017-11-19 23:46] noahfalk commented on #4331
@benaadams - Yeah multicore JIT works. I don't recall which (if any) scenarios where it is enabled by default, but you can turn it via configuration: https://github.com/dotnet/coreclr/blob/master/src/inc/clrconfigvalues.h#L548

[2017-11-20 02:32] #14742 closed

[2017-11-20 04:02] hqueue commented on #14960
@BruceForstall Thanks for the fix :)
As I left comment at #15088, the PR #15088 fixes this issue on Raspberry pi.

[2017-11-20 10:27] lyze237 opened #15111 "dotnet publish with "--self-contained" and "--runtime" doesn't respect "--output" parameter"
Hello,

I'm currently trying to publish into the `build/publish` directory but when I run the `dotnet publish` command together with `--self-contained` and `--runtime` it won't respect the `--output` parameter:

    dotnet.exe publish "./Solution.sln" --output "D:/Sources/Solution/build/publish" --runtime win-x64 --self-contained

Microsoft (R) Build Engine version 15.4.8.50001 for .NET Core
Copyr

[2017-11-20 16:13] janvorli commented on #14344
It turns out it got fixed by #14892.

[2017-11-20 16:13] #14344 closed

[2017-11-20 16:24] masonwheeler commented on #652
@tannergooding Not sure what to say.  This is not what happens to me, on a vanilla VS2017 installation, when I get a `StackOverflowException`.  I end up with no stack trace, no ability to evaluate locals, and no useful information, and have to track down the problem manually.

[2017-11-20 19:12] jeremymeng opened #15118 "Segment fault when running a .NET Core app on Linux with COMPlus_EnableEventLog=1"
**Edited**: the redis server endpoint doesn't have to be a valid one.

1. clone the repo at https://github.com/jeremymeng/linux_eventlog_crash.git
2. If you have Docker, update the last line of `Dockerfile` to pass in a valid redis server endpoint.   Then just build and run the image. (I have a server that I might be able to share - ping me on corpnet.)
[code]
Otherwise, on Linux machine
[code]

*

[2017-11-20 19:20] jeremymeng commented on #15118
This must have something to do with my private build of the stack exchange redis library `nuget\StackExchange.Redis.1.2.7-alpha-local-1.nupkg`, in which I added `netstandard2.0` support.

[2017-11-20 19:42] TheLastRar opened #15119 "Hosting, Cannot Reinitialize CLR after it has been shutdown"
I'm writing a plugin for another program, In my plugin I'm using CoreCLR to call into a managed library.

My plugin can be unloaded and reloaded during the runtime, however CoreCLR dosen't support this yet, with the second call to coreclr_initialize raising the assert ``ASSERT [LOADER ] at /home/air/git/coreclr/src/pal/src/loader/module.cpp.862: Expression: exe_module.prev == nullptr``

This is us

[2017-11-20 20:47] #14960 closed

[2017-11-20 21:16] mythz commented on #13542
Also started getting this error after upgrading `Microsoft.AspNetCore.All` to **2.0.3** as prompted by NuGet. The .NET Core 2.0 Web App ran locally but failed to run the published App on my Ubuntu server with:

[code]

The solution was to downgrade `Microsoft.AspNetCore.All` back to **2.0.0**.  Either this was not tested properly or we're supposed to manually upgrade Microsoft's NuGet packages on

[2017-11-20 21:41] brianrob opened #15122 "Enable EventPipe on All Platforms"
Currently only present on Linux.

[2017-11-20 21:42] brianrob opened #15123 "Enable TraceLogging Support in EventPipe"
This is required for EventCounter support, as EventCounters log counter updates using TraceLogging.

[2017-11-20 21:42] doctorhilarius commented on #13542
nuget doesn't install aspnetcore windows server hosting 2.0.3.

that has to be installed with: https://aka.ms/dotnetcore-2-windowshosting

[2017-11-20 21:43] brianrob opened #15124 "Enable EventPipe to Target EventListeners as Dispatch Targets"
- Allow the EventListener to pinvoke into the runtime and register itself as a target.
- Implement a GC safe buffering mechanism to allow native events to be dispatched to managed code.
- Invoke registration mechanism from all EventListeners.

[2017-11-20 21:45] brianrob opened #15125 "Expose Native Runtime Events using EventSource"
- EventListener.EnableEvents requires an EventSource parameter.
- Need a way to expose native events in EventListener from EventPipe.

Example: EventListener.EnableEvents(CLREventSource.Log, ...)

[2017-11-20 21:45] brianrob opened #15126 "Plumb Payload Names for All Events Through EventPipe"
- This is required to fill in the PayloadNames field of EventWrittenEventArgs (EventListener support).
 - Right now, EventSource specifies a metadata blob.
 - CONSIDER: Make EventSource pass a strongly typed object representing the payload fields.

[2017-11-20 21:52] brianrob opened #15127 "Update Native Runtime Events to Use the EventData Serialization Format"
This is fairly straight forward and just requires updating the script and serialization functions. The purpose of this is to ensure that all events have a consistent serialization format and that the format easily allows for access to individual payload items. Once a particular logging system has taken over it can choose to convert the payload into a different format.

[2017-11-20 21:53] brianrob opened #15128 "Enable EventPipe to keep track of what logging system (ETW, EventListener, etc.) requested which events and dispatch appropriately"
- Each instance will be represented by an object that knows what it requested.
 - Have a top-level bitmask that knows whether an event has been requested by anyone and use that to decide whether an event is on.
 - At a minimum, once an event has been requested by anyone, use an observer pattern to dispatch the event to each consumer, and allow them to deliver it if they want (or ignore it). We can

[2017-11-20 21:56] mythz commented on #13542
@doctorhilarius What do we need to do for Ubuntu?

[2017-11-20 22:45] AndyAyersMS opened #15130 "JIT: poor CQ for list enumeration constructs"
From some discussion over in dotnet/csharplang#1085. Both the `for` and `foreach` cases have suboptimal CQ.

In the `for` case there is a redundant branch in the inner loop.

In the `foreach` case the enumerator's `MoveNext` is not inlined. If we force this and `MoveNextRare` inline then the jit is not able to optimize away the version check overhead in the inner loop.

Without the inlines the `fo

[2017-11-21 00:01] AndyAyersMS commented on #15130
For `SumFor`"
[code]
IG03 is a critical block (fork/join). The join limits the jit's ability to reason about what happens in this block.

When reaching IG03 from IG02: r8d > 0, edx = 0. So edx < r8d. So the branch to IG06 is not taken.

When reaching IG03 from IG04: edx < r8d. So the branch to IG06 is not taken.

It might be simpler for the jit to reason about IG03 if it simply cloned it to push t

[2017-11-21 00:29] benaadams commented on #15130
There would be more value in inlining `MoveNext`; if `localList._size` could be compared to `localList._items.Length` to prove the loop would never go out of bounds (and for that check to then be hoisted)

However I think the range check elimination currently only works evaluating to `.Length` not to a value tests to be `<= .Length` e.g. `_size` https://github.com/dotnet/coreclr/pull/14030#issueco

[2017-11-21 01:03] AndyAyersMS commented on #15130
For `SumForeach`:
[code]
IG08 is a also a critical block (testing the result of MoveNext):

When reached from IG07 `r11d` is 0 and so the jump is not taken.
When reached from IG05, `r11d` is 1, so the jump is always taken.

By cloning this block we can streamline both branches.

The jit already realizes the compare and branch at the top of IG05 and IG06 has known outcome but doesn't act on it for

[2017-11-21 01:46] pravinpatil83 commented on #13542
Having the same problem on ubuntu

[2017-11-21 03:53] stephentoub commented on #13544
The remaining code to be unified is that for double/single and decimal.

[2017-11-21 04:52] noahfalk opened #15136 "Profiler Interest Group - Announcements"
I'm making this issue as an informal way to flag other issues and discussions that might be relevant to Building .NET profiling tools. This is similar to the .NET announcements repo, but given that profiling is a small crowd I didn't want to create noise for everyone or be very formal about it. Follow the issue if this is something you care about. Hopefully it works well but if not we can try some

[2017-11-21 05:02] noahfalk commented on #445
I think the original issues that opened this thread have been resolved so I'm going to close it. If that is not the case we should probably open a more specific issue on any outstanding questions given how much this thread has meandered.

Above I mentioned the idea of creating a profiler group, I think a number of you liked that idea, and the best I've been able to find is creating an issue simila

[2017-11-21 05:02] #445 closed

[2017-11-21 05:08] noahfalk commented on #15136
Retroactive announcement - Oct 20th - I updated the profiling status page that describes our progress supporting the ICorProfiler APIs
PR: #14644
Latest status: https://github.com/noahfalk/coreclr/blob/master/Documentation/project-docs/profiling-api-status.md

[2017-11-21 05:16] noahfalk commented on #15136
Retroactive announcement - Oct 20th - @davmason implemented new ICorProfiler APIs (#14612, #14643) to help profilers deal with the [**breaking changes**](https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/code-versioning-profiler-breaking-changes.md) that are coming with [tiered jitting] (https://github.com/dotnet/coreclr/pull/12193)

[2017-11-21 05:47] #14831 closed

[2017-11-21 08:26] thoean commented on #14991
We're running into OOM with 2.0.0. We just upgraded to 2.0.3 and see if that fixes the problem.

@emanuelbalea / @tmds , you mentioned the nightly 2.0.4 docker image will fix this problem. Where can I find it? The best I could found was [microsoft/aspnetcore-nightly](https://hub.docker.com/r/microsoft/aspnetcore-nightly/), but that only contains 2.0.1. [microsoft/aspnetcore](https://hub.docker.com

[2017-11-21 08:28] AhmedRagheb opened #15139 "Question: Why C# doesn't allow passing parameter as final?"
In Java, you can mark variable as final
[code]
Why this is not allowed in C#.
There are many questions like this in Stackoverflow but I prefer to ask here to get the right reason behind that, not just theoretical answers.

[2017-11-21 08:38] mikedn commented on #15139
This is a question/suggestion for the csharplang repo, not coreclr. I'm pretty sure they already have some discussions around allowing `readonly` to be used for local variables.

[2017-11-21 08:41] AhmedRagheb commented on #15139
Ok, I will close it and move it there.
Thanks,

[2017-11-21 08:41] #15139 closed

[2017-11-21 08:52] tmds commented on #14991
@thoean since this issue was created 2.0.3 has been released. so the official images at https://hub.docker.com/r/microsoft/dotnet/ contain the fix.

[2017-11-21 11:45] janvorli commented on #15118
@jeremymeng could you please dump the value of `rsp` in frame 0 and frame 19? I am curious how large the stack is at the time of the crash.

[2017-11-21 11:49] janvorli commented on #15119
@TheLastRar coreclr doesn't support reinitialization due to the same reason it doesn't support unloading of libcoreclr as mentioned here https://github.com/dotnet/coreclr/issues/12266#issuecomment-325029644.

[2017-11-21 14:52] niemyjski commented on #13542
I'm also running into this while deploying to azure :\

[2017-11-21 15:18] #6680 closed

[2017-11-21 17:31] jeremymeng commented on #15118
@janvorli
[code]

[2017-11-21 17:41] janvorli commented on #15118
The stack size at the time of stack overflow looks pretty small, around 100kB. I know that ETW stuff creates 64kB buffer on stack (BulkTypeEventLogger instance).
@brianrob I actually wanted to ask you about the necessity of such a large buffer several times in the past, but always forgotten. Is it perf critical to have it on the stack or could we just dynamically allocate it instead? I've hit a pr

[2017-11-21 18:51] sdmaclea opened #15143 "[Arm64/Unix] 85% test fails"
I am seeing ~100%~ 85% test fails on this tip ` 7fe84b111b`

Looking at first few failures, this assert is firing

[code]

Last known passing tip `f47e2640cd`

@dotnet/jit-contrib @dotnet/arm64-contrib

[2017-11-21 19:23] sdmaclea commented on #15143
@justinvp Looks like the regression was introduced by #15110

[2017-11-21 19:30] sdmaclea commented on #15143
git bisect log
[code]

@jkotas @stephentoub FYI

[2017-11-21 19:34] sdmaclea commented on #15143
Why was the CentOS type load exception in #15110 ignored?  I did not follow the rationale.

[2017-11-21 19:38] jkotas commented on #15143
This is know issue #15096. The problem is that the CI pickups old build of CoreFX sometimes, and it causes this one test to fail with the type load exception. @jashook is working on fixing it.

[2017-11-21 19:40] jkotas commented on #15143
Which job do you see the ARM64 failure on? The Windows arm64 CI jobs are generally fine, e.g.:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_debug_windows_nt_flow_prtest/156/  (from #15140)

[2017-11-21 19:45] sdmaclea commented on #15143
I am seeing the failures in my internal Ubuntu arm64 checked workflow.  My workflow uses crossgen on all CoreClr/CoreFX libraries.  I use the CoreFX build specified by `depenencies.prop`.

It is not obvious why this PR would cause an issue.  I need to break out the debugger...

[2017-11-21 19:52] thoean commented on #14991
Thanks @tmds. Upgrading to the 2.0.3 docker image seems to have fixed the problem on our side. Thank you.

Should this issue be closed?

[2017-11-21 21:09] sdmaclea commented on #15143
I realized only 85% of tests were failing...

strace log of a failing test `Loader/classloader/TypeGeneratorTests/TypeGeneratorTest979/Generated979/Generated979.exe`
[code]

Maybe new API relies on a feature not present in one of ARM64 Ubuntu  internationalization libraries?

Continuing to debug

[2017-11-21 21:19] sdmaclea commented on #15143
Doesn't fail on `debug` build of `60222780`.  Failed on `checked` build of `87fb7de21`.  Rechecking with same revision

[2017-11-21 21:22] sdmaclea commented on #15143
Confirmed.  fails on `checked` build, but not `debug` build (on recent tip `60222780`)

[2017-11-21 21:22] MaximRouiller commented on #917
Linking announcement here:

https://github.com/dotnet/announcements/issues/49

[2017-11-21 21:26] jkotas commented on #15143
It means that it is likely an optimization bug.

[2017-11-21 21:39] CarolEidt commented on #10622
I am unable to reproduce this.

[2017-11-21 21:39] #10622 closed

[2017-11-21 22:38] BruceForstall commented on #15143
Or the debug v. checked managed System.Private.CoreLib.dll has different code.

Note that the CI jobs only run "Pri 0" tests. The "Pri 1" test runs are currently broken (see https://github.com/dotnet/coreclr/pull/15075)

[2017-11-21 22:41] BruceForstall commented on #15143
You can try running / debugging by dropping a Debug JIT into the Checked CORE_ROOT directory.

[2017-11-21 23:06] jeremymeng opened #15148 "RedisTimeoutException on Linux related to threadpool"
@kouvel did some investigation in an offline email thread.  This is likely due to the lack of IO completion ports on Linux so the response of an async request is handled in a thread pool work thread. However, when all thread pool worker threads are busy, it could take 500-1000ms for a new thread to be added to handle the response => Redis library throws timeout.

@kouvel has ideas for potential im

[2017-11-22 01:09] BruceForstall opened #15150 "[RyuJIT/arm32] Assert failure: pImportSection == pModule->GetImportSectionForRVA(rva)"
Test failure with Checked ARM run on Release test build, on Windows hardware.

Happens with JitStressRegs=1 and JitStressRegs=8.

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_jitstressregs1_tst_prtest/2/artifact/bin/tests/Windows_NT.arm.Checked/Smarty.run.0/Smarty.0.fail.smrt/*view*/
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/j

[2017-11-22 01:10] BruceForstall commented on #15150
@dotnet/arm32-contrib

[2017-11-22 01:22] BruceForstall opened #15152 "[RyuJIT/arm32] test failures with TailcallStress"
The following tests fail with `COMPlus_TailcallStress=1` with a Checked build, running Release-built tests.

[code]

This doesn't include tests that also fail in JitStress=1 or 2 runs.

The failure mode is access violation. It's likely the same as the remaining failures in JitStress=1 https://github.com/dotnet/coreclr/issues/14862, some (or all) of which also appear to be tailcall related.

https:

[2017-11-22 01:28] BruceForstall opened #15153 "[RyuJIT/arm32] Release test failures"
The following tests fail with a Release build, on ARM Windows:

[code]

They pass with Checked and Debug builds.

https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_release_windows_nt_tst_prtest/2/artifact/bin/tests/Windows_NT.arm.Release/Smarty.run.0/Smarty.0.fail.smrt/*view*/

[2017-11-22 01:32] noahfalk opened #15154 "Tiered jitting: We need a working x86 full-stack build so that the VS profiler team can test our feature"
When I last tried to find a working x86 dotnet daily build I wasn't successful. This is apart from any details of the tiered jitting feature - the dotnet build wasn't able to do some basic restore/build/run for a template ASP.Net app. Its possible the daily build I tried was just an unlucky one but I was unable to quickly salvage it or find information about an LKG version to use instead.

These a

[2017-11-22 01:34] noahfalk commented on #15154
@weshaggard - @lt72 suggested I assign this to you but I'm not sure?

[2017-11-22 01:48] BruceForstall opened #15155 "[RyuJIT/arm32][JitStress=2][JitStressRegs=2] Test failure: dlbigleak.cmd"
Test `GC\Scenarios\DoublinkList\dlbigleak\dlbigleak.cmd` fails with:

[code]

output:
[code]

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_jitstress2_jitstressregs2_tst_prtest/1/artifact/bin/tests/Windows_NT.arm.Checked/Smarty.run.0/Smarty.0.fail.smrt/*view*/

[2017-11-22 01:48] BruceForstall commented on #15155
@dotnet/arm32-contrib

[2017-11-22 01:49] BruceForstall commented on #15155
This was run on ARM Checked Windows.

[2017-11-22 01:49] BruceForstall commented on #15153
@dotnet/arm32-contrib

[2017-11-22 01:54] BruceForstall commented on #15155
Also fails JitStress=2, JitStressRegs=3

[2017-11-22 01:56] BruceForstall opened #15156 "[RyuJIT/arm32][JitStress=2][JitStressRegs=3] Test failure: dlstack.cmd"
Test `GC\Scenarios\DoublinkList\dlstack\dlstack.cmd` fails with:

[code]

output:
[code]

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_jitstress2_jitstressregs3_tst_prtest/1/artifact/bin/tests/Windows_NT.arm.Checked/Smarty.run.0/Smarty.0.fail.smrt/*view*/

[2017-11-22 01:56] BruceForstall commented on #15156
@dotnet/arm32-contrib

[2017-11-22 02:06] BruceForstall commented on #14860
These are failing again.

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_minopts_tst_prtest/8/artifact/bin/tests/Windows_NT.arm.Checked/Smarty.run.0/Smarty.0.fail.smrt/*view*/

Tests:
[code]

I repro'ed locally with Checked ARM Windows against Release built tests.

Output:
[code]

(repro'ed as of git commit 30d20fd832b4dba9e6d5f9c77f88d8b3ccd1066e,

[2017-11-22 02:06] BruceForstall commented on #14860
@rartemev If you aren't planning to look at these, please unassign yourself.

[2017-11-22 05:13] stephentoub opened #15159 "JIT test errors on Unix when changing decimal to explicit layout"
As part of unifying decimal's formatting code between coreclr and corert, @jkotas suggested I make decimal have an explicit layout, as it is in corert.  In doing so, a handful of JIT tests started failing:
[code]
The failures would seem to indicate a JIT/runtime bug, as they're frequently eminating from code other than decimal, suggesting that something is getting corrupted, e.g.
[code]
These fail

[2017-11-22 05:21] weshaggard commented on #15154
Not sure why this would be assigned to me.

@noahfalk what errors are you seeing?

[2017-11-22 07:12] zaytsev-victor commented on #9215
Since there is no updates from April, can I take it?

[2017-11-22 07:25] jkotas commented on #9215
Yes, you are welcomed to!

cc @karelz

[2017-11-22 08:25] mfkl opened #15163 "marshalling va_list crossplatform p/invoke binding"
Hello from VideoLAN!

We're currently implementing a new crossplatform .NET binding over `libvlc` and have ran into a bit of an issue. Our libvlc log callback prototype looks like this:

`typedef void(* libvlc_log_cb) (void *data, int level, const libvlc_log_t *ctx, const char *fmt, va_list args)`

We need to marshal this from native to managed in a crossplatform way.

What is the recommended way

[2017-11-22 08:52] jeremyVignelles commented on #15163
Additional info to clear things up:
We need to register a managed callback inside the native library (libvlc).
I am the contributor of an existing Vlc wrapper in .net net, and I have implemented that using a hack:
https://github.com/ZeBobo5/Vlc.DotNet/blob/develop/src/Vlc.DotNet.Core/VlcMediaPlayer/VlcMediaPlayer.Events.Log.cs#L55

va_args are interpreted as an IntPtr and given to the formatting f

[2017-11-22 12:59] 4creators opened #15165 "[Docs] Add requirement to always invoke powershell with -NoProfile option to coding guidelines"
I have encountered several issues with powershell invocations in coreclr build, CI and test code which were caused by powershell invocation without using -NoProfile option which prevents powershell profile script execution on startup.

Unlike Linux shells powershell when invoked by default executes profile scripts even on unixes. This overlooked feature may cause side effects which may affect exec

[2017-11-22 13:33] jkotas commented on #15163
Yes, varargs structure size and internal details are platform specific. IIRC, it is 3 pointer size on Linux x64. You can try to work around this by having Linux x64 specific version of the callback that takes 3 pointer sized structure as argument.

[2017-11-22 13:37] jeremyVignelles commented on #15163
@jkotas : Thanks for your answer! I will try that. Do you have a documentation, a source code or something for that "magic" 3-pointers size?
What about linux x86?
linux ARM?
Is there something specific to the calling convention?

[2017-11-22 13:46] jkotas commented on #15163
Yes, size of `va_list` depends on the calling convention unfortunately. You can find the size by running `printf("%d\n", sizeof(va_list));` on the target platform.

I think something like this should work: `struct VarArg_Linux_x64 { IntPtr x1; IntPtr x2; IntPtr x3 }`.

Does your binding have unmanaged part in C/C++? It would be better to deal with the varargs in C/C++.

[2017-11-22 15:20] jeremyVignelles commented on #15163
The question about the calling convention was just for my own understanding and curiosity 🙂

We currently do not have any unmanaged part in our binding, and I'd like to avoid that as much as possible, because that would mean compiling another lib for each platform (say win32/64, linux 32/64, linux rasp, android?, tizen?...) before building our .net interop library. Those native libraries would the

[2017-11-22 15:41] jkotas commented on #15096
@jashook Do you have any update on the progress - when can we expect the fix? This is pretty painful to deal with.

[2017-11-22 16:27] jeremyVignelles commented on #15163
Sharing my findings here : This archived pdf https://www.uclibc.org/docs/psABI-x86_64.pdf at page 52 suggests that va_list is a structure with 4 fields (2 unsigned ints and 2 pointers)

This pdf http://infocenter.arm.com/help/topic/com.arm.doc.ihi0042f/IHI0042F_aapcs.pdf at page 27 has the declaration of va_list for the ARM architecture

[2017-11-22 16:30] sdmaclea commented on #15143
Stub lookup is failing for a function in the crossgen S.P.C.

If I set `COMPlus_ZapDisable=1`, the failure becomes a segfault.  `VirtualCallStubManager::predictStubKind()` is seg faulting here. https://github.com/dotnet/coreclr/blob/master/src/vm/arm64/virtualcallstubcpu.hpp#L429, because `stubStartAddress` is completely bogus, which the comment seems to indicate is OK.  Also the `EX_TRY`, `EX_CAT

[2017-11-22 16:32] tmds commented on #14991
@swgillespie I wonder, are there minimal size requirements for the runtime to establish heaps? It would be meaningful to have some guidelines. For example: if I create a docker container with server gc and it has 4 logical cpus, how much memory should I at least allocate to that? What happens when the runtime doesn't find space to create/enlarge the heap? Does this cause an OOM kill? Or does the a

[2017-11-22 16:33] sdmaclea commented on #15143
#14051 Seems to be dealing with a similar issue

[2017-11-22 16:36] sdmaclea commented on #15143
@janvorli Do you have comments?

[2017-11-22 16:41] jkotas commented on #15143
What is the stacktrace of the predictStubKind segfault?

[2017-11-22 16:50] janvorli commented on #15143
@sdmaclea let me comment after I'll see the stack trace.

[2017-11-22 16:51] sdmaclea commented on #15143
In gdb, w/o enabling gdb symbols (which I need to remember how to do).  The BT stops when we get back to managed code.

[code]

If you need, I can probably manually walk the stack frames.

The incoming `siteAddrForRegisterIndirect` in  `VSD_ResolveWorker()` seems OK.

[2017-11-22 16:52] sdmaclea commented on #15143
As the set of failures moves with different configurations.  I was forced to move to debugging this test.

`JIT/Directed/shift/int32_cs_r/int32_cs_r.exe`

[2017-11-22 16:55] maroallegro commented on #13542
I am also having same problem:
`Error:
An assembly specified in the application dependencies manifest (MyApp.deps.json) was not found:
package: 'Microsoft.Extensions.FileProviders.Embedded', version: '1.0.0'
path: 'lib/netstandard1.0/Microsoft.Extensions.FileProviders.Embedded.dll'`

Without success I:
- added `<PublishWithAspNetCoreTargetManifest>false</PublishWithAspNetCoreTargetManifest>`
to my

[2017-11-22 16:56] karelz commented on #9215
@zaytsev-victor I added you to collaborator list. Ping me hen you accept. As with CoreFX, we recommend to disable all notifications for the repo (it's quite a lot).

@mattwarren I assume you don't work on the issue anymore. Can you please confirm?

[2017-11-22 16:57] zaytsev-victor commented on #9215
@karelz I've accept invitation, thanks

[2017-11-22 17:10] mattwarren commented on #9215
@karelz yeah that's fine, I've not done anything with this in 7 months!!

[2017-11-22 17:29] jkotas commented on #15143
We should not ever get a bad address here.

`*(void**)siteAddrForRegisterIndirect` should be a valid code address. Could you please check it?

I suspect that it maybe a problem with register allocator not preserving the VSD indirection in the right register. We should be able to confirm this if you disassemble couple of instructions in the calling JITed code.

The relevant JIT code is here https:/

[2017-11-22 17:40] janvorli commented on #15143
@sdmaclea if you ever want to debug an EX_TRY, set a breakpoint to SEHProcessException in PAL. It is invoked from the sigsegv_handler. It first calls to g_safeExceptionCheckFunction which should return false for exception that happen out of managed code and several selected runtime helpers.
The execution flow should then reach the
[code]
The CatchHardwareExceptionHolder::IsEnabled returning true i

[2017-11-22 17:53] sdmaclea commented on #15143
@jkotas gdb log below.  looks like you are right.

[code]

This instruction looks very suspicious (Not quite a `nop`, it is effectively a data prefetch with exception)
`0x0000ffff3f55a5c8:  ldr     wzr, [x0]`

[2017-11-22 18:00] jkotas commented on #15143
Yes, this looks suspect. I think this should look like this (x10 can be any register != x11):
[code]

[2017-11-22 18:12] BruceForstall opened #15169 "[arm64] GC\API\NoGCRegion\NoGC\NoGC.cmd is slow on Debug"
On my Windows ARM64 machine, the `GC\API\NoGCRegion\NoGC\NoGC.cmd` test takes about 3.5 minutes on Checked, but over 20 minutes on Debug. I believe this is why all the ARM64 Debug build and tests CI runs are failing on this test, due to a timeout.

What is the best way to address this long running test? One option: disable the test in tests\arm64\tests.lst. This would disable it for all runs. Or,

[2017-11-22 18:12] BruceForstall commented on #15169
@swgillespie @jashook ideas?

[2017-11-22 18:17] jkotas commented on #15111
This issue was moved to dotnet/cli#8087

[2017-11-22 18:17] #15111 closed

[2017-11-22 18:24] janvorli commented on #15159
I may be wrong, but I think that the Unix amd64 ABI support in coreclr cannot pass / return structs with explicit layout by value in registers. Looking at the https://github.com/dotnet/coreclr/commit/dc35586ecd37be9d2517244175da8b84a1237005, it looks like the struct would be a candidate for passing in registers and so if we pass or return such struct from managed to native code in runtime, it coul

[2017-11-22 18:39] sdmaclea commented on #15143
The `0x0000ffff3f55a5c8:  ldr     wzr, [x0]` is a null check of the this pointer.  It throws if the pointer is null.

[2017-11-22 18:48] JeffCyr opened #15171 "TaskScheduler should be able to cancel pending tasks"
## Rationale
After a `Task` is enqueued with `TaskScheduler.QueueTask(Task task)`, it is currently not possible to cancel or fail the task if the `TaskScheduler` can't execute the task.

This makes it hard to implement a disposable `TaskScheduler` because `Dispose` needs to block until all pending tasks are executed, which is not always possible, or have to leave the pending tasks uncompleted, whi

[2017-11-22 18:48] #2350 closed

[2017-11-22 18:50] jkotas commented on #15159
You are probably right. It would meant that marking Decimal as ExplicitLayout would be a breaking change.

I am wondering whether https://github.com/dotnet/corefx/blob/master/src/System.Memory/Common/src/System/MutableDecimal.cs is the better solution for the explicit layout problem. As side-effect, it would get rid of majority of the places where we mutate the Decimal fields internally and allowe

[2017-11-22 18:52] jkotas commented on #15171
This issue was moved to dotnet/corefx#25443

[2017-11-22 18:52] #15171 closed

[2017-11-22 18:56] jkotas commented on #15143
Make sense - I have update the snippet. Then it looks like exactly the problem with https://github.com/dotnet/coreclr/blob/master/src/jit/lower.cpp#L4184

[2017-11-22 19:04] DamianEdwards commented on #13542
The details for updating Linux servers running to run 2.0.3 are at https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.0.3.md#linux.

In short, you need to update the same components you installed to get 2.0.0 on to the box, whether it was the .NET Core SDK (`apt-get install dotnet-sdk-2.0.3`), .NET Core runtime (`apt-get install dotnet-hosting-2.0.3`), or manual TAR ball

[2017-11-22 19:13] DamianEdwards commented on #13542
A little further detail, this is the default behavior of the `Microsoft.AspNetCore.All` package, as documented at https://docs.microsoft.com/en-us/dotnet/core/deploying/runtime-store#aspnet-core-implicit-store

That package implicitly publishes your application without any of the ASP.NET Core assemblies, thus requiring that your server has them installed in the runtime store. You can disable this

[2017-11-22 19:15] jashook commented on #15096
Currently I have a few incremental changes in dev/unix_test_workflow. Pretty happy with it minus some issues with overwriting native bits correctly.

[2017-11-22 19:43] maroallegro commented on #13542
@DamianEdwards I don't know do I understand you correctly.
This is what I done now:
-uninstalled .net core 2.0.0 (by i.e `sudo apt-get purge --auto-remove dotnet-sdk-2.0.0`) and other packages connected with that.
-installed .net core 2.0.3  by `sudo apt-get install dotnet-sdk-2.0.3`
-installed `sudo apt-get install dotnet-hosting-2.0.3`
-runned `dotnet run` in my project folder
-tried to run MyAp

[2017-11-22 19:46] pentp commented on #15159
Using unsafe ref casts to work on the overlaid fields could work, but it might hurt perf, for example in .ctors because JIT optimizations might not work as well. In any case, `[FieldOffset(8), NonSerialized] private ulong ulomidLE;` would still require explicit layout, unless we add another projection struct.
`readonly struct` would be a nice benefit, but it would have a limited effect (only on `T

[2017-11-22 19:50] DamianEdwards commented on #13542
@maroallegro did you revert the changes to your project?

You shouldn't need to install both `dotnet-sdk-2.0.3` *and* `dotnet-hosting.2.0.3`. Just install the one you need (usually SDK for dev box, hosting for server). Also you shouldn't need to uninstall the previous version.

Can you share your csproj file? Also, did you do a `dotnet restore` after the install of 2.0.3?

[2017-11-22 19:58] jkotas commented on #15159
I was thinking we would always start by casting the whole decimal as `ref MutableDecimal` and go from there. We would not be casting for each individual field access.

The struct calling convention Unix amd64 ABI depends on the content of the struct - if you change the fields of the struct, it will change how it gets passed. Also, there is no direct exact mapping between C++ unions and C# explicit

[2017-11-22 20:04] maroallegro commented on #13542
@DamianEdwards This is my first test of this app on linux so this bug is not connected with any feature which I implemented, I didn't revert it.

I did `dotnet restore` now, but it didn't help.

Should i uninstall `dotnet-hosting.2.0.3` and install `dotnet-sdk-2.0.3` now?

Sure, here is my .csproj file

[code]

Thanks a lot for your help ;)

[2017-11-22 20:16] lt72 commented on #15154
@weshaggard: I just tried Noah's repro steps, and it seems to work for me.
@noahfalk: Can you please send the error you were seeing?

[2017-11-22 20:24] pentp commented on #15159
Always casting first and then passing by `ref/in` should be doable (maybe even combine `DecCalc` and `MutableStruct` for better code cohesion). If I understand correctly, the C# compiler treats `System.Decimal` in a special way that allows it to have .ctors that don't init all fields? I tried to look into it once, but didn't find anything in Roslyn.
That leaves inline-able functions like `Negate`

[2017-11-22 21:10] brianrob opened #15175 "Re-Enable Performance PR Jobs"
We should do the following work as part of bringing back PR jobs:
 - [ ] Reduce execution time to be closer to the existing functional CI jobs.
 - [ ] Address any intermittent failures (not sure if there are any).
 - [ ] Ensure we have machine capacity to minimize queue time (I believe this is already taken care of).
 - [ ] Document how to use these runs.

[2017-11-22 21:59] sdmaclea commented on #14332
Initial implementation is complete.

The current open ARM64 SIMD pull requests allow all tests to pass in debug build (with and without SIMD enabled).

[2017-11-22 22:12] ravimeda opened #15183 "BinSkim BA2021 on System.Private.CoreLib.dll"
Repro steps:

1. Build CoreCLR (`build.cmd`)
2. Run BinSkim (https://github.com/Microsoft/binskim/blob/master/README.md#for-users)

**Expected**: No issues

**Actual**: Defect Id BA2021 is reported on System.Private.CoreLib.dll

Details: PE sections should not be marked as both writable and executable. This condition makes it easier for an attacker to exploit memory corruption vulnerabilities, as

[2017-11-22 22:38] jkotas commented on #15183
cc @vitek-karas

[2017-11-22 23:31] bungeemonkee opened #15186 "RuntimeBinderException when using Task extension method on the result of an async method in a call tree that includes a dynamic parameter"
I ran into a very specific case where the clr appears to not properly resolve extension methods at runtime for code involving both dynamics and async and throws a RuntimeBinderException.

CLI version: 2.0.3
CLR versioin: 2.0.3

If the code below is added to a netcoreapp2.0 console project it will reproduce the exception.

Program.cs
[code]

The exception is:

I have included a zip archive of the s

[2017-11-22 23:31] jkotas commented on #15159
This issue was moved to dotnet/corert#4994

[2017-11-22 23:31] #15159 closed

[2017-11-22 23:33] #15143 closed

[2017-11-23 00:19] BruceForstall commented on #13731
I no longer see these fail with timeout, nor do they run slowly.

[2017-11-23 00:19] #13731 closed

[2017-11-23 00:50] DamianEdwards commented on #13542
@maroallegro have you deployed (via `dotnet publish`) this application to any server before, including Windows? This is a slightly odd looking project layout, where you seem to be using a .NET Core console application that then references a web application (MyApp.WebApi.csproj). There is no use of `Microsoft.AspNetCore.All` here, so I'm not sure how you'd be affected by this issue.

[2017-11-23 01:29] bording opened #15189 "AssemblyName.GetAssemblyName throws exceptions on Linux and macOS"
Given the following program:
[code]

The behavior varies depending on what OS it is run on. It works perfectly on Windows. On Linux and macOS, the calls to GetAssemblyName eventually start failing. I've seen a variety of exceptions.

on macOS I've see the following exceptions:
[code]
[code]

on Linux I've seen:
[code]
[code]

The stack traces all show the exceptions coming from `System.Reflection.

[2017-11-23 02:08] swgillespie commented on #15169
I'd be interested in seeing what's taking it so long. This test completes relatively quickly on x64 so I'm pretty surprised it would take 20 minutes. Can you grab a CPU sampling trace of this test? I'm always afraid of disabling tests wholesale since there could be bugs lurking but the `NOT_IN_DEBUG` solution sounds reasonable to me.

[2017-11-23 04:00] jkotas commented on #15189
cc @russellhadley

[2017-11-23 04:01] jkotas commented on #15186
This issue was moved to dotnet/corefx#25461

[2017-11-23 04:01] #15186 closed

[2017-11-23 04:11] #14033 closed

[2017-11-23 04:44] danmosemsft commented on #14162
@colgreen oops, somehow I missed that you had replied here. This seems a worthwhile change to have in a PR. @jkotas do you know why these null checks existed? (https://github.com/colgreen/coreclr/commit/0f84a622eaf20021a3eacc3c4ee41ccbc517d190)

[2017-11-23 04:48] danmosemsft commented on #6136
@4real still planning to take a look? just realized I never checked back. it would be nice to optmize this.

[2017-11-23 04:50] danmosemsft commented on #5612
@mazong1123 have you had a chance to look further?

[2017-11-23 04:58] jkotas commented on #14162
There was just one `ArraySortHelper<TKey, TValue>` originally that was used to sort both TKey and TKey+TValue cases: https://github.com/emuikernel/SharedSourceCLI/blob/e5abf1c064c9e599a9065c7fbcc82059b5c4755e/sscli20/clr/src/bcl/system/collections/generic/arraysorthelper.cs#L55 It is still like that in CoreRT.

Then somebody created optimized duplicate ArraySortHelper for the TKey case, but forgot

[2017-11-23 05:53] ms0713 opened #15194 "Socket.IOcontrol handles Windows-specific control codes and is not supported in linux"
Using DllImport in my .Net code, I was using **ws2_32.dll**. While running same in Linux it says dll cant be load.
So I stopped using DllImport and used Socket.IOControl() to read my data from socket. This time linux gives following error:
Socket.IOControl handles Windows -specific control codes and is not supported in linux.

What could be the common way to recieve data in Windows and Linux???

[2017-11-23 07:30] mazong1123 commented on #5612
@danmosemsft sorry I'm afraid I don't have so much time for working on this issue right now. I'm busy with my day job and for .NET Core I'm only focusing on https://github.com/dotnet/coreclr/pull/14646

However, I can support anyone who wants to work on this issue in my spare time.

[2017-11-23 09:57] JonHanna commented on #15186
As per the corefx issue. This is correct behaviour. A much shorter reproduction of the same behaviour is `((dynamic)new int[0]).Any()`. The dynamic binder does not—and should not—consider extension method syntax in deciding which overload to bind to. You should use the static method call syntax of `TaskExtensions.TaskExtension(DoSomething(thing));` instead.

[2017-11-23 10:49] sam0302 opened #15197 "Coreclr build fails with error : __declspec attribute 'selectany' is not supported"
I am trying to build coreclr using yocto for Raspberry pi platform. I am using the bitbake layer from https://github.com/Tragetaschen/meta-aspnet.
I am getting compilation issue as below:

1.

SELECTANY const mdToken g_tkCorEncodeToken[4] ={mdtTypeDef, mdtTypeRef, mdtTypeSpec, mdtBaseType};
^
/build/tmp/work/xxx-linux-gnueabi/coreclr/2.0.0-r0/git/src/inc/cor.h:2207:41: note: expanded from macro 'S

[2017-11-23 13:04] tmds commented on #14327
It's the underlying platform that needs to support that library. So I don't think dotnet can enforce this at a release boundary.

Overview of ETW_TRACING_CATEGORY_ENABLED used in coreclr:

[code]

[2017-11-23 13:04] colgreen commented on #14162
That was the conclusion I came to too from looking at the code, I couldn't see any code path that would use the null tests so the PR request I submitted should be a safe change (non-breaking change, functionally equivalent, etc.)

[2017-11-23 13:09] sam0302 commented on #14757
I am also hit with exactly the same issue when trying to build coreclr in yocto for Raspberry pi. I raised an issue : https://github.com/dotnet/coreclr/issues/15197

Would like to know when can we expect a fix/patch for this?

[2017-11-23 15:49] mclarenengineering commented on #10279
@gregg-miskelly this will work on the visual studio preview the debug gives an execution error

[2017-11-23 15:57] jkotas commented on #15197
cc @janvorli

[2017-11-23 15:58] janvorli commented on #15197
@sam0302 it is a bug in the clang 5.0 compiler, it seems that they are going to fix it for 5.1 release.

[2017-11-23 15:59] jkotas commented on #15194
This issue was moved to dotnet/corefx#25467

[2017-11-23 15:59] #15194 closed

[2017-11-23 16:13] jkotas commented on #9215
@zaytsev-victor Are are also interested in adding a test to https://github.com/dotnet/corefx/blob/master/src/System.Runtime/tests/System/DelegateTests.cs ? @AtsushiKan said it is optional ... but I think it would be nice to have one.

[2017-11-23 17:30] zaytsev-victor commented on #9215
@jkotas Yes, sure, thanks!

[2017-11-24 14:03] ViktorHofer opened #15203 "FailFast logging should include inner exception details and stacktrace"
We introduced FailFast logging with this change: https://github.com/dotnet/coreclr/commit/0c4a490 but are currently ignoring the passed exception data and stacktrace when calling `FailFast(string,Exception)`. We currently output the stacktrace that originates from the FailFast call.

This issue was reported here: https://github.com/dotnet/corefx/issues/25477
Related issue:
- https://github.com/dot

[2017-11-24 14:17] janvorli commented on #15189
I've tried it on my Ubuntu 14.04 and I can confirm that I repro the problem. Running under lldb reveals that the issue is due to too many open file handles. On my system, it had 4095 handles opened at the time it failed. 99% of these are managed assemblies, each having many handles opened. There are e.g. 59 handles to System.Net.Http.dll.
I haven't done further investigations yet.

[2017-11-24 14:28] niemyjski commented on #13542
@DamianEdwards I've confirmed everything is correct by running the code locally in IIS. The azure website does not work: `HTTP Error 502.5 - Process Failure`. Any ideas? I'm working on this for a few more hours and then opening up a critical azure ticket.

[2017-11-24 15:08] niemyjski commented on #13542
An update. I resaved my environment variables in azure and redeployed the same code and it appears to be up and running now, but getting lots of errors with jobs. I'm thinking something could have been cached?

[2017-11-24 15:31] ViktorHofer commented on #14867
@jkotas currently the title "FailFast:" is hard-coded. I did this here: https://github.com/dotnet/coreclr/commit/0c4a490#diff-4c8371796156e86a3c2d34c8794f6582R1184. Should we always use the fail fast message instead of the hard-coded string?

I will tackle this and other issues and keep track of them in this issue: https://github.com/dotnet/coreclr/issues/15203

[2017-11-24 15:49] niemyjski commented on #13542
I spoke too soon, static landing page now loads but any other page errors out :\... This is really annoying.

[code]

and

[code]

[2017-11-24 15:59] tmds commented on #14327
@brianrob what needs to happen with the ETW_TRACING_CATEGORY_ENABLEDs?

A suggestion. Perhaps we can add a define:
[code]

And the add functions to map the specific ETW_TRACING_CATEGORY_ENABLED to EventDescriptors?
e.g.
[code]
Or do you have something else in mind?

[2017-11-24 16:05] jkotas commented on #14867
I think we need an extra argument to be passed to the fail fast FCall that will differentiate the message:

When the program fails with FailFast, the error should have fail fast title.
When the program fails with Debug.Fail, the error should have assertion failed title.

[2017-11-24 16:24] ViktorHofer commented on #14867
Sounds good!

[2017-11-24 16:28] sam0302 commented on #15197
Thanks jan, I got a patch fix for 1st error : SELECTANY issue here: https://reviews.llvm.org/D33852
Is there any patch fix for 2nd error, where we get error for unused variable in lambda capture.
I want to apply the patch locally so that i can build coreclr successfully.

[2017-11-24 16:44] janvorli commented on #15197
You silent the 2nd error by adding
[code]
right before the following line src/pal/src/loader/module.cpp:1178
[code]

[2017-11-24 16:53] jkotas commented on #15197
If this will fix the error for you, it would be great if you can submit CoreCLR PR with the fix.

[2017-11-24 18:06] sam0302 commented on #15197
I tried the above changes of adding (void)__param; However this does not fix the issue...
I am getting this error from 3 different files and everywhere i made same changes but the issue persists

/src/pal/src/loader/**module.cpp**:1176:5: error: lambda capture '__param' is not used [-Werror,-Wunused-lambda-capture]
    PAL_EXCEPT(EXCEPTION_EXECUTE_HANDLER)
/src/vm/**stubmgr.cpp**:475:5: error: lam

[2017-11-24 18:07] ViktorHofer opened #15205 "coreclr local master build broken?"
When building coreclr from master I get this error. It seems like our internal TFS is requested which of course fails for community members, and me (because I disabled VPN).

@dotnet/dncenghot please take a look and verify

[code]

[2017-11-24 18:18] janvorli commented on #15197
@sam0302 I am sorry for misleading you. This is not a correct fix. The right way to do that is to modify the PAL_EXCEPT macro. Can you please add the
[code]
to the PAL_EXCEPT macro definition right before the line https://github.com/dotnet/coreclr/blob/master/src/pal/inc/pal.h#L5924?

The thing is that the __param can be used by the dispositionExpression, but in many cases the dispositionExpressio

[2017-11-24 21:54] sfmskywalker opened #15207 "Finalizer no longer called in .NET Core 2.0 after GC.Collect / GC.WaitForPendingFinalizers"
I already reported this issue [here](https://github.com/dotnet/core/issues/1115), but realized this repo might be more appropriate. If not, I'll close it. Otherwise I'll close the other.

# Finalizer no longer called in .NET Core 2.0 after GC.Collect / GC.WaitForPendingFinalizers

As of **.NET Core 2.0**, an object's finalizer **is no longer called** when calling `GC.Collect` and `GC.WaitForPendin

[2017-11-24 22:44] jkotas commented on #15207
The behavior you are seeing is not a bug. https://github.com/dotnet/coreclr/issues/5826#issuecomment-226574611 explains the details.

Duplicate of #5826

[2017-11-24 22:49] #15207 closed

[2017-11-25 03:48] danmosemsft commented on #14037
relevant: https://github.com/dotnet/coreclr/issues/9529

[2017-11-25 12:51] sfmskywalker commented on #15207
Interesting. I read your comment and the one thereafter, but I'm still not sure I completely understand why my finalizer is never called in .NET Core 2.0 when running in **Debug** mode (but it does get called in **Release** mode which I hadn't realized until reading that thread), but so this is what I gathered as to why my test is failing on .NET Core 2.0 in **Debug** mode:

- The exact time when

[2017-11-25 13:27] stephentoub commented on #15207
It's not that the finalizer isn't called for an object that's become unreachable: it's that the object isn't becoming unreachable and thus isn't collected and isn't finalized. The lifetime of the object is getting extended in the method, with a temporary keeping it alive. Try creating the object instead in a non-inlined helper.

[2017-11-25 14:45] sfmskywalker commented on #15207
That makes a lot of sense. However I'm unsure how to create an object from a non-inlined helper. I mean, I though I knew how to, but when I do it still fails when built in Debug mode.

Here's what I tried:

[code]

[2017-11-25 14:45] dagood commented on #15205
It sounds like you have `OptionalToolSource` set to that feed (it isn't a checked in value) but you don't have a valid `OptionalToolSourceUser` and `OptionalToolSourcePassword`. Clear out `OptionalToolSource` and that feed won't be used: https://github.com/dotnet/buildtools/blob/919fced24b5a907d7d85c08fa45eb5aa4aac04ca/src/Microsoft.DotNet.Build.Tasks/PackageFiles/OptionalTooling.targets#L14

[2017-11-25 14:47] ViktorHofer commented on #15205
Of course, the token expired... Thanks David!

[2017-11-25 14:47] #15205 closed

[2017-11-25 15:11] stephentoub commented on #15207
@sfmskywalker, my point of suggesting a non-inlined helper was to keep the object out of the frame in which you're then forcing a collection.  The moment you return the object from the helper into the calling frame, you potentially enable the JIT to extend the lifetime of the object past that garbage collection.

What is it you're trying to do?

[2017-11-25 15:21] sfmskywalker commented on #15207
Now I see. You're right; when I instantiate Foo in the non-inlined helper without returning it to the caller, its finalizer does get called.

This small unit test originated from a slightly different one in one of my projects where I wanted to test whether the GC would reclaim an object even if there would be a circular reference between Foo and Bar. When this unit test started failing after upgra

[2017-11-25 17:34] Rattenkrieg opened #15216 "Rationale behind EEHashTableBase implementation"
I've used eehash as basis for some internals in #15135 and here are listed some questionable parts of it. Do not consider it as criticism, I'm just curious of trade-offs which .net team was challenged.
Also there is [comment](https://github.com/dotnet/coreclr/blob/master/src/vm/eehash.h#L10) in `eehash.h` that might be treaten as evidence of "not so thorough implementation":

// algorithms, but wh

[2017-11-26 05:36] jkotas commented on #15216
This hashtable was implemented more than 15 years ago. It never showed on the radar as bottleneck so  nobody bothered to make it better. I agree that it does not seem to be a particularly great implementation.

[2017-11-26 09:53] angelsix commented on #8565
I have same issue. .Net Core 2.0.2 app doing AppDomain.CurrentDomain.ProcessExit += ... will never fire on closing window by the X

[2017-11-26 18:21] Rattenkrieg commented on #15216
I'll try to guess that reason for big load factor is pursue to reduce costly grow operations that (at least in intern pool routines) happens under lock.
I'm closing this as the (unsurprisingly obvious) answer was given. But I'll be happy if someone could share their thoughs or expierence.

[2017-11-26 18:21] #15216 closed

[2017-11-26 19:33] pgodeq opened #15224 "[ARM64/Win] CoreCLR raises System.InvalidOperationException with asp.net benchmark"
While I was executing asp.net bechmark plaintext on Windows-ARM64 with the latest coreclr, an exception is raised.  Following is the failure log.

[code]
Load generator 'wrk' (set up on a different machine) is used to generate workload, with below arguments:
`./wrk -c 16  -t 16 -d 60 http://10.131.5.101:5000/plaintext -s ./scripts/pipeline.lua -- 16`

I created a setup to host this asp.net benchma

[2017-11-27 09:52] scott-xu opened #15227 "CLR crash when call EntityFramework SaveChanges"
[code]

[2017-11-27 09:53] scott-xu commented on #15227
It is .NET Framework 4.6.2

[2017-11-27 09:56] chunseoklee opened #15228 "Disable FEATURE_PERFTRACING"
Is there any way to disable `FEATURE_PERFTRACING` ?
It seems that undefining `FEATURE_PERFTRACING`  as follows does not work on build since definitions from `FEATURE_PERFTRACING` block are used on python-generated cpp files.
[code]
Is there any good way to disable `FEATURE_PERFTRACING` ?

[2017-11-27 12:45] raffaeler commented on #12098
From the user perspective, how can I know the version of lldb that should be installed on the system to be compatible with the libsosplugin.so?
For example using netcore 2.0.2:
- Ubuntu17.1. Using ldd I can see it requires version 3.6. ok, it works.
- CentOS. Using ldd I can't see anything related to lldb and if I use the latest (3.4 from yum) all the SOS commands make lldb crash (wrong lldb versi

[2017-11-27 13:12] hseok-oh commented on #13828
In PR #14056,

- Not use fast tail call when callee use floating point register argument (difficult to calculate stack size)
- Not use fast tail call when callee use split struct argument
- Not use fast tail call when callee has struct arguments and stack arguments

[2017-11-27 13:27] micli commented on #12098
@raffaeler
For .NET Core version 1.x or 2.0.x
LLDB version should be 3.6
for .NET Core version 2.1.x
LLDB version should be 3.9

CentOS was really let me sad that a lot of default packages include LLDB and CMake are out of date. A way to install LLDB 3.6 on CentOS is download source code and compile by yourself. I cannot understand that Be a mirror of commercial copy of Red Hat, how could it be li

[2017-11-27 13:34] raffaeler commented on #12098
@micli wow, a lot of work then.
Than you very very much for the info which is definitely precious for all the community.

[2017-11-27 14:21] alpencolt commented on #8496
@BruceForstall I've prepared list of remaining issues for RyuJIT. Could you check it and add more if I've missed something. For making RyuJIT as default compiler we are needed fix **(1)** and **(4)**, am I right?

1. Assertions:
   - [RyuJIT/armel] Assertion failed 'argValue->TypeGet() == TYP_STRUCT' #14955
   - Test failure: JIT_Directed._coverage_oldtests_lclflddiv_cs_d_lclflddiv_cs_d_/_coverage

[2017-11-27 14:35] jkotas commented on #15227
The .NET Core repository is not an appropriate place to log issues for .NET Framework . Please file the issue via one of the channels described here: https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/IssuesFeedbackEngagement.md#issues-with-the-net-desktop-runtime .

[2017-11-27 14:35] #15227 closed

[2017-11-27 15:11] jkotas commented on #15228
cc @brianrob

[2017-11-27 15:22] brianrob commented on #15228
@chunseoklee, I could believe that there is a bug in how we handle the generated source files.  The intention is that if you need to disable this feature that it should work, but we've not had occasion to do so on Linux.  In fact, #14772 is working to enable FEATURE_PERFTRACING on all platforms.

Out of curiosity, why are you trying to disable FEATURE_PERFTRACING?

[2017-11-27 16:51] CarolEidt commented on #8496
@BruceForstall can you advise what would be the best place for me to focus? I could work on jitstress or NYIs, or ...?

[2017-11-27 18:22] swgillespie commented on #14991
@tmds The GC will commit the ephemeral segment on startup, so for server GC with four logical CPUs you can figure that you'll have at minimum four ephemeral segments resident. The size of this varies a little based on processor topology (in particular, L1 cache size) but the defaults are (from here: https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/fundamentals)

  | 32-bit | 64-

[2017-11-27 18:28] #13978 closed

[2017-11-27 18:28] #13980 closed

[2017-11-27 18:40] kouvel opened #15232 "Consider reducing the sudden negative impact of thread pool worker thread starvation"
Consider the following:
- Lower initial delay between adding threads when there is starvation (maybe 100 ms instead of 500 ms)
- Increase the number of threads that are added per delay initially (maybe as function of proc count instead of 1)
- As the current number of worker threads increases beyond the minimum configured worker thread count:
  - Increase the delay between adding threads up to a m

[2017-11-27 18:45] kouvel commented on #15232
See https://github.com/dotnet/coreclr/issues/15148 for a test case. A similar smaller test case can also be created by having a running work item queue another work item that it depends on. With a bunch of those, threads will need to be added to resolve the dependency and allow work items to complete. It's not a suggested pattern (blocking on thread pool worker threads generally is not suggested s

[2017-11-27 18:48] DamianEdwards commented on #13542
@niemyjski check the event log (https://blogs.msdn.microsoft.com/benjaminperkins/2016/07/01/how-to-view-the-event-logs-of-your-azure-app-service/) to see if there's any more detail on what caused the ASP.NET Core IIS Module (ANCM) to crash. You should also enable ANCM logging to disk in the web.config to capture any console output that might provide clues (see https://docs.microsoft.com/en-us/aspn

[2017-11-27 18:54] kouvel commented on #15148
Closing in favor of https://github.com/dotnet/coreclr/issues/15232. The issue was that work running on thread pool worker threads was queuing and blocking on other thread pool work. Once all worker threads are used up with such work items, the dependency work cannot run until threads are added, which is very slow. It's only by chance that it works on Windows, as the async completions for the depen

[2017-11-27 18:54] #15148 closed

[2017-11-27 19:25] #15152 closed

[2017-11-27 19:28] BruceForstall commented on #14862
Fixed by #15187

[2017-11-27 19:28] #14862 closed

[2017-11-28 00:27] benaadams opened #15237 "Unsafe.As produces incorrect data with Vectors (in Release)"
Code: https://gist.github.com/benaadams/290f7d5c7b1eb4a97c6854654c7fd6b2
[code]
[code]
From https://github.com/dotnet/corefx/pull/25510#discussion_r153307675

[2017-11-28 00:53] benaadams commented on #15237
Maybe simpler repo https://gist.github.com/benaadams/b3270fe6e33a136893e39a5e32ceedc7
[code]
[code]

[2017-11-28 02:44] sandreenko commented on #13193
@briansull I think this issue can be closed now?

[2017-11-28 06:39] Blealtan commented on #11869
Would like to help if possible. Personally I'm somehow experienced in CUDA and familiar with GPU-like many-core architechture including NVIDIA GPUs.

Also, as a comment on the proposed example code, something like `Parallel.For` is usually launch command sent from host to slave device (aka GPU in this case), which shouldn't occur in a slave side code piece.

[2017-11-28 06:45] mikedn commented on #15237
With a current checked build your latest repro produces an assert in lsra.cpp:

[code]

[2017-11-28 08:17] Sunny-pu commented on #14211
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171127.05/workItem/tracing.eventsourcesmoke.XUnitWrapper/analysis/xunit/tracing_eventsourcesmoke._eventsourcesmoke_eventsourcesmoke_~2F_eventsourcesmoke_eventsourcesmoke_cmd

[2017-11-28 15:30] MichalStrehovsky opened #15241 "[Default Interfaces] Generic context for shared instance methods on generic interfaces"
This is supposed to return a non-zero value, but doesn't because we incorrectly consider instance methods on generic interfaces as not needing a generic context (only the "default interface methods" are considered as needing it).

[code]

[2017-11-28 16:17] brianrob commented on #14327
@tmds, thanks for the overview.  It doesn't look like there are too many sites involved, so that's good.  I would change your suggestion slightly.  Rather than maintain the existing define ETW_TRACING_CATEGORY_ENABLED, I'm tempted to remove it and replace each site where it is used with a check of one or more events.  This makes the code clear that it is looking for a particular event instead of a

[2017-11-28 16:47] tmds commented on #14327
@brianrob Sounds good. I was assuming the `ETW_TRACING_CATEGORY_ENABLED` could not be touch for reasons of compatibility with existing Windows EWT tracing behavior.

[2017-11-28 17:12] natemcmaster opened #15243 "CoreCLR fails to initialize when running from a Docker read-only filesystem"
Originally reported here https://github.com/aspnet/aspnet-docker/issues/331 by @RehanSaeed. I confirmed this issue appears in the microsoft/dotnet base images.

CoreCLR fails to initalize when using the read-only filesystem in Docker.

# Repro
1. Create a Dockerfile with these contents
[code]
2. From command-line in the folder containing this dockerfile
[code]
3. Launch the container with a read-o

[2017-11-28 17:45] natemcmaster commented on #15243
I investigated a little more by tracking system calls with strace. Not sure if this is going down the right path, but figured it might be useful:

Create an image with strace:
[code]
If you run `docker run -it --rm --read-only --cap-add SYS_PTRACE read-only-test`, you'll see the tail of the log is:
[code]

If you run without `--read-only`,  the app runs successfully. The matching part of its trace

[2017-11-28 18:17] lt72 commented on #10765
This seems resolved with the implementation of ELT callbacks. Please re-open as needed.

[2017-11-28 18:17] #10765 closed

[2017-11-28 18:48] mikem8361 commented on #12850
The Windows SOS doc might help some: https://docs.microsoft.com/en-us/dotnet/framework/tools/sos-dll-sos-debugging-extension.

@cshung (Andrew) might know a little more.

[2017-11-28 18:48] BruceForstall commented on #15150
Also:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_jitstress2_jitstressregs1_tst_prtest/2/

[2017-11-28 18:55] BruceForstall opened #15245 "[RyuJIT/arm32] Disable muldimjagary test"
It's already disabled in msbuild issues.targets for issue #3392. Disable it for arm, so it doesn't fail in Debug builds, e.g.:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_debug_windows_nt_tst_prtest/1/

[2017-11-28 19:40] eerhardt commented on #14930
@fiigii - is this on your plate to tackle soon?  @danmosemsft mentioned that he'd like to see it fixed before the new year so people can start using these new hardware intrinsics.

[2017-11-28 19:53] fiigii commented on #14930
@eerhardt Originally, I planned to fix this issue before we ship the first subset of fully-implemented intrinsics to .NET Core 2.1. At this time (11/28/2017), only `Lzcnt` and `Popcnt` classes are fully-implemented, and SIMD classes are being implemented in progress https://github.com/dotnet/coreclr/pull/15244.

If you want it fixed now, I am okay to do it, but we would not be able to use certain

[2017-11-28 20:03] jkotas commented on #14930
We should fix it now. We prefer to be in the "ship-ready" state at all times.

[2017-11-28 20:05] brianrob commented on #14327
@tmds, usually I'd rather not touch uses of the macros because there are many of them out there and it's nice to not have to change the kind of functionality available within the system.  Unfortunately, this one really doesn't mesh well when we start going cross-platform, so I think it's probably best to remove it.

Do you want to give this a try?  Perhaps a good first step is to figure out which

[2017-11-28 20:08] fiigii commented on #14930
Will do.

[2017-11-28 20:43] gregg-miskelly commented on #13836
To be clear, we know the cause - dbgshim.dll is linking against kernel32 instead of API sets, and the kernel32 forwarder doesn't exist on all OneCore editions that have shipped in the past.

[2017-11-28 21:12] tijoytom commented on #13836
@gregg-miskelly
What's shipping scenario here ? Does the new dbgshim get back-ported to  Windows Build 15063 ?

[2017-11-28 21:19] gregg-miskelly commented on #13836
VS carries dbgshim.dll with the remote debugger onto the target OneCore device.

[2017-11-28 21:31] briansull commented on #13193
Closing

[2017-11-28 21:31] #13193 closed

[2017-11-28 21:44] tijoytom commented on #13836
I was asking about how an end user might use this ? Your repro steps involve manually replacing dbgshim.dll , is that how the end user supposed to use it ..or is there a SKU which contains the "VS that ships with Windows Build 15063" and the new dbgshim.

[2017-11-28 21:52] gregg-miskelly commented on #13836
All VS SKUs contain several copies of dbgshim.dll (for each processor architecture: a OneCore copy, a desktop copy). Currently the Desktop version of dbgshim.dll is fairly recent. The OneCore version is fairly old as this bug blocks us from moving to anything newer. So this bug doesn't currently impact any users, but it does mean that we can't take any updates to the OneCore version of dbgshim.

[2017-11-28 22:12] BruceForstall opened #15249 "ARM CI: ZIP and archive smarty results"
Currently, if smarty fails, the following batch file step to archive the smarty results does not run. Move the ZIP archiving to the smarty run step, but preserve the smarty errorlevel to be the errorlevel of the full batch file step (that is, don't use the ZIP step as the errorlevel, despite it coming after the smarty step).

[2017-11-28 23:03] BruceForstall opened #15251 "CentOS 7.1 x64 SpanBench test failure"
This test has been failing in every PR in dotnet/coreclr for a while:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_centos7.1_tst_prtest/

[code]

[2017-11-28 23:03] BruceForstall commented on #15251
@AndyAyersMS @stephentoub @jkotas ideas?

[2017-11-28 23:11] AndyAyersMS commented on #15251
See #15096.

[2017-11-28 23:26] BruceForstall commented on #15251
Closing, since #15096 covers it.

[2017-11-28 23:26] #15251 closed

[2017-11-29 00:12] stephentoub commented on #12074
@lt72, any luck?

[2017-11-29 00:24] CarolEidt commented on #13501
Here's my take on this issue:
- Regarding whether the JIT should sign-extend an add.ovf.un operand, I think that is inconsistent with both the existing jit64 behavior, as well as the spec. The spec describes the .un instructions in terms of how they interpret their operands. From my perspective, these should behave as if they were methods taking an unsigned value as a parameter. According to the s

[2017-11-29 00:32] mikem8361 opened #15254 "Source/line info doesn't work on Windows for Windows PDBs"
Integrate Windows PDB fix into the next 2.0.x service release.

Master (2.1) PR: https://github.com/dotnet/coreclr/pull/14696
Originally issue: https://github.com/dotnet/corefx/issues/21079

[2017-11-29 00:49] briansull commented on #13501
I agree with Carol

[2017-11-29 00:56] tijoytom commented on #13836
Thanks , So if i am not mistaken this will impact old onecore device which do not have the kernel32 fwd shims.

[2017-11-29 01:02] gregg-miskelly commented on #13836
Correct

[2017-11-29 01:03] #15245 closed

[2017-11-29 01:21] AndyAyersMS opened #15256 "JIT: poor CQ in msbuild's SinkWhitespace"
`SinkWhitespace` is one of the hotter methods in msbuild in some scenarios:

https://github.com/Microsoft/msbuild/blob/e105a17d3a245c3a97d2be6943ffdbfa5973b34c/src/Build/Evaluation/ExpressionShredder.cs#L691-L697

Current jit produces this assembly:
[code]
Some things that could be improved on:
* redundant branch at top of IG04.
* lack of register promotion for the string length
* unnecessary mate

[2017-11-29 01:24] VSadov commented on #13501
Just FYI - C# is no longer dependent on the implicit behavior of `.un` as of https://github.com/dotnet/roslyn/pull/21751

Since there could be differences in existing implementations, we just emit casts when add.ovf.un and sub.ovf.un are used with mixed-size arguments - regardless whether we need 0-extend or sign-extend.

As long as explicit casts are honored, we should be fine.

[2017-11-29 02:10] #15077 closed

[2017-11-29 03:40] sdmaclea opened #15259 "JITStress=1 Creates unaligned pointers"
With `JITStress=1` or  `JITStress=2`
`CoreMangLib/cti/system/threading/interlocked/InterlockedIncrement1/InterlockedIncrement1` is failing with a stack overflow exception on arm64.

JIT stress is causing the reference to the `COMInterlocked` `location` to be unaligned.  It turns this
[code]
into
[code]

The result is that `FastInterlocked*` is throwing a unaligned exception which is a `SIGSEGV` in

[2017-11-29 03:47] jkotas commented on #15259
Pointers should be properly aligned. This should be fixed in where this misaligned pointer is created. I do not think we want to be hardening everything to deal with misaligned pointers gracefully.

[2017-11-29 04:12] JosephTremoulet commented on #13501
I don't have anything new to add. It still seems odd to me that the `.un` in `add.ovf.un` would affect the `add` result and not just the `ovf` conditions, but of course I also see the logic in your explanation, and have no problem deferring to your judgment.

[2017-11-29 04:41] sdmaclea commented on #15259
OK.  So this sounds like it is a JitStress bug and not an arm64 bug

[code]
I would guess the `STRESS_LCL_FLDS` is probably causing the issue.

@dotnet/jit-contrib Please assign to the appropriate person.  I do not plan to work on this further.

[2017-11-29 05:34] sillyousu commented on #15033
I believe it's a bug in out profiler. Closing.

[2017-11-29 05:54] zl-cn opened #15264 ".net core 2.0 calling Socket.Select caused high cpu usage."
System: windows 10
Platform: .net core 2.0
under .net core 2.0 calling Socket.Select caused high cpu usage.
but under .net 4.6 it's ok.
simple code:

while(true) { Socket.Select(checkRead, checkWrite, checkError, 0); if (checkError.Count == 0 && checkWrite.Count == 0 && checkRead.Count == 0) { Thread.Sleep(10); continue; } }

[2017-11-29 06:19] chunseoklee opened #15265 "Disable NI loading even though NI file exists"
Is there a way(env variable to corerun) to disable NI loading even though NI file exists ?

[2017-11-29 06:27] jkotas commented on #15265
`COMPlus_ZapDisable`

[2017-11-29 06:29] jkotas commented on #15264
This issue was moved to dotnet/corefx#25572