[2019-12-04 17:53] CarolEidt commented on #18339
The x86 issue is the same as #13735, and is something I plan to be working on soon (see #15408).
The former is a loop, and may well need additional work beyond what's proposed in #15408, but it suffers from the same fundamental issue that the register allocator will use a bad register that's free (even one that will immediately have to be spilled) rather than spill a register that's occupied.

[2019-12-04 18:20] #17043 closed

[2019-12-04 19:10] mikedn commented on #18339
I've looked a bit more into those null checks and the reason they're not removed is pretty hilarious:
[code]
So the C# compiler somehow manages to emit a constant tree and the JIT gets rid of it too late:
[code]
The reason for the null check is `mac->m_allConstantOffsets` being `false` due to that constant tree that's not yet a `CNS_INT`.

I haven't checked how come this worked before 3.0 nor if t

[2019-12-04 19:26] DaveNay commented on #27810
@MV10 Have you made any further progress on this concept? We are investigating this exact architecture for our Blazor Server app and I ran into your comments and bug reports during my preliminary research.

[2019-12-04 19:39] janvorli commented on #27962
@yashwanthreddyg are you sure this null reference is the one that tears down your application? When you run under lldb, every null referencebreaks into the debugger, no matter whether it was handled or not. You'll see that when you use `c` command to continue the execution, it will either continue running (the exception was handled) or it will abort (the exception was really not handled).
You can

[2019-12-04 19:53] MV10 commented on #27810
@DaveNay No, I haven't spent any time on this recently. I sure hope this becomes a supported architecture in some fashion, but for now we're forging ahead with "monolithic app" (still library-based, but ultimately one-big-build).

[2019-12-05 00:11] yezilife commented on #12029
Hi, Any plan to support customized Marshal for fields of a structure?

[2019-12-05 00:22] jkotas commented on #12029
We have no plans to do this.

If you need to do a custom struct marshaling, our recommendation is to write direct code that does the marshaling. It is both easier to understand, and typically much faster than depending on runtime to marshal the fields via internal reflection.

[2019-12-05 00:39] yezilife commented on #12029
Hi Jan,
Thank you for the quick response! Do you have any pointer/reference how to write the direct code that does the Marshaling? Or use Marshal.PtrToStructure as a reference?

The problem I am facing is I am using .NET Core with Native code interop in both Windows and Linux. Our native lib is using wchar_t which is 4 bytes in Linux. .NET Core built-in Marshal only support 2 bytes (UTF16) string

[2019-12-05 01:03] jkotas commented on #12029
Could you please share an example of method and struct that takes the `wchar_t` string you are trying to call?

[2019-12-05 05:17] yashwanthreddyg commented on #27962
@janvorli I'm sure its because of the NullReferenceException. We had the same thing happen in another code path and performing a null check to avoidthe code path solved the issue then.

Also, continuing the debugging led to this output:
[code]

[2019-12-05 06:59] yashwanthreddyg commented on #27962
This behavior is not observed on Main thread. Happens on requests threads.

ex:
[code]

The above code doesnt crash the runtime.
Similar code on the request thread does.
[code]

[2019-12-05 08:13] MihaMarkic commented on #12972
Looks like the same as my [issue](https://github.com/dotnet/dotnet-docker/issues/1512). Still present in 3.1 containers :(

[2019-12-05 14:43] jkotas commented on #12972
As @okodron suggested, try upgrading to latest qemu that should have the syscall implemented.

We do not test or support .NET Core on qemu. We have tried using qemu to run tests in CI for a while, but we have found quemu to be too unstable for what .NET Core needs.

If you are using docker just for building, .NET Core 3.1 tooling supports cross-compilation that allows `dotnet publish` linux arm32

[2019-12-05 14:46] franksinankaya commented on #24354
Support for this landed into coreclr runtime repository.

https://github.com/dotnet/runtime/pull/471

[2019-12-05 14:54] MihaMarkic commented on #12972
@jkotas So, what you are saying is to build within x86/x64 container, target linux_arm and just copy published files to correct arm based image? That should work, thanks.

[2019-12-05 18:05] DaveNay commented on #27810
@MV10 I Played around some with this idea this morning. I was able to create an application that dynamically loads and unloads a module containing a Blazor navigation page. This was achieved through a custom Router component (99.9% identical to the default).

https://github.com/DaveNay/ModularBlazor

Next, I am going to work on dynamic loading and unloading of individual components.

[2019-12-05 20:02] vashisthaa commented on #27781
Hi @davmason ,

We verified it ( .NET Core 3.0 Preview 5 on wards on Windows ) works for some of the methods and not for some of the methods.
This API ICorProfilerInfo3:: EnumJITedFunctions is not giving us all the methods which  were otherwise JITed when we load the profiler with environment variable obviously the profiler forces not to do inlining and load profile images.

[2019-12-05 21:03] MV10 commented on #27810
@DaveNay thanks for sharing, that's an interesting approach. I remember seeing a couple of issues discussing / requesting better router extensibility (such as https://github.com/aspnet/AspNetCore/issues/11446), so maybe it'll be possible to eventually do the same thing without re-inventing the wheel.

[2019-12-05 21:08] DaveNay commented on #27810
@MV10 Yeah, I ran into the exact scenario described in that issue. I had to copy 11 classes out of the framework in order to implement my slightly modified version. I would fully support the suggestion there that router can be an improvement point in the (near) future.

I'll keep my eye on the situation for sure, but hopefully the approach I am using will work for our needs and be robust enough.

[2019-12-05 21:43] davmason commented on #27781
Can you give me more information about what exactly you are doing? Are you trying to rejit after profiler attach or are you trying to rejit with a startup profiler?

Can you also tell me what startup flags you are using for your profiler and why you are calling EnumJITtedFunctions?

[2019-12-05 22:20] vashisthaa commented on #27781
Question: Are you trying to rejit after profiler attach or are you trying to rejit with a startup profiler?
Yes. We are trying to ReJIT after the profiler is attached.

When the profiler attaches, we want to comute the already JITed functions and issue a ReJIT on interesting ones.

For example, when  ICorProfilerInfo3:: EnumJITedFunctions does not return  Microsoft.AspNetCore.Mvc.Infrastructure.Re

[2019-12-06 00:12] davmason commented on #27781
How are you trying to prevent the runtime from loading crossgen images? If you are attaching, then module load would have already occurred and if Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.InvokeAsync is in a crossgenned module, it wouldn't show up in EnumJITedFunctions.

[2019-12-06 00:42] vashisthaa commented on #27781
Exactly that is my worry since the Microsoft.AspNetCore.Mvc.Infrastructure.ResourceInvoker.InvokeAsync is in crossgenned module, it is not possible to attach and issue a ReJIT, instead it is completely possible to get it JITCompile when the CLR profiler is loaded along with the .NET runtime.

Is there any work around?

[2019-12-06 00:48] davmason commented on #27781
As a work around, instead of iterating through the jitted methods you can

1. find the module with ICorProfilerInfo3::EnumModules
2. get the metadata interface for that module with ICorProfilerInfo::GetModuleMetadata
3. find the method token through the metadata interface
4. get the FunctionID with ICorProfilerInfo2::GetFunctionFromTokenAndTypeArgs

GetFunctionFromTokenAndTypeArgs is a little dang

[2019-12-06 09:06] #27895 closed

[2019-12-06 11:18] damageboy commented on #27878
@AndyAyersMS @adamsitnik

Seems like someone over the GraalVM project re-ran their benchmark suite, and I think their results pretty much reflect what I've experienced sporadically and that is *that Intel is lying through their teeth* regarding the 0-5% perf drop (Very impressive and concise visualization of 1000 benchmark results, regardless):

![image](https://user-images.githubusercontent.com/1

[2019-12-06 12:46] filipnavara commented on #27878
https://github.com/dotnet/performance ... it is run roughly every 4 hours for .NET Core and I run it once a day for Mono.

[2019-12-06 14:16] emaste commented on #27878
Note that the image quoted above has a slider set to "Ignore deviations below 5%" - perhaps that explains the why _every result on the screenshot is degraded more than 5%_? I do believe it's very important that this issue gets addressed, but want to make sure we're interpreting the results correctly.

[2019-12-06 14:31] damageboy commented on #27878
There is a link in the issue to the full analysis:

* 14 benchmarks are better (improved by > 5%)

* 752 are degraded by more than 5%

*180 unchanged (+/- 5%)
--

    Shechter.

[2019-12-06 16:52] pcwiese commented on #19969
So this issue didn't make it into 3.1. Are there plans to get it in for the next release?

[2019-12-06 17:13] jashook commented on #27904
@rossgurbutt the change is targeting a servicing release that will happen potentially a few months from now. That assumes that the change is approved, which currently does not look like it meets the bar to make it into release/3.1.

That being said there are workarounds to this issue.

1. The last method on the call stack can be marked as Optimization Sensitive. You can use `[MethodImplAttribute(M

[2019-12-06 17:55] brianrob commented on #27878
Thanks folks for continuing to engage on this.  I've been looking into the performance differences here as well, but don't yet have something worth sharing.  I'm aiming for a mix of micro-benchmarks and some that look a bit more realistic.  My goal is to understand the general performance cost, as well as which code is responsible for that cost (native vs. managed).  From there we can start lookin

[2019-12-06 18:13] tommcdon commented on #19969
@pcwiese this work item is on our 5.0 backlog

[2019-12-06 18:40] jashook commented on #27904
Also please note that another possibility is to set the following environment variable: `COMPlus_TailCallOpt=0`

[2019-12-07 00:27] vashisthaa commented on #27781
Thanks for the quick answer and suggestion.
Let's say if I am able to get the function id, will it still be possible to request ReJIT for the methods which are part of crossgenned module?

[2019-12-07 00:46] davmason commented on #27781
Yes, you can rejit methods in a crossgenned module. You can’t rewrite IL via SetILFunctionBody but you can ReJIT.

[2019-12-07 00:55] vashisthaa commented on #27781
Does it mean the IL-Rewriting profiler can not provide a new function body?

[2019-12-07 01:16] davmason commented on #27781
Sorry, I was not specific enough. You can’t rewrite crossgenned functions at module load time with ICorProfilerInfo::SetILFunctionBody, but you can rejit them and supply new IL via GetReJITParameters by calling ICorProfilerFunctionControl::SetILFunctionBody.

[2019-12-07 14:21] Sergio0694 commented on #24209
Not sure if this is relevant (or if there's some other reason it hasn't been done already), but I think it'd be possible to rewrite that `IsHexadecimalChar` to have no bounds checks at all with no required codegen changes at all. Something like this should work:

[code]

Which in Release x64 generates:

[code]

Which is both shorted than the asm of the first implementation, and has no branches at

[2019-12-07 14:55] stephentoub commented on #24209
We want to be able to write safe code and have the compiler eliminate the bounds checks where it can prove they're unnecessary. Bounds checks can always be eliminated by the programmer with unsafe code (either pointers or Unsafe.Add as you suggest), but doing that opens the door to potential bugs, off-by-one errors, buffer overruns, etc., many of which can have security implications. So while we g

[2019-12-07 15:13] Sergio0694 commented on #24209
Ah, I see, yeah that's a valid point.
Thank you for taking the time to reply and explain all that, I appreciate it! 😄

[2019-12-07 23:20] EgorBo opened #27966 "JIT: Optimize simple arithmetic with GT_NEG"
E.g. `-a + b` => `b - a`.
[code]
Current codegen:
[code]
Expected codegen: https://godbolt.org/z/nmZxv8

[2019-12-08 21:30] charlesroddie commented on #20287
I agree. .Net has a great type system. Too many times it gets circumvented using reflection. Tooling needs to focus on AOT but also on minimizing reflection. https://github.com/dotnet/corert/issues/7835#issuecomment-545087715 would be a very good start. The billion dollar mistake of nulls is being mitigated now; the same should be done with reflection with a setting or marker for reflection-free c

[2019-12-09 07:43] fatihyildizhan commented on #25623
@Svetomech

This works for me. `Directory.GetCurrentDirectory()`
I am using .NET Core 3.1.100. I guess it will work for .NET Core 3.0 too.

[2019-12-09 11:10] janvorli commented on #27962
@yashwanthreddyg would you mind creating and sharing a complete repro app or steps to create one? I am not familiar with asp.net stuff, so I am not sure how to place your example code into an asp.net app.

[2019-12-09 11:59] devlead commented on #25623
@fatihyildizhan Process current directory isn't the same as application directory, it'll only be the same when program launched from same folder it's in. But it can be changed both in process and from launching process.

[2019-12-09 14:52] jkotas commented on #27939
Use case: https://github.com/dotnet/corert/pull/7905#issuecomment-563173356

[2019-12-10 00:35] Svetomech commented on #25623
@fatihyildizhan this would not work for you if you use self-contained executable, a .NET Core 3.0+ feature.

[2019-12-10 06:54] NMSAzulX opened #27968 "How do I write code that allows a method to use Calli instructions at run time?"
Now, I use MethodInfo.CreateDelegate to create delegates, but its execution performance is lower than that of Calli. How can I improve it?

[2019-12-10 07:08] benaadams commented on #27968
There's a csharp proposal for function pointers https://github.com/dotnet/csharplang/blob/master/proposals/function-pointers.md

Otherwise you'd need to use [System.Reflection.Emit.ILGenerator.EmitCalli](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.emit.ilgenerator.emitcalli?view=netcore-3.0) to generate the il at runtime?

[2019-12-10 08:02] NMSAzulX commented on #27968
@benaadams Wow! will this feature appear in C#9?

[2019-12-10 08:04] NMSAzulX commented on #27968
@benaadams  I'm looking forward to this feature in C#9, as well as Function Templates and AOP.  This is so great.

[2019-12-10 11:02] mrhelmut commented on #21176
Hello,

I'd like this issue to be considered for re-opening. The issue is still very present as of 3.1.100 and we have scenarios where loading libraries from the working directory is required and can't be worked around.

The issue is present on both Linux and macOS (and makes ```DllImport``` inconsistent with Windows).

The exact scenario is that we have a closed source native library from a third

[2019-12-10 11:12] springy76 commented on #15857
I'm on netcore3.1 using VS16.4 and still (since months) see dying everything unrecoverable just because ONE SINGLE Debug.Assert somewhere in my code. Even if a attach VS there is no way to continue and ignore the assertion. There were no such problems using .NET 2.0/3.0/3.5/4.0/4.5/4.51/4.52/4.6/4.61/4.62/4.63/4.7/4.71/4.72/4.8 in the past.

[2019-12-10 12:30] oliverholliday commented on #21176
I agree.

Not sure why it was closed as it's very easy to reproduce - configure an environment with LD_LIBRARY_PATH blank and it happens.

We still have a workaround in place for this for use on MS's own build agents.

[2019-12-10 13:03] mrhelmut commented on #21176
If need be, here's a bootstrap script compatible with both Linux and macOS that workaround this issue:

[code]

[2019-12-10 13:33] jkotas commented on #15857
@springy76 Could you please open a new issue about this using "Help / Send Feedback / Report a Problem"?

[2019-12-10 14:19] tmds commented on #22302
These numbers are hard to compare.
With kube CPU limit at 700m, the app is restricted by CPU.
With kube CPU limit at 2000m, the app is no longer restricted by CPU.

[2019-12-10 14:30] benaadams commented on #27968
Is still one of the proposals; don't think what will be in C#9 has been decided yet.

[2019-12-10 14:47] NMSAzulX commented on #27968
@benaadams Thank you~!

[2019-12-10 14:47] #27968 closed

[2019-12-10 15:55] mrmartan commented on #22302
I see your point. I no longer have the setup to test it again and post result here but at the time I could have given it 1000m and the result would be the same (while actual CPU consumption would not rise).

The case is the application was not CPU limited. CoreCLR was crippled since it thought it was running on a single core machine. On K8s/Linux 700m CPU limit does not imply 1 CPU/thread but Core

[2019-12-11 02:35] AndyAyersMS commented on #27935
This particular issue is both specific to this coding pattern and also somewhat general.

The general issue is that the jit is fairly slow at propagating information from callees to callers, so wrapping things like `Avx.IsSupported` in methods often leads to missed optimization opportunities like you see here. This slowness is fairly fundamental to the structure of the early part of the jit. Becau

[2019-12-11 07:38] yashwanthreddyg commented on #27962
@janvorli

We could solve the issue.
The problem wasn't in the runtime. We were DllImport-ing a native library which has a SIGSEGV handler of its own. The handler is not calling the dotnet's handler after it completed. This led to the process dying. We were intercepting the SIGSEGV to print the backtrace.

After making changes to the library by not registering a handler if there is already a handl

[2019-12-11 07:38] #27962 closed

[2019-12-11 09:59] janvorli commented on #27962
SIGSEGV means that the program has tried to access memory that is not accessible for it. The NULL reference is just that - your program tries to access an object at memory address 0. There is nothing inherently fatal about it, it doesn't destroy any state. We just convert the signal to the NullReferenceException and let the exception handling propagate it. We do that only for SIGSEGV in managed co

[2019-12-11 18:24] Zhentar commented on #27071
Virtual stubs don't get ETW events or UNWIND_INFO on Windows either

[2019-12-11 21:48] OilLifter commented on #17468
Are there instructions/toolchain available to build 2.2 for armhf (arm32) now? Is it straight forward now?
Of course, I'd prefer binaries, but have no hope to find them in foreseeable future...

[2019-12-12 01:25] BruceForstall commented on #27830
Fixed with https://github.com/dotnet/runtime/pull/158

[2019-12-12 01:25] #27830 closed

[2019-12-12 01:59] BruceForstall commented on #27652
I'm going to close this. If it keeps failing, we'll see it come back when we re-enable this testing in 'runtime'.

[2019-12-12 01:59] #27652 closed

[2019-12-12 02:02] BruceForstall commented on #27630
It seems like the question here is answered, so closing. If this is incorrect, please re-open.

[2019-12-12 02:04] BruceForstall commented on #27610
@kouvel

[2019-12-12 03:47] huoyaoyuan commented on #27630
The minor case was answered, but the major case is not though.

I'd like to keep this open until I see some change in sharplab.

[2019-12-12 06:29] patriziobruno commented on #25309
https://github.com/dotnet/runtime/blob/master/docs/design/coreclr/botr/guide-for-porting.md

[2019-12-12 16:54] mikedn commented on #27630
Are we still talking about the difference between LEA and INC? As in
[code]
What exactly is "major" about this?

[2019-12-12 17:17] huoyaoyuan commented on #27630
The difference of these two functions:
[code]
and their asm:
[code]

[2019-12-12 17:32] stephentoub commented on #27630
Just to make sure we're all on the same page, the code generated by Roslyn for M1 is much more complicated than what's in M2 or even what appears to be there in M1:
[code]

[2019-12-12 17:40] mikedn commented on #27630
OK, I'm not sure what version of the JIT is available on sharplab so to be sure we're looking at current codegen here's what I get from the runtime/master branch:
[code]
As already pointed out above, the local function version is much more complicated. Not because of the local function itself but because that local function captures variables. That's rather problematic for the JIT. Not to say that

[2019-12-12 17:40] huoyaoyuan commented on #27630
Yes, I'm totally aware about that. Given a local function that not captured by delegate is emitted in static, the story is about inlining of the JIT. Since it's able to inline M4, I'd expect it to also inline M2 into optimized form, because their callee should be identical (same function body, same closure shape).
The issue should be in structure promotion?

[2019-12-12 17:43] huoyaoyuan commented on #27630
I fact I didn't expect JIT to do the optimization until i saw that `M4` is perfectly inlined.

[2019-12-12 17:52] mikedn commented on #27630
Yes but in `M4` the `int` value is passed "by value" to `WriteLine`, that avoids `i` becoming address exposed. So it's clearly a very different situation.

The real question is what exactly is the difference between `M1` & `M2`. From the JIT dumps it appears that there's more to it than just the capture stuff, I'm taking a closer look.

[2019-12-12 18:46] andrewmcclellankibo opened #27970 "System.Threading.Timer Not Running On Ubuntu server"
# System.Threading.Timer Not Running On Ubuntu server

# General
Created a worker service project, used a background service to create a timer function that followed:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/hosted-services?view=aspnetcore-3.0&tabs=visual-studio

When executing: running locally on windows, timer events trigger as expected.

Deployed to ubuntu server: timer ev

[2019-12-12 18:58] mikedn commented on #27630
Ha ha, this is our lovely friend `GT_ADDR`, its lovely cousin `GT_FIELD`, the drunken `GTF_GLOB_REF` that comes to the party uninvited and all the nonsense that made a trivial problem turn into an intractable one. Well, not really intractable but convoluted enough that everyone ends up getting it wrong somehow.

The inliner has a check for "invariant" arguments that affords it some simplification

[2019-12-12 21:35] BruceForstall commented on #27395
I changed the area from CodeGen to System.Threading based on the conversation here.

@AndyAyersMS should this still be assigned to you?

[2019-12-12 22:34] BruceForstall commented on #25467
This result is too old to be investigated. I'm closing this, in hopes it comes back in the new test infra if it's still a problem.

[2019-12-12 22:34] #25467 closed

[2019-12-12 22:35] BruceForstall commented on #21677
Too old; closing.

[2019-12-12 22:35] #21677 closed

[2019-12-12 22:36] BruceForstall commented on #21224
Too old; closing

[2019-12-12 22:36] #21224 closed

[2019-12-12 22:37] swaroop-sridhar commented on #26752
I discussed this issue with @jeffschwMSFT, @vitek-karas  @jkotas  and @davidwrighton:

[2019-12-12 22:37] AndyAyersMS commented on #27395
Probably not. It is either an OS issue or an issue with how the runtime and the OS interact.

[2019-12-12 22:46] BruceForstall commented on #17032
This discussion is stale; I'm going to close the issue.

[2019-12-12 22:46] #17032 closed

[2019-12-12 22:51] BruceForstall commented on #1401
Stale; closing.

[2019-12-12 22:51] #1401 closed

[2019-12-12 22:54] BruceForstall commented on #1635
Closing this in favor of https://github.com/dotnet/csharplang/issues/465

[2019-12-12 22:54] #1635 closed

[2019-12-12 22:57] BruceForstall commented on #3443
stale; closing

[2019-12-12 22:57] #3443 closed

[2019-12-12 22:58] BruceForstall commented on #3952
stale;closing

[2019-12-12 22:58] #3952 closed

[2019-12-12 22:59] BruceForstall commented on #5496
stale;closing

[2019-12-12 22:59] #5496 closed

[2019-12-12 23:00] BruceForstall commented on #5559
It would be useful re-collecting this data as part of a general performance push. However, this issue is stale; closing.

[2019-12-12 23:00] #5559 closed

[2019-12-12 23:00] BruceForstall commented on #5686
stale;closing

[2019-12-12 23:00] #5686 closed

[2019-12-12 23:03] BruceForstall commented on #12093
Given that this is no longer impacting (and already tracked with #22838), I'm closing this.

[2019-12-12 23:03] #12093 closed

[2019-12-13 01:21] AndyAyersMS commented on #27935
Results from a [simple, crude prototype](https://github.com/dotnet/runtime/compare/master...AndyAyersMS:EarlyDeadCodeRemoval) which gets the same codegen for `A` and `A2`:

[code]

Interestingly the biggest percentage wins come from removing useless pinvoke frame setup. See for example, `Environment:get_Is64BitOperatingSystem():bool`
[code]
The prototype can only very crudely remove unreachable bl

[2019-12-13 04:02] AndyAyersMS commented on #27935
Also note `A2` should really be able to tail call `FuncAvx`. This doesn't happen right now because we don't do the copy elimination opt until after we've decided the call can't be a fast tail call because it has a byref arg. But if that byref arg comes from a byref param for the method it should be OK to tail call, provided we actually do the copy optimization.

A [second simple, crude prototype](

[2019-12-13 10:05] pr8x commented on #26907
Hey, sorry to revive this issue. But it seems like that with .NET Core 3.1 and Visual Studio 16.4.0 it is still crashing while generating the dump. This time it's a couple of `Microsoft C++ HRException` thrown within the DAC (Flags used: `MiniDumpWithTokenInformation | MiniDumpWithPrivateReadWriteMemory):
`

mscordaccore.dll!_CxxThrowException(void * pExceptionObject, const _s__ThrowInfo * pThrowI

[2019-12-13 15:24] huoyaoyuan commented on #27630
I'm interested that if you can optimize readonly struct method in another way.
Readonly struct and readonly methods mean that _hidden copy won't change the semantics_.  While compiler uses them to **reduce hidden copy**, sometimes **adding hidden copy** will perform better.

[2019-12-13 19:21] AndyAyersMS commented on #27630
Updating the inliner to use the result of `impIsAddressInLocal` (which is already calling anyways, earlier in `impInlineRecordArgInfo`) to better detect invariant local addresses gives us the same code for `M1` and `M2` on x86.

[2019-12-13 22:47] AndyAyersMS commented on #27935
The intersection of copy avoidance for last-use implicit by-ref structs at calls and tail calls is interesting. I'm not sure I completely understand it yet.

Imagine we have a chain of methods that tail call one another, A->B->C, and B and C have a by-ref struct params. A passes a local struct (by-ref) to B, and B passes it directly to C.

A cannot safely tail call B, because A's frame is trashed

[2019-12-14 15:33] jakobbotsch commented on #27935
`JIT_TailCall` is invoked with all args to be passed and will set them up in the frame of the caller's caller with special copying. For args passed implicitly by ref, it will copy the contents, not just the reference: https://github.com/dotnet/runtime/blob/6a620e62cb148dafd36266b8017f914e10b1365d/src/coreclr/src/vm/i386/stublinkerx86.cpp#L5672

This optimization should be ok for the new tail call

[2019-12-14 18:10] danmosemsft commented on #26907
@pr8x it might be better to open a new issue with a link back to this closed one

[2019-12-15 21:09] strich commented on #25
Is there a plan to also update the exception message? Surely that is really the important part of this?

[2019-12-16 02:47] swaroop-sridhar commented on #26752
The primary motivator for thinking about a new interface was the need for passing non-string properties -- in particular, passing a call-back function pointer to the runtime in order to support execution single-file bundles (bundle-probe).

I spoke with @vitek-karas  @jkotas  @davidwrighton  @jeffschwMSFT  about this specific issue, and here are the notes from the discussion.

## Current Interface

[2019-12-16 10:28] galmok commented on #23139
How does one get "private working set" in dotnet core 3?

[2019-12-16 15:01] vitek-karas commented on #26752
I would prefer option 2c - have a callback registered by the host - as it allows for the best flexibility while keeping the interface relatively simple.

If we don't think we should do any of that, then I agree encoding the pointer in a string property is the simplest way forward for single-exe bundle.

What are the drawbacks of implementing a real improvement here? Is it the fear of backward comp

[2019-12-16 15:25] tmds commented on #24441
When looking into io_uring we also need to consider what operations are privileged, and what [kernel resources are needed](https://github.com/axboe/liburing/blob/afa25d596d360bec0f417a11ab611776f8cec0bc/README#L19).

To have wide applicability, it should work in a Kubernetes container deployment.

If you're writing to disk, you can control this.
I wonder if this doesn't become an issue if you use

[2019-12-16 18:28] vashisthaa commented on #27781
Thanks! We were successful in achieving the ReJIT by following the below API steps: Do you foresee any issues with this ?

Step 1) ICorProfilerInfo3::EnumModules
Step 2) ICorProfilerInfo::GetModuleMetaData ( to get the IMetaDataImport for the module)
Step 3) IMetaDataImport::FindTypeDefByName
Step 4) IMetaDataImport::FindMethod
Step 5) ICorProfilerInfo4.RequestReJIT  ( for given module id  and met

[2019-12-16 18:52] lambdageek commented on #1685
I tried some examples with Mono, and things like this
[code]
work in Mono already.

We will have some work to do for Mono, however:  things like `Point<object>` also "work" instead of throwing an exception.

[2019-12-16 19:53] davidwrighton commented on #26752
Avoiding building extra api surface is particularly nice. Especially as the current string based interface can and will communicate all the way up the managed api surface, we won't need to any extra work should we want to use this as a managed code to host communication mechanism as well as a VM to host communication mechanism.

There aren't major drawbacks in my opinion, but its entirely unclear

[2019-12-16 20:03] #27630 closed

[2019-12-16 23:27] davidwrighton commented on #25156
These are my thoughts on the additional runtime support needed for the base(T) feature request.

We should be able to support this with a variation on the constrained prefix. This is my idea of what the spec would generally look like.

.constrained <type> call <method>
Stack Transition:
..., this reference, arg1, arg2, arg3, argN -> ..., retVal (not always returned)

Description:
The .constrained

[2019-12-16 23:48] jzabroski commented on #25156
@davidwrighton Can you edit your post to fix the `<T>` references?  It makes it hard to grok what you were saying, and took me awhile to figure out what you were saying.  You can use the backtick operator for inline code on Github. Thanks in advance.

[2019-12-17 03:12] zengqinglei opened #27974 "Unable to delete assembly file after plugin uninstall"
**Describe the bug**

When I use the sample code: https://github.com/dotnet/samples/tree/master/core/tutorials/Unloading
Then I want to remove the assembly file after the plugin is uninstalled and I get an exception:

![image](https://user-images.githubusercontent.com/7374317/70961451-cb998d80-20bc-11ea-837c-601b70c8e52a.png)

**Run Environment**
* .NET CORE 3.1
* Windows 10
![image](https://user-

[2019-12-17 12:38] vitek-karas commented on #26752
It just *feels* wrong to pass pointers encoded as strings - but maybe I just have to get used to it. I don't see a technical problem with such solution.

If we do choose that option, would it make sense to still implement the `getProperty` through it? So keep the interface as is, but if the host specify the property with the `getProperty` function pointer, runtime would use it to lazy-ask about pr

[2019-12-17 16:32] jeffschwMSFT commented on #27974
@janvorli

[2019-12-17 17:24] guesshe commented on #22063
@pauldotknopf Were you able to make it work? I am facing the same requirement here.

[2019-12-17 18:09] pauldotknopf commented on #22063
@guesshe, my requirements changed, I didn't need it after all.

[2019-12-17 20:15] StefanSchoof commented on #10605
There is a PR in the runtime project: https://github.com/dotnet/runtime/pull/657

[2019-12-17 20:41] guesshe commented on #22063
@pauldotknopf Thanks! Were you able to port cmake and clang to QNX anyways?

[2019-12-17 22:03] jkotas commented on #14320
Fixed by #26759

[2019-12-17 22:03] #14320 closed

[2019-12-18 06:40] janvorli commented on #27974
Closing as a dup of https://github.com/dotnet/runtime/issues/976 where I have already responded.

[2019-12-18 06:40] #27974 closed

[2019-12-18 23:51] swaroop-sridhar commented on #26752
I spoke with @vitek-karas about this today. Summary of our conversation is:
* Supporting single-exes by itself is not a strong motivator enough to design a new hosting interface. So, encoding the bundle-probe as a string is a sufficient solution for it.
* New hosting interface by itself can be valuable for performance reasons (as Vitek mentioned above) which is the original broader goal of this is

[2019-12-18 23:51] AndyAyersMS commented on #14474
We should also consider enabling intrinsic expansion, for both HW intrinsics and for intrinsics that are likely to lead to early control flow trimming.

[2019-12-19 04:49] gizmoabhinav commented on #14462
@dudzcom Can we have your workaround opensourced? Will be a great help to me and others facing this issue.

[2019-12-20 02:44] erozenfeld commented on #23903
I'm working on this and have null checks removed in several of the examples above.
@AndyAyersMS I don't understand one of your examples.  I don't think the null check should be removed here. Am I missing something?

I added several instructions to what you have above.

[code]

[2019-12-20 08:42] neosaldina commented on #17294
Is there any plan to start implementing the JIT for ppc, ppc64 or ppc64el ?

[2019-12-21 04:24] ritchxu commented on #3422
Sorry for pinging on old thread. What is the situation for `Semaphore`? Which seems to still [only support named instance on Windows](https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/Threading/Semaphore.Windows.cs).

[2019-12-21 07:41] ShahramAfshar commented on #113
where can i set platform?

[2019-12-23 04:55] Entomy commented on #27939
As mentioned in https://github.com/dotnet/corert/issues/7923, there's a use case for ILVerify in [ILSupport](https://github.com/ins0mniaque/ILSupport) and [demand](https://github.com/ins0mniaque/ILSupport/issues/7).

ILSupport is an extension for VisualStudio providing... IL support. As far as I know, it's the only IL syntax classifier, and also provides project templates. The use case here is obv

[2019-12-24 19:20] leo-lb commented on #17294
I also would like to run .NET Core on ppc64le. My workstation system runs Fedora with Linux.

[2019-12-25 08:17] peppy opened #27976 "Finalizer called without ctor in optimized compilation case"
We recently encountered a bug where an object expected to be in an initialized state at point of finalizing was not. Minimal reproduction case:

[code]

[code]

This only happens with build configuration Release and debugger detached.

Potentially related to https://github.com/dotnet/runtime/issues/764.

[2019-12-25 08:20] peppy commented on #27976
Sorry, missed the repo deprecation notice.

https://github.com/dotnet/runtime/issues/1149

[2019-12-25 08:20] #27976 closed

[2019-12-26 14:32] Macromullet opened #27977 "Different 32-bit marshalling behavior with on Windows with 3.1"
I posted about this last week, but with the holidays it hasn't received any traction. https://github.com/dotnet/core/issues/3950#issuecomment-567792601

In a nutshell, a test that has behaved perfectly under .net framework and .net core, suddenly stopped working after an upgrade to .net core 3.1.

Update: This appears to be a difference between how tests are run with the 16.4 Microsoft.NET.Test.Sd

[2019-12-26 15:50] Macromullet commented on #27977
This issue is not what I thought it was. I'm going to open a separate issue.

[2019-12-26 15:50] #27977 closed

[2019-12-27 19:42] #23208 closed

[2019-12-30 11:57] damageboy commented on #27878
Hi, I was wondering, now that it's been about a month since the last update on this issue and 18 days since @BruceForstall added a 5.0 milestone for this issue if there has been any formal decision
on how/if to address this?

I realize that the 5.0 milestone doesn't necessarily mean that any mitigation will be added at any level (managed/unmanaged code). If no decision has been made yet, I'd like

[2019-12-31 07:11] xiangzhai commented on #25346
:mips-interest

[2020-01-01 23:42] szilvaa commented on #659
@jkotas

Microsoft develops another tool that does this: https://github.com/mono/cppsharp

It seems clear that C++/CLI will not be supported cross platform. So, I think what C++/CLI developers need is tool that allows us from transition away from C++/CLI to C#. Perhaps, the msvc compiler could output C# when compiling C++/CLI code.

[2020-01-02 04:49] jkotas commented on #659
I have submitted https://github.com/MicrosoftDocs/cpp-docs/pull/1822 to correct it.

It is hard/impossible to do write a tool like this. C# does not have the same expressive power as C++.

There are tools available that try to do a best effort to do that, e.g.
https://www.tangiblesoftwaresolutions.com/product_details/cplusplus_to_csharp_converter_details.html . Read the FAQ for this tool - it talk

[2020-01-02 06:47] Joowoo30 opened #27978 "How can I use some headers in gc.cpp."
Hello.
I forked coreclr code and added some test code in it to analyze gc behavior.
but I can't use #include <dlfcn.h> in it. (Exactly in coreclr/src/gc/gc.cpp)
To solve this problem, I edited CmakeLists files many times (Adding target_link_libraries dl and so on)
but I fail to build coreclr with my code.

how can I use #include <dlfcn.h> in gc.cpp?
I have to use dlopen and dlsym for my test.

I w

[2020-01-02 13:48] DmitriyMaksimov commented on #27557
@sandreenko  I'm happy to work on this issue. Did a quick spike - shouldn't be hard.
Please let me know if it's Ok to make changes and create PR.

[2020-01-02 15:44] SamuelEnglard commented on #659
@jkotas I think what @szilvaa wants would be more like a tool that takes C++/CLI a gives the equivalent  C# with P/Invoke and C++ code.

[2020-01-02 16:50] sandreenko commented on #27557
@DmitriyMaksimov thanks for taking these, you are welcome to make changes. Please ping me if you have any questions.

[2020-01-02 17:22] szilvaa commented on #659
@jkotas Thank you for your comments! I appreciate your attention.

I'm **not** interested in converting C++ code to C# in general. I'm interested in converting _.net bindings_ written in C++/CLI to C#. Building these bindings has always been the sweet spot for C++/CLI and I suspect that the majority of the usage falls into this category.

These users are now stranded. They can't move their code to

[2020-01-02 18:19] RickIsWright commented on #23400
On VS 2019 for MAC OS X, the default configuration for web applications binds to https and uses ports in the 5000-5001 range.  Bonjour is using these ports by default, so you can't use them.  I recommend changing your configuration for web applications to use a different port. Changing mine to 5003 and 5004 worked.  Visual Studio stopped crashing.

[2020-01-02 20:01] marler8997 commented on #22600
Working on a tool to call C# from D, this would be a nice feature for us.

[2020-01-03 02:02] omariom commented on #1226
@erozenfeld
I think it [can be closed now](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIAYACY8gOgBUALWbAEwEsAdgHMA3DRrEAzE1IMAwgxoBvGgzUMAbhAA22DH20wGgjAwBmfGNp5jq6xXfUmGAWQAUASgYBeAHwMANR09AxgWACUYXjdYM3NLaw9be1UnAVMXUk8ffwsrGxoAXyA).

[2020-01-03 02:33] #1226 closed

[2020-01-03 03:05] rickbrew commented on #659
This affects Paint.NET and has been seriously frustrating, as C++/CLI really is the perfect tool for this type of work. Everything else I've investigated has had major drawbacks.

The compiler's deprecated, I get that, but at least give us something so we can get out of this corner we've all been painted into.

[2020-01-03 03:48] ForNeVeR commented on #659
@szilvaa, maybe you'd like to take a look at [SharpGenTools](https://github.com/SharpGenTools/SharpGenTools): this is a (production-ready) generator for .NET bindings from C/C++ code. It could replace C++/CLI in this role in some (most?) of the scenarios.

[2020-01-03 03:57] szilvaa commented on #659
@ForNeVeR Thanks for the pointer. Good to know. However, I already have tens of thousands of lines of C++/CLI code. I'd rather not abandon these existing .net bindings. I'd like to migrate them forward.

[2020-01-03 04:34] abbotware commented on #27590
any update on a fix for this issue?

[2020-01-03 05:46] jkotas commented on #27590
We are evaluating several options for addressing this. It is going to take several months to get the fix out for .NET Framework, current ETA May 2020.

[2020-01-03 08:09] noahfalk commented on #19969
@pcwiese - I was investigating this before I went on a long vacation and one tidbit that maybe will be helpful if the problem was severe enough that you wanted to go hacking to unblock yourself...

The runtime does put the array data into each event it writes into the nettrace file. The issue occurs because the descriptive metadata that tells the parser how to decode the events doesn't have a way

[2020-01-03 13:06] DmitriyMaksimov commented on #27557
@sandreenko created [PR](https://github.com/dotnet/runtime/pull/1272) but some checks (tests) failed.
Trying to understand why, but logs are not very informative (at least for me).
Could you please give me an idea what's wrong?

[2020-01-03 14:36] pcwiese commented on #19969
Thanks Noah. I’ll definitely take a look at these commits

Sent from my iPhone

[2020-01-03 16:03] jkotas commented on #659
@szilvaa Given the state of the world, your best bet to make your bindings cross-platform are:

- Decide which part of your bindings make sense to keep as unmanaged C++ and which parts have to be in C#
- Define "C" interface between the managed and unmanaged parts that will be used with P/Invoke
- Use custom scripts to generate boiler-plate code and to help you with the refactoring. Keep the scrip

[2020-01-03 17:03] chrishaly commented on #23541
@jkotas .net core 3.1 was released and .net 5.0 is on the way, are there any news or plan for this feature?

[2020-01-04 10:07] janvorli commented on #27978
We have explicitly disabled including any platform files from coreclr runtime and GC code. Only PAL and standalone GC's GCToOSInterface implemented in gcenv.unix.cpp can include such files.
The reason is that otherwise there would be potential clashes between symbols from the runtime / GC and symbols from the platform headers.

I would suggest adding your functions that need to use stuff from the

[2020-01-05 09:21] DmitriyMaksimov commented on #23806
Happy to work on this, but I have a question.
Do we always want output bytes as little endian or we should have some platform depended logic (like `htonl/ntohl`)?

[2020-01-05 14:29] #27904 closed

[2020-01-05 14:45] janvorli commented on #25481
It was ultimately fixed by #27452

[2020-01-05 14:45] #25481 closed

[2020-01-06 13:53] stephentoub commented on #3422
Correct.

[2020-01-06 15:28] JohnFredMeyer commented on #26990
I just wanted to add that I ran across this issue as well and noticed that if I ran on a virtual machine with ONE vCPU and .net 4.7.2 that the issue still arose for me but if I ran on a virtual machine with TWO or more vCPU and .net 4.7.2 it was not reproducible. The inverse was true for .net 4.8 where a virtual machine with ONE vCPU and .net 4.8  could not reproduce but with a virtual machine wit

[2020-01-06 16:41] mikernet opened #27980 "[Deleted: Posted in wrong repository]"
Gah, wrong repository...

[2020-01-06 16:44] #27980 closed

[2020-01-06 19:43] sandreenko commented on #27557
Fixed by https://github.com/dotnet/runtime/pull/1272 by @DmitriyMaksimov, thank you.

[2020-01-06 19:43] #27557 closed

[2020-01-07 00:14] BruceForstall commented on #27723
This testing system is now obsolete, so closing.

[2020-01-07 00:14] #27723 closed

[2020-01-07 08:57] rossgurbutt commented on #27904
Thanks for all of your help on this @jashook and @janvorli and apologies for the delay in replying.
We have tried several of the options and the one that worked easiest / best for us was MethodImplOptions.NoInlining.

[2020-01-07 21:17] josalem commented on #19611
Per some offline chatter: this work should include some updates to the `EventSource` documentation as this is the primary API we expect customers to be using for eventing in .NET regardless of the underlying implementation, i.e., LTTng, EventPipe, or ETW.  This should include:

- [ ] **current** preferred patterns
- [ ] Increased detail on use cases of and differences between the various ctors on

[2020-01-07 22:24] gewarren commented on #26175
Did the new repo's name get changed to dotnet/runtime instead?

[2020-01-07 22:30] ViktorHofer commented on #26175
Yes: https://github.com/dotnet/runtime

[2020-01-08 00:16] assyadh opened #27982 "CoreCLR failed to run tests on v3.1 tag " The wrappers must be compiled and placed at""
Hi,

I am building coreclr/corefx from source, and encountering a weird issue when trying to run the coreclr tests. This occurs when testing the 3.1 tag, testing 2.1 works fine.

At first was seeing similar errors as https://github.com/dotnet/coreclr/issues/27725 when testing coreclr on amazon linux and ended up importing a patch based on https://github.com/dotnet/coreclr/pull/27815.

Now I am see

[2020-01-08 00:20] jeffschwMSFT commented on #27982
@trylek

[2020-01-08 01:06] richlander commented on #25309
I think we can safely close this now.

[2020-01-08 01:06] #25309 closed

[2020-01-08 01:25] kouvel commented on #19764
Methods containing loops are no longer tiered and are jitted with optimizations on first call since 3.0. If that was the issue (cold caller containing loop is not optimized, hence hot inlinee is also not optimized), then after the change the caller would be jitted with optimizations including any inlinees. Closing for now, if that was not the issue then please reactivate with more info.

[2020-01-08 01:25] #19764 closed

[2020-01-08 01:33] kouvel commented on #19764
As noted above, the cold caller would not inline the hot callee when the caller is not optimized (correction from above comment), but the loop in the cold caller may still be hot and may be a significant source of calls to the callee, in which case the call overhead may be a significant contributor to the lower perf, that shouldn't be happening as of 3.0. I don't see a way for the hot callee to no

[2020-01-08 01:42] kouvel commented on #19757
Renamed title and updated description. The issue was not caused by background jitting, rather by prestub overhead, call counting, and overhead of tier promotion. It and background work done by tiering in general, is still a (different) issue in affinitized or otherwise CPU-limited scenarios.

[2020-01-08 01:51] kouvel commented on #12612
CoreCLR changes that address all of the points above have already been merged, only the PerfView changes are remaining: https://github.com/microsoft/perfview/pull/939. I'll consider that PR as the completion of the work in a different repo, that this issue for this repo is complete, and the PR above can be tracked instead.

[2020-01-08 01:51] #12612 closed

[2020-01-08 07:07] Nirmal4G commented on #27096
@terrajobst

I agree with @aL3891

I know it's a lot to ask. Bet, you have already discussed with many others. BUT please remove the `core` from `dotnet/aspnetcore` and `dotnet/efcore`

You can still keep all the `Core` in the namespaces and branding, until a major revision comes along after .NET 5.

[2020-01-08 07:32] Nirmal4G commented on #27096
More importantly as @dallmair said, What we think are different than what you think.

E.g.: You have renamed `platform` to `runtime` and `cli` to `sdk`

So, If you want to drop the `Core` then drop it everywhere... WinForms and WPF don't have it. PowerShell dropped it. If it's not time, then at least drop them everywhere except the namespaces.

[2020-01-08 12:03] ceztko commented on #19676
Sorry for the late reply: I just add as an information for other people stumbling in similar cases that the change in #21470 is only available in recent .NET core runtimes (unfortunately the improvement has **not** been backported in .NET framework so far) and it also allows marshaling of structures like the following as return values:

[code]

[2020-01-08 17:43] trylek commented on #27982
Just FYI I'm trying to repro this locally on my Linux VM but I haven't yet managed to. I hope to have more info later in the day.

[2020-01-08 17:51] jashook commented on #27982
It seems to me like the test wrappers are either not in the correct location or they were not built. Can you post the exact sequence of build commands you used for both coreclr and corefx?

[2020-01-08 18:20] assyadh commented on #27982
Thanks for looking into this. Here is the overall script I am running:

Building coreclr and the tests:

[code]

Building corefx and the tests:

[code]

I then decompress these tarballs in a different environment (where coreclr/corefx are git checkouted)

[code]

And now I run the runtest.sh script as mentioned above.

[2020-01-08 18:38] jashook commented on #27982
Off the top of my head I believe that 3.0/3.1 should not require the obj directory to be copied over. As a part of the test build the native test assets will be dropped correctly next to the managed exes.

I will see if I can repro, but I would expect the following to work:

[code]

[code]

[code]

[2020-01-08 18:55] AaronRobinsonMSFT commented on #19676
I want to set expectations here with respect to the above. There are no plans (now or in the future) to port any new interop work to .NET Framework.

[2020-01-08 19:29] assyadh commented on #27982
Thanks @jashook

I was able to get passed that missing wrapper error. but it looks like my core_root might not be correct?
[code]

[code]

while /build/fix/coreclr/bin/tests/Linux.x64.Release/Tests/Core_Root exists, there is no corerun executable. This comes from the built Product directory right?

[2020-01-08 19:29] jashook commented on #27982
This should have already been set up correctly by build-test.sh

[2020-01-08 19:31] jashook commented on #27982
After build-test.sh can you run `ls ./bin/tests/Linux.x64.Release/Tests/Core_Root`

[2020-01-08 20:20] guardrex commented on #27096
@terrajobst

Today, .NET Core extensions and host builder docs are maintained in the ASP.NET Core doc set in the *Fundamentals* node.

In the future, will app model doc sets maintain their own host builder/extensions coverage as we do today, or do you plan to centralize and generalize the coverage in the .NET Core doc set?

[2020-01-08 20:43] assyadh commented on #27982
Hi @jashook, indeed all the files are there after build-test.sh  and in the tar file.

They are also there after extracting, but after running ./tests/runtest.sh release, the Core_Root folder is empty, apart from the xunit.console.dll file.

It *may* have to do with this: https://github.com/dotnet/runtime/blob/71d7e6cd72e9d4154f595cc43adac4b66ca53e48/src/coreclr/tests/runtest.py#L974

Commenting t

[2020-01-08 20:45] jashook commented on #27982
I see, I have a feeling that that patch is also no longer necessary. Sorry for all the hoops, let me know if there is anything else you need.

[2020-01-08 20:46] assyadh commented on #27982
Thanks for the help @jashook, appreciate it.

[2020-01-08 20:46] #27982 closed

[2020-01-08 20:52] ceztko commented on #19676
Perfectly understandable to me. Thank you very much for the clarification.

[2020-01-08 21:22] davmason commented on #27781
The only potential issue is what I mentioned above that `GetFunctionFromTokenAndTypeArgs` can force things to be loaded if they aren't already, and if you force the wrong thing to be loaded it can deadlock.

[2020-01-09 08:33] mairaw commented on #26175
This file should be updated to reflect the new repos:
https://github.com/dotnet/core/blob/master/Documentation/core-repos.md

It's linked from https://github.com/dotnet/core#getting-help.

[2020-01-09 15:16] ikkentim commented on #9265
@jkotas any news on the prebuilt .NET Core Linux x86?

Also, is there an issue on dotnet/runtime for this topic (Linux x86), or does discussion continue here?

[2020-01-09 15:54] weltkante commented on #9265
@ikkentim I think dotnet/source-build#1235 I created above is the appropriate place. The repository already contains build scripts for x86 but they are underdocumented and unfortunately I couldn't get them running by trial-and-error.

[2020-01-09 17:46] jkotas commented on #9265
We have not bulk migrated the issues from the coreclr/corefx repos to dotnet/runtime yet. It should happen any day now. Just use the the existing Linux x86 issue in coreclr for any discussion on this.

dotnet/runtime is the place to focus on. Can dotnet/runtime be cross-compiled for Linux x86 right now?

If you just need the runtime (without the full SDK), dotnet/runtime is all that needs to be bu

[2020-01-10 01:23] kouvel commented on #14462
@dudzcom, I'm not sure what would cause such high CPU usage from timers, but it's possible with a large number of repeating timers or if there's a leak. In .NET Framework there is an opt-in to use .NET Core's timer implementation containing the fixes mentioned above. See info about the fix for timers in https://support.microsoft.com/help/4527212, maybe you can try the fix and see if it helps.

[2020-01-10 21:42] TimLovellSmith commented on #16307
Closing this as I'm no longer of the opinion it makes sense. The main problem with my idea is that ExecutionContext is basically a "thread-local" concept, whereas async/await switches you *across threads*.

[2020-01-10 21:42] #16307 closed

[2020-01-10 22:29] brianrob commented on #27878
@damageboy thanks for reaching out on this.  I was out for the holidays and have picked this work back up this week.  I'm not done yet, but plan to share methodology and results once it's ready.  Also expect that we'll be interested to hear from folks like yourself on how your apps are impacted to help guide a decision making process.  All that to say that so far things have seemed fairly closed,

[2020-01-10 22:52] echesakovMSFT commented on #27154
I am going to take a look at this issue

[2020-01-11 08:16] #27978 closed

[2020-01-11 08:35] Kevin920920 opened #27987 "BUILD: Error: Failed to generate version headers . And System.TimeoutException"
E:\Downloads\coreclr-3.1.0>build.cmd
BUILD: Starting Build at 15:58:14.03
BUILD: Searching for Visual Studio 2017 or later installation
BUILD: "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\Tools\VsDevCmd.bat"
**********************************************************************
** Visual Studio 2019 Developer Command Prompt v16.4.1
** Copyright (c) 2019 Microsoft Corpora

[2020-01-11 09:10] stoichammer opened #27988 "andra"

[2020-01-11 09:11] stoichammer commented on #27988
by mistake. closing it.

[2020-01-11 09:11] #27988 closed

[2020-01-12 07:21] damageboy commented on #27878
Sure thing. I will point out, from the get-go, that for us, the only sensible decision was to make sure this microcode update never gets applied.

So in effect, we are experiencing no impact what-so-ever, since we have basically, at this point, given up any security expectations from Intel processors.
At the same time it is important to note that our systems which I am discussing here are not inte

[2020-01-12 22:16] isilence commented on #24441
It does this smarter now. Since 5.5, I believe.
see 1d7bb1d50fb4dc14 ("io_uring: add support for backlogged CQ ring") or [here](https://git.kernel.dk/cgit/linux-block/commit/?h=for-5.5/io_uring&id=1d7bb1d50fb4dc141c7431cc21fdd24ffcc83c76)

[2020-01-13 07:14] VSadov commented on #25778
Fixed in https://github.com/dotnet/runtime/pull/1201

[2020-01-13 07:14] #25778 closed

[2020-01-13 14:01] enihcam opened #27989 "[EventPipe] Does EventCounter work across containers in the same pod?"
I have a .net core 3.1 application deployed in K8S pod, and i would like to consume the EventCounter metrics from a side-car container. Is it possible?

[2020-01-13 19:16] ritchxu commented on #19374
@vitek-karas I bumped into this issue while posting https://github.com/PowerShell/PowerShell/issues/11571, I know it's PowerShell Core, but I would suspect the underlying cause might be the same, and I was trying workaround you mentioned in this issue. Could you point out if I missed anything there?

[2020-01-13 20:42] vitek-karas commented on #19374
This is a design problem in PowerShell Core - it loads all modules into the default ALC. Default ALC is special in that it doesn't allow overwriting the AssemblyLoadContext.Load which normally handles resolution before any default logic kicks in. (This is necessary, overwriting default Load can lead to really nasty situations). The even you register a handler for only fires if the default resoluti

[2020-01-13 21:20] ritchxu commented on #19374
Thank you very much for your prompt response. Some follow-up questions:

I suppose this is why my registered handler won't fire?

In fact, the already-loaded version was higher, and the later-imported version was lower, why would it still fail?

Is there any sample code you have in hand?

[2020-01-13 22:21] vitek-karas commented on #19374
Interesting - I would have to investigate this in detail... but for this particular problem I don't think it's worth it - mainly because it would be enough that one order doesn't work (even if the other does) - I assume you need this to be reasonably robust (as in order independent).

Sample - we only have a generic "How to write an app with plugins sample":
https://docs.microsoft.com/en-us/dotnet

[2020-01-14 10:22] TheElse opened #27991 "Don't call AssemblyLoadStarted Event"
we have try to wirte a profile:
my  SetEventMask code like this:
HRESULT CloudwiseInstrumentationImpl::SetEventMask()
{
	DWORD dwEventMask = (DWORD)(
		COR_PRF_MONITOR_ENTERLEAVE // method enter/leave
		| COR_PRF_MONITOR_THREADS // thread create and destroy
		| COR_PRF_ENABLE_FUNCTION_ARGS
		| COR_PRF_DISABLE_OPTIMIZATIONS
		| COR_PRF_DISABLE_INLINING
		| COR_PRF_DISABLE_TRANSPARENCY_CHECKS_UNDER_

[2020-01-14 10:23] DavidSchuldenfrei opened #27992 "Better checking of Null Reference when fields are validated/initialized by method"
The idea, is to add an attribute to `System.Diagnostics.CodeAnalysis` namespace.
This attribute would be:
[code]
The reason for such an attribute would be to handle (very common) code like the following (pseudo-code)
[code]
Such a method could be annotated with the above attribute
[code]
With the above, the compiler would know in code like
[code]
Even if field1, field2, and Property may be null, a

[2020-01-14 13:40] DavidSchuldenfrei commented on #27992
Another potential attribute would be
[code]
This attribute would work in a way similar to `NotNullWhenAttribute`, except that it would work on fields instead of on parameters. This could be used on methods like `IsValid()` which when used to ensure that a class is fully initialized, and then members would be guaranteed to be not null.

[2020-01-15 07:40] erozenfeld commented on #23903
https://github.com/dotnet/runtime/pull/1735 eliminates null checks in the following cases above:

`; System.Private.Xml -- XmlSqlBinaryReader:AddName():this`
`; System.Private.Xml -- SR:Format(ref,ref,ref):ref`
`; System.Private.Xml -- XmlSqlBinaryReader:NameFlush():this`
`; System.Private.Xml -- XmlSqlBinaryReader:ImplReadPI():this`
`; System.Transactions.Local   InternalEnlistment:FinishEnlistme

[2020-01-15 17:37] AaronRobinsonMSFT commented on #26947
Closing this issue for the following reasons:

1) VB.NET forces the STA for `Main` by default. [**By Design**]
1) Windows Nano Server doesn't support STA. [**By Design**]

End result is VB.NET by default isn't supported on Windows Nano Server.

Official workaround is https://github.com/dotnet/coreclr/issues/26947#issuecomment-536608907.

[2020-01-15 17:37] #26947 closed

[2020-01-15 17:40] #25502 closed

[2020-01-15 17:45] AaronRobinsonMSFT commented on #24165
This isn't something we are likely to change via the `DllImport` approach. There are several reasons, but mostly it will lead to invalid P/Invoke stubs that could result in unsafe execution if the associated native library is unloaded.

Agreed. The proposed [C# function pointer](https://github.com/dotnet/csharplang/blob/master/proposals/function-pointers.md) feature along with the [`NativeLibrary`

[2020-01-15 17:45] #24165 closed

[2020-01-15 22:11] AndyAyersMS commented on #27658
Fixed by dotnet/runtime#1771.

[2020-01-15 22:11] #27658 closed

[2020-01-16 01:09] safern commented on #26241
@josalem I'm hitting this in the runtime repo on: https://helix.dot.net/api/2019-06-17/jobs/af5c83cb-842d-43c3-8a86-52a4a23f7f33/workitems/PayloadGroup0/console

[2020-01-16 01:12] IllidanS4 commented on #25156
How is this different from using `callvirt` for an interface type and simple `call` for a non-interface type?

[2020-01-16 01:19] josalem commented on #26241
Fixed in Microsoft/PerfView#1047.  Looks like we never came back to upgrade the TraceEvent version (needs to be >= 2.0.48 to have the fix).  Should be a simple fix at this point.

[2020-01-16 16:40] jeffschwMSFT commented on #27987
@hoyosjs

[2020-01-16 19:06] davidwrighton commented on #25156
The difference is that the actual method called may not be the same as the method referenced by the instruction, if the method is overrided by the type it is constrained to. The primary purpose for the new instruction is around behavior of default interface methods, and the multiple-inheritance style overriding that is available through their use. (Although there are some more subtle benefits for

[2020-01-16 19:12] saucecontrol commented on #19074
Another example here in a simple zero-terminated loop:

[code]

Current asm looks like:

[code]

[2020-01-16 20:19] steveharter commented on #26269
Duplicate of https://github.com/dotnet/coreclr/issues/26313

[2020-01-16 20:19] #26269 closed

[2020-01-16 20:20] steveharter commented on #26122
Duplicate of https://github.com/dotnet/coreclr/issues/26313

[2020-01-16 20:20] #26122 closed

[2020-01-16 20:32] BruceForstall commented on #27924
This was fixed by https://github.com/dotnet/runtime/pull/1059

[2020-01-16 20:32] #27924 closed

[2020-01-16 20:35] hoyosjs commented on #27987
A quick question would be how did you clone the repo? The name of the directory makes it sound like you downloaded a ZIP of the repository from the releases tab. Sadly I don't think this will work as it doesn't contain a `.git` folder. We use sourcelink, which uses the target `InitializeSourceControlInformationFromSourceControlManager` from `Microsoft.Build.Tasks.Git` to get repository metadata to

[2020-01-17 10:49] #27188 closed

[2020-01-17 23:39] erozenfeld commented on #23903
Fixed by https://github.com/dotnet/runtime/pull/1735

[2020-01-17 23:39] #23903 closed

[2020-01-18 07:11] #26241 closed

[2020-01-18 18:51] mikem8361 commented on #27693
The existing  DacpGcHeapDetails request and DacpGenerationAllocData Request APIs have to be backwards compatible with DAC_NUMBERGENERATIONS = 4. They could return the generations that are similar to the old 0 - 4 generations (I don't know how enough about the GC to really say).

New APIs should be added that return N (instead of a fixed number) generations somehow.  There would be a lot of changes

[2020-01-20 10:54] mikernet commented on #27992
Similar to my issue in csharplang: https://github.com/dotnet/csharplang/issues/3102

FYI: As per the home page of the coreclr repo, you should be posting .NET runtime issues in https://github.com/dotnet/runtime now, this repo isn't active anymore.

[2020-01-20 21:01] tmat commented on #27987
@hoyosjs It is already possible to build w/o Source Link (at least C# projects) if you set `/p:EnableSourceControlManagerQueries=false /p:EnableSourceLink=false`.

Two possible improvements:
1) Update `GenerateNativeVersionFile` target to not include commit sha in the version if none is available, rather then error.
2) Set `p:EnableSourceControlManagerQueries` and `p:EnableSourceLink` to `false` i

[2020-01-21 09:58] DavidSchuldenfrei commented on #27992
@mikernet Thanks, I opened issue in [dotnet/runtime#1957](https://github.com/dotnet/runtime/issues/1957)

[2020-01-21 20:32] davmason commented on #3732
Testing is done on windows for arm64 as well

[2020-01-21 20:32] #3732 closed

[2020-01-22 20:59] webczat commented on #4623
I am not sure how all the things work, but on at least linux you should be able to stop a thread at any moment. I think dotnet debugger does not have any use for ptrace... or it maybe does?

[2020-01-22 23:15] hoyosjs commented on #27987
@Kevin920920 does this solve your question?

[2020-01-23 00:22] #27800 closed

[2020-01-23 05:40] mikem8361 commented on #4623
For .NET Core apps, the managed code needs to be a "safe" point to suspend/debug. A "safe" point in the JIT'ed code is locations in the managed function that the runtime can suspend allowing the managed state to be examined.

The managed debugging doesn't currently use ptrace.  The only place ptrace might be used someday is mixed mode debugging on Linux where both managed and native code can be de

[2020-01-23 05:40] mikem8361 commented on #4623
Tight loops may not have any safe places.

[2020-01-23 06:39] jkotas commented on #4623
The JIT is expected to guarantee that all loops have GC safe points in them. Otherwise, the GC would hang if there is any such loop running in the system.

[2020-01-23 09:30] webczat commented on #4623
I just meant that if you use some way to suspend threads on windows, there are ways on linux at least too, for example, sending a sigstop signal to thread.

[2020-01-23 14:03] jkotas commented on #27955
Duplicate of #26873. This issue will be fixed in .NET Core 3.1.2 update.

[2020-01-23 14:03] #27955 closed

[2020-01-23 14:15] AgentFire commented on #20705
Core printing API has some serious issues (including outright hangs on a PrintVisual/PrintDocument calls), can else should I be able to stop the freezed thread?

[2020-01-24 10:43] mmmacmac commented on #23400
@RickIsWright Thx, that did the trick for me, too!!!
I run an updated Visual Studio (8.4.2) on Mac (Catalina 10.15.2) and my dotnet crashed aswell, when I tried to "run without debugging" a fresh MVC-Project.
Question: Do I have to change the ports to 5003 and 5004 on every new project I make or can I change those settings somewhere in the Preferences for VS?

[2020-01-24 21:02] GrabYourPitchforks commented on #13827
Is there a plan to address this for .NET Core 5? We're still working around this in a few places in the code - some of which involves us duplicating entire methods but using slightly different signatures - and it would be great for us to be able to remove our workarounds.

[2020-01-24 21:54] tannergooding commented on #13827
I thought we were stripping the `.locals init` bit for the runtime/framework assemblies?

[2020-01-24 21:59] GrabYourPitchforks commented on #13827
We do, but `.locals init` doesn't do much when your locals are `Span<T>` and other reference-containing types.

[2020-01-24 22:21] erozenfeld commented on #13827
Can you list those places in this issue? That will help validating heuristic changes when we get to this.

[2020-01-24 22:56] GrabYourPitchforks commented on #13827
@erozenfeld sure - check the search at https://github.com/dotnet/runtime/search?q=13827

[2020-01-25 18:42] OJacot-Descombes commented on #24246
@sagebind: I extended your helper class by wrapping the returned objects recursively, if they are not primitive types.
[code]
I then apply this to the result (`result = WrapIfRequired(result);`) in `TryGetMember` and `TryInvokeMember`. It saves you from having to wrap returned objects manually.

---

Btw.: When `dynamic` was introduced in C# 4.0, the primary use case mentioned was to make it simpl

[2020-01-27 15:52] am11 commented on #24518
@jkotas, I have found few places while fixing some of these warnings in `cee_wks` target, where 204 is being memset() to complex types under `#ifdef _DEBUG`, e.g. https://github.com/dotnet/runtime/blob/e7ce09d38493809f166dc633b6248a6021bc2f98/src/coreclr/src/vm/class.h#L2157:

1. are they (all) in use?
2. what is the significance of number 204; can we make it 0?

[2020-01-27 17:08] jkotas commented on #24518
It is easy to notice that it is a uninitialized value when debugging. Notice that it is done only under `_DEBUG`.

[2020-01-27 17:13] jkotas commented on #24518
The specific one you have linked is getting major refactoring in #1828.

[2020-01-27 22:15] jkotas commented on #23868
Fixed by https://github.com/dotnet/runtime/pull/1315

[2020-01-27 22:15] #23868 closed

[2020-01-28 00:26] jkotas commented on #27931
Fixed by https://github.com/dotnet/runtime/pull/1068

[2020-01-28 00:26] #27931 closed

[2020-01-28 00:29] #27897 closed

[2020-01-28 00:31] jkotas commented on #27847
`dotnet new webapi` will give you a simple REST API over HTTP.

[2020-01-28 00:31] #27847 closed

[2020-01-28 00:33] #22690 closed

[2020-01-28 00:38] #11879 closed

[2020-01-28 00:43] jkotas commented on #26735
Duplicate of https://github.com/dotnet/runtime/issues/953

[2020-01-28 00:43] #26735 closed

[2020-01-28 00:47] #26972 closed

[2020-01-28 00:51] jkotas commented on #27408
Fixed by https://github.com/dotnet/runtime/pull/1866

[2020-01-28 00:51] #27408 closed

[2020-01-28 00:52] #26946 closed

[2020-01-28 00:54] #27499 closed

[2020-01-28 18:30] safern commented on #26371
Closing as this is fixed and I removed the workaround.

[2020-01-28 18:30] #26371 closed

[2020-01-28 22:19] #22426 closed

[2020-01-28 22:19] #23596 closed

[2020-01-29 02:50] GrabYourPitchforks commented on #2051
@tarekgh Can this be closed? I confirmed that the null character is a weightless character in ICU.

[code]

The two calls above will return the same value for `result` and will both populate `sortKey` with the same data. This indicates that per ICU the strings `"ab\0cd"` and `"abcd"` are equal.

[2020-01-29 06:56] stonstad commented on #1237
I see this was closed but was it resolved successfully or won't fix?

.Net Core 3.0, Linux, ala EventWaitHandle.

_"The named version of this synchronization primitive is not supported on this platform."_
Stack Trace at System.Threading.EventWaitHandle.CreateEventCore(Boolean initialState, EventResetMode mode, String name, Boolean& createdNew) ...

[2020-01-29 07:56] k15tfu commented on #26579
@davmason Friendly ping.

[2020-01-29 07:58] k15tfu commented on #22176
@noahfalk @davmason Okay. What about fixing this in 2.1 release?

[2020-01-29 11:19] damageboy commented on #27878
@brianrob if there are new findings/conclusions about this issue I would be happy if you could share them here...

I personally think it's also completely fine to mark this as `wontfix` if that is what the group and the
JIT gurus think is the right answer going forward for this.
It's been about two and half months now, holidays and all, and I would really like to get some visibility or finality ab

[2020-01-29 16:01] tarekgh commented on #2051
@GrabYourPitchforks I am closing it. I assume there is no test failing because of that today.

[2020-01-29 16:01] #2051 closed

[2020-01-29 16:46] stephentoub commented on #1237
Where it could be supported (e.g. Mutex), it is, and for the rest it throws PlatformNotSupportedException, by design.

[2020-01-29 16:46] WenningQiu opened #28005 "Building CoreCLR 3.1 fails on CentOS 7"
I executed the following commands on a CentOS 7 VM to build CoreCLR 3.1:
- git clone https://github.com/dotnet/coreclr.git
- cd  coreclr
- git checkout remotes/origin/release/3.1
- run --rm -v /home/wqiu/git/coreclr:/coreclr -w /coreclr mcr.microsoft.com/dotnet-buildtools/prereqs:centos-7-d485f41-20173404063424 ./build.sh -Release

The build failed with the following linker error. I had no issue b

[2020-01-29 17:18] jeffschwMSFT commented on #28005
@jkoritzinsky @trylek

[2020-01-29 21:11] Leonardo-Ferreira commented on #20705
Well, very good points all over the place here! here are my 2 cents:

-A insecure, error prone, "deadly" api is better than no api at all.
Right now I'm looking at a rancher monitor that shows me ever-growing CPU consuming pods. When the CPU baseline/idle is around 50%, we kill the pods and let Kubernetes recreate them. "Oh the thread aborting corrupted the app domain and crashed the app?" well, i

[2020-01-29 21:54] janvorli commented on #28005
I'll take a look

[2020-01-29 22:49] #24751 closed

[2020-01-30 01:20] janvorli commented on #28005
@WenningQiu I've found that the issue happens when linking native binaries for coreclr tests. You can work around the problem by adding `-skiptests` argument. Unless you need to run the coreclr tests for some reason, building the test binaries is useless anyways.

[2020-01-30 03:31] #27154 closed

[2020-01-30 03:52] echesakovMSFT commented on #27152
I am going to close this item in https://github.com/dotnet/runtime/pull/1601 so assigning to myself

[2020-01-30 14:13] xgnxs commented on #27936
@AlbertoCe or @stasgaonkar, did either of you manage to figure out a solution?  I'm having the same problem, where once I create a new SqlConnection (using System.Data.SqlClient) the plugin assembly I'm trying to create can no longer be unloaded.  If I remove that line, I can unload the assembly just fine, although the plugin is useless without database access.  I tried Microsoft.Data.SqlClient as

[2020-01-30 14:48] WenningQiu commented on #28005
@janvorli Thanks for the suggestion! That works since I do not care about the native tests.

[2020-01-30 16:24] AlbertoCe commented on #27936
Hi @xgnxs
Unfortunately I have not made progress with this problem. I had to give up using netcore 3.1 and switch to the 4.8 framework.
I don't think it is easily solved nor when they will be able to solve it.

Let me know if you make any progress.

[2020-01-30 21:22] mikem8361 commented on #27765
Fix in PR https://github.com/dotnet/runtime/pull/2269

[2020-01-30 21:22] #27765 closed

[2020-01-30 21:23] mikem8361 commented on #25740
Fix in PR https://github.com/dotnet/runtime/pull/2269

[2020-01-30 21:23] #25740 closed

[2020-01-30 21:27] mikem8361 commented on #17419
This may be fixed by PR https://github.com/dotnet/runtime/pull/2269

[2020-01-30 21:27] #17419 closed

[2020-01-31 04:04] #27943 closed