[2017-08-16 00:47] yizhang82 commented on #12149
This is addressed by https://github.com/dotnet/coreclr/pull/12753

[2017-08-16 00:47] #12149 closed

[2017-08-16 00:47] yizhang82 commented on #12147
This is addressed in https://github.com/dotnet/coreclr/pull/12753

[2017-08-16 00:47] #12147 closed

[2017-08-16 06:55] wateret opened #13393 "[RyuJIT/arm32] Assert Failure `!foundDiff`"
This test case fail with Assert Failure `!foundDiff`

- CoreMangLib.cti.system.math.MathSign5.MathSign5

[code]

[2017-08-16 06:56] wateret commented on #13393
The method that casued the failure is `PosTest3()`.

[code]

Looks like the BB04(the assert failure block) is `if (Math.Sign(i) != 1)`, and the `Sign` method is inlined.

[2017-08-16 07:02] hqueue commented on #13326
Fixed by #13364

[2017-08-16 07:02] #13326 closed

[2017-08-16 07:18] hqueue commented on #8496
A month is passed from the last update.

Here is a recent status of pri2 unit test with  `coreclr` (6ac0222061a) (Release) and `corefx` (8affaae021f)(Release) on Raspberry Pi 2.

[code]

Above result exclude following tests which requires long execution time in addition to default excluded tests for ARM32 (https://github.com/dotnet/coreclr/blob/master/tests/testsUnsupportedOnARM32.txt).

[code]

[2017-08-16 07:32] mazong1123 commented on #5612
Anyone working on this issue? If not I have time to take a look.

[2017-08-16 07:44] wateret commented on #13393
[code]

[2017-08-16 08:07] Jiayili1 commented on #12522
failed again: https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fr2r~2Fcli~2F/build/20170816.01/workItem/baseservices.exceptions.XUnitWrapper/analysis/xunit/baseservices_exceptions._regressions_whidbeybeta2_349379_349379_349379_~2F_regressions_whidbeybeta2_349379_349379_349379_cmd

[2017-08-16 08:26] janvorli commented on #5612
@mazong1123 that would be great! Thank you. No-one is assigned, so that means no-one is working on this. I've just assigned you.

[2017-08-16 11:32] hqueue commented on #13311
With recent commit (fix bugs and regression), all three test passed.

[2017-08-16 11:32] #13311 closed

[2017-08-16 12:12] gregolsky opened #13395 "BuildNumberMajor is incorrect for managed build libraries"
We've recently migrated our app to .netcore 2.0 and discovered that when published our application no longer works - exiting with an error on almost all platforms we support (runtimes we built for were `win7-x64`, `ubuntu.16.04-x64`, `ubuntu.14.04-x64`):
[code]

`linux-arm` worked fine.

We've been migrating the app in a branch before 2.0 was out officially using preview build: `dotnet-sdk-2.0.1-s

[2017-08-16 13:32] janvorli commented on #13395
Can you please try to target linux-x64 instead of ubuntu-x64? In 2.0, we've made the runtime portable so that you don't need to target specific Linux distros. It should work on all supported distros that have glibc >= 2.12 (and on majority of others that are not officially supported too).

[2017-08-16 14:50] janvorli commented on #13395
@weshaggard - I assume targeting distro specific rids should still work, right?

[2017-08-16 15:30] AndyAyersMS commented on #13237
@briansull is there any way to verify that the set of methods that are now prejitted is the set we expect?

Assuming it is, there is no bug here -- the Roslyn assemblies we use in these tests have embedded IBC data, so we're seeing the impact of what is presumably a desirable IBC only fix.

[2017-08-16 15:48] janvorli commented on #12989
@cydhaselton I wanted to give it a try on my local Ubuntu 16.10 machine, but I've bumped into serveral issues:
1. Building the cross file system didn't work (sudo ./cross/build-android-rootfs.sh arm64) - I had to update the libandroid-support-dev and libandroid-support library versions from 20 to 21 (20 was not on the termux.net server anymore):
[code]
2. After that the cross fs build completed ok

[2017-08-16 16:10] janvorli commented on #13383
@helloguo of course, if my assumption that I've mentioned above that pRecord->Group.GroupInfo[i].ActiveProcessorCount is 52 and pRecord->Group.GroupInfo[i].ActiveProcessorMask is 0x000FFFFFFFFFFFFF is not correct and we generate something else, then that would be a problem.

[2017-08-16 16:29] janvorli commented on #12989
@cydhaselton actually, the issue #2 was caused by running the build-android-rootfs.sh under sudo. Now I get another issue: error: 'ucol_setVariableTop' is deprecated. I need to check why the config didn't detect that the `ucol_setMaxVariable` is present and should be used instead of the deprecated function.

[2017-08-16 16:33] redknightlois commented on #13388
I have been tracking a unusual MAJOR regression (as in capital letters major) from 60K req/sec (running the loading and the target process at the same machine) to 3K req/sec that may be related to this. We have only seen this after upgrading the solution to CoreCLR 2.0. Under profiler the only suspect for the odd behavior is the ManualResetEventSlim. We see an inordinate amount of CPU time being a

[2017-08-16 16:40] mikedn commented on #13380
You could leave this open, it may be useful to take a closer look at what the JIT can do to improve this.

[2017-08-16 16:40] janvorli commented on #12989
@cydhaselton ok, I've fixed that issue by adding libc++_15.2_aarch64.deb package - the libicu depends on it and so the config couldn't find the symbol since it couldn't resolve the libicu dependencies.

[2017-08-16 16:44] JosephTremoulet commented on #6234
Updated title to reflect the concrete issue.

I agree it seems odd to restrict constant propagation to conservative VNs.  I suppose the fear would be that a constant is store to a memory location that is used in a bounds check and to index into an array -- constant-prop removing the bound check without removing the load to index into the array could break memory safety.  But I think what would be

[2017-08-16 16:44] sergiy-k commented on #12522
@janvorli, @kouvel, could you please take a look? This issue seems to be different from the original one.

[2017-08-16 17:00] MattGal commented on #12522
It's definitely different;  Server Core runs are AMD64, not ARM64.  Note there's lots of stuff not included in Server Core by default.  This SKU can be provisioned in Azure or any of the DTLs though, so getting a repro machine should be simple.

[2017-08-16 17:05] vancem commented on #13388
I have been in conversation with @kouvel on spinning, and I would like us to move to make a small modification to spin loops such that they remember the spin count that worked in the past (or more importantly the fact that it did NOT work in the past), and use that to determine how much spinning to do this time (or to bail immediately).   This change was motivated to simply reduce spin overhead, b

[2017-08-16 17:24] janvorli commented on #12522
I'm taking a look.

[2017-08-16 17:31] helloguo commented on #13383
@janvorli I should put more context to make it clear :)

I see some run to run variation when I run TechEmpower plaintext multiple times.  I suspect it's due to the unbalanced GC heaps on Linux. For example, `balance_heaps `function in gc.cpp ifdef out the following code for Linux. So I'm doing a prototype so that these codes can also be executed for Linux.

[code]

 `find_cpu_group_from_heap_no`(

[2017-08-16 17:40] weshaggard commented on #13395
Yes targeting distro specific rids should still work assuming that Microsoft.NETCore.Platforms is pulled in with the RID graph (https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtime.json).

[2017-08-16 17:41] weshaggard commented on #13395
@gregolsky can you post your project.assets.json file from your restore somewhere so we can look at what it contains?

[2017-08-16 17:54] jkotas commented on #5860
This materialized as ref-like types: https://github.com/dotnet/csharplang/blob/master/proposals/span-safety.md

[2017-08-16 17:54] #5860 closed

[2017-08-16 17:56] briansull commented on #13237
Yes, There is no bug here, we now generate extra methods with IBC data.

With R2R It is not easy to verify that the exact set of methods we expect to get prejjited are in fact prejitted.  Before R2R we were able to check that the JIT wasn't needed and and that every method needed was prejitted.  We can't do that for R2R native images.

There are quite a few random reasons where we simply omit a me

[2017-08-16 17:59] weshaggard commented on #13381
If this is caused by changing the OutputPath and/or BaseIntermediateOutputPath then this seems more like a tooling issue that should probably be filed at https://github.com/dotnet/sdk so moving this issue there.

[2017-08-16 18:00] #13381 closed

[2017-08-16 18:00] weshaggard commented on #13381
Issue moved to [dotnet/sdk #1497](https://github.com/dotnet/sdk/issues/1497) via [**ZenHub**](https://www.zenhub.com/)

[2017-08-16 18:00] weshaggard commented on #13381
Issue moved to [dotnet/sdk #1498](https://github.com/dotnet/sdk/issues/1498) via [**ZenHub**](https://www.zenhub.com/)

[2017-08-16 18:01] AndyAyersMS opened #13398 "JIT: some instruction sizes mis-estimated on x64"
Known cases:

- GT_LABELs via emitIns_R_L -- size is estimated before the relocation flags are applied
- reg-reg movs via emitInsSizeRR -- REX prefix can be counted twice

I believe the intention is that these mis-estimates are tolerable (the true size may not be knowable and the actual size is known later) but they expose other issues.

The label case leads to an error in the code recording the i

[2017-08-16 18:03] AndyAyersMS opened #13399 "JIT: instruction size mis-estimates can lead to CHK/REL diffs in codegen"
The jit's emitter works by combining instructions into instruction groups (hereafter IGs). The group boundaries can be formed naturally by labels or induced by the emitter when an internal buffer fills up.

The buffer capacity varies between CHK and REL builds, and the size of the buffer entries varies depending on the instructions being emitted. So the location of the induced IG breaks is not con

[2017-08-16 18:06] AndyAyersMS commented on #13399
This is follow-on work inspired by #13358, looking for more examples of CHK/REL divergence.

[2017-08-16 18:09] BruceForstall commented on #13398
Seems like perhaps we should make sure the underlying issues are fixed before we "hide" them by fixing the size estimations.

In fact, perhaps we should add a stress mode that always over-estimates instruction sizes by 1 or more (or does so for some subset of instructions), to tease out other potential issues with the emission adjustment code.

[2017-08-16 18:10] sdmaclea commented on #13399
Any reason the buffer capacity must be different?  Wouldn't it be better for them to be the same since we use CHK as a test proxy for REL.

[2017-08-16 18:12] #13348 closed

[2017-08-16 18:12] jashook commented on #13348
Addressed with #13377

[2017-08-16 18:14] AndyAyersMS commented on #13398
Sounds like a sensible plan, though note for the GT_LABEL/LEA case the mis-estimates arguably lead to incorrect code.

[2017-08-16 18:20] AndyAyersMS commented on #13399
I think that was the intent. The buffer holds `instrDesc` structs and the size is (rougly) a multiple of that. However these structs come in different sizes, depending on what instructions are being emitted.

The `instrDesc` sizes also change between CHK and REL. So I don't see how one can pick the right buffer size.

It would be better to pick a buffer large enough to hold N of the largest instru

[2017-08-16 18:27] AndyAyersMS commented on #13398
Also the mis-estimation is (so far) consistent between CHK and REL, so it should be simple to instrument the jit and track down more cases that we ought to fix.

[2017-08-16 18:35] sergign60 commented on #13195
https://github.com/dotnet/coreclr/pull/13400

[2017-08-16 19:03] gregolsky commented on #13395
@weshaggard Here you go https://gist.githubusercontent.com/gregolsky/754e5df1337aa83237ca2f02bfd764c8/raw/dd1d121a16c00df26f052538c8039e22197a60ca/project.assets.json

Let me know, if I can help you with anything else.

[2017-08-16 19:43] benaadams commented on #13388
/cc @stephentoub FYI

[2017-08-16 19:57] redknightlois commented on #13380
As you pointed out without a proper way to reason about the sign of the value the optimization is generally not safe to be done on long; so it doesn't make sense to keep it open. But better, lets ask people in the know about what to do about it. cc @AndyAyersMS @CarolEidt @stephentoub

[2017-08-16 19:57] BruceForstall commented on #8496
Do you have a characterization of the 19 failures? If you run those 19 with a Checked JIT, do they assert? Have you tried to run Release Coreclr but Checked JIT, to enable asserts?

The current status of the outstanding issues should summarized here: https://github.com/dotnet/coreclr/projects/4. There are 10 issues in the "In Progress" column (ignoring this issue), with assigned owners. Are they a

[2017-08-16 20:08] mikedn commented on #13380
Yes, in general it's rather expensive to prove that values are positive (or within a given range). But in some case this can be done relatively cheaply by piggy-backing on range check elimination:

[code]
The big question is if it's worth doing this or not.

[2017-08-16 20:34] BruceForstall commented on #13399
That might improve CHK/REL consistency, but would be memory inefficient.

Isn't the solution here to make sure all offsets take into account the currently computed adjustment (due to mis-estimation)? I assume the issue here is we don't have the correct "base" address. For forward references, we already walk a list of labels to update the offsets after emission, right? (Maybe I should go read code

[2017-08-16 20:48] redknightlois commented on #13388
@vancem just point us to the private build for it and we can test it.

[2017-08-16 20:54] helloguo commented on #13388
@redknightlois what's your hardware?

[2017-08-16 22:06] redknightlois commented on #13388
Skylake & Kaby Lake, probably by tomorrow we will have the same test on pre-Skylake.

[2017-08-16 22:17] mikedn opened #13404 "Bad cast morphing"
While working on #12676 I ran into what appears to be a bug in cast morphing. Consider the following IL code:
[code]
This should throw an overflow exception. When `foo` is loaded the value is sign extended so on the evaluation stack we have -1. But we have `conv.ovf.i2.un` so the value on the stack is supposed to be treated as 4294967295 and that's too large for `i2`.

Morph is incorrectly removin

[2017-08-16 22:20] janvorli commented on #12989
I've tried to build everything and libsosplugin.so and createdump were both excluded correctly.

[2017-08-16 22:21] mikedn commented on #13404
cc @dotnet/jit-contrib

Am I missing something? Casts can be quite confusing.

[2017-08-16 22:24] seanshpark commented on #9265
@TheLastRar , could https://github.com/dotnet/coreclr/pull/12897 the one ?

[2017-08-16 22:34] sdmaclea opened #13405 "[Arm64] Strike change breaks tip"
/home/vmjenkins/workspace/Dotnet/build_and_test/src/ToolBox/SOS/Strike/strike.cpp:14676:59: error: no member named 'Rip' in '_CONTEXT'
    HRESULT hr = g_ExtSymbols->GetModuleByOffset(context->Rip, 0, NULL, &baseAddress);
[code]

[2017-08-16 22:35] sdmaclea commented on #13405
@jkotas @dotnet/arm64-contrib

[2017-08-16 22:38] jkotas commented on #13405
Fixed by #13402 ?

[2017-08-16 22:40] sdmaclea commented on #13405
Looks like it.

[2017-08-16 22:40] #13405 closed

[2017-08-16 22:47] AndyAyersMS opened #13407 "JIT: compQuirkForPPP can cause CHK/REL gc info diffs"
This quirk resizes a local struct from 32 bytes to 64 bytes, but does not make corresponding changes to the GC info for the struct.

So the GC tracking emitted for the last 4 pointer-sized "fields" of this struct is somewhat arbitrary as the jit reads off the end of the supplied GC info into unrelated data.

In my particular case some of the extra fields were tracked in CHK and not in REL, but thi

[2017-08-16 23:38] stephentoub commented on #3184
This will be satisfied by https://github.com/dotnet/corefx/issues/22403, so I'm going to close this issue.

[2017-08-16 23:38] #3184 closed

[2017-08-17 02:26] wateret opened #13418 "[RyuJIT/armel] Assertion failed 'reg1 != reg2'"
Following test cases fail with `Assertion failed 'reg1 != reg2'`

- GC/LargeMemory/API/gc/gettotalmemory/gettotalmemory.sh
- GC/LargeMemory/API/gc/keepalive/keepalive.sh
- GC/LargeMemory/API/gc/suppressfinalize/suppressfinalize.sh
- GC/LargeMemory/Allocation/largeexceptiontest/largeexceptiontest.sh

Dump
[code]

Backtrace
[code]

[2017-08-17 04:31] danmosemsft commented on #13021
https://github.com/dotnet/coreclr/pull/13349

[2017-08-17 05:21] hqueue commented on #8496
The result is from `Release` and about 10 tests are known regression (#13225) and remaining failures are due to wrong result. Issues are not created yet.

There are two assertions observed, but this is the first result after fixing, we didn't analyze it yet.

AFAIK they are being worked on, and I found that some of them is already resolved. We will check the status.

We are going to run CoreFX tes

[2017-08-17 05:58] AxelAndersen commented on #7535
This problem is a lot worse than described. Its preventing me from loading pages in my app from Visual Studio. Its stops executing, gives me an error page i Visual Studio.
I just shifted to Core 2.0

Any news on this?

[2017-08-17 06:51] #13156 closed

[2017-08-17 07:11] wateret commented on #13312
Closing since fixed by #13332

[2017-08-17 07:11] #13312 closed

[2017-08-17 07:33] AndyAyersMS opened #13420 "JIT: getKillSetForNode has side effects leading to CHK/REL codegen diffs"
Example program:
[code]
The early kill of RDX by the `cdq; imul` used for the modulo operation is added twice in CHK but only once in REL. The extra call is under DEBUG in `buildRefPositionsForNode`. This leads to codegen differences:
[code]

@CarolEidt PTAL
cc @dotnet/jit-contrib

[2017-08-17 07:44] sergign60 commented on #13195
https://github.com/dotnet/corert/pull/4337

[2017-08-17 07:51] sergign60 commented on #13195
@BredPet  I think that this issue can be closed

[2017-08-17 08:07] hseok-oh opened #13421 "[RyuJIT/ARM32] TimeSpanToString in CoreMangLib/cti/system/timespan failed"
Failed tests
[code]

Failure message
[code]

cc/ @dotnet/arm32-contrib

[2017-08-17 08:15] hseok-oh commented on #13184
Please close this issue

[2017-08-17 08:40] wateret opened #13422 "[RyuJIT/armel] Assertion failed '(op2 == idx) || (op2->gtEffectiveVal() == idx)'"
Failed Tests

- JIT/SIMD/VectorConvert_r/VectorConvert_r.sh
- JIT/SIMD/VectorConvert_ro/VectorConvert_ro.sh

[2017-08-17 08:49] wateret opened #13423 "[RyuJIT/armel] `JIT/Methodical/divrem/rem` tests fail with wrong results"
Failed Tests

- JIT/Methodical/divrem/rem/i4rem_cs_do/i4rem_cs_do.sh
- JIT/Methodical/divrem/rem/i4rem_cs_ro/i4rem_cs_ro.sh
- JIT/Methodical/divrem/rem/i8rem_cs_do/i8rem_cs_do.sh
- JIT/Methodical/divrem/rem/i8rem_cs_ro/i8rem_cs_ro.sh
- JIT/Methodical/divrem/rem/r8rem_cs_do/r8rem_cs_do.sh
- JIT/Methodical/divrem/rem/r8rem_cs_ro/r8rem_cs_ro.sh
- JIT/Methodical/divrem/rem/u4rem_cs_do/u4rem_cs_do.sh
-

[2017-08-17 09:16] wateret commented on #13393
@dotnet/arm32-contrib On my environment, I get this assertion on armhf(RPi3) as well. Could someone run this TC on RPi3 to cross-check this, please?

[2017-08-17 14:07] ayende opened #13425 "CoreCLR 2.0 - TODO for resources in error handling"
When a web socket connection is broken, I'm getting this:

![image](https://user-images.githubusercontent.com/116915/29416327-664801fc-836e-11e7-8f58-7ee462a1a644.png)

I assume that is something that should be fixed :-)

[2017-08-17 14:22] stephentoub commented on #13425
That's coming from here:
https://github.com/aspnet/WebSockets/blob/4e2ecf8a63b9fc78175d1ef62bf2b1918b8b3986/src/Microsoft.AspNetCore.WebSockets/Internal/fx/SR.cs#L22

[2017-08-17 15:05] CarolEidt opened #13427 "[RyuJIT][LSRA] Restructure LinearScan::isAssigned to improve efficiency"
`bool LinearScan::isAssigned(RegRecord* regRec ARM_ARG(RegisterType newRegType))` calls `bool LinearScan::isAssigned(RegRecord* regRec, LsraLocation lastLocation ARM_ARG(RegisterType newRegType))` with `lastLocation` set to `MaxLocation`. This doesn't make it easy for the C++ compiler to optimize away the check in this case.

[2017-08-17 15:56] gregg-miskelly commented on #7535
@AxelAnderson this problem (symbols don't load for .NET Framework) is definitely **NOT** the reason why your pages aren't loading.

If your pages don't load at all (not related to debugging) and you think it is caused by an issue in the ASP.NET Framework, I *think* https://github.com/aspnet/home/issues is the right spot.

If you think your problem is caused by the debugger, please log an issue at

[2017-08-17 16:14] MichaelSimons opened #13428 "[dev/defaultintf] Build error: backslash and newline separated by space"
Official builds are failing for the dev/defaultintf branch.

Build failure - https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=931846

Failure snippet:
[code]

@yizhang82 - this looks related to a recent change you made - https://github.com/dotnet/coreclr/commit/3f0dd78dba6a217f3857a8e8fecf6f81e7bc00b7#diff-22e79d183abc38718681887bea6c35d0R7140.

[2017-08-17 17:21] AxelAndersen commented on #7535
Hi

I am not sure what is causing my problems, but this is the result:

[image: Billede indsat i tekst 1]

when i  call this line of code:
 var result = await
_signInManager.ExternalLoginSignInAsync(info.LoginProvider,
info.ProviderKey, isPersistent: false, bypassTwoFactor: true);

or calling this line:
var test = _context.Users.Where(u => u.Email == user.Email);

2017-08-17 17:56 GMT+02:00 Gregg

[2017-08-17 17:36] gregg-miskelly commented on #7535
Lets take this offline. Can you email me? I am greggm on the microsoft.com email server.

[2017-08-17 17:39] #13418 closed

[2017-08-17 17:42] BruceForstall commented on #13225
@sjsinju @hqueue #13100 just got merged; can you verify the fix on these tests, and close the issue?

[2017-08-17 17:45] BruceForstall commented on #8496
#13225 has just been fixed, so that should leave just 9 failures. That's great!

Seems like a good idea. You could, of course, do both in parallel if you have enough time/machines/people.

[2017-08-17 19:02] yizhang82 commented on #13428
Looks like I forgot to build it after I change the comment. Will fix. We should also enable CI for dev/defaultintf as well. @jcagme @fadimounir

[2017-08-17 19:03] #6234 closed

[2017-08-17 21:26] sandreenko opened #13435 "gtCloneExpr allows to clone RET_EXPR ref (inl return from call [000054])"
Fox example we have call(1) , that result(2) is used in another call(3) as argument (4).
Then we call gtCloneExpr for call(3) and get call(5), that has argument (6)  `RET_EXPR  ref   (inl return from call [001])`
[code]
***
[code]
***
[code]
***

Do we consider such sequence as correct? There are no nodes with same ID, but if inlining happens, then we do "Replacing the return expression placeholde

[2017-08-17 21:28] sandreenko commented on #13435
cc @dotnet/jit-contrib

[2017-08-17 21:47] AndyAyersMS commented on #13435
In general it is unwise to clone a RET_EXPR, since the subtree it stands for can be quite large. It is also, as you have discovered, unsafe, as we simply clobber the RET_EXPR with the replacement tree when we remove it.

We could fix this case by cloning the replacement before overwriting the RET_EXPR node (cloning if and only if the RET_EXPR node it itself a clone), but we probably want to be mor

[2017-08-17 22:23] weshaggard commented on #13395
The asset file looks correct to me and I wasn't able to get a local repo. I could run an application that build with `win-x64` or `win7-x64`. Can you share with me the commands you are running? Are you publishing self-contained? Are you deploying the application to another machine? If so does it have the matching framework?

[2017-08-18 00:04] danmosemsft commented on #13385
I opened a VS bug for this, meantime I can find no way to work around the warning, including importing the value.

[2017-08-18 00:04] #13385 closed

[2017-08-18 00:22] hqueue commented on #13225
@BruceForstall Just finished pri2 test and confirmed that this regression is fixed.

Fixed by #13100

[2017-08-18 00:22] #13225 closed

[2017-08-18 00:31] hqueue commented on #8496
Sure, why not :) We will try stress tests in parallel as soon as possible.

[2017-08-18 01:35] #12464 closed

[2017-08-18 01:55] wateret commented on #13393
This assertion occurs on RPi3(armhf) too. It is not only armel problem.

[2017-08-18 02:15] sjsinju opened #13443 "[RyuJIT/ARM32] Assertion failed 'genIsValidDoubleReg(reg->regNum)"
test commit : 82f487f94871c6fcc90f209d030eb8c0fc17bc00

After merged #13100, following tests met assertion.
[code]
[code]

[code]
[code]

[2017-08-18 02:41] sjsinju commented on #12873
Fixed with #13100

[2017-08-18 02:57] hqueue commented on #12873
@sjsinju Thanks !

[2017-08-18 02:57] #12873 closed

[2017-08-18 03:09] hqueue commented on #13184
@hseok-oh Thank!

[2017-08-18 03:09] #13184 closed

[2017-08-18 04:36] #13421 closed

[2017-08-18 04:53] wateret commented on #13427
cc: @sjsinju

[2017-08-18 05:42] landaire opened #13449 "Incorrect String comparison optimization?"
I was recently reviewing the String comparison implementation in both .NET Core and .NET framework reference source and found the following block: https://github.com/dotnet/coreclr/blob/367d9b1dd1b542f3d391d0b9111d5914602db2d9/src/mscorlib/src/System/String.Comparison.cs#L93-L121

The optimization itself makes sense, but what doesn't to me is that each comparison overlaps the previous comparison.

[2017-08-18 06:00] mikedn commented on #13449
Pointers `a` and `b` are `char*`. That means that `a + 4` is really `a + 4 * sizeof(char)` in term of bytes.

[2017-08-18 06:02] landaire commented on #13449
Ah, and sizeof(char) = 2 since they're UTF-16, correct?

[2017-08-18 06:10] mikedn commented on #13449
Ah, and sizeof(char) = 2 since they're UTF-16, correct?

Yes.

[2017-08-18 06:11] landaire commented on #13449
That makes 100% sense then. Thanks @mikedn, thought I must have been missing something when I read the code.

[2017-08-18 06:11] #13449 closed

[2017-08-18 06:35] wateret opened #13451 "[RyuJIT/arm32] Regression : Assertion failed '!isMarkedContained'"
After #13198 merged we get a lot of assertion failure on ARM(RPi3).

[code]

As far as we checked so far, all of the HFA tests(JIT/jit64/hfa) fail with this assertion. I'll update the full test results when it is done.

cc: @CarolEidt @sjsinju

[2017-08-18 06:35] wateret commented on #13451
cc: @dotnet/arm32-contrib

[2017-08-18 07:08] hseok-oh commented on #13393
I also get same result on my environment (armhf, checked build). And it passed on release build.

[2017-08-18 07:12] dotnet-mc-bot opened #13452 "Test failure: Regressions_coreclr._0583_Test583_Test583_/_0583_Test583_Test583_cmd"
Opened on behalf of @Jiayili1

The test `Regressions_coreclr._0583_Test583_Test583_/_0583_Test583_Test583_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\336c6175-de0d-4e18-ad7a-1730f472bc0a\Work\781c5087-abdb-4fc2-9295-22a39215c8db\Unzip\Reports\Regressions.coreclr\0583\Test583\Test583.output.txt
    Raw output:
    BEGIN EXECUTION\r
     "C:\dotnetbuild\wo

[2017-08-18 07:23] wateret commented on #13393
@hseok-oh Thank you for cross-check!

[2017-08-18 07:31] gregolsky commented on #13395
Yes.

No.

Here are the commands:
https://gist.github.com/gregolsky/63ce0bc146689800d8f4ce1d2f77cf4c

[2017-08-18 07:52] sandreenko commented on #13435
If such code is already incorrect:
[code]
then we should forbid it, it means we should change gtCloneExpr and forbid gtNewInlineCandidateReturnExpr. What did this function stand for?

[2017-08-18 09:05] hqueue opened #13453 "[RyuJIT/ARM32] Assertion failed '(unsigned)reg < ArrLen(regMasks)'"
Following assertion is observed with recent commit 367d9b1dd1b

[code]

[2017-08-18 09:06] hqueue opened #13454 "[RyuJIT/ARM32] Regression: Assertion failed 'objChild->isContained()'"
With recent commit 367d9b1dd1b, following regression is observed in `Checked` build. And also failed in `Release` build.

[code]

[2017-08-18 10:44] hqueue commented on #12990
This was fixed by #13190.
Please close this :)

[2017-08-18 10:50] hqueue commented on #12659
Fixed by #12952

[2017-08-18 10:50] #12659 closed

[2017-08-18 14:09] CarolEidt commented on #13451
I will try to reproduce this and have a look.

[2017-08-18 15:09] gbalykov commented on #13292
We have continued our research and got the next results.

Results for the forced compacting (`gcForceCompact`) and LOH compacting (`GCLOHCompact`) enabled (measured on a set of Tizen Xamarin GUI applications).

Private_Dirty memory used only by the managed heap:

Application|Original, Peak, Private_Dirty, Kb|Modified, Peak, Private_Dirty, Kb|Difference
-----------|---------------------------------

[2017-08-18 15:12] #12990 closed

[2017-08-18 15:35] JosephTremoulet opened #13457 "JIT: eliminate store-to-load redundancies through byrefs and unmanaged pointers"
Currently we only eliminate redundant back-to-back loads through these pointer types, but if we annotate the byref-exposed stores ([here](https://github.com/dotnet/coreclr/blob/e4b2e7063d285e76243e65ba84d1d45ab60abaca/src/jit/valuenum.cpp#L6461-L6466), [here](https://github.com/dotnet/coreclr/blob/42f15e84dce0f9261d1b1acda22dd3195ff7524f/src/jit/valuenum.cpp#L6016-L6019), [here](https://github.com

[2017-08-18 15:38] JosephTremoulet opened #13458 "JIT: disambiguate loads/stores of different byref-exposed locals"
Building on #13457, we could use the MapStore/MapSelect operators used for heap loads/stores, as noted [here](https://github.com/dotnet/coreclr/blob/42f15e84dce0f9261d1b1acda22dd3195ff7524f/src/jit/valuenum.cpp#L6016-L6019), [here](https://github.com/dotnet/coreclr/blob/42f15e84dce0f9261d1b1acda22dd3195ff7524f/src/jit/valuenum.cpp#L6243-L6246), and [here](https://github.com/dotnet/coreclr/blob/42f

[2017-08-18 15:39] helloguo commented on #13388
@redknightlois Do you see the same issue on pre-Skylake platforms? If yes, it may suggest something else.  If you only see the issue on Skylake, it may suggest the spin loop with long `PAUSE` inst needs to be tuned accordingly. And some test cases would be helpful to narrow down the problem.

[2017-08-18 15:40] redknightlois commented on #13388
@helloguo haven't being on the office yet. Will be there in a few hours.

[2017-08-18 15:45] JosephTremoulet commented on #9594
n.b. I think this was filed because it would be a smallish step implementation-wise, not to target a particular code sequence, so we'd probably want to pick this up as part of a bigger push to remove artificial limitations in our struct promotion (which we generally want to do because using structs to avoid heap allocation shouldn't cause code quality degradation), not for its own sake.

[2017-08-18 15:51] AndreyAkinshin commented on #9594
@JosephTremoulet,

LGTM.

[2017-08-18 16:02] ashishnegi opened #13460 "ThrowExceptionFromHR vs GetExceptionFromHR : different results"
Hi

The exception thrown by `ThrowExceptionFromHR` is different from the exception that we get from `GetExceptionFromHR`. However, [msdn ](https://msdn.microsoft.com/en-us/library/t8t3ykxc(v=vs.110).aspx)documentation says :

`Use the GetExceptionForHR method to get an Exception based on an HRESULT without having to call the ThrowExceptionForHR method and catch the exception.`

Steps to reproduce

[2017-08-18 16:25] #9692 closed

[2017-08-18 17:19] joshfree commented on #13452
@kouvel please take a quick look

[2017-08-18 17:26] weshaggard commented on #13395
cc @ericstj

Thanks for the pointer I didn't realize you were building a open repo otherwise I would have just done that to repo.

I was able to follow the same steps as in your gist and repro the issue. The problem is not with the RID graph exactly it is caused by an interesting mix of dependencies and a bug in our file versioning. The primary problem is caused by the following conflict resolutio

[2017-08-18 17:27] weshaggard commented on #13395
Re-titled and assigned to you @wtgodbe to get the file versioning issue fixed.

[2017-08-18 17:55] jkotas commented on #13460
cc @tijoytom

[2017-08-18 18:23] JosephTremoulet opened #13466 "Undo "goto return" works-around"
Issue to track following up on feedback at https://github.com/dotnet/coreclr/pull/13314#issuecomment-321586182 -- now that the JIT tries to pull early returns out of loops, find the code where `goto` has been added to work around its prior inability to do so, revert, and make sure the JIT gives the desired layout.

[2017-08-18 18:34] danmosemsft commented on #13460
The type of `hrException` here is just Exception.

[2017-08-18 18:36] jkotas commented on #13466
Does the JIT have tail-merging now? If not, deleting these workarounds will make the code bigger and somewhat slower.

[2017-08-18 18:44] JosephTremoulet commented on #13466
It does not, thanks for the heads-up...

[2017-08-18 18:59] yizhang82 commented on #13428
Fixed in https://github.com/dotnet/coreclr/pull/13441

[2017-08-18 18:59] #13428 closed

[2017-08-18 19:01] yizhang82 commented on #8790
@czifro I'm closing this issue for now. If you are still seeing this issue, please open another issue with latest information and @livarcocc @piotrpMSFT

[2017-08-18 19:01] #8790 closed

[2017-08-18 19:02] yizhang82 commented on #6174
CLose this for now. This will be tracked separately.

[2017-08-18 19:02] #6174 closed

[2017-08-18 19:03] yizhang82 commented on #6169
Close this for now. This will be tracked separately.

[2017-08-18 19:03] #6169 closed

[2017-08-18 19:15] omajid opened #13471 "Missing license header in test py files"
Most files under https://github.com/dotnet/coreclr/tree/master/src/ToolBox/SOS/tests do not have a license header. Is it safe to assume that they are licensed under https://github.com/dotnet/coreclr/blob/master/LICENSE.TXT ?

[2017-08-18 19:25] Workshop2 commented on #8565
@danmosemsft ProcessExit still isn't invoked when close a console window. How else can we detect the closing of a dotnet core console app?

[2017-08-18 19:48] danmosemsft commented on #8565
@Workshop2 I did this

[code]
And I get the same behavior on .NET Core 2.0 as on Desktop. This whether I hit Ctrl-C or I hit enter at the prompt.

Can you give me a repro that behaves differently on Core?

[2017-08-18 19:49] danmosemsft commented on #8565
That behavior being, that output occurs thus:
[code]

[2017-08-18 19:53] gregolsky commented on #13395
Thanks a lot for looking into this. We already changed our runtime targets to `win-x64` and `ubuntu-x64` (may look into changing that to `linux-x64` as Jan pointed out) as you recommended and it worked like a charm.

[2017-08-18 19:56] mikedn commented on #13404
@RussKeldorph I suppose you should assign this to me, a fix should be available in #13429

[2017-08-18 20:37] AndyAyersMS commented on #13435
I agree in principle, yeah. You can clone it but you need to make sure only one copy ends up live.

There are a few operators like this where cloning is problematic. Would be interesting to assert that we never clone these and see what happens.

[2017-08-18 20:46] #13407 closed

[2017-08-18 21:33] weshaggard opened #13474 "Test projects shouldn't list out all the RuntimeIdentifiers"
See https://github.com/dotnet/coreclr/commit/383a266b6a9c05a73f18ec00b807c841eb722d1d where we have been having trouble with getting RH6 builds going because we have to first build it while the tests fail and then update the tests after we have the build passing. On top of that we are restoring way more then we need to on each leg because of this list.

We should parameterize the list of RID's we

[2017-08-18 22:03] pentp opened #13476 "Invalid program crashes 32bit RyuJIT in Lowering::IsBinOpInRMWStoreInd"
The following (invalid) program (when compiled in debug mode) crashes x86 RyuJIT. x64 and x86 with optimizations enabled (release mode) are not affected by this minimal repro, but a similar larger invalid method crashed in x86 release mode also (in `Lowering::LowerCompare`).
[code]

[2017-08-18 22:26] mikedn commented on #13476
Hmm, sort of. The verifier must prevent invalid IL from being compiled but the verifier is disabled in CoreCLR and so invalid IL may result in "undefined behavior".

In checked JIT builds there's an importer asserts that fires when compiling such code:
https://github.com/dotnet/coreclr/blob/3ef633afa13a4dc1c4119489f14f77807d5daa28/src/jit/importer.cpp#L10268-L10277

Maybe this should be a "noway"

[2017-08-18 22:45] DavidZidar opened #13478 "Regression in dynamic method invocation in .NET Core 2.0"
I've discovered a regression where calling a generic method with a dynamic argument throws an exception in .NET Core 2.0 but not in previous versions.

Here is a small program that cause the bug.
https://github.com/DavidZidar/DynamicProblems/blob/ad51939ec05bd840bf441e9653d6fb608872e6ce/DynamicProblems/Program.cs#L7-L36

The problematic type signature is as follows `void HandleMessage<TResult>(IQu

[2017-08-18 22:59] jkotas commented on #13478
https://github.com/dotnet/corefx/issues/21689

This should be fixed in the final version .NET Core 2.0. Are you running against preview?

[2017-08-18 23:00] jkotas commented on #13478
cc @VSadov @JonHanna

[2017-08-18 23:00] DavidZidar commented on #13478
No, I'm running RTM.

[2017-08-18 23:07] jkotas commented on #13478
This issue was moved to dotnet/corefx#23405

[2017-08-18 23:07] #13478 closed

[2017-08-18 23:11] BruceForstall commented on #13476
@dotnet/jit-contrib

[2017-08-18 23:46] clrjunkie opened #13479 "Incorrect description for System.(U)IntXX"
With the exception of System.Int32 the description for other System.(U)IntXX  uses the term ”class”.

However, all those are “structs”.

System.Int16
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Int16.cs

System.Int64
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Int64.cs

System.UInt16
https://github.com/dotnet/coreclr/blob/master/src/mscorli

[2017-08-19 04:39] jkotas commented on #13479
Depends on whether you are using [C#](http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-334.pdf) or [CLI](http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-335.pdf) spec. Class types in CLI are either object types (C# reference types) or value types (C# struct types). Reference types in C# are further divided into class types, interface types, array types, and deleg

[2017-08-19 04:41] jkotas commented on #13479
These comments have pretty limited value. Maybe best to delete them.

[2017-08-19 04:57] mazong1123 opened #13486 "JIT: Assertion failed 'src1->OperIs(GT_LONG)'"
Run `Windows_NT x86 Checked Build and Test (Jit - CoreFx)` CI tests will cause a failure on current master branch code:

[code]

It should be introduced 3 days ago.

Please see the CI failure in this PR: https://github.com/dotnet/coreclr/pull/13480

[2017-08-19 05:39] mikedn commented on #13476
Looks like JIT32 compiles this code without problems. It generates:
[code]
It widens the i4 constant to i8 but then emits a i4 add instruction.

But if you change the code to store the result in a i8 lclvar then the following code is generated:
[code]
This looks strange, loc0 is 32 bit and it is initialized as such. But then a i8 is loaded from it and likely garbage is read from [ebp-4]. So it wou

[2017-08-19 05:44] mikedn commented on #13486
The relevant assert code is https://github.com/dotnet/coreclr/blob/3dd1c074f5d89533d8a8e13ea6143a4850752d3e/src/jit/lower.cpp#L2162-L2169

So we have a compare with long operands but the first hasn't been decomposed yet. Hmm...

cc @dotnet/jit-contrib

[2017-08-19 07:50] mikedn commented on #13486
Self contained repro:
[code]
When compiled with optimizations disabled and run with RyuJIT-x86-Checked the assert fires.

[2017-08-19 07:53] ashishnegi commented on #13460
@danmosemsft yes, you are correct. The type of `hrException` here is just `Exception`.

[2017-08-19 08:31] mikedn commented on #13486
So we have
[code]
and after morph we have
[code]
Morph has retyped the lclvar node to `TYP_INT` and dropped the cast. I don't know why morph does this when optimizations are disabled but that's not the problem.
In `LowerSwitch` we have:
https://github.com/dotnet/coreclr/blob/3dd1c074f5d89533d8a8e13ea6143a4850752d3e/src/jit/lower.cpp#L519-L521

So it gets the type from the lclvar desc. Morph has re

[2017-08-19 10:19] nietras commented on #13341
@jkotas  How would that be done practically for the IL source of `Unsafe`? Can you `if/def` in IL?

[2017-08-19 10:49] Workshop2 commented on #8565
Hello, I am able to hook into `CTRL+C` ok, but closing the Window (using the close button) doesn't cause the `ProcessExit` to hit.

https://github.com/noobot/noobot/blob/dotnet-standard-port/src/Noobot.Console/Program.cs#L21

[2017-08-19 11:05] benaadams commented on #13341
in project file; with source inludes/excludes?

[2017-08-19 11:19] nietras commented on #13341
@benaadams that would imply almost duplicating IL file as far as I understand, with maintenance issues. Just curious because I wasn't sure how this could be done in a good way with `ilasm`...

[2017-08-19 12:50] nicolasr75 commented on #8565
@danmosemsft @Workshop2 I can confirm this. I just tried my test code from above (Jan 9th) with .NET Core 2.0 and it still behaves the same, no ProcessExit when closing the window.

[2017-08-19 14:20] plioi commented on #13277
I've gotten around this problem by making it so that the end user's test assembly *is* the console application. This means that it *naturally* finds any dependencies in the build output folder like any console application would.  https://github.com/fixie/fixie/pull/170

So, that resolves *my* immediate need, and you may decide this issue should be closed. However, the larger question still remains

[2017-08-19 15:17] jkotas commented on #13341
ilasm has defines and ifdefs. It should be possible to build the fix on top of the existing include files: https://github.com/dotnet/corefx/tree/master/src/System.Runtime.CompilerServices.Unsafe/src/include .

[2017-08-19 19:52] tmds opened #13489 "cgroup limits are not detected in docker"
Triggered by the discussion at https://github.com/aspnet/KestrelHttpServer/issues/1260, I'm having a look at the cgroup code in coreclr.

The first problem I encounter is the code isn't properly parsing the mountinfo when the mountpoint contains a dash. PR: https://github.com/dotnet/coreclr/pull/13488

The next problem I have is the limits aren't found.
The code is looking for a mountpoint in the

[2017-08-19 20:09] am11 opened #13490 "WeakReference instance remains alive after GC.Collect() in Debug builds"
### Steps to repro:

### A.cs

[code]

### A.csproj

[code]

### Outputs:

After running `dotnet restore` once:

`dotnet run -f net462 -c debug`

`dotnet run -f netcoreapp1.0 -c debug`

`dotnet run -f netcoreapp2.0 -c debug`

This seems like a regression in .NET Core 2.0. However, with `-c release`, IsAlive returns False on .NET Core 2.0 as well.

[2017-08-19 20:11] tmds commented on #13489
Cc @Drawaes too

[2017-08-19 20:17] Drawaes commented on #13489
Good find :)

[2017-08-19 20:23] benaadams commented on #13489
**TL;DR** in some situations the GC doesn't pick up the container memory limits; which can lead to OOM exceptions and restarts

/cc @gkhanna79 @Maoni0

Probably would need to be part of a 2.0.x servicing release when fixed? As containers is a mainstream ASP.NET Core deployment scenario

/cc @DamianEdwards @davidfowl @kendrahavens

[2017-08-19 20:33] Drawaes commented on #13489
Yeah I would backport the patch if it is causing OOM on containers in some environments. (my useful 2p)

[2017-08-19 21:39] danmosemsft commented on #13490
@swgillespie

[2017-08-19 21:44] mikedn commented on #13490
See https://github.com/dotnet/coreclr/issues/12847

[2017-08-19 21:47] swgillespie commented on #13490
Yeah, this is a duplicate of the issue mikedn issued and not a bug. The JIT is permitted to arbitrarily extend the lifetimes of local variables, and in the debug case the JIT has reported that `subject` is still live.

[2017-08-19 21:47] #13490 closed

[2017-08-19 23:16] redknightlois commented on #13388
@helloguo @vancem I can confirm with absolute certainty (I believe this is the very first time I can say that) that what we are looking at on our side is this issue at work. We run the same thing on Skylake i7-6700K, Kaby Lake i7-7700 and Ivy Bridge i5-3470.

Results:
- i7-6700K = 3.5K request/sec
- i7-7700 = 3.5K request/sec
- i5-3470 = 12K request/sec

Moreover, we can also confirm with high con

[2017-08-20 04:48] mazong1123 commented on #5612
Today I investigate a little bit of the related source code. Just put my learning here:

There're two path for the `EndsWith` comparison:

- Slow path:
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Globalization/CompareInfo.Unix.cs#L283

It would call https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/Interop/Unix/System.Globalization.Native/Interop.Collation

[2017-08-20 05:46] danmosemsft commented on #13471
@richlander ?

[2017-08-20 05:51] danmosemsft commented on #9692
this can be removed
C:\git\coreclr\src\mscorlib\src\System\String.Comparison.cs:
   47:                         goto ReturnCharAMinusCharB; // TODO: Workaround for https://github.com/dotnet/coreclr/issues/9692

[2017-08-20 09:06] nietras commented on #13341
I did not know you could do this, good to know, thanks ☺️

On Aug 19, 2017 17:18, "Jan Kotas" <notifications@github.com> wrote:

[2017-08-20 10:01] ashishnegi commented on #13460
Also, if we do COM interop, in case of unknown HResult, we should get COMException.
However, we just get System.Exception in coreclr.
I think both issues are related.

[2017-08-20 12:26] JosephTremoulet commented on #9692
C:\git\coreclr\src\mscorlib\src\System\String.Comparison.cs:
47: goto ReturnCharAMinusCharB; // TODO: Workaround for #9692

See https://github.com/dotnet/coreclr/issues/13466

[2017-08-20 12:40] TheLastRar commented on #12594
The hMod parameter can be set to NULL if you are running on an Vista or newer as long as OS itself is up-to-date. (http://stackoverflow.com/a/17898148)

You would also need to return the value from CallNextHookEx if you don't want to block keyboard inputs to the target window. This is in addition to the requirement of needing a message loop and keeping a reference to your callback delegate.

[2017-08-20 17:03] danmosemsft commented on #13486
I repro this also.

[2017-08-20 17:05] mikedn commented on #13486
In the corefx tests as well or somewhere else?

[2017-08-20 17:11] danmosemsft commented on #13486
The CoreFX tests. I misread the report above - it's merely the same case.

[2017-08-20 17:12] kevingosse opened #13494 "Proposal: Asynchronously cancel a CancellationTokenSource"
**Proposal**: Add a way to asynchronously cancel a CancellationTokenSource

I would like to suggest adding a method to CancellationTokenSource:

[code]

The method would work like Cancel, with a difference:

- If no callback is registered, then the method processes synchronously and returns a completed task
- If callbacks are registered, then a task is created and returned. That task will execute

[2017-08-20 17:46] davidfowl commented on #13494
This is similar to https://github.com/dotnet/corefx/issues/14903 (but for the actual cancellation call, not dispose). I think you need to be clear if you want to

Sure it can be. See http://referencesource.microsoft.com/#System.Web/Util/CancellationTokenHelper.cs,cbfb354e962dfb2a for an example of how it could be done.

There are some questions I have based on this request
- Do you want the abilit

[2017-08-20 18:16] KooKiz commented on #13494
If I understand this code correctly, it always uses the threadpool to call `Cancel`. I was thinking of a way to use the threadpool only if there is a callback registered, and otherwise execute the call inline. The rationale being that in most cases there will be no callback (this is true for the codebase I work on, I'm not sure how representative it is).

I don't need it in my scenario, that's why

[2017-08-20 22:30] benaadams commented on #13489
Looks like someone else might be having container issue https://github.com/dotnet/core/issues/871

[2017-08-21 00:01] Maoni0 commented on #13489
@janvorli will you be looking at this?

[2017-08-21 02:42] MaitreDede opened #13498 "Marshal of struct error on non-windows"
Hi,

I have a structure, with some field that are other structures, and others as structure arrays . They are defined as `public sealed class` with `StructLayout(LayoutKind.Sequential)`.
Idea is :
[code]

Somewhere in my code, I have `Marshal.SizeOf<A>()`.
On windows : works fine.
On linux (bash on windows) : error
On arm (pi3) : error
[code]

If I redefine my structs from `public sealed class`  t

[2017-08-21 04:38] hqueue commented on #13453
@CarolEidt I'm afraid this is also related to #13198.
From the commit 5dada64d4bc9eddb63579650e1fce4f5ffda0294 (#13198),  above test is failing with other assertion as follows. Does fix #13470 which you are working on also address this issue ?

[code]

[2017-08-21 04:41] hqueue commented on #13454
@CarolEidt This is also related to #13198.
With 5dada64d4bc9eddb63579650e1fce4f5ffda0294 (#13198), above test start to fail with another assertion (same as #13453) as below.

[code]

[2017-08-21 05:30] tmds commented on #13489
@janvorli I'll update the PR so it handles the docker limits too.

[2017-08-21 07:58] tmds commented on #13489
PR was updated: https://github.com/dotnet/coreclr/pull/13488

[2017-08-21 08:57] ww898 opened #13499 "Profiler doesn't receive ThreadCreated/ThreadAssignedToOSThread callbacks for finalizer thread in .NET Standard 2.0"
Under .NET 4.7 I got `ThreadCreated`/`ThreadAssignedToOSThread` notification about two threads before `Enter3` was called: main and finalizer. However, under .NET Standard 2.0 I got only one thread notification: about main thread. So, when `Enter3` called the finalizer thread TLS wasn't properly initialized.

My sample:
[code]
I execute the repro sample with following flags set:
`COR_PRF_MONITOR_T

[2017-08-21 09:46] realvictorprm commented on #1784
Pardon my jumping in, but what's the status of this?

[2017-08-21 10:05] Tragetaschen commented on #12972
`membarrier` has been in the ARM kernel since Linux 4.3: https://github.com/torvalds/linux/commit/208473c1f3ac3eccec097021eec3890f5e20fcc7

It looks like some tools like qemu ([or in my case valgrind](https://sourceware.org/git/?p=valgrind.git;a=blob;f=coregrind/m_syswrap/syswrap-arm-linux.c;h=4ae4e891d2ecd32a989ac8921fa4a072e2a3c44a;hb=refs/heads/master#l1017)) don't yet have the support for that

[2017-08-21 10:50] nietras commented on #13341
FYI I have started looking at a PR for this, as it seems like a small change. My plan is something like:

 * Add preprocessor define e.g. NETCORE20 to `src\System.Runtime.CompilerServices.Unsafe\src\include\netstandard\coreassembly.h` (or new file??)
 * Add ifdef in il to remove the code in question when netcore.
 * Probably need to add netcoreapp specific build? How about packaging?

Is that it?

[2017-08-21 12:54] Tragetaschen opened #13500 "Segmentation fault during GC when running on ARM"
I've ported my ASP.NET Core application to netcoreapp2.0 (it works with net462 and Mono), publish it with `-c Release -f netcoreapp2.0 -r linux-arm` on Windows, copy it to my Linux box (Yocto Linux, Kernel 4.9, Freescale/NXP/Qualcomm i.MX6 SoloX, ARMv7) and start it using the executable `./My.App`.

I can see my application starting up and printing some messages, I sometimes even get to do some HT

[2017-08-21 14:33] jkotas commented on #13499
@davmason @noahfalk

[2017-08-21 14:48] Tragetaschen commented on #13500
Hmm, strange: I have rebuilt my Linux image to include the glibc debugging symbols and `libthread_db[.so.1|-1.0.so]`. Now, it doesn't crash anymore.

[2017-08-21 15:26] mikedn opened #13501 "[RyuJIT] Unsigned binary operation with overflow check"
Remember #9591? I ran into that again but this time it's a real bug.

The importer does this: https://github.com/dotnet/coreclr/blob/a6045809b3720833459c9247aeb4aafe281d7841/src/jit/importer.cpp#L9374-L9396

Note that it selects the "castType" based on the signedness of the operation but it does not set the `GTF_UNSIGNED` flag on the cast.

So if it doesn't set the flag how come we zero extend `in

[2017-08-21 15:34] mikedn commented on #13501
cc @CarolEidt @BruceForstall

[2017-08-21 16:10] #2666 closed

[2017-08-21 16:10] #12479 closed

[2017-08-21 18:22] Logerfo commented on #12641
After more research about the subject, I think the actual request here would be "Implement/allow overload resolution during runtime"

[2017-08-21 19:13] janvorli opened #13503 "Remove all dead PAL functions"
There are likely still some PAL functions that are not used anymore. This issue tracks work needed to eliminate them.
There are two ways how PAL functions are used. First, coreclr native shared libraries and applications link to libcoreclrpal.a static library. And second, System.Private.CoreLib.dll PInvokes some of the PAL functions that are exposed by libcoreclr.so.
The functions that the native

[2017-08-21 19:13] janvorli commented on #13503
cc: @danmosemsft

[2017-08-21 19:31] JosephTremoulet commented on #13466
It looks like there are three levels of complexity regarding epilog sharing:

1: The label is only targeted by a single return (as in IndexOfAny specializations for [two](https://github.com/dotnet/coreclr/blob/fca2b735f4b5193dfbf7f8b5b8d36060d73a9967/src/mscorlib/src/System/String.Searching.cs#L139-L171) and [three](https://github.com/dotnet/coreclr/blob/fca2b735f4b5193dfbf7f8b5b8d36060d73a9967/sr

[2017-08-21 19:32] #12469 closed

[2017-08-21 20:26] kouvel commented on #13388
@redknightlois, thanks for the information. One other difference between the above procs could be that the i7s have hyperthreading and the i5 doesn't, and the pause count is multiplied by number of procs, so the i7s could be issuing twice as many pauses. Do you have hyperthreading enabled on those?

Probably the multiplying should be removed anyway.

Also @redknightlois, what spin counts are you u

[2017-08-21 22:00] sdmaclea opened #13507 "[Arm64/Unix] tip broken"
`Assertion failed 'objChild->isContained()' `
File: /home/vmjenkins/workspace/Dotnet/build_and_test/src/jit/lsraarmarch.cpp Line: 672

`Assertion failed '((consume == 0) && (produce == 0)) || (ComputeAvailableSrcCount(tree) == consume)'`
File: /home/vmjenkins/workspace/Dotnet/build_and_test/src/jit/lsra.cpp Line: 3638

crossgen of Microsoft.CodeAnalysis.VisualBasic.dll leads to this assertion
`Ass

[2017-08-21 22:17] redknightlois commented on #13388
@kouvel Yes they both have hyperthreading enabled and the ManualResetEventSlim is created with default parameters. https://github.com/ravendb/ravendb/blob/v4.0/src/Voron/GlobalFlushingBehavior.cs#L80

[2017-08-21 22:45] briansull opened #13508 "Assert failed 'operand->gtUseNum == -1'"
To Repro:
- set COMPLUS_JitDefaultFill=5A
- run any managed code

D:\fxkit\JitBench\src\MusicStore\pubdir.chk>MusicStore.exe

Assert failure(PID 12196 [0x00002fa4], Thread: 16808 [0x41a8]): Assertion failed 'operand->gtUseNum == -1' in 'System.AppDomain:SetupDomain(bool,ref,ref,ref,ref):this' (IL size 47)

    File: d:\fxkit\coreclr\src\jit\codegenlinear.cpp Line: 1114
    Image: D:\fxkit\JitBench

[2017-08-21 23:32] sdmaclea commented on #13507
Doing Bisect:

There are at least two breaking patches
The
[code]

[2017-08-22 01:43] sdmaclea commented on #13507
Looks like the earliest failure is 5dada64d (doesn't compile) or 0ad49b141f1 which seem to be #13198

@CarolEidt Are you aware of these failing tests?

[2017-08-22 03:55] kouvel commented on #13388
@helloguo, is there by any chance a way to determine from the processor the cycle count delay incurred by pause? It seems like using the cycle count could be error-prone and I'm inclined to just try reducing the quantity of pauses.

[2017-08-22 04:39] wateret commented on #13423
Test case to debug : `JIT/Methodical/divrem/rem/i4rem_cs_do/i4rem_cs_do.sh`

Error Message
[code]

[2017-08-22 04:45] wateret commented on #13423
Since the TC source is too long, I made smaller code that can generate this issue.

<details>
<summary>Show Code</summary>

[code]

</details>

I tried to generate minimal code, however removing too much of code makes the issue dissapear. In this example, I left only testcase 16 and 24. Then the problem of 24 has gone but still we can debug 16.

[2017-08-22 04:48] wateret commented on #13423
The problem is that this if condition must not be true, but it is.

[code]

So I'm tracking where the value gets wrong.

[2017-08-22 04:56] wateret commented on #13423
[code]

When it calls to `CORINFO_HELP_DBLREM`, the value of first argument(r0:r1) is wrong.

[code]

In `JIT_DblRem`, two double arguments(which are passed via `r0-r3`) are saved in `d17` and `d16`. The value of `d16` is correct while `d17` isn't.

[2017-08-22 05:03] wateret commented on #13423
Looking at disasm of around the call.

[code]

Looks like `r1` is corrupted while generating code for call. (Or it looks like there's no code for passing the first double argument[r0:r1]) I guess there's something wrong while LSRA.

[2017-08-22 05:22] wateret commented on #13423
GenTree of the problematic part (after Lowering)

[code]

[2017-08-22 05:56] wateret commented on #13423
[code]

Looking at IG10, `r0` is spilled for other operations before the call then it is reloaded immediately before the call and it looks correct. But I don't see any place `r1` is spilled or reloaded. Its value is just replaced by the call address without spilling.

[2017-08-22 06:10] davidfowl commented on #13494
/cc @stephentoub

[2017-08-22 09:08] jamesqo opened #13514 "[Question] Does the Desktop JIT not eliminate typeof(T) == typeof(...) checks in generic methods?"
I [am planning](https://github.com/dotnet/corefx/compare/master...jamesqo:fast-ec?expand=1#diff-8b314c23a075770e35727dcd2d472a88R14) to bring a PR to corefx soon that avoids one virtual method call to `IEqualityComparer<T>.Equals` when the equality comparer is the default one, with a new extension method `EqualsFast`. I intended to use `EqualsFast` in all of the collection types, including those i

[2017-08-22 09:41] hqueue commented on #12614
@BruceForstall Please assign this to me.

[2017-08-22 09:46] wateret commented on #13423
My guess is when copying from LCL_VAR(t2458) to arg regs, only `f10` was copied without `f11`.
Here is gentrees after LSRA - the very beginning of setting `r0:r1` as the first arguments.

[code]

[2017-08-22 11:52] sergign60 commented on #10847
Latest version of CoreCLR doesn't show this issue

[2017-08-22 11:52] #10847 closed

[2017-08-22 12:23] wateret opened #13516 "[Question] What is EE structures? (from crossgen)"
I read #9760 and it looks like **EE structure** is the key difference between them. Could you please let me know what it is?

cc: @jkotas

[2017-08-22 13:20] jkotas commented on #13516
These are the structures used by the runtime: MethodTable, EEClass, MethodDesc, FieldDesc, Module, ... .

[2017-08-22 13:20] #13516 closed

[2017-08-22 14:08] jkotas commented on #13514
The optimization is implemented in .NET Framework too, but the exact set of conditions where it kicks in is likely different from the current CoreCLR.

[2017-08-22 14:08] #13514 closed

[2017-08-22 14:14] sk-havok opened #13518 "Builing under windows bash fails due to non-executable stack"
Repro: run dotnet.bootstrap.py
During the configuration phase, the following error is encountered.
This seems like a shortcoming of the linux subsystem, but perhaps there is some workaround?

Running: /home/stkenned/core/tools/dotnet-bootstrap/ubuntu.16.04-x64-dotnet/src/coreclr/Tools/dotnetcli/dotnet /home/stkenned/core/tools/dotnet-bootstrap/ubuntu.16.04-x64-dotnet/src/coreclr/Tools/run.exe buil

[2017-08-22 15:06] gbalykov commented on #13292
We have continued our research further and got the next results for the next GC options (measured on a set of Tizen Xamarin GUI applications):

- LOH compaction (`GCLOHCompact`)
- forced compacting (`gcForceCompact`)
- `g_bLowMemoryFromHost` set to 1

Private_Dirty memory used only by the managed heap:

Application|Original, Peak, Private_Dirty, Kb|Modified, Peak, Private_Dirty, Kb|Difference
----

[2017-08-22 16:08] #12594 closed

[2017-08-22 16:26] mikedn commented on #13501
An example to better illustrate the issue:
[code]
-1 is treated as `uint` and the following code is generated
[code]
4294967295 is added to the pointer and no `OverflowException` is thrown.
Let's produce -1 a bit differently:
[code]
Now -1 is treated as `int` (I haven't checked where, could be in VN's constant eval) and the following code is generated:
[code]
Of course, this throws `OverflowExcept

[2017-08-22 16:31] pgavlin commented on #13486
This also repros on `JIT\Regression\CLR-x86-JIT\V2.0-Beta2\b425314\b425314` under MinOpts.

[2017-08-22 16:39] #13486 closed

[2017-08-22 17:22] swgillespie commented on #13153
@davmason An update, I plan on looking at this bug this week.

[2017-08-22 18:13] swgillespie commented on #13292
@gbalykov level 1 of Maoni's proposed GC configuration would be optimizing for memory footprint, if that's what you're asking. I started a branch the other day with some work towards this feature: https://github.com/swgillespie/coreclr/tree/feature-gc-latency-levels. (very bare bones)

Setting LOH compaction + force compaction is potentially dangerous for steady-state perf - we'll need to do a lot

[2017-08-22 18:37] mskvortsov commented on #12971
The running time data for `JIT/Performance/CodeQuality` tests except `Burgers` and `Spanbench` (each test was launched 7 times):
[code]

[2017-08-22 18:43] AndyAyersMS opened #13520 "JIT: refine arg types based on actual types when creating arg temps"
The jit will sometimes evaluate inlining arg values to temps and use those for the args in the inlinee body. The type of the temp is chosen from the callee signature.

The jit then imports the body of the inlinee and considers devirtualizing calls within the body. So this evaluation uses the declared argument type.

Later on, when assigning the arg value to the temp to pass the argument, the jit m

[2017-08-22 18:47] wtgodbe commented on #13474
Will take a look at this today

[2017-08-22 19:59] wtgodbe commented on #13474
Testing a fix right now, in the meantime if it doesn't work, adding the RH6 rid to https://github.com/dotnet/coreclr/blob/master/tests/src/Common/test_dependencies/test_dependencies.csproj#L30 (& a few other places) is a temporary fix. Hopefully won't be needed.

[2017-08-22 20:40] helloguo commented on #13388
@kouvel Off the top of my head, we could use CPUID to check the processors' code name and then return the latency of PAUSE inst based on the processors' code name.

@kouvel @redknightlois I put a prototype here https://github.com/dotnet/coreclr/pull/13527, which uses the recommended method by optimization guide.

[2017-08-22 20:46] redknightlois commented on #13388
@helloguo @kouvel Is there any way you can push to MyGet a version that I could use to link it for CoreCLR 2.0. I am not building it locally.

[2017-08-22 20:56] helloguo commented on #13388
@redknightlois Can you replace path\to\coreclr\packages\microsoft.dotnet.buildtools\2.0.0-prerelease-01914-02\lib\tool-runtime\project.csproj

with

[code]

I cannot build it without this change. see https://github.com/dotnet/coreclr/issues/13025

[2017-08-22 21:22] kouvel commented on #13388
I'm planning on doing two separate PRs for this, one mainly to remove the "multiply by processor count" which IMO is a low-risk easy-to-explain change, and another to tune the spin counts based on a measure of the delay. I don't think we would want to keep track of processor code names, that would be a new maintenance issue.

[2017-08-22 21:24] kouvel commented on #13388
@redknightlois:

I'm hoping the first PR I mentioned above can be merged soon, and maybe you can test with the daily build that contains the change.

[2017-08-22 21:31] noahfalk commented on #13499
Thanks for the report @ww898, we'll investigate this and get back to you.

[2017-08-22 21:31] wtgodbe commented on #13474
https://github.com/dotnet/coreclr/pull/13529 is the PR

[2017-08-22 21:42] helloguo commented on #13388
I assume you are referring the spin in GC part, right? Any plan for the spin in MonitorEnter and other places?

Do you have any benchmarks that can be shared with community? It would be great if we can measure it as well :)

I agree. If we can find a reasonable spin cycles by measuring benchmarks, we can use the "Dynamic Pause Loop Example" https://software.intel.com/sites/default/files/managed/9e

[2017-08-22 21:47] redknightlois commented on #13388
@kouvel I was going to ask the same thing, there has been many changes on sync primitives in CoreCLR 2.0 this should be reviewed all over the place. If I remember correctly @benaadams have done some assembler work too in between 1.1 and 2.0 (correct me if I am wrong).

[2017-08-22 22:17] BruceForstall commented on #13501
cc @dotnet/jit-contrib

[2017-08-22 23:30] Maoni0 commented on #13292
@gbalykov would you please collect some ETW events for your perf runs? it would be really helpful to actually see the GC characteristics. The instructions are [here](https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/linux-performance-tracing.md).

[2017-08-23 00:29] janvorli commented on #13383
I am sorry for the late response, I got distracted by other work. Even with this detailed description, I don't see the problem. I think that I must be missing something.
In your example above, when the  org_hp is 25 and max_hp is 26, they really are in the same group. The heap 25 is attached to Unix OS processor 25 and the heap 26 to Unix OS processor 52. They are in the same NUMA node.
You assume

[2017-08-23 02:27] kouvel commented on #13388
Regarding removing the multiply by proc count, I was referring to ManualResetEventSlim and another place I found in managed code where it's multiplying the pause count per iteration by proc count, I'm planning on removing those. The multiply by proc count in GC is tuning the spin count with no back-off scheme, so it could probably be changed to use the method you suggested. For the second PR I was

[2017-08-23 02:54] chunseoklee opened #13537 "link option for PIE executable"
I have built the latest coreclr (commit 637bfeffb0fd0378ff6d04d7bb845938b77bdade) and found that it does not produce PIE executables for corerun, crossgen, ildasm, ilasdm.
[code]
But, compilation option `-fPIE` is introduced on commit 891b2aa2b1c65ff157a840c3462fa6d007f2dac9.
Am I missing something(flag) or we need a patch to enable PIE executable ?

[2017-08-23 03:09] jkotas commented on #13518
This was fixed in #4048. The problem is that the dotnet.bootstrap.py script is using very old build (Microsoft.NETCore.App/1.0.0-rc3-002733).

[2017-08-23 03:10] jkotas commented on #13518
This issue was moved to dotnet/core#886

[2017-08-23 03:10] #13518 closed

[2017-08-23 05:52] mikedn commented on #13501
So the differences show in the above examples are the result of differences between `Compiler::gtFoldExprConst` and `ValueNumStore::EvalCastForConstantArgs`. The first does this:

https://github.com/dotnet/coreclr/blob/fa79179baa11923cba48e2cdd9c9bd723486a136/src/jit/gentree.cpp#L12602-L12619

The second does this:

https://github.com/dotnet/coreclr/blob/fa79179baa11923cba48e2cdd9c9bd723486a136/sr

[2017-08-23 06:54] #12467 closed

[2017-08-23 07:30] drieseng commented on #13160
@parjong Have you submitted a separate issue for the new test case?

[2017-08-23 07:35] jkotas commented on #13160
Good point. @parjong Could you please add the test case for this if there is not one already?

[2017-08-23 07:36] parjong commented on #13160
@jkotas I already did. Please take a look at #13531.

[2017-08-23 08:22] Tragetaschen commented on #13500
It seems the non-crash was luck. It reproduces most of the time with the `mark_object_simple1` stack trace.

I've been able to compile the v2.0.0 tags of coreclr, corefx and core-setup with a non-release build of coreclr and get this stack trace:
[code]

[2017-08-23 08:40] wateret commented on #13423
RefPositions(for r0 and r1) looks fine. Then how come `r1` is not spilled?

https://github.com/dotnet/coreclr/blob/a9c4c6c6f85a26591c72983ea28eccb581eb9eca/src/jit/codegenlinear.cpp#L1685-L1700

At this point, the value of `multiReg->gtSpillFlags` is `0b0101`(5) which is correct. However after the first time we call `regSet.rsSpillTree()`, the value has to be `0b0110` but the actual result is `0b0

[2017-08-23 08:46] wateret commented on #13423
https://github.com/dotnet/coreclr/blob/a9c4c6c6f85a26591c72983ea28eccb581eb9eca/src/jit/gentree.h#L4034

This bitwise operation clears the flags in other offset. I'll fix it.

[2017-08-23 09:58] janvorli commented on #13537
I've verified that we do pass the `-fPIE` option to the compiler and that there are no textrels in the file. However, that doesn't seem to be enough. I've tried to compile simple hello world kind of app with clang and besides `-fPIE`, it also required me to pass in the `-pie` linker option to become dynamic executable. So we will need to add that to our CMakeLists.txt files (e.g. `set_property(TAR

[2017-08-23 10:18] janvorli commented on #13537
Hmm, actually it is a cmake bug that it doesn't pass the -pie linker option when the CMAKE_POSITION_INDEPENDENT_CODE is enabled. So setting the target property or setting it globally in CMAKE_EXE_LINKER_FLAGS (which would require changing the PAL tests to build as PIEs) is the way to go.

[2017-08-23 10:26] adamsitnik commented on #13520
Hi!

Thanks for the reference. Initially, I thought that it's a bug in my disassembler ;) Btw you can use it to check the performance diff and asm diff for different JITs, [explanation](http://adamsitnik.com/Disassembly-Diagnoser/#single-config-for-all-jits)

[2017-08-23 11:38] drieseng commented on #13160
@parjong Missed that. My bad.

[2017-08-23 11:40] Tragetaschen commented on #13500
I've also done a non-stripped release build where the two top functions of the call stack seem to be inlined. I think, I've got all the necessary tools available, but I wouldn't know how to start.

[code]

[2017-08-23 12:05] joellacas opened #13542 "An assembly specified in the application dependencies manifest (RhWeb.deps.json) was not found"
I got a weird error on IIS since I migrate my Asp.Net Core 1.1 to Asp.Net Core 2.0.
I publish with MSBuild interface.

I don't use ApplicationInsights.AspNetCore in my project....

Here is the error message.

[code]

[2017-08-23 14:13] #13443 closed

[2017-08-23 15:39] #13160 closed

[2017-08-23 15:47] CarolEidt commented on #13507
Yes, I'm working on them. Sorry for the delay.

[2017-08-23 15:54] stephentoub opened #13544 "Unify number parsing/formatting code with corert"
The implementation of number parsing/formatting in corert is a managed port of the native implementation in coreclr.  We want to unify on the managed implementation, though doing so also involves addressing several perf gaps.  Doing this will then enable much more easily implementing span-based number formatting in coreclr.

[2017-08-23 15:55] sdmaclea commented on #10458
Resolved by #12372

[2017-08-23 15:55] #10458 closed

[2017-08-23 16:16] #13520 closed

[2017-08-23 16:32] AndyAyersMS commented on #13520
Yes the disassembler looks very cool. Here's what it should show now that this fix in:
[code]

[2017-08-23 16:44] #13423 closed

[2017-08-23 17:12] swgillespie commented on #13500
Unfortunately this is a pretty general call stack indicating that the heap has gotten corrupted in some way, which can happen for a lot of reasons. Can you use LLDB and SOS to run the `sos VerifyHeap` command when you see the SEGV?

[2017-08-23 18:01] #12780 closed

[2017-08-23 18:11] gbalykov commented on #13292
@Maoni0 @swgillespie  We agree that general case "memory footprint" GC optimization level should be tested and tuned on the wide spectrum of applications. Our current goal is more specific - memory consumption on Tizen GUI applications, so we would like to be able to specify GC configuration, which was tuned for this specific scenario. How could this be implemented in CoreCLR?

[SNSUI.trace.zip](h

[2017-08-23 18:20] tijoytom commented on #12445
@longo-net Is this issue resolved ? I think the resolution is with SQLite.raw and it's not a dotnet core issue per se .I am closing this one.

[2017-08-23 18:20] #12445 closed

[2017-08-23 18:40] mikem8361 opened #13545 "Restore missing native *.ni.pdb file from the Microsoft.NETCore.Runtime.CoreCLR"
The coreclr symbol package is missing System.Private.CoreLib.ni.pdb which is very important to the profiler.

[2017-08-23 19:58] redknightlois commented on #13388
@kouvel I created a repro package with some instructions if you want to try your changes on our codebase.

You need to have Bash for Windows (or run on Linux) with wrk installed.

Download: http://chilp.it/3f7b0de
Run RavenDB on an SSD or RamDisk
Open the browser on http://locahost:8080
Create a database named: BenchmarkDB (dont forget to do this or you are not going to hit the proper codepath).
R

[2017-08-23 20:02] JosephTremoulet opened #13549 "JIT optimization: tail merge"
Tracking issue for a classic codesize optimization that's not currently implemented in RyuJIT.  The optimization would find predecessors of a common successor (along non-critical edges) that all end in equivalent sequences leading up to the join, and move the `goto`s and join earlier such that statically only one copy of the equivalent sequence remains.  We'd want to treat `return`s as "joining" a

[2017-08-23 20:43] tijoytom commented on #13460
@jkotas @ashishnegi @danmosemsft
I did some digging around and it's this change that broke this https://github.com/dotnet/coreclr/commit/16fc3005c085212f6e700a0df8ff7f36c1ea535b

This change was made to fix a test issue where a test checks  if  HResult 0x8000000e maps to a System.InvalidOperationException. Bryan who made the checkin reversed the flag passed to "GetKindFromHR". Also the whole premi

[2017-08-23 20:58] ViktorHofer commented on #10294
Not hitting the issue anymore. Closing.

[2017-08-23 20:58] #10294 closed

[2017-08-23 21:26] chunseoklee commented on #13537
@janvorli Then, is it ok to PR a patch enabling PIE executable ?

[2017-08-23 21:42] janvorli commented on #13537
@chunseoklee yes, it would be great to get that.

[2017-08-23 22:01] adiaaida opened #13551 "Investigate throughput impact of 020337d"
We see an over all 1.5% regression in x64 windows throughput with this change, with throughput regressions of median values of individual assemblies of up to 3.5% in larger assemblies (System.Linq.Expressions, for example). A change that reverted a prior version of this change (361a81b which reverted 0d390cc) saw an overall win of almost 3% across our throughput benchmarks, suggesting that this ch

[2017-08-23 22:10] briansull commented on #12093
@russellhadley
Should repro with SuperPMI data

[2017-08-23 22:32] #11452 closed

[2017-08-23 22:56] AndyAyersMS opened #13555 "JIT: revise type checking in gtCanOptimizeTypeEquality"
One of the clauses in `gtCanOptimizeTypeEquality` currently looks at the verification type for ref type locals, which is never set (currently) in CoreCLR. This results in a bunch of extra calls to `Type.op_Equality` in corelib, for instance in `System.RuntimeType:IsSubclassOf(ref):bool:this`.

This should be revised to call `gtGetClassHandle` instead.

We should also scan through the code to see i

[2017-08-24 00:39] sandreenko commented on #13435
I add NO_WAY assert and we don't meet it in CoreCLR or spmi tests.

[2017-08-24 00:46] danmosemsft opened #13560 "MemoryFailPoint not working for Unix"
Per @janvorli: The VirtualQuery implementation in the PAL never returns size of the free region (always returns 0 for them), since it has no knowledge about free regions ranges. That means that the MemFreeAfterAddress function would end up running in an infinite loop. We could possibly augment the VirtualQuery implementation in PAL to read and parse the /proc/self/maps memory map when the address

[2017-08-24 01:10] jkotas commented on #13560
We should create separate method for this. I do not think we should be overloading VirtualQuery .

[2017-08-24 04:07] tijoytom commented on #13293
@Tragetaschen I will take a look at why it says "unklnown' , but you can marshal the field as ByValArray.
Note marshaling as ByValArray require a SizeConst and from [here](https://github.com/Tragetaschen/DbusCore/blob/3e0d30ca8e29605d85cd6eddfb771db9d36684aa/src/Dbus/Connection.Receive.cs#L9) it appears that you always use 16 as size.

[code]

[2017-08-24 04:16] danmosemsft commented on #13460
Keeping open to track adding a test

[2017-08-24 07:28] #13451 closed

[2017-08-24 07:45] dotnet-mc-bot opened #13562 "Test failure: baseservices_exceptions._regressions_Dev11_154243_dynamicmethodliveness_dynamicmethodliveness_/_regressions_Dev11_154243_dynamicmethodliveness_dynamicmethodliveness_cmd"
Opened on behalf of @Jiayili1

The test `baseservices_exceptions._regressions_Dev11_154243_dynamicmethodliveness_dynamicmethodliveness_/_regressions_Dev11_154243_dynamicmethodliveness_dynamicmethodliveness_cmd` has failed.

Process is terminating due to StackOverflowException.
    /Users/dotnet-bot/dotnetbuild/work/ac539f7a-3a39-46e0-bcbf-5e18054514d6/Work/ba4e174e-a3b1-4820-aebe-facfeb4d9cff/Unzi

[2017-08-24 09:51] zwcloud opened #13563 "Upgrading to .NET Core 2.0 makes obfuscation tools not working."
After upgrading my project from .NET Core 1.1 to .NET Core 2.0, all formerly working obfuscation tools don't work any more.

* https://github.com/0xFireball/ModPhuserEx/issues/9   @0xFireball

* https://github.com/lextm/obfuscar/issues/119  @lextm

A possibly related question on StackOverflow:
[Could not load file or assembly 'netstandard, Version=2.0.0.0, …'. Reference assemblies should not be lo

[2017-08-24 11:30] gbalykov commented on #13292
We have refined the way of memory consumption measurement for managed heap and the results were updated

[2017-08-24 11:50] jabbera opened #13564 "Changing internal interface breaks public base class even though it doesn't derive from interface"
Referred from https://github.com/dotnet/roslyn/issues/21677

**Version Used**:
Microsoft (R) Visual C# Compiler version 2.3.2.62019 (b7354608)
Whatever dotnet build does with the 2.0.0 SDK

**Steps to Reproduce**:

Clone: https://github.com/jabbera/InterfaceBug/tree/dotnetcore
Run build.bat

Build.bat
  compiles version with property on interface
  runs the app
  compiles new BaseClasses.dll with

[2017-08-24 11:56] OracPrime commented on #12090
Is there any way to see what codegen options the JIT is using on a particular machine?  I am working on a complex multi-threaded calculation project, and we are getting different answers running on different hardware.  In particular Xeons give different answers to i7s.  I thought it might be AVX levels, and tried setting the flag described in this thread, but it made no difference.

If I can under

[2017-08-24 12:01] hqueue opened #13565 "[RyuJIT/ARM32] Assertion failed '((consume == 0) && (produce == 0)) || (ComputeAvailableSrcCount(tree) == consume)'"
Following assertion is observed from `JIT/Methodical/divrem/rem/u8rem_cs_ro/` with `COMPlus_AltJit=*`

[code]

Same assertion observed from following tests:
[code]

[2017-08-24 12:03] hqueue commented on #13565
It seems that this is a following issue of PR #13198 and #13470.

@BruceForstall Please assign this to me.

[2017-08-24 13:42] sergign60 commented on #13565
@hqueue I've got the same issue when I've tried to compile HelloWorld appiication with CoreRT

[code]

[2017-08-24 13:43] Tragetaschen commented on #13500
What is CoreCLR's behavior when the system runs out of memory on linux(-arm)?

Background: I had a little misconfiguration on my embedded measurement hardware: Our FPGA writes into a DMA ring buffer, the .NET core application `mmap`s that memory and copies the data into `new`ed arrays for further processing. However, the input data rate was too high for the processing to catch up and so the `net46

[2017-08-24 14:16] mhalenar commented on #9719
what exactly is the impact of this fix? Because when i run dotnet core 2.0 application inside a Docker container (version 17.06 CE on Ubuntu 16.04), the memory usage is quite high when I compare two Docker hosts with different available memory size. For example application scaffolded with dotnet new webapi consumes around 1.3GB memory on 128GB host and only ~100MB on host with 16GB.

[2017-08-24 14:55] yfakariya commented on #13369
I have two questions about the arm32 drop because I was waiting for it long time...

1. What's really meaning "The builds ... have preview status."? Reliability, performance, or functionality(lack of SDK on arm)?
2. When will be arm32 supported (or have "stable" status)?

Thanks

[2017-08-24 15:51] mikedn commented on #10980
After 10990, 11011 and 11589 `static Type Test<T>() => typeof(T);` generates
[code]
Short of using CMOV, this is as good as it gets.

[2017-08-24 17:07] tijoytom commented on #13460
CoreFX Test  https://github.com/dotnet/corefx/pull/23521

[2017-08-24 17:21] benaadams opened #13568 "[RyuJIT] Assertion failed 'tree->IsLocal() || (tree->gtOper == GT_ADDR) && varTypeIsSIMD(tree->gtGetOp1())'"
From https://github.com/dotnet/coreclr/issues/13024

[code]

Repo project https://github.com/benaadams/PerfTesting/tree/master/src/VectorWiden

[code]
Causes the issue, changing to
[code]
Stops the assert

[2017-08-24 17:21] benaadams commented on #13024
Opened https://github.com/dotnet/coreclr/issues/13568 instead

[2017-08-24 17:21] #13024 closed

[2017-08-24 17:25] swgillespie opened #13569 "[Local GC] What to do with Volatile<T> and Interlocked"
The [`Volatile<T>` class](https://github.com/dotnet/coreclr/blob/master/src/inc/volatile.h#L251) is designed to reconcile the major differences between `volatile`-qualified types when compiled by MSVC and clang/gcc. In particular, stores to volatile objects have release semantics and reads from volatile objects have acquire semantics (without `/volatile:iso`, which we don't use). The C++ standard

[2017-08-24 17:26] swgillespie commented on #13569
cc @jkotas @janvorli @Maoni0 @sergiy-k - Any thoughts on this? Now that a standalone GC builds without VM headers, this is going to be a problem going forward I think.

[2017-08-24 17:44] jkotas commented on #13569
Why is this incorrect?

This is good. Any reason why the GC cannot just call `std::atomic<T>` directly? What does `Volatile<T>` abstraction gives us?

[2017-08-24 17:45] VSadov commented on #13501
Just wonder - considering this issue, do we still want to fix https://github.com/dotnet/roslyn/issues/18871 or we may be reconsidering?

[2017-08-24 17:46] jkotas commented on #13569
We should be using it. We have used it in the old razzle build. I guess it got missed during conversion to CMake.

[2017-08-24 17:47] swgillespie commented on #13569
From http://en.cppreference.com/w/cpp/language/cv:

[2017-08-24 17:55] danmosemsft commented on #10800
@sdmaclea just happened to notice from that link above that the fix seems to be in the latest release of valgrind - if you want to try again.

[2017-08-24 17:56] swgillespie commented on #13569
My understanding is that, when not building standalone, the GC can't use system headers at all, even c++ standard ones. I just tried to include `<atomic>` in gc.cpp and got a lot of errors, so it seems to me that this is the case.

[2017-08-24 18:03] swgillespie commented on #13569
also cc @sdmaclea, who may be interested

[2017-08-24 18:08] jkotas commented on #13569
To solve this problem, I would add our own `atomic` that wraps the PAL, etc. but has same methods as the standard atomic.

[2017-08-24 18:09] jkotas commented on #13569
This does not make it incorrect. It depends on how you write the code. When we have introduced `Volatile<T>`, Patrick insisted on not using it in the GC because of he wanted to have the barriers always explicit (e.g. by calling Interlocked methods). It is why the `VOLATILE` macro exists.

[2017-08-24 18:10] briansull commented on #13551
This changeset make a small change to the hot code path for the JIT memory allocation.

It adds in the required round up to the next pointer sized allocation amount.

Since all the allocations in the JIT  (except one) were already properly aligned we still allocate the same number of bytes and the extra cost of aligning the request size is one or two simple ALU instructions, so that also should no

[2017-08-24 18:17] swgillespie commented on #13569
Ah, makes sense! I can understand wanting the barriers to be explicit.

Would this be an appropriate place for such an `atomic` wrapper? https://github.com/dotnet/coreclr/tree/master/src/inc/clr_std

[2017-08-24 18:20] jkotas commented on #13569
Yes.

[2017-08-24 18:22] adiaaida commented on #13551
Brian and I talked about this regression a bit this morning, and I have confirmed that with new pgo data, we get about a 3% overall win, reversing the regression of this change. This confirms that the regression from this change was indeed due to stale PGO data.

[2017-08-24 18:22] #13551 closed

[2017-08-24 18:30] #13460 closed

[2017-08-24 18:37] janvorli commented on #13569
Regarding the /volatile:iso, for ARM, it is the default that the compiler uses. For intel, it uses /volatile:ms by default, but the /volatile:ms and /volatile:iso are equivalent on intel. So not specifying it explicitly doesn't hurt.

[2017-08-24 18:37] sdmaclea commented on #10800
As @danmosemsft noted the issue cited above was fixed in Valgrind 3.13 release.  I just built vqlgrind 3.13 from source and tested ASP.NET plaintext benechmark.

I am seeing

[code]

The unrecognized instruction is a `clrex`.

I get the same error even on lighter tests i.e. `JIT/CodeGenBringUpTests/Add1`

[2017-08-24 18:40] danmosemsft commented on #10800
Ugh - well you may want to file more issues. ..

[2017-08-24 18:44] CarolEidt commented on #13507
@sdmaclea - I believe that my PR #13470 addressed this - were there failures beyond the tests run by the CI system?

[2017-08-24 18:46] sdmaclea commented on #13507
@CarolEidt Threre were some crossgen failures with the same asserts which I did not report.

I will take a look.  Thanks

[2017-08-24 18:52] wtgodbe commented on #13395
Resolved by https://github.com/dotnet/coreclr/pull/13533

[2017-08-24 18:52] #13395 closed

[2017-08-24 18:52] wtgodbe commented on #13474
Resolved by https://github.com/dotnet/coreclr/pull/13529 - https://devdiv.visualstudio.com/DevDiv/Net%20CoreFX/_build/index?buildId=946407&_a=summary

[2017-08-24 18:52] #13474 closed

[2017-08-24 19:00] sdmaclea commented on #13507
@CarolEidt The only remaining problem is orthogonal.

Log from crossgen of Microsoft.CodeAnalysis.VisualBasic.dll
[code]

This was introduced after your patch.  I haven't finished the bisect to know the root cause yet.

[2017-08-24 19:00] sdmaclea commented on #13507
@CarolEidt Thanks

[2017-08-24 19:10] CarolEidt commented on #13507
OK, I'll let you make the call on when/whether this should be closed.

[2017-08-24 19:20] CarolEidt commented on #13501
I believe that this is a different case, because the cast is actually there in the IL, but not handled correctly by the JIT, whereas in the other case there was no cast.

[2017-08-24 19:28] VSadov commented on #13501
@CarolEidt - thanks!! I was not sure if the issues are related. The plan does not change then - at some point we will fix dotnet/roslyn#18871 to emit different IL as was discussed.

[2017-08-24 19:40] eerhardt opened #13571 "MissingMethodException: Method not found: 'System.DateTimeOffset System.DateTime Offset.get_UtcNow()'."
Calling `DateTimeOffset.UtcNow` from the attached assembly on .NET Core 2.0.0 is throwing a MissingMethodException: Method is not found.

NuGet created `NuGet.Build.Tasks.Pack.dll` using ILMerge.  The IL in the assembly *looks* correct to me, but I'm not an expert.

I've created a standalone console app that invokes a constructor for `LogMessage` in that assembly, which in turn calls `DateTimeOffs

[2017-08-24 19:49] rohit21agrawal commented on #13571
this is actually blocking our CI from generating a build so it's high priority for nuget team to get this resolved.

CC: @rrelyea

[2017-08-24 20:01] mikedn commented on #13501
FWIW I think that the JIT should be changed to sign extend `add.ovf.un` operand:
* `int` is far more common in the .NET world than `uint`. Requiring the C# compiler to insert a cast in the common case defeats the purpose of allowing `add.ovf.un` to have mixed type operands.
* `add.ovf.un(p, -1)` throws `OverflowException` on 32 bit. On 64 bit it does not throw when -1 is zero extended. That too se

[2017-08-24 20:04] mikedn commented on #13501
@CarolEidt  No, it's the same case. Casts that are present in IL are handled correctly, only some casts inserted by the JIT have this problem.

[2017-08-24 20:47] jkotas commented on #13571
The assembly contains bad IL. From ILDASM of NuGet.Build.Tasks.Pack.dll:

[code]

System.DateTimeOffset is C# struct, so it has to be referred to as valuetype. The above code is referring to it as `class` which is incorrect. The correct way to call this method is - notice class is replaced valuetype:

[code]

[2017-08-24 20:49] jkotas commented on #13571
FWIW, CCI2 that ILMerge is based on is known to suffer from these kind of bugs.

[2017-08-24 20:49] #13571 closed

[2017-08-24 20:53] eerhardt commented on #13571
Doh.  I missed that.  Thanks @jkotas for the quick turnaround.

[2017-08-24 21:22] VSadov commented on #13501
FWIW, it seems sensible to always cast and stop relying on `add.ovf.un` support for mixed arguments altogether. That would be the most reliable way of fixing dotnet/roslyn#18871
If we have to force sign extending for `int` operands, the cast is needed in nearly 100% cases anyways.

[2017-08-24 21:58] sebaFlame commented on #13256
I migrated to core 1.1 on docker and still hit the issue. I didn't manage to create any core dumps. Today I migrated to core 2.0 on docker (stretch). I'm still hitting the same (?) issue. Only clue I got was a segfault in libcoreclr.so in the kernel log. I'm still not able to recreate it in a test environment, using (from what I can tell) the same conditions. I do have some dumps from the 2.0 run(

[2017-08-24 22:12] swgillespie commented on #13256
thanks for following up! @dagood would you know the answer to @sebaFlame 's question about symbol packages?

[2017-08-24 22:14] #13238 closed

[2017-08-24 22:31] Maoni0 commented on #9719
are 128GB and 16GB what the memory the container is assigned to use or the total amount of physical memory of the machine these containers live on? the fix is to take into consideration the memory the container is assigned to use vs assuming it can consume all physical memory the machine the container live on has.

[2017-08-24 23:01] dagood commented on #13256
I don't know if you already knew this, @sebaFlame, but the symbol packages are zip files that you can extract to find `libcoreclr.so.dbg` and similar files, which contain the stripped symbol information. I don't know any next steps beyond that. @mikem8361?

[2017-08-24 23:38] sdmaclea commented on #13507
@JosephTremoulet Looks like the remaining crossgen failure was introduced by #13314.  PTAL.

[2017-08-25 01:09] JosephTremoulet commented on #13507
I am happy to look, but won't be able to until Monday.

[2017-08-25 04:30] CarolEidt commented on #11476
I believe that the following from Ecma 335 II.3, provides for the latitude to allow invalid IL to be either allowed or not:

...

Given the above, I believe that the right behavior is to invoke BADCODE for this on 32-bit targets, and continue to allow it on 64-bit systems.

[2017-08-25 04:54] mikedn commented on #13501
Right, that's probably the only way to ensure that an assembly compiled by a new version of the C# compiler behaves the same on all runtimes.

[2017-08-25 05:21] hqueue commented on #13454
The original assertion is fixed by #13470

[2017-08-25 05:21] #13454 closed

[2017-08-25 05:26] hqueue commented on #13453
With recent master 8e2d570c730, same assertion is observed in different location when running CoreCLR test with `COMPlus_AltJit=*`.

[code]

6368 test from Pri0 tests are failed with the assertion.

[2017-08-25 06:04] mhalenar commented on #9719
the second option, total physical memory of the machine these container live on. The memory limitation on container (-m switch on docker run) has only the effect that container is killed sooner by the host, because the memory consumption grows over the limit pretty fast. So it seems to me that this fix doesn't help in situation i describe.

[2017-08-25 06:22] danmosemsft commented on #13387
Was fixed

[2017-08-25 06:22] #13387 closed

[2017-08-25 06:25] danmosemsft commented on #13503
@justinvp any interest in doing more of this...

[2017-08-25 06:28] danmosemsft commented on #13563
@weshaggard @ericstj @terrajobst can help here.

[2017-08-25 06:31] danmosemsft commented on #13498
@MaitreDede is it feasible to make a simple standalone repro?

[2017-08-25 06:42] Maoni0 commented on #9719
I don't have sufficient understanding of your situation to say that's the case or not at all.

you haven't mentioned what the memory limit set on the container was. you mentioned 1.3 GB on a 128GB host. what was the container limit there? when was 1.3 GB measured? was it measured right before the container got killed?

[2017-08-25 06:58] hqueue commented on #8496
With 8e2d570c730419d2f8610a8d01b0a3e0da6cb29f, arm `Release` build passed all Pri2 tests, although there are assertions observed in `Checked` build. And remaining assertions will be addressed by opened issues(#13453, #13565) and PR(#13579).

Tested Raspberry Pi2.
CoreCLR (Release): 8e2d570c730419d2f8610a8d01b0a3e0da6cb29f
CoreFX (Release): 06d361cf2bb

[code]

[2017-08-25 07:33] mhalenar commented on #9719
Memory limit on container was set to 256MB, the container got killed when app process reached ~250MB (measured by top command only). 1.3GB was memory usage of app process when no limit is set for container.

[2017-08-25 08:24] jbednarik1 commented on #9719
I am working on the same issue as mhalenar. Very same app (https://bitbucket.org/jbednarik/membug/branch/core2.0) executed with -m 50mB does not even start on the server with 128GB RAM (bare metal). On same Ubuntu (16.04, in hyper-v) with 8GB RAM the app starts

8GB Virtualized Ubuntu 16.04 LTS
[code]

[code]

128GB Virtualized Ubuntu 16.04 LTS
[code]

The linked source (branch core2.0) was build

[2017-08-25 08:37] Maoni0 commented on #13569
I am a bit concerned with possible perf degrade. It seems like we almost need 2 classes - one is for just volatile and the other for "atomic volatile" which is what you implemented. volatile and atomic are orthogonal. It's just that often when we use a volatile we also want the atomic semantic - not always, for example the [volatile](https://github.com/dotnet/coreclr/issues/13015) we had to add to

[2017-08-25 08:41] Maoni0 commented on #9719
do you know what the live data size (what your app actually uses) is? if it's bigger than what you set limit for the fix is not going to do anything - we can't shrink the live data size. to find out what it is you can do a GC.Collect at steady state.

you also might want to disable concurrent GC because concurrent GC doesn't compact - and if you have pins that already scattered on the heap it woul

[2017-08-25 09:55] jbednarik1 commented on #9719
Setting GC non-server mode seems to fix the issue. Will do some more testing in LXC as well, though. It is very wierd to set GC to non-server mode when it is running on server mode. Anyway, thank you for a good pointer.

[2017-08-25 12:47] Maoni0 commented on #13569
Of course I just remembered that for the avoiding-memset case we just needed to make the location that gets set volatile so that would mean a store, not an add...

[2017-08-25 12:52] Maoni0 commented on #9719
Well, setting GC to Workstation mode has a much bigger effect than disabling non concurrent. You could experience some serious throughput drop.

Also setting GC to Workstation should not change the total data GC needs to handle so my guess is by setting it to Workstation you just don't have as big a live data size (because Workstation GC makes it slower, you might be processing less data. I dunno

[2017-08-25 13:10] mhalenar commented on #9719
I'm not sure that I understand correctly the term live data - is it the data being actually processed during request? Because my observations were made on aspnet core app, which has just one controller returning json ["value1", "value2"], and I stressed the app with Bombardier tool. Also the VIRT memory demand (or how is it called properly), is around 10x bigger when System.GC.Server is set to tru

[2017-08-25 14:52] Tragetaschen commented on #13293
Thanks for looking into it.

The C API expects a pointer to the first array element. Wouldn't `ByValArray` marshal the 16 integers as 16 struct fields?

`You can use this UnmanagedType only on an array that whose elements appear as fields in a structure.`
(https://msdn.microsoft.com/en-us/library/system.runtime.interopservices.unmanagedtype(v=vs.110).aspx)

[2017-08-25 14:58] AndyAyersMS commented on #13435
Not surprising, so the case you introduced with the CALLI transform is the only one that tries cloning a GT_RET_EXPR. As I've said elsewhere, using `impCloneExpr` should fix this.

[2017-08-25 16:18] tannergooding commented on #13293
@Tragetaschen, it looks like some of your types aren't accurate representations of the native side, which might be causing some problems.

The native declarations are:
[code]

So I would expect the most accurate representation to be:

[code]

[2017-08-25 16:22] pgavlin opened #13589 "Use `GT_IND(GT_INDEX_ADDR))` in debuggable code."
This expansion of `GT_INDEX` was recently introduced and enabled for minopts, but is suitable for other throughput-favored scenarios as well.

Using this expansion for debuggable code involves a bit of work in the optimizer to handle the new IR.

[2017-08-25 16:26] weshaggard commented on #13563
@zwcloud what version of the tools are you using? Do you have at least VS2017 15.3? If you could post a sample project demonstrating the issue I'd be happy to take a look and suggest a fix.

[2017-08-25 16:32] zwcloud commented on #13563
The latest code of both tools.

I have VS2017 15.3. But I think it is not related to VS2017 versions. You can just create a .NET Standard 2.0 Class Library with some dummy classes inside. It can be easily reproduced for both tools.

[2017-08-25 16:40] pgavlin commented on #13589
cc @AndyAyersMS @dotnet/jit-contrib

[2017-08-25 16:47] sdmaclea opened #13590 "[Arm64/Windows] Add JIT_Stelem_Ref helper"
Implement the Windows equivalent of #13588

category:cq
theme:helpers
skill-level:expert
cost:small

[2017-08-25 16:50] acecebov opened #13591 "Add support System.Numerics.Vectors types with double precision"
Add support System.Numerics.Vectors types with double precision:
Vector2d, Vector3d, Vector4d, Matrix3x2d, Matrix4x4d, PlaneD, QuaternionD.

There are lots of scientific/gaming cases when we want to work with double precision and benefit of SIMD!

[2017-08-25 16:58] swgillespie commented on #13569
Yeah, I agree. When do we need `volatile` at all, though? The optimization-inhibiting volatile is sufficient enough for us, but it seems to me that the most correct thing for us to do from a standards perspective would be to replace the optimization-inhibiting volatile with writes with `memory_order_relaxed` semantics, since anything else is undefined behavior.

I did some experiments (https://god

[2017-08-25 17:18] BruceForstall commented on #13568
@dotnet/jit-contrib

[2017-08-25 17:49] weshaggard commented on #13563
I see, the reason I asked about tooling was because we have some custom targets in our tools that should automatically include the netstandard.dll for a .NET Framework application. However in your case you aren't  trying to consume the library in a .NET Framework application it is the obfuscation tool that is missing the dependency.

As a potential workaround could you find `C:\Program Files\dotne

[2017-08-25 18:01] sdmaclea opened #13592 "[Arm64/Windows] Optimize JIT_WriteBarriers"
Test and enable JIT_WriteBarriers optimizations from #12334

These were causing contract violations so Windows support was removed.

category:cq
theme:runtime
skill-level:expert
cost:small

[2017-08-25 18:10] sdmaclea commented on #13569
It should be using the store release assembly instruction `stl*`.  The `l` means release.

[2017-08-25 18:12] zwcloud commented on #13563
I repaced the original netstandard.dll with the one you just said.

Then the error becomes following for ModPhuserEx

[2017-08-25 18:30] sdmaclea opened #13593 "[Arm64] New failures on tip"
On 06fc72a620 these tests are failing.
[code]

Last known working version e9e3a69fe0

[2017-08-25 18:30] sdmaclea commented on #13593
@dotnet/arm64-contrib FYI

[2017-08-25 18:31] tarekgh opened #13594 "System.Linq.Parallel.Tests failed"
@Jiayili1 commented on [Wed Aug 23 2017](https://github.com/dotnet/corefx/issues/23501)

Failed Configuration:
OuterLoop_netcoreapp_ubuntu14.04_debug
OuterLoop_netcoreapp_windows_nt_debug

Detail:
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_ubuntu14.04_debug/149/
https://ci.dot.net/job/dotnet_corefx/job/master/job/outerloop_netcoreapp_windows_nt_debug/143/

D:\j\worksp

[2017-08-25 19:22] karelz commented on #12668
@tarekgh was it fixed in 2.0.0, or do we need to make more changes in servicing?

[2017-08-25 19:23] karelz commented on #10873
@dleeapho @lt72 this is still marked as 2.0.0. Can we close it as done, or do we need to keep (parts?) for 2.1?

[2017-08-25 19:24] karelz commented on #10872
@dleeapho @lt72 this is still marked as 2.0.0. Can we close it as done, or do we need to keep (parts?) for 2.1?

[2017-08-25 19:24] karelz commented on #10868
@dleeapho @lt72 this is still marked as 2.0.0. Can we close it as done, or do we need to keep (parts?) for 2.1?

[2017-08-25 19:25] karelz commented on #9080
@richlander is there any work left or can we close it?

[2017-08-25 19:25] kouvel commented on #12668
This should be fixed in 2.0.0 now, it wasn't auto-closed by https://github.com/dotnet/corefx/pull/22553 for some reason. Going ahead and closing.

[2017-08-25 19:25] #12668 closed

[2017-08-25 19:31] weshaggard commented on #13563
Looks like you need one more. Try copying `C:\Program Files\dotnet\sdk\2.0.0\Microsoft\Microsoft.NET.Build.Extensions\net461\lib\System.ValueTuple.dll`.

[2017-08-25 19:44] sdmaclea commented on #13593
@pgavlin This seems to be caused by #13245

[2017-08-25 20:03] DemiMarie commented on #13015
The best answer, and what HotSpot does, is to use hand tuned assembler here; this avoids any such problems.  Alternatively, would it be possible to use a loop using atomic operations with `memory_order_relaxed` here?

[2017-08-25 20:10] DemiMarie commented on #12266
@jkotas May I ask *why* unloading is not supported?  Is it because there is no way to shutdown background threads cleanly?

[2017-08-25 20:10] swgillespie commented on #13594
@dagood I'm trying to get the symbol package used in this corefx build and the package I downloaded has some funny filenames:

<img width="228" alt="files" src="https://user-images.githubusercontent.com/1871912/29730816-c050384e-8996-11e7-8f5a-c53e0731dbb1.png">

Does this look normal? windbg is expecting a build number in between two of the dots in the filename.

[2017-08-25 20:17] Maoni0 commented on #9719
live data means what your code asks to keep alive. for example, you (or a library you use) allocate an array that's 8mb in size and you are using it. this means there's no way GC can make the heap smaller than 8mb. when you do a GC.Collect it means it will do a full blocking GC and shrink the heap size to the smallest that just has data survived by the app, ie, live data size.

based on some stack

[2017-08-25 20:17] dagood commented on #13594
Doesn't look normal to me--here's where that version is generated:

https://github.com/dotnet/coreclr/blob/91329ceefd9efbde1f8486b0a098090e9a10adcb/src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/runtime.Windows_NT.Microsoft.NETCore.Runtime.CoreCLR.props#L10

Looks like `BuildNumberMajor` and `BuildNumberMinor` weren't specified.

[2017-08-25 20:42] jkotas commented on #12266
Yes, cleaning up everything reliably is hard: shutdown all thread, free all memory, unregister all callbacks, ... .

[2017-08-25 21:09] mikem8361 commented on #13256
We really don't have any more guidance currently about acquiring symbols for xplat. We are working on improving them.

[2017-08-25 21:12] Maoni0 commented on #13256
@sebaFlame  would it be ok to have you build your own version of coreclr, that way we can have full symbols (vs stripped). That might be the quickest way to make progress on this issue. Please let us know if it's a problem to do that.

[2017-08-25 22:08] swgillespie commented on #13594
This looks like a JIT bug to me. The doomed GC began when a thread got interrupted at [this point](https://github.com/dotnet/corefx/blob/master/src/System.Linq.Parallel/src/System/Linq/Parallel/QueryOperators/Unary/SelectQueryOperator.cs#L121), having just completed this instruction:

[code]

This is at offset `0xb6` into the method, so the gc info for this method reports `rcx` as live:

[code]

H

[2017-08-25 22:10] swgillespie commented on #13594
also @dagood: should I open a separate bug for that?

[2017-08-25 22:14] RussKeldorph commented on #13594
@dotnet/jit-contrib

[2017-08-25 22:34] dagood commented on #13594
@swgillespie Yes, thanks. @wtgodbe might be the right person to look at it.

[2017-08-25 22:45] RussKeldorph commented on #12448
These only seem to be consistently failing on Ubuntu 17.10, which suggests that we are tripping over some system limit specific to that platform.  I'd guess stack allocation size based on a brief examination of the set of failing tests, but I'm not certain.

@dotnet/jit-contrib

[2017-08-25 22:52] DemiMarie commented on #10618
What would happen if someone tried to load the resulting assembly?  Would it throw a `TypeLoadException`, or crash the runtime?

[2017-08-25 22:56] RussKeldorph commented on #13272
@dotnet/jit-contrib

[2017-08-25 22:58] DemiMarie commented on #9373
What about using [openlibm][1]?

Openlibm was designed for scientific computing, which must be both fast and accurate.  It is also portable.  CoreCLR could simply bundle it.

[1]: https://github.com/JuliaLang/openlibm

[2017-08-25 23:02] swgillespie opened #13601 "CoreCLR NuGet symbol packages have strange names"
I just downloaded a package `runtime.win-x64.Microsoft.NETCore.Runtime.CoreCLR.2.1.0-preview2-25625-02.symbols` from [here](https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.win-x64.Microsoft.NETCore.Runtime.CoreCLR/2.1.0-preview2-25625-02) and the names of `mscordaccore` and `sos` had some suspiciously empty components where build numbers should be:

<img width="340" alt="files2" sr

[2017-08-25 23:02] swgillespie commented on #13594
https://github.com/dotnet/coreclr/issues/13601

[2017-08-25 23:03] tannergooding commented on #9373
@DemiMarie, last time I checked (several months ago now) openlibm wasn't nearly on par with the perf of the Windows or MacOS implementations. Nor was it on par with AMD or Intels libm implementation.

[2017-08-25 23:05] wtgodbe commented on #13601
Did this only start happening recently, or can you find the same in an older package (at least a couple weeks)?

[2017-08-25 23:14] swgillespie commented on #13601
It looks like this affects all `2.1.0-preview2` packages, going back to July: https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.win-x64.Microsoft.NETCore.Runtime.CoreCLR/2.1.0-preview2-25501-02 . Though the package names are slightly different:

<img width="246" alt="capture" src="https://user-images.githubusercontent.com/1871912/29735785-7954dae8-89b0-11e7-9812-0c96663e77f0.PNG">

[2017-08-25 23:57] CarolEidt opened #13603 "[RyuJIT][ARM] Assertion failed 'info->dstCount == 0'"
The following tests assert with:
Assertion failed 'info->dstCount == 0' (lsraarm.cpp Line: 473)

JIT.Methodical.Boxing.boxunbox._il_dbgchain._il_dbgchain
JIT.Methodical.xxobj.ldobj._il_dbgldobj_I8._il_dbgldobj_I8

[2017-08-25 23:59] CarolEidt opened #13604 "[RyuJIT][ARM] Tests with runtime failures"
These may (or may not) be due to PR #13198:

Exceptions.ForeignThread.ForeignThreadExceptions.ForeignThreadExceptions
GC.Scenarios.ServerModel.servermodel.servermodel
JIT.jit64.opt.cse.hugeexpr1.hugeexpr1
JIT.jit64.opt.cse.HugeField1.HugeField1
JIT.Methodical.doublearray.dblarray3_cs_d.dblarray3_cs_d
JIT.Methodical.doublearray.dblarray3_cs_do.dblarray3_cs_do
JIT.Methodical.doublearray.dblarray3_cs

[2017-08-26 00:26] BruceForstall commented on #13603
cc @dotnet/arm32-contrib

[2017-08-26 00:27] BruceForstall commented on #13604
cc @dotnet/arm32-contrib

[2017-08-26 00:39] helloguo commented on #13383
I agree with you. The heap_number does not necessarily correspond to the processor index that Unix OS uses. But when I test my prototype (you can check it out here https://github.com/dotnet/coreclr/pull/13606), I print out the cpu, which the current thread is running on by using `pthread_getaffinity_np`. I also print out the cpu, which the thread wants to set affinity to. Sometimes they are in dif

[2017-08-26 02:59] zwcloud commented on #13563
Error still occurred:

I created a reproducable sample for you:
[ConsoleApp.zip](https://github.com/dotnet/coreclr/files/1253366/ConsoleApp.zip)

Note I have added `C:\Program Files\dotnet\shared\Microsoft.NETCore.App\2.0.0` to probePath of the ModPhuserEx project file.

The error for that sample is

[2017-08-26 14:14] 7kemZmani commented on #1017
at first I got the same error as @tugberkugurlu, but then I tried
`wget -O - http://llvm.org/apt/llvm-snapshot.gpg.key`
which downloaded `llvm-snapshot.gpg.key`; after that I just added the key file
`sudo apt-key add llvm-snapshot.gpg.key`

Works like a charm!

[2017-08-26 14:42] sebaFlame commented on #13256
I did create a debug build on windows. I've used the instructions descibed at https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md . The program did start (slowly), but hit a timeout before the bug could be triggered (I'm using alot of network calls).
I did manage to narrow the issue down to an object using the Snapshot<> feature from NPoco (https://github

[2017-08-26 15:18] CarolEidt commented on #13565
Fixed with #13579

[2017-08-26 15:18] #13565 closed

[2017-08-26 21:16] justinvp commented on #13503
Sure... When I get a chance, I'll take a look.

[2017-08-26 21:55] ElanHasson opened #13612 "[Question] Unloading an Assembly"
I'm aware Unloading of the AssemblyLoadContext is not yet implemented. Is the same true for assemblies?

[2017-08-27 02:39] lextm commented on #13563
As maintainer of Obfuscar, I did some investigation on this issue.

A simple .NET Standard 2.0 assembly would contain only a single reference to `netstandard.dll`. And `netstandard.dll` uses type forwarding to guide CLR to load types from the actual assemblies (like `System.Runtime`).

By serving Mono Cecil or dnlib with proper search paths (like `C:\Program Files\dotnet\sdk\NuGetFallbackFolder\mi

[2017-08-27 06:01] qaqz111 opened #13615 "double.Parse(double.MinValue.ToString()) and double.Parse(double.MaxValue.ToString()) throw an System.OverflowException"
[code]
These codes will throw a System.OverflowException which says "the value is too big or too small as double", while float with float.MaxValue and float.MinValue does not.

[2017-08-27 09:29] jbednarik1 commented on #5551
Hi @janvorli. It seems to me we have solved our issue by setting GC to workstation mode.
Feel free to check https://github.com/dotnet/coreclr/issues/9719, if you'd be interested. Thank you anyway. Cheers!

[2017-08-27 19:54] danmosemsft commented on #13615
Same in desktop. Maybe @tannergooding knows.

[2017-08-27 19:55] danmosemsft commented on #13591
@acecebov thanks for the suggestion, can you move the issue to the corefx repo? New api proposals go there.

[2017-08-27 20:02] qaqz111 commented on #13615
I've found an old related issue, looks like it's been noticed and scheduled.
- Convert.ChangeType throws exception when converting Double.MaxValue #5989

[2017-08-28 02:00] Jiayili1 opened #13618 "Core Tests & Ready-To_run Tests: All work items have fireball issue, failed to generate the test result"
Detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170828.01
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fr2r~2Fcli~2F/build/20170828.01

failed configuration: all platforms

[2017-08-28 02:04] #11417 closed

[2017-08-28 02:09] lt72 commented on #10873
2.0.x

[2017-08-28 03:53] jkotas commented on #13612
Yes, the same is true for assemblies.

The eventual AssemblyLoadContext unloading is the only assembly unloading we plan to have in .NET Core. To unload the single assembly, you will still need to load it into unloadable AssemblyLoadContext.

[2017-08-28 03:57] ElanHasson commented on #13612
So it's going to be either unload the entire load context or don't?

Also, as far as fallback go for contexts, lf a type isn't found in the current context, it falls back to the creating context, until it hits default?

Also, is code isolated like it was in appdomain?

[2017-08-28 04:04] jkotas commented on #13612
Unloading is not going to change how assemblies are resolved accross multiple load contexts. The design is described here: https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/assemblyloadcontext.md

[2017-08-28 04:10] ElanHasson commented on #13612
Thanks, I've read that document, was just confirming I understood it
correctly.

Does anything special need to be done to communicate across contexts like
it was in appdomain? Or is the way to look at a load context "a collection
of assemblies that reload the types and code and data with an optional way
to change how resolution happens"?

But not isolation like we have with app domains? No marshal

[2017-08-28 04:33] jkotas commented on #13612
Right. There is no marshalling required between ALCs as long as they agree on types to communicate.

The types to communicate has to be identical. E.g. both ALCs have to use type from parent ALC, or one ALC has to refer to types loaded by other ALC.

If each ALC loads own copy of the type, the types won't be identical.

[2017-08-28 05:13] hqueue commented on #13592
@jkotas I think label might be `arch-arm64` instead ?

[2017-08-28 05:32] ElanHasson commented on #13612
Cool. Thanks for the clarification.

On Mon, Aug 28, 2017, 12:35 AM Jan Kotas <notifications@github.com> wrote:

[2017-08-28 06:49] #13341 closed

[2017-08-28 06:56] danmosemsft commented on #9503
Fixed by https://github.com/dotnet/coreclr/pull/13491

[2017-08-28 06:56] #9503 closed

[2017-08-28 07:21] Tragetaschen commented on #13293
@tannergooding I had already refactored the code to split 32- and 64-bit operations. Luckily it's possible to hide those details behind an interface.

As mentioned, decorating the `mgs_control` with `[MarshalAs(UnmanagedType.LPArray)]` results in the same runtime exception.

[2017-08-28 07:28] #13195 closed

[2017-08-28 08:18] wateret opened #13622 "[RyuJIT/armel] Regressions with double reg arg passing"
Following TCs fail from CodeGenBringUpTests

- JIT.CodeGenBringUpTests.DblAdd.DblAdd
- JIT.CodeGenBringUpTests.DblArea.DblArea
- JIT.CodeGenBringUpTests.DblArray.DblArray
- JIT.CodeGenBringUpTests.DblAvg2.DblAvg2
- JIT.CodeGenBringUpTests.DblAvg6.DblAvg6
- JIT.CodeGenBringUpTests.DblCall2.DblCall2
- JIT.CodeGenBringUpTests.DblDist.DblDist
- JIT.CodeGenBringUpTests.DblDiv.DblDiv
- JIT.CodeGenBringU

[2017-08-28 11:09] janvorli commented on #13383
@helloguo thank you for the additional details. I'll take a look at your prototype and walk through the CPUGroupInfo implementation again to see if I can spot something. It would also be helpful if you could instrument the SetThreadIdealProcessorEx to print the contents of lpIdealProcessor and and the value that we would generate into the lpPreviousIdealProcessor at the point where the SetThreadId

[2017-08-28 12:32] vindicatorr opened #13623 "Revisiting Building On ArchLinux: Building From Simple To In Depth"
Using latest master branch

Simple:
[code]
This issue is known, so I now begin to go in-depth.

[code]
Okay, seems to be a simple fix...
[code]
Well that bites. Removing "-sequential" will make following the process more difficult.

[code]
And it is this error that consistently occurs with every attempt including manually running commands.
Why is it not looking for what it needs in Tools? Why /?

[2017-08-28 13:00] janvorli commented on #13601
I believe this is intentional and VS or WinDbg uses them to locate arch specific sos / mscordaccore. I think @mikem8361 made this change.

[2017-08-28 13:42] #13612 closed

[2017-08-28 14:00] janvorli commented on #13623
@vindicatorr the `-sequential` flag was removed since it never had any effect. While it was accepted by the script, it was not influencing anything.
As for the issue you are hitting, there are two parts of the Tools folder. The dotnet tools and the build tools. The dotnet tools that you have replaced are stored in the Tools/dotnetcli and the build tools that you have not touched are in the Tools i

[2017-08-28 16:08] JosephTremoulet commented on #13501
I'm inclined to agree, and I'll throw in another reason:  I'd like to think that the `ovf` suffixes affect only whether an operation throws an overflow exception, not the numerical result of the operation.  When we have a simple `add` of `nint` + `int32`, we sign-extend, right?  So then I'd expect `add.ovf.un` to similarly sign-extend, and just check for overflow on the addition.  Otherwise, on a

[2017-08-28 16:24] tannergooding commented on #13615
@danmosemsft, there are multiple bugs tracking in accuracies with the `double.Parse()` and `double.ToString()` methods.

If you want to round-trip, you must use `double.ToString("G17")` (`R` has its own bugs and does not ensure round-tripping will work).

There are some active PRs that fix some issues and some discussions on what to do about `R` (its been broken for a very long time, so the discus

[2017-08-28 16:41] swgillespie commented on #13601
Yeah, I've found windbg in particular looks for a matching mscordaccore + sos with this method. However this is bound to fail if the version numbers are incorrect, as they are in this issue (in the first case, they are missing - in the second case, they are wrong). I had to rename the files to what windbg was asking for in order to get it to work.

[2017-08-28 16:57] RussKeldorph commented on #13093
@briansull Should this have been closed?

[2017-08-28 17:14] danmosemsft commented on #13618
@wtgodbe can you take a look?

[2017-08-28 17:16] sdmaclea commented on #13593
These failures are occurring on Unix and Windows

[2017-08-28 17:28] wtgodbe commented on #13618
Yeah, I'll look into this as soon as I get a chance. I suspect it may be linked to https://github.com/dotnet/coreclr/pull/13529.

[2017-08-28 17:31] BruceForstall commented on #13622
cc @dotnet/arm32-contrib

[2017-08-28 17:40] wtgodbe commented on #13618
Never mind, timeline doesn't fit with it being that PR. will keep digging.

[2017-08-28 17:43] mikem8361 commented on #13601
I just noticed that we shipped 2.0 with the the wrong names. @dagood I thought this was fixed? Maybe it didn't make into the 2.0 release branch.

[code]

[2017-08-28 17:46] #13603 closed

[2017-08-28 17:47] wtgodbe commented on #13618
Looks like https://github.com/dotnet/coreclr/pull/13575 is the culprit. I've asked them to revert it or try to figure out an alternate solution.

[2017-08-28 17:52] helloguo commented on #13383
Thank you for pointing it out. Will fix it.

In the current prototype,` success = !!SetThreadIdealProcessorEx(GetCurrentThread(), &proc, NULL);` is the only place to call `SetThreadIdealProcessorEx`. In this case, the `lpPreviousIdealProcessor` is NULL. So I guess it's fine in this case. Anyway, I will fix it and see what's going on.

[2017-08-28 17:59] #13404 closed

[2017-08-28 18:01] #13503 closed

[2017-08-28 19:04] karelz commented on #13282
BTW: I recommend to keep servicing issues opened, until they are merged into 2.0 servicing branch.

[2017-08-28 19:10] karelz commented on #13093
I guess it is tracking the 2.0.x port now ...

[2017-08-28 19:37] dagood commented on #13601
I don't remember hearing about this issue until a few days ago in https://github.com/dotnet/coreclr/issues/13594, let alone a fix.

[2017-08-28 20:03] sdmaclea opened #13629 "[Arm64/Unix] new failure GitHub_13404.sh"
The following test is failing on c440335be
JIT/Regression/JitBlue/GitHub_13404/GitHub_13404/GitHub_13404.sh

It was working on 3758e847988c

[2017-08-28 20:03] sdmaclea commented on #13629
@dotnet/arm64-contrib FYI

[2017-08-28 20:07] kouvel opened #13630 "ManualResetEventSlim's waits have very high latency on Skylake processors"
Original issue: https://github.com/dotnet/coreclr/issues/13388

The issue is that on Skylake+, the PAUSE instruction's delay was increased from about ~10 ns to ~140 ns. Some of our spin loops, including ManualResetEventSlim's, issue a pause scaled by number of processors. This can cause machines long delays on machines with high proc count, and even on 4-core (8-thread) Skylake machines, the pause

[2017-08-28 20:08] janvorli commented on #10007
This issue doesn't exist anymore. With Alpine 3.6 and the relatively recent #13052, the native parts of CoreCLR build on Alpine fine again.

[2017-08-28 20:08] #10007 closed

[2017-08-28 20:14] am11 commented on #10007
@janvorli, if feasible, can Alpine Linux build plan be added to Jenkins to validate its status?

[2017-08-28 20:29] wtgodbe commented on #13618
Apparently this will be fixed by https://github.com/dotnet/coreclr/pull/13510. Will keep an eye on the tests once that's merged.

[2017-08-28 20:36] Meir017 opened #13632 "Awaiting multiple Tasks with different results"
I know it's possible to create a class with this feature - https://stackoverflow.com/questions/17197699/awaiting-multiple-tasks-with-different-results#answer-40938652

It would be nice to have this in the class `Task`

[2017-08-28 20:41] janvorli commented on #13569
That is true only if you don't let it get inlined. When inlined, the call to `Interlocked::CompareExchange((int volatile*)lock_, 2, 3);` becomes
[code]
while the `lock2_.CompareExchange(2, 3);` becomes
[code]

[2017-08-28 20:49] briansull commented on #13093
This can be closed as the fix was ported to 2.0 with PR #13412

[2017-08-28 20:50] #13093 closed

[2017-08-28 21:08] #12969 closed

[2017-08-28 21:39] JosephTremoulet commented on #13507
It looks like [this logic](https://github.com/dotnet/coreclr/blob/59d059c1fdeee785cda8a82474a628f7085df687/src/jit/optimizer.cpp#L1921-L1928) also needs to be applied [up here](https://github.com/dotnet/coreclr/blob/59d059c1fdeee785cda8a82474a628f7085df687/src/jit/optimizer.cpp#L1851-L1854) -- I added it where we insert blocks to the loop set during the flow walk, but not where we initialize the l

[2017-08-28 21:48] JosephTremoulet commented on #13507
FWIW, the reason we aren't running into Windows is because [this code](https://github.com/dotnet/coreclr/blob/272f640378ebcc0fe9a7e2a82453fa160595f081/src/zap/zapimage.cpp#L2092-L2099) skips crossgen compilation of `IsOrClosedOverATypeFromAssemblies`:

https://github.com/dotnet/coreclr/blob/272f640378ebcc0fe9a7e2a82453fa160595f081/src/zap/zapimage.cpp#L2092-L2099

I don't know why that would diffe

[2017-08-28 22:32] CarolEidt commented on #13604
I've reset to the commit before my PR #13198, and these tests all fail there as well.

[2017-08-28 23:13] weshaggard commented on #13563
@lextm thanks for fixing your tool to support netstandard 2.0.

@zwcloud is that enough to unblock you? There isn't much we can do on our side beyond provide some guidance to the tool authors on how to fix this so I'm going to close this issue. Please feel free to continue the discussion though.

[2017-08-28 23:13] #13563 closed

[2017-08-28 23:16] mikem8361 commented on #13601
@dagood I must have been remembering something else. I'm not sure you understand the way coreclr uses the dotnet build tools but for some reason BuildNumberMajor/BuildNumberMinor are not being set to the OfficialBuildId (or anything) when the nuget packages are built.

Would you have time to look into this?

[2017-08-28 23:30] parjong opened #13642 "No profile data available for file "lsraxarch.cpp""
I got the following error while building x64/Linux Release CLR:
[code]

This error does not appear when ``-nopgooptimize`` option is provided.

Is there any issues within published PGO data?

[2017-08-29 00:01] mikem8361 opened #13644 "The "createdump" utility can crash indeterminately"
The code that reads the ELF sections in-memory can crash when the sections are not available. It isn't clear when the Linux loader keeps the sections in-memory or not.

Remove the crashing code.

See issue #12853 for more info.

[2017-08-29 02:15] lemmaa opened #13651 "[Linux/ARM32] Instruction cache flush on arm32 linux"
A crash occurred when using AOT images. It was generated with `/FragileNonVersionable` option, but it looks not the point here. When analyzing the problem, the crash was occurred by SIGSEG while accessing the memory address because the value of `*.ni.dll` partly differs from the value loaded in memory. The code at a different point was associated with an target address of `movt`, `movw` instructio

[2017-08-29 02:18] lemmaa commented on #13651
/cc @parjong @seanshpark @chunseoklee @hqueue @Dmitri-Botcharnikov

[2017-08-29 04:38] MaitreDede commented on #13498
@danmosemsft  After trying to make a simple repro case, I didn't managed to have a "simple" case.

Source code is here : https://github.com/MaitreDede/RaspberryPi.Native/tree/bug-struct-repro
The entry point project is Repro.BugStruct.
It can't run on windows since it is for raspberry libraries.

- I installed a fresh Raspbian Lite (jessie) on a SD card, and use it in a Raspberry Pi 3.
- I followe

[2017-08-29 05:15] jkotas commented on #13651
FlushInstructionCache tends to be relatively expensive. It would be better to call it once per region.

[2017-08-29 07:00] sjsinju opened #13653 "[RyuJIT/ARM32] R2R - Implement the CreateDictionaryLookupHelper stub"
R2R Crossgen with /verbose on Tizen device

[code]

We can see following
[code]

I found it had been thrown from below.
vm/jitinterface.cpp
[code]

vm/arm/stubs.cpp
[code]

This helper should be implemented for R2R on ARM architecture.

[2017-08-29 10:32] sjsinju commented on #13653
/cc @dotnet/arm32-contrib

[2017-08-29 10:57] ruben-ayrapetyan commented on #11715
Maybe, this is related issue: https://github.com/dotnet/coreclr/issues/13651

[2017-08-29 13:36] swgillespie commented on #13569
@sdmaclea ah, that's great then!

@janvorli I see, thanks! The stack reference in `lock2_.CompareExchange(2, 3)` looks unfortunate, though.

At any rate, would it be an acceptable temporary workaround for all of you to copy the `volatile.h` header into `src\gc\env` for now? The standalone GC build is currently broken due to the missing `Volatile<T>` type and it looks like we're going to need it or

[2017-08-29 14:41] janvorli commented on #13569
@swgillespie actually, I've failed to include the full  `lock2_.CompareExchange(2, 3)`. You can see it below and it explains why it has the stack reference. It is caused by the signature of the compare_exchange_weak function where the first parameter, the "expected", is a reference and it is set by the operation in case the target was not updated.
[code]

[2017-08-29 14:43] sdmaclea commented on #13569
@swgillespie I thought there were two copies of volatile.h already.  I am certainly OK with two copies.

[2017-08-29 15:11] #13622 closed

[2017-08-29 16:06] mmitche opened #13655 "Build failure: No profile data available for file "lsraxarch.cpp""
@dotnet-mc-bot commented on [Tue Aug 29 2017](https://github.com/dotnet/core-eng/issues/1626)

Opened on behalf of @mmitche

Warnings: 0
Status Message: failed

Build : Master - 20170829.02 (Product Build)
Failing configurations:
- Linux
  - Release-x64
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/build~2Fproduct~2F/build/20170

[2017-08-29 17:21] jkotas commented on #13642
Duplicate of #13655

[2017-08-29 17:21] #13642 closed

[2017-08-29 18:13] mikedn commented on #13501
Yes, we sign extend. And of course, there's no `add.un` to request a zero extend.

[2017-08-29 18:13] AndyAyersMS commented on #13555
Looked at the uses of the verifier type handle for locals, and the rest are all guarded by struct tests. So this seems to be the only such case.

[2017-08-29 19:36] sdmaclea commented on #13629
@justinvp This regression was caused by #13613

[2017-08-29 19:38] sdmaclea commented on #13629
@janvorli @jkotas FYI.  I'll look at it but looks like 146 files were changed might take me a while to figure out what was broken.

[2017-08-29 19:54] justinvp commented on #13629
Sorry about that. Any idea why the failure wasn't showing up in CI? (Is this regression test not run as part of CI)? Note the majority of the 146 files changed are palsuite tests that were deleted that can be ignored while investigating this.

[2017-08-29 20:07] janvorli commented on #13629
@sdmaclea can you please point me to a PR with the test failing? I was quickly looking at a couple of recent PRs, but haven't seen it.

[2017-08-29 20:18] sdmaclea commented on #13629
@justinvp No problem.  Thanks for telling me about the obsolete tests.  I haven't looked at the test or the change yet.  It might be something simple.

@janvorli arm64 Ubuntu is not typically run on PRs.  I am seeing it on internal CI runs on the tip.

The output is uninteresting
[code]

[2017-08-29 20:21] mikedn commented on #13629
13404 is a test I added in #13429. That's probably the source of the problem and not the PAL changes.

[2017-08-29 20:30] mikedn commented on #13629
Looks like a duplicate of #12893, I might as well fix that too.

[2017-08-29 20:42] sdmaclea commented on #13629
@mikedn Thanks.  My git bisect workflow doesn't check new tests.

@justinvp My apologies.

[2017-08-29 20:47] #13507 closed

[2017-08-29 20:48] mikedn commented on #13629
See #13659

[2017-08-29 21:00] justinvp commented on #13629
@sdmaclea No worries.

[2017-08-29 21:08] mikem8361 commented on #13256
You can build release and still get symbols with “./build.sh release stripSymbols”.  This will strip all the symbols into the .dbg files.

[2017-08-29 21:49] mikem8361 commented on #13601
Reopening issue to use for 2.0.1 service request PR.

[2017-08-29 22:36] Maoni0 commented on #13292
@brianrob is what perfcollect collected supposed to be viewable with PerfView? I just opened the trace @gbalykov mentioned in [this comment](https://github.com/dotnet/coreclr/issues/13292#issuecomment-324417735) and PerfView just gives me some incomplete events with totally bogus info, eg: there's GCStart and no GCEnd events. for a GCStart it gives me this as its fields:

Process(1981834595) (1981

[2017-08-29 22:42] AtsushiKan opened #13662 "Override IsByRefLikeImpl() on RefEmit.***Builder classes."
They can just return false - this is for consistency with how other RefEmit Type-derived classes handle the Is predicates.

[2017-08-29 23:05] brianrob commented on #13292
@Maoni0, I'm not sure what's up and why PerfView doesn't like this data file.  I will look, but it will take me some time to get to this.

In the meantime, you may have better luck opening the trace on Linux and looking at the individual events.  You can do so by unzipping the file and then running babeltrace SNSUI.trace/lttngTrace | grep GC | more.  The results when opening on Linux look more san

[2017-08-29 23:25] karelz opened #13667 "Segmentation fault on arm32 (raspberry-pi3)"
_From @SteveL-MSFT on August 29, 2017 22:25_

After building powershell with runtime linux-arm, it runs until it hits a second ManualResetEvent::WaitOne() call and results in SegFault.  Stack trace from gdb:

[code]

_Copied from original issue: dotnet/corefx#23660_

[2017-08-29 23:25] karelz commented on #13667
_From @danmosemsft on August 29, 2017 22:32_

@janvorli

[2017-08-29 23:32] Maoni0 commented on #13292
thanks @brianrob

[2017-08-29 23:44] SteveL-MSFT commented on #13667
Thanks for opening this in the right repo :)

[2017-08-29 23:51] Maoni0 commented on #13292
@gbalykov we definitely don't want call something "unstable perf" which is not explainable. Could you please explain your perf goal here? The startup throughput perf does take a significant hit (this is not unstable - you are just aiming for a different perf goal). Also do you not care about your steady state at all? 'cause I haven't seen any steady state data. I can see some of these apps natural

[2017-08-30 00:07] MattGal opened #13671 "Add support for OpenSuse 42.2 in .NET CoreCLR 1.1.0"
This issue tracks ensuring that your team has considered how to handle OpenSuse 42.2 builds in your .NET Core 1.1.0 repositories.

Since .NET Core 1.1 is an LTS release, per @leecow we need to support OpenSUSE 42.2 with it.  Unfortunately, when 1.1 release branches were snapped, 42.1 was the used version.  It turns out there was not even a RID (runtime identifier) that matches this build (In the 1

[2017-08-30 01:02] Maoni0 commented on #13569
I've spent some time looking into our volatile usage and std::atomics. I was concerned whether we have the freedom to do the non atomic stuff if we don't need to (eg, obviously don't want a++ to turn into an InterlockedInc if I don't need it to be). But we could just do

```temp = a.load(memory_order_relaxed);```
```temp++;```
```a.store(temp, memory_order_relaxed);```

then we are not penalized (

[2017-08-30 01:22] hqueue opened #13675 "[RyuJIT/ARM32] Assertion failed '(node->gtLsraInfo.dstCount == 0) || node->IsValue()' for all tests"
With the latest commit (79c97d9d008e7ffc5208e0932c878357b3013ebd), all tests fails with a following assertion in `Checked` build.

[code]

[2017-08-30 01:24] hseok-oh opened #13676 "[RyuJIT/ARM32] Regression: Assertion failed '(node->gtLsraInfo.dstCount == 0) || node->IsValue()'"
Assertion message
[code]

6369 tests in pri2 failed on CoreCLR checked build
cc/ @dotnet/arm32-contrib

[2017-08-30 01:26] hqueue commented on #13675
Although this assertion fails, we can pass most of the test in `Release` build without problem.

Location of the assertion is just after calling `m_lsra->TreeNodeInfoInit(node);` at https://github.com/dotnet/coreclr/blob/master/src/jit/lower.cpp#L4855-L4858

@CarolEidt Is it a known issue ?

/cc: @dotnet/arm32-contrib

[2017-08-30 01:36] hqueue commented on #13676
Dupe of #13675  :)

[2017-08-30 01:37] CarolEidt commented on #13675
It is not known to me, and it is unclear to me how that commit would have caused this.

[2017-08-30 01:44] hqueue commented on #13675
@CarolEidt I just mentioned the commit to refer the latest `master` branch and does not mean the commit caused this assertion. I'm also investigating this.

[2017-08-30 01:48] hseok-oh commented on #13675
It is related with lsra & codegen for `GT_NULLCHECK`.
`GT_NULLCHECK` is defined as `GTK_NOVALUE` (no target register), but only ARM32, `GT_NULLCHECK` use one target register.

[2017-08-30 01:49] hseok-oh commented on #13675
One solution: not define `GTK_NOVALUE` in ARM32 only
Other solution: change codegen & lsra initialization for `GT_NULLCHECK`.

[2017-08-30 01:50] hseok-oh commented on #13676
duplicated with #13675

[2017-08-30 01:50] #13676 closed

[2017-08-30 01:57] hqueue commented on #13675
Or I think we can make it use an internal register instead of dst register at lsra initialiation.
@hseok-oh what do you think of it?

[2017-08-30 01:57] hseok-oh commented on #13675
@hqueue I also think so.

[2017-08-30 02:00] hseok-oh commented on #13675
I've confirmed that it works well when we set internal reg count as 1 and use this instead of target register.

[2017-08-30 02:48] #13555 closed

[2017-08-30 09:15] #12035 closed

[2017-08-30 10:11] alpencolt commented on #13056
@sjsinju may be you faced before with the similar error or know where it can be occurred?
After merging #13450 test above is failed on emitting in `CodeGen::genReturn()` with almost the same error:
[code]
For returning double value from function LSRA generates `GT_COPY` instruction. Registers for destination are allocated incorrectly.
If I'll try to dump this instruction I've got follow assertion:

[2017-08-30 11:54] gbalykov commented on #13292
@Maoni0 Our perf goal is to not slow down Tizen Xamarin GUI applications noticeably.

Among .NET GUI applications, which could be launched on Tizen or Linux, we know only Tizen Xamarin GUI applications. They do almost all of the work during startup, that's why we measured startup time. GC GUI benchmarks (which we used as emulation of GC heavy applications) also do all of the work during startup, i

[2017-08-30 13:21] stephentoub opened #13686 "Unnecessary extra and instruction in uint % 256"
Consider:
[code]

For `Cast` and `And` I get:
[code]
but for `Mod` I get:
[code]

Is there a reason that extra `and` instruction needs to exist?

[2017-08-30 13:59] mikedn commented on #13686
Nope.

The JIT likely detects the and+cast combination early but not mod+cast. And later mod is transformed into and but it's too late to detect the and+cast combination now.

[2017-08-30 15:09] #13675 closed

[2017-08-30 15:48] tannergooding opened #13688 "STAThread attribute is not respected in netcoreapp"
Create a new `netcoreapp2.0` project and set the `Program.cs` file to:
[code]

Examine that the output from the application is:
[code]

Not respecting `STAThread` means that users who depend on it (even if it really only matters on Windows), have to manually spawn a thread to run their code.

In some cases, certain libraries actually check and enforce that the calling thread is STA, and will throw

[2017-08-30 15:48] janvorli opened #13689 "SIGSEGV in EventPipeConfiguration::RegisterProvider on Linux"
TL;DR: Threadpool threads are still running when the main thread is exiting. The global EventPipeConfiguration* EventPipe::s_pConfig is already cleared to NULL by EventPipe::Shutdown at that point and so when one of the secondary threads attempts to create an event provider, it crashes with SIGSEGV.

While trying to build the dotnet/cli repo on Ubuntu 14.04, I was hitting intermittent SIGSEGV that

[2017-08-30 15:53] janvorli commented on #13689
CC: @weshaggard, @danmosemsft, @eerhardt, @ericstj - I think one of you guys have mentioned in our meeting on Monday that you have seen dotnet tool crashing randomly from time to time. I think this might be the actual issue.

[2017-08-30 15:56] tannergooding commented on #13688
Actually, this might be a fault in the `dotnet` host for @dotnet/dotnet-cli

[2017-08-30 16:08] danmosemsft commented on #13689
Yes I've seen it crashing during build. Good!

[2017-08-30 16:38] omajid commented on #13009
I can reproduce this using the in-development version of F27: http://download.fedoraproject.org/pub/fedora/linux/development/27/Workstation/x86_64/iso/

This makes coreclr build in Fedora 27: https://gist.github.com/omajid/436df7f7d04956b9b7fd416524cfe926. I dont know of a way to conditionalize `padding`/`__glibc_reserved1` based on a specific version of glibc, yet.

[2017-08-30 16:39] brianrob commented on #13689
@janvorli thanks for finding this.  I'll get working on a fix.  Have you only seen this repro when building the CLI?  I want to make sure that I can repro this locally.

[2017-08-30 16:55] janvorli commented on #13689
@brianrob yes, I've found it when building the freshly synced cli master branch on my Ubuntu 14.04. The command to build the cli stuff was `./build.sh --skip-prereqs --configuration Release --targets Default`.
Some of the tests that the build runs were failing due to this issue. You can run `cli/artifacts/linux-x64/stage2/dotnet with remove -h -` after the build completes to repro it. As I've said

[2017-08-30 17:06] eerhardt commented on #13689
/cc @livarcocc @nguerrera @dsplaisted - Have you guys still been seeing random crashes on non-Windows builds in the dotnet/cli?

[2017-08-30 17:57] kbatman37 commented on #917
+1

Do we know if there is anyone is actively working towards this?

[2017-08-30 18:03] Petermarcu commented on #917
@janvorli is looking at getting everything going on Alpine again.

[2017-08-30 18:11] nguerrera commented on #13689
We have seen SIGSEGV in build on Jenkins, there's some old threads on that. I've never seen it locally (though I don't build that much on Linux) and even on Jenkins, it's been a long while since I've seen it

[2017-08-30 18:15] janvorli commented on #917
@kbatman37 yes, I am actively working on that. The native parts builds were already fixed for Alpine some time ago, now I am working on making dotnet core on Alpine work end to end.

[2017-08-30 18:17] day01 commented on #917
@janvorli  Will it be available at docker registry as microsoft official image? (https://hub.docker.com/r/microsoft/dotnet/)

[2017-08-30 18:19] janvorli commented on #917
I was not thinking about the docker container yet, but I don't see a reason why it would not be there.

[2017-08-30 18:23] jorive opened #13697 "The change of priority of performance projects was imcomplete."
https://github.com/dotnet/coreclr/pull/13411 changed the priority of the performance projects while the `perf.groovy` was not modified, and this translated into not running all the performance tests in the lab.

JitBench leg is broken
IlLink leg is broken
Not all CQ microbenchmarks are running

[2017-08-30 18:24] jorive commented on #13697
Can we revert the change of priorities in the performance projects? I feel they should all be PRIO=0

[2017-08-30 18:25] jorive commented on #13697
The @dotnet/rap-team might have different opinions here.

[2017-08-30 18:30] pgavlin commented on #13697
Why? The Pri0 tests were chosen to better balance the chance of finding issues in the CI inner loop with the time spent building and executing tests in said inner loop. It may be expedient to make these tests Pri0 simply to unblock these legs, but if they are executed infrequently they could also just build the Pri1 tests.

[2017-08-30 18:34] brianrob commented on #13689
Thanks @janvorli.  I'm going to try and repro this.

[2017-08-30 18:56] janvorli opened #13699 "Port docker cgroup limits fixes to 2.0.x"
See #13488

[2017-08-30 19:03] brianrob commented on #13697
I don't think I fully understand how the test priority is used, so I can't comment on what a fix should be or if we even need one.  What I would like to do is state what our goals are as far as running performance tests, and then we can discuss how we make that happen.

Our goal is to make sure that all existing performance jobs (prior to this change) run, and that they run the full set of perform

[2017-08-30 19:14] AndyAyersMS commented on #13697
AFAIK priority controls which tests are built, and the runner doesn't know about priority and just runs all the tests it can find.

Both building and running are slow and I can understand wanting to pare this back some, but I agree we want to run the full set of current perf tests on each change.

Also historically perf tests have not been very robust at handling and reporting failure and there is

[2017-08-30 19:21] pgavlin commented on #13697
@AndyAyersMS:

This is correct.

When you say "on each change" do you mean "in inner loop CI" or "on every commit"? I certainly agree with the latter, but I'm not sure about the former.

@brianrob:

The most straightforward way to acheive this would be to change the perf jobs to build both the pri0 and pri1 tests. I can put together a PR if that sounds acceptable.

[2017-08-30 19:34] AndyAyersMS commented on #13697
If we defer running perf tests until some post-commit trigger fires them off, then the feedback loop for fixing broken perf tests gets longer and (historically at least) it takes us quite a while to realize things are broken and get a fix in place.

Running the perf tests up front per PR doesn't guarantee 100% uptime for perf tests but it will prevent some classes of errors. It seems to have worke

[2017-08-30 19:39] pgavlin commented on #13697
That seems reasonable. FWIW, the only perf tests that would have been moved to Pri1 are those that have never failed in CI for a non-infrastructural reason.

[2017-08-30 19:57] brianrob opened #13702 "Version Information in libcoreclr.so is Invalid"
When running strings libcoreclr.so | grep "@(#)", I get the output below.  The Commit hash is correct, but the built by information is broken:

@(#)Version 4.6.25610.02 built by: root-/tmp/tmpc8563550a3e548e99ca2d5896043f8ba.exec.cmd: line 2: hostname: command not found. Commit: dc2ffcdff2fb19e4b252cec3bc6672400a375c1e

[2017-08-30 19:57] brianrob commented on #13702
@wtgodbe, do you know the right person to route this to?

[2017-08-30 20:18] tannergooding commented on #13688
Closing. This is an issue with the `dotnet` host: https://github.com/dotnet/core-setup/issues/3127

[2017-08-30 20:35] tannergooding commented on #13688
Actually, reopening. This is in CoreCLR after all.

The code to get the threading model for the entry point still exists, it just isn't called anywhere: GetEntryPointThreadAptState

[2017-08-30 20:42] wtgodbe commented on #13702
Not sure, but @janvorli might know where to start

[2017-08-30 21:15] brianrob commented on #13702
Thanks.  @janvorli, any ideas on this one?

[2017-08-30 21:42] nategraf opened #13706 "Events send unnecessarily large amount of data"
Reference: https://github.com/Microsoft/perfview/pull/372#issuecomment-326124431

The EventDataLength is longer than it needs to be for some events, which causes more data to be send through the system than necessary.

[2017-08-30 21:57] janvorli commented on #13702
The broken hostname in the version is a known problem - the hostname app is missing on some build machines. I think the decision was to remove it completely since it doesn't provide any useful information.

[2017-08-30 22:14] brianrob commented on #13689
@janvorli, just confirming that you were able to repro this via "./dotnet -h" on a CLI release build.  I am doing this on an 8 core machine with 16 GB of RAM and can't repro it so far.  It uses the same CoreCLR that you referenced above.  Just want to make sure that I have the repro setup so far.

[2017-08-30 22:15] brianrob commented on #13702
Ok, thanks.  Is there an issue that I should resolve this as a duplicate of?

[2017-08-30 22:37] brianrob commented on #13697
@AndyAyersMS, agreed that running the perf tests up front is a good thing.  That's why we run "perf correctness runs" right now for each PR to make sure that even though we aren't getting perf results, we know that the tests will run and that the infra won't be broken by the PR.  Soon, we'll replace these correctness runs for each PR with real perf runs on physical hardware.

In terms of running t

[2017-08-30 22:50] janvorli commented on #13689
not just dotnet -h, it was `dotnet remove -h -` which is help on the "remove" command.

[2017-08-30 23:20] brianrob commented on #13689
Gotcha.  Thanks.  That doesn't seem to repro it either.   Do you have a machine that I can use to repro?  I'm less concerned about seeing the failure since I see your analysis, but I want to make sure that any fix I write is sufficient.

[2017-08-30 23:36] janvorli commented on #13689
Unfortunately my machine is not on corpnet, so you cannot access it. I assume you have tried to run it in a loop and it never reproed?
This is a command I used (current directory being the root of the cli repo):
[code]
It takes only a few iterations to exit due to the SIGSEGV

[2017-08-30 23:49] brianrob commented on #13689
I have tried to run it in a loop.  I'll let it run for a while longer and see if anything repros.

[2017-08-30 23:54] janvorli commented on #13689
Quick question, what do you get from the following command (I wonder if you have the same version of the shared framework)
`ls ./artifacts/linux-x64/stage2/shared/Microsoft.NETCore.App`

[2017-08-31 01:27] #13697 closed

[2017-08-31 02:14] sjsinju commented on #13056
@alpencolt OK. I got it. Let me check this.

[2017-08-31 03:40] mazong1123 commented on #13615
@tannergooding  I think it's easy for me to find these PRs and issues :)

Overflow for MaxValue: https://github.com/dotnet/coreclr/issues/5989

PR and issues related to "R":
https://github.com/dotnet/coreclr/pull/13140
https://github.com/dotnet/coreclr/issues/13106
https://github.com/dotnet/coreclr/issues/10651#issuecomment-315667429

[2017-08-31 03:45] mazong1123 commented on #13615
We'd better handle the edge cases(MaxValue/MinValue) inside parse instead of asking user to use round-trip specifier.

[2017-08-31 03:56] #13593 closed

[2017-08-31 04:16] kingces95 opened #13714 "Add TypeInfo.GetDeclaredProperties(string name)"
Given `TypeInfo.GetDeclaredMethods(string name)` I expect `TypeInfo.GetDeclaredProperties(string name)` to exist, but it does not.

In general, I expect reflection to provide symmetric functionality for `MemberInfos` that share a common dimension. For example, both `MethodBase` and `PropertyInfo` have parameters. So given `MethodBase.GetParameters` I expect to find an API with similar functionalit

[2017-08-31 04:16] #7613 closed

[2017-08-31 04:40] sjsinju commented on #13056
@alpencolt
It could not be reproduced anything in my environment with your sample.
master checked build : 050bfb50b14e066560004f6c65f4110a00efd64e
But the following was occurred with COMPlus_JitDump=*
[code]
it was occurred in not 'BringUpTest:Clamp(double,double,double):double' but System.AppDomainSetup:.ctor(ref,bool):this.

Can you check this with master commit??

[2017-08-31 05:35] weitzhandler opened #13716 "Make a new interface that exposes collection count"
Migrated from [here](/dotnet/corefx/issues/23578), I summed up some of the comments there into this post, but you might find it interesting to go through them anyway.

### Description

I often bump into scenarios where I have to evaluate an `IEnumerable` that might be either `ICollection<T>`, `ICollection`, `IEnumerable<T>` or `IEnumerable`, to get their size if available, so to avoid iterating on

[2017-08-31 07:14] #13716 closed

[2017-08-31 09:39] wateret commented on #13056
@sjsinju It is a JIT Dump issue. #13719 will resolve that.

[2017-08-31 09:51] alpencolt commented on #13056
@sjsinju assertion `isDoubleReg(reg1)` failed only on checked build, release version works well.
The crash of `System.AppDomainSetup:.ctor(ref,bool):this ` can be reproduced on checked version too.

I will try to apply PR of @wateret.

[2017-08-31 10:40] alpencolt commented on #13056
It looks release version doesn't compile `Clamp()` method. Checked version after applying @wateret  PR tries to copy double in `f1` register:
[code]

[2017-08-31 12:52] redknightlois commented on #13388
I can confirm that using today's nightly from branch 2.1 we are back to decent speed. I will continue investigating if they are further improvement that can be achieved suggested by profiling this scenario. But, this changes puts us in the range of CoreCLR 1.1.. Include this PR in a servicing branch should be done ASAP.

[2017-08-31 13:47] AtsushiKan commented on #13714
Functionality-wise, we're already covered: `GetDeclaredProperty(name)` would be `type.GetProperty(name, BF.Public|NonPublic|Instance|Static|DeclaredOnly`.

While there's a valid symmetry argument here, the fact is that `TypeInfo` is a dead-end as far as future api evolution goes. It's purpose was to replace `Type` as the main source of truth about type definitions (with `Type`'s surface area being

[2017-08-31 14:45] CarolEidt opened #13721 "[RyuJIT] LSRA block spill weight is wrong"
The method `LinearScan::getWeight()` is used to assign weights to `RefPosition`s, for the purposes of determining what to spill. The weight for lclVars is the `lvRefCntWtd`. For tree temp or non-tree (e.g. `RefTypeParamDef`) `RefPosition`s, it uses the `bbWeight` of the containing block.
There are two problems with the way this is currently implemented:
- The `bbWeight` is the non-normalized weigh

[2017-08-31 14:54] KooKiz commented on #13388
I don't know exactly what API is used by dotTrace to query the thread state, but "ready" means that the thread is scheduled but not running (usually a good indicator of CPU starvation). Therefore, the "ready" state could be caused by the `Thread.Sleep(0)`, but not by the actual spinning (unless the **other** threads are spinning and eating the available CPU time).

[2017-08-31 15:07] sdmaclea commented on #9958
@jkotas @jashook Please assign this to me.

If I look at the benchmark which was used to optimize #9786, it looks flawed.  All the measurements are made with a fairly small bucket.  This will train the branch predictors and result in excessively branchy code.  I think that is why the "optimized" Buffer.cs code is so complicated.  I will add some additional tests which will hopefully detect the bra

[2017-08-31 15:17] jkotas commented on #9958
cc @vkvenkat

[2017-08-31 15:37] kouvel commented on #13388
@redknightlois, thanks for confirming.

Regarding those numbers, is the time CPU time or real time? Wondering if the threads are actually running or just blocked for that duration. I'm guessing "Waiting for CPU" maps to WaitForMultipleObjects or some variant, and I'm not sure, but I don't think it does any spinning.

[2017-08-31 15:43] kingces95 commented on #13714
I'm under the impression there is no process for removing APIs once they're added to a .NET Standard. Am I mistaken?

[2017-08-31 15:46] AtsushiKan commented on #13714
We won't remove `TypeInfo` - we just won't encourage its use in new code.

[2017-08-31 16:13] redknightlois commented on #13388
@kevingosse @kouvel Yes, that is my interpretation too; which actually makes sense given that before the relationship was more similar to the 2nd picture than the first. Having a 2-to-3 relationship is healthier than 1-to-100 as it was before and that also can be seen in the amount of work done under contention scenarios.

However, the second case where the call maps straight to kernel objects (``

[2017-08-31 17:22] kouvel commented on #13388
Could you please take a perf trace with [PerfView](https://www.microsoft.com/en-us/download/details.aspx?id=28567) for the second case with the following settings:
![image](https://user-images.githubusercontent.com/13499639/29936185-2536f24a-8e36-11e7-9333-53d2e1b2e306.png)

[2017-08-31 17:33] AndyAyersMS commented on #5626
Working on this now...

[2017-08-31 17:38] tannergooding commented on #13615
@mazong1123, thanks. This completely slipped my radar.

We should probably just start this by moving to the Roslyn `RealParser` (https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/RealParser.cs) which has been confirmed to be precise/valid according to the IEEE spec.

[2017-08-31 18:43] dpodder opened #13726 "Missing CI validation for RHEL 7.2 Release"
Linux official Release builds are currently produced on Red Hat Enterprise Linux 7.2, but we don't have this configuration in CI validation. We just recently recovered from a build break that slipped in on that platform due to the lack of validation.

We should enable RHEL 7.2 Release to be automatically triggered in CI, so that we can validate the Linux release build config. This should be done s

[2017-08-31 18:46] dpodder commented on #13726
@wtgodbe @RussKeldorph FYI
/cc: @danmosemsft @brianrob @dotnet/rap-team

[2017-08-31 19:56] redknightlois commented on #13388
@kouvel I have the collection, but I cannot open the interesting stuff with PerfView itself :D .

[code]

Installing the Windows ADK but probably I wont be able to analyze the results today.

[2017-08-31 20:04] kevingosse commented on #13494
Apparently, API requests are supposed to be filled in corefx. My bad. Closing this one and reopening it there.

[2017-08-31 20:04] #13494 closed

[2017-08-31 20:14] sywhang commented on #13499
Hi @ww898,
Could you please check out the latest master branch and see if this problem still exists?
If so, please let us know, thanks.

[2017-08-31 20:14] jkotas commented on #1279
Stephen and I have tried to switch CoreCLR to use managed version of number parsing and formatting. It is straightforward port of C++ version of code. The C++ version of the code is using stack allocated scratch buffers. We found that it is impossible to get C# version close to C++ version because of the zero initialization imposses 15%-20% penalty. The changes are under https://github.com/jkotas/

[2017-08-31 20:26] Drawaes commented on #1279
I have hit this perf issue before when using stackalloc in a tight loop for scratchspace for crypto blocks (16bytes). Is there an option for adding a new keyword?

` stackalloc nozero byte[16];`

or similar? I realise that the spec says that stackalloc won't necessarily zero, but I expect we are too far down the path to change behaviour in code that probably doesn't have a lot of safe guards anywa

[2017-08-31 20:28] kouvel commented on #13388
Hmm can you try on another machine when you get a chance? Also check the symbol paths under the File menu and click "Add Microsoft Symbol Server" before analyzing. After opening CPU Stacks, click a row and Ctrl+A to select all and Alt+S to load symbols. Hopefully we can see from that where the CPU time is going.

[2017-08-31 20:31] benaadams commented on #1279
Also related "JIT: consider optimizing small fixed-sized stackalloc" https://github.com/dotnet/coreclr/issues/8542

[2017-08-31 20:38] benaadams commented on #1279
Also related "JIT: consider optimizing small fixed-sized stackalloc" https://github.com/dotnet/coreclr/issues/8542 to help stackalloc functions inline

[2017-08-31 20:44] #11844 closed

[2017-08-31 21:29] Petermarcu commented on #13699
@janvorli can you send the email out for review of this one to shiproom?

[2017-08-31 21:32] janvorli commented on #13699
@Petermarcu I will create a PR for the port (this is just an issue tracking it) and send the email.

[2017-08-31 21:36] Petermarcu commented on #13601
This is approved for checkin when the branch is open for 2.0.2.

[2017-08-31 21:36] Petermarcu commented on #13545
This is approved for checkin when the branch is open for 2.0.2.

[2017-08-31 21:37] Petermarcu commented on #13282
This is approved for checkin when the branch is open for 2.0.2.

[2017-08-31 21:52] BruceForstall commented on #11836
Fixed with #13669

[2017-08-31 21:52] #11836 closed

[2017-08-31 22:00] mellinoe commented on #13702
https://github.com/dotnet/coreclr/issues/10770

[2017-08-31 22:03] brianrob commented on #13702
Duplicate of #10770.

[2017-08-31 22:03] #13702 closed

[2017-08-31 22:04] pgavlin commented on #4840
In recent weeks, we've decided to make some changes that will make the CoreCLR unit tests better Xunit citizens. While these changes do not preclude eventually moving to a test runner implemented as a native binary, they should demonstrably improve the current CoreCLR test experience and allow us to simplify and unify the test execution process across our target platforms. Here is the plan:
1. Rat

[2017-08-31 22:09] pgavlin commented on #4840
In recent weeks, we've decided to make some changes that will make the CoreCLR unit tests better Xunit citizens. While these changes do not preclude eventually moving to a test runner implemented as a native binary, they should demonstrably improve the current CoreCLR test experience and allow us to simplify and unify the test execution process across our target platforms. Here is the plan:
1. Rat

[2017-08-31 22:09] pgavlin commented on #4840
cc @dotnet/jit-contrib @noahfalk @wtgodbe

[2017-09-01 00:05] BruceForstall opened #13730 "[RyuJIT/arm32] Assertion failed 'otherReg != REG_NA'"
Found in Windows RyuJIT/arm32 pri-1 test run.

For example:
[code]

Tests:
[code]

[2017-09-01 00:06] BruceForstall commented on #13730
cc @dotnet/arm32-contrib

[2017-09-01 00:17] BruceForstall opened #13731 "[RyuJIT/arm32] Tests fail due to timeout"
These tests fail in Windows RyuJIT/arm32 run with a timeout (over 600 seconds). They need to be investigated whether there is bad codegen, or whether they just take a long time.

[code]

[2017-09-01 00:17] BruceForstall commented on #13731
cc @dotnet/arm32-contrib

[2017-09-01 00:20] BruceForstall commented on #13604
@CarolEidt What is the test environment in which you see these failures? (e.g., OS, build, hardware, which set of tests were run?)

[2017-09-01 00:22] BruceForstall commented on #13604
In my Windows RyuJIT/arm32 pri-1 run (Checked JIT), the following tests failed with runtime failures:
[code]

[2017-09-01 00:26] CarolEidt commented on #13604
These tests are failing for me on my Raspberry Pi running Linux:

Linux carolsPi 4.4.13-v7+ #894 SMP Mon Jun 13 13:13:27 BST 2016 armv7l GNU/Linux

I ran whatever the default set of tests are that run with runtest. It runs a total of 7131 tests.

[2017-09-01 00:28] #13092 closed

[2017-09-01 00:40] BruceForstall commented on #13422
These fail for me in a Windows RyuJIT/arm32 run.

[2017-09-01 01:40] 303248153 opened #13735 "[RyuJIT] Let variables within a loop use register first"
Consider this code:

[code]

it generated following assembly code on Windows x64 .Net Core 2.0

[code]

As we can see a~h is holding the register esi~r13 yet xa~xf always use stack.

Then I write another version:

[code]

And run a benchmark, gives

[code]

SampleB is much faster because it let xa~xf use register, the following 100 cycles will also use these registers.

I dig a bit with lldb on Li

[2017-09-01 02:25] BruceForstall commented on #13735
@CarolEidt @dotnet/jit-contrib

[2017-09-01 03:09] jkotas opened #13736 "GC.API.NoGCRegion.NoGC.NoGC failing on Ubuntu x64 in CI"
[code]

[2017-09-01 03:12] jkotas commented on #13736
Failed in #13728, #13576, #13668

[2017-09-01 03:18] bbowyersmyth commented on #1279
Example of a staticalloc that is expecting zero initialization. https://github.com/dotnet/corert/blob/master/src/System.Private.CoreLib/src/System/String.Searching.cs#L177
The InitializeProbabilisticMap can leave some indexes unwritten.

[2017-09-01 03:18] kingces95 opened #13737 "Add GenericMethodParameters and GenericMethodArguments to MethodInfo"
Most APIs that deal with generic arguments are symmetric across `Type` and `MethodInfo`. For that reason given `Type.GenericTypeParameters` and `Type.GenericTypeArguments` I expect `MethodInfo.GenericMethodParameters` and `MethodInfo.GenericMethodArguments` to exist.

| Type | MethodInfo |
| ---- | ---- |
| IsGenericType | IsGenericMethod |
| IsGenericTypeDefinition | IsGenericMethodDefinition |
|

[2017-09-01 03:38] kingces95 commented on #13714
Should we consider the extension methods on `CustomAttributeExtensions` to be similarly discouraged from use now that `ICustomAttributeProvider` is back or are we still open to suggestions for those APIs?

[2017-09-01 04:19] BruceForstall opened #13738 "[RyuJIT/arm32][JitStress=1] Assertion failed 'offsetFitsInVectorMem(emitGetInsSC(id))'"
Windows RyuJIT/arm32 run, `COMPlus_JitStress=1`.

Tests failed (from smarty output, using tests\arm\tests.lst; which test each is should be decodable):
[code]

[2017-09-01 04:19] BruceForstall commented on #13738
@dotnet/arm32-contrib

[2017-09-01 04:24] BruceForstall opened #13739 "[RyuJIT/arm32][JitStress=1] Assertion failed 'NYI: Unimplemented node type ADDR'"
From Windows RyuJIT/arm32 test run with `COMPlus_JitStress=1`:

[code]

Test:
[code]

[2017-09-01 04:24] BruceForstall commented on #13739
@dotnet/arm32-contrib

[2017-09-01 04:43] mazong1123 commented on #13615
@tannergooding my understanding is [this `ToString` implementation](https://github.com/dotnet/coreclr/pull/12894) is following IEEE spec, so now we just need to re-write the parsing part. Is that correct?

Do we plan to implement `RealParser` in native part of coreclr or totally rewrite the whole tostring/parsing logic in managed code (I saw this is our eventually goal here: https://github.com/dot

[2017-09-01 04:49] hqueue commented on #13739
It is surprising that `ADDR` never generated in non-stress test.
I will take a look at this.

@BruceForstall Please assign this to me.

[2017-09-01 04:52] hseok-oh commented on #13739
@hqueue It's may not mean `ADDR` never generated in non-stress test. Generated `ADDR` may contained to other node.

[2017-09-01 04:55] tannergooding commented on #13615
Yes, I believe  [this `ToString` implementation](https://github.com/dotnet/coreclr/pull/12894) implementation is compliant, although it might be worthwhile to run the `RandomRealParserTests.sln` suite the compiler has to help validate that.

Writing it in managed is the better long term goal (IMO), but it probably depends on the perf numbers as well. The current `RealParser` implementation, while

[2017-09-01 05:02] jkotas commented on #13615
Yes, we want to have all parsing and formatting in C#. See #13544.

Agree.

[2017-09-01 05:45] AndyAyersMS commented on #5626
Have the basics working ... preview on [this fork](https://github.com/AndyAyersMS/coreclr/tree/FixEnumFlagsCompare).

Plan to generalize it so we can call it again post-inline.

[2017-09-01 05:50] kbaladurin commented on #12663
Fixed in #13685

[2017-09-01 05:50] #12663 closed

[2017-09-01 05:54] mazong1123 commented on #13615
@jkotas seems like @stephentoub has already started working on this issue (if not I can help working on it).

I think we can re-write `ToString()` in managed code as well after https://github.com/dotnet/coreclr/pull/12894 merged.

[2017-09-01 06:22] ashishnegi commented on #13460
@danmosemsft Since this was a bug, I am also seeing another potential similar issue. Just want to confirm before opening an issue.

Issue is :

When doing COM Interop in coreclr in windows, we are getting System.Exception for HResults for which net framework 4.5.1 gives COMException.
Is runtime now not giving COMException ? In that case, above behavior is intended.
If not, will this fix also corre

[2017-09-01 06:36] dotnet-mc-bot opened #13740 "Test failure: JIT_Methodical._divrem_div_decimaldiv_cs_d_decimaldiv_cs_d_/_divrem_div_decimaldiv_cs_d_decimaldiv_cs_d_cmd"
Opened on behalf of @Jiayili1

The test `JIT_Methodical._divrem_div_decimaldiv_cs_d_decimaldiv_cs_d_/_divrem_div_decimaldiv_cs_d_decimaldiv_cs_d_cmd` has failed.

/home/helixbot/dotnetbuild/work/f40dae91-31bf-43b1-9dcc-29b0c344de9e/Work/ee8fc36e-d05d-4367-a525-3db8376e96c1/Unzip/divrem/div/decimaldiv_cs_d/decimaldiv_cs_d.sh: line 243: 10033 Aborted                 (core dumped) $_DebuggerFullPath

[2017-09-01 06:59] tannergooding commented on #13615
@mazong1123, based on the comments, it needs to be run manually. It sounds like it runs a lot of validation and could take some time to complete.

[2017-09-01 10:20] janvorli commented on #13009
@omajid thank you for bringing this back to my attention. As for conditionalizing, we can easily use the build time detection of the __glibc_reserved1 field presence in the structure.

[2017-09-01 10:45] Trapulo commented on #10717
Same problem. ASP.NET Core 2.0 target to NET 4.6.2 with EF 6.1.3

disabling diag tool while debugging seems a workaround

[2017-09-01 11:58] radu-matei commented on #5853
@janvorli - could you please link to how you can do this?
Thanks!

[2017-09-01 12:01] janvorli commented on #5853
@radu-matei please see https://github.com/dotnet/core/blob/master/Documentation/self-contained-linux-apps.md

[2017-09-01 13:24] alpencolt commented on #12992
Tests passed on ARM32.
@wateret @YongseopKim  could you check on armel?

[2017-09-01 13:38] AtsushiKan commented on #13714
I see `CustomAttributeExtensions` as a viable path for future api extensions. Unlike `TypeInfo`, its existence is not "in the developer's face" the way `GetTypeInfo()` is and unlike the interface, we can add generic apis without paying the perf costs of generic virtuals.

[2017-09-01 13:42] AtsushiKan commented on #13737
@kingces95 - can you reopen this issue in the dotnet/corefx repo? That's where "api request" issues need to be in order to get through to the end of the process. Thanks.

[2017-09-01 13:46] kingces95 commented on #13737
Ok, thanks. https://github.com/dotnet/corefx/issues/23741

[2017-09-01 13:46] AtsushiKan commented on #13737
Moved to corefx.

[2017-09-01 13:46] #13737 closed

[2017-09-01 13:55] alpencolt commented on #13731
I've checked about half of them and the execution time is not more than 1 sec on Linux/ARM32 (I run  `*.exe` file directly).
There is some dump:
[code]

[2017-09-01 13:58] sec commented on #6650
@udonne the tutorial is a bit, out-of-date, but you should be able to compile native part on FreeBSD without errors:
`pkg install bash cmake libunwind gettext llvm38 icu krb5`
and then
`build.sh -clang3.8`
to build managed parts on Windows use `build.cmd freebsdmscorlib`

now for corefx:
`src/Native/build-native.sh freebsd x64 debug cmakeargs -DHAVE_IN_PKTINFO=0`
and managed under windows `build-m

[2017-09-01 14:37] CarolEidt commented on #13735
This is related to #7665 and #11424, though I thought there was already an issue specifically for the loop case.

I believe that the right way to handle the loop issue, beyond (or in addition to) #11424, is to not blindly use the variable assignments of a predecessor when entering the loop. Instead, evict any lclVars unused within the loop as needed to ensure that as many loop variables as possibl

[2017-09-01 15:26] BruceForstall commented on #13731
@alpencolt Thanks for checking!

[2017-09-01 15:48] BruceForstall opened #13746 "[RyuJIT/arm32][JitStress=2] Assertion failed '(curArgTabEntry->numSlots == 1) || isDouble'"
In Windows RyuJIT/arm32 test run with `COMPlus_JitStress=2`:

[code]
Test:
[code]

[2017-09-01 15:48] BruceForstall commented on #13746
@dotnet/arm32-contrib

[2017-09-01 16:06] #13056 closed

[2017-09-01 16:45] swgillespie commented on #13736
I suspect there is a test issue here: https://github.com/dotnet/coreclr/blob/master/tests/src/GC/API/NoGCRegion/NoGC.cs#L60. `4096 * 1024 * 1024` is large enough to overflow a 32-bit integer, and the overflow occurs before the type promotion to `long` (by the assignment). The documentation is unclear about what `TryStartNoGCRegion` is supposed do when given 0 as an alloc budget. On Windows, we thr

[2017-09-01 16:53] swgillespie commented on #13736
cc @Maoni0 @shimingsg , who may be interested

[2017-09-01 17:03] danmosemsft commented on #13736
twice for me
https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_ubuntu_tst_prtest/9046/consoleFull#2096352037c7af6a29-b465-404a-b249-90a3911e4354

[2017-09-01 17:06] swgillespie commented on #13736
Okay, so this code in `gc.cpp` is potentially a problem:

[code]

If `total_size` > `loh_size` (which it is in the case of the test failure - `total_size` (the SOH allocation budget) is 0 and `loh_size` (the LOH allocation budget) is extremely large (due to passing a large negative value to `GC.TryStartNoGCRegion` , again due to overflow), we'll underflow and `allocation_no_gc_soh` will be extreme

[2017-09-01 17:06] swgillespie commented on #13736
cc @sergiy-k

[2017-09-01 17:18] gbalykov commented on #13292
@Maoni0 As according to our assumption the behaviour in steady state will be between the simple startup-only GUI applications and GC heavy emulation applications, we have removed `_unstable_perf` suffix, now it is just `latency_level_small_memory_footprint`. What do you think about that?

Straightforward measurement of steady state certainly is more desirable, and we will do that when the appropri

[2017-09-01 17:52] danmosemsft commented on #13740
@Jiayili1 has this ever passed on redhat 69?

[2017-09-01 18:20] #13398 closed

[2017-09-01 18:43] BruceForstall opened #13750 "[RyuJIT/arm32][JitStressRegs=1] Assertion failed 'nextAssignedRef != nullptr'"
From a Windows RyuJIT/arm32 run with `COMPlus_JitStressRegs=1`:
[code]

Tests:
[code]

[2017-09-01 18:43] BruceForstall commented on #13750
@dotnet/arm32-contrib

[2017-09-01 18:46] BruceForstall opened #13751 "[RyuJIT/arm32][JitStressRegs=1] Assertion failed 'genIsValidDoubleReg(reg)'"
In Windows RyuJIT/arm32 run with `COMPlus_JitStressRegs=1`:
[code]

Tests:
[code]

[2017-09-01 18:46] BruceForstall commented on #13751
@dotnet/arm32-contrib

[2017-09-01 18:49] BruceForstall opened #13752 "[RyuJIT/arm32][JitStressRegs=1] Assertion failed '(assignedInterval->registerType != TYP_DOUBLE) || genIsValidDoubleReg(physRegRecord->regNum)'"
From a Windows RyuJIT/arm32 run with `COMPlus_JitStressRegs=1`:
[code]

Tests:
[code]

[2017-09-01 18:49] BruceForstall commented on #13752
@dotnet/arm32-contrib

[2017-09-01 18:58] pentp commented on #1279
Silently turning it off (option 1) would be a breaking change that's going to subtly corrupt data. It would imply verifying by hand all existing unsafe functions/classes/assemblies. `init-locals` effect is observable not only by `stackalloc` but also by using pointers to access ordinary locals: `int i; *(byte*)&i = 42; return i;` is valid unsafe C# that returns 42 today but would return garbage wi

[2017-09-01 19:03] Drawaes commented on #1279
I agree turning it off isn't a good idea. It could silently break a lot of code out in the wild as well. In very unpleasant ways.

However it might not even need a CoreClr change but a Roslyn change instead?

https://github.com/dotnet/csharplang/issues/868

[2017-09-01 19:42] wtgodbe commented on #13671
Sure, will take a look at this. Should be a relatively simple change.

[2017-09-01 19:46] Maoni0 commented on #13736
total_size should never be 0 when it gets to GC so we should have failed before that.

for the time being, if you change this line in test from

```long size = sizeMB * 1024 * 1024;```

to

```long size = (long)sizeMB * (long)1024 * (long)1024;```

would that fix the issue? (you probably don't need the (long) cast on the last 2 but no harm in putting it there.

[2017-09-01 20:25] swgillespie commented on #13736
@Maoni0 Yep, it would, we'd avoid the overflow that's putting us on to this codepath. We should probably extend this test to include the paths we are hitting now too, though.

[2017-09-01 20:29] Maoni0 commented on #13736
for sure. for now let's unblock the CI first. I've submitted a PR.

[2017-09-01 20:45] danmosemsft commented on #13667
@janvorli should this go to Tizen?

[2017-09-01 21:22] redknightlois commented on #13388
From interaction with some kernel devs, it was noted that the consumption shown there could be a artifact of the measurement itself. So this is the picture I could gather from the interruptions themselves.

![image](https://user-images.githubusercontent.com/1045411/29988055-b239341c-8f41-11e7-82dc-fc502630e3fc.png)

With the exception of the half second used by a function which contains the SpinLo

[2017-09-01 21:32] danmosemsft commented on #13688
@jkotas is there any technical reason for this? (If so we can remove the code). Right now I can run any .NET Core thread as an STA except the main thread.

Marking 2.0.x for now as a possible servicing candidate. This is a discrepancy with Desktop that could cause compatibility issues as some library code does require running on STA.

[2017-09-01 21:36] kouvel commented on #13388
If you're seeing a significant amount of time spent in context switching, I would suggest passing in a higher spin count to ManualResetEventSlim (assuming that's the source of the context switches) to see if that improves the overall performance. Lots of context switching is not necessarily worse than lots of spinning but usually it is worse, it depends on how much CPU time would be taken away fro

[2017-09-01 21:37] kouvel commented on #13388
That said, MRES has a threshold after which it goes into a Sleep(1), which can significantly reduce latency. May want to avoid that threshold, but worth a try. You could also try using ManualResetEvent (not slim) with your own custom spinning for the purpose of experimentation.

[2017-09-01 21:40] tannergooding commented on #13688
There are several cases, at least on Windows, where you may require STA thread and additionally require that `CoInitializeEx(null, COINIT_APARTMENTTHREADED)` was run.

On Linux/Mac this is likely not important/relevant, except for corner cases, but it greatly simplifies existing managed code that throws if the calling thread is not STA, due to any requirements set forth by Windows.

[2017-09-01 21:41] kouvel commented on #13388
Could also try ManualResetEvent (not slim) by itself (no spinning), as Yield/Sleep(0) can also contribute to context switching

[2017-09-01 22:09] jkotas commented on #13688
Note that you can trivially work around this by just setting the apartment mode programmatically:

[code]

Adding back the code to check for the attribute and making the call should be fine.

However, I do not think it is a good candidate for 2.0.x servicing because of it is potentially breaking. There may be apps that have STAThread on the main method by accident (the attribute on Main method was

[2017-09-01 22:10] jkotas commented on #13688
cc @tijoytom

[2017-09-01 22:22] tijoytom commented on #13293
@Tragetaschen
 Unfortunately LPArray is not supported for struct fields , and it's same on Desktop CLR. Given mono support it this might be something worth adding.Hope this is not blocking you in any ways ? ,   as you mentioned you can  pin it and marshal as pointer.

[2017-09-01 22:24] tijoytom commented on #13267
@yb101  As mentioned this is by design since the process is 64 bit , 32 bit coreclr is a much bigger issue . I am closing  this bug assuming your question is answered.

[2017-09-01 22:47] pgavlin commented on #4840
Here's an early preview of how this is shaping up: https://github.com/dotnet/coreclr/compare/master...pgavlin:XunitTests2

[2017-09-01 22:47] tannergooding commented on #13688
@jkotas was something changed in `Thread.SetApartmentState`? It is currently documented as (and as far as I am aware, has always behaved as) throwing a `ThreadStateException` if the thread has already started.

[2017-09-01 22:57] BruceForstall opened #13758 "project.assets.json need to be all-platform/architecture"
It looks like some of these:

[code]

are built specific to the build you’ve just done (e.g., x86), instead of being “all platform”. E.g.,

[code]

has:

[code]

after I've done an ARM build. Then, when I try to do an x86 layouts, even though I have previously done a full x86 build including tests, I get:

[code]

Looks like possibly a regression due to 6c0e0abf7c7b2ab48671ec2e37ff925fb5ca9c80

[2017-09-01 23:14] BruceForstall opened #13760 "[RyuJIT/arm32][JitStressRegs=8] Assertion failed '(unsigned)regNum < ArrLen(physRegs)'"
From a Windows RyuJIT/arm32 run with `COMPlus_JitStressRegs=8`:
[code]

Many, many tests hit this. E.g.:
[code]

[2017-09-01 23:15] BruceForstall commented on #13760
@dotnet/arm32-contrib

[2017-09-01 23:19] #11551 closed

[2017-09-01 23:20] BruceForstall opened #13761 "[RyuJIT/arm32][JitStressRegs=8] Assertion failed '(candidates & allRegs(regType)) != RBM_NONE'"
From a Windows RyuJIT/arm32 run with `COMPlus_JitStressRegs=8`:

[code]

Tests (incomplete list):
[code]

[2017-09-01 23:20] BruceForstall commented on #13761
@dotnet/arm32-contrib

[2017-09-01 23:46] noahfalk commented on #4840
Thanks Pat! Quick look was promising but I'll need to sync it locally to really check it out. GitHub is not a fan of big diffs.

[2017-09-02 00:00] pgavlin commented on #4840
That preview now includes some preliminary work on *nix support. With the changes currently in that branch, I am able to run tests on *nix successfully using the Xunit console runner.

[2017-09-02 00:13] tannergooding commented on #13688
Okay, it appears as though you can do that code, but only in .netcore.

I would think that is a secondary bug that is an extension of this bug. Because we are not respecting STAThread or MTAThread (or lack-there-of), we are also not properly initializing the apartment state of the entry thread at all.

This is not only breaking any assumptions users may have around the `STAThread` and the `MTAThre

[2017-09-02 00:21] tannergooding commented on #13688
On Windows, this can also have other consequences.

If the user is doing any kind of COM interop (and this includes things like DirectX), a call that would normally synchronize to a specific thread will no longer do so.

It also means that messages may not continue being pumped since COM does not do this automatically for multi-threaded apartments.

[2017-09-02 00:38] kingces95 opened #13762 "Add Type.GenericTypeParameters"
# Proposed Additions

[code]

# Rational

## Unified Metadata/Runtime Type representation
`Type.GenericTypeArguments` and `TypeInfo.GenericTypeParameters` were introduced during an effort to split `Type` into a runtime representation (`Type`) and a metadata representation (`TypeInfo`). In such a world, a type's generic arguments belonged on the runtime representation while a type's generic paramet

[2017-09-02 01:55] kingces95 commented on #13762
Oops. Should have opened in corefx repro. See https://github.com/dotnet/corefx/issues/23762

[2017-09-02 01:55] #13762 closed

[2017-09-02 03:26] whatevergeek commented on #13667
Hmmm... i doubt... main obective for this is to have powershell (.net core 2.0) running on raspberry pi 3... but if there's Tizen stuff that can help resolve this... perhaps, we can link Tizen people to this link...

[2017-09-02 09:28] realvictorprm commented on #659
@t-sch with Mono it's possible to call managed assemblies from unmanaged code. See [Embeddinator-400](https://github.com/mono/Embeddinator-4000).

[2017-09-02 11:20] sillyousu opened #13764 "[Question] How to debug deadlock in Task?"
Are there any tools/runtime infrastructure for debugging deadlock and Task hang?

[code]

[2017-09-02 11:30] Drawaes commented on #1279
Won't turning off init locals also potentially cause a bug if you have done this?

[code]

Before you were passing a null pointer now you are not, if the behaviour or code path changes if you aren't passing a null pointer could there not be trouble?

This could be a bug farm

[2017-09-02 11:38] benaadams commented on #1279
`out` shouldn't be testing its input?

[2017-09-02 11:43] Drawaes commented on #1279
Right but, c++ or c sometimes things like openssl say "if its a null ptr then do x otherwise try to write to said pointer".... its not great but it is...

[2017-09-02 12:03] benaadams commented on #1279
Then its not an `out` var but a `ref` var :P

[2017-09-02 12:06] mikedn commented on #4840
Huh? Are saying that thousands more files will be added to the repository?

[2017-09-02 12:35] jakobbotsch commented on #1279
This would never pass a null pointer, it would pass a pointer to initialized memory. With this change, it would pass a pointer to uninitialized memory. Libraries that test the pointer do not break from this change.

[2017-09-02 12:38] Drawaes commented on #1279
So would the removal of init only effect stackalloc?

[2017-09-02 12:39] Drawaes commented on #1279
FYI the stackalloc was only in there to try to trigger the init local remove. The key is the pointer.

[2017-09-02 12:40] bencz commented on #659
Ok!
You can call the .net from unmanaged code too..., using the mscoree function to start the .net machine, for look this, as a example: [](https://www.codeproject.com/Articles/816578/Calling-a-Csharp-Method-from-C-Cplusplus-native-pr)

[2017-09-02 12:42] benaadams commented on #1279
If the input value of output is important then it should be `ref` and then you init to null (and the C# compiler I believe would force you to). `out` means its input value is not important.
[code]

[2017-09-02 12:43] jakobbotsch commented on #1279
`out output` will pass a pointer to the `output` variable to the method. In either case this will not be a null pointer. In P/invokes your code is equivalent to
```SomeInteropFunction(&output);```
The value of the 'output' variable does not matter unless the p/invoked function dereferences the pointer.

[2017-09-02 13:15] Drawaes commented on #1279
Sure so the c might be

`void MyMethod ( void** output);`

So I love the idea of init being ditched. I worry that it will cause the kind of managed/unmanaged bugs that lead to double freeing, segfaults and general nastiness.

That is why from where I am sitting it needs to be opt in. I hate to think what horrible interop code there is in some point of sale machine or similar somewhere that this co

[2017-09-02 13:16] Drawaes commented on #1279
A key word or an attribute would work fine. Even though init "isn't in the spec" it's observed behaviour for what 10 years ?

[2017-09-02 15:59] pgavlin commented on #4840
That's the plan, yep. Alternatives include:
- Use a single file to contain all of the `[Fact]`s
- Use a single file per second-level directory (e.g. `JIT/Methodical`, `JIT/Directed`, etc.)

Given the choice, splitting the wrappers on a per-test basis allows for maximum flexibility (tests can be composed into any number of Xunit assemblies) and (we think) maximum ease-of-use (a test's metadata is c

[2017-09-02 16:02] mikedn commented on #4840
And why aren't those files generates automatically during test build? Because of metadata like ActiveIssue? That can go in the existing csproj files.

[2017-09-02 16:17] pgavlin commented on #4840
Currently we autogenerate something like these files immediately prior to running tests. This has proven to be overcomplicated and inflexible. Some of the problems with this approach do arise because it is performed after the test build proper; it is possible that we could address these by generating wrappers during the test build. It's certainly worth discussing, though it does come at the cost o

[2017-09-02 17:42] jkotas commented on #13688
This is not quite correct. SetThreadApartmentState will throw exception only if COM appartment of the underlying OS thread was to a different value than what is getting requested. E.g. you can create thread by PInvoking Win32 CreateThread API and then call SetAppartmentState with either STA or MTA on it just fine.

As I have said, fixing the bug with the attribute not being respected is fine with

[2017-09-02 17:46] kevingosse commented on #13764
You can attach a debugger, break the execution, and inspect the callstacks (the "parallel stacks" window of Visual Studio is especially useful for that). Or do you mean an automated way?

[2017-09-02 18:30] sillyousu commented on #13764
hello @kevingosse , thank you for reply.

1. In VS 2017 "parallel stacks" shows "No tasks to display" in **task mode**.  Do I miss something?
2. It's not good to pause a running process in production for long time. Can I just print all threads/tasks call stack (like java/golang)?

[2017-09-02 18:52] tannergooding commented on #13688
I would think the following should happen then:

1. Fix all the documentation to indicate the behavior for .NETCore
2. If `STAThread` or `MTAThread` are explicitly specified, configure the threading model for the main thread; otherwise, do nothing (however, see comment below)
3. For the main thread, if uninitialized, we should return `ApartmentState.Unknown`. Today, we are returning `ApartmentStat

[2017-09-02 19:19] Drawaes opened #13765 "Linux stack size seems 8x bigger than windows?"
I was writing a little function to show the remaining stacksize in core.
(Best not to ask why ;) )

But I thought I had the calculations wrong, so I tried a couple of ways. In the end I can only come to the conclusion that on Linux .net core has an 8mb stack not a 1mb stack.

This is easily confirmed by stackallocing 3mb of data and on Windows this crashes and on Linux it doesn't.

My question is,

[2017-09-02 20:27] Drawaes commented on #13765
To add more information

This happens on the main thread, spawned foreground threads and background threads.

Turns out that my ulimit (default one) on ubuntu is 8mb. If I set this to unlimited all threads default to 2mb. Does this seem like unusual behaviour? As .net is a VM shouldn't this part of the environment be realitively consistent across platforms?

[2017-09-02 20:33] stephentoub commented on #13765
It also needs to respect the platform. The user limit is set to 8mb... why should the VM override that by default?

[2017-09-02 21:41] kevingosse commented on #13764
I'm not sure. I always use the "thread" view.

Once your threads are deadlocked, you'll need to restart the server anyway. If you can't afford to take the server offline long enough to investigate, you can work on a memory dump. There are many tools that allow you to take memory dumps (including the Windows task manager), but I'd personally recommend Procdump from Sysinternals.

After you've confi

[2017-09-03 02:37] Drawaes commented on #13765
No reason I guess, just surprising, .net framework has always had this basic size and mono followed close for compatibility. It's not a problem if it's expected.

[2017-09-03 02:37] #13765 closed

[2017-09-03 07:52] sillyousu commented on #13764
@kevingosse

thread view doesn't provide too much useful information in this case.
I can see main thread's callstack. But deadlock is inside those two missing tasks.

**memory dump** is exactly what I eager to.  Sadly, our team mostly work on MacOS. And our software needs run on Linux. Is there any procdump alternative for MacOS/Linux?

The [createdump](https://github.com/dotnet/coreclr/blob/maste

[2017-09-03 10:32] hseok-oh commented on #10300
@BruceForstall You're right. I'll close this issue.

[2017-09-03 10:32] #10300 closed

[2017-09-03 11:17] grahamehorner opened #13768 "WebAssemberly"
Please consider creating a build of the coreclr that targets the WebAssembly, I believe that .net in the browser has many benefits and could be a game changer. #blazor @SteveSandersonMS if/should the team not want the implement a WebAssembly build some guidance would be good in the form of a .net standard for targeting a web browser platform so the community could build something around .net core

[2017-09-03 14:02] GSPP commented on #1279
Maybe make the assembly opt into this new faster behavior by setting an attribute? That way the core libraries can make use of this enhancement easily.

It could look like:

[assembly: CodeOptimizationCompatibility(Level = CodeOptimizationLevel.V5_0)]

Or similar. The `Level` could trigger many optimizations that are currently not being done for compat reasons. This would be similar to the SQL Ser

[2017-09-03 14:19] Drawaes commented on #1279
I like it, it's opt in so doesn't break anything but you don't have to tag every method. I like it

[2017-09-04 01:13] YongseopKim commented on #12992
@alpencolt Yes it passed on the latest corclr. Thank you for your checking ;)
@wateret Could you close this issue please?

[2017-09-04 01:43] sjsinju commented on #13752
@BruceForstall Let me check this.

[2017-09-04 01:44] sjsinju commented on #13751
@BruceForstall Let me check this.

[2017-09-04 02:02] 303248153 opened #13770 "[Legacy Backend][StackFP] sort algorithm for fpLclFPVars seems incorrect"
Problem line:
https://github.com/dotnet/coreclr/blob/bac965ea8d3977a08257ee6758e14ccda34547e3/src/jit/stackfp.cpp#L4328

I think it should be
[code]
The `min` should point to the var have greatest weight, not the last var have greater weight than `sortNum`.

And another problem line:
https://github.com/dotnet/coreclr/blob/bac965ea8d3977a08257ee6758e14ccda34547e3/src/jit/stackfp.cpp#L3725

It shoul

[2017-09-04 02:06] #12992 closed

[2017-09-04 03:03] kingces95 opened #13771 "Expected cordbee_wks debug build to output to Windows_NT.x64.Checked"
Expected `cordbee_wks` `debug` build to output to `Windows_NT.x64.Debug` but actually outputs to `Windows_NT.x64.Checked`. Does anyone edit\build\debug debug builds from VS? The build instructions don't seem to have instructions about that loop using VS of any flavor and projects don't seem to be setup to support it. Is enabling that an up-for-grabs thing or am I missing something?

![image](https

[2017-09-04 03:09] YongseopKim opened #13772 "How to check a dll's ni file is loaded?"
A quetion while I've checked current ni loading system. How do I know a ni-file is loaded?

I'm checking this by using checked built CoreCLR with `COMPlus_DumpJittedMethods=1`. Does it make sure that ni-file is loaded?

For example,
[code]
and there are dirs.
[code]

#### 1) not-ni-overlay + not-ni-tc
[code]

#### 2) ni-overlay + not-ni-tc
[code]

#### 3) ni-overlay + ni-tc(.dll
**nothing!!!** pri

[2017-09-04 03:10] YongseopKim commented on #13772
/cc @dotnet/arm32-contrib

[2017-09-04 04:29] mikedn commented on #13771
I do that all the time and it works just fine. It seems to me that you loaded the "checked" solution but did not switch the configuration to "checked". You are using the "debug" configuration which VS defaults to when loading a solution for the first time. This can be a bit annoying at times but once you switch to the proper configuration it works fine.

[2017-09-04 04:58] mikedn commented on #13770
Note that RyuJIT does not actually use the FP stack code, that's a legacy thing.

[2017-09-04 05:34] wateret commented on #11822
Pri2 Test Status (1st, Sep version, forgot the exact commit hash)

[code]

Failed Tests

- JIT.Performance.CodeQuality.Span.SpanBench.SpanBench
- JIT.Performance.CodeQuality.V8.Crypto.Crypto.Crypto

[2017-09-04 06:37] YongseopKim opened #13775 "Does corerun or coreclr work normally when it loads only dll file if there are .ni.dll and .dll?"
(This is assuming that `COMPlus_DumpJittedMethods=1` with checked built coreclr is checking whether ni file is loaded or not. This relates to https://github.com/dotnet/coreclr/issues/13772)

I don't know the policy of `corerun` or `coreclr`. So I'm asking. Does corerun or coreclr work normally when it loads only dll file if there are .ni.dll and .dll?

For example, (on 8/31 commits)
- clr: 050bfb5

[2017-09-04 06:40] YongseopKim commented on #13775
/cc @dotnet/arm32-contrib @parjong

[2017-09-04 06:41] YongseopKim opened #13776 "Directly loading .ni.dll works differently from each `FNV/R2R`"
(This may relate to #13775)

Directly loading .ni.dll works differently from each `FNV/R2R`.
[code]

With crossgen `FNV`, is it impossible to loading ni.dll file directly as a rule?

[2017-09-04 06:41] YongseopKim commented on #13776
/cc @dotnet/arm32-contrib @parjong

[2017-09-04 07:07] Jiayili1 commented on #13740
@danmosemsft today there are no available CoreCLR builds, will check this issue on next build

[2017-09-04 09:02] janvorli commented on #13667
@danmosemsft I will take a look myself.
@SteveL-MSFT could you please provide me with steps or a pointer to steps on how to build powershell targeting ARM Linux and to repro the issue?

[2017-09-04 13:32] janvorli commented on #13740
@danmosemsft, there were only three successful coreclr test runs since we have made the rhel 6.9 lab VMs work. It seems that this test was failing ever since.
See:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170831.03
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional

[2017-09-04 13:46] mazong1123 commented on #6237
I believe this bug should have already been fixed along with #11452 . I'll double check it tomorrow morning.

[2017-09-04 14:54] SteveL-MSFT commented on #13667
@janvorli you can clone https://github.com/stevel-msft/powershell/tree/raspberry-pi onto a Ubuntu16.04 box, install PSCore6, run `start-psbootstrap`, then `start-psbuild -runtime linux-arm` or tomorrow I can give you ssh access to my pi on corpnet (it's a holiday in US today)

[2017-09-04 15:49] kingces95 commented on #13771
@mikedn Ah, I see. Thanks.

When I build `coreclr` the binary does not end up in the `\bin\Product\Windows_NT.x64.Debug\`. I'm trying to get it there so the work flow is as described in the console build instructions. Then I launch VS from the same command shell those instructions created. I also add the following to my solution so I can launch my test project directly from VS. It's what `devenv /

[2017-09-04 17:12] mikedn commented on #13771
The `INSTALL` project is supposed to copy binaries to the `Product` directory. You have to explicitly build `INSTALL` which will also build `coreclr` and everything else due to dependencies. Also note that `INSTALL` is excluded from build in the solution configuration so building the solution won't build `INSTALL`.

However, the last time I tried building `INSTALL` from VS it failed to work proper

[2017-09-04 17:15] siegfriedpammer opened #13778 "How to detect the runtime/BCL required by an assembly?"
I am in the process of adding .NET Core/Standard support to ILSpy and I have a few questions:
Side note: we're using Cecil to read assemblies, but it seems basic support for .NET Core/Standard assembly references is still missing. See jbevain/cecil#306.

Detecting the required runtime/BCL in "old" .NET assemblies is straight forward:
1. Look for a reference called `mscorlib`.
2. Find the reference

[2017-09-04 23:40] jkotas commented on #13768
Duplicate of #5303

cc @morganbr

[2017-09-04 23:40] #13768 closed

[2017-09-04 23:48] jkotas commented on #13776
Fragile non-versionable .ni images only work against the exact runtime version that they have been generated against.

[2017-09-04 23:58] jkotas commented on #13778
This is the default location. The shared .NET Core runtime can live anywhere on disk, or it can be in the app directory (self-contained applications - https://docs.microsoft.com/en-us/dotnet/core/deploying/).

Why does ILSpy do for Mono? The logic for .NET Core may be similar to Mono.

.NET Standard does not have any default implementation. The implementation comes from a concrete runtime (.NET Fr

[2017-09-05 01:25] kingces95 commented on #13771
Ah, ok. Install isn't working for me either so I build from the console to binplace everything.

[2017-09-05 01:25] #13771 closed

[2017-09-05 05:21] jkotas opened #13779 "JIT/Performance/CodeQuality/BenchmarksGame/regexdna failing in CI frequently"
[code]

[2017-09-05 05:24] jkotas commented on #13779
Failed in #13774, #13753, #13757, #13759

[2017-09-05 08:31] hqueue commented on #13739
It seems that during morphing, `ADDR` has `CALL` which returns a double register (which is actually a struct with one double member) as a child. But `GT_ADDR` should not have a value in a register.

[code]