[2019-04-02 18:50] AaronRobinsonMSFT commented on #23650
@swaroop-sridhar Please take a first look at this issue. If you are blocked or out of bandwidth, @jkoritzinsky or I can help. Thanks.

[2019-04-02 18:52] sandreenko commented on #20215
The issue was marked as fixed in https://github.com/dotnet/coreclr/pull/20949.

[2019-04-02 18:59] sandreenko commented on #20520
The test was not excluded and available history doesn't show any failures on this test.

[2019-04-02 18:59] #20520 closed

[2019-04-02 19:01] sandreenko commented on #20246
Link where the test was excluded https://github.com/dotnet/coreclr/pull/20206

[2019-04-02 19:03] sandreenko commented on #20706
The test was excluded in #22697.

[2019-04-02 19:40] sandreenko commented on #20924
The test was excluded in https://github.com/dotnet/coreclr/pull/20206.

[2019-04-02 19:49] steveharter commented on #23645
The serialization code hasn't changed here recently. I suspect that it's a multi-threaded bug on cache warm-up. I created https://github.com/dotnet/corefx/issues/36547 to track.

[2019-04-02 19:49] #23645 closed

[2019-04-02 19:52] sandreenko commented on #20924
That is a test/infra issue, push it out of 3.0 (see the discussion in https://github.com/akkadotnet/akka.net/issues/3506#issuecomment-441754326)

[2019-04-02 20:35] RussKeldorph commented on #23649
@danmosemsft @GrabYourPitchforks Sound familiar?  I couldn't immediately repro this with 3.0.100-preview4-011024 based on the limited information provide.

[2019-04-02 20:40] stephentoub commented on #23649
@RUSshy, what is the value of CultureInfo.CurrentCulture when you get the unexpected behavior and then when you get the expected behavior?  The StartsWith overload you're using is culture-sensitive.

[2019-04-02 20:46] stephentoub commented on #23649
Also, can you share exactly how you're building and running it?

[2019-04-02 20:55] RussKeldorph commented on #12547
Test seems to be enabled and passing.

[2019-04-02 20:55] #12547 closed

[2019-04-02 20:58] #14275 closed

[2019-04-02 21:00] briansull commented on #23411
Resolved with #23533

[2019-04-02 21:00] #23411 closed

[2019-04-02 21:00] RussKeldorph commented on #13452
Test enabled and passing

[2019-04-02 21:00] #13452 closed

[2019-04-02 21:18] RussKeldorph commented on #13562
Have not seen this recently.  Re-open if it occurs again.

[2019-04-02 21:18] #13562 closed

[2019-04-02 21:21] RussKeldorph commented on #14210
Deleted with #16667.

[2019-04-02 21:21] #14210 closed

[2019-04-02 21:22] AndyAyersMS commented on #22974
I can't repro the crossgen errors, but the tests fail just running normally (even with tier0/minopts):
[code]
Will update when I know more.

[2019-04-02 21:22] RussKeldorph commented on #14211
Deleted by #16645

[2019-04-02 21:22] #14211 closed

[2019-04-02 21:27] GrabYourPitchforks opened #23666 "JIT should suppress zero-extending same-register moves in more scenarios"
Related to https://github.com/dotnet/coreclr/pull/22454. An optimization was previously introduced in coreclr which eliminates unnecessary `mov` instructions when zero-extending registers. However, that optimization only looks back one instruction to determine if the elimination is worthwhile.

Per https://github.com/dotnet/coreclr/pull/23665, we have evidence that there's benefit to be realized f

[2019-04-02 21:28] RussKeldorph commented on #14483
Spot checked.  Tests appear to be enabled and passing.

[2019-04-02 21:28] #14483 closed

[2019-04-02 21:51] bartonjs commented on #22750
As @rducom said, this is a documented behavior for this method.

If you looked at the compiled output of the test case in https://github.com/dotnet/coreclr/issues/22750#issuecomment-466163375 in reflector/ilspy/etc it would probably have replaced all three variable assignments with the same `Geography` member (which one would depend on the particular tool being used).

The IL emitted by the compil

[2019-04-02 21:51] #22750 closed

[2019-04-02 21:52] GrabYourPitchforks commented on #23127
Related to https://github.com/dotnet/coreclr/issues/23666.

[2019-04-02 21:57] RussKeldorph commented on #17290
@jorive @noahfalk This issue was hiding in the UWP6.1 milestone; I've moved to 3.0.  The last occurrence with the failure mode above occurred on 2019-02-07, but the most recent failure of the test occurred on 2019-03-29 and looked like:

[code]

Here's a Kusto query of recent failures if it helps.
[code]

[2019-04-02 22:14] AndyAyersMS commented on #22974
C/C++ expects floats to be promoted to doubles when passed as varargs, seems like we lost that somewhere. The native side of these tests scans through the varargs values looking for a `-1` sentinel value, so failure to promote leads to the scan continuing on until it runs into an inaccessible stack page and the tests AVs.

Not sure yet if the jit or the stub is responsible for this promotion.

[2019-04-02 22:22] CarolEidt opened #23669 "[Arm64] HardwareIntrinsics test failures"
Probably hidden by the other Arm64 failures (#23577) there are now 4 additional failures. These are:
[code]
This appears to be an off-by-one error here: https://github.com/dotnet/coreclr/blob/master/src/jit/hwintrinsicArm64.cpp#L113.
Note the extra `- 1` in the x86 case: https://github.com/dotnet/coreclr/blob/master/src/jit/hwintrinsicxarch.cpp#L60

I'll have a PR up shortly.

[2019-04-02 22:25] #23395 closed

[2019-04-02 22:25] #23394 closed

[2019-04-02 22:41] BruceForstall opened #23672 "arm64 altjit PMI asm diffs failures"
After https://github.com/dotnet/coreclr/pull/23028, we have:
[code]

With, e.g., on x64 checked:
[code]

[2019-04-02 22:41] BruceForstall commented on #23672
@fiigii @CarolEidt @tannergooding

[2019-04-02 22:42] BruceForstall commented on #23672
cc @dotnet/jit-contrib

[2019-04-02 22:54] #23545 closed

[2019-04-02 23:12] sandreenko commented on #21112
The test was disabled in https://github.com/dotnet/coreclr/pull/21225

[2019-04-02 23:13] sandreenko commented on #21113
The test was disabled in #21225

[2019-04-02 23:15] RussKeldorph commented on #19299
Kusto query of recent failures in case it helps
[code]

Recent ones appear to be AV/SIGSEGV

[2019-04-02 23:19] fiigii commented on #23672
I will fix it.

[2019-04-02 23:27] jorive commented on #17290
I'm closing this old bug, and we can open a new one if there is a new failure. The assertion above is a different issue that was introduced and fixed recently with the EventPipe work.

[2019-04-02 23:27] #17290 closed

[2019-04-02 23:28] RussKeldorph commented on #22366
Didn't repro in https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_release_ubuntu16.04_r2r_tst/30/

[2019-04-02 23:31] tannergooding commented on #19299
I think the original issue this was tracking was resolved and the new issue is likely resolved by https://github.com/dotnet/coreclr/pull/23629

[2019-04-02 23:34] AndyAyersMS commented on #22974
Regressions come from #22821 where the native side of the test code was modified.

[2019-04-02 23:39] #23429 closed

[2019-04-02 23:45] jkoritzinsky commented on #22740
Closing as no-repro.

[2019-04-02 23:45] #22740 closed

[2019-04-02 23:51] RUSshy commented on #23649
``Console.WriteLine(CultureInfo.CurrentCulture);``

print:

``en-US``

[2019-04-02 23:55] RussKeldorph commented on #22933
This hasn't occurred since--at least not in DevOps runs.  I'm inclined to declare it "cosmic rays flipping bits in the guardstack cookie."

[2019-04-02 23:55] #22933 closed

[2019-04-02 23:55] sandreenko commented on #21236
That was fixed by #22605 some time ago.

[2019-04-02 23:55] #21236 closed

[2019-04-03 00:02] sandreenko commented on #21427
The test was disabled in #22697 because of #22449.

[2019-04-03 00:06] #23575 closed

[2019-04-03 00:09] RUSshy commented on #23649
@RussKeldorph where can i find the preview 4 ? so i can also test this version, maybe it was fixed

[2019-04-03 00:24] stephentoub commented on #23649
@RUSshy, can you share a zip of the repro?  I'm unable to repro what you're seeing with the information shared.

However, I see `Microsoft.DotNet.ILCompiler` in your .csproj, as well as the rd.xml mention.  Are you actually trying to do something with corert or .NET Native?

[2019-04-03 01:51] echesakovMSFT commented on #23621
This seems to be an issue with other TLS symbols as well
*running under Alpine 3.8 on arm64*
[code]

[code]

[2019-04-03 02:55] AndyAyersMS commented on #22974
Could not find anything definitive on whether or not float->double promotion should happen for native varargs. Currently we do not promote, but it seems odd to do things this way, as not promoting means the native side must be non-conforming.

@dotnet/jit-contrib @jkotas anyone know more about this?

[2019-04-03 04:20] neerajksingh commented on #15693
To share what I found (and discussed with @noahfalk):
This appears to be fixed in the lttng project at:
https://github.com/lttng/lttng-ust/commit/060577e34998f721439135e8fc533a0e52d98ff1

[2019-04-03 04:21] jkotas commented on #22974
I do not think we should be promoting. The managed C++ compiler takes care of it.

If we started promoting ourselves, we would have a different set of inconsistencies, e.g. should ArgInterator promote too?

[2019-04-03 05:14] tapika opened #23681 "Support for fast mixed mode call stack determination"
Originally wrote this as e-mail, but 'Jan Kotas' <jkotas@microsoft.com> proposed to raise this as github issue. Not attaching original e-mail recipients, and don't know if they want to be in this mail list.

Hi !

Approximately 3 years ago I have asked you about mixed mode call stack determination, and briefly documented your answer and my findings about this
On stack overflow: https://stackoverfl

[2019-04-03 05:37] dotnet-mc-bot opened #23682 "Test failure: Loader_AssemblyDependencyResolver._AssemblyDependencyResolverTests_AssemblyDependencyResolverTests_AssemblyDependencyResolverTests_/_AssemblyDependencyResolverTests_AssemblyDependencyResolverTests_AssemblyDependencyResolverTests_sh"
Opened on behalf of @AriNuer

The test `Loader_AssemblyDependencyResolver._AssemblyDependencyResolverTests_AssemblyDependencyResolverTests_AssemblyDependencyResolverTests_/_AssemblyDependencyResolverTests_AssemblyDependencyResolverTests_AssemblyDependencyResolverTests_sh` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190402.72 (Core Tests)
Failing configurations:
- Ubu

[2019-04-03 07:32] fmoessbauer commented on #23681
I adapted the solution proposed by @tapika in the [siemens/drace](https://github.com/siemens/drace) application. There, we just need to symbolize JITted addresses to a function name + file and line information.

However, @tapika's solution does not fully work on CoreCLR applications, as we were not able to get beyond function names. However in DRace we have some special situation, which might brea

[2019-04-03 07:50] AndyAyersMS commented on #22974
I could be wrong, but it seems like we could promote float to double in the native varargs cases without impacting anything else. We already do a bunch of the magic swizzling in the pinvoke stub (eg passing the first few args in both int and float regs) and it seems like we could be promoting too.

But it's also easy to fix these cases so that we're explicitly promoting in the user code and not pa

[2019-04-03 08:58] gbalykov opened #23683 "MultiByteToWideChar removed from unix exports"
Could you, please, clarify, why #22500 removed `MultiByteToWideChar` from unix exports (`src/dlls/mscoree/mscorwks_unixexports.src`)?

We use this function in Tizen application loader for string conversion. Is there another function to use instead?

cc @alpencolt @alexander-aksenov @jkotas

[2019-04-03 09:29] yahorsi commented on #23620
The outcome for the about day of running benchmark is following:
Currently, there are few issues:

1.
Dotnet Core 3.0 does not allow to explicitly control what tier is used for jitting the code. If we add to that that dotnet benchmark, by default, dynamically computes how many warmum and real invocations/iterations are used to run benchmark we end up in the situation where benchmark result might b

[2019-04-03 10:13] noahfalk commented on #23681
Here is some lay of the land and if you've got more questions afterwards fire away : )
We've got three algorithms at least to go through:
1. Stack unwinding - Given a thread generate a list of IPs representing the code in each frame
2. Method name resolution - Given an IP, convert it to a module and name (and probably metadata token for managed code)
3. Source line resolution - for managed code, c

[2019-04-03 11:04] noahfalk opened #23684 "Feature request: Native stacks for EventPipe/LTTNG"
Historically ETW offered native stacks for events whereas neither of our offerings on Linux do. For many events triggered by EventSource or for managed CPU analysis this isn't a big deal, but for analyzing runtime events native stacks can be invaluable. We would need to investigate what mechanisms we have available to collect native stackwalks on demand from within the process as well as any symbo

[2019-04-03 11:09] jkotas commented on #22974
This is not just about the JIT. There are number of places that would need to be fixed in VM as well for consistency, e.g. https://github.com/dotnet/coreclr/blob/master/src/vm/clrvarargs.cpp:
- `CalcVaListSize` and `MarshalToUnmanagedVaList` would need to promote too
- `MarshalToManagedVaList` would not round-trip anymore and I am not sure how we would fix that

My point is that vararg support is

[2019-04-03 11:18] chrishaly commented on #23541
@juliusfriedman

patch method pointer is good for some case, however it's only suite for method is non virtual, non generic, not in generic type, not inlined so cannot using in some scenarios.

TypeLoader-like solution is better.

The focus is .Net CoreFx should make a official stable managed specification that suite for different scenarios .net core and .net framework, windows and linux.

[2019-04-03 11:19] jkotas commented on #23683
These exports are meant to be used by ` System.Private.CoreLib` only. We are removing them as CoreLib keeps using less of them.

Why do you need to convert strings to UTF16 in the Tizen application loader? Can you use the "Unix hosting APIs" that take UTF8 strings? https://github.com/dotnet/coreclr/blob/master/src/dlls/mscoree/mscorwks_unixexports.src#L2

[2019-04-03 11:21] #23583 closed

[2019-04-03 11:32] the-black-wolf opened #23685 "Edit and Continue support in Linux"
What is the current state of this feature? I always sort of assumed that Roslyn was on par between platforms seeing as core was designed from ground up to be multi-platform, but I just found out that EnC apparently does not work on Linux and that Rider is passing the blame to lack of underlying support.
Its not really a show stopper, but where exactly are we with this? Is there some Linux architec

[2019-04-03 12:00] gbalykov commented on #23683
We use `MultiByteToWideChar` to pass argument to `SetEnvironmentVariableW`, which sets environment variable just before the call to `coreclr_execute_assembly`. These are the only two functions we use, which are not from "Unix hosting API".

What should be the correct approach here?

[2019-04-03 12:19] janvorli commented on #23683
@gbalykov could you call linux setenv function before calling `coreclr_initialize`? The PAL initialization copies all the env variables from the system environment into its local data structures.

[2019-04-03 12:43] janvorli commented on #23684
The runtime has PAL_VirtualUnwind function that can unwind native frames. It uses the libunwind under the covers. It is used e.g. in Thread::VirtualUnwindToFirstManagedCallFrame.

[2019-04-03 13:08] RussKeldorph commented on #23682
@jkoritzinsky

[2019-04-03 13:51] #22998 closed

[2019-04-03 13:51] #19751 closed

[2019-04-03 13:52] RussKeldorph commented on #23649
@RUSshy I installed a daily from https://github.com/dotnet/core-sdk.

[2019-04-03 14:36] tapika commented on #23681
There is huge amount of API's and background information behind this. Studying all API's, testing and verifying that everything works when combined together is rather painful.

I have originally made memory leak detection tool, resides on sourceforge still, but just to illustrate idea.

I'm intrested in API like this:

https://sourceforge.net/p/diagnostic/svn/HEAD/tree/src/ResolveStack.h

CaptureS

[2019-04-03 14:44] RussKeldorph commented on #16537
@sywhang Let me know if you want access to a Linux/ARM64 machine.  We have one you can use.

[2019-04-03 14:46] RussKeldorph commented on #16544
@adityamandaleeka Is this likely to be implemented for 3.0?  If not, could you move it to Future?

[2019-04-03 14:57] jashook commented on #22974
If I remember correctly our calling convention doc calls out that we do pass in-promoted types. Following convention here imo would be breaking any existing back compact we support.

My preference would be to continue supporting passing un promoted types and change any test which has a native non managed c++ component to just use promoted types explicitly

[2019-04-03 15:20] RussKeldorph commented on #23685
@dotnet/dotnet-diag

[2019-04-03 15:42] tommcdon commented on #23620
cc @kouvel

[2019-04-03 15:51] jashook commented on #21022
Duplicate of #23034

[2019-04-03 15:51] #21022 closed

[2019-04-03 15:51] omajid opened #23689 "utf8.cpp returns the address of a stack variable"
https://github.com/dotnet/coreclr/blob/dffb3d30790131166c848283947125c59e428f38/src/pal/src/locale/utf8.cpp#L1242 returns the address of stack variable `bytes` via `byteUnknown`.

The variable is initialized here: https://github.com/dotnet/coreclr/blob/dffb3d30790131166c848283947125c59e428f38/src/pal/src/locale/utf8.cpp#L1174

 This looks like a bug porting the original code from C# to C.

cc @tmd

[2019-04-03 16:06] CarolEidt commented on #20379
As discussed in #23673, we should also unify the `JITDUMP` output for recognizing hardware intrinsics, to make it easier to track down issues.

[2019-04-03 16:09] tannergooding commented on #20379
I'll take a look at this after https://github.com/dotnet/coreclr/pull/23673 and https://github.com/dotnet/coreclr/pull/23674 are merged.

[2019-04-03 16:15] jkoritzinsky commented on #23682
I don't know how the outerloop builds on my PR didn't catch this. Should be able to fix this quickly.

[2019-04-03 16:17] RussKeldorph commented on #23689
@janvorli

[2019-04-03 16:18] yahorsi commented on #23620
Additionally,  I think there are scenarios when someone might want to explicitly  control jit optimisation level. So it make sense to consider adding e.g. switch to the dotnet.exe like usully -o to control it explicitly :)

[2019-04-03 16:19] janvorli commented on #23621
I've been looking into it today. When I build coreclr directly on the arm64 Alpine 3.9 on RPI3, the issue is not present. When using crossbuild, the symbols are missing. I've used the same clang version 5.0.2 in both cases. My guess is that it is caused by older binutils. On Alpine there is version 2.31, for crossbuild we use version 2.27 (that we build ourselves from sources during docker image c

[2019-04-03 16:26] echesakovMSFT commented on #23621
@janvorli Can you please point me at where we are building binutils during Docker image creation? https://github.com/dotnet/dotnet-buildtools-prereqs-docker/blob/master/src/alpine/3.6/WithNode/amd64/Dockerfile

[2019-04-03 16:29] jashook commented on #23621
https://github.com/dotnet/dotnet-buildtools-prereqs-docker/blob/master/src/ubuntu/16.04/cross/arm64-alpine/Dockerfile#L13

[2019-04-03 16:35] jkotas commented on #23683
Also, what is the environment that you are setting? Another option may be to pass the piece of data as  key/value pair and fetching it using `AppContext.GetData` on the managed side.

[2019-04-03 16:59] echesakovMSFT commented on #23621
I see that we are building binutils.2.27 but I wonder why ld.gold then reports 2.26.1
[code]
I am using this image ubuntu-16.04-cross-arm64-alpine10fcdcf-20190208200917

[2019-04-03 17:01] janvorli commented on #23621
This is not the ld.gold that's being used. The /usr/bin/aarch64-alpine-linux-musl-ld.gold is the one.

[2019-04-03 17:02] #23393 closed

[2019-04-03 17:02] echesakovMSFT commented on #23621
@janvorli I see - thanks

[2019-04-03 17:22] janvorli commented on #23621
I can confirm that the cross build with the updated binutils works. There are no missing symbols.

I've noticed an additional problem with the way we build the binutils. We were building them without plugin support, so the LTO was turned off. It is just a matter of adding the `--enable-plugins=yes` option to the configure command line when building binutils.

[2019-04-03 17:24] janvorli commented on #23621
@echesakovMSFT are you going to update the Dockerfile or would you like me to do that?

[2019-04-03 17:25] echesakovMSFT commented on #23621
@janvorli Can you please update the Dockerfile and as soon the image is pushed to registry I will update the yaml files and run testing in Helix using the new image

[2019-04-03 17:26] wfurt commented on #21677
I see occasional failures on Fedora.28 and Ubuntu 18.04 (both x64)
There were some recent changes (last 3ish month) but this is probably test bug and it is not arm specific.

[2019-04-03 17:26] janvorli commented on #23621
Sure, I will do it right away.

[2019-04-03 17:27] echesakovMSFT commented on #23621
@janvorli Thank you for finding the root cause

[2019-04-03 17:27] AndyAyersMS commented on #23620
cc @adamsitnik

BDN tries to ensure we are measuring the most performant versions of code. If that is not working in this case, we should understand why.

There are also challenges in reliably measuring very short execution time operations, and that may be the case here -- we should look into exactly what code BDN is timing, and say, whether the jit is spoiling efforts to increase the duration of

[2019-04-03 17:27] RussKeldorph opened #23693 "Assert failure(PID 35825 [0x00008bf1], Thread: 35825 [0x8bf1]): Assertion failed 'addr->IsLocalAddrExpr() == nullptr' in 'C:Test64Bit(int):int'"
I found this on ARM64, but it repros all over the place.  @CarolEidt I think this is caused by #23570.

**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_ubuntu16.04_jitstress2_jitstressregs2_tst/157/testReport/junit/JIT_Regression/_JitBlue_DevDiv_278523_DevDiv_278523_DevDiv_278523_/_JitBlue_DevDiv_278523_DevDiv_278523_DevDiv_278523_sh/

**Failed test:

[2019-04-03 17:27] echesakovMSFT commented on #23621
Do you know technical details of what was wrong with the older linker?

[2019-04-03 17:29] VSadov commented on #22366
I am re-running the test in a loop in two sessions on the same machine. Let's see if there are any repros.

[2019-04-03 17:30] wfurt commented on #21427
can we re-run this test again @sandreenko ? Corefx tests do not manipulate CLR variables in any way and this does not seems specific HTTP issue.

[2019-04-03 17:31] janvorli commented on #23621
I don't. Looking at the objdump -t output, I could see that most of the symbols were marked with ".hidden" and there were much less symbols than in the build I've built directly on Alpine ARM64.  I have guessed that the linker is most likely the culprit based on these differences. I am not sure what the marking really means though.

[2019-04-03 17:31] RussKeldorph commented on #23693
@dotnet/jit-contrib

[2019-04-03 17:49] adityamandaleeka commented on #16544
@RussKeldorph I do believe this will make it in. I implemented it last week and am just waiting to get some more perf data before I make the go/no-go call.

If that doesn't happen today or tomorrow, I'll go ahead and move this to future.

[2019-04-03 17:50] stephentoub opened #23694 "Need to teach IL linker to strip `[Nullable]` attribute from implementation assemblies"
It appears the `[Nullable(…)]` attributes generated by the compiler for the nullable annotations aren't being stripped out by the linker.  Having annotated ~25% of corelib, it appears the attributes are contributing around a 2% size increase for the assembly.  We need to teach the linker to remove the attributes from the implementation assembly for shipping.

cc: @jaredpar, @dotnet/nullablefc, @jk

[2019-04-03 17:53] jaredpar commented on #23694
Is there a reason we'd stop with only `[Nullable]`? If we're doing this work I think it would make sense to strip out all compiler metadata: `dynamic`, `readonly`, etc ...

[2019-04-03 17:56] RussKeldorph commented on #23694
@jeffschwMSFT @sbomer @swaroop-sridhar

[2019-04-03 17:58] wfurt commented on #21676
This may be related to https://github.com/dotnet/corefx/issues/35191
It seems like we give up on fixing this code. I don't think this should block.

cc: @karelz

[2019-04-03 18:01] wfurt commented on #23646
yes, this depends on external services and we lately see many failures either one just like this or getting 500 internal error from Azure.

One way for coreclr to get more stable runs is to exclude OutLoop tests. For networking that should exclude all external and unreliable tests.

[2019-04-03 18:01] karelz commented on #21676
Agreed, closing as Won't Fix.

[2019-04-03 18:01] #21676 closed

[2019-04-03 18:06] wfurt commented on #23445
This test is failing often across Window, OSX and Linux (228 failures in last 90 days) and it does not seems arch specific.

[2019-04-03 18:07] stephentoub commented on #23694
No, we should do that, too (I hope we don't use `dynamic` anywhere in corelib, but we certainly have `IsReadOnlyAttribute`s). I only noticed this in the context of [Nullable].

[2019-04-03 18:13] wfurt commented on #23242
I don't see any failures for corefx runs. (x64, arm or arm64)

[2019-04-03 18:13] #22902 closed

[2019-04-03 18:16] jeffschwMSFT commented on #23694
Our initial goal for the linker is to enable it as part of the sdk by default.  I have initially marked this issue for consideration for .NET Core 3.0.  For my knowledge, the linker that corefex uses is a private copy in the toolset, correct?

[2019-04-03 18:17] wfurt commented on #20246
I don't see any failures in corefx runs.

[2019-04-03 18:22] jkotas commented on #23694
I do not think readonly and nullable are same category:
- readonly is part of the type system (for some of the definition of type system). It affects binding, existing dynamic binders are aware of them. If you strip them in dependencies, your program will no longer compile - there is no way to ignore them.
- Nullable annotations are in the same family as `SuppressMessageAttribute` or `ObsoleteAttr

[2019-04-03 18:24] stephentoub commented on #23694
That's true, but if we're talking about implementation assembly, then it shouldn't affect dependencies...

…except that I just remembered we actually do have some dependencies in corefx that bind directly against the implementation assembly rather than via the ref assembly...

...which will affect nullable as well.

[2019-04-03 18:25] sbomer commented on #23694
@jeffschwMSFT coreclr and corefx depend directly on a specific version of the linker:
- Coreclr: https://github.com/dotnet/coreclr/blob/769850c7426c1e358157e288e04ebe3e6b391467/dependencies.props#L58
- Corefx: https://github.com/dotnet/corefx/blob/2be1075a381c11330907392951813c7bbab8b1ad/external/ILLink/ILLink.depproj#L7

[2019-04-03 18:26] safern commented on #23694
What about corefx libraries that have a reference from runtime into corelib from the nullability perspective, they would loose all the nullable annotations from corelib so the data flow analysis would be incomplete when annotating those libraries?

[2019-04-03 18:29] jaredpar commented on #23694
@terrajobst will this affect the desire to have nullability surfaced in the reflection APIs?

[2019-04-03 18:30] jkotas commented on #23694
We would need to include two copies of CoreLib in the transport package: One with the annotations to compile the CoreFX against (verify that the annotations in refs match implementation, etc.), and second one without the annotations that we actually ship.

[2019-04-03 18:43] stephentoub commented on #23694
@jaredpar, related but separate, is it also possible for the compiler to emit less attribution? e.g. why does it emit attributes on privates... is that in order to enable reflection as you suggest?

For reference, for this input:
[code]
this is what I see in the IL:
[code]

[2019-04-03 18:48] jaredpar commented on #23694
@stephentoub

Simplicity of implementation, lack of motivating reason to change. There is no functional reason for the compiler to emit them, or other compiler attributes, on private members. If there was a significant reasaon to do so and we decided against reflection I believe it would be fine to omit them in some cases.

[2019-04-03 19:16] sandreenko commented on #21739
The test was not excluded and was running in CI. I have not seen it failing last 5 weeks, Feel free to reopen the issue if you see it again.

[2019-04-03 19:16] #21739 closed

[2019-04-03 19:17] sandreenko commented on #21744
We do not have altjit jobs anymore. If you see such timeout error on bare metal please open a new issue.

[2019-04-03 19:17] #21744 closed

[2019-04-03 19:20] janvorli commented on #23228
@thewilsonator have you figured out the issue and so this issue can be closed or will you need more help here?

[2019-04-03 19:21] sandreenko commented on #22262
@tannergooding could you please give an update about this issue? As I understand it was fixed and we need to delete test exclusions from  tests\CoreFX\CoreFX.issues.json for System.Buffers.Text.Tests.FormatterTests .

[2019-04-03 19:34] sandreenko commented on #22316
The test was not excluded and was running green last month.

[2019-04-03 19:34] #22316 closed

[2019-04-03 19:35] danmosemsft commented on #22316
I have a bit less time to look at tests than I have in the past, it would probably be good to tag @wfurt normally as he's looking at the tests more than anyone right now. Unless you have someone more specific..

[2019-04-03 19:39] sandreenko commented on #22379
The test was excluded in https://github.com/dotnet/coreclr/pull/22695.

[2019-04-03 19:49] tannergooding commented on #22262
The CoreFX side has already been fixed. But, unless we are now running tests against live bits of CoreFX (or an updated snapshot that contains the fix), there isn't much we can do here.

[2019-04-03 20:04] sandreenko commented on #22262
@tannergooding thanks, I did not realize that the last snapshot update was more then 4 months ago.

[2019-04-03 20:08] tannergooding commented on #18277
It might be worth noting that the current Intel® 64 and IA-32 Architectures Optimization Reference Manual (April 2019) actually suggests spilling general-purpose registers to XMM registers (I also see this suggestion in the April 2018 edition, but didn't dive further back).

![image](https://user-images.githubusercontent.com/10487869/55509720-73dff280-5611-11e9-8404-786b92160f6b.png)

[2019-04-03 20:13] Tornhoof commented on #23694
Would stripping the Attributes affect the merhods described by @RicoSuter in https://blog.rsuter.com/the-output-of-nullable-reference-types-and-how-to-reflect-it/?

[2019-04-03 20:21] stephentoub commented on #23694
Yes, removing the attributes would remove the ability to reflect over the attributes.  That's what @jaredpar was asking about earlier.

[2019-04-03 20:21] sandreenko commented on #22615
The test was disabled in #22697.

[2019-04-03 20:22] stephentoub commented on #23694
If we decide not to strip nullable attributes on exported members, we should at least do so for internals/privates.

[2019-04-03 20:23] terrajobst commented on #23694
@jaredpar

I understand why the compiler needs to emit `[Nullable]` attribute on all types, due to the fact that we need to differentiate between oblivious and non-null. However, once the entire module is annotated (i.e. the global nullable option is on), could the compile instead mark the ~~asssembly~~ module as annotated? This way, we'd only need to annotate cases where the declaration differs f

[2019-04-03 20:33] sandreenko commented on #22989
The test was running green last month. Probably it was a temporary async between CoreCLR and CoreFX.

[2019-04-03 20:33] #22989 closed

[2019-04-03 20:39] echesakovMSFT opened #23701 "Add Azure Pipelines build definition that can be customized via UI"
In addition to the way we run stress scenarios right now where multiple architectures and multiple scenarios are triggered by a build definition we can have a separate mechanism (a separate build definition) that can be triggered manually via Azure Pipelines UI (i.e. by clicking Queue button on page https://dev.azure.com/dnceng/public/_build?definitionId=228)

This gives us an ability to declare a

[2019-04-03 20:42] jaredpar commented on #23694
@terrajobst

Sure the implementation could be tweaked various ways based on usage patterns. It doesn't even need to be the global setting. It is more of a question of:

The code generation strategy can be tweaked either direction based on that.

[2019-04-03 20:47] stephentoub commented on #23694
Even if we reduce the "bloat", we should still at least remove the unnecessary remaining attributes with the linker, as we do with other dead code. Unnecessary may just be internal/private if the compiler persists in generating those.

[2019-04-03 20:55] bording commented on #23564
@jeffschwMSFT Were you able to take a look at my repro code? Why does the `LoadFrom` call alter the `GetType` behavior?

[2019-04-03 21:02] Maoni0 commented on #17129
I'm gonna close this - this is a very low value test and I don't think it was likely due to the GC.

[2019-04-03 21:02] #17129 closed

[2019-04-03 21:08] #23464 closed

[2019-04-03 21:11] BruceForstall commented on #17129
@Maoni0 The test is disabled for all Linux/arm32/arm64 runs, but enabled elsewhere. Is that how you would like to leave it? It wasn't clear to me from your comment above if perhaps you thought it should be deleted for all platforms.

[2019-04-03 21:17] Maoni0 commented on #17129
@BruceForstall I would not be opposed to disabling/deleting it everywhere.

[2019-04-03 21:20] sdmaclea commented on #22213
I looked through the audit above.  I don't see any new APIs which should be reflection context sensitive. I'm going to mark the comment as resolved.

[2019-04-03 21:22] #22974 closed

[2019-04-03 21:24] AndyAyersMS commented on #23648
I'll take a look at this.

[2019-04-03 21:33] #23669 closed

[2019-04-03 21:43] sdmaclea commented on #23564
@bording

`Assembly.LoadFrom` on .NET Core, is installing an event handler to look for dependent assemblies next to the Loaded assembly to resolve its dependencies. Apparently that is circumventing the Version check.

[2019-04-03 21:45] sdmaclea commented on #23564
@jkotas @vitek-karas

We could probably "fix" the LoadFrom resolve handler to not ignore the version in 3.0, but this would be a behavior change.  Opinions?

[2019-04-03 21:49] bording commented on #23564
So this would be making .NET Core always have different behavior than the .NET Framework?

I'm curious as to why it's okay for the .NET Framework to work the way it does, but makes that undesirable behavior for .NET Core.

[2019-04-03 21:49] jeffschwMSFT commented on #23564
Sorry for the delay @bording.

Thanks @sdmaclea.

Assembly.LoadFrom has a hand crafted set of expectations coming from desktop, even though this is seemingly inconsistent, I would think we should keep it as it is.

.NET Core has a vastly simplified binding model.  The version check seems common sense and good hygiene, so we have kept it.

[2019-04-03 21:50] sdmaclea commented on #22812
This is a duplicate of #22494

[2019-04-03 21:50] #22812 closed

[2019-04-03 21:58] omajid commented on #209
If anyone ends up here looking for the definition, the new glossary is at: https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/glossary.md

[2019-04-03 21:59] bording commented on #23564
The thing that I'm still not sure I agree with here is that in this scenario, .NET Core is the one being more restrictive, despite it having the simpler binding model.  .NET Framework is perfectly happy to return a type for the third `GetType` call, but .NET Core throws an exception.

[2019-04-03 21:59] BruceForstall commented on #23538
Call stack:
[code]

[2019-04-03 22:03] VSadov commented on #22366
The test was re-running for hours without a single repro. Closing.

[2019-04-03 22:06] RussKeldorph commented on #23646
@wfurt We'd prefer to retain as much *reliable* coverage as possible.  Any idea what fraction of outerloop tests are reliable?  If most of them are, I wonder if it would be worth separating the reliable ones from the unreliable ones with another attribute we could use to differentiate.

[2019-04-03 22:13] jeffschwMSFT commented on #23564
I appreciate having the simplified repro to help demonstrate the underlying difference, but was the original reason to notice that we fail to load assemblies with a higher version than requested?

[2019-04-03 22:16] jkotas commented on #23564
.NET Framework did not respect assembly versions some of the time. It was a bug in .NET Framework that is fixed in .NET Core.

[2019-04-03 22:45] RussKeldorph commented on #22366
@VSadov Note that the job is r2r (ReadyToRun).  Did you make sure the framework assemblies and test were crossgened when you were trying to repro?

[2019-04-03 22:47] VSadov commented on #22366
Hmm, I did not notice that. Will have to reopen then.

[2019-04-03 22:50] RussKeldorph commented on #22366
@VSadov Check the build log for the sequence of commands used to repro.  It's not pretty right now, but runtest.py should have the logic to get the framework crossgen'd, and setting `RunCrossGen` in the environment should get the test itself crossgen'd.

[2019-04-03 22:51] bording commented on #23564
@jeffschwMSFT We had a customer open a support case about why they were seeing a failure in their system when they were moving from .NET Framework to .NET Core, and I tracked it down to this root cause.

It's basically a serialization scenario where two applications were using different versions of a contract assembly to pass messages. The sender app was using a newer version of the assembly than

[2019-04-03 22:52] sandreenko commented on #18913
Link https://github.com/dotnet/coreclr/pull/18917 where it was disabled.

[2019-04-03 23:05] jeffschwMSFT commented on #23564
That is a common scenario, particularity having multiple versions of an assembly that only differ based on version.  Do you have enough information to help get it back to a working state?

[2019-04-03 23:21] BruceForstall commented on #14113
There is also page tickling done with `genLclHeap()` that should do the same thing.

[2019-04-03 23:39] tannergooding commented on #23408
Seems this works against 2.9.0 and current `master` bits for both `typeof(T*)` (when T is properly constrained) and things like `typeof(int*)` or `typeof(MyStruct*)` (when MyStruct is unmanaged): https://sharplab.io/#v2:D4AQDABCCMDcCwAoEBmKAmCBhAPAFQD4IB3ACwFMAnciPCALggFcA7AWwEMWOBzcgEwgBvJBDFQ0IACwQAsgAoAlMNHi1MAJzyALgE8ADuQD2AM3l4AVIsUJEagL5J7QA===

Not sure what lead me to believe it wasn't wor

[2019-04-03 23:43] AndyAyersMS commented on #23648
This did not repro for me locally. Let me see if CI can repro.

https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_r2r_jitstress2_flow/35/

[2019-04-03 23:46] VSadov commented on #22366
re-running with a crossgenned version.

[2019-04-04 00:15] #23672 closed

[2019-04-04 00:16] ahsonkhan opened #23707 "Can slicing a Memory<T> be made faster by the JIT by eliding the call to write barrier"
Slicing a memory does not modify the underlying object it points to. It only modifies the index/length. However, it does create a new memory and hence has to set the object field.

This causes memory slicing to be slower since the JIT injects a call to write barrier. It makes methods like below no longer leaf methods, and hence a stack frame gets added as well.

[code]

**Can the JIT elide the cal

[2019-04-04 00:31] stephentoub commented on #23707
What results are you getting?

[2019-04-04 00:35] VSadov commented on #22366
passed 5000x2 times.

[2019-04-04 00:35] #22366 closed

[2019-04-04 00:42] VSadov commented on #22366
Return code:      137    points that it was likely caused by OOM.
And most likely it is due too many tests running in a too small environment at once, especially if some perform crossgen.
There is an issues for that - https://github.com/dotnet/coreclr/issues/22010

Still wanted to be sure it is not a separate bug or a test issue. - Just in case since this involves threading and some such tests did

[2019-04-04 00:44] bording commented on #23564
I agree, which is why I surprised by the difference in behavior here. I still feel like the .NET Framework behavior is more desirable, especially when you consider that you can make .NET Core match the .NET Framework behavior with the `LoadFrom` call.

If .NET Core is going to throw in some cases, it really does seem like it should do it in all cases. The fact that `LoadFrom` alters the behavior m

[2019-04-04 00:45] fadimounir commented on #2191
@janvorli I'm assigning this to you since you're working on collectible assemblies currently

[2019-04-04 00:47] ahsonkhan commented on #23707
Sorry, forgot to add that. Updated.

I can provide the perf numbers of slicing in the utf8jsonwriter.advance as well (it becomes quite expensive since that method is called a lot). As a workaround, I would not slice at all and store the index instead.

[2019-04-04 00:52] janvorli commented on #23621
Unfortunately, I have found that it works fine for me only because I've forgotten commented out line in the cross/toolchain.cmake that adds linker option to use the gold linker. When I enabled it again, I got the same missing symbols as before.
I now think the reason may be that we are building the binutils standalone. When I was originally adding arm64 musl support, I was building the https://git

[2019-04-04 01:01] briansull commented on #18277
We can't spill general purpose registers that hold GC-refs of Byrefs into the XMM registers,
since we don't currently support reporting such registers in the GC info. (and it would a a lot of work add such support)

[2019-04-04 01:28] AndyAyersMS commented on #23707
In the benchmark, the write barrier at the end is for copying into the return value struct. I don't see how the jit can omit that, since the jit does not know where that struct is located. A more representative test that mimics `Advance` would write back to `_memory` instead of returning a value.

For the case of `Advance`-- I think I was too optimistic earlier, and a write barrier is also require

[2019-04-04 01:29] noahfalk opened #23711 "Remove unused TRACE_LEVEL_NONE"
Just chatting with @chrisnas and his team noticed that TRACE_LEVEL_NONE is documented as "Tracing is not on" which isn't really what it means. Level 0 refers to events that will always be sent and they can not be disabled via a level-based filter. It doesn't appear any code actually uses the constant in which case we could delete it.

https://github.com/dotnet/coreclr/blob/dbf6006da52845624577f88f

[2019-04-04 01:33] VincentBu opened #23712 "[Linux/x64] "free(): invalid next size (fast): 0x00007f3218174e60""
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_ubuntu_corefx_jitstressregs1/889/

**Log:**
[code]

[2019-04-04 01:39] AriNuer opened #23713 "[x64/windows] Assert failure(PID 6612 [0x000019d4], Thread: 10600 [0x2968]): !IsTypeDesc()"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_r2r_no_tiered_compilation/74/

**Failed test:**
JIT_Directed._StructABI_StructABI_StructABI_._StructABI_StructABI_StructABI_cmd

**Failed log:**
[code]

[2019-04-04 01:41] noahfalk commented on #15693
@neerajksingh and I discussed using the COMPlus_EnableEventLog to decide whether or not coreclr loads the lttng tracepoint library [here](https://github.com/dotnet/coreclr/blob/master/src/pal/src/misc/tracepointprovider.cpp#L106). This could provide a better workaround for environments which have an older version of LTTNG which still has this issue, or if future similar issues are discovered. From

[2019-04-04 01:53] AndyAyersMS commented on #23648
Did not repro in CI either. Tried reproing locally with extra stress on the machine, but no luck there either.

[2019-04-04 04:12] GrabYourPitchforks commented on #23707
In particular, this pattern is the problematic one:

[code]

The `Memory<T>` struct consists of three fields: an object and two ints. Slicing will return a new `Memory<T>` struct _with the same object_ and two different int values. Essentially, this is a glorified `someObj._memField._backingObj = someObj._memField._backingObj;`, but JIT's control flow analysis doesn't seem to understand that a ref

[2019-04-04 04:25] jkotas commented on #23564
`Assembly.LoadFrom` is very confusing API, both in .NET Framework and .NET Core. One thing we should do here is to add a note to the docs that .NET Core behavior is best-effort simulation of .NET Framework behavior, and discourage its use.

I would recommend to stop using `Assembly.LoadFrom`.

[2019-04-04 04:40] bording commented on #23564
I wasn't considering removing `LoadFrom` usage. What is the alternative when you have a file path and need to load the assembly from disk?

[2019-04-04 04:52] jkotas commented on #23564
- `AssemblyLoadContext.Default.LoadFromAssemblyPath` if you would like to append the assembly to the default context. This will just load given assembly, without adding any extra probing rules for dependencies.
         or
- Create your own AssemblyLoadContext if you would like to load the assembly isolation (ie as a plugin - with its own copy of its dependencies).  Sample is at https://github.com

[2019-04-04 05:06] bording commented on #23564
The library in question is multi-targeted for `net452` and `netstandard2.0`, so that doesn't seem like a viable option.

[2019-04-04 05:37] Maoni0 commented on #16537
I spent hours today to get an arm64 build to work. and then it did not repro  :crying_cat_face: I will close this now.

it's by design that it's trying to allocate 46gb on a 46-proc machine.

[2019-04-04 05:37] #16537 closed

[2019-04-04 05:50] davidfowl commented on #23707
this pattern is used in a bunch of places in ASP.NET Core and in the default Pipe implementation itself (basically reference types that need to store Memory\<byte\> instead of Span because they are heapable):

- https://github.com/dotnet/corefx/blob/53c0bae174088c3653391be6cc3c74a1e1f353c1/src/System.IO.Pipelines/src/System/IO/Pipelines/Pipe.cs#L328
- https://github.com/aspnet/AspNetCore/blob/722a

[2019-04-04 05:55] noahfalk commented on #23685
Its primarily an issue of work and priorities rather than any architectural limitation as far as I know, and most of the work is probably in the testing. All our existing EnC tests use an old version of ildasm written in C++ against the win32 API and the classic Windows-only PDB format/APIs so we can't easily run them on Linux. Some options moving forward are that we rewrite the tests entirely or

[2019-04-04 06:30] AndyAyersMS commented on #23707
My concern is something like the following... maybe it is overblown?

Since the `Memory<T>` is a field `m` of some ref class instance `r`, it is visible cross-thread. And so it is possible between the time one thread reads the fields of `m`, computes a new struct value, and writes that back, that some other thread has reassigned `m`. I'll agree that it is hard to imagine valid programs doing this

[2019-04-04 06:38] jkotas commented on #23707
I think you would need to elide the write completely: The JIT would need to figure out that the value about to be written is same as what was read just recently and omit the write.

[2019-04-04 07:38] glenn-slayden opened #23716 "ILAsm.exe: Fail on string literals containing "... /* ..." within disabled #ifdef block"
**ILAsm.exe** incorrectly opens a C-style block comment `/*  ... */` when the opening sequence `/*` appears in a **string literal** that occurs within the disabled portion(s) of an `#ifdef ... #else ... #endif` preprocessor block.

The two code examples shown below are identical except the latter contains an `#ifdef` block illustrating the problem. The first example works correctly, but the second

[2019-04-04 08:49] martincostello commented on #21450
Is this likely to be addressed as part of the 3.0 release? It's currently a blocker to use of in-process hosting for a number of applications I help maintain.

[2019-04-04 08:56] lindexi opened #23724 "Why ICollectionDebugView name as a naming conventions of interface but it is a class"
The ICollectionDebugView is a class which name is start with `I` that is the naming conventions of interface.

https://github.com/dotnet/corefx/blob/184089d748b705438a117002143ebb4429ce0d97/src/Common/src/CoreLib/System/Collections/Generic/ICollectionDebugView.cs#L9

[2019-04-04 10:12] GPSnoopy commented on #23132
@GrabYourPitchforks interesting facts about the GC. I wasn't aware of such limitations.

A `LargeArray<T>` class could be a temporary solution. My main concern is that it would stay a very niche class with no interoperability with the rest of the .NET ecosystem, and ultimately would be an evolutionary dead end. I do like the idea of `nuint`/`nint` though.

My gut feeling is that `Array`, `String`

[2019-04-04 10:14] vitek-karas commented on #23564
If you want the "ignore version" behavior (which I would not recommend as it may lead to other issues if the assemblies are actually different), you can achieve this by adding a handler to the `AppDomain.CurrentDomain.AssemblyResolve` and use `Assembly.Load(simplename)` (stripping the version information from the assembly name). Such code should work the same on core and framework.

You might be a

[2019-04-04 12:12] janvorli commented on #2191
This issue no longer exists. I've removed this limitation in the past while working on unloadability.

[2019-04-04 12:12] #2191 closed

[2019-04-04 14:06] janvorli commented on #23621
I've spent quite some time today investigating the issue. I've tried:
* use the binutils built from the  https://github.com/richfelker/musl-cross-make repo
* use the binutils 2.31.1 built with additional options that I've found being used during binutils-gold package build in the Alpine repo
* add "-z now -z relro" options to clang linker options (as the clang in Alpine repo is built with those se

[2019-04-04 14:41] sdmaclea commented on #21450
@vitek-karas @elinor-fung Can we add this to the new native hosting API proposal? See https://github.com/dotnet/coreclr/issues/21450#issuecomment-455114478

[2019-04-04 14:46] RussKeldorph commented on #23716
Thanks.  Very nice analysis.  I assume it's been that way forever, so not a high priority to fix, but we'll probably accept a PR for it.

[2019-04-04 14:51] vitek-karas commented on #21450
The native hosting proposed in dotnet/core-setup#5336 will make it possible for the ASP.NET host to set a runtime property.
It is absolutely possible to consume runtime properties during PAL intialization. `coreclr_initialize` currently takes a parameter with the path to the `exe` which is used during PAL initialization. We can relatively easily query the properties collection passed to `coreclr_i

[2019-04-04 14:54] tannergooding opened #23720 "Consider providing nightly checked builds of CoreCLR"
The checked builds of CoreCLR provide a lot of configuration knobs that are useful for diagnosing issues, testing code, and generating disassembly output. However, to get access to these configuration knobs you currently have to build CoreCLR locally.

I propose that we begin making nightly checked builds of CoreCLR available so that developers have an easy mechanism from which to gain access to t

[2019-04-04 15:26] fadimounir commented on #23713
Taking a look

[2019-04-04 15:28] Doraku opened #23722 "Unmanaged generic constrained not respected at runtime"
I'm not sure this is the right place but I have encountered something strange (while doing something strange I'll give you that). It seems the `unmanaged` generic constrain which is applied correctly at compile time is not checked at runtime if you were to use reflection to create a generic type with a declaration as such.

This is a small code to reproduce the unexpected behaviour:
[code]

I trie

[2019-04-04 15:40] sdmaclea commented on #21450
@martincostello This should make 3.0

[2019-04-04 15:52] GrabYourPitchforks commented on #23722
Just a quick heads up - "unmanaged" doesn't mean that a type can be blittably serialized. It just means that the type contains no reference fields.

"Unmanaged" types are not guaranteed to have the same internal field layouts across versions of the runtime, meaning that on the receiving end you could be deserializing bad data. Additionally, unsafe casting bypasses the normal validation checks a ct

[2019-04-04 16:09] tannergooding opened #23723 "Marshal.PtrToStringUTF8(IntPtr, int) has a different behavior"
The `Marshal.PtrToStringUTF8(IntPtr, int)` method has a different behavior as compared to the other `Marshal.PtrToString*(IntPtr, int)` methods.

In particular, the other `PtrToString` methods will throw if `ptr == IntPtr.Zero`. However, `PtrToStringUTF8` will return `null`.

We should resolve these to be consistent.

[2019-04-04 16:10] tannergooding commented on #23723
It's worth noting that the `PtrToString` methods that just take `IntPtr` (and do not take a length) do return `null` for `ptr == IntPtr.Zero`.

[2019-04-04 16:10] tannergooding commented on #23723
CC. @jkoritzinsky, @jkotas, @stephentoub

[2019-04-04 16:31] #23693 closed

[2019-04-04 16:33] #23682 closed

[2019-04-04 16:42] sandreenko commented on #23693
@briansull I think it can fix some asserts that we hit in DevDiv_837706

[2019-04-04 16:47] danmosemsft commented on #23646
I assumed that essentailly all our `[OuterLoop]` tests are networking (ie if that was less relevant to runtime testing you coudl disable all outerloop) but I did a quick grep and it's only 20%. The largest part of the rest are threading/tasks/parallelism related which are probably important to keep running in CoreCLR.

We should probably do a pass at some point to identify tests that are stable, f

[2019-04-04 16:51] Doraku commented on #23722
Even so the `NonBlittable` struct contains an Object field so it definitely does not respect the `unmanaged` constrain as correctly checked at compile time.

Indeed this is something I am fine with. Data will be platform specific anyway as this is for game development. I have a json like serialisation for development which can be changed to binary optimised later on.

[2019-04-04 16:53] #18144 closed

[2019-04-04 16:54] stephentoub commented on #23724
The naming convention is generally `TypeNameDebugView`, and in this case, `TypeName` is `ICollection`, hence `ICollectionDebugView`.  It also doesn't really matter as it's an internal type.

[2019-04-04 16:54] #23724 closed

[2019-04-04 16:54] AaronRobinsonMSFT commented on #18490
@wjk Support for out-of-proc COM registration in .NET Core is probably not going to make the 3.0 release. Your proposed work around would definitely work though. As an alternative, you could also try mimicing the Running Object Table approach demoed here: https://github.com/AaronRobinsonMSFT/COMInterop/tree/master/OutOfProcDemo. This demo targets .NET Framework, but should work fine for .NET Core

[2019-04-04 16:54] echesakovMSFT opened #23727 "Add quick jit test scenarios"
@AndyAyersMS in https://github.com/dotnet/coreclr/pull/23599#issuecomment-479692911 suggested to add "quick JIT" test scenarios.

This can be
* adding `quickjit` scenario to innerloop and outerloop testing (i.e. running against PRs and commit validation). We would have 3 such scenarios in total: `normal`, `no_tiered_compilation`, `quickjit`
* adding `jitstress1_quickjit` `jitstress2_quickjit` to s

[2019-04-04 17:01] wjk commented on #18490
@AaronRobinsonMSFT I never knew you could do that. You learn something new every day. However, AFAIK Packaged COM doesn't use the ROT in this fashion. That being said, with the in-proc COM hosting scaffolding we've added, I can definitely create something that would work. Thanks!

[2019-04-04 17:05] wfurt commented on #23646
This is definitely infrastructure issue and dup of https://github.com/dotnet/corefx/issues/36220

[2019-04-04 17:05] #23646 closed

[2019-04-04 17:06] glenn-slayden commented on #23716
ILAsm currently cannot be built by outsiders due to a dependency on a Microsoft-internal tool "VCBU Internal YACC," so this might make PR more difficult...

[2019-04-04 17:08] janvorli commented on #22772
@RussKeldorph do you think this needs to be marked as blocking-3.0-preview-5? It is just a perf optimization.

[2019-04-04 17:08] GrabYourPitchforks commented on #23722
For the runtime portion of your question, see https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/proposals/csharp-7.3/blittable.

"The unmanaged constraint is not enforced by CLR, only by the language."

I suspect this is because we wanted developers to be able to use the unmanaged constraint in existing Full Framework applications, where the check is a compile time only check and t

[2019-04-04 17:11] RussKeldorph commented on #22772
@janvorli Nope.  Removed.  FYI, I applied the label indiscriminately to all ARM64 3.0 issues.  Feel free to remove it based on your judgment.

[2019-04-04 17:12] GrabYourPitchforks commented on #23722
FWIW the fact that reflection allows you to violate the "unmanaged" constraint is still fully type safe, so I cannot think of a good reason we'd introduce a change to block it.

[2019-04-04 17:31] glenn-slayden commented on #20397
dup?  https://github.com/dotnet/coreclr/issues/2306

[2019-04-04 17:33] janvorli commented on #19985
It seems that the failure we were seeing before is gone in the last run. There were issues with EventPipe stack walking in general and there were some fixes made in the meanwhile (call stacks are now recorded only for events that explicitly request it), so I assume it was fixed.

However, there is a new error in a recent test run (https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/

[2019-04-04 17:49] jkotas commented on #23723
We should sort this out in 3.0 now that `PtrToStringAuto` forwards to `PtrToStringUTF8`. It should be fine to fix `PtrToStringUTF8` to do the same arg validation as other flavors.

[2019-04-04 17:52] #23343 closed

[2019-04-04 17:56] jkoritzinsky opened #23730 "PInvoke Delegate AsInterface tests failing on master"
Looks like the PInvoke tests for marshalling a delegate as an interface just started failing on master as of build 20190404.73.

See https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcoreclr~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctional~2Fcli~2F/build/20190404.73/workItem/Interop.PInvoke/analysis/xunit/Interop_PInvoke._Delegate_MarshalDelegateAsField_AsInterface_AsInterfaceTest_A

[2019-04-04 18:03] jkoritzinsky commented on #23730
I think #23552 broke these tests. The last commit of #23552 didn't trigger Azure DevOps, but the commit before the last one had the same test failures

https://mc.dot.net/#/user/coreclr-ci/pr~2Fdotnet~2Fcoreclr~2Frefs~2Fpull~2F23552~2Fmerge/test~2Ffunctional~2Fcli~2F/20190329.762/workItem/Interop.PInvoke/analysis/xunit/Interop_PInvoke._Delegate_MarshalDelegateAsField_AsInterface_AsInterfaceTest_As

[2019-04-04 18:11] BruceForstall commented on #19985
@janvorli That assertion existed in the baseline (non-stress) and has been fixed. I kicked off a new gcstress3 run to see the current state of that: https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_ubuntu16.04_gcstress0x3_flow/32/

If that succeeds (or only has known or baseline failures), then you could close this issue.

[2019-04-04 18:11] jkoritzinsky commented on #23730
cc: @AaronRobinsonMSFT @jeffschwMSFT

[2019-04-04 18:21] RussKeldorph commented on #23716
@glenn-slayden #2305 has some info on using `btyacc` to prototype a fix.  If the PR is otherwise correct, we'd be happy to regenerate the yacc output using the internal tool if we have to.  Obviously, we should figure out how to fix this yacc dependency, but it's not high on the priority list, unfortunately.

[2019-04-04 18:28] BruceForstall commented on #23712
@danmosemsft @janvorli Have you seen this? Looks like someone corrupted the C++ heap. I kicked off https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_ubuntu_corefx_jitstressregs1/890/ to see if it repros.

[2019-04-04 18:34] danmosemsft commented on #23712
No

[2019-04-04 18:43] janvorli commented on #23712
I have not seen this before. I'll try to repro it locally.

[2019-04-04 18:55] echesakovMSFT commented on #23621
Fixed in https://github.com/dotnet/coreclr/pull/23721

[2019-04-04 18:55] #23621 closed

[2019-04-04 19:03] sywhang opened #23736 "WorkingSet runtime counter uses reflection"
Currently, the working set runtime counter is using `Environment.WorkingSet` which internally uses reflection of System.Diagnostics.Process.dll to get the working set size. This may affect perf so it would be better to do what other runtime counters are doing to avoid reflection (copying over relevant code to `RuntimeEventSourceHelper` class). Not a high priority so leaving it out of 3.0 scope for

[2019-04-04 19:09] glenn-slayden commented on #23716
Fixing this may be subtle. The current **ILAsm** behavior is that block-style comments `/* ... */` generally trump everything. For the particular case here, `/*  #if...  */` will always vacate the preprocessor directive (regardless of, i.e., sequential order-of-appearance between the two). Though perhaps not entirely ideal, this greedy design is at least defensible.

But I digress. As described in

[2019-04-04 19:29] glenn-slayden commented on #23716
Actually, I'd say that **IL(D)Asm** are both long overdue for full modernization / re-implementation from scratch in C#.

[2019-04-04 20:58] daniel-levin opened #23741 "VS2017 does not work with CMake files, EventPipe directory config is broken"
Hi all,

I am trying to generate the CMake cache with Visual Studio 2017. My CMakeSettings.json file looks like:

[code]

but the following error is persistent:

[code]

The `/build/$name/Eventing/eventpipe` directory is not being created. Please can someone help me find out where or how it should be created? If I modify the `src/vm/CMakeLists.txt:921` to create the directory (so the subdirectory

[2019-04-04 21:07] VSadov commented on #22288
I have re-run this on a lab machine 5000 times concurrently with another session also re-running the test 5000 times.
There were no failures.

[2019-04-04 21:11] CarolEidt commented on #17568
As much as I'd like to see us improve this for 3.0, I think it will have to be deferred to future.

[2019-04-04 21:11] sandreenko commented on #18913
I was not able to repro that issue (1000 runs, with/without stress load).

It looks like another instance of the shutdown race issue, there are many instances of it (https://github.com/dotnet/coreclr/search?q=shutdown&type=Issues). It is not arm64 specific and it is not test specific, I think it should not block preview.

@marklio I was told that you can be interested in such kind of issues where

[2019-04-04 21:46] tommcdon commented on #23112
Not officially supported in 2.2, and being replaced in 3.0 by IPC based streaming of events through dotnet-trace.

[2019-04-04 21:46] #23112 closed

[2019-04-04 21:47] tommcdon commented on #23024
@cshung please reference PR and close

[2019-04-04 21:48] RussKeldorph commented on #23741
FWIW, I don't think we put much effort into working with VS like this, so YMMV.  I think https://github.com/dotnet/coreclr/blob/29dc90c13a5d091c21e21e4ba5d3c4bcd3eab18d/build.cmd#L450 is related, but I'm not terribly familiar with it.  @brianrob may know more.

[2019-04-04 21:48] #22288 closed

[2019-04-04 21:51] tommcdon commented on #22502
@cshung can Noah's fix be merged for this issue?

[2019-04-04 21:53] tommcdon commented on #22267
@jorive is this a singleton leak or is there growth over time?

[2019-04-04 21:55] tommcdon commented on #22259
@cshung this may be related to #22502

[2019-04-04 21:58] tommcdon commented on #21871
duplicate to #23124

[2019-04-04 21:58] #21871 closed

[2019-04-04 21:59] brianrob commented on #23741
Yup, there are a handful of directories/files that are created as part of the build.  The various CMake files reference them, but they don't get created until build.cmd is invoked.  This is one such place.

[2019-04-04 22:01] tommcdon commented on #21027
@jorive can this be closed

[2019-04-04 22:12] sandreenko commented on #23624
I have checked some simple tests without threads/GC and they show the same instability. I think this should be in 3.0.

[2019-04-04 22:26] marklio commented on #18913
Thanks. I am definitely interested in reliability issues. What evidence points to this being linked to the general "callbacks during shutdown" issue? Is it the stack? That stack looks bogus (like no/wrong symbols. The offsets are large, and the call patterns don't make sense). I'm still ramping up on digging into GitHub issues. I'm assuming there's no additional information other than this issue?

[2019-04-04 22:34] jkoritzinsky commented on #23741
Issue #2486 is tracking moving the EventPipe generated directories from being geenrated in a python script before build to being built in CMake.

[2019-04-04 22:35] jorive commented on #21027
Implemented here: https://github.com/dotnet/coreclr/pull/23448

[2019-04-04 22:35] #21027 closed

[2019-04-04 22:39] echesakovMSFT opened #23749 "[Alpine.38.Arm64] Unable to load shared library 'System.Native' or one of its dependencies"
After https://github.com/dotnet/coreclr/issues/23621 had been fixed I re-ran testing in https://github.com/dotnet/coreclr/pull/23702 and there is another issue came up with running the tests on Alpine.38.Arm64
[code]

I am going to do initial investigation so assigning to myself

/cc @janvorli @RussKeldorph

[2019-04-04 22:45] janvorli commented on #23749
My wild guess is that we have a similar problem in corefx to the one we had in coreclr. In other words, the System.Native.so has missing symbols.

[2019-04-04 22:50] echesakovMSFT commented on #23749
I think you are right
corefx has this https://github.com/dotnet/corefx/blob/871c5eae12ce339221ef0329009470c9945e34e5/cross/toolchain.cmake#L63
as well as core-setup
https://github.com/dotnet/core-setup/blob/7c5ad7177d42e70641677bd039f5d4e889832e0b/cross/toolchain.cmake#L63

[2019-04-04 22:51] echesakovMSFT commented on #23749
Are toolchain.cmake supposed to be exactly the same in all three repos?

[2019-04-04 22:52] janvorli commented on #23749
Yes. I am sorry I have not realized it before. In fact, we have already created a copy of the whole cross folder in arcade. We have it mapped in eng/common/cross. We should start using that instead so that we don't have to update the three locations every time.

[2019-04-04 23:01] echesakovMSFT commented on #23749
Looks like System.Native.so is linked against glibc
[code]

[2019-04-04 23:04] janvorli commented on #23749
Ah, so it seems we are pulling in a wrong nuget package, right?

[2019-04-04 23:05] sywhang commented on #18452
I opened https://github.com/dotnet/corefx-tools/issues/100 to track this instead of this, since it isn't really a runtime issue but more of the perfcollect script (corefx-tools is where that tool lives).

[2019-04-04 23:05] #18452 closed

[2019-04-04 23:08] echesakovMSFT commented on #23749
Yep, this one is wrong
`runtime.linux-arm64.microsoft.private.corefx.netcoreapp/4.6.0-preview4.19201.9`

I am trying to find where we define the dependency in MSBuild

[2019-04-04 23:09] jorive commented on #18659
We can now stream events out-of-proc with event pipe: https://github.com/dotnet/coreclr/pull/23448

[2019-04-04 23:09] #18659 closed

[2019-04-04 23:12] jorive commented on #18658
We can now control: `Start` writing events to file, start `Streaming` events through IPC, and `Disable` EventPipe from out-of-proc.
https://github.com/dotnet/coreclr/pull/23106
https://github.com/dotnet/coreclr/pull/23448

[2019-04-04 23:12] #18658 closed

[2019-04-04 23:19] brianrob commented on #18658
This is super-exciting!  How does one give this a try?

[2019-04-04 23:22] sandreenko commented on #18913
I think you won't see this issue again because it happened in a contracts check and it was disabled for arm64 windows. I do not know how to get any additional information for this one, I think  #11404 or #22159 are the best issues to start because they have repro steps).

I will push a PR to reenable this test and close if CI shows that it is green.

[2019-04-04 23:23] adityamandaleeka commented on #16544
PR is out: https://github.com/dotnet/coreclr/pull/23752

[2019-04-04 23:29] janvorli commented on #23741
@daniel-levin what are you trying to achieve? Our build.cmd and src\pal\tools\gen-buildsys-win.bat scripts are doing quite a lot of things to prepare parameters for cmake invocation, so replicating it is a bit complex.
If you run build.cmd, it will automatically generate VS sln / project files for the whole coreclr, so you can open those in VS after that.

[2019-04-04 23:30] Doraku commented on #23722
Reading the documentation it is indeed by design that it is only enforced in compilation... Shame, and since I am in unsafe territory I guess I can't really complain for unintended consequences :/ It may still be type safe but I can't help felling weird about ending with a non unmanaged type in a generic type with unmanaged constrain at runtime, guess I'll have to manually check if the type is rea

[2019-04-04 23:31] sandreenko commented on #18914
Now it fails with #23444.

[2019-04-04 23:37] RussKeldorph commented on #23716
@glenn-slayden I think so.  We've certainly talked about it for years.  As long as it came with sufficient tests to verify near-conformance (possibly even bug-for-bug compat in some cases) with existing tools, we'd love to get rid of this unnecessarily native baggage.  It would make it more convenient to integrate these tools into the SDK, and it would probably be easier for repos like Roslyn that

[2019-04-04 23:51] cshung commented on #23024
[This](https://github.com/dotnet/coreclr/pull/23148) PR should result in much less stack walking operation and thus make this issue go away. Care has to be taken whenever we enable stack for events though.

[2019-04-04 23:51] #23024 closed

[2019-04-05 00:05] glenn-slayden commented on #23716
FWIW, I've already established a large proof database of IL from-the-wild, and built a test harness that certifies that whole mass versus respective legacy ILAsm results at the push of a button. But as you know, an elegant and efficient modernization of the parser will require much thought and planning.

[2019-04-05 00:57] echesakovMSFT commented on #23749
When we restore **microsoft.private.corefx.netcoreapp** targeting linux-musl-arm64 the wrong **runtime.linux-arm64.microsoft.private.corefx.netcoreapp** got restored. Filed https://github.com/dotnet/corefx/issues/36617

[2019-04-05 00:59] jignparm opened #23754 "System.Numerics.Tensor, can't create with > 2G elements"
The constructor of Tensor()  class takes an int32 value, and thus cannot create large tensor objects.

https://github.com/dotnet/corefx/blob/master/src/System.Numerics.Tensors/src/System/Numerics/Tensors/Tensor.cs#L269

OnnxRuntime depends on System.Numerics.Tensor to score machine learning models, some of which produce quite large tensors. While the native C++ API can handle large tensors produce

[2019-04-05 01:04] tannergooding commented on #23754
The 2b element limitation is a fundamental one in the runtime for both `Span<T>` and `T[]`.

CC. @jkotas, @danmosemsft

[2019-04-05 01:37] #4195 closed

[2019-04-05 01:37] #4307 closed

[2019-04-05 01:37] #22016 closed

[2019-04-05 01:37] #23150 closed

[2019-04-05 02:44] sandreenko commented on #23444
Wow, that works with release CoreCLR and fails with checked, intresting.

[2019-04-05 02:57] jkotas commented on #23754
Right. Duplicate of https://github.com/dotnet/coreclr/issues/23132 that has more discussion on this topic.

[2019-04-05 02:57] #23754 closed

[2019-04-05 02:59] sywhang opened #23756 "Diagnostics IPC might not stream Events as fast as we want"
With https://github.com/dotnet/coreclr/pull/23448 we can now stream events out of proc in "real time" through IPC. However, because we currently don't touch buffers that are being written to when trying to write events through the IPC channel, when buffers aren't filling up as fast as the rate at which we poll these buffers to stream events out, we may run into situations where events get written

[2019-04-05 03:22] noahfalk commented on #18658
I don't know if we want to close this just yet? I think of this as having a public API/public protocol whereas right now we are still at private API/private protocol.

[2019-04-05 03:57] sterchelen commented on #18452
Is Microsoft planning to improve the performance metric ?
Like go, integrating in the runtime some tools to extract EASILY cpu by
instructions, memory usage (heap, garbage collection) etc.

On Fri, 5 Apr 2019, 01:05 Sung Yoon Whang, <notifications@github.com> wrote:

[2019-04-05 04:09] sywhang commented on #18452
On Windows, there is already various ways that you can get do performance analysis such as ETW and PerfView.

To make this available on all platforms that we support on .NET Core, we are actively working on various runtime support such as EventPipe, runtime performance counters, etc. This project board (https://github.com/dotnet/coreclr/projects/5) tracks the work items that we are actively workin

[2019-04-05 05:10] fabricefou commented on #18013
@jkoritzinsky, will the new VC++ compiler targeting .Net core be able to compile old c++ runtime (vc10 for example) ?
Thanks

[2019-04-05 05:56] #23730 closed

[2019-04-05 12:39] loop-evgeny opened #23760 "Provide a way to attach a managed debugger to this process or a child process"
I have a .NET Core process that starts another .NET Core process. I want to debug the child process with Visual Studio. I control the code for both processes, but still cannot do this!

Starting the parent process under the debugger is useless. Calling `System.Diagnostics.Debugger.Launch()` in the child process is useless, because that forces attaching a native debugger, not managed. Even if I che

[2019-04-05 13:02] ghbeta commented on #18013
hope we can test this with preview 4

[2019-04-05 13:47] weltkante commented on #18013
@ghbeta we are already at VS 16.0 preview 5 ... so I don't know what you mean with preview 4 ;-)

From what it [looks like](https://github.com/dotnet/wpf/pull/482) you probably can expect something for VS 16.1 preview 2, at least the comment in the WPF indicates thats their current plan.

[2019-04-05 14:54] RussKeldorph commented on #20427
Removing blocking label since this covers more than what is required.  Blocking label applies to the sub-issues.

[2019-04-05 14:57] tannergooding commented on #20427
@CarolEidt, is this still targeting 3.0 (outside of targeting it as an experimental preview)? The ARM64 APIs have already been pulled out into the OOB `System.Runtime.Intrinsics.Experimental` package on the CoreFX side.

[2019-04-05 16:08] omajid opened #23761 "module.cpp can free a pointer and then use it"
https://github.com/dotnet/coreclr/blob/73fa28f5088a9f88d1b38dd62b5f8d43c350f605/src/debug/di/module.cpp#L1994-L2003

It looks like this code can `delete pClass`, and then assign that deleted pointer to `m_pClass`.

[2019-04-05 16:28] #23689 closed

[2019-04-05 16:33] juliusfriedman commented on #23132
I guess I could palette a LargeArray but if that's going to be implemented than I hope it doesn't create a new type which is not actually an Array, IMHO it would have been much easier to address this if we would have created another sub type of Array internally instead of inventing Span however Span also solves other problems....

[2019-04-05 16:55] ambs commented on #21298
I updated my dotnet this week and I am getting this same error (and it was working before).
Some details:

[code]

My csproj has that same line: `<Project Sdk="Microsoft.NET.Sdk">`

And this error: `Microsoft.Build.Exceptions.InvalidProjectFileException: The SDK 'Microsoft.NET.Sdk' specified could not be found.`

Any hint is more than welcome.

[2019-04-05 16:57] omajid commented on #23689
Thanks for the quick fix!

[2019-04-05 16:57] ambs commented on #21298
Correction, `dotnet build` works. Just Visual Code that is now failing, no idea why.

[2019-04-05 17:32] omajid opened #23766 "assembler.cpp can use the variable instr after deleting it"
This code can `delete instr` in multiple places but still does a `instr->opcode = -1` at exit of some methods

https://github.com/dotnet/coreclr/blob/aea3b1a80d6c114e3e67bc9521bf39a8a17371d1/src/ilasm/assembler.cpp#L2044-L2060

https://github.com/dotnet/coreclr/blob/aea3b1a80d6c114e3e67bc9521bf39a8a17371d1/src/ilasm/assembler.cpp#L2070-L2082

[2019-04-05 17:39] AndyAyersMS commented on #23648
Ran a second CI run and it passed. So am going to close this as no repro.

[2019-04-05 17:39] #23648 closed

[2019-04-05 17:49] echesakovMSFT commented on #22422
The test has failed 8 times for the last week

Kusto query to see all the failures
[code]

[2019-04-05 17:50] echesakovMSFT commented on #22422
An example of the recent failure,
https://dev.azure.com/dnceng/public/_build/results?buildId=144306&view=ms.vss-test-web.build-test-results-tab

[2019-04-05 17:54] hoyosjs commented on #23760
@dotnet/dotnet-diag in case other team members have more suggestions.

As far as I know, this is a limitation on Visual Studio more than anything. For the scenarios that I've come across where I needed this, I ended up using the [Child Process Debugging Extension](https://marketplace.visualstudio.com/items?itemName=vsdbgplat.MicrosoftChildProcessDebuggingPowerTool) and had a relatively good experi

[2019-04-05 17:59] gregg-miskelly commented on #23760
The .NET debugging APIs don't provide a notification for child processes launches, so as @hoyosjs mentioned, currently the Child Process extension is the only good option. That should work with .NET Core on Windows.

[2019-04-05 18:11] jkoritzinsky commented on #18013
@fabricefou I am not sure if it will be able to target old runtimes. I don't believe it will be able to target anything lower than the VS2019 MSVC++ compiler can currently target.

[2019-04-05 19:52] #23577 closed

[2019-04-05 21:05] #23713 closed

[2019-04-05 21:06] VSadov commented on #20208
I tried reproducing the failure both with `COMPlus_JitStress=2 COMPlus_TieredCompilation=1` and without while re-executing a sample containing the testcase code in a loop.
Even after many thouthands iterations there were no failures.

I tried a debug build of corerun as well.

[2019-04-05 21:06] #20208 closed

[2019-04-05 21:24] mjsabby commented on #23569
I have some more information now, it looks like this only occurs when a machine has <= 4 CPUs. So a Linux VM with 4 vCPUs crashes after the first GC, but 5 vCPUs or higher this doesn't seem to repro.

[2019-04-05 21:42] gregg-miskelly opened #23773 "Debugger crashing during launch on OSX in master branch"
## Repro steps
On macOS, using current master bits (I used 3.0.100-preview4-011077), create a new console app (`dotnet new console`), and attempt to debug it.

Result:
Crash in the following code:
[code]

[2019-04-05 21:46] fadimounir commented on #22772
Fixed

[2019-04-05 21:46] #22772 closed

[2019-04-05 21:48] #23538 closed

[2019-04-05 21:48] briansull commented on #23538
Fixed with #23728

[2019-04-05 21:56] tommcdon commented on #18754
@noahfalk @jorive is this issue duplicate to other work we are tracking?

[2019-04-05 22:03] VSadov commented on #20706
The test says:
[code]

but later has:
[code]

Cancel goes after Start.
Does it create an opportunity for a task to complete before observing cancellation?  (assuming that under stress anything can be slow, including ` _taskCts.Cancel();`)

[2019-04-05 22:06] RussKeldorph commented on #23773
@dotnet/dotnet-diag

[2019-04-05 22:06] jorive commented on #18658
@brianrob We are working on [dotnet-trace](https://github.com/dotnet/diagnostics/tree/master/src/Tools/dotnet-trace) and a library [Microsoft.Diagnostics.Tools.RuntimeClient](https://github.com/dotnet/diagnostics/tree/master/src/Microsoft.Diagnostics.Tools.RuntimeClient) in order to achieve this. It's a working prototype, and I'm working on improving it and making it up to spec.

[2019-04-05 22:08] jorive commented on #18658
@noahfalk We have `dotnet-trace` (still work in progress), but this issue does not say anything about a Public API. Please feel free to open a new issue with more information.

[2019-04-05 22:35] VSadov commented on #20706
if the code is changed to the following (extra Sleeps), there is a consistent repro:

[code]

[2019-04-05 22:35] VSadov commented on #20706
I will make a fix in CoreFX, but being a test issue, this is not a blocker.

[2019-04-05 22:54] jkoritzinsky commented on #22087
Fixed by #22041

[2019-04-05 22:54] #22087 closed

[2019-04-05 23:22] echesakovMSFT commented on #23749
https://github.com/dotnet/corefx/pull/36636 is merged in - as soon as the corefx publishes official build with these changes - I will re-run testing in https://github.com/dotnet/coreclr/pull/23702 to confirm.

[2019-04-05 23:57] RussKeldorph commented on #20379
@tannergooding @CarolEidt Is this fixed by #23751?

[2019-04-05 23:58] tannergooding commented on #20379
Yes. I forgot to comment `resolved by` in the top post.

[2019-04-05 23:58] #20379 closed

[2019-04-06 00:51] noahfalk opened #23780 "Provide an Out-of-Process Control Mechanism for EventPipe that is usable by external customers"
This is the same as #18658 with the explicit requirement that external customers can use the control mechanism. This means it has to have a public and documented API.

[2019-04-06 00:52] noahfalk commented on #18658
Done. #23780

[2019-04-06 03:11] swaroop-sridhar commented on #23650
@AaronRobinsonMSFT  @sandreenko

This test is intermittently failing in the lab (failing more times than passing).

I tried to repro the failure locally but couldn't.
* I tried running both the R2R and the MSIL version of the test on ARM64 machine, both completed within 2-3 seconds.
* The crossgen task also completed in a few seconds.

@sandreenko said that there are some non-deterministic azure t

[2019-04-06 03:23] #23723 closed

[2019-04-06 03:47] RUSshy commented on #23649
I tried with a new blank project and i still get the issue, at this point i have no idea what could be wrong on my side

[2019-04-06 04:05] stephentoub commented on #23649
Can you .zip up the project and share it?

[2019-04-06 04:05] GrabYourPitchforks commented on #23649
Can you also please provide the output of the following lines?

[code]

(And also the same thing for the string "ho".)

[2019-04-06 04:31] RUSshy commented on #23649
@stephentoub i put project on my repo: https://github.com/RUSshy/arc/

@GrabYourPitchforks is crash with this:

[code]

[2019-04-06 06:22] terrajobst commented on #23694
Also, are we sure removing them is the right thing? It seems preserving them would be useful for reflection, especially in customer code.

[2019-04-06 10:29] stephentoub commented on #23694
Why would the attributes on internals/privates in corelib be important? As an option in the linker, we could turn it on for corelib and everyone else could choose.

[2019-04-06 14:21] RicoSuter commented on #23694
Stripping attributes on private/internal APIs should not be a big issue in general as I will only use them on public/protected APIs.

But if you want to reduce the amount of generated attributes, e.g. by defining a module-level attribute which then changes the default for all places in the module, e.g. to not nullable by default (i.e. no attribute means not nullable for the type and all generic ar

[2019-04-06 15:07] daniel-levin commented on #23741
@janvorli I am trying to build and run coreclr and associated programs from VS2017. I thought I would use it in the configuration alluded to by @RussKeldorph. Thank you for letting my know that the sln files were generated by the build process. I am still having issues running ildasm from VS (permissioning problems, I cannot execute the binaries I build from VS) but I will try solve these before c

[2019-04-06 16:03] mnmr opened #23788 "Allow out parameter widening"
Given the following code bits (where both CarNode and PlaneNode implement INode):

[code]

The problem here is that this does not compile, because the `out node` is `INode` rather than the specific type declared for the collection. But in normal C# code it is perfectly valid to declare a variable of a less specific type and assign a specific type to it, e.g. `INode node = new CarNode()`.

Why is t

[2019-04-06 18:48] VSadov commented on #20706
The CoreFX fix was merged. Need to update the exclusion list to point o the PR https://github.com/dotnet/corefx/pull/36645

[2019-04-06 19:41] GrabYourPitchforks opened #23790 "JIT: ldflda + add not properly being optimized in certain cases"
More context at https://github.com/dotnet/coreclr/pull/23783, specifically the comment at https://github.com/dotnet/coreclr/pull/23783#discussion_r272806980.

We have code in `Memory<T>.Span` that attempts to read an `IntPtr` field at offset 0 from an object. The way this is done is by getting a ref to the field at offset `IntPtr.Size`, then subtracting `IntPtr.Size` and dereferencing.

Today it r

[2019-04-06 19:55] jkotas opened #23791 "Null check incorrectly (?) optimized out for nested struct access"
Repro:

[code]

Expected result: NullReferenceException
Actual result: AccessViolationException, or passed

[2019-04-06 19:55] jkotas commented on #23791
Is it a bug or by design that the null check is optimized out in this case?

[2019-04-06 19:59] jkoritzinsky commented on #23791
What is thee supposed to be a null check around? The fixed buffer field is effectively a struct. I don't see anything that could be null here.

[2019-04-06 20:19] GrabYourPitchforks commented on #23649
@RUSshy One final thing to try, please. Let us know the output.

[code]

You definitely shouldn't be seeing an exception from `CompareInfo.CreateSortKey`. I'll pull in some experts from the OS side of things to see if they have any thoughts.

[2019-04-06 20:29] jkotas commented on #23791
The first IL instruction in NextElement is `ldflda`. `ldflda` is usually expected to throw NullReferenceException when it is used on null pointer.

[2019-04-06 20:44] mjsabby commented on #23569
I've identified the root cause and it is not a runtime bug but in fact a bug with my serializer. I had intentionally put an instance of a collectible type in the blob to understand the interaction with both the collectible types and assemblies and forgot about it.

[2019-04-06 20:44] #23569 closed

[2019-04-06 20:46] galvesribeiro commented on #17468
Updates on that folks?

[2019-04-06 20:52] GrabYourPitchforks opened #23792 "JIT optimizations can produce incorrect IL when dealing with byrefs"
(See also https://github.com/dotnet/coreclr/pull/23783#discussion_r272807908.)

Repro:

[code]

Codegen:

[code]

Here, `rcx := theRef&`, `rdx := a`, and `r8 := b`. The JIT has incorrectly rearranged the addition of _a_ and the subtraction of _8_. It's possible that the caller required the operations to be done specifically in that order to avoid a GC hole. The intermediate value `ref byte temp =

[2019-04-06 21:00] JensNordenbro commented on #17468
@janvorli, there seems to be x64 musl available at https://github.com/dotnet/core-setup/blob/master/README.md, is arm32/64 so special considering this + arm32/64 for glibc is already impl. or is the delay just about prioritization?

[2019-04-06 23:27] RUSshy commented on #23649
@GrabYourPitchforks

It also crash:

[code]

[2019-04-06 23:29] RUSshy commented on #23649
![image](https://user-images.githubusercontent.com/18348637/55676371-71f98600-58d4-11e9-8f9d-21f399b4e373.png)

![image](https://user-images.githubusercontent.com/18348637/55676378-7de54800-58d4-11e9-8d73-d642edab851b.png)

I am using an azerty keyboard on an english system, maybe that can causes confusions ?, but again why would it work fine with visual studio and rider, problem might be on the w

[2019-04-07 00:47] #22094 closed

[2019-04-07 04:00] #18914 closed

[2019-04-07 04:00] #23444 closed

[2019-04-07 04:02] glenn-slayden commented on #23716
After doing some preliminary investigations on this, it occurs to me that perhaps **F#** rather than **C#** might be a more elegant choice for implementing an (e.g.,) [LALR parser](https://en.wikipedia.org/wiki/LALR_parser) such as (e.g.,) **ILAsm**, perhaps because the functional programming approach _itself_ more closely models the declarative form of a BNF--or, more generally, any "formal"--lan

[2019-04-07 06:53] mikedn opened #23794 "Struct arg "reinterpretation" leads to asserts in genPutArgStk on ARM32/64"
[code]
ARM32:
[code]
ARM64:
[code]

[2019-04-07 07:52] NextTurn opened #23795 "Unnecessary ThrowIfCreated call in TypeBuilder.CreateTypeNoLock"
https://github.com/dotnet/coreclr/blob/8241971dc93dca98992596a9396dee1a2031ea15/src/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilder.cs#L1977-L1982

This `ThrowIfCreated` won't be called since the method returns on line 1980.

[2019-04-07 08:16] mikedn commented on #23794
Both asserts are "noway" so probably they'll turn into `InvalidProgramException` at runtime. However, the ARM32 is caused by an out of bounds array read so the behavior may be random. If you're (un)lucky and the memory happens to contain a valid GC type then the result is likely bad codegen.

This all has to do with `genPutArgStk` attempting to retrieve information from the lclvars for `OBJ(LCL_VA

[2019-04-07 09:51] mikedn commented on #23794
To add to the confusion, the actual copying code is trying to handle sizes that are not multiple of `TARGET_POINTER_SIZE` but that's not needed because morph handles such cases by copying the struct arg to a local (and then codegen uses the round up size of the local). Well, morph shouldn't really do that but then codegen's handling of struct sizes like 7 is broken/incomplete.

[2019-04-07 10:06] mikedn opened #23796 "Passing large structs by value asserts/crashes on ARM32/x86"
[code]
`genPutArgStk` is basically doing an unrolled copy and the emitter asserts because the offset is too large. It shouldn't do unroll, even for smaller structs.

[2019-04-07 10:08] mikedn commented on #23796
Hmm, and x86 seems to have a problem too. It generates code that's apparently correct:
[code]
yes crashes with "Access Violation" on `rep movsb`.

[2019-04-07 11:46] daniel-levin commented on #23207
This is not an issue on Linux, as the (conditionally compiled) [PAL branch](https://github.com/dotnet/coreclr/blob/6a6b5b358034ec08e5f2d83a6d561813beb32019/src/ildasm/dasm.cpp#L254) is taken.

I can repro the original issue on Windows. But, running it via the debugger I see that the stack trace is different from the original description. The program bails out earlier than described.

Rather than r

[2019-04-07 17:48] tarekgh commented on #23649
@RUSshy

Could you please send the following info:

- All contents of the files and folders (names and sizes) under the path C:\Windows\Globalization
- run winver on the machine and send the exact version number of the OS

Try the following too:

before doing any string search or comparison, execute the following

CultureInfo.CurrentCulture = new CultureInfo("en-GB");

then let me know if this mak

[2019-04-07 18:08] meirkr commented on #18013
1.
How can it be tracked?
Is there a target date already?

2.
Is there a temporary workaroind to configure something manually?
I guess this activity here have used some solution to develop and test this capability. Haven't it?

[2019-04-07 19:51] elif-checkmarx commented on #23207
Didn't get a chance further investigate.
Is this also the reason why no help message is shown when starting it with no args (or with '/?')?

[2019-04-07 20:07] echesakovMSFT commented on #23749
Closed with https://github.com/dotnet/corefx/pull/36636

[2019-04-07 20:07] #23749 closed

[2019-04-07 22:02] amagrath commented on #21298
I encountered this problem trying to build a multi-project solution in a Linux Docker Container. Examining the projects, I noticed that some projects were created with an SDK of "Microsoft.Net.Sdk" and others with "Microsoft.NET.Sdk". All newly created projects have the upper-case version. I standardised ALL projects to use the upper-case version and everything compiled OK after that.

[2019-04-07 23:33] Apostolique commented on #21298
@ambs Personally, I fixed it by going in my Control Panel and uninstalling the latest "Microsoft .NET Core SDK".

If you have `"omnisharp.loggingLevel": "debug"` in your vscode settings, you should see that MSBuildToolsPath will point back to something like:
`\.vscode\extensions\ms-vscode.csharp-1.18.0\.omnisharp\1.32.11\msbuild\15.0\Bin`

[2019-04-08 00:49] RUSshy commented on #23649
Globalization folder: https://send.firefox.com/download/4e946affa3811302/#8uQ7n9XpCIrzhgi2RBxNCQ

winver: Version 1809 (OS Build 17763.379)

![image](https://user-images.githubusercontent.com/18348637/55692469-a3dc1c80-59a8-11e9-9c9b-76e05d3622a1.png)

No luck with this code :/

[code]

[2019-04-08 00:56] RUSshy commented on #23649
Something to note: it only happen with Debug build, not with release ( dotnet run --project ..\samples\01_hello\Hello\Hello.csproj --configuration Release )

[2019-04-08 01:17] VincentBu opened #23802 "[x86] Test failed: System.IO.Tests.CloseTests.AfterDisposeThrows"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_corefx_jitstress1/771/

**Failed tests:**
System.Net.Http.Functional.Tests.PlatformHandler_HttpClientHandler_Cancellation_Test.GetAsync_CancelDuringResponseBodyReceived_Buffered_TaskCanceledQuickly(chunkedTransfer: True, connectionClose: True, mode: Token)
System.IO.Tests.CloseTests.AfterDis

[2019-04-08 01:31] VincentBu opened #23803 "[arm64] Test faile: JIT_SIMD._BitwiseOperations_ro_BitwiseOperations_ro_._BitwiseOperations_ro_BitwiseOperations_ro_sh"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_debug_ubuntu16.04_tst/159/

**Failed tests:**
JIT_SIMD._BitwiseOperations_ro_BitwiseOperations_ro_._BitwiseOperations_ro_BitwiseOperations_ro_sh

**Log:**
[code]

[2019-04-08 01:32] #23802 closed

[2019-04-08 01:49] VincentBu opened #23804 "[arm64] Test failed: JIT_Performance._CodeQuality_BenchmarksGame_mandelbrot_mandelbrot_7_mandelbrot_7_._CodeQuality_BenchmarksGame_mandelbrot_mandelbrot_7_mandelbrot_7_sh"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_jitstress2_jitstressregs0x80_tst/163/

**Failed tests:**
JIT_Performance._CodeQuality_BenchmarksGame_mandelbrot_mandelbrot_7_mandelbrot_7_._CodeQuality_BenchmarksGame_mandelbrot_mandelbrot_7_mandelbrot_7_sh

**Log:**
[code]

[2019-04-08 03:12] ZhiqiangTao opened #23805 "Fail to install lldb by using dockerfile"
I used below dockerfile to build a base docker image wiht the lldb-3.9 in.

FROM microsoft/dotnet:2.1-aspnetcore-runtime

RUN apt-get update && apt-get install -y apt-utils wget gdb procps
RUN echo "deb http://llvm.org/apt/trusty/ llvm-toolchain-trusty-3.9 main" | tee /etc/apt/sources.list.d/llvm.list
RUN wget -O - http://llvm.org/apt/llvm-snapshot.gpg.key | apt-key add -
RUN apt-get install lldb-

[2019-04-08 03:17] ZhiqiangTao commented on #23805
my dockerfile capture:
![image](https://user-images.githubusercontent.com/16182251/55696496-c47b9500-59ef-11e9-8f1c-dd7079b59a52.png)

[2019-04-08 04:34] Thealexbarney commented on #21951
Just leaving some performance numbers from using AES-NI with .NET Core 3.0. The AES round keys are stored in a private readonly array field in my AES class.

Accessing the array directly results in an encryption speed of 4.2 GB/s.

Creating a local reference to the array outside the hot loop and then accessing the last element of the array before accessing any other elements removes the remaining

[2019-04-08 05:09] elif-checkmarx commented on #23207
Didn't get a chance further investigate.
Is this also the reason why no help message is shown when starting it with no args (or with '/?')?

[2019-04-08 05:09] eli-fin commented on #23207
Didn't get a chance further investigate.
Is this also the reason why no help message is shown when starting it with no args (or with '/?')?

[2019-04-08 05:37] eli-fin opened #23806 "ILDASM - wrong endianness"
If you call `ildasm /bytes` on an assembly which contains a `brtrue` opcode, it will print the jump target bytes incorrectly (in big endian, rather than little).

It arrives at the code [here](https://github.com/dotnet/coreclr/blob/6a6b5b358034ec08e5f2d83a6d561813beb32019/src/ildasm/dis.cpp#L1646), (because `brtrue` is an `InlineBrTarget`, as defined in [this](https://github.com/dotnet/coreclr/blo

[2019-04-08 06:01] mikedn commented on #23794
@dotnet/jit-contrib Do you think this is something that should be fixed for 3.0? This kind of struct reinterpretation is a bit of an odd case in the .NET world and I wouldn't be surprised that there are other issues in this area of the JIT.

I'd be happy to work on a fix but I would sort of prefer to do that after #21705 is done. That encapsulates struct layout information such as size and GC layo

[2019-04-08 08:42] ambs commented on #21298
@amagrath - Changing the case of the SDK didn't change.
@Apostolique - I think that is not the problem here. I was trying to downgrade the latest .net core, but debian packages started giving issues... and I quit (as omnisharp will need eventually to deal with new versions).

[2019-04-08 09:06] ZhiqiangTao commented on #23805
oh, It works fine after gnupg package installed

[2019-04-08 09:06] #23805 closed

[2019-04-08 09:44] lujiaxing commented on #10997
There's a package called "libandroid-support-dev", it's removed from termux packages, nowhere to find it.

[2019-04-08 10:42] lujiaxing opened #23807 "[Cross-build for Android] Failed to download termux packages"
Hello everyone,

I'm trying to make a cross-build for android. And i had some issue on initializing toolchain.
Several packages from termux are missing. But there's another version of these packages. I'm not sure to change the package version will lead to other problems or not.

`libicu_60.2 → libicu_64.1`
`libicu-dev_60.2 → libicu-dev_64.1`
`libandroid-support_22 → libandroid-support_24`
`liblzma

[2019-04-08 11:44] daniel-levin commented on #23207
@eli-fin Yes, I believe so.

ILDASM tries to load string resources from `ildasmrc.dll`. The problem persists even if one puts a copy of this dll in the same directory as `ildasm.exe`.

[2019-04-08 11:46] k15tfu commented on #20833
@sywhang Friendly ping

[2019-04-08 12:04] loop-evgeny commented on #23760
Thanks a lot, @hoyosjs, that extension works! It would still be nice to fix the problem with `Debugger.Launch`, of course.

[2019-04-08 12:30] am11 commented on #23807
For `libandroid-support-dev`, we can replace it with `ndk-sysroot`, based on https://github.com/Auxilus/termux-makepkg/pull/1.
Can you try rebuilding after `ndk-sysroot` replacement and updating the other package versions your mentioned? If it works (compiles + [PAL tests](https://github.com/dotnet/coreclr/blob/42bc2de2c63fe0c95a582e642ff97b2fe0d4bb7e/Documentation/building/unix-test-instructions.

[2019-04-08 14:59] sharwell commented on #23760
Here's another way to do it: https://github.com/dotnet/roslyn/pull/28519

[2019-04-08 15:08] loop-evgeny commented on #23760
That's useful, thanks! I'd rather not add a reference to the Visual Studio API to my project, so I prefer the extension solution.

[2019-04-08 15:11] myFirstway commented on #969
any updates on MIPS support?

[2019-04-08 15:16] CarolEidt commented on #23794
IMO this should be fixed for 3.0.

I don't think we can take #21705 for 3.0, but I'd love to see it done soon!

Agree

[2019-04-08 15:17] CarolEidt commented on #23794
@dotnet/jit-contrib it would be great if someone could take this one; I want to focus on getting #16021 and #16022

[2019-04-08 15:31] janvorli commented on #17468
@JensNordenbro it is a matter of enabling build and testing of related packages in our infrastructure.
We are currently in a process of enabling ARM64 musl packages build and publishing.
@richlander can you please comment on what are our timings / plans w.r.t. enabling ARM32 Alpine package builds?

[2019-04-08 15:35] Apostolique commented on #21298
@ambs You should still enable `"omnisharp.loggingLevel": "debug"` and see which paths vscode is getting set to. The log is long, but if you start from the top you will eventually find which sdk is getting used.

There's a reason why `<Project Sdk="Microsoft.NET.Sdk">` can't be found.

[2019-04-08 15:38] mikedn commented on #23794
OK then, I'll work on a minimal fix for this that doesn't require #21705. Thanks for feedback!

[2019-04-08 15:45] AndyAyersMS commented on #23796
x86 probably needs to do stack page probing here.

cc @dotnet/jit-contrib

[2019-04-08 15:47] AndyAyersMS commented on #23796
Putting in 3.0 for now.

[2019-04-08 15:49] kevingosse opened #23811 "Shared static lock in Exception.RestoreDispatchState"
We ran into an issue where a service would become unresponsive with 100% CPU, with 200 threads stuck in `Exception.RestoreDispatchState`. This method is called by `ExceptionDispatchInfo.Throw`, itself called by the TaskAwaiter when a faulted task is awaited: https://github.com/dotnet/corefx/blob/master/src/Common/src/CoreLib/System/Runtime/CompilerServices/TaskAwaiter.cs#L183

The issue with `Exce

[2019-04-08 15:50] ambs commented on #21298
Looking to the log file, and searching for failure reports, I found these:

[code]

I would say this last is the critical one... and yeah, it isn't there...

[2019-04-08 15:54] CarolEidt commented on #20427
No, the expectation is experimental only. I believe that the ABI issues need to be addressed prior to 3.0, as that would be a breaking change.

[2019-04-08 16:20] johnkellyoxford commented on #17469
If there is still use in this, I am currently implementing this so that the JIT just ignores it - during import, it just validates that the flags are correct and the opcode is correct and then does nothing with it. However, there are a couple of questions around it i am not sure about:

* Should `no. 0x00` be invalid, or the same as not having it? (currently illegal to not have it
* Should we just

[2019-04-08 16:31] AndyAyersMS commented on #23792
The jit is likely not sufficiently careful about re-association in address formation.

In normal usage, address computations are always adding positive values, and so it doesn't matter what order the adds are performed.

Fixing this in general without causing regression may not be easy -- for example, we may need to surface implicit assumptions about the non-negativity of some variable addends bel

[2019-04-08 16:39] AndyAyersMS commented on #23790
Negative values are not commonly seen in address computations. This may not be that hard to fix, though we might need to be wary of reassociation issues (as in #23792).

Will put in 3.0 pending further investigation.

[2019-04-08 16:42] zezba9000 commented on #969
@myFirstway @ievdokdm  I'm working on a project (in early stages) to solve issues like this more quickly: https://github.com/reignstudios/IL2X

I can compile on MIPS right now but the runtime needs a lot more work done before its ready for general use.

[2019-04-08 16:42] AndyAyersMS commented on #23666
A general fix here would do the proper up-front analysis instead of generating unnecessary instructions and then removing them.

[2019-04-08 16:44] AndyAyersMS commented on #23804
Assuming codegen for now.

cc @dotnet/jit-contrib

[2019-04-08 16:44] AndyAyersMS commented on #23803
Assuming codegen for now.

cc @dotnet/jit-contrib

[2019-04-08 16:47] AndyAyersMS commented on #23791
Not sure either. Will investigate.

[2019-04-08 16:48] ltrzesniewski commented on #17469
TBH implementing it so it's ignored is wasted effort unless it's a first step towards real support.

[2019-04-08 16:51] johnkellyoxford commented on #17469
Implementing it so it is ignored would mean there was the potential for langs to expose it, even if it initially does nothing, which could make it worth it to actually make it omit the checks

[2019-04-08 16:53] echesakovMSFT opened #23815 "AzDO R2R Linux arm/arm64 jobs fails - crossgen cannot execute binary file"
build-test.sh is trying to use native crossgen on Linux/arm and Linux/arm64 (should be using crossarch crossgens - x64_arm and x64_arm64)

[code]

@sergiy-k

[2019-04-08 16:53] echesakovMSFT commented on #23815
https://dev.azure.com/dnceng/public/_build/results?buildId=146882&view=logs

[2019-04-08 16:56] johnkellyoxford commented on #17469
Also, to be picky, helps ECMA compliance

[2019-04-08 17:01] tarekgh commented on #23649
@RUSshy I am not seeing anything wrong with the machine which make the case very interesting. could you please try the following code too and send the output?

[code]

[2019-04-08 18:13] #14113 closed

[2019-04-08 18:15] BruceForstall commented on #23802
@stephentoub Just curious: you closed this. It that because it's been fixed? (PR?), or ???

[2019-04-08 18:16] AndyAyersMS commented on #23707
If there was no GC between read and write, the only thing another thread could do wrt gc state is set card table bits, and we allow these to be an overstatement of the true old->new ref set (eg we don't ever clear card table bits via codegen, or use a write barrier when writing null). So the card table bits are either compatible with the value that was read, or are a safe overstatement. And so, th

[2019-04-08 18:28] VSadov commented on #20706
Updating the exclusion list is in https://github.com/dotnet/coreclr/pull/23818

[2019-04-08 18:29] #20706 closed

[2019-04-08 18:39] GrabYourPitchforks commented on #23707
Adding `SliceInPlace` doesn't require removing `readonly` from the struct. For example:

[code]

It would still fully "safe" (barring threading issues, but we make no guarantees there anyway), so from a safety + reliability perspective I don't have issue with such an API. It just strikes me as unclean. That's why I'd only recommend it as a backup if a JIT change isn't feasible.

[2019-04-08 18:41] davidfowl commented on #23707
Is the performance benefit worth the API addition?

[2019-04-08 18:44] GrabYourPitchforks commented on #23707
I don't think we have evidence for that yet. Our measurements so far are for microbenchmarks, but that doesn't mean it'll show up in end-to-end benchmarks.

[2019-04-08 18:45] ltrzesniewski commented on #17469
If future compatibility is what you want, I'd just ignore all invalid uses. This could be helpful if another flag is added to the instruction in the future. But that's only my opinion 😉

[2019-04-08 18:49] johnkellyoxford commented on #17469
Currently have set it to only read bits it should be concerned with, so yeah, invalid and zero values are allowed. Am currently attempting to implement removal of range checks through `GTF_INX_RNGHCK`, so that will give it some actual meaning.

[2019-04-08 18:55] eli-fin opened #23820 "CoreRun not parsing CORE_LIBRARIES correctly"
The documentation [here](https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/UsingCoreRun.md) says the `CORE_LIBRARIES` environment variable is "A Semicolon separated list of directories to look for DLLS to resolve any assembly references".
However, it didn't seem to work for me.

As you can see in the [code](https://github.com/dotnet/coreclr/blob/2516a53b75ef74b585cc507e07d39e376

[2019-04-08 19:01] johnkellyoxford commented on #17469
However, small issue so far :|
`no.` prefix is basically 3 seperate prefixes - `typecheck, rangecheck, nullcheck`, and they are all fundamentally different. I need to represent them in `prefixFlags`, which is across the board stored as `int`, pictured here:
![image](https://user-images.githubusercontent.com/32420055/55749433-d0d81000-5a38-11e9-8384-ed65043f045d.png)
The last 4 are added by me. Ann

[2019-04-08 19:05] AndyAyersMS commented on #17469
We should be able to represent 32 flags in an int, not 8. Can't you use a 0x2, 0x4, or 0x8 based value?

[2019-04-08 19:05] ltrzesniewski commented on #17469
Why is this written in hex in the first place? There must be a good reason as `0x100` is not the same as `1 << 2` and wastes space: you'd get room for 32 bits if you use `1 << 0`, `1 << 1`, `1 << 2` and so on...

[2019-04-08 19:07] johnkellyoxford commented on #17469
I am appalled i did not notice a) it was in hex and b) if that was binary there would be values left over. Thanks for the help, but sorry for the appallingly stupid question 😂

[2019-04-08 19:08] AndyAyersMS commented on #17469
No worries.... what is there is misleadingly odd. We should double-check that there's nothing funny going with the uses that would somehow require those values.

[2019-04-08 19:20] kindermannhubert commented on #17469
This could be great opportunity for optimizing add-in for https://github.com/mono/linker.

[2019-04-08 19:31] johnkellyoxford commented on #17469
![image](https://user-images.githubusercontent.com/32420055/55751255-26aeb700-5a3d-11e9-959c-dd345cba9e69.png)
Clearly a typo at the top there, it says `stelem` twice - i am making a guess it means `stelem + stelem.*`?

Also interesting rangecheck omittion is illegal for `ldelem` but not for `ldelem.*`?

[2019-04-08 19:53] stephentoub commented on #23802
It was a moment-in-time issue.  The jitstress tests run against a live corefx; any time there's a purposeful breaking change made in coreclr, we can't fix the corefx tests to validate the new behavior until the coreclr build is published and ingested into corefx.  If the jitstress tests run in that interim, they see inconsistent results.

[2019-04-08 20:00] BruceForstall opened #23821 "Linux/arm64 stack probing issue"
Related to #23715, #14113.

On Windows arm64, we have 3 stack guard pages. On Linux, by default, we only have one. There is a situation explained in test case `tests\src\JIT\Methodical\largeframes\skip2\skippage2.cs` where we might skip probing a stack page, which in the right circumstances could lead to an access violation, not a guard page touch and then a growing stack.

A potential solution is

[2019-04-08 20:03] BruceForstall commented on #23802
Great. "Point in time due to intentional breaking change" is what I wanted to know.

[2019-04-08 20:10] BruceForstall commented on #23796
I'll take this one.

Looks like we need to do the probing when the argument is getting written to the stack at the call site, not in the prolog. I.e., just before/at the:

[code]

I was going to say we could potentially do the probing in the prolog if we figured out the largest such call-site requirement from all call sites, but if there's a dynamic localloc, we wouldn't know the starting point, a

[2019-04-08 20:20] mikedn commented on #23796
Yep, it looks like this is what VC++ x86 is doing. Well, VC++ is actually calling `__chkstk` instead of doing inline probing like the JIT does. But the effect is the same, there's one `__chkstk` call for every "large" argument.

I'm not sure about Linux though, Clang x86 doesn't seem to do any probing.

[2019-04-08 20:48] #18371 closed

[2019-04-08 21:27] AndyAyersMS commented on #23791
Current jit strategy is that explicit null checks are added for field (ldfld*) accesses only when the cumulative offset is "large" or unknown and the byref is either the ultimate result of the computation or feeds an indir (as it does here).

But since the final bits of address formation that push us into "large" offset territory are regular adds and not field offsets, this logic does not kick in.

[2019-04-08 21:46] ltrzesniewski commented on #17469
I'm pretty sure `ldelem.*` is supposed to include `ldelem` here, as the `ldelem.*` instructions are just shortcuts that compile to a smaller IL binary code.

The spec even says so:

[2019-04-08 22:04] AndyAyersMS commented on #17469
Yes, a good first step would be to recognize and ignore the prefix. I would suggest being permissive in what you accept as any future extensions will likely have the "optional / hint" flavor to them too. So ignoring bits that are unspecified would be ok.

After that I would suggest working up a good set of test cases, and think through what should happen on them. Especially things like CSE candida

[2019-04-08 22:07] johnkellyoxford commented on #17469
I have a working ignoring version, I'll write up some tests that ensure the opcode following the prefix is valid and then can think up the test cases for actually implementing them

[2019-04-08 22:24] AndyAyersMS commented on #23791
Also cc @VSadov -- seems like if we're not going to bounds check the index I wonder if null checking the base adds a lot of value.

[2019-04-08 22:45] hoyosjs commented on #23760
@loop-evgeny Glad to hear that worked out for you. I'll take a look as to what can be done about Debugger.Launch when I get some time. I'd like to see what's preventing you from continuing the process, to see if it's a potentially weird issue, a bad user experience, or just something that is quirky but has an easy workaround we can document. Thanks for reporting this.

[2019-04-08 23:02] amkherad opened #23823 "System.Linq.Expressions.Expression.GetType() returns Expression1`1 instead of Expression`1"
### Issue

I have a class in my project which is responsible for simple object mapping operations, each member is a pure+static method to return an expression so I can use it in EF
[code]
I was trying to add a dynamic method to find the same member with desired type signature and compile it to Func so the mapping is available outside of the EF
But first I cached all of the members in an static fie

[2019-04-08 23:14] RUSshy commented on #23649
@tarekgh

Here is the result:
[code]

[2019-04-08 23:15] tarekgh commented on #23649
@RUSshy I assume you have ran the code in Debug build when the original problem happen. right?

[2019-04-08 23:16] RUSshy commented on #23649
yes, from the console, with debug build

[2019-04-08 23:19] adityamandaleeka commented on #16544
This is done.

[2019-04-08 23:19] #16544 closed

[2019-04-08 23:23] tarekgh commented on #23649
One more request:

Could you please publish the bits, ```dotnet publish -r win-x64``` and then share the whole produced bits? just ensure running the app from the published bits on the machine before you share and ensure you see the problem with the bits. I assume your machine is x64, if it is x86, use ```dotnet publish -r win-x86``` instead to publish.

[2019-04-08 23:34] RUSshy commented on #23649
Also something interesting is i copied the project folder from ``arc_cs`` to ``arc_cs_test`` and i tested from there and it works fine, but the result of FindNLSStringEx is the same:

[code]

Here  is publish for: arc_cs

https://send.firefox.com/download/17a9bb6952ab138c/#sYpbAibIiNP5S1S3O3vUCg

Here is publish for: arc_cs_test

https://send.firefox.com/download/067de0d0f0c832b5/#1a1O4a9muPcmLMwf

[2019-04-08 23:38] zamont commented on #19797
@sergiy-k can you change assignee to @fadimounir?

[2019-04-08 23:39] zamont commented on #21599
@sergiy-k can you change assignee to @fadimounir?

[2019-04-08 23:55] tarekgh commented on #23649
I have tried the bits from your arc_cs and arc_cs_test on my machine and both are working fine. I have used same folder names arc_cs and arc_cs_test.

do you have the folder arc_cs somehow listed in the %PATH% in your machine? maybe something conflicting there.

[2019-04-08 23:58] VSadov commented on #23791
There is no range check since `x.A[i]`  it is treated as a pointer indirection. Same as `*(x.A + i)`.
It may feel like compiler knows the size of A, but A is just a pointer.

There is no such thing as "fixed size array" _type_ in the language.

I.E.

if   `v = x.A[i]`   would range check, then you would expect that the following would as well.

[code]

but it can not. The type of temp is `byte*`

[2019-04-09 00:04] RUSshy commented on #23649
Here is a screenshot of my path:

![image](https://user-images.githubusercontent.com/18348637/55764348-642a3900-5a6b-11e9-8e6b-f912f2c850b7.png)

I moved the content of publish from arc_cs to a different folder and no issue!!

There must be something happening or registered for that path i don't know..

[2019-04-09 00:09] echesakovMSFT commented on #23650
R2R testing for **Interop/NativeLibraryResolveCallback/CallbackTests** and **Interop/NativeLibraryResolveEvent/ResolveEventTests** fails pretty consistently on Windows_NT x86

For example, https://dev.azure.com/dnceng/public/_build/results?buildId=147265&view=ms.vss-test-web.build-test-results-tab

The following Kusto query will show you that these two tests have failed 27 times each for the last

[2019-04-09 00:23] AndyAyersMS commented on #23790
Looking at a specific example:
[code]
Codegen for `Z` is
[code]

[2019-04-09 00:29] tarekgh commented on #23649
Maybe the easiest way to investigate this is, debug the app when running on arc_cs. Try set breakpoints on

[code]

and try to look at what point this start to report incorrect values. for example, the code path should eventually do a call to FindNLSStringEx  (not the one you defined in your test).

I hope I had access to your machine to help you with that.

[2019-04-09 00:33] tarekgh commented on #23649
or you may try to create [iDNA](https://blogs.windows.com/buildingapps/2017/09/27/time-travel-debugging-now-available-windbg-preview/) debugger dump and share it and I may try to take a look on that.

[2019-04-09 00:33] echesakovMSFT commented on #23624
**regressions\beta2\437017** frequently times out on Ubuntu.1404.Arm32
This query
[code]
shows 24 records. 23 of them are Checked-no_tiered_compilation and one is Checked-jitstress1

[2019-04-09 00:35] VSadov commented on #23791
Considering that

[code]
is the same as

[code]

I would be ok with not checking the receiver of struct ldflda and perhaps treating it as not sideeffecting.

[2019-04-09 00:56] BruceForstall commented on #23796
I see:
[code]
for arm32 on your test case. We actually don't have anything except "unrolling" implemented for arm32 struct passing, so I don't see that changing (at least in the short term).

For x86, though, on your test case, I see this fire:
[code]
which makes sense, since the argument space is too big. I wonder why you're not seeing this? If I change the array to 65500 bytes, I get the same co

[2019-04-09 01:25] RUSshy commented on #23649
I generated the file with iDNA as requested, it is a really large file so i compressed it with 7zip

https://send.firefox.com/download/9b803b14837d7048/#NEIc1lKn-oqCdeoVi8_t5g

[2019-04-09 01:27] RUSshy commented on #23649
I don't know how to use IDNA really well, i ran it as admin and launched process with generate Time Travel, and it produced the files

I will also try set breakpoint into the StartsWith

[2019-04-09 01:30] RUSshy commented on #23649
Oh but the problem is the code is fine when i run it with Visual Studio or Rider, so with the debugger it won't help me debug the issue

[2019-04-09 01:38] RUSshy commented on #23649
Ok i put the code in a while loop and i'm able to debug it by attaching it to process

But it doesn't step into the StartsWith method

From Visual Studio:

![image](https://user-images.githubusercontent.com/18348637/55767382-f2f18280-5a78-11e9-94eb-446882250103.png)

[2019-04-09 01:50] sywhang commented on #20833
Ah, I see what you mean... Thanks for reporting this! We should be able to just remove that when we compile on Linux. I'll put up a PR that fixes this shortly.

[2019-04-09 02:09] sywhang commented on #20833
Actually, would you be willing to share what you're trying to compile? If I try to compile the ReJITEnterLeaveHooks profiler here https://github.com/Microsoft/clr-samples/tree/master/ProfilingAPI/ReJITEnterLeaveHooks under Debug mode, but couldn't repro your issue.

[2019-04-09 02:14] AndyAyersMS commented on #23790
Probably not so easy to fix.

Because of the way `ObjectHasComponentSize` is factored, the jit breaks up what is logically one large expression tree into three parts.... the main reason being that when inlining the jit will not to "forward sub" large or complex argument expression trees into their use(s), but instead stages things via temps to make sure side effects are not improperly reordered. S

[2019-04-09 04:57] jkotas commented on #23707
`Memory<T>` was designed as relatively slow construct that should not be used on the hot paths. If the end-to-end benchmarks are showing it as bottleneck, it means the code is not using `Memory<T>` for what it was designed for.

[2019-04-09 05:00] davidfowl commented on #23707
We say that and at the same time are changing the JsonWriter to a class which means we need to store a Memory\<T\> (or T[]). Would you argue that it's better to use an array an index rather than a `Memory<T>`?

[2019-04-09 05:01] jkotas commented on #23707
I think so.

[2019-04-09 05:18] lujiaxing commented on #23807
yep. it works. thanks.

[2019-04-09 05:21] mikedn commented on #23796
Hmm, tried again, I don't see that assert. That probably means that for `rep movsb` doesn't crash for some reason and the JIT ends up compiling the `Call` method and asserts. Perhaps there are differences in the way the OS handles this case so somehow it works on your machine but not on mine (latest Win10 insider preview).

Presumably calling the memcpy JIT helper like `genCodeForCpBlk` does is pr

[2019-04-09 05:34] mikedn commented on #23790
xor      rdi, rdi
       xor      ebx, ebx
       mov      rcx, gword ptr [rsi]    // object field of mem
       test     rcx, rcx
       je       SHORT G_M62456_IG06
       lea      rdx, bword ptr [rcx+8]
       mov      rdx, qword ptr [rdx-8]
       cmp      dword ptr [rdx], 0     // check for has component size
       jge      SHORT G_M62456_IG03

The simple forward substitution experiment I ha

[2019-04-09 05:45] mikedn commented on #23790
I'm not sure what the exact issue is in this case but I find the importer handling of calls generally suspect. Here's a simple example showing this:
[code]
The importer generates:
[code]
The 2 calls ended up in separate trees and a temp variable was introduced. It's not clear why the JIT does that. Normal tree traversal order should preserve the original order without having to create 2 trees. You

[2019-04-09 05:47] lujiaxing commented on #23807
Additionally, I had to add
[http://termux.net/dists/stable/main/binary-aarch64/gettext-dev_0.19.8.1-1_aarch64.deb  ](url)
to make compiler happy.

btw: Changing "build-android-rootfs.sh" every time is always not a good solution. And those third-party packages can break compilation at any time
cc @janvorli

[2019-04-09 05:53] jkotas commented on #23791
It is by design that `fixed` buffers do not have bounds-checking.

[2019-04-09 05:55] jkotas commented on #23791
The non-intuitive behavior that made me file this issue is that whether or not ldflda throws NullReferenceException for null "this" depends on the instructions that follow it. The IL for the NextElement method from the C# repro at the top is:

[code]

Changing IL of NextElement method to the following will make it throw NullReferenceException:

[code]

But adding one more ldflda like this will mak

[2019-04-09 07:11] AndyAyersMS commented on #23791
Yes, that seems odd. Let me debug what morph does with the `MorphAddrContext` in those cases.

[2019-04-09 08:01] AndyAyersMS commented on #23791
Looks like morph is losing track of context in ADDR/FIELD/ADDR/FIELD chains (as in the "one more ldflda case" and in the initial example). `fgMorphField` will modify the FIELD into an IND, and this causes morph to reset the address context as it thinks the IND will actually do a deref. But that's not true if the parent of the IND is an ADDR, as morph will later change ADDR(IND(X)) to X.

cc @dotne

[2019-04-09 08:07] Leon99 opened #23831 "string.Normalize(NormalizationForm.FormKD) behaves differently on different platforms"
ASP.NET Core 2.2, `string.Normalize(NormalizationForm.FormKD)` behaves as expected on Windows 10 and Ubuntu 18.04, but when executed on (kind of Linux that is used in Azure App Services for Linux ), it behaves as `string.Normalize(NormalizationForm.FormC)`/`string.Normalize(NormalizationForm.FormKC)`
Example:
`"ü".Normalize(NormalizationForm.FormKD).Count(x => x < 128)` returns 1 on my Windows 10

[2019-04-09 08:14] johnkellyoxford commented on #17469
Writing up the "what is expected" for various situations where it is implemented as nop and when it is fully implemented. Mostly resolved, except whether `no. 0x2 no. 0x1` should be allowed. Technically, it is multiple prefixes, and it could `BADCODE` like `volatile.volatile.` does, however, given this is internally treated as 3 separate prefixes `PREFIX_NO_RANGECHK, PREFIX_NO_TYPECHK, PREFIX_NO_N

[2019-04-09 08:19] mikedn commented on #23791
Oh boy, morph address context. That thing should probably be replaced by `LocalAddressVisitor`. Though that was primarily intended to deal with local addresses... but it has a more sensible approach regarding field chain morphing.

[2019-04-09 08:43] janvorli commented on #23807
I completely agree, it is unfortunate. I was thinking in the past that we might remedy the changing versions issue by reading and parsing the http://termux.net/dists/stable/main/binary-aarch64/Packages file. But given the fact that you had to add a new package and replace a package that got removed by another one makes this idea useless.

[2019-04-09 09:18] kudlatiger opened #23832 "System.OutOfMemoryException - Windows Service Stops!"
**Application Error:**
[code]

**.Net Runtime:**
[code]

**Application Error:**
[code]

**.Net Runtime:**
[code]

[2019-04-09 12:46] nitroxis opened #23837 "InternalsVisibleTo does not work with AssemblyBuilder"
It appears that the InternalsVisibleToAttribute does not work when the friend assembly is a dynamic assembly / `AssemblyBuilder`.

Repro:
[code]

Invoking the method leads to `FieldAccessException: Attempt by method 'T.M()' to access field 'Program.x' failed` even though internals are visible to that assembly. It also doesn't work when both assemblies (i.e. the one declaring the attribute and the

[2019-04-09 16:24] tarekgh commented on #23649
in Debug->Options->General try to uncheck the following options:

- Enable Just My Code
- Step over properties and operators (Managed only)

then tr to debug again.

[2019-04-09 16:27] jaredpar opened #23840 "ilasm / ildasm should be independent of a .NET Core installation"
The ilasm / ildasm tools are essentially native tools yet they have a dependency on .NET Core in order to create the metadata reader / writer APIs. While they depend on .NET Core the packages they are shipped in do not deploy it. Correctly deploying a .NET Core installation on top if ilasm / ildasm is left as an exercise to the consumer.

That exercise is **painful**. Every time Roslyn has to upda

[2019-04-09 16:58] tarekgh commented on #23649
https://send.firefox.com/download/9b803b14837d7048/#NEIc1lKn-oqCdeoVi8_t5g has expired too.

One thing you can try too, set a breakpoint and run then look at all loaded modules and compare if it is exact same loaded modules when you run from other folder. and it is loaded from the expected path.

Debug->Windows->Modules

[2019-04-09 17:05] omajid opened #23842 "GCPROTECT_BEGININTERIOR on a OBJECTREF* in methodtable.cpp"
https://github.com/dotnet/coreclr/blob/b1042c7a758f032c4effb96d429c95ad1280295a/src/vm/methodtable.cpp#L3231-L3232

We are calling `GCPROTECT_BEGININTERIOR` on a `OBJECTREF*`, not an `OBJECTREF`. Is that right? `frames.h` talks about doing a `sizeof` on the argument, which doesn't seem like it would work well with the pointer.

[2019-04-09 17:25] fadimounir commented on #23643
Fix: #23828

[2019-04-09 17:28] AndyAyersMS commented on #23791
Contextual child nodes certainly feel like an anti-pattern.

I think there may be a surgical fix for this particular issue. Let me poke at it a bit more. But I agree we should rethink this whole area.

[2019-04-09 17:32] briansull commented on #23790
It probably  would be easy to teach ValueNumbering to do a few arithmetic identities like:

- Value numbering does not special-case ADD(ADD(x, c1), c2) as ADD(x, c1+c2), so does not realize that the result of the add at 294 is tmp4.

[2019-04-09 17:55] AndyAyersMS commented on #17469
That may be a bit too lenient? The spec is pretty clear that consecutive `no`s are invalid. Allowing any `uint8` value after `no` is what I'd imagined you'd do for leniency.

Though I suppose even that might be questioned --  if some current IL provider sets some of the currently unused bits, then we might have unexpected problems if we decide to use those bits for something someday. So perhaps it

[2019-04-09 18:00] NextTurn commented on #15119
Since CoreCLR can't be reinitialized, why I have to save the host handle and domain id returned by `coreclr_initialize` myself?

[2019-04-09 18:02] tannergooding commented on #17469
I think that a single `no.` prefix and ignoring unrecognized values is the most correct/forward compatible.

It wouldn't be great if we wanted to start supporting some new prefix in the future (having it be optionally recognized as well) and then that library could no longer run on an older runtime.

[2019-04-09 18:17] AndyAyersMS commented on #23790
I changed importer spill behavior in #7923, and it was a correctness fix for a nested case.

There is also some benefit to behaving the same for inline candidates (where we always spill) and non-inline candidates (where we almost always spill), as inline candidacy is somewhat arbitrary (for example, you wouldn't expect codegen to change by adding a noinline attribute to a method that was not getti

[2019-04-09 18:26] johnkellyoxford commented on #17469
Switched it to fail on multiple prefixes now.

However, facing a bigger issue that is stumping me. It appears some sort of IL modification is happening before the reaching import to do with prefixes. It appears prefixes in invalid places are removed - I have 110% verified these prefixes are in the binary, by means of hexedit and ILDASM, but by the time it reaches `compCompilerHelper` these prefixe

[2019-04-09 18:27] drunkcod opened #23845 "Unloadable Assembly Produced for structs containing struct of T, even when T avoids circularity"
It was proposed that this issue might better fit here (although it affects both core and desktop fx), original is found at: https://github.com/dotnet/roslyn/issues/34865

**Steps to Reproduce**:
1. Compile and run the following:
[code]
**Expected Behavior**:
Print: StructuralMadness.Program+MyThing
**Actual Behavior**:
Crashes with:
[code]

Substituting either of the "struct" for class avoids the

[2019-04-09 18:30] grant-d opened #23846 "Question: Why was this code written this way"
Idle curiosity: I just came across the following generated (ie via `.tt`) code.
Can anyone explain why it was written this way and not just a direct return. Perhaps it serves as a reinterpret or the like?

[code]

https://github.com/dotnet/coreclr/blob/030a3ea9b8dbeae89c90d34441d4d9a1cf4a7de6/src/System.Private.CoreLib/shared/System/Numerics/ConstantHelper.cs

[2019-04-09 18:31] sandreenko commented on #23199
@kouvel, is this test supposed to be GCStress incompatible? It fails on all Linux platforms with both GCStress0x3 and 0xC.

[2019-04-09 18:36] AndyAyersMS commented on #17469
That seems odd -- I am not aware of anything in the runtime that would strip out prefixes -- editing IL on the fly is tricky. Can you verify the assembly being used at runtime is really the one you expect?

[2019-04-09 18:36] am11 commented on #23846
See https://github.com/dotnet/coreclr/issues/19139. It's up for grabs. :)

[2019-04-09 18:38] grant-d commented on #23846
Thanks @am11, I might pick up that PR

[2019-04-09 18:38] #23846 closed

[2019-04-09 18:43] AndyAyersMS commented on #23832
@kudlatiger this looks like an issue with .Net Framework, and this repo is for .Net Core. While they are similar they are not the same.

Per the readme for [dotnet/core](https://github.com/dotnet/core) can you report this via the [VS Developer Community Portal](https://developercommunity.visualstudio.com/)?

Also when you do that, we'll need more details to help figure things out:
* is this a regr

[2019-04-09 18:56] BruceForstall commented on #23796
Ah, yes. I do see the same code as you for Test, but then Call asserts.

Typically, it seems like when I run test cases like this, the stack has a lot of committed pages, probably due to previous JIT compilations or VM work or ???

Presumably you could write some code to first consume a bunch of stack (but not overflow), then pop it, then run your test case, and get the same behavior as me (Call a

[2019-04-09 19:13] marklio opened #23847 "Assertion failed 'type == flagVal->TypeGet()'"
See IL repro at the bottom. Please let me know if you need more info, or a repro of a different form. This assert is seen on 183 real assemblies from NuGet.org. I tried to turn this into a repro that would hit this on JIT, but the repro I reduced seemed only to repro on crossgen.

Save the IL below as test.il
ilasm test.il /dll
run amd64 CHK crossgen on test.dll:
crossgen.exe /in test.dll /out tes

[2019-04-09 19:36] AndyAyersMS commented on #23792
Likely culprit is `fgMoveOpsLeft`. It has some byref paranoia, but perhaps not enough.

[2019-04-09 19:42] AndyAyersMS commented on #23847
Probably an overly broad assert. Will investigate.

[2019-04-09 19:43] #23643 closed

[2019-04-09 19:56] johnkellyoxford commented on #17469
I am 100% sure it is - my commands are just:
[code]

[2019-04-09 20:14] AndyAyersMS commented on #17469
Perhaps you need to update this entry in opcode.def?

https://github.com/dotnet/coreclr/blob/5608b4ff0f81b99a5d436dec1e23b393503a4e07/src/inc/opcode.def#L320

[2019-04-09 20:26] johnkellyoxford commented on #17469
I did, it is now
``` OPDEF(CEE_NO,                   "no.",           Pop0,               Push0,       ShortInlineI,         IPrefex,  2,  0xFE,    0x19,    META) ```

[2019-04-09 20:35] AndyAyersMS commented on #17469
Ok ... what does `%DEBUGCORERUN% point at in your command sequence above?

[2019-04-09 20:49] johnkellyoxford commented on #17469
The path to the CoreRun, `WindowsNt.x64.Debug` or very close to that

[2019-04-09 20:57] AndyAyersMS commented on #17469
Depending on what you are doing there may be more than one copy of corerun in your tree. So which one are you using? is it under bin\Product or bin\Tests ?

[2019-04-09 20:58] johnkellyoxford commented on #17469
Expected behaviour is observed with the program, an `IndexOutOfRangeException` is thrown when I perform an access past the end of the array I use, and not otherwise. It also prints what is expected when that exception is not thrown, and the `IL to import` when dumped is exactly as expected, *except* with these missing prefixes. I will link in a draft PR in a minute

[2019-04-09 20:58] AndyAyersMS commented on #23791
Have put up a proposed fix in #23850 -- it uses GTF_DONT_CSE to catch cases where IND and FIELD are part of an ongoing address chain.

[2019-04-09 21:18] kouvel commented on #23199
I don't see why it shouldn't be GCStress-compatible

[2019-04-09 21:27] sandreenko commented on #23404
I could not repro that issue (300 runs). There were many changes in LSRA in https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_jitstressregs0x80_tst/59/ where it began to pass, so it looks fixed. Please reopen this if you see that failure again.

[2019-04-09 21:27] #23404 closed

[2019-04-09 22:27] erozenfeld commented on #23792
I'll investigate.

[2019-04-09 23:49] jkoritzinsky commented on #17469
I think the suggestion here with removing the null checks based on the C#8 feature was more directed at the idea of adding support to the IL Linker to add the `.no` prefix to the IL instructions based on the attributes. As long as that phase would run before the attribute-stripping phase (also would be part of the linker), then that should work without the JIT needing to have any concept of C#8 nu

[2019-04-10 01:36] AndyAyersMS commented on #23791
@jkotas I don't get exceptions for those two truncated cases with the current jit...

[2019-04-10 01:37] VincentBu opened #23860 "[x64] Precondition failure in x64_checked_windows_nt_corefx"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_corefx_baseline/826/

**Log:**
[code]

[2019-04-10 01:40] VincentBu opened #23861 "[x64] Test failed: System.Numerics.Tests.GenericVectorTests.LessThanAllDouble"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_corefx_jitstressregs1/822/

**Failed tests:**
System.Numerics.Tests.GenericVectorTests.LessThanAllDouble
System.Numerics.Tests.GenericVectorTests.LessThanAllSingle

**Log:**
[code]

[2019-04-10 01:42] AndyAyersMS commented on #23847
This is an assert in the `Enum.HasFlags` optimization. We roll back the boxes and try and operate on the values that were about to be boxed. But those values don't have to have the same types (here: short and int).

So one fix here is to adjust the types when they don't match. Not sure yet if we should use the smaller of the types, the larger of the types, or extend both  (if short) to TYP_INT.

O

[2019-04-10 01:45] VincentBu opened #23862 "[x64] Test failed: System.Numerics.Tests.GenericVectorTests.GreaterThanOrEqualAllDouble"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_corefx_jitstressregs3/809/#showFailuresLink

**Failed tests:**
System.Numerics.Tests.GenericVectorTests.ConditionalSelectUInt32
System.Numerics.Tests.GenericVectorTests.NarrowDouble
System.Numerics.Tests.GenericVectorTests.ConditionalSelectSingle
System.Numerics.Tests.GenericVectorTests.Cond

[2019-04-10 01:53] mikedn commented on #23847
There's really no such thing as mismatched types unless the types in question are int/long. But short/int is really int/int because small int typed nodes are assumed to produce "actual type" values, that is, int values.

The problem is that only certain nodes are expected to have small int types - indirs, lclvars, calls and maybe a few others. If this short node is something else or if the AND nod

[2019-04-10 03:53] GrabYourPitchforks opened #23864 "Re-enable System.Text.Encoding tests in CoreCLR"
We have some unit tests from the __System.Text.Encoding.Tests__ project suppressed in __CoreFX.issues.json__ since they were failing while the UTF-8 work was taking place. This is a tracking issue to re-enable them once the tests are fixed in CoreFX and make their way over here.

[2019-04-10 04:11] jkotas commented on #23864
We are not tracking removing individual entries in CoreFX.issues.json. The plan is to delete all exclusions in CoreFX.isssues.json once the CoreFX test drop is updated.

[2019-04-10 04:11] #23864 closed

[2019-04-10 04:13] jkotas commented on #23842
`GCPROTECT_BEGININTERIOR` is meant to be used on pointers into the middle of the object. It can be used on any pointer - `int*`, `void*`, and `OBJECTREF*` too.

I do not see any problem with this code.

[2019-04-10 04:13] #23842 closed

[2019-04-10 04:16] jkotas commented on #23845
Looks like a duplicate of https://github.com/dotnet/coreclr/issues/20220

[2019-04-10 04:23] jkotas commented on #23791
@AndyAyersMS Do you have the `long X;` field in your repro? This field makes a difference - if you omit the field, the NullReference exception is never thrown. (I did not have it include in the minimal repro at the top originally.)

[2019-04-10 05:39] mikedn commented on #23796
Yep. Just calling another function with a large local variable in it has this effect:
[code]
[code]

Or a new `IMPL_LIMITATION` so that `Test` itself throws `InvalidProgramException` when it is being compiled. I doubt that passing such large structs on the stack is useful to anyone but if someone does this then the appropriate behavior would be to either work correctly or throw `InvalidProgramExce

[2019-04-10 05:47] BruceForstall commented on #23860
@sergiy-k Something your team can look at?

Unfortunately, these runs normally time out so we don't have good history.

[2019-04-10 05:48] BruceForstall commented on #23861
@tannergooding Something you could look at?
cc @CarolEidt

[2019-04-10 05:49] BruceForstall commented on #23862
Closing as a dup of https://github.com/dotnet/coreclr/issues/23861

[2019-04-10 05:49] #23862 closed

[2019-04-10 05:49] BruceForstall commented on #23861
Also see https://github.com/dotnet/coreclr/issues/23862

[2019-04-10 08:04] johnkellyoxford commented on #17469
but looking at the diff on my draft PR, i am sure none of that code is responsible for the transformation.

[2019-04-10 13:43] johnkellyoxford commented on #17469
Draft PR up at #23851, has a couple of typos with variable names and there might be an erroneous bracket (fixed on local, will push when I next can), but that's not an issue atm because the code is never reached due to this weird disappearance of the prefix

[2019-04-10 13:52] roji commented on #16621
See #7592 which would implement the intrinsics approach in coreclr - if done this issue would be obviated.

[2019-04-10 15:07] tannergooding commented on #23861
Looking

[2019-04-10 15:34] RussKeldorph commented on #23860
@fadimounir

[2019-04-10 15:48] AndyAyersMS commented on #23791
Thanks, I can repro. The lack of any exception from the second case is looks like a different issue and is still there with my fix -- morph is discarding an unused tree with a potential side effect. I'll look into it.

[2019-04-10 15:54] karelz commented on #7592
I let @jkotas to comment if you changed his mind. This is way out of my area of expertise ...
cc @adamsitnik @steveharter @GrabYourPitchforks

[2019-04-10 16:09] omajid opened #23866 "ParseCommandLine in util.cpp handles pdst being null inconsistently"
Initially, `ParseCommandLine` does checks to handle the case where `pdst` can be null:

https://github.com/dotnet/coreclr/blob/289b7036dfa172fcbdb812c03ccfd599d6d09724/src/vm/util.cpp#L44

But later on, it seems to mix up that assumption by unconditionally doing `pdst++`:

https://github.com/dotnet/coreclr/blob/289b7036dfa172fcbdb812c03ccfd599d6d09724/src/vm/util.cpp#L94

Perhaps this code should

[2019-04-10 16:14] tannergooding commented on #23861
This has been failing since https://ci.dot.net/job/dotnet_coreclr/job/master/view/x64/job/jitstress/job/x64_checked_windows_nt_corefx_jitstressregs1/818/

The most likely related change looks to be Improve Upper Vector Save/Restore (#23344) (commit: 358d9d2).

Trying to get a repro locally still.

[2019-04-10 16:18] johnkellyoxford commented on #17469
@AndyAyersMS I used Product

[2019-04-10 16:24] janvorli commented on #23866
It seems the code is correct. IThe pdst needs to be incremented so that it we can return how much space is needed in case the pdst was NULL. See the comment on the ParseCommandLine:
https://github.com/dotnet/coreclr/blob/289b7036dfa172fcbdb812c03ccfd599d6d09724/src/vm/util.cpp#L26-L29

[2019-04-10 16:30] omajid commented on #23866
Ah. Sorry for the noise, then.

[2019-04-10 16:30] #23866 closed

[2019-04-10 16:59] fadimounir commented on #23860
Thanks. I'll take a look

[2019-04-10 17:00] RussKeldorph commented on #18286
`SystemCollGenericICollClear` was deleted.
`LocallocLarge` has had no "interesting" failures (e.g. it timed out once--yesterday, coredistools failed to download 4 times, etc.) in any test mode in our Kusto history.

I don't think we're going to investigate any time soon based on the above.  Please re-open if you disagree.  @dotnet/jit-contrib @janvorli.

[2019-04-10 17:00] #18286 closed

[2019-04-10 17:27] jkoritzinsky opened #23868 "Document/Verify minimum supported CMake version per build OS"
We require a different version of CMake on each OS platform that we build on since we use the version provided by the package repository on the OS for non-Windows platforms. However, we have no documentation about what versions these are. As a result, it's very difficult to try to clean up our CMake scripts since there's no good way to know what version we need to support until a CI run fails.

cc

[2019-04-10 17:31] tannergooding commented on #23861
Got a repro.

Dissassembly is:
[code]

[2019-04-10 17:32] tannergooding commented on #23861
The failure is on L1469, which is the second part of IG08:
[code]

[2019-04-10 17:36] CarolEidt commented on #23861
@tannergooding - thanks for working on this!! Feel free to reassign to me if you'd like.

[2019-04-10 17:38] janvorli commented on #23868
Our requirement is cmake 2.8.12, as recorded in the root CMakeLists.txt:
https://github.com/dotnet/coreclr/blob/f63bb80464e5432fc3250375bc38830d82c531ce/CMakeLists.txt#L2

Our CMake scripts should work on cmake of that version or newer

The only exception is Windows, but that's not because of the scripts, but because of the version of VS projects / solutions we want it to generate. A CMake version

[2019-04-10 17:38] tannergooding commented on #23861
Here is the [JitDump.txt](https://github.com/dotnet/coreclr/files/3065067/JitDump.txt) as well.

[2019-04-10 17:44] RussKeldorph commented on #23242
Removed blocking since this is probably just due to a slower (Checked) runtime.

[2019-04-10 17:49] RussKeldorph commented on #20246
Removing blocking label as this is likely just a slow (Checked) runtime.

[2019-04-10 17:51] jkoritzinsky commented on #23868
Are there any OS versions that we're still building on that bundle 2.8.12 instead of 3.0 or newer? The last I know of is Ubuntu 14.04 which is EOL, but I don't know if I'm missing a platform. We have a few places in our build scripts that have to branch based on behavior changes in 3.0. Additionally, there are quite a few places throughout our CMake scripts that could be cleaned up if we had acces

[2019-04-10 17:53] RussKeldorph commented on #19985
Close based on success of https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_ubuntu16.04_gcstress0x3_tst/24/ and https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_ubuntu16.04_gcstress0x3_tst/25/?

[2019-04-10 17:54] RussKeldorph commented on #20039
Removing blocking label until we get an actionable repro.  @chingchenms Any chance you could provide more information?

[2019-04-10 17:55] tannergooding commented on #23861
Thanks @CarolEidt.

It looks like we are calling the `Xunit.Assert:True(bool? condition, string userMessage)` overload here

The code looks to be generally correct.
* We are zeroing ymm6 and initialing ymm7 to all ones.
* We are doing a `LT_OS` (less than, ordered, signaling) comparison between them.
* We then initialize ymm7 to all ones again.
* We then compare the result (ymm6, moved into ymm8)

[2019-04-10 17:58] janvorli commented on #23868
Yes, we build arm32 official builds on Ubuntu 14.04 to make it as universal as possible. Similar to why we build for x64 on CentOS 7. On both systems, the 2.8.12 is the highest available version.

[2019-04-10 18:03] janvorli commented on #23868
I wonder, what do you have on mind as places that could be cleaned up if we moved to 3.0+?

[2019-04-10 18:11] RussKeldorph commented on #21427
Removing blocking label because System.Net tests are not reliable enough to use.  It also appears likely that, if this failure is indeed more likely on these ARM64 boxes, it's probably due to their high core count as opposed to their architecture.

[2019-04-10 18:13] fadimounir opened #23872 "R2R code calls a zero-address, and AVs"
Repro app: https://github.com/ridomin/msix-catalog
1) cd msix.catalog.app
2) set ReadyToRun property to true in the .core.csproj file
3) dotnet publish -r win-x64 to produce the R2R images

AV is in DirectWriteForwarder.dll, and is hit on the startup of the app.

[2019-04-10 18:16] jkoritzinsky commented on #23868
The one I ran into yesterday was refactoring some of the settings we have in `windows-compiler-override.txt` and family to use new CMake properties like `CMAKE_CXX_STANDARD` or things like `add_compile_options` or the new target-focused commands like `target_include_directories`, `target_compile_definitions`, `target_compile_options` instead of the global commands that affect all targets created a

[2019-04-10 18:19] RussKeldorph commented on #23788
@jaredpar

[2019-04-10 18:20] fadimounir opened #23873 "We JIT some methods that should already have R2R code, even when tiered compilation is disabled"
Repro app: https://github.com/ridomin/msix-catalog

1. cd msix.catalog.app
2. set ReadyToRun property to true in the .core.csproj file
3. Add this workaround to the csproj (#23872):
`  <ItemGroup>
    <ReadyToRunExclude Include="DirectWriteForwarder.dll" />
  </ItemGroup>`
4. dotnet publish -r win-x64 to produce the R2R images
5. set COMPLUS_TieredCompilation=0 and run the app

This will require t

[2019-04-10 18:22] fadimounir commented on #23873
/cc @brianrob @jkotas

Brian, if you have some free cycles, feel free to pick this up and investigate why we're jitting something that should have R2R code. It might be a by-design limitation, or a missing feature... who knows.

i'm currently working on functional issues, so it might take me a while to get back to this issue.

[2019-04-10 18:27] RussKeldorph commented on #23820
@jeffschwMSFT

[2019-04-10 18:28] brianrob commented on #23873
@fadimounir thanks for sharing.  If I can, I will take a look.  It may take me some time as well to get to this one, but appreciate you sharing.

[2019-04-10 18:31] RussKeldorph commented on #23837
@davidwrighton

[2019-04-10 18:34] RussKeldorph commented on #23831
@tarekgh

[2019-04-10 18:35] #19985 closed

[2019-04-10 18:43] jkoritzinsky commented on #23868
We should revisit this when Ubuntu 14.04 LTS, RHEL 6, and CentOS 6 hit EOL and .NET Core is no longer supporting them.

Ubuntu 14.04 will at the end of this month and 3.0 isn't going to support it. RHEL 6 and CentOS 6 will hit EOL on November 30, 2020, so we've got a while until they're not supported.

[2019-04-10 18:54] janvorli commented on #23868
I was talking about CentOS 7, not 6.

If we really wanted to move to 3.0+, we could compile a new cmake version ourselves when building the docker images that we use for building stuff. In fact, I have just realized that the arm32 is being cross-built and so we are not using the cmake 2.8.12 anymore. We use a newer version present on the machine we use for cross-building. So the x64 builds on Cent

[2019-04-10 18:57] sandreenko commented on #23199
I can repro that issue on my x64 Ubuntu 18.04 machine, continue investigating.

[2019-04-10 18:57] tarekgh commented on #23831
@Leon99 In general .NET Core gets the normalization behavior from the underlying OS, so in some cases it is expected to see some differences. But in this case, I suspect the globalization invariant mode is enabled when running on Azure. could you please check when you run on Azure if the environment variable DOTNET_SYSTEM_GLOBALIZATION_INVARIANT is defined there?

[2019-04-10 19:08] tarekgh commented on #23831
I suspect this is similar to https://github.com/dotnet/corefx/issues/36631 because of  globalization environment mode.

[2019-04-10 19:11] tarekgh commented on #23649
I am closing this issue as it is really machine environment issue.

@RUSshy feel free to reply back and we'll continue help you. I hope you can reach the bottom of this issue.

[2019-04-10 19:11] #23649 closed

[2019-04-10 19:23] GrabYourPitchforks commented on #7592
I had hoped that https://github.com/dotnet/corefx/issues/24390 would be a way to address this. Essentially, you could ask the runtime for a delegate which acts as a fact factory for some type _T_, then you could cache that delegate and keep calling it as needed.

[2019-04-10 19:33] swaroop-sridhar commented on #23820
SImilarly for UnixCorerun; In the unix case, the issue affects both TPA and NativeDllSearchDirectories.

[2019-04-10 19:34] jkoritzinsky commented on #23868
If we're talking CentOS 7, then I think they have a `cmake3` package that installs a 3.X version of CMake under the name `cmake3` that we could use or set up as an alternative symlink for `cmake` and make it default in our images.

The first ideas I have would be the places we have across the repo where we have two subdirectories that only contain CMakeLists.txt files. We could combine those files

[2019-04-10 19:36] jkoritzinsky commented on #23868
It looks like the CentOS images already install the `cmake3` package to build llvm and clang if they're the ones at https://github.com/dotnet/dotnet-buildtools-prereqs-docker

[2019-04-10 20:56] janvorli commented on #23820
I believe the bug is in the doc, the code predates the doc by at least a couple of years and the CORE_LIBRARIES was intended to contain path to a single directory.
The intention was that corerun would look for assemblies into two directories - the directory where the application assembly resides and the directory where the runtime  / FX libraries reside.
For more complex lookup policies, the dotne

[2019-04-10 20:57] janvorli commented on #23820
@eli-fin is there a reason why you would like to use corerun instead of the dotnet host?

[2019-04-10 21:10] tannergooding commented on #1685
@jkotas, is this a terribly complicated thing to support? I believe you've mentioned before that this is largely "just work", but I was wondering how much work that is...

Testing locally, it looks like changing one line lets things light up and function as expected (although I imagine I may be missing corner cases or other funcitonality). Namely, changing https://github.com/dotnet/coreclr/blob/ma

[2019-04-10 21:17] AndyAyersMS commented on #17469
I'll take a look when I get a chance, might be a day or two.

[2019-04-10 21:19] AndyAyersMS commented on #23791
Hmm, looks like I was confused. The proposed fix in #23850 handles the second case.

[2019-04-10 21:29] AndyAyersMS commented on #23873
ETW jit events should indicate when there was R2R code for a method that could not be used.

[2019-04-10 21:29] RussKeldorph commented on #23803
@dotnet/jit-contrib Is anyone besides @CarolEidt available to take this?

[2019-04-10 21:31] brianrob commented on #23873
Yes, and if memory serves, I have updated PerfView to actually consume these bits so that they show up properly in the Events view.

[2019-04-10 21:32] jkotas commented on #7592
It would be certainly better to do this without runtime codegen (i.e. without using Reflection.Emit or equivalent) using the technique used by .NET Native. This requires change in the JIT that only a very few folks are able to do.

We have given up to large degree on making CoreCLR to be low footprint and AOT friendly runtime, so dependency on `Reflection.Emit` from `Activator.CreateInstance` woul

[2019-04-10 21:37] jkotas commented on #1685
It probably does not require too many changes; however there is very likely non-trivial bug tail associated with it. The build-in runtime interop always comes with lot of surprises.

@jkoritzinsky should be able to help you

[2019-04-10 22:05] tannergooding commented on #1685
@jkoritzinsky, if you are interested; I started prototyping this here: https://github.com/tannergooding/coreclr/tree/marshal-generic

I also looked at all the places that currently use `IDS_EE_BADMARSHAL_GENERICS_RESTRICTION` and, other than the place I touched, they all seem to be around generic reference types (rather than value types).

[2019-04-10 22:08] masonwheeler commented on #1685
Great to see some real work being done on this! 😄

[2019-04-10 22:14] sandreenko commented on #23242
Hm, I can't repro it locally:
System.Runtime.Numerics.Tests.dll takes 40 seconds, the test alone takes 20 seconds to run.

[code]

Of course, we do not have logs from the failing runs in CI but as I remember that issue was stable. I will try to reenable it in a PR and trigger baseline job there several times, we will see if the issue still exists ut repro only in CI or it magically disappeared.

[2019-04-10 22:31] GrabYourPitchforks commented on #7592
TBH I don't think we'd need ref emit. Eventually a reflection-based instantiation turns into a call to [`AllocateObject`](https://github.com/dotnet/coreclr/blob/d3e39bc2f81e3dbf9e4b96347f62b49d8700336c/src/vm/gchelpers.cpp#L1140). If we can perform all of the Type checks up front and cache the pointer that needs to be passed to this method, we could make a very fast implementation of `GetUninitial

[2019-04-10 23:00] jkoritzinsky commented on #1685
@tannergooding from a quick glance I think that the prototype you have should work for most cases, but might cause unexpected behavior in the following scenario:

If the user creates a COM object with a method with the signature `void Method(KeyValuePair<K, V> pair);` then the way this is marshalled will depend on the type of `T` as well as if the type is a WinRT type or a non-WinRT type. If it's

[2019-04-10 23:10] tannergooding commented on #1685
@jkoritzinsky. Thanks for the information.

I'll move forward by writing tests covering the various scenarios here and seeing what breaks where. I'll try to explicitly cover some of the cases you gave above as well.

[2019-04-10 23:15] GrabYourPitchforks commented on #23359
Turns out this likely has to be an extension method. If the compiler will favor `string.GetPinnableReference` over the normal pinned local logic, we don't want `fixed (char* p = <null>)` to suddenly start throwing null refs where previously it would have returned null.

[2019-04-10 23:22] jkotas commented on #23359
@GrabYourPitchforks Roslyn codegen emits explicit null check upfront, ie: `fixed (char* p = s)` compiles into something like `p = (s != null) ? s.GetPinnableReference() : null`.

cc @VSadov

[2019-04-10 23:23] GrabYourPitchforks commented on #23359
You're right. I wrote my test incorrectly. :)

[2019-04-10 23:27] jkotas commented on #7592
Right, this is pretty close what the ultimate implementation with the help of the JIT would do. It would still need some new intrinsics and such.  If we took that route, I think it is better to do the proper AOT-friendly fix that does what you have described as part of JITing the method.

[2019-04-11 00:04] VSadov commented on #23359
Yes. `fixed` is not supposed to throw on nulls/empties.
Pinned `null` just becomes a `nullptr`, which user can handle whichever way desired inside the block.

[2019-04-11 00:15] AaronRobinsonMSFT commented on #1685
I would prefer if we didn't pollute the COM world with this. Properly expressing these kinds of things isn't possible in COM. Support should be relegated to P/Invokes and WinRT scenarios.

[2019-04-11 00:56] VincentBu opened #23882 "[x86] error RC1015 in x86_checked_windows_nt"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_gcstress0xc/129/

**Log:**
[code]

[2019-04-11 00:59] VincentBu opened #23883 "[x86] Test failed: Interop\COM\NETClients\ConsumeNETServer\ConsumeNETServer\ConsumeNETServer.cmd"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/x86/job/jitstress/job/x86_checked_windows_nt_gcstress0xc_jitstress1/127/

**Failed tests:**
Interop\COM\NETClients\ConsumeNETServer\ConsumeNETServer\ConsumeNETServer.cmd

**Log:**
[code]

[2019-04-11 01:01] jkoritzinsky commented on #23883
cc: @AaronRobinsonMSFT

[2019-04-11 01:06] VincentBu opened #23885 "[arm64] Assertion failed 'spillReg != REG_NA'"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_corefx_jitstressregs0x80_tst/160/

**Failed tests:**
System.Numerics.Tests.PlaneTests.PlaneNormalizeTest

**Log:**
[code]

[2019-04-11 02:30] Leon99 commented on #23831
@tarekgh DOTNET_SYSTEM_GLOBALIZATION_INVARIANT is not defined.
I'm not sure if there is a simple way to execute arbitrary C# code in Azure App Services for Linux. Is there anything I could check from its SSH console?

[2019-04-11 04:21] #22213 closed

[2019-04-11 04:51] YohDeadfall commented on #7592
I wrote a scratch yesterday, but haven't tested it or even compiled. It's near the same @GrabYourPitchforks said, so I can take the issue and will open a PR later.

As @jkotas wrote in https://github.com/dotnet/coreclr/issues/6843#issuecomment-241566379, this code doesn't support default constructors for value types, but will fix it.

[code]

[2019-04-11 05:44] eli-fin commented on #23820
@janvorli,
Not really, I guess.
I just wasn't very familiar with .net core and wanted to test something quickly with my own runtime build.
CoreRun seemed like the quickest way to do it and I was counting on the documented behavior of `CORE_LIBRARIES`.

[2019-04-11 05:54] #23883 closed

[2019-04-11 07:01] #23359 closed

[2019-04-11 07:29] HamedFathi commented on #552
@jkotas @janvorli

Do you have an idea on how to write `Hot Reloading` with this feature? I want to replace any plugin without blocking `dll`  to load it on an application **without restarting**. It was possible on the .NET Framework.

`Update plugins without the need to restart` Is it possible? If yes, How? **What is your idea?**

I wrote something for this but I load all assemblies in memory as

[2019-04-11 07:45] janvorli commented on #552
@HamedFathi the unloadability should work for your case. You can take a look at the sample at https://github.com/dotnet/samples/tree/master/core/tutorials/Unloading and howto document on unloadability at https://docs.microsoft.com/en-us/dotnet/standard/assembly/unloadability-howto.

[2019-04-11 09:25] ghbeta commented on #18013
i was meant .net core preview 4. just noticed the vs16.1 preview 1 is arrived, hope the c++ compiler will be ready at preview 2, i assume we have to retarget the framework of cli c++ project to .net core 3.0?

[2019-04-11 09:51] mattwarren commented on #19622
As I mentioned in https://github.com/dotnet/coreclr/issues/18977#issuecomment-482041963, I'm also blocked on this issue, is there any ETA on a fix? (If it helps, I built the CoreCLR locally, as-of commit [5d57b87](https://github.com/dotnet/coreclr/commit/5d57b87227b7fd116735edf9f5f75b3154953d8e
))

[2019-04-11 12:08] RussKeldorph commented on #23882
Earlier issue in the log is a failure to restore buildtools, so this is network infra.  Subsequent run passed this point.
[code]

[2019-04-11 12:08] #23882 closed

[2019-04-11 12:36] ViktorHofer opened #23892 "Archive coreclr test binaries for Mono consumption"
We should create an archive with the coreclr test assets and publish it onto the blob storage feed same as we did for the corefx tests.

From @RussKeldorph:

cc @marek-safar @danmosemsft @jkotas

[2019-04-11 14:37] tannergooding commented on #1685
@AaronRobinsonMSFT. I'm not sure what you mean by this in particular.

Generics, in general, aren't expressible in native code. The benefit is being able to define a single blittable value type on the managed side that can be used for multiple similar signatures on the native side.

Imagine, for example, you have `struct Point2F { float x; float y }` and `struct Point2U { uint32_t x; uint32_t y}`.

[2019-04-11 14:39] tannergooding commented on #1685
I'm personally fine if we do condition it; as users will have an escape hatch when C# function pointers come around (as they can then manually define the VTBLs and just not rely on the built-in COM support); but I also don't see a reason on why we should limit it.

[2019-04-11 15:03] janvorli commented on #22690
@franksinankaya this issue can be closed, right?

[2019-04-11 15:09] franksinankaya commented on #22690
I have not seen a fix. Somebody complained about the samething on another issue for HPC apps

[2019-04-11 15:40] NextTurn commented on #22561
FYI the delegate spends twice the time on a simple function https://github.com/dotnet/coreclr/issues/22320#issuecomment-466736048

Another benchmark with similar results [ltrzesniewski/Benchmarks](https://github.com/ltrzesniewski/Benchmarks/tree/master/NativeInterop#nativeinteropnetcorebench)

[2019-04-11 15:55] AndyAyersMS commented on #23790
Fixing this seems out of scope for 3.0, so will move to future.

[2019-04-11 16:09] AndyAyersMS commented on #23847
Seems like somewhat dodgy IL here. Before boxing one would expect values to converted to the enum's storage type. So simplest fix is probably just to bail entirely on mismatched pre-box types.

[2019-04-11 16:19] AndyAyersMS commented on #23847
Though implicit short->int should be ok (as box is operating on the stack type). So will just check for int/long cases.

[2019-04-11 16:46] AaronRobinsonMSFT commented on #1685
@tannergooding My comment was made due to a misunderstanding of the issue. I thought the request was for supporting generic member functions as in: `void Foo<T>(Bar<T> r);`

Permitting a complete type that is entirely blittable seems okay in general. This does however require updating the documentation which I would ask be done to at the same time as the work. I spoke with @jkoritzinsky about this

[2019-04-11 16:53] MichalStrehovsky commented on #15683
I spent some time looking at the failure in the commented out test referenced above.

I tracked the bad HRESULT coming from the default interface method call to incorrectly constructed interop vtable (likely around BuildInteropVTable_PlaceMembers).

It seems like there’s a parallel method resolution algorithm here that tries to build a static vtable for interop purposes upfront. This is different

[2019-04-11 16:54] MichalStrehovsky commented on #15683
I spent some time looking at the failure in the commented out test referenced above.

I tracked the bad HRESULT coming from the default interface method call to incorrectly constructed interop vtable (likely around BuildInteropVTable_PlaceMembers).

It seems like there’s a parallel method resolution algorithm here that tries to build a static vtable for interop purposes upfront. This is different

[2019-04-11 17:05] janvorli commented on #19622
I have taken a brief look at the code and the thing that would complicate the implementation is the fact that on Windows, all the arguments are stored in memory in a sequential layout, so we can just get pointers to them and stick them into the pArgumentInfo->ranges[count].startAddress.
On amd64 Unix though, structs can be passed in registers in a complex way, possibly being split between general

[2019-04-11 17:37] tannergooding commented on #1685
I've put up a draft PR here https://github.com/dotnet/coreclr/pull/23899 which includes the basic support and tests.

I've also called out some additional areas that need explicit tests covering them.

[2019-04-11 17:46] sandreenko commented on #23804
I was able to repro it on windows x64 with jitstress2_jitstressregs0x80.
There are many other failures with jitstress2_jitstressregs* on x64 in HardwareIntrinsics and SIMD tests.

[2019-04-11 18:46] sandreenko commented on #23242
Hm, I have triggered this test 3 times in Jenkins ci (https://github.com/dotnet/coreclr/pull/23879) and it failed all 3 times with this timeout.
So:
1. it works locally and in ADO;
2. it always fails in Jenkins;
3. there are other tests that use RemoteInvokeHandle and pass in Jenkins (but I am not sure because they can be excluded as well).

[2019-04-11 18:48] AndyAyersMS opened #23903 "JIT: optFoldNullCheck missed cases"
`optFoldNullCheck`'s pattern match misses some cases.

See https://github.com/dotnet/coreclr/pull/23850#issuecomment-482231386 for one such example (though perhaps that could also be addressed by better handling of commas in add trees).

Will add others as I run across them.

category:cq
theme:basic-cq
skill-level:intermediate
cost:small

[2019-04-11 18:52] tarekgh commented on #23831
could you please try 2 things:

- dump all environment variables on the image and sent it out.
- check if libicu is installed on this image.

Also, maybe if you have the file /etc/os-release or /etc/redhat-release, send the contents to know what version of Linux you are running on.

thanks for your help here.

[2019-04-11 19:04] erozenfeld commented on #23903
cc @dotnet/jit-contrib

[2019-04-11 20:07] AndyAyersMS commented on #23903
Another diff from #23850
[code]
Some pre-existing cases
[code]
[code]
[code]
[code]
Example in the spirit of #23790
[code]
[code]

[2019-04-11 20:22] sandreenko opened #23904 "FailFast: Infinite recursion during resource lookup within System.Private.CoreLib."
I was checking my recent changes and found that many tests are failing with
[code]
on x64 Windows with JitStress=2. JitStressRegs=0x1000,
see more examples in https://dev.azure.com/dnceng/public/_build/results?buildId=150805&view=ms.vss-test-web.build-test-results-tab.

There were similar issues when we used fragile ngen, but it is not the case here. I will do a binary search to find when it was b

[2019-04-11 20:23] sandreenko commented on #23904
cc @dotnet/jit-contrib

[2019-04-11 20:29] sdmaclea opened #23905 "Fix Windows arm break introduced by #23740"
Error is
[code]
possibly from #23740 ?

_Originally posted by @AndyAyersMS in https://github.com/dotnet/coreclr/pull/23889#issuecomment-482293883_

[2019-04-11 20:56] sdmaclea opened #23909 "Separate Test Build & Test Run in Azure Pipelines"
CI often requires rerunning failed legs.
Building tests is time consuming.
If we separated test build from test run,

- it would be simpler to see that the test build failed.
- it could be more efficient to rerun the failed test run in helix.

/cc @RussKeldorph

[2019-04-11 21:05] RussKeldorph commented on #23909
Thanks.  Yeah, we talked about doing this; just haven't gotten to it.

/cc @echesakovMSFT

[2019-04-11 21:50] BruceForstall commented on #7360
@tmat @mikem8361 @tommcdon What's the status of this? I see the code in src\ToolBox\SOS\Strike\util.h still shows:
[code]

and when I do "!u" I get:
[code]
for every disassembled line (actually, if you could tell me how to put the right `diasymreader.dll` in the right place to avoid this problem, I would appreciate it!)

[2019-04-11 21:51] BruceForstall commented on #7360
And @tommcdon why is this "Future", not 3.0?

[2019-04-11 21:51] sandreenko commented on #23904
I have confirmed that this was caused by #23344, assign to @CarolEidt.

repro steps:
1. build x64 checked
2.
cd F:\git\coreclr\bin\tests\Windows_NT.x64.Checked\JIT\CodeGenBringUpTests\Jmp1_ro
set complus_jitstress=2
set complus_jitstressregs=0x1000
set CORE_ROOT=F:\git\coreclr\bin\tests\Windows_NT.x64.Checked\Tests\Core_Root
call Jmp1_ro.cmd (this is Pri1 test so maybe it is not built on you machi

[2019-04-11 21:55] CarolEidt commented on #23804
@sandreenko - I believe this is a duplicate of #23861. I see it failing on windows x64 with just jitStressRegs=0x80. Looking at the code for `BenchmarksGame.MandelBrot_7:DoBench`, you can see where it reuses the register that it is keeping the upper half of ymm6 in (V09), 3 instructions prior to using it to restore it:
[code]
With #23889 it uses `ymm12` instead of `ymm9` for the `vmovupd`

[2019-04-11 22:15] sywhang commented on #23055
Closing as testing is tracked by #23217, and counter APIs were exposed via https://github.com/dotnet/coreclr/pull/23808.

[2019-04-11 22:15] #23055 closed

[2019-04-11 22:20] sandreenko commented on #23804
@CarolEidt I have tried your change from #23889 and it did not fix this issue (on x64 at least). So I think it needs a separate fix.  But yes they are similar, this issue was caused also by  #23344. Is it too late to revert it?

[2019-04-11 22:27] CarolEidt commented on #23804
@sandreenko - I ran this on x64 with my fix, and with COMPlus_JitStress=2 and COMPlus_JitStressRegs=0x80 and it passes.

[2019-04-11 22:30] sdmaclea commented on #19817
This passes on .NET Framework 4.7.2
[code]

[2019-04-11 22:32] sandreenko commented on #23804
Could you please try `complus_jitstressregs=0x1000` without jitstress please?

[2019-04-11 22:36] sdmaclea commented on #19817
This is failing on .NET Core
[code]

[2019-04-11 22:37] sandreenko commented on #23804
That is my output (with your change):
[code]

[2019-04-11 22:41] sandreenko commented on #23804
and if you add `complus_jitstress=2` that you get #23904:
[code]

[2019-04-11 22:47] jkoritzinsky commented on #23909
Maybe this and #23892 could share some of their work?

[2019-04-11 22:55] sandreenko commented on #23242
Ok, I was able to repro it locally when ran all tests. https://github.com/dotnet/coreclr/blob/master/tests/scripts/run-corefx-tests.sh that we use to run tests starts up to `$NumProc` at once and than each test dll creates its own threads so we have up to `$NumProc * $NumTestDlls` threads. And this test creates another process via `RemoteExecuter` and this new process get stuck and the test fails

[2019-04-11 23:15] CarolEidt commented on #23804
The issue that shows up with jitStressRegs=0x1000 appears to be an encoding issue with `vinsertf128`. We think we're generating:
[code]
but what we get is:
[code]
Where the `ymm0` should be `ymm6` to get the two-operand semantic that we want.

[2019-04-11 23:24] tannergooding commented on #23804
@CarolEidt, this is an issue with the Numerics Vector code, correct?

I think we print all operands and test this encoding path for the HWIntrinsics codegen, but wanted to double check...

[2019-04-11 23:25] BruceForstall commented on #23242
I presume by "infrastructure issue" you mean the test will be disabled in Jenkins?

[2019-04-11 23:33] CarolEidt commented on #23804
Sort of ... this impacts both System.Numerics.Vector code as well has HWIntrinsics vector code, as it's the code that saves & restores the upper half of large vectors around calls.

[2019-04-11 23:36] sandreenko commented on #23242
it was disabled with #22697 a month ago.

[2019-04-11 23:37] tannergooding commented on #23804
Sorry, to clarify, I was specifically referring to the insertf128 encoding issue, which sounds like it is separate?

I believe the non-hwintrinsic codegen for the simd instructions often goes down a different code path that doesn't always handle the vex encoding directly (and also causes other side effects like the disasm not displaying the operand)

[2019-04-11 23:44] CarolEidt commented on #23804
Yes, this is not directly related to the encodings, but to the use of the fake 2-operand form of 3-operand instructions (which were used even more extensively before we had as much emitter support).

[2019-04-11 23:45] #23847 closed

[2019-04-11 23:47] CarolEidt commented on #23804
I've added the fix for this to #23889

[2019-04-12 00:28] #23905 closed

[2019-04-12 00:53] BruceForstall opened #23915 "localloc + outgoing argument space stack probing hole"
This doesn't apply to Windows x86; it only applies to `FEATURE_FIXED_OUT_ARGS` targets (arm32, arm64, x64).

The implementation for localloc codegen in the JIT, in `genLclHeap`, first removes the outgoing argument space from the stack, then probes and allocates the localloc space, then adds back the outgoing argument space at the bottom of the stack. When it re-establishes the outgoing argument sp

[2019-04-12 01:15] VincentBu opened #23918 "[arm] Assert failure: Consistency check failed: Managed object size does not match unmanaged object size"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_checked_windows_nt_tst/1295/

**Log:**
[code]

[2019-04-12 01:34] VincentBu opened #23919 "[arm] ConfigurationErrorsException in arm_cross_checked_windows_nt_corefx"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_corefx_minopts_tst/56/

**Failed tests:**
MonoTests.System.Configuration.ConfigurationManagerTest.exePath_UserLevelPerRoamingAndLocal

**Log:**
[code]

[2019-04-12 01:37] VincentBu opened #23920 "[arm] Assert failure: codeSize <= MAX_PROLOG_SIZE_BYTES"
**Job:**
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/jitstress/job/arm_cross_checked_windows_nt_forcerelocs_tst/65/

**Failed tests:**
JIT\jit64\mcc\interop\mcc_i72\mcc_i72.cmd

**Log:**
[code]

[2019-04-12 02:55] Leon99 commented on #23831
Environment variables:
[code]
 /etc/os-release:
[code]
Happy to check for libicu if you tell me how to do it.

[2019-04-12 03:49] #19817 closed

[2019-04-12 04:21] danmosemsft commented on #23811
@stephentoub thoughts?

[2019-04-12 04:25] danmosemsft commented on #22046
@tannergooding can this be closed? Not sure who owns the next action here

[2019-04-12 07:44] #23791 closed

[2019-04-12 07:52] AndyAyersMS commented on #23918
Dup of #23905. Fixed by #23906.

[2019-04-12 07:52] #23918 closed

[2019-04-12 07:54] AndyAyersMS commented on #23920
cc @dotnet/jit-contrib

[2019-04-12 09:16] mattwarren commented on #19622
I spent a bit of time looking at the code, trying to understand what was going on, just for my own education. The most informative thing I found was this comment https://github.com/dotnet/coreclr/blob/3271f5066cafd8764b5bcf24e3bfa3bdcb351dc1/src/vm/callingconvention.h#L18-L34

Does that not indicate that `callingconvention.h`, which the Profler calls into (e.g. [here](https://github.com/dotnet/cor

[2019-04-12 11:12] RussKeldorph commented on #23919
@wfurt

[2019-04-12 11:31] janvorli commented on #19622
The `ArgIterator` in callingconvention.h does handle the complexity. However structs that are passed in a combination of general purpose and xmm registers are not stored in a consecutive block of memory. For this case, the ArgIterator returns special offset (`TransitionBlock::StructInRegsOffset`). The `ArgDestination` has methods for getting location where the argument is stored. For structs passe

[2019-04-12 15:03] GrabYourPitchforks commented on #18208
Addressed by https://github.com/dotnet/coreclr/pull/23098, https://github.com/dotnet/coreclr/pull/22516.

[2019-04-12 15:03] #18208 closed

[2019-04-12 15:06] GrabYourPitchforks commented on #23319
Changes to the __Utf8__ static class were addressed in https://github.com/dotnet/coreclr/commit/effeb6ee79ca64376775a81ef1b2d9b507a30163.

[2019-04-12 15:25] tannergooding opened #23929 "PseudoCustomAttribute.GetStructLayoutCustomAttribute returns incorrect data"
`PseudoCustomAttribute.GetStructLayoutCustomAttribute` currently returns incorrect values for various types. See the implementation here: https://github.com/dotnet/coreclr/blob/72d49127a0c25e4b931c81e621c2411bfb6633a5/src/System.Private.CoreLib/src/System/Reflection/CustomAttribute.cs#L2058-L2096

Namely, for the packing it currently changes `0` to `8`; but it doesn't take into account any changes

[2019-04-12 15:32] ArtBlnd commented on #23903
I'll take a look close to it after solving range check issues.

[2019-04-12 15:38] mattwarren commented on #19622
@janvorli thanks for the in-depth answer, it makes sense now (I didn't fully appreciate that a *single* struct argument could be split across registers and the stack, yeah that sounds tricky)

I'd come across `ArgDestination` when I was looking around for other callers of `GetNextOffset()` (in callingconvention.h), I just hadn't appreciated that the other usages, e.g `RuntimeMethodHandle::InvokeMe

[2019-04-12 15:44] ghuntley commented on #17294
It's not on their roadmap @turabek

[2019-04-12 15:46] mattwarren commented on #19622
BTW, just to confirm that when you have a method with a `this` pointer, the callback passes the correct address in `pArgumentInfo->ranges[0].startAddress`, i.e. it appears that [this code](https://github.com/dotnet/coreclr/blob/3271f5066cafd8764b5bcf24e3bfa3bdcb351dc1/src/vm/amd64/profiler.cpp#L333-L337) is doing the right thing (I guess the Unix ABI convention around that is more straight-forward

[2019-04-12 16:00] #23815 closed

[2019-04-12 16:39] bording commented on #9265
I'd actually prefer to not see official x86 linux binaries, primarily because then I'd feel obligated to build even more native binaries to make LibGit2Sharp work with them! 😄

[2019-04-12 16:48] deinok commented on #9265
@bording And Mono? It runs in x86
Im not sure if this is a good reason for not having an unofficial x86 runtime / sdk.

An important point is that some industrial enviroments are move to have PLC with linux and most of them have a x86 arch. And industrial environments wont change its arch in a looooong time.
Ex: https://w3.siemens.com/mcms/pc-based-automation/en/industrial-iot/Pages/Default.aspx?t

[2019-04-12 17:04] bording commented on #9265
Im not sure if this is a good reason for not having an unofficial x86 runtime / sdk.

True, though at this point I'm considering .NET Core the primary platform for non-Windows support in LibGit2Sharp. Mono doesn't have a way to provide a single NuGet package that has all the binaries needed for different distros that works without some manual intervention.

But that's getting off-topic here, so I'

[2019-04-12 17:06] jkoritzinsky commented on #22384
@janvorli any update on this issue?

[2019-04-12 17:27] wfurt commented on #23919
this seems like another process running. It would be great to capture process list when tests fail.
cc: @MattGal

[2019-04-12 18:06] BruceForstall commented on #23920
Also fails in baseline, starting https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm/job/arm_cross_checked_windows_nt_flow/1734/

Fails with mcc_i70, mcc_i71, mcc_i72

[2019-04-12 18:31] #23861 closed

[2019-04-12 18:32] #23804 closed

[2019-04-12 18:32] #23904 closed

[2019-04-12 18:47] marklio opened #23939 "new AV during crossgen introduced by PR 23828"
Commit 5608b4ff0f81b99a5d436dec1e23b393503a4e07 introduced the check:

[code]

There are cases where method can be null here, which leads to an eventual AV.  SharpDX  (https://www.nuget.org/packages/SharpDX/2.6.3) is an example of a NuGet package that hits this. I'd be happy to provide others.

[2019-04-12 18:48] marklio commented on #23939
assigning fadi since he made the original change.

[2019-04-12 18:48] fadimounir commented on #23939
Thanks @marklio. I was just investigating that and will send a PR with a fix :)

[2019-04-12 18:52] echesakovMSFT opened #23941 "CallbackTests.cmd and ResolveEventTests.cmd time out on Windows_NT x86 in PRs"
For example,
https://mc.dot.net/#/user/coreclr-ci/pr~2Fdotnet~2Fcoreclr~2Frefs~2Fpull~2F23916~2Fmerge/test~2Ffunctional~2Fr2r~2Fcli~2F/20190412.713/workItem/Interop/wilogs

[code]

[2019-04-12 18:56] sandreenko opened #23943 "Assertion failed 'isValidSimm19(distVal)' emitarm64.cpp: 8841"
The failing test: JIT/Regression/VS-ia64-JIT/V1.2-M02/b28158/b28158/b28158.sh
Conf: Linux arm64 Checked jitstress2_jitstressregs8 @ (Alpine.38.Arm64.Open)Ubuntu.1604 or R2R without stress.

It started failing between 4/4 and 4/10.

ADO example: https://dev.azure.com/dnceng/public/_build/results?buildId=152561&view=ms.vss-test-web.build-test-results-tab

cc @dotnet/jit-contrib

[2019-04-12 19:52] BruceForstall commented on #23920
This is a regression due to my change https://github.com/dotnet/coreclr/pull/23715, which increased the size of the arm32 prolog large frame probing loop by 4 bytes, due to loading a "-pageSize" constant instead of zero, to avoid an unnecessary initial loop.

[2019-04-12 20:14] #22302 closed

[2019-04-12 20:22] luhenry commented on #18971
@richlander most of the work so far has been focused on making it work nicely in Docker for Linux images. Is the plan also to improve the support of Docker for Windows images, like `microsoft/nanoserver` image for example?

[2019-04-12 20:33] sandreenko commented on #23803
[code]

First build with the issue:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_debug_ubuntu16.04_tst/158/

[2019-04-12 21:01] luhenry opened #23949 "Switch to workstation GC in case of constrained CPU resources"
Right now, if the user sets the configuration so that the server GC is used, the server GC will be loaded even in conditions where we know the workstation GC would fare better. An example of such conditions is constrained environment where there is only 1 or less CPU or with very low memory.

This can be harmful if users deploy the same projects on different kind of platforms: deploying to a 20+ c

[2019-04-12 21:08] noahfalk commented on #19622
@davmason

Looks like you guys have already deciphered most of the challenges here (thanks!). I just wanted to added a couple things:
1) In [ProfileEnter](https://github.com/dotnet/coreclr/blob/master/src/vm/proftoeeinterfaceimpl.cpp#L10000) we probably do have the wiggle room to copy certain arguments to the stack first so that they can have contiguous memory ranges, then we could report that to

[2019-04-12 21:45] jkoritzinsky commented on #21176
I can't reproduce this failure on .NET Core 2.1.10, 2.2.4, or any 3.0 preview using the most recent SDKs for each on Ubuntu 18.04.

[2019-04-12 21:46] hoyosjs commented on #23773
Fixed by #23924 and #23937. Should be included in the official preview 4 build.

[2019-04-12 21:50] sergiy-k commented on #23941
@fadimounir, could you please take a look at these tests failing in the R2R mode?

[2019-04-12 21:51] #23773 closed

[2019-04-12 22:15] Maoni0 commented on #23949
actually the current behavior is already automatically using workstation GC if you are running an uni-proc machine so this switching is implicit. container should follow the same policy.

[2019-04-12 22:32] luhenry commented on #23949
@Maoni0 where do we automatically fallback to using workstation GC in case of an uni-proc machine?

[2019-04-12 22:38] marklio opened #23950 "Assertion failed '!inlineeLocal.lclIsPinned'"
See IL repro at the bottom. Please let me know if you need more info, or a repro of a different form. This assert is seen on 479 real assemblies from NuGet.org. This IL pattern seems to be an older pattern formerly produced by csc for fixed blocks, but the code for the packages I could find no longer produces this pattern on recent compilers (there is a &int32 that is pinned rather than the int32*

[2019-04-12 22:40] sandreenko commented on #23803
Confirmed that this issue was also caused by https://github.com/dotnet/coreclr/pull/23344. I will check if it was fixed by #23889 or not.

[2019-04-12 22:43] luhenry opened #23951 "Loss of `CGroup::GetCpuLimit` in GC"
With https://github.com/dotnet/coreclr/pull/23537, we removed the capability to rely on the various `--cpus*` options passed to Docker (https://github.com/dotnet/coreclr/pull/23537/files#diff-884426ee59a5c24ed71672ecde49b06cL556).

This impacts our ability to scale the GC in cases where the machine has lots of processors but the docker is only given a small limit (`--cpus=0.5` for example).

If we

[2019-04-12 22:44] Maoni0 commented on #23949
hmm, based on a cursory look of coreclr source it's apparently not the case. on full CLR we've always had this. that's a bug then and should be fixed, for both with and without a container.

[2019-04-12 22:55] BruceForstall commented on #23943
Doesn't fail in Jenkins?
https://ci.dot.net/job/dotnet_coreclr/job/master/view/arm64/job/jitstress/job/arm64_cross_checked_ubuntu16.04_jitstress2_jitstressregs8_flow/

[2019-04-12 22:59] sandreenko commented on #23943
It fails only on Alpine, does Jenkins test it?

[2019-04-12 23:13] safern opened #23952 "AssemblyLoadContext.EnterContextualReflection could produce a null reference exception"
During nullable annotations I noticed that when calling `AssemblyLoadContext.EnterContextualReflection(Assembly)` with an implementation of `Assembly` that it's base type is not `RuntimeAssembly` it would produce a null reference exception.

We call `GetLoadContext` which will return null if the `Assembly` is not a `RuntimeAssembly` -- then we try to dereference it without checking for null.

http

[2019-04-12 23:13] sandreenko commented on #23803
Was fixed by  #23889.

[2019-04-12 23:13] #23803 closed

[2019-04-12 23:33] tarekgh commented on #23831
Thanks for the info. you are running on Alpine which I learned the Alpine images enable the globalization invariant mode https://github.com/dotnet/dotnet-docker/blob/master/2.2/runtime-deps/alpine3.8/amd64/Dockerfile#L22. We have informed the team creating such image about this issue and they are working to fix that. You may follow the issue https://github.com/Microsoft/Oryx/issues/68 which tracki

[2019-04-12 23:35] CarolEidt commented on #23803
Thanks @sandreenko for following up on this!

[2019-04-12 23:41] BruceForstall commented on #23943
Oh, I didn't think it was only Alpine. No, Jenkins doesn't test it.

[2019-04-12 23:41] erozenfeld commented on #23792
The culprit is this code in `fgMorphSmpOpOptional`:

https://github.com/dotnet/coreclr/blob/72d49127a0c25e4b931c81e621c2411bfb6633a5/src/jit/morph.cpp#L13991-L14035

I have a change that allows this transformation for byrefs only if the constant is not negative and the other operand is unsigned. With that I get this code for the issue example:

[code]

[2019-04-12 23:42] erozenfeld commented on #23792
I'll check the diffs to see if this causes many regressions.

[2019-04-12 23:42] tarekgh commented on #23831
CC @kichalla who is looking at similar issue.

[2019-04-12 23:54] sdmaclea commented on #23952
This is the fix I would recommend.
[code]

@safern I can create the PR or let you.

[2019-04-12 23:54] #23796 closed

[2019-04-13 00:03] sdmaclea commented on #23952
@jkotas Perhaps `GetLoadContext` shouldn't return `null`.  Like this...
[code]

[2019-04-13 00:13] gregg-miskelly opened #23954 "Provide Catch Handler Found notifications for async exceptions re-caught in library code"
## Summary

This work item is needed to allow the VS debugger to break when a user's `async Task` method throws an exception back to framework code. This is very common in ASP.NET.

This is part of the larger theme of improving the async experience tracked with https://github.com/dotnet/diagnostics/issues/90.

## Details

Today, if a debugger has disabled catch handler found notifications in libra

[2019-04-13 00:31] AndyAyersMS commented on #23950
Looks like an overly cautious assert.

[2019-04-13 01:00] echesakovMSFT commented on #23943
I can take it

[2019-04-13 01:45] AndyAyersMS commented on #23950
Hmm, maybe not quite that simple.

We now assume only GC refs are pinnable, and this matters because we allow inlining methods with pinned locals (in some cases) and need to unpin them (as part of nulling out all local GC refs), and that won't suffice for cases where the pinned local is not explicitly a GC ref.

So if we see pinned pointer locals, we either need to bail out of inlining or adjust t

[2019-04-13 01:47] sywhang commented on #23756
Fixed with #23768

[2019-04-13 01:47] #23756 closed

[2019-04-13 01:49] marklio commented on #23950
I can get information about the patterns that we see in the ecosystem if it helps make a decision about how to handle these.

[2019-04-13 02:25] echesakovMSFT commented on #23943
Collected backtrace
[code]

[2019-04-13 02:25] AndyAyersMS commented on #23950
I'm planning on  broadening out the current nulling code to handle these -- it is relatively straightforward.

[2019-04-13 03:22] caozhiyuan opened #23960 "[question] choosing between class and struct"
here has a docment write in 2008 :
https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/choosing-between-class-and-struct

it suggest ：
X AVOID defining a struct unless the type has all of the following characteristics:
It logically represents a single value, similar to primitive types (int, double, etc.).
It has an instance size under 16 bytes.
It is immutable.
It will not have to b

[2019-04-13 11:59] TonyValenti opened #23963 "Registration Free Com Interop"
Hi All,
I apologize in advance if this is not the right place to ask this kind of question.

I am using the Microsoft Office COM interop (Microsoft.Office.Interop.Word and Microsoft.Office.Interop.Outlook)

Often times customers have COM registry settings that aren't quite correct and it causes type mismatches when working with instances of the classes.

According to this article:
https://docs.mic

[2019-04-13 15:29] jkotas commented on #23952
I do not think that returning Default context as fallback for non-runtime assemblies would make sense. The alternative would be to throw `Argument_MustBeRuntimeAssembly`, but that would be a breaking change that I do not think we should make.

[2019-04-13 15:42] jkotas commented on #23952
I have submitted doc update in https://github.com/dotnet/dotnet-api-docs/pull/2300. Also, I have noticed that we do not have a test coverage for the non-runtime assembly case. @sdmaclea Could you please take care of adding it?

[2019-04-13 15:44] sdmaclea commented on #23952
@jkotas How do I load a non-runtime assembly?

[2019-04-13 15:59] jkotas commented on #23952
The reflection object model is abstract. Runtime provides one implementation of it, but the same object model can have other independent implementations. For example, we are shipping MetadataLoadContext in 3.0 that is non-runtime implementation of reflection object model (more details in https://devblogs.microsoft.com/dotnet/announcing-net-core-3-preview-1-and-open-sourcing-windows-desktop-framewo

[2019-04-13 17:21] lobster2012-user opened #23968 "#enhancement fullnameof and other"
Hi!
There is a very convenient operator - nameof.
He cuts all after the last point.
But sometimes it is useful to display the full name.
* fullnameof
[code]

[2019-04-13 17:21] benaadams opened #23969 "Inlining FAILED: has ldstr VM restriction"
If one assembly has a static property as follows:
[code]
Using it in another assembly
[code]
Fails to inline the property at Jit time with
[code]

Is this by design? /cc @AndyAyersMS @jkotas

[2019-04-13 17:34] #23920 closed

[2019-04-13 17:39] #23794 closed

[2019-04-13 18:59] jkotas commented on #23960
These are general guidelines. They are not hard rules. "AVOID" means recomendation that does not have to be followed 100% of the time.

16 bytes is a good general number for 32-bit platforms. A good number for 64-bit platforms may be a bit higher, say 24 bytes.

There has been a lot of experiments and interest to use much larger structs to avoid GC heap allocations recently. It typically comes wit

[2019-04-13 19:00] jkotas commented on #23968
Duplicate of https://github.com/dotnet/csharplang/issues/2154

[2019-04-13 19:00] #23968 closed

[2019-04-13 19:01] jkotas commented on #23963
cc @AaronRobinsonMSFT

[2019-04-13 19:06] #23795 closed

[2019-04-13 19:08] AaronRobinsonMSFT commented on #23963
@TonyValenti Great question. I have several interop examples in a repo https://github.com/AaronRobinsonMSFT/COMInterop.

Do you have a specific example of an issue you are hitting with respect to Office COM Interop?

[2019-04-13 19:18] benaadams commented on #23969
Workaround is to lift the string load to a readonly static
[code]

[2019-04-13 19:27] TonyValenti commented on #23963
@AaronRobinsonMSFT - Thanks for the help!
Here's an example coming from a client machine:
References:
[code]

Code:
[code]

Error:
[code]

I notice that when I try to run the example, my reference to Microsoft.Office.Interop.Word also gets redirected to the GAC which I don't want.

Thoughts?

[2019-04-13 19:36] AaronRobinsonMSFT commented on #23963
@TonyValenti This kind of issue was addressed by [Type equivalence and embedded interop types](https://docs.microsoft.com/dotnet/framework/interop/type-equivalence-and-embedded-interop-types). A [video for Visual Studio 2010](https://channel9.msdn.com/Blogs/kmcgrath/Embedding-Type-Information-from-Microsoft-Office-Assemblies) also talks about how to enable the feature - the details still apply.

F

[2019-04-13 19:49] AndyAyersMS commented on #23969
I don't know the specifics here, so will defer to Jan.

[2019-04-13 19:59] benaadams commented on #23969
Note, the behaviour I'm trying to capture is reference equality which direct string consts cross-assembly don't have (as they embed in the call site assembly); so using properties to achieve this.

[2019-04-13 20:28] TonyValenti commented on #23963
@AaronRobinsonMSFT I watched the video and it sounds like all I need to do is turn on "Embed Interop Types", however, I did that on the machine I'm getting teh error from and I still get that error.  Any suggestions?

[2019-04-13 20:47] VSadov commented on #23950
Does `int32* pinned` actually pin anything?

There seems nothing in the spec that prevents adding `pinned` to any local. But I wonder if doing that with `int32*`, `native int` or anything else that is not a manged pointer/reference has any effect?

[2019-04-13 21:09] VSadov commented on #23950
Old CSC had bugs in this area. Instead of pinning the original managed reference it could unintentionally pin the unmanaged pointer copy (which was supposed to be created _after_ pining).

I just wonder whether it still worked.

[2019-04-13 23:03] #23952 closed

[2019-04-13 23:11] caozhiyuan commented on #23960
@jkotas  thanks , Utf8JsonReader/Utf8JsonWriter(ref struct) is stack allocated , may be ok.

[2019-04-13 23:12] #23960 closed

[2019-04-13 23:59] AaronRobinsonMSFT commented on #23963
@TonyValenti That really should work. Please try the following [demo](https://support.microsoft.com/en-us/help/302084/how-to-automate-microsoft-excel-from-microsoft-visual-c-net) and see if the same problem is observed.

[2019-04-14 05:40] jkotas commented on #23969
This check is there to ensure that the inlining won't change the string instance returned for constant string.

It looks like a fragile NGen optimization. I think this restriction can be relaxed without giving up much since we are not optimizing for fragile NGen anymore.

[2019-04-14 09:35] #21559 closed

[2019-04-14 09:40] mazong1123 opened #23975 "Add hardware intrinsic: AddWithCarry"
Related to #22343

Some arithmetic operations in BigInteger can be improved by using `_addcarry_*` intrinsics. Taking [BigInteger.Add()](https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/Number.BigInteger.cs#L393-L395) as an example:

[code]

Adding `_addcarry_*` series of intrinsics is the prerequisite to improve the performance of `BigInteger`.

[2019-04-14 12:29] colgreen commented on #17324
Thought: Could/should this functionality be within a statement block marked as unsafe, as per pinned references and such?

[2019-04-14 13:14] ddobric opened #24019 "Access Violation when working with huge arrays"
I'm working on some ML project and have a "huge" array:

`var x = new int[4096, 250000];`

I utilize array withing following UnitTest running in .NET Core 2.1

[code]

Method **_GetRow2_** is implemented in **_netstandard2.0_** library:
[code]

Test fails inside of method GetRow, while trying to access

![image](https://user-images.githubusercontent.com/1756871/56093334-b9c97000-5ec7-11e9-816f-c8a

[2019-04-14 14:37] benaadams commented on #23969
My aim is to maintain reference equality so not propagate the const cross assembly at AoT (as string consts are not deduped cross assembly at assembly load).

With that goal in mind would it make sense to still block for crossgen/R2R; but allow at Jit/Tier1?

i.e. would a cross-assembly ldstr maintain reference equality at Jit time?