[2015-08-14 04:07] francoisjacques commented on #1010
FreeBSDers, has anyone looked at Rotor package to see how it was done to make the test suite running?

Rotor is basically the same as this repo - although some parts are in Rotor but not here for some obscure reason (... networking?!?) The tests used to work just fine on BSD, although I understand the source code has probably went through several waves of changes between Rotor 1 and 2 and today...

[2015-08-14 04:48] zabulus opened #1389 "A better way marshall structs multiple times"
For now reading structs from native memory works via ```Marshal.PtrToStructure(intPtr, structType)```. AFAIU each call creates field offset map to know which memory bytes to copy to a new struct instance. If this code is called frequently, it becomes one of the hot paths in an application.
One of workarounds is to manually read field values from nativePtr via UnmanagedMemoryStream+BinaryReader or

[2015-08-14 09:49] josteink commented on #1010
Maybe we've gotten lost in the issue-tracking here now?

The CI-setup for FreeBSD should now include PAL tests:

As far as I remember *and* looking at the latest CI console-outputs, we can clearly see the **PAL** tests are getting run:

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr_freebsd_debug/lastSuccessfulBuild/console

[2015-08-14 09:56] josteink commented on #1010
Maybe we've gotten lost in the issue-tracking here now?

The [CI-setup for FreeBSD](https://github.com/dotnet/dotnet-ci/blob/master/jobs/dotnet_coreclr_freebsd_debug/config.xml) should include **PAL** tests. Looking at the latest CI console-outputs, we can clearly see the [PAL tests are getting run](http://dotnet-ci.cloudapp.net/job/dotnet_coreclr_freebsd_debug/lastSuccessfulBuild/console
).

So P

[2015-08-14 10:10] omariom commented on #1341
To use a struct efficiently as key in  hash based collections  you already have to override GetHashCode and implement IEquatable<T>.

[2015-08-14 10:46] omariom commented on #1341
Here is an example:
[code]
It takes 775 ms and allocates 24 bytes (on average) for each Add call.

If we implement GetHashCode:
[code]
it takes 200 ms with no allocations.

Let's make the generated hash code not so perfect. It will cause Equals to be called.
[code]
It will cost us 2.5 seconds and 205 bytes per call.

Finally implement IEquatable<T>:

[code]
Now even though the GetHashCode implemen

[2015-08-14 12:44] francoisjacques commented on #1010
Seems reasonable to keep issues scoped by repo - it's nearly impossible to track issues covering multiple repos on github!

Seems also reasonable to close this issue as runtests.cmd already has one issue for it...

[2015-08-14 12:53] josteink commented on #1010
Agreed. Closing this issue as fixed.

[2015-08-14 12:53] #1010 closed

[2015-08-14 12:56] francoisjacques commented on #1010
(having another look) I realize now that the BVT was not checked-in... (or was renamed?)

Therefore the script [rrun](https://github.com/lewischeng-ms/sscli/blob/adbd6bbad0816f65650a66e1701112a307dc4b09/tests/rrun.pl) that is used to run such base tests and the BCL tests is not present and has to be rewritten, somehow?

[2015-08-14 13:04] josteink commented on #1010
Sounds like something which affects all Unix platforms equally and like material for a new issue?

[2015-08-14 14:01] GSPP commented on #1341
@omariom that is a good point. This seems like a JIT limitation. Maybe we can fix the JIT in this regard as well. The JIT certainly doesn't have to box a struct in order to call default equals and GetHashCode methods. The dictionaries code is being specialized for this exact struct type. This means that when jitting the exact type is known.

[2015-08-14 15:05] Eyas commented on #1341
@omariom Is implementing `IEquatable` relevant here per se, or is it just that overriding `Equals()` alone would prevent boxing? I don't have access to test that right now.

[2015-08-14 18:31] #1386 closed

[2015-08-14 19:21] stephentoub commented on #1237
https://github.com/dotnet/coreclr/pull/1387
https://github.com/dotnet/corefx/pull/2796

[2015-08-14 19:21] #1237 closed

[2015-08-14 19:59] omariom commented on #1341
Overriding Object.Equals will reduce boxing but to get rid of it completely IEquatable is necessary.

[2015-08-14 22:09] leishi1 opened #1396 "Can't convert c# List<List<int>> to RT type IVector<IVector<int>>"
First I created a c++ WindowsRuntimeComponent project and defined a class like below:
`     public ref class Foo sealed`
`    {`
`    public:`
`		int Add1(IVector<IVector<int>^>^ v);`
`    };`

Then I added a c# UWP project, in MainPage's constructor if I call the RT API with
`var f = new WindowsRuntimeComponent1.Foo();`
`var l = new List<int> { 1,2,3};`
`var ll = new List<List<int>>() { l, l };`

[2015-08-16 09:24] mikedn commented on #1341
The default Equals takes an `object` so boxing isn't easy to avoid in this case. `Equals` either needs to be inlined but that's unlikely given the current size of the `ValueType.Equals(object)` or escape analysis needs to be performed on `Equals` and in turn that may allow the boxed object to be allocated on the stack. Not exactly trivial and unlikely to succeed due to the use of reflection.

What

[2015-08-16 10:12] Janiels commented on #1396
The example would break type safety. Consider:
[code]
What is test.Last()? It is not a `List<int>`, since we added an int array (which also implement `IList<int>`).

The conversion you are looking for it only allowed if the interface uses T only in output positions (i.e. if it is covariant); this is the case for IEnumerable. Thus this conversion is actually allowed:
`IEnumerable<IEnumerable<int>>

[2015-08-16 10:13] GSPP commented on #1341
Maybe all that's needed in the JIT is:

    if (receiverType.IsValueType && methodName == "Equals")
     CallIntrinsicFunction(receiverExpr.GetPointer());

It would be even nicer if the C# and/or the CLR had the necessary meta-programming facilities to push all equality concerns (including IEquatable) of a type into an attribute or "template". That is likely not on the table, though.

[2015-08-16 11:03] akoeplinger opened #1401 ".assembly IL directive: definition of "legacy library" and "auto""
I'm looking through the IL testcases and stumbled over the following keywords that aren't mentioned in ECMA335:

[calli2.il](https://github.com/dotnet/coreclr/blob/7e1bc37cfe2bc5372e3b55d7e4b0504ae9493c06/tests/src/JIT/Directed/coverage/importer/calli2.il#L4-L5)

[code]

[typeEqualOp.il](https://github.com/dotnet/coreclr/blob/2d024d472a600156af270765864a95b822bcf272/tests/src/JIT/Methodical/casts/

[2015-08-16 11:28] akoeplinger commented on #1401
Found a page in the ".NET IL Assembler" book by Serge Lidin about `auto` in `.assembly`:

https://books.google.com/books?id=Xv_0AwAAQBAJ&pg=PA91

The same book also says that `legacy library` is "for backward compatibility only", does this mean it can be ignored?

[2015-08-16 19:16] gideonkorir opened #1402 "Throwing IndexOutOfRangeException at Microsoft.Cci.MetadataWriter.GetRowCounts() in openSuse 13.2"
I'm trying to get the Linux sample working on openSuse but I can not get the sample console app to run.
Steps to reproduce:
`
sudo zypper install libunwind

sudo zypper install  libopenssl-devel
`
install mono 4.0.2 from [mono-complete](http://software.opensuse.org/package/mono-complete)  "show other versions" > "Mono:Factory" 1 click install. You are no longer required to sync certificates as exp

[2015-08-16 19:46] akoeplinger commented on #1402
Yeah, this looks very much like https://github.com/dotnet/roslyn/issues/4512. Since the verdict on that issue was that it's a mismatch between the roslyn and coreclr dlls for dnx I hope it'll resolve itself automatically :smile:

[2015-08-16 20:11] gideonkorir commented on #1402
:D ok. We can close the issue and I'll just have to wait since I have no clue on how to fix it :). Linking this issue with [this](https://github.com/dotnet/coreclr/issues/803) to help out anyone wanting to get coreclr on openSuse. Thanks.

[2015-08-17 14:19] James-Ko commented on #1368
So essentially, changes to `GetString` would break compatibility. Alright, I guess I'll close this then.

[2015-08-17 14:19] #1368 closed

[2015-08-17 15:56] alexandrio opened #1404 "System.Console.writeline causes DllNotFoundException: Unable to load System.Native"
Followed instructions to build coreclr and corefx  from building guide, when trying to execute the recomended HelloWorld.cs program causes next exception message:

alejandro@ubuntudev:~/coreclr-demo/runtime$ ./corerun HelloWorld.exe linux

Unhandled Exception: System.DllNotFoundException: Unable to load DLL 'System.Native': The specified module could not be found.
 (Exception from HRESULT: 0x80070

[2015-08-17 16:28] stephentoub commented on #1404
Have you built the native components in the corefx repo and copied them to your execution directory?

[2015-08-17 16:45] alexandrio commented on #1404
yes, i suppose is this step
alejandro@ubuntudev:~/git/corefx$ src/Native/build.sh
alejandro@ubuntudev:~/git/corefx$ cp bin/Linux.x64.Debug/Native/*.so ~/coreclr-demo/runtime

[2015-08-17 17:59] stephentoub commented on #1404
cc: @nguerrera

[2015-08-17 18:53] nguerrera commented on #1404
That should have worked if you those steps executed successfully.  Did the src/Native/build.sh complete successfully? If not, can you provide the output?

[2015-08-17 21:08] alexandrio commented on #1404
well, i deleted repositories and downloaded again, repeated complete procedure for instalation and now was succesfull, last time, there was nothing in the output directory and now there is system.native.so, after this all is working

    alejandro@ubuntudev:~/git/corefx$ src/Native/build.sh
    Commencing CoreFX Native build
    Setting up directories for build
    Checking pre-requisites...
    C

[2015-08-18 01:33] stephentoub commented on #1404
Glad you got it working.

[2015-08-18 01:33] #1404 closed

[2015-08-18 16:52] mmitche commented on #1350
@Furynation @redknightlois Looking at the dump now

[2015-08-18 17:54] Jorenkv opened #1407 "AccessViolationException crash in clrjit.dll when running System.Numerics.Vector<T> SIMD code (repro included)"
I was playing around with the register-sized SIMD operations support provided by System.Numerics.Vector<T> and stumbled across this crash in RyuJIT. Here's a minimal repro:

**Note: only reproduces for a Release build targeting x64 with optimizations enabled. Of course you can't attach a debugger and have 'Suppress JIT optimization on module load' enabled either.**

[code]

Note that the exception

[2015-08-18 18:29] Furynation commented on #1350
@mmitche You are my hero. "Please don't be user error, please don't be user error." :)

[2015-08-18 18:33] mmitche commented on #1350
@Furynation I posted some stuff on the Connect.  I'm trying to get a repro outside of the dump because it doesn't quite give enough info.  Also, did you say that this doesn't repro with RyuJIT disabled?

[2015-08-18 18:35] Furynation commented on #1350
I tried disabling RyuJIT, but it didn't seem to help. Let me pull up my repro once and I'll get back to you shortly.

[2015-08-18 18:35] redknightlois commented on #1350
@mmitche Not in my case at least. I solved it disabling RyuJIT.

[2015-08-18 18:38] mmitche commented on #1350
Hmm, I'm wondering whether these are not related then (but both are interesting).  Did you manage to get a crash dump for your msvsmon crash?

[2015-08-18 18:40] redknightlois commented on #1350
@mmitche No, in my case it is not recoverable. Windows Freezes completely. Only once I was able to see the msvsmon crash before I have to hit the reset button (windows didnt close it just reset directly).

[2015-08-18 18:54] Furynation commented on #1350
@mmitche No lambdas, no conditional break points, just a bunch of setup code for a test. It dies after initializing a builder class I've created. I have a quite a bit of inheritance going on; the minute I step out of this builder constructor, msvsmon crashes. I do have watches, but they're from a different part of the project and they don't exist where I'm debugging. I'd be willing to share the 5-

[2015-08-18 19:26] mmitche commented on #1350
@Furynation I'll let you know if we end up needing it.

[2015-08-18 20:09] mellinoe opened #1408 "GenericPInvokeCalliHelper on Unix"
(Not sure if there is an issue tracking this in general, wasn't able to quickly find one).

Currently, these helpers are stubbed out in the unixstubs file (I'm running on x64 but it's probably true in the other archs as well):

[code]

I was looking into running some small programs using OpenTK (www.github.com/opentk/opentk) on CoreCLR, and hit this assertion running on Linux. OpenTK uses calli fo

[2015-08-18 20:46] mikedn commented on #1407
This happens with the released .NET 4.6 but doesn't happen with CoreCLR built from current sources. Looks like it was already fixed by #1293

[2015-08-18 21:12] cmckinsey commented on #1407
@CarolEidt PTAL to confirm.

[2015-08-18 21:22] CarolEidt commented on #1407
Yes, this was fixed by #1293 but has not yet made it into the released version. As @Jorenkv notes, there is a workaround - this bug will only manifest if the result of a Vector computation is unused.

[2015-08-18 21:38] kouvel opened #1411 "Threads appear to be leaking some memory on Linux"
Creating threads in a loop appears to cause a small amount of memory to leak per thread, adding up to large amounts over time. Most likely, some parts of heap memory allocated by PAL for a thread are not being reclaimed.

I'm taking a look at this issue.

[2015-08-18 21:54] Jorenkv commented on #1407
Good to hear, thanks for looking into it. I did search the issue tracker but didn't find anything, too bad it doesn't search commit messages within pull requests or I would have found https://github.com/dotnet/coreclr/pull/1293 that way.

I guess I could have at tested on the latest builds on github before posting this. I'd have to get a build running on my machine first though.

Thanks again.

[2015-08-18 21:57] mmitche commented on #1350
@Furynation Your bug has been assigned over to the debugger team.  Which just leaves the first issue.  @redknightlois Is the debugging experience good without RyuJIT enabled (responsive).  I'm trying to figure out whether the memory-intensive application could be on the line of running out of memory (at least physical space) and RyuJIT pushes it over the edge, or whether there could be a situation

[2015-08-18 22:01] Furynation commented on #1350
@mmitche  Thank you very much for your help!

[2015-08-18 22:16] redknightlois commented on #1350
@mmitche Not much time, I consume the memory pretty fast in wall clock (heavily multithreaded). As soon as I hit the breakpoint, sometimes in the third or fourth F10 it crash. Sometimes it takes more. Without RyuJIT is is pretty responsive and doesnt crash for me.

[2015-08-18 22:26] JeremyKuhne commented on #1374
@Priya91

[2015-08-19 00:07] mmitche commented on #1350
@redknightlois my initial attempt at repro'ing using a memory hogging app didn't work, steps were still very responsive.  Does it matter where you stop and step as to whether it decided to crash or not (kind of code, types of debugging windows open, etc.).  Is there any way you can get a reduced repro (or just a repro) to us?

[2015-08-19 04:24] redknightlois commented on #1350
@mmitche if I didnt break nothing happens, it crashes only after breaking and stepping through the code.

Do you have any tool out there that would record data that would survive the windows crash? I could at least try to reproduce, some time has passed already (installed Windows 10 in that time :D), but probably I would be able to reproduce it on purpose enabling RyuJIT.

[2015-08-19 05:21] goldshtn opened #1414 "Vector.Dot<float> is slower than trivial product and sum implementation (with repro)"
On my machine (Intel Core i7-940, Nehalem) the following implementations of float vector dot-product produce the following timings:

[code]

This is a pretty serious difference. Here's a portion of the relevant disassembly:

[code]

Note that the bounds checks are not elided. I am also not sure about the instruction selection -- two pairs of shufps + addps to calculate the dot product.

The comple

[2015-08-19 05:32] ellismg commented on #1408
/cc @jkotas @janvorli

[2015-08-19 05:44] mellinoe commented on #1414
Thanks for the in-depth code. Small question/clarification: should the second pair of vectors be created with an offset in your custom method?

[code]

Is there any significant difference if the custom implementation is further unrolled?

@CarolEidt could respond more to the generated assembly.

[2015-08-19 06:00] mikedn commented on #1414
I fail to see what the issue is, you're comparing apples and oranges. The custom implementation is what an autovectorizer may produce, it's not something that can be expected from an intrinsic based implementation.

[2015-08-19 06:01] goldshtn commented on #1414
@mellinoe Yes, of course it should be `i + vecSize`. Fixing the repro code above. The timings are still in effect, pretty much the same perf difference of 20-40% across a few runs.

Unrolling further actually seems to hurt performance.

[2015-08-19 06:03] goldshtn commented on #1414
@mikedn Well, `Vector.Dot` could use the trivial implementation with `mulps` and `addps` instead of emitting `shufps` and `addps` pairs. I don't see why it can't use a more efficient instruction selection if it is available. By the way, one other option is a `dpps`-based implementation, which on some processors might actually be slower.

[2015-08-19 06:17] mikedn commented on #1414
Maybe you mean `haddps` instead of `addps`? It's impossible to do a single dot product with only `mulps` and `addps`.

On my Haswell machine `vdpps` is used. It's not clear to me which variant is actually faster. There's very high variance in the resulting timings, I get anything from your result to the opposite result that shows VectorDP being faster.

[2015-08-19 06:40] Jorenkv commented on #1414
My guess would be that they only support SSE2 instructions right now and therefore can't emit a `haddps` instruction. Given that, the double-shufps makes perfect sense to compute the dot product of a 4-vector. This is the relevant code listing: https://github.com/dotnet/coreclr/blob/efb6696bc3968402d49172cd245c695ae8e24157/src/jit/simdcodegenxarch.cpp#LC1277

As for your manual approach, probably

[2015-08-19 07:03] jkotas commented on #1408
This should be pretty straightforward to implement based on the Windows implementation.

cc @kouvel @sergiy-k

[2015-08-19 07:10] jasonwilliams200OK commented on #1226
@mikedn, Reading this: http://stackoverflow.com/a/11041820 after your comment, now `lea` instruction seems to have unique significance... and like @leppie, i am confused too! :smile: (not sure if this behavior/issue exists in CoreCLR as well?)

[2015-08-19 10:02] mikedn commented on #1226
@jasonwilliams200OK That's a different use of `lea` and it's completely unrelated to this issue. Besides, that SO thread looks like it was hit by the truck of fail with an answer post that doesn't really answer anything and a most voted post that concludes that `lea ecx, [ecx+ecx*4]` is somehow slower than the equivalent `imul` without even bothering to check the latency of those instructions. And

[2015-08-19 11:38] goldshtn commented on #1414
@Jorenkv @mikedn  At the very least, I hope you agree there shouldn't be any array bounds checks in the above code. The JIT has already a strategy where it generates two versions of the loop -- one with and one without bounds checks. Not sure why this isn't happening here, but that can't be good for perf either.

[2015-08-19 11:44] Jorenkv commented on #1414
Indeed. The JIT is able to elide the bounds checks for `for (int i = 0; i < a.Length; i++)` and it's obvious to any human that changing `i++` to `i += any positive number` doesn't change anything at all about the validity of `a[i]`: as long as the loop is guarded by `i < a.Length`, `i` started at 0, and is only ever increased then `a[i]` will always be valid. The JIT knows the value of `Vector<flo

[2015-08-19 14:54] mmitche commented on #1350
Let me ask around and see what people think.  If it doesn't crash the process, then an automatic minidump isn't going to work.  I'm wondering whether you can get it almost to the point of crashing (a couple F10's), then generate a minidump of whatever process appears to be starting to eat a ton of mem or CPU (it would be another process).  You can do that by right clicking on a process in the task

[2015-08-19 15:07] Jorenkv commented on #1414
So I did some digging into the range checking thing, and found this comment: https://github.com/dotnet/coreclr/blob/4cf8a6b082d9bb1789facd996d8265d3908757b2/src/jit/optimizer.cpp#L7643

    /* We require the loop to add by exactly one.
       The reason for this requirement is that we don't have any guarantees
       on the length of the array.  For example, if the array length is 0x7fffffff

[2015-08-19 15:19] goldshtn commented on #1414
@Jorenkv This is especially true since the JIT already has the logic for generating two versions of the same loop and dispatching at runtime based on array lengths. I don't have an example in front of me right now, but off the top of my head the following code would have two runtime paths -- one for when `b.Length <= a.Length` and another when it's larger.

[code]

[2015-08-19 15:23] goldshtn commented on #1414
@Jorenkv  BTW as for the performance difference: the C++ code generated from `_mm_dp_ps` was noticeably faster than the C# code generated from `Vector.Dot` last time I checked. Source and assembly [in this gist](https://gist.github.com/goldshtn/a1cf8a1d3007bf731224).

[2015-08-19 15:26] mikedn commented on #1414
Well, yes but wasn't the main subject of your issue, it was only a side note.

It's a bit more complicated than that because in this case there's not only `a[i]`, there's also `a[i+1]`, `a[i+2]` ... `a[i+7]`.

The question is if doing that is beneficial given the increase in code size required to handle very rare cases.

[2015-08-19 15:30] goldshtn commented on #1414
@mikedn Take a look at [my comment above](https://github.com/dotnet/coreclr/issues/1414#issuecomment-132637166). I think perf can be affected by the extraneous range-checking, yep.

[2015-08-19 15:32] redknightlois commented on #1350
I tried to get a minidump, the problem is I lose complete control of the computer when it happens and end up hitting the reset button after some time.

Intellitrace was enabled, windows not open.

[2015-08-19 16:15] Jorenkv commented on #1414
@mikedn: That's true, but from what I can tell from reading the source the JIT already has extensive logic to find the ranges of loop variables and array indices, so it's not a problem it doesn't already deal with. It also already has code to check if a loop variable can overflow. Given this I wouldn't think it's a massive feature request.

It would already be really nice cool that if I wrote `if

[2015-08-19 17:33] mikedn commented on #1414
@goldshtn

Of course it affects the perf, the question was how much. I tried to compare `VectorDP` with a C++ version that also uses `shufps` and the difference is 2-3%. And if `dpps` is used in the C++ version then the  difference is around 10%.

@Jorenkv

As stated above, my comment wasn't about how easy is this to implement but about the fact that those bound checks may not be significant (in t

[2015-08-19 18:21] CarolEidt commented on #1414
@goldshtn  - Sorry for not chiming in sooner. A few observations:
- As @Jorenkv has pointed out, the JIT/EE currently supports only SSE2 or AVX2. This is primarily to reduce the complexity and test matrix.
- I would like to see the bounds checks eliminated in this kind of example (at least through versioning), and I'm hoping that we can make some improvements both in induction variable analysis an

[2015-08-19 20:48] #1407 closed

[2015-08-19 23:21] #1033 closed

[2015-08-20 03:47] goldshtn commented on #1414
@mikedn: We're probably testing on wildly different processors. I compared a C++ implementation with `dpps` to `Vector.Dot` on a DS-series Azure VM, and got a 70% performance difference.

[2015-08-20 12:59] GSPP opened #1417 "RyuJIT optimization problem with double constants in a loop"
In the code posted below RyuJIT loads double values in the loop from memory each iteration. This is not necessary and slow. They should be in registers. This appears to be either a bug or a missing optimization. I request that this issue be investigated and fixed if possible.

[code]

[code]

Also, I think the loop should be unrolled at least 2 times. 2x unrolling seems like a conservative behavio

[2015-08-20 13:13] GSPP commented on #1226
@mikedn imul is 3 cycles and lea is 1, correct? The conclusion of the highest voted answer seems correct. Also, he tested that theory by plugging in different constants.

[2015-08-20 13:30] mikedn commented on #1226
@GSPP Yes, on Intels `imul` needs 3 cycles and that particular form of `lea` needs only 1 (there are forms that need 3 cycles as well). His conclusion appears to be that using `lea` like that is a pessimization and that's pretty much impossible. He claims that changing the constant affects performance but he doesn't provide any actual results and I cannot reproduce that. Additionally, RyuJIT doesn

[2015-08-20 13:32] GSPP commented on #1226
@mikedn I see what you mean. I read the answer the other way around.

[2015-08-20 13:49] mikedn commented on #1417
Probably a case of over aggressive constant propagation, the same thing happens with scalar variables which excludes any struct related issues:

[code]
generates
[code]
If `b` was kept as a normal local variable it would have likely been enregistered and that would have produced the expected code.

[2015-08-20 14:03] mikedn commented on #1417
That said, this issue doesn't seem to affect performance in any way. On my Core i5 Haswell CPU 1 billion AddByVal take ~960ms with or without enregistered constants. Same thing about unrolling, no amount of unrolling makes a difference.

Test code:
[code]

[2015-08-20 15:29] kouvel commented on #1408
I'll take a look at this.

[2015-08-20 15:40] GSPP commented on #1417
Maybe there should be a compiler pass fairly late that "outlines" expensive constants that previously were propagated and "inlined". First, push all constants forward, simplify and compute all statically known results. Then, turn those constants back into regular values that are expensive to create.

Maybe constants need to be tagged as cheap or expensive internally in the compiler so that LICM un

[2015-08-20 16:44] mikedn commented on #1417
For the general case the simplest thing that can be done is to treat FP constants are memory loads, that's what they are after all (with the exception of 0). Then LICM could hoist them and the register allocator can decide to keep them in registers or reload them depending on usage and register pressure. Though it seems that LICM doesn't currently deal with memory loads so this is probably more co

[2015-08-20 16:48] toxsedyshev opened #1419 "coreclr_initialize failed"
Trying to run HelloWorld using that manual:
https://github.com/dotnet/coreclr/blob/master/Documentation/building/linux-instructions.md

Got that error while trying to run the application:
coreclr_initialize failed - status: 0x80004005

What's wrong?

[2015-08-20 17:49] BruceForstall commented on #1417
/cc @CarolEidt

[2015-08-20 18:20] ellismg commented on #170
Fixed with 4df67c74b4f35ce32f6afb41ffd813f28d8aed27.

BclRewriter is not yet open source but we are working on getting it ready to be open sourced into build tools.  For now we restore a closed source copy that can run on Mono.

[2015-08-20 18:20] #170 closed

[2015-08-20 18:26] ellismg commented on #1419
As a start, you might try enabling PAL logging and see if it gives any clues.

`export PAL_DBG_CHANNELS="+all.all"`

This will produce a lot of spew, but might help narrow down things.  The comments in [dbgmsg.h](https://github.com/dotnet/coreclr/blob/master/src/pal/src/include/pal/dbgmsg.h) explain more about how the logging works.

[2015-08-20 18:38] CarolEidt commented on #1417
First, let me acknowledge that there are plenty of opportunities for improvement in the JIT :-)
That said, I think that the issue here is the tension between constant propagation, register allocation, and (the lack of support for) rematerialization, where rematerialization allows some register candidates to be marked as rematerializable (ideally, with an associated cost) if the cost of remateriali

[2015-08-20 19:57] hpaiemen opened #1420 "Memory leak when handling exception on ubuntu 14.04"
Here's the repro :

[code]
Running this simple code with dnx on Linux produce a memory leak. I've monitored a leak around 20 MB/Min.

[2015-08-20 19:58] ayende commented on #1420
What happens if you run a GC at some point?

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Thu, Aug 20, 2015 at 10:57 PM, hpaiemen <notifications@github.com> wrote:

[2015-08-20 20:08] hpaiemen commented on #1420
Does the same here's the code :
[code]

[2015-08-20 20:54] mmitche commented on #1350
@redknightlois Well, i'm a bit stumped.  I've been unable to repro the problem locally with a high memory application.  What happens if you disable intellitrace?  I'll try to find out the best way to get a dump in this scenario.

[2015-08-21 03:33] jkotas opened #1421 "RyuJIT generates incorrect exception handling scopes for IL generated by Roslyn"
Repro:

1. Compile https://github.com/dotnet/coreclr/blob/master/tests/src/JIT/Regression/CLR-x86-JIT/V1-M11-Beta1/b43313/b43313.cs using Roslyn, with optimizations on.
2. Run it on CoreCLR x64

[2015-08-21 04:20] jkotas commented on #1421
Rollback https://github.com/dotnet/coreclr/commit/69dcfe966ba7bf7ffd3dd2b000943590279da358 as part of this fix

[2015-08-21 09:13] Nikolay-Kha commented on #1419
Hello!
I have the same issue. My logs are here:
https://drive.google.com/file/d/0B9jKFl3qYG3pZjRRWC1scjdLck0/view?usp=sharing
I found just one interesting line(#3269):
{0xb5e-0x7fd9609e73d0} ERROR [LOADER ] at MAPMapPEFile.2418: Magic number mismatch
but my HelloWorld.exe starts with:
00000000 4d 5a 90 00 03 00 00 00 04 00 00 00 ff ff 00 00 MZ..............
and PE magic looks good.
SO, I don't hav

[2015-08-21 10:50] mikedn commented on #1421
A simpler and more realistic repro:

[code]

This prints "try" "noway" and crashes. Of course, "noway" should have not been printed.

Unlike the original repro this doesn't have an empty try block. That empty try block is the reason the test works fine when the code is compiled with the old C# compiler but fails when compiled with Roslyn. The old C# compiler removes that try block and the subseque

[2015-08-21 17:19] mellinoe commented on #1408
Thanks, @kouvel . If you get a change set together, I can help test it with the program I mentioned above, just to give some extra validation.

[2015-08-21 17:24] mmitche commented on #1350
@redknightlois Here's an interesting suggestion.  If you can identify the process(es) that seem to cause the hang, you can set the affinity to a single CPU, which should keep your system usable while you're able to grab the minidump

[2015-08-21 17:30] redknightlois commented on #1350
Will try that. Let's pray I can reproduce this on Windows 10.

[2015-08-22 05:38] JamesNK opened #1425 "Poor dynamic performance"
Originally https://github.com/aspnet/dnx/issues/2541

---

A Json.NET unit test that stress tests `dynamic` is much slower when run via DNX

Microsoft .NET Development Utility CoreCLR-x64-1.0.0-beta8-15120

[code]

https://github.com/JamesNK/Newtonsoft.Json/blob/master/Src/Newtonsoft.Json.Tests/large.json

DNX: Time (secs): 314.7453895
.NET 4.5: Time (secs): 0.1715269

[2015-08-22 06:34] mikedn commented on #1421
Note that in a future release Roslyn will get rid of empty try blocks - [#2443](https://github.com/dotnet/roslyn/issues/2443) - this test will then fail again to find JIT bugs.

[2015-08-22 10:32] mikedn commented on #1425
With .NET 4.5 when a dynamic callsite is executed for the first time an exception is thrown:

[code]

With .NET Core the same exception is thrown every time when the callsite is executed. No wonder that it's extremely slow.

Might be a bug somewhere in .NET Core's version of Microsoft.CSharp or System.Dynamic.Runtime.

[2015-08-22 11:44] RichiCoder1 commented on #1425
If it's an issue with Microsoft.CSharp's Runtime Binder, then this would actually be a corefx issue.
Relevant code: https://github.com/dotnet/corefx/tree/master/src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder

[2015-08-22 11:48] Albeoris opened #1426 "Add GetBuffer method to System.Collections.Generic.List<T>"
This method will be a convenient way for integration with an unsafe context and marshaling without unnecessary copying list items into the new array.

[code]

[2015-08-22 12:00] Albeoris commented on #1426
Simplified mechanism, similar to an existing method System.IO.MemoryStream.GetBuffer()

[2015-08-22 13:28] defaultstuff opened #1427 "Make default(zeynep) evaluate to true"
After lengthy discussions and some experience in the matter, we believe that default(zeynep) should evaluate to true in the CLR. We are requesting CLR support for this because even after our most persistent efforts we could not make default(zeynep) return true. We are happy to submit a patch for this issue but so far we have been unable to produce a working solution. As such, we would very much ap

[2015-08-22 18:04] omariom commented on #1426
MemoryStream.GetBuffer() is a bad example. Since .NET 1.0 I saw numerous times it was used incorrectly. Even  in [BCL itself](http://referencesource.microsoft.com/#System.Data/System/Data/DataSet.cs,299).

[2015-08-22 20:58] Albeoris commented on #1426
Yes, you are right. Corrected.

[2015-08-22 21:07] kangaroo commented on #1408
@mellinoe if you have a test case, please post it.  I did all this functionality, it was rather simple, but before posting a PR I'd like to confirm that it fixes your use case.

[2015-08-22 22:13] JamesNK commented on #1425
Checked in repro: https://github.com/JamesNK/Newtonsoft.Json/tree/a9ea63da59cc90b474bee5a6f351e9fad55a44bf

build\runbuild.cmd builds and tests everything, including the slow test on CoreCLR.

[2015-08-22 23:33] jkotas commented on #1427
Could you please try using [fully qualified name](https://en.wikipedia.org/wiki/Fully_qualified_name)? `zeynep` is frequently used name - the unexpected behavior that you are seeing is likely caused by name ambiguity.

[2015-08-22 23:36] jkotas commented on #1425
cc @AlekseyTs

[2015-08-23 01:38] nelsonsar commented on #1228
Sorry for revive this issue, but, it's the most similar problem to mine I was able to found searching today.

I'm having a similar issue: I have to projects ```CLibrary```, a class library project, and ```ConsoleApp```, a console application.

```CLibrary```'s project.json file is:

[code]

And ```ConsoleApp```'s project.json:

[code]

I'm facing the same exception described by @axefrog. I did tri

[2015-08-23 13:04] mikedn commented on #1425
Here's a simpler repro:
[code]
Takes ~18 seconds when run on CoreCLR and only ~0.001 seconds when run on .NET 4.6.

[2015-08-23 13:05] mikedn commented on #1427
Does that mean that we can also request that default(int) is changed to 42? It's well known that 42 is the answer to everything so it doesn't make sense that default(int) currently returns such a worthless quantity as 0.

[2015-08-23 15:38] mikedn commented on #1425
Yup, this is a bug for corefx.

During porting to CoreCLR a [method](https://github.com/dotnet/corefx/blob/master/src/Microsoft.CSharp/src/Microsoft/CSharp/RuntimeBinder/BinderHelper.cs#L196) that checked for transparent proxies was changed in such a way that now it always returns true. This prevents "rules" cached for one dynamic instance to be reused for a different dynamic instance.

That metho

[2015-08-23 23:57] JamesNK commented on #1425
Cool, a legitimate perf bug :bowtie:

I don't suppose you get one of those sweat Cup of T's for logging issues or is it PRs only?

[2015-08-24 10:19] mellinoe commented on #1408
I made a smaller repro, basically the code here:

https://github.com/mellinoe/BoxGame/blob/master/src/OpenTK.Demo/Program.cs

I uploaded the demo app here, which has the whole runtime/framework as well:
http://1drv.ms/1fAVl2W

Just the demo assemblies (if you're testing with your framework/runtime):
http://1drv.ms/1fAVbIS

[2015-08-24 11:16] janvorli commented on #1419
This error usualy means that the mscorlib.dll doesn't match the libcoreclr.so, which means that either they are built from different version of source code (although if there was no change in the interface between these libraries, it should work ok) or one is debug build and the other is release build.
Or, you might have mscorlib.ni.dll in the folder where you have libcoreclr.so. This would be the

[2015-08-24 12:02] jkotas commented on #227
This was done a while ago - the remaining touch-ups are tracked as #1034 and #1035

[2015-08-24 12:02] #227 closed

[2015-08-24 16:34] AlekseyTs commented on #1425
@VSadov FYI

[2015-08-24 17:31] JosephTremoulet commented on #1233
Circling back to this, sorry for the dealy.

I think there are three aspects of this that need to be considered:
 1. Funclets will need to refer to their own dynamic frame and also the root method's frame.  Which ones need to use specific frame pointers?  I think on the one hand we have a variety of tools (including all the ones that @noahfalk pointed out) that grew up on Windows and expect the fr

[2015-08-24 18:39] stas-sultanov commented on #1426
Bad idea,
what would happen when `List<T>.Add(T item)` will cause internall buffer to be replaced with bigger one?

[2015-08-24 18:56] jkotas commented on #1233
For #3, you are asking for GC info to have more flexibility than what it has today. I do not think there is anything fundamentally impossible - of course, it is work to make it happen.

The problem in this case may be limited to (GCInfoEncoder)[https://github.com/dotnet/coreclr/blob/master/src/inc/gcinfoencoder.h]. I believe that the GC info encoding and GC info decoder should be flexible enough f

[2015-08-24 19:24] ayende commented on #1426
The same thing that happens today with MemoryStream under the same
condition.

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Mon, Aug 24, 2015 at 9:39 PM, Stas <notifications@github.com> wrote:

[2015-08-24 19:35] stas-sultanov commented on #1426
Before using a MemoryStream as an example, i suggest You to get know how exactly it does work.
GetBuffer() might be used to get underlying buffer, only if MemoryStream was constructed using explicit reference to the byte array. As a fact GetBuffer() just return the bare same ref and nothing more.
In other case method will throw UnauthorizedAccessException

[2015-08-24 19:39] Albeoris commented on #1426
I agree with ayende. This is not an enumerator that is often used. There is no need to protect the man from the shot oneself in the foot. He knows that using and why.

[2015-08-24 19:43] Albeoris commented on #1426
You're wrong:
[code]

[2015-08-24 19:45] ayende commented on #1426
That isn't the case, see the docs:
https://msdn.microsoft.com/en-us/library/system.io.memorystream.getbuffer(v=vs.110).aspx

To create a MemoryStream instance with a publicly visible buffer, use

In the code, you have this:
http://referencesource.microsoft.com/#mscorlib/system/io/memorystream.cs,70

So if you specify any capacity for the stream, you can get the buffer.
Note that the new MemoryStre

[2015-08-24 20:20] stas-sultanov commented on #1426
my bad,
however Getting underlying buffer of the `List` does not looks like a good idea
much better solution could be the following method.

[code]

[2015-08-24 20:41] Albeoris commented on #1426
1) Check for _items isn't equals to _empteArray befor return.
2) It is can be as the second way, but not a replacement of simple TryGetBuffer.

[2015-08-24 22:20] ayende commented on #1426
Why?
Consider this code:

     var list = new List<int>{ 1, 3, 5, 7);
     var sum = SumArrayUsingSSe(list.GetBuffer(), list.Count);
     list.Add(sum);

Why not allow this?

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Mon, Aug 24, 2015 at 11:20 PM, Stas <notifications@github.com> wrote:

[2015-08-25 00:34] BruceForstall commented on #1421
The code fix went in with 767e9175ea115425b814432c4362afb0d83b3668, mirrored from the TFS side (for various reasons). Jan has a PR going to revert the test change.

[2015-08-25 00:47] #1421 closed

[2015-08-25 01:06] jkotas commented on #1099
https://github.com/dotnet/coreclr/blob/master/Documentation/botr/readytorun-overview.md is overview of the readytorun file format that we plan to document in future.

[2015-08-25 02:03] kangaroo commented on #1408
@mellinoe Thanks, your sample now properly renders the inverted triangle (at least I think thats the expected result?) on my branch.

[2015-08-25 03:22] mellinoe commented on #1408
Awesome! Yes, that's the expected result, it's the simplest demo/sample project that OpenTK has in their repo :smile:

I'll check it out now.

[2015-08-25 06:41] omariom commented on #1426
I needed once access to the underlying array. Without [Move or Copy methods in List](https://github.com/dotnet/coreclr/issues/1165) I had to do it myself. In what other scenarios  could one benefit from direct access to the storage?

[2015-08-25 09:06] stas-sultanov commented on #1426
@omariom,  it looks like guys wants to use underlying array for some interop methods

@Albeoris  it is better to check if _size == 0, cause there is no guaranty that _items was not modified before.

@ ayende because when getting underlying buffer you must guaranty that it's values will not be changed, because if you will look at the implementation of 'List<T>' you'll see the following

[code]

ver

[2015-08-25 12:54] JonHanna commented on #1426
I think this purpose would be better served by a different class.

[2015-08-25 20:33] AndyAyersMS commented on #1072
@mmitche this is done, right?

[2015-08-25 20:33] mmitche commented on #1072
Ya

[2015-08-25 20:33] #1072 closed

[2015-08-25 20:55] Albeoris commented on #1426
@stas-sultanov no matter, the main thing is not to return a static buffer because it can be changed by unsafe code (size or type of the elements).

[2015-08-25 22:24] mellinoe commented on #1408
I did test this quickly yesterday, and the demo program worked fine. Looks like the PR was merged in so I will close this. Thanks @kangaroo !

[2015-08-25 22:24] #1408 closed

[2015-08-26 17:25] ww898 opened #1438 "Pure HelloWorld crashed on x86 (both debug/release), but work under x64 (both debug/release)."
======= Console output =======
[code]
=======  WinDbg =======
[code]

[2015-08-26 21:36] mikedn commented on #1438
How exactly do you run this on x86? The CoreCLR code that's currently open sourced doesn't support x86. Presumably you are using the CoreCLR x86 builds provided by Microsoft?

[2015-08-26 21:52] AndyAyersMS opened #1440 "Remove tests that rely on unsupported features"
We have some tests that rely on features that the CoreCLR doesn't support.. We should remove these tests.

I'm making a somewhat random pass through the jit tests now and will accumulate a set of tests to remove here, then remove them as a batch.

`JIT\jit64\gc\misc\funclet.cs` uses `__arglist`.

[2015-08-26 23:29] ANDREENKOS opened #1441 "System.Numerics.Vector<T>.Count for platform without AVX"
In Debug mode without AVX RyuJit generate call to Vector<T>.Count, which throw exception because IsHardwareAccelerated returns true.

[2015-08-26 23:31] akoeplinger commented on #1441
I think this was fixed yesterday by https://github.com/dotnet/corefx/pull/2971

[2015-08-27 00:32] ANDREENKOS commented on #1441
I think it wasn't.
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr_windows_debug_prtest/1836/testReport/

[2015-08-27 05:14] jouniheikniemi commented on #1322
Regarding the same issue in .NET Framework, see my blog post at http://www.heikniemi.net/hardcoded/2015/08/windows-10-breaks-net-date-parsing-in-certain-locales/. And now that the state machine has been fixed there, I hope the fix will flow down here as well :-)

[2015-08-27 06:38] ghost opened #1443 "Update windows build instructions"
Please, update build instructions that checkout directory can't contain exclamation sign. Otherwise build.cmd will not work correctly, and it is definitely hard to understand what is wrong.

[2015-08-27 07:21] ww898 commented on #1438
Well. as I understand you CoreClr x86 temporary doesn't work now. Have you got plans to recovery x86?

P.S. If you need here is the repro with PDBs: https://onedrive.live.com/redir?resid=62138629EDC67B34!1150&authkey=!AB2RpSMkYFYUbQM&ithint=file%2czip

[2015-08-27 07:33] ww898 opened #1444 "Support unique nuget package ids for build options: x64/x86/arm debug/release"
And, as bonus, ability to generate all nuget packages into one directory.

[2015-08-27 08:01] mikedn commented on #1438
I see, it looks like you built the x86 version from this repository. That indeed does not work as the open sourced JIT compiler (RyuJIT) has limited support for x86. AFAIK there are plans to finish the support for x86 but nobody knows when.

However, there is a x86 CoreCLR [build](http://www.nuget.org/packages/dnx-coreclr-win-x86/1.0.0-beta6) available via NuGet. It's built by Microsoft from inter

[2015-08-27 10:00] ww898 commented on #1438
Thank you!

[2015-08-27 10:00] #1438 closed

[2015-08-27 17:10] johndevsys opened #1447 "ReadyToRun Dump, How to?"
Hello,

can someone point me on how to dump ReadyToRun functions, headers and other info from a binary file. In other words is there a straightforward way to give an .exe file as input and get the dump as output.

Thanks
-John

[2015-08-27 18:09] kouvel opened #1448 "Clean up unused code relevant to named sync objects in PAL"

[2015-08-27 21:28] WebDancer69 commented on #1099
@jkotas Sounds great! Will this also be part of the Desktop version?

We are still struggling with some DLLs that does not work with NGEN, but "something" NGENs them, probably as a dependency. Is there a way to tell NGEN to not generate native images for a certain assembly, by attribute or maybe in DLLMain?

[2015-08-27 22:08] kouvel commented on #937
I'm taking a look at this

[2015-08-27 22:08] kouvel commented on #935
I'm taking a look at this

[2015-08-27 22:22] mellinoe commented on #1441
You will need to update the test project to use the newest version of the NuGet package, which should be available. I published it individually yesterday. The version is 4.1.1-beta-23226.

[2015-08-27 23:02] #1441 closed

[2015-08-28 01:42] gafter commented on #1316
Here are some other input strings from the test program in the comments of https://github.com/dotnet/roslyn/issues/4221 that double.Parse gets wrong:

[code]

[2015-08-28 04:04] jkotas commented on #1447
We have not done the work to open source the native image dump utility yet. Some of the code is there, but it is not complete.

For now, you can get dump the code as it is being generated (in debug builds):

set COMPlus_NGenDisasm=*
crossgen /readytorun hello.exe

[2015-08-28 05:54] jkotas commented on #1444
cc @ericstj

[2015-08-28 06:16] jskeet opened #1453 "Unboxing failures should report target and actual types"
Consider this code:

[code]

That produces a nice informative error:

Change the `string y = (string) x;` to `int y = (int) x;` and we get:

This is far less useful. As an example of when this is a pain, consider calling `SqlCommand.ExecuteScalar`... if you're not entirely sure (before trying) what type is going to be used for the result (you may know it's an integer type, but not which) it's anno

[2015-08-28 09:00] leppie commented on #1316
`5e125` is also parsed incorrectly, but due to incorrect printing, it still prints `5e125` instead of `5.0000000000000004e125`.

Bit patterns:
Actual:  `101101000000111101000101110110011000100000101001010000001000000`
Expected: `101101000000111101000101110110011000100000101001010000000111111`

[2015-08-28 10:09] jcdickinson commented on #652
How much overhead do you think 'pinging' (a single wasted read/write) `ESP + sizeof(.maxstack)` before each `call` would introduce? You could possibly get the `StackOverflowException` one or two frames in advance, but at that point there is an immense probability that your app is going to encounter it anyway.

[2015-08-28 10:14] thangchung opened #1454 "System.Text.RegularExpressions, How to?"
I tried to use Regex.Matches function in .NET 4.6, but when I built the solution, it always threw an exception like this

`Error CS0234	The type or namespace name 'RegularExpressions' does not exist in the namespace 'System.Text' (are you missing an assembly reference?) GraphQL4Net.DNX Core 5.0 graphql4net\src\GraphQL4Net\Language\Source.cs`

I know that CoreCLR did a lot of changes. I have read a

[2015-08-28 10:14] ayende commented on #652
Is there at least a way to check what is the current stack depth / how much stack space remains in an efficient manner?

[2015-08-28 10:14] ayende commented on #652
That would allow recursive algorithms to at least throw StackOverflowImmenientExcpetion

[2015-08-28 11:08] stephentoub commented on #1454
Try including System.Text.RegularExpressions in your project.json file. The regex functionality is a separate library now.

[2015-08-28 11:09] leppie commented on #1316
Useful link: http://www.exploringbinary.com/floating-point-converter/

[2015-08-28 11:20] leppie commented on #1316
I have written some tests (https://gist.github.com/leppie/4239b6fda4c999c4cd77) for `double.Parse` and my results do not match the ones above.

Here are the failures I get:

[code]

I have cherry picked some by hand to check on http://www.exploringbinary.com/floating-point-converter/ and they all match.

All of the results only differ by one bit. There is no pattern that I can see though. ECMA-334

[2015-08-28 11:39] jskeet commented on #1316
One thing which may be handy here is to use my [DoubleConverter.cs](http://pobox.com/~skeet/csharp/DoubleConverter.cs) which allows the *exact* value of a `double` to be displayed. That way we don't need to worry about both parsing and "general" formatting.

Use with:

[code]

[2015-08-28 11:55] loqix opened #1456 "dnx-coreclr-linux-x64.1.0.0-beta8-15530 can't run"
It does not show any information

Last version can run is 15523

[2015-08-28 11:57] leppie commented on #1316
@jskeet: It was used in the Roslyn issue (https://github.com/dotnet/roslyn/issues/4221) but it this is really a 3 pronged issue given:

- the compiler has a bug
- `double.Parse` has a bug
- `double.ToString` has a bug (`5.0000000000000004e125` prints `5e125`)

Testing against broken expectations will not get us anywhere :(

[2015-08-28 12:06] jskeet commented on #1316
Ha - I didn't know DoubleConverter was really used except by me :)

It sounds like really there are only two root issues:

- `double.Parse` (which causes Roslyn to malfunction accordingly)
- `double.ToString`

It sounds like my output in the previous comment is due to the `double.Parse` bug... I was merely trying to make that behaviour clearer by removing `double.ToString` from the equation. An al

[2015-08-28 12:15] leppie commented on #1316
And running on 64-bit I get these failures:
[code]

[2015-08-28 12:50] jasonwilliams200OK commented on #832
@weshaggard, @terrajobst, has there been any discussion or date set for the reviewing this proposal and the related PR: #833?

[2015-08-28 16:32] terrajobst commented on #832
Nope... sorry. Our design reviews got preempted with a lot of work necessary to unblock our cross-platform story. I'm planning on doing another round of "Review pending GitHub issues/PRs".

[2015-08-28 17:17] leppie commented on #1316
Interesting fact: All of these tests roundtrip correctly. At least it is consistent in one way :+1:

[2015-08-28 17:40] mellinoe commented on #1454
If you are using .NET 4.6, you should be able to reference Regex types by just importing the namespace. The Regex types on Desktop are in System.dll, which is referenced by default. However, you also mentioned CoreCLR, so if you are trying to build a .NET Core project, then you will need to do as Stephen mentioned and add the System.Text.RegularExpressions NuGet package.

[2015-08-28 18:15] johndevsys commented on #1447
Thanks for replying.

There is no dump from the above commands. The exact commands I am using are :
set COMPlus_NGenDisasm=*
.\crossgen.exe /App_Paths .\TestHello /Platform_Assemblies_Paths Framework  /Platform_Winmd_Paths Framework /ReadyToRun /MissingDependenciesOK /in TestHello\c.exe /out TestHello\c.Triton.exe

the output is (the same as without the set command) :
Microsoft (R) CoreCLR Native

[2015-08-28 18:28] jkotas commented on #1447
It looks like you are running release build of CoreCLR.

COMPlus_NGenDisasm switch works on debug build of CoreCLR only. You have to build the debug CoreCLR yourself from the git repo - it will be at bin\Product\Windows_NT.x64.Debug.

The nuget packages are not available for debug build only today.

[2015-08-28 19:48] eriera1 opened #1457 "Build clean fails on test step: Tests_Managed_Windows_NT__x64__Debug.log"
I'm on a windows10 and visual studio 2015 pro. Just cloned the repository and run ``build clean`` on Developer Command Prompt for VS2015.
This is the log file containing the error.
[code]
I don't know at all the MSBuild syntax but it seems the _RestoreBuildTools (InitialTargets on dir.targets) download the tools at the same path Clean (task overwrite in build.proj)  is deleting. Then the BatchRest

[2015-08-28 20:26] dassie commented on #1457
I'm getting the same error when running "coreclr\tests\buildtest.cmd clean".
[code]

[2015-08-28 20:48] wshearn commented on #1456
Seeing the same thing also

    Pluto ~/Projects/Engine $ dnvm list

    Active Version              Runtime Arch OperatingSystem Alias
    ------ -------              ------- ---- --------------- -----
           1.0.0-beta5          mono         linux/darwin
      *    1.0.0-beta8-15530    mono         linux/darwin
           1.0.0-beta8-15530    coreclr x64  linux           default
           1

[2015-08-28 20:48] omariom commented on #1453
:+1:

[2015-08-28 22:35] gafter commented on #1316
If any of you would care to offer a correct C# implementation of floating-point scanning, we'd use it in Roslyn (C# and VB compilers)!

[2015-08-29 10:09] OtherCrashOverride opened #1459 "Add Facebook, Twitter, and XBoxLive leader board support to System.Exception"
Current exceptions are not very helpful in assisting the developer.  We should add social networking features to facilitate a better debugging experience.

[2015-08-29 11:27] jasonwilliams200OK commented on #1459
Aww.. Here, have a beer on me: :beer:

[2015-08-29 11:48] omariom commented on #1459
![](https://avatars2.githubusercontent.com/u/1781701)

[2015-08-29 11:49] OtherCrashOverride commented on #1459
There is also room now to put Google Ads in the exception messages.

[2015-08-29 11:50] jasonwilliams200OK commented on #1459
Don't forget about those instagals! :dancer:

[2015-08-29 12:04] thangchung commented on #1454
Thanks @stephentoub  & @mellinoe for your help. It's really working. But one more thing I am still concerning. If I put `dotnet` tag inside `framework` tag (`project.json` file), then it worked, but if I put `dnx451` & `dnxcore50` like many samples on internet, then it always threw the exception. What's correct way to go with?

It worked
`
"frameworks": {
    "dotnet": {
    }
  }
`
It did not wor

[2015-08-29 12:15] OtherCrashOverride commented on #1459
If you guys were young and open to new things like me, you would understand how mindblowingly game changing this is! :+1:  :+1:  :+1:  :+1:

We can now query StackOverflow when an exception happens and also include the top 10 suggestions in the exception!  Additionally, others that have the same exception can follow you to see if you come up with an answer.  Also!!!!111!!!!!1 We should include ILS

[2015-08-29 12:28] linquize commented on #1459
coreclr is not a GUI program. I cannot imagine integrating such services.

[2015-08-29 12:48] OtherCrashOverride commented on #1459
i was skyping with others and we decided we are going to change ``System.Exception.Message`` to a new and improved JSON format.  This will make integration with the services and DNX easier.

[2015-08-29 20:32] CrshOverride commented on #1459
I'm so glad these suggestions are being made by the OTHER CrashOverride rather than myself...

[2015-08-29 20:52] terrajobst commented on #1459
![images](https://cloud.githubusercontent.com/assets/5169960/9564217/093c563a-4e54-11e5-8d85-b5b54130006b.jpg)

OK, point taken and your feedback is being discussed in https://github.com/dotnet/corefx/issues/1187.

[2015-08-29 20:52] #1459 closed

[2015-08-30 13:14] redknightlois commented on #1414
@goldshtn Not necessarily a different machine, most benchmark code out there suffers from jitter if not properly implemented; specially in cases where the benchmark code is a couple of assembler instructions. For that kind of benchmarks I suggest you to use https://github.com/PerfDotNet/BenchmarkDotNet

Specifically see this sample (which is aimed to measure single operations): https://github.com/

[2015-08-30 19:21] tarekgh commented on #1322
The fix is already in the github side too. I didn't resolve this issue yet because I want to add some tests before closing the issue. let me know if you have any question.

[2015-08-30 19:46] dmetzgar opened #1461 "Poor performance in EventSource manifest generation"
When an EventSource is first instantiated the manifest can be generated. During the manifest generation, a method called DebugCheckEvent is called on every event. One of the parameters is an array `EventMetaData[] eventData`. This array is constructed by finding the highest event id in the EventSource and allocating an array of that size. To maintain consistency between platforms, some libraries w

[2015-08-31 01:27] nguyenm100 opened #1462 "Unable to run dnx per instructions"
trying to follow instructions per:  https://github.com/dotnet/coreclr/blob/master/Documentation/install/get-dotnetcore-dnx-linux.md

Ubuntu 14.04.3 LTS

[code]
sample hello world app works under mono but switching back to coreclr, am getting:

Loaded module: dnx.coreclr.so
Found export: CallApplicationMain

Unhandled Exception: System.DllNotFoundException: Unable to load DLL 'api-ms-win-core-proce

[2015-08-31 01:53] nguyenm100 commented on #1456
Same

trying to follow instructions per:  https://github.com/dotnet/coreclr/blob/master/Documentation/install/get-dotnetcore-dnx-linux.md

Ubuntu 14.04.3 LTS

[code]
sample hello world app works under mono but switching back to coreclr, am getting:

Loaded module: dnx.coreclr.so
Found export: CallApplicationMain

Unhandled Exception: System.DllNotFoundException: Unable to load DLL 'api-ms-win-core

[2015-08-31 01:54] nguyenm100 commented on #1462
tracking on similar issue: https://github.com/dotnet/coreclr/issues/1456

[2015-08-31 01:54] #1462 closed

[2015-08-31 02:36] nguyenm100 commented on #1456
I copied

.../git/corefx/packages/Microsoft.NETCore.Windows.ApiSets-x64/1.0.1-beta-23213/runtimes/win7-x64/native/api-ms-win-core-processenvironment-l1-1-0.dll

to

~/.dnx/runtimes/dnx-coreclr-linux-x64.1.0.0-beta8-15530/bin

and I was able to run the sample.

[2015-08-31 02:41] nguyenm100 commented on #1419
see https://github.com/dotnet/coreclr/issues/1456

[2015-08-31 09:22] davidfowl opened #1463 "Add/Expose String.EndsWith(char)"
So we don't have to rewrite it over and over :smile:. Seems like its already there just made internal for some reason:

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/String.cs#L2210

People end up writing code like this:

https://github.com/aspnet/dnx/blob/dev/ext/compiler/preprocess/Internalization.cs#L100

and this

https://github.com/aspnet/dnx/blob/dev/src/Microsoft.Dnx

[2015-08-31 10:47] janvorli commented on #1456
That's not correct, as you can guess from the name, the api-ms-win-core-processenvironment-l1-1-0.dll is a windows specific stuff, it is not meant to be used on Linux. The fact that it made it work is just a pure coincidence.
The problem is that some of the managed assemblies you are trying to use are windows versions instead of their Linux counterparts and so they refer the api-ms-winxxxx.dll
I g

[2015-08-31 11:11] nguyenm100 commented on #1456
Brand new at this stuff (and linux) so apologies for the bumping around.  I'm reposting project.lock.json with linux coreclr active (I followed the directions per the sample link which sets the mono clr active before calling dnu restore).  This version should be more relevant.  tx

------------

{
  "locked": false,
  "version": 2,
  "targets": {
    "DNX,Version=v4.5.1": {},
    "DNXCore,Version=

[2015-08-31 11:18] loqix commented on #1456
The new build has fixed the problem.
lastet build 15542
feed:https://www.myget.org/F/aspnetlitedev/

[2015-08-31 11:20] nguyenm100 commented on #1456
actually, after doing this ("dnx restore") after setting the linux coreclr active, things appear to be working correctly (eg. w/o copying api-ms-win-core-processenvironment-l1-1-0.dll) for me.  If the sample docs could clarify this a bit, it would help us n00bs!

[2015-08-31 14:42] jkotas commented on #1461
cc @vancem

[2015-08-31 15:15] vancem commented on #1461
This is a known issue.   The goal of the eventData array is to allow very fast lookup at WriteEvent() time.   Changing the data structure to a dictionary looses some of the value of using numbers instead of names for event IDs (you might as well use strings, which are significantly more friendly).      Trading this speed of (which affects EVERY user of EventSource), for rare case of users who have

[2015-08-31 17:08] shahid-pk commented on #1456
@nguyenm100  You could also use gist to paste your project.lock.json and only provide a link to the gist here in comments . That way you will have  clean comments on the issue and anyone wanting to help u will easily found the problem . just my opinion

[2015-08-31 18:25] nguyenm100 commented on #1456
Yes, apologies and corrected.  I was unaware of gist until your mention. tx

[2015-08-31 20:55] richardlford commented on #1440
Here are more tests to remove:

[code]

[2015-08-31 21:30] #1425 closed

[2015-09-01 11:06] janvorli opened #1466 "Using libcurl on Linux by pinvokes causes crashes in the libcurl"
When using PInvoke to call libcurl functions, random SIGSEGV or malloc reporting double freeing happens in the libcurl.
Here is a sample application that repros that problem:
[code]

A clone of the same code written in C++ works fine:
[code]

[2015-09-01 11:19] janvorli commented on #1466
I've finally found the problem cause. I've done a lot of experiments and I've found that I can repro the issue in C++ as well if I load the libcurl using dlopen. While debugging the issue, in one case I've noticed something strange.
I have seen a place where a pointer was read from memory location, then a function was called with the pointer as a parameter to destroy the object and after returning

[2015-09-01 16:14] mikem8361 opened #1468 "Fixed the Windows specific error messages in SOS on *Unix."
For example, the !threads in this message:

(lldb) sos ClrStack
OS Thread ID: 0x0 1
Unable to walk the managed stack. The current thread is likely not a managed thread. You can run !threads to get a list of managed threads in the process.
Failed to start the stalk walk: 80070057

Another bigger example:

Failed to load data access DLL, 0x%08x
Verify that 1) you have a recent build of the debugger

[2015-09-01 23:27] speshuric opened #1473 "Issue in implementation of collection versioning"
Several collection classes implement similar logic to catch changes of the underlying collection while Enumerator reads it. They are `System.Collections.Generic.List`, `System.Collections.BitArray` and other.
Simplified code looks like this:
[code]
Documentaion of the class `List` warns:

Note some details:
* `version` is int32
* `version` changes deterministically

Current computer performance al

[2015-09-01 23:45] #501 closed

[2015-09-02 00:00] jkotas commented on #1466
Fixed by #1467

[2015-09-02 00:00] #1466 closed

[2015-09-02 01:57] kangaroo commented on #480
This.  So much time lost today because of this.  How do I find the latest versions of something or other for nuget?  How do I get it to pull the latest versions to be in sync with corefx?  *boggle*

[2015-09-02 01:59] stephentoub commented on #480
cc; @ericstj

[2015-09-02 02:03] kangaroo commented on #480
After a ton of fumbling, I finally realized the feed is now called dotnet-core, not dotnst-corefx.  All the docs are out of date.  I found this:

https://www.myget.org/gallery/dotnet-core

Of course everything requires nuget 3, which is incredibly difficult to find on google (a direct link to the exe).

I found all that, updated my packages.config to:

[code]

It still doesn't work:

[code]

[2015-09-02 02:10] ellismg commented on #480
The plan over the next month is to start producing true cross platform packages, which can be consumed by dnu to restore linux specific assets.  At that point, you'll just author a project.json file for you project, DNU restore and then get everything you need.

For folks who are working outside the DNX app model and want to pull artifacts out of the packages (like folks who are using this documen

[2015-09-02 02:12] kangaroo commented on #480
@ellismg Great.  In the mean time, how do I restore a current package set for a hello world?  I picked the latest version and nuget.exe says it can't find them.

[2015-09-02 02:27] ellismg commented on #480
I think perhaps you should just use DNU?  I don't really understand the state that nuget.exe is in when it comes to consuming v3 pacakges, Eric would know more.

Anyway, if you have DNU, something like this would work.  Write a project.json file with the assemblies you depend on.

[code]

Use `dnu` to restore them to a folder (e.g. packages):

`dnu restore --source https://www.myget.org/F/dotnet-c

[2015-09-02 02:31] mikem8361 opened #1474 "Use the VM APIs directly instead of popen vmmap in the PAL's EnumProcessModules"
In the OSx implementation "vmmap" is executed to get a process's module list. There are security, performance problems with popen'ing the program. Look into using the OSx VM api's directly.

[2015-09-02 04:19] kangaroo commented on #480
So I tried dnu.  Now I have a VM which is looking for System.IO.TextWriter in System.IO.dll instead of mscorlib.dll for some reason.

Have we advanced the collective tooling state of dnvm/dnu/dnx/nuget/etc to the point where I'm intelligent enough to build and work on the vm, but too stupid to build hello world?

[2015-09-02 05:44] kouvel commented on #937
API review: https://github.com/dotnet/corefx/issues/3054

[2015-09-02 08:28] thcgit opened #1475 "RyuJIT AccessViolationException when emitting line with bitwise operation"
In the code sample below:

[code]

An AccessViolationException occurs on this line:

[code]

The error occurs only when the code is optimized. The exception does not occur when doing one of the following:
* Building in debug/turning off optimizations
* Disabling RyuJIT in the registry
* Targeting x86 platform
* Changing the line to:

[code]

[2015-09-02 08:31] leppie commented on #1316
Another problem number.

`2.470328229206232720882844e-324` => `0` while it should be `5e-324` (only ULP bit is set).

[2015-09-02 08:36] leppie commented on #1316
@gafter: There seems to be a C# port of the Java port of the V8 implementation of David May's dtoa.c, which would be correct.

Example: https://github.com/dretax/DX-Fougerite/tree/327727654930dc0a8714df07373eb9b4c5e14805/JintPlugin/Jint/Native/Number/Dtoa

(searching for DiyFp shows a few repos, but I have no idea about the origin)

[2015-09-02 08:45] leppie commented on #1475
Ouch, and good catch! :+1:

[2015-09-02 09:53] mikedn commented on #1475
Simpler repro:

[code]
Somehow a wrong value gets passed as `this` to `Emit`:
[code]
If desired the repro can be further simplified to not use `System.Reflection.Emit` as long as the following characteristics are preserved:
* A virtual `Emit` like method
* The use of a shift operation
* A static field with an initializer. It can be of `int` type, it doesn't have to be a struct like `OpCode`.
* The

[2015-09-02 10:07] jkotas commented on #1475
cc @CarolEidt

[2015-09-02 10:12] leppie commented on #1475
@mikedn: I can repro your example even without the lambda capture, or that entire line in fact. The loop seems to be the determining factor. Specifically `i++`.

    for (int i = 0; true; i++)
      il.Emit(OpCodes.Ldc_I4, 1 << i);

[2015-09-02 10:17] bbowyersmyth commented on #1463
I had the same thought a while back and discovered it would be a breaking change for an edge case in VB.

Against the current framework the following is valid VB:

    Dim find As Char = "a"c
    Dim result = "abc".StartsWith(find)

The compiler wraps `find` with a call to a string conversion and all is good. If `EndsWith(char)` was made public and the code recompiled it would switch from using th

[2015-09-02 10:28] mikedn commented on #1475
@leppie Indeed, if you change the loop condition like that the lambda capture isn't needed. And yes, the loop itself is needed, I wanted to mention that but I forgot. Thanks!

[2015-09-02 10:52] mikedn commented on #1473
Is this something that you encountered in practice or are you simply considering the possibility?

It's unlikely that this can lead to security issues. You'd need to pass the enumerator through a security boundary and expect that the receiving code will be prevented from using the enumerator if the collection changes. But it's very uncommon to pass enumerators around, pretty much everyone passes e

[2015-09-02 10:55] ayende commented on #1473
Also, in order to trigger this issue, you'll need to have _exact_ number of
operations.
In things like lists, most operations are actually add/remove, and you'll
need to make close to 2 billions of them to have an effect.
Other things will happen first to change that.

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

O

[2015-09-02 12:27] roncain commented on #1461
@vancem , @dmetzgar , @mconnew -- we need to find a solution to this issue.  I don't think renumbering WCF event ID's is a tractable solution, given that it will break tooling and probably require changes to the desktop.  Something is unique in the TFS ToF environment that causes this to occur in manifest generation in CHK builds.  I've opened https://github.com/dotnet/wcf/issues/313 for the WCF t

[2015-09-02 13:42] nguyenm100 opened #1476 "Provide instructions for RPM installs"
Many (established) companies will use rhel b/c of the support options.  I happen to be in one of those and would love to push .net adoption here.  Please help by providing install instructions for rpm style systems.

[2015-09-02 14:32] CarolEidt commented on #1475
Thanks for reporting this - we'll have a look!

[2015-09-02 16:36] BruceForstall commented on #1475
/cc @schellap

[2015-09-02 18:37] mellinoe opened #1477 "Assembly.Load with null Version"
I'm curious about the behavior of Assembly.Load(AssemblyName) when the given AssemblyName has a null Version property. It seems that, when trying to load an unsigned assembly (no public key), you must assign something to the Version property; even 0.0.0.0 works. For example, the following doesn't work:
[code]
but the following does. The second one works because the assembly is signed.
[code]
Do we

[2015-09-02 19:45] vancem commented on #1461
My understanding of the code is that the DebugCheckEvent is NOT called during EventSource enablement, but only when you call GenerateManifest with the 'Strict' bit set on the flags parameter.

If so you can avoid the CPU time simply by not passing 'Strict'. to that API.

I have added a code to quickly skip any empty events which will also fix the problem but getting updates to EventSource is typic

[2015-09-02 20:19] schellap commented on #1475
Assigning to Carol to take a look at the improper spill/reload. Adding notes from our discussion:

    IN001e: 0000AB mov      gword ptr [V07 rsp+28H], rcx  ; variable spilled instead of putarg_reg
    IN001f: 0000B0 mov      ecx, esi
    IN0020: 0000B2 and      ecx, 31
    IN0021: 0000B5 mov      r8d, 1
    IN0022: 0000BB shl      r8d, cl
    IN0023: 0000BE mov      rcx, gword ptr [V07 rsp+28H]

[2015-09-02 21:37] EveryOtherUsernameWasAlreadyTaken opened #1478 "Provide SOS for Windows 10 IoT for download"
This is forwarded from [Stack Overflow](http://stackoverflow.com/questions/32291110/where-can-i-get-sos-for-windows-10-iot). The main question is:
How do I debug a .NET universal app dump in a way that I can see the .NET callstack?, which IMHO results in the question Where can I get SOS for Windows 10 IoT?

Details (in case the question gets deleted there):
I have a dump of a .NET Universal App ru

[2015-09-02 21:41] speshuric commented on #1473
to @mikedn

Shown example demonstrates that change collection without enumerator invalidation is possiblle

MSDN sais in the description of `IEnumerator` Interface:

Current implementation of аlmost all .NET collections (core clr and core fx) does not follow this behavior (at the least in this synthetic case). Of course, I am aware that is almost impossible to get this case accidentally. But someo

[2015-09-03 05:52] sergiy-k commented on #1420
Thank you, @hpaiemen! I took a quick look and apparently there are a few memory leaks. First, the PAL_GetStackBase() and PAL_GetStackLimit() functions are leaking memory because they are not calling pthread_attr_destroy() for the thread attribute object. These can be easily fixed.

A more interesting issue here is that we are also leaking memory that c++ runtime allocates when we call “throw PAL_S

[2015-09-03 07:47] dmetzgar commented on #1461
For the 'Strict' bit I'm not sure how to not set that. I don't explicitly call GenerateManifest anywhere. I just have an EventSource class that creates a singleton instance. The (backwards) call stack looks like this:
- ManagedModule!Environment.GetResourceString
- ManagedModule!EventSource.DebugCheckEvent
- ManagedModule!EventSource.CreateManifestAndDescriptors
- ManagedModule!EventSource.EnsureD

[2015-09-03 08:54] janvorli commented on #1420
Thanks @sergiy-k for looking into the issue. I will fix all of these.

[2015-09-03 11:10] AdamSpeight2008 commented on #1232
@terrajobst
I've been research a new implemenation `.Format` which parses the format string into a simple object model first, before constructing the output. Currently the `.net` impliementation constructs the output at the same time as parsing.

**Initial Analysis**
Tests with format strings without `argholes`, suggest it is at least **2 - 3 times faster**.
Since first parse to a simple object mo

[2015-09-03 11:21] mikedn commented on #1473
I know what the documentation says but as far as I'm concerned this behavior is nothing more than a developer aid to help find bugs. From this perspective the current implementation is IMO a reasonable compromise between effectiveness and performance.

If you mean that someone can write such code intentionally then that has nothing to do with security. The same person can also use reflection or un

[2015-09-03 11:43] borgdylan commented on #1184
A few months passed and there have been people working on ARM according to the logs. Will 32bit linux support be started by end of year?

[2015-09-03 12:32] OtherCrashOverride commented on #1184
Related to #1264

[2015-09-03 12:35] gitchomik opened #1480 "Not possible to build CoreCLR for ARM (cross compilation, on Linux)"
file : /coreclr/src/ToolBox/SOS/Strike/CMakeLists.txt
revis issue : d5d41105716703845d61a6f8c26724381b959c7d
lines : 79-82

[2015-09-03 12:50] shahid-pk commented on #1480
their are no CI servers set up for the arm build as of yet because their is still some work to do . Although it should be building ok. @benpye  will surely know and help u .

[2015-09-03 12:52] gitchomik commented on #1480
Are yout sure ?
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr_arm_linux_debug/

[2015-09-03 12:53] shahid-pk commented on #1480
this is probably a test build that @mmitche  was trying to setup the CI server and yes i am 200 % sure

[2015-09-03 13:00] gitchomik commented on #1480
OK, probab;y you are right, but I just make this issue because rev. d5d41105716703845d61a6f8c26724381b959c7d even not start, for example rev. c3efa1e9cc7953e50496d494de0cd0e2a1cc337f is starting to build something, that it is difference.

[2015-09-03 13:03] shahid-pk commented on #1480
@mmitche got into some other issues too when he was trying to setup the CI server. If you can fix these issues it will be great. as the arm port is all until now a community effort.

[2015-09-03 14:57] vancem commented on #1461
David,

Can you please open a bug on this that we should fix for the V4.6.1 release?

The bottom line here is that we don’t want this debug checking logic firing if people have gaps in their EventIds that they consume (we should have a test with exceptions turned on that confirm that gaps don’t cause swallowed errors).

I believe the actual fix is very easy new code in red in DebugCheck.    Howeve

[2015-09-03 15:11] vancem commented on #1461
I see that my reading of the code was incorrect and I do see that we do this checking on every time the EventSource is activated.

As mentioned we do have a fix that will  quickly skip empty slots (I have asked David Mason to follow up).

Note however, I still believe there is a mystery here.   In my reading of code this checking logic should only be called on actual events (not blank slots)  and

[2015-09-03 15:17] mmitche commented on #1480
Yeah I added that yesterday.  I still need to formalize the rootfs on the machines (I got it working in a local test).  That will happen today and then it should start passing as part of the outerloop testing when the strike fix goes in (which I think a couple community members were just about to fix)

[2015-09-03 18:00] mikem8361 commented on #792
I should fix this.

[2015-09-03 18:01] mikem8361 opened #1482 "Possibly use shared memory/semaphores in the dbi/coreclr debugger transport."
More details to come.

[2015-09-03 19:13] ddobrev opened #1485 "Marshalling a returned struct with a boolean field crashes"
This code:
    using System.Runtime.InteropServices;

    namespace TestMarshal
    {
        public struct QVariant
        {
            [StructLayout(LayoutKind.Explicit, Size = 16)]
            public struct Internal
            {
                [FieldOffset(0), MarshalAs(UnmanagedType.I1)]
                public bool d;
            }

            [UnmanagedFunctionPointerAttribute(CallingCon

[2015-09-03 19:16] kouvel commented on #630
I'll check if we're doing this properly for unnamed sync objects

[2015-09-03 19:35] dmetzgar commented on #1461
Here's the smallest repro of the error that I can come up with: https://github.com/dmetzgar/eventsourcetest
This is the code:
[code]
It produces the following output:
[code]

[2015-09-03 19:39] mikem8361 commented on #504
This is a low priority item. The current SOS commands do not need the special/debug/mmx/floating point registers. Registers on amd64 not supported:

P1Home - P6Home
MxCsr
Dr0 - Dr7
FltSave
Header[]
Legacy[]
Xmm0 - Xmm15
VectorRegister[]
VectorControl
DebugControl
LastBranchToRip
LastBranchFromRip
LastExceptionToRip
LastExceptionFromRip

Registers on ARM not supported:
Fpscr
Q[], D[], S[]
Bvr[], Bc

[2015-09-03 19:40] mikem8361 commented on #502
This is a low priority issue. For the SOS commands supported so far the PAL printf formatting is sufficient.

[2015-09-03 20:06] vancem commented on #1461
David,

This is likely caused by logic that we added when we added the Activity support.     We certainly should not be logging an error in the case below, so we should add this to the bug you created.

Vance

From: Dustin Metzgar [mailto:notifications@github.com]
Sent: Thursday, September 3, 2015 12:36 PM
To: dotnet/coreclr <coreclr@noreply.github.com>
Cc: Vance Morrison <vancem@microsoft.com>
Su

[2015-09-03 20:35] Djuffin commented on #1482
When running in a Docker container /tmp (where CLR keeps debugging fifo-s) is not necessary cleaned between container restarts, and main process (debugee) always has pid=1.

That's why fifo like /tmp/clr-debug-pipe-1-in almost always already exists in a container that's running CoreCLR process.

[2015-09-03 20:35] mikem8361 commented on #673
Matt, I take this one.  I'm currently trying to figure out how to get my OSx lldb build to work and hopefully can document the process to build once I get it figured out.

[2015-09-03 21:03] mikem8361 commented on #1201
We want to move away from the PAL_InitializeCoreCLR/GetCLRRuntimeHost APIs on coreclr (both *Unix and Windows) and use the following new non-COM based ones.  If they don't meet your needs or have the same problem could you let me know.
//
// Initialize the CoreCLR. Creates and starts CoreCLR host and creates an app domain
//
// Parameters:
//  exePath                 - Absolute path of the executa

[2015-09-03 21:07] akoeplinger commented on #1485
It seems to run fine on CoreCLR via DNX dnx-coreclr-win-x64.1.0.0-beta8-15563, so it might be a .NET bug.

Contrary to what you experienced I also get a crash on Mono (4.0 and master, `* Assertion at mini-amd64.c:918, condition 'class1 != ARG_CLASS_NO_CLASS' not met`).

[2015-09-03 21:10] mikem8361 commented on #814
It looks like there isn't any more cleanup necessary. Corefx is using the coreclr SetConsoleCtrlHandler and see no reason to change this moving forward.

[2015-09-03 21:10] #814 closed

[2015-09-03 21:12] ddobrev commented on #1485
Yes, it's a .NET bug, I have no idea if it works on CoreCLR. About Mono, this code - http://pastebin.com/vSckyJaK - works, there may be problems with the decreased test case I used here.

[2015-09-03 21:19] akoeplinger commented on #1485
@ddobrev you're right, it works on Mono and CoreCLR with that code and crashes on .NET 4.6.

[2015-09-03 21:41] mikem8361 commented on #513
Even though funceval isn't highest priority of managed debugging, it will still be necessary.  So the above FuncEvalHijackPersonalityRoutine is used and we will need to support it. I'm assigning this issue back to Jan.

[2015-09-03 22:19] adityamandaleeka opened #1487 "Implement InjectActivation for FreeBSD"
`InjectActivationInternal` (from src\pal\src\exception\signal.cpp) currently uses `pthread_sigqueue` in order to inject a function, so it doesn't work on FreeBSD where `pthread_sigqueue` is not available. This isn't a problem at the moment because there's no code that needs to use `InjectActivation` on FreeBSD for now, but if we want to use this function for GC suspension like we currently do on L

[2015-09-03 22:27] adityamandaleeka commented on #1487
BTW, @kangaroo had some thoughts about this here: https://github.com/dotnet/coreclr/pull/1371#issuecomment-129974852

[2015-09-03 23:06] ellismg commented on #1478
/cc @noahfalk @leculver

[2015-09-03 23:25] DrPizza commented on #430
@richlander One of the motivations behind implementing something akin to C4 is that GC performance has contributed to lost contracts in the past. It was not the sole factor in the London Stock Exchange's 2009 decision to drop .NET (in favour of C++, I believe), but it was a consideration.

Azul's customers are, I'm sure, predominantly financial institutions. It seems unfortunate that .NET is (argu

[2015-09-04 00:07] mikem8361 commented on #889
Changing the thread id (and process id) to the proper size on *Unix platforms will requires changes from the bottom up starting with the PAL, up into the VM, DBI, DAC and then into the public ICorDebug interfaces.  The work required is substantial and the COM interfaces involved will have to be extended in the traditional way (i.e. ICorDebugDataTarget4::GetThreadContext(ULONG64 threadId, ...). The

[2015-09-04 12:37] jkotas commented on #1485
This is documented implementation limitation. From [msdn](https://msdn.microsoft.com/en-us/library/ef4c3t39.aspx): P/Invoke cannot have non-blittable types as a return value

You can workaround it by making the struct blittable:

        [StructLayout(LayoutKind.Explicit, Size = 16)]
        public struct Internal
        {
            [FieldOffset(0)]
            public byte d;
        }

It will

[2015-09-04 13:09] ddobrev commented on #1485
@jkotas thank you very much for your explanation. So this behaviour is actually documented. Let me ask you: is this behaviour a part of the C#/CLI specification? If not, why does it work on Mono, have they perhaps taken a little liberty in their implementation?

[2015-09-04 13:55] jkotas commented on #1485
The CLI specification does not have the exact lists of marshaling behaviors that has to be supported - it only talks about a very basic minimum. Look for `II.15.5.4 Data type marshaling`.

BTW: Our longer term plan to deal with the pinvoke marshaling is MCG tool. More details about how MCG works is in [this blog](http://blogs.msdn.com/b/dotnet/archive/2014/06/13/net-native-deep-dive-debugging-into

[2015-09-04 14:00] ddobrev commented on #1485
I understand. Thank you very much. I am closing this since it's documented and therefore a limitation, not a bug.

[2015-09-04 14:00] #1485 closed

[2015-09-04 16:31] jkotas commented on #1477
It looks like a bug to me that we should fix.

[2015-09-04 18:06] jamesqo opened #1494 "Using ThreadStatic buffers in Stream.Read and WriteByte"
At the moment, the default implementation of `ReadByte` [allocates a new buffer](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/IO/Stream.cs#L739) every time it's called, which may not be immediately obvious to end users. Would it be possible to instead have a thread-static buffer that could be reused, like so

[code]

Same goes for `WriteByte`?

[2015-09-04 22:29] tmat commented on #1477
We need this to be fixed before we can start running Roslyn tests on CoreCLR.

[2015-09-04 22:37] sergiy-k commented on #1477
@kouvel, could you please take a look?

[2015-09-04 22:45] kouvel commented on #1477
Sure, I'll take a look

[2015-09-04 22:56] jkotas commented on #1477
cc @gkhanna79

[2015-09-04 22:57] mellinoe commented on #1477
There was some discussion over email regarding this that wasn't captured here. A main point was that assemblies on the TPA list (everything residing next to CoreRun gets put there) must have a version specified in order to be loaded. That seems to be the relevant part of the logic involved here.

[2015-09-05 11:18] teyc commented on #1228
@nelsonsar I've provided a Gist https://gist.github.com/teyc/1a8a5ce733f4e427027a that works against dnxcore50 beta8 on OS X.

[2015-09-05 15:15] trotyl opened #1502 "Throwing exception in OS X beta8-15564"
When running **Hello World Example** of [Getting Start](http://dotnet.github.io/core/getting-started/) on OSX-x64, it threw an exception.

The log list below:

[code]

[2015-09-05 21:25] kangaroo commented on #1502
This is a known issue with beta8.  You can resolve it by building System.Security.Cryptography.Native from the Native folder in corefx and copying it over.

[2015-09-05 22:17] teyc commented on #1502
To elaborate on @kangaroo
[code]

[2015-09-06 00:14] stephentoub opened #1504 "Better error message for stack overflows on Unix"
Consider this program:

[code]

On Windows, this stack overflows and prints out a message:

[code]

On Unix, it simply seg faults with little indication as to why.  If it's feasible, it'd be very helpful if some kind of error message or indication could be generated to help the developer understand quickly why things seg faulted.  If nothing else, some analytics in SOS that could point the finger

[2015-09-06 07:38] mikedn opened #1505 "RyuJIT should eliminate unnecessary try/finally"
If the `finally` block in a `try`/`finally` pair does nothing then they can be eliminated. Such `finally` blocks are produced when `foreach` is used with BCL collections such as `List<T>` because their enumerators have empty Dispose methods. The JIT compiler inlines the Dispose method and the callsite and null check are eliminated but the `try`/`finally` is left behind.

Also, I'm not very familia

[2015-09-06 08:57] neurospeech opened #1506 "HashCode improvement for String"
1. Cache HashCode, so HashCode is not calculated at every subsequent calls, this is important for following case
2. Check A.HashCode != B.HashCode in String.Equals() instead of A.Length != B.Length
3. I hope switch statement can take advantage of HashCode matching

[2015-09-06 09:54] mikedn commented on #1506
If the hashcode hasn't been computed yet it has to be computed and that's potentially more expensive than just doing a normal string equality check. Or if the hashcode hasn't been computed fallback to using Length. Might be useful in some cases but I would speculate that it won't useful often enough. In many cases at least one of the strings will not have its hashcode already computed as it was ju

[2015-09-06 15:28] neurospeech commented on #1506
What if hashcode is created at time of creating (allocating) strings, in for operation whenever it is doing memory copy or spliting strings or in StringBuilder, it can keep copy of hashcode whenever string is updated.

[2015-09-06 17:42] antiufo commented on #1494
Wow, I always assumed that ReadByte was a fast, allocation-free method, while it's actually not.
What's worse is that some Stream implementations (eg. FileStream) override that method, while others don't (eg. NetworkStream).
I'd now feel a bit reluctant to write methods that use ReadByte on externally-provided Streams.
Can we get an allocation-free default implementation?

[2015-09-06 20:24] mholo65 commented on #1201
Thanks, I've noticed the new API, but haven't had a chance to test it. I will try to make time for this in a near future.

Original problem was that I was unable to Initialize CoreCLR if I had debugger attached (in my case GDB) when running my executable, if my executable was linked against a CoreCLR built in release mode. Could it be anything in the Initialization phase that checks if a debugger

[2015-09-06 20:36] mikem8361 commented on #1201
There shouldn’t be any difference.  We debug coreclr with lldb (and gdb) all the time under “corerun” which uses the new apis, but the new apis call PAL_InitializeCoreCLR so it should be the same.

mikem

[2015-09-06 21:00] mholo65 commented on #1201
So the only difference between my executable and corerun is that my executable links to libcoreclr.so on compile-time (Static loading, dynamic linking), while corerun uses dlopen (Dynamic loading, dynamic linking) to open libcoreclr.so.

[2015-09-07 04:34] RichiCoder1 commented on #1506
I can't speak for the dotnet team, but I don't think they'd be for either caching hashcodes, or generating then at string generation time. The latter goes against doing as little as possible when creating strings and might add unnecessary complexity, and the former would add a lot of unnecessary memory pressure, especially in string heavy systems. Hashcodes are relatively cheap to compute, too, in

[2015-09-07 05:22] GeirGrusom commented on #1506
Caching string hashcodes would break code that performs unsafe operations on strings.

[2015-09-07 05:28] cloudRoutine opened #1508 ""build clean" fails, "build x64 debug" fails, "build x64 release" success"
Building on Windows 10 with VS 2015

`build clean` fails with [the log](https://gist.github.com/cloudRoutine/dfa9e8e8114495db2f51) ending with

[code]

`build x64 debug` fails with [the log](https://gist.github.com/cloudRoutine/109c1093721278d98ca8)  showing slightly different error messages

[code]

but `build x64 release` works

[2015-09-07 06:35] mikedn commented on #1506
Well, not every string needs to be tested for equality  with another string or used as a hashtable key so computing the hashcode upfront is unlikely to be beneficial. To me this looks like the good optimization done in the wrong place. The framework has no idea how a string will be used - if it will be equality tested 0, 1 or more times - so such an optimization may end up being a de-optimization

[2015-09-07 12:05] teyc commented on #1454
`dnx451` should have worked without declaring any dependencies. On `dnxcore50` your project json  should have at least dependency on System.Text.RegularExpressions
[code]

Then, to build for `dnx451` do the following
[code]

And to build for `dnxcore50`
[code]

[2015-09-07 12:22] Liamsi commented on #1457
I had the same problem. The following workaround worked: copy `C:\git\coreclr\packages` to `C:\git\coreclr\tests`.

[2015-09-07 14:44] janvorli commented on #1201
I wonder - have you used release build of mscorlib.dll when trying to use the release version of the libcoreclr.so? These two must match.

[2015-09-07 15:57] mholo65 commented on #1201
I used the DNX nupkg (beta6-something), so it should have contained correct mscorlib.dll. This was however a time ago, I will try to find time to verify this in a near future.

[2015-09-07 17:35] mikem8361 commented on #751
Using the new APIs removes the requirement to call this API.  Will remove PAL_InitializeCoreCLR from the public exports in a future commit.

[2015-09-07 21:06] mholo65 commented on #1201
Can't seem to reproduce anymore. Not with new API atleast.

However, before closing this issue, I'm curious on how is ```coreclr_create_delegate``` supposed to be used? Can't find any examples in code.

This however is not working fore me, initialization works (I think :smile_cat: )
[code]

```coreclr_create_delegate``` returns ```-2147024894```

The sources for Hello.dll is the following:
[code]

[2015-09-07 23:02] weitzhandler opened #1510 "Unable to use attributes"
Hi,

I have an assembly project. Here's it's *project.json* file:

    {
      "version": "1.0.0-*",
      "description": "Rnet Class Library",
      "authors": [ "Shimmy" ],
      "tags": [ "" ],
      "projectUrl": "",
      "licenseUrl": "",
      "frameworks": {
        "dnx451": { },
        "dnxcore50": { }
      },
      "dependencies": {
        "Microsoft.CSharp": "4.0.1-beta-23225",

[2015-09-07 23:17] davidfowl commented on #1201
You need to initialize the TPA list with the appropriate dependencies.

[2015-09-08 07:18] mikedn commented on #1494
Do you have an actual example where your application's GC time is negatively impacted by that allocation? `ThreadStatic` fields are slow, slower than simply allocating the array. At least when tested in isolation, without any other code that also allocates memory, this version is slower.

The proper fix is for streams to override these methods. Even then, if you care about performance you'd avoid

[2015-09-08 09:14] janvorli opened #1513 "Unix managed exception dispatching is called incorrectly at some places"
The managed exception dispatching is initiated from the UNINSTALL_MANAGED_EXCEPTION_DISPATCHER macro and it should be used only at the border between managed and native code, when managed code calls native one. This macro is part of the UNINSTALL_UNWIND_AND_CONTINUE_HANDLER_NO_PROBE macro. However, it turns out that the UNINSTALL_UNWIND_AND_CONTINUE_HANDLER_NO_PROBE (or the UNINSTALL_UNWIND_AND_CO

[2015-09-08 09:32] ayende commented on #1494
Consider something like Lucene.
It calls ReadByte millions of times. That can generate a lot of pressure.

In general, a lot of stuff inside Stream is done a default, not necessarily
optimized fashion.
It make it easy to implement, but can lead to inefficient usage.

For example:
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/IO/Stream.cs#L218

Here we allocate an 80Kb(!) bu

[2015-09-08 10:07] mikedn commented on #1494
Is there something that prevents Lucene from using Read instead of ReadByte? Reading one byte at a time is not exactly the most efficient way to do things and I would expect that code that's supposed to be efficient doesn't use ReadByte unless there's no other way. It's really a convenience feature and most of the time convenience and performance don't see eye to eye.

Besides, if Lucene uses Read

[2015-09-08 11:10] ayende commented on #1494
It is doing its own buffering (which is another issue, because then you
have many many buffers).
It uses 7 bits numbers, so reading one byte at a time makes a lot more
sense.
And the problem is that you don't _know_ that you have this problem,
because you don't need to implement ReadByte, it is done for you

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-

[2015-09-08 11:52] janvorli commented on #1513
@BruceForstall FYI - this is the problem that you were hitting in your jitter test.

[2015-09-08 12:27] janvorli commented on #1513
Fixed by #1514

[2015-09-08 12:27] #1513 closed

[2015-09-08 12:50] janvorli commented on #1420
Fixed by #1496

[2015-09-08 12:50] #1420 closed

[2015-09-08 16:27] weshaggard commented on #1510
I believe you only need to add the System.Runtime dependency on the dnxcore50 section.

[2015-09-08 16:57] janvorli commented on #513
Fixed by #1515

[2015-09-08 16:57] #513 closed

[2015-09-08 17:09] mikedn commented on #1494
@ayende

I would guess that it doesn't do that by using ReadByte so it's unclear how is that related to this issue.

From a convenience point of view maybe, from a performance point of view never.

As far as I'm concerned I know I don't have this problem because I don't use ReadByte in performance sensitive code. Of course, the same argument can be used to justify replacing the existing implementa

[2015-09-08 17:54] BruceForstall commented on #1505
One optimization JIT64 did that RyuJIT doesn't do is "finally cloning" -- essentially inlining the contents of the "finally" block into the "main function" immediately after the "try" that requires "finally" handling. This improves the non-exceptional path by not requiring call/prolog/epilog/return code. It still requires marking the inlined region very carefully to handle potential exceptions pro

[2015-09-08 18:10] AlexGhiondea commented on #1506
I agree with @mikedn. The Framework has no way of knowing if a string will be compared with another string and so computing and storing the hash code can actually hurt performance.

[2015-09-08 18:34] AlexGhiondea commented on #1463
It seems like the VB compiler is trying to help by picking an overload that will work.

@VSadov -- do you know what the VB compile would do if we were to introduce the ```bool EndsWith(char value)``` overload on string?

@davidfowl can you create an issue in the CoreFx repo (following the [API review process] (aka.ms/apireview))?

[2015-09-08 21:26] ellismg commented on #1508
VS 2015 RTM or some RC build?

[2015-09-08 21:45] cloudRoutine commented on #1508
Microsoft Visual Studio Community 2015 Version 14.0.23107.0 D14REL

[2015-09-08 22:57] AlexGhiondea commented on #665
I can see how the Reclaim method could help in certain scenarios. However, I also think that it would be very similar to blowing away the table and starting again - which can be achieved from user code just as you have pointed out.

It I remember correctly (and I might be wrong :smile:) , the pattern of only growing the internal arrays is something we have in all of our collections.

[2015-09-09 03:04] rigdern opened #1519 "gc.cpp: null dereference when MULTIPLE_HEAPS is not defined"
In [`src/gc/gc.cpp`](https://raw.githubusercontent.com/dotnet/coreclr/bb260291f7b2dd7744a7ddd950c3b7ae00259611/src/gc/gc.cpp), near the top of the `gc_heap::get_segment_for_loh` method, `hp` is initialized to `0` and then dereferenced on the next line:

[code]

Reported on this web page: http://www.viva64.com/en/b/0310/#ID0E5BJM

[2015-09-09 07:20] borgdylan commented on #1184
@OtherCrashOverride The referred to issue hasn't been updated in a while.

[2015-09-09 14:48] JosephTremoulet opened #1521 "Facilitate using CMake's standard mechanism to find CoreCLR"
[LLILC](https://github.com/dotnet/llilc) (and other projects?) pulls in some CoreCLR sources for utilities such as GC encoding.  LLILC, like most (all?) LLVM tools, uses CMake for configuration, and currently we find those CoreCLR sources via a required argument passed on the cmake command line, but this causes some friction in the LLVM build where (aside from this) there are no required cmake com

[2015-09-09 15:11] jkotas commented on #1519
This is by design - GC is using null gc_heap pointer throughout when MULTIPLE_HEAPS is not defined. The null pointer is never actually dereferenced.

[2015-09-09 15:13] stevenattwell commented on #1228
Hello, not sure if this is the correct place to register this issue, if not apologies and could you point me to the correct issues list?

I get similar problem/error syntax running beta7 when adding  **System.Data.SqlClient** to a Web API project where I am already referencing  **MySql.Data** and **MySql.Data.Entity**. I am attempting to execute stored procedures from both MySQL and SQL Server wit

[2015-09-09 21:22] janvorli commented on #193
I have assigned this issue to myself, since I am starting to work on the thread suspension for OSX.
After looking into possible options, it seems that handling it in a similar way as on Windows rather than using injection like on Linux will get a cleaner and better performing solution.
Just to make sure there is a clear understanding of the goal of the suspension, I would like to point out that we

[2015-09-09 21:26] janvorli commented on #193
@kangaroo Could you please take a look at the OSX plan above and let me know if you have any concerns?

[2015-09-09 21:57] kangaroo commented on #193
@janvorli In general it sounds reasonable to me.  One question.  What makes a point interruptible or not in regards to managed code?  Is it possible for a non-interruptible point to be in a tight loop, or waiting on a conditional which would cause the return to not execute?

[2015-09-09 23:03] janvorli commented on #193
@kangaroo, here is the description:
**Fully Interruptible Method**
A method in which the information for garbage collection is available at all points inside the main body of the method. (excluding the prolog and epilog portions of the method) The Method Header Information has interruptible=1. Because of the size of the Method GC Information required to supply this information, the JITter avoids c

[2015-09-10 00:12] VSadov commented on #1505
I believe "empty finally" may deserve to be handled before more general EH optimizations are implemented.
I think it is a fairly common case with  struct enumerators like List<T> and also, being a trivial case, perhaps it is easier to handle than more general scenarios.

[2015-09-10 05:03] neurospeech commented on #1506
Ok I get it, I was only concerned about using HashCode in switch, but as if Roslyn compiler uses hash code, that should be better.

[2015-09-10 05:03] #1506 closed

[2015-09-10 06:28] #1477 closed

[2015-09-10 09:17] mikedn commented on #1505
IMO those enumerators should have explicitly implemented Dispose but that can't be changed now so it's up to the compilers to clean up. I suppose the C# compiler could do this as well by special casing those enumerators but that feels kind of ugly.

[2015-09-10 15:14] janhenke opened #1526 "Linux build breaks on Clang 3.7"
I am aware the officially supported Clang version is 3.5 at the moment. But since 3.7 has been released and the next Ubuntu LTS will probably ship either 3.7 or 3.8, it should be worthwhile to already fix the breakage from this new version.

It seems Clang is now generating additional warnings for code that was accepted before. We should fix those warnings. Below is the important part of the build

[2015-09-10 17:12] janhenke opened #1527 "Building native shims from top level folder"
Currently there is no top level way to build the native shims. One has to call  ```src/Native/build.sh```. Since the shims are needed for CoreFX to work correctly on Unix systems, it would be helpful to provide some intuitive way of invoking the build from the top level.

I see two obvious ways to archive this:

1. Create a top level ```build-native.sh``` which starts the build in ```src/Native```

[2015-09-10 17:37] sokket commented on #1527
Option two seems like a clean approach to me; having a shim-specific build in the top level directory seems wonky. It should also make it super easy to build all of CoreFX with one command, which is definitely a plus. There are probably some issues to think through with this method, such as if the native build blocks the managed on failure, though. Thoughts?

[2015-09-10 17:49] janhenke commented on #1527
We have to do one of the builds before the other anyway (otherwise they would compete for CPU time). So to not affect the managed code build, we could build all of the managed assemblies first. Only if that is successful we can build the native shims afterwards.

[2015-09-10 17:54] janhenke commented on #1527
I just now realize I opened the issue at the wrong repository. This was meant to go to CoreFX instead. I will open it there again. @sokket Feel free to post your reply there.

[2015-09-10 17:54] #1527 closed

[2015-09-10 19:43] BruceForstall opened #1528 "Windows Debug builds use /O1"
Why do we build the *Debug* flavor on Windows with the `O1` optimization switch instead of `Od`? Can we please change it to `Od`?

(I can't tell what non-Windows builds use; can someone tell me if the debug flavor is built with or without optimization, and where to find that information?)

[2015-09-10 19:49] mfilippov opened #1529 "Process RedirectStandartOutput isn't work on Mac."
I have test program:
[code]
With dependency: "System.Diagnostics.Process": "4.0.0-beta-23109",
$dnvm list
[code]
I got error:
$ dmx run

[code]

[2015-09-10 20:13] mikedn commented on #1528
See #1144, apparently there's a test that fails if code isn't optimized.

[2015-09-10 20:22] jkotas commented on #1529
Could you please open the bug in https://github.com/dotnet/corefx repo?

(This repo is for the core runtime only - JIT, GC, low-level types like int or string, etc. The corefx repo is for the frameworks.)

[2015-09-10 20:26] janvorli opened #1530 "Clean processing of unhandled exceptions in secondary threads"
Currently, the process is terminated, the stack is dumped, but the exception is still somehow propagated to the c++ runtime, which dumps this message:
terminate called after throwing an instance of 'PAL_SEHException'
The termination should be clean.

[2015-09-10 20:38] janvorli opened #1531 "Dereferencing null in JIT_WriteBarrier isn't handled properly"
When handling the hardware exception, the native stack unwinder incorrectly unwinds the frame of the JIT_WriteBarrier using RBP chain. Since the JIT_WriteBarrier is a leaf function and doesn't push RBP in its prologue, the unwinder effectively skips one managed frame and thus possibly a catch handler.

The issue is caused by the fact that the exception happens at the first instruction of the write

[2015-09-10 20:44] mfilippov commented on #1529
Ok. I do it: https://github.com/dotnet/corefx/issues/3162

[2015-09-10 20:44] #1529 closed

[2015-09-10 21:12] gkhanna79 commented on #410
Sorry, I am just getting to this - I will take care of it.

[2015-09-10 22:11] redknightlois opened #1532 "RyuJIT call optimization and aggressive inlining with known generic types"
This probably will end up in the future releases wishlist, but it something that has been looking forward for a long time already.

Lets say that we have this code:

[code]

And we have the following instances:

[code]

Now we would expect that the call for _classCalls.Execute(x) would be different than for _interfaceCalls(x). Apparently that is not the case, the JIT stops at the first level even

[2015-09-11 00:38] janvorli commented on #1531
Fixed by #1533

[2015-09-11 00:38] #1531 closed

[2015-09-11 02:48] kangaroo commented on #193
Thanks @janvorli -- it sounds like from the explanation and my looking at the code, the concern case I raised isn't possible.

[2015-09-11 08:59] mikedn commented on #1532
I'm not quite sure what this has to do with generics, this looks more like a devirtualization problem.

[2015-09-11 09:08] DixonD-git opened #1534 "Decimal as a primitive type"
Is it possible to make `decimal` a primitive type so that it can be used as a parameter to attributes etc?

[2015-09-11 09:42] panost commented on #1532
If I remember correctly, if ClassCalls was a struct and not a class, the Execute method would be inlined

[2015-09-11 10:50] Injac opened #1535 "There is no "Native" directory"
Hi,
I just followed this guide here, to compile the coreclr repo on Linux:

https://github.com/dotnet/coreclr/blob/master/Documentation/building/linux-instructions.md

Problem: there is no "Native" directory. Does this need to be updated? How to build the native components?

[2015-09-11 11:05] mikedn commented on #1532
@panost Yes, in the case of structs the JIT usually does devirtualization. It's practically forced to do so, making an interface call on a value type would require boxing and you'd end up calling a method on a copy of the original value.

[2015-09-11 11:13] mikedn commented on #1535
Looks like the documentation is in need for an update, that Native thing has moved to the corefx repository.

[2015-09-11 11:21] Injac commented on #1535
Ok. Good to know, thanks for the quick feedback :)

[2015-09-11 16:42] redknightlois commented on #1532
@mikedn yeah, but my benchmarks and the emitted assembly suggest that the JIT will perform some limited devirtualization if no generic type is involved. I agree that probably the topic could be changed to "RyuJIT support aggressive call devirtualization over constrained generic types" or something better if we can think a better one.

[2015-09-11 17:09] mikedn commented on #1532
Do you have some sample code?

[2015-09-11 17:33] redknightlois commented on #1532
@mikedn Sure. https://gist.github.com/redknightlois/5bafa47ee9835605da26

Just don't execute the naked call versions along with the generic ones (the difference between the count of instruction per each will screw the results --- probably as I am not counting properly the source instructions so I am not passing the right number to BenchmarkDotNet to do a proper adjustment).

In there you will see

[2015-09-11 17:58] mikedn commented on #1532
`UseNakedInstanceCalls` and `UseNakedSealedCalls` do not contain any virtual/interface calls and generate identical code. `UseNakedInterfaceCalls` contains an interface call, at least in theory, be devirtualized. All the generic variants contain interface calls similar to `UseNakedInterfaceCalls`. They should generate the same code as `UseNakedInterfaceCalls` but there's some dead code that the JI

[2015-09-11 18:06] #1475 closed

[2015-09-11 19:10] redknightlois commented on #1532
@mikedn And then I remember that I have RyuJIT disabled :)

These are the legacy JIT calls:

![devirtualization 1](https://cloud.githubusercontent.com/assets/1045411/9823852/43492c86-589f-11e5-9cb8-b7d526f7a2a6.png)
![devirtualization 2](https://cloud.githubusercontent.com/assets/1045411/9823853/4407a382-589f-11e5-891a-ef6b87952b9c.png)
![devirtualization 3](https://cloud.githubusercontent.com/ass

[2015-09-11 19:34] mikedn commented on #1532
That's the 32 bit JIT, not the legacy (aka JIT64) JIT. Though on my machine JIT32 does inline the first two calls...

[2015-09-11 19:36] redknightlois commented on #1532
@mikedn I hate the "Prefer 32bits" option set by default of Visual Studio. See the edit.

[2015-09-11 19:42] mikedn commented on #1532
That `lea` is generated by the legacy JIT (JIT64) compiler, it's not generated by RyuJIT. Discussing the code generated by JIT64 isn't exactly useful.

[2015-09-11 19:48] redknightlois commented on #1532
@mikedn I know, that's why I said: "And then I remember that I have RyuJIT disabled :)" ... the limited devirtualization I've seen was JIT64 not RyuJIT making the whole argument moot.

However, that doesn't invalidate the fact that some devirtualization used to happen, which apparently is not happening anymore.

[2015-09-11 19:58] mikedn commented on #1532
But there's no kind of devirtualization going on in JIT64 either.

[2015-09-11 22:19] redknightlois commented on #1532
@mikedn OK now I see what you mean. For all uses and purposes those 2 call opcodes are equivalent. That interface call performance profile is the same of the register call for every processor upwards of Sandy Bridge (and maybe a couple of before). But, that's an artifact introduced by my code because I isolated the 3 calls in their own method. When called one after another (even creating the objec

[2015-09-11 23:58] gkhanna79 commented on #410
This issue has been present in the VM for pretty much as long as I can remember. The problem happens when we have a nested exception (E2) that is caught within the VM (using EX_CATCH), we do not reset the managed thread state tracking the last thrown exception object to be in sync with the outer exception (E1) tracked by the topmost exception tracker (corresponding to the top-most active tracker).

[2015-09-12 01:17] swaroop-sridhar opened #1541 "RunTest: Have a facility to specify Timeout"
The timeout setting is coded into coreclr\tests\src\Common\Coreclr.TestWrapper\CoreclrTestWrapperLib.cs

Have a configurable timeout factor, to help runs with LLILC Jit.
When running with precise GC LLVM inserts gc-probed on loop back edges causing some large loops to timeout.

[2015-09-12 05:32] mikedn commented on #1532
Yes, that's one case where devirtualization is possible. In itself it is a rather useless case as there's little reason to write such code to begin with (the only practical use for that kind of code is to access explicitly implement members). But such opportunities can show up in real code as the result of inlining of either the `Execute` call site (like it happens in your case, the generic `Execu

[2015-09-12 22:04] #1457 closed

[2015-09-12 22:59] #1453 closed

[2015-09-13 05:25] roterdam opened #1545 "Building mscorlib fails with Unrecognized option: '/test:moduleName=CommonLanguageRuntimeLibrary'"
I opened mscorlib.csproj in Visual Studio and tried to build it, and it failed with the following error:

Severity	Code	Description	Project	File	Line	Source
Error		Unrecognized option: '/test:moduleName=CommonLanguageRuntimeLibrary'	mscorlib	C:\coreclr\src\mscorlib\CSC		Build

Are there special instructions to build it without building full coreclr?

[2015-09-13 07:38] shahid-pk commented on #1545
from command line or powershell type this **build.cmd windowsmscorlib** to build mscorlib only, if you are on windows.

[2015-09-13 21:15] drbo commented on #1417
What about client and server modes, offering a trade-off between compile time and runtime?

[2015-09-13 21:48] GSPP commented on #1417
@drbo I think that would be great. Like /O1 vs. /O2.

Even better would be a tiered JIT like the JVM uses it. That would always work and have even better startup time than RyuJIT. Most methods end up running a few times only and being interpreted. No JIT cost at all.

[2015-09-14 04:37] AlexGhiondea commented on #1545
@roterdam which version of VS are you using? I am guessing VS 2015.

The error comes from the fact that we are trying to use a switch that Roslyn does not support but the native compiler does support.

When we were bringing up the open source build for mscorlib we needed to support both compilers so we introduced a property (UseRoslynCompiler) that triggers which switches to set.

You can fix this

[2015-09-14 04:47] jkotas opened #1548 "[GCSample] Cleanup warnings and add it to the build"
GC sample is not part of the regular build because of it builds with a lot of warnings. We should clean them up and add it to the build.

[2015-09-14 04:48] jkotas commented on #1548
#1547

[2015-09-14 04:56] ellismg commented on #1535
FWIW, The "Native" directory will be coming back in a few days, as mscorlib.dll will end up needing some native shims.

[2015-09-14 05:11] jkotas opened #1549 "[GCSample] Cleanup Windows cruft in GC environment"
We should add a clean OS abstraction layer for locks, block memory allocation, etc.

E.g. GCToOSInterface, similar to existing GCToEEInterface that is used to insulate GC from the execution engine details.

[2015-09-14 05:12] jkotas commented on #1549
#1547

[2015-09-14 05:19] jkotas opened #1550 "[GCSample] Cleanup CoreCLR cruft in GC environment"
GC environment contains CoreCLR cruft: EEConfig, CLRConfig, ADIndex, AppDomain, SystemDomain, ... .

We should clean it by replacing it with proper abstractions on GCToEEInterface.

[2015-09-14 05:19] jkotas commented on #1550
#1547

[2015-09-14 05:21] jkotas opened #1551 "[GCSample] Add a simple sample implementation of suspension and stackwalking"
This will make it look more real, e.g. somebody will be able to take it and actually do something real with.

[2015-09-14 05:21] jkotas commented on #1551
#1547

[2015-09-14 16:34] AndyAyersMS commented on #1541
See also #1040.

[2015-09-14 17:48] kouvel commented on #1411
Looks like the memory is stabilizing after a while, there doesn't seem to be an actual leak

[2015-09-14 17:48] #1411 closed

[2015-09-15 06:34] gitchomik commented on #1535
@Injac If yout are talking about "Native" source directory (in section "Build the Framework Native Components") is still in corefx repository (not coreclr) https://github.com/dotnet/corefx/tree/master/src/Native, so the documentation is no need for an update.

[2015-09-15 09:56] BryantL opened #1556 "EventSetInformation in advapi32 called from .Net 4.6 - First chance exception on Windows 7"
As indicated in https://github.com/dotnet/coreclr/issues/974 .Net 4.6 calls the EventSetInformation method in advapi32 which is unavailable on windows 7 (I'm creating a new issue as that issue was closed).

I realise that the resulting exception is swallowed and the call not made again however the initial first chance exception is somewhat annoying.

According to comments in https://github.com/dot

[2015-09-15 17:26] jonesnc commented on #1502
@teyc I tried what you suggested, modified to work on Fedora 22:

`pushd ~/.dnx/runtimes/dnx-coreclr-linux-x64.1.0.0-beta8-15616
cp bin/lib/Microsoft.Dnx.Tooling/System.Security.Cryptography.Native.so bin/`

I now get this error when I run `dnx run`:

[code]

[2015-09-15 19:18] BruceForstall commented on #1528
Closing, since Matt fixed this with #1144

[2015-09-15 19:18] #1528 closed

[2015-09-15 21:12] teyc commented on #1502
Ahh apologies @jonesnc , I forgot to `popd` - updated

[2015-09-15 21:56] jonesnc commented on #1502
@teyc That fixed it! Thank you!

[2015-09-15 22:17] zhangxin511 opened #1558 "GetManifestResourceStream return junkie code when using coreclr beta7"
I am running 1.0.0-beta7 coreclr to run web application using command "dnx kestrel". I found the GetManifestResourceStream return junkie chars:

var template = _resourceAssembly.GetManifestResourceStream("Swashbuckle.SwaggerUi.index.html");
var templateText = new StreamReader(template).ReadToEnd();

The templateText will have funny chars after certain length.

[2015-09-16 00:14] Priya91 opened #1561 "File Attribute pal tests failing in PRs on linux release."
[code]
[code]
[code]

[2015-09-16 08:00] roterdam commented on #1545
Thanks @AlexGhiondea , yes using VS2015. I did try your suggestion and @shahid-pk both works, so I'm good.

[2015-09-16 13:13] #630 closed

[2015-09-16 14:05] stephentoub commented on #1545
Great.

[2015-09-16 14:05] #1545 closed

[2015-09-16 14:38] compudj commented on #198
FYI, sys_membarrier has been merged into Linux 4.3-rc1 (currently x86 32/64 support, other architectures should be wired up soon).

[2015-09-16 15:27] mmitche commented on #1561
This is failing fairly often in debug too, but not every time:

file_io/CopyFileA/test3/paltest_copyfilea_test3. Exit code: 1
file_io/GetFileAttributesA/test1/paltest_getfileattributesa_test1. Exit code: 139
file_io/GetFileAttributesW/test1/paltest_getfileattributesw_test1. Exit code: 139

[2015-09-16 15:44] drbo commented on #1417
Or use RyuJIT for medium-hot methods and LLILC for the hottest ones, as
LLVM optimizes better than RyuJIT ever will.
On Sep 13, 2015 5:49 PM, "GSPP" <notifications@github.com> wrote:

[2015-09-16 15:54] jkotas opened #1563 "Use sys_membarrier to implement FlushProcessWriteBuffers on Linux 4.3+"
See #198 for details

[2015-09-16 16:00] jkotas commented on #198
@compudj Perfect - I have opened issue for CoreCLR to take advantage of it.

[2015-09-16 17:22] GSPP commented on #1417
Yeah, I think deleting RyuJIT entirely and replacing it with an interpreter plus LLILC as the 2nd tier would be a good thing. I do not understand the JIT strategy of the CLR team.

Anyway, given what it is I'll try to help.

[2015-09-16 17:56] mmitche commented on #1561
We should disable these tests while they are investigated.

[2015-09-16 21:06] mmitche opened #1570 "Arm/Arm64 cross builds failing"
As of:

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr_arm64_linux_debug/29/

Changes in that build:

Changes 1.Add link to .NET Core Roadmap (commit: 2c655822e3e26f9f3edea50ac8f4d4c91873a5bf) (detail)
2.Use Frame list context when GetThreadContext is unavailable (commit: eb3260e67bc653b56a80fbf0e8a07d78e3a404c1) (detail)
3.Use out-of-proc libunwind to unwind native stack from DAC (commit: d0f71

[2015-09-16 21:06] mmitche commented on #1570
/cc @benpye

[2015-09-16 21:07] mmitche opened #1571 "CentOS builds failing"
CentOS builds failing as of build 78:

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr_linux_centos71_debug/78/

/usr/bin/ld: /usr/lib/gcc/x86_64-redhat-linux/4.8.3/../../../../lib64/libunwind-ptrace.a(_UPT_create.o): relocation R_X86_64_PC32 against undefined symbol `malloc@@GLIBC_2.2.5' can not be used when making a shared object; recompile with -fPIC
/usr/bin/ld: final link failed: Bad value
c

[2015-09-16 21:08] mmitche commented on #1571
/cc @Djuffin

[2015-09-16 22:18] benpye commented on #1570
@mmitche Working on fixing the build break, however I believe arm64 shouldn't be broken. It appears the arm64 build is actually also building the arm files:

[code]

[2015-09-16 22:25] mmitche commented on #1570
@benpye Agh...how did that happen.  Changed.

[2015-09-16 23:07] benpye commented on #1570
After I believe I have fixed the first error I am hitting the assert at https://github.com/dotnet/coreclr/blob/master/src/debug/inc/dbgipcevents.h#L2355 . I guess this is a cause of the conversion from `MAX_PATH` somewhere along the line, I have modified it to the smallest value that will pass the assertion and therefor I assume is large enough.

[2015-09-16 23:08] mmitche commented on #1570
Different error on arm64:

In file included from /mnt/j/workspace/dotnet_coreclr_arm64_linux_debug/src/pal/src/exception/seh.cpp:282:
/mnt/j/workspace/dotnet_coreclr_arm64_linux_debug/src/pal/src/exception/seh-unwind.cpp:398:14: error: duplicate case value: 'UNW_REG_IP' and 'UNW_AARCH64_X30' both equal '30'
        case UNW_AARCH64_X30:  *valp = (unw_word_t) winContext->Lr; break;
             ^
/

[2015-09-16 23:19] benpye commented on #1570
I've disabled that code for non AMD64 platforms for now since it seems like it's only called from the AMD64 VM. Something I would like @kangaroo to look at though, libunwind lies on both ARM and ARM64 about the registers it's using, in this case, it uses LR for both IP and LR as per https://github.com/fdoray/libunwind/blob/master/include/libunwind-aarch64.h hence it has two of the same case. I alr

[2015-09-16 23:45] garrynewman commented on #1183
Also interested in this.

[2015-09-17 02:35] KirillOsenkov opened #1576 "Get CoreCLR raw walkthrough is out-of-date"
I've spent significant time following this walkthrough:
https://github.com/dotnet/coreclr/blob/master/Documentation/install/get-dotnetcore-windows.md

and I still couldn't get Hello World to work. The last issue I saw was:

C:\coreclr-demo\bin\x86>HelloWorld.exe

Unhandled Exception: System.IO.FileNotFoundException: Could not load file or ass
embly 'System.Private.CoreLib, Version=4.0.0.0, Culture

[2015-09-17 02:42] #1570 closed

[2015-09-17 14:47] benaadams commented on #1235
Specific NUMA node allocation would be helpful; though probably requires more easy thread affinity to make use of it.

[2015-09-17 15:58] benaadams opened #1579 "Avoid enumeration allocation via interface"
Can the Jitter/runtime resolve down one level when calling ```foreach``` on an interface where a strongly typed enumerator exists? Or otherwise prevent boxing; can always just be for the ```foreach ``` case.

There may need to be a pattern; for example the Interface enumerator returning result of call to strongly typed Enumerator.

--

Enumerating ```Dictionary``` doesn't allocate; however casting

[2015-09-17 16:05] stephentoub commented on #1579
It does: the same Enumerator is returned.  But when accessed via the interface, you're using the interface that's typed to return ```IEnumerator<KeyValuePair<TKey,TValue>>``` rather than ```Dictionary<TKey, TValue>.Enumerator```, so the struct gets boxed.

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Collections/Generic/Dictionary.cs#L269-L271

[2015-09-17 16:21] benaadams commented on #1579
```IEnumerator<KeyValuePair<TKey, TValue>> IEnumerable<KeyValuePair<TKey, TValue>>.GetEnumerator()``` boxing should effect Dictionary equally?

Wouldn't it be ```IDictionaryEnumerator IDictionary.GetEnumerator()``` on this line? https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Collections/Generic/Dictionary.cs#L682

[2015-09-17 16:22] benaadams commented on #1579
Ah, that's non-generic

[2015-09-17 16:24] stephentoub commented on #1579
No, it has a strongly-typed Enumerator that's returned from its GetEnumerator() method:
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Collections/Generic/Dictionary.cs#L265-L267

foreach binds to this pattern more tightly than it does to the iterface implementation.

[2015-09-17 16:56] #410 closed

[2015-09-17 17:28] benaadams commented on #1579
Obviously is been this way for years; but could there any potential work around similar to the one for arrays?

[code]

![dsd](http://aoa.blob.core.windows.net/aspnet/iarray-allocates.png)

[2015-09-17 17:32] stephentoub commented on #1579
Are you specifically concerned about the case of iterating over an _empty_ Dictionary via the interface?  That's the only one that array optimizes in this way.

[2015-09-17 17:46] benaadams commented on #1579
Ah yeah :( For reference:

![array-enumerator-allocating](http://aoa.blob.core.windows.net/aspnet/iarray-allocating.png)

Was wondering if the was some kind of pattern that could be introduced, for example if the interface enumerator returned the result of the strongly typed enumerator function:

[code]

The jit could resolve down one level; and bind to the strongly typed enumerator?

[2015-09-17 18:29] AndyAyersMS commented on #1440
And a bunch more that have `varargs` but not `arglist`:
[code]

[2015-09-17 20:08] janvorli commented on #1487
I need to implement activations for OSX for GC suspension purposes. So I have decided to implement mechanism to store pending activations in the CPalThread that can also be used on Linux / FreeBSD with pthread_kill that's portable.

[2015-09-17 20:14] janvorli commented on #193
@kangaroo I have implemented the runtime suspension the planned way and it works. But I have realized that using the way we use on Linux (injecting activation) on OSX would enable us to get rid of the safe / unsafe regions tracking in PAL. That would be a huge benefit. So I am changing the plan and I am going to implement the PAL_InjectActivation for OSX instead of mimicking the windows way,

[2015-09-17 20:49] #1561 closed

[2015-09-17 23:58] kangaroo commented on #193
@janvorli SGTM

[2015-09-18 03:58] mikedn commented on #1579
It could, in certain cases. This is related to devirtualization, see #1532 as well.

That said, if you want performance it's best to avoid interfaces. Code like the above may be optimized but such code doesn't make sense and similar code that does make sense is less likely to be optimized.

[2015-09-18 04:57] benaadams commented on #1579
Would be happy if it worked with the standard generic collections and their generic interface's IEnumerables/foreach as a starter; obviously it would be better if their was a pattern that could be used for people who implemented those interfaces.

[2015-09-18 06:01] mikedn commented on #1579
The best that collection implementers can do is to ensure that the explicitly implemented GetEnumerator returns the a struct enumerator just like the "ducking" GetEnumerator does, the standard generic collections already do that. Beyond that it's up to the JIT compiler to figure it out.

[2015-09-18 07:07] gafter commented on #1316
The string `"1e126"` appears to parse into different numbers on 32-bit and 64-bit runtimes.

[2015-09-18 07:29] gafter commented on #1316
The strings `"1e126"` and `"5e-107"`appear to parse into different numbers from `double.Parse` depending on whether you're running on a 32-bit or 64-bit runtime. The former gets the right result from `double.Parse` only on 64-bit systems; the latter gets the right result from `double.Parse` only on 32-bit systems.

/cc @MattGertz @jaredpar

[2015-09-18 07:37] gafter commented on #1316
@terrajobst Would you folks consider a contribution to replace `double.Parse`, `float.Parse` and related methods with an IEEE-correct version? We're writing one for Roslyn anyway.

[2015-09-18 08:32] janvorli commented on #1487
Fixed by #1582

[2015-09-18 08:32] #1487 closed

[2015-09-18 09:33] janhenke opened #1590 "Update documentation fo Unix Platforms"
The documentation for building CoreCLR on Unix is outdated in some ways.

* Building CoreFX on Unix works now
* Building mscorlib on Unix works now (Linux instructions have been updated already, FreeBSD has not been updated)

It should also be considered if the instructions really should duplicate about building the managed assemblies. I think a reference to the corresponding instructions in the C

[2015-09-18 09:34] janhenke commented on #1590
@jasonwilliams200OK Maybe something for you?

[2015-09-18 10:41] jasonwilliams200OK commented on #1590
I agree with the consolidation of the Unices' instructions into one doc and then branch within where necessary.

My VM is bit untidy, as I built and installed Mono master for Roslyn. For the documentation purposes, it would be a good idea to start from scratch and validate each command/instruction at least for the lastest versions of CentOS, FreeBSD, OSX and Ubuntu.

For example:

this line in [cu

[2015-09-18 11:24] benaadams opened #1591 "Setting AsyncLocal has very high allocation"
Setting an AsyncLocal value creates a [new ExecutionContext](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/ExecutionContext.cs#L194) which then creates a [new Dictionary and List](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/ExecutionContext.cs#L72) enumerating the original ones and copying to new; at which point it then switches

[2015-09-18 12:13] benaadams commented on #1579
For context; in aspnet iterating the headers IDictionary in aspnet allocates 256 kBytes for headers and 256 kBytes for response per 4k requests (bottom line):

![idictionary](http://aoa.blob.core.windows.net/aspnet/ienumerator.png)

When used as a Dictionary it doesn't allocate anything:

![idictionary](http://aoa.blob.core.windows.net/aspnet/enumerator.png)

However the default implementation of

[2015-09-18 15:51] VSadov opened #1592 "Investigate performance caveats of covariant interface casts"
I have heard multiple times that covariant interface casts may run into degenerate cases exhibiting fairly bad performance. Sometimes this leads to people being reluctant to rely on covariance in perf-sensitive code.

The problem needs to be understood and either fixed or, if unavoidable, there should be more concrete example of scenarios to avoid.

[2015-09-18 15:59] VSadov commented on #1592
If impact is real and common, we should review use of covariant interface casts in some scenarios in Fx vs. the alternatives.

[2015-09-18 16:44] ericeil commented on #1591
Thanks for the feedback; this is something we'd like to improve, and just need to prioritize it relative to other work.

[2015-09-18 19:53] desunit opened #1594 "malformed __eh_frame section: too little space allocated for parseCFIs for architecture x86_64"
Hi,

I was trying to build CoreCLR with XCode 7 but received the following error:
[code]

I've researched that problem a little bit and found that the error was related somehow to libunwind-3.0 library. Any ideas how to fix it? Does it relate to the issue #872?

[2015-09-18 21:01] kouvel opened #1595 "Assertion failure in vm/excep.cpp when running CoreFX tests"
Discovering: System.Diagnostics.Tracing.Telemetry.Tests
Discovered:  System.Diagnostics.Tracing.Telemetry.Tests
Starting:    System.Diagnostics.Tracing.Telemetry.Tests

Assert failure(PID 31664 [0x00007bb0], Thread: 31681 [0x7bc1]): personalityRoutine != NULL
    File: /home/kouvel/e/clr/coreclr/src/vm/excep.cpp Line: 8264
    Image: /home/kouvel/test/corefxtests/test/corerun

**** MessageBox invo

[2015-09-18 21:58] Eyas commented on #1592
To emphasize the importance of this, many methods (e.g. Linq, but also in other libraries) often have fast-path cases for `IList<T>`, but they only take advantage of the read-only methods.

Having a fast-path case for `IReadOnlyList<T>` unfortunately currently doesn't make sense because the `x as IReadOnlyList<T>` is quite expensive. See the discussion/perf numbers that happened in #1460.

While `

[2015-09-18 22:37] Injac commented on #1535
Ok. Thanks to all of you for the quick help.

[2015-09-18 22:43] naamunds commented on #1594
I'm hitting the same error.  I tried back-leveling to XCode 6.3.2, and then the build succeeded, so the issue does appear to be specific to XCode 7.0.

[2015-09-19 03:57] weshaggard commented on #1316
@gafter it is something we would consider. The biggest issue I see is the compat issue with existing code for the full framework, if we felt the risk was too high we could consider #ifdef'ing it for CoreCLR.

/cc: @AlexGhiondea @ellismg @joshfree

[2015-09-20 08:34] dougbu opened #1597 "Apparently unable to change cultures on Linux"
With System.Globalization 4.0.11-beta-23302, all cultures are apparently "Invariant Language (Invariant Country)". That is the `EnglishName` value of the initial culture as well as `new CultureInfo("en-GB")` and `new CultureInfo("fr-FR")`.

Unsurprisingly, changing `CurrentCulture`, `CurrentUICulture`, `DefaultThreadCurrentCulture`, or `DefaultThreadCurrentUICulture` has no effect.

For example th

[2015-09-20 08:59] dougbu commented on #1597
Should have filed this in CoreFx...

[2015-09-20 08:59] #1597 closed

[2015-09-20 23:46] gafter commented on #1316
@weshaggard Do you expect that we have customers depending on the fact that `double.Parse` gets different answers on 32-bit and 64-bit systems?

[2015-09-21 10:56] ikopylov commented on #1592
Related issue: #603.

[2015-09-21 13:20] ahmetabdi opened #1599 "dnu restore fails on latest 1.0.0-beta8-15618"
[code]

[code]

Same happends on coreclr x64

[2015-09-22 02:42] morganbr opened #1602 "CoCreateGuid in PAL doesn't conform with specs"
CoCreateGuid in coguid.cpp currently just calls PAL_Random for sizeof(GUID) randomness, which misses a couple of important issues:
1. That doesn't match either the Microsoft or UUID specifications, which reserve bits for the type variant of the GUID.
2. The implementation of PAL_Random suggests there are cases where there's not good randomness available. That can cause UUID collisions.

We should

[2015-09-22 12:50] janvorli commented on #1594
The dispatchexceptionwrapper.S uses hand-crafted __eh_frame section, so there is something in them that the new XCode doesn't like.
This asm source contains a special helper function PAL_DispatchExceptionWrapper that is never called, but when a hardware exception like a null reference exception, division error, etc. happens, we create a special frame on stack that looks like belonging to this func

[2015-09-22 15:02] desunit commented on #1594
Great, thanks so much - will be glad to retest it again.

[2015-09-22 19:19] ellismg commented on #1599
Moving to aspnet/dnx...

[2015-09-22 19:19] #1599 closed

[2015-09-22 21:54] pgavlin commented on #1571
I'm seeing the same thing on FC22. I think it's possible that either RedHat has a broken build of libunwind or that we should be linking against the shared libraries.

[2015-09-22 22:29] tarekgh commented on #1322
The issue has been fixed and added the needed tests. closing the issue here.

[2015-09-22 22:29] #1322 closed

[2015-09-23 02:24] kangaroo commented on #1571
We should be linking against the shared libraries.

[2015-09-23 04:46] GuardRex opened #1605 "SuppressUnmanagedCodeSecurity MIA"
`SuppressUnmanagedCodeSecurity` didn't make it into `System.Security`? My PInvoke's are fully trusted (and speed is important). Is there a workaround for a dnxcore50 app?

![capture](https://cloud.githubusercontent.com/assets/1622880/10037303/d87c5908-6179-11e5-8cee-a8f5ac6c59bc.PNG)

[2015-09-23 04:54] GuardRex opened #1606 "ThreadPool.SetMinThreads() MIA"
Asked here originally by @tugberkugurlu: https://github.com/aspnet/Home/issues/614

According to @Daniel15, it should be in `System.Threading.ThreadPool` and I [see it in source](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/ThreadPool.cs#L1375), but it's not available for some reason. I need it for my dnxcore50 project.
[code]

![capture](https://cloud.githubuser

[2015-09-23 05:04] Djuffin commented on #1571
It looks like .so version of libunwind-ptrace is missing from libunwind RPM packages
https://apps.fedoraproject.org/packages/libunwind//contents
https://apps.fedoraproject.org/packages/libunwind-devel/contents

[2015-09-23 06:47] GuardRex opened #1607 "ThreadPool.UnsafeQueueUserWorkItem MIA"
I have `ThreadPool.QueueUserWorkItem()`, but I'd prefer to have `ThreadPool.UnsafeQueueUserWorkItem()` ... because I think it's faster, and I have a speed critical dnxcore50 app that I'm working on. Is the unsafe version under consideration?

[2015-09-23 17:37] kangaroo commented on #1571
@Djuffin I see libunwind.so in the -devel package?

[2015-09-23 17:59] pgavlin commented on #1571
@kangaroo AFAICT from readelf libunwind.so does not contain any of the libunwind-ptrace APIs.

[2015-09-23 18:04] galvesribeiro opened #1611 "Merge core types in the core assembly/packages"
Hello every1,

After a lot of discussion on the dotnet/coreclr gitter, we decided to open an issue to track the idea here.

We noticed that System.Collections.Generics is on its own assembly... At first it looks(and for many people) really cool, modularity etc., but looking from another point of view, for some core assemblies, its totally unecessary, and at some cases like collections, it makes no

[2015-09-23 18:06] stephentoub commented on #1611
cc: @terrajobst, @weshaggard, @ericstj

[2015-09-23 18:06] masonwheeler commented on #1611
Agreed.  Modularity is important, but in any non-trivial program, `List<int>` and `Dictionary<string, T>` are just as fundamental as `int` and `string`.  CoreCLR's design should reflect that reality.

[2015-09-23 18:33] weshaggard commented on #1611
Why does it matter where the implementation of a given contract like System.Collection lives? Whether or not it lives in mscorlib or System.Collection.dll to developers it shouldn't really matter as long as you can use the APIs.

We are trying very hard to correctly layer our libraries and separate them into assemblies that represent a common set of functionality. That allows those assemblies to i

[2015-09-23 19:02] masonwheeler commented on #1611
I disagree. Mscorlib is, as its name implies, for *core* functionality.  Show me a non-trivial program that does not use generic collections for anything, and I'll show you a program written by a developer who's never learned about generics.  Especially with so much new functionality being implemented on top of the LINQ paradigm, it should be recognized that `IEnumerable<T>`, `List<T>`, `Dictionar

[2015-09-23 19:17] weshaggard commented on #1611
I don't disagree with your statements that these collections are "core" types but not all "core" types should be in mscorlib. Our entire repo is about "core" types and not all of them should be in the "corelib".

As for language features there are a ton of them, LINQ included, that don't have the backing library support in mscorlib. They are opt-in and require additional library references to be s

[2015-09-23 19:25] galvesribeiro commented on #1611
@weshaggard I agree with you that you guys are doing a wonderful work on designing the class library today. Our point is, there is no real application that don't deal with collections today, specially generic ones and as @masonwheeler mentioned, with the advent of Linq/lambda and more and more C# language is evolving it, we deeply need collections. To start, linq depends on IEnumerable<T> for pure

[2015-09-23 19:32] masonwheeler commented on #1611
I suppose the main principle of our argument is that modularity is indeed desirable, but it should be done *pragmatically* rather than *dogmatically*.  If a certain feature (such as generic collections) is going to be used in every non-trivial program anyway, what is the benefit in modularizing it, when the entire benefit of modularity is the ability to exclude things you don't use?

[2015-09-23 19:43] janvorli commented on #1594
Fixed by #1610 - I've updated XCode on my Mac to 7.0 and verified that the build passes.

[2015-09-23 19:43] #1594 closed

[2015-09-23 20:05] mikedn commented on #1611
It's certainly possible to create an application that uses its own collection library instead of using the "standard" ones. The standard collections excel neither at performance nor at functionality.

[2015-09-23 20:08] galvesribeiro commented on #1611
@mikedn well, I agree with you that people can build their own collection library for specific purposes(I do it myself) but I doubt that they don't use simple basic List<T> or a Dictionaty<K,V> somewhere else, or if those special collections are not based on one of the base collections built-in.

[2015-09-23 20:13] masonwheeler commented on #1611
@mikedn Then please, by all means, submit a PR to improve them.  The fact that they are standard collections means that improvements to them will improve tons of software for free.

In the past, this wasn't so feasible because the standard libraries were all proprietary, but now that they've been open-sourced, there's no good reason not to truly *standardize* on them and work to improve conditions

[2015-09-23 20:20] mikedn commented on #1611
I've done just that on some occasions. Of course, the fact that the standard collection would be in mscorlib doesn't really change that as I could (and I did) use namespaces and/or class names. But the point is that they are not core types, not in the same sense as `String`, `Int32` etc.

I very much doubt that a PR that, say, removes enumerator versioning from the standard collections will be acc

[2015-09-23 20:22] masonwheeler commented on #1611
@mikedn OK, for the benefit of those of us not particularly well-versed in the intricacies of collection optimization, why would that be an improvement?

[2015-09-23 20:31] weshaggard commented on #1611
From a factoring standpoint even if we did put the implementation of System.Collections into mscorlib people would still have to reference the System.Collections package for compiling because people are not supposed to compile directly against mscorlib as it is an implementation detail (a detail that doesn't even exist on .NET Native). We want to be in a position where most people do not need to c

[2015-09-23 20:32] mikedn commented on #1611
@masonwheeler Smaller collection and enumerator objects. Less code generated for methods that are supposed to be trivial such as indexers and enumerator's MoveNext.

Another example is the _syncRoot field that some collections like `List<T>` have. It's very much useless today but it must be kept due to the fact that the non-generic `ICollection` interface needs it.

And the list can go on...

[2015-09-23 20:37] stephentoub commented on #1611
There are potentially solutions to address such things.  For example, we could consider maintaining a static ```ConditionalWeakTable<object, object>``` used to link a sync root object to its associated collection.  It would make getting that object more expensive, as a tradeoff for making the size of the collection object smaller.

[2015-09-23 20:38] masonwheeler commented on #1611
@weshaggard So where does the basic runtime functionality live in .NET Native?

[2015-09-23 20:56] janvorli commented on #193
OSX support implemented by #1610

[2015-09-23 20:56] #193 closed

[2015-09-23 21:41] weshaggard commented on #1611
For the primitive types like int, string, etc they live in another core library (System.Private.CoreLib) that is not mscorlib and they are bound to another runtime that isn't CoreCLR. The collections are in the library that we have in the standalone System.Collection library in the corefx repo.

[2015-09-23 21:50] jakesays commented on #1611
One of my concerns is you guys are making this thing so complicated that it will only be usable via high level tooling. You say most devs will reference a meta assembly - what configures that meta assembly? How are its constituent assemblies determined?

And more importantly, how as a developer will I be able to control all of that?

[2015-09-23 22:29] weshaggard commented on #1611
@jakesays that is a fair concern and it is one we are have as well. We are definitely trying to figure out how to make this easier. As an example have you seen a UWP application in VS 2015? To get an idea of what we are talking about lets look at the project.json for a new blank project.

[code]

If you look at that you will see a few things:
1. Some individual packages, like ApplicationsInsights

[2015-09-23 22:34] galvesribeiro commented on #1611
@weshaggard what if, I don't want/need something that is inside the metapackages? I that is the point on @jakesays question.

[2015-09-23 22:51] weshaggard commented on #1611
This isn't how it works yet but what we want to do is something similar to what happens if you pass a lot of extra references to csc.exe it will essentially have them in scope for us but it will not burn a reference into your assembly. What we expect to happen is your deployment will only contain the things that you use.

[2015-09-24 02:02] jakesays commented on #1611
@weshaggard @galvesribeiro is correct - I want to know how *I* can configure/build/define these meta packages. For me the biggest win of coreclr/corefx is the ability to roll my own package from the ground up. However for it to be successful my personal clr must be usable from within VS. Since you guys have opened this can of worms I want to be able to exploit it to fit my needs. Will this be poss

[2015-09-24 02:26] joshfree commented on #1571
/cc @steveharter

[2015-09-24 03:36] weshaggard commented on #1611
lol @jakesys. There isn't anything special about a meta-package anyone could create one if they so chose to. The most difficult part is testing it to have a degree of confidence that the closure of packages all work well together. Technically a meta-package is just a package with a set of dependencies, crack open https://www.nuget.org/packages/Microsoft.NETCore.UniversalWindowsPlatform and see wha

[2015-09-24 03:41] Djuffin commented on #1571
I reported a bug for the libunwind package
https://bugzilla.redhat.com/show_bug.cgi?id=1265874

[2015-09-24 09:20] gafter opened #1615 "Proposed CLR spec change: allow timestamp header to be deterministic hash with upper bit 1"
We'd like the Roslyn compilers to be deterministic. One obstacle is the timestamp in the assembly header. We propose to use a deterministic hash of compiler inputs (or a hash of the rest of the assembly, excluding the timestamp) to produce bits to use in the timestamp, and we'll set the upper bit to 1. For this to be "legal", we need the spec to allow random-looking bits in the timestamp when the

[2015-09-24 10:00] benaadams commented on #748
@bjjzqd I think it uses the process's page size https://github.com/dotnet/coreclr/blob/4cf8a6b082d9bb1789facd996d8265d3908757b2/src/jit/alloc.cpp#L130 though it doesn't look like it includes the [MEM_LARGE_PAGES](https://github.com/dotnet/coreclr/blob/4cf8a6b082d9bb1789facd996d8265d3908757b2/src/jit/alloc.cpp#L140) flag if the [OS_page_size](https://github.com/dotnet/coreclr/blob/4cf8a6b082d9bb178

[2015-09-24 13:50] mattwarren commented on #1579
I know that the extra allocations are the main issue, but just for reference here's the perf difference:

[code]

                 Method |    AvrTime |    StdDev |          op/s |
----------------------- |----------- |---------- |-------------- |
  DictionaryEnumeration | 22.3095 ns | 0.3227 ns | 44,823,991.41 |
 IDictionaryEnumeration | 33.8472 ns | 0.3365 ns | 29,544,535.06 |

and here's the [B

[2015-09-24 14:36] zwcloud commented on #1556
I ran into this issue when debugging unit tests with VS2013(update 4) just now.

[2015-09-24 14:45] mattwarren commented on #1579
And just for completeness, here's the results when using different sized `Dictionaries`:

                 Method | InitialSize |        AvrTime |      StdDev |          op/s |
----------------------- |------ |--------------- |------------ |-------------- |
  DictionaryEnumeration |     0 |     22.2737 ns |   0.3171 ns | 44,896,091.66 |
  DictionaryEnumeration |     1 |     30.0156 ns |   0.4659 n

[2015-09-24 14:53] stephentoub commented on #1579
Yes, the issue isn't just enumerator allocations, it's also interface-based dispatch.  In addition to boxing the enumerator, the MoveNext and Current calls made per element go from being potentially-inlineable non-virtual calls to being interface calls.

[2015-09-24 14:57] mattwarren commented on #1579
ah, thanks for the explanation, that explains the "extra" overhead I see when doing the benchmarks with the different `InitialSize` values.

[2015-09-24 16:33] jkotas commented on #1615
This should be primarily request for [PE file format spec](https://msdn.microsoft.com/en-us/windows/hardware/gg463119.aspx) change. AFAIK, the PE file format spec is maintained by Microsoft C++ compiler team. The CLI file format is meant to be a strict extension of PE file format.

[ECMA-335](http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-335.pdf) has the PE file headers as 'inf

[2015-09-24 17:45] redknightlois opened #1619 "RyuJIT: Understand the idiomatic rotate bits"
This kind of code is pretty usual in hot paths for Hash Function implementations like XXHash, Metro128, FarmHash, etc.

[code]

Now the JIT (both legacy and RyuJIT) generate the following code:

[code]

While a more efficient code could be generated if such an idiom is detected:

[code]

The same applies for different sizes (8, 16, 32 and 64) and also the RotateLeft direction. Needless to say the

[2015-09-24 19:57] cmckinsey commented on #1619
Yes a good suggestion and rotate is supported efficiently on all modern ISA. Most C++ compiler will do this, though supporting all sizes, combinations, and styles of writing the sequence requires care. For example I've seen the sequence also written this way (albeit likely by an overly paranoid programmer) in the past:

(value << (64 - count)) | (value >> (count & 63))

Good news it doesn't take m

[2015-09-24 20:15] redknightlois commented on #1619
@cmckinsey Actually this comes from a very real-world perf scenario.

For each page we write to disk, we need at least a weak hash to ensure that when we read data has not being corrupted by things like rude stops, power loss, etc. Furthermore, we use hashing for a replicated file system implementation, where 128 bits hashes are to be used. We moved to XXHash for 32 and 64 bits because it is far f

[2015-09-24 20:30] redknightlois commented on #1619
By the way, as long as there is a "sactioned" way to implement the idiom in such a way that can be picked up by the JIT it is better than not having it ... I dont care to write JIT aware code to get better performance ( in fact I do already :D ).

[2015-09-24 22:15] zhangxin511 commented on #984
I think this issue raise again, I have encountered this using both Ubuntu desktop  14.04 and centos7.
When I use 1.0.0-beta7 coreclr x64 for linux, I will get "dnu
failed to locate libcoreclr with error libunwind.so.8: cannot open shared object file: No such file or directory"

But if I switch to 1.0.0-beta7 mono linux/osx, I will not get this output.

I know how to install libunwind8 in Ubuntu, b

[2015-09-24 22:17] ellismg commented on #984
@zhangxin511 You can obtain libunwind8 via [EPEL](https://fedoraproject.org/wiki/EPEL) on CentOS.

[2015-09-24 22:18] zhangxin511 commented on #984
@ellismg Thank you for your quick reply! I just found you solution as well from http://stackoverflow.com/a/32571051/2388241

[2015-09-25 00:12] stephentoub opened #1622 "Exception throwing/catching significantly slower on Linux than on Windows"
As a baseline, this program takes approximately the same amount of time per iteration on my Linux VM  as it does on the host Windows machine:
[code]
In contrast, this program that throws/catches an exception per iteration:
[code]
takes ~1.3 seconds on my Linux VM vs ~0.008 on my Windows machine, making it ~160x slower.

[2015-09-25 00:12] stephentoub commented on #1622
cc: @janvorli, @kouvel, @jkotas

[2015-09-25 04:26] davidfowl commented on #1591
@ericeil this affects the ASP.NET default pipeline. How do we get this prioritized?

[2015-09-25 10:45] janvorli commented on #1622
I have tried to profile it using the oprofile Linux profiler. Interestigly, 87% of the time is spent in the Linux kernel. And I can see that the corerun eats 100% of the CPU when running the test, so it is not just idle waiting.
We'll need to profile it on a physical machine to get details on what syscalls are actually being called. The oprofile cannot do that on a VM.

[2015-09-25 11:17] omariom commented on #1165
This is what I have to do.. :scream_cat:

![](https://cloud.githubusercontent.com/assets/1781701/10099125/65e83124-638f-11e5-8241-4a4de138fc9c.png)

[2015-09-25 12:07] janvorli commented on #1622
I have looked at the profiler generated data once again and I have noticed that there is quite high number of samples (although only 1.2 percent of the total) in  _IO_vfscanf. Setting breakpoint on this function revealed that it is called from pthread_getattr_np, which in turn is called from PAL_GetStackBase / PAL_GetStackLimit. And that one is called very often.
So I have experimentally created a

[2015-09-25 12:49] janvorli commented on #1622
I've forgotten to mention that I have made these measurements in debug build.

[2015-09-25 14:42] akoeplinger commented on #1615
@gafter afaik the initial approach was to set timestamp to 0 (https://github.com/dotnet/roslyn/commit/04462c44e30dfa91267581abdb029f31) and this is also how Mono's mcs implemented it, any reason why this didn't work out for you?

[2015-09-25 14:48] stephentoub commented on #1579
I don't think there's any action to be taken here.  If there's a concrete request for something specific to be done, please feel free to reopen and share.  Thanks.

[2015-09-25 14:48] #1579 closed

[2015-09-25 16:37] ericeil commented on #1607
On CoreCLR, capturing and restoring the ExecutionContext is *much* less costly than the full CLR.  So it's questionable whether UnsafeQueueUserWorkItem would actually benefit much.  If you have profile data showing that this would make a big difference for your app, then we should consider adding this API; otherwise, I'm going to close this for now.

[2015-09-25 16:37] #1607 closed

[2015-09-25 16:43] ericeil commented on #1606
Why do you need this in your project?

[2015-09-25 16:56] GuardRex commented on #1607
This would be for a web server I'm working on, so yes, spawning many thousands of threads per second without capturing the `ExecutionContext` should matter. A few microseconds per thread is going to mushroom-cloud into poor performance under load. I'll try and profile with and without via the full CLR and report back.

[2015-09-25 17:00] ericeil commented on #1607
A profile from the full CLR may not help much, as the vast majority of the ExecutionContext costs on the CLR don't apply on CoreCLR (which has a completely different ExecutionContext implementation).

If you can profile on CoreCLR, with QueueUserWorkItem, and show that ExecutionContext is a significant contributor to overall run time, then we'll have something to work with.

[2015-09-25 17:03] GuardRex commented on #1607
If I don't have `UnsafeQueueUserWorkItem`, how would I do that? ... Are you saying I can pull it out of Reference Source and place it into my project to perform the profiling?

[2015-09-25 17:03] GuardRex commented on #1606
It's an experimental web server ... trying to stop the built-in algorithm from dropping below a minimum number of threads to speed things up when a spike of requests arrives. Is there any other way for me to do that from managed code?

[2015-09-25 17:07] GuardRex commented on #1607
I think I see what you mean ... just find out `QueueUserWorkItem`'s hit within the overall scope of processing. Ok ... that I can do.

[2015-09-25 17:07] ericeil commented on #1607
What I meant was to try it with just the existing QueueUserWorkItem, and use your profiler to find how much CPU time was used by ExecutionContext code.

[2015-09-25 17:31] ericeil commented on #1606
ASP.net may offer some configuration of this.  I know they did in previous versions, on the full CLR.

[2015-09-25 17:37] #1606 closed

[2015-09-25 20:09] desunit commented on #1594
Thanks so much! Compiled successfully but I had to install libicu-dev first: brew install icu4c

[2015-09-25 21:15] ericeil commented on #1591
#1629 should help a little.  @benaadams, would you mind running your experiment again, with this change, to see how much it helps?

[2015-09-25 21:59] gkhanna79 commented on #1595
@janvorli Could this be due to bad/incorrect unwindinfo?

[2015-09-25 23:49] morganbr commented on #1605
All of the security demand code around P/Invokes is ifdef'd out on CoreCLR. As long as your code calling the P/Invokes is security critical (which it is if you don't have any special attributes), there are no extra security checks in the way of your P/Invoke calls. As a result, no need for that attribute :)

[2015-09-25 23:49] #1605 closed

[2015-09-26 00:13] benaadams commented on #1591
@ericeil may be some time... though building the C++ has reminded me why one of the reasons why I prefer C# :grin:

[2015-09-26 01:15] #935 closed

[2015-09-26 01:33] benaadams commented on #1591
Well that was a strange build process journey... I think I missed out a couple requests from them the count; lot of strange activity going on in a full debug build to the bottom...

Nevertheless; that's taken it from 1360 kB to 976 kB; so has shaved a third off!

![set local top](http://aoa.blob.core.windows.net/aspnet/set-local-top.png)

Drilling down a bit further

![set local bottom](http://aoa

[2015-09-26 01:53] benaadams commented on #1532
Devirtualization of enumerators called via Interfaces back to structs would be nice...

[2015-09-26 01:56] ericeil commented on #1591
@benaadams, thanks!

[2015-09-26 02:00] davidfowl commented on #1591
W00p!

[2015-09-27 10:54] jasonwilliams200OK opened #1633 "Unable to build managed assemblies on FreeBSD 10.2"
While building CoreFX managed assemblies on FreeBSD, I am encountering the following error on "Restoring all packages.." step:

[code]

for

[code]

To replicate this issue, I have prepared a guide on how to setup FreeBSD 10.2 on Windows 10 HyperV to compile CoreFX: https://gist.github.com/jasonwilliams200OK/6efa7907e66275df2d24 (@sokket, @naamunds, this guide might interest you guys)

It seems li

[2015-09-27 11:36] desunit opened #1634 "crossgen'ed test app hangs with corerun"
I've been playing with `crossgen` to generate `ni.exe` file for a simple test application but noticed that crossgened apps just hangs with `corerun`. The strange thing is that test application works again once I delete `test.ni.exe`. The `test.cs` is:

[code]

I use the latest CoreCLR code compiled with XCode7.

[2015-09-27 13:09] fanoI opened #1635 "Managed Struct Bitfield support"
Support for Struct Bitfileds could be added to the CLR?
Having to talk with low level hardware in C/C++ is really natural to write something as:

[code]

to write in the VI bit one simply does: `reg.bit6 = 1` and get the value of the bit ifself it is easy.
When it is time to write to the device you simple cast the the thing to char (they are 8 bit that is a byte) and use the write method.
In C# th

[2015-09-27 13:29] akoeplinger commented on #1633
Can you post the msbuild.log file?

[2015-09-27 13:41] benaadams commented on #1591
Closing as fixed. Other options discussed like mutability wouldn't help this particular use case and would make testing and correct behaviour more difficult.

[2015-09-27 13:41] #1591 closed

[2015-09-27 15:33] jasonwilliams200OK commented on #1633
@akoeplinger, sure, here we go: https://gist.github.com/jasonwilliams200OK/5177df88cce4c6890885.

[2015-09-27 15:41] akoeplinger commented on #1633
@jasonwilliams200OK that seems to be a private gist so I don't have access (same with the FreeBSD guide above).

[2015-09-27 15:43] jasonwilliams200OK commented on #1633
Oh i updated the link :)

Also,

[code]

[2015-09-27 15:45] akoeplinger commented on #1633
@jasonwilliams200OK you're running into a Mono bug (`Failed to read past end of stream`) that has been fixed in a subsequent bugfix release. You need a newer Mono.

[2015-09-27 15:49] jasonwilliams200OK commented on #1633
Oh yes! This is ditto bug as https://github.com/dotnet/roslyn/issues/2844. So does this mean in past four months, FreeBSD didn't get any new Mono release?  :open_mouth:
cc @ajensenwaud, @smortex

[2015-09-27 21:21] LLITCHEV opened #1636 "Add optimization to avoid copying a struct if passed by reference and there are no writes to and no reads after passed to a callee."
On Windows structs are allocated on the caller stack and passed by ref to the callee.

If a struct is passed to a callee (callee1), which passes it to another callee (calee2), and there are no writes before the call to callee2, and there are no reads after passing to the callee2, the callee1 could pass to calee2 the reference that was passed to it, without need to allocate a new struct on the call

[2015-09-27 21:26] GSPP commented on #1619
You also could add an intrinsic function. Make a class `BitOperations` and expose methods like:

* Rotate
* AddWithCarry
* Bitcount
* ByteSwap
* Anything else that is supported on x86/ARM (the union of both)

If the instruction is available make it fast. Otherwise, emulate it.

Also expose some way to detect hardware features. For example each instruction group could be represented by a flags enum

[2015-09-27 21:32] GSPP opened #1637 "Allow common types in attribute values (nullable, decimal)"
Values in attributes currently do not support nullable values. That is annoying because it forces us back to obsolete techniques used pre-.NET-2.0. Decimal support also would be nice.

Maybe we can even have a general way we can add "JSON-like" object trees. e.g.

[code]

I hope you get what I mean. I made up some contrived, yet plausible, example.

That we we can have very high generality in attr

[2015-09-27 23:43] jasonwilliams200OK commented on #1633
Turned out mono 4.0.3 is available for 2015-Q4 branch. Meanwhile, we can use "latest" repository to get mono 4.0.3 and clang37. Updated the gist guide accordingly: https://gist.github.com/jasonwilliams200OK/6efa7907e66275df2d24#install-software/.
Now CoreFX is building on FreeBSD.  :tada:

/cc @josteink, @janhenke, @ghuntley

[2015-09-27 23:43] #1633 closed

[2015-09-28 00:49] akoeplinger commented on #1633
Sweet :) I guess the next step is running the corefx tests?

[2015-09-28 05:06] josteink commented on #1633
Awesome. I'm curious about those tests too :)

[2015-09-28 08:12] jasonwilliams200OK commented on #1633
Hacking 101.. Had to make some tweaks to run the tests:

* `nano ./run-test.sh` and replace `$OS` with `Linux` in URL under `create_test_overlay()` because https://www.myget.org/F/dotnet-buildtools/api/v2/package/Microsoft.DotNet.CoreFx.FreeBSD.TemporaryTestHost/0.0.2-prerelease does not exist.

* Downloaded [CoreCLR artifacts](http://dotnet-ci.cloudapp.net/job/dotnet_coreclr_freebsd_debug/) zip:

[2015-09-28 08:46] josteink commented on #1633
Nice. Obviously there's room for improvement here, but failing tests are much better than tests failing to run :)

[2015-09-28 10:06] akoeplinger commented on #1633
Are there actually some tests passing or do all fail with these asserts?

[2015-09-28 10:09] jasonwilliams200OK commented on #1633
All of them are failing. Could it be because https://www.myget.org/F/dotnet-buildtools/api/v2/package/Microsoft.DotNet.CoreFx.FreeBSD.TemporaryTestHost/0.0.2-prerelease is unavailable?

[2015-09-28 10:36] akoeplinger commented on #1633
Yeah, I suppose that's connected somehow, but I don't know how the TemporaryTestHost is built.

You could try just running `./corerun xunit.console.netcore.exe` without any parameters to see if it outputs the help text (to verify xunit even boots up).

Btw. I just saw we're in `dotnet/coreclr`. I suggest you open a new issue in corefx since the original topic of this issue is fixed :)

[2015-09-28 10:52] jasonwilliams200OK commented on #1633
[code]

Yup I realized it late that I opened it in CoreCLR. Anecdotally, this particular exception (`CLRException::GetThrowable`) appears as if its coming from CoreCLR. :D

[2015-09-28 11:56] ayende commented on #1606
Eric,
SetMinThreads is useful if you have to start with a lot of work on the
thread pool.
The thread pool would increase the available threads, but too slowly at
startup.

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Fri, Sep 25, 2015 at 7:43 PM, Eric Eilebrecht <notifications@github.com>
wrote:

[2015-09-28 16:20] omariom commented on #1636
Is it similar to https://github.com/dotnet/coreclr/issues/1133?

[2015-09-28 17:53] elasota opened #1639 "Question about evaluation stack type determination and stack merging"
Not sure if this is the best place to ask this, but I'm having trouble reconciling the evaluation stack type tracking rules in ECMA-335 with the CIL that's being generated by csc.

CIL allows different control paths to push differently-typed values on to the stack and then enter the same control path with that value.  According to I.24.4(4), at any given instruction, the types of all values on the

[2015-09-28 18:06] LLITCHEV commented on #1636
@omariom Yes... It is very similar. This optimization should result in better codegen for handful of cases not described in 1133, I think.

Thank you for pointing out the existing Issue and linking them together.

[2015-09-28 19:05] jasonwilliams200OK commented on #1633
@akoeplinger, I think the error is due to the fact `System.Globalization.Native` assembly in CoreFX failed to build. See log produced by FreeBSD `truss` utility (which is similar to Linux `strace`): https://gist.github.com/jasonwilliams200OK/2ed55642a0659cb74086 - first line describes how to build this log.

I will try to build it from scratch once https://github.com/dotnet/corefx/pull/3471 gets m

[2015-09-28 23:15] agocke opened #1640 "Seemingly different behavior of System.Runtime.Loader on Windows and Linux while trying to load analyzer assemblies in Roslyn"
Repro: If you clone my branch of Roslyn at https://github.com/agocke/roslyn/tree/CoreClrAnalyzerLoadFailure and run "./cibuild" and record all the output you will see a bunch of warnings about being unable to load analyzer assemblies. I've attempted to add print statements to instrument the compiler to give more information about the load failure.

Short description of the problem, as far as I see

[2015-09-28 23:58] ramarag opened #1641 "GCProfileWalkHeapWorker - Enable the function usage on Linux"
As part of the work which enabled FEATURE_EVENT_TRACE for Linux, it was found that the function
GCProfileWalkHeapWorker [src/gc/gcee.cpp]  does not work properly to emit GC dump events.

This is because it  needs functionality that is defined only under macro GC_PROFILING, this macro and associated files are not being pulled in as part of the Linux build process.

Please do the right thing to get

[2015-09-29 00:02] ramarag opened #1642 "Refactor code writing directly to the event stream"
This issues was identified as part of #1598
[src/vm/eventtrace.cpp](https://github.com/dotnet/coreclr/blob/master/src/vm/eventtrace.cpp)
The following functions writing directly to the ETW event stream, they need to be refactored so that they are portable across different logging systems
i.	BulkComLogger::FlushRcw()
ii.	BulkComLogger::FlushCcw()
iii.	BulkStaticsLogger::FireBulkStaticsEvent()
iv.	B

[2015-09-29 00:24] jkotas commented on #1640
cc @kouvel

[2015-09-29 01:46] elasota commented on #1639
Figured it out, this was actually a bug in the VS2013 C# compiler.  The emitted IL is illegal and fails PEVerify for the expected reasons (stack value type is System.Object at the stloc).

The VS2015 C# compiler is not having this problem.

[2015-09-29 01:46] #1639 closed

[2015-09-29 09:02] Janiels commented on #1606
The thread pool is only slow at starting new threads when it has already scheduled all CPU cores. Also the thread pool is supposed to be CPU bound - you should not block thread pool threads.
AFAIK, this is why it is so slow to start new threads - if you are using it as intended (for CPU bound work), then starting a new thread will not improve anything, as the new thread will just be competing with

[2015-09-29 09:05] ayende commented on #1606
The problem is that I might have a set of sync tasks that do blocking I/O.
I want to have a lot of threads available for that, but the thread pool
increase them very slowly at start.

That isn't a good design, sure, but it is very common.

For example, in ASP.Net, calling sqlCommand.ExecuteReader() inside an async
controller is going to block. And if you have a lot of concurrent requests
at startu

[2015-09-29 09:14] Janiels commented on #1606
You're definitely right that the thread pool is slow at creating new threads - 1 second between each additional thread it starts, last I checked.

If this API exists it should be purely for compatibility purposes. Back in .NET 1.1 when there was no TPL, this API solved a real problem, but that problem is solved better today with the TPL. So it makes sense that it is not in the CoreCLR (a clean sla

[2015-09-29 09:16] ayende commented on #1606
Anyone moving their code to the CoreCLR would need it, though.

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Tue, Sep 29, 2015 at 12:14 PM, Jakob Botsch Nielsen <
notifications@github.com> wrote:

[2015-09-29 09:21] zabulus commented on #1606
Why don't use the LongRunning option for a blocking thread? It always starts a new thread.

[2015-09-29 09:23] ayende commented on #1606
I don't control that, this is done by ASP.Net.

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Tue, Sep 29, 2015 at 12:21 PM, zabulus <notifications@github.com> wrote:

[2015-09-29 09:23] ayende commented on #1606
I also don't want to do that, I just want to have a pool large enough

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Tue, Sep 29, 2015 at 12:23 PM, Oren Eini (Ayende Rahien) <
ayende@ayende.com> wrote:

[2015-09-29 09:24] Janiels commented on #1606
@ayende Just systems that have not updated to the TPL and that rely on this fact on start up. Fiddling with the thread pool has always been discouraged. This is just another motivator to switch to the even faster and better asynchronous design.

@zabulus Starting a new thread has a lot of overhead and takes a long time. It would not be feasible to do for each request coming into a web application.

[2015-09-29 09:42] davidfowl commented on #1606
@ericeil Without this API (and I'm not saying we need it per se) ASP.NET can't set anything. We write code against the contracts as well.

[2015-09-29 09:51] leppie opened #1643 "AssemblyBuilderAccess.Save behaves just like RunAndSave"
This is a regression from .NET 3.5. The assembly should not be runnable if only `Save` is indicated.

.NET desktop repro (build against 4+ and 3.5 to see the difference):
[code]
From the debugger, it seems when using just `Save`, the assembly is never loaded (where exactly is code living?) while `RunAndSave` (and `Run`) shows the assembly loading.

The assembly is reflected in all cases though whe

[2015-09-29 11:02] leppie commented on #1643
After testing with types (and not global methods), things became consistent. Seem .NET 3.5 and earlier has problems with global methods.

[2015-09-29 11:02] #1643 closed

[2015-09-29 11:06] leppie commented on #1643
I still find the documentation for `Save` odd, given it says:

"The dynamic assembly can be saved, but not executed."

It can be executed just fine on all versions of the CLR.

[2015-09-29 14:36] xunilrj commented on #1619
Although I do think that having intrinsic functions is the best solution, https://github.com/CosmosOS/ have some forms to give this kind of control. I know that It really smells like __asm{}, but I think that may be nice to bring their solution.

https://github.com/CosmosOS/Cosmos/wiki/Intro%20to%20plugs#writing-x86-assembly-in-cosmos

[2015-09-29 15:39] zabulus commented on #1635
Have you tried to use enum with ```FlagsAttibute``` and with ```byte``` base type?
It is not so flexible as bit-fields structs. Reading: IsFlag(bitname). Setting flag: value = value | bitname. Unsetting flag: value = value & !bitname.
You could even wrap this to extension methods.

[2015-09-29 17:21] ericeil commented on #1606
@davidfowl this would be done in the DNX native host; I believe CoreCLR has an API hosts can use to configure the thread pool.  For me, this is preferable to the managed API, for a couple of reasons:

1. This is a very CLR-ThreadPool-specific feature.  A runtime that does not use the CLR thread pool (such as .NET Native) may not be able to implement SetMinThreads.  The host knows exactly which run

[2015-09-29 21:56] Dmitry-Me commented on #1526
The following

    #define generation_mask (~(~0 << bits_generation))

has to be changed to

    #define generation_mask (~(~0u << bits_generation))

(note 0u). Explained here http://stackoverflow.com/a/26555274 I'll submit a PR within one day if noone does that earlier than me.

[2015-09-29 23:49] ZhichengZhu opened #1647 "Can't find src/Native/build.sh"
Hi Team,
I followed this instruction(https://github.com/dotnet/coreclr/blob/master/Documentation/building/linux-instructions.md) to build the coreclr. But so far seems there is a problem about the building Native Component:
ellismg@linux:~/git/corefx$
ellismg@linux:~/git/corefx$ cp bin/Linux.x64.Debug/Native/*.so ~/coreclr-demo/runtime

Seems there is no build.sh corefx/src/Native. Do we have any

[2015-09-29 23:58] akoeplinger commented on #1647
See https://github.com/dotnet/coreclr/pull/1625 for some corrections to the docs.

[2015-09-30 00:43] muratg opened #1648 "Expose an easy way in CLR hosting APIs to make shutdown work as in Desktop CLR"
From https://github.com/aspnet/dnx/issues/1589

[code]

When ran with DNX, this has different behavior on CoreCLR and CLR.  On CLR this waits forever, while on CoreCLR, it prints "finished" and exits immediately.

If there was a way to make hosting CoreCLR apps (which needed by DNX) behave the same on shutdown as Desktop CLR apps, we could make these behave the same.

[2015-09-30 03:30] miguellira opened #1649 "Unable to load DLL 'api-ms-win-core-localization-l1-2-0.dll'"
Running the most basic web application:
[code]
with the following `project.json`:
[code]
on a Mac running the latest CoreCLR:
[code]
results in the following error:
[code]
NOTE: No issues when running under Mono:
[code]

[2015-09-30 04:31] mikedn commented on #1635
This is something that can be done in a .NET language like C#, it doesn't have to be done in the CLR. Doing this in the CLR would require a ton of work to extend the metadata format and possibly the IL and the only added benefit would be reflection support. It seems rather unlikely that you would need to mix reflection and bitfields.

It's hardly a return to the past as you would do the same thing

[2015-09-30 07:38] riku76 commented on #1475
When will you release a fix for this? And what KB article number corresponds to this?

[2015-09-30 08:21] fanoI commented on #1635
How this could be done in C#? With a class? In a struct you cannot indicated the size in bit of the fields (there is struct layout but the size is in bytes the only thing you can have is fields that occupy the same memory useful to emulate unions) or this could emulated with some "syntatic sugar"?
I know that in C/C++ in reality is the compiler that does the bitmasking and that padding issues coul

[2015-09-30 12:12] mikedn commented on #1635
This has nothing to do with classes or structs. The C# compiler simply needs to pack the bit fields into normal fields of the appropriate integral type, exactly the same way C/C++ compilers do. Though unlike in the C/C++ case this packing can be done by well defined rules.

An attribute would have to be added to the generated field(s) to indicate what bitfields were packed into it so they can be a

[2015-09-30 12:48] fanoI commented on #1635
I use bitfields a lot in reality as I have to write device drivers (in user space not in kernel space) to talk to for example to serial printers and this type of devices to use less memory possible use bitmask / bitfields a lot for example is typical to have 8 diagnostic sensors of the device packed in a byte.
So I have to write a lot of these tedious classes to make bitmasks more usable and it is

[2015-09-30 13:00] mikedn commented on #1635
A CLR integrated solution doesn't guarantee that other languages can use bitfields because it's up to each language to provide access to the runtime solution. In the end it comes down to choosing between changing both the runtime and the compiler(s) or changing only the compiler(s).

[2015-09-30 16:49] VSadov commented on #1619
Roslyn uses FNVa for most of string hashing - both as used by compiler internally and as a backed-in hasher when compiling switch statements over strings.
FNV is nice in its simplicity, but there could be some benefits in switching to Murmur3 as it is reported to be noticeably faster.

One issue with that is Murmur hashes are based on word rotations and there is a concern that we would not realize

[2015-09-30 19:25] redknightlois commented on #1619
@VSadov That would depend on what's your typical string length. If strings are typically less than 8 characters, you are more than OK with FNV1a. The other hash functions (Murmur3, XXHash, etc) start becoming waay faster when they hit the bulk hashing loop (usually 16 to 32 bytes down the road).

These are benchmarks of XXHash32 (faster than Murmum3 see [1] ), XXHash64  and Metro128.

// Benchmark

[2015-09-30 19:29] gitchomik commented on #1647
See #1601, https://github.com/dotnet/corefx/commit/5361c0f77facc1f113bee68bd4b184cad0fdd7be, https://github.com/dotnet/corefx/commit/425d47f8494b2c2a4414efd799e65fb6b58cc9f7

[2015-09-30 19:52] janvorli commented on #1595
@gkhanna79 I am sorry for a late reply, I have missed your question before. The answer is that it is possible, but to be sure, I would need to take a look in the debugger - it should be very easy to see from the disassembly at pCodeInfo->GetStartAddress() and the pUnwindInfo->SizeOfProlog when the assert is hit.
@kouvel - is it easy to reproduce?

[2015-09-30 20:05] kouvel commented on #1640
There were two issues:
- The version of the built MS.CodeAnalysis.dll was 0.0.0.0, while 1.0.0.0 was requested in the assembly reference. @agocke has fixed this.
- The built MS.CodeAnalysis.dll was not signed and didn't have a PKT, while the assembly reference to it specified a PKT. It was determined that CoreCLR should not require the PKT to match to successfully bind to an assembly on the TPA li

[2015-09-30 20:15] kouvel commented on #1595
Yea it was reproducing every time when running tests from that assembly.

[2015-09-30 20:25] Priya91 opened #1652 "Windows debug and release CI builds failing on PRs."
cc @mmitche
[code]

[2015-09-30 20:26] janvorli commented on #1595
Great, I was able to repro it. I am looking into it.

[2015-09-30 20:35] mmitche commented on #1652
@Priya91 I am 90% sure this is an MSBuild bug caused by a race in the CodeTaskFactory target.

[2015-09-30 20:37] janvorli commented on #1595
The manged function that is causing this issue here is the System.GC.KeepAlive. The function IL is as follows:
[code]

And so the code that jitter generates is just this single instruction:
[code]

The unwind info generated by the jitter is:
[code]

[2015-09-30 21:48] #1640 closed

[2015-09-30 22:07] janvorli commented on #1595
The RtlVirtualUnwind returns personality routine only when the instruction pointer is in the body of the function, that means neither in prologue nor in epilogue of the function.
The purpose of the code that asserts is to check in debug build that the managed function has a personality routine.
So it gets the starting address of the function, adds prologue size and assumes that that address is in

[2015-09-30 22:11] leecow commented on #1475
@riku76 - we have a 4.6 fix planned for release in the October hotfix rollup.

[2015-09-30 22:18] KevinRansom opened #1655 "Cross Platform symbols from ref-emit apis"
Hi Guys,

when can we expect cross platform support PDB's from REF emit.  The F# compiler relies on ref-emit for Quotations and TypeProviders.  We aim to have cross platform compilation and debugging working for F# by the end of the year, it would be great if we can debug quotations and TP generated types too.

Thanks

Kevin

[2015-09-30 22:39] janvorli commented on #1622
@stephentoub I have measured the code with my change in release build on the same VM. The time reported is 0.03 secs. That gets us to approx 4x slower on Linux.
I will prepare a PR for the change soon.

[2015-09-30 23:34] stephentoub commented on #1622
Great improvement, thanks!

I assume we'll leave this issue open in order to track down the remaining difference? Or do you believe this is the best we can do?

[2015-10-01 00:41] jkotas commented on #1634
I am not able to reproduce the hang. Could you please break in with debugger and get the stack of the hang? It should give us some hints of what may be going on.

[2015-10-01 00:44] janvorli commented on #1622
@stephentoub I have drilled into it a bit more. The top 10 time (summing to 63%) is divided this way:
[code]
The remaining 37% is divided between a lot of small contributions.
It is not clear what is consuming time in the libstdc++, I've tried to install debug symbols, but the OProfile doesn't show any and shows the whole library as single entry.

Given this list, it seems it is unlikely to get si

[2015-10-01 04:12] pgavlin commented on #1571
Should this be closed, or should we leave it open for tracking? It doesn't look like the underlying bug is fixed yet and I assume that we want the functionality provided by the library...

[2015-10-01 04:23] Djuffin opened #1659 "Implement out-of-proc native stackwalk for DAC"
Managed debugger and SOS need an implementation of PAL_VirtualUnwindOutOfProc in order to be able to step out of HelperMethodFrame when it's the leaf Frame in a Frame chain.

We have a Linux implementation that's using libunwind-ptrace, but it's ifdefed out because RPM Linux distros currently don't have libunwind-ptrace.so. (see #1571)

All in all, we need a solution(s) that works on all Linux dis

[2015-10-01 04:23] Djuffin commented on #1571
This issue was tracking build break now the lack of functionality. I created a new one #1659.

[2015-10-01 04:26] pgavlin commented on #1571
Excellent--thanks!

[2015-10-01 05:00] pgavlin commented on #1571
FWIW, I've verified that this does fix the build issues I was seeing on FC22.

[2015-10-01 08:58] janvorli commented on #1595
Fixed by #1654

[2015-10-01 08:58] #1595 closed

[2015-10-01 10:28] desunit commented on #1634
Thanks for reply! I've just updated to the latest Mono (4.0.4.0) and it looks everything is working fine. Though I've noticed that I can reproduce it with Exception:
[code]

Without crossgen I see:
[code]

then I've added:
[code]

and received the following output:

[code]

[2015-10-01 15:40] steveharter commented on #1571
Unrelated to the libunwind linker issue, there is a compile issue now which was introduced in  Build #93 (Sep 23) when the ICU native calendar libraries were added (System.Globalization.Native/calendarData.cpp). Currently working on a fix for that.

[2015-10-01 15:41] #1526 closed

[2015-10-01 16:07] jkotas commented on #1655
The plan has been to use a new [portable debug info format](https://github.com/dotnet/roslyn/blob/master/docs/specs/PortablePdb-Metadata.md) for cross-plat. Talk to @tmat about the best way to move F# compiler over to it.

There are no plans to bring the Windows managed .pdbs cross-plat. Also, Reflection.Emit is limited for in-memory only in .NET Core. There are no plans to extend it to produce fi

[2015-10-01 16:12] tmat commented on #1655
@jkotas I believe the question is rather whether in-memory assemblies emitted by Ref.Emit are debuggable on CoreCLR on Linux/Mac.

[2015-10-01 16:13] tmat commented on #1655
@KevinRansom Does F# save the Ref.Emit'd assemblies to disk for later loading?

[2015-10-01 16:36] jkotas commented on #1655
I do not think it is limited to Linux/Mac - the Ref.Emit surface on CoreCLR does not include the APIs to produce symbols, across platforms. The story for debuggable dynamically emitted assemblies in .NET Core has been to use `AssemblyLoadContext.LoadFromStream(System.IO.Stream assembly, System.IO.Stream assemblySymbols)`.

[2015-10-01 16:52] jkotas commented on #1634
@janvorli Could you please take a look? (Looks like an issue with the unwinder.)

[2015-10-01 16:55] janvorli commented on #1634
@jkotas sure

[2015-10-01 17:02] tmat commented on #1655
Oh, I see. So there is no way how to emit debuggable dynamic assembly thru Reflection.Emit? Looking at System.Reflection.Emit contract I don't even see Save - so assuming there is no way how to save an Ref.Emit'd assembly to disk/byte[]. So how can I use LoadFromStream?

[2015-10-01 17:07] steveharter opened #1660 "Compiler error in CentOS in ICU native shim libraries"
Address compiler issue:
/src/corefx/System.Globalization.Native/calendarData.cpp:501:94: error: no member named 'SHORT' in 'icu_50::DateFormatSymbols'
                        return EnumWeekdays(locale, calendarId, DateFormatSymbols::STANDALONE, DateFormatSymbols::SHORT, callback, context);

CentOS7 is using ICU50 and the above enum value wasn't added until ICU51

[2015-10-01 17:09] steveharter commented on #1571
Added #1660 for the ICU compile issue

[2015-10-01 17:14] pgavlin commented on #1571
FWIW, I'm not seeing #1660 on FC22.

[2015-10-01 17:16] steveharter commented on #1571
Once the ICU issue is addressed there appears to be another compile issue (no issue created yet):
/home/steveharter/git/coreclr/src/ToolBox/SOS/lldbplugin/debugclient.cpp:495:14: error:
      no member named 'SetFilename' in 'lldb::SBFileSpec'
    fileSpec.SetFilename(name);
[code]

[2015-10-01 17:51] jkotas commented on #1655
Do not use System.Reflection.Emit...

[2015-10-01 17:54] tmat commented on #1655
@KevinRansom Why does F# use Reflection.Emit?

[2015-10-01 21:00] DixonD-git commented on #1637
This issue seems to be related to my request as well: https://github.com/dotnet/coreclr/issues/1534

[2015-10-01 21:51] janvorli commented on #1634
Fixed by #1661

[2015-10-01 21:51] #1634 closed

[2015-10-01 23:21] stephentoub commented on #1622
Thanks for the details.

[2015-10-02 00:25] stephentoub opened #1664 "Memory leak in Environment.SetEnvironmentVariable on Unix"
Repro:
[code]
The problem appears to stem from here:
https://github.com/dotnet/coreclr/blob/2cf141dce5c3a22efd148e88f8a732835ee68336/src/pal/src/cruntime/misc.cpp#L687-L690

[2015-10-02 10:57] janvorli opened #1667 "Refactor Unix managed exception handling"
The current way managed exception handling works on Unix is fine from the runtime perspective, but recent work in the debugger area has shown that it suffers from the debuggability point of view.
Exceptions that cross native / managed boundaries are handled in an interleaved manner. For each sequence of consecutive managed / native frames, we perform first pass and second pass of unwinding before

[2015-10-02 10:58] janvorli commented on #1667
FYI: @gkhanna79, @jkotas, @pgavlin

[2015-10-02 11:00] janvorli commented on #1667
#1663 implements the first part of it, the linked list of filters.

[2015-10-02 20:02] AdamSpeight2008 opened #1673 "[Discuss] non-null ref-types"
The C# and VB.net language teams are investigating options of enabling non-null reference types.
It seems that there is a barrier to this, the CLR, or the Type-System doesn't support it.
Let's see if the is anything we can to fix it.

**General Ideas**
The following general ideas and concepts have been proposed.

* null-ability tracking.
* allow `default(T)` be overridden.
* add a new "default val

[2015-10-02 21:12] AlekseyTs opened #1674 "Unexpected PEVerify errors reported for reflection calls"
See https://github.com/dotnet/roslyn/issues/5238 for the description of the issue and repro steps.

[2015-10-02 21:41] morganbr commented on #1602
This looks related to https://github.com/dotnet/corefx/issues/3573 so assigning it to @janvorli.

[2015-10-02 22:10] Rohansi commented on #552
Would this behave like AppDomains where all loaded assemblies are collected with the context or does the context just mark assemblies loaded through it as collectible? After looking through the code it looks like it would be per assembly since the CLR already supports that.

So AssemblyLoadContext would need a new constructor that lets you specify whether it loads assemblies as collectible. It loo

[2015-10-02 22:29] jkotas commented on #552
All assemblies loaded into given collectible AssemblyLoadContext should be unloaded as a unit.

The owning AssemblyLoadContext can be retrieved from PEAssembly argument using `GetBindingContext()`.

[2015-10-02 23:37] moozzyk opened #1676 "Keys and values are out of sync in coreconsole.cpp"
When initializing the runtime in coreconsole the number of keys passed is 5 - https://github.com/dotnet/coreclr/blob/8ff2389204d7c41b17eff0e9536267aea8d6496f/src/coreclr/hosts/coreconsole/coreconsole.cpp#L455-L460
but the number of values is 4
https://github.com/dotnet/coreclr/blob/8ff2389204d7c41b17eff0e9536267aea8d6496f/src/coreclr/hosts/coreconsole/coreconsole.cpp#L462-L471
Since the number of

[2015-10-02 23:48] janvorli commented on #1676
It is actually broken in yet another way. Looking at the keys, there is a missing comma after the `W("NATIVE_DLL_SEARCH_DIRECTORIES")`, so the actual key is NATIVE_DLL_SEARCH_DIRECTORIESAppDomainCompatSwitch and that makes keys and values the same size.

[code]

[2015-10-02 23:49] janvorli commented on #1676
@jkotas, this is the windows version of coreconsole. Do we want to pass in any value of the AppDomainCompatSwitch or should we just remove it from the propery list?

[2015-10-02 23:50] janvorli commented on #1676
@moozzyk Thanks spotting and reporting it!

[2015-10-02 23:56] erozenfeld commented on #1619
I'll work on this.

[2015-10-03 00:05] jkotas commented on #1676
The value for AppDomainCompatSwitch should be UseLatestBehaviorWhenTFMNotSpecified - it is what we do everywhere, except this one place.

[2015-10-03 00:26] redknightlois commented on #1619
Awesome

[2015-10-03 00:30] #1456 closed

[2015-10-03 04:07] moozzyk commented on #1676
LOL - indeed both arrays have the same number of items because of the missing coma. This is probably why things did not go awry completely.

[2015-10-03 05:06] Rohansi commented on #552
`pFile->GetBindingContext()` is giving me an instance of `BINDER_SPACE::Assembly*` downcasted to `ICLRPrivBinder*`. I can see the field I think I need in there but `BINDER_SPACE::Assembly::GetBinder()` is protected. Would I need to add a friend class or should I be looking at something else?

Also how would I safely cast the `ICLRPrivBinder*` to `CLRPrivBinderAssemblyLoadContext*`? I think I would

[2015-10-03 07:27] jkotas commented on #552
Yes, creating interface would be a clean way to do this.

[2015-10-03 20:02] Rohansi commented on #552
So I made an interface and changed `CLRPrivBinderAssemblyLoadContext` to inherit `IUnknownCommon<ICLRPrivBinder, IAssemblyLoadContext>` but now a static_cast is failing to compile, presumably because both interfaces inherit from `IUnknown`:
[code]

Here's what I have for my interface right now:
[code]

Also is there any reason why `BINDER_SPACE::Assembly::GetBinder()` is protected? I'm having trou

[2015-10-04 02:59] jkotas commented on #552
How many places have this problem? You should be able to fix them by casting to the specific interface.

I do not see a particularly strong reason. It should be ok to change it to public.

[2015-10-04 03:11] Rohansi commented on #552
It's just one place but there is no interface for that method, even though [it looks like there should be one](https://github.com/dotnet/coreclr/blob/db412f16d583b81be0ee3cb60d4cce634e1fb7ac/src/vm/coreassemblyspec.cpp#L345-L354). I changed it to a reinterpret_cast to get it to build but I doubt that would work properly at runtime.

[2015-10-04 04:50] RossNordby opened #1678 "Performance oddity: Vector3 * Matrix3 slower than Vector4 * Matrix4"
The Vector3 case seems to generate unnecessary instructions. Here's the code used to generate the results:
[code]

Running this code on my machine yields the following results:
4x4 Time: 0.319555539691772
3x3 Time: 0.345366045755573

The instructions generated for the Vector4 case are as follows:
[code]
In contrast, the Vector3 case inserts shift-clearing prior to each broadcast shuffle:
[code]

[2015-10-04 08:12] mikedn commented on #1678
See [genSIMDIntrinsicInit](https://github.com/dotnet/coreclr/blob/master/src/jit/simdcodegenxarch.cpp#L615), it zeroes the upper bits because it doesn't know that they are zero. And indeed, extracting a vector component doesn't zero the upper bits (apparently it's ok for a float scalar to have non zero upper bits but it's not ok for a Vector3 to have non zero upper bits). Anyway, to fix this the `

[2015-10-04 08:24] mikedn commented on #1678
It's probably worth adding that with AVX the Vector3 case generates a slightly better result than the Vector4 case:

That's probably because the Vector4 case uses `vpsrldq` + `vbroadcastss` while the Vector3 case uses `vinsertps` and `vshufps`.

[2015-10-04 18:42] Rohansi commented on #552
OK so I have it using the IsCollectible flag and LoaderAllocator I added to CLRPrivBinderAssemblyLoadContext in `Assembly::Create()` and it now crashes in `LoaderAllocator::Destroy()` because I didn't create a DomainAssembly. I'm not sure what it should be initialized with.

I'm basing this off of what `Assembly::CreateDynamic()` does and it creates a DomainAssembly for the PEAssembly it creates.

[2015-10-05 13:58] xPaw opened #1679 "Add function to set rounding direction mode (fesetround)"
There's currently no way of dealing with in C# without doing hacks like this - https://stackoverflow.com/questions/24241545/is-there-an-c-sharp-equivalent-of-c-fesetround-function (mind you, that .dll 404s).

C++ function reference: http://www.cplusplus.com/reference/cfenv/fesetround/

[2015-10-05 16:36] kouvel opened #1680 "Beta8 blocker: Loading native libraries from the native search paths is not working outside Windows"
Native search paths provided by the host are not searched properly outside Windows.

[2015-10-05 18:36] #1680 closed

[2015-10-05 21:26] janvorli opened #1682 "Improve performance of the Frame destructor"
Currently, the frame destructor always calls GetThread, which results in accessing thread local storage. Some microbenchmarks have shown that access to thread local storage is not cheap on Linux, so it would be nice to improve it here.
@jkotas has suggested the following:
- Set m_Next to NULL in Frame::Frame
- Set m_Next to NULL in Frame::Pop(Thread *pThread)
- If m_Next is NULL in the Frame destr

[2015-10-05 23:13] ellismg commented on #1633
@jasonwilliams200OK Do you have ICU installed?  System.Globalization.Native comes from the CoreCLR repo, FWIW.

[2015-10-06 01:31] cmckinsey commented on #1619
In some cases, intrinsics are acceptable for representing concepts that are difficult to expression in source, or require overly sophisticated pattern/semantic recognition. But otherwise, having the compiler match the source sequences is typically better since any such improvement will apply to existing un-modified sources and yield a broader impact. So I think that's what makes the best sense for

[2015-10-06 02:11] #1622 closed

[2015-10-06 02:32] ellismg commented on #1660
This is resolved now in CI.  Thanks Steve!

[2015-10-06 02:32] #1660 closed

[2015-10-06 08:03] janvorli commented on #1667
Change implementation completed by #1677

[2015-10-06 08:03] #1667 closed

[2015-10-06 08:04] janvorli commented on #1530
Fixed by #1667

[2015-10-06 08:04] #1530 closed

[2015-10-06 12:11] GSPP commented on #1619
@cmckinsey agreed. Matching a bitcount/popcount is extremely hard, though. There are many way to write that. Some with loops and some without.

As a motivating example, popcount is useful in Hash array mapped tries which are used to implement some persistent collections in JVM languages. A persistent O(1) set is among them I think.