[2019-09-19 06:38] scalablecory opened #26783 "Documenting safe usage of ThreadPoolBoundHandle"
Investigation for https://github.com/dotnet/corefx/issues/39552 has raised a couple interesting questions that we can use to improve documentation.

- If a `SafeHandle` is bound in a `ThreadPoolBoundHandle`, is it safe to dispose of the `SafeHandle` *before* disposing the `ThreadPoolBoundHandle`?
- If there are outstanding completions queued up pertaining to a `ThreadPoolBoundHandle` and we dispos

[2019-09-19 08:06] tmds commented on #26696
@mjsabby @Maoni0 can you confirm this is a supported feature on Linux for 3.0? Or should this be considered experimental?

[2019-09-19 11:39] aix1 commented on #17294
Upvote; applications that uses .NET is restricted to our x86 only and for their high demands on Performance and RAS we need the .NET core parts on ppc64le.

[2019-09-19 12:28] gbalykov opened #26786 "Tizen build fail"
After #26108 we get next output during build of CoreCLR
[code]
Build command with Tizen rootfs:
[code]

Where is the new place to add Tizen rids?

Also, built-test.sh fails with next output:
[code]
[code]

cc @o-piskunov @alpencolt

[2019-09-19 13:21] verelpode commented on #26465
@zmorris

When I opened this issue, I was trying to find a reasonably balanced solution, without springing to any extreme.  Isn't an _"Everything virtual by default"_ proposal an extreme or radical proposal?  How difficult would it be to convince at least 3/4 of C# software developers to support an "Everything Virtual" proposal?  Isn't that almost as difficult as sending a man to the moon?

Imagin

[2019-09-19 14:05] Safirion commented on #20287
@jeffschwMSFT Same error was throw with passage from .Net Core P9 to RC1.

[code]

[2019-09-19 14:45] dfdumaresq commented on #26084
Hi @sergiy-k. Yes, I meant that the problem stops reproducing when I start without debugging.
I am attaching a core.

[AppNotice_2019-08-20-133727_ddumaresq.crash.zip](https://github.com/dotnet/coreclr/files/3631821/AppNotice_2019-08-20-133727_ddumaresq.crash.zip)

[2019-09-19 15:13] kayle commented on #26638
Yes, it's convenient to get T[] objects out. The primary goal of using ArrayPool is to improve memory/gc performance. Since `ArrayPool<T>.Shared` is already for perf optimized scenarios, convenience isn't necessarily the first priority.

The problem is that `ArrayPool<T>.Shared` easily leads to increased WorkingSet and unnecessary 'leaks' in the form of stale cached buffers.

I propose adding guid

[2019-09-19 15:24] jkotas commented on #26786
@sbomer Could you please take a look?

[2019-09-19 15:39] janvorli commented on #26084
@dfdumaresq the zip doesn't contain a core, just a textual log of the crash detail. However, even from that, I can see that the process didn't run anything dotnet related. There is a memory map and none of the binaries / shared libraries are from .NET Core. I wonder if you have accidentally shared info on some other crash.

[2019-09-19 15:49] jeffschwMSFT commented on #20287
@Safirion thanks for reporting this issue.  Can you create a separate issue to repro this?  https://github.com/dotnet/core-setup
cc @swaroop-sridhar

[2019-09-19 15:55] swaroop-sridhar commented on #20287
@Safirion can you please send repro instructions? Is this failure deterministic?
Please file an issue in core-setup repo, as @jeffschwMSFT suggested above.

[2019-09-19 15:57] vitek-karas commented on #20287
I looked at this and this would only happen if the app is running in an environment where temporary directory is not accessible. For example if I do this:
[code]

It fails with
[code]

Note that the bundle looks for temporary directory using the [`GetTempPath`](https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-gettemppatha) win32 API. Which uses the env. variable `TMP`, followe

[2019-09-19 15:59] dfdumaresq commented on #26084
Yes, it's possible I grabbed the info from another crash. And I'm unfamiliar with locating cores and simply sent along the User crash report.
I will turn debugging back on and send an update asap.

[2019-09-19 16:38] agoretsky commented on #26568
looks like it's important one, could you consider porting fix in 3.0.x/3.1?

[2019-09-19 16:45] sergiy-k commented on #26568
Yes, we do want to try to get this change approved for 3.1.
Getting into 3.0.x servicing will be very hard.

[2019-09-19 17:08] sbomer commented on #26786
Looking into it.

[2019-09-19 18:13] sbomer commented on #26786
@gbalykov Usually our scripts generate the RID in `init-distro-rid.sh`, but I don't see where we would be generating the RID `tizen.5.5.0-armel`. Are you setting the RID somewhere outside of the build scripts?

I tried to reproduce the above by generating a rootfs following the instructions at https://github.com/dotnet/coreclr/blob/fe851740636b89c052af316576b8d47f0c5edd06/Documentation/building/cr

[2019-09-19 18:21] jeffschwMSFT commented on #26482
I just ran this in a loop against the lastest checked build and did not see a repro.  I am going to close this and wait to see it in the lab.  With a dump, we may be able to make better progress.

[2019-09-19 18:32] gbalykov commented on #26786
To generate Tizen 5.5 build rootfs I use this on ubuntu 16.04:
[code]
Tizen RID `tizen.5.5.0-armel` is created from `/etc/os-release` in rootfs:
https://github.com/dotnet/coreclr/blob/16b27f7852a223752601f4623abae5c82ca732a1/init-distro-rid.sh#L64

We get there because of:
https://github.com/dotnet/coreclr/blob/16b27f7852a223752601f4623abae5c82ca732a1/init-distro-rid.sh#L143

[2019-09-19 19:12] kbaladurin opened #26788 "[Linux/x86] Crash during stack unwinding"
The following example crashes on Linux/x86:
[code]
[code]

[2019-09-19 19:30] davmason opened #26790 "Remove runtime suspension when updating active IL version in ReJIT"
Right now we suspend the runtime when updating the active IL version. I believe this was only required for jumpstamps, since we had to stop the runtime to make sure no threads were going to have a race in executing the prolog of a jitted method. #26740 makes it so ReJIT no longer uses jumpstamps, it should be safe to stop suspending the runtime.

[2019-09-19 20:24] kouvel commented on #26783
I'm not too familiar with lifetime issues in this area, the following is based on my code review:

I don't think so, it doesn't look like any additional refs are added to the `SafeHandle` by `ThreadPoolBoundHandle` or as a result of creating overlapped data.

It looks like it would be ok to dispose the `ThreadPoolBoundHandle`, as it allows freeing a previously allocated `NativeOverlapped` after be

[2019-09-19 20:36] scalablecory commented on #26783
For some context of what raised this -- in some native APIs, the only way to cancel an I/O may be to `CloseHandle()`. But, cancelling that I/O causes completions to be queued up.

So it's not so much about keeping the ref alive, but more about how `ThreadPoolBoundHandle` uses the `SafeHandle` in its part of raising callbacks. My suspicion is that `GetOverlappedResult()` may end up being called on

[2019-09-19 20:58] kouvel commented on #26783
Ah ok. I don't see the handle being used anywhere other than to return it from the `Handle` property. I suspect the association between handle and IO completion callback would be made during the async IO API call. It makes sense that closing the handle would cancel the IO but I would hope that is not the proper way to do it. If it is, then perhaps that operation is not intended to be canceled. I w

[2019-09-19 21:10] tarekgh commented on #26479
@danmosemsft I think this issue is not meeting 3.0.x bar but I believe having it for 3.1 is good. what you think? should I move it to 3.1?

CC @ericstj

[2019-09-19 21:13] danmosemsft commented on #26479
@tarekgh Do we run perfectly (as far as is known) in compat mode, after this fix, or are there more issues?

If this fix enables the whole scenario, and the risk is acceptable, I support porting into 3.1 - please go ahead and prep a PR.

[2019-09-19 21:14] danmosemsft commented on #26479
I ask because I see you said

In the PR could you put the usual template, even if it's just for us?

[2019-09-19 21:28] tarekgh commented on #26479
I have done basic scenarios tests when I fixed the issue and it was working fine and didn't see any other issue. Before this fix, it was not possible to launch the net core app at all and now it launch fine. If there will be any issue we are not aware of, that will be localized to that area and not have global impact as the one I fixed.

Regarding the risk, it is low as I am not changing behavior.

[2019-09-19 22:02] sergiy-k commented on #26084
If you run 'ulimit -c unlimited' in the shell window from which you start your app, then you should be able to find core file for a crash in the '/cores' folder.

[2019-09-19 22:07] lsvMoretti opened #26791 "Issue when using Entity Framework"
Hey, sorry this is my first real issue to post anywhere.

I have Pomelo Entity Framework MySQL and I have also tried MySql.Data.EntityFrameworkCore, both stable and pre-release versions, how ever using the latest .net core SDK, I have an issue when doing anything with Entity Framework.

My Code:

[code]

The error

[code]
Line 21 is the .ToList line.

[2019-09-19 22:22] terrajobst commented on #26465
It would be a massive breaking change tho. For a platform with millions of developers and billions of lines of code discussions about "refactoring" core design pivots isn't useful because we won't ever be able to get the ecosystem to absorb such changes.

[2019-09-19 22:35] davmason commented on #26687
@viewizard can you rerun your test with the update fix I have? I ran all of our tests with ELT enabled and didn't see any crashes, so I believe the race conditions are solved.

[2019-09-19 23:14] echesakovMSFT commented on #26687
@davmason I am about to start the final testing for Arm64 ELT hooks. If you want - I can pull down your changes and test them as well.

[2019-09-19 23:38] davmason commented on #26687
@echesakovMSFT That would be great, thanks!

[2019-09-20 00:14] noahfalk commented on #15374
Not clear what work this is tracking and nothing appears to refer to it so closing this issue.

[2019-09-20 00:14] #15374 closed

[2019-09-20 00:29] BruceForstall commented on #12135
I would like to close this issue, as I don't expect we will ever attempt to document JIT optimizations at the level suggested here. I don't disagree that having such a document might be useful, but I can't imagine a document that is comprehensive and up-to-date, and worth the time investment to write. We do have some high-level documents describing the JIT architecture, and I would support improvi

[2019-09-20 00:31] echesakovMSFT commented on #26687
@davmason I have a question. What a profiler is expected to do during its Shutdown() call? I presume it should deallocate the memory/destroy all the objects that were created before? What if the ELT callbacks rely on the data?

[2019-09-20 00:34] BruceForstall commented on #16014
@tannergooding @CarolEidt Is this issue still valid/active?

[2019-09-20 00:42] BruceForstall commented on #2514
I'm closing this issue.

General comment: please do NOT hook the JIT-EE interface.

[2019-09-20 00:42] #2514 closed

[2019-09-20 01:32] BruceForstall commented on #12454
This is obsolete now, so closing. We should do another round of cross-arch/cross-platform throughput comparisons sometime.

[2019-09-20 01:32] #12454 closed

[2019-09-20 01:34] BruceForstall commented on #15108
@mikedn Is this issue still accurate w.r.t. your plans for SSA construction throughput improvements? Looks like there's only one item left on your list.

[2019-09-20 01:35] davmason commented on #26687
It’s up to the profiler when to release memory. If the runtime is shutting down, then the profiler will be unloaded too when the process dies. You could just let the OS reclaim the memory. If the profiler wanted to free things on shutdown you would have to set them to null and return early from the ELT stubs after they are null.

[2019-09-20 01:52] VincentBu opened #26795 "Assertion failed '!emitComp->lvaKeepAliveAndReportThis() || (offs != emitSyncThisObjOffs)'"
**Job:**
[coreclr-corefx #20190919.1](https://dev.azure.com/dnceng/public/_build/results?buildId=359876)

**Detail:**
https://helix.dot.net/api/2019-06-17/jobs/c0d03e35-a2dc-424b-80eb-3917e164bc90/workitems/System.Collections.Tests/console

**OS & Arch:**
Windows x86

**Mode:**
Environment variable COMPlus not defined

**Note:**
The failure **repro** on our windows x86.

**Log:**
[code]

category:

[2019-09-20 01:52] BruceForstall commented on #8117
I'm going to close this as a dup of #4104

[2019-09-20 01:52] #8117 closed

[2019-09-20 01:55] BruceForstall commented on #6733
Given that we already have struct promotion, and various documents and issues discussing improvements, I'm going to close this.

[2019-09-20 01:55] #6733 closed

[2019-09-20 02:17] VincentBu commented on #26313
**Job:**
[coreclr-corefx-jitstress #20190918.1](https://dev.azure.com/dnceng/public/_build/results?buildId=359804)

**Detail:**
https://helix.dot.net/api/2019-06-17/jobs/87d8dd7f-3aa8-4577-9e63-5f466eb48d71/workitems/System.Reflection.MetadataLoadContext.Tests/console

**OS & Arch:**
windows x64

**Mode:**
COMPlus_JitStress=1
COMPlus_TieredCompilation=1

**Note:**
This failure **repro** on our win

[2019-09-20 03:35] #19368 closed

[2019-09-20 05:54] #12135 closed

[2019-09-20 06:10] KRudnichenko opened #26796 "Boxing elimination doesn't work in generic method specified with a generic struct which is specified with a reference type."
Here is the benchmark code:
[code]
Here are the benchmark results:

Method | Mean | Allocated
-- | -- | --
ValueTypeField | 1.201 ns | -
ReferenceTypeField | 13.097 ns | 24 B

The IL Code of the "Outer" method contains the box and unbox instructions:
[code]

[2019-09-20 06:49] mikedn commented on #15108
Yes, I'm going to look at the remaining item in the coming weeks. Though I suspect that I might end up discarding it, it's probably a trade off between deep trees and wide trees so probably not very useful.

[2019-09-20 08:27] mikedn commented on #26796
Try adding `[MethodImpl(MethodImplOptions.AggressiveInlining)]` to `Outer`.

[2019-09-20 08:59] Safirion commented on #20287
I'm not able to reproduce this issue after updating .Net Core to RC1 and restart my server.  (I have try to uninstall RC1 and install Preview 9 again to upgrade again to RC1 but my app launch well this time)

This error has happened with passage from SDK 3.0 P7 to SDK 3.0 P8 and SDK 3.0 P9 to SDK 3.0 RC1.
And in the two cases, a simple restart of the server fix the issue.

I use a .Net Core Window

[2019-09-20 12:15] plwm opened #26799 "PublishReadyToRun fails on Linux with exit code 139 when Microsoft.CodeAnalysis package referenced"
**Steps to reproduce:**
1. git clone [https://github.com/plwm/eShopOnWeb-dotnetcore3.0](https://github.com/plwm/eShopOnWeb-dotnetcore3.0)
2. cd src/Web
2. Modify Web.csproj
-> uncomment `<PackageReference Include="Microsoft.CodeAnalysis" Version="3.2.1" />`
3.  dotnet publish -c Release -r linux-x64 -o out/linux-x64-3.0/

Build fails when publish on Linux with runtime linux-x64 or linux-arm
Build

[2019-09-20 12:17] plwm commented on #26799
**Note:**
Build succeeds on Linux unless you uncomment: `<PackageReference Include="Microsoft.CodeAnalysis" Version="3.2.1" />`

[2019-09-20 15:32] dfdumaresq commented on #26084
Thanks, @sergiy-k. I'll give that a go on the next crash.

[2019-09-20 15:40] mattzink commented on #26568
Could you explain further why this miscalculation would be hard to address in a 3.0.x release?

[2019-09-20 16:17] janvorli commented on #12093
I can now consistently reproduce this assert when running new crossgen2 on System.Private.CoreLib.dll, so I am reopening the issue.
Here are the repro steps on Windows:
* build.cmd
* .dotnet\dotnet.exe .\bin\Product\Windows_NT.x64.Debug\crossgen2\crossgen2.dll .\bin\Product\Windows_NT.x64.Debug\System.Private.CoreLib.dll -o:.\bin\Product\Windows_NT.x64.Debug\System.Private.CoreLib2.dll --targetarc

[2019-09-20 16:45] #25431 closed

[2019-09-20 16:48] echesakovMSFT commented on #26687
@davmason Basically, this means that every ELT hook should have some synchronization mechanism (ideally, lock-free) to be able to bypass the logic if the system is shutting down?

With you changes I don't see the issue with null pProfInterface but I see that ELT hooks are being called after the system was shut down (and SIGSEGV since the profiler data was disposed). If my profiler implementation a

[2019-09-20 16:51] BruceForstall commented on #26795
@dotnet/jit-contrib

[2019-09-20 16:56] CarolEidt commented on #26795
I ran into a similar issue in my EHWriteThruLSRA branch. I suspect that it's due to a combination of:
- Brian's change to break instruction groups in checked builds
- The fact that LSRA doesn't bother updating the liveness sets for split blocks

I'll look at this.

[2019-09-20 17:03] viewizard commented on #26687
@davmason I have tested CoreCLR with new patch on arm32, looks like this solve my issue with SIGSEGV.

[2019-09-20 17:07] jeffschwMSFT commented on #26799
@sergiy-k

[2019-09-20 17:10] jeffschwMSFT commented on #26791
@Pilchie based on the callstack this looks like EntityFramework is trying to load an assembly into an AssemblyLoadContext which has been unloaded.  is there someone on your team that can take a look?

[2019-09-20 17:17] sergiy-k commented on #26084
@dfdumaresq, please note that you need to run 'ulimit -c unlimited' in the shell window before you start your app from that shell.

[2019-09-20 17:26] sergiy-k commented on #26799
@fadimounir could you please take a look?

[2019-09-20 17:56] janvorli commented on #12093
FYI: @dotnet/crossgen-contrib

[2019-09-20 18:15] dfdumaresq commented on #26084
Gotcha,  @sergiy-k. (unfortunately) the dotnet portion of the app has been behaving rather well.
No crashes recently. Instead, I have been noticing the Chrome debugger extension quitting silently.

[2019-09-20 18:17] BruceForstall commented on #6283
I'm going to close this. If it fails again, open a new bug or re-open this bug.

[2019-09-20 18:17] #6283 closed

[2019-09-20 18:19] BruceForstall commented on #7190
Looks like we have these now

[2019-09-20 18:19] #7190 closed

[2019-09-20 18:23] BruceForstall commented on #7497
The .NET Core version of ildasm does not have a GUI, so this isn't applicable here.

[2019-09-20 18:23] #7497 closed

[2019-09-20 18:25] jkotas commented on #26568
3.0 is a very short-lived release. It will be quickly superseded by 3.1 LTS in November. 3.1 LTS is where it is important to get bugs like this one fixed and it is what we are focused on.

[2019-09-20 18:28] BruceForstall commented on #11286
@CarolEidt Do you want to keep this issue around?

[2019-09-20 18:39] BruceForstall commented on #17584
I'm going to close this. Please create a new bug if System.Net tests fail again.

[2019-09-20 18:39] #17584 closed

[2019-09-20 18:43] BruceForstall commented on #17958
Closing this. System.Linq.Expressions.Tests is disabled in CI. If we attempt to re-enable, we'll hit this again. https://github.com/dotnet/coreclr/issues/25269

[2019-09-20 18:43] #17958 closed

[2019-09-20 18:47] CarolEidt commented on #11286
I'll go ahead and close this. I think there's room for improvement in the code that handles the double register pairs on arm32, but there's not a specific action required.

[2019-09-20 18:47] #11286 closed

[2019-09-20 18:55] davmason commented on #26761
@josalem @sywhang have either of you seen this before?

cc @dotnet/dotnet-diag

[2019-09-20 19:55] BruceForstall commented on #18822
This might be an interesting case for whole program analysis. cc @erozenfeld

Perhaps even in the JIT case the VM could store info about generated functions so the JIT can ask about them when calling subsequent calls (although during JITting, codegen is normally top-down, not bottom-up).

Seems like use of 256 intrinsics should also affect inlining heuristics, e.g., inline more calls to prevent po

[2019-09-20 20:05] mgth opened #26838 "Comparing types for equality may fail while guid are equals."
.Net Core 3.0 RC1
Sometimes

typeA != typeB
althrought
typeA.GUID == typeB.GUID

In my case types ares the same, and it worked in dot net framework.
One type is obtained by reflection for a property type.
The other is obtained by reflexion on the class itself.

[2019-09-20 20:18] cshung commented on #12093
I was looking into it for a few days now. It looks like we have two sources of truth about which register contains GC references. The instruction description contains a copy `id->idGCRef()`, and the emitter contains a copy `emitter->emitThisGcRef`, and the two copies are not synchronized.

I still need more time to investigate this.

[2019-09-20 21:07] #12468 closed

[2019-09-20 21:07] #20726 closed

[2019-09-20 21:07] #11717 closed

[2019-09-20 21:07] #12644 closed

[2019-09-20 21:39] erozenfeld commented on #18822
Yes, it's a special case of the "killed register set optimization", thanks for pointing out this case.

[2019-09-20 21:41] BruceForstall commented on #19166
@echesakovMSFT Did you look in to CheckProjects when you converted tests to SDK style? (i.e., are any changes needed there?)

[2019-09-20 21:47] BruceForstall commented on #19246
@tannergooding Is there any work left to do here?

@4creators Do you still want this assigned to you?

[2019-09-20 21:51] tannergooding commented on #19246
Yes. There are still a number (but now a minority) of tests that should be templated rather than manually written.

[2019-09-20 21:52] echesakovMSFT commented on #19166
@BruceForstall I have not but it looks that we can simplify CheckProjects. For example, I don't think we would need this https://github.com/dotnet/coreclr/blob/d8b7989d76cf239586abbc5c604af245e2b2fc1f/tests/src/JIT/CheckProjects/CheckProjects.cs#L140-L149

[2019-09-20 22:09] BruceForstall commented on #19246
@tannergooding Is this just a dup of https://github.com/dotnet/coreclr/issues/19400?

[2019-09-20 22:42] echesakovMSFT commented on #8921
The issue does not reproduce with these tests anymore.

[2019-09-20 22:42] #8921 closed

[2019-09-20 22:43] BruceForstall commented on #19684
I'm going to close this. If it still fails, please open a new issue.

[2019-09-20 22:43] #19684 closed

[2019-09-20 22:46] tannergooding commented on #19246
I think #19400 is likely a dupe of this, since this one was created first; but yes 😄

Looking at the list in #19400, it isn't in sync with some of the tests that have been ported over to be templated now.

[2019-09-20 22:47] tannergooding commented on #19400
Closing as dupe of #19246.

The list above is out of sync with the actual state of the tests that are templated vs not; so a new pass will need to be done to see what still needs fixing.

[2019-09-20 22:47] #19400 closed

[2019-09-20 23:33] BruceForstall commented on #20465
@AndyAyersMS you write:

do you mean "do not produce"?

Do we just need to get `USING_VARIABLE_LIVE_RANGE` enabled?

[2019-09-20 23:35] BruceForstall commented on #20474
Closing this. If there are disabled tests that should be enabled, that should be audited and a new issue created.

[2019-09-20 23:35] #20474 closed

[2019-09-20 23:40] BruceForstall commented on #20526
cc @erozenfeld Maybe whole-program related.

[2019-09-21 00:26] BruceForstall commented on #20656
@mikedn What's left here after your change https://github.com/dotnet/coreclr/pull/20661?

[2019-09-21 03:32] stuyun opened #26811 "Dotnet processes are too numerous to differentiate between specific applications"
dotnet.exe App1.dll
dotnet.exe App2.dll
dotnet.exe App3.dll
dotnet.exe App4.dll

Process names are all dotnet and can't distinguish between specific applications

[2019-09-21 03:52] petermcclymont opened #26812 ".NET Core 3.0 RC1 console app does not work under Linux"
I am using .NET Core from a snap package on KUbuntu. I switched to the beta and edge channels to upgrade from .NET Core 2.2 to .NET Core 3.0.

When on beta or edge my console app doesn't work, so I decided to go back to basics. Create a new console app to see what would happen,

mkdir testdotnet
cd testdotnet
dotnet new console
dotnet build
dotnet run

It runs for a second, and gives nothing. No o

[2019-09-21 04:10] benaadams commented on #26811
In 3.0 building now also creates and exe; and the process names should be the created .exe name even when you use `dotnet run` (though you will also have a process which is .NET Core Host `dotnet run`; which doesn't exist if you run the built exe)

[2019-09-21 04:11] benaadams commented on #26811
e.g. with 3.0 it would now be

App1.exe
App2.exe
App3.exe
App4.exe

[2019-09-21 04:22] danmosemsft commented on #26812
Does "strace" suggest anything?

[2019-09-21 06:13] petermcclymont commented on #26812
Hi, this is not the result I expected.

dotnet run - gives nothing
sudo dotnet run - gives nothing

sudo strace -o trace2.log dotnet bin/Debug/netcoreapp2.0/strace-sample2.dll works!

sudo dotnet run bin/Debug/netcoreapp3.0/strace-sample2.dll - gives nothing

[2019-09-21 06:25] mikedn commented on #20656
@BruceForstall This:

#20661 does fix the original example:
[code]
But if you replace `uint`/`ulong` with `byte`/`ushort` you get useless code like:
[code]
It's likely that morph and/or VN could be taught to recognize trees like:
[code]
but I'm not sure how common such cases are. #20661 was done because at the time the pattern was showing up in span code.

[2019-09-21 07:02] mikedn commented on #20549
@sandreenko Quite the contrary, other conditions in the file should be changed not to use "helperThreshold". It's just unnecessary and confusing fanciness - the code in `LowerBlockStore` should be more like:
[code]
which is IMO more readable that the current stuff with `max(CPBLK_MOVS_LIMIT, CPBLK_UNROLL_LIMIT)` and nested `if`s.

[2019-09-21 13:03] kevingosse commented on #26812
I tried with a clean install of KUbuntu 19.04 on VirtualBox. Installed dotnet-sdk with:

[code]

Then I ran your commands:
[code]

And it displayed "Hello World!" as expected. Is there something you're doing differently?

[2019-09-21 13:18] kevingosse commented on #26812
Ok I reproduce it now. I did two things: I updated the system and I rebooted. Not sure which step did the trick.

[2019-09-21 14:18] kevingosse commented on #26812
It's starting to look crazy.

If I create a folder name "1" at the root (`/1/`) and run `dotnet new console` then `dotnet run`, I run into the aforementioned issue.
Same thing from `/1/2/`
Same thing from `/1/2/3/`
Then from `/1/2/3/4/` or any deeper folder structure, it starts working.
The name of the folders doesn't matter (confirmed by doing the same test with my home profile), it's really just

[2019-09-21 15:32] mikedn commented on #26307
I've updated #24294 to include only the removal of `ReplaceCallOperand`.

IMO we should also get rid of `GTF_LATE_ARG` to actually fix this issue, otherwise we'd still need to be careful when replacing operands.

But luckily that can be done separately to keep the PRs manageable.

[2019-09-21 15:35] kevingosse commented on #26812
Taking the dotnet sdk out of the equation, the application seems to crash if less than 7 folders deep

[code]

Not sure where the segmentation fault comes from, lldb has no symbols for that frame:

[code]

[2019-09-21 17:46] BruceForstall commented on #21377
It looks to me like the proposal here is already practically covered by the JIT optimization issue #6915 and other referenced issues, so I'm closing this.

[2019-09-21 17:46] #21377 closed

[2019-09-21 18:22] tarekgh opened #26816 "CI failure in NoGCRegion_NoGC_NoGC_._NoGCRegion_NoGC_NoGC_cmd"
https://helix.dot.net/api/2019-06-17/jobs/a19e82c7-6aea-4eb9-8659-71f9cd0b02a6/workitems/PayloadGroup0/console

[code]

[2019-09-21 19:16] BruceForstall commented on #16604
@DrewScoggins You assigned this issue to yourself. Do you intend to look at it, or can we close it? It's somewhat obsolete at this point.

[2019-09-21 19:17] BruceForstall commented on #16605
@DrewScoggins You assigned this issue to yourself. Do you intend to look at it, or can we close it? It's somewhat obsolete at this point.

[2019-09-21 19:21] BruceForstall commented on #16801
@adamsitnik Is this issue still valid? If so, should it be moved to the performance repo and closed in coreclr?

[2019-09-21 20:30] hannan-sultan commented on #24914
Having the same issues in VS 2019. FYI command line also didn't work.

[code]

[2019-09-21 20:31] stephentoub commented on #24914
You can build it from the cmd line doing `build windowsmscorlib release` from the root of the repo.

[2019-09-21 20:45] hannan-sultan commented on #24914
Any guidance to test the changes after the build?

[2019-09-21 21:00] hannan-sultan commented on #26608
I'm willing to take this issue. I have cloned the repo and followed the building on Windows instructions everything builds fine. I guess the fix should be in `CompareInfo.cs` in `System.Private.Corelib` project, right?
Can you please guide me on how I can test after making changes?

[2019-09-21 23:04] stephentoub commented on #24914
https://github.com/dotnet/corefx/blob/017a038abaabedcbbc61c85c9f7405f588ca3b46/Documentation/project-docs/developer-guide.md#testing-with-private-coreclr-bits

[2019-09-22 15:33] fawdlstty opened #26822 "The direct release failed after modifying the code"
Every time I release after modifying the project code, the first release always fails, and the second release only succeeds, which is a problem that recurs steadily in.net core 3 rc1, not in.net core 3 preview 9

![20190922233200](https://user-images.githubusercontent.com/7323999/65390424-3aeb3400-dd91-11e9-9e65-6170b745b25c.png)

error log file content:

[code]

[2019-09-22 15:44] lsvMoretti commented on #26791
I've tried using SQL and MySQL both having the same issue. Any updates? My programs are currently unable to work due to this error.

[2019-09-22 18:31] hypeartist opened #26824 "Devirtualization:"
I can't figure out which devirtualization cases are implemented at the moment of 3.0RC. Here is a quick and dirty example of some common (for me at least) use-cases:

[code]

The conclusion is that the only method that get inlined is ```DoTestImpl6<T>```
The rest five methods are ends up with:

[code]

Is it expected behavior or I am missing something?

[2019-09-22 18:40] Suchiman opened #26825 "Peculiar string operation performance"
So i got nerd sniped on IRC with how fast you can append characters to create a string.
I created the following benchmark to measure a few alternatives just before i got told it's for an old MVC4 app. Then I've noticed that the performance is consistently worse on .NET Core, in particular for `StringBuilder` and even more so if you supply a `capacity` for `StringBuilder`. I then suspected Tiered C

[2019-09-22 19:43] BruceForstall commented on #23309
@AndyAyersMS It sounds like this issue now boils down to "Use less stack space in MinOpts by creating fewer temps". Is this issue worth keeping open? Would it be better to create a new issue to track this?

[2019-09-22 20:06] BruceForstall commented on #23475
Closing this. Please open a new issue if it reoccurs.

[2019-09-22 20:06] #23475 closed

[2019-09-22 20:09] BruceForstall commented on #23516
I'm closing this, as it appears the fix is in and was ported to 2.2.

[2019-09-22 20:09] #23516 closed

[2019-09-22 20:12] BruceForstall commented on #23520
As this was initially a question, that appears to be answered, I'm closing this.

If there are individual performance (code quality) bugs, please open individual items. Or open a new general issue for overall issues/questions.

[2019-09-22 20:12] #23520 closed

[2019-09-22 20:41] BruceForstall commented on #24683
Stale bug; closing.

[2019-09-22 20:41] #24683 closed

[2019-09-22 21:04] BruceForstall commented on #24794
Looks like this interesting conversation has played out, and I don't see any JIT work here (that isn't covered elsewhere), so I'm closing this.

[2019-09-22 21:04] #24794 closed

[2019-09-22 21:11] BruceForstall commented on #24975
Looks like this is not a JIT issue, and has been routed elsewhere, so closing.

[2019-09-22 21:11] #24975 closed

[2019-09-22 21:16] BruceForstall commented on #25094
cc @jashook @jakobbotsch

[2019-09-22 21:21] petermcclymont commented on #26812
Thanks. I did not realise there would be a difference between this, which doesn't work,

dotnet run bin/Debug/netcoreapp3.0/strace-sample2.dll

And this which does work,

dotnet bin/Debug/netcoreapp3.0/strace-sample2.dll

At least now there is a work around, I will try again with the beta channel and see if it works with my proper app.

Otherwise when the underlying issue is fixed I am happy to up

[2019-09-22 22:05] AaronRobinsonMSFT commented on #26822
@fawdlstty This might be more appropriate for the [VS Developer Feedback](https://developercommunity.visualstudio.com/spaces/8/index.html) initially since this appears to involve IDE support, but it is unclear exactly what the screenshot is from.

发布失败 -> "Publishing failed"

Perhaps @livarcocc or @nguerrera could confirm if this an SDK step that is faulting?

[2019-09-22 22:06] AndyAyersMS commented on #23309
There's already an issue for this (use fewer temps when not optimizing) somewhere. I'll try and track it down when I get a chance.

[2019-09-23 00:52] nguerrera commented on #26822
There's really unfortunate behavior where a generic "Publishing fails" error shows when the build step before publish fails in some circumstances.

Are there other errors in the outout window?

[2019-09-23 00:53] jkotas commented on #26825
cc @adamsitnik

[2019-09-23 00:53] nguerrera commented on #26822
Cc @vijayrkn

[2019-09-23 01:27] AndyAyersMS commented on #23309
There are a number of possible causes.

#14890 is the likely culprit here, so we could probably close this as a dup of that.

[2019-09-23 01:29] jkotas commented on #26811
As @benaadams said.

[2019-09-23 01:29] #26811 closed

[2019-09-23 01:43] VincentBu opened #26826 "Test failed: readytorun\crossgen2\crossgen2smoke\crossgen2smoke.cmd"
**Job:**
[coreclr-gcstress-extra #20190921.1 Run Test Pri1 Windows_NT x64 checked](https://dev.azure.com/dnceng/public/_build/results?buildId=362555)

**Detail:**
https://helix.dot.net/api/2019-06-17/jobs/1c6a614a-cfe9-43ee-aaee-e979ace30850/workitems/PayloadGroup0/console

**OS & Arch:**
windows x64

**Mode:**
COMPlus_TieredCompilation=0
COMPlus_GCStress=0xC
COMPlus_JitStress=1

**Note:**
I try t

[2019-09-23 01:44] fawdlstty commented on #26822
There are no other bugs, and it's always a success to release again on release fails

[2019-09-23 01:44] fawdlstty commented on #26822
may I close the issue and go developer feedback?

[2019-09-23 01:58] VincentBu opened #26827 "Test failed: baseservices/threading/threadpool/unregister/regression_749068/regression_749068.sh"
**Job:**
[coreclr-gcstress-extra #20190921.1 Run Test Pri1 Linux x64 checked](https://dev.azure.com/dnceng/public/_build/results?buildId=362555)

**Detail:**
https://helix.dot.net/api/2019-06-17/jobs/33f311ea-f13e-4a4b-b154-2e287ffb82ff/workitems/baseservices.threading/console

**OS & Arch:**
Linux x64

**Mode:**
COMPlus_TieredCompilation=0
COMPlus_DbgEnableMiniDump=1
COMPlus_DbgMiniDumpName=$HELI

[2019-09-23 02:01] vijayrkn commented on #26822
If you add msbuild verbose logging, does it show any more error details?

[2019-09-23 02:12] VincentBu opened #26828 "Test failed: Interop\ICustomMarshaler\Primitives\ICustomMarshaler\ICustomMarshaler.cmd"
**Job:**
[coreclr-gcstress-extra #20190921.1 Run Test Pri1 Windows_NT x86 checked](https://dev.azure.com/dnceng/public/_build/results?buildId=362555)

**Detail:**
https://helix.dot.net/api/2019-06-17/jobs/8572fc02-46fb-4e52-9844-83d3f796f345/workitems/Interop/console

**OS & Arch:**
windows x86

**Mode:**
COMPlus_TieredCompilation=0
COMPlus_GCStress=0xC
COMPlus_JitStress=2
COMPlus_ReadyToRun=0
COM

[2019-09-23 02:35] fawdlstty commented on #26822
I haven't tried it. Maybe I'll have time to try it tonight

[2019-09-23 02:37] VincentBu commented on #25960
**Job:**
[coreclr-jitstress #20190921.1 Run Test Pri1 Windows_NT x64 checked](https://dev.azure.com/dnceng/public/_build/results?buildId=362662)

**Detail:**
https://helix.dot.net/api/2019-06-17/jobs/a9128218-717e-4097-a87a-f3ad9e76a167/workitems/Interop/console

**OS & Arch:**
windows x64

**Mode:**
COMPlus_TieredCompilation=0
COMPlus_TailcallStress=1

**Note:**
This failure repros on our windows

[2019-09-23 02:49] VincentBu opened #26829 "Assert failure: Compiler optimization assumption invalid: FAILED: pMgr != 0"
**Job:**
[coreclr-jitstress #20190921.1 Run Test Pri1 Windows_NT x86 checked](https://dev.azure.com/dnceng/public/_build/results?buildId=362662)

**Detail:**
https://helix.dot.net/api/2019-06-17/jobs/e35e1939-a599-4b7e-8d5d-a57693e3262e/workitems/JIT.Regression/console

**OS & Arch:**
windows x86

**Mode:**
COMPlus_TieredCompilation=0
COMPlus_TailcallStress=1

**Note:**
This failure **repro** on o

[2019-09-23 03:40] jakobbotsch commented on #25960
@BruceForstall the stack trace from the newest occurrence makes me believe this is a duplicate of #26311. More details over in #26818.

[2019-09-23 03:54] BruceForstall commented on #25769
@echesakovMSFT Is it worth keeping this issue? Did you repro? Is it still failing in CI (or disabled)?

[2019-09-23 03:58] BruceForstall commented on #25847
Given that it's extremely difficult to add a new CIL opcode, and there's no evidence (though perhaps no investigation) that the JIT is not already generating good code, I'm going to close this issue.

[2019-09-23 03:58] #25847 closed

[2019-09-23 03:59] BruceForstall commented on #25877
@adamsitnik Could you check this again?

[2019-09-23 04:08] BruceForstall commented on #25949
Since there is nothing actionable here, I'm going to close this. If we choose to tackle Mono/RyuJIT differences, we should choose an appropriate mechanism (which might indeed by GitHub issues).

[2019-09-23 04:08] #25949 closed

[2019-09-23 04:31] adamsitnik commented on #16801
@BruceForstall after moving to the performance repo and BenchmarkDotNet we don't set the affinity anymore (for all benchmarks).

[2019-09-23 04:31] #16801 closed

[2019-09-23 04:34] adamsitnik commented on #25877
@tannergooding could you please re-run this benchmark on your AMD machine and share the results?

[code]

[2019-09-23 04:50] benaadams commented on #26281
@jaredpar hmm... I was hitting OOM quite a lot when compiling recently; turns out I was actually running out of memory and page file was set too low. Did take me a little while to workout why 😄

[2019-09-23 04:52] benaadams commented on #26281
@jaredpar hmm... I was hitting OOM quite a lot when compiling recently; turns out I was actually running out of commit space as page file was set too low. Did take me a little while to workout why 😄

[2019-09-23 04:52] BruceForstall commented on #26101
@jakobbotsch Did you fix the test yet?

[2019-09-23 05:06] BruceForstall commented on #26335
@jashook @mikedn Is it time to do this now?

[2019-09-23 05:08] BruceForstall commented on #26337
Related / semi-dup: https://github.com/dotnet/coreclr/issues/22093

[2019-09-23 05:14] BruceForstall commented on #23309
Closing as dup of #14890.

[2019-09-23 05:14] #23309 closed

[2019-09-23 05:17] mikedn commented on #26335
Yeah, the CI seems more stable these days. I'll get to it this week.

[2019-09-23 05:22] jakobbotsch commented on #26101
Yes, this can just be closed.

[2019-09-23 05:24] BruceForstall commented on #26555
I have no indication this is a codegen issue.

[2019-09-23 05:26] BruceForstall commented on #26555
@Maoni0 you indicate this test might fail in this way due to a low memory situation?

[2019-09-23 05:33] BruceForstall commented on #26673
Another tailcallstress failure?

cc @jashook @jakobbotsch

https://github.com/dotnet/coreclr/issues/25961

[2019-09-23 05:40] #26101 closed

[2019-09-23 05:45] evo01 opened #26830 "GC crashes application when using AssemblyBuilder"
Howdy,

I am using .NET Core 3.0, current preview release, and the following code crashes the application immediately.  It appears assemblies cannot be collected as if you get rid of the GC.Collect, and wait for the amount of memory being used to reach 160 MB, the application attempts to GC and it crashes then too.

[code]

[2019-09-23 06:01] BruceForstall commented on #26824
@AndyAyersMS @dotnet/jit-contrib

[2019-09-23 06:06] evo01 commented on #26830
It appears to be related to the collection of Generation 1, and I can always get it to occur after 15 garbage collects  when using Thread.Sleep(1000) after each loop iteration, but usually happens after 4-7 collections when not using Thread.Sleep().

[2019-09-23 06:13] BruceForstall commented on #26829
@jashook @jakobbotsch tailcall stress issue.

Related: https://github.com/dotnet/coreclr/issues/25961

[2019-09-23 12:30] MulleDK19 opened #26831 "Every method is JIT'ted twice in x64?"
Don't know if a bug, or some obscure feature, but it applies to both .NET Core 2.0 and .NET Framework all the way back to 2.0.

In x86, the first call to a method invokes a JIT stub through a function point. The stub compiles the method and replaces the function pointer with the address of the compiled code, then redirects to the compiled code. Any subsequent calls will jump directly to the alread

[2019-09-23 12:43] rayslava opened #26832 "Address Sanitizer support for native libraries"
We work on sanitization of whole Tizen OS and therefore try to cover as many code as we can with Address Sanitizer.

Currently we came to sanitization of native libraries which are used only by managed applications running on CoreCLR.

Currently we have setup of two parts:

1. Additional build of patched Address Sanitizer run-time with "switchable" interceptors.

2. Patched CoreCLR version with ch

[2019-09-23 12:47] alpencolt commented on #26832
cc @jkotas

[2019-09-23 13:14] fawdlstty commented on #26822
looks like ide bug
[code]

[2019-09-23 13:48] gbalykov commented on #26786
@sbomer do you have any updates on this?

[2019-09-23 13:53] Melchy opened #26833 "ValueType.Equals doesn't use bit comparsion"
ValueType.Equals() defined [here](https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/src/System/ValueType.cs) should compare bits of objects if the compared type doesn't contain any reference type. But it seems that it always uses reflection to check equality. (Corect behavior is described [here](https://docs.microsoft.com/dotnet/api/system.valuetype.equals).)

For example fo

[2019-09-23 14:19] fawdlstty commented on #26822
I adjusted the log to diagnose, but didn't show any more information

[2019-09-23 14:35] EgorBo commented on #26833
It's intentional, see https://github.com/dotnet/coreclr/pull/13164

[2019-09-23 15:23] MichalStrehovsky commented on #26633
Once fixes, we should undo #26834.

[2019-09-23 15:26] Pilchie commented on #26791
@AndriySvyryd ? Can you route?  Or if you want me to move this to the EF repo, let me know.

[2019-09-23 15:27] jkotas commented on #26833
The documentation needs updating

[2019-09-23 15:33] Joe4evr commented on #26831
This is likely the [Tiered JIT](https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/tiered-compilation.md) at work.

[2019-09-23 15:35] jkotas commented on #26831
Invoking the JIT compiler stub second time does not actually cause the method to be JITed second time. The system will quickly find that the method was JITed already and it will just use the existing JITed code.

The general design principle of .NET engine is to be lazy: do the work only once it is clear that it is worth doing it. Majority of methods in typical program execution are called exactly

[2019-09-23 15:35] #26831 closed

[2019-09-23 15:50] jkotas commented on #26830
cc @janvorli

[2019-09-23 15:50] jkotas commented on #26830
@evo01 Do you see this crash on Windows or Linux?

[2019-09-23 16:00] jeffschwMSFT commented on #25960
@jkoritzinsky can you help find the dump associated with this assert failure?  I would expect there to be one.  Thanks

[2019-09-23 16:10] rickswah commented on #17294
One more Upvote! there is a lot of PPC64LE and PPC64 server around the world using just Java or PHP for the main systems.. the world need .net for PowerPC!!! @NattyNarwhal do a really good job on Mono Project... but, there is some diffs. from .net core

[2019-09-23 16:23] BruceForstall commented on #26827
@kouvel

[2019-09-23 16:26] BruceForstall commented on #26828
@jashook can you see if this is a TailcallStress failure?

possibly related: https://github.com/dotnet/coreclr/issues/25961

cc @jakobbotsch

[2019-09-23 16:38] AaronRobinsonMSFT commented on #26832
@rayslava It would be helpful to see an example of the kind of change needed. The cost of implementing and maintaining the hooks would determine the acceptance of the work. This is something we should definitely consider and a small example would help quicken that decision on work.

[2019-09-23 16:39] AaronRobinsonMSFT commented on #26833
/cc @tannergooding

[2019-09-23 16:53] jeffschwMSFT commented on #26822
@fawdlstty can you file a VS Feedback item and link back to this issue?  I can help route the issue in that system.

[2019-09-23 17:09] jkotas commented on #26832
@rayslava Thank you for writing down this proposal.

If I understand this right, you would like to use the special ASAN allocator when managed code interop with unmanaged code, but keep using the regular allocator for the runtime itself.

Would it make sense to re-reroute all `malloc`/`free` done for interop (e.g. the calls to `Marshal.AllocHGlobal` / `Marshal.FreeHGlobal` or malloc/free calls don

[2019-09-23 17:14] tannergooding commented on #26833
Right, it isn't safe to assume that bitwise equality is valid for any two arbitrary structs.

There may be cases where two structs with different bitwise values are considered equal and even some cases (like floating-point NaN) where two bitwise equal values should be considered inequal.

The only safe thing for `System.ValueType` to do is invoke the appropriate `.Equals` method for each field.

[2019-09-23 17:15] echesakovMSFT commented on #25769
@BruceForstall I think we should close the issue. I don't see a similar failure in CI (according to Kusto) - if this starts happening again we can re-open/create a new issue

[2019-09-23 17:15] #25769 closed

[2019-09-23 17:32] josalem commented on #26761
Hmm, assuming that @ww898 is using the IPC server to start profiling, the error message  makes me think that a Named Pipe doesn't exist for that PID.  @ww898, could you try to repro this and then before attaching do `gci \\.\pipe\ | findstr dotnet`.  This will list all the available IPC pipes you can connect to.  They will have a name like `dotnet-diagnostic-<pid>`.  Try comparing the PIDs in that

[2019-09-23 17:40] Tustra commented on #17294
upvote

[2019-09-23 18:09] #26795 closed

[2019-09-23 18:42] Maoni0 commented on #26555
yes, I was suggesting that this is due to the situation the test was running in was changed which caused GCs to be induced when you are in the NoGC region. if you are not inducing GC yourself (which most likely you are not) this would be due to low memory situation inducing GCs. if you want to make sure the test that uses NoGC region to succeed you need to be sure that the test is not run in a way

[2019-09-23 19:09] #26826 closed

[2019-09-23 19:32] BruceForstall commented on #26555
@Maoni0 Can you look at this test? It's basically a GC test, despite living in the "JIT" directory, testing that various allocations end up in a particular GC generation/LOH. Is the test valid? Is it worthwhile keeping around?

All the tests in this directory are similar. E.g., dblarray1.cs states:
[code]

[2019-09-23 19:39] BruceForstall opened #26841 "Need documentation describing how to update the JIT-EE interface"
With the addition of crossgen2 to the build, updating the JIT-EE interface is considerably more complex. Before, it required updating the JIT-EE interface GUID, updating the JIT and VM code, and updating SuperPMI. Now, it requires updating crossgen2 as well.

This issue tracks creating a document to describe this, as mentioned here: https://github.com/dotnet/coreclr/pull/26418#issuecomment-5331877

[2019-09-23 20:14] ajaybhargavb opened #26844 "Directory.GetCurrentDirectory inconsistency between Windows and Mac"
Original issue: https://github.com/aspnet/AspNetCore-ManualTests/issues/22

**Repro steps:**
- mkdir consoleapp
- cd consoleapp
- `dotnet new console`
- Edit `Program.cs` to output `Directory.GetCurrentDirectory()`
- `dotnet publish -c release`
- Open the folder in Finder `/bin/release/netcoreapp3.0/publish`
- Double click `webapp`

Expected output:

`/Users/username/Github/temp/webapp/bin/release

[2019-09-23 20:15] sdmaclea opened #26842 "[Linux] Add initial perf jitdump support"
Linux uses the perf tools to profile application. The linux 4.10 kernel added support for a `perf` `jitdump` format.

It has allows better JIT support for perf. Specifically allowing adding:

- native code so `perf` can show disassembly of JIT functions.
- adding debug info to support source line annotation.
- adding unwind info to better support stack unwind.

I believe this will also allow us to

[2019-09-23 20:26] DrewScoggins commented on #16604
This should definitely be closed.

[2019-09-23 20:26] #16604 closed

[2019-09-23 20:27] DrewScoggins commented on #16605
We can also close this as well.

[2019-09-23 20:27] #16605 closed

[2019-09-23 20:28] jkotas commented on #26838
You are likely loading the same type twice.

[2019-09-23 20:35] Maoni0 commented on #26555
@PeterSolMS could you please take a look? you could just set a bp on GCHeap::GarbageCollect and see how it's triggered.

[2019-09-23 21:20] WillBuik commented on #18013
I want to share a quick update on this. The latest on the C++/CLI roadmap can be found on our C++ blog here: https://devblogs.microsoft.com/cppblog/the-future-of-cpp-cli-and-dotnet-core-3/

.NET Core support for C++/CLI is coming in .NET Core 3.1 which is shipping with Visual Studio 2019 16.4.

[2019-09-23 21:20] jkotas commented on #26844
This behavior is by design.

This is how the different operating system shells set the current directory. .NET Core does not try to override it.

[2019-09-23 21:20] #26844 closed

[2019-09-23 22:00] danmosemsft commented on #26825
Also reported here https://github.com/dotnet/coreclr/issues/25774

[2019-09-23 22:02] #26758 closed

[2019-09-23 22:05] tannergooding commented on #25877
[code]

[code]

[2019-09-23 22:53] GrabYourPitchforks opened #26845 "Span indexer doesn't elide bounds check when span initialized from an RVA static"
When a `ReadOnlySpan<byte>` is initialized from an RVA static, typical bounds check elision on the span's indexer doesn't take place as expected.

[code]

[code]

Note the `FetchFromRvaStatic` method has two bounds checks: the manual bounds check I wrote and the auto-generated bounds check from the indexer. The `FetchFromArgument` method only has the manual bounds check; the auto-generated bounds

[2019-09-23 22:54] jkoritzinsky commented on #25960
The dump is at https://helix.dot.net/api/2019-06-17/jobs/a9128218-717e-4097-a87a-f3ad9e76a167/workitems/Interop/files/CoreRun.exe.7104.dmp

You can find the instructions for how to find the dumps in dotnet/arcade at https://github.com/dotnet/arcade/blob/master/Documentation/Dumps/Dumps.md

[2019-09-23 22:56] Maoni0 opened #26846 "change the default of cpu group to be enabled on Windows"
historically the default has been disabled. in 3.0 by default we will use > 64 procs on linux since we got rid of the (simulated) cpu group concept there. we should change the default on windows to match this.
this includes changing the default for both GCCpuGroup and Thread_UseAllCpuGroups.

CC @janvorli

[2019-09-23 23:02] EgorBo commented on #26845
Sounds like `span.Length` was replaced with a const (5) and RangeCheck didn't realize it's actually `Length` but I might be wrong.

[2019-09-23 23:03] GrabYourPitchforks opened #26847 "Inefficient register allocation in simple method which dereferences a span"
[code]

[code]

In this code sample which utilizes a "single return from function" pattern, the local _retVal_ is stored in the `r8d` register instead of the `eax` register. This necessitates an additional `mov` instruction near the end of the method (L0014) to get the result into the correct return register. By using `r8` to hold the span reference and `eax` to hold the return value, we can elimi

[2019-09-23 23:22] jcapellman commented on #18013
Awesome news!  I have to admit the minute I saw the 16.4 Preview 1 become available I downloaded to recompile my C++/CLI component that has been keeping me in .NET 4.8.

[2019-09-23 23:35] davmason commented on #15136
Hi Everyone,

I recently opened #26762 to change how we deal with an attach profiler on shutdown. Currently on graceful process exit (i.e. the C# main exits normally) we issue a `ICorProfilerCallback::Shutdown` call and then release the profiler's COM object we hold on to, but we skip the callback and release on non-graceful shutdown.

This PR will change it so the runtime never releases the profi

[2019-09-23 23:54] briansull opened #26849 "Improve the the hoisting of loop invariant expressions that contain Constant ValueNumbers"

[2019-09-23 23:58] briansull commented on #26849
Also we can address:

[code]

[2019-09-24 00:31] eightcloud83 commented on #18013
https://devblogs.microsoft.com/cppblog/the-future-of-cpp-cli-and-dotnet-core-3/
The first public previews for C++/CLI are right around the corner. Visual Studio 2019 16.4 Preview 1

https://devblogs.microsoft.com/dotnet/announcing-net-core-3-0/
Windows Native Interop
Managed C++ and WinRT interop have partial support with .NET Core 3.0 and will be included with .NET Core 3.1.

[2019-09-24 00:37] Maoni0 commented on #26696
@mjsabby I've been OOF. yes let's work on the doc for this.
@tmds I would consider this a supported feature on Windows; on Linux it should work but we haven't done nearly as much testing there so I would consider it experimental there.

[2019-09-24 01:45] VincentBu commented on #26139
**Job:**
[coreclr-jitstress2-jitstressregs #20190922.1 Run Test Pri1 Windows_NT x64 checked](https://dev.azure.com/dnceng/public/_build/results?buildId=362794)

**Detail:**
https://helix.dot.net/api/2019-06-17/jobs/904d80c5-090c-4437-a9db-d56ee11a8b3f/workitems/Interop/console

**OS & Arch:**
windows x64

**Mode:**
COMPlus_TieredCompilation=0
COMPlus_JitStress=2
COMPlus_JitStressRegs=1

**Note:**

[2019-09-24 02:09] VincentBu opened #26851 "Test failed: JIT/SIMD/VectorMax_ro/VectorMax_ro.sh"
**Job:**
[coreclr-r2r-extra #20190922.1 Run Test Pri1 R2R Linux x64 checked](https://dev.azure.com/dnceng/public/_build/results?buildId=362899)

**Detail:**
https://helix.dot.net/api/2019-06-17/jobs/601d11ee-7c38-43d9-ade5-193ab5df5959/workitems/JIT/console

**OS & Arch:**
linux x64

**Mode:**
RunCrossGen=1
COMPlus_TieredCompilation=0
COMPlus_DbgEnableMiniDump=1
COMPlus_DbgMiniDumpName=$HELIX_DUMP

[2019-09-24 02:48] evo01 commented on #26830
Windows, using a surface book, on Windows 10.

The output window just says:

The program '[5248] ConsoleApp1.exe' has exited with code -1 (0xffffffff).

The framework is set to .NET 3.0, and the output type is set to Console Application.

**Project File Contents:**

[code]

**Program Contents:**

[code]

Let me take a screen shot of the error message.  I think all this means is an invalid argument

[2019-09-24 03:56] davidfowl commented on #26761
The named pipe here is an IIS implementation detail, nothing to do with event pipe

[2019-09-24 04:28] jkotas commented on #26830
This is actually a debugger crash. The program runs fine when you run it without debugger attached.

@dotnet/dotnet-diag Could you please take a look?

[2019-09-24 05:49] giordi91 opened #26852 "Issues comparing types from hosted .net core contexts in c++"
I am working on a project where I am hosting a .net core 3.0 context in my c++ application, trying to use c# as scripting language. The main idea is to bootstrap a high level c# class, and do all the heavy lifting inside there and minimize as much as possible c++ and c# interaction. Here is a structure of my project:

![Untitled Diagram(1)](https://user-images.githubusercontent.com/2525797/6546203

[2019-09-24 07:02] lsvMoretti commented on #26791
After getting help from a developer of Pomelo it was an issue with one of my dependencies.

See:

https://github.com/FabianTerhorst/coreclr-module/issues/58

This can be closed if you wisg

[2019-09-24 10:57] adamsitnik commented on #25877
@tannergooding thank you!

@BruceForstall  It was 2.5x slower, now the difference is now only 3%. It's a multithreaded benchmark so it's within the range of error. I am going to close it.

[2019-09-24 10:57] #25877 closed

[2019-09-24 11:44] giordi91 commented on #26852
I have been debugging more and I have also been working with this sample to try understand what is going.
https://github.com/dotnet/samples/tree/master/core/extensions/AppWithPlugin

This sample does exactcly what I am doing, by having a PluginBase library which implements the ICommand interface. That interface is implemented by each of the plugins and is used in the AppWithPlugin executable to fi

[2019-09-24 12:20] tmds commented on #26696
Thanks you for clarifying.

[2019-09-24 12:48] uffebjorklund opened #26857 "AssemblyLoadContext crash when collectible assembly use XmlSerializer"
When creating a collectible AssemblyLoadContext and then use `System.Xml.Serialization.XmlSerializer` inside of a collectible assembly you will get a crash.

I have a repro project: https://github.com/uffebjorklund/AssemblyLoadContextBug

Have tried a few different things
 - If creating the ALC as `collectible = false` there is no crash
 - If the `XmlSerializer` code is removed from the collectibl

[2019-09-24 13:43] vitek-karas commented on #26852
This is because the "plugin" is built with a direct project reference to the "base" assembly - which normally means it needs that assembly to work and thus the build system will make sure that it declares a dependency on it in the `.deps.json` (and it would also copy it to the build output of that classlib - which I can't verify based on the sample you shared).

The solution is to mark that projec

[2019-09-24 14:14] Pilchie commented on #26791
Thanks for getting back to us.  Closing.

[2019-09-24 14:14] #26791 closed

[2019-09-24 14:21] MichalStrehovsky opened #26859 "Remove System.CommandLine dependency"
System.CommandLine is a corefxlab package that got abandoned. We shouldn't use it in shipping products.

[2019-09-24 14:25] giordi91 commented on #26852
I just tried your solution unluckily does not seem to work. as I mentioned I am publishing all the dlls into a single folder:
https://user-images.githubusercontent.com/2525797/65508297-ce268580-dec7-11e9-9e06-531d15e3cb85.png

So true, the pluging won't copy it over but the main dll (BuiltinInit.dll) will. Is there a way to load everything in the "main" context and have dependencies being resolved

[2019-09-24 14:50] giordi91 commented on #26852
Alright, I took a step back and rebuilt the project from scratch in isolation (i shoved it in my engine project which is cmake based so I wanted something smaller, and clearer to reason about).

Doing that way I was able to make it to work. So to double check my understanding, dependencies that are shared by both the host and the plugin, should be loaded first by the host, and marked by the plugin

[2019-09-24 15:04] fawdlstty commented on #26822
This problem did not occur after the update 16.3.0 & .net core 3.0, so I decided to close issue

[2019-09-24 15:04] #26822 closed

[2019-09-24 15:27] sagebind commented on #24246
Here's a class I am using currently as a workaround for this:

[code]

And an example using it (in this case automating Photoshop):

[code]

[2019-09-24 15:38] giordi91 commented on #26852
As of now I removed the c++ hosting, just make the scope of the debugging smaller, so does not seem to make a difference if I ran a c# exe or hosted into c++. Thank you for your help! I am goint to try and get back to you

[2019-09-24 15:42] sdg002 opened #26861 ".NET Core 3.0 and plugin scenario - Assembly.LoadFrom fails when an older version of dependency assembly has already been loaded"
Hi All,
I had initially reported this issue under DOTNET/CORE repository. Since, I did not receive any response, I though I should verify if this issue belongs to DOTNET/COREFX.

## Original issue
[.NET Core 3.0 and plugin scenario - Assembly.LoadFrom fails when an older version of dependency assembly has already been loaded](https://github.com/dotnet/core/issues/3426)
I am happy to re-submit this

[2019-09-24 15:44] #26841 closed

[2019-09-24 16:02] vitek-karas commented on #26852
No problem at all - I'm super interested to know if/how you get it to work and what are the "hurdles" which make this hard. I didn't realize that the `.deps.json` bug is a big problem - mostly because I didn't really thought about a case where the plugin and the app would live in the same folder - just curious - why do you do it this way? Is it a "dependency injection" scenario, or you just like e

[2019-09-24 16:03] vitek-karas commented on #26852
And another - sort of unrelated question (if you can answer it): what is the scenario for hosting all of this from a C++ app? I find it interesting (in a good way) to have a C++ hosted app (so essentially already a plugin to a C++ app) which itself has other plugins again...

[2019-09-24 16:38] giordi91 commented on #26852
Unluckily I am still haveing issues. Now I changed the setup such that, the context.dll and base.dll are published in a core folder and the rest one level above.:

![image](https://user-images.githubusercontent.com/2525797/65531095-0f7f5b00-def1-11e9-9916-1837831a0d95.png)

So now they are separated, but it flat out fails to resolve the base.dll, It loads the script.dll fine, then when it iterates

[2019-09-24 16:44] sdmaclea commented on #26842
/cc @janvorli

[2019-09-24 16:44] sdg002 commented on #26861
Thanks so much for looking into this.

I replaced `Assembly.LoadFrom` with `Assembly.LoadFile` but this too fails to load dependency assembly Newtonsoft , which exists in the output folder of the Plugin due to `CopyLocalLockFileAssemblies`.

[code]

## Sample code
https://github.com/sdg002/MEFFwkCoreComparison
Project `ConsoleAppNetCoreAssemblyLoadFrom.csproj`

[2019-09-24 16:49] sdg002 commented on #26861
# AssemblyLoadContext

I tried using the `LoadFromAssembly` method of `AssemblyLoadContext` class. Same error as above.

[code]
## Error message

[2019-09-24 16:49] sdg002 commented on #26861
# AssemblyLoadContext

I tried using the `LoadFromAssembly` method of `AssemblyLoadContext` class. Same error as above.

[code]
## Error message

[2019-09-24 16:49] giordi91 commented on #26852
So to recap, the pure stand alone project, with no "publishing" involed seems to work, as long as I remove the reference from deps.json of the script.dll.
My other project involving publishing (as per screenshot) fails to load the base.dll dependency.

[2019-09-24 17:07] kbaladurin commented on #26788
Looks like this issue is related to https://github.com/dotnet/coreclr/pull/18574, `REGDISPLAY::GetEbpLocation` also returns `NULL` in this case.

[2019-09-24 17:53] cshung commented on #12093
In this comment, I would like to write about my findings on this issue. This is currently a work-in-progress and is by-no-means complete.

The comment is divided into three parts:

1. Repro Steps
2. Analysis
3. Next steps

# Repro Steps
To make investigation easy, I have created a branch [here](https://github.com/cshung/coreclr/tree/dev/andrewau/gc-info-bug-investigation).

The branch has a script

[2019-09-24 18:00] #26568 closed

[2019-09-24 18:11] AndyAyersMS commented on #26824
The jit currently won't inline any method that calls a generic virtual method (GVM). I'm not entirely sure why. This restriction may no longer be necessary, or perhaps can be relaxed for some cases.

In code that is performance sensitive, GVMs are usually avoided as calls to GVMs require special runtime support and have high runtime costs. But if everything is instantiated over value types like it

[2019-09-24 18:15] AndyAyersMS commented on #12093
This is a known issue, see #22558

There is no easy fix.

We may be able to do something targeted for this case, but it would need to happen early on, in the importer or the inliner.

[2019-09-24 18:30] briansull commented on #12093
Issue #22558 is about BuildTools

[2019-09-24 18:43] AndyAyersMS commented on #12093
Try #22838

[2019-09-24 18:57] AndyAyersMS commented on #26824
Also if you have a more complete example you can point me at, perhaps we can create a benchmark or something similar.

[2019-09-24 19:33] #7812 closed

[2019-09-24 19:39] vitek-karas opened #26864 "There's no way to call native library resolution on a specific AssemblyLoadContext"
Currently it's possible to create a "chain" of `AssemblyLoadContext` instances such that there's a `ParentALC` and `ChildALC`. `ChildALC` has a reference to `ParentALC` and every time the `ChildALC.Load` is called, if it can't resolve the assembly it falls back to parent by calling `ParentALC.LoadFromAssemblyName` (which will in turn call `ParentALC.Load` and so on).

It is not possible to do the

[2019-09-24 20:00] vitek-karas commented on #26852
I tested this in the sample - basically added a new plugin, which itself has other plugin (child). You can look at it here: https://github.com/vitek-karas/samples/tree/PluginWithPlugin

In the code you posted above I think the problem is in the hardcoded case, instead of calling `_parent.LoadFromAssemblyPath`, call `_parent.LoadFromAssemblyName`. But I'm not 100% sure it would fix the problem - bu

[2019-09-24 20:03] #17073 closed

[2019-09-24 20:03] #21247 closed

[2019-09-24 20:03] jashook opened #26865 "JIT\\Regression\\CLR-x86-JIT\\V1-M12-Beta2\\b79250\\b79250\\b79250.cmd fails in CI"
Looks like https://github.com/dotnet/coreclr/pull/26551 is the first commit that repros this.

@briansull

[2019-09-24 20:11] #26865 closed

[2019-09-24 20:47] am11 commented on #26859
It got abandoned, then subsequently re-emerged as a separate repo: https://github.com/dotnet/command-line-api/wiki/History

In addition to `System.CommandLine`, another interesting package produced by that repo is `System.CommandLine.DragonFruit`: https://github.com/dotnet/command-line-api/wiki/DragonFruit-overview (uses one-time reflection at startup, statically)

[2019-09-24 20:57] sbomer commented on #26786
@gbalykov Thanks for the instructions. After figuring out the right cross-build toolset to install, I was able to partially reproduce this.

The first failure shows up even before https://github.com/dotnet/coreclr/pull/26108 so it's not entirely due to the build changes - we're publishing the crossgen with the RID determined by the build scripts, which I take it isn't expected to work for tizen. @

[2019-09-24 21:25] CarolEidt commented on #26729
I'm relatively familiar with the ABI considerations that cause morph to create temps, but I hadn't realized that the importer did similar things - I thought it was all about preserving the "pass by value" semantics. What kinds of ABI considerations are leaking into the inlininer/importer? Is it something beyond a sort of "copy on write" semantic?

[2019-09-24 21:26] jakobbotsch commented on #26729
One thing is the treatment of retbufs.

[2019-09-24 22:09] ViktorHofer opened #26870 "ExplicitlyCallOperator CSharp test causes Internal CLR error"
https://dev.azure.com/dnceng/public/_build/results?buildId=364862&view=ms.vss-test-web.build-test-results-tab&runId=11034910&resultId=179112&paneView=attachments

Configuration: netcoreapp-Windows_NT-Release-x86-Windows.7.Amd64.Open

**A dump is available**

[code]

cc @cston, @333fred, @ericstj, @stephentoub

[2019-09-24 22:40] AndyAyersMS commented on #26859
I started in on this a while back (using https://github.com/dotnet/command-line-api) -- see this [branch](https://github.com/AndyAyersMS/coreclr/tree/R2RDumpNewCommandLine), but it's not a mechanical change, and you have to also fix all the usages in all the tools in one go to avoid conflicts.

Also, for jit devs we need to fix jitutils more or less in lockstep. I also started on this ([branch](ht

[2019-09-24 22:50] AndyAyersMS commented on #26729
Right ... also see for instance the multi-reg case in `fgUpdateInlineReturnExpressionPlaceHolder` (via `fgAssignStructInlineeToVar`) and `impAssignSmallStructTypeToVar` for handling the 3, 5, 6, 7 byte struct returns...

The handling around when we map the logical arg/return types to their ABI counterparts is complex and when we expose it early it creates challenges. Eg for inline candidates we ha

[2019-09-24 23:11] jkotas commented on #25821
It may be also interesting to look at [Pressure Stall Information](https://www.kernel.org/doc/html/latest/accounting/psi.html)

[2019-09-25 00:12] danmosemsft commented on #26870
I think it's pretty cool that the dump was linked from the test failure, and symbols resolved correctly from symbol server.

[2019-09-25 00:44] 303248153 opened #26873 ".NET Core 3.0 RTM Freeze on Ubuntu 16.04"
Today I installed .NET Core 3.0 RTM (3.0.100) on my ubuntu 16.04.6 x86-64 vps, when I trying to build a hello world console project, the dotnet process with following arguments freeze:

[code]

The previous version (.NET Core 2.2) doesn't have this issue.

Then I trying to build coreclr from source to find why it happends.
I clone coreclr repository, checkout release/3.1 branch, then run build.sh,

[2019-09-25 00:54] 303248153 commented on #26873
Looks like a gc bug, most threads are waiting for gc done (enter cooperative mode), but the gc thread is blocking at ThreadSuspend::SuspendRuntime.

[2019-09-25 01:31] sdmaclea opened #26874 "Linux build.sh failing with segmentation fault in crossgen using COMPlus_LogEnable"
Linux amd64 build failing with `COMPlus_LogEnable=1`...

Ubuntu 16.04
[code]
[code]

[code]
Called by this macro invocation:
https://github.com/dotnet/coreclr/blob/d0b65d12cc9d692b2f78062fa9621a120470afbd/src/vm/methodtable.cpp#L2443-L2444

The var arg arguments are incorrect.

[2019-09-25 03:36] evo01 commented on #26830
Thank you for the explanation and for the fast feedback and response.

[2019-09-25 05:05] adamsitnik commented on #26842
Is this going to help with https://github.com/dotnet/coreclr/issues/25965 ?

/cc @damageboy

[2019-09-25 05:27] jkotas commented on #26873
Thank you for collecting the dump and stack traces. The problem is Thread 10:

[code]

This thread is in cooperative mode and the GC is waiting for it to get to a safe spot. Would you be able to find out why it is not making progress? Is it stuck spinning inside `ThreadpoolMgr::GetRecycledMemory` ?

[2019-09-25 06:16] AriNuer opened #26877 "Assert failure(PID 5640 [0x00001608], Thread: 3936 [0x0f60]): !"About to FailFast. set ComPlus_AssertOnFailFast=0 if this is expected""
**Job:**
coreclr-corefx: [#20190924.1 Run Test Pri1 CoreFX Windows_NT x86 checked](https://dnceng.visualstudio.com/public/_build/results?buildId=364181)

**Details:**
https://helix.dot.net/api/2019-06-17/jobs/1251ceea-ddad-47e1-ad0a-4a3266d8af9e/workitems/System.Runtime.Tests/console

**OS & Arch:**
Windows x86

**Note:**
This failure **repro** on our windows x86 machine.

**Log:**
[code]

[2019-09-25 06:21] kolyana opened #26878 "Could not load type 'Microsoft.AspNetCore.Mvc.Internal.ActionConstraintCache' from assembly 'Microsoft.AspNetCore.Mvc.Core, Version=3.0.0.0"
Hello guys, i'm getting this exception when starting to reference netstandard2.0 library(custom) to created from template .netcore3.0 API project.

Code usage

[code]

Target
[code]

Custom netstandard2.0 lib
[code]

Exception

[code]

[2019-09-25 06:34] AriNuer commented on #26122
**Job:**
[coreclr-corefx-jitstress2-jitstressregs #20190924.1](https://dnceng.visualstudio.com/public/_build/results?buildId=364155)

**Details:**
https://helix.dot.net/api/2019-06-17/jobs/fd17e1b6-4af5-4532-9661-93c78368be88/workitems/System.Reflection.MetadataLoadContext.Tests/console

**OS & Arch:**
Windows x64

**Mode:**
set COMPlus_TieredCompilation=0
set COMPlus_JitStress=2
set COMPlus_JitSt

[2019-09-25 06:36] jkotas commented on #26870
This is race condition in `FindVolatileEntryByHash`. We are using old bucket array with a new `m_cWarmBuckets`. There is nothing that guarantees the order at this line:
[code]

@sergiy-k Could you please assign this? This is one of those bugs that gets exposed by compiler updates. This is candidate for 3.1 backport.

[2019-09-25 06:52] AriNuer opened #26879 "System.Net.HttpListener.Tests failure in CoreFX"
**Job:**
[coreclr-corefx-jitstress2-jitstressregs: #20190924.1](https://dnceng.visualstudio.com/public/_build/results?buildId=364155)

**Details:**
https://helix.dot.net/api/2019-06-17/jobs/5e5765f9-a036-4e33-8a3d-43ba8278921f/workitems/System.Net.HttpListener.Tests/console

**OS & Arch:**
Windows x86

**Mode:**
set COMPlus_TieredCompilation=0
set COMPlus_JitStress=2
set COMPlus_JitStressRegs=1

*

[2019-09-25 07:26] damageboy commented on #26842
@adamsitnik I definitely think so!

@sdmaclea I noticed you self-asssigned this.
Does this mean you will be working on this or is this "up for grabs"?

[2019-09-25 07:46] giordi91 commented on #26852
I have a stand alone project where if you have the entry in deps.json it wont work:
https://1drv.ms/u/s!Ai0n7iKmKMz0gtNO8cyncrn5qWfX_w?e=Sx0TCb

You shoudl be able todo a clean compile and run you will see does not find any plugins in the lib, instead if you go in the bin directory of TestLIb and delete:
[code]

From deps.json then it works. Which is different from the behavior I am seeing in the

[2019-09-25 07:49] ArtBlnd commented on #26845
I Agree, but it also seems odd.
[code]

The same range check on the same place is not folded. if the bound check is evaluated for some reason(evaluated length to const (5)) before its phase, The condition should be folded.

I'll take a close to look.

[2019-09-25 08:16] neyromant opened #26880 "EventListener does not receive events from RuntimeEventSource until dotnet-counters is explicitly started"
Hi.
I wrote simple code for in-proc receive stat events from [RuntimeEventSource](https://github.com/dotnet/coreclr/blob/release/3.0/src/System.Private.CoreLib/src/System/Diagnostics/Eventing/RuntimeEventSource.cs)
[code]
[code]

The problem: OnEventWritten calls only if I run 'dotnet-counters' tool for this console app.

Can I subscribe to RuntimeEventSource events from my application to get the

[2019-09-25 08:32] MichalStrehovsky commented on #26786
We need to produce a tool that is runnable at testing time. The other tools produced as part of BuildManagedTools don't run as part of test execution - we just produce a DLL and everyone is supposed to ensure they have a `dotnet` that can execute it if they need to do that.

Yes, I don't think anyone is going to run a compiler on a TV/phone. It makes little sense to publish it for Tizen.

[2019-09-25 08:32] 303248153 commented on #26873
I was able to reproduce the problem by copying a custom built coreclr (tag v3.0.0) to .dotnet/shared/Microsoft.NETCore.App/3.0.0-preview6-27804-01 and run ./build.sh.

When use release build, gdb gives following frames when freeze occurs (see thread 14, looks like the same location cause this problem):

[code]

When using debug build, some assertion failed instead of freeze:

[code]

[2019-09-25 08:46] noahfalk commented on #26880
@sywhang can you help here?

Yep! A quick answer that might be enough, try this:

[code]

That last argument tells the counters how frequently you want them trigger.

[2019-09-25 08:48] MichalStrehovsky commented on #26859
Thanks! I guess I should have been more clear that this is for crossgen2. Milestone 5.0 definitely doesn't apply to r2rdump (we should migrate off it, but since we don't ship r2rdump, there's no rush).

It's not clear at this point whether we can use the new System.CommandLine (relying on external NuGet package might have implications for source build - crossgen2 will need to be buildable with sou

[2019-09-25 08:56] neyromant commented on #26880
It works! Thank you very match!

[2019-09-25 08:56] #26880 closed

[2019-09-25 09:09] vitek-karas commented on #26852
Thanks for sharing the project.
I tried it an at first it also failed, but then I noticed it has `base.dll` in the `TestLib` output. Deleting the output directory and rebuilding (from VS) fixed it and it worked just fine. (I don't understand why Rebuilding the `TestLib` doesn't remove the file, but that is a separate issue).

Then I also tried the other approach - I left the file there, I changed

[2019-09-25 09:48] giordi91 commented on #26852
Yes that was my original "fix" but that should also work if we use instead of "return null" we use LoadFromAseemblyName() that seems to work in my project.
Now my question here becomes ... how is this going to scale?
Is this only a issue for shared libraries with the context or even if plugins share libraries among each other?

Let me give an example. Given plugin A and B, those plugins link again

[2019-09-25 10:10] vitek-karas commented on #26852
In the "app hosted by C++ loading plugin", the `return null` needs to be replaced with `return _parent.LoadFromAssemblyName`.

As for the sharing between plugins, you're basically right. There's no automatic sharing, if you want/need one, it needs to be explicitly coded in the custom load context.

The exact solution obviously depends on the scenario
* If you need to load the plugins in isolation

[2019-09-25 10:15] zeroskyx opened #26881 "Determine whether a running app is "PublishSingleFile" or not"
Greetings,

using the new PublishSingleFile feature in .NET Core 3, is it possible to determine during runtime whether the running application is a PublishSingleFile-app or not?

Thanks in advance
-Simon

[2019-09-25 10:25] giordi91 commented on #26852
Thank you that starts to make a lot more sense, Ideally I don't need isolation, the only times I see possible conflict is if plugins use different libraries version of the same lib. Realistically that is not the real use case.
So my question is, is there any way I can load everything in the main context and have the resolver resolving my dependencies? I tried to use the default one but that does n

[2019-09-25 10:35] vitek-karas commented on #26852
You can customize the default context as well - although slightly differently. You can add a handler to [`AssemblyDependencyResolver.Resolving`](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.loader.assemblyloadcontext.resolving?view=netcore-2.2) - it is called when the context doesn't know how to resolve the request. For many plugins you can have multiple instances of `AssemblyDepdene

[2019-09-25 10:41] giordi91 commented on #26852
I see thank you very much, makes sense, I really want this to work but if goes out of hand might have to look for different solutions. I am scared of what happens if I try to run this on Linux for example.

If you don't mind to keep this issue open for an extra couple of days to see where I end up.

[2019-09-25 11:53] vitek-karas commented on #26852
Linux - this should work exactly the same on all platforms... if you do find a difference, definitely let us know.

[2019-09-25 13:10] viewizard opened #26882 "[RyuJIT/ARM32] low performance compared to amd64 investigation, data memory barrier usage."
Initial thread was started by @alpencolt #23520
Initial performance test results generated by @alpencolt
https://gist.github.com/alpencolt/0580af0be86e49bb9d89508dabcd8615

During arm32 performance investigation we found, that the one of the point of performance degradation is data memory barrier usage. Note, that in case of arm32 we use it for volatile variables, plus, it present in atomic memory

[2019-09-25 13:50] jkotas commented on #26877
Fixed by https://github.com/dotnet/coreclr/pull/26860

[2019-09-25 14:15] klesta490 opened #26883 "[Linux] Segfault when AssemblyBuilder.DefineDynamicAssembly and PerfMap"
Hi!
When I build app with final **.NET Core v3.0.0** and run it with
`COMPlus_PerfMapEnabled=1`

[code]

I get instantly **Segmentation faul**t.

It seems it is working fine on Preview9 (I was not testing any other versions).

It migh be related to [Link](https://github.com/dotnet/coreclr/issues/26830)

Fun fact,
with `COMPlus_PerfMapEnabled=1`
I get segfault for

`dotnet new console`
`dotnet tool

[2019-09-25 14:44] gbalykov commented on #26786
@sbomer our main problem is with tests building, which we can't do right now. `crossgen2` build fail is not a big issue yet. I attach full build log, which we get, (this is on the newest master):
[code]

We are interested in building CoreCLR/CoreFX tests using build.sh, but we launch them separately from build.sh/msbuild.

[2019-09-25 15:08] rdtek opened #26894 "Fast memory allocation and zero initialisation"
# Fast memory allocation and zero initialisation

Is there a fast way to allocate and zero initialise a large block of memory using .Net Core?

Looking for a solution that works on both Windows and Linux platforms.

It seems the fastest method on Windows is to call kernel32 HeapAlloc function via PInvoke, this allocates and zeros a 1GB block of memory in less than 2 milliseconds.

However, I haven

[2019-09-25 15:49] jkotas commented on #26873
CoreCLR is coupled with the rest of the stack. Tag v3.0.0 and preview6 are many months apart. It is quite possible that CoreCLR from v3.0.0 tag is not compatible with preview6 and the crashes you are seeing are caused by mismatched bits. Are you able to reproduce the problems with exactly matching bits?

Any change you can get this under debugger and capture the stacktrace of the crash?

[2019-09-25 15:53] sergiy-k commented on #26870
@fadimounir, could you please take a look?

[2019-09-25 15:57] jashook commented on #26786
@gbalykov is there a package being published for corefx with the RID tizen.5.5.0-armel? /cc @safern

[2019-09-25 15:59] jashook commented on #26786
Also I know there was work ongoing to hook up some sort of CI for tizen. Until this is done, I expect Tizen to break more often. Generally we modify our build infrastructure after we ship, which I expect to be disruptive to anything we are not explicitly covering in the lab.

[2019-09-25 16:45] Pilchie opened #26890 "ArgumentException due to incompatible delegate type when COMPlus_EnableEventLog set on Linux"
_From @mjrousos on Tuesday, September 24, 2019 5:33:20 PM_

### Describe the bug
On Linux, no requests can be served if the COMPlus_EnableEventLog variable is set. The following exception is thrown:

[code]

The COMPlus_EnableEventLog variable is needed for some diagnostic scenarios such as gathering system events with PerfCollect.

### To Reproduce
Steps to reproduce the behavior:
1. Using ASP.NE

[2019-09-25 16:45] Pilchie commented on #26890
_From @Pilchie on Tuesday, September 24, 2019 10:24:07 PM_

@davidfowl - is this our event tracing stuff, or something that should be in the core repo?

[2019-09-25 16:45] Pilchie commented on #26890
_From @davidfowl on Wednesday, September 25, 2019 5:32:01 AM_

Looks like corefx. I can reproduce the issue. cc @noahfalk

[2019-09-25 16:45] Pilchie commented on #26890
_From @davidfowl on Wednesday, September 25, 2019 5:35:21 AM_

I can also reproduce the issue with dotnet trace:

[code]

It's not a linux specific issue

[2019-09-25 16:45] Pilchie commented on #26890
_From @noahfalk on Wednesday, September 25, 2019 8:15:34 AM_

@josalem - can you take a look at this?

@mjrousos - could you check if you have any other COMPLUS_ environment variables set? It is surprising that DiagnosticSourceEventSource would activate if COMPLUS_EventSourceFilter wasn't also set. However regardless of what is going on @josalem can help you get to the bottom of it.

[2019-09-25 16:45] gbalykov commented on #26786
We do not publish tizen specific packages right now. Previously, tests build was ok with this, and we used ubuntu nuget packages with tizen rootfs (on x64 ubuntu host). Can it be done the same way, i.e. explicitly passing ubuntu to some option in build.sh/msbuild?

[2019-09-25 16:45] Pilchie commented on #26890
_From @mjrousos on Wednesday, September 25, 2019 1:18:48 PM_

@davidfowl is right that this repros on Windows, too, using `dotnet trace`. Interestingly, I didn't spot that at first because setting COMPlus_EnableEventLog alone *doesn't* trigger this issue on Windows. I double-checked on Linux, though, and that's the only COMPlus_ variable set and I still see this, even without `dotnet trace` runnin

[2019-09-25 16:49] sdmaclea commented on #26842
I am debugging a draft patch to implement the `JIT_CODE_LOAD records`. I plan to create a WIP PR today.

The current patch allows annotating the disassembly of the JITted functions.

I will start looking ar the ReadyToRun functions soon.

I don't plan to add the JIT_DEBUG_INFO or JIT_CODE_UNWINDING_INFO records yet, so that would be "up for grabs".

[2019-09-25 16:52] jkotas commented on #26890
Related: https://github.com/dotnet/corefx/issues/30697

[2019-09-25 17:02] jkotas commented on #26878
Try deleting `<PackageReference Include="Microsoft.AspNetCore.Mvc.Core" Version="2.2.5" />` from your app .csproj. The ASP.NET projects get this reference by default in .NET Core 3.0. Explicitly referencing 2.2.5 in your .csproj is downgrading this package to 2.2 version that is not compatible with 3.0.

[2019-09-25 17:08] josalem commented on #26890
Taking a look at this, this morning.  Based on the issue that JanK linked, it looks like this is potentially not a 3.0 regression.  Might be related to this change: aspnet/AspNetCore#11730

[2019-09-25 17:25] jkotas commented on #26881
Could you please share with us what you would like to use this for?

We plan to evolve how the single file publishing works for .NET 5. For example, we have a plan to stop extracting the managed binaries to %TEMP% and load them directly from the single file binary directly instead (more details in https://github.com/dotnet/designs/blob/master/accepted/single-file/design.md). We would like to make

[2019-09-25 17:35] scalablecory commented on #26894
I'd be curious to know the scenario where allocating a 1GB block is a bottleneck. Even if it does take 800ms, how frequently would you need to do this?

How quickly does `new byte[1024 * 1024 * 1024] run?

[2019-09-25 17:36] EgorBo commented on #26894
[code]
If you need to zero a block you need `Unsafe.InitBlockUnaligned` (~  memset)

[2019-09-25 17:54] tarekgh commented on #26479
This is done!

[2019-09-25 17:54] #26479 closed

[2019-09-25 18:51] jkotas commented on #26894
You are not measuring the true cost of the operation. The Windows API you have used will just reserve the memory for you, without actually giving it to your process. You will pay the actual cost of zeroing the memory on demand.

The cross-platform way to achieve the same effect via .NET APIs is using anonymous memory mappings. Try this:

[code]

[2019-09-25 18:54] jkotas commented on #26894
BTW: Zeroing 1GB block of memory in less than 2 miliseconds would need 500GB+/s memory bandwidth. The typical memory bandwidth you get per core is about 100x smaller.

[2019-09-25 18:55] #26894 closed

[2019-09-25 18:57] danmosemsft opened #26896 "Improve Find References/Go To Definition experience in VS Code for VM code"
I added a `.vscode/c_cpp_properties.json` in https://github.com/dotnet/coreclr/pull/24540 to get better Go To Definition in VS Code in the VM code.

Unfortunately this required pasting in lots of include paths and defines that would be better to be discovered from the build process.

It looks like VS Code support CMAKE  "compile commands" may allow us to achieve that:
https://cmake.org/cmake/help/

[2019-09-25 18:58] damageboy commented on #26842
@sdmaclea Very cool!

I'd love to test this out if you feel like sharing a branch at some point.

I might also look into the JIT_DEBUG_INFO records, I've peeked around CoreCLR code previously around the internal representation, would be interesting to see if I could pull that off :)

[2019-09-25 19:37] karelz commented on #26883
@janvorli @jkotas any thoughts?
@klesta490 does it happen on more than 1 machine? This is highly suspicious.

[2019-09-25 19:38] karelz commented on #26883
Cc @noahfalk

[2019-09-25 20:05] #26139 closed

[2019-09-25 20:40] josalem commented on #26890
I have a simplified repro and some hunches as to what's going on:
<details>
    <summary>minimal repro (click to expand)</summary>

[code]
</details>

The code-gen in `DiagnosticSourceEventSource` is generating a delegate to fetch the implicit property `Item` on the `EventData` class, but the signature of the generated getter delegate doesn't match the defined method.  Investigating further...

[2019-09-25 20:51] jkotas commented on #26883
Plain vanilla bug in the PerfMap implementation.

It is 100% repro.

[2019-09-25 20:59] jkotas commented on #26883
Likely introduced by https://github.com/dotnet/coreclr/pull/26403

cc @brianrob

[2019-09-25 21:11] sdmaclea commented on #26842
@damageboy Thanks for the offer to help.  I uploaded #26897, additional debugging would be helpful.

[2019-09-25 21:16] danmosemsft commented on #26883
I set 3.0.x so it doesn't get lost, feel free to change.

[2019-09-25 21:44] EgorBo commented on #26845
@ArtBlnd
A quick fix is to keep `GT_ARR_LENGTH` always but it will break cases like:
[code]
A proper fix is complicated I guess, e.g. it should handle cases like:
[code]

[2019-09-25 22:24] josalem commented on #26890
An even simpler repro and a root cause:

<details>
    <summary>repro (click to expand)</summary>

---
Attach `dotnet trace` to this app and turn on the `Microsoft-Diagnostics-DiagnosticSource` provider.

[code]
---
</details>

### Root Cause of Exception:
The `Item` property on `IEnumerable` takes an argument, and `DiagnosticSourceEventSource` makes the assumption that property getters don't take

[2019-09-25 23:12] jashook commented on #26786
I do not believe this has changed.

[2019-09-25 23:14] jashook commented on #26786
Either way, the larger issue remains unanswered, today this failure can be fixed, but I have an expectation that without Tizen coverage this will be broken again in the near future. /cc @richlander   @mmitche

[2019-09-25 23:14] jashook commented on #26786
Assigning to me for now. However, I would like to get an idea of when/how we will avoid breaks in the future.

[2019-09-25 23:31] erozenfeld commented on #25481
Looks like the issue that was initially blocking the switch has been fixed. Is anything else blocking the switch to VS2019?

[2019-09-25 23:51] josalem commented on #26890
I think I've pinpointed what's causing `DiagnosticSourceEventSource` to get turned on when `COMPlus_EnableEventLog` is turned on:

The following is invoked during EE bringup
https://github.com/dotnet/coreclr/blob/6ab02e1cc487c64fb733fbb9d1be653337691aff/src/inc/eventtracebase.h#L463-L493

On Line 477, the call to `XplatEventLoggerController::ActivateAllKeywordsOfAllProviders()` will happen if ther

[2019-09-26 00:31] brianrob commented on #26883
Yup, this was caused by #26403.  I am working on a fix.

[2019-09-26 00:33] sywhang commented on #26890
@josalem No, that call is just for internal runtime providers that are defined by the `clretwall.man` manifest file. The part of the code you're looking at is some of the code I added to enable filtering LTTng events for runtime events. If nothing is specified for that environment variable, that will go on and turn on the LTTng specific trace context that we use so that we don't *disable* anything

[2019-09-26 01:09] kamronbatman commented on #25623
@Symbai
How would we get this for linux/mac in the meanwhile?

[2019-09-26 01:54] VincentBu opened #26901 "Test failed: readytorun\tests\mainv2\mainv2.cmd"
**Job:**
[coreclr-outerloop #20190925.5 Run Test Pri1 R2R Windows_NT arm checked](https://dev.azure.com/dnceng/public/_build/results?buildId=366103)

**Detail:**
https://helix.dot.net/api/2019-06-17/jobs/8575ec0e-9d36-4c88-a1e7-c4856b46c287/workitems/PayloadGroup0/console

**OS & Arch:**
windows arm

**Mode:**
RunCrossGen=1
COMPlus_TieredCompilation=0

**Log:**
[code]

[2019-09-26 02:16] AriNuer opened #26902 "About to FailFast. set ComPlus_AssertOnFailFast=0 if this is expected"

[2019-09-26 02:16] #26902 closed

[2019-09-26 04:03] #26687 closed

[2019-09-26 06:14] 303248153 commented on #26873
After I set tools.dotnet to "3.0.100", and overwrite custom built coreclr to .dotnet/shared/Microsoft.NETCore.App/3.0.0, no assertion failure occurs, both debug and release build will just freeze. Looks like you're right about the mismatched bits.

To invesgate the freeze issue, I modify `src/vm/win32threadpool.h` to make it output messages around acquire and release operation:

[code]

Then I saw

[2019-09-26 06:24] eightcloud83 commented on #18013
I cannot find  options to  create project using C++/CLI with .net Core with 16.4 Preview 1..
Seems need to wait  16.4 Preview 2,3...

Replied @ https://devblogs.microsoft.com/cppblog/the-future-of-cpp-cli-and-dotnet-core-3/
Will Buik September 25, 2019 9:57 pm
We are **still working on the IDE and MSBuild integration**, so I can’t share a sample project quite yet. Once it’s available, likely with

[2019-09-26 07:26] 303248153 commented on #26873
After add address of `this` to message:

[code]

so some thread using RecycledListInfo instance at incorrect memory address?

[2019-09-26 07:39] catlion commented on #20287
Hey there, thanks for your hard work!

How are config files (App.config for example) are supposed to be distributed? I've just built a console app on RHEL 7.6 with the exact command: `dotnet publish --no-build --self-contained -c Release -r win-x64 /p:PublishSingleFile=true -o ./publish ./SomeDir/SomeProj.csproj` and got 2 files as the result: `SomeProj.exe` and `SomeProj.pdb`, but not `SomeProj.c

[2019-09-26 08:09] 303248153 commented on #26873
The reason is `sched_getcpu()` may return a value greater than or equal to `CPU_COUNT(&cpuSet)` on my ubuntu 16.04 vps which using openvz.

I wrote a simple c program to verify it:

[code]

output:

[code]

In .NET Core 2.2, GetRecycleMemoryInfo will use `GetCurrentProcessorNumber()%NumberOfProcessors` for both windows and pal, but in .NET Core 3.0, GetRecycleMemoryInfo will only use GetCurrentPro

[2019-09-26 13:01] pr8x opened #26907 "Fix corrupted mini-dumps on Windows that VS can not load"
I am hosting a dotnet module inside my native C++ application and use google breakpad to generate minidumps. I noticed that only `MiniDumpWithFullMemory` seems to be useful for getting proper managed stacks. Some of these dumps can get quite big however. I was wondering if you guys have some clue on reducing the size a bit. Exporting "every readable page in the process" seems quite extreme.
http:/

[2019-09-26 15:05] jeffschwMSFT commented on #25623
@swaroop-sridhar

[2019-09-26 15:14] jeffschwMSFT commented on #20287
@catlion to have the default behavior for *.config files, they should be excluded from the bundle.  By default all non pdb files are included in the bundle.
The following will exclude the config from the single file:
[code]
https://github.com/dotnet/designs/blob/master/accepted/single-file/design.md#build-system-interface

[2019-09-26 15:17] jkotas commented on #26873
Yes, that would be great! Thank you a lot for tracking this down.

cc @janvorli  Regression introduced by #23824

[2019-09-26 17:06] #26788 closed

[2019-09-26 17:08] danmosemsft commented on #26883
cc @jeffschwMSFT for shiproom.

[2019-09-26 17:09] danmosemsft commented on #12093
@cshung I set milestone 3.0.x simply because it can't be 3.0 any more. If this isn't something we'd service for please set a different milestone.

[2019-09-26 17:10] danmosemsft commented on #26471
I set milestone 3.0.x simply because it can't be 3.0 any more. If this isn't something we'd service for please set a different milestone.

[2019-09-26 17:13] AndyAyersMS commented on #12093
Crossgen2 is not a 3.x thing, seems like this should be 5.x or future.

[2019-09-26 18:44] jkotas commented on #25481
The fix has issues https://github.com/dotnet/corefx/pull/41280#issuecomment-535626074 . We should wait for the fix to propagate through the system and stabilize before the switch.

[2019-09-26 19:00] KevinCathcart commented on #26320
All Linux processes have a default linear heap controlled the `brk/sbrk` system calls. This is a holdover from the old days of a linear memory map. Like with most heaps, memory allocated here cannot always be released back to the OS, since even a single long lived or leaked allocation near the end would prevent reducing the size. The Linux kernel denotes this space as `[heap]`.

Glibc `malloc` can

[2019-09-26 19:31] jkotas commented on #26861
`Assembly.LoadFile` and `AssemblyLoadContext` do not look for the dependencies next to the assembly being loaded by default. To load dependencies next to the assembly being loaded, register `AppDomain.AssemblyResolve` event (it is the best option for Assembly.LoadFile) or register `AsssemblyLoadContext.Resolving` event.

Also, you may check this sample that shows how to do plugins with .NET Core:

[2019-09-26 19:35] swaroop-sridhar commented on #25623
@kamronbatman, you can use `Process.GetCurrentProcess().MainModule.FileName` as @jkotas suggested above,  which is platform independent.
Additionally, on linux/mac, you can call `dirname(readlink("/proc/self/exe", buffer, PATH_MAX))` via P/Invoke.

[2019-09-26 19:35] swaroop-sridhar commented on #25623
This issue is a dup of https://github.com/dotnet/core-setup/issues/7491

[2019-09-26 19:35] #25623 closed

[2019-09-26 20:36] mthalman commented on #26661
@RussKeldorph - You had handled this for Alpine 3.9 previously (https://github.com/dotnet/coreclr/issues/24568).  Can you make this happen again?

[2019-09-26 20:47] RussKeldorph commented on #26661
@jashook

[2019-09-26 21:07] zeroskyx commented on #26881
Hi jkotas,

thanks for your answer. I am trying to address a situation where an application has assets that are either "embedded" into the single-file and thus extracted into the temp directory, and "dynamic" assets that are distributed along the single-file.
Since several file APIs work differently on single file (AppContext.BaseDirectory for instance), it is important to know whether the app is

[2019-09-26 21:08] sanchoflat opened #26909 "VS2019.3.0 "Hello World" stackoverflow exception"
Created empty .net core 3.0 console project. Press F5 and it fell down with StackOverFlow Exception. .exe file works from Debug folder fine.

**System**
[code]

**Exception details**
[code]

![Animation](https://user-images.githubusercontent.com/6221261/65725036-608e7b00-e0ba-11e9-8f90-5a78a09ca78e.gif)

[2019-09-26 21:13] jashook commented on #26661
/cc @dotnet/coreclr-infra

[2019-09-26 21:32] jkotas commented on #26881
Our recommendation for cases like these is to bundle the assets as embedded managed resources. It will continue to work fine once we stop extracting the files into a TEMP directory in .NET 5. There are existing APIs like `Assembly.GetManifestResourceStream` or `Assembly.GetManifestResourceNames` that allow accessing managed resources today and that will continue to work.

[2019-09-26 21:55] noahfalk commented on #26907
@mikem8361, can you help here?

[2019-09-26 22:22] jkotas commented on #26883
@brianrob Could you please prepare PR to back port this?

[2019-09-26 22:36] jeffschwMSFT commented on #26883
@brianrob we should consider this for 3.0.x servicing.  Can you create a cheery picked PR against the release/3.0 and mark with label:ask-mode.  We can then have it reviewed/approved by tactics.

cc @MeiChin-Tsai

[2019-09-26 22:52] brianrob commented on #26883
Yup, I'm already doing that.  Didn't mean to use the magic word to get GitHub to close this.  Will post the PR shortly.

[2019-09-26 22:54] brianrob commented on #26883
@jeffschwMSFT, I've posted #26910 and marked it with label:ask-mode.

[2019-09-27 00:55] jkotas commented on #19698
The .NET Framework fix is scheduled for November update.

[2019-09-27 07:36] tmds opened #26917 "dotnet segfaults when COMPlus_PerfMapEnabled=1"
[code]
stacktrace:
[code]

[2019-09-27 07:38] tmds commented on #26917
dup of https://github.com/dotnet/coreclr/issues/26883.

[2019-09-27 07:38] #26917 closed

[2019-09-27 07:47] NMSAzulX commented on #20806
@masums  Unwittingly, I found a solution to this.

In the constructor
[code]

In the class
[code]

[code]

@janvorli I'm a little confused.  If I use the Resolving event instead of implementing the Load method, it will also work. Load and Resolving have the same functionality?

[2019-09-27 08:23] john-cullen commented on #20287
@morganbr

Headless and WPF apps for Windows

Yes, we P/Invoke to a variety of native dlls, some third-party items we have no control over, some internal from other teams.

Yes but we use CompilerServices to compile them from source.

Yes

Yes, our app is generally left open for long periods of time.

Yes, we can wait multiple minutes.

Yes

[2019-09-27 08:50] janvorli commented on #20806
@vitek-karas can you please answer the question about Resolving event vs Load method?

[2019-09-27 08:55] janvorli commented on #20806
@masums I am sorry, I've missed your comment on this here. It should work, so let me try to figure out what's wrong.

[2019-09-27 08:58] NMSAzulX commented on #20806
@janvorli  I have an issue. I learned SOS debugging and printed out some information, but I don't know if it's useful?  https://github.com/dotnet/coreclr/issues/26386

[2019-09-27 09:06] janvorli commented on #26386
@NMSAzulX I am sorry for missing your question. This looks like an event handler set to something in one of the assemblies you load into the unloadable context. I have seen a similar case recently with AppDomain.ProcessExit handler.
Can you please run the `!dumpobj` command on the addresses of objects with System.EventHandler types listed in the !gcroot command output? For the case above, it would

[2019-09-27 09:19] Gnbrkm41 commented on #26909
Wonder if there's any stack trace / dumps that can be provided? I'm not having this issue at all.

[2019-09-27 09:25] NMSAzulX commented on #26386
@janvorli  OK, No problem!  I'll print out as much information as I can when I get home from work. About two hours later.

[2019-09-27 09:38] mgth commented on #26838
Unfortunately I tried many ways to reproduce in a smaller environnement but could not.
It is well possible that the type get loaded twice because I load assemblies by hand. I did not know it could happened.
The exact same code works well in .Net framework

[2019-09-27 09:55] vitek-karas commented on #20806
* `AssemblyLoadContext.Load` method is the first thing called during the resolution. So this gives you the ability to resolve all assembly requests in the load context. Only once this returns null, the control goes to the default load context as a fallback. So this allows you to load a different version of a given assembly than the one in the default context.
* `AssemblyLoadContext.Resolving` even

[2019-09-27 11:13] LunicLynx opened #26919 "Missing [Serializable] on List<>.Enumerator"
I just ran into an Serialization issue with List<>.Enumerator.

This worked on .NET Framework, but doesn't work on .NET Core.

The documentation states that the Enumerator should have the Serializable attribute, but currently it doesn't.

Docs:
https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.list-1.enumerator?view=netcore-3.0

Code:
https://github.com/dotnet/coreclr/blob/0d1

[2019-09-27 12:13] NMSAzulX commented on #26386
@janvorli
![image](https://user-images.githubusercontent.com/16236903/65768227-f54cb380-e162-11e9-9775-10cd89c4b54b.png)

![image](https://user-images.githubusercontent.com/16236903/65768313-3e9d0300-e163-11e9-8739-40f78cbc2d76.png)

Here are the result;

[2019-09-27 12:23] janvorli commented on #26386
Thank you. You've accidentally dumped the same object twice instead of the two different ones.
Anyways, the next step is to click on the address before the `_invocationList` field name - it will run !dumpobj on that automatically.
Also, can you please run the `!u` command on the address before the _methodPtr and also on the address before the _methodPtrAux field?

[2019-09-27 12:28] gmatzen commented on #25595
I am trying to convert my Full framework Windows service application to a dotnet core 3 windows service application.   The application can run either as a service or interactively.  Aside from logging, I need to know when it is appropriate to call ServiceBase.Run.  I'm trying to figure out the best path forward because I was relying on Environment.IsUserInteractive for the full framework applicati

[2019-09-27 12:33] NMSAzulX commented on #26386
![image](https://user-images.githubusercontent.com/16236903/65769394-09de7b00-e166-11e9-899d-6a9a8a100d55.png)
Here is the invocationList.

[2019-09-27 12:35] NMSAzulX commented on #26386
![image](https://user-images.githubusercontent.com/16236903/65769500-43af8180-e166-11e9-9faa-c47b3248fca5.png)

[2019-09-27 12:36] NMSAzulX commented on #26386
![image](https://user-images.githubusercontent.com/16236903/65769579-75c0e380-e166-11e9-873e-32c9810f2292.png)

[2019-09-27 12:37] NMSAzulX commented on #26386
[code]

[2019-09-27 12:38] gfoidl commented on #25595
@gmatzen: Aside from this topic, is [.NET Core Workers as Windows Services](https://devblogs.microsoft.com/aspnet/net-core-workers-as-windows-services/) an option for you?
When not run as service, it runs a plain console-app.

[2019-09-27 12:39] janvorli commented on #26386
ok, can you please click on the "Print array" in the !dumpobj result above and also run `!ip2md 0x7ffbb1861b18`?

[2019-09-27 12:43] NMSAzulX commented on #26386
OK
![image](https://user-images.githubusercontent.com/16236903/65769833-31821300-e167-11e9-8b04-58040aee47d7.png)
![image](https://user-images.githubusercontent.com/16236903/65769896-5bd3d080-e167-11e9-9ac3-e84fdb32dcc9.png)

[2019-09-27 12:46] janvorli commented on #26386
ok, so now please click on each of the addresses after [0] and [1]

[2019-09-27 12:48] NMSAzulX commented on #26386
### [0]:
![image](https://user-images.githubusercontent.com/16236903/65770108-ed434280-e167-11e9-8a83-189a08f52ec6.png)

### _methodPtr
[code]
### _methodPtrAux:
[code]

[2019-09-27 12:50] NMSAzulX commented on #26386
### [1]:

[code]

### _methodPtr:
[code]
### _methodPtrAux:
[code]

[2019-09-27 12:51] AdamSpeight2008 opened #26921 "Extend generic constraint checks to cover the attribute <Flags> on enum."
It would be helpful if the clr could valid that a enum constraint, also has the attribute `System.Flags`
So the it possible to implement generic methods that apply to all enums that are semantically treated as flags.

eg.
[code]

Note: I implemented a set of operators over `flags enum` that effectively lowered the implementation in to the above implementations. An effect of do that was constant fo

[2019-09-27 12:55] janvorli commented on #26386
THank you. It seems the evidence would be in the second EventHandler object in the gcroots results. Could you please dump this one with !objdump, then again click on the address before the _invocationList and then click on the "Print Array"?

[2019-09-27 13:00] NMSAzulX commented on #26386
### gcroot:
[code]
### Seconde:
[code]
### _methodPtr:
[code]
### _methodPtrAux:
[code]

[2019-09-27 13:04] janvorli commented on #26386
Ok, could you please run
 `!ip2md 00007FFBB31B5530`
and
 `!ip2md 00007FFBB166D030`

[2019-09-27 13:06] NMSAzulX commented on #26386
[code]

[2019-09-27 13:08] NMSAzulX commented on #26386
I saw it with no results.
I used dynamic code to call sqlconnection.open.
[code]

[2019-09-27 13:15] janvorli commented on #26386
The problem is that the target method of the EventHandler was not jitted yet. Let me try to figure out what method it is.
Can you please run
`dq 0x0007ffbb31b5535+0x0A*8+3`
After I get the result, we'd dump one more memory location.

[2019-09-27 13:16] NMSAzulX commented on #26386
[code]

[2019-09-27 13:18] janvorli commented on #26386
ok, so now please run `!dumpmd 0x7ffbb3350fc8+0x02*8`?

[2019-09-27 13:19] NMSAzulX commented on #26386
[code]

[2019-09-27 13:20] NMSAzulX commented on #26386
[code]

[2019-09-27 13:25] janvorli commented on #26386
Ah, great, finally something! So, there is an event handler (I am almost sure it is AppDomain.ProcessExit) registered to point to MySql.Data.MySqlClient.MySqlPoolManager.EnsureClearingPools by the DataMySqlPoolManager or some other part of MySql. That's holding your context alive forever.

[2019-09-27 13:25] janvorli commented on #26386
And here we go, it is as I've thought:
https://github.com/pdonald/mysql-connector-net/blob/d120f56b0094a0f0721539e9b6e731697e917026/Source/MySql.Data/MySqlPoolManager.cs#L48

[2019-09-27 13:27] NMSAzulX commented on #26386
@janvorli Cheers! There's no accident. It's just that problem. Is this the same as Json.net?

[2019-09-27 13:28] janvorli commented on #26386
That unfortunately means that anything that uses the MySql.Data.MySqlClient cannot be unloaded.
But if you can compile your own version of this client, removing the two event handler registrations would fix the problem.

[2019-09-27 13:30] janvorli commented on #26386
This would be just a hot fix though. A proper fix would be to check if the assembly is loaded in a collectible context and then instead of those two events register the same handler to the AssemblyLoadContext.Unload event of the related AssemblyLoadContext instance.

[2019-09-27 13:32] janvorli commented on #26386
It would be ideal to ask the MySqlEvent developers to make such a fix if you need to use it in an unloadable context.

[2019-09-27 13:33] NMSAzulX commented on #26386
Okay, I'll give them a issue if I need to. Thank you very much for your guidance. It's a pleasure to complete this Debug with you.

[2019-09-27 13:34] jkotas commented on #26919
.NET Core supports binary serialization for a subset of types: https://docs.microsoft.com/en-us/dotnet/standard/serialization/binary-serialization . `List.Enumerator` is not on this list.

This is a bug in the documentation: https://github.com/dotnet/dotnet-api-docs/issues/3149

[2019-09-27 13:34] #26919 closed

[2019-09-27 13:36] janvorli commented on #26386
You're welcome!

I am not really sure what you are asking about. But I don't see the json.net registering a ProcessExit or DomainUnload handler.

[2019-09-27 13:38] NMSAzulX commented on #26386
I remember that Json.net could not be unload too?

[2019-09-27 13:46] NMSAzulX commented on #26386
I'm going to shut down this issue. Thank you.

[2019-09-27 13:46] #26386 closed

[2019-09-27 13:50] NMSAzulX commented on #20806
@janvorli @vitek-karas Thank you very much.Will there be any documents coming out?

[2019-09-27 13:54] LunicLynx commented on #26919
Understood. DataContractSerializer also counts as binary serialization because of serialization of private fields?
I just want to make sure i understand what `binary serialization` means. Until now i thought xml is not binary, but i guess i was looking at it from the wrong angle?

[2019-09-27 14:09] vitek-karas commented on #20806
Documentation about the `AssemblyLoadContext` and the actual order in which things happen is here: https://docs.microsoft.com/en-us/dotnet/core/dependency-loading/loading-managed

[2019-09-27 14:20] NMSAzulX commented on #20806
@vitek-karas  OK .

[2019-09-27 14:57] sanchoflat commented on #26909
Stack trace is empty. Created dump file from test project debugging process.
![Screenshot_6](https://user-images.githubusercontent.com/6221261/65779077-c24cf480-e14f-11e9-9b7d-6d23885680ad.png)

Maybe it is VS bug?

UPD. I switched to core 2 (2.1 and 2.2) and it works. Core 3.0 doesn't.

[2019-09-27 15:38] jkotas commented on #26919
Yes, some of the serializers out there - including DataContractSerializer - use the binary serialization contract as one of their serialization mechanisms.

[2019-09-27 16:21] gmatzen commented on #25595
I am actually not sure if I can use the .net Core Workers as Windows Services option.  For converting an existing service, it is mostly straightforward to use the Microsoft.Windows.Compatibility nuget package.  The biggest problem I ran into was the misbehaving Environment.UserInteractive.  In the .NET Core Workers as Windows Services example in the link that you provided, it is not obvious what t

[2019-09-27 16:51] mgth commented on #26838
Just double checked an I realize that a dll was loaded twice, so it's ok now.

[2019-09-27 16:51] #26838 closed

[2019-09-27 17:00] agoretsky opened #26924 "Port fix available memory extraction on Linux to 3.1 release"
Issue to track porting of #26764 to 3.1

[2019-09-27 17:00] agoretsky commented on #26924
#26568

[2019-09-27 17:30] gfoidl commented on #25595
It will run as console app when not run as windows-service. Just as you expect. You can debug, etc.
But let's not hijack this issue therefore.

[2019-09-27 17:59] jnm2 opened #26925 "Should ResolveEventArgs.Name be nullable?"
Is [`AppDomain.AssemblyResolve`](https://docs.microsoft.com/en-us/dotnet/api/system.appdomain.assemblyresolve?view=netcore-3.0) ever raised with a null [`ResolveEventArgs.Name`](https://docs.microsoft.com/en-us/dotnet/api/system.resolveeventargs.name?view=netcore-3.0) property? It doesn't seem like anything useful could be done by the event handler if `Name` is null.

It would save having to write

[2019-09-27 18:02] #26925 closed

[2019-09-27 18:03] jnm2 commented on #26925
I apologize, I'm really bad at this. Moving to corefx.

[2019-09-27 19:07] swaroop-sridhar commented on #20287
Thanks @john-cullen

[2019-09-27 19:14] swaroop-sridhar commented on #20287
Linking a few PRs to the [single-exe](https://github.com/dotnet/coreclr/tree/single-exe) branch for a prototype implementation of running single-file apps without extraction ([Stage 4](https://github.com/dotnet/designs/blob/master/accepted/single-file/staging.md#4-run-from-bundle-net-core-libraries)).

https://github.com/dotnet/coreclr/pull/26197
https://github.com/dotnet/coreclr/pull/26504
https:

[2019-09-27 19:23] jkotas commented on #26924
cc @janvorli

[2019-09-27 19:29] GrabYourPitchforks commented on #9668
Closing because it looks like all the work is completed. Please reopen if I have closed this improperly.

[2019-09-27 19:29] #9668 closed

[2019-09-27 19:29] #26577 closed

[2019-09-27 20:01] GrabYourPitchforks commented on #26608
Hi @hannan-sultan! Check https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md#testing-with-private-coreclr-bits for complete instructions. But in a nutshell, what this involves is essentially four steps:

1. Clone the _coreclr_ and _corefx_ repos.
2. Make the change in _coreclr_ and build it locally.
3. Build _corefx_ locally using the custom _coreclr_ you've

[2019-09-27 20:30] #26335 closed

[2019-09-27 21:37] mikedn commented on #26307
I think it may be useful to briefly explain how I see the future of `GT_CALL`, that may clarify some things:
* `GTF_LATE_ARG` should go. Removal of `node` helps but we still need to be careful about maintaining this flag and this happens in places other than `ReplaceCallOperand` (e.g. in `fgMorphCopyBlock`).
  * To get rid of it we'll probably need to add a `fgArgTabEntry` to `GenTreeCall::Use` so

[2019-09-27 22:23] swaroop-sridhar opened #26928 "PEFile: FlatImageImageLayout created twice for loading R2R images on Unix"
When an R2R assembly is loaded on Linux/Mac, the PE File is first loaded using `FlatImageLayout`, and then the headers are checked to see if it is pure IL (in which case the `FlatImageLayout` will suffice).  If not, the created layout object is released, and the assembly is loaded via `MappedImageLayout`.

However, the `MappedImageLayout` again constructs a `FlatImageLayout` as its "inner" layout,

[2019-09-27 22:47] jeffschwMSFT commented on #26909
@sanchoflat can you try running the .NET Core 3 helloworld outside of VS?  Does it still crash?  What if you run in VS without the debugger attached?
If we feel this is related to VS, we should move the investigation to VS Feedback.  If you file an issue and link it here, I can help route it to the right team.

[2019-09-27 22:49] jeffschwMSFT commented on #26924
Please create a pr against release/3.1 with the cherry picked change.  Then tag @MeiChin-Tsai for approval.

[2019-09-28 01:27] Sergio0694 commented on #26638
@kayle Small note, the following code should **never ever be used in production scenarios** as it could cause all sorts of issues, but since what you asked _is_ in fact technically possible, I thought I'd give it a try just for fun. Here's a method that lets you convert an array of a type to an array of _any other type_ that you want, as long as the input types are unmanaged types:

[code]

The wa

[2019-09-28 01:40] GrabYourPitchforks commented on #26638
Until the garbage collector kicks in after you've overwritten the object header but before you've overwritten the length, blows past the end of the array, and starts corrupting other objects in the managed heap. 😉

[2019-09-28 01:48] Sergio0694 commented on #26638
Well you're absolutely right, that's why I specifically mentioned twice not to ever, ever use stuff like this in actual production code 😄

[2019-09-28 02:28] nnhy opened #26929 "Failed to load libhostfxr.so, error: /lib/libstdc++.so.6: version `GLIBCXX_3.4.18' not found"
root@A1:~# uname -a
Linux A1 3.2.0 #561 Mon Mar 13 13:36:13 CST 2017 armv7l GNU/Linux
root@A1:~# cat /proc/version
Linux version 3.2.0 (gcc version 4.7.3 20130226 (prerelease) (crosstool-NG linaro-1.13.1-4.7-2013.03-20130313 - Linaro GCC 2013.03) ) #561 Mon Mar 13 13:36:13 CST 2017
root@A1:~# dotnet

Usage: dotnet [options]
Usage: dotnet [path-to-application]

Options:
  -h|--help         Display

[2019-09-28 02:33] jkotas commented on #26638
It does not work. `GC.TryStartNoGCRegion` is a best effort hint. It does not provide any hard guarantees.

There is no way to do this reliably via exposed API. No amount of unsafe hacks is going to help. A long discussion about this in https://github.com/HelloKitty/Reinterpret.Net/issues/1 has examples that demonstrate the obscure runtime crashes you will get with this hack.

[2019-09-28 05:11] masums commented on #20806
@janvorli It's ok.
Problem is if we want to develop a modular application which updates it's running plugins/modules at run time then it will require to unload the dll and replace that dll by the new version and load the new dll again.

So if we are unable to unload the plugins/modules dll and delete that dll then it is not possible to update plugins/modules while the application is running.

Good

[2019-09-28 06:45] sanchoflat commented on #26909
@jeffschwMSFT running without debugger still crashes.
.exe files from Debug and Release folders work fine. Running .dll from command line works fine too.

Where can I file an issue to VS?

[2019-09-28 07:33] masums commented on #20806
Today I have tested [https://github.com/dotnet/samples/tree/master/core/tutorials/Unloading](url)  this code. Now it is working with the new release of .Net core 3.0.100. Delete is working for unloaded dll. May be It will also work for me if I update the framework version.

[2019-09-28 11:01] koszeggy commented on #26472
A little addendum for the newly released .NET Core 3.0, which work differently in some cases compared to .NET Core 2.x:

1. **MemoryStream as file reference:**
- In .NET Core 2.x retrieving a `MemoryStream` resource (which was not embedded but added as a `ResXFileRef`) worked without a problem: an `UnmanagedMemoryStream` instance was returned.
- In .NET Core 3.0 this causes an exception:
[code]

2

[2019-09-28 11:46] Sergio0694 commented on #26638
@jkotas I see, thanks for clarifying that! And thank you for linking that related issue, it was a very interesting discussion to read and I definitely learnt something new! 😄

[2019-09-28 12:25] deinok opened #26931 "[Snap] [dotnet-sdk] Segmentation Fault"
OS: ubuntu-desktop_19.04
SDK: 3.0.100

# How to reproduce it
- install dotnet-sdk via snap and alias dotnet-sdk.dotnet to dotnet
- create a webapi project using the CLI
- Run `dotnet run` - No message / Not running
- Run `dotnet *.dll` - Works as expected
- Run the executable generated -  `Segmentation fault (core dumped)`

[2019-09-28 13:01] kevingosse commented on #26931
Probably the same issue as https://github.com/dotnet/core-setup/issues/8306

[2019-09-28 14:26] deinok commented on #26931
@kevingosse Yes, it's exactly the same. Closing this and moving the conversation to that issue.

[2019-09-28 14:26] #26931 closed

[2019-09-28 15:08] Symbai opened #26932 "A fatal error occurred. The required library hostfxr.dll could not be found."
1. Created a plain .NET Core 3.0 WPF project
2. Rebuild in release mode
3. Copied the files in the release folder to a new computer which is missing .NET Core at all
![image](https://user-images.githubusercontent.com/14368203/65813024-c2d0a400-e1be-11e9-8fb0-c154b3c273ad.png)
4. Visited https://dotnet.microsoft.com/download on this computer and downloaded the `Download .NET Core Runtime for deskto

[2019-09-28 17:57] KennyEng12 commented on #23400
Hi @hayatusm, my name is Kenny.

What do you mean by certificate problem and how do you fix this issue? Because I'm getting this error as well.

Thanks,
Kenny.

[2019-09-28 21:28] faruknane opened #26935 "Is it possible to specify the code blocks that are most used to JIT in order to let it optimize those blocks?"
I have been learning a lot these days and heard of JIT optimizes codes based on their statistical information like how frequently they are used by letting the code work without optimization by a few times and measuring it. Some codes are not optimized to keep the memory usage(edit: memory space on disk mostly) lower for example and some codes needs to be optimized at most to gain performance. Befo

[2019-09-29 02:36] AriNuer commented on #26877
**Job:**
coreclr-corefx：[20190928.1](https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_build/results?buildId=369639)

**Details:**
https://helix.dot.net/api/2019-06-17/jobs/0e66ea15-c76b-4cf4-87a3-f9f2917e59c2/workitems/System.Runtime.Tests/console

**OS & Arch:**
Windows x86

**Mode:**
set COMPlus_TieredCompilation=0

**Note:**
This failure repro on our windows x86 machine.

**Lo

[2019-09-29 08:22] kinosang commented on #23252
Though it's better to use a standard culture name, the asp.net core may have issue on Linux and Mac to do localization fallback with `zh-CN` and `zh-TW`. Client (browsers) may use one of `zh-CN`, `zh-Hans`, `zh-Hans-CN` and `zh-CHS` in its requests, we should deal it correctly on server-side.

[2019-09-29 14:12] SeeminglyScience opened #26939 "ICorDebugProcess5::GetTypeFields with null layout returns E_POINTER"
`DacDbiInterfaceImpl::GetObjectFields` starts off checking if args are `null`

https://github.com/dotnet/coreclr/blob/bef420a74e1a7ff81883b8bb3a36a9a452e0af61/src/debug/daccess/dacdbiimpl.cpp#L7098-L7101

And then later in the method it checks `layout` a second time, but the method would have already returned.

https://github.com/dotnet/coreclr/blob/bef420a74e1a7ff81883b8bb3a36a9a452e0af61/src/deb

[2019-09-29 21:17] McNeight opened #26941 "tests/src/JIT/Intrinsics/MathCeiling*.cs copypasta"
Both the MathCeilingDouble.cs and MathCeilingSingle.cs files use the [Math,MathF].Round() function instead of the Ceiling() function. The MathFloor*.cs and MathRound*.cs files use the correct function for their filenames.

[2019-09-30 00:20] sawilde commented on #15136
@davmason are you saying that you will always do an `AddRef` but never do a `Release`?

[2019-09-30 01:53] AriNuer commented on #23447
Test failed again:
**Job:**
coreclr-corefx:[20190929.1](https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_build/results?buildId=370045)

**Detail:**
https://helix.dot.net/api/2019-06-17/jobs/de6e2465-2c94-4985-a762-e49b7d489c1f/workitems/System.IO.FileSystem.Tests/console

**OS & Arch:**
Wndows x86

**Mode:**
set COMPlus_TieredCompilation=0

**Log:**
[code]

[2019-09-30 02:49] AriNuer opened #26942 "Test failure: System.Tests.GCTests.GetAllocatedBytesForCurrentThread(size: 1000)"
**Job:**
coreclr-corefx-jitstress:[20190928.1](https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_build/results?buildId=369999)

**Details:**
https://helix.dot.net/api/2019-06-17/jobs/a654ba18-0756-46fc-ba38-95d7942d8dae/workitems/System.Runtime.Tests/console

**OS & Arch:**
Linux x64

**Mode:**
export COMPlus_TieredCompilation=0
export COMPlus_DbgEnableMiniDump=1
export COMPlus_Db

[2019-09-30 03:11] AriNuer commented on #26482
Failed again:
**Job:**
coreclr-corefx-jitstressregs:[20190929.1](https://dev.azure.com/dnceng/9ee6d478-d288-47f7-aacc-f6e6d082ae6d/_build/results?buildId=370051)

**Details:**
https://helix.dot.net/api/2019-06-17/jobs/ea13b02a-53cf-417e-983d-ccd3246798f9/workitems/Microsoft.VisualBasic.Core.Tests/console

**OS & Arch:**
Linux x64

**Mode:**
export COMPlus_TieredCompilation=0
export COMPlus_DbgEnab

[2019-09-30 05:29] 6opuc commented on #10524
Is there any plans to include those changes with MADV_DONTDUMP in next releases/updates?

[2019-09-30 09:12] janvorli commented on #10524
@6opuc - I think it would be great. Do you want to create a PR for the change or would you prefer me doing that?

[2019-09-30 10:19] MichalStrehovsky commented on #26921
We keep a high bar for file format changes - adding a new kind of constraint that the runtime enforces would be a file format change.

The CLR cares very little about `FlagsAttribute` - this could be implemented purely in the language (same as e.g. how the C# team added the `unmanaged` generic constraint in the past).

It also wouldn't make sense to add the constraint without exposing it from C#/V

[2019-09-30 10:20] MichalStrehovsky commented on #26921
Okay, seems like I can't transfer issues to that repo. Please open a new issue in the dotnet/vblang repo.

[2019-09-30 10:20] #26921 closed

[2019-09-30 12:28] EynsherKiel opened #26945 "TaskFactory.CommonCWAnyLogic"
Hello!

I want to use CommonCWAnyLogic, what do you think about it? That method can removed or changed, but Task.WhenAny always copy array.

[2019-09-30 12:54] janvorli commented on #26929
This means that your Linux distro is too old (having the libstdc++.so.6 that is too old) and it is not supported due to to that.

[2019-09-30 14:29] dagood opened #26946 "3.0 is fine, but 3.0 preview9 libcoreclr.so symbols weren't stripped (Ubuntu 16.04)"
Bringing this up to make sure it's known, in case it's some flakiness that might show up in a future 3.0 servicing release.

In https://github.com/dotnet/core/issues/3494, @sdmaclea noted that `libcoreclr.so` for 3.0 p9 on Ubuntu 16.04 had symbols inside, rather than them being stripped like would be expected for an official build:

There was a symbol stripping issue fixed with https://github.com/

[2019-09-30 14:48] bwateratmsft opened #26947 "System.PlatformNotSupportedException thrown running VB console app in .NET Core 3.0 Windows container"
This issue was found recently by our CTI team.

It seems to only affect:
- VB app (we tried with Console apps)
- .NET Core 3.0 (did not repro with 2.2)
- Running in Windows container (we tried with -nanoserver-1903)

VB in Windows containers is a pretty corner scenario for us, but I'm not sure if this is indicative of another bigger problem.

Running the app--through VS, or directly on command lin

[2019-09-30 14:56] bwateratmsft commented on #26947
ConsoleApp5.vbproj:
[code]

Program.vb:
[code]

My Project\launchSettings.json:
[code]

Dockerfile:
[code]

.dockerignore (one level up at solution directory):
[code]

[2019-09-30 15:08] jeffschwMSFT commented on #26909
Within VS it is the 'send feedback' button in the upper right hand corner.  (looks like a person talking emoji).

We can continue here, but if this ends up being a VS issue we will need to move there anyhow. Thanks

[2019-09-30 15:14] MichalStrehovsky commented on #26947
Related to #21693. VB.NET secretly injects the `STAThreadAttribute` on the `Main()` method and CoreCLR fails while trying to respect that.

A workaround could be to place `<MTAThread>` on `Sub Main`.

I'm not sure if there's anything else we could do besides improving the exception message for this case. CoreCLR can't ignore the attribute and VB.NET can't stop emitting it due to compat.

[2019-09-30 15:16] k15tfu commented on #23383
@davmason @jkotas Is there anything I can help with to get it in 3.1?

[2019-09-30 15:43] sanchoflat commented on #26909
Thank you.
Sended a feedback to VS. Will print their answer here.

[2019-09-30 15:49] danmosemsft commented on #26947
@KathleenDollard @cston fyi, it seems VB apps won't run on Windows Nano Server. Don't know how interesting a scenario that is.

[2019-09-30 15:53] bwateratmsft commented on #26947
Good to know, thanks @MichalStrehovsky. If it is intentional on the part of VB.NET then I'm not too concerned about it from our perspective; we don't have very high usage of Windows containers (< 25%), about 1/5 of that being .NET Framework, and I would guess the overwhelming majority of the other 4/5 is .NET Core C#, not VB.

[2019-09-30 16:18] faruknane commented on #26935
What's going on @GrabYourPitchforks ? It shouldn't be hard to reply like yes we have that feature or no we have not developed it yet :(

[2019-09-30 16:19] jeffschwMSFT commented on #26909
@sanchoflat, can you share the link here?  I can intercept and route as appropriate.  Also, do you happen to have a dump of the failure?

[2019-09-30 16:33] GrabYourPitchforks commented on #26935
I don't know the answer to your question. All I did was categorize it so that the area owners see it when next they triage issues. Since the issue was opened over a weekend nobody has had time to look into it yet.

[2019-09-30 16:36] faruknane commented on #26935
Thank you sir, you are right. Sorry for my ignorance @GrabYourPitchforks

[2019-09-30 16:48] AndyAyersMS commented on #26935
Similar in spirit to #6024.

Not sure if you are talking about exclusive time (time spent in `A` only) or inclusive time (time spent in `A` and all the methods and runtime mechanisms it invokes).

Just knowing that a method like `A` takes a long time to execute (or rather, that its execution time dominates performance) is not as useful in improving perf as one would hope. While we could enable mor

[2019-09-30 16:53] jkotas commented on #26935
This is exactly what `[MethodImpl(MethodImplOptions.AggressiveOptimization)]` does (more details in https://github.com/dotnet/corefx/issues/32235).

[2019-09-30 17:13] faruknane commented on #26935
@AndyAyersMS So here is what I have understood, even If JIT knows what should be optimized, it still doesn't know how to optimize. So instead of letting JIT know only what to optimize, we should provide how to optimize it as well right?

@jkotas Thank you!

[2019-09-30 17:35] AndyAyersMS commented on #26935
I'm skeptical that we can rely on additional annotations and programmer-provided hints to profitably guide jit optimizations. There may be some room for it in places, but as a whole it just seems to add complexity and confusion. Much of what you'd ask the jit to do you can do yourself in source.

A system that can provide feedback to the jit automatically by observing program behavior seems prefer

[2019-09-30 17:36] #26935 closed

[2019-09-30 17:37] mikedn commented on #26949
This looks like an issue for https://github.com/dotnet/roslyn

The runtime (JIT) doesn't do anything about string typed switches. These don't even explicitly exist in IL.

[2019-09-30 17:44] ericstj opened #26951 "System.Private.CoreLib assembly missing `NeutralResourcesLanguage("en-US")`"
See https://github.com/dotnet/coreclr/issues/26472#issuecomment-536176848

Appears to be a regression in 3.0.  Not sure if this is intentional or not, but it does seem to be observable.

/cc @tarekgh

[2019-09-30 17:47] ericstj commented on #26472
Can you share a snippet of your resx for issue 1?  I tested this previously and it was working, but your callstack indicates that MSBuild is writing this intead as an activator resource instead of stream primitive.  @rainersigwald that might be a regression.

Issue 2 is clear and what we've been discussing here.  I think for this we'd really need the security & IO folks to weigh in on security ris

[2019-09-30 18:17] jkotas commented on #26472
This was discussed in https://github.com/dotnet/coreclr/issues/17460

[2019-09-30 18:23] tarekgh commented on #26951
This looks to me a regression from the tools. in 2.x we used to have

[code]

I think this attribute is important to have in msbuild.

Note, this issue in not specific to System.Private.Corelib but it looks a generic for all corefx assemblies.

[2019-09-30 18:37] sbomer commented on #26946
Interesting - I don't see anything obvious in the build definitions that would have caused this.

[2019-09-30 18:40] shargon commented on #26949
Thanks!

[2019-09-30 18:40] #26949 closed

[2019-09-30 19:34] ericstj commented on #26951
In 2.x we did this with https://github.com/dotnet/buildtools/blob/6736870b84e06b75e7df32bb84d442db1b2afa10/src/Microsoft.DotNet.Build.Tasks/PackageFiles/AssemblyInfoPartial.cs, arcade doesn't have this.

@tarekgh do you think this is important for 3.1?

[2019-09-30 19:37] tarekgh commented on #26951
My understanding is msbuild can fail when not finding this attribute. At least this happened on the desktop builds. We need msbuild guys confirm that as I believe it is important to fix it in 3.1.

[2019-09-30 21:12] sdmaclea commented on #26946
I vaguely remember an issue where something was lost off the servers...  Engineering rebuilt/replaced them.  Could that be the root cause???

[2019-09-30 21:43] dagood commented on #26946
Interesting... if it were accidentally run as Debug somehow, that would explain it. I'm not familiar with what happened, though.

[2019-09-30 21:51] cshung opened #26955 "Cleanup RegSet::verifyRegUsed"
`verifyRegUsed()` is supposed to be an assertion that the register is marked as used. However, its implementation is changing the register mask instead. This needs to be clean up.

#18296 was an attempt to fix it, but it was wrong and incomplete. We need a better solution than that.

[2019-09-30 22:28] davmason commented on #15136
Yes, that is the new behavior.

[2019-09-30 23:42] jeffschwMSFT commented on #26909
Got it, thanks: https://developercommunity.visualstudio.com/content/problem/755674/vs201930-hello-world-stackoverflow-exception.html

[2019-09-30 23:42] #26909 closed

[2019-10-01 01:03] sandreenko commented on #26307
@mikedn there are 2 `class Use` now that looks very similar (`GenTreeCall`, `GenTreePhi`), can they be merged?

[2019-10-01 01:55] GrabYourPitchforks commented on #26472
From a security perspective, if we added `[Serializable]` back on `MemoryStream` we'd want a custom deserialization ctor so that the serialized payload can't blindly splat data all over the private fields of the type. This also allows us to continue to modify the private implementation details of `MemoryStream` as we see fit, but it has a few compat consequences:

 * Instances won't round-trip ful

[2019-10-01 04:38] mikedn commented on #26307
@sandreenko Eventually yes. And the one from field list should inherit from a common one. Need to finish the removal of `GT_LIST` from `GT_SIMD`/`HWIntrinsic` first to decide how exactly it's all going to look. In the SIMD case I would very much prefer to not have an array of uses rather than a linked list.

[2019-10-01 06:53] noahfalk commented on #26907
Ping @mikem8361 : )

In the meantime here are some things that may help:
env vars to take (small) dumps on crash: https://github.com/dotnet/coreclr/blob/master/Documentation/botr/xplat-minidump-generation.md#configurationpolicy
a tool that can take small dumps: https://github.com/dotnet/diagnostics/blob/master/documentation/dotnet-dump-instructions.md
The source in the dotnet-dump tool which calls

[2019-10-01 08:00] davmason commented on #26576
Yes, this was an oversight as part of the 3.0 work. I plan to add it for 5.0.

[2019-10-01 09:14] koszeggy commented on #26472
@ericstj, @rainersigwald:
In a minimal repro project I was not able to reproduce the issue so I couldn't determine under what constellation the error occurs. Hence I created a [GetStreamError branch](https://github.com/koszeggy/KGySoft.CoreLibraries/tree/GetStreamError) in my repo. Only the `netcoreapp3.0` target is enabled now, projects are built by `dotnet build`.

Just execute `dotnet test` fro

[2019-10-01 09:20] koszeggy commented on #26472
@jkotas: I also referenced #17460 in my opening post. I opened this issue because I found another issue where this is a problem. The main reasoning in #17460 was that serializing a `MemoryStream` is simply not reasonable as it is just an expensive way of serializing a `byte[]`.

While this is true please also take the compatibility issues into consideration. That's why I've written in the OP:

[2019-10-01 09:38] davmason commented on #26579
@k15tfu the issue here is that we have some logic to detect if a thread has been hijacked and abort if it has because it could potentially deadlock.

My gut feeling here is that there is no deadlock if the hijack happens because of `ICorProfilerInfo10::SuspendRuntime`, so it should be safe to relax that check and do the stack walk anyways. I have to test and prove myself right though.

[2019-10-01 09:49] viewizard opened #26964 "[Linux] PAL functions usage from native code (debugger)"
Hello,
I noticed, that in CoreCLR 3.0 preview7 was added https://github.com/dotnet/coreclr/commit/a6292a6573e1f7d6e218293773e443280683cd83 commit, that remote export for PAL functions. For now, we use them in our NetCoreDBG debugger (https://github.com/Samsung/netcoredbg/blob/886fd637f4c6d4eeca077cb5d5a1eacc95a813ea/src/debug/netcoredbg/symbolreader.cpp#L177). Is it possible revert back export for

[2019-10-01 10:02] davmason commented on #23383
@k15tfu no work has happened on this yet. For it to be considered for 3.1 the following steps would have to occur:

1. Define the spec for a new API and get signoff
2. Once the spec is signed off on , implement the API in master (5.0 branch)
   - Test the API before checkin
   - Check in to master for 5.0
3. Open a port request to 3.1
   - This would need signed off on by our management, I don't h

[2019-10-01 10:35] zeroskyx commented on #26881
Works for me, thank you!

[2019-10-01 10:35] #26881 closed

[2019-10-01 13:59] BruceForstall commented on #26877
Changing area-CodeGen label. @janvorli can change it back if investigation warrants.

[2019-10-01 14:03] BruceForstall commented on #26942
@ericstj @stephentoub @Maoni0 Random GC test failure? Is the test robust?

[2019-10-01 14:05] BruceForstall commented on #26482
@jeffschwMSFT Since this reproed in the lab, do you want to take another crack at it? Do we have a core dump now?

[2019-10-01 14:11] jkotas commented on #26472
@koszeggy We are taking multiple factors into consideration:

- MemoryStream should not need to be serializable to make your scenario work. Thank you for providing a repro! It will help us to get to the bottom of this.
- We are done with .NET Framework compatibility project. There are always going edge cases where .NET Core could have been more compatible with .NET Framework, but the value of fixi

[2019-10-01 14:49] BruceForstall commented on #26879
@wfurt Can you check this out?

[2019-10-01 16:05] jkotas commented on #26964
We consider the Windows PAL to be internal implementation detail of CoreCLR. We plan to make it smaller and lighter weight over time. Ideally, it would disappear eventually.

The 5 functions you have linked are trivial wrappers over malloc/free. You should be able to make a local version of these wrappers in NetCoreDBG to avoid depending of CoreCLR internals.

[2019-10-01 16:16] danmosemsft commented on #26638
I think this issue is resolved as not possible so I will close it.

[2019-10-01 16:16] #26638 closed

[2019-10-01 16:18] danmosemsft commented on #26879
Does this repro without Jit Stress?

More generally, when an issue only repros with Jit Stress, how often is it a bug in implementation (eg GC hole) and how often a bug in JIT. My assumption has been it's more often a bug in JIT (or runtime) -- these runs are primarily indended to find such bugs -- and investigation should start there first. Is that about right?

[2019-10-01 16:20] danmosemsft commented on #26825
Seems a duplicate of #25774. Lets continue discussion there.

[2019-10-01 16:22] danmosemsft commented on #26951
If it's important to fix in 3.1, should it get a fix in 3.0?

[2019-10-01 16:27] fadimounir opened #26970 "Review crossgen documentation page for R2R coverage"
There are some areas that need to be reviewed, and make sure that we distinguish between fragile NIs and R2R images (ex: when loading .dlls, the runtime won't automatically load the .ni.dll R2R images even if it lives next to the .dll)

[2019-10-01 16:44] ericstj commented on #26472
@koszeggy, I really appreciate the link and the repro, but I'm uncertain about the license on the repository you linked.  Do you think it would be possible to share an isolated repro?  I did try to ad-hoc test the scenario you mentioned and found it was working for me.  From the callstack you shared it really looks like you're hitting https://github.com/microsoft/msbuild/issues/4581 which was fixe

[2019-10-01 17:01] jkotas commented on #26970
The docs should not be mentioning fragile NIs quirks at all.

[2019-10-01 17:09] GrabYourPitchforks commented on #26472
If you want to read a payload serialized by .NET Framework, that payload will contain a bunch of irrelevant fields aside from just the `byte[]` itself. The deserialization ctor would validate the offset and length against the incoming array, throwing away all other unnecessary fields. Additionally, .NET Core's `MemoryStream` would need to implement `ISerializable.GetObjectData` if the requirement

[2019-10-01 17:10] Suchiman commented on #26825
@danmosemsft imo this is a superset of that other ticket which is exclusive to stringbuilder

[2019-10-01 17:20] koszeggy commented on #26472
@ericstj,
- **License:** The [CC BY-ND 4.0](https://creativecommons.org/licenses/by-nd/4.0/) license allows you everything but distributing a modified material as your product. Feel free to use, share and even modify it.
- **Isolated repro:** As I mentioned a similar minimal repro project worked also for me. I tried many things that came to my mind without any clue so far. I will try to go for it

[2019-10-01 17:46] danmosemsft commented on #26825
@Suchiman I see your observations about non StringBuilder appends but it's not clear to me that there's a problem with those?

[2019-10-01 17:49] Suchiman commented on #26825
They're consistently slower even if only by a small margin (between 5% and 18%) and then there's the incorrect measurement of `Allocated`

[2019-10-01 17:50] koszeggy commented on #26472
@GrabYourPitchforks,

To be frank, I still not get it. Here are the fields of the `MemoryStream`:

![image](https://user-images.githubusercontent.com/27336165/65985169-8ed8d580-e481-11e9-92e3-9759ddcc9228.png)

I believe all of them are needed (except the one marked by `[NonSerialized]`) for retrieving an exact and functionally equivalent duplicate. And all of the base `Stream` fields are also dec

[2019-10-01 18:00] Maoni0 commented on #26942
@VSadov could you please take a look? this test should be robust.

[2019-10-01 18:03] danmosemsft commented on #26825
@Suchiman you're right -- I had read the tables in reverse.

[2019-10-01 18:58] kouvel commented on #25971
Closing in favor of https://github.com/dotnet/coreclr/issues/23596

[2019-10-01 18:58] #25971 closed

[2019-10-01 19:11] ericstj commented on #26472
I was able to reproduce the problem you were seeing in your unit test.  Here's an isolated repro: https://github.com/ericstj/repros/tree/master/testMemStreamResXFileRef
Filed: https://github.com/microsoft/msbuild/issues/4773

Let this issue only track the discussion around binary serialization.

[2019-10-01 19:14] GrabYourPitchforks commented on #26472
I am not interested in preserving full fidelity of private fields being serialized between .NET Core and .NET Framework, both for forward-compatibility purposes and for security purposes. I'm willing to allow just the raw `byte[]` data itself to be serialized, but anything beyond that I'm forcibly going to pushing back on.

[2019-10-01 19:16] adamsitnik commented on #26825
I am going to investigate it tomorrow

[2019-10-01 19:49] BruceForstall commented on #26845
@AndyAyersMS @erozenfeld

[2019-10-01 20:06] BruceForstall commented on #26879
Someone needs to do that exercise (see if it repros without JitStress, see if it repros with only JitStress and not JitStressRegs, etc.).

In those cases where it repros, it's likely a JIT bug.

However, since my experience so far has been that System.Net tests have been so flaky (maybe that's no longer true?) that even "repros" might indicate a current condition on the tests, and not be something

[2019-10-01 20:35] VSadov commented on #26942
will take a look

[2019-10-01 21:27] omariom commented on #17270
@AndyAyersMS @mikedn

I suspect  this restriction is from pre-2.0 times. I remember in .NET Framework 2.0 release notes  it was mentioned that delegate calls had got significantly faster.

Nowadays delegate calls can be like 50% faster than interface  calls, yet [interface call-sites don't prevent the containing method from being inlined](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8A

[2019-10-01 21:31] bitbonk opened #26972 "Assembly.Load(string assemblyName) throws a FileNotFoundException"
Assuming that the correct version of `NewtonSoft.Json.dll` was located in the same folder as the executing exe (i.e. in the probing path), this code used to work in classic .NET (4.7.2):

[code]

But in .NET Core, we will get the following exception:

This leaves anyone who is porting a .NET classic application or library to .NET Core with the following questions:

1. Obviously, the way how probin

[2019-10-01 21:42] omariom opened #26973 "Suboptimal codegen for delegate invocation in static methods"
The delegate reference  is [spilled](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AXEBDAzgWwB8ABAJgEYBYAKGIAYACY8gOgCUBXAOwwEt8YLAMIR8AB14AbGFADKMgG68wMXAG4aNZkiakGQmgG8aDUwwDaAWRgYAFhAAmASXGSAFNbuOXYyQHkxPgguXBYAQQBzCNhcXF4FGAC+fF4AL2wgrgBKAF0TMzEoeIyYJnIdXh4GABEYaQiSoWxJaSg3YgBWAB5KjAA+Bgc6rIZ802NqMymmAHZBurcRgGoGcg1JswBfGm3qGiA).

[code]

The call site could be
[code]

[2019-10-01 21:45] bitbonk commented on #26972
https://github.com/dotnet/coreclr/issues/10379

[2019-10-01 21:52] mikem8361 commented on #26907
You may not need all the flags that dotnet-dump collect uses.  I need to look into it because windbg/cdb's `.dump /mw <dump_name>` generates a "heap" dump and it uses just MiniDumpWithTokenInformation + MiniDumpWithPrivateReadWriteMemory (0x40200).

[2019-10-01 21:54] tannergooding commented on #24499
Closing. We had discussed this offline and it is doing the correct thing.

[2019-10-01 21:54] #24499 closed

[2019-10-01 22:03] cheesi opened #26974 "Assembly.LoadFile blocks for ~50sec"
Hey!

I'm currently porting our application to .NET Core 3.0 from .NET Core 2.2.

Our application has a plugin system and loads all DLLs from a specified folder with `AssemblyLoadContext.Default.LoadFromAssemblyPath();`

And we have the following files in our plugin folder:

- plugin-x.dll
- plugin-y.dll
- plugin-z.dll
- plugin-wrapper-native.dll
- native-plugin.dll

As you can see, we have four p

[2019-10-01 22:11] GrabYourPitchforks opened #26976 "Consuming static readonly Vector128<T> fields results in non-optimal codegen"
Sample code:

[code]

Codegen:

[code]

Since the static ctor has already been run, the JIT could be optimized to burn into the codegen the exact memory location of where the `Vector0x0F` field lives. This would allow eliding the dereference highlighted in the above codegen sample.

/cc @tannergooding

[2019-10-01 22:56] benaadams commented on #26976
It feels a bit like this from @mikedn https://github.com/dotnet/coreclr/pull/21711 (looking at the code gen sample diffs he provides) though I may be wrong?

[2019-10-01 22:58] tarekgh commented on #26951
CC @rainersigwald as if he may know exactly what scenarios maybe broken of the missing attributes.

I recall one scenario was related to the .Net Native builds when msbuild was trying to merge the framework resources into the PRI file and generate a warning for missing this attribute.

[2019-10-01 23:06] #26686 closed

[2019-10-01 23:07] omariom commented on #26973
Well.. it happens only when the delegate is the first parameter. A very corner case  ¯\_(ツ)_/¯

[2019-10-02 02:24] saixiaohui commented on #18044
@janvorli  and @Maoni0  we have released .net core 3.0. **Has this been fixed**?

Thanks!

[2019-10-02 04:23] jashook commented on #26896
Hoping this should be improved/addressed with the cmake work @jkoritzinsky is doing.

[2019-10-02 05:24] mikedn commented on #26976
This is not related to #21711 (though I happen to have noticed this pattern while working on that). My understanding is that static struct fields actually contain references to boxed structs so there's no way to burn the exact address in code because GC can move the boxed object.

[2019-10-02 05:38] tannergooding commented on #26976
Would `System.Runtime.CompilerServices.FixedAddressValueType` solve this?

[2019-10-02 05:48] mikedn commented on #26976
Doesn't seem to have any effect on the JIT side. It could be that the JIT doesn't know about it or simply ignores it.

[2019-10-02 06:06] mikedn commented on #26973
Yes, because that goes in `rcx` and then the delegate's first parameter also goes in `rcx` so they interfere. If it's not the first param then it's not in `rcx` and it all works fine (well, at least until the delegate has more parameters):
[code]

This is a rather unlucky case or IR ordering and register allocation - since loads can be reordered the generated code could be:
[code]
but then that's

[2019-10-02 07:10] sanchoflat commented on #26909
@jeffschwMSFT sended two dump files. Hope they will help.

[2019-10-02 08:07] davmason commented on #26579
@k15tfu if you have time, can you check that the change in #26985 fixes this issue for you? When I run your sample program locally it works now.

[2019-10-02 08:09] davmason commented on #25322
Fixed in #26227

[2019-10-02 08:09] #25322 closed

[2019-10-02 08:11] mikedn commented on #26976
The bigger question is if it's a good idea to use `FixedAddressValueTypeAttribute`. It looks like it makes the assembly uncollectible, it's not obvious that it's a good trade off.

@jkotas @janvorli ?

[2019-10-02 09:24] chaami commented on #4623
The issue happens in tight loops as well....

[2019-10-02 09:58] john-cullen commented on #26881
@jkotas will that attribute not always be set if you have set PublishSingleFile in the csproj file instead of supplying it as a parameter to `dotnet publish` ?

[2019-10-02 10:26] janvorli commented on #26976
I don't think that using the `FixedAddressValueTypeAttribute` would help at all. Even if the JIT somehow knew the value was already initialized and could read the value out, it would not be a correct transformation. readonly variables can still be modified using reflection.

[2019-10-02 10:31] AndyAyersMS commented on #21973
cc @CarolEidt -- here's an example where EH write through #26087 should give good CQ wins

[2019-10-02 10:37] AndyAyersMS commented on #26976
@janvorli #20886 blocked changing the value of initialized readonly statics via reflection.

[2019-10-02 10:46] adamsitnik commented on #26825
Hi @Suchiman

You are right. Before .NET Core 3.0 preview 6+ and BenchmarkDotNet 0.11.6, BenchmarkDotNet was using `GC.GetAllocatedBytesForCurrentThread` to get the number of allocated bytes. Recently we have switched to the new API added recently to .NET Core 3.0 - `GC.GetTotalAllocatedBytes` https://github.com/dotnet/BenchmarkDotNet/pull/1155 and this solves the problem of missing allocations.

[2019-10-02 10:47] adamsitnik commented on #26825
When it comes to the most important aspect - for your benchmark .NET Core 3.0 is slower than .NET 4.8. I am going to investigate that.

[2019-10-02 10:51] adamsitnik commented on #26825
Also, I wanted to mention that we track the performance of `StringBuilder` in dotnet/performance repository: https://github.com/dotnet/performance/blob/master/src/benchmarks/micro/corefx/System.Runtime/Perf.StringBuilder.cs

I've run all the benchmarks we have for 4.8 vs 3.0 and in general .NET Core 3.0 is slower than 4.8 only in a single case:

|                Method |       Runtime |     Toolch

[2019-10-02 10:51] bitbonk commented on #26972
I also tried to add the additional dependency to the `AssemblyLoadTest.deps.json` file and run it using the following command:

```dotnet --additional-deps .\AssemblyLoadTest.deps.json .\AssemblyLoadTest.dll```

Still, the assembly does not get loaded and the FileNotFoundException is thrown.

This is my modified `AssemblyLoadTest.deps.json`:

[code]

[2019-10-02 10:52] viewizard commented on #26964
@jkotas, you right, looks like I could just implement this 5 functions. Thanks for your help!

[2019-10-02 11:00] #26964 closed

[2019-10-02 11:29] jkotas commented on #26976
`FixedAddressValueTypeAttribute` was introduced to make safe and pure managed C++. Managed C++ compiler emitted this attribute on your behalf in pure/safe modes.

The runtime does not take advantage of this attribute for optimizations and this attribute is actually bad for performance. This attribute introduces permanent pinning in the GC heap that prevents full GC heap compaction and that the GC

[2019-10-02 11:40] jkotas commented on #26881
Right, the workaround that I have suggested does not work well if you set PublishSingleFile as csproj property.

[2019-10-02 11:47] pr8x commented on #26907
I tried using the flags:
[code]
But I keep getting a symbol error when trying to "Debug with mixed". **Oddly, I don't get this when I generate with full memory**.
![image](https://user-images.githubusercontent.com/4670166/66041014-19204880-e519-11e9-8b35-384619c6e91c.png)

It seems like it's failing to retrieve `System.Runtime.dll` symbols from the symbol server.

Could be an issue with VS, but it

[2019-10-02 12:24] jkotas commented on #26974
To start diagnosing this, could you please help us find out where the process is blocked for the 48s by attaching unmanaged debugger (Windows Debugger or Visual Studio).

Here are the detailed steps for Visual Studio:

- When the process is blocked inside the Load call, find it in Task Manager Details view, right click and select "Create dump file"

Inside Visual Studio:
- Select "Debug / Options"

[2019-10-02 12:35] MichalStrehovsky commented on #12093
The reason why crossgen2 was hitting this but not crossgen was a bug in crossgen2 that I'm fixing in #26987. This could still be a RyuJIT bug (the difference was about whether we reported a containing type of a RVA-static field as being pre-initialized), but it can't be hit with crossgen2 anymore either.

[2019-10-02 12:36] IustinMicu opened #27033 "Current executing assembly location is wrong for single file published project"
# Current executing assembly location is wrong when the project is published as a single file

# General

I upgraded a .net core 2.2 application to 3.0 and I enabled the PublishSingleFile feature.
Unfortunately the current executing assembly location is not the directory where the executable is located. It is something like this:

- This is how the single file publish feature is configured:
    `<

[2019-10-02 12:46] jkotas commented on #26972
Assembly.Load in .NET Core works by default only for assemblies that have been published as part of the app. Is there a reason why you are coping Newtonsoft.Json.dll to your app manually instead of just referencing Newtonsoft.Json NuGet package?

There are two ways to solve the problem:
- (Preferred) Specify the `Newtonsoft.Json` NuGet package in your .csproj file. It will make Newtonsoft.Json.dll

[2019-10-02 13:02] EgorBo commented on #26976
Oh, I wish I could just use `const` keyword for them directly in methods (or at least `static readonly` fields inside methods, just like inner method), e.g. if you port this C/C++ to C#'s S.R.I.X86 you will have a lot of single-use fields 🙁  https://github.com/lemire/simdjson/blob/master/src/haswell/stage1_find_marks.h#L24-L86

[2019-10-02 13:14] EgorBo opened #26988 "double.IsNaN submoptimal codegen for constants"
I have some IsNaN checks in my code and I expected JIT to remove them if I use a compile-time constants, e.g.
[code]
Currently generates:
[code]
But I expected it to be just:
[code]

[2019-10-02 13:22] mikedn commented on #26976
I'm not sure why you would need const/static to begin with, you can use normal local variables. The bigger problem with that simdjson code might be that it relies on lambdas...

[2019-10-02 13:23] mikedn commented on #26988
Why would someone write such code? Or is the real code producing constants in a less obvious way (e.g. inlining)?

[2019-10-02 13:25] EgorBo commented on #26988
@mikedn it's just an example, the original code was like
[code]

[2019-10-02 13:38] mikedn commented on #26988
OK, I'll take a look. I happen to have a prototype that might help with this.

[2019-10-02 13:42] cheesi commented on #26974
Hi @jkotas !

Thanks for your response! I did the steps described by you and got the following call stack:
![callstack](https://user-images.githubusercontent.com/5590254/66048152-57256880-e529-11e9-9cea-f21f27767905.png)

Based on this, I think I also kind of know, what the problem is. The native dll executes a init procedure after it is loaded (i don't know how this works, as I don't have the sou

[2019-10-02 13:47] GPSnoopy commented on #23132
From what I can gather and summarise from the above, there are two pieces of work.

1. Update the CLR so that Array can works with 64-bit length and indices. This includes changes to the Array implementation itself, but as comments have pointed above, also to System.String and the Garbage Collector. It is likely to be relatively easy to come up with a fork of coreclr that can achieve this, as a pr

[2019-10-02 13:48] NextTurn opened #26989 "Question about GCC fastcall convention"
https://github.com/dotnet/coreclr/blob/ce66024ba7d60fc7bb72d5b780e395bd9d11719e/src/vm/fcall.h#L381-L382

I don't understand this comment. I looked into the GCC sources and found that the fastcall convention uses EDX and ECX for parameters (and EAX only for the static chain pointer). Under what circumstances will GCC pass the parameter in EAX?

[2019-10-02 13:54] bitbonk commented on #26972
@jkotas The reason we came across this problem is that one of our public libraries (deployed as a nupkg) depends on an another internal nuget package that

1.  should not show up as a nuget dependency in our public library nuget package because we don't want to publish that internal nuget package
2. contains APIs that should not be accessible by the consumers of our public library nuget package (a

[2019-10-02 14:01] EgorBo commented on #26988
I noticed that `TimeSpan.FromX(x)` APIs are quite frequently used with constants, e.g.
[code]
in such cases it should be just a few movs.

So I went to [TimeSpan.Interval](https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/TimeSpan.cs#L203-L211), replaced exceptions with ThrowHelpers, the second (overflow) check was correctly optimized away but not the IsNaN one

[2019-10-02 14:04] mthalman commented on #26661
@jashook, @dotnet/coreclr-infra - Can we get some traction on this?  This is blocking the release of Docker images on this version.

[2019-10-02 14:13] tannergooding commented on #26976
One issue here is that `Vector128.Create(constant)` is not yet handled (unlike `Vector2/3/4` which are).

You fixed the latter in https://github.com/dotnet/coreclr/pull/14393 but we still have https://github.com/dotnet/coreclr/issues/22388 tracking the former.

[2019-10-02 14:14] GPSnoopy opened #26990 "Changing process affinity from 1 to N cores causes memory corruption and deadlocks"
**To reproduce the problem**
- Launch a process with its initial thread affinity pinned to 1 core.
- Process unpins itself from 1 core to multiple cores.
- Process runs several asynchronous Tasks.
- Process will randomly experience memory corruption (including deadlocks and spurious exceptions).

We suspect the problem has been introduced in .NET 4.8 as well as .NET Core 2.1 (or earlier).

**Notes

[2019-10-02 14:19] GPSnoopy commented on #26990
Adding reproducible example:
[Net48Tester_20191002.zip](https://github.com/dotnet/coreclr/files/3681555/Net48Tester_20191002.zip)

Targets net48, netcoreapp2.1 and netcoreapp3.0.

[2019-10-02 14:47] janvorli commented on #26989
The comment is a bit misleading. It is not talking about fastcall calling convention that compiler understands, but rather about calling convention for calls that coreclr runtime calls FCalls (or fast calls). If you look few lines above that, you'll see that the calling convention we use is defined using
`#define F_CALL_CONV __attribute__((cdecl, regparm(3)))` That one passes arguments in EAX, EDX

[2019-10-02 14:55] mikedn commented on #26976
I was thinking that if you use these values in a loop then it's sufficient to just store the "constant" vector in a local variable outside of the loop. That will be similar to what we can achieve by special JIT constant SIMD support or by using static readonly fields. But yes, if we're not dealing with loops (or if the loop trip count is so small that the constant SIMD creation is significant) the

[2019-10-02 14:57] jkotas commented on #26972
You may consider referencing the InternalPackage with `ExcludeAssets` tag in your app. It will make the package deployed with the application, without exposing the APIs from the InternalPackage to the compiler:

[code]

`Assembly.LoadFile` loads the assembly into a separate context. The separate context gives you more control over how the dependencies are loaded, e.g. it allows you to load multipl

[2019-10-02 14:57] MichalStrehovsky commented on #23132
If we can solve the issue with the GC not being tolerant of variable-length objects bigger than 2 GB,
a couple things that might make `LargeArray<T>` with a native-word-sized-Length more palatable:

* Array length is already represented as a pointer-sized integer in the memory layout of arrays in .NET. On 64-bit platforms, it serves as padding and is always zero.
* If we were to introduce a `Large

[2019-10-02 15:06] jkotas commented on #26974
.NET Core 2 did not run the init procedure at all. .NET Core 3 added back the code that runs the init procedure (for managed C++ support).

[2019-10-02 15:08] bitbonk commented on #26972
What does "part of the app" actually mean? That they are located in the probing path? That they exist in `<application>.deps.json`?

[2019-10-02 15:09] janvorli commented on #26990
cc: @Maoni0

[2019-10-02 15:10] NextTurn commented on #26989
Thanks @janvorli. Does it mean that we can take advantage of `regparm(3)` to make the call "fast"er?

[2019-10-02 15:10] NextTurn commented on #26989
Thanks @janvorli for clarification. Does it mean that we can take advantage of `regparm(3)` to make the call "fast"er?

[2019-10-02 15:14] kasthack commented on #23132
@MichalStrehovsky

This would make `LargeArray<T>` incompatible with a lot of older code in these cases:

* Methods that currently accept a more specific type than they actually need(like `ICollection<T>` instead of `IEnumerable<T>` while the code never just enumerates the values).

* Probably, some cases where types `ICollection<T>` isn't used directly but inherited from. For instance, methods th

[2019-10-02 15:18] jkotas commented on #26972
It means that the build system knows about it. If the build system knows about the .dll:
- It gets listed in .deps.json
- Tasks like IL linking, AOT compilation will pick it up

[2019-10-02 15:19] janvorli commented on #26989
The JIT would have to be modified to take advantage of that as the FCalls are only called by the managed code. It is not clear whether it would really have any perf benefit and it would also influence only Linux x86, which is currently not officially supported.

[2019-10-02 15:21] jeffschwMSFT commented on #26974
cc @jkoritzinsky @vitek-karas

[2019-10-02 15:24] jeffschwMSFT commented on #26972
cc @vitek-karas

[2019-10-02 15:28] NextTurn commented on #26989
Then why don't we use `__fastcall` on GCC since it behaves the same? What's the motivation for adopting a different convention on Linux?

[2019-10-02 15:29] MichalStrehovsky commented on #23132
@kasthack I was trying to come up with a compatible solution where one never has to worry about getting `OverflowException` in the middle of a NuGet package that one doesn't have the source for. Allowing cast to `ICollection<T>` to succeed no matter the size is really no different from just allowing arrays to be longer than 2 GB (no need for a `LargeArray<T>` type). Some code will work, some won't

[2019-10-02 15:34] cheesi commented on #26974
Alright I see. Is there a way to restore the "old behavior"? Or another way to check for .NET DLLs only?

Filtering on a hardcoded file name seems kind of wrong for a dynamic plugin system 😅

[2019-10-02 15:51] janvorli commented on #26989
@NextTurn there are two problems there. First, in fastcall, the callee cleans the stack while with the cdecl,regparm(3), the caller cleans it. The second problem is that the order of arguments passed in register is different between ECX and EDX (fastcall passes first argument in ECX and the second in EDX, while cdecl,regparm(3) passes second argument in EDX and third in ECX).
The usage of cdecl,re

[2019-10-02 15:51] jeffschwMSFT commented on #26974
Considering the dependencies that are doing the long pause, is there a way to configure them to exit out earlier?  For instance, is there a SQL timeout that can be set to something smaller?

It is very possible that previously the module was not behaving as designed due to the lack of the init procedure not running.

[2019-10-02 16:03] cheesi commented on #26974
Nah the native plugin behaved just fine, because if it is used, there is also a correct configuration for it, as the same configuration file is used for their main application. So the init procedure won't take that long. Also the native plugin isn't used directly, but with a c# wrapper plugin with P/Invoke.

It looks like I can't configure the timeout, and even if I could, it would be problematic,

[2019-10-02 16:04] AndyAyersMS commented on #17270
Could be. I have some work in progress to move expansion of delegate invoke earlier. As part of that I'll also look into what is behind this inlining block.

[2019-10-02 16:23] mikedn commented on #26988
With some VN quick and dirty changes on top of another change I had the JIT promptly generates `xor eax, eax` for `IsNaN(5)`

https://github.com/mikedn/coreclr/commits/fp-int-reinterpret

[2019-10-02 16:28] fadimounir commented on #26870
@jkotas How can we guarantee the order on the line you mentioned? Would it work if we stored the result of `iHash % m_cWarmBuckets` in a variable, then do a `MemoryBarrier()`, then perform the `GetWarmBuckets()` call?

[2019-10-02 16:30] stephentoub opened #26995 "GetIsDaylightSavingsFromUtc method doing buggy ambiguous check"
https://github.com/dotnet/coreclr/blob/5b1c001bc0fb5bb1ce035c02ec275763f66defc8/src/System.Private.CoreLib/shared/System/TimeZoneInfo.cs#L1460-L1462

It's storing augmented start and end years into locals that are then never used, and is followed by a range check using the original values rather than the modified values... and this range check was already performed.  The same issue appears again b

[2019-10-02 16:33] fadimounir commented on #26870
There's another place where we do something similar, in BaseInsertEntry(). Does this guarantee the ordering of execution:
[code]

[2019-10-02 16:57] rainersigwald commented on #26951
That sounds like

That's the only obvious error I see, and it looks like it applies only in the extract-resources-from-assembly case, which isn't enabled on .NET Core.

Based on that, I'm more worried about the runtime failure mentioned in the linked OP in

[code]

[2019-10-02 17:08] tarekgh commented on #26951
GetNeutralResourcesLanguage is a protected method so it will be interesting only to whoever subclass ResourceManager which is I believe is not a common case. Also, I couldn't find any code inside out libraries calling this method.

The code has a comment saying this is obsolete but unfortunately the public docs is not saying so.

[code]

based on this, I would say let's fix it for 3.1 and wait if

[2019-10-02 17:17] ericjohannsen commented on #20979
Satellite assembly resolution does not work in a very basic console app built against .NET Core 3.0.0.

I created the console application in VS2019 and added welcome.resx and welcome.de.resx. Both have a string resource called Greeting. When the project builds, it creates a subfolder called de containing MyTest.resources.dll. The main method does this:

[code]

When I add an AssemblyResolve event

[2019-10-02 17:20] mikernet commented on #17272
I think this could be a big win in some situations. The inliner already combines constants passed as parameters that are involved in arithmetic with other constants or other parameters passed as constants into a single value and that delegate is essentially passed as a constant method token so it could be treated similarly to eliminate the delegate invoke call.

[2019-10-02 17:22] tarekgh commented on #20979
@ericjohannsen thanks for reporting the issue, we'll try to take a look and get back to you.

[2019-10-02 17:23] tarekgh commented on #20979
@ericjohannsen by the way, are you running on Windows or Linux?

[2019-10-02 17:24] ArtBlnd commented on #26845
This might make some times to fix. let me take a look for a while.

[2019-10-02 17:27] jkotas commented on #26870
Yes, the same bug is in multiple places in the file. I would create a helper function to fetch `m_pWarmBuckets` and `m_cWarmBuckets` in the right order and with read barrier (`VolatileLoad`), and then change all places that use `m_pWarmBuckets` and `m_cWarmBuckets` outside lock to use this helper function.

[2019-10-02 17:45] EgorBo commented on #26988
@mikedn nice!
Tested your changes locally (after I made `TimeSpan.Interval` inlineable):
[code]
generates:
[code]

[2019-10-02 17:46] BruceForstall opened #26996 "Implement stack probing using helper for arm32/arm64"
x86/x64 was implemented with https://github.com/dotnet/coreclr/pull/26807. This issue tracks doing the work to implement it for arm32/arm64.

This would provide consistency in implementation, simplicity in the JIT stack probing implementation, as well as provide the benefits of stack probing exception stack traces for arm32/arm64.

Related: https://github.com/dotnet/coreclr/issues/21061

[2019-10-02 17:51] mikedn commented on #26988
Probably not, unless it's used in some loop that's hotter than a nuclear rector core :)

[2019-10-02 18:10] ericjohannsen commented on #20979
Windows 10. VS2019 is the latest build.

[2019-10-02 18:17] cshung opened #26998 "[crossgen2] Make sure hardware intrinsic are generated for CoreLib only"

[2019-10-02 18:18] cshung opened #26999 "[crossgen2] Handle Floor and Ceiling"
https://github.com/dotnet/coreclr/pull/26982#discussion_r330444620

[2019-10-02 18:24] cshung opened #27000 "[crossgen2] Making sure Vector64/128/256 are not generated unless CoreLib is part of the version bubble"

[2019-10-02 18:29] cshung commented on #26635
This issue is fixed with PR #26756

[2019-10-02 18:29] #26635 closed

[2019-10-02 18:41] bitbonk commented on #26972
Well first of all, we don't build apps, our customers do. We only build nupkgs that our customers can use.
And if I reference the internal package in the csproj of our public library nupkg using `<ExcludeAssets>compile</ExcludeAssets>` as you suggested, I can't use *any* of the APIs from InternalPackage anymore, it won't compile.
So is there any other combination of `ExcludeAssets`, `IncludeAssets

[2019-10-02 18:41] mikernet commented on #17272
As far as I know, methods with delegate calls don't get inlined at all though, so I guess that would need to be addressed first. I can't find info on why that is though.

[2019-10-02 19:08] tarekgh commented on #20979
@ericjohannsen  I have tried the same code and I am seeing everything is working just fine. I have attached here the project I used.
[ResourceSatellite.zip](https://github.com/dotnet/coreclr/files/3682930/ResourceSatellite.zip)

This project created with VS2019 and targetting .NET Core 3.0.  The code is doing:

[code]

And that is producing the following output

[code]

[2019-10-02 19:19] ericjohannsen commented on #20979
@tarekgh Thanks for the prompt reply. Your project works as expected on my system, but mine still does not. I'm combing through for differences.

[2019-10-02 19:27] Maoni0 commented on #26990
I'm unfamiliar with these exceptions - how could you tell these are due to memory corruption? @stephentoub do these seem like exceptions caused by memory corruption to you?

are you using Server GC at all? if you are using the default which is Workstation GC it doesn't care about the affinity of the process.

[2019-10-02 19:28] ericjohannsen commented on #20979
@tarekgh OK here's the difference: My project also had a manifest file (the default one you get when using Add/New Item). When I deleted the manifest from the project, it ran as expected. Strangely, though, when I added a manifest file back in, it continued to run as expected. Since it's a small test project, I don't have the old project state in source control, so I can't get back to the broken s

[2019-10-02 19:33] wfurt commented on #26879
@eiriktsarpalis  will run some more stress on networking. I'm not sure if JIT stress make sense but GC stress probably does.

[2019-10-02 19:36] tannergooding commented on #26988
I don't see why it shouldn't be inlineable. On most hardware a `nan` check is trivial (generally a single comparison -- on `x86` this is `ucomisd`/`ucomiss`). There is quite a bit of code that utilizes `IsNaN` (including other Math functions, number formatting, TimeSpan, and WinForms/WPF) and ideally we would just handle this optimally.

[2019-10-02 19:38] tarekgh commented on #20979
Thanks @ericjohannsen for the update. Let's know if you run into the problem again. And please try to add the needed information to https://stackoverflow.com/q/58193794/141172 to help other users.

[2019-10-02 19:48] mikedn commented on #26988
He's talking about TimeSpan.Interval: https://github.com/dotnet/coreclr/blob/d2bba5450c03d5f8e6d0d6428ae59a79321364ca/src/System.Private.CoreLib/shared/System/TimeSpan.cs#L203-L211

Even if it is changed to use ThrowHelper it's still pretty large (despite really being a multiply and a cast).

[2019-10-02 19:57] vitek-karas commented on #26974
A good solution should be https://docs.microsoft.com/en-us/dotnet/api/system.reflection.metadataloadcontext.loadfromassemblypath?view=dotnet-plat-ext-3.0#System_Reflection_MetadataLoadContext_LoadFromAssemblyPath_System_String_. This is a purely managed API (no ties to the runtime), it opens the file and tries to parse it as a managed assembly. It will return `BadImageFormatException` when you try

[2019-10-02 19:59] EgorBo commented on #26988
It needs something like `[InlineIfConst(nameof(value)]` similar to the `[NotNullIfNotNull(...)]` 🙂 or a list of special cases in the inliner.

[2019-10-02 21:04] GPSnoopy commented on #26990
@Maoni0 While trying to reproduce these errors, I've seen hundreds of different errors and exceptions. I believe they are just symptoms of general undefined behaviour rather than pointing to the real culprit. I've seen many AccessViolationException instances as well as clear evidence of corrupted memory locations. The root cause could be a race condition or a dangling pointer.

The GC type does no

[2019-10-02 21:09] embix commented on #24757
Using `CLR_OPENSSL_VERSION_OVERRIDE ="1.1"` I get

[code]

when building `msbuild-16.0.461.62831` with `build.sh` which fetches coreclr as dependency.

I use openssl-1.1.1d. If I don't set `CLR_OPENSSL_VERSION_OVERRIDE ` at all I get

[code]

[2019-10-02 21:17] janvorli commented on #24757
cc: @bartonjs -  any idea why the CRYPTO_add_lock would be missing from openssl-1.1.1d?

[2019-10-02 21:23] janvorli commented on #26990
I've just realized it could also be related to the thread pool. @kouvel does it seem possible to you?

[2019-10-02 21:44] AndyAyersMS commented on #17272
Yes, it seems odd. Something [I'm looking into...](https://github.com/dotnet/coreclr/issues/17270#issuecomment-537238178)

[2019-10-02 21:56] CarolEidt commented on #26847
The issue here is that the register allocator is not looking far enough ahead, so it uses `rax` for the pointer field of the span, and then it is not available when it sets `retVal` to zero. This could potentially be addressed by pre-allocating lclVars according to their preferenced registers, as suggested in #11424, but that is a non-trivial task to undertake.

[2019-10-02 22:04] tannergooding opened #27002 "x64 Windows does not correctly handle __m128 returns."
The default calling convention for x64 Windows specifies that `__m128`, `__m128i`, and `__m128d` are returned in XMM0: https://docs.microsoft.com/en-us/cpp/build/x64-calling-convention?view=vs-2019#return-values

These types correspond to the `System.Runtime.Intrinsics.Vector128<T>` type on the managed side and it is not currently being returned in XMM0.

https://github.com/dotnet/coreclr/pull/238

[2019-10-02 22:04] tannergooding commented on #27002
CC. @CarolEidt

[2019-10-02 22:12] 4creators commented on #27000
Is it possible to provide a description of the problem and software architecture associated with it? It would make the issue understandable to all coreclr contributors.

[2019-10-02 22:12] 4creators commented on #26999
Is it possible to provide a description of the problem and software architecture associated with it? It would make the issue understandable to all coreclr contributors.

[2019-10-02 22:12] 4creators commented on #26998
Is it possible to provide a description of the problem and software architecture associated with it? It would make the issue understandable to all coreclr contributors.

[2019-10-02 22:19] GPSnoopy commented on #26990
@janvorli My hunch so far is either the thread pool implementation, or something related like the work queues. These are also the parts that appear the most often in the stack traces.

I've cloned the coreclr repo and inspected it, but it's a big haystack.

[2019-10-02 22:31] Maoni0 commented on #18044
@saixiaohui have you tried 3.0?

[2019-10-02 22:40] CarolEidt commented on #27002
How is this distinct from #15943?

[2019-10-02 23:35] tannergooding commented on #27002
I forgot I logged the former and couldn't find it in GitHub search. I'll update the former with this specific scenario shortly and then will close this one.

[2019-10-02 23:44] cshung commented on #26998
Please check your outlook email, thanks.

[2019-10-02 23:54] janvorli commented on #26998
@cshung The issue needs to contain a description as @4creators suggests so that everyone from the community can understand why this is an issue.

[2019-10-03 01:42] cshung commented on #27000
This issue is created to track the work required to address one of these work items mentioned as a comment in my pull request.

https://github.com/dotnet/coreclr/pull/26772#pullrequestreview-295019815

The pull request was created as a port of these 3 pull requests (#24689, #24917, #25365). As I understand it, the original pull request allow `crossgen` to use hardware intrinsics. The port was inte

[2019-10-03 01:47] cshung commented on #26999
This issue is created to track the work required to address one of these work items mentioned as a comment in my pull request.

https://github.com/dotnet/coreclr/pull/26982#discussion_r330448744

The pull request was created as a cherry-pick of [6ec78980083123ec82300cbcbaadbb34fd34ea0a](https://github.com/dotnet/coreclr/commit/6ec78980083123ec82300cbcbaadbb34fd34ea0a), which is a port of these 3 p

[2019-10-03 02:10] tannergooding commented on #15943
An explicit example of where the current ABI is wrong is for x64 Windows with SIMD returns.

The default calling convention for x64 Windows specifies that __m128, __m128i, and __m128d are returned in XMM0: https://docs.microsoft.com/en-us/cpp/build/x64-calling-convention?view=vs-2019#return-values

These types correspond to the System.Runtime.Intrinsics.Vector128<T> type on the managed side and it

[2019-10-03 02:10] #27002 closed

[2019-10-03 06:02] NextTurn commented on #26989
@janvorli I know FCalls have to conform to the EE calling convention. Why don't we use `__fastcall` as the global calling convention?

https://github.com/dotnet/coreclr/issues/8708#issuecomment-268961078

https://github.com/dotnet/coreclr/issues/8817#issuecomment-270639751

[2019-10-03 06:38] MichalStrehovsky commented on #27000
@cshung does this comment help? https://github.com/dotnet/coreclr/pull/24689/files#diff-f2c1beb35334bda2c2e3c3cbbc0ccd54R9559-R9566

I wasn't part of the discussion that lead to the initial disabling, but reading through the linked issue gives a good summary of why we need to avoid AOT compiling them for now (until the issue is resolved) and why it would be okay to let precompilation happen in Cor

[2019-10-03 06:42] MichalStrehovsky commented on #26999
This is specifically about part of #25365 crossgen fix that should have been ported to crossgen2, but wasn't. The issue linked from the pull request has the details (basically, since we allow RyuJIT to use SSE41, RyuJIT is free to use SSE41 in expansion of Round/Floor/Ceiling). Expanding Round/Floor/Ceiling is not what we intended to enable (we only intended to enable SSE41 on the SSE41 intrinsic

[2019-10-03 06:48] MichalStrehovsky commented on #26998
@cshung's crossgen2 change enabled crossgen2 to pregenerate code for all things that use hardware intrinsics ahead of time (when we don't know the HW architecture of the target machine), except the IsSupported method (which always stays a call). This way we pregenerate both the intrinsics and the fallback. This works as long as the user wraps all intrinsic use under an IsSupported check. If the us

[2019-10-03 07:16] cshung commented on #26998
Is it possible to construct an example such that it actually failfast? That's what I meant by 'clearly reproducible' above. It would be nice for us to have a test case such that it fails if it ever regresses.

[2019-10-03 07:27] MichalStrehovsky commented on #26998
To hit the failfast, one needs to generate native code using instructions that are not supported by the current CPU.

There's an additional limitation that we don't enable anything that uses VEX encoding (the more "modern" ISA extensions such as Avx and Avx2).

You need a machine that has a CPU introduced before SSE42 and pregenerate code with crossgen2 for something that uses a SSE42 intrinsic wi

[2019-10-03 07:34] jkotas commented on #26990
This is a problem with the UP allocation helpers. We use `GetCurrentProcessCpuCount` to decide whether it is ok to use them here: https://github.com/dotnet/coreclr/blob/master/src/vm/gcheaputilities.h#L130
but the implementation of the UP allocation helpers does not use interlocked operations, e.g. here:
https://github.com/dotnet/coreclr/blob/master/src/vm/amd64/JitHelpers_Slow.asm#L174

We either

[2019-10-03 07:41] jkotas commented on #26990
This repros with workstation GC only, but you do not see it because of we ignore the request to use server GC if the process is affinitized to a single processor during startup: https://github.com/dotnet/coreclr/blob/master/src/vm/ceemain.cpp#L456

[2019-10-03 08:23] gfoidl commented on #26988
I'd like the JIT handle this within it's heuristics, and not us via an attribute.
If it's const input, be more aggressive with inlining or that like.

[2019-10-03 09:25] embix commented on #24757
My current CRYPTO exports:

[code]

Build configuration was:
[code]
I created [a gist from `$ perl configdata.pm --dump`](https://gist.github.com/embix/84ab4d768f59ec91d9c35bdaff0e81a1), just in case. HTH

[2019-10-03 09:36] lenardg commented on #20287
Let me also provide some answers for @morganbr :) I don't know if you still read these :)

Text adventures (Console apps) to be run on different platforms (Linux, MacOS, Windows)

No.

Not currently, but it would be great in the long run to support certain scenarios.

Yes.

Yes.
(It would be great to provide some text output or message box to notify the user something is happening)

10-20 Mb.

1+

[2019-10-03 11:31] philjdf commented on #23132
@GPSnoopy's post makes me wonder whether the following variation might make sense:

1. Introduce new `nint` and `nuint` types, but don't change the signatures of anything to use them. Nothing breaks.
2. Introduce new arrays types (with fixed covariance), new span types, etc, which use `nint` and `nuint`. Keep the old ones and don't touch them. Make it fast and easy to convert between old and new v

[2019-10-03 12:08] EgorBo commented on #26988
I see inliner already takes it into account:
[code]
but still even with removed IsNaN check it fails to inline:
[code]
[code]
(maybe some multipliers need to be adjusted, e.g. a const arg feeds a constant test, etc
cc @AndyAyersMS

[2019-10-03 12:14] #26999 closed

[2019-10-03 12:29] GSPP commented on #23132
It has been proposed that we could make `Array.Length` and array indices native-sized (`nint` or `IntPtr`).

This would be a portability issue. Code would need to be tested on both bitnesses which currently is rarely required for most codebases. Code on the internet would be subtly broken all the time because developers would only test their own bitness.

Likely, there will be language level awkwa

[2019-10-03 13:33] AndyAyersMS commented on #26988
The current inline heuristics have a number of shortcomings. I'm generally of the opinion that tweaking what's there is generally not the right approach.

The various "... feeds constant" observations are based on a simplistic scan of the inlinee IL (done during `fgFindJumpTargets`). The stack modelling done during this scan is pretty sketchy. I think the deductions it makes in the above example a

[2019-10-03 14:47] omajid opened #27008 "coreclr fails to build with glibc 2.30 due to sys/sysctl.h deprecation"
Building coreclr on Fedora 32, with glibc 2.30 gives me:

[code]

This is a change in glibc 2.30. See http://patches-tcwg.linaro.org/patch/19443/ for their discussion. This is affecting other projects too, for example https://bugs.launchpad.net/ubuntu/+source/squid/+bug/1843325

[2019-10-03 14:57] omajid commented on #27008
cc @tmds

[2019-10-03 16:21] #26941 closed

[2019-10-03 16:22] jkotas commented on #26870
@fadimounir Could you please submit PR to backport this fix to 3.1?

[2019-10-03 16:23] mgodse commented on #26344
is there any progress on this issue? Do we know if this only occurs on 2.2 ?

[2019-10-03 16:29] fadimounir commented on #26870
@jkotas Yes I'm currently working on backporting this.

[2019-10-03 18:59] john-h-k opened #27015 "'Vector{nnn}.Create' methods have non ideal codegen for `CreateScalar`"
Current codegen for `Vector128.CreateScalar(float|double)` and `Vector256.CreateScalar(float|double)` is sub par.
Ideal codegen would be

[code]

[2019-10-03 19:07] EgorBo commented on #27015
Why are you passing float by ref/pointer? If you pass it by value it will be passed in xmm0 (in your case)
Also, there is `Vector128.CreateScalarUnsafe`

[2019-10-03 19:08] fadimounir commented on #26870
Fix ported to 3.1

[2019-10-03 19:08] #26870 closed

[2019-10-03 19:22] john-h-k commented on #27015
@EgorBo

Yes, but I want the last 3 elements to be zero'd, so that method is not suitable.

That is rather the issue. `Vector128,Create` does not merge the dereference of the pointer and the creation, as would be ideal (or having `Vector128.Create(float*)`)

[2019-10-03 19:36] malylemire1 opened #27016 "Private static readonly unused intializers removed from optimized build."
Here is an example of the behavior I get :

public class MyClass
{
        private static readonly MyClass _instance = new MyClass();

        private MyClass()
        {
            Console.WriteLine("Never called in release build.");
        }

        ~MyClass()
        {
            Console.WriteLine("Never called in release build.");
        }
}

public class MyClass
{
        private static

[2019-10-03 19:52] malylemire1 commented on #27016
Sorry about this. I'm using .net full framework. Don't know if you can reproduce the behavior in .net core.

[2019-10-03 20:13] Suchiman commented on #26825
Okay, but there's only a single thread involved here, why is this API not delivering the correct result?

[2019-10-03 20:14] safern opened #27018 "Should globalization native shim support older ICU versions on alpine?"
The coreclr musl build was moved to now build on alpine-3.9. If people try to use a build of the product that contains latest .NET 5 coreclr on < alpine-3.9 and hits any globalization path, it would fail with:

[code]

The reason for that is because we try to load the ICU version that we compiled against (defined in the headers) and 20+ versions of it.
https://github.com/dotnet/coreclr/blob/190888

[2019-10-03 20:26] thirus commented on #26344
We recently upgrade from 2.2 to .Net Core 3.0 and no longer seeing this memory leak. For do nothing app deployed in k8s with memory limit of 512MB, it hovers around ~160MB (which seems high for workstation GC mode) and stays constant for over 3 days.

[2019-10-03 20:27] CarolEidt commented on #21973
@AndyAyersMS @benaadams - I'll look at how this is impacted by #26087. Do either of you know of any existing benchmarks that would be appropriate to measure?

[2019-10-03 20:57] benaadams commented on #21973
It was mostly from looking at the code gen.

I annotated the asm in the summary with the duplicates `; read [rbp+10H] to rcx`; it keeps reading the memory location to the same register, whereas it would seem it only needs to read it once as the register already contains the value?

[2019-10-03 21:57] cshung opened #27021 "[crossgen2] Produce the READYTORUN_SECTION_ATTRIBUTEPRESENCE section"
When compiling `System.Private.CoreLib.dll`, a section named `READYTORUN_SECTION_ATTRIBUTEPRESENCE ` is produced. Currently, it is not produced by `crossgen2`.

The issue is created to track the work of producing the section.

The section content can be inspected using

[code]

Successful implementation of the feature should produce the same blob. [Followup - should they be bit-by-bit identical is

[2019-10-03 22:45] AndyAyersMS commented on #17272
I've experimentally unblocked inlining of methods with delegate invokes in the jit. Not surprisingly this leads to more inlining. I am not yet sure if this leads to correctness issues, but setting that aside for the moment, we can at least assess the likely code size impact:
[code]
The jit is not accurately modelling the size expansion that comes with delegate invocation and so we're probably a bi

[2019-10-03 23:27] brianrob opened #27024 "LTTng Produces No Events On Official Builds"
On the .NET Core 3.0 official build as well as the latest official builds from master, LTTng produces no events.

I've tracked this down to the FireEtXplat* functions being emitted as (essentially) nops in the official build.

Official .NET Core 3.0 version of FireEtXplatR2RGetEntryPoint:

[code]

Private build of .NET Core 3.0 (same commit hash) of FireEtXplatR2RGetEntryPoint:

[code]

[2019-10-03 23:27] brianrob commented on #27024
@noahfalk, @sywhang, @josalem

[2019-10-03 23:32] mikernet commented on #17272
I doubt there are many BCL opportunities here for optimization but for some library authors it could be very useful, even if only applied when aggressive inlining is requested. There are several places in my DB / entity library codebase that would benefit with this, particularly if/when the delegate call can be eliminated for a direct method call when passed as a constant method token argument

[2019-10-04 00:25] erozenfeld opened #27027 "Incorrect exception thrown when evaluating addition operands"
This program below incorrectly throws `DivideByZeroException` because `Run` method throws  `DivideByZeroException` instead of `NullReferenceException`.

[code]

The test is similar to #22556 (which has been fixed) but here the field is nested (`test.s.i`).

[2019-10-04 00:26] erozenfeld commented on #27027
This repro-es with or without jit optimizations.

[2019-10-04 00:26] erozenfeld commented on #27027
@dotnet/jit-contrib

[2019-10-04 00:29] jkotas commented on #27016
The behavior you are seeing is expected. Your first example has "before field init" constructor that is not guaranteed to run. The runtime can choose whether to run it or not, and the behavior can differ between debug and release builds.

https://github.com/dotnet/coreclr/issues/1193 and https://github.com/dotnet/coreclr/issues/25580 have more discussion about this problem.

[2019-10-04 00:29] #27016 closed

[2019-10-04 00:32] erozenfeld commented on #27027
Looks like morph incorrectly clears an exception flag on an indirection:

[code]
[code]
Node `[000003] *---G+------                 +--*  IND       int` should have `X` flag.

[2019-10-04 00:58] erozenfeld commented on #27027
`OperMayThrow` incorrectly returns false for this tree
[code]
because `fgAddrCouldBeNull` returns false for

[code]

[2019-10-04 01:15] damageboy commented on #26842
@sdmaclea
I'm just finishing a family vacation. Will start testing early next week!

[2019-10-04 08:22] jenshenneberg commented on #26344
I can confirm that .Net Core 3.0 also made the issue go away for us.

[2019-10-04 10:27] janvorli commented on #27008
This can be fixed by making check for HAVE_SYSINFO before the HAVE_SYSCONF so that we don't try to include the header if the HAVE_SYSINFO is 1. The code in the file below has this order of checks too, so it would be correct.

[2019-10-04 12:46] benaadams commented on #14770
Revisiting this; accessing multiple arrays in different ways get away with a single `call CORINFO_HELP_RNGCHKFAIL` how does that work, if coalescing the `call     System.ThrowHelper:ThrowArgumentOutOfRangeException()` wouldn't?

[2019-10-04 12:54] mikedn commented on #14770
The `CORINFO_HELP_RNGCHKFAIL` call is internally generated by the JIT so it simply generates only one.

[2019-10-04 13:59] janvorli commented on #26989
I was looking at the history and I've found why we cannot use __fastcall (although it is the same as on Windows) for the FCalls. The reason is that we've switched the x86 JIT on Unix to use caller cleanup of arguments instead of the callee one on Windows. The switch happened in #10410 and you can find the reasoning behind that in the PR comments.

[2019-10-04 14:02] #26989 closed

[2019-10-04 14:11] NextTurn commented on #26989
Thanks for the information. I've got to take some time to figure out the reason for the switch.

[2019-10-04 14:52] MichalStrehovsky commented on #27033
Cc @vitek-karas @swaroop-sridhar

[2019-10-04 15:28] swaroop-sridhar commented on #27033
The assermbly-location is the location of the main application DLL, which will be the temporary extraction directory. You can use something like:
Process.GetCurrentProcess().MainModule.FileName

Or pinvoke into GetModuleFileNameW(Null, <buffer>, <len>)

[2019-10-04 15:28] swaroop-sridhar commented on #27033
This is a dup of https://github.com/dotnet/core-setup/issues/7491

[2019-10-04 15:28] #27033 closed

[2019-10-04 15:37] AndyAyersMS commented on #14770
It might be interesting to do a crude prototype (that might not have all the needed safety checks) to get a read on how much code size we could save. In the jit it would be nice to do this early to cut down on IR volume, so run say just after inlining. Doesn't have to be a generalized tail merge, can just special case throw blocks and literally just pattern match the simplest cases.

If that looks

[2019-10-04 17:08] mikernet commented on #17272
Another good use case is a throw assert library we've standardized on that takes delegates for exception message generation, i.e:
[code]
Even if the delegate call isn't eliminated in the "exception" case that's fine as that should be rare, but we use these throw helpers for all parameters on all methods and would like them inlined to eliminate method call overhead. We can't use the delegate versio

[2019-10-04 18:42] k15tfu commented on #26579
@davmason Yes, it looks good now. Thank you.

[2019-10-04 18:58] fadimounir commented on #26799
Fixed

[2019-10-04 18:58] #26799 closed

[2019-10-04 19:09] sandreenko opened #27039 "building of an individual test fails with sdk\5.0"
If you install Core-SDK 5.0 from https://github.com/dotnet/core-sdk#installers-and-binaries (you need it if you want to run perfomance benchmarks from with current CoreCLR master)
and then try to build an individual CoreCLR test with:
`C:\git\coreclr\tests\src\JIT\Regression\JitBlue\DevDiv_150586>C:\git\coreclr\.dotnet\dotnet.exe msbuild /p:__BuildOS=Windows_NT /p:__BuildArch=x64 /p:__BuildType=Ch

[2019-10-04 19:11] sandreenko commented on #27039
I have checked that it reproduces on a clean VM, @echesakov you have changed the tests recently, could you take a look?

cc @dotnet/jit-contrib

[2019-10-04 19:45] omariom commented on #26988
This spill
[code]
can be cured with changing https://github.com/dotnet/coreclr/blob/82ed48cfbfc478c71890d60f993037d1208fb3c4/src/System.Private.CoreLib/shared/System/BitConverter.cs#L452 to
[code]

[2019-10-04 19:58] omariom commented on #26988
[WPF has its own IsNaN](https://github.com/dotnet/wpf/blob/2e840efbac4cf916fe35d22d279d42ed02915cc6/src/Microsoft.DotNet.Wpf/src/Shared/MS/Internal/DoubleUtil.cs#L303) :)

[2019-10-04 20:04] tannergooding commented on #26988
It's either that or updating the JIT to explicitly understand that a reinterpret cast of `double` to `long` can be `movq` (and `float` to `int` can be `movd`).

A benefit from the JIT explicitly understanding it is that it can explicitly elide things if it is already in memory and just read the bits directly. Where-as the above code will still force a load and store.

Likewise could be said for `I

[2019-10-04 20:08] sandreenko commented on #27039
PTAL @sbomer

[2019-10-04 20:13] omariom commented on #26973
Closing it as I don't think it is worth the efforts.

[2019-10-04 20:13] #26973 closed

[2019-10-04 20:20] lostmsu opened #27040 "Spans supporting pointer-sized sizes (e.g. 64 bit on 64 bit OS)"
This is very related to https://github.com/dotnet/coreclr/issues/23132 (but not the same).

Currently `Span` `Length` is limited to just under `Int32.MaxValue`.

This is problematic when working on relatively large data, as we have to resort to working with raw pointers and unmanaged memory allocation to work with contiguous arrays of 2G+ elements.

To give you a concrete example, from .NET I can'