[2015-12-15 20:50] sejongoh opened #2349 "Assertion failed '!foundDiff' in 'Node[__Canon][System.__Canon]:Search(ref,ref):ref:this' in lsra.cpp line 2330"
Configuration:
 Debug CoreCLR runtime: coreclr.dll, corerun.exe and mscorlib.dll
 CoreFX assemblies and CoreFX tests: release

The following test fails:
System.Collections.Immutable.Tests

Coregen repro steps:
crossgen /App_Paths . /Platform_Assemblies_Paths . /MissingDependenciesOK ./Microsoft.CodeAnalysis.CSharp.dll

Also happens for System.Collection.Immutable.dll.

Stress modes or other flags

[2015-12-15 21:49] JeffCyr opened #2350 "Implement TaskScheduler.TryCancelTask and TaskScheduler.TryFailTask"
The current TaskScheduler API is somewhat limited when you want to implement Dispose in a custom TaskScheduler.

Currently, after a custom TaskScheduler is disposed, it could throw an exception in QueueTask/TryExecuteTaskInline to fail the Task. But there is no way to cancel the pending tasks, the only option is to block the Dispose until all task are executed or to ignore the pending tasks and po

[2015-12-15 23:40] ghuntley commented on #803
From irc.freenode.net #smartos

    10:16 AM <ghuntley> good morning, who here would like to the .NET Virtual Machine (CoreCLR) running on SmartOS/Solaris/Illumos?
    10:16 AM <rmustacc> There are probably a bunch of folks who like to see it running natively.
    10:17 AM <rmustacc> There are some who are getting it going via lx right now.
    10:17 AM <rmustacc> richardkiene1 might know some fol

[2015-12-16 00:16] sivarv opened #2352 "[JITMinOpts] JIT/Methodical/Arrays/misc/_il_relarrres/_il_relarrres.exe fails with unhandled exception"
Configuration:
 Debug Coreclr and Mscorlib.dll
 Release CoreFx assemblies
 Release CoreCLR tests
 OS: Linux

Without COMPlus_JITMinOpts=1
 Pass

With COMPlus_JITMinOpts=1
Fail with unhandled System.Exception thrown at GCTest.Test.Main()

Even the following test fails with the same unhandled exception
JIT/Methodical/Arrays/misc/_il_dbgarrres/_il_dbgarrres.exe

Note: It needs to be investigated whet

[2015-12-16 00:21] sivarv opened #2353 "[JITMinOpts=1] Assertion Failure 'nextStmtExpr->gtOper == GT_RETURN' in RetBufferBug:Tailaller() in morph.cpp line 6671"
Configuration:
 Debug Coreclr and Mscorlib.dll
 Release CoreFx assemblies
 Release CoreCLR tests
 OS: Linux

Test case:
JIT/Methodical/tailcall_v4/smallFrame/smallFrame.exe

Without COMPlus_JITMinOpts=1
 Pass

With COMPlus_JITMinOpts=1
Fails with the above mentioned assert failure.

[2015-12-16 00:47] rtwede opened #2355 "CurlHandler.EasyRequest.SetProxyOptions() throws ArgException when default credentials used"
Data Point 1:
When default credentials are used with the System.Net.Http.CurlHandler.Proxy as is the case in tools such as the DNX tools it results in ArgumentExceptions being thrown due to empty credentials/username.

Data Point 2:
System.Net.CredentialCache.DefaultCredentials is immutably set to a default SystemNetworkCredential (all empty strings for user, password, domain).

Data Point 3:
http

[2015-12-16 03:26] ckkashyap opened #2357 "fatal error: 'unixasmmacros.inc' on mac"
Hi,

I am new to this project - I am very excited after seeing the this talk http://www.infoq.com/presentations/design-c-sharp-7

I tried building coreclr on my mac today and found an issue with icu4c - I have installed homebrew inside my home directory instead of standard path (that requires su) - This got resolved once I edited src/corefx/System.Globalization.Native/CMakeLists.txt and changed IC

[2015-12-16 03:27] ckkashyap commented on #2357
My clang version is this -
Apple LLVM version 7.0.2 (clang-700.1.81)
Target: x86_64-apple-darwin15.2.0
Thread model: posix

Based on some searches on issues it seemed to be related to old clang - but it appears that my clang is new.

[2015-12-16 04:51] jasonwilliams200OK commented on #803
Official -> https://github.com/joyent/libunwind :smile:

[2015-12-16 08:12] benaadams opened #2359 "Intrinsic byte array search"
Was: `Vector.Dot<byte>` is not an intrinsic

`Vector.Dot<byte>` is [not an intrinsic](https://github.com/dotnet/coreclr/blob/master/src/jit/simd.cpp#L2392) single CPU instruction and is instead composed of a [new object create] (https://github.com/dotnet/corefx/blob/master/src/System.Numerics.Vectors/src/System/Numerics/Vector.cs#L4142) followed by [32 byte multiply instructions and 32 byte additi

[2015-12-16 08:15] GuardRex commented on #2359
@benaadams You rock.

[2015-12-16 08:40] PureKrome commented on #2359
![](http://www.reactiongifs.com/r/2013/10/tim-and-eric-mind-blown.gif)

[2015-12-16 08:47] mikedn commented on #2359
And how do you suggest this be implemented given that there's no instruction that actually does this?

[2015-12-16 08:50] benaadams commented on #2359
@mikedn Working on that bit... or alternative approach. I assume multiple instructions would be ok?

[2015-12-16 08:52] GuardRex commented on #2359
![842f6fc8db8b35162409154c17d047f7](https://cloud.githubusercontent.com/assets/1622880/11836370/2f206446-a38f-11e5-92f1-71c2793251cb.gif)

[2015-12-16 08:56] mikedn commented on #2359
Well, yes, to some extent. The float versions are implemented using shuffles in CPUs that do not have DPPS. But the problem with a byte dot product is that you lack the essential instruction - a packed byte multiplication instruction. Without that you don't have much of a choice but to use 16/32 individual multiplication instructions and that's not very different from what we have now.

[2015-12-16 09:03] benaadams commented on #2359
Seeing if can use alternative algorithm (instruction-wise) that doesn't use dot product for the same effect; then will see if there are any gaps now know where to check.

[2015-12-16 11:13] benaadams commented on #2359
@mikedn Ignoring DotProduct as that's just an implementation detail...

Would it be possible to expose `_mm_cmpestri` which would be even better to achieve the same effect and more flexible?

[2015-12-16 11:15] benaadams commented on #2359
And also `_mm_unpacklo_epi8` and `_mm_unpackhi_epi8` while I'm asking ;-)

[2015-12-16 11:20] benaadams commented on #2359
Otherwise would probably need a integer horizontal add and a bitscan (the unpacks would still be a bonus)

[2015-12-16 16:44] benaadams commented on #2359
Added workaround for now https://github.com/aspnet/KestrelHttpServer/pull/494 gives 23% improvement

[2015-12-16 18:54] jashook opened #2362 "Linux arm build break."
/home/ubuntu/hdd/Projects/coreclr/tests/src/JIT/jit64/mcc/interop/native_i0c.cpp:8:16: error: calling
      convention '__cdecl' ignored for this target [-Werror,-Wignored-attributes]
MCC_API VType0 __cdecl sum(unsigned __int64 first, ...) {

Introduced from bb07af3e0b0e6bf2b9b733ac8b9acd4936e04141.

[2015-12-16 18:59] mikedn commented on #2359
I have no idea if PCMPESTRI has a suitable equivalent on other architectures. It seems a bit too specialized for that to be the case. Unpacks are more likely to have an equivalent but that equivalent might not operate exactly the same.

In general, the idea that one could use a SIMD via a high level API such as the one provided by .NET and write code that works reasonably well on different archite

[2015-12-16 19:15] kouvel commented on #1884
I'm seeing the same assert on the latest state of master as of this morning, when running crossgen on mscorlib.dll on Linux.

Assert failure(PID 62821 [0x0000f565], Thread: 62821 [0xf565]): Assertion failed 'callerArgNum < comp->info.compArgsCount' in 'System.Array:BinarySearch(ref,int,int,struct,ref):int' (IL size 119)

    File: /home/kouvel/e/clr/coreclr/src/jit/lower.cpp Line: 1967
    Image:

[2015-12-16 19:29] richardkiene commented on #803
@jasonwilliams200OK The original repo was setup and blown away, sorry if anyone was already watching it. Until it is ready, the work will be done on the [OS-5039](https://github.com/joyent/libunwind/tree/OS-5039) branch. You can also track the ticket for the libunwind port at https://smartos.org/bugview/OS-5039

[2015-12-16 20:54] LLITCHEV commented on #1884
This is most likely due to the FI of the 4.6.1 changes - potentially a bad merge. Will take a look.

[2015-12-16 21:51] mikem8361 commented on #751
The PAL_InitializeCoreCLR export has been removed.

[2015-12-16 21:51] #751 closed

[2015-12-16 21:55] speshuric opened #2366 "System.Collections.BitArray.Clone() fails when Length near Int32.MaxValue"
I found that `System.Collections.BitArray.Clone()` fails when `BitArray` `Length` near `Int32.MaxValue`

**_Repro:**_

[code]

Expected: `ba2.Length == Int32.MaxValue - i`
Fact: `System.ArgumentException` occurs

**_Analysis**_
This is caused by wrong using of the constructor `BitArray(int[])` in `Clone()` method:

[code]

Actual Length of `int[] m_array` is `1<<26` and thus there is `Int32.MaxVal

[2015-12-17 01:04] benaadams commented on #2359
PCMPESTRI might work instead for an implementation detail of something like `Span<T>.IndexOf(Span<T>)` where `T` is byte\char\int?

[2015-12-17 04:31] LLITCHEV commented on #2315
@VSadov As we discussed this seems to be a bug in the interpreter. It seems the error is due to the fact that in case of a Call with a null target the interpreter still makes a call in the reflection call logic, which throws a System.Reflection.TargetException.
In this particular case the error is:
   Tests.Expressions.InterpreterTests.CompileInterpretCrossCheck_MemberAccess [FAIL]
      System.Ex

[2015-12-17 06:35] mikedn commented on #2359
Yes, IMO it would make more sense that existing functionality (Span.IndexOf, Array.IndexOf, String.IndexOf etc.) to somehow make use of whatever advanced instructions the underlying platform has instead of trying to expose those instructions via a general purposes managed API. But that doesn't really solve the problem we are having in the first place - how to expose such instructions to managed co

[2015-12-17 11:07] mzaky commented on #2362
comment in coreclr/CMakeLists.txt line 467 like:
# All warnings that are not explicitly disabled are reported as errors
#add_compile_options(-Werror)

[2015-12-17 13:44] omariom opened #2373 "RyuJIT: Methods containing PInvoke calls are not inlined"
I expect TestGetCurrentProcessorNumberInlined call to be inlined into TestGetCurrentProcessorNumber method. But the fact that the method contains a pinvoke call makes it non-inlinable.
Even flagging with AggressiveInlining doesn't help.

Seems that it is a change from .NET 4.5.1 behavior, though not sure - I don't have any pre 4.6 machines to check that.

[code]

Calling GetCurrentProcessorNumber

[2015-12-17 13:54] speshuric commented on #2366
I've found tests for `BitArray`. They are in [CoreFx](https://github.com/dotnet/corefx/tree/master/src/System.Collections/tests/BitArray)
If I add tests now then build will be broken because `BitArray` is in coreclr. What should I do?

[2015-12-17 16:48] AlexGhiondea commented on #2366
The way we can handle the addition of tests is to wait until the code change is integrated into CoreCLR and a new package is created that has the fix.. Then we can add the tests

[2015-12-17 17:11] speshuric commented on #2366
How do I know that this happened?

[2015-12-17 17:37] roji opened #2374 "Missing useUserOverride parameter in CultureInfo in dnxcore50"
Any particular reason for this, or a proposed workaround?

[2015-12-17 17:46] Janiels commented on #2374
Looks like a duplicate of #2014.

[2015-12-17 18:10] roji commented on #2374
That's right, sorry for now searching for it...

[2015-12-17 18:10] #2374 closed

[2015-12-17 20:33] LLITCHEV commented on #1884
@kouvel As expected this regression was due to a bad conflict resolution from the RI/FI of the 4.6.1 changes. It is fixed with PR https://github.com/dotnet/coreclr/pull/2375
Please verify it works and close the issue.

[2015-12-17 22:17] VSadov commented on #2315
@LLITCHEV - well, if it is a Linux only failure, then it cannot be in interpreter, since interpreter does not do anything conditionally on platform.
There is still a possibility of running old binary without this fixed. Can that be confirmed?

[2015-12-17 22:19] jkotas opened #2379 "Return array clone in Environment.GetCommandLineArgs"
The new path added to Environment.GetCommandLineArgs in #1994 returns the same array every time. It means that modifications of the array done by one caller are visible by other callers as well. We should return array clone instead.

[2015-12-17 22:19] jkotas commented on #2379
cc @pallavit

[2015-12-17 22:36] VSadov commented on #2315
In current sources InvokeInstance helper contains the following sequence:
[code]

where NullCheck is:

[code]

If the System.Linq.Expression that you run with, has the above code, then it could be an issue with the JIT.

@jashook @LLITCHEV  - could someone take a look at the code that is running?
Is there a NullCheck before   calling into MethodBase.Invoke  ?

[2015-12-17 23:05] sejongoh opened #2380 "Assert Failure (DWORD)(pParam->pExState->GetExceptionRecord()->ExceptionCode) == pParam->pExState->GetExceptionCode() at src/vm/excep.cpp, Line: 3033"
Configuration:
 Debug CoreCLR runtime: coreclr.dll, corerun.exe and mscorlib.dll
 CoreFX assemblies and CoreFX tests: release

The following test fails with  COMPlus_JitStressRegs = 3.
System.Net.Requests.Tests

[code]

[2015-12-17 23:43] ianhays commented on #1473
These are significant changes to be made to harden against such a specific scenario. As mikedn has mentioned, without a specific real-world example of how this could be used maliciously I can't imagine it has a large enough effect to justify the work involved in implementing it (as well as tradeoffs accepted in doing so).

It is an interesting edge case, though. I'm going to close this issue until

[2015-12-17 23:43] #1473 closed

[2015-12-18 05:23] JeffCyr opened #2383 "ThreadPool's UnfairSemaphore Interlocked64 operation on misaligned address in x86"
The UnfairSemaphore uses a 64bit structure to store its state and swap the values with FastInterlockCompareExchangeLong. This could have a performance hit if the address is not 64bit aligned in x86.

https://github.com/dotnet/coreclr/blob/master/src/vm/win32threadpool.h#L161

I reproduced the issue in c# when I ported the UnfairSemaphore to make a custom ThreadPool, on a particular scenario I get

[2015-12-18 05:59] mikedn commented on #2383
Why wouldn't it be 8 byte aligned? `asLongLong` has type `LONGLONG` which is 8 bytes in size. That member will be 8 byte aligned unless the default compiler alignment is changed and that's unlikely to be the case.

[2015-12-18 06:06] JeffCyr commented on #2383
Oh that's true, you made me realize that I specified LayoutKind.Sequential on my version of UnfairSemaphore.

Thanks for that and sorry for the waste of your time, I'll close the issue.

[2015-12-18 09:18] dopare opened #2384 "Inconsistent in ExecutionContext.Run(...) between CoreClr and Clr"
I got a tiny DNX (1.0.0-rc1-update1 runtime) based console application listed bellow :

[code]

On full CLR application prints out

[code]

On CoreCLR application prints out
[code]

[2015-12-18 12:52] jods4 opened #2385 "Proposal: Optimize LINQ to Objects code"
The following issue was filed twice at Roslyn, dotnet/roslyn#7580 and dotnet/roslyn#275 where @gafter suggested that this optimization should be done by the JIT rather than by the C# compiler.
This is why I am copy-pasting the issue in this repo (minus some comments that were only relevant to Roslyn).

----
LINQ (the  Enumerable  flavor) is a huge productivity boost.
 Unfortunately it comes with a

[2015-12-18 15:00] ryanlin1986 commented on #2385
+1

[2015-12-18 17:19] omariom commented on #2385
:+1:

[2015-12-18 17:20] mzaky opened #2387 "Linux ARM running Helloworld hangs"
(gdb) run HelloWorld.exe
Starting program: /home/pi/coreclr-arm-demo/runtime-arm/corerun HelloWorld.exe
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/arm-linux-gnueabihf/libthread_db.so.1".
[New Thread 0x760c8450 (LWP 819)]
[New Thread 0x75868450 (LWP 820)]
[New Thread 0x74eff450 (LWP 821)]
[New Thread 0x724fe450 (LWP 822)]

^C
Program received signal SIGINT,

[2015-12-18 17:22] redknightlois commented on #2385
+1 we also avoid LINQ on hot-paths for that very same reason.

[2015-12-18 18:16] LLITCHEV commented on #2315
I tracked the issue down (there are actually two things).
1. The earlyprop optimizer (new code that came with the FI/RI) there was no proper handling of null values. It was fixed at some point and not included in the FI/RI. @BruceForstall did mop FI earlier this week and that fixed the CompileInterpretCrossCheck_MemberAccess failure.
2. The CompileInterpretCrossCheck_Call failure is due to adding

[2015-12-18 18:22] LLITCHEV opened #2388 "Potentially missing checks for intrinsics modeled as Calls in the morph and optimizer phases."
In order to allow for the optimizers to optimize special calls (object GetType()) for example, they are converted to intrinsics for the optimizer phases and then back to calls.
There is a potential of missing code to deal with the new intrinsics in the optimizers. Before this change, they were GT_CALL trees and now they are GT_INTRINSIC tree.
I have added TODO comments in the places I spotted goin

[2015-12-18 18:29] jashook opened #2389 "x86 legacy backend AV"
x86 LEGACY_BACKEND failure

Assert Failure: Consistency check failed: AV in clr at this callstack

To Repro:

Build x86 LEGACY_BACKEND.

\Interop\ICastable\Castable\Castable.cmd

[2015-12-18 18:48] JeffCyr commented on #2383
@mikedn For the record, my problem was that I implemented the `Counts` union with a struct with LayoutKind.Explicit. Turns out that the alignment cannot be properly determined with explicit layout struct, I have to use an explicit layout on the UnfairSemaphore too.

Thanks again for your insight.

[2015-12-18 19:11] rainersigwald commented on #2357
I saw this too on a fresh laptop with `cmake` installed via `brew`. Uninstalling cmake and installing CMake 3.3.2 from https://cmake.org/download/ got me way past that point of failure, so I think this is the same thing as #2054.

[2015-12-18 21:12] GSPP commented on #2385
If the compiler knew exactly what to inline *and* it was capable of converting heap allocs to stack allocs, then there would be no reason typical LINQ queries would be slower than hand written loops.

Maybe this optimization is valuable enough to add special knowledge to the JIT so that it will eagerly inline typical LINQ methods such as Select, Where, Sum, ToList? Seems nasty but the speed boost

[2015-12-18 21:54] LLITCHEV commented on #2388
A version of the code with the TODOs mentioned above is at PR https://github.com/dotnet/coreclr/pull/2390
Or branch RemorphAssert or fork: http://github.com/LLITCHEV/coreclr.

[2015-12-18 22:21] jods4 commented on #2385
@GSPP well there's a little more involved but that's idea yes.
If you look at LinqOptimizer, which I linked above, it also performs loop fusion, type removal, generates new loops and has specialized algorithms for some methods. Moreover it supports generating `ReduceCombine` code for parallel LINQ.

They claim up to 15x speed boost for some queries.

[2015-12-18 22:34] sejongoh opened #2396 "[JitStressRegs=0x80] System.Linq.Expressions.Tests fails"
**Configuration**

 Debug CoreCLR runtime: coreclr.dll, corerun.exe and mscorlib.dll
 CoreFX assemblies and CoreFX tests: release

 ** Run run-test with sudo ** to avoid corefx test hang

**Failed tests**

Tests.Expressions.InterpreterTests.CompileInterpretCrossCheck_Divide [FAIL]
Tests.Expressions.InterpreterTests.CompileInterpretCrossCheck_ModuloAssign [FAIL]
Tests.Expressions.InterpreterTests.C

[2015-12-18 22:37] sejongoh opened #2397 "[JitStressRegs=4, 0x80] System.Text.Encoding.Extensions.Tests fails with EncodingTests.UTF7.GetBytes_BufferBoundary_Pointer [FAIL]"
**Configuration**
 Debug CoreCLR runtime: coreclr.dll, corerun.exe and mscorlib.dll
 CoreFX assemblies and CoreFX tests: release

 **Run run-test with sudo** to avoid corefx test hang

**Failures**

Pass without JitStressRegs=4/0x80
Fail with JitStressRegs=4 and returns exit code 33. Report 33 test failures
Fail with JitStressRegs=0x80 and returns exit code 2. Report 2 test failures.

The error me

[2015-12-18 22:43] sejongoh opened #2398 "[JitStressRegs=0x80] System.Net.Requests.Tests fails with System.ArgumentNullException : Value cannot be null.\nParameter name: SafeHandle cannot be null."
**Configuration**
 Debug CoreCLR runtime: coreclr.dll, corerun.exe and mscorlib.dll
 CoreFX assemblies and CoreFX tests: release
 Ubuntu Linux 14.04 LTS on Hyper-V

Run run-test.sh **with sudo** to avoid corefx hang

**Failures**

Pass without JitStressRegs=0x80
Fail with JitStressRegs=0x80 with exit code 2

System.Net.Requests.Tests  Total: 112, Errors: 0, Failed: 2, Skipped: 0, Time: 24.446s

Te

[2015-12-18 22:50] janvorli commented on #2396
Dup of #2333

[2015-12-18 22:54] schellap opened #2399 "Enable Tests for Ubuntu in CoreCLR"
@adityamandaleeka, as we want to run CoreCLR tests in CoreRT repo's Ubuntu builds, we would like CoreCLR to first run tests on Ubuntu as well in the CI.

/Cc @gkhanna79

[2015-12-18 22:58] schellap opened #2401 "Publish CoreCLR test drop as a NuGet package"
CoreCLR test assets grow to be the single place for authoring tests that target the various dotnet runtimes.

It would be nice to publish the test binary drops as a NuGet package so other projects can take advantage of these tests.

This work involves publishing the test bin drop and parts of the build (props/target files inside <root>\tests\src <root>\tests) to build the XUnit wrappers that run t

[2015-12-18 23:27] sejongoh opened #2402 "[JitStressRegs=4] System.Reflection.Emit.ILGeneration.Tests fails with System.InvalidOperationException : Method body should not exist."
**Configuration**
Debug CoreCLR runtime: coreclr.dll, corerun.exe and mscorlib.dll
CoreFX assemblies and CoreFX tests: release
Ubuntu Linux 14.04 LTS on Hyper-V

Run run-test.sh **with sudo** to avoid corefx hang

**Failures**

Pass without JitStressRegs=4
Fail with JitStressRegs=4 with exit code 8

Test names:
XmlSerializerTests.Xml_JaggedArrayAsRoot
XmlSerializerTests.Xml_TestTypeWithListPropert

[2015-12-18 23:33] sejongoh opened #2403 "[JitStressRegs=4] System.Xml.XmlSerializer.Tests fails with System.NullReferenceException : Object reference not set to an instance of an object"
**Configuration**
 Debug CoreCLR runtime: coreclr.dll, corerun.exe and mscorlib.dll
 CoreFX assemblies and CoreCLR tests: release
 Ubuntu Linux 14.04 LTS on Hyper-V

 Run run-test.sh **with sudo** to avoid corefx hang

**Failure**
Pass without JitStressRegs=4
Fail with JitStressRegs=4 with exit code 9

Test names:
XmlSerializerTests.Xml_JaggedArrayAsRoot
XmlSerializerTests.Xml_TestTypeWithListProp

[2015-12-18 23:36] sejongoh opened #2404 "[JitStressRegs=4] System.Reflection.Emit.Tests fails with exit code 3"
**Configuration**
Debug CoreCLR runtime: coreclr.dll, corerun.exe and mscorlib.dll
 CoreFX assemblies and CoreFX tests: release
 Ubuntu Linux 14.04 LTS on Hyper-V

 Run run-test.sh **with sudo** to avoid corefx hang

**Failures**

Pass without COMPlus_JitStressRegs=4
Fail with COMPlus_JitStressRegs=4 with exit code 3.

Test names:
System.Reflection.Emit.Tests.ModuleBuilderCreateGlobalFunctions.Tes

[2015-12-18 23:56] richardlford opened #2405 "Assert failure in clr at CORECLR! GenTree::TypeGet"
The following tests fail with the

[code]

- JIT\Directed\coverage\importer\Desktop\badldsfld_il_d\badldsfld_il_d.cmd
- JIT\Directed\coverage\importer\Desktop\badldsfld_il_r\badldsfld_il_r.cmd

on debug win64.

[2015-12-18 23:57] jashook opened #2406 "x86 legacy backend unexpected output"
x86 LEGACY_BACKEND failure

unexpected output received.

May or may not be the same errors.
To Repro.

\GC\Features\HeapExpansion\Finalizer\Finalizer.cmd
\JIT\Directed\PREFIX\unaligned\1\arglist\arglist.cmd
\JIT\Directed\PREFIX\unaligned\2\arglist\arglist.cmd
\JIT\Directed\PREFIX\unaligned\4\arglist\arglist.cmd
\JIT\Directed\PREFIX\volatile\1\arglist\arglist.cmd
\JIT\Methodical\doublearray\dblarra

[2015-12-18 23:59] richardlford opened #2407 "Assert failure ... 'GetType() == TI_METHOD' in 'OddPower:Main():int'"
The following tests had this failure:
[code]

- JIT\Methodical\delegate\_simpleoddpower_il_d\_simpleoddpower_il_d.cmd
- JIT\Methodical\delegate\_simpleoddpower_il_r\_simpleoddpower_il_r.cmd

on debug win64.

[2015-12-18 23:59] jashook opened #2408 "x86 legacy backend OutofMemoryException"
x86 LEGACY_BACKEND failure

Unhandled Exception: OutOfMemoryException

To Repro:

Build x86 LEGACY_BACKEND.

\JIT\jit64\opt\cse\HugeArray1\HugeArray1.cmd

[2015-12-19 00:00] jashook opened #2409 "x86 legacy backend Assertion failure thread->PreemptiveGCDisabled()"
x86 LEGACY_BACKEND failure

Assert Failure: thread->PreemptiveGCDisabled()

To Repro:

Build x86 LEGACY_BACKEND.

\Interop\NativeCallable\NativeCallableTest\NativeCallableTest.cmd

[2015-12-19 00:02] jashook opened #2410 "x86 legacy backend Assertion failure Unhandled Exception: System.InvalidOperationException: Cannot call Set on a null context"
x86 LEGACY_BACKEND failure

Assert Failure: Unhandled Exception: System.InvalidOperationException: Cannot call Set on a null context

To Repro:

Build x86 LEGACY_BACKEND.

\JIT\Methodical\Boxing\misc\_dbgconcurgc_il\_dbgconcurgc_il.cmd
\JIT\Methodical\Boxing\misc\_relconcurgc_il\_relconcurgc_il.cmd

[2015-12-19 00:03] richardlford opened #2411 "Assert failure ... CONTRACT VIOLATION by ThreadExceptionState::GetThrowable"
The following tests failed with this failure:

[code]
- JIT\Methodical\varargs\seh\filter_il_d\filter_il_d.cmd
- JIT\Methodical\varargs\seh\filter_il_r\filter_il_r.cmd

on debug win64.

[2015-12-19 00:03] jashook opened #2412 "x86 legacy backend Assertion failed 'spill->spillVarDsc'"
x86 LEGACY_BACKEND failure

Assertion failed 'spill->spillVarDsc'

To Repro:

build x86 LEGACY_BACKEND

\JIT\Methodical\divrem\rem\u8rem_cs_do\u8rem_cs_do.cmd
\JIT\Methodical\divrem\rem\u8rem_cs_ro\u8rem_cs_ro.cmd

[2015-12-19 00:05] jashook opened #2413 "x86 legacy backend Assertion failed '!Mapped(uEntry)'"
x86 LEGACY_BACKEND failure

Assertion failed '!Mapped(uEntry)'

To Repro:

build x86 LEGACY_BACKEND

JIT\Methodical\divrem\div\u8div_cs_do\u8div_cs_do.cmd
\JIT\Methodical\divrem\div\u8div_cs_ro\u8div_cs_ro.cmd

[2015-12-19 00:07] richardlford opened #2414 "Tests failing with unexpected result"
The following tests fail to return the expected return code, thus return
false rather than true from the test driver. These tests
did not product any other output to indicate the cause of failure.
This was for a debug win64 run.

[code]

[2015-12-19 00:09] jashook opened #2415 "x86 legacy backend Assertion failed 'genActualType(op1->TypeGet()..."
x86 LEGACY_BACKEND failure

Assertion failed 'genActualType(op1->TypeGet()) == genActualType(op2->TypeGet()) || varTypeIsI(op1->TypeGet()) && varTypeIsI(op2->TypeGet()) || varTypeIsFloating(op1->gtType) && varTypeIsFloating(op2->gtType)

To Repro:

build x86 LEGACY_BACKEND

\JIT\Methodical\ELEMENT_TYPE_IU\_il_dbgi_array_merge\_il_dbgi_array_merge.cmd
\JIT\Methodical\ELEMENT_TYPE_IU\_il_dbgu_array_

[2015-12-19 00:10] richardlford opened #2416 "Tests fail with unhandled null reference"
The following tests fail (on debug win64 job) with unhandled null reference exception.

[code]

[2015-12-19 00:13] jashook opened #2417 "x86 legacy backend System.AccessViolation"
x86 LEGACY_BACKEND failure

System.AccessViolationException: Attempted to read or write protected memory

To Repro:

build x86 LEGACY_BACKEND

\JIT\Methodical\structs\systemvbringup\structinregs\structinregs.cmd

[2015-12-19 00:20] jashook opened #2418 "x86 legacy backend could not load file or assembly"
x86 LEGACY_BACKEND failure

Could not load file or assembly System...

May or may not be the same errors.
To Repro.

\JIT\Regression\CLR-x86-JIT\V1-M10\b04914\b04914\b04914.cmd
\JIT\Regression\VS-ia64-JIT\V1.2-M02\b108129\b108129\b108129.cmd
\JIT\Regression\CLR-x86-EJIT\V1-M09.5-PDC\b14426\b14426\b14426.cmd
\JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b57367\b57367\b57367.cmd
\JIT\Regression\CLR-x86-J

[2015-12-19 00:22] jashook opened #2419 "x86 legacy backend Unexpected exception thrown"
x86 LEGACY_BACKEND failure

Unexpected exception thrown

To Repro

\JIT\Methodical\Arrays\misc\_il_dbgarrres\_il_dbgarrres.cmd
\JIT\Methodical\Arrays\misc\_il_relarrres\_il_relarrres.cmd

[2015-12-19 00:23] jashook opened #2420 "x86 legacy backend Invalid program exception"
x86 LEGACY_BACKEND failure

Invalid program exception

To Repro:

build x86 LEGACY_BACKEND

\JIT\opt\Tailcall\TailcallVerifyWithPrefix\TailcallVerifyWithPrefix.cmd

[2015-12-19 00:23] jashook opened #2421 "x86 legacy backend System.NotSupportedException: Specified method is not supported"
x86 LEGACY_BACKEND failure

System.NotSupportedException: Specified method is not supported

To Repro:

build x86 LEGACY_BACKEND

\JIT\Regression\CLR-x86-JIT\V1.2-M02\b20785\b20785\b20785.cmd

[2015-12-19 00:24] jashook opened #2422 "x86 legacy backend System.ComponentModel.Win32Exception"
x86 LEGACY_BACKEND failure

System.ComponentModel.Win32Exception: The system cannot find the file specified

To Repro:

build x86 LEGACY_BACKEND

\JIT\Regression\CLR-x86-JIT\V1.2-Beta1\b101136\b101136\b101136.cmd

[2015-12-19 01:02] sejongoh opened #2423 "[JitStressRegs=3] System.Runtime.Extensions.Tests fails with exit code 3"
**Configuration**
 Debug CoreCLR runtime: coreclr.dll, corerun.exe and mscorlib.dll
 CoreFX assemblies and CoreFX tests: release
 Ubuntu Linux 14.04 LTS on Hyper-V
 Run run-test.sh **with sudo** to avoid corefx hang

**Failures**

Pass without JitStressRegs=3
Fail with JitStressRegs=3 and return exit code 3

Case 1) Failure (Cannot reproduce this again)

   System.Runtime.Extensions.Tests  Total:

[2015-12-19 07:02] rexim commented on #2175
+

[2015-12-19 07:32] mikedn commented on #2383
In the x86 desktop CLR this code looks like this:

[code]

`ecx` is the `this` pointer and 40h is the size of `padding1` array and it is obviously a multiple of 8. This means that the only way `asLongLong` could end up being unaligned is if the entire object is improperly aligned.

There appears to be a single such object and it is allocated via the `new` operator. This is a custom `new` operator

[2015-12-19 11:28] OtherCrashOverride opened #2426 "Add platform native long support to runtime"
Currently, C# ``long`` maps to ``System.Int64`` in the runtime.  However, the ``native long`` may be 32bit or 64bit depending on platform.  We need a new type that transitions from 32bit to 64bit as appropriate for the platform in much the same way as ``IntPtr`` does.  This issue is present when you compile a C/C++ project on 64bit platforms and need to perform interop.

Windows is a LLP platform.

[2015-12-19 12:02] JeffCyr commented on #2383
Thank you for this detailed answer @mikedn. Very informative.

It would be nice if we could specify the required memory alignment with a class attribute in .Net.

[2015-12-19 12:02] #2383 closed

[2015-12-19 12:16] StrongRef opened #2427 "OSX build instructions update"
I have found some issues while building coreclr on OSX.
There are a couple of open issues already:
https://github.com/dotnet/coreclr/issues/2357 (fatal error: 'unixasmmacros.inc')
https://github.com/dotnet/coreclr/issues/2054 (OSX build fails with latest CMAKE 3.4 release)

They describe the issues with CMake 3.4, ulimit and MONO_THREADS_PER_CPU.

I'm using CMake 3.1.3 and have also found an issue

[2015-12-19 20:59] fsoikin opened #2429 "Hang up when required assembly is missing on Linux."
When running a published (i.e. pre-compiled) app, if a dependency is missing, `dnx` will hang up without producing an error.

Some details:
* This happens only on Linux (specifically, CentOS 7.2 x64). Windows works fine.
* My runtime is `rc1-update1`, but it happens the same way on `rc2-16317` as well.

## Detailed repro:

### Project B
[code]

### Project A
[code]

### Build a package of project

[2015-12-19 21:47] benaadams commented on #2223
@stephentoub Interestingly, while run-time is improved x5 and GCs reduced, memory "in-use" is far worse
[code]
[code]

[2015-12-20 01:40] dlech commented on #2426
Duplicate of #963?

This is a good point that has not been brought up before in that discussion. However, I would like to also point out that on Windows libraries can be compiled with gcc (LP) in addition to msvc (LLP), so native long on Windows doesn't depend on the fact that the OS is Windows, but rather on which compiler was used for the native library.

The problem of "natural floats" discusse

[2015-12-20 04:20] benaadams opened #2430 "Array.Copy & Buffer.BlockCopy x2 to x3 slower < 1kB"
Array.Copy & Buffer.BlockCopy are up to x3 times slower than what can currently be written using managed C# for `byte[]` copies < 1024 bytes.

As these are the low level copy apis they should be faster than anything that can be written using managed code.

The [IllyriadGames/ByteArrayExtension](https://github.com/IllyriadGames/ByteArrayExtensions) repository adds a [`VectorizedCopy`](https://githu

[2015-12-20 05:54] benaadams commented on #2101
Also might want to check the performance of `memmove` is what you expect on Windows https://github.com/dotnet/coreclr/issues/2430

[2015-12-20 05:55] OtherCrashOverride commented on #2426
The difference between this issue and #963 is that LP and LLP are system wide.  They are the standard for the platform as a whole.  The ``CGFloat`` issue differs in that it is specific to a single API. It singularly affects CoreGraphics and is not a native type: it is an API defined type. It only affects code targeting the CoreGraphics API. ``native float`` is always 32bits regardless of the defin

[2015-12-20 07:41] mikedn commented on #2430
That's a bit of apples and oranges comparison, your version only handles `byte[]` while the framework versions handle all types of arrays. But yes, there's certainly room for improvement, the JIT could treat Array.Copy and Buffer.BlockCopy as intrinsics and that would allow a number of optimizations to be performed, including generating an inline `rep movsb`.

Those are handled by the JIT, they ha

[2015-12-20 09:38] benaadams commented on #2430
I'm not entirely sure how [unless this](https://github.com/dotnet/coreclr/blob/master/src/vm/comutilnative.cpp#L1420-L1434) is particularly onerous

[code]
If that is heavy it could move into a jitted constant for the type or exception and be essentially eliminated? The cpu vector load and store instructions don't care what the data types are; though there would be some overhead in handling overla

[2015-12-20 10:07] mikedn commented on #2430
At least for small sizes like 16, yes that piece of code's overhead is high.

I'm not very sure what you are suggesting. One possible solution is to have a generic version and then use code like:

[code]

where IsBlittable is a hypothetical property that returns true if T is not a reference type or a struct that contains reference type fields. The `if` could then be eliminated at JIT because for T

[2015-12-20 10:36] mikedn commented on #2430
Even for larger sizes the `BlockCopy` code has significant overhead - for 256 bytes 50% of the time is spent in `memcpy` and 45% of the time is spent in `BlockCopy`.

[2015-12-20 10:51] benaadams commented on #2430
Yeah, essentially [the pattern the System.Numerics.Vector](https://github.com/dotnet/corefx/blob/master/src/System.Numerics.Vectors/src/System/Numerics/Vector.cs#L14-L20) uses
[code]

The graph included in the issue summary or graph and full data table on  [IllyriadGames/ByteArrayExtension](https://github.com/IllyriadGames/ByteArrayExtensions) shows the average times and operations per second for

[2015-12-20 11:21] benaadams commented on #2430
i.e. 17 bytes takes double the time of 16 bytes which is it was alignment alone should have recovered somewhat for 32 bytes; but doesn't

[2015-12-20 11:27] benaadams commented on #2430
i.e. 17 bytes takes double the time of 16 bytes which is it was alignment alone should have recovered somewhat for 32 bytes; but doesn't; snip from table below:

Method | Len  | AvrTime | StdDev | op/s | % Delta vs ArrayCopy |
-------------- |-----:|-----------:|----------:|---------------:|---------------------:|
BlockCopy      |   15 |  6.0864ns | 0.1013ns | 164,346,271.10 | -2.4% |
VectorizedCo

[2015-12-20 12:13] mikedn commented on #2430
I see, I was looking at the graph upside down so to speak :smile:

VC++'s memcpy (and memmove) implementation has special cases for less than 16 bytes and 16-32 bytes. See the code in "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\crt\src\amd64\memcpy.asm".

[2015-12-20 13:04] benaadams commented on #2430
Not very good at assembler, but at quick glance it looks like its a dependent read causing a pipeline stall for 32.

The next step in the `XmmCopySmallLoop` loop can't be run until the result of `add     rcx, 16` is known as it uses `rcx`; similar to why you add to the counter in an unrolled loop and increment it at the end rather than incrementing the counter at each step.

Whereas the [two 16 by

[2015-12-20 16:03] dlech commented on #2426
One of the points that I was trying to make is that LP64 and LLP64 are not necessarily system wide. For example, [Cygwin uses LP64 on Windows](https://cygwin.com/cygwin-ug-net/programming.html). So, if you say `nlong` is 32-bit on Windows, it doesn't work as expected if you pinvoke a cygwin compiled library.

[2015-12-20 18:31] richardlford opened #2432 "Test ilproj files do not support dependencies via project.json"
When an il test has a dependency, there is no way to get the
required nuget package loaded as the current IL.targets
file does not support processing of project.json files.

A workaround is to add the dependency any of the JIT/config/**/project.json files.
This will cause the required assemblies to be copied to the CORE_ROOT
directory, provided there is at least one csproj test that uses that proj

[2015-12-20 18:42] richardlford opened #2433 "The type initializer threw AccessViolationException"
For a debug win64 test job, an error message like this

[code]

is given when the following tests fail:

[code]

[2015-12-20 18:59] richardlford opened #2434 "Method not found: 'IntPtr System.Threading.WaitHandle.get_Handle()'."
Got this message:

[code]

for this test on a debug win64 test job:

[code]

I'm not sure whether this test is portable or not. For now I'm adding the
test but excluding it.

[2015-12-20 19:01] richardlford opened #2435 "[rva statics] Tests fail with System.AccessViolationException"
On a debug win64 test job the following tests fail with an access violation:

[code]

[2015-12-20 21:21] benaadams commented on #2430
@mikedn looking into this a bit further it looks like can extend the performance for the full range (getting 304GBit/s read + 304GBit/s write) for 16kB aligned arrays. Assuming a `readonly static byte[]`'s data is aligned. Though its probably all operating in L1 cache at that speed; however it is the same conditions `Array.Copy` is working with.

I'm just testing with unaligned copies to see what

[2015-12-20 21:35] jkotas commented on #2430
Agree. To compare apples to apples, it would be more accurate to compare the vectorized implementation with something like:

[code]

The results will vary in both directions based on number of dimensions:
- CPU model.
- Compiler and C runtime used (VS2013, VS2015, ...)
- Optimization performed by the C compiler, e.g. you will get much better results for small sizes with .NET Framework vs CoreCLR,

[2015-12-20 22:27] benaadams commented on #2430
Interesting didn't know `Buffer.MemoryCopy` was a thing; 4.6 & coreclr? Will retest.

CPU model.

Yeah :-/ Tis very true

Using .Net Framework.4.6.1 (4.6.01038); RyuJIT, x64, Win 10 (10586.29), VS 14.0.24720 Update 1 - though just using provided framework not building myself.

Also have CPU power saving off and CPU fan locked on full and nothing else running on test machine; just letting it do its

[2015-12-20 23:07] benaadams commented on #2430
Also needs to be RyuJIT x64 for Vectors to have meaning.

[2015-12-20 23:21] mikedn commented on #2430
@benaadams

That has nothing to do with the 17-32 case, that code is for the 32-128 case.

16kB aligned arrays? Maybe you mean 16 byte? And what alignment has to do with static readonly?!

Anyway, I don't understand where are you trying to go with all this. Even if `memcpy` has some kind of issue the overhead of `Buffer.BlockCopy` is very high at small sizes so what `memcpy` does is very much irre

[2015-12-21 04:58] adityamandaleeka commented on #2399
@schellap I might be misunderstanding what this issue is about, but the CoreCLR CI already runs tests on Ubuntu.

[2015-12-21 07:31] OtherCrashOverride commented on #2426
For the intent and purpose of this issue, they are **always** system wide.  "foreign environments" will inherit the behaviour of the native environment: if a developer is using a LP64 environment on a native LLP64 system, they will be responsible for accommodating it just as is required for C/C++ without the presence of CoreCLR.

CoreCLR is, as the name suggests, minimal.  It has a greater need fo

[2015-12-21 08:52] mjsabby commented on #2426
I'm not sure there is anything here for CoreCLR to do, the support for a pointer-size type already exists in MSIL as "native int", and in C# as IntPtr. This deferred resolution of size at runtime or architecture-specific compile time is all that is needed for you do implement native interop where the size of a parameter/return type is dependent on the size of the pointer.

long/longlong and abstra

[2015-12-21 10:19] benaadams commented on #2430
Ah my mistake, so its doing x2 16 byte copies for 17-32 in `Move17to32` one or both of which are unaligned.

16kb arrays, which I assumed to be 16 byte aligned; but probably aren't due to the type and length preamble. Static readonly was to provide a fuller picture of the benchmark and the cpu caching state + GC interplay.

Sorry... got a bit side tracked. Basically a faster Copy for primitive arr

[2015-12-21 10:42] benaadams commented on #2359
Closing this, will reopen if have something more concrete.

[2015-12-21 11:00] mikedn commented on #2430
Yup. In my C++ tests the 17-32 is actually faster than the rest and given how the code looks I think it's normal. But this case seems to be new in VC++2015 and the desktop version of .NET uses the VC++2013 CRT, that may explain why you're seeing that sharp decrease at 16 bytes.

Why would the length of an array imply anything about its alignment?

I still understand what static readonly has to do

[2015-12-21 11:07] OtherCrashOverride commented on #2426
Rewriting every existing library on mac and linux to use explicit sizes is not a realistic solution.  The converse argument is that Microsoft should just rewrite Windows to be a LP64 platform like everyone else.  Both are unrealistic premises.  Additionally, I was explicit about "why ``IntPtr`` is not a solution" in the opening post.  I will reiterate it again here:

Knowing the size of ``IntPtr``

[2015-12-21 15:58] dlech commented on #2426
I buy the argument that we can ignore the fact Cygwin is LP64 on Windows and just say that Windows is LLP64. It actually makes sense that if you want to run coreclr in Cygwin that you would use a binary version of coreclr that targets Cygwin that is more like the current Linux version of coreclr rather than using a Windows version of the coreclr.

I also second the argument that the "fixing" the c

[2015-12-21 17:18] taylorjonl commented on #803
I created a pull request to get the build to a point where we need libunwind to go further.

https://github.com/dotnet/coreclr/pull/2428

4 of the CI builds failed but they were for reason like failing to clone the repo and a such, not related to my changes which were pretty small.  Do the CI builds have to succeed for a pull request to be merged?

[2015-12-21 20:43] richardlford opened #2441 "Tests fail with System.BadImageFormatException"
The following tests fail with a mesage like this on a debug win64 test job:

[code]

The failing tests are:

[code]

[2015-12-21 20:51] richardlford opened #2442 "Tests cannot load sinlib_cs or sinlib_il"
The following tests need further work on their project files in order to properly
build the dlls that they require and reference them.

[code]

Until that work is done they will be excluded.

[2015-12-21 21:15] richlander opened #2443 "Update build and install instructions"
There are multiples sets of instructions. They don't seem like the ones we should have as we approach RTM.

Here are the experiences that I think we should make easy:

1. Build the world! Build the runtime (CoreCLR or CoreRT), CoreFX, the language compiler (Roslyn or F#) and CLI from source. If using CoreRT, also build the native compiler (CoreRT or LLILC) from source.
2. Build just the runtime. R

[2015-12-21 21:28] richardlford opened #2444 "localloc tests fail with InvalidProgramException"
The following tests fail on a debug win64 test job with this error:

[code]

The tests are:

[code]

[2015-12-21 22:02] benaadams commented on #2430
Could you help me understand the costs?

Does the extren call of `Buffer.BlockCopy` -> `FCIMPL5(VOID, Buffer::BlockCopy` come with a cost for the transition?

Is 2 x `GetArrayElementType()` + `CorTypeInfo::IsPrimitiveType_NoThrow` the main cost?

There is are two size multiplications `dst->GetNumComponents() * dst->GetComponentSize()`  which for byte would be unnecessary extra since its multiplyin

[2015-12-21 22:03] OtherCrashOverride commented on #2443
Remote deploy and debug from Visual Studio on Windows to a instance of CoreCLR running on Mac/Linux.

Should also explain what that means in English. Is CLI = Command Line Interface, Common Language Infrastructure, somethig else entirely? If its Command Line Interface, what is an example of something that is lower-level? Punch cards come to mind. :wink:

[2015-12-21 22:08] richardlford opened #2445 "dev10_865840 test failed"
On a debug win64 test job, the

[code]

test failed with this message:

[code]

I'm excluding this test until the root cause is known and resolved.

[2015-12-21 22:10] blackdwarf commented on #2443
@richlander agreed on all above. Documentation on how to build everything from source sounds good as well. What did you mean by more low-level than the CLI?

@OtherCrashOverride CLI == Command Line Interface in this specific instance.

[2015-12-22 00:54] sejongoh opened #2448 "[JitStressRegs=3] System.ComponentModel.TypeConverter.Tests exits with error code 134 and "Unhandled Exception: System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation""
**Configuration**
 Debug CoreCLR runtime: coreclr.dll, corerun.exe and mscorlib.dll
 CoreFX assemblies and CoreFX tests: release
 Ubuntu Linux 14.04 LTS on Hyper-V

**Failure**

Pass without JitStressRegs=3
Fail with JitStressRegs=3 with "Unhandled Exception"

System.ComponentModel.Annotations.Tests also fails with JitStressRegs=0x80 and JitStress=2

Command line

cd tests/Linux.AnyCPU.Release/Sys

[2015-12-22 03:48] jamesqo opened #2449 "Proposal: Add support for ArraySegment<byte> in MemoryStream constructor"
Since we've added a `TryGetBuffer(out ArraySegment<byte>)` method to `MemoryStream` in .NET 4.6, can we support it in the MS constructor as well? We can add these constructors to the class:

- `MemoryStream(ArraySegment<byte>)`
- `MemoryStream(ArraySegment<byte>, bool writable)`

I can open a PR myself if no one is willing.

[2015-12-22 04:09] weshaggard commented on #2449
@jamesqo I assume you want this just for convenience as https://github.com/dotnet/corefx/blob/master/src/System.IO/ref/System.IO.cs#L100 actually covers the scenario, correct?

[2015-12-22 04:29] richardlford opened #2450 "Distinct Linux failures"
The following tests fail on Linux but do not have a corresponding exclusion on Windows.
These need further analysis.

[code]

[2015-12-22 06:07] richlander commented on #2443
I mean using the c# compiler and corerun directly.

[2015-12-22 06:22] richardlford opened #2451 "RVA static access causes access violation"
The following tests which access static variables initialized from RVA locations
in the image get access violations on a debug win64 test job.

[code]

[2015-12-22 06:40] richardlford opened #2452 "object-pin.cmd pinvoke fails to find Ret_Ptr entrypoint"
On a debug win64 test job, the

[code]

test failed with this message:

[code]

The mirror.dll is present in the right place and the export
file lists Ret_Ptr as being exported, but for some reason
it is not being found.

[2015-12-22 07:21] OtherCrashOverride commented on #2443
Actually, I think it means:

CLI == ".NET Command Line Interface" == DNX == https://github.com/dotnet/cli

CLI != "Dos Prompt"
CLI != "Command Prompt"
CLI != "Terminal"

[2015-12-22 07:35] OtherCrashOverride commented on #2443
As there seems to be some confusion, maybe there should be an introductory document that clearly explains what all these terms mean in the context of the documentation.  Additionally, terms should be used consistently across all documentation.  For example, is DNX even a thing anymore? The original post refers to both CLI and DNX.

Its like how everything is called Windows 10, but you can not run

[2015-12-22 08:00] Anderman commented on #2430
Cool benaadams, It looks like I have the same results. Vector copy is faster.

[2015-12-22 09:34] Anderman commented on #2430
@benaadams
I created 50-100% a faster implementation
[code]

[2015-12-22 10:27] Anderman commented on #2430
Result from the improved vector copy  compared with @benaadams vector copy
vector copy 1 bytes org:0068 imp:0100 mb/s faster:1,5x
vector copy 2 bytes org:0132 imp:0198 mb/s faster:1,5x
vector copy 3 bytes org:0183 imp:0299 mb/s faster:1,6x
vector copy 4 bytes org:0300 imp:0388 mb/s faster:1,3x
vector copy 5 bytes org:0380 imp:0501 mb/s faster:1,3x
vector copy 6 bytes org:0424 imp:0582 mb/s faster:

[2015-12-22 11:58] mikedn commented on #2430
Best thing to do would be use a profiler to see what happens. I've done that already so here's a quick overview:

* There doesn't appear be any transition cost but `Buffer::BlockCopy`'s function prolog takes 11.3%. Not surprising considering that it stores 7 registers to stack - that's 56 bytes of stores in a function that's supposed to copy, say, 16 bytes.
* The multiplication supposedly takes 3%

[2015-12-22 13:30] benaadams commented on #2430
Wow, ok - so sticking to managed code is probably best. If I introduced some methods like

`public static void BlockCopy<T>(T[] src, int srcOffset, T[] dst, int dstOffset, int count)`

Then have them call though to `Buffer.Memmove` would that be the best approach and still leave the door open for `JitIntrinsic` in the future?

I had a look at what could be done with native vectors and intrinsics;

[2015-12-22 13:45] Anderman commented on #2430
Yeah almost, I made 3 other optimization.
* use Vector<byte>.Count  instead of var (the compiler makes = 0x10)
* do only safety check, if we go unsafe.
* Copy the last 16 byte faster if array if >16
[code]

[2015-12-22 15:33] richlander commented on #2443
Sorry for the lack of clarity @OtherCrashOverride. Here's a few documents that we published that should help: https://github.com/dotnet/core/blob/master/roadmap.md#technology-roadmaps

Main takeaway is that DNX != CLI.

[2015-12-22 16:45] redknightlois commented on #2430
@benaadams Calling via p/invoke is very costly for small array sizes. While fixing the array in memory and copying it is not. This is the most optimized routine for aligned buffers we could create for JIT64 (haven't tested it yet con CoreCLR and or unaligned but the difference for Intel architectures shouldn't be too different) https://github.com/Corvalius/ravendb/blob/master/Raven.Sparrow/Sparrow

[2015-12-22 17:31] benaadams commented on #2430
@redknightlois interesting, also I agree on the JIT intrinsic; I just don't have the domain knowledge for it and I assume with the dotnet cli and approaching RC2/RTM; I doubt the dotnet team would have a chance to work on it in the near term.

However; I can do the managed generics  contribution for `Buffer` and `Array`; just want to make sure it doesn't mean that it would potentially then cause a

[2015-12-22 18:01] richardlford opened #2454 "throwincascadedcatchnofin_d.sh fails on OS X"
The following tests:

[code]

fails on OS X, e.g. job
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/release_osx_tst_prtest/264

The job failed with a timeout.

[2015-12-22 19:13] AndyAyersMS commented on #2385
I'd love to have some benchmark programs that illustrate the typical performance issues seen with LINQ and what people end up doing as workarounds. Ideally, something in the spirit of the "abstraction penalty" that is measured by the C++ Stepanov benchmarks. Anyone up for working on this? I'd be happy to collaborate.

[2015-12-22 19:25] redknightlois commented on #2385
@AndyAyersMS At RavenDB we are still (and for the foreseeable time forward will continue to) define and compile the map-reduce indexes into huge LINQ statements. I have seen customer code with more than 30 lines, which if rewritten into procedural code (which we do not provide the ability to do atm because compilation is an issue) would be in the 10x or so gains. We currently have bigger fishes to

[2015-12-22 19:26] blackdwarf commented on #2443
@OtherCrashOverride sorry for the confusion, I was thinking primarily to your point whether CLI refers to Common Language Infrastructure. :)

@richlander so, the lower-level approach...that would require getting the dependencies, getting the ref assemblies and compiling using csc/vbc and then extracting the implementation assemblies and placing them near the DLL and corerun, correct?

[2015-12-22 19:31] AndyAyersMS commented on #1966
Since this no longer repros I am closing this... must have been some kind of transient lab issue.

[2015-12-22 19:31] #1966 closed

[2015-12-22 20:05] richlander commented on #2443
@blackdwarf yes! There is also the q of how that works if you build from source. The top-level q is whether folks want that lower level experience documented and supported.

[2015-12-22 20:21] AlexGhiondea commented on #2366
@speshuric there is no good way to know that yet.
The best I can think of is to see when the version of the coreclr package used in CoreFx has changed to have the fix.

One way to do this is to create a PR with your tests, submit it. The PR will fail until we get the updated CoreCLR package.

/cc @ericstj in case he has a better suggestion.

[2015-12-22 21:17] mikedn commented on #2430
Maybe that's not actually needed. The whole point of a "copy" JIT intrinsic would be that certain cases can be better optimized if the JIT understands what's going on. The most important case that can benefit is copy length being a constant. If the JIT would be more willing to consider implementations such as `Buffer.MemoryCopy` for inlining then it would discover that the whole inlinee reduces to

[2015-12-22 21:42] redknightlois commented on #2430
@mikedn But the question still lingers. Could the JIT as it currently stand (without a dedicated codepath for ```Copy```) able to constant propagate such complex code and prune the code-tree to be able to do that?

If that could be necessary, what's the difference with treating it as an intrinsic? Probably that is something only a handful of people can actually give some input into it like @CarolE

[2015-12-22 21:51] mikedn commented on #2385
Here's a quick start:

[code]

On my machine the result looks like this:
[code]
so the LINQ version is 8.5 times slower.

[2015-12-22 22:05] mikedn commented on #2430
What complex code? Most of the `Buffer.MemoryCopy` is a giant `switch`. If you know that the switch expression is constant it's trivial to get rid of the entire switch and keep only the required case. It already happens:

[code]
generates:
[code]

Not much I'd say. Maybe it could emit a `rep movsb` in certain cases, that's something that you cannot do otherwise in a managed implementation.

[2015-12-22 23:49] jods4 commented on #2385
You can also have a look at LinqOptimizer benchmarks, they have 5 different cases.
Results:
https://github.com/nessos/LinqOptimizer/wiki/Performance
Sources:
https://github.com/nessos/LinqOptimizer/blob/master/benchmarks/LinqOptimizer.Benchmarks.CSharp/Program.cs

BTW I am not sure what kind of IL they generate, but in some cases it's even faster than a handwritten loop. I wrote a test that sums t

[2015-12-23 00:22] sejongoh opened #2457 "[JitStressRegs=4] InterProcessCommunication.Tests fails with "Unhandled Exception: System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ""
**Configuration**
 Debug CoreCLR runtime: coreclr.dll, corerun.exe and mscorlib.dll
 CoreFX assemblies and CoreFX tests: release

**Command line and stack trace**

$ ./corerun xunit.console.netcore.exe InterProcessCommunication.Tests.dll -xml testResults.xml -notrait category=failing -notrait category=OuterLoop -notrait category=nonlinuxtests -notrait Benchmark=true
xUnit.net console test runner (

[2015-12-23 00:29] benaadams commented on #2430
Would do for byte->double with fallback of current methods

SSE -> AVX -> AVX-512 instructions; the Vectors lib is further up the stack in corefx so coreclr couldn't take a dependency on it (also would want to skip the bounds checks) and the wide types aren't native in the base runtime beyond `long`

[2015-12-23 00:40] redknightlois commented on #2430
@mikedn Actually I was thinking on cases where you need to accommodate cases like always copy 1033 bytes which will probably have a loops of 512 bytes copy and a few more based on switch; the typical ```< than n``` bytes is actually pretty simple for propagation (assuming you don't go overboard with the method side and negate optimization altogether).

@benaadams That is basically what I implied,

[2015-12-23 00:45] sejongoh commented on #2457
This looks the same error as #2448

[2015-12-23 00:51] benaadams commented on #2430
@redknightlois its more complicated than that; for example with Vector<T> DotProduct

There is the managed non accelerated version https://github.com/dotnet/corefx/blob/master/src/System.Numerics.Vectors/src/System/Numerics/Vector.cs#L4151
The accelerated fallback+debug version https://github.com/dotnet/corefx/blob/master/src/System.Numerics.Vectors/src/System/Numerics/Vector.cs#L4142
The JIT intr

[2015-12-23 00:57] benaadams commented on #2430
@redknightlois its more complicated than that; for example with CopyTo (a good example)

Managed non accelerated version
https://github.com/dotnet/corefx/blob/master/src/System.Numerics.Vectors/src/System/Numerics/Vector.cs#L908
Managed accelerated fallback+debug version
https://github.com/dotnet/corefx/blob/master/src/System.Numerics.Vectors/src/System/Numerics/Vector.cs#L795
The JIT intrinsic ve

[2015-12-23 01:05] jamesqo commented on #2449
Correct, this is purely for better code readability.

[2015-12-23 01:14] sejongoh opened #2458 "[JitStressRegs=4] System.Threading.Tasks.Parallel.Tests fails with System.Threading.Tasks.Tests.ParallelForUnitTests.ParallelForTest33 [FAIL]"
**Configuration**
Debug CoreCLR runtime: coreclr.dll, corerun.exe and mscorlib.dll
 CoreFX assemblies and CoreFX tests: release

**Command line and stack trace**

corefx/bin/tests/Linux.AnyCPU.Release/System.Threading.Tasks.Parallel.Tests/dnxcore50$ ./corerun xunit.console.netcore.exe System.Threading.Tasks.Parallel.Tests.dll -xml testResults.xml -notrait category=failing -notrait category=OuterLo

[2015-12-23 06:45] mikedn commented on #2430
I think you're assigning a slightly different meaning to intrinsic, usually intrinsic means that the function call is replaced with a inline version. What you seem to be suggesting is that the JIT compiler should generate the code for functions like `BlockCopy` out of thin air. I suppose that could work but it's a bit more work.

Hmm, put 2 longs in a struct, the JIT usually copies such structs us

[2015-12-23 09:27] drbo commented on #2385
A few thoughts on this:
The [Glasgow Haskell Compiler][1] makes extensive use of loop fusion, provided by user-defined
rewrite rules.  However, CoreCLR and/or Roslyn have a much harder job:

- Haskell is purely functional.  This means that GHC can freely reorder operations, knowing that they
  have no side effects.
- Rewrite rules are provided by library authors.  There is no analogous feature in

[2015-12-23 09:40] draper commented on #984
This is biting me now.  I'm getting the "failed to locate libcoreclr with error libunwind-x86_64.so.8: cannot open shared object file: No such file or directory" with 1.0.0-rc1-update1 .  I can't use dnx or dnu on Ubuntu 12.04.5 LTS (GNU/Linux 3.2.0-92-generic x86_64.

[2015-12-23 09:57] jods4 commented on #2385
@drbo My initial proposal was to optimize well-known method calls only (i.e. LINQ to Objects).

The compiler knows exactly what those methods are supposed to do and they are used a lot, because they are very convenient.

Of course, I have nothing against broadening the scope to generalized loop fusion but that's probably a more difficult problem?

I have a feeling that having to trust user-placed,

[2015-12-23 12:27] omariom commented on #2385
I suspect that with all the complexities of code analysis and transformation required the job  will be  easier to do in Roslyn than in JIT.

[2015-12-23 12:27] jkotas commented on #2274
Fixed by #2431

[2015-12-23 12:27] #2274 closed

[2015-12-23 12:49] jods4 commented on #2385
@omariom so do I, but they declined the work and said this stuff should be in the JIT :laughing:
See the two tickets I've linked in the description!

[2015-12-23 13:57] GSPP commented on #2385
This cannot be done in the C# compiler because it can't/shouldn't know that the BCL code will never change.

If this was done in the JIT maybe we can do it by making the developer declare on the LINQ methods what they are (e.g. `[CodePattern("Enumerable.Sum")]. Then the JIT can use that hint to aggressively trigger a set of helpful transforms such as inlining and escape analysis.

That way correct

[2015-12-23 14:19] jods4 commented on #2385
For the sake of argument, since Roslyn surely won't do it:

But the API contract will never change. As long as the result is correct, it doesn't matter _how_ it's computed, right?

[2015-12-23 14:42] GSPP commented on #2385
The contract, as produced by the signature and docs, does not fully specify all behavior. `Select`, I think, does not promise that the results will be in order. Now clearly that will always be the case but it's not guaranteed formally. I'm sure there are better examples.

For example, in what order will `OrderBy` invoke the comparer? That varies between .NET versions.

Subtle stuff like that break

[2015-12-23 14:46] HaloFour commented on #2385
The C# compiler doesn't know about any particular LINQ implementation at all.  To the compiler LINQ is nothing more than a small set of features that function around a convention of method names.  The underlying implementation could do anything it wants, and depending on the target it may resolve to any method, both instance or extension.  All of the implementation of "LINQ to Objects" is done ent

[2015-12-23 15:22] bartonjs opened #2460 "Add Encoding.GetByteCount(string, offset, count)"
There's the unsafe version (`GetByteCount(char*, count)`), and there's the data extractor (`GetBytes(string, strOffset, count, buffer, bufOffset)`), but there's not a way to know ahead of time the accurate byte count of the UTF-8 encoding of a portion of a string without `unsafe`.

Workarounds do exist, like:
- Call Substring on the string
- Call ToCharArray on the string
- Just call the unsafe ve

[2015-12-23 15:59] omariom commented on #2385
Linq To Object could be special cased. For the sake of performance.

[2015-12-23 21:05] ellismg commented on #984
@draper: The precompiled dnx and dnu libraries that are downloaded when installing DNX are compiled against Ubutu 14.04 packages.  If you want to get this working there, you'll need to build the native components for both CoreCLR and CoreFX from source (check out our RC tags) and then update the versions in the `~/.dnx/runtimes/.../bin` folder.

I was looking at the packages for 12.04 and it looke

[2015-12-23 21:56] speshuric commented on #2366
@AlexGhiondea thanks, I think I'll create PR to coreFX
But what about possibility of moving `BitArray` to coreFX? At the least I can rewrite [test GCQueue.cs]
(dotnet/coreclr/blob/master/tests/src/GC/Stress/Tests/GCQueue.cs) to eliminate the use of `BitArray`. In fact this test uses `BitArray` as "an object to take place in the heap" and test GCQueue.cs is the only usage of BitArray in public repo

[2015-12-24 01:38] ygc369 commented on #1856
What do you think about this idea?

[2015-12-24 01:56] ygc369 commented on #1856
I think this idea should be considered.

[2015-12-24 16:16] rohitshrivastava04 opened #2466 "dnx hangs in docker container"
I am trying to build docker container with dev build of dotnet coreclr following is my docker file

    FROM debian:jessie

    ENV DNX_VERSION 1.0.0-rc2-16351
    ENV DNX_USER_HOME /opt/DNX_BRANCH
    #Currently the CLR packages don't have runtime ids to handle debian:jessie but
    #we are making sure that the dependencies are the right versions and are opting for
    #the smaller base image. So

[2015-12-24 18:23] jaredpar opened #2467 "CoreCLR crashes when run with an unlimited stack size on Linux"
Recently Roslyn transitioned it's developer build to be makefile based.  The default `make` install on Ubuntu has a bug / feature where by child processes are created with an unlimited stack size (default on Ubuntu is 8192).

An unlimited stack size seems to cause issues for CoreCLR.  Virtually all invocations of Roslyn in this context crash with an exception.  Running the exact same Roslyn invoca

[2015-12-25 03:17] ygc369 opened #2470 "Please provide a kind of lightweight finalizer"
The lightweight finalizer of an object should be executed in GC thread when GC find the object is garbage. After that, the object should be collected at once, no need to wait for next GC. Of course, object resurrection is forbidden in lightweight finalizer. The lightweight finalizer is usually useful for statistics purpose and would not delay GC.
For example:
class test
{
    private static int co

[2015-12-25 03:31] ygc369 commented on #2470
Another idea: https://github.com/dotnet/coreclr/issues/1856

[2015-12-25 05:35] whoisj commented on #2470
Executing something as the GC is dangerous for many reasons. How should the GC handle a NRE for example?

[2015-12-25 05:46] ygc369 commented on #2470
@whoisj
What is NRE?

[2015-12-25 15:54] Anderman commented on #2430
@mikedn. Interesting.

So, if I'am correct the VM will mark the [Vector assembly] (https://github.com/dotnet/coreclr/blob/master/src/vm/assembly.cpp#L306-L316) as special class.

The importer scans every CALL and will try to convert the call to [impSIMDIntrinsic](https://github.com/dotnet/coreclr/blob/master/src/jit/importer.cpp#L5850-L5860)

The impSIMDIntrinsic will first find out if the call is

[2015-12-26 02:03] jasonwilliams200OK commented on #2470
NRE = NullReferenceException

[2015-12-26 05:59] sharwell commented on #2430
What about something like the following? It assumes the argument checks are placed in a separate method `VectorizedCopy`, which calls this method after the arguments are checked.

[code]

[2015-12-27 08:08] mikedn commented on #2430
@Anderman

Yes but but a hypothetical `Array.Copy`/`Buffer.BlockCopy` intrinsic isn't related to SIMD intrinsics even if the implementation uses SIMD. You may want to check `Compiler::impIntrinsic`.

@sharwell

Currently `cpblk` is converted to a helper call so it's unlikely this would help with small copies. Ultimately this doesn't seem to be very different from what `Buffer.MemoryCopy` offers.

[2015-12-27 10:00] Joe4evr commented on #2470
You've already commented in #430, isn't this just basically the same thing?

[2015-12-27 10:01] mikedn commented on #2430
This issue is getting long and IMO a bit unfocused. Let's try to sum it up, we'll see there are actually 2 different related issues.

It's clear that `Array.Copy` & co. are slower than a native `memcpy`. How much slower depends on the CLR build. For example, the desktop build does 76 mil 8 byte copies while the official CoreCLR rc1-final does only ~48 mil (lack of PGO I assume). Anyway, VC++2015's

[2015-12-27 10:53] speshuric opened #2472 "Unexpectedly long and memory-wasting JIT compilation when optimizations are allowed"
In some cases JIT compilation in "release" execute mode can take a lot of time and lot of memory.
### Repro
1. Take code [here](https://gist.github.com/speshuric/b646c20fddb1543f8052).
2. Create exe with this code
3. Execute program

**What program do**
1. Method `Main` create `Tst` object and invokes `Do()` method
2. There is loop of `limit` times In `Do()` method that executes `fNN()` which is `

[2015-12-27 16:44] benaadams opened #2473 "Jit Generic typeof branch elimination"
This [comment](https://github.com/dotnet/corefx/blob/master/src/System.Numerics.Vectors/src/System/Numerics/Vector.cs#L14-L20) in `System.Numeric.Vectors` suggests that as `typeof(T)` is a JIT time constant all the if branches will be eliminated.

    *    if (typeof(T) == typeof(Int32)) { ... }
    *    else if (typeof(T) == typeof(Single)) { ... }
    * EXPLANATION:
    *    At runtime, each ins

[2015-12-27 18:24] mikedn commented on #2473
I don't understand what your sample code has to do with the pattern used by `Vector<T>`. In your code `T` is not a value type.

[2015-12-27 18:49] mikedn commented on #2472
The repro code is unnecessarily complex. All `Do` needs to do is to call `f21`, there's no need for loops and whatnot.

You may want to wait for someone from the JIT team to comment on this first. [Planning](https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/inline-size-estimates.md)/[work](https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/inlining-plans.

[2015-12-27 20:10] speshuric commented on #2472
@mikedn Thank you for feedback! [Here](https://gist.github.com/speshuric/a36086c7f03e30630aeb) is reduced repro.

Yes, you are right. It would be better to wait the comment. And I think this repro can help them.

[2015-12-27 22:16] mikedn commented on #2472
To be more clear: it's perfectly fine to debug this and even fix it if it turns out that this is a genuine bug - that is, there is code that's supposed to avoid this issue but it doesn't function properly due to some minor bug. But you may find that such code doesn't exist at all or that it has serious issues, attempting to add/fix it without feedback from the team may turn out to be a waste of ti

[2015-12-27 23:25] benaadams commented on #2473
Can the same optimization not be applied to reference types? Have use case for both.

Reference types: https://github.com/aspnet/HttpAbstractions/issues/522

Value types: https://github.com/dotnet/coreclr/issues/2430#issuecomment-166618789

[2015-12-27 23:28] benaadams commented on #2473
However it doesn't look like it works with struct valuetypes either

https://gist.github.com/benaadams/fb0493aefe84be42da0f

                Method |     AvrTime |    StdDev |           op/s |
---------------------- |------------ |---------- |--------------- |
           NoBranching |   8.7080 ns | 0.1631 ns | 114,876,223.77 |
       NoBranchingCast |  10.0584 ns | 0.0195 ns |  99,419,999.74 |

[2015-12-27 23:50] benaadams commented on #2473
Changing test to struct have some fields

[2015-12-28 00:49] #2473 closed

[2015-12-28 02:17] ygc369 commented on #2470
@Joe4evr
Not the same

[2015-12-28 05:35] mikedn commented on #2473
It could work (I haven't checked) if the method is inlined. Otherwise it only works for value types because in the case of value types type parameters the generated code is specialized for a particular value type.

That design seems a bit peculiar to me but I'm not really familiar with the code. Anyway, a generic version can still be useful because it avoids `Type` object creation.

As mentioned i

[2015-12-28 07:20] benaadams commented on #2473
Nice one! It does :+1:  Results here https://gist.github.com/benaadams/c6c109982f50c6f69af2#gistcomment-1657847

Question on whether `AggressiveInlining` works across assemblies, I hope so.

[2015-12-28 07:41] mikedn commented on #2473
In general inlining works across assemblies even without AggresiveInlining. Otherwise trivial things like getting the `Count` of a `List<T>` would be pretty heavy. Still, there may be scenarios where cross assembly inlining is blocked - ReadyToRun for example.

[2015-12-28 13:17] benaadams commented on #2473
So close... but alas can't in-line a virtual or interface method only a concrete one.

So a derived generic method can't be "unwrapped" and jitted to a branchless version but will remain as the shared code version.

[2015-12-28 13:33] OtherCrashOverride commented on #2470
It presents the exact same issues as #430.  The compiler does not insert destructor (dtor) calls when a variable goes out of scope.  Instead, the pattern is ``IDisposable`` and the "using" keyword in C#.  This allows you to manually scope a variable and prevent the finalizer from running (``CG.SuppressFinalizer()``).  However, the GC still has to run to know if an object is garbage or not since it

[2015-12-29 01:32] rationull opened #2478 "A finalizer is run for an object that was not constructed and should not have been allocated"
I'm logging this here because it seems most likely to be a bug in JIT compilation or optimization. If you conclude that this should instead be posted against a component in Microsoft Connect then please comment as such and I will resubmit there.

I have a C++/CLI function that contains a function call followed by an object allocation (an instance of a class implemented in C# in a separate assembly

[2015-12-29 04:50] mikedn commented on #2478
A Connect bug should probably be opened as well as the disassembly indicates that your application is 32 bit. The 32 bit JIT compiler is not actually open sourced (even though the open sourced 64 bit RyuJIT is based on the 32 bit JIT and as such most if not all the code is here) so even if a fix is made in this repository there's no guarantee that it will be propagated to the 32 bit .NET Framework

[2015-12-29 06:34] rationull commented on #2478
Good to know, thanks -- I will open a bug on Connect as well linking to this.

Understood, and I probably should've been clearer in my report. The issue as I perceive it is that in this case the allocation shouldn't have happened at all (regardless of the constructor) and so there should be nothing to GC or finalize. Sounds like we're on the same page here.

Wow, impressive simple repro. I'm going

[2015-12-29 07:46] mikedn commented on #2478
Yep, at least in my repro the constructor is trivial and it is inlined (actually completely eliminated). If the constructor is inlined then the likely source of this bug - argument evaluation order - disappears.

 Constructors have `this` passed in as the first argument and since `this` is the result of the allocation function it's not surprising that the allocation function is called first. But a

[2015-12-29 14:51] Anderman opened #2480 "Optimize generated code for Fixed statement"
An extra statement is needed to use register vars

I have two functions
[code]

With extra assignment
[code]

Code generated slow (line 9 and 11 do nothing)
[code]
Fast version ( Line 9  does nothing)
[code]

[2015-12-29 16:49] rationull commented on #2478
Filed in MS Connect as [issue 2183174](https://connect.microsoft.com/VisualStudio/feedback/details/2183174)

[2015-12-29 18:23] AndyAyersMS commented on #2472
@speshuric Thanks for the interesting test case. I'll take a look.

[2015-12-29 21:13] kyulee1 opened #2481 "ILDASM incorrectly reconstruct EH clauses"
ILDASM incorrectly reconstruct EH clauses when fTryInCode is true.
A part of reason is due to sort which shouldn't be applied -- https://github.com/dotnet/coreclr/blob/master/src/ildasm/dis.cpp#L352
In addition, inserting ".try" clauses into source is not properly implemented.
Note passing "-raweh" to just display raw EH tables at the end of method works correctly.

The followings are example asse

[2015-12-29 21:34] kyulee1 opened #2482 "ILDASM slow with a large number of fields."
Compared to ilasm, ildasm is way slow to the following case --- a few minutes with debug build.
https://github.com/dotnet/coreclr/blob/master/tests/src/JIT/Regression/CLR-x86-JIT/V2.0-Beta2/b399444/Repro.cs

This may or may not be expected but worth investigation on the following case as well.
https://github.com/dotnet/coreclr/blob/master/tests/src/JIT/jit64/opt/cse/hugeexpr1.cs

[2015-12-29 22:11] josguil opened #2483 "System.Net Logging Tracking Items"
Tracking Items for https://github.com/dotnet/corefx/pull/5101

Formatting in *EventSource classes:
- [] Make constants have PascalCasing.
- [] Correctly separate arguments of methods in different lines (when needed).
- [] Add spaces needed in the attributes of the methods when not correctly aligned.
- [] New lines after if/else blocks (mainly after the IsEnabled check).

Dump Methods in SocketsEve

[2015-12-29 22:11] #2483 closed

[2015-12-29 22:13] josguil commented on #2483
This issue correspond to the corefx repo.

[2015-12-29 22:18] jkotas opened #2484 "Compile runtime with -fvisibility=hidden"
-fvisibility=hidden enables several important optimizations:
- Access to static variables will be faster, without GOT indirection. We can get rid of PREPARE_EXTERNAL_VAR on x64 and instead access the static variables directly, like on Windows.
- Access to current thread object will be faster. it is known bottleneck in allocation helpers.

[2015-12-29 22:22] jkotas commented on #2484
cc @sergiy-k @janvorli

More details at https://gcc.gnu.org/wiki/Visibility

BTW: I have done it for CoreRT in https://github.com/dotnet/corert/pull/571 (it actually started as a fix to a register corruption in write barrier helper).

[2015-12-30 00:36] AndyAyersMS commented on #2472
RyuJit has an `ALWAYS_INLINE` size threshold that is set to 16 bytes of IL. All the various `fnn`s have sizes at or below this. So the jit will consider these to all be excellent inline candidates. There's also a `MAX_INLINING_RECURSION_DEPTH` which, despite the name, is a general depth check. So RyuJit will inline at most 20 levels deep. There's no corresponding check or limit on the total number

[2015-12-30 00:46] speshuric commented on #2472
Can I help you with something?

[2015-12-30 03:38] #1953 closed

[2015-12-30 05:57] jkotas opened #2486 "Move to cmake based incremental build from python"
https://github.com/dotnet/coreclr/pull/2464 is unconditionally generating the ETW logging header files before each invocation. It completely kills incremental build - everything is rebuilt every time.

[2015-12-30 05:58] jkotas commented on #2486
Is there a reason why the header file generation cannot be done as regular makefile step - that runs only if any of the files that it depends on change?

[2015-12-30 08:09] LiangChow opened #2489 "JIT compilation compitible with .NET Framework 4.x ?"
The CoreCLR ``corinfo.h`` & ``corjit.h`` compatible with .NET Framework 4.x or only support .NET Framework 4.6 ? I tried on FW 4.0 doesn't work.

[2015-12-30 21:48] AndyAyersMS commented on #2472
I'd be happy to have you help out. We've got a bunch more prep work to do before we start making changes to the inliner.

We need to make a reasonable set of test cases and benchmarks available, and push through a number of improvements in the diagnostic reporting of the inliner itself.

Probably our greatest need is benchmarks. Any ideas?

[2015-12-30 21:57] AndyAyersMS commented on #2385
I have started in on creating some simple benchmarks, see #2491. Feedback welcomed.

As for what kinds of things we can optimize in the jit -- in RyuJit we will need to focus on optimizing the frequently used low-level constructs. In LLILC we may have the latitude to do something more ambitious.

[2015-12-30 22:22] speshuric commented on #2472
I think I can help, but only after holydays (2-3 days). Can you point any examples of current bencmarks to look how they are integrated to coreclr.

[2015-12-30 23:19] AndyAyersMS commented on #2472
Take look at my recent commits.

For JIT benchmarks we generally try and avoid stressing the platform or the GC too much, so that any code generation issues stand out. I aim for about 1 second long iterations for benchmark tests (via xunit-performance's [benchmark]). I'm also making these be usable as standalone benchmarks.

[2015-12-31 00:07] jkotas commented on #2489
`corinfo.h`  &  `corjit.h` are internal unstable frequently changing interfaces. No compatibility guarantees accross different runtimes or runtime versions.

[2015-12-31 00:23] schellap commented on #2399
@gkhanna79, can this be closed? I checked CoreCLR CI that tests are running on Ubuntu, could you let me know why you mentioned there were few email threads about this?

[2015-12-31 00:33] schellap commented on #2399
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/release_ubuntu_tst_prtest/661/console

Tests run on Ubuntu in coreclr so closing this issue.

[2015-12-31 00:33] #2399 closed

[2015-12-31 03:55] ramarag commented on #2486
we can not make it run as a makefile step because the script generates CMake and header files which are consumed in the coreclr build

[2015-12-31 09:52] LiangChow commented on #2489
Thank you for your response.

[2015-12-31 09:52] #2489 closed

[2016-01-01 18:24] mafshin opened #2499 "dotnet restore NullReferenceException"
Following [Getting Started](https://dotnet.github.io/getting-started) Console app with .NET Core just after `dotnet new` I get a `NullReferenceException` for `dotnet restore`:

[code]

[2016-01-01 20:00] omariom opened #2500 "RyuJIT: [betternes] Handling boolean params when inlining methods"
The following method..
[code]
produces this clean and clear code:
[code]

But If we encapsulate the calculation..
[code]
the code gets bigger and less nice:
[code]

looks like that boolean param survived the inlining process and got its own representation in assembly.

[2016-01-01 20:05] mikedn commented on #2500
This seems to be the same issue as #914

[2016-01-01 20:20] omariom commented on #2500
yep

[2016-01-01 20:20] #2500 closed

[2016-01-01 20:36] tmds opened #2501 ".NET Core TcpClient NetworkStream WriteAsync never returns when pending ReadAsync"
.NET Core TcpClient NetworkStream WriteAsync doesn't return when there is a pending ReadAsync

The stacktrace of WriteAsync shows it is waiting for a semaphore. Looking at [Stream.cs](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/IO/Stream.cs) shows
BeginReadInternal and WriteReadInternal use the same semaphore.

A read and write should be supported simultaneous for a TCP s

[2016-01-01 20:38] tmds commented on #2501
I am using 1.0.0-rc1-update1 on Windows 10.

[2016-01-01 20:57] ayende commented on #2501
WriteAsync is implemented as:
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/IO/Stream.cs#L710

No semaphore here, there is blocking in the default BeginWrite in the Stream class, but NetworkStream.cs (from here, but should be essentially the same) overrides them to properly work in a fully async manner:
http://referencesource.microsoft.com/#System/net/System/Net/Sockets/Net

[2016-01-01 21:48] tmds commented on #2501
Stack trace of NetworkStream WriteAsync call:
![stacktrace](https://cloud.githubusercontent.com/assets/1025424/12072322/86e299c2-b0d9-11e5-8e3b-ab52bb3563ce.png)

[2016-01-01 21:55] ayende commented on #2501
That isnt network stream. It override the method
What is the full assembly qualified name of the type
On Jan 1, 2016 23:48, "Tom Deseyn" <notifications@github.com> wrote:

[2016-01-01 22:02] tmds commented on #2501
"System.Net.Sockets.NetworkStream, System.Private.Networking, Version=4.0.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"

The code works when it is running on the full framework.
Also, the write works when there is no pending receive.

[2016-01-01 22:33] ayende commented on #2501
Where is the source for that?
This is the first I hear about this assembly, at a guess, this is a
separate NetworkStream.cs implementation than the one here:

https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/System/Net/Sockets/NetworkStream.cs#L985

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

[2016-01-02 06:30] tmds commented on #2501
Don't know where the source is, I get it by referencing System.Net.Sockets:

![dependencies](https://cloud.githubusercontent.com/assets/1025424/12073466/6fc4b628-b122-11e5-9d07-ff5310b38e6c.png)

[2016-01-02 10:52] ayende commented on #2501
Can you check the decompiled NetworkStream from there? Using reflector or
dotPeek?

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Sat, Jan 2, 2016 at 8:30 AM, Tom Deseyn <notifications@github.com> wrote:

[2016-01-02 14:23] tmds commented on #2501
The decompiled version of NetworkStream has a BeginWrite method, but dotPeek doesn't show an override keyword:
[code]
Just like the one in the in [corefx](https://github.com/dotnet/corefx/blob/master/src/System.Net.Sockets/src/System/Net/Sockets/NetworkStream.cs#L773)

[2016-01-02 14:59] ayende commented on #2501
Hm... that is a bug, then.
But the WriteAsync should be calling those methods, not the base class one.

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Sat, Jan 2, 2016 at 4:23 PM, Tom Deseyn <notifications@github.com> wrote:

[2016-01-02 19:26] ayende opened #2502 "Missing [HandleProcessCorruptedStateExceptions]"
I've code that may access invalid memory location.
In the full .NET, I have [HandleProcessCorruptedStateExceptions] to mark such a code and recover from it.
Is there such a way to handle it in the CoreCLR?

[2016-01-03 23:03] LLITCHEV opened #2508 "Assertion when coregen-ing Microsoft.Build.Tasks.CodeAnalysis.dll"
This is a failing assertion for Windows.

One assertion failure for JitStress=1 and JitStress=2.
Assertion failure in src\vm\i386\stublinker86.cpp, line 6052.
The command causing the assert is:
crossgen /App_Paths . /Platform_Assemblies_Paths . /MissingDependenciesOK  ./Microsoft.Build.Tasks.CodeAnalysis.dll

Exact assertion failure.
Assert failure(PID 20676 [0x000050c4], Thread: 22660 [0x5884]):

[2016-01-03 23:06] LLITCHEV opened #2509 "Assertion when coregen-ing Microsoft.Build.Tasks.CodeAnalysis.dll on Linux"
A failure in the VM code. Happens with no stress modes or special flags - just debug build of the CoreCLR. Assertion failure in pefile.cpp, line 4612.
Command to get it:
crossgen /App_Paths . /Platform_Assemblies_Paths . /MissingDependenciesOK  ./Microsoft.Build.Tasks.CodeAnalysis.dll
Also happens for csc.exe and CodeAnalysis' Microsoft.CodeAnalysis.Workspaces.Desktop.dll.
Stress modes or other fl

[2016-01-03 23:11] LLITCHEV opened #2510 "Assertion when coregen-ing Microsoft.CodeAnalysis.CSharp.dll on Linux"
A failure in the Jit code. Happens with no stress modes or special flags - just debug build of the CoreCLR. Assertion failure in lsra.cpp, line 2330.
Command to get it:
crossgen /App_Paths . /Platform_Assemblies_Paths . /MissingDependenciesOK  ./Microsoft.CodeAnalysis.CSharp.dll

Also happens for System.Collection.Immutable.dll.

Stress modes or other flags make no difference for this assert. Runn

[2016-01-03 23:13] LLITCHEV opened #2511 "Assertion when coregen-ing mscorlib.dll with JitStress= 1 or 2 on Linux"
A failure in the Jit code. Happens with stress modes set to 1 and 2 (JitStress flag) and debug build of the CoreCLR. Assertion failure in lowerxarch.cpp, line 307.

Command to get it:
crossgen /App_Paths . /Platform_Assemblies_Paths . /MissingDependenciesOK  ./mscorlib.dll

Also happens for Microsoft.CodeAnalysis.VisualBasic.dll and Microsoft.CodeAnalysis.Workspaces.dll
and Microsoft.CodeAnalysis.

[2016-01-04 02:23] hynguyen2610 commented on #1545
@AlexGhiondea
Could you explain more clearly about "You can fix this locally by updating the default value for this property to 'true' in the GenerateCompilerResponseFile.targets file "
I opened the file but I don't know where to modify the default value

[2016-01-04 04:29] LLITCHEV commented on #2315
This should have been fixed with PR https://github.com/dotnet/coreclr/pull/2461

[2016-01-04 04:30] LLITCHEV commented on #2315
@jashook Could you please reenable the disabled Linq.Expressions tests. Thanks!

[2016-01-04 05:17] AlexGhiondea commented on #1545
You can try setting the property inside the property group like this:

<UseRoslynCompiler>True</UseRoslynCompiler>

[2016-01-04 07:33] danysu opened #2514 "Hook getEHinfo"
Hi,
I want develop a JIT Hook, I know how to hook `compileMethod` but I don't understand how to Hook `getEHinfo` , I have not found an example for hook JIT functions.

Thanks in advance.

category:proposal
theme:jit-ee-interface
skill-level:intermediate
cost:small

[2016-01-04 09:02] joostshao opened #2515 "why so slow in ubuntu 14.04 with Hello world ?"
http://dotnet.github.io/getting-started/

ubuntu@ubt:/media/ubuntu/mnt/dotnet$ time dotnet run
Hello World!

real	0m2.592s
user	0m2.377s
sys	0m0.191s

[2016-01-04 10:39] janvorli commented on #2466
@rohitshrivastava04 Can you check your locale settings please? Just run "locale" in your shell and paste the result here. I am looking into a similar issue (#2215) and in that case, the issue is caused by the locale being `POSIX` or `C` where the resource manager is trying to look up resources in an non-existent resource dll instead of using the default ones. `en-US` locale works fine.

[2016-01-04 10:48] janvorli commented on #2467
@jaredpar I'll take a look. Sounds like a problem getting stack limits in the CoreCLR PAL in case the ulimit specifies stack as unlimited.

[2016-01-04 10:54] rohitshrivastava04 commented on #2466
yes, you are correct its POSIX.
    locale
    LANG=
    LANGUAGE=
    LC_CTYPE="POSIX"
    LC_NUMERIC="POSIX"
    LC_TIME="POSIX"
    LC_COLLATE="POSIX"
    LC_MONETARY="POSIX"
    LC_MESSAGES="POSIX"
    LC_PAPER="POSIX"
    LC_NAME="POSIX"
    LC_ADDRESS="POSIX"
    LC_TELEPHONE="POSIX"
    LC_MEASUREMENT="POSIX"
    LC_IDENTIFICATION="POSIX"
    LC_ALL=

Could you please tell me how can I chan

[2016-01-04 11:00] janvorli commented on #2466
It is a bug that it doesn't work with POSIX as well and it needs to be fixed. But you can work around the issue by setting the locale this way:
[code]

[2016-01-04 11:23] janvorli commented on #2467
@jaredpar I can see that the stack limits are obtained correctly in the PAL. It is interesting though that when the ulimit for stack is set to unlimited, the pthreads set the stack to 2MB. When the ulimit is set to a specific value, pthreads set the stack to that value. The default ulimit value 8192 (which means 8MB) is larger than the "unlimited" in this case. So the issue is likely caused by too

[2016-01-04 11:41] rohitshrivastava04 commented on #2466
Thanks for your reply. I tried changing locale however even after changing locale dnx --version command hangs.
Could you please provide me a docker file if possible?

[2016-01-04 12:03] janvorli commented on #2486
@ramarag Generating headers is ok, we already have several places where we generate headers consumed by the build and the dependency chain works properly. Generating the CMakeLists.txt scripts can also be invoked from a CMakeLists.txt. You just need to make is so that the generated CMakeLists.txt are not part of the main CMakeLists.txt tree (I mean not including them from any of the static CMakeLi

[2016-01-04 12:16] janvorli commented on #2486
You can see an example on how to invoke cmake from the CMakeLists.txt here:
https://cmake.org/pipermail/cmake/2011-November/047333.html

[2016-01-04 12:22] jkotas commented on #2486
Could you please look into using the cmake to do the incremental build logic per @janvorli feedback?

I do not think building our own clone of incremental build tracking in python is a good idea.

[2016-01-04 13:13] shahid-pk commented on #2515
yea i noticed that too. startup time is really poor. But if you publish it it is a little bit better and very fast when compiled to native. but still would love to see the managed version start up a bit faster.

[2016-01-04 13:14] davidfowl commented on #2515
Try running `dotnet -v run` it'll show more info.

[2016-01-04 13:30] shahid-pk commented on #2515
@davidfowl  the output is here https://gist.github.com/shahid-pk/04d95b94906cc9160081

[2016-01-04 14:04] janvorli commented on #2466
Ok, maybe it is some other issue then. As for the docker file, my knowledge of docker is next to none. When looking into the #2215, I have just used a docker package that @Sridhar-MS has created for me, used `docker run` command to run it, then set the locale and launched dnx restore.
So I am unable to provide you with a docker file at the moment.

[2016-01-04 14:15] rohitshrivastava04 commented on #2466
@Sridhar-MS Could you please pass me the docker file which you used to build CoreCLR docker image?

[2016-01-04 14:49] rohitshrivastava04 commented on #2466
Is there a way to see whats its looking for?

[2016-01-04 15:40] jashook commented on #2315
PR out with corefx https://github.com/dotnet/corefx/pull/5166

[2016-01-04 16:11] zpodlovics commented on #2515
The `dotnet run` is a bit misleading - it will compile the source first and after that will run it.

[code]

[code]

[code]

[code]

[code]

[2016-01-04 16:28] davidfowl commented on #2515
That's the point of the command. It's just like `go run` and previously `dnx run` which will make sure the project is built before running. Now we could do things to make it incremental but we don't right now.

[2016-01-04 17:49] SidharthNabar commented on #2501
@tmds and @ayende - To clarify a little, networking assemblies such as System.Net.Sockets were earlier implemented via System.Private.Networking which was not building from the GitHub sources. This has now been updated and each assembly has a separate implementation assembly that is built from source code in GitHub. Please try a version of the library greater than rc2-23608 from https://www.myget.

[2016-01-04 19:17] gkhanna79 commented on #1934
@weshaggard Do we have MSbuild working on coreCLR for all platforms?

[2016-01-04 19:49] janvorli commented on #2396
@sejongoh I have just looked at the log from the test again and I can see that I have misread the description, thinking that it is failing on Unix while it was on Windows instead. So it is unrelated to the #2333.
But looking at the log from the test that you have pasted above, it seems that the test itself is wrong. Dividing the minimum 32 bit negative value (-2147483648) by -1 is an overflow and

[2016-01-04 19:56] weshaggard commented on #1934
For CoreFX it is being tracked by https://github.com/dotnet/corefx/issues/5021. I think Msbuild on .NET Core mostly works but there isn't anyone working on integrating that into the coreclr builds for mscorlib. My suspicion is that this will not be done in the RC2 timeframe.

cc @joperezr

[2016-01-04 20:38] tmds commented on #2501
Works with 4.1.0-rc2-23704

[2016-01-04 20:38] #2501 closed

[2016-01-04 20:47] sperling opened #2519 "Enable profiling on Unix/OS X"
Build with PROFILING_SUPPORTED, even for platforms other then WIN32.

[2016-01-04 21:09] gkhanna79 commented on #1934
If Msbuild has been confirmed to be successfully integrated for CoreFX builds and known to function properly, @JohnChen0 will work on CoreCLR repo using it. However, it is not understood what is the current state of affairs - last schedule was it being available post Thanksgiving.

Are you saying MSbuild support will come in post RC2?

[2016-01-04 21:13] weshaggard commented on #1934
I was referring to changes needed for converting the coreclr repo. If @JohnChen0 can do that work then we should be able to get this working. @JohnChen0 please work with @joperezr on how to get a version of msbuild that runs on .NET Core. It is my understanding that is in pretty good working state.

[2016-01-04 21:15] gkhanna79 commented on #1934
Awesome! @JohnChen0 will look into this.

[2016-01-04 21:32] #2315 closed

[2016-01-04 22:07] jasonwilliams200OK commented on #2466
@rohitshrivastava04, AFAIK, most of the Docker stuff and the information you are looking for is available at https://github.com/dotnet/cli.
@davidfowl, is asp.net Docker part of dotnet-cli repo too?

[2016-01-04 23:54] sivarv commented on #2511
This is a duplicate of issue #2297 . Mark this one as closed by pasting repro steps to issue #2297

[2016-01-04 23:56] #2511 closed

[2016-01-04 23:58] sivarv commented on #2510
This is a duplicate of issue #2349 . Marking this one as closed by pasting repro steps to that issue.

[2016-01-04 23:58] #2510 closed

[2016-01-05 00:04] sivarv commented on #2388
Given the fix that is checked-in to model Obj.GetType() intrinsic's side effect  as throwing an exception using GTF_EXCEPT flag, correctness issue is addressed.  The only remaining issue, is tail prefixed intrinsics implemented by backend as calls.  JIT right now ignores tail prefix on those calls by converting them to GT_INTRINSIC nodes.

[2016-01-05 00:12] sivarv commented on #2332
This is a duplicate of issue #2331. Marking this as closed.

[2016-01-05 00:12] #2332 closed

[2016-01-05 00:15] sivarv commented on #2330
This looks to be a duplicate of issue #2352 filed on Linux.

[2016-01-05 00:19] sivarv commented on #2329
This looks to be a duplicate of issue #2353 opened on Linux.

[2016-01-05 00:21] sivarv commented on #2328
@CarolEidt - please tackle this as part of SIMD work.

[2016-01-05 00:23] sejongoh commented on #2396
Thank you for the update. I don't see the failure without JitStressRegs=0x80. Could the test value depend on it?

[2016-01-05 00:29] sivarv commented on #2305
@kyulee1 Is this needed for RC2 or can be moved to future?

[2016-01-05 01:05] sivarv commented on #2405
My guess is that these are most likely bad tests.

[2016-01-05 01:06] morganbr commented on #2502
@ayende, can you please tell us more about the scenario where you'd like to do that? We generally consider it a very dangerous practice to recover from corrupted state as it can make security attacks significantly easier.

[2016-01-05 01:12] ayende commented on #2502
Sure, here is my scenario:

https://github.com/ayende/ravendb/blob/master/Raven.Database/Indexing/LuceneCodecDirectory.cs#L180

Consider the case of memory mapping a file, and an API that is used to access it.
Now, someone is disposing the class, so we unmap the file.
However, some other code is still using this file, and expects to ObjectDisposedException when it happens.

This is stupid behavior

[2016-01-05 01:17] sivarv commented on #2441
Please check whether TLS statics are supported by CoreCLR.

[2016-01-05 01:24] sivarv commented on #2423
This looks to be a duplicate of issue #2448

[2016-01-05 03:17] hynguyen2610 opened #2524 "The C compiler identification is unknown"
I have VS 2015 Community with C++ module installed. Cmake installed and added to PATH. When run the build.bat from an empty new cmd windows, I got this error:
Checking pre-requisites...

Commencing build of native components for Windows_NT.x64.Debug

-- The C compiler identification is unknown
-- The CXX compiler identification is unknown
CMake Error at CMakeLists.txt:5 (project):
  No CMAKE_C_COM

[2016-01-05 06:11] mikedn commented on #2524
Maybe you installed an older version of CMake which doesn't know about VS2015? Works fine here with CMake 3.3.0.

[2016-01-05 06:57] OtherCrashOverride opened #2525 "Remove Python dependency"
The scripts here https://github.com/dotnet/coreclr/tree/master/src/scripts depend on Python.  We should replace them with C# equivalents.  A working C# compiler and runtime is already a dependency to build CoreCLR.  Removing Python lowers the barrier to entry (one less language, runtime and/or IDE) and eliminates breaking changes beyond the control of CoreCLR such as the change from Python2 to 3.

[2016-01-05 07:00] LiangChow commented on #2514
I'm trying the following method for hooked ``getEHinfo`` but ``my_getEHinfo`` method parameters return incorrectly value, Where is my mistake?
I will appreciate your help.

[code]

[2016-01-05 07:38] hynguyen2610 commented on #2524
I am using the version 3.4.1

[2016-01-05 07:42] joostshao commented on #2515
thank you all.

[2016-01-05 08:00] benaadams opened #2526 "Coreclr x64 Jit doesn't optimize first static readonly access"
From https://github.com/dotnet/corefx/issues/5152#issuecomment-168791165

Full framework x64 (.NET 4.6.1) jit resolves the first access to a `static readonly` to a constant value; however coreclr x64 embeds initialization checks into the first function jitted that accesses these values; and after that treats them as constants.

This means with full framework you are fine; but with coreclr you don'

[2016-01-05 08:02] matty-hall opened #2527 "PEVerify Source?"
Where on earth is the source to PEVerify? In reading the ECMA spec there are often times ambiguities in the language used and I find myself wanting to go look at how PEVerify handles a given construct.  I've search the tree, but the only references I've found seem to be in Validator.cpp, which is loading "peverify.dll" dynamically.  So, where the heck is its source!?

[2016-01-05 08:07] #2515 closed

[2016-01-05 11:26] rohitshrivastava04 commented on #2466
How can I install dotnet cli RC2? I checked and found that if I install dotnet cli I get  version CoreClr-x64-1.0.0-rc1-16048 where as I want to use RC2.

[2016-01-05 13:11] janvorli commented on #2466
@rohitshrivastava04 I have a PR for a real fix for the  #2215 (PR #2528) - the locale turned out to be a red herring in that case. I believe it is highly probable that it will fix your problem as well.
So I'd recommend you to wait for the fix.

[2016-01-05 14:32] bprg commented on #2514
This method works on .Net FW 2.x, 3.x but doesn't works on .Net FW 4.x I think is bug!?

[2016-01-05 16:25] LiangChow commented on #2514
You are right only work with framework 2, It is a strange behavior.

[2016-01-05 16:37] JohnChen0 commented on #1889
Commit 8d67d1f improves error reporting from crossgen, and should make this type of issues easier to debug in the future.

[2016-01-05 16:37] #1889 closed

[2016-01-05 17:01] jkotas commented on #2526
This is trade-off between predictable behavior (ie compatibility) and performance. Triggering static constructors during JITing that is required to eliminate the cctor probe on first access results in unpredictable timing of when static constructors run. JIT optimization changes (e.g. changes in inlining heuristic) tend to change the timing. We had a number of cases where these changes broke libra

[2016-01-05 18:36] ZhichengZhu opened #2531 "String.ToLower uses Turkish casing rules with en-US-POSIX"
Hi Guys,
Here is the repro code:
[code]

1. Start an ssh session(using putty.exe) from windows 10 to Mac OSX(Yosemite Version 10.10.5)
2. Use cli tool(https://github.com/dotnet/cli) to create a project
3. run "dotnet restore"
4. run "dotnet run"

Then you will see this result:
origin string:#IF
lower string:**#ıf**
**"#ıf == #if" == False**

But if you directly running in mac, then you will see th

[2016-01-05 18:48] kouvel commented on #1884
Verified fixed, thanks!

[2016-01-05 18:48] #1884 closed

[2016-01-05 18:50] stephentoub commented on #2531
In both cases, what do you see if you output:
[code]
?
The lower-casing being done in the False case is Turkish; I'm guessing that your environment in the two cases is causing you to have different cultures set up.

You can see the Turkish casing with code like:
[code]
which outputs:
[code]

[2016-01-05 18:51] LLITCHEV opened #2532 "Move unsupported non Windows tests from tests/testsFailingOutsideWindows.txt to tests/testsUnsupportedOutsideWindows.txt"
In the tests/testsFailingOutsideWindows.txt  most of the failing tests are non-supported tests on non Windows platforms. Most if the failures are in tests using the varargs calls (not supported on non-Windows) or trying to load kernel32.dll/user32.dll and/or other native dlls not presen on non Windows platforms.

[2016-01-05 18:54] LLITCHEV commented on #2532
@pgavlin Please feel free to reassign as appropriate.

[2016-01-05 18:58] sejongoh commented on #2451
Unhandled Exception: System.AccessViolationException: Attempted to read or write protected memory. This is often an indication that other memory is corrupt.
   at A.V6()
   at A.Main(String[] args)

From JIT dump, compiling the method V6 is done and the failure happens with the stack trace below:

00007ff971af88f7()	Unknown
000001d48a5b8800()	Unknown
0000007fecf7ec38()	Unknown
0000007fecf7cf78()	U

[2016-01-05 19:39] ZhichengZhu commented on #2531
That's interesting. I didn't do anything special about setting the a special environment.
But  Console.WriteLine(CultureInfo.CurrentCulture); does give me different result:
1. For ssh: en-US-POSIX
2. For mac: en-US

Even though ssh is en-US-POSIX, the i shouldn't be the Turkish i.
Thanks

[2016-01-05 20:10] janvorli commented on #2467
I keep investigating it.

[2016-01-05 20:23] janvorli commented on #2467
@jaredpar I have tried that locally and the csc script doesn't seem to be invoked. I get the same error no matter whether I modify it or not. I've also tried to add gdb invocation into the script and nothing has changed.

[2016-01-05 20:23] ramarag commented on #2525
The scripts are used during the native build process of coreclr, as such we try to avoid using any dependencies which would in turn depend on coreclr for building coreclr as this will lead to bootstrapping issues when we try to get the build going on a new platform. [ Though we already have this bootstrapping issue for mscorlib, let us not try to extend it]. That is the reason we did not want to i

[2016-01-05 20:23] #2525 closed

[2016-01-05 20:26] natemcmaster commented on #2531
@stephentoub we are seeing the same issue in @aspnet testing. On OSX, the culture is set to "en-US-POSIX" and causes `string.ToLower()` no to work correctly.

[2016-01-05 20:32] stephentoub commented on #2531
@natemcmaster, what the culture gets set to is based on the environment variables you have set in your environment, e.g. LC_ALL, LANG, LC_COLLATE, etc.  That's by design.  Check your environment variables (e.g. ```locale``` from your shell).

However, that en-US-POSIX is using Turkish casing rules is a bug.  @ellismg, before I look into it more deeply, any idea why we're setting m_needsTurkishCasi

[2016-01-05 20:41] natemcmaster commented on #2531
@stephentoub yup, you were right. Our locale is set incorrectly on build agents.

[code]

[2016-01-05 20:55] LLITCHEV opened #2534 "Test failure in newly ported CoreCLR test JIT._Methodical_tailcall_v4_hijacking_hijacking_._Methodical_tailcal"
Running CoreCLR tests after an update produces the following failure on Windows...
d:\repos\coreclr\tests\src\TestWrappers_x64_debug\JIT\JIT.XUnitWrapper.cs(174095): error : JIT._Methodical_tailcall_v4_hijacking_hijacking_._Methodical_tailcal
l_v4_hijacking_hijacking_cmd [FAIL] [D:\repos\coreclr\tests\runtest.proj]

  Raw output:      D:\repos\coreclr\bin\tests\Windows_NT.x64.debug\Reports\JIT\Met

[2016-01-05 20:57] LLITCHEV opened #2535 "Test Failure in test managed._Compilation_Compilation_Compilation_._Compilation_Compilation_Compilation_cmd on Windows"
On Windows I get the following failure. It looks like tailcall isuue:
d:\repos\coreclr\tests\src\TestWrappers_x64_debug\managed\managed.XUnitWrapper.cs(80): error : managed._Compilation_Compilation_Compilation_._Compilation_Compi
lation_Compilation_cmd [FAIL] [D:\repos\coreclr\tests\runtest.proj]

        Assert failure(PID 4272 [0x000010b0], Thread: 712 [0x02c8]): rangeOffset >= (offset + (sizeof

[2016-01-05 21:01] ellismg commented on #2531
I have a hunch:

The [source](https://github.com/dotnet/coreclr/blob/9c4bbdf0de011a2f18bf7b47065de0f0e674ee64/src/mscorlib/corefx/System/Globalization/TextInfo.Unix.cs#L91) does the following:

[code]

ICU Does tailoring of the en-US-POSIX locale and assigns different primary wights to 'i' and 'I'.  You can see this in the [ICU Collation Demo](http://demo.icu-project.org/icu-bin/collation.html) by

[2016-01-05 21:13] benaadams commented on #2526
Not sure I follow. .NET 4.6.1 does the trigger which is ok for compat; but coreclr doing it causes compat issues? Is it in x-plat situations? (these are `beforefieldinit`default cctors). Or is it because they are jitting slightly differently due to using different frameworks?

Makes sense as you don't have the runtime state of the platform when the code is complied; this would also apply to dotnet

[2016-01-05 21:52] janvorli commented on #2466
@rohitshrivastava04 the fix is in

[2016-01-05 21:59] LLITCHEV opened #2536 "Test failure on Windows - JitBlue_devdiv_902271_DevDiv_902271_DevDiv_902271_._"
This is a Windows failure...
d:\repos\coreclr\tests\src\TestWrappers_x64_debug\JIT\JIT.XUnitWrapper.cs(234485): error : JIT._Regression_JitBlue_devdiv_902271_DevDiv_902271_DevDiv_902271_._
Regression_JitBlue_devdiv_902271_DevDiv_902271_DevDiv_902271_cmd [FAIL] [D:\repos\coreclr\tests\runtest.proj]

  Process is terminated due to StackOverflowException.

  Raw output:      D:\repos\coreclr\bin\test

[2016-01-05 22:04] LLITCHEV opened #2537 "Test failure on Linux: JIT/Methodical/Invoke/25params/25param1c_il_r/25param1c_il_r.sh"
FAILED   - JIT/Methodical/Invoke/25params/25param1c_il_r/25param1c_il_r.sh
               BEGIN EXECUTION
               /home/lubo/coreclr-tests/Windows_NT.x64.Debug/Tests/coreoverlay/corerun 25param1c_il_r.exe
               Testing method of 25 parameters, all of int data type, tail.call
               1
               2
               3
               4
               5
               6

[2016-01-05 22:06] LLITCHEV opened #2538 "Test failure on Linux: JIT/Methodical/delegate/_simpleoddpower_il_r/_simpleoddpower_il_r.sh"
FAILED   - JIT/Methodical/delegate/_simpleoddpower_il_r/_simpleoddpower_il_r.sh
               BEGIN EXECUTION
               /home/lubo/coreclr-tests/Windows_NT.x64.Debug/Tests/coreoverlay/corerun _simpleoddpower_il_r.exe

               Assert failure(PID 32398 [0x00007e8e], Thread: 32398 [0x7e8e]): Assertion failed 'GetType() == TI_METHOD' in 'OddPower:Main():int' (IL size 666)

[2016-01-05 22:08] LLITCHEV opened #2539 "Issue from CoreFX"
Investigate and resolve issue 5067 at CoreFX.

https://github.com/dotnet/corefx/issues/5067

[2016-01-05 23:05] LLITCHEV commented on #2441
@richardlford
The .data tls FieldData = XXXXXX construct is not supported on non-Windows platforms. It is really OS specific and there is no anything like that available on the non Windows platforms.
These tests are expected to fail on non-Windows platforms. Please move them to the tests/testsUnsupportedOutsideWindows.txt file and  close the issue.

[2016-01-05 23:13] rohitshrivastava04 commented on #2466
Thanks @janvorli

Do I have to wait for nightly build to get dnvm upgrade -r coreclr -u to get these changes? Could you please tell me what would be the coreclr version which will have these changes?

[2016-01-05 23:22] jaredpar commented on #2467
@janvorli okay i think i understand the confusion.  The `csc` file will be moved to `Binaries/Bootstrap/csc` during the `make bootstrap` action.  That is the location that will get invoked when running `make BOOTSTRAP=true` action.  Sorry for the confusion.

[2016-01-06 00:01] gkhanna79 commented on #2524
@janvorli Is this similar to the issue you are fixing?

[2016-01-06 00:03] janvorli commented on #2524
@gkhanna79 Doesn't seem to be related.

[2016-01-06 00:21] rohitshrivastava04 commented on #2466
I managed to change the unstable feed url to https://www.myget.org/F/aspnetcidev/api/v2, but still dnx hangs in 1.0.0-rc2-16375

[2016-01-06 01:11] sivarv commented on #2538
Closing this as it is a duplicate of issue #2407

[2016-01-06 01:11] #2538 closed

[2016-01-06 01:12] sivarv commented on #2537
Closing this as it is a duplicate of issue #2331

[2016-01-06 01:12] #2537 closed

[2016-01-06 01:16] sivarv commented on #2536
Closing this as it is a duplicate of issue #2334

[2016-01-06 01:16] #2536 closed

[2016-01-06 01:19] sivarv commented on #2535
Closing this issue as it is a duplicate of #2508

[2016-01-06 01:19] #2535 closed

[2016-01-06 16:04] janvorli commented on #2396
@sejongoh I am unable to reproduce the issue. Even with JitStressRegs=0x80 set, the test passes for me. Since you've tested it 19 days ago, could you please try again?

[2016-01-06 16:32] janvorli commented on #2396
@sejongoh I am sorry, I had a typo in the in the COMPlus_JitStressRegs, I am trying it again now.

[2016-01-06 16:35] janvorli commented on #2396
I was able to repro it now.

[2016-01-06 17:00] muratg commented on #2095
Guys, where are we with this?  This is blocking MVC.

@joshfree @danroth27

[2016-01-06 19:26] LLITCHEV commented on #2450
@richardlford
I have taken a look at these and below are my findings. Please, move/build/remove the tests as noted in the notes.

JIT/Directed/IL/mutualrecurthd-tailcall/mutualrecurthd-tailcall/mutualrecurthd-tailcall.sh
    Passed when run with latest bits.

JIT/Directed/Misc/function_pointer/mutualthdrecur-fptr/mutualthdrecur-fptr.sh
    The test is not built when following the instructions for

[2016-01-06 19:47] omariom commented on #2526
Can we have another attribute? SureBeforefieldInit? ;)

[2016-01-06 20:13] sivarv commented on #2451
RVA statics in IL-only assemblies are read-only and hence will AV. These tests needs to be compiled as platform specific. Marking this as test issue.

[2016-01-06 20:41] LLITCHEV commented on #2326
@richardlford
I looked at these tests and ran them on Linux.
One of the problem amongst them is that it looks like they are built against the Desktop libs instead of the platform targetLibs for Linux.
Here is what I discovered:

JIT/Regression/CLR-x86-JIT/V1-M09.5-PDC/b16335/b16335/b16335.sh
    Passed on Linux with the latest build.

JIT/Regression/CLR-x86-JIT/V1-M09.5-PDC/b28776/b28776/b28776.sh

[2016-01-06 20:57] janvorli commented on #2396
@sejongoh The reason why I have thought the test is wrong is just the fact that it reports the failure incorrectly. The "expected" and "actual" exceptions are swapped. But the test itself is correct.

[2016-01-06 22:55] sivarv opened #2547 "Add support for helper based tail calls in Linux"
Right now on Linux only fast tail calls are supported on x64.  Helper based tail call support needs to be added to x86/arm/x64. This requires adding JIT helpers and support in VM

[2016-01-06 22:57] janvorli commented on #2466
@rohitshrivastava04 I would like to try to repro it locally - can you please provide me with step by step instructions? I've ran `sudo docker run -i -t debian:jessie` as you've said, but I don't know how to install dnvm on it. Attempt to use instructions from http://docs.asp.net/en/latest/getting-started/installing-on-linux.html fails since `apt-get install unzip curl` fails to locate the unzip an

[2016-01-06 23:18] janvorli commented on #1076
Closing the issue since we have not seen the error from other sources and there was no response from the bug creator.

[2016-01-06 23:18] #1076 closed

[2016-01-06 23:20] tzwlai commented on #2266
@RussKeldorph, does this look like it could be related to the JIT?

[2016-01-07 00:47] CarolEidt opened #2551 "Unix: Don't allocate return registers for struct returns that are on stack"
This affects both the lowering and the code generation for calls.
For UNIX AMD64, we should not be allocating a return register for struct returns that are on stack.
For the SIMD case, however, we do want a "return register", as the consumer of the call will want the value in a register. Currently it is always allocating REG_FLOATRET, but we should flexibly allocate this register as it need not be

[2016-01-07 01:38] janvorli commented on #2333
Fixed by #2543

[2016-01-07 01:38] #2333 closed

[2016-01-07 01:39] janvorli commented on #2396
Fixed by #2543

[2016-01-07 01:39] #2396 closed

[2016-01-07 02:33] hynguyen2610 opened #2553 "The build tools for Visual Studio 2010 (Platform Toolset = 'v100') cannot be found"
I have VS 2015 community installed with C++ (all ticked, ,included VS tool for C++), but when run the build.bat, I got this error (Log attached)
[log.txt](https://github.com/dotnet/coreclr/files/80654/log.txt)

Build FAILED.
"c:\git\coreclr-master\bin\obj\Windows_NT.x64.Debug\install.vcxproj" (default target) (1) ->
"C:\git\coreclr-master\bin\obj\Windows_NT.x64.Debug\ALL_BUILD.vcxproj" (default ta

[2016-01-07 03:06] CarolEidt opened #2554 "Add tests to ensure that SIMD intrinsics are properly recognized"

[2016-01-07 03:07] #2531 closed

[2016-01-07 13:17] janvorli commented on #2467
After more investigation, I have found that while pthread sets the stack limit of all secondary threads to 2MB when unlimited is specified, the main thread's limit is initially really set to "unlimited", which on my machine is about 85TB. However, later on (maybe after the first secondary thread is launched), the limit of the main thread changes a bit (by 512MB). But it is too late, CoreCLR has al

[2016-01-07 14:02] janvorli commented on #2467
Unfortunatelly, it looks like there is no way to have the stack of the main thread bound by a static limit in case of `ulimit -s` set to unlimited. Although pthreads have a function pthread_attr_setstacksize, it only sets the minimum size of stack and the main thread is allowed to grow its stack dynamically. Only the secondary threads have fixed sized stacks.
The only solution seems to be to set t

[2016-01-07 15:16] jkotas commented on #2467
Is there a way to tell at runtime that the thread has unlimited stack size?

We do not actually even need the actual stack limit in this case, we really just need the current managed SP to get the current managed stack range ... that is available to the GC stack scan.

Most of the other places where we check stack limits seems to be debug-only checks -  it may be ok to make them slower.

[2016-01-07 15:33] clrjunkie opened #2555 "Document any Memory model/visibility changes when executing on X64 Linux/Mac"
For example: Are all writes volatile? Does lock still generate a full barrier?

[2016-01-07 15:46] jkotas opened #2556 "Full tailcall support on Unix"
It is important to have uniform managed tailcall support accross platforms for F#.

[2016-01-07 15:49] jkotas commented on #2556
The "slow" helper based tailcalls are missing - see #703.

The existing design the "slow" helper based tailcalls has a strong dependency on how varargs work on Windows (it assumes that va_list is castable to void* that does not hold on Unix), and it is super complex (requires ~500 line handwritten assembly thunk emitter). I believe the contract between JIT and VM for slow tailcalls needs to be red

[2016-01-07 16:07] dsyme commented on #2556
Super, thanks Jan.

If possible, could you add some notes about when the slow tailcall helper is used (which AFAIU should correspond to when tailcalls will currently not be taken for CoreCLR on Unix?). It would be useful to have docs on when the slow helper is used on Windows in any case.

[2016-01-07 17:10] rohitshrivastava04 commented on #2466
First update apt-get by running following command

    apt-get -qq update

Then run

    apt-get -qqy install unzip curl libicu-dev libunwind8 gettext libssl-dev libcurl3-gnutls zlib1g && rm -rf /var/lib/apt/lists/*
    curl -sSL https://raw.githubusercontent.com/aspnet/Home/dev/dnvminstall.sh | DNX_BRANCH=dev sh
    source ~/.dnx/dnvm/dnvm.sh
    dnvm upgrade -r coreclr -u

And then when your run

[2016-01-07 17:49] clrjunkie commented on #2555
@tzwlai
Hope future will arrive soon, otherwise it would be hard to right correct code..

[2016-01-07 17:53] jkotas commented on #2556
This is implemented in `fgCanFastTailCall` method https://github.com/dotnet/coreclr/blob/master/src/jit/morph.cpp#L5715.

The simple rule that should hold across platforms over time is that the fast tailcall will be used if both of the following are true:
- Return value and call target arguments are all either primitive types, reference types, or valuetypes with a single primitive type or referenc

[2016-01-07 18:57] sivarv commented on #2547
Resolving this as a duplicate of VM issue #2556

[2016-01-07 18:57] #2547 closed

[2016-01-07 19:08] hoyMS commented on #2435
The tests are failing because they are trying to update static RVA fields in IL files.

[2016-01-07 19:24] sivarv commented on #2445
Marking this as test issue since MethodAccessException indicates most likely a test issue rather a codegen issue.

[2016-01-07 19:30] sivarv commented on #2454
Please rule out that this is not a test issue.  One quick way to check is by running the same test binary against desktop and checking whether it fails there as well.  This will work provided test is not using any API surface which is ProjectK specific, which I believe is the case for these tests.

[2016-01-07 19:31] zpodlovics commented on #2555
A strict (formal) definition of CLR and the CLR memory model, and implementation details would be even better. Usually, the more strict the definition the more possiblity you have to optimize the code for specific restricted cases (eg.: jmm barrier elimination).

Semantics example (the memory model not yet integrated):
https://github.com/kframework/jvm-semantics
http://fsl.cs.illinois.edu/index.ph

[2016-01-07 19:35] LLITCHEV commented on #2352
This is a dup of issue #2330. It is exactly same failure. The test fails the same way regardless MinOpts is set. It is a bad test. The issue is that manipulation of the array (adding/removing elemens, etc.) is done in the same test methods. The Jit assigns the current element of the array to a temp that holds a live reference to the last element till the end of the method, thus not collecting (fin

[2016-01-07 19:35] #2352 closed

[2016-01-07 19:35] LLITCHEV commented on #2330
This looks like a bad test. The issue is that manipulation of the array (adding/removing elemens, etc.) is done in the same test method as the testing code. The Jit assigns the current element of the array to a temp that holds a live reference to the last element till the end of the method, thus not collecting (finalizing) the last element.
The fix would be to establish the array manipulation code

[2016-01-07 19:51] janvorli commented on #2466
@rohitshrivastava04, thanks for the instructions. I've tried the steps and the `dnx --version` didn't hang for me:
[code]
So hopefuly the fix got finally propagated.

[2016-01-07 21:27] joshfree commented on #2499
Hi @mafshin I've moved this bug to the CLI repo: https://github.com/dotnet/cli/issues/750

[2016-01-07 21:27] #2499 closed

[2016-01-07 21:29] joshfree commented on #2163
/cc @ericstj @chcosta

[2016-01-07 21:31] joshfree commented on #2200
@Sridhar-MS @piotrpMSFT PTAL in the context of CLI for RC2

[2016-01-07 21:33] joshfree commented on #2357
@ellismg @eerhardt PTAL

[2016-01-07 21:34] joshfree commented on #2273
@yizhang82 PTAL

[2016-01-07 21:35] janvorli commented on #2524
Can you please try to create and build a simple C/C++ project in the VS2015 to see if it works? I have seen people reporting that they sometimes needed to create one to get the C++ compiler installed.

[2016-01-07 21:45] tzwlai commented on #2355
@SidharthNabar @CIPop PTAL

[2016-01-07 22:02] ayende opened #2565 "Reversed fixed? convert byte* to byte[]"
I have some code that works with memory mapped file, as such, I deal a lot with byte pointers (byte*).
I need to interact with streams, which takes Write(byte[] data, int offset, int count);

If I have a byte[], I can use fixed to get the pointer. But there isn't any way to go the reverse.
Currently I have to copy to a temporary buffer to be able to interact with this API.

Is there any way (curre

[2016-01-07 22:06] janvorli commented on #2357
I have fixed that in #2529

[2016-01-07 22:06] #2357 closed

[2016-01-07 22:17] #2298 closed

[2016-01-07 22:34] ericstj commented on #2163
That package only carries a desktop implementations (big Windows .NET) for .NET 4.0 and .NET 4.5.  .NET Core is significantly smaller than desktop .NET.  The reason that package works for mono is because Mono pretends that it is the same as desktop .NET in the project metadata it exposes to NuGet.  This works sometimes, so long as the library doesn't use anything that mono didn't or couldn't imple

[2016-01-07 23:00] RussKeldorph commented on #2359
Closing on @benaadams behalf.

@CarolEidt above discussion FYI.

[2016-01-07 23:00] #2359 closed

[2016-01-07 23:05] RussKeldorph commented on #2266
@tzwlai probably makes sense for us to look.  @LLITCHEV @CarolEidt FYI.

[2016-01-07 23:17] tarekgh commented on #2460
@bartonjs just wondering why you cannot use unsafe? is it just for convenience to call the API without pinning the string? or there is any other reason?

[2016-01-07 23:19] joshfree commented on #2265
Hi @fuszenecker,
I'm closing this out as a duplicate of https://github.com/dotnet/corefx/issues/1187.  Thank you

[2016-01-07 23:19] #2265 closed

[2016-01-07 23:22] cmckinsey commented on #2478
Agree with the analysis. This is likely a bug in the importer where we're not dumping the evaluation stack correctly during IL parsing. Have seen similar bugs to this in the past.

[2016-01-07 23:24] tzwlai commented on #2555
@clrjunkie "Future" is just our way of saying "after March".

CC @jkotas @sergiy-k

[2016-01-07 23:25] bartonjs commented on #2460
@tarekgh Mainly I was surfacing it as "there's a gap in the matrix between GetByteCount and GetBytes".  But also, because @morganbr scolded me.

Really, I guess, I don't even care about that GetByteCount method; `byte[] GetBytes(string str, int offset, int count)` would more match what I was looking for.  Just a safe way to do an encoding of a substring without allocating the `char[]` or having to

[2016-01-07 23:35] hoyMS commented on #2534
Not repro

[2016-01-08 00:31] jkotas commented on #2555
The IL memory model is described in the CLI spec http://www.ecma-international.org/publications/standards/Ecma-335.htm. I agree that it would be nice to have more formal writeup.

Nothing have changed about the IL memory model for x64 Linux/Mac port.

[2016-01-08 00:48] brianrob commented on #2233
@ramarag can you please take a look at this?

[2016-01-08 00:55] LLITCHEV commented on #2539
The System.Linq.Expression failures on Linux were fixed and the tests enabled last week. The Windows System.Collections.Immutable.BinarySearch* failures are the same as the one described in dotnet/coreclr issue #2349 (dotnet/coreclr#2349). The only left failing tests are duplicates of dotnet/coreclr issue # 2349.
Closing as dup of issue #2349 .

[2016-01-08 00:55] #2539 closed

[2016-01-08 01:43] yizhang82 commented on #2273
@tijoytom Can you take a look?

[2016-01-08 01:44] briansull commented on #2286
Pull request #2569 fixes this issue

[2016-01-08 01:46] hynguyen2610 commented on #2524
Hi,
I can build C++ project normally. In the documentation said you are using CMake 3.0.2, when I using this version, it's not recognize my VS 2015, I tried version 3.4.1, the error is  "The C compiler identification is unknown" like the post, I try to using Cmake 3.3.2, its don't fail into compiler problem anymore. The build can run a long way.
I am running the build.bat with VS Developer x64 Com

[2016-01-08 01:47] yizhang82 commented on #2322
@davidwrighton Do you know if there is any CLR type system work required in the VM for unmanaged T constraint? I don't think so, but I'd like to double check.

[2016-01-08 02:03] RyanByi commented on #1396
Closing this. @Janiels is correct. You can read more about variance here: https://msdn.microsoft.com/en-us/library/ee207183.aspx.

[2016-01-08 02:03] #1396 closed

[2016-01-08 03:09] sivarv commented on #2329
I could not repro the assert failure on windows x64 using debug/checked bits.

Further I have noticed from TailcallVerifyWithPrefix.ilproj file that it is getting always compiled with
<Optimize>False</Optimize>

This would mean that ilasm would generate an assembly with debuggable attribute that turns off jit optimizations.  But for this to pass, it should always be compiled with Optimize = True.

[2016-01-08 03:14] mikedn commented on #2565
How could there be? A byte[] implies a certain layout - method table, array length, array elements. A byte* only has array elements.

[2016-01-08 03:16] hynguyen2610 commented on #1508
I got this problem to. Waiting for solution. Thank for @cloudRoutine , I could know "build x64 release" work, at least :+1:

[2016-01-08 04:08] sivarv commented on #2266
@RussKeldorph - This is an issue on OSX, should we move it to 'future'?

[2016-01-08 05:16] jkotas commented on #2565
The future way to deal with this problem is likely to make streams and other common types [`Span<T>`](https://github.com/dotnet/corefxlab/blob/master/src/System.Slices/src/System/Span.cs) aware.

[2016-01-08 05:34] LLITCHEV commented on #2362
@jashook @joshfree PR #2567 should fix this issue. Please verify it is fixed and close this issue.

[2016-01-08 05:37] LLITCHEV commented on #2266
@sivarv I am not 100% it is issue on the Mac only. (In terms of the Jit there should be no differences on Linux, Mac OS or any other *nix OS.) I this investigating at least will not hurt.

[2016-01-08 09:10] sergiy-k commented on #1973
@pgavlin, do you know if this has been already fixed?

[2016-01-08 10:01] clrjunkie commented on #2555
@jkotas Thanks. I think this needs to be better communicated to the community as well as to MS Devs, preferably on the CoreClr GitHub Repo front-page. I noticed a piece of code in .NET Core that included a code comment about possible change in behavior in this area and if I recall correctly the code comment was about justifying the use of Volatile.Read as a means to ensure consistent semantics acr

[2016-01-08 10:52] clrjunkie commented on #2555
@tzwlai

Thanks.

[2016-01-08 11:07] rohitshrivastava04 commented on #2466
I am using docker on windows 7, could you please confirm your environment as mine still hangs.

[2016-01-08 11:11] janvorli commented on #2466
@rohitshrivastava04 I am not sure I understand - we were discussing linux stuff here, so I am not sure how Windows 7 is related.

[2016-01-08 12:55] jkotas commented on #2555
Could you please share link to this piece of code?

[2016-01-08 13:19] zpodlovics commented on #2555
Yes, I am aware of the ECMA 335 spec five page "I.12.6 Memory model and optimizations" section.

CarolEidt comment from https://github.com/dotnet/coreclr/issues/422

"As far as I know there is no formal definition for the CLR memory model, though this blog post from some years ago describes the de facto model pretty accurately, I believe: http://joeduffyblog.com/2007/11/10/clr-20-memory-model/. A

[2016-01-08 13:32] rohitshrivastava04 commented on #2466
I am using boot2docker on windows 7.

-Rohit

On Fri, Jan 8, 2016 at 11:11 AM, Jan Vorlicek <notifications@github.com>
wrote:

[2016-01-08 14:01] clrjunkie commented on #2555
:confused:

[2016-01-08 15:07] clrjunkie commented on #2555
@jkotas  I don't quite remember the filename..

[2016-01-08 15:28] mattwarren commented on #1548
I don't know if it's supported or not, but when I ran the sample in Visual Studio, I had to make a few changes to get it to build. You can see them in [this commit](https://github.com/mattwarren/GCSample/commit/16534fd414deaea8e59cbb77f009c140375ef227).

Obviously some of the changes are not proper fixes, i.e. [commenting out `GCToEEInterface::SyncBlockCacheWeakPtrScan()`](https://github.com/mattw

[2016-01-08 15:52] janvorli commented on #2467
Fixed by #2573

[2016-01-08 15:52] #2467 closed

[2016-01-08 16:20] gkhanna79 commented on #2509
@LLITCHEV You should be specifying the absolute path and not the ".". Does it not work when you do so?

[2016-01-08 16:20] gkhanna79 commented on #2509
@JohnChen0 - FYI

[2016-01-08 16:22] gkhanna79 commented on #2256
@agocke I am closing this since #2314 is closed. Reopen if the issue persists.

[2016-01-08 16:22] #2256 closed

[2016-01-08 16:29] rohitshrivastava04 commented on #2466
@janvorli thanks for pointing me in the right direction. Now I can confirm that its an issue only when using boot2docker on Windows 7. I installing on ubuntu as VM on my windows 7 and installed docker on it and it ran smooth. First time I can see something which is coming from Microsoft but throws an error on Windows and runs fine on Ubuntu. I am glad to see this that primary focus of CoreCLR is L

[2016-01-08 17:03] pgavlin commented on #1973
I think so, but I will double-check.

[2016-01-08 17:11] hoyMS commented on #2452
Fixed. Merged in as #2563.

[2016-01-08 17:11] #2452 closed

[2016-01-08 17:13] sergiy-k commented on #2124
Hi @saurabh500, are you still hitting this issue?

[2016-01-08 17:55] #1281 closed

[2016-01-08 17:55] #1287 closed

[2016-01-08 18:21] AndyAyersMS opened #2575 "Frequent package restore failures when building tests"
I probably build the CoreCLR test tree way too often, but am seeing about a 50% failure rate in the package restore step for tests. I also see the restore for mscorlib fail, but much less often, maybe 5% of the time. This is on windows on a machine running Server 2012.

What's odd is that if I then run the failing command myself it always succeeds, and then a subsequent test build will usually suc

[2016-01-08 19:01] LLITCHEV commented on #2509
@gkhanna79 @JohnChen0 Specifying the full path probably works (have not tried yet - in the middle of another thing). However, on *nix using the shortcuts .,..,~ is a very common practice. The paths could get really long. I think canonical-izing/normalizing the path or in case of . or .. prepending the current directory could make it way more user friendlier.

[2016-01-08 19:18] hoyMS commented on #2402
Not repro with latest builds

[2016-01-08 19:18] #2402 closed

[2016-01-08 19:19] gkhanna79 commented on #2509
I dont believe crossgen ever supported using shortcuts on any platform (atleast that is what the assert is also indicative of). Shortcut support can be looked into for a future release.

[2016-01-08 19:26] jashook opened #2576 "JIT Minopts Failures (Debug x64)"
These tests fail with COMPLUS_JitMinOpts=1, debug x64 Windows.

JIT\Methodical\tailcall_v4\stk_bndchk\stk_bndchk.exe
JIT\SIMD\CircleInConvex\CircleInConvex.exe
JIT\jit64\regress\ddb\87766\ddb87766\ddb87766.exe

--------------------------------------------------------------------

Output for:

stk_bndchk.exe
ddb87766.exe

Expected: True
Actual:      False

------------------------------------------

[2016-01-08 19:33] sivarv commented on #2416
These tests are expected to produce NullReferenceException (Verified both on Desktop and CoreCLR).  Looks like we are missing something while porting these tests from Desktop.  On Desktop I see there are some pre-command and post-command executed.  We need to understand how this test is getting executed/run on desktop and if it applies to CoreCLR see how best to adopt for CoreCLR purpose.

Marking

[2016-01-08 19:38] sivarv opened #2577 "Document conditions under which tail calls are honored by CoreCLR for each architecture along with info on fast and slow (or helper based tail calls)."
To start with here is a blog post on Legacy JIT64
http://blogs.msdn.com/b/davbr/archive/2007/06/20/tail-call-jit-conditions.aspx

Since RyuJIT replaces LegacyJit64, the conditions remain the same.

[2016-01-08 20:07] jashook opened #2578 "JIT Minopts Failures (Checked x64)"
These tests fail with Complus_JitMinOpts=1 set on windows, checked, x64.

~~\JIT\opt\Tailcall\TailcallVerifyWithPrefix\TailcallVerifyWithPrefix.exe~~
\JIT\SIMD\CircleInConvex\CircleInConvex.exe
~~\JIT\SIMD\VectorArgs\VectorArgs.exe~~
\JIT\SIMD\VectorReturn\VectorReturn.exe
~~\JIT\jit64\regress\ddb\87766\ddb87766\ddb87766.exe~~

----------------------------------------------------------------------

[2016-01-08 20:08] jashook commented on #2576
See https://github.com/dotnet/coreclr/issues/2578

[2016-01-08 20:08] #2576 closed

[2016-01-08 20:39] hoyMS commented on #2398
Not repro with latest builds.

[2016-01-08 20:39] #2398 closed

[2016-01-08 20:44] LLITCHEV commented on #2509
Sure. I wonder whether on Windows the .\ sequence is allowed?

[2016-01-08 21:28] cheers00 opened #2579 "Enabling GCServer for server apps"
Do I need to enable  ```gcServer``` explicitly for asp.net 5 web apps running on multi node servers? Can I do this by adding the following line to project.json?

```<gcServer enabled="true"/>```

[2016-01-08 21:43] sejongoh opened #2580 "Add a test case to check code generation for comparing unsigned short values"
The testcase should have operations like:

int c = GT(ushort a, ushort b)

, and it checks whether code generation for GT is correct with unsigned values.

Either a or b should have a value with its MSB set, so that bad code generation with 16-bit signed comparison will fail.

For example,

a = 0x8000, b = 0  --> if signed 16-bit comparison is generated, the result will be wrong since 0x8000 is -3

[2016-01-08 21:59] hoyMS commented on #2405
It looks to me a bad IL test which is loading a non-static field in a static method. This causes the imported to crash.

.field int32 i
.method static int32 f()
{
ldsfld int32 Test::i
ret
}

[2016-01-08 22:02] sivarv commented on #2405
Though IL is bad, we should not still crash. Given the root cause, this can be moved to RTM, IMO

[2016-01-08 22:09] sivarv commented on #2311
This test fails only on Linux as per Pull request that disabled this test.

[2016-01-08 22:11] jkotas commented on #1548
I have made the proper fixes for the VS project build breaks in https://github.com/dotnet/coreclr/pull/2582.

That's me :-)

[2016-01-08 22:13] jkotas commented on #1548
Closing this issue - GCSample was added to the build by @janvorli in #2244

[2016-01-08 22:13] #1548 closed

[2016-01-08 22:35] hoyMS commented on #2458
Not repro.

[2016-01-08 22:35] #2458 closed

[2016-01-08 22:37] sergiy-k commented on #2579
Hi @cheers00, are you talking about Windows or Linux? DNX on Windows enables Server GC by default.
This is not yet available on Linux. It is work in progress: https://github.com/dotnet/cli/issues/488

[2016-01-08 22:38] hoyMS commented on #2457
Not repro

[2016-01-08 22:38] #2457 closed

[2016-01-08 22:48] cheers00 commented on #2579
Windows. Thanks.

[2016-01-08 22:48] #2579 closed

[2016-01-08 22:53] mattwarren commented on #1548
Thanks for fixing it, I'll try out the new version in the next couple of day.

Well thank-you, plus thanks in advance for the extra work you are going to do, like #1551

[2016-01-08 22:55] hoyMS commented on #2397
Not repro

[2016-01-08 22:55] #2397 closed

[2016-01-08 22:58] hoyMS commented on #2403
Not repro

[2016-01-08 22:58] #2403 closed

[2016-01-08 23:00] hoyMS commented on #2404
Not repro

[2016-01-08 23:00] #2404 closed

[2016-01-08 23:00] adityamandaleeka opened #2583 "Enable GCStress 0xC"
We need to add support for running GCStress mode 0xC, which is a combination of 4 (GC on every allowable JITted instruction) and 8 (GC on on every allowable NGEN'd instruction).

[2016-01-08 23:06] briansull commented on #2286
Fix is checked in,
@pgavlin can you reenable this test
briansull merged commit dd0c2f1 into dotnet:master an hour ago

[2016-01-08 23:13] RussKeldorph opened #2584 "tests\src\JIT\Methodical\tailcall_v4\stk_bndchk.il"

[2016-01-08 23:13] #2584 closed

[2016-01-08 23:19] janvorli commented on #2380
This issue is caused by a memory corruption due to a bad codegen of the `System.Globalization.CompareInfo:Compare(ref,int,int,ref,int,int,int):int:this` method when the `COMPlus_JitStressRegs=3` is set.
To repro it reliably under the debugger, only a single test from the test suite should be run:
[code]
See the JitDump here:
https://gist.github.com/janvorli/09405f91e1d64881357a
See this piece of g

[2016-01-08 23:21] RussKeldorph opened #2585 "Bad test case: tests\src\JIT\Methodical\tailcall_v4\stk_bndchk.il"
tests\src\JIT\Methodical\tailcall_v4\stk_bndchk.il is failing consistently for some individuals and occasionally in the cloud.  It assumes that it can create at most 1000 threads and be guaranteed that at least one of the threads' stacks will be at an address below the heap.  Presumably it did that because such addresses were required to provoke a bug repro at one point in time.  Assuming the orig

[2016-01-08 23:23] janvorli commented on #2380
@sivarv Can you please reassign this bug to the right person?

[2016-01-08 23:35] hoyMS commented on #2448
Not repro.

[2016-01-08 23:35] janvorli commented on #2215
Fixed by #2528

[2016-01-08 23:35] #2215 closed

[2016-01-08 23:42] hoyMS commented on #2423
Not repro

[2016-01-08 23:42] #2423 closed

[2016-01-08 23:59] AlexGhiondea commented on #2128
@sergiy-k -- could you take a look?

[2016-01-09 00:23] sivarv commented on #2407
Short Summary: It is a benign assert due to a bit-rotten code transparency check in importer. Moving this to RTM.

Details:

Delegate creation pattern that is causing the assert failure:
ldloc.0
dup
call  instance method int32 *() OddPower::GetMthdPtr1()
newobj  instance void OddPower/MyDeleg2::.ctor(object, native int)

Note that the delegate method funcptr is a pointer returned by GetMthPtr1(),

[2016-01-09 00:23] LLITCHEV commented on #2349
After investigating with @sivarv this looks like a new state introduced by the recursive tail call feature that lsra is not currently dealing with.

[2016-01-09 00:27] hoyMS commented on #2311
This appears to be a test issue : System.Threading.Thread::Abort is not supported in coreclr.

[2016-01-09 01:18] sergiy-k commented on #2128
/cc: @kouvel

[2016-01-09 01:27] hoyMS commented on #2414
I didn't see those failures in a recent x64 windows debug run.

[2016-01-09 01:31] AndyAyersMS commented on #2414
@hoyMS are you going to enable these tests then?

You'll need to edit issues.targets.

[2016-01-09 01:38] bendono opened #2589 "MSI installer is not signed"
Following the .NET Core installation instructions for Windows, I downloaded the MSI installer.
Path: https://dotnet.github.io/getting-started/
OS: Windows 10

Upon installation, SmartScreen will attempt to block installation.
![msi](https://cloud.githubusercontent.com/assets/846533/12213523/f51de5de-b6bc-11e5-8a53-92acbf93c1e8.png)
Likely this is because the Publisher is not defined.

[2016-01-09 01:44] bendono opened #2590 "dotnet run: Access to path... AppData\Local\Application Data is denied"
Following the .NET Core installation instructions for Windows, I issue the command "dotnet run". This results in the following error: Access to path... AppData\Local\Application Data is denied

![dotnet_error](https://cloud.githubusercontent.com/assets/846533/12213548/93aa118c-b6bd-11e5-9212-a35f48b190be.png)

Path: https://dotnet.github.io/getting-started/

Note that running PowerShell as an Admi

[2016-01-09 01:50] benaadams commented on #2590
Strangely our paths are the same: https://github.com/dotnet/cli/issues/686

[2016-01-09 02:12] omariom opened #2591 "RyuJIT: [betternes] Make JIT time constants from calls to Type methods and props"
If JIT could treat the calls like  typeof(T).IsValueType, typeof(IInterface).IsAssingnableFrom(typeof(T) etc.
that could allow to write more performant generic code.

[2016-01-09 05:55] fo40225 opened #2594 "Use base index scale to access address in unsafe"
Consider those code

[code]

In C/C++, first loop will faster than second one because first loop will use

[code]

use only one instruction and get value. and second loop will use extra two instructions to increase pointer

[code]

But in C# unsafe code, first loop will use

[code]

and cause first one slow than second one. The `imul` slow down the performance.

If there is no performance penalty

[2016-01-09 06:26] mikedn commented on #2591
Hmm, what would be the use of `typeof(IInterface).IsAssingnableFrom(typeof(T)` in generic code?

Test if a value type implement a certain interface? But if it does you'll probably need to cast to that interface anyway.

[2016-01-09 06:28] mikedn commented on #2589
This issue most likely belongs in the cli repo, no such MSI is built in this repo.

[2016-01-09 06:53] mikedn commented on #2594
That really depends on the compiler. Some may transform the slow version into the fast version and, some may transform the fast version into the slow version and some may do no transformation at all.

I cannot reproduce that, it looks like debug code. The code I get for that loop is:

[code]

It looks reasonable. The reload of `ptrA` at the start of the loop could have been avoided, this is caused

[2016-01-09 07:41] fo40225 commented on #2594
OK, I try to use attach visual studio debugger after launch program instead of use visual studio to debug Release build directly. And I got your result.

So the problem is array style has unnecessary `movsxd` cause slower the pointer arithmetic?

the `ptrB[i] = ptrA[i];` loop will slower than `*tb = *ta;` in below code

    var a = new int[536870911];
    var rnd = new Random();

    for (int i =

[2016-01-09 08:28] omariom commented on #2591
@mikedn
For example, we could use the trick EqualityComparer uses to  dispatch handling to proper methods without casting and boxing.
Like this:

[code]

[2016-01-09 09:55] mikedn commented on #2594
Have you measured and determined that it is indeed slower? For arrays that large the impact of memory loads and stores is significant enough that couple of additional fast instructions like `movsxd` or `lea  edi,[edi+4]` won't make much of a difference. Even a non-pointer version of this loop will provide the same performance, 365-410ms on my machine.

That fact that the second loop in your code a

[2016-01-09 10:16] mikedn commented on #2591
I [see](https://github.com/dotnet/coreclr/blob/bc146608854d1db9cdbcc0b08029a87754e12b49/src/mscorlib/src/System/Collections/Generic/EqualityComparer.cs#L43). With this type of optimizations the JIT could reduce `EqualityComparer<int>.CreateComparer()` to just `return new GenericEqualityComparer<int>();`. And similar code size reductions could also be obtained for nullable and enum types. Even for

[2016-01-09 10:40] mikedn commented on #2591
While we're at it I think we can also add the case of
[code]
The if is eliminated as expected when `T` is a value type other than `int` but it is not eliminated when `T` is a reference type (obviously, if T is a reference type it can never be `int`).

[2016-01-09 10:41] benaadams commented on #2591
:+1:

[2016-01-09 10:52] benaadams commented on #2591
Although for coreclr you need to do
[code]

[2016-01-09 10:57] omariom commented on #2591
Nice property is that the optimizations won't disappear when Ngen'ed or .NetNative'ed, will they?

[2016-01-09 11:32] mikedn commented on #2591
Yep, `GetTypeInfo` might complicate things a bit but hopefully not make it impossible. For `typeof` the return is likely always a `RuntimeType`.

At least the most useful one should stay. `typeof(int).IsValueType` must always return `true` but perhaps for `typeof(SomeThirdPartyValueType).IsValueType` runtime evaluation would be needed in case the type is changed to a reference type (though such a

[2016-01-09 11:36] fo40225 commented on #2594
I try the small array and there is no significant difference between non-fixed pointer array style and star style.

With increase array size, fixed pointer will have observably slow.

In very large array, fixed pointer will slow than non-fixed. even managed access will faster than fixed one.

I have no idea because those x86 asm looks very likely.

Why fixed pointer has access performance impact?

[2016-01-09 11:48] fo40225 commented on #2594
Oh I figure out, is that the same problem in # 2480?

[2016-01-09 12:02] mikedn commented on #2591
Maybe a table with various type methods and properties would be useful to look at. It's not exhaustive (I skipped many things that are unlikely to be useful or just too complex).

Member|Notes
---|---
BaseType | `typeof(int).BaseType.IsValueType` is always false for example. Unlikely to be very useful
GetEnumUnderlyingType| Could be useful to implement an efficient `Enum.HasFlag<T>`
GetTypeCode| T

[2016-01-09 12:18] omariom commented on #2591
And.. cough.. typeof(T).[ContainsReferences](https://github.com/dotnet/coreclr/issues/1135) if it happen to be implemented :wink:

[2016-01-09 12:20] mikedn commented on #2594
If I understand correctly what you are asking then yes, it's the same problem as in #2480.

Let's look at the generated code for those 2 loops that use indexing:

[code]
generates
[code]
and
[code]
generates
[code]
Note how in the first version ptrX and ptrY are reloaded from local variables on every iteration while in the second version they are not.

I think it's also worth looking at the non-po

[2016-01-09 12:37] mikedn commented on #2591
Indeed :smile:

And there's another thing that's not directly related to `Type` properties:

[code]
For `T = int` the type check should be a no-op but in reality it does boxing. AFAIR that's what you were trying to avoid in corefxlab's AppendUntyped PR.

[2016-01-09 13:07] omariom commented on #2591
And it is more readable than typeof(T) == typeof(int).

[2016-01-09 13:32] fo40225 commented on #2594
Thanks for the explanation.

So in this access array scenario, managed code and unmanaged code didn't have performance difference.

Can we say if JIT can eliminated the bound checks, there is nothing difference between managed and unsafe code?

[2016-01-09 14:49] mikedn commented on #2594
Sort of. We've seen that both managed and unsafe versions can generate identical code so it would seem that the answer is simply yes. But in unsafe versions you may be able to do optimizations that aren't possible in the managed version.

In this particular case you could cast `int*` to `long*` and get a speed bump because it is faster to copy 8 bytes at a time instead of 4:

[code]

These days yo

[2016-01-09 15:03] Janiels commented on #2594
[code]
Of course this trick is very dirty and relies on the layout of arrays of all types being equal. And it won't work for larger -> smaller, as the bounds checks will begin failing. But assuming the JIT hoists the bounds check, it should see that `numLongs` < `toAsLongs.Length` and `fromAsLongs.Length`. I haven't actually checked the generated code, though.

[2016-01-09 15:17] mikedn commented on #2594
:scream_cat:, this makes unsafe code look very safe.

I wonder what this does to loop cloning. I don't think I want to find out.

[2016-01-09 15:21] Janiels commented on #2594
I didn't know the JIT actually applied this optimization. Then it may be able to eliminate all bounds checks inside the loop.
If you do check it, feel free to share the results! :smiley:

[2016-01-09 15:43] mikedn commented on #2594
Yep, RyuJIT does this. Though I find the feature questionable due to the large amount of code it generates.

I looked at the generated code (too large to include here, take a look at this [gist](https://gist.github.com/mikedn/503f4f121ae1fbcdf290) if you want) and it seems that it would work. It simply decides whether to use the loop version with bound checks or the one without bound checks. Eithe

[2016-01-09 15:58] Janiels commented on #2594
Yeah, that actually looks pretty good. Better than the equivalent source. :smile:

[2016-01-09 16:07] mikedn commented on #2594
Note that I extracted the for loop to a separate method and assembly dump is only from that method.

The null checks at the start seem useless. There also seems to be a redundant and possibly wrong check `r8 >= 0` in `G_M33861_IG03`.

[2016-01-09 16:16] fo40225 commented on #2594
In fact, if I want to do a array copy, I will use `Array.Copy`, `Buffer.BlockCopy`, `Buffer.MemoryCopy`

Those method will faster than unsafe code and I don't know way. maybe they have some black magic optimize in there.

Cast int array to long to double the copy operation looks very tricky. If I must do that I will use the `System.Numerics.Vector<T>` to do that SIMD operation. The code will look

[2016-01-09 16:18] RussKeldorph commented on #2578
@jashook See #2329 TailcallVerifyWithPrefix is simply incompatible with Minopts.  @sivarv FYI.

[2016-01-09 16:40] mikedn commented on #2594
The source of MemoryCopy is [here](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Buffer.cs#L262). The usual black magic involved in copying is to copy as much as possible in a single instruction. For example, to copy 9 bytes `MemoryCopy` copies one `long` and one `byte`.

`Array.Copy` and `Buffer.BlockCopy` also have the source in this repository but ultimately they end up

[2016-01-09 16:43] Janiels commented on #2594
Hmm yes, that looks redundant (given that it has already been checked for the entire 64-bit register earlier). I don't think it's wrong though (I assume `r8` is the argument with value `from.Length / 2` here). Does the ABI not guarantee that the upper 32 bits are zero when passing a 32-bit value in a register?

The null checks could be because the JIT doesn't want to deal with throwing null refs f

[2016-01-09 16:46] Janiels commented on #2594
[Here](http://blogs.msdn.com/b/clrcodegeneration/archive/2009/08/13/array-bounds-check-elimination-in-the-clr.aspx) is a nice blog post about it.

[2016-01-09 17:15] mikedn commented on #2594
Good question. Given the x64 specifics it's very likely that the upper 32 bits will be 0 but I don't know if that's guaranteed by the JIT.

Yes but the hoisted check isn't executed if the copy length is 0 due to the r8d check at the start of the method. I'll take a look at the JIT code, maybe I'll end up opening a separate issue if this code is really useless.

[2016-01-09 17:24] Janiels commented on #2594
But is `r8d` not just another argument you have passed? The arrays could be null even if this is non-zero.
Maybe I'm just confused since I don't know exactly what C# code this has been generated for. Can you share the exact code?

[2016-01-09 17:43] mikedn commented on #2594
The C# code is
[code]
If length is non zero, arrays are null and the null is missing a NullReferenceException should be thrown from the hoisted bounds check and that's perfectly normal.

Presumably you are concerned with the line number information that's included in the exception. The hoisted code should have the same IL offset as the original array accesses so the exception strack trace should p

[2016-01-09 17:57] Janiels commented on #2594
This was the part I was speculating that perhaps they did not want to bother with. If this is the case, then I definitely agree with your analysis that the null checks are redundant.

[2016-01-09 18:08] zpodlovics commented on #2555
I ran into this paper from POPL2016 that may help to build a (formal) concurrency semantics and memory model:

Jean Pichon-Pharabod, Peter Sewell: A concurrency semantics for relaxed atomics that permits optimisation and avoids thin-air executions

"Despite much research on concurrent programming languages, especially for Java and C/C++, we still do not have a satisfactory definition of their sema

[2016-01-10 05:47] ellismg commented on #2589
Moved to dotnet/cli#777

[2016-01-10 05:47] #2589 closed

[2016-01-10 06:07] LLITCHEV commented on #2266
@mellinoe I could not repro this. There were fixed to the jit that could potentially fixed this. It seems it is passing now on the MacOS CI (at least one of the test is not disabled - the first one.) Please retest and update the bug.

[2016-01-10 07:15] mikedn opened #2596 "RyuJIT's loop cloning optimization has questionable CQ and a bug"
The following method
[code]
generates
[code]

@Janiels speculated in #2594 that the null checks may be there so the NullReferenceException will appears as if it was thrown from inside the loop instead of being thrown form hoisted code. But if you pass a null array to this method the debugger will point to the `i < length` loop condition when the exception is thrown, not to `dst[i] = src[i]`.

[2016-01-10 08:15] #2585 closed

[2016-01-10 12:52] clrjunkie opened #2597 "Consider Reorganizing outputs similarly to VS convention"
Currently things are organized as:

Platform Binaries:
C:\clrjunkie\coreclr\bin\Product\Windows_NT.x64.Debug

Platform Source Code are within intermediate directory:
C:\clrjunkie\coreclr\bin\obj\Windows_NT.x64.Debug\src

So to get to corerun, or any other interesting solution one would need to navigate to:

C:\clrjunkie\coreclr\bin\obj\Windows_NT.x64.Debug\src\coreclr\hosts\corerun

This is a bit

[2016-01-10 12:58] mikedn commented on #2597
What do you mean by that? It's called src but it only contains autogenerated VS project files and nothing of interest to the developer except in unusual circumstances.

[2016-01-10 13:07] clrjunkie commented on #2597
@mikedn

**Very interesting**

C:\clrjunkie\coreclr\bin\obj\Windows_NT.x64.Debug\src\coreclr\hosts\corerun

Contains: **CoreRun.sln**

Which allows me to **open the project in Visual Studio** which helps me to understand and experiment with how to host the CLR in my project.

[2016-01-10 13:20] mikedn commented on #2597
Hmm, I see. I usually open "D:\Projects\coreclr\bin\obj\Windows_NT.x86.Debug\CoreCLR.sln" in VS and I have it in the recent solution list so I rarely have to deal with those directories.

[2016-01-10 13:42] clrjunkie commented on #2597
I open projects using File Explorer :)

[2016-01-10 18:37] clrjunkie opened #2600 "Throw more informative exception when hosted CLR can’t find assemblies"
I was challenged by the following error:

HOSTLOG: Host directory: C:\clrjunkie\clrrun\bin\Debug\
 HOSTLOG: CORE_ROOT not set; skipping
 HOSTLOG: You can set the environment variable CORE_ROOT to point to the path
 HOSTLOG: where CoreCLR.dll lives to help CoreRun.exe find it.
 HOSTLOG: Attempting to load: C:\clrjunkie\clrrun\bin\Debug\CoreCLR.dll
 HOSTLOG: Loaded: C:\clrjunkie\clrrun\bin\Debug\Cor

[2016-01-10 20:19] mikedn commented on #2596
I took a quick look at the code and my initial impression is that this happens because the optimizer works on do-while loops and as such it doesn't "see" the `i < length` check at the start of the function.

But then the CQ is a minor issue, the real problem is

[code]
which promptly throws an AccessViolationException
[code]

[2016-01-10 21:21] Janiels commented on #2596
I cannot repro that in .NET 4.6.1, I get an `IndexOutOfRangeException` as expected. Code generated is:
[code]

It does not look like RyuJIT in .NET 4.6.1 does loop cloning? Seems weird since history of the Git repo seems to indicate that loopcloning received changed for .NET 4.6.1...

[2016-01-10 23:02] LLITCHEV commented on #2295
The issue here is that when a shadow variable is created, if it's type is a struct, the lvDontPromote flag is not set. Testing a fix.

[2016-01-10 23:22] LLITCHEV commented on #2349
This happens on Windows as well.

[2016-01-11 06:25] mikedn commented on #2596
Yes, for some reason .NET 4.6.1 doesn't do loop cloning for such do-while loops. It doesn't do it even if you change the do-while version to be equivalent to the for version:
[code]
The C# compiler generates slightly different IL for such a loop and .NET 4.6.1, unlike CoreCLR, doesn't like it. It's possible that a fix was already made in .NET 4.6.1 but it is yet to make it to this repository.

[2016-01-11 06:33] JohnChen0 commented on #1934
I was able to build mscorlib.dll on Linux using work-in-progress code from Jose. There are still some known issues and work items:
* I used private NuGet packages created by Daniel.
* MSBuild attempts to call a Windows registry API function during cleanup. This happens after mscorlib.dll has already been created, but it causes MSBuild to crash.This is tracked by issue Microsoft/msbuild#423.
* Csc

[2016-01-11 06:57] jkotas commented on #2577
My comment https://github.com/dotnet/coreclr/issues/2556#issuecomment-169755535 has a simple rule about when fast tail calls are used. IMHO, writing down a simple rules like this one is much more useful than documenting the exact conditions under which the current implementation performs fast tail-calls.

[2016-01-11 07:07] jkotas commented on #2514
As I have said in https://github.com/dotnet/coreclr/issues/2489, the JIT EE interface is internal unstable frequently changing interfaces. There are no compatibility guarantees accross different runtimes or runtime versions. It is absolutely expected that hacks like this that happen to work on one particular runtime version won't work on other runtime versions.

[2016-01-11 12:38] CppStars commented on #2596
@mikedn but it is a bug that the code throws an AV, right? Is this CoreCLR or .NET 4.6.1 also?

[2016-01-11 13:08] janvorli commented on #2524
Closing this issue as @hynguyen2610 has reported in the corert repo that the issue was caused by the order of installation of cmake and VS.

[2016-01-11 13:08] #2524 closed

[2016-01-11 13:13] mikedn commented on #2596
@CppStars Yes, it's a bug and as far as I can tell it's present only in CoreCLR. The AV is just for the "show", I intentionally picked a large initial index to trigger an observable AV. For smaller values you'll end up with silent memory corruption.

As far as I can tell this bug is triggered only by a do-while loop with a constant initial index. Those are rare circumstances I'd say.

[2016-01-11 15:20] stephentoub opened #2605 "OS X native build failing with CMake error"
e.g. http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/nativecomp_osx_debug/173/console
[code]

[2016-01-11 15:20] stephentoub commented on #2605
Oops, wrong repo.

[2016-01-11 15:20] #2605 closed

[2016-01-11 17:21] LLITCHEV commented on #2509
@gkhanna79 Please, assign the issue as appropriate. Thanks!

[2016-01-11 17:22] LLITCHEV commented on #2349
Assigned to @sivarv since it is most likely a LSRA issue.

[2016-01-11 18:12] sergiy-k opened #2606 "Audit all the usages of the cached stack limits"
As we have recently discovered, getting the correct value for thread’s stack limit is problematic on Unix platforms. For example: https://github.com/dotnet/coreclr/issues/2467.

In addition, there was an OS bug introduced in OS X 10.9 that causes the pthread_get_stacksize_np() function to always return 512K for the main thread (even though the default stack size of the main thread is 8MB). Besides

[2016-01-11 18:26] saurabh500 commented on #2124
@sergiy-k   I am not facing this anymore

Based on my comments on #2130
 I checked the VM clang version. It was v 3.4
 I have upgraded to v3.5 and I can build coreclr successfully now.

[2016-01-11 18:26] #2124 closed

[2016-01-11 18:46] sergiy-k commented on #2124
Thank you!

[2016-01-11 19:07] jkotas commented on #2484
Here is the expected saving for __thread variable access:

Without -fvisibily=hidden (current):

[code]

With -fvisibility=hidden:

[code]

[2016-01-11 19:17] gkhanna79 commented on #1934
@weshaggard will be helping with this.

@weshaggard do you know who is working on fixing CSC?

[2016-01-11 19:19] gkhanna79 commented on #1934
@JohnChen0 Can you please share more details on this?

@JohnChen0 Can we have change for this ready?

Lets get the change ready for this as well.

[2016-01-11 19:29] markwilkie commented on #2575
There's quite a bit of work on going on to stabilize this and Davis is currently on point.  (sorry for the random finger typos Chris and Nate)

[2016-01-11 19:52] dagood commented on #2575
I didn't have coreclr in mind for package restore, thanks for the issue.

Unfortunately, the only near-term plan to help `restore` stability in the open is to retry a few times. Everything else is for our internal builds right now.

It does seem fishy to have a 50% restore rate that always succeeds on a manual attempt though. Do you have any verbose logs of the failures that I could take a look at

[2016-01-11 19:55] sivarv opened #2610 "Incorrect copy prop substitution"
Repro program:

<text>
using System;
using System.Runtime.CompilerServices;

namespace ConsoleApplication1
{
    public struct MyValue
    {
        public long val;
        public MyValue(long a)
       { val = a; }
    }

    public struct MyStruct
    {
        public MyValue v1;
        public MyValue v2;

        public MyStruct(MyValue a, MyValue b)
        { v1 = a; v2 = b; }
    }
    clas

[2016-01-11 20:37] kouvel commented on #2384
It looks like ExecutionContext has a different, simpler implementation in CoreCLR. In CoreCLR, the synchronization context is not captured by ExecutionContext.Capture(). ExecutionContext.Run() seems to capture the synchronization context only for the purpose of restoring it before returning, to undo any changes to the synchronization context during the callback.

@ericeil, is this the expected beh

[2016-01-11 20:42] sivarv commented on #2380
This needs further investigation. From jitdump it looks like tail call stack args aren't properly setup.

[2016-01-11 20:52] kouvel commented on #1335
Using the dispose pattern is the only workaround that I'm aware of, a class library would require a call from consumers to do graceful cleanup, as finalizers are unreliable during shutdown. See dotnet/corefx#5205 for more details, it's is a proposal to add AssemblyLoadContext.Unload that would behave similarly to AppDomain.Unload in CoreCLR.

[2016-01-11 20:58] gkhanna79 commented on #2401
This is not required for K but CoreRT and can be done post K RTM as well

[2016-01-11 21:04] AndyAyersMS commented on #2575
Just happened again ... (Here's the log.)[https://gist.github.com/AndyAyersMS/d9abdecbc0f0a1255e31]

[2016-01-11 21:31] ericeil commented on #2384
Yes, this is by design.  Note that even in the full CLR, *most* uses of ExecutionContext do not capture/restore the SynchronizationContext, as the Framework itself disables this via private flags in all of its own uses of ExecutionContext.  The hope is that we can keep the CoreCLR implementation of this much simpler, and faster, than the full CLR.

@dopare, is this issue motivated by a real proble

[2016-01-11 22:44] dagood commented on #2575
Thanks. The errors do just look like simple network failures. I tried a few times locally and didn't see any restore errors (aside from ones I simulated with Fiddler).

To see if a basic 3x retry will fix this scenario, could you try replacing your `BatchRestorePackages` target in `tests\build.proj` with this?

    <Target Name="BatchRestorePackages">
      <Message Importance="High" Text="Restori

[2016-01-11 23:16] hoyMS commented on #2294
Fix checked in as 2609.

[2016-01-11 23:16] #2294 closed

[2016-01-11 23:17] hoyMS commented on #2311
Fix  checked in as 2592.

[2016-01-11 23:17] #2311 closed

[2016-01-12 00:03] AndyAyersMS opened #2615 "Optimization issue in Bytemark IDEA"
See #2614.

IDEA fails validation with RyuJit. Passes with min opts, passes with Jit64, passes with LLILC. So seems to be an optimizer bug.

To repro, remove these lines in bytemark.cs and recompile:
[code]

Note there's a second patch of code toward the end of the file to disable IDEA when used as an xunit-performance benchmark; this should likewise be removed once the bug is fixed.

You can run

[2016-01-12 00:10] AndyAyersMS commented on #2575
Sure, can't hurt.

[2016-01-12 01:21] sejongoh commented on #2296
I cannot reproduce the failures.

[2016-01-12 01:32] sejongoh commented on #2433
This issue looks a duplicate of #2451.

[2016-01-12 01:37] #2233 closed

[2016-01-12 04:02] kouvel commented on #2144
Is there a good reason why the exception cannot be handled by the task or work item queued to the thread pool? I don't see why an unhandled exception handler is required when a simple try/catch would suffice. Maybe I missed something.

[2016-01-12 04:13] benaadams commented on #2144
@kouvel Yes wrapping the functions internally in a try catch will solve the issue; however when providing a server library that calls user code people can and will use things like `async void` for example https://github.com/aspnet/Hosting/issues/484 and https://github.com/aspnet/Mvc/issues/3901 which will cause the server to crash.

The threadpool specifically can be handled by wrapping the functi

[2016-01-12 07:48] AndyAyersMS commented on #2575
Ran with that in place most of the day and it helps but there's still the occasional failure.

What I don't really understand is why it does any network access at all. Typically nothing has changed in any of the project.jsons when I build, I'm just tweaking code in the tests themselves, so it seems like everything that's needed should already be locally cached.

[2016-01-12 16:30] dagood commented on #2575
Good point. It looks like there are two factors here: [unlocked project.lock.json files](https://github.com/dotnet/coreclr/search?l=json&q=%22locked%22%3A+false%2C&utf8=%E2%9C%93) and 30-minute cache expiration on `FindPackagesById` ([hardcoded into DNX](https://github.com/aspnet/dnx/blob/08cf2d3586472267ab3dbb47aa93eb8cfdc2fe33/src/Microsoft.Dnx.Tooling/Restore/NuGet/NuGetv3Feed.cs#L54)). If the

[2016-01-12 16:38] kouvel commented on #2144
Ignoring exceptions from these fire-and-forget tasks can be problematic too, a task waiting for a state change or signal from another task that throws an exception could just hide the bug. They could also just create a thread and throw an exception in that thread.

Even making it configurable whether to crash or not doesn't seem like a good solution, as it would have to be configured at the proces

[2016-01-12 16:38] ericstj commented on #2575
If the project doesn't use * versioning and there is already an exact match in the packages folder I'd expect DNX not to go to the internet.  If it does that sounds like a bug to me.

[2016-01-12 16:47] JohnChen0 commented on #2348
Resolved via #2611.

[2016-01-12 16:47] #2348 closed

[2016-01-12 16:49] dagood commented on #2575
@ericstj Hmm, ok. Right now NuGet and DNX have the same behavior. Should I file an issue to NuGet to see what they think?

[2016-01-12 17:01] AndyAyersMS commented on #2575
Looks like `tests\src\GC\Performance\Framework\project.lock.json` never actually got locked, so this could explain why there's always some network traffic. I will fix.

[2016-01-12 17:10] runxc1 commented on #552
Is this going to make RC2?

[2016-01-12 18:00] dagood commented on #2575
@ericstj Looking through the nuget.exe detailed output more carefully, I figured out that these issues:

    WARNING: Dependency specified was System.IO (≥ 4.0.10-beta-23302) but ended up with System.IO 4.0.10.

caused the requests. Setting locked=true does prevent them, but only because the lockfile has the "ended up with" version specified. My mistake!

(It doesn't look like DNU works that way,

[2016-01-12 18:08] ericstj commented on #2575
That project should be fixed.  It referencing a package version that doesn't exist.

[2016-01-12 18:14] pgavlin commented on #2286
Closed by #2569.

[2016-01-12 18:14] #2286 closed

[2016-01-12 18:18] dagood commented on #2575
Yep, definitely. There are enough of these in all the repos, though, that I'm wondering if we can wait for some tooling to detect/fix them: https://github.com/dotnet/buildtools/pull/365.

[2016-01-12 18:26] dopare commented on #2384
This example was just for testing purpose. I know that internally full framework is not dealing with SynchronizationContext. But the result of test was a surprise and I just issued it. So if it is by design, I'll close this issue. Are there any documentations about such parts of framework that differ between full and core framework?

[2016-01-12 20:48] ericstj commented on #2575
At one point we had discussed tooling that diffed the resolved package version against the referenced one (for direct references) and error-ed.

[2016-01-12 20:49] ericstj commented on #2575
So once that's resolved, if we still see nuget/DNU hitting the web for cases where packages are already local we need to file that bug.  That's a bad perf problem.

[2016-01-12 23:06] sivarv commented on #2331
On investigation, this turns out to be the same issue as #2380 . Verified that fix to #2380 also fixes this.

This test is a case of methods with 25 params. Since there are more than 6 params, 25-6 = 19 params gets passed on stack.  Due to implicit tail call opt or under Jitstress=2, some of the calls will become fast tail calls.  Issue #2380 is about not properly passing stack params in case of f

[2016-01-12 23:06] #2331 closed

[2016-01-13 00:04] sivarv commented on #2334
Investigation reveals that this test has two methods Work1 and Work2 that call each other in mutual recursion.  These mutually recursive calls are tail prefixed and depend on tail prefix being honored to pass.  Jitstress=2, introduces GS_CHECK which will disable tail call optimization and as a result, it will lead to stack overflow exception.

We should tag this test case to be excluded from Jitst

[2016-01-13 00:44] gkhanna79 commented on #2007
This will be done by https://github.com/dotnet/cli/issues/819.

[2016-01-13 00:44] #2007 closed

[2016-01-13 02:15] hoyMS commented on #2615
Not repro. Likely fixed by

commit 952a540d6d08619fc690b783035eb54233139355
Merge: bae54c9 63268a3
Author: Sejong Oh <sejooh@microsoft.com>
Date:   Mon Jan 11 12:58:40 2016 -0800

    Merge pull request #2568 from sejongoh/bugfix_unsigned_16bit_cmp_codegen

    Fix bad codegen for comparing 16-bit unsigned values

[2016-01-13 02:15] #2615 closed

[2016-01-13 03:49] RussKeldorph opened #2634 "RyuJIT's loop cloning optimization has questionable CQ"
See CQ comments at the top of #2596.

[2016-01-13 03:50] RussKeldorph commented on #2596
@mikedn #2627 should have resolved the correctness issue.  #2634 opened to track the CQ issue.

[2016-01-13 03:50] #2596 closed

[2016-01-13 04:23] #2295 closed

[2016-01-13 05:14] sivarv commented on #2433
Marking it as test issue and moving to 'rtm' since this is a duplicate of #2451

[2016-01-13 05:53] kouvel commented on #2384
@dopare, unfortunately, I'm not aware of any document that outlines the differences between the two.

[2016-01-13 05:55] kouvel commented on #1335
Considering this a duplicate of dotnet/corefx#5205 and closing.

[2016-01-13 05:55] #1335 closed

[2016-01-13 12:44] stephentoub opened #2638 "AVs in corefx CI runs"
I'm concerned some recent coreclr change (VM? JIT?) for Unix is causing AVs.
cc: @jkotas, @janvorli, @sergiy-k, @LLITCHEV, @joshfree

Most of our Unix CI runs failed overnight, e.g.
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/ubuntu_release_tst/243/console
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/centos7.1_release_tst/234/console
http://dotnet-ci.cloudapp.net/job/dotnet_corefx/j

[2016-01-13 12:54] stephentoub commented on #2638
From looking over some of the logs, it appears that the failed builds all picked up the coreclr build at this commit/PR:
https://github.com/dotnet/coreclr/pull/2624
and that builds which picked up the prior coreclr succeeded.
cc: @sivarv

[2016-01-13 15:15] #2362 closed

[2016-01-13 15:21] stephentoub commented on #2638
I ran one of the failing tests with a debug coreclr, and it hits this assert:
[code]
The generated code for the relevant method:
[code]
Here's the JIT dump for the method:
[JITDump.txt](https://github.com/dotnet/coreclr/files/89068/JITDump.txt)

[2016-01-13 15:32] jkotas commented on #2638
Yes, #2624 seems to be the offending change - @stephentoub thanks for tracking it down.

I have submitted PR to revert it.

[2016-01-13 16:06] clrjunkie commented on #2610
I can't manage to reproduce this using VS2015 U1 (release/debug) as well as by directly compiling corefx/coreclr and corerun from yesterday git clone.

False
True
False
True

[2016-01-13 17:04] hoyMS commented on #2610
Fixed.

[2016-01-13 17:04] #2610 closed

[2016-01-13 17:12] RussKeldorph commented on #2578
@jashook pretty sure VectorArgs is covered by #2328.

[2016-01-13 17:29] #2638 closed

[2016-01-13 17:39] CarolEidt commented on #2610
@hoyMS Please in future include the issue # in the PR. (In this case #2612)

[2016-01-13 18:19] CarolEidt commented on #2551
Correction: After consulting the ABI doc, I realized that it requires that the struct address be returned to the caller in RAX. As it happens, our codegen is not taking advantage of that, but is instead using the value that it passed in (which has often been saved on the stack). So, the title of this issue has been changed to make that clear. This will require finding a way to model the fact that,

[2016-01-13 18:29] #1954 closed

[2016-01-13 18:55] jashook opened #2643 "Arm64 GC AV"
Any GC will cause an AV. Currently the GC encoding info needs to be investigated along with the cause of the AV.

To Repro:

CoreRun \GC\Coverage\LargeObjectAlloc.exe

-------------------------------------------------------------------------------------------------------

Output:

Assert failure(PID 2076 [0x0000081c], Thread: 1948 [0x079c]): pSlot >= pRD->SP

[2016-01-13 19:00] jashook opened #2644 "Arm64 test build"
Build script needs to be modified to successfuly build the tests for arm64. In addition we will need to restore the amd64 corefx dlls as there are no arm64 specific ones yet.

[2016-01-13 19:36] gkhanna79 commented on #2095
@muratg The basic APIs have been exposed (this does not include the redesign for API unification or AssemblyResolve support).

[2016-01-13 21:14] muratg commented on #2095
Thanks @gkhanna79.

@pakrym FYI.

[2016-01-14 00:14] hoyMS commented on #2508
Not repro.

[2016-01-14 00:14] #2508 closed

[2016-01-14 00:14] #2296 closed

[2016-01-14 00:51] adityamandaleeka commented on #711
#2264 has been merged. Breakpoints and funcevals, which were both previous trying to allocate executable memory on the heap, will no longer do so on platforms where `FEATURE_PAL` is defined.

I believe this issue can be closed if there are no other problems.

[2016-01-14 01:48] sergiy-k commented on #2289
/cc: @Maoni0

[2016-01-14 01:49] sivarv commented on #2297
Not able to repro this bug.  Looks like this bug was opened even before JIT team integrated their big payload of code changes.

[2016-01-14 01:49] #2297 closed

[2016-01-14 01:51] sergiy-k commented on #1973
Hi @pgavlin, did you have a chance to double-check this? Thank you.

[2016-01-14 04:23] Maoni0 commented on #2289
@ReverseBlade, the reason we chose to make this internal is because the size it gives you is not straightforward and we only made it work well enough for our internal use - there're specify places we update the size so it's not accurate all the time; there are also the issue of multiple object graphs overlap each other; and etc.

Would you be ok using it via reflection?

[2016-01-14 05:53] DionYe opened #2650 "runtime get crashed when allocate a large string"
In src/mscorlib/src/System/StubHelpers.cs code line 175:

ptrToFirstChar = (byte *)Win32Native.SysAllocStringByteLen(null, lengthInBytes).ToPointer();

it seems we should check whether ptrToFirstChar is NULL.  we get runtime crashed when we run a stress test and find runtime get crashed at this code line

[2016-01-14 12:32] mattwarren commented on #1551
Would this in effect mean that the GCSample would include a full/working implementation of the [GCToEEInterface::GcScanRoots(..) callback] (https://github.com/dotnet/coreclr/blob/master/src/gc/sample/gcenv.ee.cpp#L139-L142) or is it more than that?

[2016-01-14 13:47] dsaf opened #2651 "[Bug] Portable Class Library compilation gets broken when a target is _removed_"
Steps to reproduce:

1) Create a new PCL project targeting .NET 4.5, Win 8 and SL 5 (Profile47)
2) Change ```Class1.cs``` to following code (notice it compiles):
[code]
3) Disable SL 5 target in project settings, notice a message *"The following will be automatically targeted because they support the same set of portable APIs: ASP.NET Core 5.0"*. Project changes to Profile7

4) Compilation is now

[2016-01-14 13:49] jkotas commented on #1551
The GcScanRoots is for the stack walking part: GCSample implementation can just conservatively report every pointer on the stack (and in registers) as potential GC pointer. Like what is done here:
https://github.com/dotnet/coreclr/blob/master/src/vm/gcenv.ee.cpp#L509.

The thread suspension is the harder part. It is not really a problem if the GCSample stays single threaded. Explicit probes would

[2016-01-14 14:01] mattwarren commented on #1551
ahh, that makes sense, thanks for the info

[2016-01-14 14:17] RussKeldorph commented on #2266
@mellinoe Please re-open if this is still repro'ing.

[2016-01-14 16:12] gkhanna79 commented on #2095
I have gone through this proposal and here are my thoughts.

The example in "Current Issues and Complexities" is incorrect. It needs to pass AssemblyName instance in the call to Assembly.Load and the reason it fails with the FileLoadexception is because it is concatenating AssemblyName to the path instead of AssemblyName.Name with .dll suffix. AssemblyName.ToString returns a string that contains s

[2016-01-14 16:28] janvorli commented on #2606
I've audited all the usages of Thread::GetCachedLimit (and Thread::m_cacheLimit) and PAL_GetStackLimit. I have found the following usage patterns:
1. Checking whether a stack pointer is inside of a stack for debugging purposes. The case when the cached stack limit is lower than the actual stack limit doesn't break anything, it just opens a possibility of the test passing in case the address is in

[2016-01-14 16:38] muratg commented on #2095
@pakrym Could you look at (2) and (3) above and see if we need these?

[2016-01-14 16:58] RussKeldorph opened #2652 "[JitStress=2] JIT/Directed/Arrays/Complex2/Complex2.exe fails"
**Configuration:**
 coreclr, mscorlib: Checked
 coreclr tests: Checked
 corefx: Release
 OS: Linux
commit: c84ac790576e774bf7b72f28da8367ee35372c5a

JIT/Directed/Arrays/Complex2

**Expected Output:**
  Starting...

 Try to get count!
 128Count is:128
 Everything Worked!
 ($? = 100)

**Output under COMPlus_JitStress=2**

 Starting...

 Try to get count!
 128Count is:128
 Sum is:450

 Everything Did

[2016-01-14 17:28] tzwlai commented on #2650
@yizhang82, PTAL

[2016-01-14 17:29] steveharter commented on #2095
Gaurav, I’ve been able to run this on Ubuntu with the latest code now. Thanks. BTW, originally I tried with and without .dll extension and yes I meant to include the .dll in that sample code.
From: Gaurav Khanna [mailto:notifications@github.com]
Sent: Thursday, January 14, 2016 10:13 AM
To: dotnet/coreclr <coreclr@noreply.github.com>
Cc: Steve Harter <Steve.Harter@microsoft.com>
Subject: Re: [core

[2016-01-14 17:31] tzwlai commented on #2600
@gkhanna79, PTAL

[2016-01-14 17:49] tzwlai commented on #2651
@dsaf, I have moved this to the CoreFX repo: https://github.com/dotnet/corefx/issues/5422

[2016-01-14 17:49] #2651 closed

[2016-01-14 17:53] tzwlai commented on #2590
@bendono, I have moved this to the CLI repo: https://github.com/dotnet/cli/issues/845

[2016-01-14 17:53] #2590 closed

[2016-01-14 17:54] gkhanna79 commented on #2600
@rahku Perhaps we should update the instructions on how to use CLI for building console apps, which will automatically address this concern?

[2016-01-14 17:57] tzwlai commented on #1659
Closing this as a dupe of #1787.

CC @mikem8361

[2016-01-14 17:57] #1659 closed

[2016-01-14 18:00] tzwlai commented on #1787
This has been addressed by #2260.

CC @mikem8361

[2016-01-14 18:00] #1787 closed

[2016-01-14 18:03] AndyAyersMS opened #2653 "make CI test results available via jenkins"
The LLILC CI tests have a [link to test results](http://dotnet-ci.cloudapp.net/job/dotnet_llilc_release_win64/lastCompletedBuild/testReport) including useful stuff like how long the test took and sorting. If this exists in CoreCLR I can't easily find it...

[2016-01-14 18:04] AndyAyersMS opened #2655 "Adjust jit perf test run times when run as correctness tests"
Some of the newly added performance tests run longer than is really necessary when run as basic correctness tests (that is, not via xunit-performance) -- we should try and trim the "exe" mode runtime to 1 second or so.

[2016-01-14 18:06] tzwlai opened #2656 "Add support to unwind HelperMethodFrames in dump debugging scenarios using a managed debugger such as VS"
The fix for #1787 works by doing the actual unwind in the debuggee process, which won't work in dump debugging scenarios in a managed debugger such as VS.

[2016-01-14 18:29] steveharter commented on #2095
@pakrym @gkhanna79 I've updated the contents to include Scenario 2, which is the ability to load referenced assemblies into the default load context. Currently this does not work with CoreClr. Will this require the AssemblyResolve event or adding support for Assembly.LoadFrom? Ideally this would work with AssemblyLoadContext

[2016-01-14 18:33] clrjunkie commented on #2600
:+1:  for any additional doc's / specs on the interface.

like: Any length limit for the TPA List? Does it support UNC input?

I studied the CoreRun implementation and I feel comfortable to enhance it in some ways. Nevertheless, I still think it would be very helpful to get an error message indicating which exact dll is missing, especially since this scenario is more about custom environments.

[2016-01-14 18:34] davidfowl commented on #2095
Correct! This is key. 3rd parties need to be able to respond to Load without owning the LoadContext. Thats the plugin scenario.

[2016-01-14 19:07] gkhanna79 commented on #2095
@steveharter Where is the referenced assembly located in Scenario 2 above? Is it not in the same location as app since that should just work?

Also, can you please fix the code for scenario 1?

This the case of 3rd parties trying to load assemblies that are not in the same location as the app. Is that correct understanding @davidfowl ?

[2016-01-14 19:08] sivarv opened #2658 "Tail call loop optimization of generic methods with generic context either implied by thisptr or through a hidden arg"
Fix to issue#2349 will disable tail call loop opt in generic methods with generic context either implied by thisptr or a hidden param, since fgMorphRecursiveFastTailCallIntoLoop() is not correctly updating generic context reported to VM.  This issue tracks doing the work to enable recursive tail call loop optimizations for those methods.

Here are some notes based on the investigation, that would

[2016-01-14 19:31] wtgodbe commented on #2101
https://github.com/dotnet/coreclr/pull/2492 should resolve this issue

[2016-01-14 19:31] #2101 closed

[2016-01-14 19:34] #2384 closed

[2016-01-14 19:58] #1282 closed

[2016-01-14 20:12] wtgodbe commented on #1642
@ramarag was this achieved by https://github.com/dotnet/coreclr/pull/1751 and/or https://github.com/dotnet/coreclr/pull/1598?

[2016-01-14 21:25] OwenGr opened #2663 "This doesn't work"
Blat

[2016-01-14 21:26] pgavlin commented on #1973
Yes, this is fixed.

[2016-01-14 21:26] #1973 closed

[2016-01-14 21:26] #2663 closed

[2016-01-14 21:37] ramarag commented on #1642
#1751 addresses the issue of managed code logging events, while #1598 addresses a schema based logging events in the VM. the schema is present in [ClrEtwAll.man
](https://github.com/dotnet/coreclr/blob/master/src/vm/ClrEtwAll.man)

This issue is specific for  logging specific events[listed above].  These have a complicated schema that were not specified at compile time for ETW and instead are dire

[2016-01-14 21:45] pgavlin commented on #711
I can confirm that this appears to be fixed.

[2016-01-14 21:45] #711 closed

[2016-01-14 22:20] sivarv opened #2666 "fgCanFastTailCall() is conservative and disallows many possible fast tail calls on x64 Linux and Arm64"
fgCanFastTailCall() is meant for performing ABI or architecture specific checks to see if a tail call can be dispatched as epilog+jmp. This routine is originally written keeping Windows Amd64 ABI in mind. Later it got adopted for Linux Amd64 and Arm64 with minor modification and in its present form is conservative in the following ways

1) On Linux integer and floating point params do not share th

[2016-01-14 22:52] hoyMS commented on #2652
Not repro on either Windows and Linux.

[2016-01-14 23:15] sejongoh opened #2671 "[JitStressRegs=1] Attempt to access destroyed handle. && *(_UNCHECKED_OBJECTREF *)handle != DEBUG_DestroyedHandleValue"
**System.Net.Sockets.APMServer.Tests** fails on Linux with COMPlus_JitStressRegs=1

**Configurations**

Linux
Coreclr checked build
Corefx release build

**Assertion details**

Pass without COMPlus_JitStressRegs=1

Assert failure(PID 7264 [0x00001c60], Thread: 7458 [0x1d22]): "Attempt to access destroyed handle." && *(_UNCHECKED_OBJECTREF *)handle != DEBUG_DestroyedHandleValue
    File: /home/sejo

[2016-01-14 23:17] sejongoh commented on #2671
I synced to the following commits:

Coreclr: 761fa468d2fb09d00044fa1848b884b657191876  (Wed Jan 13 18:15:58 2016 -0500)
Corefx: 0824d9745687271503f7538d16f44f17f5ef5f18 (Tue Jan 12 14:49:52 2016 -0800)

[2016-01-14 23:33] JohnChen0 commented on #1934
The latest WIP code is at 6f98b80. @joperezr, @gkhanna79, @dsplaisted, @rainersigwald: Could you please take a look? The code works, but with some known issues:
* Still using a private NuGet package for Microsoft.Net.Compilers.Targets.NetCore. @dsplaisted: when will an equivalent package be available on a feed?
* Currently using a local copy of init-msbuild.sh. Eventually this should come from the

[2016-01-14 23:46] janvorli commented on #2606
Implemented change for checking stack range for current thread in #2660

[2016-01-14 23:50] jkotas commented on #2153
@JohnChen0 Could you please take a look?

The problem is that:
1. the main csc.exe has ready-to-run native image
2. ready-to-run native image does not get loaded at its preferred base address
3. the relocs that are supposed to be applied to compensate for missing preferred base address are not applied for some reasons

It only repros intermittently because of ASLR - whether the image misses its pr

[2016-01-14 23:51] tzwlai commented on #2484
@sergiy-k, assigning this to you for now.

[2016-01-14 23:55] tzwlai commented on #1838
@weshaggard, assigning this to you for now.  Please feel free to reassign as appropriate.

[2016-01-15 00:06] tzwlai commented on #959
@bpschoch, closing this issue since there hasn't been any activity in a while.  Please feel free to reopen if necessary.

[2016-01-15 00:06] #959 closed

[2016-01-15 00:14] tzwlai commented on #1228
@Sridhar-MS, assigning this to you for now.  Please feel free to reassign as appropriate.

[2016-01-15 00:15] tzwlai commented on #2222
@joshfree, could you help reassign this please?

[2016-01-15 00:30] wtgodbe commented on #197
Resolved by https://github.com/dotnet/coreclr/pull/1671

[2016-01-15 00:30] #197 closed

[2016-01-15 00:30] wtgodbe commented on #195
Resolved by https://github.com/dotnet/coreclr/pull/1671

[2016-01-15 00:33] wtgodbe commented on #195
Resolved by #1671

[2016-01-15 00:33] #195 closed

[2016-01-15 00:37] RussKeldorph commented on #2652
Still repros (for me & others).

[2016-01-15 00:43] gkhanna79 commented on #2128
@AlexGhiondea @weshaggard  BaseDirectory is reading the value set by the host. While the host could fix this, the question is how do other File APIs deal with symlinks? Are they doing some sort of symlink->actual path resolution? If so, shouldnt that resolution be applied in this case as well (since fixing host only addresses one instance of this while FX could have other scenarios for the same)?

[2016-01-15 01:06] AlexGhiondea commented on #2128
I am not sure if there are other places where we handle symlink (or how we do that) @ericstj might know.

In this particular case I am not sure what else we could do to resolve the symlink. We are not doing anything special other than forwarding the value from the BaseDirectory.

[2016-01-15 01:21] gkhanna79 commented on #2128
I believe @schellap can look into resolving symlinks but the question is if we are affected in a similar manner in other scenarios or not.

[2016-01-15 01:22] mikem8361 opened #2672 "Address security of the managed debugging"
The pipe based debugger transport and the dbgshim named semphores have security implications that need to be addressed.

How does the debuggee determine that the debugger is authorized to debug it? Need to get more familiar with Unix permission schemes but it as best I can tell any process belonging to any user could create this named semaphore or open the named transport pipe. If a rogue user cre

[2016-01-15 01:24] mikem8361 opened #2673 "Add tests for the new dbgshim launch APIs"
RegisterForRuntimeStart and UnregisterForRuntimeStartup dbgshim APIs need tests written.

[2016-01-15 01:27] mikem8361 commented on #1482
@leecow, @tzwlai  I don't think this is a blocking-release/rtm issue.

PR #2633 will address most of the ways the pipe files are not cleaned up.

[2016-01-15 01:28] nguerrera opened #2674 "Issues with malformed cyclical TypeSpec"
In the process of developing signature parsing facilities for System.Reflection.Metadata, I came across some discrepancies in the CLI specification vs. various signature parsing implementations.

My notes on that are here: https://github.com/dotnet/corefx/pull/5435

One such, discrepancy is that the specification states that the encoded token following CMOD_OPT/CMOD_REQ is a TypeDef or TypeRef, bu

[2016-01-15 01:30] Djuffin commented on #711
@adityamandaleeka Good job!

[2016-01-15 01:53] sivarv commented on #2345
Turns out this is a duplicate of issue #2380.  Fast tail call not properly setting up stack args results in corruption of thisptr.

[2016-01-15 01:53] #2345 closed

[2016-01-15 02:00] yizhang82 commented on #2650
@DionYe Thanks for catching this issue and you are right that this is a bug. The fix should be as simple as adding a NULL check and throw OutOfMemoryException. Feel free to submit a PR.

[2016-01-15 04:31] tmds commented on #2222
From my original question, I think it is useful these questions are answered:
* how do I figure out which dependencies to add?
* how can I match the version I am using to the source repos online (e.g. what code is in System.Runtime, Version=4.0.21.0)?

For other specific errors, I can google/stackoverflow/create an issue.

[2016-01-15 05:28] weshaggard commented on #2128
@JeremyKuhne Do you know if there are any places in the various path API where we resolve symlinks?

[2016-01-15 05:57] JeremyKuhne commented on #2128
I don't think there is any place we explicitly do so. On Windows you have to use GetFinalPathNameByHandle() to resolve symlinks and afaik we've never done this. I ultimately intend to provide such an API in System.IO.Path, but I don't think there is an issue open for it.

[2016-01-15 06:41] pootow commented on #642
There is another problem if we do not have AppDomain. How do I globally handle unhandled exception? I know that this is bad generally speaking, but I think the app need to try its best to log this unhandled event at least.

[2016-01-15 06:42] AndyAyersMS opened #2679 "The burgers performance test fails non-deterministically"
A number of CI runs are seeing failures in the `jit\Performance\CodeQuality\Burgers` test, failing in `GetCalculated3` which exercises SIMD code. The failures are non-deterministic and I haven't been able to reproduce them locally. The failures are mostly in release and mostly seen on dci-win-bld-5, but there has been at least one failure in debug and a few on other build machines.

The failure is

[2016-01-15 08:13] AmadeusW opened #2680 "HttpWebRequest ignores Content-Type in Universal Windows (UWP) App"
I'm working on a UWP app that connects to a third party server and accesses their data via API. By default, they serve XML responses, and JSON when requested using `Content-Type` header.

Despite calling `request.ContentType = "application/json";` the UWP App incorrectly makes a request without the desired `Content-Type` header. The same code works fine in regular windows Console Application. Furt

[2016-01-15 08:13] sejongoh opened #2681 "[JitStressRegs=3] System.Runtime.Tests crashes (Segmentation Fault)"
**System.Runtime.Tests** crashes on Linux with COMPlus_JitStressRegs=3

**Configurations**

Linux
Coreclr checked build
Corefx release build
Commits
  Coreclr: 761fa468d2fb09d00044fa1848b884b657191876  (Wed Jan 13 18:15:58 2016 -0500)
  Corefx: 0824d9745687271503f7538d16f44f17f5ef5f18 (Tue Jan 12 14:49:52 2016 -0800)

**Assertion details**

Pass without COMPlus_JitStressRegs=3

[code]

[2016-01-15 08:15] AmadeusW commented on #2680
My actual issue:
I need to send & receive this:
[code]
but instead the UWP app sends & receives this:
[code]

[2016-01-15 12:52] janvorli commented on #2681
Out of curiosity, I have taken a quick look at this issue and I can see that it is the same issue as #2380.
There is the same corruption of an address - the 32 low bits are replaced by the same value as in the other issue (the address becomes 0x7fff0000001b).
@LLITCHEV I am assigning this to you since you have the other issue on your plate.

[2016-01-15 14:09] RussKeldorph commented on #2679
@AndyAyersMS @CarolEidt
This is 100% repro on my only AVX2 machine.  0% repro on said machine with COMPlus_EnableAVX=0 set.

[2016-01-15 15:08] redknightlois opened #2683 "Numerical Issue in Math.Log(x,b) when upgrading to Update 1"
After updating to Update 1 I have a test that started to fail.

The core is this:
```Assert.Equal((uint)Math.Log(BitVector.BitsPerWord, 2), BitVector.Log2BitsPerWord);```
essentially what I am doing there is:
```Assert.Equal((uint)Math.Log(64,2), 6);```

My surprise was when I looked into the result of ```Math.Log(64,2)``` which should be ```6```, however Update1 shows ```5.9999999999999991```

Ne

[2016-01-15 15:16] redknightlois commented on #2683
Another important detail. If you run ```Math.Log(64) / Math.Log(2)``` then the value is correct.

[2016-01-15 15:57] mikedn commented on #2683
I can't seem to reproduce this with CoreCLR, the following program returns 6:

[code]

[2016-01-15 16:00] redknightlois commented on #2683
Are you running in x86? I can make it fail reliably (always) with:
"sdkVersion": "dnx-coreclr-win-x86.1.0.0-rc1-update1"

[2016-01-15 16:16] mikedn commented on #2683
Well, no because CoreCLR doesn't quite do x86 at the moment.

But now I tried with .NET 4.6.1 x86 and x64 and I still get 6.

[2016-01-15 16:19] redknightlois commented on #2683
I dont know. It's being released as a package so I assume it was already out :)

Worse, it is actually VS 2015 default.

[2016-01-15 16:29] mikedn commented on #2683
The x86 version of CoreCLR is built by MS from internal sources since the x86 JIT compiler isn't exactly open sourced.

So maybe the issue was fixed in Update 1 and that's why I cannot reproduce it?

[2016-01-15 16:59] hoyMS commented on #2652
This is caused by calling fgMorph in optPerformHoistExpr:

Before
N043 (  1,  1) [000806] ------------                         /--*  lclVar    int    V04 loc3         u:7 $380
N044 (  3,  3) [000805] ------------                      /--*  +         int    $348
N042 (  1,  1) [000807] ------------                      |  \--*  lclVar    int    V05 loc4         u:7 $381
N045 (  5,  5) [000804] ----